[2022-10-05 13:09] parasharrajat commented on #10262
Expect an update today.

[2022-10-05 13:23] advaitasol9 commented on #10765
here's the proposal @JmillsExpensify.

[2022-10-05 13:25] mountiny commented on #10163
if it was in the regression period, then I agree.

[2022-10-05 13:38] JmillsExpensify commented on #10765
@neil-marcellini @Santhosh-Sellavel Are both of you cool with this proposal? I'd love to keep things moving forward! 🙌🏼

[2022-10-05 13:40] Santhosh-Sellavel commented on #10329
Not overdue, waiting for payment!

[2022-10-05 13:40] iwiznia commented on #10163
It was even worse than a regression, it was something that was supposed to be done and was not.

[2022-10-05 13:43] Santhosh-Sellavel commented on #10737
@roryabraham Can you check if there is any latest occurrence of this crash, also share any additional info & latest stacktrace if there is a diff?

[2022-10-05 14:00] mdneyazahmad commented on #10163
I am sorry that the issue is not fully fixed here. I agree that the title suggests it should be fixed in this issue, but the proposed solution here assumes that the environment variable is properly set, and the solution is build on top of that. It was not easy to test the url of the request on the staging app, and it got missed. I would like to work on the issue created, and consider that as a reg

[2022-10-05 14:01] mountiny commented on #10163
@mdneyazahmad Thank you! We learn something new about this App everyday 😂

[2022-10-05 14:01] parasharrajat commented on #11283
Thanks for bringing that up @Christinadobrzyn. I agree we should combine these in one.

FYI, I see at least 10 similar instances of outline issues. I can report them separately but they are not separate issues. The root cause is the same. Either they are caused by regression or some platform changes. Also, I see the yellow outline on some platforms instead of blue.

Possibly regression from  https

[2022-10-05 14:01] iwiznia commented on #10163
Thanks you very much @mdneyazahmad!

[2022-10-05 14:09] kavimuru opened #11606 "[HOLD for payment 2022-10-20] [$250] BUG: "A room with this name already exists" message appears saving room name without making any change"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to NewDot and login
2. Click on any room created
3. Tap the room name to see the details
4. In settings click "Save" for ro

[2022-10-05 14:13] puneetlath commented on #10627
@Santhosh-Sellavel @Puneet-here sent you both hiring offers in Upwork. Please accept when you have a chance.

[2022-10-05 14:16] puneetlath commented on #9510
@aimane-chnaif @Santhosh-Sellavel how's this going? Looks like the PR is close?

[2022-10-05 14:17] puneetlath commented on #10233
Looks like that PR is on production. What do we think @Luke9389. Can we close this out?

[2022-10-05 14:17] mdneyazahmad commented on #10663
@thesahindia I see that the issue is not reproducible there in the proposed solution (did not review the code). The root cause of this issue is the text input focus.

You can comment these lines and verify that the issue is not reproducible. Thank you!

https://github.com/Expensify/App/blob/b4b12addac16a3ef3753273e25c3e58379715a76/src/components/OptionsSelector/BaseOptionsSelector.js#L94-L98

[2022-10-05 14:17] Julesssss commented on #11596
Yep, the problem is in Auth. I was working on it [here](https://github.com/Expensify/Auth/pull/7095) and and fixed the issue, but a better solution is to [start retrieving iouReports](https://github.com/Expensify/Expensify/issues/231746) as part of the GetChats call.

[2022-10-05 14:18] kavimuru opened #11607 "[HOLD for payment 2022-10-20] [$250] Feature Request: After entering the six authentication numbers for 2FA, log in user without having to click `return`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
With 2FA enabled, after you type in the numbers you have to click `return`. this final step shouldn't be necessary

## Solution:
Once the

[2022-10-05 14:28] Santhosh-Sellavel commented on #9510
Yeah, mostly will be ready for your review by today!

[2022-10-05 14:33] mountiny commented on #10163
Let's just add proposals to the new issue 😅 https://github.com/Expensify/App/issues/11561

This way it wont be blocked only on one contributor and theoretically we can get working solution faster than if we would leave this for @mdneyazahmad only (and they can propose solutions there too)

[2022-10-05 14:45] puneetlath commented on #11352
Updated to $500.

External Upwork job: https://www.upwork.com/jobs/~01f773e86446de6809
Internal Upwork job: https://www.upwork.com/ab/applicants/1577671134189699072/job-details

[2022-10-05 14:49] Beamanator commented on #11437
Ooh thanks for bringing that up @aimane-chnaif , this one is tough since the proposal are both small, but I agree with @rushatgabhane let's change up who was hired 👍

[2022-10-05 14:52] iwiznia commented on #11596
That's not a solution, that's a performance improvement. We still need to not return the IOU if the amount is 0

[2022-10-05 14:56] flodnv commented on #10163
Agreed, let's move to https://github.com/Expensify/App/issues/11561, and @mdneyazahmad we'd be very happy to hire you for this if you have a good proposal!

[2022-10-05 15:09] michaelhaxhiu commented on #10903
Everyones paid. 😎✌️  Keep it coming folks!

[2022-10-05 15:09] #10903 closed

[2022-10-05 15:14] iwiznia commented on #10891
Oh, BTW, this is already fixed too. @stephanieelliott reporting payment is needed, please check if you agree with my message above.

[2022-10-05 15:40] stitesExpensify commented on #10699
No update

[2022-10-05 15:42] grgia commented on #10930
Will triage today!

[2022-10-05 15:50] Santhosh-Sellavel commented on #11087
This is related to keyboard hiding content, @tgolen this should be held right?

[2022-10-05 15:52] luacmartins commented on #10983
No updates

[2022-10-05 15:52] NikkiWines commented on #11498
@ajaynagwani777 sounds like that could be the issue. Following our [contributing readMe](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#propose-a-solution-for-the-job) could you propose a solution for how you'd resolve this issue if you're interested in taking it on?

[2022-10-05 15:58] tgolen commented on #11268
I agree that it should not strip out characters from inside code blocks as @parasharrajat points out.

Is there a problem where style characters outside of code blocks are not being stripped?

[2022-10-05 16:03] Beamanator commented on #11094
Still on hold

[2022-10-05 16:03] parasharrajat commented on #11283
@getusha issue is that when the user presses the tab to focus on the checkbox element on the web, it is not highlighted as blue.

Steps:
1. Apply your solution.
2. Go to the Profile page via Settings on LHN > Profile menu.
3. Click on the First name. Observe the blue-focused outline.
4. Now tab through until you reach, the last
![image](https://user-images.githubusercontent.com/24370807/194107643-

[2022-10-05 16:04] shawnborton commented on #11283
I agree with consolidating all of this into one GH.

[2022-10-05 16:05] Santhosh-Sellavel commented on #11268
"Paste as plain text" (“Paste and Match Style”) `CTRL + SHIFT + V ` should just extract text without any styles, that's not happening here.

[2022-10-05 16:08] tgolen opened #11609 "Look into making report display name generation more efficient"
Coming from https://github.com/Expensify/App/pull/11226#discussion_r987150251

# Problem
[There is code that generates the display name of a report](https://github.com/Expensify/App/blob/main/src/libs/SidebarUtils.js#L107-L113). This code may be non-performant at scale and turn into a bottle neck.

# Solution
Consider some solutions:
1. memoizing the report name generation
2. generating the displa

[2022-10-05 16:08] Beamanator commented on #10258
Bump @Santhosh-Sellavel

[2022-10-05 16:08] shawnborton commented on #11486
Personally I think it this is fine as it is with the max-width, but perhaps we should truncate via ellipsis instead of just a hard cut off.

[2022-10-05 16:09] shawnborton commented on #11486
But actually, seeing your comment above:

I agree with that

[2022-10-05 16:15] tienifr commented on #11491
# Proposal

## Problem
Originally, reportID is string.
When we add comment or add attachment, the result is returned from API updated the reportID as number. Pls look at evidence below

<img width="404" alt="Screen Shot 2022-10-05 at 22 35 00" src="https://user-images.githubusercontent.com/113963320/194109715-5171e1f8-9093-4738-906f-002405d93f25.png">

That make `this.props.report.reportID === pre

[2022-10-05 16:15] michaelhaxhiu commented on #10258
Actually, bump for me!
Santhosh accepted a few days ago and I missed it. Paying him now ✅

[2022-10-05 16:15] #10258 closed

[2022-10-05 16:17] neil-marcellini commented on #10765
I'll leave it up to CME @ctkochan22, I was commenting from another linked issue.

[2022-10-05 16:19] neil-marcellini commented on #10437
Web-PR is on staging so I'll take the App PR off of hold.

[2022-10-05 16:20] michaelhaxhiu commented on #11609
@tgolen would it be best to close this for and make an #expensify-open-source discussion/proposal? And then depending on what we discover there, we create a GH to handle next steps?

Just asking because as a triager, I'm struggling to assess my next step until this is definitively framed as a `bug` or `newfeaure`.

[2022-10-05 16:32] pecanoro commented on #7918
Not overdue, waiting on reviews

[2022-10-05 16:40] tgolen opened #11610 "Fix logic for if a report has an outstanding IOU"
# Problem
The logic [here](https://github.com/Expensify/App/pull/11226/files#diff-65c096044d5f69b35bcdec14c99c4fda4580759df9b1a7c36650d58eea276f1dR872-R883) is wrong and it's not identifying the outstanding IOUs properly

# Solution
- `|| report.hasOutstandingIOU` should be `|| _.isUndefined(report.hasOutstandingIOU`
- The method should return `report.hasOutstandingIOU` at some point

[2022-10-05 16:42] NicMendonca commented on #11491
job posting: https://www.upwork.com/jobs/~0150e2e60ca2565c8b

[2022-10-05 16:49] Julesssss commented on #11596
The [first link](https://github.com/Expensify/Auth/pull/7095) was trying to resolve this in Auth.

The PR 100% worked btw, but I couldn't figure out why this test was failing. Does anyone have an idea? If so we could resolve this immediately.

[2022-10-05 17:00] Santhosh-Sellavel commented on #10905
Can you add a recording of behavior after applying the solutions?

[2022-10-05 17:05] NikkiWines commented on #11486
@shawnborton, to be clear, you're suggesting we keep it to a single line but truncate with an elipsis?

[2022-10-05 17:11] chiragsalian commented on #10983
Ah copy link is supposed to work for both messages and images. But yes the feature won't do anything right now since comment linking is not live. The copy link functionality is behind a beta so only specific accounts can see and use it but it won't do anything else for now.

I would say we can close out this issue since its a feature behind a beta and the complete functionality isn't done yet.

[2022-10-05 17:11] Santhosh-Sellavel commented on #10731
@christianwen proposal mostly looks good. Also need to check this again!

[2022-10-05 17:11] kavimuru commented on #11590
@sophiepintoraetz I have attached the screenshot
<img width="580" alt="splitbill order of contacts" src="https://user-images.githubusercontent.com/43996225/194120722-5634b5e6-53e6-40a5-9ade-48748886d13e.png">

[2022-10-05 17:19] Julesssss commented on #11596
[Here's](https://github.com/Expensify/Auth/pull/7095#issuecomment-1268714205) the best theory as for why the test is failing. If we can resolve this, then we can merge the PR and fix the issue.

[2022-10-05 17:26] neil-marcellini commented on #10973
@trjExpensify we decided in Slack [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1664990197796209) that since we made a mistake originally determining that this is a bug, and the contributor and C+ did their work properly, they should be compensated fully.

[2022-10-05 17:35] #10794 closed

[2022-10-05 17:47] jayeshmangwani commented on #10905
@Santhosh-Sellavel Yes sure,

1. we have added KeyboardAvoidingView for FAB in ios specific for iPad in this [PR](https://github.com/Expensify/App/pull/2305/files) and this is the [issue](https://github.com/Expensify/App/issues/2151), you can check the description [here](https://github.com/Expensify/App/issues/2151#issuecomment-810630944)
2. at that time we were not using the KeyboardAvoidingView

[2022-10-05 17:49] Justicea83 commented on #11272
Still not able to reproduce this on dev. Digging in

[2022-10-05 17:51] #11508 closed

[2022-10-05 17:53] mananjadhav commented on #10352
I am going through the conversations and I am a little lost on the expected behavior here. @Gonals @shawnborton Possible to update a 1-2 liner on the expected behavior?

@ahmdshrif has provided a few proposals with the last one for the check with isPDF. Are we looking for a behavior specific to PDF?

[2022-10-05 17:58] mananjadhav commented on #10428
Reviewed and posted comments @hellohublot

[2022-10-05 17:59] mananjadhav commented on #10663
Thanks for the comment @thesahindia, then we should put this on hold and come back to this once #10608 is merged.

cc - @rushatgabhane @Julesssss

[2022-10-05 18:00] OSBotify commented on #11610
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-05 18:00] AndrewGable commented on #11596
Per discussion [in Slack here ](https://expensify.slack.com/archives/C07J32337/p1664992277722249?thread_ts=1664903854.322709&cid=C07J32337) we pinpointed this issue to this API PR: https://github.com/Expensify/Web-Expensify/pull/34924

Since this isn't going to effect production NewDot, it's not a deploy blocker and we will fix the API PR here: https://github.com/Expensify/Web-Expensify/pull/35059

[2022-10-05 18:01] #10437 closed

[2022-10-05 18:02] mvtglobally commented on #11131
@amyevans
It doesn't seem to be repro any more

https://user-images.githubusercontent.com/43995119/194129905-5d3dffc9-3d3d-4e12-9002-632a4f588c05.mp4

[2022-10-05 18:19] mallenexpensify commented on #11265
Price Doubled to $500
https://www.upwork.com/jobs/~01a755aaccee46f8a1

[2022-10-05 18:24] kevinksullivan commented on #9250
Before doubling... @parasharrajat did you get a chance to review the proposals?

[2022-10-05 18:28] neil-marcellini commented on #10437
I created a tiny [follow up issue](https://github.com/Expensify/Expensify/issues/232248) to set the default room notification preference in the optimistic data.

[2022-10-05 18:30] trjExpensify commented on #10437
Nice - thanks so much Neil! 🎉

Quick question on the fix just merged. Once deployed, will it update the notification preference to `Always` for the #admins rooms already created, or just new ones going forward?

[2022-10-05 18:31] roryabraham commented on #11393
I think this should be on hold for https://github.com/Expensify/App/issues/10894, but that one's up-for-grabs @Beamanator 😉

[2022-10-05 18:34] neil-marcellini commented on #10437
You're welcome 😄

Good question. Yes if they refresh / reopen the app the default will be set correctly. Or if there is any action taken on the room the default will also be set properly. They can also manually update the notification preference and their change will be saved properly. Please let me know if there are any other issue with this, after the Web and App PRs are on prod.

[2022-10-05 18:40] Puneet-here commented on #11318
I found that when you log out and login again then this is reproducible every time.

1. Go to workspace > connect bank account > chose an option > add info > company step > personal information
2. Dismiss the modal by pressing cross
3. Sign out and sign in again
4. Go to workspace > connect bank account > continue with the setup
5. Start going back

Earlier it was happening without signing out, we

[2022-10-05 18:45] trjExpensify commented on #10973
Cool, sounds good. I've settled both contracts. Thanks, everyone. 🎉

[2022-10-05 18:45] #10973 closed

[2022-10-05 18:56] arielgreen commented on #11227
Paid.

[2022-10-05 18:56] #11227 closed

[2022-10-05 18:59] #11610 closed

[2022-10-05 19:00] mananjadhav commented on #11403
Thanks for the proposal @tienifr. I am convinced with your cause of the issue, but not the implementation. Changing the `onBlur` for the `TextInput` doesn't sound right to me. This could impact a lot of components.

Can we cater this to `NewPasswordForm` please?

@tgolen What are your thoughts?

[2022-10-05 19:03] luacmartins commented on #10983
Sounds good! Thanks for the input. Closing this issue!

[2022-10-05 19:03] #10983 closed

[2022-10-05 19:08] coleaeason commented on #11131
I think these are the reproduction steps:

1. Have a message thread where one person has sent 2 messages
2. the opposite person responds
3. Click to highlight the *bottom* message from person 1
4. Paste the message in the compose box, get growl.

[2022-10-05 19:09] Puneet-here commented on #11316
Hi, I think this is a bug because the behaviour is not consistent even when using the same button to navigate. Example: Sometimes "connect bank account" button at issue cards page navigates to the step where you left and sometimes it takes you to the page with option to start over or continue with the setup.

https://user-images.githubusercontent.com/101883770/194142134-8a9a9eb6-4926-43ec-8bbd-6a0

[2022-10-05 19:12] mananjadhav commented on #11512
@ItsJustTomDev Thanks for proposal. I am not sure I agree with the `getShouldShowPage` implementation, because we already have `WorkspacePageWithSections` page with multiple checks.

@kbecciv Can you confirm if its happening only on the Cards page? or other pages too?

[2022-10-05 19:16] NicMendonca commented on #10127
@0xmiroslav thank you! Just need you to accept the offer as a last step here.

[2022-10-05 19:18] slafortune commented on #11607
Do you think this is a feature that a contributor would be able to compete?

[2022-10-05 19:19] trjExpensify commented on #11393
Go on, @Beamanator. You know you want to.. 😏

Alrighty, I've popped a hold in the title here for now.

[2022-10-05 19:28] trjExpensify commented on #10437
Nice, that's handy - the Guides are covered then as they're in app daily.

If a Guide sends a follow-up message in the room, will that action update the room notification preference for all participants of the room?

[2022-10-05 19:30] michelle-thompson commented on #11520
I found the graphic but have to remove the border first - @shawnborton do you think we should make any updates to font/branding while we're at it?
![image](https://user-images.githubusercontent.com/43361905/194146242-ae45c0de-fc0d-48ff-a614-21f272d2314d.png)

[2022-10-05 19:35] OSBotify commented on #11318
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-05 19:58] mallenexpensify commented on #11164
Checked internally and was told the above for Firebase 💥 Crash 💥 issues.  I imagine we'll be seeing more of these so it's good to know they'll be reopened

https://expensify.slack.com/archives/C01SKUP7QR0/p1664908668443189?thread_ts=1661256915.724959&cid=C01SKUP7QR0

[2022-10-05 20:14] mallenexpensify commented on #9391
Assigned @kbecciv for retest

[2022-10-05 20:15] jasperhuangg commented on #11458
PRs are all up and ready for review

[2022-10-05 20:22] mallenexpensify commented on #10329
Thanks for the pings, Paid @rawalyogendra and @Santhosh-Sellavel $500 each.
@dhairyasenjaliya , please accept the job and I'll pay you $250 for reporting
https://www.upwork.com/jobs/~01ebeba569e03425e7

[2022-10-05 20:24] trjExpensify commented on #11458
Speedy, nice!

[2022-10-05 20:31] marcaaron commented on #11609
@tgolen report names can also be changed manually (in the case of user created rooms) so I'd add that case to the list

I like the idea of sending this from the backend as a new `reportDisplayName` field. Since we do not yet notify people in realtime when personal details change I don't think we can really do much about that point (until we have realtime updating of details and then should also up

[2022-10-05 20:44] jliexpensify commented on #8035
@Santhosh-Sellavel paid, cheers! Job closed.

[2022-10-05 20:50] amyevans commented on #11131
Got it, reproduced with those steps! Thanks @coleaeason

![Screen Shot 2022-10-05 at 4 49 04 PM](https://user-images.githubusercontent.com/7277067/194160757-e88ac09f-d09e-4960-98e6-d078d1061f4f.png)

I'll update the OP and release for external proposals.

[2022-10-05 20:54] tgolen commented on #11087
Yes! It is. I've tested this exact flow with some of my recent changes and I'm pretty certain I'll have it fixed.

[2022-10-05 20:55] #10871 closed

[2022-10-05 20:58] tgolen commented on #11268
Yes, I understand that and there is no need to keep repeating it. Can you reproduce the same problem without using any code blocks? I am not able to.

https://user-images.githubusercontent.com/1228807/194162323-d3dd290a-f4a6-4996-9537-2fc9d3becce3.mp4

I agree with @Santhosh-Sellavel that this can be closed.

[2022-10-05 21:06] cristipaval commented on #11135
I couldn't reproduce it either 👀

[2022-10-05 21:15] Abdallah-Ahmed-moh commented on #10950
@mananjadhav Iam sorry for being late but iam working on it.

[2022-10-05 21:22] grgia commented on #11590
I'm not able to replicate this on staging web/mobile

[2022-10-05 21:25] OSBotify commented on #11485
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11616) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.11-4` :rocket:

[2022-10-05 21:29] aldo-expensify commented on #11542
@chiragsalian since you worked in the Policy merge refactor (I think inviting users to a workspaces uses that command, right?)

I'm labeling this internal as I think this is probably related to not sending the right pusher events from the API once we add new employees to the workspace.

[2022-10-05 21:57] marcochavezf commented on #11543
@mananjadhav thanks for the review, @akshayasalvi could you update the proposal to consider this requirement?

[2022-10-05 22:11] JmillsExpensify commented on #10273
Circling back to check how things have been going since your last update?

[2022-10-05 22:31] AndrewGable commented on #11526
Fireroom: https://expensify.slack.com/archives/C04549KMEN6

This one was fixed via https://github.com/Expensify/App/pull/11552

[2022-10-05 22:36] JmillsExpensify commented on #11059
@NicMendonca Mind double the price again? Reasoning is that this is tied up with a roadmap item, so I want to ensure that the price is in line with our internal priority for it as well. Thanks!

[2022-10-05 22:43] marcochavezf commented on #11088
Ah sorry, I was a little confused with the last review I thought it was a no-go 😄 I read again the conversation and the proposal LGTM, my apologies.

Thanks @rushatgabhane for the review, assigning @aimane-chnaif 🚀

[2022-10-05 22:47] AndrewGable commented on #11421
Hmm not sure I agree that the edit should go away?

[2022-10-05 23:03] JmillsExpensify commented on #11588
Oh interesting. I would think we wouldn't want this kind of modal to be full-width (which I think we're reserving for the right-hand side modal only right?).

[2022-10-05 23:04] JmillsExpensify commented on #10632
Still open for proposals

[2022-10-05 23:04] JmillsExpensify commented on #10632
Still waiting for proposals.

[2022-10-05 23:05] JmillsExpensify commented on #10765
Oh shoot. Good catch. @ctkochan22 can you chime in here so that we can keep this one moving?

[2022-10-05 23:06] JmillsExpensify commented on #10824
Still waiting for proposals.

[2022-10-05 23:07] JmillsExpensify commented on #10875
Still waiting on proposals.

[2022-10-05 23:07] JmillsExpensify commented on #10939
Still waiting for proposals.

[2022-10-05 23:14] JmillsExpensify commented on #11089
Woah, yes, I can reproduce this now. That said, I think this is a symptom of our larger keyboard issue and should be put on hold while we work through that initiative first. Tracking issue is [here](https://github.com/Expensify/App/issues/10273). Sound good?

[2022-10-05 23:15] luacmartins commented on #11485
Tested https://github.com/Expensify/App/pull/11616 and it's a pass. Checking off https://github.com/Expensify/App/pull/11616 and https://github.com/Expensify/App/issues/11318!

[2022-10-05 23:16] JmillsExpensify commented on #11192
@Tushu17 will you be updating your proposal based on @mananjadhav's feedback?

[2022-10-05 23:16] AndrewGable commented on #11485
:shipit:

[2022-10-05 23:16] #11485 closed

[2022-10-05 23:17] luacmartins commented on #11485
Checking https://github.com/Expensify/App/issues/11610 off since the blocker label was removed.

[2022-10-05 23:18] OSBotify commented on #11485
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.11-4 has been deployed to staging :tada:

[2022-10-05 23:19] tgolen commented on #10273
Ah, yes. I had been waiting for some changes from Jules to be merged in another related PR https://github.com/Expensify/App/pull/10648 which prevents me from doing any definitive testing on this feature. This is currently on HOLD until that PR is merged.

[2022-10-05 23:19] JmillsExpensify commented on #11223
Hired contributors in the linked job while we wait until the regression period is over.

[2022-10-05 23:19] michelle-thompson commented on #11588
I don't think it should be full-screen, but full-width

[2022-10-05 23:19] JmillsExpensify commented on #11277
Thanks @roryabraham.

[2022-10-05 23:20] JmillsExpensify commented on #11320
I didn't get a chance to test this so far, will come back soon.

[2022-10-05 23:21] JmillsExpensify commented on #11384
@chiragsalian What do you think on my last comment?

[2022-10-05 23:21] OSBotify opened #11623 "Deploy Checklist: New Expensify 2022-10-05"
**Release Version:** `1.2.12-4`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10946
- [x] https://github.com/Expensify/App/pull/10967
- [x] https://github.com/Expensify/App/pull/11120
- [x] https://github.com/Expensify/App/pull/11161
- [x] https://gi

[2022-10-05 23:22] JmillsExpensify commented on #11425
Going to float this one in open-source because it's nice polish.

[2022-10-05 23:33] chiragsalian commented on #11384
Hmm i cannot reproduce the blue outline around the eye container.

But I can reproduce the selection issue mentioned [here](https://github.com/Expensify/App/issues/11384#issuecomment-1266120857). The specific issue captured here is sort of low value so I don't mind closing it by I think it would be nice if we can find a solution to improve BaseTextInput vs hacky CSS solution. This way if we improv

[2022-10-05 23:34] sophiepintoraetz commented on #11590
Hmm, actually, neither am I. I wonder if it's because it's happening on an older version (1.2.11-2 vs 1.2.11-3 - which is what I'm on).
<img width="835" alt="image" src="https://user-images.githubusercontent.com/42940078/194182418-be2e03a5-e9b8-495f-99eb-15b92c06e8d7.png">

Closing unless you can replicate it on 1.2.11-3.

[2022-10-05 23:38] chiragsalian commented on #11542
I think invited members were not able to see announce channel unless they refreshed in the past so that did not change with the API refactor. Atleast if I remember correctly. Either way, yeah we can add this in. Assigning to self.

[2022-10-05 23:52] jliexpensify commented on #11472
@tgolen - @mvtglobally mentioned the issue isn't reproducible anymore?

[2022-10-06 00:08] mallenexpensify commented on #11493
Any update on getting this fixed or the PR reverted @techievivek ?   It's not necessarily a big priority, more annoying to be getting pinged multiple places

[2022-10-06 00:34] kavimuru opened #11624 "BUG : In focus mode pinned / drafted items not shown in LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com and login
2. Click avatar > preferences > select focus in priority

## Expected Result:
In the

[2022-10-06 00:35] OSBotify commented on #11624
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-06 00:40] francoisl commented on #11607
Yes we can open this to contributors, anyone can enable 2FA from https://www.expensify.com/settings for testing.

[2022-10-06 00:41] aldo-expensify commented on #11414
I guess it could be because there are views where this button is at the bottom of the screen, like this:

<img src="https://user-images.githubusercontent.com/87341702/194188593-e99170b2-ea7c-45ce-8267-16ad09907710.png" width="300">

Maybe we should add a prop to control if it appears on top or on bottom?

[2022-10-06 00:59] kbecciv commented on #9391
@mallenexpensify Checking with team, will update you shortly

[2022-10-06 01:37] kevinksullivan commented on #10975
@MonilBhavsar should we be closing this one out if we have two straight weeks of it not being reproducible?

[2022-10-06 02:06] kevinksullivan commented on #11388
@aimane-chnaif bump to apply for the job when you get a chance.

https://www.upwork.com/jobs/~011b32241123d1fcc0

[2022-10-06 02:38] sobitneupane commented on #11100
No luck. Unable to accept offer for this job. I was able to accept offer for other jobs though.

[2022-10-06 02:39] dhairyasenjaliya commented on #10329
done @mallenexpensify :)

[2022-10-06 03:00] #8035 closed

[2022-10-06 03:56] ctkochan22 commented on #11386
Looks good @kadiealexander can you hire @Puneet-here

[2022-10-06 04:02] mananjadhav commented on #11607
@aimane-chnaif's proposal looks good to me https://github.com/Expensify/App/issues/11607#issuecomment-1269269205

cc - @srikarparsi @greg-schroeder

🎀 👀 🎀 
C+ reviewed

[2022-10-06 04:04] mananjadhav commented on #9233
@kadiealexander Quick bump on the upwork

[2022-10-06 04:08] mananjadhav commented on #10516
@laurenreidexpensify  I can see this is pushed to production. Can we please update the payment date ?

cc - @MonilBhavsar

[2022-10-06 04:11] mananjadhav commented on #10950
Okay thanks for the update @Abdallah-Ahmed-moh

[2022-10-06 04:15] mananjadhav commented on #11461
@trjExpensify Based on @kevinksullivan's comment it seems we did that only because it was easier that time. Should I evaluate the proposal?

[2022-10-06 05:19] dhairyasenjaliya commented on #11291
**Proposal**

- If we want to keep `disabled={props.disabled}` into `<Pressable>` without replacing `<TouchableOpacity>` then we can add `pointerEvents="auto"` into `<View>` that is inside `<Pressable>`

- CSS won't allow cursor event on the disabled button but adding `pointerEvents="auto"` enable that and also we are using `pointerEvents` in multiple components as well

- also need to add conditi

[2022-10-06 05:49] MonilBhavsar commented on #10516
Was deployed on 2022-10-03, so updated it to 2022-10-10

[2022-10-06 05:49] kadiealexander commented on #9233
@mananjadhav @roryabraham could you please confirm this PR isn't linked to a regression?

[2022-10-06 06:00] mananjadhav commented on #9233
@kadiealexander I can confirm this isn't linked to the regression. Regression comment by the bot was due to this comment https://github.com/Expensify/App/issues/11430#issuecomment-1267974113

[2022-10-06 06:08] Puneet-here commented on #11318
@aldo-expensify, please reopen and apply external label to get a CM on this for reporting compensation.

[2022-10-06 06:22] mananjadhav commented on #11199
Waiting on proposals.

[2022-10-06 06:22] aldo-expensify commented on #11318
Removing @thesahindia as this was already solved... just adding `External`  to handle compensation from reporting the issue

[2022-10-06 06:24] aldo-expensify commented on #11318
hmm, it seems like it [failed](https://github.com/Expensify/App/issues/11318#issuecomment-1269398030) to assign someone because everyone is out of office.. hehe

Lets try again tomorrow?

[2022-10-06 06:45] Puneet-here commented on #11318
Yeah, no worries. We can settle it tomorrow.

[2022-10-06 06:53] eVoloshchak commented on #11430
@jayeshmangwani, your [proposal](https://github.com/Expensify/App/issues/11430#issuecomment-1267570864) is identical to @gadhiyamanan's [proposal](https://github.com/Expensify/App/issues/11430#issuecomment-1262626809)

[2022-10-06 06:54] eVoloshchak commented on #11430
@gadhiyamanan's [proposal](https://github.com/Expensify/App/issues/11430#issuecomment-1262626809) looks great and works as expected

cc: @Gonals
🎀👀🎀 C+ reviewed!

[2022-10-06 07:24] thienlnam commented on #11146
Pending proposals

[2022-10-06 07:34] OSBotify commented on #11623
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.12-0 :rocket:

[2022-10-06 08:06] thesahindia commented on #9497
Applied to the job. Thanks.

[2022-10-06 08:10] kidroca commented on #8503
This is a `react-dom` (renderer) warning. Fabric is only for `react-native` (renderer)
We should still address it, but it's not relevant to the Fabric architecture
_(React 18 is the core, but the renderer implementations like `native` and `dom` are independent)_

[2022-10-06 08:11] dylanexpensify commented on #11270
coming back from OOO - reviewing today

[2022-10-06 08:12] dylanexpensify commented on #9181
coming back from OOO - reviewing today

[2022-10-06 08:20] bernhardoj commented on #11543
**Proposal**

Hi, I would like to share my approach to this problem.
We can put a new text (to show the chat room name) next to the DisplayName. The text will be applied with a textPill style

**_styles.js_**
[code]

And here is the structure of the component
[code]

I take a different approach than @akshayasalvi did, because I think the text pill (or capsule) does not belong to the DisplayName, t

[2022-10-06 08:28] mananjadhav commented on #10888
Sorry it took a bit longer. I reviewed the proposals from @aneequeahmad and @aimane-chnaif. But I am a little lost and confused in what both the proposals are suggesting.

- I don't like the idea of putting `null`, which means a lot different than true/false
- @aneequeahmad You've mentioned three states, but nowhere I can see which pieces of code will you change to support three states.

I haven't

[2022-10-06 08:28] Tushu17 commented on #11192
### Updated Proposal

We are not capturing events that are happening outside container thats why when user takes cursor outside image in  `isMouseDown` as `true` and un-click mouse there, it doesn't not change `isMouseDown` state to `false`.
### Solution 1
We can solve this problem by using `e.nativeEvent.buttons`, if it turns 0 we can change `isMouseDown` state to `false`.
https://github.com/Expe

[2022-10-06 08:30] mananjadhav commented on #11543
Irrespective of the update from @akshayasalvi, I am more inclined towards @bernhardoj's proposal as it is much cleaner, and we really don't need to mix up `DisplayNames` with the Pill.

My only recommendation would be to create a new component say `TextPill` so that we can reuse it later.

@shawnborton Can you confirm if there's anything else needed from the design perspective.

cc - @marcochavezf

[2022-10-06 08:41] Gonals commented on #11430
@gadhiyamanan's proposal looks good to me! Assigning you to the issue. Feel free to go ahead and create a PR

[2022-10-06 09:16] gadhiyamanan commented on #11430
@eVoloshchak  [PR](https://github.com/Expensify/App/pull/11626) raised

[2022-10-06 09:50] ntdiary commented on #9253
### current progress:
Hi, based on the replies from @marcaaron ,
I think the react navigation team prefers to use `InteractionManager.runAfterInteractions` to defer a task. And if this doesn't work, it should be fixed.

Actually, we want to defer the task until **the end of the drawer spring animation**.
But because of the following two issues, we can't do it with the `runAfterInteractions` now:
1

[2022-10-06 10:59] #11564 closed

[2022-10-06 11:05] mananjadhav commented on #11589
I went through the conversation on the slack and @vladamx's proposal here. @vladamx Is it possible for you to elaborate on the implementation details? Which part of the codebase? Which screens are we talking about to begin with?

and as @marcaaron mentioned earlier if we can get some benchmarks along with the proposal, it'll be of great help.

[2022-10-06 11:27] vladamx commented on #11589
@mananjadhav this is primarily for sidebar and report to not influence eachother.

There are a lot of metrics that will be influenced one of which i already sent.

I can also include metric for switching reports right away, if you find it valuable.

[2022-10-06 12:37] trjExpensify commented on #11393
You da man! 🏊‍♂️

[2022-10-06 12:38] kavimuru opened #11629 ""Offline" indicator is not shown at the bottom of the page in get assistance page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #11557

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Open the RHS by clicking on the profile pict

[2022-10-06 12:44] vladamx commented on #11589
Ok. I will provide the metric and code snippet

[2022-10-06 12:51] parasharrajat commented on #11204
@NicMendonca Based on https://github.com/Expensify/App/pull/11324#issuecomment-1269877557, It seems @smrutiparida is still not hired on Upwork. Could you please check that? Thank you.

[2022-10-06 13:01] iwiznia commented on #10891
@rushatgabhane is technically correct, but in this case, there were a few mishaps in the issue, like there were 2 issues created (but only one was needed) and they were marked as external when they were really internal. Due to that and the fact that you did spend time debugging it and helped @parasharrajat, I think we should pay out $250 (same as reporting bonus) in good faith.

One minor note: if

[2022-10-06 13:05] Puneet-here commented on #11410
I think we should refactor the `DotIndicatorMessage` so that we can reuse `DotIndicatorMessage` at most places. We are also going to use it for normal errors so it makes sense to refactor it. We just need to move `FormAlertWrapper` render functionality to `DotIndicatorMessage`

[2022-10-06 13:06] trjExpensify commented on #11461
Yeah, at a minimum we want to fix the error appearing when navigating back. I do also think it makes more sense to navigate back to the personal information step instead of the company info step, but I don't have enough insight as to whether there's a show stopper in this:

If the proposal encompasses these things, then I don't see a reason why that isn't fine:

1. No error message when clicking b

[2022-10-06 13:19] parasharrajat commented on #10891
Thanks, @iwiznia for following up. There is something I want to add.

We strictly follow our documented guidelines. There can be exceptions but no one should expect those. If someone feels that something is not done as per the guidelines, we will be happy to help you understand or fix our mistake.

For this issue,
- As per guidelines, no solution was accepted thus technically none of those proposa

[2022-10-06 13:30] MonilBhavsar commented on #10975
I want to take a look before closing this. The root cause of the issue is still there and somehow this issue got fixed, so I'm curious now.

[2022-10-06 13:32] abekkala commented on #11131
Reassigning the `External` label as this is a Daily and I'm ooo

[2022-10-06 13:33] trjExpensify commented on #11447
C+ reviewed. Over to @deetergp now and we should be good to go!

[2022-10-06 13:34] abekkala commented on #11131
Oh, I think @NikkiWines is already considered the `External` assignment anyway??

[2022-10-06 13:38] mountiny commented on #11272
Nice! Thanks for digging into this, I believe we will have to update (or at least look well into) this query https://github.com/Expensify/Auth/blob/3a605d99af6ccebd531d0aaf957d2455e6caf485/auth/lib/Account.cpp#L1871-L1978 which is long, I suggest posting in #engineering-chat asking about this. Should this query return such accounts?

What exactly happens in backend/db when user is removed from wor

[2022-10-06 13:38] parasharrajat commented on #11561
No proposals yet

[2022-10-06 13:43] trjExpensify commented on #10931
Did this get fixed elsewhere? 🤔 I'm unable to reproduce on iOS

https://user-images.githubusercontent.com/16232057/194327643-b810846b-53eb-498c-9f82-d25e1adf20f9.MP4

@mananjadhav @kbecciv can either of you retest on Android before I bump the price on this one?

[2022-10-06 13:59] trjExpensify commented on #10327
Cool. It would be good to confirm this one to double or close. @mananjadhav can you try as well?

[2022-10-06 14:03] parasharrajat commented on #11381
@dhairyasenjaliya 's [proposal](https://github.com/Expensify/App/issues/11381#issuecomment-1263070083) looks good to me. Although, the proposal does not explain the reason behind the issue that our Text component currently does not inherit the styles from the parent context. In other words, nested `Text` elements will not inherit styles from parent `Text` elements.

Best solution will be to allow

[2022-10-06 14:06] tgolen commented on #11624
I'm looking into this.

[2022-10-06 14:28] iwiznia commented on #10731
@Santhosh-Sellavel so should I review the proposal or not? Not sure what you meant by `check this again`...

[2022-10-06 14:50] stitesExpensify commented on #11084
Still waiting for confirmation that this is broken

[2022-10-06 14:52] #10426 closed

[2022-10-06 15:03] stitesExpensify commented on #11353
Closing this as I don't think it's really an issue

[2022-10-06 15:03] #11353 closed

[2022-10-06 15:21] tgolen commented on #11624
PR is up

[2022-10-06 15:25] neil-marcellini commented on #11606
Yep this is a legit bug that fell through the cracks when refactoring renaming the rooms. It will be a good external issue and I like this proposal https://github.com/Expensify/App/issues/11606#issuecomment-1268561526.

[2022-10-06 15:29] Justicea83 commented on #11272
Putting this issue on hold pending refactor of `OpenReport`

[2022-10-06 15:30] mallenexpensify commented on #11526
@youssef-lr since you're assigned to this issue, can you please do an RCA? The template is [here](https://docs.google.com/document/d/1UwXfA4ggO2h0XQJQlMEEQjT3zSphhSt12lpvuGSSFtw/edit?usp=sharing).  If you know the offending PR that caused the bug, the employee or C+ who worked on *that* PR should do the regression.  Reopening til the RCA is done

[2022-10-06 16:16] Puneet-here commented on #11410
I believe it can be done without hacks because we can use props to tell about what type of message dotIndicator needs to show or we can check what type of message is being sent inside dot indicator to decide how we wanna render it. For example when we want a label with links we send a prop `LabelComponent` and the the message in the form of component to the CheckboxLabel and then it renders it as

[2022-10-06 16:17] Beamanator commented on #10894
Added https://github.com/Expensify/App/issues/11425 to the list

[2022-10-06 16:18] Beamanator commented on #11425
Added this to our Image-related features & improvements tracking issue: https://github.com/Expensify/App/issues/10894

[2022-10-06 16:19] parasharrajat commented on #11606
@Puneet-here 's [proposal](https://github.com/Expensify/App/issues/11606#issuecomment-1268561526) looks good to me.

cc: @aldo-expensify

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-10-06 16:26] parasharrajat commented on #11229
Reviewing in 20 minutes

[2022-10-06 16:26] parasharrajat commented on #11405
No proposals

[2022-10-06 16:30] Beamanator commented on #8235
FYI this is on my radar as part of [Image-related feature request and improvements](https://github.com/Expensify/App/issues/10894#top)

[2022-10-06 16:33] parasharrajat commented on #7185
Due to the implementation of Open API and the availability of documentation, I am not sure how should I handle this case.

Technically, already existing bank account detection was fixed on the backend after I pointed it out and error handling was changed on the front.

@chiragsalian what do you suggest I should do next?

Otherwise, I feel like there is no action left for me here. I will close the

[2022-10-06 16:34] Beamanator commented on #9239
It's verrrry possible this is not a bug anymore - @jasperhuangg and I recently refactored this code while adding the new API commands `UpdateUserAvatar` and `UpdateWorkspaceAvatar` - I'll check what the flows look like now

[2022-10-06 16:39] arielgreen commented on #10290
@parasharrajat can this be taken off hold now?

[2022-10-06 16:39] arielgreen commented on #8592
@mvtglobally https://github.com/Expensify/App/issues/8592#issuecomment-1259529887

[2022-10-06 16:44] arielgreen commented on #11261
@thesahindia please see above

[2022-10-06 16:46] kavimuru opened #11632 "[HOLD for payment 2022-11-09] [$250] Web - Profile - Changes made in offline mode are not saved"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #11371

## Action Performed:
1. Log in any account
2. Navigate to Settings > Profile
3. Disable the internet connection in t

[2022-10-06 16:50] kavimuru opened #11633 "Web - LHN - Conversation that doesn't have a message doesn't disappear from LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Login with any account
3. Search for a user that you don't have any messages with

[2022-10-06 16:58] thesahindia commented on #11261
@tienifr, your proposal look good but there's one problem. When have exceeded comment length error and a user with big email/name types it will look like this -
<img width="426" alt="Screenshot 2022-10-06 at 10 23 16 PM" src="https://user-images.githubusercontent.com/83179295/194373793-9293f238-0377-49e1-bd4d-d15e12d12130.png">

[2022-10-06 17:05] luacmartins commented on #11623
Checking off https://github.com/Expensify/App/issues/11318 since it was solved yesterday, but we reopened the issue to pay the reporting bonus to the contributor.

[2022-10-06 17:14] Santhosh-Sellavel commented on #10930
@AndrewGable Seems this should be internal, as comment `0` has been sent without any issues but received messages missed out on that.

### Split with a comment as "0"
<img width="716" alt="Screenshot 2022-10-06 at 10 41 51 PM" src="https://user-images.githubusercontent.com/85645967/194376563-15957389-3824-4f72-b5df-134ae07a082a.png">

### Split with a comment as "1"
<img width="730" alt="Screensho

[2022-10-06 17:17] Beamanator commented on #9402
So quick update: We're putting many (pretty much all) Image-related feature request and improvements on a list (see [this tracking issue](https://github.com/Expensify/App/issues/10894)) and we're putting them on HOLD until we design a complete solution for these types of issues. Therefore I'm going to put this issue on HOLD for now.

I love all the ideas so far from @marktoman and @kidroca , rest

[2022-10-06 17:18] thesahindia commented on #11529
@nonamebmt94, can you consistently repro this issue? If yes can you share screen recording before and after the fix?

And after looking at your proposal it looks like you are suggesting that we are getting account number as the type `number`

[2022-10-06 17:21] roryabraham commented on #10679
Taking this off hold

[2022-10-06 17:21] mananjadhav commented on #11461
@trjExpensify In that case @Uros787's proposal seems to be fixing the error part. Should we go ahead and fix atleast that part?

[2022-10-06 17:30] thesahindia commented on #11502
You can see the code in this repo, you can checkout the [Readme](https://github.com/Expensify/App#readme) to setup local dev environment.

You can also check the [closed issues](https://github.com/Expensify/App/labels/Awaiting%20Payment) to understand the process of proposing a solution.

[2022-10-06 17:34] thesahindia commented on #11415
@gohar95, can you post a proposal with proper code changes that you will make and links to the files where those changes are needed?
You can check the [closed issues](https://github.com/Expensify/App/labels/Awaiting%20Payment) to understand the process.

[2022-10-06 17:35] gohar95 commented on #11415
Yes, gimme some time

On Thu, Oct 6, 2022, 10:34 PM Sahil ***@***.***> wrote:

[2022-10-06 17:36] michaelhaxhiu commented on #10523
fyi - This isn't a regression so no need to include `RCA` in your proposal. @parasharrajat can you review this today?

[2022-10-06 17:37] michaelhaxhiu commented on #10884
Not overdue yet, still fielding proposals.

[2022-10-06 17:39] Beamanator commented on #11511
This issue looks very related to the project [Image-related feature request and improvements](https://github.com/Expensify/App/issues/10894#top), I'm going to put this on hold for now & remove `Help Wanted` - sound ok? :D

[2022-10-06 17:41] roryabraham commented on #10962
Update:

- https://github.com/Expensify/App/issues/10794 is done
- The value of https://github.com/Expensify/App/issues/10793 is in question/unclear. I think we'll likely want to continue investigating this, but there's a lot of context in [this thread](https://expensify.slack.com/archives/C035J5C9FAP/p1664522847768359)
- https://github.com/Expensify/App/pull/11327 progress seems to have stalled,

[2022-10-06 17:42] Beamanator commented on #11197
Has any work been done here yet? If not, I think we should put this on HOLD since we're handing lots of image-related projects in this tracking issue: [Image-related feature request and improvements](https://github.com/Expensify/App/issues/10894#top)

[2022-10-06 17:42] JmillsExpensify commented on #11311
Floating this yesterday in #whatsnext and #engineering-chat. Going to do that again today and then start reaching out to individuals.

[2022-10-06 17:43] Beamanator commented on #11063
Putting this issue on HOLD and tracking in [Image-related feature request and improvements](https://github.com/Expensify/App/issues/10894#top)

[2022-10-06 17:46] michaelhaxhiu commented on #11083
Still waiting for proposals.

[2022-10-06 17:51] Beamanator commented on #10894
Finished looking through existing issues & adding them to this tracker, tomorrow I'll comb through them to figure out what common things we need to implement & some ideas how to do that, before proceeding

[2022-10-06 17:52] roryabraham commented on #11055
done

[2022-10-06 17:52] #11055 closed

[2022-10-06 17:52] roryabraham commented on #11054
done

[2022-10-06 17:52] #11054 closed

[2022-10-06 17:59] johnmlee101 commented on #11633
Can reproduce, looking why

[2022-10-06 18:00] roryabraham commented on #11052
done

[2022-10-06 18:00] #11052 closed

[2022-10-06 18:00] roryabraham commented on #11050
done

[2022-10-06 18:00] #11050 closed

[2022-10-06 18:09] parasharrajat commented on #11425
FYI, I think this issue will be solved as a co-product of another issue. I see Alex is tracking those together which will help identify such issues.

[2022-10-06 18:13] parasharrajat commented on #9250
Oh, this is getting delayed. I will review it soon. Updated proposals need to be tested but it seems that they are working as per expected behavior. So I would say don't double it yet and I will ping you when needed. Thanks for the bump.

[2022-10-06 18:14] Santhosh-Sellavel commented on #10731
@iwiznia didn't get a chance to test the proposal after this https://github.com/Expensify/App/issues/10731#issuecomment-1264264720 that's why commented to check this again.

@christianwen
showSoftInputOnFocus if set `true` keyboard should be shown, not why this is required?

[code]

[2022-10-06 18:15] aldo-expensify commented on #11606
The proposal looks good to me too, it itches me a bit that the `validate` function is just returning `false` in this case and doesn't add any error like in the other cases... but I think that is the behaviour we want. Maybe we can add a comment explaining why we didn't add an error in this case.

[2022-10-06 18:16] aldo-expensify commented on #11606
Thanks for the proposal @Puneet-here, assigned you to this GH issue!

[2022-10-06 18:17] aldo-expensify commented on #10599
No overdue, holding now

[2022-10-06 18:17] aldo-expensify commented on #10599
Changing to `Monthly` while in hold.

[2022-10-06 18:21] aldo-expensify commented on #11497
@Justicea83 it is not obvious to me how this issue is connected/related/similar to https://github.com/Expensify/App/issues/11454, can you explain :)? otherwise I think we should reopen this.

[2022-10-06 18:23] JmillsExpensify commented on #10327
(Missed this earlier. Added to the WA Quality project).

[2022-10-06 18:26] JmillsExpensify commented on #11316
Woah ok yeah, thanks @Puneet-here for the second video. It's clear now to me as well. @joekaufmanexpensify who is taking the first test run?

[2022-10-06 18:26] parasharrajat commented on #11606
https://github.com/Expensify/App/issues/11606#issuecomment-1270495241

I had same thoughts but it was giving me the same itching thinking to put it in `submit`. At least now `submit` will look clean so I decided to move with it.

[2022-10-06 18:26] JmillsExpensify commented on #11316
Let's also re-open this in the meantime.

[2022-10-06 18:26] roryabraham commented on #11053
Can't promise anything, but I'm going try looking into this a bit

[2022-10-06 18:28] aldo-expensify commented on #11606
hehe yeah, I also thought about putting it in `submit`... but it is also a validation, so it may be ok to stay in `validate`. 🤷 , I guess it doesn't matter much

[2022-10-06 18:31] deetergp commented on #11235
Not overdue, still awaiting proposals.

[2022-10-06 18:36] roryabraham opened #11635 "Migrate off of findNodeHandle"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem
According to the [official docs](https://reactnative.dev/docs/next/new-architecture-library-intro#migrating-findnodehandle--getting-a-host

[2022-10-06 18:37] roryabraham commented on #8503
Added https://github.com/Expensify/App/issues/11635 to the issue description

[2022-10-06 18:40] parasharrajat commented on #10523
OK, So what is finalized here?

1. make the input outline red.
2. Show the error below the input.

2 can't be done as the error is coming from the backend. As the backend is returning the error as a generic error, there is no go to way to identify that the error is related to old password field.

But as shown in the proposal https://github.com/Expensify/App/issues/10523#issuecomment-1238374969, we

[2022-10-06 18:41] tienifr commented on #11261
@thesahindia sr I can't reproduce your case, can u add more informations?

[2022-10-06 18:41] AndrewGable commented on #11339
PR was deployed to staging, can you verify

[2022-10-06 18:43] JmillsExpensify commented on #11192
@mananjadhav ready for another review of the proposal?

[2022-10-06 18:43] Puneet-here commented on #11316
I tried it on latest staging at web. It's hard to repro because sometimes you will get navigated to some middle step and sometimes to the start over option page. You have to keep trying to repro this.

[2022-10-06 18:45] parasharrajat commented on #11235
May be it needs doubling

[2022-10-06 18:46] chiragsalian commented on #11381
Nice, thank you for that. Proposal LGTM as well. Feel free to create the PR @dhairyasenjaliya.

[2022-10-06 18:49] Santhosh-Sellavel commented on #10905
Thanks for the proposals.

@jayeshmangwani

If that is the case we should go with the first one if that proposal is accepted.

But before proceeding, @tgolen this issue also revolves around the keyboard, can you verify this too got fixed? Can you confirm, please?
Thanks!

[2022-10-06 18:55] #10864 closed

[2022-10-06 18:56] MitchExpensify commented on #10510
Issuing payment now!

[2022-10-06 18:57] Justicea83 commented on #11497
I think I linked the wrong issue. [This](https://github.com/Expensify/App/issues/11496) is it.

[2022-10-06 18:59] JmillsExpensify commented on #11384
Agreed I can't reproduce the exact bug [either](https://github.com/Expensify/App/issues/11384#issuecomment-1265975130).

As for working on this versus closing, I tend to think we should close and come back to this after we refactor account settings (as well as these pages). Re-open if you disagree.

[2022-10-06 18:59] #11384 closed

[2022-10-06 19:01] MitchExpensify commented on #10510
Just waiting on you to accept @rushatgabhane before closing this out, thanks everyone!

[2022-10-06 19:05] JmillsExpensify commented on #11089
That's a good point. I was specifically thinking of this mention in the problem statement.

But I think you're right, being sluggish and opening slowly is different than not opening (on Ipad mWeb) at all.

[2022-10-06 19:07] JmillsExpensify commented on #11089
We're open for proposals again!

[2022-10-06 19:12] JmillsExpensify commented on #2151
Oh to be clear, I don't hate them. I agree, it's net good and worth the time. Probably what would make this more helpful (and less confusing) is an expectation around issue linking. A lot of people link for context rather than to point to regressions.

[2022-10-06 19:14] #8005 closed

[2022-10-06 19:15] melvin-bot[bot] opened #11636 "[$250] Investigate: 💥 Crash 💥 `.anonymous`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Cannot read property 'toLowerCase' of undefined
### `address at index.android.bundle:1:2104993` `.anonymous`
### Number of Crashes: 4

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.11-2`
* **Devices:** sam

[2022-10-06 19:16] JmillsExpensify commented on #11320
Ok jumping back in to test this now.

[2022-10-06 19:17] MitchExpensify commented on #10510
Done!

[2022-10-06 19:17] #10510 closed

[2022-10-06 19:17] kavimuru opened #11637 "mWeb - Login -Offline indicator is missing in "Resent link" page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. On the login screen - create a new account
3. Tap "Continue" button
4. Disable the internet

[2022-10-06 19:18] OSBotify commented on #11637
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-06 19:19] johnmlee101 commented on #11633
PR is up!

[2022-10-06 19:22] marcaaron commented on #9253
@ntdiary thanks for looking into all of that. I think maybe this issue will have to HOLD on some of our discussed changes to navigation and is not really actionable for now.

It seems we are discussing internally whether we will continue to use a drawer navigator or move to a stack to show chats and if we do then what is shown here would be the expected behavior when navigating back from one chat

[2022-10-06 19:26] luacmartins commented on #11053
I think this is correct. There's a noticeable delay between user input and state update, which was not present with `setNativeProps` since that updated the component directly. There's some discussion in [this issue](https://github.com/facebook/react-native/issues/34391#issuecomment-1249693384), but no conclusion yet. It seems like this performance regression is still experienced with Fabric enable

[2022-10-06 19:28] mountiny opened #11639 "Cannot load images in production if they were uploaded from staging App"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

1. Login to staging with account “A”
1. Login to production with account “B”
1. Send an image from

[2022-10-06 19:31] parasharrajat commented on #11419
@chiragsalian Thoughts :arrow_up: ?

[2022-10-06 19:33] chiragsalian commented on #11419
Yup i was just reading this. I think we should set it to false for the terms here but I'm no expert on this. I'll ask on slack to get more eyes and confirm on this.

[2022-10-06 19:37] roryabraham commented on #11053
Agree that this is an acceptable cost.

Agree, though it might be possible that this performance regression could be further alleviated by using `startTransition` instead of `setState` (only possible after Fabric upgrade)

[2022-10-06 19:42] parasharrajat commented on #11419
Ok. Thanks for the input. Putting up a slack discussion now.

[2022-10-06 19:47] puneetlath commented on #11637
@kavimuru can you re-test?

[2022-10-06 19:48] Santhosh-Sellavel commented on #10627
Done thanks!

[2022-10-06 19:48] Santhosh-Sellavel commented on #9545
Just waiting for payment, not overdue!

[2022-10-06 19:53] Santhosh-Sellavel commented on #9497
@kevinksullivan Can you close this issue and the other issue https://github.com/Expensify/App/issues/10108 as this same problem mentioned here https://github.com/Expensify/App/issues/9497#issuecomment-1190658490 and it is fixed now, thanks!

[2022-10-06 19:54] chiragsalian commented on #11419
Asked on Slack, the decision is to have it false/unchecked by default.

[2022-10-06 19:54] Santhosh-Sellavel commented on #10108
Fixed now, and should be closed!

[2022-10-06 19:58] stephanieelliott commented on #9545
Still waiting on @0xmiroslav to grab the job on Upwork! https://www.upwork.com/jobs/~01d8e5aee09ed40c32

[2022-10-06 20:03] #11624 closed

[2022-10-06 20:05] JmillsExpensify commented on #11320
Alright, I'm having the hardest time reproducing this. I sent myself a markdown formatted message via the company tool, I asked agents to send me HTML formatted text via the Concierge tool. Etc. etc. I'm still unable to produce on mobile web.

![IMG_8646705BA2BB-1](https://user-images.githubusercontent.com/1127863/194407707-4e08e372-3763-40dc-a66d-ea8846d46c85.jpeg)

[2022-10-06 20:05] mountiny commented on #11511
Nice, thanks!

[2022-10-06 20:05] JmillsExpensify commented on #11320
My next move is to head back to the original thread and see if this is still visible for those that were participating there.

[2022-10-06 20:11] trjExpensify commented on #11461
https://github.com/Expensify/App/issues/11461#issuecomment-1268219826 - the video seems to navigate back to the personal info page as well though?

[2022-10-06 20:16] Uros787 commented on #11461
@trjExpensify correct, the problem stated that we should navigate to the personal info page
although as @mananjadhav said we can just fix the error part if we don't want to navigate to the personal info page

[2022-10-06 20:18] srikarparsi commented on #11607
yup, also looks good to me

[2022-10-06 20:18] joekaufmanexpensify commented on #11316
I'll give it another try now!

[2022-10-06 20:20] michaelhaxhiu opened #11643 "testing haxie 123"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-10-06 20:21] parasharrajat commented on #11095
Thanks. I will respond tomorrow.

[2022-10-06 20:25] joekaufmanexpensify commented on #11316
I still can't reproduce. I tried a different combination of options like 10 times and still getting directed to the page with `Continue with setup` and `Start over` every time I click ` Connect bank account`, which is expected. I haven't been able to reproduce jumping directly from `Connect bank account` > `Personal information`.

![2022-10-06_16-21-34 (1)](https://user-images.githubusercontent.co

[2022-10-06 20:40] Santhosh-Sellavel commented on #11522
Waiting for proposals seems like might be a backend change to me.

[2022-10-06 20:42] stephanieelliott commented on #9545
@Santhosh-Sellavel I've issued payment to you.

@0xmiroslav please reopen this once you have accepted the job on Upwork and I will issue your payment 👍

[2022-10-06 20:42] #9545 closed

[2022-10-06 20:46] Puneet-here commented on #11316
Sorry for not commenting this earlier, I was refreshing the page everytime before clicking the button, so it took me 4-5 tries.

[2022-10-06 20:51] Uros787 commented on #11513
Couldn't reproduce, new acc. Somebody to check also or help me on what i could've done wrong
https://user-images.githubusercontent.com/70144379/194415988-087e78cd-dd9f-45b7-b5ef-d02e474ac4fa.mov

[2022-10-06 20:56] marcaaron commented on #10962
@roryabraham In my [PR to start using the modern "drawer" navigator](https://github.com/Expensify/App/pull/11550) I refactor the `HeaderView` a little so that the props are already available and passed via the `ReportScreen` - just minimizes a connection or two. I think a context based solution would be interesting though but had trouble thinking of how it would work.

[2022-10-06 21:07] kavimuru opened #11646 "Workspace - Blueline around the fields does not disappear moving to another field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Log with any acсount
3. Go to Settings->Workspaсe->General settings
4. Change the workspace name and then chan

[2022-10-06 21:08] OSBotify commented on #11646
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-06 21:11] kavimuru opened #11647 "Android - Workspace - After error window, the system redirects you to the LHN page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Login with any account
3. Go to Settings->Workspaсe
4. Kill the internet connection
5. Open any options of wor

[2022-10-06 21:14] thesahindia commented on #11261
@tienifr, are asking about steps to repro comment length error? If yes, then you can just pass any value more than 60000 at `commentLength` https://github.com/Expensify/App/blob/07790d175de52cfb297ef99c681fc47e9f21054f/src/pages/home/report/ReportActionCompose.js#L702

[2022-10-06 21:18] chiragsalian commented on #7185
Hmm im not sure where we currently stand since so many APIs have changed lately. I'll retest this today and decide on the next steps.

[2022-10-06 21:24] OSBotify commented on #11623
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.12-1 has been deployed to staging :tada:

[2022-10-06 21:24] trjExpensify commented on #11461
Yeah cool, I was just clarifying we seemingly solve both problems with the proposal. Did you test this as well?

- Navigating forward again to Onfido to complete it, the request to create the VBA works correctly (i.e you don't run into errors and need to go and re-enter any info in the company step etc)

[2022-10-06 21:26] roryabraham commented on #10345
@adelekennedy Let's pay this out and close it

[2022-10-06 21:28] OSBotify commented on #11623
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11634) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.12-2` :rocket:

[2022-10-06 21:28] kavimuru opened #11650 "[$250] BUG - Create room - Workspace is not selected by default if one workspace only available in the account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Click global fab button and select "New Room"
3. Observe the workspace field

## Expected Result:

[2022-10-06 21:31] roryabraham commented on #10962
Yeah, we could probably extract that change out of the drawer PR because it's not directly related AFAICT?

[2022-10-06 21:42] marcaaron commented on #10962
Could do that yep

[2022-10-06 21:44] kavimuru opened #11651 "Bug: Endless scrolling and white spaces when scrolling chats at homepage in mWeb reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open NewDot at mobile browser
2. Login with an account which contains multiple chats (more than 15)
3. Refresh and try scroll

[2022-10-06 21:44] JmillsExpensify commented on #11320
Ok I was able to reproduce this one. I just updated the OP. Screenshot of the issue on mWeb
![IMG_01821CEB4445-1](https://user-images.githubusercontent.com/1127863/194424249-2db85a3c-baf0-4b05-8d23-729aa98c80d4.jpeg)

[2022-10-06 21:46] JmillsExpensify commented on #11320
@aldo-expensify You want to assign yourself again?

[2022-10-06 21:50] Santhosh-Sellavel commented on #10202
Sorry, @trjExpensify somehow didn't get enough time to look into this earlier. Requesting to put the PR on hold as I'm not satisfied with the back-forth changes made in PR that differ from the proposed changes.  I believe the first thing we should do now is finding the offending PR before proceeding further. This issue is regression for sure we know that. So let's do that.

cc: @Julesssss

[2022-10-06 21:54] kavimuru opened #11652 "[HOLD for payment 2022-11-02] [$250] Bug: The error message is incorrect, it says "And unexpected error..." instead of "An unexpected error..." reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to settings > Payments > Add payment method
2. Bank account > Plaid flow
3. While in Plaid Sanbox mode, enter any data
4.

[2022-10-06 22:00] mallenexpensify commented on #11100
How about this one @sobitneupane https://www.upwork.com/jobs/~014ab10dacdb6c00ad

[2022-10-06 22:03] mallenexpensify commented on #10329
Thanks, @dhairyasenjaliya is paid, closing

[2022-10-06 22:03] #10329 closed

[2022-10-06 22:08] mallenexpensify commented on #9391
Thanks @mvtglobally , can you check again in a week and post an update? I want to ensure it's not reproducible before we take any further action

[2022-10-06 22:20] AndrewGable commented on #11637
Also cannot reproduce, closing

[2022-10-06 22:20] #11637 closed

[2022-10-06 22:36] kavimuru opened #11654 "BUG:Pay with debit card - Doesn't auto-complete the zip and state correctly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to ND and login
2. Go to settings > payment > Debit card

## Expected Result:
Zip code and password should not auto filled

[2022-10-06 22:37] OSBotify commented on #11654
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-06 22:40] strepanier03 commented on #11636
Created the UpWork job: https://www.upwork.com/ab/applicants/1578152857318965248/suggested

Posting: https://www.upwork.com/jobs/~01168acb61fd57bfe2

[2022-10-06 22:42] aldo-expensify commented on #11320
I'm trying, but I can't reproduce it yet. I don't find that repeatable response, could it have been removed?

![image](https://user-images.githubusercontent.com/87341702/194431750-3473a873-38ba-4fc2-b82a-fe1501bffb05.png)

I tested with other responses, but they look fine in mWeb.

[2022-10-06 22:45] OSBotify commented on #11623
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.12-2 has been deployed to staging :tada:

[2022-10-06 22:45] aldo-expensify commented on #11320
it could be that that specific response had invalid html, and one browser was doing a better job than the other in fixing it. Can you reproduce this with any other pre-saved response (if we don't find the original one anymore)?

Thanks for updating the steps, it is much clearer now

[2022-10-06 22:50] roryabraham commented on #11524
Putting this on HOLD for https://github.com/Expensify/Expensify/issues/221853

[2022-10-06 22:50] roryabraham commented on #11524
Removed `Help Wanted` for now

[2022-10-06 23:04] kavimuru commented on #11654
Sorry, it is reproducible in production too

[2022-10-06 23:05] luacmartins commented on #6883
3rd PR is in review!

[2022-10-06 23:14] Luke9389 commented on #11377
I'll check this out tomorrow

[2022-10-06 23:14] Luke9389 commented on #11171
no proposals yet

[2022-10-06 23:14] Luke9389 commented on #10704
This is on HOLD so it shouldn't be marked Overdue.

[2022-10-06 23:14] Luke9389 commented on #4733
no update here

[2022-10-06 23:18] 1notchdev commented on #11636
HI @strepanier03 , I created PR #11656 ,
Please check!

Thank you!

[2022-10-06 23:25] adelekennedy commented on #11554
[Internal](https://www.upwork.com/ab/applicants/1578164511254667264/job-details)
[External](https://www.upwork.com/jobs/~010e1866aeff828b56)

[2022-10-06 23:27] adelekennedy commented on #11199
We're at the doubling point @mananjadhav @ctkochan22 should this issue be doubled or is it not worth 1k?

[2022-10-06 23:27] JmillsExpensify commented on #11320
Interestingly enough, I thought the same. I even deleted the old saved repeatable response and then manually created a new. But even the new, non-copy/pasted one I created still had the same problem. So it was just super super weird that it still happened despite that.

[2022-10-06 23:27] adelekennedy commented on #11104
Still waiting on proposals

[2022-10-06 23:30] aldo-expensify commented on #11320
Can you send me the response in an email or file? 🙏

[2022-10-06 23:30] chiragsalian commented on #11646
Okay i can reproduce this on dev and staging and not on production. Investigating further.

[2022-10-06 23:38] chiragsalian commented on #11646
Looks like it will be resolved in this [PR](https://github.com/Expensify/App/pull/11039). Asking if we should CP or just not consider this as a blocker since its a minor UI issue.

[2022-10-06 23:41] dangrous commented on #11317
I _believe_ this will actually be fixed by [https://github.com/Expensify/App/pull/11039 which includes ](https://github.com/Expensify/App/pull/11457) once that is completed and merged (so I'm not sure we need this externally). @marcochavezf can you confirm when you have a moment?

[2022-10-06 23:47] Luke9389 commented on #10233
Yeah, I think we can close this because I think this issue will get reopened if this exact crash happens again (the description has crashIDs stored in the Internal Firebase Info section.

[2022-10-06 23:47] #10233 closed

[2022-10-06 23:59] chiragsalian commented on #7185
I just retested. Looks like the error is now received appropriately in the onyxData. This means there is a proper error message when the same back account is selected.
![image](https://user-images.githubusercontent.com/14356145/194439140-7ee08c1d-3e27-4ef4-9e70-9947a3024444.png)

Hence I don't think there is anything to be done here. Maybe in the future, we can clear up how the error message is sh

[2022-10-06 23:59] #7185 closed

[2022-10-07 00:22] neil-marcellini commented on #10283
@syedsaroshfarrukhdot Yes your proposal is a good quick fix, but we are looking for something more robust and I really think we will be able to find an elegant solution. Here are some questions I have, which I hope will guide us towards the solution we are looking for. Could you please help me answer these questions?

1. Is the height of the IOUPreview component increasing when the report switches

[2022-10-07 00:50] roryabraham commented on #11635
`ContributorPlusReview` label didn't work here, so I'm manually tagging in @parasharrajat for review since he reviewed this code originally.

[2022-10-07 01:00] melvin-bot[bot] opened #11658 "[HOLD] [$250] Investigate: 💥 Crash 💥 `anonymous`"
Held on https://github.com/Expensify/App/issues/9293

Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: JavaScriptError
### Cannot read property 'additionalData' of undefined
### `main.jsbundle:2583:3076 line 2583` `anonymous`
### Number of Crashes: 6

## Device Information
* **Platforms:** Android, iOS
* **App Versions:** `1.2.10.1`

[2022-10-07 01:02] kavimuru commented on #7270
@JmillsExpensify issue was reproducible today when we were executing the PR #10967 So reopening this issue

<img src="https://user-images.githubusercontent.com/43996225/194444640-e4a8b0ea-9560-45f2-88b1-7612aac7f9c6.jpg" width="40%" height="40%">

[2022-10-07 01:08] kavimuru opened #11659 "iOS - New Room - More space between `#` and `roomname` in the room name creation field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Login with expensify account
3. Click on FAB button->New Room
4. Enter the name in the field Room Name

## Exp

[2022-10-07 01:11] kavimuru opened #11660 "Web - Payment - An error when trying to mark any payment method as default"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition : You should have 2 or more methods of payments
1. Go to URL https://staging.new.expensify.com/

2. Log with any acc

[2022-10-07 02:00] greg-schroeder commented on #11607
Okay, working on getting this posted!

[2022-10-07 02:09] sobitneupane commented on #11339
Hello @AndrewGable, I can verify that the issue no longer exists on

- Web
- Desktop App
- Mobile Web
- Android
- iOS

[2022-10-07 02:09] greg-schroeder commented on #11607
Internal: https://www.upwork.com/ab/applicants/1578205480301780992/job-details

External: https://www.upwork.com/jobs/~01d06283fe580ac75c

cc @mananjadhav @aimane-chnaif - Apply here!

[2022-10-07 02:20] arielgreen commented on #11124
price increased

[2022-10-07 02:23] sobitneupane commented on #11513
Could not reproduce on iOS simulator.

cc: @Julesssss

[2022-10-07 02:26] arielgreen commented on #11381
offers sent @dhairyasenjaliya @parasharrajat

[2022-10-07 03:01] tienifr commented on #11261
# Updated Proposal
## Problem
we aren't setting dInline for Wellcome text and flex1 for user typing indicator, so with the too long text it'll be truncated in the small screen
## Solution
**With Wellcome text**
Add dInline into containerStyles of Tooltip
It's in a separate line if it's too long and I keep the period right after the email

https://github.com/Expensify/App/blob/c942b3e3eb788a52b06f3

[2022-10-07 03:04] tienifr commented on #11261
@thesahindia width=100% isn't good in this case (exceeded comment length). I changed to use flex1 and it works well. Pls help to check. Thanks

[2022-10-07 03:11] syedsaroshfarrukhdot commented on #11413
@sobitneupane  Yes, that is the reason the SetPassoword page loses screen focus. I looked in more depth and figured out that not only the Continue button but complete Login From is being rendered in the SetPassoword page.

<img width="1366" alt="Screen Shot 2022-10-06 at 9 42 44 PM" src="https://user-images.githubusercontent.com/81307212/194459083-e4874754-8c10-4c24-bc3a-40cd525fbda2.png">

Not su

[2022-10-07 03:14] thienlnam commented on #11097
I have PRs in review

[2022-10-07 03:37] JmillsExpensify commented on #11652
This one is a good find. I was able to reproduce and I updated the testing steps. Also a note, we need to change this message in Spanish too, as that is also wrong.
![Screen Shot 2022-10-06 at 22 34 59](https://user-images.githubusercontent.com/1127863/194462735-d5d6bc47-8323-4313-8a6a-c3bf0380e00b.png)

[2022-10-07 03:37] JmillsExpensify commented on #11652
I'll keep this assigned to myself, as I intend to fix it.

[2022-10-07 04:13] kadiealexander commented on #9233
Sorry team, I didn't realise an Upwork post never got created for this job. I've sent everyone a contract, please let me know once it's accepted and I'll issue payment.
https://www.upwork.com/ab/applicants/1578236341784473600/job-details
https://www.upwork.com/jobs/~01f99f997919d5ab90

[2022-10-07 04:21] KienVK commented on #10352
Proposals
I think Padding is added to make larger screens look better, but affects other smaller screens.

[2022-10-07 04:22] KienVK commented on #11381
Proposals
I think Set alignment either left or center for all platforms.

[2022-10-07 04:22] kadiealexander commented on #9233
Manan and Aswin have been paid! Thanks to you both.

[2022-10-07 04:25] Puneet-here commented on #11652
### Proposal

We need to change the error here https://github.com/Expensify/App/blob/b65b1329f622bfc06aa2da9c4976023eb85d99d7/src/languages/en.js#L415
https://github.com/Expensify/App/blob/0e8fc0274f101453ddeda06158b589b0391e2994/src/languages/es.js#L415

[2022-10-07 04:38] ctkochan22 commented on #10765
I agree with @neil-marcellini here. I don't think the two are not related. I'm good with the proposal, lets move forward

[2022-10-07 04:47] mvtglobally commented on #11623
Regression is completed
We are checking new CPs and confirm in the morning

PR https://github.com/Expensify/App/pull/10967 is Blocked on mWeb due to https://github.com/Expensify/App/issues/7270
PR https://github.com/Expensify/App/pull/11226 is failing due to
PR https://github.com/Expensify/App/pull/11371 is failing due to https://github.com/Expensify/App/issues/11632. Its not repro in PROD as its

[2022-10-07 04:51] dhairyasenjaliya commented on #11659
**Proposal**

- In order to reduce extra space between `#` and `roomname` we need to reduce paddingLeft from `<BaseTextInput>`
- Here we are adding width according to prefix text and add extra paddingLeft for 4px `StyleUtils.getPaddingLeft(this.state.prefixWidth + styles.pl1.paddingLeft)`
- In order to reduce we need to decrement 4px -> 1px or 2px in below or we can remove completely (not recommen

[2022-10-07 05:01] MonilBhavsar commented on #9391
Taking of hold...

[2022-10-07 05:21] tienifr commented on #11414
# Proposal

## Problem
In the Payment Page, We are leaving the default menu option displayed above the button

## Solution
we should add a prop to control if it appears on top or on the bottom as this comment: https://github.com/Expensify/App/issues/11414#issuecomment-1269153706

Link PR: https://github.com/tienifr/App/pull/6
Result:
<img width="1440" alt="Screen Shot 2022-10-07 at 11 36 10" src="

[2022-10-07 05:25] dhairyasenjaliya commented on #11381
PR ready for review @parasharrajat

[2022-10-07 05:29] mananjadhav commented on #10327
I did try few notifications and I wasn't able to reproduce this. I'll take another stab at it today.

[2022-10-07 05:29] tienifr commented on #11522
# Proposal

##This issue is updated
- Action Performed: login into User A --> Searching user B --> Logout --> login into user B
- Before: User A only shown in the contact list at search and is not shown in the sidebar
- Now: User A shown in both the contact list at search and the sidebar (see attached evidence)

## Problem
According to the expected result, We only display users whom you have talke

[2022-10-07 05:34] mananjadhav commented on #10888
Thanks for the update @aimane-chnaif.

@aneequeahmad While your proposal was still up before I got assigned, are you willing to share an updated proposal?

I'll review both of them together.

[2022-10-07 05:34] Christinadobrzyn commented on #11283
Do we want to consolidate these into this issue? If yes, I can comment on https://github.com/Expensify/App/issues/11384 & https://github.com/Expensify/App/issues/11382 about moving those issues here.

[2022-10-07 05:35] mananjadhav commented on #10931
I don't have an Android for the time being to test this one. @kbecciv Can you please help here?

[2022-10-07 05:36] mananjadhav commented on #11199
I think we should and then cap at 1K. What do you think @ctkochan22 ?

[2022-10-07 05:41] mananjadhav commented on #11461
Yeah I tested the same code when @akshayasalvi proposal's earlier. It does solve both the issues. I thought if we're not sure whether to move back to Personal Information.

If we do plan to solve the transition too, then I am a little confused here because @akshayasalvi also proposed the same solution.

[2022-10-07 05:58] getusha commented on #11283
@parasharrajat where can I propose new solution?

[2022-10-07 06:16] eVoloshchak commented on #11636
@1notchdev

Could you please read [CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) and propose a solution for how you'd resolve this issue?

[2022-10-07 06:35] MitchExpensify commented on #11091
Ready to hire if you give the green light @marcaaron!

[2022-10-07 06:35] MitchExpensify commented on #11091
Ready to hire if you give the green light @marcaaron!

[2022-10-07 06:42] #9978 closed

[2022-10-07 06:42] #9984 closed

[2022-10-07 06:43] mananjadhav commented on #11192
@Tushu17 Thanks for the update proposal. Are you suggestion Solution 1 and Solution 2 as two distinct proposals? or they're part 1 and 2 of the whole solution?

Because just applying Solution 1 didn't work for me.

Solution 2 does work but it does have a problem (I can't reproduce this on staging and I am not sure if its a browser behavior). Attached is the video. I've tried my best to mention the

[2022-10-07 06:47] tienifr commented on #11403
Thanks for the reiview @mananjadhav. I have new option to address this problem, please check it

##Updated Proposal

###Solution

Cause this problem occur in web only, ( in mobile when we click eye icon the text input not be out focus ) so that I will fix logic of onBlur function in `NewPasswordForm.js`, will check if we click outside the component wrapping the input and eye icon, the state will b

[2022-10-07 06:47] Christinadobrzyn commented on #11430
Hired @gadhiyamanan for the fix, @eVoloshchak as C+, and @Puneet-here as the reporter

[2022-10-07 06:49] smrutiparida commented on #11561
It looks difficult to me to imagine something while we continue to release the andorid/ios app by relabeling the staging release.

What I want to propose instead is to use https://github.com/luggit/react-native-config npm and issue the build commands like

$ ENVFILE=.env.staging react-native run-ios                  //for staging and

$ ENVFILE=.env.production react-native run-ios           //for

[2022-10-07 06:50] Christinadobrzyn commented on #11011
Waiting for proposals

[2022-10-07 07:37] techievivek commented on #11493
Couldn't triage this because I am involved in the implementation of the `update concierge/newDot for AM` project but once I have some bandwidth, I will look into it.

[2022-10-07 07:41] parasharrajat commented on #4733
No new proposals.

[2022-10-07 07:43] Tushu17 commented on #11192
Solution 1 and Solution 2 are different proposal as they both give different results. Solution 1 won't stop user from dragging image from outside of container. It will just change `isMouseDown` state to `false` if user leaves mouse click.

video after applying solution 1 :-

https://user-images.githubusercontent.com/89839952/194497058-1c716ed9-1264-4930-9bfe-fce61d76e80a.mov

Imo solution 1 is goo

[2022-10-07 08:13] mountiny commented on #11623
Checking https://github.com/Expensify/App/issues/11654#issuecomment-1270820584 off as it was aslo repro in production so no deploy blocker.

[2022-10-07 08:45] tienifr commented on #11317
# Proposal

## Problem
When we change the text in rate input, the below function is executed. And if the user enters more than 8 character, it's not valid so `isInvalidRateValue` === true and it will update the old value again
in /App/src/pages/workspace/reimburse/WorkspaceReimburseView.js
[code]

## Solution
We should add maxLength in TextInput component to prevent users from entering more than 8

[2022-10-07 08:54] tienifr commented on #11352
# Proposal

## Problem
When we change the text in rate input, the below function is executed. And if the user enters more than 8 character, it's not valid so `isInvalidRateValue` === true and it will update the old value again
in /App/src/pages/workspace/reimburse/WorkspaceReimburseView.js
[code]

## Solution
We should add maxLength in TextInput component to prevent users from entering more than 8

[2022-10-07 08:56] tienifr commented on #11317
@rushatgabhane Thanks for pointing that out, I just have updated the proposal to match [the correct issue](https://github.com/Expensify/App/issues/11352#issuecomment-1271312219)

[2022-10-07 09:05] parasharrajat commented on #11419
@Puneet-here 's [proposal](https://github.com/Expensify/App/issues/11419#issuecomment-1262387067) looks good to me. It was the first based on timestamps from slack/Gh.

cc: @chiragsalian

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-10-07 09:08] tienifr commented on #11490
# Proposal

## Problem
Originally, reportID is string.
When we add comment or add attachment, the result is returned from API updated the reportID as number.

That make `this.props.report.reportID === prevProps.report.reportID` is false and then trigger function `this.updateComment(this.props.comment);`. At that time, `this.props.comment` is empty as default
=> text typed in compose box disappears

[2022-10-07 09:08] Beamanator commented on #11229
Hmm good points all around. Honestly I don't think this is a big problem for the user either way - if they click on a chat row & FAB at nearly the same time, they can't expect one to work and not the other, right? They obviously accidentally clicked one and will be ok fixing their click (assuming it doesn't go where they wanted)

In this case I call upon the @Expensify/design team for ideas!

[2022-10-07 09:09] MonilBhavsar commented on #10848
Not priority, coming back

[2022-10-07 09:10] dylanexpensify commented on #11336
@mananjadhav should we double

[2022-10-07 09:11] Uros787 commented on #11461
@mananjadhav I'm sorry but @akshayasalvi proposal does not solve the issue with the error.
I double-checked, and his proposal only solves the navigating to the personal info page

[2022-10-07 09:16] mananjadhav commented on #11461
Yes you're right @Uros787. What I meant is your proposal solves both the problems - error message and the navigation. But just to be fair to everyone, you as well as @akshayasalvi, I said I am a little confused because part 2 of both your proposals is exactly the same.

[2022-10-07 09:17] mananjadhav commented on #11336
Yeah @dylanexpensify, we should.

[2022-10-07 09:21] mananjadhav commented on #11403
@tienifr  Your updated proposal [here](https://github.com/Expensify/App/issues/11403#issuecomment-1271179269) looks good to me. But what here's what I would do, instead of changing the imports.

1. I'll move the `didClickOutsideInputField` to `src/libs/didClickOutsideInputField` with `index.js` (for the web and mweb part)  and `index.native.js` (which consists of your `return true`) logic.

2. I w

[2022-10-07 09:22] dylanexpensify commented on #11336
updated/doubled:
https://www.upwork.com/ab/applicants/1578314536620560384/job-details
https://www.upwork.com/jobs/~015fdd2869753011b3

[2022-10-07 09:28] mountiny commented on #10181
any updates @parasharrajat?

[2022-10-07 09:30] mountiny commented on #11639
Hello @johnmlee101, would you be able to deploy this PR? https://github.com/Expensify/Cloudflare-Workers/pull/41#pullrequestreview-1133602052

I will fix the puller bear to assign ring0 straightaway. Thank you very much!

[2022-10-07 09:35] Julesssss commented on #10202
Yeah I think that's a good idea, though I'm not sure how the current PR/contract should be handled.

[2022-10-07 09:36] Puneet-here commented on #10848
@MonilBhavsar, this can be fixed by only adding a style as proposed [here](https://github.com/Expensify/App/issues/10848#issuecomment-1239058273).

[2022-10-07 09:42] Beamanator commented on #11425
Agreed @parasharrajat - this issue is pretty common & the upcoming P/S will aim to solve all of these related "gray avatar" issues

[2022-10-07 09:43] Beamanator commented on #10704
Maybe we could also make this monthly :D

[2022-10-07 09:51] sketchydroide commented on #9580
no overdue still waiting on the other issue

[2022-10-07 09:51] AmroElzeiny commented on #11336
I think we may edit the scroll event property, that is when the mouse leaves the input or on-blur or on-scrolling we will hide the autofill menu! I think it's as simple as it is, with no complexity

[2022-10-07 09:53] mananjadhav commented on #11490
I have some issues that were recently assigned and I won't get to this sooner. Can we please assign another C+?

@Expensify/contributor-plus

[2022-10-07 09:54] sketchydroide commented on #11237
Ok I'll take a look at this today

[2022-10-07 09:56] getusha commented on #11336
I don't think the auto fill has to be hidden, because the input field is still focused.
Instead what we have to do is just make the auto fill stay with the input field when it is scrolled.
Does this sound right?

[2022-10-07 09:59] mananjadhav commented on #11336
Thanks for the comment @AmroElzeiny. Are you trying to post a proposal for the job? Can you elaborate on the technical side of the implementation? Which files/code will be updated? With what changes?

@getusha Making autofill stay should also be acceptable in my opinion. What do you think @dylanexpensify @marcochavezf

[2022-10-07 10:05] Uros787 commented on #11636
### Proposal
Since the error clearly states that we have an unexpected undefined value we are trying to convert to lowercase - I've debugged where the possible undefined values can occur.

https://github.com/Expensify/App/blob/93b977c8f5119b0ffc66a2bf6aad214d7b41d689/src/libs/actions/Policy.js

On policy.js we are extracting the domain and username from sessionEmail. Which is fetched from API, so

[2022-10-07 10:05] AmroElzeiny commented on #11336
I'm sorry but I don't know who I'm talking to regarding this project. @getusha or @mananjadhav ?

[2022-10-07 10:13] mananjadhav commented on #11336
@AmroElzeiny You're talking to me at the moment or everyone assigned to the issue on the top right.

But we always welcome contributors to propose solutions on the job, share feedback, etc.

[2022-10-07 10:14] sketchydroide commented on #11187
Yeah that would work @shawnborton.
Do we want to fix it now, or wait for the refactor?
I don't think the priority on getting this fixed is that high...

[2022-10-07 10:16] Julesssss commented on #11513
Hey both, this won't be reproducible on the simulator because the soft keyboard has different behavior to real iOS devices. @sobitneupane do you have a physical iOS device? No worries if not, I'll reassign the issue to someone that does.

I reproduced it here:  iPhone 7, iOS 13.3.

https://user-images.githubusercontent.com/10736861/194530891-47a668fe-b779-4446-9f6f-fb2a244c9f0f.MP4

[2022-10-07 10:19] AmroElzeiny commented on #11336
I have only one question, Mr Manan, you want the autofill menu to remain in its position stuck to the input, right?

[2022-10-07 10:21] MonilBhavsar commented on #10224
So when we push onyx update to clients, we can pass a message in ACCOUNT Onyx key and display it to user.

Here I tried displaying it on Login page.

<img width="952" alt="Screenshot 2022-10-07 at 3 30 48 PM" src="https://user-images.githubusercontent.com/32012005/194528577-5b4b6de9-9ed0-4e8d-928e-774fe9e9d446.png">

@Expensify/design Please review and share your thoughts.
Context: When user close

[2022-10-07 10:31] Julesssss commented on #11647
Closing this because we're working on a big refactor to the navigation code. The x button is going to be removed.

[2022-10-07 10:31] #11647 closed

[2022-10-07 10:35] Beamanator commented on #10224
FYI we have an onyx key `closeAccount` so maybe we can use that instead of ACCOUNT?

[2022-10-07 10:43] Julesssss commented on #10327
@trjExpensify I'm unable to reproduce on web or Android (only platforms I tested)

[2022-10-07 10:43] Julesssss commented on #10327
Let's close.

[2022-10-07 10:43] #10327 closed

[2022-10-07 10:45] Julesssss commented on #10327
Could be a side effect of the performance improvements we've been making. The app opened immediately for me which is unusually rare for me on Android.

[2022-10-07 10:45] MonilBhavsar commented on #10224
Yeah, that will be better 👍

[2022-10-07 10:47] Julesssss commented on #10327
Here's the Android screen capture I forgot to attach:

https://user-images.githubusercontent.com/10736861/194536240-2e9d8e8a-479f-4025-ba51-f0156e8685ea.mp4

[2022-10-07 11:22] flodnv commented on #10907
Maybe we should just put this on hold @michaelhaxhiu ? Unsure TBH, especially given the fix is a quick one 🤷

[2022-10-07 11:34] flodnv commented on #10523
Posted here: https://expensify.slack.com/archives/C01GTK53T8Q/p1665142427568719

@parasharrajat there was also an earlier proposal from @mmjindal2555 https://github.com/Expensify/App/issues/10523#issuecomment-1238374969

[2022-10-07 11:36] flodnv commented on #11632
I am confused, does this not mean that https://github.com/Expensify/App/pull/11371 is broken @Julesssss ?

[2022-10-07 11:44] MonilBhavsar commented on #11471
I think this is more general issue and also occurs when -

1. Click on FAB button/New chat
2. Select new user with no previous chat
3. Pay attention to compose box
4. Placeholder text changes

[2022-10-07 11:53] michaelhaxhiu commented on #11416
Seems that @kbecciv was able to reproduce this bug based on the GH body. How did you add the `setup specialist user` exactly?

@adeel0202 can you include that in the repro steps so that @abekkala can attempt to reproduce it exactly?

[2022-10-07 11:54] sobitneupane commented on #11513
I don't have a physical iOS device. Unassigning.

[2022-10-07 12:15] kbecciv opened #11666 "Web - IOU are not getting sync between the devices"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11226

## Action Performed:
1. Launch the app and login with account A in devi

[2022-10-07 12:19] kbecciv opened #11667 "[HOLD #11330][$250] IOS - LHN - Chats are not reordering properly as per the group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11226

## Action Performed:
1. In the LHN, make sure that reports are ordered

[2022-10-07 12:23] iwiznia commented on #10523
Coming from https://expensify.slack.com/archives/C01GTK53T8Q/p1665142427568719
TLDR:
- We already have a way of doing this. The server needs to send onyx data setting `errorFields` in the object like [this](https://github.com/Expensify/Web-Expensify/blob/9d8c5fe80bfa058f5dfb54f494b39ac7502be59e/lib/Error/WalletAdditionalDetails/VerificationError.php#L132)
- The frontend part is already handled [he

[2022-10-07 12:24] michaelhaxhiu commented on #11416
Discussed further on slack thread [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1665145346147479?thread_ts=1663578754.768679&cid=C01GTK53T8Q) for context. But tl;dr - updating the repro steps so that it's more detailed. @abekkala can you try again using the updated steps?

[2022-10-07 12:24] adeel0202 commented on #11416
I have written the detailed reproduction steps [on slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1665145346147479?thread_ts=1663578754.768679&cid=C01GTK53T8Q).

[2022-10-07 12:33] Uros787 commented on #11471
### Proposal
The issue here is that while the chat is loading, our fallback value is "Say hello"
Now we have two options:
Either change the fallback text to Write something
Or completely delete the fallback value so it is an empty string and after loading is finished display the proper value

That would be done here.

https://github.com/Expensify/App/blob/6551eb9d07f54c222bd6cb7411b7613f3ccd03b4/s

[2022-10-07 12:37] christianwen commented on #10731
@Santhosh-Sellavel `if showSoftInputOnFocus set true keyboard should be shown right` -> this is correct if the input is currently not in focus and then it's focused, the keyboard will be shown.
But in this case, since the input is already focused (it's focused by default when entering the chat screen), when we change `showSoftInputOnFocus` to true it will not pop the keyboard up but will require r

[2022-10-07 12:41] michaelhaxhiu commented on #11318
PS, not quite true 😄  -- I think GH webhooks were just failing yesterday for a period of time.

@aldo-expensify just to clarify, only a bug reporting bonus is due to @Puneet-here ?

[2022-10-07 12:44] trjExpensify commented on #11490
@youssef-lr - you're actively working on a PR for this, right? If so, can we assign this to you and replace it with an `Internal` label..

[2022-10-07 12:44] dhairyasenjaliya commented on #11471
**Proposal**

**RCA**

- This happens because in our code base we have added validation to check if `isEmptyChat` which basically returns the length of `this.props.reportActions` and if chat is empty we are returning `1` as even empty chat `reportActions` object will be  containing one record of `creating`

- Text in the input field changes from "Say hello" to "Write something." because when we ar

[2022-10-07 12:45] michaelhaxhiu commented on #11318
Ah I see now... this was reported by @Puneet-here and then we fixed it **internally** via https://github.com/Expensify/App/pull/11616.

Ok yes, only a bug reporting bonus is due in this case to @Puneet-here ($250). cc @maddylewis

[2022-10-07 12:45] maddylewis commented on #11318
thanks for confirming @michaelhaxhiu! i will complete this today.

[2022-10-07 12:46] youssef-lr commented on #11490
@trjExpensify PR ready!

[2022-10-07 12:49] trjExpensify commented on #10327
Cool, sounds good! Thanks for confirming.

[2022-10-07 12:50] trjExpensify commented on #11490
Woop! Discussed [in thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1665146740022159?thread_ts=1665142548.340259&cid=C01GTK53T8Q), assigning to @youssef-lr and marking as `Internal`.

[2022-10-07 12:58] joekaufmanexpensify commented on #11316
Even with refreshing the page each time, I still can't reproduce on my end. I see `Continue with setup` every time I click `Connect bank account`. I think we'd need to be able to successfully reproduce the bug to proceed.

@JmillsExpensify you want to give it another try?

[2022-10-07 13:04] trjExpensify commented on #11229
In normal use with a speedy app, I think it will be incredibly unlikely that you can quickly tap both of these with the same thumb before the first action is registered.

Nevertheless, I've been testing using two thumbs to quickly tap multiple pieces of UI on a few native apps (i.e WhatsApp, Twitter etc) and they all ignore the final action. I think we're right to stick with this:

[2022-10-07 13:04] Puneet-here commented on #11318
I think the compensation should be $500. I had reported this issue ([here](https://expensify.slack.com/archives/C01GTK53T8Q/p1662750530375309)) and a deploy blocker yesterday ([here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664994310748019)) both were unrelated and valid bugs and were fixed in https://github.com/Expensify/App/pull/11616

[2022-10-07 13:27] Julesssss commented on #10931
Unable to reproduce on Android. The keyboard no longer pops up like the original screencasts show. `Pixel 6A, Android 13 `

https://user-images.githubusercontent.com/10736861/194564695-3d4083f9-2b32-424c-a1e0-ce62788689fd.mp4

[2022-10-07 13:32] kevinksullivan commented on #11235
doubled

[2022-10-07 13:51] iwiznia commented on #11658
I see 2 uses of this property without using lodash or checking the value exists. Not sure which of them it was that threw here nor how to reproduce the issue.

[2022-10-07 13:52] thesahindia commented on #11261
Can we add some space between the error and typing indicator?

[2022-10-07 13:54] joekaufmanexpensify commented on #11654
Having trouble reproducing in web, discussing [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1665150847778259?thread_ts=1665001946.509239&cid=C01GTK53T8Q).

[2022-10-07 13:57] Julesssss commented on #11513
Thanks @mananjadhav for volunteering. I'm curious to see whether you can reproduce this bug on a simulator with the hardware keyboard disconnected.

[2022-10-07 14:08] sketchydroide commented on #11237
I can't replicate this on dev, none of the steps previously described, will try again on staging

[2022-10-07 14:08] thesahindia commented on #11462
@adelekennedy,  Should we double to get more 👀

[2022-10-07 14:11] Julesssss commented on #11632
@flodnv it does, but I don't actually see the same result...

https://user-images.githubusercontent.com/10736861/194573739-89415103-d829-40ab-847d-65326757f93f.mov

Hi @kavimuru, perhaps there is an extra step that you did that I missed? Because I can't reproduce with those steps above (web)

[2022-10-07 14:12] dhairyasenjaliya commented on #11291
Yes i guess we can, but will test and update soon

[2022-10-07 14:16] parasharrajat commented on #10181
Will review this today?

[2022-10-07 14:17] getusha commented on #11336
@marcochavezf @mananjadhav
 go to https://staging.new.expensify.com/ on the login page
-  zoom in until you get the scroll bar
-  focus the email text field
- scroll and you see the tooltip hides

The autofill hides itself when it detects a scroll on the body ( not custom overflows on div )
I have a fix for this but the outcome is it completely removes focus from the input is that okay?

[2022-10-07 14:32] #10108 closed

[2022-10-07 14:34] thesahindia commented on #11433
@MarkCSmith, is there any reason that the blue outline only shows up  when popover menu gets closed after pressing some key?

I found that when you open a popover menu let's say call option (at top right) and press some key now when you close the popover the blue outline will be shown. You can click somewhere to close the popover menu or you can just press enter.
For emoji button we use Pressable

[2022-10-07 14:38] thesahindia commented on #11433
@NicMendonca, let's reassign @roryabraham here, they got unassigned accidentally.

[2022-10-07 14:42] #9497 closed

[2022-10-07 14:47] youssef-lr commented on #11491
Can't reproduce this in staging anymore, there was a server-side fix [here](https://github.com/Expensify/Web-Expensify/pull/35072) that potentially solves this.

[2022-10-07 14:48] youssef-lr commented on #11490
@trjExpensify server-side [fix](https://github.com/Expensify/Web-Expensify/pull/35072) deployed to staging and I can confirm I can longer reproduce this.

[2022-10-07 14:48] kbecciv opened #11669 "Android - The archived room opened empty and did not disappear from the LHN page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11631

## Action Performed:
1. Go to URL https://staging.new.expensify.com/ an

[2022-10-07 14:49] parasharrajat commented on #11124
I reported this issue a  while back https://github.com/Expensify/App/issues/10624. Although, I was able to reproduce it CME was not.

[2022-10-07 14:52] thesahindia commented on #11171
@Luke9389, let's change the label to weekly.

[2022-10-07 14:52] parasharrajat commented on #11561
@smrutiparida We already do that. Please check the code and let us know if you feel something is off.

[2022-10-07 15:01] sketchydroide commented on #11237
I'm having some trouble checking on this today, I think it's because I'm working from a coworking space today, will chack again on monday from home

[2022-10-07 15:02] thesahindia commented on #11491
@NicMendonca, let's close this.

[2022-10-07 15:17] maddylewis commented on #11318
@aldo-expensify @michaelhaxhiu - will you confirm those details for me ^^^

[2022-10-07 15:49] AndrewGable commented on #11339
Ok so let's close!

[2022-10-07 15:49] #11339 closed

[2022-10-07 15:52] AndrewGable commented on #10492
@Expensify/contributor-management - I think both might be OOO, can someone please handle this? Thanks

[2022-10-07 15:52] michelle-thompson commented on #10224
Does `closeAccount` mean the account was deleted or the user logged out?

[2022-10-07 15:52] #11491 closed

[2022-10-07 15:56] michelle-thompson commented on #10224
I think the above screenshot looks good 👍

[2022-10-07 15:57] kbecciv commented on #10931
Checking with team, will update you shortly

[2022-10-07 16:00] kbecciv commented on #11512
@mananjadhav Its happening on other pages as well.

[2022-10-07 16:05] kbecciv commented on #10931
QA team is still reproduced this issue with latest build 1.2.12.2

https://user-images.githubusercontent.com/93399543/194598426-014e835d-974f-4876-92a5-8a608711342e.mp4

[2022-10-07 16:08] luacmartins commented on #11318
@maddylewis that is correct. The compensation should be $500 for the two issues reported as @Puneet-here mentioned!

[2022-10-07 16:10] #9577 closed

[2022-10-07 16:12] dhairyasenjaliya commented on #11291
@rushatgabhane yes worked well even on passing `pointerEvents: "auto"` as a style
- we should create files the same as `styles.pointerEventsNone`

https://user-images.githubusercontent.com/47522946/194599518-b993c674-6e75-47ea-a2d7-4fe6e04d8ebb.mov

[2022-10-07 16:19] MitchExpensify commented on #7737
On hold still

[2022-10-07 16:20] MitchExpensify commented on #4733
Seems like time to double, what do you think @Luke9389?

[2022-10-07 16:37] AndrewGable commented on #11646
Removed per discussion here: https://expensify.slack.com/archives/C01GTK53T8Q/p1665090504375479

[2022-10-07 16:42] mollfpr commented on #11462
### Updated proposal
Since we migrate from `setNativeProps` and use controlled input. We can remove the `onChange` to update the number of lines and use the controlled props value to call `this.updateNumberOfLines()`.

[code]

https://user-images.githubusercontent.com/25520267/194604591-d318206c-452f-4b87-b9e3-f07b687c6cdf.mov

https://user-images.githubusercontent.com/25520267/194604623-731debdd-

[2022-10-07 16:47] dangrous commented on #11057
Holding for keyboard push

[2022-10-07 16:49] parasharrajat commented on #11659
This should be reviewed by design team first.

[2022-10-07 16:49] 1notchdev commented on #11636
### Proposal

From the error states from Firebase, I noticed that the crash is caused due to the `toLowerCase` of the undefined or null variable in `each` loop in `generateDefaultWorkspaceName` function, and I found that this function is in only `src/libs/actions/Policy.js` .

And in this `each` loop, there are 2 `toLowerCase` in line 728 as following:
[code]
In this line, I found that `defaultWor

[2022-10-07 16:53] parasharrajat commented on #7185
Thanks, Chirag. @chiragsalian Could you please take care of the payment for this? Original job posting where contract is live https://www.upwork.com/jobs/Handle-API-response-inVBA-flow-when-tapping-finish-Set-7185-Expensify_~01c21d7847d9c14366

[2022-10-07 16:55] aldo-expensify commented on #11318
hmm, but as far as I know, we never got to triage / reproduce the issue reported in slack: https://expensify.slack.com/archives/C01GTK53T8Q/p1664994310748019. If it had been triaged, there could have been a chance of it getting closed because of being the same as this one.

[2022-10-07 16:56] michelle-thompson commented on #11229
Yeah, I agree with the first action taking priority.

[2022-10-07 17:01] trjExpensify commented on #10931
Hm, is that iOS or Android?

[2022-10-07 17:08] michelle-thompson commented on #11346
I think the easiest thing to do here would just be to shorten the hint text - thoughts?

[2022-10-07 17:11] dhairyasenjaliya commented on #11659
Agreed

[2022-10-07 17:13] getusha commented on #11336
# Proposal

..........

[code]
[code]

[code]
## **Final Result**

https://user-images.githubusercontent.com/75031127/194609325-8c4dfa17-1ed2-4439-817b-bd9941ffbad5.mp4

[2022-10-07 17:14] lschurr commented on #11658
Created job: https://www.upwork.com/ab/applicants/1578433449336766464/job-details

[2022-10-07 17:18] strepanier03 commented on #11636
Thank you for posting your proposal as well @1notchdev.

@eVoloshchak a second proposal has been posted and is ready for review. Keeping this set to Daily.

[2022-10-07 17:19] michaelhaxhiu commented on #11318
Spoke more with @aldo-expensify 1:1 and while this feels like both bugs were similarly related, I think there's a case to be made for treating them separately. Let's pay out $500 total for both this time.

[2022-10-07 17:27] kavimuru opened #11671 "BUG: unread indicator count is not reset after logout reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open the app on web.
2. Login with any account that has some unread messages.  (to get unread messages send some messages fro

[2022-10-07 17:39] puneetlath commented on #10627
All paid. Thanks everyone!

[2022-10-07 17:39] #10627 closed

[2022-10-07 17:42] puneetlath commented on #10865
@mollfpr paid.

@rushatgabhane hiring offer sent.

[2022-10-07 17:45] grgia commented on #10524
I met with Neil and this is what we discussed:

We use NetworkConnection [functions](https://github.com/Expensify/App/blob/a24de554bd2e70575f4389942d6132d7ca9ea082/src/libs/NetworkConnection.js#L51-L97) to handle our listeners.
We start listening for Network Connection when we build the App [here](https://github.com/Expensify/App/blob/main/src/Expensify.js#L93), which was why removing the listener

[2022-10-07 17:45] puneetlath commented on #10865
@rushatgabhane paid.

Also sent hiring offer to @mdneyazahmad. Sorry, almost forgot about you!

[2022-10-07 17:48] puneetlath commented on #10865
All paid now. Thanks everyone!

[2022-10-07 17:48] #10865 closed

[2022-10-07 17:49] trjExpensify commented on #2545
Didn't we complete the bidirectional scrolling issue, so can't this come off hold now or are we actually held on comment linking or something?

[2022-10-07 17:49] puneetlath commented on #11427
Still waiting for proposals.

[2022-10-07 17:49] JmillsExpensify commented on #2545
Yeah agreed, I don't think this issue should on hold anymore.

[2022-10-07 17:50] kbecciv commented on #10931
This is IOS app

[2022-10-07 17:50] marcaaron commented on #11426
**Update:** Still working on this. Mainly have been blocked on a change that the upgrade caused for the native side. Before the upgrade, tapping on a drawer item would make the UI freeze up until the next chat screen is ready to view. After the upgrade we navigate immediately, but still the old chat can be seen before transitioning to the new chat.

I think both are downsides, but I'd rather have

[2022-10-07 17:51] MarkCSmith commented on #11433
In testing on iOS 15 with the web app (in Safari), my colleague and I see the blue outline if we just open and close the action menu by tapping (no keyboard involved).  When we use the emoji picker we don't see the blue focus ring at all, but that is because of the following code in `pages/home/report/ReportActionCompose.js` which returns focus to the text input field after the emoji picker modal

[2022-10-07 17:54] michaelhaxhiu commented on #2545
Ugh damn, definitely got confused by the titling of https://github.com/Expensify/App/issues/2985 (which is actually about comment linking).

[2022-10-07 17:57] youssef-lr commented on #11189
Got it! I'll start working on the Web-E PR.

[2022-10-07 17:59] roryabraham commented on #11053
I don't feel great about losing that feature, let's be sure to create a follow-up issue to try re-implementing after Fabric is enabled

[2022-10-07 18:02] trjExpensify commented on #4010
👋 @Julesssss - https://github.com/Expensify/App/issues/4010#issuecomment-1216912428 as per this comment, does this issue still need to be open?

[2022-10-07 18:02] JmillsExpensify commented on #4010
Related Q: Should this be linked to a larger tracking issue?

[2022-10-07 18:03] Luke9389 commented on #4733
Dang, that's a big double for a pretty subtle front end issue.
I'd like to bring this up to other CMEs first.

[2022-10-07 18:04] youssef-lr commented on #11526
Server-side [fix](https://github.com/Expensify/Web-Expensify/pull/35072) has been deployed to staging and I can confirm I can longer reproduce this.

[2022-10-07 18:05] michaelhaxhiu commented on #2545
Going to take the liberty to price this at $500 to start. cc @kidroca in case you want to close a cold case 🕵️ 💼

[2022-10-07 18:05] Puneet-here commented on #11462
### Proposal

The problem is that we use `updateNumberOfLines` for updating the lines at onChange but when we add an emoji we add it to the value and the value is passed to the composer so onChange doesn't work in that case. https://github.com/Expensify/App/blob/d7651e06fbb5d5807aba85b7b72dc9c6b96a9a4f/src/components/Composer/index.js#L376-L378

https://github.com/Expensify/App/blob/d7651e06fbb5d5

[2022-10-07 18:05] kavimuru opened #11674 "BUG: Right side section moving when pressing "sign in " in the password page with error message reported by @wildan-m"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Make blocked account by performs failed login attempts numerous times.
2. Go to login page and fill username
3. Zoom in the b

[2022-10-07 18:05] Luke9389 commented on #11283
@getusha you can just post in here in the thread.

[2022-10-07 18:06] Luke9389 commented on #10851
Sorry about that @aimane-chnaif. My mistake 🙇

[2022-10-07 18:08] trjExpensify commented on #4264
Can we pop a `[Hold #219254]` in the title to link to the notifications project, so it's clear what this is held on?

[2022-10-07 18:14] Puneet-here commented on #11283
I think we shouldn't merge them
1. https://github.com/Expensify/App/issues/11382 is a Safari only issue and isn't reproducible on newer versions of safari and on the other hand this is an issue which is a regression from https://github.com/Expensify/App/pull/8874,
I think we should first check if [#11382](https://github.com/Expensify/App/issues/11382) can be fixed by our code changes because if we

[2022-10-07 18:15] Luke9389 commented on #4733
Wait is this even reproducible? This looks normal to me:
![Screen Shot 2022-10-07 at 10 54 20 AM](https://user-images.githubusercontent.com/49007721/194623291-b1544caa-9fa0-40ca-8d81-c6ec372450af.png)

What do you think @isagoico?

[2022-10-07 18:17] michaelhaxhiu commented on #2545
@Expensify/applause Can someone please test this issue again to ensure it's still reproducible on **Android**?

[2022-10-07 18:17] chiragsalian commented on #11419
LGTM too. Feel free to create the PR @Puneet-here.

[2022-10-07 18:17] Luke9389 commented on #11171
It might be best to close this actually. This crash happened 13 times. Maybe it was due to something that's no longer happening? This issue will get reopened if it happens again.

[2022-10-07 18:19] parasharrajat commented on #4733
Try it on Android.

[2022-10-07 18:21] Luke9389 commented on #4733
oh duh my bad.

[2022-10-07 18:22] chiragsalian commented on #10483
I'll reopen so @dylanexpensify, sees it on his github tasks, but I'll unassign myself since there is nothing actionable here for me.

[2022-10-07 18:26] Puneet-here commented on #11318
I have applied.

[2022-10-07 18:30] marcaaron commented on #11493
@techievivek as this is a Daily I would recommend providing whatever details you have and removing your assignment so someone else can look into it.

[2022-10-07 18:40] marcaaron commented on #11091
Agree cancelling the timer when the component unmounts is a better approach.

[2022-10-07 18:43] mvtglobally commented on #11623
Checking off https://github.com/Expensify/App/pull/11634

CP https://github.com/Expensify/App/pull/11631 is failing https://github.com/Expensify/App/issues/11669

[2022-10-07 18:50] kavimuru opened #11675 "[$250] BUG - First contact is highlighted when start a new chat or group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to NewDot and login
2. Click Global Fab and select New chat / New group

## Expected Result:
1st row shouldn't be highlight

[2022-10-07 18:51] tjferriss commented on #11487
@Puneet-here has pointed out that we're actually applying these links ourselves. You can find it [here](https://github.com/Expensify/App/blob/a7203176e8521474197b428eb1c4e28f3cf4e4cb/src/pages/DetailsPage.js#L150). My suggestion would be to standardize on the web approach and eliminate this link on mobile rather than highlight it blue.

[2022-10-07 18:55] michaelhaxhiu commented on #11318
Done deal, closing.

[2022-10-07 18:55] #11318 closed

[2022-10-07 19:02] kavimuru opened #11676 "Feature Request - Message does not appear ~Strikethrough~ in LHN when the message sent is strikethrough format"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot
2. Send a message to any chat with strike through

## Expected Result:
Message in LHN should appear with ~striketh

[2022-10-07 19:09] Luke9389 commented on #11377
When testing this locally, I got this error:
[code]

I then decided to check out [our logs](expensify.com/_devportal/tools/logSearch/#sort=asc&size=10000&query=blob%3A"'updateCommentNewDot'"%20AND%20timestamp%3A%5B2022-09-30T00%3A00%20TO%202022-10-08T23%3A59%5D) and it looks like Report::updateCommentNewDot is hitting this a lot.

[2022-10-07 19:15] mvtglobally commented on #11623
Outstanding items summary

https://github.com/Expensify/App/pull/11538#issuecomment-1269578201 - internal QA
CP https://github.com/Expensify/App/pull/11631 is failing https://github.com/Expensify/App/issues/11669
PR https://github.com/Expensify/App/pull/10967 is Blocked on mWeb due to https://github.com/Expensify/App/issues/7270
PR https://github.com/Expensify/App/pull/11371 is failing due to http

[2022-10-07 19:20] JmillsExpensify commented on #2545
Thanks for getting this one going again!

[2022-10-07 19:22] kavimuru opened #11677 "BUG: "You appear to be offline" shows when I'm online"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Closed computer yesterday.
2. Opened computer today, I'm online with fast and dependable internet.
3. Opened NewDot. I think

[2022-10-07 19:26] adelekennedy commented on #11462
@thesahindia we're at that time! happy to double if we think we need more proposals

[2022-10-07 19:42] JmillsExpensify commented on #7270
Jumping in to test now

[2022-10-07 19:45] JmillsExpensify commented on #7270
This isn't good. I can't even get to the KYC flow after coming back from Plaid. I just get an infi-spinner. Was able to reproduce twice using steps 1-5 in the OP.

![IMG_0236](https://user-images.githubusercontent.com/1127863/194641358-ce43a1e9-02b7-4f24-bc8c-c415779b0950.PNG)

[2022-10-07 19:46] JmillsExpensify commented on #7270
Clicking out of the RHN and navigating back to Connect Bank > Plaid also didn't allow me to get around this.

[2022-10-07 19:46] johnmlee101 commented on #11669
@kbecciv what happens if you do a clean sign out and come back in, does it still occur?

[2022-10-07 19:47] srikarparsi commented on #11629
@kavimuru for this [issue](https://github.com/Expensify/App/issues/11629), what is the expected outcome? Is it the text “you are offline” at the bottom right of the modal?

[2022-10-07 19:55] pecanoro commented on #11366
This is in production already! We need to pay the bug bounty for reporting, so assigning a CME!

[2022-10-07 19:58] pecanoro commented on #11366
@joekaufmanexpensify  We just need to pay the reporting bonus since we fixed it internally!

[2022-10-07 19:58] mananjadhav commented on #11513
Okay so weirdly I can neither reproduce this on physical device (iPhone 12, iOS 15.5) nor simulator (iPhone 7 13.3, iPhone 8 14.4, iPhone 13 15.5).

[2022-10-07 19:59] Santhosh-Sellavel commented on #10202
@trjExpensify

No, we are putting it on hold for the following reasons.

1. We treated this as a bug but this seems to be a regression as said [here](https://app.slack.com/client/T03SC9DTT/C01GTK53T8Q/thread/C01GTK53T8Q-1663811385.287129) and I'm doing RCA to find the offending PR
2. Also I'm not satisfied with the back-forth changes made in PR that differ from the proposed changes.
3. Proceeding

[2022-10-07 20:06] AndrewGable commented on #11623
Since https://github.com/Expensify/App/issues/11632 is [not reproducible](https://github.com/Expensify/App/issues/11632#issuecomment-1271650706), then yes lets check off https://github.com/Expensify/App/pull/11371

[2022-10-07 20:14] Puneet-here commented on #11316
I think I have found the steps to repro this more easliy.

1. Decrease the screen size so that you don't see the LHN
2. Go to workspace > issue cards > connect bank account
3. Check what page is opening > dismiss the page and refresh and repeat the steps again

https://user-images.githubusercontent.com/101883770/194645484-56fcc4d9-a056-49c5-b7a9-7d320362e840.mov

[2022-10-07 20:14] techievivek commented on #11493
Not at the moment to be honest because even the linked [PR](https://github.com/Expensify/Web-Expensify/pull/33495) was in the open state for a very long but since the code changes in the PR are very less one will be able to figure out if the linked PR is the cause of regression. If no one picks this up by the weekend I can look into it.

[2022-10-07 20:15] JmillsExpensify commented on #7270
I was able to reproduce on iPhone mWeb as well.
![IMG_5319](https://user-images.githubusercontent.com/1127863/194645845-49aef3a0-7f08-4d45-a75f-adb6a59efc8b.PNG)

[2022-10-07 20:17] Uros787 commented on #11636
Hi @eVoloshchak , not only did I provide the solution first but I enhanced it for possible future errors.

Even if you don't want the first part of the solution you could've just said that I shouldn't implement that.

I don't believe that this is fair

[2022-10-07 20:18] JmillsExpensify commented on #7270
Reaching out to others to see if this is reproducible for them, or something specific to my account.

[2022-10-07 20:20] aneequeahmad commented on #10888
@mananjadhav, I'll share the updated proposal over the weekend. Thanks for mentioning.

[2022-10-07 20:22] ItsJustTomDev commented on #11512
@mananjadhav @kbecciv, alright guys, I have not seen the `WorkspacePageWithSections` 😅
I will setup a local dev environment  up tomorrow so I can debug this issue, there should be something wrong with fetching the data.

[2022-10-07 20:25] johnmlee101 commented on #11669
Also is that archived chat still pinned in this case? Or is it unpinned?

[2022-10-07 20:26] pecanoro commented on #10930
The cause of this is probably the same one as this one https://github.com/Expensify/App/issues/11366

[2022-10-07 20:29] eVoloshchak commented on #11636
@1notchdev  provided the solution [here](https://github.com/Expensify/App/issues/11636#issuecomment-1270833975), which was 11 hours before your proposal.

While I agree that there was no **Proposal** title and the proposal was submitted against the guidelines, it still was a piece of code that resolves this issue.

But yeah, _technically_, their first proposal was invalid.

@puneetlath , @strepani

[2022-10-07 20:36] Uros787 commented on #11636
Not only that proposal was invalid, but their optional chaining solution was invalid.
But an invalid proposal should be enough by itself to dismiss their solution, otherwise, why is there even a proposal mechanism

[2022-10-07 20:36] Puneet-here commented on #11423
Yeah the keyboard opens, it was on simulator and I hadn't turned on the soft keyboard. I have checked it and it's working.

[2022-10-07 20:45] mallenexpensify commented on #11677
@MonilBhavsar , will you see if you're able to reproduce?  We might want to add `Needs Reproduction` label but, with this happening twice, I'd like to avoid it going into the 'needs repro' abyss and not getting addressed.

[2022-10-07 20:48] pecanoro commented on #10930
Same cause but a different place, I know where the bug is so I am going to assign myself to fix it since the problem is Web again.

[2022-10-07 20:49] JmillsExpensify commented on #7270
Alright, reproducible on other expensifail.com accounts. cc @michaelhaxhiu who was also able to reproduce.

[2022-10-07 20:49] johnmlee101 commented on #11669
If the chat is still pinned in this case, this is expected functionality and not a regression!

[2022-10-07 20:50] pecanoro commented on #10930
Removing everyone since I will fix it internally.

[2022-10-07 20:50] michaelhaxhiu commented on #7270
Signed into mhaxhiu@expensifail.com > create new workspace > connect bank account > load forever.

<img width=300 src=https://user-images.githubusercontent.com/13206896/194650345-05b5371e-86ca-4547-8729-7fc4e18c2571.png>

[2022-10-07 20:50] johnmlee101 commented on #11623
https://github.com/Expensify/App/issues/11669 doesn't look to be a blocker and is expected functionality

[2022-10-07 20:51] johnmlee101 commented on #11623
So https://github.com/Expensify/App/pull/11631 should be good in that case!

[2022-10-07 20:52] JmillsExpensify commented on #7270
I think this is regrettably a deploy blocker. Throwing the label on.

[2022-10-07 20:53] OSBotify commented on #7270
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-07 21:09] JmillsExpensify commented on #7270
Yeah, super weird. Got a couple more testers in the mix, and they were not able to reproduce, so I'm comfortable removing the blocker since this is variable.

[2022-10-07 21:09] techievivek commented on #11623
QA'ed https://github.com/Expensify/App/pull/11538 by uploading a corrupted PDF file, and it seemed to work fine, so checking it off.

[2022-10-07 21:19] thesahindia commented on #11433
Yeah we have a different issue for this but that's only reproducible on safari and the issue we wanna deal here is reproducible on desktop and web(all browsers).

I am on mac and using chrome browser.

@roryabraham, any thoughts?

[2022-10-07 21:20] 1notchdev commented on #11636
Hi @eVoloshchak ,

I updated my solution as per [STYLE.md](https://github.com/Expensify/App/blob/main/contributingGuides/STYLE.md#accessing-object-properties-and-default-values) as following:

Update only line 726 in `Policy.js`
https://github.com/Expensify/App/blob/a7203176e8521474197b428eb1c4e28f3cf4e4cb/src/libs/actions/Policy.js#L726

to

[code]

I'll update my PR, too.

And in @Uros787 's sol

[2022-10-07 21:23] johnmlee101 commented on #11669
Will wait for your response before closing this out

[2022-10-07 21:33] michaelhaxhiu commented on #10893
Doubled

[2022-10-07 21:34] michaelhaxhiu commented on #11415
Doubling. @gohar95 you still can submit a viable proposal here, but I want to clarify that this job is still available to others too until then.

[2022-10-07 21:35] getusha commented on #11283
Here is a solution for this
Actually the outline is present but not fully visible

Here is a solution for that and please reconsider my proposal. Thank you.

Add `margin: 1`
[code]

**Result**

https://user-images.githubusercontent.com/75031127/194660919-755a2697-6262-4967-bf44-f1c6bed11df3.mp4

[2022-10-07 21:36] AndrewGable commented on #11660
FYI - This happens on both staging and production, so I do not think that it was introduced by https://github.com/Expensify/App/pull/11533

[2022-10-07 21:54] JmillsExpensify commented on #7270
Alright, here's the not good news. I can also reproduce this.
![IMG_0237 2](https://user-images.githubusercontent.com/1127863/194668050-7f2f9286-40ff-4f08-8f47-28e0093623e1.PNG)

[2022-10-07 21:55] ajaynagwani777 commented on #11658
### PROPOSAL

The firebase error states that the crash is due to unable to read property `additionalData` of undefined. All other places where this property is used are being appropriately handled using lodashGet, except these places:
1. `getBankIcon` function in `EnableStep.js`

    Current usage:
     const {icon, iconSize} = getBankIcon(account.additionalData.bankName);

     Fix:
     const {i

[2022-10-07 22:03] thesahindia commented on #11462
I think the proposals above will do the job, so no need to double. I will review them in the morning (it's 3 a.m. for me right now 😶‍🌫️)

[2022-10-07 22:14] JmillsExpensify commented on #7270
Also reproducible on production. Not staging specific bug.

[2022-10-07 22:18] roryabraham commented on #11433
I'm fine with handling this on a case-by-case basis and accepting the small amount of extra complexity to try and keep a semblance of accessibility, but it's also worth noting that our app is unfortunately currently almost completely unusable to visually impaired users that rely on screen readers. 😞

[2022-10-07 22:22] kidroca commented on #2545
I was able to recreate this on Android Emulator
Checkout around the 4th and the 20th second marks:

https://user-images.githubusercontent.com/12156624/194669183-750c04a3-a022-443e-8997-eed8900ad361.mp4

I'm not sure what causes this, but it's probably related to virtualization and items being rendered outside the view window
As we scroll down actions are removed from the top and added to the botto

[2022-10-07 22:26] roryabraham commented on #8503
I'm going to create a separate tracking issue to enable React 18 on all platforms. Completing this issue and turning on Fabric will be one of those requirements.

[2022-10-07 22:31] roryabraham opened #11680 "[HOLD #8503] [Tracking] [Performance] Enable React 18"
### Problem
React 18 introduces a lot of new features that improve performance. Some of those, such as "Automatic Batching" come out-of-the-box for free, and others such as Suspense, `startTransition`, and `useSyncExternalStore` are opt-in.

However, we can't use the opt-in features until React 18 is supported on all platforms.

### Solution
Enable React 18 on all platforms. This involves a number

[2022-10-07 22:31] roryabraham commented on #11680
Branched this issue off from https://github.com/Expensify/App/issues/8503 for a more correct separation of  concerns.

[2022-10-07 22:42] parasharrajat commented on #11658
It is pretty reasonable to assume that both of these places should have value in the parent object whether it is `account` or `card`. And even if these are the real causes of this crash, fixing these lines will not prevent crashes. the next lines in the same context will cause another crash.

So I don't think that blindly patching the code will be a good decision here.

The best approach would be

[2022-10-07 22:51] AndrewGable commented on #11623
Ok we got this down to two last items!

1. @MariaHCD: We (@JmillsExpensify and I) were unable to QA your PR because of this issue which is present on production and staging: https://github.com/Expensify/App/issues/7270 Can you please find a way to validate your PR works? This may include fixing https://github.com/Expensify/App/issues/7270, or finding some other test steps to validate your PR is wo

[2022-10-07 23:12] roryabraham commented on #10698
Confirmed I'm able to reproduce this. @NicMendonca let's get an Upwork job created for this. Bumping to Daily just to get the job up and the `Help Wanted` label added, then we can make this a weekly.

[2022-10-07 23:13] roryabraham commented on #9725
No update

[2022-10-07 23:52] ajaynagwani777 commented on #11658
@parasharrajat To check the flow I would need to go to the Reimbursement account page and need to add the bank account to get the cards list. I am not sure about doing that.

Also, I mapped the bundle code with the line. It is pointing to `AppDownloadLinksPage` and this has no connection with the `additionalData` field.

[2022-10-07 23:56] mallenexpensify commented on #11100
You're welcome @sobitneupane .  You're paid and both Upwork jobs are closed.

[2022-10-07 23:56] #11100 closed

[2022-10-07 23:59] mnosov622 commented on #11488
Hello @kavimuru !

Can you assign this issue to me, please ?

I would love to fix this bug.

[2022-10-08 00:01] parasharrajat commented on #11658
It is a little bumpy to map the source. You will have to map the code to the exact version. If you are checking the latest at the main, it will not match as we are continuously making changes to the main.

This is a little challenging. Unfortunately, I don't have more details on this. I hope that others might be able to help. Meanwhile, I suggest you take a look at other open jobs which you are ab

[2022-10-08 00:15] mallenexpensify commented on #11490
Thanks for the quick fix @youssef-lr !!!

[2022-10-08 00:19] mallenexpensify commented on #10492
I gotcha @rushatgabhane , thanks for the group ping @AndrewGable
Rushat, please accept and confirm in a comment when you have https://www.upwork.com/jobs/~01b4093820c34c57f7

[2022-10-08 00:21] mallenexpensify commented on #11491
Also can't repro

[2022-10-08 00:29] mallenexpensify commented on #10851
@aimane-chnaif , hired ya, please accept and confirm in a comment here once done
@aneequeahmad , please apply for reporting bonus
https://www.upwork.com/jobs/~012db7ac764c9ff33b

[2022-10-08 04:03] gadhiyamanan commented on #11488
**Proposal**

use `style={[styles.mutedTextLabel, styles.flex1]}` instead of `style={styles.mutedTextLabel}`
https://github.com/Expensify/App/blob/159249bb82317fcd6bd06bc8d4f9127c300a9f9c/src/pages/ReimbursementAccount/BankAccountStep.js#L253-L255

[2022-10-08 04:57] mvtglobally commented on #9391
We will check tomorrow during KI retests to ensure its no longer happening

[2022-10-08 06:57] bernhardoj commented on #11522
### **Proposal**
I think we can just change `includePersonalDetails` to `false`. We ignore personal details because it does not contain any chat.

_**OptionsListUtils**_
[code]

### **Result**

https://user-images.githubusercontent.com/50919443/194694322-10c65522-44df-4fb3-b936-25ff69078b87.mp4

[2022-10-08 07:27] nonamebmt94 commented on #11529
No, I can't consistently repro this issue. I just fixed it based on the information the ticket gave. And this issue is because the "**accountNumber**" return undefined and I have implemented "**toString**" to cover another exception case, like we know slice function just works with string or array. You can see the record screen to get more detail.

https://user-images.githubusercontent.com/5508889

[2022-10-08 08:44] nonamebmt94 commented on #11554
Hi @sketchydroide  @eVoloshchak thanks to your help I was success decoded main.jsbundle and it point to function [selectAccount](https://github.com/Expensify/App/blob/18fcaf43ae69f6a9e445f586b3f90f8d582eff18/src/components/AddPlaidBankAccount.js#L118-L120) ==> supports my proposal:
<img width="654" alt="Screen Shot 2022-10-08 at 14 39 42" src="https://user-images.githubusercontent.com/55088893/194

[2022-10-08 15:46] mnosov622 commented on #11404
Hello !

I would love to work on this issue. Could you assign it to me, please ?

[2022-10-08 16:07] hannojg commented on #10962
I'd add this PR as well:

https://github.com/Expensify/App/pull/11684

The reason for investigation was this described issue: https://expensify.slack.com/archives/C035J5C9FAP/p1664523169910029?thread_ts=1664522847.768359&cid=C035J5C9FAP

[2022-10-08 16:11] Puneet-here commented on #11414
### Proposal

The add payment method was meant to be at the bottom but after wrapping it with the offlineIndicator its position changed.

To fix this we have to pass styles.flex1 in style and contentContainerStyle(this prop is not available right now but a PR is up for it) prop at `OfflineWithFeedback` https://github.com/Expensify/App/blob/7b21103bb56eb0cf3fc1561715613d2a16c3255f/src/pages/setting

[2022-10-08 16:59] sheggietyn commented on #11199
i have downloaded the project, but i need to be assured that i will be paid before working on it, because the project looks like an opensource project already

[2022-10-08 18:48] aneequeahmad commented on #10851
@mallenexpensify i have applied for the reporting bonus. Thanks

[2022-10-08 19:32] thesahindia commented on #11102
@aimane-chnaif's [proposal](https://github.com/Expensify/App/issues/11102#issuecomment-1267921138) looks good to me.

C+ reviewed 🎀👀🎀

cc: @stitesExpensify

[2022-10-08 19:55] thesahindia commented on #11462
Both the proposals are using the same approach to handle this but @Puneet-here's proposal also fixes a case which @mollfpr didn't include in their proposal.

We call `updateNumberOfLines` at onChange for updating lines and we can call it at `componentDidUpdate` when value changes. The only problem will be in the case where we don't get any value from the parent @Puneet-here's proposal deals with i

[2022-10-08 20:14] kbecciv opened #11685 "Workspace - No #admins and #announce rooms after creating workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to https://staging.new.epensify.com/
2. Sign in with expensifail account
3. Create new workspace
4 Return to LHN and

[2022-10-08 20:15] OSBotify commented on #11685
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-08 23:07] kbecciv opened #11686 "Search - Room and Workspace does not displayed for invited user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
in maim and incognito windows and login with different Expensify users (A and B)

[2022-10-08 23:08] OSBotify commented on #11686
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-09 01:58] mollfpr commented on #11462
I think the `Composer` meant to be controlled input so will have the props `value`.

The other components that use `Composer` but not using multiline is emoji search input and I’m not understand we use `Composer` input than regular TextInput but the `updateNumberOfLines` is no use because it’s not multiline and I don’t think we will have the search input as multiline 🤔

[2022-10-09 02:41] kavimuru opened #11687 "BUG: Checkbox current state is not saved in draft on Connect bank account page reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open the app on web.
2. Go to settings page.
3. Open any workspace(Create new if does not exist).
4. Scroll to the end of wor

[2022-10-09 03:04] kavimuru opened #11688 "BUG: when deleting the last message of a conversation (own messages) the chat is marked as unread for a moment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to ND and login
2. go to a report and delete the last message (own message)

## Expected Result:
LHN should be updated with

[2022-10-09 03:18] kavimuru opened #11689 "[HOLD for payment] [$250] BUG: Prevent editing messages sent to Chronos"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Send any message to chronos
2. Edit message sent to chronos
3. See Auth UpdateReportComment returned an error
3. Notice that

[2022-10-09 03:42] sobitneupane commented on #10848
Adding [styles.lh16](https://github.com/Expensify/App/issues/10848#issuecomment-1239058273) will be enough to make Payment methods height 64. But I am not sure what is the expected output here. Want to have some feedback from Design team before moving forward.

cc: @MonilBhavsar, @shawnborton

[2022-10-09 03:47] kavimuru opened #11690 "Bug: There's no alphabetical order for workspaces and after creating new workspaces on refresh their order changes reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to settings > Create 3 workspaces "A", "B", "C"
2. Go to settings again
3. Refresh

## Expected Result:
They should be in

[2022-10-09 04:04] kavimuru opened #11691 "Feature Request :The push notification gets cleared if I read the message on desktop"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to same account in 2 devices (Web and iOS)
2. Send a message from another account
3. Get notification in both the device

[2022-10-09 05:43] sobitneupane commented on #11486
@aimane-chnaif We would want this issue to be fixed without creating the other issue. So, Proposal that fixes this issue without affecting other would be ideal.

[2022-10-09 08:06] hannojg commented on #8349
In this PR: https://github.com/Expensify/App/pull/11684 i completely got rid of the `selection` prop, and on my android devices the menu is being displayed. Can anyone of you who had the issue test the PR and can confirm its fixed?

[2022-10-09 09:44] Puneet-here commented on #11462
As I said here. the value prop isn't required, It will be a problem when we use composer without passing value in future (example for a page where we want multiline text input that increases in size)

[2022-10-09 10:10] parasharrajat commented on #8349
I will check.

[2022-10-09 10:33] parasharrajat commented on #11199
Good question, I think the first thing that you can check to make sure is to look at the spending on Upwork.
![image](https://user-images.githubusercontent.com/24370807/194751870-97684d46-4790-40b2-96fd-10c4f6cdc059.png)

If this is not sufficient. I would suggest taking a look at old jobs.

[2022-10-09 12:35] michaelhaxhiu commented on #11102
Just one question @aimane-chnaif - why are we saying `RCA`? Are we suggesting this is a regression (i.e. it used to work properly, but now it doesn't)?

[2022-10-09 12:49] michaelhaxhiu commented on #2545
Does that invalidate the reproduction, or suggest that the problem still exists? I just reproduced it on iOS device (latest version) in a DM with a colleague. I can't upload the video because it has some sensitive internal information... but working on reproducing again in a test env where I can share the video. But safe to say - this definitely still exists and needs to be fixed.

[2022-10-09 12:55] parasharrajat commented on #11102
Prefer to use `Root cause` for explaining the cause. And RCA or Regression when you want to refer to regression.

[2022-10-09 13:01] parasharrajat commented on #11283
@getusha I didn't understand your last comment. Are you proposing this as a solution or in addition to your previous proposal?

[2022-10-09 13:05] michaelhaxhiu commented on #11102
Haha sorry if that was confusing @aimane-chnaif you haven't done anything wrong here! 💙

This is totally semantics at this point, but let me break it down for clarity. And let me know if you think any external documentation has made this confusing for you as a contributor - I'll gladly revise it, if so:
- We perform a Root Cause Analysis (RCA) when there is a regression.
- We use the term regressi

[2022-10-09 13:36] getusha commented on #11283
It is addition to the proposal. you said

So this was an addition to fix the issue you commented

[2022-10-09 14:13] parasharrajat commented on #11561
@mountiny I think the issue details are not very clear. I don't understand the expected behavior. Can you please improve these?

[2022-10-09 14:39] michaelhaxhiu commented on #11102
Totally agree! As you continue to work on jobs, feel free to identify the root cause in your *Problem* statement :) love it.

[2022-10-09 15:42] parasharrajat commented on #10181
@railway17's proposal can be improved. it is missing proper explanation and not easy to understand. (Please try to make it easier for a reviewer to understand your proposal). The easier it is to understand, the better odds for you.

Could you please add the following details into it?
1. What behaviour are proposing?
2. Explain how you will acheive it in in steps and then use code to support your e

[2022-10-09 16:33] parasharrajat commented on #11117
OK, I debugged this one. This error is coming from https://github.com/Expensify/expensify-common/blob/e550f5940461edb08b0b3edf6c2f8d64ad33442c/lib/Logger.jsx#L37.

The log limit is set to 50 lines which are good but It do not limit the length of a single line. In theory, a line could have any number of characters. I think this is the cause of this issue.

**Suggestion**
This problem can be solved

[2022-10-09 16:36] parasharrajat commented on #11167
We can close this issue. There is no stack trace on the OP. No one would be able to fix it without that and the crash occurred long ago. I think it is no more happening.

cc: @tgolen

[2022-10-09 16:39] parasharrajat commented on #10107
@michaelhaxhiu let's pin this issue and post it in slack to bring to attention.

[2022-10-09 19:14] kadiealexander commented on #9233
Everyone is paid!

[2022-10-09 19:14] #9233 closed

[2022-10-09 19:18] kadiealexander commented on #10623
Offers sent to @Puneet-here and @mananjadhav, please let me know once these are accepted.

[2022-10-09 20:44] parasharrajat commented on #11101
@aimane-chnaif  Ok, I looked into the proposal https://github.com/Expensify/App/issues/11101#issuecomment-1252361689. Will it create a copy of the same file in external storage?

[2022-10-09 21:45] jliexpensify commented on #11312
Going to double tomorrow if we get no proposals Melvin

[2022-10-09 21:51] parasharrajat commented on #11101
Ok. I don't think we need two copies of a same file.

[2022-10-09 22:16] kavimuru opened #11693 "[HOLD for payment 2022-10-31] [$250] BUG: Copy pasting a string with html special characters from the chat to another source results in getting decoded characters"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot
2. Send some markdown text to any chat (html special characters)(SELECT count(1) FROM receipts WHERE state IN (3,4

[2022-10-09 23:27] shawnborton commented on #11187
Yeah, I think it's okay if we wait.

[2022-10-09 23:28] shawnborton commented on #11346
I agree with that.

[2022-10-09 23:40] shawnborton commented on #11520
That makes sense to me. Do you have the old GH handy from where you first did this update? I'm trying to figure out where this is hosted - it might be something that we need to update internally on the Expensify end in the Web repo.

[2022-10-09 23:42] shawnborton commented on #11588
Yeah, basically in this screenshot here:
![image](https://user-images.githubusercontent.com/2319350/194784826-452134b6-050a-4c89-8daa-2c70cd6a89b6.png)

The white modal part should extend to the edges of the device. Do we know why it is not? Just trying to understand if this has implications for other modals/bottom drawers in the app.

[2022-10-09 23:44] shawnborton commented on #11543
I agree, @bernhardoj 's proposal looks great and agree with you about a reusable pill. There are some minor design things we can chat about when this becomes a PR - for example, I think the pill can have a little bit less horizontal padding.

[2022-10-09 23:47] shawnborton commented on #10352
Actually in the spirit of platform consistency, what if we just removed that inner padding around all attachments (images, PDF, etc) on both mobile and desktop? I think that will make this way easier and make it so that we aren't juggling different rules for different platforms.

[2022-10-09 23:50] jliexpensify commented on #10905
Bump @tgolen to answer @Santhosh-Sellavel 's question!

[2022-10-09 23:51] al7373 commented on #11352
**Proposal**

Hello everybody,

We can't fix the problem by simply changing the regex or imposing a larger character limit.
The problem affects all elements that use the RNTextInput (BaseTextInput) component.
@gadhiyamanan , **"send money"** also present the same symptom, it shakes.
The problem is: The native TextInput is very fast, the characters you have just typed are displayed before being pro

[2022-10-10 00:08] kbecciv opened #11694 "Chat - Height of edit field is different for mWeb and native app @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Navigate to any chat
3. Send a message
4. Long press on it > Edit
5. Keep pressing enter and check the max h

[2022-10-10 00:12] shawnborton commented on #10848
I think that should do it, yeah. We will just want to be sure to test this with various platform zooms, etc.

[2022-10-10 00:12] kbecciv opened #11695 "[HOLD for payment 2022-12-05] [$1000] mWeb - Payment Page is not scrollable. Reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com and log in
2. Go to Settings
3. Click on Payments and try to scroll the page.

## Expected Res

[2022-10-10 00:49] tienifr commented on #11261
# Updated Proposal

In https://github.com/Expensify/App/blob/7d1e65fe22a4f59c93d6aeaa1615468c61ed2983/src/components/ExceededCommentLength.js#L19
Just add space before error

[code]

[2022-10-10 00:49] tienifr commented on #11261
@thesahindia sure can, pls check the updated proposal above

[2022-10-10 01:45] thienlnam commented on #11651
Closing, I haven't been able to reproduce on my mWeb on staging or production

[2022-10-10 01:45] #11651 closed

[2022-10-10 01:57] thienlnam commented on #11462
Thank you both for the great proposals, as mentioned @Puneet-here here has a more inclusive solution to the problem.

[2022-10-10 02:01] thienlnam commented on #11101
Yes that's correct. We should not be saving a file to both internal and external storage

Ideal case:
Downloaded photo -> shows up in photo album
Downloaded file -> shows up in files

[2022-10-10 02:17] mananjadhav commented on #10623
Accepted @kadiealexander

[2022-10-10 02:28] JmillsExpensify commented on #11652
Oh if you want to take it then by all means @Puneet-here. I'm happy to have you take it.

Also the marketing team won't be able to help with the Spanish translation. Luckily the fix is easy, I can help with that. The Spanish text should remove the "Y" (which means "and" in Spanish) and instead begin with "Ocurrió un error...."

I'll go ahead and create an Upwork job for you and add the external la

[2022-10-10 02:32] JmillsExpensify commented on #11652
@eVoloshchak @ctkochan22 This should be a pretty straightforward one. @Puneet-here's proposal is above and he just needs to change the text files he's already highlighted above. I'm happy to review the PR for the Spanish part.

[2022-10-10 02:49] JmillsExpensify commented on #11320
Sure thing. I'll do that right now

[2022-10-10 02:55] JmillsExpensify commented on #11320
Alright, I just sent to your aldo@expensifail.com account. Let me know if you're still not able to reproduce it on mWeb.

[2022-10-10 03:03] sobitneupane commented on #10848
Thanks @shawnborton.

@MonilBhavsar [Proposal](https://github.com/Expensify/App/issues/10848#issuecomment-1239058273) from @Puneet-here looks good to me.

🎀👀🎀 C+ reviewed

[2022-10-10 03:17] JmillsExpensify commented on #2545
I agree this happens pretty frequently, and in fact, I can produce it in either scroll direction pretty easily on a chat that has lots of history. Here's an example with Concierge.

https://user-images.githubusercontent.com/1127863/194794715-671f49d1-62bd-4552-89bb-ff50c7f09f96.mov

[2022-10-10 03:54] bernhardoj commented on #11543
Speaking of design, here is how it looks on web when the chat is selected:
![web_same_color](https://user-images.githubusercontent.com/50919443/194796950-2a556f0d-ecef-4f1e-b4ea-846c26096875.png)

The background color of the pill is the same as the background color of the selected chat and yeah, we can chat more about the design changes.

Btw, here is how the new TextPill component looks like
[cod

[2022-10-10 03:57] JmillsExpensify commented on #10765
Cool. I'll add @advaitasol9 to the issue. Can you also make sure to the [Upwork job](https://www.upwork.com/jobs/~012e25f97da880eedd) as well please? cc @Santhosh-Sellavel

[2022-10-10 03:59] JmillsExpensify commented on #11089
Ah yes, all good! I like the idea of trying to verify one way or another via proposals.

[2022-10-10 04:07] JmillsExpensify commented on #9971
Bumping that last question @chiragsalian

[2022-10-10 04:10] JmillsExpensify commented on #11223
Regression period has passed, so I'm issuing payouts in Upwork for contributors and then I'm closing out this issue.

[2022-10-10 04:13] JmillsExpensify commented on #11223
Contributors - payments are out! Let me know if you have any issues or questions.

[2022-10-10 04:13] #11223 closed

[2022-10-10 04:14] JmillsExpensify commented on #10352
Love that idea!

[2022-10-10 04:21] gadhiyamanan commented on #11695
**Proposal**

we have to use `scrollView` instead of  `View`https://github.com/Expensify/App/blob/7d1e65fe22a4f59c93d6aeaa1615468c61ed2983/src/pages/settings/Payments/PaymentsPage/BasePaymentsPage.js#L272

we have to use `_map` instead of `Flatlist` otherwise it gives error ` VirtualizedLists should never be nested inside plain ScrollViews....`

https://github.com/Expensify/App/blob/ba1d5aefbd0d27

[2022-10-10 04:59] mmjindal2555 commented on #10523
@flodnv how are you guys planning to take it further? I see the issue is not 'External' now, does it mean it won't be assigned to any external contributor?
i proposed the solution which was summarised by @parasharrajat in [this comment](https://github.com/Expensify/App/issues/10523#issuecomment-1270528529), it involve changes in frontend side only.
If required I can also explore and share a soluti

[2022-10-10 05:29] smrutiparida commented on #11561
My second solution above can help the android code read a version no from a firebase remote config. Based on the version stored in remote, the API_URL can be configured dynamically within in the code. By doing so, the android build can be tested against staging URL for all versions higher than the remote version. It can also be released to PROD by only changing the label. @mountiny is that the exp

[2022-10-10 06:59] Uros787 commented on #11146
### Proposal
At first, I thought the problem was with the heavy checking we are doing on every click.
BUT, it turns out it's something new introduced in react native 0.70.0
https://github.com/facebook/react-native/issues/34695

The solution is to remove the selection prop from [IOUAmountPage.js](https://github.com/Expensify/App/blob/6551eb9d07f54c222bd6cb7411b7613f3ccd03b4/src/pages/iou/steps/IOUA

[2022-10-10 07:08] Puneet-here commented on #11694
### Proposal

We need to keep the max lines 6 for isSmallScreenWidth and 16 when it's false

https://github.com/Expensify/App/blob/f84651934726d25e720047839c4ed750eea111b6/src/pages/home/report/ReportActionItemMessageEdit.js#L201

``` maxLines={this.props.isSmallScreenWidth ? 6 : 16} ```
we can keep add them in CONST.js

[2022-10-10 07:11] MariaHCD commented on #7270
Catching up here. Looks like there were two issues with the VBBA flow:
1. [Infinite spinner](https://github.com/Expensify/App/issues/7270#issuecomment-1272031594) when after the hand-off back from Plaid: This has had mixed results from different testers. Will look back on this later.

2. Onfido error `Something's gone wrong` after submitting a photo of ID. Looking at the [logs](https://www.expensi

[2022-10-10 07:18] thesahindia commented on #11502
Not overdue. Waiting for proposals.

[2022-10-10 07:20] thesahindia commented on #11131
Not overdue. No proposal yet.

[2022-10-10 07:37] MariaHCD commented on #7270
I'm not able to reproduce either issue on staging NewDot 🤔

1. No infinite spinner after the hand-off from Plaid:

[New Expensify.webm](https://user-images.githubusercontent.com/12268372/194817292-545f9593-2d15-4c7a-a6a4-a4b7baa4b1fc.webm)

2. Able to proceed in the Onfido flow after submitting ID photo:

https://user-images.githubusercontent.com/12268372/194817426-a15971c1-91e6-4cd1-846f-b73e5140

[2022-10-10 07:40] MariaHCD commented on #7270
The test for https://github.com/Expensify/App/pull/10967 worked as anticipated:

![Screen Shot 2022-10-10 at 11 28 25 AM](https://user-images.githubusercontent.com/12268372/194817448-0361f6be-a5a5-4ba5-9f32-6e250acdc28b.png)

![Screen Shot 2022-10-10 at 11 28 41 AM](https://user-images.githubusercontent.com/12268372/194817444-7efe2dde-e7b2-4670-8151-f4920feb7ed5.png)

![Screen Shot 2022-10-10 at 1

[2022-10-10 07:41] advaitasol9 commented on #10765
Hi @JmillsExpensify , i've applied on upwork. I'll create a PR by 12 october.

[2022-10-10 07:42] ajaynagwani777 commented on #11498
@aimane-chnaif is this already fixed?

[2022-10-10 07:46] MariaHCD commented on #11660
Logs [here](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%227569b979895dc3af-SEA%22)+AND+timestamp:[2022-10-07T20:28:05.401Z+TO+2022-10-07T22:28:05.401Z]&index=logs_expensify-018931). This bug will be fixed with the deploy of the Auth PR: https://github.com/Expensify/Auth/pull/7110

This issue should not block the App deploy.

[2022-10-10 07:52] Beamanator commented on #11693
Moving this along a bit - this is something we usually work out externally 👍

[2022-10-10 07:52] tienifr commented on #11403
@mananjadhav I think your implementation will be better. I have update code change to follow it

## Updated Proposal

### Solution

Cause this problem occur in web only, ( in mobile when we click eye icon the text input not be out focus ) so that I will fix logic of onBlur function in `NewPasswordForm.js`, will check if we click outside the component wrapping the input and eye icon, the state will

[2022-10-10 08:08] srikarparsi commented on #11405
no proposals

[2022-10-10 08:19] Puneet-here commented on #10623
Accepted.

[2022-10-10 08:22] techievivek commented on #8589
Not overdue, @mvtglobally can you please have a look at the above comment?

[2022-10-10 08:22] mountiny commented on #10292
Still waiting for proposals, no need to raise the price here due to low importance

[2022-10-10 08:22] Puneet-here commented on #11588
@shawnborton, we are using maxWidth: 600 for this modal that's why it doesn't take the whole width at the bottom, we only need `maxWidth: 600` at large screen so we can solve this by checking the screen size as proposed [here](https://github.com/Expensify/App/issues/11588#issuecomment-1267344316)

[2022-10-10 08:26] NikkiWines commented on #8657
Unassigning myself while these are on hold since there's nothing actionable at this time

[2022-10-10 08:26] NikkiWines commented on #7487
Unassigning myself while these are on hold since there's nothing actionable at this time

[2022-10-10 08:27] NikkiWines commented on #4612
Unassigning myself while these are on hold since there's nothing actionable at this time

[2022-10-10 08:27] tienifr commented on #11403
@mananjadhav I think your implementation will be better. I have update code change to follow it, please check again

## Updated Proposal

### Solution

Cause this problem occur in web only, ( in mobile when we click eye icon the text input not be out focus ) so that I will fix logic of onBlur function in `NewPasswordForm.js`, will check if we click outside the component wrapping the input and eye

[2022-10-10 08:28] zanyrenney commented on #11675
Not overdue -- weekend, will look today.

[2022-10-10 08:31] NikkiWines commented on #9459
Still waiting on proposals

[2022-10-10 08:31] NikkiWines commented on #11337
Not overdue, waiting on proposals.

[2022-10-10 08:32] tienifr commented on #11522
# Updated Proposal

## Problem
In list sections that display in the contact list at search, we are taking from 3 states: recentReports, personalDetails, userToInvite in getSections function as below:

[code]
I see that recentReports contains the sections that user talked with or searched for before, personalDetails contains sections that we do not want to display in the contact list at search like

[2022-10-10 08:50] mountiny commented on #11170
Oh very well spotted, thank you @aimane-chnaif. I agree they look as duplicate as they were also created the exact same time!

[2022-10-10 08:50] #11170 closed

[2022-10-10 08:51] mountiny commented on #11170
@jliexpensify would you be able to close the upwork jobs out please?

[2022-10-10 08:56] mountiny commented on #11084
I think it does not need to be daily now as we wait to see what are the reproduction steps

[2022-10-10 08:57] parasharrajat commented on #9181
Waiting for proposals.

[2022-10-10 09:03] mountiny commented on #10181
@parasharrajat @shawnborton @MitchExpensify @aldo-expensify I am unsure if we should just proceed with this one on its own. Seems like the solution to it is quite involved and we have other similar forms/lists in the App which should have the same behaviour and I dont think we should only focus on this one solely.

The solution/behaviour should be same for all instances of this input form. At the

[2022-10-10 09:09] mountiny commented on #11561
@parasharrajat @smrutiparida I have added some lines to the issue body. The problem is that the native apps disregard the API endpoint settings, they always send requests to the production API even if the staging API toggle in settings in turned on.

I am unfortunately not that familiar with firebase remote config so I am not sure. Is there any way we could use this approach: https://github.com/Ex

[2022-10-10 09:13] nkuoch commented on #7270
@JmillsExpensify and others who managed to get the errors. Can you still reproduce after you clear all your cookies?

[2022-10-10 09:21] MonilBhavsar commented on #11677
I'm not able to reproduce the issue.
May be the app went in inactive state and it is causing the issue.

Thanks for attaching the logs. From the logs, it looks like we tried checking for connection but `isInternetReachable` stayed false.

[2022-10-10 09:40] dylanexpensify commented on #11336
@marcochavezf thoughts?

[2022-10-10 09:40] dylanexpensify commented on #11270
@mananjadhav going to double?

[2022-10-10 09:42] dylanexpensify commented on #10148
@rushatgabhane any updates here?

[2022-10-10 09:44] dylanexpensify commented on #10851
Sent offers! @aneequeahmad @rushatgabhane

[2022-10-10 09:45] dylanexpensify commented on #10851
@aimane-chnaif paid out and ended contract

[2022-10-10 09:50] Julesssss commented on #10931
@kbecciv could you please share the iOS version, and device?

[2022-10-10 09:52] Julesssss commented on #4010
By that comment, I meant that I'm combining multiple issues into one place, rather than merging them into a single issue. So I'll keep them open for now while the doc is written.

[2022-10-10 09:54] Julesssss commented on #4010
@JmillsExpensify if I understand you correctly, I'm already using the Reqork Notifications tracking issue to group these issues.

Or are you suggesting that we instead link them to WhatsApp Quality?

[2022-10-10 09:54] Julesssss commented on #4264
Yeah, I'll do this for all these issues.

[2022-10-10 10:00] Beamanator commented on #11425
Changing to Weekly since this is currently on hold

[2022-10-10 10:19] Julesssss commented on #11623
This was already checked off, but https://github.com/Expensify/App/pull/11226 is not a blocker. We [can not reproduce ](https://github.com/Expensify/App/issues/11632#issuecomment-1271650706). If an additional step was made, then it should be raised as a separate issue as the original test steps work as expected.

[2022-10-10 10:39] sketchydroide commented on #11554
I think that makes some sense, what do you think @eVoloshchak ?

[2022-10-10 10:42] aneequeahmad commented on #10851
@dylanexpensify Applied. Thanks

[2022-10-10 10:45] dylanexpensify commented on #10851
Alrighty, everyone has been paid, contracts ended, job removed

[2022-10-10 10:45] #10851 closed

[2022-10-10 10:50] Julesssss commented on #11513
Yeah, but only on `iPhone 7, iOS 13.3.`

[2022-10-10 10:56] Julesssss commented on #8349
Also testing this today

[2022-10-10 10:59] danieldoglas commented on #11236
Ok since this has been blocked for some time, I think I'll just give my own opinion, and say we should follow @Tushu17 suggestion here. Adding external label so CMs can follow up.

[2022-10-10 11:06] #11114 closed

[2022-10-10 11:06] sketchydroide commented on #11237
will try this again today

[2022-10-10 11:07] sketchydroide commented on #9580
I think we are still waiting?

[2022-10-10 11:18] Uros787 commented on #11059
### Proposal
The issue here is with timing and easing of the transition for backdrop and bottom modal.
You see, the default value for speed according to [docs](https://www.npmjs.com/package/react-native-modal) is 300

With that in mind we have two options, we either slow down the backdrop fade in appearing, or we speed up the bottom modal appearing.
For me personally, slowing down could give a bit

[2022-10-10 11:18] MariaHCD commented on #7270
Just as a heads up, it doesn't look like the Onfido flow is working as expected on the backend: https://github.com/Expensify/Expensify/issues/232434. This also blocks the App deploy, unfortunately.

Will be investigating that after I've completed the web deploy for today. If we're not able to solve this, I think reverting https://github.com/Expensify/App/pull/10967 to unblock the App deploy would

[2022-10-10 11:39] Santhosh-Sellavel commented on #10283
Waiting for proposals

[2022-10-10 11:39] flodnv commented on #11632
Ping @kavimuru ?

[2022-10-10 11:39] Santhosh-Sellavel commented on #10622
@tgolen Bump!

[2022-10-10 11:42] michaelhaxhiu commented on #11415
@gohar95 I wanted to check in and see if you are still interested in solving this job?

[2022-10-10 11:45] flodnv commented on #10523
Hi @mmjindal2555. Indeed, the ideal for this is API side, which is unfortunately not (yet) accessible to open source contributors. We value your contributions and are looking forward to your next proposals.

[2022-10-10 11:50] Julesssss commented on #8349
Confirmed that this PR resolved the issue on a Physical Nexus 5X device.

[2022-10-10 11:58] parasharrajat commented on #8349
Great. I will test it today and review the PR as well if that is needed.

[2022-10-10 12:01] joekaufmanexpensify commented on #11366
Looking into this today.

[2022-10-10 12:02] joekaufmanexpensify commented on #11316
Not overdue, going to try to reproduce this morning.

[2022-10-10 12:03] joekaufmanexpensify commented on #11654
Looking into this further today.

[2022-10-10 12:37] michaelhaxhiu commented on #11689
I'll take it :)

[2022-10-10 12:46] abekkala commented on #11689
Oh! thanks @michaelhaxhiu  I was just about to apply the label for assignment. thanks for taking!

[2022-10-10 13:01] michaelhaxhiu commented on #10376
Just chiming in. I think this coming in the future, and I'll personally volunteer to lead up the DD when it's time! The availability indicator design doc was put on ⏸️ and we'll very likely have to re-jig that proposal to solely be a "custom status field" instead (since the RBR/GBR are now using a green/red indicator, and that obviates the design of the OG availability indicator solution).

But I

[2022-10-10 13:19] michaelhaxhiu commented on #11083
Doubling price again.

[2022-10-10 13:24] hannojg opened #11697 "[HOLD #12885] [$500] [Performance] Comment send button not switching state instantenously"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?

It's a minor thing that I noticed during creating https://github.com/Expensify/App/pull/11684.
When ty

[2022-10-10 13:34] Uros787 commented on #10947
Managed to activate 2fa but couldnt reproduce the error
Chrome - macOS - production
Also couldn't repro on staging
Also couldn't reproduce on android or ios
https://user-images.githubusercontent.com/70144379/194878507-fa198256-8e66-4329-acb4-5968b1657534.mov

[2022-10-10 13:38] Puneet-here commented on #11341
I have tested this and it's working correctly.
I need some confirmation about few things.

1. Right now we don't have any validate function, we only have a condition where we check if default contact method matches with the user entered input and when it is false we keep the button disabled. We can keep the button enabled and show an error when default contact method doesn't match right?

2. We ca

[2022-10-10 13:39] kbecciv opened #11698 "Reimbursable - After reload on changing unit when you click outside the it goes back to the previous value reported by @puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Go to settings > Workspace > Reimburse expenses
3. Reload the page and change

[2022-10-10 13:43] JmillsExpensify commented on #11316
Ok cool, that sounds good!

Regarding this part though, I struggle a bit whether we should spend time on this bug given this specific reproduction step. The mainline case is that you don't dismiss the page, refresh and then repeat the steps again. This is hard for us to reproduce, so I also don't think it's a priority. I think I'd still be in favor of closing.

[2022-10-10 13:46] michaelhaxhiu commented on #11083
@gadhiyamanan this was hasty of me, and thanks for your quick comment. Let me try to reproduce (something I should've done *before* doubling price again... oopsie daisy 🥀 ).

[2022-10-10 13:50] NicMendonca commented on #11059
doubled price: https://www.upwork.com/jobs/~0199b6f2d618d1d175

bump @mananjadhav on the proposal above ☝️

[2022-10-10 13:55] NicMendonca commented on #11197
@Puneet-here based off @Beamanator's comment - have you got started on this one?

[2022-10-10 13:57] NicMendonca commented on #10698
job posting: https://www.upwork.com/jobs/~0121916a664f05173f

[2022-10-10 14:11] #11635 closed

[2022-10-10 14:13] shawnborton commented on #11427
Not overdue

[2022-10-10 14:14] shawnborton commented on #11148
Friendly bump here

[2022-10-10 14:14] shawnborton commented on #9620
Not overdue

[2022-10-10 14:18] kevinksullivan commented on #11273
Ah I missed the external tag on this, apologies.

[2022-10-10 14:20] shawnborton commented on #11543
Yeah, for the selected row, we should darken the pill background color to use our icon color variable at 50% opacity.

[2022-10-10 14:24] shawnborton commented on #10181
I like the idea of putting this on HOLD while we design a better solution.

[2022-10-10 14:26] kevinksullivan commented on #11291
Hired @rushatgabhane for c+ and @dhairyasenjaliya for the fix. @dhairyasenjaliya when can we expect a PR?

[2022-10-10 14:29] thesahindia commented on #11529
I think we need to find the root cause of this issue ( why account number is coming as undefined ). So, further investigation is needed.
Adding a check here might fix this issue but somewhere in the app it might create further problems if the root cause isn't fixed.

[2022-10-10 14:29] shawnborton commented on #11659
I think this one has other implications too. For example, I think the chat input on iOS is not vertically centered and thus the text looks like it's shifted towards the bottom too. So I think before we try solving this one in isolation, we should see if there is a bigger problem at hand that needs to be solved for all iOS inputs.

[2022-10-10 14:30] shawnborton commented on #11659
Yup, look how it is pushed down. Perhaps we have another issue open for this?

![IMG_3988](https://user-images.githubusercontent.com/2319350/194889834-4a9a7286-0e99-4bb7-bbcf-a074e59a9c45.jpg)

[2022-10-10 14:35] dhairyasenjaliya commented on #11291
hello thank you for reminding me, forget to draft the PR doing now :) @kevinksullivan @rushatgabhane

[2022-10-10 14:35] #11167 closed

[2022-10-10 14:39] kevinksullivan commented on #11273
@thienlnam should we be reopening the previous issue (https://github.com/Expensify/App/issues/8361) to investigate this?

[2022-10-10 14:40] kevinksullivan commented on #11522
@Santhosh-Sellavel have you had a chance to review proposals?

[2022-10-10 14:41] kevinksullivan commented on #11235
Not overdue, waiting on proposal and recently doubled.

[2022-10-10 14:41] kevinksullivan commented on #9737
PR in review

[2022-10-10 14:42] kevinksullivan commented on #11189
Not overdue, I think PR is wip, right @youssef-lr ?

[2022-10-10 15:14] dhairyasenjaliya commented on #11659
@shawnborton probably this one you are referring to https://github.com/Expensify/App/issues/10202 ? as this addresses to vertical spacing into text input and this current issue is for horizontal space between prefix - textInput

[2022-10-10 15:15] johnmlee101 commented on #11697
I notice a small delay on my own device, so I think it would be nice if we could speed htis up

[2022-10-10 15:17] hannojg commented on #11697
No this issue isn't addressed by the mentioned PR. This issue was created while I was working on the PR and found this issue and wanted to keep track of it.

[2022-10-10 15:27] #11676 closed

[2022-10-10 15:31] adelekennedy commented on #11317
@dangrous & @rushatgabhane are we [pending closing this](https://github.com/Expensify/App/issues/11317#issuecomment-1270846246)?

[2022-10-10 15:32] johnmlee101 commented on #11697
Ah okay cool, then I think this is a good thing to fix and let the assigned engineer determine if the existing proposal meets the requirements!

[2022-10-10 15:33] sobitneupane commented on #11236
@Tushu17's Proposal: https://github.com/Expensify/App/issues/11236#issuecomment-1256398719
I believe replacing `requestCallPage.error.firstName` and `requestCallPage.error.lastName` error message is better idea than directly putting `bankAccount.error.firstName` and `bankAccount.error.firstName` in RequestCallPage.js.
https://github.com/Expensify/App/blob/373dce8f6be66a732a2e7b6b8a9a99511a0a0cd7/s

[2022-10-10 15:39] MariaHCD commented on #7270
As an update, we have a fix for https://github.com/Expensify/Expensify/issues/232434 but since it's late for me, @nkuoch is taking over. If the [Web PR fix](https://github.com/Expensify/Web-Expensify/pull/35108) is completed and CP'd to prod, the App deploy should be unblocked. If that PR is not completed, we think it's best to revert https://github.com/Expensify/App/pull/10967 and unblock the App

[2022-10-10 15:39] puneetlath commented on #11427
Updated to $500.

[2022-10-10 15:40] MariaHCD commented on #11623
Update regarding https://github.com/Expensify/App/issues/7270 is here: https://github.com/Expensify/App/issues/7270#issuecomment-1273500556

[2022-10-10 15:45] adelekennedy commented on #11239
Paid

[2022-10-10 15:45] #11239 closed

[2022-10-10 15:45] michelle-thompson commented on #11520
I wasn't able to find it in my issues, but I think I worked with @thienlnam on this before so he might know!

[2022-10-10 15:46] adelekennedy commented on #11199
@mananjadhav doubling then!

[2022-10-10 15:47] deetergp commented on #10068
Will look into this later today.

[2022-10-10 15:48] adelekennedy commented on #11126
We're close to doubling again - @luacmartins @parasharrajat do we have a cap in mind for this issue?

[2022-10-10 15:48] deetergp commented on #10068
Actually, there were only two crashes on this on an older version of the app. I'm going to close it and see if it pops up again.

[2022-10-10 15:48] #10068 closed

[2022-10-10 15:49] adelekennedy commented on #11104
we're close to doubling again! @tgolen @mananjadhav does this issue have a "cap" on how valuable we think it is?

[2022-10-10 15:53] adelekennedy commented on #11079
Not overdue! It looks like this was deployed to staging.

[2022-10-10 15:54] sobitneupane commented on #11359
Unable to reproduce on my device.

cc: @srikarparsi @arielgreen

[2022-10-10 15:54] adelekennedy commented on #11077
Still no proposals - will double tomorrow unless we think this should be capped? @srikarparsi @parasharrajat?

[2022-10-10 15:59] sheggietyn commented on #11199
i will work on it this afternoon, i hope to be done in 48 hours please get my payment ready

thanks

[2022-10-10 15:59] tgolen commented on #11609
@michaelhaxhiu I think this is just a cleanup task that I'll work on internally. Sorry, I usually remember to omit the `AutoAssignerTriage` label when I do that :D

[2022-10-10 16:03] michaelhaxhiu commented on #11083
Tested and it does appear to be working now. Can we identify which PR fixed this cc @rushatgabhane? Reason I ask if because I'll payout the bug reporting bonus after 7 days of that PR merging to production.

[2022-10-10 16:03] tgolen commented on #11472
OK, if it's not reproducible, let's close it for now.

[2022-10-10 16:03] #11472 closed

[2022-10-10 16:04] #10345 closed

[2022-10-10 16:07] michaelhaxhiu commented on #2545
I'm not sure if this is resolvable **Externally** at this point in time, but I think it's valuable to figure it out and pay any parties who help us confirm. cc @Julesssss

[2022-10-10 16:14] michaelhaxhiu commented on #10068
@deetergp I agree and wondering... should we make this a sort of standard that we apply to all crashes? We have so many of these racking up, I wonder if they (at least some of them) are invalidated when new app versions release?

[2022-10-10 16:16] adelekennedy commented on #8719
Still on hold - @parasharrajat @neil-marcellini any updates I should make here?

[2022-10-10 16:21] adelekennedy commented on #4324
checking here are we still reviewing this? I want to make sure i pay out on time @stitesExpensify @roryabraham

[2022-10-10 16:21] mallenexpensify commented on #11547
Sorry @cead22 , I applied `Engineering` before testing.
I'm unable to reproduce in firefox or chrome, both in private/incognito.

@kavimuru can you see if you're able to reproduce? @adeel0202 can try too plz?

[2022-10-10 16:22] parasharrajat commented on #11077
No need to double, these issues are capped at the current price.

[2022-10-10 16:24] parasharrajat commented on #11561
Thanks for adding that details. It is a lot more clear to me now.

[2022-10-10 16:25] adelekennedy commented on #11077
Noting for myself - hold this at $500!

[2022-10-10 16:28] tgolen commented on #10622
Well, the reason it's been fine up until now is that this is the first time someone's tried using the metric code in forever. This stuff has always been super low-value in my opinion. It's hard for me to follow the different proposals here. Can't we just change the no-op methods to return an instantly resolved promise? `return Promise.resolve();`

[2022-10-10 16:28] neil-marcellini commented on #8719
The withWindowDimensions work around has been removed here https://github.com/Expensify/App/pull/9143, so as I understand it this should be fixed now? I'll see if I can reproduce it.

[2022-10-10 16:29] tgolen commented on #11650
LGTM 👍 🟢

[2022-10-10 16:33] tgolen commented on #10905
I'm going to place a HOLD on this and add the issue to this master tracking issue: https://github.com/Expensify/App/issues/10273

I think some of the problems should go away once that is done.

[2022-10-10 16:36] srikarparsi commented on #11359
also no longer able to reproduce, @arielgreen I think we can close out the issue

[2022-10-10 16:37] mallenexpensify commented on #11354
Checking in our QA/Internal room for accessibility

[2022-10-10 16:37] Santhosh-Sellavel commented on #4324
Still Review in progress @adelekennedy

[2022-10-10 16:37] jayeshmangwani commented on #11199
is this issue still happening?
I am not able to reproducible it in the simulator.

https://user-images.githubusercontent.com/35371050/194914146-891ad827-f87d-4415-8187-35e3084a0cd4.mp4

cc: @adelekennedy @mananjadhav

[2022-10-10 16:37] mananjadhav commented on #9580
Yes we're still waiting.

[2022-10-10 16:38] mananjadhav commented on #10127
@NicMendonca Are we done with the payment and good to close this?

[2022-10-10 16:39] mananjadhav commented on #10608
@oogushikun Do you have an update for us on the PR?

[2022-10-10 16:40] neil-marcellini commented on #8719
The PR I linked above hasn't been deployed to staging or prod yet, but from local testing it looks like it will fix this issue. It looks like there's another bug where the pay button isn't visible above the keyboard and when I scroll down I can scroll too far. I will report that issue unless I find an existing issue.

https://user-images.githubusercontent.com/26260477/194914536-aa182e74-6c8a-4162-

[2022-10-10 16:41] mananjadhav commented on #10847
PR is merged. @srikarparsi @arielgreen considering this won't be reproducible on staging and dev. So we won't need a QA here.  I am assuming we would handle the payment the same way?

[2022-10-10 16:41] mallenexpensify commented on #11350
Unable to reproduce and seems like a low-value edge case.  Closing, comment if anyone disagrees

[2022-10-10 16:42] adelekennedy commented on #11199
@sheggietyn please review the [Contributor Guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) before you begin working on this, as far as I can tell you have not been awarded the job yet @mananjadhav @ctkochan22 (you should also review the payment guidelines to make sure that they work for you)

[2022-10-10 16:42] mananjadhav commented on #10950
@Abdallah-Ahmed-moh could you please send a daily update on the PR or the progress? It's been 2 weeks since we've assigned the PR, would appreciate if we can get where are at?

[2022-10-10 16:45] mananjadhav commented on #11059
@Uros787 Are you able to reproduce this at your end? And can you confirm that after your fix it is working fine?

Also I am not able to figure out what parts are you going to change. I can see you've linked two files `ReportActionCompose` and `BaseModal`, but can you post which lines of code will change and what props will be updated?

[2022-10-10 16:47] oogushikun commented on #10608
Hi @mananjadhav. I'm still waiting to be approved for the job on upwork.

[2022-10-10 16:48] mananjadhav commented on #11192
Yes @Tushu17 I am able to reproduce this frequently. You can check the attached video.

And about Solution 1, I guess our core requirement is that we don't want the image to be in the grabbed state.

@JmillsExpensify Should we double? We haven't received an appropriate proposal so far ?

[2022-10-10 16:52] Santhosh-Sellavel commented on #11228
on Hold

[2022-10-10 16:52] mananjadhav commented on #10608
Ohh okay, @stephanieelliott Can you please approve the hire on Upwork?

fyi, @oogushikun it is okay for you to wait for the Upwork hire, but if you're assigned a job here on Github like [this](https://github.com/Expensify/App/issues/10608#issuecomment-1266339780), it is as goo as being hired on Upwork.

[2022-10-10 16:52] adeel0202 commented on #11547
@mallenexpensify yup, still able to reproduce.

https://user-images.githubusercontent.com/13783842/194916587-760dcb95-4491-4496-ab7f-5e4331704384.mp4

[2022-10-10 16:56] Santhosh-Sellavel commented on #10622
@christianwen any thoughts on the above?

[2022-10-10 16:58] mananjadhav commented on #11199
Yes you're right @adelekennedy.

@sheggietyn Please review the contributor guidelines before working on this. I went through your comments and I don't see any solid technical proposal which describes what part of the component will you specifically change.

[2022-10-10 16:58] roryabraham opened #11701 "Software keyboard covers part of the submit button on login page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the login page
1. Tap on the text input to enter text
2. Click Continue
3. Password field will be shown

## Expected Resu

[2022-10-10 16:59] mananjadhav commented on #11270
I am a little unsure on doubling. @Beamanator does the number of crash get updated with every new crash?

I can see the number of crash is set as 1 only. I am also inclined towards closing this one out if its not something that has occurred again.

[2022-10-10 16:59] hannojg commented on #11053
Hey, just want to add to the discussion that TextInputs have a undocumented function called `setSelection` (I am not sure, but for web it might be `setSelectionRange`), so you can call e.g.:

[code]

This way we can avoid having controlled inputs which are bad for performance + preserve the highlight functionality.

(note: sorry if I am writing out of context, was just quickly glimpsing and though

[2022-10-10 16:59] roryabraham commented on #11701
Interestingly, if you scroll the page up and down with the keyboard open, then this bug no longer happens. You can completely close the keyboard, scroll back to the top, and then tap on the TextInput and it does not happen again. If you then refresh the page, then it will happen again.

[2022-10-10 16:59] mallenexpensify commented on #10731
@Santhosh-Sellavel , can you review @christianwen's comment above plz?

[2022-10-10 17:00] mallenexpensify commented on #9270
Still on hold

[2022-10-10 17:01] oogushikun commented on #10608
my bad on my part then, I figured I'm only supposed to create the PR once you've been approved. Let me create it and I'll be update you shortly.

[2022-10-10 17:02] michelle-thompson commented on #11346
So we could rephrase the above hint text to the following:
- "Ask how to scan receipts!"
- "Ask for free corporate cards!"
- "Ask how to send invoices!"

@iwiznia what do you think about this?

[2022-10-10 17:03] Santhosh-Sellavel commented on #10731
I disagree as per this doc [here](https://reactnative.dev/docs/textinput#showsoftinputonfocus).

I tried it out without the below lines.
[code]

It works fine on android, but it doesn't work on iOS.

@christianwen

[2022-10-10 17:06] Santhosh-Sellavel commented on #7968
Waiting for proposals!

[2022-10-10 17:06] mananjadhav commented on #11403
Thanks for the update @tienifr. We're now waiting for a comment from @tgolen.

[2022-10-10 17:06] tgolen commented on #11585
This doesn't need to be a daily. I've got a few irons in the fire before I can get to this.

[2022-10-10 17:07] tgolen commented on #11087
Putting this on HOLD for now.

[2022-10-10 17:07] mananjadhav commented on #11513
yeah Hence I downloaded iOS 13.3 on my mac, but can't reproduce this on simulator. Are you able to reproduce this on simulator same version `iPhone 7, iOS 13.3` ?

[2022-10-10 17:08] michaelhaxhiu commented on #10263
Doubling job value to garner more interest.

@andrewlor are you still interested in this job?

[2022-10-10 17:09] mananjadhav commented on #11543
@shawnborton Are we good with the proposal then? We can work out the kinks in the PR implementation?

[2022-10-10 17:24] christianwen commented on #10622
@Santhosh-Sellavel If we do as below
```function decorateWithMetrics() { return Promise.resolve(); }```
in the noop then the `getAllKeys` will not work correctly anymore

Here's the usage of `decorateWithMetrics`:
```getAllKeys = decorate.decorateWithMetrics(getAllKeys, 'Onyx:getAllKeys');```

The `decorateWithMetrics` should only add side effects to `getAllKeys` if `CAPTURE_METRICS=true`, not mod

[2022-10-10 17:31] Santhosh-Sellavel commented on #11146
@Uros787,
Thanks, but this is a temporary workaround, not a solution.

If you could solve the linked issue https://github.com/facebook/react-native/issues/34695 by submitting a PR then that's a solution.

cc: @thienlnam