[2022-04-01 06:48] SumitDiyora opened #8433 "[Medium]: Color Contrast: Insufficient color contrast for border of input field."
## Action Performed:
1. Using Chrome, open URL: staging.new.expensify.com
2. Navigate to Any 'chat room'.
3. Navigate to the "Write something..." input field using the Tab key.
4. Observe that the analyser reports that the contrast ratio is not sufficient.

## Expected Result:
The border of the input field should have a contrast ratio against the page background of 3:1 or greater.

## Actual Resul

[2022-04-01 07:10] sobitneupane commented on #8404
**Proposal:**
**Reason:** The Confirm Modal in CloseAccountPage has space as title so extra space appears at the top.
There are two ways to deal with this issue.
1. Add title to Confirm Modal in CloseAccountPage. All Confirm Modal except in CloseAccountPage has title so we might be tempted to add title to this confirm modal as well. We can use `"Unable to Close Your Account"` or similar title.
htt

[2022-04-01 07:20] SumitDiyora opened #8434 "[High]: Chrome+Jaws: Screen reader: Role and label are not defined for controls."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to Any 'chat room'.
3. Navigate to the "Actions", "Emoji" and "Send" controls using the screen reader.
4. Observe the screen reader announcement.

## Expected Result:
When a role is defined appropriately for the interactive element, the screen reader user will interact with the element effectively.

## Actua

[2022-04-01 07:34] mollfpr commented on #8115
@Santhosh-Sellavel I have another proposal.

In here we add function `onLayout` to get the available height.
https://github.com/Expensify/App/blob/50496a0a0d7dd283f9936988cda95abf69741342/src/components/ImageView/index.native.js#L108-L118
[code]
Now we add the height that we got from `View` layout to `calculateImageSize` function. Instead of using `this.props.windowHeight`, we use the height that

[2022-04-01 07:39] SumitDiyora opened #8435 "[Medium]: Color Contrast: Insufficient color contrast for border of input field."
## Action Performed:
1. Using Chrome, open URL: staging.new.expensify.com
2. Navigate to Any 'chat room'.
3. Navigate to the "Write something..." input field using the Tab key and activate the "Emoji" button.
4. Navigate to the "Search" input field using the Tab key.
5. Observe that the analyser reports that the contrast ratio is not sufficient.

## Expected Result:
The border of the input field s

[2022-04-01 07:46] Puneet-here commented on #8291
### Proposal
We can add a background color here -
https://github.com/Expensify/App/blob/50496a0a0d7dd283f9936988cda95abf69741342/src/components/Avatar.js#L42-L45

like this -

[code]
I found that we were doing this earlier but it was removed also I found that we were only using the background color when it isn't a chat room because when there's no chatroom icon the backround shows up as a gray squ

[2022-04-01 08:03] SumitDiyora commented on #8170
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #7977, #7984, #8068, #8104, #8105, #8112, #8142, #8144, #8163, #8165
Impossibility to verify (After client confirmation): #7813
Logged Issues - #8392, #8393, #8395, #8398, #8400, #8401, #8402, #8403, #8406, #8407, #8408, #8411, #8413, #8432, #8433

[2022-04-01 08:17] dylanexpensify commented on #6941
Updated to $2000!

[2022-04-01 08:18] dylanexpensify commented on #6941
Posted [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1648801097305899)!

[2022-04-01 08:33] parasharrajat commented on #6941
@hvbeladiya149 Could you please show me a video of how this change behaves? Also, Do you know why are we only facing this issue on some devices? I can't reproduce this on cell or emulator.

[2022-04-01 08:35] rushatgabhane commented on #8399
@mountiny Those tests are meant for PR reviewers right?

 I didn't put those tests in the QA section. It only had storybook tests.
Is there anything that I could have done to prevent this confusion?

[2022-04-01 08:43] Christinadobrzyn commented on #8357
Posted in Upwork!

Internal Job - https://www.upwork.com/ab/applicants/1509813441766039552/job-details
External job - https://www.upwork.com/jobs/~0176081f4f95677487

[2022-04-01 08:54] mananjadhav commented on #8379
While the emoji picker in the edit comment is added with #3245, the behavior is the same as the composer at the moment. When sending a new message too, the input is hidden. IMHO, this should be a feature request.

[2022-04-01 08:55] mananjadhav commented on #3245
Commented https://github.com/Expensify/App/issues/8379#issuecomment-1085631941

[2022-04-01 08:56] mananjadhav commented on #7598
@kadiealexander @mallenexpensify If this is fixed internally, is it eligible for reporting bonus?

[2022-04-01 08:58] mananjadhav commented on #8119
I'll review the proposal by tomorrow and update it here. Sorry for the delay @aswin-s and @metehanozyurt

[2022-04-01 09:11] mananjadhav commented on #7547
Resuming tomorrow, and will update the PR in a day or two.

[2022-04-01 09:11] parasharrajat commented on #7384
It is not happening anymore. We are good to close this. Thanks for waiting on the details.

[2022-04-01 09:18] Julesssss commented on #8359
Awaiting proposals

[2022-04-01 09:30] dylanexpensify commented on #8051
Any update here @parasharrajat?

[2022-04-01 09:40] Julesssss commented on #7384
Cool, thanks for confirming

[2022-04-01 09:40] #7384 closed

[2022-04-01 09:41] parasharrajat commented on #8051
PR deployed on staging 2 days ago.

[2022-04-01 09:43] dylanexpensify commented on #8051
Nice, thanks!

[2022-04-01 09:45] parasharrajat commented on #8379
I think the issue is a little different. It seems that Editor gets hidden when EmojiPicker is opened not that it is behind the picker. If editor is there but it is behind the picker then I agree it should be Feature Request.

[2022-04-01 09:47] Julesssss commented on #7779
Thanks. This time I'm able to login, and I'm able to make requests as expected 😕

https://user-images.githubusercontent.com/10736861/161239602-d0ae825b-e69c-434a-afaf-829545d9df3d.mov

[2022-04-01 10:01] Puneet-here commented on #8404
### Proposal

We aren't using any title for this modal and we have some margin at bottom for the title that's why there's extra space.
https://github.com/Expensify/App/blob/50496a0a0d7dd283f9936988cda95abf69741342/src/pages/settings/Security/CloseAccountPage.js#L113-L114

if we use this code there won't be any extra space when there's no title.
[code]
Also the title is required here -
https://gith

[2022-04-01 10:07] robertjchen commented on #8420
The video recording of the bug isn't loading for me, could we please try re-uploading it? 🙏

[2022-04-01 10:15] dennismunene commented on #8331
@mountiny @parasharrajat
I double checked sending links , This does replace links. I've updated my proposal with the appropriate fix.
Only ``a`` tags with this prop ``data-expensify-source`` should be considered attachments.

[2022-04-01 12:08] kidroca commented on #7623
Since this (`WorkspaceSettingsPage`) is a screen component it receives relevant navigation context

You can just change this
https://github.com/Expensify/App/blob/50496a0a0d7dd283f9936988cda95abf69741342/src/pages/workspace/WorkspaceSettingsPage.js#L127-L135

to:
[code]

Or:
[code]

If the handling of the `pressOnEnter` prop is modified a bit

[2022-04-01 12:14] kidroca commented on #7623
Or maybe it would be best to add the check here:
https://github.com/Expensify/App/blob/50496a0a0d7dd283f9936988cda95abf69741342/src/pages/workspace/WorkspaceSettingsPage.js#L92-L95

[code]

This way `isFocused()` is evaluated just in time
(Otherwise it depends the component re-rendering, so that `isFocused()` is called and re-evaluated)

[2022-04-01 12:20] trjExpensify commented on #8033
Nice! @mollfpr can you apply on Upwork, please? https://www.upwork.com/jobs/~01c95cafe702e5684f

[2022-04-01 12:37] trjExpensify commented on #8360
:( Melv didn't trigger the other day.

[2022-04-01 12:55] parasharrajat commented on #7623
Good points overall. But the motive behind doing that change was to cover all pages. This is a generic issue so I thought of handling it everywhere I have another idea.

As we changed the keyboard shortcut implementation now, we can just stop the even propagation at the Button handler. Then it will not propagate to other elements.

We are running the handler in the capture phase, it won't block ot

[2022-04-01 13:23] kidroca commented on #7623
Ok so it seems it's never desired to have 2 or more buttons with the `pressOnEnter` prop
Or if there are more than one, only the last button that appeared should be triggered on enter
Is that correct?

I don't understand how that would happen
The bug here is happening because the event handler of the "Save" button from the previous page **is triggered first**
And it's the one stopping propagation

[2022-04-01 13:29] parasharrajat commented on #7623
I think yes. pressOnEnter is meant for CTA. I guess there would be only one per page.

Is that what you're proposing?

Oh yeah, didn't think of this. I was just seen at an alternative. I guess this will not work. Let me see what else is possible without refactoring too much code.

[2022-04-01 14:05] dennismunene commented on #8331
Applied for the Job on Upwork & Raised [PR](https://github.com/Expensify/App/pull/8438) Ready for Review

[2022-04-01 14:08] mollfpr commented on #8033
@trjExpensify applied thank you!

[2022-04-01 14:10] MariaHCD commented on #8425
Internal issue, we need to support the file type [here](https://github.com/Expensify/Web-Expensify/blob/221782b5be924e619b760df8e9996bd7f392196f/lib/ReportUtils.php#L69)

[2022-04-01 14:25] joelbettner commented on #8380
I don't know if this is a problem. I'm assuming when you say the dropdown is "longer", you're referring to the width of the dropdown, correct? It looks like the workspaces dropdown adjusts to a width in order to display the full name of the workspace.

[2022-04-01 14:27] joelbettner commented on #8380
@arielgreen I'm not sure if this is really something that needs to be worked on/fixed. It seems to me that this is the intended design, but I could certainly be wrong. I'll defer to your decision.

[2022-04-01 14:34] MariaHCD commented on #8295
I used Supportal. The [list of the betas](https://github.com/Expensify/Web-Expensify/blob/4c6181f5210c7726758fcca7798e6cabc04ce14a/_support/index.php#L293) that are enabled for the user is displayed there. According to that list, the user is on both the freePlan and the frePlanLaunch betas.

[2022-04-01 14:43] Tushu17 commented on #8360
@trjExpensify I think you can invite user with emails multiple time but only when you tap invite button multiple times and there's already an issue(#6676) open for that.

In this issue you can invite a phone number and you can search that number again to invite.

https://user-images.githubusercontent.com/89839952/161285993-92cefa86-0681-4c89-927a-70dc587a2aa3.mp4

[2022-04-01 14:44] kavimuru commented on #8396
@mountiny It works fine in android mWeb. Issue is only in iOS Safari.

https://user-images.githubusercontent.com/43996225/161286666-1597d222-c73b-422f-809a-f1941e436be1.mp4

[2022-04-01 14:53] luacmartins commented on #7918
Hmm maybe [this thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1646167216688449?thread_ts=1646163503.484199&cid=C01GTK53T8Q) might help?

[2022-04-01 14:54] kavimuru commented on #8380
@joelbettner @arielgreen If the workspace has longer name then its not center oriented too. Attaching screenshot of normal UI with shorter names
![Normal workspace name](https://user-images.githubusercontent.com/43996225/161288596-1e3dffde-8394-4e0e-acc5-81a47f6e5dcd.png)

[2022-04-01 14:55] marcaaron commented on #8331
How does the proposal address this? It looks like it will ensure this does not happen ever vs. inconsistently like shown in the video.

[2022-04-01 14:58] luacmartins commented on #8151
@mohanbright sorry, but we have already hired someone for this job and the [PR with the fix](https://github.com/Expensify/App/pull/8176) has been merged. Thanks for your interest though and I hope to see more of your proposals on some of our other [open issues](https://github.com/Expensify/App/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22).

[2022-04-01 15:00] kavimuru opened #8440 "[$250] iOS - Reset password - User can not see Error message when resetting password incorrectly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the New Expensify App
2. Sign into any valid account
3. Tap on the "Profile" icon on the top left
4. Tap on "Security"
5. Tap on "Change Pas

[2022-04-01 15:03] dennismunene commented on #8331
@marcaaron All attachments are currently represented with the ``[Attachment]`` Tag , Should I introduce a new one for Mp4 ? e.g ``[[mp4]]`` . If so ,whats the correct pattern to represent other file types like pdf,html... etc ?

[2022-04-01 15:04] parasharrajat commented on #7925
I am not familiar with the inner workings of RN FlatList and it seems quite complex to understand quickly. Also, I am not good at native code. I might take some time to really understand the suggestions here. Looking at the urgency of the issue, I would request someone else to take over.

@roryabraham Could you please continue the discussion here?

[2022-04-01 15:23] parasharrajat commented on #8331
My mistake. I didn't ask for clarification. I went with what the title is saying and as the attachment tag is shown on the video upload, I thought it should be the case always.

[2022-04-01 15:35] tgolen commented on #7853
Ah, OK. Makes sense, thank you! 🟢  to hire @mollfpr for the proposal @jboniface

[2022-04-01 15:36] #7777 closed

[2022-04-01 15:40] luacmartins commented on #8127
@metehanozyurt Nice one! I tested in all platforms and that seemed to fix the issue in all of them! I thought that `display: grid` wasn't supported in native devices, but that property seems to only affect web/desktop anyways as the solution works on native without `display: grid`. @Santhosh-Sellavel any comments on the proposed solution?

[2022-04-01 15:48] jboniface commented on #7853
@mollfpr have you applied to the Upwork job?

[2022-04-01 15:49] shawnborton commented on #8147
Looks like we're all good here?

<img width="376" alt="image" src="https://user-images.githubusercontent.com/2319350/161298167-786446c1-0c47-4a3a-8ef4-edb9526315a7.png">

[2022-04-01 15:49] mollfpr commented on #7853
@jboniface not yet, I couldn't find the link.

[2022-04-01 15:56] michaelhaxhiu commented on #8122
Doubling price to $1000

[2022-04-01 16:18] AndrewGable commented on #8425
Thanks for the quick fix!

[2022-04-01 16:20] Santhosh-Sellavel commented on #8127
@luacmartins Solution seems to be working! But wondering why `display: grid` is needed here?

@metehanozyurt how does `display: grid` addresses the issue?

[2022-04-01 16:27] mollfpr commented on #8357
### Proposal

Base on https://github.com/Expensify/App/issues/8357#issuecomment-1083753541
We only need to check the `chatType` is `POLICY_ANNOUNCE` or `POLICY_ADMINS`. If either both return participants to empty array. In this way IOUModal will have participants page.

https://github.com/Expensify/App/blob/50496a0a0d7dd283f9936988cda95abf69741342/src/pages/iou/IOUModal.js#L110
[code]

If I'm not

[2022-04-01 16:39] kavimuru opened #8441 "Offline - IOU - Button "Pay" keeps spinning when user hit Pay in offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. https://staging.new.expensify.com/[](javascript:)
2. Log in with Account A in Windows/Chrome
3. Log in with Account B in any other device
4. Acco

[2022-04-01 16:50] Santhosh-Sellavel commented on #8033
Sorry late here, but I submitted the same solution. A Month back [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1645738774218049?thread_ts=1645738088.150939&cid=C01GTK53T8Q)

The reason I didn’t bring it here early, was because it was more of a patch to crash, not had enough time to analyze more on this.

cc: @parasharrajat @marcochavezf

[2022-04-01 16:51] megankelso commented on #7862
some ideas for this
<img width="678" alt="Screen Shot 2022-04-01 at 9 51 07 AM" src="https://user-images.githubusercontent.com/49413768/161307687-20922d36-f3ae-4240-b8c1-5ababb9b92de.png">

<img width="1041" alt="Screen Shot 2022-04-01 at 9 44 37 AM" src="https://user-images.githubusercontent.com/49413768/161307216-7d1dddde-3787-4c87-81d7-7688bc6e5392.png">

the hover/tap made me think y'all were

[2022-04-01 16:59] Santhosh-Sellavel commented on #8115
@mollfpr there is more space in the header area android refer to your screenshot. Compare it with https://github.com/Expensify/App/issues/8115#issuecomment-1082377765.

[2022-04-01 17:09] parasharrajat commented on #8033
Given that @mollfpr has invested quite some time digging into the solution and we didn't have your solution on GH to review. I am still in favor of assigning this job to @mollfpr.

Also, PR is already created and approved.

[2022-04-01 17:14] mollfpr commented on #8115
@Santhosh-Sellavel Yes, there’s more space. But above solution is take the thumbnail view which the available height and set it to ‘ImageZoom’. So it’s doesn't need to change anything on the styles.

I’ll add solution too for the exceeded space on Android if you like.

[2022-04-01 17:27] marcochavezf commented on #8394
Pulled latest main and seems the border radius is still shown:

<img width="353" alt="Screen Shot 2022-04-01 at 11 26 36" src="https://user-images.githubusercontent.com/6829422/161312649-2bbd7ca6-47ed-4b17-95b4-565c86c9a14d.png">

[2022-04-01 17:34] marcochavezf commented on #8274
Seems the border radius is still shown on the Login Page: https://github.com/Expensify/App/issues/8394

[2022-04-01 17:35] marcochavezf commented on #8394
Closing this issue since it's a duplicate of https://github.com/Expensify/App/issues/8274

[2022-04-01 17:35] #8394 closed

[2022-04-01 17:36] Santhosh-Sellavel commented on #8033
@parasharrajat https://github.com/Expensify/App/issues/8033#issuecomment-1066150457 is the reason I didn’t bring it here.

Ya, I respect that @mollfpr invested quite some time on this issue and had different approaches too.

[2022-04-01 17:40] mvtglobally opened #8444 "[HOLD - Offline] Web browser showing user as offline when user online"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to the app on low internet
2. Log out
3. Log back in.

## Expected Result:
User should be online

## Actual Result:
User is showing offl

[2022-04-01 17:45] Santhosh-Sellavel commented on #8357
@tjferriss or @danieldoglas Is this the expected OP here?

https://github.com/Expensify/App/issues/8357#issuecomment-1086113910

[2022-04-01 17:49] Santhosh-Sellavel commented on #8291
To fix that, we could create a DefaultAvatar svg icon and just pass a random fill to that component rather than using a URL for those icons. Might also have a minor performance improvement, especially on low-bandwidth connections on mobile.

@Puneet-here This is what we are looking for here.

[2022-04-01 18:06] Santhosh-Sellavel commented on #8033
@parasharrajat, I too think the job should be assigned to @mollfpr because that's only. We will discuss this further internally in the upcoming days. How to address this kind of situation in the future, thanks!

[2022-04-01 18:14] Tushu17 commented on #8274
It's a regression from #8346
cc : @Santhosh-Sellavel

[2022-04-01 18:16] Santhosh-Sellavel commented on #8274
Thanks, @Tushu17! I'll follow up on this.

[2022-04-01 18:26] kbecciv opened #8445 "Split Money - Split amount appeared in the user after navigate to different chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.Go to  https://staging.new.expensify.com and log in with account
2. Click on Fub menu
3. Click on Split bill
4. Enter a value
5. Click Next
6. Sel

[2022-04-01 18:32] parasharrajat commented on #6059
@kevinksullivan Bump.

[2022-04-01 18:34] megankelso commented on #8109
I agree with Jules comment, I don't think we need to switch the keyboards here.

[2022-04-01 18:35] megankelso commented on #8109
will go ahead and close, re-open if needed!

[2022-04-01 18:35] #8109 closed

[2022-04-01 18:45] shawnborton commented on #8147
I think they are okay for now.

[2022-04-01 18:47] shawnborton commented on #7862
I think it's pretty standard that the arrows would always be on the left & right edges of the screen, so I prefer those mockups in comparison to the mockups where the arrows are below the image.

My concern with using white arrows is that if the attachment was white, you wouldn't see the arrow. Could we see a version where the arrows just use our standard button styling? Perhaps even borrowing som

[2022-04-01 18:48] shawnborton commented on #7862
Also a small nitpick: can you update the screenshots to use the current attachment modal styling? It has a subheader for the filename as well as a bottom border:

<img width="1196" alt="image" src="https://user-images.githubusercontent.com/2319350/161323903-af743c71-82b0-4903-82cc-1af61ab3c6a8.png">

[2022-04-01 19:16] metehanozyurt commented on #8127
Thank you @luacmartins and @Santhosh-Sellavel. My first approach was as follows. I want to implement "justify-content" in small pdf sizes. but I don't need this setting for large pdf sizes. According to the this [URL](https://stackoverflow.com/questions/40740553/what-is-the-difference-between-align-items-vs-align-content-in-grid-layout) grid offers me this opportunity.

Maybe this [URL](https://st

[2022-04-01 19:28] megankelso commented on #7862
I'm not sure what our standard button styling is but here are the ones I know of. I think the icon alone looks best but even the grey disappears on some images (big time on this one)

<img width="889" alt="Screen Shot 2022-04-01 at 12 26 24 PM" src="https://user-images.githubusercontent.com/49413768/161328967-6e0e1bee-76f1-48f2-9df4-416a28f900cf.png">

[2022-04-01 19:31] megankelso commented on #7862
also, do they the arrows in the circles feel a bit big to you? there's at 20 px but I wonder if we could bump down to 16 to allow for a smaller circle.

[2022-04-01 19:36] shawnborton commented on #7862
You can find all of our standard button styles in our component library, here is for reference though:
![image](https://user-images.githubusercontent.com/2319350/161329956-d4446f4e-cf8d-4bd0-86c3-c527b2ae174b.png)

So you have the sizes of:
- Small: 28px
- Medium: 40px
- Large: 52px

I think we'd want these to be at least medium size so they are reasonably tappable on mobile devices. So that being

[2022-04-01 19:39] Santhosh-Sellavel commented on #8127
@luacmartins
Let's go with the @metehanozyurt proposal here! I don't see any downside [here](https://github.com/Expensify/App/issues/8127#issuecomment-1085111229).
🎀 👀 🎀 C+ reviewed

With a couple of suggestions.
- Add `display:grid` to [display]( https://github.com/Expensify/App/blob/main/src/styles/utilities/display.js) utilites
- And use it in [web/desktop implementation] (https://github.com/Ex

[2022-04-01 19:52] megankelso commented on #7862
here's the 40/20 button size. also it appears vertical photos may not appear with a border on mobile, so I updated that.

<img width="337" alt="Screen Shot 2022-04-01 at 12 46 16 PM" src="https://user-images.githubusercontent.com/49413768/161331520-7cf317ff-989b-4c7a-b348-b4dd593d8299.png">

I personally think these looks pretty chunky and prefer the arrows alone below the image. For mobile, I ass

[2022-04-01 19:55] shawnborton commented on #7862
Personally I think that looks great. Again, with arrows only, they can easily get lost depending on the image that is behind them so we very easily run into a usability issue. This also feels consistent with other button styles.

[2022-04-01 20:06] ctkochan22 commented on #7948
Punting

[2022-04-01 20:11] megankelso commented on #7862
I was suggesting the arrows go below the image not on top.

Anyway, understand this solution feels more consistent. Thinking web would look something like this then
<img width="1043" alt="Screen Shot 2022-04-01 at 1 10 13 PM" src="https://user-images.githubusercontent.com/49413768/161334645-78e99c51-12a2-4d61-a80a-ed04c7ad8979.png">

[2022-04-01 20:12] trjExpensify commented on #8245
Any luck?

[2022-04-01 20:16] trjExpensify commented on #8147
Cool, cool. Settled up!

[2022-04-01 20:16] #8147 closed

[2022-04-01 20:20] shawnborton commented on #7862
For web, I was thinking the arrows would be closer to the edge of the screen. Especially since the attachment could be wider. Here is what Slack does for reference:
<img width="668" alt="image" src="https://user-images.githubusercontent.com/2319350/161335730-5b8f98f0-0657-49ab-88a3-3a1aded6eba8.png">

Thoughts?

[2022-04-01 20:22] adelekennedy commented on #8185
hired @rushatgabhane and @tomivs!

[2022-04-01 20:24] megankelso commented on #7862
yeah we could move them over

<img width="1043" alt="Screen Shot 2022-04-01 at 1 23 46 PM" src="https://user-images.githubusercontent.com/49413768/161336194-4d8af415-7ad6-4068-b82a-7ba4cd92fc07.png">

[2022-04-01 20:25] adelekennedy commented on #7942
[Internal](https://www.upwork.com/ab/applicants/1509990319706157056/job-details)
[External](https://www.upwork.com/jobs/~015af2f14cc7404530)

[2022-04-01 20:29] adelekennedy commented on #7541
Creating a new job!

[2022-04-01 20:31] shawnborton commented on #7862
Cool, I think that makes more sense. Thanks!

[2022-04-01 20:32] adelekennedy commented on #7541
[External](https://www.upwork.com/jobs/~01feecde0efe9e5f60) @rushatgabhane @osama256 will you both apply so I can assign you to the job, thank you!

[2022-04-01 20:33] tomivs commented on #8185
Awesome. I'll be making a pull request by Monday.

[2022-04-01 20:35] stitesExpensify commented on #8267
After thinking about this some more and chatting with @marcaaron I decided that this is a very easy change that should significantly improve the experience WRT stalled requests. PRs are up

[2022-04-01 20:42] Puneet-here commented on #8200
### Proposal
We need to remove this
https://github.com/Expensify/App/blob/b60a75cede7f6d98b556f4119df7bfab548abf16/src/libs/Navigation/CustomActions.js#L105-L112
and we need to use this
[code]
We need to keep the status closed.
However it will cause one problem:  back arrow of chat header won't work after decreasing the screen size and in order to fix that we can use `Navigation.openDrawer()` inst

[2022-04-01 20:46] luacmartins commented on #8127
Agreed! Your solution looks good @metehanozyurt!

As for @Santhosh-Sellavel suggestions, I would not add `display: grid` to display utilities though, since it's not supported by RN - https://github.com/Expensify/App/blob/main/src/styles/utilities/display.js#L4-L6.

[2022-04-01 20:50] kavimuru commented on #8420
@robertjchen Reuploaded the video.

https://user-images.githubusercontent.com/43996225/161339402-5f030551-bc91-476a-8147-50818a04e5d6.mp4

[2022-04-01 20:55] megankelso commented on #7862
ok for easy reference, mockups here! I think this is all we need.

<img width="375" alt="Mobile - Sidebar Open" src="https://user-images.githubusercontent.com/49413768/161339984-1abf990d-5a8a-4f3c-a1e2-8a1d74cad72e.png">
<img width="1208" alt="web attach" src="https://user-images.githubusercontent.com/49413768/161339988-09a17730-3c18-4d13-8bae-42cc342f3268.png">

[2022-04-01 22:09] AndrewGable commented on #8291
@michelle-thompson - Can we get the default avatar SVG for this? Thanks!

[2022-04-01 22:19] neil-marcellini commented on #8295
Ah ok awesome, thanks! I was planning to look at that yesterday but then my expensify.com account got screwed up. I'll keep investigating.

[2022-04-01 22:34] kevinksullivan commented on #8361
@Tushu17 please apply to the posted job for reporting bonus. Thanks!

[2022-04-01 22:45] kevinksullivan commented on #8045
iOS OS version is 15.3.21 . If I am alone in this I will close for now, update iOS and see if this changes.

[2022-04-01 22:45] #8045 closed

[2022-04-01 22:48] mallenexpensify commented on #5768
Paid @parasharrajat $750 for reporting and job.

[2022-04-01 22:48] #5768 closed

[2022-04-01 23:01] kevinksullivan commented on #7476
All set. Thanks @ahmdshrif @parasharrajat !

[2022-04-01 23:01] #7476 closed

[2022-04-01 23:06] kevinksullivan commented on #6059
Apologies @parasharrajat . Just hired, please accept and I'll get this payment over.

[2022-04-01 23:10] kevinksullivan commented on #8127
@metehanozyurt apply to the[ job](https://www.upwork.com/jobs/~0154111729e0a5dbd4) when you get a chance. Thanks!

[2022-04-01 23:33] mallenexpensify commented on #7598
Super oooof, this issue became a bit of a dumpster fire. @parasharrajat can you help breakdown payments for this?  It looks like:
- @Regaron was hired so they should paid $500
-  @mananjadhav should be paid $250 for reporting
- @parasharrajat $500 for C+

Does that look correct?
Once confirmed @kadiealexander or I will pay.  Sorry for the confusion, thanks for the ping @mananjadhav

[2022-04-01 23:46] roryabraham commented on #7352
Looks like the PR is almost ready. @rushatgabhane mentioned that he wants to review, so I'm waiting on the C+ 👍  before I do a final review.

[2022-04-02 02:40] parasharrajat commented on #7598
@mallenexpensify sounds good.

[2022-04-02 03:31] Santhosh-Sellavel commented on #8127
Nice catch @luacmartins , yes adding there could create some unnescessary confusion.

But the reason behind the suggestion is to use `display: grid`only for web/desktop.

cc: @metehanozyurt

[2022-04-02 04:24] Regaron commented on #7777
Might be a bit late but here is what I've seen:
###App Jumping:

https://user-images.githubusercontent.com/18470532/161366152-fd77786f-56d0-4925-875f-55c026415ca5.mov

###Proposal:

https://user-images.githubusercontent.com/18470532/161366162-368503f0-8d74-4ed7-84df-b0b6b6993f1c.mov

[2022-04-02 04:37] parasharrajat commented on #8245
No Luck. Still can't run the app. I will update you by Monday.

[2022-04-02 13:37] gladiator-1 commented on #7912
@parasharrajat PR ready https://github.com/Expensify/App/pull/8449

[2022-04-02 15:02] metehanozyurt commented on #8220
Hi @parasharrajat and @roryabraham. I add some tests to [OptionsListUtilsTest](https://github.com/Expensify/App/blob/main/tests/unit/OptionsListUtilsTest.js). Hope you like it.

I'm sorry for being late. I wrote before, but I was very nervous because the results I wanted did not come out. Then I noticed that the 'lastMessageTimestamp' values ​​were entered the same value in test file. Then i check

[2022-04-02 15:20] mollfpr commented on #8329
### Proposal

So after the sidebar popover showing, the first click changes the state `isCreateMenuActive` to `false` and immediately closes the popover. But before the popover is completely closed, the second click changes the state `isCreateMenuActive` to `true` so that's why the popover will show again.

https://github.com/Expensify/App/blob/ce6363cd7d08819c6ea94b7ffb6a8009eeab3775/src/pages/ho

[2022-04-02 21:30] brianmuks commented on #8361
**Proposal**
The bug is coming from this line:
https://github.com/Expensify/App/blob/ce6363cd7d08819c6ea94b7ffb6a8009eeab3775/src/libs/actions/ReportActions.js#L105

[code]
 This does not happen when you  just create one message and delete it. It also happens when you delete all the messages.
 If I am not mistaken ```reportActions[reportID]``` always contains an object at index 0 with this data:

[2022-04-03 02:35] kbecciv opened #8451 "Web - Attachment - Low resolution picture is displayed large in Preview Page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open http://staging.new.expensify.com/[](javascript:)
2. Open to any chat
3. Click "+" navigation
4. Select Add attachment
5. Choose a low resolu

[2022-04-03 08:11] rushatgabhane commented on #8362
@sobitneupane wouldn't a better way do it `onBlur`?
And is it really necessary to put this in `TextInput`? Where else do you anticipate this prop to be used?

[2022-04-03 08:19] rushatgabhane commented on #7835
To anyone interested in posting proposals here, feel free to use external libs to solve this issue.

[2022-04-03 08:24] rushatgabhane commented on #7792
WIP 🧑‍🔧🚧

[2022-04-03 09:19] rushatgabhane commented on #8329
@mollfpr thanks for your proposal!

You're proposing that we close the menu on double tapping. But I don't think that's the intention of a user who double taps the FAB menu.

The expected result should be that the FAB menu should open up.

https://user-images.githubusercontent.com/29673073/161420515-7d8ccfc6-f1fb-42ae-97e3-b7f7488ce0a7.mov

[2022-04-03 09:43] mollfpr commented on #8329
@rushatgabhane Okay I see it now. I'll try to find another way, thanks!

[2022-04-03 10:08] mountiny commented on #8331
Oh, I missed clarifying the Expected section too. I assumed we want to always show the `[Attachement]` for any type of attachment which the proposal does, right?

I will update the body of the issue.

[2022-04-03 10:13] mountiny commented on #7317
@mananjadhav No worries and thanks for the update. Glad to have you back 🙏

[2022-04-03 10:15] mountiny commented on #8396
Thanks for confirming @kavimuru, updated the issue just to clarify this for the contributors!

[2022-04-03 10:25] mountiny commented on #8399
@rushatgabhane Nono, I think you did great! This can happen easily!

[2022-04-03 12:25] adeel0202 commented on #8321
I don't know who to tag here but I reported this bug on slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1648127164378649) before this issue was created on GH, so I think I'm eligible for the reporting bonus :)

[2022-04-03 12:37] rushatgabhane commented on #8321
@michaelhaxhiu you wanna pick this one?

[2022-04-03 15:04] sobitneupane commented on #8362
Yes. We can use onBlur function in IOUAmountPage.
**Updated Proposal:**
[code]
https://github.com/Expensify/App/blob/564ec88b345a6da1478bab5e5060054a8cb5ad74/src/pages/iou/steps/IOUAmountPage.js#L228-L239
[code]

[2022-04-03 15:09] rushatgabhane commented on #8362
Where else do you anticipate this prop being used

@sobitneupane I didn't mean to say that we *should* use onBlur, I just wanted your thoughts on where all this prop could be used.

If we can find more than one input where we want this, then we should add a prop to `TextInput`.

What do you think?

[2022-04-03 15:59] dennismunene commented on #8331
@mountiny Yes the proposal covers this , all attachments will be represented as `[Attachment]`

[2022-04-03 16:09] Puneet-here commented on #8287
we can pass `onBlur={() => this.searchInput.focus()}` in composer

[2022-04-03 17:53] sobitneupane commented on #8362
I don't find any other specific use case of the prop. I prefer not to tamper TextInput for now. If we find other places where we want similar behavior than we can pass prop. Rather than onBlur I think we should use EventHandler in IOUAmountPage. If Enter is pressed and there is no amount, textInput remains focused.
[code]

[2022-04-04 03:44] mvtglobally opened #8453 "Uploading a small image results in one massive preview"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Settings > Profile
2. Upload a small profile image
3. Click to preview

## Expected Result:
image preview should be reasonable size

[2022-04-04 03:47] mvtglobally opened #8454 "[HOLD for payment 2022-05-02] [$250] Close account page input field label doesn't fit in one line (Español) - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to preferences page and change your language to Español
2. Go to close account page check the second input for entering default contact method

[2022-04-04 03:49] mvtglobally opened #8455 "[$1000] Pressing enter/return key calls the API even when the Send validation button is disabled - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings > Profile
2. Click on Add Phone number
3. Enter some invalid value in the Phone number field
4. Enter some random password
5. Pres

[2022-04-04 03:52] mvtglobally opened #8456 "[HOLD for payment 2022-05-20][$500] Auto-filling my information on Request a call page fills my name in the opened chat's compose box too - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://new.expensify.com/ on Safari web
2. Go to any workspace
3. Click on Get assistance icon
4. Click on Request a setup call
5. Click o

[2022-04-04 03:59] mvtglobally opened #8457 "[HOLD] "okay, got it." Modal has some extra empty space on top - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. You need to have a workspace and some members in it
 2. Go to close account page
 3. Type default contact method
 4. Press close account button

[2022-04-04 04:04] kadiealexander commented on #8454
Yes, I can see this too! The instruction text isn't aligned properly:

<img width="373" alt="image" src="https://user-images.githubusercontent.com/59587260/161471942-51cd9151-c82e-40df-a16c-e6ace8a6e0b6.png">

And it doesn't disappear when you input text:

<img width="373" alt="image" src="https://user-images.githubusercontent.com/59587260/161471950-4e98cbdd-8d94-48f0-a450-ded2cd99dc8e.png">

[2022-04-04 04:04] mvtglobally opened #8458 "Console Error when UpArrow is pressed in emoji picker - reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Emoji Picker.
2. Press down arrow to highlight emoji.
3. Now Press UpArrow

## Expected Result:
there should be no console errors

## Actual

[2022-04-04 04:06] kadiealexander commented on #7007
@parasharrajat would you mind reviewing @thesahindia's PR here? https://github.com/Expensify/App/pull/7328

[2022-04-04 04:07] mvtglobally opened #8459 "[HOLD for payment 2022-11-24] [$500] Highlighted emoji not visible after scrolling down with ArrowDown key after sometime - reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Emoji Picker.
2. Press down arrow multiple times to reach other categories of emoji (somewhere around "Animals & Nature).

## Expected Resul

[2022-04-04 04:10] kadiealexander commented on #8309
Adding @jliexpensify to keep an eye on this while I'm away for the next few days, in case we need to double the price on Thursday.

[2022-04-04 04:10] mvtglobally opened #8460 "[$250] IOS - Build against iOS 15 in ~1 month or the app will be auto-rejected cc"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Check IOS app SDK Version

## Expected Result:
IOS 15+ SDK should be used for the Expensify app

## Actual Result:
IOS 14.5 SDK is used for the E

[2022-04-04 04:11] kadiealexander commented on #8286
Adding @jliexpensify to keep an eye on this while I'm away for the next few days, in case we need to hire anyone.

[2022-04-04 04:12] kadiealexander commented on #8115
Adding @jliexpensify to keep an eye on this while I'm away for the next few days, in case we need to hire anyone.

[2022-04-04 04:13] kadiealexander commented on #7964
@jliexpensify leaving you assigned, please make payment on this one on the 6th/7th, as I'll be away. Thanks! 🎉

[2022-04-04 04:15] mvtglobally opened #8461 "[$500] Long workspace name breaks the alignment of side arrow - @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Create a workspace
 2. Go to General Settings
 3. Use a long name for workspace
 4. Now go to settings and see the arrow at the right side of wo

[2022-04-04 04:15] kadiealexander commented on #7688
@jliexpensify leaving you assigned, please make payment on this one on the 6th/7th, as I'll be away. Thanks! 🎉

[2022-04-04 04:17] kadiealexander commented on #7486
Adding @jliexpensify to keep an eye on this while I'm away for the next few days, in case we need to hire.

[2022-04-04 04:22] kadiealexander commented on #7462
@parasharrajat just sent you a contract, please accept!

[2022-04-04 04:28] kadiealexander commented on #7712
Hey team! Due to the confusion here, we've agreed to pay @kakajann and @parasharrajat $250 for the fix now, and an additional $250 for the work that was done to fix the "regression".

Contributor: @kakajann I have paid you $250, and will pay the additional after the 7 day period for the new PR.
C+: @parasharrajat I have sent you a contract in Upwork, please accept.
Reporting bonus: @Tushu17 please

[2022-04-04 04:29] kadiealexander commented on #7712
Also adding @jliexpensify to manage this as I'm OOO the next few days.

[2022-04-04 04:44] Christinadobrzyn commented on #8128
Job price increase to $1000.

[2022-04-04 04:45] Christinadobrzyn commented on #7917
Job price increase to $2,000

[2022-04-04 04:45] sobitneupane commented on #8458
**Solution:**
Proposing solution as I reported this issue.
As the error statement suggests, error is occuring in following code segment. Addition of the following lines of code will solve the issue.
https://github.com/Expensify/App/blob/6e9d429ad47044d71cb028fb14d5defc2de0af8a/src/components/EmojiPicker/EmojiPickerMenu/index.js#L256-L259
[code]

[2022-04-04 05:16] mdneyazahmad commented on #7980
`Composer/index.js` uses this `maxLines` prop and it depends on device width.

https://github.com/Expensify/App/blob/9a8291ba97c381b651b5344d6fa471c51ae70336/src/components/Composer/index.js#L190-L195

But we are not using this `maxLines` to calculate the number of lines  on `ios` and `android` we are directly providing the height value in `Composer`

https://github.com/Expensify/App/blob/9a8291ba

[2022-04-04 05:27] barun1997 commented on #7962
@roryabraham @parasharrajat are we going ahead with the PR itself? If yes, please feel free to review it, and let me know!

[2022-04-04 05:44] parasharrajat commented on #7462
@kadiealexander Done.

[2022-04-04 06:28] kakajann commented on #7712
Thanks @kadiealexander

[2022-04-04 06:51] devhardikbeladiya commented on #6941
"Here is updation for that"
Look Here in ourmy demo application, I have applied "AndroidKeyboardAdjust.setAdjustPan()" so when keybaord is open so user not able to scroll the content. and when leave the screen we have applied "AndroidKeyboardAdjust.setAdjustResize()" so user is able to scroll the content even key board is open.

I am sharing my AndroidManifest.xml & .js code so please look out for

[2022-04-04 06:57] hvbeladiya149 commented on #6941
"Here is Update"
Look Here in my demo application, I have applied "AndroidKeyboardAdjust.setAdjustPan()" so when keybaord is open so user not able to scroll the content. and when leave the screen we have applied "AndroidKeyboardAdjust.setAdjustResize()" so user is able to scroll the content even key board is open.

I am sharing my AndroidManifest.xml & .js code so please look out and video demo in

[2022-04-04 06:58] bfitzexpensify commented on #7860
another 7 days without any action here - doubled again

[2022-04-04 07:06] Puneet-here commented on #8455
### Proposal

Need to remove this line
https://github.com/Expensify/App/blob/9a8291ba97c381b651b5344d6fa471c51ae70336/src/pages/settings/AddSecondaryLoginPage.js#L140

[2022-04-04 07:28] bfitzexpensify commented on #6470
Sorry @parasharrajat! Payment complete now.

[2022-04-04 07:35] bfitzexpensify commented on #7861
Sounds fair to me — created https://www.upwork.com/jobs/~011dae88ac3ec087c5 and invited you to the job @kidroca

[2022-04-04 07:39] adeel0202 commented on #8455
**Proposal (If External)**
_(Early as I reported the issue)_

We can validate the form before submitting on line 140
https://github.com/Expensify/App/blob/9a8291ba97c381b651b5344d6fa471c51ae70336/src/pages/settings/AddSecondaryLoginPage.js#L140
like this
`onSubmitEditing={!this.validateForm() ? this.submitForm : null}`

**OR**

We can add the validation check inside `submitForm` method, like this

[2022-04-04 07:39] parasharrajat commented on #6941
Thanks for sharing. It makes it clear that this is not the expected result of this issue.

[2022-04-04 07:47] dylanexpensify commented on #8440
Internal: https://www.upwork.com/ab/applicants/1510886591673495552/job-details
External: https://www.upwork.com/jobs/~017dc0eab60756e368

[2022-04-04 08:16] kidroca commented on #7861
Thanks, I applied

[2022-04-04 08:29] Stutikuls opened #8462 "QA"

[2022-04-04 10:30] madmax330 commented on #8360
I think we need to update the API to not allow mutliple emails or phone numbers in a group

[2022-04-04 10:40] flodnv commented on #8454
Hmmm, asked about it [in Slack](https://expensify.slack.com/archives/C21FRDWCV/p1649068815357449)

[2022-04-04 10:55] trjExpensify commented on #7862
Purrrrfect, thanks! 😸

Updated the OP to include the mocks and passing this over to `engineering` triage before going external. 👍

[2022-04-04 12:22] trjExpensify commented on #8360
Okay, got it. So @Tushu17 you're saying that emails get filtered out in the results to add to the workspace if they are already a member, but phone numbers don't?

[2022-04-04 12:28] madmax330 commented on #8360
Oh right I think there's 2 issues.
1 is what you're saying @trjExpensify  (can be external)
2 the api allows multiple times the same email (internal)

[2022-04-04 12:44] Stutikuls opened #8463 "[med] Chrome: New Group Page: No Visual label is provided for search text field."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to (+) button icon using Tab key and press Enter to select it.
3. Navigate and select new group using Enter & Tab key.
4. New group page is appearing.
5. Observe the Visual label is provided for search text field.

## Expected Result:
Search text field must have visible labels so that their purpose should be clear

[2022-04-04 13:04] Stutikuls opened #8464 "[med] Chrome + Jaws: New Group Page: Search result status is not being announced by screen reader."
## Action Performed:
1. Using Chrome + Jaws, open URL staging.new.expensify.com
2. Navigate to (+) button icon using Tab key and press Enter to select it.
3. Navigate and select new group using Enter & Tab key.
4. New group page is appearing, Input any name in the search editable text box.
5. Observe the screen reader announcement.

## Expected Result:
As soon as search result appear on the page,

[2022-04-04 13:08] dharmik commented on #8440
Proposal:
Cause: Because of screen height is less and keyboard is open so we have multiple suggestion for this to resolved
Proposal 1) Once we have any issue in Current password or New password from API side we can hide that keyboard
Proposal 2) If we have any error come so we can make it scroll to bottom so that error message can be visible in all devices.

[code]

[code]

[code]

[2022-04-04 13:51] Tushu17 commented on #8360
@trjExpensify Yeah correct👍

[2022-04-04 14:01] joelbettner commented on #8380
I just remembered that @arielgreen is on maternity leave, so I untagged, and then re-tagged with `External`. @bfitzexpensify you're the lucky one that got assigned.

I'm not so sure this is really an issue, as the non-centered dropdown shows the entire workspace name. But, I'll leave the UI decision up to someone else.

[2022-04-04 14:30] trjExpensify commented on #8360
Cool, so I think we update the OP to make it a tad clearer. I've gone ahead and done that. @madmax330 you happy for this to go back on `external`?

[2022-04-04 15:03] madmax330 commented on #8360
Doesn't look like it since it's external. If it's an API update it has to be internal.
But we can keep this one as external and create a separate issue for the API change

[2022-04-04 15:05] SumitDiyora opened #8465 "[Medium] Color Contrast: Grey icons against white background fail contrast requirements."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Settings > Search for the created workspace and active the profile of that workspace > Details > Members.
3. Navigate to the "back (<)" and "Close (X)" icon buttons using the Tab key.
4. Measure the color contrast ratio of the grey icon buttons against a white background.

## Expected Result:
The visual present

[2022-04-04 15:08] aldo-expensify commented on #6941
@parasharrajat can you give more details on why it is no the expected result? that is not obvious to me.

The [PR](https://github.com/facebook/react-native/pull/31402), mentioned by @BalogunofAfrica, was merged and is present in release `0.68`, we should give it a try and see if it fixes this.

[2022-04-04 15:11] parasharrajat commented on #8440
@kavimuru I can't see the opened keyboard in the video. Is there an active keyboard when this issue occurs?

[2022-04-04 15:13] parasharrajat commented on #7980
Ok, Thanks. But even on `index.js` file, we are using two values 6 and 16. How will you manage that?

[2022-04-04 15:14] kavimuru opened #8466 "Chat - Previous declined transactions are displayed clicking View Details of the split bill"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-conditions:  IOU is declined previously with this user
1. Navigate to URL http://staging.new.expensify.com/[](javascript:)
2. Click on + in the

[2022-04-04 15:18] kavimuru opened #8467 "[HOLD][$500] Chat - "1 new message" badge does not disappear even after message is deleted by the sender"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send a message from the web to the app
2. On the app, confirm that a new message arrived
3. On the web, delete the message

## Expected Result:
I

[2022-04-04 15:24] kavimuru opened #8468 "Chat - Updated pronouns are not changed in the group chat welcome text until relogin"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Requirements: You need to previously create a group and have selected a pronoun for the participant where you will modify the information.
1. On the

[2022-04-04 15:30] parasharrajat commented on #6941
Also, I haven't seen anyone confirming reproduction in their proposals.

[2022-04-04 15:56] mdneyazahmad commented on #7980
It is not an issue there it works as expected.

[2022-04-04 15:57] mdneyazahmad commented on #7980
This

[2022-04-04 16:06] luacmartins commented on #8456
This should be external!

[2022-04-04 16:16] parasharrajat commented on #7980
I still think calculating the values dynamically should be the way as hard-coded values will be more error-prone. But @pecanoro I leave the decision to you. Thanks. This is the @mdneyazahmad's suggested change https://github.com/Expensify/App/issues/7980#issuecomment-1074679925

[2022-04-04 16:37] Beamanator commented on #7486
Thanks for the great discussion @parasharrajat and @LucioChavezFuentes ! I like where we landed, hiring 👍

[2022-04-04 16:49] Beamanator commented on #8288
Looks good to me, thanks for the reviews @Santhosh-Sellavel and for the proposals @brianmuks 👍

[2022-04-04 16:58] luacmartins commented on #8360
Issue reproducible in dev for phone numbers only. I couldn't reproduce the dupe email invite (unless offline) as described in https://github.com/Expensify/App/issues/6676.

Internal issue [here](https://github.com/Expensify/Expensify/issues/205148). I'll pick up the internal issue to fix the API command and might take on the external one too if we get no proposals in the meantime.

[2022-04-04 17:12] michaelhaxhiu commented on #8235
Posted in #engineering [here](https://expensify.slack.com/archives/C03SSAQ7P/p1649092331213689) to see if we can find a volunteer.

[2022-04-04 17:16] AndrewGable commented on #7579
@Expensify/applause Can you reproduce still?

[2022-04-04 17:22] michaelhaxhiu commented on #6584
All payments sent, closing.

[2022-04-04 17:22] #6584 closed

[2022-04-04 17:28] mountiny commented on #7768
Thanks for keeping us updated @parasharrajat

[2022-04-04 17:48] thienlnam commented on #7934
I know we've added batching but the new write queue doesn't seem to be done yet correct? @kidroca

[2022-04-04 17:53] mountiny commented on #7855
@parasharrajat I assume here it is similar as it was on the other issue, since your setup works again feel free to delve into this once you get around, however, I understand you must have other things aligned. This is probably not the highest priority

[2022-04-04 17:54] thienlnam commented on #7307
PR in final review stages, @parasharrajat could you please give this PR a test when you get the chance?

[2022-04-04 17:57] parasharrajat commented on #7855
Thanks. I will be able to in 2 days.

[2022-04-04 17:57] michaelhaxhiu commented on #8131
Doubling price

[2022-04-04 17:57] cead22 commented on #8426
For context, it looks like this works the same on slack, so maybe this warrants a convo in #product
<img width="637" alt="image" src="https://user-images.githubusercontent.com/165133/161603313-ba61dd63-101f-4354-a810-bc762714fa7c.png">

[2022-04-04 17:58] michaelhaxhiu commented on #6058
not overdue

[2022-04-04 17:59] michaelhaxhiu commented on #5994
not overdue

[2022-04-04 17:59] michaelhaxhiu commented on #5766
Not overdue

[2022-04-04 18:02] parasharrajat commented on #7307
Sorry for the delay, I was struggling with many issues on Mac. I will do this by tomorrow. Just need to do the final run.

[2022-04-04 18:03] kevinksullivan opened #8469 "[HOLD for payment 2022-05-23] [$250] Update default avatar and empty state text for #%domain% default room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Join `defaultRooms` beta using email address associated with a private domain
2. Search for the #%domain% chat room (use CMD + K)
3. Select the #

[2022-04-04 18:10] thienlnam commented on #7591
Can we get this reverted on desktop / web? https://github.com/Expensify/App/issues/8453
On mobile devices it's probably fine but on larger devices I don't think we actually want this to be enlarged as it just becomes a really blurry picture

![image - 2022-04-03T234405 573](https://user-images.githubusercontent.com/43995119/161470312-360839d7-939f-4e64-92a0-a8b37f9e1995.png)

[2022-04-04 18:11] thienlnam commented on #8453
Looks like based on the slack conversation and linked issues, we made the preview larger on purpose.  Commented on the previous issue to try to get this updated for desktop / web

[2022-04-04 18:13] thienlnam commented on #7591
Ah good idea, I'll test on Web with latest changes

[2022-04-04 18:15] rushatgabhane commented on #7591
Unfortunately, #8285 only modifies the native code.
It doesn't affect web and desktop.

[2022-04-04 18:16] shawnborton commented on #8469
I could see something like a globe working for domain? Quick search for "domain" on Noun Project:

<img width="680" alt="image" src="https://user-images.githubusercontent.com/2319350/161606204-f5f1b605-5259-4fc9-9e74-d95c3b29b39c.png">

[2022-04-04 18:16] kidroca commented on #7934
Yes, that's correct
I think these are the latest new about the write queue: https://expensify.slack.com/archives/C01GTK53T8Q/p1648658394841419
There's a [design doc](https://docs.google.com/document/d/16ux_-7JqHzG0V-b_k6430f9cKaWhxjtRgIAkWmUOcsc/edit#heading=h.9wgejexnp1wt) link, which is not accessible by everybody

I think the write queue changes would be applied somewhere along the way

[2022-04-04 18:16] AndrewGable commented on #7591
I think https://github.com/Expensify/App/issues/7591#issuecomment-1087861513 can happen on any client, I would imagine it would become very blurry if you uploaded a 10px picture.. I think we need to take a step back and discuss the ideal behavior and not play so much whack a mole on specific issues.

[2022-04-04 18:19] thienlnam commented on #7591
It doesn't affect web and desktop.

👍

Yeah this is a good point, we've run into a thread where we want to enlarge previews https://expensify.slack.com/archives/C01GTK53T8Q/p1644596202653649 and then another one where we don't actually want to do that.  https://expensify.slack.com/archives/C01GTK53T8Q/p1647964138780349.  I'll start a conversation in slack to see what we actually want to see from t

[2022-04-04 18:25] kevinksullivan commented on #8469
I like the first globe option best there.

[2022-04-04 18:30] Puneet-here commented on #8380
### Proposal

we can create a function like this
[code]
and we can use it on line 70 & 82
https://github.com/Expensify/App/blob/3316204c5828132329fe8d686bb6c3aa018f2f1a/src/pages/workspace/WorkspaceNewRoomPage.js#L70

https://github.com/Expensify/App/blob/3316204c5828132329fe8d686bb6c3aa018f2f1a/src/pages/workspace/WorkspaceNewRoomPage.js#L82

like this
`label: this.truncatePolicyName(policy.name)

[2022-04-04 18:32] kevinksullivan opened #8470 "Default policy-related rooms are still accessible after being removed from the policy"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Add two email addresses to `defaultRooms beta
2. Create a workspace with user 1
3. Go to the `Manage members` tab of the workspace, invite user 2

[2022-04-04 18:33] kevinksullivan commented on #8470
@yuwenmemon just want to flag this one for you in case you have any other input.

[2022-04-04 18:33] shawnborton commented on #8469
Cool, we already have a globe icon in our suite - that would look like this amongst the other room type icons:
<img width="586" alt="image" src="https://user-images.githubusercontent.com/2319350/161608440-ae20292f-81dd-4d62-bc64-19ab00c23454.png">

But I can't tell if I like the outlined globe version better... thoughts?
<img width="858" alt="image" src="https://user-images.githubusercontent.com/2

[2022-04-04 18:36] roryabraham commented on #7925
Thanks for all your investigation @azimgd. I unfortunately have not had time to fully investigate your latest proposal yet, but I am hoping to do that in the next few days and get back to you. Thanks.

[2022-04-04 18:37] neil-marcellini commented on #8295
👀

[2022-04-04 18:41] deetergp commented on #8421
This is something a contributor could work on.

[2022-04-04 18:44] johnmlee101 commented on #8352
Opening up for external. The requisites for rendering
somewhere from here below is breaking would be my guess, but would need extra eyes to see why this case isn't being handled: https://github.com/Expensify/App/blob/21ab9432332e4b2ae5451273b5e17d4df53977db/src/pages/home/report/ReportActionItem.js#L132-L136

[2022-04-04 18:45] LucioChavezFuentes commented on #7486
Thank you! I submitted my proposal on Upwork. I plan to make a pull request on Tuesday, 5th April.

[2022-04-04 18:58] mallenexpensify commented on #6069
@Luke9389 can you review Rushat's proposal above please?

[2022-04-04 18:58] mallenexpensify commented on #7014
@tgolen 👀 on the [above comment](https://github.com/Expensify/App/issues/7014#issuecomment-1077019096) plz

[2022-04-04 18:59] thienlnam opened #8471 "[HOLD for payment 2022-07-25] [$500] Do not resize small attachments displayed in Preview Modal"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

Example file
![82ca9493622eeeb4d6648d0a3369e41fb8f40349_128](https://user-images.githubusercontent.com/30609178/161613

[2022-04-04 19:00] thienlnam commented on #8451
Closing duplicate for this: https://github.com/Expensify/App/issues/8471

[2022-04-04 19:00] #8451 closed

[2022-04-04 19:05] thienlnam commented on #7591
From the result of the slack thread, we're going to leave images as is and not resize smaller images in the preview modal.  Since we've already had this done, we can continue completing this contract.  I've pushed up another issue https://github.com/Expensify/App/issues/8471 that will address making these changes for both native devices and web / dektop

[2022-04-04 19:10] roryabraham commented on #8378
Looks like it, going to check this off as NAB.

Yep, all those other platforms passing is good enough for me!

[2022-04-04 19:18] roryabraham commented on #8378
@mvtglobally Added a comment on https://github.com/Expensify/App/pull/8328

[2022-04-04 19:40] thienlnam commented on #8235
Ah man this has been an issue for a while - IIRC if you copied and pasted the image it would increase in size.  When we send an image to the PDF box we try to generate a thumbnail and convert it into a PDF so that could also be the case.

An easy workaround could be to increase the allowed file size in php.ini https://github.com/Expensify/Web-Expensify/blob/5f23cbb798713a7689c8ca55f2db87aa02178ae4

[2022-04-04 19:48] deetergp commented on #8289
I'm not sure why `<Text style={styles.w1}>{' '}</Text>` was there in the first place, but getting rid of it does resolve this issue. Let's go with @dharmik's proposal # 2, but let's additionally remove the comment above it as well.

[2022-04-04 20:04] neil-marcellini commented on #8295
I'm able to reproduce the problem on dev if I add these betas `[BetaManager::BETA_FREE_PLAN, BetaManager::BETA_FREE_PLAN_FULL_LAUNCH];` [here](https://github.com/Expensify/Web-Expensify/blob/31444587b13c5ec4ed0a3ebbce3b7ed828b9631a/lib/BetaManager.php#L102-L103), then prevent all betas from automatically being enabled on dev in NewDot [here](https://github.com/Expensify/App/blob/a671ac659f49157c61

[2022-04-04 20:04] alex-mechler commented on #7862
I didnt realize how much I needed this before I saw this issue 😅

Looks good to go external!

[2022-04-04 20:06] mallenexpensify commented on #8288
Hired @adeel0202 as bug reporter
@Santhosh-Sellavel and @brianmuks can you please apply here https://www.upwork.com/jobs/~015a0a72eaba588d69 Thanks

[2022-04-04 20:08] rushatgabhane commented on #8289
Agreed

[2022-04-04 20:11] thesahindia commented on #8128
### Proposal

We need to wrap `Onfido` inside `ScrollView`
[code]
https://github.com/Expensify/App/blob/2e118780cdbf1a07cfa4abfc0338361d61002978/src/pages/ReimbursementAccount/RequestorStep.js#L158-L163

[2022-04-04 20:17] luacmartins commented on #8129
Hmm PR has been deployed to staging 5 days ago. Not sure I got this overdue comment and no label.

[2022-04-04 20:28] marcaaron commented on #8404
LGTM. I updated the title so the issue would be more clear. I thought it was referring to a white space character and not extra vertical margin.

[2022-04-04 20:29] marcaaron commented on #2727
Still waiting for proposals

[2022-04-04 20:40] mallenexpensify commented on #8457
Hold plz, this might be a dupe (which was reported first) for https://github.com/Expensify/App/issues/8404

[2022-04-04 20:41] mallenexpensify commented on #8404
@kavimuru , can you confirm this is the same ·(or... the same-enough) as https://github.com/Expensify/App/issues/8457?  If so, I'll close that issue and add `reported by @Tushu17 ` to the OP here.

[2022-04-04 20:43] mallenexpensify commented on #2727
Doubled price to $4000
https://www.upwork.com/jobs/~017b165dfa9821e51c

[2022-04-04 20:55] stephanieelliott commented on #8354
I can't reproduce this, @K4tsuki is this still happening for you?

[2022-04-04 21:00] stephanieelliott commented on #7081
Hi @mananjadhav can you update with progress here? Looks like changes were requested in the PR, please update!

[2022-04-04 21:04] stephanieelliott commented on #7706
Hi @thesahindia, do you still want to work on this?

Also, don't forget to accept the job in Upwork (also @rushatgabhane):  https://www.upwork.com/jobs/~01123c8bc664ea28ed

[2022-04-04 21:08] stitesExpensify commented on #8132
@mvtglobally was this reproducible?

[2022-04-04 21:08] stitesExpensify commented on #7470
@okansahin any update?

[2022-04-04 21:15] roryabraham commented on #8378
Checking off https://github.com/Expensify/App/pull/8270 because it's `Production QA`

[2022-04-04 21:22] stitesExpensify commented on #8379
Okay so how should we proceed here then? Mark as external and get a fix in?

[2022-04-04 21:36] trjExpensify commented on #7862
Job on Upwork here: https://www.upwork.com/jobs/~011ca7e66b62951030

[2022-04-04 21:43] brianmuks commented on #8288
@mallenexpensify Pr is ready :
https://github.com/Expensify/expensify-common/pull/437

[2022-04-04 21:56] stephanieelliott commented on #7856
PR is undergoing QA

[2022-04-04 21:57] stephanieelliott commented on #8048
PR on staging

[2022-04-04 22:31] NicMendonca commented on #7573
doubled again - https://www.upwork.com/jobs/~0152b595bdb97e852c

[2022-04-04 23:12] MitchExpensify commented on #8455
Nice catch @adeel0202, labelling Eng

[2022-04-04 23:15] MitchExpensify commented on #8456
[Upwork Job](https://www.upwork.com/jobs/~017e055cdacf808682)

[2022-04-04 23:24] megankelso commented on #8469
I think the outline version is nice but is maybe a bit out of place among this set of icons that have more solid fills/shapes.

[2022-04-04 23:45] shawnborton commented on #8469
That's a fair point, I'm cool with the globe in the first image.

@kevinksullivan this svg should be all you need for the new room icon asset: [domain-room.svg.zip](https://github.com/Expensify/App/files/8413788/domain-room.svg.zip)

[2022-04-05 00:12] Luke9389 commented on #6069
Thanks for the bump @mallenexpensify

Ok @parasharrajat, lets do this thing! Go ahead an make a PR.

[2022-04-05 00:59] chiragsalian commented on #8424
Hmm im not sure if we need this. In NewDot A group chat is by a specific group of people so you shouldn't be allowed to add some of the chat. If a new group chat was created with an extra person, well its a new group chat so there won't be any history.

I think for our needs the feature we want here is rooms wherein if someone new was added to the room they will see the history of the room so i do

[2022-04-05 02:06] bfitzexpensify commented on #8380
Hm yeah I'm also not sure if this needs to be fixed. Showing the full workspace name seems like a good thing, and to achieve that, it will naturally not be centered.

@Puneet-here, what would be the impact of your suggested solution? Would the drop-down be a fixed max width and the workspace name shown with an ellipsis or something similar?

[2022-04-05 02:10] mdneyazahmad commented on #7790
Video in the issue is at 0.25x

[2022-04-05 02:13] Stutikuls opened #8478 "[med] Chrome + Jaws: Add button (+): Action button (+) is not accessible using screen reader."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to any chat using Tab key and press Enter to select it.
3. Chat screen is appearing, Navigate to Action (+) button using Tab key and try to select it using Enter/Space key/
4. Observe that Action(+) button is not accessible.

## Expected Result:
Action (+) button should be accessible using screen reader.

## Actua

[2022-04-05 02:26] mvtglobally commented on #6669
Issue not reproducible during KI retests. (Third week). Closing

[2022-04-05 02:26] #6669 closed

[2022-04-05 02:28] mvtglobally commented on #7576
Issue not reproducible during KI retests. (First week)

[2022-04-05 02:30] mvtglobally commented on #7617
Issue not reproducible during KI retests. (Third week)
@neil-marcellini are we ok to close this one out?

[2022-04-05 02:30] Stutikuls opened #8479 "[High] Chrome + Jaws: Add button (+): Name, role & State are not defined for Action button (+)"
## Action Performed:
1. Using Chrome + Jaws, open URL staging.new.expensify.com
2. Navigate to any chat using Tab key and press Enter to select it.
3. Chat screen is appearing, Navigate to Action (+) button using Tab key and press using Enter to select it.
4. Observe that Name , role & State ate not defined for Action(+) button.

## Expected Result:
Name should be defined for + button so that scre

[2022-04-05 02:32] mvtglobally commented on #7638
Issue not reproducible during KI retests. (Third week). Closing

[2022-04-05 02:32] #7638 closed

[2022-04-05 02:32] mvtglobally commented on #7768
Issue not reproducible during KI retests. (First week)

[2022-04-05 02:35] mvtglobally commented on #7779
Issue not reproducible during KI retests. (First week)

[2022-04-05 02:35] mvtglobally commented on #8015
Issue not reproducible during KI retests. (First week)

[2022-04-05 02:37] mvtglobally commented on #8048
Issue not reproducible during KI retests. (First week)

[2022-04-05 02:38] mvtglobally commented on #8108
It seem to work fine now.
Issue not reproducible during KI retests. (Second week)

[2022-04-05 02:41] mvtglobally commented on #8110
Issue not reproducible during KI retests. (First week)

[2022-04-05 02:46] mdneyazahmad commented on #7917
I have noticed that we have a team of accessibility engineer may be they can help us audit and the contributor can submit proposal for fixing that issues?

[2022-04-05 02:47] mvtglobally commented on #8317
Issue not reproducible during KI retests. (First week)

[2022-04-05 02:50] Stutikuls opened #8480 "[med] Chrome + Jaws: Role is not defined for Send button."
## Action Performed:
Break down in numbered steps

## Expected Result:
Role = "Button" should be defined for send control, so that user can easily identify the function of the control.

## Actual Result:
Role is not defined for Send button. Screen reader is only reading "Send".

##Note - On MAC screen reader is reading "Send group".

## Workaround:
Yes

## Area issue was found in:
Send Window

##

[2022-04-05 02:52] mvtglobally commented on #8348
Issue not reproducible during KI retests. (First week)

[2022-04-05 02:55] AnotherKatsuki commented on #8354
@stephanieelliott yes, still happening for me.

[2022-04-05 03:07] Stutikuls opened #8481 "[med] Chrome + Jaws: Role is not defined for invite button."
## Action Performed:
1. Using Chrome + Jaws, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to any workspace using Tab key and press using Enter to select it.
4. Navigate to Manage members using Tab key and press using Enter to select it.
5. Navigate to Invite button using Tab key and press using Enter to select it.
6. Invite new m

[2022-04-05 03:16] mvtglobally opened #8482 "Too large message hangs the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send a really long message (e.g. 233k characters)

## Expected Result:
User should either not be allowed to send a very long messages or app shou

[2022-04-05 03:43] OneDevStopShop commented on #7573
I have been looking into this.  It seems that

Since the pre-req is to add a VBA, the reason why it does not show up is simply because for the VBA view we do not have the sections for tracking distance and rates.

NoVBAView: https://github.com/Expensify/App/blob/4b5abf63ee24c2031945a3c119330cc86f45985b/src/pages/workspace/reimburse/WorkspaceReimburseNoVBAView.js#L159-L188

VBAView: https://github.

[2022-04-05 03:47] mvtglobally commented on #8378
We are only left with https://github.com/Expensify/App/pull/7580 failing due to Blocker https://github.com/Expensify/App/issues/8379

[2022-04-05 03:50] OneDevStopShop commented on #7917
Hi I am interested in this issue.  I am confused about the expectations, do we just need to update the tab functionality if it does not work as expected?

How do you access the [KYC flow](https://github.com/Expensify/App/blob/30118b75ba9693ee5518464c8d7073a9c6883b19/src/pages/EnablePayments/AdditionalDetailsStep.js) page?

[2022-04-05 04:25] mateusbra commented on #7638
@Luke9389 is this elegible for payment as you said here https://github.com/Expensify/App/issues/7638#issuecomment-1061259800?

[2022-04-05 05:01] bfitzexpensify commented on #8421
upwork [posting](https://www.upwork.com/jobs/~01b625ea8e603fbe10)

[2022-04-05 05:13] mananjadhav commented on #7081
@stephanieelliott I was OOO for a personal exigency. I've resumed yesterday and will finish all comments by this week.

[2022-04-05 05:14] mananjadhav commented on #7307
I'll also give another test today, check final comments and merge the `main` branch.

[2022-04-05 05:14] mananjadhav commented on #7598
Done @mallenexpensify

[2022-04-05 05:16] mananjadhav commented on #7317
Thanks, @mountiny. Apologies might need 1-2 days to get to close it.

[2022-04-05 05:20] ctkochan22 commented on #8178
Too many competing priorities. This can be worked on by a contributor

[2022-04-05 06:18] jliexpensify commented on #8352
Posted

Internal - https://www.upwork.com/ab/applicants/1511226520114122752/job-details
External - https://www.upwork.com/jobs/~01782081efffe44962

Invited @Santhosh-Sellavel

[2022-04-05 06:21] jliexpensify commented on #7486
Hired @parasharrajat and @LucioChavezFuentes

[2022-04-05 07:15] parasharrajat commented on #8245
Testing shortly....

[2022-04-05 08:08] dylanexpensify commented on #8291
Just checking in, should this be doubled or are we feeling ok with where it's at? cc @Santhosh-Sellavel

[2022-04-05 08:09] dylanexpensify commented on #8220
@parasharrajat still good with where we are here on price?

[2022-04-05 08:18] parasharrajat commented on #8220
@dylanexpensify If are good to hire the selected proposal then I don't think a price increase is needed.

[2022-04-05 08:20] parasharrajat commented on #8220
@metehanozyurt I didn't understand this post https://github.com/Expensify/App/issues/8220#issuecomment-1086657856. Could you please try to rephrase it?

Are you trying to say that, your proposed solution does not have desired results?

[2022-04-05 08:40] laurenreidexpensify commented on #8358
Ugh this was assigned to me _just_ before I went OOO for 2 days. Looking this morning and will add to Upwork.

[2022-04-05 08:48] metehanozyurt commented on #8220
No my proposal can fix the problem @parasharrajat.
I wanted to say some other pages need to change too for sorting about recent chats. I can do it when i fix the issue if you like no problem for me. I just wanted to avoid possible new issues ❤ .

[2022-04-05 08:55] Puneet-here commented on #8380
Yes we will show ellipsis for bigger names.

[2022-04-05 09:09] madmax330 commented on #8424
Hmm I disagree, I think we should be able to add people to group chats like on whatsapp, messenger and every other group chat I know.
What brought me to reporting this is, I started a groupchat with Francois and Yuwen for monthly settlement IS changes.
Then Nikki picked up one of the issues and I wanted to add her to the group b/c she's working on it. So we had to create a new group, but now we lo

[2022-04-05 09:22] parasharrajat commented on #8220
Ok. Thanks for the clarification. Let's wait for Rory's comment. If we need to change other parts of code/pages unrelated to this issue as increased scope. We might issue a bonus for doing that.

[2022-04-05 10:02] MonilBhavsar commented on #8426
Yes, Slack doesn't support this, but Github does.
I feel like we should do it. Can post in #product after your thoughts

[2022-04-05 10:03] Stutikuls opened #8484 "[med]: Payment page: Chrome: Focus indicator is not clearly visible on all Edges."
## Action Performed:
1. Using Chrome + Jaws, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to payment using Tab key and press using Enter to select it.
4. Navigate to Payments page using Tab key.
5. Observe the focus indicator on the Payment page.

## Expected Result:
All edges of the focus indicator should visible properly.

## A

[2022-04-05 10:21] Stutikuls opened #8485 "[med] Chrome + Jaws: Role is not defined for Add Payment."
## Action Performed:
1. Using Chrome + Jaws, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to payments using Tab key and press using Enter to select it.
4. Navigate to Add payments page using Tab key and press Enter to activate it.
5. Observe the screen reader announcement.

## Expected Result:
Role = "Button" should define for th

[2022-04-05 10:56] NicMendonca commented on #7573
@OneDevStopShop thanks for that proposal! Before we review, can you please link your Upwork profile here? Thanks!

[2022-04-05 11:37] mountiny commented on #8108
@mvtglobally Thank you! I will close this for now and if it appears again, we could reopen this!

[2022-04-05 11:37] #8108 closed

[2022-04-05 12:16] dharmik commented on #8289
@rushatgabhane @deetergp Applied on upwork. ✅

[2022-04-05 12:18] dharmik commented on #8289
@rushatgabhane @deetergp @jboniface Applied on upwork. ✅

[2022-04-05 12:26] rushatgabhane commented on #6069
omg 😂

[2022-04-05 12:31] Gonals commented on #8441
Setting as internal for now, since we are still working on the whole offline thing, and sending to the pool

[2022-04-05 12:59] laurenreidexpensify commented on #8358
https://www.upwork.com/jobs/~01a78e217d52be5b65

[2022-04-05 13:25] laurenreidexpensify commented on #8152
@thesahindia is there a PR up for this one yet?

[2022-04-05 14:00] cead22 commented on #8426
Go for it

[2022-04-05 14:20] Julesssss commented on #8482
Yep, I can confirm this is occuring. I'm also seeing heavy lag as the user typing the long message -- especially when making an edit to the message before sending it. Ideally we would reduce the max message length, I recall us deciding against this previously so let's get additional thoughts before moving forward here.

[2022-04-05 14:52] pecanoro commented on #7980
So I would usually agree that a dynamic value would be better, but it is already hardcoded so it's not that we are making it worse. Also, since making it dynamic does not seem that straightforward, let's just fix this issue with the proposed solution and maybe in the future we can refactor the whole thing to make it dynamic.

@mdneyazahmad I will assign the job to you!

[2022-04-05 14:54] pecanoro commented on #7980
Oh wait, the issue had gone pretty long, you are assigned already! Go ahead with the PR, just make sure it does not cause any regressions.

[2022-04-05 15:00] sketchydroide commented on #8422
The idea seems good, I think we need to set some sort of date interval, we don't want to download the entire conversation, as we might have very large conversations, and preview a generator.
I think we need to create a #WhatsNext channel post, this would need a document to be created, it's more than a simple button.

[2022-04-05 15:16] zsgreenwald commented on #8325
Removing Ryan, and pulling myself back in. Just to summarize, this error occurs when a user tries to delete a payment method, although they should be able to do that either way. What's a scenario where the user wouldn't be able to delete a payment method?

I feel like `"Oops...something went wrong and your request could not be completed. Please try again later".` is just fine, but I'll gut check t

[2022-04-05 15:22] shawnborton commented on #8197
I think that's fine. Alternatively we could just not enlarge default profile pictures but I'm not sure if it's worth making that exception or not.

[2022-04-05 15:25] tylerkaraszewski commented on #8466
I'm not sure if this can be marked external or not as I'm not sure if this is a frontend or backend issue.

[2022-04-05 15:46] neil-marcellini commented on #7617
Yeah we can close this one, but there's now a similar issue where 2 workspaces are created for userA 🙈 . I'll create an issue for that.

[2022-04-05 15:50] zsgreenwald commented on #8325
I'd suggest something like this:

This way there's direct action to contact Concierge in case they have any questions. Thoughts?

[2022-04-05 16:11] neil-marcellini commented on #7617
This issue still occurs, but much more rarely. I believe that there is some kind of race condition. I'm working on other transition related issues and I have seen this bug on dev, so I'll work on another fix that will hopefully solve this for good.

[2022-04-05 16:16] mollfpr commented on #8307
### Proposal

The issue is related to the warning here https://necolas.github.io/react-native-web/docs/animated/

There's a warning about `useNativeDriver` when `Animated.View` run inside `OpacityView` component. The main issue is from the style `opacity` is not change from `0.5` to `1` when several times rendering the button.

My proposal is to separate the `OpacityView` from the native and the w

[2022-04-05 16:26] mountiny commented on #8396
@stephanieelliott Bumping here for Exporting this one, thank you 🙇

[2022-04-05 16:27] mountiny commented on #8151
@jboniface Has this been paid and just not closed? Can we close?

[2022-04-05 16:31] tylerkaraszewski commented on #8466
Seems like it can be external:
https://expensify.slack.com/archives/C01GTK53T8Q/p1649176068236659?thread_ts=1649172366.957049&cid=C01GTK53T8Q

[2022-04-05 16:35] Julesssss commented on #8197
Thanks. Yeah true. Having that distinction is definitely not obvious UX so let's stick with this for now 👍

[2022-04-05 16:51] roryabraham commented on #8379
My take on this issue is that it's an existing bug, not necessarily directly related to the new feature (emoji in the edit comment input). I don't think it's a new feature though – it's a bug.

I'm going to demote this from DeployBlocker to just a regular bug, make it external, and start the price at $500 because it's pretty severe.

[2022-04-05 16:52] OSBotify commented on #8379
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-04-05 16:52] roryabraham commented on #8379
GitHub won't let me change the labels 😠

[2022-04-05 16:57] roryabraham commented on #8379
Updated the OP. @NicMendonca as stated above, please start this issue at $500

[2022-04-05 16:58] roryabraham commented on #8378
I demoted https://github.com/Expensify/App/issues/8379 from deploy blocker to regular bug, and determined that https://github.com/Expensify/App/pull/7580 works, other than that known issue.

[2022-04-05 17:03] thesahindia commented on #7706
I am working on it will submit a PR soon.

Also can I get this svg?
<img width="241" alt="Screenshot 2022-04-05 at 10 32 01 PM" src="https://user-images.githubusercontent.com/83179295/161809866-62d54e48-8904-442d-b5e6-872890a877dd.png">

[2022-04-05 17:05] rushatgabhane commented on #7706
cc: @michelle-thompson

[2022-04-05 17:06] botify commented on #8044
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.49-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8232

If no regressions arise, payment will be issued on 2022-04-12. :confetti_ball:

[2022-04-05 17:06] botify commented on #8032
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.49-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8330

If no regressions arise, payment will be issued on 2022-04-12. :confetti_ball:

[2022-04-05 17:06] botify commented on #8048
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.49-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8283

If no regressions arise, payment will be issued on 2022-04-12. :confetti_ball:

[2022-04-05 17:06] botify commented on #8110
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.49-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8221

If no regressions arise, payment will be issued on 2022-04-12. :confetti_ball:

[2022-04-05 17:06] botify commented on #7523
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.49-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8346

If no regressions arise, payment will be issued on 2022-04-12. :confetti_ball:

[2022-04-05 17:07] kevinksullivan commented on #8469
Thanks @megankelso @shawnborton , updated the OP and will move this forward.

[2022-04-05 17:08] OSBotify opened #8492 "Deploy Checklist: New Expensify 2022-04-05"
**Release Version:** `1.1.51-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8117
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8238
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8285
  - [x] QA

[2022-04-05 17:11] kevinksullivan commented on #8178
https://www.upwork.com/jobs/~01f2115c340e1b810b

[2022-04-05 17:17] sylveawong commented on #8325
@zsgreenwald In general, I think we've tried to move away from generic errors as much as possible so that they can address the issue immediately vs add more support volume.

@MariaHCD To confirm that i'm understanding this particular issue correctly though, this error is showing up being we specifically don't allow users to delete billing cards, right? I know its clunky to go back and forth but wo

[2022-04-05 17:18] techievivek commented on #8325
@sylveawong Yes this get shown when one tries to delete billing card.

[2022-04-05 17:19] parasharrajat commented on #8128
Thanks for the proposal. I will test it tomorrow. Onfido has many pages. This change should not break UI for any of those.

[2022-04-05 17:21] sylveawong commented on #8325
hrmm but actually, if they update with a new billing card, the card should be removed all together. This should remove it from showing up in newdot as well, correct? If that's the case, we can update the copy to tell them to remove the card by changing billing (vs "change billing before trying again")

[2022-04-05 17:22] parasharrajat commented on #8178
I think this should be held until Offline issues are dealt with.

[2022-04-05 17:31] rushatgabhane commented on #6069
ETA for PR: 1 day.

[2022-04-05 17:35] mallenexpensify commented on #8288
Hired @brianmuks in Upwork. @Beamanator is there a reason @Santhosh-Sellavel wasn't assigned to the PR to review?

[2022-04-05 17:36] thienlnam commented on #7917
Good suggestion, though our accessibility QA team is going through a different flow so they wouldn't test this unless a PR happened to touch these forms.  We've narrowed the scope of this issue and since it's just checking a few things I think a contributor should be able to do it

@OneDevStopShop If you're looking for an example of what needs to be done,  feel free to check this other similar iss

[2022-04-05 17:37] NicMendonca commented on #8379
Upwork job: https://www.upwork.com/jobs/~0117b13ad85930bd8e

[2022-04-05 17:40] rushatgabhane commented on #7573
Sorry for the delay, I'll review the proposal tomorrow.

[2022-04-05 17:43] rushatgabhane commented on #8329
Sorry for the delay, I'll review this tomorrow.

[2022-04-05 17:43] mallenexpensify commented on #7598
@mananjadhav paid $250 for reporting

[2022-04-05 17:43] #7598 closed

[2022-04-05 17:45] rushatgabhane commented on #8362
@sobitneupane I don't like the idea of using event handlers. Why is it better than onBlur?

[2022-04-05 17:53] mallenexpensify commented on #6069
It wasn't me this time @rushatgabhane !!!

[2022-04-05 18:05] parasharrajat commented on #7462
Bump @kadiealexander.

[2022-04-05 18:05] thesahindia commented on #8152
Made the PR, it still needs some work though.

[2022-04-05 18:06] Beamanator commented on #8288
@mallenexpensify yeah, @Santhosh-Sellavel wasn't automatically assigned b/c we don't have all of the automation set up in the expensify-common repo yet, and also I couldn't manually assign him b/c currently C+ can only be manually assigned in E/App repo, unless they comment on issues / PRs in those other repos. I made an internal issue to work on that / think about it here: https://github.com/Expe

[2022-04-05 18:08] Luke9389 commented on #8178
I'd even go so far as to say we should close it. This issue might not exist after offline is sorted out.

[2022-04-05 18:08] #8178 closed

[2022-04-05 18:10] Luke9389 commented on #7638
Oh, absolutely.
Gonna tag the CM on this issue @Christinadobrzyn to help with that.
Thanks for the bump @mateusbra.

[2022-04-05 18:17] OSBotify commented on #8492
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.51-0 :rocket:

[2022-04-05 18:42] parasharrajat commented on #7638
I think the same applies to C+. Right?

[2022-04-05 18:59] parasharrajat commented on #7768
@mountiny I can't reproduce this issue anymore. Are you able to provide the steps?

[2022-04-05 19:05] michaelhaxhiu commented on #7916
@mdneyazahmad bump on applying for job here - https://www.upwork.com/jobs/~0197285630ce0fa6fa. I know you have several jobs assigned and just wanted to check how it's going?

[2022-04-05 19:09] parasharrajat commented on #7007
On my list. Coming back to it. There was a long delay for requested changes which shifted the priority for this PR.

[2022-04-05 19:14] parasharrajat commented on #8245
I can still reproduce this.

https://user-images.githubusercontent.com/24370807/161832077-4d0b14d7-d84b-4638-ace6-52197f98e577.mp4

[2022-04-05 19:15] LucioChavezFuentes commented on #7486
Guys what would be the default value for `numberOfLines` prop?

[2022-04-05 19:21] parasharrajat commented on #7486
None. Similarly no default value for width. Tooltip should work as it does currently when these props are not passed.

[2022-04-05 19:26] michaelhaxhiu commented on #8006
Can you provide an update on this one please?

[2022-04-05 19:28] michaelhaxhiu commented on #7715
Doubling price again.

[2022-04-05 19:29] michaelhaxhiu commented on #7618
@iwiznia do you agree with doubling this again?

[2022-04-05 19:34] luacmartins commented on #8360
I'll work on this internally. @trjExpensify we should pay the reporting bonus to @Tushu17.

[2022-04-05 19:37] metehanozyurt commented on #8471
Hi , in this [issue:8119](https://github.com/Expensify/App/issues/8119) my proposel fix this issue too. please review the video thank you.

https://user-images.githubusercontent.com/6093207/161835598-256de6ca-21fe-4e8f-b82d-d8414f9a21ec.mp4

[2022-04-05 19:38] OneDevStopShop commented on #7573
@rushatgabhane I do not see why this would not be applicable on mobile devices as well.  The code just is not there and so it should not show up unless there was an issue with determining VBA

[2022-04-05 19:44] mateusbra commented on #8006
Hey @michaelhaxhiu, I think this was deployed to production has 6 days from https://github.com/Expensify/App/pull/8195#issuecomment-1083539973

[2022-04-05 19:45] thesahindia commented on #8128
Yeah I have checked all the platforms and tried opening some initial pages and it's working fine

[2022-04-05 19:56] michaelhaxhiu commented on #8006
I noticed iOS failed to deploy and was curious if that changes anything

[2022-04-05 20:00] Puneet-here commented on #8469
Hey can I work on this?

Here's my proposal
### Proposal

Need to add this function in reportUtils
[code]
Will add another check here
https://github.com/Expensify/App/blob/2e118780cdbf1a07cfa4abfc0338361d61002978/src/libs/OptionsListUtils.js#L214-L224
[code]
will add
`const isDomainRoom = ReportUtils.isDomainRoom(props.report);`

https://github.com/Expensify/App/blob/2e118780cdbf1a07cfa4abfc033836

[2022-04-05 20:22] neil-marcellini commented on #8295
I've fixed the problem here where the user is immediately navigated back. However, when closing the RHN for the bank account page it still navigates back to OldDot, so I'm looking into that.

[2022-04-05 20:29] LucioChavezFuentes commented on #7486
Ok I understand, just to confirm, what would be the `numberOfLines` and `maxWidth` values for Tootip component  in MultipleAvatars?
![image](https://user-images.githubusercontent.com/48106652/161843543-1be48a17-a8a0-402e-969a-1dffc2c11fdc.png)

[2022-04-05 20:38] mountiny commented on #7768
@parasharrajat that is good to hear it si not reproducible. The steps I followed were same as in the PR, would you be fine with holding the payment for the second week of retest by QA @mvtglobally so in 7 days and then if issues does not persist?

[2022-04-05 20:39] johnmlee101 commented on #4733
Same ^

[2022-04-05 20:46] trjExpensify commented on #8360
Cool, @Tushu17 - sent you a contract in Upwork for reporting.

[2022-04-05 20:51] luacmartins opened #8495 "workspace.invite.pleaseEnterValidLogin does not exist"
## Action Performed:
1. Navigate to `Workspace > Manage members > Invite`
2. Type a login that doesn't exist
3. Click invite
4. Verify that nothing happens and you see the following error in the console.

![Screen Shot 2022-04-05 at 2 51 01 PM](https://user-images.githubusercontent.com/22219519/161846850-5c69ca65-efe0-497f-905f-fd50528a265b.png)

## Expected Result:
We should display feedback to t

[2022-04-05 20:59] isabelastisser commented on #8457
Sorry, I just saw Matt's comment now so I'm removing engineering.

[2022-04-05 21:20] arielgreen commented on #8467
https://www.upwork.com/jobs/~01ab73f49ccf173b02

[2022-04-05 21:20] kavimuru opened #8497 "VBA - Start over button is not responding when connecting a bank account - reported by: @puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with expensifail account
3. Go to Settings- Performance
4. Enable the Staging Server
5. Go to any Works

[2022-04-05 21:25] roryabraham commented on #8220
@metehanozyurt I think your proposal looks good, and I agree the other pages (`IOUParticipantsSplit`, `NewChatPage`, etc...) should also sort by timestamp. I did not review the unit tests, but we can always adjust unit tests in the PR. We want them to be thorough but also readable.

I would be happy to issue a $250 bonus for the increased scope, so long as unit tests thoroughly cover all new and o

[2022-04-05 22:16] Tushu17 commented on #8360
@trjExpensify Ok, Accepted👍🏼

[2022-04-05 22:35] trjExpensify commented on #8360
Perfect, settled! 👍

[2022-04-05 23:01] MitchExpensify commented on #8247
Bumped the Slack thread https://expensify.slack.com/archives/C01GTK53T8Q/p1646847754079389

[2022-04-05 23:14] deetergp commented on #7524
Do we need to release this back into the general pool for more submissions? It has been more than a month. (cc @eVoloshchak)

[2022-04-05 23:23] kavimuru opened #8501 "[Hold] Chat - Attachments thumbnail becomes blank for a moment in the preview when loading spinner appears"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/[](javascript:)
2. Log in with any account
3. Click on Plus button
4. Attach any picture

## Expected Res

[2022-04-05 23:23] chiragsalian commented on #8323
Okay i think the current functionality is the same as the comment you mentioned. I'm going to close out this issue since i don't see any problem here. Feel free to reopen if anyone disagrees.

[2022-04-05 23:23] #8323 closed

[2022-04-05 23:24] chiragsalian commented on #8291
unassigned myself since just 1 CME should be enough.

[2022-04-05 23:53] marcaaron commented on #8331
Sorry, was busy with some other things. Since this was reported by Applause I'd probably ask them if they are using a regression test to assume this behavior? If so, we can update whatever test they are using so this won't get reported again once fixed.

[2022-04-06 00:02] mallenexpensify commented on #8288
oh... wow, that's new to me! Thanks for raising internally, sounds like something we should try to fix.
Can @Santhosh-Sellavel help in/on the PR at all? I'm planning to compensate them the full C+ price so feel free to ask for help (if it's needed/wanted)

[2022-04-06 00:21] Christinadobrzyn commented on #7638
Ah, sorry for the delay on my side! I just sent an offer to @parasharrajat and @mateusbra in Upwork. I can't seem to pay until the offer is accepted. Please accept the offer in Upwork and then I'll pay!

[2022-04-06 00:30] #8381 closed

[2022-04-06 00:30] Christinadobrzyn commented on #7638
Ah okay, paid @mateusbra!

[2022-04-06 00:32] Christinadobrzyn commented on #8422
Okay sounds good! I wasn't sure if we would need to go through a p/s for this. I can take this and reach out to the team about it to get more thoughts!

[2022-04-06 00:32] Christinadobrzyn commented on #8422
I'll assign it to myself!

[2022-04-06 00:36] mateusbra commented on #7638
Thanks very much @Luke9389  @Christinadobrzyn and @parasharrajat for the review!

[2022-04-06 02:52] stephanieelliott commented on #8134
2x'd t0 $1000: https://www.upwork.com/jobs/~017fecd4f1b010dc8e

[2022-04-06 02:52] stephanieelliott commented on #8134
Hey @parasharrajat, @brianmuks shared an updated proposal in the comment [here](https://github.com/Expensify/App/issues/8134#issuecomment-1081912140). Can you please review?

[2022-04-06 02:55] stephanieelliott commented on #8284
PR deployed to staging

[2022-04-06 02:59] stephanieelliott commented on #8396
Posted to Upwork: https://www.upwork.com/jobs/~016be1280a5e18a4d5

[2022-04-06 03:00] mvtglobally opened #8502 "[$250] New Group has weird behavior on desktop when using keyboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Imagine you have three contacts, Alice, Bob, and Cathy
2. Open up New Group, and type Ali -- Alice will appear at the top
3. Press "Enter", Alice

[2022-04-06 03:42] mvtglobally opened #8503 "[HOLD for payment 2024-04-25] [Tracking] [Performance] Enable the new Fabric architecture"
GitHub Project: https://github.com/orgs/Expensify/projects/35

Main New Arch PR: https://github.com/Expensify/App/pull/13767

## Context
New render engine: https://reactnative.dev/architecture/fabric-renderer
Summary of findings
1) There are 4 main components of RN: React, JavaScript, a series of elements collectively known as the “bridge”, and the native elements/modules. Each of these components

[2022-04-06 03:48] mvtglobally opened #8504 "Multiple API calls in console when user is not making actions"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. Switch to another chat

## Expected Result:
There should be only relevant API calls in the Console

## Actual Result:
Mul

[2022-04-06 03:48] zsgreenwald commented on #8325
Yeah I like the direction you took here. Maybe to shorten it:

Thoughts @sylveawong ?

[2022-04-06 03:52] mvtglobally opened #8505 "[$250] Pressing down-key after searching a new user Crashes the Website - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Open Website > Search
 2. Write a Random Phone No.
 3. Press Down-key

## Expected Result:
It should highlight the shown result.

## Actual Resu

[2022-04-06 03:58] roryabraham commented on #8503
This can definitely be external. I went ahead and flagged it as a potential issue for the Margelo team to work on: https://expensify.slack.com/archives/C035J5C9FAP/p1649217447621559

[2022-04-06 04:02] mollfpr commented on #8134
@parasharrajat the expected result is

Or add space for block quote next message?

Btw any feedback for my proposal https://github.com/Expensify/App/issues/8134#issuecomment-1079692233?

[2022-04-06 04:29] sobitneupane commented on #8362
Oh! In that case, we can go with onBlur. I suggested the event handler because 'Enter' event makes the TextInput blur. So, tried to catch the main cause. In this case, onBlur works fine as well.

[2022-04-06 04:34] parasharrajat commented on #8134
The expected result is:

we should see the space-separated message as the last message text on LHN when the user sends a multiline quote as the last message.

these additional `getFirstLineOfLastMessageHTML` string manipulation in not favorable.

[2022-04-06 04:35] parasharrajat commented on #7638
Done @Christinadobrzyn

[2022-04-06 04:40] parasharrajat commented on #7768
Sure. No problem.

[2022-04-06 04:45] mollfpr commented on #8134
But in slack conversation [here](https://github.com/Expensify/App/issues/8134#issuecomment-1067249664) isn’t it the first line of the last message as the expected result? 🤔

[2022-04-06 05:33] eVoloshchak commented on #7524
Sorry for the huge delay.
I'm planning to submit first PR in two days, if I don't do that, please release it to the pool (I'll try to leave a message if I can't finish the job, but there's huge problems with internet access, so I might not be able to, so consider absence of the pr in two days as this message). Again, sorry for the delay, I'll try to make sure this never happens again

[2022-04-06 06:45] Christinadobrzyn commented on #7638
Paid @parasharrajat!

[2022-04-06 07:24] roryabraham commented on #8272
Sorry, I've been sitting on a predesign meeting to solve this class of problem in a better way than we have so far, but have been prioritizing Offline First.

[2022-04-06 07:24] roryabraham commented on #4010
Punting again

[2022-04-06 07:26] roryabraham commented on #7582
Again no update, considering closing this. It needs to be done, but is a slog and difficult to prioritize. Could be a good project for a contributor aspiring to be a C+ (because it involves not only writing tests and code but leading slack discussions to generate consensus).

[2022-04-06 07:31] parasharrajat commented on #8134
Thanks for linking that. It does make a ton of sense to me why would we only want to show the first line of the message if we can still show many. That slack thread is still not concluded. It is leaning towards showing the messages from the start instead of the last line of the message.

eg.
[code]

The best would be to show `I :hearts: u` as the last message text instead of `I`.
@alex-mechler Tho

[2022-04-06 07:42] parasharrajat commented on #8380
I don't think this needs to be changed at all. That dropdown is created by the browser and every browser will have different behavior. Now, if the browser does not care about it so we shouldn't. Because if there are other apps that have such long values in dropdowns then those all will have the same effect and users should be used to them by now.

[2022-04-06 07:47] Stutikuls commented on #8074
Checked all PRs and creating accessibility issues for all PRs where accessibility issue was found.
The non-applicable PRs are - #7750, #7825, #7847, #7897, #7897, #7995, #7958, #7955, #7958, #7981, #7989, #7992, #7995, #7996, #8000

[2022-04-06 08:15] mrousavy commented on #8503
Awesome, Margelo would love to work on this! We noticed that [you use a lot of third party React Native libraries](https://github.com/Expensify/App/blob/1b0687408896efd9a1e0808d2f7b08b518846760/package.json#L79-L103), so it'll be a bit difficult to get those migrated as well. Especially problematic is Reanimated, but the SWM team is working on bringing that to Fabric.

Let's coordinate internally

[2022-04-06 09:29] mountiny commented on #8331
@marcaaron Good call!

@kbecciv Would you be able to have a look at the regression tests that led to creating this issue and make sure they are updated with the correct `expected behaviour`? We want to make sure the `[Attachement]` is shown consistently for whatever extension.

[2022-04-06 09:50] MonilBhavsar commented on #8426
Posted [here](https://expensify.slack.com/archives/C03U7DCU4/p1649238142755449) in slack

[2022-04-06 09:50] Julesssss commented on #8482
We discussed [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1649168770226539), the desired solution is to simply split the message on the backend and send two messages one after the other.

It's an internal issue.

[2022-04-06 09:53] Julesssss commented on #8482
Actually, I'm going to close this and reopen internally.

[2022-04-06 09:53] #8482 closed

[2022-04-06 10:05] MonilBhavsar commented on #7770
Closing this as it was fixed in the other issue. Feel free to reopen if we see this issue again

[2022-04-06 10:05] #7770 closed

[2022-04-06 10:45] kbecciv commented on #8331
@mountiny Sure, let me pass all information to QA team and we will retest it.

[2022-04-06 10:53] Gonals commented on #8469
I think this is a good candidate for external!

[2022-04-06 11:06] kbecciv commented on #8445
@Luke9389 Sorry for confusion, when someone splits amount with different user - always gets the request amount title right away.

[2022-04-06 11:34] sobitneupane commented on #8505
**Proposal:**
**Reason:** We are pushing three section in getSections function in SearchPage which is later used in OptionsSelector. When we enter new user's name or phone number the first two sections has data empty []. So, we are getting the error.
https://github.com/Expensify/App/blob/1b0687408896efd9a1e0808d2f7b08b518846760/src/pages/SearchPage.js#L92-L116
We need to replace above code with fo

[2022-04-06 12:19] Beamanator commented on #8288
I think it would be great for @Santhosh-Sellavel to check it out, I still can't assign him to review until he posts in the PR though :D

Also @Santhosh-Sellavel can help test the next PR in E/App which needs to be made when the `expensify-common` PR gets merged 👍

[2022-04-06 13:16] flodnv commented on #8471
cc @mananjadhav ^

[2022-04-06 13:25] mdneyazahmad commented on #7916
I am sorry for being late here. I am working on it and will submit pr by tomorrow. Thank you!

[2022-04-06 13:28] mdneyazahmad commented on #7916
@michaelhaxhiu applied

[2022-04-06 14:08] SumitDiyora opened #8506 "[Medium]: Color Contrast: Insufficient color contrast for text controls."
## Action Performed:
1. Using Chrome, open URL: staging.new.expensify.com
2. Navigate to Room Details Page by clicking on the header of the report page.
3. Navigate to the 'Members' control using the Tab key and activate it.
4. Navigate to the 'applausetester@applause.expensifail.com', 'applausetester+ab1243@applause.expensifail.com', '087a2axa@test.com', etc. text controls.
5. Observe that the an

[2022-04-06 14:16] Justicea83 commented on #8505
great suggestion @sobitneupane , but the issue persists on Desktop as well so you can update the issue.

[2022-04-06 14:17] parasharrajat commented on #8471
Thanks, Florent. I will test the proposal shortly.

[2022-04-06 14:18] kbecciv opened #8507 "[$250] mweb Safari - Workspace - "Invite members" button is hidden by keyboard and user needs to tap "Done""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: Have a workspace already created
1. Access [www.staging.new.expensify.com](http://www.staging.new.expensify.com/)[](javascript:)
2. S

[2022-04-06 14:23] NicMendonca commented on #6471
paid! 🎉

[2022-04-06 14:31] thesahindia commented on #7706
Do we wanna change the color for `connect bank account` at workspace initial page?
<img width="424" alt="Screenshot 2022-04-06 at 4 57 51 PM" src="https://user-images.githubusercontent.com/83179295/161998727-ea34f2f3-a19d-4920-81b6-389c795361c8.png">

[2022-04-06 14:35] rushatgabhane commented on #7706
@thesahindia no, I don't believe so

[2022-04-06 14:46] SumitDiyora opened #8509 "[Medium]: Chrome+Jaws : Missing list markup for controls."
## Action Performed:
1. Using Chrome, open URL: staging.new.expensify.com
2. Navigate to Room Details Page by clicking on the header of the report page.
3. Navigate to the 'Members' control using the Tab key and activate it.
4. Navigate to the 'applausetester@applause.expensifail...', 'applausetester+ab1243@applause.expensifail...', 'Tana Clifford...', etc. controls.
5. Observe the screen reader a

[2022-04-06 15:08] tgolen commented on #8444
This also happened to me yesterday.

![image](https://user-images.githubusercontent.com/1228807/162006437-1cdc03a3-65a4-4647-9509-b4d2f549c49a.png)

I think it might be related to user-is-typing because the message appeared while I was typing, then I stopped typing when the message appeared. As soon as I started typing again, the message went away.

[2022-04-06 15:22] luacmartins commented on #7524
No worries @eVoloshchak! Be safe!

[2022-04-06 15:29] shawnborton commented on #7706
@rushatgabhane is correct

[2022-04-06 15:34] OneDevStopShop commented on #7917
I looked through the issue you linked and would like to take this issue

[2022-04-06 15:45] eVoloshchak commented on #7524
Results of the audit:
- [AddPlaidBankAccount.js](https://github.com/Expensify/App/blob/main/src/components/AddPlaidBankAccount.js) - contains one `TextInput`, user input is not modified, user is able to copy and paste
- [ACHContractStep.js](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/ACHContractStep.js) - contains [IdentityForm.js](https://github.com/Expensify/App/blo

[2022-04-06 15:47] rushatgabhane commented on #7524
@eVoloshchak fantastic!
Yes please, go ahead and submit the PR

[2022-04-06 15:51] rushatgabhane commented on #7524
Since @eVoloshchak is facing internet issues, I'm gonna post videos to confirm the audit.
(ETA: Monday)

[2022-04-06 15:54] jboniface commented on #8151
nah, I was OOO and waiting for the job to be accepted.

[2022-04-06 16:08] mvtglobally commented on #8492
@roryabraham regression is completed. :) Can we do magic and try to push this build out today?
We only had issue with PR https://github.com/Expensify/App/pull/8350#issuecomment-1090446679

[2022-04-06 16:35] Julesssss commented on #7375
Okay, seems like we're seeking a new contributor here. Open to proposals again!

[2022-04-06 16:36] Julesssss commented on #8130
@mallenexpensify can we double the bonus please 🤑🤑🤑

[2022-04-06 16:44] eVoloshchak commented on #7524
Thank you

[2022-04-06 16:44] eVoloshchak commented on #7524
Thank you

[2022-04-06 16:50] parasharrajat commented on #7375
Yup. Review would be done today.

[2022-04-06 16:52] pecanoro commented on #7837
Not overdue!

[2022-04-06 16:53] pecanoro commented on #7432
@mananjadhav bump on the previous message from @kadiealexander, any updates?

[2022-04-06 17:09] stitesExpensify commented on #8007
There is a PR up for this

[2022-04-06 17:09] stitesExpensify commented on #7968
@mollfpr any update here?

[2022-04-06 17:13] stitesExpensify commented on #8244
This was deployed to production yesterday

[2022-04-06 17:17] stitesExpensify commented on #8503
Making this a weekly while we prioritize

[2022-04-06 17:17] mallenexpensify commented on #7844
Doubled price (should have done a while ago...)
https://www.upwork.com/jobs/~018bbb25aad73a12f4

[2022-04-06 17:19] mallenexpensify commented on #7121
Looks like @parasharrajat is working on the PR

[2022-04-06 17:20] mallenexpensify commented on #6877
@chiragsalian , if/when you're back from OOO, can you provide and update plz?

[2022-04-06 17:22] mallenexpensify commented on #6301
Hired @parasharrajat , @Tabakharniuk _just_ submitted a PR (draft)

[2022-04-06 17:23] parasharrajat commented on #7121
I will finish it up asap.

[2022-04-06 17:25] mallenexpensify commented on #7648
I'm not sure where this issue is at.  Rory or Rushat, can you provide an update?

[2022-04-06 17:26] mallenexpensify commented on #8124
I should double this to $2000, right @rushatgabhane ?

[2022-04-06 17:27] mallenexpensify commented on #7909
Doubled price to $2000
https://www.upwork.com/jobs/~017f47eb7070f5ad02

[2022-04-06 17:29] rushatgabhane commented on #8124
@mallenexpensify yes, we don't have any good proposals yet.

[2022-04-06 17:30] isagoico commented on #8404
Looks like the same issue but in a different modal in my opinion - @mallenexpensify I think you can go ahead with closing the other issue and editing this one

[2022-04-06 17:34] rushatgabhane commented on #7648
@mallenexpensify my best guess would be that Rory has other higher priority issues, so the PR is on a pseudo hold.

[2022-04-06 17:43] mallenexpensify commented on #7859
Bumped to monthly cuz we don't have reproducible steps.  I haven't had the issue happen for a while either

[2022-04-06 17:44] michaelhaxhiu commented on #8235
Related - https://github.com/Expensify/App/issues/4356

[2022-04-06 17:44] mallenexpensify commented on #6891
Discussion going on in the PR

[2022-04-06 17:48] mallenexpensify commented on #7584
This is ready to be paid, right?
@rushatgabhane $250 for C+
@mdneyazahmad $500 - $250/each for reporting and fix.

Please apply here https://www.upwork.com/jobs/~01c689e49c8567de30

[2022-04-06 17:50] mallenexpensify commented on #8349
Doubled price to $2000
https://www.upwork.com/jobs/~0191b930fd2b38bae8

[2022-04-06 17:52] roryabraham commented on #8492
:shipit:

[2022-04-06 17:52] #8492 closed

[2022-04-06 17:52] mallenexpensify commented on #8349
Took over as Contributor Manager (CM) too as I was assigned to the previous issue

[2022-04-06 17:52] roryabraham commented on #8492
🪄_Magic_ ✨

[2022-04-06 17:52] mallenexpensify commented on #6876
Closing, doubled price of the[ other one](https://github.com/Expensify/App/issues/8349#)

[2022-04-06 17:53] #6876 closed

[2022-04-06 17:56] OSBotify opened #8516 "Deploy Checklist: New Expensify 2022-04-06"
**Release Version:** `1.1.52-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8347
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8353
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8410
  - [x] QA

[2022-04-06 18:24] mountiny commented on #8331
@kbecciv Thank you very much! There was actually an inconsistency here which we are fixing, but for future this would be great to get straight!

[2022-04-06 18:35] danieldoglas commented on #8166
Tested in Motorola device and could not simulate this.

I think it is related to Samsung devices only, an error that happens because of their keyboard. I think we should do nothing on this for now.

[2022-04-06 18:35] #8166 closed

[2022-04-06 18:36] Beamanator commented on #8507
@kbecciv can you please explain what the actual issue is here? From the video, it looks like everything is working as we would expect. When the user clicks a user to invite to the workspace, then clicks "Done" on the keyboard, it looks like the keyboard hid as expected right?

[2022-04-06 18:37] mallenexpensify commented on #8130
Doubled price to $1000! Thanks for the ping @Julesssss
https://www.upwork.com/jobs/~012cfd3094fafb0057

[2022-04-06 18:37] danieldoglas commented on #8502
Agreed that this is not the expected behavior. It should select the first one of the filtered list, leaving the selected ones as they are.

[2022-04-06 18:40] mallenexpensify commented on #8124
Thanks @rushatgabhane
Doubled price to $2000
https://www.upwork.com/jobs/~017bbe06765188f815

[2022-04-06 18:57] mallenexpensify commented on #8457
Gonna close this one, added @Tushu17 as reported by on https://github.com/Expensify/App/issues/8404

[2022-04-06 18:57] #8457 closed

[2022-04-06 19:05] mallenexpensify commented on #7648
hahahah I love `pseudo hold`, def hoping to reuse that term

[2022-04-06 19:15] thesahindia commented on #7706
I couldn't find this one.

[2022-04-06 19:31] jayeshmangwani commented on #8421
https://github.com/Expensify/App/blob/0d5285c39d491da1517240447df43a8034058c7b/src/pages/home/report/ReportActionItemFragment.js#L103-L105

if we replace comment with div tag in RenderHTML, then this issue is not happening, I am not sure if we have any reason for using comment tag here.

https://user-images.githubusercontent.com/35371050/162053864-22749069-53b0-47a4-9da6-c4f504aca3e6.mov

above vi

[2022-04-06 20:04] rushatgabhane commented on #7706
I have no idea either. @NikkiWines could you please help us with the steps to get to this flow?

[2022-04-06 20:04] michaelhaxhiu commented on #7618
Doubling price to $8000

[2022-04-06 20:08] mountiny commented on #7869
Closing as the linked issue seems to be solved.

[2022-04-06 20:08] #7869 closed

[2022-04-06 20:14] tgolen commented on #8179
Not overdue, melvin.

[2022-04-06 20:18] kevinksullivan commented on #8101
price doubled.

[2022-04-06 20:43] marcaaron opened #8517 "Handle unknown fetch errors"
# Problem

- Recently added a change that would log when an unknown error is handled by `HttpUtils.xhr()`
- Looks like there are quite a few errors that aren't being handled

# Solution

Run down the list of errors and figure out how they can happen and what we should do about them

- [ ] `Network request failed`
- [ ] `NetworkError when attempting to fetch resource.`
- [ ] `The network connection

[2022-04-06 20:50] AndrewGable commented on #7971
@Santhosh-Sellavel - Have we brought this up in the open source room for discussion yet?

[2022-04-06 20:58] amyevans commented on #8497
Errors in the console when reproducing this workflow:
![Screen Shot 2022-04-06 at 4 40 11 PM](https://user-images.githubusercontent.com/7277067/162069611-d4367f93-49ec-4e29-b406-036b5f290f4f.png)

![Screen Shot 2022-04-06 at 4 55 07 PM](https://user-images.githubusercontent.com/7277067/162069619-6e4581fb-3445-4649-88b2-fe61e1ef9438.png)

[2022-04-06 21:05] marcaaron commented on #8517
"Network request failed" looks like a [common React Native fetch error](https://react-native.canny.io/feature-requests/p/improve-typeerror-network-request-failed-error-message). Searching around on SO seems to imply it might be related to https and ssl certs. But that doesn't _quite_ make sense to me since I'd imagine no requests would work at all and not to see these random failures here and ther

[2022-04-06 21:20] LucioChavezFuentes commented on #7486
I pushed unverified commits. Let me fix it before review.

[2022-04-06 21:21] marcaaron commented on #8517
Might help to also log what API endpoint is being used to verify we are using `https` though I'm positive we are.

[2022-04-06 21:43] OSBotify commented on #8516
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.52-0 :rocket:

[2022-04-06 21:49] MitchExpensify commented on #8244
Setting a reminder to pay in 6 days if no regressions

[2022-04-06 22:27] adelekennedy commented on #8005
any updates here? @thesahindia do you have an updated proposal the team can review?

[2022-04-06 22:31] kavimuru opened #8519 "Workspace chat - User name with quotes appear as quote representation text &quot; in workspace chat and in details"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Search for workspace chat
3. Observe the user name with quote and select it
4. Tap on the user name to see the detail

[2022-04-06 22:50] chiragsalian commented on #8459
lol funny bug, should be pretty straightforward to fix externally.

[2022-04-06 23:22] adelekennedy commented on #8466
[internal](https://www.upwork.com/ab/applicants/1511846769455165440/job-details)
[external](https://www.upwork.com/jobs/~017e8413a62ca5a2f3)

[2022-04-06 23:41] aneequeahmad commented on #8134
### **PROPOSAL**

**CAUSE OF ISSUE**

The issue is caused by this line of code in Report.js

`  const textForNewComment = isAttachment ? '[Attachment]'
        : htmlForNewComment.replace(/((<br[^>]*>)+)/gi, ' ').replace(/<[^>]*>?/gm, '');`

  as replace(/<[^>]*>?/gm, '') isn't adding a space before updating the report in Onyx.

**BEST POSSIBLE SOLUTION**

  If we update the above-mentioned code l

[2022-04-07 00:01] aneequeahmad commented on #8089
### **PROPOSAL**

**CAUSE OF ISSUE**

Converting the comment from MD into HTML in addAction function(Report.js) is causing the issue. ExpensiMark.js replace function is called with message text that applies rules to text to ensure that any Html the user puts into the comment field shows as raw Html. In the rules below rule
 ` {
                // when <pre> and <br /> occur together extra line is

[2022-04-07 01:51] marcaaron commented on #8466
It's not a bug right? @Julesssss I think this is a misunderstanding about how the feature works? If you decline a transaction it  will show in the history for the current IOU report?

[2022-04-07 02:30] kavimuru opened #8520 "[HOLD for payment 2022-06-13] [$1000] mWeb - Workspace - Footer message is not fully visible after removed the member from Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/[](javascript:)

2. Create a new workspace from an account that's on the policyExpenseChat beta (e.g @exp

[2022-04-07 02:47] #8360 closed

[2022-04-07 04:04] parasharrajat commented on #8179
It should be ready for payment now.

[2022-04-07 04:30] techievivek commented on #8325
@zsgreenwald

This one looks useful but currently `growl` doesn't support can't listen to onclick events so not sure we can add a link.

[2022-04-07 04:49] jliexpensify commented on #7712
Looks like an iOS regression in https://github.com/Expensify/App/pull/8253? If this isn't a big deal, I can arrange payment cc @parasharrajat

[2022-04-07 04:49] JmillsExpensify commented on #8470
Commenting on this one so it goes into my "participating" filter.

[2022-04-07 04:50] JmillsExpensify commented on #8469
@kevinksullivan happy to pick this one back up now that I'm back from OOO. Just let me know!

[2022-04-07 04:51] jliexpensify commented on #7964
There's an iOS regression - if this isn't a big deal, I can arrange payment cc @rushatgabhane @NikkiWines

[2022-04-07 04:54] JmillsExpensify commented on #4114
It's been a week, so increasing the payout for the issue once more to $2,000

[2022-04-07 04:56] JmillsExpensify commented on #7727
Still holding for the offline project.

[2022-04-07 04:56] jliexpensify commented on #7688
Looks like there's a regression for iOS - is this fine to pay? cc @iwiznia @rushatgabhane

[2022-04-07 04:58] JmillsExpensify commented on #8133
@Santhosh-Sellavel Checking in on this issue for further feedback on the above proposal?

[2022-04-07 04:59] JmillsExpensify commented on #8159
Following up on that last comment, it's been a hot minute and still not takers so I'm going to update the payout for this issue.

[2022-04-07 05:00] JmillsExpensify commented on #8212
Still waiting on contributors. I'm going to go ahead and update the price to $1000 since I missed updating to $500 last week.

[2022-04-07 05:02] JmillsExpensify commented on #8251
Ok great! We'll keep your assignment and I get to tag along for the ride. :)

[2022-04-07 05:02] JmillsExpensify commented on #8329
@rushatgabhane I thought I'd check in on reviewing this proposal?

[2022-04-07 05:04] JmillsExpensify commented on #8356
Whoops, sorry missed this last week. Did you want to take it? Agree that it's simple, so if you'd like to then go for it.

[2022-04-07 05:30] parasharrajat commented on #7712
@jliexpensify we come to the conclusion that #8253 is not a regression and thus additional 250 will be issues for the fix. https://github.com/Expensify/App/issues/7712#issuecomment-1087102802.

So reporting bonus is already paid and @kakajann is paid half and I am awaiting complete payment.

[2022-04-07 05:42] bfitzexpensify commented on #8380
OK cool, given yourself, @roryabraham and me all think we can leave this, I think we should do that.

Apologies @Puneet-here — please keep an eye out for new issues! We add new things to be fixed very regularly.

[2022-04-07 05:42] #8380 closed

[2022-04-07 05:44] jliexpensify commented on #7712
@parasharrajat - paid $500
@kakajann - paid $250

Closed!

[2022-04-07 05:44] #7712 closed

[2022-04-07 06:19] rushatgabhane commented on #7688
@jliexpensify there wasn't any regression here.

[I commented in the deploy blocker](https://github.com/Expensify/App/issues/8308#issuecomment-1078610909)  that culprit PR is #8087.

And not #8019

[2022-04-07 06:19] Stutikuls opened #8522 "[med] : Many pages: Chrome + Jaws: Name & Role is not defined for Back (<) control."
## Action Performed:
1. Using Chrome + Jaws, open URL staging.new.expensify.com
2. Navigate to any chat window using Tab key and press Enter to select it.
3. Resize the page.
4. Navigate to Back(<) button using Tab key.
5. Observe the screen reader announcement.

## Expected Result:
Name & Role should define for the Back (<) control. Screen reader should read like "Back button".

## Actual Result:

[2022-04-07 06:24] rushatgabhane commented on #7964
@jliexpensify could you please link the iOS regression. I'm not able to find it 😅

[2022-04-07 06:26] jliexpensify commented on #7688
Paid @rushatgabhane and @Santhosh-Sellavel ! Closed.

[2022-04-07 06:26] #7688 closed

[2022-04-07 06:29] Stutikuls opened #8523 "[high] : Many pages: Chrome + Jaws: Back (<) control is not accessible using screen reader."
## Action Performed:
1. Using Chrome + Jaws, open URL staging.new.expensify.com
2. Navigate to any chat window using Tab key and press Enter to select it.
3. Resize the browser.
4. Navigate to Back (<) button using Tab key and press Enter on it.
5. Observe the behavior on back control.

## Expected Result:
 Back (<) button should be accessible using screen reader.

## Actual Result:
Back (<) contr

[2022-04-07 06:39] Christinadobrzyn commented on #7917
Hired @OneDevStopShop for the job and @Santhosh-Sellavel as the C+ in Upwork!

[2022-04-07 06:46] thesahindia commented on #8005
Nope I couldn't update my proposal because I am getting error when trying to create a room, I have reported it on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1648760293684219)

[2022-04-07 06:54] rushatgabhane commented on #8329
Apoligies!

@dharmik can't we think of any simpler approach?
With your proposal, we're getting rid of the slide up animation.

[2022-04-07 07:24] Stutikuls opened #8524 "[med] : All Pages: Chrome + Jaws: Role is not defined for Delete workspace control."
## Action Performed:
1. Using Chrome + Jaws, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to any workspace using Tab key and press using Enter to select it.
4. Navigate to More button using Tab key and press Enter to activate it.
5. Navigate to 'Delete workspace' control using Tab key.
6. Observe the screen reader announcement.

[2022-04-07 07:31] dharmik commented on #8329
@rushatgabhane I guess current proposal is simpler but let's see.

Sorry but I am not getting your word **we're getting rid of the slide up animation.**

[2022-04-07 07:32] #8462 closed

[2022-04-07 07:35] rushatgabhane commented on #8329
@dharmik
The first pop up is a single click, and the second pop up is a double click.
In the second popup you'll obseerve that there is no animation.

https://user-images.githubusercontent.com/29673073/162145210-e086c7d6-ba31-4bc9-9449-6816c6f1a321.mp4

[2022-04-07 07:37] Stutikuls opened #8525 "[med] : All Delete popup: Chrome + Jaws: Focus order is not sequential on 'Delete dialogue'."
## Action Performed:
1. Using Chrome + Jaws, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to any workspace using Tab key and press using Enter to select it.
4. Navigate to More button using Tab key and press Enter to activate it.
5. Navigate to 'Delete workspace' control using Tab key and press Enter to activate.
6. Observe the f

[2022-04-07 08:07] dharmik commented on #8329
@rushatgabhane  I recorded this video from physical device it is working as expected.
The first pop up is a single click, second pop up is a double click, the third pop up is a triple click.

https://user-images.githubusercontent.com/1510175/162147410-a7ee7d7d-de03-4086-ac2c-ed19091aa655.mp4

[2022-04-07 08:10] sobitneupane commented on #8502
Arrow navigation is also not working for New Group and New Chat. It looks like https://github.com/Expensify/App/pull/7702 PR is dealing with the issue. For now, the following replacement will solve the issue. It will select the first option after the selected options if there is any.
https://github.com/Expensify/App/blob/ae8520acbcfac82a7ce7e35e02496033fd02a377/src/components/OptionsSelector.js#L1

[2022-04-07 08:21] mdneyazahmad commented on #7584
@mallenexpensify applied

[2022-04-07 08:36] rushatgabhane commented on #8329
@dharmik maybe it's a iOS thing?

[2022-04-07 08:56] brianmuks commented on #8134
@parasharrajat what do you think of my updated proposal before I dig in further ?

textToFormat = textToFormat.replace(/\n$/, '');
we can modify it to replace the \n with space ' '.

[2022-04-07 09:12] parasharrajat commented on #8134
Can we please wait for the confirmation of the expected results? It directly affects the proposal.

[2022-04-07 09:23] brianmuks commented on #8134
Thanks.

[2022-04-07 09:26] mananjadhav commented on #7432
@pecanoro I just resumed this week after OOO. I'll finish this by tomorrow or Saturday and update it here. No outstanding questions. Apologies for the delay.

[2022-04-07 09:34] mananjadhav commented on #3245
@laurenreidexpensify @Julesssss Is it too late to ask for the revision (sorry I was OOO). I should've mentioned the revised offer earlier, I was wondering if it could be 2500$.

[2022-04-07 10:17] trjExpensify commented on #8459
Issue on upwork here: https://www.upwork.com/jobs/~01ad54324b48c3dfa9

[2022-04-07 10:22] Puneet-here commented on #8497
Hi, I had reported this on channel https://expensify.slack.com/archives/C01GTK53T8Q/p1648737170322789

[2022-04-07 10:22] Stutikuls opened #8527 "[high] : Many pages: Chrome : The 'More' button is not accessible using screen reader."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to any workspace using Tab key and press using Enter to select it.
4. Navigate to More button using Tab key and press Enter to activate it.
5. Observe the behavior.

## Expected Result:
All the interactive elements must be operable using screen rea

[2022-04-07 10:39] Stutikuls opened #8528 "[med] Color Contrast: Many Pages: Grey icons against white background fail contrast requirements."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to any workspace using Tab key and press using Enter to select it.
4. Notice More button.
5. Measure the color contrast ratio of the grey icons against white background for more button.

## Expected Result:
The visual presentation of meaningful gra

[2022-04-07 10:51] Stutikuls opened #8529 "[med] : Many pages: Chrome : Name and state is not defined for More control."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to any workspace using Tab key and press using Enter to select it.
4. Navigate to More button using Tab key.
5. Observe the screen reader announcement.

## Expected Result:
Name and state should be defined for 'three dot menu'. screen reader should

[2022-04-07 11:51] parasharrajat commented on #8471
Ok, I see your proposal @metehanozyurt But it has a lot of unneeded information for this issue like zooming and other stuff. Could you please add a minimal proposal here that is needed to fix it?  We can start with fixing this one and later those changes can be used in another issue.

[2022-04-07 12:22] Stutikuls opened #8530 "[med] : Many pages: Chrome + Jaws : Screen reader is not announcing the name of the pop-up dialogue box."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to any workspace using Tab key and press using Enter to select it.
4. Navigate to More button using Tab key and press Enter on it.
5. Navigate to Delete workspace control using Tab key and press Enter on it.
6. Observe the screen reader announcemen

[2022-04-07 12:39] kbecciv opened #8531 "Workspace -"Save" button is always enabled in General Settings, regardless of any changes"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Create a new workspace
3. Tap o new Workspace and change name
4. Tap on Save button

## Expected Resul

[2022-04-07 12:47] kavimuru opened #8532 "Workspace chat - Attachments hides under the footer text when scrolling"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/[](javascript:)

2. Create a new workspace from an account that's on the policyExpenseChat beta (e.g @exp

[2022-04-07 12:53] dharmik commented on #8329
@rushatgabhane : It working as expected for iOS.

https://user-images.githubusercontent.com/1510175/162203254-813509d1-574e-4f86-ba4e-73462edf4f79.mov

[2022-04-07 12:54] kbecciv opened #8533 "Workspace - Attachment is hidden under footer message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Create a new workspace from an account that's on the policyExpenseChat beta (e.g @expensifail.com)
3. Add a new member to the w

[2022-04-07 12:55] kbecciv commented on #8533
Closing https://github.com/Expensify/App/issues/8532

[2022-04-07 12:55] #8533 closed

[2022-04-07 12:55] parasharrajat commented on #8128
Ok, Thanks. @thesahindia 's proposal looks good to me.

cc: @AndrewGable

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-04-07 13:03] flodnv commented on #8454
@thesahindia @mvtglobally @kadiealexander this is a tricky one. I don't see any great option. We could:
1. Change it to `Introduce tu metodo de contacto`, but we use `metodo de contacto predeterminado` everywhere
2. Do nothing
3. ???

😕

[2022-04-07 13:12] mountiny commented on #8331
PR is almost merged 🎉

[2022-04-07 13:13] kavimuru opened #8534 "[HOLD for payment 2022-05-20][$250] New room - Not able to create a new room, error message appears"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Log in to any expensifail account
2. Click on the green plus button in the bottom.
3. Choose new room
4. Enter room's name
5. Choose workspace
6

[2022-04-07 13:14] mountiny commented on #6718
@marktoman How does it look like Mark? Any problems we can help with? cc @parasharrajat

[2022-04-07 13:18] mountiny commented on #7768
Updated the title to be one week from the first re-test. @mvtglobally once you confirm next week the issue is not reproducible we are good to close this one out 🙌

[2022-04-07 13:28] Julesssss opened #8536 "Links aren't highlighted correctly when copying message text"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

- Send a message to another use which includes a link
- Try to copy the message you just sent

## Expected Result:
- All of the selected message sh

[2022-04-07 13:49] aldo-expensify commented on #8325
I know that sometimes we inline the error (no growl), that would allow you to put a link... but I'm not sure about our guidelines on when to growl and when to inline the error.

[2022-04-07 13:49] thesahindia commented on #8454
Maybe something like this -

<img width="383" alt="Screenshot 2022-04-07 at 7 18 33 PM" src="https://user-images.githubusercontent.com/83179295/162214390-e0bd475a-da42-41d5-acc3-054ab619831c.png">

[2022-04-07 13:52] parasharrajat commented on #8536
I also reported it here https://expensify.slack.com/archives/C01GTK53T8Q/p1649262491613459. The selection is not good overall. For links, it just never works.

[2022-04-07 13:53] flodnv commented on #8454
Hmmmm this could work, thoughts @Julesssss @luacmartins ?

[2022-04-07 14:09] kbecciv opened #8537 "[HOLD for payment 2022-04-27] [$250] Room Settings - The word "Restricted" is not translated into Spanish."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log any expensifail account
3. Open any room in Spanish
4. Click Settings

## Expected Result:
The wor

[2022-04-07 14:26] MariaHCD commented on #8520
Able to reproduce the issue on dev with an account that has a lengthy email address:

![Screen Shot 2022-04-07 at 6 26 00 PM](https://user-images.githubusercontent.com/12268372/162222315-1d39a371-67a2-4436-9ec3-fe24122d35c2.png)

[2022-04-07 14:29] Puneet-here commented on #8537
**Proposal**

To fix we need to change the code here:
https://github.com/Expensify/App/blob/d060fc2afc488bf9027d1c0cf33f7f5e3669a287/src/pages/ReportSettingsPage.js#L237

like this:
[code]

Here I am accessing the value given in en/es.js

[2022-04-07 15:12] parasharrajat commented on #8134
Ok, Confirmed that https://github.com/Expensify/App/issues/8134#issuecomment-1089809873 will be best to have.

[2022-04-07 15:14] parasharrajat commented on #8134
Back to proposals, @brianmuks it will work but it will add extra spaces on each line of the quote. So I don't consider this the best solution. Can you think of a proposal without changing the existing behavior of other things?

[2022-04-07 15:15] Santhosh-Sellavel commented on #8361
I will review the proposal(s) by tomorrow.

[2022-04-07 15:19] Santhosh-Sellavel commented on #8287
Will review this ASAP (today or by tomorrow).

[2022-04-07 15:23] Santhosh-Sellavel commented on #8115
Will review this ASAP (today or by tomorrow).

[2022-04-07 15:26] mallenexpensify commented on #7584
Hired both in Upwork, let me know when you've accepted the offers. @mdneyazahmad let me know here if you're not "Neyaz A."  Also...the job price is $250, you'll be bonused the other $250 owed.

[2022-04-07 15:34] mallenexpensify commented on #8317
Bumped to Weekly since it doesn't appear to be reproducible

[2022-04-07 15:40] luacmartins commented on #8454
Hmm I'm not a big fan of the input without labels and that might fail accessibility features as well.

I think another option is to have the user type a static string, e.g. `CLOSE` or `DELETE`. We seem to only use it to disable the `Close account` button and that would serve the same fat finger prevention/intentional action confirmation purpose. We could also get rid of the default contact method

[2022-04-07 15:50] Santhosh-Sellavel commented on #8291
Thanks for checking, @dylanexpensify. Let's wait on this one.

Any update on this?

[2022-04-07 16:00] jboniface commented on #7675
@parasharrajat hey it looks like we both lost track of this (for me it was because the title never changed to let me know to pay it) -- I had to file a new job because the old one expired, can you apply [here](https://www.upwork.com/jobs/~016bb3e9c700264ec4)?

[2022-04-07 16:01] shawnborton commented on #8291
Maybe we should just use the same style of default avatars we use, but use dark version or gray version as the fallback?
<img width="464" alt="image" src="https://user-images.githubusercontent.com/2319350/162246914-4501290a-1e3f-4c54-8bb0-1518f601c465.png">

Technically speaking though, how do we make sure that when an avatar is loading over a connection that the default version doesn't flash quic

[2022-04-07 16:03] jboniface commented on #7497
increased to $2000

[2022-04-07 16:09] parasharrajat commented on #7675
@jboniface Yeah, lol. Applied now.

[2022-04-07 16:18] parasharrajat commented on #8502
What is the urgency of this issue? @jboniface

[2022-04-07 16:19] marcochavezf commented on #7079
No update yet, I'm focusing on App Offline First atm

[2022-04-07 16:25] Santhosh-Sellavel commented on #8133
Sorry for the delay I will check one ASAP today or by tomorrow.

[2022-04-07 16:28] Santhosh-Sellavel commented on #7917
@OneDevStopShop If you have any questions please feel to post them here. Thanks!

[2022-04-07 16:29] marcochavezf commented on #8468
It seems that we'll need to update `personalDetails` in Onyx when the pronouns are changed. I'm going to take this issue because I think it's related to another issue that I'm working on.

[2022-04-07 16:30] joelbettner commented on #8504
@mvtglobally I'm unable to reproduce this.
<img width="891" alt="image" src="https://user-images.githubusercontent.com/13264774/162252175-5fb2a26d-c474-48fc-8fd2-ef722b60d436.png">

<img width="720" alt="image" src="https://user-images.githubusercontent.com/13264774/162252240-3d45b400-8521-4f09-9120-808cdbcd8c0d.png">

Is there anything in particular about the chats that you're going back and fort

[2022-04-07 16:37] sylveawong commented on #8325
Hrmm is displaying a growl the right action to take here then?

The user doesn't know that it's being used as a billing card, and dont know that they cant remove billing cards. Once a billing card is changed, it gets removed anyway so it wont show up anymore.

So maybe the solution here is just to remove the "delete" option from payments that are currently used for billing, and possibly adding a l

[2022-04-07 16:37] muttmuure commented on #8423
Not sure if we'd need to cc Design or if this is straightforward to implement.

[2022-04-07 16:38] shawnborton commented on #8291
Sounds good to me. I think I learn towards the gray version given that this would only be shown as a fallback for offline... curious what the other designers think though.

[2022-04-07 16:41] Santhosh-Sellavel commented on #7971
Was brought earlier [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1647634156678099).

[2022-04-07 16:45] kbecciv opened #8540 "Emojies - Entering notation in text field not returning emoticons"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com
2. Login and navigate to chat section
3. Click on Emoji icon
4. Enter a notation (for ex :) for selec

[2022-04-07 16:47] parasharrajat commented on #8502
https://github.com/Expensify/App/pull/7702 tries to standardize the solution for managing arrow navigation. If we go with the above proposal, we may have to remove it when PR is done.

Should we hold this or go with the solution at hand? cc: @pecanoro

[2022-04-07 16:54] kbecciv opened #8541 "[HOLD for payment 2022-09-07] [$250] Android/iOS - "Connect to bank" transition is not smooth and can see previous details reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: Have a workspace created
1. Open the New Expensify app on iOS
2. Sign into an applause.expensify.com account
3. Tap on the "Profile"

[2022-04-07 16:59] rushatgabhane commented on #8469
@Beamanator I think it's a good idea to hold this issue until PR https://github.com/Expensify/App/pull/8239#issuecomment-1076780473 is merged.

Because we might wanna use RenderHTML to tidy it up a bit.

[2022-04-07 17:01] rushatgabhane commented on #8362
🎀 👀 🎀 C+ reviewed

@Beamanator I recommend @sobitneupane's [proposal](https://github.com/Expensify/App/issues/8362#issuecomment-1086887411).

[2022-04-07 17:08] parasharrajat commented on #7675
Accepted it.

[2022-04-07 17:13] rushatgabhane commented on #8249
@Santhosh-Sellavel could you please help @Tushu17 and me understand the expected behavior when a user clicks on avatars in a group chat?

<img width="258" alt="image" src="https://user-images.githubusercontent.com/29673073/162259014-177d5fd4-7ae6-4e07-a547-93f315aec046.png">

[2022-04-07 17:14] jboniface commented on #7675
paid!

[2022-04-07 17:14] #7675 closed

[2022-04-07 17:17] mollfpr commented on #8134
### Proposal

Create a function in `ReportUtils`:
1. remove break line tag
2. replace the opening `blockquote` tag with an empty string, and replace the closing tag with space
3. replaces &amp;, &lt;, &gt;, &quot;, &#x60; and &#x27; with their unescaped counterparts
4. lastly replace all the tag remaining with empty string
[code]
---
Now we need to update how the html text message formatted in `ac

[2022-04-07 17:20] aneequeahmad commented on #8134
@parasharrajat  apologies, I missed the already rejected proposal. It was my first proposal will try to look carefully next time.
Yeah the already written logic is working as expected so the problem is when we replace `<pre><br />` with <pre> the regex is removing the <pre> afterward and the text before <pre> and after </pre> is seen without space.

**PROPOSAL**

The simplest thing that we can do

[2022-04-07 17:21] thesahindia commented on #8531
I think we can close this issue as it's not a bug. More info [here](https://github.com/Expensify/App/issues/6717#issuecomment-998034214).

[2022-04-07 17:21] megankelso commented on #8291
I really like the navy for icons but I agree that the grey might make more sense here for offline

[2022-04-07 17:22] yuwenmemon commented on #8470
Do we want to be removing access to the room upon refresh - or right away without even refreshing?

[2022-04-07 17:33] alex-mechler commented on #8134
Just catching up here, was sick for a few days. I can see that showing `I :hearts: you` would make sense in this case, but I'm used to only ever seeing the first line of the last message (ie in whatsapp), which is why i went to that.

[2022-04-07 17:37] pecanoro commented on #8540
I don't think this is a bug, it's how it is supposed to work. For example, it does not work with the default emoji selection from macOS either. I even tried with my phone with other apps and nothing either, so I am going to close.

[2022-04-07 17:38] #8540 closed

[2022-04-07 17:43] pecanoro commented on #8502
Yeah, it looks like https://github.com/Expensify/App/pull/7702 will solve all these problems? I would say this is a problem for accessibility since some people can't use a mouse, but if we are going to refactor it, this might not be worth solving right now.

[2022-04-07 17:45] kavimuru opened #8545 "[$2000] Chat - App crashed tapping profile icon"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/[](javascript:)
2. Enter email address for a new account
3. Check inbox and click link and change it to s

[2022-04-07 17:46] pecanoro commented on #7432
Ahh no worries, I didn't know you were OOO, thanks for letting me know!

[2022-04-07 17:47] Julesssss commented on #8454
Hmm, I suppose it's a good enough solution. It would be good to enforce that this is a dangerous task though. Something like 'I understand', or at least the full 'close account'?

[2022-04-07 17:48] Santhosh-Sellavel commented on #8249
@rushatgabhane

@rushatgabhane

As per my request check **Solution [here](https://github.com/Expensify/App/issues/8249#issue-1174877911)**
1.  `Tapping Picture should navigate the Report Details page. `In this case, should `open group details page` on the profile images or anywhere in the section.
2. ` Tapping on the user name should navigate user details straight away even if it's group chat.`

c

[2022-04-07 17:52] thesahindia commented on #8520
I couldn't access policy expense chat as it is behind the beta, I tried some code tweaks but it didn't work.

[2022-04-07 17:52] rushatgabhane commented on #8249
Perfect! Thanks for the quick reply

[2022-04-07 17:52] joelbettner commented on #8504
I think this is worth working on, but I cannot re-produce it. I've tried on production and on staging. However, @mvtglobally has been able to reproduce it. I'm going to un-assign myself and add the External label. Whoever gets assigned this, we should make sure others are able to re-produce this.

[2022-04-07 17:53] joelbettner commented on #8504
@roryabraham @marcaaron any ideas why this isn't happening for all users?

[2022-04-07 18:02] rushatgabhane commented on #7573
Okay, so I'm just thinking out loud if I understand this issue.

- Tracking rate and unit should _NOT_ appear if the user doesn't have VBA.
- Tracking rate and unit should be visible if the user has VBA.

[2022-04-07 18:19] Santhosh-Sellavel commented on #8421
@jayeshmangwani
I would really care to know why the `<comment>` tag is causing the issue.

Also, refer to the GH Post, links were underlined.
<img width="888" alt="Screenshot 2022-04-07 at 11 47 15 PM" src="https://user-images.githubusercontent.com/85645967/162270173-c9558b7b-8643-4f2c-b44c-85bae72d86bb.png">

And In your video, the underline styles are missing for the links.

[2022-04-07 18:20] SumitDiyora opened #8546 "[Medium] Chrome+JAWS: Many Pages: Alt is not defined for the Avatars."
## Action Performed:
1. Using Chrome+JAWS, open URL staging.new.expensify.com
2. Navigate to a chatRoom (can be a #announce, #admin, or any policy room) and click on the header to open the report details.
3. Navigate to Avatar using the Tab key.
4. Observe the screen reader behavior on Avatar and check the code as well using the developer toolbar.

## Expected Result:
Alt should be defined for the

[2022-04-07 18:24] rushatgabhane commented on #7573
@OneDevStopShop I like your proposal, but I'm curious why tracking rate is shown for a brief moment on refreshing.

[2022-04-07 18:26] AndrewGable opened #8547 "Andrew Test Issue"
This is a test issue for @AndrewGable, please ignore. 🤖

[2022-04-07 18:44] #8547 closed

[2022-04-07 18:44] roryabraham commented on #8504
@joelbettner Did you take a peek at the network console? It's weird that you would see almost no logs in the console, did you have any filters for different log levels?

The first set of logs in the OP look like an expired authToken had to be reauthenticated. Also seeing a fair amount of logs related to performance monitoring/timing, which is expected in certain flows. Personally I think we need m

[2022-04-07 18:44] #8504 closed

[2022-04-07 18:49] Santhosh-Sellavel commented on #8133
@roryabraham,
Since we have decided to disable popover menu animation across web/desktop platforms [here](https://github.com/Expensify/App/issues/6121).

### 1.  If we're are going to keep it that way then,

@metehanozyurt [proposal](https://github.com/Expensify/App/issues/8133#issuecomment-1085063606) looks good to me!

We don't need that function `animateInImplementationForWeb`, but instead let'

[2022-04-07 18:50] thesahindia commented on #8541
Is this eligible for the reporting bonus as I had reported it on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1649070836326089)

Also here's a slowed down video -

https://user-images.githubusercontent.com/83179295/162275250-2d24b696-c829-4f0c-9ff3-5a7bf8472a8f.mp4

[2022-04-07 18:53] chiragsalian commented on #8424
Cool yeah, good points, i'm not shooting down the feature, just discussing a bit more. The next step would be to post a problem/solution in whatsnext.

So if i understand correctly the problem you are facing is loosing history of a group chat when you add a participant?

For the solution can it not be solved once rooms are live. Eg: we would have a room for Integration-Server or engineering-chat a

[2022-04-07 18:53] metehanozyurt commented on #8471
Sorry to associate it with another more complex issue @parasharrajat 🙏.

For Web version we should change this file [ImageView/index.js](https://github.com/Expensify/App/blob/9a8291ba97c381b651b5344d6fa471c51ae70336/src/components/ImageView/index.js);

Step 1:
We should change this line because when containerHeight is not yet available when the setImageRegion function is called.

this line
https:/

[2022-04-07 18:55] chiragsalian commented on #8424
shoo melvin, i literally just commented.

[2022-04-07 18:58] Santhosh-Sellavel commented on #8287
https://github.com/Expensify/App/issues/8287#issuecomment-1086899013
That does not make any sense. @Puneet-here Because it will allow me to focus away from the search box.

Did you find out why the focus is lost first?

[2022-04-07 19:03] chiragsalian commented on #8119
Any update @mananjadhav? Odd you are not assigned, let me assign issue as C+ for proposal review to you.

[2022-04-07 19:15] Santhosh-Sellavel commented on #8361
@thienlnam What's expected here?

[2022-04-07 19:19] Santhosh-Sellavel commented on #8115
[code]

What is `Platform.ios` ?

[2022-04-07 19:24] Santhosh-Sellavel commented on #8358
Reviewing it now.

[2022-04-07 19:30] Santhosh-Sellavel commented on #8358
@Tushu17  https://github.com/Expensify/App/issues/8358#issuecomment-1083075287 it fixes the wrong cursor.
I think tapping the user option should toggle the selection.

Kindly update your proposal to address it too. Thanks.
cc: @AndrewGable

[2022-04-07 19:32] Santhosh-Sellavel commented on #8357
@iwiznia can we get what is the expected OP here?

[2022-04-07 19:33] madmax330 commented on #8424
IMO group chat entails being able to add remove people.
But if rooms are our actual group chat implementation then let's remove this one.
I.e if I'm just using newDot with friends and I make a group for vacation. Then someone else wants to join I have to recreate the group.
Can I make a room? If so how?

I'm not super clear on what the difference is between rooms and groups, but IMO rooms are more

[2022-04-07 19:39] pecanoro commented on #8158
Not overdue, waiting for proposals.

[2022-04-07 19:39] danieldoglas commented on #8460
Moved this to external.

[2022-04-07 19:40] roryabraham commented on #8133
I think the design is intentional so @metehanozyurt's proposal LGTM as well.

[2022-04-07 19:50] Santhosh-Sellavel commented on #8133
@roryabraham
Do you agree with the change ?

[2022-04-07 20:00] rushatgabhane commented on #8404
All is set!

[2022-04-07 20:07] NicMendonca commented on #8126
doubled: https://www.upwork.com/jobs/~01c09e65fbbdd4bb12

[2022-04-07 20:08] rushatgabhane commented on #8404
🎀 👀 🎀 C+ reviewed
I recommend @sobitneupane's [proposal](https://github.com/Expensify/App/issues/8404#issuecomment-1085517358). I guess "Oops!" would be a decent title.

Or we could add `waiting for copy` label to get a better title.
cc: @stitesExpensify

[2022-04-07 20:13] rushatgabhane commented on #8404
@Puneet-here I really appreciate your proposal but it's too similiar to [this proposal](https://github.com/Expensify/App/issues/8404#issuecomment-1085517358) which came earlier. Feel free to have a look at other open issues. Thanks!

[2022-04-07 20:15] rushatgabhane commented on #7536
Waiting for @sig5 to address @ luacmartins's comments in the PR

[2022-04-07 20:21] shawnborton commented on #8291
Cool, let's do gray then. Here is the .svg we'll need: [fallback-avatar.svg.zip](https://github.com/Expensify/App/files/8446219/fallback-avatar.svg.zip)

Can we also make sure to use a background color for these avatar circles too? I'm not sure when they were removed, but we should have a default gray color there as well.

[2022-04-07 20:24] Santhosh-Sellavel commented on #8307
@mollfpr
I have a couple of queries:

1. Do you have any GH issue references to support the above statement?

2. This issue can occur while updating the profile photo. It causes the button to render a few (3 or more) times. See the video below. Here I am trying to make changes to the user profile name, to toggle the Save button state. How come the same issue is not occurring here? This makes me fe

[2022-04-07 20:26] kavimuru commented on #7901
@timszot Still this issue is reproducible. We found when executing this PR #8353

https://user-images.githubusercontent.com/43996225/162289980-5f061711-487f-49d3-8d5e-26d671e43a21.mp4

https://user-images.githubusercontent.com/43996225/162289986-73cdc3f1-61a9-494d-bce5-84c6ee3f6a6e.mp4

[2022-04-07 20:31] stitesExpensify commented on #8404
Let's toss `waiting for copy` on. I think the proposal of "Unable to close account" is good, my only fear is that it will wrap on mobile. "oops" would probably be fine too but I'll let Marketing decide that :)

[2022-04-07 20:31] stitesExpensify commented on #8404
Proposal looks good though besides copy

[2022-04-07 20:32] thienlnam commented on #7424
PR adding logs in on staging and so waiting until it's on production for possibly actionable logs

[2022-04-07 20:59] danieldoglas commented on #8357
Sorry, I didn't see the tagging here before.

I think the behavior we expect is to actually remove the "Send Money"/"Request Money" options in the menu in case there's no one in the chat with the user, not giving him the option to ask for anyone else, since the "+" in the chat is related to tasks on that chat.

[2022-04-07 21:03] yuwenmemon commented on #8364
Sorry, not update here but will take a look soon.

[2022-04-07 21:10] chiragsalian commented on #8424
Like so,
![image](https://user-images.githubusercontent.com/14356145/162308383-2fd46d47-fe3c-40ca-9dcb-1b1c1d3cbc8e.png)

Atm you'll see the option on dev or in your expensifail account. I think its still under testing which is why it doesn't show up for every account. So yeah in your case of vacation, you would just create a room like "spain-trip" and then add/remove whoever you want.

Yup, we an

[2022-04-07 21:13] roryabraham commented on #8133
Yes, I agree

[2022-04-07 21:29] chiragsalian commented on #6877
Yes, sry for the delay, the slack discussion resulted in a couple of thought but unfortunately no consensus. Discussed 1:1 with Matt about next steps yesterday. I feel its best to post in whats-next so that we can have more eyes on this to reach a decision.

Before i post though i've asked bondy if he's free in the next few days to discuss the vulnerability report he received to determine how valu

[2022-04-07 21:59] neil-marcellini commented on #7901
@kavimuru thanks for the QA and the update. I'll link your comment on #6079, since this issue is a duplicate.

[2022-04-07 22:00] neil-marcellini commented on #6079
Still reproducible according to QA [here](https://github.com/Expensify/App/issues/7901#issuecomment-1092169844).

[2022-04-07 22:00] #7901 closed

[2022-04-07 22:27] aldo-expensify commented on #8351
@mallenexpensify I think this ticket is `External` and the request seems reasonable. Is it part of the triage process of this kind of issue to check if the "requested featured" makes sense? or was this already done in a previous step?

[2022-04-07 22:30] AndrewGable commented on #6079
@kavimuru coming from https://github.com/Expensify/App/issues/7901#issuecomment-1092169844

Can you please be more specific? I watched the iOS video and from 2:14 to the end it looks like the notification worked, but I didn't see any other notifications tapped.

[2022-04-07 22:41] roryabraham commented on #8034
Sorry, actually I'm going to treat this as a separate issue. Other than dealing with the same component, it's not really related. Going to make this external.

[2022-04-07 22:51] roryabraham commented on #8516
@mvtglobally how is QA going?

[2022-04-07 23:00] mvtglobally commented on #8516
We are almost done. Updating list in a few min @roryabraham

[2022-04-07 23:08] NikkiWines commented on #7706
Hmm, I think that references to the following view - which i got to by signing up with a personal email, adding a workspace, and then trying to add a bank account via Plaid.

<img width="363" alt="Screen Shot 2022-04-07 at 16 06 26" src="https://user-images.githubusercontent.com/16747822/162333604-3afb3aa0-7e88-4272-9ae7-db9ca70ee6bb.png">

cc: @kevinksullivan since you made this issue, can you cl

[2022-04-07 23:17] thienlnam commented on #8361
I think it showing either blank or some sort of indication the message was deleted works here

[2022-04-07 23:24] NikkiWines commented on #8532
Hmm, I don't think this is actually a bug? I would think that it's expected for the footer would overlap with chat text, but maybe I'm wrong.

cc: @roryabraham since I saw you implemented [this PR](https://github.com/Expensify/App/pull/7831) around adding the workspace footer.

[2022-04-07 23:35] mollfpr commented on #8115
Sorry, I mean this code
[code]
@Santhosh-Sellavel

[2022-04-07 23:46] kbecciv commented on #8507
@Beamanator We want to check if this issue is expected if user will click "done" on the keyboard for seen the invite button. Or keyboard should dismissed and "Invite" button is visible after select a user.

[2022-04-07 23:58] arielgreen commented on #8461
https://www.upwork.com/jobs/~017410ee10e9594e18

[2022-04-08 00:12] marcaaron commented on #7424
🙌  thanks @thienlnam !

[2022-04-08 00:28] thienlnam commented on #8545
Interesting, looks like it is only broken in that flow and not when you log into an existing account.  Looks like it can be an external fix though

[2022-04-08 00:34] kavimuru opened #8551 "App update - Without prompt the build gets updated"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing the PR #8350**
## Action Performed:
1. Have App opened and foregrounded before an update is released
2. Wait for update to be released an

[2022-04-08 00:35] mvtglobally commented on #8516
@roryabraham regression is complete
PR #8353 is failing on Android, but it's an old issue and was repro in prod https://github.com/Expensify/App/issues/7901. Can we check this off?

Other issues logged
#8532
#8534
#8545
#8519
#8520
#8531
#8537

[2022-04-08 00:35] OSBotify commented on #8551
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-04-08 00:37] marcaaron commented on #8504
It could be related to some of the network refactors we did recently, but agree that without a reproduction it will be hard to say why it's happening.

[2022-04-08 00:38] mvtglobally commented on #8536
Could it be similar to this? https://github.com/Expensify/App/issues/8421

[2022-04-08 00:41] marcaaron commented on #8551
Hmm I don't really understand these reproduction steps, sorry. How can we test this without having an open tab exist before a release goes out?

What does this mean? Did we add a new feature?

Not sure what we want to do about this one @roryabraham or if there's a way to test this.

[2022-04-08 00:43] marcaaron commented on #8466
Thanks!

[2022-04-08 00:47] mallenexpensify commented on #8404
ah... interesting, since I'm the CM assigned and also on the marketing team, I stay assigned for waiting for copy (not surprised but haven't had it happen before).

I like "Unable to close account" and _think_ it will fit.  Without involving our design team, is there an _easy_ way to find out?

[2022-04-08 00:56] mallenexpensify commented on #8034
Job posted!
https://www.upwork.com/jobs/~0188dac8c590e2d011

[2022-04-08 01:41] NikkiWines commented on #4612
not overdue, still waiting on proposals

[2022-04-08 02:31] mollfpr commented on #8307
@Santhosh-Sellavel

Sorry I’m not checking it with another field. It’s seems that the issue only appear after changing the avatar. But the props pass to ‘OpacityView’ has no different when changing the text field or text input.

I suspecting that the ‘Animated.timing’ is the problem, since that part has responsible to change the opacity value.

I don't have any prove why that’s happen except the w

[2022-04-08 02:51] kadiealexander commented on #7462
Apologies @parasharrajat, I was ooo! All paid now :)

[2022-04-08 02:51] #7462 closed

[2022-04-08 02:52] kadiealexander commented on #7598
Thanks Matt!!!!

[2022-04-08 03:30] Stutikuls opened #8552 "[med] Color Contrast: Many Pages: Color contrast ratio fails for Dropdown icon."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to preferences using Tab key and press using Enter to select it.
4. Measure the color contrast ratio of the Dropdown icon.

## Expected Result:
Color contrast ratio should be equal or greater than to 3.0:1 for the element between the foreground and

[2022-04-08 03:44] Stutikuls opened #8553 "[med] : Many pages: Chrome : Combo box label is not announced by the screen reader."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to preferences using Tab key and press using Enter to select it.
4. Navigate to combo boxes using Ta key.
5. Observe the screen reader announcement.

## Expected Result:
Combo box label should be announced by the screen reader. It should read as "P

[2022-04-08 04:03] Stutikuls opened #8554 "[med] Chrome + Jaws: Eye icon button : Name, role & State are not defined for Eye icon button."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to Payment using Tab key and press Enter to select it.
4. Navigate to already added card using Tab key and press Enter to select it.
5. Navigate to Make a default payment using Tab key and press Enter on it.
6. Password screen is appearing.
7. Navi

[2022-04-08 04:26] jliexpensify commented on #8460
Posted:

- Internal: https://www.upwork.com/ab/applicants/1512285496911982592/job-details
- External: https://www.upwork.com/jobs/~01fe244a40dd2dfb79

[2022-04-08 04:36] brianmuks commented on #8307
I actually affects input fields too.

[2022-04-08 04:42] brianmuks commented on #8307
@Santhosh-Sellavel any comment on my proposal: https://github.com/Expensify/App/issues/8307#issuecomment-1082786465 ?

[2022-04-08 04:46] kadiealexander commented on #8545
Posted to Upwork:
Internal: https://www.upwork.com/ab/applicants/1512290602886025216/job-details
External: https://www.upwork.com/jobs/~014661f822c5c475a7

[2022-04-08 04:52] mollfpr commented on #8307
I’m not sure about that.

@Santhosh-Sellavel just give a video about that and I also try to text field is not reproduce the issue.

[2022-04-08 04:59] kadiealexander commented on #8309
Price doubled!!

[2022-04-08 05:01] kadiealexander commented on #8286
Price doubled!

[2022-04-08 05:07] Stutikuls opened #8555 "[med] : Many pages: Chrome + Jaws : Role, State & incorrect Name is defined for 'Checkbox'."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to any workspace using Tab key and press using Enter to select it.
4. Navigate to Connect bank account using Tab key and press Enter on it.
5. Navigate to connect manually control using Tab key and press Enter on it.
6. Navigate to I accept check b

[2022-04-08 05:20] Stutikuls opened #8556 "[med] Color Contrast: Many Pages: All edges of the text box fail contrast requirements."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to any workspace using Tab key and press using Enter to select it.
4. Navigate to Connect bank account using Tab key and press Enter on it.
5. Navigate to connect manually control using Tab key and press Enter on it.
6. Measure the color contrast r

[2022-04-08 05:25] jliexpensify commented on #7964
@rushatgabhane - apologies: I used the wrong terminology here! I did see that iOS failed to deploy - https://github.com/Expensify/App/pull/8206 - which is what I meant.

If that's not an issue, I'll pay!

[2022-04-08 05:49] MariaHCD commented on #8047
Didn't get a chance to investigate this a bit more. Will continue on this next week!

[2022-04-08 05:51] sobitneupane commented on #8362
Applied for the job.

[2022-04-08 05:51] Stutikuls opened #8557 "[med] : Many pages: Chrome + Talkback: Incorrect state is defined for dropdown."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using swipe gesture and press double tap on it.
3. Navigate to Preferences control using swipe gesture and press double tap on it.
4. Navigate to Drop down control using swipe gesture.
5. Observe the screen reader announcement.

## Expected Result:
Correct state should be defined for the dropdown. Scree

[2022-04-08 06:04] Stutikuls opened #8558 "[High] : Many pages: Chrome + Talkback: Currency dropdown is not accessible using screen reader."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using swipe gesture and press double tap on it.
3. Navigate to any workspace using swipe gesture and press double tap on it.
4.  Navigate to general settings using swipe gesture and press double tap on it.
5. Navigate to currency drop down using swipe gesture and press double tap to activate.
6. Observe

[2022-04-08 06:05] mdneyazahmad commented on #7584
@mallenexpensify accepted the offer Thank you!

[2022-04-08 06:14] Stutikuls opened #8559 "[low] : Many pages: Chrome + Talkback: Focus lands on the Currency dropdown individually."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using swipe gesture and press double tap on it.
3. Navigate to any workspace using swipe gesture and press double tap on it.
4.  Navigate to general settings using swipe gesture and press double tap on it.
5. Navigate to currency drop down using swipe gesture and press double tap to activate.
6. Observe

[2022-04-08 06:29] Stutikuls opened #8560 "[med] Color Contrast: Many Pages: Color contrast ratio fails for Checkbox."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate to any workspace using Tab key and press using Enter to select it.
4. Navigate to Connect bank account using Tab key and press Enter on it.
5. Navigate to connect manually control using Tab key and press Enter on it.
6. Measure the color contrast r

[2022-04-08 06:54] MonilBhavsar commented on #8426
As per the discussion, we want to support all possible markdown in hyperlinks. Updated issue title and body.

[2022-04-08 07:21] roryabraham commented on #8551
I'm not sure what the video is supposed to show, but according to the description, this is the intended behavior. The web app is _supposed_ to refresh and update itself if you background it. It's a feature, not a bug 😄 In fact, it seems that maybe that behavior has just been broken since its inception and was just fixed by https://github.com/Expensify/App/pull/8350.

[2022-04-08 07:21] #8551 closed

[2022-04-08 07:22] roryabraham commented on #8516
Yep, checking it off.

[2022-04-08 07:24] roryabraham commented on #8532
🚫 🐛

[2022-04-08 07:24] #8532 closed

[2022-04-08 07:26] roryabraham commented on #8516
:shipit:

[2022-04-08 07:26] #8516 closed

[2022-04-08 07:31] laurenreidexpensify commented on #8248
am OOO next week @NicMendonca so assigning for payment to be completed

[2022-04-08 07:43] laurenreidexpensify commented on #8536
yeah looks like a dupe of that thanks @mvtglobally

[2022-04-08 07:43] #8536 closed

[2022-04-08 07:48] laurenreidexpensify commented on #8520
Am OOO next week.

job posting here https://www.upwork.com/jobs/~0101338915fc9540cb

[2022-04-08 08:04] roryabraham opened #8566 "Deploy Checklist: New Expensify 2022-04-08"
**Release Version:** `1.1.54-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/7807
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8438
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/8496
  - [x] QA

[2022-04-08 08:21] parasharrajat commented on #7424
Note: This issue is not net yet solved. Someone, please correct the title and labels.

[2022-04-08 08:49] dharmik commented on #8289
@deetergp @rushatgabhane https://github.com/Expensify/App/pull/8548 PR created.

[2022-04-08 08:54] rushatgabhane commented on #8034
Alright, this seems like an easy fix.

### Proposal

`this.props.hasMultipleParticipants` will be false for 1:1 reports. So we could check for it here -

https://github.com/Expensify/App/blob/28d967f3211046d000cff50503e21e6032d4921c/src/components/IOUConfirmationList.js#L367

[2022-04-08 09:20] dylanexpensify commented on #8246
How we doing here?

[2022-04-08 09:20] dylanexpensify commented on #7549
Any update here @parasharrajat ?

[2022-04-08 09:25] mollfpr commented on #8246
PR is still on review.

[2022-04-08 09:36] Julesssss commented on #8460
Awaiting proposals.

[2022-04-08 09:37] mollfpr commented on #8307
https://user-images.githubusercontent.com/25520267/162408835-60f125c4-32a2-4d9b-944d-599ab2466b70.mp4

@Santhosh-Sellavel as you can in the video the opacity value is not changing correctly, it should be `0.5` to `1`.

[2022-04-08 10:00] Santhosh-Sellavel commented on #8307
@mollfpr
From the issue post: https://github.com/Expensify/App/issues/8307#issue-1180028048
We get to know the opacity i.e button looks unclickable. What we are looking at here is, what exactly causes this opacity issue.

For your proposal, I posted a comment here: https://github.com/Expensify/App/issues/8307#issuecomment-1092167993.
Currently, I don't feel the root cause is not narrowed down yet

[2022-04-08 10:07] Santhosh-Sellavel commented on #8307
@brianmuks

If so can you share screen recordings from the staging/production environment?
I am unable to reproduce this in other input fields.

This is more or less a workaround, not solving the real cause.

[2022-04-08 10:18] Santhosh-Sellavel commented on #8034
@rushatgabhane
What are you proposing here?
Following code or something else?
[code]

[2022-04-08 10:30] dharmik commented on #8460
Proposal & Information @Julesssss
Main context we have to release iOS application with iOS 15 SDKs

**Official Information**
[App Store submission requirement starts April 25
](https://developer.apple.com/news/?id=2t1chhp3)

- From who ever's machine we are releasing iOS application we need to verify is Xcode version is 13 or later.
  ==> open xcode ==> Top menu item click on xcode ==> Click on Ab

[2022-04-08 10:34] parasharrajat commented on #8460
@dharmik I think you misunderstood the issue. Here we wants someone to update the target SDK version on the plist file and corresponding configurations and set up the project so that it will successfully built.

Let's me your proposal for doing that. The deployment will be taken care internally.

[2022-04-08 10:41] parasharrajat commented on #7549
Sorry @dylanexpensify, I am not tracking it as it is not assigned to me.

[2022-04-08 10:57] dharmik commented on #8460
@parasharrajat Are areyou talking about to change iOS Deployment Target?
<img width="867" alt="Screen Shot 2022-04-08 at 4 27 05 PM" src="https://user-images.githubusercontent.com/1510175/162422521-675207cb-dd26-4548-967b-6a61cee09203.png">

If you need someone to do, I will do that.

[2022-04-08 11:01] parasharrajat commented on #8460
Yup, I think that is the one. I don't much about iOS but that should be it.

[2022-04-08 11:01] trjExpensify commented on #8362
Sent the offer 👍

[2022-04-08 11:04] dylanexpensify commented on #7549
ah sorry @parasharrajat my misread! @neil-marcellini any update here? Do we need this posted to upwork yeah?

[2022-04-08 11:10] dharmik commented on #8460
@parasharrajat
https://user-images.githubusercontent.com/43995119/161472375-1924737e-5479-4f65-b25f-cd8f1fd4d877.png

We are planning to resolve above information message which came in email while recently we release application for that as per my proposal we have to stay updated or build application with minimum SDK which is iOS 15 and iOS 15 will be support in Xcode 13 or later so if we generate

[2022-04-08 11:16] parasharrajat commented on #8460
Sounds good. Let's go with that. We have to inform everyone to upgrade their Xcode version. For some of them, it will be hard to do as it may require an OS upgrade.

cc: @Julesssss

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-04-08 11:56] laurenreidexpensify commented on #8541
https://www.upwork.com/jobs/~0152eb6f4ed4ed19c4

[2022-04-08 11:58] laurenreidexpensify commented on #8541
ugh the autoassigners were being janky! apols all. I am OOO next week and was reassigning a Contributor Manager Team sub (Jeremy) to look out for proposals next week while I am out.

[2022-04-08 12:13] dennismunene commented on #8331
Still haven't received Offer on Upwork for this. This is my profile  https://www.upwork.com/freelancers/~017508f1bfdd7ba8d9

[2022-04-08 13:21] parasharrajat commented on #7547
@mananjadhav Could you please share the status update?

[2022-04-08 13:31] mountiny commented on #8331
cc @kevinksullivan

[2022-04-08 13:34] nadir commented on #8461
I was able to fix this by setting flex-shrink to 1 on the container view
![image](https://user-images.githubusercontent.com/79141224/162446370-6b8b6a7f-751b-4b87-9140-81132da520ae.png)

[2022-04-08 14:11] stitesExpensify commented on #8404
Yeah it should be trivial to toss that in there 😄 Let's go ahead and hire @sobitneupane and they can take care of it

[2022-04-08 14:13] rushatgabhane commented on #8404
@mallenexpensify if you access to the design (figma) files. You could find out if it fits.

Anyway, I gave the proposal a try and "Unable to Close Your Account" fits comfortably for small devices.

<img width="378" alt="image" src="https://user-images.githubusercontent.com/29673073/162453459-a21c0e1c-f9d4-425b-9e13-90e68c6b257a.png">

[2022-04-08 14:36] parasharrajat commented on #8471
Thanks for the update proposal @metehanozyurt.

- Step 2 is prohibited in our codebase.
- Step 3 Why is this needed?

I don't where are you correcting the size of the image on the web.

[2022-04-08 15:07] NicMendonca commented on #8248
assigning @mallenexpensify for payment as I will also be OOO

[2022-04-08 15:24] OSBotify commented on #8566
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.54-0 :rocket:

[2022-04-08 15:31] luacmartins commented on #7537
The holding PR is merged! We can start working on this 🎉

[2022-04-08 15:37] luacmartins opened #8567 "Form inputs without shouldSaveDraft don't update their value and submit stale data"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run `npm run storybook`
2. Update the value of an input without the `shouldSaveDraft` param, e.g. `Account number` in the default story.
3. Submi

[2022-04-08 15:40] luacmartins opened #8568 "Rename onChange to onInputChange on all instances of AddressSearch"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run `npm run storybook`
2. Open the js console
3. Use the address search in the default story
4. Verify that you see an error about onChange bein

[2022-04-08 15:47] stitesExpensify commented on #8404
Spanish translation: `No se pudo cerrar tu cuenta`

[2022-04-08 15:58] nkuoch commented on #8537
We'll need to make sure any possible value of visibility exists in the translations

[2022-04-08 16:22] MitchExpensify commented on #8351
[Upwork Job ](https://www.upwork.com/jobs/~0122977896814fb44c)

[2022-04-08 16:41] Beamanator commented on #8507
Aah thanks for the clarification @kbecciv - on the android app & mobile web (Chrome) I'm seeing the invite button & "Add a personal message" text box float above the keyboard, which is what we're thinking we should see in Safari in this issue, I believe

[2022-04-08 16:44] mdneyazahmad commented on #7917
I would like to take this one. I am also assigned other form audit issues and working on it. Thank you.

[2022-04-08 17:14] mdneyazahmad commented on #7916
I am struggling to navigate the first two page that seems to be related to bank account flow. Somehow it does not work and gives cors error on `dev`. It works on staging but  it asks me to verify my identity with photo at 3/5 step. Do we have any test credential for `onfido` flow?

I am also facing the same `cors` issue on 1 more related form audit issue. Do need to fix this error on `dev` too or

[2022-04-08 17:15] Beamanator commented on #8469
Great idea @rushatgabhane 👍 I'll put this on hold for now!

[2022-04-08 17:16] Beamanator commented on #8469
@kevinksullivan / @JmillsExpensify we're putting this on hold b/c the solution for this issue will be very very similar to how we'll fix these two issues:
- https://github.com/Expensify/App/issues/7625
- https://github.com/Expensify/App/issues/8272

[2022-04-08 17:21] AndrewGable commented on #8128
Sounds good, let's do it!

[2022-04-08 17:24] stephanieelliott commented on #8354
Ok I was able to reproduce, I think I wasn't understanding the issue before.

I'm going to close this for low value - I don't think it's a common use case to use the browser `back` button rather than the LHN to navigate chats (I actually didn't even know it was possible). We can reopen later if we want to change this behavior.

[2022-04-08 17:24] #8354 closed

[2022-04-08 17:39] kbecciv commented on #8507
@Beamanator Yes, we are seeing this issue in Safari.

[2022-04-08 17:48] roryabraham commented on #8351
Sorry, I disagree with this feature request. The current user is excluded from group chat names by design.

[2022-04-08 17:48] #8351 closed

[2022-04-08 17:50] roryabraham commented on #8351
@MitchExpensify I went ahead and closed the Upwork job too

[2022-04-08 17:51] trjExpensify commented on #8537
Job on upwork here: https://www.upwork.com/jobs/~01905625ed837532d1

I'm OoO next week, so feel free to pull the `external` trigger again if anything is needed from the CM team in the meantime. 👍

[2022-04-08 17:53] parasharrajat commented on #8351
I agree with Rory. I was going to raise this on slack.

[2022-04-08 18:01] parasharrajat commented on #8537
@Puneet-here 's proposal looks good.

cc: @thienlnam

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-04-08 18:03] aldo-expensify commented on #8351
I disagree, I don't understand the reason behind that exception. Other apps like slack or WhatsApp show yourself in the list of members, which for me makes sense because you are a member.

[2022-04-08 18:27] trjExpensify commented on #7739
👋 I'm OoO next week, so reassigning for another CM to handle the payment after the regression period. Thanks, @Christinadobrzyn!

Upwork job is here: https://www.upwork.com/jobs/~01555eaa1328846469

[2022-04-08 18:28] roryabraham commented on #8461
Nice! LGTM 👍

[2022-04-08 18:29] trjExpensify commented on #8033
👋 I'm OoO next week (so is @laurenreidexpensify, I believe), so reassigning for another CM to handle the payment after the regression period. Thanks, @dylanexpensify!

Upwork job is here: https://www.upwork.com/jobs/~01c95cafe702e5684f

[2022-04-08 18:40] thienlnam commented on #8537
Yup looks good to me as well, hiring @Puneet-here

[2022-04-08 18:40] deetergp commented on #7435
Not overdue, just holding

[2022-04-08 18:51] stephanieelliott commented on #8179
Oop, this one didn't get `Hold for Payment` tag when it was merged 🤔

Thanks for the bump @parasharrajat, all paid in Upwork!

[2022-04-08 18:51] #8179 closed

[2022-04-08 18:51] Beamanator commented on #8507
Thanks @kbecciv - it's useful to know if the issue is only happening in 1 platform, which is why I added that note to the issue title & to the original post :D

[2022-04-08 18:56] marcaaron commented on #8551
Awesome, thanks!

[2022-04-08 19:01] roryabraham commented on #8351
Worth noting that Apple Messages does not include you in the list of members

[2022-04-08 19:02] rushatgabhane commented on #8329
@dharmik apoligies for not noticing it earlier, but you're limited to working on only one job for now. So I'd suggest you to complete PR (https://github.com/Expensify/App/pull/8548) asap.

I like your proposal, so we can put this issue on HOLD. And get back to it after #8548 has been merged

[2022-04-08 19:09] rushatgabhane commented on #8034
@roryabraham good point, but those aren't really related. I agree that the name is confusing.
We could rename `isGroupSplit` to `isSplitInitiatedFromGroup`??

[2022-04-08 19:15] TomatoToaster commented on #8519
Will be fixing this alongside [this issue](https://github.com/Expensify/Expensify/issues/199554) because both can be solved together.

[2022-04-08 19:19] roryabraham commented on #8034
I think I like `isIOUAttachedToExistingChatReport`

[2022-04-08 19:23] Santhosh-Sellavel commented on #8461
@roryabraham Were you able to reproduce this issue?

I am unable to reproduce this one,
<img width="1440" alt="Screenshot 2022-04-09 at 12 51 55 AM" src="https://user-images.githubusercontent.com/85645967/162510378-efd16b43-d14b-4a6f-a7c9-7bf62d5e5efc.png">

[2022-04-08 19:27] Santhosh-Sellavel commented on #8034
This means all 1:1 & group chats, but we should allow users to deselect only when the iOU is initiated from Group chat.

[2022-04-08 19:32] rushatgabhane commented on #8034
I'm not too familiar with rooms, but we may also need to worry about split initiated from rooms.

[2022-04-08 19:32] nadir commented on #8461
You can reproduce it by adding more workspaces

[2022-04-08 19:39] Santhosh-Sellavel commented on #8461
Still no luck @nadir,

<img width="1437" alt="Screenshot 2022-04-09 at 1 08 25 AM" src="https://user-images.githubusercontent.com/85645967/162514929-6384fdb1-952b-4d8b-856e-224cc39208b9.png">

[2022-04-08 19:40] adelekennedy commented on #8426
[external](https://www.upwork.com/jobs/~0157591e637bceeaaa)
[internal](https://www.upwork.com/ab/applicants/1512515425456541696/job-details)

[2022-04-08 19:42] nadir commented on #8461
5 workspaces seem to trigger it
![image](https://user-images.githubusercontent.com/79141224/162515649-0eba9b13-2928-4457-8a46-0c49185f0d02.png)

[2022-04-08 19:49] Santhosh-Sellavel commented on #8461
@nadir
I am not unable to reproduce this yet.

<img width="1430" alt="Screenshot 2022-04-09 at 1 17 42 AM" src="https://user-images.githubusercontent.com/85645967/162516401-8b5970cf-f165-4001-8814-5bae334a009a.png">

[2022-04-08 19:50] Santhosh-Sellavel commented on #8461
@mvtglobally Can you check whether this is still reproducible?
I am unable to reproduce this.

[2022-04-08 20:00] Santhosh-Sellavel commented on #8361
Thanks, @thienlnam.
I think it should be blank because we don't show any deleted indication if delete the last message. Instead, the message that was before deleted is shown in the preview.

@brianmuks Can you update your proposal to match the expected OP let us know thanks!

[2022-04-08 20:01] neil-marcellini commented on #7549
I don't know what issue @parasharrajat was referring to here. Are you referring to [this call here](https://github.com/Expensify/App/blob/173d234f0fb4eaca03c315a03237836d9d5ebad8/src/pages/workspace/WorkspaceBankAccountPage.js#L75)? I am still able to reproduce this on mobile web on production. I haven't tested on IOS but I bet it occurs there too. Yes, please create an upwork job for this.

[2022-04-08 20:28] thienlnam commented on #7424
@jliexpensify Could we make sure to get a payment of $250 to Peter on 2022-04-15 for the PR adding logs?

[2022-04-08 20:37] deetergp commented on #5897
@trjExpensify Let's put this one back in the `Exported` pool and see if we get another bite.

[2022-04-08 20:52] roryabraham commented on #8034
I see what you mean, but I think it still works:

**Can we modify participants?**

||Attached to existing chat|Not attached to existing chat|
|---|---|---|
|Multiple participants|yes|no|
|Two participants|no|no|

So if we equate the row labels to `hasMultipleParticipants` and the column labels `isIOUAttachedToExistingChatReport`, then this:

`canModifyParticipants = hasMultipleParticipants && isIO

[2022-04-08 20:58] Santhosh-Sellavel commented on #8034
This looks much better now! It should covers rooms also.

[2022-04-08 20:59] aldo-expensify commented on #8088
I worked in this in the past in [this PR](https://github.com/Expensify/Web-Expensify/pull/31965). I added a function to trim the html, but it missed to consider cases where there are spaces using `&nsbp;`. I'll do a PR to fix that.

[2022-04-08 21:07] roryabraham commented on #8461
@Santhosh-Sellavel thanks for checking, I did not verify this (since it was reported by Applause)

[2022-04-08 21:08] stitesExpensify commented on #8267
Not done yet

[2022-04-08 21:27] Beamanator commented on #8031
@parasharrajat I think we got the answers we need in Slack, do you have any questions before moving forward with a PR?

[2022-04-08 21:34] kbecciv opened #8570 "Profile - Timezone isn't updated automatically after selected "Set my timezone automatically", works after refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Go to Setting - Profile
4. Unselect "Set my  timezone automatically" and us

[2022-04-08 21:35] OSBotify commented on #8570
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-04-08 21:49] neil-marcellini commented on #8295
I have no idea why this is happening. When [Navigation.goBack()](https://github.com/Expensify/App/blob/f0a4118a1b55673624f5f4a41ab39a6f49bc9b66/src/pages/ReimbursementAccount/BankAccountStep.js#L195) is called when the back button is pressed on the BankAccountStep page, the document is unloaded. I ran this snippet in the js console before pressing the back button `window.onbeforeunload = function(

[2022-04-08 21:54] rushatgabhane commented on #7573
@OneDevStopShop when do you reckon you can get your Upwork profile fixed? I don't want to see your efforts wasted for this issue

[2022-04-08 21:58] roryabraham commented on #8004
I think we are good to close this for now. We can reevaluate if/when we have issues again in the future.

[2022-04-08 21:58] #8004 closed

[2022-04-08 22:01] thesahindia commented on #8128
Can I make the PR? or should I wait to get assigned first.

[2022-04-08 22:04] roryabraham commented on #8135
I actually can't reproduce this either. Going to close it – feel free to reopen if it's reproducible.

[2022-04-08 22:04] #8135 closed

[2022-04-08 22:08] kavimuru opened #8572 "Workspace - Second line in the error message for invalid phone number invite is incorrect"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com

2. Create a new workspace from an account that's on the policyExpenseChat beta (e.g @expensifail.com)
3.

[2022-04-08 22:10] roryabraham commented on #7625
Sorry for the delay @thesahindia – I've been doing some research and working on a solid P/S for formatting translated texts, but it's not quite ready yet. I don't want to hold you up on this any longer it's difficult to say how long it will be before it's a priority, so I advise we move forward with this issue using the regular split text approach:

[code]

Then go back and refactor once we settle

[2022-04-08 22:12] roryabraham commented on #8272
I've asked @thesahindia to handle this in concert with https://github.com/Expensify/App/issues/7625

[2022-04-08 22:13] roryabraham commented on #7094
Again, no update. I want to send this back to the pool but am not supposed to because it's a demolition issue

[2022-04-08 22:15] luacmartins commented on #6883
Still looking for contributors.

[2022-04-08 22:31] adelekennedy commented on #7541
@MitchExpensify heading ooo for a few days, will you keep an eye on this one?

[2022-04-08 22:51] MitchExpensify commented on #7541
Yes no prob! @adelekennedy

[2022-04-08 23:13] rushatgabhane commented on #8240
Yess

[2022-04-08 23:14] rushatgabhane commented on #8185
@tomivs any updates? Thanks!

[2022-04-08 23:16] Puneet-here commented on #8572
### Proposal

Reason: This is happening because `workspace.invite.pleaseEnterValidLogin` doesn't exist there is no such key in en.js or es.js
https://github.com/Expensify/App/blob/43910fe5c20584b05fe56013005e8e59ba93e8a6/src/libs/actions/Policy.js#L352

Fix: we have multiple ways to solve this,
1. We can remove line 352 because we are already showing an error message so if we remove line 352 then