[2022-11-15 17:42] chiragsalian commented on #11735
Cool, thanks for double-checking.

[2022-11-15 17:43] dylanexpensify commented on #10767
Hello! I'm gonna take this one over! Will work on getting new job up now

[2022-11-15 17:45] hammad-6304 commented on #11463
@mananjadhav totally agree with your point `react-native-web` provide `KeyboardAvoidingView ` but, the problem is, it is not fully matured and context rich yet.
Only latest versions of `react-native-web` ships this feature still not fully functional but in `Mock State` (Reference is attached below) which will not be good enough to handle these scenarios on variety of browsers and devices since dif

[2022-11-15 17:46] thesahindia commented on #12244
Bump @sakluger for payment on this.

[2022-11-15 17:48] thesahindia commented on #12042
@dylanexpensify, it's ready to be settled. The PR was deployed to production 11 days ago

[2022-11-15 17:49] dylanexpensify commented on #10767
Upwork job: https://www.upwork.com/jobs/~0103085196ed883659

[2022-11-15 17:51] mananjadhav commented on #9391
Yes. Definitely not 100% here, but a little more than 25% would be greatly appreciated. The reasoning being.

1. The first [proposal](https://github.com/Expensify/App/issues/9391#issuecomment-1152862795) review started on mid June
2. After clarifying few cases like individual chat, expected behavior, and different plaforms, formally accepted the proposal [here](https://github.com/Expensify/App/iss

[2022-11-15 17:52] thesahindia commented on #11800
@dylanexpensify, this is ready for the payment.

[2022-11-15 17:53] thesahindia commented on #8719
Bump @adelekennedy

[2022-11-15 17:53] bfitzexpensify commented on #12639
All emojis, updated the title to be clearer

[2022-11-15 17:54] andrewlor commented on #10767
Thanks! I just applied.

[2022-11-15 17:56] aitoraznar commented on #7375
**Proposal**

Some changes need to be made in some components: Popover.native to set as Popover in medium devices (Ipad/tablets), And calculate the popover position in AttachmentPicker, ReportActionCompose and AddPaymentMethodMenu.

Some areas such as Call Options and Add/Edit Photo Options for User Profile don't need any code changes. Will check other areas if my proposal is accepted.

Video of m

[2022-11-15 17:56] mananjadhav commented on #11463
Thanks for the comment @hammad-6304. I am aware it's a mock state, but I was wondering if we should fix this upstream? or write a component ourselves. @flodnv do you have any opinion on this one?

Could you elaborate on your proposal?  to share some technical details? code footprint we're looking to add? Also I hope you've gone through our contributing guidelines to ensure it fits into our style a

[2022-11-15 17:58] yuwenmemon commented on #12713
Yeah, maybe someone else will know what's causing it - going to see if any contributors have any idea.

[2022-11-15 17:59] michaelhaxhiu commented on #9391
Thanks for the context. I'll get back to you today.

[2022-11-15 18:03] kavimuru opened #12741 "[HOLD for payment 2022-12-02] [$250] Cursor moves to end after adding space in Room Name reported by @varshamb"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:-

1. Navigate to Room
2. Click header to open details of Room
3. goto Room Settings
4. Add space in Room Name and observe the Cur

[2022-11-15 18:04] michaelhaxhiu commented on #12075
Oooh nice idea! I'll stay tuned for that #product discussion 🤓

[2022-11-15 18:08] slafortune commented on #11471
Job posted - https://www.upwork.com/ab/applicants/1592579987018907648/job-details

[2022-11-15 18:10] AndrewGable commented on #8503
Welcome welcome! Excited to see the results.

[2022-11-15 18:10] yuwenmemon commented on #12712
Hmmm... @hungvu193 I don't think that's the behavior we're looking for here. The image avatars should still stay even if you go offline. We shouldn't remove data that we already have if that makes sense.

In other words, we should only be recovering from the avatar "error state" - not purposefully sending it to an error state when we go offline. The error state should only come up if we've failed

[2022-11-15 18:12] alex-mechler commented on #12676
Yup, looks like something broke here. Since this is just routing this can go external

[2022-11-15 18:16] ctkochan22 commented on #12684
There is a deploy blocker that may have been caused by one our PRs. I'm currently looking into that before removing methods: https://github.com/Expensify/App/issues/12670

[2022-11-15 18:21] thienlnam commented on #11737
Yeah that's correct, this was likely missed during an internal refactor as an edge case.  It's been a while but it was probably this one? https://github.com/Expensify/App/pull/11439

[2022-11-15 18:23] fedirjh commented on #11146
### Proposal

#### Problem

There is an extra state update to `selection` that's triggered `onSelectionChange` even when `this.state.selection === e.nativeEvent.selection` . `onChangeAmount` (which update state of `selection`) is fired before `onSelectionChange` which also will update the same state when user is adding digits

### Solution

We have to prevent extra state updates if values are equa

[2022-11-15 18:28] Emz27 commented on #12324
https://github.com/Expensify/App/issues/12650#issuecomment-1315699265

[2022-11-15 18:33] zanyrenney commented on #10767
Thanks for jumping on that @dylanexpensify! Sorry, I didn't think it had expired but I see @Christinadobrzyn created that listing 2 months ago and as they expire within 30 days, that would make sense. New one up there and looks like all good now!

[2022-11-15 18:35] parasharrajat commented on #7375
If you follow the step above you should be good with it. Notice I mentioned adding the account from the web app as Native currently uses PROD API. Plaid flow is pretty easy just keep continue to next steps.

[2022-11-15 18:39] Beamanator commented on #12616
Just so we're on the same page @shawnborton - what about showing the Skeleton UI in the modal while it's loading (& keep the main spinner)?

I think I could also get behind your idea of showing 1 general loading spinner, then opening the modal once everything is loaded

[2022-11-15 18:40] amyevans commented on #12651
@rushatgabhane could you review the above proposal?

[2022-11-15 18:42] JmillsExpensify commented on #12698
Great question. Why wouldn't we replace the spinner with the skeleton UI more broadly? It seems like a pretty good change all around, and in fact, we're also doing this in RHP as well.

[2022-11-15 18:45] JmillsExpensify commented on #12616
Oh just commented in a related issue. I generally like showing the skeleton UI in the modal while loading, and I guess perhaps more generally, in what scenario(s) do we prefer the spinner vs skeleton UI. We should probably align on the broader pattern at play.

[2022-11-15 18:48] Emz27 commented on #12714
### Proposal
- add debounce/throttle to onPress event using lodash

### Cause
- because of render lag, the javascript code cant keep up with native events

@Puneet-here proposal will help but It can still be replicated if the QA use their magic fingers since react state render is asynchronous

This can be fully solved with debounce/throttle on client + loader + backend limit

[2022-11-15 18:49] hammad-6304 commented on #11463
Yes, We can fix this upstream but there're a lot of chances that'll be bottle neck for us eg proper versioning, compatibility, bridging and linking through different versions or Base-Platform.
Since React-Native changed its architecture in the new version so we if we Fix this upStream we'll have to follow the new one so there'll be conflicts or either we need to upgrade our app with new one. So, b

[2022-11-15 18:55] mananjadhav commented on #11463
Thanks for the details.

We have listeners for view port like `withWindowDimensions`. We can use those. We can work out the kinks in the PR.  While we do maintain our own forks for react-native and so on, I am fine with us implementing a component here.

@flodnv What are your thoughts.  I am more or less convinced with @hammad-6304's approach here.

🎀 👀 🎀 
C+ reviewed

[2022-11-15 18:56] Beamanator commented on #12616
100%

[2022-11-15 18:57] mananjadhav commented on #12616
I agree with the idea of adding a skeleton UI compared to a common/multiple spinners.

[2022-11-15 19:00] JmillsExpensify commented on #11192
Then separately, @roryabraham @mananjadhav do ya'll mind helping confirm whether root cause analysis is needed? Based on that, we can decide if/what convos should be moved to contributor-plus.

[2022-11-15 19:01] jasperhuangg commented on #12237
@TwizzyIndy if you'd still like to look into my comment [here](https://github.com/Expensify/App/issues/12237#issuecomment-1315639408) and come up with another solution with this new context I'd still be happy to accept a proposal!

[2022-11-15 19:02] JmillsExpensify commented on #12684
Gotcha, thanks for closing the loop. Makes sense.

[2022-11-15 19:02] hammad-6304 commented on #11463
Thanks for the responses.

Looking forward.

[2022-11-15 19:02] marcaaron opened #12742 "Require testing on High Traffic accounts for all PRs / Add Offline steps to Tests section"
# Problem

Many PRs in this repo are tested against dev or test accounts that are not "high traffic". This can lead to regressions and people missing that changes will disproportionately affects "high traffic" accounts.

# Solution

- [ ] Add instructions on how to get a high traffic account to the PR template (for C+, Applause, and Internal)
- [ ] Add a checkbox to both the Author and Reviewer se

[2022-11-15 19:05] devenus98 commented on #12482
@Santhosh-Sellavel Yes, I updated Permissions.js and was able to create "New Room", but I can't reproduce issue.
@kbecciv this issue happens always?

[2022-11-15 19:05] abekkala commented on #9581
@mollfpr can you provide me with your upwork profile? I'm having a hard time finding you

[2022-11-15 19:06] peterklamka commented on #12676
@kbecciv I logged in my account. but I got this screen when I visit https://staging.new.expensify.com/r/6821704960193694.
so I don't think /details, /participants, /settings will work too.

![image](https://user-images.githubusercontent.com/118206313/202004281-be990d0c-1c89-48f4-ac16-8818ee6f5f19.png)

[2022-11-15 19:07] ctkochan22 commented on #12670
That's so strange that its no longer reproducible. Maybe it was fixed by a recent deploy. However, I've logged into the account and was not able to reproduce.

[2022-11-15 19:09] mateocole commented on #11405
@srikarparsi looks like its been a week and no bites, going to double the price!

[2022-11-15 19:09] JmillsExpensify commented on #12243
I like bringing this up in Slack based on the trade-offs. At that point we can decide wether to move forward or close.

[2022-11-15 19:14] kavimuru opened #12743 "[Hold #12775] Workspace - Add/removed a member offline flickers before getting disappeared when back online reported by @daraksha-dk"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open the app > Open any Workspace > Go to Manage members
2. Go offline
3. Invite and remove a member while offline
4. Go onli

[2022-11-15 19:22] jasperhuangg commented on #12691
@s77rt on a roll lately, assigned!

[2022-11-15 19:24] jasperhuangg commented on #12451
Hmm it seems like now I can't even get the error to appear, strangely the API just accepts the new updates from the client that was offline. Perhaps something has changed since https://github.com/Expensify/Web-Expensify/pull/35433 was being deployed, I'll investigate.

https://user-images.githubusercontent.com/31285285/202007556-a0e1739a-b025-4424-85c4-7e67cb764718.mov

[2022-11-15 19:33] kavimuru opened #12744 "[$250] skeleton view goes over the edges of the screen reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login to the app on mobile app.
2. Navigate to any report that shows skeleton view.

## Expected result:
Skeleton view should

[2022-11-15 19:37] Emz27 commented on #12650
working branch : https://github.com/Emz27/App/tree/bugfix/12650

[2022-11-15 19:42] kavimuru opened #12745 "[$250] Mac / Firefox - Composer height increases on adding emoji reported by @daraksha-dk"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open a chat
2. Add emoji to the message composer

## Expected Result:
Composer height should not increase

## Actual Result :

[2022-11-15 19:43] joekaufmanexpensify commented on #11916
Discussing next steps [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1668541406340949) given this is actually internal and is held on the notifications rework project.

[2022-11-15 19:44] joekaufmanexpensify commented on #11850
PR still in draft.

[2022-11-15 19:47] michaelhaxhiu commented on #12438
We can ask for design input. I am sorta curious how we best solve this too, as the "blink" happens before a secondary confirmation modal is shown to basically have the user double confirm.

cc @Expensify/design aka Shawn if you have a moment to check this one!

[2022-11-15 19:51] abekkala commented on #12240
https://www.upwork.com/jobs/~0139d76c4c5b53e2d2
Price doubled to $1000

[2022-11-15 19:56] michaelhaxhiu commented on #12438
Also this feels like a major piece of polish in a lot of ways 🤔

[2022-11-15 19:56] roryabraham commented on #11192
Yes, we should, using the reproduction steps from the OP of this issue.

I don't think so. It's not clear that this is a regression, it might have just been a bug that was always there.

[2022-11-15 19:56] maddylewis commented on #11262
BUG issue checklist:
- [ ] The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead)
- [ ] The bug is reproducible, follow the reproduction steps 
- [ ] The GH is filled out as clearly as possible
- [ ] Review Slack convo to confirm we should fix this
- [ ] Decide if the GH should be resolved by an External contributor or Internal engin

[2022-11-15 19:59] roryabraham commented on #12698
I think we should – that's what this issue is all about. But we can just take it step-by-step

[2022-11-15 20:00] Beamanator opened #12747 "[HOLD for retest] Remove html from Close Account errors"
# Problem:

In the past, we didn't show errors that occurred when a user tries to close their account. Instead, we displayed a generic error modal. As of this issue: https://github.com/Expensify/App/issues/11341, we're planning to get ride of that modal and show the error that occurred. Some of these error messages have `<p>` before / after the error message ([example](https://github.com/Expensify

[2022-11-15 20:05] s77rt commented on #12265
Applied on Upwork.
[PR](12746) ready

[2022-11-15 20:13] s77rt commented on #12691
@jasperhuangg I have PR waiting to be merged #12746
Should I wait till then to make a new PR? (and do i need to be unassigned then assigned again or it's okay staying assigned)

[2022-11-15 20:14] mollfpr commented on #9581
@abekkala applied! Will raise the PR today!

[2022-11-15 20:15] shawnborton commented on #12440
Sounds good. Maybe we can shoot to have everything merged early next week, like on Monday? That would give us the rest of the week to wrap things up, cc @Luke9389

I'll post a weekly update today and we can discuss these things further though.

[2022-11-15 20:16] shawnborton commented on #12616
Hmm but the skeleton UI is meant to look like a list of chats or a group of messages. Why would we use that design to load a page that is not a group of chats or messages?

[2022-11-15 20:18] mollfpr commented on #12691
@s77rt You should be good to go after being assigned and never unassign yourself if you are still hired.

[2022-11-15 20:21] shawnborton commented on #12698
I commented in the other issue but I feel like the skeleton loader makes sense when we are about to load messages or chats. Alternatively, we could create a skeleton that mimics the exact layout of each page that we need to load. So for instance, if we need to load the workspace page, we could have a skeleton that looks like the big avatar image, plus some text, plus option rows.

[2022-11-15 20:28] Beamanator commented on #12616
@shawnborton aah interesting, I assumed the skeleton UI could be used in other pages where we know the shape of the page that's being loaded - i guess skeleton could be overkill here since we already know 99% of what will show up in the Workspace settings page, the only thing we don't immediately know is the workspace name & avatar (unless they're cached in Onyx).

Is it better to instantly load t

[2022-11-15 20:37] Beamanator commented on #12007
Huh good question, if I remember correctly, this "default avatar" business is going to be fixed by @roryabraham... Rory weren't you looking into implementing a default avatar SVG that's a file, not a URL? And I thinkkkk that was going to be in another issue?

[2022-11-15 20:40] mollfpr commented on #12521
Will review the proposal today!

[2022-11-15 20:42] conorpendergrast commented on #11515
Fantastic, thanks all!

[2022-11-15 20:43] shawnborton commented on #12261
Hah, what are the odds!

In other news, I'll post some ideas to the room today and we'll get kicked off with Augenblick next week.

[2022-11-15 20:45] roryabraham commented on #12670
Since this is no longer reproducible, I'm going to demote it from deploy blocker to regular bug.

[2022-11-15 20:49] shawnborton commented on #12438
First, I like the idea of moving the green button to the bottom of the view even on desktop.

Second, instead of needing two different modals/popovers here, is it possible to just replace the content of the modal from one button to the confirmation text + buttons? This way we don't need to animate between different containers and we can reuse the same one.

[2022-11-15 20:49] RoshaanAli commented on #12721
Proposal
I will check orientation using react-native dimensions builtin library. Then when orientation get change i will add listener which will going to close the keyboard... It will work in all scenarios when ever screen orientation changes

[2022-11-15 20:50] shawnborton commented on #12616
How would we load this page if the user was 100% offline?

[2022-11-15 20:50] roryabraham commented on #12662
Timing graphs are a bit all over the place but we seem to be on a downward trend, and there was a post-mortem sent out yesterday for a performance regression that has been fixed, so we should be okay to deploy.

[2022-11-15 20:51] roryabraham commented on #12662
No new crashes in this version either:

<img width="1289" alt="image" src="https://user-images.githubusercontent.com/47436092/202022759-496850b0-7f90-4ff2-a09e-5067d21f6972.png">

[2022-11-15 20:51] roryabraham commented on #12662
:shipit:

[2022-11-15 20:51] #12662 closed

[2022-11-15 20:52] parasharrajat commented on #12324
Reviewing the proposals. What about we just prevent the longPress on the button?

[2022-11-15 20:53] roryabraham commented on #7270
@maddylewis temperature check on how far out the "use onfido APIs and build out the front-end ourselves" project is? Just wondering how much it's worth investing in bugs related to the Onfido SDK when we're going to be ditching it at some point soon(ish)

[2022-11-15 20:55] OSBotify opened #12753 "Deploy Checklist: New Expensify 2022-11-15"
**Release Version:** `1.2.28-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/8902
- [x] https://github.com/Expensify/App/pull/12226
- [x] https://github.com/Expensify/App/pull/12334
- [x] https://github.com/Expensify/App/pull/12488
- [x] https://git

[2022-11-15 20:56] tjferriss commented on #12514
Thanks for identifying the dupe @rushatgabhane. I'm going to close this one out in favor of the other issue.

[2022-11-15 20:56] #12514 closed

[2022-11-15 20:58] ctkochan22 commented on #12670
@kbecciv let us know if you can reproduce again. But so fart testing on that account we haven't been able to, where as a day ago we were able to. Going to close for now

[2022-11-15 20:59] ctkochan22 commented on #12684
Blocker might have been due to something else, and we are deploying app. Drawing up this PR now.

[2022-11-15 21:00] tjferriss commented on #11903
Job posting is live on Upworks: https://www.upwork.com/ab/applicants/1592623364413255680/job-details

[2022-11-15 21:01] tjferriss commented on #11903
@dangrous @aimane-chnaif can you both please review @aneequeahmad's proposal?

[2022-11-15 21:02] joekaufmanexpensify commented on #11916
@Julesssss Just to confirm, you think even after the the notification rework is done, this will still be an internal issue?

[2022-11-15 21:03] aitoraznar commented on #7375
Hi @parasharrajat. Any idea why the "getClickedTargetLocation" method would not work properly on Native events? Any related issue apart from https://github.com/Expensify/App/issues?q=getClickedTargetLocation ?

![Screenshot 2022-11-15 at 22 01 06](https://user-images.githubusercontent.com/2470879/202024704-f638d409-7c61-4104-90bf-5b89ee8a7b25.png)

thanks

[2022-11-15 21:04] sophiepintoraetz commented on #12324
I think we can put this issue on hold and see if it's resolved by #12650, given that still has the momentum. @gadhiyamanan will still receive the reporting bonus in that case given that it was reported by them first.

[2022-11-15 21:05] michaelhaxhiu commented on #12438
Ooooh I like both of those ideas.

👍 let's emulate mobile UI in desktop for this button.

For this particular idea, would the idea to be to get rid of this **Delete Account** sub-header, and then bump up the sentence that says `Are you sure that you want to delete this bank account?`? Or perhaps something else?

<img width="846" alt="image" src="https://user-images.githubusercontent.com/13206896/2

[2022-11-15 21:08] roryabraham commented on #12698
Love this idea

[2022-11-15 21:21] jliexpensify commented on #12158
[Doubled!](https://expensify.slack.com/archives/C01GTK53T8Q/p1668547228298469)

[2022-11-15 21:22] parasharrajat commented on #7375
It is not implemented on native https://github.com/Expensify/App/blob/main/src/libs/getClickedTargetLocation/index.native.js

[2022-11-15 21:22] jliexpensify commented on #12665
@trjExpensify - could we close this GH?

[2022-11-15 21:24] parasharrajat commented on #11914
We only want the opacity on Room name input.

[2022-11-15 21:25] parasharrajat commented on #10262
For that, we need to hire a contributor first. I will review the latest proposals. We found a new issue during last proposal review.

[2022-11-15 21:27] parasharrajat commented on #12554
#8443

[2022-11-15 21:35] kbecciv commented on #12670
@Luke9389 I don't have any loading spinner when added VBA in Web/Chrome.

https://user-images.githubusercontent.com/93399543/202030025-d0d6c7d5-5910-4b58-8a74-ff6887f66d4b.mp4

[2022-11-15 21:38] kbecciv commented on #12482
@devenus98 Yes, every time for domain (expensifail) accounts.

[2022-11-15 21:41] parasharrajat commented on #10414
I will apply the changes tomorrow to test them.

[2022-11-15 21:41] kbecciv commented on #12639
@bfitzexpensify Thank you for updating the title.

[2022-11-15 21:42] tjferriss commented on #9408
@dhairyasenjaliya I've processed your payment. @parasharrajat can you apply to the Upworks job so I can process your payment as the C+?

[2022-11-15 21:42] parasharrajat commented on #8592
Putting up on my top priority. Expect an update tomorrow morning CST.

[2022-11-15 21:42] Beamanator commented on #12616
Sorry what exact flow are you asking about @shawnborton ?

[2022-11-15 21:45] mateocole commented on #12676
Job posted- https://www.upwork.com/ab/applicants/1592623071761788928/job-details

[2022-11-15 21:48] kadiealexander commented on #12448
@kbecciv since the bug has changed, could you please update the original post and header to clarify what still needs to be fixed?

[2022-11-15 21:49] s77rt commented on #12691
Applied in Upwork.
[PR](https://github.com/Expensify/App/pull/12755) is ready.

[2022-11-15 21:51] parasharrajat commented on #9408
Could you please share the job link? the above link is internal.

[2022-11-15 21:52] shawnborton commented on #12616
The issue that we are talking about here, where we are recommending using a skeleton UI. That feels overkill, so I was curious what we do when we load the workspace editor when the user is offline.

[2022-11-15 21:53] Dima-Kevanishvili commented on #12713
**Proposal**

The issue at hand is caused by ID collisions in the SVGs.
In the fallback avatar SVG file, there is a mask with id `mask0_1416_1459_00000085944631733157358140000010502756902080826784_`
When the screen is small enough to only display the sidebar when report is open we have this id collision and the masking for avatars get messed up.
There are numerous issues reported on this problem.

[2022-11-15 21:53] shawnborton commented on #12438
I think it's fine if we use the current flow where we first just show a delete button and then follow up with "Are you sure" but I am wondering if we can do all of that without closing one modal and launching another - can we just animate the inner contents of just one modal?

[2022-11-15 21:57] michaelhaxhiu commented on #12438
Ahhhhhhh I see. So basically remove the blinking behavior by sticking to 1 modal. Let's see if @hungvu193 is open to try implementing that and attaching a recording?

[2022-11-15 21:58] roryabraham commented on #12026
Overall I think @s77rt's proposal is looking better, but let's make sure we address the problem that @rushatgabhane's seeing

[2022-11-15 21:58] yuwenmemon commented on #12713
@Dima-Kevanishvili thank you for the great explanation here. Yeah, it looks like that svgr issue hasn't gotten any traction in a few months so maybe just editing the SVG itself to not have a mask is the way to go. @shawnborton is this something we'd want to actually edit on the SVG file itself then?

[2022-11-15 22:00] 24dev commented on #8592
@parasharrajat Let me know if you want me to do some digging too, as it's still fresh in my mind. Just tell me what direction you want to move in.

[2022-11-15 22:06] roryabraham commented on #11877
tspascoal/get-user-teams-membership is an outdated action I need to migrate. Probably will just replace it with the GH cli

[2022-11-15 22:07] trjExpensify commented on #12665
Yep! Do the honours.

[2022-11-15 22:09] chiragsalian commented on #10907
Hmm, there are a lot of thoughts and branches of discussion here. Imma try tackling.

Tbh i don't know. `Uploading Attachment...` is a placeholder that we have while the image is downloading. From the issue https://github.com/Expensify/App/issues/9402 its very possible that the same could happen with the image loader. I don't remember if the loader in the past had a report action menu when we long

[2022-11-15 22:11] michaelhaxhiu commented on #9391
Hey @mollfpr and @mananjadhav, we discussed this internally and feel the 25% rule applies best here.

I know this issue had a few months of back and forth, but we think 25% of the total price is fair for the time invested and hope you agree (as well as continue to earn bigger payments in future jobs!)

[2022-11-15 22:11] michaelhaxhiu commented on #9391
Can you please apply for the job here - https://www.upwork.com/jobs/~01e478e78066932f92?

[2022-11-15 22:11] chiragsalian commented on #9402
I'm not following why this issue is on HOLD for a tracking issue - https://github.com/Expensify/App/issues/10894. Maybe that was a mistake and its meant to be on HOLD for something else. Anyone knows?

[2022-11-15 22:15] mountiny commented on #12482
I cannot repro on my account
<img width="374" alt="image" src="https://user-images.githubusercontent.com/36083550/202036321-6a060d3c-7a50-4c82-8387-2a142a7181e0.png">

@kbecciv it might be that this room already exists from some past testing on your domain. Can you try with account with a new domain?

[2022-11-15 22:15] mountiny commented on #12482
Removing Help wanted in the meantime

[2022-11-15 22:16] tjferriss commented on #12717
I was able to pull up the search with contact list. However I did get an error message before this. @kavimuru are you still able to reproduce this one?

https://user-images.githubusercontent.com/8292562/202036483-95373a8d-299e-4470-bd4b-0b661b20dcf3.mov

[2022-11-15 22:19] dangrous commented on #12753
Working on internal QA for https://github.com/Expensify/App/pull/12429 - we may need some edits - I've posted a comment on the PR.

[2022-11-15 22:25] shawnborton commented on #12713
Oh wow, super interesting. Yeah, I think we could just edit the contents of
the SVG file?

On Tue, Nov 15, 2022 at 4:58 PM Yuwen Memon ***@***.***>
wrote:

[2022-11-15 22:27] kavimuru commented on #12717
@tjferriss I'm still able to reproduce

https://user-images.githubusercontent.com/43996225/202038217-58b81f2c-d10d-4e85-aaec-f6138e86b879.mp4

[2022-11-15 22:28] #12742 closed

[2022-11-15 22:30] roryabraham commented on #12236
Marc Rousavy brought up their list component in slack this morning: https://expensify.slack.com/archives/C035J5C9FAP/p1668526367116569

[2022-11-15 22:31] arosiclair commented on #12753
Thanks for taking over QA on that one. Just saw this now

[2022-11-15 22:37] tjferriss commented on #9408
Ah sorry, here you go https://www.upwork.com/jobs/~019dc712cf78819fe3

[2022-11-15 22:39] yuwenmemon commented on #12713
Great! @Dima-Kevanishvili you're hired!

[2022-11-15 22:39] roryabraham commented on #11666
This was fixed in https://github.com/Expensify/Web-Expensify/pull/35118

[2022-11-15 22:39] #11666 closed

[2022-11-15 22:39] tjferriss commented on #12717
Here you go:
<img width="1302" alt="Screen Shot 2022-11-15 at 2 39 48 PM" src="https://user-images.githubusercontent.com/8292562/202039975-418db0f9-a298-4043-a8dc-6a990c18b9d2.png">

[code]

[2022-11-15 22:40] fedirjh commented on #11844
## Proposal

### Problem

there is certainly some problem with `onContentSizeChange` , these are some issue that I faced during testing this :

- https://github.com/facebook/react-native/issues/22638 , `onContentSizeChange` will not fire after the first line (2nd ..)
- https://github.com/facebook/react-native/issues/15326 , the padding is included in the contentSize

those issue are present from a

[2022-11-15 22:43] #12665 closed

[2022-11-15 22:44] trjExpensify commented on #9402
@Beamanator commented above [here](https://github.com/Expensify/App/issues/9402#issuecomment-1270431340). More specifically, it's under the umbrella of image rendering/flashing and this pool of issues is held on implementing better caching.

<img width="952" alt="image" src="https://user-images.githubusercontent.com/16232057/202040008-11021299-5835-41ac-9d64-ebef23f28f6d.png">

Now that we are out

[2022-11-15 22:48] Dima-Kevanishvili commented on #12713
@yuwenmemon Thanks! Is there a job listing for this on upwork?

[2022-11-15 22:48] jliexpensify commented on #11413
Paid @sobitneupane and job closed.

[2022-11-15 22:48] #11413 closed

[2022-11-15 22:49] Beamanator commented on #12616
Hmm well I think the issue being tackled here is only this case:
1. User tries navigating to a URL that's some modal page, but they weren't logged in
2. User is redirected to the sign in page, then they sign in
3. Once they sign in, they're redirected to the original URL, and Onyx data starts loading

So if the user is offline (but signed in), opening the workspace settings / editor should just op

[2022-11-15 22:51] roryabraham commented on #12054
@LucioChavezFuentes please link the PRs you open against the React Native upstream repo here 🙇🏼

[2022-11-15 22:55] roryabraham commented on #10632
Sorry for the delayed response here, but I personally don't agree that this is a new feature, I think it's a bug

[2022-11-15 22:55] yuwenmemon commented on #12713
@Dima-Kevanishvili Feel free to move forward and we'll get one created in any case.

@maddylewis Can we create an Upwork job for this and hire @Dima-Kevanishvili?

[2022-11-15 22:58] Beamanator commented on #12714
@miljakljajic Yep I agree this should be able to be worked externally 👍

[2022-11-15 22:59] AndrewGable commented on #11711
I was able to squeeze some more performance improvements out of the test, total time is now ~23 minutes:
1. First APK took ~9 minutes (compared to ~17 minutes to build)
2. Second APK took ~4 minutes (compared to ~7 minutes to build)
3. Tests take about ~9 minutes (compared to ~15 minutes)

I will work on the final piece which is running this in the "Process new code merged to main" workflow.

[2022-11-15 23:10] Beamanator opened #12757 "[Plan] Think about having new Pronoun & Timezone pages scroll to selected items on render"
Idea from @thesahindia here: https://github.com/Expensify/App/pull/12301#issuecomment-1315758878

Holding on implementation of new timezone pages: https://github.com/Expensify/App/pull/12201

[2022-11-15 23:18] bondydaa commented on #11057
testing this on 1.2.27-4 on web, desktop and haven't been able to reproduce yet.

Tested on the following iOS devices and OS versions:
iOS 15.5 iPhone 13
iOS 15.5 iPhone SE

but couldn't reproduce either. Do we know if there was a specific iOS version that this didn't work on?

[2022-11-15 23:28] JmillsExpensify commented on #10632
Quick update on this thread, as I just got on a call with @roryabraham and we aligned on what's happened here. Basically this comes down to two separate issues:

 - **Bug**: If you long tap on the last message you sent, then the bottom drawer completely covers the message you just selected.
 - **Polish**: If you long tap on any message, it's not very clear which message you selected. This is becau

[2022-11-15 23:29] parasharrajat commented on #12290
I would say that we do not update the existing parsing logic for `javascript:console.com` in this issue and just go over the protocol parsing. But if you say that we handle this case as well, I am fine too.

Please let me know and I will expect the same in proposals.

[2022-11-15 23:29] JmillsExpensify commented on #10632
I tend to think we should solve the bug first and foremost. However, in solving the bug I could also see the argument that we should also solve the highlight too.

[2022-11-15 23:33] marcaaron commented on #12290
No worries and thank you @parasharrajat. If that's the current behavior then we can create a separate issue or get wider feedback on whether it is something that really needs to be fixed.

Definitely no way should `javascript:console.com` become `https://javascript:console.com`, but I'm sure we agree there.

[2022-11-15 23:33] marcochavezf commented on #12667
I think it's fine to fix it, I agree with @s77rt that having two focused elements is confusing.

[2022-11-15 23:37] parasharrajat commented on #12290
Yup. Agreed.

[2022-11-15 23:38] parasharrajat commented on #8459
Not sure which one. But I think this issue is since the start of EmojiPicker.

[2022-11-15 23:40] trjExpensify commented on #8459
Niceeee! Super great to see this one merged! ❤️ Let's get started on collaborating to check these off:

From [this comment](https://github.com/Expensify/App/issues/8459#issuecomment-1110072501), we reference [this commit](https://github.com/Expensify/App/commit/33b210ffe67785a60ee0ed0ffa2208b4d88d0a03) in [this PR](https://github.com/Expensify/App/pull/1991). That was a PR to add this new feature

[2022-11-15 23:40] grgia commented on #12259
Full square! And for the workspace, I want to try out the programmatically, so I'd need A-Z/0-9 black/white SVG. Otherwise, the 26 for that one as well.

[2022-11-15 23:40] parasharrajat commented on #11808
I will try to test it when I get time.

[2022-11-15 23:44] parasharrajat commented on #8459
My bad, not. I forgot that the thread was live.

[2022-11-15 23:44] marcaaron commented on #12676
@mateocole were you able to reproduce on `staging`? I tried and just see that the modal closes and I get redirected to a chat. I don't get "redirected to Concierge", but not seeing the weird messed up state that tester is reporting either.

https://user-images.githubusercontent.com/32969087/202048278-2788a81b-f02a-47e3-a33c-0782fc3fc4e7.mp4

Couple thoughts...

- This could be a browser specific i

[2022-11-15 23:48] parasharrajat commented on #8459
@sobitneupane Could you please create a small follow-up PR for adding code comments? https://github.com/Expensify/App/pull/8902/files#r1012160276
No need to add screenshots etc. Just comments.

[2022-11-15 23:48] parasharrajat commented on #11810
In review.

[2022-11-15 23:51] parasharrajat commented on #11354
@dhairyasenjaliya should create a PR to fix it. As we already know the Root issue, no RCA is needed.

@eVoloshchak You can start by reviewing their suggestions above.

[2022-11-15 23:54] trjExpensify commented on #8459
^^ was that comment in reference to the below? 😅

[2022-11-15 23:57] parasharrajat commented on #8459
Aha, :smile: my mind is running faster than my eyes and fingers.

[2022-11-16 00:00] parasharrajat commented on #11126
Being worked internally.

[2022-11-16 00:02] mollfpr commented on #9391
@michaelhaxhiu I just apply, thanks!

[2022-11-16 00:03] roryabraham commented on #10632
Since we agree that there is a bug here, should we remove the `[HOLD]` and switch it from `New Feature` to `Bug`?

[2022-11-16 00:03] grgia commented on #12258
Do we have a mockup that includes the IOU on the desktop/dark theme?

[2022-11-16 00:03] roryabraham commented on #10632
Also, maybe we should separate the two concerns into separate issues?

[2022-11-16 00:03] parasharrajat commented on #8349
Basically, we don't have to hold this. https://github.com/Expensify/App/pull/11684 is fixing this issue directly. I am testing this issue on that PR as well as a few other cases including performance.

![image](https://user-images.githubusercontent.com/24370807/202050600-9accb2a3-5e5b-401d-93bf-6f2a931138b3.png)

[2022-11-16 00:04] parasharrajat commented on #8349
Update: Reviewed the PR today but the tests are still incomplete. Hopefully, it will be ready to be merged tomorrow.

[2022-11-16 00:09] parasharrajat commented on #11693
It seems that this issue's PR caused a regression https://github.com/Expensify/App/issues/12271

[2022-11-16 00:10] trjExpensify commented on #12745
I can reliably reproduce this on `Web - FireFox` (staging `v1.2.28-0`, using a Mac):

<img width="1131" alt="image" src="https://user-images.githubusercontent.com/16232057/202050730-bed2f594-c587-4a81-9426-ad5b3065d436.png">

Confirmed the issue is not present on `Web - Chrome` & `Web - Safari` nor the desktop app. Confident this is an `external` issue, so adding the label.

Tagging a few people t

[2022-11-16 00:10] alexpensify commented on #12703
@tgolen - Assigning to engineering to identify if this is a feature or a bug. This appears to be very specific to a particular phone type and need feedback if I should commit to labeling external. Thanks!

[2022-11-16 00:11] parasharrajat commented on #12271
Thanks, @b1tjoy for looking. I will definitely review this proposal beside https://github.com/Expensify/App/issues/10262.

[2022-11-16 00:12] marcaaron commented on #10525
Curious what do we mean exactly by this? Can you link to some code about which loop in particular concerns you?

"substantially increase" feels slightly hyperbolic. Number of reports will be relative to the number of chats and IOUs that you have vs. just chats. I can't really think of why this might be bad or why we should view the `reports_*` collection as limited.

I'm not sure why it would.

--

[2022-11-16 00:15] trjExpensify commented on #12745
Upwork job here: https://www.upwork.com/jobs/~01275834e00548fe27

[2022-11-16 00:17] AhmadbinZahid commented on #11903
**PROPOSAL**

**Solution**

Either we need to make sure that anchor is getting the same type of value in each case (i.e native & web) or we can do something like this to handle both cases:
`anchor: PropTypes.oneOfType([PropTypes.number, PropTypes.object]),`

[2022-11-16 00:19] tungmt commented on #11057
I think it is iOS issue only. I can reproduce this issue with both iOS app/web (firefox) on all my devices:
iOS 16.1 iPhone 13 Pro
iOS 15.4.1 iPhone xs max
iOS 14.4.2 iPhone 6s

It is not happen in other platform when I tested it.

https://user-images.githubusercontent.com/7497751/202052384-8050c1f0-64b2-4048-9aef-81932c865ce0.MP4

https://user-images.githubusercontent.com/7497751/202052400-f3777a

[2022-11-16 00:26] roryabraham commented on #10525
I am still 100% on board with making this change before we start rolling out the Manual Requests in full force. It will be a nice simplification.

[2022-11-16 00:33] MitchExpensify commented on #11093
Bump on the above @eh2077

[2022-11-16 00:36] MitchExpensify commented on #4733
@lbaldy Any estimate on when you might have an updated proposal ready for review?

[2022-11-16 00:37] aldo-expensify commented on #12692
I'm pretty undecided about this, thoughts:

- Agree with that this is not necessarily an "issue", but I think the link showing in the corner has no value and if it can be removed easily without "workarounds", I think it is better to not have it.
- This has a very low ROI
- I tested the [proposal](https://github.com/Expensify/App/issues/12692#issuecomment-1313948756) by @mdneyazahmad, and it does s

[2022-11-16 01:01] kavimuru commented on #8348
@sketchydroide Able to reproduce this bug today,
<img width="1194" alt="Screen Shot 2022-11-15 at 5 57 08 PM" src="https://user-images.githubusercontent.com/43996225/202057557-ffdf7e63-da7c-408c-88f4-b203d66b33d3.png">

[2022-11-16 01:16] Dima-Kevanishvili commented on #12713
I will add the pull request for review and apply for the Upwork job tomorrow(It's 5 AM here atm).  Sorry for the delay in advance.

[2022-11-16 01:29] fedirjh commented on #12745
@trjExpensify a quick look, you can reproduce in the edit input too , the  `scrollHeight` for emojis in Firefox is greater than `lineHeight` this will make number of rows = 2 for first input

<img width="501" alt="Screenshot 2022-11-16 at 2 10 41 AM" src="https://user-images.githubusercontent.com/36869046/202059016-8379b91b-d11c-4e99-befa-793cee6a3509.png">

<img width="704" alt="Screenshot 2022-1

[2022-11-16 01:31] kavimuru opened #12760 "[$250] Desktop - Blank screen is displayed after update to new build 1.2.28-0"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Update app to build 1.2.28-0.
2. Open App

## Expected Result:
App should be open and the user able to login

## Actual Result

[2022-11-16 01:32] OSBotify commented on #12760
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-16 01:37] shawnborton commented on #12258
Chatted in Figma but here they are again for posterity:
![image](https://user-images.githubusercontent.com/2319350/202061924-d6fb51c8-546b-4c43-8a49-02489e53716a.png)

[2022-11-16 01:42] Beamanator commented on #12757
Possibly useful SO for scrolling: https://stackoverflow.com/questions/43452859/react-native-sectionlist-scroll-to-section

[2022-11-16 01:46] aneequeahmad commented on #8236
### PROPOSAL

**PROBLEM**

If existing splash screen is implemented using a dedicated Activity, launching app on devices running Android 12 or higher results in duplicate splash screens: [the new system splash screen](https://developer.android.com/about/versions/12/features/splash-screen) displays, followed by your existing splash screen activity.

You can prevent these degraded or unintended expe

[2022-11-16 01:50] Beamanator commented on #11795
Noting here that the new Pronouns page just got merged! That leaves just the Timezone page(s) which @cristipaval is working on updating 👍

[2022-11-16 01:52] srikarparsi commented on #12501
I agree @CortneyOfstad, I don't think this is a bug that we need to fix as I haven't seen anything like this in the past that we've focused on. Just to get a second set of eyes before closing this out though, @puneetlath is this good to be closed or do you think it's worth fixing?

[2022-11-16 01:52] aneequeahmad commented on #8236
The official doc has been last updated a few days back [`Last updated 2022-11-09 UTC`](https://developer.android.com/develop/ui/views/launch/splash-screen/migrate#:~:text=Last%20updated%202022%2D11%2D09%20UTC.)

[2022-11-16 02:02] mananjadhav commented on #9391
Thanks for the update @michaelhaxhiu. Applied

[2022-11-16 02:04] kadiealexander commented on #12743
Have asked about this internally [here](https://expensify.slack.com/archives/C03U7DCU4/p1668563781304899) to ensure the solution aligns with our agreed framework.

[2022-11-16 02:08] mvtglobally commented on #8661
Issue not reproducible during KI retests. (Second week)

[2022-11-16 02:08] mvtglobally commented on #10423
Issue not reproducible during KI retests. (Third week) Closing

[2022-11-16 02:08] #10423 closed

[2022-11-16 02:09] mvtglobally commented on #10356
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:09] mvtglobally commented on #10693
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:11] mvtglobally commented on #10767
Issue not reproducible during KI retests. (Third week) Are we ok to close this one?

[2022-11-16 02:12] mvtglobally commented on #10283
Issue not reproducible during KI retests. (Fifth week) Lets close this one guys

[2022-11-16 02:13] tienifr commented on #11810
Thanks @CortneyOfstad, I've applied to the job

[2022-11-16 02:14] mvtglobally commented on #11330
Issue not reproducible during KI retests. (Fourth week)

[2022-11-16 02:15] mvtglobally commented on #11341
Issue not reproducible during KI retests. (Fourth week) Are we ok to close this one?

[2022-11-16 02:15] mvtglobally commented on #11346
Issue not reproducible during KI retests. (Fifth week)

[2022-11-16 02:15] mvtglobally commented on #11354
Issue not reproducible during KI retests. (Second week)

[2022-11-16 02:16] mvtglobally commented on #11414
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:16] mvtglobally commented on #11512
Issue not reproducible during KI retests. (Second week)

[2022-11-16 02:16] mvtglobally commented on #11542
Issue not reproducible during KI retests. (Second week)

[2022-11-16 02:17] mvtglobally commented on #11667
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:17] mvtglobally commented on #11801
Issue not reproducible during KI retests. (Second week)

[2022-11-16 02:18] mvtglobally commented on #11825
Issue not reproducible during KI retests. (Second week)

[2022-11-16 02:18] AndrewGable commented on #11711
Running into an issue with linting as described here: https://github.com/SchemaStore/schemastore/issues/2579

[2022-11-16 02:18] mvtglobally commented on #11892
Issue not reproducible during KI retests. (Third week)

[2022-11-16 02:19] mvtglobally commented on #11951
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:19] mvtglobally commented on #12000
Issue not reproducible during KI retests. (Third week)

[2022-11-16 02:20] mvtglobally commented on #11800
Issue not reproducible during KI retests. (Second week)

[2022-11-16 02:20] mvtglobally commented on #11822
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:21] mvtglobally commented on #12123
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:21] mvtglobally commented on #12206
Issue not reproducible during KI retests. (Second week)

[2022-11-16 02:22] mvtglobally commented on #11809
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:23] mvtglobally commented on #12308
Issue not reproducible during KI retests. (Second week)

[2022-11-16 02:23] mvtglobally commented on #12451
Issue not reproducible during KI retests. (Second week)

[2022-11-16 02:23] mvtglobally commented on #12453
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:24] mvtglobally commented on #12205
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:24] mvtglobally commented on #12319
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:24] mvtglobally commented on #12480
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:24] mvtglobally commented on #12487
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:25] mvtglobally commented on #12542
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:25] mvtglobally commented on #12459
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:25] mvtglobally commented on #12600
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:26] mvtglobally commented on #12298
Issue not reproducible during KI retests. (First week)

[2022-11-16 02:30] mananjadhav commented on #12667
I went through @s77rt's proposal and it sounds like it'll work. We can go ahead with it. I am just a bit concerned if it would have any impact on the interactions on any other screen because `BaseOptionList` is used for a lot of screens. We can work that out in the tests.

@s77rt You might want to raise that in the channel.

@marcochavezf All yours.

🎀 👀 🎀 
C+ reviewed

[2022-11-16 02:36] mananjadhav commented on #11086
PR is being reviewed, @deetergp can you assign the job to @Pujan92 on the issue here?

[2022-11-16 02:42] hungvu193 commented on #12438
@michaelhaxhiu how do you guys think about this? Or we still keep the DeleteModal but only change the content when press `Delete`.

https://user-images.githubusercontent.com/16502320/202070464-a248f13d-6fa7-4f83-b3d6-1da8646b4e95.mov

[2022-11-16 02:42] sophiepintoraetz commented on #12711
CHecking [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1668566564869639).

[2022-11-16 02:43] amyevans commented on #12432
I have draft PRs up, but in testing beyond this exact use case, I've uncovered the same bug in a slightly different flow:
1. Request money from the big `+` button and choose someone with NO chat with you.
2. Cancel the money request.
3. Create another money request with that user.

My changes do not fix that issue, so it must be a slightly different root cause. I'm still investigating what exactly

[2022-11-16 02:47] yuwenmemon commented on #12713
All good :+1:

[2022-11-16 02:48] Christinadobrzyn commented on #12741
- Ah, I can replicate this as well! Good catch!
- I don't see any other GHs related to this issue
- This can be internal - adding the label to get some eyes on this!

[2022-11-16 02:53] hungvu193 commented on #12712
Makes sense, I think I need to implement `shouldComponentUpdate` to check that.

[2022-11-16 03:10] strepanier03 commented on #12715
I'll hold on hiring anyone until we have confirming that we're going to fix this and that the proposal is officially being accepted. Will check tomorrow.

[2022-11-16 03:11] strepanier03 commented on #12151
Will check tomorrow for an update.

[2022-11-16 03:13] strepanier03 commented on #11954
Update expected by end fo the week.

[2022-11-16 03:32] hungvu193 commented on #12712
@yuwenmemon
<b>Updated proposal</b>
I updated the `shouldComponentUpdate` and `componentDidUpdate` to avoid redundant render.

[code]
Result:
https://user-images.githubusercontent.com/16502320/202076907-9e4b5e03-be16-4f11-bb51-01cd896e33a6.mov

[2022-11-16 03:34] varshamb commented on #11914
@parasharrajat
We'll have to remove the Save button as a child of `OfflineWithFeedback` or we'll have to add conditional prop in `OfflineWithFeedback` which would make any child not to use the opacity when it has errors.

[2022-11-16 03:37] ctkochan22 commented on #10765
@advaitasol9 Bump to my question in the PR https://github.com/Expensify/App/pull/11752#issuecomment-1308201478

If you can help us reproduce it, it'll get the PR moving forward. Otherwise, I think we should close the issue and the PR

[2022-11-16 03:45] dhairyasenjaliya commented on #11354
sure let's get this PR done

[2022-11-16 03:52] Santhosh-Sellavel commented on #10765
@ctkochan22 Please follow the thread from [here](https://github.com/Expensify/App/issues/10765#issuecomment-1309772523), we are unable to reproduce. [Here](https://github.com/Expensify/App/issues/10765#issuecomment-1312736271) are the steps given by @advaitasol9, but still no luck for us, please give it a try, thanks!

[2022-11-16 04:13] conorpendergrast commented on #12120
@sobitneupane @MonilBhavsar So the first part of [this proposal](https://github.com/Expensify/App/issues/12120#issuecomment-1296888030) is not a go? Sorry, having trouble following!

[2022-11-16 04:22] sobitneupane commented on #12120
Yes, It is not. We are looking for proposal which solves issues for both type of messages (A and B) mentioned [here](https://github.com/Expensify/App/issues/12120#issuecomment-1305590364). The proposal only gives solution for type A message in https://github.com/Expensify/App/issues/12120#issuecomment-1305590364

[2022-11-16 04:29] conorpendergrast commented on #12392
Ok, great! So now we just... leave ourselves assigned, and this set to Daily, until.. what?

[2022-11-16 04:33] JmillsExpensify commented on #12692
For what it's worth, this is where I'm at. If we can't come up with a proposal without side-effects, then I think we should close this issue.

[2022-11-16 04:39] JmillsExpensify commented on #12704
Agree with @bfitzexpensify. This is not a bug, it's the design as this is not an API integration.

[2022-11-16 04:45] JmillsExpensify commented on #12706
Echoing my comment in the linked issue, I don't think this is a bug. It's our design. We take the front part of any given email (e.g. ABC123@acme.com) and use that to auto-name the workspace to ABC123. We can look into changing this in the future, though I think this is a feature request for now and we should close the issue.

[2022-11-16 05:04] ctkochan22 commented on #10765
@Santhosh-Sellavel thanks for clarifying. I'm still unable to reproduce. I'm not sure why.

Even so, the padding normal 4 out of 5 times. Why is it not normal the 5th time? [This PR](https://github.com/Expensify/App/pull/11752/files) is not a fix. It just covers up the actual bug.

[2022-11-16 05:05] JmillsExpensify commented on #12709
I just commented in the linked issue, so bringing my commentary here. The issue here is that this part of the app isn’t re-factored for offline yet. We are just getting to this refactor, though that hasn’t happened yet, so I wouldn’t consider this a bug. I think we should close this issue.

[2022-11-16 05:08] JmillsExpensify commented on #12711
Commented in Slack. I have a similar memory as @parasharrajat, though I can't remember the specifics other than this was a cross-platform implementation consideration.

[2022-11-16 05:10] JmillsExpensify commented on #11453
Still on hold Melvin.

[2022-11-16 05:11] JmillsExpensify commented on #11372
Still on hold Melvin

[2022-11-16 05:11] JmillsExpensify commented on #10939
Still on hold Melvin.

[2022-11-16 05:11] JmillsExpensify commented on #10506
Still on hold Melvin.

[2022-11-16 05:12] JmillsExpensify commented on #10273
Vast majority still awaiting proposals. I floated this one with Margelo and also highlighted in the weekly update.

[2022-11-16 05:14] JmillsExpensify commented on #7270
It's a fair question. One thing that worries me about it is that I'm also able to get this in testing pretty easily. This is also a core flow for setting up reimbursement and card, so my gut is that we should fix it again rather than hold out on Onfido's APIs. The HL was just shared, so it's still a decent ways out.

[2022-11-16 05:15] JmillsExpensify commented on #5536
Still not really a priority. With the focus on bugs, I think we should also de-prioritize this for now. I switched out `weekly` for `monthly`.

[2022-11-16 05:25] JmillsExpensify commented on #12717
Looking at the video, it looks like the bug is more accurately that we're showing a blank list while loading, rather than persisting a spinner while that same list is being loaded. In fact, the results show up at the end of that video, right?

[2022-11-16 05:26] JmillsExpensify commented on #12719
Re-applied the bug label, as Matt is OOO.

[2022-11-16 05:45] MonilBhavsar commented on #12151
Sorry missed this.
Default rooms include - Workspace room, #admins, #announce and domain default group. In this specific issue, I think we'll be taking into account Workspace room, #admins and #announce as they are related to a Workspace

[2022-11-16 06:51] OSBotify commented on #12753
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12754) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.28-1` :rocket:

[2022-11-16 06:56] Puneet-here commented on #12709
@JmillsExpensify, I think it was already refactored because changing profile details works offline.

[2022-11-16 07:01] conorpendergrast commented on #12120
Thanks so much, I appreciate it! I'll bump up the price to $500 give that it's been more than a week without an accepted solution

[2022-11-16 07:03] kadiealexander commented on #12668
Sounds good, thank you!

[2022-11-16 07:04] kadiealexander commented on #12592
Reproduced here: https://expensify.slack.com/archives/C01GTK53T8Q/p1668409849644459?thread_ts=1668402566.426039&cid=C01GTK53T8Q

[2022-11-16 07:06] kadiealexander commented on #12592
https://www.upwork.com/ab/applicants/1592776010907643904/job-details
https://www.upwork.com/jobs/~015b48fd1ba383cdca

[2022-11-16 07:36] thesahindia commented on #9408
@tjferriss, I have applied to the job for the reporting compensation that was missed earlier. https://github.com/Expensify/App/issues/9408#issuecomment-1292657945

[2022-11-16 07:36] ctkochan22 commented on #11522
Got some bandwidth to this over this week. Going to follow up with the last person who worked/introduced `includePersonalDetails`.

Slack [link](https://expensify.slack.com/archives/C01GTK53T8Q/p1666826953647119?thread_ts=1664399150.196209&cid=C01GTK53T8Q) for transparency. Verdict was that this is very low priority

[2022-11-16 07:48] hungvu193 commented on #12719
<b>Proposal</b>
This is known issue with the TextInput's defaultValue prop, that the defaultValue will not update when the props changed. When we already logged in then navigate to ProfilePage, we already had the user personal detail information needed for the TextInput. But when we redirect it right after logged in like in this issue, it will take some time to load the current user personal detai

[2022-11-16 08:12] OSBotify commented on #12753
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.28-1 has been deployed to staging :tada:

[2022-11-16 08:39] hellohublot commented on #11854
Hi. I have created a PR: https://github.com/Expensify/App/pull/12765, please help me to check

[2022-11-16 08:57] Gonals commented on #10525
Coolio! I didn't feel the increase in size of the key was worrisome, but I wanted to double-check with the team just in case!

[2022-11-16 08:58] Gonals commented on #10525
I think we are good. I didn't expect them to be concerns (the increase in size of the key is linear, after all), but wanted to double check with the team in case I was missing something. I have been reassured 😁

[2022-11-16 08:59] flodnv commented on #11398
This feels more and more like a feature request, I don't think it's a bug IMO -- much less a WAQ bug, cc @JmillsExpensify

[2022-11-16 09:05] techievivek commented on #11346
The PR is on production, we can issue the payment once the regression period is over.

[2022-11-16 09:16] mountiny commented on #12731
@mananjadhav sorry, Flavia has been ooo Monday and Tuesday, should have checked that. She should be back today

[2022-11-16 09:20] lbaldy commented on #4733
@MitchExpensify  I still haven't found a proper solution to fix Android. I think I have iOS sorted in and out, but Android is still pending for some edge cases. I think I know where the problem comes from, but still trying to find the least impactful fix.

The items aren't rendered properly on Android because of two things I identified so far.

1. Android has to pass in the container width otherwi

[2022-11-16 09:28] dylanexpensify commented on #11948
not overdue - moving to weekly

[2022-11-16 09:28] dylanexpensify commented on #9848
let's double

[2022-11-16 09:29] dylanexpensify commented on #12203
not overdue

[2022-11-16 09:44] mountiny commented on #11854
PR is in a review.

[2022-11-16 09:45] Julesssss commented on #11463
I'm going to hold this one temporarily, as we already have spent some time working on a custom KeyboardAvoidingView component internally. Thanks for your patience here.

CC @tgolen for when you return from OOO

[2022-11-16 09:46] flaviadefaria commented on #12731
Internal post - https://www.upwork.com/ab/applicants/1592815895728955392/job-details
External post - https://www.upwork.com/jobs/~018dcdf3bf43a9755f

[2022-11-16 09:47] flaviadefaria commented on #12731
@mananjadhav can you please apply to the job using the external link above? Thanks!

[2022-11-16 09:55] hammad-6304 commented on #11463
@Julesssss Thanks for the update.

Can you please confirm me, is there any further actions for me on this proposal and solution?
What should i have to do next?
Can i have an invitation to be the part of community eg: Slack internal groups and stackoverflow community?

Thanks, eagerly waiting for the humble response from your side.

CC @mananjadhav  @flodnv @JmillsExpensify

[2022-11-16 09:55] thesahindia commented on #12706
C/P my comment from slack here-

I did some research and I am sure this is a bug. We are getting lastActorDetails from personalDetailMap ( which is accessing report.participants ) if the lastActorDetails is available we prefix the last message with email at LHN if it's not available we will only see the message (without email as prefix) This logic works correctly for group chats because report.par

[2022-11-16 10:07] mountiny commented on #12438
@hungvu193 I think there should still be just the `Delete` button first and then we should the `Are you sure` message. But in the same modal so it wont flicker.

[2022-11-16 10:14] mountiny commented on #8235
It is technically, yes.

[2022-11-16 10:17] techievivek commented on #8589
Sorry couldn't look into it, I am working on few App issues so I will be able to test this.

[2022-11-16 10:19] Julesssss commented on #11916
@joekaufmanexpensify I'm 80% sure that it won't be, I just meant that there is a chance that my PR doesn't fix the issue. So until it has been merged we should hold on any unassignments.

[2022-11-16 10:31] flodnv commented on #8235
Hm? This PR did not introduce the 50MB...
<img width="407" alt="image" src="https://user-images.githubusercontent.com/4164921/202156899-5de6388f-9575-4388-a62b-a00539aeb5f0.png">

[2022-11-16 10:31] hungvu193 commented on #12438
@mountiny Cool, It's clear now, I'm working on it.

[2022-11-16 10:32] mananjadhav commented on #11336
@dylanexpensify This is pending with me, I am currently testing it.

[2022-11-16 10:33] mountiny commented on #8235
:ohnothing:

[2022-11-16 10:37] mountiny commented on #8235
This is the PR which introduced it https://github.com/Expensify/App/pull/4269/files, back in bronze age I believe, judging based off the number of annual rings.

[2022-11-16 10:42] Emz27 commented on #12712
### Proposal
- initially render both placeholder and user image. User avatar on top of the placeholder that acts as an overlay with transparent background so that the placeholder can be seen while the user avatar is still loading .Set userAvatarLoaded state on load of user avatar and this state will determine if we need to unmount the placeholder.

I suggest that we dont unmount the user avatar or

[2022-11-16 10:44] Julesssss commented on #8236
@aneequeahmad your proposal is not clear, as pointing to native code doesn't explain how we will apply changes to our codebase (especially the RN parts). Additionally, the library we're using [already implements](https://github.com/zoontek/react-native-bootsplash/releases/tag/4.3.0) the new Android splash screen library. So this isn't a valid solution.

The solution I'm working on simply requires

[2022-11-16 11:00] hungvu193 commented on #12438
<b>Updated Proposal</b>
I combined the `ConfirmPopover` and `DeleteModal`, I added a state `showConfirmDeleteContent` to decide showing DeleteModal content or ConfirmPopover content, with this approach we don't need the ConfirmPopover anymore.
[code]

I was running both android ios and web so the demo looked a little bit slow 😂
https://user-images.githubusercontent.com/16502320/202162747-10312c90-

[2022-11-16 11:05] MonilBhavsar commented on #12075
@michaelhaxhiu Please join https://expensify.slack.com/archives/C03U7DCU4/p1668596349084729

[2022-11-16 11:10] Julesssss commented on #10091
No. This has always existed.

[2022-11-16 11:11] parasharrajat commented on #7375
No idea, I am expecting a solution via proposals.

1. How will you reduce the delay that is taken for the menu to open?
2. There is a small flicker when we open attachment menu on composer, how will you solve it?

[2022-11-16 11:13] Julesssss commented on #10091
W could add a new test:
- Sign out, close, and re-open the app
- The splash screen icon should remain static (provided the device screen hight does not also change)
- The status bar colour should match the splash screen page
- Navigate through the app, opening additional pages
- The status bar colour should match the splash screen page

[2022-11-16 11:32] hammad-6304 commented on #11093
@MitchExpensify have this issue resolved or on hold atm or still accepting new proposals on it?

[2022-11-16 11:43] sketchydroide commented on #12639
I think this might be an automatic thing, but I tested the same behaviour on other apps (namely Whatsap) and this does not happen so it shouldn't happen to us as well.
Setting this as a External

[2022-11-16 11:46] Julesssss commented on #8236
I'm currently speaking with design, as the simplest fix is to stop using a different page background colour. The problem is that web/desktop kinda needs this to differentiate the LHN from chat.

[2022-11-16 11:59] MonilBhavsar commented on #12598
Upon investigation, looks like I'm not receiving Pusher event at all when report is not visible and there are some Pusher related errors in the log. I'll sort it out and update here

[2022-11-16 12:06] youssef-lr commented on #12459
On hold.

[2022-11-16 12:08] parasharrajat commented on #11093
Accepting proposals...

[2022-11-16 12:39] Pujan92 commented on #12741
I can see it is the intentional behavior from the code, on room name change we are applying the modifyRoomName function to replace space(' ') with underscore('_') and etc. As we are replacing the string on each keystroke cursor will moves to the end only.

https://github.com/Expensify/App/blob/652a51ac2bfbe3164b807dc5efaa4e0156ae0bdf/src/components/RoomNameInput.js#L59-L67

[2022-11-16 12:46] flaviadefaria commented on #12731
@mananjadhav I just paid you so closing this issue.

[2022-11-16 12:46] #12731 closed

[2022-11-16 13:13] laurenreidexpensify commented on #12026
Priced increased

[2022-11-16 13:15] michaelhaxhiu commented on #12205
That's good it's not reproducible this week. But this doesn't have a BZ assigned and it should 🤔 .

[2022-11-16 13:19] NicMendonca commented on #12760
Job posting: https://www.upwork.com/jobs/~01f438a60531a83517

[2022-11-16 13:29] s77rt commented on #12026
@laurenreidexpensify Too early to double I think.
My proposal has not been evaluated yet, waiting for @rushatgabhane update

[2022-11-16 13:30] davidcardoza commented on #12208
Price doubled to $500

[2022-11-16 13:34] sketchydroide commented on #11520
@iwiznia any update on the PHP upgrade and deploying this? 🙇🏼
Sorry to bring you in, but it's just easier to track that way

[2022-11-16 13:40] syedsaroshfarrukhdot commented on #12744
**Proposal** :-

We need to increase width to `100%` in `SkeletonViewLines.js` and pass styles.mr5 to `SkeletonViewContentLoader`

https://github.com/Expensify/App/blob/652a51ac2bfbe3164b807dc5efaa4e0156ae0bdf/src/components/ReportActionsSkeletonView/SkeletonViewLines.js#L18

Like This

     <SkeletonViewContentLoader
        height={CONST.CHAT_SKELETON_VIEW.HEIGHT_FOR_ROW_COUNT[props.numberOfRows

[2022-11-16 13:50] michaelhaxhiu commented on #11922
Hired, waiting on confirmation and then I'll pay it.

[2022-11-16 13:52] maddylewis commented on #11823
how are things looking here? @parasharrajat - are you able to provide an update? ty!

[2022-11-16 13:54] michaelhaxhiu commented on #12438
@hungvu193 thanks for the urgency 🙏

The demo looks good to my 👀s

 cc @sobitneupane for the C+ approval on the whole proposal though!

[2022-11-16 14:01] parasharrajat commented on #12744
@shawnborton Can you please review this issue?

[2022-11-16 14:01] parasharrajat commented on #11823
PR is in review.

[2022-11-16 14:04] michaelhaxhiu commented on #12266
@Someone-here are you still interested in solving this job? If so can you address @rushatgabhane's question about?

[2022-11-16 14:05] michaelhaxhiu commented on #12266
`Helped wanted` label was stripped away, re-adding that as this is still fair game for a winning proposal. @Someone-here has a proposal in the works but needs to address the latest question from @rushatgabhane.

[2022-11-16 14:07] puneetlath commented on #11671
@CortneyOfstad it feels like the current solution has stalled. Can you please double the price on this issue?

[2022-11-16 14:10] michaelhaxhiu commented on #8348
This could be a byproduct of https://github.com/Expensify/App/issues/12760

[2022-11-16 14:19] kavimuru commented on #11814
@greg-schroeder Tester is able to reproduce this bug today with newly created expensifail account. Tester said it's reproducible only after creating a new account and next day the crash does not happen.
Credentials : [applausetester+1611@applause.expensifail.com](mailto:applausetester+1611@applause.expensifail.com) / Yulia1986Gerets

https://user-images.githubusercontent.com/43996225/202204791-c85

[2022-11-16 14:21] abekkala commented on #9581
@mollfpr has been hired in Upwork

@Santhosh-Sellavel I still can not find your profile in Upwork in order to hire you

[2022-11-16 14:25] Julesssss commented on #11916
Oh sorry, I thought this was the **other** issue we are both assigned to 🤦

Yep.

[2022-11-16 14:27] CortneyOfstad commented on #11671
Can do!

[2022-11-16 14:29] Someone-here commented on #12266
Yes, @michaelhaxhiu I am still trying to solve this issue. I think I have figured out why you are using `isDrawerOpen` prop, for the chats menu on small screens and it works fine there. But the problem is that when the user once clicks on a chat from the menu in widescreen mode, it sometimes doesn't shift focus to the chat area and it thinks that the drawer is open on a small screen, causing this

[2022-11-16 14:30] AmanuelAsfaw commented on #11701
### Proposal

To get the Keyboard height and showing status using this higher order component [App/src/components/withKeyboardState.js](https://github.com/Expensify/App/blob/debeb86a0a1134c578331499a25bb9096b8dc8b0/src/components/withKeyboardState.js) and add some features on the [below line 8](https://github.com/Expensify/App/blob/debeb86a0a1134c578331499a25bb9096b8dc8b0/src/components/withKeyboa

[2022-11-16 14:30] kbecciv opened #12767 "Web - Chat - Only one file is uploaded when several together are dragged and dropped"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/ and login
2. Open any chat
3. Select several files in the folder and drag&drop them t

[2022-11-16 14:32] CortneyOfstad commented on #11671
Updated UpWork and shared in #Open-Source [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668609123219779) 👍

[2022-11-16 14:39] kbecciv opened #12768 "[$1000] Web- Chat - Markdown styles (Bold, Italic) are not retained if copy-paste message from draft"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/ and login
2. Open any chat
3. Copy message from Slack compose box with Bold and Itali

[2022-11-16 14:43] kbecciv opened #12769 "[HOLD for payment 2023-01-19] [$250] Web - Chat - Additional lines appear when pasting as plain text message with links"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/ and login
2. Open any chat
3. Copy any message with links and paste it as plain text

[2022-11-16 14:48] kbecciv opened #12770 "[Regression #12066] Manage members - When removing a user offline from workspace, user is not crossed out"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into a valid account
3. Tap on Profile > Workspace > Manage Members
4. Invite any use

[2022-11-16 14:55] kavimuru opened #12772 "[HOLD for payment 2023-01-05] [$4000] Emoji Picker list jumps while scrolling through arrow keys reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login to the app on web.
2. Navigate to any report.
3. Open the Emoji Picker.
4. User down arrow key to scroll the list until

[2022-11-16 15:00] melvin-bot[bot] opened #12773 "[$250] Investigate: 💥 Crash 💥 `.getSearchText`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### undefined is not a function
### `address at index.android.bundle:1:2024577` `.getSearchText`
### Number of Crashes: 2

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.28-1`
* **Devices:** realme RMX2001 11

[2022-11-16 15:02] s77rt commented on #11970
### Proposal
[code]

### Details
The issue is more like a bug in Safari I suppose. The swipe gesture in Safari will trigger the browser back functionality. On chrome the browser back functionality also closes the keyboad. On Safari you have to do it yourself. Building on that we can simply call Keyboard.dismiss() on navigation change and since I see no case where the keyboard should stay open afte

[2022-11-16 15:03] tgolen commented on #11463
I've read through this issue and taken some of the proposals into account, but I do not think we should fix this in our codebase. We should absolutely be fixing this in the upstream repos and it will not only make the react-native-web lib better for us, but for everyone else using it. This bug isn't so bad that we need any kind of temporary hack or work around in our codebase.

[2022-11-16 15:04] laurenreidexpensify commented on #10654
Checking where to put this in testrail https://expensify.slack.com/archives/C01SKUP7QR0/p1668611021810339

[2022-11-16 15:06] lschurr commented on #12298
Hey @Santhosh-Sellavel - Does this have relevant proposals? Is [the PR](https://github.com/Expensify/App/pull/12632) that @AndreasBBS put up related?

[2022-11-16 15:08] laurenreidexpensify commented on #11341
@mvtglobally it's a little confusing, but the issue is no longer what the original report was 😅 I believe @Beamanator has updated this now to reflect this.

[2022-11-16 15:13] laurenreidexpensify commented on #11512
Oh this was deployed to prod 8 days ago but for some reason the automation failed to flag it https://github.com/Expensify/App/pull/12279. Updating now.

[2022-11-16 15:15] laurenreidexpensify commented on #11512
BugZero Checklist: The PR fixing this issue has been merged! The following checklist will need to be completed before the issue can be closed:

- [ ] [@puneetlath @mananjadhav] The PR that introduced the bug has been identified. Link to the PR:
- [ ] [@puneetlath @mananjadhav] The offending PR has been commented on, pointing out the bug it caused and why, so the author and reviewers can learn from

[2022-11-16 15:20] laurenreidexpensify commented on #12025
Updated BugZero Checklist: The PR fixing this issue has been merged! The following checklist ([instructions](https://stackoverflow.com/c/expensify/questions/14574)) will need to be completed before the issue can be closed:

- [ ] [@chiragsalian @rushatgabhane] The PR that introduced the bug has been identified. Link to the PR:
- [ ] [@chiragsalian @rushatgabhane] The offending PR has been commente

[2022-11-16 15:22] cowboycito commented on #10893
@michaelhaxhiu sorry I didn't notice that @Santhosh-Sellavel had posted a message here.
So about statement 1 that's exactly how Slack and Zoom do, and there's no other way to check if the desktop app is installed on the user's computer, so I'm afraid we have no other way to do that.
And about statement 2, I'll do some digging tonight to check if I'm able to replicate the issue and will post an upd

[2022-11-16 15:22] laurenreidexpensify commented on #12066
Updated BugZero Checklist: The PR fixing this issue has been merged! The following checklist (instructions) will need to be completed before the issue can be closed:

- [ ] [@srikarparsi @sobitneupane] The PR that introduced the bug has been identified. Link to the PR:
- [ ] [@srikarparsi @sobitneupane] The offending PR has been commented on, pointing out the bug it caused and why, so the author a

[2022-11-16 15:26] bondydaa commented on #11057
Spoke with @JmillsExpensify we're actually just going to close this. We are in the process of removing passwords all together from the platform so this view/page will be removed entirely sooner rather than later anyways.

[2022-11-16 15:26] #11057 closed

[2022-11-16 15:27] laurenreidexpensify commented on #11146
As per this update, am closing this issue out.
![2022-11-16_15-25-51](https://user-images.githubusercontent.com/62073721/202221971-492c7aa9-c20c-4ddf-b282-4175cee68c54.png)

[2022-11-16 15:27] #11146 closed

[2022-11-16 15:27] lschurr commented on #11892
@Ollyws and @rushatgabhane have been paid! Closing.

[2022-11-16 15:27] #11892 closed

[2022-11-16 15:29] laurenreidexpensify commented on #12506
Updated BugZero Checklist: The PR fixing this issue has been merged! The following [checklist instructions](https://stackoverflow.com/c/expensify/questions/14574) will need to be completed before the issue can be closed:

- [ ] [@chiragsalian @rushatgabhane] The PR that introduced the bug has been identified. Link to the PR:
- [ ] [@chiragsalian @rushatgabhane] The offending PR has been commented

[2022-11-16 15:29] JmillsExpensify commented on #11057
Yes, thank you so much @bondydaa for raising this. Apologies I missed this myself when taking over the issue. 🙏🏼

[2022-11-16 15:34] puneetlath commented on #12501
Hm, I believe with 1:1:1 this should automatically update on all devices. The flow should be similar to this:

<img width="800" alt="image" src="https://user-images.githubusercontent.com/1371996/202223860-cb60ba29-d3d6-4a35-ae79-0f26254f4c9f.png">

So in theory for this flow it should be:
1. User adds paypal.me
2. We optimistically show that in the UI
3. Send the API call to store it
4. Server pus

[2022-11-16 15:38] kbecciv opened #12774 "Invite member - Profile icons in Manage Members are greyed out when accessed in offline mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into a valid account
3. Tap on Profile > Workspace > Manage Members
4. Disable intern

[2022-11-16 15:38] tgolen commented on #12480
Hi all, due to the work I did in https://github.com/Expensify/App/pull/11586, which probably forced a regression in this area, please don't hold any regressions against the contributor.

[2022-11-16 15:39] michaelhaxhiu commented on #11083
I'm waiting to proceed with hiring @railway17 until @Luke9389 has had a chance to give his approval too.

[2022-11-16 15:39] wildan-m commented on #11851
# Proposal

### Root Cause

By default, [`react-native-web` add `translateZ:0` to `ScrollView` element](https://github.com/necolas/react-native-web/blob/80ef32f6eea4a7950c07b1ea71b45b5c2b0269ee/packages/react-native-web/src/exports/ScrollView/index.js#L311-L314)

This line of code is used to optimize the scroll performance by [tricking the browser to use GPU for transition and animation](https://s

[2022-11-16 15:43] JmillsExpensify opened #12775 "[Tracking] "Replay effect" when sequential actions are taken offline, and user subsequently comes online"
### Problem
With Pattern B, offline creation events trigger a "pending" action that clears when the app comes back online. Similarly for deleting or removing content, a "strikethrough" action appears while offline and clears when the app comes back online. The pickle is that if a user takes a creation and deletion action while offline – whether that be uploading/removing an attachment, sending/del

[2022-11-16 15:44] JmillsExpensify commented on #12743
Putting this issue on hold for the time being. Please see [tracking issue](https://github.com/Expensify/App/issues/12775) for more context.

[2022-11-16 15:44] kbecciv opened #12776 "[Hold for Payment: 2022-12-09] [$250] LHN - Opening <EXPENSIFY_URL>/concierge, system redirected to LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR** https://github.com/Expensify/App/pull/12588

## Action Performed:
1. Go to URL https://staging.new.expensify.com

[2022-11-16 15:48] Santhosh-Sellavel commented on #12298
No Its not related!

[2022-11-16 15:49] Santhosh-Sellavel commented on #12298
We have some investigation, but not a complete proposal!

[2022-11-16 15:49] dylanexpensify commented on #10767
@andrewlor just paid you out! @rushatgabhane offer is waiting to be accepted!

[2022-11-16 15:49] michaelhaxhiu commented on #11132
The verdict from the thread that @srikarparsi started is that this will remain on [hold] until the following is finalized:

[2022-11-16 15:50] laurenreidexpensify commented on #11488
Yes sorry Copy Pasta 🍝 mistake 🤦‍♀️

[2022-11-16 15:52] kbecciv opened #12777 "[$250] Attachment -The image can be dragged by moving the cursor outside the image"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12226

## Action Performed:
1. Open the App
2. Login with any account
3. Go to

[2022-11-16 15:56] alexpensify commented on #12205
@michaelhaxhiu - I'm confused with this one. Do I need to create a job in Upwork? I see it's internal, so I don't think creating a job is the right step. Any feedback will help!

[2022-11-16 16:02] abekkala commented on #11822
Can you identify the PR that caused this bug? and link it here?

[2022-11-16 16:04] flodnv commented on #11463
Agreed, we will only accept proposals that fix this upstream. Taking this off hold. Thanks!

[2022-11-16 16:07] dinodev0101 opened #12778 "Installing Issue"
While installing node modules via npm install, it has been stopped.
Stuck at installing..

[2022-11-16 16:07] #12778 closed

[2022-11-16 16:10] kbecciv opened #12779 "[$1000] IOU - Total amount is changed if user is canceling the amount in USD (first request)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR** https://github.com/Expensify/App/pull/12488

## Action Performed:
1. Launch the app
2. Log in with any account
3

[2022-11-16 16:12] dylanexpensify commented on #10767
Rushat payment sent! All done here!

[2022-11-16 16:14] dinodev0101 commented on #12778
could you please invite me to your Slack channel?
dinodev0101@gmail.com

[2022-11-16 16:17] Dima-Kevanishvili commented on #12713
To update the status here:
I have the fix ready, I'm just waiting for slack invite email response in order to test the fix out with a High Traffic Account as instructed in the contributing guidelines and I'll open the PR.
I'm also waiting for the Upwork job link to apply, but as instructed I will move forward and make the PR without it if the slack invite comes first.

[2022-11-16 16:22] aitoraznar commented on #7375
Hi @parasharrajat.

About your questions:
1. How will you reduce the delay that is taken for the menu to open?

2. There is a small flicker when we open attachment menu on composer, how will you solve it?

Updated video
https://user-images.githubusercontent.com/2470879/202235862-3834ee90-3eae-4fb9-9645-6d2b7dbbc201.mp4

Many thanks

[2022-11-16 16:23] hannojg commented on #11321
Update: I am still looking for a fix within the react-native source code. I don't think it's an android native bug, as I am unable to reproduce the issue just using android native.

[2022-11-16 16:27] Gonals commented on #10525
I still have some cleanup left to do, but I think it is worth taking a look at [my PR](https://github.com/Expensify/App/pull/12780).

This change, while it gets rid of the key, implies that most times we check the `Report` key for chat Reports, we need to make sure we filter out the IOUs. Are we happy with that?

[2022-11-16 16:33] kbecciv opened #12781 "IOU - Pay button is visible for a moment after cancel requested amount."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12488

## Action Performed:
1. Launch the app
2. Log in with any account
3. Se

[2022-11-16 16:35] Andruso commented on #12542
@mvtglobally It's still reproducible in live and dev - you need to change the unit very fast ( <1sec) after last change to the rate. Additionally, it's easier to reproduce on Firefox which seems slower: [Loom](https://www.loom.com/share/f5cfd80cfe7e4fb08c37e1bc7c175e2f)

[2022-11-16 16:38] furkanuzundev commented on #11822
@abekkala https://github.com/Expensify/App/pull/12426

[2022-11-16 16:41] kavimuru opened #12782 "Chat temporarily disappears in LHN when last message is updated to "0""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Actions Performed:

1. Go to any chat
2. Send any message
3. Edit the message to just "0"
4. Save changes

## Expected Result:
0 is displayed on LH

[2022-11-16 16:49] kavimuru opened #12783 "Line break is removed when edit the quoted text reported by @0xmiroslav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login with any account
2. Go to any chat room
3. Type and send this message:
Test1
```Test2```
Test3
4. Click Edit icon from

[2022-11-16 16:59] parasharrajat commented on #7375
0.27 on the first video. It takes a bit of time to open as the measure takes time to resolve and it is async.

[2022-11-16 17:01] eVoloshchak commented on #11354
That means we lose the current behavior where the user is pressing enter while having nothing focused and the attachment is sent, correct?

[2022-11-16 17:02] kavimuru opened #12784 "[HOLD] [$250] Blockquote markdown is inconsistent between platforms reported by @0xmiroslav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login with any account on iOS app
2. Go to any chat room
3. Type and send this message: ( Leave a blank line in between "Test

[2022-11-16 17:02] varshamb commented on #12741
@thienlnam @Santhosh-Sellavel
Is there any specific reason for not allowing Room Name with `space`?

[2022-11-16 17:06] dangrous commented on #12198
Agreed, this does seem to work but I have no idea why haha. We should definitely figure out what's going on to make sure we understand it!

[2022-11-16 17:09] michaelhaxhiu commented on #12198
Can we post this in Slack and get visibility on it? Maybe in #contributor-plus or #expensify-bugs?

[2022-11-16 17:11] Andruso commented on #12542
@parasharrajat I agree with the root cause given by @Delgee [above](https://github.com/Expensify/App/issues/12542#issuecomment-1310652966):

It should not be an issue in normal cases since the server will respond before human input. But there is a debouncer with 1 second added to the "rate" Input so it gives the "unit change" selectbox 1 second of a headstart.

Also I think that the most simple fi

[2022-11-16 17:19] michaelhaxhiu commented on #9391
Awaiting you both to final accept, then I can pay 👍

[2022-11-16 17:21] eVoloshchak commented on #11695
@jayeshmangwani's [proposal](https://github.com/Expensify/App/issues/11695#issuecomment-1311334665) is great, using FlatList's header prop is the best approach we could take imo

With this change, we'd lose sticky header behavior for the amount, but that's the **expected result** I suppose?

Before:

https://user-images.githubusercontent.com/9059945/202249368-1f3d66a3-b4d8-4aaf-bb32-0473beb0460e.m

[2022-11-16 17:22] roryabraham commented on #12760
Sorry for the miscommunication, but @NicMendonca we should never make hourly deploy blockers external. They need to be treated with more urgency than our contributing process allows for

[2022-11-16 17:24] kavimuru opened #12786 "Seeing grey avatar for a brief moment when inviting a new user reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to settings > Workspaces
2. Select a workspace
3. Click on manage members
4. Click invite
5. Search a new user
6. Se

[2022-11-16 17:24] roryabraham commented on #12760
It was indeed a regression caused in https://github.com/Expensify/App/pull/12334 (works in dev, but not release mode). @vladamx stepped up to fix it proactively because it was a correction of his implementation of https://github.com/Expensify/App/issues/12234

[2022-11-16 17:27] mananjadhav commented on #9391
Done @michaelhaxhiu

[2022-11-16 17:28] mollfpr commented on #9391
Accepted @michaelhaxhiu

[2022-11-16 17:34] aldo-expensify commented on #12327
No overdue, the PR was merged yesterday

[2022-11-16 17:36] Delgee commented on #12542
Yes, I'm still interested in solving this issue.

[2022-11-16 17:37] Beamanator commented on #11341
Yes exactly, sorry for the confusion @mvtglobally - I think we don't need to try to reproduce the original bug anymore, but we'll need to test the bug doesn't reappear once the "refactor" code gets merged 👍

[2022-11-16 17:37] roryabraham commented on #12234
@aimane-chnaif is correct that the solution for this caused a regression in staging.

[2022-11-16 17:39] eVoloshchak commented on #11735
@Ollyws's proposal is good, resolves the current issue, URL's are highlighted when triple-clicking a DM.

I think that's the expected behavior

However, it introduces a new bug when copying a fully selected message to a clipboard. If you triple-click a DM and then press Cmd+C, it seems to append the concierge welcome message to the selected message

https://user-images.githubusercontent.com/905994

[2022-11-16 17:41] eVoloshchak commented on #11801
Applied ✅

[2022-11-16 17:46] michaelhaxhiu commented on #9391
Both paid, closing.

[2022-11-16 17:46] #9391 closed

[2022-11-16 17:48] eVoloshchak commented on #12018
@Someone-here's proposal looks good to me. But I still feel like we should try to achieve the same behavior on different platforms. We try to avoid using `setTimeOut` unless absolutely necessary, is there another way to make it work?

[2022-11-16 17:50] eVoloshchak commented on #12151
@MonilBhavsar, thank you!

In that case `Solution 1` of @tienifr's [proposal](https://github.com/Expensify/App/issues/12151#issuecomment-1311445242) looks good to me
🎀👀🎀 C+ reviewed!

[2022-11-16 17:51] parasharrajat commented on #12542
This one is an interesting issue. I don't have much knowledge of the backend.

A possible solution might be to debounce the Unit Api request so that there is some gap between both requests.

Another solution might be to combine the requests. The second one looks good but requires backend changes.

Both of them are mentioned in https://github.com/Expensify/App/issues/12542#issuecomment-1310652966.

[2022-11-16 17:54] eVoloshchak commented on #12156
Not overdue, waiting for proposals

[2022-11-16 17:54] Someone-here commented on #12018
I tried all the lifecycle hooks and component events, unfortunately none of them execute after `secureEntryText` is changed. So in order to execute a function after that, we will have to use `setTimeout`. But it very reliable and not very noticeable as the delay would be set to 0ms.

[2022-11-16 17:54] yuwenmemon commented on #12712
Thanks, @parasharrajat - Agreed. Assigning @hungvu193

[2022-11-16 18:00] aldo-expensify commented on #12567
The update of the manual test to include this case is done (https://github.com/Expensify/Expensify/issues/241841).

[2022-11-16 18:03] Beamanator commented on #12616
I think this is a good point, it definitely looks like the loading time is very brief - maaaybe a bit longer if the user is on very slow network connection 🤷

I like the idea of making a mini skeleton UI just for avatar & name of the workspace, OR trying to make the modal not open at all until the data in Onyx is ready to be rendered. Also interested to hear other people's opinions on this :D

[2022-11-16 18:07] Santhosh-Sellavel commented on #12198
Ya please go ahead if you haven't @michaelhaxhiu!

[2022-11-16 18:09] Santhosh-Sellavel commented on #12741
I guess the room name should single word

[2022-11-16 18:11] lschurr commented on #12298
Great, going to double the price.

[2022-11-16 18:11] chiragsalian commented on #11266
This [PR](https://github.com/Expensify/Web-Expensify/pull/35386) went live 8 days back. I'm going to close the issue again since if it persists it will reopen anyway.

[2022-11-16 18:12] francoisl commented on #12600
Hm interesting, I can still reproduce on the latest `main`. Anyway, made some progress yesterday trying to use state to manage the value of the inputs, but I was still having a hard time with the value of the input resetting itself when you want to edit it. Will keep playing around today!

[2022-11-16 18:13] eVoloshchak commented on #12246
Wasn't able to find this task in OldDot, asking in [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1668622366210179)

[2022-11-16 18:14] JmillsExpensify commented on #11463
Reiterating for emphasis for the clarity of future contributors! We're only looking for proposals that will address upstream fixes to `KeyboardAvoidingView`. Thank you!

[2022-11-16 18:15] JmillsExpensify commented on #12784
Not sure why the Bug label didn't auto-assigned. Re-applied so that we get an assignment.

[2022-11-16 18:16] puneetlath commented on #12378
I think you're right. Thanks for finding that.

And in general, we really appreciate the bug reports @Puneet-here! Keep em coming! 🙏🏾

[2022-11-16 18:17] lschurr commented on #12567
@thesahindia has been paid in Upwork. I believe we can close!

[2022-11-16 18:17] #12567 closed

[2022-11-16 18:18] JmillsExpensify commented on #9578
Nice, I also wanted to clarify that this issue has become a WAQ initiative, as refactoring these forms helps address bug reports we're receiving in this part of the product.

[2022-11-16 18:18] michaelhaxhiu commented on #12198
Ah let me clarify.... @mollfpr are you able to explain a little more on **why** the proposed solution of changing the padding-top works? If not, you post this solution in #expensify-bugs and get more eyes? If we can justify it, you'll be eligible to get the job and the bounty :)

[2022-11-16 18:19] eVoloshchak commented on #12650
I feel like this can cause a lot of regressions, agree with @flodnv
I think we should try to resolve the root cause of the issue, why is this happening only on mWeb Android, is there a chance we could fix this in `react-native-web`?

[2022-11-16 18:19] JmillsExpensify commented on #9580
Quick note that this is a WhatsApp Quality initiative, as standardizing these forms helps us get a handle on related bugs.

[2022-11-16 18:21] thesahindia commented on #11735
That's an already known bug which we are handing at https://github.com/Expensify/App/pull/12730

[2022-11-16 18:22] JmillsExpensify commented on #9581
Special note: Please treat this issue with urgency, as it's a headline initiative in our product roadmap at the moment. Standardizing our approach here will help us get a handle on related bugs. Thanks!

[2022-11-16 18:24] Santhosh-Sellavel commented on #9581
@mollfpr We are on a clock here, if get it merged by tomorrow we are eligible for a bonus!

[2022-11-16 18:25] JmillsExpensify commented on #10729
@Santhosh-Sellavel @neil-marcellini The regression period has passed. At this point, this PR is merged and IndentityForm is done. What's our plan for testing this in conjunction with related issues? Should that happen in a separate issue when https://github.com/Expensify/App/issues/12400 and https://github.com/Expensify/App/issues/9581 are ready?

[2022-11-16 18:27] roryabraham commented on #12760
https://github.com/Expensify/App/pull/12785 merged and CPing

[2022-11-16 18:27] JmillsExpensify commented on #11341
Great clarification. We should add this to the OP somewhere for clarity.

[2022-11-16 18:28] Santhosh-Sellavel commented on #10729
@JmillsExpensify When #9581 is ready, this should work!

[2022-11-16 18:28] roryabraham commented on #12760
We should leave this open for a bit ... I need to do the BugZero checklist steps above ^

[2022-11-16 18:28] roryabraham commented on #12753
A fix for https://github.com/Expensify/App/issues/12760 is being CP'd to staging presently

[2022-11-16 18:29] mollfpr commented on #9581
@Santhosh-Sellavel On it! Need to finish some of the recordings.

[2022-11-16 18:33] MitchExpensify commented on #12152
Doubled! - [Upwork Job](https://www.upwork.com/jobs/~01ac995a6c8a8d30be)

[2022-11-16 18:35] OSBotify commented on #12753
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12785) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.28-2` :rocket:

[2022-11-16 18:38] Santhosh-Sellavel commented on #8791
~why do we have~  why the "open app banner" at the top of the page?

Please read [this](https://github.com/Expensify/App/issues/8791#issuecomment-1160760539)

Cc: @JmillsExpensify

[2022-11-16 18:38] Santhosh-Sellavel commented on #10614
@Gonals bump on [this](https://github.com/Expensify/App/issues/10614#issuecomment-1313755850)

[2022-11-16 18:39] Beamanator commented on #7270
I'm going to unassign b/c @MariaHCD is also assigned here & she worked on this before I believe - & I'm going OOO for a few days

[2022-11-16 18:41] MitchExpensify commented on #11423
Thats fair. @MonilBhavsar / @rushatgabhane mind tracking that down and [linking here](https://github.com/Expensify/App/issues/11423#issuecomment-1310214192)?

[2022-11-16 18:42] aldo-expensify commented on #12600
@francoisl not sure if I'm missing something, but I believe a decision has not been made on if we want to solve this for forms or not: https://github.com/Expensify/App/issues/12243#issuecomment-1315749821

I think it makes sense to make a slack discussion on it, but I think that has not happened yet.

If this doesn't have relation with what you are doing here, please ignore :P

[2022-11-16 18:42] MitchExpensify commented on #11423
Made a note on my cal to pay on 11/22

[2022-11-16 18:43] #12684 closed

[2022-11-16 18:45] trjExpensify commented on #12745
@fedirjh are you interested in taking point on this issue?

Also, sounds like we have another firefox issue being reported [here](https://expensify.slack.com/archives/C049HHMV9SM/p1668612572582969), this time on mWeb. I've tagged you all for thoughts. If the root cause is the same, let's combine and increase the bounty for tackling both :)

[2022-11-16 18:46] marcaaron commented on #12542
Before diving into the race condition conversation... I'm a little confused about this feature and how it got implemented like this in the first place and why it was not implemented using our [form guidelines](https://github.com/Expensify/App/blob/main/contributingGuides/FORMS.md).

Why are we using a debounce on this input to save the rate when every other form in our app does not work this way..

[2022-11-16 18:47] mollfpr commented on #12521
Need more time...

[2022-11-16 18:48] puneetlath commented on #10622
Checklist completed. Everyone paid.

Thanks for your contributions everyone!

[2022-11-16 18:48] #10622 closed

[2022-11-16 18:49] peterklamka commented on #12158
###Proposal

###Solution:

I added below code after SidebarUtils.js Line253
https://github.com/Expensify/App/blob/main/src/libs/SidebarUtils.js#L250-L253

`if(lastMessageText === '' || lastMessageTextFromReport === '')
        lastMessageText = report.oldPolicyName;`

###Video
https://user-images.githubusercontent.com/118206313/202266374-70c9c122-cf93-4d2b-ad5c-de3aeff11413.mp4

[2022-11-16 18:49] JmillsExpensify commented on #12600
Ah @aldo-expensify beat me to it. I just came here from the #whatsnext update. I think if we solve this, we should be solving for it everywhere. I don't think we should move forward with a solution that solves it in just one place.

[2022-11-16 18:57] puneetlath commented on #11512
@mananjadhav any luck with the offending PR?

[2022-11-16 18:58] maddylewis commented on #12043
@marcaaron - could you confirm if this issue falls into the recent announcement about [freezing any GH reports that relate to keyboard navigation or accessibility](https://expensify.slack.com/archives/C01GTK53T8Q/p1668604822482759)?

[2022-11-16 18:58] trjExpensify commented on #12542
Did we have the form guidelines back in Nov 2021 a year ago? Either way, [this is a dupe](https://github.com/Expensify/App/issues/12451) of this `internal` issue that @jasperhuangg is working on after the API refactors, isn't it?

[2022-11-16 19:00] aitoraznar commented on #7375
Hi. The button works fine with the last changes.

*Proposal*
- Change the modal type from "BOTTOM_DOCKER" to "POPOVER" for medium/large native devices
- Implement "getClickedTargetLocation" method for native devices
- Position the "Message Context Options" popup
- Position the "Add attachment" popup
- Position the "Add Payment Options" popup
- Position the "Avatar photo " popup for Workspace & Use

[2022-11-16 19:02] #11822 closed

[2022-11-16 19:03] joekaufmanexpensify commented on #11916
Sounds good! In that case, I'm going to close the upwork job, and change this to weekly as it's on hold indefinitely.

[2022-11-16 19:03] MitchExpensify commented on #10356
[Conversation started in #contributor-plus here](https://expensify.slack.com/archives/C02NK2DQWUX/p1668625306086319)

[2022-11-16 19:04] #10356 closed

[2022-11-16 19:04] joekaufmanexpensify commented on #11916
Job closed.

[2022-11-16 19:07] goranjovanov1910 commented on #12152
Hello, this error is occurred because of the react-native-reanimated library.
Once you send me message on Upwork, i will provide details about the reason.

[2022-11-16 19:07] joekaufmanexpensify commented on #11916
@eVoloshchak removing you as well as this is going to be internal going forward.

[2022-11-16 19:11] joekaufmanexpensify commented on #11850
Same.

[2022-11-16 19:12] roryabraham commented on #12753
https://github.com/Expensify/App/pull/12785 has been deployed on all platforms except iOS, so you should be able to retest https://github.com/Expensify/App/issues/12760 at any time and resume regressions

[2022-11-16 19:13] parasharrajat commented on #12712
I think we will not need `shouldComponentUpdate`. This will be cleared in the PR.

[2022-11-16 19:15] kavimuru opened #12789 "No splash screen appears when opening the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #12334
## Action Performed:
1. Open the application on web or desktop

## Expected Result:
Verify that splash screen appears

[2022-11-16 19:15] melvin-bot[bot] opened #12790 "[$250] Investigate: 💥 Crash 💥 `android.support.test.uiautomator.UiDevice.getWindowRoots`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.IllegalStateException
### UiAutomation not connected, UiAutomation@ec53d30[id=-1, flags=0]
### `UiDevice.java line 3` `android.support.test.uiautomator.UiDevice.getWindowRoots`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.28-2

[2022-11-16 19:16] parasharrajat commented on #7375
It would help us if you can explain the changes you would do to the app for this issue.

Links:
- [CONTRIBUTING Guidelines](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md)
- [App overview and local development](https://github.com/Expensify/App#local-development)
- [CODE OF CONDUCT](https://github.com/Expensify/App/blob/main/CODE_OF_CONDUCT.md)
- [Code style and patte

[2022-11-16 19:17] JmillsExpensify commented on #12684
Thanks so much for closing the loop here!

[2022-11-16 19:18] thienlnam commented on #12741
Yeah, this is intentional - we _could_ update it so that it keeps the cursor where the underscore was added.  Though, similar to https://github.com/Expensify/App/issues/11146#issuecomment-1317198685 we're going close since it's related to keyboard navigation / accessibility

[2022-11-16 19:19] michaelhaxhiu commented on #2545
Same same melvin

[2022-11-16 19:20] parasharrajat commented on #12043
@aneequeahmad https://github.com/Expensify/App/issues/12043#issuecomment-1295498807 https://github.com/Expensify/App/issues/12043#issuecomment-1295501141

[2022-11-16 19:20] michaelhaxhiu commented on #10263
@MonilBhavsar is going to post and get more input, sorry on the delay. He will link that slack thread here when it's all done.

[2022-11-16 19:20] mollfpr commented on #9581
Pulled you guys to the PR @neil-marcellini @Santhosh-Sellavel!

I found a bug when using the StatePicker need to double-click the option to select the value, I guess it's because of the `onBlur` of the text input. It's not related to this refactor, so we should log that issue after this is complete.

[2022-11-16 19:23] roryabraham opened #12791 "Create an S3 bucket for ad-hoc app builds"
Coming from https://expensify.slack.com/archives/C04878MDF34/p1668609733417379

### Problem

We are exploring solutions to make testing PRs on all platforms easier and faster via a CI workflow that does ad-hoc builds for all PRs. We need a place to store these ad-hoc builds – using the App stores and/or TestFlight presents a lot of hurdles, limitations, and slows things down.

### Solution
Create

[2022-11-16 19:23] kbecciv opened #12792 "[$1000] IOU - Total amount is flashing 3 times after back online"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12488

## Action Performed:
1. Launch the app
2. Log in with any account
3. Se

[2022-11-16 19:23] hannojg commented on #12152
Agree, plus remove the patch file i added manually!

[2022-11-16 19:24] Emz27 commented on #12650
The main solution here is to just nest 2 touchable and disable the inner one, the other diff is to fix issue on rendering the check status. Not sure about the regression because its supposed to be the same as the React native touchable. The component has been reused a just few times so I think it is easy to test

[2022-11-16 19:24] joekaufmanexpensify commented on #10091
Awesome, I will work on adding that.

[2022-11-16 19:26] roryabraham opened #12793 "Create an ad-hoc signing certificate for app builds"
Coming from https://expensify.slack.com/archives/C04878MDF34/p1668609733417379

### Problem
We are exploring solutions to make testing PRs on all platforms easier and faster via a CI workflow that does ad-hoc builds for all PRs. In order to do ad-hoc builds, we need an ad-hoc signing certificate and provisioning profile for the iOS app.

### Solution
Create an ad-hoc signing certificate including

[2022-11-16 19:28] AndrewGable commented on #12791
Let's call it `s3://ad-hoc-expensify-cash/` ?

[2022-11-16 19:32] mvtglobally commented on #12753
thanks @roryabraham we will resume

[2022-11-16 19:33] arielgreen commented on #11125
@MonilBhavsar what needs to happen here? Are you still looking into this? Should we close it?

[2022-11-16 19:36] arielgreen commented on #9973
@mananjadhav done.

Increased price.

[2022-11-16 19:37] Luke9389 commented on #10888
Thanks, was OOO yesterday

[2022-11-16 19:38] arielgreen commented on #10888
bumped Luke again [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668627449739289)

[2022-11-16 19:40] francoisl commented on #12600
Ah yes ok thanks, I took this to Slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668627598903859)!

[2022-11-16 19:47] Luke9389 commented on #10888
We're still in the review process on that PR. You can see the conversation has been happening over the past few days (I was OOO yesterday). I think the problem with this issue was that we didn't use the Reviewing label once the PR was up, so the overdue messages got annoying.

[2022-11-16 19:49] trjExpensify opened #12795 "[HOLD for payment 2022-11-29] [$1000] App crashes when create new chat with the contact who has deprecated pronoun - reported by @aimane-chnaif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login with any account
2. Click FAB icon -> New chat
3. Enter kbecciv+1031abb2@gmail.com (has deprecated pronoun - Ze/hir) and

[2022-11-16 19:50] trjExpensify commented on #12795
Based on [this discussion](https://expensify.slack.com/archives/C049HHMV9SM/p1668625056676409), @aimane-chnaif want to add your proposal here so we can keep this moving before it gets to staging and becomes a deploy blocker?

[2022-11-16 19:52] roryabraham commented on #10679
No update from me

[2022-11-16 19:56] roryabraham commented on #10962
- @janicduplessis has been making progress getting VirtualizedList code merged upstream
- @Szymon20000 has been mostly focused on https://github.com/Expensify/App/issues/10793, reviews underway
- @hannojg has a few open PRs up for performance improvements, but the Fabric upgrade has been passed off

[2022-11-16 19:57] PauloGasparSv commented on #12123
Still no updates from me here!

[2022-11-16 19:58] s77rt commented on #12741
### Proposal
[code]

### Details
Implemented `selection` and `onSelectionChange` on RoomNameInput

https://user-images.githubusercontent.com/16493223/202281306-ae9ae2eb-7f29-4b37-99b0-2b4aadf3d0a7.mp4

____

@thienlnam Sorry for the ping, can you consider reopening?

[2022-11-16 20:04] danielrvidal commented on #11817
Yup, good update! Please go with yours!

[2022-11-16 20:16] lschurr commented on #12678
Heyooooo any updates on this one @puneetlath?

[2022-11-16 20:17] Beamanator commented on #12360
Working on this, going OOO though so should have an update next week

[2022-11-16 20:19] AndrewGable commented on #12795
Can you add a space? Otherwise yes: `zeHirHirs: 'Ze / hir',`

[2022-11-16 20:21] parasharrajat commented on #12692
I checked and It seems that `defaultValue` of null does not break the tab navigation. @mdneyazahmad can you confirm that this change won't break anything?

[2022-11-16 20:22] Beamanator commented on #12795
Agreed & Let's capitalize `Hir` but I'd say we're ready for PR 👍

[2022-11-16 20:23] s77rt commented on #12266
Hi,
is this still valid? it seems I can't reproduce from my side (1.2.28-1)

[2022-11-16 20:24] aldo-expensify commented on #12692
@mdneyazahmad
In case it is of use, I found the following places where `TextLink` is used without passing `href`:

https://github.com/Expensify/App/blob/e79e484e6cb60b2c18b2aa7d559fe0a0349a084f/src/components/PDFView/PDFInfoMessage.js#L32-L34
https://github.com/Expensify/App/blob/e79e484e6cb60b2c18b2aa7d559fe0a0349a084f/src/pages/ReimbursementAccount/ACHContractStep.js#L250-L252
https://github.com

[2022-11-16 20:42] shawnborton commented on #12188
Not overdue

[2022-11-16 20:42] roryabraham commented on #12753
Confirmed https://github.com/Expensify/App/issues/12760 is resolved, checking it off

[2022-11-16 20:42] shawnborton commented on #10347
Not overdue

[2022-11-16 20:43] shawnborton commented on #10906
Not overdue

[2022-11-16 20:43] shawnborton commented on #11809
Not overdue

[2022-11-16 20:44] RobertLadue commented on #12251
I have read and reviewed this Design Doc!

[2022-11-16 20:44] #12385 closed

[2022-11-16 20:52] eVoloshchak commented on #12708
@Puneet-here's [proposal](https://github.com/Expensify/App/issues/12708#issuecomment-1313988653) looks good to me

🎀👀🎀 C+ reviewed!
cc: @AndrewGable

_This means back button will be hidden only while a network request is in progress, so is there a reason to hide it at all?
Being able to go back while loading is nice_

[2022-11-16 20:54] trjExpensify commented on #12795
Neat! @aimane-chnaif can we get a the PR up and merged for this right away today? Happy to increase the bounty to $1k if we can.

[2022-11-16 20:56] marcaaron commented on #12043
It relates to keyboard navigation so I guess we should freeze it. Technically has a "bug" component because we are able to do something and it doesn't work at all as expected. @michaelhaxhiu can you help us out here?

[2022-11-16 20:57] marcaaron commented on #12542
Who can remember such things? :trollface:

Looks like it. Thanks! Closing.

[2022-11-16 20:57] #12542 closed

[2022-11-16 20:57] mateocole commented on #12453
@Beamanator is this eligible for payment now?

[2022-11-16 21:07] pecanoro commented on #9818
I think the proposal looks good but I am not sure if there is a better way to handle this odd condition, @Santhosh-Sellavel can you think of any other way we could handle this? If not, I think we could go with this. Only detail, @bernhardoj, if we go with your proposal, in the final PR, please add some comments so everyone understand what's happening

[2022-11-16 21:11] trjExpensify commented on #11187
Can we get a vid, @mvtglobally to make sure the steps are correct? I can reliably reproduce it still on mWeb safari (iPhone 13 Pro).

[2022-11-16 21:15] trjExpensify commented on #12790
Going to close this out. We're in the process of putting logic in place to only open an issue after `5` crash reports.

CC: @AndrewGable

[2022-11-16 21:15] #12790 closed

[2022-11-16 21:16] parasharrajat commented on #10414
@michaelhaxhiu Do we have to hold this for https://expensify.slack.com/archives/C01GTK53T8Q/p1668604822482759?

[2022-11-16 21:24] parasharrajat commented on #9823
Based on the latest discussion https://expensify.slack.com/archives/C01GTK53T8Q/p1668198693474999?thread_ts=1668027443.464419&cid=C01GTK53T8Q, we decided to do close the modal/popovers as well as navigating the user to the previous page in history.

This will keep the default browser behavior and fix the issue of stuck popovers/modals.

@michaelhaxhiu Can you please update the expected behaviour o

[2022-11-16 21:25] parasharrajat commented on #9823
This issue is now taking proposals actively. Please reshare your proposals based on the new expected behavior https://github.com/Expensify/App/issues/9823#issuecomment-1317686264 if you already proposed.

[2022-11-16 21:27] maddylewis commented on #7270
@roryabraham -[here](https://github.com/Expensify/Expensify/issues/233363) is the tracking GH for that one. it looks like the high-level DD is out for reviews now. that project is now being led by @bfitzexpensify and @kadiealexander 👍

[2022-11-16 21:33] roryabraham opened #12798 "[HOLD] Add regression tests for SplashScreen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

HOLD on https://github.com/Expensify/Expensify/issues/246097

This is an issue to add regression tests for the splash screen on all platforms. I'm not

[2022-11-16 21:33] trjExpensify commented on #7862
@chiragsalian is in the midst of the review, Melv.

[2022-11-16 21:42] JmillsExpensify commented on #12480
Ok great, thanks for the heads up! Noted, though we'll still wait for the regression period to pass.

[2022-11-16 21:45] roryabraham commented on #12760
Done

[2022-11-16 21:45] #12760 closed

[2022-11-16 21:49] dangrous commented on #12045
I'm still not able to reproduce on staging...

<img width="1043" alt="Screen Shot 2022-11-16 at 16 49 49" src="https://user-images.githubusercontent.com/5487802/202301969-1842d242-ed5b-4b71-a2a7-6f2c0ea8e013.png">

[2022-11-16 21:52] tgolen commented on #12155
Still waiting for proposals.

[2022-11-16 21:52] tgolen commented on #11094
Still looking for proposals.

[2022-11-16 21:53] tgolen commented on #11087
still looking for proposals

[2022-11-16 21:53] eVoloshchak commented on #11314
There's an issue on mWeb iOS that causes keyboard to stay closed if focusing text input with a delay: https://github.com/Expensify/App/pull/12537#issuecomment-1317717812

I think this should be put on hold until that issue is resolved

[2022-11-16 21:53] tgolen commented on #10670
Still looking for proposals

[2022-11-16 21:55] eVoloshchak commented on #11688
Not overdue, PR was deployed to production 1 day ago

[2022-11-16 21:55] tgolen commented on #11858
Still looking for proposals

[2022-11-16 21:55] joekaufmanexpensify commented on #12487
This just hit 7 days with no reported regressions. Going to work on bug zero checklist now!

[2022-11-16 21:58] arielgreen commented on #12770
https://www.upwork.com/jobs/~01dfbfdaac1037594e

[2022-11-16 21:59] eVoloshchak commented on #11735
@Ollyws, @thesahindia, cool cool, thank you for pointing to that PR

In that case I think we should proceed with @Ollyws's [proposal](https://github.com/Expensify/App/issues/11735#issuecomment-1313876876) (minus the part with disabled `userSelect` on small screens)

🎀👀🎀 C+ reviewed!
cc: @chiragsalian

[2022-11-16 22:00] shawnborton commented on #12744
Yup, that looks good. But do we know why this happened in the first place? There must have been a regression at some point right?

[2022-11-16 22:02] chiragsalian commented on #11735
Sounds good, @Ollyws proposal LGTM as well. Feel free to create the PR @Ollyws.

[2022-11-16 22:04] eVoloshchak commented on #11930
Looks like there's an [opinion](https://expensify.slack.com/archives/C01GTK53T8Q/p1668447245442219?thread_ts=1668446169.315419&cid=C01GTK53T8Q) about whether we should apply our code styling to library patches

I'll review and test @s77rt's proposal tomorrow

[2022-11-16 22:08] aitoraznar commented on #7375
Hi. Same steps as the last message but with code.

Proposal

1. Change the modal type from "BOTTOM_DOCKER" to "POPOVER" for medium/large native devices
<img width="1178" alt="Screenshot 2022-11-16 at 22 29 15" src="https://user-images.githubusercontent.com/2470879/202298985-24b9e68a-218a-4f10-a7f9-39d9af466a8e.png">

2. Implement "getClickedTargetLocation" method for native devices
<img width="116

[2022-11-16 22:14] eVoloshchak commented on #12152
@dhairyasenjaliya's [proposal](https://github.com/Expensify/App/issues/12152#issuecomment-1292998536) beat everyone else by 3 weeks, they were the first to correctly identify the root cause.
We should just update to `3.0.0-rc.4` or newer

🎀👀🎀 C+ reviewed!
cc: @Luke9389

[2022-11-16 22:18] joekaufmanexpensify commented on #12487
Discussing two new regression tests I think we should add [here. ](https://expensify.slack.com/archives/C01SKUP7QR0/p1668637071846579)

[2022-11-16 22:24] eVoloshchak commented on #12246
Got a response and was able to test, @Puneet-here's [proposal](https://github.com/Expensify/App/issues/12246#issuecomment-1312188539) looks good!

🎀👀🎀 C+ reviewed!
cc: @kevinksullivan

[2022-11-16 22:25] alexpensify commented on #11825
@Julesssss - this one still has a hold. Can I proceed forward to the payment? I believe there are no issues with the tests, so far.

[2022-11-16 22:26] eVoloshchak commented on #12361
Not overdue, waiting for proposals

[2022-11-16 22:29] hannojg commented on #11321
Okay, I have a proposal available for a _workaround_ until I get to fix the issue upstream at react native.
The workaround is a bit ugly, involves changing the react-native source code … BUT I am a bit uncertain how long it will take to get the issue fixed upstream.
Until then I think the workaround will be valuable enough (android 13 users can't really use the app rn).

Will put up a PR in a mome

[2022-11-16 22:31] quinthar commented on #11321
It's 100% fine to fix our fork of RN; we don't really care if it gets
merged upstream.  We would always prefer to fix the bug where it actually
happens, even if it's never merged into mainline.

On Wed, Nov 16, 2022 at 2:29 PM Hanno J. Gödecke ***@***.***>
wrote:

[2022-11-16 22:32] tgolen commented on #11701
@AmanuelAsfaw Thank you for the proposal. I think that is kind of on the wrong track though. I'm going to take this over and explore my theory that I posted here: https://github.com/Expensify/App/issues/11701#issuecomment-1305784305

[2022-11-16 22:34] alexpensify commented on #12703
@roryabraham - Thanks for the feedback. At this point do I start an internal conversation or move forward with creating the job? Sorry, I'm a little confused about the next step to take here. Thanks!

[2022-11-16 22:34] hannojg commented on #11321
Yes, a 100%, it's just that the workaround isn't a fix. For the fix itself, I have to dive deep into react native's code. However, for the workaround, I still need to modify some react-native code - so that's only temporarily until we have a proper fix.

[2022-11-16 22:36] quinthar commented on #11321
to clarify, do you have an actual fix?  Why do the workaround?

On Wed, Nov 16, 2022 at 2:35 PM Hanno J. Gödecke ***@***.***>
wrote:

[2022-11-16 22:37] kevinksullivan commented on #10190
Going to change this to monthly to avoid pings. As someone that worked on p2p I agree this does not need to be fixed right now.

[2022-11-16 22:39] hannojg commented on #11321
No, i don't have a proper fix yet.
We can also wait until I have a proper fix.

[2022-11-16 22:40] quinthar commented on #11321
Oh if we don't have a fix, then yes, let's do the workaround.

On Wed, Nov 16, 2022 at 2:39 PM Hanno J. Gödecke ***@***.***>
wrote:

[2022-11-16 22:42] JmillsExpensify commented on #12786
Potentially a dupe of https://github.com/Expensify/App/issues/11425. Check the Slack thread for more details.

[2022-11-16 22:44] kevinksullivan commented on #10091
Heyo! So is an accurate summary that this issue is resolved, and the final step is writing up a new regressiong test, which @joekaufmanexpensify is taking on?

[2022-11-16 22:45] alexpensify commented on #12587
@roryabraham - do I need to create a job in Upwork too?

[2022-11-16 22:45] arielgreen commented on #11048
Awaiting proposals.

[2022-11-16 22:46] roryabraham commented on #12188
Okay, I think we talked about it a bit in slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667983099982879). Overall/long-term I think a better solution would be an implementation involving substantial changes in the React Native upstream `<TextInput>` component. Something like this:

- Update `TextInput` such that it gives us an `onTextLayout` prop that, like the `onTextLayout` pro

[2022-11-16 22:53] AndrewGable commented on #12609
Closing per https://github.com/Expensify/Expensify/issues/243479, tl;dr we are turning off Firebase crashes for the time being.

[2022-11-16 22:53] #12609 closed

[2022-11-16 22:53] AndrewGable commented on #9293
Closing per https://github.com/Expensify/Expensify/issues/243479, tl;dr we are turning off Firebase crashes for the time being.

[2022-11-16 22:53] #9293 closed

[2022-11-16 22:54] kevinksullivan commented on #9941
👋 just want to confirm what next steps look like here. @parasharrajat there are errors with the new version, which you will fix in your existing PR? Is that accurate?

[2022-11-16 22:54] roryabraham commented on #12791
Lol,  RIP Expensify.cash

[2022-11-16 22:55] AndrewGable commented on #12791
Agree, but we can stay consistent 🤠

[2022-11-16 22:56] roryabraham commented on #12587
No, @hannojg will invoice us separately

[2022-11-16 22:56] kevinksullivan commented on #9848
@dylanexpensify are we going ahead with doubling? Also, @luacmartins should we be adding the `Needs Reproduction` label here? Or how can we work on making this a more actionable issue?

[2022-11-16 22:58] strepanier03 commented on #12786
Thank you for linking this @JmillsExpensify I appreciate it a lot. After reviewing the behavior in both it does look like it could potentially be a dupe.

The avatars in the GH you linked are a full grey circle whereas the avatar in the video in this GH is a grey offline avatar instead, so I'm not 100% sure they are the same issue.

@thesahindia - Would you mind checking https://github.com/Expensi

[2022-11-16 23:00] roryabraham commented on #12703
It's probably better to have a conversation to get consensus before moving forward to create the job, because fixing this would reverse a previous decision.

[2022-11-16 23:02] kevinksullivan commented on #9823
Nice conclusion here! @michaelhaxhiu I figure we can move this forward with a fresh post to #expensify-open-source with the updated issue?

[2022-11-16 23:05] kevinksullivan commented on #9809
@kadiealexander looks like this could be doubled again?

[2022-11-16 23:09] kevinksullivan commented on #9737
Discussing next steps on this [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1668640090247899)

[2022-11-16 23:09] parasharrajat commented on #9941
Yes, I will try to fix those and share an update as soon as possible.

[2022-11-16 23:09] roryabraham commented on #12703
Brought up in slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668640125477709)

[2022-11-16 23:14] thienlnam commented on #12741
@s77rt I closed it since this is intentional and we're freezing accessibility changes from https://github.com/Expensify/App/issues/12741#issuecomment-1317545251.  What is the reason for your change?

[2022-11-16 23:18] kevinksullivan commented on #9581
FYI @abekkala I hired Santhosh. You can typically find him under "My Hires". Let's get this one knocked out!

[2022-11-16 23:25] puneetlath commented on #11352
@gadhiyamanan @aimane-chnaif @thesahindia can you please apply to the Upwork job here so I can get everyone paid out: https://www.upwork.com/jobs/~01427aa8632545994e

[2022-11-16 23:27] kevinksullivan commented on #9250
@parasharrajat what's the latest on this one? Did you get around to reviewing? Or should we double?

[2022-11-16 23:28] srikarparsi commented on #12501
ah ok that makes sense. Marking it external so that it can be worked on.

[2022-11-16 23:28] cowboycito commented on #10893
@Santhosh-Sellavel I just re-ran the code and everything seems to be working fine for me. Can you give any any specific steps to reproduce the issue that you're having?
Here's a screen recording to demo how things are working right now.

https://user-images.githubusercontent.com/47456024/202316925-8dfb6489-dbbd-40dd-909b-5e15163cc3d8.mp4

[2022-11-16 23:32] kevinksullivan commented on #9181
@parasharrajat do you have an update on the review?

[2022-11-16 23:33] kevinksullivan commented on #9137
Is there a reason this is still open if your PR is on prod @puneetlath ?

[2022-11-16 23:36] nathanmetcalf commented on #12791
OK, I've created the new bucket, however I'm not sure what we do for access permissions? How does this work?

I've compared the new bucket to `staging-expensify-cash` and it appears the same. Is this enough?
![image](https://user-images.githubusercontent.com/86330361/202318051-9033a749-46f3-49fe-9a57-732f5dd79dc8.png)

[2022-11-16 23:41] trjExpensify commented on #8235
Cool, taken care of all the items on the checklist including paying everyone out. Discussion posted [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1668642018740719). Will reopen if something comes of that. Thanks everyone! 🎉

[2022-11-16 23:41] kevinksullivan commented on #8311
Just checking in. @parasharrajat when are we looking at a review for this one?

[2022-11-16 23:44] AndrewGable commented on #12791
Yes, same permissions should be OK!

[2022-11-16 23:48] puneetlath commented on #9137
Whoops, I assumed this would auto-close. It's done!

[2022-11-16 23:48] #9137 closed

[2022-11-16 23:50] nathanmetcalf commented on #12791
OK, I'll close this off then. If there is any further action, please feel free to re-open :)

[2022-11-16 23:55] trjExpensify commented on #10894
Evening, Melvin!

- https://github.com/Expensify/App/pull/12648#issuecomment-1317505702 is with @mananjadhav for review
- https://github.com/Expensify/App/issues/12603#issuecomment-1314276420 - is with @kidroca to fix `react-native-web` for web/desktop image caching
- https://github.com/Expensify/App/pull/12549 - is on @Beamanator to address @Santhosh-Sellavel's first review comments from earlier

[2022-11-16 23:57] trjExpensify commented on #11695
Why is the `payment method` header above the wallet balance in that video? 🤔

[2022-11-16 23:58] srikarparsi commented on #12246
this looks good to me as well. Assigning you to the issue @Puneet-here.

[2022-11-17 00:08] NicMendonca commented on #12769
Job posting: https://www.upwork.com/jobs/~01e9a396b1713a3765

[2022-11-17 00:11] ctkochan22 commented on #11522
Looking here: https://expensify.slack.com/archives/C07J32337/p1665508847515969?thread_ts=1665416806.084149&cid=C07J32337

"also, [@tom](https://expensify.slack.com/team/U0G3AKY3Z) and [@jason](https://expensify.slack.com/team/U03TDU520)
 as I was writing the tests for this archived report logic, I realized that we no longer need any logic for if a report is empty or not. The rules are very simple:

[2022-11-17 00:12] ctkochan22 commented on #11502
Not overdue

[2022-11-17 00:15] eVoloshchak commented on #11695
My bad, probably didn't save a file
I've updated the `After` video

[2022-11-17 00:21] JmillsExpensify commented on #12772
Taking this one given that I'm on the emoji tracking issue. Not treating this as an accessibility issue.

[2022-11-17 00:23] conorpendergrast commented on #12480
Thanks Tim! Note to myself: Two days until we pay out :👍

[2022-11-17 00:25] kavimuru opened #12804 "[HOLD for payment 2022-11-30] [$250] FaceTone selector does not highlight the current selected value on web reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Log in to the app on web.
2. Open any report.
3. Go to composer and click on the EmojiPicker.
4. Click on the face tone chang

[2022-11-17 00:26] Christinadobrzyn commented on #10352
Thanks for the extra information @aimane-chnaif I [reached out](https://expensify.slack.com/archives/C01SKUP7QR0/p1668644753341489) to our team to get some thoughts. I'll follow up as soon as I have more information from them and pay this.

[2022-11-17 00:27] JmillsExpensify commented on #12804
Taking this since I'm on the tracking issue.

[2022-11-17 00:36] Kellie-Brighty commented on #12769
Hello. I am Kelly Owoju. I see that you have an issue with your project. Issue concerning pasting plain text with links, but having a new line being added, I believe I got the issue correctly..?

One thing I need to understand is the practical aspect of this issue, I have tried replicating it on my end by following the link you posted... But I couldn't quite figure out the issue. Please I propose

[2022-11-17 00:37] kavimuru opened #12805 "Web: Firefox: Dropping an image from a webpage on the Report chat list/composer does not open the attachment Modal."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login with any account on web.
2. Open any report.
3. Open [https://media.istockphoto.com/photos/young-female-student-in-exam

[2022-11-17 00:41] MitchExpensify commented on #12276
Not overdue, on hold

[2022-11-17 00:41] thienlnam opened #12806 "[Ignore] Test Issue"

[2022-11-17 00:42] thienlnam commented on #12806
![Screen Shot 2022-11-16 at 4 42 54 PM](https://user-images.githubusercontent.com/30609178/202326034-1a292e64-48fd-4fef-9f4f-7feaaeedfd9f.png)

[2022-11-17 00:43] #12806 closed

[2022-11-17 00:48] kavimuru opened #12807 "[$250] In additional details page can't clear the first name/ last name field reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Make sure you have a name set at profile page
2. Visit https://staging.new.expensify.com/enable-payments
3. Try deleting the

[2022-11-17 00:48] hungvu193 commented on #12712
Cool. I will create a PR and test it carefully

[2022-11-17 00:54] yuwenmemon commented on #12713
Thanks, @Dima-Kevanishvili - just a heads up that I'm going OOO until the 28th so hopefully @maddylewis will be able to help find another engineer to sign off and merge your PR when it's ready.

[2022-11-17 00:54] joekaufmanexpensify commented on #10091
yep! the PR is merged, but not yet deployed. Besides that, I just need to add a new regression test and then this is all set.

[2022-11-17 00:55] MitchExpensify commented on #11733
@Luke9389 What do you think about closing this given the above comment?

[2022-11-17 00:55] yuwenmemon commented on #12712
Thanks, @hungvu193 and @parasharrajat - just a heads up that I'm going OOO until the 28th so hopefully @laurenreidexpensify will be able to help find another engineer to sign off and merge your PR when it's ready.

[2022-11-17 00:57] Luke9389 commented on #11733
Gotta read this one back over.

[2022-11-17 01:01] NicMendonca commented on #8722
sorry for the delay @adeel0202! Can you please accept the[ job offer](https://www.upwork.com/jobs/~011a103cd16a338388) I sent over?

[2022-11-17 01:01] stitesExpensify commented on #7968
The result of the internal discussion is that we are okay with getting rid of the global listener, and just doing the keyboard navigation. The enter key should still select the option that it is hovered on, but we don't need it to select delete when nothing is highlighted.

I think that a future design of this should include a confirmation page similar to our old website like this, but that is not

[2022-11-17 01:03] kevinksullivan commented on #7916
@parasharrajat do you have an ETA for reviewing this issue?

[2022-11-17 01:08] Santhosh-Sellavel commented on #7968
Are we talking about removing it everywhere or just here (Confirmation Content)?

@stitesExpensify @arosiclair

[2022-11-17 01:12] Kellie-Brighty commented on #12769
Now I have checked to reproduce the issue here on my end.

And I know exactly why that is happening, and I can tell you what to do to make that experience go away.

I see what you posted on the job description on upwork, the fix will not be needing a new code base of some sort, the fix is nothing related to coding.

I have prepared some resources for you in line with the fix. Send me a chat please

[2022-11-17 01:26] Luke9389 commented on #11733
Yep we can close this now. Thanks @aimane-chnaif.

[2022-11-17 01:26] #11733 closed

[2022-11-17 01:27] Luke9389 commented on #11377
Poppin around to this tomorrow after re-brand stuff gets done.

[2022-11-17 01:32] trjExpensify commented on #11695
Ah, cool. @mountiny @marcochavezf, thoughts?

[2022-11-17 01:42] marcaaron commented on #11768
Conversations are mostly wrapped up. HL Draft is in progress here -> https://docs.google.com/document/d/1cQ87HcDA9RrmBM4ch7PmlNi9N9ZP8abQuPF0gKYrxDE

[2022-11-17 01:46] strepanier03 commented on #12238
Thank you @0xmiroslav - I'm going to confirm that, since I know it was only recently started and it'll be my first time with the bonus being applicable. I'll follow up here shortly.

[2022-11-17 01:50] varshamb commented on #12741
@thienlnam the behavior of replacing `space` with `_` is intentional. As cursor is moving to end after `space`, we should consider opening it.

[2022-11-17 01:52] fedirjh commented on #12745
@trjExpensify the root cause is the same for both issues which is `scrollHeight` > `lineHeight`

[2022-11-17 01:53] strepanier03 commented on #12238
After reviewing the announcement [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667607226305649) which took place on November 5, it says the new bonus structue applied to new PRs only.

The PR you submitted is dated November 3, so a couple of days before the new process started.

I won't be able to grant the bonus this time, I am sorry about that, but any PR created from November 5 onwa

[2022-11-17 01:56] strepanier03 commented on #12238
I'll check in tomorrow morning when I log back on to see if you've accepted and I have the option to pay you. Thanks!

[2022-11-17 01:59] mvtglobally commented on #12753
Regression is completed

PR https://github.com/Expensify/App/pull/12226 is failing https://github.com/Expensify/App/issues/12777. Repro in PROD
PR https://github.com/Expensify/App/pull/12334 is failing https://github.com/Expensify/App/issues/12789. Repro in PROD
PR https://github.com/Expensify/App/pull/12488 is failing https://github.com/Expensify/App/issues/12779 & https://github.com/Expensify/Ap

[2022-11-17 02:00] strepanier03 commented on #12151
The job post is [here](https://www.upwork.com/jobs/~01cf8f22223f210999), please apply and I'll monitor for applications.

@tienifr - As a reminder, I wanted to link to the new process change regarding PR merge and bonuses [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667607226305649). You can read more about it in the CONTRIBUTING.md as well.

[2022-11-17 02:03] strepanier03 commented on #8236
Thank you for the update @Julesssss. I'll keep following along on this until I can action something.

[2022-11-17 02:11] shawnborton commented on #12259
Here are the new default random user avatars: [Random User Icon.zip](https://github.com/Expensify/App/files/10027122/Random.User.Icon.zip)

Signing off for the night soon but will try to get the other ones finished tomorrow or Friday.

[2022-11-17 02:12] hungvu193 commented on #12692
@parasharrajat how about the undefined href props as I mentioned.

[2022-11-17 02:17] sophiepintoraetz commented on #12049
@Tushu17 and @Santhosh-Sellavel - can you please apply for the [Job posted](https://www.upwork.com/jobs/~01af97f4666c7ddbf4)! Then we can close this one out!

[2022-11-17 02:20] fedirjh commented on #12745
I think this is related to font-smoothing , each browser uses different values , Firefox mobile doesn't support this feature , FireFox Web implements this property but only works on macOS

[2022-11-17 02:34] gadhiyamanan commented on #11352
Applied 🚀

[2022-11-17 02:44] conorpendergrast commented on #12774
I was able to reproduce this on Staging, but I can't reproduce it on Production at the moment. I'll keep trying

[2022-11-17 02:47] hungvu193 commented on #12692
Yeah, I gave 2 options in my proposal, check the props or give it defaultValue, I also prefer defaultProps so we don't need to update it anywhere else.

[2022-11-17 02:51] conorpendergrast commented on #12774
I could reproduce on both Staging and Production now (on web), through manager.pendergrast@expensicorp.com.

Grey avatars showing for all possible invitees:

<img width="1406" alt="image" src="https://user-images.githubusercontent.com/5802477/202342949-6ad713ad-9a81-4975-9c9f-c0a95f66ace9.png">

[2022-11-17 02:53] bernhardoj commented on #9818
@pecanoro okay 👍

[2022-11-17 02:57] conorpendergrast commented on #12774
Confirming what we think the correct behaviour should be for this in [an Expensify internal Slack channel](https://expensify.slack.com/archives/C03U7DCU4/p1668653609180609)

[2022-11-17 03:05] Santhosh-Sellavel commented on #9818
@marcaaron Friendly bump on this https://github.com/Expensify/App/issues/9818#issuecomment-1312329428

[2022-11-17 03:06] syedsaroshfarrukhdot commented on #12744
@shawnborton  I looked up and and found that this initial commit in SkeletonViewLines.js https://github.com/Expensify/App/commit/0bfe1bac6fcbc0f2a304cab6811a5031d40e12da had the similar issue on android / IOS. So I believe it wasn't a regression. It might have been overlooked during development.

The issue is there is no initial marginLeft we are setting cx="40" for the eclipse which move eclipse

[2022-11-17 03:07] Christinadobrzyn commented on #12271
If we think this was a regression of https://github.com/Expensify/App/pull/11905#issuecomment-1289779832 I think we can remove the hold label and start working on this?

[2022-11-17 03:21] sophiepintoraetz commented on #12781
Though cc @youssef-lr as you're in the linked PR this stemmed from.

[2022-11-17 03:23] sophiepintoraetz commented on #12324
Going to close this one out as a dupe of https://github.com/Expensify/App/issues/12650

[2022-11-17 03:23] #12324 closed

[2022-11-17 03:23] tienifr commented on #12151
Thanks @strepanier03, I've applied to the job, the PR will be ready by November 18

[2022-11-17 03:33] Christinadobrzyn commented on #12206
Hey @adeel0202 thanks for bringing this up. I see this response [response](https://github.com/Expensify/App/issues/12143#issuecomment-1293539181) from our engineer and then your [follow-up](https://github.com/Expensify/App/issues/12143#issuecomment-1293549484) stating these are different. I do see that the video you provided in the comment matches what our QA team found so I can give you a reporti

[2022-11-17 03:37] conorpendergrast commented on #12774
Ah, Jason reliably informs me that this is a duplicate of https://github.com/Expensify/App/issues/11425 and so I shall close this one

[2022-11-17 03:37] #12774 closed

[2022-11-17 03:39] Christinadobrzyn commented on #12206
@aldo-expensify @mananjadhav should we wait another week before closing this out?

[2022-11-17 03:43] mananjadhav commented on #12206
@Christinadobrzyn I wasn't following the issue, but I guess it can go through a KI for one week atleast? or @kbecciv can confirm if it is still reproducible here?

@Santhosh-Sellavel was the C+ here, so he might have a different opinion?

[2022-11-17 03:46] mananjadhav commented on #12276
@kavimuru there isn't any update of KI test since a week? Shouldn't this issue be considered in KI test?

[2022-11-17 03:53] mollfpr commented on #12745
I just test the INPUT scroll height on each Mac Chrome, Safari, and Firefox. On Chrome and Safari, the INPUT scroll height remains the same after adding a text or emoji. But on Firefox as @fedirjh is adding an extra `1px` after adding an emoji to the INPUT.

This means that changing the `lineHeight` style value will not resolve the issue in all devices.

So if we remove the `font-smoothing` it wil

[2022-11-17 03:56] JmillsExpensify commented on #4612
@marcaaron @puneetlath I wanted to quickly confirm that we still we do commit to doing this in the react navigation project?  I think largely the answer should be yes given how standard of a shortcut this is. However, I'm wavering a bit overall on the priority of keyboard actions overall. They all feel best done with a holistic, concerted push rather than piecemeal. Curious for your thoughts!

[2022-11-17 03:57] JmillsExpensify commented on #12531
Still not a priority and won't be for at least several weeks.

[2022-11-17 03:58] JmillsExpensify commented on #12459
Yeah, this is less of a priority compared to refactors. Let's keep the focus there for now.

[2022-11-17 04:00] JmillsExpensify commented on #12189
Coming back to this, I think that before we pick this back up, we need to get a better handle on the emoji-related bugs in the linked tracking issue – not to mention make significant progress in WAQ overall. I'm adding the monthly label because I expect it to take that long to get both in a more stable spot.

[2022-11-17 04:03] JmillsExpensify commented on #11524
Thanks for clearing. To add additional context, we're still very early in the planning process, with the next step a design doc. Expect the hold to last for a bit.

[2022-11-17 04:03] hungvu193 commented on #12712
https://github.com/Expensify/App/pull/12808 is ready for review.
Since we need to use the `withNetwork()` to reload the image, I still think we need the `shouldComponentUpdate` to control the render, I added more condition to prevent the redundant render.

[2022-11-17 04:03] JmillsExpensify commented on #11429
Still on hold.

[2022-11-17 04:03] JmillsExpensify commented on #11420
Still holding.

[2022-11-17 04:04] JmillsExpensify commented on #11111
Still holding.

[2022-11-17 04:04] JmillsExpensify commented on #11092
Still holding.

[2022-11-17 04:05] JmillsExpensify commented on #10939
Still on hold.

[2022-11-17 04:07] Christinadobrzyn commented on #11275
Okay, paid @parasharrajat the reporting bonus and closed the job in Upwork. Closing this GH as this job is fixed but please let me know if I'm missing something

[2022-11-17 04:07] #11275 closed

[2022-11-17 04:09] JmillsExpensify commented on #10907
Ugh, I would prefer to avoid that but I think you're right that it's a logical way to prevent the crash.

[2022-11-17 04:12] JmillsExpensify commented on #10729
Ok, I'm going to go ahead and issue payment. Per the process, the PR is merged and has been for 7 days. I don't feel great about waiting on a related issue that is not yet merged. That part is on Expensify.

[2022-11-17 04:14] markarmanus commented on #12773
Proposal:

This issue is cause because of a crash in the app code base, it has nothing to do with firebase.

The function getSearchText() is where the crash is happening. While its very difficult to idnetify why the crash is happening without more data. a simple solution would be to unit test the function. This is done by passing side case values to all the perameters of the funciton. And see how

[2022-11-17 04:18] JmillsExpensify commented on #10729
Alright, all contributors paid out. I removed the `Awaiting Payment` label and I'm also updating the hold as well. We can come back to this and test when #9581 is ready.

[2022-11-17 04:21] JmillsExpensify commented on #10632
I'm not super passionate about whether we solve these separately or together. If we're just improving the color we use to highlight the message, then we could add both in one and raise the price. Does anyone have a strong preference one way or the other?

[2022-11-17 04:21] JmillsExpensify commented on #10615
Still holding.

[2022-11-17 04:21] JmillsExpensify commented on #10550
Still holding until we get sequence numbers out.

[2022-11-17 04:22] JmillsExpensify commented on #10507
Still holding.

[2022-11-17 04:22] JmillsExpensify commented on #10409
Still holding.

[2022-11-17 04:22] JmillsExpensify commented on #9734
Still holding.

[2022-11-17 04:26] conorpendergrast commented on #12116
Today is the day. It's time to follow [these steps](https://stackoverflow.com/c/expensify/questions/7582).

This is the job:

- Internal job posting: https://www.upwork.com/ab/applicants/1585063293084028928/job-details
- External job posting: https://www.upwork.com/jobs/~01d214c4cbd14da163

I am paying:
- [ ] @0xmiroslav (Contributor fixing the issue)
- [ ] @parasharrajat (Contributor+)

[code]

A

[2022-11-17 04:30] MonilBhavsar commented on #12151
@strepanier03 I was left to review the proposal 😅

[2022-11-17 04:31] mollfpr commented on #11800
Bump @dylanexpensify 🚀

[2022-11-17 04:33] JmillsExpensify commented on #8657
Still holding.

[2022-11-17 04:34] JmillsExpensify commented on #8126
Still holding.

[2022-11-17 04:34] JmillsExpensify commented on #7737
Still holding.

[2022-11-17 04:36] JmillsExpensify commented on #4612
Actually....wait a minute. How is this issue not an exact of the older, and more through https://github.com/Expensify/App/issues/8657. I think we should close out this issue as a dupe of that one.

[2022-11-17 04:40] JmillsExpensify commented on #12804
This is a clear issue and reproducible, so I'm going to go ahead and get the Upwork posting kicked off and open this up for external contributors.

[2022-11-17 04:45] JmillsExpensify commented on #12804
We're open for proposals: https://www.upwork.com/jobs/~01261110e4fdea977f.

cc @stitesExpensify for 👀 when you get back.

[2022-11-17 04:54] JmillsExpensify commented on #12691
Hired @s77rt via Upwork and offer sent to @mollfpr as well. Going to prioritize the BZ checklist between here and the PR merging.

[2022-11-17 04:57] MonilBhavsar commented on #12151
I also like the proposal 1 👍

[2022-11-17 04:57] JmillsExpensify commented on #12635
Alright, so coming back to this one. I think we need to circle back and close this issue, yeah? It being a dupe of https://github.com/Expensify/App/issues/12574 and handled via your PR revert?

[2022-11-17 04:58] mollfpr commented on #12691
@JmillsExpensify is the PR timeline eligible for the bonus?

[2022-11-17 04:59] JmillsExpensify commented on #12691
Great call. It is, so can you update the price before accepting?

[2022-11-17 05:00] sobitneupane commented on #12158
@Ollyws I prefer the [prior proposal](https://github.com/Expensify/App/issues/12158#issuecomment-1305499584) than the new one. The new proposal looks like a workaround. The better approach will be handle the issue in the root. The next step will be to find the function that updates onyx data when the other user deletes the message and fix the issue there.

[2022-11-17 05:02] JmillsExpensify commented on #12772
I'm wavering a bit based on my last comment. This bug seems to only affect that one section right? If this is a clear and quick fix, then I'm more amenable to addressing it now, even though we're not focused on keyboard/accessibility at the moment. Getting another opinion from engineering.

[2022-11-17 05:02] sobitneupane commented on #12158
@peterklamka Thanks for your proposal.

Your proposal might solve the issue. But we are looking for the root cause of the problem and trying to fix the issue there.

[2022-11-17 05:02] mollfpr commented on #12691
Yup, I just update the price for the Upwork proposal, thanks!

[2022-11-17 05:02] JmillsExpensify commented on #12772
@Gonals Please see above for a second opinion. Thanks!

[2022-11-17 05:04] JmillsExpensify commented on #12578
@adeel0202 Thanks for your patience. Since my last comment, we've gotten a bit more crisp on our approach to crashes. We're going to address any crash that is reproducible, just like any other bug. Can you please update the title, reproduction steps and the specific information about your device above? Then we can test out seeing if anyone picks up this OnePlus crash.

[2022-11-17 05:05] JmillsExpensify commented on #12433
Thanks @youssef-lr! I need to make time for the regression test, as I think we should add one for this case. I ran out of time today though.

[2022-11-17 05:12] JmillsExpensify commented on #11192
Let's circle back to the OP, because I'm a bit skeptical on the test we want to run. Basically:

1. Log into NewDot on web
2. Navigate to any chat
3. Click the grey plus button to the left of the chat input
4.  Choose add attachment and choose a jpeg/png file
5. Open the attachment
6. Zoom & grab the image, leaving the grab outside of the image
7. **Verify** that the cursor doesn't remain in a gra

[2022-11-17 05:29] JmillsExpensify commented on #12616
Jumping back in, awesome convo! Hmm, ok I see where Shawn is coming from. In fact, while the issue we're talking about here is different given that we're talking about web/desktop, I would love to avoid the grey/flashing we've seen elsewhere. So I think I'd back to either:

 - Showing the spinner for the workspace modal
 - Not opening the modal until all Onyx data is loaded.

I think I'm honestly

[2022-11-17 05:31] JmillsExpensify commented on #12292
@marcochavezf circling back to confirm that you're on this issue this week?

[2022-11-17 05:32] JmillsExpensify commented on #12289
Still waiting for proposals

[2022-11-17 05:32] JmillsExpensify commented on #12283
Still waiting on proposals.

[2022-11-17 05:33] JmillsExpensify commented on #11858
Ideally Margelo or an internal engineer will be taking this on soon!

[2022-11-17 05:34] JmillsExpensify commented on #11809
Going to keep an eye the inability to reproduce, though yeah, for now we are still waiting on proposals.

[2022-11-17 05:34] JmillsExpensify commented on #11807
Still working through the PR.

[2022-11-17 05:35] sobitneupane commented on #12438
@hungvu193 In the beginning of the video Confirm Delete Account Modal appears at first which is not expected. The flow should always be : Delete > Delete Account Confirmation

[2022-11-17 05:36] JmillsExpensify commented on #11726
Still need to circle back on TestRail. I'll make time for that this week.

[2022-11-17 05:36] JmillsExpensify commented on #11701
Thanks for closing the loop @tgolen.

[2022-11-17 05:37] JmillsExpensify commented on #11520
Oh right, I have been meaning to bug Ionatan on this one. 😄

[2022-11-17 05:37] marcaaron commented on #4612
I think we can incorporate it into the detailed design doc. My feeling about this issue is that the shortcuts never really worked as "expected" because, well, nobody ever promised that it would work a certain way. There are a lot of misunderstandings about how the memory history implemented in `react-navigation` works (especially with the drawer navigator in the mix).

There's like 250+ comments I

[2022-11-17 05:38] hungvu193 commented on #12438
let me quick check

[2022-11-17 05:38] JmillsExpensify commented on #11391
Ideally hoping for Margelo or an internal engineer to take this over. I'm holding on raising the price for the time being.

[2022-11-17 05:39] JmillsExpensify commented on #11277
Still waiting on proposals. Ideally we have Margelo or an internal engineer take this over since we're still struggling to get proposals.

[2022-11-17 05:39] JmillsExpensify commented on #11189
De-prioritizing this at the moment, in favor of API refactors instead.

[2022-11-17 05:40] JmillsExpensify commented on #11094
Ideally we'll have Margelo or an internal engineer take this issue over soon. We're still struggling to get external proposals.

[2022-11-17 05:41] JmillsExpensify commented on #11087
This would be great for Margelo or an internal engineer at this point. We're still struggling to get proposals.

[2022-11-17 05:41] marcaaron commented on #4612
Also I think that, yes, the issues are very similar. If we switch to a stack navigator and include chats in the stack then it will be easier to reason about the history and expectations WRT shortcuts like `command + [` or `command + left arrow`.

[2022-11-17 05:42] MonilBhavsar commented on #11168
This is done

[2022-11-17 05:42] #11168 closed

[2022-11-17 05:43] JmillsExpensify commented on #10765
@ctkochan22 Thoughts on that last comment?

[2022-11-17 05:44] JmillsExpensify commented on #10670
Ideally at this point we get Margelo or an internal engineer to take this over. We're still struggling to get proposals.

[2022-11-17 05:46] JmillsExpensify commented on #7270
I still think we should fix this now. The API solution isn't that close and this looks like a regression essentially since we've only recently been able to reproduce it.

[2022-11-17 05:48] hungvu193 commented on #12438
thanks @sobitneupane, I found the issue, I need to set `showConfirmDeleteContent` to false, when user close the DeleteModal too.

[code]

https://user-images.githubusercontent.com/16502320/202366635-edffcc31-e20e-4c42-9c9f-2df8c88f05aa.mov

[2022-11-17 05:55] thesahindia commented on #11352
Applied, thanks!

[2022-11-17 06:10] aneequeahmad commented on #11733
@MitchExpensify  This one is fixed in production, am i eligible for reporting bonus ?

[2022-11-17 06:31] sobitneupane commented on #12773
@markarmanus Thanks for your proposal. If you haven’t already, check out the [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md).

Let's first find from where undefined data is is being passed.

Stacktrace shows

.getOptionData
.OptionRowLHN

Following the above path, we might find from where undefined is being passed.

Having said t

[2022-11-17 06:36] aneequeahmad commented on #11903
@aimane-chnaif I think my [proposal](https://github.com/Expensify/App/issues/11903#:~:text=anchor%3A%20PropTypes.object) is working as expected on native platforms.

 The error you said [above](https://github.com/Expensify/App/issues/11903#:~:text=your%20solution%20in%20this%20proposal%20causes%20regression%20on%20native%20which%20is%20already%20working.) is happening on native platform since it i

[2022-11-17 06:48] tjferriss commented on #12717
I'm on v1.2.28-2

[2022-11-17 07:07] MonilBhavsar commented on #10263
Posed here https://expensify.slack.com/archives/C01SKUP7QR0/p1668668846672319

[2022-11-17 07:08] roryabraham commented on #12753
- Checked off https://github.com/Expensify/App/pull/12572
- https://github.com/Expensify/App/pull/12588 isn't relevant because that flow isn't accessible due to https://github.com/Expensify/App/issues/12776

While they are PROD QA, keep in mind that help pages are deployed immediately so can be QA'd at any time. Usually this will be very quick so for now while we don't have a prodQA checklist we s

[2022-11-17 07:13] Pujan92 commented on #12804
**Proposal**

I think we required an extra condition where we highlight the skinTon if it is the selectedEmoji skinton.

https://github.com/Expensify/App/blob/c1bb6784b890efe139e70fc4062648843b2e47a0/src/components/EmojiPicker/EmojiSkinToneList.js#L86-L93

condition to add on line 92 `|| skinToneEmoji.skinTone === selectedEmoji.skinTone`

[2022-11-17 07:14] roryabraham commented on #12753
I am seeing a spike in homepage initial render, but it seems probably that this could be attributed to [the process change ensuring that people test on high traffic accounts](https://expensify.slack.com/archives/C01GTK53T8Q/p1668551580256569).

[2022-11-17 07:16] roryabraham commented on #12753
There is a new crash too, but I think it's only happening in UIAutomator, which unless I'm mistaken is only related to E2E automated tests, which aren't live yet.

<img width="1421" alt="image" src="https://user-images.githubusercontent.com/47436092/202380690-3534b34c-d846-49ff-a52b-10378ffcebb0.png">

[2022-11-17 07:16] roryabraham commented on #12753
:shipit:

[2022-11-17 07:16] #12753 closed

[2022-11-17 07:19] OSBotify opened #12812 "Deploy Checklist: New Expensify 2022-11-17"
**Release Version:** `1.2.29-7`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/11397
- [x] https://github.com/Expensify/App/pull/12090
- [x] https://github.com/Expensify/App/pull/12301
- [x] https://github.com/Expensify/App/pull/12478
- [x] https://gi

[2022-11-17 07:19] conorpendergrast commented on #12116
Contributors have been paid, contracts have been ended and job post has been removed. We're all done!

[2022-11-17 07:19] #12116 closed

[2022-11-17 07:21] CosminnB commented on #12804
**Proposal**

Add an additional state that will store the selected skin tone index and use it to highlight the correspondent skin tone:

[code]

https://user-images.githubusercontent.com/59282077/202381185-9047e7f1-5b93-4e5f-897f-b864a4812779.mp4

[2022-11-17 07:23] aneequeahmad commented on #11903
@aimane-chnaif I'm not sure what you're talking about. Please see the `Actual result` of the reported [bug](https://github.com/Expensify/App/issues/11903#:~:text=Console%20error%3A%20Failed%20prop%20type%3A%20Invalid%20prop%20anchor%20supplied%20to%20BaseReportActionContextMenu%2C%20expected%20a%20ReactNode%20at%20BaseReportActionContextMenu).

This is never set to number please see the code of fi

[2022-11-17 07:24] conorpendergrast commented on #11584
Woops I missed [some steps](https://stackoverflow.com/c/expensify/questions/7582) last week; contracts ended and job removed now

[2022-11-17 07:27] thesahindia commented on #12693
Not applicable ? It was an edge case  ( more of a feature request ) and it was missed in the refactor

[2022-11-17 08:00] wildan-m commented on #12769
# Proposal

## Root Cause
This issue can only be found in `Windows` OS. It's related to a [different line end of line character across platforms](https://confluence.qps.nl/fledermaus7/questions-answers/other/differences-in-end-of-line-characters-mac-windows-and-linux).

Windows - Lines end with both a <CR> followed by a <LF> character
Linux  - Lines end with only a <LF> character
Macintosh (Mac OS

[2022-11-17 08:04] sobitneupane commented on #12438
We also have Make default payment method popover which has similar behavior of blinking. I think it makes sense to handle it here along with Delete popover.

https://user-images.githubusercontent.com/25876548/202389915-57d3ec19-6cc1-4b3b-b366-dffba8507c92.mov

cc: @michaelhaxhiu @marcochavezf

[2022-11-17 08:13] techievivek commented on #11796
I wasn't able to look into it because my xdebug was broken, just fixed it by rebuilding the VM.

[2022-11-17 08:19] mananjadhav commented on #11330
@NicMendonca Quick bump on the Upwork payment here.

[2022-11-17 08:20] mananjadhav commented on #11463
@JmillsExpensify Can we also updated the requirement in the GH body? Just in case someone misses in the comments.

[2022-11-17 08:21] mananjadhav commented on #11732
@johncschuster Good to close the issue here?

[2022-11-17 08:23] dhairyasenjaliya commented on #12152
IMO we should just update to `3.0.0-rc.4` since we have the RN version of `react-native@0.70.4-alpha.1`
whereby `3.0.0-rc.5` added RN version of `0.75` although it shouldn't be a problem even if we added `rc.5 or rc.6` but worth mentioning :)

<img width="1173" alt="Screenshot 2022-11-17 at 12 26 49 PM" src="https://user-images.githubusercontent.com/47522946/202377725-d0a02578-acfd-492c-8b6f-e8e9a

[2022-11-17 08:33] thesahindia commented on #12786
I believe it's different because -
1. It was working correctly at some point (it's a regression)
2. [#11425](https://github.com/Expensify/App/issues/11425) is not reproducible for default avatars but the current issue is.

[2022-11-17 08:39] ctkochan22 commented on #11460
Merged main, needs a few changes

[2022-11-17 08:39] hungvu193 commented on #12438
we can use this solution, we don't need to combine difference modals into once, otherwise that's fine, I can update it.

[2022-11-17 08:49] Dima-Kevanishvili commented on #12713
@aimane-chnaif Yes, I've seen that and was keen on doing this quickly, but as I stated I don't have a High Traffic Account which was also stated in the contributing guidelines and is one of the checkboxes I need to tick in the PR body.

I've sent the email and I'm waiting for the slack invite.

If it is okay to create a PR for this particular issue without testing it with a High Traffic Account, p

[2022-11-17 08:58] Dima-Kevanishvili commented on #12713
@aimane-chnaif sure. Thanks!

[2022-11-17 09:09] tienifr commented on #12151
Hi @eVoloshchak @MonilBhavsar I just created PR for this issue: https://github.com/Expensify/App/pull/12664 please help to review it

[2022-11-17 09:13] dylanexpensify commented on #11893
working on list today

[2022-11-17 09:14] dylanexpensify commented on #7917
on hold

[2022-11-17 09:14] dylanexpensify commented on #9181
+1 re: @parasharrajat update

[2022-11-17 09:27] cristipaval commented on #12578
Hey @adeel0202 !

Could you also go to your keyboard settings on your phone and send me a screenshot? It would also help to see if your phone uses a specific keyboard.
We need a screenshot like this one.
![Screenshot_20221117-112237_Settings](https://user-images.githubusercontent.com/18078393/202407984-a9efc3ef-c62c-454c-adaf-35f71bc2dd57.jpg)

[2022-11-17 09:39] hannojg commented on #12152
Kindly disagreeing. This is only with regards to the example app within the react-native-reanimated, so it can be "ignored" 😊

[2022-11-17 09:40] s77rt commented on #12691
@JmillsExpensify I think am eligible for the bonus as well, right?

[2022-11-17 09:42] s77rt commented on #12741
@thienlnam
Replacing spaces with underscores is intentional.
Moving the cursor to the end is not <-- my proposal fixes this.

[2022-11-17 09:43] dylanexpensify commented on #9848
Doubled, posted in #expensify-bugs [here](https://expensify.slack.com/archives/C049HHMV9SM/p1668678216722729)!

[2022-11-17 09:46] dylanexpensify commented on #12776
Upwork: https://www.upwork.com/jobs/~013d413cd690798c5c

[2022-11-17 09:47] dylanexpensify commented on #12598
Thanks @MonilBhavsar!

[2022-11-17 09:48] dylanexpensify commented on #12045
@thesahindia can you share a video of you reproducing this? Might help us

[2022-11-17 09:55] dylanexpensify commented on #12042
Will get this paid out today! Sorry for delay all!

[2022-11-17 09:57] Julesssss commented on #12308
Holding this while the retesting is completed, it's possible this is no longer occuring 🤞

[2022-11-17 09:57] zanyrenney commented on #12308
Could have been a tempoprary issue, but as we we close after 4 restests, We'll keep the issue open 2 more weeks for these retests.

[2022-11-17 09:57] trjExpensify commented on #10907
What's the alternative though, actually figure out how to support downloading a pending upload? A member needs access to the menu to delete the pending action, so we can't hide the whole thing.

[2022-11-17 09:57] dylanexpensify commented on #12042
Upwork https://www.upwork.com/jobs/~01b45454c6b590f926! @fedirjh @thesahindia

[2022-11-17 09:59] Julesssss commented on #11930
@eVoloshchak yeah, that seems the correct plan to me 👍

[2022-11-17 10:00] Julesssss commented on #11825
Hey @alexpensify -- yeah, I think the hold was automatically added until we make the payment 👍

[2022-11-17 10:00] dylanexpensify commented on #11800
Offers sent @thesahindia @mollfpr

[2022-11-17 10:01] mollfpr commented on #11800
@dylanexpensify Applied, thank you!

[2022-11-17 10:01] thesahindia commented on #12770
Not completely sure but this might be a regression from https://github.com/Expensify/App/pull/12545

cc: @sobitneupane @tienifr

[2022-11-17 10:03] thesahindia commented on #12042
Applied 🚀

[2022-11-17 10:04] thesahindia commented on #11800
@dylanexpensify, accepted 🚀

[2022-11-17 10:06] thesahindia commented on #12045
Video here https://github.com/Expensify/App/issues/12045#issuecomment-1307883600

@kavimuru @Puneet-here, can you guys try reproducing this?

[2022-11-17 10:08] dylanexpensify commented on #11800
paid out, contracts closed! Appreciate y'all!

[2022-11-17 10:08] #11800 closed

[2022-11-17 10:08] dylanexpensify commented on #12042
Offer sent!

[2022-11-17 10:10] smrutiparida commented on #11132
The environment value that set the badge to STG, is already being computed differently for native.  Which is by comparing pkg.version in the build with android play store set version. Only when both the version are set different, we shall see the STG badge. We must think if there is a process deficiency during prod release or any other manual error that can cause such a thing !

[2022-11-17 10:10] Julesssss commented on #12236
Missed this notification somehow 😕

Thanks! Their component is looking great

[2022-11-17 10:10] thesahindia commented on #12042
Accepted, thanks!

[2022-11-17 10:12] thesahindia commented on #12042
It's already fixed. Feel free to check other open [issues](https://github.com/Expensify/App/issues?q=is%3Aissue+is%3Aopen+label%3A%22Help+Wanted%22).

[2022-11-17 10:17] fedirjh commented on #12042
@dylanexpensify applied!

[2022-11-17 10:19] luacmartins commented on #6883
@azimgd is the last PR ready to be reviewed?

[2022-11-17 10:20] azimgd commented on #6883
Yeap

[2022-11-17 10:22] sobitneupane commented on #12770
Yeah. I think https://github.com/Expensify/App/pull/12545 is the culprit.

@tienifr Can you raise a PR to fix this issue? I believe this should be pretty simple.

[2022-11-17 10:32] daraksha-dk commented on #12616
The problem with implementing skeleton UI is that it needs to be added for every page where this issue is reproducible. All the workspace pages are different so we need different skeleton UI components that matches to the specific page.

I prefer this because it's simple to implement

I think this can be complex and it can cause regressions too. Because this issue is an edge case I do not think it

[2022-11-17 10:35] parasharrajat commented on #12770
We can take down the job @arielgreen and assign @sobitneupane as C+ for handling the Regression.

[2022-11-17 10:42] parasharrajat commented on #12066
There is a regression from this issue's PR https://github.com/Expensify/App/issues/12770 .

[2022-11-17 10:47] Julesssss commented on #12770
Thanks all, I can 100% confirm the linked issue caused the regression. Just tested the PR and the final commit prior to it being merged.

[2022-11-17 10:47] Julesssss commented on #12770
I don't think this is critical enough to be a deploy blocker.

[2022-11-17 11:08] hungvu193 commented on #12807
<b>Proposal</b>
In `AdditionalDetailsStep.js` the problem came from the way we calculated the value for first name and last name fields.
In this case, when we tried to delete the first name field and when it became empty, the `getFirstName()` function will return the firstName from `PersonalDetails.extractFirstAndLastNameFromAvailableDetails(this.props.currentUserPersonalDetails)` and made us coul

[2022-11-17 11:12] huzaifa-99 commented on #12691
@JmillsExpensify am I eligible for the reporting bonus?

[2022-11-17 11:14] parasharrajat commented on #11584
There is a new issue report which looks like a regression and should have been tested on this PR. https://expensify.slack.com/archives/C049HHMV9SM/p1668507952621799

[2022-11-17 11:20] dhairyasenjaliya commented on #12152
alright so we can directly use the latest version than :)

[2022-11-17 11:31] bfitzexpensify commented on #11486
All paid out - thanks for the work here!

[2022-11-17 11:31] #11486 closed

[2022-11-17 11:31] bfitzexpensify commented on #12543
Bump @deetergp

[2022-11-17 11:40] bfitzexpensify commented on #12639
Job on Upwork:

Expensify [link](https://www.upwork.com/ab/applicants/1593206438401196032/job-details)

Contributor [link](https://www.upwork.com/jobs/~019002706fe5a6f651)

[2022-11-17 11:56] trjExpensify commented on #8235
@Santhosh-Sellavel reminded me that this PR was raised after Nov 4th and was merged on Nov 7th, so we owe @Tushu17 & @Santhosh-Sellavel a $125 bonus each. Offers have been sent here: https://www.upwork.com/jobs/~010f6b384191b40d0c

[2022-11-17 12:11] NicMendonca commented on #12773
Job posting: https://www.upwork.com/jobs/~0176768b3183da0538

[2022-11-17 12:15] NicMendonca commented on #11330
@mananjadhav @rawalyogendra paid, thanks!

[2022-11-17 12:18] bfitzexpensify commented on #12767
Not a bug, we don't support this yet (so this is expected). We discussed this last a [few months ago ](https://expensify.slack.com/archives/C01GTK53T8Q/p1651010043230409) and though we're anticipating doing it at some point, that suggestion hasn't been made yet, and will warrant a bigger discussion re:priority internally.

[2022-11-17 12:18] #12767 closed

[2022-11-17 12:20] hannojg commented on #11321
A draft is up for circumventing the issue until a proper fix is implemented:
https://github.com/Expensify/App/pull/12820

[2022-11-17 12:23] lbaldy commented on #4733
@MitchExpensify @parasharrajat the MR branch has been updated with the changes that should address the issue. I used the samples provided by @parasharrajat.

Please see the video here:

https://user-images.githubusercontent.com/7595998/202445223-2852e0d3-1339-4ed8-b361-b312ce46cab0.mp4

[2022-11-17 12:28] dylanexpensify commented on #12042
offer sent @fedirjh!

[2022-11-17 12:28] mananjadhav commented on #11330
Thanks @NicMendonca

[2022-11-17 12:29] dylanexpensify commented on #11336
Any ETA on when you'll be done @mananjadhav ?

[2022-11-17 12:29] mananjadhav commented on #11336
Targeting to finish this by EOD today

[2022-11-17 12:32] parasharrajat commented on #12692
I don't know what was wrong the last time I checked, using `undefined` default value was breaking Tabbing on the `fix the errors` link.

But now, it is working fine. @hannojg Can you please confirm https://github.com/Expensify/App/issues/12692#issuecomment-1317623554 https://github.com/Expensify/App/issues/12692#issuecomment-1317619029?

[2022-11-17 12:32] fedirjh commented on #12042
Accepted.  Thank you @dylanexpensify

[2022-11-17 12:38] dylanexpensify commented on #12042
payments sent, contracts ended, posting removed! Appreciate you all!

[2022-11-17 12:38] #12042 closed

[2022-11-17 12:39] rawalyogendra commented on #11330
Thank you @NicMendonca

[2022-11-17 12:40] hannojg commented on #12692
_confused_, I haven't touched any of the code of was working on this issue 😅 are you sure you mean me?

[2022-11-17 12:42] abekkala commented on #9459
@kevinksullivan I did ask about this above. It was decided by @NikkiWines to hold at $4000.

[2022-11-17 12:52] kavimuru commented on #11584
@parasharrajat Reopening this issue as per this https://expensify.slack.com/archives/C049HHMV9SM/p1668537124299269?thread_ts=1668507952.621799&cid=C049HHMV9SM

[2022-11-17 12:55] NicMendonca commented on #8722
@adeel0202 I've issued payment! Thanks again for the bump.

[2022-11-17 13:03] abekkala commented on #9459
@kevinksullivan I did ask about this above. https://github.com/Expensify/App/issues/9459#issuecomment-1313677807
It was decided by @NikkiWines to hold at $4000.

[2022-11-17 13:03] kavimuru opened #12821 "[HOLD] iPad / Safari - Context menu does not open on long press reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to any chat
2. Long press on a message

## Expected Result:
User should be able to open the context menu

## Actual

[2022-11-17 13:06] ahmdshrif commented on #4612
@marcaaron  same issue on the web. with the back and forward button
when I work on proposals here I debug on the web most of the time. (IDK if you fix something now or not )
also, I should mention that we overwrite the history on navigation custome actions so this is the important part.

[2022-11-17 13:12] mountiny commented on #11695
I agree, that looks good to me.

However, will this **NOT** scroll when the page is long enough right?

[2022-11-17 13:24] michaelhaxhiu commented on #12152
Awaiting approval from @Luke9389 in order to hire @dhairyasenjaliya and kick off the PR process.

[2022-11-17 13:27] michaelhaxhiu commented on #8235
Nice work on getting this one finalized everyone!

[2022-11-17 13:31] joekaufmanexpensify commented on #12694
Not overdue. Just assigned last night.

[2022-11-17 13:32] michaelhaxhiu commented on #12438
Updated the GH body to include that modal too @sobitneupane, I'm in agreement! @hungvu193 thanks for the continued speed on this!

@marcochavezf This is awaiting your 👍 and then we can start the PR process.

[2022-11-17 13:33] Pujan92 commented on #12639
I think this is not the application level bug, in the ios wherever we paste text(not only emoji) in a single word it creates the adjacent space.

[2022-11-17 13:39] markarmanus commented on #12773
@sobitneupane You are welcome. I will start tracing through the code to see where the original data source is for all 4 permaters of the function.

I did read the guidlines and sent an email to join slack a few days ago but with no response. Also at what point is a proposal considered approved and i can send it thorugh up work ?
This is the first time i do this. But you guys can expect me on a reg

[2022-11-17 13:55] flodnv commented on #12776
This is very strange, as it worked in https://github.com/Expensify/App/pull/12588 (which was fixing https://github.com/Expensify/App/issues/11892). To me, this isn't as much a regression as it should've been a deploy blocker -- that PR should not have been marked as passing tests, as tests were not passing. Why was this not a deploy blocker @kbecciv ?

[2022-11-17 13:56] flodnv commented on #12776
Oh I see: https://github.com/Expensify/App/issues/12753#issuecomment-1318185342
As per my above message, I disagree with what you said there @roryabraham

[2022-11-17 13:56] flodnv commented on #12776
cc @Ollyws maybe you can take a look^ ?

[2022-11-17 13:58] maddylewis commented on #12792
Managing a BUG issue:
- [ ] The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead).
- [ ] The bug is reproducible, following the reproduction steps 

- If the GH doesn’t have steps to reliably reproduce the bug and you figure it out, then please add them
- If you’re unable to reproduce the bug:
- Add the Needs reproduction label.
- C

[2022-11-17 14:01] nkuoch commented on #7270
@kbecciv which email did you use, so I can check the logs?

[2022-11-17 14:04] trjExpensify commented on #8235
Cool, done!

[2022-11-17 14:04] #8235 closed

[2022-11-17 14:06] mollfpr commented on #12639
@sketchydroide @bfitzexpensify Should the expected also apply to the regular text or only when pasting emoji? WhatsApp doesn't add extra space on text or emojis.

[2022-11-17 14:13] Santhosh-Sellavel commented on #10731
Seems like this got merged 🎉, Let's get this over the line, whats next here? @christianwen

[2022-11-17 14:13] OSBotify commented on #12812
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.29-3 :rocket:

[2022-11-17 14:16] flodnv commented on #12501
This is an internal bug. Taking it.

[2022-11-17 14:18] Santhosh-Sellavel commented on #12492
Seems straightforward, so looks good to me! Please have a look at this when you have time @Luke9389!

[2022-11-17 14:19] christianwen commented on #10731
@Santhosh-Sellavel it was merged but wasn't released yet, we'll only pull 'react-native' to our fork once it's released right?

[2022-11-17 14:19] Santhosh-Sellavel commented on #12710
Not overdue, looking for proposals!

[2022-11-17 14:23] CortneyOfstad commented on #11487
Hello! I got an email from UpWork that the job posting for this is about to expire. Is there any additional action that needs to be taken, or do I let it expire?

This is my first time coming across this, so reaching out for clarification.

[2022-11-17 14:24] Santhosh-Sellavel commented on #10731
Can you ask it on slack, I'm not aware of that!

[2022-11-17 14:25] isabelastisser commented on #12724
OOO, reassigning.

[2022-11-17 14:26] CortneyOfstad commented on #9818
Just got a bump to double this. Is that okay to do, considering the amount?

[2022-11-17 14:28] isabelastisser commented on #12267
bump

[2022-11-17 14:29] sobitneupane commented on #12158
I think It makes sense to add lastActorEmail.

`lastActorEmail` is returned along with other attributes when there is lastMessageText.

`{"onyxMethod":"merge","key":"report_86287312","value":{"lastMessageText":"hello","lastMessageHtml":"hello","isEdited":false,"lastMessageTimestamp":1668693620,"lastActorEmail":"sobit.neupane.111@gmail.com"}}]`

But when lastMessageText is empty, `lastActorEmail` i

[2022-11-17 14:29] isabelastisser commented on #11730
OOO, reassigning.

[2022-11-17 14:40] mateocole commented on #12821
OOO reassign

[2022-11-17 14:42] sobitneupane commented on #12438
@hungvu193 Your proposal [here](https://github.com/Expensify/App/issues/12438#issuecomment-1316812764) looks good to me. Can you please update your proposal to include Make default payment method modal as well.

[2022-11-17 14:45] hungvu193 commented on #12438
@sobitneupane Sure

[2022-11-17 14:45] sobitneupane commented on #12773
You are expected to send your proposal in github issue not upwork. Once your proposal is accepted here, you will be hired in upwork then you can raise PR.

[2022-11-17 14:49] kavimuru opened #12822 "Text color appears black for all the buttons in the site - Reported by dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Check the display of buttons in the program

## Exp

[2022-11-17 14:50] OSBotify commented on #12822
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-17 14:56] michaelhaxhiu commented on #12438
Seems we have plans to remove the [Make default payment method] button soon according to @JmillsExpensify (in an internal [company thread](https://expensify.slack.com/archives/C03U7DCU4/p1668617761146039?thread_ts=1668596349.084729&cid=C03U7DCU4)):

I'm going to remove that aspect of the solution (despite having just added it - sorry yall)

[2022-11-17 15:00] markarmanus commented on #12773
@sobitneupane After some more invetsigation here is my conclusion

here is the list of params being passed into the function
 * `reportName`: no problems here, as this always has a value (coming from `ReportUtils.getReportName`)
 * `isChatRoomOrPolicyExpenseChat` is boolean so it cant cause a crash even if undefined.
 * report is only used in following (at the top of the funciton we check `if(repo

[2022-11-17 15:05] parasharrajat commented on #12692
Lol, sorry @hannojg. Tagged the wrong guy. Its @hungvu193.

[2022-11-17 15:09] youssef-lr commented on #12781
Thanks for the ping @sophiepintoraetz - I've reverted my PR locally and I can still reproduce this, so I don't think this is a regression bug, but just something we didn't notice before. The steps to reproduce this is simply to request money while online using a different currency than the report's, then cancel the request. I may have a fix for this one, looking into it today.

[2022-11-17 15:10] hungvu193 commented on #12438
@michaelhaxhiu  should I add it (make default button) to the PR or we can keep it as my latest proposal? 😂

[2022-11-17 15:15] mollfpr commented on #12715
@strepanier03 We can continue to receive proposals now, we don't have a plan to remove the `onBlur` validation in the refactor form.

@Delgee Can you provide the code for solution 2?

@peterklamka I don't think using `onMouseDown` is a great idea, I feel lost click feeling with `onMouseDown`. Do you have any solution?

[2022-11-17 15:19] bfitzexpensify commented on #12639
No spaces should be added whether pasting regular text or an emoji

[2022-11-17 15:22] michaelhaxhiu commented on #12438
@hungvu193 sorry for the back and forth mate. Let me update the GH right now, and make this as clear as possible for you. ⏳

[2022-11-17 15:22] CortneyOfstad commented on #11810
@tienifr @parasharrajat @sobitneupane I sent over the contract details in UpWork. Let me know if you have any questions!

[2022-11-17 15:22] mollfpr commented on #12676
Same as @marcaaron I can't reproduce it.

I feel like this is a regression from this [PR](https://github.com/Expensify/App/pull/12089) where it should redirect to the concierge chat. But the issue https://github.com/Expensify/App/issues/11982 is not stated needs to redirect to the concierge chat.

[2022-11-17 15:23] hungvu193 commented on #12438
Cool, lemme know when I can create a PR.

[2022-11-17 15:24] hungvu193 commented on #12692
Just check, it's working fine with undefined props. Also we can reference in react-native-web documentation [here](https://necolas.github.io/react-native-web/docs/text/):
[code]

<img width="1680" alt="Screen Shot 2022-11-17 at 22 16 36" src="https://user-images.githubusercontent.com/16502320/202486212-85026b7b-1ade-438d-ab49-2cbc67321c05.png">

<img width="1658" alt="Screen Shot 2022-11-17 at 22

[2022-11-17 15:26] JmillsExpensify commented on #2985
@roryabraham @chiragsalian I stumbled upon this issue again and I still feel we should close it since nothing is actually happening here. As noted, we already have an issue for comment linking in https://github.com/Expensify/Expensify/issues/147480. Re-open if you disagree.

[2022-11-17 15:28] ntdiary commented on #10670
Hi, I'm also interested in this issue and am doing a bit of research these days, expect to post a proposal by next Monday if it's still needed. 😄

[2022-11-17 15:31] mountiny commented on #12438
This looks fine to me @hungvu193 feel free to raise the PR. Do not include the make default payment though please.

I hope @marcochavezf will agree with this 🙏

[2022-11-17 15:33] michaelhaxhiu commented on #12438
GH body & title are updated to reflect the exact desired change.

[2022-11-17 15:34] youssef-lr commented on #12781
I think we may need to cancel updating the IOU if the IOU's currency is different than the report's currency all together, regardless of whether or not the user is offline.

The issue here is that say we request 100 MAD from a user, and the default report's currency is USD, that's about $11. If we cancel the 100 MAD, in the code this amount is not converted to USD, so we're subtracting 100 from 11

[2022-11-17 15:39] mountiny commented on #12822
cc @grgia I think this is most likely coming from here https://github.com/Expensify/App/pull/12478

[2022-11-17 15:45] laurenreidexpensify commented on #12782
https://www.upwork.com/jobs/~01f71071f960badc10

[2022-11-17 15:49] abekkala commented on #12784
@alex-mechler I wanted to quickly assign the engineering label to get your opinion on this irt if this is something we care enough about to move forward. it seems rather low priority to me but would like your input.

[2022-11-17 15:49] trjExpensify commented on #12745
^^ isn't that video of the desktop app, not firefox?

[2022-11-17 15:53] michaelhaxhiu commented on #12822
Bug reporting bonus should go to the contributor dhairyapatel143@gmail.com right?
https://expensify.slack.com/archives/C049HHMV9SM/p1668665477914149

[2022-11-17 15:54] mollfpr commented on #12745
It’s from Firefox. I just crop it 😅

[2022-11-17 15:58] kavimuru commented on #12622
@Julesssss Our testers can reproduce this issue

https://user-images.githubusercontent.com/43996225/202495330-192fee75-da2e-4f96-aab6-fd8be5475820.mp4

[2022-11-17 16:01] hungvu193 commented on #12438
Cool. [PR](https://github.com/Expensify/App/pull/12824) is ready for review!

[2022-11-17 16:04] mollfpr commented on #12745
Here's another video

https://user-images.githubusercontent.com/25520267/202496683-3f7f75d9-e874-4dbd-a0c1-61eab4b1fb10.mov

[2022-11-17 16:06] abekkala commented on #11953
oh hold not overdue

[2022-11-17 16:11] quinthar commented on #11321
Can you describe the underlying problem at a high level, as well as how the
workaround works?

On Thu, Nov 17, 2022, 4:21 AM Hanno J. Gödecke ***@***.***>
wrote:

[2022-11-17 16:18] lschurr commented on #12724
I don't have access to the dev console. Tagging Eng for reproduction.

[2022-11-17 16:21] sketchydroide commented on #12645
So I tested this a bit, and this only works if the user presses the button while in airplane mode.
Once I test this while connected, it no longer happens even if I go back to airplane mode.

[2022-11-17 16:22] sketchydroide commented on #12645
@markarmanus have you followed the steps exactly? Even with the airplane mode?
I was just able to replicate myself. See my comment above

[2022-11-17 16:25] sketchydroide commented on #12512
not sure if we should update the price?

[2022-11-17 16:26] sketchydroide commented on #9580
This is under review, we will be reviewing the PR over the next days, @luacmartins is OOO this week, so hopefully we will have this done and merged next week

[2022-11-17 16:38] puneetlath commented on #7420
Looks like we're done here!

[2022-11-17 16:38] #7420 closed

[2022-11-17 16:42] eVoloshchak commented on #11584
@tienifr, could you take a look at [this](https://expensify.slack.com/archives/C049HHMV9SM/p1668507952621799) please?

[2022-11-17 16:49] thienlnam opened #12825 "[$250] Test Ignore"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-11-17 16:49] #12825 closed

[2022-11-17 16:53] JmillsExpensify commented on #12784
@abekkala did you see my comment in the linked Slack thread? It's a bug, we need to fix it.

[2022-11-17 16:55] eVoloshchak commented on #11695
It will have the same behavior as other settings pages (profile, preferences, etc): it will not scroll when the page is long enough on all platforms except for iOS. On iOS, scroll is always enabled, but that's how it is throughout the app

[2022-11-17 16:57] miljakljajic commented on #12327
Apologies for the hold up on the regression test but I am about to go OOO until Tuesday. I will put the tests in then. Since there are no external contributors on this issue we don't need to pay anyone.

[2022-11-17 16:57] miljakljajic commented on #11851
@eVoloshchak what do you think of the proposal above?

[2022-11-17 16:58] s77rt commented on #10670
### Proposal
[code]

### Details
The issue is caused by three sub-issues:
1. The first issue is that Safari does not always update the `window.innerHeight` property. Debugging exactly why is too much time consuming so I had to find a workaround. Luckily we have [VisualViewport](https://developer.mozilla.org/en-US/docs/Web/API/VisualViewport), so instead of relying on Safari whether it will update

[2022-11-17 16:59] miljakljajic commented on #12629
Ah, strange! @neil-marcellini, do you believe this can be worked on by an external contributor?

[2022-11-17 17:03] JmillsExpensify commented on #12781
Gotcha, so I think what we're essentially discovering here is that we can't reliably `Cancel` in scenarios where an IOU has multiple currencies – just like we recently discovered for `Pay`. The pickle with the "Pay" is that it's possible to accidentally pay something for an amount you didn't expect. That said, a couple of questions:

 - Isn't `Cancel` only an issue when both currencies were added

[2022-11-17 17:07] hannojg commented on #11321
## The underlying problem

To achieve the inverted list effect react native simply flips the `FlatList` vertically with `scaleY: -1`. It then also flips all items with the same transformation.
On the native side this translates to the following transformation commands, which get applied to the view:

- transformX: 0
- transformY: 0
- rotate: 180
- rotateY: 0
- rotateX: 180 (now the view looks as u

[2022-11-17 17:11] alex-mechler commented on #12784
Based on some limited testing, I think this is actually a bug with iOS, not web. When I send

[code]
from desktop > web or vice versa, it shows with no space between the two on both platforms. I think its iOS that is improperly displaying it. I'm curious to see if this persists on iOS _after_ refreshing the chat. I will test that today

[2022-11-17 17:13] eVoloshchak commented on #11851
@wildan-m, cool, thank you for the thorough explanation!
This resolves the issue for me too, latest firefox 07.1.0

However, I'm not sure what we do with such workarounds, this is not fixing the root cause. But I doubt this will be fixed in firefox any time soon, so I think it's worth reporting this bug to firefox and implementing a workaround in the meantime

@roryabraham, what are your thoughts?

[2022-11-17 17:14] lschurr commented on #12290
Cool, are we moving forward then or do we need an update to the proposal from @kerupuksambel?

[2022-11-17 17:22] grgia commented on #12822
Looking into this! It's not from that commit though, they were changed back in the final

[2022-11-17 17:25] youssef-lr commented on #12781
Here's a recording of the bug:

https://user-images.githubusercontent.com/9680864/202515139-1d188c8a-7723-4172-839a-46ed24b58dbf.mov

[2022-11-17 17:27] trjExpensify commented on #12781
I'm kind of confused. The steps in the OP are not the same as the steps in the video. Here's the flow following the video:

1. Launch the app
2. Log in with any account
3. Send a money request in USD while being online, e.g. $100. (no prior balance owed between either parties on the report)
4. Go offline
5. Send a second money request in a different currency, e.g. 100 AED. (The report total doesn'

[2022-11-17 17:27] s77rt commented on #11930
@eVoloshchak Looks like you didn't clear the cache.

[2022-11-17 17:29] eVoloshchak commented on #12018
@Julesssss, we have a proposal that streamlines behavior on all platforms except iOS. There it uses the native behavior of setting the cursor to the end. It seems like it's impossible to overcome this without using `setTimeount`, but still, should we wait for more proposals?

[2022-11-17 17:29] michaelhaxhiu commented on #7916
Rajat mentioned to me in a DM:

[2022-11-17 17:31] youssef-lr commented on #12781
That's the code in the client (incorrectly) subtracting 100 AED from $27.23 = -$72.77

Not sure what's happening here either. I didn't see this in my testing.

Correct data was fetched from the backend.

[2022-11-17 17:31] dangrous commented on #12257
This is now in review! It looks great now with the existing theme/colors, but we should discuss how/when we want to merge it, since it'll likely need some (hopefully small adjustment) once the new stuff is live.

I currently have it on hold, but what do we think is the best order?
* Push now and make a separate PR to clean up once the theme is live
* Keep it on hold until the theme is live, and ma

[2022-11-17 17:34] alex-mechler commented on #12784
Okay, after some testing on android and iOS, both show the blank line
<img width="945" alt="image" src="https://user-images.githubusercontent.com/22447860/202516766-65916fd7-af65-41d5-8595-32605132c2f4.png">

Given that a test with _no_ blank line in the middle properly shows as not having an extra blank line, it does actually feel like Web / Desktop are the problem here. Will update OP to add des