[2022-09-09 00:00] chiragsalian commented on #10901
Removing deploy blocker label since we're trying to get https://github.com/Expensify/App/pull/10908 out the door soon.

[2022-09-09 00:00] chiragsalian commented on #10883
:shipit:

[2022-09-09 00:00] #10883 closed

[2022-09-09 00:04] OSBotify opened #10916 "Deploy Checklist: New Expensify 2022-09-09"
**Release Version:** `1.1.99-4`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10477
- [x] https://github.com/Expensify/App/pull/10690
- [x] https://github.com/Expensify/App/pull/10763
- [x] https://github.com/Expensify/App/pull/10801
- [x] https://gi

[2022-09-09 00:05] mallenexpensify commented on #9542
We're putting all keyboard-related issues on hold for a bit while we discuss a more holistic approach to fixing them (also [this ](https://github.com/Expensify/App/issues/9620#top)and [this one](https://github.com/Expensify/App/issues/9252)).

@b1tjoy it's clear you've invested a lot of time into this issue, your proposal is extremely thorough and well-outlined.  You will be compensated for your w

[2022-09-09 00:09] mallenexpensify commented on #9620
We're putting all keyboard-related issues on hold for a bit while we discuss a more holistic approach to fixing them (also https://github.com/Expensify/App/issues/9542 and https://github.com/Expensify/App/issues/9252).

@ntdiary it's clear you've invested a lot of time into this issue, your proposal is extremely thorough and well-outlined. You will be compensated for your work, before discussing t

[2022-09-09 00:10] aneequeahmad commented on #9737
@Santhosh-Sellavel I'm working on unit test coverage and simple render test. I'm not an expert in writing unit tests. Will be hopefully done with it over the weekend. Are there any tests for tooltips already written for reference ? Will update soon here when the PR is ready. Thanks

[2022-09-09 04:04] dhairyasenjaliya commented on #10904
**Proposal**

- In that case, whereby the user cannot add leading zeros we should disable the save button to restrict saving those values

**Changes**

`isDisabled={!this.state.amount.length || parseFloat(this.state.amount) < 1} `

https://github.com/Expensify/App/blob/c9b41bff8b728073db85f38782b591a0fd4a9772/src/pages/iou/steps/IOUAmountPage.js#L276-L284

**Results**

<img src=https://user-images

[2022-09-09 04:50] cdraeger11 commented on #10772
Looks good to me!

[2022-09-09 04:52] cdraeger11 commented on #10620
Sorry I was looking at the dashboard. The copy looks good!

[2022-09-09 04:55] cdraeger11 commented on #9736
I was not looking at the correct dashboard.

[2022-09-09 06:11] thesahindia commented on #10514
Asked for the error message [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1662668904628029)

[2022-09-09 06:15] #9544 closed

[2022-09-09 06:15] #9557 closed

[2022-09-09 07:33] wildan-m commented on #10426
## Proposal

### Problem
Not sure, but I guess the layout resized when the validation message toggled.

### Workaround

According to this link:

https://www.geeksforgeeks.org/how-to-define-two-column-layout-using-flexbox/#:~:text=Approach%3A%20To%20create%20a%20two,all%20will%20come%20as%20columns.

We are required to add `100vh` height to create two column layout with a flexbox.

### Implementati

[2022-09-09 07:37] kadiealexander commented on #8349
@kidroca forgive my ignorance, do you know roughly when the new architecture is coming?

[2022-09-09 07:52] kadiealexander commented on #10327
Price doubled again!

[2022-09-09 08:20] marcaaron commented on #10912
I think it's a dupe so assigning myself to keep a close 👁️. We can close if my changes fix this (pretty confident they will).

[2022-09-09 08:37] tgolen commented on #10876
OK, thanks! Instead of returning early, should we instead try to create it?

[2022-09-09 08:37] tgolen commented on #10876
My concern is, what else will break if there is no custom unit?

[2022-09-09 08:43] NicMendonca commented on #10335
@thesahindia @rushatgabhane can you please accept the offers when you get a sec? Thanks!

[2022-09-09 08:46] tgolen commented on #10705
Yeah, I think taking a more critical look at the behavior that is "expected" in the issue description:

I don't actually think that's something that we want. I think that's a strange UX that I wouldn't expect as a user. I expect that the tab key would get me to the next input (or shift+tab for the previous). I don't think the arrow keys should do that.

I'll go ahead and close this out, but if any

[2022-09-09 08:46] #10705 closed

[2022-09-09 08:51] NicMendonca commented on #10688
Upwork job - https://www.upwork.com/jobs/~011321b50db78ac0db

[2022-09-09 08:59] luacmartins commented on #10469
Ah yea, there's no stack trace here. Let's close this out since it will be really hard to debug this without a trace.

[2022-09-09 08:59] #10469 closed

[2022-09-09 09:14] grgia commented on #10524
Should we go ahead and close this out since it's not reproducible, or keep it open for more retests? @neil-marcellini

[2022-09-09 09:15] thienlnam opened #10917 "Unable to sign in on staging"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to https://staging.new.expensify.com/
2. Logout if already logged in
3. Enter your email click on continue button

## Expe

[2022-09-09 09:20] thienlnam commented on #10917
Looks like the errors from this CSP rule here: https://github.com/Expensify/Cloudflare-Workers/blob/26d94b8fc324d03c8817b6860726c0ebc41770be/new.expensify.com/wrangler.toml

[2022-09-09 09:22] OSBotify commented on #10917
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-09 09:24] thienlnam commented on #10917
Related issue: https://github.com/Expensify/App/issues/10163
PR: https://github.com/Expensify/App/pull/10690

cc @mountiny
Looks like we are running into CSP errors with these changes

[2022-09-09 09:27] mountiny commented on #10917
Thanks for the ping, I will create a revert PR. Not sure if we can fix this fast

[2022-09-09 09:27] mountiny commented on #10163
I will revert the PR

[2022-09-09 09:27] thienlnam commented on #10917
I think we just need to try to update the CSP rule and can fix this

[2022-09-09 09:28] mountiny commented on #10917
Ah, where is that defined 🤔

[2022-09-09 09:28] thienlnam commented on #10917
Yeah, let's revert these changes and then make a PR to update CSP rules and then we can re-do these changes

[2022-09-09 09:31] thesahindia commented on #10335
Accepted 🚀

[2022-09-09 09:33] tgolen commented on #10876
Maybe the best thing would be to return early and add a log. That way we can determine how often it happens and on which policies it happens.

[2022-09-09 09:38] Julesssss commented on #10883
Thanks @chiragsalian

[2022-09-09 09:46] OSBotify commented on #10916
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10920) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.99-2` :rocket:

[2022-09-09 09:47] Julesssss commented on #10916
Hey @Expensify/applauseleads, I manually added the lock label because we have an important release today. Please take a look at this release checklist when ready :)

[2022-09-09 09:47] Santhosh-Sellavel commented on #10163
@mountiny I believe the reason for the regression is beyond our control, as this can be found, only testing after deploying the build.

@mountiny What's next here?

[2022-09-09 09:50] MonilBhavsar commented on #9391
I think if we do 1. and chat is removed when we navigate away, then 2. will not occur, right?

[2022-09-09 09:51] MonilBhavsar commented on #9239
Doing next week

[2022-09-09 09:51] MonilBhavsar commented on #10127
PR was merged

[2022-09-09 09:52] amyevans commented on #10876
Yeah I like that idea 👍

[2022-09-09 09:53] mountiny commented on #10163
@Santhosh-Sellavel We are adding an update to our servers which should hopefully resolve this, but just decided to revert this before weekend to make sure.

Any ideas how we could test if the requests work when made from `staging.new.expensify.com` before we would merge this PR again? Worst case we can just try to merge this and deploy once the servers will be updated (we havent realized this befo

[2022-09-09 09:54] mananjadhav commented on #9391
Okay then we remove the chat we navigate away. Thanks @MonilBhavsar

@mollfpr I didn't understand what you mean by root cause is the navigation?

[2022-09-09 09:55] #10440 closed

[2022-09-09 10:01] mollfpr commented on #9391
@mananjadhav What I think is, the expectation is already implemented and the issue is when refresh the browser the current chat is not last chat created.

[2022-09-09 10:12] #10533 closed

[2022-09-09 10:22] mountiny commented on #10917
Tested logging in staging after the revert and worked good.

[2022-09-09 10:23] MonilBhavsar commented on #9391
Yes agree 👍

[2022-09-09 10:24] luacmartins commented on #10654
I'm not sure that this is actually an issue. I've been testing the scroll in our platforms and they seem fine to me. I vote we close this issue. Does anybody else disagree? @AndrewGable @shawnborton since you commented here.

[2022-09-09 10:37] aldo-expensify commented on #10851
Replicated, this can be external

[2022-09-09 10:43] thienlnam commented on #10916
Checking off 10855 https://github.com/Expensify/App/pull/10855#issuecomment-1241789078

[2022-09-09 10:48] thienlnam commented on #10916
Checking off https://github.com/Expensify/App/pull/10690 since the revert in https://github.com/Expensify/App/pull/10920 just removed those changes

[2022-09-09 11:03] laurenreidexpensify commented on #10847
@rushatgabhane nah I'm only on prod and staging. Can you edit the repro steps to make it clear it's only reproducible there? Thanks :)

[2022-09-09 11:05] mountiny commented on #10163
Thats what we are adding! 🎉 should be good then. Thanks! Gonna ask @mdneyazahmad to raise the PR again once the server is ready

[2022-09-09 11:07] NikkiWines commented on #10427
Sounds like we're in agreement that this isn't work fixing / modifying at the moment. Closing!

[2022-09-09 11:07] #10427 closed

[2022-09-09 11:11] michaelhaxhiu commented on #10428
Doubling this job to $500

[2022-09-09 11:13] michaelhaxhiu commented on #10428
We should likely hold at $500 based on how we are handling other jobs.

[2022-09-09 12:08] puneetlath opened #10923 "[Hold for payment 2022-10-04] [$250] Add a rotating slate of placeholder text for Concierge chat"
Creating this issue as a mirror to this E/E issue, so that the ContirbutorPlusReview label can be used.

https://github.com/Expensify/Expensify/issues/209924

[2022-09-09 12:33] varshamb commented on #10904
### Proposal

We should add REGEX to check the entered value on `IOUAmountPage` and also give message or error message if entered value doesn't match REGEX.

[2022-09-09 12:39] abekkala commented on #10620
@cdraeger11 Did you already triage this? Or did you reapply the triage label to have someone else triage?

[2022-09-09 12:39] thesahindia commented on #10905
Hi, I had reported it [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1661937997800789).
It's more noticeable in iPad

https://user-images.githubusercontent.com/83179295/189351776-bf687433-caf6-41f0-9d40-bb45b2f73def.mov

[2022-09-09 12:40] puneetlath commented on #10923
@Santhosh-Sellavel sorry for the confusion. You can go ahead and review the PR here:

I'll get an Upwork job created for you: https://github.com/Expensify/App/pull/10899

[2022-09-09 12:42] michaelhaxhiu commented on #10107
Doubling price again

[2022-09-09 13:34] kavimuru opened #10924 "iOS - Workspace - App crashes when making changes to Track distance units in offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Create a workspace while offline
2. Choose Reimburse expenses
3. In the Track dis

[2022-09-09 13:57] NicMendonca commented on #10335
paid! thanks, both!

[2022-09-09 13:57] #10335 closed

[2022-09-09 14:37] kbecciv opened #10925 "[$250] Web - infinite spinner when clicking on Concierge icon, also it displayed as the default icon for new accounts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Create and validate expensifail new account
3. Click on Concierge icon

## Exp

[2022-09-09 14:38] OSBotify commented on #10925
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-09 14:38] kbecciv commented on #10925
We logged similar issue on build 1.1.94.4 https://github.com/Expensify/App/issues/10699

[2022-09-09 14:45] Julesssss commented on #10925
This seems distinct from the linked issue. Let's solve this on this issue

[2022-09-09 14:52] shawnborton commented on #10654
I mostly use NewDot desktop app with an external mouse and scroll wheel and I haven't experienced this personally. So I would lean on someone to test the scenario in which is described above (trackpad + NewDot web) to see if it feels funky there still?

[2022-09-09 15:23] Julesssss commented on #10916
@mvtglobally yeah 👍

[2022-09-09 15:26] kbecciv opened #10926 "[$250] Emojies - Change default skin tone option returns to its original color"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Go to any conversation
4. Click emoji
5. Сhoose ski

[2022-09-09 16:11] youssef-lr commented on #10925
Is it normal that I don't see Concierge right away after creating a new account?

<img width="1800" alt="Screen Shot 2022-09-09 at 17 11 05" src="https://user-images.githubusercontent.com/9680864/189394466-801a61a7-0756-4932-aa79-5ac276b6290c.png">

[2022-09-09 16:18] kbecciv opened #10927 "Workspace settings - Changes saved offline are not saved when connected to the Internet"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with any account
2. Go to settings->Workspace->General settings (create

[2022-09-09 16:19] OSBotify commented on #10927
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-09 16:44] kavimuru opened #10928 "Web - IOU - Numbers added after decimal point are appearing preceding the decimal point"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com and login
2. Select a group and select option "Split bill"
3. Enter a decimal point and then n

[2022-09-09 17:17] luacmartins commented on #10927
I wasn't able to reproduce this on staging web. @kbecciv is this consistently reproducible by the team?

[2022-09-09 17:22] luacmartins commented on #10925
I'm also unable to reproduce this. @kbecciv is this consistently reproducible by the team?

https://user-images.githubusercontent.com/22219519/189408947-9b844a68-aea5-467c-8b13-4c55dec07c74.mov

[2022-09-09 17:23] youssef-lr commented on #10927
I wasn't able to reproduce this either.

[2022-09-09 17:29] thesahindia commented on #10831
@danieldoglas, are there any steps to repro an error for avatarURL?

[2022-09-09 17:35] mvtglobally commented on #10916
I am going offline for few hrs. We are at 17% left. Should be done soon.

2 Blockers right now
https://github.com/Expensify/App/issues/10925
 https://github.com/Expensify/App/issues/10927

[2022-09-09 17:40] mallenexpensify commented on #4324
Randomly stumbled upon this, STOKED for it, thanks for working on it @Karim-30 , @Santhosh-Sellavel , @stitesExpensify , @adelekennedy

[2022-09-09 17:50] kbecciv opened #10930 "[$250] IOU - "0" is not recognized as text in field."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com and log in
2. Select any user
3. Tap in "+" icon and select Request payment,.
4. Insert any va

[2022-09-09 17:54] mananjadhav commented on #9283
@trjExpensify Quick bump on Upwork payment.

[2022-09-09 18:10] kbecciv opened #10931 "[$500] After clicking `Add attachment` the keyboard toggles back for a split second"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Open any conversation
4. Tap on the compose box to make sure the keyboard is open

[2022-09-09 18:16] nkuoch commented on #10620
Double checking with @marcaaron Do you think it can be external?

[2022-09-09 18:34] marcaaron commented on #10620
I would guess it's related to an API refactor. But without knowing the root cause a bit hard to say. Maybe we can put an `Internal` label on it for now and then `External` after someone looks into it a bit more.

[2022-09-09 18:39] MonilBhavsar commented on #10925
In newly created account, I don't see concierge chat at all. Is this expected or is it because of some beta?

@youssef-lr Did you do anything? and after how much time did it appear?

[2022-09-09 18:41] youssef-lr commented on #10925
Concierge chat only appears to me after I sign up on OldDot with the newly
created account.

On Fri, 9 Sep 2022 at 19:40 Monil Bhavsar ***@***.***> wrote:

[2022-09-09 18:44] Puneet-here commented on #10509
I think we won't need this issue as this is going to get refactored, we are going to use push to page for this. https://github.com/Expensify/App/issues/10493#issuecomment-1229930529

[2022-09-09 19:31] Santhosh-Sellavel commented on #10486
This issue is no longer reproducible in the main @parasharrajat!

[2022-09-09 19:33] Santhosh-Sellavel commented on #10486
Should be resolved this PR https://github.com/Expensify/App/pull/10591

[2022-09-09 20:00] Santhosh-Sellavel commented on #10486
But still, the changes proposed here are worth doing as they are missed out while refactoring is done [here](https://github.com/Expensify/App/pull/10140).

[2022-09-09 20:28] Santhosh-Sellavel commented on #10731
@Expensify/design @iwiznia

Need some clarifications

What's the expected behavior here?
When should we set focus on the chat composer?
- [ ] On a new chat is created and opened
- [ ] On a new group chat is created and opened
- [ ] On a new chat is created by an IOU request and opened the chat
- [ ] On a new group is created by an IOU Split and opened the chat

Should the focus be set only when th

[2022-09-09 21:27] Luke9389 commented on #10233
Thank you @jayeshmangwani for your proposal. It's very clear and well written, but I'm not confident that this is the best solution. Would you be willing to explain
- Why requestResetFreePlanBankAccount crashes when bankAccountID is null
- Why the solution involves Navigation.goBack(); instead of navigateToBankAccountRoute

[2022-09-09 22:10] mananjadhav commented on #10530
@luacmartins @Santhosh-Sellavel @rushatgabhane @neil-marcellini RCA doc and the RCA spreadsheet updated. Apologies for the delay, this stopped giving notifications and it got slipped.

[2022-09-09 22:20] shawnborton commented on #10731
Hmm maybe just when a new chat or group is created and opened, but not after a new IOU or Split is created?

[2022-09-09 22:20] shawnborton commented on #10731
This might be a good one to bring to the open source room for more visibility though!

[2022-09-09 23:29] mallenexpensify commented on #8791
Sorry this took forever.  There was a lot of discussion .

@Santhosh-Sellavel was hired to fix the job.  Due to limitations beyond the control of us/Expensify and Santhosh, the bug hasn't been fixed yet.  As time has passed working on this issue and we've learned more about the issue and options to fix it, we've decided to close this issue and not move forward with a fix.  If @Santhosh-Sellavel wo

[2022-09-10 08:50] thienlnam commented on #10437
Same as above

[2022-09-10 09:57] nimamt commented on #9823
"Definitely a contributor-worthy issue!"
"This is not yet fixed. It would be relatively complex to achieve but I am open to ideas."
"We already closed a similar issue in the past due to a complex solution."
Well, you did know it was complex from the beginning, why waste my time? :-)

[2022-09-10 10:41] nimamt commented on #9823
Besides, I've also given you a simple solution: Close the modal when navigation happens

[2022-09-10 12:05] aneequeahmad commented on #10885
@joekaufmanexpensify this issue is still reproducible on production v1.1.98-1. I feel like the navigation functionality of settings page overall needs improvements.

Video attached:

https://user-images.githubusercontent.com/36359331/189482483-e4494c2c-8dab-4724-93a4-3dcbb3864be0.mov

[2022-09-10 12:07] jayeshmangwani commented on #10233
@Luke9389

https://github.com/Expensify/App/blob/3cb5dbf159bf29b7d4a563ea75450844d8567ad6/src/libs/actions/ReimbursementAccount/resetFreePlanBankAccount.js#L13-L16

we are checking for bankAccountID in the resetFreePlanBankAccount function here, and if bankAccountID is not available then we are throwing error, that's why we are getting crash when bankAccountID is null

if we are using navigateToBa

[2022-09-10 14:31] quidam93 commented on #10865
In my opinion, extra padding can cause visual bugs on different devices and my solution doesn't change anything in the UI but it is of course your decision. Thanks for the consideration!

[2022-09-10 14:48] quidam93 commented on #10865
@rushatgabhane good to hear! Have a nice day.

[2022-09-11 09:17] stephanieelliott commented on #9545
PR is awaiting internal review!

[2022-09-11 09:25] stephanieelliott commented on #10509
What do you think @tgolen, shall we close this in favor of https://github.com/Expensify/App/issues/10493#issuecomment-1229930529?

[2022-09-11 16:47] mountiny commented on #10917
@kevinksullivan Would you be able to pay out @mdneyazahmad for reporting this bug. Thank you!

[2022-09-11 16:57] mountiny commented on #10163
@mdneyazahmad The changes were deployed in the server, can you please raise the PR again? You can find the `staging.expensify.com` server in the curl output.

@NicMendonca Even though there was a regression from this PR, I would say we should not treat this agains the contributors or c+. The regression was caused by a servers settings, which we did not realize before.

[2022-09-11 17:10] aldo-expensify commented on #10551
I'm going to return this to the pool to give it more visibility because I'm going on vacation.

[2022-09-11 17:11] aldo-expensify commented on #10551
I won't look for another CME as this is `internal` for now.

[2022-09-11 17:12] aldo-expensify commented on #9582
Sorry @luacmartins , didn't have enough time to get to this before the end of last week. I'll assign it back to you so you can decide on doing it yourself or finding someone else :)

[2022-09-11 17:19] aldo-expensify commented on #10925
@youssef-lr yes, there is a bug that is causing that accounts under a domain with domain chat don't get the Concierge chat created. This should be fixed soon in production when this PR is deployed: https://github.com/Expensify/Web-Expensify/pull/34790 .

[2022-09-11 17:21] aldo-expensify commented on #9582
@luacmartins I asked in slack if someone wanted to give this a try [here](https://expensify.slack.com/archives/C03TQ48KC/p1662916489320259) and @youssef-lr offered to help (just letting you know)

[2022-09-11 19:13] aldo-expensify commented on #10925
I failed to reproduce... but I did have to go to OldDot to get the Concierge chat created. @kbecciv how did you get to have the Concierge chat following the steps listed? those steps with a expensifail account end up without a Concierge chat.

[2022-09-11 20:21] ctkochan22 commented on #10493
Crazy week, will look tomorrow

[2022-09-11 22:00] amyevans commented on #10896
I wasn't able to reproduce this either on my iOS device build 1.1.98 or locally on the `main` branch:

https://user-images.githubusercontent.com/7277067/189550470-85c9ea0c-d0e1-47a4-8943-40ccf82c647a.mov

@kavimuru could you retest and let me know if you can still reproduce?

Also just a note that I'll be OOO through 9/20 (but will check in periodically).

[2022-09-12 06:27] techievivek commented on #10766
I tested this locally and doesn't seem like it's an issue. Also, as @PauloGasparSv mentioned this is something particular to the emulator so I am closing this one for now.

[2022-09-12 06:27] #10766 closed

[2022-09-12 06:50] #9209 closed

[2022-09-12 06:50] #9571 closed

[2022-09-12 06:53] kadiealexander commented on #10446
Reassigning as I'm ooo for the next 9 days.

[2022-09-12 06:56] kadiealexander commented on #9620
Just adding a note that I'm OOO for the next 9 days until September 21st. As this is on hold I won't reassign it, but if you need a contributor manager to do anything before that point please reapply the `external` label.

[2022-09-12 06:58] kadiealexander commented on #6883
Just adding a note that I'm OOO until September 21st. As this is on hold I won't reassign it, but if you need a contributor manager to do anything before that point please reapply the `external` label.

[2022-09-12 06:58] kadiealexander commented on #8595
Just adding a note that I'm OOO until September 21st. As this is on hold I won't reassign it, but if you need a contributor manager to do anything before that point please reapply the `external` label.

[2022-09-12 06:59] kadiealexander commented on #8595
Reassigning as I'm ooo for the next 9 days.

[2022-09-12 07:00] kadiealexander commented on #9809
Just adding a note that I'm OOO until September 21st. As this is on hold I won't reassign it, but if you need a contributor manager to do anything before that point please reapply the `external` label.

[2022-09-12 07:04] kadiealexander commented on #10905
Reassigning as I'm ooo for the next 9 days.

[2022-09-12 07:09] kadiealexander commented on #10233
Reassigning as I'm ooo for the next 9 days.

[2022-09-12 07:10] kadiealexander commented on #10826
Reassigning as I'm ooo for the next 9 days.

[2022-09-12 07:11] techievivek commented on #10029
Going to pass it to external contributors.

[2022-09-12 07:11] kadiealexander commented on #10412
Reassigning as I'm ooo for the next 9 days.

[2022-09-12 07:12] kadiealexander commented on #10362
Just adding a note that I'll be OOO for the next 9 days, until September 21st. If you need a CM in that time, please re-add the  `external` label.

[2022-09-12 07:13] kadiealexander commented on #10327
Reassigning as I'm ooo for the next 9 days.

[2022-09-12 07:15] kadiealexander commented on #10036
Reassigning as I'm ooo for the next 9 days.

[2022-09-12 07:15] techievivek commented on #9181
I think this can be worked externally so passing it to contributors.

[2022-09-12 07:17] kadiealexander commented on #9702
Just adding a note that I'll be OOO for the next 9 days, until September 21st. If you need a CM in that time, please re-add the external label.

[2022-09-12 07:28] techievivek commented on #8589
Let me see if it can be worked this week.

[2022-09-12 07:35] techievivek commented on #10928
@eVoloshchak Is this in any way related to your changes?

[2022-09-12 07:45] luacmartins commented on #10729
I'm ooo until Wednesday. Will come back to this when I'm back!

[2022-09-12 07:48] eVoloshchak commented on #10928
Yes, I think it's a regression from https://github.com/Expensify/App/pull/10028. I'll be able to revert the PR and verify this in ±14 hours.

[2022-09-12 08:27] grgia commented on #10930
I was able to replicate it and started a conversation [here](https://expensify.slack.com/archives/C03TQ48KC/p1662970664620939) to make sure it's not intentional. I am currently looking into how we handle that input

[2022-09-12 08:43] Beamanator commented on #10198
Just waiting payment, company event just finished last friday so i'm sure we'll get to this very soon :D

[2022-09-12 08:51] JmillsExpensify commented on #9662
@Santhosh-Sellavel I created another offer for you and invited here: https://www.upwork.com/jobs/~012cd72d809c0e7808

[2022-09-12 09:04] Beamanator commented on #10830
Took away `Help Wanted` and added HOLD so we don't get any proposals for this while we're waiting for someone to take over the keyboard issues initiative :D

[2022-09-12 09:08] Julesssss commented on #10925
I am also unable to reproduce after creating a new account on old dot.

@yuwenmemon I'm removing the deployBlocker label as **A)** It's not consistently reproducible, and **B)** it's a pretty minor issue (users can still chat with concierge)

[2022-09-12 09:09] Julesssss commented on #10916
Checked off #10925 as it's not always reproducible, and isn't a major problem as users can still chat to concierge.

[2022-09-12 09:16] Julesssss commented on #10927
I wasn't able to reproduce on web or mWeb either. As the third person to report this I'm going to remove it as a deploy blocker and we can keep the issue open to investigate further.

I briefly saw the old workspace name flash up when my connection was established, maybe that's a hint for why this issue occurs for some users.

[2022-09-12 09:17] Julesssss commented on #10916
I also checked off #10927 as it's not reproducible by three internal employees.

[2022-09-12 09:25] grgia commented on #10524
Changed to weekly since it's not reproducible on a daily basis, let's see if next retests look good

[2022-09-12 09:26] OSBotify commented on #10876
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-12 09:26] Julesssss commented on #10876
I made this a deployBlocker as it is a new regression only affecting the current [release candidate](https://github.com/Expensify/App/issues/10916). We should fix it ASAP because it's the last remaining issue blocking todays release.

[2022-09-12 09:29] Julesssss commented on #10876
@bfitzexpensify would you mind closing out the UpWork job, thanks!

[2022-09-12 09:37] dylanexpensify commented on #9579
Any updates @mananjadhav ?

[2022-09-12 09:37] dylanexpensify commented on #10851
not overdue - reviewing today!

[2022-09-12 09:38] mananjadhav commented on #9579
PR is under review, and I've raised 1-2 comments on the PR [here](https://github.com/Expensify/App/pull/10900#pullrequestreview-1102769292)

[2022-09-12 09:50] afmire877 commented on #10033
MR has been merged 🎉

[2022-09-12 09:59] Julesssss commented on #9250
Hey @parasharrajat, do you have a moment to review these?

[2022-09-12 10:06] MitchExpensify commented on #10510
Lil bump @ctkochan22

[2022-09-12 10:10] MitchExpensify commented on #10027
Thoughts on doubling this one @deetergp ?

[2022-09-12 10:11] MitchExpensify commented on #7918
Waiting on [this](https://github.com/Expensify/App/issues/7918#issuecomment-1235481391)

[2022-09-12 10:24] mountiny commented on #10163
Thanks!

[2022-09-12 10:49] iwiznia commented on #8541
Not overdue

[2022-09-12 11:20] Julesssss commented on #9252
No further proposals received.

[2022-09-12 11:22] danieldoglas commented on #10831
@thesahindia No, just for avatar. It is already treating avatarURL, as seen [here](https://github.com/Expensify/App/blob/a944496cfd9cd21b799c82a8128964b05dd50b42/src/pages/workspace/WorkspaceInitialPage.js#L85), so we shouldn't have any errors.

[2022-09-12 11:41] iwiznia commented on #10731
I think it's all of them. If I am left in a chat, I expect to be able to write directly in the chat, if it is not focused on the composer, where is it focused on and is it useful to be focused on that element?

But yeah, maybe bringing the conversation to the slack channel is a good idea.

[2022-09-12 11:57] oogushikun commented on #10608
Proposal

Root cause
The issue here is Safari ignores element that have overflow: hidden when said element is transitioning. In this case, it's the sectionList that's being rendered inside the IOUParticipantsPage:

https://github.com/Expensify/App/blob/0825a4e001df6ac5b19ac89ca3ab216ee4450400/src/pages/iou/IOUModal.js#L422-L433

Solution

Adding the following styles to the component.

[code]

No b

[2022-09-12 12:01] madmax330 commented on #9084
@iwiznia why did you put 👎🏽  on the regression comment? The issue that it mentioned (https://github.com/Expensify/App/issues/10902) is the same as this one no?
So there was a regression somewhere right?

[2022-09-12 12:02] madmax330 commented on #10902
Commented in another issue where this was already fixed

[2022-09-12 12:10] miljakljajic commented on #10772
already triaged - adding engineering

[2022-09-12 12:10] iwiznia commented on #9084
This issue was closed with no changes, so it can't have caused a regression. We decided this is not a bug.

[2022-09-12 12:10] #9084 closed

[2022-09-12 12:18] #10902 closed

[2022-09-12 12:23] dylanexpensify commented on #10917
I can tackle this!

[2022-09-12 12:26] dylanexpensify commented on #10917
internal: https://www.upwork.com/ab/applicants/1569301205602381824/job-details
external: https://www.upwork.com/jobs/~01f0713bffe19757cae

[2022-09-12 12:26] dylanexpensify commented on #10917
@mdneyazahmad ^ 😄

[2022-09-12 12:27] dylanexpensify commented on #10851
internal: https://www.upwork.com/ab/applicants/1569301687904317440/job-details
external: https://www.upwork.com/jobs/~012db7ac764c9ff33b

[2022-09-12 13:16] puneetlath commented on #8541
@dharmik can you please accept the Upwork offer so that we can pay you out and close this issue.

[2022-09-12 13:23] jasperhuangg commented on #10493
Hey @rushatgabhaneI sorry I missed your message! The PR is definitely on prod now, you wanna look for usages of the `DotIndicatorMessage` component.

[2022-09-12 13:27] puneetlath commented on #10886
@mollfpr very clear proposal thanks. Let's do it!

[2022-09-12 13:51] laurenreidexpensify commented on #10426
@puneetlath can you please take this one over for @NikkiWines who is OOO this week. Thanks

[2022-09-12 14:32] jboniface commented on #9427
any update here? @Luke9389 / @mananjadhav

[2022-09-12 15:11] trjExpensify commented on #10221
@parasharrajat, confirming that we still are waiting on #10827 here right? Let's remove the payment hold from the title for the time being.

[2022-09-12 15:15] mollfpr commented on #10886
Applied to Upwork and PR raised, thanks!

[2022-09-12 15:21] Julesssss commented on #10876
Looking at the [Firebase stack trace,](https://console.firebase.google.com/u/0/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/9169b0f2a0ed276fad34337d803104de?time=last-seven-days&versions=1.1.99-2%20(1001019902)&sessionEventKey=631B202A034A00014D11FDBA7DC394EC_1719782693429934498) it looks like the issue is with the functions object param missing a `customUnitID` prop:

[2022-09-12 15:21] dylanexpensify commented on #10917
https://www.upwork.com/jobs/~01f0713bffe19757ca huh - try this link? Or send me your name and I'll invite you to the job!

[2022-09-12 15:22] sobitneupane commented on #4733
**Proposal:**
Since we cannot accurately calculate width a given text will occupy, I propose to split text into characters and display each character with different `<Text>` component.
[code]

[2022-09-12 15:22] trjExpensify commented on #9734
This is held, Melv.

[2022-09-12 15:33] trjExpensify commented on #6154
👋 @chiragsalian @rushatgabhane I'm back from OOO. Confirming the breakdown in Slack.

[2022-09-12 15:33] dylanexpensify commented on #10917
Offer sent!

[2022-09-12 15:35] kbecciv opened #10939 "[HOLD] [$1000] Web - Closing Connect bank account drawer doesn't show the right URL @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open web app https://new.expensify.com/
2. Click on user icon on LHN to open setting.
3. Click on user's workspace.
4. Click o

[2022-09-12 15:38] dylanexpensify commented on #9181
internal: https://www.upwork.com/ab/applicants/1569349523573489664/job-details
external: https://www.upwork.com/jobs/~0119fed71c9d8ea05a

[2022-09-12 15:43] trjExpensify commented on #9283
Yep, I've been OOO. Sorry! So looking at the Upwork job, we've already settled up with @liyamahendra a while back. @NicMendonca might have some insight into that, but seems like we're settled:

<img width="681" alt="image" src="https://user-images.githubusercontent.com/16232057/189696878-2aa0797f-4c32-4326-8276-b0c079cd30ed.png">

As for C+ payment @mananjadhav, I've settled up with you.

Going to

[2022-09-12 15:58] #10876 closed

[2022-09-12 15:59] neil-marcellini commented on #10772
I agree that this should be fixed so that it only shows when you have entered an invalid phone number with brackets or dashes. Also, this is error text so I think the form should be outlined in red and the text should also be red. We should follow the error guidelines is [FORMS.md](https://github.com/Expensify/App/blob/8e07c62fb9780c627106f45eb72614466a850f27/contributingGuides/FORMS.md#L124-L128)

[2022-09-12 16:03] neil-marcellini commented on #10524
Good plan. If it looks good next week we can definitely close it.

[2022-09-12 16:07] OSBotify commented on #10916
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10937) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.99-3` :rocket:

[2022-09-12 16:07] OSBotify commented on #10916
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.99-3 has been deployed to staging :tada:

[2022-09-12 16:16] neil-marcellini commented on #10906
Looks like a legitimate problem and would be a good external issue.

[2022-09-12 16:19] trjExpensify commented on #10327
Oh, hm. @Julesssss - weren't you looking at a broader proposal for improving notifications in NewDot. Wouldn't this be included in that initiative?

[2022-09-12 16:22] Puneet-here commented on #10772
I am not sure about showing it as red and making the field red because this is a hint which we just need to show when user searches an invalid phone, so the user will know that they shouldn't use hyphen and bracket and if the user still searches a number like this and tries to create a chat then we are already showing an error.

[2022-09-12 16:23] SyedZain714 opened #10943 "Start Web App"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

--->
Where is this issue occurring?
 Having issue with running the project

- Web

**Version Number:**
**Reproducible in staging?:**
**Reproducible in

[2022-09-12 16:23] #10943 closed

[2022-09-12 16:24] neil-marcellini commented on #10530
Which row in [the spreadsheet](https://docs.google.com/spreadsheets/d/1u73RE8J1DdX3mDohV1RXgulF6_cke3N_a15Sk-UUdQo/edit?usp=sharing)?

[2022-09-12 16:25] Julesssss commented on #10327
Yep, I added this to [the list](https://github.com/Expensify/Expensify/issues/219254) but let's keep it open for external contributors in the meantime.

[2022-09-12 16:26] mananjadhav commented on #10530
Row 23, with date of regression `Aug 24, 2022`

[2022-09-12 16:28] Julesssss commented on #10916
A PR was just merged to resolve https://github.com/Expensify/App/issues/10876, but the release failed 😭 Looking into this now.

[2022-09-12 16:31] neil-marcellini commented on #10530
Thanks, great job on that! Did you send a summary in #expensify-open-source and could you please link it in the spreadsheet?

[2022-09-12 16:32] trjExpensify commented on #10514
I've bumped the thread to see if we have this error message on OldDot already to re-use in English, and then obtain a Spanish translation for.

[2022-09-12 16:33] deetergp commented on #10925
I'm pretty sure this can be worked on by an external contributor.

[2022-09-12 16:36] MariaHCD commented on #10701
No obvious errors in the [logs](https://www.expensify.com/_devportal/tools/logSearch/#sort=asc&size=10000&query=blob%3A%22Policy_Employees_Remove%22%20AND%20email%3A%22emilio.utest%40gmail.com%22%20AND%20timestamp%3A%5B2022-08-29T00%3A00%20TO%202022-08-31T23%3A59%5D). Will look into it further.

[2022-09-12 16:36] OSBotify commented on #10916
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10942) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.99-4` :rocket:

[2022-09-12 16:38] Julesssss commented on #10916
Okay, this one seemed to be successful. Builds are in [progress](https://github.com/Expensify/App/actions/runs/3038990393) and should be released within an hour 🎉

[2022-09-12 16:38] abekkala commented on #10939
I was able to reproduce

[2022-09-12 16:44] jboniface commented on #10927
I was also not able to repro this on staging on web. @kbecciv please retest.

[2022-09-12 16:46] jboniface commented on #10905
[job post](https://www.upwork.com/jobs/~0114bac5a1cd694de8)

[2022-09-12 16:47] deetergp commented on #10755
Not overdue, still awaiting proposals.

[2022-09-12 16:47] deetergp commented on #10068
No updates. Will try to look at it this week.

[2022-09-12 16:59] trjExpensify commented on #10327
Okay, but don't we run the risk of just another piecemeal fix ere, versus holistically revisiting notifications?

[2022-09-12 17:41] kbecciv commented on #10822
@shawnborton This is issue reported by Applause - Interna Team, so we don't provide the link for Slack conversation on those bugs.

[2022-09-12 17:46] kbecciv commented on #10939
@mdneyazahmad Corrected reporter

[2022-09-12 17:48] Luke9389 commented on #4733
Could we not use something like this? https://stackoverflow.com/questions/118241/calculate-text-width-with-javascript

[2022-09-12 17:49] kbecciv commented on #10927
@jboniface Checking with team, will update you shortly.

[2022-09-12 17:49] Luke9389 commented on #9427
Hey @jboniface & @mananjadhav, I still haven't had a cycle to come back to this. I'll be updating soon.

[2022-09-12 18:00] kbecciv commented on #10927
@jboniface @luacmartins @youssef-lr Unable to reproduce it with build 1.1.99.4

https://user-images.githubusercontent.com/93399543/189724150-484185f3-7be9-455d-8e74-0284e23c3eac.mp4

[2022-09-12 18:02] jasperhuangg commented on #10897
Looking into this!

[2022-09-12 18:14] jasperhuangg commented on #10897
Yup, can confirm that this is still happening on staging. I'm assuming it's related to https://github.com/Expensify/App/issues/10878 and https://github.com/Expensify/App/issues/10897 and that they'll all be fixed together in the same PR?

@thienlnam is this flow supposed to work as described with your new changes from https://github.com/Expensify/App/pull/10723? Looks like as soon as I get online

[2022-09-12 18:20] jasperhuangg commented on #10897
Ooof I'm also just seeing https://github.com/Expensify/App/pull/10749, which feels like it's also related cc @puneetlath

If the workspace isn't even being created when we go back online then none of the subsequent workspace details updates will go through.

[2022-09-12 18:21] Santhosh-Sellavel commented on #10622
Not overdue.

Need to check on other platforms too!

[2022-09-12 18:22] Santhosh-Sellavel commented on #10622
@christianwen have you checked other platforms, does a crash occur there?

[2022-09-12 18:23] ctkochan22 commented on #10926
So the main issue is that `this.props.preferredSkinTone` bounces between a number and a string.

1. We have a preferred skintone set, either a number `0,1,2,3,4` or a string `"default"`.
2. When we first load the emoji modal, [EmojiSkinToneList](https://github.com/Expensify/App/blob/a0765727dcc92d729ebf0b6acc47a41df728b681/src/components/EmojiPicker/EmojiSkinToneList.js#L38) will get the preferred

[2022-09-12 18:24] Santhosh-Sellavel commented on #9662
Thanks, applied! @JmillsExpensify

[2022-09-12 18:30] Santhosh-Sellavel commented on #10731
Thread is [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1662989446760309) for discussion

[2022-09-12 18:31] kbecciv commented on #10896
@amyevans Issue is still reproduceable with build 1.1.99.2

https://user-images.githubusercontent.com/93399543/189729580-be5a91ac-c51a-4dc4-baf7-4065b533d549.mp4

[2022-09-12 18:35] PauloGasparSv commented on #10931
It looks like a problem when the virtual keyboard is opened because it toggles back for a split second right?
Adding the External label for this.

[2022-09-12 18:52] kevinksullivan commented on #9234
Hm I'm not familiar with the auto approval feature but I do see it was paid. @mallenexpensify are you familiar with that?

[2022-09-12 19:03] JmillsExpensify commented on #10765
Bumping this to $500 to encourage proposals.

[2022-09-12 19:04] JmillsExpensify commented on #10824
Missed this in the end of offshore shuffle. Posting now.

[2022-09-12 19:06] Luke9389 commented on #10851
This feels _barely_ worth pursuing. It's an edge case that's so slim, I doubt it's worth our time. The only reason I see to continue is that it might indicate a flaw in the design of the search page logic.

[2022-09-12 19:06] JmillsExpensify commented on #10824
Upwork job created here: https://www.upwork.com/jobs/~0135398a55eee993ef. We're open for proposals.

[2022-09-12 19:07] thesahindia commented on #10831
I was trying to produce an error for avatarURL key, I wanted to check the general settings page when we get error at `avatarURL` because we aren't checking `avatarURL` for errors at general settings ([Code](https://github.com/Expensify/App/blob/c8018b296ec6c1d84a7d5d8013feefb7d2a558de/src/pages/workspace/WorkspaceSettingsPage.js#L106))

So just to confirm, we will be adding another OR operator her

[2022-09-12 19:09] kevinksullivan commented on #10505
Sorry was OOO and missed this. I personally find this worth solving, as someone who tends to send messages and immediately realize I had a typo. I've been in a situation where I am waiting for the quick actions multiple times. Posted to upwork.

https://www.upwork.com/jobs/~01f810d9e8a82dc10c

[2022-09-12 19:23] jboniface commented on #10927
thanks, closing!

[2022-09-12 19:23] #10927 closed

[2022-09-12 19:48] Luke9389 commented on #10888
Odd, this one doesn't show up on my K2 at all... 🤔

[2022-09-12 19:50] Luke9389 commented on #10888
@arielgreen is OOO today (she's heading back to the States). We can export this tomorrow.

[2022-09-12 20:44] marcochavezf commented on #8311
Commenting on the [slack discussion](https://expensify.slack.com/archives/C01GTK53T8Q/p1663015463167629?thread_ts=1662392381.977999&cid=C01GTK53T8Q).

[2022-09-12 20:56] jasperhuangg commented on #10505
Not sure if adding `External` was the right move here but this can totally be investigated by an external contributor.

[2022-09-12 20:59] andrewlor commented on #10767
# Proposal

## Context
`ReportActionsView.js` is listening to the change event on AppState to update the `newMarkerSequenceNumber` (essentially where the new marker should be displayed).

https://github.com/Expensify/App/blob/main/src/pages/home/report/ReportActionsView.js#L103-L115

However, it will not do so unless `this.getIsReportFullyVisible()` is true.

https://github.com/Expensify/App/blob/

[2022-09-12 21:14] trjExpensify commented on #7862
I think it would be good to re-evaluate once the job is complete at this point.

[2022-09-12 21:20] neil-marcellini commented on #10744
Still waiting for proposals, I'll ping it in Slack.

[2022-09-12 21:32] neil-marcellini opened #10947 "[$1000] 2FA input automatically inserts dashes and breaks"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Sign out (if needed)
2. Enter an email that has 2FA enabled
3. Click Sign in
4. Enter the password
5. Click Sign in
6. Type a

[2022-09-12 21:36] neil-marcellini commented on #10947
This is likely a good external issue.

[2022-09-12 21:48] jasperhuangg commented on #10365
@MitchExpensify were you able to pay out @Puneet-here for discovering the issue?

[2022-09-12 21:55] OSBotify commented on #10916
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.99-4 has been deployed to staging :tada:

[2022-09-12 21:58] neil-marcellini opened #10948 "Avatar and name missing for first messages on default workspace rooms created offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign into an account
2. Go offline
3. Create a workspace. If you don't have any workspaces, click the green plus, New workspac

[2022-09-12 21:59] francoisl commented on #10916
The iOS build was hanging forever so I canceled it. So in short, 1.1.99-4 is deployed everywhere except iOS. I'm rerunning the canceled action now

https://github.com/Expensify/App/actions/runs/3038990393/jobs/4893392499

[2022-09-12 22:00] neil-marcellini commented on #10948
I will be fixing this with the CreatePolicyRoom refactor. See this comment where I explain what is happening https://github.com/Expensify/Expensify/issues/215186#issuecomment-1244411032.

[2022-09-12 22:09] Luke9389 commented on #10233
Hey @jayeshmangwani, thanks for those answers. I'm still not completely convinced that this is a good solution. At a high level, I don't like that we have an error set up for a missing bankAccountID, and now we are writing code that deliberately avoids that error.

See how that's not a good pattern?

I'm also unsure why we don't have a bankAccountID. Hasn't the user already provided one earlier in

[2022-09-12 22:34] arosiclair commented on #10615
Still on hold

[2022-09-12 22:40] marcochavezf commented on #10901
Probably related to this [issue](https://github.com/Expensify/App/issues/10897), I'm going to change the priority to daily.

[2022-09-12 22:43] swiftpipe commented on #4733
It means we don't must fixed this word but if the word exceeds `maxLengh` we will split them and when it renders will wrap with screen size.

This is my result when I use an iPad with 200 character

![Simulator Screen Shot - iPad Pro (12 9-inch) (5th generation) - 2022-09-13 at 05 31 47](https://user-images.githubusercontent.com/37079377/189770438-b843a3c9-7cf9-4c1c-bc17-e872f08c81ca.png)

If poss

[2022-09-12 22:53] mvtglobally commented on #10916
@francoisl
We got the IOS build around 1.45pm EST.
Not sure if the issue is not in build not publishing, but rather system not updating it published.
![IMG_5127](https://user-images.githubusercontent.com/43995119/189772173-efe31483-8b77-4cc6-9abb-599e142a4284.jpg)

[2022-09-12 23:02] francoisl commented on #10916
Interesting. The action got stuck after the build was sent to the AppStore, so it makes sense.
<img width="575" alt="image" src="https://user-images.githubusercontent.com/2229301/189772944-96f55a18-7358-4c26-bc90-69f5262e3596.png">

So for now, I think we just need to confirm that the regression https://github.com/Expensify/App/issues/10876 is fixed, by running the QA steps from https://github.com

[2022-09-12 23:16] kakajann commented on #10442
I looked into `react-native-pdf` repo issues on GitHub and a couple of issues are open about negative progress but no fix.

I wanted to get the progress and show it on UI by using `onLoadProgress` prop but it also doesn't work properly.
[code]
Result:
<img width="682" alt="Screen Shot 2022-09-13 at 4 10 12 AM" src="https://user-images.githubusercontent.com/11542415/189773937-8c6c64d1-2d6a-4609-b1b

[2022-09-12 23:34] mallenexpensify commented on #10551
Droppin' a HOLD on this til https://github.com/Expensify/Expensify/issues/227410 hits production. Assigned to myself to keep 👀 on

[2022-09-12 23:47] mallenexpensify commented on #10029
Holding cuz of main tracking issue https://github.com/Expensify/App/issues/10894
Want to wait til Rory's back then ping him to see if we should post the job or now

[2022-09-12 23:49] mallenexpensify commented on #9252
It's on HOLD for now @Julesssss, pending https://github.com/Expensify/App/issues/10273
Not sure why this was a Daily, bumped to Weekly for now

[2022-09-12 23:52] mallenexpensify commented on #10906
Job posted https://www.upwork.com/jobs/~01264199d22485a20a

[2022-09-13 00:01] mallenexpensify commented on #10755
Doubled price to $500 https://www.upwork.com/jobs/~019ecf14b149914233

[2022-09-13 00:03] mallenexpensify commented on #10744
Doubled price to $500 https://www.upwork.com/jobs/~01a0dca2192780048a (commented on Neil's Slack post too)

[2022-09-13 00:06] kavimuru opened #10950 "[HOLD for payment 2022-11-09] [$250] Web - Clicking on zoom photo line should zoom the photo and the large green button should be place at clicked point reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on use icon to open setting page.
2. Click on any workspace > general settings > edit photo > upload photo.
3. Click on

[2022-09-13 00:08] mallenexpensify commented on #10947
Triaged for @miljakljajic , added to [RCA sheet](https://docs.google.com/spreadsheets/d/1u73RE8J1DdX3mDohV1RXgulF6_cke3N_a15Sk-UUdQo/edit#gid=0) too cuz the field wasn't showing the `-` before.

[2022-09-13 00:10] kbecciv opened #10951 "Web - Dragging the large green circle for zoom drags the save button text save instead of green button @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.  Go to staging.new.expensify.com
2. Log in with any account
3. Go to Setting
4. Click on any workspace > general settings > ed

[2022-09-13 00:20] mallenexpensify commented on #9234
@kevinksullivan , It looks like it might have been because a milestone was created vs hiring for fixed price (I've played with this a bunch lately, it's def a semi-common issue). @liyamahendra 's contract in Upwork was ended too.
<img width="621" alt="image" src="https://user-images.githubusercontent.com/22508304/189780144-99c7c2b9-2745-4785-bbc2-5b0a1bf8c5d3.png">

Looks like  @Tushu17 was paid t

[2022-09-13 00:51] kbecciv opened #10952 "Web - VBA - Wrong URL when connect to bank account manually page is closed @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com or new.expensify.com
2. Log in with any account
3. Click on use icon to open setting page.
4.

[2022-09-13 00:59] christianwen commented on #10622
@Santhosh-Sellavel yeah I've checked, no more crash on any platform, screenshots attached below

**iOS**
![simulator_screenshot_C9FE8B23-06B8-4EAB-B613-188E3EA78691](https://user-images.githubusercontent.com/21312517/189782704-f66e8554-5678-45d0-b9e0-1c546699853f.png)

mWeb
<img width="501" alt="Screen Shot 2022-09-13 at 07 49 59" src="https://user-images.githubusercontent.com/21312517/189783627-f

[2022-09-13 02:17] francoisl commented on #10916
The app doesn't crash on Android and iOS when testing https://github.com/Expensify/App/pull/10937, so all the blockers are resolved now.

It's getting late for me right now and I need to go, so either @Julesssss or anyone else can :shipit: this checklist when you get online if you feel like it, otherwise I'll do it first thing tomorrow morning!

[2022-09-13 03:59] ctkochan22 commented on #10926
Why do we index every skinTone by number, except for the "default"? I feel like we should just have an index number for all of them.

@mananjadhav, @stitesExpensify  you handled the original PR. What do you think? Can we just switch the default to an index number? We can even set it to `-1`.

<br/>

On the php side, we pass the index with a generic key `value`. The WAF inputRules for that is "anyt

[2022-09-13 04:05] mananjadhav commented on #10926
[code]
@ctkochan22 Thanks for the ping.  Yeah `-1` makes sense.   The default skin tone (yellow), picks from `code`. If we have any skintone other than the default we pick the emojis from `types` where being an array the indexing starts with 0.

I honestly don't remember why I set `default` and not `-1`

[2022-09-13 04:12] ctkochan22 commented on #10510
Hmmm solution 2 seems the best for right now. It doesn't seem like solution 1 would cause any sort of regression, but I don't like the idea that we are storing huge comments in the LHN when we don't need to. Although I agree that its a pretty minimal optimization. Let me ask the team tomorrow, cc someone else who worked on this prior

[2022-09-13 04:24] mvtglobally commented on #8595
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:24] mvtglobally commented on #8597
Issue not reproducible during KI retests. (Third week)
@roryabraham @kadiealexander  Ok to close?

[2022-09-13 04:25] mvtglobally commented on #9061
Issue not reproducible during KI retests. (Second week) Not sure of this is device specific

[2022-09-13 04:26] mvtglobally commented on #9437
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:26] varshamb commented on #10950
### Proposal

We should use Component `Slider from '@react-native-community/slider'`
I will give detailed proposal if it is okay to use it.

[2022-09-13 04:26] mvtglobally commented on #10029
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:27] mvtglobally commented on #7317
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:28] dhairyasenjaliya commented on #10535
@stephanieelliott Upwork job for reporting issue is missing

[2022-09-13 04:28] mvtglobally commented on #8915
Issue not reproducible during KI retests. (6th week)

[2022-09-13 04:28] dharmik commented on #8541
@puneetlath Accepted.

[2022-09-13 04:28] mvtglobally commented on #9705
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:29] mvtglobally commented on #9737
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:29] mvtglobally commented on #10091
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:30] mvtglobally commented on #10127
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:30] mvtglobally commented on #10198
Issue not reproducible during KI retests. (4th week)

[2022-09-13 04:31] mvtglobally commented on #10258
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:31] mvtglobally commented on #10278
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:32] mvtglobally commented on #10350
Issue not reproducible during KI retests. (Third week) @michaelhaxhiu  Ok to close?

[2022-09-13 04:33] mvtglobally commented on #10526
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:33] mvtglobally commented on #10535
Issue not reproducible during KI retests. (Second week)

[2022-09-13 04:34] mvtglobally commented on #10551
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:34] mvtglobally commented on #10607
Issue not reproducible during KI retests. (Second week)

[2022-09-13 04:34] mvtglobally commented on #10608
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:35] mvtglobally commented on #10661
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:35] mvtglobally commented on #10663
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:35] mvtglobally commented on #10688
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:36] mvtglobally commented on #10762
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:37] Christinadobrzyn commented on #10733
Ah thanks for the extra insights @mananjadhav! I'm not super familiar with when these can be closed. @puneetlath would you be able to lend some insights? Thanks!

[2022-09-13 04:37] mvtglobally commented on #10826
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:37] mvtglobally commented on #10878
Issue not reproducible during KI retests. (First week)

[2022-09-13 04:41] mananjadhav commented on #10733
Okay sure, linking two issues which we closed in similar fashion. https://github.com/Expensify/App/issues/10612#issuecomment-1240536127 and https://github.com/Expensify/App/issues/10469#issuecomment-1241700969

[2022-09-13 05:43] mountiny commented on #10733
Thats right, there is not much to explore here, the crash also happened just once at older Android app version so we can close this

[2022-09-13 06:27] Christinadobrzyn commented on #10733
Thanks @vitHoracek! Closed the job in Upwork and closing this GH too. @mananjadhav please let me know if there was anything related to this that you feel needs compensation. Thanks!

[2022-09-13 06:27] #10733 closed

[2022-09-13 06:28] swiftpipe commented on #4733
Oh, mean is the test case you tested "What if the screen width is bigger and 200 char can fit in a row but the code is trimming at 100"

[2022-09-13 06:51] liyamahendra commented on #9234
@mallenexpensify As a part of this issue, the Form refactor was done for which a bounty was agreed [here](https://github.com/Expensify/App/pull/9441#issuecomment-1205444809). Just a gentle reminder note about this please.

cc: @luacmartins

[2022-09-13 06:54] swiftpipe commented on #4733
This is the result I tried on IPad
![Simulator Screen Shot - iPad Pro (12 9-inch) (5th generation) - 2022-09-13 at 13 51 54](https://user-images.githubusercontent.com/37079377/189830997-ce87b2ec-1f9b-48ad-87e6-683ff48c9fb4.png)

[2022-09-13 06:57] mananjadhav commented on #10733
No, nothing here. Thanks for checking @Christinadobrzyn

[2022-09-13 08:00] Asad-Leghari commented on #10505
Ans:  Go to the component that contains this functionality i haven't seen the code but there are three possibilities:

1) this is more likely that you are handling the hover functionality in in-line event using onMouseEnter and onMouseleave
if above is the case change the event to onMouseHover and it should fix the issue you are facing
it could also be the case that if you are handling some settim

[2022-09-13 08:13] Asad-Leghari commented on #10851
Ans: You need to use useRef hook for functional components then .focus to focus on the input field of search
if you are using class-based components you can use
React.createRef();
to focus on the input field

[2022-09-13 08:14] dylanexpensify commented on #10483
Doubled price.

[2022-09-13 08:22] mollfpr commented on #10906
### Proposal

**Root cause**
We have a keyboard listener for the `Enter` key and it's also captured on input.
https://github.com/Expensify/App/blob/d3120758546153d25002866f6cd770d6b2b123c2/src/components/OptionsSelector/BaseOptionsSelector.js#L53-L67

On Desktop/Web can use `CMD+Enter` to create a new line on input but it's not working on native/mWeb.

**Solution**
Activate the `captureOnInputs` o

[2022-09-13 08:24] MitchExpensify commented on #10864
[Upwork Job](https://www.upwork.com/jobs/~01d5541f569445a243)

[2022-09-13 08:26] quidam93 commented on #10505
Are we sure if this is still reproducible? I couldn't reproduce it using the latest master branch on both Chrome and Mozilla.

[2022-09-13 08:27] MitchExpensify commented on #10760
Have you had a chance to try and reproduce this @liyamahendra ?

[2022-09-13 08:35] liyamahendra commented on #10760
I don't have the steps to reproduce this locally. @MitchExpensify

[2022-09-13 09:04] Julesssss commented on #10327
A fix would not necessarily be incompatible with further improvement, and there is a benefit to immediately fixing this, rather than awaiting a DD. IIRC this used to work...

But I am also happy to put the issue on hold while the project is moved forward.

[2022-09-13 09:11] Julesssss commented on #10916
I rechecked Firebase and closed the Crash reports linked to the [final blocker](https://github.com/Expensify/App/issues/10876). Preparing to ship

[2022-09-13 09:12] Julesssss commented on #10916
:shipit:

[2022-09-13 09:12] #10916 closed

[2022-09-13 09:15] OSBotify opened #10958 "Deploy Checklist: New Expensify 2022-09-13"
**Release Version:** `1.2.0-8`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10503
- [x] https://github.com/Expensify/App/pull/10578
- [x] https://github.com/Expensify/App/pull/10784
- [x] https://github.com/Expensify/App/pull/10820
- [x] https://git

[2022-09-13 09:40] trjExpensify commented on #10327
I can't really remember tbh. In the absence of comment linking for the message, I always thought it was spotty. But cool, happy to leave it open for the time being.

[2022-09-13 09:44] Julesssss commented on #10327
Cool. Let's see what sort of proposals we recieve. I'll bear the wider project in mind when deciding to move forward or not.

[2022-09-13 09:49] laurenreidexpensify commented on #10772
https://www.upwork.com/jobs/~01dd6a1b05300dd153

[2022-09-13 10:05] Asad-Leghari commented on #10505
I first came across this on Upwork I checked now its fixed

[2022-09-13 10:07] Puneet-here commented on #10906
### Proposal

It's a good opportunity to implement push to page, we should show this input on a different page individually. I have seen some other issues related to this field they can be fixed by moving it to a different field. For example one issue was that user can't see the list completely when keyboard is open because this field is so big and when keyboard opens it takes too much space.

[2022-09-13 10:09] Puneet-here commented on #10505
Yeah it looks like it got fixed somewhere.

[2022-09-13 10:12] Asad-Leghari commented on #10505
lol just out of curiosity did they mess up event handling?? on assigning classes through useEffect hook?

[2022-09-13 10:18] quidam93 commented on #10851
### PROPOSAL

**Root Cause**
In the BaseTextInput component, onBlur event is triggered after the page is refreshed in the browser. Couldn't really find why it happens but it just might be because of the page refresh. When this is triggered, input field looses focus. Here is the log of what happens when the page is refreshed(or accessed with a direct link).
![image](https://user-images.githubuserco

[2022-09-13 10:28] trjExpensify commented on #8915
6th week and not reproducible. @mallenexpensify can we close?

[2022-09-13 10:39] Puneet-here commented on #10926
I had reported it [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1661506058979819).

[2022-09-13 11:06] laurenreidexpensify commented on #10516
@aimane-chnaif @mananjadhav @Karim-30 I've invited you to job on Upwork

[2022-09-13 11:14] quidam93 commented on #10851
@rushatgabhane Agreed! But to be clear, there is no delay when opening from the search icon or any shortcut. This delay only happens with a direct link. Because problem only appears with accessing with a direct link(or with a page refresh). Here is the video record to show how it works.

https://user-images.githubusercontent.com/26013008/189886761-f7494f7e-14fd-4eb0-bf36-78c792149f41.mp4

I will c

[2022-09-13 11:20] Beamanator opened #10960 "[$1000] [HOLD for payment 2022-12-02] [N7 Account Settings] Convert `LOGIN_LIST` from Array to Object"
Tracking issue: https://github.com/Expensify/Expensify/issues/182122

# Problem

Currently we store logins in Onyx as an Array of logins.

As outlined in the [N7 Account Settings doc](https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#), in the near future we'll need to be able to associate errors / loading states with individual logins (in the future we'll call t

[2022-09-13 11:22] marcaaron commented on #10789
I can hop on the review for this when a PR is up.

[2022-09-13 11:25] zanyrenney commented on #10760
Hmm, no, I cannot reproduce this, the sign out button is not hidden on Safari.

Steps taken:
- Log in to new.expensify.com on staging.
- Scroll down on home page
- Row for Sign out is visible
- Able to click Sign out and sign out successfully

iOS version: 16.6.1
iPhone 11

https://user-images.githubusercontent.com/56830058/189889058-4a313575-5ef0-45b6-b7a3-be637dc4b674.MP4

[2022-09-13 11:34] MonilBhavsar commented on #10760
Thank you for testing!
I'm also not able to reproduce on simulator and my old iOS device. So going to close this issue.
@kbecciv feel free to reopen if you still see this issue. I think it could be version specific issue. So could you please mention iOS/Safari version. Thank you!

[2022-09-13 11:34] #10760 closed

[2022-09-13 11:50] danieldoglas commented on #10891
will look at this tomorrow

[2022-09-13 11:56] mountiny commented on #10163
Removing the hold for payment now and we will wait for the second PR to hit production before the payment would be paid out to ensure the regression period is met.

[2022-09-13 11:57] mountiny commented on #10958
Checking https://github.com/Expensify/App/pull/10937 off as that has already been QA'ed in the previous version

[2022-09-13 12:25] trjExpensify commented on #10514
Kewl. As discussed in the thread, we're going to follow a similar format to this ([English](https://github.com/Expensify/App/blob/9ad6ec950b4dd7231376649093b667f24879a1ad/src/languages/en.js#L125)/[Spanish](https://github.com/Expensify/App/blob/9ad6ec950b4dd7231376649093b667f24879a1ad/src/languages/es.js#L125)).  Thanks, @iwiznia.

`Profile picture must be one of the following types: jpg, jpeg, pn

[2022-09-13 12:40] trjExpensify commented on #7948
Added this App issue to the [WhatsApp Quality project](https://github.com/orgs/Expensify/projects/16/views/1) to keep track of it.

[2022-09-13 12:42] Santhosh-Sellavel commented on #10233
See how that's not a good pattern?

Yes, it's strange to leave it that way.

[2022-09-13 12:43] Santhosh-Sellavel commented on #7862
Fair call!

[2022-09-13 12:53] trjExpensify opened #10962 "[Tracking] [Performance] Margelo/Expensify - Performance Improvements"
**Top Priorities**
- https://github.com/Expensify/App/issues/10793 - @Szymon20000 @roryabraham
- https://github.com/Expensify/App/issues/11711 @hannojg @AndrewGable
- https://github.com/Expensify/App/issues/10894
- https://github.com/necolas/react-native-web/issues/1019
- https://github.com/Expensify/App/issues/11321 @Beamanator @hannojg

**Other high-value items**
- https://github.com/Expensify/A

[2022-09-13 12:59] puneetlath commented on #10886
Thanks! @aneequeahmad can you please also apply to the Upwork job?

[2022-09-13 13:07] Julesssss commented on #10958
@Expensify/applauseleads the automated message failed to post, but all platform builds should now be available for testing.

[2022-09-13 13:08] puneetlath commented on #8541
All paid! Thanks everyone.

[2022-09-13 13:08] #8541 closed

[2022-09-13 13:39] swiftpipe commented on #4733
I'm checking to make it optimized for many devices

[2022-09-13 13:59] puneetlath commented on #10897
Hm, it seems like [this PR](https://github.com/Expensify/App/pull/10723) should have fixed it in theory, but when I just tried on staging, I'm still having the issue where the workspace doesn't get created when going back online.

[2022-09-13 15:02] swiftpipe commented on #4733
### Proposal

I think we can calculate `maxLength` dynamic by depending on `windowScreen`, the formula will be as follows
`  const iconSize = variables.avatarSizeNormal;` <-- this is size avatar
`const windowWidth =
    props.windowWidth -
    (props.isSmallScreenWidth ? 0 : variables.sideBarWidth) -
    iconSize;
  const maxLengthText = windowWidth / fontSize;` <-- we need to check the device bec

[2022-09-13 15:17] #9437 closed

[2022-09-13 15:43] tgolen commented on #10356
Trying to wrap up the thread in Slack today so we can keep moving here.

[2022-09-13 15:44] tgolen commented on #9979
@anasdeyra thanks for the proposal, but this has already been worked on and fixed. I think we're just trying to settle it up.

[2022-09-13 15:45] tgolen commented on #10271
This kind of broke again, but @arosiclair is continuing to dig into this so I'm going to reassign this issue to him.

[2022-09-13 15:55] aneequeahmad commented on #10886
@puneetlath I have applied to the Upwork job. Thanks

[2022-09-13 15:57] kavimuru opened #10963 "Preferences- Use staging server is not on by default."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #10935
## Action Performed:
1. Open app
2. Log in any account
3. Go to Settings -> Preference
4. Verify that Use staging

[2022-09-13 16:13] tgolen commented on #10950
@varshamb We typically don't use external components since most things can be built pretty easily and specifically just for our use case. Could you make a proposal that is an improvement to our current `<Slider>` instead?

[2022-09-13 16:15] jasperhuangg commented on #10362
@arielgreen Just so you're aware!

[2022-09-13 16:17] jasperhuangg commented on #10365
Yo @dylanexpensify! @MitchExpensify is OOO so I reassigned the External label to get another CM to pay out @Puneet-here for discovering this issue. I was the one who fixed the issue so no other payouts are needed.

[2022-09-13 16:29] Puneet-here commented on #10584
Bump @michaelhaxhiu

[2022-09-13 16:34] neil-marcellini commented on #10283
Sounds good. Let's wait for a proposal that will update the computed height once the pay button has loaded.

[2022-09-13 16:38] kbecciv opened #10966 "[$250] Web - Endless loading appears clicking on https://staging. new.expensify.com/details in concierge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10820

## Action Performed:
1. Go to NewDot and login
2. Go to /details
3. Sen

[2022-09-13 16:45] Santhosh-Sellavel commented on #10963
Seems the changes are not updated.

Unsure why?

<img width="975" alt="Screenshot 2022-09-13 at 10 13 20 PM" src="https://user-images.githubusercontent.com/85645967/189959306-ee47412e-be2f-4ae4-b865-27c9a50b28cc.png">

I believe that's the reason for this regression!
 cc: @mountiny

[2022-09-13 16:46] Luke9389 commented on #10889
@dhairyasenjaliya the reason there isn't a CM or C+ member assigned is that this issue didn't have the `External` label yet.

@dhairyasenjaliya @gadhiyamanan Both of you should note that if an issue does not have an `External` label, there is no guarantee it will be posted as an available job (so you may be wasting your time submitting proposals).

[2022-09-13 16:47] Santhosh-Sellavel commented on #10283
@stephanieelliott We should double this up to get more eyes!

[2022-09-13 16:49] kakajann commented on #10903
# Proposal
This issue occurs on iOS too.
### 1. "Close account" button covers the text information when focusing in "Enter message" field;
This is IMO expected behaviour,  but I suggest reducing number of lines of `Enter message here` input to be `4`. Current value is `6`.

This is for non-iOS devices.
[code]
This is for iOS
[code]

## Before
https://user-images.githubusercontent.com/11542415/1899

[2022-09-13 16:54] Luke9389 commented on #10888
Hmm. I wonder why this issue didn't get a C+ assigned

[2022-09-13 16:57] Tushu17 commented on #9413
bump @luacmartins @arielgreen

[2022-09-13 16:58] Luke9389 commented on #4733
Why can't we use this? https://stackoverflow.com/questions/118241/calculate-text-width-with-javascript

[2022-09-13 17:06] thesahindia commented on #10888
Exported label is missing.

[2022-09-13 17:07] kbecciv opened #10968 "[HOLD for payment 2022-09-30] [$250] Web - Login - The input field does not focus after following the magic link"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. In the email field, enter a gmail email address for a new account
3. Navigate

[2022-09-13 17:13] francoisl commented on #10966
It looks like the `details` page expects a `login` param - e.g. https://staging.new.expensify.com/details?login=concierge%40expensify.com works as you would expect.

https://github.com/Expensify/App/blob/9a98116600f697d920f594db3bc3ab9dec5d2d29/src/pages/DetailsPage.js#L31-L32

Doesn't look like a bug to me, I'll reassign to the triage team for a second opinion.

[2022-09-13 17:14] mallenexpensify commented on #10329
Bumping back to weekly but... @flodnv can you _sign off_ on @Santhosh-Sellavel 's recommendation above https://github.com/Expensify/App/issues/10329#issuecomment-1239912579

[2022-09-13 17:15] mallenexpensify commented on #10912
Hoping this is fixed soon with
https://github.com/Expensify/Expensify/issues/227410
and
https://github.com/Expensify/Auth/pull/7041

[2022-09-13 17:15] kavimuru opened #10970 "Desktop/ Web- Production server is displayed even if the staging server is enabled"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #10935
## Action Performed:
1. Open app on web
2. Go to Settings -> Preference
3. Use staging server is toggled ON
4. Open d

[2022-09-13 17:17] mallenexpensify commented on #9391
Bumped to weekly since there isn't an active proposal awaiting review

[2022-09-13 17:23] mallenexpensify commented on #9234
@liyamahendra does that mean you're due another $250?  If so, @luacmartins or @rushatgabhane  can you confirm and I'll add the $250 to the job?

[2022-09-13 17:35] Luke9389 commented on #10888
Ah right, we need to wait for it to be Exported by @arielgreen

[2022-09-13 17:37] Luke9389 commented on #10970
Hmm, I don't see how to enable the staging server on web. Is this an error in the issue description @kavimuru?

[2022-09-13 17:41] mollfpr commented on #10738
Bump @neil-marcellini 👀

[2022-09-13 17:45] melvin-bot[bot] opened #10971 "[$500] Investigate: 💥 Crash 💥 `.addActions`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Cannot read property 'message' of undefined
### `address at index.android.bundle:1:2113769` `.addActions`
### Number of Crashes: 9

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.0-0`, `1.2.0-1`, `1.2.3-0`
* **

[2022-09-13 17:45] trjExpensify commented on #10931
@PauloGasparSv - marking the issue as `external` by design adds the `Daily` label.

@kbecciv - The issue title says `iOS` but the `Platforms` section has all platforms listed. Can you confirm which platforms are impacted, please? Is it limited to iOS (incl. mobile web) or Android as well?

This description is a bit ambiguous to me. When reproducing this, I think I would more so describe it as a fl

[2022-09-13 17:45] puneetlath commented on #10738
Ah, this is waiting on me, not @neil-marcellini. I'll take a look shortly.

[2022-09-13 18:00] mollfpr commented on #10865
Here's the code to fix skin tone hover.
[code]

https://user-images.githubusercontent.com/25520267/189976363-76acff3c-939f-46d8-8ed3-d65d01886100.mov

cc @rushatgabhane @stitesExpensify

[2022-09-13 18:04] mollfpr commented on #9510
Bump @sketchydroide 👀

[2022-09-13 18:17] liyamahendra commented on #9234
@mallenexpensify Yes, that's what I understood from @luacmartins' [comment](https://github.com/Expensify/App/pull/9441#issuecomment-1205444809).

[2022-09-13 18:22] trjExpensify commented on #10952
👋 Zany, I think this was supposed to go to `Engineering` yeah? Adding the label.

[2022-09-13 18:23] trjExpensify commented on #10931
Cool, I'll update that in the OP issue and title, then wait on @kbecciv to confirm the platforms before we proceed.

[2022-09-13 18:25] liyamahendra commented on #9234
@luacmartins can you please confirm?

[2022-09-13 18:25] stephanieelliott commented on #9545
Hey @Santhosh-Sellavel @vladnobenladen can you both grab the job on Upwork when you get a chance?

https://www.upwork.com/jobs/~01d8e5aee09ed40c32

[2022-09-13 18:26] Luke9389 commented on #10851
@aimane-chnaif Great job finding the core of the problem! Go ahead and spin up a PR.

Also @quidam93 I noticed that you said "I will ... edit my answer if I find another solution."
For the future, please repost a new solution instead of edit an older one. Thanks!

[2022-09-13 18:31] stephanieelliott commented on #10283
2x'd on Upwork to $500! https://www.upwork.com/jobs/~01a2b7049d03140226

[2022-09-13 18:40] bondydaa commented on #10785
web-e pr is in review, once that's finished I'll update the App PR.

[2022-09-13 18:42] stephanieelliott commented on #9975
https://github.com/Expensify/App/issues/9660's PR was merged, just tested and this issue is no longer occurring. Closing this one out!

[2022-09-13 18:42] #9975 closed

[2022-09-13 18:54] stephanieelliott commented on #10608
I'm still able to produce this in Safari on prod. I'm not able to repro the blank page described in the linked Slack post though 🤔, I'm using Mac/Safari

@wildan-m, are you suggesting that this issue and the blank screen issue probably have the same cause? Or are you just saying that the blank screen issue will need to be solved first?

<img width="430" alt="image" src="https://user-images.githubu

[2022-09-13 18:57] ctkochan22 commented on #10510
@rushatgabhane I appreciate your thoroughness in thinking through the proposal

[2022-09-13 18:58] stephanieelliott commented on #10661
I'm not able to repro this anymore either, seems like this has been fixed!

[2022-09-13 18:58] #10661 closed

[2022-09-13 19:00] stephanieelliott commented on #10699
^^ `DeployBlockerCash` label was removed from the linked issue, so no action needed on that.

[2022-09-13 19:01] #10850 closed

[2022-09-13 19:04] mananjadhav commented on #10608
I feel the blank page and the zoom levels are related. Here's a screencast from my Mac Safari browser on staging.

https://user-images.githubusercontent.com/3069065/189988051-e12fbc41-a927-4c98-bf0e-8014a9be1468.mp4

[2022-09-13 19:17] Santhosh-Sellavel commented on #9545
Applied @stephanieelliott !

[2022-09-13 19:19] kavimuru opened #10973 "[HOLD for payment 2022-10-07] [$500] mWeb/Safari -Profile - Header is highlighted when long-pressing the Save button."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in any account
3. Go to Settings ->Profile
3. Long press the Save button

[2022-09-13 19:35] kevinksullivan commented on #9497
PR in review.

[2022-09-13 19:42] kevinksullivan commented on #9979
Sorry for the delay everyone, and thanks for stepping in @adelekennedy . Paid @Puneet-here for reporting + solving, and @rushatgabhane for C+.

[2022-09-13 19:42] #9979 closed

[2022-09-13 19:43] arosiclair commented on #10311
After our discussion on data massaging [here](https://expensify.slack.com/archives/C02HWMSMZEC/p1662546244463989) it sounds like this specific issue isn't too big of a problem so I'll close this out. However, it would be nice to have some functionality in Onyx to clean up this behavior for joining keys so I [created a follow up issue for that here](https://github.com/Expensify/react-native-onyx/is

[2022-09-13 19:43] #10311 closed

[2022-09-13 19:43] Santhosh-Sellavel commented on #10426
I'm not sure why would we need this?

[2022-09-13 19:52] jasperhuangg commented on #10952
I can't seem to reproduce this in either staging or prod:

https://user-images.githubusercontent.com/31285285/189995973-447b4ca2-9e8b-4afd-b71e-b4076ceb770f.mov

[2022-09-13 19:55] Santhosh-Sellavel commented on #10905
#### This seems like an issue to me -> https://github.com/Expensify/App/issues/10905#issuecomment-1241927509
https://user-images.githubusercontent.com/85645967/189996312-ccb8f0a2-0be9-4b89-8521-94d549f9c400.mov

#### But not this https://github.com/Expensify/App/issues/10905#issue-1366788309
https://user-images.githubusercontent.com/85645967/189996078-0ca684b5-e1b0-43af-8c10-fa60c6b99c6d.mp4

@Exp

[2022-09-13 20:09] trjExpensify commented on #8503
@stitesExpensify is out of the office this week, FYI. Feel free to pull the trigger on puller bear for the internal assignment portion.

[2022-09-13 20:14] kevinksullivan commented on #10925
Just to be clear @deetergp , should this GH solve for both of the mentioned problems?

- Infinite spinner when clicking on Concierge icon
- Concierge icon displayed as the default icon

[2022-09-13 20:24] MitchExpensify commented on #10607
Closing as not reproducible after second week

[2022-09-13 20:24] #10607 closed

[2022-09-13 20:25] MitchExpensify commented on #7968
What do you think @stitesExpensify ?

[2022-09-13 20:26] puneetlath commented on #10898
Hm, I wasn't able to reproduce this on my side. This is what it looked like when I sent one via email:

<img width="573" alt="image" src="https://user-images.githubusercontent.com/1371996/190002454-1a1c188a-ddc0-4cb2-b6e3-24a0e569717f.png">

Going to close.

[2022-09-13 20:26] #10898 closed

[2022-09-13 20:27] MitchExpensify commented on #10607
Bumped the Slack thread [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1663100807898229?thread_ts=1660342911.075479&cid=C02NK2DQWUX) for a buddy check.

[2022-09-13 20:28] MitchExpensify commented on #8841
Bumped the Slack thread [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1663100807898229?thread_ts=1660342911.075479&cid=C02NK2DQWUX) for a buddy check.

[2022-09-13 20:38] shawnborton commented on #10905
@Santhosh-Sellavel I agree with you

[2022-09-13 20:43] kbecciv opened #10975 "[$500] IOS - Chat - App crashed after delete Workspace from Web (reported by @chauchausoup)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Create a new expensifail account in IOS app
3. Tap on Fub menu and create a New Workspace
4. Log in with sam

[2022-09-13 20:47] puneetlath commented on #10738
Hm, so can we not use the `Form` component inside the `AddressForm` component itself? Like:

[code]

[2022-09-13 20:53] kbecciv opened #10976 "Workspace - After delete the Workspace the "archived" message does not displayed in LHN for public accounts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with public account
3. Create a Workspace under Fub menu
5 Go back to Settings - Workspace
6. Delete

[2022-09-13 20:55] mananjadhav commented on #10738
Afaik, the usage of `AddressForm` is with other forms like `CompanyStep` that I linked earlier and they would themselves be wrapped around `<Form />` with their own OnyxKeys, and draft state. Having nested `Form` with `AddressForm` won't  work.

[2022-09-13 21:00] mvtglobally commented on #10958
@francoisl @Julesssss Regression is almost completed

PR #10820 is failing due to https://github.com/Expensify/App/issues/10966
PR https://github.com/Expensify/App/pull/10935 is failing due to https://github.com/Expensify/App/issues/10963 & https://github.com/Expensify/App/issues/10970

[2022-09-13 21:01] puneetlath commented on #9510
I'm going to take this over since it seems @sketchydroide is OOO.

Question -- why is the LoginForm re-mounting when the screen size updates? I'm not necessarily against the proposal. But is there an alternative where the form doesn't need to re-mount when re-sizing?

[2022-09-13 21:01] jasperhuangg commented on #10958
Just noticed that custom units are currently broken on staging but not on prod.. investigating

https://user-images.githubusercontent.com/31285285/190008360-f15dcfe6-2785-47f0-94be-50e4818fa683.mov

[2022-09-13 21:02] kbecciv opened #10977 "mWeb - Emoji - Empty space in emoji category "Smiles&People""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Log in with your credentials
3. Go to any conversation
4. Click emoji
5. Scroll do

[2022-09-13 21:02] jasperhuangg commented on #10958
Just noticed that custom units are currently broken on staging but not on prod.. investigating

https://user-images.githubusercontent.com/31285285/190008360-f15dcfe6-2785-47f0-94be-50e4818fa683.mov

cc @Julesssss @mvtglobally @francoisl

[2022-09-13 21:02] jasperhuangg commented on #10958
Are there any other deploy checklists that haven't hit prod yet?

[2022-09-13 21:06] mvtglobally commented on #10924
@jasperhuangg Cold be related to your issue?

[2022-09-13 21:08] jasperhuangg commented on #10958
Looks like reverting https://github.com/Expensify/App/pull/10873 fixes things.

cc @arosiclair

[2022-09-13 21:09] mvtglobally commented on #10958
There were couple issues logged around this area. Not sure if this related https://github.com/Expensify/App/issues/10877

[2022-09-13 21:11] jasperhuangg commented on #10958
Ah that's unrelated, that was fixed in a previous PR. I can confirm that the new issues are caused by https://github.com/Expensify/App/pull/10873.

cc @mvtglobally

[2022-09-13 21:11] jasperhuangg opened #10978 "Custom units are broken"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open or create any workspace.
2. Attempt to update the custom unit rates.
3. Notice how it just doesn't work.

https://user-im

[2022-09-13 21:12] francoisl commented on #10958
That one was already crashing in production, so no need to block the deploy on it.

Look into those

@jasperhuangg thanks for looking. I'm trying to reproduce locally and see if there's a simple fix we could CP. Otherwise, let's revert that PR.

[2022-09-13 21:14] mvtglobally commented on #10958
@francoisl @jasperhuangg do you need a new issue created for this blocker?

[2022-09-13 21:16] jasperhuangg commented on #10958
@mvtglobally https://github.com/Expensify/App/issues/10978 already created one, feel free to update it to look better since I rushed to create it

[2022-09-13 21:16] francoisl commented on #10958
Yes please :)

[2022-09-13 21:17] jasperhuangg commented on #10958
Let's continue discussion for a fix on there? @francoisl

[2022-09-13 21:19] jasperhuangg commented on #10978
@francoisl It's kinda hard to say what specifically is causing the issue since https://github.com/Expensify/App/pull/10873 completely rewrites `withFullPolicy`,but the biggest thing I'm noticing is that we're not calling `Policy.loadFullPolicy` anymore. This means that we'll only have loaded the policy from `AppInit`, which [sets customUnits to be `null`](https://github.com/Expensify/Web-Expensify

[2022-09-13 21:23] youssef-lr commented on #9577
Hey @puneetlath! If you've got a lot on your plate I wouldn't mind working on this, I have a Form refactoring PR in review and could start working on this while review is ongoing.

[2022-09-13 21:28] shawnborton commented on #10905
And yes, the proposal vid looks good to me.

[2022-09-13 21:28] jasperhuangg commented on #10978
@francoisl After reading [the design doc](https://docs.google.com/document/d/1xcqVR5IyH1Olhjww41dvhHoNNUm4lua9zD-2EOSA3Ec/edit) it looks like not calling `Policy.loadFullPolicy` was an intentional design choice to prevent additional chaining, it seems this was an unintended consequence that wasn't considered previously.

I say we revert https://github.com/Expensify/App/pull/10873 for now to avoid

[2022-09-13 21:31] arosiclair commented on #10978
For the refactor we moved syncing customUnits to the new [OpenWorkspaceReimburseView command here](https://github.com/Expensify/Web-Expensify/pull/34676). I'm curious how reverting that PR fixes this issue, because I've noticed that changing the custom unit was already very wonky the last time I tried it.

[2022-09-13 21:34] jasperhuangg commented on #10978
@arosiclair The custom unit was fixed recently, but I just compared staging and prod and found it was broken. I also reverted the changes from your PR locally and it fixed the issue.

[2022-09-13 21:45] francoisl commented on #10970
Hmm confused by this one, https://github.com/Expensify/App/pull/10690 and https://github.com/Expensify/App/pull/10935 are the same PR, and the former was reverted in https://github.com/Expensify/App/pull/10920

https://github.com/Expensify/App/pull/10935 should be included in 1.2.0.0, but somehow it doesn't seem to be. Still looking.

[2022-09-13 21:48] swiftpipe commented on #4733
Yes, I get it. Your suggestions are very interesting, I will try that

[2022-09-13 22:06] wildan-m commented on #10608
@stephanieelliott
Have you tried it in Staging? I think we have to resolve the blank page issue first.

[2022-09-13 22:40] marcochavezf commented on #10973
I can't reproduce the error on Chrome (Android)

https://user-images.githubusercontent.com/6829422/190021651-8bd3465a-f099-437d-9500-1c39cf638a30.mp4

[2022-09-13 22:50] puneetlath commented on #9577
Ok sounds good! Feel free to take it.

[2022-09-13 22:52] OSBotify commented on #10978
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-13 22:54] francoisl commented on #10978
Yeah from my tests, the root of the issue is that on [this line](https://github.com/Expensify/App/blob/1c78eb83004e76d77afde68186410d3118293b65/src/pages/workspace/reimburse/WorkspaceReimburseView.js#L65), `props.policy.customUnits` is `null`, so we don't find the right `customUnitRate`. In turn, when we call the API, [this error](https://github.com/Expensify/Web-Expensify/blob/f5c0ad778d991a19e5e

[2022-09-13 23:01] neil-marcellini commented on #10895
Yep, see the latest update https://github.com/Expensify/Expensify/issues/215186#issuecomment-1246032765.

[2022-09-13 23:08] neil-marcellini commented on #10725
That PR is under review so I'll also put the label on this issue.

[2022-09-13 23:14] francoisl commented on #10978
https://github.com/Expensify/App/pull/10873 was also the last place we called `Policy.loadFullPolicy()`, so there might also be additional places in the code where we rely on the whole policy being loaded that would now be broken and that we haven't seen yet.

Let's revert the PR to unblock the deploy so that we can look into a proper long-term fix.

[2022-09-13 23:15] mallenexpensify commented on #8915
Yeah, I'll close.  There are still issues with chats not properly showing but I think the current main one has to do with unread chats not being bold in LHN and that should be fixed very soon with https://github.com/Expensify/Expensify/issues/227410.

[2022-09-13 23:15] #8915 closed

[2022-09-13 23:19] mallenexpensify commented on #10978
@jasperhuangg , if you can confirm that this worked properly on production in the past, can you add details to [the RCA sheet ](https://docs.google.com/spreadsheets/d/1u73RE8J1DdX3mDohV1RXgulF6_cke3N_a15Sk-UUdQo/edit#gid=0)so we can track the regression?  Thx

[2022-09-13 23:36] OSBotify commented on #10958
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10979) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.0-1` :rocket:

[2022-09-13 23:39] arielgreen commented on #10888
https://www.upwork.com/jobs/~011227dc49a4e5b8d2

[2022-09-13 23:42] arielgreen commented on #10625
https://www.upwork.com/jobs/~01e669d3893dab99be

[2022-09-13 23:42] swiftpipe commented on #4733
I have found in lib `react-native-render-html` and it supports hook `useContentWidth` so that we can get the width of the container without calculating depend on static parameter

This is my code after using that hook

[code]

it is still working as I expected

![Simulator Screen Shot - iPad Pro (12 9-inch) (5th generation) - 2022-09-14 at 06 34 57](https://user-images.githubusercontent.com/370793

[2022-09-13 23:53] aneequeahmad commented on #10952
@jasperhuangg Issue is reproducible in production

**Action performed:**

- Go to staging.new.expensify.com
- Log in with any account
- Click on use icon to open setting page.
- Click on workspace > issue cards > connect bank account.
- Click on back arrow on connect account page.
- Click on connect bank account > connect manually.
- Click on cross icon on connect manually page.

**Video:**

https

[2022-09-13 23:59] francoisl commented on #10958
I tested the 1.2.0-1 CP above, which fixes https://github.com/Expensify/App/issues/10978 and also checks off #10979.

[2022-09-14 00:04] deetergp commented on #10925
@kevinksullivan Hmm… That's a good question. Let's get some proposals for the infinite spinner issue and if the concierge icon issue turns out to be unrelated maybe we can spin it out to its own issue.

[2022-09-14 00:41] mallenexpensify commented on #10512
@Santhosh-Sellavel can you review @aimane-chnaif 's comment/proposal above please? Updating to `Daily`  https://github.com/Expensify/App/issues/10512#issuecomment-1236379449

[2022-09-14 00:45] mallenexpensify commented on #8455
@mvtglobally can you test one more time to see if it's reproducible and close the issue if it's not? Thanks

[2022-09-14 00:47] kbecciv opened #10983 "Web - Attachment -Link copied from image doesn´t open."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open chat and sent any image attachment.
2. Copy image URL and paste in chat using NewDOt chat copy feature.
3. Click in gener

[2022-09-14 01:50] francoisl commented on #10958
The last item is https://github.com/Expensify/App/pull/10935, but it fails QA because the code for that PR is not on staging 😕. It seems to be a similar issue with cherry-picks as we had a few weeks ago. I'm not sure how to resolve it at the moment, asked for opinions in Slack [here](https://expensify.slack.com/archives/C07J32337/p1663114901154789).

[2022-09-14 02:49] mollfpr commented on #9510
We have 3 different styles of layout to show the `LoginForm` / `PasswordForm`, each of the styles has a different layout structure based on device screen width.

I couldn't find a way to refactor the layout to prevent the re-render. It's wrapped with different structures and styles.
[code]

@puneetlath @Santhosh-Sellavel

[2022-09-14 04:57] Christinadobrzyn commented on #10889
Job posted in Upwork

Internal posting - https://www.upwork.com/ab/applicants/1569913059586658304/job-details
External posting - https://www.upwork.com/jobs/~018c98f3d998843f9f

[2022-09-14 05:26] MitchExpensify commented on #8929
@JosueEchandiaAsto do you have an update on the PR?

[2022-09-14 05:27] MitchExpensify commented on #10181
Did you get a chance to follow up on the analysis menioned above @parasharrajat ?

[2022-09-14 06:08] bfitzexpensify opened #10985 "[$250] Bug: New Dot Chronos is sending multiples of the same message"
Platform - version: Desktop, Version 1.1.96-5 (1.1.96-5)

Action Performed (reproducible steps): no action taken on my part, Chronos just automatically sends a good morning message daily (I think around 8am), but now sends multiple of the same

Expected Result: Chronos posts once saying good morning and letting me know all the gossip about whose ooo

Actual Result: Chronos is needy and posts it se

[2022-09-14 06:09] bfitzexpensify commented on #10985
Upwork job [here](https://www.upwork.com/jobs/~01b79fcc59dd4550bd)

[2022-09-14 06:16] adeel0202 commented on #8455
This bug is reproducible to me from the time I reported it. It never got fixed 👀

[2022-09-14 06:23] bfitzexpensify commented on #10947
Upwork job [here](https://www.upwork.com/jobs/~018fa81aa98b59f150)

[2022-09-14 06:27] bfitzexpensify commented on #10951
I was able to reproduce.

[2022-09-14 07:45] mananjadhav commented on #10889
Got assigned today. Went through the whole conversation. Thanks @Luke9389 for clearing up the conflict.

@dhairyasenjaliya's proposal [here](https://github.com/Expensify/App/issues/10889#issuecomment-1240228567) looks good.

I would personally recommend not to change anything on the login page as of now. With SecondaryLogin page, we already know the type before hand so it makes sense to update it

[2022-09-14 07:47] Szymon20000 commented on #10962
I would add:
- CI Tests (reassure, startup time)
- SideBarLinks
- HeaderView Doesn't use onyx context context (I think it's also the case with SideBarLinks) It means onyx will send them another copy od personalDetails as far as I know

[2022-09-14 09:14] vladamx commented on #10625
Hi all,

There are 2 related files to this issue:
1. [AnchorRenderer.js](https://github.com/Expensify/App/blob/main/src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.js#L43)
which is detecting that we are actually navigating to oldExpensifyPath
2. [Link.js](https://github.com/Expensify/App/blob/main/src/libs/actions/Link.js#L37)
which fails early if no network because it assumes that

[2022-09-14 09:18] mountiny commented on #10970
This is a problem with our GH CD/CI  which we encountered already once before. Discussing in [Slack here](https://expensify.slack.com/archives/C07J32337/p1663114901154789)

[2022-09-14 09:18] michaelhaxhiu commented on #10584
@Puneet-here paid, sorry for the delay.

[2022-09-14 09:18] #10584 closed

[2022-09-14 09:19] zanyrenney commented on #10952
@trjExpensify sorry ya, I added the wrong label! thank you.

[2022-09-14 09:23] mountiny commented on #10963
This is a problem with our GH CD/CI which we encountered already once before. Discussing internally in [Slack here](https://expensify.slack.com/archives/C07J32337/p1663114901154789)

[2022-09-14 09:32] varshamb commented on #10889
@mananjadhav Have gone through my proposal also.

[2022-09-14 09:45] mananjadhav commented on #10889
@varshamb I did go through your proposal [here](https://github.com/Expensify/App/issues/10889#issuecomment-1240448525). Problem with `getEmailKeyboardType` function right now is that it sends `default`.

But ideally we would want to use `email-address`, so that `@` and `.` shows up on the keyboard. [Here's](https://lefkowitz.me/visual-guide-to-react-native-textinput-keyboardtype-options/) the visu

[2022-09-14 09:45] dylanexpensify commented on #10365
Yooo! You got it @jasperhuangg!

[2022-09-14 09:47] dylanexpensify commented on #10365
internal: https://www.upwork.com/ab/applicants/1569985949529174016/job-details
external: https://www.upwork.com/jobs/~01fc46a11bac1b40f7

@Puneet-here mind applying to the job to get you paid 🤑 !?

[2022-09-14 09:56] Justicea83 commented on #10951
Am not able to reproduce it.

https://user-images.githubusercontent.com/26106822/190123437-58da77ed-6142-4e11-b0c8-b3e6860bed2f.mp4

[2022-09-14 10:01] quidam93 commented on #10625
### PROPOSAL
**Root Cause**
There is a filter process in the AnchorRenderer to verify the links as internal links and external links. Issue is, this process thinks that expensify.com/index is an external link because it does not start with "www.".
![image](https://user-images.githubusercontent.com/26013008/190122921-f9272f0f-e8e4-479a-bda0-2e8e3b1c3ec5.png)
As you can see, it checks for an URL if

[2022-09-14 10:04] Beamanator commented on #10258
Not overdue, fix is on staging

[2022-09-14 10:05] dylanexpensify commented on #9848
doubled

[2022-09-14 10:06] dylanexpensify commented on #10148
Doubling again

[2022-09-14 10:11] mananjadhav commented on #10356
So we've discussed this internally and here's the conclusion.

1. Instead of fixing some emojis, we've decided to update our datasource to also include Emoji 13 (and if possible Emoji 14) characters
2. I've evaluated a couple of datasources and so far Gemoji is closest to what we need (it's biggest shortcoming is missing Emoji 14 characters)
3. We don't want to update the structure of our format a

[2022-09-14 10:13] Santhosh-Sellavel commented on #10345
Not overdue

[2022-09-14 10:16] Santhosh-Sellavel commented on #10287
Not overdue, PR is on production.

[2022-09-14 10:16] michaelhaxhiu commented on #10903
Note @mananjadhav -- we have a solution proposal above already, which was provided by @kakajann. Let's start there in terms of reviewing proposals.

[2022-09-14 10:19] danieldoglas commented on #10831
@thesahindia yes, that makes sense to me!

[2022-09-14 10:21] Santhosh-Sellavel commented on #10985
This could be internal @luacmartins, external contributors will not have Chronos access.

Also doesn't look like changes might be on the client side.

[2022-09-14 10:24] Puneet-here commented on #10365
Applied! Thanks.

[2022-09-14 10:25] Santhosh-Sellavel commented on #9848
Seems this is not occurring on the latest version. From the issue description, the last time issue occurred on version 1.1.82-5 which is a lot older. Maybe we should wait for some time before doubling this further as it might already be fixed, thanks!

cc: @luacmartins @dylanexpensify

[2022-09-14 10:26] Santhosh-Sellavel commented on #8132
On hold.

[2022-09-14 10:26] dimasna commented on #10366
I have 2 proposals here :

1. Remove placeholderTextColor props in TextInput to fix the cursor behind placeholder text :
before :
![image](https://user-images.githubusercontent.com/30913369/190127070-f9eaa30b-8d80-4b99-8c3c-24a29f33a8bd.png)
![image](https://user-images.githubusercontent.com/30913369/190127548-374f4173-6c2a-4167-a417-8356a4cc5a4b.png)
after :
![image](https://user-images.githubuse

[2022-09-14 10:26] michaelhaxhiu commented on #10831
@thesahindia nice catch on this GH and pushing to keep it open!

I just made the job in upwork here - https://www.upwork.com/jobs/~014435583ac8f1a5c4.

@danieldoglas is it safe to say we are hiring @thesahindia for the fix?

[2022-09-14 10:26] Santhosh-Sellavel commented on #10108
PR is yet to be merged.

[2022-09-14 10:30] michaelhaxhiu commented on #10890
This seems like a regression, right? Since this used to work, but a new change broke it?

If so, let's make sure we kick off an RCA

[2022-09-14 10:31] dylanexpensify commented on #10365
offer sent! @Puneet-here

[2022-09-14 10:34] Puneet-here commented on #10365
Accepted.

[2022-09-14 10:35] dylanexpensify commented on #9848
Ah nice catch, sounds good @Santhosh-Sellavel !

[2022-09-14 10:36] dylanexpensify commented on #10365
payment sent, contract closed, posting removed!

[2022-09-14 10:36] #10365 closed

[2022-09-14 10:39] mollfpr commented on #10738
This refactor is a series of refactoring the `RequestorStep` form to use `Form.js`. The `AddressForm` is used on `IdentityForm` and `CompanyStep`.

The structure of `RequestorStep` will be `Form > IdentityForm > AddressForm` and still usable by `CompanyStep > AddressForm` that uses controlled values on the parent component.

Also, `Form.js` cannot modify children inside `AddressForm`, because the

[2022-09-14 10:41] michaelhaxhiu commented on #10866
I am 99.9% sure this is externally fixable, but let me apply the `engineer` label to make sure.

[2022-09-14 10:41] michaelhaxhiu commented on #10866
PS I just reproduced this issue and it's certainly valid.

[2022-09-14 10:45] mollfpr commented on #9391
Is the expectation like on the video? cc @mananjadhav @MonilBhavsar

https://user-images.githubusercontent.com/25520267/190133837-b415ee7e-24c2-4ebd-8463-e60b74b903fb.mp4

[2022-09-14 10:47] Santhosh-Sellavel commented on #10366
@dimasna I really like the idea of decreasing cursor width. Can you share the changes you are proposing (2) to decrease cursor width:? Also, why should we remove the placeholderTextColor?

@shawnborton What are your thoughts above options?

[2022-09-14 11:04] dimasna commented on #10366
thanks, for the cursor width, I add new style in styles.xml (android/app/src/main/res/values) :
<resources xmlns:tools="http://schemas.android.com/tools">

    <style name="AppTheme" parent="Theme.AppCompat.Light.NoActionBar">

        <item name="android:textColor">@color/dark</item>

         <item name="android:textCursorDrawable">@drawable/editext_cursor</item>

        <item name="android:col

[2022-09-14 11:12] Julesssss commented on #10968
Not a big issue, but I suppose we should try to get this working.

[2022-09-14 11:19] trjExpensify commented on #10962
Awesome. Added those. Presumably they don't have issues to link yet, right? Outside of SideBarLinks, as @tgolen is working on PRs for that.

P.S - I can co-assign you this tracker now that you've commented. GH wasn't allowing me to do that yesterday.

[2022-09-14 11:33] Julesssss commented on #10486
The issue is resolved for me too:

https://user-images.githubusercontent.com/10736861/190142935-06a425d0-8537-4feb-a8b5-8b26db05fc99.mov

@Santhosh-Sellavel would you mind reminding me why that is?

[2022-09-14 11:35] mananjadhav commented on #9391
That is correct @mollfpr. If the chat is active, it should show up in the LHS.

[2022-09-14 11:38] mollfpr commented on #9391
@mananjadhav The video is from staging site. So yeah, the expectation it’s already implemented. 😅

[2022-09-14 11:39] danieldoglas commented on #10831
@michaelhaxhiu for me yes, but @Julesssss has the final word in this case :D

[2022-09-14 11:40] MonilBhavsar commented on #9391
I think the issue is happening in Mobile web. Please see this https://github.com/Expensify/App/issues/9391#issuecomment-1169979970

[2022-09-14 11:42] Santhosh-Sellavel commented on #10517
bump @jasperhuangg

[2022-09-14 11:43] Santhosh-Sellavel commented on #10486
@Julesssss
Ah Sorry, I missed sending this earlier. The issue might still occur in mobile native  &  mWeb apps.

https://user-images.githubusercontent.com/85645967/190144467-1637a28c-c34f-44e0-a375-8cd0ccc4560a.mov

[2022-09-14 12:26] thesahindia commented on #10968
### Proposal
We have to use `componentDidMount` in [NewPasswordForm.js ](https://github.com/Expensify/App/blob/main/src/pages/settings/NewPasswordForm.js)

[code]

Need to pass `ref={el => this.input = el}` here -
https://github.com/Expensify/App/blob/a0340070ebf94fe3acde872c8c0c4222edd984c3/src/pages/settings/NewPasswordForm.js#L72

[2022-09-14 12:48] michaelhaxhiu commented on #2545
still holding

[2022-09-14 13:09] dylanexpensify commented on #10148
Good thinking @rushatgabhane !

[2022-09-14 13:30] Julesssss commented on #10831
Yeah, hiring @thesahindia

[2022-09-14 13:32] Julesssss commented on #10831
I also think we should merge the keys, but that's out of scope for this PR and requires backend changes.

[2022-09-14 13:39] kbecciv commented on #10216
QA team have been experienced the same behavior for HT account with build 1.2.0.0
Credentials used: applausetester+0901abb@applause.expensifail.com/Feya86Katya

https://user-images.githubusercontent.com/93399543/190169671-0295afdb-861f-473f-8326-98bb58b6169d.mp4

[2022-09-14 13:52] luacmartins commented on #10654
IMO the scrolling speed seems fine on trackpad + web. I'm leaning towards closing this issue.

[2022-09-14 14:02] kakajann commented on #10903
1st issue is expected behavior though. Here's how it appears on iPhone SE (3rd generation)
<img width="561" alt="Screen Shot 2022-09-14 at 7 01 50 PM" src="https://user-images.githubusercontent.com/11542415/190175596-968dc7a7-7e6e-411e-a29d-0e285eaff4fe.png">

[2022-09-14 14:06] kbecciv opened #10989 "[HOLD] Web - Wrong URL if participant detail page in default room is closed @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com and log in with any account
2. Click on any default room (workspace room)
3. Click on header t

[2022-09-14 14:15] kbecciv commented on #10931
@trjExpensify Checking with team, update here shortly.

[2022-09-14 14:30] luacmartins commented on #9413
@Tushu17 thanks for the bump! @arielgreen seems to be ooo, so I'll reassign this issue so we can process the payment asap.

[2022-09-14 14:30] arosiclair commented on #10978
So it looks like `OpenWorkspaceReimburseView` is syncing the policy's customUnit correctly and this is getting passed along to the WorkspaceReimburseView without issue.

![Screen Shot 2022-09-14 at 10 16 03 AM](https://user-images.githubusercontent.com/6833644/190180471-47715cc4-2640-409f-91d0-ef33789f9a55.png)

However this format is not what the page is expecting. The page is expecting the rates

[2022-09-14 14:31] luacmartins commented on #9413
@trjExpensify could you please pay the reporting bonus to @Tushu17? Thank you!

[2022-09-14 14:36] mountiny commented on #10359
@mvtglobally Any updates here?

[2022-09-14 14:37] luacmartins commented on #9234
@liyamahendra @mallenexpensify The bounty for the issue is $250. If a $250 payment was already made, which seems to be the case, no further payments are due anymore.

[2022-09-14 14:39] mountiny commented on #9999
Focusing on API refactors and n7

[2022-09-14 14:41] kbecciv opened #10990 "[HOLD for payment 2022-10-03] [$250] Payments > Add Payment Method > Paypal.me: this field is not auto-focused"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Open settings page > Payments > Add payment method > Paypal

##

[2022-09-14 14:42] zanyrenney commented on #10990
Same for me as the video:
<img width="525" alt="2022-09-14_15-42-13" src="https://user-images.githubusercontent.com/56830058/190186279-de755b0f-e103-4f53-a747-4f09bbf6eea1.png">

[2022-09-14 14:58] arosiclair commented on #10978
When creating a new workspace, the `CreateWorkspace` command actually sets the custom unit rates under both properties and the reimburse view works with this data.

![Screen Shot 2022-09-14 at 10 50 35 AM](https://user-images.githubusercontent.com/6833644/190188443-a1029d0d-58fb-4427-8817-320d287e356c.png)

[2022-09-14 15:00] Puneet-here commented on #10990
### Proposal

Pass the code below at https://github.com/Expensify/App/blob/a0340070ebf94fe3acde872c8c0c4222edd984c3/src/pages/settings/Payments/AddPayPalMePage.js#L62
[code]

and pass the code below here
https://github.com/Expensify/App/blob/a0340070ebf94fe3acde872c8c0c4222edd984c3/src/pages/settings/Payments/AddPayPalMePage.js#L74
[code]

[2022-09-14 15:01] luacmartins commented on #10983
@chiragsalian I think the `Copy link` feature is supposed to link to the specific message in the chat and not to the actual image file, is that correct?

[2022-09-14 15:03] luacmartins commented on #10985
@Santhosh-Sellavel correct, this should be internal!

[2022-09-14 15:08] luacmartins commented on #10985
Created the [issue](https://github.com/Expensify/Expensify/issues/228432) in the E/E repo. Closing this one.

[2022-09-14 15:08] #10985 closed

[2022-09-14 15:17] kbecciv opened #10991 "[HOLD] Web - Wrong URL when Paypal.me payments page is closed @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3.  Open settings page > Workspace > Manage members
4.  Select Invi

[2022-09-14 15:17] luacmartins commented on #9848
Latest version in which this error occurred is `1.1.97-7` and latest crash happened on `Sep 12, 2022, 6:00:09 AM`. There's an open issue in the [RN repo](https://github.com/facebook/react-native/issues/23764) for this error.

[2022-09-14 15:25] tgolen commented on #7948
Got the first PR done which optimizes some of the current code which figures out the order reports should be displayed in. My second PR refactors the sidebar to render items more efficiently.

[2022-09-14 15:28] liyamahendra commented on #9234
@luacmartins did you mean **bounty** as in payment above the price for the actual issue?

[2022-09-14 15:34] kbecciv commented on #10931
@trjExpensify Updated the impacted platforms.
Adding mWeb/Chrome behavior as well

https://user-images.githubusercontent.com/93399543/190198758-05a11415-a20e-40e6-91b6-71dcc30fd6d5.mp4

[2022-09-14 15:35] luacmartins commented on #9234
@liyamahendra No, the bounty is the price we pay for fixing the issue, $250 in this case. Sorry if this was not clear for you.

[2022-09-14 15:36] Santhosh-Sellavel commented on #9848
But the last activity is on Dec 2021.

Where did you see that?

[2022-09-14 15:38] luacmartins commented on #9848
Yea, there hasn't been any activity on that issue.

On our Crashlytics dashboard 🙃

[2022-09-14 15:39] Santhosh-Sellavel commented on #9848
Can you share the logs here, and why it's not updated here?

[2022-09-14 15:44] jboniface commented on #10905
@ctkochan22  / @shawnborton  should I hire @vladnobenladen?

[2022-09-14 15:47] Santhosh-Sellavel commented on #10905
@jboniface Not yet

[2022-09-14 15:47] jboniface commented on #10966
[job post](https://www.upwork.com/jobs/~01deff72939e30eb36)

[2022-09-14 15:49] jboniface commented on #10610
increased to $500

[2022-09-14 15:50] jboniface commented on #10737
increased to $500

[2022-09-14 15:51] liyamahendra commented on #9234
Well, I can just express my disappointment only then. Extremely disappointed!

[2022-09-14 15:54] Santhosh-Sellavel commented on #10905
Oh, @shawnborton Just confused by your comments.

Do you agree that,

1. the issue needs to be addressed only on iPad or Tablets
2. Phone already looks fine
3. And fixed behavior is expected on iPad/tab alone.
Or Do we need this handled for the phone also?

Please clarify, thanks!

[2022-09-14 15:54] thesahindia commented on #10905
IIRC the fab used to work fine, it used to float correctly. Maybe there was some regression which caused this.
I think the fab should float when keyboard is open because it's easy to access while chatting.

[2022-09-14 15:56] Santhosh-Sellavel commented on #10905
I think the fab should float when keyboard is open because it's easy to access while chatting.

I would also expect the same while chatting fab should float!
cc: @shawnborton

[2022-09-14 15:58] shawnborton commented on #10905
Hmm I kind of think the FAB should just stay stuck to the bottom of the chats list view.

@thesahindia what exactly do you mean by this:

I think the fab should float when keyboard is open because it's easy to access while chatting.

Did it used to float right above the keyboard?

[2022-09-14 15:59] thesahindia commented on #10905
Yeah it used to.

[2022-09-14 16:00] Santhosh-Sellavel commented on #10966
@Beamanator There might be an issue with deployment let's wait until the next deployment and check this out, please put it on hold for time being thanks!

[2022-09-14 16:02] shawnborton commented on #10366
I don't think we should remove the placeholder color, because then we end up using a non-brand color. Even when we remove it, it does look like there is still overlap between placeholder and cursor.

We could reduce the width but my fear there is that we then override the native cursors and that might feel a bit strange.

[2022-09-14 16:02] shawnborton commented on #10905
Got it, so then it sounds like this is a regression?

[2022-09-14 16:05] shawnborton commented on #10906
I think for this particular issue, we should fix the enter button not working, and then separately we can create a proposal to rethink this page entirely (with push to page).

[2022-09-14 16:09] Santhosh-Sellavel commented on #10905
@shawnborton
I'm not sure, check out the below video behavior was correct at the beginning and end. In between, it was messed up

https://user-images.githubusercontent.com/85645967/190205965-fa633d56-9db8-4be4-8e62-ed951b3b2a7b.MP4

[2022-09-14 16:10] Santhosh-Sellavel commented on #10366
Okay @shawnborton, let's wait for other options!

[2022-09-14 16:12] thesahindia commented on #10905
Yeah It is a regression, here's a video of this working fine earlier (it's from https://github.com/Expensify/App/issues/10354 which was closed because it wasn't a bug) -

https://user-images.githubusercontent.com/83179295/190206841-3c977a99-b87d-4011-80ce-5b55a8b84687.mov

[2022-09-14 16:13] Santhosh-Sellavel commented on #10906
I suggesting to put this on hold, as the linked PR #10965 is working on this page which is more related!

[2022-09-14 16:14] dimasna commented on #10366
sorry, I mean we should remove placeholderTextColor if we not change the cursor width.  I check cursor width on the mWeb android have the same width
![WhatsApp Image 2022-09-14 at 11 11 08 PM](https://user-images.githubusercontent.com/30913369/190207323-098212fb-9b9a-4b8f-9582-f5de17649bd8.jpeg)

[2022-09-14 16:17] Santhosh-Sellavel commented on #10905
Solid that's a regression!

[2022-09-14 16:18] Santhosh-Sellavel commented on #10366
Native cursors not mWeb!

[2022-09-14 16:30] melvin-bot[bot] opened #10993 "[$250] Investigate: 💥 Crash 💥 `.componentDidMount`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Property 'document' doesn't exist
### `address at index.android.bundle:1:2909347` `.componentDidMount`
### Number of Crashes: 6

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.0-1`
* **Devices:** samsung SM

[2022-09-14 16:34] Santhosh-Sellavel commented on #10512
Somehow this slipped of my radar. Will possibly update by tomorrow.

[2022-09-14 16:35] luacmartins commented on #10738
@mollfpr what @mananjadhav mentioned [here](https://github.com/Expensify/App/issues/10738#issuecomment-1245945285) is correct, we shouldn't nest Form components. I think that we should:

1. Rename AddressForm, since it's just a wrapper around multiple inputs and not a form on its own (it doesn't have a submit button for example)
2. Make sure that the props passed by the parent Form component, e.g.

[2022-09-14 16:36] tgolen commented on #10866
This is a great external issue and thanks for the early proposal, @Puneet-here.

@Expensify/design Could you please weigh-in here on what the expected margin should be?

[2022-09-14 16:42] shawnborton commented on #10866
I think this is fine as-is and it's been this way ever since we built this page. So I would vote to just close this one out.

[2022-09-14 16:49] michaelhaxhiu commented on #10866
That's fair, closing for now!

Note: I know we are all aware of this by now, but saying it juuuuust in case :) - if we feel this should be changed or improved even slightly, then it's worth the effort of paying the $250 for this lil fix.

[2022-09-14 16:49] #10866 closed

[2022-09-14 16:51] shawnborton commented on #10866
Fair point. But I think this is another example of where it would be really helpful to float this into the open source room first for visibility. I understand that's not currently part of Applause's process but I think it should be added.

[2022-09-14 16:52] luacmartins commented on #9582
@youssef-lr we changed to `isLoading` everywhere, so you should use that key.

[2022-09-14 16:55] mallenexpensify commented on #10803
Actively being worked on

[2022-09-14 16:56] youssef-lr commented on #9582
Thanks @luacmartins, I went ahead and updated the DD.

[2022-09-14 16:58] dhairyasenjaliya commented on #10725
Hello @neil-marcellini  bug reporting upwork job missing

[2022-09-14 17:00] mallenexpensify commented on #7288
Checking in #product to see if we should keep this open or close
https://expensify.slack.com/archives/C03U7DCU4/p1663174784033229

[2022-09-14 17:06] mvtglobally commented on #10926
Updated

[2022-09-14 17:07] shawnborton commented on #10905
Got it, okay so yeah it seems like the [video here](https://github.com/Expensify/App/issues/10905#issuecomment-1246997790) is correct behavior then.

[2022-09-14 17:08] shawnborton commented on #10906
That works for me too!

[2022-09-14 17:14] mvtglobally commented on #10359
@mountiny missed earlier message. Checking now

[2022-09-14 17:16] trjExpensify commented on #10952
Yeah, this isn't consistent, but it's reproducible. It's something to do with if you close the modal after being on a settings page first, as opposed to coming from a chat report I think.

1. Go to staging.new.expensify.com
2. Log in with any account
3. **Click into a chat report in your LHN**
4. Click on use icon to open setting page.
5. Click on workspace > connect bank account.
6. Click on conn

[2022-09-14 17:25] mvtglobally commented on #10359
@mountiny This was the latest reproduction during this weeks retest. Issue is definitely not consistent

https://user-images.githubusercontent.com/43995119/190221868-602d7159-6116-4f9b-8fb9-fec4e97aaf7e.mp4

[2022-09-14 17:28] mollfpr commented on #10738
@luacmartins Thanks for the feedback!

The problem is props from `Form.js` is not passed to inputs inside `AddressForm`. The children from `AddressForm` is not exposed when doing recursive inside `Form.js`.

[2022-09-14 17:49] trjExpensify commented on #9413
Hm, I think @arielgreen is around today actually. Why doesn't the issue have the payment date in the title? 🤔

[2022-09-14 17:59] luacmartins commented on #10738
I don't think this is true. The recursive call happens on every child of Form. If you add an inputID to any input in AddressForm, it should receive all props from Form.

[2022-09-14 18:17] trjExpensify commented on #10931
Sweet! So just to confirm, we also need to add `Android` to the platform list right?

[2022-09-14 18:24] luacmartins commented on #10216
I'll investigate this tomorrow

[2022-09-14 18:27] trjExpensify commented on #10694
Not overdue, payment due tomorrow.

@varshamb @parasharrajat - can you both accept the offer please?

[2022-09-14 18:30] trjExpensify commented on #10513
@varshamb @mananjadhav - can you accept the offers on Upwork please?

[2022-09-14 18:35] chiragsalian opened #10996 "Bug - jpeg images dont have their height and width set properly in report action onyx"
Report by - [luciobertinchavez@gmail.com](mailto:luciobertinchavez@gmail.com)

## Action Performed:
1. In newDot attempt to upload a "jpeg" attachment to someone
2. Check its onyx reportAction data.

## Expected Result:
The onyx reportAction originalMessage.html should contain the proper image height and width for `data-expensify-width` & `data-expensify-height`. Eg:
[code]

## Actual Result:
The

[2022-09-14 18:38] jasperhuangg commented on #10952
Got it, so it wasn't that I opened it from a chat report, it was actually that I missed the step to click "back" first before entering the connect account page again and clicking close.

This is definitely a good candidate for an external contributor, gonna mark as `External`

[2022-09-14 18:38] Puneet-here commented on #10513
@trjExpensify, I have applied also applied to the job.

[2022-09-14 18:41] grgia commented on #9578
Reviewed other form refactors tonight and I should be able to get this done once I'm back from OOO on Friday! Just wanted to clarify, what is the user flow to get to the ACHContractStep for testing purposes?

[2022-09-14 18:54] JmillsExpensify commented on #7288
No I don't think this is relevant for this moment. It may in the future, at which point we can open it back up.

[2022-09-14 18:56] trjExpensify commented on #10513
Excellent!

[2022-09-14 18:57] chiragsalian commented on #10996
@mallenexpensify, how do we handle payment for this bug? Its a valid bug. Its not external and I'll be fixing it internally soon on this one.

[2022-09-14 19:02] luacmartins commented on #9578
@grgia
1. Create a workspace `+ > New workspace`
2. Navigate to `Workspace > Connect bank account`
3. Follow the steps using the credentials in [this SO](https://stackoverflow.com/c/expensify/questions/342)
4. [ACHContractStep](https://github.com/Expensify/App/blob/46b975ef73ede959fb707e7dfb4f63d8b2dcbb57/src/libs/actions/ReimbursementAccount/navigation.js#L26-L27) is the component rendered in the

[2022-09-14 19:07] mvtglobally commented on #10958
@francoisl How does it look like so far? Let us know if anything needs to be re-tested

[2022-09-14 19:31] aneequeahmad commented on #10888
PROPOSAL###

**Problem:**

- When + icon is pressed and `PopoverMenu` is opened. Modal.isVisible is set to `True` and when any of the `MenuItem` is clicked a new `Modal` opens for example `Split bill` and Modal.isVisible is set to `false` and when this modal is closed the value of `prevProps.modal.isVisible` is false and `this.props.modal.isVisible` is also false and in that case `this.focus()` in

[2022-09-14 20:09] francoisl commented on #10958
We're working on fixing the `staging` branch. We're having the same issue as ~1 month ago where some code wasn't merged into the branch correctly.
Heads up that the fix will cause a few more PRs to be added to the checklist, but I don't expect it will be 100+ PRs like last time :D

[2022-09-14 20:28] arielgreen commented on #9413
Paid!

@rushatgabhane @JosueEchandiaAsto @Tushu17 I also added a bonus for the inconvenience of the late payment. Apologies for the delay in payment here!

@luacmartins let's be sure we're not closing issues till all payments have been completed.

[2022-09-14 20:28] #9413 closed

[2022-09-14 20:44] OSBotify commented on #10958
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11000) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.0-3` :rocket:

[2022-09-14 20:57] luacmartins commented on #9848
Not sure why it wasn't updated. Here's the stack trace (no logs):

[code]

[2022-09-14 21:04] luacmartins commented on #9413
Oops my bad! I'll make sure this is done next time!

[2022-09-14 21:07] francoisl commented on #10958
@mvtglobally thanks for your patience while we work through the deploy issues 🙌

The new version 1.2.0-3 should include all the expected changes. At the moment, it's deployed to web, desktop and Android. iOS is still in progress, it's possible that it will time out again like yesterday, but hopefully you should still receive a notification to install the new testflight manually (following the flow

[2022-09-14 21:20] francoisl commented on #10958
Ok @mvtglobally there are 4 new PRs to check, I updated the checklist above (there were also 2 with no QA needed, I directly checked them). Feel free to start testing.

[2022-09-14 21:31] kevinksullivan commented on #10975
https://www.upwork.com/jobs/~0192ed6620b4aca209

[2022-09-14 21:56] neil-marcellini commented on #10976
I was able to reproduce this. It helps to use a new testing account so that the rooms show up in the LHN. I had a slightly different result where the \#admins room showed as archived, but the announce room disappeared. I think the admins rooms stuck around because it had a chat in it.

I also don't see the \#admins and \#announce rooms after I delete the workspace on an \@expensifail.com account.

[2022-09-14 22:05] Luke9389 commented on #4656
Looks like we're dropping callstack. I'm going to unassign.

[2022-09-14 22:10] OSBotify commented on #10958
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.0-3 has been deployed to staging :tada:

[2022-09-14 22:10] neil-marcellini commented on #10976
This is the desired behavior based on this comment in the code here.
https://github.com/Expensify/App/blob/4a9a3085703a04f9269c87cdb63810a74e0197e0/src/libs/OptionsListUtils.js#L490-L506
I think it makes sense to clean up the LHN for workspaces that have been deleted. If you want to find that room you can always search for it, but I'm not sure why you would even need to see it since it has 0 messa

[2022-09-14 22:10] #10976 closed

[2022-09-14 22:18] Luke9389 commented on #10889
Ok @dhairyasenjaliya you've got the 🟢 Green Light 🟢 to make a PR. Thanks!

[2022-09-14 22:19] neil-marcellini commented on #10725
Thanks for the reminder! @Expensify/contributor-management could someone please create the bug reporting upwork job here? 🙏

[2022-09-14 22:25] ctkochan22 commented on #10510
Lets go with solution 2. @christianwen Can you write up the PR and test on all platforms please?

[2022-09-14 22:26] mallenexpensify commented on #10968
@parasharrajat can you review @thesahindia 's proposal above? Thx
Job posted https://www.upwork.com/jobs/~016f4999710bb43714

[2022-09-14 22:29] kbecciv opened #11003 "Android - Chat - App crashed after sign in with specific account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with account applausetester+0901abb@applause.expensifail.com

## Expected Result:
Able to sign in wit

[2022-09-14 22:30] OSBotify commented on #11003
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-14 22:36] mallenexpensify commented on #10906
K, put on HOLD and removed `Help Wanted` label. Thanks Shawn and Santhosh

[2022-09-14 22:37] #7288 closed

[2022-09-14 22:40] marcaaron commented on #4656
Let's maybe see if anyone wants to lead this up internally. There's a PR out that improved the TTI on Android by like 800ms atm. So unsure how much faster we are looking to make things beyond that.

[2022-09-14 22:41] mallenexpensify commented on #10996
I assigned myself to compensate the reporter once done.  Normally there'd be a few other/different steps to assign a CM, not worth fussing with now

[2022-09-14 22:52] syedsaroshfarrukhdot commented on #10968
**Proposal**

We need to pass autoFocus={true} props to TextInput and it fixes the issue.
https://github.com/Expensify/App/blob/a0340070ebf94fe3acde872c8c0c4222edd984c3/src/pages/settings/NewPasswordForm.js#L72

Like This
### <TextInput
                    autoFocus={true}
                    label={`${this.props.translate('setPasswordPage.enterPassword')}`}
                    secureTextEntry

[2022-09-14 23:13] francoisl commented on #11003
I can reproduce on v1.2.0.3. I was also able to confirm signing in worked fine on 1.2.0-1 before I manually updated my phone to the latest staging version.
Looking now to find where the regression happened.

[2022-09-14 23:25] deetergp commented on #10990
This can be done by an external contributor.

[2022-09-14 23:26] mallenexpensify commented on #10725
Based on [this SO](https://stackoverflow.com/c/expensify/questions/11343/11425#11425), adding `Internal` to an E/App issue should assign a CM but it doesn't look like it's happening.
@Beamanator or maybe @mountiny , do you know why this isn't so? I'll assign myself for now so this doesn't get _lost_

[2022-09-14 23:57] Luke9389 commented on #4656
I know @AndrewGable has been talking with callstack so perhaps he'd be interested in taking this.

[2022-09-14 23:58] jliexpensify commented on #10990
Posted:

Internal - https://www.upwork.com/ab/applicants/1570200114002706432/job-details
External - https://www.upwork.com/jobs/~01149a8ecea788e448

Invited @aneequeahmad

[2022-09-15 00:01] francoisl commented on #11003
I can't reproduce the issue on dev so I think it's dependent on the account (maybe it only happens with High Traffic accounts).

Anyway, this crash we logged in [these `Authenticat` logs](https://www.expensify.com/_devportal/tools/logSearch/#sort=asc&size=5000&query=request_id:%2274ad09decfc0cfc4-SJC%22) could be interesting

[code]

[2022-09-15 00:02] aneequeahmad commented on #10990
@jliexpensify Invitation not found unfortunately

[2022-09-15 00:06] mallenexpensify commented on #10629
Tested and unable to reproduce. Thinking/hoping https://github.com/Expensify/Expensify/issues/227410 fixed it so closing for now

[2022-09-15 00:06] #10629 closed

[2022-09-15 00:08] francoisl commented on #11003
cc @tgolen - [this PR](https://github.com/Expensify/App/pull/10784) is one of the PRs that also got CP'ed to staging, and it modified `SidebarLinks`, which appears in the stacktrace. Specifically this line uses `.avatar`, which could cause the `Cannot read property 'avatar' of undefined` if `personalDetail` is undefined.

https://github.com/Expensify/App/pull/10784/files#diff-733528d957ae6a80eb863

[2022-09-15 00:10] mallenexpensify commented on #10912
Tested on Desktop and web and wasn't able to reproduce so closing

[2022-09-15 00:10] #10912 closed

[2022-09-15 00:11] jliexpensify commented on #10990
@aneequeahmad this is you, correct?

![image](https://user-images.githubusercontent.com/30815269/190284248-bb6adcf9-f058-49a7-93ac-506b7d4c3cdd.png)

[2022-09-15 00:12] francoisl commented on #11003
Ah wait nevermind, that change is in `OptionsListUtils`, not `SidebarLinks` :/

[2022-09-15 00:12] aneequeahmad commented on #10990
@jliexpensify Yup this is me

[2022-09-15 00:14] mallenexpensify commented on #10551
@kbecciv @mvtglobally can you try to reproduce? I think this is fixed with https://github.com/Expensify/Expensify/issues/227410

If it's not reproducible, please close.

[2022-09-15 00:23] mvtglobally commented on #10551
@mallenexpensify We will check and confirm in the morning

[2022-09-15 00:26] MeIbtihajnaeem commented on #10975
I guess the issue is in the local database application is not crashing after we restart the application therefore it must be crashing.

[2022-09-15 00:39] jliexpensify commented on #10990
You've already been invited - if you're not seeing the invite, click here:

https://www.upwork.com/jobs/~01149a8ecea788e448

[2022-09-15 00:42] aneequeahmad commented on #10990
@jliexpensify applied thanks

[2022-09-15 00:43] andrewlor commented on #10824
# Proposal

## Problem
The scrollable pdf container is not focusable because `tabIndex=-1` by default. In order to scroll using the arrow keys, you have to click the container first.

## Solution
In order to programatically focus the pdf container, we'll add a ref. Then in the callback for successfully loading the pdf, set the `tabIndex=0` and call `.focus()`.
https://github.com/Expensify/App/blob

[2022-09-15 00:47] aneequeahmad commented on #10990
### PROPOSAL

This issue can be fixed like the TextInput focused in `AddSecondaryLoginPage.js` https://github.com/Expensify/App/blob/3e410ef9deebf3ee700f0f98d30989abf1a859e8/src/pages/settings/AddSecondaryLoginPage.js#L95-L101

[2022-09-15 01:33] srikarparsi commented on #9408
^

[2022-09-15 01:53] francoisl commented on #11003
I posted the issue [in Slack](https://expensify.slack.com/archives/C03TQ48KC/p1663206690878999) to get more eyes on it since I'm kinda stumped at this point.

[2022-09-15 03:19] mvtglobally commented on #10958
Still working on the new PRs.
Will have update in the morning
So far PR https://github.com/Expensify/App/pull/10784 is failing due to https://github.com/Expensify/App/issues/10423

[2022-09-15 04:15] mananjadhav commented on #10513
Accepted @trjExpensify

[2022-09-15 04:35] mananjadhav commented on #10903
Exactly. Thanks @kakajann.  I think we should just focus on the second part of the issue. We can still reduce the number of lines so that it works fine for most devices (off lately all iOS devices from 8 onwards have a good large screen, excluding minis).

Thoughts? @michaelhaxhiu @marcochavezf. Nevertheless, @kakajann's proposal is good for me.

🎀 👀 🎀 
C+ reviewed

[2022-09-15 05:05] varshamb commented on #10513
@trjExpensify  Accepted.

[2022-09-15 05:06] varshamb commented on #10694
@trjExpensify Accepted.

[2022-09-15 05:14] chauchausoup commented on #10975
Guys its seems that I have raised the issue on Slack channel some 10 days ago as in here :
https://expensify.slack.com/archives/C01GTK53T8Q/p1662384898145529

[2022-09-15 05:34] dhairyasenjaliya commented on #10889
TBH @Luke9389 even I'm not a fan of posting a proposal before it gets an `external` tag, but from the past couple of weeks I noticed a trend whereby an issue receives a proposal without an `External` label on it

[2022-09-15 05:34] dhairyasenjaliya commented on #10889
Alright PR comming soon

[2022-09-15 06:30] JosueEchandiaAsto commented on #8929
@roryabraham Requested changes are done https://github.com/Expensify/App/pull/9622

[2022-09-15 06:33] JosueEchandiaAsto commented on #6438
Bump.. @laurenreidexpensify

[2022-09-15 07:13] MonilBhavsar commented on #10963
@mountiny the code didn't get deploy properly and caused this issue?

[2022-09-15 07:19] techievivek commented on #10442
@michaelhaxhiu I think we can go with the proposal because this is the same config we have for the web that uses `react-pdf` package. @kakajann I think this props `activityIndicator ` is of no use because I can't see it in the documentation so we can get rid of it, no?

[2022-09-15 08:32] Beamanator commented on #10966
@Santhosh-Sellavel - on hold! What makes you think deployment got messed up by the way?

[2022-09-15 08:54] Gonals commented on #10939
Setting as external!

[2022-09-15 08:58] dylanexpensify commented on #9579
Should we move to weekly?

[2022-09-15 08:59] dylanexpensify commented on #9902
@chiragsalian should we double?

[2022-09-15 08:59] dylanexpensify commented on #10410
Any update @mananjadhav?

[2022-09-15 09:00] melvin-bot[bot] opened #11004 "[$250] Investigate: 💥 Crash 💥 `createOption`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: JavaScriptError
### Cannot read property 'avatar' of undefined
### `main.jsbundle:177314:90 line 177314` `createOption`
### Number of Crashes: 16

## Device Information
* **Platforms:** Android, iOS
* **App Versions:** `1.2.0-3`, `1.2.0.3`
* **Devices:** samsung SM-G973W 11, Apple iPh

[2022-09-15 09:15] mananjadhav commented on #10410
@dylanexpensify PR is merged and deployed to staging 2 days back

[2022-09-15 09:50] madmax330 commented on #10893
@MonilBhavsar I think this can be external yeah?

[2022-09-15 10:13] trjExpensify commented on #10694
Settled up with you both. Thanks! 🎉

[2022-09-15 10:13] #10694 closed

[2022-09-15 10:15] advaitasol9 commented on #10198
Hi @Beamanator @adelekennedy can we wrap this up please.

[2022-09-15 10:19] Julesssss commented on #11003
I can reproduce on staging with the account details listed in the description.

The crash is occurring [on this line](https://github.com/Expensify/App/blob/23f4fc80ca4a2df155a58dfc51eef301125a1fc3/src/libs/OptionsListUtils.js#L352) because the `personalDetails` object is missing. I see 5500+ unique personal details in Onyx, but `applausetester+033122abb@applause.expensifail.com` is missing.

Howev

[2022-09-15 10:20] trjExpensify commented on #10513
Settled up with everyone, thanks guys! 🎉

[2022-09-15 10:20] #10513 closed

[2022-09-15 10:20] MonilBhavsar commented on #10893
Yes 👍

[2022-09-15 10:23] ntdiary commented on #9253
Hi, Is there anything else i can do? Or is this issue related to other issues? Just waiting for some investigation? 🙂

[2022-09-15 10:28] madmax330 commented on #10893
Cool

[2022-09-15 10:35] Julesssss commented on #11003
I'm going to CP a [PR](https://github.com/Expensify/App/pull/11006) which prevents the crash. I think the missing personalDetails object is the underlying issue that needs to be fixed, but this solution prevents a crash and will let us deploy in the meantime.

[2022-09-15 10:37] #11003 closed

[2022-09-15 10:40] Puneet-here commented on #10990
Hi @parasharrajat, the contributing.md doesn't say anything about this, there is no rule about choosing the contributor's proposal just because they are the reporter and there is no such case mentioned about choosing another proposal if the first proposal is posted before external.

[2022-09-15 10:43] Beamanator commented on #10198
Sorry for the delay @advaitasol9 I asked for someone else to help while Adele is on vacation :D

[2022-09-15 10:44] michaelhaxhiu commented on #10198
Jumping in to help move this along!

[2022-09-15 10:47] OSBotify commented on #10958
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11006) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.0-4` :rocket:

[2022-09-15 10:48] michaelhaxhiu commented on #10198
All parties paid.

[2022-09-15 10:48] #10198 closed

[2022-09-15 10:53] aneequeahmad commented on #10990
@Puneet-here, I asked the same question about posting solution before `External` label or `Help Wanted` label in expensify-open-source [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1662975033011809?thread_ts=1662853564.044149&cid=C01GTK53T8Q). Please read the thread you will get better idea about the policy.
Thanks

[2022-09-15 11:06] Puneet-here commented on #10990
CONTRIBUTING.md says "Issues that have not had the `External` label applied have not yet been approved for implementation. This means, if you propose a solution to an issue without the `External` label **(which you are allowed to do)** it is possible that the issue will be fixed internally."

Also I have seen threads where it was decided to not stop contributors from posting the proposal on issue

[2022-09-15 11:09] Julesssss commented on #10958
I just CP'd [this PR](https://github.com/Expensify/App/pull/11006) which is a fix for the remaining deployBlocker

[2022-09-15 11:12] mountiny commented on #10725
Correct, we check for reported by as that is the reason to assign CM in a first place

[2022-09-15 11:16] Julesssss commented on #10968
I agree the autofocus prop seems preferable. Curious how this is handled on mobile platforms though. Is it simply ignored, or will the soft keyboard be displayed?

[2022-09-15 11:19] mountiny commented on #10359
@mvtglobally Thank you! Would be great if your team could dig in a nd find some reliable reproduction steps on this one as that will help us to fix this.

[2022-09-15 11:23] mountiny commented on #10963
I can confirm now this should be fixed now 🙇

[2022-09-15 11:23] #10963 closed

[2022-09-15 11:25] Puneet-here commented on #10990
I don't think this is the case, If I remember correctly @mallenexpensify had made it clear somewhere.

[2022-09-15 11:30] thesahindia commented on #10968
Hey, just a question: Why aren't we using autofocus at other places like [LoginForm](https://github.com/Expensify/App/blob/main/src/pages/signin/LoginForm.js)

[2022-09-15 11:40] MonilBhavsar commented on #10963
Yes that's weird. Thanks for clarifying!

[2022-09-15 11:40] mountiny commented on #10725
Ahh, yeah that as well it should be in the title too

[2022-09-15 11:40] trjExpensify commented on #10437
Any luck here, @thienlnam? The Guides are now in #admins being assigned leads through the #121-assigned project, and some of them are trying to update their room notification preference to `immediately` to make sure they don't have a delay in seeing a customers message in the room.

[2022-09-15 11:43] mountiny commented on #10963
No problemo

[2022-09-15 11:51] michaelhaxhiu commented on #10866
When you say float this into the room first, do you mean like have them post in the channel before they create the GH? Or something elsE?

[2022-09-15 11:58] michaelhaxhiu commented on #10903
cc @Expensify/design for input on adjusting the text input to accomplish this change. Does that seem kosher?

[2022-09-15 11:59] flodnv commented on #10329
👋 I was ooo

Hm, I agree, however I got a bit lost in all the other chatter. Is the proposal to simply change one line and be done with this @rawalyogendra ?

[2022-09-15 12:06] rawalyogendra commented on #10329
For this particular scenario, yes, changing that one line will do the trick.

But if we want to handle cases like this in future @Santhosh-Sellavel's suggestion is better. Adding a second parameter in ` Link.openExternalLink` which skips the `isSafari` check.

[2022-09-15 12:16] laurenreidexpensify commented on #10950
Can confirm that this is reproducible.

[2022-09-15 12:43] iwiznia commented on #10890
hmmm interesting, what's in that PR that broke desktop app?

[2022-09-15 12:47] OSBotify commented on #10958
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.0-4 has been deployed to staging :tada:

[2022-09-15 13:05] flodnv commented on #10329
Let's make the change we need to make for what we need _now_, and revisit later in the future if we ever need something else (although I am not convinced it is better). Let's also add a comment in the change explaining why we use this method over another.

@mallenexpensify go ahead and hire @rawalyogendra

[2022-09-15 13:08] michaelhaxhiu commented on #10890
Exported to upwork - https://www.upwork.com/jobs/~01dcb93c38c4a2c67d

[2022-09-15 13:10] grgia commented on #10939
Setting to external. Note similar issues linked above

[2022-09-15 13:11] grgia commented on #10989
Setting to external. Note similar issues in comment above!

[2022-09-15 13:12] Santhosh-Sellavel commented on #10329
Only problem with the first approach is

[2022-09-15 13:14] flodnv commented on #10329
Right, I did not understand what this means, can you clarify please?

[2022-09-15 13:15] kakajann commented on #10442
Yes, `activityIndicator` seems redundant

[2022-09-15 13:18] Santhosh-Sellavel commented on #10966
@Beamanator Here is another regression that was due to deploy error https://github.com/Expensify/App/issues/10963

[2022-09-15 13:22] mountiny commented on #10966
That is true, the problem with the deploy has been fixed so this can be closed out since this was reported by applause there is nobody to pay

[2022-09-15 13:27] vladamx commented on #10148
Proposal

The reason why the input is not clearing is because of busy JS Thread and asynchronous nature of React Native.

After user does a submit a lot of JS state updates which creates reconciliation work and locks the JS Thread.

In the meantime, user updates the input on the main thread,since we are interacting with a native text input view, but the problem is that it can not notify JS thread

[2022-09-15 13:30] Santhosh-Sellavel commented on #10329
Offline check is handled in `Link.openExternalLink` method, replacing with `Linking.openURL` will cause a regression

[2022-09-15 13:31] railway17 commented on #10890
Does this issue need a proposal?
Actually, it is resolved in the latest main branch, but not working in the previous [PR](https://github.com/Expensify/App/pull/10436) 🤔

[2022-09-15 13:32] flodnv commented on #10329
Ah, I see... Not sure how I feel about this, but anyways, I guess let's not cause a regression, and add that new parameter.

[2022-09-15 13:32] trjExpensify commented on #10221
Cool, I can see you asked Andrew a question. He's OOO at the moment, tagged a couple of other people that might be able to help offer an opinion in the interim. 👍

[2022-09-15 13:33] kbecciv opened #11010 "[Bug] Chat - Concierge message has unorganized structure"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with kbecciv@gmail.com/Feya87Katya
3. Go to Concierge chat

## Expected Result:
Concierge message is

[2022-09-15 13:34] luacmartins commented on #9579
Moved to weekly and added the reviewing label

[2022-09-15 13:42] luacmartins commented on #10729
Still looking for proposals!

[2022-09-15 13:51] Puneet-here commented on #10772
Hi @marcaaron, this issue contains two things:-

1. The case when we show hint message:- After entering only a digit in search we see the hint message saying: `Please enter a valid phone number without brackets or dashes. If you are outside the US please include your country code (e.g. +15005550006).` (refer to the Screenshot below)
The problem is that this message shouldn't be shown only just aft

[2022-09-15 14:00] puneetlath commented on #10287
@zereraz paid.

@Santhosh-Sellavel @Puneet-here sent you hiring offers.

[2022-09-15 14:01] zereraz commented on #10287
@puneetlath Thanks !

[2022-09-15 14:11] sketchydroide commented on #10904
Let's make this external

[2022-09-15 14:16] bfitzexpensify commented on #10993
Upwork job [here](https://www.upwork.com/jobs/~015d4aa3842c6f7280)

[2022-09-15 14:17] Santhosh-Sellavel commented on #10729
On hold @luacmartins

[2022-09-15 14:18] bfitzexpensify commented on #10731
Thanks for raising the discussion @Santhosh-Sellavel. Looks like we're going with this:

[2022-09-15 14:18] puneetlath commented on #9739
Looks like that PR was merged yesterday. Will pay this out in 6 days if no more regressions.

[2022-09-15 14:20] sketchydroide commented on #10414
@parasharrajat did you have time to look into this?

[2022-09-15 14:27] michaelhaxhiu commented on #10762
UGH, I swear this unassignment thing is a GH bug 😠

[2022-09-15 14:28] michaelhaxhiu commented on #10762
@srikarparsi Do you think this bug report falls into "offline first" or no? We are supposed to hold the line on any offline first improvements, until that functionality is formally released. This feels close to that, but I'm not 100% sure

[2022-09-15 14:29] Julesssss commented on #11003
Fixed

[2022-09-15 14:29] michaelhaxhiu commented on #10523
Thanks @parasharrajat. Is this a regression btw? Let's cc the design team after we address that!

[2022-09-15 14:34] sketchydroide commented on #9973
on my top list of things to look at now

[2022-09-15 14:39] kbecciv opened #11011 "[$2000] Web/mweb - Chat - LHN does not display after signing out/signing in"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11006

## Action Performed:
1. Go to staging.new.expensify.com
2. Login with u

[2022-09-15 14:40] OSBotify commented on #11011
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-15 14:48] mollfpr commented on #9510
Bump @puneetlath

[2022-09-15 14:49] mollfpr commented on #10865
Bump @puneetlath 👀

[2022-09-15 14:49] Julesssss commented on #11011
I can't reproduce this on `v1.2.0-4`, with my own account, or with the tester credentials provided. Tested on web (Chrome) and mWeb (Android).

[2022-09-15 14:52] kbecciv commented on #11011
Adding Desktop as well for environment list
![Screen Shot 2022-09-15 at 10 28 02 AM](https://user-images.githubusercontent.com/93399543/190436299-d8131947-88b0-4b90-bf62-f97b572801a3.png)

[2022-09-15 14:54] flodnv commented on #11010
This message is indeed all over the place. Not only the formatting is 👎 , we also have Concierge introduce themselves as the 3rd message 😕 I think we need to rethink what's going on here, and I'm not sure who's best for this... maybe marketing?

[2022-09-15 15:05] Julesssss commented on #11011
Asked [here](https://expensify.slack.com/archives/C03SSAQ7P/p1663253492702379) for someone else to confirm, as I wasn't able to reproduce

[2022-09-15 15:05] Julesssss commented on #11011
Asked [here](https://expensify.slack.com/archives/C03SSAQ7P/p1663253492702379) for someone else to confirm, as I wasn't able to reproduce

[2022-09-15 15:05] thesahindia commented on #10287
I was just searching if there are any existing issue before posting one about the currency and I found this which is already fixed but I couldn't understand what we really did here. The issue was about currency symbol as mentioned [here](https://github.com/Expensify/App/issues/10287#issuecomment-1213460895) and that is still not fixed.
Here's a side by side comparison with currency selector of gen

[2022-09-15 15:17] dimasna commented on #10993
can we get the stack trace file (txt) from firebase?
1. Select Stack Trace tab
2. Select TXT tab and save text

[2022-09-15 15:21] mountiny commented on #11011
Updating the title to be more accurate.

[2022-09-15 15:31] Luke9389 commented on #8236
Hmm. It looks like @MelvinBot is automatically adding the Daily label (I'm not 100% sure why, but my guess is because we have the `Help Wanted` label on this).

[2022-09-15 15:39] mountiny commented on #10725
@neil-marcellini We could but it will require bigger refactor (the body always includes the reported-by part if it is coming from App repo)

[2022-09-15 15:42] thesahindia commented on #10287
Not sure what you mean by that. Are you saying that we will need to update general settings? We want to show the symbols right?

[2022-09-15 16:01] shawnborton commented on #10903
Hmm I think we had some open discussion about not making the bottom-docked button cover any of the content? Basically this [conversation here](https://expensify.slack.com/archives/C01GTK53T8Q/p1661315954700859?thread_ts=1661281246.518809&cid=C01GTK53T8Q).

cc @parasharrajat

[2022-09-15 16:05] NicMendonca commented on #8236
@Luke9389 it's because we have a [new proposal](https://github.com/Expensify/App/issues/8236#issuecomment-1248005758)!

[2022-09-15 16:09] bondydaa commented on #10785
woohoo, web-e PR was merged 🎉

[2022-09-15 16:29] jasperhuangg commented on #10978
@arosiclair

Ah that was my doing, sorry if this wasn't made clear! We had to move the rates into `onxyRates` temporarily to ensure that my new custom unit rate changes weren't breaking older clients, which were still accessing from `rates`.

Notice how in the screenshot `onyxRates` is keyed by ID, while `rates` is just an array of rates. We need the rates to be keyed by ID for them to work with a

[2022-09-15 16:37] NicMendonca commented on #10904
Job post: https://www.upwork.com/jobs/~01d42e47c2501ce865

[2022-09-15 16:44] christianwen commented on #10510
@ctkochan22 I'm preparing the PR, I've also applied for the Upwork job, please help accept my proposal on Upwork. My Upwork profile is https://www.upwork.com/freelancers/~01991fd5e5c11ef3ba
Thanks

[2022-09-15 16:53] ctkochan22 commented on #10510
@MitchExpensify

[2022-09-15 17:04] MariaHCD commented on #10701
Ah, looks like we haven't refactored the Policy_Employees_Remove command yet which is why it doesn't work correctly offline.

https://github.com/Expensify/Expensify/issues/211560

cc: @iwiznia

We can retest this once the refactor for this API command is complete.

[2022-09-15 17:04] #10701 closed

[2022-09-15 17:09] johnmlee101 commented on #11011
This happens while OpenApp is processing, and the result of OpenApp looks fine, so its the render that follows thats failing?

[2022-09-15 17:12] francoisl commented on #10970
This should be fixed now, waiting for Applause to finish testing https://github.com/Expensify/App/pull/10935 again.

[2022-09-15 17:13] francoisl commented on #11011
I can consistently reproduce on web with the account applausetester+0901abb@applause.expensifail.com. Should we just revert https://github.com/Expensify/App/pull/10784 for now?

[2022-09-15 17:16] mananjadhav commented on #10903
Thanks for the comment @shawnborton. @kakajann Were you able to check the links in the slack conversation for the expected behavior?

[2022-09-15 17:21] luacmartins commented on #11011
@francoisl can we confirm that reverting https://github.com/Expensify/App/pull/10784 fixes the issue?

[2022-09-15 17:31] arosiclair commented on #10978
Yeah that sounds about right. https://github.com/Expensify/Web-Expensify/pull/34862 should get the rates keyed by ID and then our form should be working correctly again. I'll re-test the withFullPolicy refactor after that stuff gets merged in

[2022-09-15 17:32] francoisl commented on #11011
No because I don't think anyone was able to reproduce the issue in dev in the first place, but the idea is:

- this blocker was introduced by #11006
- https://github.com/Expensify/App/pull/11006 was an attempt to fix an issue introduced by https://github.com/Expensify/App/pull/10784

[2022-09-15 17:32] jasperhuangg commented on #10978
@arosiclair Sounds like a plan, thanks for waiting on this!

[2022-09-15 17:34] OSBotify commented on #10958
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10974) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.0-5` :rocket:

[2022-09-15 17:44] flodnv commented on #10993
[code]

[2022-09-15 17:45] NicMendonca commented on #11004
Job post: https://www.upwork.com/jobs/~0163ed1079bdd2f443

[2022-09-15 17:46] jasperhuangg commented on #10952
Ahh I think my wifi connection was spotty so the `External` label didn't get applied when I clicked it ooops

[2022-09-15 18:01] mountiny commented on #11004
cc @francoisl The app version in this crash are staging apps, this might be another deploy blocker if we haven't fixed this somewhere else 😬  It is getting to EOD for me so I am afraid I wont be able to dig into this right now

[2022-09-15 18:01] kbecciv commented on #10931
Issue is reproduceable iOS app and mWeb (Android/Chrome)

[2022-09-15 18:06] Luke9389 commented on #8236
OOoooh I see. Thanks for that context @NicMendonca. I didn't realize that was a thing!

[2022-09-15 18:07] johnmlee101 commented on #11011
We'd have to revert the CP as well if we go this route, right?

[2022-09-15 18:09] mvtglobally commented on #10958
Checking off #10935

[2022-09-15 18:12] francoisl commented on #11011
Yes we'd either revert the CP first, or there would be a conflict if we directly revert https://github.com/Expensify/App/pull/10784. We can do both reverts in one PR though, it's not really a problem.

[2022-09-15 18:14] eVoloshchak commented on #10928
Sorry, having trouble with free time
It is related to https://github.com/Expensify/App/pull/10028 simply because this PR introduced adding preceding zero if the user entered the decimal point, so it was an edge case I missed in this PR
Somehow this doesn't happen if you have currency after the amount

https://user-images.githubusercontent.com/9059945/190479209-51313e2a-aa94-4cf1-9447-f41a77ba9293.

[2022-09-15 18:15] mountiny commented on #10970
It was checked off by Applause, closing https://github.com/Expensify/App/issues/10958#issuecomment-1248436384

[2022-09-15 18:15] #10970 closed

[2022-09-15 18:16] francoisl commented on #10958
Cool. https://github.com/Expensify/App/pull/10974 should be good to go as well.

We're considering reverting https://github.com/Expensify/App/pull/10784 in order to fix the last blocker, which would also automatically revert https://github.com/Expensify/App/pull/11006 and thus check the two remaining items.

[2022-09-15 18:19] francoisl commented on #11004
Oh yeah so it did create an issue for that, huh. It didn't show up in firebase for some reason.

Anyway, I think this issue should be fixed now, with https://github.com/Expensify/App/pull/11006. The error `Cannot read property 'avatar' of undefined` is the same that I had found in the logs in https://github.com/Expensify/App/issues/11003#issuecomment-1247416279

[2022-09-15 18:19] johnmlee101 commented on #11011
Okay I'd say to prevent blocking another deploy let's do that. Order of operations is
1. Create the revert for https://github.com/Expensify/App/pull/11006
2. Add the revert for https://github.com/Expensify/App/pull/10784 into the mix
3. CP to staging label
4. Test

Correct?

[2022-09-15 18:19] kakajann commented on #10903
Just read the discussion and the comments in this issue https://github.com/Expensify/App/issues/10036. But I don't understand what is  the expected behavior

[2022-09-15 18:23] mvtglobally commented on #10958
Outstanding items

So far PR #10784 is failing due to #10423. Ok to check off?

PR #11006 is failing #11011

PR #10974 are you checking internally already?

[2022-09-15 18:29] francoisl commented on #11011
Yes and we can make steps 1 and 2 in one PR - give me a second to double check.

[2022-09-15 18:34] eVoloshchak commented on #10928
I don't think so, this PR changed only the [updateAmountNumberPad](https://github.com/Expensify/App/blob/916452af6f4d4b83dc3d77efd00203c53be4eeb8/src/pages/iou/steps/IOUAmountPage.js#L164) method (the one used for on-screen keyboard), while this bug is on `Web`, so the problem is with [updateAmount](https://github.com/Expensify/App/blob/916452af6f4d4b83dc3d77efd00203c53be4eeb8/src/pages/iou/steps/

[2022-09-15 18:40] OSBotify commented on #10958
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.0-5 has been deployed to staging :tada:

[2022-09-15 18:45] bondydaa commented on #10785
throwing`ContributorPlusReview` on here to get https://github.com/Expensify/App/pull/10798/ reviewed

[2022-09-15 18:48] eVoloshchak commented on #10928
Now that I think about it more, yes, it could be related to `#10147`. It introduced some changes to the TextInput, mainly the `selection` being controlled by state, there could be bugs associated with this
I'll check it, thank you

[2022-09-15 18:53] puneetlath commented on #10785
@arielgreen I went ahead and put the Exported label on so that @mananjadhav would get assigned to review the PR right away. You'll still need to create the GH issue. Thanks!

[2022-09-15 18:55] francoisl commented on #10958
Let's not check https://github.com/Expensify/App/pull/10784 just yet - we're still discussing reverting it. It should then also resolve https://github.com/Expensify/App/pull/11006.

----

We tested on web only, can you test on the other platforms please?

[2022-09-15 19:46] luacmartins commented on #10958
Tested https://github.com/Expensify/App/pull/10974 and it's a pass. Checking it off.

[2022-09-15 19:47] francoisl commented on #10958
We reproduced https://github.com/Expensify/App/issues/11011 in production so we're going to remove the deployblocker label and keep it as a daily to be investigated.

[2022-09-15 19:48] francoisl commented on #11011
We can reproduce this in production too - it _might_ be related to a recent Web-E change though, let's keep this open as a high-priority issue.

[2022-09-15 19:59] m-usman-yousuf commented on #10904
**Proposal**
I will solve the issue by using  javascript functions that will replace zeroes with null so if you keep entering zeroes the function will replace the value with null ,hence, not allowing user to enter leading zeroes.

[2022-09-15 20:04] marcochavezf commented on #10901
I'm going to close this issue in favor of https://github.com/Expensify/App/issues/10897, but feel free to re-open it if you think it's a different issue.

[2022-09-15 20:04] #10901 closed

[2022-09-15 20:26] trjExpensify commented on #10437
Hey @neil-marcellini - I don't suppose you could help us out here while Jack is out? It's impacting the Guides agents that are    being assigned customer deals 121 in NewDot now as of the go live yesterday.

[2022-09-15 20:26] mvtglobally opened #11019 "All workspace member are showing with green avatar - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Launch the app and login
2. Go to settings
3. Go to workspace
4. Go to Manage members
5. Click on invite

## Expected Result:

[2022-09-15 20:27] OSBotify commented on #11019
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-15 20:28] kavimuru opened #11020 "All workspace members are showing with green avatar"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Go to settings
3. Go to workspace
4. Go to Manage members
5. Click on invite

## Expected Result:

[2022-09-15 20:28] OSBotify commented on #11020
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-15 20:28] thesahindia commented on #11020
dupe of https://github.com/Expensify/App/issues/11019

[2022-09-15 20:28] #11020 closed

[2022-09-15 20:29] mvtglobally commented on #11020
@thesahindia  :) We rushed for it :)

[2022-09-15 20:31] andrewlor commented on #10263
# Proposal

## Problem
iOS just simply won't show the paste option when focused on a textarea, while the clipboard contains image data. I don't know if there is a better explanation other than that's just not how the OS works.

## Solution
Use a touch based event handler (so it doesn't run on desktop/web) on the textInput. In this handler, use the `navigator.clipboard` API to read the content. Thi

[2022-09-15 20:33] youssef-lr commented on #11019
I was able to reproduce this on staging only. Looking into it.

[2022-09-15 20:39] m-usman-yousuf commented on #10904
@parasharrajat I have gone through the contribution guideline  and edited my proposal.If I am missing something again kindly guide.

[2022-09-15 20:51] mvtglobally opened #11021 "No emails are shown on the member Invite page - Reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open settings page.
2. Select any workspace(create new if doesn't exists).
3. Click Members from the menu items.
4. Press inv

[2022-09-15 20:52] OSBotify commented on #11021
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-15 21:09] m-usman-yousuf commented on #10904
@parasharrajat i have come from upwork and it says that the proposal should not include the code
![Screenshot_20220916-020820_Freelancer - Upwork](https://user-images.githubusercontent.com/52995752/190509124-7012b7ba-78a3-4460-8fa2-0dee11e0a0ed.jpg)

[2022-09-15 21:48] #11021 closed

[2022-09-15 21:49] OSBotify commented on #10958
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11022) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.0-6` :rocket:

[2022-09-15 21:52] vladamx commented on #10148
Hi @rushatgabhane

Generally speaking, yes. Fabric allows synchronous updates to native views.

Now, when or how it will be applied to inputs is unknown and adoption of the new architecture is big topic, especially in projects where there is a lot of external dependencies which are not yet updated.

Anyhow, this issue is a just a consequence of a greater problem which is slow ui updates. This will

[2022-09-15 21:53] trjExpensify commented on #10931
Cool, thanks. On upwork here: https://www.upwork.com/jobs/~01c3f1b04035ef88cf

[2022-09-15 21:54] jasperhuangg commented on #10524
I was able to repro on web just once: https://expensify.slack.com/archives/C03TQ48KC/p1663278474040769, then I refreshed the page and wasn't able to get it to happen again 🤦

[2022-09-15 21:55] francoisl commented on #10958
There's going to be a 1.2.0-7 very shortly, please hang on a second.

[2022-09-15 21:55] jasperhuangg commented on #10897
Circling back here, you don't even need to do step 4 (`Adjust the workspace name/photo/currency while offline and save`) for this to act up, the workspace isn't accessible when you come back online.

Something I noticed when I was investigating this locally is that `CreateWorkspace` doesn't get retried when we go back online, which means the workspace never actually gets created.

https://user-ima

[2022-09-15 22:06] jasperhuangg commented on #10897
@thienlnam I'm looking at the testing steps for https://github.com/Expensify/App/pull/10723 and it looks like the flow I have in the above screen recording was definitely covered in your tests, I'm wondering if there was another PR that went out at around the same time that's preventing `CreateWorkspace` from being retried correctly?

[2022-09-15 22:14] jasperhuangg commented on #10897
@thienlnam ah dur, figured out why

Only requests invoked via `API.write` are retried when you come back online. Since we call `CreateWorkspace` through `API.makeRequestWithSideEffects` the request doesn't get added to the SequentialQueue and therefore doesn't get retried when we come back online.

I think we can use `API.write` for this command and figure out another way to navigate to the worksp

[2022-09-15 22:26] marcochavezf commented on #8311
Not overdue, discussing on slack an alternative solution

[2022-09-15 22:32] OSBotify commented on #10958
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.0-6 has been deployed to staging :tada:

[2022-09-15 22:35] OSBotify commented on #10958
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11023) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.0-7` :rocket:

[2022-09-15 22:38] neil-marcellini commented on #10437
Yeah I can take a look.

[2022-09-15 22:55] kakajann commented on #10610
Seems smooth to me

https://user-images.githubusercontent.com/11542415/190520174-033e3416-ce95-46f2-b244-77b4966723cd.mov

[2022-09-15 22:57] trjExpensify commented on #10437
Awesome, thank you so much Neil!

[2022-09-15 23:05] OSBotify commented on #10958
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.0-7 has been deployed to staging :tada:

[2022-09-15 23:06] francoisl commented on #10958
Sorry - hang on for a few more moments, we found an issue with one of the fixes 😅  We made a fix already, so the version to test will be 1.2.0-8. It should start being deployed shortly.

[2022-09-15 23:22] OSBotify commented on #10958
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11029) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.0-8` :rocket:

[2022-09-15 23:37] shawnborton commented on #10903
@wildan-m do you have a PR handy you could reference to help demonstrate the behavior we [discussed here in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1661315954700859?thread_ts=1661281246.518809&cid=C01GTK53T8Q)?

[2022-09-15 23:38] francoisl commented on #10978
The fix was tested on staging https://github.com/Expensify/App/pull/10974#issuecomment-1248425415, closing.

[2022-09-15 23:38] #10978 closed

[2022-09-16 00:09] francoisl commented on #10958
https://github.com/Expensify/App/pull/11022 and https://github.com/Expensify/App/pull/11029 are 👍 on Web, Desktop and Android, just waiting on iOS.

[2022-09-16 00:13] mallenexpensify commented on #10990
This has def happened in the past and we've updated the CONTRIBUTING.md to (hopefully) address most circumstances like this.  The main part I'd reference is from [here](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#:~:text=Note%3A%20Before%20submitting%20a%20proposal%20on%20an%20issue%2C%20be%20sure%20to%20read%20any%20other%20existing%20proposals.%20Any%20new%20pro

[2022-09-16 00:21] mallenexpensify commented on #10968
@Julesssss can you confirm @syedsaroshfarrukhdot 's hire by assigning the issue to them and then I'll hire in Upwork

[2022-09-16 00:27] OSBotify commented on #10958
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.0-8 has been deployed to staging :tada:

[2022-09-16 00:31] jliexpensify commented on #10990
Invited @parasharrajat as C+. @mallenexpensify are you making the final decision on hiring? If so, I'll invite @Puneet-here - cheers!

[2022-09-16 00:34] mallenexpensify commented on #10329
@rawalyogendra , please apply for the job https://www.upwork.com/jobs/~01ebeba569e03425e7 and confirm here once you have. Thx

[2022-09-16 00:39] mallenexpensify commented on #10725
Thank @mountiny and @Beamanator .  I don't think we need to invest time to update now, we can deal with manually if needed for edge cases

[2022-09-16 00:42] mallenexpensify commented on #10990
Let's give it a _day_ for @parasharrajat to reply before we come to a **final** decision

[2022-09-16 00:58] railway17 commented on #10181
Do you think my proposal will not work? @parasharrajat

[2022-09-16 01:05] jasperhuangg commented on #10897
I was able to get the command to be retried when we get back online by using `API.write`, but there are still some kinks with ensuring the right data is available in Onyx when we call `navigation.navigate`.

Something I'm noticing is that the policy we create in Auth has a completely different policyID as the one that's created optimistically? I don't understand what the point of creating a policy

[2022-09-16 01:10] jliexpensify commented on #10905
Hi @thesahindia and @Santhosh-Sellavel - I've just been assigned this as Jeremy has now left and I'm confused as to the next steps.

Can one of you provide a suggestion as to the next steps from a management standpoint? Should I look at hiring someone, or do one of you want to take this on as C+?

Job Post - https://www.upwork.com/ab/applicants/1569366797023916032/job-details

[2022-09-16 01:27] francoisl commented on #10958
@chiragsalian was able to test https://github.com/Expensify/App/pull/11022 and https://github.com/Expensify/App/pull/11029 on iOS so we're all set!

[2022-09-16 01:27] francoisl commented on #10958
:shipit:

[2022-09-16 01:27] #10958 closed

[2022-09-16 01:30] OSBotify opened #11043 "Deploy Checklist: New Expensify 2022-09-16"
**Release Version:** `1.2.1-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [ ] https://github.com/Expensify/App/pull/10320
- [ ] https://github.com/Expensify/App/pull/10468
- [ ] https://github.com/Expensify/App/pull/10503
- [ ] https://github.com/Expensify/App/pull/10784
- [ ] https://git

[2022-09-16 01:51] kbecciv opened #11044 "[Hold for Payment 23 Sept] Attachment is displayed blank after uploading Issue reported by: @varshamb"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensifail.com
2. Log in with any account
3. Select any user and click on plus button
4. Select Add Attachm

[2022-09-16 02:15] Christinadobrzyn commented on #8595
PR in product with no regressions for 7 days - paying @frenkield $1500 based on the convo [here](https://github.com/Expensify/App/issues/8595#issuecomment-1149214713).

Since this original [Upwork job](https://www.upwork.com/ab/applicants/1513700366393270272/job-details) automatically closed.

I made a new job posting and hired @parasharrajat for payment.

Internal posting - https://www.upwork.com

[2022-09-16 02:20] wildan-m commented on #10903
@shawnborton @kakajann, The PR is not mine, but I know which one, here it is:
https://github.com/Expensify/App/pull/10402

Specific commit that uses `Form`:
https://github.com/Expensify/App/pull/10402/commits/b9662ac7c298f5335c2ebf3a03cbf4fb8689fda9

[2022-09-16 02:39] kakajann commented on #10903
@shawnborton is this what we want here?

https://user-images.githubusercontent.com/11542415/190544866-9488cac8-ebda-438e-82ed-8b83084a49e9.mov

[2022-09-16 02:58] mollfpr commented on #10446
@trjExpensify I just applied to the Upwork job, thanks!

[2022-09-16 03:00] mvtglobally commented on #10551
@mallenexpensify Issue is not repro

https://user-images.githubusercontent.com/43995119/190547408-d7121cc8-f9a7-4032-a03c-8d3767c3d7aa.mp4

[2022-09-16 04:02] OSBotify commented on #11043
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.1-0 :rocket:

[2022-09-16 04:09] dimasna commented on #10904
Proposal :

Using Regex  /^0+(?!\.|$)/ in striptCommaFromAmount function :
[code]
with adjustment cursor position :
[code]
[code]

[code]

[code]
Result :

https://user-images.githubusercontent.com/30913369/190551824-bad7e63a-4de7-4b0c-be2c-1292ec132a7b.mp4

[2022-09-16 04:12] mvtglobally opened #11045 "[HOLD] Question: When marking an old chat as unread should the text in LHN update to show the old chat that was marked unread (it shows the most recent)?"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Mark an old (not newest...) chat as unread from someone
2. Observe text in LHN under the persons bolded name

## Expected Resu

[2022-09-16 04:24] mananjadhav commented on #8929
Thanks @JosueEchandiaAsto let me take a look at it today.

[2022-09-16 04:28] JosueEchandiaAsto commented on #8929
Again, sorry for the delay.  I will be pending so that this issue can be fixed as soon as possible

[2022-09-16 05:02] Santhosh-Sellavel commented on #10905
This is still open to proposals

[2022-09-16 05:29] Christinadobrzyn commented on #6154
I followed up with @sig5 about compensation in our email thread.

[2022-09-16 05:57] mananjadhav commented on #7317
@bfitzexpensify As this is up for payout today, fyi based on this comment https://github.com/Expensify/App/pull/7846#discussion_r961610917, we had decided to double the budget for this one due to increased effort on QA across multiple components.

cc - @roryabraham

[2022-09-16 06:10] bfitzexpensify commented on #7317
Thanks for sharing that comment @mananjadhav. I recreated the job at the higher budget and sent offers for the work and C+ review.

[2022-09-16 06:11] mananjadhav commented on #7317
Thanks for prompt action @bfitzexpensify, accepted.

[2022-09-16 06:34] #9634 closed

[2022-09-16 06:34] #9666 closed

[2022-09-16 06:34] #9667 closed

[2022-09-16 06:34] #9669 closed

[2022-09-16 06:46] super-soft-dev commented on #8595
HI @Christinadobrzyn

I've checked this job from upwork.

As a senior React-Native developer, I'd like to work on your project.

I've checked the issue carefully, I can fix it.

Could you please allow me to join the slack?

Looking forward to hearing from you.

Best regards

[2022-09-16 06:48] dhairyasenjaliya commented on #10202
hello @trjExpensify Upwork job for reporting the issue is missing

[2022-09-16 07:02] Christinadobrzyn commented on #8595
Hey @super-soft-dev - thanks for reaching out! This project is complete but feel free to reach out to us at contributors@expensify.com with a link to your Upwork profile and our team can add you to Slack to help with open jobs.

[2022-09-16 07:09] dhairyasenjaliya commented on #10889
hello @mananjadhav PR ready for review

[2022-09-16 07:38] Christinadobrzyn commented on #7185
I think we're back to reviewing proposals? Is that correct @parasharrajat? Should this price be raised, have you been working a lot on this Rajat?

[2022-09-16 07:46] dylanexpensify commented on #10851
Any updates here? cc @rushatgabhane @aimane-chnaif

[2022-09-16 07:47] Christinadobrzyn commented on #10889
Sorry for the delay on hiring!

Hired @mananjadhav as the C+
Hired @dhairyasenjaliya as the contributor
Hired @gadhiyamanan as the reporter

Internal job for my tracking/payment here - https://www.upwork.com/ab/applicants/1569913059586658304/job-details

[2022-09-16 07:48] Christinadobrzyn commented on #10767
Hey @rushatgabhane we're good to move forward with hiring for this job?

[2022-09-16 07:51] Christinadobrzyn commented on #10493
doubled price - $500

[2022-09-16 07:52] super-soft-dev commented on #8595
ok Thanks

[2022-09-16 07:56] mananjadhav commented on #10889
I'll close this by today/tomorrow.

[2022-09-16 09:23] varshamb commented on #11044
Yesterday this was reported by me on Slack.

https://expensify.slack.com/archives/C01GTK53T8Q/p1663232936099099

[2022-09-16 09:41] nkuoch commented on #11045
Not sure if it can be external - marking internal first so someone can take a deeper look

[2022-09-16 09:42] songlang1994 commented on #8311
### Updated Proposal

According to the discussion in previous several days, we decided to change the popover menu behavior to *“App should also show generic options at the same time when the user aux-click/long-press on a link/email/image element”*. This proposal is based on my previous comment (https://github.com/Expensify/App/issues/8311#issuecomment-1239023718) to implements the new behavior.

[2022-09-16 09:43] trjExpensify commented on #8503
Yeah, it might be helpful to start treating this issue more like a main/tracking issue. The OP containing a checklist of the prerequisite issues we need to complete to be in a position to actually enable Fabric. That said, outside of deprecating `SetNativeProps`, do we have any other prerequisites that need to be completed at this point?

[2022-09-16 09:45] trjExpensify commented on #10202
Sorry @dhairyasenjaliya, I'm not sure what you mean? You should be able to apply to this job [here](https://www.upwork.com/jobs/~01cb430b907eadaa26) for reporting the issue. Are you having trouble with that or something?

[2022-09-16 09:50] mountiny commented on #11044
Adding External label @laurenreidexpensify to make sure we will pay out @varshamb for reporting this regression.

[2022-09-16 10:00] mountiny commented on #7317
Thanks for pointing this out Manan and sorry we havent noted this before here.

[2022-09-16 10:05] aneequeahmad commented on #10990
@parasharrajat Ahhh yes, As i was suggested not to post proposals before `External` label is added. I'll keep this conversation in mind next time i report issues or post proposals.

Thanks for clarifying.

[2022-09-16 10:06] mountiny commented on #11044
Cannot reproduce locally but getting following errors in console
<img width="1119" alt="Screenshot 2022-09-16 at 11 05 37" src="https://user-images.githubusercontent.com/36083550/190615020-94aa9a97-aef7-4f92-81a7-59ce6d1bba9f.png">

[2022-09-16 10:08] mountiny commented on #11044
Works in production, this must be related to the staging api servers and some settings we need to update there as well to be able to process images.

[2022-09-16 10:14] trjExpensify commented on #6154
@Santhosh-Sellavel - sent a contract for reporting
@rushatgabhane - sent a contract for C+
@eVoloshchak - settled up for the fix.

[2022-09-16 10:17] trjExpensify commented on #6154
@rushatgabhane - settled up!

[2022-09-16 10:20] trjExpensify commented on #10446
Cool, offers are sent out to both you and @mananjadhav to accept! 👍

[2022-09-16 10:21] trjExpensify commented on #10446
Haha, @mananjadhav, do you have a script running? Instant accepted! ;) Settled up!

[2022-09-16 10:23] laurenreidexpensify commented on #11044
Job on upwork for payment https://www.upwork.com/ab/applicants/1570720016829329408/job-details

[2022-09-16 10:24] trjExpensify commented on #10446
Cool, @mollfpr also settled. We're done here - thanks everyone! 🎉

[2022-09-16 10:24] #10446 closed

[2022-09-16 10:28] mananjadhav commented on #7317
No worries at all @mountiny and it looks like it is paid out. Thanks @bfitzexpensify

[2022-09-16 10:30] mananjadhav commented on #10446
@trjExpensify  🤑

[2022-09-16 10:30] mountiny commented on #7317
closing then, thank you everyone!

[2022-09-16 10:35] mountiny commented on #11044
Reopening this for now to wait until the server changes are deployed and we can confirm the change worked

[2022-09-16 10:55] trjExpensify commented on #7470
👋 Alrighty, time to settle up! To confirm..

$250 - @rushatgabhane for reporting
$4,000 - @jayeshmangwani for the fix
$2,000 - @mananjadhav for C+ (1/2 because of the revert [here](https://github.com/Expensify/App/issues/7470#issuecomment-1210592772))

Let me know if that's accurate!

[2022-09-16 11:18] mananjadhav commented on #7470
Sounds right to me, @trjExpensify

[2022-09-16 11:24] danieldoglas commented on #10891
We can export this one.

[2022-09-16 11:28] mountiny commented on #7317
Ooops @bfitzexpensify

[2022-09-16 11:39] railway17 commented on #10181
No, it will not close the keyboard

[2022-09-16 12:00] railway17 commented on #10181
I have just tested again. It doesn't close the keyboard when clicking Enter

[2022-09-16 12:05] bfitzexpensify commented on #7317
Sent it to you again @parasharrajat

[2022-09-16 12:21] PauloGasparSv commented on #10524
Was happening to me the entire week multiple times too, but I can't reproduce it today :D

[2022-09-16 12:22] danieldoglas commented on #7259
still WIP

[2022-09-16 12:25] bfitzexpensify commented on #7317
OK, looks like we're all good now!

[2022-09-16 12:25] #7317 closed

[2022-09-16 12:32] mountiny commented on #10181
I think that does not need ot be part of this issue.

@parasharrajat @railway17 Since there was a lot of discussion, could you please once more recap what is the current behaviour and what would be the final behaviour with your change (sorry if it is clear for you, just wanted to get everyone on the same page before we head into implementation)?

[2022-09-16 12:41] railway17 commented on #10181
Ok
According to my replication, the issue is displaying in real Android devices. (Invite New Members page)
There are 2 input boxes (`name, email, phone number` and `personal message` fields).
While inserting `name, email, phone number` value and clicking Enter, the focus will be moved to `personal message` field.
It is an **actual issue**.

![image](https://user-images.githubusercontent.com/299664

[2022-09-16 12:46] dimasna commented on #10904
@parasharrajat how about my proposal?

[2022-09-16 12:46] railway17 commented on #10181
It keeps `name, email, phone number` field be focused.

[2022-09-16 12:49] mountiny commented on #10181
@railway17 Coming from the Expected results section, will it select the first contact in the list?

[2022-09-16 12:51] railway17 commented on #10181
Looks like `Expected Result` was changed after I sent my proposal 👀

[2022-09-16 12:52] bfitzexpensify commented on #10366
Doubled to $2000

[2022-09-16 12:52] railway17 commented on #10181
Can you show me your replication video?
In my side, it is still not closing the keyboard

[2022-09-16 12:54] trjExpensify commented on #6154
@Santhosh-Sellavel - settled up. Thanks everyone! 🎉

[2022-09-16 12:54] #6154 closed

[2022-09-16 12:57] railway17 commented on #10181
@parasharrajat
Thank you for your sharing video.
It's very strange. What is your Android version?

[2022-09-16 12:58] trjExpensify commented on #7470
Alrighty, let's do this!

- @jayeshmangwani settled up!
- @rushatgabhane - contract sent
- @mananjadhav - contract sent

[2022-09-16 13:03] railway17 commented on #10181
Ah..
I thought you were referring Android web.
Ok, I didn't test in Android native.
Thank you.

[2022-09-16 13:04] mountiny commented on #10181
Ah sorry, thats is why I wanted to confirm, there was lots of discussion and often in these cases the Expected result section might not reflect what we want of what the proposal actually does.

[2022-09-16 13:05] railway17 commented on #10181
Ok, let me try again.
For now, I got a new `**Expected Result**`.

[2022-09-16 13:10] jayeshmangwani commented on #7470
@trjExpensify Thanks!

[2022-09-16 13:11] mountiny commented on #11044
<img width="458" alt="image" src="https://user-images.githubusercontent.com/36083550/190646543-911f19f9-7138-4936-b548-21b21039bd53.png">

Confirmed in staging this is fixed!

[2022-09-16 13:11] mountiny commented on #11043
Checking https://github.com/Expensify/App/issues/11044#issuecomment-1249348139 off as we have updated the servers config and all works now.

[2022-09-16 13:17] mananjadhav commented on #7470
Accepted @trjExpensify

[2022-09-16 13:21] #7470 closed

[2022-09-16 13:28] mananjadhav commented on #10356
@Puneet-here Quick bump here.

---

Open for proposals.

[2022-09-16 13:35] thesahindia commented on #10181
The keyboard closes on pressing enter at Android for all the pages where we have contact list so I think the contact selection feature doesn't work at Android and if we wanna allow it we should do it for other places too? E.g. new chat page

[2022-09-16 13:36] rawalyogendra commented on #10329
@mallenexpensify I have applied for the job on Upwork.

I will be fixing this issue as suggested by @Santhosh-Sellavel and approved by @flodnv.

Ah, I see... Not sure how I feel about this, but anyways, I guess let's not cause a regression, and add that new parameter.

_Originally posted by @flodnv in https://github.com/Expensify/App/issues/10329#issuecomment-1248108258_

I will raise a PR for thi