[2021-05-25 00:07] arielgreen commented on #2667
@kidroca is this something you'll be working on as part of #2762?

[2021-05-25 00:09] aliabbasmalik8 commented on #2920
PROPOSAL:
Focus issue already resolved in this PR: https://github.com/Expensify/Expensify.cash/pull/3080
and need to `value={this.comment}` at this pace
https://github.com/Expensify/Expensify.cash/blob/641acd1641cbb7144b3dc89ff60dc1ca30ae67bb/src/pages/home/report/ReportActionCompose.js#L392

Thanks

[2021-05-25 00:48] kadiealexander commented on #3103
Popping this through the triage process!

[2021-05-25 00:51] marcaaron commented on #2845
Bump @isagoico if you have any more context. Can we create two issues for this?

[2021-05-25 01:06] isagoico commented on #2845
Sorry for missing this before. I combined the issues since they were similar imo. Will separate them and post the other issue here 😊

[2021-05-25 01:16] sakluger opened #3104 "Expensify.Cash - Markdown formatting removed after editing a message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Any formatting that was added to a message via markdown should remain after the message is edited. To do this, we should show the original markdown i

[2021-05-25 01:19] kadiealexander commented on #3038
Tested and found this too:

![image](https://user-images.githubusercontent.com/59587260/119425627-dcdbd480-bd5b-11eb-97dd-2a3f4606b510.png)

[2021-05-25 01:32] kadiealexander commented on #1524
Hey @dharammachra! how are you getting on with the PR? Is there anything you need help with?

[2021-05-25 02:40] jasperhuangg commented on #2920
@aliabbasmalik8

Not sure if that will change anything, since we're already directly setting the `value` attribute [here](https://github.com/Expensify/Expensify.cash/blob/641acd1641cbb7144b3dc89ff60dc1ca30ae67bb/src/pages/home/report/ReportActionCompose.js#L272), which should be the same thing (I could be wrong though).

I might have tried this to no success. Since it's a relatively quick change,

[2021-05-25 03:04] kakajann commented on #3104
I saw this bug before and I was going to create an issue.

## Here's why this happening:
When you send message `addAction` function will be called and it parses the message [like this](https://github.com/Expensify/Expensify.cash/blob/641acd1641cbb7144b3dc89ff60dc1ca30ae67bb/src/libs/actions/Report.js#L944-L946)

But when you edit a message `editReportComment` function will be called and it doesn't

[2021-05-25 03:23] Christinadobrzyn opened #3108 "[Hold of payment Aug 17th] Update form styles on Expensify.cash mobile app"
**Platform - version: E.cash app v1.0.38.-1**

**Action Performed (reproducible steps):**

- Go to Expensify.cash
- View any field on the mobile app (Phone or Email sign-in filed, preferences, change password, search, etc)
- Currently, you'll see a grey field label on an empty field > tap the field to select it
- The field will go white with a blue border > the grey field will disappear
- We want

[2021-05-25 03:29] Christinadobrzyn commented on #3108
Waiting for Eng review of this issue - https://github.com/Expensify/Expensify/issues/157830 - before uploading to Upwork

[2021-05-25 03:53] jasperhuangg commented on #3103
This seems to work fine on mobile and should just be an issue on Web/Desktop.

[2021-05-25 05:57] aliabbasmalik8 commented on #2920
@jasperhuangg
I added `setTimeout(this.focus, 400);` at this place
https://github.com/Expensify/Expensify.cash/blob/641acd1641cbb7144b3dc89ff60dc1ca30ae67bb/src/pages/home/report/ReportActionCompose.js#L274

**NOTE**: we used `react-native-modal` package to show modal and in modal it takes 300 ms to animateOut so that the reason I used `setTimeout`

and added `value={this.comment}` at this place t

[2021-05-25 06:04] kakajann commented on #3108
Hello, I would like to work on this. One of my previous work was mostly about styling ([Growl Notification](https://github.com/Expensify/Expensify.cash/pull/2944) ).

[2021-05-25 06:28] kaushiktd commented on #2097
https://github.com/Expensify/Expensify.cash/pull/2957/files

This is the only one open now. I have closed another one. @isagoico Can you please check this again?

[2021-05-25 07:14] dklymenk commented on #2821
@iwiznia

@roryabraham means that UP would we reserved for the "up/down select message" described here: https://github.com/Expensify/Expensify.cash/issues/2821#issuecomment-846183990
Using UP for editing last message would make it so there would need to be some new key for potential "up/down select message" feature. Changing the keybindings down the line would probably confuse users, so better sti

[2021-05-25 07:17] SofiedeVreese commented on #2821
@dklymenk I was out of office for a couple of days- I've just hired you in Upwork.

[2021-05-25 07:39] kidroca commented on #2667
@arielgreen
It's planned to happen after #2762 and it's not part of that scope: https://expensify.slack.com/archives/C01GTK53T8Q/p1620172402387600?thread_ts=1620065578.311900&channel=C01GTK53T8Q&message_ts=1620172402.387600

[2021-05-25 08:00] dharammachra commented on #1524
@kadiealexander - I was facing issue with gpg singed commit, resolved now, will send the merge request. Thanks

[2021-05-25 12:37] tugbadogan commented on #3100
Hey, I'd like to work on this issue. Here's my proposal

I'm planning to resolve this issue by following the tips mentioned in this blog post (1st item is related to the problem we're facing here.)
https://callstack.com/blog/react-native-android-accessibility-tips/

We will modify the following module to add `accessibilityRole="link"` to `Text` components and we also need to split the phrase into

[2021-05-25 14:26] bfitzexpensify commented on #3072
Thanks @aliabbasmalik8, hired you on Upwork! Feel free to get started on a PR.

[2021-05-25 14:46] bfitzexpensify commented on #3087
OK, I can replicate this.

It would, I think, be better if the set password flow could be completed through the desktop app (so rather than being taken to web when clicking the magic sign-in link, the app is triggered instead), if that's possible.

An alternative would be to add another button that says "I verified!" or something similar on the desktop app which would take the user back to the reg

[2021-05-25 15:33] stitesExpensify commented on #2097
@kaushiktd I made a change request on the new PR. Let me know when it's good to go and i'll look at it right away

[2021-05-25 15:36] tgolen commented on #3100
@tugbadogan Thank you for your proposal. I think it is a good one, so you have a 🟢 to move forward with this.

I would not change your proposal, but I did have a thought that at some point it would be interesting to see if we could make some kind of accessibility component that makes implementing the screenreader functionality a bit easier. I don't really like having the duplicated `openURL()` cal

[2021-05-25 16:17] trjExpensify commented on #2996
Thanks guys!

[2021-05-25 16:38] thienlnam commented on #2972
I'm able to reproduce this on Android in development - the logs I'm seeing are

[code]

Going to throw a Demo label on this

[2021-05-25 16:41] thienlnam commented on #2972
Whoops, forgot that it's only on the Web-E repo - this looks like a specific to Android problem since other platforms can still upload pdfs correctly so shouldn't be anything blocking from an external contributor to work on it

[2021-05-25 16:47] puneetlath commented on #2821
I agree with @iwiznia. I think we should just implement `up` and have it edit the previous message.

[2021-05-25 17:00] mallenexpensify commented on #2902
@parasharrajat apologies for the delay, just noticed this now.  Can you confirm this is still happening? If so I'll move this issue along for review

[2021-05-25 17:01] parasharrajat commented on #2902
I will test it again. @mallenexpensify

[2021-05-25 17:14] Jag96 commented on #2920
@aliabbasmalik8 is a setTimeout the only way to know the modal has finished animating in this case? We'd like to avoid using setTimeout if there is a better way. Regarding setting the value directly, the reason we haven't made that component a controlled input is because of performance regressions on native platforms, is there a different approach that would work?

[2021-05-25 17:15] Beamanator commented on #2934
@pranshuchittora would you mind giving us an update on your progress with this one? I haven't seen a PR yet :)

[2021-05-25 17:19] mallenexpensify commented on #3038
@timszot can this be worked on by a Contributor? (my guess is no but wanted to double check)

[2021-05-25 17:24] #3037 closed

[2021-05-25 17:24] #2805 closed

[2021-05-25 17:29] mallenexpensify commented on #2719
@kidroca sorry for the delay here. (we've recently improved our process so new issues will get reviewed very quickly now)
I tried to reproduce on three chats in iOS (and iOS mWeb Safari) and wasn't able to.  Can you see if you can reproduce and, if so, provide more details include a screen video recording?
Thanks,
Matt

[2021-05-25 17:53] timszot commented on #3038
Actually, yeah, this should be able to be done by contributors.

[2021-05-25 17:57] pranshuchittora commented on #2936
Done @shawnborton  @Beamanator

https://user-images.githubusercontent.com/32242596/119545645-ac725580-bdb0-11eb-9cdd-5b2947fbf677.mp4

[2021-05-25 18:03] anthony-hull commented on #1517
sure. What colour should it be when the user has satisfied the requirements?

[2021-05-25 18:07] parasharrajat commented on #2713
@mallenexpensify. Sorry I didn't pulled it on Slack. Let me just raise the flag there.

[2021-05-25 18:08] pranshuchittora commented on #2934
Hi, @Beamanator I forgot to raise the PR 😅 . Just raised #3124

[2021-05-25 18:09] marcaaron commented on #3019
Reopening so we can address this comment

https://github.com/Expensify/Expensify.cash/pull/3092/files#r639059422

[2021-05-25 18:09] shawnborton commented on #2936
Thanks for putting this together! Candidly, this still does not feel like a great user experience. For example, the error message returns so quickly that you don't even get a chance to fully type out your query:
![image](https://user-images.githubusercontent.com/2319350/119547047-79e14200-bd49-11eb-8674-8f34b1b73aa2.png)

Perhaps we can make the time longer from when the user last presses a key ve

[2021-05-25 18:10] mallenexpensify commented on #2712
What do we think is the best path forward here?  Reword the OP to fixing the backend for all or specific file types like MKV video? (I have no idea how common MKV is).
My first, non-engineering, thought is 'how can we address and/or fix all file types instead of creating many one-off issues for any/everyone we see.

[2021-05-25 18:11] mallenexpensify commented on #2545
@ctkochan22 bouncing back to you - do you think this can be worked on by a Contributor?

[2021-05-25 18:15] parasharrajat commented on #2712
@mallenexpensify
In general, We can handle all of the file extensions, we will have to throw en error with Growl if file is not supported from backend.

So my suggestion...
1. We throw error on frontend when File is not supported from backend. **This is not specify to Videos**.
2. We ask backend team to allow more common file types in video, audio, images.
3. We put a check in the app so that only

[2021-05-25 18:16] roryabraham commented on #2713
I wonder if this effect might be mitigated by the changes [here](https://github.com/Expensify/Expensify/issues/156214)?

[2021-05-25 18:18] marcaaron commented on #2326
Closing this for now. @kidroca Feel free to reopen if you decide to follow up based on this and add the `AutoAssignerTriage` label to have this considered.

[2021-05-25 18:18] #2326 closed

[2021-05-25 18:19] marcaaron commented on #2713
How do you mean @roryabraham ?

[2021-05-25 18:42] arielgreen commented on #2960
Paid.

[2021-05-25 18:42] #2960 closed

[2021-05-25 18:47] arielgreen commented on #3100
@tugbadogan I just sent over an offer via Upwork.

[2021-05-25 18:50] tugbadogan commented on #3100
Thanks for assigning this issue to me, I will send the PR soon.

[2021-05-25 18:54] arielgreen commented on #2667
@kidroca gotcha — thanks.

[2021-05-25 19:01] roryabraham commented on #2821
Posted in the slack channel to try and get a wider consensus on this issue before we move forward: https://expensify.slack.com/archives/C01GTK53T8Q/p1621969175208000

[2021-05-25 19:08] thienlnam commented on #1517
@anthony-hull I imagine that it can stay red until the user hits 'Set Password' and if it is valid then they should move on to the next screen

[2021-05-25 19:10] dharammachra commented on #1524
@kadiealexander  @marcaaron  - Hi Marc, I have created a new PR  #3128, so could you please review. Also can I close previous PR #3114 that have issue with deleted account.

[2021-05-25 19:25] dklymenk commented on #3019
My bad. I have submitted a new PR. have no native warnings with those changes.

[2021-05-25 19:40] isagoico commented on #3099
Starting QA!

[2021-05-25 19:40] marcaaron commented on #1524
Thanks @dharammachra. I've closed the other PR so we will review the new one.

[2021-05-25 20:18] roryabraham opened #3133 "Rename and clean up custom `Text` and `Button` components."
## Problem
I have observed in my own work and in PR reviews that a common pitfall in Expensify.cash is to do this:

[code]

Which will result in text that does not have the correct font, line height, etc...

## Why this is important?
Especially for new contributors, or when working with fancy IDE's such as WebStorm that auto-import things for you, it's an easy mistake to make. It's also an easy mi

[2021-05-25 20:22] roryabraham commented on #2661
No, I think the policy is that we only close issues after they are not reproducible for 6 weeks in a row.

[2021-05-25 20:37] vtkmbiz commented on #2122
The proposed solution for this bug would be just to change some RN component which are connected to the dropdown menu and change some function or style.

[2021-05-25 20:46] isagoico opened #3134 "Copy to clipboard is not limited per message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Copy to clipboard should be limited to per message.

## Actual Result:
Copy to clipboard is copying several messages

## Action Performed:

1. Naviga

[2021-05-25 20:48] isagoico commented on #2845
Created the other issue here https://github.com/Expensify/Expensify.cash/issues/3134

[2021-05-25 21:00] NicMendonca commented on #3023
Posted to Upwork: https://www.upwork.com/jobs/~017cbd904460423141

[2021-05-25 21:08] roryabraham commented on #3099
Manually updated the version from `1.0.52-6` to `1.0.53-0` after that failed to happen automatically [here](https://github.com/Expensify/Expensify.cash/runs/2668826978?check_suite_focus=true)

[2021-05-25 21:28] bfitzexpensify commented on #2972
Upwork [posting](https://www.upwork.com/jobs/~013caf1e657d495089).

[2021-05-25 22:01] parasharrajat commented on #2673
I think we forgot to close this one With PR. :)

[2021-05-25 22:02] Luke9389 commented on #3087
Hey @BayCo, thanks for making this issue.

I wanted to give you a quick heads up that if you'd like to fix this issue yourself, you'll need to submit a proposal for doing so (as per step 6 [here](https://github.com/Expensify/Expensify.cash/blob/main/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted)). If not, and you're just posting this issue with no intention of fixing it, then you hav

[2021-05-25 22:10] #2673 closed

[2021-05-25 22:29] mallenexpensify commented on #2711
Paid w/ bonus in Upwork for finding, creating and fixing issue.

[2021-05-25 22:31] isagoico opened #3136 "User was signed out while using the desktop app when login in Web"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User should not be signed out while using the app.

## Actual Result:
User was signed out of the app while sending a message. Sent message was not di

[2021-05-25 22:38] bondydaa commented on #3136
doesn't look like this qualifies for demolition team as is, maybe with more investigation someone can come up with easily produce-able steps but I don't think that person is me since I'm very unfamiliar with dot cash. Sending to the pool.

[2021-05-25 22:45] bondydaa commented on #3136
dropping this to monthly as well since it seems there's only one instance of this so far, if more cases start showing up then we can bump up the priority.

[2021-05-25 22:47] kidroca commented on #2762
Prepared a little teaser with some before / after benchmark data

Note that total time is the sum of all individual calls, but many happen in parallel. The total time is more of an indicator of CPU usage

## Device Info
Physical Samsung Galaxy S7 edge
Android 8.0

## Before
Scenario: Startup and loading the last viewed chat (with small chat)

| Method               |    Total |     Max |       Min

[2021-05-25 22:50] quinthar commented on #2762
Woohoo!!

On Tue, May 25, 2021 at 3:47 PM Peter Velkov ***@***.***>
wrote:

[2021-05-25 22:57] tgolen commented on #2762
Wow, very awesome. In the "Before" table, the mergeCollection row, there is
a value of "10.67". What unit of time is that?

On Tue, May 25, 2021 at 4:50 PM David Barrett ***@***.***>
wrote:

[2021-05-25 23:00] isagoico opened #3137 "New Chat - Type box is not auto focused to search for a user when creating a new chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Search should be auto focused so the user doesn't have to manually select the box to search for an account.

## Actual Result:
Type box is not auto f

[2021-05-25 23:31] marcaaron commented on #3134
Actually, now  I'm curious about this issue... Why should we not be able to copy multiple messages? What's wrong with that?

[2021-05-25 23:32] alex-mechler commented on #2659
Digging into this, it seems unrelated. I was watching my localstorage the whole time, and report `254` was out of my local storage when signing into an account without access to it, yet it still was the report I was brought to.

[2021-05-25 23:33] parasharrajat commented on #3134
Actually, we were able to copy the UserName ,timestamp and anything that was selected etc. So I am not sure if that was desired.

[2021-05-25 23:37] marcaaron commented on #3134
Any discussion about it or context to share? There's also this issue which seems to imply copying multiple comments should be allowed.

https://github.com/Expensify/Expensify.cash/issues/1341

[2021-05-25 23:40] kidroca commented on #2762
@tgolen
It's seconds, updated the table

[2021-05-25 23:41] parasharrajat commented on #3134
Originally posted here https://expensify.slack.com/archives/C01GTK53T8Q/p16208390261216007

[2021-05-25 23:41] roryabraham commented on #2713
Well, if I upload a large attachment, then 1 second later send a text message, then the text message may added to the report in the back-end before the attachment. So from my perspective I sent the attachment first, but then the text message will appear first in the report history.

But under the new paradigm, we'll often be sending attachments and text "at the same time", at least from the user's

[2021-05-25 23:54] marcaaron commented on #2713
Got it thanks! Yeah, I'm still unsure if this is a problem or not. If your attachment shows up after a message because it takes a bit longer that could be a feature (we just prioritize message speed over preserving the order of messages).

[2021-05-25 23:57] marcaaron commented on #2713
That could work. A lot of things are dependent on `sequenceNumber`, but it might be worth an investigation.

[2021-05-26 00:01] #2601 closed

[2021-05-26 00:42] isagoico commented on #3099
Regression is finished!
No issues found today.

PRs are finished too!
No comments added.
🎉 🎉
CC @roryabraham

[2021-05-26 00:49] isagoico commented on #3099
:shipit:

[2021-05-26 00:49] #3099 closed

[2021-05-26 00:50] aliabbasmalik8 commented on #2122
**PROPOSAL**
We need to add `fixAndroidTouchableBug` props at this position and it'll work fine
https://github.com/Expensify/Expensify.cash/blob/0d5be8275b6f50054867b9e2f0a7a30a6db95492/src/components/Picker/index.js#L17

Reference: https://github.com/lawnstarter/react-native-picker-select/issues/354
Thanks

[2021-05-26 00:52] OSBotify opened #3143 "Deploy Checklist: Expensify.cash 2021-05-26"
**Release Version:** `1.0.55-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2730
- [x] https://github.com/Expensify/Expensify.cash/pull/2978
- [x] https://github.com/Expensify/Expensify.cash/pull/3003
- [x] https://github.com/

[2021-05-26 01:02] roryabraham commented on #2122
That's funny ... hopefully that `fixAndroidTouchableBug` prop is temporary and the maintainers decide to merge a long-term solution which doesn't require a separate prop that literally says "yes I want this bug" or "no I don't want this bug"...

But good find @aliabbasmalik8! Feel free to submit a pull request once you've been hired on Upwork!

@trjExpensify feel free to hire @aliabbasmalik8 on Up

[2021-05-26 01:24] roryabraham commented on #2821
@dklymenk the [Slack discussion](https://expensify.slack.com/archives/C01GTK53T8Q/p1621969175208000) showed pretty clearly that people prefer the option to have just `UP` trigger the edit, not `CMD + UP`.

[2021-05-26 01:48] roryabraham commented on #3143
Locking to test CPs (step 4 of testing plan [here](https://github.com/Expensify/Expensify.cash/pull/2978))

[2021-05-26 02:55] marcaaron commented on #3103
Hey @arielgreen, I'm curious is this part of a larger effort to make E.cash more accessible and can I learn more about that somewhere?

[2021-05-26 03:25] roryabraham commented on #3143
Unlocking for now, CP testing was unfortunately a failure for now

[2021-05-26 07:20] kakajann commented on #2670
## Proposal

If we replace all the `</blockquote><blockquote>` tags after parsing with ExpensiMark this issue will be fixed.

## Code
[code]

[2021-05-26 07:25] SofiedeVreese commented on #2661
No worries @roryabraham !

[2021-05-26 09:58] Beamanator commented on #2934
Awesome, thanks!

[2021-05-26 10:03] Beamanator commented on #2936
Personally I'm ok with the error message showing up as quick as it does (if you type really quickly you shouldn't get the message until you pause, which makes sense to me).

I do agree that the blank white space under the text box is not very visually appealing... Could we make the error text display above the text box, below 'Search'? Maybe the error message can be shortened so it's 1 line in tha

[2021-05-26 10:25] trjExpensify commented on #2122
Thanks, @aliabbasmalik8. Hired! 👍

[2021-05-26 10:43] dklymenk commented on #2821
Submitted a PR with ArrowUp keybind.

[2021-05-26 10:46] trjExpensify commented on #2570
Paid.

[2021-05-26 10:46] #2570 closed

[2021-05-26 12:06] pranshuchittora commented on #2936
@Beamanator let me know your final thoughts :)

[2021-05-26 15:02] #3072 closed

[2021-05-26 15:09] arielgreen commented on #3103
Hey @marcaaron, yep; @laurenreidexpensify is heading this up. See https://github.com/Expensify/Expensify/issues/164705, #accessibility in Slack, and specifically [this thread](https://expensify.slack.com/archives/CNKBZSQ07/p1621529612003300), which precipitated these issues.

[2021-05-26 15:40] parasharrajat commented on #3055
Here is how I would like to tackle this.

## Proposal

1. To make the button sticky we can use a common technique where we keep the parent `flex:1`and then add the main content inside a `ScrollView` and add the fixed button as next sibling element. This is already implemented in the few of the components mentioned above.
2. We use our custom `Button` component for manage the disable/enable state &

[2021-05-26 15:53] shawnborton commented on #2936
From what I can tell from the recording, you need to type **very** quickly though. Is there a happy balance we can strike here?

Personally not a fan of this idea as it goes against the pattern we've established elsewhere, where form validation happens as a small message below the input.

That would be awesome, though not sure if we have enough room. In the very least, @pranshuchittora can you mak

[2021-05-26 15:53] marcaaron commented on #2990
Is this a duplicate of https://github.com/Expensify/Expensify.cash/issues/2857 ?

[2021-05-26 16:07] marcaaron commented on #2617
I'm no longer able to repro this feel free to reopen if it's still an issue @isagoico

[2021-05-26 16:07] #2617 closed

[2021-05-26 16:11] marcaaron commented on #2434
cc @mountiny this might be a good first pick issue to get some `Expensify.cash` xp

[2021-05-26 16:13] marcaaron commented on #2397
I think we are already doing this as a side effect of the `Onyx.get()` proposed changes so I'm going to close this one.

[2021-05-26 16:13] #2397 closed

[2021-05-26 16:13] roryabraham commented on #2670
@kakajann I would prefer to see a solution implemented directly in the [ExpensiMark module](https://github.com/Expensify/expensify-common/blob/master/lib/ExpensiMark.js), rather than a patch created outside ExpensiMark in Expensify.cash. Note that ExpensiMark actually lives in the https://github.com/Expensify/expensify-common and not https://github.com/Expensify/Expensify.cash.

[2021-05-26 16:17] marcaaron commented on #2041
It's been a while since I've come across this so I'm going to assume it has been fixed. Feel free to reopen if it occurs again.

[2021-05-26 16:17] #2041 closed

[2021-05-26 16:22] marcaaron commented on #3093
Ah well, it's empty because there is no requirement that a user have these personal details set.

One interesting thing from your video is that despite clearing out the details the profile page itself did not update correctly (it should be showing the email only) so maybe you'd like to file a separate ticket for that.

<img width="407" alt="Screen Shot 2021-05-26 at 6 21 55 AM" src="https://user-i

[2021-05-26 16:22] #3093 closed

[2021-05-26 16:23] #2937 closed

[2021-05-26 16:28] tgolen commented on #2762
These numbers look fantastic. I think the hardest thing for me to wrap my mind around is the average `Onyx:get` call takes `2.03sec` currently? Is that really true?

[2021-05-26 16:30] marcaaron commented on #3087
There is a way to do this with deep linking, but it's not yet set up for our Electron app.

This looks like a decent guide though I haven't looked into it much...

https://shipshape.io/blog/launch-electron-app-from-browser-custom-protocol/

The only other problem is that our validation links are "universal" and don't have a custom protocol (which electron requires e.g. a validation link might end

[2021-05-26 16:32] kidroca commented on #2762
Not on ios
This on my physical android device. It's a bit old but still...
Also note that a lot of reads happen in parallel so you won't be waiting 2sec per each prop change

[2021-05-26 16:32] marcaaron commented on #3087
But if all we want is for the user to be able to go back to the password entry we can try this:

**When on desktop clear the user email after 5 seconds so they do not have to manually click on "not {email}"**

[2021-05-26 16:38] marcaaron commented on #2762
I could see how something like retrieving and parsing a very large chat could take this long. Most other things I'd expect to be very fast.

[2021-05-26 16:41] NicMendonca commented on #2847
hey @pranshuchittora! how are you getting on with the PR? Is there anything you need help with?

[2021-05-26 16:52] tgolen commented on #2762
I'd be interested to see the before/after for iOS too. I assume the numbers won't be drastic, but it would be nice to confirm that.

[2021-05-26 16:57] isagoico commented on #2990
They are really similar but nope. On https://github.com/Expensify/Expensify.cash/issues/2857 there was no manually marking as unread but the user the messages got marked as unread by an unknown reason atm 🤔

[2021-05-26 16:59] dklymenk commented on #2972
Hello, is this still reproducible in dev environment? I have no issues with it on `main`.

https://user-images.githubusercontent.com/64093836/119701195-c10c2780-be5c-11eb-88ed-dc779beed8d6.mp4

Maybe it's some specific pdf files that cause a crash?

[2021-05-26 17:03] roryabraham commented on #2258
@kadiealexander I see that the [old Upwork listing for this issue](https://www.upwork.com/jobs/~01f6625d382eb3f5db) has been closed. Can you create a new one please so we can push this issue along? As soon as you have the new Upwork posting, please:

1. Update the E/E tracking issue
1. Update the OP of this issue with the new Upwork posting
1. Take this issue off hold

Then we can start taking con

[2021-05-26 17:13] mallenexpensify commented on #2719
Thanks for the context @kidroca. I'm not an engineer so will loop one in here to review.

[2021-05-26 17:15] parasharrajat commented on #3038
I have handled it in the https://github.com/Expensify/Expensify.cash/pull/3021. Let me know if you want me create a separate PR for this. Thanks.

[2021-05-26 17:32] isagoico commented on #2990
Oh wait, I was looking at the wrong email inbox 🤦. The email is being triggered again for the user on the other side of the conversation. So e.g:
- Logged in as account A
- Navigate to a conversation with account B
If you mark as unread a message from Account A, account B will get the email notification (even if it was marked as unread by account A)
If the message marked as unread is from account

[2021-05-26 17:32] #2097 closed

[2021-05-26 17:36] isagoico commented on #3143
Starting QA 🚀

[2021-05-26 17:47] mallenexpensify commented on #2712
Thanks @parasharrajat , assigning an engineer for review

[2021-05-26 18:14] isagoico opened #3167 "iOS - App is extremely slow to load conversations"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Conversations should be loaded quickly.

## Actual Result:
Conversation are taking ~5 seconds to load even when navigating out and back again to the

[2021-05-26 18:46] Jag96 commented on #3055
@parasharrajat your proposal looks good, just one question: it looks like the skeleton you're proposing is currently implemented on the ProfilePage, but it is one of the buttons on the list that needs to be changed, what changes will you make there?

When testing on the latest version (1.0.55.0) on the iOS Simulator, it doesn't look like the `Save` button on the Profile Page is shown on top of the

[2021-05-26 18:46] thienlnam commented on #2972
https://user-images.githubusercontent.com/30609178/119714087-4c62ca00-be17-11eb-8f1f-61e9806c6e4a.mp4

I'm still running into this issue on `main`

Currently testing on Pixel 2 API 27, Android 8.1 using a PDF downloaded from a google search of '[example pdf](http://www.africau.edu/images/default/sample.pdf)'

It's very possible that this might just be my dev environment - @isagoico could you pleas

[2021-05-26 18:51] shawnborton commented on #3055
Confirming, I think the Save button should be visible above the keyboard.

[2021-05-26 18:52] jboniface commented on #2531
job posted cc @kidroca

[2021-05-26 19:03] parasharrajat commented on #3055
Oh, last time I checked it was above the Keyboard so let me just have a look on the latest code.

[2021-05-26 19:05] chiragsalian commented on #2662
@pranshuchittora did you have a look at @parasharrajat post and is it helpful?

Additionally, I don't quite follow why an eventListener is needed. Wouldn't just,
[code]
suffice for widths 350 or less to set 6 emojis per row? Does that not work in this scenario?

[2021-05-26 19:12] FaisalAshraf44 commented on #2531
it should work by adding this line to android manifest file

android:requestLegacyExternalStorage="true"

[2021-05-26 19:15] pranshuchittora commented on #2662
Hi @chiragsalian, yes I took a look at it but pixel density might not be relevant. Why?
- Pixel density is not relevant in this case because you can open apps in split-screen (say 2 apps side-by-side) where both the apps will share the same screen real estate. But the pixel density will remain the same as it's the physical property of the device's screen.
---
`eventListener` adds safety and makes

[2021-05-26 19:17] pranshuchittora commented on #2936
@shawnborton in the above-attached video the font size has been changed to `11` as per the feedback received prior to that :)

[2021-05-26 19:19] stitesExpensify commented on #2712
I think that having a large catch-all for any non-supported file types is a great idea!

[2021-05-26 19:22] mallenexpensify commented on #2258
I'm going to assign the External label because a) it hasn't been yet and b) because Rory updated the OP so all the details are there for the post.

[2021-05-26 19:23] mallenexpensify commented on #2258
D'oh, it looks like it stayed assigned to you @kadiealexander cuz you were already assigned (I think).  ¯\_(ツ)_/¯

[2021-05-26 19:23] pranshuchittora commented on #2847
Hi @NicMendonca I was working on it but the version of `expensify-common` on GitHub is `1.0.0` but on npm it's `1.0.1`.

https://github.com/Expensify/expensify-common/blob/f9156da06752046c1df8a32461e46fb51684b32d/package.json#L3

https://www.npmjs.com/package/expensify-common

[2021-05-26 19:26] Jag96 commented on #2920
@aliabbasmalik8 could you explain why it makes no sense there? Is it unnecessary? If so, why?

Why does the re-render only happen after debounce for emojis but not for text?

[2021-05-26 19:30] francoisl commented on #3137
Interesting, looks like we already try to set focus on the input [here](https://github.com/Expensify/Expensify.cash/blob/9f6623e2665aba60605d560729294dff5544c347/src/components/OptionsSelector.js#L97-L99).

It sounds like the cleanest way to fix this would be to use the [`autoFocus`](https://reactnative.dev/docs/textinput#autofocus) property of InputText – I did a quick test and added it to the [`

[2021-05-26 19:31] chiragsalian commented on #2662
@pranshuchittora

Do you have an example in mind where media query won't do the same. Like a case you mentioned was this,

So what I did was load https://www.w3schools.com/css/tryit.asp?filename=trycss_mediaqueries_ex1 into my iPad and set the different dimensions as 410px, 600px, and default. The background color CSS immediately took into effect when I was in landscape, portrait, or split-screen

[2021-05-26 19:33] pranshuchittora commented on #2662
@chiragsalian `media query` will work only for the web. In React Native (considering all platforms) we can't use media query.

https://blog.expo.io/media-queries-with-react-native-for-ios-android-and-web-e0b73ed5777b

[2021-05-26 19:36] mallenexpensify commented on #2712
@stitesExpensify Do we have any/everything needed here for a contributor to start work on the issue? If so can you add the `External` label.  If not, can you type a short list of the deliverables?

[2021-05-26 19:45] chiragsalian commented on #2662
Ahh okay, awesome, alright thank you for explaining.
Yeah I'm a fan with the rest of your proposal with the one suggestion that if you are defining size variables somewhere then define them [here](https://github.com/Expensify/Expensify.cash/blob/main/src/styles/variables.js).

[2021-05-26 19:45] pranshuchittora commented on #2847
Thought @roryabraham @marcaaron

https://user-images.githubusercontent.com/32242596/119721320-a8b20200-be88-11eb-8ff7-a00607417bfe.mp4

**Current Implementation**
As of now, there's only one rule for HTML -> Markdown. Which parses and modifies the string

**Future Architecture**
We can have a set of pre and post rules as we have now. for text parser.

[2021-05-26 19:49] Jag96 commented on #3167
Looking into what caused this as this seems like a regression, some additional notes:

- I can reproduce this locally on the iOS simulator
- After signing out and signing back in, the DM loads at a normal speed again
- Tapping out of a DM and back into the same DM takes longer to load than the previous time

[2021-05-26 19:50] pranshuchittora commented on #2662
Sure, will place all the constants in `variables.js` and will also define proper doc. Is there any specific place for docs? Asking this because there might be some internal documentation 🤔
---

Thanks a lot for the positive feedback it really means a lot. Looking forward to an awesome collaboration with you all.
Good day :)

[2021-05-26 19:52] isagoico commented on #3167
This was reproducible on iPad too. Here are the device logs
[Device logs Ipad.txt](https://github.com/Expensify/Expensify.cash/files/6549302/Ipad.txt)

[2021-05-26 19:53] stitesExpensify commented on #2712
I think the deliverable is just:
When uploading attachments, if the upload fails show a growl that says "Upload Failed. File type may not be supported."

@parasharrajat are you seeing the same thing as me? For some reason the error I'm getting when uploading an MKV is a CORS error, which seems incorrect to me.... That's a weird error to catch here

[2021-05-26 19:55] parasharrajat commented on #2712
So yeah. we get a jsoncode which indicate that file type is not supported this we can adjust the message . Such as *Upload failed! {message here}*.

[2021-05-26 19:55] BayCo commented on #3087
@marcaaron @Luke9389 the simplest solution could be putting `Login` link under the `not {email}` link and make the UX more friendly

[2021-05-26 19:57] dklymenk commented on #2972
Works for me with a newly created emulator with exact same specs:
![DeepinScreenshot_select-area_20210526225410](https://user-images.githubusercontent.com/64093836/119722785-5ca99200-be75-11eb-8f4f-4f3fbfaf8910.png)

https://user-images.githubusercontent.com/64093836/119722992-a1cdc400-be75-11eb-95ba-99ce0236711a.mp4

[2021-05-26 19:59] isagoico commented on #3072
FIxed 🎉
![image](https://user-images.githubusercontent.com/44479856/119723386-61e9eb00-be3b-11eb-8250-9716e3458b61.png)

[2021-05-26 20:02] bondydaa commented on #2719
Cool yep I agree we should not rely on a `setTimeout` as mentioned in the PR.

I think this could probably be worthwhile for an external contributor, I'm guessing @kidroca might have an idea of how to do this even?

I'm not sure it needs to be a daily, weekly is probably good for now since the sooner we get it cleaned up the less likely we will need to put more `setTimeout`s in the code to push th

[2021-05-26 20:04] bondydaa commented on #2719
I don't exactly have the time right now to manage external contributors so I'm not going to apply the external label but @mallenexpensify if you want to so we can get the job up on upwork go for it, i'll ask in engineering-chat as well.

[2021-05-26 20:05] anthony-hull commented on #1517
![expensift](https://user-images.githubusercontent.com/47184118/119723674-9ecad780-be65-11eb-9d13-16fc13d78f3c.gif)
Here you can see it will stay red now. I forgot to show making the password match the rules but it won't change back from red once set.

[2021-05-26 20:10] marcaaron commented on #3167
I don't see anything unusual in those logs. But also can't reproduce this in simulator.

I'm noticing from the video shared above that there are a number of attachments in the chat we are trying to load and the spinner doesn't go away until they are all loaded. So perhaps fetching those images is blocking the JS thread?

[2021-05-26 20:14] alex-mechler commented on #2659
Figured out what was happening, posted in slack to see if we can just remove the `_.once` wrapper
https://expensify.slack.com/archives/C01GTK53T8Q/p1622059995292000

[2021-05-26 20:17] arielgreen commented on #2662
@pranshuchittora Please [apply on Upwork](https://www.upwork.com/jobs/~015b529edefb069ef8) so I can send over the offer.

[2021-05-26 20:21] isagoico commented on #2972
Weird I was able to reproduce this issue yesterday with PDF but I'm unable to reproduce it today. Maybe yesterday I experienced this one https://github.com/Expensify/Expensify.cash/issues/2842 when uploading the PDF and thought it was because of the file (?) 🤯

[2021-05-26 20:22] pranshuchittora commented on #2662
Applied :)

[2021-05-26 20:29] thienlnam commented on #2972
Hmm yeah that might be it @isagoico - also thanks for testing @dklymenk, it looks like it might just be a problem with my emulator.  We might have an issue where another issue is happening which might make it seem like the PDF is crashing the app.  We'll just close this one out but if it happens again feel free to re-open

[2021-05-26 20:29] #2972 closed

[2021-05-26 20:34] thienlnam commented on #1517
Ohh I see what you mean - my bad I didn't realize that there was also another error field for confirming the password.  In that case I think it makes sense if it goes back to the original color if the requirements were met.  I'm going to fallback to @shawnborton for this one though.  The changes are looking good though, could you open up a PR and tag me on it?  We'll work on any changes from that

[2021-05-26 20:39] roryabraham commented on #2847
Until recently, we were pointing Expensify.cash at an expensify-common commit hash rather than actually publishing expensify-common on npm. It looks like @jasperhuangg changed that [here](https://github.com/Expensify/Expensify.cash/pull/3106/files).

@marcaaron since you wrote the SO that @jasperhuangg references in that PR, do you have any comment on whether or not we should be publishing expensi

[2021-05-26 20:41] marcaaron commented on #3167
Images did not seem to have an effect, but adding a PDF made things go a bit slower.

[2021-05-26 20:44] arielgreen commented on #2662
Excellent! Thanks for the quick turnaround. Just sent over an offer, @pranshuchittora.

[2021-05-26 20:45] kidroca commented on #2719
Hey, guys I just want to clarify, the `setTimeout` is needed right now to prevent the bug. We had a similar issue where I've exausted many paths to try and get rid of it. It's possible it won't be needed if we update the image picker library to an up to date version - there is a ticket about it linked in the description.
There is no issue at the moment and the task can be postponed. At least after

[2021-05-26 20:47] Jag96 commented on #3167
I tried changing the ThumbnailImage and ImageView components to just render empty <View> components but I still see the same slowness. It also looks like the issue is happening on reports with and without IOUs, so it has to be something else.

I see `Timing:expensify.cash.switch_report.cold` logged out, so I had a look at https://graphs.expensify.com/grafana/d/yj2EobAGz/expensify-cash-timing?orgId

[2021-05-26 20:54] tgolen commented on #2847
The SO that Jasper linked to is a very general SO that was written with the context of web-e, web-s, and mobile. It wasn't really meant to cover e.cash. @AndrewGable talked about this a lot in the beginning and I think our takeaway was:

- As long as we can maintain strict control over what gets published to NPM, then it is OK to use semver.

At the time, there were doubts if we could maintain the

[2021-05-26 20:57] tgolen commented on #2847
I think we should revert Jasper's change until the solution recommended in that linked issue is solved.

[2021-05-26 20:57] aliabbasmalik8 commented on #2920
@Jag96

for native it's always false so this condition never pass,

https://github.com/Expensify/Expensify.cash/blob/641acd1641cbb7144b3dc89ff60dc1ca30ae67bb/src/pages/home/report/ReportActionCompose.js#L141
yes it is unnecessary because we are using it to prevents opening the keyboard when the first time the chat screen open in the native platform but we already achieve this using autofocus

rere

[2021-05-26 21:02] roryabraham commented on #2847
Agreed @tgolen.

So @pranshuchittora your process should probably be something like this:

1. Create a pull request in expensify-common to update ExpensiMark with your changes.
1. Once that pull request is merged, create an Expensify.cash pull request to update package.json in Expensify.cash to point at the merge commit ref for your expensify-common pull request, instead of the npm package.

[2021-05-26 21:04] parasharrajat commented on #2920
I am still confused about this but I believe this^ & thus this check seems necessary.

[2021-05-26 21:05] #2795 closed

[2021-05-26 21:09] marcaaron commented on #2847
That SO is out of date and should be deleted. I wrote those instructions thinking we would adopt that plan and then went OOO and it slipped my mind. Amending it now, but we should revert @jasperhuangg's changes.

[2021-05-26 21:13] marcaaron commented on #2847
Sorry, I've updated those instructions so we can avoid this in the future.

[2021-05-26 21:14] aliabbasmalik8 commented on #2920
Got it but `this.shouldFocusInputOnScreenFocus` is always false for native platform so in `componentDidUpdate` this check will never pass
https://github.com/Expensify/Expensify.cash/blob/641acd1641cbb7144b3dc89ff60dc1ca30ae67bb/src/pages/home/report/ReportActionCompose.js#L141

But if we want to achieve control the focus on first-time chat open then we already achieve this  here
https://github.com

[2021-05-26 21:21] Jag96 commented on #3167
After some testing it looks like the issue starts happening on version `1.0.41-7`, looking to see what PR could be the cause and confirming on my physical device that `1.0.41-6` doesn't have this issue.

[2021-05-26 21:22] parasharrajat commented on #2920
`ComponentDidUpdate` check is added for subsequent times. And yes you are correct we control first time from
` autoFocus={this.shouldFocusInputOnScreenFocus} `.

[2021-05-26 21:26] stitesExpensify commented on #2712
Hmm okay I'm not seeing that, i'm getting a CORS error for some reason. Weird.

Okay @mallenexpensify the deliverable in that case is:
`When uploading attachments, if the upload fails due to an unsupported file type, show a growl that says "Upload Failed. <FileType> not supported."`

[2021-05-26 21:27] aliabbasmalik8 commented on #2920
yes, But for native this check will never pass

because we are using `debounce` for saving comment so after saving comment `this.props.comment` updated and we see emoji in textfield

[2021-05-26 21:29] Jag96 commented on #3167
Looks like the culprit is https://github.com/Expensify/Expensify.cash/pull/2320, testing and looking into what is causing the slowness

[2021-05-26 21:42] parasharrajat commented on #2712
One think I forget to mention is that what should happen with the report message that will be showing the loader when upload fails. Should not remove it?

[2021-05-26 21:54] kadiealexander commented on #2258
Latest UpWork post: https://www.upwork.com/jobs/~0102615128016a8557

@johndev0711 would you like to keep your proposal in the running here? If you're still interested, could you please have a read of the updated issue and let me know if you think your solution will still apply here?

[2021-05-26 21:59] stitesExpensify commented on #2712
Ah yep you're totally right.

Okay round 3 😅
- When uploading attachments, if the upload fails due to an unsupported file type, show a growl that says "Upload Failed. <FileType> not supported."
- There should not be an attachment loading in the chat
![2021-05-26_15-57-28](https://user-images.githubusercontent.com/42391420/119736549-1afbf580-be3b-11eb-9e9e-ce57c20be1a9.png)

[2021-05-26 22:16] Jag96 commented on #3167
I've removed [this subscription](https://github.com/Expensify/Expensify.cash/pull/2320/files#diff-e6bee90bf18ae0cad1bb445ed9a9c0d989476874f1005810c0f8e93f1f39b99cR215) and it seems to have made loading chats much faster and more consistent on my simulator and my physical device. Going to have somebody else test to confirm.

[2021-05-26 22:40] parasharrajat commented on #3055
@Jag96
Oh sorry I though we are already using the https://github.com/Expensify/Expensify.cash/blob/c11594b845351a638f4782e7e2d6dc0a6772294d/src/libs/KeyboardAvoidingView/index.ios.js

But it seems we have only added it one place so far so I will wrap all the components in the `KeyboardAvoidingView` to make the button fixed to bottom. Updating the proposal...

[2021-05-26 23:13] Jag96 commented on #3167
I've created a PR that will reduce the slowness here: https://github.com/Expensify/Expensify.cash/pull/3169. @yuwenmemon please have a look, if we want to move forward with this fix it will break the draftComment feature and a new fix will have to be implemented.

[2021-05-26 23:42] yuwenmemon commented on #3167
Interesting - but the `draftComment` isn't really changing that often, is it? I wonder what's going on that's causing it to update the prop so often...

[2021-05-26 23:48] parasharrajat commented on #3137
This issue will be automatically resolved when https://github.com/Expensify/Expensify.cash/pull/2956 this is merged. But we have  a issue on IOS for which I have not found any straight solution except using InteractionManager for native devices.

[2021-05-26 23:49] Jag96 commented on #3167
I believe the main issue is that we're creating a subscription for each message, so for chats with lots of messages loading up the chat takes longer.

[2021-05-26 23:50] Jag96 commented on #3055
@parasharrajat your proposal looks good 👍 Please submit a proposal on Upwork, once it's approved you can start on a PR

[2021-05-26 23:55] deetergp commented on #3041
Rather than triage and release into the general pool, I am going to keep this one and try to fix it. I am going to change the priority from `Daily` to `Weekly` though.

[2021-05-27 00:42] isagoico commented on #3143
**Regression** is finished!
No issues found today.

**PRs** are finished too.
1 comment added
1. https://github.com/Expensify/Expensify.cash/pull/3080#issuecomment-849069503 - Not sure if deploy blocker @nickmurray47

Thanks!

[2021-05-27 00:49] isagoico opened #3172 "IOU - Long email or name is overflowing the border of the modal"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Email or name should be wrapped so there's no overflowing at the edge of the modal

## Actual Result:
Long email or name is overflowing the border of

[2021-05-27 01:12] stephanieelliott commented on #2938
Hey @pranshuchittora, any updates on when we can expect a PR?

[2021-05-27 01:58] Christinadobrzyn commented on #2097
@kaushiktd is paid in Upwork, the contract has been completed, and the Upwork post has been closed

[2021-05-27 01:58] #3103 closed

[2021-05-27 02:37] jasperhuangg commented on #2920
@aliabbasmalik8

So to clarify, you're saying this issue is occurring because we're setting the value of the `TextInput` immediately, but it isn't re-rendering until `this.props.comment` is updated, which doesn't happen for some time because it's debounced?

[2021-05-27 02:52] kadiealexander commented on #3172
Reproduced this issue in the web app:

![image](https://user-images.githubusercontent.com/59587260/119758690-08e18c00-befb-11eb-9ddd-67d1f967e36c.png)

[2021-05-27 03:03] Christinadobrzyn commented on #2097
Ah, I accidentally paid this PR too early, it should have been paid 7 days after the PR merge. I'm also going to be ooo next week so I assigned Kadie to this issue.

If needed, please reopen so @kaushiktd can fix any issues with the PR.

[2021-05-27 03:27] TwizzyIndy commented on #3101
# Proposal

1. We should add `accessibilityLabel` and `accessibilityRole` in `Header` and two `TouchableOpacity` components

https://github.com/Expensify/Expensify.cash/blob/077a793bd0871aba45d93c0db7ed7eb198cada4f/src/pages/home/sidebar/SidebarLinks.js#L133-L146

like this

[code]

2. For `CreateMenu` component, we should also add two attributes like we did.

https://github.com/Expensify/Expensif

[2021-05-27 06:51] Christinadobrzyn commented on #2719
External Job posted in Upwork - https://www.upwork.com/jobs/~012fc94068d907e4dd
Internal Job posted in Upwork - https://www.upwork.com/ab/job-post/1328455843768528896/1397807119242944512

Invited @kidroca to the project to work on it as needed

[2021-05-27 07:14] jasperhuangg commented on #3104
Hi @SofiedeVreese, my plate's kinda full at the moment, and @kakajann expressed interest in working on thist so I think it'd be great if we could export it! More than happy to help review proposals :)

[2021-05-27 07:17] jasperhuangg commented on #3104
Yo @MitchExpensify! @kakajann expressed interest on working on this and seems to have a solution in mind. Let me know if I need to review any proposals!

[2021-05-27 08:07] kidroca commented on #3167
Spot on!

Furthermore any edits made would capture an empty draft message in storage, which means, even though the message is empty Onyx would try to retrieve it from storage

https://user-images.githubusercontent.com/12156624/119787615-0de21380-beda-11eb-8951-2beefb3abfe6.mp4

It's rather expensive to store and retrieve each action's draft message separately, why not store them:
- a) under a sing

[2021-05-27 09:06] jasperhuangg commented on #2847
Hey! Sorry for missing this. I wasn't aware that there was a difference, apologies for failing to notice this. I guess something felt slightly off when it was startimg off at version 1.0.0, but I didn't think much of it. Glad you were able to revert the change!

[2021-05-27 11:55] michaelhaxhiu commented on #3055
Hired @parasharrajat on Upwork. Feel free to start on your PR!

[2021-05-27 12:05] michaelhaxhiu commented on #3102
Ugh I let this wait a few days because I wasn't clear on what to do when I initially looked at it.

I'm a little confused by what this GH is actually requesting an improvement for -- is there an associated discussion or chat? Can I please have a link? Why does "close" need a role + label?

[2021-05-27 12:08] kidroca commented on #2719
Sorry but there's some big misunderstanding here. There's nothing that can be done for this ticket ATM. And there's no bug that needs fixing - I was asked to open this task as a reminder to remove the `setTimeout` call at some point in the future when that's possible, currently it's not possible it will lead to a bug preventing image picking
I don't see any way to address this right now.
The best

[2021-05-27 12:44] dklymenk commented on #2842
Is the issue still reproducible?

I am up-to-date on `main` and app doesn't seem to crash for me. Tried on API27 (android 8.1) and API29 (android 10).

Is it maybe real device or production only?

https://user-images.githubusercontent.com/64093836/119827692-19493500-bf02-11eb-8676-906ba0c72ad9.mp4

https://user-images.githubusercontent.com/64093836/119827699-1b12f880-bf02-11eb-9cee-4be1fef8000c.mp

[2021-05-27 13:48] isagoico commented on #3143
https://github.com/Expensify/Expensify.cash/pull/3080#issuecomment-849069503 was not a deploy blocker. Closing the issue!

[2021-05-27 13:49] isagoico commented on #3143
:shipit:

[2021-05-27 13:49] #3143 closed

[2021-05-27 13:53] isagoico commented on #2842
You're right. I was unable to reproduce this on build 1.0.55-0. I also confirmed with the tester team and they didn't see this issue during the last regression. 🤔

[2021-05-27 13:55] OSBotify opened #3178 "Deploy Checklist: Expensify.cash 2021-05-27"
**Release Version:** `1.0.56-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/3014
- [x] https://github.com/Expensify/Expensify.cash/pull/3022
- [x] https://github.com/Expensify/Expensify.cash/pull/3060
- [x] https://github.com/

[2021-05-27 14:35] pranshuchittora commented on #2847
To summarise
1. Successfully merge the PR in `expensify-common`.
2. Change the version of `expensify-common` to the merge commit hash in `E.cash` repo (this repo).

Is this correct?

[2021-05-27 15:22] #2659 closed

[2021-05-27 15:23] michaelhaxhiu commented on #2936
Yeah I agree with @shawnborton on the quick timing we are displaying the error. It shows up really quickly. Maybe we can add a 1.5 second delay after a user presses the last key?

Also, is there a confirmation button a user clicks after entering a valid email or phone number? Like "Submit" or something? Or is it just enter on the keyboard?

I'm wondering if we ought to use something that resembles

[2021-05-27 15:40] tgolen commented on #2719
Yeah, let's put this on HOLD until that library is updated. Good call.

[2021-05-27 15:49] shawnborton commented on #2936
I think a submit button would make the experience poor as well, especially given that the chat search is used to quickly jump between chats.

[2021-05-27 15:50] michaelhaxhiu commented on #2936
Got it. I looked at other fields in e.cash that resemble this one, and see that you can click the row or hit enter on the keyboard. Let's keep consistent with that theme and ignore my idea.

[2021-05-27 16:33] michaelhaxhiu commented on #3102
Spoke to Ariel 1:1 and clear on this one now. Posting it shortly.

[2021-05-27 16:45] AndrewGable commented on #2748
We tested this and the code did not work. I do not have a ton of time to dig into this at the moment so we will revert it and I will try something else soon.

[2021-05-27 16:48] isagoico commented on #3178
Starting QA

[2021-05-27 16:49] trjExpensify commented on #1970
Paid, thanks Ramesh!

[2021-05-27 16:49] #1970 closed

[2021-05-27 17:01] anthony-hull commented on #1517
Yeah sure I'll put a draft PR in

[2021-05-27 17:06] isagoico opened #3186 "Android - Emoji - Cursor is not in front of the emoji"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result
Cursor position should display in front of the emoji

## Actual Result
Cursor position is not in front of the emoji. Sometimes is behind the emoji and

[2021-05-27 17:06] isagoico commented on #3186
CC @aliabbasmalik8

[2021-05-27 17:14] isagoico opened #3187 "Report action menu - Menu is not dismissed after performing an action"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Menu should be dismissed after performing an action.

## Actual Result:
Menu is not dismissed after performing an action forcing the user to click on

[2021-05-27 17:21] michaelhaxhiu commented on #3102
I have more questions about this:

1. What does Role & Label refer to specifically? Is that just the component that voiceover _reads_ for the user? If so, which is which in this example of fixing the "X" button voiceover?

2. I did some testing on my iPhone and Android, and noticed that the "X" doesn't have a voiceover component on **any** pages whatsoever. Should I just expand the scope of this G

[2021-05-27 17:31] parasharrajat commented on #3102
@michaelhaxhiu There are couple of good reasons we want things to be accessible. Here the brief information how web will tackle this https://necolas.github.io/react-native-web/docs/accessibility/.

And https://reactnative.dev/docs/0.63/accessibility for native devices.

[2021-05-27 17:32] MitchExpensify commented on #3104
Cool, @jasperhuangg! Creating UpWork job now

[2021-05-27 17:47] MitchExpensify commented on #3104
Here is the Job posting if you'd like to apply for it @kakajann! https://www.upwork.com/jobs/~01a7eb95dc405570e3

[2021-05-27 17:48] isagoico opened #3188 "[HOLD] Navigating to the same conversation will auto scroll to the recent messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User should be taken to the last place in the conversation were it was left off

## Actual Result:
User is taken to the recent messages and has to ma

[2021-05-27 17:53] michaelhaxhiu commented on #3102
@parasharrajat curious what you think about scope (question #2 from above)?

[2021-05-27 17:59] shawnborton commented on #1517
Can you make the small hint text under the input use `color.textSupporting` until it needs to turn red for error validation?

For the second input, I don't think it makes sense to immediately show a "Passwords must match" error - the user hasn't even had a chance to type the password at that point. Can we wait until they are done typing to validate the field, and then show the error if they don't

[2021-05-27 18:00] parasharrajat commented on #3102
And I will say, Yes. We should combine similar behavioural components into one issue as it just require using the same code everywhere. but I am not sure how are we tracking these internally  so please take it as a opinion only.

[2021-05-27 18:02] michaelhaxhiu commented on #3102
Yep I was curious for your opinion, thanks! Appreciate the 2 cents.

@arielgreen was there a reason this was made for just the chat window? Meaning, do we need to do the improvements piece-wise like this ideally?

[2021-05-27 18:07] arielgreen commented on #3102
I would agree, let's apply this change to all 'X' buttons.

[2021-05-27 18:09] nickmurray47 commented on #3186
Going to unassign myself and set it as weekly given that there's an easy workaround on Android by just using the native emoji picker. @aliabbasmalik8 brought up what the issue is in this comment [here](https://github.com/Expensify/Expensify.cash/pull/3080#issuecomment-849303436).

[2021-05-27 18:14] michaelhaxhiu commented on #3102
Sweet. Let's get an eng opinion before I post the job to reduce the chance of commotion of an unclear scope down the road.

cc @stitesExpensify Can you weigh in by chance?

To make this simple, here's what I'm proposing we do with this job specifically:

## Expected Result:

Update this to... Add a role, label, and voiceover to the "Close" X button

Does that make sense or does adding a role + lab

[2021-05-27 19:02] anthony-hull opened #3189 "Setting a password on account sign up with expired token gives wrong error message"
## Expected Result:
Error to say:
Your token has expired, click here to resend one.

## Actual Result:
Error was as follows:
![image](https://user-images.githubusercontent.com/47184118/119882160-02b4d500-bf26-11eb-878a-e910d9c7f6ba.png)
The user isn't trying to log in at this point.

## Action Performed:
trigger password reset
make sure you're logged out
navigate to here: http://expensify.cash/set

[2021-05-27 19:16] anthony-hull commented on #1517
Thanks for the feedback @shawnborton . I've made the changes you suggested.
As @thienlnam suggested I've made a [draft PR](https://github.com/Expensify/Expensify.cash/pull/3190) with the changes in so you can have a play with how the UX works and see what you think.

[2021-05-27 19:17] anthony-hull commented on #1517
Navigate to here:
http://localhost:8080/setpassword/[USERID]/[RESETCODE]

[2021-05-27 19:22] arielgreen commented on #3019
Reopening, will close upon payment 6/3.

[2021-05-27 20:11] shawnborton commented on #2936
Okay so my latest idea, and not far from where we current are, is that maybe we should just launch the Search pane with no fixed space underneath the search box. I would hope in most cases when people quickly navigate to a different chat, their search query would return results and won't need an error message. When there is indeed an error, let's just show the error message under the box. Bonus po

[2021-05-27 21:13] kidroca commented on #2762
## Setup Info
iPhone 11 Pro
iOS: 14.4.2

Scenario: Startup and load last viewed chat (large chat 250 + messages)

## Before
| methodName             |       total |         max |         min |         avg | calls |
|------------------------|------------:|------------:|------------:|------------:|------:|
|  Onyx:get              |     1.8min  |  606.960ms  |    5.700ms  |  281.176ms  |   383 |
|

[2021-05-27 21:18] roryabraham commented on #3104
This issue is a duplicate of https://github.com/Expensify/Expensify.cash/issues/2847, which is already being worked on. Closing this out! @MitchExpensify please don't hire anyone on Upwork for this.

[2021-05-27 21:18] #3104 closed

[2021-05-27 21:28] Luke9389 commented on #3188
I think this may be the intended behavior. Gonna go ask and come back.

[2021-05-27 21:29] tgolen commented on #2762
Thanks, that looks about like what I was expecting. This change is definitely going to get the averages down, but then we might want to start looking into some of those max values and see if we can do something about improving those specifically.

[2021-05-27 21:49] roryabraham commented on #3188
I think that this could be a nice, but it's a new feature not a bug. The ability to save scroll position and scroll directly to that position in a chat is pretty closely tied to [comment linking](https://github.com/Expensify/Expensify/issues/147480), and there are some substantial hurdles to overcome before this can be a reality. Mainly, we need to implement bidirectional pagination and scrolling,

[2021-05-27 21:52] roryabraham commented on #3104
Also, just FYI, there is a tracking issue that this will eventually fall under [here](https://github.com/Expensify/Expensify.cash/issues/3047).

[2021-05-27 22:16] iwiznia opened #3194 "[Hold for Payment on 16 June] Make permissions checking asynchronous by creating a withBetas HOC"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem

The methods in permissions.js file should be asynchronous. They kind of already are if you look at the code, since data is coming from Onyx, but the methods

[2021-05-27 22:18] tgolen commented on #3194
Yeah, I think this is a good move. I'd like to see those moved to an HOC or at the very least be made asynchronous. Without them being asynchronous, we are limited by the amount of checks we can do. For example, we can't use `Environment.getEnvironment()` because that is an async method.

While this is not currently a problem, I'd like to change this code so that when new betas are added, they do

[2021-05-27 22:49] marcaaron commented on #3194
Gonna try to rephrase this problem solution to make sure I understand...

**Problem**

- The beta list is fetched async then saved to storage before it updates the local list in memory.
- We also use a native module to determine if the app version is beta which happens async.
- Checks in `Permissions.js` need to wait for those things to happen before returning or else they may be inaccurate.

**So

[2021-05-27 23:00] iwiznia commented on #3194
What do you mean by delay rendering? As in other HOCs, I think we would not delay it, right? If the betas data is not present, it would render the same as if you were not in any beta and when the data is available, it would re-render.

[2021-05-27 23:18] kidroca commented on #2762
What caught my eye is that a lot of the `get` calls are for `session` and `personalData` e.g. each chat comment seems to want them, but does it really have to get it from Onyx. The data would be the same for each comment. It would be more performant to have the parent component subscribe for `session` and `personalData` and pass this down to the comments - 1 subscription vs +200 individual subscri

[2021-05-27 23:59] isagoico opened #3195 "Sign in - Offline message on password page is not friendly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Let's use the following message:
`Looks like you're offline. Please check your connection and try again.`

## Actual Result:
`API is offline` is disp

[2021-05-28 00:21] Christinadobrzyn commented on #2719
Ah sorry for the confusion! Thanks for clarifying! Removed the Upwork posting and added a HOLD label to this issue.

[2021-05-28 00:30] isagoico commented on #3178
Regression is finished!
1 issue found today:
1. https://github.com/Expensify/Expensify.cash/issues/3195

PR are finished too!
No comments added.

@roryabraham @AndrewGable I see this one was reverted https://github.com/Expensify/Expensify.cash/pull/3183 should I hold on closing the issue and wait until it is merged?

[2021-05-28 00:45] roryabraham commented on #3178
:shipit:

[2021-05-28 00:45] roryabraham commented on #3178
:shipit:

[2021-05-28 00:45] #3178 closed

[2021-05-28 00:47] Christinadobrzyn commented on #3108
I'm going to be ooo May 31 - June 7th so assigning this to Kadie to post in Upwork once we have a thumbs up on the internal GH -  https://github.com/Expensify/Expensify/issues/157830

[2021-05-28 00:48] OSBotify opened #3199 "Deploy Checklist: Expensify.cash 2021-05-28"
**Release Version:** `1.0.59-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2046
- [x] https://github.com/Expensify/Expensify.cash/pull/2956
- [x] https://github.com/Expensify/Expensify.cash/pull/2958
- [x] https://github.com/

[2021-05-28 01:06] roryabraham commented on #2918
Any @Expensify/mobile-deployers have any extra bandwidth to look into this?

[2021-05-28 04:01] marcaaron commented on #3194
`withOnyx` delays the rendering of a component until the data is retrieved from `AsyncStorage` so the `Onyx.connect()` part of our problem is already solved. That leaves the API call and the native modules async data.

Delaying came to mind since I'd assume we would not want to initialize a view with all beta features disabled by default and then flash in the beta features as the various data beco

[2021-05-28 05:06] JmillsExpensify commented on #2850
Jumping in to post on Upwork now.

[2021-05-28 05:13] JmillsExpensify commented on #2850
If you are interested in working on this issue, then post directly here in GH with a proposal with the technical explanation of the changes you will make. Somebody from Expensify will review your proposal in GitHub, and if your proposal is accepted, you will be hired in Upwork for the job. Thank you!

[2021-05-28 05:14] JmillsExpensify commented on #2850
Upwork job posting for reference: https://www.upwork.com/jobs/~01db49fd6e066d5af8

[2021-05-28 07:16] SofiedeVreese commented on #3194
I'm out of office today so removing my assignment and adding the AutoAssigner label back in for triaging.

[2021-05-28 07:18] BaraaSoft commented on #3134
I would like to work on this issue.
My proposed solution is to disable other comments when user select a particular comment.
Doing so by maintaining the state of whether a specific comments is selectable. Utilising Text [selectable] prop.

[2021-05-28 10:12] jasperhuangg commented on #2847
@pranshuchittora This commit hash will actually have to be updated in other places too, so once you change it in E.cash please post it here and I'll take care of the rest.

[2021-05-28 11:29] aliabbasmalik8 commented on #2850
**PROPOSAL**
We can achieve this by updating the style here
https://github.com/Expensify/Expensify.cash/blob/b4e07c60df0c1edf7f48c320c7ec36609648a3d6/src/pages/home/report/ReportActionItemMessageEdit.js#L99

[code]

NOTE: above used styling object already used in-app for new comment `<TextInput>`.

[2021-05-28 11:30] dklymenk commented on #2850
Managed to reproduce the issue on Windows (no issue on Linux). It looks like emojis have higher `line-height` on windows.

linux, no issue, emoji is inside textarea:
![DeepinScreenshot_select-area_20210528135554](https://user-images.githubusercontent.com/64093836/119974135-fdef3000-bfbc-11eb-9d87-3af86376ff73.png)

windows, emoji is a few pixels higher than textarea:
![image](https://user-images.g

[2021-05-28 11:31] laurenreidexpensify commented on #3194
@iwiznia @marcaaron when you reach a consensus here can you please update the O/P to reflect the outcome. Thanks

[2021-05-28 12:25] Beamanator commented on #2967
I'm not sure if people were waiting on me to respond 😅 but I think these are all great options, I think it makes sense to move forward with proposals for fixing this issue (which is really kinda implementing a new feature). Either by shrinking the size of the context menu background, or trying to eliminate it and just keep the popup.

[2021-05-28 12:46] MariaHCD commented on #3187
@roryabraham Do you know if this is expected behaviour? Seems like it is or is the context menu supposed to be dismissed once an action is clicked?

[2021-05-28 13:38] SofiedeVreese commented on #2821
Going to unassign myself and re-add the External label as I'm going on an extended break after today and will be 0%. For whoever is assigned, the PR should be merged shortly and ready to add the hold status.

[2021-05-28 14:25] tgolen commented on #3194
I think the delayed re-rendering might be a pre-optimization. I'm not sure that there is really a problem with that yet. However, I do kinda like the idea of just using `withOnyx` (not creating a new HOC) and then passing `this.props.betas` to the permission methods.

[2021-05-28 14:45] stephanieelliott commented on #2629
Moving this to `Monthly` priority while we discuss this internally!

[2021-05-28 15:04] Beamanator commented on #2936
I have a similar idea that _may_ help us solve some problems:

What if we only show the error message when there aren't any matching results showing? I think it looks a little weird showing results & an error message at the same time because the user sees "something's wrong with what I'm typing, but there's also some results showing". Example:

<img width="298" alt="Screen Shot 2021-05-27 at 4 41

[2021-05-28 15:50] roryabraham commented on #3187
This is a new feature not a bug. Basically the expected behavior right now is that the context menu will stay open when an action is clicked, and will only be closed once the user clicks/taps outside it or swipes it closed. The new functionality here is that when an action is clicked, we'll set a timeout to close the context menu after 3 seconds.

[2021-05-28 16:19] michaelhaxhiu commented on #3102
As an update, we are awaiting input on adjusting the scope of this job.

[2021-05-28 17:14] #2951 closed

[2021-05-28 17:28] aliabbasmalik8 commented on #2920
@jasperhuangg

I want to use this component `TextInputFocusable` as a controlled component in `ReportActionCompose` to fix this issue  `The emoji picker takes a half-second to add an emoji once it's been tapped on`

to fix this issue `the keyboard isn't pulled up afterwards.` we can add one more check and it'll not affect any previous checks in `componentDidUpdate`.
https://github.com/Expensify/Ex

[2021-05-28 17:43] chiragsalian commented on #2850
Nice thank you for the proposals and yes I'm leaning towards the one by @aliabbasmalik8 since it will just affect this component.

@aliabbasmalik8 feel free to create a PR to solve this.

[2021-05-28 17:51] chiragsalian commented on #2850
Oh also @aliabbasmalik8, i dont see your proposal for this issue in upwork. Please post your proposal there too so that we can hire and pay you for the work 🙂

[2021-05-28 17:54] trjExpensify commented on #2811
Yep, completed the contract today. Thanks, @pranshuchittora!

[2021-05-28 17:54] #2811 closed

[2021-05-28 18:00] tgolen commented on #2762
Nice observation. We ran into a similar problem with the
`session.authToken` because each IMG needs the authToken as part of
it's URL to display properly.

While the parent component idea would work, another alternative is what we
did with the authToken. We just made the Sessions.js file connect to Onyx
once and then export a `getAuthToken()` method that returned the single
Onyx value. Now, it loo

[2021-05-28 19:01] aliabbasmalik8 commented on #2920
@jasperhuangg

to fix this issue `the keyboard isn't pulled up afterwards.`
We can add `type` in `modal ONYXKEYS state` and set type when we open modal accordingly.

and add check in `componentDidUpdate`
[code]
at here
https://github.com/Expensify/Expensify.cash/blob/0c8dd5a5430c8b97950c79644ec5481084e48f14/src/pages/home/report/ReportActionCompose.js#L142

**NOTE:** all modal type will be store i

[2021-05-28 19:33] parasharrajat commented on #3194
I prefer Onyx solution, a pretty straightforward thing and no need of HOC overhead.

[2021-05-28 19:35] chiragsalian commented on #2850
@JmillsExpensify, feel free to accept Ali's proposal in Upwork whenever you get the chance.

[2021-05-28 19:38] iwiznia commented on #3194
@laurenreidexpensify updated the OP, we are ready to move this forward, can you post it to upwork?

[2021-05-28 19:47] shawnborton commented on #2936
I like it! @pranshuchittora thanks for your patience with us as we figure this one out :)

[2021-05-28 20:20] JmillsExpensify commented on #2850
Jumping in now!

[2021-05-28 20:28] isagoico opened #3217 "Copy to clipboard - Copying special characters outputs HTML encoding"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Copied text should show the special characters instead of HTML encoding

## Actual Result:
HTML encoding is displayed for special characters

## Acti

[2021-05-28 20:33] isagoico commented on #3167
@JmillsExpensify Experienced some issues that seems related to this performance issue.
1. Back button is not responding after loading a long conversation.
2. Global create button is not responsive

I was unable to reproduce both issues on my device but I think it's because I don't have super long conversations in my testing accounts.
___
Linking the slack thread here. https://expensify.slack.com/a

[2021-05-28 20:52] isagoico commented on #2846
All markdowns are affected by this. This is another example of how the markdown is being considered for a text even if there is a space in front of it.

![image](https://user-images.githubusercontent.com/44479856/120040598-dc9a3e00-bfd4-11eb-8cbf-82906b2345f3.png)
![image](https://user-images.githubusercontent.com/44479856/120040608-e15ef200-bfd4-11eb-809b-ce2a299758f8.png)

___
From @rafecolton h

[2021-05-28 21:02] isagoico opened #3218 "If you edit a recently sent DM by pressing up on keyboard or hovering > edit comment, the focus is on the beginning of the message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Focus should be on the end of the message

## Actual Result:
Focus is on the beginning of the message.

## Action Performed:
1. Navigate to a convers

[2021-05-28 21:09] isagoico opened #3219 "[HOLD for payment on June 15th] Edit comment - Saving an unedited comment shows the `edited` status for a brief moment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork Posting: https://www.upwork.com/jobs/~014b1b019c459a02d5
___

## Expected Result:
If the message was not changed the edited status should not appear.

## Actual Resul

[2021-05-28 21:20] marcaaron commented on #3134
Link didn't work for me @parasharrajat can you summarize for us what was decided?

[2021-05-28 21:25] marcaaron commented on #3134
Closing this based on https://expensify.slack.com/archives/C01GTK53T8Q/p1622237064376000?thread_ts=1620839026.121600&cid=C01GTK53T8Q

[2021-05-28 21:25] #3134 closed

[2021-05-28 21:53] AndrewGable commented on #3101
@iwiznia - Are we localizing accessibility elements? Should @TwizzyIndy's proposal include localized string logic?

[2021-05-28 22:04] kidroca commented on #2762
I want to bring something up here so that it's clear
It would not be possible to always provide a direct reference to an item in cache to Onyx subscribers
For example subscriptions to collection items are shallow cloning data anyway and the direct reference is lost

This is does not mean that there is a problem, it's not like we'll be making copies - we're not
This actually prevents someone to mod

[2021-05-28 22:13] iwiznia commented on #3101
Yes, I think we should definitely localize accessibility elements too.

[2021-05-28 22:17] AndrewGable commented on #3101
Ok @TwizzyIndy - Your proposal looks great, but could you add or edit your initial proposal to include the localized strings? Once I confirm that I can send the Upwork job your way.

[2021-05-28 23:16] roryabraham commented on #3199
Unlocking to fix staging before the weekend

[2021-05-28 23:31] isagoico opened #3227 "Android - App is crashing on login screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
App should not crash in login screen

## Actual Result:
App is crashing on login screen.

## Action Performed:
1. Download latest build (1.0.57-0)
2.

[2021-05-28 23:32] OSBotify commented on #3227
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-05-28 23:33] #3227 closed

[2021-05-29 05:25] TwizzyIndy commented on #3101
Yes, we could add the localized strings in these changes. Firstly, add some static localized strings in `en.js` and then add `withLocalizePropTypes` in prop types. So my proposed codes will be changed like:

### en.js
[code]

### SidebarLinks.js
[code]
### SidebarScreen.js
[code]

[2021-05-29 06:55] pranshuchittora commented on #2936
Sure

[2021-05-29 07:47] mateusbra commented on #2670
### PROPOSAL
We will need to create a process to quotes like what is done with `modifyTextForUrlLinks` at [ExpensiMark module](https://github.com/Expensify/expensify-common/blob/master/lib/ExpensiMark.js) having a function to deal with quotes:
### CODE

 At rules we would have:
[code]

[code]
## SCREENSHOTS

Applying this text:
[code]

We have this output:
![print1](https://user-images.githubuserc

[2021-05-29 15:53] roryabraham commented on #3167
Both of these suggestions sound like good ideas to me – I think `b` would maybe lead to a simpler overall solution.

[2021-05-29 15:53] roryabraham commented on #3167
During the review of [this PR](https://github.com/Expensify/Expensify.cash/pull/3157), we found another performance improvement which can be made in addition to the ones suggested above with regard to https://github.com/Expensify/Expensify.cash/pull/2320.

Two `ReportActionContextMenu` components exist for each `ReportActionItem`, and each of them uses `withOnyx` to subscribe to the session, which

[2021-05-31 00:02] isagoico commented on #2705
Issue reproducible today during KI retests

[2021-05-31 00:02] isagoico commented on #2850
Issue reproducible today during KI retests

[2021-05-31 00:02] isagoico commented on #3041
Issue reproducible today during KI retests

[2021-05-31 00:02] isagoico commented on #2967
Issue reproducible today during KI retests

[2021-05-31 00:02] isagoico commented on #3195
Issue reproducible today during KI retests

[2021-05-31 00:02] isagoico commented on #3172
Issue reproducible today during KI retests

[2021-05-31 00:02] isagoico commented on #3186
Issue reproducible today during KI retests

[2021-05-31 00:02] isagoico commented on #2662
Issue reproducible today during KI retests

[2021-05-31 00:02] isagoico commented on #2499
Issue reproducible today during KI retests

[2021-05-31 00:03] isagoico commented on #2122
Issue reproducible today during KI retests

[2021-05-31 00:03] isagoico commented on #2121
Issue reproducible today during KI retests

[2021-05-31 00:03] isagoico commented on #2447
Issue reproducible today during KI retests

[2021-05-31 00:03] isagoico commented on #2279
Issue reproducible today during KI retests

[2021-05-31 00:03] isagoico commented on #3023
Issue reproducible today during KI retests

[2021-05-31 00:04] isagoico commented on #2849
Issue not reproducible today during KI retests (Third Week) - Closing this, will reopen if we experience this again.

[2021-05-31 00:04] #2849 closed

[2021-05-31 00:05] isagoico commented on #2661
Issue not reproducible today during KI retests (Second Week)

[2021-05-31 00:05] isagoico commented on #2842
Issue not reproducible today during KI retests (First Week)

[2021-05-31 00:06] isagoico commented on #2710
Issue not reproducible today during KI retests (First Week)

[2021-05-31 00:45] jasperhuangg commented on #2920
@aliabbasmalik8 I understand what you're saying, but can you clarify why you think this is happening? What about the `TextInputFocusable` not being a controlled component by the state is causing this delay? Is it because of what I've mentioned above with its updates being debounced?

We can add type in modal ONYXKEYS state and set type when we open modal accordingly.

I like this idea of extending

[2021-05-31 05:06] kadiealexander commented on #1524
Reopening as the PR caused a regression and this will need to continue to be worked on. @marcaaron can you please advise next steps here?

[2021-05-31 08:03] dharammachra commented on #1524
@kadiealexander @marcaaron  - I am working on fixes for Android it is a small change, It is my first task for Expensify so I missed out the Android test case. Today I will commit the fixes for Android. Thanks

[2021-05-31 08:12] jasperhuangg commented on #3217
@tylerkaraszewski Gonna snag this one from ya

[2021-05-31 09:08] #3217 closed

[2021-05-31 09:24] parasharrajat commented on #2920
@jasperhuangg If this available I would like to fix this. So far I don't think we have found the correct solution. If its not available, feel free to utilize the solution.

*There are two issues here.*
1. We are not able to set the value on input.
2. We are not able to set the focus.

#### value on input
For this we just need to update this line so that it uses `setNativeProps`. `textinput.value`

[2021-05-31 11:20] aliabbasmalik8 commented on #2920
@jasperhuangg

right now we updating `TextInputFocusable` value in `ReportActionCompose` using non controlled way in `addEmojiToTextBox` method like this way `this.textInput.value = ...` it's worked for web but for native platforms it's not working and emoji shows after `comment props` update. to fix this I suggest to make it controlled component by adding `value={this.comment}` so when `this.comm

[2021-05-31 13:40] dharammachra commented on #1524
@kadiealexander @marcaaron  - Hi Marc, I fixed the issue on android and committed my changes. Also I verified on all platform iOS, Desktop, Web and Android, so could you please advise next steps.

[2021-05-31 14:45] isagoico commented on #3199
Starting QA!

[2021-05-31 15:11] TomatoToaster commented on #2540
Still yet to figure out WHY this is happening. However Sara has made some intersting discoveries. Here's what we know:
- When redownloading and relogging into the desktop client, the badge numbers actually ROSE. From 500ish to 1500ish.
- When she had gone to an older group chat, which she had already read but for some reason was marked unread, it had lowered the badge numbers (from 1500 to 500ish)

[2021-05-31 16:25] isagoico commented on #2205
Reopening this since it's reproducible again in Android and iOS.

https://user-images.githubusercontent.com/44479856/120220697-28362d00-c20b-11eb-9f11-1eef215f507a.mov

___
From @aliabbasmalik8 https://expensify.slack.com/archives/C01GTK53T8Q/p1622444615386400

[2021-05-31 16:34] isagoico opened #3245 "[HOLD for payment 2022-04-12] [$2000] Edit Comment - There's no emoji picker when editing a comment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Edit comment should have the emoji picker option.

## Actual Result:
Edit comment doesn't have the option to add an emoji. User has to manually add t

[2021-05-31 16:40] #2530 closed

[2021-05-31 17:17] roryabraham commented on #2670
@mateusbra Thanks for your submission. The solution you've proposed is not _perfect_ – I'm seeing a number of potential simplifications. In addition, I noticed that unlike other mappings in the ExpensiMark module, you combined the replacement into the processing step.

That said, I think your proposal is close enough that we could work together on the pull request to get it to a state where we can

[2021-05-31 18:11] isagoico commented on #3199
Adding https://github.com/Expensify/Expensify.cash/pull/3222 manually to the list.

[2021-05-31 18:29] isagoico commented on #3199
Adding these other PRs that were not merged during the friday lock to the list:
1. https://github.com/Expensify/Expensify.cash/pull/2046
2. https://github.com/Expensify/Expensify.cash/pull/2956
3. https://github.com/Expensify/Expensify.cash/pull/2958
4. https://github.com/Expensify/Expensify.cash/pull/3213
5. https://github.com/Expensify/Expensify.cash/pull/3220
6. https://github.com/Expensify/Exp

[2021-05-31 19:48] iwiznia commented on #2973
Still nothing... should we re-raise the price?

[2021-05-31 20:28] isagoico opened #3246 "App - Edit comment - Text box is extremely small for long messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
When editing, the text box should resize to fit longer messages and make it comfortable to edit

## Actual Result:
Edit box is extremely small and un

[2021-05-31 20:40] isagoico opened #3247 "App - Unable to scroll the PDF attachment with 2 pages (pay on 22/6)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User should be able to view the whole document.

## Actual Result:
User is unable to scroll the PDF file.

## Action Performed:
1. Launch the app
2.

[2021-05-31 21:01] isagoico opened #3248 "iOS - Edit comment - Editing a message up in the history will make the chat scroll down"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Message is in focus, user is able to edit it and submit the change

## Actual Result:
User is able to edit the message, but message loses focus - the

[2021-05-31 21:08] isagoico opened #3249 "Delete comment - Deleted comment is still visible in receiver side"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Deleted comment should not be visible for receiver after it has been deleted.

## Actual Result:
Deleted comment is still visible in receiver side an

[2021-05-31 21:08] OSBotify commented on #3249
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-05-31 21:09] isagoico commented on #3249
Added the deploy blocker label since the Delete comment feature has not hit production yet.

[2021-05-31 21:10] isagoico commented on #3199
**Regression** is finished!
4 issues found today:
1. https://github.com/Expensify/Expensify.cash/issues/3249
2. https://github.com/Expensify/Expensify.cash/issues/3248
3. https://github.com/Expensify/Expensify.cash/issues/3247
4. https://github.com/Expensify/Expensify.cash/issues/3246

**PRs** are finished too.
No comments added.

Thanks!

[2021-05-31 23:10] kavimuru opened #3252 "App/web - Deleted comment and image still displayed for receiver account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Deleted message or image as a sender disappears in the chat for the receiver

## Actual Result:
Deleted message or image as a sender does not disappe

[2021-05-31 23:12] isagoico commented on #3252
https://github.com/Expensify/Expensify.cash/issues/3249

[2021-05-31 23:12] #3252 closed

[2021-05-31 23:13] aliabbasmalik8 commented on #3186
**SOLUTION**
It can be fixed by adding
[code]
at here
https://github.com/Expensify/Expensify.cash/blob/e95f5a3d07408794e8055b955f1a5666a9508e0c/src/pages/home/report/ReportActionCompose.js#L288

Actually `selection props` have some serious problem with native platforms  you can see on this link
`github.com/facebook/react-native/issues/29063`

REF: https://reactnative.dev/docs/direct-manipulation#:

[2021-05-31 23:20] jliexpensify commented on #2965
PR approved and deployed 6 hours ago

[2021-05-31 23:48] isagoico opened #3253 "IOU - Type box is not auto focused when clicking on Request money or Split Bill."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Search should be auto focused so the user doesn't have to manually select the box to add the amount.

## Actual Result:
Type box is not auto focused

[2021-05-31 23:48] OSBotify commented on #3253
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-05-31 23:57] parasharrajat commented on #2965
@jliexpensify which PR? mine is still open.

[2021-06-01 00:03] jliexpensify commented on #2965
Sorry for the confusion @parasharrajat - I was referring to this one: https://github.com/Expensify/Web-Expensify/pull/31071

It looks like that PR has been deployed, and should have a flow-on effect for your PR to be unblocked soon.

[2021-06-01 01:53] kadiealexander commented on #3108
@Beamanator I'm yet to post this on Upwork but we already have proposals so I've added the label.

[2021-06-01 02:59] jasperhuangg commented on #3199
Hi @isagoico! Is there any way that https://github.com/Expensify/Expensify.cash/pull/3174 can be taken off of the deploy checklist? There's another PR it's dependent on that I don't think is going to be ready yet.

[2021-06-01 03:18] jasperhuangg commented on #3253
@Beamanator gonna snag this one from ya since it's an hourly

[2021-06-01 05:43] jasperhuangg commented on #3248
I don't have a physical iOS device to test with (it's not reproducible in a simulator and I assume it's because it doesn't pull up the keyboard). Going to throw this back into the pool!

[2021-06-01 05:51] jasperhuangg commented on #2920
@parasharrajat

I like the idea of using direct manipulation to set the value. Seems like that's what was intended when we were setting the value using the web-only method.

However, I'm still not satisfied with the focus solution using setTimeout. If it's a known issue, do you mind posting the link to the react-native issue that explains it as a workaround?

[2021-06-01 06:02] parasharrajat commented on #2920
@jasperhuangg Sorry I thought I posted it. It is mentioned here https://reactnative.dev/docs/textinput#known-issues as second entry and original link is https://github.com/facebook/react-native/issues/19366.

I am also not fan of that solution. But we can only open the keyboard via setting the focus on input. When we are setting focus on composer, cursor is placed successfully and the `isFocused()

[2021-06-01 06:08] MariaHCD commented on #3249
Tagging @sketchydroide as you worked on the original issue! 🙌🏼

[2021-06-01 06:10] parasharrajat commented on #3248
@jasperhuangg You can open t he soft keyboard on simulator as well.

[2021-06-01 08:16] Beamanator commented on #3253
PR up and ready for review 👍

[2021-06-01 09:47] Beamanator commented on #3108
@kakajann Thanks for your interest in this issue! Would you please provide write up a proposal of the work you'd plan to do? Please also ask any questions you may have about the desired "Expected Result".

[2021-06-01 11:46] sketchydroide commented on #3249
Thanks @MariaHCD.

Hmm, not sure what is happening, but I'll take a look

[2021-06-01 12:45] Gonals commented on #3247
Changing to weekly and sending to the pool!

[2021-06-01 12:46] Gonals commented on #3246
Looks like a good improvement. Changing to weekly. and sending to the pool!

[2021-06-01 13:24] sketchydroide commented on #3249
Might need some help sorting this out, I think I know what is happening, but not sure on how to fix it.
So when someone deletes the attachement they are changing `'[Attachment]'` to `''`  wich basically sets the comment as no longer being an attachement but I assume all the attachement information would still be around.  I think this might need a bit more work on the Web side, but maybe not a bug

[2021-06-01 14:48] laurenreidexpensify commented on #3194
Upwork posting here https://www.upwork.com/jobs/~01f29f2d2fa738d842

[2021-06-01 14:52] roryabraham commented on #2821
PR merged

[2021-06-01 14:57] puneetlath commented on #2664
Regression fix. Job paid.

[2021-06-01 14:57] #2664 closed

[2021-06-01 15:01] roryabraham commented on #3249
I just merged a [contributor PR](https://github.com/Expensify/Expensify.cash/pull/3157) which implements a separate function called [canEditReportAction](https://github.com/Expensify/Expensify.cash/blob/main/src/libs/reportUtils.js#L57-L62) and uses it to determine whether or not to show these actions. It _should_ return false for any attachment `reportActions`, and should temporarily resolve this

[2021-06-01 15:17] sketchydroide commented on #3249
ok cool, I think this is no longer a deploy blocker @isagoico can we check please :)

[2021-06-01 15:20] parasharrajat commented on #3194
### Proposal

1. We Will update all the methods in Permissions.js in a way that they take betas as a parameter.
for example
[code]
2. Now we will  pass the betas at all places where we are calling these methods.
3. We will get the betas from Onyx by subscribing over the components as it makes the process synchronous.
for ex:

[code]
then updating the call as to `canUseAllBetas(this.props.betas) `.

[2021-06-01 15:33] laurenreidexpensify commented on #3194
@timszot these remain `daily` until we have a PR up and merged 👍🏽

[2021-06-01 15:49] tgolen commented on #3194
@parasharrajat I think that sounds like a good proposal, but please take a look at this usage: https://github.com/Expensify/Expensify.cash/blob/71c58ee8b17fce1503a8c9cabfcdc630b6fc5d2f/src/libs/OptionsListUtils.js#L336

It is going to be the most difficult one since the betas will have to be passed down through several layers. Can you please update your proposal to include this? Thanks!

[2021-06-01 15:53] isagoico commented on #3249
Checked and the option to delete is not there 🎉 Removing deploy blocker label
![image](https://user-images.githubusercontent.com/44479856/120353788-e91ddf80-c2cf-11eb-8541-debc0b022c82.png)

[2021-06-01 16:07] parasharrajat commented on #3194
Better approach would be use the `Onyx.connect` method to pass the betas to `getOptions` but that goes against the desired behavior. We want to wait until betas is ready on Onyx so subscribing at component level helps but Onyx.connect will not.
So we can do the following:
1. Subscribe to ONYXKEYS.BETAS at page level(SearchPage).
2. Modify the `getOptions` to accept betas as optional Config Param
[

[2021-06-01 16:12] deetergp commented on #3017
@parasharrajat Apologies for not seeing this sooner. Your proposals for the Context Menu sound good, and as far as the options for Composer, if the "simple with no side effects" option works, then that is always the option I will choose!

[2021-06-01 16:21] sketchydroide commented on #3249
Ok closing this one then, as we can't reproduce it anymore, and we will probably need make a decision on how to handle attachements somewhere else.

[2021-06-01 16:21] #3249 closed

[2021-06-01 16:27] chiragsalian commented on #2662
@pranshuchittora any update on the PR to resolve this GH issue?

[2021-06-01 16:35] #3253 closed

[2021-06-01 17:22] isagoico commented on #3199
Starting QA!

[2021-06-01 17:42] #2965 closed

[2021-06-01 17:48] #2122 closed

[2021-06-01 18:16] michaelhaxhiu commented on #2845
Oopsie, I let this one slip in favor of some other project duties. Sorry, prioritizing right now.

[2021-06-01 18:33] isagoico opened #3272 "If app left open overnight, messages still display that were sent "Today""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Messages should update to show the correct date without the need of refreshing the page.

## Actual Result:
Message that was sent the day before stil

[2021-06-01 18:38] kidroca commented on #2762
This PR is ready for a final review: https://github.com/Expensify/react-native-onyx/pull/76

I'm not sure who to tag as a reviewer as per @marcaaron

cc @quinthar @marcaaron @tgolen

[2021-06-01 18:50] kidroca commented on #2401
@Beamanator
Hey, sorry to bother you but it seems this task slipped somewhere and is no longer tracked.
The merge request was merged 2 weeks ago and there's no info ever since. My upwork contract is unfulfilled

[2021-06-01 19:47] michaelhaxhiu commented on #2845
Ok so I think I see two separate issues and would like a buddy check:

1. Highlighting more than 1 row of text doesn't work, whether it be top-to-bottom or bottom-to-top. It skips certain lines randomly.

2. Copy to clipboard and paste changes (i) the ordering of some text and (ii) random words/text can appear like "NEW"

[2021-06-01 20:20] roryabraham commented on #3167
I don't want to submit a pull request without benchmarking, but I found another similar instance where we could remove duplicate Onyx subscriptions to try and improve overall app performance:

`ThumbnailImage`, `AnchorWithAuthToken`, and `AttachmentModal` all use `withOnyx` to subscribe to the session. In each component, the `session` prop is only used once to add the auth token to a URL using the

[2021-06-01 20:29] roryabraham commented on #2821
The [merged PR](https://github.com/Expensify/Expensify.cash/pull/3157) did not cause a regression per-se, but did not work as expected on mobile web. So I'm removing the HOLD for payment while @dklymenk makes a follow-up PR.

[2021-06-01 20:29] AndrewGable commented on #3101
Ok @TwizzyIndy thank you for your proposal, I will configure the job on the Upwork side and look forward to reviewing your pull request.

[2021-06-01 20:52] isagoico commented on #3199
Manually adding https://github.com/Expensify/Expensify.cash/pull/3058 which was not automatically added to the list.

[2021-06-01 21:07] #2850 closed

[2021-06-01 21:19] isagoico opened #3274 "App - Emoji - There's a small delay when adding emoji using the emoji picker"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
There's no delay to display the emoji in compose box after selecting it from the list.

## Actual Result:
There's around 1 second of delay for the em

[2021-06-01 21:26] Jag96 commented on #2845
This sounds like https://github.com/Expensify/Expensify.cash/issues/1341 to me so I wouldn't create another job for that.

I'm not sure that is an issue here and is kind of related to https://github.com/Expensify/Expensify.cash/issues/1341 so I wouldn't file anything for it.

I think the main issue here is that if you highlight part of a message and right-click, the context menu shows and then the

[2021-06-01 21:28] TomatoToaster commented on #3245
I've got an idea how to do this one and think it'll be fun, so I'll work on it. I'm going to label it weekly since it doesn't seem to be an originally intended feature, and has a workaround.

My plan is to replicate the Emoji logic in `src/pages/home/report/ReportActionCompose.js` into `src/pages/home/report/ReportActionCompose.js`, see what's common and then see if it makes sense to make it into

[2021-06-01 21:47] parasharrajat commented on #2845
Yeah, @Jag96  has a point.

Also adding up to it, I think if user selects some text and open the context menu over it, only then selected text should be copied.
for eg;

if user selects *Rajat* and then right click over *cool* then whole copy to clipboard should trigger instead of selected copy.
Make sense?

[2021-06-01 21:54] Jag96 commented on #2845
Make sense?

Makes sense to me, it looks like this is how it is currently working on staging and production, but I agree this is an important note for regression testing for the PR that fixes this issue

[2021-06-01 21:56] tylerkaraszewski commented on #3218
Confirmed this in the mac desktop client. If the reproduction steps are unclear, all you need to do is click the "pencil" icon over a message you sent to edit it.

[2021-06-01 21:59] tgolen commented on #3194
Yep, I think that's the approach we need to take with this! It's a good
proposal now. Let's go with it. Green light!

On Tue, Jun 1, 2021 at 10:08 AM Rajat Parashar ***@***.***>
wrote:

[2021-06-01 22:01] tgolen commented on #2762
I've been really heads-down in some highly urgent stuff, plus taking over some of Marc's tasks while he is out so I won't be able to review this PR at all (I've only been lightly following along). I think some good reviewers with be @AndrewGable @Jag96 and @Julesssss

[2021-06-01 22:08] #2349 closed

[2021-06-01 22:08] #3038 closed

[2021-06-01 22:16] parasharrajat commented on #3038
@MitchExpensify Just pinging to tell that I have fixed this issue https://github.com/Expensify/Expensify.cash/pull/3021 here.

[2021-06-01 22:26] parasharrajat commented on #3274
Duplicate of #2920

[2021-06-01 22:29] parasharrajat commented on #3167
@roryabraham, Although suggestion looks good but I feel that these optimization will be unnecessary after fixes here https://github.com/Expensify/Expensify.cash/issues/2762.

[2021-06-01 22:31] isagoico commented on #3199
:shipit:

[2021-06-01 22:31] #3199 closed

[2021-06-01 22:33] mallenexpensify commented on #2712
Sorry for delay, Got this up on Upwork and invited @parasharrajat.  Drop a comment here when you accept and I'll assign to you https://www.upwork.com/jobs/~0158e0f4c5a432c0ab

[2021-06-01 22:34] OSBotify opened #3279 "Deploy Checklist: Expensify.cash 2021-06-01"
**Release Version:** `1.0.60-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/3021
- [x] https://github.com/Expensify/Expensify.cash/pull/3059
- [x] https://github.com/Expensify/Expensify.cash/pull/3066
- [x] https://github.com/

[2021-06-01 22:41] parasharrajat commented on #2712
@mallenexpensify Done. Thanks.

[2021-06-01 22:44] roryabraham commented on #3167
Very excited for the Onyx improvements, and I agree my suggestion above will likely be negligible in comparison, but I'm wondering if people agree that in general it's a "best practice" to eliminate unnecessary duplicate Onyx subscriptions.

[2021-06-01 22:50] mallenexpensify commented on #3187
I don't see a GH for "we'll set a timeout to close the context menu after 3 seconds." Should we update this one to reflect that @roryabraham ?  I think it should be less than 3 seconds too, 1 or 2 seems plenty long, especially since the action I most frequently take after copying is 'command+k' to search for the person I want to send the copied text too

[2021-06-01 22:54] parasharrajat commented on #3167
If are following trend of Redux then it suggests to move the subscription down the tree and avoid passing props from Parent to Child. And it makes sense to me, whole point is to remove the props chain.

[2021-06-01 22:55] roryabraham commented on #3187
Okay, sure. The contributor can play with it and find what feels right, but I feel like 1600ms or something would be good. And yes, let's update the OP of this issue to reflect the new functionality, then get this on Upwork.

[2021-06-01 22:59] arielgreen commented on #2973
Price doubled on Upwork. Will also notify #expensify-open-source.

[2021-06-01 23:02] roryabraham commented on #3167
Makes sense to me too! Let me clarify my suggested best practice:

"When there are many instances of a component (or components) that use `withOnyx` to subscribe to the same key, in order to then pass data to a common library function, it is better to use Onyx.connect directly in that library function and eliminate the unnecessary duplicate Onyx subscriptions."

In both of the examples I found, I'

[2021-06-01 23:03] mallenexpensify commented on #2973
If we don't get action on the Upwork job in a _couple_ days @arielgreen , I'd consider duplicating it and creating a new job with the $2k amount (I've had luck getting more 👀 and proposals this way)

[2021-06-01 23:08] parasharrajat commented on #3167
Ohk. Yeah that could be good overall.

[2021-06-01 23:19] mallenexpensify commented on #2401
Hi @kidroca, sorry for the delay, I just paid (and we're working on an improvement to our process so the delays shouldn't happen in the future)

[2021-06-01 23:34] KauMah commented on #2712
Just saw this posted on Upwork, did @parasharrajat already take issue on or are you guys still looking for help? If not,, the project seems pretty cool and I'd be excited to help.

[2021-06-02 00:06] parasharrajat opened #3283 "[HOLD] TransitionEnd of react-navigation does not work properly on IOS"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
@marcaaron

This is a tracking issue and it is created so that we can revert to original `transitionEnd` event on IOS as well when this is fixed at Library level `react-n

[2021-06-02 00:35] Luke9389 commented on #3274
Thanks @parasharrajat. 👍

[2021-06-02 00:35] #3274 closed

[2021-06-02 06:48] dklymenk commented on #2821
Responded [here](https://github.com/Expensify/Expensify.cash/pull/3157#issuecomment-852769281).

The way I see it, the issue raised has very little to do with the PR.

[2021-06-02 07:59] laurenreidexpensify commented on #3194
@parasharrajat have hired you in Upwork 👍🏽

[2021-06-02 09:16] Julesssss commented on #3195
Hey @isagoico, would you mind reminding me what makes this issue be retested? I think it doesn't need to be because this isn't a regression but will be a new change. Please let me know if you disagree :)

[2021-06-02 10:27] kidroca commented on #2531
@mallenexpensify
I was invited to submit a proposal in Upwork and I did: https://www.upwork.com/ab/proposals/1397658468846395392
But @jboniface told me that someone else will look at it as he's ooo, though no one else have responded since

[2021-06-02 10:50] Beamanator commented on #2205
Couldn't reproduce on iPhone 11, iOS 14.4, latest main (v1.0.59-3) 🤔  - asking Ali what he was on when he reproduced

[2021-06-02 11:07] dharammachra commented on #1524
@kadiealexander @HorusGoul @marcaaron - Hi @HorusGoul, I have created a new PR #3288, so could you please review.

[2021-06-02 11:53] aliabbasmalik8 commented on #2205
https://expensify.slack.com/archives/C01GTK53T8Q/p1622634764433200?thread_ts=1622444615.386400&cid=C01GTK53T8Q

[2021-06-02 12:00] #1524 closed

[2021-06-02 13:13] michaelhaxhiu commented on #2845
Ah thanks for clarifying guys, that makes sense! 😄

[2021-06-02 13:48] jboniface commented on #2531
@kidroca yeah it looks like there was a little miscom here, matt was going to flag this for engineering while I was out but it must have slipped through the cracks

[2021-06-02 13:48] michaelhaxhiu commented on #2845
This isn't happening anymore on Web or Desktop, which is/was the core of my confusion! Here's a recording for reference of me trying many variants of copying-to-clipboard, and the context menu behaving properly:

![jcnle](https://user-images.githubusercontent.com/13206896/120489127-6192a800-c385-11eb-8001-9eff066cb574.gif)

Text remains highlighted when the context menu is opened via right-click.

[2021-06-02 13:54] michaelhaxhiu commented on #2845
The only scenario for highlight + copy-to-clipboard that I think is weird right now is this one:

- I highlight some text and then right-click somewhere that is **outside** of the highlight text rows. See that it copies the content from _where I right-clicked_ instead of_ what I highlighted_ .
- But this is sort of an edge case to optimize for - it feels weird to right-click off your highlighted t

[2021-06-02 13:57] michaelhaxhiu commented on #2845
I'm closing this GH for the time being because the initially reported bug is no longer existent. Glad to re-open if I'm misunderstanding / or make a new GH for what @parasharrajat brought up if it's indeed a bug.

[2021-06-02 14:08] isagoico commented on #3195
For our weekly KI we retest all open issues that were raised by our team on regression runs, that's why it was retested. I agree with you that we can exclude this one from the restests, let me know if there are any change of plans

[2021-06-02 14:10] isagoico commented on #3279
Starting QA

[2021-06-02 14:28] arielgreen commented on #2667
Job posting for this has expired. I'll repost to Upwork when we're ready to move forward with this one (I.e., when #2762 is complete).

[2021-06-02 14:36] kakajann commented on #3108
## Proposal

React Native doesn't support `:focus` selector on styling. So, we have to create custom `TextInput` with react natives `TextInput` if we want to change `TextInput`s border color when user focus on it.
### Example:
[code]

I will also implement specific specs that mentioned in the issue.

[2021-06-02 15:20] Julesssss commented on #3195
Ah, that makes sense. Thanks :)

[2021-06-02 15:45] bfitzexpensify commented on #2447
Hey @tugbadogan, any updates on this one?

[2021-06-02 15:49] isagoico opened #3293 "[HOLD for payment 2021-12-13] [HOLD for payment 2021-12-06] Delete comment - Deleted comment is still visible on LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
LHN should show the message that was before the deleted message.

## Actual Result:
LHN still shows the deleted comment. After refreshing the page, t

[2021-06-02 16:13] mallenexpensify commented on #2934
@Beamanator have you reviewed the PR? Can you and/or @pranshuchittora give an update on status for this issue?

[2021-06-02 16:48] pranshuchittora commented on #2662
Hi @chiragsalian
I spent a significant amount of time trying various approaches. To make screen resizing changes the items per row.

1. Dynamic `numColumns`. The idea is to change the number of columns dynamically on the FlatList. Unfortunately we can't change it dynamically or on run time. https://stackoverflow.com/questions/44291781/dynamically-changing-number-of-columns-in-react-native-flat-lis

[2021-06-02 17:02] pranshuchittora commented on #2934
@mallenexpensify waiting for this to be resolved -> https://github.com/Expensify/Expensify.cash/issues/2936#issuecomment-850636244

[2021-06-02 17:21] sonialiap commented on #2990
Thanks for confirming the steps!

[2021-06-02 17:57] isagoico opened #3294 "Unable to use the search function when changing the currency of an IOU request"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User should be able to search for a currency.

## Actual Result:
App - App crashes in mobile
Web - JS error is displayed and search is not responsive

[2021-06-02 17:58] isagoico commented on #3294
This was just opened here closing https://github.com/Expensify/Expensify/issues/165845

[2021-06-02 17:58] #3294 closed

[2021-06-02 18:15] michaelhaxhiu commented on #3102
Upwork job posted here for $250 - https://www.upwork.com/jobs/~013b962eb299963c76

[2021-06-02 18:47] isagoico opened #3296 "iPad - IOU - Amount is shifted up and is not aligned with currency"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result
The digit 0 must be in the same line to the currency sign

## Actual Result
Digit 0 shifted up

## Action Performed:
1. Launch the app and Log in to a

[2021-06-02 19:06] roryabraham commented on #2821
Thanks @dklymenk, we'll reset the payment date to where it was before: June 8th

[2021-06-02 19:31] dklymenk commented on #3102
### Proposal

Should be as simple as adding
[code]
here

https://github.com/Expensify/Expensify.cash/blob/c85ded0f70fd744ac67e53816c311b060ac68af9/src/components/HeaderWithCloseButton.js#L76-L79

and since IOU modal doesn't use the `HeaderWithCloseButton` component also add that here
https://github.com/Expensify/Expensify.cash/blob/8b979de2cf00deafbba85c5c139f6d78cd1fd3f2/src/pages/iou/IOUModal.js

[2021-06-02 19:41] isagoico opened #3297 "mWeb - Clicking the zip file will ask the user if they want to open with chrome or app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
File should be downloaded automatically

## Actual Result
User is asked if they want to open the link with Chrome or Expensify app. When choosing Chr

[2021-06-02 20:05] isagoico commented on #3279
Regression is finished!
2 issues found today:
1. https://github.com/Expensify/Expensify.cash/issues/3296
2. https://github.com/Expensify/Expensify.cash/issues/3297

PRs are finished too:
1 comment added:
1. https://github.com/Expensify/Expensify.cash/pull/3059#issuecomment-853345313

Thanks!

[2021-06-02 20:14] stitesExpensify commented on #3102
Looks good to me!

[2021-06-02 20:42] roryabraham commented on #3279
Okay, looks like no deploy blockers today, so I'm going to deploy prod. Let's handle https://github.com/Expensify/Expensify.cash/pull/3059#issuecomment-853345313 in a follow-up issue

[2021-06-02 20:42] roryabraham commented on #3279
:shipit:

[2021-06-02 20:42] #3279 closed

[2021-06-02 20:45] OSBotify opened #3301 "Deploy Checklist: Expensify.cash 2021-06-02"
**Release Version:** `1.0.62-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/3123
- [x] https://github.com/Expensify/Expensify.cash/pull/3216
- [x] https://github.com/Expensify/Expensify.cash/pull/3263
- [x] https://github.com/

[2021-06-02 20:51] isagoico opened #3302 "App - 2 spaces are displayed in LHN for a line break"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Only 1 space should be displayed for a line break

## Actual Result:
2 spaces are displayed for a line break

## Action Performed:
1. Navigate to a c

[2021-06-02 20:55] isagoico commented on #3302
Accidentally created the issue without removing the AutoAssignerTriage label (sorry for the unnecessary bump) Removing it and adding the engineering label since this doesn't need triage again.

@parasharrajat Was working on the [PR](https://github.com/Expensify/Expensify.cash/pull/3059) that we originally found the issue.

[2021-06-02 20:56] roryabraham commented on #3301
Locking to test https://github.com/Expensify/Expensify.cash/pull/3216

[2021-06-02 20:56] parasharrajat commented on #3302
I will look into it.

[2021-06-02 21:12] parasharrajat commented on #3302
@isagoico I tested it but for me Spaces are correct. Following is the programmed behavior
1. Only one space will be shown for multiple Newlines. for eg
[code]
and
[code]
both will have same preview `cool thanks`.

I checked it on Android and it was correct for me. So There are two things you need to test. Sorry I should have updated the test steps.

1. Send a message from device A to device B.
2.

[2021-06-02 21:27] isagoico opened #3309 "Edit Comment - After editing the comment, main compose box is not focused"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Main compose box should be focused so the user can start typing without needing to manually focus.

## Actual Result:
Main compose box is not focused

[2021-06-02 21:48] timszot commented on #2531
@kidroca That solution looks good to me. Let's go with that! One note, I see that [our](https://github.com/Expensify/Expensify.cash/blob/main/android/build.gradle#L6) `minSdkVersion` is already set to `21` since this was posted, so we should be good there.

[2021-06-02 22:15] isagoico opened #3313 "[Pay Aug 18 if no regressions] Copy to clipboard - Unable to copy images or links"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
- User should be able to copy images and link URLs when using the copy to clipboard feature.
- Right-clicking or long-pressing on a link should open

[2021-06-02 22:22] parasharrajat commented on #3187
### Proposal
1. We already have a `hidePopover` prop which closes the menu.
2. I will create a method `hidePopover` in  `ReportActionContextMenu` component which will take a parameter `delay`.
3. When delay is true, we will call the `hidePopover` prop after a small delay. I think 1.8sec will be best. But we can observe and adjust.
4. If `delay` is false, we call the `hidePopover` prop immediately.

[2021-06-02 22:41] mallenexpensify commented on #3167
Stopping by to say that it took ~2 mins to load a chat on iOS right now.  (possibly unrelated... desktop just updated and is better/faster than in a LONG time).

[2021-06-02 22:49] isagoico opened #3317 "Right clicking an image or link should show the Native OS menu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Right clicking an image or link should show the Native OS menu so the user has several options to choose on what to do.

## Actual Result:
_Link_
Whe

[2021-06-02 23:11] isagoico commented on #3302
I just retested everything again and got the same behaviour as you and was unable to see the issue (this is so weird). So weird because I was testing the same message on several devices and in Web and mWeb it looked ok (?) oh well 🤷 We can go ahead and close this since it's not repro and we're getting the expected behaviour.

[2021-06-02 23:11] #3302 closed

[2021-06-02 23:27] isagoico opened #3323 "Slightly scrolling up in compose box will dismiss the keyboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Scrolling up in a long message should not dismiss the keyboard.

## Actual Result:
Slightly scrolling up the message in compose box will dismiss the

[2021-06-02 23:33] isagoico opened #3326 "Compose box - Focusing certain parts of a message is not working as expected"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Text focus should stay where the user selected.

## Actual Result:
Focus is scrolling the message up and the user loses the place that was previously

[2021-06-02 23:37] bondydaa commented on #3326
tossing to the pool

[2021-06-02 23:37] bondydaa commented on #3323
tossing to the pool

[2021-06-02 23:53] TomatoToaster commented on #3313
Cool I think this makes sense to be done externally.

[2021-06-02 23:55] TomatoToaster commented on #2990
Ah interesting. I'll investigate this one because I'm curious about it too.

[2021-06-03 00:34] tugbadogan commented on #2447
Yes @bfitzexpensify , I've updated the open PR today to fix this issue. I'm waiting for code review now.

https://github.com/Expensify/Expensify.cash/pull/3078

[2021-06-03 00:47] mallenexpensify commented on #2934
Thanks @pranshuchittora , I realized after I posted then went to #2936 that that might be the case

[2021-06-03 00:57] mallenexpensify commented on #2531
Sorry @kidroca and @jboniface ,  I wasn't paying close-enough attention to know I was supposed to check Upwork to hire @kidroca .   :|

[2021-06-03 01:12] Jag96 commented on #3167
Left a comment on [this PR](https://github.com/Expensify/react-native-onyx/pull/76#pullrequestreview-674760326) with some results from testing, as @parasharrajat said earlier I think adding the Onyx cache is going to help a lot with speeding this up, but I agree we should still be mindful about duplicate onyx subscriptions.

[2021-06-03 01:17] parasharrajat commented on #2920
@jasperhuangg Did you get the chance to look at the issue?

[2021-06-03 02:16] kadiealexander commented on #3272
Upwork post: https://www.upwork.com/jobs/~01d6868ac79599c3d2

[2021-06-03 03:06] roryabraham commented on #3301
Unlocking after testing.

[2021-06-03 03:11] roryabraham commented on #3301
Manually added a boatload of PRs – don't fret ... many of them are `No QA` and many more have very quick/basic QA.

[2021-06-03 07:29] dklymenk commented on #3293
There are 2 issues here (last message shown is not updated after deleting it and after reload it displays sender email) that need to addressed separately, but I think a solution can be refactored into one new function partially.

## Addressing the refresh issue

It is caused by the fact that function `getSimplifiedReportObject`, that is responsible for converting API data into object that is store

[2021-06-03 07:38] Beamanator commented on #2934
I'll post in the other issue too, but I believe Shawn gave the thumbs-up to push forward with the [latest plan](https://github.com/Expensify/Expensify.cash/issues/2936#issuecomment-850482854)

[2021-06-03 07:39] Beamanator commented on #2936
I believe we're all agreeing we should push forward with [this plan](https://github.com/Expensify/Expensify.cash/issues/2936#issuecomment-850482854) right?

[2021-06-03 07:48] kidroca commented on #3167
That may be so but there are exceptions.
FlatList or any huge lists that render similar items - the item component should be as lean as possible
For each item `withOnyx` creates a new class component wrapping with life cycles, states, as well as the Onyx related callbacks and data - a lot of orchestration per each item

Keep in mind that each `Onyx.connect` call used in a library function is `stat

[2021-06-03 08:49] kidroca opened #3339 "[HOLD for payment + bonus on Jun 18] Feature: Critical Error Handling | Prevent white screens on startup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork link: https://www.upwork.com/jobs/~016c9065afb6e3f521
___

## Details
ATM there's no handling for critical JS errors - when such an error happens - the app stops work

[2021-06-03 09:04] mountiny commented on #3309
Update: I will work on the setup of E.cash with Mark Louis today and then I will try to tackle this issue.

[2021-06-03 11:08] michaelhaxhiu commented on #2936
Yep!

[2021-06-03 11:24] michaelhaxhiu commented on #3102
Looks good to me too!

@dklymenk going to hire you in Upwork and assign this GH to you. BTW - you have a **great** avatar pic btw, love south park.

[2021-06-03 12:45] dklymenk commented on #3272
The issue is caused by the fact that component `ReportActionItemDate` is not updated at midnight when rendered output should supposedly change.

https://github.com/Expensify/Expensify.cash/blob/6cf79acf86232024968354e166ea53d60eec8fda/src/pages/home/report/ReportActionItemDate.js#L13-L17

The component has one prop that never changes and thus it is never re-rendered.

I believe that chat apps norm

[2021-06-03 13:03] MariaHCD commented on #3296
This looks like a good first pick. I believe we'll have to look in the [IOUAmountPage](https://github.com/Expensify/Expensify.cash/blob/main/src/pages/iou/steps/IOUAmountPage.js) component.

Just to clarify, @isagoico, the screenshot is from an iPad in the landscape orientation?

[2021-06-03 13:55] isagoico commented on #3296
Hello! Yes, it's an ipad in landscape orientation.

[2021-06-03 14:39] isagoico commented on #3301
Starting QA!

[2021-06-03 14:50] Beamanator commented on #3108
@kakajann From your proposal I'm not sure you've clearly read / understood what changes are needed.

The spec says "Keeping our existing border style (blue when focused/active, red when error/active)", so you shouldn't need to build anything extra for border colors. The main change in this issue is about the field placeholder / label text, can you explain how you think you would implement those re

[2021-06-03 14:59] Beamanator commented on #2205
Well shucks, I was able to reproduce on the current Android staging version (1.0.61-8) today

[2021-06-03 16:02] Beamanator opened #3346 "Give users visual feedback when declining an IOU"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:

Users should see some visual feedback that their IOU declining is "in progress" with a simple spinner

## Actual Result:

No visual feedback is give

[2021-06-03 16:33] chiragsalian commented on #2662
Hmm is it not possible to use `WithWindowDimensions` more specifically [onDimensionChange](https://github.com/Expensify/Expensify.cash/blob/3967032d964325f17c3cb0326211567f7a731d19/src/components/withWindowDimensions.js#L64) to help you out. Similar to how we do it here with [ReportActionCompose](https://github.com/Expensify/Expensify.cash/blob/a9dd57ca3f09181df92699e7c10b6cd7dbddfaaa/src/pages/ho

[2021-06-03 16:49] chiragsalian commented on #3187
Cool sounds good to me. Feel free to create the PR @parasharrajat.
@jboniface could you accept his proposal on upwork when you get the chance.

[2021-06-03 16:57] isagoico opened #3347 "FAB menu - the menus for FAB menu slide in from the left-to-right, instead of bottom-to-top"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork Job - https://www.upwork.com/jobs/~0156d103876d9e96f7

___

## Expected Result:
Menu should slide from bottom to top

## Actual Result:
Menu slides from left-to-right

[2021-06-03 17:06] mountiny commented on #3309
Update: Still struggling to set up the Android, I will continue tomorrow.

[2021-06-03 17:17] JmillsExpensify commented on #2705
Still no takers in Upwork. Increased the payout to see if we get any takers.

[2021-06-03 17:52] isagoico opened #3348 "Adding `(BST+1)` to last name makes the user name display as `(`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Username should display as set up in the profile.

## Actual Result:
Username is displayed as `(`

## Action Performed:
1. As account A set your firs

[2021-06-03 17:58] isagoico opened #3349 "[Hold for Payment 1st July] Shortcut Keys - There is no way to start a new group chat using shortcut keys"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Deliverables

- Implement a shortcut key that opens the `New Group` page
- The keyboard shortcut we'd like to use is `CMD + SHIFT + K`

## Platform:

 Web ✔️
 iOS
 An

[2021-06-03 18:12] Julesssss commented on #3348
Confirmed the issue on staging.

[2021-06-03 18:33] jboniface commented on #3187
@parasharrajat happy to hire you for this, but I don't see a proposal in UW, can you send that along Rajat?

[2021-06-03 18:39] jboniface commented on #3293
@dklymenk LHN = left hand navigation

[2021-06-03 18:52] jboniface commented on #2531
no worries, I should have applied the `exported` label instead of pinging you but I keep forgetting that step 😅 ; @kidroca I've hired you in UW for this

[2021-06-03 18:56] jboniface commented on #3186
@aliabbasmalik8 this should be fixed as part of https://github.com/Expensify/Expensify.cash/pull/3080 -- all fixes submitted should resolve the issue for all platforms. In your PR you flagged that you tested Android but it was not addressed in your fix.

[2021-06-03 19:12] aliabbasmalik8 commented on #3186
@jboniface yeah, I'm on it, just want to discuss the solution for this issue because `selection` has some issue on android.
yes, I tested on Android as well but it did not produce every time on android so that's the reason it missed.

[2021-06-03 20:09] dklymenk commented on #3102
Submitted a [PR](https://github.com/Expensify/Expensify.cash/pull/3351)

[2021-06-03 21:25] roryabraham commented on #3347
I think this can be external. If you agree @HorusGoul then the next step would be for you to:

1. Remove your assignment (unless you are a member of the engineering-contributor-management team)
1. Add the `External` label to get this auto-assigned to a member of the (non-engineering) contributor management team

[2021-06-03 21:52] deetergp commented on #3272
This one makes me nervous enough that I want to get a second opinion. I thought the cost may outweigh the benefit here and we may want to rethink wether or not we want relative dates on every post. In any event, the person I want to look at this, @marcaaron, will be back in the office on Monday, so let's sit on this tell then.

[2021-06-03 22:13] arielgreen commented on #3019
Paid.

[2021-06-03 22:13] #3019 closed

[2021-06-03 22:23] arielgreen commented on #2973
Reposted [here](https://www.upwork.com/jobs/~01a6100ce00489ac44).

[2021-06-03 23:28] parasharrajat commented on #3187
@jboniface Just sent you one with Rajat Parashar. Thanks.

[2021-06-03 23:38] isagoico opened #3354 "IOU - mWeb - Page looks broken after click on Comment section"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Page looks good after click on Comment section

## Actual Result:
Page looks broken after click on Comment section

## Action Performed:
1. https://s

[2021-06-03 23:38] OSBotify commented on #3354
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-03 23:39] isagoico commented on #3354
Accidentally added the deploy blocker label, removing.

[2021-06-03 23:41] isagoico opened #3355 "iPad - IOU - Unable to put the amount In Landscape mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
I can enter the required amount

## Actual Result:
In Landscape mode unable to put the amount

## Action Performed:
1. Launch the app and Log in to a

[2021-06-03 23:42] parasharrajat commented on #3348
Apologies for introducing this bug. It seems an issue with my code. https://github.com/Expensify/Expensify.cash/blob/3d160820d823b2190326252e0a08fefcd834b189/src/pages/home/sidebar/OptionRow.js#L135
After the triaging is done. I will fix it. thanks.

[2021-06-03 23:43] isagoico commented on #3301
Regression is finished!
2 issues found today:
1. https://github.com/Expensify/Expensify.cash/issues/3355
2. https://github.com/Expensify/Expensify.cash/issues/3354

PRs are finished too.
No comments added.

Thanks!

[2021-06-03 23:44] isagoico commented on #3301
:shipit:

[2021-06-03 23:44] #3301 closed

[2021-06-03 23:47] OSBotify opened #3359 "Deploy Checklist: Expensify.cash 2021-06-03"
**Release Version:** `1.0.64-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/3256
- [x] https://github.com/Expensify/Expensify.cash/pull/3284
- [x] https://github.com/Expensify/Expensify.cash/pull/3285
- [x] https://github.com/

[2021-06-04 00:16] rushatgabhane commented on #3349
Hi, can I pick up this issue?

[2021-06-04 00:52] rushatgabhane commented on #3349
Hi, can I pick up this issue?

[2021-06-04 01:07] NikkiWines commented on #3293
@dklymenk couple of notes on your proposal:

I think we could simplify your proposed `lastReportAction` logic by doing the following:

[code]

It's also notable that IOU report actions don't have `message.html`, but your logic accounted for that already 👍

Your logic for `deleteReportComment` looks good, though I agree getting the `reportActionList` is a major blocker for being able to implement w

[2021-06-04 01:12] mallenexpensify commented on #3349
Hi @rushatgabhane if you're interested in fixing the issue, please propose a solution for an engineer to review.

[2021-06-04 01:13] kadiealexander commented on #3108
Upwork link: https://www.upwork.com/jobs/~01a91a3d33f29673bc

[2021-06-04 03:03] rushatgabhane commented on #3349
## Proposal
We can use Command + i to start a new group chat.

/src/libs/Navigation/AppNavigator/AuthScreens.js
[code]

[code]

[2021-06-04 03:06] mnrafg commented on #3108
Hello Expensify Team,

I hope you are all doing fine.

## About Me

I'm Nasir Rahimi a freelance full-stack developer with almost a decade of practical experience and following is my Upwork profile link.
https://www.upwork.com/freelancers/~0189e2e63b0663c9b4

## Proposal

I suggest two options to achieve the expected and resulting `TextInput`.

### First Option: Customize and Use Third-Party Compo

[2021-06-04 03:42] parasharrajat commented on #3017
@kevinksullivan Am I good to start the PR?

[2021-06-04 04:35] rushatgabhane commented on #3346
## Propsal
In src/components/ReportTransaction.js
Create a new state isLoading which is false by default.

On pressing "Decline" rejectTransaction method is called.
Set the state of isLoading to true in rejectTransaction method.

Conditionally render rejectButtonLabelText and React Native Activity Indicator.

I quickly tested this, and it seems to work.

[2021-06-04 05:48] kadiealexander commented on #2258
Previous upwork post was removed, here's the new one: https://www.upwork.com/jobs/~017535f570c71c714a

[2021-06-04 08:31] kidroca commented on #2531
I've got the job on Upwork

[2021-06-04 11:15] kidroca commented on #2973
@arielgreen @iwiznia @mallenexpensify
Cannot recreate this on dev. Tried both emulator and Physical iPhone.
Is some workaround applied? Looks like not
Is this happening on a specific model or iOS version?

##### Cannot recreate on DEV
https://user-images.githubusercontent.com/12156624/120793116-2b992380-c53f-11eb-916a-2be90e0e74db.mov

[2021-06-04 12:08] #3102 closed

[2021-06-04 13:56] NicMendonca commented on #3023
Raised the price for [this job](https://www.upwork.com/jobs/~017cbd904460423141) to $500.

[2021-06-04 14:58] mallenexpensify commented on #3218
Taking a leap of faith this can be worked on by a contributor and assigning the External label

[2021-06-04 15:10] jboniface commented on #3187
hired!

[2021-06-04 15:16] mallenexpensify commented on #3349
Dropped a note in here for feedback, feel free to chime in there too @rushatgabhane .  https://expensify.slack.com/archives/C01GTK53T8Q/p1622819702017500?thread_ts=1621969175.208000&cid=C01GTK53T8Q

[2021-06-04 15:24] anthony-hull commented on #3189
This looks like it has been changed to something more useful in the backend:
![image](https://user-images.githubusercontent.com/47184118/120825318-2d6be280-c551-11eb-98cc-6d359c0487ec.png)
Possibly still some call to action to resend a code for the user would be good?

[2021-06-04 15:28] parasharrajat commented on #3187
Question: For Delete action currently we don't close the menu and we can't close it as Confirm Modal depends on the Menu. If we close the menu, Confirm Modal will also close. So what is the expected behavior for delete comment action.

[2021-06-04 15:35] isagoico commented on #3359
Starting QA 🚀

[2021-06-04 15:48] dklymenk commented on #3218
I'll assume it's just a matter of time until the upwork job is posted, so I'll proceed to write my proposal.

From my prior experience I can tell that for this kind of task one would normally use [TextInput's selection prop](https://reactnative.dev/docs/textinput#selection). As it is mentioned in the docs, you can supply same values for `start` and `end` and it will put the cursor at that position

[2021-06-04 16:07] dklymenk commented on #3218
Did a quick test and it seems to work as one might expect with both "press pencil - " and "press up arrow - " to edit cases, since the same component is used for both.

https://user-images.githubusercontent.com/64093836/120831146-ec32fd00-c567-11eb-966d-0fa73406aba7.mp4

[2021-06-04 16:14] roryabraham commented on #3187
When the confirm modal closes, the `ReportActionContextMenu` should as well.

[2021-06-04 16:33] Viacheslav80 commented on #2973
Hi! what do you think about this:

https://user-images.githubusercontent.com/51112870/120834067-38cc0780-c56b-11eb-929f-71f72d0c37d0.mov

[2021-06-04 16:36] Viacheslav80 commented on #2973
yes this is a very simple implementation:

Uploading Screen Recording 2021-06-04 at 18.05.31.mov…

[2021-06-04 16:43] roryabraham commented on #2279
My PR was pretty decayed and didn't work on all platforms, but since this _can_ be worked on externally I think we should get this on Upwork. Hopefully my [draft PR](https://github.com/Expensify/Expensify.cash/pull/2342) can still be a resource to the contributor that we hire to fix this issue. It's trickier than it looks! Curious to see what proposals people come up with.

[2021-06-04 17:14] roryabraham commented on #3297
I'm pretty sure this can be worked on externally. I think maybe all we need to do is give this type of link the target `_system` instead of `_blank`?

[2021-06-04 17:19] parasharrajat commented on #3023
### Proposal

#### What/where is the issue?
1. It's not a logical bug instead of a performance(didn't know any other term :rofl: ) issue. Here https://github.com/Expensify/Expensify.cash/blob/2345457326b7c35101b2704b9b9f135325bb7d7c/src/pages/home/report/EmojiPickerMenu/index.js#L338.
This `onScroll` updates the state on each frame. There will be many in the case of the scroll. Which is the culpri

[2021-06-04 17:34] isagoico opened #3379 "Group chat - Allow pressing `return` to add group member when there's only 1 search match result"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Pressing `return` should select the search result as a group member

## Actual Result:
Pressing `return` does nothing when there only 1 option when s

[2021-06-04 18:01] isagoico opened #3380 "New conversation/group - Allow arrow keys to select users"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Arrow keys should be active and usable when selecting users from search

## Actual Result:
Arrow keys are not inactive when searching for users.

##

[2021-06-04 18:37] mallenexpensify opened #3381 "Fix `Inverted`prop on the `FlatList`component with a RN Patch"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
- When copying text in e.cash that when you highlight lines of text, including across multiple messages, that the text is highlighted in order from t

[2021-06-04 18:38] mallenexpensify commented on #3381
@thienlnam we plan to have a contributor work on this, can you review to ensure I didn't miss anything then add the External label? Thanks

[2021-06-04 18:40] chiragsalian commented on #3023
Nice, good catch. Feel free to create a PR.
@NicMendonca feel free to accept @parasharrajat proposal on upwork.

[2021-06-04 18:42] mallenexpensify commented on #1341
Created a new, clean issue for this with the deliverable being

View it here - https://github.com/Expensify/Expensify.cash/issues/3381
I'm putting this issue on hold. Once 3381 is finished the plan is to
- Implement it to fix our issue
- Try to get RN to merge the fork

[2021-06-04 19:11] Viacheslav80 commented on #2973
This is quite funny, but if you change the height of TextInput > 45 then the problem is no longer reproduced
I used variables.componentSizeLarge instead of componentSizeNormal in
/src/styles/styles.js
<img width="554" alt="Screenshot 2021-06-04 at 22 05 04" src="https://user-images.githubusercontent.com/51112870/120851563-a97e1e80-c581-11eb-9101-4923bff9913a.png">

[2021-06-04 19:32] roryabraham opened #3383 "OSBotify falsely marks pull requests as cherry-picks instead of standard deploys"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Ensure that the [open `StagingDeployCash` checklist issue](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStag

[2021-06-04 19:33] roryabraham commented on #3383
This can be worked on by an external contributor, but they'll need help from an Expensifier to test their PR.

[2021-06-04 19:35] NicMendonca commented on #3023
@parasharrajat just sent the offer in Upwork - thanks!

[2021-06-04 19:37] roryabraham commented on #3383
Ultimately this race condition is occurring because [right here](https://github.com/Expensify/Expensify.cash/blob/f38f41ef96ec94c77d9ac423263271257a99b0b6/.github/workflows/platformDeploy.yml#L303) we are making the incorrect assumption that, when a staging deploy completes, if the `StagingDeployCash` is locked, then the PR that was deployed _must_ have been cherry-picked.

There are a number of p

[2021-06-04 19:45] parasharrajat commented on #3023
@NicMendonca Just sent the PR in Github - thanks! :sweat_smile:

[2021-06-04 20:12] mountiny commented on #3309
Update: I was trying to figure out how to focus the compose box after an event happening in different component, I haven't managed yet, will continue later.

[2021-06-05 00:02] kevinksullivan commented on #3347
upwork job posted

https://www.upwork.com/jobs/~0156d103876d9e96f7

[2021-06-05 00:59] parasharrajat commented on #3347
### Proposal
1. the required Behaviour is that Menu should be Bottom_docked on Mobile devices and Popover for the rest.
2. In https://github.com/Expensify/Expensify.cash/blob/3eee51b9c4af23d04845468df227e94fc0034f0a/src/components/Popover/index.js#L11-L19
we control this behavior but this file is only active for Web, M-web. Thus on M-web we can't find this issue.
But https://github.com/Expensify/E

[2021-06-05 01:32] isagoico opened #3385 "Android - Add image from gallery doesn't show the preview before uploading"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Preview should be displayed before uploading the picture

## Actual Result:
No image is displayed, only the "chat_attachment" screen. After you click

[2021-06-05 01:32] isagoico commented on #3359
**Regression** is finished!
1 issue found today.
1. https://github.com/Expensify/Expensify.cash/issues/3385

**PRs** are finished too:
1 comment added
1. https://github.com/Expensify/Expensify.cash/pull/3285#issuecomment-855161523

- https://github.com/Expensify/Expensify.cash/pull/3256 is internal QA, I thought I had tagged you earlier please let me know if this was tested so I can check it off (

[2021-06-05 02:19] gauravahujame commented on #3347
### **Understanding**
From SidebarScreen.js, we pass _animationIn_ and _animationOut_ to the CreateMenu component. This is further passed to Popover => Modal => BaseModal. Inside BaseModal, we prioritize animation props over the ones returned from _getModalStyles_ function.

### **Problem**
SidebarScreen.js should not decide the animations because they can be different based on the platform.

###

[2021-06-05 14:17] kakajann commented on #3108
@Beamanator , No inputs currently change its border color on focus. (I'll attach a video below) That's why I suggested to create custom `TextInput`. Also, creating a custom `TextInput` component will make it easy to implement shrinking labels.

I can provide a working sample if you me to do. It's easier than explaining :)

### And here is current inputs (that doesn't change its border color)
https

[2021-06-05 15:26] amnan181 commented on #3347
### **Proposal**

You just have to change the animation type to work as you want

1. You have to add the initial animation type like `animationIn="slideInUp"`
2. Same as first one you have to change the animation out animation which will be triggered when your modal is going to be closed so simply add the type which type of behaviour you want while closing the modal `animationOut="slideOutDown"`

[2021-06-06 11:11] dharammachra commented on #3347
@isagoico @HorusGoul  -

Issue -

SidebarScreen.js - We have hard coded value
animationIn="fadeInLeft"
animationIn="fadeOutLeft"

It can be different based on the platform.

Proposal -
We need to remove
 animationIn and animationOut props from SidebarScreen.

 1. We should simply check the platform specific animations in the index.native.js

 src/components/CreateMenu/index.native.js
    animation

[2021-06-06 12:21] rahulagg10 opened #3386 "Mobile: Keyboard is auto open when user enter to AddSecondaryLoginPage but not for PasswordPage and PaymentsPage"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
App should have uniinformality either keyboard should open when user enter inside page or keyboard should not open automatically.

## Actual Result:

[2021-06-06 13:17] SakshiMittal23 commented on #3347
**Proposal:**

1. Instead of giving the hard coded value of **animationIn** and **animationOut** we should assign the values by checking platform.
like: animationIn ={Platfrom.OS === "web"?: "fadeInLeft": "slideInUp"}
2. If its require to have same animation for all platform then it can be hardcoded value.

Thanks

[2021-06-06 16:28] pranshuchittora commented on #2662
@chiragsalian there's some bug in the implementation of flat list.

**What I did**
Just change the number of columns.

![Screenshot from 2021-06-06 21-54-11](https://user-images.githubusercontent.com/32242596/120932054-df520d00-c711-11eb-8a78-f5339f594fdb.png)

This is probably due to the headers being used in flatlist.

We should use Setcion List instead .https://reactnative.dev/docs/sectionlist

[2021-06-06 17:31] pranshuchittora commented on #2936
Done 🚀

https://user-images.githubusercontent.com/32242596/120934227-1bd63680-c71b-11eb-93a2-5f0b0748ea54.mp4

[2021-06-06 19:54] isagoico commented on #2705
Issue not reproducible during KI retests (First week)

[2021-06-06 20:00] isagoico commented on #2661
Issue not reproducible today during KI retests (Third Week) - Closing the issue, please reopen if necessary.

[2021-06-06 20:00] #2661 closed

[2021-06-06 20:01] isagoico commented on #2842
Issue not reproducible today during KI retests (Second Week)

[2021-06-06 20:05] isagoico commented on #3246
Issue not reproducible during today's KI retest (First week)

[2021-06-07 01:19] isagoico commented on #2710
Issue not reproducible today during KI retests (Second Week)

[2021-06-07 01:19] isagoico commented on #2279
Issue reproducible today during KI retests

[2021-06-07 01:19] isagoico commented on #2447
Issue reproducible today during KI retests

[2021-06-07 01:19] isagoico commented on #3023
Issue reproducible today during KI retests

[2021-06-07 01:19] isagoico commented on #3248
Issue reproducible today during KI retests

[2021-06-07 01:20] isagoico commented on #3355
Issue reproducible today during KI retests

[2021-06-07 01:20] isagoico commented on #3296
Issue reproducible today during KI retests

[2021-06-07 01:21] isagoico commented on #2121
Issue reproducible today during KI retests

[2021-06-07 01:21] isagoico commented on #2499
Issue reproducible today during KI retests

[2021-06-07 01:21] isagoico commented on #2662
Issue reproducible today during KI retests

[2021-06-07 01:21] isagoico commented on #3186
Issue reproducible today during KI retests

[2021-06-07 01:22] isagoico commented on #3247
Issue reproducible today during KI retests

[2021-06-07 01:22] isagoico commented on #3323
Issue reproducible today during KI retests

[2021-06-07 01:22] isagoico commented on #3385
Issue reproducible today during KI retests

[2021-06-07 01:23] isagoico commented on #3041
Issue reproducible today during KI retests

[2021-06-07 01:23] isagoico commented on #2967
Issue reproducible today during KI retests

[2021-06-07 01:23] isagoico commented on #3195
Issue reproducible today during KI retests

[2021-06-07 01:24] isagoico commented on #3172
Issue reproducible today during KI retests

[2021-06-07 01:24] isagoico commented on #3297
Issue reproducible today during KI retests

[2021-06-07 01:24] isagoico commented on #3354
Issue reproducible today during KI retests

[2021-06-07 01:59] isagoico opened #3387 "IOU - IOU information and badge does not use the correct brand font and color"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
All font should be the same through all the areas of the app.

## Actual Result:
IOU information and badge does not use the correct brand font and co

[2021-06-07 02:06] isagoico opened #3388 "Desktop app - Quitting the app via `CMD + Q` throws a JS error"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
App should not show a JS error when closing via `CMD + Q` shortcut

## Actual Result:
Quitting the app via `CMD + Q` throws a JS error. Please check

[2021-06-07 02:06] isagoico commented on #3388
@roryabraham Not sure if this may have been caused by this https://github.com/Expensify/Expensify.cash/pull/3361 🤔

[2021-06-07 02:16] isagoico opened #3389 "Make chats that have owed balance behave as pinned chats (even in #focus mode)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Chats that have owed balance should display on top of the LHN so the user doesn't lose track of owed amounts. This behaviour should be the same even

[2021-06-07 02:32] isagoico opened #3390 "There's no visual feedback that the paypal.me account was saved"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
There should be some visual feedback that the paypal account was saved.

## Actual Result:
There's no visual feedback that the paypal.me account was

[2021-06-07 02:52] parasharrajat commented on #2710
Just to inform you that I think this was fixed in https://github.com/Expensify/Expensify.cash/pull/2956.

[2021-06-07 03:00] jasperhuangg commented on #3047
@roryabraham I was just thinking about this–and sorry if this has already been considered–but why don't we just store both the HTML and Markdown versions of the report comment, and switch between the two for editing/copying report comments?

[2021-06-07 03:03] jasperhuangg commented on #3047
@roryabraham I was just thinking about this–and sorry if this has already been considered–but why don't we just store both the HTML and markdown versions of the report comment, and switch between the two for editing/copying report comments?

To minimize space, we can only store the HTML if the markdown and the HTML are identical (and default to it if the markdown version doesn't exist).

Feel like

[2021-06-07 04:08] jasperhuangg commented on #3390
@Gonals gonna snag this one from ya since it's a daily 👍

[2021-06-07 04:23] parasharrajat commented on #3047
@jasperhuangg has raised a very good point. But I think it in another way. I would say that we should save the MD as I believe converting HTML to markdown will loose original MD markup which user entered.

And we can always convert the MD to HTML uniformly.

[2021-06-07 05:03] #3039 closed

[2021-06-07 05:05] parasharrajat commented on #2920
@jasperhuangg Would you like to share some thoughts?

[2021-06-07 05:12] jasperhuangg commented on #2920
@parasharrajat Sorry! I was trying to get some feedback from other engineers, but didn't receive a reply. I think your solution looks great, I don't know how I would do anything differently. Let me ask again to see if anyone can get you set up on Upwork.

[2021-06-07 07:54] laurenreidexpensify commented on #2279
https://www.upwork.com/jobs/~0117a4dc6fabf8301b

[2021-06-07 08:10] raeidmir commented on #2279
I will check the call back implemented on press of text and the view that is carrying it. The problem should be somewhere in the callbacks.

[2021-06-07 09:19] #3023 closed

[2021-06-07 09:40] Julesssss commented on #3348
Hey @parasharrajat, I assigned the issue to you. Let me know if you have any questions!

[2021-06-07 09:45] Julesssss commented on #3017
@kevinksullivan FYI an emoji reaction won't trigger a notification, so it's better to confirm as a comment

[2021-06-07 10:12] Beamanator commented on #3354
Hmm from my testing, it seems to be ok on iOS mWeb, but not on Android mWeb:

iOS mWeb:

<img width="417" alt="Screen Shot 2021-06-07 at 11 35 16 AM" src="https://user-images.githubusercontent.com/3885503/120994149-84a5c900-c784-11eb-9a19-41ec5278a742.png">

Android mWeb:

<img width="50%" alt="WhatsApp Image 2021-06-07 at 11 40 11 AM" src="https://user-images.githubusercontent.com/3885503/1209948

[2021-06-07 10:14] Beamanator commented on #3354
I believe this is able to be fixed externally, so adding `External` 👍

[2021-06-07 10:20] Beamanator commented on #3346
Nice @rushatgabhane , this is how I imagined the implementation going 👍 Once @puneetlath creates the job on Upwork, please apply there and we'll hire you for this job - then please submit a PR 💪

[2021-06-07 10:43] Julesssss commented on #3359
Hey @jasperhuangg, is this testable internally on staging?

[2021-06-07 11:25] Beamanator commented on #3346
Hey @rushatgabhane just to make sure we're going the right way, I wanted to get some thoughts on this approach vs another possible solution (see [slack discussion here](https://expensify.slack.com/archives/C01GTK53T8Q/p1623064998057400)). I'm unassigning you for now while we get some thoughts, hope you don't mind!

[2021-06-07 11:55] rushatgabhane commented on #3346
@Beamanator yeah sure!
My bad, I wasn't aware of Onyx.
I think we shouldn't use my proposal, and instead drive state from Onyx for consistency and offline-first architecture.

[2021-06-07 11:56] conorpendergrast commented on #3386
Reproduced on iOS, agreed that we should make that consistent. It's relatively low-impact, so I would recommend a Monthly once we pass through engineering triage

[2021-06-07 12:07] kidroca commented on #2531
Shouldn't I also be assigned to the ticket here on github?

[2021-06-07 13:11] Beamanator commented on #3346
No worries @rushatgabhane ! I think we're going to wait a day for people to see & respond to my post in Slack, but yeah it kinda looks like we're going to go that way haha 👍

[2021-06-07 13:13] Beamanator commented on #2936
Ooh that looks great! Let's see what the @Expensify/design team things too :D

[2021-06-07 13:56] #3390 closed

[2021-06-07 14:19] aliabbasmalik8 commented on #3218
**PROPOSAL**
We can fix this by adding `selection` state and `onSelectionChange` function in this component
https://github.com/Expensify/Expensify.cash/blob/0622b3de834b0f936856f960e73eec2cdbf42a5e/src/pages/home/report/ReportActionItemMessageEdit.js#L31

[code]

[code]

and pass in this component
https://github.com/Expensify/Expensify.cash/blob/0622b3de834b0f936856f960e73eec2cdbf42a5e/src/pages/h

[2021-06-07 14:33] jboniface commented on #2531
@kidroca yep, good point

[2021-06-07 15:03] Beamanator commented on #3108
@mnrafg Thanks for your proposal and your multiple ideas! I believe your second solution (A Custom Extension of `TextInput` Component) could be the best solution for what we're looking for, but I am planning to follow up with our team internally to make sure nobody has any concerns about this plan :D I'll get back to you soon! (most likely tomorrow)

[2021-06-07 15:08] Beamanator commented on #3108
@kakajann Thanks for the video, I do see what you mean now. I believe `react-native-web` is adding `data-focusvisible-polyfill="true"` to our inputs, which is giving our text fields the blue borders on practically all fields in web, different colored borders in mobile web (for Android at least), and no borders in mobile (except for the chat message text field). Your solution could work great for b

[2021-06-07 15:14] dklymenk commented on #3218
Yeah, hats off to you, @aliabbasmalik8 .

I've just checked and the `-1` trick doesn't seem to work on safari at all...

[2021-06-07 15:49] JmillsExpensify commented on #2705
Going to keep the Upwork job open while we wait and see if this is not reproducible again.

[2021-06-07 15:57] thienlnam commented on #3381
@mallenexpensify Sorry, was OOO but issue looks good and we can have a contributor start working on it.  Nice detailed write-up!

[2021-06-07 16:11] aliabbasmalik8 commented on #3297
@isagoico
This issue not produced on IOS/Android Mobile Web. Can you please provide some more details about the file, Browser, platform?

https://user-images.githubusercontent.com/31027036/121053538-528a6c00-c770-11eb-9808-d60e2565573a.mov

Thanks

[2021-06-07 16:15] rushatgabhane commented on #3387
## Proposal

The components ReportActionItemIOUPreview, IOUBadge, EnvironmentBadge etc seem to have this problem.

### IOU information (A owes B)
Use the style prop styles.chatItemMessage.
This gives the right color, and font family.

Result
![Screenshot from 2021-06-07 19-12-37](https://user-images.githubusercontent.com/29673073/121053813-695aae00-c7c4-11eb-8ae3-1e3ec6f4ece8.png)

### Badge
in sr

[2021-06-07 16:16] #3348 closed

[2021-06-07 16:17] roryabraham commented on #3388
I think it most likely was ... I fixed a similar one which I found during my local testing.

[2021-06-07 16:19] arielgreen commented on #3246
Cool; I'll close this out then. Thanks @isagoico

[2021-06-07 16:19] #3246 closed

[2021-06-07 16:26] isagoico commented on #3297
Mmm I think a precondition might be to have the classic Expensify app installed. Can you try that on your side?
I was able to reproduce again with chrome browser on Android 10 (Huawei P20 Pro)

[2021-06-07 16:30] johnmlee101 commented on #3387
@shawnborton can you confirm this proposal seems to address this issue?

[2021-06-07 16:34] bondydaa commented on #3388
@roryabraham you got this one then?

[2021-06-07 16:37] rushatgabhane opened #3400 "No spacing between currency symbol and value for currencies with no symbol."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Disclaimer
This isn't an issue for currencies which have a symbol like $, € etc.
But it is an issue for currencies with no symbols like BHD.

## Expected Result:
Ther

[2021-06-07 16:56] mountiny commented on #3309
Update: Today i was solely working on other issue. Hopefully tomorrow I will have time for this one.

[2021-06-07 17:16] sketchydroide commented on #3385
This seems like something we should work on, maybe we can open this to externals.

[2021-06-07 17:25] kidroca opened #3402 "Attachment Picker Issues"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This is a list of existing issues I've stumbled on while working on #2531. I've added threads with details for each item

- [ ] Low: This block of code can be moved so t

[2021-06-07 17:25] roryabraham commented on #3047
I don't necessarily disagree @jasperhuangg, but this was discussed in slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1621271774229200). If you'd like to reopen the discussion, I think Slack would be the best place for that so it gets better visibility. The reason we didn't go with that solution is that it will nearly double the amount of data we need to store in our largest table.

[2021-06-07 17:41] kidroca opened #3403 "[Feature] Use storybook to test universal links"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Details

I worked on an issue that required triggering of deep links or universal links. It can be a bit tedious to trigger them from the terminal, and not everybody

[2021-06-07 17:49] michaelhaxhiu commented on #3102
Set a reminder for my self to pay @dklymenk on June 10 (to allow 7 days for any potential regression discoveries/fixes).

[2021-06-07 17:49] mvtglobally commented on #3359
Starting QA 🚀

[2021-06-07 18:06] marcaaron commented on #3272
I am not really sure what level of granularity we are expecting in the relative dates from a product perspective. Seems like a good thing to bring to `#expensify-open-source` for discussion.

One other solution not mentioned is that we could update the relative times based on user activity instead of some arbitrary time elapsing (e.g. with the `setInterval` approach) and instead update all times w

[2021-06-07 18:11] marcaaron commented on #3283
This is not really actionable yet so I'm un-assigning @MitchExpensify and we can wait until there is movement at the library level...

@parasharrajat can you please include details about what library we are expecting will be updated?

[2021-06-07 18:12] MitchExpensify commented on #3387
@johnmlee101 Shawn is ooo this week just fyi

[2021-06-07 18:15] Viacheslav80 commented on #2279
proposal:
/Users/syva80/Expensify.cash/src/pages/home/report/ReportActionItemFragment.js
I'm removing the prop "selectable"
[code]

https://user-images.githubusercontent.com/51112870/121068736-4e446a00-c7d5-11eb-8e91-15c2ac1d3e69.mov

[2021-06-07 18:20] deetergp commented on #3272
Solid suggestion, @marcaaron. I agree that user activity is a better trigger than `setInterval`.

[2021-06-07 18:39] parasharrajat commented on #3387
I think this one is being already worked by Rory in another issue.

[2021-06-07 18:55] dklymenk commented on #3297
If I understand correctly, the only option outside of changing the host that serves the files to something like `files.expensify.cash` in order to prevent app-link association is tweaking the `intent-filter` in `AndroidManifest.xml` in the old app with `android:pathPattern` to make it match only supported URIs (not `/chatAttachment` one). That is for android only of course, but something similar s

[2021-06-07 19:03] iwiznia commented on #2408
Reopening since a couple of issues were found

[2021-06-07 19:06] chiragsalian commented on #2662
Hmm so i believe @stitesExpensify originally wrote the emoji flatList. Stites could you share your thoughts on how we can dynamically change the number of columns depending on the width of the mobile device? Are you aware of a simple way to make this change using flatList or do you feel like we should change this to sectionList?

I do think that sectionList than flastList sounds like a good change

[2021-06-07 19:11] michaelhaxhiu commented on #2408
How long ago were the issues found @iwiznia? This contributor has already been compensated for the job and so I'm thinking it may be better to open a fresh GH.

[2021-06-07 19:14] iwiznia commented on #2408
I know that we already paid, but the issues were there since the beginning and I expect @eVoloshchak to fix them.

[2021-06-07 19:18] michaelhaxhiu commented on #3218
Posting this job shortly! Please hang tight and a member of our engineering team will help with next steps in terms of vetting the proposals.

[2021-06-07 19:26] michaelhaxhiu commented on #2408
Ah, I understand! Ok let's keep this GH going in that case 👍

[2021-06-07 19:29] lschurr commented on #3189
Hm, when I tried to reproduce this, I got a privacy error:

![image](https://user-images.githubusercontent.com/33293730/121077065-00574400-c78c-11eb-9209-ebb87e3d8e76.png)

I'm going to add the eng label to have someone else take a look.

[2021-06-07 20:08] marcaaron commented on #3219
Looks like the correct behavior would be for this text to persist.

[2021-06-07 20:09] marcaaron commented on #3219
Or maybe not because it wasn't "actually" edited? Not too sure. Either way, it definitely shouldn't flash like that.

[2021-06-07 20:19] parasharrajat commented on #3219
Backend says `isEdited:false` due to the reason message does not really change but we optimistically save `isEdited:true` . so the ideal solution would be to do the string comparison and then trigger the edit only if not the same (===).

[2021-06-07 20:51] dklymenk commented on #3385
This will be fixed by
https://github.com/Expensify/Expensify.cash/pull/3408

[2021-06-07 21:02] stitesExpensify commented on #2662
We can't, at least not easily. I think that just changing the size of the emojis would be a better idea personally.

I don't think we need to dynamically change the width of each emoji, we can probably just make _all_ emojis smaller right?

I had initially attempted to use sectionList because it does seem to fit our use case well, but there are features missing in the RN implementation that cause

[2021-06-07 21:33] roryabraham commented on #2279
@Viacheslav80 what about the case when there is markdown / html in a message?

[2021-06-07 21:44] Jag96 commented on #2920
@jasperhuangg I've sent the offer on Upwork, @parasharrajat you're good to start on a PR!

[2021-06-07 21:52] deetergp commented on #3380
This is a prime candidate for an external contractor.

[2021-06-07 21:58] Luke9389 commented on #3347
I don't understand _why_ this is happening. This menu should be getting set as `type=CONST.MODAL.MODAL_TYPE.BOTTOM_DOCKED`. Do any of you see why this problem is occurring? I'm not asking for altered proposals at this time, just an explanation of what's going on.

[2021-06-07 22:18] stitesExpensify commented on #3189
Hi @anthony-hull, can you clarify your solution please?

[2021-06-07 22:45] Jag96 commented on #3339
I think this proposal looks good, my only 2 comments are:
1. I think just logging the error to the server is a good enough start, I wouldn't add any restart UI/logic for this yet since it isn't necessary atm
2. Whenever we do catch an error, we should make sure we're still sending the crash/error to firebase so we don't miss those

@kidroca since you proposed this job you've got first dibs on impl

[2021-06-07 23:05] Luke9389 commented on #3347
This issue was discussed internally and it was decided that we'd use a different solution that has not been mentioned above. Thanks for you're time folks!

[2021-06-07 23:18] AndrewGable commented on #3101
Issue found in QA testing: https://github.com/Expensify/Expensify.cash/pull/3285#issuecomment-855161523

@TwizzyIndy - Is going to submit another PR and we will resolve the regression found.

[2021-06-08 00:08] isagoico commented on #3359
Regression is finished!
No issues found today.

PRs are finished too.
No comments added.

Thanks!

[2021-06-08 00:17] isagoico commented on #3359
Fix for https://github.com/Expensify/Expensify.cash/pull/3285#issuecomment-855161523 here -> https://github.com/Expensify/Expensify.cash/issues/3101. Checking it off

[2021-06-08 00:20] marcaaron commented on #3403
Pretty nice improvement from a developer efficiency perspective. But creating deep links happens pretty rarely and the stated problem doesn't seem like a very important one _for us_ to solve at the moment.

[2021-06-08 00:36] roryabraham commented on #3359
Okay, looks like https://github.com/Expensify/Expensify.cash/pull/3256 may actually have been a failure, but it is hidden behind a beta so doesn't need to be a deploy blocker. Checking it off and running the prod deploy now.

[2021-06-08 00:36] roryabraham commented on #3359
:shipit:

[2021-06-08 00:36] #3359 closed

[2021-06-08 00:39] OSBotify opened #3413 "Deploy Checklist: Expensify.cash 2021-06-08"
**Release Version:** `1.0.64-1`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [ ] https://github.com/Expensify/Expensify.cash/pull/3266
- [ ] https://github.com/Expensify/Expensify.cash/pull/3360
- [ ] https://github.com/Expensify/Expensify.cash/pull/3401
- [ ] https://github.com/

[2021-06-08 01:46] parasharrajat commented on #3219
### Proposal
1. We optimistically set the `isEdited` Status of the action here https://github.com/Expensify/Expensify.cash/blob/790a7545701e950b474c71b42ceb87e8ea352f29/src/libs/actions/Report.js#L1208
2. I checked that we don't change the message at all and send the Report_EditComment request to backend backend sends us back `isEdited:false` via pusher which then overwrite out optimistic status.

[2021-06-08 02:14] pROFESOR11 commented on #3219
### Proposal
1. In `ReportActionItemMessageEdit`, we can check if the new message string is different than the initial value.
2. Optionally we can show disabled `Save changes` button if the current message string is exactly the same with the initial value.
3. I think for UX, users should still exit edit mode onPress `Enter`, even if the values are the same.

I think the most efficient way to achie

[2021-06-08 03:11] rdjuric commented on #3247
### Proposal
We use react-native-modal for our Modals. In this library, there's a known issue where using a ScrollView inside a swipeable Modal causes that Modal to ignore the scroll movement (react-native-modal/react-native-modal#236).

Our PDF component (from react-native-pdf) is a ScrollView. So when we try to use it inside our Modal component we run into the issue mentioned above.

The workaro

[2021-06-08 03:19] kakajann commented on #3108
I've opened a pull request as an example. #3414

I used it in `ProfilePage` just to show how it looks. It doesn't contain `JSDoc`, `propTypes` yet but I will implement it if you assign me to this issue.

https://user-images.githubusercontent.com/11542415/121117086-02271300-c831-11eb-909c-2f732850bb22.mov

[2021-06-08 03:37] roryabraham commented on #3388
I'll see if I can figure this out

[2021-06-08 03:51] Jag96 commented on #2918
Had a quick look at this today since the build failed again, going to create a PR to see if I can get it working. Notes:

- Since version 2.135.0, it seems that Google Play automatically removes releases that are superseded ([see check_superseded_tracks](https://docs.fastlane.tools/actions/upload_to_play_store/#migration-from-androidpublisherv2-to-androidpublisherv3-in-fastlane-21350))
- The code

[2021-06-08 04:00] Jag96 commented on #2918
Or it could be b/c the version_code is just set to 0 🤦
![image](https://user-images.githubusercontent.com/3981102/121120907-661aee80-c7d3-11eb-9abe-7007aa4837f6.png)

[2021-06-08 04:16] pranshuchittora commented on #2662
What I use to do is render flat list inside section. Something like this
[code]

[2021-06-08 04:22] kadiealexander commented on #3108
Handing ownership back to @Christinadobrzyn since she's back from OOO!

[2021-06-08 05:00] Jag96 commented on #2918
Ok, not sure what the issue is here. Running [the echo command](https://github.com/Expensify/Expensify.cash/blob/f38f41ef96ec94c77d9ac423263271257a99b0b6/.github/workflows/platformDeploy.yml#L51) that sets the output seems to be working find locally, and the path seems correct since we run [similar commands](https://github.com/Expensify/Expensify.cash/blob/f38f41ef96ec94c77d9ac423263271257a99b0b6/

[2021-06-08 05:57] Jag96 commented on #3219
Both proposals look like they'll work, going to go with @parasharrajat's since he added his first. Regarding HTML vs text comparison, you can compare the HTML in this case since that's what the back end is doing. I also don't think we need any UI updates since there isn't any way for the user to know that adding a space to the message doesn't count as an edit.

@parasharrajat I've invited you to t

[2021-06-08 07:08] #3385 closed

[2021-06-08 07:28] Viacheslav80 commented on #2279
@roryabraham Hi! I tested it on the web - it is copied as before. Right now, markdown is not copied in the app, moreover, it is not displayed correctly right now. It doesn't depend on whether we have this prop or not

[2021-06-08 08:17] laurenreidexpensify opened #3419 "[HOLD] Show report history between two users"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem
 There is no central place dedicated to viewing reports on e.cash, which forces users to scroll back through many chats in a 1:1 in order to see their IOUs.

#

[2021-06-08 08:25] laurenreidexpensify commented on #2821
Paid in upwork. Thanks @dklymenk

[2021-06-08 09:22] anthony-hull commented on #3189
I think there should be some way of the user requesting a new set password email link. So maybe replace the whole form with a request new link button?

[2021-06-08 09:29] kidroca commented on #3402
Added 2 new items

[2021-06-08 09:53] pROFESOR11 commented on #3219
@Jag96 Okay, @parasharrajat 's solution doesn't provide a way to disable `Save Changes` button on the frontend, so if you prefer to have it in place, please feel free to use my approach as well.

[2021-06-08 11:21] pROFESOR11 opened #3422 "Edit comment - cursor position is always at the beginning of the current text"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
On edit comment, the cursor should be at the end of the current text to easily change current one or add new text.

## Actual Result:
The cursor is a

[2021-06-08 11:36] parasharrajat commented on #3422
Nice find @pROFESOR11 But it seems a duplicate. https://github.com/Expensify/Expensify.cash/issues/3218.

[2021-06-08 13:00] robertjchen commented on #3379
Aha! Looks like this was a regression, the functionality already existed but got inadvertently disabled. PR linked 👍

[2021-06-08 13:08] kidroca commented on #3339
@Jag96 Regarding

How would that happen, currently I don't see any Firebase Crashlytics handling can I import and use `crashlytics`:

[code]

If we implement `componentDidCactch` this means the exception won't reach the global end-of-the-road exception handler and won't be reported in firebase crashlytics unless we call `recordError`: https://rnfirebase.io/crashlytics/usage#error-reports

[2021-06-08 13:46] stephanieelliott commented on #2967
Since this is more like a new feature (and not a bug as originally thought), I think we should we update the issue body to be more our desired outcome.  Sounds like the options are:
 - reduce the full screen context menu equal to its width, **or**
 -  remove the full-screen back-drop entirely. Then when the right-click menu opens, add a click listener to the entire document and anytime something i

[2021-06-08 14:25] tgolen commented on #2938
Oops, sorry Tom, I didn't mean to assign this to you.

[2021-06-08 14:27] tgolen commented on #2938
@timszot I am going to be going OOO for the next 10 days, so I reassigned this using the `exported` chore. Thanks for taking over for me!

[2021-06-08 14:28] tgolen commented on #2705
@marcaaron I am going to be going OOO for the next 10 days, so I reassigned this using the `exported` chore. Thanks for taking over for me!

[2021-06-08 14:35] dklymenk commented on #3293
@NikkiWines

I have given it another look and there should be no issues with doing the following inside `deleteReportComment` to get access to `reportActionList`.

[code]

Additionally in my original proposal the code is presented in such a way that last message is updated regardless of the API response. So there is no case handling when this optimistic update needs to be reverted.

What I suggest

[2021-06-08 14:45] sketchydroide commented on #3293
I think the approach @NikkiWines has is better, and I had thought of a similar solution.
as for the  `on delete` action, I wander if the regular `on edit` action suffers from similar problems, I mean when you edit a comment, the one in the LHN is not updated at the moment as well (at least I don't think it would be).
Do you think this solution would work for both cases?

[2021-06-08 14:47] michaelhaxhiu commented on #3218
hey @deetergp - quick update:
- @aliabbasmalik8 and @dklymenk both provided a proposal before I had a chance to post to Upwork (they were quick ⚡ which is awesome 🤩 ).
- They jointly agree that @aliabbasmalik8 [solution](https://github.com/Expensify/Expensify.cash/issues/3218#issuecomment-855970377) is the better route.
- The job is now posted, so we can proceed with examining the proposal(s) like

[2021-06-08 14:54] parasharrajat commented on #3017
Question:
1. For this issue, the ContextMenu is the main focus stealing factor. I can fix this by not updating the modal.visibility for context menu. But as a consequence, this will not focus the composer when any action from the context menu is performed. For eg. on mark unread, copy to clipboard, etc. Previously, whenever the context menu is closed, focus the automatically set on the composer fo

[2021-06-08 14:57] parasharrajat commented on #3218
@aliabbasmalik8
Just a heads up. that we don't need to update the state on `onSelectionChange` event. Instead, just set the property on the Class and use it. It will work the same.
[code]

[2021-06-08 14:59] Beamanator commented on #2967
I do believe in either scenario, if a user right clicks outside of the currently open menu we'd want the currently open menu to be closed. So I think the only difference between the two options would be:
1. reduce the full screen context menu background to the size of the menu
2. eliminate the full screen context menu background

Personally I think it would be better to go with option 2 if possibl

[2021-06-08 15:01] Beamanator commented on #3346
Ok @rushatgabhane as expected, we're going to go the Onyx route :D Looks like you already understand how that will work, so I'll assign the issue back to you!

[2021-06-08 15:02] Beamanator commented on #3346
@puneetlath please create the job on Upwork when you have a chance :)

[2021-06-08 15:03] parasharrajat commented on #2967
So I looked at it. react-native-modal does provide us an option to render the menu inline but It has one issue, the Menu is overridden by other views. Apart from it, if we lose the backdrop, still the modal is rendered over a fixed fullscreen view which is the issue we are discussing at the moment.

I have another idea here. Lets see if that works.

[2021-06-08 15:04] johnmlee101 commented on #3387
cc @roryabraham can we close this out if you're working on it?

[2021-06-08 15:17] Beamanator commented on #3108
@kakajann thanks for the video! That is very helpful to understanding where you'd go with this update :D

@shawnborton can you let me know what you think about @kakajann 's video? I think it looks great but I'd like your opinion before moving forward since updating form styles was your idea 😅

[2021-06-08 15:21] dklymenk commented on #3293
Yes, I agree the code for finding the last report action proposed by @NikkiWines is better.

Do you think this solution would work for both cases?

My solution will only affect the `on delete` action, however, as I stated in my original proposal, `updateReportActionMessage` function is already updating the last message, so there is no such issue with `on edit`.

[2021-06-08 15:46] sketchydroide commented on #3293
sounds good then

[2021-06-08 16:03] roryabraham commented on #3349
I can confirm this can be worked on externally, adding the external label now

[2021-06-08 16:08] #3187 closed

[2021-06-08 16:11] roryabraham commented on #2279
@Viacheslav80, just removing the `selectable` prop from the component in that location is not an acceptable solution because it breaks the native highlight/copy functionality on the web & desktop apps.

[2021-06-08 16:51] #3388 closed

[2021-06-08 16:52] mvtglobally commented on #3413
Starting QA

[2021-06-08 16:57] roryabraham commented on #3413
@mvtglobally Something went wrong, I'm going to remove the lock label and re-add it.

[2021-06-08 17:49] chiragsalian commented on #3386
Yup, low-impact but yeah we should fix this. Setting priority to monthly.
I have the perfect person to investigate. Welcome to e.cash and mobile dev @luacmartins 🙂

[2021-06-08 18:04] iwiznia commented on #3247
@rdjuric that proposal sounds good (assuming it actually works 😄 )
@bfitzexpensify can you hire in upwork?

[2021-06-08 18:28] roryabraham commented on #3387
Yep, I can create a quickie PR for this (and potentially other undiscovered incorrect font issues)

[2021-06-08 18:28] NicMendonca commented on #3380
Posted job to Upwork: https://www.upwork.com/jobs/~01cf582589b6610079

[2021-06-08 18:39] #3186 closed

[2021-06-08 18:52] Viacheslav80 commented on #2279
@roryabraham Ok! We can do a check:  selectable={(Platform.OS == "web") ? true : false} ?

[2021-06-08 19:03] deetergp commented on #3017
It would be a regression if your fix for this issue causes the other behavior to break. We need a solution that works for the "Edit" selection sending focus to the Edit textbox, without preventing the others from sending focus back to the main composer textbox when performed.

[2021-06-08 19:08] parasharrajat commented on #3017
Ok. But before delving into that I would like to ask that whether we need that behaviour "Focus the composer on Context menu Close" at all. cc: @roryabraham @shawnborton .

[2021-06-08 19:37] NikkiWines commented on #3293
Cool, @jboniface can you hire @dklymenk for this job on Upwork please?

[2021-06-08 19:43] dklymenk commented on #3272
Ok, If using user interactions is preferred, I suggest the following:

Track events:
* `mousedown`
* `mousemove`
* `touchstart`
* `keydown`
* `scroll`

And have a single callback function for all of them that will update the new `date` key in Onyx. Now we obviously will need to throttle the callback to make sure it doesn't get called let's say more often than 1 time per minute. Then as suggested a

[2021-06-08 19:45] dklymenk commented on #3293
@NikkiWines What do you think about optimistic update? Should I bother with it or should I update the last message only after successful response from BE?

[2021-06-08 20:09] roryabraham commented on #2279
Ah, I stand corrected, it seems removing the `selectable` prop _doesn't_ break native highlight selection on web + desktop. But as a result, the solution doesn't seem to work on mobile web. I tested your original solution on iOS safari and it does not seem to reliably create the correct behavior:

![image](https://user-images.githubusercontent.com/47436092/121250363-80e47600-c85a-11eb-8f58-83f7c22

[2021-06-08 20:12] puneetlath commented on #2846
Upwork job post added: https://www.upwork.com/jobs/~0185450afd7993674c

[2021-06-08 20:15] parasharrajat commented on #2846
### Proposal

This requires just a drop in adjustment to the strikethrough's Regex on ExpensiMark.
[code]

TO ↓

[code]

[2021-06-08 20:15] puneetlath commented on #2857
I was able to re-create this. I think it happens when you mark messages as unread. I doubt this will be something that can be handled externally.

[2021-06-08 20:21] dklymenk commented on #3272
I agree.

Setting throttle to 3h will work for overnight case as described in the original post, but if one opens the app at 11PM, browses it a little and then goes afk for 2 hours, comes back and moves the mouse, the dates won't update because there is still 1 hour on throttle timer. If that's ok, we can go with 3 hour timer, no problem.

[2021-06-08 20:25] puneetlath commented on #3346
Sorry for the delay. Job is here: https://www.upwork.com/jobs/~01e87cad52166458c7

[2021-06-08 20:29] roryabraham commented on #3017
Yeah, I think so. It would also be great if the composer is refocused whenever the edit is made or cancelled:

1. Press `ArrowUp` to edit your last message
1. Hit `Esc` to cancel the edit
1. The `ReportActionCompose` is not focused, but it should be.

That's additional scope though, so could be handled in a follow-up.

[2021-06-08 20:30] iwiznia commented on #3313
Sorry, but I don't see it's fixed for any type.

[2021-06-08 20:32] parasharrajat commented on #3313
For Images, we have to use the native Modules for Mobile devices but previously we left that part intentionally. So are we ready to go that path @roryabraham?

[2021-06-08 20:44] puneetlath commented on #3313
Hm, it's working for me on desktop on staging for links.
![image](https://user-images.githubusercontent.com/1371996/121254916-703efa80-c870-11eb-8d65-8fd0c1987135.png)

[2021-06-08 20:47] parasharrajat commented on #3017
We focus on the composer when the menu(which is a modal internally) is closed. But currently, there is no way to tell that a user-initiated `Edit comment` action. If we know this, then we can block the focus on the context-menu close over the composer.

So Onyx's way to do this would be to set a key and then reset it automatically which will cause an event like a trigger via onyx. And we can subsc

[2021-06-08 20:50] parasharrajat commented on #3313
That's not what the issue meant.

Try `this is a message with link https://goolge.com` Now try to copy the link only.

[2021-06-08 20:51] dklymenk commented on #3313
For all attachments (not just images) some html parsing needs to happen. To extract links from html. Here is how what I would do for images for example:
[code]

`imageUrl` is something we'll pass to clipboard.

[2021-06-08 20:53] puneetlath commented on #2846
@isagoico would you mind giving a list of each individual markdown that is affected by this issue?

[2021-06-08 21:12] Jag96 commented on #3339
@kidroca yes that's what I was thinking, we can just record the error manually via `recordError()` 👍

[2021-06-08 21:14] NikkiWines commented on #3293
@dklymenk we typically prefer an optimistic approach but it looks like `updateReportActionMessage` isn't being used optimistically at the moment. You can go with the simpler non-optimistic approach

[2021-06-08 21:46] mountiny commented on #3137
@francoisl I think this is solved by [this PR](https://github.com/Expensify/Expensify.cash/pull/2956) (at least it is for me on desktop) as Rajat mentioned.

[2021-06-08 21:56] AndrewGable commented on #2918
Yeah I think I see the bug, looks [like this should be `VERSION_CODE`](https://github.com/Expensify/Expensify.cash/blob/f38f41ef96ec94c77d9ac423263271257a99b0b6/.github/workflows/platformDeploy.yml#L61) because in Ruby we expect it to be that name instead of [`VERSION`](https://github.com/Expensify/Expensify.cash/blob/f38f41ef96ec94c77d9ac423263271257a99b0b6/fastlane/Fastfile#L58)

[2021-06-08 22:16] roryabraham commented on #3017
I definitely agree we don't want to put this data (whether the main `ReportActionCompose` should be focused) in Onyx. I think your solution sounds good, except to keep it clean I would make a couple small tweeks, including an "unsubscribe" function. Something like this:

- Create a library called `ReportActionComposeFocusManager`, and export three functions: `onComposerFocus`, `focus`, and `clear`

[2021-06-08 22:31] roryabraham commented on #3317
I think this is prettymuch a duplicate of https://github.com/Expensify/Expensify.cash/issues/3313. Let's close this an just beef up the scope of that other one a bit.

[2021-06-08 22:35] roryabraham commented on #3313
@puneetlath I updated the OP here a bit, can we please update the Upwork job to reflect that?

[2021-06-08 22:38] roryabraham commented on #3100
@arielgreen PR caused some minor regressions

[2021-06-08 22:49] deetergp commented on #3041
Did some digging into this today and discovered that an attribute `data-focusvisible-polyfill="true"` is being added to one of the divs that wraps a message in chat history. I think it's a react-native issue, something that is meant to be for touch/mobile UIs but is showing up in Web. Will do a bit more digging to see what can be done to address it.

[2021-06-08 22:51] iwiznia commented on #3317
I don't think it is.. that one is so that we don't copy formatting when copying the whole message, this is to allow to copy a link or image from within a message... right?

[2021-06-08 22:59] #2762 closed

[2021-06-08 22:59] tugbadogan commented on #3100
Hmm, this regression is caused by moving these texts out of nested Text component to make them accessible from Safari and iOS devices. We have two options to solve this regression, which one do you recommend here @roryabraham @tgolen @arielgreen  ?

**Option 1)** Split this long phrase into smaller phrases, so they can fit to single line, so other Text components can be positioned in  the same lin

[2021-06-08 23:21] OSBotify opened #3450 "Deploy Checklist: Expensify.cash 2021-06-08"
**Release Version:** `1.0.68-4`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/3078
- [x] https://github.com/Expensify/Expensify.cash/pull/3095
- [x] https://github.com/Expensify/Expensify.cash/pull/3215
- [x] https://github.com/