[2022-11-29 21:18] thesahindia commented on #12271
The PR got merged.

[2022-11-29 21:22] PauloGasparSv commented on #13141
@marcaaron I feel you would explain this issue better than me on slack. **Do you want to bring this to over there** or can I do it?

Also, should we bring this to #engineering-chat or another room? I think some people that have strong opinions on the design may not see the message if we send it there.

[2022-11-29 21:24] JalalMitali commented on #13114
as far as I know this is simply happening because the chat message ( in the case of HT accounts ) is very long, longer than any usual  chat message so my _proposal_ would be to check the length of the message if it's too long let's just load parts of it I believe that's doable!

[2022-11-29 21:28] Luke9389 commented on #11283
We discussed this internally and would like to:
1. Hire @hungvu193 because their proposal was the first to address the issue with js instead of css, paying them the full bounty
 - that fix should use onPressOut
2. In addition pay @getusha half the bounty for the suggestion to use onPressOut

[2022-11-29 21:29] OSBotify commented on #13099
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.33-4 has been deployed to staging :tada:

[2022-11-29 21:30] JmillsExpensify commented on #10273
We're all assigned out and working through individual issues.

[2022-11-29 21:42] davidcardoza commented on #12726
@eVoloshchak sent

[2022-11-29 21:42] #12726 closed

[2022-11-29 21:43] Luke9389 commented on #11377
tackling this one this week.

[2022-11-29 21:45] markarmanus commented on #13161
Proposal

Issue:

Its a simple styling issue when trasnalting the native components to HTML. This is done through the https://meliorence.github.io/react-native-render-html/ package.

Fix:
To simply fix the issue we need to add line height to the styling.
![image](https://user-images.githubusercontent.com/33489215/204654587-54ac7d8f-1558-4693-afb5-0ca9a9cb8074.png)

Before:

<img width="630" alt="i

[2022-11-29 21:51] mvtglobally commented on #13099
https://github.com/Expensify/App/pull/13142 is failing https://github.com/Expensify/App/issues/13132

[2022-11-29 21:52] kbecciv opened #13162 "The popups in NewDot are white in dark mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
******************************************

[2022-11-29 21:55] lschurr commented on #13158
I tested and confirmed that I only see the #announce room when invited to a workspace:

<img width="1357" alt="image" src="https://user-images.githubusercontent.com/33293730/204656810-c26db9f0-c7de-455b-846b-f9207e0b4a24.png">

What else is a workspace user supposed to see?

[2022-11-29 21:56] luacmartins commented on #13099
@mvtglobally has the browser color not changed? This should be visible on the browser and desktop only. It's not visible on any of the mobile platforms.

[2022-11-29 21:59] conorpendergrast commented on #13002
Paid! Upwork isn't showing me the option to end the contract at the moment, so I'll keep this open for myself to check back on it

<img width="1374" alt="image" src="https://user-images.githubusercontent.com/5802477/204657517-dff6bf87-253b-4b64-8559-cbfae0fed847.png">

[2022-11-29 22:03] Puneet-here commented on #13162
### Proposal

We can remove the growl because it's not needed
remove this line
https://github.com/Expensify/App/blob/31eee4eb406dbde0a4f307602b7d80de5507063f/src/pages/settings/Payments/AddPayPalMePage.js#L43

Remove
https://github.com/Expensify/App/blob/31eee4eb406dbde0a4f307602b7d80de5507063f/src/languages/en.js#L407
same for es.js

We can also clean the copies that are left like the one below
h

[2022-11-29 22:04] pecanoro opened #13163 "Connect a business bank account manually is broken"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Add a new workspace
2. Navigate to Settings > [Workspace] > Connect bank account > Connect manually.
3. Select "Manually ente

[2022-11-29 22:05] shawnborton commented on #12253
I think this still technically falls under WAQ Branding so we should treat it with urgency, and that's my bad for not having much progress to show yet.

[2022-11-29 22:05] OSBotify commented on #13163
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-29 22:06] pecanoro commented on #13163
This is the PR that caused the regression: https://github.com/Expensify/App/pull/13076 cc/ @sketchydroide @luacmartins @mananjadhav @ravindra-encoresky

[2022-11-29 22:06] JmillsExpensify commented on #12271
Oh whoops, I'm flying through too many issues. Thanks!

[2022-11-29 22:07] mvtglobally commented on #13099
@luacmartins
Check this out
![image - 2022-11-29T170659 843](https://user-images.githubusercontent.com/43995119/204658856-06957f6c-4ddd-4419-8056-b0ea842e8d97.png)

https://user-images.githubusercontent.com/43995119/204658909-45567888-5a65-4f8b-9330-174149025470.MP4

[2022-11-29 22:10] JalalMitali commented on #12706
**Proposal :**
let's add another condition to check if the chat is an announce room if so let's return only the report message without the display name and it's working! I
[code]
<img width="1792" alt="Screenshot 2022-11-29 at 23 09 11" src="https://user-images.githubusercontent.com/88791252/204659169-13757a40-9efb-4896-acdd-93c8553e15b9.png">

[2022-11-29 22:11] JalalMitali commented on #12706
@JmillsExpensify can you please take a look at this solution so if it's not how we should fix it I will make some changes as long as I am working on this one **thanks**!

[2022-11-29 22:23] cowboycito commented on #10893
@Santhosh-Sellavel @NikkiWines @JmillsExpensify any idea on when we'll have the designs developed and approved so I can start working on implementing it?

[2022-11-29 22:24] kbecciv commented on #12670
Kbecciv+1031abb2@gmail.com/Feya86Katya

[2022-11-29 22:24] luacmartins commented on #13099
@mvtglobally as I mentioned in my previous comment, the calendar icon is only displayed on Web and Desktop. The video is from mWeb. Is the calendar icon still not visible on Web?

[2022-11-29 22:27] mvtglobally commented on #13099
@luacmartins Is white routing number display expected for now?
I am double checking on calendar icon

[2022-11-29 22:30] luacmartins commented on #13099
Yes, that one is expected for now

[2022-11-29 22:32] mvtglobally commented on #13127
@pecanoro @Gonals @luacmartins we are seeing the dropdown issue across multiple platforms and places. Should we log them individually  or we can use this issue for tracking. See screenshots

https://user-images.githubusercontent.com/43995119/204662811-88dd775c-c07a-48c0-9056-e1af02452baa.mp4

![image - 2022-11-29T173056 386](https://user-images.githubusercontent.com/43995119/204662819-fe3940b5-25d

[2022-11-29 22:36] Luke9389 commented on #13163
Have we tried using `123456789` as the TaxID number? @neil-marcellini mentioned [here](https://expensify.slack.com/archives/C03TQ48KC/p1669423123408509) that this was now required.

[2022-11-29 22:36] luacmartins commented on #13127
No need to log them individually, they all seem to have the same root cause. @pecanoro how's that PR coming along?

[2022-11-29 22:39] lschurr commented on #12724
@flodnv - what are we waiting on for this one? It looks like the PR is merged right?

[2022-11-29 22:40] lschurr commented on #13065
Next steps on @kbecciv for this one, correct?

[2022-11-29 22:45] amyevans commented on #12651
Discussed with @cead22 and will reassign him as CME here 😄

[2022-11-29 22:47] JmillsExpensify commented on #10525
Offer sent.

[2022-11-29 22:49] JmillsExpensify commented on #12289
Regression test is linked above.

[2022-11-29 22:54] shawnborton commented on #10893
I'd say we're good to go with the design I posted above.

[2022-11-29 22:56] cowboycito commented on #10893
@shawnborton is there any way I can have access to the design spec so I'm able to get references for colors, fonts, icons...?

[2022-11-29 22:59] Christinadobrzyn commented on #13105
Awesome! thank you @shawnborton! I think this can be an external job so adding all the labels.

[2022-11-29 23:02] marcaaron commented on #11494
@aldo-expensify can I assign you here? It looks like you're gonna make this change, but not sure. Let me know! 🙇

[2022-11-29 23:02] francoisl commented on #13155
@shawnborton do you know if we have or plan on making a new version of https://new.expensify.com/og-preview-image.png? I'm looking in web-static and https://use.expensify.com/press-kit but don't see anything new.

[2022-11-29 23:03] aldo-expensify commented on #11494
@marcaaron yes!

[2022-11-29 23:04] marcaaron commented on #13116
I am not really sure how the staging regression could have been avoided in this case. The fix worked in one place but not for all cases. Staging did what it was supposed to in this case and the issue was caught at the right layer.

[2022-11-29 23:07] shawnborton commented on #13155
Here is a new one you can use: ![og-preview-image](https://user-images.githubusercontent.com/2319350/204668103-302c6620-5111-492f-bfaf-e0bb681fa38b.png)

[og-preview-image.png.zip](https://github.com/Expensify/App/files/10118040/og-preview-image.png.zip)

[2022-11-29 23:08] JmillsExpensify opened #13166 "[HOLD for payment 2023-02-01] [Hold #13501] Connect Bank Account - Endless loading is shown when navigate to Connect Bank Account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with your testing account
3. Navigate to Setting - Workspace - Workspaces
4. Create an OPEN bank acco

[2022-11-29 23:08] JmillsExpensify commented on #13166
Please see https://github.com/Expensify/App/issues/12670 for more commentary.

[2022-11-29 23:09] JmillsExpensify commented on #13166
@ctkochan22 I went ahead and proactively assigned you.

[2022-11-29 23:09] JmillsExpensify commented on #12670
Alright, new issue created and linked immediately above. I'm closing this issue out.

[2022-11-29 23:09] #12670 closed

[2022-11-29 23:10] marcaaron commented on #13145
Sorry I am sure it's internal.

[2022-11-29 23:11] shawnborton commented on #10893
Figma is here: https://www.figma.com/file/WlrZyRCTQ0LFoKcjSmtTsd/General-UI-Patterns?node-id=1634%3A14718&t=JpwlqDQC4vNBvr3N-1

SVG to use is here: [empty-state__launchdesktop.svg.zip](https://github.com/Expensify/App/files/10118056/empty-state__launchdesktop.svg.zip)

Note that the headline font hasn't been added to the repo yet, that is being worked on in a separate issue. In the meantime you ca

[2022-11-29 23:12] marcaaron commented on #13145
I'll just fix it 😄  it's in Auth

[2022-11-29 23:13] slafortune commented on #13062
@yuwenmemon is this something that will be an internal fix?

[2022-11-29 23:13] JmillsExpensify commented on #13162
This issue looks like an older dupe of https://github.com/Expensify/App/issues/13151. Closing.

[2022-11-29 23:13] #13162 closed

[2022-11-29 23:20] JmillsExpensify commented on #12706
Ah let's have @mananjadhav take the first round of feedback on this proposal. Thanks!

[2022-11-29 23:20] JmillsExpensify commented on #12253
Cool, thought you'd say that. Sound good to me, and now worries!

[2022-11-29 23:22] JmillsExpensify commented on #11283
Nice! Let's get the party start.

[2022-11-29 23:25] luacmartins commented on #13099
We just merged PRs to fix https://github.com/Expensify/App/issues/13141 and https://github.com/Expensify/App/issues/13163. Should be available to test soon.

[2022-11-29 23:27] luacmartins commented on #12777
@PauloGasparSv @aimane-chnaif I'm gonna check this one off the deploy checklist since it didn't cause any regression, but can you please investigate this comment https://github.com/Expensify/App/issues/13099#issuecomment-1331137007. We are still waiting on a video from Applause.

[2022-11-29 23:31] OSBotify commented on #13099
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/13164) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.33-5` :rocket:

[2022-11-29 23:33] luacmartins commented on #13099
- https://github.com/Expensify/App/pull/13077 I pinged the authors on the issue and asked them to investigate the failure. I'll check it off since it doesn't cause a regression.

[2022-11-29 23:34] marcaaron commented on #13145
ah hmm noticed that adding a member to the workspace won't add them to the user created rooms either so going to fix that here as well.

[2022-11-29 23:34] dangrous commented on #12198
This looks great, @mollfpr! Assigning you now.

[2022-11-29 23:35] JmillsExpensify commented on #10525
Closing the loop. @mollfpr has been compensated via Upwork. @Gonals We should close automatically on a production deploy, yeah?

[2022-11-29 23:37] MitchExpensify commented on #10181
Hey @parasharrajat, apologies for the delay (Thanksgiving break then I was unwell)

Invite sent to [new upwork job](https://www.upwork.com/jobs/~010e554dbc4be2e6d1)

[2022-11-29 23:40] marcaaron commented on #13145
Before I go deeper. @MitchExpensify @jasperhuangg what is the status of this project currently?

[2022-11-29 23:41] tjferriss commented on #13152
Asking in #expensify-open-source for someone to help with reproducing this on Android.

[2022-11-29 23:50] marcaaron commented on #12471
Gonna close this one out as it seems not reproducible and nobody is actively assigned.

[2022-11-29 23:50] #12471 closed

[2022-11-29 23:57] mvtglobally commented on #13099
Calendar icon issue is resolved @luacmartins

[2022-11-29 23:59] shawnborton commented on #13105
I disagree with that approach. We don't need to manipulate the image in any way, we just need to quickly update the background color of the image thumbnails, and I think @grgia is on it.

[2022-11-30 00:00] cead22 commented on #12026
@s77rt thanks for the explanation, that makes sense.

Understanding that, I was wondering why we compute some "variations" in `getSearchText` (ie, `personalDetail.login.replace(/\./g, '')`) and some in `isSearchStringMatch`, to see if we could calculate all the variations in one method, and do the search in the other, but I see `isSearchStringMatch` is used in several places and we'd need to updat

[2022-11-30 00:00] luacmartins commented on #13099
Awesome, checking off https://github.com/Expensify/App/pull/13142

[2022-11-30 00:00] Puneet-here commented on #13151
@shawnborton, I can make the change (it needs to be done [here](https://github.com/Expensify/App/blob/435c4b93e9e46f3d45b3913a1e30d8c2f2c107bb/src/components/ReimbursementAccountLoadingIndicator.js#L31)). We also need to update other gif that we are using locally  (check the one below)

https://github.com/Expensify/App/blob/main/assets/images/confetti-pop.gif

[2022-11-30 00:01] shawnborton commented on #13151
Where are we using confetti pop? I thought we stopped using it with the new workspace illustrations that we merged?

[2022-11-30 00:16] cead22 commented on #12026
@s77rt on second thought, disregard the two bullets above and simply submit your proposal. We can look into updating that separately from this. Thanks!

[2022-11-30 00:17] marcaaron commented on #13040
I think "blue screen" in this case means "text selection"? We could do better for the "expected" part of this before choosing to take action. What is expected here? Why is the user long pressing and what is their goal?

[2022-11-30 00:18] Puneet-here commented on #13151
It's at password screen confirmation and request call confirmation
Once you change your password successfully you will see it or after requesting a call.

[2022-11-30 00:20] marcaaron commented on #13042
Yeah can we maybe clarify what "shaking" means in this context? It looks like those characters are being overwritten (though I haven't confirmed this). Which is against our form guidelines as stated here:

![Image](https://user-images.githubusercontent.com/32969087/204677107-e5e30c3d-599f-4bc6-a30f-7573176b68a1.png)

https://github.com/Expensify/App/blob/main/contributingGuides/FORMS.md#modifying-

[2022-11-30 00:22] shawnborton commented on #13151
Can you share screenshots of those two pages?

[2022-11-30 00:23] marcaaron commented on #13062
I feel like we have run into a similar issue elsewhere. IIRC there was some discussion about whether the user should even be allowed to "log out" if they are offline. I think we could block them from taking this action and nobody would notice or care.

[2022-11-30 00:28] Puneet-here commented on #13151
<img width="452" alt="Screenshot 2022-11-30 at 5 54 58 AM" src="https://user-images.githubusercontent.com/101883770/204677759-a63fa97b-2cb6-449b-8225-427488217be8.png">
<img width="452" alt="Screenshot 2022-11-30 at 5 55 41 AM" src="https://user-images.githubusercontent.com/101883770/204677856-5f825334-8262-4392-a1fd-4354dba66d10.png">

[2022-11-30 00:30] cowboycito commented on #10893
I don't have access to that Figma file

[2022-11-30 00:31] Puneet-here commented on #13151
We can use `Illustrations.TadaBlue` instead
[code]
<img width="452" alt="Screenshot 2022-11-30 at 5 58 17 AM" src="https://user-images.githubusercontent.com/101883770/204678454-7d5f2ecf-c7c6-43f7-a653-8d12fc784d6a.png">

and maybe some margin below the icon.

[2022-11-30 00:31] shawnborton commented on #13151
I think we can use the new simple thumbs up illustration for those:

![image](https://user-images.githubusercontent.com/2319350/204678573-eb4f01de-7a48-4995-bceb-540cf0daf5f8.png)

[2022-11-30 00:32] shawnborton commented on #10893
Sorry, try again!

[2022-11-30 00:33] shawnborton commented on #13105
Ahh interesting... I wonder if we should just do nothing here then?

[2022-11-30 00:34] OSBotify commented on #13099
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.33-5 has been deployed to staging :tada:

[2022-11-30 00:35] Puneet-here commented on #13151
Looks good to me.

<img width="452" alt="Screenshot 2022-11-30 at 6 05 19 AM" src="https://user-images.githubusercontent.com/101883770/204678974-4b7afd42-5914-45ff-9c6d-c086a7209932.png">

[2022-11-30 00:36] cowboycito commented on #10893
Thank you!

[2022-11-30 00:38] OSBotify commented on #13099
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/13167) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.33-6` :rocket:

[2022-11-30 00:38] OSBotify commented on #13099
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.33-6 has been deployed to staging :tada:

[2022-11-30 00:39] cead22 commented on #12045
Reviewed, and agreed on the PR to go with the original solution. Let us know when that's ready. Thanks!

[2022-11-30 00:42] Luke9389 commented on #11083
This is on hold so shouldn't be overdue

[2022-11-30 00:43] #12834 closed

[2022-11-30 00:45] allroundexperts commented on #13146
### Proposal

## Issue
This PR:
https://github.com/Expensify/App/pull/12572
introduced `resetsOnClickOutside` to the `Hoverable` component. This causes this issue on Safari.

## Fix
Remove the `resetsOnClickOutside` property. It's not really checking if the click is outside. It resets the state nonetheless.

[code]

## Result
https://user-images.githubusercontent.com/30054992/204679923-eddf82f3-9a

[2022-11-30 00:46] hungvu193 commented on #12651
Cool, I'll make a PR later today

[2022-11-30 00:48] Pujan92 commented on #13066
Please check my proposal with the screen cast too in the initial comments.

[2022-11-30 00:49] Luke9389 commented on #13163
Took the deploy blocker label off of this issue bc it's not on staging or prod. The PR linked above does fix the issue, but won't be CP'ed and is instead going to be deployed along with the offending PR.

[2022-11-30 01:01] Luke9389 commented on #13166
Making a quick correction on the description, the TaxID _has to be 123456789_.

Context: https://expensify.slack.com/archives/C03TQ48KC/p1669423123408509

[2022-11-30 01:06] bernhardoj commented on #13063
Currently, when we type a message on a normal report (not with an outstanding IOU), it will also jumps to the top.

[2022-11-30 01:15] allroundexperts commented on #13150
### Proposal
In the `ImageView` modal, we should stop tracking the mouse movement if the cursor moves outside of the window.

## Fix

[code]

## Result

[2022-11-30 01:17] strepanier03 commented on #13145
@marcaaron - Should I still proceed triaging this as the BZ person? I know we won't be paying anyone via Upwork but I just wasn't 100% sure the right way to handle this GH and want to be sure I'm checking all my boxes.

Do I just handle this as BZ without doing any of the external steps?

[2022-11-30 01:21] strepanier03 commented on #12715
On staging still. Will check tomorrow.

[2022-11-30 01:22] strepanier03 commented on #12151
On staging, will check again tomorrow.

[2022-11-30 01:26] shawnborton commented on #13105
Yeah, I'm leaning towards just closing this one though... I would imagine this is a bit of an edge case anyways and we can revisit later. Thoughts @JmillsExpensify ?

[2022-11-30 01:34] allroundexperts commented on #13147
### Proposal

We can just add a `borderLeft` to the `BaseScreenWrapper` component.

## Fix

[code]

## Result

https://user-images.githubusercontent.com/30054992/204685791-3a0c476e-ff89-4f6d-b279-cf4f5dfcb365.mov

[2022-11-30 01:37] shawnborton commented on #13147
How would that look on smaller/mobile devices though? I don't think we want the left border on small devices, so we should consider that in the solution.

[2022-11-30 01:41] luacmartins commented on #13099
https://github.com/Expensify/App/pull/13164 is a pass. Checking off

https://user-images.githubusercontent.com/22219519/204686652-04024468-be97-43ac-b352-ad8284085898.mov

[2022-11-30 01:42] luacmartins commented on #13141
Gonna close this since we CP'ed the fix and it solved the issue

[2022-11-30 01:42] #13141 closed

[2022-11-30 01:42] allroundexperts commented on #13147
@shawnborton Updated proposal. The border will show on large screens only.

[2022-11-30 01:48] shawnborton commented on #13147
Cool, let's wait for one of our engineers to weigh in - thanks!

[2022-11-30 01:49] OSBotify commented on #13099
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/13174) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.33-7` :rocket:

[2022-11-30 01:55] conorpendergrast commented on #13002
Contract ended, all set.

[2022-11-30 01:55] #13002 closed

[2022-11-30 02:02] allroundexperts commented on #13134
### Proposal

We can move the padding to the `popoverMenuItem` itself so that the height doesn't change visually.

## Fix

[code]

## Result

https://user-images.githubusercontent.com/30054992/204689456-fcba67ea-dc90-427c-ae1d-9fe4b588f60f.mov

[2022-11-30 02:04] Pujan92 commented on #12957
++
By default, the calender icon won't be visible within the dark theme.

<img width="379" alt="Screenshot 2022-11-30 at 7 30 18 AM" src="https://user-images.githubusercontent.com/14358475/204689527-c5840dd5-0982-4766-bc35-d5bfee5adff6.png">

In contrast, we can give the extra property `color-scheme: dark` which can make it visible.

<img width="367" alt="Screenshot 2022-11-30 at 7 34 20 AM" src="

[2022-11-30 02:06] luacmartins commented on #13099
https://github.com/Expensify/App/pull/13174 is a pass. Checking it off.
![Screenshot 2022-11-29 at 7 05 14 PM](https://user-images.githubusercontent.com/22219519/204689920-b4763af8-7a0a-4362-90ff-381a311ce601.png)

[2022-11-30 02:16] Christinadobrzyn commented on #13006
Thanks @Beamanator and @hungvu193! I updated the title and the OP to hopefully match what we're looking for. Going to all the external label.

[2022-11-30 02:23] Pujan92 commented on #13160
**Proposal**

Update the below style changes to highlight only the emoji icon.
https://github.com/Expensify/App/blob/58c22bc44dc183e55c57c6a332a8790d46277840/src/styles/styles.js#L1499-L1505

[code]
<img width="1062" alt="Screenshot 2022-11-30 at 7 49 59 AM" src="https://user-images.githubusercontent.com/14358475/204692079-6bc6df34-39c2-4e5a-a24a-abe756a70ce4.png">

[2022-11-30 02:25] dhairyasenjaliya commented on #12957
The color scheme is already fixed yesterday https://github.com/Expensify/App/pull/13142

[2022-11-30 02:25] hungvu193 commented on #13006
<b>Proposal</b>
This issue happened with large image size, in order to prevent that we need to limit the size of it.
https://github.com/Expensify/App/blob/e82bcf6574c4af2bfe7daa175a69988c1787cd81/src/CONST.js#L31-L34

<b>Solution</b>
Add these values inside CONST next to `AVATAR_MIN_WIDTH_PX`:
[code]

Also need to update the `isValidResolution` function inside `AvatarWithImagePicker.js` to:

[code

[2022-11-30 02:27] Christinadobrzyn commented on #13006
Here are some [file size limits](https://promo.com/blog/social-media-image-sizes) for other social media sites. Maybe we should use these?

FB Avatar size:
Max Size: 2048px X 2048px
Min Size: 168px X 168px
Aspect ratio: 1:1

WhatsApp Profile Image Size – 500 x 500 px

[2022-11-30 02:29] markarmanus commented on #13161
After running some tests the lineHeight:22 added would break it on android and ios. So instead we should modify the InlineCodeBlock/index.js to exten the style to include the lineHeight: 23

[2022-11-30 02:30] aldo-expensify commented on #12893
Thanks @markarmanus

I was also having a look, what you said matches with explanation on what was happening when it was fixed in the past: https://github.com/Expensify/App/issues/5193#issuecomment-974397005

Here is the PR that was done to fix it: https://github.com/Expensify/App/pull/6442

Haven't looked further into why now it is not working, but leaving the links here in case they are of use to

[2022-11-30 02:32] hungvu193 commented on #13006
@Christinadobrzyn  That's fine I think, but should we post this in slack for discussion as well, just to make sure everyone agree with it.

[2022-11-30 02:40] sobitneupane commented on #12961
@tjferriss Applied.

[2022-11-30 02:54] sobitneupane commented on #13066
Going to review proposals today NPT.

-> https://github.com/Expensify/App/issues/13066#issuecomment-1328304614
-> https://github.com/Expensify/App/issues/13066#issuecomment-1328318201
-> https://github.com/Expensify/App/issues/13066#issuecomment-1331165713

[2022-11-30 02:55] luacmartins commented on #13099
Checklist is clear. Starting the deploy!

[2022-11-30 02:55] luacmartins commented on #13099
:shipit:

[2022-11-30 02:55] #13099 closed

[2022-11-30 02:57] sobitneupane commented on #12957
Looks like we already have 5 proposals in hand. Will review each of them today NPT.

https://github.com/Expensify/App/issues/12957#issuecomment-1325453028
https://github.com/Expensify/App/issues/12957#issuecomment-1325884603
https://github.com/Expensify/App/issues/12957#issuecomment-1329756441
https://github.com/Expensify/App/issues/12957#issuecomment-1330084343
https://github.com/Expensify/App/is

[2022-11-30 03:00] mananjadhav commented on #11336
Okay. Thanks for the update.

[2022-11-30 03:03] OSBotify opened #13180 "Deploy Checklist: New Expensify 2022-11-30"
**Release Version:** `1.2.34-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/12780
- [x] https://github.com/Expensify/App/pull/12796
- [x] https://github.com/Expensify/App/pull/12937
- [x] https://github.com/Expensify/App/pull/12964
- [x] https://gi

[2022-11-30 03:17] mananjadhav commented on #12706
Thanks for the proposals here. I liked @daraksha-dk's second [proposal](https://github.com/Expensify/App/issues/12706#issuecomment-1314061634) of removing the current user email from the `report.participants` when initializing `personalDetailsMap` .

@tylerkaraszewski All yours

🎀 👀 🎀 
C+ reviewed

[2022-11-30 03:19] mananjadhav commented on #13160
I reported this bug and it still needs to be triaged.

@Pujan92 I don't think we should be removing the hover background. This is added for all the icons I suppose.

Tagging @Expensify/design  as well.

[2022-11-30 03:24] mananjadhav commented on #13151
In this are we covering all the illustrations? One is the `Reimbursement Loading Animation`, and second is the `Request a callback`?

[2022-11-30 03:31] NikkiWines commented on #13110
Oops, yep definitely missed this when updating the avatar.

Some potentially helpful context: concierge@expensify.com will have the old (2021) avatar in the `personalDetails` because we want to maintain the old avatar for www.expensify.com. There are a lot more places to update the avatar on that site, it was simplest to maintain the old avatar in the personalDetails and overwrite it only for new.

[2022-11-30 03:35] JmillsExpensify commented on #13105
Ah yeah, I think we should get through all the imaging and visual brand updates first. I agree with you. Let's close it out. We can circle back on this kind of polish.

[2022-11-30 03:36] JmillsExpensify commented on #13166
Thank you! 🙌🏼 Also @Luke9389 apologies if you were taking this one instead. That part is up to ya'll!

[2022-11-30 03:40] JmillsExpensify commented on #13110
Super helpful. Curious for your take: Should we keep this external given the theories above, or should we include this as part of PR polish and take internal?

[2022-11-30 03:50] dhairyasenjaliya commented on #12058
Alright, got it, thank you @JmillsExpensify @roryabraham I think we are good to close then since this issue is about TAB navigation

[2022-11-30 03:52] Christinadobrzyn commented on #11283
Okay hiring in Upwork:

- @hungvu193 $2000 hired for the fix
- @parasharrajat $2000 hired as C+
- @Puneet-here $250 hired as reporter
- @getusha hire for $1000 - Can you please send me your upwork profile? I can't find it

Let me know if I'm missing something

[2022-11-30 03:54] Christinadobrzyn commented on #10893
Sorry, I'm losing track of this one - can you please let me know if we've concluded who to hire for this yet or are we still reviewing proposals? @Santhosh-Sellavel @NikkiWines

[2022-11-30 03:58] getusha commented on #11283
Applied! @Christinadobrzyn

[2022-11-30 04:00] kadiealexander commented on #11321
@hannojg after internal discussion, you're eligible for the $500 bonus for this issue if you wish. You'll just need to create an Upwork profile to process the payment. Please let me know how you wish to proceed!

[2022-11-30 04:11] OSBotify commented on #13180
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.34-0 :rocket:

[2022-11-30 04:19] Christinadobrzyn commented on #12206
Talked the bonus over with @aldo-expensify

So the bonus applies! @Santhosh-Sellavel I added a bonus to the closed Upwork job - https://www.upwork.com/nx/wm/workroom/31968604/overview - I assume you'll get the money even with the job closed but will you please reach out if you don't see the money in the coming days (not sure how long Upwork takes to pay)

[2022-11-30 04:34] hellohublot commented on #12045
Hello, thank you very much for all your suggestions, I have submitted my original solution and tests, https://github.com/Expensify/App/pull/13124 Thanks !

[2022-11-30 04:55] ctkochan22 commented on #12670
@kbecciv Can you please answer the follwoing and post in the new issue: https://github.com/Expensify/App/issues/13166#issuecomment-1331603051

1. Can you reproduce on other accounts? Or is it specific to this one?
2. What is the username and password of this account?

[2022-11-30 04:55] ctkochan22 commented on #13166
@JmillsExpensify Having a small family emergency that I mentioned earlier this week, so I'm not sure if I can get to this this week

[2022-11-30 04:56] mvtglobally commented on #10731
Issue not reproducible during KI retests. (Second week)

[2022-11-30 04:57] mvtglobally commented on #11245
Issue not reproducible during KI retests. (Second week)

[2022-11-30 04:58] mvtglobally commented on #11262
Issue not reproducible during KI retests. (Third week) Are we ok to close now?

[2022-11-30 05:00] mvtglobally commented on #11814
Issue not reproducible during KI retests. (Third week). This is not very consistently repro

[2022-11-30 05:00] mvtglobally commented on #12210
Issue not reproducible during KI retests. (Second week)

[2022-11-30 05:02] mvtglobally commented on #12438
Issue not reproducible during KI retests. (First week)

[2022-11-30 05:03] mvtglobally commented on #12645
Issue not reproducible during KI retests. (Second week)

[2022-11-30 05:03] mvtglobally commented on #12674
Issue not reproducible during KI retests. (First week)

[2022-11-30 05:03] kevinksullivan commented on #10414
Just to clarify @sketchydroide you will get this reviewed today (your time?)

[2022-11-30 05:03] mvtglobally commented on #12770
Issue not reproducible during KI retests. (Second week)

[2022-11-30 05:04] mvtglobally commented on #12792
Issue not reproducible during KI retests. (First week)

[2022-11-30 05:06] #13048 closed

[2022-11-30 05:06] mvtglobally commented on #12942
Issue not reproducible during KI retests. (First week)

[2022-11-30 05:06] ctkochan22 commented on #11953
Ah okay, let me take a look. I'm a bit all over the place htis week bc of covid, but I'll get to this as soon as i can. Otherwise you can drop in engineering chat to recuirt someone else in the meantime

[2022-11-30 05:06] mvtglobally commented on #13000
Issue not reproducible during KI retests. (First week)

[2022-11-30 05:07] mvtglobally commented on #9973
Issue not reproducible during KI retests. (First week)

[2022-11-30 05:07] mvtglobally commented on #11695
Issue not reproducible during KI retests. (First week)

[2022-11-30 05:08] mvtglobally commented on #11903
Issue not reproducible during KI retests. (First week)

[2022-11-30 05:09] mvtglobally commented on #12045
Issue not reproducible during KI retests. (First week)

[2022-11-30 05:14] ctkochan22 commented on #11153
I am OOO this week with a family issue. Please reassign or else I'll get to this next week

[2022-11-30 05:27] sophiepintoraetz commented on #12210
@kzhein - thanks for your patience! I created a separate job I hired you for with the bonus of $125 - [see here](https://www.upwork.com/jobs/~01125cbcff03070522)!

[2022-11-30 05:31] sophiepintoraetz commented on #11590
@chiragsalian - did you have an idea on when you'll be able to get the PR out?

[2022-11-30 05:33] kadiealexander commented on #12895
@francoisl since the PR above has merged, should I have the customer try again?

[2022-11-30 05:39] kadiealexander commented on #13133
From this SO: https://stackoverflow.com/c/expensify/questions/14418
- [ ] **The "bug" is actually a bug**: Yes!
- [ ] **The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead)**: No
- [ ] **The bug is reproducible, following the reproduction steps:** Yes
![6D41C19D-8DFE-4E5F-AC51-AFEBEAD7F1AA](https://user-images.githubusercontent.com

[2022-11-30 05:55] Pujan92 commented on #13160
Ok, In that case I think the below properties work well.

[code]

<img width="1040" alt="Screenshot 2022-11-30 at 11 24 15 AM" src="https://user-images.githubusercontent.com/14358475/204718636-e6c71aed-aa40-4f8d-b72a-0d077a09948d.png">

[2022-11-30 05:55] Christinadobrzyn commented on #13105
Sounds like a plan. I'll close the [Upwork job](https://www.upwork.com/jobs/~01eb0a8e777b226bf9) and close down this GH. We can revisit this later.

@JmillsExpensify or @shawnborton do you happen to know if we have any tracking GHs related to this that I should add this to so it's reconsidered in the future?

[2022-11-30 05:58] Christinadobrzyn commented on #11283
Perfect! Hired you @getusha - I'll send a payment to you once this job is closed. Thanks for all your help!

[2022-11-30 06:06] parasharrajat commented on #11283
Agreed with @Luke9389.

[2022-11-30 06:17] thesahindia commented on #13133
@Julesssss, any thoughts on this? We can't interfere with the value right now. We need to wait and see if someone can refactor the `Form` component to do so.

[2022-11-30 06:18] sophiepintoraetz commented on #12022
Not a priority.

[2022-11-30 06:23] pecanoro commented on #13163
@Luke9389 it is a deploy blocker, it doesn't have to be broken on staging to hold the deploy. If deploying normally is going to break the flow on staging, we need to hold until a fix is merged. Why would you wait until the code is deployed to actually add the label? Either way, now that Carlos fixed it, it is ok to leave the deploy blocker label off.

@luacmartins Thanks for the quick fix!

[2022-11-30 06:26] hungvu193 commented on #12651
@cead22 https://github.com/Expensify/App/pull/13183 is ready!

[2022-11-30 06:58] sophiepintoraetz commented on #12210
All paid!

[2022-11-30 06:58] #12210 closed

[2022-11-30 07:03] mdneyazahmad commented on #13147
## Proposal

Already posted in slack https://expensify.slack.com/archives/C049HHMV9SM/p1669739748264159?thread_ts=1669715152.574639&cid=C049HHMV9SM

We can use the same pattern used in drawer sidebar to add border https://github.com/Expensify/App/blob/b35dba944cff88d5a2d7221dfa626f42d505d1c1/src/styles/StyleUtils.js#L75-L86.

https://github.com/Expensify/App/blob/5f89a98d80a3a25ec786198a97f347dde8

[2022-11-30 07:07] marktoman commented on #9250
@aimane-chnaif Please see the Examples part of my proposal, which are the cases that need to be handled. My solution was the only one satisfying them.

[2022-11-30 07:11] mdneyazahmad commented on #12961
@tjferriss I see there are two jobs created for this issue https://github.com/Expensify/App/issues/12961#issue-1462127880. Which one should I apply as a reporter? Thanks!

[2022-11-30 07:17] mdneyazahmad commented on #13161
@markarmanus that is a duplicate proposal of mine posted in issue thread https://expensify.slack.com/archives/C049HHMV9SM/p1669728872475079?thread_ts=1669728664.026649&cid=C049HHMV9SM. I did not tested there on all platform, but I have noted to change the line height to best fix the issue.

[2022-11-30 07:46] Puneet-here commented on #13151
PasswordConfirmationScreen will be changed too
https://github.com/Expensify/App/blob/11072a6f5cc8bcaaa6e9cad5184ce6adae0df331/src/pages/settings/PasswordConfirmationScreen.js#L18-L19

[2022-11-30 07:50] sobitneupane commented on #12210
@sophiepintoraetz I am not paid yet. I have accepted the offer.

[2022-11-30 08:01] Puneet-here commented on #13151
### Proposal
https://github.com/Expensify/App/blob/b35dba944cff88d5a2d7221dfa626f42d505d1c1/src/pages/RequestCallConfirmationScreen.js#L18-L26
Change the above code with suggested code below -
[code]
https://github.com/Expensify/App/blob/11072a6f5cc8bcaaa6e9cad5184ce6adae0df331/src/pages/settings/PasswordConfirmationScreen.js#L18-L26
same here

[code]
I think we can create a confirmationPage and w

[2022-11-30 08:05] ahmdshrif commented on #9250
@aimane-chnaif  the current implementation is recursive so I go with the same to not break anything
and I think recursive is the best way to implement DFS which is similar to our problem.

https://github.com/Expensify/App/blob/965c16c2bf4bdb878d8148302e435b0aabe9a13b/src/libs/SelectionScraper/index.js#L117

[2022-11-30 08:08] dylanexpensify commented on #12045
@hellohublot @thesahindia @Puneet-here please apply to the Upwork job when you can! https://www.upwork.com/jobs/~0163a0872c1900089b

[2022-11-30 08:12] Beamanator commented on #10792
PR was merged, but caused a regression (https://github.com/Expensify/App/issues/13002) so it was reverted (https://github.com/Expensify/App/pull/13010). @thomas-coldwell mentioned he'll work on the new PR soon 👍

[2022-11-30 08:13] ahmdshrif commented on #9250
it's recursive.
recursive is a function call itself :D
and here we call `replaceNodes(c)`
anyway let's check the regression but can you explain more about what is the problem with `>` or (```)

[2022-11-30 08:15] dylanexpensify commented on #11336
Working on this now to discuss Regression testing steps

[2022-11-30 08:19] parasharrajat commented on #12058
No payment is due here.

[2022-11-30 08:29] railway17 commented on #13133
### Proposal

1. Reproducible
This issue is easy to reproduce and I don't think I have to attach video or screenshot again. 😄
2. Why reproduced?
As @Puneet-here mentioned, appending slash module was removed while implementing with new `Form` logic.
And need to update the our `Form` as @thesahindia mentioned.
3. How to resolve?
- Add new props `shouldAppendSlash` props to the `TextInput` in `AddDeb

[2022-11-30 08:32] dylanexpensify commented on #11336
Posted in internal channel on how to align on regression steps (cc @JmillsExpensify).

@aimane-chnaif when can we expect an updated PR?

[2022-11-30 08:34] dylanexpensify commented on #11893
@tienifr you've been paid out!

[2022-11-30 08:35] dylanexpensify commented on #12483
bump @aneequeahmad

[2022-11-30 08:49] Puneet-here commented on #13151
@shawnborton at [AddPersonalBankAccountPage](https://github.com/Expensify/App/blob/main/src/pages/AddPersonalBankAccountPage.js)
[TransferBalancePage](https://github.com/Expensify/App/blob/main/src/pages/settings/Payments/TransferBalancePage.js) we are using `TadaBlue` should we also change the illustration for them?
<img width="452" alt="Screenshot 2022-11-30 at 2 17 12 PM" src="https://user-imag

[2022-11-30 08:55] varshamb commented on #13133
### Proposal

We can use `keyboardType='numeric'` specific for Android.

https://github.com/Expensify/App/blob/3e47bce7f7d98812735ba9b00de282a4fa9345ed/src/pages/settings/Payments/AddDebitCardPage.js#L141

[2022-11-30 08:59] Beamanator commented on #13065
Yeppp ^

Oh following [this SO](https://stackoverflow.com/c/expensify/questions/363/364#364) I think I need to cc @Expensify/applauseleads & assign `applausebot`

[2022-11-30 09:03] Gonals commented on #12283
That sounds good to me too, but let's not wait a week. If we don't hear back in a couple of days, let's go ahead and create a fork

[2022-11-30 09:13] aneequeahmad commented on #12483
@dylanexpensify applied for the job. Thank you for mentioning again

[2022-11-30 09:14] srikarparsi commented on #13003
thanks @sobitneupane, looks good to me as well. assigning you to the issue @Puneet-here

[2022-11-30 09:19] aneequeahmad commented on #11903
I'll be raising the PR today.

cc: @JmillsExpensify, @aimane-chnaif, @tjferriss

[2022-11-30 09:22] mountiny commented on #12943
This is open for proposals, the fix I have tried above did not work. I am 90% sure this is not related to our backend CSP set up and this needs to be fixed in App but I dont know well enough what to do here except the fix I already tried and it did not work

[2022-11-30 09:27] CosminnB commented on #12698
@aimane-chnaif
My bad, I missed writing some implementation steps. I updated the proposal description to match your requirements. Let me know if I'm missing anything.

[2022-11-30 09:32] Gonals commented on #10525
Yep, although there's still a [Web cleanup issue left](https://github.com/Expensify/Expensify/issues/243532). I'll create the PR today and I'll have it ready to merge as soon as App is deployed

[2022-11-30 09:32] flodnv commented on #11463
Still waiting on that PR, posted in Slack about it... https://expensify.slack.com/archives/C01GTK53T8Q/p1669800759208819?thread_ts=1669673848.122059&cid=C01GTK53T8Q

[2022-11-30 09:35] JalalMitali commented on #12706
my [proposal](https://github.com/Expensify/App/issues/12706#issuecomment-1331385114) requires minimal changes without modifying anything else in the logic it's just one condition that already exists in `ReportUtils` ( which is `isAnnounceRoom` ) but if we need to remove the user email and we will never need it later then I don't know 🤷‍♂️

[2022-11-30 09:43] dylanexpensify commented on #12045
@mvtglobally it looks like we can still reproduce the bug

[2022-11-30 09:45] thesahindia commented on #12045
@dylanexpensify, these are the new steps. Let's add update.

1. Create a workspace if you don't have any
2. Go to members page and remove the other admin ( Expensify setup specialist )
3. Search the announce room and send a message
4. Pin the room and delete the workspace
5. Wait for a few seconds (Reload if the chat is still visible)
6. Verify you are seeing a blank page

[2022-11-30 09:49] kidroca commented on #12235
### With bundle splitting
- one `main.js` file of 1.78 MB
- one big `vendors.js` file of 11.28 MB

Initial load times didn't change. It still takes about 60 sec. to load App on a "slow 3g", but partial caching is now possible - meaning every time we're only making changes to App code, users would have to download only the smaller `main.js` file
`vendors.js` would change when we make package.json d

[2022-11-30 09:54] thesahindia commented on #13133
@railway17, I don't think that's a good solution. We want to keep the logic at AddDebitCardPage.js.

[2022-11-30 09:56] thesahindia commented on #13133
@varshamb, how is that going to solve this issue?

[2022-11-30 09:58] bernhardoj commented on #13133
### **Proposal**

We can receive a new `prop` for the Form children, let say it is called `transformer`, which will receive a function with 2 parameter that will transform the input every input change, in our case appending a `/`.

[code]
The `addOrRemoveSlashToExpiryDate` taken from old code with few changes.

[code]

And we will use that function on Form children `onInputChange` props

[code]

*

[2022-11-30 10:02] garrettmknight commented on #13140
Updated to v1.2.33-7, 'invalid date' persists:
<img width="276" alt="Screenshot 2022-11-30 at 10 01 29 AM" src="https://user-images.githubusercontent.com/1529980/204766714-d8d547af-0e17-46a3-ade4-841b745dd016.png">

[2022-11-30 10:04] hannojg commented on #13159
Oh yeah, that's very likely - good catch!

[2022-11-30 10:11] Beamanator commented on #11063
Wait wait taking this off hold b/c https://github.com/Expensify/App/pull/12549 is the PR to fix this issue :D (or am I missing something @JmillsExpensify )?

[2022-11-30 10:15] dylanexpensify commented on #12483
offer sent!

[2022-11-30 10:21] mountiny commented on #12283
Forking is quite annoying to maintain, this maintainer has helped us before, I will ping them

[2022-11-30 10:22] dylanexpensify commented on #12314
Regression test update GH [here](https://github.com/Expensify/Expensify/issues/245551)

[2022-11-30 10:22] #12314 closed

[2022-11-30 10:23] aneequeahmad commented on #12483
@dylanexpensify accepted. Thanks

[2022-11-30 10:27] cristipaval commented on #12952
This is held on [New timezone pages](https://github.com/Expensify/App/pull/12201) PR

[2022-11-30 10:30] sketchydroide commented on #12253
@shawnborton shall I start writing the mini doc for this?
I think I mostly need to understand what parts of the app will be changed, not exaclty the how the design is going to look, so if I can just go from the images you shared on the GH I think I have something to start working on.
Also we should probably move this to a least weekly so we can keep updating it.

Does this sound good? (I'm updatin

[2022-11-30 10:41] flaviadefaria commented on #13137
Closing this as it's not a bug.

[2022-11-30 10:41] #13137 closed

[2022-11-30 10:42] flaviadefaria commented on #12018
Bump @eVoloshchak @Julesssss!

[2022-11-30 10:44] mountiny commented on #12850
It also might be something weird in database for this specific chat/ account so if we would be able to find some more specific reproduction steps for general high traffic account or normal account that would be great!

[2022-11-30 10:47] mountiny commented on #10654
@Santhosh-Sellavel Asked internally

[2022-11-30 10:48] ahmdshrif commented on #9250
@aimane-chnaif ok it's look this block of code do this tages so we should's skip it by early return
https://github.com/Expensify/App/blob/965c16c2bf4bdb878d8148302e435b0aabe9a13b/src/libs/SelectionScraper/index.js#L100-L109

instead, we can add this code  to else
[code]

this fixes the regression

[2022-11-30 10:52] mountiny commented on #12119
This has hit production one week ago so we can pay @Santhosh-Sellavel for reviewing internal PR, this was  bit more involved. What do you suggest is a fair compensation?

cc @alexpensify

[2022-11-30 10:53] flaviadefaria commented on #12889
@thesahindia can you please apply for the job so that I can pay you?
Here's the link to the post -https://www.upwork.com/jobs/~01a04fbcc8b754d462
Please let me know once you've applied!

[2022-11-30 11:02] trjExpensify commented on #11393
👋 Are we still held here as the image caching PR was reverted?

[2022-11-30 11:09] laurenreidexpensify commented on #10654
Hey @Santhosh-Sellavel - payment of $750 was issued in Upwork  6 days ago, which was $500 for the job and the $250 bonus. Please recheck your account and let me know if this did not reflect on Upwork. Thanks

[2022-11-30 11:09] #10654 closed

[2022-11-30 11:14] dylanexpensify commented on #13140
working on reproducing now

[2022-11-30 11:15] dylanexpensify commented on #13140
@garrettmknight is this only with your chat with Gabi?

[2022-11-30 11:18] laurenreidexpensify commented on #12026
Offers sent to @Puneet-here @s77rt @rushatgabhane in Upwork

[2022-11-30 11:29] s77rt commented on #12026
@laurenreidexpensify Can you update the offer and add 50% bonus, there is a high chance the PR get merged within 3 days.
[PR](https://github.com/Expensify/App/pull/13186) is ready

[2022-11-30 11:37] nkuoch commented on #11777
No update

[2022-11-30 11:41] sketchydroide commented on #10414
I will try to organise myself with @parasharrajat to review the proposal, my main priority for the day

[2022-11-30 11:48] thesahindia commented on #11576
Bump @mateocole for upwork

[2022-11-30 11:51] thesahindia commented on #13000
Bump @sophiepintoraetz

[2022-11-30 11:52] twisterdotcom commented on #13131
I recreated this today in my account ted@expensify.com:

<img width="1234" alt="image" src="https://user-images.githubusercontent.com/9133401/204789200-a9d5d756-145e-4493-acde-a5910a089bb3.png">

<img width="385" alt="image" src="https://user-images.githubusercontent.com/9133401/204789227-d9e7e330-634c-4ae9-b900-ba6020767f98.png">

<img width="357" alt="image" src="https://user-images.githubuserco

[2022-11-30 11:53] laurenreidexpensify commented on #12198
@Santhosh-Sellavel @mollfpr both hired in Upwork ✔️

[2022-11-30 11:54] zanyrenney commented on #12058
Taken to slack for discussion: https://expensify.slack.com/archives/C01GTK53T8Q/p1669809248604369

[2022-11-30 12:00] thesahindia commented on #12889
@flaviadefaria, the job is private.
<img width="840" alt="Screenshot 2022-11-30 at 5 29 06 PM" src="https://user-images.githubusercontent.com/83179295/204790776-fba071c0-86f5-4fe9-a471-848402fd411d.png">

[2022-11-30 12:01] flodnv commented on #11083
It honestly looks to me like this and https://github.com/Expensify/App/issues/11515 are near duplicates of eachother. Let's revisit both of them once sequence numbers and react navigation are both done.

@Luke9389 issues on HOLD should not be Daily 😄

[2022-11-30 12:16] trjExpensify commented on #12276
👋 Let's not wait for KI tests before making a call here. For example, if this was an issue not reported by Applause, it wouldn’t get re-tested anyway - so it’s a partial strategy/solution for only a subset of issues in the App repo. Given that you both can’t reproduce it anymore, let's move forward with closing it.

Mitch as the assigned BZ can re-test for good measure if a third opinion is needed

[2022-11-30 12:21] Beamanator commented on #13131
Huh well it looks like i've only got my phone number secondary login stored in Onyx, which makes sense that's why it's the only thing showing on that page :'(

<img width="466" alt="Screen Shot 2022-11-30 at 2 20 55 PM" src="https://user-images.githubusercontent.com/3885503/204794947-1f76c6e9-1456-470e-8a10-b9247fe01649.png">

[2022-11-30 12:21] flodnv commented on #12724
@lschurr you can issue the payments

[2022-11-30 12:22] mananjadhav commented on #12276
Ohh is that so! I can confirm it isn't reproducible anymore.

[2022-11-30 12:23] kbecciv commented on #13025
@luacmartins QA team is experienced an error in console after login in HT account with build 1.2.34.0

Do we need to open a new ticket?

![image (5)](https://user-images.githubusercontent.com/93399543/204795290-f46fc7e5-3eed-4448-8e7a-228f84373c3f.png)

[2022-11-30 12:23] isabelastisser commented on #11354
Update:

- The original bug was fixed.
- We've decided to deprioritize the issue caused by fixing the original bug. Context[ here](https://expensify.slack.com/archives/C01GTK53T8Q/p1669058634323699?thread_ts=1669054027.301429&cid=C01GTK53T8Q).
- I've paid @eVoloshchak and @dhairyasenjaliya in Upwork now.
- The contract has been completed, and the Upwork post has been closed.
- No more actions are

[2022-11-30 12:23] #11354 closed

[2022-11-30 12:37] techievivek commented on #12943
I can look into it. I do believe this has to be fixed inside the App and nothing in the backend.

[2022-11-30 12:39] CortneyOfstad commented on #12693
Payments have been sent! Thanks!

[2022-11-30 12:47] parasharrajat commented on #10414
I have fixed the Mac. So it will be reviewed today. Currently reviewing a PR and I will take it up next.

[2022-11-30 12:47] isabelastisser commented on #11494
@aldo-expensify , there are no proposals and it looks like you're going to fix this, so can I remove the _External_ label and add the _Internal_ label instead?

[2022-11-30 12:47] Puneet-here commented on #12693
@CortneyOfstad, this is eligible for 50% bonus.

[2022-11-30 12:48] parasharrajat commented on #10414
@s77rt Can you please share the video of the issue that it is solving?

[2022-11-30 12:51] techievivek commented on #8589
Going to close this one because we are no longer logged out automatically when the site goes down. If we need any other specific case to be handled feel free to open a new issue but for the scope of the issue it is already solved by offline support.

[2022-11-30 12:51] #8589 closed

[2022-11-30 12:51] nkuoch commented on #13023
Still can't reproduce it ... Can you @kbecciv ?
I sent the message from mac chrome, and received it successfully on mobile web safari after switching airplane mode and clicking on the chat.

[2022-11-30 12:52] Beamanator commented on #13131
Query here: https://github.com/Expensify/Expensify/issues/245563#issuecomment-1332096245

[2022-11-30 12:54] eVoloshchak commented on #12018
Reviewing

[2022-11-30 12:55] s77rt commented on #10414
@parasharrajat
https://github.com/Expensify/App/issues/10414#issuecomment-1314058212
New Chat, New Room, New Group, and basically any other pages that are initialled from the modal (after clicking the green + circle)

[2022-11-30 12:55] Beamanator commented on #13131
So looks like the database has the correct dataaaaaa... (see [slack](https://expensify.slack.com/archives/C03TQ48KC/p1669812819294219?thread_ts=1669812705.492589&cid=C03TQ48KC))

[2022-11-30 13:05] laurenreidexpensify commented on #13003
@Puneet-here @sobitneupane offers sent in Upwork ✔️

[2022-11-30 13:12] Pujan92 commented on #13146
**Proposal**

I am seeing other places also similar behavior(eg. mini context menu) and not showing copied text for messages, We can remove the event listener `mousedown` from `Hoverable` component.

https://github.com/Expensify/App/blob/b35dba944cff88d5a2d7221dfa626f42d505d1c1/src/components/Hoverable/index.js#L24

[2022-11-30 13:15] CortneyOfstad commented on #12693
@Puneet-here Who is it eligible for? Sorry, this is my first time doing a payment.

[2022-11-30 13:15] iwiznia commented on #12938
https://github.com/Expensify/App/issues/12938#issuecomment-1327421486

[2022-11-30 13:16] maddylewis commented on #11132
@srikarparsi - could you confirm the details in @tjferriss' comment - https://github.com/Expensify/App/issues/11132#issuecomment-1325483442?

thanks!

[2022-11-30 13:20] Puneet-here commented on #12693
For reviewer and contributor who fixed this issue.
It is written in this [section](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#payment-for-contributions)
<img width="858" alt="Screenshot 2022-11-30 at 6 49 58 PM" src="https://user-images.githubusercontent.com/101883770/204806771-497ad0f7-9825-472c-9a1b-93c34fbfa3ef.png">

[2022-11-30 13:22] LLPeckham commented on #12255
I believe we're still waiting for the green light to release these?

[2022-11-30 13:22] Beamanator commented on #13131
Ok I figured out the problem - it's a backend issue

[2022-11-30 13:29] iwiznia commented on #10731
They said:

So if I get this right, this means:
- react-native has support for it, but not in a released version. I assume we can add those fixes to our fork?
- react-native-web does not have support for it yet, but they plan to add it for version 0.19. We would need to wait till this is properly implemented there, but we don't care much about that, since this issue is only for ios/android and not

[2022-11-30 13:32] sketchydroide commented on #10414
Not sure what you mean by this @parasharrajat there is a video on the comment, do you need something else/more?

@s77rt also not sure how this answers @parasharrajat, are you asking which pages do you need to do a video from?

[2022-11-30 13:35] Pujan92 commented on #13146
**Proposal**

As `resetsOnClickOutside` added to solve [this](https://github.com/Expensify/App/issues/12025#issuecomment-1305714746) issue, we can pass value `false` for our use case(for copy actions)

https://github.com/Expensify/App/blob/1527fdcf443713bb058e6e76504006d74f6b1aa8/src/components/Tooltip/index.js#L192

[code]

https://github.com/Expensify/App/blob/1527fdcf443713bb058e6e76504006d74f6

[2022-11-30 13:36] sketchydroide commented on #10414
I've also checked the diff proposed by @s77rt and it looks good as far as I can tell. I think once we test it and have proof that this is working we can assign it and start the PR

[2022-11-30 13:39] s77rt commented on #10414
@sketchydroide I think he asked why i made changes to the modal
@parasharrajat I have summarised the 3 rules to follow and for each situation I listed which rules are not being followed and proposed a fix for each rule

[2022-11-30 13:40] parasharrajat commented on #10414
Yeah, let me run it first. I am assuming rule 3 is for web not mWeb.

[2022-11-30 13:43] s77rt commented on #10414
@parasharrajat

No; the rules are for both web and mWeb, there is no diff between the two. It just happens that Safari behaves differently on Web (since there is no virtual keyboard, it follows a bit different principles I think)

[2022-11-30 13:43] Beamanator commented on #13131
Ugg this is going to require 3 PRs
1. App PR accepting new loginList format returned from the backend
2. Backend PR updating the loginList format
3. App PR cleaning up the old loginList format handling

[2022-11-30 13:48] CortneyOfstad commented on #12693
Sorry about that! @Puneet-here @thesahindia — I extended another contract for the bonus amount. I'll keep an eye on my email to see when you accept and I'll get that paid ASAP 👍

[2022-11-30 13:53] Puneet-here commented on #12693
Accepted the offer, thanks!

[2022-11-30 13:55] Puneet-here commented on #11347
@nkuoch, I think it's eligible for reporting bonus.

[2022-11-30 13:55] flaviadefaria commented on #12889
Weird can you try again now?

[2022-11-30 13:59] parasharrajat commented on #13139
I do not get the reason for closing this. Because it is present on PROD, we are not fixing it.

[2022-11-30 13:59] isabelastisser commented on #11795
Unassigning myself per Jason's comment [here](https://github.com/Expensify/App/issues/11795#issuecomment-1314218107). @twisterdotcom, I haven't participated in the discussion, so take all the credit you can here! :)

[2022-11-30 13:59] nkuoch commented on #13166
Stealing it from you then @ctkochan22 :)

[2022-11-30 14:07] thesahindia commented on #12889
Not sure what's wrong. Can you send me the offer or invite ([Upwork profile](https://www.upwork.com/freelancers/~0107fb10c8087f6a5a))

https://user-images.githubusercontent.com/83179295/204816590-709e11f9-becb-4510-82e9-c0151bd5892e.mov

[2022-11-30 14:08] thesahindia commented on #12693
Accepted, thanks!

[2022-11-30 14:11] CortneyOfstad commented on #12693
Thank you!! Both have been paid for the bonus 👍

[2022-11-30 14:12] thesahindia commented on #12693
Let's close the issue.

[2022-11-30 14:18] mollfpr commented on #12198
Thank you! Will raise the PR in a couple of hours.

[2022-11-30 14:18] mountiny commented on #10654
Thanks @Santhosh-Sellavel and @laurenreidexpensify

I think in this case the offending PR is fine given it is RN update, that is very hard to catch every possible issue.

[2022-11-30 14:22] mountiny commented on #12943
Niiiice, thanks @techievivek!

Out of curiosity and so I can learn too, did you just search for some inline/script changes or how did you know what specific change/package to look for?

[2022-11-30 14:27] flaviadefaria commented on #12889
Hm I must have messed up somewhere, I'll invite you to the job thanks for sending your profile.

[2022-11-30 14:28] dhairyasenjaliya commented on #12920
Hello @flodnv upwork job for bug reporting missing

[2022-11-30 14:31] flaviadefaria commented on #12889
Ok @thesahindia you should have now received my offer!

[2022-11-30 14:34] mountiny commented on #12943
This @rushatgabhane https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP#:~:text=Content%20Security%20Policy%20(CSP)%20is,site%20defacement%2C%20to%20malware%20distribution.

[2022-11-30 14:37] thesahindia commented on #12889
Accepted, thanks!

[2022-11-30 14:37] nkuoch commented on #12708
As there is no final proposal yet, I'll fix it myself.

[2022-11-30 14:41] abekkala commented on #11895
@MariaHCD I see that this went into production last night.
Can this be closed now?
Is it correct that there are only two payments needed: $250 reporting bonus to Adeel and then $250 to Santosh for reviewing PR?

[2022-11-30 14:47] flaviadefaria commented on #12889
Alright you should now have been paid. Thanks for your patience @thesahindia!

[2022-11-30 14:48] cristipaval commented on #9703
Hey @roryabraham, @Beamanator! Looks like the issue is not reproducible anymore. Looking at the [Avatar.js](https://github.com/Expensify/App/blob/main/src/components/Avatar.js) source code, the fallback avatar is already implemented and points to the desired svg. Please also see below some tests with Storybook (by the way thanks Rory for suggesting me to use this tool, I love it!)
Am I missing any

[2022-11-30 14:53] thesahindia commented on #12889
Let's close this.

[2022-11-30 14:55] flodnv commented on #12920
Thanks for the bump, can you handle this @davidcardoza please?

[2022-11-30 14:56] techievivek commented on #12943
@mountiny I looked in the console where it was throwing the error when looking at the code I saw a bunch of inline JS code and I realized that is the reason it is showing the error so to trace it back I looked in `index.html` for web and went through the recent commits to the file to see if we added any inline script and found the above PR.

[2022-11-30 14:56] flaviadefaria commented on #12889
Closing it - thanks for your help!

[2022-11-30 14:56] #12889 closed

[2022-11-30 14:57] cristipaval commented on #9703
One more thing:
Yes, the fallback icon is an SVG bundled in the App, is not an cloud front url.
See [this](https://github.com/Expensify/App/blob/1527fdcf443713bb058e6e76504006d74f6b1aa8/src/components/Avatar.js#L41) piece of code in the Avatar.js and [this one ](https://github.com/Expensify/App/blob/1527fdcf443713bb058e6e76504006d74f6b1aa8/src/components/Icon/Expensicons.js#L96)in the Expesicons.j

[2022-11-30 15:02] mountiny commented on #12943
Oh nice, I saw that line as well but just assumed that is what is added when the app is built as it was quite giberrish. Nice find 🙇

[2022-11-30 15:03] JmillsExpensify commented on #10525
Oh interesting. First time that's coming across my radar, thanks. Are we going to have Contributor+ review on that PR as well? If so, I'll assign myself.

[2022-11-30 15:03] Gonals commented on #10525
I don't think so. That one is on the web side :)

[2022-11-30 15:07] JmillsExpensify commented on #13023
@bfitzexpensify Mind jumping in and help confirming whether you get reproduce? If not, let's close the issue.

[2022-11-30 15:08] yuwenmemon commented on #13110
I think @hungvu193's proposal would be _fine_ based on what @NikkiWines is saying.

However, I'm also noticing that since we grab Personal Details on App Init, we do indeed have "App-only" logic in PHP that's sending over the personal details and could probably replace the avatar there. @NikkiWines what do you think?

[2022-11-30 15:13] jasperhuangg commented on #13158
Woah this has to be a regression, taking a look

[2022-11-30 15:13] maddylewis commented on #13150
Managing a BUG issue

From  this  SO: https://stackoverflow.com/c/expensify/questions/14418

- [ ] Confirm the "bug" is actually a  bug
- [ ] Confirm the  bug is  not  a  duplicate  report of  an existing  GH (close  the  GH  and  add  any  relevant  details  to  the  original  GH ) 
- [ ] The  bug  is  reproducible

**If you’re unable  to  reproduce  the  bug:**
-  [ ] Add  the `Needs reproductio

[2022-11-30 15:14] #12693 closed

[2022-11-30 15:18] jasperhuangg commented on #13158
So it looks like this is actually by design 😅

[Here](https://github.com/Expensify/App/blob/1527fdcf443713bb058e6e76504006d74f6b1aa8/src/pages/workspace/WorkspacesListPage.js#L118-L119) we filter out listing any workspaces that the user isn't an admin for. In other words, users can only access workspace settings for the workspaces they're an admin for, which makes sense.

I guess it's kinda like p

[2022-11-30 15:18] #13158 closed

[2022-11-30 15:22] JmillsExpensify commented on #11094
And, the PR is merged!

[2022-11-30 15:23] JmillsExpensify commented on #12156
Nice! @sakluger you're currently assigned. Do you want to take this one, or should I assign myself to the issue?

[2022-11-30 15:24] JmillsExpensify commented on #12156
Let's get a PR up for this one. 50% bonus is merged within 3 days!

[2022-11-30 15:25] stephanieelliott commented on #13070
Oh no problem, yep I got this one! Just wanted to make sure I was following process 😊

[2022-11-30 15:32] tgolen commented on #10905
@jliexpensify the BugZero checklist is finished now so this issue is OK to close out now. I'll let you do the honors.

[2022-11-30 15:37] #12713 closed

[2022-11-30 15:38] stephanieelliott commented on #13070
Yeah also @kbecciv I am not able to reproduce this using the steps you provided -- I tried Chrome and Safari. Can you re-test and confirm this is still occurring for you, and if so update the repro steps?

<img width="410" alt="image" src="https://user-images.githubusercontent.com/31225194/204841345-403cd168-9e22-408f-bebd-7580afd5600d.png">

<img width="357" alt="image" src="https://user-images.g

[2022-11-30 15:38] sketchydroide commented on #12822
@laurenreidexpensify not sure if this is something you can do now, or we are waiting for something :)

[2022-11-30 15:40] sketchydroide commented on #9973
@eVoloshchak are you opening the PR today? :)

[2022-11-30 15:41] sketchydroide commented on #9580
there was a deploy blocker associated, but that seems to have been fixed now

[2022-11-30 15:42] Santhosh-Sellavel commented on #13114
This is a dupe of this https://github.com/Expensify/App/issues/8661

[2022-11-30 15:42] shawnborton commented on #13105
Sounds good, closing the issue now.

[2022-11-30 15:42] #13105 closed

[2022-11-30 15:42] tgolen commented on #13151
Can someone please help catch me up on what the current proposal is? I see [this last comment ](https://github.com/Expensify/App/issues/13151#issuecomment-1331821166) from @Puneet-here but it is an incomplete proposal and still leaves a lot of guess-work to be done regarding what is going to change.

[2022-11-30 15:45] shawnborton commented on #13147
I'm actually wondering if we should just hold off on this. If we use a better overlay color, the sidebar is way easier to to digest and I think this style actually looks better:

![image](https://user-images.githubusercontent.com/2319350/204843332-294a4b9e-4762-4fbf-9f7a-0810a6bddf64.png)

cc @grgia I will spin up an issue for overlay colors today.

[2022-11-30 15:48] shawnborton commented on #13151
I also wanted to clarify that we (Expensify design team) needs to create these assets internally first before we can assign out to be implemented.

[2022-11-30 15:48] shawnborton commented on #13151
But yeah, it would be helpful if we could get a concrete list of every place where we need to update one of these empty state images.

[2022-11-30 15:49] Santhosh-Sellavel commented on #7862
@JediWattson bump!

[2022-11-30 15:52] tgolen commented on #12745
I think that just like tablets are not considered a supported platform (for things like landscape/portrait rotation), I think the same goes for supporting Firefox. Let's just focus on our supported platforms now (which would be Chrome). Any support for other browsers should be considered a feature request and not a bug. I'm going to close this out.

[2022-11-30 15:52] #12745 closed

[2022-11-30 15:54] JediWattson commented on #7862
Understood!! Apologies I’ve been a bit busy but I’m always trying to make
some time to finish this up. Hopefully this evening I’ll get some changes
up!!!

On Wed, Nov 30, 2022 at 10:49 AM Santhoshkumar Sellavel <
***@***.***> wrote:

[2022-11-30 15:56] tgolen commented on #11701
This is looking really close. Only one minor issue was found in yesterday's reviews (and a few bugs were found which also happen in `main`, but I am not addressing those in the PR).

[2022-11-30 15:56] garrettmknight commented on #13140
There's another chat with her that has the 'Invalid Date' text on the same day, but no others.

[2022-11-30 15:57] shawnborton commented on #13147
Okay, I'm going to close this one out in favor of a different overlay PR that I think we'll handle internally.

[2022-11-30 15:57] #13147 closed

[2022-11-30 16:00] shawnborton commented on #12255
I think once we get a couple more brand ingredients into NewDot (fonts, input styles, etc) we can release this. We're also waiting to finish up the font agreement with Newlyn too. So let's keep holding but maybe next week we can launch these?

[2022-11-30 16:03] cristipaval commented on #9703
I had a 1:1 with @Beamanator. He helped me understand the context a bit more. So basically the default avatar is different than fallback avatar.
- The fallback avatar has been showing whenever there is an error while fetching the image from a specific source
- The default avatar is shown when there is no custom avatar uploaded for the account

We want to bundle the default avatars in the App inste

[2022-11-30 16:05] Santhosh-Sellavel commented on #10893
@Christinadobrzyn we almost concluded to hire @cowboycito. Since @cowboycito new contributor I'm waiting for a complete proposal. I think we can get it today, @cowboycito  can you send an updated proposal with design changes, and quickly review thanks!

cc: @NikkiWines

[2022-11-30 16:07] Puneet-here commented on #13160
@shawnborton, is this expected?
<img width="582" alt="Screenshot 2022-11-30 at 9 37 10 PM" src="https://user-images.githubusercontent.com/101883770/204848814-4174240f-8b17-4780-a9fa-efb395214c96.png">

[2022-11-30 16:09] shawnborton commented on #13160
Ah apologies, once [this one](https://github.com/Expensify/App/pull/12965) is merged then let's test again

[2022-11-30 16:15] s77rt commented on #13070
The problem is on the font. I guess mac doesn't have Segoe font and it fallback to Noto

[2022-11-30 16:15] Puneet-here commented on #13151
I have looked into it and we don't have any other place where we have the same issue.

[2022-11-30 16:26] iwiznia commented on #4082
@parasharrajat do you have any idea why tests are not failing in [this PR](https://github.com/Expensify/App/pull/13188/files#diff-22037c1e4dbdea8803b450b3fce06e6c475762a31ecf84b34dc264ba0e443637R1068) given there's a new key in english but no equivalent one in spanish?

[2022-11-30 16:27] Beamanator commented on #10960
Adding Bug to get a bug-zero assigned to help pay out @thesahindia who tested the PR!

[2022-11-30 16:32] iwiznia commented on #4082
WHAT?! https://github.com/Expensify/App/actions/runs/3584994401/jobs/6032394720#step:6:4353
Tests failed, but build passed??! Taking it to slack

[2022-11-30 16:34] stitesExpensify commented on #13070
@s77rt feel free to fix this, your proposal looks good to me

[2022-11-30 16:39] stephanieelliott commented on #13070
Cool! Wow we're really making moves here, thanks @stitesExpensify 😁

[2022-11-30 16:44] bondydaa commented on #12714
threw a hold on here and dropped it to weekly but honestly this should just be closed - the PR is completely changing how this functions and doesn't wait for a response since it's made optimistically so the UI should have nothing to wait on and therefore no opportunity for the same request to be made multiple times.

Even if something like this is still present we will not implement a debounce to

[2022-11-30 16:45] kbecciv opened #13192 "Workspace - Delete workspace error icon & message do not appear for failed scenario"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Log into an account that has the necessary pre conditions applausetester@applause.expensif

[2022-11-30 16:46] OSBotify commented on #13192
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-30 16:48] dhairyasenjaliya commented on #13132
@mvtglobally both are separate issue I logged here https://expensify.slack.com/archives/C049HHMV9SM/p1669787031782639?thread_ts=1669787031.782639&cid=C049HHMV9SM

[2022-11-30 16:48] eVoloshchak commented on #9973
Yup, working on it, will be ready in an hour

[2022-11-30 16:48] luacmartins commented on #13111
This is fixed by https://github.com/Expensify/App/pull/13106, closing!

[2022-11-30 16:48] #13111 closed

[2022-11-30 16:49] luacmartins commented on #13116
This was fixed by https://github.com/Expensify/App/pull/13164. Closing!

[2022-11-30 16:50] luacmartins commented on #13127
This was fixed by https://github.com/Expensify/App/pull/13174. Closing.

[2022-11-30 16:50] #13127 closed

[2022-11-30 16:50] zanyrenney commented on #12058
hi @huzaifa-99 we decided that the proposal itself, which we approved is the only segment for payment, please can you apply for the job on upwork so we can pay you: https://www.upwork.com/jobs/~010f0af8b1df252e1d

[2022-11-30 16:51] luacmartins commented on #13132
@mvtglobally please log another issue for https://github.com/Expensify/App/issues/13132#issuecomment-1332452883

[2022-11-30 16:54] tylerkaraszewski commented on #12807
Letting @joelbettner take this one.

[2022-11-30 16:54] luacmartins commented on #13025
@kbecciv please open a new issue since they are different. Closing this one

[2022-11-30 16:54] #13025 closed

[2022-11-30 16:56] tylerkaraszewski commented on #12769
Doing this after sequence numbers.

[2022-11-30 16:57] arielgreen commented on #12967
### Bug0 Triage Checklist
_Note: see [this SO](https://stackoverflow.com/c/expensify/questions/14418) for more information._
- [ ] The "bug" is actually a bug
- [ ] The bug is not a duplicate report of an existing GH.
  - If it is, close the GH and add any novel details to the original GH instead
- [ ] The bug is reproducible, following the reproduction steps.
  - [ ] If the GH doesn’t have steps

[2022-11-30 17:03] tgolen commented on #11609
Sorry @NicMendonca I missed the updates to this. I think this issue is a little confusing. For the purposes of closing this out, this issue was not a bug and so there could be no regression. It was just a code cleanup. I think for the BugZero checklist, the remaining checkboxes are all "N/A" and it's OK to close this.

[2022-11-30 17:03] #11609 closed

[2022-11-30 17:04] Delgee commented on #12951
### Proposal

## Root cause
https://github.com/Expensify/App/blob/2881f18300a1b31a2047f1f61f2cdf93d2f7b79e/src/libs/SelectionScraper/index.js#L86
When an element is copied we remove extra attributes with the above function. And when we render a link we are rendering it wrapped with multiple `display: inline;` `div` elements.

![Screenshot 2022-12-01 at 00 50 35](https://user-images.githubuserconte

[2022-11-30 17:09] AndrewGable commented on #11048
Going to look at this today with @JmillsExpensify comment in mind.

[2022-11-30 17:13] joekaufmanexpensify commented on #13159
Finished triaging this. My thinking is we can handle this externally. Assigning engineering to confirm!

[2022-11-30 17:13] MariaHCD commented on #11895
@abekkala Sounds correct to me. I think this is now subject to the 7-day regression period.

[2022-11-30 17:17] Pujan92 commented on #12951
@mananjadhav Then to copy the text only we can use the setString function for html selection too.

https://github.com/Expensify/App/blob/2881f18300a1b31a2047f1f61f2cdf93d2f7b79e/src/pages/home/report/ContextMenu/ContextMenuActions.js#L113

`Clipboard.setString(Str.htmlDecode(parser.htmlToText(content)));`

[2022-11-30 17:19] mananjadhav commented on #11893
@dylanexpensify I just read that we're treating this as a bug. Shouldn't this be a feature request? It isn't that `Copy to clipboard` wasn't working. It wasn't there at the first place.

[2022-11-30 17:21] s77rt commented on #10414
Indeed rule 3 is about trap focus, I had found that while working on a similar case https://github.com/Expensify/App/issues/12521 where I had to re-implement a [simple trap focus](https://github.com/Expensify/App/issues/12521#issuecomment-1319343035) instead of using RN's but that was due to another reason which may not apply here.

The rest of the rules are still true, those are rules and not in-

[2022-11-30 17:22] Pujan92 commented on #12804
@JmillsExpensify Do I expect this today?

[2022-11-30 17:23] mananjadhav commented on #12744
@MitchExpensify Quick bump on the payout, and here's the offending [PR](https://github.com/Expensify/App/pull/8042) that added the bug. I worked on it so I have it handy.

[2022-11-30 17:26] Beamanator commented on #13153
Thanks for pointing this one out @kbecciv ! As @thesahindia mentioned (thanks!), I made that other issue to keep track of removing those HTML tags in the Close Account errors

[2022-11-30 17:26] #13153 closed

[2022-11-30 17:27] stitesExpensify commented on #11768
I have read and reviewed this Design Doc!

[2022-11-30 17:28] Beamanator commented on #12747
Good to know, hadn't thought about that before.

Also a good question, the original purpose of this issue was to keep the form errors where they are, just remove the HTML tags from them (as luck would have it, Applause just created this issue (https://github.com/Expensify/App/issues/13153) which has a video of Close Account errors with HTML tags).

@trjExpensify are you suggesting we move where th

[2022-11-30 17:29] neil-marcellini opened #13193 "[Regression test steps needed][$1000] BUG: Add attachment send button is too large"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Log in with any account
2. Open a chat and click the plus button to add an attachment, select a file to upload

## Expected R

[2022-11-30 17:36] Santhosh-Sellavel commented on #11895
@abekkala

I believe Flat $1000 Internal PR Reviews refer [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668726522584349) thanks!

cc: @MariaHCD

[2022-11-30 17:38] kbecciv opened #13195 "Log in - Text is overlapped when tapped on "Back" when have autofill option"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. On log in page put your email
3. Click on Back option

## Expected Result:
Text is not over

[2022-11-30 17:42] s77rt commented on #13070
Applied in [Upwork](https://www.upwork.com/jobs/~012f5ca8abe85c1110) (+50% bonus)
[PR](https://github.com/Expensify/App/pull/13196) is ready

[2022-11-30 17:46] kbecciv opened #13197 "Chat -if Click/ tap on 'New Messages' button it scrolls but not shown the new message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in
1. Navigate to a 1:1 conversation that has a large history of messages.
2. Scroll the conversation a

[2022-11-30 17:46] huzaifa-99 commented on #12058
@zanyrenney applied thanks.

Just to be sure, I should raise a PR, right?

[2022-11-30 17:51] kbecciv opened #13198 "IOS - Workspace - App is crashed when delete the Workspace offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Create a WS in Android app and delete it ( do it online and offline)
1. Launch the app in IOS with the same account

[2022-11-30 17:52] arielgreen commented on #11347
@Puneet-here -- just sent over the offer in Upwork! Once you've accepted I'll pay it out.

[2022-11-30 17:53] kbecciv commented on #13025
@luacmartins Will do, thank you

[2022-11-30 17:56] aldo-expensify commented on #13192
The backend is responding with the expected error:

<img width="1321" alt="image" src="https://user-images.githubusercontent.com/87341702/204872580-f87c3bac-364a-4eed-b1bf-83beb87aa460.png">

[2022-11-30 17:58] aldo-expensify commented on #13192
<img width="1451" alt="image" src="https://user-images.githubusercontent.com/87341702/204872918-6857c0bf-c33f-4a8e-8e01-115a9df6dbf6.png">

The policy is still in Onyx, with the error, this looks fine...

[2022-11-30 18:02] PauloGasparSv commented on #12706
Taking this over @tylerkaraszewski @mananjadhav

[2022-11-30 18:02] alex-mechler commented on #13115
I can't seem to reproduce this. @kavimuru can you share the file that was used to reproduce this?

[2022-11-30 18:03] aldo-expensify commented on #13192
This may be the PR that caused the regression: https://github.com/Expensify/App/pull/12971

I'm not sure why it is intentionally filtering out workspaces that have pending action 'delete':

[2022-11-30 18:04] lschurr commented on #13158
Yep, that's what I was thinking. Thanks @jasperhuangg!

[2022-11-30 18:04] amyevans commented on #12432
Not overdue, the 2 PRs were just updated and are under review.

[2022-11-30 18:05] techievivek commented on #12363
playing with `autoScrollToTopThreshold` doesn't seem to help but when I am setting `minIndexForVisible` with a value greater than 15 it does work( I am also very clueless with both the properties because it's hard to visualize what effect they will have on scroll view).

Our window size is `15` so does it have something to do with `minIndexForVisible`?

[2022-11-30 18:06] daraksha-dk commented on #12706
@PauloGasparSv, I have already proposed a solution which was [approved](https://github.com/Expensify/App/issues/12706#issuecomment-1331593547).

[2022-11-30 18:07] #12895 closed

[2022-11-30 18:07] aldo-expensify commented on #13192
Closed by mistake

[2022-11-30 18:07] danieldoglas commented on #12930
Adding external tag since it's external, but no `help wanted` since Kidroca is going to work on it.

[2022-11-30 18:11] parasharrajat commented on #13139
@arosiclair Bump.

[2022-11-30 18:11] JalalMitali commented on #12706
all in good hands 🙌 please inform us with the next steps and chosen proposal thanks! 🙏

[2022-11-30 18:11] kidroca commented on #12930
PR Ready
- https://github.com/Expensify/App/pull/13199

[2022-11-30 18:12] zanyrenney commented on #12058
Hey @huzaifa-99 - no, you don't need to submit a PR. The reason you are due the payment is that you worked on the proposal already by the time we asked you not to do it, so, we're paying you for the proposal given the work was complete even though we aren't using it, for fairness and appreciation of your time. I hope that makes sense? Let me know if you have any questions.

[2022-11-30 18:14] kbecciv opened #13202 "[HOLD for payment 2022-12-20] Chat - The bold chat is hard to see in dark mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account (account A)
3. Log in in other device with other accou

[2022-11-30 18:19] mollfpr commented on #12198
Sorry about this [proposal](https://github.com/Expensify/App/issues/12198#issuecomment-1330017539) not working well. The style of `styles.chatItemComposeSecondaryRow` uses using margin (I don't know why I see it as padding), so moving the margin style to the list container will remove the spacing between the recipient's local time text.

 I ended up just adding `padding-top=1` to the list containe

[2022-11-30 18:21] mananjadhav commented on #13134
I am not sure if I would treat this as a bug. Also there's only one item hence it looks like this. If it were 3-4 items in the Popover, then they don't need to cover the  curved corners.

Tagging @Expensify/design for their inputs.

[2022-11-30 18:26] allroundexperts commented on #13193
What is the required width @neil-marcellini?

[2022-11-30 18:27] eVoloshchak commented on #9973
PR is open

[2022-11-30 18:27] allroundexperts commented on #13134
Agreed with @mananjadhav. We can create a separate component for this though. But I'd wait for confirmation from design team.

[2022-11-30 18:27] neil-marcellini commented on #13193
cc @Expensify/design

[2022-11-30 18:28] deetergp commented on #12276
If @mananjadhav says it is no longer reproducible, then I think we can go ahead and close this one.

[2022-11-30 18:29] marcochavezf commented on #11068
I chatted with @joelbettner that I'm going to grab this one. Working on it today

[2022-11-30 18:32] arosiclair commented on #13139
Yep good point I closed this by accident. Let's mark this as a regular bug, not a blocker

[2022-11-30 18:32] zanyrenney commented on #12058
offer sent @huzaifa-99

[2022-11-30 18:34] marcaaron commented on #11584
Hey Everyone!

Clearly there is some confusion here caused by this issue here -> https://github.com/Expensify/App/issues/11584

From the look of it... it was not triaged correctly and should have been immediately closed as the "Expected behavior" listed is wrong. I'd suggest we revert things all the way back to how they were before [this PR](https://github.com/Expensify/App/pull/12124) was created

[2022-11-30 18:35] kbecciv opened #13205 "Web - Login - The error in the console after login in HT account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with high traffic account

## Expected Result:
No error in the console a

[2022-11-30 18:36] deetergp commented on #8661
It looks like this is back, going to re-open this one and close the dupe that @Santhosh-Sellavel pointed out.

[2022-11-30 18:36] #13114 closed

[2022-11-30 18:36] OSBotify commented on #13205
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-30 18:38] sakluger commented on #12156
@JmillsExpensify thanks for keeping this one moving forward, I can handle it from here!

[2022-11-30 18:39] eVoloshchak commented on #12726
Accepted

[2022-11-30 18:39] arosiclair commented on #13134
I'd agree with the comments above. This is a context menu with 1 item. So only the item gets highlighted on hover not the entire menu.

[2022-11-30 18:39] mananjadhav commented on #12276
@deetergp @trjExpensify this might have to be open for the payout here?

[2022-11-30 18:39] Puneet-here commented on #11347
@arielgreen, accepted. Thanks!

[2022-11-30 18:41] markarmanus commented on #12893
Proposal

Problem:

The issue is happening on android, when you render an image that the original resolution is massive but you render it with a smaller resolution

Example:

[code]

On IOS this image is going to stay at the original resolution when zooming in.

On Android the image gets downscaled to the resolution sepefied to the component so that results in a blury picture on zoom in.

As i sta

[2022-11-30 18:42] Pujan92 commented on #13193
**Proposal**

To make it normal at center postion we can update the style for the button.

https://github.com/Expensify/App/blob/2881f18300a1b31a2047f1f61f2cdf93d2f7b79e/src/styles/styles.js#L472-L474

`alignItems: 'center',`

<img width="1440" alt="Screenshot 2022-12-01 at 12 12 01 AM" src="https://user-images.githubusercontent.com/14358475/204881721-8ed5a7ab-aba9-4570-9cd0-d3ce96d53341.png">

[2022-11-30 18:43] JmillsExpensify commented on #11584
I agree with @marcaaron here. @conorpendergrast @srikarparsi I think we need to treat this an a top priority for today and [get the RCA published](https://stackoverflow.com/c/expensify/questions/12156). We've got to figure out how we avoid this in the future, and especially changing defined/designed behaviors in the app.

[2022-11-30 18:44] luacmartins commented on #13192
Fix was merged. Closing this issue!

[2022-11-30 18:44] #13192 closed

[2022-11-30 18:44] dangrous commented on #11893
I think @mananjadhav is right; based on the code it looks like copying the link was only ever set up for web, and then later desktop. (The latest change that would affect this page was made 6 months ago, and it was _adding_ the macOS copy functionality.)

@dylanexpensify what do we think is the best way forward here? Just checking off the boxes and moving on?

[2022-11-30 18:44] luacmartins commented on #13192
Thanks for the quick work @aldo-expensify!

[2022-11-30 18:45] JalalMitali commented on #8661
https://github.com/Expensify/App/issues/13114#issuecomment-1331330507

[2022-11-30 18:50] huzaifa-99 commented on #12058
@zanyrenney thanks for the consideration and followup :)

[2022-11-30 18:52] shawnborton commented on #13193
As for the button, we want it to be full width on mobile but for desktop, maybe we just give it a larger min-width (like 300?) and center it like it's shown above?

Looks like we need to update the background color behind the PDF as well.

[2022-11-30 18:53] deetergp commented on #12276
Good point, @mananjadhav 😅

[2022-11-30 18:53] PauloGasparSv commented on #12706
I think we should move forward with the first suggestion from @daraksha-dk since it adds the least amount of logic and we generally don't want to show the user's own email/name prefixed in any case.
@daraksha-dk could you please make a P.R. with those changes?

@JalalMitali I also think your proposal looks good and would work but it adds a bit more logic (to be specific to the Annouce room which i

[2022-11-30 18:54] OSBotify commented on #13180
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/13201) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.34-1` :rocket:

[2022-11-30 18:54] zanyrenney commented on #12058
Paid via upwork, closing this out. @huzaifa-99 Reopen if you have any problems or follow up questions.

[2022-11-30 18:54] #12058 closed

[2022-11-30 19:01] abekkala commented on #11895
I do see via that update:
 **there is one small tweak for the C+ team for internal issues -- you’ll be issued a flat $1000 bounty for your PR review.**

I'd like to confirm if that's retro-active for GH's that were **already in place** or only for **new** ones created after the updated rate went into effect.

[2022-11-30 19:04] Puneet-here commented on #13193
### Proposal

Add `attachmentButtonBigScreen` to styles.js
[code]
Pass `{[styles.buttonConfirm, this.props.isSmallScreenWidth ? {} : styles.attachmentButtonBigScreen]}` at style
https://github.com/Expensify/App/blob/1f718323105f9ef6d2b26b5e9f78cd1bb38bde68/src/components/AttachmentModal.js#L281

[2022-11-30 19:06] shawnborton commented on #13134
This is expected behavior - we have top and bottom padding for the context menu wrapper. Going to close this out.

[2022-11-30 19:06] #13134 closed

[2022-11-30 19:06] akshayasalvi commented on #13193
**Proposal**

In the `styles.js` update the `buttonConfirm` with the following styles:

[code]

**Web Version**
<img width="1469" alt="image" src="https://user-images.githubusercontent.com/57435789/204885322-b98ebb1c-a5c6-450f-bb49-ad8d8e51bda3.png">

**iOS version**
<img width="368" alt="image" src="https://user-images.githubusercontent.com/57435789/204886384-e5ad78e8-fc06-4752-8e42-1a721b794ab2.

[2022-11-30 19:07] luacmartins commented on #13205
This is [known](https://github.com/Expensify/App/pull/12780#issuecomment-1319816325) and will be fixed by  https://github.com/Expensify/Expensify/issues/243532. Closing!

[2022-11-30 19:07] #13205 closed

[2022-11-30 19:07] dangrous commented on #12198
@mollfpr I think that would probably be fine. However, I was just looking at your PR and I tried testing on `main` first just to make sure I knew the bad behavior and... I'm not actually seeing it anymore. I'm wondering if something with the new theming somehow fixed it?

Are you (or @robertjchen or @Santhosh-Sellavel) still able to reproduce? We may not need this after all... Unless it's somethin

[2022-11-30 19:07] shawnborton commented on #13193
For mobile/small devices, we should have the button extend to full width. Only desktop/wide devices should get the min-width.

[2022-11-30 19:08] shawnborton commented on #13151
Yeah, I think we should update the original issue comment with all of the places that need to be updated though so that this issue is more clear.

[2022-11-30 19:09] Luke9389 commented on #11265
Ok we just need to verify that the original issues is reproducible, because earlier we couldn't get through all the reproduction steps (my assumption was that there was another bug blocking us from doing so).

@sobitneupane are you able to reproduce this one?

I'll give it a try too.

[2022-11-30 19:11] mananjadhav commented on #9973
@aimane-chnaif Thanks for the comment, but do we have a specific need for `selectable` to be true? We're anyway relying on the context menu for our copy needs. Hence I think we should be good with current accepted solution.

[2022-11-30 19:17] Puneet-here commented on #13193
@shawnborton, can you please check my [proposal](https://github.com/Expensify/App/issues/13193#issuecomment-1332607755)

[2022-11-30 19:19] mananjadhav commented on #9973
I did. I'll get some feedback from @sketchydroide @arielgreen on this one. I don't mind having `canUseTouchScreen` as well.

@sketchydroide do we want to disable selectable only for apps? and not web?

[2022-11-30 19:19] Santhosh-Sellavel commented on #10731
We need this for mWeb too, that's why react-native-web is necessary here!

[2022-11-30 19:19] shawnborton commented on #13193
Yup that works for me, but let's have our contributor team file and review first.

[2022-11-30 19:19] Pujan92 commented on #13193
[code]

[b8fa075e-11e9-4b2b-897d-6c645ff678d0.webm](https://user-images.githubusercontent.com/14358475/204888911-2984c668-6e22-4ae3-8fd9-33cfce178d4e.webm)

[2022-11-30 19:23] mollfpr commented on #12938
Thanks @luacmartins @iwiznia

Waiting for proposals to fix the RN!

[2022-11-30 19:24] mollfpr commented on #12198
@dangrous I'm able to reproduce it in the simulator. Is your chat showing the recipient's local time above the composer?

<img width="434" alt="Screen Shot 2022-12-01 at 02 24 16" src="https://user-images.githubusercontent.com/25520267/204889715-2ac111b2-afd1-401c-86e3-c73cbb37a8df.png">

[2022-11-30 19:24] cristipaval commented on #9703
Thanks @shawnborton! I only see png files [here](https://github.com/Expensify/Web-Static/tree/main/images/avatars). COuld you help me find the svg files for the new default avatars?

[2022-11-30 19:25] grgia commented on #13193
Adding the external label now

[2022-11-30 19:29] arielgreen commented on #11347
Excellent, paid.

[2022-11-30 19:29] #11347 closed

[2022-11-30 19:30] milandev128 commented on #13066
I can do it.
Please contact me

[2022-11-30 19:33] thesahindia commented on #13193
@Puneet-here's [proposal](https://github.com/Expensify/App/issues/13193#issuecomment-1332607755) looks good to me. It handles small screen devices too.

🎀👀🎀 C+ reviewed

cc: @grgia

[2022-11-30 19:34] sakluger commented on #13202
I agree! I'm labeling with design since I think this is more of a design thing rather than a bug. @shawnborton what are your thoughts on this one?

[2022-11-30 19:35] Santhosh-Sellavel commented on #12198
@mollfpr Please attach a video performing steps, that's solid to keep us working on that!

[2022-11-30 19:35] shawnborton opened #13208 "[HOLD for regression test steps, maybe] [Dark Mode] Use same overlay color for all modals, action sheets, etc"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Currently we have mismatched styles when opening things like rightDocked modals or bottom action sheets:

<img width="1152" alt="

[2022-11-30 19:35] Pujan92 commented on #13193
@thesahindia do you think [this](https://github.com/Expensify/App/issues/13193#issuecomment-1332623428) is more suitable for this change where a same class is handling both devices?

[2022-11-30 19:35] marcochavezf commented on #13064
Oh we can consider this an improvement, the password input should appear at the top of the screen (like on the `Change password` page). Applying the `External` label.

[2022-11-30 19:36] Santhosh-Sellavel commented on #12198
No, It's better to re-evaluate things let's make it open to proposals or dig more to find the exact cause.

[2022-11-30 19:36] allroundexperts commented on #13193
### Proposal

@thesahindia @shawnborton I agree with @Puneet-here proposal. He however missed the incorrect background colour in the pdf preview screen. This can be fixed by:
[code]

## Result

<img width="1440" alt="Screenshot 2022-12-01 at 12 36 37 AM" src="https://user-images.githubusercontent.com/30054992/204892122-904a010a-2a81-4306-b8c8-e2dc88db6803.png">

[2022-11-30 19:37] shawnborton commented on #13202
Yeah I don't think this is a bug... it would just be a design optimization

[2022-11-30 19:37] luacmartins commented on #13180
@mvtglobally
- https://github.com/Expensify/App/pull/12796#issuecomment-1331609479 and https://github.com/Expensify/App/pull/13109#issuecomment-1331613260 I'd say to make sure that the colors/icons match the screenshots shared on those PRs

- https://github.com/Expensify/App/pull/12971#issuecomment-1332614560 I couldn't reproduce that issue on staging or locally.
- https://github.com/Expensify/App

[2022-11-30 19:38] grgia commented on #13208
This will make a big difference, I'm gonna take this on internally this week

[2022-11-30 19:38] Santhosh-Sellavel commented on #12198
@dangrous I too have trouble reproducing it but it was able to reproduce by QA Last week [here](https://github.com/Expensify/App/issues/12198?notification_referrer_id=NT_kwDOBRraj7M0Njk5ODAwODAzOjg1NjQ1OTY3#issuecomment-1323986030)

@kavimuru Can you check this one more time now, also is this able to reproduce consistently by the tester? Thanks!

[2022-11-30 19:42] kavimuru opened #13209 "[$1000] Growl shows up on adding/deleting paypal account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to settings > Payments
2. Click add payment method > PayPal.me
3. Enter a user name
4. Press save

## Expected Result:
The

[2022-11-30 19:44] Puneet-here commented on #13209
### Proposal
Remove the lines below
https://github.com/Expensify/App/blob/435c4b93e9e46f3d45b3913a1e30d8c2f2c107bb/src/pages/settings/Payments/AddPayPalMePage.js#L43
https://github.com/Expensify/App/blob/435c4b93e9e46f3d45b3913a1e30d8c2f2c107bb/src/libs/actions/User.js#L299
We also need to remove the message copy from en and es.js and we can also remove the copies of previous growls that we have r

[2022-11-30 19:47] arosiclair commented on #10632
I can take this internal if you guys don't mind @roryabraham

[2022-11-30 19:49] mollfpr commented on #12198
Sorry, here's the video.

https://user-images.githubusercontent.com/25520267/204894141-8b273e78-492c-4671-b05f-d443cc346575.mov

I think it would be great if you could record the step you do. So we would have a clue why is reproduce in some places.

[2022-11-30 19:49] Tushu17 commented on #13022
@mountiny, Can you please look into this matter.

[2022-11-30 19:52] furkanuzundev commented on #12938
Since the problem is caused by the font itself, the 2 best options we can solve on the RN side are to increase the line height(like @LibanWasTaken proposal https://github.com/Expensify/App/issues/12938#issuecomment-1330060536 ) or use different fonts for android and iOS platform.(like my proposal https://github.com/Expensify/App/issues/12938#issuecomment-1329776254 )

I think it's a debatable topi

[2022-11-30 19:56] thesahindia commented on #13193
@allroundexperts, seems like a different issue to me.

@Pujan92, there's extra gap horizontally

[2022-11-30 19:56] NikkiWines commented on #13110
Nice, yeah that sounds great to me @yuwenmemon 👍

[2022-11-30 19:57] allroundexperts commented on #13193
@thesahindia @shawnborton mentioned this here: https://github.com/Expensify/App/issues/13193#issuecomment-1332595169

[2022-11-30 19:58] kevinksullivan commented on #12428
Just double checking on this @marcaaron . So we need to revert https://github.com/Expensify/App/pull/12089 (@mollfpr ), then see if this issue still exists?

[2022-11-30 20:01] Pujan92 commented on #13193
I am seeing only 20px padding which is the intended one I think.

[2022-11-30 20:02] Santhosh-Sellavel commented on #10632
I believe it will be 👍 only @arosiclair, please take it. Remove the `Help wanted` label and assign yourself. Keep me assigned I'll help with the PR review, thanks!

[2022-11-30 20:05] yuwenmemon commented on #13074
Commented in the PR here: https://github.com/Expensify/App/pull/12960#issuecomment-1332677573

[2022-11-30 20:06] OSBotify commented on #13180
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.34-1 has been deployed to staging :tada:

[2022-11-30 20:09] thesahindia commented on #13193
@shawnborton, is this supposed to fix in this issue?

[2022-11-30 20:10] Emz27 commented on #12714
I disagree with the points here, this will just establish a thinking of limited use for throttle/debounce and just ignore the asynchronous nature of react state and navigation. No matter how hard you optimize it, there will always still be lag and you cant expect the user's device to be fast. What I think is the reason enough to merit the use of throttle/debounce is if it is doing an expensive act

[2022-11-30 20:11] thesahindia commented on #13193
Can you check the side by side comparison in small screen devices.

[2022-11-30 20:11] shawnborton commented on #13208
Woo, thank you Georgia!

[2022-11-30 20:12] allroundexperts commented on #13193
@thesahindia @shawnborton Please let me know the link here. I'll add this proposal there.

[2022-11-30 20:13] thesahindia commented on #13193
Cool, thanks!

cc: @grgia

[2022-11-30 20:29] marcaaron commented on #12237
@jasperhuangg, I'm not sure if I agree with the outcome here. Messages on iOS always scrolls you to the bottom when you pop open the input. I prefer that behavior because if you are composing a message you'll want to see the latest message for context.

[2022-11-30 20:29] kavimuru opened #13211 "VBA - Cannot select the checkbox when a valid field is being focused entering bank account manually"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open Settings => Workspace => Choose any workspaces => Connect Bank Account => Connect Manually.
2. Notice that  `Routing Num

[2022-11-30 20:35] yuwenmemon commented on #13110
All right, assigning myself and taking this internal then.

[2022-11-30 20:37] srikarparsi commented on #13197
hey @jliexpensify, I don't think this is a bug. The expected behavior of the "new messages" button is to scroll to the bottom of the chat and that change will be made once this [pr](https://github.com/Expensify/App/issues/11584) is reverted @marcaaron

[2022-11-30 20:37] thesahindia commented on #13193
@Pujan92, check the screenshots of small screen width
<details>
<summary>Your proposal </summary>
<img width="437" alt="Screenshot 2022-12-01 at 2 00 43 AM" src="https://user-images.githubusercontent.com/83179295/204901863-7fc5506a-d7e8-42e4-afb1-3a088ad7684b.png">
</details>
<details>
<summary>The selected proposal </summary>
<img width="437" alt="Screenshot 2022-12-01 at 2 00 32 AM" src="https:/

[2022-11-30 20:44] Pujan92 commented on #13193
Yes, thanks for pointing this out.

[2022-11-30 20:48] slafortune commented on #13068
@syedsaroshfarrukhdot  I wasn't able to reproduce this in production.  On staging, I don't currently see the Debit Card option

Are you still able to reproduce this?

[2022-11-30 20:51] garrettmknight commented on #13140
Happened to @RobertLadue as well:
<img width="281" alt="Screenshot 2022-11-30 at 8 51 33 PM" src="https://user-images.githubusercontent.com/1529980/204905444-d4fb8bba-2993-417c-8616-00bce7a2aa0f.png">

[2022-11-30 20:53] JalalMitali commented on #8661
**Proposal :**
add the **disableVirtualization** prop to the **InvertedList** that is rendering report actions - messages.
keep in mind that :
_Virtualization provides significant performance and memory optimizations, but fully unmounts react instances that are outside of the render window_ ( [reactnative.dev](https://reactnative.dev/docs/virtualizedlist))

[2022-11-30 20:55] tgolen commented on #9734
Is this really a case that we should be supporting? I think we only care about "normally" sized browser windows and mobile web clients. My guess is that at these widths, there is quite a bit more broken than just this navigation issue, and so supporting this browser platform and window size should be regarded as a new feature and not a bug.

[2022-11-30 20:57] chiragsalian commented on #11590
So some higher priority deprecate sequence number tasks came up so I pushed this back a little bit. Still aiming for this week.

Also @sophiepintoraetz can you split this part into another issue,

[2022-11-30 20:57] JalalMitali commented on #8661
@Santhosh-Sellavel @deetergp please check my proposal and I am sorry I couldn't attach a video Github keeps saying file is too big ( 10 seconds vid only )!

[2022-11-30 20:59] shawnborton commented on #9703
CC @grgia as she is working through the default avatars as well - let's make sure both of this issue and the default avatar issue work nicely together?

In terms of the SVGs, they aren't on cloudfront but I can provide them to you in a folder here? But thinking more on this... maybe we do just want one default fallback avatar to use when we can't fetch the defaults?

[2022-11-30 21:00] muttmuure commented on #13040
Going out of office so this shouldn't be blocked on me - reassigning

[2022-11-30 21:01] arosiclair commented on #13139
@bfitzexpensify I'll just take this internal if this issue passes your BZ checks

[2022-11-30 21:02] kadiealexander commented on #12963
📢 Price doubled! Please get those proposals in.

[2022-11-30 21:02] syedsaroshfarrukhdot commented on #13068
@slafortune Yes, still able to reproduce it on **version** `1.2.34-1`

https://user-images.githubusercontent.com/81307212/204907236-c8da57b5-6399-48f8-94ed-01518326145c.mov

[2022-11-30 21:04] shawnborton commented on #9703
Yeah, chatting more with Georgia and Yuwen, I think the title of this issue is misleading and isn't actually reflective of the original issue I reported. The original issue I reported was that I had an avatar uploaded, but then I went offline and the app started showing a fallback offline avatar. It sounds like that's actually going to be fixed here: https://github.com/Expensify/App/pull/12808

So

[2022-11-30 21:05] tjferriss commented on #12961
Weird. I don't know how we ended up with a duplicate. Please use this posting:

- Upwork Job URL: https://www.upwork.com/jobs/~01ffa8602538b38e84
- Upwork Job ID: 1597308530847031296

[2022-11-30 21:05] Luke9389 commented on #12443
This one should be getting merged very soon (hopefully today)

[2022-11-30 21:05] s77rt commented on #13146
### Proposal
[code]

### Details
First of all, in this GH issue the bug is https://github.com/Expensify/App/issues/12025 (we are basically reopening the issue)
The applied fix https://github.com/Expensify/App/pull/12572 is hacky and causes this problem. Why hacky? because it does not address the root issue and the proposed fix can be bypassed by pressing enter instead of a mouse click.

The root i

[2022-11-30 21:10] aldo-expensify commented on #11494
Replaced @eVoloshchak by @rushatgabhane because he is assigned to the [PR](https://github.com/Expensify/App/pull/12968) as C+ reviewer

[2022-11-30 21:11] bfitzexpensify commented on #13139
### Bug0 Triage Checklist
_Note: see [this SO](https://stackoverflow.com/c/expensify/questions/14418) for more information._
- [x] The "bug" is actually a bug
- [x] The bug is not a duplicate report of an existing GH.
  - If it is, close the GH and add any novel details to the original GH instead
- [x] The bug is reproducible, following the reproduction steps.
- [x] The GH template is filled out a

[2022-11-30 21:14] daraksha-dk commented on #12706
Created a draft. The website isn't working smoothly (just loading or new message doesn't show)so I wasn't able to test this thoroughly. I will open this after testing once the problem gets resolved.

[2022-11-30 21:16] Luke9389 opened #13213 "[Regression test steps needed] Border Radius of Popover Menu is incorrect"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

There are two issues:
1. Mini Menu

 - Sign into the app
 - Hover over any message
 - Note that the mini menu looks like this:
<

[2022-11-30 21:17] Luke9389 commented on #13213
Hey @zanyrenney, sorry for the noise, I'm just going to fix this one up real fast.

[2022-11-30 21:18] lschurr commented on #12724
@aneequeahmad - you're still eligible for a reporting bonus since you initially reported the bug. Can you apply for the job in Upwork? https://www.upwork.com/ab/applicants/1594686468145885184/job-details

[2022-11-30 21:20] luacmartins commented on #13180
@mvtglobally what's the status on the regression tests?

[2022-11-30 21:20] srikarparsi commented on #13152
I can take this one @tjferriss, I think we just need to wrap it in a scroll view but I'll investigate further

[2022-11-30 21:20] tjferriss commented on #12893
@marcaaron and @mananjadhav what do we think of @markarmanus proposal?

[2022-11-30 21:21] lschurr commented on #12724
@rushatgabhane - could you also apply for the job in Upwork?

[2022-11-30 21:21] mvtglobally commented on #13180
@luacmartins app is really slow and lagging. We are about 60% but regression takes longer now due to slowness as well.

[2022-11-30 21:21] parasharrajat commented on #13213
Can I be reporter of this as I reported it here https://expensify.slack.com/archives/C049HHMV9SM/p1669645639980109?

[2022-11-30 21:29] jliexpensify commented on #13197
@srikarparsi my thoughts too - I just tested this flow (before I saw your comment) and everything seems to work fine re: new messages for me. Closing this one!

[2022-11-30 21:29] #13197 closed

[2022-11-30 21:30] Santhosh-Sellavel commented on #8661
Disabling virtualisation is not recommended.

[2022-11-30 21:30] rafecolton commented on #13202
Came here to say I experience this as well!

[2022-11-30 21:32] thesahindia commented on #13133
That looks great @bernhardoj! I need to test all the cases first since it can cause regression. It's EOD for me I will test this in the morning. Meanwhile can you update the proposal to resolve eslint errors?

[2022-11-30 21:35] aneequeahmad commented on #12724
@lschurr Im getting an error on [this]( https://www.upwork.com/ab/applicants/1594686468145885184/job-details) link
![Screenshot 2022-12-01 at 2 33 44 AM](https://user-images.githubusercontent.com/36359331/204912844-e746497b-8783-4cff-a016-8ff45e4e710a.png)

[2022-11-30 21:36] allroundexperts commented on #13211
### Proposal

There is no easy fix to it because `onBlur` on the text field gets called first (which in turn causes `validate`, which changes the layout). Since the layout is changed after `onBlur`, the click event never gets fired.

## Solutions
We can:
a. On the checkbox, use `onMouseDown` instead of `onClick`. This will ensure that the `click` event fires before the layout gets a chance to chan

[2022-11-30 21:37] thesahindia commented on #13133
Also cc: @Julesssss. Should we get some opinions on slack ? Concerned because of this [part] (https://github.com/Expensify/App/blob/main/contributingGuides/FORMS.md#modifying-user-input-on-change).

[2022-11-30 21:45] roryabraham commented on #10632
Thanks @arosiclair, I'd like to review the PR when it's ready

[2022-11-30 21:47] francoisl commented on #13154
Unable to reproduce this locally at the moment, and can't reproduce either on staging - though the site is having issues right now, I'll try again later.

[2022-11-30 21:47] Luke9389 commented on #13213
Actually @zanyrenney would you be willing to pay out @parasharrajat for reporting this issue?

[2022-11-30 21:47] davidcardoza commented on #12998
Hmm...This feels like a bug, but I want a second opinion before moving forward with creating a job. Applying the engineering label.

[2022-11-30 21:49] roryabraham commented on #11262
I didn't do this, but I don't think it was necessarily a regression.

[2022-11-30 21:50] bfitzexpensify commented on #13023
Wasn't able to reproduce at this moment with the same steps I took in https://github.com/Expensify/App/issues/13023#issuecomment-1327668920, but I suspect the site slowness might be playing a role in that. Have set a reminder to myself to test this again first thing tomorrow. I'll close if I can't reliably reproduce.

[2022-11-30 21:51] conorpendergrast commented on #11584
Before we do that, let's agree the behaviour we expect. Discussing that [in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1669844955940759?thread_ts=1669780795.674179&cid=C01GTK53T8Q) now!

[2022-11-30 21:53] jliexpensify commented on #10905
Nice work, thanks @tgolen , @aimane-chnaif , @Santhosh-Sellavel, @shawnborton and @JmillsExpensify !

[2022-11-30 21:53] #10905 closed

[2022-11-30 21:57] roryabraham commented on #11262
Filling out the remainder of the BZ checklist:

Not needed, since this is already covered by an [existing regression test](https://expensify.testrail.io/index.php?/tests/view/2894086&group_by=cases:section_id&group_order=asc&group_id=229067)

n/a since this wasn't a regression

n/a since this wasn't a regression

The only payment due is the C+ review payment to @eVoloshchak for https://github.com/

[2022-11-30 21:58] marcaaron commented on #10414
Can someone please summarize in as few words as possible what we need to do here? I am looking at the recent posts from @s77rt and @ntdiary and honestly it's just super hard for me to follow either train of thought. I would suggest we stop using the "rules" terminology and just refer to whatever it is we are talking about instead of "rule 1", "rule 2", etc.

**Questions...**

- I'm getting that th

[2022-11-30 21:58] roryabraham commented on #11262
@maddylewis Let's pay @eVoloshchak the standard amount for their review of https://github.com/Expensify/App/pull/12728, then close this out

[2022-11-30 21:59] mountiny commented on #13022
@Tushu17 Hello! Thanks for reporting, this indeed does not make sense and mentioned. You are eligible for reporting bonus.

Unfortunately, to follow the contribution guidelines and make sure they are applied consistently everywhere, this issue has not been labelled as `External` or `Help Wanted` hence any proposals posted can be used by us to fix the issue without compensation. I am sorry for that

[2022-11-30 22:01] JmillsExpensify commented on #12237
I'm with @marcaaron. I'm not sure if I agree with this bug report. Like clearly there isn't a right way here, it's just a preference. Some apps do it one way and other apps do it another way. As a result, this issue is wading into product design rather than bug fixing. I personally think we should close it until we have a larger conversation about which design is right.

[2022-11-30 22:09] pecanoro commented on #13195
I can't reproduce this, @alexpensify can you test it as well to see if we can close it?

[2022-11-30 22:15] kadiealexander commented on #11321
Discussing payment delivery [here](https://expensify.slack.com/archives/C035J5C9FAP/p1669802801418749).

[2022-11-30 22:16] pecanoro commented on #13112
Let's see if I can fix this internally to speed this up. @sonialiap I will remove your assignment since the bug was reported by Applause so no bonus here to pay!

[2022-11-30 22:17] s77rt commented on #10414
@marcaaron In short, we need to focus on the inputs right on user clicking actions without callbacks, timeouts, etc. And that textinput should be focus-able and not behind a modal that implements trap focus

**Answers**

- No, it's not, it's related to `coverScreen`. We are referring to all modals generally but for this specific case we are referring to the modal that appears after clicking on the

[2022-11-30 22:21] grgia commented on #13193
LGTM, assigning now

[2022-11-30 22:26] pecanoro commented on #13112
@kavimuru Could you send me the image that is being used for the avatar? I think the issue is related to that specific image.

[2022-11-30 22:28] Luke9389 commented on #11265
OK so I got confused about this earlier. I agree that we should split this into two issues (and tackle the one where nothing is clickable _first_).
Before we do that, I'm going to reproduce that and search to see if an issue exists already.

[2022-11-30 22:30] mountiny commented on #13159
@0xmiroslav

[2022-11-30 22:31] mountiny commented on #13159
@sobitneupane I have gone ahead and assigned @0xmiroslav as the proposal seems very reasonable to me. Let me know if you have any concerns, thank you!

[2022-11-30 22:35] pecanoro commented on #13112
Otherwise, I can't reproduce it, gray images work just fine for me.

[2022-11-30 22:36] dbond09 commented on #12512
@rushatgabhane This is not applicable for native, as that uses a different implementation in `PDFView/index.native.js`, which doesn't use web workers, so the issue doesn't seem to be occurring there.

@sketchydroide Updated the proposal with the code.

[2022-11-30 22:44] JmillsExpensify commented on #12804
Yep you sure can. It's on my list.

[2022-11-30 22:45] lschurr commented on #12724
Ah, can you try this one @aneequeahmad? https://www.upwork.com/jobs/~01b384c685e3f60dd2

[2022-11-30 22:59] aneequeahmad commented on #12724
@lschurr applied. Thanks

[2022-11-30 23:01] luacmartins commented on #13180
@mvtglobally could you give me another update on the regression tests please?

[2022-11-30 23:01] MitchExpensify commented on #12152
Made a note to pay on 2022-12-05

[2022-11-30 23:06] arosiclair commented on #10632
I repro'd this in dev on iOS, Android and mWeb.

After thinking about this a bit more I'd have to echo Rory's sentiment about the complexity of fixing this. The context menu is a modal so it intentionally covers the conversation view. We could try scrolling the selected message up to the top so it doesn't get covered, but it would still be blurred and messages at the bottom of the conversation hav

[2022-11-30 23:07] MitchExpensify commented on #12152
@isagoico Regarding the addition of a regression test, I'm curious if you think a new section for console errors (I don't see one) or adding to the existing login tests makes more sense

[2022-11-30 23:09] MitchExpensify commented on #7435
Updated the title to reflect [this](https://github.com/Expensify/App/issues/7435#issuecomment-1329876665)

[2022-11-30 23:10] conorpendergrast commented on #13209
Checking if this is a bug [in Slack](https://expensify.slack.com/archives/C049HHMV9SM/p1669849552617089?thread_ts=1669765941.027919&cid=C049HHMV9SM), and then will triage accordingly.

[2022-11-30 23:11] conorpendergrast commented on #13209
This is not a bug, but should still be done 👍

[2022-11-30 23:13] mvtglobally commented on #13180
@luacmartins around 25% left.

[2022-11-30 23:14] marcaaron commented on #10414
So following the thought that Safari on iOS is restrictive about when it allows calling `focus()` on a text input. If it _has to_ be tied to a user click interaction (I think this is what @ntdiary is saying and the link they provided). The part I'm struggling with is how we are supposed to `focus()` something that isn't on the screen yet.

The first tap on something like "New Chat" will move us to

[2022-11-30 23:15] JmillsExpensify commented on #10632
Ah that's interesting. That's one of the potential solutiosn that @roryabraham and I discussed over the phone when we aligned earlier. That would also put us back where we were before, which to echo you is `New Feature` territory. At that point I think we need to put this feature on HOLD because it's not a WAQ priority.

[2022-11-30 23:16] davidcardoza commented on #10888
@Luke9389 Anything I can help with here?

[2022-11-30 23:16] JmillsExpensify commented on #10632
@roryabraham As the issue reporter, I get the sense that you're pretty passionate about this one. Given that we're struggled with bug/feature a couple of times in this issue – and more recently, might fix the "bug" by building a new feature – I'm back to feeling that this isn't really a priority right now. Curious for your thoughts!

[2022-11-30 23:18] conorpendergrast commented on #13209
From this SO: https://stackoverflow.com/c/expensify/questions/14418
- [x] **The "bug" is actually a bug**: It's... [not actually a bug](https://expensify.slack.com/archives/C049HHMV9SM/p1669849774841279?thread_ts=1669765941.027919&cid=C049HHMV9SM). We should still do it!
- [] **The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead)**

[2022-11-30 23:19] conorpendergrast commented on #13209
Or to @aimane-chnaif to review [the proposal](https://github.com/Expensify/App/issues/13209#issuecomment-1332657784)

[2022-11-30 23:22] s77rt commented on #10414
We just must do it on the same call stack, it's okay if it takes long, just don't focus using settimeout or such...
Check my proposal above https://github.com/Expensify/App/issues/10414#issuecomment-1314058212
Using autoFocus works, as long as we render the text input at the firsr render call so we keep the same call stack

[2022-11-30 23:23] JmillsExpensify commented on #13202
Definitely polish. That said, this has come up a bunch of times so I think we should pursue a solution.

[2022-11-30 23:23] marcaaron commented on #10414
How can we possibly do that if the input is not on screen when the user navigates somewhere?

Sorry, which modal exactly? I don't see any modals blocking the input when it appears on the screen. Are you referring to the bottom docked menu?

What does "it implements trap focus by defaults" mean? Not familiar with this - can you explain it another way?

[2022-11-30 23:25] marcaaron commented on #10414
It kind of sounds like we are proposing changes that will ensure that the call to `focus()` happens in the same tick of the event loop as the click event on the FAB menu. Am I understanding that part correctly?

[2022-11-30 23:25] JmillsExpensify commented on #9181
Woo! Way to help us clear this one out.

[2022-11-30 23:29] JmillsExpensify commented on #11694
Going to float this one to Margelo today.

[2022-11-30 23:33] huzaifa-99 commented on #13044
@rushatgabhane I am not sure if my proposal is accepted? (as you linked it in the comment)

[2022-11-30 23:40] marcaaron commented on #10414
@s77rt @ntdiary the solutions you provided reintroduce a performance related bug by removing the transition loader. There's a much bigger lag when navigating after and the page just pops into view instead of a smooth (well, honestly, it could be smoother) transition.

I think we could possibly solve this by moving the loader into the OptionsSelector itself and always rendering the input?

[2022-11-30 23:42] grgia commented on #12022
I might be able to fix this while I implement the new avatars for new dots, I think we just need to match the hashing function in Web with the one in App. Mind if I assign for now @marcaaron ?

[2022-11-30 23:47] marcaaron commented on #10414
Hmm nope that doesn't work - it still looks bad with a big lag 😅

[2022-11-30 23:50] marcaaron commented on #10414
That being said... we are doing this on the search page and I think that's how it avoids the problem

https://github.com/Expensify/App/blob/820e876d5e4a8cbffe272220c1182c8942ed93cf/src/pages/SearchPage.js#L186

[2022-11-30 23:51] cowboycito commented on #10893
@Santhosh-Sellavel I have just pushed a commit to the `iss-10893/desktop-deeplink` branch implementing the design provided by @shawnborton. This is how it looks like:

<img width="1624" alt="Screen Shot 2022-11-30 at 20 49 41" src="https://user-images.githubusercontent.com/47456024/204932589-53a37c46-5cb3-41e6-ad77-bae65d20c74d.png">

[2022-11-30 23:55] dnlfrst commented on #12156
A first draft of the PR is now underway at #13215.

The draft already addresses both issues.

[2022-11-30 23:57] dnlfrst commented on #12156
I received an offer on Upwork at $250, should I already accept that or does this bump need to apply before?