[2022-06-02 14:25] parasharrajat commented on #8935
Looking at the code on react-native-web. I can that changing the disabled prop does not change the hovered state. I don't if this is a bug or expected behaviour. Hovering is a gesture of mouse. But a disabled item will never be hovered. Based on this https://github.com/necolas/react-native-web/issues/1803. Maintainer suggested the same solution.

@allroundexperts 's proposal looks good to me.

cc:

[2022-06-02 14:34] allroundexperts commented on #9240
@michaelhaxhiu Can you post any sample text?

[2022-06-02 14:37] allroundexperts commented on #9240
Also, does this apply to html as well? @michaelhaxhiu

[2022-06-02 14:39] michaelhaxhiu commented on #9240
@allroundexperts please refer to the example Chirag gave in the [slack convo](https://expensify.slack.com/archives/C01GTK53T8Q/p1651079651129459?thread_ts=1651016164.788809&cid=C01GTK53T8Q) (also linked in the GH body above).

[2022-06-02 15:08] NicMendonca commented on #9283
Job post: https://www.upwork.com/jobs/~014470d4b94fc99a28

[2022-06-02 15:20] neil-marcellini commented on #8229
Oh yeah, thanks @michaelhaxhiu. I'm waiting on 1 more approval for this PR and then it will be fixed https://github.com/Expensify/App/pull/8855.

[2022-06-02 15:39] luacmartins commented on #8286
@aswin-s your [proposal](https://github.com/Expensify/App/issues/8286#issuecomment-1140526514) looks good!

[2022-06-02 15:57] allroundexperts commented on #9283
# Proposal

## Problem
We're using `event.target.getBoundingClientRect` to get the placement position of the dropdown. The `target` can be any child of the element to which the listener is attached. As such, we're getting incorrect positions.

## Solution
We should use `event.currentTarget.getBoundingClientRect` instead to get the correct element position.

The following changes:

https://github.c

[2022-06-02 16:06] Beamanator commented on #8031
Not overdue, PR testing and reviewing in progress

[2022-06-02 16:18] mallenexpensify commented on #7644
Paid @rushatgabhane $1k for C+

Thanks for the help y'all!

[2022-06-02 16:18] #7644 closed

[2022-06-02 16:19] mallenexpensify commented on #8791
Will do @Santhosh-Sellavel !

[2022-06-02 16:33] luacmartins commented on #9277
From [this thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1654155447650749), it seems like we are on track to get this merged today :)

[2022-06-02 16:35] TomatoToaster commented on #9253
@bfitzexpensify, just noting that that there were two people who reported this bug and the GH body and title were changed to reflect this.

[2022-06-02 16:53] roryabraham commented on #9240
@allroundexperts:

For me, this issue is very easy to reproduce. Just type any code in VisualStudio or your IDE of choice, for example:

[code]

Then copy/paste it into NewDot and it will be wrapped in backticks.

Yes

[2022-06-02 16:59] phivh commented on #9283
## Proposal

To keep the position of the menu when resizing the window.

1. Add `styles.pointerEventsNone` to container of childrens inside the <Button />. Line 198
https://github.com/Expensify/App/blob/d2f9d6124a50b8420ce1378a2a3c9422df691c18/src/components/Button.js#L198
[code]
2. Preview
- Without window resize & with window resize

https://user-images.githubusercontent.com/5449119/171684157-3d

[2022-06-02 17:02] chiragsalian commented on #9240
For clarity,
- on web cmd+shift+v works on web to paste text but it does not remove formatting when pasting.
- on desktop cmd+shift+v doesn't do anything.

For both we'd want cmd+shift+v to paste text without formatting.

And for sample text, you can copy/paste the one i've written [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1651079651129459?thread_ts=1651016164.788809&cid=C01GTK53T8Q

[2022-06-02 17:23] srikarparsi commented on #9281
Hey @kavimuru I'm unable to reproduce this issue locally, would you mind trying again?

[2022-06-02 17:35] chiragsalian commented on #9242
I'm also unable to reproduce on dev, staging or production.
I don't get the action steps nor why would we need to do that, if we modify code there is a high chance things won't work as expected. If there is a reason to modify the code then the place where the code is modified should address fixing this alignment.

@Tushu17, for my understanding whats the benefit on `Pressable onPress={()` versus `

[2022-06-02 17:39] #9251 closed

[2022-06-02 17:57] mallenexpensify commented on #8541
It's because a proposal was submitted so it's daily until C+/Rajat reviews it (ie. it's working as intended)

[2022-06-02 17:58] roryabraham opened #9293 "Include source maps for staging apps"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem
We are starting to automatically create GitHub issues from mobile crash reports produced by Firebase Crashlytics for the staging and production mobile apps.

[2022-06-02 17:58] roryabraham commented on #9293
cc @AndrewGable

[2022-06-02 18:00] roryabraham commented on #9293
Full-transparency: I really don't know much about the topic of source maps, how they work, or their benefits and drawbacks. But I believe having better stacktraces in crash reports would help us to more quickly and successfully trace and fix crashes.

[2022-06-02 18:00] roryabraham commented on #9293
cc @kidroca too, since this seems like something you might be knowledgable about

[2022-06-02 18:00] mallenexpensify commented on #8846
Replied to other issue but pinging here too, it did switch to `Daily` because a proposal was submitted, ie. the world proposal is the first word from a non-employee in a post
<img width="381" alt="image" src="https://user-images.githubusercontent.com/22508304/171696335-0e5ed350-9091-49e5-bbe5-07d4df4d3194.png">

[2022-06-02 18:07] mallenexpensify commented on #7835
@gladiator-1 can you please apply for the job here and confirm once you have?
https://www.upwork.com/jobs/~0103b194cebb2bdef4

[2022-06-02 18:13] roryabraham commented on #8597
Still on hold

[2022-06-02 18:17] chiragsalian commented on #7185
Ah okay, i was looking at `BankAccount_Create` all this time which just had an error response like so,
[code]

But i believe you guys are talking about the API command before that which is `BankAccount_Get` having a response like,
[code]
and you guys would like alreadyExists to return the correct value which should have been true. Did i get that correct?

Test steps so i don't forget,
1. In NewDot

[2022-06-02 18:21] jboniface commented on #8541
oh neat, I didn't know!

[2022-06-02 18:26] parasharrajat commented on #7185
Yeah, that is correct. If `alreadyExists` can't be used for partial set accounts. Then we can add another key.

[2022-06-02 18:27] thesahindia commented on #9121
This issue is still reproducible

https://user-images.githubusercontent.com/83179295/171700492-d48ed3c8-4bfd-43fa-9501-cde4a7dbdc3d.mov

cc: @Julesssss

[2022-06-02 18:35] deetergp commented on #8927
@mananjadhav Oooh, I think I understand what @thesahindia is getting at with his proposal. We were subscribed to changes on the policy to begin with, and that the `Onyx.set` on line 527 updates it again, which causes is to redraw it again, despite the fact that nothing has changed. Is that correct @thesahindia?

Would you please perform a test where you are logged into User A and User B who are bo

[2022-06-02 18:40] thesahindia commented on #8927
@deetergp, yeah I have tested that and it's working fine.

[2022-06-02 18:44] marcaaron commented on #8545
Left a note on the linked PR, but I think this should be made `Internal` and rolled into the current platform-wide API refactor? We're adding a change we'll have to undo very soon that also breaks our API design philosophy. We will, of course, still pay everyone involved - but don't think we can proceed as planned.

[2022-06-02 18:44] stephanieelliott commented on #7081
@mananjadhav, can you share a progress update please?

It's taxing for the team to have to continually follow up here, and we really do need to keep progress moving. Unless we hear from you soon I'll be opening this  up to the pool so that someone else can pick it up and get this issue to the finish line.

[2022-06-02 19:02] mdneyazahmad commented on #7916
Asked here https://expensify.slack.com/archives/C01GTK53T8Q/p1654195847140899

[2022-06-02 19:03] thesahindia commented on #8927
I think we have another bug, while testing this I am sometimes seeing same user two times in the member list of the announce room and the removed member is still showing up even after tons of refreshes

[2022-06-02 19:05] mdneyazahmad commented on #7917
@Santhosh-Sellavel We have an issue with Button pressOnEnter  https://github.com/Expensify/App/issues/7918#issuecomment-1144280328. Asked on slack here https://expensify.slack.com/archives/C01GTK53T8Q/p1654195847140899

[2022-06-02 19:15] osama256 commented on #7835
@mallenexpensify applied with code "4635"

[2022-06-02 19:18] gladiator-1 commented on #7835
@mallenexpensify applied with code "4635"

[2022-06-02 19:24] AndrewGable commented on #9277
Ok I need help adjusting the `APPLE_ID_PASSWORD` secure variable. Asking internally.

[2022-06-02 19:36] kidroca commented on #8349
If I remember correctly this would not work on ios and require a workaround to skip the fix for that platform

@Julesssss
It's not exactly a bug in App - we're using the `selection` prop to set initial selection / cursor position, and because we're passing this prop we have to update it whenever the selection changes, otherwise it would remain  with the initial value
(Imagine using the value prop,

[2022-06-02 19:40] rafecolton commented on #9277
Password updated

[2022-06-02 19:45] mananjadhav commented on #8849
@chiragsalian Yeah, @jayeshmangwani's proposal is to use  the react native core `Image.getSize`, but it seems the package was added in another issue and would break it if we remove the package. https://github.com/Expensify/App/issues/8849#issuecomment-1128776039 So I am looking for a solution that either solves with this package or uses `Image.getSize` and doesn't break the old issue.

[2022-06-02 19:46] mananjadhav commented on #9010
Yeah @arielgreen, good to close.

[2022-06-02 19:50] kidroca commented on #8349
Where do they do that
- in their examples on how to use text fields /  selection
- or internally for some special handling?

Couldn't we apply this fix to set selection to null if the value is already the same in react native android?

I guess some additional logic is triggered when set native props is called, because echoing the same selection back should just do nothing

Maybe setting to null ca

[2022-06-02 19:54] johnmlee101 commented on #9263
I'm having a hard time detecting this in the diff between 1.1.68 and its previous versions
https://github.com/Expensify/App/compare/1.1.67-0...1.1.68-2
@mvtglobally are you saying this first appears in the 1.1.68-x versions?

[2022-06-02 19:54] mananjadhav commented on #8927
Thanks for the clarification here @deetergp. Sorry about the confusion @thesahindia.

@deetergp Could you shed some light on @thesahindia's comment that the sync doesn't exist as of now? I am not sure about that part of the feature.

@thesahindia If you have the reproducible steps for the bug, please post it on the slack channel to track and log an issue.

[2022-06-02 20:14] mananjadhav commented on #9090
@luacmartins I went through the proposals, and @allroundexperts's proposal does solve the issue. I was out sick. Still catching up.

I have a few questions about the behavior.
1. Are we saying we allow `autolink` for create message but not for edit message?
2. Is *Do nothing* an option? My experience with Slack and other tools has been that a link stays as a link.
3. What Slack does is, when I edi

[2022-06-02 21:09] mananjadhav commented on #9182
Went through the proposals @aldo-expensify.

@mollfpr's proposal looks good to go ahead.

@imran-ranglerz Adding `?` might not make sense as it would still not load the data. The goal is not to just avoid the crash but also to ensure the UX is consistent. @dhruv-silicon Agreed, and if you see that's precisely what @mollfpr pointed out. Once we have the data, then the next run will work just fine.

[2022-06-02 21:11] rushatgabhane commented on #9287
Okay, I'll get back to this tomorrow

[2022-06-02 21:20] #9277 closed

[2022-06-02 21:27] kavimuru commented on #9281
@srikarparsi I am still able to reproduce in the version 1.1.70-3

https://user-images.githubusercontent.com/43996225/171741333-b7b52fdd-fae7-4dcc-9370-ee597aabb18f.mp4

[2022-06-02 21:35] OSBotify commented on #9275
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9295) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.70-4` :rocket:

[2022-06-02 21:35] OSBotify commented on #9275
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.70-4 has been deployed to staging :tada:

[2022-06-02 21:59] luacmartins commented on #9275
@mvtglobally where are we on QA?

[2022-06-02 22:01] mvtglobally commented on #9275
@luacmartins i will update in a bit. Team is finishing Desktop slots post fix

[2022-06-02 22:06] kadiealexander commented on #9248
Thanks Hax! Got this bad boy ready for proposals:

https://www.upwork.com/jobs/~01d69478401a6b35a0
https://www.upwork.com/ab/applicants/1532483667671990272/job-details

[2022-06-02 22:09] OSBotify commented on #9275
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9299) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.70-5` :rocket:

[2022-06-02 22:09] OSBotify commented on #9275
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.70-5 has been deployed to staging :tada:

[2022-06-02 22:20] luacmartins commented on #9090
Correct!

That's always an option. Although as you mentioned in 3, editing a link in Slack gives you the option to remove it. The problem here is that even when we edit the link to remove it, it gets added back via the `autolink` parsing rule.

[2022-06-02 22:27] kadiealexander commented on #9236
Still discussing in Slack, not overdue.

[2022-06-02 22:48] luacmartins commented on #9275
Checkin off https://github.com/Expensify/App/pull/9295 and https://github.com/Expensify/App/pull/9299 since Desktop deploy is working 🎉

[2022-06-02 22:55] ctkochan22 commented on #7911
@mvtglobally If someone reports this again, please label as not an issue.

[2022-06-02 22:57] OSBotify commented on #9275
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9272) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.71-1` :rocket:

[2022-06-02 22:57] OSBotify commented on #9275
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.71-1 has been deployed to staging :tada:

[2022-06-02 23:07] AndrewGable commented on #9293
Agree no concern because it's open source, this would be great to look into.

[2022-06-03 00:23] luacmartins commented on #9275
@mvtglobally any updates?

[2022-06-03 00:40] phuongpt commented on #8849
https://user-images.githubusercontent.com/4443583/171761435-bb0c229f-7658-4bd1-84ab-46ca2d080704.mp4
I have a fix for this issue, the main reason is running a heavy native task is blocking JS UI on Android, so I created a new thread for that. Here are the main points of this fix:
* This issue happens only on Android
* Still keep using: `react-native-image-size` -> doesn't break other things
* But

[2022-06-03 00:58] mallenexpensify commented on #7835
Hired @gladiator-1 and @mananjadhav in Upwork!

[2022-06-03 01:04] mvtglobally commented on #9275
Regression is completed @luacmartins

PR #9207 is failing due to https://github.com/Expensify/App/issues/8797 and blocked on Android dues to https://github.com/Expensify/App/issues/9263 checking off as both and not blockers

Issues logged

https://github.com/Expensify/App/issues/9281
https://github.com/Expensify/App/issues/9283
https://github.com/Expensify/App/issues/9287
https://github.com/Expens

[2022-06-03 01:08] mallenexpensify commented on #9245
Me neither @PauloGasparSv !!   Let's see what suggestions we get, I'm going to start this at $1,000 cuz I don't think it'll be quick n' easy.
https://www.upwork.com/jobs/~01e47773be5ce520dd

[2022-06-03 01:14] jliexpensify commented on #9287
Assigning Kadie as I'm heading OOO

[2022-06-03 01:15] jliexpensify commented on #9088
Assigning Kadie as I am heading OOO

[2022-06-03 01:15] jliexpensify commented on #8935
Assigning Kadie as I am heading OOO

[2022-06-03 01:26] aldo-expensify commented on #9243
@parasharrajat how did you get to this state? did you take too long to click on the link from the email so it expired? or is it something else?

[2022-06-03 01:26] aldo-expensify commented on #9243
Setting this as monthly as it looks like an edge case.

[2022-06-03 04:07] bfitzexpensify commented on #9181
I'm having trouble reproducing this too. I _think_ I got it once, but it was only because I was looking out for it quite intently. I'm not sure this is noticeable enough to be worthwhile to fix.

[2022-06-03 04:08] mvtglobally opened #9305 "When the compose box expands, it moves down"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open chat
2. Type multiline message

## Expected Result:
Compose box should stay bottom-anchored at its current position and grow from the top.

[2022-06-03 04:10] bfitzexpensify commented on #9253
Upwork job [here](https://www.upwork.com/jobs/~016a9e88020aa27173)

[2022-06-03 04:45] mvtglobally opened #9307 "[$250] When requesting money, you get an error on the IOS app - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on :green-plus-button: and choose request money
2. Add amount>Press Next> Select a user

## Expected Result:
You shouldn't be getting any e

[2022-06-03 05:17] roryabraham commented on #9293
It might be tough for @kidroca to look into the crashlytics piece, because he won't have access to Firebase.

[2022-06-03 06:19] ahmdshrif commented on #7911
Hi  @ctkochan22  do i will be eligible for report bonus here ?

Can you please add external lable

[2022-06-03 07:18] parasharrajat commented on #9243
I think you may be getting confused with the error on the screenshot. But it is not about that.

There is simply no button or link which allows the user to go to login page.

[2022-06-03 07:55] brianmuks commented on #8361
@thienlnam I was checking if there is a method to check if chat is a group chat but it seems there is none.
It was suggested that I create one on the thread below. I would like to hear your thoughts on this .
https://expensify.slack.com/archives/C01GTK53T8Q/p1654092407682469

[2022-06-03 08:29] Tushu17 commented on #9242
In a PR earlier we were facing problem when we tried wrapping the text inside pressable or tooltip so you asked us([here](https://github.com/Expensify/App/pull/8409#issuecomment-1108926383)) to report it on slack but we have already found a solution and wrapping text inside tooltlip works fine so I don't think we need it.

[2022-06-03 10:46] techievivek commented on #9181
Closing this for now as per the above comments.

[2022-06-03 10:52] flodnv commented on #8721
I think this is done?

[2022-06-03 11:02] kavimuru opened #9308 "“Almost done!” screen flashes for a moment while navigating back from ‘Connect bank account’ screen reported by @aswin-s"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to workspace settings.
2. Tap on reimburse expense/pay bills/ send invoice menu and tap on ‘connect bank account’ and then tap on ‘connect man

[2022-06-03 11:07] thesahindia commented on #9308
dupe of https://github.com/Expensify/App/issues/8541

[2022-06-03 11:25] mananjadhav commented on #7081
Hi @stephanieelliott, I can totally understand and I regret having you follow up for this one. I am still recovering and will only be able to look at this by the weekend. The PR is almost 90% through and based on Marc's comment above, though minor changes, will need some time to go through and iterate. This got a bit stretched due to two of my OOOs and some delays in the communication from the tea

[2022-06-03 11:44] phivh commented on #9283
Hey @mananjadhav , maybe you are wrong, by adding `styles.pointerEventsNone` in the `renderContent` which renders inside the Button it won't affect any cursor options for the Button itself.
https://github.com/Expensify/App/blob/72aac1c027fa8ff20ba2aa966680a5afda4dab2c/src/components/Button.js#L272

However, the `Button` is wrapped by `Pressable` and `OpacityView`, see:
https://github.com/Expensify

[2022-06-03 12:41] SumitDiyora commented on #9275
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #9295, #9299
Logged Issues - #8618, #8624, #8406, #8407, #8400, #8398, #8395, #8393, #8392, #8624, #8432, #8433, #8411, #8624, #8580, #8579, #8575, #8578, #8577, #8618, #8614, #8484, #8575, #8577, #8703, #8633, #8624, #8479, #8478, #8527, #8392, #

[2022-06-03 13:22] mountiny commented on #8665
@Tushu17 Thanks for the proposed new solution to get around the regression. When do you estimate you could have new PR up we could test and review? Thank you 🙌

[2022-06-03 13:45] michaelhaxhiu commented on #8590
Discussing the improvements mentioned by carlos & chirag in #expensify-open-source [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1654262165566879)

[2022-06-03 13:47] michaelhaxhiu commented on #8590
Started a discussion in #expensify-open-source [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1654262165566879) about further improvements we can make to the flow of image upload (let's not block this job on the discussion though).

[2022-06-03 13:56] allroundexperts commented on #9283
@phivh This isn't the root of the problem. The root is a wrong usage of `target`. Also, I'm not sure how this will effect the fix you made.

[2022-06-03 14:28] twisterdotcom commented on #6438
I reproduced this today: https://expensify.slack.com/archives/C01GTK53T8Q/p1654251762961599

iPhone 12 mini, iOS 15.6 (19G5037d)

[2022-06-03 14:38] luacmartins commented on #9250
Hmm I wonder why I got assigned if @Julesssss is an ECM and is still assigned as well 🤔 @Julesssss should I keep myself assigned to this one?

[2022-06-03 14:51] anboia commented on #8292
Hey @parasharrajat , The link doesn't open for me. Any update on this? Thanks

[2022-06-03 15:04] parasharrajat commented on #8292
Sorry, no updates yet.

[2022-06-03 15:35] JmillsExpensify commented on #8287
Thanks! Payments issued via Upwork to all contributors. Have a great weekend.

[2022-06-03 15:54] AndrewGable commented on #9293
Once we get the source maps in place, I'd be happy to check Firebase

[2022-06-03 16:36] #8676 closed

[2022-06-03 16:48] stephanieelliott commented on #7081
Thanks @mananjadhav, that plan of action sounds good.

Heads up, OOO is no problem and we definitely understand everyone needs a little time off. Per [CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md), just leave a note on the issue when you plan to be out so that we know and can plan accordingly. Thanks!

[2022-06-03 16:48] neil-marcellini commented on #7617
Closing since https://github.com/Expensify/App/pull/8855 has been merged.

[2022-06-03 16:48] #7617 closed

[2022-06-03 17:14] rushatgabhane commented on #9245
@allroundexperts can you list the drawbacks of approach 1 so that we can better understand which approach to go for?

[2022-06-03 17:21] ctkochan22 commented on #7911
I don't think so? Because its not a bug, but let me ask.

[2022-06-03 17:22] OSBotify commented on #9275
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9291) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.71-2` :rocket:

[2022-06-03 17:22] OSBotify commented on #9275
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.71-2 has been deployed to staging :tada:

[2022-06-03 17:26] amyevans commented on #9290
I logged into the affected account and attempted to reproduce but was unable:

https://user-images.githubusercontent.com/7277067/171915178-d00ff5b4-ce26-459c-be05-857efb8bb08b.mov

@kbecciv could you test again and see what outcome you get?

[2022-06-03 18:06] mollfpr commented on #8292
https://github.com/react-navigation/react-navigation/issues/10014
https://github.com/react-navigation/react-navigation/issues/9875

Might have the same problem with those. By the way, this issue also happens on my iOS Chrome with the staging site.

I have a minimum workaround for this. I notice that on the iOS app, there's a loading indicator showing up before showing the `ReportActionsView`. Mayb

[2022-06-03 18:14] allroundexperts commented on #9245
The main drawback is that we'll be using an expensify hosted account. If (for some reason) google starts to charge us, the bills might get too much. @rushatgabhane

[2022-06-03 18:17] mvtglobally commented on #9275
@luacmartins Are we good to 🚀  ?

[2022-06-03 18:30] luacmartins commented on #9275
@mvtglobally the checklist is clear but we won't deploy today because it's already Friday afternoon and we won't have enough time to deal with any potential issues. Deploys will resume on Monday morning!

[2022-06-03 18:42] rushatgabhane commented on #9245
Source: https://developers.google.com/calendar/api/guides/quota

@allroundexperts I think a good long term solution would be to go for approach 2 because Calendar API has some rate limits.

Please submit a proposal for the 2nd approach with all the necessary implementation details, thanks!

[2022-06-03 18:55] iwiznia commented on #9305
I think the actual problem is that it is not initially docked to the bottom, right @shawnborton? Like that extra space below the box should not exist, right?
<img width="1065" alt="image" src="https://user-images.githubusercontent.com/521248/171930121-e897d8d2-a842-4bb4-920f-ac6e9e646b57.png">

[2022-06-03 18:58] Tushu17 commented on #8665
I have raised the PR @mountiny

[2022-06-03 19:00] thesahindia commented on #9233
@zanyrenney, no one is assigned here.

[2022-06-03 19:02] Beamanator commented on #9123
Yeah it looks like @Tushu17 & @parasharrajat  reported the but on Safari, the issue was reported to occur in Firefox by @kavimuru

[2022-06-03 19:06] luacmartins commented on #6883
@azimgd any updates?

[2022-06-03 19:16] parasharrajat commented on #9123
Waiting on something about the issue reported on firefox.

[2022-06-03 19:25] mananjadhav commented on #9245
@rushatgabhane I see you're a part of the conversation already. Are you back? Feel free to pick this up then.

[2022-06-03 19:26] allroundexperts commented on #9248
# Proposal

## Issue
The css selector `:focus-visible` is responsible for showing up the outline. When the selector `:focus-visible` is applied to an element is largely dependent browser implementation. As always, the problematic browser is Safari. Safari restores focus on an element even if an event is a `click`. On Chrome and other browser, focus is restored if event type is `keypress` ie closin

[2022-06-03 19:37] rushatgabhane commented on #9245
Heyy, yes !!

@mananjadhav that's so thoughtful of you!

@mallenexpensify I'd love to pick this issue up, discussed this 1:1 with @mananjadhav :)

[2022-06-03 19:38] mananjadhav commented on #4324
Hi @stitesExpensify, I had been OOO and I don't have enough bandwidth to work on it right now. Please open it to the pool. Considering the experience with EmojiPicker, I am fine doing C+ Review on this one.

[2022-06-03 19:41] jboniface commented on #8574
@Beamanator should we close?

[2022-06-03 19:48] arielgreen commented on #9247
https://www.upwork.com/jobs/~01b9c993db847143ab

[2022-06-03 20:12] mananjadhav commented on #9090
Then @allroundexperts's proposal looks good to me.

🎀 👀 🎀 C+ reviewed

[2022-06-03 20:15] ahmdshrif commented on #7911
Thanks @ctkochan22 for response.

But As i remember Roray say it's BUG we should fix when i report this in slack.
and  then you decide we shouldn't do any thing Because it's minor case. And based on some logic we have in code . (For me still see it bug at least we should show  messas to user to let he  know what is the error. but i agree withe you  it's minor case )

That's why i think we should a

[2022-06-03 20:16] allroundexperts commented on #9245
@parasharrajat I see a thumbs down on my proposal. Do you have any suggestion / comment?

[2022-06-03 20:21] ctkochan22 commented on #7911
Sure we can discuss.

[2022-06-03 20:30] ctkochan22 commented on #7911
The issue here is that whenever a user inputs something that isn't a number in this case, we don't update the state. When a user types in `1`, we validate that input then update the `state.amount` to `1`. When the user then types in `a`, we check the character, identify that its not a number, then we do _not_ update the `state.amount` to `1a`. We set the state to the previous value `1`.

**I don't

[2022-06-03 20:34] parasharrajat commented on #9245
I don't like this point. NewDot is not linked to google in any way. Thus this will not work.

Instead, we can do the following.

1. Start oAuth2 flow either fully client side / with backend (useful when we are giving the user a option to sign in with google).
2. Let the user login with his google email while creating the meeting.
3. If possible, allow the user to access the GMeet directly when he

[2022-06-03 20:44] Beamanator commented on #8574
I think so 👍 I was waiting for the 3rd week reproduction but it seems like we're good to go

[2022-06-03 20:44] #8574 closed

[2022-06-03 20:46] allroundexperts commented on #9247
@mananjadhav What error to show if field is empty? Should we show the `field is required` in that case?

[2022-06-03 21:00] mananjadhav commented on #7263
@chiragsalian @kbecciv I think this one is good to close it out.

[2022-06-03 21:02] mananjadhav commented on #8846
@dharmik Did you get a chance to look at my comment [here](https://github.com/Expensify/App/issues/8846#issuecomment-1144161773)?

[2022-06-03 21:04] mananjadhav commented on #8849
@phuongpt I like your idea of fixing the `react-native-image-size`. We can fork the 3rd party library and also send a PR upstream for the fix. This way we can contribute back to the open-source community and others can benefit from your fix. You can elaborate on the intended changes and we can take a look. Does that sound okay?

[2022-06-03 21:10] mananjadhav commented on #9247
@allroundexperts I feel showing `Please enter valid last 4 digits of SSN` should be okay in case of an empty field as well. At the other places like Personal Information, this is what we're showing for all the fields.

@AndrewGable can share his thoughts too.

[2022-06-03 22:25] pecanoro commented on #5536
Not a priority right now

[2022-06-03 22:26] pecanoro commented on #9179
Anyways, since this is related to offline mode, I am going to close it!

[2022-06-03 23:12] stephanieelliott commented on #8721
Hey @thesahindia, I invited you to this job on Upwork. Please accept it when you get a chance so that we can pay you out for reporting this issue!

Upwork job: https://www.upwork.com/jobs/~016afb2bde8e6f3371

[2022-06-03 23:14] stephanieelliott commented on #8942
PR is on staging

[2022-06-03 23:19] stephanieelliott commented on #9238
Posted this to Upwork: https://www.upwork.com/jobs/~01d6142210d1049054

[2022-06-03 23:31] stephanieelliott commented on #9270
Hey @kavimuru I'm not sure if I understand the issue here.

Can you clarify on:

1. What do you mean when you say it's adding a user 2 times?

   - When I click on Invite > [select invitee] > Invite, it takes me back to the `Manage Members` screen (same as in the video), and the invitee appears only once on the list. If they were added 2 times, I would expect them to appear in the list twice - am

[2022-06-03 23:40] ctkochan22 commented on #7911
@mallenexpensify let me know what you think

[2022-06-04 00:08] phuongpt commented on #8849
OK, sounds good. @mananjadhav.

[2022-06-04 00:30] kavimuru commented on #9270
@stephanieelliott  1. The issue is reproducible inconsistently. Sometimes user can click on "invite" button more than once and if we click couple times the invitee is added twice.
2. Key warning is not reproducible at all. Please ignore that step.

[2022-06-04 01:45] aldo-expensify commented on #8088
I investigate this a bit more today and I know better now when it happens, but I haven't been able to come up with a solution. I have a clearer way to reproduce it here: https://github.com/Expensify/App/pull/9195#issuecomment-1146486983

[2022-06-04 02:34] dharmik commented on #8846
Your comment:

Another thing I'd like to highlight is having two versions doesn't mean a replica of the code with just platform-specific changes. We could DRY that part of the code and ensure the quality remains intact.

The issue is only from ios as issue says so if i create seperate file for ios and android so that could be more repetitive code.

I apology it confuse me. Can you please share you

[2022-06-04 03:31] NehaSantani commented on #9281
Hey,
The error appears in web as well !
In Inbox.js file, below line is used to display message
[code]
However, when we are tapping "Call me" we are getting error from server and the result is not having the expected keys!

- we are getting  error-response as `Error {jsonCode: 'unableToRetry'}`.
- There is no "message" key coming from server in response.

[2022-06-04 05:46] thesahindia commented on #8721
Applied ✅
Thanks.

[2022-06-04 06:22] MonilBhavsar commented on #8035
Working this week

[2022-06-04 06:22] MonilBhavsar commented on #8589
Working this week

[2022-06-04 06:36] jayeshmangwani commented on #7470
@mananjadhav @stitesExpensify [PR](https://github.com/Expensify/App/pull/9294) has been raised

[2022-06-04 08:46] mananjadhav commented on #7470
I should’ve commented on the PR. I am in process of reviewing your PR only and testing it. I’ll update by eod today.

[2022-06-04 12:05] ahmdshrif commented on #8349
Thanks, @kidroca for your feedback
but it looks like my proposal was not clear to you.

I see from comments you think I do these changes on the app level (we can do this )
but I do these changes on the bridge level instead.
and the bridge has a different component for android than ios.

please check here https://github.com/ahmdshrif/react-native/commit/9f8bf5003a5f62b44b03a980654f83c2fe105f4f

why

[2022-06-04 13:16] jayeshmangwani commented on #9234
#### Proposal

Cause:

We are using a Text component in TextInputLabel and this issue is happening when we press on the Text labels, otherwise, it is working fine, and here we have to disable the touchable of the label so that textinput's touchable can work

Solution:

we can disable the touch events here by

https://github.com/Expensify/App/blob/50da22fa41944f42b7c36ba7a91f0ab737eb6cc6/src/compon

[2022-06-04 13:25] jayeshmangwani commented on #9270
https://user-images.githubusercontent.com/35371050/172000967-719bf382-782b-45d5-91fb-687e38057fea.mov

@stephanieelliott @kavimuru
1. in the invite new members page select a user and press the invite button 2 times, it will add a user twice, either we have to prevent multiple touches on the page or need to handle the same user can not be added twice
2. please ignore key warnings, it's getting when

[2022-06-04 13:34] techievivek commented on #9085
Not overdue. Work is in progress.

[2022-06-04 13:35] mdneyazahmad commented on #8292
## Proposal

As the root cause is already understood, as soon as the component is mounted, it tries to focus and it causes the issue. I am proposing to emit an event `drawerClosed` in `@react-nativation/drawer`. We then focus when the drawer is closed.

https://github.com/Expensify/App/blob/fd29904ef9857e6c5b858da04d52c8dec0d5c369/src/pages/home/ReportScreen.js#L203-L208

Pass `navigation` to `Rep

[2022-06-04 13:38] allroundexperts commented on #9247
# Proposal

## Issue
The component `AdditionalDetailsStep` needs a prop `walletAdditionalDetails` with a list of error messages for each field. In our case, we're not passing in that prop. If the prop is not passed, then the default error is shown as seen following:
https://github.com/Expensify/app/blob/51fb61808d84f4aae4c6cbb3f6875d43d355fbb5/src/pages/EnablePayments/AdditionalDetailsStep.js#L144

[2022-06-04 14:10] thesahindia commented on #9247
### Proposal

We can create an object errorTranslationKeys like we have for other pages -

(it's just for example so not showing all the keys)
[code]
on line 144 we just have to replace the code with `return this.props.translate(this.errorTranslationKeys[fieldName]);` to show different errors

https://github.com/Expensify/App/blob/50da22fa41944f42b7c36ba7a91f0ab737eb6cc6/src/pages/EnablePayments/A

[2022-06-04 18:13] liyamahendra commented on #9283
# Proposal

### Problem

As shared by @allroundexperts the root cause of this is the use of `target` instead of `currentTarget` in the `function getClickedElementLocation` method call.

`event.currentTarget` tells us on which element the event was attached or the element whose eventListener triggered the event whereas `event.target` tells where the event started.

However, there are two problems w

[2022-06-04 18:18] liyamahendra commented on #9283
Apparently the screencast uploaded in the previous message doesn't seem to play. You may view it here: https://www.veed.io/view/3dda4edd-5079-4314-8683-1386e373ac05

[2022-06-04 18:38] allroundexperts commented on #9283
The browser resize issue exists with the original implementation as well. No where in the ticket, was it mentioned that responsiveness needs to be fixed.The ticket and the video posted, mention the issue which was fixed in my PR.

[2022-06-04 18:40] shawnborton commented on #9305
This might be related to the fact that we removed the "XXXX is typing..." from below the compose input. Maybe this is just a weird flexbox thing happening since that space is now dead, and it now shrinks when the content above it grows. So perhaps when we revert the whole typing indicator fiasco this will self-resolve?

[2022-06-04 19:42] liyamahendra commented on #9283
Sure, no offence please @allroundexperts.

Your did still introduce the javascript error as shared in my proposal and so I opted to propose a new solution. Cheers :)

[2022-06-04 20:53] kbecciv commented on #9290
@amyevans Issue have been reproduced only on IOS and Android apps.  Please attach the video in Android app.

https://user-images.githubusercontent.com/93399543/172025139-add12bf9-68a0-4fa7-8254-fa9dc24d89f2.mp4

[2022-06-04 21:24] allroundexperts commented on #9283
@liyamahendra Thanks for pointing out the error. We can easily fix it by changing the `getClickedElementLocation` to:
[code]

[2022-06-04 21:28] allroundexperts commented on #9283
I was wrong here. The original version WAS responsive. It was my change which introduced the bug that @liyamahendra pointed out. I've updated my proposal to handle that bug. I still feel like my solution is more simpler and to the point.

[2022-06-05 09:02] thesahindia commented on #9182
I think it's a dupe of https://github.com/Expensify/App/issues/8545
cc: @aldo-expensify @mananjadhav

[2022-06-05 09:04] marktoman commented on #8349
The problem is caused by [this line](https://github.com/facebook/react-native/blob/ba6bf5a3ce7039a7e407a6632ee41aa3d504f833/ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactEditText.java#L567) in RN Android.

### Proposal

Wrap the line with the below to prevent redundant calls:
[code]

We can add a similar guard to [setSelection](https://github.com/facebook/react-native/blob/ba6

[2022-06-05 10:46] liyamahendra commented on #8791
Based on what @mvtglobally reported [here](https://github.com/Expensify/App/issues/8791#issuecomment-1124297736), I did some local testing for the fix, which I believe solves this issue.

But apparently, since the iOS Smart banner can't be shown while running the site locally, is there a provision to test my changes on staging for a brief moment and revert it immediately? This will allow me to ver

[2022-06-05 10:50] parasharrajat commented on #8595
Can anyone please update the OP with the correct(final) mockups?

[2022-06-05 11:25] parasharrajat commented on #8595
Started reviewing the PR.

[2022-06-05 12:41] liyamahendra commented on #9234
# Proposal

### Problem

The issue is when either of Firstname or Lastname Input field is focused with keyboard visible, if you try to focus on the other input field, the keyboard which was visible becomes invisible.

### Solution

The Firstname and Lastname textfields are wrapped inside a `ScrollView`. The `ScrollView` has a props `keyboardShouldPersistTaps` which can be set to solve this issue.

[2022-06-05 12:44] parasharrajat commented on #8292
@mdneyazahmad I got your idea. Although you didn't explain it your proposal that why it works, I think it can a solution to the problem. But I doubt that your approach will be ideal. Did you check any old issues on React-navigation about requests for such (drawerClosed) events? Let's see them.

I guess author does not consider this event necessary, that's why he didn't implemented it. Did you expl

[2022-06-05 13:06] allroundexperts commented on #9245
@rushatgabhane @parasharrajat Has really explained the approach we need to take. Most of the stuff that we need here will sit on the backend. @rushatgabhane What sort of implementation details are you looking for?

[2022-06-05 15:31] ahmdshrif commented on #8349
You broken the text change and not solve the issue at all.
I recommend to test all test cases in rn app with any chance you make .

This true and i mention we can do this on my last comment.

[2022-06-05 16:04] frenkield commented on #8595
My net hourly rate here is already comically low. And it appears that there are still many, many hours of work to do.

Whom do I contact in order to request more money for this project?

[2022-06-05 16:57] thesahindia commented on #7470
I tried the solution but it didn't fix the issue on mWeb also we should fix https://github.com/Expensify/App/issues/8981 here

<img width="280" alt="Screenshot 2022-06-05 at 10 20 20 PM" src="https://user-images.githubusercontent.com/83179295/172061403-66520eb8-a1bc-4d1a-a7df-4820c9e4ba8b.png">

[2022-06-05 18:25] rushatgabhane commented on #8851
Hello, #9193 caused some [console errors](https://github.com/Expensify/App/pull/9193#issuecomment-1146778920).

I've raised PR #9315 to fix them.
@trjExpensify please note that this is a regression.

[2022-06-05 21:45] OSBotify commented on #9275
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9315) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.71-3` :rocket:

[2022-06-05 21:45] OSBotify commented on #9275
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.71-3 has been deployed to staging :tada:

[2022-06-05 22:22] rushatgabhane commented on #9287
@thesahindia Hmm, I highly doubt because content width is set to 80% https://github.com/Expensify/App/blob/50da22fa41944f42b7c36ba7a91f0ab737eb6cc6/src/components/RenderHTML.js#L19

<hr />

Yep, that's close but doesn't explain why that's a problem or a fix for it.

### Fix

Add this prop to Tooltip `containerStyles={[styles.dInline]}`

https://github.com/Expensify/App/blob/26956bb813f2c0ef9b256b0

[2022-06-05 22:51] rushatgabhane commented on #9287
Alright, so here's what I think.

- This is occuring because of `RenderHTML`. We started using `RenderHTML` for messages that _can be long_ very recently (~10 days).
- So the root cause behind this issue is new and **unknown**.
- This issue is a regression from #9199, and not #8409

I think we should treat the issue mentioned on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p16541588476

[2022-06-06 00:08] rushatgabhane commented on #9287
Update: aha!

Adding `styles.breakAll` fixes `RenderHTML` being nested inside `Text` on Web.
But on native, `styles.breakAll` is a no-op, THIS IS THE ROOT CAUSE!

So this looks like a purely css solution to me!
cc: @thesahindia

[2022-06-06 00:58] rushatgabhane commented on #9234
Hmm, making the page compatible with Form should solve this issue too.
https://github.com/Expensify/App/blob/26956bb813f2c0ef9b256b06a3d90df10b82e5d2/src/components/Form.js#L184

@marcochavezf can you reproduce this issue? I could repro this issue 2 days ago, but now it seems to be fixed!

[2022-06-06 01:28] rushatgabhane commented on #9248
@allroundexperts can we also fix the blue line in the bottom of payment list?
<img width="391" alt="image" src="https://user-images.githubusercontent.com/29673073/172079927-77488a5b-7c90-4893-a312-690b93c50af6.png">

[2022-06-06 08:11] MonilBhavsar commented on #9239
Making it weekly and is on hold

[2022-06-06 08:57] allroundexperts commented on #9248
@rushatgabhane Updated proposal.

[2022-06-06 08:59] rushatgabhane commented on #9248
@thienlnam I like @allroundexperts's [proposal](https://github.com/Expensify/App/issues/9248#issuecomment-1146290970).

 🎀 👀 🎀 C+ reviewed

[2022-06-06 09:47] Julesssss commented on #9250
Odd, I was OOO but I didn't think auto-assignment was smart enough to know that? Anyway, I'll keep it 👍

[2022-06-06 09:50] Julesssss commented on #8846
Manan was correct, his [link](https://github.com/Expensify/App/#platform-specific-file-extensions) shows the correct pattern for implementing fixes for specific platforms.

[2022-06-06 09:53] trjExpensify commented on #6438
@mallenexpensify, just a heads up that I've dropped myself off this issue as the [backup CM](https://github.com/Expensify/App/issues/6438#issuecomment-1036673844).

[2022-06-06 09:56] trjExpensify commented on #8362
PR is waiting to be deployed to staging, Melv. 👍

[2022-06-06 09:58] trjExpensify commented on #8459
Back from OoO today, so I've hired you on Upwork @sobitneupane.

Update for Melv: PR is in review, it's on @parasharrajat to review. 👍

[2022-06-06 10:12] trjExpensify commented on #8915
👋 @jrstanley, did you bring this one up in #expensify-open-source or have any other ideas here?

[2022-06-06 10:14] trjExpensify commented on #9123
👋 Hey all! What's the latest here?

[2022-06-06 10:18] trjExpensify commented on #9229
Oh weird, not sure why Melv assigned this to me while I was OOO.

Job is on Upwork here: https://www.upwork.com/jobs/~018b99730f8f9ca365

[2022-06-06 10:36] sketchydroide commented on #8710
I have made some more work on this, and came to a new issue.
When [fetching](https://github.com/Expensify/App/blob/65f20e83d074927e3cb85e56928a9f18d6e556b8/src/libs/actions/Report.js#L356) the Chats/Reports after the user is deleted, the call returns a 404.
This seems to be because the user has no longer access to this report. [This returns false](https://github.com/Expensify/Auth/blob/5388fba2be6

[2022-06-06 10:43] thesahindia commented on #9121
@Julesssss, should I report it on slack then?

[2022-06-06 11:02] Julesssss commented on #9121
Yeah, I think so. Let's treat it as a new issue to solve.

[2022-06-06 11:40] sketchydroide commented on #8710
I think we might need to wait for the API refactor for this to be looked at, or make this part of that work.
At the moment I might be doing work that is going to be redone by API refactor

[2022-06-06 11:42] sketchydroide commented on #8348
@roryabraham or @marcaaron do you know if this behaviour is expected?

[2022-06-06 11:57] trjExpensify commented on #9252
👋 @kbecciv @Tushu17, it took me a second to figure this out based on the steps provided and the issue title. Do you think it's more accurately described as:

Title: _Android - Edit message - keyboard is dismissed after selecting an emoji_

Action steps:
1. Send a message in any chat in App
2. Long press the message and tap on `Edit message`
3. Tap on the emoji picker
4. Select an emoji and observe

[2022-06-06 12:09] trjExpensify commented on #8851
Cool, thanks @rushatgabhane. 👍

[2022-06-06 12:40] allroundexperts commented on #9245
@rushatgabhane Expensify will need to create an APP on google and share its client id and api key. Also, if you want to move with client sided oAuth flow, please note that we won't be able to store long lived token in our database. The client side generated tokens are short lived. To have more control, I'll suggest to go with backend authorisation.

[2022-06-06 12:42] kidroca commented on #8349
@ahmdshrif

There's already one workaround code that deal with selection here: https://github.com/ahmdshrif/react-native/blob/9f8bf5003a5f62b44b03a980654f83c2fe105f4f/Libraries/Components/TextInput/TextInput.js#L932-L942

[code]

Seems your proposal and the existing code around `lastNativeSelectionState` are very similar,
both compare `selection` to the last captured native selection: https://gith

[2022-06-06 12:45] trjExpensify commented on #6154
@rushatgabhane - I've assigned this back to you now that I'm back. Can you provide a quick recap of what's outstanding to be figured out here for clarity?

[2022-06-06 13:02] ahmdshrif commented on #8349
[code]

i take some idea form this  existing code  but at the end the `nativeUpdate.selection` and `setLastNativeSelection`
not affect the props that send to native it is just some value they save to calculate where they should send an event to native with ` viewCommands.setTextAndSelection()`.

but the selection props is sent every time that it gets updated so i want to do something similar to pr

[2022-06-06 14:27] parasharrajat commented on #9123
Waiting for proposals/discussion on the issue with Firefox browser.

[2022-06-06 14:36] thesahindia commented on #9229
@parasharrajat, the issue is for android only. It works fine at other platforms.

[2022-06-06 14:45] mountiny commented on #7915
Merged, let's hope everything will go smooth 🎉  Great work @mdneyazahmad

[2022-06-06 14:52] stephanieelliott commented on #9238
Oops, thanks @Puneet-here!

[2022-06-06 15:04] luacmartins commented on #9090
@allroundexperts your [proposal](https://github.com/Expensify/App/issues/9090#issuecomment-1133208228) looks good! Assigning you to this issue.

[2022-06-06 15:08] gladiator-1 commented on #7835
_on small screen Android devices_,: when we go back from `ReportScreen`, `componentWillUnmount` inside the `ReportScreen` won't call, there's nothing happens, we are actually on the same screen and only closing and opening the drawer, so if we play any video inside the `ReportScreen` and go back the video is still playing, to fix it we can put a webview video container as a video thumbnail in `Rep

[2022-06-06 15:28] stitesExpensify commented on #7835
I'm a bit confused, what needs to be done on the back end?

[2022-06-06 15:35] Beamanator commented on #9123
@kavimuru can you please confirm if this issue still can be reproduced on Firefox?

[2022-06-06 15:48] mananjadhav commented on #7081
@marcaaron Thank you for clarifying the different scenarios. These weren't covered before.

Agreed. We don't need to show the loader for case 2. For case 1, here are my proposed changes.

In `ReportScreen.js`,
1. Update the body for `shouldShowLoader`
[code]
2. Add `isLoadingReportActions` to props from Onyx:
[code]
We won't be needing the `isLoading` and `isSkeletonUIVisible` flags.

4. In `Repor

[2022-06-06 16:13] AndrewGable commented on #9275
Feel free to ignore the CP @yuwenmemon - I sorted it

[2022-06-06 16:14] marcaaron commented on #9283
Just catching up as there is a lot of back and forth and I'm not sure if I understand the root cause.

One question I have about [this solution](https://github.com/Expensify/App/issues/9283#issuecomment-1145030076) is that we are not being very specific about the html element we are targeting and why we are targeting it. Why would we use `target` sometimes and `currentTarget` other times and not o

[2022-06-06 16:19] #8229 closed

[2022-06-06 16:26] liyamahendra commented on #9283
@marcaaron did you have a chance to review my proposal? Would love to hear your comments please!

[2022-06-06 16:30] allroundexperts commented on #9283
@marcaaron We're using `target` only when `currentTarget` is undefined. This is to handle the case that @liyamahendra pointed out.

[2022-06-06 16:36] luacmartins commented on #9275
I think we are good to ship it.

[2022-06-06 16:39] rushatgabhane commented on #6154
@trjExpensify thank you!

So.. we're waiting for proposals.

We aren't looking for workaround solutions that use `setTimeout`, or platform specific code for handling `selection`.
Also, I'd like for all `react-native` bugs (if any) to be merged in https://github.com/Expensify/react-native

[2022-06-06 16:49] parasharrajat commented on #7081
If I remember correctly, it was decided that spinner is best suited for loading more messages scene.

[2022-06-06 16:55] neil-marcellini commented on #9061
I have an idea for this since I implemented a similar fix in this PR https://github.com/Expensify/App/pull/9031. I'll put up a proposal.

[2022-06-06 17:14] #9275 closed

[2022-06-06 17:23] mollfpr commented on #9183
### Proposal

On `Avatar -> Image` component replacing `source` props to `defaultSource` seems fix the issue. I don't really know what the cause is. Here's are the reference https://github.com/facebook/react-native/issues/981#issuecomment-354767548

We also need to specify the props on Android since `defaultSource` is not available.

https://github.com/Expensify/App/blob/19e673307e00b86df696a1b14e

[2022-06-06 17:50] kavimuru commented on #9058
@marcaaron This issue occurs only if the user hits "`Enter`" in the `set  password` screen. I have confirmed with the tester too.

[2022-06-06 17:58] liyamahendra commented on #9283
@marcaaron I'll explain why we need to use `currentTarget` and not `target` to address the root cause of this issue.

The "Add payment method" is a composite control (if I may say so) consisting of the text label wrapped inside a Button. This issue specifically occurs when the click is **on the text** of the button. If the click is anywhere in the green background, the issue doesn't occur. This ca

[2022-06-06 18:03] stitesExpensify commented on #7835
Hm okay, got it. I missed it the first time that there were extensive backend changes necessary.

I have 2 questions:
1. We don't use node.js, we use PHP for our API layer. Do you know if there is a comparable method to `fs.createReadStream(filePath, options);` that we can use?
2. We don't store video files ourselves, they are in an s3 bucket. Do you know if there is a way to only download video f

[2022-06-06 18:21] liyamahendra commented on #9283
I see that the screencast showing the issue and my fix which I uploaded on a 3rd party service is no longer available today. Uploading the screencast on YouTube. Here is the link to it: https://www.youtube.com/watch?v=PmpMYSfhKuQ

@marcaaron @mananjadhav please share your comments and review my proposal! Thank you!

[2022-06-06 18:22] AndrewGable commented on #7860
On hold MelvinBot

[2022-06-06 18:23] thienlnam commented on #9238
To clarify, we want to disable the timezone display when there are multiple users in a group / chat.  So regardless of default or user created room

[2022-06-06 18:24] Beamanator commented on #9305
@iwiznia did you mean to unassign @JmillsExpensify ? 😅

[2022-06-06 18:28] iwiznia commented on #9305
Oh no, sorry about that.. Reassigning

[2022-06-06 18:31] Justicea83 commented on #9084
Agree

[2022-06-06 18:36] adelekennedy commented on #9084
@flodnv @iwiznia @marcaaron are we good to close this?

[2022-06-06 18:39] allroundexperts commented on #9248
@thienlnam It doesn't effect keyboard. As mentioned in the proposal, the blur happens on mouse click only.

[2022-06-06 18:39] adelekennedy commented on #8927
not overdue - we're still reviewing proposals

[2022-06-06 18:46] allroundexperts commented on #9090
Applied on upwork!

[2022-06-06 18:51] #7386 closed

[2022-06-06 18:51] #8237 closed

[2022-06-06 18:51] #8243 closed

[2022-06-06 18:52] rushatgabhane commented on #9088
still holding

[2022-06-06 18:56] deetergp commented on #8927
@thesahindia Okay, that's good to know. It's a feature we should add, but it is definitely out of scope for this issue. Just to confirm, with your  proposal, both the the user doing the removing and the user being removed see the change? The remover sees the the user being removed disappear from the list and the user being removed no longer sees the room?

[2022-06-06 19:02] allroundexperts commented on #9244
# Proposal
As suggested by @conorpendergrast, we need to set `autoComplete` to `new-password` for the specific text input.

The following changes:

https://github.com/allroundexperts/Expensify/blob/0f38b9a0107977e2b49edef1534caf1199e08b38/src/pages/settings/NewPasswordForm.js#L71

To:

[code]

[2022-06-06 19:05] stitesExpensify commented on #7470
@jayeshmangwani just wanted to make sure you see this ^

[2022-06-06 19:07] mountiny commented on #8665
There was a regression with the original PR so removing the label and title prefix and we will wait for the second PR which was just deployed to staging.

[2022-06-06 19:08] jayeshmangwani commented on #7470
@stitesExpensify I am not sure but are you saying that I need to check this https://github.com/Expensify/App/issues/7470#issuecomment-1146848162 ?

[2022-06-06 19:08] Harshdeepjoshi commented on #9244
###Proposal
Problem
We're nor passing any prop to decide the behaviour of auto complete in the input field
Solution
We should pass a prop autoCompleteType="new-password" for web and autoCompleteType="password-new"
new-password does not work for native

we will pass the new value here
https://github.com/Expensify/App/blob/dc300ee45cde0124f6223f715a526c0f50ef2dcc/src/pages/settings/NewPasswordForm.j

[2022-06-06 19:09] allroundexperts commented on #9061
# Proposal

As correctly mentioned by @parasharrajat, this is a problem with iOS safari.

## Solution

We need to run code specific to the iOS Safari browser. In order to do that, the following file is changed:
https://github.com/Expensify/App/blob/56213d07d5e10b5ecf1cb2fae2d82aff9360bb5a/src/setup/index.js#L1-L47
to:
[code]
A new file called `src/libs/iOSSafariResizeHandler/index.website.js` is t

[2022-06-06 19:13] iwiznia commented on #9084
Yep

[2022-06-06 19:15] mananjadhav commented on #7470
Yes, @jayeshmangwani.

[2022-06-06 19:15] rushatgabhane commented on #9244
@allroundexperts @Harshdeepjoshi I'm really confused here.

`autoComplete="new-password"` works on web only.
`autoComplete="password-new"` works for Android only. ([React native docs](https://reactnative.dev/docs/next/textinput#autocomplete-android))

So.. what should we do here to fix this issue for web, iOS and Android?

[2022-06-06 19:16] thienlnam commented on #9248
👍 We can move forward with this proposal, @rushatgabhane when you're testing, can you please make sure to check that the user can navigate through menus and buttons by clicking and then using keyboard shortcuts and vice versa?

[2022-06-06 19:17] Harshdeepjoshi commented on #9244
@allroundexperts yes it was a typing mistake

[2022-06-06 19:18] iwiznia commented on #7909
So is there anything left to be done here?

[2022-06-06 19:20] pecanoro commented on #7432
I finally found some time to test it! Sorry for the delay

[2022-06-06 19:21] allroundexperts commented on #9244
@rushatgabhane We can do a quick platform check to determine that.

[2022-06-06 19:23] allroundexperts commented on #9244
@rushatgabhane Updated my proposal to handle this.

[2022-06-06 19:24] pecanoro commented on #8935
Thanks @parasharrajat, proposal sounds good to me too! @allroundexperts, feel free to apply for the job in Upwork! I will assign the issue to you

[2022-06-06 19:26] Harshdeepjoshi commented on #9244
@rushatgabhane we can pass `textContentType` to `newPassword`

[2022-06-06 19:26] chiragsalian commented on #9245
cc @deetergp / @luacmartins for some thoughts, so scott you've worked on the migration of chronos to web-e and carlosM i believe you've worked a bit on the google calendar in Chronos. How difficult/feasible would be to have our backend create google calendar invite with video link for two users not on Expensify domain?

[2022-06-06 19:26] allroundexperts commented on #9248
@thienlnam Applied.

[2022-06-06 19:28] rushatgabhane commented on #9244
@allroundexperts it's highly recommended to post updated proposals as a new comment.

And we use [platform specific extensions](https://github.com/expensify/app#platform-specific-file-extensions) over in-line platform code.

@Harshdeepjoshi yeah, that could work! Please post an updated proposal, thank you!

[2022-06-06 19:29] allroundexperts commented on #8935
@pecanoro The job is no longer available. Can you check?

[2022-06-06 19:33] allroundexperts commented on #9244
@rushatgabhane Apologies. Mine updated proposal is same as that of @Harshdeepjoshi.

[2022-06-06 19:34] rushatgabhane commented on #9244
@allroundexperts no worries :)

[2022-06-06 19:38] pecanoro commented on #8935
@kadiealexander Can you check if the job is still there?

[2022-06-06 19:40] jayeshmangwani commented on #7470
@thesahindia I have tried with safari and chrome and it's working on my side, can you please send me the device/browser where are you getting that this solution is not working?
cc: @mananjadhav @stitesExpensify
Thanks!
![Screenshot 2022-06-07 at 1 06 20 AM](https://user-images.githubusercontent.com/35371050/172235127-b80f2c6a-262b-437a-95b5-407108ff96d4.png)
![Screenshot 2022-06-07 at 12 55 13 AM]

[2022-06-06 19:58] Harshdeepjoshi commented on #9244
@rushatgabhane please check my updated proposal, I have added the necessary changes.

[2022-06-06 20:25] mallenexpensify commented on #7911
Weird, I thought I commented. I def read (then re-read to try to make sure I understood everything).
I'm on board with your reasoning @ctkochan22 , I hadn't even tried to paste numbers or letters into the amount field before.

@ahmdshrif can you test to see how it works for a currency with more than 2 decimal places? I wasn't able to update my default currency (possibly because I'm on the Expensif

[2022-06-06 20:31] mallenexpensify commented on #6438
@kavimuru can you test too please and reply with your findings?

[2022-06-06 20:47] #7909 closed

[2022-06-06 21:06] neil-marcellini commented on #9061
My plan is to use the visual viewport API to add a margin top to the `ScreenWrapper` component, but only if we pass the prop `shouldAddMobileWebMargin`. I think it would be good to enable it only for certain pages at this point.

<details>
<summary>Here is the diff with my proposed changes</summary>

[code]

</details>

Here is a video showing the fix. I did notice that the content sort of snaps b

[2022-06-06 21:20] parasharrajat commented on #9061
@allroundexperts Could you please share a clip of the final effect. It would good for comparison.

@neil-marcellini Hmm, looking good to me. But please test a few edge cases, It should not interfere with other components. A few such cases would be, Report Screen and focusing on composer, Fixed input at the bottom of the screen(Workspace invite member page).

I guess that web does not expose animat

[2022-06-06 21:21] allroundexperts commented on #9061
@neil-marcellini Using `transform: translateY(offsetTop)` will be much more performant. Either ways, we can either scrollY to 0 OR do a transform (translateY). I prefer first one because it's not dependent on `e.target.offsetTop`.

[2022-06-06 21:26] allroundexperts commented on #9061
@parasharrajat Here's how my proposal looks like:

https://user-images.githubusercontent.com/30054992/172252034-6de325b1-8f4d-4173-995a-cc4d1b8d68de.mp4

[2022-06-06 21:44] neil-marcellini commented on #9061
Since we have to pass the `shouldAddMobileWebMargin` prop in order to activate the effect, it can only effect pages within the `IOUModal` `ScreenWrapper`. These pages are `IOUAmountPage`, `IOUParticipantsPage`, `IOUConfirmPage`, which is the page we are working on here. Each page seems to be fine and they can be seen in my video.

@allroundexperts What I like about `marginTop` is that it actually

[2022-06-06 21:50] mateusbra commented on #7909
I think only the payment is pendent here

[2022-06-06 22:12] yuwenmemon opened #9326 "Deploy Checklist: New Expensify 2022-06-06"
**Release Version:** `1.1.72-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8299
  - [ ] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8498
  - [ ] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8819
  - [ ] QA

[2022-06-06 22:38] kadiealexander commented on #8595
You can ask here! Please let me know what you feel is fair for this job and we'll discuss this internally.

[2022-06-06 22:40] kadiealexander commented on #8935
@allroundexperts please try here:

upwork.com/ab/applicants/1533941873075810304/job-details
https://www.upwork.com/jobs/~01ca764cc89eb24cad

[2022-06-06 22:50] ahmdshrif commented on #7911
@mallenexpensify Same thing with the currency with 3 decimal place .
 https://user-images.githubusercontent.com/21364901/172261767-f28308fe-00db-4981-b678-d31d490fb804.mp4

[2022-06-06 22:53] allroundexperts commented on #8935
Applied.

On Tue, 7 Jun 2022 at 3:41 AM, kadiealexander ***@***.***>
wrote:

[2022-06-06 22:55] kadiealexander commented on #8935
Thanks for the quick turnaround, just sent you an offer.

[2022-06-06 23:03] kadiealexander commented on #9308
Closing as dupe of https://github.com/Expensify/App/issues/8541

[2022-06-06 23:03] #9308 closed

[2022-06-07 00:16] luacmartins commented on #9245
Hmm I think most of the work would be on getting user permissions to access/manage their calendars, which we are already discussing in this issue.

I'm not too familiar with that part of Google's API, since the work I did was on our own domain and authentication was already handled. My guess is that it would be quite challenging, but I could be wrong.

[2022-06-07 00:17] luacmartins commented on #6883
Nice! Thanks for the update. Let me know when things are ready to be reviewed!

[2022-06-07 01:20] frenkield commented on #8595
Thanks, @kadiealexander.

This project is taking significantly longer than anticipated. I've already spent 50 hours on it and we're still only 50%-60% complete. I'd like to modify the terms of the contract as follows:

1. The total price is upped to $2000
2. There are 2 milestones: one for $500 and the second for $1500
3. The first milestone (for $500) is marked completed - and thus the $500 are r

[2022-06-07 01:24] kadiealexander commented on #9248
@allroundexperts Hired on Upwork!

[2022-06-07 01:41] kadiealexander commented on #9236
Going to close this as I think we have consensus on this being the intended behaviour. If you think this should change @Tushu17 please submit the issue as a problem solution statement or Feature Request in Slack. :)

[2022-06-07 01:41] #9236 closed

[2022-06-07 02:13] marcaaron commented on #8229
Awesome! Thanks for all your hard work and patience with this one @neil-marcellini

[2022-06-07 02:14] kadiealexander commented on #8595
Thanks @frenkield, I have taken this to the team to discuss internally and will be in touch.

[2022-06-07 02:16] frenkield commented on #8595
Ok great. Thanks, @kadiealexander.

[2022-06-07 02:23] kadiealexander commented on #8663
@parasharrajat and @b1tjoy could you please share an update here?

[2022-06-07 02:25] kadiealexander commented on #8545
@marcaaron could you please lay out the steps we need to proceed with that? Should we just close the current PR and pay @eVoloshchak and @Santhosh-Sellavel now?

[2022-06-07 02:25] kadiealexander commented on #8286
@aswin-s Could you please share an update here?

[2022-06-07 02:31] kavimuru commented on #6438
@mallenexpensify  Not able to reproduce in the build 1.1.72-0

https://user-images.githubusercontent.com/43996225/172283085-887a7a5e-8a5f-48b7-b446-ac6979799c5a.mp4

[2022-06-07 03:25] mvtglobally opened #9329 "[$250] Markdown file names are mistakenly confused as links"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Send "ThisIsATest.md" in a chat message

## Expected Result:
The message ThisIsATest.md should not be transformed into a link.

## Actual Result:
Th

[2022-06-07 03:26] aldo-expensify commented on #9182
Thanks @mananjadhav

@thesahindia they look similar indeed, I'll have a look

[2022-06-07 03:29] mvtglobally opened #9330 "When you send a message on Desktop Chrome you can't edit it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. User is on the slow network (enable `simulate failing network requests` on staging to reproduce)
2. Send multiple messages
3. Immediately after w

[2022-06-07 03:38] JmillsExpensify commented on #9137
Whoops, totally missed this one. Thanks @marcaaron for keeping this moving forward. ❤️

[2022-06-07 03:53] mvtglobally commented on #8047
Issue not reproducible during KI retests. (Third week) Closing

[2022-06-07 03:53] #8047 closed

[2022-06-07 03:57] mvtglobally commented on #8420
Issue not reproducible during KI retests. (Third week) Closing

[2022-06-07 03:57] #8420 closed

[2022-06-07 03:58] mvtglobally commented on #8520
Issue not reproducible during KI retests. (First week)

[2022-06-07 04:01] mvtglobally commented on #8731
Issue not reproducible during KI retests. (First week)

[2022-06-07 04:04] mvtglobally commented on #8956
Issue not reproducible during KI retests. (First week)

[2022-06-07 04:05] mvtglobally commented on #9010
Issue not reproducible during KI retests. (First week)

[2022-06-07 04:10] mvtglobally commented on #9229
Issue not reproducible during KI retests. (First week)

[2022-06-07 04:16] mvtglobally opened #9331 "[HOLD for payment 2022-09-02] [$250] The unpin tooltip is clipped on Desktop"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Pin
3. hover over the pin icon

## Expected Result:
Text should be visible

## Actual Result:
Text is not visible when hover ove

[2022-06-07 04:18] mvtglobally opened #9332 "[$500] Entering a link with #something=something), at the end includes the ), in the link"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a Google Doc
2. add a Header (some text with the Heading 1 type)
3. put your cursor in the header
4. copy the link, paste in NewDot & add ),

[2022-06-07 04:22] techievivek commented on #9085
Not overdue. Updating this to Weekly.

[2022-06-07 04:23] OSBotify commented on #9326
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.73-0 :rocket:

[2022-06-07 04:35] aldo-expensify commented on #9182
I'm failing to reproduce https://github.com/Expensify/App/issues/8545 locally, but I can reproduce this one and @mollfpr indeed seems to fix it.

I understand that the problem happens here because we have two (or more?) chained API calls:
1. `CreateChatReport` to create the chat
2. `PersonalDetails_GetForEmails` to get the personal details

You can reproduce this also in web if you quickly click t

[2022-06-07 06:03] aswin-s commented on #8286
@kadiealexander I've raised a [PR](https://github.com/Expensify/App/pull/9288) and it is awaiting review from @luacmartins.

[2022-06-07 06:38] parasharrajat commented on #8663
I have to do some research for moving ahead with the PR.

[2022-06-07 06:54] Tushar-Beladiya commented on #9250
If I want to contribute and I want to fixed this issue, then Can I do this?

[2022-06-07 07:23] parasharrajat commented on #9250
You can do this. Please share your proposal.

[2022-06-07 07:33] ahmdshrif commented on #8349
@kidroca

it calls this setter function
https://github.com/ahmdshrif/react-native/blob/9f8bf5003a5f62b44b03a980654f83c2fe105f4f/ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputShadowNode.java#L196-L206

[code]

if we send a selection with null nothing will happen the code will return early . and react-native already uses it in the bridge as you mention.

why not send a

[2022-06-07 08:28] laurenreidexpensify commented on #9254
https://www.upwork.com/ab/applicants/1534089388255346688/job-details

[2022-06-07 08:29] ahmdshrif commented on #6941
I do a quick test with AWS on many Samsung devices and do not repro this issue S21, S10, A50,  A71.. etc
I suggest if the QA team tries to repo again we have 5 months since this gets reported. and no one repo it again.
Maybe we need more details about repro steps or the issue is resolved now.

@tgolen @mvtglobally

[2022-06-07 09:31] Luke9389 commented on #9268
this was merged. not sure why the issue wasn't closed.

[2022-06-07 09:31] #9268 closed

[2022-06-07 09:44] thesahindia commented on #9229
We can pass  textBreakStrategy="simple". The default value is `highQuality` and because of that it breaks, if we use simple or balanced in will take the next line.

[2022-06-07 09:59] thesahindia commented on #7470
@jayeshmangwani, the background color change is to make it more visible, you also have to use autofill or you need to change the input color so you can see the gap.

Keep the background red for the parent container and change the `{backgroundColor: 'aliceblue'}` here for the input
https://github.com/Expensify/App/blob/284e0bada7851288be011e2898c91fa81234cc3e/src/components/TextInput/BaseTextInput.

[2022-06-07 11:32] NehaSantani commented on #9250
Proposals :

Hey,
 There is a method in CopySelectionHelper.js file
[code]
Above method is converting the copied text to HTML then to  markdown.

There are two options we can have to solve this issue:

1.) We can update the **getHtmlOfSelection()** for selected text and convert it into markdown as below

[code]
since, parser.replace() method is already being used in while we are trying to edit a c

[2022-06-07 12:14] stephanieelliott commented on #8134
Still on hold pending PR from @Luke9389, see https://github.com/Expensify/App/pull/8814#discussion_r863267989 for context

[2022-06-07 12:22] Luke9389 commented on #8134
Thanks for the bump here. I forgot this was on me!

[2022-06-07 13:17] stephanieelliott commented on #9270
Thanks @jayeshmangwani, that makes sense now! Updated the issue description and added your video to the issue body. I think there is value in fixing this so will move it through triage.

[2022-06-07 13:49] trjExpensify commented on #9330
@mvtglobally, if you head to staging and then enable `simulate failing network requests` this is reproducible consistently.

![NrHz7UiY1l](https://user-images.githubusercontent.com/16232057/172394995-864988fc-b6a6-400d-9f65-d4fbf711329b.gif)

[2022-06-07 13:54] JmillsExpensify commented on #8501
Great discussion in the linked issue, still going.

[2022-06-07 13:57] adeel0202 commented on #7436
@alex-mechler, now `Add account manually` doesn't take the user to the home screen, but it doesn't take to connect manually screen as well. It is now taking the user back to the `Payments` screen.
cc: @mvtglobally

[2022-06-07 13:57] JmillsExpensify commented on #8842
Linked PR was merged but hasn't hit staging or started the countdown yet. Getting close though!

[2022-06-07 14:12] JmillsExpensify commented on #9246
Upwork job here: https://www.upwork.com/jobs/~0169fe02cfd2563df8. We're open for proposals.

[2022-06-07 14:14] JmillsExpensify commented on #9305
I think we've already done this, or are in the process of doing this right? cc @vitHoracek I think you were helping with the reversion. If so, I think we should just close this issue.

[2022-06-07 14:20] jayeshmangwani commented on #7470
@mananjadhav @stitesExpensify
I have tried with this [PR](https://github.com/Expensify/App/pull/9294) and I am not getting a white gap at the bottom using autofill, if you get time then can you please check PR once on your side and see the difference in mWeb, I have tried on my side and attached a video for the mWeb in PR too

[2022-06-07 14:25] stephanieelliott commented on #8721
All paid up, thanks!

[2022-06-07 14:25] #8721 closed

[2022-06-07 14:47] #9305 closed

[2022-06-07 14:50] kavimuru opened #9333 "Chat - Preview of the image is not appearing for the first time when it's clicked to open"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch app and login with HT (High traffic)
2. Go to any chat
3. Sent attachment
4. Open preview for attachment

## Expected Result:
Preview shou

[2022-06-07 15:52] OSBotify commented on #9326
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9120) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.73-1` :rocket:

[2022-06-07 15:56] kavimuru opened #9338 "Chat - Unable to scroll to the 1st message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch app and login with HT account
2. Go to chat with many messages e.g. [rybkina@gmail.com](mailto:rybkina@gmail.com)

3. Scroll to 1st messag

[2022-06-07 16:01] kavimuru opened #9339 "[HOLD for payment 2022-07-05] [$250] Split Bill - Selected contacts are duplicated in Recents after type/erase anything in Search"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Select Split Bill (green plus button)
2. Enter an amount
3. Select multiple users
4. Type anything in Search field
5. Erase printed in Search fie

[2022-06-07 16:30] Tushu17 commented on #9331
Hey, I've reported this bug before on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1652971168939839).

[2022-06-07 16:38] Tushu17 commented on #9339
Hey, I've reported this bug before on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1649520941635269).

[2022-06-07 17:02] gladiator-1 commented on #7835
This code worked for me, I got it from [this gist](https://gist.github.com/vluzrmos/993d400739dd2e9aa47d?permalink_comment_id=2758519#gistcomment-2758519)

![Screen Shot 2022-06-07 at 4 46 41 PM](https://user-images.githubusercontent.com/102553449/172430258-7b183e97-2109-43cd-a7e9-29b6766538b4.png)

You can check if the request coming from an IOS device and the file format is [mp4,ogg,webM], downl

[2022-06-07 17:04] #9016 closed

[2022-06-07 17:13] kavimuru opened #9340 "Android - Vivo v2027 - Workspace - When you open any menu in work space editor static loading icon appears during loading"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #9202
Issue reproducible only with device Vivo v2027 modal
## Action Performed:
1. Go to Settings, then click into General settings, Issue

[2022-06-07 17:18] sobitneupane commented on #9339
**Reason:**
We are passing empty array as `selectedOptions` onChangeText in `OptionsSelector`.
**Proposal:**
https://github.com/Expensify/App/blob/1af9250a74a22f0f34bfa983e1b1bfdf53a848b8/src/pages/iou/steps/IOUParticipantsPage/IOUParticipantsSplit.js#L208-L220

[code]

[2022-06-07 17:46] kavimuru opened #9341 "[HOLD] [$250] Firefox - All the dropdown options appear gray in color and different font"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Log in any account
3. Navigate to settings by clicking on the user avatar over LHN
4. Click on Profile
5. Cli

[2022-06-07 17:55] NicMendonca commented on #8220
PR still open

[2022-06-07 18:10] kbecciv commented on #8062
@NikkiWines Issue have been reproduced during Regression on version 1.1.73.1

https://user-images.githubusercontent.com/93399543/172452953-ada6f7fc-4399-4001-a64b-71b3e7732907.mp4

[2022-06-07 18:37] parasharrajat commented on #6941
cc: @Expensify/applause Please retest it.

[2022-06-07 18:39] parasharrajat commented on #8349
Hmm, I have to agree that I am a little behind on this. I will read the whole discussion and follow up.

[2022-06-07 18:56] NikkiWines commented on #8062
Hmm, I'm unable to reproduce this on Firefox on version `1.1.73-1`. @kbecciv is the issue occurring across multiple browsers or devices for you?

https://user-images.githubusercontent.com/16747822/172460730-9e8730cf-b769-4d6b-bba6-7a08fdbab24e.mov

[2022-06-07 19:05] mallenexpensify commented on #7909
Thanks @mateusbra I got so caught up in the potential regression I wasn't tracking payment :|
Based on the production deploy link and @thienlnam 's comment, I issued payment. $2000 to @mateusbra for the fix, $2000 to @rushatgabhane for C+ and $250 to @adeel0202 for reporting. Thanks all!!

https://github.com/Expensify/App/pull/8980#issuecomment-1138807058
https://github.com/Expensify/App/pull/8980

[2022-06-07 19:06] kbecciv commented on #8062
@NikkiWines Sorry for confusion, unable to reproduce it any more. Closing.

https://user-images.githubusercontent.com/93399543/172462341-84f34cc5-bb9f-4017-a8f6-db6213107851.mp4

[2022-06-07 19:06] #8062 closed

[2022-06-07 19:13] kidroca commented on #8349
@ahmdshrif

So it seems like the call to `markUpdated()` causes some layout/render side effect that we try to avoid by passing `null` instead of the unchanged selection

I think it'll be better to be handled here where it'll be obvious that we're trying to skip that behavior when `selection` didn't change instead of passing `null` and explaining with comments that we have to do it so the code here

[2022-06-07 19:17] mallenexpensify commented on #7911
Thanks for the vid @ahmdshrif, what I was wondering was, if it's a currency with three decimal places, that a user would be able to paste in a number with 3 decimal places.  I'm assuming, in your vid, that you were trying to paste in a number with more than three, is that correct?

For payments for bugs and feature requests, for the most part, like this issue, code has to be deployed to production

[2022-06-07 19:23] kbecciv opened #9342 "[HOLD] [$250] Web - Firefox- Search box - New chat selected through the search box does not open correct chat conversation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in to any account
3. On the search box, search any user and select him/her
4.  Repeat the ste

[2022-06-07 19:42] ahmdshrif commented on #7911
@mallenexpensify  no, I try to paste a number with 3 decimal places `1.333`   and the currency is  KDW.
the current code only accepts 2 numbers with 2 decimal places when you enter in by keyboard or past it.

ok, I just asking about it.

[2022-06-07 19:50] chiragsalian commented on #8590
@allroundexperts, unfortunately we had to [revert](https://github.com/Expensify/App/pull/9343) your PR due to this [regression issue](https://github.com/Expensify/App/issues/9334) found by QA. Can you recreate your PR and address that issue as well.

[2022-06-07 19:59] ahmdshrif commented on #8349
@kidroca
logically that should work.
but let's explain what happens when I debug this.

I do the flowing test: -

1-  keep function empty  **=> not work**
[code]

2- put the selection to unset  **=> not work**
[code]

3 - delete the function it self  **=> work fine **
but change selciton  form state will not effect native
[code]

4- move function to view manager and return if the selection is iden

[2022-06-07 20:14] thesahindia commented on #8927
@deetergp, I think the sync is broken or something. After removing a member, it won't go away from your room member list. It takes too much time to update. I tested this on main.

Yeah this works fine.

[2022-06-07 20:24] mallenexpensify commented on #6438
Thanks @kavimuru , what type of phone are you on? Can you try to test it on multiple devices? Do you have a iPhone 12 mini, iOS 15.6 (19G5037d) or similar around?

[2022-06-07 20:46] srikarparsi commented on #9018
looked at test cases but believe we might have to change the test cases and not the code so messaged Rory

[2022-06-07 20:47] marcaaron commented on #7081
Where?

Current solution sort of makes sense to me @mananjadhav for the case where we have no actions, but I posted [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1654634522756739) so we can get some consensus. I think we're still missing that "loading more messages" and "loading initial messages" are two different UI states. If you have no messages at all that's a different state from h

[2022-06-07 21:14] johnmlee101 commented on #9263
I've been attempting to get android running locally. Going to rope in more people if I can't get it up

[2022-06-07 21:31] rushatgabhane commented on #9183
@mollfpr this used to work before yeah? can you please dig deeper into the root cause of the flicker?

[2022-06-07 21:38] marcaaron commented on #7081
Alright so it sounds like we have a general agreement that this is the approach we want:

1. When we have no existing history stored locally for a chat and are actively fetching that history we should show the “skeleton UI”

2. When we have existing history stored locally for a chat and we are actively fetching history then we should not show the “skeleton UI”

3. When we are fetching “more commen

[2022-06-07 21:39] allroundexperts commented on #8590
@chiragsalian Created a new PR:
https://github.com/Expensify/App/pull/9346

[2022-06-07 21:49] srikarparsi commented on #9281
Hey, thank you for the details. Do you think you can send a screen recording of the web app not working? My android emulator is currently not working and I wasn't able to reproduce it on web either.

[2022-06-07 21:56] chiragsalian commented on #8590
Nice, thank you for the quick fix. Shall review shortly.

[2022-06-07 22:00] kadiealexander commented on #8595
Hey @frenkield! Our team agrees with your request. I've paid the $500 milestone in Upwork and I've added a $1500 milestone to be paid after the 7 day regression period once the PR is deployed.

Thanks for your work so far, and for communicating with us about what you feel is fair.

[2022-06-07 22:07] mallenexpensify commented on #9330
ooooh, I think this is part of an issue I've been pushing to get fixed for.. a year! We can very likely close this in favor of https://github.com/Expensify/Expensify/issues/169078

I think @roryabraham is going to start working on a fix soon too.  Actually, I'm going to close this, if needed, someone can reopen

[2022-06-07 22:07] #9330 closed

[2022-06-07 22:13] allroundexperts commented on #9248
@rushatgabhane created PR.
https://github.com/Expensify/App/pull/9348

[2022-06-07 22:33] mallenexpensify commented on #7911
ah ha! Then that is a bug.  If a currency accepts more than two decimal places then the user should be able to paste in, up to, the max number of decimal places for each type of currency.

@ctkochan22 I think we should fix/update this, do you think it can be worked on externally? If so someone will first have to do an audit of the different currencies.

[2022-06-07 22:35] parasharrajat commented on #7081
Really can't find it now. But It seems that everyone wants ghost loader. Rest plan sounds good.

[2022-06-07 22:40] frenkield commented on #8595
That's great news! Thanks so much, @kadiealexander. And thanks to the rest of the team as well.

[2022-06-07 22:40] chiragsalian commented on #9242
Ah cool cool, yeah i think when you earlier mentioned it i thought it was a bug on staging/prod. Since a solution was found we don't need this issue and we can close it out, correct?

[2022-06-07 23:00] #9043 closed

[2022-06-07 23:28] chiragsalian commented on #8590
The new PR was created, reviewed and merged 🙂

[2022-06-07 23:55] thienlnam commented on #8235
Haven't been able to work on this much, busy with the api refactors

[2022-06-07 23:56] thienlnam commented on #7934
Going to close this for now until we decide we want to add it in the future

[2022-06-07 23:56] #7934 closed

[2022-06-08 00:04] luacmartins commented on #9331
@mvtglobally can you update the issue reporter to @Tushu17, since he mentioned it first? Thank you!

[2022-06-08 00:35] neil-marcellini commented on #9061
I was busy with other stuff today, but I'll mention that yesterday I tried to get the green CTA button to stay above the keyboard. I wasn't able to keep it above the keyboard, so I'll have to figure out why it is working differently than the composer.

[2022-06-08 01:12] JoshuaM1995 commented on #9246
# Proposal

This issue is caused by `styles.popoverMenuIconEmphasized` containing a green background color on the `InitialSettingsPage` component.

I propose to change it to use the `popoverMenuIcon` style instead.

https://github.com/Expensify/App/blob/784d5384ae0abe772fea8c129733f081c384d423/src/pages/settings/InitialSettingsPage.js#L142

### Before proposed change:
![CleanShot 2022-06-07 at 19

[2022-06-08 01:20] aldo-expensify commented on #8088
From what I can see, we have the following cases:

<table>
<tr>
<th>
</th>
<th>
With <code>white-space: pre<code>
</th>
<th>
Without `white-space: pre`
</th>
<th width="200px">
Data
</th>
</tr>
<tr>
<td>
1
</td>
<td>
<img src="https://user-images.githubusercontent.com/87341702/172508166-fa1e2b7c-7646-4c72-b682-dd1d6df7bbdf.png">
</td>
<td>
<img src="https://user-images.githubusercontent.com/873417

[2022-06-08 01:51] mvtglobally commented on #9326
@yuwenmemon Regression is completed.  We are almost good to 🚀

PR is failing https://github.com/Expensify/App/pull/9064#issuecomment-1148974895
PR #9202 is failing due to https://github.com/Expensify/App/issues/9340 Since its a new feature, should we check it off?

Issues logged
https://github.com/Expensify/App/issues/9333
https://github.com/Expensify/App/issues/9338
https://github.com/Expensify/A

[2022-06-08 01:58] arosiclair commented on #9331
Clear instructions and seems like low-hanging fruit for a contributor. Marking as external.

[2022-06-08 03:17] #9010 closed

[2022-06-08 03:18] arielgreen commented on #8731
Since not reproducible, should we close?

[2022-06-08 03:26] NehaSantani commented on #9281
Sure!

https://user-images.githubusercontent.com/4989101/172525088-01b78bea-e393-4d87-b4c3-ed89afca5b37.mov

[2022-06-08 03:41] kadiealexander commented on #7962
@roryabraham how are we looking this week?

[2022-06-08 03:45] kadiealexander commented on #8545
Awesome, thanks @thienlnam! I've paid everyone.

[2022-06-08 03:45] #8545 closed

[2022-06-08 03:48] kadiealexander commented on #9090
@allroundexperts offer sent

[2022-06-08 05:08] ctkochan22 commented on #7911
I can do this this week

[2022-06-08 05:13] Christinadobrzyn commented on #9164
Deployed internal update to staging - https://github.com/Expensify/Expensify/issues/212254

[2022-06-08 05:41] ctkochan22 commented on #9042
I can't get to this at the moment esp after taking on some N7 refactor stuff. Going to unassign

[2022-06-08 05:50] ctkochan22 commented on #7911
Hmm we don't even allow triple digits on oldDot for these currencies.

But I don't think we can do this externally, we should add this as a constant in /expensify-common

[2022-06-08 08:50] kidroca commented on #8349
@ahmdshrif

So what you're saying is that even if the `setSelection` method is empty and always returns, the bug with the context menu still happens (it gets interrupted and doesn't appear)?

[2022-06-08 08:56] ahmdshrif commented on #8349
@kidroca  yes

[2022-06-08 10:10] laurenreidexpensify commented on #9254
Hi @allroundexperts thanks for the proposal.

As a reminder, new contributors are limited to working on one job at a time, however experienced contributors may work on numerous jobs simultaneously.

It looks like you're already working on quite a few other jobs, so we're going to pass on your proposal on this one, but looking forward to seeing future proposals once you've had some solutions hit pr

[2022-06-08 10:19] rushatgabhane commented on #9254
Besides, there isn't really a way to do this.

[2022-06-08 10:23] allroundexperts commented on #9254
@laurenreidexpensify These are really a single line changes. Out of the 5 issues currently assigned to me, I have created 4 PRs already. I don't understand how this could be a problem.

[2022-06-08 11:38] ahmdshrif commented on #8349
I also think about deleting the seter function from shadow node  (native) since in js when selection props state changes we send it also to native by event emitter also.
`viewCommands.setTextAndSelection()`

and that looks like duplication.  to send by props and by an event at the same time.
the event has duplication protected by some condition inside useEffect so it does not interrupt the context

[2022-06-08 12:04] kavimuru commented on #6438
@mallenexpensify I tested with iPhone X / iOS 15.0.1. Will check with team and update.

[2022-06-08 12:05] laurenreidexpensify commented on #9254
👋🏽 @allroundexperts for new contributors we consider the first few jobs as an internal QA check, and once we're confident the issues have hit prod with no regressions introduced then you'll be all good to pick up multiple jobs. This is just a one time thing, it just helps us all feel confident that the issues will be picked up efficiently from both parties. We're excited you're on board and pickin

[2022-06-08 13:24] kbecciv opened #9352 "[$250] VBA-Test transactions page is blank after tap on it in Concierge conversation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with gmail account
3. Unable the Staging Server toggle
4. Go to Workspace - Connect Bank account
5. Use connect manually

[2022-06-08 13:30] kbecciv opened #9353 "VBA - Tax ID number field is not block to use more than 9 digits"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with gmail account
3. Unable the Staging Server toggle
4. Go to Workspace - Connect Bank account
5. Use credentials: use

[2022-06-08 13:34] kbecciv opened #9354 "VBA - Content is changing the color when tap on it in Additional information Page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Tap on avator - Settings - Preferences
3. Unable the Staging Server toggle
4. Go to Workspace - Connect Bank a

[2022-06-08 13:48] kbecciv opened #9355 "[HOLD] [$500] Android/IOS - Chat - User's avatar is displayed as default avatar instead of selected avatar for the first time chatting"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Create a new account
1. Launch the app
2. On search start looking for a user who has picture on avator
3. Create a chat with him/her
4. Send message

[2022-06-08 13:58] flodnv commented on #9341
Weird/interesting, this is only a problem in firefox (not chrome) 😄

@kavimuru do you know if it was a regression?
For whomever gets to work on this, I'm curious to know where this problem is from (and if we can track it to a regression).

[2022-06-08 14:54] luacmartins commented on #8731
Interesting! Maybe something changed on the OS/browser side 🤔

@arielgreen let's keep the issue open for another week to see if it's reproducible during the next KI retests. Meanwhile, let's NOT increase the price anymore.

[2022-06-08 15:05] jliexpensify commented on #9124
@mollfpr - any updates here?

[2022-06-08 15:55] yuwenmemon commented on #9326
Looks like https://github.com/Expensify/App/pull/9064#issuecomment-1148974895 has a fix, but @mountiny says it's not a deploy blocker so feel free to check it off.

[2022-06-08 15:57] yuwenmemon commented on #9340
@amyevans since you worked on https://github.com/Expensify/App/pull/9202

[2022-06-08 16:03] yuwenmemon commented on #9326
:shipit:

[2022-06-08 16:08] OSBotify opened #9359 "Deploy Checklist: New Expensify 2022-06-08"
**Release Version:** `1.1.74-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8569
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9021
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9056
  - [x] QA

[2022-06-08 17:19] thesahindia commented on #9353
It's not a bug. It was decided [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1650566868358659?thread_ts=1649702197.809359&cid=C01GTK53T8Q).

[2022-06-08 17:31] adelekennedy commented on #8426
Payday! I had to reopen the job [here](https://www.upwork.com/jobs/~011b132eeb12bcf7f9) @mdneyazahmad do you mind applying there? I'll handle payment as soon as you do

[2022-06-08 17:34] thesahindia commented on #9229
**Before**
<img width="360" alt="Screenshot 2022-06-08 at 11 03 03 PM" src="https://user-images.githubusercontent.com/83179295/172680845-d258ce55-ccaf-4359-916f-3f67e5f273a4.png">

**After**

<img width="360" alt="Screenshot 2022-06-08 at 11 02 37 PM" src="https://user-images.githubusercontent.com/83179295/172680862-1f3a8c8b-a9b8-4055-a2ce-a15799d7cecc.png">

Note: The email needs to contain full

[2022-06-08 17:39] parasharrajat commented on #9229
Ok, looking good to me. @thesahindia 's proposal LGTM.

cc: @Luke9389

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-06-08 17:41] kidroca commented on #8349
I guess the `@ReactProp` annotation triggers something internally and causes a re-render when the value passed to the annotated method is not the default value (default `selection` is `null`), so even if the method is empty something is still happening under the hood

[2022-06-08 17:52] ahmdshrif commented on #8349
@kidroca
That's what i see also.
And ftom that  sending null is something safe to do . And solve the isse  as the current code do .

do you still think it's wrong.. and if yes why ?

[2022-06-08 18:02] mdneyazahmad commented on #8426
@adelekennedy applied.

[2022-06-08 18:03] parasharrajat commented on #7962
@kadiealexander No update on the PR.

[2022-06-08 18:14] OSBotify commented on #9359
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.74-1 :rocket:

[2022-06-08 18:20] rushatgabhane commented on #9246
@JoshuaM1995 that'd break the existing default workspace avatars.
<img width="174" alt="image" src="https://user-images.githubusercontent.com/29673073/172688883-6b12f6bc-845d-4920-a7e2-bbc64512accc.png">

[2022-06-08 18:26] Harshdeepjoshi commented on #9244
@rushatgabhane . Do you need anything else from me? I am new so any instructions would be helpful. Thank you.

[2022-06-08 18:35] rushatgabhane commented on #9244
@Harshdeepjoshi just one question - which autofill service have you used to verify your proposal?

[2022-06-08 18:37] kavimuru commented on #6438
@mallenexpensify We were not able to reproduce in the following devices:
iPhone X / iOS 15.0.1, iPhone SE (2016) / iOS 15.5, iPhone XR / iOS 15.1. Unfortunately our team does not have iPhone 12 mini

[2022-06-08 18:52] parasharrajat commented on #9250
Hey @NehaSantani, thanks for the proposal. Did you test this solution on local setup?

How will you convert the text to Markdown.

[2022-06-08 18:58] alex-mechler commented on #7436
Going to send this external then, thanks for testing @adeel0202!

[2022-06-08 19:03] TomatoToaster commented on #9355
Alright this is a very unusual bug, definitely seems appropriate for External.

[2022-06-08 19:04] parasharrajat commented on #9244
I used the browser autofill on firefox (No external password managers).

[2022-06-08 19:07] kavimuru opened #9362 "IOU - Unable to erase the first digit in BNP and Next button is disabled"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in App with any account
2. Put + button
3. Select request money / send money or split bill
4. Enter the amount and try to delete it

## Expec

[2022-06-08 19:10] NicMendonca commented on #2727
@lbaldy @parasharrajat any updates here?

[2022-06-08 19:10] NicMendonca commented on #8200
still on hold

[2022-06-08 19:20] parasharrajat commented on #2727
Fork PR is ready to be merged.

Completion: 30%
- [x] PR on the Expensify fork of RN.
- [ ] PR for upgrading the version of RN on E/app.
- [ ] PR to RN.

[2022-06-08 19:30] mallenexpensify opened #9363 "Issue to pay Slack reported bug that got fixed internally before new GH was created."
From this Slack thread https://expensify.slack.com/archives/C01GTK53T8Q/p1653886712901589

@sobitneupane reported a bug that Applause reported after that ended up getting fixed internally so Sobit is owed $250 for reporting.

[2022-06-08 19:34] mallenexpensify commented on #9363
@sobitneupane hired you, can you accept then I'll pay $250 for reporting the issue? https://www.upwork.com/jobs/~01a76a5fbc7fcb7a60

Sorry @strepanier03 , I should have assigned myself before you were auto-assigned triage, no action needed from you

[2022-06-08 19:38] Harshdeepjoshi commented on #9244
@rushatgabhane I tested it on firefox and chrome.

[2022-06-08 19:42] iwiznia commented on #7618
@parasharrajat what are the next steps here? I think we have the new process already?

[2022-06-08 19:42] iwiznia commented on #7288
On hold

[2022-06-08 20:00] mountiny commented on #9362
cc @mdneyazahmad it seems like this must be related to the Localize currency PR which refactored the page a bit [as well](https://github.com/Expensify/App/pull/8299/files#diff-8b773b80c35e16e3fa182981e145e78a19588f16a25dc53d7abbd7f89e8e43ce). What's odd to me is that the production version is fine and [the PR](https://github.com/Expensify/App/pull/9351) which added the blurOnSubmit prop is not cau

[2022-06-08 20:03] aldo-expensify commented on #8088
Just mentioning that if you edit the message that came from the email reply, it "breaks" like this:

![image](https://user-images.githubusercontent.com/87341702/172706667-c3a9585c-168d-4ade-910f-eb74880670a9.png)

The result is the same with and without `white-space:pre`

[2022-06-08 20:11] parasharrajat commented on #6883
I will review this.

A few other things:

- Please break your implementation in multiple PRs. You can use any number of PR you want.
- To reduce the time, create a plan or roadmap on features you are going to implement on the lib. I suggest using the project and issues to track milestones. This way we can also track progress.

Reviewing 85 files at once will be a hell for anyone.

First create a i

[2022-06-08 20:13] kavimuru opened #9364 "Mobile/Small screen - Chat - Compose box is not appearing after tapped/dragged somewhere else"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing the PR #9060**
## Action Performed:
1. Launch the app
2. Log in with any account
3. Select any chat and send message
4. Tap/hold on messa

[2022-06-08 20:13] rushatgabhane commented on #9234
App is crashing on `main` for me. I need some time to verify the proposal.
https://expensify.slack.com/archives/C01GTK53T8Q/p1654718949591419

[2022-06-08 20:17] mallenexpensify commented on #7925
Rory's been out all week, should have an update next week

[2022-06-08 20:17] mallenexpensify commented on #7648
Looks like it's still being worked on and reviewed, Rory's out this week too

[2022-06-08 20:20] mallenexpensify commented on #7121
@parasharrajat looks like the PR is back on you

[2022-06-08 20:22] amyevans commented on #9333
I've tested this several times today on the latest staging version and cannot reproduce:

https://user-images.githubusercontent.com/7277067/172709669-47c760ac-1313-4a8a-9995-ba32567804ca.mov

I _believe_ it was a regression caused by https://github.com/Expensify/App/pull/8928, which was reverted in https://github.com/Expensify/App/pull/9343, so it makes sense given the timing of my testing that I

[2022-06-08 20:22] mallenexpensify commented on #7855
Update and/or next steps @parasharrajat ?

[2022-06-08 20:22] #9333 closed

[2022-06-08 20:25] rushatgabhane commented on #9234
@jayeshmangwani thanks for helping me reproduce this issue!

@marcochavezf I recommend @jayeshmangwani's [proposal](https://github.com/Expensify/App/issues/9234#issuecomment-1147807641).
🎀 👀 🎀 C+ reviewed

[2022-06-08 20:26] parasharrajat commented on #9362
@mountiny did you try reverting the PR and see if that is really causing it? I tested this during PR review but I will look again to confirm this.

[2022-06-08 20:27] mountiny commented on #9362
I tried reverting [this PR](https://github.com/Expensify/App/pull/9351) and it does not cause it, even without it the problem occurs.

I havent tried reverting [this PR](https://github.com/Expensify/App/pull/8299/files#diff-8b773b80c35e16e3fa182981e145e78a19588f16a25dc53d7abbd7f89e8e43ce) because I confirmed it is not reproducible in production and that one is already in production.

[2022-06-08 20:28] parasharrajat commented on #7855
Didn't get the time to work on this but I will try to test that approach. On the other hand, I don't have any problem with reopening this to other contributors.

[2022-06-08 20:32] kbecciv opened #9365 "Workspace - Middle content is incorrect for the archived workspace chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when execute PR:** https://github.com/Expensify/App/pull/8569

## Action Performed:
1. Launch the app
2. Log into an account that has defaultRooms, Use

[2022-06-08 20:40] mountiny commented on #9362
@amyevans and @parasharrajat Double-confirmed that reverting the https://github.com/Expensify/App/pull/9351 does not fix this problem, I played around a bit more and I could not find what directly from [the PR](https://github.com/Expensify/App/pull/8299/files#diff-8b773b80c35e16e3fa182981e145e78a19588f16a25dc53d7abbd7f89e8e43ce) which is in production could cause this, but also I cant see anything

[2022-06-08 20:41] JoshuaM1995 commented on #9246
@rushatgabhane fair point. What do you think about this?

When the `policy.avatarURL` is defined, use the `popoverMenuIcon` styles, and when it's not defined use the `popoverMenuIconEmphasized` style?

[2022-06-08 20:41] amyevans commented on #9362
Okay, definitely appreciate the investigation you've done @mountiny! I'm taking a look now as well

[2022-06-08 20:44] sakluger commented on #9242
Yeah I'm going to close. @mvtglobally could you please reopen if we still need it and let us know what still needs to be fixed? Thanks!

[2022-06-08 20:44] #9242 closed

[2022-06-08 20:44] sakluger commented on #9232
I completely forgot to test this out! Will test later on today.

[2022-06-08 20:49] adelekennedy commented on #8927
not overdue, proposals are being reviewed

[2022-06-08 20:55] mountiny commented on #9362
I have stopped my VM etc, but the only other PR which is distantly related to this could be [this](https://github.com/Expensify/App/pull/9056/files#diff-511655d817607a5a2b12918a659da08129dbf4e74dc693f9a93f8ac9df7eb5efR65-R78) as there are some changes to the BaseTextInput which is used in this problem underneath. I would try to revert that PR locally and test if it prevails.

[2022-06-08 20:56] luacmartins commented on #9249
Still looking for proposals!

[2022-06-08 20:57] deetergp commented on #8927
@thesahindia I'm not sure I understand. I'm checked out to `main` and logged in as the workspace admin. When I remove User B, I see that user drop off the list of workspace members, so that seems to be working correct. And if I am logged in as User B, I don't see myself having been removed as the removal occurs, but if I try to reply, refresh or do anything else in that chat, I see a message telli

[2022-06-08 21:00] luacmartins commented on #6883
Thanks for jumping in the review and the tips @parasharrajat! I really appreciate it!

[2022-06-08 21:14] kavimuru opened #9366 "Settings - Profile - Incorrect Spelling for "Kyiv" in timezone section"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/

2. Navigate to settings by clicking on the user avatar over LHN
3. Click on Profile
4. Find timezon

[2022-06-08 21:27] parasharrajat commented on #9366
Seems like both are correct.
![image](https://user-images.githubusercontent.com/24370807/172720504-3793e00d-8c8b-4fc1-ba58-25b590d24504.png)

[2022-06-08 21:32] amyevans commented on #9362
Great suggestion - reverting https://github.com/Expensify/App/pull/9056 locally does indeed fix the issue. [This commit](https://github.com/Expensify/App/commit/9dfa7e4270b4ad71b14847bc659678c4ec0b4063) changing the `BaseTextInput` is the source (cc @luacmartins)

[2022-06-08 21:36] kbecciv commented on #9366
@parasharrajat I think The Russian version is "Kiev".

[2022-06-08 21:40] mananjadhav commented on #8927
@deetergp I am guessing thats what @thesahindia meant here.

[2022-06-08 21:56] mananjadhav commented on #7081
Got it @marcaaron. This is what I meant that we need two flags - one for offset being 0. Apart from this, there are comments on the channel about smooth transitions. I'll first fix this and then look at those. Estimating it should be tested and ready for review by the weekend.

[2022-06-08 21:57] mananjadhav commented on #7317
@roryabraham Are we hoping to close #7702 by next week?

[2022-06-08 21:58] mananjadhav commented on #7432
I am on this one. Adding some code to update certain flags on Onyx. This will need sometime to manually update flags.

[2022-06-08 22:00] mananjadhav commented on #7470
Hmm okay let me test and get back.

@thesahindia Would you mind sharing some more information on your device/browser type for `mWeb` ?

[2022-06-08 22:05] mananjadhav commented on #7835
@gladiator-1 Have you tried `react-native-video` for the `iOS` playback? I am also guessing it supports streaming via S3.

This isn't a good approach. It won't scale.

[2022-06-08 22:13] mananjadhav commented on #8849
@phuongpt While this looks fine for Android, what about iOS?

[2022-06-08 22:19] mananjadhav commented on #8846
@dharmik A basic example for the platform-specific files looks like this:

[code]

will become
[code]

Do let me know if you have any further questions.

[2022-06-08 22:20] mananjadhav commented on #9090
@allroundexperts any updates for us on this one?

[2022-06-08 22:27] francoisl commented on #9159
Going to close this since the root issue should be fixed now. We can consider adding skeleton UI later.

[2022-06-08 22:27] #9159 closed

[2022-06-08 22:29] kevinksullivan commented on #8455
@Luke9389 what is the latest on this?

[2022-06-08 22:51] mallenexpensify commented on #6301
PR is actively being worked on

[2022-06-08 22:53] AndrewGable commented on #9204
@srikarparsi let's set up a 1:1 again to try my branch here again https://github.com/Expensify/App/pull/9194

[2022-06-08 23:00] arielgreen commented on #9247
@mananjadhav Can you review the above, please?

[2022-06-08 23:01] arielgreen commented on #8612
What, if any, action should I be taking here?

[2022-06-08 23:02] arielgreen commented on #8311
@parasharrajat are we still waiting?

[2022-06-08 23:02] phuongpt commented on #8849
@mananjadhav As I mentioned above this issue happens only on Android. It works normally on iOS.
Couple comments above also mentioned it.

[2022-06-08 23:04] arielgreen commented on #8592
Price increased

[2022-06-08 23:14] mananjadhav commented on #9247
@arielgreen  I have one question regarding this one, which I've asked in the C+ channel. Once I get the confirmation, I'll respond here. I hope that's fine.

[2022-06-08 23:20] mananjadhav commented on #8849
@phuongpt I missed your comment, and I can confirm that this works fine in iOS. @phuongpt Can you confirm your change doesn't break the other issue tagged in the above comments? Once you confirm I feel we're good here.

These were not related to this issue.

----

@chiragsalian @phuongpt's proposal here https://github.com/Expensify/App/issues/8849#issuecomment-1145474798 of adding the fix to `reac

[2022-06-08 23:25] chiragsalian commented on #7862
Santhosh is back from OOO on June 15th. As requested above he's asked if we can hold review until he's back. I'm okay with holding for a week. Let me know if you guys feel differently.

[2022-06-08 23:27] phuongpt commented on #8849
Yes @mananjadhav I confirm.

[2022-06-08 23:43] kadiealexander commented on #7962
Thanks Rajat! That's frustrating. Should we get started on this?

[2022-06-08 23:55] chiragsalian commented on #8849
I think the Proposal LGTM as well.
Feel free to create a PR @phuongpt and @jeremyhollmexpensify feel free to hire him for his work 🙇

[2022-06-09 00:07] rushatgabhane commented on #9366
Umm we'd have to convince the maintainers at [moment-timezone](https://github.com/moment/moment-timezone/tree/master) for this change.

[2022-06-09 00:51] sig5 commented on #9362
Proposal:
The issue here is that the props passed down to `BaseTextInput`  is regarded as falsey for an empty string. This causes the second condition to be true since the value of `inputValue` matches the `state` value.
https://github.com/Expensify/App/blob/9dfa7e4270b4ad71b14847bc659678c4ec0b4063/src/components/TextInput/BaseTextInput.js#L66-L70

The solution seems to as simple as handling the e

[2022-06-09 01:27] liyamahendra commented on #9234
@rushatgabhane though @jayeshmangwani's solution fixes the issue, it doesn't address the root cause which is the ScrollView. The ScrollView will always cause this issue to happen unless the `keyboardShouldPersistTaps` prop is used.

Let's say you patch the code using @jayeshmangwani's solution now, and down the line a new custom composite control is used / added. Then this issue will again pop-up.

[2022-06-09 01:49] phuongpt commented on #8849
@mallenexpensify please verify my proposal on Upwork, thank you.

[2022-06-09 01:50] kbecciv opened #9368 "Payments - ''Add pay method'' button flashes when tapped on it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Tap on Avatar - Setting - Payments
4. Tap  ''Add pay method'' button

## Expected Result:
 ''Add pay

[2022-06-09 02:04] luacmartins commented on #9362
Put up a fix [here](https://github.com/Expensify/App/pull/9369)

[2022-06-09 02:04] luacmartins commented on #9362
Sorry @sig5, but we will fix this one internally. Thanks for the interest though!

[2022-06-09 02:24] Christinadobrzyn commented on #9332
Created Job in Upwork -

Internal posting - https://www.upwork.com/ab/applicants/1534722903416881152/job-details
External posting - https://www.upwork.com/nx/job-post/custom/preview?uid=1534722903416881152

[2022-06-09 02:37] Christinadobrzyn commented on #9164
Looks like the Internal update is complete - https://github.com/Expensify/Expensify/issues/212254#event-6773641340

What do you think @parasharrajat and @Gonals - should we make this an Upwork job?

[2022-06-09 02:50] mvtglobally commented on #9365
@neil-marcellini  Based on the PR https://github.com/Expensify/App/pull/8569 screenshots, there should be something about "Collaboration..." If the changes you are referring to were more recent, then maybe this is not an issue then.

[2022-06-09 02:51] neil-marcellini commented on #9061
I didn't have time to work on this today. I'm going to change this back to weekly.

[2022-06-09 02:57] mvtglobally commented on #9359
@yuwenmemon Regression is completed

Deploy blocker https://github.com/Expensify/App/issues/9362

PR #8569 is failing due to https://github.com/Expensify/App/issues/9365. Not a blocker checking off
PR #9060 is failing due to https://github.com/Expensify/App/issues/9364. Not a blocker checking off

Issues logged
https://github.com/Expensify/App/issues/9363
https://github.com/Expensify/App/issues/93

[2022-06-09 03:13] kadiealexander commented on #9355
Posted to Upwork!

https://www.upwork.com/jobs/~0115a6e56725bcd8a4
https://www.upwork.com/ab/applicants/1534735352512892928/job-details

[2022-06-09 03:16] kadiealexander commented on #9287
Price doubled! Please get your proposals in.

[2022-06-09 04:00] mvtglobally commented on #9263
@johnmlee101 thats what we believe, as we don't actively test this particular section we mainly look at the adding bank account flow.

[2022-06-09 04:04] mvtglobally commented on #6941
We will validate it again during the weekly KI retest this week.

[2022-06-09 04:14] NehaSantani commented on #9250
Hi @parasharrajat,
The text is being converted into MarkDown in the similar manner like it is currently there using below method

[code]
which inturn is called from below method

[code]
_The whole conversion currently in the code is going like this
(selectedText -----> HTML ------> Markdown)_

However, the issue is inside HTML conversion of text!
Actual Issue: The code done inside getHTMLOfSelecti

[2022-06-09 04:33] sobitneupane commented on #9363
Accepted.

[2022-06-09 04:55] mvtglobally opened #9370 "Semi-large block of text stuck at the bottom of a chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Copy/pasted a semi-large block of test text into a chat and sent
2. Followed up with few more short messages

## Expected Result:
The messages to

[2022-06-09 05:14] thesahindia commented on #7470
I tried this on Android chrome. In ios safari it's working fine.

[2022-06-09 05:54] thesahindia commented on #8927
Yeah, that works fine. I misinterpreted the question and thought it was about announce room's members list.

[2022-06-09 07:32] allroundexperts commented on #9090
I’ll have a PR today.

On Thu, 9 Jun 2022 at 3:20 AM, Manan ***@***.***> wrote:

[2022-06-09 09:19] gladiator-1 commented on #7835
@mananjadhav I tried it before and didn't work. I think if the video runs on safari it will 100% run on IOS, the problem isn't in `S3`, I uploaded my video to a `S3 bucket`, you can play it on safari or any `IOS` device, here is the [pre-signed URL](https://expensifyvideo.s3.us-east-2.amazonaws.com/ocSIW-PrrAoCoc-h.mp4?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEAgaCW

[2022-06-09 09:30] rushatgabhane commented on #9234
@liyamahendra I'm so sorry. This comment was meant for you. I forgot to tag you.

[2022-06-09 09:35] OSBotify commented on #9359
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.74-2 has been deployed to staging :tada:

[2022-06-09 09:56] Gonals commented on #9307
This seems to be a client issue. Marking as external

[2022-06-09 10:29] liyamahendra commented on #9234
# Proposal (Updated)

Since ScrollView is used at multiple locations, I believe having a custom ScrollView Component which sets this prop's value by default will be a better solution.

- Create a new component inside `src/components` as below:

[code]

- Inside `src/pages/settings/Profile/ProfilePage.js`, `src/pages/settings/AddSecondaryLoginPage.js` and `src/pages/workspace/WorkspaceNewRoomPage.j

[2022-06-09 10:59] Julesssss commented on #5336
Holding while discussion about this APi takes place in the [Manual Requests API refactor DD](https://docs.google.com/document/d/1Cp_QzvDxP3SqL_M171yyf7Ih2tJJCta1fTmN-rwYzeg/edit?usp=sharing)

[2022-06-09 10:59] Julesssss commented on #4264
No changes

[2022-06-09 11:17] mountiny commented on #9362
Fixed, nice work!

[2022-06-09 11:17] mountiny commented on #9359
Confirmed that the CP to fix https://github.com/Expensify/App/issues/9362 Deploy blocker has worked and it is not resolved 🎉

[2022-06-09 11:22] Luke9389 commented on #9368
It's pretty hard to see exactly what's happening here. The transparent layer could be flashing out, or the button style could be turning dark green again.

Definitely seems like it can go `External`.

[2022-06-09 11:24] Luke9389 commented on #9368
Actually, @JmillsExpensify, do you think this issue is well-formed enough to export? We might want to clear up the expectations for the deliverables here before we start spending time on proposals.

[2022-06-09 11:27] flodnv commented on #9370
I think this is because the large block of text will never send. Perhaps I am wrong.

[2022-06-09 12:09] parasharrajat commented on #8311
Yeah, I will open the discussion soon. Need to summarize the discussion. But I open to proposals.

[2022-06-09 12:36] parasharrajat commented on #9250
Try this to copy chat between two messages. Start from bottom to the third last line(Hi Neha) of the previous message. Then paste it on composer and let me know what output you get.

[2022-06-09 12:39] parasharrajat commented on #9164
Then we are good. We should able to upload the file now.

[2022-06-09 12:39] SumitDiyora commented on #9326
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #8498, #8819, #8855, #9120, #9140, #9219, #9269, #9295, #9299, #9309
Logged Issues - #8433, #8434, #8621, #8557, #8435, #8624, #8395, #8624, #8555, #8527, #8407, #8406, #8392, #8419, #8393, #8398, #8400, #8624, #8506, #8388, #8434, #8433, #8703, #

[2022-06-09 12:47] mollfpr commented on #9124
PR is still in review.

[2022-06-09 12:50] parasharrajat commented on #8541
Thanks @dharmik and @jayeshmangwani for proposals. Both of those approaches will work fine. But we decided to go with @dharmik 's [proposal](https://github.com/Expensify/App/issues/8541#issuecomment-1139621541) due the reason that global Onyx subscription is more expensive then some extra function calls.

cc: @iwiznia

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-06-09 13:08] parasharrajat commented on #7081
Sounds good. Looking forward to it.

[2022-06-09 13:17] NehaSantani commented on #9250
This way?

https://user-images.githubusercontent.com/4989101/172856353-e9ac2ece-fa0c-4536-9c9f-bd112141eebb.mov

[2022-06-09 13:45] Luke9389 commented on #8455
I think we should close this because we're going to refactor this flow in the next few weeks.

[2022-06-09 13:46] Luke9389 commented on #8200
I think we should close this and come back if necessary after the API refactor. We'll probably fix it then.

[2022-06-09 13:49] NehaSantani commented on #9250
https://user-images.githubusercontent.com/4989101/172863073-be2f777e-7ea0-46bc-8eef-9be4fa349e80.mov

Also, if you have any specific text to be tested with styles(bold,italic,quotes) you can send me!
I will record for that aswell!

[2022-06-09 13:50] Luke9389 commented on #9229
Alright @thesahindia go ahead and make a PR!

[2022-06-09 13:52] adeel0202 commented on #8455
@Luke9389, I think I'm eligible for the reporting bonus.

[2022-06-09 13:58] trjExpensify commented on #9331
Job posted to upwork here: https://www.upwork.com/jobs/~010348882227b38f44

[2022-06-09 15:14] parasharrajat commented on #7962
Let's wait for Rory, he will update us on the next step.

[2022-06-09 15:18] yuwenmemon commented on #9359
:shipit:

[2022-06-09 15:18] #9359 closed

[2022-06-09 15:22] alex-mechler commented on #9370
I actually think this might have to be internal. If you refresh the page, the message did send, so I think its related to the pushes failing to send, or the web api returning an error

[2022-06-09 15:23] OSBotify opened #9377 "Deploy Checklist: New Expensify 2022-06-09"
**Release Version:** `1.1.75-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8814
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/9102
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/9201
  - [x] QA

[2022-06-09 15:26] rushatgabhane commented on #9234
@liyamahendra or how about we use [FormScrollView](https://github.com/Expensify/App/blob/main/src/components/FormScrollView.js)?

[2022-06-09 15:32] parasharrajat commented on #9250
Ok, thanks for sharing. I am amazed to see that it is working. How is your function `getHTMLOfSelection` converts elements with `data-testid` to proper tags?

    if (window.getSelection()) {
    const selection = window.getSelection().toString();
    const parser = new ExpensiMark();
    return parser.replace(selection);
 }  // If browser doesn't support Selection API, returns empty string.
 retu

[2022-06-09 15:34] parasharrajat commented on #9061
I will do some tests on the proposals above and let you know which looks better. But currently working on something else and this is also not on priority.

[2022-06-09 15:57] ahmdshrif commented on #8349
it's great news that fabric will solve this issue and similar issues.

but on the other hand, the new architecture is still beta. and I expect to be unstable like a flutter (in the first year) for while.
and maybe some lib that we use not be compatible with it. so it can be very a long road.

and since we have something fix the current code we should fix it until the new Architecture gets stable.

[2022-06-09 16:11] liyamahendra commented on #9234
Yes, that should solve the issue as well! 👍

[2022-06-09 17:16] OSBotify commented on #9377
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.75-0 :rocket:

[2022-06-09 17:18] tgolen commented on #9352
Yep, looks like a bug! Let's get some proposals for this.

[2022-06-09 17:42] joelbettner commented on #9366
Given that both spellings are considered correct, and that that to change it to "Kiev" we'd have to update 3rd party code, I do not think this is an issue. I'm going to close.

[2022-06-09 17:42] #9366 closed

[2022-06-09 18:06] kavimuru opened #9379 "[HOLD for payment 2022-07-15] [$250] Chat - Extra space displayed when sending mixture of quoted and normal texts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Send message to someone with: non-quoted , quoted then non-quoted text

## Expected Result:
No extra

[2022-06-09 18:10] kavimuru opened #9380 "mWeb / Safari- IOU - Cursor moves up and down when user holds and moves it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Press on + icon and click Request money and add amount like 888.

## E

[2022-06-09 18:27] mountiny commented on #9380
@kavimuru is this something you have a test case for or is this just an observation? Wondering if it was like this before on production or not. It does not seem like a bug to me as you can still select the spot to move your cursor into.

[2022-06-09 18:50] mvtglobally opened #9382 "New chats sent to me aren't showing in Desktop/Web."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Either put computer to sleep and/or closed lid
2. Noticed incoming chat via phone notification
3. Open/unlock computer
4. New chat that was sent

[2022-06-09 18:58] iwiznia commented on #8541
Looks good. @jboniface let's hire @dharmik

[2022-06-09 18:59] luacmartins commented on #9234
@rushatgabhane yes, we will refactor it to use Form. We already have an example of a Form refactor [here](https://github.com/Expensify/App/pull/9056/files#diff-8dd7f82fff27e2deb9f848eadbc9d7c691c6f2c03a98c81ef6d1935b863c37cbL1). Let's just do it in this case as well.

[2022-06-09 19:04] luacmartins commented on #9379
This can be external.

[2022-06-09 19:07] OSBotify commented on #9377
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9381) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.75-1` :rocket:

[2022-06-09 19:19] rushatgabhane commented on #9234
Thanks!!
@liyamahendra are you up for [this](https://github.com/Expensify/App/issues/9234#issuecomment-1151489135) task?

[2022-06-09 19:25] lbaldy commented on #2727
The MR has been merged to master. Have you ever used react native fork in your E/App or have you always been using the official react native release from npm?

[2022-06-09 20:09] trjExpensify commented on #9379
Upwork job here: https://www.upwork.com/jobs/~0124a56a97e10ed4e0

[2022-06-09 20:13] trjExpensify commented on #9252
Cool, updated. Ready for engineering triage!

[2022-06-09 20:14] trjExpensify commented on #9123
^^ what are we doing about that, has someone posted in #expensify-open-source to find someone on Windows?

[2022-06-09 20:35] AndrewGable commented on #8888
@jrstanley any thoughts on the above?

[2022-06-09 20:43] JosueEchandiaAsto commented on #9307
Hi, I'm fix it.
In IOUConfirmationList: 357, display a OptionsList inside a ScrollView.
![Captura de Pantalla 2022-06-09 a la(s) 15 41 48](https://user-images.githubusercontent.com/16966456/172940630-6e15295a-8bc3-4377-96ef-3e601171235d.png)
I have the solution working correctly
![Simulator Screen Shot - iPhone 11 Pro - 2022-06-09 at 15 36 42](https://user-images.githubusercontent.com/16966456/172

[2022-06-09 20:47] parasharrajat commented on #9123
No one posted it there. This is still open for proposals.

[2022-06-09 20:50] parasharrajat commented on #2727
I think we always used the official package. And we try use forked repo with V0.68, it may break stuff.

[2022-06-09 21:19] michaelhaxhiu commented on #9122
doubled, again

[2022-06-09 21:31] srikarparsi commented on #9018
Fixed by this pr: https://github.com/Expensify/App/pull/8569

[2022-06-09 21:31] #9018 closed

[2022-06-09 21:54] mallenexpensify commented on #7911
If we can't do this Externally, will you add the `Internal` label? I'll stay assigned to issue payment to @ahmdshrif if the issue ever gets fixed.

[2022-06-09 22:04] mallenexpensify commented on #6438
hmm... I'm thinking we should add the `Help Wanted` label and see if we can get the issued fixed specifically for the finicky iPhone 12 mini.  Sound good? @Beamanator ?

[2022-06-09 22:09] mallenexpensify commented on #8349
@parasharrajat @Julesssss what to you think of @kidroca 's _proposal_?
https://github.com/Expensify/App/issues/8349#issuecomment-1151172897

[2022-06-09 22:11] mallenexpensify commented on #9245
Doubled price to $2000 https://www.upwork.com/jobs/~01e47773be5ce520dd

[2022-06-09 22:12] srikarparsi commented on #9281
Hey, thank you for the screen recording. I did some testing and was able to reproduce the error when using the production web proxy but when I used a local dev environment, staging or production, I didn't face the error. Because of this, I believe it's an error with the proxy on web at least and not the code.

https://user-images.githubusercontent.com/48188732/172953862-377e5ec1-bb25-410d-8254-7c8

[2022-06-09 22:12] #9281 closed

[2022-06-09 22:14] roryabraham commented on #7962
Okay, thanks for your patience everyone. We're still discussing the next steps for this internally.

[2022-06-09 22:16] allroundexperts commented on #9245
@mallenexpensify Are we still looking for proposals? I think the above discussion defines the way forward clearly.

[2022-06-09 22:16] aldo-expensify commented on #9182
@kbecciv it is the same problem.

I retested the proposed solution and added a `sleep(10)` in the PHP API code to make it easier to reproduce. The proposed solution doesn't fix the problem if the request `PersonalDetails_GetForEmails` takes too long. The same thing happens for existing and non-existing accounts.

[2022-06-09 22:20] aldo-expensify commented on #9182
@mollfpr would this commit https://github.com/Expensify/App/commit/dbd8656b8ae33597d4afe6bd0fd874a344b4aa4a represent the changes of your proposed solution?

[2022-06-09 22:38] mvtglobally commented on #9377
@roryabraham @yuwenmemon
Regression is completed
No blockers

CP fix is not fully pass, but much much better. Team was able to repro 1/10 time on IOS and 2/10 times on mWeb. Web/Desktop looks good. Are we ok to check it off?

Issues logged
https://github.com/Expensify/App/issues/9379
https://github.com/Expensify/App/issues/9380

[2022-06-09 22:39] roryabraham commented on #9377
Going to check off https://github.com/Expensify/App/pull/9381 for now and run this deploy

[2022-06-09 22:42] aldo-expensify commented on #9182
Taking this internally as the proposed solution doesn't work well, and I think a better approach is to just show a loading indicator while the personal details are not available:

PR up: https://github.com/Expensify/App/pull/9385

I'm changing this to `Daily` because it crashes the app and it doesn't look too hard for it to happen.

[2022-06-09 22:42] roryabraham commented on #9377
Only ["fresh" crash](https://console.firebase.google.com/u/0/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/1d3ea96a477ee0e60524e4e836775879?time=last-seven-days&sessionEventKey=629FA68701D300016E50032B1C499415_1685027449241807403) was introduced in 70.1 and hasn't been reproduced since.

[2022-06-09 22:43] roryabraham commented on #9377
:shipit:

[2022-06-09 22:43] #9377 closed

[2022-06-09 22:46] kbecciv opened #9389 "[$500] IOU - User cannot enter an amount like 0.XX, starting with separator [ . ] without 0"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log n with any account
4. Tap on "Green plus button"
5. Start entering an amount like 0.XX without entering 0, as in all calcul

[2022-06-09 22:49] OSBotify opened #9390 "Deploy Checklist: New Expensify 2022-06-09"
**Release Version:** `1.1.76-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**Deployer verifications:**
- [ ] I checked the [App Timing Dashboard](https://graphs.expensify.com/grafana/d/yj2EobAGz/app-timing?orgId=1) and verified this release does not cause a noticeable performance regression.
- [ ] I checked [Firebase Crashlytics](https://console.firebase.go

[2022-06-09 22:54] roryabraham commented on #9390
@Expensify/applauseleads 🍾 problems – we've got an empty checklist! I guess that's what happens when we do two deploys in a single day 😉 No need to lock it until we have at least one new PR.

In the meantime, a valuable thing to work on (if you're looking to fill your time) would be to review bug fixes over the last few months and evaluate if there are missing edge cases that should be added to th

[2022-06-09 22:57] kavimuru commented on #9380
@mountiny This is not from a test case. Tester found this issue when performing IOU steps.

[2022-06-09 23:06] mallenexpensify commented on #7855
@parasharrajat I'd say.. if you don't have a viable, accepted solution and/or if you're unsure you'll have time to work on it, we should open it back up and add the `Help Wanted` label

[2022-06-09 23:08] mallenexpensify commented on #9249
Doubled price to $500
https://www.upwork.com/jobs/~016e0f7862d665f075

[2022-06-09 23:12] mallenexpensify commented on #8849
Hired @phuongpt , @adeel0202 and @mananjadhav can you also apply https://www.upwork.com/jobs/~01458d590c1e09df99
Thanks

[2022-06-09 23:14] alex-mechler commented on #9389
Looks god to go external!

[2022-06-09 23:26] mallenexpensify commented on #9363
Paid @sobitneupane $250. Leaving this open til the below is resolved.

hmm.... good question @Puneet-here , thanks for asking.

To make sure I understand correctly.  From @sobitneupane 's bug report [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1653886712901589) the reported version is v1.1.68-2, are you saying that, on May 29th, when this was reported, that v1.1.68-2 wasn't a productio

[2022-06-09 23:51] kbecciv opened #9391 "[$4000] LHN - The group disappears when you open the chat and appears when the page is refreshed (#focus mode)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open https://staging.new.expensify.com
2. Log in to the account
3. Go to Avatar > Preferences > enable #focus mode
4. Then, navigate back to the

[2022-06-09 23:54] mallenexpensify commented on #9245
Actually, I'm not sure @allroundexperts , my price-doubling was a bit knee jerk, I only quickly browsed the comments.
@mananjadhav what's status?

[2022-06-09 23:58] mountiny commented on #9380
@kavimuru is there any way to know if this has been present maybe ~4 versions of the app back?

[2022-06-10 00:37] arielgreen commented on #9339
https://www.upwork.com/jobs/~0154423cd42bcb5eef

[2022-06-10 02:25] aldo-expensify commented on #9182
After digging more and testing in Android, I realized that what I was proposing [here](https://github.com/Expensify/App/pull/9385/commits/07e0997471145662bc0302d38e88e3f108128f2a) (just adding a spinner) doesn't fix it for Android/IOS.

There are two different problems that end up with the same crash. I mistakenly though they were the same.

- **Problem 1** (this GH issue): only happens in Android

[2022-06-10 03:13] bfitzexpensify commented on #9253
Have doubled the job to $500 - job is [here](https://www.upwork.com/jobs/~01d7ca84f3daee88bd)

Reporting job is [here](https://www.upwork.com/jobs/~016a9e88020aa27173)

[2022-06-10 03:34] phuongpt commented on #8849
@mananjadhav @chiragsalian looks like I'm lacking permission to push a branch, please help to resolve it, thank you.
![Screen Shot 2022-06-10 at 10 27 02](https://user-images.githubusercontent.com/4443583/172985012-274e378e-15c0-409a-bb81-c34c08401812.png)

[2022-06-10 04:43] sobitneupane commented on #9389
Is it expected to show .12 or 0.12 when user enters .12?
<img width="441" alt="Screen Shot 2022-06-10 at 10 10 31" src="https://user-images.githubusercontent.com/25876548/172990213-4f665fc4-8148-4cbc-8813-80a28fd97a97.png">
<img width="441" alt="Screen Shot 2022-06-10 at 10 10 38" src="https://user-images.githubusercontent.com/25876548/172990216-217a67a1-ec91-4c61-b243-d5afc47eccef.png">

### Prop

[2022-06-10 05:48] thesahindia commented on #9389
I don't think it's a bug. It's a feature request and it should be raised on slack so that we can decide if it's really needed.

[2022-06-10 06:01] liyamahendra commented on #9234
@rushatgabhane Yes, I'm interested in taking up the task. Let me review the refactor link shared by @luacmartins and come back to you with the changes for refactoring the `ProfilePage` to use `Form`.

[2022-06-10 06:36] adeel0202 commented on #8849
@mallenexpensify, do I apply to the same upwork job or will there be a separate job for reporting?

[2022-06-10 06:41] Puneet-here commented on #9363
Thank for answering.

Oh I was just asking if we also paying contributors for reporting regression before it hits the staging because this one was reported before getting to staging but I just found after few hours of reporting it was deployed to staging.

it's good to be closed now. Thank you.

[2022-06-10 07:13] Christinadobrzyn commented on #9164
Posted in Upwork

Internal Job  - https://www.upwork.com/ab/applicants/1535157989620789248/job-details
External Job - https://www.upwork.com/jobs/~0152c8b41284651e68

[2022-06-10 07:44] rushatgabhane commented on #9234
@liyamahendra we also have a helpful FORM doc
https://github.com/Expensify/App/blob/main/FORMS.md

[2022-06-10 08:30] parasharrajat commented on #9164
I meant to say we don't need the Upwork job. It should be fixed already. Next step should be QA testing it. @Christinadobrzyn

[2022-06-10 08:31] parasharrajat commented on #9389
Good point @thesahindia. I agree.

[2022-06-10 08:52] thesahindia commented on #9123
I tried using `Segoe UI Emoji` font on my friend's windows machine and it will solve the problem. We can add this as a fallback font
https://github.com/Expensify/App/blob/1997b1cb6e55809fac2c578d6aaf5b1f9bc3e8a4/src/styles/styles.js#L1420-L1421

[2022-06-10 09:41] parasharrajat commented on #9123
Hmm Interesting. This is a weird issue. Now what are you proposing to fully solve this issue?

Are you able to share some research on why this font works but not ours?

[2022-06-10 09:50] mananjadhav commented on #8849
@phuongpt I am a little confused about what we're trying here.
Steps to merge this would be:
- @mananjadhav or @chiragsalian to help you with creating a forked version of the `react-native-image-size`. This shouldn't stop you from testing your changes and moving the PR
- You submit the PR to the newly forked repo of Expensify
- You fork `Expensify/App.git` into your repo, where you update the pack

[2022-06-10 09:56] mananjadhav commented on #8927
@deetergp Are we good here to accept @thesahiindia's proposal?

@grvsood Sorry I saw the comments I didn't give feedback on your proposal (I thought I did). While your solution might work, performing the process of `Onyx.get`, etc. doesn't look like a good solution for such a trivial case. Also, my experience with `JSON.stringify` with objects, dates, etc. is unreliable, and comparing them with `s

[2022-06-10 09:57] mananjadhav commented on #9164
@Christinadobrzyn, What @parasharrajat said is right. This isn't reported by an external contributor and is fixed internally.  Hence we don't need any Upwork jobs here.

[2022-06-10 10:00] mananjadhav commented on #9245
Sorry, @mallenexpensify I wasn't tracking this one. As per this comment, @rushatgabhane is working on it.

[2022-06-10 10:06] mananjadhav commented on #9307
@JosueEchandiaAsto Thanks for the comment and the proposal. Yeah, it looks like it's the nested scroll view issue. Quick question, were you able to check to replace `ScrollView` with just `View` doesn't cause anything to break on other platforms?  also because we're removing some styles?

[2022-06-10 10:09] phuongpt commented on #8849
@mananjadhav got it, please let me know when we have a forked version of the `react-native-image-size` for `Expensify`, thank you.

[2022-06-10 10:29] sobitneupane commented on #9287
@rushatgabhane I am bit confused by 'from an account that's on the policyExpenseChat beta'. What is policyExpenseChat beta? How can I be on the policyExpenseChat beta? Can you help me on this?

[2022-06-10 10:31] rushatgabhane commented on #9287
@deetergp can you please help @sobitneupane get on the beta?

[2022-06-10 10:52] trjExpensify commented on #9365
Thank you, @neil-marcellini!

[2022-06-10 11:19] dhairyasenjaliya opened #9397 "iOS - Sending a misspelled word to chat return auto corrected word in text input"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Launch the app
2. Login with any account
3. Send a message with any misspelled word that the spell checker highlights blue opacity and send that

[2022-06-10 11:19] #9397 closed

[2022-06-10 11:28] Khalifamasanawa opened #9398 "Appen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2022-06-10 11:28] #9398 closed

[2022-06-10 11:49] thesahindia commented on #9123
1. To fix the safari issue we can add `styles.textNoWrap` here

https://github.com/Expensify/App/blob/db27a3dc4a61c552b8e827819261310592ad7914/src/components/EmojiPicker/EmojiSkinToneList.js#L70

2. To fix the other issue we can replace the line 1421 with
[code]
(will have to add SEGOE_UI_EMOJI to our fontFamily object)
https://github.com/Expensify/App/blob/1997b1cb6e55809fac2c578d6aaf5b1f9bc3e8a4

[2022-06-10 12:44] mountiny commented on #9380
Alright, I don't think this is a bug worth fixing right now, we should focus on the Offline first refactorings, thanks for raising and in case this comes up in Slack and more people will see this as a problem feel free to reopen!

[2022-06-10 12:45] #9380 closed

[2022-06-10 13:17] Julesssss commented on #8349
Hi all, thanks again for all the proposals and discussion. @ahmdshrif while I agree that there may be some instability, it looks to me that Fabric is close to release. If released, it would certainly be the optimal choice.

I agree with this, and think we should go with @kidroca's proposal. Though not quite the same scenario, we upgraded to Hermes early and saw nothing but improvements to the app.

[2022-06-10 13:19] parasharrajat commented on #9123
Ok, Does not work on my linux machine. I am running firefox.

![image](https://user-images.githubusercontent.com/24370807/173073192-e1a2ed30-45bd-447f-818a-f83967187255.png)

[2022-06-10 13:25] parasharrajat commented on #8349
We def want to upgrade to fabric. There was a discussion in past on this. Only challenge was that many of the third party libs does not support fabric yet. So transition will not be smooth.

[2022-06-10 13:29] parasharrajat commented on #7375
I was looking into this. And I tried a few ways to get the correct position. But In all of them I didn't get the correct coordinates. I don't know why but none of the possible ways are giving correct coordinates for PaymentMethod of PaymentMethodList on  Android Tablet.

I used `onLayout`, `measure`, `measureInWindow`, `PressEvent`.

[2022-06-10 13:33] parasharrajat commented on #7375
Oh, I see now.`measureInWindow` could be wrong due to SafeArea insets. Need to check that more.

[2022-06-10 14:38] pecanoro commented on #9391
I was able to reproduce, unless I was using search, I couldn't select the newly created groups.

[2022-06-10 15:21] jboniface commented on #9391
upwork post is here: https://www.upwork.com/jobs/~01b28296ea218398c8

[2022-06-10 15:48] kidroca commented on #8349
@Julesssss

I thought of Hermes as well 😄

I was actually planning to post about the "New RN Architecture" anyway because it literally replaces the bridge with Fabric and Turbo Modules, the bridge is the main RN bottle neck and source of some performance issues
I'll definitely post on slack now

---

While switching on the new architecture is as easy as flipping a switch to `true` we'll indeed nee

[2022-06-10 15:59] techievivek commented on #9354
Yes though this can be external I will fix it myself to get used to the codebase. Thanks

[2022-06-10 16:03] kavimuru opened #9399 "Chat - Site crashed when clicking on a new group chat created with phone account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open https://staging.new.expensify.com/
2. In chats, click the "New" icon
3. In the pop-up, click "New group"
4. In the pop-up, enter the new num

[2022-06-10 16:25] liyamahendra commented on #9234
@rushatgabhane can you please review the changes below and comment:

Folllowing are the changes:

1. Imports
- Change `import { View, ScrollView } from 'react-native';` to `import { View } from 'react-native';`
- Add `import Form from '../../../components/Form';`
- Remove `import Button from '../../../components/Button';`, `import FixedFooter from '../../../components/FixedFooter';` and `import Fu

[2022-06-10 16:50] kbecciv commented on #9164
@mananjadhav @Gonals @Christinadobrzyn @parasharrajat   Here is the list of formats files where endless loading spinner appears: .rar, .webp, .epub, mp3 and .ps.

[2022-06-10 17:01] parasharrajat commented on #9164
I guess we can request more files to be added from backend cc: @aldo-expensify

[2022-06-10 17:13] aldo-expensify commented on #9164
Sorry, just catching up here. I'm understanding that we just have to fix this on the API, right?

If any of you have been playing with files with these formats, can you upload them to the GH issue? (only if GH allows it, I don't know if it allows it :P)

[2022-06-10 17:14] aldo-expensify commented on #9164
is it enough to just change the extension of the file? like.. if you have .txt, change it to .rar and then you get an infinite spinner?

[2022-06-10 17:15] trjExpensify commented on #9252
Isn't it always open prior when editing? 🤔

[2022-06-10 17:18] parasharrajat commented on #9164
Yes, we only need to allow these files from backed and they will start working. Previously we had an issue for svg and Marc suggested to enable the support for files that we encounter issue.

But my suggestion was to add error handling from frontend when a file is not supported, fronted should error out.
1. First, add proper file extensions that are allowed to be uploaded to the file upload config

[2022-06-10 18:04] Julesssss commented on #8349
Oh wow, that's great! Can't wait for this.

So we should probably create a new issue for the migration, and put this one on hold. We'll then consider this one fixed once we've migrated to Fabric successfully. Does that work for you?

[2022-06-10 18:06] Julesssss commented on #9252
Not if the user manually closes the keyboard. I do this when writing a long message so i can review the full message in a single screen.

Though rare, I would be annoyed if I finished writing a message, closed the keyboard, added an emoji and then saw the keyboard pop up again. Especially because it's super laggy.

[2022-06-10 18:19] thesahindia commented on #9229
PR is up.

[2022-06-10 18:21] roryabraham commented on #8348
There is a full-screen loading indicator when the app is loading, but it ideally shouldn't last long. I've personally never seen this happen. It certainly doesn't make sense to me why it would happen if you uninstall and reinstall the app, since all the app data (i.e: Onyx data) should be cleared.

[2022-06-10 18:24] aldo-expensify commented on #9164
There are a huge number of extensions out there and the approach of allowing them one by one doesn't seem to scale well. It doesn't make sense for me to block files just because we don't have the extension in our list. If we care about blocking some extensions, I would do a list of blocked extension and allow the rest.

The approach of allowing the through a list made more sense to me in the conte

[2022-06-10 18:34] kidroca commented on #8349
@Julesssss

Sounds like a plan

[2022-06-10 18:42] marcaaron commented on #8348
I have no idea, sorry.

[2022-06-10 18:51] mallenexpensify commented on #8455
@adeel0202 , to be eligible for the reporting bonus, the fix needs to be deployed to production.
@Luke9389, how does the refactor affect this specific bug? ie. is the bug report going to be addressed when refactoring?

[2022-06-10 18:56] stephanieelliott commented on #7917
Hey @mdneyazahmad any update on this? There was a suggestion on the Slack convo you'd linked, will it solve this issue?

[2022-06-10 19:00] parasharrajat commented on #8349
We already have a issue here https://github.com/Expensify/App/issues/8503. we can break this into two.
1. Upgrade the app to latest RN version. It involves version upgrade and make sure that app still works. Upgrades other packages if necessary.
2. Activate Fabric architecture, try to fix issues via package upgrades. List out the packages that are not yet compatible. More of an audit. If Fabric ju

[2022-06-10 19:04] stephanieelliott commented on #9329
Posted to Upwork: https://www.upwork.com/jobs/~011bd5370e87d5f5cf

[2022-06-10 19:07] kidroca commented on #8349
@parasharrajat

This would work, but I'm not sure we need a 2nd issue, the 2nd issue sounds like the one with the heavy lifting, while updating react to 0.68 should be trivial
In any case the work would be staged and in multiple PRs

[2022-06-10 19:08] parasharrajat commented on #6941
Need retest.

[2022-06-10 19:09] alex-mechler commented on #9009
Still holding on the same pr

[2022-06-10 19:10] parasharrajat commented on #8349
Correct. Once we have an audit report and we know the status, a series of new issues can be opened to cover them.

[2022-06-10 19:13] deetergp commented on #7435
How long are we going to hold on this one?

[2022-06-10 19:18] rushatgabhane commented on #9234
@liyamahendra that seems fine but shouldn't we first refactor `FullNameInputRow` to use `Form`?
And then come back to refactoring ProfilePage.

cc: @marcochavezf

[2022-06-10 19:22] luacmartins commented on #9234
Is it possible to just get rid of `FullNameInputRow` and use a regular `TextInput` instead?

[2022-06-10 19:22] parasharrajat commented on #9329
It is bit of challenging issue. we use  https://github.com/Expensify/expensify-common/blob/main/lib/tlds.jsx to determine the domain. And MD is part of it. There are many other such file extensions that can be a TLD.

[2022-06-10 19:27] rushatgabhane commented on #9234
@luacmartins yes, we could do that too.

[2022-06-10 19:27] marcaaron commented on #9283
waiting for @mananjadhav

[2022-06-10 19:31] rushatgabhane commented on #9234
🎀 👀 🎀 C+ reviewed
@marcochavezf I like @liyamahendra's [proposal](https://github.com/Expensify/App/issues/9234#issuecomment-1152533613) to refactor ProfilePage to use Form to fix this issue.

This issue will be fixed for other pages once they're refactored eventually.

[2022-06-10 19:37] rushatgabhane commented on #9287
@sobitneupane what's your email for new expensify? It'll be needed to add to the beta

[2022-06-10 19:39] rushatgabhane commented on #9246
@JoshuaM1995 can you think of a simpler solution?

[2022-06-10 19:40] luacmartins commented on #9234
Let's do that. I don't see the point of having that input.

[2022-06-10 19:40] stitesExpensify commented on #8956
Not overdue, unreproducible

[2022-06-10 19:41] stitesExpensify commented on #8307
not reproducible as of 3 weeks ago.  Is this still not reproducible @mvtglobally ?

[2022-06-10 19:41] stitesExpensify commented on #8131
I'm down to workshop internally, but I am currently focused on the n7 fire of refactoring the API so I'm going to bump this to monthly

[2022-06-10 19:42] roryabraham commented on #7962
Okay, so I just tested https://github.com/wonday/react-native-pdf/pull/655 using https://github.com/ds300/patch-package, and although I was able to confirm with logs that the updated code is being executed, it doesn't seem to resolve the issue. @grvsood can you please test the pull request in this app using patch-package or your own fork of react-native-pdf and see if it's working for you?

[2022-06-10 19:42] stitesExpensify commented on #9183
@NicMendonca time to double?

[2022-06-10 19:50] Tushu17 commented on #9252
Hey @Julesssss, The behaviour is also inconsistent. The keyboard opens after selecting the emoji at composer.

https://user-images.githubusercontent.com/89839952/173139625-60c1c741-53b7-4d55-b610-2c93d0242f41.mov

.

[2022-06-10 19:51] JoshuaM1995 commented on #9246
@rushatgabhane Yes, you're right. I just checked `MenuItem.js` and it already has the `popoverMenuIcon` styles applied, so it would be redundant to apply them a second time.

https://github.com/Expensify/App/blob/784d5384ae0abe772fea8c129733f081c384d423/src/components/MenuItem.js#L67

My updated proposal is to apply the `popoverMenuIconEmphasized` style when the `policy.avatarURL` is not defined,

[2022-06-10 20:07] TomatoToaster commented on #9264
PR up for this but feels like a band-aid not a real solution. I'm not sure if there's a better solution to this. After investigating and trying to recreate this (hadn't been able to on emulator obviously) I think this should at least address the problem.

[2022-06-10 20:38] stitesExpensify commented on #7435
We're holding until I do [this issue](https://github.com/Expensify/App/issues/7420), which is currently very low priority.

[2022-06-10 20:41] liyamahendra commented on #9234
And then come back to refactoring ProfilePage.

I did propose changing ‘ FullNameInputRow’ to normal text input controls. Did you had a chance to notice my point 6? Or you were suggesting something else? @rushatgabhane

[2022-06-10 20:44] rushatgabhane commented on #9234
@liyamahendra yep, was just asking questions to see if we can do better.

[2022-06-10 21:05] mananjadhav commented on #9339
@iwiznia, @sobitneupane's proposal looks good.

@sobitneupane, as Rajat mentioned, please wait for the issues to get triaged before posting proposals.

🎀 👀 🎀
C+ reviewed

[2022-06-10 21:06] JosueEchandiaAsto commented on #9307
@mananjadhav, My mistake. Only "styles.flexRow" will be added. So that there are no visual changes.
Replacing ScrollView with View has no effect on platforms.

https://github.com/JosueEchandiaAsto/App/commit/aababd3d40952e6d85966b1a40ef6bbfc15c55a9

[2022-06-10 21:09] mananjadhav commented on #9090
@allroundexperts Were you able to get to this? Are you facing any challenges?

[2022-06-10 21:14] lbaldy commented on #2727
Okay so there are a couple of things we need to flesh out.

a) Upgrading a react native version for an app is always a big project (dev work as well as regression check across the whole app) do we really want to do it twice (once to fork version once to facebooks version)?
b) E/App is not and has not been using the for ever, why do we want to use fork now instead of just getting it straight from o

[2022-06-10 21:24] mananjadhav commented on #9307
@JosueEchandiaAsto  Thank you for the comment. Your proposal looks good.

cc - @neil-marcellini

🎀 👀 🎀 
C+ reviewed

[2022-06-10 21:28] ahmdshrif commented on #8349
@Julesssss

I totally agree on upgrading and counting this as a fix for this issue, but I think preparing the app and making other 3 party support fabric takes a long time.
some third parties that I work with them in the app do not have any updates for many years. so we should fork and support them who knows if the new arch will work fine with them or not.

and as @parasharrajat  says :

I suggest

[2022-06-10 21:45] mananjadhav commented on #9331
@stitesExpensify, Yeah, the issue is if the tooltip is open and we change the text, its width doesn't change. @sobitneupane's proposal looks good.

@sobitneupane While I appreciate the spontaneous solutions, please wait for the issue to get triaged before posting the proposals.

🎀 👀 🎀 
C+ reviewed

[2022-06-10 21:52] neil-marcellini commented on #8719
This error only occurs on Android / Chrome. I was not able to reproduce it on iOS / Safari and neither was @srikarparsi. I might take a shot at fixing this later if we still don't have proposals.

Android / Chrome
https://user-images.githubusercontent.com/26260477/173155604-3cd9750e-84d7-408c-a53e-506532b6ca39.mov

[2022-06-10 22:07] stitesExpensify commented on #9331
I agree that @sobitneupane proposal looks good!

[2022-06-10 22:25] iwiznia commented on #9339
This is not really necessary, but you risk the issue NOT being sent to contributors and thus not getting pay for the proposal. It's all in the guidelines.

@arielgreen can you please hire @sobitneupane?

[2022-06-10 22:47] kidroca commented on #8503
I've stumbled on this ticket thanks to experimenting with Fabric and the new RN Architecture.
It turns out migrating would resolve one top paying issue here: https://github.com/Expensify/App/issues/8349#issuecomment-1151172897

I think we can
- update react native using the migration tool here: https://react-native-community.github.io/upgrade-helper/
- audit which 3rd party dependencies released v

[2022-06-10 22:48] roryabraham commented on #6306
We'll definitely still want this. It's in-scope for N9

[2022-06-10 22:58] michaelhaxhiu commented on #7916
@mdneyazahmad do you mind responding to @roryabraham on the Slack Discussion that you posted/linked above?

[2022-06-10 22:58] Beamanator commented on #8031
I believe this can be closed b/c the fix was implemented in this PR: https://github.com/Expensify/App/pull/9060

[2022-06-10 23:15] michaelhaxhiu commented on #9341
Posted to upwork, link here - https://www.upwork.com/jobs/~011c612d785f81ca45

[2022-06-10 23:35] chiragsalian commented on #7185
Sorry for the delay, swamped with a couple of other tasks. Anyway i just created a backend issue for this - https://github.com/Expensify/Expensify/issues/214332. Shall we place this issue on HOLD until the backend issue has been resolved?

[2022-06-11 00:02] neil-marcellini commented on #9307
@JosueEchandiaAsto I think you have the right solution of simply replacing the `ScrollView` with a `View`, but I would prefer that you leave the styles as they are. If there is a good reason to change the style, please explain why and show us how it will look on all platforms with screenshots or recordings. I'll let you decide what to do in your PR.

You're hired for this issue! Please put up a PR

[2022-06-11 00:02] chiragsalian opened #9402 "[Image][$1000] Improve NewDot image uploading experience, add large file support"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Upload an image in App

## Expected Result:
The image should be grayed (opacity 0.6 i.e., chatItemUnsentMessage) until its uploaded and once its

[2022-06-11 00:16] ctkochan22 commented on #7185
I'm trying to reproduce, but I think i'm doing something wrong.

1. Add a Personal Bank Account. Pick wells fargo. Log in with "user_good". Pick the 0000 (or any account).
2. Do it again, and log into wells fargo with "user_good". I don't see the 0000 option anymore

[2022-06-11 00:49] kbecciv opened #9403 "Web - Chat - Selected part of the text does not transfer the to another place"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to link https://staging.new.expensify.com
2 Open the chat
3. Enter any text
4. Select part of the text
5 Move it to another place

## Expected

[2022-06-11 05:53] mollfpr commented on #9391
### Proposal

So there's a condition on `getOptions` from `OptionsListUtils` whether we want to show the empty report or not with passing `showReportsWithNoComments` to `true`.
https://github.com/Expensify/App/blob/6bac9af7294877114f8bf9532ff7b8c46146c90d/src/libs/OptionsListUtils.js#L421-L436

In our current implementation, we use `getSidebarOptions` to get the report list but we not pass `showRe

[2022-06-11 08:09] mollfpr commented on #9379
### Proposal

This is a known bug on the doc https://meliorence.github.io/react-native-render-html/docs/content/textual#line-breaks and recommends using `enableExperimentalBRCollapsing`. Unfortunately, we use the explicit composite architecture for `react-native-render-html` which is `RenderHTMLSource`.

In our case, for quoted HTML we don't need `<br />` before the `<blockquote>`. So we need to r

[2022-06-11 12:30] dhairyasenjaliya commented on #8592
https://github.com/Expensify/App/blob/11a1f0debac2dfee461e6b71751c3b3bcfb9f2cf/src/pages/home/report/ReportActionCompose.js#L411-L430

[2022-06-11 13:12] dhairyasenjaliya commented on #8592
### Proposal

- when we add any message which is a typo (misspelled) into the composer and send it as a message it sends as a message, but also it remains in text input with the auto-correct word in iOS (app) and for iOS (web safari) it removes the message, but blue opacity for spell check remain as it is

### Solution

1. For Safari (web app) it's an issue of Safari that we can not fix on the DOM

[2022-06-11 14:27] liyamahendra commented on #9234
@rushatgabhane I've been doing the changes locally and testing them. I'm done with most of the testing.

Below are the changed files:

[code]

I added a new error message when the saving of personal details fails:

- src/languages/en.js
[code]

- src/languages/es.js
[code]

Can you please review & comment about these text addition? I used google translate to add to es.js. Do we have a standard pro

[2022-06-11 14:32] rushatgabhane commented on #9234
@liyamahendra this code is being refactored, you can skip adding the new error message.

[2022-06-11 14:38] liyamahendra commented on #9234
@rushatgabhane thank you for the quick response! I'll remove setting of `serverErrorMessage` from `src/libs/actions/PersonalDetails.js`.

I'm having trouble setting the `errorText`. I debugged the code and it seems that the `errorText` doesn't get passed to the `BaseTextInput` control. Even when I set the `errorText` to a static value, it doesn't show up. Any insights on this please?

[2022-06-11 14:46] rushatgabhane commented on #9234
@liyamahendra Hold on. It is recommened to start working on this issue only after you're assigned the issue.

[2022-06-11 14:49] liyamahendra commented on #9234
Oh, okay! I've already submitted a proposal on Upwork for this job. My Upwork username is `devappsc`. Kindly let me know further process. Thank you!

[2022-06-11 14:58] rushatgabhane commented on #9234
@liyamahendra an Expensify engineer (@marcochavezf in this case) will review your proposal and assign you the issue if all is good. (see [contributing.md](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job)). You can then open a [pull request](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#begin-coding-your-solution-in-a-pull-request) when the cod

[2022-06-11 20:16] JosueEchandiaAsto commented on #9307
@neil-marcellini I'll explain.

### Simply replacing the ScrollView with a View

**Web**
<img width="1203" alt="Captura de Pantalla 2022-06-11 a la(s) 14 38 46" src="https://user-images.githubusercontent.com/16966456/173202636-83c47ebc-1e6e-41c6-8623-47a35f88edc5.png">

**Desktop**
<img width="1203" alt="Captura de Pantalla 2022-06-10 a la(s) 20 20 22" src="https://user-images.githubusercontent.co

[2022-06-11 21:26] allroundexperts commented on #9090
@mananjadhav Apologies for the delay.
https://github.com/Expensify/App/pull/9405

[2022-06-12 02:50] JosueEchandiaAsto commented on #9341
### Proposal

### Issue
Dropdown options appear gray backgroud color and different font

### Fix
Firefox doesn't allow setting fontFamily in <option> if this font is not installed on the device since the page is consulted.

For example:
Set Futura font to <option> that is install.

![](https://user-images.githubusercontent.com/16966456/173211045-7350affc-fb06-4350-90cc-ee416b519fc7.png)
![](https:

[2022-06-12 11:59] liyamahendra commented on #9234
@rushatgabhane I was able to fix the `errorText` issue by comparing my `validate` method with that inside `AddDebitCardPage` - the issue was I used the wrong keys while returning the error object from the `validate` method. All good now!

@marcochavezf I'm ready for doing the refactoring for `ProfilePage`. My proposal was reviewed initially by @rushatgabhane and he thinks it's good. Can you please

[2022-06-12 13:28] mollfpr commented on #8292
### Proposal

I think this issue is related to CSS animation on the browser. I've seen some issue on StackOverflow the animation change behavior when focusing the input at the same time.
https://stackoverflow.com/questions/54075497/example-of-input-with-focus-breaking-slide-down-animation-of-form
https://stackoverflow.com/questions/24742930/using-css-animations-on-element-containing-a-focused-inpu

[2022-06-12 15:04] kbecciv opened #9406 "[$250] IOS - IOU-Send Money Button is sometimes triggered after double tapping on add attachment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open test app
2. Tap on a contact
3. Tap on +
5. Double tap on add attachment
6. Close the popup menu, just typing outside somewhere else
7. Doub

[2022-06-12 15:15] kbecciv opened #9407 "[$250] Android/IOS -IOU-The cursor disappears after putting app in background in requesting money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open test app
2. Tap on a contact
3. Tap on +
4. Tap on request Money
5. Put app in background and Open app again

## Expected Result:
The cursor

[2022-06-12 17:10] ahmdshrif commented on #8731
@luacmartins @mvtglobally  I still repro it
also, I report another related issue [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1655052706729669).

https://user-images.githubusercontent.com/21364901/173244769-08e2726b-18a0-4ea1-a1c5-48fc4ac488d6.mov

[2022-06-12 20:28] allroundexperts commented on #9287
# Proposal

## Issue
The `Text` component in react native is a special component that is unique relative to the layout. Everything inside is not considered to be part of the flex layout. In short, we should not use a View wrapped in Text having a child Text ie:
[code]
ref: https://reactnative.dev/docs/text#containers

## Solution
We should not use `View` inside the `Text` component. The `RenderHTM

[2022-06-13 02:34] sobitneupane commented on #9287
sobit.neupane.111@gmail.com and sobit.neupane.111+2@gmail.com

[2022-06-13 02:53] Christinadobrzyn commented on #9164
Ah, thank you for confirming! Sorry for the confusion. I removed the job in Upwork.

[2022-06-13 03:30] mvtglobally opened #9408 "[$500] :pencil2: icon is shown for archived chats - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a workspace
2. Navigate to the announce room for that workspace
3. Type something in the composer
4. Delete the workspace

## Expected Res

[2022-06-13 03:45] mvtglobally opened #9409 "Tooltip doesn't resize itself after copying Email/Phone No - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Desktop Website/App
2. Chat > Details
3. Copy Email/Phone no.

## Expected Result:
There shouldn't be extra space.

## Actual Result:
Toolti

[2022-06-13 03:55] dhairyasenjaliya commented on #9379
### Proposal

- Here for this issue for HTML we are getting extra `<br />` in messages if combination of both non-quoted and quoted
- for quoted we are already using custom` < blockquote >` which by default includes `<br />`
- so here we do have 2 `<br />` when we have both combinations of both non-quoted and quoted

### Solution

- the above solution that mollfpr provides works as expected when w

[2022-06-13 04:04] mvtglobally opened #9410 "[HOLD for payment 2022-07-15] [$250] Emoji Search Bar focus indicator is missing - reported by Santhoshkumar Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open new Expensify in web/desktop
2. Open any chat
3. Click on the emoji icon in the composer
4. Enter the search input

## Expected Result:
Sear

[2022-06-13 04:17] mvtglobally opened #9411 "[HOLD for payment 2022-07-05] [$250] On request call page keyboard type is wrong for phone number, extension field - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open mobile Website/App
2. Go to workspace > Get assistance > Request a setup call.
3. Touch on Phone Number/Extension input field.

## Expected

[2022-06-13 04:23] mvtglobally opened #9412 "Hovering over the avatar inside the chat doesn't show the tooltip - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any chat
2. Hover over the avatar on top of the chat

## Expected Result:
The tooltip is shown

## Actual Result:
The tooltip doesn't show

[2022-06-13 04:29] mvtglobally opened #9413 "[$250] On using arrow keys, Both emoji picker and Chat history is scrolling simultaneously - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Desktop Website
2. Go to Chat > Send a Message > Edit Message
3. Open Emoji picker in edit message, then press Down and Up key on keyboard.

[2022-06-13 04:30] callree opened #9414 "Callree"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2022-06-13 04:30] #9414 closed

[2022-06-13 04:32] mvtglobally opened #9415 "Unable to focus to the Cancel button using tab press - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app in web/desktop
2. Go to any chat
3. Send a message
4. Try to delete
5. Confirm option will appear
6. Try to focus Cancel button using by

[2022-06-13 04:41] mvtglobally opened #9416 "Log search links are appending ?authToken= to the end, completely breaking them when navigating to them"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send a log search link to someone IE https://www.expensify.com/_devportal/tools/logSearch/#sort=asc&size=10000&query=blob%3A%22Expensiworks_Captu

[2022-06-13 04:47] mvtglobally opened #9417 "[HOLD Authentication Refactor] Password sign-in form error not removed after user goes back to email/number - reported by Marion Rosete"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.User inputs username and continue to password form
2. User inputs nothing on password form or wrong password which triggers an error message
3. Go

[2022-06-13 04:51] mvtglobally opened #9418 "[HOLD REFACTOR] [$250] Enlarged view of own avatar not getting updated after uploading new avatar - reported by @aswin-s"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to profile settings.
2. Upload a new profile picture and save. Wait for upload to finish.
3. Navigate to own profile details from an ongoing c

[2022-06-13 05:07] mvtglobally opened #9419 "After sending a message to an old chat when you delete the message the chat stays at the top - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a chat which isn't on top
2. Send a message, now the chat will show up on top at the LHN
3. Delete the last message that you sent
4.

[2022-06-13 05:10] Tushu17 commented on #9411
### Proposal
We just need to add `keyboardType={CONST.KEYBOARD_TYPE.PHONE_PAD}` in `TextInput` of Phone number & Extension field.
https://github.com/Expensify/App/blob/6bac9af7294877114f8bf9532ff7b8c46146c90d/src/pages/RequestCallPage.js#L301-L303
https://github.com/Expensify/App/blob/6bac9af7294877114f8bf9532ff7b8c46146c90d/src/pages/RequestCallPage.js#L311-L314

[2022-06-13 05:35] thesahindia commented on #9409
Dupe of https://github.com/Expensify/App/issues/9331

[2022-06-13 06:26] adeel0202 commented on #8455
Thanks for the clarification @mallenexpensify. But shouldn't this remain open and on hold until the issue is fixed?

[2022-06-13 08:11] techievivek commented on #8589
Not overdue looking into it today.

[2022-06-13 08:11] techievivek commented on #9354
Not overdue looking into it today.

[2022-06-13 08:24] SumitDiyora commented on #9390
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #9378, #9392

[2022-06-13 08:32] MonilBhavsar commented on #8035
Closing this as it will be fixed by API refactoring. Feel free to reopen if issue persists.

[2022-06-13 08:48] sobitneupane commented on #9249
**Proposal:**
Reason: `marginRight` is passed in `imageStyles` prop from `ReportActionItemSingle` to `Avatar`. It is only used in `<Image />` component in `Avatar`.

So, to get rid off the issue, we should use `imageStyles` around `Icon` as well Or, we can use it in view that wraps both `<Image />` and `<Icon />`  component.

https://github.com/Expensify/App/blob/6bac9af7294877114f8bf9532ff7b8c461

[2022-06-13 08:52] parasharrajat commented on #9408
Good one.

[2022-06-13 08:58] parasharrajat commented on #7618
I will look into this soon. Not working on it today.

[2022-06-13 09:53] techievivek commented on #9354
I did get the reason why it is changing the colour and that is because the checkbox is implemented [on top](https://github.com/Expensify/App/blob/6bac9af7294877114f8bf9532ff7b8c46146c90d/src/components/CheckboxWithLabel.js#L82) of `TouchableOpacity` component from the [react-native ](https://reactnative.dev/docs/touchableopacity) so one way to fix this is to use the property the `activeOpacity` an

[2022-06-13 10:20] Puneet-here commented on #9410
### Proposal

We can make a state `isFocused` and we can make it `true` at `onFocus` and `false` at `onBlur`

https://github.com/Expensify/App/blob/6bac9af7294877114f8bf9532ff7b8c46146c90d/src/components/EmojiPicker/EmojiPickerMenu/index.js#L437-L442
we need to use it like this:
[code]

now we have to use `isFocused` to change border color. We can do that by using the below line at composer
[code]

[2022-06-13 10:42] mdneyazahmad commented on #8292
If an animation is on going and we try to focus on an element inside. It does not have consistent behavior. So, my proposal was to delay the focus until the animation completes.

I have found an issue with similar feature request https://github.com/react-navigation/react-navigation/issues/10034 and the author has commented to use another method https://github.com/react-navigation/react-navigation/

[2022-06-13 11:02] mananjadhav commented on #7081
The above-suggested changes work fine now. The only thing left is to add transitioning with fade effect. I am adding that and pushing on PR tonight for the review.

[2022-06-13 11:18] jliexpensify commented on #8035
Cool, thanks @MonilBhavsar - going to pay @Santhosh-Sellavel the reporting fee of $250.

[2022-06-13 11:21] jliexpensify commented on #8035
Invited @Santhosh-Sellavel

Internal - https://www.upwork.com/ab/applicants/1536307494591885312/job-details
External - https://www.upwork.com/jobs/~01e8f5d7c440d5a1a4

[2022-06-13 11:54] kbecciv opened #9421 "[HOLD for payment 2022-08-30] [$250] mweb - Unable to add a new line while editing a comment @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. Long press on a message> Edit comment
3. Press enter/return on keyboard

## Expected Result:
Able to add a new line while

[2022-06-13 12:21] kbecciv opened #9422 "[HOLD for payment 2022-09-01] [$250] Android - User cannot send the video in app @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open expensify app in android
2. Go to any chat > press heavy_plus_sign > add attachment > select a video> send

## Expected Result:
User can't s

[2022-06-13 12:22] mdneyazahmad commented on #7917
@stephanieelliott Sorry for the late reply. I tested that solution does not work.

[2022-06-13 12:38] Harshdeepjoshi commented on #9410
## Proposal
we should use `TextInput` instead of `Composer` as `Composer`  is intended to compose messages and should not be used in this place .
https://github.com/Expensify/App/blob/6bac9af7294877114f8bf9532ff7b8c46146c90d/src/components/EmojiPicker/EmojiPickerMenu/index.js#L437-L442

we should do
` <TextInput
     textAlignVertical="top"
     placeholder={this.props.translate('common.search')}

[2022-06-13 12:39] shawnborton commented on #9354
Just curious @kbecciv was this a bug reported in the #expensify-open-source room? I'd love to catch up on the discussion around it. If not, we should bring these items into the room for discussion before moving forward with solutions in GitHub.

That being said... I don't feel strongly about this one. I can see where given that this reuses TouchableOpacity, we'd just keep the current behavior as i

[2022-06-13 12:46] rushatgabhane commented on #9246
@NikkiWines I recommend @JoshuaM1995's [proposal](https://github.com/Expensify/App/issues/9246#issuecomment-1152682069).

When `policy.avatarURL` is defined, no iconStyles will be applied here.
https://github.com/Expensify/App/blob/784d5384ae0abe772fea8c129733f081c384d423/src/pages/settings/InitialSettingsPage.js#L142

🎀 👀 🎀 C+ reviewed

[2022-06-13 12:57] luacmartins commented on #8731
@ahmdshrif I managed to repro as well. You're welcome to send a proposal if you are interested.

[2022-06-13 13:08] luacmartins commented on #9249
@sobitneupane I think adding a view to wrap both Image and Icon is the better solution. @rushatgabhane what do you think?

[2022-06-13 13:12] Julesssss commented on #9252
Thanks, @Tushu17.

@trjExpensify this is the case which I believe should be excluded:

https://user-images.githubusercontent.com/10736861/173361430-d66f93e4-077c-417a-809e-a187e1795f88.mp4

[2022-06-13 13:12] mallenexpensify commented on #9370
@alex-mechler , should I label internal or post _somewhere_ to get more 👀 to confirm it needs to be internal?

[2022-06-13 13:16] rushatgabhane commented on #9249
@sobitneupane Yeah, that's the root cause. Nice find!

@luacmartins I agree as well! I like @sobitneupane's [proposal](https://github.com/Expensify/App/issues/9249#issuecomment-1153649295)
🎀 👀 🎀 C+ reviewed

[2022-06-13 13:27] deetergp commented on #8927
@mananjadhav Yes, let's go with @thesahindia's solution. 👍

[2022-06-13 13:29] AndrewGable commented on #8791
Yes, we can try that.

[2022-06-13 13:52] kbecciv commented on #9421
@sketchydroide Issue is reproduced in SG21/12 with version 1.1.76.2

https://user-images.githubusercontent.com/93399543/173369070-59c3ce05-cb81-46b7-a84e-c4a6de40ae44.mp4

[2022-06-13 13:54] NicMendonca commented on #9183
Doubled - https://www.upwork.com/jobs/~01e452c0b62be21308

[2022-06-13 13:59] mallenexpensify commented on #9363
Thanks again for raising @Puneet-here , I brought up internally for 👀, if there's an update we'll address in #expensify-open-source.

[2022-06-13 14:00] deetergp commented on #9399
@kavimuru I can't even create a group chat with that number. Are we sure this is still a bug?
<img width="1904" alt="Screen Shot 2022-06-13 at 9 59 06 AM" src="https://user-images.githubusercontent.com/766197/173370609-565ccef1-46ec-446d-89c4-f914e719d8b2.png">

[2022-06-13 14:09] parasharrajat commented on #9402
Good change. I agree.

[2022-06-13 14:18] parasharrajat commented on #7081
Thanks @mananjadhav. let me know on the PR when updated.

[2022-06-13 14:22] kbecciv opened #9424 "[HOLD for payment 2022-08-30] [$1000] Attachment - Image file size gets doubled when uploaded from iOS @aswin-s"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Go to a chat and upload an image from a mobile device.
3. Check the image size on device.
4. Now open the chat on recipient acc

[2022-06-13 14:38] mallenexpensify commented on #9245
Thanks @mananjadhav , assigned @rushatgabhane .  Rushat, can you provide an update?

[2022-06-13 14:43] mallenexpensify commented on #8349
Bumped to `Weekly` since, I think, we're awaiting proposals and we don't need daily updates (let me know if that's not the case)

[2022-06-13 14:43] rushatgabhane commented on #9245
@mallenexpensify there are some backend changes required.
@chiragsalian is trying to figure out how feasible it would be fihttps://github.com/Expensify/App/issues/9245#issuecomment-1147818979

[2022-06-13 14:48] mallenexpensify commented on #7835
@gladiator-1 is working on, updating from `Daily` to `Weekly` cuz it's in progress

[2022-06-13 14:50] kavimuru commented on #9399
@deetergp In the  phone number +380 is country code. The issue occurs with non existing phone account. I can close this, looks like same rootcause of #8641

[2022-06-13 14:58] SumitDiyora opened #9425 "[Med] Chrome: Screen reader: Action performed by the button is not announced by Screen reader."
___

## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Login with the credentials.
3. On the homepage, select any chat.
4. Navigate to the visually looking PIN button and select it which is located at top right besides Call button.
5. Observe if the Screen reader is making any announcement.

## Expected Result:
After clicking on the visually looking Pin button or by

[2022-06-13 15:05] Luke9389 commented on #9368
Getting @JmillsExpensify's take before moving forward with this.

[2022-06-13 15:06] mollfpr commented on #9379
I guess you're right.

I think we don't need `<br>` before blockquote since blockquote is already creating a new line to show.

[2022-06-13 15:22] JmillsExpensify commented on #9368
I think we should probably put this one hold. We're about to redo this entire page for N7. Another alternative is to close it for now given that we don't have a use case that supports the Wallet page in the production app.

[2022-06-13 15:24] MitchExpensify commented on #7918
Not overdue, conversation ongoing in this [Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1654195847140899)

[2022-06-13 15:25] rushatgabhane commented on #9379
Won't that break web? The normal text and quote will be shown on the same line.

[2022-06-13 15:31] sakluger commented on #9232
I can't reproduce this issue on the iPad New Expensify mobile app. I tested with my own account, and used the same Concierge chat, but it always loaded correctly with no overlapping text after minimizing and reopening the app.

Could you please reopen if you still experience this consistently, and please include more contextual information including whether it's the testflight or from the App Stor

[2022-06-13 15:31] #9232 closed

[2022-06-13 15:42] rushatgabhane commented on #9379
@luacmartins I'll wait for your thoughts because I'm note sure what's the best approach to solve this issue.

[2022-06-13 15:44] marcochavezf commented on #7079
No update yet

[2022-06-13 15:47] Gonals commented on #9407
Sounds like a good candidate for External!

[2022-06-13 15:52] rushatgabhane commented on #9287
@allroundexperts I'm holding on the review until your first issue is closed.

[2022-06-13 15:52] rushatgabhane commented on #9287
New proposals are welcome!

[2022-06-13 15:55] brianmuks commented on #8361
I have created a method to determine if chat is group chat as suggested here :
https://expensify.slack.com/archives/C01GTK53T8Q/p1654093853902489?thread_ts=1654092407.682469&cid=C01GTK53T8Q
[code]
The methods is sitting here:
https://github.com/brianmuks/Expensify.cash/blob/2a8b8a490e224d6e0cd02bbf39853dd9c4fdff24/src/libs/reportUtils.js
Can I go ahead with this approach ?

[2022-06-13 15:57] #9368 closed

[2022-06-13 15:58] #9399 closed

[2022-06-13 16:09] luacmartins commented on #9379
@mollfpr proposal seems to fix the issue on mobile and web. I'm not a big fan of the regex, because it can be very slow to parse long comments. I'm not sure if we have an alternative though. @mollfpr can you think of something else?

[2022-06-13 16:11] luacmartins commented on #9249
Agreed! @sobitneupane I'll assign you to this issue.

[2022-06-13 16:18] NikkiWines commented on #9246
Yep, looks good! @JmillsExpensify could you please hire @JoshuaM1995 for this issue, thank you!

[2022-06-13 16:23] alex-mechler commented on #9370
I'll dig a bit today to see which it is

[2022-06-13 16:35] danieldoglas commented on #9342
I could not simulate this. Tested on firefox `101.0.1 (64-bit)`

[2022-06-13 16:37] JmillsExpensify commented on #8520
Regression period has passed and I'm not seeing any issues in the linked PR. Issuing payments now. Contributors - thanks so much and let me know if you have any questions following payment.

[2022-06-13 16:45] JmillsExpensify commented on #8520
I'm going to go ahead and close the issue but please comment here and/or message me on Slack when you return from OOO and we'll get this closed out for you.

[2022-06-13 16:45] #8520 closed

[2022-06-13 16:57] cead22 commented on #8610
No update

[2022-06-13 17:02] parasharrajat commented on #6883
Review started on the PR. It would be great to get this [info](https://github.com/Expensify/App/issues/6883#issuecomment-1150357942).

[2022-06-13 17:05] trjExpensify commented on #9252
^^ Ah right yes, but that's not in edit mode is it?

[2022-06-13 17:08] trjExpensify commented on #7470
@mananjadhav were you able to retest here?

[2022-06-13 17:13] trjExpensify commented on #9123
@stitesExpensify might have some added context around the direction we went here as well.

[2022-06-13 18:02] MonilBhavsar commented on #9364
Working on this

[2022-06-13 18:11] neil-marcellini opened #9426 "Get Started transition from Mobile-Expensify causes infinite loading"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Sign up with a new @gmail.com account in the Expensify mobile app (old app).
2. Click join
3. Open the second inbox task that says "Would you li

[2022-06-13 18:17] Luke9389 opened #9427 "[$250] Implement Three Suggested Changes from Callstack"
### Background

Callstack is vendor that we've engaged to help with app performance. They've needed to delay our engagement until September, but in the mean time gave a few tips for us that they think would be helpful.

### Suggested Changes

- ~~The @react-native-community/cli dep shouldn't be added directly. It's a transitive dependency of react-native.~~
`Note:` No longer adding @react-native-c

[2022-06-13 18:23] alex-mechler commented on #9370
Doesn't _appear_ to be related to the size of the chunks, as I've switched chunk size down to 1k (well under the limit even if each character is taking the max size), and the push is still failing to send. Since the push itself is failing to send, its internal @mallenexpensify

[2022-06-13 18:32] chiragsalian commented on #7263
Closing sounds good to me.

[2022-06-13 18:32] #7263 closed

[2022-06-13 18:46] laurenreidexpensify commented on #8929
https://www.upwork.com/jobs/~01d4896d71392866b8

[2022-06-13 18:46] Luke9389 commented on #9427
Brought this up in eng-chat [here](https://expensify.slack.com/archives/C03TQ48KC/p1655144670493729)

[2022-06-13 18:50] flodnv commented on #9341
Thanks for the insights! Which font is it not getting? Can we not somehow force install it?

[2022-06-13 19:19] adelekennedy commented on #9244
@Julesssss thoughts on [this proposal](https://github.com/Expensify/App/issues/9244#issuecomment-1147823806)

[2022-06-13 19:22] mallenexpensify commented on #8791
Doubled price to $1000

[2022-06-13 19:25] Julesssss commented on #9244
Sorry, missed this one. Approving @Harshdeepjoshi's proposal 👍

[2022-06-13 19:30] flodnv commented on #9422
To clarify, it sounds like the problem is bigger videos? Can we get an example of a video which works, and one that does not?

[2022-06-13 19:30] Julesssss commented on #9250
Not overdue

[2022-06-13 19:32] parasharrajat commented on #8292
looking into the updates..

[2022-06-13 19:38] parasharrajat commented on #6941
Need testing.

[2022-06-13 19:39] parasharrajat commented on #8929
Does not seem like an real issue. As soon as the user leaves the scroll, button moves to the bottom.

[2022-06-13 19:56] parasharrajat commented on #8292
@mdneyazahmad Good lead. As said in the comment, drawerClose event was removed from the react-navigation or it never existed. But there are other ways to determine the drawerStatus and ways to hook that into react ecosystem.  `state` event should be fired whenever the state changes and I see no reason why it is not firing. It may be possible that your subscription is recreated on each render.

So