[2022-05-23 18:58] #9015 closed

[2022-05-23 18:59] Santhosh-Sellavel commented on #6154
@eVoloshchak I faced all those issues mentioned [above](https://github.com/Expensify/App/issues/6154#issuecomment-1126074886)!
Sorry, I see there was a fix too, but I missed that.

I believe those issues are well within the scope of this issue, So I would expect a fix in this issue itself. But I'll leave it to @chiragsalian to make a final call.

So what's yet to be @eVoloshchak from the  [above](

[2022-05-23 19:03] marcaaron commented on #8612
I'm confused about the premise of this issue. Tested on macOS in Chrome and can't even tab to the scroll bar. 🤔

[2022-05-23 19:05] marcaaron commented on #8612
That said, it does look like the "wheel" event is correct while the arrow keys behavior is not.

[2022-05-23 19:05] parasharrajat commented on #8612
It is about the controls. You will have to use Tab navigation to focus the chat list and then use arrows to scroll the list. Scrolling direction is inverted...

[2022-05-23 19:06] jboniface commented on #8115
yep, it must have expired https://www.upwork.com/jobs/~017240c85f844e057f

[2022-05-23 19:07] marcaaron commented on #8612
Yes confused by the overly specific reproduction steps. Tab is not necessary. Just focus the chat window anyway you can mouse click, tab, whatever.

[2022-05-23 19:12] jayeshmangwani commented on #9088
@rushatgabhane Updated proposal:

1. we can pass blurOnSubmit value from the SearchPage to OptionSelector like this if searchValue is not available and the section is empty then disable the submit button by pressing enter

https://github.com/Expensify/App/blob/02fb4e9738fbe491c3a8e48dfb7abd141320baa6/src/pages/SearchPage.js#L179-L189

[code]

2. we will define a prop blurOnSubmit for handling scen

[2022-05-23 19:16] marcaaron commented on #8612
FWIW I think this issue is well documented [here](https://github.com/necolas/react-native-web/issues/2233)

[2022-05-23 19:16] mdneyazahmad commented on #7968
## Proposal

### Issue

When Modal is opened, it registers an event listener in capture mode for `Enter` key pressed. When we press `Tab` we can change the focus to the next element. Pressing `Tab` will cycle between 3 focussable elements inside modal.
1. Confirm button
2. Cancel button (focus ring does not appear here)
3. Possibily backdrop (focus ring does not appear here)

Let's say user opens

[2022-05-23 19:21] parasharrajat commented on #8612
It looks like that issue took a pause on https://github.com/necolas/react-native-web/pull/2151. But this PR is not updated since Oct 2021.

[2022-05-23 19:26] JmillsExpensify commented on #8644
Should we create a new issue for this one @TomatoToaster or keep using the old issue?

[2022-05-23 19:28] marcaaron commented on #8612
Yes looking at this comment -> https://github.com/necolas/react-native-web/pull/2241#discussion_r821130543

It seems the issue will not be fixed by the next release https://github.com/necolas/react-native-web/pull/2241#issuecomment-1076763890

But we can put some effort behind getting the linked issue resolved ?

[2022-05-23 19:32] TomatoToaster commented on #8644
This issues fine, I can look into this one.

[2022-05-23 19:34] isagoico commented on #9111
Checking off https://github.com/Expensify/App/pull/9101#issuecomment-1135029905

[2022-05-23 19:52] Santhosh-Sellavel commented on #8115
Thanks, @jboniface Applied!

[2022-05-23 20:06] Santhosh-Sellavel commented on #8287
@Luke9389

I had started a slack 🧵 regarding the confusion here about clearing or keeping the invalid search input and modifying it.
Most of the team prefer modifying the text consensus reach in the poll [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1653336003554859?thread_ts=1653335197.924749&cid=C01GTK53T8Q)

So Let's go with @Puneet-here proposal here!
🎀 👀 🎀 C+ reviewed

Thanks!

[2022-05-23 20:14] Santhosh-Sellavel commented on #9090
@luacmartins I going OOO on next week, so I am happy to defer this to another C+.
Can you reapply exported, I am un-assigning myself here.

[2022-05-23 20:14] Santhosh-Sellavel commented on #9090
Current status: Proposals yet to be reviewed!

[2022-05-23 20:17] Santhosh-Sellavel commented on #8595
@frenkield Let us know when PR is ready!

[2022-05-23 20:18] marcaaron commented on #9137
Seems like we would have to update the participants on the associated reports:

https://github.com/Expensify/App/blob/930f18b72829a414ac5e2e19f424871d924eded9/src/pages/ReportDetailsPage.js#L78-L78

I think re: "Optimized API" changes this would mean that we would have something like `InviteWorkspaceMember` and `RemoveWorkspaceMember` commands that would return partial report data to merge into On

[2022-05-23 20:22] frenkield commented on #8595
I'll submit it in a few hours, @Santhosh-Sellavel.

[2022-05-23 20:29] JmillsExpensify commented on #9020
@roryabraham Yeah unfortunately that doesn't work for the "participating" filter in my GH inbox. Thanks though!

[2022-05-23 20:31] JmillsExpensify commented on #9020
More importantly though, are we still on hold?

[2022-05-23 20:34] michaelhaxhiu commented on #8307
holding

[2022-05-23 20:34] Santhosh-Sellavel commented on #7917
Thanks for the update, I'll review that alone by tomorrow!

[2022-05-23 20:54] chiragsalian commented on #8590
Hey guys I had a question, so from the PR we got the behavior like so, (can watch the same video [here](https://github.com/Expensify/App/pull/8928#issuecomment-1133428074) without downloading)
https://user-images.githubusercontent.com/85645967/169619263-7ff7211a-df92-4145-aaa5-a65a865cc671.mov

where,
1. First the user uploads and image we have a temporary thumbnail and dimensions so we show it.
2

[2022-05-23 21:02] Santhosh-Sellavel commented on #7862
@chiragsalian
@JediWattson Proposal looks good to me!
🎀 👀 🎀 C+ reviewed

@JediWattson
If you haven’t checked out already, please go through the following docs.
[CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md)
[README.md](https://github.com/Expensify/App/blob/main/README.md)
[PR_REVIEW_GUIDELINES.md](https://github.com/Expensify/App/blob/main/PR_REVIEW_GUIDELINES.md)
[S

[2022-05-23 21:03] Santhosh-Sellavel commented on #8888
Not overdue, any update @jrstanley ?

[2022-05-23 21:12] Santhosh-Sellavel commented on #8731
Not overdue yet to review proposals!

[2022-05-23 21:14] Santhosh-Sellavel commented on #8356
Yes, I didn’t agree with the proposal!

[2022-05-23 21:29] Luke9389 commented on #8287
Ok, go ahead and start your PR @Puneet-here 👍

[2022-05-23 21:42] amyevans commented on #9057
PR: https://github.com/Expensify/App/pull/9138 (Not sure why it didn't link itself?)

[2022-05-23 21:47] marcaaron commented on #9137
Going to split this into two separate issues as we'll need to tackle "add" and "remove" as separate actions.

[2022-05-23 21:47] kadiealexander commented on #7007
@thesahindia yes, sorry about that I was just confirming the price change with our team. I've issued the remaining $250 and closed the contract.

@parasharrajat has now also been paid.

[2022-05-23 21:47] #7007 closed

[2022-05-23 22:13] luacmartins commented on #9090
@mananjadhav Santhosh is going ooo next week, so we reassigned this issue and you were the chosen lucky one!

[2022-05-23 22:14] trjExpensify commented on #9123
Sounds good, @parasharrajat. Added you and posted the job to upwork here: https://www.upwork.com/jobs/~01e88449b26be1fba2

@Tushu17, are you interested in submitting a proposal for this?

[2022-05-23 22:30] aneequeahmad commented on #8981
@Gonals I think this is another issue as it was appearing on every platform and that is because of 1px more/less `border-radius`

[2022-05-23 22:36] luacmartins commented on #9090
@allroundexperts I think that your proposal might have some unintended side effects. Always skipping the "link" rule on edit means that we would always remove links, even when we want them. Maybe I missed something? I think the correct style to skip is probably "autolink".

@metehanozyurt your approach is quite similar to @allroundexperts's approach. However, I think that running the parser twice

[2022-05-23 22:56] marcaaron commented on #9137
Created a couple of sub issues in E/E. They will probably require some engineering team feedback and more discussion. I've left them unassigned for now and put them on HOLD.

[2022-05-23 23:07] luacmartins commented on #8456
I believe the only action item left here is payment. @MitchExpensify could you pay @parasharrajat for the fix and close this issue please?

[2022-05-23 23:28] jliexpensify commented on #9124
Posted!

Internal - https://www.upwork.com/ab/applicants/1528880284048494592/job-details
External - https://www.upwork.com/jobs/~0113f02a60cc2d761f

[2022-05-23 23:32] jliexpensify commented on #8534
Paid @rushatgabhane , will pay $500 to @thesahindia once he accepts. Cheers!

[2022-05-23 23:34] Luke9389 commented on #8734
@kbecciv bump on my last comment

[2022-05-23 23:38] jliexpensify commented on #8935
@adeel0202 - once you accept the offer I can pay the bonus. Can you tag me when you've done so? Cheers!

[2022-05-24 00:04] luacmartins commented on #8731
@allroundexperts I'm not a big fan of this hardcoded value. Any chance we can read the actual value?

[2022-05-24 00:11] chiragsalian commented on #8956
I haven't debugged into this issue but is there something that can be worked on in parallel or would we have to place this issue on HOLD or close this issue in favor of updating the [backend API](https://github.com/Expensify/App/issues/9137) via this issue first?

[2022-05-24 00:12] luacmartins commented on #8840
Proposal looks great! As @rushatgabhane mentioned, let's update `@react-navigation/drawer`.

[2022-05-24 00:37] frenkield commented on #8595
@Santhosh-Sellavel, I submitted the pull request: https://github.com/Expensify/App/pull/9141

Thanks!

[2022-05-24 00:45] mallenexpensify commented on #8034
Hired you @Santhosh-Sellavel , please accept.
https://www.upwork.com/jobs/~0131d47defbb078996

@Tushu17 , can you please apply too? (note... the price might show $500, you're due $250 for reporting, I'm partially testing the ability to pay less than the job price)

[2022-05-24 00:45] neil-marcellini commented on #8942
I agree with @rushatgabhane that @sobitneupane has a good proposal. Personally I think we should check `if (closePopover)`, but I'm also curious to hear your explanation.

[2022-05-24 00:55] kadiealexander commented on #8545
@thienlnam any thoughts on the above?

[2022-05-24 01:09] chiragsalian commented on #7862
Yup i like the proposal, including santhosh's suggestions. I would also recommend more verbose variables instead of `arr` and `rep`.
Feel free to create the PR @JediWattson.

[2022-05-24 01:46] bfitzexpensify commented on #8666
Hey @phivh and @thesahindia - I tried to pay out your contracts but got a timeout error on Upwork. Can you confirm if you received payment? This happened last week and the payment went through, but would be good to either/both of you to confirm!

[2022-05-24 02:01] phivh commented on #8666
Hi @bfitzexpensify I still didn't get the payment.

[2022-05-24 02:06] bfitzexpensify commented on #8666
Thanks for confirming — we're working with our Upwork account manager to get this sorted, as soon as they can let me know what's going on I'll process the payment. Thanks for your understanding!

[2022-05-24 02:07] phivh commented on #8666
Wait @bfitzexpensify , there are something, let me check again. Hm seems Upwork has issue.

[2022-05-24 02:33] Santhosh-Sellavel commented on #8034
Thanks @mallenexpensify!

[2022-05-24 04:20] mvtglobally commented on #7573
Issue not reproducible during KI retests. (Second week)

[2022-05-24 04:21] mvtglobally commented on #7715
Issue not reproducible during KI retests. (Third week)

[2022-05-24 04:22] mvtglobally commented on #8047
Issue not reproducible during KI retests. (First week)

[2022-05-24 04:24] mvtglobally commented on #8220
Issue not reproducible during KI retests. (First week)

[2022-05-24 04:24] mvtglobally commented on #8295
Issue not reproducible during KI retests. (Second week)

[2022-05-24 04:25] mvtglobally commented on #8307
Issue not reproducible during KI retests. (First week)

[2022-05-24 04:26] mvtglobally commented on #8420
Issue not reproducible during KI retests. (First week)

[2022-05-24 04:27] mvtglobally commented on #8534
Issue not reproducible during KI retests. (Second week)

[2022-05-24 04:28] mvtglobally commented on #8574
Issue not reproducible during KI retests. (Second week)

[2022-05-24 04:31] mvtglobally commented on #8711
Issue not reproducible during KI retests. (Second week)

[2022-05-24 04:39] mvtglobally commented on #8089
@JmillsExpensify @rushatgabhane
It seems like there is still some gap and issue is repro. See below
![ios_8089-2105](https://user-images.githubusercontent.com/43995119/169950203-eb2edbee-9e3a-48c6-9b5b-41458469a234.jpg)

[2022-05-24 04:44] parasharrajat commented on #8981
Agree with @Christinadobrzyn. It should be fixed on the other issue if that is supposed to be fixed.  This is a very edge case and not worth of ROI.

[2022-05-24 04:57] bfitzexpensify commented on #8291
Invited you to the current open job @Santhosh-Sellavel

[2022-05-24 05:01] bfitzexpensify commented on #7625
Hey @rushatgabhane - just letting you know I'm chatting to Upwork support about this payment, I'm getting an error when trying to pay out. Once it's resolved, I'll let you know and finalise it, hopefully in the next day or two! Thanks for your understanding.

[2022-05-24 05:02] bfitzexpensify commented on #8666
So does it look like it worked @phivh?

[2022-05-24 05:04] phivh commented on #8666
@bfitzexpensify it seems double charged. There are two pending transactions

[2022-05-24 05:07] bfitzexpensify commented on #8666
OK, thanks for letting me know. We're chatting to Upwork support to get this figured out, and I'll let you know here once that's complete.

[2022-05-24 05:09] bfitzexpensify commented on #8681
All payments finalised and contracts ended on Upwork. Thanks for the work here!

[2022-05-24 05:09] #8681 closed

[2022-05-24 05:14] rushatgabhane commented on #8089
@mvtglobally all those look like they're different messages.

Can we try that again with a single message and see if it works?
![Screenshot_20220524-081339](https://user-images.githubusercontent.com/29673073/169954068-e1451957-eb7d-47da-b851-2adf166186af.png)

[2022-05-24 05:22] adeel0202 commented on #8935
@jliexpensify, I have accepted the offer.

[2022-05-24 05:23] rushatgabhane commented on #7625
No worries, please take as long as it needs. Thanks for letting me know!

[2022-05-24 05:34] parasharrajat commented on #7573
@NicMendonca
Ping for
![Upwork](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2022-05-24 05:35] parasharrajat commented on #7715
Ping for
![Upwork](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

@michaelhaxhiu

[2022-05-24 05:38] kidroca commented on #7424
@mallenexpensify
No payment is due for me

[2022-05-24 05:40] jliexpensify commented on #8935
Paid @adeel0202 - thanks!

[2022-05-24 06:09] rushatgabhane commented on #8956
@chiragsalian https://github.com/Expensify/App/issues/8956#issuecomment-1134473539 - updating the backend to respond with the correct report status should fix this issue.
We can keep this issue on hold so that it can be tested again. I hope this makes sense

[2022-05-24 06:16] thesahindia commented on #8666
@bfitzexpensify, I have received the payment correctly
<img width="764" alt="Screenshot 2022-05-24 at 11 45 43 AM" src="https://user-images.githubusercontent.com/83179295/169961726-5b8151f9-ed5c-48ff-b809-7447fd361b42.png">

[2022-05-24 06:17] bfitzexpensify commented on #8666
Thanks for letting me know!

[2022-05-24 06:19] thesahindia commented on #8534
Accepted the offer, good to go 🚀

[2022-05-24 06:26] jliexpensify commented on #8534
Paid @thesahindia and closed the Upwork job.

[2022-05-24 06:26] #8534 closed

[2022-05-24 06:28] adeel0202 commented on #8288
@mallenexpensify, a friendly reminder 😄

[2022-05-24 06:33] ahmdshrif commented on #4612
Yes, we totally agree we should fix any issue upstream not workaround untill there is a limitation.

but I see the LHN is happening because of the issue with our actions. it's different from other issues which may need fixing on react-navigation itself.

why it's an issue from our side, not react-navigation?

because it works fine until we add this condition
https://github.com/Expensify/App/blob/c

[2022-05-24 07:04] laurenreidexpensify commented on #7535
@Santhosh-Sellavel sent you a proposal, ignore the per hour bit - I'll issue payment as a bonus as soon as you accept today

[2022-05-24 07:04] laurenreidexpensify commented on #7535
@LucioChavezFuentes payment has been issued 👍🏽

[2022-05-24 07:13] bfitzexpensify commented on #7625
OK, all sorted! Paid you @rushatgabhane - thanks for your understanding here, really appreciate it.

[2022-05-24 07:13] #7625 closed

[2022-05-24 07:16] bfitzexpensify commented on #7971
Paid out @frenkield - @Santhosh-Sellavel, once you accept the offer [here](https://www.upwork.com/jobs/~012ef02def10429641) I'll wrap that up too.

[2022-05-24 07:28] allroundexperts commented on #9090
@luacmartins You're correct. We should be using using `autoLink`. I'll update my proposal.

[2022-05-24 07:31] allroundexperts commented on #8731
@luacmartins That's what the bug is on Apple's side. There's no way to get that value (to the best of my knowledge at least). @jrstanley The top bar only shows up in the landscape mode. If you look at the code in my proposal, we're only applying a transform if `orientation` is portrait.

[2022-05-24 07:33] bfitzexpensify commented on #7971
OK great, all done here!

[2022-05-24 07:33] #7971 closed

[2022-05-24 07:36] Santhosh-Sellavel commented on #7535
Accepted the offer, @laurenreidexpensify!

[2022-05-24 07:38] laurenreidexpensify commented on #7535
Paid @Santhosh-Sellavel 🙌🏽

[2022-05-24 07:39] #7535 closed

[2022-05-24 07:56] laurenreidexpensify commented on #8840
https://www.upwork.com/jobs/~0182332e8142a2b1c5 @allroundexperts @rushatgabhane post for you to apply in Upwork thanks

[2022-05-24 08:22] mananjadhav commented on #8592
Awaiting proposals

[2022-05-24 08:58] mountiny commented on #7317
Taking back over from Alex, thanks for help!

[2022-05-24 09:23] Julesssss commented on #9111
Just two issue awaiting QA now, hopeful that we can release today 🤞

[2022-05-24 09:48] Julesssss commented on #7375
Still on my todo list

[2022-05-24 09:54] Tushu17 commented on #8034
@mallenexpensify Okay, Applied. Thanks

[2022-05-24 10:19] Santhosh-Sellavel commented on #9089
@sobitneupane Any update here?

[2022-05-24 10:42] SumitDiyora commented on #9069
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
Logged Issues - #8409, #8760, #8760, #8804, #8852, #8873, #9025, #9026

[2022-05-24 11:12] sobitneupane commented on #9089
will create PR by tomorrow.

[2022-05-24 11:28] mrousavy commented on #8503
I believe currently we are not working on this issue, maybe let's discuss this in the Slack channel? We are currently working a lot with Coinbase and have very limited availability, but we expect to have some in two weeks!

[2022-05-24 11:58] NicMendonca commented on #8664
@parasharrajat @thesahindia I am so sorry, this job post expired before I could issue payment 😞 Can you please accept my offer?

[2022-05-24 12:03] sobitneupane commented on #8942
`closePopover` is false only for `MiniReportActionContextMenu` which remains active as long as mouse is hovered over the message.
<img width="179" alt="Screen Shot 2022-05-24 at 17 32 56" src="https://user-images.githubusercontent.com/25876548/170028167-bc76f2e3-28eb-487a-9900-941c864af2c7.png">

With the condition check, we are avoiding unnecessary call of `hideContextMenu` as `MiniReportActionCo

[2022-05-24 12:09] sketchydroide commented on #8710
Ok I got my dev environment working again for the app, I can start making some tests

[2022-05-24 12:16] trjExpensify commented on #7081
@mananjadhav any thoughts on Marc's comments above? It would be great to keep this moving. Thanks!

[2022-05-24 12:19] thesahindia commented on #8664
No prob. Accepted the offer ✅

[2022-05-24 12:33] adeel0202 commented on #8847
Thank you @Beamanator. I have raised the PR.

[2022-05-24 12:40] michaelhaxhiu commented on #7715
Waiting for you to accept job offer @parasharrajat 👍

[2022-05-24 12:46] Stutikuls opened #9145 "[low] Chrome + Jaws: Focus lands twice on the 'Download links'."
## Action Performed:
1. Using Chrome + Jaws , open URL staging.new.expensify.com
2. Navigate to the Setting using Tab key and Press Enter.
3. Navigate to the about using Tab key and Press Enter.
4. Navigate to the App download links using Tab key and Press Enter.
5. New screen will appear, verify the focus order and observe the issue.

## Expected Result:
Focus should lands on the each item once.

[2022-05-24 12:49] NicMendonca commented on #8664
paid - sorry for the delay!

[2022-05-24 12:49] #8664 closed

[2022-05-24 12:51] michaelhaxhiu commented on #7715
Paid.

[2022-05-24 12:51] #7715 closed

[2022-05-24 12:57] NicMendonca commented on #7792
@mdneyazahmad can you please apply to the job [here](https://www.upwork.com/jobs/~01b9004fdce515eac3) so we can issue payment? Thanks!

[2022-05-24 13:05] thesahindia commented on #7792
Just a quick question here: Upwork allows you to pay less than the job price right? Because the job price is $500 but I am only due $250.

[2022-05-24 13:14] Julesssss commented on #8122
Nah, don't worry. Obviously it would have been better to notice this during testing, but it happens and you helped me by pointing out the bug, so it's all good 🙂

[2022-05-24 13:57] kevinksullivan commented on #8645
Paid @Puneet-here . Job was closed so I reposted a new one to cover C+ @parasharrajat [here](https://www.upwork.com/jobs/~012c437de622b34192). Please let me know when you accept and I'll handle that payment!

[2022-05-24 13:58] parasharrajat commented on #8645
@kevinksullivan Accepted it.

[2022-05-24 14:35] #7573 closed

[2022-05-24 14:42] parasharrajat commented on #7524
Shouldn't [this](https://expensify.slack.com/archives/C01GTK53T8Q/p1653329809177109) be convered as part of this issue?

[2022-05-24 14:52] luacmartins commented on #7916
Seems like that issue was fixed already.

[2022-05-24 14:55] adeel0202 commented on #7436
There has been no activity on this for 3 months and this ticket doesn't have any assignees as well.
cc: @nickmurray47 @alex-mechler

[2022-05-24 14:58] mdneyazahmad commented on #7918
Sorry for the confusion
[code]

When `pressOnEnter` is `true`, it registers shortcut when component is mounted (`componentDidMount`). When later on this prop is updated. It does not reregister or unregister.

[2022-05-24 15:03] tgolen commented on #8888
Wow, love all that. I mostly agree with your order of preference, but I would make a slight modification to it:

5 (npm ls)
4ii (publish to npm - noting the maintenance this entails)
3 (write and check for presence of a file)
6 (build artefact in forked repo)
4i (yarn)

We are starting to publish more and more things in NPM (for example, we are doing it right now with `react-native-onyx`), so I th

[2022-05-24 15:05] mdneyazahmad commented on #7918
I think, this is a complex issue and needs some discussion. May be, create a separate issue and see what proposal we get. It affects many part of the app. In fact, wherever we have `pressOnEnter`.

I think we can remove this prop (pressOnEnter) from button component and try to find some other method.

[2022-05-24 15:08] #9057 closed

[2022-05-24 15:14] rushatgabhane commented on #7792
@NicMendonca sorry for the delay. Accepted!

[2022-05-24 15:16] NicMendonca commented on #7792
No, I am sorry for the delay 😄

Ok, all set here!

[2022-05-24 15:16] #7792 closed

[2022-05-24 15:30] neil-marcellini commented on #8942
@sobitneupane Thanks for your explanation. I will assign you to this issue and I look forward to reviewing your PR.

[2022-05-24 15:30] Julesssss commented on #9111
Checking off [8752](https://github.com/Expensify/App/pull/8752#issuecomment-1136076606) after a successful retest.

[2022-05-24 15:47] jboniface commented on #7623
paid

[2022-05-24 16:00] rushatgabhane commented on #9088
@jayeshmangwani why is SearchPage deciding the value of `blurOnSubmit`?
What if we leave it to `OptionsSelector` instead? Then the issue will be solved for 5 pages, right?

[2022-05-24 16:04] iamjey6 commented on #9088
@rushatgabhane Yes if we put this logic in `OptionsSelector` then it will be handling empty data on all the pages where we are using `OptionsSelector`, and I have added `blurOnSubmit` on `SearchPage` only bcause I thought we have to handle this in 1 page only

[2022-05-24 16:09] jayeshmangwani commented on #9088
@rushatgabhane
1. I thought we have to handle this scenario for searchpage only
2. then it will disable onsubmit on all the 5 places if sections will be empty

[2022-05-24 16:10] luacmartins commented on #8731
I think @jrstanley is correct that the behavior is different depending on the search bar position. I wonder if applying a `height: 100%` would resize the screen to fill the available space.

[2022-05-24 16:12] aneequeahmad commented on #8089
@JmillsExpensify The Upwork job is no longer available, also i haven't been hired for this job.
Could i ask when the payment will be issued ? I'm unaware of the process as this is my first job. Thanks

[2022-05-24 16:13] Julesssss commented on #5336
Submitted a PR to fix the API: https://github.com/Expensify/Web-Expensify/pull/33842

[2022-05-24 16:13] jayeshmangwani commented on #9088
@rushatgabhane then we have to made 1 change only here,
https://github.com/Expensify/App/blob/02fb4e9738fbe491c3a8e48dfb7abd141320baa6/src/components/OptionsSelector.js#L232-L251

[code]

[2022-05-24 16:15] parasharrajat commented on #7918
Can't this be changed?

Hmm. :thinking:

[2022-05-24 16:17] aldo-expensify commented on #8841
No new proposals so far, I'll try to give it some time this week to investigate [the proposal](https://github.com/Expensify/App/issues/8841#issuecomment-1119565112).

[2022-05-24 16:21] mdneyazahmad commented on #7918
Yes, we can update the Button component to reregister.

[2022-05-24 16:23] rushatgabhane commented on #8089
@aneequeahmad the job might have expired and a new one will be created.

Once the issue is not reproducible by the QA team, the payments will be settled.
Thanks for understanding!

[2022-05-24 16:24] Julesssss commented on #9121
Resolving the deployBlocker label as I submitted a hotfix which passed QA

[2022-05-24 16:27] Julesssss commented on #9111
:shipit:

[2022-05-24 16:27] #9111 closed

[2022-05-24 16:29] parasharrajat commented on #7918
@mdneyazahmad Could you please share an update on the done things and the remaining ones?

[2022-05-24 16:33] mdneyazahmad commented on #7916
It does not have any issue with (`Tab`  and `Shift + Tab`), PR for checkbox is created here https://github.com/Expensify/App/pull/8874. `Enter` on submit has same issue we are discussing.

cc: @parasharrajat

[2022-05-24 16:34] OSBotify opened #9151 "Deploy Checklist: New Expensify 2022-05-24"
**Release Version:** `1.1.66-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8980
  - [ ] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/9046
  - [ ] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/9127
  - [ ] QA

[2022-05-24 16:38] mdneyazahmad commented on #7918
Same here. as https://github.com/Expensify/App/issues/7916#issuecomment-1136147023

[2022-05-24 16:47] adelekennedy commented on #8594
are we still holding in this? @stitesExpensify @Santhosh-Sellavel?

[2022-05-24 16:55] jayeshmangwani commented on #9088
this.props.value is for checking that if any value then and then prevent empty data otherwise user can submit textinput and remove focus

[2022-05-24 17:21] adelekennedy commented on #7942
fine with me - adding a note for myself here that we are opting **not to double** over the next few weeks (potentially putting the issue on hold)

[2022-05-24 17:21] Santhosh-Sellavel commented on #8594
Yes on hold!

[2022-05-24 17:31] mallenexpensify commented on #7424
Thanks @kidroca .   Issue is already closed so... 👋

[2022-05-24 17:31] #9117 closed

[2022-05-24 17:36] mallenexpensify commented on #8288
@adeel0202 paid $250 for reporting.  Thanks for the ping, not sure how i missed this on Friday.
@Beamanator can you confirm that @brianmuks is due $250?   Assuming @Santhosh-Sellavel is the same amount for C+ as Brian too

[2022-05-24 17:37] Puneet-here commented on #8287
I think this is happening with all the recent PRs

[2022-05-24 17:40] tgolen commented on #8888
OK, great! Let's explore that more then. What would need to happen in order to publish it on NPM? cc @AndrewGable looping you in here because of our recent work to publish `react-native-onyx` to NPM.

[2022-05-24 17:46] cead22 commented on #8590
I think the video already shows an improvement from what we already have, but I do think showing the spinner is not ideal. Do either of these two options seem feasible and worth exploring?
- One idea would be to display preview, upload the image, once that's done we create an invisible image element, and once it finishes loading (img.onload) we can swap the preview with the invisible image
- Anoth

[2022-05-24 17:48] mallenexpensify commented on #8034
Paid @Santhosh-Sellavel $500 for the fix
Hired @Tushu17 for $250 for reporting the issue, please let me know when you've accepted the offer

[2022-05-24 17:49] rushatgabhane commented on #9124
@sobitneupane the style doesn't fit in with the other buttons.

How about we abstract away some of that timing logic so that it can be used by other components as well?

https://user-images.githubusercontent.com/29673073/170098548-525ed88b-83cd-4763-960d-e8683b3f9a02.mov

[2022-05-24 17:50] iwiznia commented on #7942
ok yes, let's put this on hold. Jason agreed [here](https://expensify.slack.com/archives/C02HWMSMZEC/p1653413805745199?thread_ts=1653338396.350779&cid=C02HWMSMZEC) too.

[2022-05-24 17:55] chiragsalian commented on #8590
I think they are worth exploring. What do you feel @allroundexperts?
Additionally for one of your comments in the PR,

Well for other users its completely understandable they would see a loader and maybe there is some room for improvement here but for now i think its worth focusing on the improvement for the single user experience of uploading the image.

[2022-05-24 17:56] mallenexpensify commented on #8288
Looks like @brianmuks was already paid $250, let me know if you're not seeing Brian.
Hired @Santhosh-Sellavel , please let me know once you've accepted
https://www.upwork.com/jobs/~015a0a72eaba588d69

[2022-05-24 17:59] allroundexperts commented on #8590
These were discussed in the beginning as well but given how code is
structured it won’t be easy to do these. Also, this would only work for the
uploader of the image. The other users in the chat would still have to see
a loader.

On Tue, 24 May 2022 at 10:46 PM, Carlos Alvarez ***@***.***>
wrote:

[2022-05-24 18:01] chiragsalian commented on #8956
Cool thanks rushat 👍

[2022-05-24 18:10] Tushu17 commented on #8034
@mallenexpensify Okay, Offer accepted. Thank you.

[2022-05-24 18:23] mallenexpensify commented on #8034
Oh... just seeing payment isn't due til May 26th.  Since I already paid @Santhosh-Sellavel for the fix, going to pay out @Tushu17 and close this.  Comment on the issue if it needs to be reopened, no comments [on the PR ](https://github.com/Expensify/App/pull/8760)for five days so we're likely good.

[2022-05-24 18:30] Santhosh-Sellavel commented on #8288
@mallenexpensify
Thanks, Accepted!

[2022-05-24 18:30] JmillsExpensify commented on #8287
Here you go! https://www.upwork.com/jobs/~019a6d1271f2483032 cc @Santhosh-Sellavel

[2022-05-24 18:31] aneequeahmad commented on #8089
@rushatgabhane Ahhh alright! thank you for your comment 🥇

[2022-05-24 18:33] mallenexpensify commented on #8288
Paid @Santhosh-Sellavel $250, everyone should be paid now! Comment if needed.

[2022-05-24 18:36] jayeshmangwani commented on #9088
@rushatgabhane Updated proposal:

we have to filter sections like this,
https://github.com/Expensify/App/blob/d465ad07c74767842490a5f94c546c7f76c66ace/src/components/OptionsList/BaseOptionsList.js#L161

because response at new chat and other pages is like this empty array of data inside an object of the recents and contacts,
![Screenshot 2022-05-24 at 11 53 19 PM](https://user-images.githubusercon

[2022-05-24 18:36] Luke9389 opened #9154 "Update Cocoapods"
After running `pod install` I've got a diff in my `Podfile.lock`, so I'm creating this issue to commit that diff.

[2022-05-24 18:37] JmillsExpensify commented on #8089
You're good! You already applied to the existing job post here: https://www.upwork.com/jobs/~012ed1a030f60ce0f5. I've hired you, same for @rushatgabhane as C+ and @sobitneupane for reporting. Thanks all!

[2022-05-24 18:38] Luke9389 commented on #9154
PR is here: https://github.com/Expensify/App/pull/9155

[2022-05-24 18:40] mvtglobally commented on #9151
@Julesssss , its been a while and IOS build still not available. Can you check if it is looking ok?

[2022-05-24 18:50] adelekennedy commented on #7942
deleting the doubling announcement

[2022-05-24 18:56] alex-mechler commented on #7436
@mvtglobally Can you confirm if this is still reproducible?

[2022-05-24 18:57] thesahindia commented on #8927
Hi @mananjadhav, I think there's a misunderstanding. I am not suggesting the removal of `policyEmployeeRemoved`. I am suggesting that we remove line 523-527

https://github.com/Expensify/App/blob/572f6cb1b161fbb90fad17569f10c4af4926e773/src/libs/actions/Policy.js#L523-L527

Because we are executing the same code already when [removeMembers](https://github.com/Expensify/App/blob/572f6cb1b161fbb90fa

[2022-05-24 19:08] aneequeahmad commented on #8101
@marcaaron Ahhh sorry i missed your last comment.

Yeah so the problem is

- when we navigate to a URL like`new/chat` or `/search` `react-navigation history length > 1` but we have less length in `items` in `react-navigation` `item` array and on first interaction like closing the `search-panel` or clicking on `chat-item` calls `history.go(-1)` that couldn't find anything in `history` so navigates

[2022-05-24 19:28] thesahindia commented on #8927
I didn't get the pushed notification part, can you explain why we need that particular code for pushed notification implementation as I was unable to find that use.

[2022-05-24 19:49] marcaaron commented on #8101
Got it. I have investigated this independently, but did not see your investigations on the other issue. After looking at everything now - I agree this is a duplicate issue so we can close it out.

I looked into this solution a bit - but it wasn't clear how it would impact other navigators e.g. Drawer and Tab. Let's continuing discussing in Slack!

[2022-05-24 19:56] Santhosh-Sellavel commented on #7968
@stitesExpensify
This issue is no longer reproducible on staging so we can close this one.

Thanks for the proposal guys. [View all open jobs on GitHub](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22)

[2022-05-24 19:58] ahmdshrif commented on #8101
@kevinksullivan  just asking do i will be eligible for report bonus

[2022-05-24 20:02] aneequeahmad commented on #7618
@marcaaron i have been investigating this issue for quite some time(couple of weeks). Lets discuss in `open-source-expensify`

[2022-05-24 20:55] rushatgabhane commented on #9088
@jayeshmangwani doing additional `O(n)` operations on every render for an expensive component doesn't sound like a great idea. Can we do better?

[2022-05-24 20:55] rushatgabhane commented on #9088
Since this is a non-critical issue, I think that it's a good idea to wait for more optimal proposals.

[2022-05-24 20:55] NicMendonca commented on #8597
Still on hold, but that GH ☝️ is making progress

[2022-05-24 21:06] adelekennedy commented on #8292
doubling time!

[2022-05-24 21:09] JmillsExpensify commented on #8933
Linked PR made it to production 4 days ago.

[2022-05-24 21:09] #8933 closed

[2022-05-24 21:21] JmillsExpensify commented on #8133
Alright, I think we should be set here. Thanks everyone!

[2022-05-24 21:21] #8133 closed

[2022-05-24 21:23] tgolen commented on #8888
I'm going to be OOO for a while, so I will reassign this in the meantime. Have fun with the NPM version!

[2022-05-24 21:35] kbecciv opened #9157 "Workspace - "Manage members" invite list is displaying square grey icons"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: User has a workspace created
1. Access staging.new.expensifail.com
2. Sign into an applause.expensifail.com account
3. Turn off the in

[2022-05-24 21:37] neil-marcellini commented on #8295
Sounds like this is currently not reproducible and I believe the previous PRs linked here have fixed it. I'm going to close this.

[2022-05-24 21:37] #8295 closed

[2022-05-24 21:41] pecanoro commented on #7855
PR in review, holding on Rajat to try a couple of things.

[2022-05-24 21:44] deetergp commented on #7435
Still on hold

[2022-05-24 21:46] kavimuru opened #9158 "Web - Chat - Clicking on the link https://staging.new.expensify.com/statement123 navigates to a blank screen within the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #8980
## Action Performed:
1. Launch the app.
2. Open any report.
3. Send this link - https://new.expensify.com/statements/123
and click on

[2022-05-24 21:51] kavimuru opened #9159 "Web -Workspace-Blank space appear for a brief moment after refreshing the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Add VBA into your testing account
1. Go to https://staging.new.expensify.com/
2. Log in with any account ( I used High traffic account

[2022-05-24 21:52] OSBotify commented on #9159
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-24 21:55] kbecciv opened #9161 "Workspace -After connecting bank account the user can still see "Connect to bank" button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensifail.com
2. Sign into an applause.expensifail.com account
3. Tap on "Profile" icon > "Workspace' > "Connect bank accoun

[2022-05-24 21:56] OSBotify commented on #9161
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-24 21:59] marcochavezf commented on #7586
Update: We have this [logic](https://github.com/Expensify/App/blob/65f20e83d074927e3cb85e56928a9f18d6e556b8/src/libs/actions/Report.js#L536-L538) that sets the property `hasOutstandingIOU` that displays the IOU requests as paid or not and for some reason, we're setting the state of IOU reports to 0 (`Open`) for closed accounts when it should stay as `Processing` (1). I'm going to check on the BE s

[2022-05-24 22:03] kavimuru opened #9162 "Workspace- Manage members - Admin account does not appear after enabling "Airplane" mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensifail.com
2. Sign into an applause.expensifail.com account
3. Turn off the internet connection by enabling "Airplane" mod

[2022-05-24 22:05] alex-mechler commented on #9009
Still holding on the above pr melvin

[2022-05-24 22:09] TomatoToaster commented on #9158
Ah interesting. I'm going to try looking into this tomorrow because I have an idea of how the relinking is supposed to work, but if I can't figure this out by tomorrow, I'll make this external.

[2022-05-24 22:17] mallenexpensify commented on #7835
@stitesExpensify can you review @mananjadhav comment above?
https://github.com/Expensify/App/issues/7835#issuecomment-1131201855

[2022-05-24 22:40] luacmartins opened #9163 "Error updating Onyx in App"
# Problem
Coming from [this thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1653423503079209), updating Onyx to the latest hash `f11e7c1949916a81c36c17dd87919dd532d4620f` results in the following console error on Web (native platforms seem to work).

![error2](https://user-images.githubusercontent.com/22219519/170143307-0b263f1e-8e9e-4527-ac13-cd138e53c7a9.png)

# Why is this important
W

[2022-05-24 22:42] luacmartins commented on #9163
@kidroca I can't assign you, but would you mind working on this?

[2022-05-24 22:52] francoisl commented on #9159
The blank space is almost unnoticeable on my personal account and also on web with the high traffic account applausetester+0901abb@applause.expensifail.com, I only notice it on mWeb.

I can't tell if it's a regression or a fix of some sort though - on production, the label "Unlock next-day reimbursements" appears as a placeholder until the view gets updated with "Fast reimbursements = happy member

[2022-05-24 23:03] roryabraham commented on #5894
This is fine with me as long as @luacmartins familiarizes himself with all the context in this issue and understands what's already been tried. @luacmartins if you feel confident in that, would you please close this out?

[2022-05-24 23:06] francoisl commented on #9159
There are 2 separate `Get` calls that are made when the user clicks Reimburse Expenses:
- `Get nameValuePairs ` with nvp name = `expensify_freePlanBankAccountID`,
- `Get nameValuePairs, bankAccountList` with `nvpNames=private_failedBankValidations_,expensify_migration_2020_04_28_RunKycVerifications,expensify_ACHData_throttled,private_throttledHistory_BankAccount_Get`

And that hasn't changed on th

[2022-05-24 23:08] neil-marcellini commented on #8719
Still waiting for new proposals.

[2022-05-24 23:43] luacmartins commented on #5894
Oof lots of comments here. I'll take a look tomorrow, but it seems like this issue has more context than https://github.com/Expensify/App/issues/8731.

[2022-05-24 23:51] roryabraham commented on #5894
The main thing that's already been tried is what was reverted [here](https://github.com/Expensify/App/pull/8571), and I think the other main suggestions are summarized at a high level in [this comment](https://github.com/Expensify/App/issues/5894#issuecomment-973828800). Hopefully that helps distill the issue for you 🙂

[2022-05-24 23:54] kavimuru opened #9164 "Chat - Endless loading spinner appears when sending a .ps/mp3/.rar formats file and no error message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App as login user
2. Select any chat
3. Sent attachment file with .ps

## Expected Result:
File should be sent or if the file type is not

[2022-05-25 00:06] bfitzexpensify commented on #8666
OK, it looks like we've figured out things with Upwork.

@Santhosh-Sellavel - I've paid one and cancelled the other, please confirm all is correct from your end
@phivh - have you received payout for both? We've been advised by Upwork to request a refund on one, so I'll do that shortly
@thesahindia - you were the lucky one who received payment correctly, so I think you're all good

Sorry for the me

[2022-05-25 00:13] trjExpensify commented on #7862
👋 I've sent you the offer on Upwork, @JediWattson!

[2022-05-25 01:02] marcaaron commented on #9091
Unsure sure if `External` engineers are able to test this updating flow as they would need to trigger a new deploy? Gonna leave it as `Internal` for someone to investigate.

[2022-05-25 01:31] amyevans commented on #9159
This was a purposeful fix for https://github.com/Expensify/App/issues/9057. While I agree it's not the _most_ optimal to have that brief delay while the ACH state is loading, I think it's an improvement over what was in place. Shouldn't be a deploy blocker at the least.

[2022-05-25 01:35] kavimuru opened #9166 "[$250] Web - Workspace - Added VBA does not show in any of the menu options when accessing offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com and login with expensifail account
2. Click avatar > workspace > Connect bank account
3. Add a VBA
4. Go to works

[2022-05-25 01:35] OSBotify commented on #9166
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-25 02:49] JmillsExpensify commented on #8089
@mvtglobally I just tested this on the latest build and I think we're good. Would you mind confirming so we can close this out in the next QA round? Thanks!
![IMG_FE9425A837C0-1](https://user-images.githubusercontent.com/1127863/170169252-91401df2-c65f-4d0c-aae4-18ea7155ef80.jpeg)

[2022-05-25 02:58] phivh commented on #8666
yes @bfitzexpensify both transactions still there.

[2022-05-25 03:07] kadiealexander commented on #7432
@pecanoro just checking in! How's testing going?

[2022-05-25 03:44] mvtglobally commented on #9151
@Julesssss Regression is completed

Deploy blockers logged
https://github.com/Expensify/App/issues/9159
 https://github.com/Expensify/App/issues/9161
 https://github.com/Expensify/App/issues/9166

PR #8980 is failing due to https://github.com/Expensify/App/issues/9158. Pls double check if it needs to be a blocker as experiences between PROD and Staging differs.
PR https://github.com/Expensify/App/

[2022-05-25 03:56] mvtglobally commented on #9042
@tgolen We found this issue as part of the PR https://github.com/Expensify/App/pull/8946
Steps refer to "make sure there are two api?command=Get requests". Let us know if we misunderstood this step

[2022-05-25 04:44] danieldoglas commented on #7941
So, that being considered, should we close this or leave it to work on it after the 1:1 api calls?

[2022-05-25 04:56] owjhart commented on #7968
@Santhosh-Sellavel I can still reproduce the issue on staging. While there was a style change that prevents the cancel button from having a focused style, the cancel button can still be focused when using the 'tab' key. In testing on staging, if the Cancel button is focused, pressing the enter key will still delete the workspace.

I have created a branch with repro steps. Tested using Chrome Dev T

[2022-05-25 05:47] Santhosh-Sellavel commented on #7968
But unable to focus using arrow now that's why I told unable to reproduce this issue now.

I already reported an issue for not able to focus using Tab on slack.

@stitesExpensify or @kevinksullivan Can we had a hold label to this one until other issue is solved?

Let's wait and check.

[2022-05-25 07:05] Puneet-here commented on #8287
Thank you @JmillsExpensify, I have applied to the job.

[2022-05-25 08:56] anboia commented on #8292
### Proposal
## iOS constraints:
* The only way to bring up the keyboard when using manual `.focus()`, is by calling `.focus()` inside a click handler triggered by user interaction. (can't find documentation for that, but this is mentioned in most related issues)
* It does not work if the focus is called async
* It is possible to switch focus to your target input (async way) when some other input

[2022-05-25 09:03] anboia commented on #8292
here are the changes compare: https://github.com/Expensify/App/compare/main...anboia:fix/half-inverted-list?expand=1

[2022-05-25 09:27] Julesssss commented on #9166
I'm not sure I completely understand the bug, but[ this PR](https://github.com/Expensify/App/issues/9166) seems the most likely cause. Commenting there.

[2022-05-25 09:35] Julesssss commented on #9159
Thanks both, I agree that this is an overall improvement and shouldn't hold up deployment. 👍

[2022-05-25 09:36] Julesssss commented on #9151
Checked off [9159](https://github.com/Expensify/App/issues/9159) which we believe should be expected after changes in other PRs.

[2022-05-25 09:37] Julesssss commented on #9159
I guess now the question is: should we leave this open as an improvement? I'd say probably not, but happy either way.

[2022-05-25 10:00] sketchydroide opened #9167 "This is a test reported by @sketchydroide"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2022-05-25 10:02] sketchydroide commented on #9167
no need to pay attention @laurenreidexpensify

[2022-05-25 10:02] #9167 closed

[2022-05-25 10:13] Julesssss commented on #9161
It seems to me that this is expected and not a regression. Production currently [requires the API call ](https://github.com/Expensify/App/blob/aac57d37c29c0d8d8fa6261f6a50c69295e966cd/src/pages/ReimbursementAccount/ReimbursementAccountPage.js#L75-L76)when opening the page before the Onyx `achData` is created and updated and this has been true for a while now.

CC @marcaaron, please correct me if I

[2022-05-25 10:14] Julesssss commented on #9161
Hi @kbecciv, does this mean that you wern't able to test this issue against production?

[2022-05-25 10:16] Julesssss commented on #9151
Commented on [9161](https://github.com/Expensify/App/issues/9161) as I have a feeling this is expected.

[2022-05-25 10:16] rushatgabhane commented on #9158
Step 3 isn't a bug. `new.expensify.com/statements/123` isn't supposed to work on staging.

[2022-05-25 10:20] Julesssss commented on #9166
Actually, it could be [this PR ](https://github.com/Expensify/App/pull/9138). Again, I think this is expected behaviour. Will wait for a second opinion before I resolve though.

[2022-05-25 10:24] Julesssss commented on #9151
Additionally, I think [9166](https://github.com/Expensify/App/issues/9166) has the same explanation as 9159 and is expected. But I'll await a second opinion before removing the label.

[2022-05-25 10:29] allroundexperts commented on #8840
@rushatgabhane Applied.

[2022-05-25 10:29] rushatgabhane commented on #9158
Step 4 isn't a bug because `statements/123` doesn't exist.
We should def handle it in a better way tho

[2022-05-25 10:29] allroundexperts commented on #9090
@luacmartins I've updated the proposal.

[2022-05-25 10:42] laurenreidexpensify commented on #8840
Everyone is hired in Upwork 👍🏽

Link for my own reference for payment https://www.upwork.com/ab/applicants/1521510712866308096/hired

[2022-05-25 10:45] laurenreidexpensify commented on #8440
Pr waiting on review from C+ and Expensify

[2022-05-25 10:45] Santhosh-Sellavel commented on #8666
I think @phivh you can initiate a refund from the contract.

[2022-05-25 10:48] Julesssss commented on #9158
I agree, but the next QA step resolves this:

[2022-05-25 10:49] Julesssss commented on #9158
I also agree with this. This issue sounds like new logic rather than a regression, right? We should handle links to URLs which don't exist.

[2022-05-25 10:52] rushatgabhane commented on #9158
Yep, I agree!

[2022-05-25 10:54] Julesssss commented on #8185
Please correct me if I'm wrong, but this shouldn't be happening, right? Is this link supposed to work on web?

https://new.expensify.com/statements/20202

Because I see this, which seems broken:

<img width="1170" alt="Screenshot 2022-05-25 at 11 34 24" src="https://user-images.githubusercontent.com/10736861/170246277-57d650ac-572c-49f4-bc97-3ce164fd2381.png">

[2022-05-25 10:58] kavimuru commented on #9166
@Julesssss When we access the menu options in the workspace editor while offline we see the button "Connect bank account" for VBA added account. But in production this is not the case.
<img width="960" alt="Production" src="https://user-images.githubusercontent.com/43996225/170246917-66d87160-26b2-4d50-a8b5-149292381adf.png">
<img width="960" alt="Staging" src="https://user-images.githubuserconten

[2022-05-25 10:59] rushatgabhane commented on #8185
@Jules yeah, we gotta figure out the expected result on web.

Note: [the PR](https://github.com/Expensify/App/pull/8656/files) only modified native code.

[2022-05-25 11:05] rushatgabhane commented on #8185
@Julesssss you're right!

Here's the expected result from PR https://github.com/Expensify/App/pull/7663

![image](https://user-images.githubusercontent.com/29673073/170248278-11bf7013-796c-42c2-adf6-e9b49f9cd514.png)

[2022-05-25 11:33] kidroca commented on #9163
@luacmartins yes (You should be able to assign me after this comment)

[2022-05-25 11:41] parasharrajat commented on #8292
Hmm, we are familiar with this hack and don't want to proceed with this hack unless necessary.

I will discuss the previous proposal internally to see if others agree to do that.

[2022-05-25 11:51] parasharrajat commented on #8031
What is decided here? Should I close my PR?

[2022-05-25 12:43] Julesssss commented on #9166
Thanks for confirming @kavimuru.

While we may desire to make further improvements (by remembering whether the user has added a card), I still think that it's more of a side effect than a regression that should be reversed.

One way to do this would be to make a similar change to [this PR](https://github.com/Expensify/App/pull/9138), so that the component doesn't show until we know for certain whe

[2022-05-25 12:49] sketchydroide commented on #8710
So I was partially right, the `subscribeToPolicyEvent` was not being trigered on UserB when UserA removed it from the workspace.
After fixing that, it still doesn't completly works, so I'm going to try and understand why

[2022-05-25 12:59] kbecciv commented on #9161
@Julesssss Yes, we need to use real bank credentials to test the VBA flow in Production. Tester just signed into the same user account for checking and issue does not happen in production. But I think that wasn't the best method to check.

https://user-images.githubusercontent.com/93399543/170267519-e9393798-e9dc-493a-a795-0e9e62fa1074.MP4

[2022-05-25 13:05] iwiznia commented on #7941
It's already here https://github.com/Expensify/Expensify/issues/211669 so maybe we close

[2022-05-25 13:42] laurenreidexpensify commented on #7535
@parasharrajat created a new job here https://www.upwork.com/ab/applicants/1529457532430389248/job-details - I'll issue payment as soon as you're hired

[2022-05-25 14:13] laurenreidexpensify commented on #7535
@parasharrajat all done - sorry about that!

[2022-05-25 15:06] TomatoToaster commented on #9158
Oh neat! So should we repurpose this issue to be about better handling links to statements that don't exist or make a new one and close this?

[2022-05-25 15:19] mvtglobally commented on #9151
@Julesssss, thanks for update. Hopefully we can have a new deploy today. Let us know if anything needs to be re-tested

[2022-05-25 15:45] Julesssss commented on #9151
After looking into [9158](https://github.com/Expensify/App/issues/9158) it seems to be a regression, but this has been on prod for a few weeks now -- so is unrelated to **this** checklist. I've posted [here](https://github.com/Expensify/App/issues/8185#issuecomment-1137095569) to ensure we figure out a fix.

[2022-05-25 16:03] marcaaron commented on #7941
Putting this issue on HOLD makes sense as it relates to performance. Refactoring the API to send the correct Onyx data will probably go through changes like:

1. @cead22's nice refactoring around `fetchAllReports()` happens
2. Next, we take the resulting command and do the Optimized API doc changes to get a new API command

After that's done we can look into improving the performance?

[2022-05-25 16:21] mallenexpensify commented on #8132
Bumped to Monthly since on hold

[2022-05-25 16:26] Beamanator commented on #7486
Looks like payment is due, has it happened yet @MitchExpensify ?

[2022-05-25 16:42] marcaaron commented on #9161
Agree with the general premise of this issue and don't _think_ we should be blocking anything or showing an outdated UI if we have an opportunity to show an up-to-date one.

Seems most likely related to these changes -> https://github.com/Expensify/App/pull/8946/files

I think we could be resetting the VBA when we go to fetch a new one? Or is it that we just haven't fetched it yet? Not sure.

[2022-05-25 16:57] stephanieelliott commented on #7081
Hey @mananjadhav, any update here?

[2022-05-25 16:58] francoisl commented on #9159
I agree with not even keeping this as an improvement. The solutions I can think of would be:

- Add a skeleton screen while the network requests are pending. However that sounds like a bigger project we might want to plan out in detail first, and potentially use those skeletons every time some UI components are drawn after a network request completes (and also would most likely be on hold until th

[2022-05-25 16:58] Julesssss commented on #5336
Above PR has been merged. Front-end [PR](https://github.com/Expensify/App/pull/9169) is in progress.

[2022-05-25 17:00] stephanieelliott commented on #8134
Still on hold

[2022-05-25 17:03] stephanieelliott commented on #8942
Hey @sobitneupane, can you apply to the job on Upwork when you get a chance? https://www.upwork.com/jobs/~01a4a5d881f891960a

[2022-05-25 17:03] Julesssss commented on #9166
Resolving the blocker as discussed here and in [Slack](https://expensify.slack.com/archives/C07J32337/p1653493672703489). Let's continue the discussion and work towards an improvement.

[2022-05-25 17:05] thienlnam commented on #8185
The expected result on web is just that it links to that link in the web browser.  There's no additional functionality needed since only native devices need to be able to open up in the app.

I'm not sure how this happened, but if there are reproduction steps that would be great - it seems unrelated to this PR and there are a couple of checks to make sure you can't access oldDot through the link

[2022-05-25 17:06] stephanieelliott commented on #9119
Posted to Upwork: https://www.upwork.com/jobs/~010a55eacf56ab6d45

[2022-05-25 17:08] marcaaron commented on #8031
Yes, want to help us review this solution instead --> https://github.com/Expensify/App/pull/9060

[2022-05-25 17:09] Julesssss commented on #9151
Also checked off [9146](https://github.com/Expensify/App/pull/9146) as there is no QA to be performed.

[2022-05-25 17:10] marcaaron commented on #8031
Added you guys there.

[2022-05-25 17:12] Julesssss commented on #9151
Checking off [9138](https://github.com/Expensify/App/pull/9138) as the tests pass and we deemed the linked issue to not be a deployBlocker.

[2022-05-25 17:13] mountiny commented on #9119
Alright! Thanks for head up @rushatgabhane

Sorry for such a quick turnaround @stephanieelliott, can we close the upwork job and this issue?

[2022-05-25 17:19] OSBotify commented on #9158
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-25 17:20] Julesssss commented on #9158
I'm making this a NewDot deploy blocker and it looks like it was introduced by [this PR](https://github.com/Expensify/App/pull/8980). It would be great if we could treat this with urgency as it remains the final blocker for the [release](https://github.com/Expensify/App/issues/9151).

Please remember to add the `CP Staging` label to the PR so that the fix is included in the release build. Thanks!

[2022-05-25 17:21] luacmartins commented on #9163
Both PRs are merged and this issue is fixed! I'll move the discussion about the other solutions back to Slack. Thanks @kidroca!

[2022-05-25 17:24] Julesssss commented on #9151
Just to clarify. I was mistaken here. [THIS](https://github.com/Expensify/App/issues/9158) is the PR which I believe introduced the issue so I've made it a deployBlocker.

[2022-05-25 17:27] brianmuks commented on #8361
Further to my proposal. To fix the mentioned bug ☝🏾 we can check if the last message is an empty string. If so then we can just set `lastMessageText` to an empty string which in turn will force LHN to show the `subtitle` instead of the name of the user who sent the last deleted message as it is the case currently.
https://github.com/Expensify/App/blob/8e3c67ba25200f5558ce6be6fd3aa211c43d60b6/src/l

[2022-05-25 17:42] #9158 closed

[2022-05-25 17:47] rushatgabhane commented on #9158
Is it just me or I get the white screen on production too.

https://user-images.githubusercontent.com/29673073/170329412-7f97be8f-0a8b-4abd-804b-840c88fd4cfe.mov

[2022-05-25 17:52] mallenexpensify commented on #7648
Not much action in the PR the past couple weeks
https://github.com/Expensify/App/pull/7702

[2022-05-25 17:52] brianmuks commented on #9092
Is it fine to test this issue with [manager.allen@expensicorp.com](mailto:manager.allen@expensicorp.com)?

[2022-05-25 17:57] mallenexpensify commented on #8657
Want to put this on hold for now then @marcaaron , @NikkiWines , @parasharrajat ?
I think we want navigation to work correctly, it makes since to come up with a holistic plan. Having he [Navigation project](https://github.com/Expensify/App/projects/2#card-82119210) will be helpful for organizing

[2022-05-25 17:58] mallenexpensify commented on #7121
@parasharrajat are you waiting for a reply here? https://github.com/Expensify/App/pull/8342#pullrequestreview-974123203

[2022-05-25 17:58] thienlnam commented on #9158
The white screen you're seeing is actually different from the error in the description.  What email are you using to try to access those links? I think it's because you don't have access to a wallet.

Those links work for me on production besides https://new.expensify.com/statements/202205 since you can only view previous month statements

![Screen Shot 2022-05-25 at 10 58 44 AM](https://user-imag

[2022-05-25 18:01] parasharrajat commented on #7121
Seems like so. I will update the PR to the latest in some time.

[2022-05-25 18:02] thienlnam commented on #8923
Back from OOO, will look into this later today

[2022-05-25 18:05] parasharrajat commented on #9092
Can we get generalized reproduction steps? I don't think the current steps are enough @mvtglobally

[2022-05-25 18:06] rushatgabhane commented on #9158
That makes so much sense, thank you!!

[2022-05-25 18:10] mallenexpensify commented on #9092
I think reliably reproducing is likely going to be tough.  I haven't noticed it happen _much_ either. It's possible it has something to do with the expensicorp.com  email/domain.   How about we put on [HOLD] for now?
If someone is able to find reliable reproduction steps, and we (Expensify/QA) are able to reproduce, we can compensate $250 for documenting and sharing the steps

[2022-05-25 18:45] jboniface commented on #7962
unassigning myself since i'll be OOO for a week

[2022-05-25 18:59] mallenexpensify commented on #9092
K, I added the `Needs Reproduction` label and removed `Help Wanted`.  I'll keep 👀 peeled for being able to reproduce too

[2022-05-25 19:05] luacmartins commented on #5894
Thanks for the summary @roryabraham, that was really helpful! Closing this in favor of https://github.com/Expensify/App/issues/8731

[2022-05-25 19:08] Santhosh-Sellavel commented on #8545
@thienlnam

For `Concierge` chat when we fetch Personal Details the concierge report is not yet created. So the personal details are missing for the concierge.

For another case after creating a new chat when immediately pressing the header, personalDetails for that report is being fetched.

[2022-05-25 19:35] Santhosh-Sellavel commented on #6154
@eVoloshchak
One more question in `IOUAmountInput` component `ios` platform code `setCaretPosition` method uses `setTimeout` pattern which we generally avoid.

[code]

Why the `setTimeout` is necessary here?

[2022-05-25 19:36] rushatgabhane commented on #6154
@Santhosh-Sellavel this will be funny if it works, maybe increasing the width by 2: `layout.width + 2`.
Fixes the [mWeb bug](https://github.com/Expensify/App/issues/6154#issuecomment-1126074886)?

https://github.com/Expensify/App/blob/db7a1b751d9a34cac51dffd54e18907d8ecb8dd9/src/components/TextInput/BaseTextInput.js#L307

[2022-05-25 19:48] Santhosh-Sellavel commented on #8361
@brianmuks How it works out for group chat?

[2022-05-25 20:11] chiragsalian commented on #9151
I'm checking off
- https://github.com/Expensify/App/issues/9158 since it looks like its resolved.
- https://github.com/Expensify/App/pull/8980 since it was only pending on comment from above.

[2022-05-25 20:33] chiragsalian commented on #9151
:shipit:

[2022-05-25 20:38] OSBotify opened #9175 "Deploy Checklist: New Expensify 2022-05-25"
**Release Version:** `1.1.67-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/9118
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9132
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9147
  - [x] QA

[2022-05-25 20:38] marcaaron commented on #8657
That sounds good to me. I have a lot of thoughts regarding:

- How the current navigation works (very messy in spots)
- Whether it is something that can be proposed as a feature to `react-navigation` or not
- If not, whether we can develop a solid custom navigator to get around issues and design it with a particular wish list in mind - hopefully with some insight and feedback from the maintainers

[2022-05-25 20:40] marcaaron commented on #4612
@mallenexpensify putting this issue on hold as well.

[2022-05-25 20:42] marcaaron commented on #7737
Hey everyone, I'm going to put a `HOLD` on this issue as I'm not sure what we even want the expected behavior to be here and need to review our wish-list of navigation features in general before accepting any more proposals.

[2022-05-25 20:43] JmillsExpensify commented on #8089
Ok great! I've just issued payments to all contributors, so I'm closing the issue. Don't hesitate to follow-up with any questions!

[2022-05-25 20:43] #8089 closed

[2022-05-25 20:45] JmillsExpensify commented on #8119
@metehanozyurt @mananjadhav I've issued offers in Upwork. It's highly likely both of you are asleep at the moment, so I'll circle back on payments first thing tomorrow morning.

[2022-05-25 20:51] JmillsExpensify commented on #8655
Payment issued for @eVoloshchak. @parasharrajat I'll circle back on you tomorrow, as I just sent the offer. Thanks both!

[2022-05-25 20:56] JmillsExpensify commented on #8287
@Puneet-here @Santhosh-Sellavel offers sent. @Tushu17 Can you apply as well for reporting? Thank you!

[2022-05-25 20:57] JmillsExpensify commented on #8356
Perfect, thanks for the clarification! Let's keep the discussion moving forward in that case.

[2022-05-25 21:03] thienlnam commented on #8545
This makes sense and is okay

[2022-05-25 21:10] michaelhaxhiu commented on #7618
Did we start this slack discussion yet by the way? If/when we do, can we link the #expensify-open-source post here too for context?

[2022-05-25 21:26] michaelhaxhiu commented on #9122
Job posted to upwork here - https://www.upwork.com/jobs/~01edd8f91c1de28679

[2022-05-25 21:50] OSBotify commented on #9175
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.67-0 :rocket:

[2022-05-25 21:51] eVoloshchak commented on #8545
@thienlnam

In this case we're just waiting for the [getFromReportParticipants](https://github.com/Expensify/App/blob/172b7bda92ad1d5aff2f3e614476b9e2644a6ab9/src/libs/actions/PersonalDetails.js#L193) to finish, so yes, we actually don't need to make a network reqest on the third step of my prorosal. It would just need to show loading indicator until network request is finished.

[code]

[2022-05-25 22:05] thienlnam commented on #8923
I don't think we ever had the functionality to view videos inside the app / it always needed to be downloaded.  Going to close this since it works as expected now (shows as attachment and can be downloaded)

[2022-05-25 22:05] #8923 closed

[2022-05-25 22:06] thienlnam commented on #8545
@eVoloshchak Thank you, can you show another video with that updated proposal?

[2022-05-25 22:16] luacmartins commented on #8731
Moving this to a Weekly as we look for more proposals

[2022-05-25 22:18] eVoloshchak commented on #8545
@thienlnam, sure

https://user-images.githubusercontent.com/9059945/170377183-bfa0289e-3ffd-4460-b91b-d400c50fb529.mp4

[2022-05-25 22:34] robertjchen commented on #8420
No update

[2022-05-25 22:57] aneequeahmad commented on #8356
@marcochavezf ill explain how the lineHeight is adding more height as soon as i can run it the app

[2022-05-25 23:08] thienlnam commented on #8545
Awesome thanks - 👍  to the updated proposal

[2022-05-25 23:33] bfitzexpensify commented on #8666
I believe I sent a request for a refund of one transaction @phivh - thanks!

[2022-05-25 23:37] bfitzexpensify commented on #8291
Payments issued - thanks everyone for the work here!

[2022-05-26 02:34] Christinadobrzyn commented on #6154
Tracking this issue to make sure I follow up with singhalsakar@gmail.com's email (sig5) based on this [convo](https://expensify.slack.com/archives/C02NK2DQWUX/p1653458528794299) about his PR & the completed job.

[2022-05-26 03:19] JmillsExpensify commented on #8655
@parasharrajat is now covered, so I'm closing this out.

[2022-05-26 03:19] #8655 closed

[2022-05-26 05:17] MonilBhavsar commented on #8589
Will be looking at this after reviewing doc, probably next week

[2022-05-26 05:18] MonilBhavsar commented on #8035
Will be looking at this after reviewing doc, probably next week

[2022-05-26 06:12] Stutikuls commented on #9099
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #9083
Logged Issues - #8817, #8832, #9044, #9047, #9048, #9055, #9070, #9082, #9093, #9094

[2022-05-26 07:18] kadiealexander commented on #8545
Offers sent on upwork to @Santhosh-Sellavel and @eVoloshchak :)

[2022-05-26 08:45] brianmuks commented on #8361
@Santhosh-Sellavel here you go :

https://user-images.githubusercontent.com/4520893/170452812-73504dd1-20f6-41d2-9f9d-7fbc2fa79898.mov

[2022-05-26 09:17] parasharrajat commented on #7962
@grvsood You mentioned that preview will be shown in our app. But lib says that it opens the document natively. How will the preview be shown in-app.

You said that you have tested it so would you mind sharing the screenshots.

[2022-05-26 09:42] sobitneupane commented on #8942
Applied.

[2022-05-26 10:16] kbecciv opened #9178 "[HOLD] Workspace - Option missing for "Reimburse expenses" when user is offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the Expensify beta app
2. Sign into a valid account
3. Enable Airplane mode to mirror loss of internet
3. Tap on the "Profile" icon > "Works

[2022-05-26 10:27] SumitDiyora commented on #9111
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #9080, #9107
Logged Issues - #8752, #9101, #9129

[2022-05-26 10:56] sobitneupane commented on #9124
Sorry. I didn't get you. Do you mean to create a new component with the required logic?

[2022-05-26 11:07] iwiznia commented on #9178
hmmmm this is because we load data from the server we don't yet have... since the offline support doc is not done yet, I think we should hold on this.
cc @Luke9389 @roryabraham @tgolen @marcaaron

[2022-05-26 11:39] rushatgabhane commented on #9124
@sobitneupane some ideas - a HOC ([see this](https://www.patterns.dev/posts/hoc-pattern/)), utils maybe?

We wanna reuse the logic of a pressable changing it's [style](https://github.com/Expensify/App/blob/50582364b411c61d8f9b8f6ac7439cce7e6f9765/src/components/ContextMenuItem.js#L97) for [1800ms](https://github.com/Expensify/App/blob/50582364b411c61d8f9b8f6ac7439cce7e6f9765/src/components/Context

[2022-05-26 12:55] Gonals commented on #9164
I think this can be external!

[2022-05-26 13:35] JmillsExpensify commented on #8119
I've issued payments via Upwork. Thanks so much both!

[2022-05-26 13:35] #8119 closed

[2022-05-26 13:55] laurenreidexpensify commented on #8661
Price Doubled

[2022-05-26 14:07] kbecciv opened #9179 "Android -Notification- Tapping the notification does not open the correct chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Close NewDot app.
3. Wait for ~5 minutes.
4. Send a message from B to A. A push notification should appear
5. After about 10 se

[2022-05-26 14:08] OSBotify commented on #9179
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-26 14:10] kbecciv commented on #6079
Open a new ticket https://github.com/Expensify/App/issues/9179

[2022-05-26 14:15] grvsood commented on #7962
Check the attached video, the app is not switched in iOS. and I am able to preview the  file that contains a space in the name.

I know the app crashed, but as I said, I just tested that I am able to preview a attachment selected. I need to configure new changes to ensure backward compatibility.

https://user-images.githubusercontent.com/26037206/170505116-701c26f5-af16-4270-9392-bd7ddcc42174.mov

[2022-05-26 14:22] kavimuru commented on #9162
@arosiclair Its working in android, web and desktop. Here's the video for android.

https://user-images.githubusercontent.com/43996225/170507292-1d6ac2e9-dc12-43ca-be4f-2452c0b4d530.mp4

[2022-05-26 14:32] kavimuru opened #9181 "Web-IOU- After requesting money badge in the DM flashes with red 0.00 badge before changing to green badge with requested amount"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Log in with any account
3. Click on Fab menu - Request Money
4. Put amount and click continue
5. Sele

[2022-05-26 14:35] kbecciv opened #9182 "[$250] Android/IOS - Chat - App is crashed after tap on avatar for non-existing account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Select Search
4. Type any non-existing account
5. Tap on Avatar for non-existing account

## Expecte

[2022-05-26 14:36] kavimuru opened #9183 "[HOLD for payment 2022-08-11] [$500] Web - Chat - Avatar icon is flickers when the message is sent for the first time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Log in with any account
3. Select any chat
4. Send the message to the user

## Expected Result:
There

[2022-05-26 14:45] azimgd commented on #6883
Expecting to push a PR and update by Mon-Tue next week.

[2022-05-26 14:52] Santhosh-Sellavel commented on #8661
@chiragsalian

I believe this might be related/ maybe a duplicate of https://github.com/Expensify/App/issues/7860, can we add a hold label to this issue.

cc: @laurenreidexpensify

[2022-05-26 14:56] mollfpr commented on #9124
### Proposal

1. Creating a HOC to handle the logic of pressable icons.
Here I move the logic from the `ContextMenuItem` component that handles the success state. The HOC also have parameter for the auto reseting the success state.
[code]
2. Updating the `ContextMenuItem` component to use the HOC
We use the HOC and update the `this.state.success` with `this.props.success`. Also for toggling the st

[2022-05-26 15:03] Julesssss commented on #9179
At first glance it doesn't look like any of[ the PRs](https://github.com/Expensify/App/issues/9175) could have introduced this... Next step is to check the previous fix to confirm when this regression occurred.

[2022-05-26 15:07] Julesssss commented on #9179
Android notifications have been flakey for a while for me. Usually I can get them to work if I log out of web, log out of mobile and then sign in again.

[2022-05-26 15:30] allroundexperts commented on #8840
@rushatgabhane @luacmartins I was researching about the side effect mentioned above and it seems like even 6.2.0 doesn't fixes it completely. They later released 6.3.0 that finally dealt with this bug. As such, I'll be going with 6.3.0 in my PR.

[#10304](https://github.com/react-navigation/react-navigation/issues/10304)

<img width="1427" alt="Screenshot 2022-05-26 at 8 30 02 PM" src="https://use

[2022-05-26 15:52] AndrewGable commented on #9179
I think this is specific to offline mode and we should put it on hold or close it until we are done with offline first refactoring. If this occurs during online mode, then we can look into it as a deploy blocker.

[2022-05-26 16:24] pecanoro commented on #9179
I don't get notifications half of the time. Anyways, when they do, regarding opening the right chat, it hasn't been working for me in months though, but again, not sure if that's the case for everyone.

[2022-05-26 16:26] allroundexperts commented on #8840
@luacmartins @rushatgabhane https://github.com/Expensify/App/pull/9180

[2022-05-26 16:26] parasharrajat commented on #7962
My question was `You mentioned that preview will be shown in our app. But lib says that it opens the document natively. How will the preview be shown in-app? Am I missing something?`

[2022-05-26 16:28] parasharrajat commented on #9164
This will be internal as the backend needs to add the file upload support. That's all.

[2022-05-26 16:30] parasharrajat commented on #8645
@kevinksullivan Bump.

[2022-05-26 16:54] stephanieelliott commented on #7081
Hi @mananjadhav can you please update on progress here?

[2022-05-26 16:58] NikkiWines commented on #9183
Hmm @kavimuru I'm unable to reproduce this on staging v1.1.67-0. Does the flickering happen consistently each time?

https://user-images.githubusercontent.com/16747822/170536362-a8866b20-e64b-4704-be4f-c1052e31bb6f.mov

[2022-05-26 16:59] stephanieelliott commented on #9119
All good, took the job down!

[2022-05-26 16:59] #9119 closed

[2022-05-26 17:01] AndrewGable commented on #9179
You shouldn't get notifications when you are "online" on web or have very recently used another client, so I am not sure if your behavior is a bug or expected. I added logic to go to the correct report, but have not seen a video of it not working while online, so if you could reproduce that would be good to know!

[2022-05-26 17:07] techievivek commented on #9085
Not overdue

[2022-05-26 17:10] Beamanator commented on #7486
Good call @parasharrajat - Mitch is out at least another week, I'll ping internal channels to get a new CM assigned

[2022-05-26 17:14] Beamanator commented on #8574
Not working on this if it's not reproducible - waiting 1 more week

[2022-05-26 17:17] NikkiWines commented on #8426
Not overdue, second PR is in review

[2022-05-26 17:28] mallenexpensify commented on #7486
Paid @LucioChavezFuentes $1k for the job.
Hired @parasharrajat to pay $1k for C+, let me know when you've accepted Rajat

[2022-05-26 17:33] pecanoro commented on #9179
I am logging out from my desktop before testing notifications. When notifications don't work, I have to do what Jules suggested, log out from my account on mobile too and then log in again. But after a while, they stop showing, well, it's more like hit or miss because sometimes I get them. Let me send record a video about it. But again, this might be happening only to me since I had this problem f

[2022-05-26 17:37] AndrewGable commented on #9179
Agreed not a deploy blocker

[2022-05-26 17:38] mallenexpensify commented on #8794
Hired ya @mananjadhav , let us know when you accept
Paid @thesahindia $250 for the fix,

[2022-05-26 17:41] parasharrajat commented on #7486
@mallenexpensify Done.

[2022-05-26 17:43] mallenexpensify commented on #8469
Hired @rushatgabhane and @Puneet-here , let me know when y'all have accepted https://www.upwork.com/jobs/~01d511a116d1cc31ad

[2022-05-26 17:46] Julesssss commented on #9175
Checked off [9179](https://github.com/Expensify/App/issues/9179) as it's not worth blocking deploy, and is a dupe

[2022-05-26 17:49] trjExpensify commented on #7470
Same again, Melvin. @stitesExpensify can you address [this please](https://github.com/Expensify/App/issues/7470#issuecomment-1132470341), so we can move the proposal forward?

[2022-05-26 17:51] Puneet-here commented on #8469
I have accepted the offer.
Thanks.

[2022-05-26 17:54] zsgreenwald commented on #8088
@aldo-expensify I noticed [this PR](https://github.com/Expensify/App/pull/9025) merged. I'm waiting on some email responses to come in, but should that merge fix the issue?

[2022-05-26 17:55] Julesssss commented on #9175
I see no new issues in Firebase, or noticable regression in our app timing dash. Deploying!

[2022-05-26 17:55] Julesssss commented on #9175
:shipit:

[2022-05-26 17:55] #9175 closed

[2022-05-26 17:56] grvsood commented on #7962
Got your concern. Will look into this.

[2022-05-26 18:00] mallenexpensify commented on #8923
We have this issue
https://github.com/Expensify/App/issues/7835
I imagine that's cover iOS too

[2022-05-26 18:00] OSBotify opened #9188 "Deploy Checklist: New Expensify 2022-05-26"
**Release Version:** `1.1.68-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8860
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9142
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9168
  - [x] QA

[2022-05-26 18:01] mallenexpensify commented on #7835
@stitesExpensify is out sick so he might not be able to review til next week

[2022-05-26 18:05] michaelhaxhiu commented on #9061
Just reproduced it myself:
<img width=300 src=https://user-images.githubusercontent.com/13206896/170548809-ebc2f3ec-72e8-4688-8cee-f23da4be4e5a.PNG>

[2022-05-26 18:06] aldo-expensify commented on #8088
I tested locally [that PR](https://github.com/Expensify/App/pull/9025) and it seems to cause the same problem.

[2022-05-26 18:07] luacmartins commented on #9059
I'm focused on the NewDot API issues, but will get to this next.

[2022-05-26 18:07] luacmartins commented on #8286
Still looking for proposals.

[2022-05-26 18:08] michaelhaxhiu commented on #9061
Job is posted to upwork here - https://www.upwork.com/jobs/~015e4add79b0f0a510

[2022-05-26 18:14] chiragsalian commented on #8661
Good catch, yeah it could be related because of item offset and sizeMap. I'll add the HOLD.

[2022-05-26 18:14] Julesssss commented on #8130
So I'm going to be pretty busy with other more import tasks internally for a bit. I think we should open this back up, thoughts?

[2022-05-26 18:14] NikkiWines commented on #9183
Ah ok, I was able to reproduce if I had an existing message in the conversation. Some update reproduction steps would be

1. Log into an account on New Expensify
2. Navigate to a chat where you were the last person to send a message
3. Send a message in that chat
4. Confirm that the avatar on the left hand side of the message that you just sent flickers.

This looks like a good external issue. Tha

[2022-05-26 18:54] thienlnam commented on #8235
Just back from OOO, added a PR for better logging

[2022-05-26 18:57] michaelhaxhiu commented on #8235
<3

On Thu, May 26, 2022 at 2:54 PM Jack Nam ***@***.***> wrote:

--
Michael Haxhiu

[2022-05-26 19:08] danieldoglas commented on #9182
Confirmed it is a bug and it's not on API.

[2022-05-26 19:25] mananjadhav commented on #8794
Accepted @mallenexpensify

[2022-05-26 19:35] marcaaron commented on #9178
+1 I think having these little "this doesn't work offline" issues is a bit distracting considering we are re-writing many flows and haven't trained anyone what to look for.

[2022-05-26 19:56] eVoloshchak commented on #8851
Sorry for the delay, [PR](https://github.com/Expensify/App/pull/9193) is up

[2022-05-26 21:05] aldo-expensify commented on #8841
No update yet

[2022-05-26 21:11] OSBotify commented on #9188
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.68-2 :rocket:

[2022-05-26 21:20] adelekennedy commented on #9166
[internal](https://www.upwork.com/ab/applicants/1529935302129147904/job-details)
[external](https://www.upwork.com/jobs/~01f8cfc43c5276047f)

[2022-05-26 21:40] roryabraham commented on #7648
Got the PR all cleaned up and ready for review

[2022-05-26 22:16] mallenexpensify commented on #7486
Paid Rajat $1k for C+, closing.
Thanks for the help Lucio and Rajat!

[2022-05-26 22:16] #7486 closed

[2022-05-26 22:19] mallenexpensify commented on #8469
Paid @Puneet-here and @rushatgabhane $250 ea for the fix and C+. Thanks for the help!

[2022-05-26 22:19] #8469 closed

[2022-05-26 22:20] mallenexpensify commented on #8130
Internally or Externally? @Julesssss

[2022-05-26 22:29] mallenexpensify commented on #8794
Paid @mananjadhav $250 for C+
Thanks for the help y'all

[2022-05-26 22:29] #8794 closed

[2022-05-26 22:31] mallenexpensify commented on #2727
You betcha @lbaldy , please apply here and confirm in comment once you have
https://www.upwork.com/jobs/~01411bf531c59e797e

[2022-05-26 22:36] chiragsalian commented on #7263
@kbecciv, has this issue reoccured? If not i think we can close it out.

[2022-05-26 22:41] lbaldy commented on #2727
Thanks @mallenexpensify. Applied.

[2022-05-26 22:48] roryabraham commented on #9018
@srikarparsi – anything I can do to help get this over the finish line? I'm here to help + review when you need 🙂

[2022-05-26 22:52] imran-ranglerz commented on #2727
const isPortrait = () => {
    const dim = Dimensions.get('screen');
    return dim.height >= dim.width;
};

/**
 * Returns true of the screen is in landscape mode
 */
const isLandscape = () => {
    const dim = Dimensions.get('screen');
    return dim.width >= dim.height;
};

by using this we can find out the dimension and solve this.

[2022-05-26 22:59] luacmartins commented on #8645
@parasharrajat Kevin is ooo until Monday. Let me know if this can't wait and I'll assign another CM.

[2022-05-26 23:01] luacmartins commented on #8456
@laurenreidexpensify I just reassigned this since Mitch is ooo until Jun 9. The only action item left here is to pay @parasharrajat for the fix. Could you do that please?

[2022-05-26 23:29] kavimuru opened #9197 "Workspace - Offline - User can't change currency and cant see tab options in workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: Disable internet THEN open the module
1. Access staging.new.expensify.com
2. Sign into a valid account
3. Enable "Airplane mode" to s

[2022-05-26 23:30] OSBotify commented on #9197
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-27 00:13] marcaaron commented on #9161
I think we should just close this issue for now. It's not worth sending to External contributors as the implementation around all of this data fetching is going to change.

[2022-05-27 00:13] #9161 closed

[2022-05-27 00:17] marcaaron commented on #9197
Flag as skip for now. Offline behavior is getting overhauled.

[2022-05-27 00:17] #9197 closed

[2022-05-27 00:43] Christinadobrzyn commented on #8249
Sorry for the ping but @chiragsalian I noticed there were some other PRs mentioned after this issue deployed to production. Can you confirm we're good to pay this or are there any regressions/issues that need to be fixed?

[2022-05-27 00:43] bfitzexpensify commented on #8666
Great, thanks @phivh! OK, finally all squared away here I believe.

[2022-05-27 00:43] #8666 closed

[2022-05-27 00:45] marcaaron commented on #9166
Sorry, I'm actually going to close this. These Offline issues should stay internal for now as we are re-writing the API and how data is fetched and stored and will be deep diving into all the flows and improving the designs.

[2022-05-27 00:45] #9166 closed

[2022-05-27 00:51] bfitzexpensify commented on #9182
Upwork job [here](https://www.upwork.com/jobs/~017aa6057e39108206)

[2022-05-27 01:02] neil-marcellini commented on #8423
My PR is pretty much ready to go except for spanish translations.

[2022-05-27 01:09] marcaaron commented on #4680
@AndrewGable did this and is my hero.

[2022-05-27 01:09] #4680 closed

[2022-05-27 01:10] imran-ranglerz commented on #9182
we can handle this exception by using ? mark . as you say the account is not exist so the code surly pick the data and it did not find data so we can use ? mark.
if we did not have data of non existing account we will not face crash any more with ? mark

[2022-05-27 01:18] arielgreen commented on #9010
@mananjadhav are we good to close?

[2022-05-27 01:25] arielgreen commented on #8461
@Tushu17 and @Santhosh-Sellavel just sent over offers to both of you via Upwork, once you accept I will pay out the job and close the issue.

[2022-05-27 01:27] arielgreen commented on #8460
Paid.

[2022-05-27 01:27] #8460 closed

[2022-05-27 01:57] arielgreen commented on #8592
Price increased

[2022-05-27 04:34] Christinadobrzyn commented on #9164
Testing `mp4` on desktop - uploads successfully into chat
Testing `m4a` on desktop - throws same error as `mp3` on desktop

Testing `mp3` on desktop app - I'm getting an error
![2022-05-27_12-31-29 (1)](https://user-images.githubusercontent.com/51066321/170629323-5d2347d0-c608-4579-af9d-1697f299ff30.gif)

testing `mp3` on mobile - I'm able to reproduce @kbecciv video - loading spinners - no fail m

[2022-05-27 04:35] Christinadobrzyn commented on #9164
So should we keep this internal for part of the fix or for the entire fix? I can create an Expensify/Expensify GH if we're keeping this internal.

[2022-05-27 06:07] adeel0202 commented on #9182
I reported this bug 2 months ago but its ticket wasn't created. The thread is [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1649374016010969).

[2022-05-27 06:11] roryabraham commented on #8272
PR is ready for review: https://github.com/Expensify/App/pull/9199

[2022-05-27 06:43] Christinadobrzyn commented on #5894
Cancelled the job in Upwork

[2022-05-27 08:19] laurenreidexpensify commented on #8456
@parasharrajat offer sent

[2022-05-27 08:22] adeel0202 commented on #8456
I'm also eligible for the reporting bonus :)

[2022-05-27 08:27] brianmuks commented on #8607
@luacmartins can I apply for reporting ?

[2022-05-27 09:14] Julesssss commented on #8130
External. @parasharrajat was interested previously and has reviewed most of the code so far. I'll leave the choice up to you @parasharrajat

[2022-05-27 10:57] laurenreidexpensify commented on #8456
cool @adeel0202 offer sent to you too! sorry we missed you there!

[2022-05-27 11:01] adeel0202 commented on #8456
No worries, @laurenreidexpensify. I have accepted the offer. Thanks.

[2022-05-27 11:34] laurenreidexpensify commented on #8456
everyone has been paid, thanks folks!

[2022-05-27 11:34] #8456 closed

[2022-05-27 11:41] Tushu17 commented on #8461
@arielgreen Thank you, Offer accepted.

[2022-05-27 11:48] mollfpr commented on #9182
## Proposal

### Why?
The error showing up because there's no `personalDetails` data with the report id from `DetailsPage` component. `personalDetails` is come from Onyx, it needs to be fetched first and it fetches from `ReportActionsView` loaded.
https://github.com/Expensify/App/blob/3e52b9a549add24c84670fd7db46836db5a8025b/src/pages/home/report/ReportActionsView.js#L130-L132

The problem is ther

[2022-05-27 11:58] SumitDiyora commented on #9151
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #9136, #9146
Logged Issues - #8831, #8980, #9046, #9127, #9129, #9133, #9134, #9138

[2022-05-27 12:36] iwiznia commented on #8541
Still waiting for a proposal here.

[2022-05-27 12:41] kbecciv opened #9200 "IOU - Requesting money badge in the DM disappears after tap on "Message..." option in Detail Page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition:
Complete the request money flow and send payment request to another account you have access to.
1. Log-in to the other account
2. Go t

[2022-05-27 13:17] mvtglobally commented on #9188
@Julesssss Regression is completed.
Deploy Blocker still open https://github.com/Expensify/App/issues/9196

Issues logged
https://github.com/Expensify/App/issues/9200

[2022-05-27 13:30] dharmik commented on #8541
Updated Proposal @parasharrajat

added new file: WorkSpaceUtils.js for common method
[code]

Updated File: WorkspaceInitialPage.js
[code]

same above changes done in below files
WorkspaceReimburseView.js
WorkspaceTravelNoVBAView.js
WorkspaceInvoicesNoVBAView.js

[2022-05-27 14:16] dharmik commented on #8846
Proposal @mananjadhav

Update in File: src/components/AttachmentPicker/index.native.js

[code]

[code]

[code]

By the above changes these scenario will happen in iOS

When user select option Take a Photo

1)If user accepted the permission: It will redirect to the Camera

2)If user have denied the permission: It will show the alert to go to setting and enable the camera permission then after we ca

[2022-05-27 14:22] Puneet-here commented on #8130
We also have a proposal [here](https://github.com/Expensify/App/issues/8130#issuecomment-1112459122 )

[2022-05-27 14:23] Julesssss commented on #9188
Checked off 9196 as it was an expected side effect. We'll likely make further improvements later on.

[2022-05-27 14:48] Julesssss commented on #8130
Oh sorry, I confused this with a different issue. Please ignore me.

[2022-05-27 14:49] parasharrajat commented on #8130
This needs backend changes first if we are going with the proposal.

[2022-05-27 14:51] parasharrajat commented on #8541
Waiting for a few days for different(better) proposals.

[2022-05-27 15:04] Julesssss commented on #9188
Marc closed [9197](https://github.com/Expensify/App/issues/9197) for me for a similar reason.

[2022-05-27 15:08] Julesssss commented on #9188
Investigating this [new exception](https://console.firebase.google.com/u/0/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/a7b3eb98bca0ca5e7172275cc21c7ade?time=last-twenty-four-hours&sessionEventKey=628FD1DF00A7000149B453F05CB47DB0_1680572100984851817)

[2022-05-27 15:15] luacmartins commented on #8607
@brianmuks the payments will be handled by @jboniface!

[2022-05-27 15:48] Julesssss commented on #8130
Yep, I'll need to find someone internal to take over

[2022-05-27 15:50] Julesssss commented on #9188
The only new issue was triggered by someone else's automated testing.  I'm not deploying due to DBSF, but this is ready to go on Monday morning.

[2022-05-27 16:02] Santhosh-Sellavel commented on #8461
@arielgreen
Accepted the offer, thanks!

[2022-05-27 16:21] Santhosh-Sellavel commented on #8361
@thienlnam
@brianmuks new changes look good to me.

One suggestion there are too many checks for one boolean, can we break down checks in a meaningful way?

[2022-05-27 16:58] brianmuks commented on #8361
Thanks @Santhosh-Sellavel .
How is this  ?
https://github.com/Expensify/App/blob/8e3c67ba25200f5558ce6be6fd3aa211c43d60b6/src/libs/OptionsListUtils.js#L237
[code]

[2022-05-27 17:40] thienlnam commented on #8185
Closing as we can't reproduce this on prod

[2022-05-27 17:41] michaelhaxhiu commented on #8122
Just to confirm -- payment should be due on May 31s for this job, assuming no regressions on [the PR](https://github.com/Expensify/App/pull/9129) - right?

[2022-05-27 17:42] NicMendonca commented on #8220
Latest PR update [here](https://github.com/Expensify/App/pull/8549#issuecomment-1138335682)

[2022-05-27 17:46] thienlnam commented on #8361
You're somewhat on the right track, but you're removing the subtitle name completely which is not what we want to do here.

Also, in the video you linked - the expected functionality is incorrect.  If you're deleting the only message in the group chat, the subtitle should be empty and not show anything

[2022-05-27 18:06] mallenexpensify commented on #2727
@lbaldy , hired you in Upwork, assuming you're `Lukasz B` there

@imran-ranglerz , we already have hired someone for this job, to check all open jobs, click https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22

[2022-05-27 18:17] dharmik commented on #8541
Let's find some **WET** code.

[2022-05-27 18:32] #6763 closed

[2022-05-27 18:39] michaelhaxhiu commented on #8850
@parasharrajat are you able to apply for this job too? https://www.upwork.com/jobs/~01bc20ad2e82856ef6
@Tushu17 same thing, please!

[2022-05-27 18:40] #9087 closed

[2022-05-27 18:55] Santhosh-Sellavel commented on #8122
@michaelhaxhiu
Can you set up a job for this one and hire me for C+ here, thanks!

[2022-05-27 18:56] Santhosh-Sellavel commented on #9061
Sorry Exported label @michaelhaxhiu

[2022-05-27 18:57] michaelhaxhiu commented on #9061
lol i just realized the same 😂

[2022-05-27 18:57] Santhosh-Sellavel commented on #9061
Again me 😂

[2022-05-27 18:58] parasharrajat commented on #8292
Hmm... No new proposals. I will open up the discussion on Monday and let's see what others agree to.

[2022-05-27 19:01] Santhosh-Sellavel commented on #8545
@eVoloshchak Any update here?

[2022-05-27 19:04] #8272 closed

[2022-05-27 19:14] luacmartins commented on #9043
Working on a few input refactors before getting to this.

[2022-05-27 19:25] srikarparsi opened #9204 "Unable to run android app on M1 Macbook"
I tried going through this tutorial (https://reactnative.dev/docs/environment-setup) to install the android developer environment but ran into an issue when running npm run android in the App Directory. I ran it again in android studios and it did take some time to build and compile before I was able to run the code but once I did saw an error with the react-native-async-storage dependency.

Execu

[2022-05-27 19:31] Santhosh-Sellavel commented on #8934
@Justicea83 The fix PR is causing regression as mentioned here https://github.com/Expensify/App/pull/9093#issuecomment-1137558114

[2022-05-27 19:44] michaelhaxhiu commented on #8715
Seems the PR is seeing gradual progress. It needs some conflicts to be resolved and then can be reviewed.

[2022-05-27 20:34] amyevans opened #9205 "Fix margins in compose metadata area"
# Problem
Coming from https://github.com/Expensify/App/pull/9095, there are inconsistent margins in the compose metadata area when not all of the child component are present.

**When they are all present**
![Screen Shot 2022-05-27 at 4 30 45 PM](https://user-images.githubusercontent.com/7277067/170785384-1c4ee913-a0bd-40aa-83cc-c29194b58c28.png)

**When first and last are present**
![Screen Shot 2

[2022-05-27 20:45] adelekennedy commented on #8927
Doubling time!

[2022-05-27 21:06] lbaldy commented on #2727
@mallenexpensify  thanks. That me, I've received the Upwork email too. The PR is already opened and I think @parasharrajat is on it.

[2022-05-27 21:11] parasharrajat commented on #2727
Expect an update soon. Just too exhausted today 😴🛌

[2022-05-27 21:52] #9205 closed

[2022-05-27 23:20] #9154 closed

[2022-05-27 23:39] roryabraham opened #9209 "Control Onyx via Storybook controls"
### Problem
Storybook is a very useful tool to build, test and showcase our UI. While it works great with React, there's no way to interface Onyx via storybook.

### Why this is important
Where Onyx values are used to control our UI components (for example, going from offline -> online), there's no way for us to adjust those Onyx values via the Storybook controls.

### Solution
Build some solution

[2022-05-27 23:40] roryabraham commented on #9209
This is a curiosity, but likely won't be a priority in the near-term.

[2022-05-28 01:04] Christinadobrzyn commented on #8249
Alright, closed the job in Upwork.

Paid @Tushu17 $250 for the fix
Paid @Santhosh-Sellavel $250 for C+ and $250 for a reporting bonus

[2022-05-28 01:04] #8249 closed

[2022-05-28 14:05] liyamahendra commented on #8731
I was going through the open issues from https://github.com/Expensify/App/issues?q=is:open is:issue label:"Help Wanted" and found this issue in the link.

I've a solution to fix the bottom space as seen in the video for the web using CSS.

Just wanted to confirm - are you still looking for a proposal?

[2022-05-28 15:29] allroundexperts commented on #8592
@parasharrajat How about doing a `blur` on click of send button?

[2022-05-28 18:09] liyamahendra commented on #6941
**Proposal**

Change the attribute for `MainActivity` in the `AndroidManifest.xml` file from
[code]
to
[code]

**Explanation:**
When the input method appears on the screen, it reduces the amount of space available for your app's UI. The system makes a decision as to how it should adjust the visible portion of your UI, to ensure the best behavior for your app in the remaining space. This is control

[2022-05-28 18:13] bhavansh-arora commented on #7860
Why don't we remove the virtualization by passing disableVirtualization inside our FlatList.

[2022-05-28 18:30] Santhosh-Sellavel commented on #8731
@liyamahendra We are still looking for a proposal. But fix doesn't look like what we expect. Kindly read the issue description and understand the issue first and go through comments it will help you know more about the issue.
If you got it all right, propose a solution here.
Thanks!

[2022-05-28 18:39] Tushu17 commented on #8665
I have raised the PR.

[2022-05-28 18:48] imran-ranglerz commented on #8719
i will handle it by hight responsive or fixed hight

[2022-05-28 19:34] Santhosh-Sellavel commented on #7860
Not overdue waiting for proposal updates. Also open to proposals.

[2022-05-28 21:38] grvsood commented on #7962
### Proposals

I have submitted a PR in `react-native-pdf` library to fix this i.e. to decode the path string for iOS as it does for Android already. Refer: [here](https://github.com/wonday/react-native-pdf/pull/654)

Alternatively, for any reason if we fail to merge above PR, on our end we can also fix this by:
* either using `decodeURIComponent(props.sourceURL.replace(/\+/g, ' '));`  to decode t

[2022-05-28 22:12] roryabraham opened #9211 "[HOLD for payment 2023-06-01] Configure NetInfo to ping Auth for its internet reachability test"
### Problem
We use NetInfo to track whether the app can access the internet. On web/desktop, that involves regularly polling a URL to see if we get a response. We currently poll the API root, which works as a test of internet reachability. It's better than using a random URL because it verifies not only that the internet is reachable, but also that our web servers are reachable.

However, it's pos

[2022-05-28 22:18] roryabraham commented on #9211
The design doc suggests using https://expensify.com/api?command=Get with a payload of:

- `returnValueList=nameValuePairs`
- `name=private_lastModified`
- `authToken=...`

The problem with that is that we to have an `authToken` in order for that to work, which means that it can't be used when the user is not logged in. We should find or create a public API endpoint that can be used to ping auth.

[2022-05-29 06:26] liyamahendra commented on #8731
**Proposal**

## The Problem

<img width="441" alt="bottom-space" src="https://user-images.githubusercontent.com/911879/170854988-e4b356c4-5581-423c-b72a-acdca5c6b353.png">

As seen in the image above, the issue is about the bottom space below the text box.

## Solution

Adding `top: 24,` to the `chatFooter` style, solves the problem. Following is the updated style for `chatFooter` inside `App/src

[2022-05-29 12:51] parasharrajat commented on #7962
Thanks @grvsood. You have already submitted the upstream PR so let's wait for some review on that.

[2022-05-29 13:38] Santhosh-Sellavel commented on #8731
@liyamahendra That's not the problem, the space is expected there.

Check out this https://github.com/Expensify/App/issues/8731#issuecomment-1114311851

When address bar is minimised, little more space is available at the bottom that's the issue.

[2022-05-29 16:44] ahmdshrif commented on #8349
# **Proposal**

## Root couse
I debug this by creating a native android app and trying to `setSelction` on EdiatText.
and as I expect setSelction on native does not show the context menu by default.

the copy/paste menu only appears when the selection is triggered by os itself. but if we trigger setSelction manually it will only select the text as the behavior on the video above. and the reason fo

[2022-05-29 17:11] liyamahendra commented on #8731
@Santhosh-Sellavel thank you for the comment and additional info.

I do **now** see some extra space when the keyboard pops-up. Attaching what I now understand the problem is.

<img width="447" alt="iPhone 13 2022-05-29 22-37-49" src="https://user-images.githubusercontent.com/911879/170882794-40ce5c9f-eef5-41f0-879b-7b27aa4ebb1a.png">

Can you please confirm if my understanding is correct?

[2022-05-29 17:41] ahmdshrif commented on #8349
i just do more test and the above proposal have a big issue so for not waste your time ... please ignore it.

[2022-05-29 18:52] techievivek commented on #9085
@parasharrajat Hi 👋 Is this getting fixed in your PR?

[2022-05-29 18:55] techievivek commented on #9181
Though this can be worked externally I am picking for myself to get comfortable with the codebase.

[2022-05-29 20:57] rushatgabhane commented on #9124
We toggle the toggleSuccess function when the file download is complete

@mollfpr I don't think we should do that. Toggling the color back to grey after 1800ms is fine.

Sure!

Also, any more ideas on the name of this new component? `WithToggleButtonSuccess` is confusing.

[2022-05-29 21:00] rushatgabhane commented on #9124
@chiragsalian I like @mollfpr's [proposal](https://github.com/Expensify/App/issues/9124#issuecomment-1138668417).
It moves the timer logic from `ContextMenu` to a HOC which is then reused by `AttachmentModal` and ofc `ContextMenu`.

🎀 👀 🎀 C+ reviewed

[2022-05-29 21:20] aswin-s commented on #8286
@luacmartins I had another look at the issue and it seems that we can safely remove `expensify.cash` from entitlements file, as expensify.cash does a `301` http redirect to new.expensify.com. So universal links will work even without explicitly adding expensify.cash to associated domains.

![image](https://user-images.githubusercontent.com/6880914/170891574-20072343-c4a8-4f5d-8c3e-d26f143dd88f.png

[2022-05-29 22:23] orkunkarakus commented on #9088
@rushatgabhane Hi,
If it is necessary to modified directly from the OptionsSelector component, it must be checked whether the data arrays are empty or not. When we look at the incoming section data there is a nested json array thus we need to make search operation. So what is this search operation for, this search operation is to find each json in the section array and find the length of the data

[2022-05-29 23:01] kadiealexander commented on #8663
Discussions happening in the PR, not overdue.

[2022-05-29 23:35] rushatgabhane commented on #9088
I just reread what I had said and realized that n=2 over here 🤦‍♂️ my bad.

A slightly cleaner way to solve this issue would be to wait for #7702 to merge and use `state.allOptions.length` in OptionsSelector. That PR might merge anytime soon.

What do you think @Julesssss ?

- Hold on #7702 (almost merged)
- or go with @jayeshmangwani 's [proposal ](https://github.com/Expensify/App/issues/9088#iss

[2022-05-30 00:00] aswin-s commented on #7618
@parasharrajat @michaelhaxhiu  I've concerns over how this issue got handled and how it is progressing.

I would like to point out that until I [posted the root cause for this issue](https://github.com/Expensify/App/issues/7618#issuecomment-1103004135) and the way to verify it, no one had any clue that this issue had its roots in use-linking library. I even pointed out the exact line where the iss

[2022-05-30 02:49] mollfpr commented on #9124
@rushatgabhane

I don’t get this part.

Currently, it’s only introduced by `ContextMenuItem`.

I’ll get onto this later, naming things in code is the hardest part for me 😅

[2022-05-30 03:47] kadiealexander commented on #7497
Issued payment to @orkunkarakus after email bump.

[2022-05-30 08:24] kakajann commented on #8850
ping for Upwork, kinda urgent )

[2022-05-30 08:38] #8711 closed

[2022-05-30 09:04] Julesssss commented on #9188
Deploying, to unblock the next release and checklist for Applause & @luacmartins

[2022-05-30 09:06] Julesssss commented on #9188
:shipit:

[2022-05-30 09:06] #9188 closed

[2022-05-30 09:12] OSBotify opened #9217 "Deploy Checklist: New Expensify 2022-05-30"
**Release Version:** `1.1.69-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8263
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9095
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9139
  - [x] QA

[2022-05-30 09:27] Christinadobrzyn commented on #9164
@Gonals and @parasharrajat Created an Internal GH here - https://github.com/Expensify/Expensify/issues/212254

Going to make this weekly - while we wait for the internal update

[2022-05-30 09:32] Julesssss commented on #9217
@luacmartins here's your new checklist. Let us know if you have any questions!

[2022-05-30 10:11] SumitDiyora commented on #9175
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #9155, #9160
Logged Issues - #9118, #9132, #9147

[2022-05-30 10:30] flodnv commented on #8471
PR is in review.

[2022-05-30 10:31] flodnv commented on #9084
@parasharrajat can you please review the proposal from @[thesahindia](https://github.com/thesahindia)?

[2022-05-30 10:32] flodnv commented on #8641
Switching to monthly whilst we wait for the above.

[2022-05-30 10:32] parasharrajat commented on #9084
Oh. I didn't see the proposal. I will review this today.

[2022-05-30 10:38] Julesssss commented on #8122
@michaelhaxhiu yep, looks like it deployed 6 days ago.

[2022-05-30 11:13] Julesssss commented on #9088
Excellent reviewing so far @rushatgabhane 👍

Holding on the above PR sounds like the best idea IMO. Hopefully, the above proposals won't need much modification once this is done. @jayeshmangwani please feel free to update your proposal if you'd still be interested.

[2022-05-30 11:26] aneequeahmad commented on #7618
@aswin-s allow me to clear the PR that i raised before. Please look into my [comment](https://github.com/react-navigation/react-navigation/pull/10414#:~:text=have%20opened%20another%20similar%20PR.%20Thanks%20for%20allowing)

We had a discussion on my [PR](https://github.com/react-navigation/react-navigation/pull/10558#:~:text=I%20submitted%20a%20pull%20request%20for%20my%20solution) where the dis

[2022-05-30 12:24] dhruv-silicon commented on #9182
We have checked the source code and tried to run the app.

We have identified that the non-existing account, it is not able to get the below example data:

`{"avatar": "https://d2k5nsl2zxldvw.cloudfront.net/images/avatars/avatar_8.png", "avatarHighResolution": "https://d2k5nsl2zxldvw.cloudfront.net/images/avatars/avatar_8.png", "displayName": "sd@yopmail.com", "firstName": "", "lastName": "", "log

[2022-05-30 14:08] luacmartins commented on #8607
@jboniface is ooo until June 1. Waiting for payment.

[2022-05-30 14:15] parasharrajat commented on #7497
This is ready for payout.

[2022-05-30 14:28] michaelhaxhiu commented on #8122
@Santhosh-Sellavel - https://www.upwork.com/jobs/~01d1e846444a69ee31
@thesahindia - https://www.upwork.com/jobs/~01766fcad495ba2f4b

Please apply to this job

[2022-05-30 14:36] parasharrajat commented on #8541
Thanks for the proposal. I need to confirm something internally. Will finalize this soon..https://expensify.slack.com/archives/C02NK2DQWUX/p1653921306765089

[2022-05-30 14:59] parasharrajat commented on #9084
https://github.com/Expensify/App/pull/6992 shows that this is expected behavior.  cc: @flodnv @iwiznia

@thesahindia Your proposal is half of the needed solution. We indeed navigate after sendMoney request is completed but it does not navigate to the report that we sent money. So Instead of your solution we need to correct the existing navigation logic (If this change is needed).

[2022-05-30 15:05] parasharrajat commented on #9085
@techievivek No yet. I am waiting on update from @chiragsalian https://github.com/Expensify/App/issues/7185#issuecomment-1127517594.

[2022-05-30 15:27] Santhosh-Sellavel commented on #8122
Thanks @michaelhaxhiu!

[2022-05-30 16:08] marcochavezf commented on #8356
Changing it to `Weekly` priority.

[2022-05-30 16:10] marcochavezf commented on #8356
Hi @Santhosh-Sellavel 👋🏽 what do you think about this [proposal](https://github.com/Expensify/App/issues/8356#issuecomment-1134612500)?

[2022-05-30 16:19] Santhosh-Sellavel commented on #8356
@marcochavezf I missed that one completely.
And as I will be OOO,  just gonna unassign myself from this one and let a new C+ decide on this.

Can you re-apply the exported label here?

[2022-05-30 16:21] thesahindia commented on #8122
Applied ✅

[2022-05-30 16:28] marcochavezf commented on #8356
Sure, no worries, re-applying the `Exported` label to assign a new C+

[2022-05-30 16:40] michaelhaxhiu commented on #8850
Thanks for your patience and work on this job, @kakajann. Just paid you.

Need to pay Tushu & Rajat next.

[2022-05-30 16:52] flodnv commented on #9084
😕 @marcaaron any thoughts on that?

[2022-05-30 17:22] Santhosh-Sellavel commented on #8888
Checking this now, sorry for the delay!

[2022-05-30 17:25] Santhosh-Sellavel commented on #8888
Alright, @jrstanley I believe we are still in the discussion here, any further update on this?

[2022-05-30 17:28] roryabraham commented on #9211
So, maybe we don't need an `authToken` because any authentication error would presumably come back with a 200 status code but a non-200 JSON code, which is fine. But the problem remains that we don't seem to be able to trigger a real `command=Get` request without using a POST request and passing the `returnValueList`, etc... in the request body, and NetInfo isn't configured to use a POST request w

[2022-05-30 17:35] parasharrajat commented on #2727
I will start reviewing this tomorrow daytime IST. Overall the PR looks good to me.
@lbaldy Have you created the issue and PR on RN yet?

[2022-05-30 18:04] mallenexpensify commented on #8115
Hired @Santhosh-Sellavel and @mollfpr for $1000 each, please accept and confirm here then I'll pay tomorrow
https://www.upwork.com/jobs/~017240c85f844e057f

[2022-05-30 18:07] Santhosh-Sellavel commented on #8115
Done,
@mallenexpensify Thanks!

[2022-05-30 18:10] AndrewGable commented on #8888
It's published to `npm` as of Friday: https://www.npmjs.com/package/react-native-onyx

[2022-05-30 18:12] Tushu17 commented on #8850
@michaelhaxhiu Offer accepted, Thanks.

[2022-05-30 18:19] AndrewGable commented on #8888
The most obvious solution that I haven't seen mentioned is merging our changes into the upstream published package. Have we tried that?

[2022-05-30 18:25] kbecciv opened #9223 "Web - Offline - Message displayed for offline user shows code"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into any valid user
3. Disable internet connection
4. Proceed to any chat and type in the chat box

## E

[2022-05-30 18:25] lbaldy commented on #2727
I haven't as per:

Assuming we should merge it first to Expensify fork, test if all works well for 7 days, and then pull it into react native repo.

Please let me know if you see it different, and I will go ahead and fire a request for Facebook.

[2022-05-30 18:25] OSBotify commented on #9223
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-30 18:26] liyamahendra commented on #8731
# Proposal

### Problem

It is a known bug on iOS Mobile Safari, where extra spacing is added to the bottom of the page when the keyboard pops-up.

### Solution

The workaround solution to this bug in mobile safari, is to snap & scroll the page back to the bottom end of the body when the keyboard has finished showing up completely.

Since the **resize** event didn't work on mobile safari, I resolv

[2022-05-30 18:30] luacmartins commented on #9223
I can take this one!

[2022-05-30 18:30] luacmartins commented on #9223
`youAppearToBeOffline` was moved to `common.youAppearToBeOffline`. I put up a PR with a [fix](https://github.com/Expensify/App/pull/9224).

[2022-05-30 18:33] kavimuru opened #9225 "Chat - Incorrect offline message in chat if internet is disabled"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into any valid user
3. Disable internet connection
4. Proceed to any chat and type in the chat box

## E

[2022-05-30 18:34] Santhosh-Sellavel commented on #8731
I see when keyboard is space below composer( ) is reduced than usual size.

How your solution works on android mWeb, iPad & Android tablet mWeb ?

[2022-05-30 18:34] OSBotify commented on #9225
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-30 18:36] kavimuru commented on #9225
Already Kateryna opened issue #9223

[2022-05-30 18:36] #9225 closed

[2022-05-30 18:40] Santhosh-Sellavel commented on #8731
@liyamahendra  We don't accept workarounds, I believe that's the case here too. We are looking for a full fledged solution that's solves the issue and doesn't cause regression on any other platform.

cc: @luacmartins

[2022-05-30 18:41] #6927 closed

[2022-05-30 18:41] #8120 closed

[2022-05-30 18:42] michaelhaxhiu commented on #8850
All paid.

[2022-05-30 18:42] #8850 closed

[2022-05-30 18:43] Santhosh-Sellavel commented on #7968
Waiting for focus issue to be solved.

[2022-05-30 18:44] roryabraham commented on #9211
JK, was able to trigger an auth call with a GET request in Postman:

<img width="874" alt="image" src="https://user-images.githubusercontent.com/47436092/171045739-c57648d2-544c-426f-9d59-d9694a2657ef.png">

[2022-05-30 18:45] parasharrajat commented on #2727
Ok, that works for.

[2022-05-30 18:52] aldo-expensify commented on #8841
Changing this to weekly as I don't see it as a main use case. I haven't been able to put time on it yet.

[2022-05-30 19:08] Santhosh-Sellavel commented on #9089
@marcochavezf Can you review PR on repo expensify-common?

[2022-05-30 19:19] luacmartins commented on #9217
Checking https://github.com/Expensify/App/issues/9225 off since it's a dupe of https://github.com/Expensify/App/issues/9223

[2022-05-30 19:29] stitesExpensify commented on #7470
:wave: Apologies for the delay I was on vacation and then got covid so I've been OOO for a long time 😬

I think that @jayeshmangwani proposal looks good! Happy to move forward with it

[2022-05-30 19:34] stitesExpensify commented on #7835
I agree

I don't think so, but i'll double check with the product team.

@gladiator-1 I noticed in your `cons` you only mentioned needing an external library for web to play youtube videos, is that correct? Or would we have the same problem on mobile?

[2022-05-30 19:41] #9223 closed

[2022-05-30 19:50] luacmartins commented on #8731
I agree with @Santhosh-Sellavel and @jrstanley! @liyamahendra thanks for the proposal, but I believe that your solution is hardcoding values and is not accounting for potential different devices/keyboard types and spaces that are not at the bottom of the screen.

[2022-05-30 19:51] luacmartins commented on #9217
[Fix](https://github.com/Expensify/App/pull/9224) for https://github.com/Expensify/App/issues/9223 merged.

[2022-05-30 19:56] OSBotify commented on #9217
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9224) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.69-2` :rocket:

[2022-05-30 19:56] OSBotify commented on #9217
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.69-2 has been deployed to staging :tada:

[2022-05-30 20:03] roryabraham commented on #6863
Maybe worth doing in concert with https://github.com/Expensify/Expensify/issues/195693, reopening for now. cc @Expensify/mobile-deployers in case anyone wants to work on this. It's a good edge case to be aware of, especially since the fix is sort of high-risk / you have to be careful not to accidentally deploy a bunch of un-QA'd code.

[2022-05-30 20:18] stitesExpensify commented on #8132
On hold, not overdue

[2022-05-30 20:28] stitesExpensify commented on #8131
Just to make sure I'm up to date on this issue @parasharrajat, is @dharmik planning on creating a PR for base RN? Or are we still open for solutions?

[2022-05-30 20:30] parasharrajat commented on #8131
We are still open for new proposals.

[2022-05-30 20:34] luacmartins commented on #8286
Seems like we can remove those after all... @mananjadhav any concerns about the proposal?

[2022-05-30 20:37] stitesExpensify commented on #4547
Still no update. We are now in discussions about doing `emoji-code` though

[2022-05-30 20:38] stitesExpensify commented on #4324
Hi @mananjadhav any update here?

[2022-05-30 20:45] gladiator-1 commented on #7835
No, we can use a third party script inside the react-native web view and play Youtube/Vimeo videos.

[2022-05-30 20:52] stitesExpensify commented on #7835
Okay then, for now let's just stick to the non-library implementation and we can add the required library for web in the future if that becomes a priority!

[2022-05-30 21:19] kbecciv opened #9228 "Workspace - Currency tab appears greyed and blocked momentarily when opening settings"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: User has a workspace
1. Access staging.new.expensify.com
2. Sign into a valid account
3. Tap on "Profile" icon > "Workspace" > "Gener

[2022-05-30 21:28] mollfpr commented on #8115
@mallenexpensify applied!

[2022-05-30 21:48] kavimuru opened #9229 "[HOLD for payment 2022-06-21] [$250] Android - Close account - Email address in default contact method is split in two lines instead of under the text "Default contact method""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login with public domain email
2. Go to Settings > Security > Close account
3. Observe the default contact method section

##

[2022-05-30 21:56] NikkiWines commented on #9228
Based on this PR (https://github.com/Expensify/App/pull/9170) it looks like this behavior is expected. cc: @amyevans

[2022-05-30 22:07] NikkiWines commented on #9092
Hmm, I'm also unable to reproduce this. @mallenexpensify can you try reproducing this again on your account it see if it's still an issue?

[2022-05-30 22:34] adelekennedy commented on #6941
still reviewing proposals - not overdue

[2022-05-30 22:34] adelekennedy commented on #8005
oh hold, not overdue!

[2022-05-30 22:35] adelekennedy commented on #8292
Not overdue - still discussing next steps

[2022-05-30 22:35] kadiealexander commented on #9090
@mananjadhav any thoughts here?

[2022-05-30 22:35] adelekennedy commented on #8927
not overdue

[2022-05-30 22:52] NicMendonca commented on #8665
Thanks @Tushu17 🙌

[2022-05-30 23:11] luacmartins commented on #9217
QA is still ongoing, so no deploy today!

[2022-05-31 00:15] Christinadobrzyn commented on #7185
Not overdue - looks like we're still working on the PR

[2022-05-31 00:50] roryabraham commented on #8252
Going to close this – push notifications go through several severs:

1. Our server
1. UrbanAirship servers
1. Apple/Google servers

With these notifications going through so many different services, they are prone to random delays, sometimes up to about 2 minutes. There's usually nothing we can do about it, so I'm going to close this for now.

[2022-05-31 00:50] #8252 closed

[2022-05-31 02:42] roryabraham commented on #9020
Got a draft PR up, just need to spend a bit more time testing it and working on the PR writeup before it will be ready for review: https://github.com/Expensify/App/pull/9230/files

[2022-05-31 02:49] mvtglobally commented on #9217
@luacmartins Regression is completed.
Deploy Blocker re-test passed. checked off

Issues logged
https://github.com/Expensify/App/issues/9228
https://github.com/Expensify/App/issues/9229

[2022-05-31 02:50] JmillsExpensify commented on #9200
We're actually going to remove this badge in an upcoming release, so I'm inclined to close this issue and do nothing until the badge is removed from the product. cc @trjExpensify what do you think?

[2022-05-31 02:52] JmillsExpensify commented on #8287
Almost through the regression hold. Will circle back here in a couple of days for payment.

[2022-05-31 02:56] JmillsExpensify commented on #8356
Still a bit stalled in terms of aligning on the proposal to move forward with.

[2022-05-31 02:57] JmillsExpensify commented on #8501
Still discussing in the linked issue.

[2022-05-31 02:59] JmillsExpensify commented on #8520
Discussion in the linked PR as of late last week.

[2022-05-31 03:01] JmillsExpensify commented on #8842
Looks like we're awaiting updates in the linked PR.

[2022-05-31 03:07] mvtglobally commented on #8047
Issue not reproducible during KI retests. (Second week)

[2022-05-31 03:08] mvtglobally commented on #8115
Issue not reproducible during KI retests. (First week)

[2022-05-31 03:11] mvtglobally commented on #8420
Issue not reproducible during KI retests. (Second week)

[2022-05-31 03:19] mvtglobally commented on #9121
Issue not reproducible during KI retests. (First week) @Julesssss  Can we close this?

[2022-05-31 03:31] mvtglobally opened #9232 "Chat layout seems broken when app is refocused after minimising on iPad - reported by @aswin-s"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a report with a dozen or more messages in it.
2. Minimise the app
3. Now open the app again and checkout the messages.
4. The chat me

[2022-05-31 03:43] mvtglobally opened #9233 "[HOLD for payment 2022-10-05] [$250] Tapping on receipts@expensify.com email hides the clipboard icon next to it - reported by @aswin-s"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to workspace settings.
2. Tap on reimburse expense menu and tap on [receipts@expensify.com](mailto:receipts@expensify.com) link below Capture

[2022-05-31 03:45] mvtglobally opened #9234 "[HOLD for payment 2022-09-16] [$250] Changing input field on Mobile App closes the keyboard - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open mobile App(Ios/Android)
2. Go to settings > profile
3. Click/touch on First name
4. then touch on Last name

## Expected Result:
It should n

[2022-05-31 03:50] mvtglobally opened #9235 "[$250] Unread message count is doubled on unread message pill - Reported by @aswin-s"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a report
2. Mark few messages unread
3. Change Chat in LHN
4. Go back to the chat with unread messages
5. Scroll up

## Expected Resu

[2022-05-31 04:02] mvtglobally opened #9236 "After scrolling to the old messages and going to LHN when you navigate back the chat stays at old messages and not the most recent ones - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open mobile App/Website
2. Go chat scroll Up
3. Touch on Back arrow
4. Then go to chat again

## Expected Result:
It should refresh and scroll do

[2022-05-31 04:05] mvtglobally opened #9237 "Feature Request: Ability to send multiple images at once - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to any chat
 2. Click the :heavy_plus_sign: button
 3. Click add attachment
 4. The finder will get open now try to select multiple images

#

[2022-05-31 04:08] mvtglobally opened #9238 "[HOLD for payment 2022-08-08] [HOLD for payment 2022-08-01] [$500] At #admins and #announce rooms, users own timezone displayed - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new workspace
2. Search announce and admins room of that workspace
3. Check the timezone above the text composer

## Expected Result:
It

[2022-05-31 04:11] mvtglobally opened #9239 "[Bug] Adding/removing Avatar in Profile and Workspace pages is not behaving the same - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open settings > workspace > general setting
2. Tap on avatar and upload an image
3. Check the image will get saved itself
4. Now go back to setti

[2022-05-31 04:15] mvtglobally opened #9240 "[HOLD for payment 2022-08-11] [$2000] Feature request: Ability to paste text without auto formatting"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
Every formatted text (or code) when pasted in newDot is pasted with 3 back ticks at the start and end regardless of my choice.

## Solution:
Add Command + sh

[2022-05-31 04:18] mvtglobally opened #9241 "User showing in group chat as two identical user profiles on Android"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Fresh login to the app
2. Navigate to the chat group
3. check members of the group

## Expected Result:
Users should display only once

## Actual

[2022-05-31 04:22] mvtglobally opened #9242 "Wrapping Text inside Tooltip or Pressable make the text vertically misaligned on native - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to ReportWelcomText.js file
2. Wrap the Text inside Tooltip or Pressable
https://github.com/Expensify/App/blob/ffe26f9e95753823dbcce9900dc7364

[2022-05-31 04:27] mvtglobally opened #9243 "Feature Request: There is not login link on the Set Password Page - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
There is not login link on the Set Password Page. Let's say user want to login bank with different email.  He has to manually change the url from the browser

[2022-05-31 04:29] mvtglobally opened #9244 "[HOLD for payment 2022-07-15] [$250] Password Field should not Autofill with the old password on the Set Password page - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go the login page.
2. Enter an email. Press Enter.
3. Click forget on the password page.
4. Check the mailbox and Copy the link.
5. open the link

[2022-05-31 04:37] kadiealexander commented on #9236
Checking in about this [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1653971597968589?thread_ts=1651007418.502999&cid=C01GTK53T8Q) as I think it might be the intended behaviour.

[2022-05-31 04:39] mvtglobally opened #9245 "FEATURE REQUEST: Add the link invitation automatically in the 1:1 conversation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
FEATURE REQUEST:
# Problem:
In 1:1 conversations, there is an option to start a call through Zoom or GMeet. However, when you click on GMeet (default tool we use), it ope

[2022-05-31 04:48] mvtglobally opened #9246 "[HOLD for payment 2022-07-15] [$250] Changing workspace image showing green outline - reported by @jayeshmangwani"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. navigate to workspace
2. press workspace image
3. change workspace image
4. navigate back to the settings page

## Expected Result:
There should

[2022-05-31 05:03] mvtglobally opened #9247 "[HOLD for payment 2022-07-25] [$250] At additional details page the error messages aren't correct - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on Fab icon > send money > onfido verification > Additional details page
2. Add alphabet in SSN and phone number field
3. Try to submit the

[2022-05-31 05:12] Christinadobrzyn commented on #9238
I don't see any dupe GHs about this subject and it sounds like we've confirmed it's a new bug in this [convo](https://expensify.slack.com/archives/C01GTK53T8Q/p1651068570981029?thread_ts=1651012796.912239&cid=C01GTK53T8Q). So sending to eng to see if this can be fixed externally!

[2022-05-31 05:18] mvtglobally opened #9248 "[HOLD for payment 2022-06-23] [$250] Unnecessary focus on the Add payment method button - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Settings
2. Go to Payments
3. Click on the Add payment method button
4. Click anywhere on the Payments page

## Expected Result:
There is n

[2022-05-31 05:32] mvtglobally opened #9249 "[HOLD for payment 2022-07-05] [$500] Sending messages while offline causes inconsistent margin on messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. send few messages
3. Go offline
4. Send few messages
5. Go online receive few messages

## Expected Result:
Messages should be a

[2022-05-31 05:41] mvtglobally opened #9250 "[Needs regression test steps] [$1000] When copy pasting message containing email/links, email address/link occupies new line."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Typed a message [a@mail.com](mailto:a@mail.com) is my email. [b@mail.com](mailto:b@mail.com) is someone else's email.
Copied and pasted in the text

[2022-05-31 05:52] mvtglobally opened #9251 "Padding seems off for the latest message with the typing indicator moved to the top"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. check padding below last chat and compose box

## Expected Result:
We should have the metadata above and below the compose box a

[2022-05-31 05:52] mvtglobally commented on #9217
@luacmartins check https://github.com/Expensify/App/issues/9251. Not sure if this should be Deploy Blocker or we are ok to proceed.

[2022-05-31 07:11] Santhosh-Sellavel commented on #8545
@eVoloshchak any update?

[2022-05-31 07:14] eVoloshchak commented on #8545
Sorry for the delay, expect a PR in 28 hours

[2022-05-31 08:05] ahmdshrif commented on #8349
@parasharrajat @Julesssss  i update the [proposal](https://github.com/Expensify/App/issues/8349#issuecomment-1140484993) now
sorry for making it confusing.

[2022-05-31 08:05] aswin-s commented on #7618
If somebody can point me to a discussion in Expensify repo which links these navigation issues to `useLinking` and which explains why it is happening, before I posted [my proposal](https://github.com/Expensify/App/issues/7618#issuecomment-1103004135) (**on 20th April**) I'll happily retract my comment above.  I've been tracking this issue for long and the most difficult part was to figure out why

[2022-05-31 08:16] parasharrajat commented on #7185
Currently waiting for reply from @chiragsalian on the backend changes.

[2022-05-31 09:05] mountiny commented on #9251
I could find that this is related to two PRs recently
- first this: https://github.com/Expensify/App/pull/9095 cc @tgolen was ooo for a while
- then https://github.com/Expensify/App/pull/9206 cc @amyevans

I dont think this needs to be a deploy blocker since it is mainly a small styling problem.

[2022-05-31 09:31] flodnv commented on #9237
Let's be mindful of the priority of this. I would say it's very low. Maybe it's worth a #whatsnext post or something like that.

[2022-05-31 10:41] brianmuks commented on #8361
@thienlnam I am not removing the subtitle you can check the video below or I could be missing something here.
I had this comment below from @Santhosh-Sellavel  when I revisited the solution. The aim has been to restore all chats to their original state as when one initiated the conversation.

Both One to One & group chats are restored to the same state before no messages after deleting the sent me

[2022-05-31 10:45] mdneyazahmad commented on #8286
## Proposal

I totally agree with @aswin-s 's proposal but I thnk we are missing the environment consideration there. Taking a look at the expected result. I think, it should be different for staging and production build. Whatever I am posting here is just a guess and is not tested on my side as @aswin-s stated.

We need to do these things.
1. Create separate target for (dev, staging and prod).
2.

[2022-05-31 10:55] SumitDiyora commented on #9188
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #8860, #9142, #9168
The applicable PR is - #9170
Logged Issues - #8402, #8406

[2022-05-31 11:01] SumitDiyora commented on #9175
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #9155, #9160
The applicable PRs are - #9118, #9132, #9147
Logged Issues - #8575, #8407, #8406, #8402, #8403, #8401, #8557, #8558, #8621, #8434, #8433, #8418, #8546, #8435, #8434, #8651

[2022-05-31 11:06] parasharrajat commented on #9237
This is a duplicate. We already planned this a few months back. There should be an internal issue.

[2022-05-31 11:55] gustavo-3 commented on #7618
@aswin-s I refuse your accusation, [your proposal](https://github.com/Expensify/App/issues/7618#issuecomment-1103004135) is don't go back when `index+n<0` not pushing the missed route into the browser history, and pushing a route into the react navigation stack or into the browser history not a mystery and i got it from [MDN Docs](https://developer.mozilla.org/en-US/docs/Web/API/History/pushState)

[2022-05-31 12:30] thesahindia commented on #9229
### Proposal
We can use `textBreakStrategy` here.
just need to pass `textBreakStrategy="simple"` or "balanced" to `Text`

https://github.com/Expensify/App/blob/db27a3dc4a61c552b8e827819261310592ad7914/src/pages/settings/Security/CloseAccountPage.js#L89

[2022-05-31 12:34] Santhosh-Sellavel commented on #8361
@brianmuks

On this line https://github.com/Expensify/expensify-common/pull/451
@thienlnam has a different requirement for group chat alone. Not to show email at all.

[2022-05-31 12:36] Santhosh-Sellavel commented on #8361
@brianmuks

On this line https://github.com/Expensify/expensify-common/pull/451
@thienlnam has a different requirement for group chat alone. Not to show email at all.

[2022-05-31 12:36] kbecciv opened #9252 "[$4000] Android - Edit message - keyboard is dismissed after selecting an emoji @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action steps:
1. Send a message in any chat in App
2. Long press the message and tap on `Edit message`
3. Tap on the emoji picker
4. Select an emoji and observe the k

[2022-05-31 12:36] brianmuks commented on #8361
Thanks @Santhosh-Sellavel for the clarification 🙏🏾 . Let me work on it.

[2022-05-31 13:09] thesahindia commented on #9233
I couldn't repro this on Android and on ios when I tap on [receipts@expensify.com](mailto:receipts@expensify.com) the app crashes.

https://user-images.githubusercontent.com/83179295/171180930-3f9b18e0-a58b-4e4b-9c5e-1e28a5290266.mov

[2022-05-31 13:12] kbecciv opened #9253 "[HOLD - App Navigation Reboot] [$500] mWeb- Previous chat username is displayed when you navigate back from different chat @Yash Chauhan & @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Open the chat area.
3. Click on any chat, then navigate back to chat area.
4. Click on different chat this tim

[2022-05-31 13:13] kavimuru opened #9254 "[$500] mweb - Send money - Keypad is opened if you minimize the browser while text is highlighted on "Send Money" screen @evoloshchak"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to "Send Money" screen
2. Enter a couple of digits
3. Select (highlight) digits in the input
4. Minimize the browser
5. Launch the brows

[2022-05-31 13:41] Tushu17 commented on #9242
@chiragsalian, do we wanna fix this for pressable as we already handled the case for tooltip?

[2022-05-31 14:24] mdneyazahmad commented on #7915
@laurenreidexpensify waiting review from @tgolen

[2022-05-31 14:48] luacmartins commented on #9217
Thanks @mvtglobally! As discussed in [Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1653988478647549?thread_ts=1653937814.767159&cid=C01GTK53T8Q), I don't think https://github.com/Expensify/App/issues/9251 is a blocker.

[2022-05-31 14:50] mvtglobally commented on #9217
we are good to 🚀  then

[2022-05-31 14:53] thesahindia commented on #9123
### Proposal
We need to remove `styles.emojiItem` it contains width 12.5% and I found that increasing font size or width breaks it in safari.
https://github.com/Expensify/App/blob/db27a3dc4a61c552b8e827819261310592ad7914/src/components/EmojiPicker/EmojiSkinToneList.js#L70

https://user-images.githubusercontent.com/83179295/171201888-20a00776-0a5b-4035-bbc6-5807eb78992e.mov

I couldn't repro the Fi

[2022-05-31 15:00] luacmartins opened #9255 "Investigate error in Str.removeSMSDomain"
# Problem
Coming from our Crashlytics dashboard, [this line](https://github.com/Expensify/App/blob/671dd98de01e3046765c6262c8b726028b9cc07a/src/pages/signin/ChangeExpensifyLoginLink.js#L37) is crashing the app at times. Here's the error log/stack trace:

[code]

# Why is this important
The app shouldn't crash

# Solution
Find how to reproduce the issue and fix it. Most likely it's due to `props.cr

[2022-05-31 15:02] luacmartins commented on #9217
I don't see any significant performance regression nor new crashes introduced in this release. Kicking off the deploy!

[2022-05-31 15:02] luacmartins commented on #9217
:shipit:

[2022-05-31 15:02] #9217 closed

[2022-05-31 15:08] OSBotify opened #9259 "Deploy Checklist: New Expensify 2022-05-31"
**Release Version:** `1.1.70-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/9022
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9171
  - [x] QA
  - [x] Accessibility

**Deployer verifications:**
- [x] I checked the [App Timi

[2022-05-31 15:13] luacmartins commented on #9249
This can be external!

[2022-05-31 15:15] #8122 closed

[2022-05-31 15:23] stephanieelliott commented on #7081
@mananjadhav **are you still working on this?**

 It's been quite some time since we've seen progress on this,
can you please share an update?

[2022-05-31 15:25] neil-marcellini commented on #8942
PR is under review now.

[2022-05-31 15:46] kevinksullivan commented on #8101
@ahmdshrif hired for reporting. Once you accept let me know and I will finish payment.

[2022-05-31 15:47] kevinksullivan commented on #8469
Thanks @mallenexpensify , sorry about the delay, was OOO.

[2022-05-31 15:48] kevinksullivan commented on #8645
All set thanks for your patience @parasharrajat .

[2022-05-31 15:48] #8645 closed

[2022-05-31 15:57] ahmdshrif commented on #8101
@kevinksullivan thanks i accept.

[2022-05-31 16:24] kevinksullivan commented on #7968
Sorry for the delay @Santhosh-Sellavel I was OOO. Going to remove `Daily` for now and update the title until we get the other issue open. @Santhosh-Sellavel can you link the relevant issue we are waiting on for reference?

[2022-05-31 16:31] kevinksullivan commented on #9234
@Tushu17 hired for reporting.

[2022-05-31 16:40] Santhosh-Sellavel commented on #8935
I am not able to reproduce it even now.

https://user-images.githubusercontent.com/85645967/171227791-7d597602-407c-4637-b7a5-69e3d278d617.mov

[2022-05-31 16:41] amyevans commented on #9228
Yes, it's expected (discussion [here](https://github.com/Expensify/App/pull/9170#discussion_r882188941)).

[2022-05-31 16:42] #9228 closed

[2022-05-31 16:45] adeel0202 commented on #8935
@Santhosh-Sellavel, try it on safari.

[2022-05-31 16:46] mallenexpensify commented on #7497
Paid @parasharrajat $4k for C+ on a different job than @orkunkarakus (in case anyone is auditing later on).
Closing, thanks for the help!

[2022-05-31 16:46] #7497 closed

[2022-05-31 16:53] Santhosh-Sellavel commented on #8935
Thanks @adeel0202 !

[2022-05-31 16:57] Santhosh-Sellavel commented on #8935
Also, it's better to report these cases peculiar to the specific browser by mentioning them in the issue title. Somehow I missed that here. I am just focused on Web/Desktop here.

[2022-05-31 17:17] chiragsalian commented on #9124
Proposal LGTM as well. I like the HOC. Feel free to create the PR @mollfpr. As for your questions, we can discuss in the PR as well since it might be easier to tag code.
@jliexpensify, feel free to hire @mollfpr for his work.

[2022-05-31 17:22] mallenexpensify commented on #8607
I _think_ I hired everyone for $250/each.  @brianmuks for reporting, @jrstanley for the fix and @Santhosh-Sellavel for C+.  Please accept and comment here and I'll pay https://www.upwork.com/jobs/~01f22cfe72354f6d86

[2022-05-31 17:25] mallenexpensify commented on #9091
Happened again this morn. Version 1.1.69-2 (1.1.69-2) then showed there was another update available to Version 1.1.70-1 (1.1.70-1)

[2022-05-31 17:27] parasharrajat commented on #8292
Asked about it here https://expensify.slack.com/archives/C02NK2DQWUX/p1654017861456809

[2022-05-31 17:29] mallenexpensify commented on #8935
Technically.. yes but since `Safari` wasn't reported in the issue (although the screen capture shows Safari), it's understandable that checking all browsers got missed.  Reopening.

[2022-05-31 17:31] mallenexpensify commented on #8846
@mananjadhav can you please review @dharmik 's proposal above?
https://github.com/Expensify/App/issues/8846#issuecomment-1139662273

[2022-05-31 17:31] parasharrajat commented on #9123
What a strange issue! @thesahindia Did you run some research on this?

[2022-05-31 17:33] mallenexpensify commented on #6927
@kidroca you were able to reduce the desktop size some, right? Can you provide a quick update for _auditing_ purposes (or... let me know if you think it should be reopened)

[2022-05-31 17:33] roryabraham commented on #4629
This is on hold for an issue that's not being actively worked on.... https://github.com/Expensify/App/issues/6527

[2022-05-31 17:38] mallenexpensify commented on #2727
Good plan!

[2022-05-31 17:42] Santhosh-Sellavel commented on #7968
@kevinksullivan Issue not logged in GH Yet. But I reported in https://github.com/Expensify/App/pull/9093#issuecomment-1137558114

@Justicea83 is checking this one.

[2022-05-31 17:44] Santhosh-Sellavel commented on #7968
@Justicea83 Let's us once the issue is resolved thanks!

[2022-05-31 17:45] Santhosh-Sellavel commented on #8607
Accepted @mallenexpensify!

[2022-05-31 17:52] parasharrajat commented on #8592
We never give consider `setTimeout` hacks as solutions. But this can be used as last resort.

What is the effect of this change on all platforms? What will be your plan for all the platforms?

[2022-05-31 18:04] TomatoToaster commented on #8644
Got a PR for this one, should be in review soon.

[2022-05-31 18:10] thesahindia commented on #9123
Just found that it is only happening with `Text` as it has styling `white-space: pre-wrap` and if we change that to `white-space: nowrap` then increasing font size or width won't break it.

[2022-05-31 18:13] parasharrajat commented on #8592
Yeah, Focus should be remained on the composer after submit. That's what is the main motive.

[2022-05-31 18:14] parasharrajat commented on #9123
Let's try to get to the roots of other mentioned issue in OP.

[2022-05-31 18:33] thienlnam commented on #9238
Yeah, good point @Puneet-here it depends on what we expect would happen here.  Since a workspace is basically a group chat, I imagine it should function in the same way in that we don't show the timezone.

However, it doesn't seem like your proposal would work.  The workspace rooms are considered a default room and would return true for isChatRoom(report)

[2022-05-31 18:45] mallenexpensify commented on #7014
Paid @adeel0202 $250 for reporting because this issue was moved internal, has been worked on and it's been 5 months since it was reported 🤯

[2022-05-31 18:51] adeel0202 commented on #7014
Thanks @mallenexpensify 😄

[2022-05-31 18:56] #9092 closed

[2022-05-31 18:58] Beamanator commented on #8362
Next PR still under review

[2022-05-31 19:03] Santhosh-Sellavel commented on #9121
Melvin went mad I think!

[2022-05-31 19:03] AndrewGable commented on #8791
Double please!

[2022-05-31 19:03] mallenexpensify commented on #8115
@Santhosh-Sellavel and @mollfpr paid $1k/each (note to self.. @mollfpr 's contract was set as milestone (likely by mistake by me) in case it looks different)

[2022-05-31 19:03] #8115 closed

[2022-05-31 19:03] Santhosh-Sellavel commented on #9121
By the way, I think we are good to close this now!

[2022-05-31 19:13] michaelhaxhiu commented on #8131
@stitesExpensify @parasharrajat should we continue to double the price of this job until we get a winning proposal (i.e. a `react-native` repo fix)?

[2022-05-31 20:26] JmillsExpensify commented on #7081
Perhaps let's re-assign C+? It's possible he's out, let's keep it moving forward.

[2022-05-31 20:27] mallenexpensify commented on #9245
I don't think this is possible, addressed in thread https://expensify.slack.com/archives/C01GTK53T8Q/p1654028669274649?thread_ts=1651248273.080599&cid=C01GTK53T8Q

[2022-05-31 20:27] thienlnam commented on #9238
The type of room in the issue is an POLICY_ANNOUNCE room.  This is considered a default room and will pass the check https://github.com/Expensify/App/blob/3e52b9a549add24c84670fd7db46836db5a8025b/src/libs/ReportUtils.js#L116-L128

Which returns true in isChatRoom
https://github.com/Expensify/App/blob/3e52b9a549add24c84670fd7db46836db5a8025b/src/libs/ReportUtils.js#L165-L168

This probably happens

[2022-05-31 20:28] kbecciv opened #9263 "Android - Preferences - Option to enable staging server is missing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Go to Setting > Preferences

## Expected Result:
Test preferences section to enable secure staging server toggle appe

[2022-05-31 20:29] mallenexpensify commented on #9249
@tgolen , before posting a job, can you confirm that this offline-related issue is OK to work on while we're doing other offline work?

[2022-05-31 20:30] mananjadhav commented on #7081
Hey,
Sorry for the delay. I'll post an update tomorrow. I was out sick (post a status on slack). I didn't get a notification for this one.  Sorry about this.

[2022-05-31 20:35] iwiznia commented on #9200
Yeah, I agree. No sense in fixing something we will be removing shortly

[2022-05-31 20:36] mvtglobally commented on #9263
@johnmlee101 This issue seems to intro in build 1.1.68-x

[2022-05-31 20:49] #9121 closed

[2022-05-31 20:51] arosiclair commented on #7014
I'm pretty confident about it. We have functionality on the frontend that expects IOU report actions to be ordered in a certain way.

[I added this to the RCA spreadsheet and began drafting the doc here.](https://docs.google.com/document/d/1H4BQHtFI9wvTRn8jTzmb8Z5I8U1AeYmz0EI3GyP-hd0/edit?usp=sharing)

I agree that this should be unit testable and I can create a PR to fix this issue and add test f

[2022-05-31 20:52] mallenexpensify commented on #8791
Doubled price to $500
https://www.upwork.com/jobs/~01212954502386b607

[2022-05-31 20:52] kavimuru opened #9264 "Android - Signup - App crashes when creating a new account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Enter any email address which does not have expensify account
3. Tap continue

## Expected Result:
User is taken to magic link sent s

[2022-05-31 21:27] iwiznia commented on #9084
Oh damn, when I looked at it I thought the same thing, but then for some reason thought the request was showing in the chat you had selected. I now realize that request was already there. I agree to close this out as this is not a bug.

[2022-05-31 21:37] mallenexpensify commented on #7909
Can someone help me understand this a lil better?
May 9th - PR deployed to Staging - [link](https://github.com/Expensify/App/pull/8769#issuecomment-1121521922)
May 11th - @mateusbra [posts sorry for regression](https://github.com/Expensify/App/issues/7909#issuecomment-1124359929).
May 13th - PR deployed to production - [link](https://github.com/Expensify/App/pull/8769#issuecomment-1126224000)

The

[2022-05-31 21:46] rushatgabhane commented on #9264
@neil-marcellini the bug is reproducible on a physical Android device.

1.1.70-1, Pixel 6, Android 12
https://user-images.githubusercontent.com/29673073/171289609-26b86e98-a3c2-42e4-83d7-0b7dd1a7c8bb.mp4

[2022-05-31 21:48] neil-marcellini commented on #9264
Cool, thanks @rushatgabhane. I think this should probably be internal since it might have to do with our API. I'll send it to the demolition team. I would take it myself if I had an android.

[2022-05-31 21:49] thienlnam commented on #7909
Yes, the regression was found on staging and I released a CP PR that reverted it and therefore it never got to production

[2022-05-31 22:02] rushatgabhane commented on #7909
Please correct me if I'm wrong, the [offending PR](https://github.com/Expensify/App/pull/8769) was in production for 3 days.

Here’s what makes me believe that - the [revert PR](https://github.com/Expensify/App/pull/8952) and the [offending PR](https://github.com/Expensify/App/pull/8769) were deployed to production in different versions.

- Offending PR deployed to production in v1.1.57-17 ([gh](h

[2022-05-31 22:13] mvtglobally commented on #9264
@neil-marcellini. full video

https://user-images.githubusercontent.com/43995119/171292880-05af2867-4737-4c2e-bda1-b1a43d44266b.mp4

[2022-05-31 22:13] mallenexpensify commented on #7909
@rushatgabhane, for "Offending PR deployed to production in v1.1.57-17"  I'm seeing May 13 as the date and @mateusbra commented on May 11th "sorry for regression", so I'm still confused.
<img width="671" alt="image" src="https://user-images.githubusercontent.com/22508304/171292816-62259921-cfc0-47e4-8608-36f869822639.png">

[2022-05-31 22:21] rushatgabhane commented on #7909
@mallenexpensify ahhh I think you might have forgotten about staging. Here's the timeline for staging -

9 May, offending PR is live on **staging** ([gh](https://github.com/Expensify/App/pull/8769#issuecomment-1121521922))
10 May, regression detected by Applause in **staging** ([gh](https://github.com/Expensify/App/issues/8923))
11 May, "sorry for regression" comment

[2022-05-31 22:30] neil-marcellini commented on #9264
I'm wondering if the error I'm seeing [here](https://github.com/Expensify/App/pull/8855#issuecomment-1142696925) is related?

[2022-05-31 22:41] marcaaron commented on #9264
I think I know the cause. Can someone please check to see if this exists on my branch here -> https://github.com/Expensify/App/pull/9060

[2022-05-31 22:43] mvtglobally commented on #9259
@luacmartins Regression is completed.

Issues logged
https://github.com/Expensify/App/issues/9264
https://github.com/Expensify/App/issues/9263 - repro in PROD, but blocking VBA setup on Android only. Most likely not related to this build.

[2022-05-31 22:45] luacmartins commented on #9249
Tim is ooo until next week. My two cents: this seems to be a purely UI related issue and should not interfere with any of the API and Offline refactors we are currently doing, so I think we can go ahead with it. I'm happy to wait for Tim's opinion or be proven wrong though.

[2022-05-31 22:46] rushatgabhane commented on #9264
@marcaaron #9060  didn't fix it

![Screenshot_20220601-014500](https://user-images.githubusercontent.com/29673073/171296162-71684198-0f34-440f-8d63-95d1a58eb741.png)

[2022-05-31 22:49] rushatgabhane commented on #9264
@neil-marcellini yep, looks like it.

[2022-05-31 23:10] thienlnam commented on #7909
Oh yes that's correct - I didn't look at the dates and forgot about the hold we had on CPs

[2022-05-31 23:39] chiragsalian commented on #8590
Sure yes any future work can be a separate job. We can open up a follow up issue to discuss improvements if others feel strongly too.
I dont think its about addressing multi-user case. I imagine a user receiving the image will see a black loading gif and thats understandable since they need to download the image. I feel like the use case of the person uploading the image can have a smoother experi

[2022-05-31 23:54] thienlnam commented on #8126
Any update here @parasharrajat regarding info from the react-navigation repo?

[2022-06-01 00:08] mallenexpensify commented on #9249
Thanks @luacmartins , my intention wasn't to second-guess your adding of the `External` label, I know we've been particular with offline-related issues.  Moving along!
https://www.upwork.com/jobs/~016e0f7862d665f075

[2022-06-01 00:13] roryabraham commented on #7648
@rushatgabhane has been a 🦸 reviewer on this massive PR. Let's bump his compensation for this issue up [from $500](https://github.com/Expensify/App/issues/7648#issuecomment-1104140533) to $1000 (assuming no regressions).

[2022-06-01 00:40] kadiealexander commented on #8286
@mananjadhav could you please take a look at the above suggestions?

[2022-06-01 00:50] mallenexpensify commented on #7909
So... we had knowledge of the regression and an opportunity to NOT deploy it to production but decided against it? (cuz of the earnings call).  If so, I don't think you should be penalized since it was Expensify's decision to deploy the PR to production.

@thienlnam , what do you think?

[2022-06-01 00:59] mallenexpensify commented on #7860
Holding on https://github.com/Expensify/App/issues/7925
Adding link to sync the issues

[2022-06-01 01:03] mallenexpensify commented on #7925
https://github.com/Expensify/App/issues/7860 is being held on this.

[2022-06-01 01:12] mallenexpensify commented on #7962
Does it make sense to to create a fork in E/App that we can show that the PR works to hopefully get it merged in `react-native-pdf`?

[2022-06-01 01:14] thienlnam commented on #7909
This was my bad - I should have added the deploy blocker label to the issue.  I created a PR the same day and assumed it would just be merged / CPed in with the rest of the staging changes but it didn't happen immediately which allowed it to get deployed to production.

If we're only docking regressions that make it to production then we caught this one and it should have been deployed before prod

[2022-06-01 01:55] mvtglobally opened #9265 "Clicking on the + button inside the comment compose view can take a while to open the menu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Click on "+" to open the menu
3. Copy test with URL in between
4. Paste the copied text to the chat

## Expected Result:
Menu sh

[2022-06-01 03:55] techievivek commented on #9085
Not overdue.

[2022-06-01 03:55] techievivek commented on #9181
Will be looking at it today. Thanks

[2022-06-01 04:23] conorpendergrast commented on #9237
Yep, found the internal issue here - https://github.com/Expensify/Expensify/issues/167375. We're anticipating doing it at some point, but not yet! I'll close this one for now as a result

[2022-06-01 04:23] #9237 closed

[2022-06-01 04:55] conorpendergrast commented on #9244
It looks like there's [this](https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion) `autocomplete="new-password"` we could add to the password field when they're setting a new password. Seems like that would be helpful!

[2022-06-01 06:29] Puneet-here commented on #9238
Yes and that's why if we use `!isChatRoom(report)` (notice the exclamation mark) it will return false for rooms.

[2022-06-01 06:43] aswin-s commented on #9235
**Reason**

Unread message count (`messageCounterCount`) is updated every time user the counter is made visible on this line

https://github.com/Expensify/App/blob/29f07d2d60f0786e698adfa19f495399ad1377f4/src/pages/home/report/ReportActionsView.js#L315-L320

And it gets reset to `0` when the counter is hidden

https://github.com/Expensify/App/blob/29f07d2d60f0786e698adfa19f495399ad1377f4/src/pages

[2022-06-01 09:16] Luke9389 opened #9268 "Fix Styling on FullPageOfflineBlockingView"
@shawnborton

We created the `<FullPageOfflineBlockingView` last Friday in a hurry to unblock other N07 PRs and initiatives. There are some styling problems that @shawnborton brought up on that PR that need to be fixed.

[2022-06-01 09:17] Luke9389 commented on #9268
Sorry about the noise @zanyrenney, I'm gonna do this one myself.

[2022-06-01 09:22] #8644 closed

[2022-06-01 09:50] mountiny commented on #9251
Making this weekly for now, we need to find some consensus on what would be the best way to render these.

[2022-06-01 10:35] flodnv commented on #9084
Agree

[2022-06-01 12:01] NicMendonca commented on #9183
Opps, sorry for missing this!

Upwork job post: https://www.upwork.com/jobs/~01e452c0b62be21308

[2022-06-01 14:16] #9059 closed

[2022-06-01 14:16] kavimuru opened #9270 "[$250] Web - Workspace - invite button at the invite new members page does not prevent a user from multiple button press @jayeshmangwani"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to workspace
2. Go to manage members > Invite
3. Select user/s and press the invite button twice
4. It's adding a user 2 times and shows

[2022-06-01 14:19] Julesssss commented on #9250
Reproduced, this should be fixed.

[2022-06-01 15:16] #9265 closed

[2022-06-01 15:33] mallenexpensify commented on #6941
@parasharrajat can you provide a brief explanation why @liyamahendra 's [proposal ](https://github.com/Expensify/App/issues/6941#issuecomment-1140307513)is 👎 ?

[2022-06-01 15:45] mountiny commented on #9251
Asked in Slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1654097698880649?thread_ts=1653937814.767159&cid=C01GTK53T8Q), giving it some time.

[2022-06-01 15:51] mountiny commented on #8665
Chiming in as I have been oo and I have an emptier plate and Tim is ooo this week.

[2022-06-01 16:03] #9259 closed

[2022-06-01 16:05] luacmartins commented on #9264
Ah this seems like this issue that I created this week - https://github.com/Expensify/App/issues/9255. It's been happening for a while now. I'm gonna close that issue in favor of this one.

[2022-06-01 16:06] #9255 closed

[2022-06-01 16:08] mallenexpensify commented on #7648
Whoohoo!! Thanks for the help @rushatgabhane !    Y'all might have to let me know when to issue payment, if the title doesn't get auto-updated with the date

[2022-06-01 16:25] mallenexpensify commented on #6927
@kidroca were we able to reduce the size at all?   Are the After #s where we're currently at or where we _could_ be?

[2022-06-01 16:26] Santhosh-Sellavel commented on #8935
@pecanoro or  @jliexpensify
 We're still looking for a proposal here. As I'm going on OOO unassigning this one. Can anyone re-apply `Exported` label again here, thanks?

[2022-06-01 16:28] OSBotify opened #9275 "Deploy Checklist: New Expensify 2022-06-01"
**Release Version:** `1.1.71-3`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8877
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/8878
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9203
  - [x] QA

[2022-06-01 16:31] mallenexpensify commented on #8849
@chiragsalian @mananjadhav any reason this shouldn't be doubled? Looks like it should but want to double check since I'm new here

[2022-06-01 16:35] Santhosh-Sellavel commented on #9122
@michaelhaxhiu @marcaaron
We're still looking for a proposal here. As I'm going on OOO unassigning this one. Can anyone re-apply Exported label again here? thanks!

[2022-06-01 16:36] mallenexpensify commented on #7644
@ahmdshrif has been paid (by Jeremy), is there a reason he wasn't assigned to this issue?
@rushatgabhane I hired you, let me know when you've accepted and we'll pay.
https://www.upwork.com/jobs/~01b9b2c4c22ea68332

[2022-06-01 16:40] rushatgabhane commented on #7644
proly a small boo boo https://github.com/Expensify/App/issues/7644#issuecomment-1079277063

@mallenexpensify accepted, thank you!

[2022-06-01 16:42] mallenexpensify commented on #7855
@parasharrajat can you provide an update? Looks like the last one was 16 days ago
https://github.com/Expensify/App/pull/8881#issuecomment-1127879173

[2022-06-01 16:42] mallenexpensify commented on #8710
@sketchydroide is working on

[2022-06-01 16:43] Santhosh-Sellavel commented on #8888
@AndrewGable
I'm going on OOO. But I still keeping this assigned to me. If there are any immediate C+ duties needed here feel free to unassign me & re-apply exported label thanks!

[2022-06-01 16:45] mallenexpensify commented on #7121
@parasharrajat , can you reply to this comment in the PR plz
https://github.com/Expensify/App/pull/8342#issuecomment-1142618392

[2022-06-01 16:50] Santhosh-Sellavel commented on #8287
Lol, We didn’t assign this to @Puneet-here.
@JmillsExpensify
Please assign it to them before closing this out.
So far no regressions. Payment is due tomorrow.

[2022-06-01 16:51] Santhosh-Sellavel commented on #8731
@luacmartins
I'm going on OOO. But I still keeping this assigned to me. If there are any immediate C+ duties needed here feel free to unassign me & re-apply exported label thanks!

[2022-06-01 16:52] Santhosh-Sellavel commented on #8791
I'm going on OOO. But I still keeping this assigned to me. If there are any immediate C+ duties needed here feel free to unassign me & re-apply exported label thanks!

[2022-06-01 16:56] Santhosh-Sellavel commented on #6154
I'm going on OOO on now. Let's assign it back to @rushatgabhane if that's okay with them!
As of now, we are waiting for proposal updates/ a new proposal thanks!

[2022-06-01 17:04] Santhosh-Sellavel commented on #7968
@kevinksullivan
 I'm going on OOO. But I still keeping this assigned to me.

Once the issue mentioned here is solved https://github.com/Expensify/App/issues/7968#issuecomment-1142427549
I feel we need to revisit this issue and rewrite the problem clearly and look for a solution freshly. So I request to you add a Hold to the title here until I am back if you think otherwise feel free to unassign me

[2022-06-01 17:15] thienlnam commented on #9238
We don't want to disable it for all rooms.. just in group rooms

[2022-06-01 17:22] aswin-s commented on #8286
Since both staging and prod app are sharing the same backend, credentials doesn't differ across environment right now. If we need separate credentials and for each environment then entitlements file needs to be modified at build time to include staging domain for staging build and prod domains for prod build. There are Fastlane plugins which supports this during build time and works even on CI env

[2022-06-01 17:26] Santhosh-Sellavel commented on #7541
@pecanoro
I'm going on OOO. But I would still like to hold on to this issue as I believe I would be back before this PR gets merged (I might be wrong here). Considering the Impact of this issue on the App, I think it's okay to add one more C+ here to this issue. If you think otherwise feel free to unassign me on this one & re-apply `Exported` label here, thanks!

cc: @MitchExpensify

[2022-06-01 17:47] marcochavezf commented on #9089
Thanks @sobitneupane @Santhosh-Sellavel! Now we'll need a PR to update `expensify-commons` in the [package.json](https://github.com/Expensify/App/blob/c41a782c8628a1f30e102186494a685df9165ef1/package.json#L65) with the latest commit hash 😀

[2022-06-01 17:54] Santhosh-Sellavel commented on #9089
@marcochavezf

Status on the issue:
The issue is almost fixed waiting for the final PR.
Mostly C+ duties are done, here.

If a PR is submitted before I sign off I'll check that too.

I'm going on OOO, moving forward If there is anything major that needs C+ attention, feel free to un-assign me and add a new C+ here, thanks!

cc: @kevinksullivan

[2022-06-01 18:04] Santhosh-Sellavel commented on #8545
@thienlnam
I'm going OOO, I request to add a hold on this issue until I am back.
The proposal is approved, and waiting for PR from @eVoloshchak.

[2022-06-01 18:14] Santhosh-Sellavel commented on #8520
@JmillsExpensify

Status:
Remove the hold label here, PR got merged today. It's live on staging now.

Known issue:  -> https://github.com/Expensify/App/pull/8878#issuecomment-1118005306
This should not be treated as regression.

Mostly like we should straight away create a new issue in GH for the above and look for

I'm going OOO, So I believe mostly my job is done here. If there are any new break

[2022-06-01 18:16] Santhosh-Sellavel commented on #8715
PR got merged today, it's already on staging.

I'm going OOO, If there are any new breakages/regression while I am away, feel free to un-assign me and add a new C+ here thanks!

cc: @roryabraham

[2022-06-01 18:20] Santhosh-Sellavel commented on #8595
Not overdue, PR review in progress almost complete.

[2022-06-01 18:24] Santhosh-Sellavel commented on #7917
Just waiting for an update from @mdneyazahmad regarding issue fixes for this audit.

Also, checkbox PR is currently in review

[2022-06-01 18:39] parasharrajat commented on #7185
I think we have to fix the code for point 2 on https://github.com/Expensify/App/issues/7185#issuecomment-1127516268.

`account.alreadyExists` is not true for half added bank accounts and try to re-add then gives the duplicate error.

[2022-06-01 18:51] jboniface commented on #8846
@mallenexpensify did this switch to daily on purpose? saw this with another issue too

[2022-06-01 18:55] jboniface commented on #9235
https://www.upwork.com/jobs/~01079a845d0958e78c

[2022-06-01 18:55] stitesExpensify commented on #4324
@srikarparsi test

[2022-06-01 19:01] Santhosh-Sellavel commented on #9235
@jboniface

As I'm going OOO, I am unassing this new one. Can you re-apply Exported Label, thanks!

[2022-06-01 19:06] Julesssss commented on #9088
We're holding on [this](https://github.com/Expensify/App/pull/7702) PR.

[2022-06-01 19:09] robertjchen commented on #8420
Returning this to the pool as I can't get to it in a timely manner. Sorry! Hopefully it was just a fluke and is no longer an issue moving forward 👍

[2022-06-01 19:20] luacmartins opened #9277 "Desktop deploy failing on notarization step"
# Problem
Coming from this [thread](https://expensify.slack.com/archives/C03V9A4TB/p1654107319085019), the Desktop deploy is failing on notarization step - see [this workflow failure](https://github.com/Expensify/App/runs/6695706323?check_suite_focus=true). This is most likely happening because we enabled 2FA for [ios@expensify.com](mailto:ios@expensify.com). Logs below:

[code]

# Why is this imp

[2022-06-01 19:26] parasharrajat commented on #7855
My last PR does not seem the best solution to the issue. So I would have to dig in more to find a better one. Currently I don't have any ideas. I will try out a few discussed things on weekend and update here the next step.

[2022-06-01 19:29] Santhosh-Sellavel commented on #9122
Help Wanted label is removed add that back!

[2022-06-01 19:30] roryabraham commented on #8612
Unclear what the status is here – the solution we were working on is definitely a "hack", but it a similar "hack" (for the wheel event) was merged in the upstream. That said, it sounded like it was unlikely that this particular hack would ever be merged in the upstream.

So I guess my take is that we have three choices:

1. Wait for updates and reviews on https://github.com/necolas/react-native-we

[2022-06-01 19:30] parasharrajat commented on #6941
It's a duplicate proposal.

[2022-06-01 19:32] michaelhaxhiu commented on #8715
@Santhosh-Sellavel want to apply for the job before you go OOO? https://www.upwork.com/jobs/~019f02e58e1d9ac630

[2022-06-01 19:40] parasharrajat commented on #8612
PR was last updated on Oct 2021. I guess it was created for one of our issues and never completed. I doubt that it would be completed in near future. I will go with option 2 as we are already controlling the scroll via code so adding these listeners should be fine too.

[2022-06-01 19:42] Santhosh-Sellavel commented on #8595
Status:
PR is almost 70-80 % complete. https://github.com/Expensify/App/pull/9141
We have one question from @shawnborton

@kadiealexander
@tgolen is already OOO and will be back on June 6.

I am going OOO, so I request a new C+ assignment for this one. If @parasharrajat is available let's assign them as C+ , because he has more context to this. If not then just re-apply `Exported` label here.

I b

[2022-06-01 19:45] Puneet-here commented on #9238
Oh I thought we wanna disable it for user created rooms too, if we only wanna disable it for default rooms we can use `!isDefaultRoom(report)` instead of `!isChatRoom(report)`.

This problem will stay in user created chat rooms so if we wanna show the timezone when a second member is inside the room we can also use my second approach together with `!isDefaultRoom(report)` check

For this case we c

[2022-06-01 19:50] Puneet-here commented on #9238
Just for the clarification:
1. We want to disable it for announce/admins/domain rooms (which all are group rooms)
2. We wanna show timezone in user created rooms if there's an another person except you.

Question:- Isn't user created room also a group room because all the workspace members will be in user created rooms?

[2022-06-01 20:14] parasharrajat commented on #7962
What do you think @roryabraham?

[2022-06-01 20:23] sakluger commented on #9232
I can test this tomorrow using my iPad since I'm wfh tomorrow.

[2022-06-01 20:24] marcochavezf commented on #8311
Not overdue, waiting for proposals.

[2022-06-01 20:24] AndrewGable commented on #9277
Proposed fix:
1. Update to `electron-notarize` to at least version `1.1.0` to get the new XCode 13 notarize tool
2. Point the new notarize tool to our iOS fastlane JSON key

[2022-06-01 20:35] sakluger commented on #9242
I can't reproduce this by starting a new group chat on mobile:

![image](https://user-images.githubusercontent.com/5997400/171496642-62ecc1ee-6b3e-4d10-adcd-3d58db46ca88.png)

@mvtglobally when would this scenario happen in real life?

[2022-06-01 20:53] marcaaron commented on #8612
Yeah, I'm going to disagree with this kind of thinking and say that it is especially dangerous when it comes to lower priority issues.

We should practice zero tolerance unless the feature is something highly valuable. It doesn't matter what exists in the code now or if this is "similar" to some bad practice we left in the code while we were putting the MVP together. What we have might be already

[2022-06-01 20:58] kavimuru opened #9280 "Android - Attachment - Header of the attachment overlaps with device panel in the preview of the attachment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to NewDot with any account
2. Go to a chat or create one if needed
3. Hit the "+" button at the bottom left of the chat input, then select

[2022-06-01 21:04] kavimuru opened #9281 "Android - Concierge - Blank error message badge appears when tapping "Call me" button in request call modal"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to NewDot with any account
2. Find the Concierge chat
3. Tap the phone icon
4. Tap Call

## Expected Result:
The badge displayed with erro

[2022-06-01 21:19] parasharrajat commented on #8612
Thanks for the explanation. I agree with your point of view now. This is not a kind of urgent issues. We should not put more hacks over hacks.

[2022-06-01 21:21] kidroca commented on #6927
Sorry for the confusion. The size is considerably reduced - "after" is the result of this ticket and the current size of the desktop app

[2022-06-01 21:22] mananjadhav commented on #7470
@stitesExpensify Adding a proper confirmation, we're going ahead with @jayeshmangwani's proposal.

🎀 👀 🎀
C+ reviewed

[2022-06-01 21:22] mananjadhav commented on #7835
@stitesExpensify Adding a comment for a proper confirmation. That we're going ahead with @gladiator-1's proposal.

🎀 👀 🎀
C+ reviewed

[2022-06-01 21:31] kavimuru opened #9282 "Chat - Group chat - Large spacing between last message and compose box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in any account
2. Open group chat
3. Click in compos box

## Expected Result:
Distance between the last message and compose box should be uni

[2022-06-01 21:35] mananjadhav commented on #8846
@dharmik Sorry for the delay here. I went through your proposal and it looks good, except that we don't allow `if(platform === 'ios')` checks in our code. If it existed before, then when changing a piece of the code, we refactor those pieces too. [We keep the platform-specific changes in their own files](https://github.com/Expensify/App/#platform-specific-file-extensions). Could you refactor your

[2022-06-01 21:46] stitesExpensify commented on #7835
Yep, moving ahead with @gladiator-1's proposal!

[2022-06-01 21:49] luacmartins commented on #9280
Maybe related https://github.com/Expensify/App/pull/9210/files

[2022-06-01 21:50] kavimuru opened #9283 "Settings - Payment options are overlapping with Add Payment Method under Settings"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Log in to NewDot with any account
2. Go Setting - Payments
3. Tap on the middle "Add Payment Method"

## Expected Result:
Payment options are no

[2022-06-01 21:51] alex-mechler commented on #9280
Confirmed https://github.com/Expensify/App/pull/9210 is the PR that caused this, reverted it locally and the header was correct

@Tushu17 @mountiny

[2022-06-01 22:08] roryabraham commented on #8612
Sure, I'm fine with saying we aren't going to move forward with the "hack". I gave the 🟢 for it, so I think we should pay @b1tjoy for their time.

As for the way forward, there seems to be consensus that this isn't very important. While we _could_ create a bounty and try to get a better fix merged upstream, maybe we should just pick our battles and close this?

[2022-06-01 22:53] roryabraham commented on #7962
Let's give the maintainer of react-native-pdf a bit more time. Next week if there's still no movement in the upstream PR we can create an Expensify fork per the process we're refining in [this doc](https://docs.google.com/document/d/1BA9A1ZouVgUlR6mTGRYSPOqsgFks5-ErHmPjw64AL-U/edit).

Sound good?

[2022-06-01 23:02] allroundexperts commented on #9249
Couldn't reproduce this @luacmartins. Can you please confirm again?

[2022-06-01 23:03] OSBotify commented on #9275
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9284) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.70-3` :rocket:

[2022-06-01 23:03] OSBotify commented on #9275
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.70-3 has been deployed to staging :tada:

[2022-06-01 23:06] stitesExpensify commented on #8956
On hold, not overdue

[2022-06-01 23:06] stitesExpensify commented on #8307
On hold (and not reproducible), not overdue

[2022-06-01 23:16] luacmartins commented on #9249
I couldn't reproduce it anymore either. @mvtglobally can you confirm if this is still reproducible?

[2022-06-01 23:50] arielgreen commented on #8461
Paid.

[2022-06-01 23:50] #8461 closed

[2022-06-01 23:54] mallenexpensify commented on #9245
[Per the Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1654029967490849?thread_ts=1651248273.080599&cid=C01GTK53T8Q), @rushatgabhane thinks it might be possible so I'm moving along to Engineering, leaving myself assigned so that I'll be the CM if it gets labeled `External`

[2022-06-02 00:15] PauloGasparSv commented on #9245
It really looks like [it can be done](https://developers.google.com/calendar/api/guides/create-events#javascript) but as mentioned on slack [with OAuth consent](https://developers.google.com/calendar/api/guides/create-events#javascript:~:text=set%20your%20OAuth%20scope%20to%20https%3A//www.googleapis.com/auth/calendar.)

I'm not sure how the flow would work for this, the user clicks the Google Mee

[2022-06-02 00:26] pecanoro commented on #7918
Let me see if I understood the problem correctly, we can't use onEnter because it creates too many secondary unexpected behaviors, right? I am worried that if we remove pressOnEnter and we try to find another solution for only these cases, we are just looking for a hacky solution instead of solving it for all cases. @mdneyazahmad Can you bring up this issue in #expensify-open-source to see what th

[2022-06-02 00:28] kavimuru opened #9287 "[$500] Workspace - The middle message flows out of the container when the email is longer"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new workspace from an account that's on the policyExpenseChat beta (e.g @expensifail.com)
2. Add a new member with a big email to the wo

[2022-06-02 00:31] mollfpr commented on #8126
Nothing new from me, except for some improvement to the code. Honestly, I get confused about the expected result we looking for.

We need more people to join the discussion.

Here’s the slack chat https://expensify.slack.com/archives/C01GTK53T8Q/p1653068209660299

[2022-06-02 00:47] marcaaron commented on #8612
I'm curious to hear more opinions on why we should or should not fix this in the long term. There is a trail of evidence that show there is an issue with `FlatList`'s implementation in react-native/react-native-web so seems like it would benefit us to put energy into the upstream fix.

[2022-06-02 01:03] #9235 closed

[2022-06-02 01:18] jliexpensify commented on #9124
Hired @rushatgabhane

@mollfpr - sorry, can you confirm your Upworks profile again? Are you Mochammad H. by any chance?

[2022-06-02 01:47] mollfpr commented on #9124
@jliexpensify Applied! That's not me 😅

[2022-06-02 02:00] Christinadobrzyn commented on #9282
This first needs to go through AutoAssigner triage before going to an engineer. I'll take the triage since I'm on that team and working on this.

[2022-06-02 03:27] jliexpensify commented on #9287
Posted!

Internal - https://www.upwork.com/ab/applicants/1532202118117892096/job-details
External - https://www.upwork.com/jobs/~0128e737173a7ddbbd

[2022-06-02 03:42] Christinadobrzyn commented on #9282
- I'm not able to reproduce this issue
- and I think it might be associated with this [job](https://github.com/Expensify/App/issues/8731).

So going to ask Eng for a buddy check Eng. I don't think this needs to be posted as a job until this is [fixed](https://github.com/Expensify/App/issues/8731) to see if it's resolved.

[2022-06-02 05:11] rushatgabhane commented on #8356
@mollfpr it still misaligned on iOS (by 1px)

<img width="560" alt="image" src="https://user-images.githubusercontent.com/29673073/171557232-a5055076-371e-41ae-ba6c-17056bf6e414.png">

[2022-06-02 05:37] MonilBhavsar commented on #9239
As discussed in the slack, we'll update the workflow considering https://github.com/Expensify/App/pull/8511. I'm going to work on this.

[2022-06-02 06:20] parasharrajat commented on #8595
Sure, happy to help.

[2022-06-02 07:56] parasharrajat commented on #9287
This may be a regression from https://github.com/Expensify/App/pull/8409.

[2022-06-02 08:04] kadiealexander commented on #7375
Please get your proposals in! This one is half-finished so it's an easy one to pick up!

https://www.upwork.com/ab/applicants/1532271886227472384/job-details
https://www.upwork.com/jobs/~01b7fcbbd791dc6c42

[2022-06-02 08:06] kadiealexander commented on #8286
Thanks Aswin! We just need @luacmartins to take a look first :)

[2022-06-02 08:07] kadiealexander commented on #8545
Thanks Santhosh! @eVoloshchak could you please let us know about the PR?

[2022-06-02 08:23] allroundexperts commented on #8935
# Proposal

## Problem
When the button is disabled, even if you hover over it, the renderProp `hover` property of the `Pressable` react native component is `false`. However, if the button is not disabled, the `hover` property starts to work fine. In our case, the button is active initially, thus the hover style get applied correctly. When we remove the user by keyboard, the button state changes to

[2022-06-02 09:12] eVoloshchak commented on #8545
Encountered an issue on native platforms, now all resolved, [PR](https://github.com/Expensify/App/pull/9289) is up

[2022-06-02 10:15] michaelhaxhiu commented on #9287
Came here to say something similar to Rajat - I could've sworn we fixed this in the past. Let's identify if this is a regression and if so, run through the RCA process like usual.

[2022-06-02 10:36] michaelhaxhiu commented on #8131
I also posted in #contributor-plus about doubling the price of this job **[here](https://expensify.slack.com/archives/C02NK2DQWUX/p1654014977989299)** and wanted to suggest a change of gameplan.

- Hold on doubling price
- Workshop this internally (i.e. @parasharrajat & @stitesExpensify), to come up with the ideal solution we'd want (if we don't already know)
- Reach out to a react-native maintain

[2022-06-02 10:46] michaelhaxhiu commented on #9248
Adding Kadie back, as she is supposed to remain assigned per the `External` label

[2022-06-02 11:06] Stutikuls commented on #9217
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #9139, #9198, #9199, #9208
Logged Issues - #8624, #8651, #8433, #8388, #8388, #8654, #8624, #8651, #8433, #8388, #8388, #8654

[2022-06-02 11:08] michaelhaxhiu commented on #7916
Can we get an update on the latest progress of this issue today, please?

[2022-06-02 11:09] SumitDiyora commented on #9259
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PR - #9171
Logged Issues - #8434, #8433, #8624

[2022-06-02 11:11] mountiny commented on #9282
This is a dupe of https://github.com/Expensify/App/issues/9251 and the solution for it should revolve this problem as well so I am closing this.

[2022-06-02 11:11] #9282 closed

[2022-06-02 12:10] michaelhaxhiu commented on #9240
Upwork job posted - https://www.upwork.com/jobs/~013ad30082d8a28750

[2022-06-02 12:24] michaelhaxhiu commented on #7916
I see - we will discuss in slack to arrive at our next steps. Let's post the slack link in that GH after you have posted (just to keep visibility!).

[2022-06-02 12:40] allroundexperts commented on #8935
@parasharrajat Updated.

[2022-06-02 13:05] michaelhaxhiu commented on #9122
Hm I think this is due for a price doubling as it's been 8 days.

(I wonder if the label changes messed with the slackbot logic, as I didn't get a ping for it yet 🤔 )

[2022-06-02 13:11] techievivek commented on #9181
I did get to bottom of this but not sure why I am not able to reproduce this on my machine.
[This](https://github.com/Expensify/App/blob/d2f9d6124a50b8420ce1378a2a3c9422df691c18/src/pages/iou/IOUModal.js#L349) is the part where we are calling the API to create the transaction.
And [this](https://github.com/Expensify/App/blob/d2f9d6124a50b8420ce1378a2a3c9422df691c18/src/libs/actions/IOU.js#L21) is

[2022-06-02 13:18] kbecciv opened #9290 "IOS/Android - Attachment - Endless spinner is displayed before uploading to the conversation instead preview"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App and login with HIGH TRAFFIC account
2. Go to any conversation
3. Tap plus and select 'Add attachment" > 'Choose from gallery"
4. Selec