[2022-09-02 09:02] mountiny commented on #10359
@mvtglobally Thanks for confirming

[2022-09-02 09:03] Julesssss commented on #9809
Okay, so this is not a bug on most devices IMO. With 8 participants selected you view and remove all of them. Perhaps this is an issue on smaller devices though, but this needs to be confirmed.

Does anyone have a small device that restricts participant deselection?

[2022-09-02 09:10] kadiealexander commented on #9809
Same experience as Rajat for me on the ol' Asus phone. It removes the list of people you can select, but doesn't freeze - you can still deselect and take actions.

[2022-09-02 09:13] kadiealexander commented on #10362
https://www.upwork.com/ab/applicants/1565628956228489216/job-details
https://www.upwork.com/jobs/~01141ec09bdbf1fab9

[2022-09-02 09:17] Julesssss commented on #9809
Cool, so that sounds okay.

Looking at the original reports I do think we should allow scroll when the participants are locked. But this is a pretty minor bug.

[2022-09-02 09:23] bondydaa commented on #10754
be careful here, when you click `Forgot Password` we trigger 1 email automatically.

Clicking the Resend button should send a second one.

[2022-09-02 09:29] bondydaa commented on #10754
This is _probably_ from Jasper's / my PR https://github.com/Expensify/App/pull/10556

we refactored a component in there - let me take a deeper look.

[2022-09-02 09:32] mountiny commented on #10752
This is not coming from the latest staging app

[2022-09-02 09:32] #10752 closed

[2022-09-02 09:45] Julesssss commented on #10756
So, I'm currently unable to reproduce this today on a physical device `1.1.96-1` when adding a photo, but I did see a crash after sending a follow-up message. I am 100% sure I did see this exact issue last night when sending a photo to someone in a dm though.

I think this might also be occuring on older versions, but for now I'm going to continue investgating.

[2022-09-02 09:45] techievivek commented on #8589
Hold on to API refactors.

[2022-09-02 09:46] techievivek commented on #10029
On hold, will have a look after the API refactor is done.

[2022-09-02 09:46] RanaAwais3553 commented on #10362
Hi, could you try to give full screen height and width to the parent of indicator and position absolute then marginBottom:screenHeight/2
MarginLeft:screenWidth/2.
Try this Using this way your indicator in center.
Style={{marginLeft:ScreenWidth/2,marginBottom:screenHeight/2, width:screenWidth, height: screenHeight}}

[2022-09-02 09:57] luacmartins commented on #10754
I have a fix for it, testing now.

[2022-09-02 10:04] bfitzexpensify commented on #10356
@mananjadhav proposal above for you to review

[2022-09-02 10:17] Beamanator commented on #10759
Just tested on android simulator, wasn't able to reproduce - will try on android device in staging

[2022-09-02 10:19] Beamanator commented on #10759
Also couldn't reproduce on an actual device, android v1.1.96-3

[2022-09-02 10:22] #10754 closed

[2022-09-02 10:22] christianwen commented on #10731
# **Proposal**

## **Problem**
The issue is in `src/pages/home/report/ReportActionCompose.js`.

This is due to when we split/request money for the first time for a new group/person, the `this.props.reportActions` is loaded with only 1 `IOU` message initially and then it will be populated with other messages like the `CREATED` message for the group. Thus, initially the `_.size(this.props.reportActi

[2022-09-02 10:26] luacmartins opened #10785 "[$250] Create ResendRequestPasswordReset"
Coming from [this issue](https://github.com/Expensify/App/issues/10754), we need a new command for `ResendRequestPasswordReset` for when the user clicks the `Resend link` in the `Forgot?` password page. We also need to remove the [linkHasBeenResent](https://github.com/Expensify/App/blob/5af41879ee7fae34c07e06e82ecdc0eff5477d50/src/libs/actions/Session/index.js#L311) since we should NOT show that m

[2022-09-02 10:34] OSBotify commented on #10748
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10783) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.96-4` :rocket:

[2022-09-02 10:34] OSBotify commented on #10748
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.96-4 has been deployed to staging :tada:

[2022-09-02 10:36] bondydaa commented on #10754
Just to update slightly there will be another small regression here where clicking the `Forgot?` button will automatically show the Green Brick Road message when it takes you to the next step for the time being like this: <img width="1203" alt="image" src="https://user-images.githubusercontent.com/4073354/188121739-8107f8c9-52ab-45ce-b4dd-1d95d9c5a3c1.png">

This is fine and expected for now, we a

[2022-09-02 10:49] robertjchen commented on #10758
I believe this is related to https://github.com/Expensify/App/issues/10754 and should be resolved by that fix

[2022-09-02 10:49] #10758 closed

[2022-09-02 11:02] roryabraham commented on #9918
Yep, lets pay this out now

[2022-09-02 11:07] francoisl commented on #9875
Just tried again and still can't reproduce!

[2022-09-02 11:07] #9875 closed

[2022-09-02 11:12] Szymon20000 opened #10789 "[Performance] Optimise navigation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?
Startup time can be improved

## What is the impact of this on end-users?
app boot time

## List any be

[2022-09-02 11:13] robertjchen commented on #10610
Ahh, I think I see it now! These issues are definitely in scope as we want to make the app as well-polished as possible 😉 Let me open this up to our contributors to see if there's a proposal to make it better 🙏

[2022-09-02 11:13] #10768 closed

[2022-09-02 11:30] Szymon20000 opened #10792 "[Image][Performance] Better caching for iOS images"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?
Better caching for iOS images

## What is the impact of this on end-users?
Previously seen avatars/asse

[2022-09-02 11:33] Szymon20000 opened #10793 "[HOLD for payment 2023-01-19] [Performance] Use react-native-quick-sqlite instead of asyncStorage"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?
reducing time spend on serialisation/deserialisation and generally bridge overhead.

## What is the imp

[2022-09-02 11:43] Szymon20000 opened #10794 "[Performance] md5.js takes a lot of time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?
md5.js takes a lot of time according to Hermes profiler
Looks like it's used by ReportUtils.js -> getDe

[2022-09-02 11:51] robertjchen commented on #10528
Yeah, that's odd. I don't think swapping out the favicon could've caused this. Maybe it's a Safari-related bug? Let's externalize this for further investigation 👍

[2022-09-02 11:57] kbecciv commented on #10688
@srikarparsi Unable to reproduced on other platform, checked on Android 11 and 12  - works as expected.
Could be IOS 13 issue only.

[2022-09-02 12:02] OSBotify commented on #10748
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10780) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.96-5` :rocket:

[2022-09-02 12:05] aimane-chnaif commented on #10516
**Updated proposal:**

current line:
[code]
updated line:
[code]

current line:
[code]
updated line:
[code]

This looks exactly same as github comment:
<img width="159" alt="markdown" src="https://user-images.githubusercontent.com/96077027/188139228-f85fd4d8-572e-4119-9228-793bbb1c9fe7.png">

[2022-09-02 12:05] luacmartins commented on #10759
I was able to reproduce this last night, but this is not the case anymore 🤔

[2022-09-02 12:40] MitchExpensify commented on #10486
Not overdue, the PR is being drafted. When do you think it will be ready for review @mdneyazahmad ?

[2022-09-02 12:49] MitchExpensify commented on #10181
Did you get a chance to retest this @parasharrajat? Tempted to close this out if not

[2022-09-02 12:51] luacmartins commented on #10748
@mvtglobally @kbecciv can you still reproduce the following issues?

- https://github.com/Expensify/App/issues/10751
- https://github.com/Expensify/App/issues/10759
- https://github.com/Expensify/App/issues/10756

We are having issues reproducing these locally and on staging.

[2022-09-02 12:52] MitchExpensify commented on #10027
Doubled!

[2022-09-02 12:52] mvtglobally commented on #10748
@luacmartins we will check and confirm in a bit

[2022-09-02 13:01] MitchExpensify commented on #7918
Not overdue, just on the lookout for regressions before paying out

[2022-09-02 13:04] kbecciv commented on #10759
@luacmartins Issue is not reproduced with build 1.1.96.5

https://user-images.githubusercontent.com/93399543/188151953-8c75dc16-bcbf-408f-bd50-03d44c61aab1.mp4

[2022-09-02 13:05] #10751 closed

[2022-09-02 13:07] luacmartins commented on #10759
Thanks for confirming @kbecciv! Closing issue!

[2022-09-02 13:07] #10759 closed

[2022-09-02 13:10] OSBotify commented on #10748
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.96-5 has been deployed to staging :tada:

[2022-09-02 13:13] kbecciv commented on #10756
@chiragsalian Issue is not reproduced with build 1.1.95.6

https://user-images.githubusercontent.com/93399543/188153518-8ce6a75d-7e58-4419-b12c-abeb58cce931.mp4

[2022-09-02 13:13] luacmartins commented on #10756
Issue no longer reproducible. Closing!

[2022-09-02 13:13] #10756 closed

[2022-09-02 13:23] MitchExpensify commented on #7918
Yes I closed it by mistake and reopened it afterward @mdneyazahmad

[2022-09-02 13:31] mvtglobally commented on #10748
We are re-testing  PR https://github.com/Expensify/App/pull/9532,  https://github.com/Expensify/App/pull/10582 & https://github.com/Expensify/App/pull/10717 which were failing due to https://github.com/Expensify/App/issues/10751
Checking CP as well

[2022-09-02 13:40] kadiealexander commented on #9918
Both paid! Thanks team :)

[2022-09-02 13:40] #9918 closed

[2022-09-02 13:46] bondydaa commented on #10785
got some draft prs here https://github.com/Expensify/Web-Expensify/pull/34769 https://github.com/Expensify/App/pull/10798, i'll finish these off on monday.

[2022-09-02 13:48] Christinadobrzyn commented on #10355
Thanks for the heads up @adeel0202!
I sent a payment through Upwork yesterday to you and @rushatgabhane. Let me know if you have any questions!

[2022-09-02 13:55] Julesssss commented on #10756
I was unable to reproduce on dev and release builds, but I'm not totally convinced it was fixed either.

I'm pretty sure that I saw this issue last night when testing [this PR](https://github.com/Expensify/App/pull/10648) which is based upon version`1.1.89-4`. But anyway, let's just see if it pops up again.

[2022-09-02 13:56] adeel0202 commented on #10355
I have got the payment @Christinadobrzyn. Thanks 😊

[2022-09-02 14:02] AndrewGable commented on #10442
Either way I don't think we should block the deploy on it, so removed that label

[2022-09-02 14:03] AndrewGable commented on #10748
Thank you @mvtglobally, we have completed all blockers so please let us know

[2022-09-02 14:03] kbecciv opened #10799 "Android - Chat - Deleted message is displayed for brief moment after back online"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10780

## Action Performed:
1. Launch the app
2. Log in with expensifail accou

[2022-09-02 14:09] Julesssss commented on #10748
This Firebase [Exception](https://console.firebase.google.com/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/c829986edd9dbc0c3a548342190f4600?time=last-seven-days&versions=1.1.96-0%20(1001019600);1.1.96-1%20(1001019601)&sessionEventKey=6311AA7F02170001716EBB58FB9B62E6_1717192363051269522) is possibly a new regression. 12 unique users and only occuring on this version.

Th

[2022-09-02 14:12] AndrewGable commented on #10748
Exported [here](https://github.com/Expensify/App/issues/10752) and fixed already! 🎉

[2022-09-02 14:12] bfitzexpensify commented on #9253
@mananjadhav can you review https://github.com/Expensify/App/issues/9253#issuecomment-1227479860?

Is that comment related to what has already been implemented for this proposal? This is due for payment but I'm unsure if we're still discussing whether the solution was correct or not.

[2022-09-02 14:13] aldo-expensify commented on #10653
I haven't got the time to check on this yet, I'll try to do it today by the end of day as soon as I finish with a N7 refactor PR

[2022-09-02 14:15] bfitzexpensify commented on #10528
Upwork job [here](https://www.upwork.com/jobs/~017abb228469426c2f)

[2022-09-02 14:30] Beamanator commented on #10665
Discussed internally ([here](https://expensify.slack.com/archives/C01SKUP7QR0/p1662106391577299)) and we are happy to pay you for your time looking into this solution, adding your proposal, and getting selected (even though the fix was completed internally).

@NicMendonca would you please pay @jayeshmangwani and close this out? :)

[2022-09-02 14:40] Puneet-here commented on #10772
### Proposal

We have 2 options -

1. Remove the error message below the search completely because when user tries to create a chat with invalid number we shows an error. And why not just allow user to search a number with hyphens, brackets in it (we allow it at other places).

2. Change the validation here. This way we won't see this message when we aren't actually searching for a phone number, w

[2022-09-02 14:41] michaelhaxhiu commented on #9402
I think this issue has dragged on for a long period of time. It would be really great to push forward on this as soon as we can because it's adversely affecting a core part of the New Expensify experience.

Also can someone confirm if we are going to **kill this text** as a part of improving the experience? I think it's super old school and unnecessary 🔪

<img width="577" alt="image" src="https://

[2022-09-02 14:42] onliwer commented on #10362
My proposal is to wrap AddPlaidBankAccount at line 168 in another View containing the style 'styles.flex1', this centers the ActivityIndicator.

[2022-09-02 14:51] flodnv commented on #9332
Not reproducible indeed:
<img width="904" alt="image" src="https://user-images.githubusercontent.com/4164921/188175809-d8a8afdc-3d8e-451a-a98a-6aa2c8593ece.png">

[2022-09-02 14:51] mananjadhav commented on #9253
Please allow me a day to check. I don't have context on the impact, so I need to go through it and get back on the feedback.

Payment is not due for this, we rolled back the PR.

[2022-09-02 14:53] MitchExpensify commented on #10760
[Upwork Job](https://www.upwork.com/jobs/~0100af7c505d1f9e74)

[2022-09-02 14:55] onliwer commented on #10362
Proposal : Wrap AddPlaidBankAccount at line 168 in another View containing the style 'styles.flex1', this centers the ActivityIndicator.

[2022-09-02 14:57] NicMendonca commented on #9422
paid!

[2022-09-02 14:57] #9422 closed

[2022-09-02 14:57] NicMendonca commented on #10517
@Santhosh-Sellavel paid! sorry for the delay!

[2022-09-02 14:59] JmillsExpensify commented on #10615
@arosiclair Let's hold on this one, as it's related to a design doc on `sequenceNumbers` that @roryabraham and @tylerkaraszewski are working on.

[2022-09-02 15:01] trjExpensify commented on #10653
Thank you, @aldo-expensify! ❤️

[2022-09-02 15:04] mvtglobally commented on #10748
Checking off https://github.com/Expensify/App/pull/9532 & https://github.com/Expensify/App/pull/10717

CP https://github.com/Expensify/App/pull/10780 is failing due to https://github.com/Expensify/App/issues/10799. Its a new feature, Ok to checkoff or mark as Blocker?
I dont think we can test #10764. Ok to check off?

@AndrewGable  @roryabraham  Can you confirm if https://github.com/Expensify/App/

[2022-09-02 15:06] AndrewGable commented on #10748
https://github.com/Expensify/App/pull/10582 was not reverted and should be tested still. Looking into others!

[2022-09-02 15:12] michaelhaxhiu commented on #10350
Sweet, maybe we close this job down since it's not reproducible.

[2022-09-02 15:12] AndrewGable commented on #10748
Checked off https://github.com/Expensify/App/pull/10764 as it was reverted shortly after.

[2022-09-02 15:12] michaelhaxhiu commented on #10350
@mvtglobally let's test again next week and then make a call :)

[2022-09-02 15:18] PauloGasparSv commented on #10748
I think we can check https://github.com/Expensify/App/pull/10780 off as @mvtglobally said and address that on the [follow up issue](https://github.com/Expensify/App/issues/10799) if that's ok! Because the offline-first and delete functionality are working despite the message quickly popping up before being deleted when toggling!

Is that ok?

[2022-09-02 15:20] marktoman commented on #9402
@parasharrajat Do I still have this week to conclude or suddenly not?

[2022-09-02 15:22] Christinadobrzyn commented on #10770
Posted in Upwork!

Internal job - https://www.upwork.com/ab/applicants/1565721583926935552/job-details
External job - https://www.upwork.com/jobs/~0112912de9b0fc283d

[2022-09-02 15:25] PauloGasparSv commented on #10799
Hey @tgolen, I think we can quickly fix this by using the reportAction's  `pendingAction` field inside the reportActionItem or reportActionItemFragment or maybe OfflineWithFeedback.

We can check if the reportAction is a comment and something like `pendingAction === styles.offlineFeedback.deleted && !props.network.isOffline` and render the text as an empty string in that case!

I can take this if

[2022-09-02 15:26] mvtglobally commented on #10748
PR https://github.com/Expensify/App/pull/10556 is failing due to https://github.com/Expensify/App/issues/10758. Still seems to be broken

https://user-images.githubusercontent.com/43995119/188182783-3239f950-70cf-4c10-b6ed-3cdd69eec887.mp4

https://user-images.githubusercontent.com/43995119/188182794-0525f061-12f9-461f-ae41-c81cc791b7a4.mp4

[2022-09-02 15:39] marktoman commented on #9402
@parasharrajat You cannot open it to new proposals after I got confirmed that I have this week to improve the proposal that you have approved. Nobody self-respecting can work like that.

[2022-09-02 15:44] luacmartins commented on #10748
@mvtglobally can you test with an account that hasn't attempted to send the link more than 3 times? I think the reason the message doesn't show up is because we never send the link since that account is throttled.

For now, the error message won't show up the first time you click `Forgot?` since we will fix the error message in a follow up PR in our API layer.

[2022-09-02 15:44] gadhiyamanan commented on #7962
@kadiealexander ping for upwork

[2022-09-02 15:49] kadiealexander commented on #7962
Payment was made yesterday, is there an issue?

[2022-09-02 15:53] trjExpensify commented on #10693
Cool, thanks for clarifying.

[2022-09-02 15:57] gadhiyamanan commented on #7962
@kadiealexander i think you send me only offer, can you check ?

[2022-09-02 16:02] MitchExpensify commented on #9402
We'll definitely honor that timeline @marktoman. Lets see if we can come up with a valid solution in the next 3/4 days and go from there

[2022-09-02 16:02] mvtglobally commented on #10748
Checking off https://github.com/Expensify/App/pull/10582 - retest pass.
https://github.com/Expensify/App/pull/10556 is the last one left.

[2022-09-02 16:06] MitchExpensify commented on #9402
@deetergp Mind assigning @marktoman to the job? Thank you

[2022-09-02 16:13] bondydaa commented on #10748
yep agreed can you confirm that you're not actually throttled in these https://github.com/Expensify/App/issues/10748#issuecomment-1235633455?

Users are throttled after on the 4th attempt within 5 minutes of each other: so you should be able to click it 3 times and get magic links sent and then a 4th should give you that error.

[2022-09-02 16:22] mallenexpensify commented on #10755
Job posted https://www.upwork.com/jobs/~019ecf14b149914233

@rushatgabhane @deetergp , the title of the issue is long and (maybe) not the most clear. I updated it to this, let me know if you'd recommend something else

[2022-09-02 16:31] mvtglobally commented on #10748
New account seem ok. When you use re-set password it is showing automatically the message,

But can you guys re-validate this last one internally as well, to make sure we dont miss anything here.

https://user-images.githubusercontent.com/43995119/188198243-4d8d5a64-1c9e-4a64-9788-f8ec447f5562.mp4

[2022-09-02 16:33] robertjchen commented on #10598
I believe this is resolved here: https://github.com/Expensify/App/issues/10754

[2022-09-02 16:33] #10598 closed

[2022-09-02 16:36] kbecciv commented on #10036
@kadiealexander Issue is reproduced with build 1.1.96.5

https://user-images.githubusercontent.com/93399543/188199239-77d837a7-d023-4cb6-b2df-7d790a97866c.mp4

[2022-09-02 16:40] bondydaa commented on #10748
yep that's expected for now will be fixed on https://github.com/Expensify/App/issues/10785.

I just tried this myself (hours after those initial attempts) and got the same message for those accounts which is unexpected
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/4073354/188196773-b4980569-2404-48f5-8918-69f056b1ebbd.png">

logs https://www.expensify.com/_devportal/

[2022-09-02 17:03] AndrewGable opened #10802 "New Contributor Checklist is running on issue comments"
## Problem
The new contributor checklist should only be running on PRs, not on issues. https://github.com/Expensify/App/runs/8160318360?check_suite_focus=true

## Solution
Update when the contributor checklist test is running here: https://github.com/Expensify/App/blob/main/.github/workflows/testChecklists.yml#L13

[2022-09-02 17:04] mvtglobally commented on #10748
@bondydaa Are we ok to check it off then?

[2022-09-02 17:06] bondydaa commented on #10748
hm strange and I just tried again and it worked fine for `mnata.utest+sr@gmail.com`
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/4073354/188203048-cbd402c3-c54b-4e0b-838c-a7e7fa2c6856.png">

looking at the db again, the throttle attempts had been cleared out and only 2 show now
[code]

Just copying over from Slack I tested with a brand new account

1. created a new

[2022-09-02 17:09] mvtglobally commented on #10748
We are good to 🚀  then

[2022-09-02 17:17] jboniface commented on #10737
[job post](https://www.upwork.com/jobs/~01bf7a0d3546a30010)

[2022-09-02 17:20] jboniface commented on #9427
@mananjadhav  job post here: https://www.upwork.com/jobs/~0175fa858fa8779088

[2022-09-02 17:43] mananjadhav commented on #9542
Thanks @b1tjoy for the detailed explanation. I really appreciate the effort you've put into the findings.

I agree that this can't be fixed in `react-native`, as I checked it myself. I am going to review your comments again and give you a final go ahead by this weekend/monday. Thank you for the patience on this one.

[2022-09-02 18:08] marktoman commented on #9402
@parasharrajat Thanks for clarifying. I was hoping you don't mean it right away, but it could be read that way. I'll give it one last try over the weekend and post a conclusion.

[2022-09-02 18:11] mollfpr commented on #10738
@neil-marcellini I have checked the `Form.js`, but it can't modify the element inside `AddressForm`. What I understand is in `Form.js` it will loop through the `this.props.children` element and try to find an element with an `inputID` and then modified the prop element. The element nested in `AddressForm` doesn't expose through the element from `Form.js`.

Any idea how `Form.js` can find the input

[2022-09-02 18:24] mananjadhav commented on #10356
Thanks for the bump @bfitzexpensify.

@Puneet-here While your proposed solution might work to replace the emojis with the relevant symbols, it lacks details on:

1. Which source are you going to rely on? I am not very confident with emojipedia.org emojis (this feedback is from my experience of atleast 1-1.5 years back)
2. How will you identify the problematic emojis?
3. Is there a way to test his

[2022-09-02 18:54] Puneet-here commented on #10356
I tried it and haven't seen any problem for the emojis I tried to fix so far, we can use it as I will be checking every emoji so in case some emoji doesn't work I can get that emoji from some other place. We can get the emojis from other sources like:- https://github.com/github/gemoji/blob/master/db/emoji.json

I will check every individual emoji at different platforms.

I can create the list of p

[2022-09-02 18:56] kbecciv commented on #10705
@stephanieelliott Checking with QA team

[2022-09-02 19:31] ShaquilleSadiq commented on #10025
I've updated my comment above to add more details to the solution

Here `reportAction` is initialized as `{}`
https://github.com/Expensify/App/blob/27b7f652eafb772b559488e61c3e016e760cff75/src/pages/home/report/ContextMenu/PopoverReportActionContextMenu.js#L20-L38

and it is later initialized with a value here:
https://github.com/Expensify/App/blob/27b7f652eafb772b559488e61c3e016e760cff75/src/page

[2022-09-02 19:42] vinicius-grandi commented on #10693
# Proposal

## Problem
The textbox is losing focus when number pad is pressed.

## Solution
You should pass the method focusTextInput to the number pad and use it when onPress event occurs

**_src/pages/iou/steps/IOUAmountPage.js_**
[code]
_**src/components/BigNumberPad.js**_
[code]

[2022-09-02 20:33] Santhosh-Sellavel commented on #9510
Waiting for CME review

[2022-09-02 20:34] Santhosh-Sellavel commented on #9577
Not overdue, worked internally

[2022-09-02 20:46] chiragsalian commented on #10446
Correct yes, no need to worry about the growl for now.

The proposal looks good to me too. I would like to offer some suggestions to the proposal.
1. Create a method called `paste(text)` that contains,
[code]
2. Then have your block call paste(Str.htmlDecode(plainText)) at the end.
3. Replace the same block in handlePaste to call `paste(markdownText)`.

This way the same 8 lines of execCommand log

[2022-09-02 21:05] amierhasan commented on #10770
Hello there,

I have reviewed your job post on Upwork. I have analyzed the issue in detail and the solution of the issue will be the following:
I will replace the current back functionality with its alternate function in the shortcuts.

Thanks.

[2022-09-02 21:10] Santhosh-Sellavel commented on #10770
This seems issue related to #4612 or clearly navigation issue show should be put on hold.

cc: @pecanoro @marcaaron

[2022-09-02 21:12] Santhosh-Sellavel commented on #10770
@amierhasan check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) to understand our process. Please submit your proposals here on the relevant issue to get it reviewed thanks!

[2022-09-02 22:08] kakajann commented on #10410
ResizeMode = `contain`
Resolution = `1400x800`
| <img width="1014" alt="Screen Shot 2022-09-03 at 3 04 42 AM" src="https://user-images.githubusercontent.com/11542415/188241063-450d8b7a-1a62-4aef-9b0f-74cc8cd86df2.png"> | <img width="1014" alt="Screen Shot 2022-09-03 at 3 04 51 AM" src="https://user-images.githubusercontent.com/11542415/188241096-c3b6ee7f-a80a-4a10-abe2-b0064a561554.png"> |
| - | -

[2022-09-02 22:11] afmire877 commented on #10033
Hey @arielgreen @roryabraham This MR is ready 🚀

[2022-09-02 22:12] shawnborton commented on #10410
Cool, that looks pretty solid to me. I don't think we need to invest too much time on this one too as I would imagine we'll change this up in the coming months.

[2022-09-02 22:14] wildan-m commented on #10036
@kbecciv That's updated expected behavior.

The content is scrollable when the keyboard shows up (over the keyboard height)

Please check [my slack comment here](https://expensify.slack.com/archives/C01GTK53T8Q/p1661315954700859?thread_ts=1661281246.518809&cid=C01GTK53T8Q).

[2022-09-02 22:26] mallenexpensify opened #10803 "[$250] E/App issue for payment of E/E Refactor Policy_Delete #215184"
Details in https://github.com/Expensify/Expensify/issues/215184
and
https://github.com/Expensify/App/pull/10491

Adding the `ContributorPlusReview` to assign C+ to review 10491, then will create job and pay once complete

[2022-09-02 22:29] jayeshmangwani commented on #10233
### Proposal

cause of the crash

when we are trying to access requestResetFreePlanBankAccount and bankAccountID is null,

reproducible steps

1. Go to workspace > Connect bank account > connect manually > complete step 1 > complete step 2
2. close the steps by pressing x or pressing the back arrow
3. Again go to workspace > Connect bank account
4. now we are able to access Start over, press Start

[2022-09-02 22:34] mallenexpensify commented on #10803
@maddylewis sorry to add/remove ya by mistake
@marcaaron , no action needed,  unassigned ya
@mananjadhav can you please review https://github.com/Expensify/App/pull/10491 and comment in this issue to confirm you're able to do the review? Thx

Job
https://www.upwork.com/jobs/~018fd97fd6e6639650, I hired you Manan, job is private

[2022-09-02 23:28] mollfpr commented on #10446
Thanks @chiragsalian

[2022-09-03 09:23] MitchExpensify commented on #9402
Sounds good, thanks @marktoman!

[2022-09-03 13:23] liyamahendra commented on #10760
The root cause of this issue is the Smart Banner which is visible on staging and production website, when accessed on an iOS device.

The issue won't occur when the Smart banner is not displayed, which should be evident if you try reproducing through the steps mentioned on localhost - on which the Smart Banner won't show up.

There was already an [issue for the Smart Banner](https://github.com/Exp

[2022-09-03 15:01] liyamahendra commented on #10362
# Proposal

## Issue
The `ActivityIndicator` is already configured to display in the centre of the screen by using `alignItems: 'center'` and `justifyContent: 'center'` however it displays at the top because the parent element containing the `ActivityIndicator` isn't having height / width equal to the screen.

This is evident if we try adding the `backgroundColor` to the `ActivityIndicator` contai

[2022-09-03 16:36] Santhosh-Sellavel commented on #9545
@vladnobenladen is `useEffect` Necessary here?

[2022-09-03 17:15] liyamahendra commented on #10760
@parasharrajat you rightly shared that banners hides on the Workspace page and causes a weird pacing issue under the Modal. When the user comes back from the Workspace page, the height isn't recalculated / adjusted which causes issue in subsequent navigation. My analysis in my previous comment comes from having spent time on the referenced issue.

As seen locally:

https://user-images.githubuserco

[2022-09-03 17:39] mananjadhav commented on #10803
@mallenexpensify Unable to access this URL. https://github.com/Expensify/Expensify/issues/215184 and hence don't have the context for the issue? I'll review the code styling and other stuff meanwhile and try to gauge from the test cases but access to the issue will be of help.

[2022-09-03 18:13] mananjadhav commented on #9579
@luacmartins @dylanexpensify Should we double this?

[2022-09-03 18:16] mananjadhav commented on #10356
@Puneet-here Considering the number of emojis to be checked? Can we either list down the problematic emojis or have a programmatic way to identify the problematic emojis?

[2022-09-03 18:20] mananjadhav commented on #10514
I didn't see that the proposal was already posted. @ctkochan22,  @thesahindia's [proposal](https://github.com/Expensify/App/issues/10514#issuecomment-1225380562) looks good to me.

@thesahindia Once assigned can you get the error message copy from the slack channel?

🎀 👀 🎀 
C+ reviewed

[2022-09-03 18:21] mananjadhav commented on #10516
Quick question @MonilBhavsar are we suggesting showing an empty text? or skipping the text altogether?

[2022-09-03 18:24] mananjadhav commented on #10612
@pecanoro do we have any stacktrace for this one?

[2022-09-03 18:46] Puneet-here commented on #10356
I don't think there's a programmatic way, I will list them down manually.

[2022-09-03 18:47] Santhosh-Sellavel commented on #10517
@jasperhuangg
Issue still reproducible in Mobile Apps

[2022-09-03 19:43] aldo-expensify commented on #10803
@mananjadhav there is still a couple of PRs that need to be merged before you can test this against the API. I'll remove the HOLD in the title when those other PRs has been merged/deployed. You can meanwhile review the code if you want.

[2022-09-03 19:50] mananjadhav commented on #10535
@kbecciv I am on not able to reproduce this on latest version on staging as well as local. I am on version `v1.1.96-5`.

@railway17 Are you able to reproduce on the latest version?

[2022-09-03 20:08] aldo-expensify commented on #9545
I may be wrong, but I think we normally want to avoid taking actions and modifying states in the rendering code. Putting the redirection in the `useEffect` makes sense to me. What I think can be removed is the `return () => {};`

[2022-09-03 20:27] Santhosh-Sellavel commented on #9545
Thanks, @aldo-expensify!

@iwiznia
Then we are good to hire @vladnobenladen for this one!

🎀 👀 🎀
C+ Reviewed

cc: @stephanieelliott

[2022-09-03 20:28] mananjadhav commented on #9427
Applied @jboniface

[2022-09-03 20:38] aldo-expensify commented on #10653
In dev, I created and account and validated a domain for it. Then created a new account under the controlled domain through new dot, validated it with the email link, and now I get only the `domainAll` report, no Concierge chat. I think this is a bug right? I think there should be always a Concierge chat

<img width="880" alt="Screen Shot 2022-09-03 at 9 32 00 PM" src="https://user-images.githubus

[2022-09-03 20:52] Santhosh-Sellavel commented on #10512
Just if the issue's RCA is BaseTextInput, shouldn't the issue be across all the pages where we use it, why is this occuring only on the Additional details page alone?

@aimane-chnaif

[2022-09-03 20:59] Santhosh-Sellavel commented on #10533
Unable to reproduce for my self also!

[2022-09-03 21:21] Santhosh-Sellavel commented on #10362
@jasperhuangg
@onliwer @liyamahendra suggesting something similar.

@onliwer suggests wrapping in another View and adding `flex1` style. That's unnecessary. Also, the proposal is not clear enough.

@liyamahendra Adding style existing View itself should be fine. Also, their proposal is detailed. So let's hire @liyamahendra for this one!

Also, the same issue could occur when adding a bank account v

[2022-09-03 21:24] Santhosh-Sellavel commented on #10283
I was able to reproduce this issue too, using new steps!

[2022-09-03 21:30] Santhosh-Sellavel commented on #10627
@shawnborton / @Expensify/design

Need confirmation do we need a back button here?

[2022-09-03 23:41] mananjadhav commented on #8929
@JosueEchandiaAsto We've sent multiple reminders on the PR and here. Please send us an update on the PR by Monday EOD? Otherwise we'll have to rescind the job.

cc - @roryabraham @MitchExpensify

[2022-09-03 23:42] mananjadhav commented on #10551
Now that it is `Internal`, I've unassigned myself from the issue

[2022-09-04 03:22] railway17 commented on #10535
![image](https://user-images.githubusercontent.com/29966461/188295580-c7054a4f-69ee-4e51-bc70-8b129c631673.png)
![image](https://user-images.githubusercontent.com/29966461/188295587-0bd906f7-98f0-41ca-b5db-60317d4e4dd7.png)

@mananjadhav
I've just tested in the v1.1.96-5 version, but still reproducible in desktop safari.
But couldn't reproduce it in the mobile safari that I've posted in my proposa

[2022-09-04 03:34] songlang1994 commented on #10329
### Proposal

`openExternalLink` in `src/libs/actions/Link.js` was changed in [PR#8788](https://github.com/Expensify/App/pull/8788/files) to make sure open links in a new tab in Safari. The root cause for that issue is react-native-web uses the `noopener` feature to open new windows [(source code)](https://github.com/necolas/react-native-web/blob/dee258ae02188befca4192ea502d4fbebc478341/packages/r

[2022-09-04 04:07] mananjadhav commented on #10535
What is your Safari and Mac OS version ?

[2022-09-04 04:48] railway17 commented on #10535
![image](https://user-images.githubusercontent.com/29966461/188297884-f2083b07-ec7d-4a64-a350-3b8fa5b46a67.png)
![image](https://user-images.githubusercontent.com/29966461/188297890-76abec90-5e08-4a14-beec-b63e9605adec.png)

Here are my versions, @mananjadhav

[2022-09-04 05:16] thesahindia commented on #10512
Here are the steps -
1. Make sure the account already has a bank account added.
2. Hit green plus button
3. Send money
4. Enter amount
5. Enter email
6. Pay with Expensify

But I think we need to be in the beta and we can't test vba flow right now.

I reached this page by adding `EnablePaymentsPage` to some other route.

Try replacing `SearchPage` with `EnablePaymentsPage`

https://github.com/Expe

[2022-09-04 06:12] techievivek commented on #10766
@PauloGasparSv I agree with you, I don't know why it didn't listen for the offline event. Please feel free to assign yourself to it if you want to work on it otherwise I will apply the `external` label.

[2022-09-04 09:47] rawalyogendra commented on #10329
# Proposal

## Problem
The Menu item has this action handler associated with it.
https://github.com/Expensify/App/blob/847e0af9f05756f49756cc374d0aa5aed02118a0/src/pages/settings/AppDownloadLinks.js#L43-L45
Which opens external links using our `asyncOpenURL` handler.
https://github.com/Expensify/App/blob/847e0af9f05756f49756cc374d0aa5aed02118a0/src/libs/asyncOpenURL/index.website.js#L16-L27
this i

[2022-09-04 12:05] bdmostafa commented on #10770
This problem is related to `react-navigation` settings. May be its previous state does not have in navigation state properly or `navigation.goBack()` is not working.

If there is `navigation.goBack()` issue in the project, I have to find out that whether `goBack()` function is fetched properly or from wrong path. Otherwise, if `navigation state` is not saved on this screen, I can use `reset` funct

[2022-09-04 13:55] mollfpr commented on #10738
I have to refactor `Form.js` to pass the props input inside `AddressForm` from the props (not directly return the element from `Form.js`).

[code]

[code]

The usage of `AddressForm` inside `Form.js` will be like this:
[code]

cc @neil-marcellini

[2022-09-04 14:31] vladnobenladen commented on #9545
yes, nothing to put when unmount component but this is just to fix eslint error
<img width="901" alt="useEffect" src="https://user-images.githubusercontent.com/97473779/188318716-80c97b92-4e09-4701-8b82-1459f2d243a1.png">

[2022-09-04 16:59] aimane-chnaif commented on #10512
This issue is not reproducible any more from v1.1.94.0, thanks to this [PR](https://github.com/Expensify/App/pull/10147) (especially this [commit](https://github.com/Expensify/App/pull/10147/commits/f2e16898d653d7b1cee7b97509571f65d48575a5)).
So now passing `this.state.value` to native TextInput component value props, instead of `this.props.value`.

However, this still doesn't fix unnecessary step

[2022-09-04 21:54] marcaaron commented on #10409
I am pretty sure this is a duplicate and related to some issues we have that are on hold so going to put this one on HOLD as well.

[2022-09-04 21:58] marcaaron commented on #10632
What does this mean exactly... ? Looking at the video and I'm not even sure what the bug is.

[2022-09-04 21:59] marcaaron commented on #10632
Also don't understand what is being proposed here.

[2022-09-05 02:11] mateusbra commented on #10221
@parasharrajat should I rise the PR using version [v12.4.4](https://github.com/react-native-svg/react-native-svg/releases/tag/v12.4.4)?

[2022-09-05 02:24] varshamb commented on #10362
@Santhosh-Sellavel I guess you missed to review my proposal posted first (13 days ago).

[2022-09-05 03:28] dhairyasenjaliya commented on #10188
hello @trjExpensify can we close this one as this is in production

[2022-09-05 03:44] Santhosh-Sellavel commented on #10362
Yeah I missed out that, yours was the first right proposal.

It's easy to miss when proposal is sent before applying external label. In case if you submitted earlier please make sure to reminder as soon as Help wanted label is added.

[2022-09-05 03:49] Santhosh-Sellavel commented on #10362
@jasperhuangg

@varshamb @onliwer @liyamahendra suggesting something similar.

@onliwer suggests wrapping in another View and adding `flex1` style. That's unnecessary. Also, the proposal is not clear enough.

@varshamb @liyamahendra are suggested adding style to existing View itself should be fine.

Let's go with first proposal and hire @varshamb for this one!

Also, the same issue could occur whe

[2022-09-05 04:04] marktoman commented on #9402
The issue, which affects all name-based proposals, is that if a new file has the same name as a previously uploaded one (e.g., invoice.png), the old file is rendered the same as the newly uploaded one.

My recent effort was to find a way to distinguish them. I am convinced that this is not possible without server changes. The change would be to generate an id for each uploaded file on the client a

[2022-09-05 06:12] mollfpr commented on #9391
Up @MonilBhavsar @mananjadhav https://github.com/Expensify/App/issues/9391#issuecomment-1226923225

[2022-09-05 07:06] #9491 closed

[2022-09-05 08:00] tgolen commented on #9545
Hi! We do not allow the use of React hooks in our code unless a third-party library is being implemented and the only interface they provide are hooks.

[2022-09-05 08:05] vladnobenladen commented on #9545
@tgolen ok, then is that fine to refactor this component from functional to class and implement above in `componentDidMount`?

[2022-09-05 08:13] roryabraham commented on #10794
Switching this to weekly

[2022-09-05 08:14] roryabraham commented on #10793
Switching this to weekly

[2022-09-05 08:14] roryabraham commented on #10792
Switching this to weekly

[2022-09-05 08:14] NikkiWines commented on #8657
still on hold

[2022-09-05 08:15] NikkiWines commented on #7487
still on hold

[2022-09-05 08:17] roryabraham commented on #10789
Agree that we _can_, but I don't know if our bundle size is big enough to be problematic yet. Last I checked it was about 6MB

[2022-09-05 08:18] NicMendonca commented on #9581
^ still holding?

[2022-09-05 08:19] tgolen commented on #9545
Yes, please. Thanks! I realized we didn't have this specified in our style
docs about React so I have added an explanation of why we have this policy
which you can see in this PR:
https://github.com/Expensify/Style-Guides/pull/4

On Mon, Sep 5, 2022 at 9:05 AM vladnobenladen ***@***.***>
wrote:

[2022-09-05 08:21] Julesssss commented on #10748
Awesome, we're good to deploy first thing this morning.

- I rechecked the timing dash and there are no noticeable timing regressions.
- I see one new exception [here](https://console.firebase.google.com/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/3e22a13cae76308bc81d059fd80893c0?time=last-seven-days&sessionEventKey=631368C10234000136363AEFAFDD9FFE_1717611161743795727)

[2022-09-05 08:29] syedsaroshfarrukhdot commented on #10731
As mentioned by @christianwen _.size(this.props.reportActions) === 1 will cause a regression because that code is there so that when a user enters a new chat, the keyboard will be focused automatically.

But I tested it thoroughly when was proposing a solution the composer was not focused when a user enters a new chat

https://user-images.githubusercontent.com/81307212/188401528-b592ec1b-18c6-47e4

[2022-09-05 08:39] dylanexpensify commented on #9902
doubled

[2022-09-05 08:39] dylanexpensify commented on #9848
doubled

[2022-09-05 08:42] dylanexpensify commented on #10182
not overdue

[2022-09-05 08:46] dylanexpensify commented on #10182
@parasharrajat @daraksha-dk sent offers!

[2022-09-05 08:49] Julesssss commented on #10748
From testing the app I'm still unable to find any exception. Going to move forward as Applause's checklist would have picked up on any noticable regression.

[2022-09-05 08:50] PauloGasparSv commented on #10766
@techievivek I'm not sure if that's a bug 😄
I think that's just a prob with the emulator, sometimes I have to turn off the internet on my computer itself so the app goes offline for real.
Testing on my device it was working ok : )
Do you mind checking if this is working on your environment? Cause if so, I think we can close this one.

[2022-09-05 08:50] Julesssss commented on #10748
:shipit:

[2022-09-05 08:50] #10748 closed

[2022-09-05 08:53] MonilBhavsar commented on #10516
I think skipping the text. Looks like github markdown does the same

Input Markdown:

[code]

Output:

<img width="167" alt="Screenshot 2022-09-05 at 9 51 49 AM" src="https://user-images.githubusercontent.com/32012005/188409482-cb37f53f-9da9-4658-a2a6-e37f28460344.png">

[2022-09-05 08:54] OSBotify opened #10808 "Deploy Checklist: New Expensify 2022-09-05"
**Release Version:** `1.1.97-7`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/9141
- [x] https://github.com/Expensify/App/pull/9772
- [x] https://github.com/Expensify/App/pull/10286
- [x] https://github.com/Expensify/App/pull/10494
- [x] https://gith

[2022-09-05 08:55] madmax330 commented on #10771
I'm not able to reproduce this on my phone

[2022-09-05 08:59] luacmartins commented on #9579
Yes, @dylanexpensify let's double this issue

[2022-09-05 09:01] adeel0202 commented on #9331
Hi, I reported the bug [here](https://github.com/Expensify/App/issues/9331#issuecomment-1169933927) when it was supposed to be fixed and was in production. Am I eligible for the reporting bonus?
cc: @stitesExpensify @trjExpensify

[2022-09-05 09:06] bondydaa commented on #10761
still working on resolving this convo in the thread

[2022-09-05 09:07] ctkochan22 commented on #10765
@JmillsExpensify let me know when you post the job. Description is clear and it is reproducible

[2022-09-05 09:08] ctkochan22 commented on #10510
Taking a look at the proposal today. Thanks!

[2022-09-05 09:09] ctkochan22 commented on #10493
I can look and see if what PR that is

[2022-09-05 09:12] roryabraham commented on #10737
I think this was the deploy blocker we fixed last Friday: https://github.com/Expensify/App/issues/10751

Closing this out

[2022-09-05 09:14] JmillsExpensify commented on #10729
Just created an Upwork job here: https://www.upwork.com/jobs/~01604cc324bbf955b6. I went ahead and started the posting at $500. cc @neil-marcellini

[2022-09-05 09:16] JmillsExpensify commented on #10469
Still waiting for proposals.

[2022-09-05 09:20] JmillsExpensify commented on #9662
I've extended offers to both contributors via Upwork.

[2022-09-05 09:20] trjExpensify commented on #9331
Okay, can I get some clarity over what's due here and to whom? Here's my take..

$250 - @sobitneupane for the fix
$250 - @Tushu17 for the original reporting
$250 - @mananjadhav for C+
$250 - @adeel0202 for reporting the safari issue

Let me know if that's correct and I'll raise a new job on Upwork because the previous one has lapsed, and no contracts were started here.

[2022-09-05 09:21] JmillsExpensify commented on #10670
Cool, I'll put a hold on this. I also posted in open-source to make sure this one is on people's radars.

[2022-09-05 09:21] roryabraham commented on #10632
The problem is that once the context menu pops up and the modal blur is applied, it's not clear which message you've long-pressed on. What I was imagining is that the message you selected would have a white background / be "immune" from the modal blur effect.

But I think a mockup would be very helpful here. @marcaaron suggested that we could use a "shimmer effect" as an alternative

[2022-09-05 09:21] srikarparsi commented on #10688
ok thank you

[2022-09-05 09:23] puneetlath commented on #10627
I would think so, yes.

[2022-09-05 09:23] mananjadhav commented on #9331
@trjExpensify There was a regression on the issue, which should deduct the amount for C+, but I would appreciate if can add an exception for this one as I put additional efforts in fixing the regression myself.

[2022-09-05 09:23] JmillsExpensify commented on #10765
Upwork job is here: https://www.upwork.com/jobs/~012e25f97da880eedd. We're open for proposals.

[2022-09-05 09:24] madmax330 commented on #10771
Asked if anyone can reproduce here: https://expensify.slack.com/archives/C01GTK53T8Q/p1662368455439869
If no one can repro I'll close this out.

[2022-09-05 09:24] pecanoro commented on #10770
@Santhosh-Sellavel So we close this one then? It seems like a duplicate of https://github.com/Expensify/App/issues/4612 since it's referring to the same functionality.

[2022-09-05 09:27] trjExpensify commented on #9331
Yeah, you fixed it, so I kept that in. 👍

Okay, job is here to apply everyone: https://www.upwork.com/jobs/~01e6c7617b3537f422

[2022-09-05 09:29] NicMendonca commented on #10414
Still reproducible ☝️

[2022-09-05 09:35] grgia commented on #10524
I still haven't been able to replicate this bug on dev/staging/production. Relevant slack threads: [Open-Source](https://expensify.slack.com/archives/C01GTK53T8Q/p1661863337399729), [N7](https://expensify.slack.com/archives/C02HWMSMZEC/p1661849042339779), [QA](https://expensify.slack.com/archives/C9YU7BX5M/p1662370408247869).

[2022-09-05 09:42] iwiznia commented on #9545
Alright, @stephanieelliott please hire @vladnobenladen

[2022-09-05 09:45] dylanexpensify commented on #10483
will get on this today

[2022-09-05 09:45] mountiny commented on #10771
@madmax330 Also cant repro. I am not able to focus if it is still scrolling, but that is not a problem I think. Once the scrolling comes to still, I can focus just fine.

[2022-09-05 09:45] dylanexpensify commented on #10148
time to double!

[2022-09-05 09:45] mountiny commented on #10771
@kbecciv @mvtglobally Can you repro this? Otherwise we can close this

[2022-09-05 09:46] dylanexpensify commented on #10148
Doubled twice since I somehow missed the prior double

[2022-09-05 09:47] jasperhuangg commented on #10362
I agree, let's go with @varshamb on this one, thanks!

[2022-09-05 09:50] sketchydroide commented on #10625
I'm settign this one as an external

[2022-09-05 09:58] sketchydroide commented on #9510
I think we are still waiting?

[2022-09-05 10:02] sketchydroide commented on #9660
@arielgreen can we close this?

[2022-09-05 10:09] arielgreen commented on #9660
@Harshdeepjoshi just sent over an offer, once you accept I can remit payment and we can close this

[2022-09-05 10:10] arielgreen commented on #9342
Removed Upwork job for now

[2022-09-05 10:16] stitesExpensify commented on #10699
@stephanieelliott can you make an upwork job for this please? :)

[2022-09-05 10:18] dhairyasenjaliya commented on #9902
**Proposal**

**Root Cause**

- This is a well-known issue in the older version of the react 0.66 related to the android material native style issue for the text input.
- Recently this bug is being identified and resolved by adding one file  `rn_edit_text_material.xml` into
`android/app/src/main/res/drawable/rn_edit_text_material.xml`
- After adding above file add this line `<item name="android:ed

[2022-09-05 10:20] Harshdeepjoshi commented on #9660
@arielgreen I have accepted the offer.

[2022-09-05 10:28] roryabraham commented on #10345
Sorry, have had other priorities and also issues updating our fork. Will follow-up soon.

[2022-09-05 10:32] stitesExpensify commented on #10282
No update. Focused on n7

[2022-09-05 10:32] stitesExpensify commented on #9470
No update, still focused on API refactor before this.

[2022-09-05 10:36] arielgreen commented on #7822
Can we get an update on this please?

[2022-09-05 10:37] mountiny commented on #10435
Gonna unassign you an dkeep closing this, this is even old version of the app :/

[2022-09-05 10:42] MonilBhavsar commented on #7822
PR is merged and eslint-sonfig package is updated. @rushatgabhane will send a PR to update the package in App repo and fix the lint errors.

[2022-09-05 11:29] aldo-expensify commented on #10794
Is the point of getting the md5 to try to distribute emails across the 8 possible default avatars? Wouldn't work to do something like to get things well-enough distributed?

[code]

31 is just a prime number to help things distribute more uniformly

[2022-09-05 11:32] roryabraham commented on #9725
Not a priority atm

[2022-09-05 11:33] deetergp commented on #9628
@tomivs Have you received payment in your account yet?

[2022-09-05 11:35] arielgreen commented on #9628
All contributors have been paid, closing.

[2022-09-05 11:35] #9628 closed

[2022-09-05 11:39] arielgreen commented on #9660
Excellent, paid, closing.

[2022-09-05 11:39] #9660 closed

[2022-09-05 11:42] aldo-expensify commented on #10181
hehe, I guess that is up to us to decide... at the start I was assuming that we wanted web (desktop and mobile) and mobile native to behave exactly the same, but [this comment](https://github.com/Expensify/App/issues/10181#issuecomment-1212418978) from @parasharrajat made me consider that this may not be the case always.

I don't feel I have enough experience with UI/UX to decide on what is the be

[2022-09-05 11:46] deetergp commented on #10555
Not overdue, awaiting updated proposals.

[2022-09-05 11:48] mananjadhav commented on #9542
@b1tjoy Your proposal looks good to me https://github.com/Expensify/App/issues/9542#issuecomment-1235749355. Any kinks can be handled in the PR review while testing.

I was a bit concerned about how reliable is this `const currentlyFocusedRef = TextInput.State.currentlyFocusedInput();`  But it seems it was replaced from `currentlyFocusedField` and does work as expected.

@puneetlath All yours.

🎀 

[2022-09-05 12:35] dhairyasenjaliya commented on #10535
@mananjadhav the actual issue is different in mWeb/safari just try to change the password you will notice whenever it is secureTextInput with (eye icon) it has some weird blue opacity border

![issueBlueBorder](https://user-images.githubusercontent.com/47522946/188450209-2b9a5b7c-d430-4c1a-8978-e1002866457e.png)

[2022-09-05 12:37] dhairyasenjaliya commented on #10535
- stagging + local both affected

[2022-09-05 12:41] railway17 commented on #10535
@dhairyasenjaliya
Which iOS version do you use?
I think my PR will resolve the issue on both mobile as well as desktop, but couldn't reproduce it on my phone.

[2022-09-05 12:47] dhairyasenjaliya commented on #10535
@railway17 you have to check in mobile web (specific safari web)

[2022-09-05 12:48] railway17 commented on #10535
You mean do you want to see the screenshot from my phone?

[2022-09-05 12:54] trjExpensify commented on #9331
@mananjadhav & @adeel0202 - paid!
@sobitneupane - offer sent
@Tushu17 - waiting for you to apply.

[2022-09-05 13:03] trjExpensify commented on #9123
Okay, so the original Upwork job has closed. Created a new one [here](https://www.upwork.com/jobs/~01a5bfc24204813592). Can you all apply, please?

@parasharrajat - $250 for C+
@Tushu17 - $250 for reporting
@thesahindia - $250 for the PR

[2022-09-05 13:05] trjExpensify commented on #9252
Still awaiting proposals here?

[2022-09-05 13:08] trjExpensify commented on #10188
Yep, paid @dhairyasenjaliya. Rushat, I need you to accept the offer for C+.

[2022-09-05 13:10] trjExpensify commented on #9331
@sobitneupane - paid.

[2022-09-05 13:16] trjExpensify commented on #10188
Kewl, paid @rushatgabhane now as well. Closing it out!

[2022-09-05 13:16] #10188 closed

[2022-09-05 13:18] OSBotify commented on #10808
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.97-2 :rocket:

[2022-09-05 13:20] Beamanator commented on #10198
Looks like this has been in production for more than 7 days w/out regression so payment is due! cc @adelekennedy

[2022-09-05 13:22] tgolen commented on #10799
@PauloGasparSv Feel free to gab and work on it

[2022-09-05 13:23] tgolen commented on #10705
@kbecciv did you have any luck trying to reproduce this?

[2022-09-05 13:32] trjExpensify commented on #9402
Ah, interesting. @marcaaron & @tgolen worked on better front-end validation for attachment uploads in this [issue](https://github.com/Expensify/App/issues/10050). I wonder if they have some insight here?

[2022-09-05 13:34] dylanexpensify commented on #10483
Internal: https://www.upwork.com/ab/applicants/1566781835066662912/job-details
External: https://www.upwork.com/jobs/~0130daa37148ce0b9e

[2022-09-05 13:36] tgolen commented on #9938
Gonna drop this down to monthly for the time being then.

[2022-09-05 13:37] tgolen commented on #8595
This was just merged today!

[2022-09-05 13:37] trjExpensify commented on #10653
Yeah, every new account on sign-up should have a Concierge chat.

[2022-09-05 13:37] neil-marcellini commented on #10731
@syedsaroshfarrukhdot thanks for investigating. I think we want to have the composer focused when creating a new chat but not after creating an IOU request. I'll let @iwiznia handle this going forward since he's the CME on this issue.

[2022-09-05 13:41] railway17 commented on #10535
https://user-images.githubusercontent.com/29966461/188462413-b6d01a27-6dd0-4569-8245-ca16e42f02ff.MP4

https://user-images.githubusercontent.com/29966461/188462468-c1c048d5-f141-40f1-b3d8-3600f570e4f6.MP4

@dhairyasenjaliya , @mananjadhav
I just reproduce the issue on the mobile phone and attached 2 videos with my fix.
Please take a look and let me know
Thank you

[2022-09-05 13:44] MitchExpensify commented on #8929
Good call @mananjadhav. Lets now move to rescind the job without update from @JosueEchandiaAsto after the bump above. I'll double the price and post to Slack once we've rescinded it

[2022-09-05 13:44] trjExpensify commented on #10705
I can reproduce this on Desktop `v1.1.96-3`.

When you're on the first result and press the up arrow key it loops to the last participant in the search list.
If you're on the last result and press the down arrow key it loops to the first participant in the search list.

![search](https://user-images.githubusercontent.com/16232057/188463441-6986fc87-d510-4c2d-a001-cdf7c9199070.gif)

[2022-09-05 13:48] trjExpensify commented on #10705
Confirmed the reproduction on Web `v1.1.96-5` as well.

[2022-09-05 13:49] deetergp opened #10817 "Test Issue"
This issue is in service of testing https://github.com/Expensify/Expensify/issues/209534. Please ignore.

[2022-09-05 13:50] trjExpensify commented on #10705
Upwork job here: https://www.upwork.com/jobs/~01dc046bd601c8a48a

[2022-09-05 13:50] #10817 closed

[2022-09-05 13:55] dylanexpensify commented on #9579
Hmm, I can't see a job for this issue - do we need to create one?

[2022-09-05 13:55] tgolen commented on #9402
OK, I am not familiar with this issue, but I took some time to read through the comments. I'm not sure I am 100% there, but I don't think we need any server-side changes for this. That sounds overly complex. When uploading an image, can we just update the image name to have the current timestamp in it like `invoice_<timestamp>.png`?

[2022-09-05 13:56] tgolen commented on #9402
but I'm not quite sure what the intention of this is. If all you're trying to do is distinguish between the localURL and the HTML hosted URL, can you search the URL for the s3 domain?

[2022-09-05 13:59] mananjadhav commented on #9579
I thought the job post in the GH body is the one.

[2022-09-05 14:01] dylanexpensify commented on #9579
Ah nice one @mananjadhav - thank you! Will double now!

[2022-09-05 14:11] marktoman commented on #9402
I thought the name should be retained for the user, but if that is not the case, then yes, it can be changed to an id. The intention is to identify a local file and the uploaded remote file as the same. When the user adds a file, it is rendered from a local path, then once uploaded, it comes back from the server and is rendered again from the URL.

[2022-09-05 14:15] tgolen commented on #9402
I think it'll be OK to add a timestamp to the name. It at least keeps the original name intact so it doesn't look totally foreign to the user, but there is no requirement for keeping the filename 100% the same as the original (that I am aware of).

[2022-09-05 14:18] trjExpensify commented on #9123
@parasharrajat - paid.

[2022-09-05 14:22] Julesssss commented on #9252
Yep

[2022-09-05 14:30] trjExpensify commented on #10514
👋 @thesahindia can you accept please? https://www.upwork.com/jobs/~01e573794d911ea020

[2022-09-05 14:35] Julesssss commented on #9252
@trjExpensify please hold on any further pay increases for the moment though.

[2022-09-05 14:40] arosiclair commented on #10311
I've got around to drafting SQL query changes for [`GetChats` command](https://github.com/Expensify/Auth/blob/d0f1023bbd71c8a60e873acf602a773dcf8ec504/auth/command/GetChats.cpp#L28-L81) in Auth that should get us the policyName added to the response for reports. Something to the effect of this in query at the bottom

[code]

However, it sounds like we're divided on whether a join across datasets o

[2022-09-05 14:42] puneetlath commented on #9510
@sketchydroide the proposal that @Santhosh-Sellavel recommended we go forward with is: https://github.com/Expensify/App/issues/9510#issuecomment-1230776346

[2022-09-05 14:44] thesahindia commented on #10240
We just have to add validation for the first and last name. We have to decide what type of names will be allowed and the regex for it.

[2022-09-05 14:45] thesahindia commented on #9123
Applied 🚀

[2022-09-05 14:45] marktoman commented on #9402
Basically, the solution is to prevent Phase 2 (ie, the file coming from the server once uploaded) from re-rendering the image.

This is the behavior.

[2022-09-05 14:46] thesahindia commented on #10514
Applied. Thanks.

[2022-09-05 14:56] marcaaron commented on #9402
@marktoman can you maybe re-state what the proposal is at a high level without referring to phases? I missed what you are proposing.

[2022-09-05 15:02] NikkiWines commented on #4612
Not tied to a regression, https://github.com/Expensify/App/issues/10770 is a similar issue and they're discussing closing it in favor of this issue.

[2022-09-05 15:04] christianwen commented on #10731
would it be more suitable for the `composer focused when creating a new chat` to be a separate bug issue since that's not really included in the scope of this issue, or if it's included, we can update the description of this issue to reflect both

[2022-09-05 15:05] iwiznia commented on #10449
Oh sorry!

[2022-09-05 15:08] shawnborton commented on #10513
Not overdue

[2022-09-05 15:21] Julesssss commented on #9270
Still no progress

[2022-09-05 15:23] Julesssss commented on #9270
Update to follow soon

[2022-09-05 15:24] marktoman commented on #9402
@marcaaron This is what happens currently without my solution implemented, which are 2 isolated events:
1. The user adds an image. The image is rendered from the local URL. At the same time, the image starts uploading to the server.
2. Once uploaded, the server sends back an IMG element with a remote URL. The client renders the IMG as any other HTML coming from the server.

My solution correlates

[2022-09-05 15:29] pecanoro commented on #10262
So all mWeb platforms will work the same way after this fix? If so, I would say that's fine and to go with the proposal

[2022-09-05 15:30] roryabraham commented on #10794
That sounds like a good solution to me, assuming we have access to the accountID wherever we use `getDefaultAvatar`, which I'm 90% sure we do

[2022-09-05 15:32] kavimuru opened #10818 "Web - LHN - Email address of the user is displayed instead of the last message with that user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Pay attention to the LHN and the display of the late

[2022-09-05 15:44] aldo-expensify commented on #10794
Yes, since this is not important from a security point of view, we can use simple hash functions that do a decent job at distributing stuff uniformly in the buckets.

[2022-09-05 15:45] MariaHCD commented on #10701
@kbecciv Could we get the email of the tester account?

[2022-09-05 16:16] MitchExpensify commented on #10367
Nobody able to reproduce, closing

[2022-09-05 16:21] MitchExpensify commented on #7737
@marcaaron how's the hold on this one.. holding up?

Does this still hold true?

[2022-09-05 16:32] kadiealexander commented on #10233
@Santhosh-Sellavel any thoughts on the proposal above?

[2022-09-05 16:41] neil-marcellini commented on #9581
Yes

[2022-09-05 17:01] AndrewGable commented on #10802
Been testing solutions, I can confirm the logic here is not working.

[2022-09-05 17:02] kbecciv opened #10821 "Reimburse expenses - The milage rate automatically changes to the initial value"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10692

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
an

[2022-09-05 17:03] OSBotify commented on #10821
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-05 17:06] shawnborton commented on #10181
I'm a little bit confused about what this bug is. It says that "Pressing enter should not change the focus to the personal message field" but when looking at the original video, it doesn't seem like the focus moves from the top text input to the personal message field. Can someone clarify what's happening here?

[2022-09-05 17:08] kbecciv opened #10822 "Android - Attachment - PDF password form displayed lower than expected"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/9141

## Action Performed:
1. Launch the app
2. Log in with expensifail accoun

[2022-09-05 17:10] OSBotify commented on #10822
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-05 17:19] kbecciv opened #10824 "[PAID] [$1000] Web- Attachment - Up and down arrow key does not work for scrolling PDF file."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensifail.com
2. Log in with expensifail account
3. Select any user
4. Click the plus button to the left o

[2022-09-05 17:32] kbecciv commented on #10701
@MariaHCD emilio.utest@gmail.com/Emilio98

[2022-09-05 18:01] dhairyasenjaliya commented on #9902
@rushatgabhane this issue is fixed while upgrading the RN version to 0.69 here by adding the rn_edit_text_material file in androidManifest file

I also have mentioned steps to reproduce which you check real-time by adding above file actually fixed the issue

<img width="1433" alt="Screenshot 2022-09-05 at 11 28 40 PM" src="https://user-images.githubusercontent.com/47522946/188498005-ca570a40-e4dd-

[2022-09-05 18:03] jboniface commented on #10492
@laurenreidexpensify @rushatgabhane needs reporting bonus job

[2022-09-05 18:06] chiragsalian commented on #7185
Hmm, personally I don't feel like discussing on GH is faster versus slack or newDot. But sure we can try it here if you prefer.

Firstly I'm unable to test on dev and staging too. Its also going to prod endpoint. Not sure what happened here but I'll ask others.

Good questions, so let's tackle them one at a time.

So with the new API the first thing to check if the API returns them as errors or ju

[2022-09-05 18:11] jboniface commented on #10610
job: https://www.upwork.com/jobs/~0165f8b1c2bb3e578e

[2022-09-05 18:16] dhairyasenjaliya commented on #9902
yes as you check by just disabling `rn_edit_text_material` in androidManifest file and adding the code snippet that I added in the proposal to confirm just follow simple steps to reproduce

[2022-09-05 18:25] trjExpensify commented on #10514
offer sent, @thesahindia.

[2022-09-05 18:53] dhairyasenjaliya commented on #9902
hm @rushatgabhane I think that's because of the old app version

- on 26th July app version 1.1.84-9
<img width="685" alt="Screenshot 2022-09-06 at 12 20 53 AM" src="https://user-images.githubusercontent.com/47522946/188502258-03fd2e30-633f-4fd1-b5a5-57f0c120dd16.png">

- also the latest update edit (10 days ago) version is the same  1.1.84-9, if this error was caused by the latest then I do think

[2022-09-05 18:55] chiragsalian commented on #9902
I believe melvin checks every 15mins if there are any crash updates from firebase. Only if there are any new changes to report then it updates the GH issue.

[2022-09-05 19:02] varshamb commented on #10822
### Proposal
Use `justifyContentStart`
https://github.com/Expensify/App/blob/11761bea9de7604febd17da05797c62caf2a2f6b/src/components/PDFView/PDFPasswordForm.js#L108

[2022-09-05 19:12] Puneet-here commented on #10627
I don't think we need a back button here because it's just an edit modal but If we want then I can update my [proposal](https://github.com/Expensify/App/issues/10627#issuecomment-1230731037), We have to change the code like below -

https://github.com/Expensify/App/blob/11761bea9de7604febd17da05797c62caf2a2f6b/src/components/AvatarCropModal/AvatarCropModal.js#L275-L278
[code]

[2022-09-05 19:40] kbecciv opened #10825 "Android - Workspace settings - Input fields are not grayed out when made changes offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App and login
2. Click on Create a New Workspace
3. Navigate to the General settings page
4. Disable the internet con

[2022-09-05 19:41] OSBotify commented on #10825
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-05 20:02] mvtglobally commented on #10808
@Julesssss still waiting for IOS build. Rest is almost completed

[2022-09-05 20:02] shawnborton commented on #10181
Got it, thank you! I would think hitting enter would keep you focused into that field - if you want to go to the next one, you would need to hit tab.

[2022-09-05 20:04] shawnborton commented on #10822
Correct. I also don't see a link to Slack conversation @kbecciv - can we make sure there is a Slack conversation before reporting these bugs? Thanks!

[2022-09-05 20:04] #10822 closed

[2022-09-05 20:13] jayeshmangwani commented on #9579
### Proposal

Changes need to be done on the BankAccountStep page

replaced form component with Form.js
added keys to ONYXKEYS.FORM and passed to the Form.js
created 2 functions according to the latest Form.js requirements `validate` an `onSubmit`
updated input fields according to guideline that is accessible from #9056
removed unused code

https://github.com/Expensify/App/blob/11761bea9de7604febd

[2022-09-05 20:43] kbecciv opened #10826 "[$250] Android - App crashed when try to split bill for group."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open App and login with HT account
2. Go to any group
3. Tap on [+] and select split bill
4. Tap on select and deselect the pa

[2022-09-05 20:45] OSBotify commented on #10826
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-05 21:34] syedsaroshfarrukhdot commented on #10283
@Santhosh-Sellavel  @neil-marcellini As you both were able to reproduce it with new steps and resolve it with my proposed solution. So are we going forward with my Proposal at https://github.com/Expensify/App/issues/10283#issuecomment-1231877199 as i don't think it is anything to computedHeight as i provided a static number to computedHeight it to check if it resolves the issue but it didn't.  It

[2022-09-05 21:41] mananjadhav commented on #10705
We have a conflicting issue. In the current issue we're saying it should go to the search bar using arrow keys, but in this issue https://github.com/Expensify/App/issues/10127, we're saying it should rotate back to the first/last item in the list?

[2022-09-05 22:34] chiragsalian commented on #10825
Not really a blocker. I think this is fine since we'll now allow updating the workspace name optimistically even when offline so this seems normal to me. cc @neil-marcellini as well since you made this change.

I tested on staging and it looks good to me as is.

[2022-09-05 22:56] chiragsalian commented on #10821
Ah poop, the mistake is [here](https://github.com/Expensify/App/pull/10374/files#diff-9d527d65213f52fe1136ce113e7601e11bef8a50a22e0472786406a13a81faefR36) where we forgot to think about migration to support older data. cc @amyevans.

We could push up a fix to support the older data but I think maybe it's better to push forward and CP these two,
https://github.com/Expensify/App/pull/10692, and
http

[2022-09-05 23:33] mallenexpensify commented on #10803
@aldo-expensify, should this be on hold? Not seeing in title

[2022-09-05 23:37] mallenexpensify commented on #9091
Reopening cuz some version of this has happened to me the past few weeks.  I'll _try_ to not update the app for a couple days then see if I can get repro steps

[2022-09-05 23:38] mallenexpensify commented on #7860
@AndrewGable , can you provide an update?

[2022-09-05 23:39] mallenexpensify commented on #7121
@stitesExpensify can you review the PR, been quite a while https://github.com/Expensify/App/pull/8342#issuecomment-1208242997

[2022-09-05 23:44] mallenexpensify commented on #6301
@tgolen , can you chime in about releasing payment plz.  Looks like the PR hit staging but never production, so I'm a bit confused. Also, the title never auto-updated.
https://github.com/Expensify/App/pull/8511#issuecomment-1205798075

[2022-09-05 23:54] mallenexpensify commented on #9234
PR is actively being worked on https://github.com/Expensify/App/pull/9441

[2022-09-05 23:56] kbecciv opened #10828 "mWeb - Global Unread Indicator - Global Unread Indicator doesn't decreases"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10739

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2.

[2022-09-05 23:58] OSBotify commented on #10828
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-06 00:05] kbecciv opened #10829 "Android - Global Unread Indicator - There is no Global Unread Indicator in Android App"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10739

## Action Performed:
1. Launch the app
2. Login with any account (User

[2022-09-06 00:06] OSBotify commented on #10829
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-06 00:10] kbecciv opened #10830 "[Keyboard Initiative] mWeb/safari -Chat - When creating a new group the keyboard randomly disappears"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
. Navigate to staging.new.expensifail.com
2. Log in with expensifail account
3. Tap the green + button
4. Click on the "New group

[2022-09-06 02:16] Santhosh-Sellavel commented on #10770
Yes @pecanoro

[2022-09-06 02:40] songlang1994 commented on #8311
I'm in the same situation as above. Could you please invite me too?

Email: songlang1994@outlook.com

[2022-09-06 02:53] mvtglobally commented on #8597
Issue not reproducible during KI retests. (Second week)

[2022-09-06 02:56] mvtglobally commented on #8929
Issue not reproducible during KI retests. (Second week)

[2022-09-06 02:59] mvtglobally commented on #9123
Issue not reproducible during KI retests. (Second week)

[2022-09-06 03:00] mvtglobally commented on #9283
Issue not reproducible during KI retests. (First week)

[2022-09-06 03:01] mvtglobally commented on #9541
Issue not reproducible during KI retests. (Third week) Closing

[2022-09-06 03:01] #9541 closed

[2022-09-06 03:02] mvtglobally commented on #9938
Issue not reproducible during KI retests. (Second week)

[2022-09-06 03:05] mvtglobally commented on #8292
Issue not reproducible during KI retests. (First week)

[2022-09-06 03:09] mvtglobally commented on #9823
Issue not reproducible during KI retests. (Second week)

@michaelhaxhiu Not sure why this is not consistently repro, maybe it is device specific or smth. We have different testers running validations each time, so devices might differ

[2022-09-06 03:10] mvtglobally commented on #9979
Issue not reproducible during KI retests. (First week)

[2022-09-06 03:11] mvtglobally commented on #10198
Issue not reproducible during KI retests. (Third week)

[2022-09-06 03:14] mvtglobally commented on #10404
Issue not reproducible during KI retests. (First week)

[2022-09-06 03:15] mvtglobally commented on #10410
Issue not reproducible during KI retests. (First week)

[2022-09-06 03:17] mvtglobally commented on #9332
Issue not reproducible during KI retests. (Second week)

[2022-09-06 03:18] mvtglobally commented on #10186
Issue not reproducible during KI retests. (Third week). Are we ok to close?

[2022-09-06 03:18] mvtglobally commented on #10187
Issue not reproducible during KI retests. (Third week) Are we ok to close?

[2022-09-06 03:37] mvtglobally commented on #10292
@mountiny You are right, its repro. It doesn't happen with all emojis it seems, so team got a bit confused with flags

[2022-09-06 03:39] mvtglobally commented on #10350
Issue not reproducible during KI retests. (Second week)

[2022-09-06 03:40] mvtglobally commented on #10352
Issue not reproducible during KI retests. (Second week)

[2022-09-06 03:43] mvtglobally commented on #10359
@mountiny This week team is not able to repro. Not sure if this is device specific issue.
Issue not reproducible during KI retests. (Second week)

[2022-09-06 03:44] mvtglobally commented on #10521
Issue not reproducible during KI retests. (First week)

[2022-09-06 03:46] mvtglobally commented on #10524
Issue not reproducible during KI retests. (First week)

[2022-09-06 03:47] mvtglobally commented on #10535
Issue not reproducible during KI retests. (First week)

[2022-09-06 03:48] mvtglobally commented on #10584
Issue not reproducible during KI retests. (First week)

[2022-09-06 03:49] mvtglobally commented on #10607
Issue not reproducible during KI retests. (First week)

[2022-09-06 04:11] mananjadhav commented on #10535
@mvtglobally I am still able to reproduce this on iOS 14.4. I can see the previous dev screenshot was also from iOS 14.4. So you might want to take a look at the older versions maybe?

<img width="442" alt="image" src="https://user-images.githubusercontent.com/3069065/188545211-f793e4a8-90e1-4316-b30b-473398f96686.png">

---

Quick update is that I was finally able to reproduce and I've reviewed t

[2022-09-06 04:24] mvtglobally opened #10831 "[$250] Red dot is missing on workspace settings page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Do Onyx.merge('policy_8C6BF17C3E92D600', {pendingAction: 'add', errorFields: {avatar: {1: 'This is an error'}}}); in the cons

[2022-09-06 06:41] mananjadhav commented on #9579
@jayeshmangwani Your proposal looks good to me. I've got some concerns with `inputID: undefined`, but I feel small kinks can be handled during the PR Review.

🎀 👀 🎀 
C+ reviewed

@luacmartins @iwiznia All yours.

[2022-09-06 06:45] mananjadhav commented on #10516
@MonilBhavsar Do we need anything else from @aimane-chnaif? Are we good to hire them?

[2022-09-06 06:55] #9504 closed

[2022-09-06 06:55] mananjadhav commented on #7470
PR under review and in final stages of approval.

[2022-09-06 06:57] thesahindia commented on #10831
### Proposal

We are checking wrong key for errors ( `avatarURL` )
https://github.com/Expensify/App/blob/a944496cfd9cd21b799c82a8128964b05dd50b42/src/pages/workspace/WorkspaceInitialPage.js#L85

We have to check replace it with `avatar`

[2022-09-06 07:16] vladnobenladen commented on #10705
I don't think this is issue.
To reproduce it, user manually needs to blur input by clicking somewhere.
By default, input is focused. And pressing arrow up/down keys doesn't affect input focused status.
While pressing arrows and middle item is highlighted, input is still focused and user is still able to type keyword.

This is how it looks after https://github.com/Expensify/App/issues/10127 is fixe

[2022-09-06 07:40] roryabraham commented on #9020
Still not prioritizing over other N7 issues

[2022-09-06 07:46] bfitzexpensify commented on #10356
@mananjadhav do you think the manual approach is fine or should we try to find another solution?

[2022-09-06 07:48] roryabraham commented on #9293
No update here – will try to prioritize by EOW, but otherwise will do in 2-3 weeks at the earliest if anyone else wants to grab this.

[2022-09-06 07:48] bfitzexpensify commented on #10731
@Santhosh-Sellavel some proposals for you to review above

[2022-09-06 07:49] roryabraham commented on #8612
Still not a priority, going to drop this in case anyone else wants to work on it

[2022-09-06 07:51] roryabraham commented on #8612
Actually, I'm just going to close this, because I don't think it's worth fixing. If anyone feels strongly otherwise, feel free to reopen

[2022-09-06 07:51] #8612 closed

[2022-09-06 08:01] amyevans commented on #10821
cc @jasperhuangg as well since looks like there's more conflicts when trying to merge `main` into your App branch in https://github.com/Expensify/App/pull/10557

[2022-09-06 08:11] roryabraham commented on #10273
No update here yet, but looking forward to working on this. Fortunately `useAnimatedKeyboard` was [released](https://github.com/software-mansion/react-native-reanimated/releases) in `2.10` so upgrading to a `3.0` beta release is no longer a prerequisite of doing this

[2022-09-06 08:31] roryabraham commented on #7094
I think @neil-marcellini was looking into a related issue last week?

[2022-09-06 08:32] roryabraham commented on #4629
Still on HOLD for an issue that's in planning. Adding the planning label

[2022-09-06 08:36] mananjadhav commented on #9391
@mollfpr More than that they cannot come back, the comment here is that `At 0:32, ...+32... is in the chat window but not in LHN.`

If I am on a chat, it should show up in LHS. I hope it helps setting up the expectation.

[2022-09-06 08:37] tgolen commented on #9402
Are there any standard best practices for react native apps when it comes to loading/caching images?

I am concerned about using a temporary in-memory cache for this because it is only going to live as long as the memory of the app (which can be all over the place).

[2022-09-06 08:40] roryabraham commented on #9578
No proposals here yet. Posted it as a potential internal FP: https://expensify.slack.com/archives/C03TQ48KC/p1662452568740989

[2022-09-06 08:42] mananjadhav commented on #10356
@bfitzexpensify I started an internal thread [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1662447325583099). I've tagged you.

[2022-09-06 08:44] liyamahendra commented on #9234
I've already received payment for this issue as it got auto approved by Upwork - JFYI.
Is there anything I need to do - asking as this is among the very first issues I've worked with Expensify.

[2022-09-06 08:45] liyamahendra commented on #9234
@luacmartins @marcochavezf @kevinksullivan ^^

[2022-09-06 08:46] Christinadobrzyn commented on #10770
Sounds good - closed the job in Upwork and closing this GH as a dupe of https://github.com/Expensify/App/issues/4612

[2022-09-06 08:46] #10770 closed

[2022-09-06 08:47] luacmartins commented on #10618
This should be fixed! Closing.

[2022-09-06 08:47] #10618 closed

[2022-09-06 08:47] kadiealexander commented on #7962
Strange, for me it is showing that the contracts were ended by you both. I'll reissue a new contract now and once you've accepted I'll issue payment. Sorry for the confusion here!

[2022-09-06 08:51] bondydaa commented on #10785
was focused on something else yesterday, working on finalizing my PRs today for this.

[2022-09-06 08:52] tylerkaraszewski commented on #10735
Seems like an obvious external issue.

[2022-09-06 08:53] luacmartins commented on #9579
@jayeshmangwani proposal looks good. I'll let @iwiznia make the final call since he's the CME assigned to the issue.

[2022-09-06 09:00] Gonals commented on #10187
Yeah! Let's do it

[2022-09-06 09:00] #10187 closed

[2022-09-06 09:02] jayeshmangwani commented on #10665
@Beamanator Thanks for the update,

@NicMendonca I have applied at Upwork.

[2022-09-06 09:06] mountiny commented on #10292
Correct as the Issue body says:

It is few flags 😄 hence this is monthly

[2022-09-06 09:10] neil-marcellini commented on #10828
I'm removing my assignment for #focus.

[2022-09-06 09:10] marcaaron commented on #10829
There isn't an unread indicator in the android app?

[2022-09-06 09:10] #10829 closed

[2022-09-06 09:13] marcaaron commented on #10828
This is most likely reproducible on production. And I am pretty sure it is a Chrome browser bug. Gonna remove the Deploy Blocker since it isn't something that needs to block the deploy.

[2022-09-06 09:15] grgia commented on #9578
I'm going to work on this as an internal issue

[2022-09-06 09:16] mananjadhav commented on #9391
I didn't understand your comment, @mollfpr.  Let explain with the given video in the previous comment. Basically you created a group chat and it's an empty group chat. Now the expectation is, once you refresh the active chat and it is empty, it shouldn't disappear/get removed from the LHS or the Main chat view. It should retain the empty chat and still show up in the LHS.

---

But assume that I s

[2022-09-06 09:17] tylerkaraszewski commented on #10626
Unassigning myself after reproducing the issue. I think this is an internal issue.

[2022-09-06 09:22] Gonals commented on #10352
Two weeks and no issue. Let's close this!

[2022-09-06 09:22] madmax330 commented on #10771
closing this since it looks like no one was able to reproduce

[2022-09-06 09:22] #10771 closed

[2022-09-06 09:24] Christinadobrzyn commented on #10187
Closed the job in Upwork. @rushatgabhane please feel free to let me know if you did any work on this issue that should be compensated. Thanks!

[2022-09-06 09:25] ctkochan22 commented on #10410
So long as its `contain` the full image will be visible, but it wont expand if the resolution is large.

I also think this isn't worth too much effort. Lets switch it to only `contain` and go from there. If we don't like it, we can address it later

[2022-09-06 09:26] ctkochan22 commented on #10410
@dylanexpensify can we get a upwork job created and give it to @kakajann . Should be a super easy change and quick reivew/merge

[2022-09-06 09:30] luacmartins commented on #10826
I can't reproduce this. @kbecciv can you check that the issue is consistently reproducible?

[2022-09-06 09:35] marcaaron commented on #10025
This hasn't happened for 6 days so I am going to close it and we'll go from there.

[2022-09-06 09:35] #10025 closed

[2022-09-06 09:42] mollfpr commented on #9391
@mananjadhav I think the case that you mention is on the web, how about the mweb?

[2022-09-06 09:46] luacmartins commented on #10825
I agree that this is not a blocker since it's just UI and doesn't prevent the user from using the App. I was also not able to reproduce this locally. Removing the blocker label.

[2022-09-06 09:51] Gonals opened #10833 "Test issue"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-09-06 09:52] Gonals commented on #10833
Testing. Done!

[2022-09-06 09:52] #10833 closed

[2022-09-06 09:57] kidroca commented on #9402
I think the current issue is solely focused on fixing the upload experience and misses an opportunity to address a broader problem

Instead of a temporary map that only servers to cover attachment uploads, we can do the following

#### Let the `Image` component handle rendering
1. We're trying to render a report action containing an image
2. The `Image` component first checks if we have a local co

[2022-09-06 09:59] aldo-expensify commented on #10803
I don't think so. I was talking about the HOLD in the PRs that depend on other PRs, no this GH issue.

[2022-09-06 10:09] #9332 closed

[2022-09-06 10:12] neil-marcellini commented on #10825
Was cellular data turned off when "going offline"? The offline indicator did not appear. @kbecciv can you please try again and make sure that cellular data is off?

[2022-09-06 10:13] neil-marcellini commented on #7094
@roryabraham not to my knowledge. Which related issue?

[2022-09-06 10:18] puneetlath commented on #10738
External Upwork job: https://www.upwork.com/jobs/~0145eb26d3c4092442
Internal Upwork job: https://www.upwork.com/ab/applicants/1567094665515032576/job-details

[2022-09-06 10:18] arielgreen commented on #8311
@songlang1994 @b1tjoy please link your Upwork profile as well. You can access it by clicking your avatar in the upper right corner then clicking your name in the upper right corner, it'll look like: https://www.upwork.com/freelancers/%5C%5C%5C%5C%5C%5C%5C%5C~019c6cd28a0575c222

[2022-09-06 10:26] trjExpensify commented on #9331
@Tushu17 - offer sent.

[2022-09-06 10:28] stitesExpensify commented on #10828
I agree with @marcaaron assessment. Additionally, this is probably the same bug we have on desktop and will be fixed with the new reportActionIDs

[2022-09-06 10:29] trjExpensify commented on #9123
Offers sent to @thesahindia & @Tushu17.

[2022-09-06 10:38] luacmartins commented on #10821
@amyevans do you wanna take this blocker over from Chirag, since you seem to know how to fix it?

[2022-09-06 10:39] iwiznia commented on #9579
Yeah, maybe let's use `null` instead of `undefined` in both places?
Anyway, proposal looks good, @dylanexpensify can you hire @jayeshmangwani please?

[2022-09-06 10:42] trjExpensify commented on #9123
@thesahindia - paid!

[2022-09-06 10:47] tgolen commented on #6301
I know the comments were broken for one deploy cycle, maybe that's what got messed up here. I just checked production and the feature is definitely there, so I think we are fine to move forward with payment.

[2022-09-06 10:50] tgolen commented on #9402
Yes, thanks! That's much more inline with what I think a true fix would be
for this and sounds like what I would expect to happen.

On Tue, Sep 6, 2022 at 10:57 AM Peter Velkov ***@***.***>
wrote:

[2022-09-06 10:52] dylanexpensify commented on #10410
internal: https://www.upwork.com/ab/applicants/1567103025183875072/job-details
external: https://www.upwork.com/jobs/~0140cd4b0b98c2f40a

@kakajann I also invited you to apply!

[2022-09-06 10:53] dylanexpensify commented on #10410
@ctkochan22 should I put `exported` and grab a C+? Or just get @kakajann paid out?

[2022-09-06 10:53] arielgreen commented on #8311
@b1tjoy you should be added shortly

[2022-09-06 10:55] ctkochan22 commented on #10410
Slap an exported label and I'll approve the proposal

[2022-09-06 10:57] Julesssss commented on #10186
Yep, let's close it 👍

[2022-09-06 10:57] #10186 closed

[2022-09-06 11:00] Julesssss commented on #10829
Yeah, this doesn't sound like a bug. @kbecciv is this issue suggesting that we don't have an unread counter on the app icon like iOS does?

[2022-09-06 11:02] dylanexpensify commented on #9579
you got it @iwiznia !

[2022-09-06 11:02] dangrous commented on #10830
Updating this to external, weekly. Only outstanding question is to confirm which platforms it's happening on (since this lists Web, Desktop App, which are platforms without a virtual keyboard to disappear - we should make sure the list is correct to make testing possible).

[2022-09-06 11:02] thienlnam commented on #10830
I think we have a bug where the labels are being overwritten after adding certain labels - putting it back to weekly

[2022-09-06 11:03] Julesssss commented on #10821
Bumping @amyevans. But I can also take over this as I'll be working on deployers until we release today.

[2022-09-06 11:05] dylanexpensify commented on #9579
internal: https://www.upwork.com/ab/applicants/1567106393688772608/job-details
external: https://www.upwork.com/jobs/~0175e44edb7543d8d6

@jayeshmangwani can you apply here ^? That way I can get you hired! (Same for @mananjadhav!)

[2022-09-06 11:05] sketchydroide commented on #9973
Will try to look at this in this week

[2022-09-06 11:08] Julesssss commented on #10826
Also unable to reproduce this with a few different groups of varing sizes.

[2022-09-06 11:08] Julesssss commented on #10826
@kbecciv would you mind explaining what you mean by a HT account?

[2022-09-06 11:09] Julesssss commented on #10808
Two blockers, but they don't seem too problematic. Will chase up the iOS build and work on the blockers after lunch

[2022-09-06 11:10] amyevans commented on #10821
We'll need to cherry pick https://github.com/Expensify/App/pull/10557, but it needs to be updated with `main` first and then I can review again before we ship it. Does that plan sound okay? Going to comment in the PR

[2022-09-06 11:14] bakhtiar120 commented on #10738
Can i work for this? i have experience create some form use react native. Thank you

[2022-09-06 11:22] trjExpensify commented on #9123
@Tushu17 - paid! Closing this out. Thanks everyone! 🎉

[2022-09-06 11:22] #9123 closed

[2022-09-06 11:24] Tushu17 commented on #9413
@arielgreen Payment is still pending on this issue.

[2022-09-06 11:35] ntdiary commented on #9620
Hi @Santhosh-Sellavel , I've updated form migration detail to the [proposal](https://github.com/Expensify/App/issues/9620#issuecomment-1228277931) if needed. 🙂
this is the [commit](https://github.com/ntdiary/App/commit/a3632d42fff939d06d5915910a5d6fbb69fe5607).
In addition, the keyboard flickers when navigating back on android. (main branch)
This commit is also trying to fix this issue.

before:

[2022-09-06 11:35] Luke9389 commented on #10704
bump @jasperhuangg

[2022-09-06 11:49] luacmartins commented on #10826
@Julesssss I think that means high traffic

[2022-09-06 11:52] mananjadhav commented on #9391
Hence I mentioned if the empty chat is not active and the page is refreshed we remove the chat. This would work for mWeb too. What are your thoughts @michaelhaxhiu @MonilBhavsar

[2022-09-06 11:59] aldo-expensify commented on #10653
I'm pretty sure that this is happening because of this code:

https://github.com/Expensify/Web-Expensify/blob/1ee6395cec9e9174aa694fdd9629440a7b05c7a6/lib/AppInit.php#L123-L131

The domain room is already available for new users we create under the domain, then miss creating the Concierge chat because `Auth::getChats` returns this chat

I created a draft PR, I'll test it further and make it ready

[2022-09-06 12:00] Tushu17 commented on #9331
@trjExpensify offer accepted. Thank you.

[2022-09-06 12:08] dylanexpensify commented on #10410
offer sent @kakajann!

[2022-09-06 12:08] jasperhuangg commented on #10704
Hey! I can't seem to reproduce this.. could it be because the internet connection was poor and it was taking a while to load the image from s3? @Luke9389

https://user-images.githubusercontent.com/31285285/188626858-b0162336-a3de-4b0b-a4c1-11f1a2974e83.mov

https://user-images.githubusercontent.com/31285285/188627690-859d8c39-e067-494d-b549-3b8a829f42d2.MP4

[2022-09-06 12:14] Luke9389 commented on #10704
I think that vid you posted of your phone is a reproduction of the issue. The avatar turned grey for a brief moment there.

[2022-09-06 12:18] songlang1994 commented on #8311
@arielgreen Upwork profile: https://www.upwork.com/freelancers/~018c1e5b7b47a9c2c0

[2022-09-06 12:19] Luke9389 commented on #10704
I'll investigate whether this can be a front end only change. My hunch is that it will be, because the network will likely never be so fast that it's unnoticeable, and we already have the image on the device, so we should be able to display the image continuously.

[2022-09-06 12:22] arielgreen commented on #8592
https://expensify.slack.com/archives/C02NK2DQWUX/p1662463071985089?thread_ts=1659432359.765889&cid=C02NK2DQWUX

[2022-09-06 12:24] jasperhuangg commented on #10704
@Luke9389 that's actually expected to happen, that's the Avatar component switching briefly between the local file and the file in the URL.

[2022-09-06 12:31] techievivek commented on #10766
I am down with a fever today, I will check it tomorrow once I come online. Thanks

[2022-09-06 12:35] Luke9389 commented on #10704
I see. So I think that's the "issue" being reported here. I wonder if there is a way to eliminate that grey period. Perhaps we only switch the avatar source upon loading the next view or something. We could have a contributor look into it, but idk, do you think this is worth keeping open?

[2022-09-06 12:36] arielgreen commented on #8311
done

[2022-09-06 12:36] AndrewGable commented on #10802
For @mananjadhav - It seems like `issue_comment` is not running.

[2022-09-06 12:43] kbecciv commented on #10829
@Julesssss @marcaaron Yes, there is no indicator in the Android app. I can check IOS app with build 1.1.96.5 (not update it yet to 1.1.97.2)

[2022-09-06 12:44] marktoman commented on #9402
There are two challenges:
1. Loading from the remote URL (the loading icon)
2. Replacing the local image instance with a new image instance coming from the server (content flash)

Your overview covers 1., but not 2. The 2. point was more time-consuming and it is different for each platform. You can take it from my solution.

[2022-09-06 12:45] kbecciv commented on #10825
@neil-marcellini Checking with team, will update you shortly.

[2022-09-06 12:46] Luke9389 commented on #10579
I agree that we should go with @sobitneupane's proposal. Go ahead and create a PR @sobitneupane.
Thank you @sobitneupane, @Puneet-here, @varshamb, @theTrozen77 for your proposals!

@Puneet-here your proposal would work, but I like that @sobitneupane's fixes the problem at the source (the `splitExtensionFromFileName` function).

@theTrozen77 & @Puneet-here, please try to refrain from openly critici

[2022-09-06 12:49] arielgreen commented on #8846
https://expensify.slack.com/archives/C02NK2DQWUX/p1662468554657719

[2022-09-06 12:52] kbecciv commented on #10825
@luacmartins @neil-marcellini Not able reproduced with build 1.1.97.2

https://user-images.githubusercontent.com/93399543/188639962-54d4c26e-5ede-4ca6-aef4-e824c4f55244.mp4

[2022-09-06 12:55] kbecciv commented on #10826
@Julesssss Yes, it means high traffic account.

[2022-09-06 12:57] Puneet-here commented on #10579
Cool, will remember next time.

[2022-09-06 13:02] AndrewGable commented on #10802
Never mind- Looks like actually everything is working from what I can see.

@mananjadhav for your issues:
1. https://github.com/Expensify/App/pull/10769#pullrequestreview-1096909501 is passing ✅
2. https://github.com/Expensify/App/pull/10455#issuecomment-1234626155 is passing ✅
3. https://github.com/Expensify/App/pull/10503#issuecomment-1237417889 was using an outdated checklist. Updated it to the

[2022-09-06 13:02] jasperhuangg commented on #10704
Not really, because that's how the behavior was when I was working on the PR, and the PR was reviewed and approved in that state. I don't think this is a bug as much as a flaw with our design. Maybe we can create a follow up issue to work on? But I think that's not as much as a priority now.

@Luke9389

[2022-09-06 13:05] mananjadhav commented on #10802
Ohh thanks for checking this out @AndrewGable.

[2022-09-06 13:07] luacmartins commented on #10825
Cool, thanks for confirming! gonna close this issue!

[2022-09-06 13:07] #10825 closed

[2022-09-06 13:17] Luke9389 commented on #10704
OK, I think before closing this I'll bring it up in Slack to see if anyone has additional thoughts on what we should do with this issue. Thanks for chiming in @jasperhuangg!

[2022-09-06 13:20] jasperhuangg commented on #10704
For sure! I think @Beamanator would be a good person to ask since he wrote the DD. Thanks for including me :)

[2022-09-06 13:25] dylanexpensify commented on #10410
Payment sent, contract closed, posting removed!

[2022-09-06 13:27] mananjadhav commented on #10410
@dylanexpensify A bit confused here, is C+ required here? and PR is not merged yet it says Payment sent.

Quick note, I went through the history, I'll review the PR today in a few hours(if it still needs a review).

[2022-09-06 13:29] tgolen commented on #9402
My understanding of what @kidroca was saying is that this would no longer happen. We shouldn't ever be switching out a locally cached image with an instance coming from the server. If it's fetched from the server, it's because there is no local image.

[2022-09-06 13:43] Julesssss commented on #10821
Just wanted to check that this is necessary. As if we merge`main` wouldn't your PR include a bunch of unwanted commits when we CP?

[2022-09-06 13:44] Julesssss commented on #10826
Thanks. Will ask for someone with a HT account to verify on staging.

[2022-09-06 13:44] Julesssss commented on #10808
The iOS release is blocked, but this is being resolved internally. Will share an update later.

[2022-09-06 13:52] kbecciv commented on #10826
@Julesssss I checked with team this morning, and issue is still reproduceable in tester's high traffic account after clear cookies and cache.
![Screenshot_20220906-082825 (1)](https://user-images.githubusercontent.com/93399543/188652690-f69a7b3a-6849-477c-a21b-6050bd4f03d2.png)

[2022-09-06 13:53] marktoman commented on #9402
When the user adds an image, a locally created element is added at the end of the chat. Once the server receives the image content, it sends a new chat HTML that contains the new image. I am not sure how is the locally created element preservable in the stream of new messages.

[2022-09-06 13:57] trjExpensify commented on #9331
@Tushu17 - paid. Closing this out! 🎉

[2022-09-06 13:57] #9331 closed

[2022-09-06 14:03] jayeshmangwani commented on #9579
@dylanexpensify Applied 🚀

[2022-09-06 14:04] Julesssss commented on #10826
Asked in Slack for someone to verify. Will return to this once I resolve the Apple cert issue

[2022-09-06 14:13] #10802 closed

[2022-09-06 14:15] AndrewGable commented on #10808
Agreed ☝️

[2022-09-06 14:16] Luke9389 commented on #10704
Putting a hold on this issue until there's a clear, testable resolution here: https://github.com/Expensify/App/issues/9402

[2022-09-06 14:35] roryabraham commented on #7094
Oh, my bad ... it was @MonilBhavsar

[2022-09-06 14:42] Julesssss commented on #10826
This is [inconsistently reproducible ](https://expensify.slack.com/archives/C01GTK53T8Q/p1662473584218879?thread_ts=1662472974.690489&cid=C01GTK53T8Q) and only for Android users with high traffic accounts.

So I'm removing the deploy blocker label.

[2022-09-06 14:44] Julesssss commented on #10808
I removed [10826](https://github.com/Expensify/App/issues/10826) as a blocker because it is only affecting high-traffic Android devices, and even then has not been reproduced by us yet. Made the issue external and we'll continue to investigate.

[2022-09-06 14:46] stitesExpensify commented on #7121
Okay so I refreshed myself on the PR and we are having performance issues with the solution. This seems like a very difficult problem to solve, and I don't think that it is worth fixing.

IMO we should close this and pay @parasharrajat for his time. It's not a glaring issue and is not significantly affecting user experience. Thoughts @mallenexpensify

[2022-09-06 14:50] puneetlath commented on #10627
Let's show it based on the discussion [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1662461482336989).

[2022-09-06 15:06] Santhosh-Sellavel commented on #10622
Will review this today/tomorrow.

[2022-09-06 15:09] #10521 closed

[2022-09-06 15:11] marcaaron commented on #7737
Yes!

[2022-09-06 15:17] Santhosh-Sellavel commented on #10731
@bfitzexpensify Thanks for the bump, But I'm following the discussions and proposals.

Will post my comments by tomorrow.

[2022-09-06 15:19] puneetlath commented on #10621
Hm, I'm not able to reproduce this. Are you @zanyrenney?

[2022-09-06 15:19] mollfpr commented on #9391
@mananjadhav I believe the root cause for the web is on the navigation after `navigateBackToRootDrawer` and push.

As you can see in the video the previous chat is `95514772` and after the search page closes it's redirected to the new report which is `321863905029571` but got redirected again to the previous chat. In this case, if you refresh the browser, the chat group will disappear because the

[2022-09-06 15:43] AndrewGable commented on #7860
Same update as @roryabraham provided here: https://github.com/Expensify/App/issues/7925#issuecomment-1227920741

[2022-09-06 15:55] flodnv commented on #10329
@Santhosh-Sellavel what are your thoughts on these latest proposals?

[2022-09-06 16:13] dylanexpensify commented on #10410
@mananjadhav ah this is my fault, I thought we needed to create/assign the job and pay it out, but I see we needed to wait for review and merge. Please proceed as normal with review when you can! cc @ctkochan22

[2022-09-06 16:19] MitchExpensify commented on #8929
Scratch the doubling next step.. this hasn't been reproducible for 2 weeks - closing

[2022-09-06 16:23] mmjindal2555 commented on #10523
RCA:
 - The password fields are not getting highlighted based on the form submit ,i.e., on error response of Auth API that validates current password.
Proposal:
 - on change of Props(after receiving API response), if there is an error referring to the "old password" -> we can update a state variable which will help us to highlight the "Current Password" text field.

 Proposal -
[code]

[code]
[cod

[2022-09-06 16:26] MitchExpensify commented on #10510
Did you get a chance to check the proposal out @ctkochan22 ?

[2022-09-06 16:28] MitchExpensify commented on #7968
@Santhosh-Sellavel do you agree with @mdneyazahmad 's points above?

[2022-09-06 16:38] Julesssss commented on #10829
By 'In the Android app', do you mean while the app is opened, in the List of user chats? Or in the Android OS Home Screen, where you see the app icons? Because if it's the latter then there's no bug here. Android has notification badges, which uses notifications to show a dot on the icon, but the count that iOS has is not supported by Android.

[2022-09-06 16:40] Julesssss commented on #10808
I just finished updating the Apple certs and provisioning profile, and we're awaiting the CP to see if the iOS build is successfull. This will hopefully unblock iOS Applause testing soon 🤞

[2022-09-06 16:44] neil-marcellini commented on #10725
Discussing with @tgolen.

[2022-09-06 16:46] Julesssss commented on #10821
We'll get back to this tomorrow once the provisioning build has been confirmed to be working.

[2022-09-06 16:48] mananjadhav commented on #8929
@MitchExpensify Afaik the issue is reproducible on smaller devices. Also the `Add Payment Button` is inconsistent with the rest of the UIs where we dock the button at the bottom.

[2022-09-06 16:48] mananjadhav commented on #10410
Thanks for clarifying. I'll get to it in sometime.

[2022-09-06 17:13] mallenexpensify commented on #9578
Done! Job removed

[2022-09-06 17:16] twisterdotcom commented on #10628
Okay, I finally got around to trying to reproduce today and could not with these steps on the latest build:

Is this still an issue @gadhiyamanan

https://user-images.githubusercontent.com/9133401/188698472-515c0201-cfb3-441b-b869-43609ea99621.mp4

[2022-09-06 17:17] twisterdotcom commented on #10628
What's weird about the flow I was trying to replicate is that I couldn't do it without an email already added - how is that the case from the OP video?

[2022-09-06 17:27] gadhiyamanan commented on #10628
@twisterdotcom yes, still able to reproduce sometimes https://user-images.githubusercontent.com/54790231/188700881-f7f0cc1e-6fa1-40af-a346-db09a19a0874.mp4

[2022-09-06 17:38] JosueEchandiaAsto commented on #8929
Oh, I'm so sorry!. I was focused on other projects, and I think I accidentally disabled issue notifications.
If that's all right, I want to finish this build and send a PR update in tomorrow for review.

[2022-09-06 17:41] twisterdotcom commented on #10628
Okay, sending to engineering to see if even want this to be fixed right now as per https://stackoverflow.com/c/expensify/questions/4319/8577#8577

[2022-09-06 19:12] kavimuru commented on #10550
@AndrewGable Able to reproduce in Android (1.1.97-2).  iOS build is still 96.5 and able to reproduce.

https://user-images.githubusercontent.com/43996225/188719348-8a3137e1-6b6d-40ed-9e05-f0ac58e620b2.mp4

[2022-09-06 19:39] Julesssss commented on #10808
Unfortunately, I ran into a different error when running the CP. I wonder if it would make sense to begin a regression test on all platforms excluding iOS in the meantime, to save a bit of time tomorrow?

[2022-09-06 19:46] Julesssss opened #10846 "Resolve issue with Github CP Action"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
- Attempt to CP a PR

## Expected Result:
- The CP workflow should succeed

## Actual Result:
- The CP workflow [failed](https://

[2022-09-06 19:47] Julesssss commented on #10846
Sorry @CortneyOfstad, I meant to remove that label. There's nothing for you to do here so I unassigned you.

[2022-09-06 19:51] Julesssss commented on #10846
This could still be a temporary Github issue, so I'll retry one more time tomorrow morning. If the error still occurs I'll need to treat this as a fire and find a way around this check.

[2022-09-06 19:51] Julesssss commented on #10808
Created a new issue for the CP issue [here](https://github.com/Expensify/App/issues/10846#issuecomment-1238585892)

[2022-09-06 19:54] mvtglobally commented on #10808
@Julesssss All other platforms are done, we are just waiting for IOS to finish this run

[2022-09-06 19:57] Julesssss commented on #10808
Ah that's great, I hadn't had a chance to review individual issues. In that case there's nothing else we can do until tomorrow morning, unfortunately. I'll be treating the iOS release blocker as a fire and will give you an update as soon as possible!

[2022-09-06 20:36] shawnborton commented on #10181
Fair point... I think we'd want to try to optimize for platform parity though, so in this case, I would think we'd follow web/desktop. Thoughts?

[2022-09-06 20:51] #10404 closed

[2022-09-06 21:17] vinicius-grandi commented on #10693
# Proposal

Just use preventDefault on pressOut event (which would normally cause focus on button). The side effect is that prevents the click event as well, so to solve this, fire click event manually.

**_src/components/BigNumberPad.js_**
[code]

[2022-09-06 23:03] mallenexpensify commented on #10735
Job posted!
https://www.upwork.com/jobs/~01701cf5ba42d64e2a

[2022-09-06 23:13] shykh515 commented on #10735
Yes i can solve it

[2022-09-06 23:15] mallenexpensify commented on #7121
Man... after 8 months, I'm not sure.  That said, I haven't heard much chatter about this being an issue so closing is likely fine.  Getting a[ gut check in #expensify-open-source,](https://expensify.slack.com/archives/C01GTK53T8Q/p1662505982217269?thread_ts=1641522811.073200&cid=C01GTK53T8Q) Shawn (one of our designers) suggests :donothing: so I have a feeling we'll close this tomorrow and pay @pa

[2022-09-06 23:32] syedsaroshfarrukhdot commented on #10731
After testing `this.props.reportActions` i figured out it is nothing to do with `this.props.reportActions` it return always correct value the issue lies with autofocus props of the composer which if `true`, focuses the input on `componentDidMount` and didn't update the focus on `componentDidUpdate` as it is the default behavior of the autofocus props as it takes value always `componentDidMount`. S

[2022-09-06 23:37] mallenexpensify commented on #6301
Thanks @tgolen

Paid @Tabakharniuk $8,000! Thanks!
@parasharrajat , your hire/job got cancelled somehow.  Can you please accept the new job I created?
https://www.upwork.com/jobs/~0187ef9e300849eeba

Please post here once you have (and... remind me to add $250 for reporting :) )

[2022-09-06 23:55] chiragsalian commented on #9245
I haven't been able to dive into this just yet. I'm still swamped with API refactors.

[2022-09-07 02:15] techievivek commented on #10442
Sorry I was ooo because I was down with viral fever. Here I think the initial issue was the PDF itself was not being rendered and @kakajann fixed it. So @kakajann if you can fix the wonky percentage being displayed as well we can pay you. Otherwise, I can look into this part.

[2022-09-07 03:48] mvtglobally opened #10847 "[HOLD for payment 2022-10-20] [$250] Console error - Non-unique keys when group users have same name - reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login on web dev
2. Create a new group with two users that have the same first name.
3. Send a message

## Expected Result:
No

[2022-09-07 03:49] mvtglobally opened #10848 "[HOLD for payment 2022-10-31] [$250] Payment methods have wrong height - reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login
2. Go to Settings -> Payments

## Expected Result:
Payment methods have a height of 64px

## Actual Result:
Payment meth

[2022-09-07 03:54] mvtglobally opened #10849 "[HOLD #6527] WorkSpace photo not updating after navigating away - reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to Workspace General Settings
 2. Upload photo
 3. Go  to previous screen before uploading complete
 4. Go back to  Genera

[2022-09-07 04:03] mvtglobally opened #10850 "https://new.expensify.com/search loads the page but throws console error 404 - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Navigate to https://new.expensify.com/search

## Expected Result:
Search page should load without any errors

## Actual Result:
S

[2022-09-07 04:06] mvtglobally opened #10851 "[HOLD for payment 2022-10-03] [$250] Navigating directly to https://new.expensify.com/search opens page but search field is not in focus - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Navigate directly to https://new.expensify.com/search

## Expected Result:
Page should load and search field should be focused

#

[2022-09-07 04:17] mollfpr commented on #10738
@neil-marcellini @mananjadhav Any thoughts on my proposal https://github.com/Expensify/App/issues/10738#issuecomment-1236347332?

[2022-09-07 04:18] mvtglobally opened #10852 "Navigating directly to url https://new.expensify.com/iou/split throws 404 error - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Navigate to https://new.expensify.com/iou/split

## Expected Result:
Split page should load without any errors

## Actual Result:

[2022-09-07 04:32] mvtglobally opened #10853 "https://new.expensify.com/settings throws console 404 error - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Navigate to https://new.expensify.com/settings

## Expected Result:
No Console errors should display

## Actual Result:
Console e

[2022-09-07 05:48] ntdiary commented on #8292
Eh, without hooks, how about using a class component?
[code]

log:

https://user-images.githubusercontent.com/8579651/188797985-3c0adb41-522d-444b-9fa2-e07cb93d4b2f.mp4

[2022-09-07 06:38] kakajann commented on #10442
I'll look into it today

[2022-09-07 07:34] laurenreidexpensify commented on #10847
@rushatgabhane I'm not sure I can reproduce this - is there something I'm missing from the repro steps?

<img width="1398" alt="2022-09-07_08-33-31" src="https://user-images.githubusercontent.com/62073721/188817288-a08b6997-a4df-45a8-b945-63976ba6bc02.png">

[2022-09-07 07:38] songlang1994 commented on #8311
@parasharrajat I read the discussion that you were concerned about using `setTimeout`, so I refactored `NestablePressable` to invoke all event handlers in the gesture handler component (a.k.a the inner component). This avoids using `setTimeout` and make the code cleaner.

[code]

[2022-09-07 08:00] Julesssss commented on #10735
Holding this for now

[2022-09-07 08:12] Puneet-here commented on #10848
### Proposal

We need to pass `styles.lh16` here

https://github.com/Expensify/App/blob/85172f72f1abbf1976e6abd3c08f5f74c04ae1b6/src/components/MenuItem.js#L55

[2022-09-07 08:16] Julesssss commented on #10846
Okay, this once again [failed this morning](https://github.com/Expensify/App/runs/8223393128?check_suite_focus=true), so it seems unlikely that it is a temporary issue on Github's side. We'll need to update the workflow somehow, and I created a [Slack fireroom](https://expensify.slack.com/archives/C0421RF2STA) as this blocked us from deploying yesterday.

[2022-09-07 08:57] johnmlee101 commented on #10736
Not sure if this is a front or back-end issue will investigate

[2022-09-07 08:58] stitesExpensify commented on #4324
Still being actively worked on. Will review today.

[2022-09-07 08:58] robertjchen commented on #10628
I'd agree with @parasharrajat on this one- it's pretty edge case, and given the difficulty of reproducing it, I'd say we can close it for now. 👍

[2022-09-07 08:58] #10628 closed

[2022-09-07 09:09] Beamanator commented on #10704
Yeah I must have overlooked the brief flash when testing, I think the main issue we've seen with this is when the previous avatar shows for a while before the new avatar updates (I think only reproduced on Android) - but maybe that's a different issue.

I also think it makes sense to put this on hold (maybe reduce the priority too) until that other issue gets worked on, maybe the solution there wi

[2022-09-07 09:19] danieldoglas commented on #10831
@mvtglobally the API is actually returning `avatarURL` and not `avatar`. Can you point to me where you got that testing steps from? We'll probably need to update it

[2022-09-07 09:20] iwiznia commented on #9823
@michaelhaxhiu let's double this?

[2022-09-07 09:20] iwiznia commented on #9823
@parasharrajat did you review the proposals?

[2022-09-07 09:26] puneetlath commented on #10831
@danieldoglas that was from me when I was testing a different PR. So if I had that wrong, then we're all good.

[2022-09-07 09:31] puneetlath commented on #10287
Not overdue. PR is on staging.

[2022-09-07 09:31] AndrewGable commented on #10550
Ok thank you - I believe the fix is still in the works.

[2022-09-07 09:32] puneetlath commented on #10289
PR is in review. Waiting on a couple comments/changes.

[2022-09-07 09:41] danieldoglas commented on #10831
Got it! so I think we can close this one out! thanks @punee

[2022-09-07 09:47] OSBotify commented on #10808
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10856) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.97-6` :rocket:

[2022-09-07 09:57] OSBotify commented on #10808
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.97-6 has been deployed to staging :tada:

[2022-09-07 10:13] neil-marcellini commented on #10725
This should be fixed by this PR where the memoization is being removed https://github.com/Expensify/App/pull/10800.

[2022-09-07 10:15] Julesssss commented on #10808
iOS is still blocked, but shouldn't be too far away now 🤞

[2022-09-07 10:17] JmillsExpensify commented on #10729
Proposals happening in https://github.com/Expensify/App/issues/10738. We're still on hold until that one goes through.

[2022-09-07 10:18] JmillsExpensify commented on #10765
Still open for proposals.

[2022-09-07 10:26] ntdiary commented on #9253
we can also use a class component instead of hooks to monitor the drawer transition.
[code]
log:

https://user-images.githubusercontent.com/8579651/188797985-3c0adb41-522d-444b-9fa2-e07cb93d4b2f.mp4

[2022-09-07 10:31] Julesssss commented on #10808
iOS still held

[2022-09-07 10:32] Tabakharniuk commented on #6301
Thank you @parasharrajat @mallenexpensify @tgolen!

[2022-09-07 10:32] mananjadhav commented on #9253
Hi Team,

Apologies but I couldn't find time to dig further into this issue and I don't have enough expertise on `react-navigation` that I can look at it without digging deep.

@rushatgabhane @parasharrajat @Santhosh-Sellavel Anyone willing to pick this, primarily because it relates to `react-navigation`?

[2022-09-07 10:33] thesahindia commented on #10831
Hi @danieldoglas, I think we should reopen this issue.

Steps to repro the issue -
1. Add a photo in your workspace "xyz"
2. Open a new tab and visit https://www.expensify.com/admin_policies and delete that "xyz" workspace
3. Go back to the tab where new dot is open and try removing the image from "xyz" workspace
4. Check you see an error
5. Now press back and check if you are seeing the red indic

[2022-09-07 10:35] thesahindia commented on #10831
https://user-images.githubusercontent.com/83179295/188857601-ca2e10c3-5214-4300-aa3e-cd1f9d7b5bd1.mov

[2022-09-07 11:02] Julesssss commented on #10846
GH Action has been resolved, thanks @roryabraham!

[2022-09-07 11:02] #10846 closed

[2022-09-07 11:07] danieldoglas commented on #10831
@thesahindia @puneetlath it seems like we're using `avatar` and `avatarURL`, depending on the requests. So it was my mistake here on closing this.

in this specific case, it seems like we should check for both, so I would adjust your proposal to do that, @thesahindia. I'll export this.

At the same time, tagging @Gonals to give his opinion on standardizing the name for avatar/avatarURL in all meth

[2022-09-07 11:09] danieldoglas commented on #10831
Also, this situation only happens because the Workspace was delete before editing. I think we're not doing the right requests here to guarantee that we're actually using a valid workspace when accessing it. @arosiclair might be able to give more context upon this.

[2022-09-07 11:10] adelekennedy commented on #7911
Still pending on fixing this but will remit payment if we do!

[2022-09-07 11:10] thienlnam commented on #8126
Been going through reviews, and now is pending another review from @parasharrajat

Here's the PR link for reference https://github.com/Expensify/App/pull/9483

[2022-09-07 11:15] adelekennedy commented on #8594
So in this case the issue isn't being reproduced but it's still on hold - should we close this? @stitesExpensify @Santhosh-Sellavel?

[2022-09-07 11:16] thesahindia commented on #10831
I thought we only get the error at `avatar` and not at `avatarURL` because [here](https://github.com/Expensify/App/blob/c8018b296ec6c1d84a7d5d8013feefb7d2a558de/src/pages/workspace/WorkspaceSettingsPage.js#L106) we are only checking `avatar` key for the error. If we also get the error at avatarURL then I think we will have to make the same change to check both keys here too
https://github.com/Expe

[2022-09-07 11:16] adelekennedy commented on #8719
Still holding here!

[2022-09-07 11:16] Gonals commented on #10831
I like `avatarURL`, but I'm fine with either

[2022-09-07 11:21] adelekennedy commented on #9459
@parasharrajat @Regaron will you reapply [here](https://www.upwork.com/jobs/~01a6e38c08aa3d14cb)? the post expired.

[2022-09-07 11:22] adelekennedy commented on #9822
Will not increase the price on this

[2022-09-07 11:23] adelekennedy commented on #9941
@parasharrajat @sketchydroide it looks like [this](https://github.com/Expensify/App/issues/9941#issuecomment-1222798333) question hasn't been resolved yet?

[2022-09-07 11:25] Julesssss commented on #10808
iOS build has been uploaded to Testflight and should be available soon. After this, there will be one more staging release which should follow shortly.

[2022-09-07 11:25] kadiealexander commented on #7962
@parasharrajat - all paid, thank you!
@gadhiyamanan  - please accept the contract at your earliest convenience :)

[2022-09-07 11:27] adelekennedy commented on #9979
checking on this, @rushatgabhane from the comment above it sounds like payment is due! Is that correct?

[2022-09-07 11:27] Julesssss commented on #10821
Now that the CP workflow is fixed, I retried the CP and [it worked](https://github.com/Expensify/App/runs/8226856734?check_suite_focus=true) 🎉

[2022-09-07 11:28] gadhiyamanan commented on #7962
@kadiealexander accepted

[2022-09-07 11:28] Julesssss commented on #10821
Testing should begin shortly after the build is made available for Applause.

[2022-09-07 11:32] adelekennedy commented on #10198
Payment time! @thesahindia and @Santhosh-Sellavel invited you to the job for the C+ and reporting payments

[2022-09-07 11:33] sketchydroide commented on #9941
@parasharrajat to be honest I don't really know, maybe we can ask on slack?
also CC @flodnv

[2022-09-07 11:39] adelekennedy commented on #10830
[internal](https://www.upwork.com/ab/applicants/1567477540485226496/job-details)
[external](https://www.upwork.com/jobs/~01f38e05e26392be82)

[2022-09-07 12:00] melvin-bot[bot] opened #10864 "[$1000] Investigate: 💥 Crash 💥 `.submitForm`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Property 'newComment' doesn't exist
### `address at index.android.bundle:1:2902563` `.submitForm`
### Number of Crashes: 7

## Device Information
* **Platforms:** Android
* **App Versions:** `1.1.97-2`
* **Devices:** samsung SM-G950F 9

[2022-09-07 12:02] NicMendonca commented on #10853
leaving myself assigned as I can take on contributor management side of this!

[2022-09-07 12:09] stitesExpensify commented on #8594
Yep! Let's just close it out.

[2022-09-07 12:09] #8594 closed

[2022-09-07 12:17] flodnv commented on #9941
Somehow the original vulnerability reported does not exist anymore. It looks like we updated the `json-schema` dependency through somewhere else. Given this doesn't provide much value anymore, and it's hard to do, I say let's do nothing.

[2022-09-07 12:17] mvtglobally commented on #10808
@Julesssss i can see build 1.1.97-4 in TestFlight. Are we ok to resume IOS?

[2022-09-07 12:42] Julesssss commented on #10808
Hey @mvtglobally, there should be another iOS build released very shortly. I'll confirm the exact version shortly

[2022-09-07 13:01] kbecciv opened #10865 "[HOLD for payment 2022-10-07] [$250] Web - Hover over emoji is not working as expected @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Open a report
3. Click on emoji icon on composer
4. Type arrow
5. Try to hover on emojis an

[2022-09-07 13:12] Julesssss commented on #10808
Hi again @mvtglobally. Unfortunately a 3rd issue has blocked the release for a moment. Could you please start testing against version `1.1.97-4` in the meantime, to ensure we're not too delayed? Thanks!

[2022-09-07 13:23] Christinadobrzyn commented on #10352
Closed the Upwork job.

[2022-09-07 13:23] flaviadefaria commented on #10848
Adding the engineering label but doesn't seem like a priority.

[2022-09-07 13:25] Christinadobrzyn commented on #10025
Closed the Upwork job

[2022-09-07 13:39] kbecciv opened #10866 "Setting - About - Extra space between components in about page @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open app
2. Go to Settings
3. Click About

## Expected Result:
There should not be more spacing

## Actual Result:
Extra spac

[2022-09-07 13:41] deetergp commented on #10555
Since we're awaiting updated proposals, I am going to set this back to weekly.

[2022-09-07 13:46] Puneet-here commented on #10866
### Proposal

We need to remove styles.mb6 https://github.com/Expensify/App/blob/d037a999e5e20993c6ee3537be338e215654a751/src/pages/settings/AboutPage/AboutPage.js#L79

[2022-09-07 13:51] dhairyasenjaliya commented on #9233
**Proposal**

- We need to replace the `<Text>` component with `<TouchableOpacity>`  as we need to have an onPress event on the component in order a copy email to the clipboard
- onPress on `<Text>` works as excepted on all the other platforms except the iOS app

https://github.com/Expensify/App/blob/d037a999e5e20993c6ee3537be338e215654a751/src/components/CopyTextToClipboard.js#L56-L70

**Results*

[2022-09-07 13:56] aimane-chnaif commented on #9822
**Proposal**

This happens because quote is overlapped with bold text.
Let me take example with this one:
[code]

According to regex replacement rules in ExpensiMark, `inlineCodeBlock` is more priority than `bold`
So `inlineCodeBlock` is applied first
[code]

After that, `bold` is applied:
[code]
this is issue. we should avoid this conversion and keep
[code]
which is rendered as `*test`*

**Soluti

[2022-09-07 14:00] dhairyasenjaliya commented on #9233
@mvtglobally this issue is not assigned to anyone can we have a reviewer here?

[2022-09-07 14:07] NicMendonca commented on #10665
^ Reopening so I can better track this via K2

@jayeshmangwani Can you please accept the offer in Upwork when you get the chance? Thanks!

[2022-09-07 14:09] jayeshmangwani commented on #10665
@NicMendonca offer accepted 🚀

[2022-09-07 14:12] NicMendonca commented on #10665
paid!

[2022-09-07 14:12] #10665 closed

[2022-09-07 14:16] Beamanator commented on #10830
Hmm what I'm seeing is the keyboard hides when the user starts scrolling down the list of participants, are y'all seeing this in a different way? If that's the case, I'd go with this is expected 🤔

[2022-09-07 14:16] Beamanator commented on #10830
And if it's "not" expected, I'd put this on hold for the upcoming Keyboard initiative

[2022-09-07 14:24] maddylewis commented on #10849
i think this is good to be sent to eng

[2022-09-07 14:25] OSBotify commented on #10808
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10867) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.97-7` :rocket:

[2022-09-07 14:28] pecanoro commented on #10824
Yeah, I was able to reproduce this, it happens mostly when previewing the attachment before sending it.

[2022-09-07 14:28] flodnv commented on #9941
Do you think we should "cut our losses" and compensate you $500, or that you should continue investigating this for a while and we'll see later?

[2022-09-07 14:43] Beamanator commented on #10830
Oh interesting! I didn't actually notice that, it looks like that's the 2nd thing that happens in the video? So yeah I think this will be good to put on hold for a bit since "we" (someone) is planning to lead up a rework of keyboard shenanigans in the near future, what do you think?

[2022-09-07 14:44] adeel0202 commented on #7436
@adelekennedy 👀

[2022-09-07 14:50] kidroca commented on #9402
Yeah, during upload we have an optimistic report action with attachment that's rendered using raw data
After upload it gets replaced by a report action containing `html` rendered by the HTML Parser
##### Sample uploaded attachment
![Expensify Screenshot 2022-09-07 143046](https://user-images.githubusercontent.com/12156624/188902249-fd688aa4-ec2c-41ec-a4c8-1fa063f2f584.png)

I guess the HTML Parser

[2022-09-07 15:04] arosiclair commented on #10831
I don't think we get Pusher updates from OldDot so the policy doesn't get removed in NewDot until you refresh (`OpenApp` / `ReconnectApp` commands). If we're offline, the policy will stay until you reconnect.

[2022-09-07 15:21] joekaufmanexpensify commented on #10865
Agreed. I think this might be related to edge detection. It happens for me when I type `arrow` as well. However, if I also type something like `smile`, I'm seeing the same behavior, but only when a hover over an emoji at the edge of the grid of available emojis.

![2022-09-07_16-18-02 (1)](https://user-images.githubusercontent.com/54866469/188916421-b55eca4c-82d4-4ecc-9110-913566f6c509.gif)

[2022-09-07 15:23] Julesssss commented on #10808
Hey @mvtglobally, this is the release we've been waiting for. Please go ahead and restart testing against this build

[2022-09-07 15:31] OSBotify commented on #10808
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.97-7 has been deployed to staging :tada:

[2022-09-07 15:38] Beamanator opened #10871 "[N7 Account Settings] Modify Component `MenuItem` and create new related component `MenuItemWithTopDescription`"
Doc is almost completely approved: https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#heading=h.kon5grl17zr7

Tracking issue: https://github.com/Expensify/Expensify/issues/182122

## Goal:

### Add a few new props to <MenuItem> & create a specialized component that uses them

Modifying <MenuItem>
1. Add the ability to show the main text (in the title prop) with no

[2022-09-07 15:40] Regaron commented on #9459
I don't have any other idea to fix this currently.

[2022-09-07 15:48] Santhosh-Sellavel commented on #10108
PR is up already

[2022-09-07 15:51] michaelhaxhiu commented on #10058
Do we want to make this `monthly` or keep it `weekly`? I feel like it's wise to make monthly if we don't intend to double it regularly

[2022-09-07 15:53] michaelhaxhiu commented on #10762
@srikarparsi mybad for the delay, will post this now.

[2022-09-07 15:54] danieldoglas commented on #10831
@arosiclair  When we open a policy page, we're not doing a GET for that policy today?

[2022-09-07 15:56] Beamanator opened #10872 "[HOLD] [N7 Account Settings] Many API Refactors or new commands needed for Account Settings"
Tracking issue: https://github.com/Expensify/Expensify/issues/182122

As mentioned in the ["New API commands"](https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#heading=h.36gjdanq0i5o) section of the [N7 Free Plan Account Settings doc](https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#), there are about 13 new commands that need

[2022-09-07 16:02] Julesssss commented on #10058
Ya good point. Done

[2022-09-07 16:12] kadiealexander commented on #10826
Posted to Upwork!
https://www.upwork.com/ab/applicants/1567546269042343936/job-details
https://www.upwork.com/jobs/~01e8b7a41d566a0ae1

[2022-09-07 16:12] michaelhaxhiu commented on #10762
Posted to upwork.

[2022-09-07 16:22] mallenexpensify commented on #10629
Still sussing out core issue and seeing if other issues are related

[2022-09-07 16:23] mallenexpensify commented on #2727
Still waiting...

[2022-09-07 16:27] arosiclair commented on #10831
We are until [this PR I'm working on](https://github.com/Expensify/App/pull/10873) get's merged

[2022-09-07 16:30] bondydaa commented on #10785
publishing PRs today

[2022-09-07 16:33] Santhosh-Sellavel commented on #10762
@michaelhaxhiu accidentally got me unassigned too

[2022-09-07 16:44] marcaaron commented on #9342
I'm closing this. It doesn't seem reproducible.

[2022-09-07 16:44] #9342 closed

[2022-09-07 16:50] adelekennedy commented on #7436
Had to reopen the job - @adeel0202 I hired you, @parasharrajat do you mind applying [here](https://www.upwork.com/jobs/~0191e9985342e0313c)?

[2022-09-07 16:54] adelekennedy commented on #9979
reopened the job - just sent you an offer @rushatgabhane

[2022-09-07 16:57] mallenexpensify commented on #9976
Sorry for the delay @thesahindia and @Santhosh-Sellavel both of you are paid.  Santhosh = $250 for C+, Sahil = $500 for fix and reporting.

[2022-09-07 16:59] Julesssss commented on #10808
Hey @Expensify/applauseleads. Please restart testing when ready. All platforms are ready

[2022-09-07 17:02] jboniface commented on #10851
Tested and verified that search pane opens but is not focused

[2022-09-07 17:14] Puneet-here commented on #9979
Hey @adelekennedy, the reporting and fixing compensation is also pending.

[2022-09-07 17:15] melvin-bot[bot] opened #10875 "[$500] Investigate: 💥 Crash 💥 `android.graphics.HardwareRenderer.nLoadSystemProperties`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

##
###
### `Native method` `android.graphics.HardwareRenderer.nLoadSystemProperties`
### Number of Crashes: 2

## Device Information
* **Platforms:** Android
* **App Versions:** `1.1.97-2`
* **Devices:** Google Pixel 5 13

## Stacktraces
<details>
<summary>Android 1.1.97-2</summary>

[code]
</details>

---
<

[2022-09-07 17:15] Puneet-here commented on #10584
Bump @michaelhaxhiu

[2022-09-07 17:19] Justicea83 commented on #9137
Releasing this back to the pool as i don't really know when I can take another look

[2022-09-07 17:20] mvtglobally commented on #10808
@Julesssss  We are almost done. Will share summary in a few
7% test rail pending and couple IOS PRs

[2022-09-07 17:37] anasdeyra commented on #9979
**PROPOSAL**
If I understood the issue right there is a constant called EXAMPLE_PHONE_NUMBER in src/CONST.js that needs to be changed to a valid number

[2022-09-07 17:45] stephanieelliott commented on #10699
Posted to Upwork: https://www.upwork.com/jobs/~01ff02ea9d2d0972d0

[2022-09-07 17:57] mvtglobally commented on #10808
@Julesssss  Interim summary.

PR #9772 Can you validate internally
PR #10494 is blocked partially on mWeb due to #10282. Are we ok to check off?
PR  https://github.com/Expensify/App/pull/10692 is failing due to https://github.com/Expensify/App/issues/10821. Re-testing
PR #10739 just retesting IOS
PRs #10809 & #10749 are dependent on the Web deploy. https://github.com/Expensify/Expensify/issues/224

[2022-09-07 18:04] #10626 closed

[2022-09-07 18:11] lbaldy commented on #2727
The React Native 0.70.0 is finally out!

https://github.com/facebook/react-native/releases/tag/v0.70.0

I will work on a branch with an update and keep you posted in this MR.

[2022-09-07 18:12] jboniface commented on #10875
job post here: https://www.upwork.com/jobs/~01611fdb5e31a0d478

[2022-09-07 18:15] melvin-bot[bot] opened #10876 "[$250] Investigate: 💥 Crash 💥 `updateWorkspaceCustomUnit`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: JavaScriptError
### Cannot read property 'customUnitID' of undefined
### `main.jsbundle:176655:73 line 176655` `updateWorkspaceCustomUnit`
### Number of Crashes: 33

## Device Information
* **Platforms:** iOS, Android
* **App Versions:** `1.1.97.7`, `1.1.98.1`, `1.1.99.1`, `1.1.99.2`,

[2022-09-07 18:27] Julesssss commented on #10808
Marking off #9772

[2022-09-07 18:51] chiragsalian commented on #10808
Yes checking off https://github.com/Expensify/App/pull/10494 since it looks like its not supported on mobile atm.

[2022-09-07 18:54] mvtglobally commented on #10808
@Julesssss @chiragsalian Can you also help out with #10557 It seems we are not able to trigger the error in staging same way to check

[2022-09-07 18:54] chiragsalian commented on #10808
Checking off https://github.com/Expensify/App/pull/10692. Its working great for me on staging.

[2022-09-07 18:54] Julesssss commented on #10808
I also think this should be tested: https://github.com/Expensify/App/pull/10749

And we can check off this one: https://github.com/Expensify/Expensify/issues/224690

[2022-09-07 18:56] Santhosh-Sellavel commented on #10283
@neil-marcellini I'm too concerned here

There could be a possibility, that we might need to change this in the future.

This sounds like a solution to me, that we need to look for.

[2022-09-07 18:57] chiragsalian commented on #10808
Checking off https://github.com/Expensify/App/pull/10557. It works well for me. Unfortunately, there is no easy way to test the errors part so its okay to skip that bit for now.

[2022-09-07 18:59] Julesssss commented on #10808
#10282 can be checked off, but I don't see it in the list, and it's not merged. Not sure why that was listed

[2022-09-07 19:01] Julesssss commented on #10808
Ah, my mistake. It's linked to by 10809 and 10749

[2022-09-07 19:02] chiragsalian commented on #10808
Both https://github.com/Expensify/App/pull/10692 and https://github.com/Expensify/App/issues/10821, work great for me on staging. @mvtglobally, if it helps maybe you need to sign out and sign in to re-test them.

[2022-09-07 19:05] mvtglobally commented on #10808
#10692  https://github.com/Expensify/App/pull/10692#issuecomment-1239769487 @chiragsalian , Not sure if this is related to https://github.com/Expensify/App/pull/10557 changed. Not repro by all testers, so we are still checking

[2022-09-07 19:08] mvtglobally commented on #10808
#10780 We are facing https://github.com/Expensify/App/issues/10753. It was closed. Are we ok to check it off or log again?

https://user-images.githubusercontent.com/43995119/188957911-d414785b-a84b-4462-9a0b-5e79151f5dcc.mp4
https://user-images.githubusercontent.com/43995119/188957912-961899f1-b4a2-4d71-bfd2-eb146c253715.mp4

[2022-09-07 19:11] chiragsalian commented on #10808
Can you log it as an issue. I don't think its deploy blocker worthy though.

[2022-09-07 19:13] mallenexpensify commented on #10629
Wasn't able to reproduce, just tested and message shows in LHN (and bold) in LHN when I opened laptop
<img width="404" alt="image" src="https://user-images.githubusercontent.com/22508304/188958699-d1eb7be4-ffec-42c8-aa9a-70d6fab36e26.png">

[2022-09-07 19:22] Julesssss commented on #10753
Removing the label as this is not a critical enough issue to hold the release any further.

[2022-09-07 19:27] Santhosh-Sellavel commented on #10622
@puneetlath
Actually, @wildan-m suggestion solves the crash that occurs on android devices.
I do prefer their solution to address the same.

From @christianwen proposal,

There is a different issue that occurs on the web, I can confirm that. We need a proposal to address that issue, but their solution doesn't address the issue.

### TLD
So we are looking proposal to address the crash that occurs o

[2022-09-07 19:28] Julesssss commented on #10821
The original blocker is resolved. We might want to make further improvements as the extra decimal places are being added quite quickly, but I'm marking this off:

https://user-images.githubusercontent.com/10736861/188961057-60be5fd8-c346-48be-a972-220aa6d6c370.mov

[2022-09-07 19:30] Julesssss commented on #10808
Just checked off the last blocker, and added a screencast of the resolved issue.

[2022-09-07 19:30] mvtglobally commented on #10808
Ok, so latest summary

https://github.com/Expensify/App/pull/10739 - just finishing IOS. Rest is ok
PRs testing https://github.com/Expensify/App/pull/10749 not waiting on the Web deploy of https://github.com/Expensify/Expensify/issues/224690. What do we do with #10809?
PR #https://github.com/Expensify/App/pull/10749 logging an issue non-blocker. will check off once all platforms re-tested

[2022-09-07 19:33] mvtglobally commented on #10808
1 more note. Some non-US testers did not receive new IOS build. I have just 2 slots pending in Test Rail for IOS 16 BETA (since those testers dont have build yet). We tested exact same steps on IOS 15/14. Let me know if you want to wait for build or we ok this time

[2022-09-07 19:36] Julesssss commented on #10808
I marked off #10809 as it cannot be tested yet... we're waiting on a Web-E PR.

[2022-09-07 19:42] #7121 closed

[2022-09-07 19:43] Julesssss commented on #10808
@mvtglobally excellent, thanks for the update. Let's wait for the remaining Apple invite. I'm happy to try resending manually if you have the email to hand.

[2022-09-07 19:56] kavimuru opened #10877 "Mileage rate is 0.00 for the newly created workspace instead of the rate set in the policy"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #10692
## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Create a New Workspace
3. Go to to Settings -

[2022-09-07 19:57] mvtglobally commented on #10808
Sent you details in Slack @Julesssss

[2022-09-07 19:58] OSBotify commented on #10877
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-07 20:01] lbaldy commented on #2727
I think your fork if missing latest tags. When I run:

`git tag | grep v0.70.0`

It shows nothing, react native CLI uses tags to identify the latest content.

[2022-09-07 20:05] mvtglobally commented on #10808
https://github.com/Expensify/App/issues/10877 when running https://github.com/Expensify/App/pull/10692

[2022-09-07 20:06] Julesssss commented on #10808
@chiragsalian would you mind taking a look at this today if yo have a moment. Thanks 🙏

[2022-09-07 20:10] Santhosh-Sellavel commented on #10627
@srikarparsi

@Puneet-here proposal looks good and meets our expected OP as discussed [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1662461482336989).
So let's hire him for this one!

🎀 👀 🎀
C+ Reviewed

Thanks!
cc: @puneetlath

[2022-09-07 20:13] Julesssss commented on #10877
Damn, this is a new regression occurring from another blocker fix.

@Expensify/mobile-deployers

[2022-09-07 20:16] Santhosh-Sellavel commented on #7862
@chiragsalian @trjExpensify

Based on my review,  I believe this job is definitely time consuming, requesting a price increase to $4k. That would be reasonably fair.

Thanks!

[2022-09-07 20:24] Santhosh-Sellavel commented on #9662
@JmillsExpensify  My offer is not acceptable, it's been withdrawn. Can you send again please thanks!

<img width="1107" alt="Screenshot 2022-09-08 at 1 53 38 AM" src="https://user-images.githubusercontent.com/85645967/188970274-4e7f0b72-b127-4050-a2b5-4c39c68b63a9.png">

[2022-09-07 20:33] yuwenmemon commented on #10877
Looks like the workspace is undefined in Onyx when we first create it?
<img width="1539" alt="Screen Shot 2022-09-07 at 1 25 10 PM" src="https://user-images.githubusercontent.com/4741899/188971589-f009e78d-bf94-49ea-a79e-3f0359528cd8.png">

When I refresh the page and open the page again, the mileage rate shows and can be updated:

<img width="1535" alt="Screen Shot 2022-09-07 at 1 33 07 PM" src="

[2022-09-07 20:34] yuwenmemon commented on #10877
Oh, interesting. The PolicyID changed for the workspace...

[2022-09-07 20:40] Santhosh-Sellavel commented on #9620
@stitesExpensify
I am happy to move forward with @ntdiary's proposal of migrating to Form!

This would be a common issue that would be occurring only in `mWeb`, it's common to all the forms that should be a separate issue. Also, I believe it would be handled [here](https://github.com/Expensify/App/issues/10273)

Regarding the keyboard flickering issue, it should be a separate issue.

C+ Reviewed
🎀

[2022-09-07 20:42] yuwenmemon commented on #10877
Actually wait no, I think the problem is that there are two custom units on the initially created policy...
<img width="690" alt="Screen Shot 2022-09-07 at 1 40 49 PM" src="https://user-images.githubusercontent.com/4741899/188973542-0febadfa-f691-49db-ab7d-0adbc4995037.png">

[2022-09-07 20:42] chiragsalian commented on #9822
Looks good to me too. Feel free to create the PR @aimane-chnaif.

[2022-09-07 20:45] Santhosh-Sellavel commented on #10731
Sorry might need some more time to dig this, will update later today or tomorrow!

[2022-09-07 21:04] yuwenmemon commented on #10877
So somewhere we're not keying the customUnit by the ID when we update Onyx 🤔

[2022-09-07 21:08] yuwenmemon commented on #10877
I would guess it's this line: https://github.com/Expensify/App/blob/367b662a37dbc470b665bb48203fbedde74e60d1/src/libs/actions/Policy.js#L91

[2022-09-07 21:13] Santhosh-Sellavel commented on #10329
@flodnv
The first approach in @rawalyogendra's Proposal looks good to me!

C+ Reviewed
🎀 👀 🎀

Thanks!

cc: @mallenexpensify

[2022-09-07 21:14] mallenexpensify commented on #6301
Paid @parasharrajat $8250 for C+ and reporting.  Thanks again for the help, happy to see this big feature request wrapped up.

Curious of any learnings from this one that might help with other feature requests (since... bugs are much more straight forward).  I think there needs to be a significant initial investment in the design and concrete deliverable in order to alleviate excessive back n' for

[2022-09-07 21:14] #6301 closed

[2022-09-07 21:20] yuwenmemon commented on #10877
Hm no actually it's coming from the `CreateWorkspace` API command:
![Screen Shot 2022-09-07 at 2 19 42 PM](https://user-images.githubusercontent.com/4741899/188982978-b90784ce-01b6-4a99-84f5-60987d76a12b.png)

[2022-09-07 21:27] yuwenmemon commented on #10877
Hm yeah - so the problem is that the structure with which we hold Custom Units in OldDot is as an array:

<img width="844" alt="Screen Shot 2022-09-07 at 2 25 22 PM" src="https://user-images.githubusercontent.com/4741899/188984163-54218416-33cf-4304-887e-a8de7b6ce47b.png">

But in NewDot we want it to be an object keyed by the CustomUnitID:
<img width="642" alt="Screen Shot 2022-09-07 at 2 26 51 P

[2022-09-07 21:29] yuwenmemon commented on #10877
Ah yep, so @amyevans @jasperhuangg we just missed one spot [here](https://github.com/Expensify/Web-Expensify/pull/34587) - we also want to do the data massaging we do in [Getting](https://github.com/Expensify/Web-Expensify/blob/9f57a97882368e3b85092c3382816ccdc07ad2a5/lib/GetAPI.php#L154-L160) the policy when we Create the policy as well.

[2022-09-07 21:31] Santhosh-Sellavel commented on #10329
@flodnv
The first approach in @rawalyogendra's Proposal sounds good to me!

But there is the problem here we will not show a growl for offline and we might miss out on that.

So we could use the second approach which is simpler.
I find it a little odd to test the URL against `apps.apple.com`, if we are okay with it then let's proceed with this.

Else instead we can add a param `useLinking` with de

[2022-09-07 21:32] Santhosh-Sellavel commented on #10233
Checking this now

[2022-09-07 22:04] Santhosh-Sellavel commented on #10233
@Luke9389
We are good to hire @jayeshmangwani for this one!
Able to reproduce this issue & their solution also looks good to me!

🎀 👀 🎀
C+ Reviewed

[2022-09-07 22:08] Santhosh-Sellavel commented on #7968
No, we are using the Modal in all other forms too, if it's fine use a global listener there to submit. Then we are good to use here too!

@stitesExpensify I would love to hear your thoughts too thanks!

[2022-09-07 22:12] kbecciv opened #10878 "Workspace - Unable to create Workspace while offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10749

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with

[2022-09-07 22:45] mallenexpensify commented on #10629
Tried to reproduce 3 times today with no luck.  There are other existing issues with chats not showing or not being bolded, but this issue and/or the repro steps in the OP here are different. New issues should be created for the other issues, if they haven't been already

[2022-09-07 23:16] mallenexpensify commented on #9252
Per[ this internal conversation](https://expensify.slack.com/archives/C02NK2DQWUX/p1661419792053769), putting this keyboard-related issue on hold pending https://github.com/Expensify/App/issues/10273

I updated title and removed `Help Wanted`

[2022-09-07 23:30] Julesssss commented on #10808
Checking off #10749 because it's dependent on another PR that isn't merged.

[2022-09-07 23:44] Julesssss commented on #10808
Checking off #10739 which tested flawlessly.

[2022-09-07 23:46] Julesssss commented on #10808
No new crashes, marking off Firebase

[2022-09-08 00:06] Julesssss commented on #10877
Thanks so much, this works perfectly 😍

https://user-images.githubusercontent.com/10736861/189005727-0a6b35f4-9ea8-4946-ad43-653e52dbb86a.mov

![Screenshot_20220908-010228](https://user-images.githubusercontent.com/10736861/189005817-9729b208-fcc7-40c9-8451-62a6882615a1.png)

[2022-09-08 00:07] #10877 closed

[2022-09-08 00:08] Julesssss commented on #10808
Closed the final remaining blocker [10877](https://github.com/Expensify/App/issues/10877). Thanks so much, @yuwenmemon & @chiragsalian for your help.

[2022-09-08 00:08] Julesssss commented on #10808
:shipit:

[2022-09-08 00:08] #10808 closed

[2022-09-08 00:12] OSBotify opened #10883 "Deploy Checklist: New Expensify 2022-09-08"
**Release Version:** `1.1.98-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/7846
- [x] https://github.com/Expensify/App/pull/9441
- [x] https://github.com/Expensify/App/pull/10455
- [x] https://github.com/Expensify/App/pull/10488
- [x] https://gith

[2022-09-08 00:41] christianwen commented on #10622
Hi, @Santhosh-Sellavel in my proposal I've also put the solution to address the crash on the web by fixing the `decorateWithMetrics` noop. By `their solution doesn't address the issue`, do you mean the crash still happens for you after trying the solution?

<img width="854" alt="Screen Shot 2022-09-08 at 07 39 39" src="https://user-images.githubusercontent.com/21312517/189008596-c344bd9a-921e-44d7

[2022-09-08 01:50] Santhosh-Sellavel commented on #10622
Yes crash occurred for me

[2022-09-08 02:37] christianwen commented on #10622
@Santhosh-Sellavel can you attach the log of the crash after you apply the suggestion
is it the same log as in the original description?
<img width="812" alt="Screen Shot 2022-09-08 at 09 34 03" src="https://user-images.githubusercontent.com/21312517/189020693-3e77111e-454a-4aa0-b46d-9cad9404a060.png">
thanks

[2022-09-08 02:41] mollfpr commented on #9510
Bump @sketchydroide

[2022-09-08 03:03] swiftpipe commented on #4733
New Proposal

We will not modify the style of the `InlineCodeBlock` at all, because as I understand `InlineCodeBlock` the purpose of the words is on a single line and if it is too long, it will automatically break through a new line. However, if a word is too long, as I suggested before, it will be hidden because we had fixed the height of the block. So what do we do to solve it?

For word too lon

[2022-09-08 03:07] Santhosh-Sellavel commented on #10622
Yeah getAllKeys was the issue, I checked it on the Latest main earlier.

[2022-09-08 03:51] christianwen commented on #10622
@Santhosh-Sellavel confirming with you, you are modifying it in the `node_modules/react-native-onyx/lib/metrics/index.web.js` of this repo `https://github.com/Expensify/App` to try right?

if that's the case then it's not working because in `node_modules`, it is using the built code of `react-native-onyx` in `node_modules/react-native-onyx/dist/web.development.js` instead. You can try modifying th

[2022-09-08 04:01] mvtglobally opened #10884 "[HOLD] [$2000] Firefox - the wrong chat DM is opening when attempting to search/DM a specific user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Opened my test account in firefox web browser
2. Typed cmd+k to open search/chat switcher
3. Typed [mallen@expensify.com](mail

[2022-09-08 04:17] mvtglobally opened #10885 "[Hold #11111] [$250] Closing on profile path doesn't show the right URL (breaks the URL) - Reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open web app https://new.expensify.com/
2. Click on Profile.
3. Click on cross on top right to close profile.

## Expected Res

[2022-09-08 04:27] mvtglobally opened #10886 "[HOLD for payment 2022-09-26] [$250] TextField(Composer) is not focused again when group chat participants Details drawer is closed - Reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any group chat or create a new group chat from + icon on LHN
2. Click on top header to open chat participants details.
3.

[2022-09-08 04:31] mvtglobally opened #10887 "[Hold for Payment] Url is broken when /settings/security/password or /settings/security/closeAccount is closed - Reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open web app https://new.expensify.com/
2. Click on user icon on LHN to open setting.
3. Click on security on RHN.
4. Click ch

[2022-09-08 04:36] wildan-m commented on #10622
@Santhosh-Sellavel Forgot to investigate the web version
My updated proposal
For android:
[code]

For web:
[code]

The @christianwen  wen solution for web version might be cleaner and not repeated

[2022-09-08 04:47] mvtglobally opened #10888 "[HOLD for payment 2022-12-20] [$250] Closing split bill doesn't refocus on text-input(composer) if already focused - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login in web app.
2. Click on any report in LHN (text-input will be focused).
3. Click on + icon on left end of text-input.
4.

[2022-09-08 04:54] mvtglobally opened #10889 "[HOLD for payment 2022-10-05] [$250] Keyboard type is wrong for email address - Reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings > profile> add email address
2. Tap on email address
3. Check keyboard

## Expected Result:
it should be email-

[2022-09-08 04:57] mvtglobally opened #10890 "[$250] Dev - Unable to build the Desktop app - Reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Just try to build Desktop App, and see it's not possible.

## Expected Result:
You should be able to build the Desktop app anytim

[2022-09-08 05:00] mvtglobally opened #10891 "[$250] Admin's name is showing as blank after Editing anything on profile page - Reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open website.
2. Go to settings > profile > edit anything and save
3. Then go to workspace manage member page and see admin's

[2022-09-08 05:06] gadhiyamanan commented on #10889
**Proposal**

Replace `getEmailKeyboardType()` with `undefined`

https://github.com/Expensify/App/blob/159249bb82317fcd6bd06bc8d4f9127c300a9f9c/src/pages/settings/AddSecondaryLoginPage.js#L125-L126

[2022-09-08 05:11] dhairyasenjaliya commented on #10889
**Proposal**

- We need to add a new keyboard type as `email-address` in the below file

<img width="850" alt="Screenshot 2022-09-08 at 10 39 36 AM" src="https://user-images.githubusercontent.com/47522946/189039234-d6fa7730-f9cb-4042-aaa8-0b661f094e7a.png">

https://github.com/Expensify/App/blob/159249bb82317fcd6bd06bc8d4f9127c300a9f9c/src/CONST.js#L453-L458

- Replace type in the email field with

[2022-09-08 05:42] OSBotify commented on #10883
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.98-0 :rocket:

[2022-09-08 07:31] wildan-m commented on #10528
It wouldn't be possible.

They purposefully don't allow dynamic changes/animations to the favicon

https://stackoverflow.com/questions/63781987/cant-change-favicon-with-javascript-in-safari

https://bugs.webkit.org/show_bug.cgi?id=75877

Other dynamic favicon samples that work on Chrome but will not work on Safari:
https://mathiasbynens.be/demo/dynamic-favicons
http://lab.ejci.net/favico.js/exampl

[2022-09-08 07:33] christianwen commented on #10731
I believe the solution to use `_.size(this.props.reportActions) === 0` that relies on the observed behavior of

is flaky and not very future proof. Imagine later when it's updated so that the `ReportScreen` is loaded with correct messages list from Onyx initially (instead of having 0 then 1 message after a few seconds), that solution will break.

# **Updated Proposal**
Original proposal: https://g

[2022-09-08 07:43] marcaaron commented on #10629
I think this is related to https://github.com/Expensify/Expensify/issues/227410 but not entirely sure.

[2022-09-08 08:19] thienlnam commented on #10878
Can you test this again on staging? The PR that just enabled this was added to staging 7 hours ago https://github.com/Expensify/App/pull/10723

[2022-09-08 08:24] amyevans commented on #10877
Oh goodness, thanks for fixing @yuwenmemon and @Julesssss ❤️

[2022-09-08 08:27] laurenreidexpensify commented on #10516
@MonilBhavsar bump ^

[2022-09-08 08:31] luacmartins commented on #10267
Gonna try to work on this today!

[2022-09-08 08:33] luacmartins commented on #9582
Prioritizing N7 issues, I'll get to this next week.

[2022-09-08 08:35] michaelhaxhiu commented on #7916
Not overdue, chill out melvin-bot

[2022-09-08 08:38] PauloGasparSv commented on #10799
Same issue from here: https://github.com/Expensify/App/issues/10753

[2022-09-08 08:50] michaelhaxhiu commented on #9293
Just spoke with Rory about this IRL, and wanted to chime in to say I think it would be a helpful addition to add this piece of context to the `crash` GHs because they aren't really getting picked up by contributors.

[2022-09-08 08:56] wildan-m commented on #10608
I see a blank page when clicking Next after filling in the money amount.

Someone also experiences the same:

https://expensify.slack.com/archives/C01GTK53T8Q/p1661708190183589

This bug will be dependent on the above bug.

[2022-09-08 08:58] robertjchen commented on #10528
Got it, thanks for looking into this!

[2022-09-08 08:59] aimane-chnaif commented on #10599
### **Proposal**
https://github.com/Expensify/App/blob/159249bb82317fcd6bd06bc8d4f9127c300a9f9c/src/components/AvatarWithImagePicker.js#L224-L226
Add this props to Pressable component:
[code]
demo video: https://drive.google.com/file/d/1qXw3l1MhKIQqcfDytCFJZuFEYamqX-Fl/view?usp=sharing

[2022-09-08 09:00] MonilBhavsar commented on #10516
Looks good to me! Thanks for updating the proposal 👍

[2022-09-08 09:10] joekaufmanexpensify commented on #10885
Hm, I can't reproduce this in staging or production. Closing for now, as it doesn't seem like this is app-wide issue.

[2022-09-08 09:14] varshamb commented on #10889
### Proposal
Replace `getEmailKeyboardType()`.

https://github.com/Expensify/App/blob/14a5fc39c69347692bbe2efe19e07297075b6455/src/pages/settings/AddSecondaryLoginPage.js#L125-L126

[2022-09-08 09:15] thesahindia commented on #10608
Yeah the page is blank at safari, I have tested this on iPad and mac

[2022-09-08 09:22] Puneet-here commented on #10889
### Proposal

We need use getEmailKeyboardType() instead of undefined here

https://github.com/Expensify/App/blob/14a5fc39c69347692bbe2efe19e07297075b6455/src/pages/settings/AddSecondaryLoginPage.js#L126

We still have to keep it conditional because this component is also getting used for phone number

[2022-09-08 09:30] Beamanator commented on #10670
Dropping priority a bit since this is on hold :D

[2022-09-08 09:33] thesahindia commented on #10889
I think we should close this issue for now as this page is going to get refactored and also this isn't something really important. If the issue stays after the refactor we can reopen.

cc @Luke9389 (Saw your comment about the same on a different issue)

[2022-09-08 09:33] davidcardoza commented on #10888
This could definitely be fixed. Putting this in the engineering pool.

[2022-09-08 09:37] kadiealexander commented on #10412
Price doubled!! 🎉

[2022-09-08 09:40] Gonals commented on #10614
Not overdue!

[2022-09-08 09:48] puneetlath commented on #10886
Internal upwork job: https://www.upwork.com/ab/applicants/1567811708523073536/job-details
External upwork job: https://www.upwork.com/jobs/~01f274e1ebbcbe68a6

[2022-09-08 09:52] bfitzexpensify commented on #10528
OK, since this won't be possible to fix, we'll go ahead and close it out.

[2022-09-08 09:52] #10528 closed

[2022-09-08 10:19] stitesExpensify commented on #9620
Hm so we've been talking about a lot of these things internally because these issues have been popping up so much. @roryabraham is this another one you think should be held for now?

[2022-09-08 10:21] gadhiyamanan commented on #10889
still need to solve the wrong keyboardtype in login page for mWeb as i mentioned [above](https://github.com/Expensify/App/issues/10889#issuecomment-1240225807)

[2022-09-08 10:24] MonilBhavsar opened #10893 "[HOLD for payment 2023-01-19] [$2000] Feature Request: Open link in Desktop app if it is installed and not in browser"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Have desktop app installed
2. Create a new account on desktop app
3. Click the validation link from email

## Expected Result

[2022-09-08 10:35] mountiny commented on #10359
@mvtglobally once  you gonna test, can you also make sure this works fine on standart sizes, ie ipad mobile web? I think that if it works fine there, we could move this to Monthly and add Needs Reproduction label to make sure we find out what is exactly the problem here and how to reproduce it reliably.

[2022-09-08 10:36] pecanoro commented on #10612
I talked to @roryabraham and he mentioned that if there is no stack trace linked to it, it would be really hard to get those, so I am going to close since we can't reproduce and we will see if it gets reopened.

[2022-09-08 10:36] #10612 closed

[2022-09-08 10:37] roryabraham commented on #10849
I think in order for this to work we'll need code in place to serialize images and save them in Onyx. Some of the groundwork for that has been laid, but I don't think this is something we should try to roll out without going through the WN/design doc process.

[2022-09-08 10:38] mananjadhav commented on #10738
Thanks for the bump @mollfpr. Reviewing it currently, and I guess its going to block 2-3 issues. Allow me sometime to write the comment and link the issues.

[2022-09-08 10:39] roryabraham commented on #10849
We should probably create a tracking issue for this class of issue/feature request (dependent upon images being loaded into Onyx), and the project needs a champion. In the meantime, I'm going to HOLD this on https://github.com/Expensify/App/issues/6527 and slap the planning label on it

[2022-09-08 10:40] zanyrenney commented on #10621
Replied in Slack, my newdot being funky.

[2022-09-08 10:43] michelle-thompson commented on #10632
Hmm, what about when you hold down on a message the background highlights as grey like so?
![image](https://user-images.githubusercontent.com/43361905/189102765-d1a24f6b-a628-4634-a090-dacb6fb68fa8.png)

[2022-09-08 10:49] roryabraham opened #10894 "[Tracking][Image][Polish] Image-related feature request and improvements"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem
We have seen a number of issues come up related to images. Uploading them, editing them, making them available offline, copying them to cl

[2022-09-08 11:02] Luke9389 commented on #10889
@thesahindia the refactors we're doing are only effecting the API endpoints. This looks like a purely front end change, so we can move forward with it.

@dhairyasenjaliya, I notice that you've left the 👎 reaction on another contributor's proposal. Please note that this does not influence our decision whatsoever. Also, it's odd to 👎 a proposal that's the same as your own. What is the purpose of tha

[2022-09-08 11:08] bondydaa commented on #10761
dropping this down to weekly since it doesn't seem that pressing and we haven't really come to a conclusion in the thread.

[2022-09-08 11:08] neil-marcellini opened #10895 "Offline indicator doesn’t show for archived rooms"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create a workspace by clicking the green plus, New workspace (if needed)
2. Open the settings by clicking the avatar in the h

[2022-09-08 11:16] dhairyasenjaliya commented on #10889
hello @Luke9389 the simple reason behind was

- The first proposal of the @gadhiyamanan  was to Replace getEmailKeyboardType() with undefined

<img width="1361" alt="Screenshot 2022-09-08 at 10 50 27 AM" src="https://user-images.githubusercontent.com/47522946/189043806-88876af0-0ffe-4645-92ee-a4afb30eadbc.png">

- I was having the better idea to replace it with an actual email-address keyboard her

[2022-09-08 11:16] sanjayradadiya commented on #10886
Need to fire text focus again when we close drawer on on drawer close event

[2022-09-08 11:20] bfitzexpensify commented on #10366
Doubled to $1000

[2022-09-08 11:23] bfitzexpensify commented on #10876
Upwork job [here](https://www.upwork.com/jobs/~0153a5a678ea53cfab)

[2022-09-08 11:28] neil-marcellini commented on #10895
This bug occurs because on large screens the OfflineIndicator is displayed in the ReportActionCompose component on the ReportScreen.
https://github.com/Expensify/App/blob/85172f72f1abbf1976e6abd3c08f5f74c04ae1b6/src/pages/home/report/ReportActionCompose.js#L678-L682

When we have an archivedRoom we don't render the composer, and therefore we don't render the offline indicator on large screens.
htt

[2022-09-08 11:29] MonilBhavsar commented on #10224
Will get back next week!

[2022-09-08 11:35] puneetlath commented on #10865
Internal Upwork job: https://www.upwork.com/ab/applicants/1567839053011177472/job-details
External Upwork job: https://www.upwork.com/jobs/~014411ca93fc9955e5

[2022-09-08 11:39] tgolen commented on #10876
@amyevans It looks like it's related to this code which you added: https://github.com/Expensify/App/blob/29c0e21fee8b512ea9cbd863f5acaa54886c3a57/src/pages/workspace/reimburse/WorkspaceReimburseView.js#L144

I think it's totally normal for `_.find()` to not find something and end up with a `null` result. The rest of the code flow though is expecting that it will _ALWAYS_ find something, which does

[2022-09-08 11:41] puneetlath commented on #8541
@parasharrajat @thesahindia @dharmik sent you all hiring offers in Upwork.

[2022-09-08 11:45] stitesExpensify commented on #10865
It's not harmful to the physical function but it is good polish IMO. The expected UX for all other apps I use (github, whatsapp, slack, etc) stop hover when you aren't hovering

[2022-09-08 11:48] bfitzexpensify commented on #10526
Adding Reviewing label to stop this going overdue - I'm subscribed to https://github.com/Expensify/App/issues/10273 and I'll take this off hold when that's complete

[2022-09-08 12:06] kavimuru opened #10896 "iOS - Members - Member added when offline, appear without avatar image returning online"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing PR #10668
## Action Performed:
1. Log in an new account
2. Create a new user
3. Create a new workspace
4. While online, navi

[2022-09-08 12:06] gadhiyamanan commented on #10889
@dhairyasenjaliya after found that in mweb it's not working properly so i am trying to update proposal meanwhile you have just posted a proposal. I think that's why there is confusion.

[2022-09-08 12:09] Luke9389 commented on #10889
I see. Thank you for the explanation @dhairyasenjaliya.

@gadhiyamanan, in the future please post a new proposal instead of editing an existing one. For this issue we will consider @dhairyasenjaliya's proposal as occurring before yours.

[2022-09-08 12:16] Christinadobrzyn commented on #10733
doubled price - $500

[2022-09-08 12:17] Christinadobrzyn commented on #10555
Still waiting on proposals - doubled price $500

[2022-09-08 12:17] Christinadobrzyn commented on #10663
Still waiting on proposals - doubled price $500

[2022-09-08 12:17] gadhiyamanan commented on #10889
@Luke9389 thank you for suggestions, i proposed two solution and the second one is different and it was first proposed by me.

@dhairyasenjaliya apologies for the confusion

[2022-09-08 12:20] gadhiyamanan commented on #7962
@kadiealexander ping por upwork

[2022-09-08 12:20] mananjadhav commented on #10733
@Christinadobrzyn @puneetlath For one of the [other issues](https://github.com/Expensify/App/issues/10612#issuecomment-1240536127) where we didn't have the stack trace, we just closed the issue as it is very difficult to investigate with the stack trace. Can we close this one too?

[2022-09-08 12:36] kadiealexander commented on #7962
Thanks @gadhiyamanan, I think everyone is paid and all contracts are ended. Please let me know if there's anything outstanding!

[2022-09-08 12:36] #7962 closed

[2022-09-08 12:36] gadhiyamanan commented on #7962
Thank You :)

[2022-09-08 12:47] hashirafique commented on #10886
Hello, I just explored about your company Expensify and the work you people are doing is great. I visited this github link and watched the video and understand that you want this text field to stay focused even when we click on the details of a user. From my initial understanding, you are having some issues with your CSS Psuedo Classes such as focus and active. And if you require further edition i

[2022-09-08 12:54] kavimuru opened #10897 "Web-Workspace-The workspace that was created offline disappears after returning online"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #10723

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login
2. Kill internet connections
3. G

[2022-09-08 13:01] kbecciv opened #10898 "Email - Additional lines added to the message when replying via email"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.newt.expensify.com and log in as account A
2. As account A send some messages to an account that must be a main

[2022-09-08 13:02] quidam93 commented on #10865
### Proposal

**Cause of the issue**
I will explain the issue. There is an option in Hoverable component for the "hover out" and "hover in" events. However in EmojiPicker component, only hover in callback is used.

**Solution**
We tried to implement the hover out callback as well.

Highlighted items are controlled with a state in the component as "highlightedIndex". It is set to -1 if nothing is h

[2022-09-08 13:09] MariaHCD commented on #10701
Great, thanks! I'll look into this asap.

[2022-09-08 13:24] Julesssss commented on #10853
Closing as discussed [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1661280139050409)

[2022-09-08 13:24] #10853 closed

[2022-09-08 13:24] Julesssss commented on #10852
Closing as discussed [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1661280139050409)

[2022-09-08 13:24] #10852 closed

[2022-09-08 13:48] mollfpr commented on #10886
### Proposal

**Root cause**
To focus the composer it depends on `modal.isVisible`. But currently when open `ReportParticipantsPage`, the Onyx key of `modal.isVisible` is not set to `true` and instead has a `false` value even after the page is closed.
https://github.com/Expensify/App/blob/1718572434eafd9c3a816653c6eb8a95054e958c/src/pages/home/report/ReportActionCompose.js#L162-L174

There's a mod

[2022-09-08 13:58] flodnv commented on #9941
Ah, ok. I guess we can keep tracking for a little while and see what happens

[2022-09-08 14:09] quidam93 commented on #10865
@mdneyazahmad Thanks for the heads up! Also fixed that issue with a check before setting highlightedIndex to -1.

![10865_2](https://user-images.githubusercontent.com/26013008/189143876-3accf4f1-6271-47e6-8e2b-ace1cafd3a9f.gif)

[2022-09-08 14:18] jayeshmangwani commented on #9579
[PR](https://github.com/Expensify/App/pull/10900) created

cc: @mananjadhav @iwiznia

[2022-09-08 14:22] mollfpr commented on #10865
### Proposal

**Root cause**
When hovering on an item we set the index of the item to `this.state.highlightedIndex`. When we not hovering on the item, the last item set to `this.state.highlightedIndex` is still remaining.

https://github.com/Expensify/App/blob/1718572434eafd9c3a816653c6eb8a95054e958c/src/components/EmojiPicker/EmojiPickerMenu/index.js#L442

**Solution**
On `EmojiPickerMenuItem` de

[2022-09-08 14:30] kbecciv opened #10901 "IOS - Workspace - App crashed after back online when adjusted workspace name while offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10723

## Action Performed:
1. Launch the app
2. Log in with expensifail accou

[2022-09-08 14:31] OSBotify commented on #10901
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-08 15:13] kbecciv commented on #9181
@techievivek @bfitzexpensify QA team is able to reproduce it with build 1.1.98.0

https://user-images.githubusercontent.com/93399543/189159634-6331328b-e978-4203-bca1-f74a85e113fb.mp4

https://user-images.githubusercontent.com/93399543/189159636-523ced51-5eb8-43db-bfec-4013d8689629.mp4

[2022-09-08 15:27] kbecciv opened #10902 "Web - Send money - User is not directed in correct chat after send money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in to any account
3. Click on the green plus button in the LHN.
4. Select `Send money`

[2022-09-08 15:28] Justicea83 commented on #8441
The solution to this issue is now officially covered in the manual requests project(https://docs.google.com/document/d/1B_Y4T12LDl_OfTt8LMoatS8OlEwX6H162ZBxioV_xJg/edit#heading=h.ns12dr1f35rx)

[2022-09-08 15:28] #8441 closed

[2022-09-08 15:44] dhairyasenjaliya commented on #10889
@Luke9389 thank you for checking out, and also can we have any reviewer assigned here seems like no one assigned here

[2022-09-08 15:44] dhairyasenjaliya commented on #10555
@parasharrajat I did try to investigate this one I found that this one is a bug from reacts (chrome) that exists on the framework itself let me give one good example for instance Netflix is built using react whereby you can check https://www.netflix.com/in/login just try to add password toggle it will jump at the begging (Same as our code base) but if you try the same site in safari no issue, TBH

[2022-09-08 15:58] kbecciv commented on #10291
@bfitzexpensify @parasharrajat QA team is able to reproduce it with build 1.1.98.0

https://user-images.githubusercontent.com/93399543/189169455-ddd8f93f-8159-4c0f-b63b-5dbdbf9d76d9.MP4

[2022-09-08 15:59] amyevans commented on #10876
1. A policy should always have a distance `customUnits` since it's the default custom unit on a policy. There was a bug until last night though where we weren't returning data from the API in the correct format in all instances, but that was resolved in https://github.com/Expensify/Web-Expensify/pull/34806.
2. In light of ^, maybe we just return early on the off chance it isn't found?

[2022-09-08 16:02] dhairyasenjaliya commented on #10291
@kbecciv yup this is an open issue here https://github.com/Expensify/App/issues/8592 for M-Safari only currently in this PR we have fixed only the iOS app
- I think we can re-close this one from here

[2022-09-08 16:02] Julesssss commented on #10883
Checking off #10867 as there's no testing required

[2022-09-08 16:09] #10291 closed

[2022-09-08 16:09] laurenreidexpensify commented on #10426
https://www.upwork.com/jobs/~01e96adbe9e8d8f9b0

[2022-09-08 16:20] kbecciv commented on #10901
@marcochavezf Updated, credentials used: applausetester+0901abb@applause.expensifail.com/Feya86Katya

[2022-09-08 16:22] kavimuru opened #10903 "[HOLD for payment 2022-10-04] [$250] Android - "Close account" button partially covers the text information when keypad opened"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App/Android and login
2. Go to Settings->Security->Close account
3. Focus on "Enter message" field and then "Enter de

[2022-09-08 16:26] kavimuru opened #10904 "[$250] IOU - User can enter a number with few leading zeros like 0000.12 in money request field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open App
2. Click the FAB button and select `Request Money`
3. Enter a number with a few leading zeros, like 000000.12 or 0000

[2022-09-08 16:37] marcaaron commented on #10901
Not able to reproduce this one locally.

[2022-09-08 16:41] thesahindia commented on #10902
It is expected, It was logged before [here](https://github.com/Expensify/App/issues/9084).

[2022-09-08 16:55] aimane-chnaif commented on #10555
### **Updated Proposal**
This is nature of web, so when tap other elements, focused input is blurred as default.
To prevent this, we need to prevent default event on `onMouseDown` by calling `e.preventDefault()`.
And this doesn't affect tap effect since it is handled in `onPress` (this is existing props of react-native-web's Pressable component).

**Solution:**
https://github.com/Expensify/App/blo

[2022-09-08 17:20] neil-marcellini commented on #10895
Here's the solution I added today. I added an offline indicator outside of the composer if we are rendering something else instead.
https://github.com/Expensify/App/blob/6aee8127d7eaa1b6b8fb6c183294149966ea6bce/src/pages/home/ReportScreen.js#L260-L286

[2022-09-08 17:33] mananjadhav commented on #9579
Thanks for the PR @jayeshmangwani I'll get it to tomorrow.

[2022-09-08 17:42] mananjadhav commented on #10469
We closed one of the issues, due to missing stack trace. Should we be doing the same?

[2022-09-08 17:51] mananjadhav commented on #10705
@tgolen @trjExpensify  Did you get a chance to look my and @vladnobenladen's comment?

I don't think anything needs to be done here, unless there's some other issue such as input not being able to focus.

[2022-09-08 18:02] mananjadhav commented on #10738
@mollfpr's proposal looks fine to me.  I haven't tested it, but it'll set a good example for us to have subforms being used.

My only question would be: @neil-marcellini Can you confirm if we still want to retain `AddressForm`, and use the way @mollfpr suggested?
[code]

or should we split `AddressSearch` and other properties are children inside `Form.js` component of the respective form. I am inc

[2022-09-08 18:05] mananjadhav commented on #9580
Coming from this [comment](https://github.com/Expensify/App/pull/10741#issuecomment-1239127226), it seems `AddressForm`, doesn't work well with Form.js without modifying it.

We are tracking the `AddressForm` refactor, here https://github.com/Expensify/App/issues/10738. We've almost through one [proposal](https://github.com/Expensify/App/issues/10738#issuecomment-1236347332), and hence I feel we s

[2022-09-08 18:15] kbecciv opened #10905 "[HOLD for payment 2022-11-16] [$1000] iOS - LHN - The green + button moves"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App/iOS and login with any account
2. Click on FAB button
3. Select New Chat or New Group and then close it

## Expec

[2022-09-08 18:32] kbecciv opened #10906 "[HOLD 18601][$250] mWeb/Chrome - Workspace - Unable to use Enter key for starting a new line under Personal message box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with expensifail account
3. Go to Setting - Workspace
4. Manage Members
5. Tap Invit

[2022-09-08 18:51] mvtglobally commented on #10883
@Julesssss Regression is almost completed.

PR https://github.com/Expensify/App/pull/10455 - We are not sure how to test this. Video and steps do not match. Need some help with this one.
PR https://github.com/Expensify/App/pull/10488#issuecomment-1240141936 - QA team is not able to test Wallet
PR https://github.com/Expensify/App/pull/10659 is failing https://github.com/Expensify/App/issues/9705. S

[2022-09-08 18:57] varshamb commented on #10891
### Proposal

User profile has First Name and Last Name already updated

![image](https://user-images.githubusercontent.com/111683206/189201377-a103079c-1a56-4340-b016-07c3d17a5cfb.png)

Workspace Manage member page then

![image](https://user-images.githubusercontent.com/111683206/189201434-be11b0fd-563f-468e-9f6d-45d54856c008.png)

First Name and Last Name removed (made blank) from User profile

[2022-09-08 20:00] melvin-bot[bot] opened #10907 "[HOLD #9402] [$500] Investigate: 💥 Crash 💥 `.getAttachmentName`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Cannot convert null value to object
### `address at index.android.bundle:1:2767055` `.getAttachmentName`
### Number of Crashes: 63

## Device Information
* **Platforms:** Android, iOS
* **App Versions:** `1.1.97-7`, `1.1.98-1`, `1.2.0-

[2022-09-08 20:57] lbaldy commented on #2727
@parasharrajat  I have updated  the PR we had: https://github.com/Expensify/App/pull/9143

This one uses the official React Native release 0.70.0 from Facebook. The fix is there and it seems to be working just fine.

The Expensify NPM repo doesn't contain the latest version yet - https://www.npmjs.com/package/@expensify/react-native.

If we wanna go with the fork, someone from Expensify needs to p

[2022-09-08 21:23] Santhosh-Sellavel commented on #8841
Any update @MitchExpensify!

[2022-09-08 21:26] Santhosh-Sellavel commented on #9737
Any update on the PR @aneequeahmad?

[2022-09-08 21:27] Santhosh-Sellavel commented on #10198
Accepted @adelekennedy!

[2022-09-08 21:30] Santhosh-Sellavel commented on #8236
Not overdue @Luke9389
I see `Not a Proirity` label, Can we make this `monthly` instead of `weekly`

cc: @NicMendonca

[2022-09-08 21:30] Santhosh-Sellavel commented on #9510
Waiting for you review @sketchydroide

[2022-09-08 21:31] Santhosh-Sellavel commented on #10345
Not overdue

[2022-09-08 21:31] lbaldy commented on #2727
Great, keep me posted.

[2022-09-08 21:34] Santhosh-Sellavel commented on #10622
Ya right!

This solution solves the crash on the web, need to ensure all platforms are working well before moving forward!

[2022-09-08 21:51] chiragsalian commented on #10883
Yes, looks like the issue is just with the offline part, wherein when coming back online the workspace disappears. Not deploy blocker worthy so I'll check it off.

[2022-09-08 22:04] OSBotify commented on #10883
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10908) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.98-1` :rocket:

[2022-09-08 22:51] mvtglobally commented on #10883
@chiragsalian Regression is completed.

[2022-09-08 23:16] mallenexpensify commented on #10907
Job posted https://www.upwork.com/jobs/~01d1a5f8f05af0d91d

[2022-09-08 23:16] isagoico opened #10912 "Action Menu - Mark as Unread action does not work on latest message from the other Participant"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
_**FIRST SCENARIO**_
1. Log in to Account A on a IOS
2. From account B on another device sent a message to account A
3. As accoun

[2022-09-08 23:51] mallenexpensify commented on #10912
Might be related this this that Marc is working on https://github.com/Expensify/Expensify/issues/227410

[2022-09-08 23:57] OSBotify commented on #10883
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.98-1 has been deployed to staging :tada:

[2022-09-08 23:59] chiragsalian commented on #10883
Im checking https://github.com/Expensify/App/issues/10901, since we're trying to get https://github.com/Expensify/App/pull/10908 out the door soon as its affecting customers. https://github.com/Expensify/App/issues/10901 is also an edge case and I wasn't able to reproduce it.