[2022-01-26 00:32] roryabraham commented on #7407
Fix incoming...

[2022-01-26 00:37] roryabraham commented on #7407
PR up and ready for review. Just gathering screenshots...

[2022-01-26 00:38] Luke9389 commented on #7400
Also, rooms are still pretty buggy, we're working on it in multiple design docs right now.
This is behind beta so we shouldn't treat this as a super urgent concern. This is N7 IIRC

[2022-01-26 00:40] NikkiWines commented on #5620
Not to jump to conclusions or anything, but encouraging news.

According to our logs, there have been 80 instances of `[alXt] [BootSplash] splash screen is still visible ~~` since Friday, but 0 instances where the app version was `1.1.31-2` or `1.1.32-0` (which is the prod version that was deployed only a couple hours ago)

[2022-01-26 00:44] rushatgabhane commented on #7286
Thankd @mallenexpensify, applied ✅

[2022-01-26 00:53] parasharrajat commented on #7329
Just leave a note in case...
I have proposed a solution https://github.com/Expensify/App/issues/7329#issuecomment-1018007277 but not as a C+ suggestion. I want to work on this if hired.

@rushatgabhane is C+ https://github.com/Expensify/App/issues/7329#issuecomment-1018011190. But as per process, he was unassigned before I was hired :bow:

[2022-01-26 00:56] MitchExpensify commented on #6474
Paid @K4tsuki!

@parasharrajat I've sent an offer on a reposting of the job (Upwork automatically closed the previous one) so I can pay your reporting fee!

[2022-01-26 01:00] murataka commented on #4612
### Proposal

I realised that  `⌘[` and Forward `⌘]`  keys correcly call the goBack and goForward functions, however , that functionality seems to be broken :

1. On firefox , back and forward does nothing
2. On Chrome , forward and back buttons work, but after doing back -> forward -> back -> forward , we get ```
useLinking.js:33 Uncaught TypeError: Cannot read property 'id' of undefined
    at u

[2022-01-26 01:01] parasharrajat commented on #6474
@MitchExpensify Could you share the URL for the job? I am seeing a very different title from this one. Also, I should be eligible for reporting and C+.

[2022-01-26 01:05] parasharrajat commented on #4612
Thanks for the investigation. As this issue involves working with navigate state,  a solution should correct that to achieve the proper navigation. And it should work the same on all devices.
1. Android, back button.
2. Browser <- and  -> buttons regardless of browser.

No hacks which directly work with browser History API. We use react-navigation so solution should utilize that purely for the pru

[2022-01-26 01:08] murataka commented on #4612
Ok , so is it the third one you request ?

That will solve the issue across all devices.

[2022-01-26 01:11] murataka commented on #4612
currently

`browserWindow.webContents.goForward`

is being used , and we shall change it to use the react components , am I correct  ?

[2022-01-26 01:12] parasharrajat commented on #4733
Oh. This is a long-dead issue. I completely forgot about this. Sorry, I have tried many solutions to adjust the UI but using only styling does not seem to be a solution anymore. I will try to find some tricks but truly saying existing implementation for code blocks rendering is already tricky. We can reopen this for others if needed, It will be some time before I can spend time on this again.

[2022-01-26 01:15] parasharrajat commented on #4612
`browserWindow.webContents.goForward` is a direct API to press the Forward button on your browser. It utilizes the navigation history stack. I don't think this needs to be changed.  But happy to hear alternatives that fixes the issue.

[2022-01-26 01:17] murataka commented on #4612
we should use react router  for historyfor both native and browser , that will make sure there it will work on all platforms .  because react already overrides that functionality in browser. That will make it run correctly on all platforms.

[2022-01-26 01:21] mallenexpensify commented on #6780
Thanks @parasharrajat, can you accept the offer and I'll pay?

[2022-01-26 01:23] mallenexpensify commented on #5620
I'm see 1.1.31 as the most recent version for iOS, could that be why? it hasn't been deployed to app store yet?

[2022-01-26 01:28] #7407 closed

[2022-01-26 01:31] parasharrajat commented on #6780
@mallenexpensify  Done. Thanks.

[2022-01-26 01:32] NikkiWines commented on #5620
My app version on testflight is `1.1.33.1` so at least some Expensify employees should be on a version that includes @zoontek's most recent changes.

[2022-01-26 01:36] K4tsuki commented on #6474
Thank you @MitchExpensify, I really appreciate it.

[2022-01-26 01:56] murataka commented on #4612
https://stackoverflow.com/questions/42701129/how-to-push-to-history-in-react-router-v4
Creating a new browserHistory won't work because <BrowserRouter> creates its own history instance, and listens for changes on that. So a different instance will change the url but not update the <BrowserRouter>.
browserHistory is not exposed by react-router in v4, only in v2.

[2022-01-26 02:17] sig5 commented on #6154
For clarification, I am adding one more video. I have tested it rigorously and it works fine.https://user-images.githubusercontent.com/48352577/151092806-5a86f062-fc0c-47e6-bbae-73ae85683eaf.mp4

[2022-01-26 02:20] parasharrajat commented on #4612
Could you please do more research and gather information before we discuss a solution here?
1. we use react-navigation.
2. `history.forward()` === `browserWindow.webContents.goForward`.

[2022-01-26 02:25] kavimuru opened #7417 "Android / iOS - Concierge is displayed with email address in LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Check the Concierge in LHN

## Expected Result:
Concierge should displayed as Name "Concierge"

## A

[2022-01-26 02:26] OSBotify commented on #7417
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-26 02:34] NikkiWines commented on #6676
Oh, sorry, I missed @parasharrajat's comment above and thought things were still in discussion. @K4tsuki proposal from [here](https://github.com/Expensify/App/issues/6676#issuecomment-1013597261) looks good

[2022-01-26 03:15] NikkiWines commented on #7316
I think we should get rid of `expensifyCashURL` and `URL_EXPENSIFY_CASH` AND `EXPENSIFY_URL_CASH` because why do we have 3 iterations of the same variable with slight variations, all using an outdated name.

Instead, I suggest the following:

 1. `expensifyURL` becomes `expensifyURLCom` in CONFIG.js  (for consistency with `URL_EXPENSIFY_COM`)
 2. `expensifyCashURL` becomes `expensifyURL` in CONFIG

[2022-01-26 03:28] kavimuru opened #7418 "Android - Not able to connect to a bank account tapping " bank account" under transfer money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Add VBA into your testing account
1. Launch the app
2. Log in with expensifail account
3. Go to Preferences and Enable the Secure Stag

[2022-01-26 03:29] OSBotify commented on #7418
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-26 04:05] kadiealexander commented on #7378
https://www.upwork.com/jobs/~0128c07745334f089f

[2022-01-26 04:11] roryabraham commented on #7010
Yeah, I'm fine with keeping things simple and closing this. I like keeping things consistent where possible, but in this case we can consider it a platform limitation. It's not a severe bug either, just a mild inconsistency.

[2022-01-26 04:11] #7010 closed

[2022-01-26 04:50] K4tsuki commented on #6876
Update I could solve the problem by adding parameter to `updateNewComment` with new `nextSelection` parameter that will be used by `addEmojiToBox`:

[code]
in :

https://github.com/Expensify/App/blob/07582967349266b430103b11a94839bf40d8bccb/src/pages/home/report/ReportActionCompose.js#L336

more detail maybe later.

[2022-01-26 05:18] rushatgabhane commented on #7378
Unassigning myself because Rajat doesn't need a C+ review 😄

[2022-01-26 05:44] twointo2 commented on #7378
Hi!
I have checked the Upwork Job and installed the app on my local machine. After investigation, I have found that the @parasharrajat 's [comment](https://github.com/Expensify/App/issues/7378#issuecomment-1020798955) will do the job as the extra `style={[styles.mb5]}` is added into the `closeAccount` button component in the https://github.com/Expensify/App/blob/921fa4fe4a3f36fb332b9e5c854771bec5b

[2022-01-26 06:02] JmillsExpensify commented on #7334
Oh this got assigned when I was off. Sorry! Jumping in and posting now.

[2022-01-26 06:05] JmillsExpensify commented on #7334
Issue looks good. Here's the Upwork job: https://www.upwork.com/jobs/~01a2ae7f36e38bfe1c

[2022-01-26 06:07] JmillsExpensify commented on #7380
Upwork job is posted here: https://www.upwork.com/jobs/~019e4050a252db42da

[2022-01-26 06:10] JmillsExpensify commented on #3922
Awesome, happy to process the payment and increase. I'm defaulting to doubling the job, though if that's not right then someone on this issue can chime in (or reach out) and I can process the right amount before closing out the contract. Thanks!

[2022-01-26 06:16] JmillsExpensify commented on #5082
Waiting two more days for no regressions and then I'll process the payment.

[2022-01-26 06:18] JmillsExpensify commented on #7059
Apologies, this caught me in the middle of a move. Creating the Upwork job now.

[2022-01-26 06:19] JmillsExpensify commented on #7059
Posted to upwork here: https://www.upwork.com/jobs/~0128d7cf85fbb6df0c

[2022-01-26 06:21] JmillsExpensify commented on #7270
Apologies for missing this one! Here's the Upwork job: https://www.upwork.com/jobs/~01442767ed529addbf

[2022-01-26 06:37] yuwenmemon commented on #7418
@ctkochan22 @johnmlee101 any idears?

[2022-01-26 06:54] K4tsuki commented on #6876
#### proposal

I am able to find simpler solution:
Remove selection property in

https://github.com/Expensify/App/blob/07582967349266b430103b11a94839bf40d8bccb/src/pages/home/report/ReportActionCompose.js#L664

<br />

Then In `updateComment`

https://github.com/Expensify/App/blob/07582967349266b430103b11a94839bf40d8bccb/src/pages/home/report/ReportActionCompose.js#L335-L336

add new parameter `ne

[2022-01-26 07:05] mateusbra commented on #7380
thanks, proposal posted on upwork @JmillsExpensify

[2022-01-26 07:54] parasharrajat commented on #7380
@mateusbra Your proposal looks good to me. Can't we pass the same via styles?

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-26 08:02] parasharrajat commented on #3922
@JmillsExpensify  Doubling works for me as far as the holding bonus is counted separately.

[2022-01-26 08:08] parasharrajat commented on #6876
Great. Thanks for the updates. I will review this shortly.

[2022-01-26 09:01] parasharrajat commented on #7059
@mananjadhav's  proposal looks good to me.

cc: @mountiny

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-26 09:19] parasharrajat commented on #6872
Okay. There is no update on slack after pushing the discussion for several days. It seems to me that it is time to take the matter in my :open_hands: .

@K4tsuki you have an interesting solution https://github.com/Expensify/App/issues/6872#issuecomment-1013060140. But let's demisify this.
1. we send a value via props.
2. value is received as ComponentDidUpdate.
3. SetValue change `this.value` and

[2022-01-26 09:31] eVoloshchak commented on #6470
@parasharrajat

When we try to call `findNodeHandle(this.relatedTarget)`, it fails with the `Object(...) is not a function` error.
![Screenshot from 2022-01-26 11-29-20](https://user-images.githubusercontent.com/9059945/151137798-247e4a26-74f1-434e-ad08-a8c5c197f535.png)

However, we can just directly compare `ref` and `this.relatedTarget`, so the resulting method can look like this
[code]

[2022-01-26 09:39] dylanexpensify commented on #7350
Working on this now!

[2022-01-26 09:41] dylanexpensify commented on #7350
Posted!

Internal: https://www.upwork.com/ab/applicants/1486272948841013248/job-details
External: https://www.upwork.com/jobs/~0101410bc55101d587

[2022-01-26 09:51] parasharrajat commented on #6470
From which module are you importing `findNodeHandle`. I imported it from react-native and there was no issue on the web.

[2022-01-26 09:54] eVoloshchak commented on #6470
I've imported it from `react`. You're right, importing it from `react-native` resolved the issue

[2022-01-26 10:32] anthony-hull commented on #6890
PR merged and deployed to staging

[2022-01-26 10:49] parasharrajat commented on #6470
Could you please submit an updated proposal?

[2022-01-26 10:50] parasharrajat commented on #7037
@trjExpensify gentle ping in case you missed the above comment's notification.

[2022-01-26 11:33] eVoloshchak commented on #6470
1. Change [this line](https://github.com/Expensify/App/blob/07582967349266b430103b11a94839bf40d8bccb/src/pages/NewChatPage.js#L188) in the NewChatPage to `searchValue: prevState.searchValue`
2. Add `ref` to OptionRow and pass it to the onSelectRow
[code]
3. Add the following methods to [TextInput](https://github.com/Expensify/App/blob/07582967349266b430103b11a94839bf40d8bccb/src/components/Options

[2022-01-26 11:36] Julesssss commented on #7378
Thanks for the proposals. I'm assigning @parasharrajat as he was the original reporter of this issue, and the first to submit a correct proposal.

[2022-01-26 11:50] robertjchen commented on #5768
Got it, so I think the goal here is to remove already selected users from BOTH the `recent` and `contacts` sections when searching.

Given that this has been confirmed by #design, I'm going to move this proposal to `External` for implementation, let me know if we need to clarify anything else before getting started 👍

[2022-01-26 11:51] K4tsuki commented on #6872
Please wait...

[2022-01-26 12:07] parasharrajat commented on #6470
First, we don't use hooks https://github.com/Expensify/App/blob/main/STYLE.md#stateless-components-vs-pure-components-vs-class-based-components-vs-render-props---when-to-use-what. You will have to convert that to the class component.

Apart from it, @eVoloshchak 's solution looks good to me.

cc: @AndrewGable
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-26 12:12] parasharrajat commented on #5768
@robertjchen 's you accidentally unassigned Matt.

For everyone, there is one proposal https://github.com/Expensify/App/issues/5768#issuecomment-940801296.

[2022-01-26 12:29] kidroca commented on #5699
@NicMendonca
Thanks, I've accepted

[2022-01-26 12:31] NicMendonca commented on #5699
Perfect, all set here. Thanks everyone!

[2022-01-26 12:31] #5699 closed

[2022-01-26 12:37] trjExpensify commented on #7037
All good, @parasharrajat. Will settle once accepted 👍

[2022-01-26 12:42] trjExpensify commented on #6676
Cool, sent the offer @K4tsuki. @parasharrajat, likewise for C+.

[2022-01-26 12:51] trjExpensify commented on #6154
@sig5, can you apply please? :)

[2022-01-26 12:56] trjExpensify commented on #7365
👋 Job on upwork is here: https://www.upwork.com/jobs/~011ea8673c607beed8
@kavimuru, just to confirm.. this issue was reported by Applause, right? That detail is missing from the OP.

[2022-01-26 13:09] parasharrajat commented on #3922
@JmillsExpensify I saw that you released a bonus amount on the old contract. But I canceled that contract a month ago for some reason and no payment was released to me.  Thus, I have to refund that bonus back to you to manage my finances. Sorry for the inconvenience. Please let me know if you have any questions otherwise, I will refund that bonus.

Could you please create a new fresh job and I wou

[2022-01-26 13:31] sig5 commented on #6154
Done! Thanks :D

[2022-01-26 14:07] parasharrajat commented on #6876
I am trying to digest this information.

- When you set a value via `setnativeProps` API It should not trigger a selection update. Right?
- Why the state.isEmojiPickerVisible will be late? Maybe it is more reliable than normal instance property.

There was one old bug (can't remember the link) that added this. You can find this info via git blame.

[2022-01-26 14:08] mateusbra commented on #7380
@parasharrajat  sure we can!

[2022-01-26 14:09] parasharrajat commented on #7380
Alright, lets do that instead.

[2022-01-26 14:10] rushatgabhane commented on #7352
Hmm I think that'll lead to an extra new line at the end of copied text.
Copying a single line of text will have a new line, which isn't ideal.

[2022-01-26 14:14] kursat commented on #7352
Hey @thienlnam, data-testid is added by react-native-render-html.

@roryabraham all steps are correct.

@sig5's proposal looks like a workaround to me. So I am trying to find a better solution for this for a couple days. @roryabraham  If I can be able to find a better solution, we can also implement your improvement ideas.

[2022-01-26 14:38] K4tsuki commented on #6876
No, if you not specify the `selection` field.

When user open `emojiPicker` `textInput` get blurred and selection change. And this is will change user selection right before he open `emojiPicker` . I mean in this code:

https://github.com/Expensify/App/blob/a9dd57ca3f09181df92699e7c10b6cd7dbddfaaa/src/pages/home/report/ReportActionCompose.js#L250-L253

On `this.textInput.blur();` the selection wil

[2022-01-26 14:55] Beamanator commented on #7206
Yeah good question, looks like so far I can see:
- 5 custom updates to `react-native-web`: https://github.com/Expensify/react-native-web/pulls?q=is%3Apr+is%3Aclosed
- 1 custom update to `react-native`: https://github.com/Expensify/react-native/pulls?q=is%3Apr+is%3Aclosed
- 1 to `react-native-google-places-autocomplete`: https://github.com/Expensify/react-native-google-places-autocomplete/pulls?q=i

[2022-01-26 15:04] Tushu17 commented on #6767
@MitchExpensify, can you hire me for reporting bonus. I have submitted the proposal but it's not showing up for some reason

[2022-01-26 15:07] eVoloshchak commented on #6470
Ok, no problem

[2022-01-26 15:13] kavimuru opened #7420 "IOU - All the cancelled request preview shows loading spinner for reopened accounts - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Closed an account then reopen again
1. Launch the app
2. Login with reopened account credentials
3. Open Direct message with account w

[2022-01-26 15:26] parasharrajat commented on #7380
`inputStyle` prop is used for passing styles to input but if that does not work direct prop works for me. Only issue with the later is that it is deprecated.

[2022-01-26 15:26] murataka commented on #6562
@NikkiWines ,

I think that there are two mandatory functionalities to make sync work correctly, and one of this is that time limitation to edit , where I came up with the same idea without reading the above conversation with @K4tsuki   , so I think this idea is worth considering more . Please let me know what you think in the slack channel.

[2022-01-26 15:32] mananjadhav commented on #7316
@NikkiWines @roryabraham Is it fine if we track these URL changes as a separate issue? These have impact on unrelated changes and will require testing those instances for 5-6 different places?

[2022-01-26 15:37] jsamr commented on #4733
I am currently studying in details differences between CSS spec and React Native layout. Perhaps I will publish some material at some point; this morning I have been working on CSS inline formatting contexts VS React Native `Text` layout.

The issue you are encountering is due to a lack of specification regarding layout of inline elements in React Native. Its layout engine, `Yoga`, only _attempts_

[2022-01-26 15:43] mateusbra commented on #7380
`inputStyle`, didn't worked I think this prop is being overwritten when we call BaseTextInput:
https://github.com/Expensify/App/blob/07582967349266b430103b11a94839bf40d8bccb/src/components/TextInput/index.native.js#L6-L17

So, we should follow with my first proposed fix?

[2022-01-26 15:53] K4tsuki commented on #6872
Let's take a look at real usage here:

https://github.com/Expensify/App/blob/07582967349266b430103b11a94839bf40d8bccb/src/pages/settings/Profile/ProfilePage.js#L217-L224

Component `FullNameInputRow` inside `ProfilePage` use this 'TextInput' component.

There is `FirstName` text input value set by `this.state.firstName`.
Also there is `onChangeFirstName` that listen to `onChangeText `on first name

[2022-01-26 16:04] kbecciv opened #7422 "Security - Placeholder is overlapping with entered text"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go to Settings - Security - Close account
4. On Enter email box start typing the email

## Expected

[2022-01-26 16:08] parasharrajat commented on #7380
Already fixed it here https://github.com/Expensify/App/pull/7318. We can wait for that to merge.

[2022-01-26 16:22] mvtglobally commented on #7417
Looks like multiple account types are impacted. Additional info in tread https://expensify.slack.com/archives/C01GTK53T8Q/p1643211405491800

[2022-01-26 16:28] AndrewGable commented on #6470
All looks good, approved to start the PR! ✅

[2022-01-26 16:29] tgolen commented on #7329
Oh, got it! In that case, since I liked that proposal the best, I give the 🟢  to hire @parasharrajat for this.

[2022-01-26 16:32] AndrewGable commented on #6470
@bfitzexpensify - Can you look into the job posting? Thanks!

[2022-01-26 16:49] joelbettner commented on #7412
Thanks @roryabraham!

[2022-01-26 16:55] roryabraham commented on #7412
To investigate, I'm starting by looking at the [difference between the staging and production branches](https://github.com/Expensify/App/compare/production...staging) to identify a list of pull requests that seem like possible culprits for this regression.

[2022-01-26 16:56] nickmurray47 commented on #7386
Info looks all there, will probably assign as `External` in a moment but want to take a moment to look at the issue myself

[2022-01-26 17:01] mateusbra commented on #7380
Ok, so, once I be hired on upwork I'll rise a PR

[2022-01-26 17:03] NikkiWines commented on #7316
That's fine by me 👍

[2022-01-26 17:11] roryabraham commented on #7412
Here's my list of potential culprits:

- https://github.com/Expensify/App/pull/7301
- https://github.com/Expensify/App/pull/7370
- https://github.com/Expensify/App/pull/7367 (less likely)

[2022-01-26 17:21] Julesssss commented on #5125
Hi @parasharrajat, any updates here?

[2022-01-26 17:22] roryabraham commented on #7412
Okay, I'm actually not able to reproduce this issue on main

[2022-01-26 17:24] adeel0202 commented on #7354
@rushatgabhane you mean we should increase the `minHeight` and keep the placeholder as it is?

[2022-01-26 17:24] bondydaa commented on #7422
well that's an annoying regression 😞

I would guess external can handle this though we should probably check to see what PR caused this.

[2022-01-26 17:38] parasharrajat commented on #5125
Sorry, didn't get more time to look into this. But I can only suggest saving [MD as text](https://github.com/Expensify/App/issues/5125#issuecomment-1011165112). I didn't find any way to disable HTML pasting.

If that does not sound good. I request you to reopen this issue to other contributors.

[2022-01-26 17:44] roryabraham commented on #7412
Added myself to the `policyRooms` beta so I can test this further. But so far I have been unable to reproduce this issue.

[2022-01-26 18:01] mateusbra commented on #7422
@parasharrajat is that an issue you working on within your TextInput's PRs? if you're not working on this one I would like to.

[2022-01-26 18:08] kavimuru opened #7424 "[$4000] Android - Infinite loading spinner appears when sign in to the app leaving idle for 10 min after sign out"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with applausetester+0901abb@applause.expensifail.com

3. In LHN find the user applausetester+1226abb@applause.expensifai

[2022-01-26 18:09] OSBotify commented on #7424
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-26 18:22] parasharrajat commented on #7422
Sorry but this is a duplicate of https://github.com/Expensify/App/issues/7379. And I have already proposed.

[2022-01-26 18:24] parasharrajat commented on #7385
cc: @mateusbra

[2022-01-26 18:24] mateusbra commented on #7422
No worries, thank you for the reply.

[2022-01-26 18:27] parasharrajat commented on #7181
I will get back to it today.

[2022-01-26 18:51] mallenexpensify commented on #6058
Bumped to monthly cuz I'm not sure when we're going to get to

[2022-01-26 18:53] mallenexpensify commented on #6967
@parasharrajat is working with @ABee-Tech on the PR
https://github.com/Expensify/App/pull/7098#issuecomment-1022074875

[2022-01-26 18:54] mallenexpensify commented on #3189
looks like PR is on staging! https://github.com/Expensify/App/pull/6587

[2022-01-26 18:54] thienlnam commented on #7424
Looking into logs and recent issues that might have caused this, seeing a couple things in logs

https://staging.expensify.com/_devportal/tools/logSearch/#query=request_id:(%226d357ba62909ebe8-BOS%22)+AND+timestamp:[2022-01-25T23:04:17.301Z+TO+2022-01-26T01:04:17.301Z]&index=logs_expensify-015005
[code]

Also considering it's loading spinner it seems like it is related to Onyx stuff
https://stagin

[2022-01-26 18:57] thienlnam commented on #7424
Looks like this is most likely related - cc @luacmartins
https://github.com/Expensify/App/pull/7397

[2022-01-26 19:02] mallenexpensify commented on #6966
Hired @CamilaRivera in Upwork, can you accept? I'll pay $500 once you do, $250 for reporting and $250 for fixing the job

[2022-01-26 19:03] neil-marcellini commented on #6079
Yesterday I tested opening notifications when the app is in the background on a physical IOS device. For some reason the call to [Linking.openURL](https://github.com/Expensify/App/blob/45f5e3887eae714bfc3ba473c69c8e50156183df/src/libs/actions/Report.js#L869) does not work. Opening the deep link to report 185 on the simulator with `xcrun simctl openurl booted new-expensify://r/185` also did not wor

[2022-01-26 19:04] mallenexpensify commented on #5766
Bumped to monthly cuz I'm not sure when we're going to get to

[2022-01-26 19:13] luacmartins commented on #7424
It could be, but seems kind of odd. Have you been able to reproduce this on dev?

[2022-01-26 19:31] kavimuru commented on #6438
@Beamanator Issue was reproduced in today's regression in iPad 7 / iOS 15. So I'm reopening the issue
![IPad 2601-1](https://user-images.githubusercontent.com/43996225/151233336-2e8911f4-71f5-4dcb-b41e-b20c5df1cdbf.jpg)
.

[2022-01-26 19:37] thienlnam commented on #7424
Agreed, I'm not able to get my android simulator working right now so unfortunately not.  There have also been a couple Onyx updates that could be the problem but this one seemed most related to the sign in / sign out flow

[2022-01-26 19:48] CamilaRivera commented on #6966
Thanks, @mallenexpensify! I accepted the offer.

[2022-01-26 19:52] mountiny commented on #7059
Agreed, thank you for the review Rajat and Mana, feel free to start working on this! Thanks.

[2022-01-26 19:54] MitchExpensify commented on #6474
[Here](![image](https://user-images.githubusercontent.com/36425901/151236798-1e478b56-66e3-4eef-be31-b86eb4c1c205.png)) you go @parasharrajat. I will include C+ amount too when paying

[2022-01-26 20:13] mateusbra commented on #7385
@parasharrajat working on that, if I'll try to post proposal soonn thank you!

[2022-01-26 20:16] kavimuru opened #7425 "Account validation : Error message to check email for a new link does not appear when pasting same link in new browser"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #6587

## Action Performed:

1. Create a new account
2. Click the magic sign in link, and get routed to password set up page.
3. Copy the u

[2022-01-26 20:27] thienlnam commented on #7424
@kavimuru Could you please try to reproduce this? I'm having issues with my dev and wanted to make sure it is happening consistently and is not a one-off

[2022-01-26 21:03] MitchExpensify commented on #6767
Offer sent @Tushu17 !

[2022-01-26 21:04] MitchExpensify commented on #7329
Offer sent @parasharrajat!

[2022-01-26 21:17] adelekennedy commented on #7023
closing!

[2022-01-26 21:17] #7023 closed

[2022-01-26 21:25] johnmlee101 commented on #7417
Staging contains https://github.com/Expensify/App/pull/7367 so it might be related to that?

[2022-01-26 21:39] mvtglobally commented on #7422
I do not believe #7379 is same. This issue is about text OVER placeholder. Check this out
![Screen Shot 2022-01-26 at 4 38 38 PM](https://user-images.githubusercontent.com/43995119/151251367-d0373465-8e93-4563-b113-af18652c3b13.png)

[2022-01-26 21:55] jliexpensify commented on #6772
Thanks for the update @thienlnam - I'll get on this today:

- @srdjanrist : $250
- @parasharrajat : $250

[2022-01-26 22:08] johnmlee101 commented on #7417
Yeah I confirmed its https://github.com/Expensify/App/pull/7367 going to revert

[2022-01-26 22:12] johnmlee101 commented on #7261
This caused a staging deploy blocker so the PR is being reverted https://github.com/Expensify/App/issues/7417

[2022-01-26 22:20] Luke9389 commented on #7306
I'm going to take a look at this one with my PCAP member.

@parasharrajat we don't currently have a process set in stone for how our PCAP members will operate. Right now I'd like to hold this issue and use it as a way of diving into the codebase and getting the development environment set up.

For that reason, I'm going to remove the Help Wanted label so that other contributors aren't submitting p

[2022-01-26 22:21] Luke9389 commented on #7306
OH actually it looks like the Help Wanted label was already removed!

[2022-01-26 22:23] roryabraham commented on #7412
Yep, still not able to reproduce this. Can we retest? I'm tempted to close this.

[2022-01-26 22:26] jliexpensify commented on #6772
Paid @srdjanrist , once @parasharrajat accepts I'll pay the remaining $250 and close out the job and GH. Cheers everyone!

[2022-01-26 22:32] roryabraham commented on #7395
I'm unable to reproduce https://github.com/Expensify/App/issues/7412 – can anyone else help verify that it is reproducible? If nobody else can reproduce it, I'll just close it. If it's inconsistent, I might demote it from being a deploy blocker to just a regular bug.

[2022-01-26 23:39] MitchExpensify commented on #7420
[Upwork Job](https://www.upwork.com/jobs/~011b984baee16599ac)

[2022-01-26 23:40] rushatgabhane commented on #7354
Yeah, and also this.

[2022-01-27 00:09] kavimuru opened #7429 "Workspace - The #announce and #admin rooms appears in LHN by default when a new workspace is created"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Create a new expensifail account
1. Launch the app
2. Log in with new expensifail account
3. Tap on Plus button and tap Create a Works

[2022-01-27 00:10] OSBotify commented on #7429
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-27 00:19] parasharrajat commented on #6474
@MitchExpensify This is private
![image](https://user-images.githubusercontent.com/24370807/151268654-e0ca0d68-0e3b-40e5-9568-c9769aaaa4c9.png)

[2022-01-27 00:22] parasharrajat commented on #7422
@mvtglobally the root cause is the same. Due to the long label, it is overlapping on the value.

[2022-01-27 00:25] parasharrajat commented on #7306
Ok, @Luke9389 I have don't have any issues with that. But what is a PCAP member?

[2022-01-27 00:31] K4tsuki commented on #7429
Related to this issue https://github.com/Expensify/App/issues/5946#issuecomment-1021521363

Shouldn't #announce room be available in LHN when creating new workspace?

[2022-01-27 00:43] Luke9389 commented on #7306
They're a new group of folks that applied to work at Expensify, but needed more work experience. We're intending to enter them into the contributor program!

[2022-01-27 00:45] jliexpensify commented on #6772
All paid and closed!

[2022-01-27 00:45] #6772 closed

[2022-01-27 00:45] botify commented on #6772
@thienlnam @jliexpensify  Be sure to fill out the [Contact List](https://forms.gle/zhdenCB5dE5gKfnw6)!

[2022-01-27 01:01] puneetlath commented on #7382
Hm, I'm not sure I agree with this proposal of fixed-size thumbnails. @parasharrajat can we take this to Slack and get some #design input?

[2022-01-27 01:19] chiragsalian commented on #7417
Pushing the revert and it should be testable on 1.1.33-3.
Can you re-test @kavimuru and let us know if the blocker is resolved.

[2022-01-27 01:26] mallenexpensify commented on #7286
Paid! Thanks @rushatgabhane

[2022-01-27 01:26] #7286 closed

[2022-01-27 01:29] parasharrajat commented on #6876
I think when input is blurred no selection event is fired.

[2022-01-27 01:30] mallenexpensify commented on #6780
Paid @parasharrajat $250 for C+

[2022-01-27 01:30] #6780 closed

[2022-01-27 01:31] parasharrajat commented on #7382
Sure. But I would like to change this proposal a bit. I think we want to keep the variable dimensions thumbnail for attachments. But we should set a maximum value both for width and height.

For example, the screenshot on the issue shows that a very long image is disturbing in the middle of the chat. It is occupying a lot of space and does not look good.

[2022-01-27 01:36] mallenexpensify commented on #5620
Thanks @NikkiWines , since it appears there are multiple PRs associated with this issue,  can you drop in a note stating when to pay?

[2022-01-27 01:36] K4tsuki commented on #6876
I  am not sure but just to be safe. I have tested it using `isEmojiPickerVisible` state, but  somehow it is late and selection get changed using development environment. So just to be really safe here we use another variable `isEmojiPickerShown`.
If you don't really like it, using state `isEmojiPickerVisible` is fine.

[2022-01-27 01:39] thienlnam commented on #7424
Looks like the only tester with Android 12 was able to reproduce this
https://expensify.slack.com/archives/C01GTK53T8Q/p1643242758028500?thread_ts=1643238659.022300&cid=C01GTK53T8Q

[2022-01-27 01:46] parasharrajat commented on #6876
Now we are talking about the real problem. In the previous proposals, I faced the same issue and it seems you are facing the same. You can play with it https://github.com/Expensify/App/issues/6876#issuecomment-1004923865.

Let's try to find the real cause of it. This is not part of the issue but when we will adopt this solution, this will become an issue for us.

[2022-01-27 01:50] NikkiWines commented on #5620
From [this comment in the last PR](https://github.com/Expensify/App/pull/7096#issuecomment-1021547698) we can see that @zoontek's changes were deployed to prod yesterday (2022-01-26), so we'd want to issue payment on 2022-02-02 assuming we don't see the splash screen issue resurface between now and then.

So far everything is looking good, checked the [logs](https://www.expensify.com/_devportal/to

[2022-01-27 01:55] mallenexpensify commented on #5768
Good 👀 @parasharrajat , thanks for the note!
Job posted https://www.upwork.com/jobs/~01cf54d816fc1b75c5

[2022-01-27 01:58] mvtglobally commented on #7422
label should disappear like on bunch of other CTAs across Expensify

https://user-images.githubusercontent.com/43995119/151278098-4eca2b89-b606-4dfd-983a-83bdafcfbcd2.mp4

[2022-01-27 02:00] K4tsuki commented on #6876
What issue actually, it is only  used in to filter out `onSelectionChange` :

[code]

It is only used here I think the problem is different from that comment.
This is only used when emoji picker is shown and not all the time to filter out and signaling `we don't want to save selection change after emoji picker button is pressed` or something like that.

[2022-01-27 02:01] mvtglobally commented on #7412
@roryabraham  checking if we can get more info

[2022-01-27 02:06] sidferreira commented on #5894
@mallenexpensify @roryabraham things are piling up, I really think it's the best to unassign me...

[2022-01-27 02:07] mvtglobally commented on #7365
@trjExpensify updated reporter to Applause

[2022-01-27 02:08] parasharrajat commented on #6876
For the reason that you explained for this change is not based on any fact thus it makes it unpredictable. Also, I don't think this code is needed. You are saying that this code fixes some issue which makes it a hack.

[2022-01-27 02:09] mvtglobally commented on #7412
@roryabraham, It looks like whatever CPs we pushed in recent build fixed the issue. Team is not longer able to repro as well with 1.1.33-3. We will keep an eye

https://user-images.githubusercontent.com/43995119/151279157-69dcf7a5-6ad9-4b67-8c2c-5466c4e24eec.mp4

[2022-01-27 02:15] parasharrajat commented on #5894
Ok. Thanks for update @sidferreira.

If we are looking to unassign sidferreira. Then I suggest that we revert the orginal PR as it is causing issue. I would also suggest to close this issue as this is not urgent and an extreme edge case. Most of the app faced similar issues one way or another.

If we are looking to get this fixed, create a fresh issue at $250.

[2022-01-27 02:18] K4tsuki commented on #6876
Without that code emoji placement is wrong, so it fixes the issue. I recommend you try the code to see it yourself.

[2022-01-27 02:26] kbecciv opened #7431 "Workspace - Unable delete a member (rybkina@gmail.com) from Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new applause.expensifail account on staging.new.expensify.com
2. Navigate back to Workspace
3. Click on Manage Members
4. Invite member

[2022-01-27 02:28] parasharrajat commented on #6876
I am not rejecting the proposal but asking to find a future proof and alternative.

[2022-01-27 02:31] K4tsuki commented on #6876
is to to set `this.isEmojiPickerShown = true;` in the `showEmojiPicker`  at first line.
and set `this.isEmojiPickerShown = false;` in `hideEmojiPicker`

[2022-01-27 02:36] K4tsuki commented on #6876
@marcaaron could you review my [proposal](https://github.com/Expensify/App/issues/6876#issuecomment-1021918193) please, I really appreciate it.

[2022-01-27 02:53] parasharrajat commented on #6912
Sorry for delay. I will wrap this up today. I have one doubt only.

[2022-01-27 02:59] roryabraham commented on #5894
Thanks for the transparency @sidferreira !

I agree with @parasharrajat's evaluation here with closing this issue for now. I also think @sidferreira deserves a payout for the work done in https://github.com/Expensify/App/pull/6413 for the amount this job was listed at at the time he was hired (assuming he's not been paid out already).

[2022-01-27 03:03] Christinadobrzyn commented on #6552
No regressions on this PR - paid @mananjadhav in Upwork - closing job in Upwork and this issue.

[2022-01-27 03:03] #6552 closed

[2022-01-27 03:04] Christinadobrzyn commented on #5894
Sounds good! To be 100% sure @roryabraham, I can pay @sidferreira in Upwork, close the Upwork job, and this GH issue?

[2022-01-27 03:09] Christinadobrzyn commented on #7376
That makes sense to only show the Transfer Balance button when a bank account is attached. Sending to eng for the review!

[2022-01-27 03:14] parasharrajat commented on #6552
@Christinadobrzyn Where can I apply for C+, job is closed?

[2022-01-27 03:21] Christinadobrzyn commented on #6552
Ah so sorry @parasharrajat! Let me reopen the job and hire you for it!

[2022-01-27 03:21] kbecciv opened #7432 "[HOLD for payment 2022-07-05] [$500] Android/IOS - Each of the Workspace option setting are unlocked after delete VBA from OldDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: create a new expensifail account
1. Launce the app
2. Go to Settings - Enable the Staging Setting
3. Go to any Workspace and click Con

[2022-01-27 03:24] parasharrajat commented on #5894
@Christinadobrzyn I am not able to apply for C+ on the sent invitation. There must be some issue from Upwork. I think you will have to create another job for that.

You may need
1. Original price of the job was $1000, not $1500. rest of the work is being canceled.
2. I reviewed the PR as a C+ https://github.com/Expensify/App/issues/5894#issuecomment-981950278. Due to the reason that C+ launched of

[2022-01-27 03:30] parasharrajat commented on #6876
Great to have a second opinion but until I see a clear reason for https://github.com/Expensify/App/issues/6876#issuecomment-1022773821. I can't move forward with this.

I will try your changes as well. Overall I see that your solution works, it's just every piece of code should have a clear reason behind it.

[2022-01-27 03:35] parasharrajat commented on #4733
Awesome, I will keep eye on your blog.

[2022-01-27 03:40] parasharrajat commented on #7422
Ah, you may be confusing two things here. Let me clarify this and then we can evaluate.
1. The related field for this issue is using a label.
2. Placeholder should vanish when the user starts typing.
3. label should stack top in New Expensify when the user starts typing.
4. Here label is bigger than the width of the Input box thus it wraps in the next lines. But Input is designed to have only one

[2022-01-27 03:49] Christinadobrzyn commented on #6552
Alright! @parasharrajat I paid you for the C+ in Upwork (our documentation says to pay C+ the same amount as the hired contractor which is $250 for this job). This is my first time paying for C+ so let me know if that's not correct or if I missed something. Thanks!

[2022-01-27 03:53] parasharrajat commented on #6591
At this moment, I will ask someone to help me review your proposal so that I am not missing something. I will create a slack post today US time.

[2022-01-27 03:54] K4tsuki commented on #6876
This is the reason: selection is changed when user open emoji picker.
I am just adding 1 variable here, and this is just proposal. Why really bothered I don't understand.
And also the code doesn't disturb other code.

[2022-01-27 03:54] parasharrajat commented on #6552
That's correct. Thanks, @Christinadobrzyn.

[2022-01-27 03:55] K4tsuki commented on #6591
All right.

[2022-01-27 04:00] parasharrajat commented on #6876
I didn't observe this. and this should not happen because the whole logic of adding emojis depends on this fact. If I am not wrong your code will prevent change in selection when it injects emoji in the text and then you are setting the position manually.

While emojiPicker is open, there is no way that selection will change as textinput is not focused at all during that time.

But let's say the s

[2022-01-27 04:07] K4tsuki commented on #6876
correct. I am setting the position to last set by user right before opening emoji picker.

Correct. The selection is not changed  while emojiPicker is opens. but at the start when emojiPicker button is pressed to show the emoji picker.

No, while selecting scrolling or viewing or chose an emoji. the selection is not changed because `textInput` already blurred.
The change is right at the start, of

[2022-01-27 04:57] mvtglobally commented on #7395
Regression is almost complete. I will run through it again in the morning to make sure we didn't miss anything as this list is huge

Blockers
#7209 failing due to #7407
#7301 is failing due to #7412
#7367 is failing due to #7417
#7418
#7424
#7429

Issues logged so far
#7425 found when running #6587 - repro in prod
#7398 found when running #7200 - can you confirm we can check it off as definitely n

[2022-01-27 05:02] mvtglobally opened #7434 "[HOLD for payment 2022-03-17] Feature Request: Data is getting written to Onyx after logout - reported by @kidroca"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Be logged out
2. Be on a slow network (see "Slow 3g" on the opened dev tools)
3. Log to an account with some existing conversations
4. Quickly lo

[2022-01-27 05:09] mvtglobally opened #7435 "Unclear error displayed if user tries to pay IOU for deleted account request - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Request money from Account A to account B
2. Delete account A
3. Now login as Account B and click the pay button.

## Expected Result:
User shou

[2022-01-27 05:14] mvtglobally opened #7436 "[$500] Add account manually' option in Plaid takes you to home screen instead of connect manually screen - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to payments screen
2. Tap Add payment method and select bank account
3. In the plaid search box, search some random bank (eg `testt`) which i

[2022-01-27 05:49] mvtglobally opened #7437 "[HOLD for payment 2022-02-09] Unnecessary line space on Login page - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app with Spanish account
2. Check the fine print in the footer

## Expected Result:
To make text wrap "naturally" it should be wrapped by a

[2022-01-27 05:55] brianmuks commented on #7091
@parasharrajat I have noticed that `defaultStatus` does not get updated with `Navigation.getDefaultDrawerState` method when screen dimensions change. This explains why when the dimensions change from desktop to mobile, the state of `defaultStatus` remains closed causing the back button to be irresponsible.
https://github.com/Expensify/App/blob/45f5e3887eae714bfc3ba473c69c8e50156183df/src/libs/Navi

[2022-01-27 05:57] mvtglobally opened #7438 "When sending somebody money, we show a negative amount"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. Select "+" > "Send money"
3. enter amount

## Expected Result:
We should not allow negative amount

## Actual Result:
User can see ne

[2022-01-27 06:09] mvtglobally opened #7439 "[HOLD for payment 2022-02-22] Resend button is too big - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to settings > Profile
3. Check phone number "Resend" button display

## Expected Result:
Button should match default styles

[2022-01-27 06:30] mvtglobally opened #7440 "[HOLD for payment 2022-03-02] [Attachment] alternate text in LHN is not translated to Spanish - reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app in Spanish
2. Navigate to any chat  and add attachment
3. check LHN

## Expected Result:
text should be in Spanish

## Actual Result:
In

[2022-01-27 06:31] murataka commented on #6912
Also let me know if evaluating actual proposed code + the explanations will be nice for evaluating proposals. I really don't want to flood the slack and github with my messages, and would like to be more efficiently communicating.

[2022-01-27 06:38] mvtglobally opened #7441 "Padding around footer button is inconsistent - Reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. Go to Settings >Profile and check button padding
3. Go to IOU and check  button padding

## Expected Result:
Padding around footer bu

[2022-01-27 06:54] Beamanator commented on #7439
Definitely a good external issue 👍

[2022-01-27 07:21] sobitneupane commented on #7440
**Proposal:**

**proposing early as I reported it.**

In report.js '[Attachement]' is used as last MessageText. We should replace it with common.attachment

[2022-01-27 07:42] robertjchen commented on #5768
Ah my bad, thanks for catching that!

[2022-01-27 08:11] thesahindia commented on #7437
@kidroca, do you wanna work on this as you have already suggested the solution on slack and my proposal is basically the same.

[2022-01-27 08:45] kidroca commented on #7437
You reported the bug and have dibs on. It's up to you - I don't mind either way

[2022-01-27 09:24] thesahindia commented on #7437
Ok then you work on this one.

[2022-01-27 09:34] nkuoch commented on #7431
I think it's because you added it with an uppercase
`command: 'Policy_Employees_Merge' employees: '[{"email":"Rybkina@gmail.com"}]'`

We should make sure to save emails in lowercase... PR coming...

[2022-01-27 11:08] MonilBhavsar commented on #7441
As per the [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1643211591492600), we need button with no top padding, so pushing a quick fix

[2022-01-27 11:36] parasharrajat commented on #6872
yeah, I got your point but I leaning more toward `I would prefer to set the value to this.props.value`.

[2022-01-27 11:38] Beamanator commented on #7391
Steps look clear and ready to be worked, seems like it could be `Internal` so I'm going to leave this to the pool

[2022-01-27 11:38] kidroca commented on #7437
### Proposal

I've taken a look at the code - we're trying to align text by using flex (row wrap) styles - that's a no, no for text wrapping and alignment
To make text wrap "naturally" it should be wrapped by a Text container instead of a flex row View

<details>
<summary>Sample Patch</summary>

*Might need a little clean up (no inline styles), but this is the gist of it:*
[code]
</details>

### R

[2022-01-27 11:40] flodnv commented on #7429
I agree @K4tsuki: Given https://github.com/Expensify/App/issues/5946 is closed, it looks to me like we now implemented the desired behavior. @neil-marcellini @yuwenmemon what do you say?

[2022-01-27 11:41] K4tsuki commented on #6872
It will become controlled.
For controlled `TextInput` you can use `import {TextInput} from 'react-native';` Not this `TextInput` inside element.
Please respect decision from @marcaaron and other in slack.

[2022-01-27 11:58] Beamanator commented on #6438
Sounds good, I'll see if anyone can help reproduce on iPad 7 / iOS 15

[2022-01-27 12:02] parasharrajat commented on #6872
There is no conclusion on slack yet.

AFAIK, our TextInput is already controlled. Using `value` prop makes TextInput controlled. It does not matter if it is an instance or state property.  https://expensify.slack.com/archives/C01GTK53T8Q/p1642096772440500?thread_ts=1640793789.214900&cid=C01GTK53T8Q

It is my opinion and I have asked the concerned person. I would be thankful if you be patient.

[2022-01-27 12:06] K4tsuki commented on #6872
This is what @marcaaron said in slack.

[2022-01-27 12:49] Julesssss commented on #7376
We didn't get any thumbs up for this proposal, so I [shared it in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1643287755073400) for a second opinion.

[2022-01-27 12:52] kavimuru opened #7444 "Chat - " Attachment" is not translated to spanish"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the URL https://staging.new.expensify.com
2. Log in with account translated on Spenish.
3. On a conversation, click on the + button in the

[2022-01-27 13:01] parasharrajat commented on #6912
+1 for this. I would suggest that you combine your message into one post.

[2022-01-27 13:02] anthony-hull commented on #7425
It looks like the validateEmail API call isn't being made. And therefore the magic token in the URL is still valid and can be used to set the password.

[2022-01-27 13:05] #7444 closed

[2022-01-27 13:05] mvtglobally commented on #7444
https://github.com/Expensify/App/issues/7440

[2022-01-27 13:13] anthony-hull commented on #7425
I noticed that Onyx is now using index DB and not local storage for the keys.

I emptied my cookies and local storage and the index DB and re-ran these steps and this issue goes away.

Does this fix it for you as well @kavimuru?

Maybe there is a problem with the migration where stale keys are present from the two implementations previously and then currently running on the client?

[2022-01-27 13:58] murataka commented on #6912
for this one , you can evaluate

https://github.com/murataka/App/commits/fix-wrongreportfetch

not mandatory to read whole posts again and again.

[2022-01-27 14:11] kavimuru commented on #7425
@anthony-hull

https://user-images.githubusercontent.com/43996225/151375544-51cef3fc-4b23-4827-8751-dc21b7f8f85c.mp4

Now I see the error message after I setup password. Not when I paste the link in incognito.

[2022-01-27 14:16] Gonals commented on #7425
Setting it as external for now, but there's still a bit of discussion to decide whether this is an actual bug.

[2022-01-27 14:56] laurenreidexpensify commented on #7385
https://www.upwork.com/jobs/~014fa34661ee0b416d

[2022-01-27 15:12] shawnborton commented on #5768
I still feel the same as my [comment here](https://github.com/Expensify/App/issues/5768#issuecomment-1014246540)

[2022-01-27 15:14] pecanoro commented on #6872
Ok, let me revive the conversation in Slack since I need the opinion of the most knowledgeable React Native Expensify engineers, I am stronger on the back-end side so I can't see all the ramifications of making the component controlled.

[2022-01-27 15:36] parasharrajat commented on #6591
Here is the link https://expensify.slack.com/archives/C01GTK53T8Q/p1643297689093300. Hopefully, we will get more eyes.

[2022-01-27 15:40] #7431 closed

[2022-01-27 15:54] TomatoToaster commented on #7260
PR up for this badboy^ just need to test it

[2022-01-27 16:16] mvtglobally commented on #7395
@AndrewGable we are still not seeing 1.1.33-3 on Android to validate some fixes. Can you check if its still in review and can be pushed in some way

[2022-01-27 16:53] puneetlath commented on #7076
Ok got it. So is this the correct understanding:
1. This only happens on Safari desktop
2. The first issue is the missing date picker icon
3. The second issue is the inability to edit the three sections of the date individually via keyboard without using the date picker

Is that right?

[2022-01-27 17:23] thesahindia commented on #7076
@puneetlath, yep

[2022-01-27 17:27] roryabraham commented on #7412
Okay, I'm going to demote this from DeployBlocker and make it a weekly. Please add it to the KI retests for now.

[2022-01-27 17:50] johnmlee101 commented on #7417
Bump on this! Can this be re-tested?

[2022-01-27 18:32] puneetlath commented on #7007
How is this issue going?

[2022-01-27 18:42] marcaaron commented on #6876
@K4tsuki Sorry, I'm not assigned to this issue
@parasharrajat can you review the proposal and @stitesExpensify will sign off if it looks good

[2022-01-27 18:44] roryabraham commented on #5894
What @parasharrajat said is correct. @sidferreira should get $1000 and @parasharrajat should get paid for the C+ review.

[2022-01-27 19:09] sidferreira commented on #5894
@roryabraham I'm most grateful for that!

[2022-01-27 19:17] kidroca commented on #6591
@K4tsuki your comment here explains the problem well: https://github.com/Expensify/App/issues/6591#issuecomment-1003241023

falling back to here `0` is pretty much counting all messages in that conversation as unread

https://github.com/Expensify/App/blob/98d50cb322fd4488d19cd6edc5e5f843a99d6db3/src/libs/actions/Report.js#L592

I agree with this

When there's a new message and `lastReadSequenceNum

[2022-01-27 19:23] danieldoglas commented on #7413
I agree that that's strange. Should show the info that's being deleted.

[2022-01-27 19:27] #6122 closed

[2022-01-27 20:49] iwiznia commented on #6927
I am a bit confused... how do we know which dependencies are used during build and which are used during run? Seems to me that there's a ton of dependencies that are used during run besides the ones being required in main.js, no?

[2022-01-27 20:56] thesahindia commented on #7007
@puneetlath, made all the required changes just need a review now.

[2022-01-27 20:58] puneetlath commented on #7007
Great! Just comment on the PR asking for a re-review.

[2022-01-27 21:09] roryabraham opened #7447 "Broken ESLint Rule - prefer-underscore-map"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Add some code using `React.Children.map`.

## Expected Result:
This should not be a lint error.

## Actual Result:
There is a lint error stating tha

[2022-01-27 21:33] yuwenmemon commented on #7429
Correct :+1:

[2022-01-27 21:33] #7429 closed

[2022-01-27 21:43] kidroca commented on #6927
Non of the `src` code is imported/required in `main`.
The way the desktop project is setup the `main` is evaluated during run time and all the require calls count as runtime dependencies

Excluding the stuff in main, everything else is used only during build time

1. At build we tell Webpack (or Metro) to bhndle the app given an entry point (src/index)
2. The bundle analyzes the entry follows all

[2022-01-27 21:44] stitesExpensify commented on #6893
Has this been paid out @MitchExpensify ? The issue was merged ~9 days ago

[2022-01-27 21:52] MitchExpensify commented on #6893
Huh good catch @stitesExpensify, Botify never marked this with a date to be paid on. I've now issued the payment to @thesahindia

In order to pay the reporting bonus, please accept the offer I just sent for [this](https://www.upwork.com/jobs/~01918d332ba86b4735) job @parasharrajat

[2022-01-27 21:54] MitchExpensify commented on #6474
My mistake. I've made it public now! Thanks @parasharrajat

[2022-01-27 22:07] jliexpensify commented on #7437
Posted!

Internal - https://www.upwork.com/ab/applicants/1486823062909648896/job-details
External - https://www.upwork.com/jobs/~01a306219a2814df7d

[2022-01-27 22:12] thesahindia commented on #6893
@MitchExpensify, I think there's a misunderstanding. The issue was both reported and fixed by me and only the reporting bonus is left to be paid on upwork.

[2022-01-27 22:44] #7322 closed

[2022-01-27 22:45] thienlnam commented on #7424
Looking into logs on the account applausetester+0901abb@applause.expensifail.com -

From the video it looks like we aren't even getting to the splash screen so I've narrowed it down to a couple of areas
Slash screen status:

https://github.com/Expensify/App/blob/45f5e3887eae714bfc3ba473c69c8e50156183df/src/Expensify.js#L163-L176
or some kind of error in the app init that causes us to hide the spla

[2022-01-27 22:46] thienlnam commented on #7424
The only issues on the checklist that we've merged that seems to possibly be related would be
Onyx updates cc @kidroca, any idea on this?
And this https://github.com/Expensify/App/pull/7397 but that doesn't seem to make much sense

[2022-01-27 23:08] MitchExpensify commented on #6893
Sorry I got my wires crossed with another issue - The reporting bonus has been paid to you now!

[2022-01-27 23:31] stitesExpensify commented on #6893
Sweet, can we close this issue then?

[2022-01-27 23:32] #6893 closed

[2022-01-27 23:33] K4tsuki commented on #6876
All right @marcaaron, I understand.

[2022-01-27 23:36] JmillsExpensify commented on #7381
Great catch. Upwork job posted here: https://www.upwork.com/jobs/~01694f7fa376553e11

[2022-01-27 23:38] JmillsExpensify commented on #3922
Ok thanks! Yes, that makes sense. I created a fresh job here: https://www.upwork.com/jobs/~0164b1f1886c372bf6

[2022-01-27 23:42] JmillsExpensify commented on #5082
@mateomorris Hmm, I wasn't able to find an active contract in Upwork for this PR. Probably a mistake on my part. Have you been paid for this job yet?

[2022-01-27 23:45] JmillsExpensify commented on #6980
@rushatgabhane Mind applying to to the linked Upwork job above so that we can submit payment? Thank you!

[2022-01-27 23:48] rushatgabhane commented on #6980
@JmillsExpensify I've already applied 😄

[2022-01-27 23:53] roryabraham commented on #7395
@mvtglobally `1.1.33-3` was reject by Google. We've submitted an appeal, but are waiting to hear back. cc @Julesssss

[2022-01-27 23:56] JmillsExpensify commented on #7035
No regressions. @mananjadhav Payment processed.

@mvtglobally Thanks for reporting. I closed the above Upwork contract so I created a new job for you to apply for here: https://www.upwork.com/jobs/~01e92d1d2a7f6a2c45.

Thank you all!

[2022-01-27 23:58] JmillsExpensify commented on #6980
Haha sorry for my confusion. Settling up now.

[2022-01-28 00:01] JmillsExpensify commented on #6980
Separately, @mdneyazahmad I meant to ask you to make sure to apply as well. 😄 Ooops. Mind applying quick so we can process everything in one go?

[2022-01-28 00:03] K4tsuki commented on #6872
That is what Marcaaron emphasized in slack.
So we need a reference to the `TextInput` call `clear()` method. Or using `setNativeProps ({text: ''})`

[2022-01-28 00:08] mdneyazahmad commented on #6980
@JmillsExpensify applied

[2022-01-28 00:10] rushatgabhane commented on #7035
@JmillsExpensify sorry to ping you, I've applied to the same job. I hope that's okay!

[2022-01-28 00:17] JmillsExpensify commented on #7035
Ah thank you! Will handle, apologies for missing.

[2022-01-28 00:21] parasharrajat commented on #6591
Thanks, @kidroca for the help. I agree with @K4tsuki proposal too. @K4tsuki do you see any chances of improvement from the Peter's comments.

[2022-01-28 00:22] roryabraham commented on #5894
Going to unassign myself and @sidferreira here. @Christinadobrzyn feel free to close this out as soon as payments have been issued.

[2022-01-28 00:24] roryabraham commented on #7440
@sobitneupane Your proposal looks good.

[2022-01-28 00:30] MitchExpensify commented on #6474
Thanks for your patience @parasharrajat, C+ & reporting bonus paid

[2022-01-28 00:30] #6474 closed

[2022-01-28 00:33] K4tsuki commented on #6591
Thank you very much @kidroca for the help and suggestions.

[2022-01-28 00:34] mallenexpensify commented on #7350
Bumped this up to $1000 cuz the issue has happened to many employees, it _might_ be related to other performance issues, and we want it fixed quickly
https://www.upwork.com/jobs/~0101410bc55101d587

[2022-01-28 00:42] luacmartins commented on #7437
@kidroca your proposal looks good, but let's use a variable instead of inline styles for the `lineHeight`.

[2022-01-28 00:43] #7447 closed

[2022-01-28 00:44] parasharrajat commented on #7437
Yeah, @kidroca 's proposal looks good.
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-28 00:50] roryabraham commented on #7350
Whoa, before we hired someone for this – I think I may have already fixed this in [this PR](https://github.com/react-navigation/react-navigation/pull/10262)

[2022-01-28 00:55] parasharrajat commented on #6872
Yeah, that can be an option. Maybe we can remove the value prop and use `defaultValue` instead of it with this if that works.

[2022-01-28 00:58] parasharrajat commented on #6927
Great, idea.
1. Build the app like web app first.
2. Move the dist./ files to the main Desktop Package only.
3. No node_modules required.

[2022-01-28 00:58] Wp32793 commented on #3922
What is this all about?

On Thu, Jan 27, 2022, 5:38 PM Jason Mills ***@***.***> wrote:

[2022-01-28 01:18] mallenexpensify commented on #6913
Paid @CamilaRivera $250 for the work done. Paid @Tushu17 $250 for reporting.
@parasharrajat can you apply so I can pay ya for C+?
https://www.upwork.com/jobs/~01cfaafbf8184740e9

[2022-01-28 01:21] parasharrajat commented on #6913
@mallenexpensify I have already submit the proposal

[2022-01-28 01:23] mallenexpensify commented on #6699
Paid @K4tsuki $500 for job and @parasharrajat $750, $250 for reporting and $500 for C+

[2022-01-28 01:23] #6699 closed

[2022-01-28 01:24] roryabraham commented on #7350
Okay, unfortunately because react-navigation uses a monorepo it's not very straightforward to use a fork. Coming from their instructions [here](https://github.com/react-navigation/react-navigation#installing-from-a-fork-on-github), it sounds like we need to:

1. Create an Expensify/react-navigation fork.
1. Use gitpkg to publish the `@react-navigation/native` package.
1. Point NewDot at that packa

[2022-01-28 01:25] roryabraham commented on #7350
Going to remove the external, exported labels for now. @dylanexpensify Please take down the Upwork job.

[2022-01-28 01:35] roryabraham commented on #7350
Okay, we're going to have to wait for an Expensifork of react-navigation (internal issue [here](https://github.com/Expensify/Expensify/issues/193834))

[2022-01-28 01:49] roryabraham commented on #6079
@neil-marcellini Thanks for working through this, I know firsthand how challenging it can be to test.

This is weird ... this is _probably_ the key to solving this issue. Have you tried running `xcrun simctl openurl ...` when running the app in a simulator instead of on a physical device? Is it possible that your `xcrun` command is not properly targeting your physical device?

Honestly, my recomme

[2022-01-28 01:59] marcaaron commented on #6872
Ok, seems like this needs a push so I took a deeper look.

Yes, the input is controlled (sort of..) we are doing a lot of weird stuff and the custom `TextInput` component is pretty complex so I think we're both kind of right, sorry for the confusion @parasharrajat.

Given where we are at, I think it is fine for the `TextInput` to work in a controlled way wherever it is used. But it's not working c

[2022-01-28 02:04] marcaaron commented on #6872
@K4tsuki seems like you were the closest to this solution. Everyone else agree with that and are we good to assign them?

[2022-01-28 02:13] wenge8n commented on #7381
This happens because
- In src/components/PlaidLink/index.js, we call `props.onExit();` in the onExit handler
- this will call `onExitPlaid` prop func in src/components/AddPlaidBankAccount.js
- this will call `Navigation.dismissModal`

The plaid modal dismisses by itself and we don't need to call `Navigation.dismissModal` in the  onExit handler.
I think the author that made this issue might thought

[2022-01-28 02:17] mallenexpensify commented on #7206
For the internal Stack Overflow post, it's be for CMs (and maybe CMEs) so they'd have _something_ to reference in case they got assigned to, or ran across, a tracking issue.

Maybe what is better is if we don't consider them tracking issues (even though could be formatted/used as one) but single issues with set prices and deliverables.  @Beamanator , @parasharrajat do you think that's an easier/be

[2022-01-28 02:24] mallenexpensify commented on #6966
Paid @CamilaRivera , thanks!

[2022-01-28 02:24] #6966 closed

[2022-01-28 02:29] parasharrajat commented on #6872
Thanks for investigating @marcaaron. I am glad that we have a mutual agreement on what should be done.

I am working on cleaning up our TextInputs https://github.com/Expensify/App/issues/6584. I can add another TODO there.

yeah, @K4tsuki was closet. He suggested using `So we need a reference to the TextInput call clear() method. Or using setNativeProps ({text: ''})` .

I like the latest suggestio

[2022-01-28 02:45] mallenexpensify commented on #6913
Thanks @parasharrajat , I might have missed it before.  Hired, let me know when you accept.

[2022-01-28 02:45] parasharrajat commented on #7206
Yeah, usually they are created as normal issues. I created this tracking issue as I saw there were many issues that started to pop up due to the same cause. So I thought to track them all together.

But I found the solution along the way so I just referenced this to clearly state that the fix solves all the issues and we have a track of it.

[2022-01-28 02:47] mallenexpensify commented on #7350
I deleted the 'job doubled' comment in #expensify-open-source too.  Thanks for jumping on this Rory!!

[2022-01-28 02:47] parasharrajat commented on #6913
Accepted it @mallenexpensify.

[2022-01-28 02:52] kevinksullivan commented on #6235
Thanks @parasharrajat . Sent you an invite to the reposted job.

[2022-01-28 02:52] mallenexpensify commented on #7206
Ok.. so in the future we should be able to have Applause or an employee create a normal job with a set price and deliverable and you an use it like a tracking issue without need to have [Tracking] in the title, right?

[2022-01-28 02:54] mallenexpensify commented on #6913
Thanks, paid!

[2022-01-28 02:54] #6913 closed

[2022-01-28 02:55] K4tsuki commented on #6872
Thank you for the great explanation @marcaaron.

@marcaaron this is works for `this.props.value == ''`, but for value other than = ''. It still doesn't work.
I have tested in `NewChatPage` constructor, windows `setTiimeout` to change `searchValue` state and it is not changing.

In `componentDidMount` of BaseTextInput filter check should be:
`if (this.value === this.props.value)` in:

https://githu

[2022-01-28 02:56] parasharrajat commented on #7206
Yeah, I can go through the normal bug reporting flow.  I can specify all the info on the bug report and Applause/employee can feed that in here.

A good example of a tracking issue is #7363.

[2022-01-28 03:06] sig5 commented on #7438
**Proposal (if marked External)**
*Changes*
We can edit `IOUPreview.js .`The `cachedTotal` variable takes the sign of value in the account.
We can modify the following
https://github.com/Expensify/App/blob/7e6e7e87c11a031fee3ce5216e6f8ea2b250d1fb/src/components/ReportActionItem/IOUPreview.js#L114-L118
to:
[code]
This will resolve the sign issue.

[2022-01-28 03:07] parasharrajat commented on #6912
Thanks, I was looking into the same. I tried to debug the cause yesterday. I may have found some other issues but I am still evaluating your solution. So far, I think it will cause issues but let's see.

[2022-01-28 03:22] rushatgabhane commented on #7381
@wenge8n you're almost there. But after going back or exiting the Plaid page, we're brought to a white screen.
Can you please update your proposal to handle that? Thanks

https://user-images.githubusercontent.com/29673073/151481716-42738ede-93af-4b9f-84e5-fd1b95c5a5aa.mp4

[2022-01-28 04:18] wenge8n commented on #7381
I am sorry. My original proposal is not right. I checked again. Here is updated proposal.

**Proposal**
In src/pages/AddPersonalBankAccountPage.js file

[code]

[2022-01-28 04:21] rushatgabhane commented on #7381
@wenge8n If I'm not wrong, it'll still show white screen on pressing device's back button.

[2022-01-28 04:21] rushatgabhane commented on #7381
@wenge8n If I'm not wrong, it'll still show white screen on pressing device's back button.

[2022-01-28 04:40] JmillsExpensify commented on #6980
I think we should officially be settled up on this issue. Thank you and don't hesitate to reach out if I'm missed something!

[2022-01-28 04:40] #6980 closed

[2022-01-28 04:50] kadiealexander commented on #7441
@mdneyazahmad, please apply here so we can get you paid for reporting this bug https://www.upwork.com/jobs/~01453ec479ded50754

[2022-01-28 04:51] marcaaron commented on #6872
Yes, when selecting a user the `props.value` is set to an empty string and we need the `TextInput` to clear

What doesn't work exactly?

That's very kind. Not sure anyone has asked this before, but can relay this feedback to the team.

[2022-01-28 05:02] Christinadobrzyn commented on #7439
Created Upwork job

- Internal post - https://www.upwork.com/ab/applicants/1486926841126486016/job-details
- External post - https://www.upwork.com/jobs/~013af427ace1ef994f

Hired @thesahindia for reporting this

[2022-01-28 05:10] wenge8n commented on #7381
You are right. `usePlaidEmitter` hook doesn't receive any event when click hardware back button.

[2022-01-28 05:11] mdneyazahmad commented on #7441
@kadiealexander applied

[2022-01-28 05:19] rushatgabhane commented on #7439
Proposal looks fine. Just to confirm, no C+ review required here yeah?

[2022-01-28 05:28] wenge8n commented on #7381
I updated proposal to handle the android hardware back button.

[2022-01-28 05:47] parasharrajat commented on #7181
PR is ready for review.

[2022-01-28 05:51] parasharrajat commented on #7121
@K4tsuki Do you think we can do the above?

[2022-01-28 05:52] mananjadhav commented on #7059
@mountiny @parasharrajat  Can you help clarify before I start work on this.

[2022-01-28 05:58] parasharrajat commented on #7059
Not sure what will be best.
1. For 1:1 chats the name of the user is already visible on the chat. But the tooltip will show email. So we can do that as well.

Curious to hear others?

[2022-01-28 06:28] K4tsuki commented on #6872
Other than empty string.

<br />

And shouldn't this check:

https://github.com/Expensify/App/blob/991504fd8aefe8674f045bca11ae3c31f87337b2/src/components/TextInput/BaseTextInput.js#L51

be `if (this.value === this.props.value)`

because `this.value` changes when user is typing but doesn't change when consumer of `BaseTextInput` set the `props.value`.
and then we can call `this.input.setNativeProp

[2022-01-28 06:29] Christinadobrzyn commented on #5894
Thanks for clarifying @parasharrajat and @roryabraham!

I just paid $1000 @sidferreira through the [old job post](https://www.upwork.com/ab/applicants/1450311669048020992/job-details).

I created a [new job post](https://www.upwork.com/ab/applicants/1486940692653445120/job-details) and hired/paid @parasharrajat for the C+ and bonus for reporting this issue. I think we're good!

Closing this issue

[2022-01-28 07:01] Beamanator commented on #7439
@rushatgabhane I'm following up with @Christinadobrzyn to confirm if she meant to hire for the job or just hire to upwork for issue being reported :D I think it would be useful if you still can review the proposal please 👍

[2022-01-28 07:27] rushatgabhane commented on #7439
Ah cool, asked because I was unassigned xD

For design team, here's medium vs small 'Resend' button.

<img width="775" alt="Screen Shot 2022-01-28 at 10 18 35 AM" src="https://user-images.githubusercontent.com/29673073/151504246-202eb209-882a-4eb0-98d6-5a1842007724.png">

[2022-01-28 07:29] Beamanator commented on #7439
OK now we're back :D @rushatgabhane you're back assigned as a C+, @thesahindia I unassigned you b/c we haven't approved your proposal yet 😅

[2022-01-28 07:31] rushatgabhane commented on #7439
🎀👀🎀 C+ reviewed

@Beamanator I recommend @thesahindia's proposal. We've used medium button in manage members page too, so yeah it feels like the right choice.

[2022-01-28 07:34] rushatgabhane commented on #7439
Actually, let's wait for confirmation from Design 😅

[2022-01-28 07:47] Beamanator commented on #7439
Good idea 👍

[2022-01-28 08:01] Beamanator commented on #7206
Cool so I guess we'll :donothing: for now 😅 Unless it would be nice to have another section of the standard issue template called "related issues / PRs"?

[2022-01-28 08:53] rushatgabhane commented on #7381
@wenge8n we probably shouldn't use anonymous function here `onCloseButtonPress={() => Navigation.goBack()}`

[2022-01-28 08:54] rushatgabhane commented on #7381
🎀👀🎀 C+ reviewed

@wenge8n's proposal looks great to me! Tests well on iOS and Android.

cc: @chiragsalian

[2022-01-28 09:03] K4tsuki commented on #7121
Please wait ...

[2022-01-28 09:20] murataka commented on #6912
removing Navigator.navigate methods from requestmony IOU ( https://github.com/murataka/App/commit/f5e5a72bd6a499339e96ed0ecda488fbccde0a6e )

would solve the issue when we want to focus the bugs only and only about this topic  . I can move the rest to some other navigation related issues, because I solved some bugs unintentionally while trying this one. That might be confusing while evaluating thi

[2022-01-28 10:40] phivh commented on #7385
**Proposal**
Local at src/pages/settings/Payments/PaymentsPage.js - line 104
1. Add event resize to re-calculate position of Add Payment Button
[code]
2. Remove event when method list close

3. The issue also affects to Transfer Balance of Payment page, so i will apply this solution to it as well if the proposal acceptable.

Demo:

https://user-images.githubusercontent.com/5449119/151532774-6f1eca

[2022-01-28 10:57] Julesssss commented on #7395
Hi @mvtglobally, Google has accepted our rejection appeal and I have just resubmitted the app for review 🤞

[2022-01-28 12:27] eVoloshchak commented on #6470
I've drafted a PR, ready to submit it.
Am i right in thinking, that when converting functional component to a class component, [this](https://github.com/Expensify/App/blob/b93c6d3b2d0021c1a6462a86cca1a0fa69749947/src/pages/home/sidebar/OptionRow.js#L237) React.memo() should be converted to `shouldComponentUpdate`

[2022-01-28 12:30] parasharrajat commented on #6470
Yeah.

[2022-01-28 12:49] kidroca commented on #7437
Applied on Upwork
You can expect a PR as soon as today or no later than Jan 31st EOD

[2022-01-28 13:33] hiteshagja commented on #6720
@parasharrajat The solution which I suggest is enhancement to the actual method which can solve current problem in a generic way. But still if you come across any specific case/scenario then do let me know, I will handle that in most effective way.

[2022-01-28 13:38] parasharrajat commented on #6720
Thanks, @hiteshagja. I will try your proposal. I will share the update as soon as possible.

[2022-01-28 13:41] hiteshagja commented on #6720
sure @parasharrajat. Thanks.

[2022-01-28 13:47] NicMendonca commented on #7068
Sorry for the delay! This has been paid @parasharrajat @sig5. Thank you!

[2022-01-28 13:47] #7068 closed

[2022-01-28 14:08] mvtglobally commented on #7395
Great @Julesssss we will continue retests then

[2022-01-28 14:15] sobitneupane commented on #7261
Hello @parasharrajat , While working on this issue, I have found another issue that the icons for new chats and new group chats are not visible in report body in mobile app. Should I report the issue on slack? Should I solve the bug as part of this issue? The solution to the bug is different from that of this issue.
![Screenshot_20220128-195623_New Expensify](https://user-images.githubusercontent.

[2022-01-28 14:19] parasharrajat commented on #7261
If that is not caused by your PR and not fixed by the changes for this PR then you should report that on Slack.

[2022-01-28 14:22] sobitneupane commented on #7261
Okay. Thanks for the suggestion. It is not caused by my PR. It is already reverted. The issue exists in current codebase.

[2022-01-28 14:39] alex-tipper opened #7450 "issue"

[2022-01-28 14:39] #7450 closed

[2022-01-28 15:14] chiragsalian commented on #7381
@wenge8n, your proposal looks good to me too. Feel free to go ahead and create the PR.

[2022-01-28 15:26] parasharrajat commented on #7076
Ok. I looked at the code and found out that we use native `<input type="date">`.
Which means:
1. format of value can be different , it depends on the OS, platform.
2. Icon is also part of browser spec.

[2022-01-28 15:46] wenge8n commented on #7381
I applied to the job in Upwork. I will create PR now.

[2022-01-28 15:52] kavimuru opened #7451 "Android/iOS - Room - Renaming the rooms with longer name looks weird in comment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Tap on Fab button
3. Tap a create room
4. Put name for the room - select Workspace
5. Tap on Save
6. Tap on Room detail on top

[2022-01-28 16:17] kidroca commented on #6927
Found another improvement - we're double adding the compiled `app` which is another 2x size bump

This config rule adds the `dist` folder to the desktop package
https://github.com/Expensify/App/blob/b93c6d3b2d0021c1a6462a86cca1a0fa69749947/config/electron.config.js#L25-L26

But by default `dist` is also what electron uses to build the desktop package, and while building it adds temporary stuff to

[2022-01-28 16:26] dylanexpensify commented on #7145
Sending payment now, @K4tsuki I'll create a job for you to apply to for the reporting!!

[2022-01-28 16:30] dylanexpensify commented on #7145
@ahmdshrif payment sent and contract ended!

@K4tsuki please apply here for reporting issue! https://www.upwork.com/jobs/~01a90138a351b9386f

[2022-01-28 16:31] dylanexpensify commented on #7074
@thesahindia offer sent for reporting the issue! Please apply and I'll pay you out ASAP!

[2022-01-28 16:41] NicMendonca commented on #6471
Looks like there has been [movement 2 days ago](https://github.com/Expensify/App/pull/6764#issuecomment-1022771143) 👍

[2022-01-28 16:49] kidroca commented on #6927
Note on architectures

I don't know how the app is built and distributed. From `package.json` and `electron.config.js` I see an arch is not specified - when not specified it would be the arch of the current computer (x64 Intel mac?)

Here's the result from building the `x64` (same as the one shared in the previous post)
![image](https://user-images.githubusercontent.com/12156624/151586069-2a4f734e

[2022-01-28 16:52] brianmuks commented on #7081
@parasharrajat  How about using `this.props.isLoadingReportActions`  from `withOnyx` ?
First we initialize  `showSVGLoader` to `true`
[code]

When `this.props.isLoadingReportActions` is `false` we set `showSVGLoader` to `false`
[code]

[code]

[code]

[2022-01-28 16:56] roryabraham commented on #7350
Just for the sake of transparency, I fixed _a_ 'white screen' bug that had error logs that looked like this. There could be multiple. I think we should implement my fix first, then re-evaluate if this is still happening. It could be unrelated.

[2022-01-28 16:56] mananjadhav commented on #7074
Done @dylanexpensify

[2022-01-28 17:02] roryabraham commented on #7350
To be more specific, I'm pretty sure I fixed this crash:

![image](https://user-images.githubusercontent.com/47436092/151589356-718423a9-bce5-4892-b25d-8601fdc3c185.png)

But not these ones:

![image](https://user-images.githubusercontent.com/47436092/151589442-2fc51346-c051-4be3-b239-b7593752266e.png)

![image](https://user-images.githubusercontent.com/47436092/151589506-3ffc4aa6-9226-4402-82a8-f

[2022-01-28 17:07] deetergp commented on #6900
A penny for your thoughts, @marcaaron?

[2022-01-28 17:09] railway17 commented on #7420
Could you attach reproduce video again?
I can't replicate on my side. I tested the latest `main` branch.

[2022-01-28 17:41] kidroca commented on #7424
@thienlnam I'll take a look when I can

[2022-01-28 17:51] NicMendonca commented on #7413
Job posting: https://www.upwork.com/jobs/~0111d2f55cd83f6ef8

[2022-01-28 18:04] luacmartins opened #7454 "Bump eslint-config-expensify version to 2.0.23"
`eslint-config-expensify` was bumped to `2.0.23` introducing a new set of rules and we should update it in App.

[2022-01-28 18:08] mateusbra commented on #7451
@kavimuru could you provide more informations of what would be the expected result for this issue?

[2022-01-28 18:14] kidroca commented on #7350
We have the same problem with `react-native-web`

And it resulted in this:
https://github.com/Expensify/App/blob/c8d47a0e47d801e48f4e2aa5b040bd4618159b15/package.json#L10

which might seem simple, but is far from the best solution
Besides other problems it's always getting triggered and it's adding extra minutes to multiple pipelines

IMO the easiest thing would be to use `patch-package` even long

[2022-01-28 18:15] mountiny commented on #6965
This is not a very urgent issue, but still waiting for proposals that look a bit deeper in this case.

[2022-01-28 18:16] mountiny commented on #6718
Waiting for proposals still.

[2022-01-28 18:18] ahmdshrif commented on #4612
# Proposal
TL;

first, I want to explain the issue more and why I am going to this solution.

## Issue :
this issue is not related to desktop shortcuts as (electron config ) but it's a general issue in web history.
the issue happened when you navigate from the model(like search)  to the report route this reset the history of the main route.
the history works correctly if you just navigate from the

[2022-01-28 18:22] deetergp commented on #7012
Thanks for the PR, @sobitneupane! Did we end up hiring you for the job in Upwork?

[2022-01-28 18:33] sobitneupane commented on #7012
No. Not yet. I have applied for the job.

[2022-01-28 18:49] iwiznia commented on #6927
Nice! Thanks for the explanations!!
Let's get those changes in.
As for the platform, I would think it makes the most sense to build for the 2 different architectures and then somehow detect them when downloading them, so you always download the correct one.

[2022-01-28 18:50] promarat commented on #7145
Hi
The solution for this issue has been deployed to production  in version 1.1.31-1 and is now subject to a 7-day regression period

[2022-01-28 19:00] johnmlee101 commented on #7451
Agreed with @mateusbra, I don't think this is an issue AFAICT

[2022-01-28 19:10] mvtglobally commented on #7395
Checking off
#7209 -#7414 issue is fixed
#7301 - issue is not consistently repro, blocker removed
#7367 - it was reverted

[2022-01-28 19:17] mvtglobally commented on #7417
@johnmlee101  retesting. Sorry for delay

[2022-01-28 19:23] jboniface commented on #7382
posted: https://www.upwork.com/jobs/~01b98d77cf3fbef6f1

[2022-01-28 19:24] mvtglobally commented on #7424
Issue is not consistently repro for everyone. but we were able to repro with 2 different tester/devices

[2022-01-28 19:24] mvtglobally commented on #7417
Issue is resolved.

[2022-01-28 19:29] ahmdshrif commented on #7413
# Proposal
will edit this line to be  :-
https://github.com/Expensify/App/blob/c8d47a0e47d801e48f4e2aa5b040bd4618159b15/src/pages/settings/Payments/PaymentsPage.js#L293

to
[code]

![Screen Shot 2022-01-28 at 9 28 41 PM](https://user-images.githubusercontent.com/21364901/151609518-33a67402-4715-48ce-b6c8-19a535e2dd5e.png)

[2022-01-28 19:34] mvtglobally commented on #7395
@AndrewGable @Julesssss  Let us know if we can checkoff to close this checklist
https://github.com/Expensify/App/pull/7319#issuecomment-1024539174
#7424 & #7412 as they are not consistently repro by Expensify team
Last blocker has no comment #7418

[2022-01-28 19:57] murataka commented on #4612
Proposal

in rect-navigation repo , @roryabraham already worked on that issue.

However ,
<img width="539" alt="Screen Shot 2022-01-28 at 22 48 18" src="https://user-images.githubusercontent.com/5358438/151611960-92006884-7b2a-4a4c-8f61-3efdcb4ec657.png">

As you see in screenshot , the index 1 is missing after doing some back and forward.
uselinking.tsx  108
[code]

is some dangerous piece of cod

[2022-01-28 19:58] mountiny commented on #7059
@mananjadhav I agree with Rajat, email is good. I can imagine that we will change this in future based on our experience. Since this is a new feature it will have some iterations. We might be able to name the group chats in future and then that could change. For now, the emails are good!

[2022-01-28 19:58] alex-mechler commented on #7434
Tagging a couple people who were involved in the discussions around this and sending it external

cc @iwiznia @marcaaron

[2022-01-28 20:17] marcaaron commented on #6900
@jamesdeanexpensify suggestion to use "Almost there..." makes sense to me.

[2022-01-28 20:41] #7454 closed

[2022-01-28 21:04] kidroca commented on #7434
Related to:
- https://github.com/Expensify/App/issues/5034
- https://github.com/Expensify/App/issues/2642

[2022-01-28 21:06] kidroca commented on #3867
Still waiting on #6556

[2022-01-28 21:26] osama256 opened #7457 "'.' is not recognized as an internal or external command,"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
after cloning the App and npm install I get this error :

C:\Expensify\App>npm i

'.' is not recognized as an internal or external command,
operable

[2022-01-28 21:49] deetergp commented on #7012
@JmillsExpensify let's hire & pay @sobitneupane for the work 👍

[2022-01-28 21:50] johnmlee101 commented on #3981
Should I go ahead and split these assignments into two parts? One for the front-end changes in this repo and one for the back-end internal development?

[2022-01-28 21:51] #7417 closed

[2022-01-28 22:02] mallenexpensify commented on #7206
Since it's not too common I _think_ we can include them under `Notes/Photos/Videos`, maybe?
Or.. just manually add a `related issues / PRs` header section to the OP if/when needed

[2022-01-28 22:07] mallenexpensify commented on #7206
YES!  I'm not suggesting tracking issues aren't/good or helpful, I am a BIG fan. Let's just keep payments dedicated to the non-tracking issues that the tracking issues links too.

[2022-01-28 22:19] roryabraham commented on #7350
I was going to follow the instructions from the react-navigation repo and use `gitpkg`: https://github.com/react-navigation/react-navigation#installing-from-a-fork-on-github

[2022-01-28 23:01] alex-mechler commented on #7436
Looked into this a little today, I think the problem is that we normally direct user's to our own form on olddot for this, so I'm _thinking_ that we are directing there even on old dot, but it does not exist. Dropping down to a weekly.

[2022-01-28 23:32] K4tsuki commented on #7145
@dylanexpensify I have applied to the upwork job.

[2022-01-28 23:34] neil-marcellini commented on #6079
Yes that's what I did. As with tapping on a notification, it opens the list of reports but not the report itself. Maybe the problem is that the drawer is open and is covering the page beneath? I'll see if I can verify that.

[2022-01-28 23:44] kidroca commented on #7350
That's still seems better than postinstall

I'm mentioning the other fork, because we'll probably want to handle each fork the same way

_gitpkg was suggested there as well, but we didn't go with it_ I think because we didn't wanted to publish a temp package

[2022-01-28 23:49] parasharrajat commented on #7074
@dylanexpensify I have applied as C+. Thanks.

[2022-01-28 23:50] roryabraham commented on #7350
https://github.com/ds300/patch-package seems pretty cool

[2022-01-28 23:56] parasharrajat commented on #7081
@brianmuks This key will be true many times when users will scroll up to load paginated messages. which will show the loader again and again.
1.  I think we only want to show the loader for the first time.

How will you tackle this issue?

[2022-01-29 00:00] roryabraham commented on #6863
Another good improvement to make once https://github.com/pascalgn/automerge-action/pull/177 is merged would be to delete the unmerged PR branch if the automerge-action fails.

[2022-01-29 00:00] roryabraham commented on #4010
No update

[2022-01-29 00:04] brentvatne commented on #4612
for future reference, @satya164 is the primary maintainer of react navigation and is available for hire to work on these types of issues

[2022-01-29 00:11] marcochavezf commented on #7079
Related to using libraries for web/desktop, TL:DR; I found out for Google SignIn is better to implement it ourselves.

I checked out the implementation of https://github.com/anthonyjgrove/react-google-login (which is the most popular library for Google SignIn in regular React) and I found out the implementation is relatively simple and it's better to implement it ourselves because the library cont

[2022-01-29 00:26] brianmuks commented on #7081
@parasharrajat That is a good concern. kindly note that in the `componentDidUpdate` I am setting the local state `(showSVGLoader)`  to `false` only once and it never goes back to `true` again. Meaning the `lazyLoader` won't be re-render  when new users scroll up to load new messages.

[code]

[2022-01-29 00:34] parasharrajat commented on #7081
Oh, yeah. My bad completely overlooked it. But still, can we use ```ONYXKEYS.IS_LOADING_REPORT_DATA``` instead. I think when this is true all the initial data is loaded.

[2022-01-29 00:36] brianmuks commented on #7081
I can go with that.

[2022-01-29 00:39] parasharrajat commented on #7081
So you are saying that it will work. Have you tested it?

[2022-01-29 00:44] mallenexpensify commented on #5946
@neil-marcellini , did this issue get 'fixed'? If so we want to compensate @Santhosh-Sellavel for reporting it.  Also, if so, is @K4tsuki eligible for compensation for contributing to the fix? ie. did you use any code from @K4tsuki ?

[2022-01-29 00:51] brianmuks commented on #7081
Yes I have. It works

[2022-01-29 00:55] K4tsuki commented on #5946
@mallenexpensify there is no code from me. I am just helping out. I think I am not eligible for the rewards.

[2022-01-29 00:57] parasharrajat commented on #7081
Ok, Sounds good. I didn't get a good sense of how you will implement the lazy loader. If you could explain briefly in technical words, that would be great.

[2022-01-29 01:00] parasharrajat commented on #6900
Sounds good. I liked @PrashantMangukiya' proposal https://github.com/Expensify/App/issues/6900#issuecomment-1004746042.

cc: @deetergp

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-29 01:02] parasharrajat commented on #7413
@ahmdshrif 's proposal looks good.

cc: @thienlnam

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-29 01:05] brianmuks commented on #7081
@parasharrajat does this address your question or you need something more detailed.  ?

Off-course keeping in mind the latest suggestions

[2022-01-29 01:16] parasharrajat commented on #4612
Both of you guys have interesting solutions. But if this issue lies with React navigation, I would prefer it to be fixed upstream.
Great initiative @murataka. Thanks for creating the PR upstream.

Have you tested the fix on our repo? Does it fix the issue here? Also, can I have a test branch to test with? It complete third party so it would make more sense.

[2022-01-29 01:17] parasharrajat commented on #7081
I am asking to expand on this part.

[2022-01-29 01:19] murataka commented on #4612
As expected , the workaround will possibly cause issues, yes it seems to work at our repo , but I will fix it as a proper solution , and sleep comfortably.

[2022-01-29 01:21] murataka commented on #4612
Yes , this is the case , but I did not hesitate to fix it on that repo , with the expectation I can be helpful a bit to @satya164 the maintainer of the repo..

[2022-01-29 01:24] murataka commented on #4612
I shall add the test steps after I finish it and commit to the actual react-navigator repo.

[2022-01-29 01:26] parasharrajat commented on #4612
I will wait to hear from you. Also, please share the test branch when ready. We are not in hurry and this issue can wait.

[2022-01-29 01:27] murataka commented on #4612
I need to eat expensify's pizza asap .

[2022-01-29 01:29] parasharrajat commented on #4612
I am not sure how can I test without the test branch. But if you have a way. you can tell me so that I can test it and if that works, I can get this issue assigned to you.

[2022-01-29 01:30] murataka commented on #4612
I shall have a proper solution in a few hours for sure.

[2022-01-29 01:41] murataka commented on #4612
I think it is finished, paste the below file on

@react-navigation/lib/module/useLinking.js for testing purposes.

I shall create a pull request , hope the maintainer likes and accepts the solution.

[2022-01-29 01:42] murataka commented on #4612
[code]

[2022-01-29 01:58] murataka commented on #4612
https://github.com/react-navigation/react-navigation/pull/10306

[2022-01-29 01:59] parasharrajat commented on #6872
Ah, I see your point now @K4tsuki. To clarify
1. When the user typed `acids`.
2. On the Consumer(parent component) we blocked the update of `value` as we are only accepting numbers.  So value will be `''`.
3. Now on the TextInput the `this.value === acids` but `this.props.value === ''` and also the `prevProps.value` would be `''` thus componentDidupdate will early return.

but the textinput will k

[2022-01-29 02:01] roryabraham commented on #7395
This comment is a test

[2022-01-29 02:02] roryabraham commented on #7395
This comment is another test

[2022-01-29 02:09] rushatgabhane commented on #7420
@railway17 are you able to replicate this on production?

[2022-01-29 02:13] rushatgabhane commented on #7354
@adeel0202 could you maybe post an updated proposal? So it's easily visible

[2022-01-29 02:25] murataka commented on #4612
@parasharrajat , I shall continue to testing, there might be more fixes needed, don't know if need to fix all bugs on the library about navigation history, nor I shall be able to. let me know about your test.

[2022-01-29 02:28] roryabraham commented on #7166
Got a draft PR up for this 👍

[2022-01-29 02:29] parasharrajat commented on #6872
So we will have to force update. Do you see any other solution that problem?
[code]

[2022-01-29 02:33] K4tsuki commented on #6872
I test using

https://github.com/Expensify/App/blob/2cdb7c30be70766b3c006a67153665d895ba83ac/src/pages/NewChatPage.js#L188

Instead of `empty string` try to change in to `lorem ipsum` to be : `searchValue: isOptionInList ? prevState.searchValue : 'lorem ipsum',`

And it works without `forceUpdate()`

Where is it doesn't work?
In the same new group chat page?

[2022-01-29 02:38] parasharrajat commented on #6872
Ok, then it's fine. we can leave the `forceUpdate()`.

[2022-01-29 02:45] brianmuks commented on #7081
So the whole idea is create small component that will render two  SVG images.
The first SVG image will be static one like the one below:
<img width="751" alt="lazy loader" src="https://user-images.githubusercontent.com/4520893/151643990-6afc33f4-3702-4816-931c-c96d05b1fe12.png">

The second SVG image  will be a gradient images that  will move back and forth over the first SVG image using `react-na

[2022-01-29 02:49] K4tsuki commented on #6872
Similar to what you write above, but without `foceUpdate`

[code]

`(this.value === this.props.value)` this check is filters user typing in text input, so  we don't call `setNativeProps` needlessly,

[2022-01-29 02:49] parasharrajat commented on #7081
Ok. Sounds good.

I like @brianmuks 's [proposal](https://github.com/Expensify/App/issues/7081#issuecomment-1019311415). @mananjadhav has a great proposal too but @brianmuks  came up first with the idea and @mananjadhav I see that you are already assigned to a couple of issues so this could be a good start for @brianmuks.

cc: @Luke9389

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-29 03:08] parasharrajat commented on #7434
Yeah, this is happening.

[2022-01-29 03:15] rushatgabhane commented on #7385
@phivh thanks for your proposal, but can you help me test this out as I'm getting an error.

[code]

error: `Cannot read properties of null (reading 'getBoundingClientRect')
    at getClickedElementLocation`

[2022-01-29 03:34] phivh commented on #7385
@rushatgabhane not sure why you got this. The event should call right after the button click action then it will assign `nativeEvent` element right after that. It should not null. You can check the video attached.

https://user-images.githubusercontent.com/5449119/151645790-03d0350d-19a9-4f17-8425-740f65c8bd84.mp4

Maybe we need to remove listener event after closing the modal as the second point

[2022-01-29 03:48] railway17 commented on #7420
@rushatgabhane
I didn't test in production.
But is it possible to test in product with my personal account?

I've contributed to 1 issue in Expensify, but not sure I can test in prod or not....
In the issue replication, I am not clear what `reopened account` is.

Just tried the below steps:
login, request, cancel, logout, re-login, open direct chat.
But can't replicate.
My replication flow is corr

[2022-01-29 03:53] parasharrajat commented on #7382
### Proposal
1. we use a maximum of 250px for width in https://github.com/Expensify/App/blob/2cdb7c30be70766b3c006a67153665d895ba83ac/src/components/ThumbnailImage.js#L42.
2. Based on the slack thread,  we need to use the percentage of the viewport. which we will achieve via `withWIndowDimensions` HOC.
e.g.
[code]

Now the image will have a max-height but

|Image | how it looks on 40% max height|

[2022-01-29 03:56] rushatgabhane commented on #7420
@railway17 Thanks for the details! For reopening the account, you first need to close it.

To close: settings -> security -> close account.
To reopen: just sign in to the same account

[2022-01-29 04:05] railway17 commented on #7420
https://user-images.githubusercontent.com/29966461/151646629-762047e7-bd76-4af8-9763-76702acf3aa4.mp4

@rushatgabhane
I can't see any option to close the account.

[2022-01-29 04:11] rushatgabhane commented on #7420
@railway17 can you try it in production? I'm not sure why you can't see close account page as it isn't hidden in any beta.

[2022-01-29 04:16] railway17 commented on #7420
@rushatgabhane
Ok, I can see and replicate it in production.
Looks like latest main is not same with current prod.
I can't see `Close Account` in ` en.js `
Let me try to find which commit is current prod

[2022-01-29 04:19] rushatgabhane commented on #7420
@railway17 main has close account feature. you might  need to sync your fork if you're testing on it 😄

[2022-01-29 04:33] rushatgabhane commented on #7385
@phivh Really appreciate it! I followed the steps, but the menu isn't dynamic :(

Here is my diff  - https://github.com/rushatgabhane/Expensify-App/commit/3f4c1e946edad6c8b14ffc088e4af32ef93f9293 please let me know what I'm doing wrong :)

[2022-01-29 04:44] phivh commented on #7385
@rushatgabhane hhe, I think you need to re-setState. The reason is the paymentMethodPressed happens once and the state is only set once.

[2022-01-29 06:25] adeel0202 commented on #7354
@rushatgabhane, I don't think we need to do both. Either increasing the `minHeight` or removing the placeholder ("ghost") text will fix the issue.

[2022-01-29 06:26] parasharrajat commented on #6876
@K4tsuki's [proposal](https://github.com/Expensify/App/issues/6876#issuecomment-1021918193) here looks good but I didn't get a good sense of why https://github.com/Expensify/App/issues/6876#issuecomment-1022773821 is used. It does not make sense based on how the selection changes. I tried to get the proper explanation in the above comments. But it seems that it is necessary for @K4tsuki 's proposa

[2022-01-29 06:51] mdneyazahmad commented on #7382
## Proposal

Calculate the best dimension for Thumbnail.

### Limitations:
We can not preserve the aspect ratio (edge cases)
Example: let an image of width 50px and height 1000px. It will take almost all screen height 50x1000.

We have to optimize the thumbnail dimension calculation so that it preserve the aspect ratio for the maximum number of images. As edge cases are rare. I think we can crop (

[2022-01-29 07:34] PrashantMangukiya commented on #6900
There is another issue related to this and they implemented similar solution using isVerifying etc.  (while we waiting for the grammar here). Here is the issue https://github.com/Expensify/App/issues/7322  Now I am wandering what we have do in this issue. Someone from C+ or Expensify team please refer it and decide strategy what to do in this issue.

[2022-01-29 08:15] K4tsuki commented on #6806
#### proposal

The problem is `Pressable/TouchableOpacity` (thumbnail of attachment image has `TouchableOpacity`) component is rendered as `div` that has `tabindex="0"` attribute.

This `tabindex` means that element is can be focussed.

On thumbnail press the thumbnail is focused and browser remember the last focused element with `tabindex` and after attachment modal is closed focus back to the `F

[2022-01-29 09:46] parasharrajat commented on #6806
Interesting. Will it affect the tab navigation?

[2022-01-29 09:50] parasharrajat commented on #6900
Thanks for linking that @PrashantMangukiya .

Ok, This issue is fixed now via https://github.com/Expensify/App/issues/7322. Let's just close it @jliexpensify

[2022-01-29 09:53] parasharrajat commented on #7206
We are good here. If anything else is needed, feel free to reopen.

[2022-01-29 09:53] #7206 closed

[2022-01-29 10:36] rushatgabhane commented on #7382
@NikkiWines, Rajat has reported the issue and has a simple proposal.
Unassigning myself, as he doesn't need a C+ review.

[2022-01-29 10:43] K4tsuki commented on #6806
What tab navigation?

[2022-01-29 11:34] parasharrajat commented on #6806
Tab key navigation

[2022-01-29 12:14] ahmdshrif commented on #4612
@parasharrajat  I think there 2 cases that lead to history  issues

1- reset the navigation when back from the search screen and that is what  @mallenexpensify explains in this comment  https://github.com/Expensify/App/issues/4612#issuecomment-906840431 and I solve it on my proposal.

2- navigation loss when you go back and forward a lot of time and @murataka  doing amazing work with solving that

[2022-01-29 12:37] rushatgabhane commented on #7385
@phivh makes sense! I knew I was doing something silly haha.
Btw, `window` won't work for native right? We'll have to create index.native.js and index.js files

[2022-01-29 12:47] ahmdshrif commented on #6908
@parasharrajat

 My proposal we discuss on `4612` issue solve this also https://github.com/Expensify/App/issues/4612#issuecomment-1024489080.

and I think will solve many navigation issues.

[2022-01-29 12:48] rushatgabhane commented on #7385
@deetergp I like @phivh's [proposal](https://github.com/Expensify/App/issues/7385#issuecomment-1024091777), we'll create a native file which doesn't implement the proposal.

🎀👀🎀 C+ reviewed

[2022-01-29 12:48] railway17 commented on #7420
@rushatgabhane
I have another question.
Let's assume that this issue is fixed and there was $500 `requested money` before closing the account.
When login reopened account, this amount should be kept?

The current action result is that old money is reset to 0 when login and requesting another money.

[2022-01-29 13:11] K4tsuki commented on #4612
@ahmdshrif I think your [proposal](https://github.com/Expensify/App/issues/4612#issuecomment-1024489080) is similar to my [proposal](https://github.com/Expensify/App/issues/6912#issuecomment-1004244650)
I did mention `setTimeout` and pull out `navigateBackToRootDrawer` there

[2022-01-29 13:17] ahmdshrif commented on #4612
@K4tsuki iam not see your proposal before but in this issue will not work without timeout maybe work for the secend one .

[2022-01-29 13:35] murataka commented on #4612
As this is an external library, and all the core problem is already appearing from that particular external bug.
I would like to see what cases you get it not work properly, but It would help much if you share some video recording, what error you get , and when it happens, and you should better do comment on react-navigation/react-navigation#10306 .

I'm pretty sure this what I proposed was alread

[2022-01-29 13:51] murataka commented on #4612
A note to who want to test :

As copying and pasting the file is not the proper way of testing it, and while doing the back and forward uses caching when possible , be sure to repeat the test on maybe on an other browser or  be sure to clear app cache.
Thanks for anyone testing it also , as soon as you share any information about the bug . But as suggested above , there seems to be no urgency. I a

[2022-01-29 14:00] ahmdshrif commented on #4612
thanks for sharing that.
@parasharrajat  will test this so no need to retest from my side .
I just think there is 2 issue and we need both pr to solve them .  that is what I mean in my comment.
if your proposal solves the 2 cases I mention it will be the only accepted one I agree with this.

[2022-01-29 14:34] murataka commented on #4612
If you don't get a result like that ( both native or browser ) , you may not be testing it correctly . I don't know if I can be able to prepare a more easy way to test this , open for suggestion.
https://user-images.githubusercontent.com/5358438/151664851-a27dc533-a97d-4ec3-9ea2-34812bfa6573.mov

[2022-01-29 15:26] murataka commented on #4612
An other test ...

https://user-images.githubusercontent.com/5358438/151666639-c2765ffb-16e8-4bcd-b5d3-de0e6a5cc7ef.mov

[2022-01-29 15:30] ahmdshrif commented on #4612
I mean Don't navigate from drawer .
Navigate from search page . That will reset the history . That's the case not work .

[2022-01-29 15:49] murataka commented on #4612
Seems to work correctly again , be sure to make node_modules/@react-navigation/lib/module/useLinking.js file copy paste  on the latest main branch , if you get any error : _`id of undefined`_  errors , still you may not be using the new changes.

[2022-01-29 15:52] murataka commented on #4612
I don't know if this is a bug, the problem with that is , the react-navigation library might already supposed to reset it ( for now). And in a later version , someone may request to change it. But seems to be a case for the external library, nothing seems wrong with current extensify about navigation.

[2022-01-29 16:28] murataka commented on #4612
@ahmdshrif , the navigation history appears under search history, although I did not search , but just navigated. Maybe this is causing some confusion ?

[2022-01-29 16:32] ahmdshrif commented on #4612
My be i have some cache as you mentioned . But i recommend you do the same steps in the vedio in here https://github.com/Expensify/App/issues/4612#issuecomment-1024489080

Jsut search for many pepopl
And navigate back if it back to correct user . Its fine .

[2022-01-29 16:42] murataka commented on #4612
The problem with that is , we have no search history.  Seems as if someone has used the navigation history as search history
 or vice versa,

The question is , **_do we have a search history_** ? That seems to be an other bug. Search history uses navigation history. That is what I understood is happening.

The issue related to this is "The Back ⌘[ and Forward ⌘] shortcuts keys are not working as e

[2022-01-29 16:47] ahmdshrif commented on #4612
i work in search senario because of this comment from reporter https://github.com/Expensify/App/issues/4612#issuecomment-906840431

Note cmd+k is the search shortcut .

[2022-01-29 16:52] #7457 closed

[2022-01-29 16:55] murataka commented on #4612
And #4612 (comment) is related to not having a search history implemented. We also discussed above if implementing an other history object would be fine or not , but @parasharrajat  did not like that proposal.

However , this seems to be an other bug ( We need a seperate search history ) .

[2022-01-29 17:04] murataka commented on #4612
@ahmdshrif , if you think it is related to this subject , I shall go open a bug report on slack. If you think this is not related what you propose , you should report it on slack channel I think .

[2022-01-29 17:15] mvtglobally commented on #7451
@johnmlee101 @mateusbra,
I think team was trying to raise center alignment of the text. All the comments typically left centered while this is in the middle, and when it breaks into two lines it doesnt look typical.  We cna close if you think this is expected.

![screenshot_20220128-101929_new_expensify_1_](https://user-images.githubusercontent.com/43995119/151670399-4af687d7-69e8-457b-8b6c-7eb899

[2022-01-29 17:16] ahmdshrif commented on #4612
I think  i solve the main issue accourding to the comments i mentioned. So we wait for @parasharrajat  and @NikkiWines to validat wich issue is the main  and wich is the related one .  Or both is will be the  main issue .

[2022-01-29 17:46] mdneyazahmad commented on #7382
I would like to highlight few issues. Please, correct me if I am wrong.

@parasharrajat When we use windowHeight for the calculation of thumbnail height. We also have to handle the case when user resize the window it should update it.

https://user-images.githubusercontent.com/77761491/151671536-393985f2-d930-4815-87cf-1de57cbe17d8.mp4

[code]
When we use very wide image. You are not constraining

[2022-01-30 03:43] murataka commented on #6836
**Proposal**

Hello, I know that this issue is closed , or just about to being closed. But I have some news ...

I saw that ,this happens even using our high-end phones , but  the hardcoded max displayable image size is 4 times bigger than the shared above. So I did a detailed research ( so please read it all ,more than 10 hours gone on my side ) , and will share just the summary here, but please

[2022-01-30 04:51] parasharrajat commented on #6836
@murataka long story short, you are suggesting to use hermes.

[2022-01-30 08:40] murataka commented on #6836
I said "could" if you read care fully.

It already works in debug mode. I checked every single version what is being used, what is not being used . For some reason , it is not working on the release . Here is a similar case : https://github.com/facebook/react-native/issues/26400

This is why I asked you to read carefully. The above error logs clearly tell hermes is there, but not working .

[2022-01-30 09:35] parasharrajat commented on #4612
Hohoho, there is some heavy discussion happening here :wink: We will get to every issue one by one. but I am having hard time understanding the whole discussion above.

Can someone please summarize both issues? I will try to reproduce both and see.

---

@murataka Sorry, I didn't find any file at `node_modules/@react-navigation/lib/module/useLinking.js` path. The structure goes like this. What is

[2022-01-30 09:38] murataka commented on #4612
![here](https://user-images.githubusercontent.com/5358438/151694459-d7830c79-c50f-4d38-a507-a4290019b9c0.png)

[2022-01-30 09:40] murataka commented on #4612
You better do a file sarch for useLinking.js

in node_modules folder.

[2022-01-30 10:01] murataka commented on #7381
Here is the related issue , https://github.com/Expensify/App/issues/4612#issuecomment-1025105737

[2022-01-30 10:58] parasharrajat commented on #4612
To clarify the scope of this
1. Report navigation order should be maintained on all cases. Whether the report is opened from LHN(left hand navigation) or RHN(right hand navigation).
2. Also, when we open search page and open a report. navigating back should take you to previous report not the search page.

There are many navigational issues #7363 . It is possible that solution for one can solve ot

[2022-01-30 11:08] murataka commented on #4612
It displays the navigation history , and this is an other issue . In fact , Search history should display search history instead of navigation history.

That creates reset-like behavior on navigation history.

[2022-01-30 11:18] parasharrajat commented on #4612
When we open a report from the search page, it navigates to that report and `⌘[  and ⌘]` just go back and forward in the browser navigation history. When proper navigation history will be maintained, they will just start to work.

I don't think they are separate issues. This issue was originally faced from [these steps](https://github.com/Expensify/App/issues/4612#issuecomment-906840431).

If you

[2022-01-30 11:25] murataka commented on #4612
I don't think I'm the one to have a conclusion on that , please check the comments in CustomActions.js .

[2022-01-30 11:40] parasharrajat commented on #4612
Correct, we can just focus on the reproduction steps [here](https://github.com/Expensify/App/issues/4612#issuecomment-906840431). This should fix that. All of the other issues have separate tasks/GH issues.

[2022-01-30 11:42] parasharrajat commented on #4612
@ahmdshrif Thanks for the proposal. I will review that as well.

[2022-01-30 11:58] ahmdshrif commented on #4612
thanks @parasharrajat waiting for your feedback.

[2022-01-30 12:08] murataka commented on #4612
@parasharrajat  I think that you have some kind of distraction issues like me, in case you missed it, that is the root cause of
reset-like behavior mentioned above.

[2022-01-30 13:03] murataka commented on #4612
Proposal ( this is solving the RHN related reset issue. Any bonus is appreciated )

In CustomActions.js

line 129 ..
[code]

solves this issue.

[2022-01-30 13:19] ahmdshrif commented on #4612
since I spend many days working on changing the state in reset action, I can confirm that adding an index will not solve the RHN issue.
but you can make a test also.

[2022-01-30 13:20] murataka commented on #4612
Without the react-navigation library fix, I totally understand you spending so much time on that. But that works after combining those fixes.

[2022-01-30 13:23] murataka commented on #4612
@parasharrajat , @ahmdshrif had some help on me focusing on the search (RHN) related issues. If possible make sure he also gets hired if my fixes are accepted.

[2022-01-30 13:23] ahmdshrif commented on #4612
I just remember I try this fix and not work.  if it worked with you that's fine. it's better than my suggestion.

[2022-01-30 13:26] ahmdshrif commented on #4612
thanks, @murataka , if your fix is working it's your job bro ❤️
I am not suggesting that.

[2022-01-30 13:43] mananjadhav commented on #7060
@adelekennedy Can we close this?

[2022-01-30 14:03] mateomorris commented on #5082
@JmillsExpensify strange, it must have expired since it was from a while ago. I haven't been paid for it.

[2022-01-30 14:48] murataka commented on #6836
@parasharrajat , evaluating this proposal would require following steps :

1. Select an old branch which not includes the previous fixes
2. Create bundle in release mode
2. publish in play store for internal testing ( alpha or pre alpha )
3. Run the application and watch the logcat
4. Create a debug build
5. Check if the issue appears on debug build and compare the logcats

As this may require som

[2022-01-30 19:48] #7060 closed

[2022-01-30 19:50] adelekennedy commented on #7014
@parasharrajat what should we do here, if the issue is not reproducible should we close this?

[2022-01-30 19:55] adelekennedy commented on #7213
Paid and closed!

[2022-01-30 19:55] #7213 closed

[2022-01-30 20:34] adelekennedy commented on #6627
Double checking here @roryabraham the job is closed and paid out - but do we need to reopen the job?

[2022-01-30 21:28] murataka commented on #6836
I did everything to crash the app, attached, downloaded , zoomed etc. It does not crash. The current solution does not let me pan and zoom to the image when it is large, if I'm not wrong.

This is the commit I used for testing : ( you can create a fork from this commit for the same version )  https://github.com/Expensify/App/commit/2503fb40cc6a1dfbb6e602cf98cc48e520bf1969

Changes made :

[code]

[2022-01-30 23:20] jliexpensify commented on #6900
Job closed, cheers Rajat!

[2022-01-30 23:20] #6900 closed

[2022-01-31 00:02] Julesssss commented on #6836
@murataka first, thank you for taking the time to investigate this.

I thought that we weren't using ProGuard currently (I have had the 'Introduce ProGuard' issue on my todo list for a while). But, it would troubling if Heremes is indeed not being used as we expect (even if it is just in some cases).

I'm going to follow your steps tomorrow morning, and I will let you know if I see the same result

[2022-01-31 02:09] mvtglobally opened #7461 "Password field validation does not display error properly - reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to stetting > Security > Change password
3. Enter invalid current password
4. Start typing New password

## Expected Result:

[2022-01-31 02:47] mvtglobally opened #7462 "[HOLD for payment 2022-04-01] [$1000] Long press on image doesn't open the context menu - Reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Go to any chat with attachment image
3. Hard press on the image

## Expected Result:
Long press on image should open the context menu

[2022-01-31 02:50] mvtglobally opened #7463 "[HOLD for payment 2022-03-17] [HOLD for payment 2022-03-09] Feature Request: Add image preview placeholder while uploading images/Videos - Reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Go to chat on slower network
3. Upload image and note the loading

## Expected Result:
Image preview should display while uploading i

[2022-01-31 02:54] mvtglobally opened #7464 "Feature Request: Enable search for Emojis in mobile screens - Reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to any chat
3. Open Emoji picker and try to search for emoji

## Expected Result:
User should be able to search emoji

## Ac

[2022-01-31 02:58] mvtglobally opened #7465 "There is no way to modify the paypal.me address - Reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. Navigate to Settings>Payments>Paypal.me
3. Select to modify paypal.me address

## Expected Result:
User should be able to modify the

[2022-01-31 03:03] mvtglobally opened #7466 "[HOLD for payment 2022-02-22] Tooltip is missing on reimburse receipts page - reported by @kakajann"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Settings > Workspace > Reimburse receipts
3. hover over email

## Expected Result:
Tooltip should display as on other pag

[2022-01-31 03:19] mvtglobally opened #7467 "Flash on the screen where the input field, when switch to a chat user has't been in for a while"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open App
2. Open Open some chat and leave it
3. Navigate back to same chat after a long time

## Expected Result:
There should be no visual disto

[2022-01-31 03:30] Christinadobrzyn commented on #6876
Just confirming @parasharrajat - are we good to hire @K4tsuki for this fix?

[2022-01-31 03:30] mvtglobally opened #7468 "Blank screen after changing password from magic link - Reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Enter valid account email and select Magic link
3. on the slower internet, open the link

## Expected Result:
User should be directed

[2022-01-31 03:39] mvtglobally opened #7469 "Messages are received in two pieces - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Steps - 1st SMS: Use phone number at login page and tap on forgot to receive the magic link.
Steps - 2nd SMS: Login to an account with phone number

[2022-01-31 03:50] mvtglobally opened #7470 "[HOLD for payment 2022-09-16] [$4000] There's a very small white gap at bottom for TextInput when using autofill - @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Use autofill on the login screen
3. Navigate to Settings>Payments>Add Debit card
4. Use autofill

## Expected Result:
Autofill should

[2022-01-31 03:55] parasharrajat commented on #6876
Not yet @Christinadobrzyn. @stitesExpensify will review the proposal first.

[2022-01-31 03:55] mvtglobally opened #7471 "When user inputs a space in middle of room name, cursor moves to the end - Reported by @K4tsuki"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. "+" > "New Room"
3. Enter room name
4. Put cursor in the middle and type another letter

## Expected Result:
User should be able to c

[2022-01-31 04:00] kadiealexander commented on #7438
@cead22 could you please share a screenshot of how this appears on your end? I believe this is intended behavior, as $10 was deducted from Zach's wallet to pay you. If I'm correct, the $10 amount should appear without a negative sign on your side.

[2022-01-31 04:00] mvtglobally opened #7472 "Deleted workspaces can be seen after starting a new chat - Reported By @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Delete a workspace before performing steps
1. Go to settings and notice your current workspaces
2. Go back and tap the plus icon and then "New chat"

[2022-01-31 04:07] Christinadobrzyn commented on #7461
Conversation in #expensify-open-source about whether or not this is a bug -  https://expensify.slack.com/archives/C01GTK53T8Q/p1642091337435800

[2022-01-31 04:14] kadiealexander commented on #7438
Posted to Upwork! https://www.upwork.com/jobs/~0193348773bfafcd5e

[2022-01-31 04:20] mvtglobally opened #7473 "If you send 2 consecutive message the second message auto-repeated - Reported by @Ahmed sherif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Type text, enter and quickly type again

## Expected Result:
User messages should be independent and should not repeat

## Actual Res

[2022-01-31 04:25] mvtglobally opened #7474 "[HOLD for payment 2022-03-02] Concierge message has extra breaks - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Concierge chat
3. Type any random chat

## Expected Result:
Message in Concierge should have proper spacing

## Actual Re

[2022-01-31 04:29] mvtglobally opened #7475 "Login form positioning and spacing is different between Chrome and Safari - Reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Check login page spacing

## Expected Result:
Spacing should be consistent across browsers

## Actual Result:
Login form positioning

[2022-01-31 04:37] mvtglobally commented on #7473
potentially related to https://github.com/Expensify/App/issues/4129

[2022-01-31 04:44] mvtglobally opened #7476 "[HOLD for payment 2022-03-17] App changes positions of Ui elements when phone language RTL - Reported by Ahmed sherif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Set phone language to any RTL
2. Open app
3. Login & Browse

## Expected Result:
App UI should be properly displayed

## Actual Result:
UI is dis

[2022-01-31 04:48] mvtglobally opened #7477 "[$500] - Bottom of g’s are cut off in request money input on iOS"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate search and type any name with Gs

## Expected Result:
Full text should be visible

## Actual Result:
Gs are cutoff across di

[2022-01-31 04:50] parasharrajat commented on #7438
@sig5 proposal looks good. But @sig5 please post proposals after the issue is triaged. I will consider this point while reviewing future proposals.
cc: @Luke9389

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-31 04:55] mvtglobally opened #7478 "All chats disappeared from LHN on web/desktop even though I am on Most Recent mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app & login
2. check LHN
3. Search for user
4. Quit the app re-download

## Expected Result:
User should see chats and previous conversation

[2022-01-31 05:00] mvtglobally opened #7479 "[Offline mode] Paypal account added without internet is saved, but when connect to internet it disappears - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Set phone offline
2. Add Paypal.me
3. Set phone back online
4. Navigate back to check Paypal

## Expected Result:
User settings should be saved a

[2022-01-31 05:05] sobitneupane commented on #7466
**Proposal:**
Tolltip should be used to wrap following component
https://github.com/Expensify/App/blob/2cdb7c30be70766b3c006a67153665d895ba83ac/src/components/CopyTextToClipboard.js#L56-L62
by
[code]

[2022-01-31 05:06] mvtglobally opened #7480 "Compose component doesn’t grow to fit the Communication is barred text on mWeb"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to any chat
3. Enter multiline message

## Expected Result:
Compose component grows with message

## Actual Result:
Compose

[2022-01-31 05:08] mvtglobally opened #7481 "[HOLD for payment 2022-02-16] Tooltip text and arrow appears in different positions - reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create an account using a very long email address. (pro tip: use an email with a uuid like mylongemail+e66b2bfb-2bd8-4372-93f6-561ad20578ef@gmail

[2022-01-31 05:30] mvtglobally opened #7482 "Keyboard doesn't work for edit comment - reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Tap and hold to edit any comment
2. Scroll down
3. Tap on edit box

## Expected Result:
Edit box scrolls down and keyboard works

## Actual Resul

[2022-01-31 05:47] adeel0202 commented on #7014
@adelekennedy, this issue is always reproducible to me and is still reproducible.

https://user-images.githubusercontent.com/13783842/151744866-54f1f35c-37c8-451f-b6e3-d6c806da3fb1.mp4

[2022-01-31 05:53] K4tsuki commented on #7014
@adeel0202 confirmed, I can reproduce it now.

[2022-01-31 06:21] murataka commented on #6836
The reason may ( not ) be proguard, but the above steps would help to find the core issue . Configurations are too complicated to investigate directly. I hope at least one of your test builds will not crash and we shall be able to compare with the current release.

[2022-01-31 06:24] mananjadhav commented on #6891
It seems we're thinking of .focus as the solution, which might not work for this req. I've added a comment on the same thread.

[2022-01-31 07:12] parasharrajat commented on #3245
Solution for this issue will be divided into multiple PRs based on the following list:

- [ ] create a PR to decouple the EmojiPicker from Composer.
- [ ] Second PR to convert EmojiPicker to Singleton if you like my suggestion.
- [ ] PR to link the EmojiPicker with ReportActionMessageEdit component.

[2022-01-31 07:20] parasharrajat commented on #6891
We are making progress on that issue.  Let's wait for the resolution of https://github.com/Expensify/App/issues/6872

[2022-01-31 07:22] aswin-s commented on #6806
The reason the chat scrolls a bit after closing the modal is because of the focus-trap implementation inside Modal component of react-native-web. This is an accessibility requirement in most cases.

https://github.com/necolas/react-native-web/blob/2d9dca42fa67d09de8ff2de323c622b47a820354/packages/react-native-web/src/exports/Modal/ModalFocusTrap.js#L128-L139

This is achieved by keeping a referenc

[2022-01-31 07:28] K4tsuki commented on #6806
@aswin-s I did mention `The other solution might be move the focus to other element` or blur it in above proposal and I find the root cause.

[2022-01-31 07:30] parasharrajat commented on #7014
Thanks for the video @adeel0202. It is helpful. It seems it is still their @adelekennedy.

@K4tsuki has a proposal above which involves backend changes. I am not familiar with the flow of IOU for this scenario. @tgolen Could you please shed some insights here or tag someone who knows about it?

[2022-01-31 07:38] parasharrajat commented on #6806
Thanks for the proposal @aswin-s. I like it. It does not interfere with Tab key navigation as you mentioned does not break accessibility and it is simple.  @K4tsuki you have a good proposal too but those changes will break accessibility and seems complex over @aswin-s 's solution.

cc: @tgolen

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-31 07:45] mateocole commented on #7435
Question on this, do we allow Account A to close if their are pending payments?

[2022-01-31 07:47] K4tsuki commented on #6806
@tgolen please consider. My plan is to revise my proposal and I found the root cause first  and I did mention  other solution that aswin-s use, but I am at the middle of other task. This issue is intricate and different from other issues about `padding is not center or text box is not cleared`.  I hope you will reconsider heavily. Thank you.

[2022-01-31 08:09] aswin-s commented on #6806
@K4tsuki I reached my observations by following the modal lifecycle and reading through react-native-web documentation and replicating the same in my codebase. That's how I figured out that it was modal refocusing the item back and react-native-modal is using `document.activeElement` to refocus the item. I felt that it was a simpler and more focused solution to the above issue. Please don't take i

[2022-01-31 08:16] K4tsuki commented on #6806
@aswin-s your solution is similar to mine and  in code of conduct there is a note:

[2022-01-31 10:08] dylanexpensify commented on #7434
Internal: https://www.upwork.com/ab/applicants/1488091707711356928/job-details
External: https://www.upwork.com/jobs/~01bcb9c814f48af12c

[2022-01-31 10:17] dylanexpensify commented on #7074
Everyone paid out, contracts ended, and job closed!

[2022-01-31 10:17] #7074 closed

[2022-01-31 10:22] rushatgabhane commented on #7434
Semaphores could be useful ig, excited to review proposals on this one!

[2022-01-31 10:35] dylanexpensify commented on #6060
hold

[2022-01-31 10:38] dylanexpensify commented on #6807
Not overdue

[2022-01-31 10:39] dylanexpensify commented on #7263
Not overdue

[2022-01-31 11:13] Beamanator commented on #6669
I've been experiencing this in the Android app recently too, gunna bump the thread and see if we're working on offline issues yet

[2022-01-31 11:19] mountiny commented on #6908
Waiting for a good proposal. @parasharrajat is tracking the navigation issues and I am curious to see if @ahmdshrif solution will fix them.

[2022-01-31 11:58] K4tsuki commented on #6908
@mountiny his [proposal](https://github.com/Expensify/App/issues/4612#issuecomment-1024489080) is similar to my [proposal](https://github.com/Expensify/App/issues/6912#issuecomment-1004244650).

[2022-01-31 12:01] mountiny commented on #6908
Thanks for raising this @K4tsuki! cc @parasharrajat

[2022-01-31 12:12] sketchydroide commented on #7424
This is currently a blocker for the deployment, any updates?

[2022-01-31 12:35] adeel0202 commented on #7354
@rushatgabhane, only removing the placeholder in `line 302` will fix this issue.
https://github.com/Expensify/App/blob/2cdb7c30be70766b3c006a67153665d895ba83ac/src/pages/workspace/WorkspaceInvitePage.js#L293-L304

If you want the `minHeight` to be increased too, then it can be increased from `100` to `115` here.
https://github.com/Expensify/App/blob/2cdb7c30be70766b3c006a67153665d895ba83ac/src/sty

[2022-01-31 12:40] Julesssss commented on #6836
Hi @murataka. I read through all the linked issues and ran some tests today. I get slightly different results, so would you mind clarifying a few things for me?

- Does this mean that you are seeing the crash when uploading a file **larger** than 100MB? It's not clear to me whether you see this with smaller images too.
- Is this crash handled by the app currently? Is it closing the app for users,

[2022-01-31 12:41] parasharrajat commented on #7434
A solution could be:

1.  Make `xhr` method return cancellable promise. https://github.com/Expensify/App/blob/2cdb7c30be70766b3c006a67153665d895ba83ac/src/libs/HttpUtils.js#L38 via https://github.com/Expensify/App/blob/2cdb7c30be70766b3c006a67153665d895ba83ac/src/libs/MakeCancellablePromise.js#L8.

2. Track all the cancel callbacks from this call. https://github.com/Expensify/App/blob/2cdb7c30be70

[2022-01-31 13:01] K4tsuki commented on #7014
@parasharrajat I don't see you are confirming that this issue is reproducible at all. If you want to test it, now is the right time.

[2022-01-31 13:15] kidroca commented on #7424
I couldn't recreate on emulator with my dev test accounts (Android 10)
I've noticed posting a comment has some kind of lag and I'm following that

[2022-01-31 13:20] murataka commented on #6836
No. I test with same image, with the current release version from play store, because It does not crash with the above image in debug mode , even before the workaround that was merged a few days ago.

The app on playstore crashes currently. The accepted solution limits large images (downscales) , in fact there are many issues with the latest merge about the accepted solution to this issue. I can a

[2022-01-31 13:36] murataka commented on #6836
I. edited the steps, please be sure about you completely understand why I'm further investigating this before spending time for creating those test builds, as all these are taking additional time , and it is not easy to test before creating the builds.

[2022-01-31 13:47] rushatgabhane commented on #7354
@adeel0202 we wanna increase the `minHeight` so that a reasonably long workspace name isn't cut.

I'm not really sure what to do here. The TexInput doesn't scroll up on pressing arrow keys.
This be fixed in a different issue right? @puneetlath

https://user-images.githubusercontent.com/29673073/151804315-7942c372-cb8e-4e18-b71a-4b97e526ac4e.mov

[2022-01-31 14:00] Julesssss commented on #6836
I understand why you are investigating.

Okay. So I did the same thing as you, but I am not seeing a crash. I am on the app version`1.1.33-3` maybe newer than yours as I am on the beta channel. What version are you testing, please?

Reproducible steps and information about the exact device and app version you are seeing the crash on is preferable at this point. I don't want to create a new issue f

[2022-01-31 14:05] bfitzexpensify commented on #7317
Not much action here so far — doubled the price to $500

[2022-01-31 14:06] bfitzexpensify commented on #7269
Progress being made in https://github.com/Expensify/App/pull/7319

[2022-01-31 14:17] murataka commented on #6836
1.1.32-0 is what I can download in release mode .

There's no new issue , I suspect the actual one is not solved already .

When you test the above fix ( workaround ) and the same image , you should it would not crash.

This was the accepted proposal , the reviewers may not think this is an issue , but I think there are many issues with that.

I saw there are many opened issues about much smaller

[2022-01-31 15:09] Julesssss commented on #6836
I understand that.

By issue, I mean a Github issue. The previous fix was acceptable at the time, so I don't think this should be a regression, but a new followup issue.

You have made some interesting points and if we are able to come up with a proper proposal I would like for us to create a new issue, else we will not be able to pay you for your work 😄

As far as we are concerned, this previous

[2022-01-31 15:14] kidroca commented on #7437
PR ready: https://github.com/Expensify/App/pull/7483

[2022-01-31 15:18] mateusbra commented on #7380
@JmillsExpensify did you received my proposal in upwork?

[2022-01-31 15:20] kidroca commented on #6927
@iwiznia
I think others might be confused as well when all of the sudden `dependencies` become `devDependencies`, shouldn't we prepare for that with a slack comment or something?

It might be a good idea to update documentation so that we don't make the same mistake when new packages are installed
They should be installed in `devDependencies` otherwise they'll again get packed in vain

[2022-01-31 15:25] bfitzexpensify commented on #7058
All done here - processed job, reporting and C+ payments. Thanks everyone!

[2022-01-31 15:25] #7058 closed

[2022-01-31 15:31] Julesssss commented on #6836
This will not happen. It is clearly your proposal, you have the comments above to prove it.

If PRs could only add code and not remove existing code it would be a very different world 😆

No rush! Please do not start on this until we have 1) clarified what your exact proposal is, 2) Created a new issue and hired you.

[2022-01-31 15:56] mallenexpensify commented on #7350
I was able to reproduce this morn on Desktop Version 1.1.32-0
- `cmd+shift+r` to hard refresh
- `cmd+k` then type in name of someone who's not currently showing in foreground as main chat
- Observe the screen is white for ~15 seconds before the new chat loads

[2022-01-31 16:07] trjExpensify commented on #7274
Job price increased to $750

[2022-01-31 16:10] #7103 closed

[2022-01-31 16:24] kidroca commented on #6927
Posted a thread on slack: https://expensify.slack.com/archives/C01GTK53T8Q/p1643645168448979

[2022-01-31 16:25] sketchydroide commented on #7418
I was not able to replicate this on 1.1.33.3, @kavimuru can we try again for this version?

[2022-01-31 16:26] johnmlee101 commented on #5987
Finally got to replying on the PR, sorry about the delays!

[2022-01-31 16:29] sketchydroide commented on #7395
it seems #7412 is no longer a blocker
#7424 is being followed, a solution has not been found yet
#7418 needs to be tested again on the latest version, 1.1.33-3. it was found on 1.1.33-2 and I could not replicate it in the newer version.

[2022-01-31 16:31] neil-marcellini commented on #5946
Yes I believe this issue is fixed. It has been deployed to staging and will soon be deployed to production. I didn't use any code directly from @K4tsuki but he did point me in the right direction.

[2022-01-31 16:31] mvtglobally commented on #7395
Retesting #7418

[2022-01-31 16:49] murataka commented on #6912
Proposal

removing Navigator.navigate methods from requestmoney IOU ( murataka@f5e5a72 )

fixes the related bug , and it would be easier to evaluate this proposal.

So I created this proposal again which is just focusing on this bug to make things simler.

What it does is just remove the

`navigation.navigate`

methods which are causing the actual bug.

The rest is linter removing unused code.

As

[2022-01-31 16:54] johnmlee101 commented on #7451
I think this is fine for this purpose!

[2022-01-31 16:58] neil-marcellini commented on #7399
@mvtglobally have you been able to reproduce this?

[2022-01-31 17:03] aldo-expensify commented on #7185
So, I think the problem here is that we are not showing the errors coming from the server to the user

[2022-01-31 17:04] mallenexpensify opened #7485 "Standardize on a way Windows/Linux can test MacOS and iOS apps"
**Problem:** All issues aren't being tested on macOS and iOS because some contributors have Windows or Linux systems and they're unsure of how to test macOS and iOS.

**Solution:** Find a tool/VM/Cloudservice that can be used for Windows/Linux users.  Review it then standardize on the best. Update CONTRIBUTING.md to include details.

**Alt Solution:**
Make it a necessity for all contributors to te

[2022-01-31 17:08] mdneyazahmad commented on #7477
## Proposal

### Reason
```BaseTextInput``` does not have a minimum height therefore the content inside it overflows. Can the reporter confirm he can see the remaining "g" when scroll. I have reported the same issue previously that may be same, if this the case. https://expensify.slack.com/archives/C01GTK53T8Q/p1641800099218800

## Solution
https://github.com/Expensify/App/blob/2cdb7c30be70766b3c0

[2022-01-31 17:09] aldo-expensify commented on #7185
At least for the case I mentioned above, we are not doing anything with the error here:

https://github.com/Expensify/App/blob/2cdb7c30be70766b3c006a67153665d895ba83ac/src/libs/actions/BankAccounts.js#L80-L94

I'll this as `External` as it seems just related to doing something in the front with the error that comes from the backend.

[2022-01-31 17:19] aldo-expensify commented on #7398
I'm able to replicate this:
- I added an `Open` VBA account using the [SO](https://stackoverflow.com/c/expensify/a/525/419).
- Click on `Transfer Balance` opens a dropdown

@parasharrajat is this expected behaviour?

[2022-01-31 17:22] mvtglobally commented on #7418
@sketchydroide team is not able to repro on new build https://user-images.githubusercontent.com/43995119/151841974-550799f0-bd0e-403c-8723-41a5904f3b1f.MOV

[2022-01-31 17:22] mvtglobally commented on #7395
Checking off #7418 - is no longer repro

[2022-01-31 17:22] parasharrajat commented on #7398
KYCWall was added by Marc over the TransferBalance link so that users first add/complete the VBA flow before transferring the balance.

I don't the expected behavior of KYCWall. Better to ask Marc about this.

[2022-01-31 17:25] tgolen commented on #6806
Hey all, I've read through this and looked at both proposals. I want to discuss with the team how we feel is the most fair way to handle this.

[2022-01-31 17:33] bfitzexpensify commented on #7477
Upwork post [here](https://www.upwork.com/jobs/~019dbd9f3d5a7587de)

[2022-01-31 17:36] bfitzexpensify commented on #6470
Reposted on Upwork [here](https://www.upwork.com/jobs/~01f5b13d7b7801d657) @eVoloshchak

[2022-01-31 17:39] murataka commented on #7350
seems to be solved at https://github.com/Expensify/App/issues/4612

[2022-01-31 17:52] marcaaron commented on #7469
Not sure if this is a bug but will need to be `Internal`. SMS messages have a character limit. It could be we are not breaking on words but characters - or maybe there's a Twilio config that will handle this for us.

[2022-01-31 17:57] tgolen commented on #7434
@parasharrajat Thanks for that early proposal. I like the idea better of the first method because I think it is a cleaner implementation that is easier to understand and follow. I'm not quite clear on what step 2 and 3 would be in that method though. Could you maybe do a little psuedo code for those so I understand how you're thinking it will work?

[2022-01-31 18:05] mountiny commented on #7481
@sobitneupane You are right, I have updated it mostly to keep track and potentially merge it with this issue as they both seem quite straightforward. But for the sake of granularity, I will create a new issue for this 👍

[2022-01-31 18:07] tgolen commented on #6806
I agree with @parasharrajat and 🟢  the proposal from @aswin-s. I think that these two solutions are substantively different:

The proposal has the added benefit of not breaking accessibility or tab navigation.

[2022-01-31 18:07] laurenreidexpensify commented on #7474
https://www.upwork.com/jobs/~01783677d9cfaf2e77

[2022-01-31 18:08] laurenreidexpensify commented on #7474
Actually @marcochavezf I may have jumped ahead here - can you confirm this is okay for External?

[2022-01-31 18:13] rafecolton commented on #7467
It's not really a flash per se. What I see is when I open the app fresh:
* Sometimes the main panel is blank (all white)
* When I switch to a new chat, first it is blank, then the chat appears but it goes all the way to the bottom, no input field
* Then the input field appears
* Sometimes, the main panel shows a chat with a different person or is blank, and clicking on other chats doesn't cause th

[2022-01-31 18:16] mountiny opened #7486 "[HOLD for payment 2022-05-23] [$1000] Reduce Tooltip over Group chats (containing multiple members) in LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Have a group chat with many members with potentially long emails.
2. Hover over the group avatars in LHN and observe a long tooltip shown.
3. Th

[2022-01-31 18:19] rushatgabhane commented on #7103
@trjExpensify I think you missed the payment for C+ on this one 😄

[2022-01-31 18:20] marcaaron commented on #6872
Hi, can we wrap this up, please? I tested the solution I shared and it seemed to work. Is there some problem with it and does it not fix the issue? Remember, we are trying to fix _this_ issue not some other issue or problem we may have identified.

What is the point of using `setNativeProps()`?

[2022-01-31 18:21] mvtglobally commented on #7395
@AndrewGable  @roryabraham  #7424 is the only blocker preventing deploy it seems.  Last deploy was a week ago, it would be nice if we can get a new one today to QA.

[2022-01-31 18:35] sketchydroide commented on #7418
Ok, I think we can close it then as it seems it has been fixed.

[2022-01-31 18:35] #7418 closed

[2022-01-31 18:36] thienlnam commented on #7413
@NicMendonca Could you please hire @ahmdshrif for the job? 🟢

[2022-01-31 18:39] marcochavezf commented on #7474
Yeap, this one looks good for External

[2022-01-31 18:45] thienlnam commented on #7466
Could you please hire @sobitneupane for the job? 🟢  on the proposal

[2022-01-31 18:56] thienlnam commented on #7424
It's not a consistently produceable issue, so I'm not sure if it is a blocker.  Can't tell if this is also re-produceable in production

[2022-01-31 19:02] trjExpensify commented on #7103
Ah, my bad. Just waiting on yah' to accept the offer and I'll settle that up! 👍

[2022-01-31 19:04] sketchydroide commented on #7424
I just tried on my device, and was unable to replicate, my version was 1.1.33-3 though. Not sure if that is important.
I tend to agree with @thienlnam, this might not be a blocker
@mvtglobally can we test for `1.1.33-3` as well just to make sure 🙏🏼 thanks

[2022-01-31 19:09] ctkochan22 commented on #7326
PR out

[2022-01-31 19:15] ctkochan22 commented on #7326
Its got something to do with inline part of the Icon component: https://github.com/Expensify/App/blob/85edddd9932bb559f4071c47660d3612f1fbbf3d/src/components/Icon/index.js#L54-L62

So long as the component is within a view, it can re-render properly and switch between the images. But if not, it bugs out when you try to switch between them. Not 100% sure why...

[2022-01-31 19:23] puneetlath commented on #7354
Hm, if the issue of not scrolling with arrow keys exists today, then I agree let's handle that in a separate issue. And we can just handle removing the placeholder text and min-height changes in this issue.

[2022-01-31 19:28] Luke9389 commented on #7081
Is there a mockup for what this will look like on web/desktop?
I wonder if we should have a different static svg for the wider screen sizes. @shawnborton did you happen to make a mockup for larger screens?

[2022-01-31 19:37] roryabraham commented on #7440
@adelekennedy Bump to create the Upwork job. @sobitneupane feel free to apply once the Upwork job is created, and to submit your pull request whenever you're ready.

[2022-01-31 19:41] kidroca commented on #7434
Canceling a request and cancelling the underlying promise are not the same thing
If you only cancel the promise the request will still be made
While if you cancel the request itself the underlying promise will be rejected as well

IMO it would be better to abort the request
1. we don't want the result, we don't make the request
2. less network traffic
3. running requests stall other requests from

[2022-01-31 19:44] parasharrajat commented on #7434
Yeah, aborting is an option too. How could I forget that :speaking_head: ? I was pushing that since the start. AbortController for fetch.

Seems support is good.

[2022-01-31 19:46] mallenexpensify commented on #4612
Doubled price to $8000 https://www.upwork.com/jobs/~01a4e8881ff6937bae

[2022-01-31 19:47] puneetlath commented on #7185
Upwork job for handling the API response is here: https://www.upwork.com/jobs/~0151453e9454631fab

[2022-01-31 19:48] kidroca commented on #7434
`AbortController` is available on RN, desktop and modern web browsers (since 2020?)

There are some requests that shouldn't be cancelled. So far I've identified only `Log` and `DeleteLogin`

I had a POC using `AbortController` for a past ticket: https://github.com/Expensify/App/pull/6388:
TL;DR;
I think we can cover everything with one `AbortController` - initialize it during init
Then any request

[2022-01-31 19:50] puneetlath commented on #7293
@sig5 how is this going?

[2022-01-31 19:51] kidroca commented on #7434
I'm OK with anybody taking the task as well

[2022-01-31 19:52] stephanieelliott commented on #7481
@mountiny is this ready to be posted to Upwork, or do we plan to sit on this for a while?

[2022-01-31 19:53] parasharrajat commented on #7434
Ok. I see then please take it. You seem to have everything set up already.

Retracting my proposal @rushatgabhane ..

[2022-01-31 19:54] puneetlath commented on #7147
Looks like this has been merged, but isn't yet on staging.

[2022-01-31 19:55] puneetlath commented on #7089
@kursat have you started working on this?

[2022-01-31 19:58] mountiny commented on #7481
@stephanieelliott This can be Exported. Sorry for the confusion. I have created a separate issue for the other problem to keep them both self-contained! This is good to go, thank you for confirming 😊

[2022-01-31 19:59] danieldoglas commented on #7259
Since this will be probably developed with another feature, I'll change it to monthly for now until we have the technical implementation ready.

[2022-01-31 20:00] sig5 commented on #7293
Hi Puneet, this has been merged here to staging. I can't reproduce the issue on staging. So I think it works as expected.
https://github.com/Expensify/App/pull/7333#issuecomment-1021584734

[2022-01-31 20:00] okansahin commented on #7470
I read the issue and contributing guide.

I logged to app(https://new.expensify.com/) to facing issue but there is no option to add debit card for me. And in mobile there is no any options to add payment method. Maybe its about my region.
<img width="1552" alt="Screen Shot 2022-01-31 at 22 43 44" src="https://user-images.githubusercontent.com/1966034/151861633-7978f355-a026-4dab-8b33-befeaee9adbf.

[2022-01-31 20:02] thesahindia commented on #7140
Ping for Upwork
cc: @MitchExpensify

[2022-01-31 20:03] tgolen commented on #7313
@thesahindia any update?

[2022-01-31 20:05] #7122 closed

[2022-01-31 20:06] puneetlath commented on #7293
Lol whoops. Totally missed that. In spite of me being the one who merged the PR 🤦🏾. Thanks!

[2022-01-31 20:08] puneetlath commented on #7089
Looks like yes and for some reason the title wasn't updated with the pay date. In any case, paying now!

[2022-01-31 20:09] #7089 closed

[2022-01-31 20:12] NikkiWines opened #7487 "[HOLD][$1000] Old deleted message is still visible if the user closes the browser and then navigates to the conversation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to two different accounts that have a long chat with each other (over 50 message) from different browsers (or with one user in an incognit

[2022-01-31 20:13] roryabraham commented on #6789
Saw a tiny bit of movement on the pull request 3 days ago, I'm very hopeful that it will be merged soon.

[2022-01-31 20:13] NikkiWines commented on #7487
cc: @kidroca @murataka as you were part of the slack discussion [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1642836646318400)

cc: @stephanieelliott this new issue replaces [this one](https://github.com/Expensify/App/issues/6562) - I've updated [the upwork job](https://www.upwork.com/nx/job-post/custom/preview?uid=1486006089147277312) to link to this GH issue instead.

[2022-01-31 20:16] NikkiWines commented on #6562
Following @kidroca's suggestion [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1643277565071000?thread_ts=1642836646.318400&cid=C01GTK53T8Q) I created a new issue for this one so we can keep things a little clearer - this original issue has been resolved.

[2022-01-31 20:16] #6562 closed

[2022-01-31 20:17] NikkiWines commented on #7487
@isagoico would it be possible to test this on staging and prod to confirm the issue exists there? I'm fairly confident it does, but better to be sure 😅

[2022-01-31 20:20] stitesExpensify commented on #6876
I think we can move forward with @K4tsuki proposal. @parasharrajat I appreciate your concerns and will keep my eyes on them when the PR goes up, but as of right now I can't see definitely that something will go wrong so I'm okay with giving it a shot!

[2022-01-31 20:23] mvtglobally commented on #7424
@sketchydroide we are checking new build

[2022-01-31 20:26] stitesExpensify commented on #7480
Should be a simple style update. Marking external

[2022-01-31 20:26] rushatgabhane commented on #7103
@trjExpensify Done, thanks!!

[2022-01-31 20:33] stephanieelliott commented on #7481
Cool, thanks @mountiny!

Posted to Upwork: https://www.upwork.com/jobs/~01c93161a50cdfec48

[2022-01-31 20:34] stephanieelliott commented on #7481
As the reporter of this issue, @sobitneupane has first dibs on proposing a solution - he has shared one [here](https://github.com/Expensify/App/issues/7481#issuecomment-1026063898).

[2022-01-31 20:34] rushatgabhane commented on #7354
🎀👀🎀 C+ reviewed
@puneetlath I recommend that we hire @adeel0202 to fix this issue based on their [proposal](https://github.com/Expensify/App/issues/7354#issuecomment-1025694803).

[2022-01-31 20:35] ctkochan22 commented on #7472
Seems specific to mobile. Not reproducible on web

[2022-01-31 20:39] stephanieelliott commented on #7181
PR is undergoing QA

[2022-01-31 20:44] rushatgabhane commented on #7470
@okansahin I reckon debit card is hidden under a beta. I was able to access it on main though

[2022-01-31 20:47] stephanieelliott commented on #7076
We still don't have any proposals for this, and following process the price will soon double again to $1,000.

Based on the discussion, sounds like maybe the issue body and repro steps is unclear. Should we create a new, more descriptive issue? Or continue raising the bounty on this? @puneetlath what do you think?

[2022-01-31 20:57] roryabraham commented on #6627
Honestly, I can't keep track of all the expected behavior in the labyrinth that is `OptionsListUtils`. I think that we should close this and add a new issue to:

1. First, clearly and thoroughly define the results ordering, accounting for:
    1. DM's, group chats, policy default rooms, workspace chats, user-created rooms
    1. How the order might change for the `New Chat` or `New Group` pages, a

[2022-01-31 20:58] stitesExpensify commented on #7324
Time to double this @jboniface ?

[2022-01-31 21:01] roryabraham commented on #4629
I believe this is still on HOLD pending https://github.com/Expensify/App/issues/6527

[2022-01-31 21:06] okansahin commented on #7470
Hello,

### Web

I read contributing guide and tried to got issue on desktop and mobile but there is no option "Add debit card" in payment settings on https://new.expensify.com . I don't know maybe it's relational with my region. In mobile view of chrome, no any option.

<img width="1552" alt="Screen Shot 2022-01-31 at 23 14 35" src="https://user-images.githubusercontent.com/1966034/151865913-a864

[2022-01-31 21:10] puneetlath commented on #7076
Hm, this one has gotten a bit confusing. Maybe easiest to just start afresh.

[2022-01-31 21:20] mvtglobally commented on #7424
@sketchydroide @thienlnam out of 6 testers 3 were able to repro on the latest build.

Additional accounts used to validate
applausetester+0524@applause.expensifail.com
applausetester+2501mn@applause.expensifail.com

https://user-images.githubusercontent.com/43995119/151873035-a0f7fab4-5e09-47dc-b814-5b2c178f876c.mp4

https://user-images.githubusercontent.com/43995119/151873042-4fcd6b5a-0f81-45a6-a

[2022-01-31 21:33] jboniface commented on #7324
done, this is now paying out $500

[2022-01-31 22:01] puneetlath commented on #7354
Agreed, sounds good.

[2022-01-31 22:14] NikkiWines commented on #7382
👍  for @parasharrajat's proposal - I think it fixes what we want without being too heavy of an implementation

[2022-01-31 22:22] MitchExpensify commented on #7140
@thesahindia Paid with reporting bonus, thanks!

I've created a new job in order to pay the C+ fee for you @rushatgabhane, please apply then I can issue the payment - Thanks! [Job](https://www.upwork.com/jobs/~015fba4b2123f79108)

[2022-01-31 22:22] roryabraham opened #7489 "[HOLD for payment 2022-03-17] Cleanup: URL Configs"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Coming from [this issue](https://github.com/Expensify/App/issues/7316#issuecomment-1020595668). This is a non-standard issue in that we're just asking for some code clea

[2022-01-31 22:22] roryabraham commented on #7316
Created a follow-up: https://github.com/Expensify/App/issues/7489

[2022-01-31 22:22] roryabraham commented on #7489
cc @mananjadhav if you're interested

[2022-01-31 22:32] ahmdshrif commented on #7473
hi, @mvtglobally I can't ' reproduce this on the web again (the text input gets unfocus when we send the message)  but still can have it mobile(android and ios).

to reproduce it just type any character when you send the message.
it will send the message
and keep the old message with the entered character in the text box.

as a proposal if external.
I suggest that we unfocus the text input in nati

[2022-01-31 22:42] mateusbra commented on #7489
I would like to work on this one if possible

[2022-01-31 22:50] rushatgabhane commented on #7140
@MitchExpensify applied, thanks!

[2022-01-31 22:52] neil-marcellini commented on #6079
@roryabraham I tried editing `Navigation.getDefaultDrawerState` to always return 'closed' to see if the drawer was covering the report when it is deep linked to. Once I made that change deep linking to a report worked. Why is the default drawer state set to 'open' on small screens? Could we change the default? Or could we change the default drawer state when [handling the deep link](https://reactn

[2022-01-31 23:07] roryabraham commented on #6079
@neil-marcellini Great investigation. We already have a check in place [here](https://github.com/Expensify/App/blame/87e88b9b99b4d775de07096d0dac4a5af024a907/src/libs/Navigation/Navigation.js#L82-L84) to see if we tapped a notification before the navigation container was ready, and if we did we set the default drawer state to closed. If seems that's just not working in the case when the app is alr

[2022-01-31 23:11] Luke9389 commented on #3798
I'm going to close this for the time being. I don't forsee being able to push this initiative for at least another month.

[2022-01-31 23:11] #3798 closed

[2022-01-31 23:33] rushatgabhane commented on #7352
@kursat any updates on this one? Thanks!

[2022-01-31 23:37] trjExpensify commented on #7103
Settled. 👍

[2022-01-31 23:39] deetergp commented on #7385
Thanks @rushatgabhane, @phivh's proposal looks good to me as well.

[2022-01-31 23:42] neil-marcellini commented on #6079
Ok, that sounds like a good plan. I'll implement this and test it out. My only concern is what if we want to handle deep links from sources other than notifications while the app is open? For example maybe we have a link to a specific report in an email? In that case it feels like we should have the logic you specified above in a callback that handles all incoming deep links. What do you think? Ma

[2022-01-31 23:48] K4tsuki commented on #6872
@marcaaron If we solve this current issue then using your suggestion is best.

It is used for other problem. I have tested it using `lorem ipsum` [above](https://github.com/Expensify/App/issues/6872#issuecomment-1024813005), then the search box doesn't display `lorem ipsum` after select a user.
It means if `props.value` is supplied to `BaseTextInput` there is still a problem of not being displayed

[2022-01-31 23:53] aldo-expensify opened #7491 "[HOLD for payment 2022-02-11] Miss-aligned headers on Android and iOS - Reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login in New Dot
2. Go to `Settings > Preferences`
<img src="https://user-images.githubusercontent.com/87341702/151892003-3124782f-cdbc-49ea-8af

[2022-01-31 23:57] kevinksullivan commented on #7476
https://www.upwork.com/jobs/~019ba4918a8529eaf2

[2022-02-01 00:05] K4tsuki commented on #6806
@tgolen `move the focus to other element` this also means blurring the element. And I hope you give more weight on who is the first to find the real problem as this is intricate problem and cannot be found easily, the start date is `17 december` and I am the first to found the real problem.
Thank you.

[2022-02-01 00:11] K4tsuki commented on #6908
@ahmdshrif I am really sorry if my words hurt your feelings.

I really believe you are making the proposal yourself and I didn't mention you are copying my proposal. I don't even have a slightest doubt in my mind that you are making proposal yourself.

I just said it is similar but it is up to the reviewer do judge the proposals.
Once again I am really sorry if my words hurt your feelings.

[2022-02-01 00:26] marcaaron commented on #6872
Sounds good! I'm not sure what other problem we are trying to solve, but if there is one feel free to report it.

[2022-02-01 00:31] ahmdshrif commented on #7474
# Proposal

## Root cause
the Concierge  send some message as HTML and we render the HTML
congrats send the message with paragraph tag `<p></p>` and this tag have some padding and margin by default.

## Fix
sense we use `react-native-render-html` we can add `tagsStyles`  to p tag and this solve the issue .
will add same padding we use between message 8px top and bottom .

 in https://github.com/Ex

[2022-02-01 00:32] K4tsuki commented on #6872
All right let's wrap this up and using @marcaaron suggestion above.
Thank you @marcaaron

[2022-02-01 00:37] aldo-expensify opened #7492 "Onfido error "Something's gone wrong""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create account in New Dot, verify it
2. Go to `Settings > Payments`
3. Click `Add payment method`
4. Click `Bank account` from the drop down
5. U

[2022-02-01 00:37] SofiedeVreese commented on #7466
Posted on Upwork: https://www.upwork.com/jobs/~01b2b6db9b71fc6a6f

cc @sobitneupane

[2022-02-01 00:39] ahmdshrif commented on #6908
sorry, @K4tsuki I will delete this commit.
sorry again bro.

[2022-02-01 00:48] NikkiWines commented on #5620
Posted in [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1643676361821879) today to ask if anyone is experiencing this bug.

Logs say 340 instances of this bug past two weeks but again nothing on 1.1.31-2 or above 🎉

[2022-02-01 00:58] roryabraham commented on #6079
That's a good point – it might be nice to have a more inherent solution. It could also be a pretty tricky as I don't think there's a straightforward way to handle this. I've done some research and here's a rough sketch of what I've come up with. It needs to be worked through and tested and I'm not sure it will work:

1. Override `getStateFromPath` in the linkingConfig as described [here](https://r

[2022-02-01 01:01] mallenexpensify commented on #6877
Sorry for the delay y'all. Since the main use case will be people on web mobile and web desktop, I think we should focus on those (at least to start).  I also think we should focus on using our existing tools and flows vs creating something new.

For both mobile and desktop web:
- User forgets password while on the `Bank Account` screen
- User clicks Magic link to get new password
- Growl is surfa

[2022-02-01 01:01] stitesExpensify commented on #7470
@okansahin as @rushatgabhane mentioned, it's probably a beta issue. Try updating [this line](https://github.com/Expensify/App/blob/50ebc74b906bc9ae01b9f52d301d672b53e29cbd/src/libs/Permissions.js#L11) to always return true and see if you can see the debit card option on the dev build.

With regards to your iOS build I would recommend reaching out in the private slack room.

[2022-02-01 01:02] roryabraham commented on #6079
FWIW a _better_ implementation would be to add a feature to react-navigation such that the linking config has two new fields:

1. `willHandleDeeplink` – pass this function and it will be called with the url of the deeplink _before_ any navigation occurs.
1. `didHandleDeeplink` – pass this function and it will be called with the url of the deeplink _after_ the navigation occurs.

That could help re

[2022-02-01 01:03] roryabraham commented on #6079
Anyways, it would be great to get this nailed down to make deep-link handling easier in the future, but if things aren't working out we could always just fix the problem at hand with [this simple solution](https://github.com/Expensify/App/issues/6079#issuecomment-1026300333) for now. cc @parasharrajat if you have any opinions on this discussion.

[2022-02-01 01:09] mateusbra commented on #7491
this issue is happening because within [header.js](https://github.com/Expensify/App/blob/main/src/components/Header.js) we are using subtitle wrong:
https://github.com/Expensify/App/blob/2c14f01af550f554bc1f488a35654c36b437ba65/src/components/Header.js#L29-L34
`props.subtitle` will allways be a string, we must compare it with another way, and we also need return a fragment if we dont want to retur

[2022-02-01 01:09] isagoico commented on #7467
I was able to reproduce something similar to this today when first login in to the app in Chrome. No errors were displayed in console.
![image](https://user-images.githubusercontent.com/44479856/151898450-911ca488-ed3a-4703-832a-48c3b61211ac.png)

[2022-02-01 01:11] roryabraham commented on #6079
Oh, actually @parasharrajat wrestled with this problem a while back and we decided that his proposal was too complicated to be worth it: https://github.com/Expensify/App/issues/5027#issuecomment-951417341. If we really want to get this deep-link drawer state settled we might need a react-navigation feature request of some kind, maybe the `willHandleDeeplink` event handler I suggested above. 🤔

[2022-02-01 01:23] jliexpensify commented on #6872
I'm assuming we're hiring @K4tsuki ?

[2022-02-01 01:25] isagoico commented on #7487
I'm able to reproduce the issue in staging and was able to reproduce this 2 out of 3 times. On production I was unable to reproduce the issue out of the 3 times I tried. @NikkiWines Not sure if the issue is just being slippery on production.

[2022-02-01 01:36] mvtglobally commented on #7491
Previously raised by the contributor here https://expensify.slack.com/archives/C01GTK53T8Q/p1643179669442200
Issue was not opened by applause earlier as there was no feedback on the issue from Expensify employees.

[2022-02-01 01:54] K4tsuki commented on #7487
@isagoico , before user1 delete his message, user2 must see the target message (old message / over 50 message) that want to be deleted by user1. Then user2 close his browser. Then user1 delete his target old message. Then user2 open his browser tab again and see if the message is has been deleted or not.

[2022-02-01 02:07] mallenexpensify commented on #5946
Thanks @K4tsuki .  @Santhosh-Sellavel , can you please apply here and confirm once you have? https://www.upwork.com/jobs/~017d6d330e04d78fbe

[2022-02-01 02:13] mallenexpensify commented on #7480
Looks like you're 'stuck' on this issue @stitesExpensify since you didn't unassign after the `Engineering` review.  :)
Job posted https://www.upwork.com/jobs/~01b040d9ed08b6e646

[2022-02-01 02:29] mallenexpensify commented on #5620
fwiw.. it hasn't happened to me for a few days.
Do you know when payment is due? @NikkiWines? I scrolled up but don't see the normal auto-post that lists the date nor PR link.  I'm going to post in #expensify-open-source that this is fixed and encourage users to update the iOS app

[2022-02-01 02:31] kadiealexander commented on #7441
Thanks, @mdneyazahmad! I have sent you the job offer, please let me know when this is accepted and I'll ensure payment is sent.

[2022-02-01 02:35] mdneyazahmad commented on #7441
@kadiealexander  I accepted the job offer.

[2022-02-01 02:38] mateusbra commented on #7480
### PROPOSAL
I think the easiest fix for this one would be renaming the placeholder for something equivalent with length lower than `Communication is barred` like `Unable to chat` to english and `chat indisponible` to spanish.

[2022-02-01 02:40] phivh commented on #7385
Thanks you both. I will submit the PR soon.

[2022-02-01 02:42] kadiealexander commented on #7441
So quick! Thanks for jumping on that. I've issued the payment! 🎉

[2022-02-01 02:42] #7441 closed

[2022-02-01 02:52] TehseenJawed commented on #7476
That's the simple styling problem that we can sort out with the help of flexbox properties.  I can resolve these issues and will be happy to give you support for maintaining your application front-end and backend. Please let me know if you have some more questions in mind. We can arrange a call to discuss it further.

[2022-02-01 04:25] mananjadhav commented on #7489
@roryabraham Yeah I am interested. Here's my proposal.

Based on the comment here:
https://github.com/Expensify/App/issues/7316#issuecomment-1021823499

I'll update the references in `Config.js`, it involves, updating:
1. `expensifyURL` --> `expensifyURLCom`
2. `expensifyCashURL` --> `expensifyURLNew`
3.  `URL_EXPENSIFY_CASH` --> `EXPENSIFY_URL_NEW`
      This will require updating the references

[2022-02-01 04:47] mvtglobally opened #7493 "LHN is always unread for closed account and Console error - Reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login with account A
2. exchange messages with Account B
3. Delete account B
4. Check account A LHN
5. Switch chats and check consol

[2022-02-01 04:56] mvtglobally commented on #6931
Issue not reproducible during KI retests. (Third week)

[2022-02-01 04:59] mvtglobally commented on #7261
Issue not reproducible during KI retests. (First week)

[2022-02-01 05:03] mvtglobally commented on #7293
Issue not reproducible during KI retests. (First week)

[2022-02-01 05:06] JmillsExpensify commented on #7463
I agree that from a best practice perspective, we should be providing a local preview of the receipt on upload. That said, I think we want to be careful on how we implement this, so we'll want to make sure any proposals are discussed here and in Slack. I'll go ahead and create a job in the meantime though!

[2022-02-01 05:08] mvtglobally commented on #7412
Issue not reproducible during KI retests. (First week)

[2022-02-01 05:08] JmillsExpensify commented on #7463
Job is here: https://www.upwork.com/jobs/~01e1ba3f717ab3ff5d

[2022-02-01 05:09] mvtglobally commented on #6539
Issue not reproducible during KI retests. (Third week) Closing

[2022-02-01 05:09] #6539 closed

[2022-02-01 05:10] mvtglobally commented on #6873
Issue not reproducible during KI retests. (Second week)

[2022-02-01 05:11] JmillsExpensify commented on #3922
I processed the payment, so I'm going to close the issue. Don't hesitate to reach out here or via Slack if I can help with anything else!

[2022-02-01 05:11] #3922 closed

[2022-02-01 05:13] mvtglobally commented on #6836
Issue not reproducible during KI retests. (Third week)
@Julesssss  Do we need to adjust any steps to repro this? I see you discuss that issue is persisting.

[2022-02-01 05:13] JmillsExpensify commented on #5082
Strange indeed. I've gone ahead and created another active job for your work: https://www.upwork.com/jobs/~010c60fca196d9f4ad. Please apply here and I'll make sure this is processed for you. Thanks!

[2022-02-01 05:13] mvtglobally commented on #7084
Issue not reproducible during KI retests. (First week)

[2022-02-01 05:14] JmillsExpensify commented on #7012
Jumping in now!

[2022-02-01 05:14] mvtglobally commented on #7201
Issue not reproducible during KI retests. (Second week)

[2022-02-01 05:15] mvtglobally commented on #7267
Issue not reproducible during KI retests. (Second week)

[2022-02-01 05:20] mvtglobally commented on #7133
Issue not reproducible during KI retests. (Third week) Closing

[2022-02-01 05:20] #7133 closed

[2022-02-01 05:20] JmillsExpensify commented on #7012
I took a look at the associated PR and it's still in the process of getting to staging.

In the meantime, I've hired all contributors for this issue and we'll wait for the PR to go through the process of hitting production and waiting for no regressions.

[2022-02-01 05:21] mvtglobally commented on #7274
Issue not reproducible during KI retests. (First week)

[2022-02-01 05:21] JmillsExpensify commented on #7035
All contributors should be successfully paid at this point. Closing the issue, but please reach out if I can help with anything or if I missed something!

[2022-02-01 05:21] #7035 closed

[2022-02-01 05:23] mvtglobally commented on #7365
Issue not reproducible during KI retests. (First week)

[2022-02-01 05:28] mvtglobally commented on #7400
Issue not reproducible during KI retests. (First week)

[2022-02-01 05:30] JmillsExpensify commented on #7095
@K4tsuki When you have a free second, make sure to apply for the Upwork job and we can get that step settled while you work on your PR. Thanks! https://www.upwork.com/jobs/~01efce87841052f2c9

[2022-02-01 05:31] murataka commented on #7487
Do not navigate bewtween conversations before testing this. make sure history is not longer that 1 item. the other issue ( browser history - id of undefined bug) might create false negatives.

[2022-02-01 05:34] JmillsExpensify commented on #7380
Yes! Thanks, I received and hired you for your proposal in Upwork. Please continue with the PR.

[2022-02-01 05:38] JmillsExpensify commented on #7381
All contributors hired for this job. Thank you!

[2022-02-01 05:51] mvtglobally opened #7494 "[HOLD for payment 2022-03-08] Avatars no longer have a default background color behind them"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Hit on search and check loading avatars

## Expected Result:
Avatars should have grey background

## Actual Result:
Avatars have no b

[2022-02-01 05:52] sobitneupane commented on #7466
Applied for the job.

[2022-02-01 06:01] mvtglobally opened #7495 "[HOLD for payment 2022-02-14] IOS - Text Input size is different on ios - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Settings >Security > Close account
3. Check text box

## Expected Result:
Text box should match other platforms

## Actua

[2022-02-01 06:06] K4tsuki commented on #7095
@JmillsExpensify I have applied to the upwork job. Thank you.

[2022-02-01 06:07] mvtglobally opened #7496 "[HOLD for payment 2022-03-02] Unnecessary extra space under code blocks"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Send some code blocks in chat

## Expected Result:
There should be no extra spaces

## Actual Result:
Unnecessary extra space under c

[2022-02-01 06:10] adeel0202 commented on #7354
@puneetlath, the job is no longer available on Upwork.

[2022-02-01 06:11] mvtglobally opened #7497 "[$4000] Long lines in code blocks should not wrap"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Send few long lines of code in chat
[code]

## Expected Result:
Long lines in code blocks should not wrap

## Actual Result:
Long lin

[2022-02-01 06:15] mvtglobally commented on #7399
@neil-marcellini it seems the issue is still repro on Windows. Mac user was not able to repro
https://utest-dl.s3.amazonaws.com/testRunStepMinAttachmentsResult/17466509/Gravar__360.mp4?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1675232108&Signature=j4uxDJWBM2UnRHkpA1%2Bjz%2BQk60U%3D

[2022-02-01 06:23] parasharrajat commented on #7466
Unassigning myself all good here.

[2022-02-01 06:30] adeel0202 commented on #7491
The issue is reproducible on iOS too.

![Simulator Screen Shot - iPhone 13 - 2022-02-01 at 11 26 59](https://user-images.githubusercontent.com/13783842/151922396-7da98cca-b9f7-4aac-b945-ab066fe96c85.png)

[2022-02-01 07:25] mdneyazahmad commented on #7474
## Proposal

### Reason
The two text are rendered inside two sepatate paragraph element. The default styling for the paragraph has ```marginTop``` and ```marginBottom``` set to 14. Therefore if two paragraphs are adjacent. It will double the spacing to 28.

<img width="497" alt="Screenshot 2022-02-01 at 12 42 03 PM" src="https://user-images.githubusercontent.com/77761491/151928185-794dea96-e4d3-40

[2022-02-01 07:45] adeel0202 commented on #7472
The issue is reproducible in Android and iOS.
Production version: v1.1.32-0

[2022-02-01 08:28] wahaj-47 commented on #7463
I would use the temporary local image path and pass it to the Image component. We can continue using the local image path as long as the user stays on this screen, and the next time the user opens this screen the image (from a server url) should load with the rest of the messages.

[2022-02-01 09:24] parasharrajat commented on #7463
Thanks, @wahaj-47  for the proposal. Could you please elaborate on your proposal?
1. Where will you make changes in the codebase?
2. Using our codebase, how will you achieve this?
3. Break down your proposal in steps.
Do you have any questions?

[2022-02-01 09:36] thesahindia commented on #7495
### Proposal
We just need to have a min height of 140 and to do so we can add `closeAccountMessage` in the`containerStyles` on line 79
[code]
https://github.com/Expensify/App/blob/2c14f01af550f554bc1f488a35654c36b437ba65/src/pages/settings/Security/CloseAccountPage.js#L73-L80

[2022-02-01 09:37] parasharrajat commented on #6877
Thanks, @mallenexpensify Open to proposals...based on the above requirements.

[2022-02-01 09:53] murataka commented on #4612
@parasharrajat ,
reactnative/navigation library has the proper solution merged now . but

package.json is still

`    "@react-navigation/native": "6.0.6",`

and should be upgraded to

`    "@react-navigation/native": "6.0.7",`

at least.

This has many impacts on other navigation related issues (and also some issues which seems to be unrelated ). I think update should be done asap , to prevent fur

[2022-02-01 10:03] parasharrajat commented on #6079
Hmm, https://github.com/Expensify/App/issues/6079#issuecomment-1026367170 This might not work for all platforms. The problem I was trying to solve was a little different but covers this issue as well. **URL for home page (LHN) and report page is the same which creates a challenge for us. How to decide what should be shown to the user? LHN or report?**

Drawer usage history state to manage open and

[2022-02-01 10:05] murataka commented on #4612
I shall create the pr , let me know if you also want me to include RHN solution to that pr.

[2022-02-01 10:08] parasharrajat commented on #4612
Thanks to @murataka, I am sure we can compensate for your efforts but I don't consider [that](https://github.com/Expensify/App/issues/4612#issuecomment-1026657013) a complete solution to this issue.

Let me see what is the best thing to do.  I will test your RHN solution and if that works it's great otherwise, we will find some way.

Please do not create a PR until requested to do so.

[2022-02-01 10:13] murataka commented on #4612
The RHN solution will work only if you combine the upgrading the navigation library.

[2022-02-01 10:16] mateusbra commented on #7380
Thank you @JmillsExpensify !

[2022-02-01 10:25] rushatgabhane commented on #7481
🎀👀🎀 C+ reviewed

@sobitneupane's proposal looks good to me.
cc: @mountiny

It should look something like this -

![Screenshot from 2022-02-01 13-19-17](https://user-images.githubusercontent.com/29673073/151951836-23617756-c856-4c3c-8313-f41c6516c640.png)
![Screenshot from 2022-02-01 13-19-36](https://user-images.githubusercontent.com/29673073/151951838-8a7bdfd7-a95c-4166-ac59-0f2ad0cc9889.png)

[2022-02-01 10:32] parasharrajat commented on #7481
I don't think this issue is reproducible anymore. It should have been fixed via #7206

[2022-02-01 10:34] murataka commented on #4612
Yes, I'm trying to get used to that . Thanks for that , I already asked that on slack before , and at last I have that detailed explanation. I shall read it again and again for sure !

[2022-02-01 10:35] mateusbra commented on #7380
PR ready for review!

[2022-02-01 10:36] murataka commented on #4612
check this one. https://github.com/Expensify/App/issues/4612#issuecomment-1025139008

[2022-02-01 10:41] parasharrajat commented on #7476
I don't think we are ready to add RTL support ATM. let me discuss this and get back. :hand:

[2022-02-01 10:48] parasharrajat commented on #6627
Ok, nice thoughts @roryabraham. We should certainly do that. But https://github.com/Expensify/App/issues/6627#issuecomment-1020768350 is a different issue.

it is not the order of options. I think QA is saying that the search is not working properly. The exact match should come first.

So the search should also look into the personalDetails (contacts) with respect to Recent reports(chats). This sh

[2022-02-01 10:48] rushatgabhane commented on #7481
Thanks for the heads up, I can still reproduce it on staging and `main`.

You can verify it with this case:

![Screenshot from 2022-02-01 13-46-19](https://user-images.githubusercontent.com/29673073/151954871-bd08c4dc-9bb6-4676-a21b-6530845ee597.png)

[2022-02-01 10:49] Julesssss commented on #6836
Hi @mvtglobally, please ignore this for now.

[2022-02-01 10:49] parasharrajat commented on #7481
Ok. Thanks for looking. Then it's fine.

[2022-02-01 10:50] MonilBhavsar commented on #7471
Looks like we need to handle cursor position manually.

[2022-02-01 10:51] Julesssss commented on #7384
Reducing priority for this until there's an update

[2022-02-01 10:52] parasharrajat commented on #7475
I don't think this is an issue.

Why?
We want to preserve the content on the form in the same place when the form change between (login/password and etc). To do that we use 40%  padding from the top.

Now 40% height could be different for different devices and thus it does not look like an issue. This is the responsive nature of that page.

cc: @shawnborton  Do you think we have to change/fix this

[2022-02-01 10:53] Julesssss commented on #7376
Discussion is still taking place in Slack.

[2022-02-01 10:58] Daneyl commented on #7476
I will be using **react-native-i18n** library to resolve the **RTL** layout issue. This library will check for RTL/ LTR language and returns boolean which we will use to render UI smoothly. I have already worked over this issue before on a website. You can check here.
http://omenkul.com/

The above website also has mobile apps (Android & iOS), however, they are not live. I have the source code for

[2022-02-01 11:00] murataka commented on #4612
I rechecked that , and the navigation fix still not existing in tagged versions. #4612 (comment) is fine ,the merged pr may not exist in tagged versions . unless we can use the main branch from react-native , #4612 (comment) can not be tested properly. I'm not sure if those commits affect the tagged builds. that is the fix related. ( sorry for adding more comments) https://github.com/lostintime/re

[2022-02-01 11:03] ahmdshrif commented on #7476
@parasharrajat  I think all we need is to force the app to work RTL since we only support RTL

will add this
[code]

and will need to add more steps on android native.

[code]

[2022-02-01 11:04] parasharrajat commented on #6872
Yeah, I agree. I faced the problem that @K4tsuki mentioned in my [PR](https://github.com/Expensify/App/pull/7318#issuecomment-1024804117)  and the [these](https://github.com/Expensify/App/issues/6872#issuecomment-1024806137)  reproduction steps will match with the issue that I faced on that PR. Thus I pointed out here as @K4tsuki found the cause of the issue. [This](https://github.com/Expensify/Ap

[2022-02-01 11:16] laurenreidexpensify commented on #7489
https://www.upwork.com/jobs/~01042f26b35521c7fd

[2022-02-01 11:25] laurenreidexpensify commented on #7385
@phivh can you apply to the post in Upwork so I can hire you? Thanks!  (https://www.upwork.com/ab/applicants/1486714447462305792/job-details)

[2022-02-01 11:26] parasharrajat commented on #6720
@hiteshagja What is the `currentState` and How did you achieve this?

[2022-02-01 11:43] wahaj-47 commented on #7463
I am looking at the code, and in case of an attachment, while its uploading an ActivityIndicator is rendered but once the upload is complete, is the image being rendered as HTML?

https://github.com/Expensify/App/blob/2c14f01af550f554bc1f488a35654c36b437ba65/src/pages/home/report/ReportActionItemFragment.js#L49-L86

[2022-02-01 11:45] mountiny commented on #7481
Thank you for the reviews and heads up Rajat. @sobitneupane can you please submit a PR based on your proposal. Thank you!

[2022-02-01 11:46] rushatgabhane commented on #7434
@kidroca Just want to confirm, https://github.com/Expensify/App/pull/6388 cancels any pending requests on logout.
And this issue aims to abort requests that are in flight.

[2022-02-01 11:50] sobitneupane commented on #7481
Sure.

[2022-02-01 11:53] sobitneupane commented on #7481
Applied for the job.

[2022-02-01 12:07] ahmdshrif commented on #4612
# Propasal :
I explain here https://github.com/Expensify/App/issues/4612#issuecomment-1024489080 the issue of dispatch many actions at the same time. and that makes many navigation issue,s not just this.

I here have a better proposal which complains the actions on one action.  instead of workaround with time out.

src/libs/Navigation/CustomActions.js

[code]

src/libs/Navigation/Navigation.js

[c

[2022-02-01 12:13] K4tsuki commented on #6676
Update: WIP, not done yet.

[2022-02-01 12:41] sobitneupane commented on #7497
Hello, Is this the expected result?
![Screenshot from 2022-02-01 18-23-21](https://user-images.githubusercontent.com/25876548/151969994-abf1e203-0aee-41bc-b50b-ba9e24149993.png)

If yes, I will post a proposal.

[2022-02-01 12:49] parasharrajat commented on #7497
@sobitneupane  May be you can wait till issue is triaged.

[2022-02-01 13:00] pecanoro commented on #6872
Thank you for the discussions, everyone, it took me a bit to catch up but I got to learn a lot about this flow. Assigning @K4tsuki since we all agreed it seems to be the best approach and it seems like a good solution to the best of my knowledge.

[2022-02-01 13:22] okansahin commented on #7470
Hello,

I run the project. It was my fault with my environment, I was a little hasty. It's okay now.

But I still can't see the problem. Someone can tell me exact system(browser, os etc.) which is this gap is visible. Or Is this issue fixed?

@stitesExpensify Can you please send me invite to Slack? I'm interested and want to fix this.

#### Safari on iOS Simulator

![Screen Shot 2022-02-01 at 16 0

[2022-02-01 13:35] tylerkaraszewski commented on #7497
Seems fine, probably straightforward.

[2022-02-01 13:45] bfitzexpensify commented on #6427
Paid out contracts. Thanks @songlang1994!

[2022-02-01 13:45] #6427 closed

[2022-02-01 13:58] rushatgabhane commented on #7470
Will reply in a bit

[2022-02-01 14:13] Julesssss commented on #6931
Not overdue

[2022-02-01 14:15] rushatgabhane commented on #7489
expensifyCashURL --> expensifyURLNew

@mananjadhav Should we name it the way url appears? i.e. subdomain then domain.

`expensifyURL` stays the same
`expensifyCashURL` --> `newExpensifyURL`
`URL_EXPENSIFY_CASH` --> `NEW_EXPENSIFY_URL`

Then `STAGING_NEW_EXPENSIFY_URL`  will also be consistent.