[2022-01-19 00:48] mvtglobally opened #7309 "[HOLD for payment 2022-03-08] Design of Search bar is different from rest of the app on Select Currency Page - Reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to "Send Money" or "Request Money" menu
3. Click on Currency icon to open Select a currency page in RHN

## Expected Result:

[2022-01-19 00:50] mallenexpensify commented on #7206
Removed @tjferriss and assigned myself. @parasharrajat is anything actionable here? Do you need me or another internal employee/engineer to anything?

[2022-01-19 00:53] mallenexpensify commented on #6913
I'm still confused, sorry @parasharrajat.  I see this from @Beamanator

Which makes me think $250 is due here and a separate payment is due outside of this (possibly for #7206 and any associated PR?)

[2022-01-19 03:38] kavimuru opened #7310 "Debit card - Card declined message when entering incorrect Expensify Password"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing #6882**

## Action Performed:
1. Launch the app
2. Log with expensifail account and navigate to Settings > Payments > Add payment method > D

[2022-01-19 03:39] OSBotify commented on #7310
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-19 03:41] kbecciv opened #7311 "Debit Card - "Card declined" message displayed for the incorrect Expensify Password"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log with expensifail account and navigate to Settings > Payments > Add payment method > Debit card
3. Now fill in all the necess

[2022-01-19 03:43] kbecciv commented on #7311
@kavimuru exported already, closing https://github.com/Expensify/App/issues/7310

[2022-01-19 03:43] #7311 closed

[2022-01-19 03:50] kevinksullivan commented on #6806
Updated price in GH / upwork.

[2022-01-19 04:39] mvtglobally opened #7312 "LHN didn't update when new chat was sent to user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. From account A send some messages to account B
3. Check Account B that chat is updated
4. navigate to another chat
5. From account A

[2022-01-19 04:44] mvtglobally opened #7313 "When you scroll using scroll bar the ui will break - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to any chat and open Emoji picker
3. Scroll through the picker

## Expected Result:
UI should be clear when scrolling

## Ac

[2022-01-19 04:50] mvtglobally opened #7314 "On a form click the save/submit button and release after a pause, nothing will happen - Reported by @anthony-hull"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Open any form and make some changes to activate Save button (e.g. change password)
3. Press and hold the Save button.

## Expected Re

[2022-01-19 04:58] mvtglobally opened #7315 "Close Account warning modal shown on opening the page - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the close account page from Settings => Close Account.
2. fill required info, Click close account.
3. Now there is a modal is shown for some

[2022-01-19 05:10] mvtglobally opened #7316 "Generic error page on desktop does not include a link to the website."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Allow app to crash or get any page error

## Expected Result:
Error page should include a link to website

## Actual Result:
Error pa

[2022-01-19 05:14] cmvithanage commented on #5620
Hi, I'm new here and I came across this issue through Upwork. Honestly this looks like a state resume issue. Based on @NikkiWines's comment above, it seems that the app is trying to use an expired token to authenticate on resume and the exception thrown isn't handled properly, which is causing the app to get stuck on the splash screen. No need to tinker with `react-native-bootsplash` if this is th

[2022-01-19 05:15] mvtglobally opened #7317 "[HOLD for payment 2022-09-16] [$1000] - Unable to add attachment or request money using keyboard navigation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. With cursor in compose box Type cmd+tab to navigate to :heavy_plus_sign:
3. Tap return to open Request Money and Add Attachment menu
4. Attempt t

[2022-01-19 06:42] sig5 commented on #7293
**Proposal**
This error is shown because we are using an outdated version of `react-native-modal`.
[Related issue](https://github.com/react-native-modal/react-native-modal/issues/588): The issue has been solved in version 13.0.0 of the dependency.
So merely upgrading this dependency to 13.0.0 resolves the issue.

[2022-01-19 06:43] parasharrajat commented on #7316
cc: @mananjadhav

[2022-01-19 06:48] mateusbra commented on #7309
(if considered external)
### PROPOSAL
We need to change the component we use from TextInputWithFocusStyles to TextInput like all the other pages use within [IOUCurrencySelection.js](https://github.com/Expensify/App/blob/7dfe96fa76734e6091bce5569a288e2583e94868/src/pages/iou/IOUCurrencySelection.js):
https://github.com/Expensify/App/blob/7dfe96fa76734e6091bce5569a288e2583e94868/src/pages/iou/IOUCur

[2022-01-19 06:48] parasharrajat commented on #7315
Waiting for triage before putting a proposal...

[2022-01-19 06:58] parasharrajat commented on #7309
I will like to fix this issue for two reasons.
1. I reported this.
2. I am going to fix this in one of my PR for #6584. During the refactoring of TextInputWithFocusStyles, I will fix it.

[2022-01-19 07:01] parasharrajat commented on #7308
I would like to fix this issue in one of my PR for #6584. When I will refactor the TextInputWithPrefix, I will fix this too.

[2022-01-19 07:09] mateusbra commented on #7309
my bad @parasharrajat I didn't noticed you have reported this one.

[2022-01-19 07:09] parasharrajat commented on #6913
Yeah, we are good here. I got confused from *price is $250 for all*. I can discuss the rest of #7206.

Here is the breakdown:
1. C+ for this.
2. Fix payment for #7206. That we can discuss separately on that issue.

[2022-01-19 07:11] parasharrajat commented on #7309
No worries, main idea was to get this fixed in one of my other PR so I requested to report it early.

[2022-01-19 07:13] Beamanator commented on #6913
That looks perfect @parasharrajat thanks for summarizing 👍

[2022-01-19 07:27] conorpendergrast commented on #7313
I couldn't reproduce on desktop, but could reproduce on web (both production, v1.1.30-3). It's a very subtle UI issue, where (as you'll see from the recording above) the emojis appear in a small gap between the search field and the category headings)

![2022-01-19_20-27-12](https://user-images.githubusercontent.com/5802477/150083959-97b5ce85-8480-45e3-9207-cec2b3d234eb.jpg)

[2022-01-19 07:36] mananjadhav commented on #7316
Thanks for tagging. This wasn’t a part of the original requirement if you check the GH issue body https://github.com/Expensify/App/issues/6552#issue-1067748077

But I can pick this up, and here’s my proposal:

1. In `GenericErrorPage/ErrorBodyText`, I’ll move the current `index.native.js` into a new component say `BaseErrorBodyText`
2. Add a new file `index.desktop.js`
3. Import `BaseErrorBodyText

[2022-01-19 07:41] mateusbra commented on #7314
if considered external:
I think we have two options here:

1. Change our [Button.js](https://github.com/Expensify/App/blob/main/src/components/Button.js) Component, making onLongPress have the same behaviour of onPress.
2. Change all uses of the component adding onLongPress prop to them with the same function used in onPress.

[2022-01-19 08:00] ahmdshrif commented on #6767
@parasharrajat  yes, it should be like that.
[code]

or just return if we will disable all shortcuts for web mobile.

[code]

[2022-01-19 08:18] parasharrajat commented on #6767
Let's just do this.  https://github.com/Expensify/App/blob/eaa09e7efd081dbc78db72e473b45f6524ed197b/src/libs/canUseTouchscreen/index.js#L8

[code]

@ahmdshrif 's proposal looks good.

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-19 09:00] thesahindia commented on #7313
### Proposal
if we add `transform: 'translateY(-1px)'` in `emojiHeaderStyle` the small gap will not appear.
https://github.com/Expensify/App/blob/7dfe96fa76734e6091bce5569a288e2583e94868/src/styles/styles.js#L1354-L1359

[2022-01-19 09:17] zoontek commented on #5620
@cmvithanage You mean that the `ErrorBoundary` trick (wrapping `onyx`) I recommend before trying to implement all of these would have worked? 😨

[2022-01-19 09:21] cmvithanage commented on #7288
@rushatgabhane Rather than passing the password between pages, why don't we set the password with a REST API call, get an authtoken and then proceed to set the basic details on the next screen? Passing the password between pages is not a good practice imo.

Seems like the earlier implementation does allow to obtain an auth token after setting the password. We can use this token when POSTing the ba

[2022-01-19 09:23] madmax330 commented on #7268
Was OOO this can be an external issue

[2022-01-19 09:24] madmax330 commented on #7081
@puneetlath have we decided on what the background should be? I.e do we already have the resources for it or does design need to come up with something first?

[2022-01-19 09:49] Gonals commented on #7275
Adding tags and sending to the pool!

[2022-01-19 10:14] eVoloshchak commented on #6470
I've managed to get it to work using another approach. I still cannot pass through some unique id, but I noticed, that `OptionRow` items differ from other elements on the page by having `tabIndex` property and not having a `role` property.

1)So onInputBlur would be changed to

[code]
2) And in selectRow method we would just need to add.
[code]

[2022-01-19 10:25] mountiny commented on #7315
cc @Julesssss might be the best one to handle this CME if this would be made External.

[2022-01-19 10:41] sketchydroide commented on #7316
Seems like this is an external, my only question is exactly what link this is, I assume it's www.expensify.com, but it doesn't say anywhere in the GH.
@roryabraham can you please confirm the correct url please :)

[2022-01-19 11:05] kidroca commented on #5620
Can you point out where the code might be throwing an exception and how it isn't properly handled?
We do handle expired tokens and authentication errors and retry
The [comment](https://github.com/Expensify/App/issues/5620#issuecomment-1007034167) you refer to says authentication is successful _"a little later"_ (from the retry)

No
According to @cmvithanage's [comment](https://github.com/Expensify

[2022-01-19 11:06] anthony-hull commented on #7314
nice idea.
For option 1 we could make onLongPress have the same behaviour of onPress if the passed onLongPress prop is undefined?

[2022-01-19 11:08] zoontek commented on #5620
@kidroca Yes, reading the log we can see that the `Promise` is correctly called but never resolve. So that's why I don't understand @cmvithanage comment (`Honestly this looks like a state resume issue.`)

[2022-01-19 11:26] kidroca commented on #5620
I think the log is just cut too short (maybe because there's nothing of interest). I think this line indicates the spash should have been hidden:

[code]

1. No logs from the ErrorBoundary indicate that the app didn't crash
2. `isSidebarLoaded: '1'` indicates the app didn't crash - the sidebar component loaded
3. `isSidebarLoaded`, `initialReportDataLoaded` and `isAuthenticated` are all true which

[2022-01-19 11:26] kidroca commented on #5620
@NikkiWines the log window seem to be too small
- we don't see calls to `Bootsplash.hide` and the data indicates there should have been such. I think they happened outside of the snipped you posted
- we also don't see whether the Authenticate call succeeds
- we don't see whether there was a prior crash logged by the Error Boundary

The [log snipped that you posted](https://github.com/Expensify/App

[2022-01-19 11:50] cmvithanage commented on #5620
Thanks for the explanation, @kidroca. I agree, need to see the full log to get a complete picture of what's exactly causing this issue.

If @NikkiWines or someone else can kindly post the full log while replicating this issue, I'll be happy to take a look during my free time and get back to you all! 🙌🏼

[2022-01-19 12:05] dylanexpensify commented on #6592
@dklymenk Payment sent, contract ended!

@kakajann please apply to this issue [here](https://www.upwork.com/jobs/~01bd421e0f40ba2185) to be paid for reporting the issue!

[2022-01-19 12:25] parasharrajat commented on #6592
@dylanexpensify Can I apply for C+ to the same job?

[2022-01-19 12:53] mananjadhav commented on #7316
@sketchydroide I had worked on the previous task, where this is done for the mobile app and following is the link we're redirecting to:

https://github.com/Expensify/App/blob/7dfe96fa76734e6091bce5569a288e2583e94868/src/pages/GenericErrorPage/ErrorBodyText/index.native.js#L15-L17

Also, marking the comment where its mentioned redirect URL is Homepage.

https://github.com/Expensify/App/issues/6552#

[2022-01-19 13:06] sobitneupane commented on #7261
**Reason**
After storing report in Onyx, `PersonalDetails.getFromReportParticipants(_.values(simplifiedReports));` is called from `fetchChatReportsByIDs` function which adds icons to the report. The same function adds icon to the restricted rooms as well.  But in case of private chatRooms, there are no participants (in newly created room). Since, participantEmails length is equal to 0, `PersonalDe

[2022-01-19 13:25] kakajann commented on #6592
@dylanexpensify Submitted, thanks.

[2022-01-19 13:37] dylanexpensify commented on #6592
@parasharrajat yes please!

[2022-01-19 13:50] sobitneupane commented on #7148
Is this the correct translation?(Translated using google translator and verified using [ DeepL Translator](https://www.deepl.com/en/translator#et/es/))
English:

        youowe: ({owner}) => `You owe ${owner}`,
        youpaid: ({owner}) => `You paid ${owner}`,
        owesyou: ({manager}) => `${manager} owes you`,
        paidyou: ({manager}) => `${manager} paid you`
Spanish:

        youowe: ({o

[2022-01-19 14:22] bfitzexpensify commented on #6492
No regressions — @anthony-hull, ended the contract and paid you $500 (for reporting + fix). Thanks!

@parasharrajat, sent you an offer [here](https://www.upwork.com/jobs/~01f61eaed65fd33100) for C+ review.

[2022-01-19 14:30] kbecciv opened #7320 "IOS/Android - Text with over 6 makes message box scroll"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Open any chat
3. Type text with more than 6 lines

## Expected Result:
"4. Verify text with 2+ lines is not scrolling."

##

[2022-01-19 14:31] kavimuru opened #7321 "mWeb - Group chat - Members of the group in header is going above the boundary"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com and login
2. Open Group DM with a 7  members

## Expected Result:
I must seeing ellipsis for the group cr

[2022-01-19 14:32] OSBotify commented on #7321
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-19 14:36] mountiny commented on #6965
Still waiting for proposals.

[2022-01-19 14:38] kbecciv opened #7322 "VBA - Missing text "Step 5 of 5" under Test transactions"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Enable the Staging Server under Setting
4. Tap on any workspace
5. Tap Connect with Bank Acc

[2022-01-19 15:39] mateusbra commented on #7314
Yes @anthony-hull I agree with you.

[2022-01-19 15:50] mateusbra commented on #7314
I have tested it and realised we could have `onLongPress` as either defaultProp `onLongPress => {};` or as a passed funcion by props, we won't have it as `undefined`, therefore we will need to change how we first declare onLongPress or we will have to compare it as a regex as javascript doesn't support comparisions with empty functions or maybe we could use our second option as well:

[2022-01-19 15:54] flodnv commented on #7320
@kursat any thoughts on this one? Can you take it?

[2022-01-19 16:35] NicMendonca commented on #7068
Deployed to staging yesterday.

@parasharrajat don't forget to apply to this job before payment date. Ty!

[2022-01-19 16:36] NicMendonca commented on #7010
@phivh do you have any questions after reading @parasharrajat's[ feedback](https://github.com/Expensify/App/issues/7010#issuecomment-1007477034)?

[2022-01-19 16:37] ahmdshrif commented on #6767
ok, Thanks @parasharrajat  can we start PR?

[2022-01-19 16:53] phivh commented on #6807
@dylanexpensify it seems the reload issue came from Plaid link SDK when opening the browser in-app, there is not any error code in the logs.

[2022-01-19 17:07] AndrewGable commented on #6806
Can we double check this is still an issue? I wasn't able to reproduce on staging web just now.

[2022-01-19 17:13] dylanexpensify commented on #7263
Posted!

Internal: https://www.upwork.com/ab/applicants/1483849940367671296/job-details
External: https://www.upwork.com/jobs/~0101ed856d7d53a822

[2022-01-19 17:13] kbecciv opened #7324 "[$1000] Win/Firefox - Unable to paste the image into the compose box in a chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expencify.com and login
2. Copy an image to your device's native clipboard.
3. Paste the image into the compose box in

[2022-01-19 17:16] dylanexpensify commented on #6592
offers sent (@parasharrajat @kakajann)

[2022-01-19 17:17] bondydaa commented on #7322
Hmm looks like we have a prop here that is saying if we should show the step counter or not https://github.com/PrashantMangukiya/ExpensifyApp/blob/b9ef450aa586285073af061a87418867d124c9d6/src/pages/ReimbursementAccount/ValidationStep.js#L171

I see these somewhat recent PRs but it doesn't look like they are the cause of this https://github.com/Expensify/App/pull/6477 https://github.com/Expensify/A

[2022-01-19 17:19] NicMendonca commented on #7010
Doubled the price to $500: https://www.upwork.com/jobs/~0167b446c2be6b25f4

[2022-01-19 17:20] kbecciv opened #7325 "[Matt Pay] $500 - Web/Firefox - Notification disappears and the browser won't open after clicking on it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com and sign into account A on the main device and sign into account B on another device
2. Put the web brows

[2022-01-19 17:24] luacmartins commented on #7148
Translation is good! Just noting the extra space between `${manager}` and `te` on the last line

[2022-01-19 17:33] mananjadhav commented on #7313
**Proposal**

I feel this can be fixed by removing `pb1` for `View` wrapping `TextInputFocusable`

https://github.com/Expensify/App/blob/7dfe96fa76734e6091bce5569a288e2583e94868/src/pages/home/report/EmojiPickerMenu/index.js#L409-L411

[2022-01-19 17:41] danieldoglas commented on #7315
Confirmed this is a bug that can be fixed through updates in the App only.

[2022-01-19 17:48] parasharrajat commented on #6767
Not yet. Rory will decide. Thanks.

cc: @roryabraham  https://github.com/Expensify/App/issues/6767#issuecomment-1016188721

[2022-01-19 17:55] parasharrajat commented on #7315
Yeah, we can fix it from the app easily.
### Proposal
1. We should use `initWithStoredValues: false` for this key https://github.com/Expensify/App/blob/7dfe96fa76734e6091bce5569a288e2583e94868/src/pages/settings/Security/CloseAccountPage.js#L143.

so that it does not take stored values.

[2022-01-19 17:58] tgolen commented on #6059
I really like the idea of having a single source of truth for this mechanism, so I am leaning toward @kidroca's proposal. I know that Pusher isn't always the most reliable on mobile, especially with a flaky connection or backgrounding the app. Also, I would prefer if we don't rely on any polling mechanism.

[2022-01-19 18:04] kavimuru opened #7326 "iOS/Android - Workspace - Checkmark icon not displayed after copying email"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Select any Workspace
4. Go to Capture Receipts and Click on Copy icon by the receipts@expensify.com

[2022-01-19 18:05] parasharrajat commented on #6301
Sure, @mallenexpensify.

@kakajann , as far as I can tell we are looking at a custom UI screen for the feature.

---
But to be more clear on this, I will like to clarify the task.

##### Glossary
Canvas - Image editing box is shown in the attached screenshot.
##### Questions:
1. Can we use a custom zoom/pinch-zoom lib or we should extend our image zoom solution from AttachmentModal?
2. Should we h

[2022-01-19 18:09] tgolen commented on #7261
Hi @sobitneupane and thanks for the proposal! I really like your thinking here:

I 100% agree with you. What would you think about doing a small refactoring here so that `PersonalDetails.getFromReportParticipants()` has the sole purpose of getting the personal details. Then in the Report action, there is a specific method that we would add like `configureReportIcons()` which has the sole purpose o

[2022-01-19 18:10] chiragsalian commented on #7306
Looks straightforward enough to be handled externally.

[2022-01-19 18:11] chiragsalian commented on #6720
Friendly bump @parasharrajat, any update on the proposal reviews?

[2022-01-19 18:18] tgolen commented on #6301
I think we should avoid this if we can. The reason is that many times these libs will come with a lot of features we will never use and they can also be difficult to integrate with all platforms (like web). If we build something ourselves, then we have absolute control over what gets built and how it works.

@parasharrajat I love all your questions, but also I don't know if anyone has specific ans

[2022-01-19 18:18] bfitzexpensify commented on #6492
All wrapped up.

[2022-01-19 18:18] #6492 closed

[2022-01-19 18:19] bfitzexpensify commented on #6841
All payments issued, we're all done here

[2022-01-19 18:19] #6841 closed

[2022-01-19 18:21] tgolen commented on #7313
@mananjadhav I do like the relative simplicity of your proposal, but does it for sure work (sorry, I just don't know what you mean that you "feel" it can be fixed)? Are there any other UI side-effects that it causes?

@thesahindia Your proposal is also simple but it feels like it's more of a hack-workaround that I am concerned could cause maintainability issues down the line (no idea what effect t

[2022-01-19 18:28] parasharrajat commented on #7206
Thanks, @mallenexpensify.
Yeah based on the [discussion](https://github.com/Expensify/App/issues/6913#issuecomment-1016146364). Could you please help me get paid for this?

[2022-01-19 18:32] parasharrajat commented on #6470
Thanks, @eVoloshchak. I will review it today or suggest an alternative if required.

[2022-01-19 18:39] mallenexpensify commented on #4612
Doubled price to $4000 https://www.upwork.com/jobs/~01a4e8881ff6937bae

[2022-01-19 18:39] anthony-hull commented on #6301
I agree from my perspective as a contributor this a feature this too big doesn't fit this process very well. I was put off proposing.

[2022-01-19 18:49] parasharrajat commented on #6720
Thanks, @chiragsalian. I forgot to leave the comment on the latest.

@songlang1994 Your latest proposal will work but still, it's very specific. It seems like a hack too. I would prefer @hiteshagja's proposal over it.

But I looking to have a solution that is well tested across different scenarios and proper explanations of what could happen users try different patterns of navigation. Mostly, the

[2022-01-19 18:50] mallenexpensify commented on #5892
Interesting, I didn't think issues with the `Planning` label were supposed to go overdue, maybe that's currently only in the E/E repo and not E/App...

[2022-01-19 18:53] mallenexpensify commented on #5766
We'll get there...

[2022-01-19 18:54] mallenexpensify commented on #6910
@chiragsalian should we work on this soon? I'm unsure how time-sensitive and/or important it is

[2022-01-19 19:10] parasharrajat commented on #6059
Thanks, Tim. I think it's good to have a slack discussion here before we proceed.

Is anyone interested in summarizing both the approaches on Slack?

[2022-01-19 19:12] parasharrajat commented on #7308
Thanks to @neil-marcellini but maybe we can get this external first for reporting it.

[2022-01-19 19:13] parasharrajat commented on #7321
it could be a regression from my PR. I will check this today.

[2022-01-19 19:17] kakajann commented on #7326
# Proposal
I don't know why but the `Icon` component doesn't re-render on iOS when the prop changes, maybe because it is PureComponent.
So, adding `key` to Icon in here will solve the problem:
[code]
https://github.com/Expensify/App/blob/a2f6349e41eed50344708be04328be1d58be019a/src/components/CopyTextToClipboard.js#L56-L62

[2022-01-19 19:23] parasharrajat commented on #7121
@K4tsuki has the best proposal so far.

Here are a few suggestions to improve.
1. Why don't we create an event listener `onHover` in the ReportActionItem so that when the user stops scrolling and on hover is fired. that listener can wait to check if scrolling is stopped and then show the menu.

[2022-01-19 19:24] trjExpensify commented on #7316
👋 I'm a tad unclear from the OP what we intend to do here. Where are we adding this link on the page, and why only on desktop?

[2022-01-19 19:30] aldo-expensify commented on #7307
I don't have an IPhone to reproduce this locally, but the issue looks well described.

[2022-01-19 19:36] parasharrajat commented on #7273
@jboniface you might have removed me accidentally. I was assigned for C+.

[2022-01-19 19:38] kursat commented on #7320
Hey @flodnv, I checked and I am sure its not because of my PR. The cause of problem can be this:  lineHeight

[2022-01-19 19:55] parasharrajat commented on #7014
Didn't get time to retest this issue. The last time I checked it was working.

[2022-01-19 19:59] stitesExpensify commented on #7297
Checking off https://github.com/Expensify/App/pull/4437

[2022-01-19 20:02] parasharrajat commented on #7320
Sorry, What's going on here?

What are we expecting here? The text should not scroll> :confused:

[2022-01-19 20:05] bondydaa commented on #7066
alrighty sorry for the delay here so looking at the code more this is the code that is rendering the error when the old password is incorrect https://github.com/Expensify/App/blob/7af06bcc0a05edc3f38febb7967814a60604a56b/src/pages/settings/PasswordPage.js#L207-L209

because when we try to set it here https://github.com/Expensify/App/blob/7af06bcc0a05edc3f38febb7967814a60604a56b/src/pages/settings/

[2022-01-19 20:05] #7066 closed

[2022-01-19 20:07] parasharrajat commented on #7320
COMPOSER_MAX_HEIGHT is used to set the max height on the composer and It should not cause any issue except that composer height will increase and swipe to a close distance as well. 4px does not make much difference.

[2022-01-19 20:11] chiragsalian commented on #7297
Hows QA going along @mvtglobally? 🙂

[2022-01-19 20:13] parasharrajat commented on #7314
I don't think this is an issue.  Why? tap is not equal to tap-press.
In reality, these are two different gestures and it is not necessary to have actions on all features.

In comparison to web, tap => left click (primary button)
long-press => right click.

Do you expect the link to open on right-click?

---
Another possible solution could be to pressOut instead of `onPress` if that works.

[2022-01-19 20:38] jboniface commented on #7273
@parasharrajat ah yep, must have misclicked

[2022-01-19 20:49] mvtglobally commented on #7297
@chiragsalian QA is almost done. I will be updating checkboxes in the next hr.

[2022-01-19 21:12] rushatgabhane commented on #7015
@mananjadhav bump

[2022-01-19 21:33] Luke9389 commented on #6130
@marcaaron I'm thinking about dropping this. I'd like to see it fixed but I've got a _lot_ on my plate for the next few weeks.

[2022-01-19 21:34] Luke9389 commented on #6069
Looping back around to this soon

[2022-01-19 21:34] mvtglobally commented on #7297
#6882 is failing due to #7310
 #7104 is failing due to
 #7210 is failing due to #7320
 #7271 is still repro https://github.com/Expensify/App/pull/7271#issuecomment-1016632508
 #7289 is failing with console error https://github.com/Expensify/App/issues/7293. Can we check off?

[2022-01-19 21:35] Luke9389 commented on #3798
Looping back around to this soon

[2022-01-19 21:40] NicMendonca commented on #7148
@parasharrajat @sobitneupane @rushatgabhane don't forget to apply to the [Upwork job](https://www.upwork.com/jobs/~0136d4255460a6e21b) when you get the chance 😄

[2022-01-19 22:15] chiragsalian commented on #6910
Oh, this was resolved a while back and tested on staging too - https://github.com/Expensify/Web-Expensify/pull/32703#issuecomment-1005096954.

I totally forgot to put the clean-up PR for review but i'll do that today.

I guess i should have posted here when the first PR went live. Anyway, since its live all that remains is for you to pay K4tsuki for reporting the issue.

[2022-01-19 22:21] chiragsalian commented on #7297
Yes, looks like its not breaking anything and there is a GH issue recorded. So yeah feel free to check it off.

[2022-01-19 22:22] luacmartins commented on #7310
As described in the PR's QA description, the `Password incorrect` message will not be displayed before the Web-Secure and Auth PRs are merged and deployed (which hasn't happened yet). I updated the description there to be clearer.

As for the card declined message, I believe that it's because we are using an incorrect card number for staging. According to [this SO](https://stackoverflow.com/c/expe

[2022-01-19 22:23] #7310 closed

[2022-01-19 22:42] kavimuru opened #7329 "[HOLD for payment 2022-02-09] iPad - IOU- Keypad does not open to enter amount"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and Log in to any account
2. On a conversation, click on the + button in the compose box
3. Choose "Request Money" or "Send money"

[2022-01-19 22:56] chiragsalian commented on #7297
[code]
Why was https://github.com/Expensify/App/pull/7104 failing?

[2022-01-19 23:09] chiragsalian commented on #7320
Reported issue does not sound related to the https://github.com/Expensify/App/pull/7210

On staging test flight or on production on mobile once certain lines of text is entered the message box becomes scrollable. The original issue was a [miscalculation or rows](https://github.com/Expensify/App/issues/7103) specific to firefox but i believe we are good since the numbers are correct wrt to the text

[2022-01-19 23:09] #7320 closed

[2022-01-19 23:12] chiragsalian commented on #7321
any update on this @parasharrajat, just asking because its a blocker so we treat these as hourly.

[2022-01-19 23:19] chiragsalian commented on #7297
- Looks like #6882 was retested.
- Could you explain where https://github.com/Expensify/App/pull/7104 was failing.
- I think https://github.com/Expensify/App/issues/7320 is a non issue (explained [here](https://github.com/Expensify/App/issues/7320#issuecomment-1016954462)) so https://github.com/Expensify/App/pull/7210 can be tested again
- https://github.com/Expensify/App/pull/7271 looks legit. No

[2022-01-19 23:22] alex-mechler commented on #7317
Frontend only issue, can easily go external! Thanks for the report @mallenexpensify

[2022-01-19 23:23] puneetlath commented on #6584
@rushatgabhane would you want to help out with reviewing these PRs. You weren't involved in the proposal, but given the scope, I'd love to have a C+ helping out this.

[2022-01-19 23:25] puneetlath commented on #7081
@shawnborton suggested going with a ghost UI like this in the slack thread.

![image](https://user-images.githubusercontent.com/1371996/150234493-14b34a7c-2591-4685-8ca9-d9fbd1e73737.png)

@shawnborton do you feel good about going forward with that?

[2022-01-19 23:38] rushatgabhane commented on #6584
Yeah sure, I have time and would love to help here!

[2022-01-19 23:44] puneetlath commented on #6584
Awesome! I assigned you to the issue as well and to the first PR.

[2022-01-19 23:46] Luke9389 commented on #7310
Thanks for tending to this @luacmartins. For some reason I was not pinged by Slackbot for this 🤔

[2022-01-19 23:54] puneetlath commented on #7293
@cead22 let's go external.

[2022-01-19 23:55] rushatgabhane commented on #6584
Thanks, I'm on it asap.

[2022-01-19 23:56] puneetlath commented on #7293
Upwork job: https://www.upwork.com/jobs/~014d0c018e3c86ed2f

[2022-01-20 00:16] mvtglobally commented on #7297
Checking off #7271 & #7210
#7104 has an issue with leading zeroes. I was waiting for the team to confirm. Will update in another min

[2022-01-20 00:33] mvtglobally commented on #4420
@marcaaron @chiragsalian @mallenexpensify When we have a single zero upfront, it is not being stripped. Can you please confirm its expected?
![](https://utest-dl.s3.amazonaws.com/testRunStepMinAttachmentsResult/17071801/Screen_Shot_2022-01-18_at_8.51.40_PM.png?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1674174750&Signature=%2Beq97xxi8oFVMQ%2F8%2Btvkz2M87BQ%3D)
![](https://utest-dl.s3.amazonaws.co

[2022-01-20 00:34] mvtglobally commented on #7297
@chiragsalian Updated the comment. We are not sure if this is expected or no. This is the last open PR on the checklist and once confirmed, we should be ok to deploy.
https://github.com/Expensify/App/issues/4420#issuecomment-1016997251

[2022-01-20 00:46] rushatgabhane commented on #7293
🎀👀🎀 C+ reviewed

Coming from #6914

I like @sig5's proposal. After reading the changelog, I don't think it'll break anything and should fix this issue.

cc: @puneetlath

[2022-01-20 00:57] puneetlath commented on #7293
Agreed, seems like a straightforward solution.

[2022-01-20 01:08] kevinksullivan commented on #6806
I just reproduced on staging web.

[2022-01-20 01:14] Jag96 commented on #7314
I agree, I don't think this is a bug or an expected result of the tap-press gesture, closing.

[2022-01-20 01:14] #7314 closed

[2022-01-20 01:28] NikkiWines commented on #5620
There are no logs associated with my email address for over a minute before the snippet I shared above. That snippet was the particular request associated with the `[alXt] [BootSplash] splash screen is still visible was logged.` line. You're right, though, that I should've shared a larger set to begin with to provide more context.

Here are the logs from a larger time window: 2022-01-06 23:19:00 U

[2022-01-20 01:28] rushatgabhane commented on #6584
Whilst I agree with the proposal, I'm thinking it'll take too much time to figure out which **combination of props** to use for getting the desired look. This isn't a problem right now because we can find the text input being used somewhere else, and use it.

@parasharrajat do you think it's a good idea to document - the common types of text inputs being used in EXFY and the combination of props n

[2022-01-20 01:38] K4tsuki commented on #7288
#### proposal

<details> <summary>For component part:</summary>

Make folder inside component folder `FormInput` and add Input component files such as `NameInput`, `PhoneInput`, `PasswordInput`, `ConfirmPasswordInput`. Each input component have `onChangeText` function that responsible for value change and validation check. Each of this component will supply function `getValue` and `getError` and n

[2022-01-20 01:47] mvtglobally commented on #7297
checking of #7104 based on the https://github.com/Expensify/App/pull/7104#issuecomment-1017024170

[2022-01-20 02:11] roryabraham commented on #6767
So we want to determine whether or not `Enter` should send the message, right? According to the consensus in slack, the expected behavior is that `Enter` sends the message _unless there is a software keyboard visible_. [This solution](https://github.com/Expensify/App/issues/6767#issuecomment-1016188721) relying on `canUseTouchScreen` is problematic for any laptop with touch screens or tablets with

[2022-01-20 02:20] jliexpensify commented on #7307
Posted!

Internal - https://www.upwork.com/ab/applicants/1483987676649086976/job-details
External - https://www.upwork.com/jobs/~01d1d7546259125a4f

[2022-01-20 02:44] ilia-musaev commented on #7329
Hi Expansify team

I want to work on this project for a long-time. I am new freelancer. but I have strong experience in React Native app development. Can you give me a chance? If I am going to get this job, how shall I do?

Thanks

[2022-01-20 03:07] parasharrajat commented on #6584
Hmm. I think there can be many combinations of TextInput usages. It would be extra effort to dig in the code and list down all at this time.

I would take a note on each PR and add stories for added new props in the last PR and a couple of more which can be possible. This is not a high priority issue thus I don't feel brainstorming those at this time, would help in achieve anything.

But you can t

[2022-01-20 03:09] parasharrajat commented on #6584
Also, @rushatgabhane

I would suggest discussing that earlier is better.

[2022-01-20 03:28] wenge8n commented on #7307
This issue is an expected behavior because rn-fetch-blob doesn't save file in photo library by default in iOS.
Currently we download file into `dirs.DocumentDir` folder and the file will be saved in the app's sandbox storage.

**Solution**

After download file(image/video) in iOS, we need to copy/move file to photo library by manually.
For image/video, we can download then into cache directory `di

[2022-01-20 04:18] rushatgabhane commented on #7307
@wenge8n hmm, from the [slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1642005135378900) - we can save most to photo library in iOS except the likes of images in the issue.

The solution you're proposing looks like a workaround. I'd prefer if we **find** and **fix** the **root cause**.
Do you agree?

[2022-01-20 04:20] parasharrajat commented on #6767
Sounds like a plan.

[2022-01-20 04:22] rushatgabhane commented on #6584
Okay, that sounds fine.

Thanks! will do

[2022-01-20 05:44] parasharrajat commented on #7321
I debugged this issue and yes, this is a side-effect of my PR #7254.
But, this is not an issue caused by that change.  Instead, we should fix this.

Safari does not wrap the text if the text contains whitespaces and its multiple for `white-sapce:pre`. This issue is not visible on LHN as we have added `white-space:nowrap` to the styles.

Now there are two ways to fix.
1. Either we pass numberOfLine

[2022-01-20 06:07] mananjadhav commented on #7015
@rushatgabhane Missed this yesterday. Good point on Delete.

For `onImageRemoved` event, we'll set `avatarFile` as null, and use `OptionListUtils.getDefaultAvatar()` to set the preview of the avatar.

[2022-01-20 07:09] ctkochan22 commented on #7322
The validation step here, has two states.
- Verifying (Ops is verifying the VBA)
- Pending (User needs to add test transactions or validation amounts as its said in old-dot)

We used to just have it set to "Connect Bank Account", then it changed to "Test Transactions" indiscriminately of either VBA state for this [issue](https://github.com/Expensify/App/issues/6315) and in this [pr](https://github

[2022-01-20 07:22] ahmdshrif commented on #6767
looking good. @roryabraham
@parasharrajat  but looks like we have an issue with `virtualkeyboard` API.
it's not working with me on the project (give undefined value )

but I run the same code on expo snack it works in the same browser(updated chrome on mac and android ).

I do the test from the console
again it's not working on our project from console
but work on other websites consoles(Github fo

[2022-01-20 07:29] ahmdshrif commented on #6767
oh, I test the console for https://new.expensify.com/ and it works
looks like it's a localhost issue. do we have a test domain to try it ?

[2022-01-20 08:16] shawnborton commented on #7081
Yup! And then I like the idea of adding some kind of slight fading/pulsing effect to it.

[2022-01-20 08:21] mananjadhav commented on #6891
Here's my updated proposal:

1. Add `allowExpirationDateChange` flag in `AddDebitCardPage`

https://github.com/Expensify/App/blob/c330dcd7ed415291cf96e8309dd8a2bfa6b545f7/src/pages/settings/Payments/AddDebitCardPage.js#L93

`this.allowExpirationDateChange = true`

2. Event changes will be in the following block:

https://github.com/Expensify/App/blob/c330dcd7ed415291cf96e8309dd8a2bfa6b545f7/src/pa

[2022-01-20 08:53] hiteshagja commented on #1083
![image](https://user-images.githubusercontent.com/5493716/150305271-7f352948-a800-4580-af1d-c7d3e06ae3cb.png)

end up with this error.

[2022-01-20 08:53] hiteshagja commented on #6364
@kidroca

![image](https://user-images.githubusercontent.com/5493716/150305483-95dcb656-4305-4b06-a762-4c37ead58b2d.png)

end up with this error.

[2022-01-20 09:02] sobitneupane commented on #7148
Applied for the job. PR is ready for review.

[2022-01-20 09:04] madmax330 commented on #7081
Cool do we already have that asset or does that need to be created as part of this issue? (just trying to determine if it can be marked as external or not)

[2022-01-20 09:05] sobitneupane commented on #7012
Should I wait until the issue is assigned to me? Or Should I proceed my PR?

[2022-01-20 09:07] rushatgabhane commented on #7288
@cmvithanage If I'm not wrong, the setPhoneNumber API needs a password. Not doing that opens the API for exploits.

[2022-01-20 09:09] shawnborton commented on #7081
I suppose they are just shapes, so perhaps we don't need assets and we can just create them using containers and styles? Otherwise we can provide all of these as .svgs. Maybe it just depends on the proposals we get - I suppose there are multiple ways to implement this (either by creating containers or using svgs) and I'm curious which way you think is best.

[2022-01-20 09:17] rushatgabhane commented on #7288
Thanks for your proposal, but we don't  need to create those components as they already exist. Other than that, your proposal is missing a lot of implementation details. I'd suggest you to read the issue requirements and codebase well, before submitting any proposal. Cheers!

[2022-01-20 09:19] K4tsuki commented on #6591
#### `unreadActionCount`
used in:
1. `getUnreadActionCount(report)`. Extracting `unreadActionCount` from report object. Not a problem.
2. in `getSimplifiedReportObject(report)`. called by `syncChatAndIOUReports` and `fetchChatRepportsByIDs`. report as parameter, so it is being called after report ready. Not a pproblem
3. `setLocalLastRead(reportID, lastReadSequenceNumber)`. More on this on section

[2022-01-20 09:21] parasharrajat commented on #7012
You can proceed to create the PR. @deetergp can assign you later

[2022-01-20 09:28] nkuoch commented on #7329
just double checking with @AndrewGable this can be external, right?

[2022-01-20 09:35] mananjadhav commented on #7288
@rushatgabhane @iwiznia  Are we open to modifying the design? It seems the most tricky part is `SecondaryLogin` API requiring a password.

1. Are we okay for the user to enter the password again? (Even though he has already set it just in the last step?)
2. Remove the secondary login field or take the name, etc. from the Welcome step and then redirect to the Secondary Login Screen?

Apart from the

[2022-01-20 09:36] parasharrajat commented on #6891
Ok. Looks like it will work. The only change would be that onChangeText we have to check for `text.length === 3` and add the slash before the last char. But that is mere of changing the logic.

:+1:  for @mananjadhav 's proposal.

cc: @Julesssss

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-20 09:40] K4tsuki commented on #7288
For `PhoneInput` I could not find component for it. And For name input I only find `FullNameInputRow`, so it is in a row, my proposal is to separate name.
For Password I find `PasswordForm`. But it is combine the logic inside the form:

https://github.com/Expensify/App/blob/a89fef76c10c02b4091f1511042af48c4d07d1c7/src/pages/signin/PasswordForm.js#L104

There is `Session.signIn` so it is combine th

[2022-01-20 09:44] mananjadhav commented on #7329
The current `IOUAmountPage` has a logic to hide the device keyboard for native devices but the `BigNumberPad` pad is shown only for small screen devices. The simplest solution would be to enable the `BigNumberPad` for tablets as well.

https://github.com/Expensify/App/blob/dcd288224f59bf686c5f8a472c30c4c15a095486/src/pages/iou/steps/IOUAmountPage.js#L242-L248

Change the check as: `this.props.isSm

[2022-01-20 09:44] mananjadhav commented on #7081
I have one or two options, waiting for this to go "External" before applying.

[2022-01-20 09:47] parasharrajat commented on #6767
It is `virtualKeyboard` not `virtualkeyboard`.

[2022-01-20 09:49] mananjadhav commented on #7313
@tgolen Apologies for the confusing term. I haven't been able to consistently reproduce the bug (2 in 10 times). I did apply the fix and I haven't been able to reproduce it after the fix at all (~50 tries) There are no side effects that it causes.

@thesahindia
Modifying the header styles will apply to all headers in the `FlatList`. I am not sure if we should be doing it.

[2022-01-20 09:50] K4tsuki commented on #7288
https://github.com/Expensify/App/blob/a89fef76c10c02b4091f1511042af48c4d07d1c7/src/pages/home/sidebar/SidebarScreen.js#L85
`ONYXKEYS.NVP_IS_FIRST_TIME_NEW_EXPENSIFY_USER` is set by `NameValuePair.set` which will save  the value in local and in server. So it is saved for specific account in server.

[2022-01-20 09:50] madmax330 commented on #7081
I'm honestly not sure. But my guess would be svg, that way we're sure it'll render the same on all platforms. Not sure if making it with containers will have issue with different platforms.
That's just a shot in the dark though. I guess we'll mark it as external and see what the proposals are

[2022-01-20 09:54] rushatgabhane commented on #7288
2. Remove the secondary login field
      3. Take the name, etc. from the Welcome step and then redirect to the Secondary Login Screen? or split them into two steps so that someone can set the name and avatar and skip phone number if they don't want to set right away requiring password.

@mananjadhav I like your line of thought. I can't answer that, but to the best of my knowledge based on current

[2022-01-20 09:58] K4tsuki commented on #7288
Why storing a password, the application is automatically load `AuthScreen` if it is passing `set password`. The session is updated.

[2022-01-20 10:01] mananjadhav commented on #7316
@trjExpensify  The link currently exists for Android and iOS as part of the https://github.com/Expensify/App/pull/6856#issue-1086173380 PR.  Screenshot from that PR with the text and link highlighted.

<img width="358" alt="mobile-app" src="https://user-images.githubusercontent.com/3069065/150316738-bdb69f22-9ea7-4809-86d7-afc5188455e6.png">

Hope this helps.

[2022-01-20 10:16] ahmdshrif commented on #6767
yes, I do the  test it without this condition (just write it for this on the comment.)

that is the navigator object I get not have `virtualKeyboard`  .
[code]

 maybe it's a local issue for me since, in your production, I can get  `virtualKeyboard `  from navigator in the console.
wherever we still have the second check for touch screen implemented if the browser does not support it.

[2022-01-20 10:18] mananjadhav commented on #7288
and if I check the whole chain, it seems it'll only further complicate the flow. Say you keep the password in the state and reuse the `WelcomeStep` as a component instead of the page,  following are the scenarios:

1. You need to have a session token as updating personal details and the secondary login require authentication
2. This login flows through multiple functions after which onyx.session i

[2022-01-20 10:43] trjExpensify commented on #7316
Ah, that's helpful. Thanks! I've updated the OP for clarity and exported the job to Upwork here: https://www.upwork.com/jobs/~01c2090be81cc5aedc

[2022-01-20 10:43] parasharrajat commented on #6767
Yeah, Firefox does not support this API yet.

[2022-01-20 10:48] parasharrajat commented on #7316
Why go through all this fuss https://github.com/Expensify/App/issues/7316#issuecomment-1016161672.

I would suggest just renaming the index.js to index.web|website.js and index.native.js to index.js. That should work, Right?

[2022-01-20 10:55] ahmdshrif commented on #6767
It's chrome browser but idk why it's log Firefox!.

Looklike i have local issue . But we can going with that sloution .

[2022-01-20 11:16] brianmuks commented on #7265
**Proposal:**

To hide  composer `toggleReportActionComposeView(false,true); ` should be called right before:

https://github.com/Expensify/App/blob/a89fef76c10c02b4091f1511042af48c4d07d1c7/src/pages/home/report/ContextMenu/ContextMenuActions.js#L114

then : https://github.com/Expensify/App/blob/a89fef76c10c02b4091f1511042af48c4d07d1c7/src/pages/home/report/ReportActionItemMessageEdit.js#L100
will

[2022-01-20 11:33] parasharrajat commented on #7265
@brianmuks This is already assigned. Please look into other [open jobs.](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22+sort%3Aupdated-desc)

[2022-01-20 11:34] brianmuks commented on #7265
Noted with thanks.

[2022-01-20 11:36] brianmuks commented on #7265
Please help, how do I know if a job has not been assigned to anyone  ?

[2022-01-20 11:47] thesahindia commented on #7313
@mananjadhav, I had tried removing `pb1` but It doesn't fix it, as you can see here -
<img width="663" alt="Screenshot 2022-01-20 at 3 50 11 PM" src="https://user-images.githubusercontent.com/83179295/150320225-b49a1a80-b905-41a2-8f81-92b0a4547df1.png">

@tgolen, I agree using `transform: 'translateY(-1px)'` is kinda hack-workaround but I didn't find any side-effects while testing.
Also if we want

[2022-01-20 11:53] brianmuks commented on #7265
@parasharrajat correct me if I am wrong from the list only this job is open right : https://github.com/Expensify/App/issues/6685

[2022-01-20 11:54] Julesssss commented on #7315
Hmm, why didn't the automated message show, I don't see the missing step 😕

[2022-01-20 11:55] Julesssss commented on #7315
Okay, I think we're missing `HelpWanted` as the UpWork issue hasn't yet been created. Let's await that.

[2022-01-20 11:58] wenge8n commented on #7307
I don't have access to the slack channel so I sent request to join slack and am waiting now.

Hmm.. so you mean it works sometimes and it doesn't work sometimes?
I tested it and the files are always saved in the document directory. They never saved in the photo library.
Because as I said `rn-fetch-blob` doesn't support such functionality.

[2022-01-20 12:03] mananjadhav commented on #7316
Oh nice. I totally forgot we have support for index.web.js.

[2022-01-20 12:08] murataka commented on #7316
Hello , the thing is the error message tells to user to switch to the web , where the issue won't occur on that type of error on web version
<img width="1168" alt="Screen Shot 2022-01-20 at 14 53 12" src="https://user-images.githubusercontent.com/5358438/150335037-4f7e0922-11bd-489a-80f7-d866fd2e48d6.png">
.

However, it is better to know the error type   and implement a more detailed error handli

[2022-01-20 12:24] murataka commented on #7316
Also this error page should include a submission form as the error will appear on client side and not the server side , so an error submission button would help to identify and fix the bugs fast  ...

[2022-01-20 12:43] zoontek commented on #5620
@NikkiWines IMHO it's good, I though @cmvithanage was working for Expensify and his affirmation was linked to some internal reproduction / discovery. But if it's not, I invite you to give a try to the latest implementation (without `UIViewController`) as it has been reviewed already 🙂

[2022-01-20 12:48] mountiny opened #7334 "Chat moves up a bit when new message is received on mWeb Safari only"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a room and scroll to an earlier message (fastly)
2. Stay on a specific message (to read it  or something)
3. Send a new message to that room

[2022-01-20 12:48] mountiny commented on #7334
This was identified in testing the original PR [here](https://github.com/Expensify/App/pull/7271).

[2022-01-20 12:49] sobitneupane commented on #7261
Sure.
I propose the following solution:
Let's remove the code that sets reportName and report Icon from `PersonalDetails.getFromReportParticipants()`.

[code]
And Add `configureReportDetails()` function in src/libs/actions/Report.js for setting report icon and report name.
[code]

[2022-01-20 12:51] mountiny commented on #7145
We have discovered the solution has an edge where it still fails, since the issue description originally has not stated mobile Web as a platform where the issue persists, we should not hold that as a regression. I have created a [follow-up issue](https://github.com/Expensify/App/issues/7334) to look into this problem which occurs only on safari mWeb iOS for some reason. @ahmdshrif has looked into

[2022-01-20 12:52] cmvithanage commented on #5620
@zoontek No, I'm only an interested individual trying to help you guys solve this issue. 🙌🏼

[2022-01-20 14:47] #6901 closed

[2022-01-20 14:55] kidroca commented on #5620
TLDR
- The requests seems fine.
- The logs are incomplete
- But the splash screen is still visible even though all the conditions to hide it are set to `true`

---

#### Incomplete logs
One of the very first things happening during `init` is `[Migrate Onyx] start` and we don't see such logs prior to `[alXt] [BootSplash] splash screen is still visible`
The logs also confirm this - we see a request

[2022-01-20 15:27] K4tsuki commented on #7288
I have updated [my proposal](https://github.com/Expensify/App/issues/7288#issuecomment-1017031657) on `Page component` part.

[2022-01-20 16:25] roryabraham commented on #6767
Okay, thanks for the updates here. @ahmdshrif Can you please write a single, cohesive proposal for this issue that I can evaluate before we move forward?

[2022-01-20 16:37] adelekennedy commented on #6627
Hired!

[2022-01-20 16:37] joelbettner commented on #7309
This looks like it has what it needs and a proposal (with some of the work already being done) for fixing it. Going to un-assign myself and tag External.

[2022-01-20 16:46] roryabraham commented on #7316
Yes @mananjadhav, that's why I created a separate issue 🙂

It's going to be the NewDot URL for whatever environment we're in. So `localhost` on dev, `staging.new.expensify.com` on staging, and `new.expensify.com` on production.

Good suggestion @parasharrajat 👍

It has to be `index.website.js`. You can check out the webpack configs [here](https://github.com/Expensify/App/blob/8841d8aae4b37b0475e9e

[2022-01-20 16:47] kevinmarceloph commented on #7263
My proposal:

- This issue is actually due to an Android Chrome bug: https://bugs.chromium.org/p/chromium/issues/detail?id=1063576.
- We can apply the workaround suggested in that bug: clone the file as soon as we get it, then use that instead.
- This means adding these lines to https://github.com/Expensify/App/blob/021ad5d5b057fcecd98ee70b6bf52938cca5fe32/src/components/AttachmentPicker/index.js,

[2022-01-20 16:47] roryabraham commented on #7316
Also, yes it's easy but if I were CME on this I would give it to @mananjadhav since he implemented the generic error page in the first place.

[2022-01-20 17:22] murataka commented on #7316
yes, I already am looking at an other issue, as the first step would be to implement some basic error page system which shows different errors, or just change the error messages to not redirect user to web or something similar.

[2022-01-20 17:27] chiragsalian commented on #7321
Sure can you create the PR to fix this @parasharrajat?

[2022-01-20 17:32] Jag96 commented on #7316
Looking in the firebase console, we only have ios/Android errors coming through at the moment

[2022-01-20 17:37] chiragsalian commented on #7321
oops, i didnt read your comment the first time properly mentioning two ways to fix. I think both are fine. I might suggest solution 2 just cause its easier for now, provided it doesn't break something else.

[2022-01-20 17:41] mountiny opened #7335 "[TEST] Test issue 3191398"
Do not mind this issue, this is a test for https://github.com/Expensify/Expensify/issues/191398

[2022-01-20 17:42] mountiny opened #7336 "[TEST] Test issue 2 for 191398"
Do not mind this issue, this is a test for https://github.com/Expensify/Expensify/issues/191398

[2022-01-20 17:51] tgolen commented on #7313
Hm, yeah, it looks like the `pb1` fix doesn't quite work. @thesahindia Are there any other solutions you can think of that wouldn't use the `translate`?

[2022-01-20 17:51] mountiny commented on #7335
Sorry for the pings @rushatgabhane, I am testing one QA related to linking issues to PRs.

[2022-01-20 17:51] mountiny commented on #7336
Sorry for the pings @rushatgabhane, I am testing one QA related to linking issues to PRs.

[2022-01-20 17:51] rushatgabhane commented on #7336
haha, no worries :)

[2022-01-20 17:52] tgolen commented on #7261
I like it! Change the name of the method to `configureReportNameAndIcon` and you've got me sold :D 🟢  on that proposal.

@kadiealexander can you please move forward with hiring them for this and posting the job on upwork?

[2022-01-20 18:11] murataka commented on #7316
@roryabraham , Users may not use the chat to explain such errors, I offer something like <Errorhandler data={theerrormessage} />
which renders some simple button to send the data using fetch command and not display much information to user. After user clicks that button, display a "thank you , we will take care of it" ... I don't think those kind of errors will happen much though, so I think a sim

[2022-01-20 18:17] kidroca commented on #7267
PR was merged and a new version (8) with the change is available.
I'll open a PR to update our RN document picker version and remove our temp fix

[2022-01-20 18:22] ahmdshrif commented on #6767
@roryabraham  yes that is my final one as you suggest : -
[code]

[code]

[2022-01-20 18:41] stephanieelliott commented on #7265
@brianmuks generally, any job with the`Help Wanted` label is open.

Please read the [CONTRIBUTING.MD](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md) file when you get a moment, it contains steps for onboarding and finding open jobs. If you have further questions, please post them in the #expensify-open-source Slack workspace (instructions for joining are in the CONTRIBUTING.MD file).

[2022-01-20 18:43] ahmdshrif commented on #7145
thanks, @mountiny, I am happy to do my first merged Pr here.
do I need to wait for more steps or I can submit work now?

[2022-01-20 18:49] rushatgabhane commented on #7145
If there isn't any regression in staging and production, your contract will be paid out. There's more info on it in contribution.md

I hope this answers your question!

[2022-01-20 18:50] ahmdshrif commented on #7145
ok, thanks @rushatgabhane

[2022-01-20 18:51] mountiny commented on #7335
QA has passed, closing.

[2022-01-20 18:51] mountiny commented on #7336
QA has passed, closing.

[2022-01-20 18:51] #7336 closed

[2022-01-20 18:52] mountiny commented on #7267
Thank you @kidroca!

[2022-01-20 18:55] mountiny commented on #7145
@ahmdshrif Likewise, it was very lovely to work with you and I hope this was not our last mutual PR 😊

I would recommend you to look around the `Help Wanted` labelled issues and see if there is anything you might be interested in. However, you should wait til your PR is deployed to production before writing proposals. I think that should not take long given it is in staging and the QA has passed (

[2022-01-20 18:59] stitesExpensify commented on #7321
I am not able to reproduce this bug.
<img width="452" alt="2022-01-20_11-59-38" src="https://user-images.githubusercontent.com/42391420/150404420-738dc7d3-6beb-45b7-800d-f2baad1ed6a5.png">

<img width="452" alt="2022-01-20_11-59-30" src="https://user-images.githubusercontent.com/42391420/150404405-6069cf24-6ca1-4935-b4d3-552f60079f0b.png">

[2022-01-20 19:07] stitesExpensify commented on #7321
Hmm i could repro on my physical device but not the sim for some reason.

[2022-01-20 19:35] NikkiWines commented on #5620
I believe in this instance I didn't do anything and just left my phone with the splash screen on it for 3-4 minutes, then restarted the app. But I can wait till this happens again to me and post logs from that instance as well.

[2022-01-20 19:41] roryabraham commented on #7321
Real safari has all kinds of dumb rules. But good to know – we need to test the solution on a physical device

[2022-01-20 19:43] stitesExpensify commented on #7321
Chirag actually managed to reproduce on a simulator. I'm not sure why mine is behaving differently 😬

[2022-01-20 19:43] roryabraham commented on #7321
Would this be the same? I thought we always had only one line for the chat header?

[2022-01-20 19:49] roryabraham commented on #7321
Do you mean adding a style like [this](https://github.com/Expensify/App/blob/f44120ae79c3a1de4367c62c7eb513c96b1a4d1b/src/styles/styles.js#L1129) and applying it to `DisplayNames` [here](https://github.com/Expensify/App/blob/4ceff47d9839334272fdd89d75da873d105b15c2/src/pages/home/HeaderView.js#L142-L149)?

[2022-01-20 20:02] neil-marcellini commented on #7182
@TomatoToaster @Jag96 @stitesExpensify
Hey guys, while testing [this PR](https://github.com/Expensify/App/pull/7217) I had a similar issue where just tapping on the name of a new room to view the details causes a crash. It happens on all platforms and it looks like the icons are the issue. Shall I update the issue to reflect this?

[2022-01-20 20:03] stephanieelliott commented on #7081
Shared to Upwork: https://www.upwork.com/jobs/~01a3b83272750b939a

[2022-01-20 20:31] kidroca commented on #7267
PR to update App's version is ready: https://github.com/Expensify/App/pull/7338

[2022-01-20 20:39] brianmuks commented on #7265
@stephanieelliott Well noted. Thanks.

[2022-01-20 20:46] rushatgabhane commented on #7307
Yep

Okay, the issue reporter also faced the same thing; all photos stored in document. Whilst others can save photos to their gallery.

[2022-01-20 20:56] trjExpensify commented on #7316
Yep, donezo! 👍

[2022-01-20 21:00] TomatoToaster commented on #7182
@neil-marcellini does it happen when you are the only member of the workspace? I'm working on a fix for that and I've got a PR for it, but I just want to confirm I might not be missing another case.

[2022-01-20 21:04] parasharrajat commented on #6767
@ahmdshrif This does not work.

Should run only on the web.

[2022-01-20 21:04] rushatgabhane commented on #6584
Hi @puneetlath, just wanted to clear this up :)

[2022-01-20 21:06] parasharrajat commented on #7321
@roryabraham Indirectly Yes https://github.com/Expensify/App/blob/4ceff47d9839334272fdd89d75da873d105b15c2/src/components/DisplayNames/index.js#L87

[2022-01-20 21:09] neil-marcellini commented on #7182
Yep it only happens when you are the only member of the workspace. Thanks!

[2022-01-20 21:11] #7321 closed

[2022-01-20 21:13] parasharrajat commented on #7081
Yeah, I agree with Shawn. It can be done in many ways.
Also, if we need to show the moving gradient effect over them then that needs to be animate. I am sure contributors will propose that as well. But can we please attach the image to issue body.

[2022-01-20 21:18] rushatgabhane commented on #7015
🎀👀🎀

Alright thanks, that sounds reasonable. I like @mananjadhav's proposal.

cc: @AndrewGable

[2022-01-20 21:27] parasharrajat commented on #7316
Great. Sounds good. See you on the PR @mananjadhav. :smile:

[2022-01-20 21:33] parasharrajat commented on #7309
### Proposal
Updated the previous post https://github.com/Expensify/App/issues/7309#issuecomment-1016139849. I am not looking to get compensated separately to fix it. I am already working on refactoring `TextInputWithFocusStyles` so I will fix this there.  But I think I would be eligible for reporting bonus here.

[2022-01-20 21:35] parasharrajat commented on #6627
Thanks, @adelekennedy

[2022-01-20 21:37] parasharrajat commented on #6565
@jboniface
Ping for
![Upwork](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2022-01-20 21:50] nickmurray47 commented on #7092
nice, closing!

[2022-01-20 21:50] #7092 closed

[2022-01-20 21:58] rushatgabhane commented on #7288
@mananjadhav Thanks, I agree with you.
I'm running on too many assumptions, so yeah let's wait for input from @iwiznia 😃

[2022-01-20 22:21] rushatgabhane commented on #7263
Hi @kevinmarceloph, I really appreciate your proposal because it finds the root cause.
We generally avoid workarounds, but I can also see that the issue is 2 years old and hasn't been fixed yet.

Could you please also add on how you'll fix the issue for Firefox mWeb?

[2022-01-20 22:29] ahmdshrif commented on #6767
I mean: -
1- if we are on the web and we have `virtualkeyboard` support we will use it to know if the virtual keyboard is on or of.

Native(android and ios) also has `navigator` object without  `virtualkeyboard`  so this check is valid for all platforms .
but I make also check if there is a case in native `navigator` can be undefined.

[code]

2- if we are in the native or unsupported browser we w

[2022-01-20 22:34] chiragsalian commented on #7321
@kavimuru the issue is resolved on staging. Can you re-test on mobile web and confirm if it looks good to you.

[2022-01-20 22:36] chiragsalian commented on #7297
Just addressed https://github.com/Expensify/App/issues/7321 and i've asked @kavimuru to retest.
The PR that resolved the issue https://github.com/Expensify/App/pull/7339. So once it's tested I'll be clear to deploy.

[2022-01-20 22:50] parasharrajat commented on #6767
OK sounds good to me.

cc: @roryabraham

[2022-01-20 22:54] MitchExpensify commented on #7329
[Upwork Job](https://www.upwork.com/jobs/~0143131d92d28bf15a)

[2022-01-20 23:00] jboniface commented on #6565
sent

[2022-01-20 23:04] parasharrajat commented on #6565
@jboniface  But I think you sent the wrong offer. It should be $250, not $500. Let me know if I am missing something.

[2022-01-20 23:10] parasharrajat commented on #7329
If I was a C+ on this, I would have suggested :stuck_out_tongue_winking_eye:

### Proposal.
1. I think it would be better to show the BiGNumberPad for all devices that have touchScreens. Because if a device has a keyboard and touch screen, it means that it has two input devices and thus we can safely show the user our NumberPad. This way if the external keyboard is detachable it will not block the

[2022-01-20 23:17] rushatgabhane commented on #7329
@parasharrajat I was just typing that 😂

I agree with you. Unassigning myself, as this doesn't need a C+ review as per the process.

[2022-01-20 23:20] rushatgabhane commented on #7329
@ilia-musaev welcome! To know about everything to get started, it's best that you read Contributing.md.

Let me know if you have any questions, happy to help :)

[2022-01-20 23:21] K4tsuki commented on #7288
@rushatgabhane the page isn't reloading after `setpassword` sucess. It just load `AuthScreen` component, so saving the password in variable will keep exist and can be used in welcome profile setting page.

[2022-01-20 23:32] mvtglobally commented on #7297
Checking off #7339. It is pass

[2022-01-20 23:39] kavimuru commented on #7260
@TomatoToaster  It takes me to the same existing room when I enter a message and create another room. But no error message displayed

https://user-images.githubusercontent.com/43996225/150439387-7dbe6589-3330-4ebc-82fd-16fe3ae09fa9.mp4

.

[2022-01-20 23:40] chiragsalian commented on #7297
:shipit:

[2022-01-20 23:40] OSBotify commented on #7297
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-01-20 23:41] chiragsalian commented on #7297
:shipit:

[2022-01-20 23:41] OSBotify commented on #7297
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-01-20 23:43] NikkiWines commented on #6562
@K4tsuki, you're right and actually you did mention this [above](https://github.com/Expensify/App/issues/6562#issuecomment-992057691) as well and I had forgotten, sorry about that.

You're right that this relates to  `fetchActions()`. It doesn't look like we update the timestamp when report action is modified or deleted though, so larger changes would need to be implemented for that to work.

I'm

[2022-01-20 23:44] NikkiWines commented on #6562
@stephanieelliott, not sure if we need a new job for this.

[2022-01-20 23:47] chiragsalian commented on #7297
:shipit:

[2022-01-20 23:47] #7297 closed

[2022-01-20 23:50] botify commented on #6913
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.31-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7254

If no regressions arise, payment will be issued on 2022-01-27. :confetti_ball:

[2022-01-20 23:50] botify commented on #7213
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.31-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7230

If no regressions arise, payment will be issued on 2022-01-27. :confetti_ball:

[2022-01-20 23:50] botify commented on #7145
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.31-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7271

If no regressions arise, payment will be issued on 2022-01-27. :confetti_ball:

[2022-01-20 23:50] botify commented on #6931
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.31-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7219

If no regressions arise, payment will be issued on 2022-01-27. :confetti_ball:

[2022-01-20 23:50] botify commented on #7068
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.31-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7104

If no regressions arise, payment will be issued on 2022-01-27. :confetti_ball:

[2022-01-20 23:50] botify commented on #6699
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.31-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7124

If no regressions arise, payment will be issued on 2022-01-27. :confetti_ball:

[2022-01-20 23:50] botify commented on #7035
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.31-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7127

If no regressions arise, payment will be issued on 2022-01-27. :confetti_ball:

[2022-01-20 23:50] botify commented on #7074
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.31-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7255

If no regressions arise, payment will be issued on 2022-01-27. :confetti_ball:

[2022-01-20 23:50] botify commented on #7140
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.31-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7240

If no regressions arise, payment will be issued on 2022-01-27. :confetti_ball:

[2022-01-20 23:50] botify commented on #7103
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.31-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7210

If no regressions arise, payment will be issued on 2022-01-27. :confetti_ball:

[2022-01-20 23:50] botify commented on #7122
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.31-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7280

If no regressions arise, payment will be issued on 2022-01-27. :confetti_ball:

[2022-01-20 23:50] botify commented on #6980
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.31-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7289

If no regressions arise, payment will be issued on 2022-01-27. :confetti_ball:

[2022-01-20 23:51] OSBotify opened #7347 "Deploy Checklist: New Expensify 2022-01-20"
**Release Version:** `1.1.32-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6885
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6943
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7096
  - [x] QA

[2022-01-20 23:52] K4tsuki commented on #6562
No problem @NikkiWines.
If this is exported / external, May I propose a solution after back end ready?
Thank you.

[2022-01-20 23:54] K4tsuki commented on #7145
@dylanexpensify Should I apply to upwork job too for reporting this issue?

[2022-01-20 23:59] puneetlath commented on #7268
Upwork job posted: https://www.upwork.com/jobs/~01bff689e7e46696be

[2022-01-21 00:00] murataka commented on #6912
Hello ,

The issue happens when a user request money after switching between chat members .

The bug is happening because of two reasons:

1 :  Onyx variable lifecycles configuration seems to be incomplete for some variables.

2:  Misuse of `componentDidMount` functionality in ReportScreen.js ( should not make changes to  non-local variables at that state listener(s) )

So the solution is to compl

[2022-01-21 00:05] roryabraham commented on #2985
@luacmartins Has joined the fray and we made a fair amount of progress today. You can follow along with the status of the implementation [here](https://github.com/Expensify/App/pull/7071)

[2022-01-21 00:14] NikkiWines commented on #6562
Sorry for the confusion @K4tsuki - I meant that your proposal for using the timestamps wouldn't work at the moment, given we don't currently update the timestamps when messages are modified.

Modifying the timestamps might have other consequences, so if that's the route you want to go with for your proposal I would recommend raising that suggestion in #expensify-open-source in Slack so that we can

[2022-01-21 00:27] jboniface commented on #6565
@parasharrajat I might have misread part of the process, let me ask @mallenexpensify to be sure. Thanks for your honesty.

[2022-01-21 00:31] K4tsuki commented on #6562
@NikkiWines I am sorry, I thought there is back end change for this.
So I must propose a solution without back end change right?
It isn't fetching all report actions from start right?
Or Are we just want to limit when we allowed to edit or delete the message?
Yes, maybe slack discussion good here.

[2022-01-21 00:32] parasharrajat commented on #6912
Hey @murataka, I didn't understand your proposal. Could you please add more technical info about the things you are talking about? Use code references to indicate where you are suggesting the changes.

[2022-01-21 00:55] murataka commented on #6912
Yes, The project uses Onyx library to handle updating of multiple renderable components. Updating multiple components upon a change of a variable is a difficult task on react apps, whereas you already are using Onyx to handle that known problem.

However, when you do not add the   `withOnyx({ ... ` to a component configuration , or not add the variable to that configuration to make it read props v

[2022-01-21 01:18] mallenexpensify commented on #6565
I think @anthony-hull was compensated $500, $250 for reporting and $250 for the job.  So @parasharrajat , being C+, should be compensated $250 and not $500

[2022-01-21 01:23] murataka commented on #6912
[code]
This is  the confusing part of the code which I mentioned above , causing the previous chat session to be fetched.

[2022-01-21 01:28] parasharrajat commented on #6912
Truly speaking, I didn't understand a single thing until https://github.com/Expensify/App/issues/6912#issuecomment-1018076712.

Maybe try to write small and clear bullet points to explain your thoughts next time. You are trying to mix suggestions with issue cause and solution. This makes it all confusing.

 Back the topic,
 Thanks, I see that https://github.com/Expensify/App/issues/6912#issuecomme

[2022-01-21 01:37] murataka commented on #6912
The fix does not require much changes, it is not more than 10-20 lines of change . So , I needed to explain the cause of the problems, as otherwise I shall need to share all the changes needed.

It is not the single cause and tracking that will not be enough to find the root cause. As stated above , there's a corrolation between those mistakes and all together they create the bug .

I tried to exp

[2022-01-21 01:52] murataka commented on #6912
I will also add comments , and try to share as much details as possible , where I think that similar issues may appear and to prevent those mistakes, adding more comments to the  code seems essential to prevent future bugs.

[2022-01-21 01:53] parasharrajat commented on #6912
That's great. If you have joined slack, you can start a discussion about this. And we will be glad to discuss it there in detail.

For now, let's reduce the scope of this issue to the problem it states and try to fix that first. You have explained the problem and the reason. But what I am asking is the implementation changes you would do to achieve this.

[2022-01-21 02:00] murataka commented on #6912
I already tested the solution and it works. I would share the changes made after the contract starts, as just a few lines need to be changed :  nothing newly implemented.

I mean it was already implemented , but there were some mistakes. As I did not introduce a new scope , there's not much to discuss, let me find and join the slack channel . I will continue to chat there . I strongly feel that th

[2022-01-21 02:09] parasharrajat commented on #6912
I see. If you are worried to share your solution before the contract, then rest assured that if your solution is best of all proposed fix the issue and does not cause regressions. You would be paid for it.

At Expensify, the process is a little different. we like to hear the solution first and analyze your approach to it. It helps us in finding the regressions and give you suggestions before you s

[2022-01-21 02:17] murataka commented on #6912
Yes , I understand that , but just a few hours passed since I have found that repo / work conditions. I made changes to 3-4 files, some of them just 1 line maybe ., and will make more checks / try to find any mistakes if I have made before sharing all the solution ,and I planned to do that after I have a contract.
Discussing the solution after I submit the code for review will be very nice as I am

[2022-01-21 02:19] K4tsuki commented on #7121
https://upmostly.com/tutorials/react-onhover-event-handling-with-examples
There is no `onHover` event in react. The article use `onMouseLeave` and `onMouseEnter`, like in `Hoverable`.
Are we really want to add `onMouseLeave` and `onMouseEnter` in `ReportActionItem`?
My proposal is to supply `onMouseLeave` and `onMouseEnter` function for Hoverable from `ReportActionItem`.
So it can defer changing `

[2022-01-21 02:24] murataka commented on #6912
@parasharrajat

Contributing.md  tells me to stop at that state ...

`5. Pause at this step until someone from the Contributor-Plus team and / or someone from Expensify provides feedback on your proposal (do not create a pull request yet).`

[2022-01-21 02:29] parasharrajat commented on #7121
Is `Hoverable` a native export from React-**Native** + **Web**?

If the answer is NO! Let me know if this sounds like that it can help https://github.com/Expensify/App/blob/56ef069322465b4025c4b2fd38bb86f9df95162f/src/components/Hoverable/hoverablePropTypes.js#L18

[2022-01-21 02:31] parasharrajat commented on #6912
Yeah, Correct. I am not asking you to create a PR rather the code changes you would do in brief.

[2022-01-21 03:16] K4tsuki commented on #7121
https://github.com/Expensify/App/blob/56ef069322465b4025c4b2fd38bb86f9df95162f/src/components/Hoverable/index.js#L51-L60

`onHoverIn` or `onHoverOut` is called after `setState` of `isHovered` inside `setIsHovered`(called on each `onMouseEnter` and `onMouseLeave`). So it is late  to use this callback, `isHovered` state is already changed and menu is displayed if `isHovered` is true.

[2022-01-21 04:08] mananjadhav commented on #6301
@tgolen Is there some specific format you'd like to share? If you and @parasharrajat can share the level of detail that is expected here? I am in process of writing a proposal, will share as a google doc.

[2022-01-21 04:10] robertjchen commented on #7324
Thanks for the report! I wonder if there was a recent frontend change that might've changed the behavior here? 🤔

[2022-01-21 04:30] mvtglobally opened #7350 "[HOLD] White screen displayed in app after coming from background"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Have desktop open and foregrounded on mac
2. Close lid for few mins
3. Open lid, notice screen is white for ~15 seconds, then loads.

If the abov

[2022-01-21 04:36] mvtglobally opened #7351 "[HOLD for payment 2022-02-09] Large paragraph goes beyond the bottom of the visible input field and doesn't scroll"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to any chat
3. Paste a large text

## Expected Result:
When I paste a large paragraph into the input field in NewDot, where

[2022-01-21 04:36] parasharrajat commented on #6301
Well. I will suggest documenting every behavior or interaction that is expected in the feature.

[2022-01-21 04:43] mvtglobally opened #7352 "[HOLD for payment 2022-05-20] [$2000] When copy&paste multiple messages line breaks aren't maintained"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Copy a message with multiple line breaks
3. Paste into another chat

Steps 2
1. Send 3 separate messages
2. Copy all 3 messages
3. Pa

[2022-01-21 04:49] parasharrajat commented on #7095
Ok. This got slipped out of my mind. But I would say to continue with @K4tsuki proposal as there is no objection to the approach so far and I don't have any other solution that is possible for now.

cc: @Luke9389

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-21 04:49] mvtglobally opened #7353 "Selected payment Method is not highlighted - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Settings> Payments
3. Click on any payment method

## Expected Result:
Selected payment Method should be highlighted

##

[2022-01-21 04:52] kadiealexander commented on #7261
Sorry team, was OOO for a couple days! Here's the Upwork link: https://www.upwork.com/ab/applicants/1484387572985319424/

@sobitneupane I've invited you to the job, could you please accept?

[2022-01-21 04:52] mvtglobally opened #7354 "[HOLD for payment 2022-02-14] Placeholder text is cutting off at the bottom of personal message - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to a workspace
2. Go to manage members screen
3. Tap on the Invite button
4. Clear the text in Add a personal message input field

## Expecte

[2022-01-21 04:58] kadiealexander commented on #7146
My bad, thanks @parasharrajat!

[2022-01-21 04:59] kadiealexander commented on #7146
@stitesExpensify are you happy with any of the above proposals?

[2022-01-21 05:02] parasharrajat commented on #7353
### Proposal (if external)
##### Before triaging for the reason that I reported it.

1. Add a new props to `PaymentMethodList` `activePaymentMethodID` and `actionPaymentMethodType` to hightlight the paymentMethod from the list.

2. in PaymentMethodList, add to the paymentMethod object when it matches with the passed props. https://github.com/Expensify/App/blob/56ef069322465b4025c4b2fd38bb86f9df951

[2022-01-21 05:02] sobitneupane commented on #7261
Unable to open the upwork link provided.

I have not received any invitation yet.

[2022-01-21 05:10] parasharrajat commented on #7261
I can see a good refined proposal but it has some issues/challenges. I am sure that we can overcome those on PR review.

Overall, I like  @sobitneupane 's proposal as well. I am anticipating that it will fix one more issue (can't find atm).

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-21 05:13] parasharrajat commented on #6807
What do you suggest to solve this @phivh ?

[2022-01-21 05:30] parasharrajat commented on #7010
I have done some research on this and it seems that the solution will be complicated and it requires hacks. There is no default way of doing this using browser technologies.

1. we first need to add an empty entry to the history state whenever a modal is opened.
2. so when the user will close the modal of pressing the back button that entry will be popped instead of going back.
3. Now attach an ev

[2022-01-21 05:57] ahmdshrif commented on #6767
ok, I apply to Upwork.  working on PR

cc: @MitchExpensify

[2022-01-21 07:19] K4tsuki commented on #7325
#### proposal

I think the problem is default browser notification onclick event handler is disabled:

https://github.com/Expensify/App/blob/56ef069322465b4025c4b2fd38bb86f9df95162f/src/libs/Notification/LocalNotification/BrowserNotifications.js#L83

Based on this:
https://stackoverflow.com/questions/21016999/how-to-get-focus-to-the-tab-when-a-desktop-notification-is-clicked-in-firefox
Switching w

[2022-01-21 07:40] phivh commented on #7010
@parasharrajat Understand your point. I also checked this issue and trying with window popstate listener and it seems tricky for now but at least somehow it works but not perfectly. I have an idea from my mind. Let me try to add a hash when view image modal open then will see what happen. I will show you guys then.

[2022-01-21 07:41] phivh commented on #6807
@parasharrajat  Checking the solution. I will drop an message soon.

[2022-01-21 08:07] ctkochan22 commented on #7326
Its breaking due to the `inline`. It was tested in this PR: https://github.com/Expensify/App/pull/6271

But if you take the inline out, it works fine.

[2022-01-21 09:14] rushatgabhane commented on #7325
@K4tsuki can you confirm if your solution works for Firefox and doesn't cause any regressions in chrome and safari?

[2022-01-21 09:28] K4tsuki commented on #7325
Yes I try it in firefox and it is working.

https://github.com/Expensify/App/blob/56ef069322465b4025c4b2fd38bb86f9df95162f/src/libs/Notification/LocalNotification/BrowserNotifications.js#L84

the `onClick` function above contain function to navigate on the room where notification implying.
I think `event.preventDefault();` here used because we want to navigate to the room first and then focus on e

[2022-01-21 10:03] madmax330 commented on #7286
Not sure what to do with this issue if it's a tracking issue... Or is that just left over from the OP?

[2022-01-21 10:06] rushatgabhane commented on #7286
Do nothing
I'll close the issue after 7 days if no regressions are found in production.

[2022-01-21 10:10] madmax330 commented on #7286
Sounds good, thanks @rushatgabhane

[2022-01-21 12:54] mvtglobally commented on #7347
Starting QA

[2022-01-21 12:59] murataka commented on #6912
@parashat , I counted 12 lines to be added ( including brackets ) and one deletion  . I have no idea if you are the one to start the contract , but I want to add this as a summary: the solution is mostly finishing the previous incomplete implementation about the chat related Onyx  library.   Still waiting for the slack invitation. Please let me know if the hiring process may take more than a week

[2022-01-21 13:02] parasharrajat commented on #6912
@iwiznia Could you please help me review the above proposal? Thanks.

[2022-01-21 13:15] robert-go commented on #7307
Hi, I'm from Upwork
I'm on the `main` branch, am I on the right branch?
Because it save the image to Document only
I can't save images on my iPhone
I also don't see the app asking for any permission to save the photo
![Screen Shot 2022-01-21 at 20 14 32](https://user-images.githubusercontent.com/64536259/150533037-3bc7263b-2538-4e55-bc0b-b4d6e7e39fbc.png)

[2022-01-21 13:45] rushatgabhane commented on #7307
Hey @robert-go, yes you're on the right branch.

From slack - "I'm on v1.1.26-1 on iOS app, downloaded a .png file and it went to photo gallery. "
"Can confirm that when I downloaded those two images (attached in the issue) they went to files and not photo gallery, not sure why"

[2022-01-21 14:21] Beamanator commented on #7351
Looks like this can be worked externally and it's a nice improvement 👍

[2022-01-21 14:57] bfitzexpensify commented on #7317
Upwork post [here](https://www.upwork.com/jobs/~0140b54fd42619da64)

[2022-01-21 16:09] puneetlath commented on #7080
Let's just close this for now. We can decide to do it later if we're so inclined.

[2022-01-21 16:09] #7080 closed

[2022-01-21 16:40] nlundgren commented on #7317
Hi there,

I am here routed from Upwork to make a proposal for this issue. My implementation would consist on keyboard listeners that trigger specifically when that menu is open.

The steps to solve this are:
- Identify if menu (request/attachment) is open.
- When it is open add keyboard listeners in order to change the active status of each menu item.
- Another listener on key enter will activate

[2022-01-21 16:57] mvtglobally commented on #7091
Additional note, Few users reported same issue on IOS too. Will solution cover Native apps too?

[2022-01-21 16:58] MitchExpensify commented on #6767
Hired @ahmdshrif & @parasharrajat for eventual C+ payment!

[2022-01-21 17:26] NicMendonca commented on #7353
Upwork job: https://www.upwork.com/jobs/~01dfe0d228f40d6a2f

[2022-01-21 17:27] jboniface commented on #6565
corrected offer sent, sorry about that

[2022-01-21 17:27] rushatgabhane commented on #7353
Unassigning myself as Rajat doesn't need a C+ review

[2022-01-21 18:06] TomatoToaster commented on #7260
Ahhh I see, the error isn't showing in the create room modal. Thanks for that clarification!

Hmm it is weird that the room is loaded, and you can see it even in the left hand nav, but it seems like the create a room modal is not comparing its title properly to know its a duplicate (only seems to happen right after creation too). Cool I think I have a lead on how to fix this bug, thanks!

[2022-01-21 18:21] kbecciv opened #7360 "VBA - Unable to add VBA manually and from Plaid"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to staging and login with expensify account
2. Go to. workspace
3. Connect bank account
4. Select connect online with Plaid
5. Select We

[2022-01-21 18:24] mdneyazahmad commented on #7351
## Proposal

https://github.com/Expensify/App/blob/5987bc4212a547a5833d4b3c0f36665c31da83c7/src/pages/home/report/ReportActionCompose.js#L350-L354

After text content change scroll to the end

[code]

https://user-images.githubusercontent.com/77761491/150580210-ca1a98ed-3fb3-491b-8d0d-8abb4576a925.mov

[2022-01-21 18:36] kbecciv opened #7361 "Workspace - Endless loading after delete the Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Launch the app
2. Log in with any account
3. Select any Workspace
4. Select "Delete Workspace"

## Expected Result:
The Workspace deleted succes

[2022-01-21 18:54] stephanieelliott commented on #7076
Doubled price to $500: https://www.upwork.com/jobs/~01edb430d0041775c7

[2022-01-21 19:33] mananjadhav commented on #6891
@parasharrajat @Julesssss Draft PR raised. I'd like to highlight a gap with the uncontrolled implementation of the `BaseTextInput` implementation. Due to this, the "/" that I am adding, doesn't update the text automatically in the input.

I can see @parasharrajat's conversation in the slack thread. Are we making any changes as per the conversation?

[2022-01-21 19:46] neil-marcellini commented on #7361
I've encountered this and I get the error `[Onyx] Out of storage` after deleting the workspace.

[2022-01-21 19:57] kakajann commented on #6592
@dylanexpensify accepted

[2022-01-21 20:00] parasharrajat commented on #6891
@mananjadhav Could you please share your point on the thread as well? It seems like it needs more weightage.

[2022-01-21 20:05] mallenexpensify commented on #5952
Paid @kidroca $1000

[2022-01-21 20:05] #5952 closed

[2022-01-21 20:08] parasharrajat commented on #7317
@nlundgren Thanks for your proposal. Although the steps are clear, you need to add more information.
1. Where will you make these changes?
2. How will you do that?
3. Code samples?

[2022-01-21 20:10] mallenexpensify commented on #6563
Paid @K4tsuki $250
@parasharrajat can you apply so I can pay for C+ https://www.upwork.com/jobs/~01ff25496a7aa2449e

[2022-01-21 20:13] parasharrajat commented on #6563
@mallenexpensify Done.

[2022-01-21 20:20] parasharrajat commented on #7121
Yup, That's true.

But what if we start a listener when onHoverIn is fired for a few ms and see if the user stopped scrolling at the end of that ms and if so, force the menu rendering on ReportActionItem. If the user was never scrolling then we don't need to start the listener.

[2022-01-21 20:29] jboniface commented on #7324
here's [this job](https://www.upwork.com/jobs/~019f7e0e52595fc421)

[2022-01-21 20:31] jboniface commented on #7259
I'm switching this to weekly as there is no actionable for me yet. someone at Expensify needs to decide if they want to solve this.

[2022-01-21 20:32] neil-marcellini commented on #5946
After reading the design doc I found out that default rooms are supposed to stick around with (deleted) in the title after their workspace has been deleted. I got the default rooms to show up without needing a refresh by [fetching the default chat reports](https://github.com/Expensify/App/blob/neil-show-default-rooms/src/libs/actions/Policy.js#L116). Thanks for pointing me in the right direction t

[2022-01-21 20:36] neil-marcellini commented on #7361
I would like to work on this one if possible.

[2022-01-21 20:42] parasharrajat commented on #7076
Strange. But I wonder what is the real expectations here.
1. Show an icon on the right.
2. And make it possible to edit each segment of data separately.

From the videos, it seems that it is not Safar Mweb rather Safari web.

[2022-01-21 20:46] mallenexpensify commented on #7206
Still a bit confused... likely because this tracking issue isn't a standard template.  Can you list off GH issues, associated PRs and amount owed?  Thanks @parasharrajat

[2022-01-21 20:47] jboniface commented on #7123
@parasharrajat just hired you in upwork for this, i can pay when you respond. sorry for delay.

[2022-01-21 20:47] parasharrajat commented on #7181
Didn't find any solution that works on each platform yet. I am looking to find a universal design approach.

[2022-01-21 20:50] jboniface commented on #6769
paid but forgot to close

[2022-01-21 20:50] #6769 closed

[2022-01-21 20:52] mallenexpensify commented on #6910
Thanks @chiragsalian
@K4tsuki can you apply and confirm here when you have?
https://www.upwork.com/jobs/~01edf0f0a8f389686b

[2022-01-21 20:55] Jag96 commented on #7026
Still haven't gotten to this, posting the diff I was using for testing:

[code]

[2022-01-21 20:55] parasharrajat commented on #7206
It is in the issuing body. There are many that I didn't add to the list as the issue might look the same but for a different location. Mostly, I was hoping for one fixed amount, not for all the issues based on the following work done.

1. This issue required me to create an issue and PR on the third-party repository.
2. After there was no response, I sent the same PR to our Fork https://github.com

[2022-01-21 20:57] mananjadhav commented on #7076
I thought so but there too I don't get the slashes in input (automatically) and format is also "YYYY-MM-DD" in placeholder.

![image](https://user-images.githubusercontent.com/3069065/150599049-13fc98fe-2141-4ece-873d-45aa99cdaabd.png)

[2022-01-21 20:57] parasharrajat commented on #7123
No worries @jboniface. Just accepted.

[2022-01-21 21:01] mallenexpensify commented on #7315
Got a lil behind this week, job's posted https://www.upwork.com/jobs/~01871dd2f8bd13e321

[2022-01-21 21:03] parasharrajat commented on #7076
Maybe it is recently changed. We may have to redefine the scope now. @puneetlath Could you please help? I am not sure what should be done here now. The only remaining item that I see is to add the icon to the date-picker. But $500 sound like much for that.

[2022-01-21 21:07] mallenexpensify commented on #5620
@NikkiWines let me know if I can help with testing too, I don't know how snag logs for this.  I'm still experiencing the issue

[2022-01-21 21:13] zoontek commented on #5620
@mallenexpensify With the version that embed the module? Then it's not probably not the module.

[2022-01-21 21:16] iwiznia commented on #6912
Hi @murataka, thanks for investigating the issue!
From the comments above, it seems you identified the problem and found a solution. Our approach on all our open source issues is to first discuss the solution with the contributors in order to make sure we all agree on the solution and that it is the best solution we can find. So we do not hire anyone before we can evaluate the solution.
I know thi

[2022-01-21 21:19] mallenexpensify commented on #5620
Experiencing issue on production iOS app, v 1.1.30-3 @zoontek

[2022-01-21 21:21] rushatgabhane commented on #7325
I'm not able to receive any notifications on firefox for Ubuntu and Win11 (I have them enabled and focus assist is off).
So I can't verify the proposals here.

unassigning myself @Jag96

cc: @parasharrajat feel free to review this one.

[2022-01-21 21:22] zoontek commented on #5620
@mallenexpensify I don't think it includes the new module yet (cf this message: https://github.com/Expensify/App/pull/7096#issuecomment-1017945124). But maybe others could confirm.

[2022-01-21 21:22] parasharrajat opened #7363 "[Tracking] Active navigational issues"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
I have started to notice a couple of navigation issues. Creating this issue to help us better manage those and track their solutions.

## List of issues
- [x] https://git

[2022-01-21 21:23] neil-marcellini commented on #7360
This is a reproducible bug and it might require working with our API so I've assigned it to Demolition.

[2022-01-21 21:24] mallenexpensify commented on #7206
Does $500 seem fair?  If not, I'll loop in a CME to review

[2022-01-21 21:25] parasharrajat commented on #7206
Yeah, it seems fair to me.

[2022-01-21 21:26] danieldoglas commented on #7259
I'll assign this to myself and work on it next week.

[2022-01-21 21:32] parasharrajat commented on #6591
Thanks for the details. I will analyze it asap.

[2022-01-21 21:34] murataka commented on #6912
I already tried to explain the root causes of the bug , so I think I shall share the code changes need to be made , and additional to my comments above , I hope that will be more clear for you.

### ReportScreen.js

[code]

### SidebarLinks.js
[code]

### MainDrawerNavigator.js

[code]

[code]

This is pretty the whole solution,

[2022-01-21 21:34] kidroca commented on #7361
It's probably not an out of storage error
We just throw that for any storage error that happens (in Onyx)

I think the actual problem is we're calling Onyx.set with null and AsyncStorage rejects that

We should either
- call Onyx delete/remove
- Or handle null in Onyx.set and call delete internally

[2022-01-21 21:38] kidroca commented on #7361
This must be an update to AsyncStorage that happened recently as before it was working with setting a key to null

Or maybe it only happens for multi set...

But I'm certain I saw AsyncStorage complaining for adding a null value yesterday

[2022-01-21 21:47] NikkiWines commented on #6562
@K4tsuki, introducing an `editedtimestamp` is an interesting idea and reduces my concerns around potential issues with modifying the main timestamp.

Yeah, adding a limit would be another fix for this. I'm not sure if we'd want to implement a time limit for editing and deleting, but it's an idea. Another reason a slack conversation might be good for this issue.

[2022-01-21 21:53] mallenexpensify commented on #7010
@stitesExpensify @roryabraham you two cool with closing this based on Rajat's reasoning above?

[2022-01-21 21:54] jahanzaibbaloch99 commented on #7315
In the reference of Upwork proposal.
There are two possible way i could achieve this the first one is

1- on CloseAccountpage.js file we would call the the componentWillunmount and check with condition if user has Going back from the page without setting modal state to false we would update the modal state to its initial state which is false.

2- on CloseAccountPage.js file we would Check the App

[2022-01-21 21:58] stitesExpensify commented on #7010
I'm fine with closing this. @roryabraham can have the final call

[2022-01-21 21:58] mallenexpensify commented on #7352
cc @kursat since you worked on https://github.com/Expensify/App/issues/5142
In case you wanted to work on this

[2022-01-21 22:00] murataka commented on #6912
in case you want to test,

You shall also need the below lines  at MainDrawerNavigator.js :
[code]

[2022-01-21 22:06] mallenexpensify commented on #7206
Invited you to this job, let me know when you've accepted
https://www.upwork.com/jobs/~016f56f9544eeb82d4

[2022-01-21 22:13] parasharrajat commented on #6563
Just did. @mallenexpensify.

[2022-01-21 22:13] parasharrajat commented on #7206
Accepted. Thanks for looking into this.

[2022-01-21 22:21] rushatgabhane commented on #7268
@sobitneupane Nice find!
I understand what you mean,

[2022-01-21 22:22] mananjadhav commented on #7316
@roryabraham @parasharrajat @NikkiWines  Are we storing the environment-wise URL anywhere?

Few options:
1. `CONST.NEW_EXPENSIFY_URL` -> Being used right now but it is hardcoded as `https://new.expensify.com`
2. `CONST.NEWDOT` -> `new.expensify.com` this one's hardcoded too
3. `CONST.ACTIVE_ENVIRONMENT_NEW_EXPENSIFY_URL` -> This either takes `staging.new.expensify.com` or `new.expensify.com` based

[2022-01-21 22:26] rushatgabhane commented on #7268
@sobitneupane Nice find!

Let's **not** go with 2nd solution because it'll still show the comment as edited briefly in the UI.
https://github.com/Expensify/App/blob/74cf52fea3a69f1c3503215defdd75de94b0881c/src/libs/actions/Report.js#L1405

[2022-01-21 22:36] parasharrajat commented on #7316
You can use `CONST.ACTIVE_ENVIRONMENT_NEW_EXPENSIFY_URL`.

[2022-01-21 22:54] murataka commented on #5620
Hello, I am waiting for an other proposal to be accepted , and I'm in idle state now. is this issue already assigned to someone ? Should I have a look and try to find a solution  or wait ? Thanks !

[2022-01-21 23:14] murataka commented on #6912
let me know if you are trying to test it , there might be missing changes still . I don't know if  this is the right way to evaluate the proposal in case you are trying to test it  .

[2022-01-21 23:35] mallenexpensify commented on #6563
Paid @parasharrajat $250

[2022-01-21 23:35] #6563 closed

[2022-01-21 23:37] mallenexpensify commented on #7206
Hired, let me know when you've accepted. This issue can be closed once paid, right?

[2022-01-21 23:40] murataka commented on #6912
ReportScreen.js

 `       const reportID = this.props.currentlyViewedReportID;
`

Please let me know if sharing the code will be mandatory for all bugfix issues for my next proposals, or if there's some way to not make that progress so long so I can take action about it ..

[2022-01-21 23:44] parasharrajat commented on #7206
Ok. I accepted it. Fix the deployed to prod in https://github.com/Expensify/App/pull/7254 yesterday. it can be closed now but I have no issues if you want to wait for 7 days.

[2022-01-21 23:48] murataka commented on #6912
https://user-images.githubusercontent.com/5358438/150614123-7e6b89f9-4615-4cf4-9170-f9f24e73eaf4.mov

[2022-01-21 23:50] mallenexpensify commented on #7206
Paid since this is a unique issue and I don't want to forget.  cc @Beamanator , let's all think of how to best manage fixes in external libs.  I guess we just need one issue like this that has all the details and for the proper labels to be added so that CM and likely CME (so they can help determine price/complexity?) have 👀 on the fix and so the CM can pay.

[2022-01-22 00:06] mallenexpensify commented on #7123
Looks like you've been paid @parasharrajat this should be closed, right?

[2022-01-22 00:13] parasharrajat commented on #7123
Yeah

[2022-01-22 00:15] mallenexpensify commented on #7093
Paid @thesahindia $500 - $250 for job and $250 for reporting.
@thesahindia in the future, can you **not** add the milestone to denote that you're due more $$$, with our current process it's likely to confuse a Contributor Manager (CM) when they see.  If for some reason you're not properly compensated for an issue, you can comment on it and the CM can rectify it.

@rushatgabhane can you apply here

[2022-01-22 00:17] rushatgabhane commented on #7093
Thanks!

[2022-01-22 00:19] murataka commented on #4612
Hello,

Currently the shourtcuts seem to be not configured in this version already :

### CONST.js

[code]

Is someone working on it and does some older version include those configuration ? @parasharrajat  I see that you already worked on that. I think I can solve that issue.

[2022-01-22 00:23] puneetlath commented on #7093
Ah, I think this was actually me. I tend to do this so that I don't forget, but I'm happy to stop doing it if that is confusing with our process.

[2022-01-22 00:24] parasharrajat commented on #4612
We are open to proposals. Great to hear you can solve it. Let's see your approach.

[2022-01-22 00:27] murataka commented on #4612
Thanks , I expect that there's an existing configuration somewhere , do you remember if there's more complete configuration of that file ? And sometimes the shortcut keys will overlap with browser shortcuts, shall we stick to previously defined shortcuts and cancel the browser shortcuts where essential ?

[2022-01-22 00:40] parasharrajat commented on #4612
These shortcuts are related to the Desktop app so they are configured on desktop/main.js

[2022-01-22 00:46] murataka commented on #4612
Thanks for that information,

I think we can move all configuration to one file , because it seems better to be able to use same shortcuts on native or browser.

Let me know if this is a good Idea, and I shall have a look if there will be an issue implementing it that way ( if it is possible to make it work same on native and web ) if you think so .

[2022-01-22 00:58] parasharrajat commented on #4612
So CONST.js file lives on the renderer process and Desktop shortcuts on the main process. Apart from it, desktop shortcuts do not use listeners they utilize native Key bindings. It won't be possible atm to have the same config file.

The shortcuts are configured correctly both for web and desktop. The main problem lies in the feature that they are bound to. The feature is not implemented/configure

[2022-01-22 00:59] #7123 closed

[2022-01-22 00:59] neil-marcellini commented on #7275
I was unable to produce this on dev today. I will try on staging and production later.

[2022-01-22 01:08] mallenexpensify commented on #7286
This is a weird one.  I've addressed it here https://expensify.slack.com/archives/C01GTK53T8Q/p1642793354281700?thread_ts=1642364276.040100&cid=C01GTK53T8Q

For this specific issue, what makes sense to me is.. I can take over as CM assignee, @madmax330, you can be CME.  Once this is deployed to production and there are no regressions for 7 days, I can pay @rushatgabhane for reporting and fixing, $

[2022-01-22 01:10] murataka commented on #4612
I would like to hear the  expected behavior regardless of the technical difficulties ( to make it more clear ). Can of course leave it as is, so again , do you think we should try to enable those shortcut keys on browser also ?

Can still leave them in separate configuration files , so we can later decide to make changes according to the intended behavior.

[2022-01-22 01:11] mallenexpensify commented on #7093
hahahahah, I'm sorry @puneetlath , I def stepped on your toes.  If it helps you Puneet, then keep on doing it.  I was trying to get payments issued before the weekend cuz of Upwork's 5-day hold time.

@rushatgabhane I hired you, please accept and @puneetlath will pay next week.  :)

[2022-01-22 01:17] rushatgabhane commented on #7286
@mallenexpensify I really appreciate that! but respectfully I don't believe this should be paid for 😅
It's **not a bug or feature request**, just a very small code cleanup done with no expectation. I hope you understand 😀

[2022-01-22 01:19] puneetlath commented on #7093
No worries!

[2022-01-22 01:22] puneetlath commented on #7056
@thesahindia paid!

And @rushatgabhane sent you a hiring offer.

[2022-01-22 01:23] kavimuru opened #7365 "iOS - Chat - No preview when attaching large pdf file"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Tap on any chat
3. Tap on + sign > Add Attachment > Choose document
4. Choose the attached file in the issue (a large pdf f

[2022-01-22 01:27] #7056 closed

[2022-01-22 01:28] rushatgabhane commented on #7286
I'll make it more explicit the next time

[2022-01-22 02:15] K4tsuki commented on #6876
#### proposal

The problem is setting `selection` property of `TextInput` using state value of `selection` and set this value of text  input selection in `onSelectionChange` could be triggering text input re-render before context menu displayed.

https://github.com/Expensify/App/blob/0bce09177d2aed8c5e377bc758f5241dd22886eb/src/pages/home/report/ReportActionCompose.js#L207-L209

https://github.com

[2022-01-22 03:15] nlundgren commented on #7317
These changes will be made on the on the chat view. I will create a handleKeyboardInput() function and pass it down to the chat component. Once the user opens the + sign while using the keyboard I will use this function to perform the mentioned actions.

In order to know exactly where, I need to spend some more time learning the structure of the project. The main components I saw when going over i

[2022-01-22 03:19] parasharrajat commented on #6876
Thanks for the proposal @K4tsuki. There are few things to consider before we move forward in finding a solution to this problem.

That is my solution or something similar along the line.

Our codebase strictly prohibits the usage of setTimeout unless this is the last resort and we don't have control over the API. So we should try to get away from it as much as possible.

In your first code example

[2022-01-22 03:24] parasharrajat commented on #7317
Ok. I would suggest you take your time to understand the codebase and layout a proper proposal to the problem.

You can head over to README.md file to understand the project structure and contribution guidelines.

Our approach on all our open source issues is to first discuss the solution with the contributors in order to make sure we all agree on the solution and that it is the best solution we c

[2022-01-22 06:06] K4tsuki commented on #6910
I have applied to the upwork job, thank you @mallenexpensify

[2022-01-22 06:26] K4tsuki commented on #5946
You're welcome @neil-marcellini

[2022-01-22 07:16] K4tsuki commented on #6562
slack : https://app.slack.com/client/T03SC9DTT/C01GTK53T8Q/thread/C01GTK53T8Q-1642835315.317400

[2022-01-22 12:40] kidroca commented on #7361
I'm sorry it seems I've introduced this bug here: https://github.com/Expensify/react-native-onyx/blob/41c0ee3fae92f644463d3d95fd510eb0142f950c/lib/storage/providers/AsyncStorage.js#L9-L21

I thought I had this covered it in the storage provider unit tests...

I think we can just stringify everything including `null` (that's the orginal behavior)
I though `AsyncStorage` worked with `null` because i

[2022-01-22 13:08] kidroca commented on #7361
Opened a PR to fix Onyx: https://github.com/Expensify/react-native-onyx/pull/117

[2022-01-22 13:43] sobitneupane commented on #7268
@rushatgabhane While adding comment to the server, only commentText is sent. But the response from the server has html as well which includes `<br />` as line break.
https://github.com/Expensify/App/blob/74cf52fea3a69f1c3503215defdd75de94b0881c/src/libs/actions/Report.js#L1163-L1184

One simple way will be to replace `<br />` by `<br>` before comparing messages.
Addition of
`originalReportAction.m

[2022-01-22 15:52] mvtglobally commented on #7347
Regression is complete
#7331 is failing due to #7360
#7211 is internal QA

Issues logged
#7365
#7360
#7361

[2022-01-22 17:11] brianmuks commented on #7081
**Proposal**:
I will use an Svg image for the skeleton then animate a gradient moving over the skeleton with `react-native-reanimated`.
The skeleton  (content-lazy-loading.svg)  and the gradient (lazy-loader-gradient.svg) will be placed in :
[code]
then the component housing the logic will be placed in :
[code]
The `LazyLoader` component will be rendered here:
https://github.com/Expensify/App/blob

[2022-01-22 19:14] mananjadhav commented on #7081
Are we guys looking to create a small component with SVGs? or a reusable component so that it can be like a library. I've got two ways to solve this.

**1. Single-Use Component with SVGs**

**2. Reusable lib without images**

We create a `GhostUI` component with a basic structure like this.

- Initialize the animation instance with and two functions `startAnimation()` and `stopAnimation()`
[code]

[2022-01-22 19:24] kidroca commented on #6927
Found something interesting

`electron-builder` would include all `node_modules` that are not `devDependencies` in the package.
App being a RN project there are a lot of native platform code inside `node_modules` that is getting packed (and of course it's not needed)
- why does it include `node_modules` - because we have a custom `files` config: https://www.electron.build/configuration/contents.ht

[2022-01-22 19:43] kidroca commented on #6927
It turned out we only build for a single arch already - the build command will use the current architecture
The doubled size was due to `node_modules` and not multiple architectures being built and bundled in one package

An easy change to reduce app size by half would be to move our dependencies to `devDependencies`
Some believe this is the way to go, because front-end apps only use external pack

[2022-01-22 20:50] brianmuks commented on #6908
**Proposal**:

Dismissing the modal will fix this bug like so :

https://github.com/Expensify/App/blob/0bce09177d2aed8c5e377bc758f5241dd22886eb/src/pages/settings/AboutPage/index.js#L58

[code]

[2022-01-22 22:46] brianmuks commented on #6912
**Proposal**
``` Navigation.dismissModal();``` will fix the bug.
We can call the method on this line:
https://github.com/Expensify/App/blob/0bce09177d2aed8c5e377bc758f5241dd22886eb/src/pages/iou/IOUModal.js#L308
or when the transaction has succeeded.

[2022-01-23 04:44] parasharrajat commented on #7081
Thanks for the proposals guys.
1. I don't think we will need the ghost loading for more views any soon. The main view is always going to be chat Body so investing in a generic component might not be worth it.

Using SVG Loader seems a good solution.

But we are missing one important step. How will you detect that chat is loading?
`this.shouldShowLoader` is an illusion to give a sense of loading to

[2022-01-23 05:19] parasharrajat commented on #6591
Ok. It looks like your solution will work @K4tsuki. But I am not sure if this is the best solution but it is the only proposal :chess_pawn: .  I have a could of questions to clarify first so hold tight, I will be back.

[2022-01-23 05:27] parasharrajat commented on #6908
Hmm, there are no new proposals with considerable differences. @hiteshagja 's proposal solves the problem but he has not justified his reasoning.

I am not able to test one of the scenarios from the reproduction steps but it works for the rest two.  I will discuss the best approach to advance on this issue.

[2022-01-23 08:15] K4tsuki commented on #6154
#### proposal

Result (I forgot to activate `next button`):

https://user-images.githubusercontent.com/1313124/150669728-fb12acf0-8730-4645-a2b8-2ad57e6b9736.mp4

The problem is App doesn't handle text selection on `BigNumberPad` onPress. `BigNumberPad` is try to imitate user input but there is no selection handling. Also there is another bug(s) when input IOU amount in `IOUAmountPage` and inserti

[2022-01-23 14:14] Beamanator commented on #7206
Could we make an issue template for these kinds of fixes? It would be nice to have this kind of tracking issue that links to:
1. The PR in the external repo (or even an Expensify fork of an external repo)
2. The PR for E/App which starts using the updated version of the external lib (or fork)
    - This PR may include additional E/App changes
3. The E/App issue that required the external lib chang

[2022-01-23 15:10] brianmuks commented on #6872
**Proposal**
I have noticed that the issue is caused when the value is changed programmatically from outside. The input field needs to be focused for the update to take effect. Notice from the video that when the  `searchValue` is changed
https://github.com/Expensify/App/blob/0bce09177d2aed8c5e377bc758f5241dd22886eb/src/pages/NewChatPage.js#L188
The input field does not get updated. Yet when you n

[2022-01-23 17:09] adelekennedy commented on #7351
Internal: https://www.upwork.com/ab/applicants/1485298618783031296/job-details
External: https://www.upwork.com/jobs/~01f7118b699760b549

[2022-01-23 19:13] AndrewGable commented on #7015
Proposal sounds good :+1:

In regards to this comment: https://github.com/Expensify/App/pull/7366#issuecomment-1019157318

Can you upload a screenshot of this? I'd be curious for what @michaelhaxhiu thinks on this specific UX.

[2022-01-23 20:04] rushatgabhane commented on #7351
🎀👀🎀 C+ reviewed

Seems straight forward, I like @mdneyazahmad's proposal.

cc: @Beamanator

[2022-01-23 20:42] mallenexpensify commented on #7350
This is happening consistently for me via the steps listed in the OP.  @tylerkaraszewski seems like it's an issue a contributor can work on, right?
![image](https://user-images.githubusercontent.com/22508304/150697238-0c4798db-a940-4e50-8443-126fff2aa3d2.png)

[2022-01-23 22:10] rushatgabhane commented on #6154
I recently tested that the cursor jumping bug isn't present on release variants of the app. Feel free to update your proposals.
cc: @zmays @K4tsuki

[2022-01-23 22:15] rushatgabhane commented on #6154
@K4tsuki I find your proposal interesting, but it feels like a workaround.

I'm gonna refer [Rajat's points](https://github.com/Expensify/App/issues/6876#issuecomment-1019030061) since both of your proposals are similiar.

In your code example, you are remounting the TextInput which is not really the React way. The same thing should be achieved either from props or the state.

[2022-01-23 22:32] sig5 commented on #6154
*Proposal*
There are a few changes that can be done in order to rectify the above issue:
1. We need to add a `selection` object as the state of the `IOUAmountPage.js`. This state is used by Inputs to track the selection start and selection end points.
[code]
2. The state will be passed down to our `TextInputAutoWidthWithoutKeyboard` Component.
[code]
3. The onSelectionChange  listener for our sele

[2022-01-23 22:52] rushatgabhane commented on #6154
Thanks for your proposal @sig5
It has the same issue - **Copy / Paste menu is not being displayed** https://github.com/Expensify/App/issues/6876

But I believe we can safely ignore this. Once #6876 is fixed, it should be fixed here too!

https://user-images.githubusercontent.com/29673073/150701161-6e0a7a33-f778-4656-804b-b949062c6346.mp4

[2022-01-23 23:09] rushatgabhane commented on #6154
@parasharrajat wanted your input on [my comment above](https://github.com/Expensify/App/issues/6154#issuecomment-1019584341) since you're assigned to 6876.

[2022-01-23 23:10] rushatgabhane commented on #6154
@parasharrajat could you please add your thoughts on [my comment above](https://github.com/Expensify/App/issues/6154#issuecomment-1019584341) since you're assigned to 6876.

[2022-01-23 23:31] murataka commented on #6912
that time the green (+) button to request money will cause chat to switch to the report chat for that last request made. Have no idea about the intended behavior though.

[2022-01-23 23:43] parasharrajat commented on #6154
I haven't tested it but are you saying that copy paste menu issue is also occuring on this input when we use selection prop. @rushatgabhane

And 6876 only handles composer input so that won't the same issue here. Can we use selection api here instead of prop?

[2022-01-23 23:48] rushatgabhane commented on #6154
Yes

[2022-01-23 23:53] rushatgabhane commented on #6154
Alright thanks!
Let's see if selection api helps with the paste menu.

[2022-01-23 23:59] K4tsuki commented on #6154
Isn't Selection API related to web.
This is  native problem.

[2022-01-24 00:13] parasharrajat commented on #6912
I am having a hard time putting all the pieces together. @murataka. So I would request you to write down the complete proposal.
- Explain to me why and how you think that `this.storeCurrentlyViewedReport()` is causing the issue?
- Your proposed changes against the issue.
- Explain your changes, not just the code.

Most of the time testing the proposal is not required.

[2022-01-24 00:16] parasharrajat commented on #7206
Yeah, I liked the template suggestion.

[2022-01-24 00:17] murataka commented on #6912
I apologize for being complicated, that is because I am so new here, still trying to get used to. Let me try to be more clear ( As much as I can )

[2022-01-24 00:19] brianmuks commented on #6912
@parasharrajat what do you think of my solution ?

[2022-01-24 00:24] parasharrajat commented on #6912
@brianmuks Please read [this post](https://github.com/Expensify/App/issues/6912#issuecomment-1005168037) and let me know what do you think?

[2022-01-24 00:31] parasharrajat commented on #3245
Any update @mananjadhav ?

[2022-01-24 00:35] murataka commented on #6912
This in fact might need further discussion maybe in the slack channel. Because updating the Onyx variables at the render flow is not a good idea. Example case :

[code]
This will recursively cause the React renderer to render ParentComponent . I did not test that , but may do a quick test if I'm right if you ask so . Also look at hist issue : https://github.com/Expensify/App/issues/5930

[2022-01-24 00:38] brianmuks commented on #6912
Thanks very helpful 🙏🏾 .

So I discovered that whenever the modal is opened going back to the chats before closing the modal affects the state of the chat screen .  On the other hand closing the modal then navigating back to the chat screen maintains the state of the chat screen. I am not yet sure of the underlying cause.

[2022-01-24 00:45] K4tsuki commented on #6154
Thank @parasharrajat
using `textInput.setNativeProps({selection});` works.
Then conditional return in render above and setTiemout cold be removed.
This solve `remounting` and `setTimeout` in @parasharrajat  comment:

In your code example, you are remounting the TextInput which is not really the React way. The same thing should be achieved either from props or the state.

[2022-01-24 00:56] murataka commented on #6912
we are currently using this variable instead of currentlyViewedReportID
`    const last = ReportUtils.findLastAccessedReport(reports, ignoreDefaultRooms);
`
But this variable is not the same , so when we use the green (+) button to request transaction , the active chat window switches to last made transaction. Even if that is the intended behavior , we should still use currentlyViewedReportID in i

[2022-01-24 01:05] parasharrajat commented on #6912
@brianmuks

 First, we need this behavior to fix another bug where drafts do not update on report change. So we reset the navigation state.
 Second, in the navigation action, first, the side modal is closed and then the drawer is loaded with the correct report. You can try to debug the navigation action and observe the same.

 That post points out that ` I am not yet sure of the underlying cause.`

[2022-01-24 01:08] murataka commented on #6912
The bug will happen if you previously switched between conversations before making transaction.

It switches to  that variable :

`const last = ReportUtils.findLastAccessedReport(reports, ignoreDefaultRooms);`

So it is not random.

[2022-01-24 01:16] parasharrajat commented on #6912
Ah, I see. But I think `currentlyViewedReportID` is not synced across devices so it won't help us preserve the lastViewreport functionality.
1. User should land to the last viewed report on any device.
2. Then he should be able to switch to any report he wants which will become last viewed.
2. last Viewed report should only act when a user opens the app for the first time.
3. We pass `const last =

[2022-01-24 01:21] murataka commented on #6912
I don't think this will be an issue because I'm not replacing all code to use `const last = ReportUtils.findLastAccessedReport(reports, ignoreDefaultRooms);`

It is still being used where it should be used, so `last Viewed report should only act when a user opens the app for the first time.` won't be affected . this is why I told that may need to check further , and that comment is helpful about t

[2022-01-24 01:25] parasharrajat commented on #6470
Can't we do something like this?
[code]
[code]
[code]

[2022-01-24 01:28] murataka commented on #6912
[code]

[2022-01-24 01:31] murataka commented on #6912
[code]

[2022-01-24 01:31] rushatgabhane commented on #6154
@K4tsuki perfect!
Can you please update your proposal to reflect the changes?

[2022-01-24 01:35] murataka commented on #6912
ReportScreen.js
[code]

[2022-01-24 01:38] murataka commented on #6912
@parasharrajat  Should I prepare those changes at a commit ? This is taking some time to compare maybe ?

[2022-01-24 01:41] parasharrajat commented on #6912
I understood your proposal but I still have my own doubts. I will look into it later. Currently AFK.

[2022-01-24 01:44] murataka commented on #6912
ok , I shall prepare a commit on my own clone and it will be easier to examine , also will check about componentDidMount case if it is an issue .

[2022-01-24 02:36] rushatgabhane commented on #7268
@sobitneupane that'll only replace first instance of `<br />`.
We should use this instead - `replace(/<br \/>/g, '<br>')`

This is a good solution, but let's explore what's happening with ExpensiMark and API to arrive at the best possible solution.

<hr />

Like you said,
for any comment we're replacing new line ('\n') with `<br>` using ExpensiMark, and then pass it to the API.

Eg. of text passed

[2022-01-24 02:39] rushatgabhane commented on #7268
I personally think we should do this. It's a one line change.
But it might have internal dependents that might break? So let's get feedback on slack.

[2022-01-24 02:47] murataka commented on #6912
@parasharrajat

You can check the changes here :
https://github.com/murataka/App/tree/playground

[2022-01-24 03:04] murataka commented on #6912
For the componentdidmount issue ,
Eslint already generates that warning below, however as it is being called in a function , eslint is unable to detect that problem , so we are not getting that information currently.

<img width="1440" alt="Screen Shot 2022-01-24 at 06 03 37" src="https://user-images.githubusercontent.com/5358438/150715326-a24982d5-1b08-4cde-a2d5-5d3ec291518e.png">

[2022-01-24 03:33] murataka commented on #6912
Will check further for componentdidmount about updating onyx data.

[2022-01-24 03:58] mananjadhav commented on #3245
Well, I did update the PR and push changes. I tried simplifying it further wasn't able to. Moving EmojiPicker to an independent component is a large part of the full PR. I hope you're able to review this.

[2022-01-24 04:00] mananjadhav commented on #7015
@AndrewGable @michaelhaxhiu @rushatgabhane

https://user-images.githubusercontent.com/3069065/150633707-753c3acb-f6fd-4443-9b4a-21d2adcfacec.mov

You can check this video and take a look at the Toast message.

[2022-01-24 07:18] sobitneupane commented on #7147
@Luke9389 PR is ready for review.

[2022-01-24 09:14] sobitneupane commented on #7261
PR is ready for review.

[2022-01-24 09:38] adeel0202 commented on #7354
### Proposal (If considered external)

As suggested by Rory in the slack conversation, we can just cut out the second sentence in the placeholder.

We can add `welcomeNotePlaceholder: ({workspaceName}) => 'You have been invited to ${workspaceName || 'a workspace'}!',` here.

https://github.com/Expensify/App/blob/0bce09177d2aed8c5e377bc758f5241dd22886eb/src/languages/en.js#L800-L806

and `welcomeNo

[2022-01-24 09:55] Beamanator commented on #7351
Thanks @rushatgabhane , I agree 👍

[2022-01-24 10:06] pecanoro commented on #6872
@brianmuks That's interesting!

@parasharrajat Was there a conclusion in the discussion?

[2022-01-24 11:13] parasharrajat commented on #6872
@pecanoro No. Nobody seems to be interested 😅. Could you please reshare the thread in the Channel?

[2022-01-24 11:30] Julesssss commented on #7184
Okay, so the API hasn't been implemented yet and I can't find an internal issue. We'll need to hold this issue until then.

[2022-01-24 11:43] rushatgabhane commented on #7092
@nickmurray47 I think you forgot to give issue reporting bonus, if it's applicable here😅

[2022-01-24 12:10] Julesssss commented on #7315
I forgot to implement this when building the close account page, it's the correct solution.

[2022-01-24 13:37] dylanexpensify commented on #6592
Payments sent to both of you!

[2022-01-24 13:37] #6592 closed

[2022-01-24 14:09] aldo-expensify commented on #5209
Not overdue, not a priority. With the new design doc and the usage of uncontrolled inputs, this shouldn't be an issue.

[2022-01-24 15:59] tylerkaraszewski commented on #7350
Yes, seems like a contributor could look at it.

[2022-01-24 16:04] bfitzexpensify commented on #7091
@brianmuks do you have an updated proposal / can you address whether or not this will cover native apps to?

[2022-01-24 16:16] bfitzexpensify commented on #6427
Deployed to staging. @songlang1994, once this is deployed to production, this issue will automatically update, and then we'll pay out the fee once there have been no regressions after 7 days.

[2022-01-24 17:55] kidroca commented on #7361
The Onyx PR was merged, updating App's package should be enough to fix the issue

[2022-01-24 17:59] marcaaron commented on #7077
We can definitely figure out some way to do this in the front-end JS...

However, I wonder if we should also add some kind of chat report "default message" report action to the actual list of report actions so we don't need to hack in and superimpose this message onto the list of report actions.

This feels like a more appropriate way to do it because otherwise, we'll have a system message that sh

[2022-01-24 18:00] marcochavezf commented on #7354
This issue seems to be happening when Workspace name is longer:

<img width="400" alt="Screen Shot 2022-01-24 at 11 36 10" src="https://user-images.githubusercontent.com/6829422/150835008-ae7c5a63-7ec7-4a79-b2f4-98d37222fc05.png">

I'm going to add the `Weekly` and `External` labels.

[2022-01-24 18:01] mvtglobally commented on #7347
@AndrewGable  let us know if we are good to check off #7331. Hopefully, we can get a new build today.

[2022-01-24 18:07] marcaaron commented on #7077
Gonna take the Help Wanted label off for now. If we verify that we should do a front end JS solution for this we can re-add it.

[2022-01-24 18:08] roryabraham commented on #7354
I think that's a valid alternate solution. Let's get some input from @Expensify/design. Also, right now the app download link is for our legacy app, not NewDot, which is a bit weird and should change with our N7 initiative. IIRC we also aren't actively promoting that people should download NewDot, which makes me think that with N7 we should instead direct new workspace invitees to the NewDot websi

[2022-01-24 18:09] roryabraham commented on #7354
I know I gave the 👍 to this issue in slack, but another valid alternative would be to :do_nothing: for now and address this once we are nearing completion of N7 and can direct new workspace invitees to NewDot with confidence.

[2022-01-24 18:17] AndrewGable commented on #7360
cc @nkuoch and @ctkochan22

[2022-01-24 18:19] AndrewGable commented on #7347
Is #7360 a deploy blocker since it was found testing #7331?

[2022-01-24 18:20] ctkochan22 commented on #7360
@kbecciv Can you tell us the email you used when encountering this error?

[2022-01-24 18:25] adeel0202 commented on #7354
If this needs to be fixed, then changing `minHeight` of the text area from `100` to `115` would be a quick and simple fix.
![Simulator Screen Shot - iPhone 13 - 2022-01-24 at 23 23 51](https://user-images.githubusercontent.com/13783842/150841742-344cb50a-512e-49eb-9877-c25835475dd1.png)

[2022-01-24 18:35] neil-marcellini commented on #7275
I'm unable to produce this on production or staging so I'm going to close this one.

[2022-01-24 18:35] #7275 closed

[2022-01-24 18:38] mvtglobally commented on #7347
@AndrewGable  because feature is not fully in PROD, we were asked not to add Blocker label even if its failing PR. But since this one we can't properly check in PROD even later, I feel you should take a second look and decide.

[2022-01-24 18:41] kbecciv commented on #7360
@ctkochan22 The Issue is retrodictive for any emails. Tester used email: applausetester+12022@applause.expensifail.com Password: Qwerty123

[2022-01-24 18:48] marcaaron commented on #7077
Ok so just chatted with the team and here is a basic design idea that should work:

1. All chat reports should have a report action actionType of `CREATED`
![2022-01-24_08-38-36](https://user-images.githubusercontent.com/32969087/150844452-e97e9c12-544f-4bce-8797-5e81fa467c61.png)
2. We are filtering this out here
https://github.com/Expensify/App/blob/8bd71de2aa0e907b75b31c374cb7eecd7242a008/src/p

[2022-01-24 18:56] roryabraham commented on #6627
The fix for this was deployed to production 6 days ago. There were some comments on the PR but it sounds like an unrelated bug. So @adelekennedy I think we should be good to pay this out tomorrow.

[2022-01-24 18:58] roryabraham commented on #5894
@sidferreira It's been 10 days since you provided your last update. Can you please provide us with a status update on this issue?

[2022-01-24 19:06] sig5 commented on #7077
**Proposal**
According to the problem, the Empty state has to be shown at the very top of the list of messages.
We can change the following lines in **ReportActionsView.js**

***Changes***

1. Since we want to show the header irrespective of if the chat has started or not, there is no need for the conditional rendering of the following subcomponent.
https://github.com/Expensify/App/blob/60671001cc

[2022-01-24 19:07] AndrewGable commented on #7360
@ctkochan22 - Should this block the release? It sounds like it's possibly behind [a beta flag so we are OK](https://github.com/Expensify/App/issues/7347#issuecomment-1020419625)?

[2022-01-24 19:07] sidferreira commented on #5894
@roryabraham I had some hard time past week, I hope to be able to run the tests this week. If you think is best, feel free to unassign me...

[2022-01-24 19:11] kidroca commented on #7361
Submitted a PR to update Onyx and tested all platforms: https://github.com/Expensify/App/pull/7370

[2022-01-24 19:20] ctkochan22 commented on #7360
Looking

[2022-01-24 19:24] neil-marcellini commented on #7266
I was unable to reproduce this error on staging and production.

[2022-01-24 19:24] #7266 closed

[2022-01-24 19:28] sig5 commented on #7077
**Proposal**
According to the problem, the Empty state has to be shown at the very top of the list of messages.
We can change the following lines in **ReportActionsView.js**

***Changes***

1. Since we want to show the header irrespective of if the chat has started or not, there is no need for the conditional rendering of the following subcomponent.
https://github.com/Expensify/App/blob/60671001cc

[2022-01-24 19:50] kadiealexander commented on #7261
Don't worry about the above @sobitneupane, it's already done. :)

[2022-01-24 20:02] thienlnam commented on #7352
@kursat Hey Kursat! Just looping back to this issue https://github.com/Expensify/App/pull/6732, could you comment some additional context where data-testID comes from and what significance it serves?

[2022-01-24 20:10] trjExpensify commented on #7354
Yeah, the links on the /download page were pointing to NewApp and that was causing confusion among members being invited to the free plan. OldApp is the place to track expenses for the time being, so we should direct them there until N7 is out the door.

If the design team don't have any qualms with increasing the `minHeight`, I'd be in favour of doing that. 👍

[2022-01-24 20:12] marcaaron opened #7371 "Staging always hits the staging-secure endpoint"
# Problem

We added the ability to toggle between staging and production secure endpoints in staging versions of the app.
However, the `.env.staging` file points to the `staging-secure` www instead of hitting production by default

# Why is this important?

We need this so we can test certain secure flows on staging app versions. Otherwise, they have to be tested on production.

# Solution

Fix th

[2022-01-24 20:23] roryabraham commented on #7352
I too am trying to figure out where this comes from. It seems like it might be an implementation detail from either react-native-render-html or react-native-web 🤔

If that's the case, I think we need to decouple the `SelectionScraper` implementation from the `data-testid` attribute and instead make it reliant upon something we set explicitly in our app. I am still trying to understand all the impl

[2022-01-24 20:28] MitchExpensify commented on #7363
Thanks @parasharrajat, tracking issue looks good. I don't think any further triage action is required of me but let me know if you think otherwise

[2022-01-24 20:56] kadiealexander commented on #7352
Posted to upwork: https://www.upwork.com/jobs/~0104b0a207be0dbbcb

[2022-01-24 20:58] MitchExpensify commented on #7360
This was reported by Applause so removing my assignment as no payment will be required even if fixed

[2022-01-24 20:59] ctkochan22 commented on #7360
Okay, I think it specific to our testing info that lets you skip steps. I tested it with random data, and I was able to hit onfido and get to the verifying state as per expected.

As for this being a blocker, I think maybe. As this will prevent QA from testing cases if they can't add VBA's that skip VERIFYING. Looking into it and hoping to CP a fix

[2022-01-24 21:18] ctkochan22 commented on #7360
This user is getting a `[BankAccountSetup] BankAccountAPI - Bank account still in Setup state after ACHContract step??? ~~ bankAccountID: '1429407'` error

[2022-01-24 21:24] OSBotify commented on #7360
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-24 21:25] AndrewGable commented on #7347
Added deploy blocker label for now.

[2022-01-24 21:32] parasharrajat commented on #7077
Proposal looks good to me as well.

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-24 21:35] ctkochan22 commented on #7360
**Reproduction Steps**
1. Use sandbox credentials for any connection
2. Follow the steps in the SO to add a VBA in the PENDING state
3. You'll skip Onfido as expected, but you'll be stuck on the Additional INformation/ACH Contract Step

[2022-01-24 21:52] marcochavezf commented on #7353
@parasharrajat cool! That proposal looks good, assigning you.

[2022-01-24 22:07] roryabraham commented on #7316
While we're at it, can we please get review all the URL constants and settle on one that's environment-specific and call it `NEW_EXPENSIFY_URL`, and get rid of all the others?

[2022-01-24 22:26] ctkochan22 commented on #7360
Not quite sure how this got through QA. Its throwing an error here: https://github.com/Expensify/Web-Secure/blame/03fa6dbc71d94bf1c18e7e6d5e325ff6a58466c2/lib/BankAccount/VerificationAPI.php#L657-L659

However, I don't see where this was changed recently.

If you add in the test credentials, you'll skip onfido. But because you do, we'll hit that error and prevent you from moving forward

[2022-01-24 22:29] mountiny commented on #7334
The Upwork job is not out yet, but surely it will be soon. If anyone already has some proposals already now, feel free to drop them here:)

[2022-01-24 22:37] stitesExpensify commented on #7146
I'm going to go with Rajat's proposal since he initially reported the issue.

@parasharrajat my only question is why you want to put `Report.saveReportActionDraft(this.props.reportID, this.props.action.reportActionID, '');` in deleteReportComment instead of just the callback for the confirmModal be that and `deleteDraft`?

[2022-01-24 23:07] adelekennedy commented on #6627
Noted! Have it on my calendar to pay out on 1/25 - then I will close the job

[2022-01-24 23:21] joelbettner commented on #7361
@kidroca I'm going to close this issue. Feel free to re-open if need be.

[2022-01-24 23:21] #7361 closed

[2022-01-24 23:53] #7093 closed

[2022-01-24 23:54] puneetlath commented on #6584
Yep, I basically decided to bypass that and hire you anyways as C+ on this because I think it will be helpful to have.

[2022-01-25 00:03] parasharrajat commented on #7146
Deletedraft function calls the focus but I will see what is best in the PR. Mainly I will clear the draft.

[2022-01-25 00:06] parasharrajat commented on #7316
Yeah, They are confusing and some of them use Cash keyword so probably better to clean this up.

[2022-01-25 00:17] parasharrajat commented on #3922
Update: All PRs for the issues are done. But there were two small issues were reported by Shawn related to UI. I will send another small PR to cover that.

[2022-01-25 00:22] stitesExpensify commented on #7146
Sounds good.

[2022-01-25 00:22] stitesExpensify commented on #3922
Great, looking forward to it!

[2022-01-25 00:28] ctkochan22 commented on #7360
The bank account is set to SETUP. However, in order to get out of SETUP on to the next step, PENDING or VERIFYING, we use the [method](https://github.com/Expensify/Auth/blob/40bbc9e8e56f5f23db1226ee18a45d93aa82ad00/auth/lib/BankAccount.cpp#L2657-L2668) `BankAccount::getStateToSet()`. Which must pass `isSetupComplete()` [method](https://github.com/Expensify/Auth/blob/40bbc9e8e56f5f23db1226ee18a45d9

[2022-01-25 00:40] K4tsuki commented on #6154
#### proposal

My proposal is similar to my previous proposal.
But I Will make `IOUTextInput` that wrap or above`TextInputAutoWidthWithoutKeyboard` that act like `TextInputFocusable` that I explain above for native. For web then no change, just return `TextInputAutoWidthWithoutKeyboard`.

My plan is:
Will make reference to this element in `IOUAmountPage` and move validation function inside this el

[2022-01-25 00:48] parasharrajat commented on #3922
Submitted the PR https://github.com/Expensify/App/pull/7373. **Sorry for the delay in this task. There were many bottlenecks but I am happy it is done now**.

Apart from it, I wanted to discuss the task compensation. First, the job is closed on Upwork. so a new job might be needed. The previous job was priced at $375. But that value does not satisfy the work done for this task.

There are a couple

[2022-01-25 01:03] parasharrajat commented on #3245
Ok. Thanks. That PR is still in WIP. Please ping me when that is ready.

[2022-01-25 01:06] parasharrajat commented on #6912
I will review this thoroughly today. But I don't understand https://github.com/Expensify/App/issues/6912#issuecomment-1019627837.
https://github.com/Expensify/App/issues/6912#issuecomment-1019631496

How will you load the lastViewed report on the Drawer? In that code you are picking the `currentlyViewedReportID`.

[2022-01-25 01:07] ctkochan22 commented on #7360
**Solution:**
After this PR, we also check the presence of onfidoData -- https://github.com/Expensify/Auth/pull/6324 when checking if a VBA's setup is completed

When marking Onfido as complete for testing information, lets also add `onfidoData` so it'll pass that test in auth as well
cc @nkuoch

[2022-01-25 01:17] ctkochan22 commented on #7360
Fix is up. @nkuoch is Web Deployer and is the best person to review, CP, and test

[2022-01-25 01:25] ctkochan22 commented on #7360
Already fixed by https://github.com/Expensify/Web-Secure/pull/2143 . Thats my brain fart of the day. Going to CP  it to staging and test

[2022-01-25 01:29] stitesExpensify commented on #3922
Thanks for all of the work @parasharrajat !
@JmillsExpensify I definitely agree that the compensation should be increased :+1:

[2022-01-25 01:35] NikkiWines commented on #6562
Thanks for posting there @K4tsuki  - I see puneet already commented but let's see if anyone else jumps in with any opinions. If there's no movement on it by tomorrow I'll bump the thread in Slack to see if we can get more eyes on it.

[2022-01-25 01:45] ctkochan22 commented on #7360
![image](https://user-images.githubusercontent.com/12980144/150895269-4cd041ec-0379-483c-8c53-ea5f56f314dc.png)
@nkuoch 's pr fixed it.

[2022-01-25 01:45] #7360 closed

[2022-01-25 01:55] mallenexpensify commented on #7286
How about $250 then @rushatgabhane ?  We want to encourage contributors to post all bugs/improvements and to fix them. Some of them are tiny, some note

[2022-01-25 01:57] murataka commented on #6912
I have continued to work on it , will let you know after updating it again . I think we are on the same page that we need to have more control to manage when to switch the viewedreport (active chat or whatever you say).

I had found some more changes needed to be made , like Navigaton.navigate was called at requestmoney completion, but not sendmony (IOU implementation) .

Bringing all together , c

[2022-01-25 02:02] mallenexpensify commented on #6910
Hired you @K4tsuki , let me know when you accept and I'll pay

[2022-01-25 02:05] mallenexpensify commented on #6927
@marcaaron @iwiznia can you review the above? (not time sensitive).  Cutting the file size in half would be a big improvement.

[2022-01-25 02:15] mallenexpensify commented on #7206
Thanks @Beamanator .  I like the breakdown.  My only question/concern is... how often does this happen? Now and in the future?  If it's only a handful of times a year, do we want a template featured that rarely gets used?

If not we could just add to an internal StackOverflow post but, ideally, it's much better to have these details visible to contributors _somewhere_

[2022-01-25 02:20] murataka commented on #6912
<img width="1438" alt="Screen Shot 2022-01-25 at 05 17 58" src="https://user-images.githubusercontent.com/5358438/150898536-9bcb0d50-ba3a-4960-ac66-8ae236e9e11e.png">

No need to navigate completed requests . They already order to top , and seems userfriendly, this was already implemented that way on sendmoneyIOU

[2022-01-25 02:23] mallenexpensify commented on #7315
@jahanzaibbaloch99 , thanks for chiming in. This was a pretty quick fix that @parasharrajat had already provided an acceptable solution.  If you're looking for more jobs, [this link](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22) will show all the one's with the `Help Wanted` label.

[2022-01-25 02:25] mallenexpensify commented on #5894
@sidferreira do you foresee being able to get to it this week? If so, let's leave ya assigned.  In the future, try to provide daily, or at least frequent, updates on issues.  We recently updated the CONTRIBUTING.md to include the below ([link](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#:~:text=Daily%20updates%20on%20weekdays%20are%20highly%20recommended.))

[2022-01-25 02:36] rushatgabhane commented on #7286
@mallenexpensify that sounds good, thanks 😄

[2022-01-25 02:41] K4tsuki commented on #6910
@mallenexpensify I have acceted the offer, thank you.

[2022-01-25 02:45] mvtglobally commented on #6726
Issue not reproducible during KI retests. (Third week) Closing

[2022-01-25 02:45] #6726 closed

[2022-01-25 02:45] mvtglobally commented on #6772
@thienlnam sorry for delay. Missed this message earlier

Issue not reproducible during KI retests. (Second week)

[2022-01-25 02:46] mvtglobally commented on #6931
Issue not reproducible during KI retests. (Second week)

[2022-01-25 02:47] mvtglobally commented on #7023
Issue not reproducible during KI retests. (Second week)

[2022-01-25 02:48] mvtglobally commented on #7068
Issue not reproducible during KI retests. (First week)

[2022-01-25 02:49] mvtglobally commented on #7204
Issue not reproducible during KI retests. (First week)

[2022-01-25 02:51] mvtglobally commented on #7262
Issue not reproducible during KI retests. (First week)

[2022-01-25 02:51] rushatgabhane commented on #7268
@sobitneupane looks like there is no response on slack.  I'll take that as a go ahead.

🎀👀🎀 C+ reviewed

I recommend [@sobitneupane's proposal](https://github.com/Expensify/App/issues/7268#issuecomment-1013918398). It fixes the root cause. Will need to create a PR for expensify-common.

cc: @puneetlath

[2022-01-25 03:00] rushatgabhane commented on #6154
@K4tsuki I don't think we should do that when we're trying to consolidate all the TextInputs https://github.com/Expensify/App/issues/6584

[2022-01-25 03:02] mvtglobally commented on #6873
Issue not reproducible during KI retests. (First week)

[2022-01-25 03:04] mvtglobally commented on #7008
Issue not reproducible during KI retests. (Second week)

[2022-01-25 03:04] mvtglobally commented on #7201
Issue not reproducible during KI retests. (First week)

[2022-01-25 03:04] mvtglobally commented on #7213
Issue not reproducible during KI retests. (First week)

[2022-01-25 03:05] mvtglobally commented on #7267
Issue not reproducible during KI retests. (First week)

[2022-01-25 03:06] mvtglobally commented on #7055
Issue not reproducible during KI retests. (First week)

[2022-01-25 03:07] mvtglobally commented on #7133
Issue not reproducible during KI retests. (Second week)

[2022-01-25 03:14] mvtglobally commented on #6627
@adelekennedy  @roryabraham  Can you check below video. We seem to be able to repro the issue.

https://user-images.githubusercontent.com/43995119/150904211-5ae1e3c9-27ee-4a00-8bae-1eed7c952e16.mp4

 Also, we noticed that exact search match is not always displayed on Top. Not sure if its related to this PR
![Web_6627-2201](https://user-images.githubusercontent.com/43995119/150904320-9c5b60d1-f884-

[2022-01-25 03:20] K4tsuki commented on #6154
@rushatgabhane the name can be changed, but the function is essentially the same.
Should I manage all state in `IOUAmountPage`? But I think this is not best practice, and as you can see inserting a number feels slow because render  is called in `IOUAmountPage` each time user  input a number.

From https://reactjs.org/docs/thinking-in-react.html :

But if you want to combine the states in `IOUAmoun

[2022-01-25 03:32] sig5 commented on #6154
***Proposal***
I would like to add to my previous proposal here: https://github.com/Expensify/App/issues/6154#issuecomment-1019581224
Instead of passing down the selection as a prop, we can use the selection API to update the results in the textInput as follows:
`this.textInput.setNativeProps({selection:this.state.selection})`

https://user-images.githubusercontent.com/48352577/150905797-2de7ab15-

[2022-01-25 03:47] mvtglobally opened #7375 "[$2000] iPad - UI Inconsistency of the popover menus - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app on a iPad
2. Navigate to "+"
3. The Popover menu shows on the left side of the screen

## Expected Result:
On wide iPad devices, the pop

[2022-01-25 03:48] marcaaron commented on #3922
+1 to increase for this. This one needed some extra love and attention, scope increased a bit, and took a fairly long time to complete at no fault of yours. Thanks for your patience with us and flexibility to do things the correct way @parasharrajat.

[2022-01-25 03:52] parasharrajat commented on #3922
Thanks for your guidance as well. I never give up a task but there was a moment when I thought It will never complete.

[2022-01-25 04:01] mvtglobally opened #7376 "Transfer Balance page does not have any account selected and transfer button is always disabled - Reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. Navigate to settings>Payment
3. Check transfer balance display

## Expected Result:
We should hide the transfer button when there is

[2022-01-25 04:05] mvtglobally opened #7377 "Feature Request: Show Keyboard Shortcuts in Tooltip/MenuItem - reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to chat and try to locate keyboard shortcuts  (like in Slack)

## Expected Result:
Show Keyboard Shortcuts in Tooltip/MenuIt

[2022-01-25 04:10] mvtglobally opened #7378 "[HOLD for payment 2022-02-22] Close account button has wrong gap under the button - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Settings>Security>Close Account
3. Check Close Button

## Expected Result:
Close button should have gaps similar to other

[2022-01-25 04:16] mvtglobally opened #7379 "[HOLD for payment 2022-03-17] Close account page - make placeholder static, render primary login in text above input"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Settings>Security>Close Account
3. Check Close Button

## Expected Result:
Placeholder text should be fully visible or wr

[2022-01-25 04:23] mvtglobally opened #7380 "[HOLD for payment 2022-02-22] Android - Close account text box pointer doesn't start on top - Reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open app
2. Navigate to Settings>Security>Close Account
3. Star typing in the Text box

## Expected Result:
Text pointer should start on top

##

[2022-01-25 04:25] parasharrajat commented on #7378
### Proposal
##### early as I reported.

1. Remove the extra added margin from the button.https://github.com/Expensify/App/blob/921fa4fe4a3f36fb332b9e5c854771bec5bfe063/src/pages/settings/Security/CloseAccountPage.js#L99

`FixedFooter` Component automatically applies the correct margin.

[2022-01-25 04:27] mvtglobally opened #7381 "[HOLD for payment 2022-02-09] Closing the Plaid modal should go back to the Payments screen - Reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. Navigate to Settings > Payments > Add bank account > Plaid
3. Navigate Back

## Expected Result:
Closing the Plaid modal should go ba

[2022-01-25 04:38] mvtglobally opened #7382 "[HOLD for payment 2022-03-02] FEATURE REQUEST: Show fixed-size thumbnails in the chat instead of variable dimensions - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to chat and send long attachment
3. Preview thumbnails

## Expected Result:
Show fixed-size thumbnails in the chat

## Actua

[2022-01-25 04:54] mvtglobally opened #7383 "Feature request: We should have forgot password option inside Change password page - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open app
2. Navigate to Settings>Security> Change Password
3. Select Forgot password link

## Expected Result:
We should have forgot password op

[2022-01-25 04:58] mvtglobally opened #7384 "After app crashes and I press refresh/sign out, It directs to login screen - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Initiate any app crash error
3. Click refresh or Sign out
4. Login back without reloading the page

## Expected Result:
User should b

[2022-01-25 04:58] parasharrajat commented on #6912
How to did you end up with the conclusion that they are already on the top. When we request money from some user from the Fab button, how will you navigate the user to that Chat.

[2022-01-25 04:59] songlang1994 commented on #6427
@bfitzexpensify Okay. That sounds good for me.

[2022-01-25 05:09] parasharrajat commented on #7379
#### Proposal
###### proposing early as I reported it.

1. First we should trim the long label with ellipsis by default for all inputs. TextInput component is designed to have only a single-line label.
https://github.com/Expensify/App/blob/921fa4fe4a3f36fb332b9e5c854771bec5bfe063/src/components/TextInput/TextInputLabel/index.js#L16-L20.

we need to add `numberOfLines={1}` to label Text.

2. Showin

[2022-01-25 05:16] kevinksullivan commented on #7322
Sorry just catching up on this @ctkochan22 . So  going forward there is still a generic `Connect bank account` rather than `Test transactions` when we're following up in chat (i.e. in Verifying state), and then `Test transactions` when in Pending? That sounds good to me! We could add the additional `Validate bank account` for the verifying state as well.

[2022-01-25 05:16] parasharrajat commented on #7376
The expected result was a suggestion from me. We should decide the final expected result.
other suggestions could be:
1. Should show that no default account be selected on the Which account section. It is left blank when there is no default account which should not happen.
2. We always select the default account whenever the first payment method is added apart from Paypal. This could be best as th

[2022-01-25 05:18] ctkochan22 commented on #7322
Yes exactly

[2022-01-25 05:19] ctkochan22 commented on #7322
Yeah, happy to change it to `Validate bank account`. It sounds better to me

[2022-01-25 05:20] parasharrajat commented on #6235
Leaving a note.
@kevinksullivan Based on this https://github.com/Expensify/App/pull/7330#issuecomment-1017931459, please hire me whenever ready.

[2022-01-25 05:34] murataka commented on #6912
This functionalities can now be managed as I finished my changes I propose, so we can discuss what the behavior should be . As this issue is related to "request money" only , I tried to make it work similar to the other functionalities like sendMoney.

You should be able to test and compare from here :

https://github.com/murataka/App/commits/fix-wrongreportfetch

[2022-01-25 05:35] kevinksullivan opened #7385 "Make AddPaymentMenu dynamic"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to NewDot on web
2. Select profile > payments
3. Select add payment method
4. Change screen width

## Expected Result:
The payment method d

[2022-01-25 05:41] murataka commented on #6912
ps: I also hope this fix may solve some other issues, so if you conclude that the solution is not bad, we should also test any related issue like https://github.com/react-navigation/react-navigation/pull/10262

[2022-01-25 05:45] mananjadhav commented on #3245
I am a little confused here we spoke PR1, PR2, and PR3, are we saying we track them as completely separate PRs, and merge this one on main first?  or just push incremental updates after every PR stage is reviewed?

Hence I didn't remove WIP.

[2022-01-25 05:59] parasharrajat commented on #3245
Oh. You are making separate PRs. I thought you want to submit one.

Great. yeah, we will track them separately. You will just tag this issue as usual and submit the PR. Every PR, the app should work fine and they will have different QA steps.
So, If you are done with the first step, remove the WIP and DO not merge from the title, and update the QA steps. Also, update the details to indicate what i

[2022-01-25 06:10] murataka commented on #6912
Onyx.merge(ONYXKEYS.CURRENTLY_VIEWED_REPORTID, String(''));

should be called after app initialization , so the below commit won't clear it each time , but I did not yet found where it should be best to clear it yet. https://github.com/murataka/App/commit/ee9565ae880097d18fddf22a18c1abcba2109abe

[2022-01-25 06:13] kevinksullivan commented on #7354
Agreed on `minHeight` and keeping the link as is.

[2022-01-25 06:15] kevinksullivan opened #7386 "Expand personal message textarea to match content in the invite members flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create workspace
2. Go to workspace menu, select `Manage members`
3. Select `Invite`
4. Enter custom text in the `Add a personal message (optiona

[2022-01-25 06:17] kevinksullivan commented on #7386
@Expensify/design @shawnborton @trjExpensify curious what you think here. This feels a bit off to me, though I see the case for showing the optional message persistently. On OldDot we show this outside of the field to begin with, but that isn't consistent with the Newdot design...

[2022-01-25 06:18] kevinksullivan commented on #7354
Found the textbox and placeholder to work a bit weirdly when a custom message is entered as well, so going to open up a separate issue to discuss that in https://github.com/Expensify/App/issues/7386

[2022-01-25 06:21] mateusbra commented on #7380
### PROPOSAL (if considered external)
we need add:
`textAlignVertical="top"` prop to CloseAccountPage.js

[2022-01-25 06:48] Beamanator commented on #7213
That's good b/c the fix is now in production!

[2022-01-25 06:53] parasharrajat commented on #7386
@kevinksullivan That is the label of the field. The placeholder gets hidden when you type anything into it.

[2022-01-25 07:29] brianmuks commented on #7091
@bfitzexpensify let me test it on IOS.

[2022-01-25 08:11] shawnborton commented on #7354
Yeah, perhaps we could just not have placeholder text here but populate the textarea with actual text? And then ideally the textarea just always grows (up to a certain point) to be at least as high as the content placed inside of it.

[2022-01-25 08:13] shawnborton commented on #7386
I think the floating label should stay there to be consistent with other inputs. That being said, perhaps the textarea itself can grow to match the size of the content like the compose box does on chats, up to a certain max-height.

[2022-01-25 09:03] brianmuks commented on #7091
Working perfectly on Android

[2022-01-25 11:03] trjExpensify commented on #7354
Oh, interesting. The textarea is populated with actual text on `v1.1.32-0` (iOS), as that's the default message we're actually sending. I agree it shouldn't be ghost text, not sure where that has come from in the OP screenshot.

[2022-01-25 11:19] trjExpensify commented on #7377
I think this issue needs a few things for the proposal:

- a list of all the keyboard shortcuts we have for the Menuitems
- the proposed keyboard shortcut for the ones we haven't added yet, so we can take a holistic view
- the proposed copy for each tooltip

From there, I think we should ask the design team for their input on how we want to visually display them in the tooltip. E.g within square i

[2022-01-25 11:21] adeel0202 commented on #7354
The problem is the placeholder text and not the prefilled text in the textarea which the user can edit. Because, in case of long text, we can scroll the prefilled text (or the text entered by the user himself), but can't scroll the placeholder text if it's long. So if we decide not to have the placeholder text at all then it will solve the problem.

[2022-01-25 11:23] trjExpensify commented on #7008
Cool, we've hit 7 days since this was deployed to prod. I've settled up with you on Upwork, @aswin-s. Closing this out, thanks everyone! 🎉

[2022-01-25 11:23] #7008 closed

[2022-01-25 11:25] trjExpensify commented on #7036
Settled up on Upwork, @thesahindia. Thank you!

[2022-01-25 11:25] #7036 closed

[2022-01-25 11:28] trjExpensify commented on #6213
👋 Hi Melvin, looks like Mark is waiting for feedback from @deetergp on the PR [here](https://github.com/Expensify/App/pull/6839#issuecomment-1017880782) and we should be good to go. 👍

[2022-01-25 11:32] trjExpensify commented on #7037
7-days since the prod deploy and we're looking good. Settled up with you on Upwork, @mananjadhav. Thanks, everyone! 🎉

[2022-01-25 11:32] #7037 closed

[2022-01-25 11:37] trjExpensify commented on #6676
@NikkiWines are you good with the proposed solution? @K4tsuki can you apply for the job on Upwork in the meantime [here](https://www.upwork.com/jobs/~01d54d4c2a0f4e6417), please.

[2022-01-25 11:43] trjExpensify commented on #7354
Yeah, I don't think we need the placeholder ("ghost") text once a user removes the prefilled text from the textarea.

[2022-01-25 11:56] Julesssss commented on #6836
Taking over from Joe.

[2022-01-25 12:14] NicMendonca commented on #7187
@parasharrajat paid! thank you!

[2022-01-25 12:37] parasharrajat commented on #7037
@trjExpensify I applied for C+. Sorry for not doing that early.

[2022-01-25 12:39] Julesssss commented on #7384
@parasharrajat to help with the reproduction steps, did you trigger a specific error?

I assume this is a local dev build? I tried throwing an exception, but I still see the report upon logging in.

[2022-01-25 12:43] parasharrajat commented on #7384
Yeah, it was happening when the error was thrown in IOUBadge in LHN. I canceled/requested money from some user before that. I will try to reproduce again to give to exact steps. It may be possible that it was happening due to onyx. Recently we fixed a few issues on Onyx.

[2022-01-25 13:00] brianmuks commented on #7091
Yes

[2022-01-25 13:01] brianmuks commented on #7091
I have just tested it on IOS and works just fine.

[2022-01-25 13:08] K4tsuki commented on #6676
@trjExpensify thank you, I have applied to the upwork job.

[2022-01-25 13:15] mananjadhav commented on #7316
I can do that, but I'll need some help in wrt to the context of each of the URL constants.

[2022-01-25 13:23] mananjadhav commented on #7377
We don't have keyboard shortcuts for all MenuItems.  But we do have a list of all the keyboard shortcuts across the app.`CONST.KEYBOARD_SHORTCUTS`.

You're right @trjExpensify, as I mentioned in the first comment we should add shortcuts for all the MenuItems.

We do have Tooltips for all actions afaik. My thoughts were to have shortcuts wherever there's a tooltip. For MenuItems, show it at the rig

[2022-01-25 13:26] ahmdshrif commented on #6836
@Julesssss do you will review the pr or joe will review it ?

[2022-01-25 14:43] Julesssss commented on #6836
Just reviewed it, left a comment

[2022-01-25 14:45] murataka commented on #6912
also , https://github.com/Expensify/App/issues/7350 seems to be solved after applying above proposed changes.

[2022-01-25 14:48] puneetlath commented on #7354
Upwork job is here: https://www.upwork.com/jobs/~01cf7f272000237a72

[2022-01-25 14:56] rushatgabhane commented on #6154
I think we should avoid workarounds in this case, performance seems good to me even on 5 year old phone.
On that note, we should probably convert `Button` to a `PureComponent` to avoid re renders.

[2022-01-25 14:59] rushatgabhane commented on #6154
🎀👀🎀 C+ reviewed

I recommend @sig5's [proposal](https://github.com/Expensify/App/issues/6154#issuecomment-1020776843). Tough choice, but it's the first correct proposal. Rajat came up with a fix for the [drawback of the proposal](https://github.com/Expensify/App/issues/6154#issuecomment-1019593761), so I'm discounting comments after that.

cc: @puneetlath

[2022-01-25 15:02] puneetlath commented on #7268
Hm, yes I like the solution of using `<br />` directly in Expensimark as well. Let's go with that. @sobitneupane please apply to the [Upwork job](https://www.upwork.com/jobs/~01bff689e7e46696be) so that I can get you hired. Thanks!

[2022-01-25 15:27] stephanieelliott commented on #7265
Hey @parasharrajat, do you have a PR for this one yet?

[2022-01-25 15:37] puneetlath commented on #7076
Ok just to step back, I want to make sure I understand the issue. Is this right?
1. This only affects safari on mobile (not desktop)
2. The only issue is that the date picker icon is not showing in the input box

Is that a correct understanding of the issue?

[2022-01-25 15:40] parasharrajat commented on #7265
Yeah, in the draft. I will push that live today.

[2022-01-25 15:44] stephanieelliott commented on #7011
PR is on staging

[2022-01-25 15:45] puneetlath commented on #6154
Ok sounds good to me. One question before we move forward.

@sig5 why is this better than passing it as a prop?

[2022-01-25 15:47] stephanieelliott commented on #6877
Discussion still ongoing. A few different proposals at play, summarized [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1642718870250600?thread_ts=1640792952.211900&cid=C01GTK53T8Q).

[2022-01-25 16:03] stephanieelliott commented on #6562
Hey @NikkiWines did you mean to apply the `External` label? If we do decide this is fit for an external contributor, feel free to pop that label on.

Posted new job to Upwork for good measure: https://www.upwork.com/jobs/~013d544a0b56b40e56

Also, edited the title to remove the `@kursat` as the reporter just to avoid confusion, since we already paid out that reporting bonus.

[2022-01-25 16:22] rushatgabhane commented on #6154
Afaik, passing `selection` as a prop makes it controlled which leads to [this bug (copy/paste menu doesn't show)](https://github.com/Expensify/App/issues/6154#issuecomment-1019584341 ), and poor performance which causes cursor to jump back and forth on typing fast.

[2022-01-25 16:33] deetergp commented on #7201
Okay. If it's not reproducible next week, I am going to close it.

[2022-01-25 16:42] brianmuks commented on #7081
How about detecting that chat is loading with `this.props.isLoadingReportActions` ?
https://github.com/Expensify/App/blob/6ecbfaeaaae7f2990ce0acd03ee9967558db558e/src/pages/home/report/ReportActionsView.js#L595-L597

[2022-01-25 16:43] rushatgabhane commented on #7354
I agree with increasing the `minHeight`, and replacing the placeholder text with prefilled text.

It won't work for devices that have increased their font size, but I reckon that's a separate (accessibility) issue.
![Screenshot_20220125-193301_2](https://user-images.githubusercontent.com/29673073/151019926-0089b46a-34ec-4066-a98d-092541fd8f92.png)

[2022-01-25 16:47] michaelhaxhiu commented on #7204
That's 1 week, good to close this then!

[2022-01-25 16:47] #7204 closed

[2022-01-25 16:49] michaelhaxhiu commented on #5994
le hold

[2022-01-25 16:57] michaelhaxhiu commented on #7015
That looks good, and the toast is showing consistently like expected when you adjust any settings under avatar > profile > save. Nice @mananjadhav  👍

[2022-01-25 17:33] NikkiWines commented on #6562
Ah, well not but that probably also would've worked - I mentioned [here](https://github.com/Expensify/App/issues/6562#issuecomment-1018025041) that this might need a new job. Since you were already assigned to this issue adding the `External` label wouldn't assign anyone new.

[2022-01-25 17:40] NicMendonca commented on #5699
@kidroca did you log this bug reporting in your logs? Or are we issuing "regular" payment for this one? Thanks!

[2022-01-25 17:50] tgolen commented on #6301
This is the format that we use for our internal projects when we plan out the detailed portion. It might help give you a direction for the proposal that you write:

# Offline support
Describe here what will be supported while offline and what would not. How things will look and behave if the user takes some of the actions while offline.

# Detailed background
- What do we (not you) need to know to

[2022-01-25 17:54] johnmlee101 commented on #7365
This has to deal with our PDF view most likely here: https://github.com/Expensify/App/blob/d6a607324f84e654da2da6e073b150a00def7490/src/components/AttachmentView.js#L48

so that would be a great starting place to fix this. Should be fine marking as External

[2022-01-25 17:56] sig5 commented on #6154
Yeah, I felt the same way about it.

[2022-01-25 18:11] mvtglobally commented on #7347
retesting #7331
Checking off https://github.com/Expensify/App/pull/7211#issuecomment-1020507128

[2022-01-25 18:14] AndrewGable commented on #7347
Thank you @mvtglobally - Let me know when all QA is checked off and I can kick off a deploy.

[2022-01-25 18:14] kidroca commented on #5699
Regular - I don't log the time for bug/feature reports

[2022-01-25 18:17] tgolen commented on #7329
I like the idea behind `canUseTouchScreen` 👍

@ilia-musaev or @mananjadhav do either of you want to submit a more formal proposal for what that would look like?

[2022-01-25 18:20] johnmlee101 commented on #4733
Any update?

[2022-01-25 18:25] puneetlath commented on #6154
Got it, that makes sense. @trjExpensify let's go forward with hiring @sig5 for this job. Thanks!

[2022-01-25 18:42] thienlnam commented on #6772
Hmm odd, the fix we're working on is not merged yet.

@srdjanrist Are you able to reproduce this on main? Maybe Google Chrome has released a fix of some kind

[2022-01-25 18:46] thienlnam commented on #7091
Thanks for double checking those @brianmuks, it looks like @parasharrajat still has some concerns about the proposal - could you please continue to work with him to create a proposal with enough context of the issue problem and fix?

[2022-01-25 18:55] mvtglobally commented on #7347
@AndrewGable I feel we are good to go.

Checking off #7339, retest is Pass
Checking off #7331 as the bank is setup is working
We found another issue on clicking disconnect, but since this is behind Beta we can log it as the new Checklist is created. Let me know what you think

https://user-images.githubusercontent.com/43995119/151040697-bf7cee81-ec34-42d5-8771-5576bf2e570f.mp4

[2022-01-25 18:57] srdjanrist commented on #6772
@thienlnam I have just checked the main branch and tried to reproduce it. The bug **IS NOT** reproducible anymore, so confirming what @mvtglobally has noticed.
It seems that Chrome was updated.

[2022-01-25 18:59] kbecciv opened #7391 "VBA - Web crashed after disconnecting VBA"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensiail account
3. Go to Preferences and Enable the Secure Staging Server
4. Go to any

[2022-01-25 19:12] Santhosh-Sellavel commented on #5946
@neil-marcellini Can you help set up a job for reporting bonus?

[2022-01-25 19:14] Santhosh-Sellavel commented on #5946
Also, @K4tsuki has guided us to the solution for this issue. So I think he qualifies for job payment.

cc: @neil-marcellini

[2022-01-25 19:15] brianmuks commented on #7091
Sure thing. Thanks

[2022-01-25 19:18] AndrewGable commented on #7347
Looks good to me! Going to do one last test here to do some testing with the checkboxes, so ignore the messages from the bots for one moment.

[2022-01-25 19:18] AndrewGable commented on #7347
:shipit:

[2022-01-25 19:18] OSBotify commented on #7347
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-01-25 19:19] AndrewGable commented on #7347
:shipit:

[2022-01-25 19:19] #7347 closed

[2022-01-25 19:22] botify commented on #7264
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.32-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7292

If no regressions arise, payment will be issued on 2022-02-01. :confetti_ball:

[2022-01-25 19:22] botify commented on #7011
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.32-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7300

If no regressions arise, payment will be issued on 2022-02-01. :confetti_ball:

[2022-01-25 19:22] botify commented on #6427
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.32-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7221

If no regressions arise, payment will be issued on 2022-02-01. :confetti_ball:

[2022-01-25 19:22] botify commented on #7273
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.32-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7323

If no regressions arise, payment will be issued on 2022-02-01. :confetti_ball:

[2022-01-25 19:22] botify commented on #6873
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.32-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7097

If no regressions arise, payment will be issued on 2022-02-01. :confetti_ball:

[2022-01-25 19:22] botify commented on #7148
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.32-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7332

If no regressions arise, payment will be issued on 2022-02-01. :confetti_ball:

[2022-01-25 19:22] botify commented on #6235
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.32-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7330

If no regressions arise, payment will be issued on 2022-02-01. :confetti_ball:

[2022-01-25 19:24] OSBotify opened #7395 "Deploy Checklist: New Expensify 2022-01-25"
**Release Version:** `1.1.32-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6587
  - [ ] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7200
  - [ ] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7209
  - [ ] QA

[2022-01-25 19:25] TomatoToaster commented on #7184
Hey we actually are implementing this internally. @luacmartins has been working on it. We have an internal issue for it here: https://github.com/Expensify/Expensify/issues/176854 so this is a duplicate of that. Sorry I missed your earlier tag!

[2022-01-25 19:25] #7184 closed

[2022-01-25 19:29] mvtglobally commented on #7395
Starting QA

[2022-01-25 19:41] luacmartins commented on #7184
PRs deployed to staging yesterday!

[2022-01-25 19:44] kadiealexander commented on #7146
@parasharrajat I've hired you on Upwork!

[2022-01-25 19:48] NicMendonca commented on #5699
Thanks for clarifying! When you get the chance, can you please accept the job that I sent over, or apply [here](https://www.upwork.com/jobs/~014d2f47f2ea404f3b)? I'll issue payment after that.

@parasharrajat issued payment for you! thank you!

[2022-01-25 20:36] mvtglobally commented on #7395
@AndrewGable  Can you pls confirm 1.1.32-1 is the build we should QA?

[2022-01-25 20:38] AndrewGable commented on #7395
Yes, correct

[2022-01-25 20:52] danieldoglas commented on #7259
Update: We're discussing this issue with an internal team working on another functionality. Maybe this will be merged together with it.

[2022-01-25 20:55] adelekennedy commented on #7060
@mananjadhav just paid you out for the PR and reporting bonus, @rushatgabhane I hired you as well for the C+ fee!

[2022-01-25 21:18] puneetlath commented on #7395
Confirmed #7340 is working.

[2022-01-25 21:37] mallenexpensify commented on #6780
Paid @mananjadhav $250 for the job and $250 for reporting.
@parasharrajat can you apply so I can pay for C+? https://www.upwork.com/jobs/~0194ac035a3e90c884

[2022-01-25 21:39] kavimuru opened #7398 "Payments - Options "instant debit card" and "1-3 business days" aren't displayed when clicking "Transfer Balance""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #7200

## Action Performed:
Pre: Login with expensify account which already has payments
1. Open Payments page.
2. Click Transfer Balance Link.

[2022-01-25 21:40] mallenexpensify commented on #7286
Upwork job created https://www.upwork.com/jobs/~01fa24ba9f394c5948
@rushatgabhane , let me know once you've applied

[2022-01-25 21:42] #6910 closed

[2022-01-25 21:52] kbecciv opened #7399 "New Chat - Icon isn't displayed for the new chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail
3. Click on New Chat
4. Search for a user that you don't have any messages wit

[2022-01-25 21:53] mallenexpensify commented on #7377
We added this not long ago
![image](https://user-images.githubusercontent.com/22508304/151065384-526c1c01-fda2-4e17-9336-22706c4ca58c.png)

And if you type `cmd+i` you see this
![image](https://user-images.githubusercontent.com/22508304/151065828-7c805e60-109e-4977-83a8-0105fdd50861.png)

I think that's enough for now.  @trjExpensify if you agree, you can unassign yourself and just leave the weekl

[2022-01-25 21:58] kavimuru opened #7400 "Desktop - User renamed this room comment is not appearing after editing the room name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found executing the PR #7217
## Action Performed:
1. Create a new policy room by navigating to + > New room.
2. Click the chat header to open up Details.
3. Cli

[2022-01-25 22:17] #7055 closed

[2022-01-25 22:17] #7262 closed

[2022-01-25 22:38] SofiedeVreese commented on #7365
I'm going to have to reassign this one, I'm sorry. I'm back from OOO and autoassigner is playing catch-up so I'm absolutely smashed with assigned GHs atm.

[2022-01-25 22:55] neil-marcellini commented on #7399
I was unable to reproduce this on staging or production when logging in as `neil@expensifail.com`. See the video below for my attempt to reproduce this on production. @kbecciv can you try with a different account?

https://user-images.githubusercontent.com/26260477/151073405-ad829085-da18-4d85-8db0-690709340093.mov

[2022-01-25 22:55] roryabraham opened #7403 "UpdateProtectedBranch workflow is flaky"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Lock a deploy checklist (or perform other actions that trigger deploys)

## Expected Result:
The workflow should not fail on the UpdateProtectedBran

[2022-01-25 22:57] AndrewGable commented on #7403
Are we sure the PR exists? Like is it a race condition issue?

[2022-01-25 22:58] AndrewGable commented on #7403
Here are the logs:

[code]

[2022-01-25 23:11] srdjanrist commented on #7375
### Proposal

Add prop ```fromSidebarMediumScreen={!this.props.isSmallScreenWidth}``` to all ```Popover``` components, wherever the issue was noticed.
E.g. ```ReportActionCompose``` (line 564)

[2022-01-25 23:13] SofiedeVreese commented on #7378
I'm going to have to reassign this one, Autoassigner is playing catch-up after my leave and I'm absolutely drowning in assigned GHs at the moment.

[2022-01-25 23:26] Luke9389 commented on #7095
Ok cool, thanks @parasharrajat
Yup, looks good to me too. Go ahead and create a PR @K4tsuki!

[2022-01-25 23:31] parasharrajat commented on #6780
@mallenexpensify Sorry for the delay. Applied.

[2022-01-25 23:35] kbecciv opened #7407 "Attachments - Borders are displayed around the attachment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Tap on any user
4. Tap on plus button and  Add attachment
5.  Tap Choose from gallery
6.  Ta

[2022-01-25 23:37] K4tsuki commented on #7095
okay please wait

[2022-01-25 23:46] roryabraham commented on #7407
@pecanoro I am currently looking into this

[2022-01-25 23:53] luacmartins commented on #7400
@kavimuru this might have to wait to be tested as the App hits our production API and the Web-E PR is still in staging.

[2022-01-26 00:00] roryabraham commented on #7407
Currently investigating https://github.com/Expensify/App/pull/6885 as a possible culprit

[2022-01-26 00:02] K4tsuki commented on #6154
@puneetlath have you seen my [proposal](https://github.com/Expensify/App/issues/6154#issuecomment-1019435931) ? and [this](https://github.com/Expensify/App/issues/6154#issuecomment-1020692181)?
I have said that if @rushatgabhane  doesn't want to make new component for iouamount input (as I explain this could benefit in make page feels faster as managing amount state inside IOUAmountPage could trig

[2022-01-26 00:04] K4tsuki commented on #6154
I think It is not workaround, it is the problem of design.

[2022-01-26 00:05] roryabraham commented on #7407
Okay, I believe I've ruled out https://github.com/Expensify/App/pull/6885 as a possible culprit

[2022-01-26 00:05] kbecciv opened #7412 "Web - Lost Chat with a new user page after switch the tab"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Create a new room
4. Click on Plus button and Click Create New Chat
5. Sele

[2022-01-26 00:06] roryabraham commented on #7407
https://github.com/Expensify/App/pull/7338 seems like the next most likely culprit

[2022-01-26 00:07] OSBotify commented on #7412
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-26 00:13] roryabraham commented on #7407
I believe I have ruled out https://github.com/Expensify/App/pull/7338 as a possible culprit

[2022-01-26 00:15] roryabraham commented on #7407
https://github.com/Expensify/App/pull/7097/files could be another potential candidate, but I don't think so

[2022-01-26 00:17] parasharrajat commented on #7407
What about https://github.com/Expensify/App/pull/7209?

[2022-01-26 00:17] kbecciv opened #7413 "[HOLD for payment 2022-03-02] IPAD - Payment - Missing PayPal account when trying to delete it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Open your settings
3. Open the "Payments" page
4. Tap my PayPal payment
5. Tap Delete

## Expected Result:
PayPal acc

[2022-01-26 00:17] roryabraham commented on #7407
I doubt it's https://github.com/Expensify/App/pull/7209 because that wouldn't affect web, where I'm seeing this.

[2022-01-26 00:18] roryabraham commented on #7407
Investigating https://github.com/Expensify/App/pull/7327 as the next possible culprit

[2022-01-26 00:18] rushatgabhane commented on #6154
@K4tsuki this is the first correct proposal that I'm taking about - https://github.com/Expensify/App/issues/6154#issuecomment-1019581224

After that, Rajat helped by suggesting to use native API for selection which I've discounted. I hope you understand my perspective 😄

[2022-01-26 00:23] roryabraham commented on #7407
Seems to me that https://github.com/Expensify/App/pull/7327 is indeed the culprit – the issue is not reproducible in the commit before that's merged but is reproducible on the merge commit.

[2022-01-26 00:28] K4tsuki commented on #6154
@puneetlath

[code]

Here he specify `selection` property and `copy paste` problem will occur.

<br />
For this:
[code]

and

[code]
He save selection in `state` that will trigger re-render each time selection is changed, I save it in variable instead and it works.

<br />

[code]

It is basically similar to my code  above instead it is using `state`.
This:
`const {start, end} `

and this:
[code]

[2022-01-26 00:29] roryabraham commented on #7407
Yep, I confirmed that the changes to `ImageWithSizeCalculations` from https://github.com/Expensify/App/pull/7327 is the cause here.