[2022-01-11 05:29] mvtglobally opened #7122 "[HOLD for payment 2022-01-27] [HOLD for payment 2022-01-25] Login form and setPassword form overlap with the footer on iPod - reported by @anthony-hull"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Sign up for a new account
3. Navigate from email link to the App to set the password
4. Log out
5. Log back in and check password pag

[2022-01-11 05:37] mvtglobally opened #7123 "[HOLD for payment 2022-01-21] Staging Desktop app is not installed when download dmg from staging.new.expensify"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app on Web
2. Navigate to Settings > About > App download links > MacOS
3. Install the app

## Expected Result:
User should be able to insta

[2022-01-11 07:12] songlang1994 commented on #6931
@parasharrajat Pasting is a platform independent feature so Android|IOS|web will work as same. Currently the pasted value of [these strings](https://github.com/Expensify/App/issues/6931#issuecomment-1004888238) (with some extra cases I added) will be

| Original       | Pasted Value (Both of English & Spanish) |
| -------------- | ---------------------------------------- |
| \*2021\*       | Unabl

[2022-01-11 07:31] Christinadobrzyn commented on #6528
Hey @Santhosh-Sellavel sorry for the delay with this - I just paid you for reporting this in this job. Thanks!

https://www.upwork.com/ab/applicants/1466605040031260672/job-details

[2022-01-11 08:03] parasharrajat commented on #7095
Could you please expand more of this? Why should we use `Onyx.set` instead of `Onyx.merge`.

[2022-01-11 08:08] parasharrajat commented on #6931
Ok. Thanks for posting these results. I am pretty sure that we would like to move along with the native pasting behavior so I don't think parsing the integers from phrases would be needed.

And based on the above results, numbers are effectively parsed so I am good with @songlang1994 proposal.

cc: @Julesssss
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-11 08:08] Christinadobrzyn commented on #7121
Ah yeah, based on the Slack [convo](https://expensify.slack.com/archives/C01GTK53T8Q/p1641522811073200) it sounds like we want to move forward with an Upwork job for this.

For Expensify/App GH's I _believe_ the first step is to add the `Engineering label` then eng will add the `External label` > to get posted in Upwork.

So adding the engineering label to this!

[2022-01-11 10:11] dylanexpensify commented on #7013
@thesahindia offer sent!

[2022-01-11 11:44] mananjadhav commented on #6780
@puneetlath  @mallenexpensify  Any updates here?

[2022-01-11 11:59] aldo-expensify commented on #6427
Is `Intl.NumberFormat` supported enough? https://caniuse.com/?search=NumberFormat

[2022-01-11 12:08] mananjadhav commented on #7060
@jasperhuangg  PR is raised.

[2022-01-11 12:08] mananjadhav commented on #7074
@parasharrajat @stitesExpensify  PR raised.

[2022-01-11 12:33] parasharrajat commented on #6427
Yup.

Overall, the proposal is fine.  There are a few modifications and simplifications needed but I will point them in review. Waiting for @Luke9389's decision here...

#### Changes could be:

We don't need to rename this. `numberFormat` lib is inspired from `Intl.numberFormat` and thus we would like to keep it that way.

_.memoize instead of local cache.

        const fractionDigits = fraction

[2022-01-11 12:39] Julesssss commented on #6931
Yep, that sounds good. Thanks all!

[2022-01-11 12:42] parasharrajat commented on #6720
Thanks for the proposals guys, I will review each and every one by one...

[2022-01-11 13:06] parasharrajat commented on #7014
I am not able to reproduce this. Are there any specific conditions before splitting the bill?

[2022-01-11 13:15] adeel0202 commented on #7014
@parasharrajat, after splitting the bill, if you see the `cancel` button right away then cancel it and split the bill again with the same user. You won't see the `cancel` button this time unless you refresh the app. There was no such condition when I reported this bug, however, now when I checked, there was this condition that you have to cancel the first split bill.

[2022-01-11 13:17] parasharrajat commented on #7123
### Proposal
1. we need to check the Environment from `Environment.getEnvironment()` and then change the url in  https://github.com/Expensify/App/blob/a2e1cf87f3687592e3c88f22de94eb8f79c52c3e/src/CONST.js#L16

with STAGING_NEW_EXPENSIFY_URL const.

[2022-01-11 13:54] kursat commented on #6876
Apparently keeping selection variable in the state still not solving re-render issue. It looked like it did but I must have missed something while I am testing. I need to start over, for now please ignore my proposal.

[2022-01-11 14:20] rushatgabhane commented on #7103
@kursat Thanks for the detailed propsal and for linking the fork.

Now the number of rows are 2 for mWeb Chrome. Is there a way you could fix this?

![image](https://user-images.githubusercontent.com/29673073/148959505-ab872bf5-9164-4c41-8110-9758752df2ad.png)

[2022-01-11 14:28] dylanexpensify commented on #5142
Payment sent for both @parasharrajat and @kursat! Contracts ended, job posting closed

[2022-01-11 15:02] mvtglobally opened #7128 "FEATURE REQUEST: Add vibration/haptic feedback to IOU keypad - Reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app & Login
2. Initiate IOU
3. Type amount with the keyboard

## Expected Result:
If a user has vibration/haptic enabled,  they'd get the vi

[2022-01-11 15:08] dylanexpensify commented on #5142
@parasharrajat created new job for you to apply to to get paid for reporting via agency account! https://www.upwork.com/jobs/~01c306c74dd75512bf

[2022-01-11 15:37] zmays commented on #6154
Spent a few hours this morning on this, and discovered that the selection binding is not working at all (i.e it is being set in state correctly, but the TextInput is ignoring it). See this issue: https://github.com/facebook/react-native/issues/29063

Here is the current state of the code: https://github.com/zmays/App/pull/1/files

The above issue references using setNativeProps, which I added to t

[2022-01-11 16:12] jboniface commented on #7123
https://www.upwork.com/jobs/~0110761aea23dd8881

[2022-01-11 16:17] dylanexpensify commented on #5142
offer sent

[2022-01-11 16:19] stephanieelliott commented on #7076
Updated `Action Steps` to specify Safari on mobile web.

Upwork job here: https://www.upwork.com/jobs/~013b9fad465b315995

[2022-01-11 16:27] kevinksullivan commented on #6613
Paid in upwork. Thanks @aswin-s !

[2022-01-11 16:27] #6613 closed

[2022-01-11 16:45] justinpersaud commented on #5266
No update yet

[2022-01-11 17:00] parasharrajat commented on #7128
#### Proposal
I think it would be better to add the haptic touch/vibration on the `Button` component itself behind a prop. So that we can easily turn this on for any button in the app.
Following it:
1. I will two files `.ios.js` and `android.js` to manage the haptic touch/vibration respectively.
Bring the same code for Android
https://github.com/Expensify/App/blob/9c19841e5a1a738311142a3da49ffe74d

[2022-01-11 17:06] mallenexpensify commented on #7080
Putting on since our sessions are currently longer in NewDot so there's not a direct or immediate problem to solve.. yet.
Puneet is checking on session length here https://stackoverflow.com/c/expensify/questions/11704
Been discussing in the slack thread too, so review that if interested
https://expensify.slack.com/archives/C01GTK53T8Q/p1641509655060100

[2022-01-11 17:11] kevinksullivan commented on #6922
Paid for reporting bonus and fix. Thanks @mananjadhav !

[2022-01-11 17:13] parasharrajat commented on #6713
@mallenexpensify Applied.

[2022-01-11 17:14] parasharrajat commented on #5159
@kevinksullivan
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2022-01-11 17:20] kevinksullivan commented on #6725
Paid in upwork. Thanks @CamilaRivera !

[2022-01-11 17:20] #6725 closed

[2022-01-11 17:30] roryabraham commented on #7108
Hey @mvtglobally @isagoico @Jag96 @robertjchen, the QA steps for https://github.com/Expensify/App/pull/6906 need to happen starting with a fresh release cycle (unlocked checklist). Since it's clear that PR has not dramatically broken anything, I'm going to check it off and begin QA on the next checklist. Please help me remember to do it by pinging me after we close this checklist and before lockin

[2022-01-11 17:31] Jag96 commented on #2499
@mvtglobally I believe it will only work properly if both fingers hit the screen at exactly the same time. If you put one finger on the screen and then add the second and pinch to zoom, I believe it will be reproducible every time.

[2022-01-11 17:43] tgolen commented on #7123
@parasharrajat 🟢  on your proposal. I agree with you that I think I would go the route of your second option. I like that a little bit better and it seems cleaner for now.

[2022-01-11 17:54] rushatgabhane commented on #7128
Wohoo, feels nice to see someone using ReactNativeHapticFeedback.

[2022-01-11 18:17] thesahindia commented on #7076
@stephanieelliott, the issue is for safari (mac). Can you please change the platform to this.

[2022-01-11 18:43] stephanieelliott commented on #6562
Paid @kursat in Upwork!

[2022-01-11 18:46] roryabraham commented on #5620
@zoontek Can you help me understand why you decided to create a slimmed-down version of `react-native-bootsplash` in our codebase? I'm asking because we generally prefer not to manage any native code in this repo if we can avoid it. We of course can if there's a compelling reason to, but I'd like to understand that reason clearly.

[2022-01-11 19:07] Jag96 commented on #7011
@CSFlorin your proposal looks good, @stephanieelliott let's hire @CSFlorin for this one! @CSFlorin once you are hired feel free to start on a PR.

[2022-01-11 19:36] thienlnam commented on #7116
Didn't see any recent deploy changes in the git commit but the most recent change was https://github.com/Expensify/App/pull/6697
Seems good to be an external issue

[2022-01-11 19:42] parasharrajat commented on #7116
This is a duplicate of #6908

[2022-01-11 19:44] thienlnam commented on #7116
Looks like it's the same root cause, will just add these steps to that issue and close this one out - thanks!

[2022-01-11 19:44] #7116 closed

[2022-01-11 19:45] thienlnam commented on #6908
Added another case where the `Book Travel` button does not redirect to the Concierge DM

[2022-01-11 19:51] rushatgabhane commented on #6154
@zmays really appreciate your insights 😄
Found [this comment](https://github.com/facebook/react-native/issues/29063#issuecomment-814888570) on the RN issue you shared. Maybe setting selection using `inputRef.current.setNativeProps()` might help?

[2022-01-11 19:53] JmillsExpensify commented on #6947
Handling payment to @mananjadhav for the PR based on [this comment](https://github.com/Expensify/App/issues/6947#issuecomment-1002798020). Will close as soon as I close contract and confirm payment in Upwork.

[2022-01-11 20:15] JmillsExpensify commented on #6947
Processed payment/contract via Upwork, so I believe we're now set to close this issue out. Please contact me via Slack if there are any issues or something I missed!

[2022-01-11 20:15] #6947 closed

[2022-01-11 20:16] chiragsalian commented on #7032
Reproduced the same on dev. I bet this is similar to this issue - https://github.com/Expensify/App/issues/6945. Investigating.

[2022-01-11 20:17] kavimuru opened #7133 "iOS / Android - Keyboard opens up automatically when Sign out"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Sign out

## Expected Result:
Keyboard must not open automatically when I sign out.

## Actual Result:
Keyboard opens

[2022-01-11 20:19] kevinksullivan commented on #6719
Looks like botify is jumping the gun here.

[2022-01-11 20:22] parasharrajat commented on #7133
This is being fixed here https://github.com/Expensify/App/issues/7058. The root cause is same.

[2022-01-11 20:22] kevinksullivan commented on #5159
Proposal accepted, just need you to accept the offer and then I'll square this away.

[2022-01-11 20:25] Luke9389 commented on #6427
I think I'm actually a fan of the name `NumberFormatUtils` over `numberFormat`. I think having the "utils" in there is nice. Is there a reason for your preference aside from referencing `Intl.numberFormat` @parasharrajat?
Also naming them separately removes any potential ambiguity.

@songlang1994 thank you very much for your patience in developing this proposal. You've got the 🟢 green light 🟢 to s

[2022-01-11 20:26] #5159 closed

[2022-01-11 20:26] kevinksullivan commented on #5159
Paid.

[2022-01-11 20:28] parasharrajat commented on #6427
No. It does not matter much. Happy with anything.

[2022-01-11 20:30] Luke9389 commented on #7095
Here are some docs that might help you distinguish if this is an Onyx problem or not: https://github.com/Expensify/react-native-onyx#merging-data

[2022-01-11 20:59] adelekennedy commented on #7023
@parasharrajat hiring you for the job!

[2022-01-11 21:04] puneetlath commented on #7122
Upwork job here: https://www.upwork.com/jobs/~016e2bf25a63e93117

[2022-01-11 21:07] puneetlath commented on #7007
I think it's a good idea. I like it.

[2022-01-11 21:12] puneetlath commented on #6780
Sorry for the delay @mananjadhav. The proposal looks good. @mallenexpensify let's go ahead and hire @mananjadhav for this.

[2022-01-11 21:20] adelekennedy commented on #6759
@aswin-s Just paid you out! But am keeping the job open to @parasharrajat the Contributor+ payment

[2022-01-11 21:22] mvtglobally commented on #7108
Regression is almost complete. I will be updating this ticket shortly

[2022-01-11 21:36] parasharrajat commented on #6929
@michaelhaxhiu
Ping for
![Upwork](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2022-01-11 21:37] parasharrajat commented on #6713
@mallenexpensify
Ping for
![Upwork](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2022-01-11 21:48] jliexpensify commented on #6921
Looks like this was deployed but failed. I'm just trying to get to the bottom of this before payment!

[2022-01-11 21:53] jliexpensify commented on #6921
Alright spoke to @Jag96 about this one (as he's the mobile deployer) and he's confirmed we'll all good! WIll be paying and closing now.

[2022-01-11 21:56] #6921 closed

[2022-01-11 22:10] zmays commented on #6154
@rushatgabhane much appreciated!

I saw that comment as well, and already used it, please see code here: https://github.com/zmays/App/pull/1/files and comment from above post:

[code]

[2022-01-11 22:43] rushatgabhane commented on #6154
My bad, apologies!
Umm correct me if I'm wrong. For multiple backspaces the amount changes correctly, but the cursor stays the same even though you're setting it correctly using `setNativeProps` in `componentDidUpdate`

This is because of RN's issue right?

[2022-01-11 22:47] mallenexpensify commented on #3189
Appreciate the updates @anthony-hull !

[2022-01-11 22:50] mallenexpensify commented on #6780
Hired @mananjadhav in Upwork.  Reminder to future self, @mananjadhav also reported the issue

[2022-01-11 22:52] mallenexpensify commented on #6713
Hired @parasharrajat , let me know when you have accepted and I'll pay

[2022-01-11 23:49] rushatgabhane commented on #6980
🎀👀🎀 C+ reviewed
@mdneyazahmad's proposal is fine. Didn't get any confirmations on [slack ](https://expensify.slack.com/archives/C01GTK53T8Q/p1641755140217200)yet. But let's continue the process as changes can be made in the PR, if needed.

cc: @AndrewGable

[2022-01-12 00:08] zmays commented on #6154
No problem! And yes, exactly. Here is a video, showing desired behavior (in terms of what the backspace button deletes), but you will notice the visible cursor is acting weird, in that it is not in the right spot.

https://user-images.githubusercontent.com/4370615/149040797-003f923b-173d-4a02-a664-86358428b416.mov

Also this makes me believe the bug you noted before here https://github.com/Expensi

[2022-01-12 00:27] kadiealexander commented on #4737
Paid, thanks @akshayasalvi!!

[2022-01-12 00:27] #4737 closed

[2022-01-12 01:13] mallenexpensify commented on #6693
Paid @Tushu17 for reporting and @PrashantMangukiya for the fix
@parasharrajat can you apply here for C+ https://www.upwork.com/jobs/~0122afc050e1e1d5fd

[2022-01-12 01:17] mallenexpensify commented on #6874
Thanks again for the quick help @aswin-s , this was a sneaky lil bug. Paid in Upwork!

[2022-01-12 01:17] #6874 closed

[2022-01-12 01:50] chiragsalian commented on #5875
Bump @trjExpensify, any update on paying santhosh here?

[2022-01-12 02:08] Christinadobrzyn commented on #6911
I believe we have regressions for this PR, @Beamanator @parasharrajat Is that true or can this be paid?

![image](https://user-images.githubusercontent.com/51066321/149051157-4dc57dc8-e3b9-453c-b46f-efcca5554199.png)

[2022-01-12 02:40] mvtglobally commented on #7108
@roryabraham @Jag96  we are good to close this

[2022-01-12 02:42] akshayasalvi commented on #4737
@kadiealexander This PR was on n6-hold and company offsite hold. Bonus for the same wasn’t added

[2022-01-12 02:44] Christinadobrzyn commented on #6826
Looks like there's no regressions on the PR - so paid @thesahindia in Upwork and closed this job.

[2022-01-12 02:44] #6826 closed

[2022-01-12 02:53] K4tsuki commented on #7095
In the documentation of Onyx merge:

So the behavior of Onyx merge of array inside object is update the array items value based on their index. It will not remove an array item inside object.
For this problem. if for example employeeList is [  a, b, c, d ] the user remove c. employeeList should be [ a, b, d ].
But by using Onyx merge the employeeList will be [ a, b, d, d ].
I think we should use O

[2022-01-12 03:11] K4tsuki commented on #6562
@NikkiWines , I means for recent message (below `CONST.REPORT.ACTIONS.LIMIT`= 50).
But for older message (more than 50) it still doesn't work. The message is still displayed.

[2022-01-12 04:26] mvtglobally opened #7139 "Payments page - When hover over Bank, pointer displayed and not clickable"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Login to any account with bank connected through OldDot
3. Hover over the bank details

## Expected Result:
When mouse turns into a p

[2022-01-12 04:30] mvtglobally opened #7140 "[HOLD for payment 2022-01-27] Save button doesn't float in Workspace settings - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Workspace > General settings
3. Click on CTA

## Expected Result:
Save button should be visible

## Actual Result:
Save b

[2022-01-12 04:39] roryabraham commented on #7108
:shipit:

[2022-01-12 04:39] #7108 closed

[2022-01-12 04:41] mananjadhav commented on #6907
@MitchExpensify Payment reminder

[2022-01-12 04:41] botify commented on #6841
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.27-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6969

If no regressions arise, payment will be issued on 2022-01-19. :confetti_ball:

[2022-01-12 04:41] botify commented on #7036
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.27-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7040

If no regressions arise, payment will be issued on 2022-01-19. :confetti_ball:

[2022-01-12 04:41] botify commented on #6592
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.27-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7083

If no regressions arise, payment will be issued on 2022-01-19. :confetti_ball:

[2022-01-12 04:41] botify commented on #6492
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.27-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6899

If no regressions arise, payment will be issued on 2022-01-19. :confetti_ball:

[2022-01-12 04:43] OSBotify opened #7144 "Deploy Checklist: New Expensify 2022-01-12"
**Release Version:** `1.1.29-5`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6567
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6641
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6659
  - [x] QA

[2022-01-12 04:43] mvtglobally opened #7145 "Chat moves up a bit when new message is received - Reported by @K4tsuki"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a room and scroll to earlier message (fastly)
2. Stay on specific message (to read it  or something)
3. Send new message to that room
4. Not

[2022-01-12 04:44] roryabraham commented on #7144
As a reminder, please do not lock this checklist – we will do it as part of the QA of https://github.com/Expensify/App/pull/6906

[2022-01-12 04:46] roryabraham commented on #7144
However, I do notice that #7112, which was CP'd in the last checklist, is _not_ present in this checklist. This is a good sign that https://github.com/Expensify/App/issues/4977 may at long last be fixed. 🤞

[2022-01-12 04:54] mvtglobally commented on #7144
@roryabraham It is late, we will start QA tomorrow. Should I wait for your Green light or we can start anytime?

[2022-01-12 04:55] roryabraham commented on #7144
Please wait for me to lock the checklist. Once I do that, feel free to begin QA.

[2022-01-12 05:23] Beamanator commented on #6911
Those scary looking `failure ❌` messages just mean that the entire production deploy with _all of the PRs_ that we tried to make live crashed - Looking at the PR that fixed this issue (https://github.com/Expensify/App/pull/6976), I don't see an comments saying there were regressions nor do I see any PRs linked to it after it was merged, so I would say we're good to go!

[2022-01-12 05:28] mvtglobally opened #7146 "[HOLD for payment 2022-03-02] No confirmation popup displayed when user tries to delete all text in Edit CTA - Reported by @kursat @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and navigate to chat
2. User opens edit box to edit a message they've already sent (via cmd+k or :pencil2:
3. User deletes all text in b

[2022-01-12 05:30] Christinadobrzyn commented on #6911
Thanks for confirming @Beamanator - Paid @sobitneupane in Upwork

Invited @parasharrajat so I can pay you as the Contributor +!

[2022-01-12 05:37] roryabraham commented on #6627
Sorry for the delay here @parasharrajat, reviewed the PR earlier today

[2022-01-12 05:39] mvtglobally opened #7147 "[HOLD for payment 2022-02-09] Saving self-select pronoun with a space at the end doesn't disable save button - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Settings > Profile
3. Select Self select pronoun in dropdown
4. Enter any text with a space at the end
5. Save

## Expect

[2022-01-12 05:41] mdneyazahmad commented on #7122
# Proposal

## Reason

Signingpage has a custom style for iOS, where we are resetting the page height to fixed ```styles.flex1```. On a large screen there are more spaces and the content don't have to overflow. But on iPod, the screen size is smaller and the page content does not fit in the screen, the result, it overflows the bottom content.

https://github.com/Expensify/App/blob/b9d9dc1b0ea833ac

[2022-01-12 05:51] K4tsuki commented on #7145
I am fine if this issue is duplicate of https://github.com/Expensify/App/issues/6491, because fixing that issue might be fixing this issue too.

[2022-01-12 05:55] mvtglobally opened #7148 "[HOLD for payment 2022-02-01] FEATURE REQUEST: IOU preview should say Weird owes you instead of using my name - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Send IOU request

## Expected Result:
IOU preview should say `Weird owes you` when I am reviewing the Chat

## Actual Result:
IOU  is

[2022-01-12 06:15] rushatgabhane commented on #6202
@puneetlath I think you forgot to add reporting bonus for this issue 😅
Was investigating 7122 and came across it.

[2022-01-12 07:07] rushatgabhane commented on #7122
🎀👀🎀 C+ Reviewed
I recommend @mdneyazahmad's proposal. It fixes the issue for iPod, and I don't see any new issues on iPad, iPhone.

cc: @puneetlath

[2022-01-12 07:14] rushatgabhane commented on #7122
@mdneyazahmad  thanks for the reasoning and screenshots in your proposal.
Cleanup note: you could remove `signInPageStyles` entirely and replace it with `styles.mnh100` in `SignInPageContent.js`

[2022-01-12 07:25] thesahindia commented on #7140
### Proposal

we just need to add `KeybordAvoidingView` inside `WorkspacePageWithSectiions` and for this we can pass a flag so that we don't use this in other workspace sections where it's not required.

[2022-01-12 07:44] mdneyazahmad commented on #7122
@rushatgabhane sure

[2022-01-12 07:51] thesahindia commented on #6826
@Christinadobrzyn, can you please add the reporting bonus since I reported this issue.

[2022-01-12 07:59] sobitneupane commented on #7148
**Proposal**
We have to replace following lines of code in IOUPreview
https://github.com/Expensify/App/blob/b9d9dc1b0ea833acda141c13a64e77b5e37d3d61/src/components/ReportActionItem/IOUPreview.js#L139-L143
by
[code]

Similarly, we need to change en.js and es.js as well.
For en.js iou.owes and iou.paid should be replaced by
[code]
Similar change should be made in es.js. But I don't know the exact tr

[2022-01-12 08:13] sobitneupane commented on #7147
**Reason**
Here, we have saved the pronoun by trimming it. But, to disable or activate the button we are comparing trimmed and untrimmed pronouns.
**Proposal**
We need to change following line of code in ProfilePage.js
https://github.com/Expensify/App/blob/b9d9dc1b0ea833acda141c13a64e77b5e37d3d61/src/pages/settings/Profile/ProfilePage.js#L180
by
[code]
Later `arePronounsUnchanged` is used to disab

[2022-01-12 09:28] zoontek commented on #5620
Because my initial proposal was to upgrade to v4, but you choose not to support Android 12 for now. As the issue still happening and I saw users of the `expo-splashscreen` package having a similar issue (which have a different implementation, but using `UIViewController` too), I chose to embed an "hybrid" version slimmed down to the absolute minimal implementation of v4 on iOS (no more additional

[2022-01-12 10:05] parasharrajat commented on #7095
Ok, Thanks for the explanation. Seems to be it. But I will ask this in slack to get a generalized approach to the core problem before making the decision.

[2022-01-12 10:37] trjExpensify commented on #5875
Yeah, I sent a contract 5 days ago to process payment for reporting the issue. Once @Santhosh-Sellavel accepts, I can proceed to payment. 👍

[2022-01-12 11:20] sig5 commented on #3798
Seems like this issue has been inactive for a while, I will drop in my proposal as I would like to work on it.
**Proposal**

**API changes:**
Currently we have an object containing country codes in Onyx. We can instead have a country mapping, which contains country code-specific Details (Here currency type and Country mobile code). Also, we can have country code saved in `myPersonalDetails` instea

[2022-01-12 11:23] dylanexpensify commented on #5142
payment sent, job closed, contract ended fr Rajat

[2022-01-12 11:23] #5142 closed

[2022-01-12 11:52] michaelhaxhiu commented on #6929
@parasharrajat sorry for the delay, just getting back to full time work this week 🤙 .

If we agree that this isn't truly linked to @thesahindia's initial PR (which - makes sense to me thus far), I don't see why @parasharrajat wouldn't be able to propose a solution, get hired, and get paid.

Do you want to propose a solution @parasharrajat?

[2022-01-12 12:16] parasharrajat commented on #6929
:sweat_smile: Sorry for the confusion @michaelhaxhiu

1. QA found this issue during testing #6880.
2. We thought that it is a regression initially. I went ahead proposed the solution and fixed the issue https://github.com/Expensify/App/pull/6951. It was ![image](https://user-images.githubusercontent.com/24370807/149138137-44cd21f2-4887-43a5-ae38-d762340d579e.png) at that time.
3. It turned out not

[2022-01-12 13:32] developvsn commented on #6235
@NikkiWines Unable to fix the issue because there are a lot of internal library bugs, like functions blur() and focus() that don’t work at all.

@parasharrajat had plans to find a [solution](https://github.com/Expensify/App/issues/6235#issuecomment-1002653488), any thoughts?

[2022-01-12 13:50] michaelhaxhiu commented on #6929
Ah I didn't realize you were requesting compensation for fixing the `DeployBlockerCash` issue, I see now! Thanks for clarifying.

Can you apply for this upwork job please?  https://www.upwork.com/jobs/~01ffb7f26a00f69541

[2022-01-12 13:56] parasharrajat commented on #6929
Thanks @michaelhaxhiu, Applied.

[2022-01-12 14:08] parasharrajat commented on #6235
I will look into it today.

[2022-01-12 14:19] kidroca commented on #3867
PR was approved but we forgot to remove the HOLD label: https://github.com/Expensify/App/pull/4908#issuecomment-1010993484

[2022-01-12 14:21] NicMendonca commented on #7121
Upwork job: https://www.upwork.com/jobs/~019e70455bdff93175

[2022-01-12 14:28] parasharrajat commented on #7121
Open to proposals....

[2022-01-12 14:35] #6929 closed

[2022-01-12 14:57] muttmuure commented on #7059
I saw @marcaaron and @michelle-thompson give a thumbs up so I'm going to push this one along

[2022-01-12 15:03] Julesssss commented on #5125
I know that you've spent some time on the initial PR, but perhaps we should return to the proposal stage, as it seems we need to rethink this solution. What do you think @parasharrajat?

[2022-01-12 15:07] Julesssss commented on #6931
Hi, @songlang1994. Can you confirm that you have applied to the UpWork job, and that you plan to submit a PR? Thanks!

[2022-01-12 15:31] parasharrajat commented on #5125
Yeah, now my thoughts are just saying markdown in the clipboard as text which will work fine for most of the providers which accept MD but not for Gmail and locations which accept text.

I will try to give some time this week to explore it further and come up with a proper plan and all the options that we can do.

[2022-01-12 15:51] mdneyazahmad commented on #7121
# Proposal

As the solution steps are cleared for this problem. We have to create a flag to store scrolling state. And disable the options list when the user scrolls.

### Solution steps:
1. Create a flag (isScrolling) to store the scrolling state.
2. Create a debounce function to reset the isScrolling to false (guaranteed) or else the app will be in inconsistent state.
3. Update isScrolling to tr

[2022-01-12 16:04] kursat commented on #7103
Hey @rushatgabhane, thanks for highlighting side effects. I inspected the issues, it turns out my previous proposal was an unnecessary workaround. My updated/cleaner proposal and new fork is below:

## Proposal-2

### Cause

    FF adds height to the TextArea to reserve place for scroll-bars.

Because of that, initial heights are different in firefox and chrome. This causes scrollHeight difference

[2022-01-12 16:11] parasharrajat commented on #7121
How can we utilize `ReportScrollManager` here? Another thing is that when you stop scrolling on an item, the mini menu should show on that item.

[2022-01-12 16:19] mdneyazahmad commented on #7121
I think slack has the same behaviour. And ```ReportScrollManager```. I have to check it. However, I try to find a native solution but unfortunately some of ```ScrollView``` props are supported on web.

[2022-01-12 16:20] Julesssss commented on #5125
Makes sense, we can further improve later on if we have further ideas.

[2022-01-12 16:21] mdneyazahmad commented on #7121
I think slack has the same behaviour.  I have to check it ```ReportScrollManager```.However, I try to find a native solution but unfortunately some of ```ScrollView``` props are supported on web.

[2022-01-12 16:29] K4tsuki commented on #7121
#### proposal

Add variable `lastScrollTimespan` on `ReportScrollManagerl` and export it.

in `trackScroll` we set the value of `lastScrollTimespan` each time this function being called and scroll move:
https://github.com/Expensify/App/blob/7e50a8d04d58f732db69e127b60515702700bd63/src/pages/home/report/ReportActionsView.js#L462-L465

In `Hoverable` we add `isReportView` properties

https://github.

[2022-01-12 16:34] rushatgabhane commented on #7103
Haha, glad you found the fix.

[2022-01-12 16:39] neil-marcellini commented on #7145
I think this should weekly because it's not too critical. Here is another video showing the bug on IOS.

https://user-images.githubusercontent.com/26260477/149182902-b856c778-ea7f-4c9b-865d-15c275cf1889.mp4

[2022-01-12 16:44] rushatgabhane commented on #7103
🎀👀🎀 C+ reviewed

I recommend @kursat's [proposal](https://github.com/Expensify/App/issues/7103#issuecomment-1011200598) becuase it fixes the issue.

`overflowX` for message box will be set to `hidden`.
Only drawback - it'll remove horizontal scroll for message box which we aren't using anyway.

cc: @NikkiWines

[2022-01-12 16:58] mallenexpensify commented on #6058
@michaelhaxhiu , thoughts on this? I might/should have some time the next weekish to work on

[2022-01-12 16:59] mallenexpensify commented on #5766
Pinged Hax about this, we might start working on soon

[2022-01-12 17:01] mallenexpensify commented on #6301
Doubled price to $2000 https://www.upwork.com/jobs/~01c68ed933432e239b

[2022-01-12 17:03] mallenexpensify commented on #5952
it's moving along!!!

[2022-01-12 17:05] mallenexpensify commented on #6910
No update, but I want to stay assigned for payment, so commenting

[2022-01-12 17:10] zmays commented on #6154
Okay, thanks @rushatgabhane for trying to reproduce on main.

So are you saying this task should be delayed until this https://github.com/facebook/react-native/issues/29063 issue is resolved?

what do you mean by controlled carets?

[2022-01-12 17:11] #6661 closed

[2022-01-12 17:13] mananjadhav commented on #6301
@mallenexpensify Ive been thinking of posting a proposal, but I feel the work is worth 3000$.

It might sound higher, but I feel it’ll go through a few iterations and would require effort in building up the screen with all the features.

If the budget happens to increase and nobody sends proposals with the current budget, I’ll send in the proposal.

[2022-01-12 17:14] mallenexpensify commented on #6891
@parasharrajat or @mananjadhav , did either of you pursue getting consensus for this in #expensify-open-source?

[2022-01-12 17:15] mallenexpensify commented on #6913
Looks like we're waiting on this
https://github.com/Expensify/App/pull/6972#issuecomment-1009306416

[2022-01-12 17:17] mallenexpensify commented on #6873
@parasharrajat and @mananjadhav are  making progress on the PR https://github.com/Expensify/App/pull/7097

[2022-01-12 17:19] parasharrajat commented on #6891
Opening a discussion now.

[2022-01-12 17:27] mananjadhav commented on #6873
PR is complete. There's one issue with react-native-web for which Rajat has raised a PR. Once merged we'll merge this (might have to rollback my extra commits)

[2022-01-12 17:52] parasharrajat commented on #7121
`Hoverable` is a generalized component and it is not good to add unrelated props to it.

[2022-01-12 18:02] parasharrajat commented on #6713
@mallenexpensify
Ping for
![Upwork](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2022-01-12 18:03] mallenexpensify commented on #6715
More details/context
https://expensify.slack.com/archives/C01GTK53T8Q/p1642010548393400?thread_ts=1641584385.136300&cid=C01GTK53T8Q
Our focus and goal is for real-time payments to be the norm so we don't expect there to be batches where two users would have many transactions showing before they're zeroed out.  Let's leave it as-is for now.

[2022-01-12 18:05] TomatoToaster commented on #7055
Still working on this. Was investigating a fix for this and haven't found it yet. What I know so far is we might have to rework how we add the new Chat Room Report "optimistically" because it seems to making incomplete report data.

[2022-01-12 18:10] mvtglobally commented on #7144
@roryabraham  We are on standby, whenever you are ready

[2022-01-12 18:13] stephanieelliott commented on #7076
Thanks @thesahindia, updated!

As the reporter of this issue, you have first dibs on fixing it @thesahindia! Please post your proposal here if you have one. After 3 days, we'll open this up to other proposals.

[2022-01-12 18:15] roryabraham commented on #6942
Coming from https://expensify.slack.com/archives/C03V9A4TB/p1641988877160800, we need a two-fold solution to this issue to handle two separate cases:

### Problem 1
When retrying a deploy that failed on one platform, other platforms may have already successfully deployed that version or a higher one. Attempting to deploy the same or lower version than has already been deployed will inevitably fail

[2022-01-12 18:19] stephanieelliott commented on #7011
Hey @CSFlorin, please post a proposal to the job in Upwork when you get a chance: https://www.upwork.com/jobs/~01bd37d23f5bb554fd

[2022-01-12 18:21] kursat commented on #7146
## Proposal

On ReportActionItemMessageEdit component we should add a new ConfirmModal.

### Steps

1. We need to add new state variable and function bindings:

[code]

2. We should add below functions to confirm delete and hide modal:

[code]

3. We should update publishDraft function to open modal if draft is empty:

[code]

4. We should add ConfirmModal to the end of the jsx at the render funct

[2022-01-12 18:24] parasharrajat commented on #7146
### Proposal
1. We will check if the comment is empty then call the `showDeleteModal` in https://github.com/Expensify/App/blob/e44706a8d835c5710ded166030fa9c94f1b9b286/src/pages/home/report/ReportActionItemMessageEdit.js#L117
[code]
2. Then we will clear the report Draft whenever the comment is deleted so that there is no extra info left behind.
[code]
in https://github.com/Expensify/App/blob/e447

[2022-01-12 18:28] Jag96 opened #7163 "Deploy success message is posted even if multiple platforms fail"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run a deploy, see that some builds failed
2. See message in #announce saying that the deploy failed
3. Immediately see success message after
![im

[2022-01-12 18:35] Jag96 commented on #7144
Locking the checklist to bump the version to fix the deploy issues so we can test https://github.com/Expensify/App/pull/6906#issuecomment-1011307925

[2022-01-12 18:48] roryabraham opened #7166 "Bump patch version when a new checklist is created, not when it's locked"
cc @Expensify/mobile-deployers

### Problem 1
It is possible for NewDot CI/CD to get into a state where all mobile staging deploys are temporarily failing. This can happen when:

1. A checklist is closed, and a version (such as `1.1.27-1`) is deployed to production.
1. Before the new checklist is locked, the production deploy passes review and ships for sale. Then the `1.1.27` track is closed.
1.

[2022-01-12 18:50] Jag96 commented on #7144
@mvtglobally you are good to begin QA!

[2022-01-12 18:51] roryabraham commented on #7144
@mvtglobally Belay that last comment – we'll ping you again when you're good to begin QA

[2022-01-12 19:02] marcochavezf commented on #7079
Update: I did a bit of research of the most maintained third-party libraries for both Google and Apple sign-in functionality and those are:
- https://github.com/react-native-google-signin/google-signin
- https://github.com/invertase/react-native-apple-authentication

Also asked in [#expensify-open-source](https://expensify.slack.com/archives/C01GTK53T8Q/p1641859408263000) for a second opinion and

[2022-01-12 19:03] joelbettner commented on #7146
Looks like it has what it needs and there are a couple proposals for it. Un-assigning myself and adding the external label.

[2022-01-12 19:27] roryabraham commented on #7144
@mvtglobally Feel free to begin QA when ready

[2022-01-12 19:32] #7067 closed

[2022-01-12 19:40] puneetlath commented on #7122
Great. @mdneyazahmad can you either apply to the Upwork job or provide your Upwork user name so that I can invite you to it? Thanks!

[2022-01-12 19:45] puneetlath commented on #6825
Sorry Anthony, looks like I never hired you in Upwork. I sent you a hiring offer now and will pay it as soon as you accept. Thanks!

[2022-01-12 19:50] Luke9389 commented on #7147
@sobitneupane, thanks for your proposal. We actually haven't exported this issue yet, so proposals aren't really supposed to happen at this stage. That said, your idea is spot on, so when a contributor manager gets assigned here, I'll have them hire you on upwork. Just remember, in the future, wait to see the `Exported` label on the issue before submitting a proposal.

Thanks!

[2022-01-12 19:52] mvtglobally commented on #7144
Starting QA in few

[2022-01-12 20:00] anthony-hull commented on #6825
no worries! I have accepted. thanks :)

[2022-01-12 20:00] mdneyazahmad commented on #7122
@puneetlath applied in upwork

[2022-01-12 20:20] roryabraham commented on #7144
#7137 (maybe others) were added despite not being deployed to staging, still investigating/working on a fix

[2022-01-12 20:28] NikkiWines commented on #7103
@kursat's proposal looks good to me as well 👍

[2022-01-12 20:53] roryabraham commented on #7144
That last comment was incorrect. please disregard.

[2022-01-12 20:53] puneetlath commented on #7122
Great, hired @mdneyazahmad for the job in Upwork. And sent @anthony-hull a contract for reporting the issue as well.

[2022-01-12 20:54] puneetlath commented on #6825
Great, paid!

[2022-01-12 20:54] #6825 closed

[2022-01-12 20:55] roryabraham opened #7178 "Tag Applauseleads when a pull request is CP'd"
## Action Performed:
CP a PR by label or manually.

## Expected Result:
Applauseleads should be tagged on the checklist and the new PR should be added to the checklist.

## Actual Result:
Applauseleads are not tagged when a new PR is CP'd.

## Workaround:
Manually manage the checklist when PRs are CP'd.

## Platform:
GitHub only.

**Version Number:** `1.1.29-2`

[2022-01-12 20:56] roryabraham commented on #4379
Also related: https://github.com/Expensify/App/issues/7178

[2022-01-12 20:58] CSFlorin commented on #7011
@stephanieelliott I'm getting "Access denied This job is private. Only freelancers invited by client can view this job.". I included [my profile link](https://www.upwork.com/freelancers/~01b6d27689c430f81d) in the email when I was invited to the Slack channel but perhaps that was missed?

[2022-01-12 21:13] anthony-hull commented on #6890
The PR linked is ready for review. Just missing some translations and response on required testing documentation!

[2022-01-12 21:15] anthony-hull commented on #3189
The PR linked is ready for review, I have requested for such. Just missing some translations and response on required testing documentation!
Hopefully get this one merged soon!

[2022-01-12 21:17] stephanieelliott commented on #7011
Ah thanks, I forgot I made it private - invited you to the job in Upwork!

[2022-01-12 21:21] kadiealexander commented on #4737
Oops, sorry for missing that one! Have issued the bonus now. :)

[2022-01-12 22:00] kavimuru opened #7179 "mWeb - IOU - Button ''Request xx$" is not floating"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Click FAB + > Request money
3. Enter amount and click next

## Expected Result:
Request button must be

[2022-01-12 22:05] kavimuru opened #7180 "iOS - New chat - Contacts list can't be scrolled"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Tap on + > New Chat or New Group
3. Scroll down in order to see the whole contacts list

## Expected Result:
User is able t

[2022-01-12 22:06] OSBotify commented on #7180
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-12 22:18] puneetlath commented on #6760
Has already been paid out when the first PR merged, so closing.

[2022-01-12 22:18] #6760 closed

[2022-01-12 22:33] rushatgabhane commented on #6154
I'm not certain that it'll fix this issue. But will keep an eye on it.

Umm I mean controlling the cursor using `selection`.

I vote to not do anything until we can figure out a fix for the [cursor hopping bug](https://github.com/Expensify/App/issues/6154#issuecomment-1008124386), because it isn't present on `main`.
**Or fix the issue using some alternative approach**.

cc: @puneetlath What do you

[2022-01-12 22:33] kbecciv opened #7181 "[HOLD for payment 2022-02-09] Room - Settings - The room name has unlimited characters"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. log in expensifail account
3. Click FAB + > New room
3.You need to enter long room name
4. Select any

[2022-01-12 22:34] MitchExpensify commented on #6907
Thanks, paid @mananjadhav !

[2022-01-12 22:34] #6907 closed

[2022-01-12 22:36] kavimuru opened #7182 "iOS - Tapping settings button from room details crashes the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing the PR #7028**
## Action Performed:
1. Open app and login applausetester+0704sveta@applause.expensifail.com
2. Select any room
3. Tap on

[2022-01-12 22:37] OSBotify commented on #7182
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-12 22:39] sig5 commented on #7179
**Proposal**
This can be solved by enclosing the Component in IOUConfirmationList in  KeyBoardAvoidingView.

[2022-01-12 22:47] Jag96 commented on #7179
Doesn't look like this is a regression, adding the AutoAssignerTriage label to put this through the process.

[2022-01-12 22:59] kbecciv opened #7183 "IOS - VBA - Unable to add alphabets in account number"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to settings > Workspace > Add bank account
3. Proceed to the manual flow
4. Add alphabets in account number

## Expected Res

[2022-01-12 23:07] sig5 commented on #7181
**Proposal**
We can add condition  to  checkAndModifyRoomName(roomName) method in the WorkSpaceNewRoomPage.js and define constant length limit in const.js

[2022-01-12 23:08] parasharrajat commented on #7179
This can't be fixed **Buttons can't float on Safari Mobile Web**. I doubt [that](https://github.com/Expensify/App/issues/7179#issuecomment-1011514825)

[2022-01-12 23:13] kbecciv opened #7184 "Chat Room -Setting - Save button does not work after adding a new room name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3. Choose any room
4. Click Details this room
5. Click Settings
6. Cli

[2022-01-12 23:18] kbecciv opened #7185 "[$500] - Chat Room - Handle API response inVBA flow when tapping finish Set up"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3. Find any room in LHN
4. Tap on plus button and tap Send Money
5. Se

[2022-01-12 23:32] rushatgabhane commented on #7183
Not an issue?
https://github.com/Expensify/App/issues/7056

[2022-01-12 23:36] bondydaa commented on #7183
I think the title of this is a little confusing but the gist is that you are able to type non-numeric characters into the input but then it just gives you the error that it's an invalid account, I think what this is proposing is that we just don't allow a user to type any non-numeric characters and only accept numbers in the input.

I think that could a decent UX improvement but I don't think it's

[2022-01-12 23:38] rushatgabhane commented on #7183
Ohh, yeah I agree!

[2022-01-12 23:51] sig5 commented on #7183
**Proposal**
We can add a validation methos that disallow these character via regex.
**Changes:**
1. In` BankAcountStep.js ``onChangeText` can be assigned to the function `updateRoutingNumber`, which enforces the checks and `clearErrorAndSetValue`.

[2022-01-12 23:52] mallenexpensify commented on #7034
Disregard @jboniface I was testing to see if `AutoAssignerTriage` added the `Daily` label, it does

[2022-01-12 23:55] mallenexpensify commented on #6202
Reopening awaiting @puneetlath 's reply

[2022-01-13 00:00] mallenexpensify commented on #6301
@mananjadhav I agree this is a larger job and warrants more pay.  Since it's not time-sensitive and it was $1000 yesterday, I think it's best (per our process) to give it another week to see if anyone's interested in fixing for $2k.  If not... .you'd be able to submit a proposal then make $4k.

[2022-01-13 00:08] trjExpensify commented on #7103
Awesome! @kursat can you apply to the Upwork job [here](https://www.upwork.com/jobs/~01ea2f71f3444fea8c), and then I can proceed with the contract?

[2022-01-13 00:09] kbecciv opened #7187 "[HOLD for payment 2022-01-25] Storybook - Errors appear in the JS console when tap any default page Canvas/ Docs"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/docs/index.html
and verify that you can see the storybook docs with the themes matching the screenshots b

[2022-01-13 00:16] bondydaa commented on #7183
I'm going to close this out for now, I don't think it's valuable to add since the error message handles it and a user would have to manually toggle to the non-numeric keyboard to enter alphabetic characters.

[2022-01-13 00:16] #7183 closed

[2022-01-13 00:20] trjExpensify commented on #7139
This isn't a bug, it's the building blocks of the feature to allow a user to tap the row and set a default payment method that's coming in [this PR](https://github.com/Expensify/App/pull/4437).

CC: @kevinksullivan @marcaaron @stitesExpensify

[2022-01-13 00:26] sig5 commented on #7183
Imho the mentioned bug can be annoying for the end user due to the long routing number. Also due to the Web Apps and Desktop applications, it is not necessary for user to be switching to a alphanumeric keyboard.

[2022-01-13 00:28] kbecciv opened #7188 "Workspace - Chat with Concierge- Wrong chat appears after tap on request a chat with Concierge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login applausetester+0704sveta@applause.expensifail.com
2. Tap on> Swrrings> any workspace
3. Then tap Get assistance
4.Tap Chat wit

[2022-01-13 00:31] bondydaa commented on #7183
Yeah that is a possibility so that's why I think it's best to wait and see
if users actually report this as a problem.

I would wager a majority of users who are on the webapp/desktop will
copy/paste their account numbers instead of typing them. Even if they do
type then I don't see why they'd be using the alphabetic characters given
that US bank accounts are all numeric.

I don't think it's valua

[2022-01-13 00:33] mallenexpensify commented on #6713
Paid for reporting and C+ @parasharrajat

[2022-01-13 00:33] #6713 closed

[2022-01-13 00:34] kavimuru opened #7189 "Web - App downloading links - Clicking on mac OS link opens another tab"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing #7132**
## Action Performed:
1. Open https://staging.new.expensify.com
2. Navigate to Settings > About > App download links > MacOS

## E

[2022-01-13 00:35] OSBotify commented on #7189
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-13 00:37] brianmuks commented on #7091
I have been looking into this issue. The bug is coming from `defaultStatus` in the `Drawer.Navigator` component. The method that is handling the state of the `defaultStatus` returns `true` if the screen is small otherwise `false`. However, according to the documentation on https://reactnavigation.org/docs/drawer-navigator it states that the `defaultStatus` should always be set to `open` .

From th

[2022-01-13 00:45] parasharrajat commented on #6235
I am pretty sure we won't be able to contribute back to the main lib
![image](https://user-images.githubusercontent.com/24370807/149242507-29ea9060-7c64-4120-ade1-68cf4d19e8df.png)

___

Finally got time to work on this and I have a solution ready, video :arrow_down: . Let me know what is next step? @NikkiWines

I am focusing on these issues for now
1. Close the list when we click away (outside th

[2022-01-13 00:47] Jag96 opened #7190 "[Tracking] Deprecate jCenter in build.gradle"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Coming from [this discussion](https://github.com/Expensify/App/pull/6914#discussion_r778447537), jcenter will no longer be updated. As a result, mavenCentral will be use

[2022-01-13 00:51] parasharrajat commented on #7189
My PR is failing https://github.com/Expensify/App/pull/7132. It's that damn `//` slash. Sending the fix now.

[2022-01-13 00:53] roryabraham commented on #7190
Two known packages that have ditched `jcenter` but not yet included that change in a release:

- `react-native-clipboard/clipboard` (previously `react-native-community/clipboard`): https://github.com/react-native-clipboard/clipboard/commit/103b43392986ad786f44c1f06db19b1dd70443a7
- `wonday/react-native-pdf`: https://github.com/wonday/react-native-pdf/pull/606

We'll want to upgrade those by either

[2022-01-13 00:59] brianmuks commented on #7091
https://github.com/Expensify/App/blob/49cb0dd29dd634def90f33c4a7dae4850485af73/src/libs/Navigation/AppNavigator/BaseDrawerNavigator.js#L39

[2022-01-13 01:02] Jag96 commented on #7026
Haven't gotten to test my changes, been dealing with deploy failures all week. Will continue on this once the deploy is fixed.

[2022-01-13 01:03] parasharrajat commented on #7189
@Gonals  https://github.com/Expensify/App/pull/7194. CP it. Thanks.

[2022-01-13 01:05] parasharrajat commented on #7091
Ok, Thanks.

I don't think this is correct.

[2022-01-13 01:07] brianmuks commented on #7091
I tested the code and it's working just fine.

[2022-01-13 01:11] brianmuks commented on #7091
https://www.awesomescreenshot.com/video/6823807?key=90ed83be4bafc44948931864ee2bffba

[2022-01-13 01:13] parasharrajat commented on #7091
Sorry, I didn't get it.

What is working fine?

[2022-01-13 01:16] brianmuks commented on #7091
Sorry I meant the back button works fine with the solution I suggested.

[2022-01-13 01:34] francoisl commented on #7185
I can't reproduce on dev, neither on the latest version of `main` nor on `1.1.29-1` specifically; I get to the identity verification step each time.

I could only test mweb on iOS though, for some reason I can't get anything to work with Android at the moment. Going to put this back in the pool and hopefully someone can chime in if they can reproduce.

https://user-images.githubusercontent.com/222

[2022-01-13 02:16] kadiealexander commented on #7146
Upwork link: https://www.upwork.com/jobs/~01baa693e89c4766a2

[2022-01-13 02:16] chiragsalian commented on #7180
Fix has been merged and CP'd to staging. Can you retest @kavimuru on ios in version 1.1.29-3.

[2022-01-13 02:17] kadiealexander commented on #7146
Sorry @stitesExpensify looks like the autoassigner ran twice.

[2022-01-13 02:17] chiragsalian commented on #6945
Fix caused an issue on ios so it was reverted. Reopening.

[2022-01-13 02:20] kbecciv opened #7199 "IOS - Log in - Keypad not dismissed after creating new account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Enter new email to create account
3. Tap continue

## Expected Result:
No visual issues and keypad dismissed in next screen ( M

[2022-01-13 02:28] chiragsalian commented on #7140
I'm not sure what action performed step 3 is, like whats CTA.
But yeah i see the problem where the save button is not visible. Thanks for the speedy proposal 🙂 , i'll have a C+ review.

[2022-01-13 02:29] chiragsalian commented on #7140
Once its posted on upwork a C+ will get auto-assigned to review your proposal.

[2022-01-13 03:10] parasharrajat commented on #3922
Hopefully last PR https://github.com/Expensify/App/pull/7200 for

[2022-01-13 03:22] kavimuru opened #7201 "Android - IOU - Payment button is popping up after selecting the user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Tap on any room or any user
4. Tap on plus button and Tap Send Money
5. Put amount and Selec

[2022-01-13 03:23] OSBotify commented on #7201
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-13 03:23] akshayasalvi commented on #4737
Thanks a lot, @kadiealexander for helping here.

[2022-01-13 03:24] kbecciv opened #7202 "Android - IOU - Payment button is popping up after selecting a user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with expensifail account
3. Tap on any room
4. Tap on plus button and Tap Send Money
5. Put amount and Select User to sen

[2022-01-13 03:26] kbecciv commented on #7202
Reported already by @kavimuru, closing https://github.com/Expensify/App/issues/7201

[2022-01-13 03:26] #7202 closed

[2022-01-13 04:20] Christinadobrzyn commented on #6911
Paid @parasharrajat for C+. Closing!

[2022-01-13 04:20] #6911 closed

[2022-01-13 04:24] Christinadobrzyn commented on #6285
Hi there! @parasharrajat can you give me an update on paying this? We're past the original Hold of Payment date but it looks like there might be other PRs in the works? Can you link the PR to track for paying this (if it's different)

Thanks!

[2022-01-13 04:28] parasharrajat commented on #6285
@Christinadobrzyn You should track #6811 for payment.

[2022-01-13 04:54] MitchExpensify commented on #7140
[Upwork job](https://www.upwork.com/jobs/~01139ef3c0b2e4646a)

[2022-01-13 04:56] MitchExpensify commented on #6967
Hi @ABee-Tech! Can you please submit a proposal on the [Upwork job](https://www.upwork.com/jobs/~01577d2550d21d4e8a), thanks!

[2022-01-13 04:59] MitchExpensify commented on #6823
Offer sent on the [Upwork job](https://www.upwork.com/jobs/~0123d91709db539df4), once accepted I'll pay with reporting bonus @anthony-hull - Thanks!

[2022-01-13 05:08] ABee-Tech commented on #6967
@MitchExpensify I have submitted a proposal on the [Upwork job](https://www.upwork.com/jobs/~0167335f0a64da17cb). Offer has also been received and I have accepted offer.

[2022-01-13 05:10] ABee-Tech commented on #6967
@MitchExpensify Do I have to submit a proposal for this Upwork job too?

[2022-01-13 05:38] K4tsuki commented on #7121
`createRef` to hoverable element.

Add `onMouseEnter` and `onMouseLeave` properties to hoverable. If this two props is exist use this two function as `mouse enter` and `mouse leave` event  handler on Hoverable view. (If not just use the existing function).

Provide `onMouseEnter` and `onMouseLeave` in `reportActionItem`.
Use `setIsHovered` of created ref of hoverable element,  inside `onMouseEnter

[2022-01-13 05:45] K4tsuki commented on #7146
I think this is regression of https://github.com/Expensify/App/issues/6759.
All scenario for adding `[deleted comment]` on deleted comment feature must be thought here.

[2022-01-13 06:01] Christinadobrzyn commented on #6285
After 7 days in production without any regressions so paid @akshayasalvi in Upwork for the job!

@parasharrajat were you the C+ on this project?

[2022-01-13 06:17] kevinksullivan commented on #6132
@rafaysaleem89 paid!

@Santhosh-Sellavel can you accept the job offer and I can pay you for reporting? Thanks!

[2022-01-13 07:06] brianmuks commented on #7091
@parasharrajat Please help me understand why this is not correct so I can crack on.

[2022-01-13 07:28] Christinadobrzyn commented on #6826
Ah thank you for reminding me @thesahindia! I just added a $250 bonus to the previous Upwork payment.

[2022-01-13 07:49] thesahindia commented on #6826
Hey @Christinadobrzyn, I think you have sent me an another offer for the same job, should I end that new contract??

[2022-01-13 07:52] Christinadobrzyn commented on #6826
Yes, please! Feel free to end the contract.

Sorry, I wasn't sure I could provide a bonus without rehiring you but I added it to the payment from yesterday. Upwork isn't super clear but I see the bonus and Paid job - will you please make sure you get paid for both?

[2022-01-13 07:52] robertjchen commented on #7184
Thanks for the report!

[2022-01-13 07:54] thesahindia commented on #6826
Yes, I have received the payments. Thanks :)

[2022-01-13 09:47] sobitneupane commented on #7147
Thank You for the suggestion. I will follow your suggestion moving forward.

[2022-01-13 10:14] songlang1994 commented on #6931
@Julesssss Thank you! I will apply for the UpWork job and submit a PR tonight (UTC+08:00).

[2022-01-13 10:35] rushatgabhane commented on #7140
Well, `KeyboardAvoidingView` would work.

But what do you mean by this @thesahindia ?

[2022-01-13 12:07] Julesssss commented on #7190
[Here's a PR](https://github.com/Expensify/App/pull/6773) I opened previously for removing NewDot Onfido BinTray dependency. Please feel free to review!

I don't think we need to do this. `BinTray` is the troublesome repo, because it has completely shut down and we should replace these depenencies (we have done this already ✅ ). `JCenter` will continue to host indefinitely, so we simply need to mi

[2022-01-13 12:08] thesahindia commented on #7140
@rushatgabhane, we are using `WorkspacePageWithSections` at many places for example-
`WorkspaceBillsPage`,  `WorkspaceReimbursePage`, ` WorkspaceTravelPage`, etc.

we only need `KeyboardAvoidingView` for `WorkspaceSettingsPage` so I think we should keep `KeyboardAvoidingView` as an optional wrapper inside `WorkspacePageWithSections`

[2022-01-13 12:11] sketchydroide commented on #7059
Hmm, I don't think this is a bug, it would be a nice feature to add for sure, but I don't know if it's something we are looking to do in the near future.

[2022-01-13 12:17] kursat commented on #7103
Hey @trjExpensify, I've applied.

[2022-01-13 12:23] Julesssss commented on #7190
I should have created this issue when raising the PRs, so thanks for doing that @Jag96!  I suggest we do the following before marking this as resolved:
- [x] Add `mavenCentral` to the list of repositories in NewDot `build.gradle`
- [ ] Add `mavenCentral` to the list of repositories in OldDot `build.gradle`
- [x] Merge the broken `BinTray` dependency fix in OldDot: ['BumpUA Firebase lib...'](https:

[2022-01-13 12:24] mananjadhav commented on #7059
Well, it is a feature request and good to have. We discussed on slack and with some 👍  we logged this GH issue.

[2022-01-13 12:57] flodnv commented on #7181
Labelled DeployBlocker due to `Reproducible in production?: No`

[2022-01-13 12:58] OSBotify commented on #7181
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-13 13:05] sketchydroide commented on #7059
Ok just found the slack convo, let's advance then to an external label.

[2022-01-13 13:19] mvtglobally commented on #7181
@flodnv feature is not available in Prod yet, so we are not able to check.that's why teat didn't add Blocker label

[2022-01-13 13:48] sobitneupane commented on #7184
It looks like the API for renaming is not built yet.
https://github.com/Expensify/App/blob/a4d72f7214408380c5aa6cb029c0997911f38b50/src/pages/ReportSettingsPage.js#L144-L146

[2022-01-13 13:51] flodnv commented on #7181
Ahhh ok 👍 I asked internally to check if it should be a blocker or not, I am not sure, but I think yes.

[2022-01-13 14:05] parasharrajat commented on #7091
Paste the code of that function and explain me How that gives us `true` or `false`.

If they are saying it should always be set to `open` then why have they given us a prop to customize it.

[2022-01-13 14:07] parasharrajat commented on #7146
@kadiealexander He needs to be remained assigned to review proposals.

[2022-01-13 14:08] parasharrajat commented on #7121
`Hoverable` component is not the right target. Could you please find some other way to do it?

[2022-01-13 14:09] parasharrajat commented on #7121
Waiting for proposals...

[2022-01-13 14:11] kavimuru opened #7203 "Chat - 500 need to pass at lease two accounts error message when tapping Message in details page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Select a chat with any user from LHN
3. Tap logged in user's name to view the details
4. Tap Message "name"

## Expec

[2022-01-13 14:15] kavimuru opened #7204 "mweb Safari - Chat - Download icon is overlapping with text in Preview"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account which has picture attachment
3. Tap on attachment which has longer name to pre

[2022-01-13 14:18] brianmuks commented on #7091
`function getDefaultDrawerState(isSmallScreenWidth) {
    if (didTapNotificationBeforeReady) {
        return 'closed';
    }
       return 'open';
    //returning false makes the back button  irresponsive when you resize the screen in the browser
   // return isSmallScreenWidth ? 'open' : 'closed';
}`
From my understanding if you are targeting responsiveness then it's wise to set the `defaultStat

[2022-01-13 14:18] bfitzexpensify commented on #7184
Upwork job post [here](https://www.upwork.com/jobs/~014725fe0e32988905)

[2022-01-13 14:21] parasharrajat commented on #6823
@MitchExpensify Can I apply for C+ to the same job?

[2022-01-13 14:26] Beamanator commented on #7204
Definitely can be worked externally 👍

[2022-01-13 14:27] bfitzexpensify commented on #6427
Hey @songlang1994, please apply [here](https://www.upwork.com/jobs/~0122bc7ec0bf9a7956) (I updated the link, but it got lost in the hidden comments in this issue). Thanks!

[2022-01-13 14:31] brianmuks commented on #7091
An example from the docs:

function MyDrawer() {
  const dimensions = useWindowDimensions();

  const isLargeScreen = dimensions.width >= 768;

  return (
    <Drawer.Navigator
      defaultStatus="open"
      screenOptions={{
        drawerType: isLargeScreen ? "permanent" : "back",
        drawerStyle: isLargeScreen ? null : { width: "100%" },
        overlayColor: "transparent",
      }}

[2022-01-13 14:32] parasharrajat commented on #7204
This will be indirectly fixed from https://github.com/Expensify/App/pull/7097. So let's wait before exporting.

[2022-01-13 14:33] parasharrajat commented on #7091
waiting for proposals...

[2022-01-13 14:38] Beamanator commented on #7204
Ooh nice good catch 👍

[2022-01-13 14:41] brianmuks commented on #7091
An example from the docs:

function MyDrawer() {
  const dimensions = useWindowDimensions();

  const isLargeScreen = dimensions.width >= 768;

  return (
    <Drawer.Navigator
      defaultStatus="open"
      screenOptions={{
        drawerType: isLargeScreen ? "permanent" : "back",
        drawerStyle: isLargeScreen ? null : { width: "100%" },
        overlayColor: "transparent",
      }}

[2022-01-13 15:09] mdneyazahmad commented on #7121
@parasharrajat

If we add, along with my initial proposal https://github.com/Expensify/App/issues/7121#issuecomment-1011185451, inside componentShouldUpdate, it will display the menu when scroll stops. I am not sure about ```ReportScrollManager```. Could you elaborate?

[code]

https://user-images.githubusercontent.com/77761491/149355530-39e344cd-e582-41fb-89c5-e1f6d58f3b24.mov

[2022-01-13 15:11] parasharrajat commented on #7181
#### Proposal

 I can think of multiple tasks to do here.
 1. First we need to restrict the length of chars.
 2. Second we need to Trim the name on the Settings page with an ellipsis.

 Can someone confirm what is the scope of this issue?

##### Second we need to Trim the name on the Settings page with an ellipsis.
1. For this, we need to add a wrapper View to https://github.com/Expensify/App/blob

[2022-01-13 15:13] parasharrajat commented on #7121
it will render all of the list items on the chat list. So NO.

you can take https://github.com/Expensify/App/issues/7121#issuecomment-1011229033 as an example.

[2022-01-13 15:15] parasharrajat commented on #6693
@mallenexpensify
Ping for
![Upwork](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2022-01-13 15:24] parasharrajat opened #7206 "[Tracking] Single line Text is not clipping correctly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Due to the recent upgrade to RN-web 0.17.5, we started to face a couple of issues where Text is not clipping correctly.

If you use `<Text numberOfLines={1} />`, it shoul

[2022-01-13 15:25] stephanieelliott commented on #7181
Posted to Upwork: https://www.upwork.com/jobs/~01eecb1a8f50499aab

[2022-01-13 15:26] EvanBurbidge commented on #7184
Looks like the actual code being called doesn't have anything there.

[code]

There are two options I can see

1. See if the api exists if not then show an alert that the feature is not yet ready, if it is then call the api functionality.
2. Add the functionality assuming that the api command is in place

[2022-01-13 15:45] mvtglobally commented on #7180
@chiragsalian Issue is fixed on the latest build

[2022-01-13 15:54] songlang1994 commented on #6427
Aha, thank you @bfitzexpensify. I forgot the hidden comments.

[2022-01-13 16:18] parasharrajat commented on #6627
From https://github.com/Expensify/App/issues/6627#issuecomment-989790657

Still waiting for the Upwork job to be created.

[2022-01-13 16:27] parasharrajat commented on #7007
@thesahindia Waiting for your updated proposal...

[2022-01-13 16:32] puneetlath commented on #7139
Ah ok. So am I on some beta? I would think we wouldn't want to show broken UI in the live app.

[2022-01-13 16:59] trjExpensify commented on #2985
👋 Hey @roryabraham! Can we get a quick update on the latest and greatest with this for N7, please?

[2022-01-13 17:18] michaelhaxhiu commented on #7204
Cool, seems like this won't get assigned or paid out in that case. Right?

[2022-01-13 17:21] michaelhaxhiu commented on #7204
Meaning, it won't be exported at all? I'll keep it assigned until https://github.com/Expensify/App/pull/7097 is done.

[2022-01-13 17:27] parasharrajat commented on #6759
@adelekennedy You can close this issue now. Thanks. I have received the payment.

[2022-01-13 17:33] rushatgabhane commented on #7140
@thesahindia Hmm, I'm trying to understand the negative effects of `KeyboardAvoidingView` on other pages and I can't think of any. Can you help me with that?

[2022-01-13 17:36] Beamanator commented on #7204
Yeah I think you're right, as long as the PR you linked does fix this too :D

[2022-01-13 17:41] K4tsuki commented on #6872
#### proposal

The problem is in this line

https://github.com/Expensify/App/blob/13b7b0b1945989379ab63f098ee2f480e1b1ba4b/src/components/TextInput/BaseTextInput.js#L183

value should be `this.props.value` and not `this.value`. Most recent value for textinput is in `this.props.value` and not in `this.value`. There is additional steps to set `this.value`.

[2022-01-13 17:41] Julesssss commented on #7184
Lol yep, perhaps we already had an internal issue for this.

CC @TomatoToaster, do we still plan to implement this API?

[2022-01-13 17:44] michaelhaxhiu commented on #7204
Yep, good point. I think it's ideal to have QA re-test this after the PR is live.

[2022-01-13 17:46] Julesssss commented on #7188
Confirmed the issue on staging, but I have been unable to reproduce on dev 😕 . I didn't notice any obvious reason for this failure on staging.

[2022-01-13 17:53] K4tsuki commented on #6872
#### proposal

The problem is in this line

https://github.com/Expensify/App/blob/13b7b0b1945989379ab63f098ee2f480e1b1ba4b/src/components/TextInput/BaseTextInput.js#L183

value should be `this.props.value` and not `this.value`. Most recent value for textinput is in `this.props.value` and not in `this.value`. There is additional step to set `this.value`.

set value for `this.value` in `compponentDi

[2022-01-13 18:18] Jag96 commented on #7189
This has been fixed and is being deployed to staging, closing

[2022-01-13 18:18] #7189 closed

[2022-01-13 18:20] thesahindia commented on #7140
@rushatgabhane, I also can't think of any side effects. Should we move forward without the flag?

[2022-01-13 18:27] rushatgabhane commented on #7140
Yup, without flags 👍

🎀👀🎀 C+ Reviewed

I recommend @thesahindia's proposal to enclose `WorkspacePageWithSections` in `KeyboardAvoidingView`

cc: @chiragsalian

[2022-01-13 18:34] puneetlath commented on #7079
Would we also use libraries for web/desktop? Or just do it ourselves?

[2022-01-13 18:39] NikkiWines commented on #6235
Nice! 🎉

I think the next step would be to fork the lib and spin up a PR with your changes @parasharrajat

[2022-01-13 18:46] puneetlath commented on #7147
Upwork job is here: https://www.upwork.com/jobs/~01af7927d004a95b05. @sobitneupane please apply there so I can hire you.

@Luke9389 I'll let you take the CME role on this, since you've already reviewed the proposal.

[2022-01-13 18:52] puneetlath commented on #6202
Sorry about that @rushatgabhane. I must've missed it due to the consolidation of the issues. Just sent you an offer in Upwork for it.

[2022-01-13 18:54] rushatgabhane commented on #6202
No worries 😊
Thanks!

[2022-01-13 18:57] parasharrajat commented on #7147
Yeah, @sobitneupane's proposal looks good to me.

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-13 19:00] puneetlath commented on #6202
Paid!

[2022-01-13 19:00] #6202 closed

[2022-01-13 19:01] trjExpensify commented on #7103
Perfect, sent the offer. 👍

[2022-01-13 19:04] trjExpensify commented on #6676
How are we getting on here, guys? Are we moving forward with @K4tsuki proposal?

[2022-01-13 19:05] mallenexpensify commented on #6693
Hired you @parasharrajat , let me know when you've accepted offer

[2022-01-13 19:09] parasharrajat commented on #6693
@mallenexpensify Accepted it.

[2022-01-13 19:10] parasharrajat commented on #6584
Yeah, I agree we should do this. Maybe use composition of higher degree.

[2022-01-13 19:12] kursat commented on #7103
Hey @trjExpensify, accepted and sent PR.

[2022-01-13 19:12] parasharrajat commented on #6676
Not yet. I think Nikkiwines raised a slack discussion and thus we are waiting for the conclusion.

[2022-01-13 19:13] NikkiWines commented on #6235
Oh yep, sorry - I forgot we have to handle that internally. @parasharrajat, just to be clear, you mentioned the`GooglePlacesAutocomplete` lib, but the lib we're currently using is `react-native-google-places-autocomplete`. The repo we'd be forking is https://github.com/FaridSafi/react-native-google-places-autocomplete

[2022-01-13 19:17] parasharrajat commented on #6235
Sorry for the confusion, I mean the same repo `react-native-google-places-autocomplete`. It has only one component `GooglePlacesAutocomplete` and I mentioned its name.

[2022-01-13 19:24] AndrewGable commented on #6980
Looks good 👍

[2022-01-13 19:25] mallenexpensify commented on #6693
Can you double check @parasharrajat ? I'm not seeing the normal option to pay

[2022-01-13 19:38] Luke9389 commented on #7147
Ok @sobitneupane, you've got the 🟢 green light 🟢 to make a PR. Thanks!

[2022-01-13 19:44] mallenexpensify commented on #6693
Paid @parasharrajat in Upwork (I think/hope).  There was a glitch where I wasn't able to access the payment screen.

[2022-01-13 19:47] NikkiWines commented on #6676
Oh sorry for the confusion - I didn't end up bumping the slack thread @K4tsuki made [above](https://github.com/Expensify/App/issues/6676#issuecomment-1002463361) because I ended up cc'ing the design team in my comment [here](https://github.com/Expensify/App/issues/6676#issuecomment-1004412810). Since @shawnborton agreed with my UI suggestion I figured the only outstanding comments was @parasharraj

[2022-01-13 19:56] NikkiWines commented on #6235
Should be all good now @parasharrajat - https://github.com/Expensify/react-native-google-places-autocomplete

[2022-01-13 19:56] trjExpensify commented on #7139
I just tested this on a fresh account, and adding the `bank account` and `debit card` payment methods are not behind the `wallet` beta. @kevinksullivan is going to bring that up in the channel. In the meantime though Puneet, Stites' PR has 2 out of 3 approvals, so it's almost through review to effectively fix what you reported in the OP.

[2022-01-13 19:57] parasharrajat commented on #6676
Ok. Thanks, @NikkiWines  for clarifying.
@K4tsuki Could you please create a proposal to achieve https://github.com/Expensify/App/issues/6676#issuecomment-1004412810 and all other necessary pieces of the puzzle?

[2022-01-13 19:58] parasharrajat commented on #6235
Spinning up the PR. Thanks.

[2022-01-13 20:12] mvtglobally commented on #7144
Checking off https://github.com/Expensify/App/pull/6659#issuecomment-1011520891
#6903 is failing https://github.com/Expensify/App/issues/7188
#7028 is failing due to #7055 is not fixed for Web and mWeb
Checking off #7101 as #7183 is closed.
#7132 is failing due to 7189
#7136 was reverted, Checking off

[2022-01-13 20:23] stitesExpensify commented on #7139
After telling Tom this didn't need to be fixed because default/delete is about to come out, I chatted with Kevin and we decided to put default/delete behind a beta which means this _does_ need to be fixed. I'll take it on

[2022-01-13 20:27] parasharrajat commented on #7181
Oops, tagged the wrong line. https://github.com/Expensify/App/blob/4123f1a4b59403c2dee65856358963f1e02e4d43/src/components/RoomNameInput.js#L99

[2022-01-13 20:33] iwiznia commented on #7181
Oh, if we have that, why is this bug present? 😕

[2022-01-13 20:38] chiragsalian commented on #7140
Proposal without flags sounds good to me as well 👍
Feel free to create the PR @thesahindia.

[2022-01-13 20:41] parasharrajat commented on #6235
PR is up https://github.com/Expensify/react-native-google-places-autocomplete/pull/1.

[2022-01-13 20:55] iwiznia commented on #7181
oh ok. Proposal looks good then 👍

[2022-01-13 21:06] stitesExpensify opened #7212 "Hide "Add Debit Card" behind a beta"
## Action Performed:
1. Log into an account not on the wallet beta
2. Go to the Payments page
3. Click "Add Payment method"

## Expected Result:
You should not see the "Debit Card" option

## Actual Result:
You see the "Debit Card" option

## Workaround:
N/A

## Platform:
All

**Version Number:** Version 1.1.27-1 (1.1.27-1)
**Reproducible in staging?:** Y
**Reproducible in production?:** Y
**Logs:

[2022-01-13 21:07] marcaaron commented on #7201
Sorry not sure I understand what the bug is supposed to be here. We are sending money to someone and the expectation is that

?

Why is this the expectation?

[2022-01-13 21:13] kbecciv opened #7213 "[HOLD for payment 2022-01-27] Sent messages has grey baground after disabled the Airplane mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with any account
3. Use mobile data only, disable the Wifi
4. Start sending the messages
5. Enable Airplane mode and send

[2022-01-13 21:44] deetergp commented on #7201
This is behind a beta so it's not really a blocker either.

[2022-01-13 21:58] thesahindia commented on #7007
@parasharrajat, I will create a `PhoneTextInput` component and will have another function similar to `onChangeText` which will provide the  `formatted value` ..since we need the regular `onChangeText` to let the user write special characters as well. And all errors and other functionality will just be the same as regular TextInput comp.

[code]

[2022-01-13 21:58] #6759 closed

[2022-01-13 22:25] stitesExpensify commented on #7139
Just kidding, we're still going to show `delete` so this _will_ be fixed by https://github.com/Expensify/App/pull/4437

[2022-01-13 22:25] #7139 closed

[2022-01-13 22:40] puneetlath commented on #7139
Cool, thanks y'all!

[2022-01-13 22:46] puneetlath commented on #6584
Any interest in taking it on?

[2022-01-13 22:47] Jag96 commented on #7188
This isn't happening on production because the `Get Assistance` UI isn't there, I'm also able to reproduce this on dev:

1. Tap on profile picture -> Workspace -> `Get Assistance` in top right
2. If you are redirected to concierge, select a different chat and do step 1 again
3. See you are not redirected to Concierge chat every time

This is also reproducible in the other context usage of this red

[2022-01-13 22:49] K4tsuki commented on #6676
All right, please wait.

[2022-01-13 22:50] Jag96 commented on #7144
Left a comment regarding #7188 [here](https://github.com/Expensify/App/issues/7188#issuecomment-1012586638), I think we can pass QA for #6903 because the core issue exists on production and wasn't introduced by that PR.

[2022-01-13 22:58] Jag96 commented on #7182
cc @TomatoToaster looks like this is a regression from https://github.com/Expensify/App/pull/7028, can you confirm?

[2022-01-13 22:59] TomatoToaster commented on #7182
Yep thanks for the tag, I can work on this

[2022-01-13 23:00] Jag96 commented on #7144
I also think we can remove https://github.com/Expensify/App/issues/7201#issuecomment-1012539923 from the deploy blocker list per that comment

[2022-01-13 23:02] Jag96 commented on #7144
Looks like https://github.com/Expensify/App/issues/7181 and https://github.com/Expensify/App/issues/7055 had the Deploy blocker label removed as well, so taking those off the checklist

[2022-01-13 23:04] stitesExpensify commented on #7182
Should anything related to rooms be a blocker? It's all behind a beta right?

[2022-01-13 23:05] stitesExpensify commented on #7182
Also while testing just now I found another bug for a new room because I didn't have an icon
<img width="499" alt="2022-01-13_16-04-48" src="https://user-images.githubusercontent.com/42391420/149422772-ad685606-8a84-4f88-af7e-75c2e8b6a9c8.png">

Besides that though, I cannot reproduce this in safari

[2022-01-13 23:09] Jag96 commented on #7182
If its behind a beta I agree it shouldn't be a blocker, removing the label

[2022-01-13 23:10] Jag96 commented on #7144
Also removing https://github.com/Expensify/App/issues/7182 from the checklist per https://github.com/Expensify/App/issues/7182#issuecomment-1012601614.

[2022-01-13 23:19] TomatoToaster commented on #7182
@stitesExpensify omg that screenshot is VERY helpful. I've been trying to recreate what I saw once which was that I wouldn't see the icons when I created the room. I think that's causing the crash. Works when you log back in but is like that the first time.

[2022-01-14 00:11] mountiny commented on #7187
When testing locally as well as on staging, there are the following errors showing up in the console:
![image](https://user-images.githubusercontent.com/36083550/149427574-f92a1deb-6508-4195-a154-8f0c8678579f.png)

![image](https://user-images.githubusercontent.com/36083550/149428454-3456d2f7-5a63-4d69-87ed-47c753253ee9.png)

I could not replicate the same errors which are shown on staging in dev

[2022-01-14 00:16] neil-marcellini commented on #5946
I would like to pick up this issue. It is still occurring. Would a solution be to send a default "welcome to the announce channel" message so that the room doesn't get filtered out due to having no messages?

[2022-01-14 00:30] neil-marcellini commented on #6966
I would like to take care of this one.

[2022-01-14 00:51] parasharrajat commented on #7007
Could you please lay down the outline of logic that would be contained in the component and the clean up you would do from the places, it will be used.

[2022-01-14 00:55] mallenexpensify commented on #5894
@roryabraham , when you have a min can you check Rajat's and Sid's comments above?

[2022-01-14 01:31] parasharrajat commented on #6584
Yeah, I am interested. I will look into it more to prepare a plan and submit here. It sounds complicated but I like complex things.

[2022-01-14 01:42] K4tsuki commented on #5946
That or just  don't filter default room:

https://github.com/Expensify/App/blob/bacf2cfae13c56988720125840edeb690db20f41/src/libs/reportUtils.js#L87-L93

Add `&& !ReportUtils.isDefaultRoom` in that if.
Or Make additonal parameter for `getOption` for `mustDisplayDefaultRoom` then add that condition. Just my opinion.

[2022-01-14 02:10] CamilaRivera commented on #6966
Am I still going to be paid for my proposal?

[2022-01-14 02:51] parasharrajat commented on #6966
Seems like you are eligible for reporting bonus.

[2022-01-14 03:02] CamilaRivera commented on #6966
@parasharrajat but in this case this was labeled as an `External` issue, and according [to the rules](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job), if it is NOT labeled as `External`, someone from Expensify can use the proposal without giving any compensation.

@mallenexpensify 👋 , am I understanding the mentioned rule wrong?

[2022-01-14 03:09] parasharrajat commented on #6966
Based on the rule, any proposal before External label is applied can be used by E employee without compensating for that. That's why contributors are instructed to propose only after External label is applied.

In this issue External label was applied after your proposal. Also, translation related issues are likely to be done internally based on SO.

[2022-01-14 03:47] mvtglobally commented on #7144
#6567 Team was able to QA every platform but Desktop. Can someone check Desktop internally or we can check it off?  Checking off #6903 based on https://github.com/Expensify/App/issues/7144#issuecomment-1012587828
Checking off #6978. As per steps it needs URL change. We validated on Web and It can't be QA-ed on Android app
Checking off #7028 as #7055 is not a blocker
Checking off #7132 as  #7189 wa

[2022-01-14 03:48] mvtglobally commented on #7144
Only need to confirm #6567 to close this checklist.
Team was able to QA every platform but Desktop. Can someone check Desktop internally or we can check it off?

[2022-01-14 04:27] rushatgabhane commented on #7035
@mananjadhav any updates on when your PR will be ready for review? Thanks :)

[2022-01-14 04:31] mananjadhav commented on #7035
Put in an update on the PR.

[2022-01-14 05:17] Beamanator commented on #7213
This should be able to be worked externally 👍

[2022-01-14 07:23] parasharrajat commented on #7213
#### Proposal
1. I added the row highlighting logic which depends on `reportActionID` of each action(report comment) but I didn't notice at that time(approx 3 months ago) that the unsent message does not have any `reportActionID`. So ultimately as the report action have `undefined`  `reportActionID` until it is sent.
Thus https://github.com/Expensify/App/blob/f7f8643e632e18e015d9e40bd59c0f8c06c60a

[2022-01-14 07:28] roryabraham commented on #5894
Okay, sorry for the delay here everyone. I think that @sidferreira's solution proposed [here](https://github.com/Expensify/App/issues/5894#issuecomment-973563994) makes sense – though how will we know the correct height for the address bar? It's not always the same IIRC.

[2022-01-14 07:44] Beamanator commented on #7213
Aah and that's causing
https://github.com/Expensify/App/blob/f7f8643e632e18e015d9e40bd59c0f8c06c60ac2/src/pages/home/report/ReportActionItem.js#L160 to be `true`, which makes the background color the same as if it's hovered, yeah?

This is a good question, can you bring this up in #expensify-open-source so we can get more 👀 ? Can we do this fix without worrying about the contextmenu / minimenu for

[2022-01-14 07:52] parasharrajat commented on #7213
@Beamanator Yes

For now, we have not faced any issues as contextMenu is already active for those messages as well. Also, only two actions are shown, Copy and mark unread. I think they work fine for that particular device.

[2022-01-14 08:07] parasharrajat commented on #7213
Yeah, I will raise the question in Slack. It is good to clarify this from User's prespective.

[2022-01-14 08:17] parasharrajat commented on #7187
### Proposal
1. `HeaderWithCloseButton` component usages `withLocalize` HOC which depends on Onyx data vai withOnyx to work properly.
2. We changed our app logic to use the Context-Provider pattern to speed up the app and WithLocalize also went through this evolution.
3. Thus as a result it requires `LocaleContextProvider` in the parent Component Tree to work.
4. In our stores, we do not wrap `Hea

[2022-01-14 08:25] roryabraham commented on #6552
@mananjadhav First I'd like to apologize for the delayed response here. In this case, I feel the budget is appropriate for this issue as-is – there was no real change in scope from the time you proposed a solution to the issue or unforeseen technical challenges.

However, there is some grey area because, as you can see in [this comment](https://github.com/Expensify/App/issues/6552#issuecomment-996

[2022-01-14 08:31] parasharrajat commented on #6552
Also, a small note to add to Rory's comment (in case it helps in the decision)
Refresh logic was curated based on combined efforts from multiple persons after Manan asked for help https://github.com/Expensify/App/pull/6856#issuecomment-999048454 (point 4) till https://github.com/Expensify/App/pull/6856#issuecomment-1000427173.

[2022-01-14 08:32] mananjadhav commented on #6552
@roryabraham, and I'd like to take back the request as I've been also assigned https://github.com/Expensify/App/issues/7037 which is a relatively small PR, so I feel that the budget increase wouldn't be required and the effort should be compensated there.

[2022-01-14 09:38] roryabraham commented on #6552
Okay, glad that easier issue makes up for it.

[2022-01-14 10:02] roryabraham opened #7220 "[Discussion] No mutually exclusive boolean props"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Coming from [here](https://github.com/Expensify/App/pull/6856#discussion_r782409028), I'm proposing a new code style guideline: "No mutually exclusive boolean props".

W

[2022-01-14 10:26] mountiny commented on #7187
@parasharrajat This looks great, but just to clarify. Will this fix the errors shown in the console, which do not have necessarily any negative effect on the app afaik, but we would still like to get rid of them.

[2022-01-14 10:31] parasharrajat commented on #7187
Yeah. It will resolve all of them for storyBook. But it does not affect the Warnings that are coming in our app. Those warnings will be removed when we will update Urban Airship lib.

[2022-01-14 10:50] mountiny commented on #7187
@parasharrajat Great! Feel free to start working on the PR. Nicole will create the jobs later on.

[2022-01-14 12:01] K4tsuki commented on #6872
How about changing below line with `this.setValue(this.props.value)` in:

https://github.com/Expensify/App/blob/991504fd8aefe8674f045bca11ae3c31f87337b2/src/components/TextInput/BaseTextInput.js#L55

And all `this.value.length` check condition must be coupled with `this.value`. So it will be `this.value && this.value.length`.

In this:

https://github.com/Expensify/App/blob/991504fd8aefe8674f045bc

[2022-01-14 12:08] #7190 closed

[2022-01-14 12:50] mountiny commented on #6718
Just updating the title to reflect that the price for this has been doubled.

[2022-01-14 13:16] michaelhaxhiu commented on #6058
@mallenexpensify I'm still not ready to delve into this design doc yet, but if you have free cycles and want to kick it off, I'm sure I can pile in within the next 2-3 weeks!

[2022-01-14 13:36] brianmuks commented on #7091
@parasharrajat when do you want `defaultStatus` to return `closed` ? I want to take a different approach in fixing the bug.

[2022-01-14 13:39] parasharrajat commented on #7091
I think that can be seen clearly in the code. For adding more scope to the issue, I think this is related to navigation but not the configuration.

[2022-01-14 14:04] brianmuks commented on #7091
Noted with thanks.

[2022-01-14 14:52] johncschuster commented on #7188
Looks good! I've updated the OP to include your repro steps, @Jag96. 👍

[2022-01-14 16:07] sobitneupane commented on #6718
**Proposal**
Previously I had proposed change in SidebarLinks.js shouldReorder function. But as @mountiny mentioned,

So, main idea behind my new proposal is to set REPORTS_WITH_DRAFT false only when either message is sent or component unmounts with no draft. Thus, even when draft is cleared, REPORTS_WITH_DRAFT will be true until the component unmounts.

My proposal is to

1. Remove
https://github

[2022-01-14 16:12] dylanexpensify commented on #7145
On it!

[2022-01-14 16:14] dylanexpensify commented on #7145
Posted!

Internal: https://www.upwork.com/ab/applicants/1482023251637559296/job-details
External: https://www.upwork.com/jobs/~0195002504c8fcf973

[2022-01-14 16:30] puneetlath commented on #7147
Sent hiring offer to @sobitneupane for the job and @tushu17 for reporting.

[2022-01-14 16:34] parasharrajat commented on #7199
@johnmlee101 This will be fixed automatically after https://github.com/Expensify/App/pull/7090 is deployed to staging.

[2022-01-14 17:04] flodnv commented on #6820
We should also consider what to do in order to handle jsonCode:666 errors everywhere, in which our API returns a user-friendly error message that can be shown to the user. See https://github.com/Expensify/App/pull/7229 for example.

[2022-01-14 17:06] thesahindia commented on #7007
Sure, here's what I'm thinking

#### Will create these three files for PhoneTextInput :
`src/components/PhoneTextInput/index.js`
[code]

`src/components/PhoneTextInput/BasePhoneTextInput.js`
[code]

`src/components/PhoneTextInput/basePhoneTextInputPropTypes.js`
[code]

#### Use

for RequestCallPage.js
1. add `formattedPhoneNumber: null`  after line 92
https://github.com/Expensify/App/blob/ca085ae4

[2022-01-14 17:15] luacmartins commented on #7203
The navigation error mentioned on [this thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1642147234458600?thread_ts=1642146678.458100&cid=C01GTK53T8Q) doesn't seem to be introduced in the previous PR. I see them whenever navigating through other screens too. Refreshing the page seems to initialize the navigator properly and temporarily solves the issues. It gets reintroduced at some point

[2022-01-14 17:20] parasharrajat commented on #7007
Hmm, I see. But you are not utilizing composition instead duplicate a lot of code.
Here is the outline.
1. we should create a `PhoneTextInput` component.
2. That wraps `TextInput` component.
3. This component's only duty would be to maintain state value and call onChangeText from props.
4. OnChangeText, it should remove the special chars and return the value.

let me know if you have any questions

[2022-01-14 17:33] MitchExpensify commented on #6967
Ah my mistake @ABee-Tech. The Upwork job you submitted your proposal to and are hired for is correct - Hiding my comment!

[2022-01-14 17:50] parasharrajat commented on #7181
Do we want to reduce the number of chars from the Room name?

[2022-01-14 18:03] stephanieelliott commented on #7076
Hey @thesahindia! Just a reminder that you have 3 days to submit a proposal before we open this job up to other contributors. If you'd like to submit a proposal, please do so within the next day!

[2022-01-14 18:05] MitchExpensify commented on #6931
Hired! Thanks @songlang1994

[2022-01-14 18:08] sidferreira commented on #5894
@roryabraham TBH I'm starting to think if this even have a good solution. I had some recent ideas, to test, but TBH I spent a lot of time already. I would like to debug and understand why some bugs happen. I wonder if it is possible to raise the reward having in mind the challenge that it offers...

[2022-01-14 18:10] stephanieelliott commented on #7181
I invited you to the job on Upwork @parasharrajat, please accept when you get a chance.

[2022-01-14 18:12] stephanieelliott commented on #5987
^^ Bump @roryabraham, are we still working on testing this?

[2022-01-14 18:14] neil-marcellini commented on #7188
There is another issue for [Report a bug does not lead to concierge](https://github.com/Expensify/App/issues/6908). I would imagine that the root cause is the same.

[2022-01-14 18:20] thesahindia commented on #7007
Have one question regarding the 4th point, if we return the formatted value then the user will not be able to write the number in (xxx)xxx-xxxx form since it will always go back to numbers only format on each change.
 I thought we wanted 2 values, one is for user to allow the use of special chars and other one to use it when we submit the form

[2022-01-14 18:25] NicMendonca commented on #7187
Sorry for the delay everyone! Here is the job: https://www.upwork.com/jobs/~0132a07ec55f3a9411

[2022-01-14 18:26] mountiny commented on #7187
No worries @NicMendonca, this one was a speedy one. @parasharrajat Can you please apply for the job?

[2022-01-14 18:28] Jag96 commented on #7188
Good find, looks like [the issue mentioned above](https://github.com/Expensify/App/issues/6908) has more context on it, so going to close this one in favor of that. I've updated the description of that issue to include these testing steps so it can be verified that the fix resolves this case.

[2022-01-14 18:28] #7188 closed

[2022-01-14 18:33] parasharrajat commented on #7187
Done.

[2022-01-14 18:35] mountiny commented on #7187
@NicMendonca Can you please hire Rajat for this job? Thank you very much!

[2022-01-14 18:35] parasharrajat commented on #7007
Yeah, you are correct. That's why we will create a local state in the component that will preserve user input.

[2022-01-14 18:36] neil-marcellini commented on #5946
That seems like a better idea. I'll start working on it. Thanks!

[2022-01-14 18:38] NicMendonca commented on #7187
hired!

[2022-01-14 19:09] mallenexpensify commented on #6823
@parasharrajat It looks like the Upwork job is closed so @MitchExpensify will need to create a new job to pay you (which can be done _now_ or later)

[2022-01-14 19:09] Jag96 commented on #7144
@mvtglobally I can test it on desktop! Once that is done is accessibility the only thing we're waiting on? Is that still being tested?

[2022-01-14 19:22] mvtglobally commented on #7144
@Jag96  https://expensify.slack.com/archives/C01GTK53T8Q/p1641233170400600?thread_ts=1641231175.393100&cid=C01GTK53T8Q I think they can be checked off

[2022-01-14 19:28] Jag96 commented on #7144
Great, #6567 passed QA on desktop so going to check off all the Accessibility boxes and close this!

[2022-01-14 19:30] Jag96 commented on #7144
:shipit:

[2022-01-14 19:30] #7144 closed

[2022-01-14 19:33] botify commented on #6563
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.29-5 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6849
- https://github.com/Expensify/App/pull/6849

If no regressions arise, payment will be issued on 2022-01-21. :confetti_ball:

[2022-01-14 19:33] botify commented on #6474
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.29-5 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6978

If no regressions arise, payment will be issued on 2022-01-21. :confetti_ball:

[2022-01-14 19:33] botify commented on #7056
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.29-5 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7101

If no regressions arise, payment will be issued on 2022-01-21. :confetti_ball:

[2022-01-14 19:33] botify commented on #7093
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.29-5 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7131

If no regressions arise, payment will be issued on 2022-01-21. :confetti_ball:

[2022-01-14 19:33] botify commented on #5952
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.29-5 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6567

If no regressions arise, payment will be issued on 2022-01-21. :confetti_ball:

[2022-01-14 19:33] botify commented on #7123
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.29-5 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7132

If no regressions arise, payment will be issued on 2022-01-21. :confetti_ball:

[2022-01-14 19:35] OSBotify opened #7235 "Deploy Checklist: New Expensify 2022-01-14"
**Release Version:** `1.1.30-3`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/4908
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6773
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6856
  - [x] QA

[2022-01-14 19:55] mananjadhav commented on #7035
@rushatgabhane  @luacmartins  PR updated

[2022-01-14 20:00] roryabraham opened #7239 "The triggerWorkflowAndWait action does not correctly link to the triggered workflow"
## Problem
The `triggerWorkflowAndWait` action lists the ID of the triggered workflow, but not an html link to the workflow running:

![image](https://user-images.githubusercontent.com/47436092/149577289-b2328a11-f973-4b82-850d-a8a35fa4a44b.png)

This makes it harder to follow along what's happening.

## Why this is important
This is a QOL improvement for our deployers.

## Solution
Include the HT

[2022-01-14 20:01] roryabraham commented on #7239
cc @Expensify/mobile-deployers if anyone wants this simple QOL improvement.

[2022-01-14 20:20] kidroca commented on #5987
The PR accidentally got closed, I'll have the chance to open it again and sync with `main` next week
But you leave a comment on the old PR or here if you need anything changed

[2022-01-14 20:23] thesahindia commented on #7076
@stephanieelliott, yes you can open this for other contributors.

[2022-01-14 20:43] iwiznia commented on #7181
To what number?

[2022-01-14 21:06] mananjadhav commented on #7121
I have a very random solution,

1. In `ReportActionItem`, we add a property, `disableOptionsMenu` (or some other name) based on which we don't trigger the options or allow trigger
2. The above prop will be set in `ReportActionView`, by adding a state variable, `isListBeingScrolled`
3. State value `isListBeingScrolled`,  will be set by
[code]

[2022-01-14 21:20] puneetlath commented on #6719
This just hit production.

[2022-01-14 21:20] #6719 closed

[2022-01-14 21:27] AndrewGable commented on #7239
I'll take it!

[2022-01-14 21:30] roryabraham commented on #4977
Completed QA of https://github.com/Expensify/App/pull/6906, and with that I declare this issue officially solved 😄

[2022-01-14 21:32] roryabraham commented on #5987
Sorry for the delays here, I got behind with the holidays and have been working hard to catch up.

[2022-01-14 21:46] mananjadhav commented on #7064
Agreed with this and there's nothing that can be done (shouldn't be going js path, etc.). My opinion is, we should close this one.

[2022-01-14 22:00] luacmartins commented on #7064
Thanks for the comment @mananjadhav! Closing since there's no action to be taken.

[2022-01-14 22:00] #7064 closed

[2022-01-14 22:21] roryabraham commented on #5894
Yes, this one has been a big PITA and I've been impressed with the research and work you've done so far. let's bump the budget to $1500?

[2022-01-14 22:29] roryabraham commented on #7089
@kursat Your proposal looks good, thanks for reporting the bug and proposing the fix! I'm going to tag this as external, get an Upwork job created, and then you can apply on Upwork. Feel free to submit the PR as soon as you're ready.

Also, just a heads-up for the future, generally its a good idea for outside contributors such as yourself to wait until an issue has the `Help Wanted` label before l

[2022-01-14 22:53] MitchExpensify commented on #6823
Invite sent for the new job [here](https://www.upwork.com/jobs/~01f3f2215c147ba53e) @parasharrajat !

[2022-01-14 22:55] MitchExpensify commented on #6823
Paid with reporting bonus @anthony-hull, thanks again

[2022-01-14 23:01] rushatgabhane commented on #7213
Just curious, what's the demolition label for?

[2022-01-14 23:03] NikkiWines commented on #6562
Thanks for letting me know @K4tsuki, I will look into this on Monday

[2022-01-14 23:09] mallenexpensify commented on #6966
I'm unsure of our current process for translation issues, checking internally
https://stackoverflow.com/c/expensify/questions/11761

Either way, @CamilaRivera , you'll be compensated for reporting, I added myself as CM to follow along

[2022-01-14 23:12] MitchExpensify commented on #7179
I tested this and do not think it is worth fixing right now. You can easily scroll to present the entire button when this issue occurs

[2022-01-14 23:12] #7179 closed

[2022-01-14 23:15] MitchExpensify commented on #7140
Hired @thesahindia !

[2022-01-14 23:17] neil-marcellini commented on #6966
I didn't mean to step on anyone's toes here. I saw that it hadn't been claimed or updated in a while so I went for it. Please let me know if I should avoid working on translation issues in the future.

[2022-01-14 23:33] mallenexpensify commented on #6966
Internal SO is updated with the below.

This one went off the rails a lil bit because @jboniface was accidentally unassigned by @iwiznia so there wasn't a Contributor Manager (CM) assigned to post the job to Upwork then add the Exported label.

@neil-marcellini , you didn't do anything _wrong_ based on the issue/labels.  Since you implemented @CamilaRivera 's proposal, we should compensate @Camila

[2022-01-14 23:33] rushatgabhane commented on #6980
@mdneyazahmad small nudge, looks like you have a go ahead for a PR.

[2022-01-14 23:40] mallenexpensify commented on #6058
We've started an initial discussion with a handful of folks, I anticipate it will be raised in a public, internal room soon then we'll have a better idea of how we want to proceed

[2022-01-14 23:58] TomatoToaster commented on #7182
Got a draft that I think will address the icon issue.

[2022-01-14 23:59] TomatoToaster commented on #7055
Got a draft that I think will address the icon issue for policy rooms which I _think_ will fix the crash. I'm going to test a few platforms and scenarios (single member workspace, admin and user workspace, from user perspective).

[2022-01-15 00:07] mallenexpensify commented on #5894
Noted the $1500, inc in the title. I'm unable to raise the job price in Upwork cuz @sidferreira is already hired, @Christinadobrzyn will add the balance as a bonus when paying

[2022-01-15 00:19] parasharrajat commented on #7181
May be 50..

[2022-01-15 00:20] ahmdshrif commented on #7145
## Proposal for IOS only

Adding `maintainVisibleContentPosition` prop to FlatLIst solve this issue or IOS.

### Code change

src/components/InvertedFlatList/BaseInvertedFlatList.js
[code]

https://user-images.githubusercontent.com/21364901/149600512-999970a6-0d9c-493d-b54c-24c92eabae2d.mov

[2022-01-15 00:36] ahmdshrif commented on #7145
for android, there is pull request on react native still not merged yet
so the previous solution will work also on android when it gets merged in the next versions.
https://github.com/facebook/react-native/pull/29466

[2022-01-15 00:44] K4tsuki commented on #7121
I have updated my [proposal](https://github.com/Expensify/App/issues/7121#issuecomment-1011229033).

[2022-01-15 00:50] parasharrajat commented on #7121
I will check them shortly...

[2022-01-15 02:24] parasharrajat commented on #6913
@Beamanator I have fixed the issue upstream and here is the upgrade PR https://github.com/Expensify/App/pull/7254.
This issue is fixed on that PR.  We won't need the changes of https://github.com/Expensify/App/pull/6972. Please do the needful. Thanks.

[2022-01-15 03:14] K4tsuki commented on #6676
This is my plan:

<details> <summary>For offline text component: </summary>

I will add `OfflineText` component, that will check offline status and display offline message. [The properties might be: `layoutStyle`, `textStyle`, `additonalText`, etc ]

</details>

<details> <summary>For `option row` styling </summary>

Add `pendingInvitation` properties to policy onyx data that will contain list of

[2022-01-15 05:30] mdneyazahmad commented on #7121
@mananjadhav these two props are not supported on web and as you declare ```isListBeingScrolled``` in ```ReportActionView```. It will re-render the entire ```FlatList``` item when it updates.

[2022-01-15 07:30] parasharrajat commented on #6285
@Christinadobrzyn No, but I helped in finding the right solution.

[2022-01-15 10:01] Santhosh-Sellavel commented on #5875
Sorry for the delay @trjExpensify

Accepted the offer now!

[2022-01-15 10:02] Santhosh-Sellavel commented on #6132
Thanks @kevinksullivan Accepted the offer now!

[2022-01-15 12:45] mvtglobally commented on #7235
Starting QA

[2022-01-15 16:15] kavimuru opened #7258 "Emojis - "Frequently Used" header is missing in emojis categories"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing #7125**
## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Go to Setting and change language to Spanish
4. Tap

[2022-01-15 16:16] OSBotify commented on #7258
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-15 16:18] rushatgabhane commented on #7258
Fixed in this PR: https://github.com/Expensify/App/pull/7255

[2022-01-15 18:20] kbecciv opened #7259 "Web - "{User Name} is typing..." is displayed after refreshing the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Preconditions: User B is not set name in Profile settings.
1. Go to https://staging.new.expensify.com and login as user A - use Windows/Chrome
2. Go

[2022-01-15 18:43] deetergp commented on #6213
Mark updated the PR with testing instructions, but it did not pass testing. Waiting on fixes.

[2022-01-15 18:44] deetergp commented on #6900
Are we still waiting on copy?

[2022-01-15 18:46] kavimuru opened #7260 "Policy room - Able to create room with same name and no error appears"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue found when executing** #7227
## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Create room e.g. Fish
3. Create second room with same name Fish

[2022-01-15 18:55] parasharrajat commented on #6900
Yeah.

[2022-01-15 19:12] marktoman commented on #6213
Hi Scott, I have found the underlying issue (see my response on the PR), which is not necessarily related to the PR. Can you check it out?

[2022-01-15 20:04] MitchExpensify commented on #6767
[Upwork](https://www.upwork.com/jobs/~01365ff9e2f7d84093)

[2022-01-15 20:06] MitchExpensify commented on #6823
Paid @parasharrajat ! Thank you

[2022-01-15 20:26] kbecciv opened #7261 "Private Room - Chair icon not displayed for private room created"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Click the '+' icon and select New room
3. Create a private room

## Expected Result:
Chair Icon displayed for private

[2022-01-15 20:56] kbecciv opened #7262 "New Room - "Uh-oh, something went wrong! error" after click on room details"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Click the green plus on the bottom left, create a new Room.
3. Click on the icon in the Header of the

[2022-01-15 21:55] kbecciv opened #7263 "mWeb - Attachment - Unable to attach PDF file from Google drive"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expesify.com and login
2. Navigate to chat with any user
3. Tap the plus button and select Add attachment
4. Navigate t

[2022-01-15 22:19] rushatgabhane commented on #7145
Nice find! It might take months for RN to merge that PR (29466). And then we'll have to upgrade RN, or merge the changes into a fork. Until then we can keep this issue on hold.

Alternative proposals which also fix the root cause (ie not workarounds) are welcome!
cc: @mountiny what do you think?

[2022-01-16 00:19] mountiny commented on #7145
Thank you for the review @rushatgabhane. I think it is better to fix this for iOS when we have a simple tool for it and then just keep an eye on the RN PR so we can update whenever that goes out for Android too. Do you agree or are there any reasons why it might be better to hold for the feature to be finished in Android too?

[2022-01-16 01:01] rushatgabhane commented on #7145
@mountiny my bad, this proposal needs work. It's causing this janky animation when sending a message.

Yep, I agree. If we go this route, no need to hold.

cc: @ahmdshrif

https://user-images.githubusercontent.com/29673073/149643066-a220fb27-4cf0-4e4d-a06b-d6f0cdb43c1f.mov

[2022-01-16 01:16] rushatgabhane commented on #7122
Regression here: [ from slack 🖇️](https://expensify.slack.com/archives/C01GTK53T8Q/p1642285458497600?thread_ts=1642285458.497600&cid=C01GTK53T8Q)

Footer is not completely visible on iOS. It gets repositioned only when we focus on the login field.

I missed this during review because it only happens 1/5 times.

cc: @mdneyazahmad

https://user-images.githubusercontent.com/29673073/149643458-3e9822c

[2022-01-16 01:20] mvtglobally commented on #7201
@roryabraham Modified the issue a bit. I think the team meant to say that button should stay either on top or bottom, but not move around abruptly. Hopefully it makes better sense now.

[2022-01-16 03:22] rushatgabhane commented on #7199
PR #7090 doesn't fix this issue ([source](https://github.com/Expensify/App/pull/7090#issuecomment-1013798990))
This issue was mentioned in the PR after it was merged.

cc: @johnmlee101

[2022-01-16 07:04] mdneyazahmad commented on #7122
@rushatgabhane thanks for figuring it out. It was missed as it only happens when you launch app and you are on home screen, or else it works fine. Here is the further changes. Could you please test it and confirm, during my test it works.

[code]

[2022-01-16 07:07] ABee-Tech commented on #6967
No worries.

[2022-01-16 12:43] eVoloshchak commented on #6470
Sorry for the delay

Yes we can, totally missed it.

Yeah, that's a much better approach.
I was trying to get it to work last week, but relatedProperty returned was `null` and I couldn't resolve it. However, now it works for me, so I'm guessing some fixes have been applied (added `tabIndex` somewhere maybe?).
Hovever, I still had a hard time determining that the element we lost focus to is the `Op

[2022-01-16 13:20] K4tsuki commented on #5768
Maybe calling design team?

[2022-01-16 13:35] parasharrajat commented on #6676
Better to just pass the styles from props instead of adding new props.

We don't want to block the button in this case. It won't look good. The button should only be disabled when no user is selected. There should simply be no effect for inviting the same user again. It means you will add a check on the action so that it ignores duplicate invites.

We first need to modify the API on the backend to

[2022-01-16 13:38] parasharrajat commented on #6676
@K4tsuki's proposal looks good to me. Do you have any questions?
The plan could be:
1. @K4tsuki submits the PR for UI change.
2. We keep this PR on hold until Backend changes are done.
3. Test the PR when the backend is ready.
4. Merge it.

cc: @NikkiWines

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-16 13:41] parasharrajat commented on #5768
Thanks for the ping @K4tsuki. This is monthly but yeah @Expensify/design could you please give it another look?

[2022-01-16 13:44] parasharrajat commented on #6470
No, this is not a good idea at all. Let me know if you have any other approach to solve it. Otherwise, I can give this problem a try.

[2022-01-16 14:30] rushatgabhane commented on #7122
@mdneyazahmad can you please create a PR? We can test all platforms and try to work something out.

[2022-01-16 14:37] mvtglobally opened #7264 "[HOLD for payment 2022-02-01] If you select an emoji using enter the emoji skin tone always yellow - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to any chat
3. Select emoji picker and change default skin color to smth
4. select any skin emoji and hit enter on keyboard

[2022-01-16 14:39] parasharrajat commented on #6891
It seems to be that more votes are going towards manipulating the value and adding slash. I will ping the thread once more tomorrow. If the direction remains the same, this is what we are going to implement.

[2022-01-16 14:51] mvtglobally opened #7265 "[HOLD for payment 2022-02-22] Composer does not hide while editing a message on mobile - Reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to any chat
3. Send messages
4. Hit Edit to make any changes

## Expected Result:
Composer should hide when we edit any mess

[2022-01-16 14:57] parasharrajat commented on #6059
I was looking in the pusher code but I did not find any code that implements the fallback polling. Could you please help me find it? You are talking about it so maybe link us in the code, to better understand it.

When we receive notifications, we sync some data which can't rely on Pusher.

I am not sure if we want to do that. Pusher is a very active codebase that relies on its servers. I am 90% s

[2022-01-16 15:00] parasharrajat commented on #7265
### Proposal
Already in the Actual result section
1. but we need to pass the `props.isSmallScreenWidth` to https://github.com/Expensify/App/blob/bc242029d3dbf9698eb6b9e454c2d4b6aae8d8e0/src/pages/home/report/ReportActionItemMessageEdit.js#L159

[2022-01-16 15:27] kbecciv opened #7266 "CORS errors with Push_Authenticate command"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Go to any Workspace
4. Click on Manage members
5. Click select all and remo

[2022-01-16 15:50] parasharrajat commented on #6591
I agree the problem is the same as what you have explained above and also, that `unreadActionCount` will be resynced as `fetchAllReports` will be completed afterward. But before we make a decision here, let's cover all cases the `unreadCount` is used or updated.

[2022-01-16 16:08] ahmdshrif commented on #7145
@rushatgabhane  just adding ` autoscrollToTopThreshold: 0`  will solve this issue

[code]

https://user-images.githubusercontent.com/21364901/149667812-8a6e9aad-22b9-42c2-b836-04b1c219a77f.mov

[2022-01-16 16:32] rushatgabhane commented on #7145
🎀👀🎀 C+ Reviewed

@ahmdshrif's proposal looks good! We'll fix it for Android by upgrading RN in future. I'll keep an eye on it.

cc: @mountiny

[2022-01-16 16:34] thesahindia commented on #7264
### Proposal
we are not checking if the types and the preferred skin tone is being provided when the user hits the enter/return key so we just need to add this logic -
[code]

[2022-01-16 16:43] kavimuru opened #7267 "Android - Chat - Infinite loading spinner appears when adding PDF attachment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Open any chat
3. Tap on + > Add Attachment >
4. Select "choose document" and attach a PDF
5. Tap send in preview modal

##

[2022-01-16 16:44] OSBotify commented on #7267
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-16 16:59] mvtglobally opened #7268 "Saving without editing the multiline comments edit box shows [Comment Deleted] in LHN - Reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Send multiline message
3. Click on edit
4. Save without editing

## Expected Result:
[Comment Deleted] should display only if user de

[2022-01-16 17:17] ahmdshrif commented on #6767
in src/pages/home/report/ReportActionCompose.js

we have this code in triggerHotkeyActions which makes pressing Enter key whiteout shift send the message.

[code]
so just deleting this will make all platforms use multiline when press enter.

but I think this code is set to some requirements.
so I suggest making send a message when press shift + enter (in case of  desktop )
and enter for the new li

[2022-01-16 17:23] thesahindia commented on #7007
@parasharrajat,

**updated proposal**
[code]

[2022-01-16 17:24] mvtglobally opened #7269 "[HOLD for payment 2022-02-08] When you enter wrong password on VBA page, incorrect error displayed - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Workspace > Add bank account or Settings > Payment > Add Payment > Add bank account
3. Select Plaid > Wells Fargo  & logi

[2022-01-16 17:31] sobitneupane commented on #7268
Proposing as I reported this issue.
**Reason:**
In editReportComment in Report.js, we are using ExpensiMark as the parser and ExpensiMark uses `<br>` as the line break. But the originalReportAction.message[0].html has `<br />` as the line break. So, two messages when compared appear different and it is considered to be edited. So, though the message is not edited, the message is indicated as an ed

[2022-01-16 17:48] parasharrajat commented on #7007
Ok, sounds good. That will work.
@thesahindia 's proposal looks good.

cc: @puneetlath
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-16 17:53] parasharrajat commented on #6767
Deleting is not an option here. We do want to submit the code when the user press enter. But the question is: Will `shift+enter` be a good shortcut to send a message instead of `Enter`.

In both cases @ahmdshrif your proposal is good. But Let's get more eyes on this change on slack before we proceed. I will start a discussion thread tomorrow.

[2022-01-16 18:02] kavimuru opened #7270 "mWeb - VBA - Error message appears after submitting all required info in Onfido flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go staging.new.expensify.com
2. Log in with expensifail account
3. Go to Settings
4. Tap on any workspace and tap Connect Bank account
5. Use the

[2022-01-16 18:47] mountiny commented on #7145
Great! Thank you for the review Rushat!

@ahmdshrif Can you please apply for the job on Upwork and create the PR? Thank you very much!

[2022-01-16 19:05] ahmdshrif commented on #7145
yes already applied
my account https://www.upwork.com/freelancers/~0143a705fba636cfd8

[2022-01-16 19:12] parasharrajat commented on #6584
- [ ] **TextInput**
	I will merge everything in this component.

- [ ]  **TextInputAutoWidthWithoutKeyboard** This can be easily merged.

	#### Purpose of component
	1. hide the main keyboard. We can have this functionality behind a prop.
	2. Auto shrink and expand based on text enter text. This will be added as another prop. Although, currently it exist as a single component I feel this behaviour

[2022-01-16 19:32] kbecciv opened #7272 "Android - Pay option is spinning before appears"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with the expensifail account A and request money from expensifail account B
3. Log in with expensifail account B and tap

[2022-01-16 20:15] Tushu17 commented on #7269
### Proposal (if considered external)
we need to add `incorrectPassword:  'Incorrect password. Please try again.'` here -
https://github.com/Expensify/App/blob/74cf52fea3a69f1c3503215defdd75de94b0881c/src/languages/en.js#L422-L425

and we need to add `incorrectPassword: 'Contraseña incorrecta. Por favor inténtalo de nuevo'` here -
https://github.com/Expensify/App/blob/74cf52fea3a69f1c3503215defdd7

[2022-01-16 20:24] mvtglobally opened #7273 "[HOLD for payment 2022-02-01] Used Emoji are shown twice in search result - Reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Chat and use multiple emojis few times
3. Navigate to emoji picker and search any emoji

## Expected Result:
Emoji should display onl

[2022-01-16 21:23] mananjadhav commented on #7273
I had worked on this piece and I am not sure if I would count this as a scope of that PR. But happy to do whatever we decide from the team.

**Proposal**

1. The solution can be we either skip the search in "frequently used" category
2. Or we just run `uniq` by `code` on the filteredEmojis.

I will recommend the second one:

https://github.com/Expensify/App/blob/74cf52fea3a69f1c3503215defdd75de94b

[2022-01-16 22:23] kbecciv opened #7274 "[$4,000] Endless launch of the App after tapping on a notification in airplane mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app and log in with any account ( Account A)
2. Kill the APP
3. Wait ~5mins and send msg to the mobile user from another device ( Accou

[2022-01-16 22:53] mountiny commented on #7267
Identified a potential culprit PR and left a comment there for involved developers if they are able to help: https://github.com/Expensify/App/pull/4908

[2022-01-16 23:55] kavimuru opened #7275 "IOU - Wrong message appears when requesting money from a closed account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Preconditions:
Create 2 accounts in applause.expensifail.com domain
Have some past conversation between two accounts
Close one of the account.
## Action Performed:
1. Lau

[2022-01-17 01:56] #6285 closed

[2022-01-17 02:27] K4tsuki commented on #6059
I have made a mistake here. Actually there is report refetch after Pusher subscribed  to user  event:

https://github.com/Expensify/App/blob/74cf52fea3a69f1c3503215defdd75de94b0881c/src/libs/actions/User.js#L294-L299

There is  `NetworkConnection.triggerReconnectionCallbacks`.
Actually if pusher subscribe later, we will not miss message, because there is reconnection callback that refetch all repo

[2022-01-17 03:54] K4tsuki commented on #6676
My proposal is on Onyx local data. There is no need to modify API/backend.

I am not blocking it. The style / display of button is same  (no change).
After click `invite` button, App will immediately go back to member page.
It will disable multiple clicking on invite button, because  the function is just single click on `invite` button and the goback. It just make sure that feature/function run th

[2022-01-17 04:07] jliexpensify commented on #6772
Not overdue Melvin, still being worked on!

[2022-01-17 06:12] hiteshagja commented on #6364
is there any way I can run in windows? Any workaround?

[2022-01-17 06:42] parasharrajat commented on #6676
How will you pass pending invitation to other devices?

[2022-01-17 06:58] K4tsuki commented on #6676
It is for offline mode purpose. so it is for specific device that goes offline.
Like when you sending message using device that goes offline. The message will be send from that device if it goes online again.

[2022-01-17 07:01] Beamanator commented on #7213
`Demolition` is a label we apply when there's an issue with clear steps that perfectly, consistently reproduce an issue. We normally use it internally but it's also helpful in this repo :)

[2022-01-17 07:03] rushatgabhane commented on #7213
Cool, thanks!

[2022-01-17 07:45] kidroca commented on #6364
1. Remove the post install script
2. Set the version of react-native-web to 0.15.7
3. Follow my comments here: https://github.com/Expensify/App/issues/1083#issuecomment-811989924

[2022-01-17 08:13] shawnborton commented on #5768
Hmm I think I am a little confused about what is being asked here and where we are at with this one. Looking back through the comments, I would say I agree with @robertjchen's [comment here](https://github.com/Expensify/App/issues/5768#issuecomment-948281317).

[2022-01-17 08:40] parasharrajat commented on #6676
Yeah, you are correct. I forgot we are offline :rofl: So when user will be online, pending invitation will automatically be removed.

[2022-01-17 09:03] Beamanator commented on #6913
Ok so I agree we won't need https://github.com/Expensify/App/pull/6972 anymore, so I closed it.

@mallenexpensify can you please:
1. Pay @CamilaRivera for the effort since we approved her proposal & she submitted a few PRs?
2. Pay @Tushu17 once https://github.com/Expensify/App/pull/7254 gets to production & we wait for regression testing

Do we also pay @parasharrajat for C+ on this issue or, sinc

[2022-01-17 09:30] K4tsuki commented on #6676
In my proposal, the time `pendingInvitation` and `employeeList`  is synced is when user open workspace, user add member and user remove member.

It would be best to make procedure that subscribe / connect to `NetworkRequestQueue` onyx data and that procedure will call a callback based on what queued API request is being send and provide response of the request to the callback.

For example on this

[2022-01-17 10:06] ahmdshrif commented on #7145
can you please hire me @dylanexpensify?

[2022-01-17 10:23] parasharrajat commented on #6676
Every API call keeps resolve and reject callback. So until the user force closes the App, these callbacks are fired. Thus we don't need any other way of handling this. When requests are saved to persistent storage,  we can't save the callbacks and there is no way of doing that So we have to rely on user refreshing the data by calling the API which would be the case most of the time.

[2022-01-17 10:29] dylanexpensify commented on #7145
@ahmdshrif offer sent! 😄

[2022-01-17 10:33] dylanexpensify commented on #6060
on hold still

[2022-01-17 10:35] dylanexpensify commented on #6807
Not overdue

[2022-01-17 10:51] kidroca commented on #7267
Submitted a regression fix: #7277

Maybe we should include a point dealing with PRs that introduce a migration
If such a merge request is reverted it might cause problems as any migrations run won't be reversed

[2022-01-17 11:20] Julesssss commented on #7274
I've seen this on iOS too, but I'm pretty sure the feature used to work. On Android I'm able to get past the splash screen, but I am not taken to the chat which contains the notification message. We should fix this too.

[2022-01-17 11:37] sobitneupane commented on #7275
Though error is displayed, request operation is performed at the backend. After refreshing the page, we can see the requested amount in the chat as "Requested --- from ----".
So, what is the expected behavior?
I think change should be made in backend or API.

1. If error should be displayed, API should not perform the request operation. And some changes should also be made in front-end.
2. If erro

[2022-01-17 11:41] K4tsuki commented on #6676
All right.

[2022-01-17 12:02] trjExpensify commented on #5875
Awesome, settled. 👍

[2022-01-17 12:02] #5875 closed

[2022-01-17 12:07] sketchydroide commented on #7260
@TomatoToaster it seems you edited this code not that long ago do you know if this has been fixed?

[2022-01-17 12:23] laurenreidexpensify commented on #6669
@Beamanator we still chatting internally on this one?

[2022-01-17 12:26] laurenreidexpensify commented on #5079
@parasharrajat was manually assigning you as C+ as this one pre-dated the programme starting, so slipped through the net

[2022-01-17 12:30] mountiny commented on #7267
That is a good point @kidroca.

Thank you very much for digging into this!

[2022-01-17 12:33] laurenreidexpensify commented on #5079
👋🏽  hi @akshayasalvi is there is any progress here? It looks like @iwiznia is still waiting for your reply from comments he left 7 days ago on the PR here https://github.com/Expensify/App/pull/6111.

If there is no further progress on this issue within the next 24 hours we will be unassigning this and reopening it back to the pool of other contributors. This job has been assigned for over three mo

[2022-01-17 12:40] Beamanator commented on #6669
Conversations went 🥶 - there's multiple offline issues that were being discussed [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1638202202437800)

[2022-01-17 12:49] trjExpensify commented on #7274
@Julesssss - shall we drop the iOS from the issue title then? Seems like the expected behaviour is broken on Android as well?

[2022-01-17 12:53] tylerkaraszewski commented on #7077
I was assigned as triage here but I don't have any strong opinions on this issue. Would anyone else like to chime in on this?

[2022-01-17 12:55] trjExpensify commented on #7274
Job exported to Upwork here: https://www.upwork.com/jobs/~01149b6e5e9f98a2c3

[2022-01-17 13:04] Beamanator commented on #6808
Not overdue, @kevinksullivan I think it's time to bump this to $1000!

[2022-01-17 13:10] tylerkaraszewski commented on #7077
Seems this feature was already approved. I'll unassign myself from triage and label external to review the proposal.

[2022-01-17 13:22] NicMendonca commented on #6471
Looks there has been movement on the PR last week 👍

[2022-01-17 13:50] CamilaRivera commented on #6966
Thanks for clarifying this issue @mallenexpensify  :) . I just applied to the job on Upwork

[2022-01-17 14:28] mountiny commented on #7267
@kavimuru @mvtglobally The fix has been deployed to staging, would you be please able to re-test this?

Thank you very much! 🙇

[2022-01-17 14:38] robertjchen commented on #7269
Thanks for the proposal, those changes look correct! 👍  I can also confirm that the Spanish translation is correct.

[2022-01-17 14:44] mdneyazahmad commented on #7122
@rushatgabhane  checked out out my original commit. And it is working as expected. It looks like the regression is not caused by my PR. Also to consider, the only change I did was to set minHeight instead of flex. And as stated in the regression, it works as expected only when focused. I did not handle focus and unfocused state, So, it may be a regression from another PR.

Commit id: ```288c8558ce

[2022-01-17 15:04] kakajann commented on #6301
Can we use external packages like https://github.com/ivpusic/react-native-image-crop-picker ?

[2022-01-17 15:52] K4tsuki commented on #6767
#### proposal

Maybe just add this `if( this.props.isSmallScreenWidth ) { return; }` to disable hotkey on small screen device.
on :

https://github.com/Expensify/App/blob/eaa09e7efd081dbc78db72e473b45f6524ed197b/src/pages/home/report/ReportActionCompose.js#L361

[2022-01-17 16:01] mdneyazahmad commented on #7122
#7280

[2022-01-17 16:09] parasharrajat commented on #6767
I think skipping the trigger for Mobile-web is the best option.
1. Shift-Enter won't work for Native devices.
2. we can't remove the logic as this is needed for other platforms.

and will track this by tracking screen dimensions or text input poison. since the react-native keyboard API does not work with the web.

We don't need to do all that. We have a way of checking that already.

**I like @K4t

[2022-01-17 16:10] puneetlath commented on #6584
This is great thank you @parasharrajat. Would you mind posting this in #expensify-open-source in slack so that we get a little bit more visibility on this? I think it will be a non-controversial change, but given that we didn't go through the normal process here I think it'd be good to get a little more visibility and also to have that as an example to point to in the future. Thanks!

[2022-01-17 16:12] ahmdshrif commented on #6767
I mention in my proposal we can track screen dimensions. but I think this will solve this issue for web mobile. but the issue will be on the web tablet so I am not going deeper with this solution

[2022-01-17 16:15] parasharrajat commented on #6767
Yeah, that is a good point. What do you suggest then? I am still open to proposals.

[2022-01-17 16:18] ahmdshrif commented on #6767
the current logic is set to web only. so we net need shift enter in native since native event not have `e.key` it has `e.nativeEvent.key `

[code]

[2022-01-17 16:21] bfitzexpensify commented on #7269
Upwork post [here](https://www.upwork.com/jobs/~0184fca64c01b8eb60) - @Tushu17, please apply there for a reporting bonus.

[2022-01-17 16:23] parasharrajat commented on #6767
Sorry, I mean for Desktop Web https://github.com/Expensify/App/issues/6767#issuecomment-1014702723. Mis typing...

[2022-01-17 16:24] parasharrajat commented on #6767
I am getting confused. So here is slack https://expensify.slack.com/archives/C01GTK53T8Q/p1642436661064300. Do share your thoughts?

[2022-01-17 16:26] parasharrajat commented on #7269
@Tushu17 's [proposal](https://github.com/Expensify/App/issues/7269#issuecomment-1013944613) looks good.

cc: @pecanoro
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-17 16:34] parasharrajat commented on #6584
Here is the slack link for reference https://expensify.slack.com/archives/C01GTK53T8Q/p1642437182067200

[2022-01-17 16:40] parasharrajat commented on #6823
@MitchExpensify you are yet to release the payment. I have only accepted the offer so far for [job](https://www.upwork.com/jobs/~01f3f2215c147ba53e).

[2022-01-17 16:47] stitesExpensify commented on #7265
Rajat's proposal LGTM!

[2022-01-17 16:51] kursat commented on #7089
Hey @roryabraham, Thanks for mentioning this. I'll be careful about it. I'll create the PR ASAP.

[2022-01-17 16:53] Julesssss commented on #6699
PR was merged today, awaiting deployment

[2022-01-17 17:15] chiragsalian commented on #6877
An update, the conversation is still active on slack.

[2022-01-17 17:17] bondydaa commented on #7266
Hmm seems like a CORS issue, is it only thrown in this case or does it happen on other requests as well?

[2022-01-17 17:28] bondydaa commented on #7266
And does it cause any issues with actually removing the user from the workspace?

[2022-01-17 17:43] michaelhaxhiu commented on #7015
Mybad on the delay, creating the job now.

[2022-01-17 17:44] michaelhaxhiu commented on #6032
Design doc is in progress, I got a little delayed last week but it'll be done this week

https://docs.google.com/document/d/1YpYDi3ZWjaYRThPa94Zx48zlweOYTIBG43HK4LHIhb4/edit#heading=h.ns12dr1f35rx

[2022-01-17 17:48] michaelhaxhiu commented on #7015
Upwork job link - https://www.upwork.com/jobs/~0148331077c676e1ed

[2022-01-17 17:49] michaelhaxhiu commented on #7015
I was conflicted on this one. While it's nice-to-have, I like the idea of things working smooth/consistent so I think we should do it.

[2022-01-17 17:50] michaelhaxhiu commented on #7015
Assigning @mananjadhav because he proposed this, and will be eligible for compensation at the end **if it's implemented**

[2022-01-17 17:55] mallenexpensify commented on #5952
Posted the below image in [this slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1642034861416800)
![image](https://user-images.githubusercontent.com/22508304/149817990-d6ae3e36-f502-45a7-a14a-b92a9f8b36dd.png)

@kidroca do you think the issue I had was related to this GH?  In the Slack thread I said 'do nothing' for now so we can wait to see if it happens again

[2022-01-17 18:05] iwiznia commented on #7181
I  am fine with 50 honestly, but not sure what's best... maybe let's ask in the open source channel what people think?

[2022-01-17 18:09] kidroca commented on #3867
We can enable file persistence after #6556 is merged

It deals with the issue of prematurely deleting persisted request (and the files to be uploaded)

After #6556 we'll be able to remove the comment here and set `persist` to `true`

https://github.com/Expensify/App/blob/c224cfe5ba9f9fc2214a2963d6c02d855dc1c96e/src/libs/actions/Report.js#L1170-L1173

[2022-01-17 18:12] parasharrajat commented on #6900
cc: @Expensify/marketing Could you please confirm the Header Text to be used for the screen?

[2022-01-17 18:24] parasharrajat commented on #6873
Depency PR is merged today. @mananjadhav you can proceed.

[2022-01-17 18:26] parasharrajat commented on #7037
This does not need to be on hold now.

[2022-01-17 18:27] parasharrajat commented on #7181
https://expensify.slack.com/archives/C01GTK53T8Q/p1642444018076500

[2022-01-17 18:29] MitchExpensify commented on #6823
Weird. Thought it went through - Definitely paid now! Thanks for the heads up @parasharrajat

[2022-01-17 18:34] marcaaron commented on #7272
This is not a bug.

[2022-01-17 18:34] #7272 closed

[2022-01-17 18:34] trjExpensify commented on #7037
Updated the title. Once the PR has deployed to prod, Melvin should add the `Awaiting Payment` date.

[2022-01-17 18:35] marcaaron commented on #7272
We are showing a loading spinner because we must wait for the most up-to-date payment methods to become available first.

[2022-01-17 18:37] rushatgabhane commented on #7011
@CSFlorin gentle nudge to link the PR :)

[2022-01-17 18:38] deetergp commented on #7012
@sobitneupane's proposal looks good. Let's make sure we add some comments explaining why this bit of code is necessary.

[2022-01-17 18:38] deetergp commented on #4115
Agreed, @kidroca. Going to close this since we've taken differing approaches to speeding up image handling.

[2022-01-17 18:38] #4115 closed

[2022-01-17 18:41] rushatgabhane commented on #6980
@mdneyazahmad please let us know when you can submit a PR. Thank you so much 😄

[2022-01-17 18:54] mvtglobally commented on #7235
Regression is almost done
#6971 is failing due to #5699. Checking off as its KI
#7125 is failing due to #7258
#7197 is failing due to #7261. Checking off as its not a Blocker
#7226 is failing due to #7262. Checking off as its not a Blocker
#7227 is failing due to #7260.

[2022-01-17 19:01] #7212 closed

[2022-01-17 19:05] kbecciv commented on #7266
@bondydaa I don't have any issue to invite and remove the user.

https://user-images.githubusercontent.com/93399543/149825179-20564e3a-7062-4d99-a8ad-06a4f2adbe74.mp4

[2022-01-17 19:12] mountiny commented on #7267
@michaelhaxhiu I made this issue `External`, but Kidroca has already fixed this and he is now working on a follow-up solution in the external library, which will, even more, improve our codebase.

I am not sure how exactly his contract works but as [per this comment](https://github.com/Expensify/App/pull/7277#issuecomment-1014808898), Kidroca will track time working on that fix under this issue.

[2022-01-17 19:17] kidroca commented on #5952
It kinda is because looks like it would create the same problem - a message stuck on the bottom

But the focus of the current issue was on "Network not present" - our messages never reaching the server - and not the server returning 50x codes so we never explored this possibility

Whatever message you sent - either caused the server to choke and be unable to process it, or you message reached the

[2022-01-17 19:17] kidroca commented on #5952
I've followed the code and it seems we're covering this case as well - meaning App should re-try posting you're Report Action and eventually succeed

1 When we get a 50x error this method would typically fail due to `response.json()` and no JSON in the response

https://github.com/Expensify/App/blob/dc2b32e758b998f0925edd9758196524d7d47f1b/src/libs/HttpUtils.js#L14-L28

2 Which means we're going t

[2022-01-17 19:24] jboniface commented on #6769
@parasharrajat looks like we never hired on upwork and the job closed itself. i sent a new one.

[2022-01-17 19:31] roryabraham opened #7284 "[$250] Race condition with the CP Staging label"
Coming from https://github.com/Expensify/App/pull/7255 ...

### Problem
There exists a race condition when the `CP Staging` is applied to a pull request after it's merged. Both of the following are possible:

1. When the merged pull request is fetched [here](https://github.com/Expensify/App/blob/b2dbefabfa40249aaabae23d1fdf4b591765ecbe/.github/workflows/preDeploy.yml#L25), it already has the `CP S

[2022-01-17 19:32] kidroca commented on #7267
No, typically I reference the issue I was assigned and worked on in my hourly

This task would take about an hour, and looks like a PR would be welcomed: https://github.com/rnmods/react-native-document-picker/issues/526#issuecomment-1014825101

[2022-01-17 19:36] jboniface commented on #6565
looks like i paid but forgot to close this

[2022-01-17 19:36] #6565 closed

[2022-01-17 19:36] jamesdeanexpensify commented on #6900
Do you just need review and approval of the two headers shown in [this comment](https://github.com/Expensify/App/issues/6900#issuecomment-1002885067)?

[2022-01-17 19:38] parasharrajat commented on #6565
@jboniface Can I apply for C+?

[2022-01-17 19:38] bondydaa commented on #7266
Okay thanks that's good so no functionality is broken 👍 .

This will most likely have to be an internal fix since it's something on our servers that will need to add the correct header so that isn't thrown.

I think we can set to monthly since it's not super pressing either.

[2022-01-17 19:40] parasharrajat commented on #6900
No, we are looking to get the correct header name for the screen attached on the issue description.

[2022-01-17 19:41] ctkochan22 commented on #7273
We should probably skip search in frequently used since the search parameters are the same for both. But I supposed there is merit in the second, as it would promote recently used within the search results. Lets go with the second one.

[2022-01-17 19:41] ctkochan22 commented on #7273
@mananjadhav your second plan sounds good

[2022-01-17 19:43] jamesdeanexpensify commented on #6900
Maybe something like "Almost there..." ?

[2022-01-17 19:46] mountiny commented on #7267
@kidroca Sounds great then! Thank you for working on this!

[2022-01-17 19:46] NicMendonca commented on #4656
👋 any update here?

[2022-01-17 19:53] jboniface commented on #7273
posted job and invited @mananjadhav https://www.upwork.com/jobs/~012625040bdf7302d7

[2022-01-17 19:54] bondydaa commented on #7266
Based on the screenshot it looks like it was something to do with Pusher + CORS

We have this line here in the API https://github.com/Expensify/Web-Expensify/blob/fb1c8f85da4f857c66d2f0d0fe64999cbfae7c49/api.php#L65-L72 which could be allowing cross site requests for new. and staging.new. so might need more debugging to confirm the actual fix.

[2022-01-17 19:54] adelekennedy commented on #7213
**Internal:** https://www.upwork.com/ab/applicants/1483165124961673216/job-details
**External:** https://www.upwork.com/jobs/~01896d33d47077cea4

[2022-01-17 19:55] jboniface commented on #6565
@parasharrajat the PR comment thread says you were paid for c+ though, right? https://github.com/Expensify/App/issues/6823#issuecomment-1014801806

[2022-01-17 19:56] jboniface commented on #6565
oh wait maybe im confused, give me a sec to look closer haha

[2022-01-17 19:57] jboniface commented on #6565
ah yep, sorry, let me file a new job for you to apply against

[2022-01-17 19:57] parasharrajat commented on #6565
These are two separate issues and the same contributor was hired for both and he created only one PR for both.
![image](https://user-images.githubusercontent.com/24370807/149830415-982f569f-d414-40dc-9f49-2f62166c812c.png)

[2022-01-17 19:57] jboniface commented on #6565
yeah the similar titles confused me 😅

[2022-01-17 19:59] iwiznia commented on #7266
Why is staging talking to prod?

[2022-01-17 19:59] sonialiap commented on #7148
Whoops, sorry for not seeing this one earlier

[2022-01-17 20:00] jboniface commented on #6565
@parasharrajat we can use this one : https://www.upwork.com/jobs/~015db709d7c738e88f

[2022-01-17 20:01] roryabraham commented on #7094
Making this a weekly. Next step is to determine if this is an issue that can be worked on externally or if it needs to be internal.

[2022-01-17 20:07] parasharrajat commented on #7213
Lol, I was also added to exported. I think if an issue is assigned to C+ then no other C+ should be assigned including me.

[2022-01-17 20:09] parasharrajat commented on #7213
@adelekennedy you can remove the Help Wanted label. This is already taken.

[2022-01-17 20:10] parasharrajat commented on #6900
cc: @marcaaron , He is involved in VBA.

[2022-01-17 20:10] bondydaa commented on #7266
oh wow duh good catch... I am not sure.

On Mon, Jan 17, 2022 at 12:59 PM Ionatan Wiznia ***@***.***>
wrote:

[2022-01-17 20:17] #7239 closed

[2022-01-17 20:17] rushatgabhane commented on #7015
@mananjadhav I'm assuming you'll remove Growl Notification for profile as well?

[2022-01-17 20:24] parasharrajat commented on #7273
@ctkochan22 There is no merit involved. The best match will come up. Frequently used emojis are just like another category on the list.

I think we should do the first approach, It seems to me that it will be faster than `_.uniq`. But both works. @mananjadhav 's proposal looks good to me as well.

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-17 20:44] stitesExpensify commented on #4547
No update

[2022-01-17 20:45] stitesExpensify commented on #4324
No update

[2022-01-17 20:53] chiragsalian commented on #7235
What's the status on testing https://github.com/Expensify/App/pull/7222?
I noticed it was unchecked above.

Also it looks like https://github.com/Expensify/App/pull/6856 has an update that it can be retested.

[2022-01-17 20:58] chiragsalian commented on #7258
@kavimuru, looks like the issue was addressed and its on staging now. Can you re-test and confirm the issue is resolved?

[2022-01-17 21:31] mallenexpensify commented on #6913
@CamilaRivera can you apply and confirm once you have? https://www.upwork.com/jobs/~01cfaafbf8184740e9

[2022-01-17 21:34] mallenexpensify commented on #6966
Thanks @CamilaRivera, I'll payon our standard timeline, 7 days after the PR is deployed to production (if not sooner since this is a small fix and was fixed internally)

[2022-01-17 21:37] mvtglobally commented on #7235
@chiragsalian We are re-testing and I will update shortly

[2022-01-17 21:45] mallenexpensify commented on #5952
Thanks for the context and explanation, it was helpful for me, being a non-engineer.

This likely explains why the comment stopped being stuck at the bottom soon after. In the past, the chats used to get stuck for more longer, I think I had to sign out/in to get them unstuck.

Can you think of a way to reproduce the issue I had?  If so, we should definitely create an issue.  If not.. are there oth

[2022-01-17 22:01] CamilaRivera commented on #6913
@mallenexpensify I already applied, let me know if you can't see my proposal. Thanks!

[2022-01-17 22:02] CamilaRivera commented on #6966
Thanks @mallenexpensify!

[2022-01-17 22:12] luacmartins commented on #7148
Can be worked externally. @sobitneupane your proposal looks good, but let's use a ternary operator to render the <Text> component.

[2022-01-17 22:18] ctkochan22 commented on #7273
I mean, there might be a _little_ merit somewhere no? haha. I just noticed that Slack does that. And I didn't think the performance would be noticeable. But at the same time, I'm not super passionate either way. We can do the first solution as @parasharrajat says

[2022-01-17 23:16] roryabraham commented on #7089
PR merged 🚀

[2022-01-17 23:17] mvtglobally commented on #7235
@chiragsalian We are unable to validate fix #7277 for 7267 as Android build 1.1.30-1 is still not available

[2022-01-18 00:02] puneetlath commented on #7122
Note to future self: there was a regression and we should pay 7 days after https://github.com/Expensify/App/pull/7280 hits production.

[2022-01-18 00:04] rushatgabhane opened #7286 "[Tracking] Cleanup - Remove keyboard type numeric, and incorrect uses of phone-pad."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem 1

Currently we have three types of keyboards - `numeric`, `number-pad`, and `phone-pad`.
 `numeric` and `number-pad` are the same on iOS and Android. ([sour

[2022-01-18 00:05] mountiny commented on #6718
@sobitneupane Thank you for this proposal. I see the idea behind this, however, it seems still quite complicated and a workaround solution. This functionality has worked previously so I would certainly try to look at what has broken it.

[2022-01-18 00:11] puneetlath commented on #7007
Sounds good to me too. @thesahindia I sent you a hiring offer in Upwork.

[2022-01-18 00:13] marcochavezf commented on #7079
Ah that's a good question, I don't know yet, also I'm not sure if we can re-use the native libraries on web/desktop. I will investigate and compare.

[2022-01-18 00:22] puneetlath commented on #6584
Ok, thanks for posting that Rajat. It seems that there is general agreement on moving forward. My recommendation is that we break this up into several PRs in order to make it easier to manage. Let's do one PR for each component that is being merged into `TextInput` or updated. And then one PR for adding to storybook. We can do one Upwork job with each milestone being $250. Does that sound like a g

[2022-01-18 01:04] mvtglobally commented on #7235
#7222 is failing https://github.com/Expensify/App/pull/7222#issuecomment-1014963726

[2022-01-18 01:24] NikkiWines commented on #7262
Looks good for UpWork in theory but I know the User Created Policy Rooms project is still in the works. cc: @jasperhuangg @jboniface @yuwenmemon looks like you all are involved in this project - do we want to handle this internally?

[2022-01-18 02:06] roryabraham commented on #7089
Re-assigning @puneetlath to create an Upwork job so that @kursat can get paid for the job + reporting bonus.

[2022-01-18 02:10] roryabraham commented on #6627
Sorry your payment got lost in the shuffle here, @parasharrajat! @adelekennedy Can we create an Upwork job for this, then hire @parasharrajat? The [PR](https://github.com/Expensify/App/pull/6971) is currently on staging.

[2022-01-18 02:13] danieldoglas commented on #7259
This is an issue not related only to the message `{User}  is typing...`. The name was not changed in the header of the chat before the reload, and even after the reload it was not changed in the contacts list.

I'm not sure if this is something that could be fixed in the app only. To change this behavior, we may need to change things in the backend too.

[2022-01-18 02:34] roryabraham commented on #4010
May have renewed priority soon, with the E/App calling project, cc @francoisl

[2022-01-18 02:44] roryabraham commented on #6863
No update here

[2022-01-18 03:10] Christinadobrzyn commented on #6908
Increased job price to $1000 - still reviewing on proposals

[2022-01-18 03:12] Christinadobrzyn commented on #6876
Increased job price to $1000

[2022-01-18 03:13] Christinadobrzyn commented on #6912
Increased job price to $1000 - collecting proposals.

[2022-01-18 03:57] mananjadhav commented on #6873
Thanks @parasharrajat I'll push the revert today.

[2022-01-18 03:58] mananjadhav commented on #7015
@rushatgabhane Everytime, I choose the image, we'll have to show the preview of the image without uploading it to the server, hence I am pushing it to the status.

[2022-01-18 04:04] mvtglobally commented on #7235
Still no Android build for 1.1.30-1.

[2022-01-18 04:06] akshayasalvi commented on #5079
Hi,
@laurenreidexpensify  can you please reassign this to somebody.  I will not be able to continue on this as my family has tested positive for Covid.

[2022-01-18 04:07] sobitneupane commented on #7012
Okay.

[2022-01-18 04:19] rushatgabhane commented on #7015
Cool thanks.
🎀👀🎀 C+ reviewed

@AndrewGable I recommend @mananjadhav's proposal.

[2022-01-18 04:24] rushatgabhane commented on #7015
@mananjadhav one more question;
How will you handle deletion of profile image? with respect to state of avatarFile

[2022-01-18 04:25] sobitneupane commented on #7148
I have updated my proposal https://github.com/Expensify/App/issues/7148#issuecomment-1010745388 as per your suggestion.

[2022-01-18 04:34] mdneyazahmad commented on #6980
@rushatgabhane My PR is ready, but I am unable to navigate to the screen and test. Could you please help me with test steps?

[2022-01-18 04:46] K4tsuki commented on #7077
#### proposal

- The solution could be to check on `this.sortedReportActions[0]` if exist render welcome text for `ListFooterComponent`. But  if  `flatlist` rendering is  late. This is getting ugly
- Another solution is to add `report.action.type` `SYSTEMMMESSAGE` and embed  it in report actions data and render it on `flatList` with `system avatar` (specific list item styling for `SYSTEMMMESSAGE`)

[2022-01-18 05:00] MitchExpensify commented on #7264
[Upwork Job](https://www.upwork.com/jobs/~010d358fc3863bb35b)

[2022-01-18 05:29] rushatgabhane commented on #6980
Good question. It's in workspace -> connect bank account manually. I tried setting it up using expensifail, but it asked for identity verification.

@mdneyazahmad what you could instead do is change the conditions in `ReimbursementAccoutPage`, and `ValidationStep` so that step 5 is rendered directly. I hope that helps.

[2022-01-18 05:32] yuwenmemon commented on #7262
@TomatoToaster can you take a look?

[2022-01-18 05:42] robertjchen commented on #6901
It still "jumps", but not as much as before with the header removed in the linked PR. I also confirmed that the chat view doesn't change scroll position upon edit, so it looks like that aspect has already been covered? Going to open the PR up for review 👍

![2022-01-17_22-40-03 (1)](https://user-images.githubusercontent.com/2438855/149876629-255b0cbb-ea08-4e15-85ad-174e36d7e21f.gif)

[2022-01-18 05:47] ahmdshrif commented on #6767
@parasharrajat  according to the slack thread, we agree that we need to detect the virtual keyboard.
thanks, @K4tsuki  for explaining this on slack.

so I will explain more about this option

we need the condition to be like this
[code]

how we will detect isKeyboardScreen since keyboardDidshow listener does not work on the web.
I dependant on 2 points: -
1. the window's dimension is changed when

[2022-01-18 08:11] shawnborton commented on #6901
Sounds good to me. I'm not entirely sure how we would avoid at least some kind of jumping when taking this action.

[2022-01-18 08:56] kidroca commented on #5952
No

I'm 99% sure there should be server logs about these 50x errors and someone already monitors them and would do something about it if necessary or bring it up internally

Maybe the request timed out because you send a message just as the backend was getting updated?

In any case it something requiring internal knowledge and it's either not a problem or should be discussed internally

[2022-01-18 08:56] parasharrajat commented on #7264
@thesahindia Please add links to the code and specifically tell where you are adding the code.
I hope to see this in current and future proposals. Thanks.

[2022-01-18 09:00] parasharrajat commented on #6584
Yeah, I am in favor of doing that. Thanks @puneetlath .

[2022-01-18 09:10] parasharrajat commented on #6913
@mallenexpensify Can I apply for C+? Thanks. I would prefer the https://github.com/Expensify/App/issues/7206 to be exported for the fix.

[2022-01-18 09:50] Beamanator commented on #7213
Reassigning to you :D I think it's fine if a C+ gets assigned to review a proposal & PR from another C+, it's always good to get more eyes on proposals & solutinos

[2022-01-18 10:18] Beamanator commented on #5296
Haven't gotten to this yet, other priorities keep popping up

[2022-01-18 10:50] thesahindia commented on #7264
@parasharrajat, Updated the proposal.

[2022-01-18 10:55] michaelhaxhiu commented on #7015
I was just about to ask that exact same question @rushatgabhane :)

[2022-01-18 10:56] sketchydroide commented on #7059
@JmillsExpensify bump, do you need to reassign this?

[2022-01-18 10:57] parasharrajat commented on #7264
@thesahindia 's proposal looks good to me.

cc: @luacmartins
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-18 11:04] mdneyazahmad commented on #6980
@rushatgabhane Thank you for your help. I was able to navigate to step 5 following your steps, but still unable to locate the the first screen. I also search for the references of the keyword ```letsChatCTA```, ```letsChatText``` etc. But could not find any page where it is used.

[2022-01-18 11:17] laurenreidexpensify commented on #5079
Thanks for letting us know, sorry to hear about your family. I've closed out the contract on Upwork + issued a discretionary payment for the work you did up to now.

I'm closing this issue and transferring to a fresh one for next steps.

[2022-01-18 11:17] #5079 closed

[2022-01-18 11:20] laurenreidexpensify opened #7288 "[Hold] Add a Welcome step to the set password sign in flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem:

When a user sets their New Expensify password we do not prompt them to make sure their name and profile picture are added.

### Solution:

When new account

[2022-01-18 11:23] laurenreidexpensify commented on #5079
Now being worked on here https://github.com/Expensify/App/issues/7288

[2022-01-18 11:33] pecanoro commented on #7269
Awesome, I agree!! @bfitzexpensify feel free to send the upwork offer to @Tushu17

[2022-01-18 12:30] sig5 commented on #7288
**Proposal**
We can add a Component  UpdateDetails which is rendered inside SetPasswordPage.js. Keeping in mind the security issues being dealt with in the last PR.

**Changes:**
- We prevent `SetPassword` from navigating to `ROUTES.HOME` in `Session` lib.
- We add a state `Key` to the SetPasswordPage (The key can only be used to update the personal details of a person).
[code]
- The API to set a

[2022-01-18 12:35] cmvithanage commented on #7288
Hi, I'm Chathuranga, a software and product engineer from Sri Lanka with 5+ years of experience. I came across this issue via your Upwork job posting. I propose the following to add **Basic profile details welcome step** to your sign in flow after a new user sets their password:

1. Make sure the **Basic details screen** is implemented properly and is properly connected to your current Expensify R

[2022-01-18 12:59] rushatgabhane commented on #7288
@laurenreidexpensify I should proly unassign myself yeah? Because Rajat has worked on this previously.
Ofc, will add 2 cents on the proposals once I'm familiar with the previous issue.

[2022-01-18 13:09] NicMendonca commented on #6122
☝️ not reported by contributor so removing my assignment

[2022-01-18 14:17] michaelhaxhiu commented on #7204
Update - still waiting on https://github.com/Expensify/App/pull/7097 and then we can test to see if this is still a problem.

[2022-01-18 14:39] rushatgabhane commented on #7288
Also if we just need to add the feature after SignIn Flow, we can add the Personal Details Form with hidden visibility. The visibility can be maintained as a state in the component.

@sig5 This seems ok to me. Currently `SetPasswordPage` is used for both new user and forget password. How will you differentiate between the both? Because we don't wanna ask for profile details after forget password u

[2022-01-18 14:48] NicMendonca commented on #7009
@mananjadhav paid paid! for bonus and reporting. Thank you 😃

[2022-01-18 14:49] #7009 closed

[2022-01-18 14:49] parasharrajat commented on #7148
@NicMendonca I think you forgot to add exported label.

[2022-01-18 14:50] parasharrajat commented on #7009
@NicMendonca Can I apply for C+?

[2022-01-18 15:00] NicMendonca commented on #6779
@parasharrajat can you apply to the job?

[2022-01-18 15:27] parasharrajat commented on #6767
Thanks for the updared proposal @ahmdshrif . It's an interesting idea. Can you please plan it according to our codebase?
1. How will only run this code only on the web.

we don't use this directly. There is a `withWindowDimension` HOC.

2. Why do you need a timeout? How did you determine the 400ms for timeout? Note: we don't prefer any solution that depends on `setTimeout` without definite usage.

[2022-01-18 15:29] dylanexpensify commented on #7013
Payment sent (including reporting bonus), contract ended, and job posting removed!

[2022-01-18 15:29] #7013 closed

[2022-01-18 15:37] NicMendonca commented on #7009
@parasharrajat  can you apply to the job so we can issue payment?

[2022-01-18 15:47] mvtglobally commented on #7235
Let push to close this checklist today.
#7125.  #7258 (7255) is fixed on all platforms but Android. We are still waiting a build to check.
#7227 is failing due to #7260.  It doesn't seem to be a blocker. Checking off.

[2022-01-18 15:58] rushatgabhane commented on #7148
🎀👀🎀 C+ Reviewed
@sobitneupane's proposal looks good to me as well.

cc: @luacmartins

[2022-01-18 16:11] TomatoToaster commented on #7260
Ah I guess we should be surfacing an error. But actually I don't think this is a bug. A second room doesn't get created right, it just seems like it brings you back to the existing room which seems to be working as intended.

[2022-01-18 16:12] TomatoToaster commented on #7260
@kavimuru could you verify that when you enter a message into that room and then try to create another room it doesn't try to give you a new one?

[2022-01-18 16:21] puneetlath commented on #7089
@kursat sent you an offer in Upwork.

[2022-01-18 16:25] bfitzexpensify commented on #7269
Sweet. Adjusted the job to $500 (to account for the fix + reporting fees) and sent you an offer @Tushu17

[2022-01-18 16:40] ahmdshrif commented on #6767
thanks, @parasharrajat  for mentioning these points

this only runs on the web as I mentioned `e.key` is undefined on native  I can add check on the platform but it will be duplicated.
[code]

yes, good point  I update it in https://github.com/Expensify/App/issues/6767#issuecomment-1015090345

I know it's not preferred to use time output there is no API to detect the keyboard like a native.
and th

[2022-01-18 16:41] puneetlath commented on #3245
@mananjadhav how is this going?

[2022-01-18 16:45] parasharrajat commented on #6767
and the only event we have is onFocus. and the time from clicking on TextInput to keyboard appears.
will be less than 0.5 sec .

Now, this raises a red flag. How can you be sure that each platform will take 400ms to open the keyboard?

[2022-01-18 16:47] parasharrajat commented on #6767
Can we try a solution where we only check if a device is a touchscreen then assume it to be Mobile web and disable the shortcut?

[2022-01-18 16:48] puneetlath commented on #6584
Ok invited you to a job with 6 milestones. One for each of the 5 `TextInput` components that need to be refactored. And one for storybook.

[2022-01-18 16:51] luacmartins commented on #7264
@thesahindia proposal looks good.

[2022-01-18 16:52] parasharrajat commented on #6584
Thanks, Puneet. I will start submitting PR as soon as possible. This is not much of a priority.

[2022-01-18 16:53] luacmartins commented on #7264
Sorry, I accidentally unassigned everyone 🤦  Re-added labels and assigned @thesahindia for the job!

[2022-01-18 16:57] mananjadhav commented on #3245
I've split the code based on the feedback and I'll raise the first PR by Thursday and the second by Friday. Once both are merged, will finish by the weekend/Monday.

[2022-01-18 17:04] tgolen commented on #6059
Hi! Happy to stop by and chime in, but I'll admit, there is a lot to read through here, and I'm not sure what is necessary to read or not. Can someone help me by summing up where this is at and how I can help?

[2022-01-18 17:09] parasharrajat commented on #6059
There are two main proposals.

Here are a few comments that contain most of them. They can explain the rest, I am not sure what to pick from all that.

@kidroca  https://github.com/Expensify/App/issues/6059#issuecomment-1007365923 https://github.com/Expensify/App/issues/6059#issuecomment-1007614463.

@K4tsuki https://github.com/Expensify/App/issues/6059#issuecomment-1007016068 https://github.com/E

[2022-01-18 17:30] anthony-hull commented on #3189
Waiting on PR review, answer to a question and a backend bug to be confirmed reproduced by the reviewer and fixed

[2022-01-18 17:31] anthony-hull commented on #6890
Waiting on PR review, answer to a question and a backend bug to be confirmed reproduced by the reviewer and fixed

[2022-01-18 17:33] TomatoToaster commented on #7182
Still working on the fix for this!

[2022-01-18 17:34] mdneyazahmad commented on #7288
## Proposal

I am not in favour of adding the welcome page in set password page (auth flow). Of course, we will have some challenges to implement a perfect solution. I went through the previous issue and found out the challenging part is to pass password to the welcome page.

In general we have two types of screen (protected and private). The welcome screen comes in the private part so, un authent

[2022-01-18 17:36] stephanieelliott commented on #7265
Posted to Upwork, and invited @parasharrajat to the job! https://www.upwork.com/jobs/~014eaca7e86f35ef8f

[2022-01-18 17:36] Tushu17 commented on #7269
@pecanoro, I am not assigned yet. Should I make a PR?

[2022-01-18 17:37] #7203 closed

[2022-01-18 17:38] chiragsalian commented on #7235
Cool, i've hit up my team and we're discussing about the android issue. We'll let you know once we figure it out.

[2022-01-18 17:40] rushatgabhane commented on #7265
Unassigning because Rajat is a C+

[2022-01-18 17:44] jboniface commented on #7016
it's not overdue

[2022-01-18 17:56] parasharrajat commented on #6891
Based on the slack thread, we have come up with this plan.

We will modify the value entered by the user on runtime.

1. User type MM and `/` are added automatically as soon as he types first Y.
2. User is clearing the value MM/YY and as soon as he clears first Y, /  is removed automatically.

Let's see your updated proposals...

[2022-01-18 18:13] #7032 closed

[2022-01-18 18:13] #6945 closed

[2022-01-18 18:17] Beamanator commented on #6966
This was closed b/c the internal PR was merged - reopening this so @mallenexpensify can remember the payout in 7 days 👍

[2022-01-18 18:18] mallenexpensify commented on #5952
Thanks @kidroca I've asked QA to create a new issue, reference this one and to label `Internal` and `Needs Reproduction`

[2022-01-18 18:21] mallenexpensify commented on #6913
Hired @CamilaRivera .   Yes, @parasharrajat , you can apply for C+, price is $250 for all
https://www.upwork.com/jobs/~01cfaafbf8184740e9

[2022-01-18 18:38] sig5 commented on #7288
We are gonna be adding the welcome page as a hidden form rather than a route. The form will be visible to the user after he sets his password. Non-authenticated users will not be having access to UpdateDetails.

[2022-01-18 18:39] K4tsuki commented on #6591
All right, please wait.

[2022-01-18 18:39] parasharrajat commented on #6913
@mallenexpensify Thanks. but #7206 does was not created to fix this issue. It solved four issues which can be seen on the issue itself. And that indirectly fixes this issue.
Also for #7206, I had to create an issue and PR on the third-party lib. But I am only requesting payment to fix that issue on our repo. I don't expect to be included in C+. I am sure @Beamanator can clarify this. Please let me

[2022-01-18 18:43] ahmdshrif commented on #6767
not very sure

yes, I agree. what about checking on the first keypress after focus instead of timeout.(track this with some state )

[2022-01-18 18:48] mdneyazahmad commented on #7288
@sig5 That will indeed be only accessible by logging in. I am talking about https://github.com/Expensify/App/blob/cd8130f58bdc43ad7759bf252ddca0ec400125cd/src/libs/Navigation/AppNavigator/index.js and set password page will be nested inside public screen.

[2022-01-18 19:05] sig5 commented on #7288
`SetPasswordPage`  is already a public screen. I don't see a problem with it, because a user won't be having access to it unless he has the Magic Link from email.

[2022-01-18 19:18] parasharrajat commented on #7181
Facing a strange issue. Trying to see what has changed.

[2022-01-18 19:20] parasharrajat commented on #6767
Still feels like a hack. I don't what could be the side-effects of that.

https://github.com/Expensify/App/issues/6767#issuecomment-1015604434 Have you thought about it?

[2022-01-18 19:20] roryabraham commented on #7235
Since @chiragsalian is leading an interview today, I'll see what I can do to push this checklist forward today.

[2022-01-18 19:22] mvtglobally commented on #7235
@roryabraham  we got 1.1.30-3 on Android. Team is checking CPs

[2022-01-18 19:26] roryabraham commented on #7235
Checking of #7222 as per https://github.com/Expensify/App/pull/7222#issuecomment-1015212552

[2022-01-18 19:26] mvtglobally commented on #6627
Issue not reproducible during KI retests. (First week)

[2022-01-18 19:27] mvtglobally commented on #6726
Issue not reproducible during KI retests. (Second week)

[2022-01-18 19:28] mvtglobally commented on #6772
Issue not reproducible during KI retests. (First week)

[2022-01-18 19:29] mvtglobally commented on #7023
Issue not reproducible during KI retests. (First week)

[2022-01-18 19:32] ahmdshrif commented on #6767
Yes it's a perfect solution
But Withe rn web i am not find an api to add touch listener .

It's in normal js window.addlistener('touchstart', callback)

[2022-01-18 19:33] parasharrajat commented on #6767
Maybe you can try `canUseTouchScreen`.

[2022-01-18 19:39] rushatgabhane commented on #7288
If I understand it right, one issue that I see with @sig5's proposal is that Welcome step is only shown for the first time. If an user sets the password and relaunches the app, they won't see the Welcome step. They'll be on home screen directly.

Is this the expected result? @iwiznia

[2022-01-18 19:39] mvtglobally commented on #6539
Issue not reproducible during KI retests. (Second week)

[2022-01-18 19:39] rushatgabhane commented on #7288
@mdneyazahmad  Interesting. Let's say a user sets their password and closes the app. People with access to the device can now set the phone number without password. Besides that, conditionally skipping authentication for phone number API could lead to some exploits that we don't know of. Not my expertise, but it doesn't seem like a good security practice.

[2022-01-18 19:40] mvtglobally commented on #6836
Issue not reproducible during KI retests. (Second week)

[2022-01-18 19:40] mvtglobally commented on #7008
Issue not reproducible during KI retests. (First week)

[2022-01-18 19:42] mvtglobally commented on #7133
Issue not reproducible during KI retests. (First week)

[2022-01-18 19:46] trjExpensify commented on #7008
@mvtglobally were you testing on staging? Looks like this was deployed to staging a few days ago: https://github.com/Expensify/App/pull/7100#issuecomment-1013436287

[2022-01-18 19:50] mananjadhav commented on #7288
Agree with @rushatgabhane. We shouldn't store the password in any persistent storage and we shouldn't change the API to add a phone number without the password.

I did go through the previous implementation conversations as well. It seems some discussions did happen with respect to SecondaryLogin being called with the password.

[2022-01-18 20:00] mvtglobally commented on #7235
Checking off #7125. #7258. &  #7277 for #7267 Android retest are pass
This is a new one https://github.com/Expensify/App/pull/7228 Should we test? @roryabraham

[2022-01-18 20:10] roryabraham commented on #7235
Yes please!

[2022-01-18 20:22] kidroca commented on #7267
PR Ready: https://github.com/rnmods/react-native-document-picker/pull/527

[2022-01-18 20:36] kidroca commented on #6059
My proposal revolves on trying to make NetInfo work for us and make it the source of truth for our connectivity/internet state

@K4tsuki proposes to monitor Pusher events. But I'm not sure whether his proposal is to
- totally get rid of NetInfo and rely on Pusher connected/disconnected state
- or have both NetInfo and Pusher dictate our connectivity

My point is if we should keep using NetInfo we

[2022-01-18 20:47] MitchExpensify commented on #7264
Hired in Upwork!

[2022-01-18 20:50] pecanoro commented on #7269
Oh I forgot to assign it to you, go ahead!

[2022-01-18 21:16] roryabraham commented on #7235
Any update?

[2022-01-18 21:17] mvtglobally commented on #7235
logging 1 minor issue and almost done

[2022-01-18 21:26] kavimuru opened #7293 "Web - Console error appears when clicking user name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Start a chat with a user.
2. Click on your avatar in the chat and verify that no Message <user> button is visible.
3. Now click on another user's

[2022-01-18 21:28] mvtglobally commented on #7235
@roryabraham  https://github.com/Expensify/App/issues/7293 and PR seem pass. Can you take a look and checkoff?
After this we are good to 🚀

[2022-01-18 21:33] roryabraham commented on #7235
:shipit:

[2022-01-18 21:33] #7235 closed

[2022-01-18 21:36] botify commented on #6780
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.30-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7162

If no regressions arise, payment will be issued on 2022-01-25. :confetti_ball:

[2022-01-18 21:36] botify commented on #7023
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.30-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7126

If no regressions arise, payment will be issued on 2022-01-25. :confetti_ball:

[2022-01-18 21:36] botify commented on #7060
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.30-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7125

If no regressions arise, payment will be issued on 2022-01-25. :confetti_ball:

[2022-01-18 21:36] botify commented on #7074
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.30-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7125
- https://github.com/Expensify/App/pull/7255

If no regressions arise, payment will be issued on 2022-01-25. :confetti_ball:

[2022-01-18 21:37] botify commented on #3922
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.30-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6878

If no regressions arise, payment will be issued on 2022-01-25. :confetti_ball:

[2022-01-18 21:37] botify commented on #7008
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.30-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7100

If no regressions arise, payment will be issued on 2022-01-25. :confetti_ball:

[2022-01-18 21:37] botify commented on #7058
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.30-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7090

If no regressions arise, payment will be issued on 2022-01-25. :confetti_ball:

[2022-01-18 21:37] botify commented on #7122
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.30-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7205

If no regressions arise, payment will be issued on 2022-01-25. :confetti_ball:

[2022-01-18 21:37] botify commented on #6552
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.30-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6856

If no regressions arise, payment will be issued on 2022-01-25. :confetti_ball:

[2022-01-18 21:37] botify commented on #7187
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.30-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7222

If no regressions arise, payment will be issued on 2022-01-25. :confetti_ball:

[2022-01-18 21:37] botify commented on #7037
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.30-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7224

If no regressions arise, payment will be issued on 2022-01-25. :confetti_ball:

[2022-01-18 21:37] botify commented on #5699
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.30-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6971

If no regressions arise, payment will be issued on 2022-01-25. :confetti_ball:

[2022-01-18 21:38] OSBotify opened #7297 "Deploy Checklist: New Expensify 2022-01-18"
**Release Version:** `1.1.31-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/4437
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6882
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/7061
  - [x] QA

[2022-01-18 21:44] anthony-hull commented on #7288
https://github.com/Expensify/App/pull/6587 I've written out a pretty extensive list of different journeys users can follow on this page. For resetting and signing up. Might be worth having a read through them when writing the proposals

[2022-01-18 21:48] CSFlorin commented on #7011
@rushatgabhane I have been waiting to get access to the repo. I thought after I accepted the job on Upwork I would have it but I am still getting the following when I try to push my branch up:
[code]

[2022-01-18 21:55] thienlnam commented on #6772
@mvtglobally Just to double check, are you able to reproduce this on windows?

[2022-01-18 22:04] rushatgabhane commented on #7011
@CSFlorin Contributors don't get access to push directly to this repository. Steps you should follow -
1. Fork this repo.
2. Push changes to your fork.
3. Create a pull request to Expensify/App

Also, please make sure you've read [CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#begin-coding-your-solution-in-a-pull-request)
Thanks so much!

[2022-01-18 22:29] kevinksullivan commented on #6132
Paid @Santhosh-Sellavel , thanks again!

[2022-01-18 22:29] #6132 closed

[2022-01-18 22:34] CSFlorin commented on #7011
Thanks @rushatgabhane Here is the PR :) https://github.com/Expensify/App/pull/7300 I'm still working on fixing it up

[2022-01-18 23:01] tgolen commented on #6806
This is open to proposals still. Shouldn't the price be doubling?

[2022-01-18 23:28] roryabraham commented on #7258
Looks like this was resolved in https://github.com/Expensify/App/pull/7255, and since it was a regression reported by Applause there's no other action to take here.

[2022-01-18 23:28] #7258 closed

[2022-01-18 23:36] kevinksullivan commented on #6808
Updated job to $1,000

[2022-01-18 23:39] kevinksullivan commented on #7266
This was reported by applause so I don't agree with Melvin [here](https://github.com/Expensify/App/issues/7266#issuecomment-1014840219) that we need to pay this reporting out.

[2022-01-18 23:49] neil-marcellini commented on #5946
After allowing default rooms to pass through the 0 participants filter I had rooms showing up with (deleted) in the title. I have now filtered out archived rooms so that these are hidden. Please let me know if you disagree with that approach.

Now when creating a new workspace the default rooms do not show up until the page is refreshed so the next step is to eliminate the need to refresh the page

[2022-01-18 23:54] mvtglobally commented on #7297
Starting QA

[2022-01-18 23:56] K4tsuki commented on #5946
I think that is good.
But I am just external contributor, shouldn't we ask other internal engineer?

[2022-01-18 23:59] neil-marcellini commented on #5946
Ok. I'll get some more feedback internally.

[2022-01-19 00:23] rushatgabhane commented on #7092
This issue is now fixed in production and can be closed.

https://user-images.githubusercontent.com/29673073/150040064-4c9c19b4-25d0-4c51-93fc-332166cfd7f4.mp4

[2022-01-19 00:27] K4tsuki commented on #6059
@tgolen Summary of my proposal (disregarding maybe an edge case where Pusher server going down):

I think to determine application `offline` or `online` status correctly, we need some kind of polling on internet connection.
Because we already using pusher that have polling mechanism on `offline` and `online` state, I utilizing pusher `connection` `state change` to determine application `offline` o

[2022-01-19 00:29] cead22 commented on #7293
Oh hmmm I reproduced and added the Demolition label but on second thought, I think it's possible that external contributor can fix this. @puneetlath Do you want to take a stab at this or should I label External? The error message says
[code]

But I honestly don't know if it's that easy

[2022-01-19 00:31] rushatgabhane commented on #7016
Not overdue

[2022-01-19 00:36] Luke9389 commented on #7016
You can use the reviewing label to keep Melvin from applying Overdue (as long as reviews are actually happening 😄 )

[2022-01-19 00:37] mvtglobally opened #7306 "$500 Emojis are left centered, with extra space on the right - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to any chat
3. Open Emoji modal and check display

## Expected Result:
Emoji should be centered in the middle

## Actual Res

[2022-01-19 00:41] mvtglobally opened #7307 "[HOLD for payment 2022-05-20][$500] Some image and video downloads do not get stored in Photo Gallery in iOS - Reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app.
2. Send specific image to chat (link below)
3. Download this image from another chat

## Expected Result:
Images should go to Photo gal

[2022-01-19 00:44] mvtglobally opened #7308 "[HOLD for payment 2022-03-22] Height of input box for entering room name is wrong and it does not highlight when focused - Reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to "+" > New Room
3. Hit in the box or hover

## Expected Result:
Input box should have blue border when focused.

## Actual