[2022-03-25 01:28] Christinadobrzyn commented on #7780
Issued payment for this job in Upwork!

[2022-03-25 01:37] #7780 closed

[2022-03-25 02:10] kadiealexander commented on #7432
@mananjadhav are there any outstanding questions or issues you had on this job?

[2022-03-25 02:26] rushatgabhane commented on #8308
Issue is reproducible. cc: @Santhosh-Sellavel

https://user-images.githubusercontent.com/29673073/160042426-099e3d47-fa8e-4312-94a2-cf825611f721.mov

[2022-03-25 02:38] kavimuru opened #8313 "Web - staging.new.expensify/statement/202112 does not redirect to appropriate page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #8174
## Action Performed:
1. Login to your account on NewDot and navigate to /statement/202112.

## Expected Result:
Verify that clicking

[2022-03-25 02:45] rushatgabhane commented on #7585
Yes, that's right

@michaelhaxhiu I believe that isn't the job link (I can't access that page)

[2022-03-25 03:12] rushatgabhane commented on #8308
@roryabraham This deploy blocker isn't caused by #8019

It's caused by https://github.com/Expensify/App/pull/8087, because reverting it fixes this issue.

[2022-03-25 03:19] kadiealexander commented on #8286
Posted to Upwork:

Internal: https://www.upwork.com/ab/applicants/1507195337885282304/job-details
External: https://www.upwork.com/jobs/~01e464e10f7aa79f5d

[2022-03-25 03:51] mananjadhav commented on #7081
Left with two things:
- Adding loader when the chat switches

- Alignment fixes and testing

[2022-03-25 04:28] rushatgabhane commented on #8308
I'm gonna take the liberty of creating a PR since it's an hourly ticket.

[2022-03-25 05:22] rushatgabhane commented on #6069
Sure @mallenexpensify I can take this one.
Just wanna hear @Luke9389's thoughts about the [proposal](https://github.com/Expensify/App/issues/6069#issuecomment-1059614881).

[2022-03-25 05:43] rushatgabhane commented on #8032
Unassigning because @Santhosh-Sellavel is a C+, and doesn't need another C+ to review it.

[2022-03-25 05:46] rushatgabhane commented on #7644
https://github.com/Expensify/App/issues/7644#issuecomment-1078170122

@ahmdshrif ^^

[2022-03-25 06:33] Christinadobrzyn commented on #8289
Testing:
- iOS 15.3.1
- NewDot version 1.1.44-4

<img src= "https://user-images.githubusercontent.com/51066321/160066841-500313cc-09f4-45de-9f1d-6b6906f21831.gif" width="200" height="400" />

Sending to eng!

[2022-03-25 07:04] Beamanator commented on #6669
Not overdue, if this goes 1 more week w/out being reproduced we'll close 👍

[2022-03-25 07:05] Beamanator commented on #5296
Still in the middle of some high priory tasks (currently Offline First doc)

[2022-03-25 07:56] rushatgabhane commented on #6069
@mallenexpensify thanks, I'd like to take this.
I can post a formal proposal by Monday EOD (max), I hope this is okay.

[2022-03-25 09:15] MitchExpensify commented on #7842
- Paid @mollfpr and contract ended
- Waiting @sig5  for to accept an offer then will pay and close the issue

[2022-03-25 09:20] adeel0202 commented on #8244
PR raised.
@Santhosh-Sellavel, I got `Prefer an early return to a conditionally-wrapped function body` lint error on the first commit, so I refactored the `clearError` method.

[2022-03-25 09:20] sig5 commented on #7842
Accepted! Sorry for the delay :P !

[2022-03-25 09:20] dylanexpensify commented on #6941
Doubling price!

[2022-03-25 09:24] dylanexpensify commented on #6941
Updated to $1000

Internal: https://www.upwork.com/ab/applicants/1507286648097341440/job-details
External: https://www.upwork.com/jobs/~0129c15ec139b5278d

S/O Post: https://expensify.slack.com/archives/C01GTK53T8Q/p1648200221458109

[2022-03-25 09:49] fredwolf commented on #6941
I've checked this issue very carefully. It is a very popular issue. This issue happens because you put the text on bottom with margin or padding. There are many ways to fix that.
![Screenshot_3](https://user-images.githubusercontent.com/79423892/160097089-39abda97-bf0b-4fc2-962f-61956845b385.png)
Don't use the bottom margin or padding. It will be fixed.
Thanks!

[2022-03-25 10:02] MitchExpensify commented on #7842
No worries @sig5 ! Paid > Contract Ended > Closing

[2022-03-25 10:02] #7842 closed

[2022-03-25 10:11] MitchExpensify commented on #7737
Doubled the price in Upwork and in title

[2022-03-25 11:36] anaskhraza commented on #8286
**Proposal**

I think this issue is related to the linking of the URL in linkingConfig.js. As mentioned by @bondydaa this is possibly related to more than one occurrence of the hardcoded string "expensify.cash".  I will debug this problem and make the necessary tweaks in the files so the login web address has been fixed.

Thanks,
Muhammad Anas

[2022-03-25 11:36] dylanexpensify commented on #6060
Offline design doc out! This is still on hold

[2022-03-25 11:39] michaelhaxhiu commented on #7585
https://www.upwork.com/jobs/~0118b3857ad2250c08 👈  try this one plz

[2022-03-25 11:41] dharmik commented on #8115
**Proposal**
We are using <Modal></Modal> various places and we are using additional top spacing for it so because of that image is cutting.

File name: AttachmentModal.js : Passing additional props
`isAttachmentModal={true} ==> Additional Props`
[code]

File name: BaseModal.js: We can ignore modalPassingStyle with props which we are passing.
Additional condition added `!this.props?.isAttachmentMo

[2022-03-25 11:55] #8275 closed

[2022-03-25 11:56] ahmdshrif commented on #7644
sorry @iwiznia  for making it confusing
I mention it early here https://github.com/Expensify/App/issues/7644#issuecomment-1035605998  and forget to add it to the final proposal

when past text we check if it contains HTML format and if yes we pare it with htmlToMarkdown

https://github.com/Expensify/App/blob/403fc28984e9d96f3127257a3dc3ac6e66a75cd6/src/components/TextInputFocusable/index.js#L244

[2022-03-25 12:18] NicMendonca commented on #2727
doubled: https://www.upwork.com/jobs/~017b165dfa9821e51c

[2022-03-25 12:19] NicMendonca commented on #8158
@sbendary25 are you keen to submit a proposal for this?

[2022-03-25 12:24] michaelhaxhiu commented on #8131
Doubling price

[2022-03-25 12:29] michaelhaxhiu commented on #7916
@parasharrajat can you confirm if I am correct in understanding that the proposal for this job isn't yet finalized, and thus price should double?

Or is this a scenario where the proposal is pretty much done and it just needs a little tweak/change?

[2022-03-25 12:47] michaelhaxhiu commented on #5994
Keeping this assigned to myself as this job isn't actually available for external work yet... it might be in the future, or we might fix it internally. TBD.

[2022-03-25 12:54] kavimuru commented on #8311
@mateusbra  I don't have access to the slack. But as per this comment, https://github.com/Expensify/App/pull/8195#issuecomment-1070240184 yes. Also tester can repro this bug too https://github.com/Expensify/App/issues/8006#issuecomment-1069334038

[2022-03-25 13:00] parasharrajat commented on #7916
Proposal is pretty much done. Just need to see a new one.

@mdneyazahmad  I am waiting for your audit proposal.

[2022-03-25 13:05] kavimuru opened #8317 "Web - Chat - Compose box gets disappeared after cancelling the edit comment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to URL http://staging.new.expensify.com/[](javascript:)
2. Select any existing chat or create a new chat by clicking + and click New cha

[2022-03-25 13:15] michaelhaxhiu commented on #7585
All set here.

[2022-03-25 13:15] #7585 closed

[2022-03-25 13:46] michaelhaxhiu commented on #7916
Keeping price at $250 until next week since @mdneyazahmad has an evolving proposal. Let's get that proposal updated/finalized when you have a chance Neyaz

[2022-03-25 14:05] parasharrajat commented on #8134
Why does it only affect quotes? Did you manage to find it? The last time I checked other tags are safely separated with spaces so if you replace all tags with `' '` it will add extra space between text.

Do you have a better solution? Thanks.

[2022-03-25 14:08] OSBotify commented on #8305
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8314) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.46-1` :rocket:

[2022-03-25 14:08] OSBotify commented on #8305
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.46-1 has been deployed to staging :tada:

[2022-03-25 14:30] rushatgabhane commented on #6584
@michaelhaxhiu sorry to bother you, but if it isn't too much trouble, I'd prefer C+ payout to be anytime before March 31st.

(0 tax for me then 😁)

[2022-03-25 14:30] michaelhaxhiu commented on #6584
Totally - I intend to pay you today :)

[2022-03-25 14:33] kidroca commented on #6876
Controlled `selection` is defeating the purpose of the uncontrolled TextInput, it causes a re-render each time we input a character - something we originally tried to avoid

The reason we're not setting `value` on the TextInput is to avoid re-rendering for each keystroke
I guess we've missed this when `selection` was added to the component

https://user-images.githubusercontent.com/12156624/160128

[2022-03-25 14:46] kidroca commented on #6876
How do we decide that?
For example we have this code, clearly stating it's a workaround:

https://github.com/Expensify/App/blob/c04fca7d9bd69ee8717f81714b41c0be60acde38/src/pages/home/report/ReportActionCompose.js#L272-L276

What I'm suggesting is similar, it also uses the `InteractionManager` and delays code using `requestAnimationFrame` (like `setTimeout`), yet my proposal is considered a "worka

[2022-03-25 14:51] JmillsExpensify commented on #4114
Awesome, great convo! Updated Upwork on both counts.

[2022-03-25 15:21] johnmlee101 commented on #8311
Opening this up!

[2022-03-25 15:21] johnmlee101 commented on #8311
This should stay daily priority

[2022-03-25 15:40] parasharrajat commented on #8286
Leaving a note: these expensify.cash strigs are necessary. I know as I made the change last time.

If you open the expensify.cash it redirects to the new and to keep old URLs working they were left as it is.

so to debug this one should
1. Find out how Android saves passwords and which settings are used for that purpose?
2. How can tweak that setting without breaking? Does Android provide more com

[2022-03-25 15:49] kavimuru opened #8320 "Blank screen is displayed after log in with new expensifail account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

Precondition: Create a new expensifail account and add as admin
1. Launch the app
2. Log in with expensifail account

## Expected Result:
Should be

[2022-03-25 15:50] OSBotify commented on #8320
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-25 16:13] luacmartins commented on #8320
@kavimuru I wasn't able to reproduce this particular issue (check video below). I did however see a blank screen after entering a new expensifail account, but before being able to enter a password. Can you confirm if that is the issue?

Existing expensifail account
https://user-images.githubusercontent.com/22219519/160158917-ab1408d8-5cb4-4e18-943f-88b6a1925ae7.mov

New expensifail account

https:

[2022-03-25 16:51] roryabraham commented on #8308
I wonder why I wasn't able to reproduce it in either environment... 😕

Thanks for the PR @rushatgabhane 🦸

[2022-03-25 16:52] roryabraham commented on #8308
@Expensify/applauseleads please retest this in `1.1.46-1`, and close it if no longer reproducible 🙏

[2022-03-25 16:57] roryabraham commented on #8272
No update

[2022-03-25 17:01] roryabraham commented on #7625
Sorry, this is held up on me. Making it a weekly because I won't be able to get to it until next week.

[2022-03-25 17:03] roryabraham commented on #7625
Also – maybe we can increase the bounty and tackle https://github.com/Expensify/App/issues/8272 at the same time? Would you be interested @thesahindia?

[2022-03-25 17:04] roryabraham commented on #8272
Proposed merging this issue into https://github.com/Expensify/App/issues/7625 and having the contributor handle both in the same PR (after I settle on a good approach)

[2022-03-25 17:06] thesahindia commented on #7625
Yeah sure.

[2022-03-25 17:08] mallenexpensify commented on #6069
Thanks @parasharrajat for the helpful comment and for @rushatgabhane for picking up the issue.  You're already assigned Rushat and there's no "Help Wanted" label so we should be good to go! Monday EOD is A-OK

[2022-03-25 17:14] kavimuru commented on #8320
Log in for the first time after creating is inconsistent, but when we create an expensifail account it happens every time.

https://user-images.githubusercontent.com/43996225/160169228-9ee97e9d-d3cc-4fce-b982-321006a40c6d.mp4

[2022-03-25 17:20] luacmartins commented on #8320
Thanks for confirming! That is the same issue that I'm seeing!

[2022-03-25 17:27] kbecciv opened #8321 "Workspace - Workspace name is not fully visible under all Workspace Settings - reported by: @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3. Go to Setting - Workspace - General setting
4. Type long name and s

[2022-03-25 17:37] parasharrajat commented on #8321
cc: @mananjadhav Possible regression from you change.

[2022-03-25 17:40] parasharrajat commented on #6591
Discussions on PR. PR has taken a new turn, it might take some time before being ready for merge.

[2022-03-25 17:42] Santhosh-Sellavel commented on #8115
@dharmik
Can you elaborate on this more?  I am expecting the following,
-  What exactly causes this crop effect?
-  Also how your solution will address the issues.

Also removing the entire `modalPaddingStyles` could break something in other platforms.

[2022-03-25 17:46] stitesExpensify commented on #8032
Done. Have you applied on upwork as well?

[2022-03-25 17:51] NicMendonca commented on #7573
Forgot to change title ☝️

[2022-03-25 17:52] NicMendonca commented on #2727
Doubled today ☝️

[2022-03-25 17:53] michaelhaxhiu commented on #6584
List of PRs that @rushatgabhane should be compensated for as a C+ on this milestone, which I would really appreciate a buddy check on:

1. `$125` - https://github.com/Expensify/App/pull/7318 - Rushat wasn't paid for C+ one this yet, and there was 1 regression
2. `$125` - https://github.com/Expensify/App/pull/7721 - there was 1 sneaky [regression](https://github.com/Expensify/App/pull/7782) only.
3

[2022-03-25 17:54] Julesssss commented on #3245
That seems more than fair to me. Given there were three big tasks, I think it makes sense to double twice.

[2022-03-25 17:54] Julesssss commented on #3245
@laurenreidexpensify would you mind updating the Upwork job, please?

[2022-03-25 17:55] mallenexpensify commented on #8159
@roryabraham I think we should keep this a weekly so that it doesn't get overlooked, we want the CM to get pinged if it goes overdue so that they can double the price.  If it were a monthly there's a (good?) chance it'd linger, not get doubled, then not get fixed

[2022-03-25 17:59] mallenexpensify commented on #6941
@tgolen I bumped back to weekly to help us/CM to keep doubling the issue til it gets fixed. If you prefer monthly because we want to wait on another issue/PR or if we're waiting for details/info/context, feel free to bump back to monthly and provide info/links in a comment

[2022-03-25 18:04] mallenexpensify commented on #3981
Put on hold pending #8267 (internal), updated title, removed `Help Wanted` label (**don't forget to add back when take off hold**)

[2022-03-25 18:06] Julesssss commented on #8234
@sobitneupane's solution seems cleaner and more in line with the rest of the app to me.

[2022-03-25 18:07] Julesssss commented on #8234
But we still need to follow the C+ process

[2022-03-25 18:08] iwiznia commented on #7644
Got it, thanks for clarifying! The proposal makes sense @jboniface please hire @ahmdshrif

[2022-03-25 18:10] parasharrajat commented on #6912
This is open for proposals...

[2022-03-25 18:13] danieldoglas commented on #8166
GH didn't remove Overdue on my update yesterday. That's strange.

[2022-03-25 18:17] Santhosh-Sellavel commented on #7968
I feel the proposal [here](https://github.com/Expensify/App/issues/7968#issuecomment-1073179308) is over-engineered.

@stitesExpensify I would like to hear your thoughts too on this one, thanks!

Waiting for better proposals!

[2022-03-25 18:18] ctkochan22 commented on #8178
Bump. Interested in doing this myself

[2022-03-25 18:20] luacmartins commented on #8320
Seems like it was introduced by changes to API.js in [this PR](https://github.com/Expensify/App/pull/8087) @marcaaron

[2022-03-25 18:22] jboniface commented on #7644
@ahmdshrif please apply here https://www.upwork.com/ab/applicants/1491819288094076928/applicants

[2022-03-25 18:25] mallenexpensify commented on #7325
Paid @parasharrajat $500 for C+ and @K4tsuki $500 for fixing issue

[2022-03-25 18:25] #7325 closed

[2022-03-25 18:26] michaelhaxhiu commented on #6584
@rushatgabhane I'm afraid this won't be paid today, I don't feel confident in the final answer yet. Going to look at what @parasharrajat shared here and hopefully get input from another teammate to ensure this is accurate

[2022-03-25 18:27] ahmdshrif commented on #7644
@jboniface  the link does not work

[2022-03-25 18:29] jboniface commented on #7644
@ahmdshrif oops, i sent you the link for the proposal reviews 😵‍💫
it's this: https://www.upwork.com/jobs/~0103d56637d4154cbd

[2022-03-25 18:31] pecanoro commented on #8158
Not overdue, waiting for proposals.

[2022-03-25 18:54] roryabraham commented on #4629
Still on HOLD

[2022-03-25 18:55] roryabraham commented on #7582
No update again, focusing on Offline First and other N7 priorities 😭

[2022-03-25 18:55] megankelso commented on #8197
A little confused as what's being proposed, but I like this [this](https://github.com/Expensify/App/issues/8197#issuecomment-1074455456) prototype for mobile but I don't like the modal of a big white box with the photo in the center, it doesn't seem consistent with the mobile solution.

another idea--currently clicking someone's photo opens the right side panel with the user details, could we just

[2022-03-25 18:55] thienlnam commented on #5768
Currently in regression hold

[2022-03-25 19:02] JmillsExpensify commented on #7463
<img width="1060" alt="Screen Shot 2022-03-25 at 1 02 01 PM" src="https://user-images.githubusercontent.com/1127863/160185058-2a860956-ef11-486f-8277-eb8b468d441c.png">

Sorry can you help clarify?

[2022-03-25 19:08] JmillsExpensify commented on #8150
Just seeing this, but I've experienced this issue before as well. If you are scrolling through your history, and at a certain point, you just get stuck. So I do think this is an issue, though I agree it's not urgent. I'd actually recommend though that we just close it for now if we'd like to wait on bi-directional scrolling first. Feel free to re-open if you disagree.

[2022-03-25 19:08] #8150 closed

[2022-03-25 19:13] roryabraham commented on #7776
Looks like this issue was reproducible on Monday: https://expensify.slack.com/archives/C01GTK53T8Q/p1647922118516619

[2022-03-25 19:13] JmillsExpensify commented on #8212
Upwork job posted here: https://www.upwork.com/jobs/~011b8d95c6d7c31fe1

[2022-03-25 19:16] JmillsExpensify commented on #8251
@yuwenmemon To confirm, we're keeping this issue internal?

[2022-03-25 19:25] roryabraham commented on #8159
That's a problem worth fixing, imo. We should be able to have Monthly external issues. Why can we not double the issue on a monthly cadence instead of a weekly one?

[2022-03-25 19:26] roryabraham commented on #7094
Sorry, still no update

[2022-03-25 19:26] JmillsExpensify commented on #8159
I agree with that. I think we need to have multiple levels of priorities within the issue pool.

[2022-03-25 19:27] trjExpensify commented on #8245
Yo, yo! I can't reproduce this @parasharrajat, @sophiepintoraetz - can you guys?

Safari mWeb
iOS 15.3.1
v1.1.46-1 (staging)

![Image from iOS (34)](https://user-images.githubusercontent.com/16232057/160188211-11146c70-70ca-4fc0-8efa-88d7f851854c.png)

[2022-03-25 19:30] trjExpensify commented on #7470
👋 @stitesExpensify @rushatgabhane, where are we at with the path forward for this issue?

[2022-03-25 19:31] trjExpensify commented on #7862
Okay cool, so what are the next steps here? We're ready to mock it up at this point, right?

[2022-03-25 19:32] trjExpensify commented on #8118
Awaiting a prod deploy, Melv.

[2022-03-25 19:34] parasharrajat commented on #6941
@fredwolf

Won't it break the design?

Can you share something that tells why?

[2022-03-25 19:35] parasharrajat commented on #8245
Did you try it on a link? Any link.

Try this

[2022-03-25 19:38] trjExpensify commented on #8245
Yes, I tried it with this link.. https://goo.gl/maps/xhdJyXp3Kbdr9um27

[2022-03-25 19:39] parasharrajat commented on #8245
Testing it again.

[2022-03-25 19:42] parasharrajat commented on #7971
I think we just need to fix the backend. Why backend is throwing the error when there is content in the message. The main content is HTML not text.

[2022-03-25 19:43] fredwolf commented on #6941
@parasharrajat

You can fix the issue with just using adjustPan.

Set android:windowSoftInputMode="adjustPan" in your manifest file, and it will work as you expect.

`<application
  android:name=".MainApplication"
  android:allowBackup="true"
  ...
  <activity
    android:name=".MainActivity"
    android:label="@string/app_name"
    ...
    android:windowSoftInputMode="adjustPan">
    ...
  </acti

[2022-03-25 19:44] kbecciv opened #8323 "Workspace -Manage members- Search is not cleared after selecting the user https://github.com/Expensify/App/issues/6872"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensigail account
3. Go to Setting - Workspace - Manage members
4. Click Invite
5 Start typing any valid account

[2022-03-25 19:45] thesahindia commented on #8234
@Julesssss, I think according to the design doc mentioned by @roryabraham [here](https://github.com/Expensify/App/issues/6717#issuecomment-998034214) we shouldn't disable the button from getting clicked so I think instead of disabling the button we should keep it active and we don't need to do anything about the whitespaces as when the user tries to save his account we show an error.

Also I think

[2022-03-25 19:50] iwiznia commented on #7688
Not overdue, PR was merged yesterday

[2022-03-25 20:04] marcaaron commented on #8320
Which change in particular? Any more context?

[2022-03-25 20:13] chiragsalian commented on #8249
Proposal LGTM. Feel free to create the PR @Tushu17.

[2022-03-25 20:29] parasharrajat commented on #8323
This was added intentionally as a feature and I don't consider this as a bug. The same flow can be observed in New Group page.

[2022-03-25 20:32] parasharrajat commented on #6941
This changes the behavior of the app and I don't consider that as a viable solution. We use
https://github.com/Expensify/App/blob/9c50db754bc29b340f7f725059d0cca6771fc61f/android/app/src/main/AndroidManifest.xml#L35

[2022-03-25 20:33] thienlnam commented on #7917
Price increased to $1000, still looking for a volunteer

[2022-03-25 20:53] roryabraham commented on #8234
Yes I agree @thesahindia – instead of disabling the button, we should allow it to be pressed and display a descriptive error like:

`Your Paypal.me username cannot be empty`

[2022-03-25 20:55] jliexpensify commented on #8249
Invited @Santhosh-Sellavel and @Tushu17 and @rushatgabhane

[2022-03-25 20:58] luacmartins commented on #8320
Chatted 1:1 with Marc and we figured out the expected behavior.

[2022-03-25 21:00] thesahindia commented on #8234
Currently we show `Invalid PayPal.me username`. Is it fine?-
<img width="376" alt="Screenshot 2022-03-26 at 2 24 55 AM" src="https://user-images.githubusercontent.com/83179295/160199646-e6b5d6dc-f81c-4bb1-afaf-fb3492463b11.png">

[2022-03-25 21:09] Luke9389 commented on #4656
We can keep it open for now. We'll end up assigning it to our outsourced performance group when they start.

[2022-03-25 21:09] roryabraham commented on #8234
Yes, this is in line with our current UI/UX guidelines. Closing this out. @laurenreidexpensify Please take down the Upwork job when you get a minute.

[2022-03-25 21:09] #8234 closed

[2022-03-25 21:16] thesahindia commented on #8234
@roryabraham, just one more thing, the button stays disabled when the username field is empty, is it fine?

[2022-03-25 21:17] mananjadhav commented on #8321
PR that I worked on dealt with adding a component to subtitle prop so that the filename + ext both are visible.

[2022-03-25 21:18] rushatgabhane commented on #7470
sorry, I don't 100% like any proposals here. Maybe @stitesExpensify has a different opinion

[2022-03-25 21:24] rushatgabhane commented on #6584
Sounds good!

[2022-03-25 21:26] mallenexpensify commented on #6912
I'm unable to reproduce and Rajat mentioned about he's not able to either on Desktop nor staging/web/Chrome.
@mananjadhav and/or @mvtglobally , can you see if you can reproduce? If not, we can close this

[2022-03-25 21:28] okansahin commented on #7470
@rushatgabhane How kind proposals do you like 😀 I found the source of the problem which I think was the main issue, and sent a proposal like you said with css only. But you don't like, it's weird.

[2022-03-25 21:44] rushatgabhane commented on #7470
@okansahin I'm sorry that I didn't communicate with you properly here.

We have many text inputs that can be autofilled. How will you fix it for inputs like debit card. We can't use your proposal for it. Please correct me if I'm wrong :)

[2022-03-25 21:50] kbecciv commented on #8323
@parasharrajat We have steps in TR which QA team is following - Verify the search is cleared after selecting the user (https://expensify.testrail.io/index.php?/tests/view/1849545)

[2022-03-25 21:54] okansahin commented on #7470
@rushatgabhane I think you didnt read this. As I said before the line height reset class will be applied only for secure inputs in @android. So it's not relational the other inputs.

[2022-03-25 21:55] azimgd commented on #7925
There are multiple things need to be addressed in order to integrate `maintainVisibleContentPosition` with `FlatList`:
- prevent multiple `onStartReached` calls on initial render in this [PR](https://github.com/Expensify/react-native/pull/7)
- fix `onCellLayout` calls inside `VirtualizedList.CellRenderer` component
- calculate correct coordinates for each FlatList item (aka `subview`)

## fix `onS

[2022-03-25 21:57] parasharrajat commented on #8323
Ok, Thanks for providing the info. My bad. I approved the PR based on these requirements https://github.com/Expensify/App/issues/6470#issuecomment-998120843

[2022-03-25 21:59] rushatgabhane commented on #7470
Sorry if I'm missing something, but as stated in the issue, we also need to fix it for inputs in debit card page. https://github.com/Expensify/App/issues/7470#issue-1118937295
Those inputs don't have secureTextEntry, so your proposal won't fix it right?

[2022-03-25 21:59] kbecciv opened #8324 "Notifications - User's names sets with " " are displayed with strange characters when received notification"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Set your last name as "Last and first name as First" - Account A
1. Launch the app
2. As user A, open a different chat, and background

[2022-03-25 22:00] chiragsalian commented on #8291
Should be a pretty straightforward external issue.

[2022-03-25 22:06] kavimuru opened #8325 "Payments - Generic error message appears when deleting bank card"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to new staging.
2. Open the Payment Page from Settings => Payments.
3. Select Delete option for the bank card added

## Expected Result:

[2022-03-25 22:06] rushatgabhane commented on #8321
Oh man.. Gotta make a test account which has all such edge cases, so it's easier to catch them.

Anyway, thanks for the tag. We just have to ellipse it right?

[2022-03-25 22:11] mallenexpensify commented on #8159
It'll def throw a bit of a wrench in a few processes but... I think I'm on board with ya.  It's surprising to me that, in 1.5 years, this is the first time it's been addressed, everything has been based on 'weekly' issues til now.  That makes me think there hasn't been much of a problem beforehand.  @michaelhaxhiu or I will start an internal conversation soon, likely with the Problem being 'we don

[2022-03-25 22:23] rushatgabhane commented on #8321
If we just need to ellipse it, we can add `numberOfLines={1}` prop to `Text` over here.
https://github.com/Expensify/App/blob/9c50db754bc29b340f7f725059d0cca6771fc61f/src/components/Header.js#L32

<img width="378" alt="Screen Shot 2022-03-26 at 1 20 53 AM" src="https://user-images.githubusercontent.com/29673073/160209719-bcd3e1af-8b4f-4205-8db6-797f00b55320.png">

[2022-03-25 22:31] parasharrajat commented on #7925
Awesome, I will check it tomorrow.

[2022-03-25 22:34] bondydaa commented on #8325
hmm this is probably internal since it seems something changed with the API and is breaking if it's happening on production too.

[2022-03-25 22:35] mallenexpensify commented on #7531
Paid @rushatgabhane and @thesahindia $250 each for the fix and C+ Sorry for the delay

[2022-03-25 22:35] #7531 closed

[2022-03-25 22:37] parasharrajat commented on #6876
I have noticed that controlled props perform more badly on dev builds than PROD. I think ReactActionComposer is also lacking optimizations. A single render takes a bit of time. If optimize this. We can get better results.

it has many things to render
1. AttachmentModal
2. AttachmentPicker.
3. PopoverMenus.
4. TextInput.
5. Modals.

Also, inline Children is making it worse. https://github.com/Expe

[2022-03-25 22:45] mallenexpensify commented on #7121
@K4tsuki paid $250

[2022-03-25 22:54] #8320 closed

[2022-03-25 23:07] OSBotify commented on #8305
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8322) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.46-2` :rocket:

[2022-03-25 23:13] thienlnam commented on #7307
PR still in review

[2022-03-25 23:13] Luke9389 commented on #8200
@quinthar there is a workaround where you can scroll up on the chat until the `X unread messages` green bottom appears. If you click that it marks the message as read.

This issue is a major QOL problem, but in the meantime, you can use that hack if this is driving you crazy.

[2022-03-26 00:18] adelekennedy commented on #8292
[Internal](https://www.upwork.com/ab/applicants/1507512096161005568/job-details)
[External](https://www.upwork.com/jobs/~01a87101625eccc331)

[2022-03-26 00:21] adelekennedy commented on #7912
We're at the mark to double the issue again! @parasharrajat you've pointed out how this issue can be resolved above @mateusbra and @dennismunene any interest in giving a proposal another go?

[2022-03-26 00:49] kbecciv opened #8329 "[$250] IOS - Fab Menu - The pop up opens again after doing double tapping on new chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open test app
2. Tap on +
3. Double Tap on new chat

## Expected Result:
The new chat page is open after tapping on new chat

## Actual Result:
T

[2022-03-26 05:01] rushatgabhane commented on #4612
1. Open Nikki's chat from LHN
2. Open Mitch's chat from LHN
3. Cmd + K, then click Rajat
4. Cmd + K, then click Matt
5. Cmd + K, then click Rushat
6. Go back

Expected result
We're on Matt's report.

Actual result
We're on Nikki's report. i.e. Using RHN (Cmd + K) takes us `N - 1` back in history!

<hr/>

From https://reactnavigation.org/docs/5.x/navigation-state/

LHN is a **tab navigator**, and r

[2022-03-26 05:04] rushatgabhane commented on #4612
I'd suggest that we be break this issue into two seperate issues. (_**8k each**_)

- Keep this issue to solve RHN bugs.
- Create a new issue to solve the LHN bug. i.e add an optional history prop to stack navigator.

Thoughts?

[2022-03-26 05:29] rushatgabhane commented on #8124
@mountiny any interesting finds?

[2022-03-26 06:06] Big-Vi commented on #7912
Hi,

I just looked into this issue now.  As mentioned in the previous comment, stripHTML function from expensify-common library strips out the text within <>.

[](https://github.com/Expensify/expensify-common/blob/main/lib/str.js#L312)

Modifying the regex works fine. The video is attached below:

https://user-images.githubusercontent.com/30820063/160226276-a10e4167-b4c2-4c33-b0aa-cb42bb0e6e49.mov

[2022-03-26 06:26] barun1997 commented on #7912
Hey, I just looked into the above issue, and here are my thoughts:

The current bug originates when we are converting a clean final HTML to Markdown (for instance,this is what the htmlToMarkdown helper takes: `<p>This is component <Component /> </p>`)

Within the parser, it processes the HTML string through the given markdown rules.

The given markdown rules don't consider out-of-scope HTML Tags,

[2022-03-26 06:33] mollfpr commented on #8246
cc @parasharrajat @rushatgabhane

First, I want to make sure that this issue reproduces when we try to select (long-press) on the user name not when trying to open the context menu on the image attached.

https://user-images.githubusercontent.com/25520267/160226244-f59dce4d-8ebf-40dd-acd7-c26442614d3c.MP4

I meant why it isn't present on Chrome Android.

It also appears in Firefox iOS. I don't hav

[2022-03-26 06:40] rushatgabhane commented on #8246
Nice find!

Woops, we have a regression from https://github.com/Expensify/App/pull/8018 then.

Third party browsers on iOS are using the same rendering engine as safari. This might be the reason.

[2022-03-26 06:46] rushatgabhane commented on #8246
@mollfpr while your proposal should fix the issue, I'm not sure if it's the best we can do.
I'd like to wait for @parasharrajat's review on this, or I'll ask @ Beamanator to step in.

Thanks for your patience!

[2022-03-26 06:46] parasharrajat commented on #8246
I am not sure if this is a regression from 8018. I think I tested this before that was merged. But you can confirm this by reverting that PR.

[2022-03-26 06:55] rushatgabhane commented on #8246
Totally agree!

Funny thing is I'm not able to repro this on `main`

[2022-03-26 09:20] murataka commented on #4612
@rushatgabhane , my fix solves this issue from the root at react navigation. let me know if you need any further explanation about that.

[2022-03-26 09:41] mollfpr commented on #8246
Try to long-press on the name.

[2022-03-26 13:13] mollfpr commented on #8134
### Proposal

There is some step we need to do to resolve this issue:
1. Create a function to get the first line of the last message.
2. The last message shown is from `SidebarLinks` is from `report.lastMessageText`, so we need to update how `lastMessageText` set inside `src/libs/actions/Report.js`.
3. Update `getLastVisibleMessageText` from `ReportActions`, which it use when receiving an event fr

[2022-03-26 13:42] rushatgabhane commented on #8246
Thanks, that worked. I can repro the issue now. I was clicking on image because the issue title said so.

Anyway, #8018 is not the culprit PR. Because reverting it didn't fix it.

[2022-03-26 16:57] mountiny commented on #8124
@rushatgabhane yeah sorry :D the Help Wanted label has not been removed so 🎉 fixed

[2022-03-26 17:03] brianmuks commented on #8134
Thanks @parasharrajat for your feedback. Your feedback has helped me to come up with a better solution.
Since the issue only affects the quotes only, I discovered that the bug is coming from the :
https://github.com/brianmuks/Expensify.cash/blob/main/node_modules/expensify-common/lib/ExpensiMark.js
online `413` the new line `\n` is being replace with no-space `''`
[code]
Please keep in mind that w

[2022-03-26 17:11] rushatgabhane commented on #8124
The issue is fixed? If so, perfect! I'll unassign myself

[2022-03-26 19:26] thesahindia commented on #8005
What I found is that we can filter out user created rooms to fix this( like proposed above ) but there's only one problem if you create a new room and send a message then the unread count will show up but it will go away on refreshing the page.
Other than that it works fine.

[2022-03-26 20:36] Santhosh-Sellavel commented on #8005
@thesahindia
Is this your final proposal [here](https://github.com/Expensify/App/issues/8005#issuecomment-1078418150)
Is there any code to add/remove?

[2022-03-26 20:52] Santhosh-Sellavel commented on #8032
@stitesExpensify PR is ready for review!

[2022-03-27 02:17] kbecciv opened #8331 "Attachment - Newly uploaded MP4 file removing attachment tag after refresh the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com and log in with any account
2. Click to add attachment
3. Select mp4 video and tap Send
4. Refresh the pa

[2022-03-27 03:31] mollfpr commented on #7968
As I said before the above solution is gonna resolve another issue which happens when the modal first shows and we press `EnterKey`, the `Cancel` button will be focused immediately.

https://user-images.githubusercontent.com/25520267/160265204-aa11bdf0-1bbf-4224-9b8e-60c82f5643d3.mov

---
The main issue here is we have 2 buttons and 1 of them has `pressOnEnter` pass which will make an event listen

[2022-03-27 03:41] mollfpr commented on #8246
@rushatgabhane  May I know which version release do you checkout?

[2022-03-27 06:56] mollfpr commented on #8115
## Proposal

This issue comes from `src/components/ImageView/index.native.js` when the calculation for `imageHeight` is not correct. Because we use the `react-native-image-pan-zoom` package, we need to calculate the correct width and height of the image. As you see below the height of the image of overflowing the headers and/or the button action below. So the solution is to get the correct height

[2022-03-27 08:56] thesahindia commented on #8005
Yeah we have to get betas and for that we can use `onyx.connect`
and forgot to change one more thing instead of `!Permissions.canUseDefaultRooms(betas)` we need to use `!Permissions.canUsePolicyRooms(betas)`

### Final Proposal
[code]

[2022-03-27 09:20] phivh commented on #8248
@luacmartins did it deployed on staging? It seems I don't see the default badge
![Screen Shot 2022-03-27 at 16 12 25](https://user-images.githubusercontent.com/5449119/160275024-ce54c690-419e-44ea-ad04-b657a88d2ee7.png)

[2022-03-27 10:11] phivh commented on #8248
Please ignore my comment above.
## Proposal

1. Assign `isDefault` argument for `onPress` in src/pages/settings/Payments/PaymentMethodList.js

[code]

2. Add new local property `shouldShowMakeDefaultButton`
[code]

3. Update `shouldShowMakeDefaultButton` in `paymentMethodPressed` when click event happens

[code]

4. Add the new prop in an additional condition

[code]

[2022-03-27 10:48] dharmik commented on #8115
@Santhosh-Sellavel
Actual cause of issue:
We calculate image height according to WindowHeight, ContentHeaderHeight. so we are calculating
`imageHeight = Math.round(this.props.windowHeight - variables.contentHeaderHeight);`

but in page there is additional space which is `...modalPaddingStyles`
so because of that image calculation is wrong and it cute.

I am checking `...modalPaddingStyles` is it a

[2022-03-27 14:04] mollfpr commented on #8033
@trjExpensify @parasharrajat I do some research on this issue.

To function to call that set the policy key value to null.
1. After deleting the policy
https://github.com/Expensify/App/blob/b347866b2af95bd2c51eb6bb65098bd1d756e7d0/src/libs/actions/Policy.js#L169-L189

2. After fetch all the policies then update the local policies. If the policy is not present from the server, set the local value o

[2022-03-27 17:20] kavimuru commented on #8155
@dharmik  Yes, it works fine if the space is removed. Thanks
![Uploading IMG_0147[1].PNG…]()

[2022-03-27 17:33] vijeeshin commented on #8324
Action Performed

1. Wrote a function to sanitise the first name and last name
2. In src/pages/settings/Profile/ProfilePage.js

[code]

[2022-03-27 17:52] kursat commented on #8119
## Proposal

### Cause

All calculations is done over `windowHeight` and `windowWidth` props, and it causes calculation of scroll position to be wrong.

[2022-03-27 20:04] brianmuks commented on #7912
***Proposal***
The issue is coming from this line :
https://github.com/Expensify/App/blob/b347866b2af95bd2c51eb6bb65098bd1d756e7d0/src/libs/SelectionScraper/index.js#L135
Wrong html content is being passed to `parser.htmlToMarkdown(newHtml);`
If you compare with what is being passed to :
https://github.com/Expensify/App/blob/b347866b2af95bd2c51eb6bb65098bd1d756e7d0/src/pages/home/report/ContextMen

[2022-03-27 20:23] parasharrajat commented on #8246
If long press on the image does not reproduce this bug and as you say clicking on the name does. It feels like issue is not valid. Because long press on name does not open th context menu.

Main motive of this issue was to fix the  long press action where context menu open up.

So we can close this. Cc. @rushatgabhane

[2022-03-27 20:26] parasharrajat commented on #8033
I think what are you proposing to fix that with respect to research.

[2022-03-27 22:29] metehanozyurt commented on #8220
## Proposal
### Cause
`IOUParticipantsRequest` component calls `getNewChatOptions` from `OptionsListUtils`, and it calls `getOptions` function which sorts contacts by `lastVisitedTimestamp` by default.

### Solution
We should pass `sortByLastMessageTimestamp` parameter through these functions:
- getNewChatOptions
- getSearchOptions (This will change order of the new chat search order also, if this

[2022-03-27 22:35] metehanozyurt commented on #8127
## Proposal
### Cause
View doesn't center its children. Simple because it has no proper styling.

### Solution
1. We should get total height of the loaded pages at `onLoadSuccess` callback of the `Page` component:
[code]
2. We should get the container height at `onLayout` callback of the `View` component:
[code]
3. We should calculate the view style before render if total height of the pages small

[2022-03-27 22:42] kadiealexander commented on #7375
@srdjanrist I can see the last comment on the PR was 5 days ago, could you please leave a comment here letting us know where you're up to?

[2022-03-27 22:52] kadiealexander commented on #8007
@mateusbra I've sent you a contract on Upwork :)

[2022-03-27 23:00] metehanozyurt commented on #8119
## Proposal
### Cause

When image is loaded, `imgWidth` and `imgHeight` cannot be set. That's because, `containerHeight` is undefined (container height and container width are not set to the state at this time) and `setImageRegion` can't do rest of the calculations.
Also all calculations is done over `windowHeight` and `windowWidth` props, and it causes calculation of scroll position to be wrong.

[2022-03-27 23:07] srdjanrist commented on #7375
Thank you for the heads up. I will check those few things mentioned in the PR today (28 March).

[2022-03-28 01:54] jliexpensify commented on #8287
Posted

Internal - https://www.upwork.com/ab/applicants/1508261111247921152/job-details
External - https://www.upwork.com/jobs/~01b2bf9b46c621dad9

[2022-03-28 01:54] mollfpr commented on #8033
I mean the cause this issue is ‘null’ value when spread data from ‘policies’, the ‘null’ value is from Onyx key and the way to delete data from Onyx is to set the value with ‘null’.

The solution might handle the cause of error which can be done with my proposal or not using ‘policies’ locally cache data from Onyx.

[2022-03-28 04:14] jliexpensify commented on #7596
Hello! @chiragsalian are you good for me to hire @mdneyazahmad ? Thanks!

[2022-03-28 04:34] mdneyazahmad commented on #7916
## Proposal

### RequestorStep
Need help navigating this page.

### ValidationStep
Need help navigating this page.

### Workspace Invitte new members
1. `tab` and `shift + tab` work as expected ✅
2. This form contains `OptionList` accessibility of this component seems broken❌
3. `enter` submits the form ✅

### Workspace - General Settings
1. `tab` and `shift + tab` work as expected ✅
2. When press

[2022-03-28 04:38] mdneyazahmad commented on #7980
@parasharrajat ⬆️

[2022-03-28 05:00] parasharrajat commented on #7980
Sorry, I have already given my suggestion. I don't have anything else to ask or suggest. If you are still facing issues, I suggest you ask on public channel.

[2022-03-28 05:02] mdneyazahmad commented on #7980
Thank you then should we close this

[2022-03-28 07:09] mdneyazahmad commented on #8307
I can not reproduce it

[2022-03-28 07:10] MonilBhavsar commented on #7770
@kavimuru this should be fixed. Can you please confirm

[2022-03-28 07:42] brianmuks commented on #7912
Thanks @barun1997

[2022-03-28 07:43] parasharrajat commented on #8033
Sorry, I didn't get this.

[2022-03-28 07:53] dylanexpensify commented on #8291
Internal: https://www.upwork.com/ab/applicants/1508351478606524416/job-details
External: https://www.upwork.com/jobs/~01e341ebb7d774aad0

[2022-03-28 07:55] mollfpr commented on #8033
Either we handle the cause of error which here
https://github.com/Expensify/App/blob/34e2d3eacfb80356b1906869d87cb0f43b012287/src/pages/ReportSettingsPage.js#L156

Or find other way to handle ‘policies’ data in component other than using Onyx.

[2022-03-28 08:04] parasharrajat commented on #7912
@barun1997 Thanks for the proposal. Could be please test your proposal against the following:

Paste this in composer and send as a message.
[code]

On which fact are you proposing the string replacement as a fix? What is the base of this solution?

[code]

  Why does doing this solve the problem? Will it work in general with every tag?

[2022-03-28 08:22] brianmuks commented on #7912
My solution does not cover these scenario:
Sentence with <code/> in it
So I though of some minor modifications:

[code]
[code]

[2022-03-28 08:33] parasharrajat commented on #7912
Could you please help with answers to my questions as well? Also, small(any) details will help me understand your plan. https://github.com/Expensify/App/issues/7912#issuecomment-1080342870 does not tell what are you trying to establish.

The previous proposal suggests that you are proposing string replacement as a solution and in the new code snippet, your function `getTextFromSelection` is return

[2022-03-28 08:54] parasharrajat commented on #8248
@phivh's [proposal](https://github.com/Expensify/App/issues/8248#issuecomment-1079897692) looks good to me. Instead of `shouldShowMakeDefaultButton` state, we can use `isSelectedPaymentMethodDefault:Boolean`. `shouldShowMakeDefaultButton` is very generic and as there are other conditions that decide the action button's visibility, it will give the wrong meaning.

cc: @luacmartins

:ribbon: :eyes:

[2022-03-28 08:59] Puneet-here commented on #8287
### Proposal
Need to remove this line
https://github.com/Expensify/App/blob/b347866b2af95bd2c51eb6bb65098bd1d756e7d0/src/components/EmojiPicker/EmojiPickerMenu/index.js#L154

it will also solve one more problem. As of now when we press enter and type something the previous search term get's cleared instead it should stay and user should be able to modify it.

**Before :-**

https://user-images.git

[2022-03-28 09:12] parasharrajat commented on #8220
@metehanozyurt's proposal looks good to me.

cc: @roryabraham

Rory, Do we need the same behavior everywhere where we are showing newChat Contacts?

If so, we will not have to add another param to `OptionsListUtils.getNewChatOptions`. It will just modify the call to getOptions in the above proposal.

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-03-28 09:28] brianmuks commented on #7912
So what we are trying to achieve here is to extract/determine the original text that was saved to the database as `html`.
The `copy to clipboard`   function basically  uses the `html`  content and passes it to `parser.htmlToMarkdown(html);` then writes it to the clipboard. So I feel that the function handling `CTR+C`  should be as similar as possible to the
`copy to clipboard` function.

If there

[2022-03-28 09:49] parasharrajat commented on #8309
Lol. This is a good one. We didn't notice that the browser will use the `e+` scientific number format.

[2022-03-28 13:46] mdneyazahmad commented on #7918
Update: I will create pr by tomorrow.

[2022-03-28 14:07] MariaHCD commented on #8295
From the [logs](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%226f1042a0c9376393-LAX%22)+AND+timestamp:[2022-03-24T13:57:37.470Z+TO+2022-03-24T15:57:37.470Z]&index=logs_expensify-015966), the call to GetShortLivedAuthToken [here](https://github.com/Expensify/Web-Expensify/blob/b8a84dfe1ad6d71e12edb17f3dae55461252985b/site/lib/policyUtils.js#L233-L250) succeeded.

However

[2022-03-28 14:42] mountiny commented on #8124
@rushatgabhane apologies for not being clearer 😂 this issue is not fixed, i meant the issue (which you unfortunately cannot see) related to the contributor management has been fixed. You could see in last couple of days that you were assigned as C+ but the bot thought you are contributor assigned to fix the issue.

I assigned you back as C+

[2022-03-28 15:09] mallenexpensify commented on #7837
Doubled price to $500
https://www.upwork.com/jobs/~0108a6d5655ee24bf8

[2022-03-28 15:22] mollfpr commented on #8033
@parasharrajat I have another proposal

We can create a HOC to return `policies` without a `null` value from Onyx.

[code]

After that we can replace the Onyx call to return `policies` data, using the HOC we created e.g in `ReportSettingsPage`. We also can replace another component that uses Onyx to return `policies` data.
https://github.com/Expensify/App/blob/b347866b2af95bd2c51eb6bb65098bd1d756e

[2022-03-28 15:27] parasharrajat commented on #8033
You can continue the discussion there. https://expensify.slack.com/archives/C01GTK53T8Q/p1648481170022179

[2022-03-28 15:37] mallenexpensify commented on #8124
Price doubled to $1000
https://www.upwork.com/jobs/~017bbe06765188f815

[2022-03-28 15:42] tgolen commented on #8329
Looks like a legit bug, so let's move it to external to get some proposals to fix it.

[2022-03-28 15:45] tgolen commented on #8155
Hm, since it works without the space, I think that this is mostly expected then? I think I'm just going to close this for now. Please reopen if anyone feels like this is a bug or if the behavior should be changed.

[2022-03-28 15:45] #8155 closed

[2022-03-28 16:18] Santhosh-Sellavel commented on #8005
@thesahindia
This does not make any sense to me, what are you trying to do here?
[code]
We should also include check for Default rooms too, because they are in beta too.
Even after adding those checks the issue persisted for me.

[2022-03-28 16:22] Santhosh-Sellavel commented on #8005
Case:
Where all `users` has access to both` user room` &` default room` betas.
User create a room & but didn’t send any messages. Also by default notification priority is `Daily` for the created rooms for all users.

Show daily even there is no messages we still some how show (1) notification in the browser tab for those rooms with no messages.

Can we handle this seperatly or what can we do here?

[2022-03-28 16:50] shawnborton commented on #8197
I think the easiest path forward for now would be to just do what we currently do with all images that can be enlarged - just open them in our default image viewer modal. Basically I think [this proposal](https://github.com/Expensify/App/issues/8197#issuecomment-1076251055) is good for our first iteration of this and will be the easiest and most consistent path forward.

[2022-03-28 16:52] shawnborton commented on #8197
As for Megan's comment above, I like that idea and I think it would be a separate project to just make that profile picture larger when the sidepane is open, but I still think you would be able to click on the full size version and have it launch in our image viewer modal. That being said, I'm not sure why we would show it there as a square when we typically show avatars everywhere in the app with

[2022-03-28 16:56] roryabraham commented on #8305
https://github.com/Expensify/App/pull/8160 was verified by a number of people on both x64 and arm. Checking it off.

[2022-03-28 17:00] stitesExpensify commented on #7968
@mollfpr do you know if that's a common pattern in other RN projects? I've got to imagine that this is something other people have run into where multiple rendered buttons have `pressOnEnter`

[2022-03-28 17:02] luacmartins commented on #8129
PR is mostly done. I'll put this on review shortly.

[2022-03-28 17:27] parasharrajat commented on #8134
AFAICT, this code block is responsible to remove the new lines for lines on the quote itself and middle lines. This block never executes at the start of the quote. Also, this is needed for custom quote parsing. You have started to look at the correct place. We can also do better for the solution. Thanks.

[2022-03-28 17:31] parasharrajat commented on #7962
I suggest a different approach. The actual does not require any important code changes in the upstream repo. It would be a difficult task to manage a fork. We can apply the solution using a wrapper as we are doing on the PR. So we wait as suggested and then merge the PR. Leaving a comment on the wrapper that it needs to be removed, once upstream has the fix.

[2022-03-28 17:32] parasharrajat commented on #8220
Oh, yeah. I was thinking the same just forgot to ask here.

[2022-03-28 17:37] roryabraham commented on #7962
Okay, I'm fine with that too 👍

[2022-03-28 17:38] sig5 commented on #6154
This issue has been a long one and it took a real lot of digging and iterations. The amount of work that has been done for this issue has been way more than what was discussed while in the proposal phase. I would request the reviewers to consider increasing the price of this job to a 1000$ which will be more apt as per the work done and time contributed for this job.
cc: @trjExpensify

[2022-03-28 17:38] Santhosh-Sellavel commented on #7523
Can we remove the gap between borders somehow? It looks a bit off.

How does this look?
<img width="213" alt="Screenshot 2022-03-28 at 11 07 38 PM" src="https://user-images.githubusercontent.com/85645967/160455452-ed65f0a2-8630-40ed-8015-1142d1d45349.png">

[2022-03-28 17:40] luacmartins commented on #7523
Looks good! Thanks!

[2022-03-28 17:42] roryabraham commented on #7776
Going to drop this for now and send it back to the pool. I'm not sure whether it can be external or not – some investigation would be needed to know for sure.

[2022-03-28 17:46] shawnborton commented on #7706
I think the hover style should match what we use for green buttons where the background gets slightly darker.

[2022-03-28 17:46] roryabraham commented on #8272
We are going to merge this into https://github.com/Expensify/App/issues/7625, but it's blocked on me. I want us to come up with a better solution for formatting in translated text.

[2022-03-28 17:49] thesahindia commented on #8005
Ah my bad I was testing something and didn't change the code 😬
Updated the proposal can you check now.

We show the default rooms in LHN so I think we shouldn't remove the unread message count for them

[2022-03-28 17:50] parasharrajat commented on #8197
Ok.Thanks for the help team. I am fine with @sobitneupane 's [proposal](https://github.com/Expensify/App/issues/8197#issuecomment-1076251055) to show the image on the modal.

cc: @Julesssss

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-03-28 17:51] mallenexpensify commented on #6069
Paid @K4tsuki $1000

[2022-03-28 17:52] parasharrajat commented on #7962
Great. Thanks.

[2022-03-28 17:56] deetergp commented on #7524
Still waiting?

[2022-03-28 17:58] parasharrajat commented on #7912
Thanks for the explanation. It would be technically impossible with the current implementation of message parsing. Also, it does not seem like an elegant solution.

It does sound like HTML.

we can only focus on solving the code blocks in a way that does not block or break others.

[2022-03-28 18:05] Santhosh-Sellavel commented on #8005
No, we should add check for defaultRooms too. Because see images below,
### In dev with default room beta
<img width="564" alt="Screenshot 2022-03-28 at 11 30 08 PM" src="https://user-images.githubusercontent.com/85645967/160459122-a78a784e-6466-489e-b1a7-c3947e9459bb.png">

### In staging without default room beta
<img width="405" alt="Screenshot 2022-03-28 at 11 30 30 PM" src="https://user-image

[2022-03-28 18:06] luacmartins commented on #8248
@phivh your proposal looks good. Let's rename `shouldShowMakeDefaultButton` to `isSelectedPaymentMethodDefault` as @parasharrajat suggested. Thank you!

[2022-03-28 18:24] mallenexpensify commented on #8200
I'm unable to reproduce on staging.new.expensify.com on web, Chrome nor Firefox, v1.1.46-2
Is anyone else able to? @mvtglobally can you try to reproduce?

[2022-03-28 18:31] AndrewGable commented on #7860
Let's double again

[2022-03-28 18:32] AndrewGable commented on #8128
Applied correct label since it appeared to be missing.

[2022-03-28 18:32] thesahindia commented on #8005
For that we can add this one-
[code]

[2022-03-28 18:34] AndrewGable commented on #7971
I am not sure I am in agreement that "it has content" since it's just a space surrounded by backticks.

[2022-03-28 18:38] luacmartins commented on #8127
@metehanozyurt It seems like the gray background was modified in your solution. According to the original posting, only the preview content should be affected. I think the solution here is as simple as adding `alignItems: 'center'` to the `PDFView` class.

[2022-03-28 18:41] Santhosh-Sellavel commented on #8005
Waiting for @Beamanator comments on this https://github.com/Expensify/App/issues/8005#issuecomment-1080854713

[2022-03-28 18:42] Luke9389 commented on #8200
@mallenexpensify I've had this issue for a while now, but I use the production build on web.

[2022-03-28 18:43] AndrewGable commented on #8200
I can reproduce on staging web still

[2022-03-28 18:47] shawnborton commented on #8152
I think the gif is probably good to use, let's see how it looks and we can always replace it with the static image.

[2022-03-28 18:56] Santhosh-Sellavel commented on #8109
@Julesssss bumb!

[2022-03-28 18:58] mountiny commented on #8331
Should be `External`. I have tried it locally and the I can see the preview file name shows for zip/mp4 what I have tried but not for images, which I guess is intentional.

[2022-03-28 19:02] rushatgabhane commented on #7524
yep

[2022-03-28 19:02] rushatgabhane commented on #7524
yes

[2022-03-28 19:05] Santhosh-Sellavel commented on #8133
@roryabraham
The [proposal](https://github.com/Expensify/App/issues/8133#issuecomment-1077950359) solves the issue.

But few things to ensure.
Did we intentionally make `animationInTiming` to `1ms`, I think is this is not expected behavior.
Can we check this one with the UX/design team first?

[2022-03-28 19:07] Santhosh-Sellavel commented on #8127
Thanks, @luacmartins. I'll review this again tomorrow.

@metehanozyurt Please add an updated proposal address this one https://github.com/Expensify/App/issues/8127#issuecomment-1081005910

[2022-03-28 19:11] Santhosh-Sellavel commented on #8157
@jboniface Can we double this one?

[2022-03-28 19:14] jboniface commented on #8157
this is @MitchExpensify's issue

[2022-03-28 19:16] jboniface commented on #8157
I'll double it though, looks like he's OOO

[2022-03-28 19:17] neil-marcellini opened #8332 "Make sure issues don't automatically close for internal contributors."
Test for PR https://github.com/Expensify/Web-Expensify/pull/33225

[2022-03-28 19:21] Santhosh-Sellavel commented on #8157
@jboniface Thanks!

And sorry for the confusion!

[2022-03-28 19:21] thienlnam commented on #7916
Yup, I agree - thanks for the investigation.  Hiring @mdneyazahmad for the job

[2022-03-28 19:22] neil-marcellini commented on #8332
The issue stayed open so this QA check passed.

[2022-03-28 19:22] #8332 closed

[2022-03-28 19:28] kbecciv opened #8333 "Setting - Phone number - Resent button disappeared after refresh the page for phone account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Go Setting - click on Icon Profile
4. Tap on Add phone number
5. Put valid

[2022-03-28 19:30] Luke9389 commented on #8114
Checkin' this out this week

[2022-03-28 19:33] Luke9389 commented on #7400
Ok, I think we should close this.
If it comes back up in the future we can deal w/ it.

[2022-03-28 19:33] #7400 closed

[2022-03-28 19:36] Santhosh-Sellavel opened #8334 "Testing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Testing this https://expensify.slack.com/archives/C01GTK53T8Q/p1648494938982909

## Expected Result:
Describe what you think should've happened

##

[2022-03-28 19:37] rushatgabhane commented on #6584
@parasharrajat for the 5th milestone, aren't these additional issues fixed in same PR? So total is 1k including the issue itself
Please correct me if I'm missing something

MaxLength Counter is not incrementing automatically when a user types the value in the Story - https://github.com/Expensify/App/pull/7984#issuecomment-1059792552

When the label is forced to be active. Placeholder text is not v

[2022-03-28 19:37] michaelhaxhiu commented on #7916
@mdneyazahmad can you place apply for the job on upwork so I can hire you there?

[2022-03-28 19:38] thienlnam commented on #8274
Currently in review, changes are made - just want to verify travis tests are working on the PR

[2022-03-28 19:40] shawnborton commented on #7862
That makes sense to me - looks like this is already assigned to @megankelso.

@trjExpensify can you update the original comment to reflect what the desired solution/expected result should be, and then Megan can make some mocks? I think we'll just need some left/right arrows to exist in the attachment viewer modal.

[2022-03-28 19:47] roryabraham commented on #6306
Just discovered we can implement phased rollouts on the desktop app(s) too: https://www.electron.build/auto-update#staged-rollouts

[2022-03-28 19:49] Santhosh-Sellavel commented on #8244
@stitesExpensify Let's assign @adeel0202  this one to remove the Help Wanted label.

[2022-03-28 19:51] Santhosh-Sellavel commented on #8287
@Puneet-here
Sound goods. But on pressing enter focus should not be last right?

[2022-03-28 19:51] thienlnam commented on #8126
@NicMendonca Could we please get this issue doubled? We are still awaiting and evaluating proposals

[2022-03-28 19:55] michaelhaxhiu commented on #8311
@mateusbra do you have interest in working on this one sice you discovered it?

@kavimuru can you please make sure we at the "@ reported by" to a GH title if they are due the bug reporting bounty? Seems applicable in this case for @mateusbra.

[2022-03-28 19:55] michaelhaxhiu commented on #8006
Update on behalf of @mateusbra -- PR was merged to staging 4 days ago. Looks like we discovered another bug that @mateusbra reported https://github.com/Expensify/App/issues/8311.

[2022-03-28 19:57] neil-marcellini commented on #8334
We need a non C+ external contributor to test this, thanks anyways.

[2022-03-28 19:57] #8334 closed

[2022-03-28 20:00] michaelhaxhiu commented on #7618
Doubling price to $4000.

[2022-03-28 20:00] hinsxd opened #8336 "Testing"
https://expensify.slack.com/archives/C01GTK53T8Q/p1648496902504569?thread_ts=1648494938.982909&cid=C01GTK53T8Q

If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Exp

[2022-03-28 20:00] #8336 closed

[2022-03-28 20:01] #6820 closed

[2022-03-28 20:01] thienlnam commented on #5768
Actually, this issue is ready to be paid out cc @mallenexpensify

[2022-03-28 20:04] thienlnam commented on #8101
Could we please get this doubled? cc @kevinksullivan

[2022-03-28 20:06] danieldoglas commented on #8166
Changing this to weekly until we have more tests to guarantee that it's not only in samsung.

[2022-03-28 20:11] thesahindia commented on #8157
Is this for safari only?
If this is for safari only I don't think we can fix it. We had a similar issue for some other button.
for more context - https://github.com/Expensify/App/issues/6929#issuecomment-1002730763

[2022-03-28 20:13] gladiator-1 commented on #7912
### Proposal

in src/libs/SelectionScraper :
[code]

Result :

https://user-images.githubusercontent.com/102553449/160479316-26a46b18-9ebf-4ead-aa12-bf6d79901db7.mp4

[2022-03-28 20:13] michaelhaxhiu commented on #6032
After some more discussion, moving to Detailed solution officially. cc @chiragsalian

[2022-03-28 20:14] michaelhaxhiu commented on #6032
Honestly I think we can close this. It's just a duplicate GH for the one we have internally.

[2022-03-28 20:14] #6032 closed

[2022-03-28 20:23] mountiny commented on #8108
Removing. Help Wanted label and waiting for second retest @mvtglobally

[2022-03-28 20:23] AndrewGable commented on #8333
This seems like expected behavior, the resend button should only exist when the phone number is unvalidated. Please let me know if I've misunderstood the bug report.

[2022-03-28 20:24] #8333 closed

[2022-03-28 20:25] mvtglobally commented on #8305
@roryabraham Checking off https://github.com/Expensify/App/issues/8308. Its not repro

[2022-03-28 20:38] NikkiWines commented on #7706
Yep, agreed. @stephanieelliott could you please hire @thesahindia for this job? Thank you 🙌

[2022-03-28 20:53] mvtglobally commented on #8108
Coming shortly. I will update in a bit

[2022-03-28 21:23] metehanozyurt commented on #8127
Thanks, @Santhosh-Sellavel.  Thank you for correcting me @luacmartins. My solution regarding marginTop and marginBottom is not as good as @luacmartins' which is more accurate for smaller PDF sizes.

However if `alignItems: 'center'` is added after line 1690, it looks like as the following;

https://github.com/Expensify/App/blob/9c50db754bc29b340f7f725059d0cca6771fc61f/src/styles/styles.js#L1682-L1

[2022-03-28 21:38] mountiny opened #8337 "[$250] [TEST] Test exported issue - reported by @mountiny"
This is a test issue for https://github.com/Expensify/Expensify/issues/203604

[2022-03-28 21:39] stitesExpensify commented on #6876
I'm taking that from our design philosophy [here](https://github.com/Expensify/App#philosophy) Section 5.2

I think the main difference is that the maintainer of that package is not willing to update it whereas in this case the problem is that the platforms are not in sync because of react native itself. I think that in general, we should avoid workarounds.

IMO any solution that involves a timeou

[2022-03-28 21:39] mountiny commented on #8337
Apologies for the ping Rajat!

[2022-03-28 22:03] #8308 closed

[2022-03-28 22:06] #8337 closed

[2022-03-28 23:17] marcochavezf commented on #8324
Marking this issue as `Internal` because notifications are triggered from the server and seems we'll need to fix it there. Also adding the `Weekly` priority because it's an edge-case (I think it's not common to use quotation strings in First/Last names) and sending it to the pool.

[2022-03-28 23:24] pecanoro commented on #5536
Ok, I am going to bring this up for discussion on Slack this week since it's not that straightforward and we may need some opinions.

[2022-03-28 23:24] yuwenmemon commented on #8289
Don't think so. This can be worked on externallty

[2022-03-29 00:08] mallenexpensify commented on #8200
Bizarre, since this appears to be widespread, I propose we bump the price to $2k? 👍 if you agree or comment if you don't

[2022-03-29 00:09] ctkochan22 commented on #7911
Interested. Will look later this month

[2022-03-29 00:13] mallenexpensify commented on #5768
Before closing, @thienlnam and @parasharrajat can you help me understand the regression better?

1. I'm assuming, since there is a regression, we'll want to [create an RCA](https://docs.google.com/document/d/1UwXfA4ggO2h0XQJQlMEEQjT3zSphhSt12lpvuGSSFtw/edit?usp=sharing) for this, any reason we wouldn't?
2. For payment, C+ pay is half for each regression, is the total number of regression one?

[2022-03-29 00:26] marcaaron commented on #6820
I think we're gonna cover this is the Offline Doc but gonna let Melv close this one since we'll probably create a new GH issue eventually.

[2022-03-29 00:48] parasharrajat commented on #5768
I don't see any regression on this issue.

[2022-03-29 00:55] parasharrajat commented on #8245
My Mac has issues in running the IOS simulator. I can't test it ATM. I will try to fix the issues and test them asap.

[2022-03-29 00:59] parasharrajat commented on #6584
I was not paid other than the base milestone price to solve all of those issues. That PR refers to two milestones. So 500.

 - [x] **TextInputFocusable**
	#### Purpose of component
	1. Parse Mardown and Rich text formatting.
	I don't think we should merge this. This is dedicated to the composer. But I will rename it to something else to better reflect it.

- [x] **Add Stories for all modes of the

[2022-03-29 01:02] deetergp commented on #7435
Not sure how this flew under the radar, but it can be worked on by an external contributor.

[2022-03-29 01:39] parasharrajat commented on #7185
Oh no, it slipped my mind. I will get back to it asap

[2022-03-29 01:50] mollfpr commented on #7968
@stitesExpensify I didn’t know that.

Yeah because when the event listener is called, it didn't check whether the ‘EnterKey’ pressed from a button or not.

If both buttons use ‘pressOnEnter’ then both ‘onPress’ functions will be called whenever ‘EnterKey’ is pressed.

[2022-03-29 02:04] Christinadobrzyn commented on #8311
Posted job to Upwork;

Internal job - https://www.upwork.com/ab/applicants/1508625903649284096/job-details
External job - https://www.upwork.com/jobs/~01bd32eda238a19082

[2022-03-29 02:07] stephanieelliott commented on #8284
Posted to Upwork: https://www.upwork.com/jobs/~0111faeed333d9825d

@Luke9389 we have a proposal already [here!](https://github.com/Expensify/App/issues/8284#issuecomment-1077300637)

[2022-03-29 02:09] rushatgabhane commented on #6069
### Proposal

Autofocus on TextInput breaks the animation because the browser scrolls to the TextInput!
Making the card's `position: fixed` solves this problem.  However, mobile doesn't support position of type fixed. So we'll create a native file which uses the old implementation.

Modify this card style.
https://github.com/Expensify/App/blob/226cb00f322baa394c997b73a8a8ea4802e54287/src/libs/Navi

[2022-03-29 02:13] stephanieelliott commented on #7706
Invited @thesahindia and @rushatgabhane to the job on Upwork, please accept when you get a chance!

[2022-03-29 02:16] stephanieelliott commented on #8048
PR is undergoing QA

[2022-03-29 02:19] stephanieelliott commented on #8179
PR is on staging

[2022-03-29 02:28] roryabraham commented on #7861
Got a draft PR but have to run for today, didn't fill out the checklist or screenshots

[2022-03-29 02:33] rushatgabhane commented on #8246
@mollfpr if we checkout to a commit like 67812fab115978d1e44e1b7e757ec96d1e9e0825, this issue isn't present.
So ideally, we wanna know what exact commit casued this issue, and fix it at the root cause.
`git bisect` might be helpful to find the culprit commit.

https://user-images.githubusercontent.com/29673073/160520918-380f9df9-53e1-4a7c-ae99-6eeba6c03a9c.mov

[2022-03-29 02:36] rushatgabhane commented on #8246
@parasharrajat actually the context menu is opened on long pressing the name too! And the issue is reproducible. https://github.com/Expensify/App/issues/8246#issuecomment-1079650495

That might be the root cause. Context menu shouldn't open when long pressing the name.

[2022-03-29 02:43] rushatgabhane commented on #8284
Agree!

@Luke9389 I recommend @thesahindia's proposal.

[2022-03-29 02:54] Christinadobrzyn commented on #8128
Increased the price of the job - waiting on proposals

[2022-03-29 02:56] Christinadobrzyn commented on #8119
Price increase for this job

[2022-03-29 03:03] Christinadobrzyn commented on #8045
Price increase

[2022-03-29 03:06] DharmeshCodeBase commented on #8284
i submitted my proposal

[2022-03-29 03:17] rushatgabhane commented on #8284
Hey @DharmeshCodeBase, thanks for submitting your proposal.

I'd strongly suggest that you read [contributing.md](https://github.com/Expensify/App/blob/226cb00f322baa394c997b73a8a8ea4802e54287/CONTRIBUTING.md)

And also, have a look at a few closed issues so that you have a better idea of what we expect from proposal.
https://github.com/Expensify/App/labels/Exported

Thanks!

[2022-03-29 04:52] mvtglobally commented on #7638
Issue not reproducible during KI retests. (Second week)

[2022-03-29 04:56] mvtglobally commented on #7776
Issue not reproducible during KI retests. (Third week)

@roryabraham its not very consistently repro. For few weeks it was repro in between. Should we close and report later again if team can reproduce?

[2022-03-29 05:07] mvtglobally commented on #8294
Issue not reproducible during KI retests. (First week)

[2022-03-29 05:21] mvtglobally commented on #8108
@mountiny We had slightly different issue during reproduction this time. Original error no longer display. But user unable to proceed

https://utest-dl.s3.amazonaws.com/testRunStepMinAttachmentsResult/19190223/Recording__133.mp4?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1680067066&Signature=rkl7%2FmBjdbU2y6NhmCbAT4tOJ98%3D

[2022-03-29 06:24] rushatgabhane commented on #6876
@sig5 you mind weighing in here? Your work on
 IOUAmount #7433  should help you solve this issue too.

[2022-03-29 07:06] robertjchen commented on #8294
Looks like this might be a backend issue, as the phone number we're using does not allow for replies. We would have to make some SMS service settings tweaks to allow for this. Thanks again for the report- closing this for now 👍

[2022-03-29 07:06] #8294 closed

[2022-03-29 07:51] dylanexpensify commented on #8220
Checking in, seems we will have someone for the job @parasharrajat? Just checking in case we need to double the price

[2022-03-29 07:51] wahaj-47 commented on #8045
![Simulator Screen Shot - iPhone 12 - 2022-03-29 at 12 49 53](https://user-images.githubusercontent.com/8758774/160561189-b77f63cd-2405-4508-ae21-2ce6ef51a601.png)

Don't get the `Pay with expensify` option either.

[2022-03-29 07:51] dylanexpensify commented on #8246
@parasharrajat should we double this price or does it look like we have someone?

[2022-03-29 08:06] rushatgabhane commented on #8246
@dylanexpensify we don't have a proposal that we wanna move forward with yet.

[2022-03-29 08:20] parasharrajat commented on #8246
@dylanexpensify Rushat is C+ here. Thanks for asking.

[2022-03-29 08:32] MariaHCD commented on #8325
Thanks for finding the logs, @aldo-expensify!

The error `401 Cannot delete billing cards` is expected. I think we'll just need to catch the exception on NewDot and show a better error message to the user [here](https://github.com/Expensify/App/blob/226cb00f322baa394c997b73a8a8ea4802e54287/src/libs/actions/PaymentMethods.js#L22-L35). cc: @stitesExpensify

[2022-03-29 08:36] MariaHCD commented on #8047
PRs in review, need to look into [this change ](https://github.com/Expensify/Auth/pull/6519#discussion_r828972433)and understand the potential complications.

[2022-03-29 08:37] dylanexpensify commented on #8246
Price doubled!

[2022-03-29 08:52] mountiny commented on #8108
@mvtglobally that does not look good. Could you please make sure if this happens on Prod as well and create a new issue for it?

This one seems resolved so ti would be best to crete new GH with spot on description and also consider adding Deploy Blocker if this does not happen in production

[2022-03-29 09:27] parasharrajat commented on #8220
No need to double. we are good here.

[2022-03-29 09:29] parasharrajat commented on #7912
Thanks for the proposal @gladiator-1. It seems to do what we need here. Could you please confirm if we can use `Str.htmlEncode` here instead of manual replacement?

[2022-03-29 09:57] wahaj-47 commented on #8045
https://user-images.githubusercontent.com/8758774/160585962-30b193ad-0b34-4ef1-9849-7e7763b0870b.mov

Managed to get to the 'Additional info' screen and the date picker seems to be working fine.

[2022-03-29 10:06] ahmdshrif commented on #7476
Hi @kevinksullivan  i think this should be pay now .

[2022-03-29 11:06] gladiator-1 commented on #7912
@parasharrajat Sure

[code]

[2022-03-29 11:19] Justicea83 commented on #8321
working on it

[2022-03-29 11:25] trjExpensify commented on #8245
Cool, sounds good. I still can't reproduce this on staging. 👍

[2022-03-29 11:34] kidroca commented on #8004
We have a problem with auto-updates after #8160

It turns out we can't build multiple architectures in sequence and we should either:
- build multiple `targets` with one electron configuration
- build only one target - the x64 like we did in the past
- build only one target - the universal that works on both x64 and arm64 but is 2x the size

If we want to build multiple targets we can no longer us

[2022-03-29 11:44] flodnv commented on #7942
@marcaaron @tgolen @iwiznia I have updated the issue description with what we decided, please check it to make sure we all agree on what we want to do.

[2022-03-29 11:45] kidroca commented on #6876
Thanks for the answers @stitesExpensify, sounds fair

As far as I see there's no way to address this issue on the javascript side then. We should make that clear when summoning other people to solve the problem, or at least let them know what have been tried so far, so they don't waste as much time ending on the same crossroad

Expensify has a fork of `react-native` where contributors can submit a

[2022-03-29 11:53] kavita-ebizzinfotech commented on #6941
Solution of the Android - Login - Login box moving up when tapping inside the field:

Set "adjustpan" in AndroidManifest.xml file like below :
  <activity
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
</activity>

[2022-03-29 11:53] parasharrajat commented on #7912
Is it working fine without breaking other tags?

[2022-03-29 11:58] mollfpr commented on #8246
@rushatgabhane @parasharrajat

I checkout the code to this commit https://github.com/Expensify/App/commit/ca3ebd84a944d777fe2379d04b66b373e2bf028e because the component `PressableWithSecondaryInteraction` not yet using `LongPressGestureHandler`, and the issue is not come up.

https://user-images.githubusercontent.com/25520267/160605958-3c8556c2-4519-41f0-b731-e1fbd790380d.mov

And another issue ca

[2022-03-29 12:01] aswin-s commented on #8119
### Reason

The scroll offset calculation is wrong. Zoom is being applied pressable inside scrollable container, where as scrollOffset is applied to the container itself.

https://github.com/Expensify/App/blob/ecb2150026fcf997f84488d096761367c7f67768/src/components/ImageView/index.js#L248-L279

### Proposal

Fix the scroll offset calculation by avoiding multiplication by zoomScale, as zoom is appl

[2022-03-29 12:18] laurenreidexpensify commented on #8152
Reassigning myself as the Contributor Manager - think I got accidentally removed with the waiting for copy label

[2022-03-29 12:26] Beamanator commented on #8005
@Santhosh-Sellavel

Can you please clarify the two (or more) different cases you're mentioning and why you think one case should be handled separately?

[2022-03-29 12:28] michaelhaxhiu commented on #8336
Keeping this open?

[2022-03-29 12:28] trjExpensify commented on #8147
Waiting on a prod deploy, Melv!

[2022-03-29 12:37] #8268 closed

[2022-03-29 12:44] gladiator-1 commented on #7912
Yes

https://user-images.githubusercontent.com/102553449/160613681-4475a20a-f809-4f7a-a8fc-76789534417c.mp4

[2022-03-29 12:59] Santhosh-Sellavel commented on #8005
@Beamanator
Case 1: This issue in which the user is shown notifications count for chats they can’t access because `they don't have access to the betas.`

[Case 2](https://github.com/Expensify/App/issues/8005#issuecomment-1080854713). `The User has access to the beta`, notifications count is shown for the user. But there are no messages in the room So it's not displayed in LHN. Without opening the

[2022-03-29 13:32] ahmdshrif commented on #7644
pr ready here https://github.com/Expensify/expensify-common/pull/436

[2022-03-29 13:32] parasharrajat commented on #7912
Thanks, I was really looking for a simpler approach like @gladiator-1 has presented.

One improvement would be to do this manipulation at the parsing step [onText](https://github.com/fb55/htmlparser2#usage).

Thanks, @barun1997 and @brianmuks for your efforts in looking into getting a proper solution. But I like @gladiator-1's simpler approach to the problem. https://github.com/Expensify/App/issue

[2022-03-29 13:46] parasharrajat commented on #6941
Out of those proposals, can anyone explain to me why it works for some devices and does not for a few?

Without a proper explanation, I can't accept these proposals. Also, have you tested other parts of the app? They should be affected by this change.

[2022-03-29 13:47] Gonals commented on #8309
Looks like a pretty good issue! Setting as external and weekly

[2022-03-29 13:54] phivh commented on #8248
@laurenreidexpensify Applied job on Upwork

[2022-03-29 13:56] parasharrajat commented on #7980
cc: @pecanoro :arrow_up:

[2022-03-29 14:01] parasharrajat commented on #7925
Couldn't test it. Upgrading the macOS version on my Mac has broken the IOS simulator. I am trying to fix it.

[2022-03-29 14:02] brianmuks commented on #8134
@parasharrajat  here is my new **proposal** . Instead of removing the line below :
                       ``` textToFormat = textToFormat.replace(/\n$/, '');```
                       we can modify it to replace the  `\n` with space `' '`.

[2022-03-29 14:12] bfitzexpensify commented on #6470
Paid out last week, forgot to close. Closing.

[2022-03-29 14:12] #6470 closed

[2022-03-29 14:44] sketchydroide commented on #7844
@sobitneupane any updates?

[2022-03-29 14:52] mvtglobally commented on #8305
@roryabraham @timszot Just few things pending on this checklist. Can we close it off today

Deploy blocker https://github.com/Expensify/App/pull/8019 fix is pass, checking off
https://github.com/Expensify/App/pull/8063 - InternalQA - Can someone validate and checkoff?
https://github.com/Expensify/App/pull/8205#issuecomment-1078241808 - InternalQA - Can someone validate and checkoff?
https://github

[2022-03-29 15:08] pecanoro commented on #7980
I am a bit confused, is there a reason why we shouldn't do [this](https://github.com/Expensify/App/issues/7980#issuecomment-1074679925)? I know we should try to make it dynamic, but it seems it's a fixed value already, right?

[2022-03-29 15:10] mateusbra commented on #8007
Hi guys, sorry for the delay, I'll work on the PR today!

[2022-03-29 15:39] marcaaron commented on #7942
Yes, sounds great to me!

[2022-03-29 15:57] leonidlewis commented on #8307
You shouldn't set the isButtonDisabled as a constant.

[2022-03-29 16:01] timszot commented on #8313
@luacmartins any insight on this since it's related to your PR?

[2022-03-29 16:01] stitesExpensify commented on #7968
Okay, so I think the best solution would be to find an example online of how other people handle this situation, and we'll use that solution.

[2022-03-29 16:02] stitesExpensify commented on #8244
Thanks, I forgot!

[2022-03-29 16:13] flodnv commented on #8034
@Justicea83 @rushatgabhane Then let's assign @roryabraham who is working on the PR.

[2022-03-29 16:14] stitesExpensify commented on #8307
Hi @leonidlewis if you could be more specific with what the problem is, and how/where you would solve it, I would be happy to assign you to the job!

[2022-03-29 16:17] Santhosh-Sellavel commented on #8307
Thanks, @stitesExpensify! I was literally typing something similar.

[2022-03-29 16:18] luacmartins commented on #8313
Ah yes! We can check this off. This should be tested on prod instead! Sorry, forgot to add the label.

[2022-03-29 16:19] #8313 closed

[2022-03-29 16:19] Santhosh-Sellavel commented on #8307
@leonidlewis
Check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) first.

And also go through these closed issues [here](https://github.com/Expensify/App/issues?q=is%3Aclosed+label%3A%22Awaiting+Payment%22) for reference.

And make a proper proposal with the code changes you would make to solve this issue. Thanks!

[2022-03-29 16:21] trjExpensify commented on #8033
@marcochavezf @TomatoToaster can you guys also jump in on the thread, please?

[2022-03-29 16:28] stitesExpensify commented on #8325
Yep makes sense to me. Maybe we should make a PR like [this](https://github.com/Expensify/App/pull/7929#issuecomment-1056037254) that covers all error cases and not just 401?

[2022-03-29 16:37] galaxydeves commented on #8307
I checked your code and the main issue is in the `isButtonDisabled` value.
Current code:
[code]
You can create state called buttonStatus
[code]
[code]

[2022-03-29 16:41] Santhosh-Sellavel commented on #8115
👀  this one.

[2022-03-29 16:42] tgolen commented on #7942
I read through it and I'm a little confused on a couple of points (assume that I agree with all the rest that I don't comment on).

This is mentioned twice, but it just means they will be put into Onyx, right?

How will we know that this is a "first fresh app load"? Does this just mean that the app has loaded and there is no data in Onyx? How will we know that?

I think this means something more l

[2022-03-29 16:48] stitesExpensify commented on #6876
Great, sounds good. Do you think that we should keep this issue open, or create a new one specifying the solution should be in the fork?

[2022-03-29 17:08] flodnv commented on #7942
I assume so, yes (if that makes sense to you)

Good question. Maybe we can just change it to "on app load" and it will still work just as good (and maybe in a simpler way)?

Heh, yes, your updated proposal is great 👍  Editing the OP now.

Hmmm, not necessarily / not always. In "most recent" mode, it is not necessarily a guarantee that you have everyone's avatar displaying in the LHN. Even if you d

[2022-03-29 17:09] michaelhaxhiu commented on #7715
Doubling price again.

[2022-03-29 17:12] Beamanator commented on #8005
Ok great thanks for explaining both cases @Santhosh-Sellavel ! I think both cases are similar enough and both need to be solved to truly resolve the "browser tab shows (1) New Expensify even though there are no unread messages in the LHN" issue. For that reason I think it's fair to solve both cases in this issue.

@mallenexpensify thanks for the tip! 👍

[2022-03-29 17:18] Santhosh-Sellavel commented on #8005
Thanks, @Beamanator.
So whats the expectation for case 2?

[2022-03-29 17:22] Beamanator commented on #8005
Exactly - if the room isn't shown in the LHN we shouldn't show its unread messages, or else (as you said) they won't be able to be cleared which would be very unpleasant

[2022-03-29 17:26] Santhosh-Sellavel commented on #8115
Thanks for the proposals!
@dharmik yes we need the `...modalPaddingStyles`. Removing it causes UI breakages.

@mollfpr Proposal looks good, I would like to see the complete proposal, please.
Handling both cases preview with send action & without action. Thanks!

cc: @AndrewGable

[2022-03-29 17:27] Santhosh-Sellavel commented on #8005
Open to proposals again.
@thesahindia update your proposal to handle both the cases thanks!

[2022-03-29 17:31] Santhosh-Sellavel commented on #8115
Also @AndrewGable, Can we loop in the design to get a confirmation of how it should look?
With & Without Send Action?

[2022-03-29 17:32] timszot commented on #7768
This is partially fixed per [this comment on the PR](https://github.com/Expensify/App/pull/8173#issuecomment-1078523380).

[2022-03-29 17:33] AndrewGable commented on #8115
cc @Expensify/design

[2022-03-29 17:35] kidroca commented on #6876
I lean toward creating a new ticket and summarizing what have been found out here

[2022-03-29 17:38] mallenexpensify commented on #8288
Got some feedback in the thread above, it doesn't appear there's a _real_ reason we shouldn't do this so I'm moving it along

[2022-03-29 17:51] timszot commented on #8305
OK, I'm going through all of these.

Checked off, there's a [comment](https://github.com/Expensify/App/pull/8063#issuecomment-1071590600) saying it worked.

Pinged in the PR and in internal Slack channels.

Asked in PR to confirm my thoughts, but no, I don't think we need to block on this.

I would say no it's not worth blocker for since there is a new issue opened to track the bug and it doesn't

[2022-03-29 17:52] ZamarLancer commented on #8311
Hi,
This is Zamar from Upwork.com
I will fix the issue by implementing URL parsing feature in ContextMenuAction.
Now there is no checking parts for url/email when the context menu is shown.
So there will be a validation for the clipboard text, which will check if it is an email address or an url; and switch the caption of the menu item according to the result.
Thank you.

[2022-03-29 17:55] OSBotify commented on #8305
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8343) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.46-3` :rocket:

[2022-03-29 17:55] OSBotify commented on #8305
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.46-3 has been deployed to staging :tada:

[2022-03-29 17:55] mallenexpensify commented on #6876
Missed this last week

Yes, if someone fixes a bug anywhere that helps with the issue, they'll be compensated.

If we close this issue and open another, lets make sure to keep @parasharrajat on as C+.
@K4tsuki has already been compensated so we can close their PR (and anyone can use any of the code from there if wanted since @K4tsuki has been paid in full)

[2022-03-29 17:57] rushatgabhane commented on #8124
I don't think we need any backend changes for this issue.

@mallenexpensify we won't be going forward with @K4tsuki's proposal.

### Success
<img width="650" alt="Screen Shot 2022-03-29 at 11 12 57 PM" src="https://user-images.githubusercontent.com/29673073/160674578-bf65a51d-7fe6-49c6-aaf1-7fb723e85905.png">

### Fail
<img width="917" alt="Screen Shot 2022-03-29 at 11 23 06 PM" src="https://user-

[2022-03-29 17:59] adeel0202 commented on #8288
Applied for the reporting bonus.

[2022-03-29 18:36] mvtglobally commented on #8305
Checking off [8226](https://github.com/Expensify/App/pull/8226), https://github.com/Expensify/App/pull/8195

[2022-03-29 18:52] Santhosh-Sellavel commented on #8307
Looking for a better proposal.

[2022-03-29 18:53] brianmuks commented on #8307
I have some questions and a **Proposal**.
`setAvatar` and `deleteAvatar` shows that once the profile photo is uploaded the url is automatically saved to the database. Should the user still click on the _save_ button ?
https://github.com/Expensify/App/blob/1c4add7b7b691724edd2040110d2adc2b92e7b60/src/libs/actions/PersonalDetails.js#L343
https://github.com/Expensify/App/blob/1c4add7b7b691724edd20401

[2022-03-29 19:06] #8146 closed

[2022-03-29 19:12] Santhosh-Sellavel commented on #8307
@brianmuks
I don't want to get too technical here. The issue is relatively simple.
After opening the profile page.
1. the user didn’t make any changes be it profile pic, name, etc.  - `then the save button should be disabled`
2. if the user makes any changes - `The save button should be enabled.`
3. If the user reverts any changes made - `the save button should be disabled`
4. If the user saves an

[2022-03-29 19:12] stitesExpensify commented on #8267
Maybe I'm confusing myself but after looking at this for a while but:
1. What is different about either of these cases?
2. How do these differ from `updateLastRead`?

`updateLastRead` just sets the current sequenceNumber read on the report so:

To accomplish this we set the `lastRead` `sequenceNumber` to the `sequenceNumber` of that comment which can be accomplished by `updateLastRead`

This is th

[2022-03-29 19:22] Santhosh-Sellavel commented on #8307
@brianmuks
On a friendly note, don't rush on a proposal. Sit back & analyze give a full-fledged proposal.
What we expect from a proposal,
- Root cause, why this occurs, or what causes the issue.
- Your code proposal to address the issue.

[2022-03-29 19:23] Santhosh-Sellavel commented on #7523
PR is up!

[2022-03-29 19:26] roryabraham commented on #8004
This would really not be ideal because it would potentially force people to redownload the app in order to start getting updates. But long-term it seems like the best solution so that we can support multiple architectures.

[2022-03-29 19:27] roryabraham commented on #8133
I'm not sure ... check the git blame?

[2022-03-29 19:29] roryabraham commented on #7776
Yeah, going to close for now.

[2022-03-29 19:29] #7776 closed

[2022-03-29 19:34] mallenexpensify commented on #6876
@kidroca can you create the new issue, count the time as part of your hourly work, include a link back to this issue and cc all active participants in this convo in the OP of the new issue? (I'll assign myself as CM and others once done)

[2022-03-29 19:39] tgolen commented on #7942
Maybe if you are in focus mode, it would load all people from LHN first, but if you're in most recent mode, it would start with only the top 10 reports or something (assuming that things below the fold can be updated last).

[2022-03-29 19:51] kbecciv opened #8348 "Desktop - Sign up - Blank screen is displayed when uninstalling and reinstalling the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Uninstall the previous build
2. Install the new build from the link https://staging.new.expensify.com/settings/about/app-download-links
3. Open t

[2022-03-29 19:53] quinthar commented on #7942
FYI, I'm in focus mode.

On Tue, Mar 29, 2022 at 12:39 PM Tim Golen ***@***.***> wrote:

[2022-03-29 19:59] timszot commented on #8305
Checking off [#8173](https://github.com/Expensify/App/pull/8173)

Only InternalQA for #8205 left

[2022-03-29 20:01] kevinksullivan commented on #8045
Still running into the problem on iOS on version 1.1.46-2.

https://user-images.githubusercontent.com/22508290/160696782-32ea0266-b307-44ff-a4a7-c93f5ef662e6.MP4

@wahaj-47 is it possible to change your default currency and test? I agree we are likely not showing you `Pay with Expensify` because your currency is non-USD

[2022-03-29 20:06] kevinksullivan commented on #7476
Hi @ahmdshrif sorry I missed this and thanks for the reminder. The total payment should be $250, not $500, correct? I see you requested $500 and want to be sure I'm giving you the right amount.

@parasharrajat can you accept the hire for C+ ?

[2022-03-29 20:32] johnmlee101 commented on #7517
Gist is we'll need to add logic to `Authenticate` to throw a slightly different error if it was called with a 2FA code (since it assumes you already have the correct password otherwise it won't show correctly)

This will look identical to SignIn on our API

[2022-03-29 20:34] iwiznia commented on #7909
@mallenexpensify shouldn't we double the price here?

[2022-03-29 20:44] MitchExpensify commented on #8157
Thanks @jboniface !

[2022-03-29 20:45] jboniface commented on #7497
updating the price to $1000

[2022-03-29 20:49] iwiznia commented on #7942
I don't get why the new step 3 loads details of reports not in the LHN instead of all details. Especially, keeping in mind that we want all details even of people were you share no reports with (so their data shows when starting a new chat for example)

[2022-03-29 20:49] kevinksullivan commented on #8127
Proposal  in review

[2022-03-29 20:50] kidroca commented on #8267
It's way too easy to make a mistake and mark messages as unread the way `updateLastRead` works currently

The aim for this change is to avoid auto setting possibly read messages as unread, and instead have a specific action that would **only** be used after user **deliberately** marks an older message as unread

The linked comment and the discussion points out such cases

[2022-03-29 20:52] MitchExpensify commented on #7435
[Exported](https://www.upwork.com/jobs/~0144b990cad5fc395a) to Upwork and @Tushu17 invited for eventual reporting bonus payment

[2022-03-29 20:57] kidroca commented on #6876
@mallenexpensify

Yes, I'll post back when ready

[2022-03-29 21:01] tgolen commented on #7942
My main goal was to be sure step 3 doesn't want to repeat the same data requested in step 2. Rather than doing a subset of everything and then everything, I think it should be requesting a subset, and then requesting everything else that is not in that subset.

[2022-03-29 21:07] iwiznia commented on #7942
I am fine with that, just note it's not what's written in the proposal. Also, maybe returning everything not in the subset is more complex or takes more time than just retrieving everything, so if it is, then let's just return everything.

[2022-03-29 21:11] shawnborton commented on #8115
It looks like these screenshots would be correct:

### Without send action
![image](https://user-images.githubusercontent.com/2319350/160707684-de8535d5-397e-4e4a-85ff-db6192d76774.png)

### With send action
![image](https://user-images.githubusercontent.com/2319350/160707752-ad6a3a90-a6f5-4135-be55-b56bd5fc2be0.png)

[2022-03-29 21:23] kidroca commented on #8004
I think people will continue to get updates - updates rely on the `.zip` file and we're not touching it
In the past updates broke because we accidentally deployed to prod instead of staging and not because of the name change
Right now updates break because of the overwritten `yml` file

---

If we remove `dmg.artifactName` altogether the build names would be
- `New Expensify-1.1.46-2-mac.dmg`
- `N

[2022-03-29 21:39] MitchExpensify commented on #7738
Payments made, contracts ended, closing!

[2022-03-29 21:39] #7738 closed

[2022-03-29 21:42] kidroca commented on #7424
Hey @marcaaron

We decided to add logging so we can identify which fullscreen loader is getting stuck infinitely. This is the original proposal and explanation: https://github.com/Expensify/App/issues/7424#issuecomment-1054819548

From the video it appears that a `FullScreenLoadingIndicator` is stuck loading
We don't know which one, but if we identify it, we can zoom in on the underlying problem

[2022-03-29 21:45] Wiskyt commented on #8307
Hello !
It seems to me this line is causing the issue:
`(!this.state.isAvatarChanged || this.props.myPersonalDetails.avatarUploading);`
But I'd say it's more specifically the second part of it.

In this function (PersonalDetails.js l.344)
`function setAvatar(file) {
    setPersonalDetails({avatarUploading: true});
    API.User_UploadAvatar({file})
        .then((response) => {
            // Once

[2022-03-29 21:51] mallenexpensify commented on #7909
Yup, thanks for the ping Ioni
Price doubled to $1000
https://www.upwork.com/jobs/~017f47eb7070f5ad02

[2022-03-29 21:54] kidroca commented on #7856
Just noticed that  `HttpUtils.download` would only work with `json` content:

It uses `processHTTPRequest`
https://github.com/Expensify/App/blob/1c4add7b7b691724edd2040110d2adc2b92e7b60/src/libs/HttpUtils.js#L68-L77

And `processHTTPRequest` treats any response as `json`
https://github.com/Expensify/App/blob/1c4add7b7b691724edd2040110d2adc2b92e7b60/src/libs/HttpUtils.js#L38

If you ever try to dow

[2022-03-29 22:03] kidroca commented on #7856
I guess it's meant to be used to download content/files for the end user since it would initiate a visible browser download
https://github.com/Expensify/App/blob/0f38b9a0107977e2b49edef1534caf1199e08b38/src/libs/fileDownload/index.js#L32-L35

And it's not meant to download files for in-app use behind the scene

Maybe this means we don't have a use case for `HttpUtils.download` - downloads for the

[2022-03-29 22:03] Tushu17 commented on #7435
@MitchExpensify Sorry I almost forgot and applied to the job. Actually there's a similar issue(#7420) for this and I think this will get fixed there, so I think we should hold this one if it doesn't get fixed we can remove the hold.

[2022-03-29 22:06] kidroca commented on #7856
To make `HttpUtils.download` ignore cache I need to modify the structure of `processHTTPRequest` so that it accepts `fetchOptions` regarding the cache policy

I think it would be best to just use `fetch` directly in `src/setup/platformSetup/index.website.js` because that's the only use case we have where we'd like to modify `fetchOptions` and the cache handling

[2022-03-29 22:11] mallenexpensify commented on #7730
@parasharrajat paid 4250
@K4tsuki paid $250 for reporting and $250 for fix

[2022-03-29 22:11] #7730 closed

[2022-03-29 22:11] AndrewGable commented on #6079
Keeping notes:
1. `npm install && cd ios && pod install`
2. `npm run ios -- --device "ag"` ("ag" is my iPhone's name)
3. Manually open app, metro loads `index.js`
4. Replace `AIRSHIP_KEY_EXPENSIFY_CASH` and `AIRSHIP_SECRET_EXPENSIFY_CASH` in dev config
5. Run `./script/clitools.sh push:reportComment`

Still not receiving pushes locally

[2022-03-29 22:19] kadiealexander commented on #8309
Posted to Upwork!

Internal: https://www.upwork.com/ab/applicants/1508929160732057600/job-details
External: https://www.upwork.com/jobs/~0170d8f13e30bba89f

[2022-03-29 22:42] kidroca opened #8349 "[Ready for payment via newdot][$16000] Android - Copy / Paste / Cut menu is not displayed when selecting text in compose box - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Type anything in compose box
3. Select it

## Expected Result:
Native menu to cut / copy / paste should be displaye

[2022-03-29 22:43] kidroca commented on #8349
cc @mallenexpensify @parasharrajat @rushatgabhane @stitesExpensify

[2022-03-29 22:44] kidroca commented on #6876
Created a new ticket of the same name here: https://github.com/Expensify/App/issues/8349

[2022-03-29 22:45] trjExpensify commented on #7862
Works for me! 👍

[2022-03-29 22:51] AndrewGable commented on #6079
Interestingly - If I send the notification to OldDot, I get the message, so thinking it has something to do with newDot specifically

[2022-03-29 23:04] AndrewGable commented on #6079
Trying to use an account that I am not signed into on web to make sure it's not getting ignored

[2022-03-29 23:41] AndrewGable commented on #6079
Ok so I am able to reproduce the bug and get push notifications to work via the TestFlight, but still not from a local build.

[2022-03-29 23:57] AndrewGable commented on #6079
Ok finally got local notifications working, looks like I didn't need to do [step 4 here](https://github.com/Expensify/App/issues/6079#issuecomment-1082420453)

[2022-03-30 00:02] gladiator-1 commented on #7912
Excuse me, Is it possible to update the parsed document object at the parsing step ?

 `const domRepresentation = parseDocument(selectionHtml)`

[2022-03-30 00:15] AndrewGable commented on #6079
Ok from my testing the [`PushNotification.onSelected` callback](https://github.com/Expensify/App/blob/main/src/libs/actions/Report.js#L799-L802) never fires when the user hits the notification.

[2022-03-30 00:25] marcaaron commented on #7424
Thanks, I did not see that we weren't sure which one it was.

Cool that reasoning makes sense to me. For context, our server timeout is around 30 seconds (and we already generate logs for slow API requests). I am a bit concerned that there might be some things like a 3rd party API that could _reasonably_ take this long. We also create tickets for these alerts and if they are not very actionable ca

[2022-03-30 00:41] kidroca commented on #7856
I've found out we have hardcoded English text here:

https://github.com/Expensify/App/blob/1c4add7b7b691724edd2040110d2adc2b92e7b60/src/setup/platformSetup/index.website.js#L30-L34

used in this popup:
![image](https://user-images.githubusercontent.com/12156624/160728469-d3f48cd8-beaa-478c-8392-f155234d75a0.png)

[2022-03-30 00:42] kidroca commented on #7856
Pull Request ready
- https://github.com/Expensify/App/pull/8350

[2022-03-30 00:52] AndrewGable commented on #6079
Ok so `PushNotification.onSelected` is being fired, but I was running this code: https://github.com/Expensify/App/issues/6079#issuecomment-1026300333

But `Navigation.isReady()` was crashing 🤔

[2022-03-30 01:00] AndrewGable commented on #6079
Ok so seeing `Navigation.navigate(ROUTES.getReportRoute(reportID));` fail with the error: `DEBUG  [hmmm] [Navigation] navigate failed because navigation ref was not yet ready - {"route":"r/63481527"}` so we definitely do need some sort of check to see if the navigation is "ready".

[2022-03-30 01:18] AndrewGable commented on #6079
@roryabraham I've now found your comment here: https://github.com/react-navigation/react-navigation/issues/9170#issuecomment-898831026

I think I am in a loop!

[2022-03-30 01:23] mvtglobally opened #8351 "[$250] Feature Request: Group chats should include the logged-in user's display name. Details page should include the logged-in user details - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
In a group chat, the logged-on user is able to see the chat, but their name is not part of the group name.
In Group Details pages also the logged-on user is

[2022-03-30 01:46] mvtglobally opened #8352 "[HOLD for payment 2022-05-20][$2000] IOU balance disappears after sending money to owed user - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create two accounts User A and User B
2. Login with those accounts on different devices into the newDot app.
3. Now Request money from User B as

[2022-03-30 01:50] AndrewGable commented on #6079
Ok I opened a PR that seems to work for all the cases I can throw at it: https://github.com/Expensify/App/pull/8353

Let me know what you think @roryabraham!

[2022-03-30 01:52] mvtglobally opened #8354 "When pressing back button once, active chat/selected chat is like go back two times - reported by K4tsuki"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging new expensify
2. Visit chats using LHN in order from top to bottom
3. Press back button until active chat is at the top chat
4. Ver

[2022-03-30 01:54] mvtglobally opened #8355 "User is not navigated last active conversation after loading Home URL - Reported by @K4tsuki"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging new expensify
2. Visit chat using LHN
3. Close expensify tab
4. Open staging expensify in new tab by home url [staging new expensif

[2022-03-30 02:02] mvtglobally opened #8356 "[$500] Room Name Input Prefix and TextInput are not aligned - reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create New Room
2. Type room name in RoomName Input Field.

## Expected Result:
RoomName and Prefix aligned in same line.

## Actual Result:
Pref

[2022-03-30 02:10] mvtglobally opened #8357 "[HOLD for payment 2022-05-20] [$500] Remove Send Money when no members in room - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a workspace
2. Visit the Announce or Admins room of that policy ( it shouldn't have any other member except you )
3. Tap on :heavy_plus_si

[2022-03-30 02:15] mvtglobally opened #8358 "[HOLD for payment 2022-05-20] [$250] Cursor pointer is disabled on all members on Manage members page - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to setting > Workspace > Manage members
 2. Invite few members(if you haven't)
 3. Hover over members.

## Expected Result:
It should only be

[2022-03-30 02:23] mvtglobally opened #8359 "[$500] Mixed messages of Spanish and English in the pronouns displayed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Set profile language to Spanish
2. Set pronoun
3. Navigate to chat with any other user with pronoun set

## Expected Result:
Pronouns should disp

[2022-03-30 02:26] mvtglobally opened #8360 "[$250] You can invite a phone Number more than once in a Workspace - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to setting > Workspace > Manage members
 2. Click Invite
 3. Invite a new member using a phone number
 4. Search and invite that same Phone N

[2022-03-30 02:29] mvtglobally opened #8361 "[$250] When there is only one message in a chat then on deleting that message it shows "_fake_" in LHN - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on :green-plus-button:
2. New chat > Search a new user
3. Message the searched user
4. Delete the message and check the LHN

## Expected Re

[2022-03-30 02:31] parasharrajat commented on #7424
That would be helpful. But the expectation was to check the other log requests when this Loader log request is logged.

[2022-03-30 02:38] mvtglobally opened #8362 "[HOLD for payment 2022-06-15] [$250] Pressing the enter/return key on Request money page, when the button is disabled, takes focus away from the input field - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on + and then Request money option
2. Press enter key without entering any value in the input field
3. Now enter some value in the input fi

[2022-03-30 02:41] mvtglobally opened #8363 "[$250] Android - Attachment view has extra space on top - reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login
2. Go to a chat that has an image.
3. Open the image.

## Expected Result:
Attachment view has no extra padding on top

## Actual Result:
A

[2022-03-30 02:57] marcaaron commented on #7424
Ok, so what "other logs" are we talking about here? Anything we should we look for exactly?

Out of the reasons why the loaders would get stuck - there are only so many ways it can happen. Is there any information we can take about the state of the app that we might be able to help debug this that we can log now?

[2022-03-30 02:59] parasharrajat commented on #7912
I looked at the wrong name. It seems not, then your proposal is fine.

[2022-03-30 03:30] parasharrajat commented on #7424
The main suspect was the failure of `fetchAllReports`. But it is unknown which API exactly. This will set a point where we can check all the previous logs for anyting bad.

I don't have any idea but may be Peter can answer this.

[2022-03-30 03:39] parasharrajat commented on #7768
I will send a new PR soon.

[2022-03-30 03:42] greg-schroeder commented on #8349
I reproduced this one so sending to my friends in Eng

[2022-03-30 03:44] parasharrajat commented on #7980
Discussion is happening around applying the dynamic solution. https://github.com/Expensify/App/issues/7980#issuecomment-1074679925 was suggested to be added. My suggestion is to apply this dynamically.

Based on https://github.com/Expensify/App/issues/7980#issuecomment-1073969355 , this prop will have two values on the web.

I don't see how replacing the const will use a dynamic value of maxLines

[2022-03-30 03:50] parasharrajat commented on #7486
`#32` is a whitespace character. I was hoping. Maybe using this will help. But may be `%nbsp;` for this. Check this https://stackoverflow.com/questions/11984029/difference-between-32-and-nbsp.

[2022-03-30 04:16] hvbeladiya149 commented on #6941
I have found a solution, Please share your reviews on them:

-> Use this below library :
"https://github.com/zubricky/react-native-android-keyboard-adjust"
-> Set AndroidKeyboardAdjust.setAdjustPan();  this method on that specific screen or components.

[2022-03-30 04:21] parasharrajat commented on #6941
I will only review proposals if they are able to explain https://github.com/Expensify/App/issues/6941#issuecomment-1081893388.

[2022-03-30 04:56] Christinadobrzyn commented on #8358
Hum, I'm not sure I understand the issue. Testing this on my side, I tap on a non-admin and I can `select/Remove` but I can't `select/Remove` myself (the admin).

<img src="https://user-images.githubusercontent.com/51066321/160753695-f4aea9f3-1811-423d-a34d-bd9d285596c6.gif" width="200" height="400" />

@Tushu17 Can you clarify what you expect to see differently?

[2022-03-30 05:02] adelekennedy commented on #7912
@gladiator-1 I'm struggling to find you in Upwork, do you mind applying for the job [here](https://www.upwork.com/jobs/~01c90fb0c06dde1e5c)?

[2022-03-30 05:08] parasharrajat commented on #8309
This is missing Exported label.

[2022-03-30 05:11] parasharrajat commented on #8311
I don't see how this is different from https://github.com/Expensify/App/issues/8006. This should have been fixed on https://github.com/Expensify/App/issues/8311. cc: @Santhosh-Sellavel.

why do we need a different issue?

[2022-03-30 05:19] hvbeladiya149 commented on #6941
- I have check that they are using "android:windowSoftInputMode="adjustResize"  in AndroidManifest.xml. so In (.js) file content with the scroll view able to scroll the content, even keyboard is open  so these things happen in android devices.

Yes, they wouldn’t affect another page. if they included the "https://github.com/zubricky/react-native-android-keyboard-adjust" this library.
And set this

[2022-03-30 05:27] JmillsExpensify commented on #8356
Wow, that's quite the catch. Adding the engineering label to keep the process moving.

[2022-03-30 05:34] JmillsExpensify commented on #8329
Jumping in. Wow that's quite the odd one. I would imagine that once you tap once on the selection, we should be opening the chat switcher immediately regardless.

Posted to Upwork here: https://www.upwork.com/jobs/~016b49df129ac5f8ee

[2022-03-30 05:36] JmillsExpensify commented on #8251
Sorry for nagging @yuwenmemon :)

[2022-03-30 05:37] JmillsExpensify commented on #8212
Still waiting on contributors.

[2022-03-30 05:41] JmillsExpensify commented on #8159
That's a great poin @mallenexpensify. If we truly have little to no monthly issues, than I will flip flop a bit and question whether this monthly label is truly required here. It's incredibly common in Expensify/Expensify but I think an implicit point you're making here is whether this should be the case in Expensify/App. If this is tricky and we want to fix this, which I think we do, then let's u

[2022-03-30 05:45] JmillsExpensify commented on #8089
Still waiting on volunteers. Increasing the price to $1000 and adding to the issue title.

[2022-03-30 05:46] JmillsExpensify commented on #7796
Focused on another stuff right now.

[2022-03-30 05:47] JmillsExpensify commented on #7727
Still holding on the offline project, though hopefully for just another week or two. 🙏

[2022-03-30 05:49] JmillsExpensify commented on #7270
We're in the process of considering a new implementation for Onfido (API vs SDK), so I wonder if we should alternatively put this issue on [Hold]. It's still pretty far out admittedly, but I don't think we've gotten a single customer complaint on this, have we?

[2022-03-30 05:51] JmillsExpensify commented on #4114
Approaching a week and still no takers. Given that time preceding our most recent convos, I'm going to raise the price to $1,000 and update the issue title to encourage more contributors to jump in.

[2022-03-30 06:06] parasharrajat commented on #8045
I meant to ask about the iOS Os version.

[2022-03-30 06:22] mollfpr commented on #8115
cc @Santhosh-Sellavel

Are we want to fix this also? On Android the header is too wide.
<img width="794" alt="Screen Shot 2022-03-27 at 13 36 17" src="https://user-images.githubusercontent.com/25520267/160760938-9bb73afc-9b79-4f27-939b-efa41cf14209.png">

If yes, we can change the value
https://github.com/Expensify/App/blob/b347866b2af95bd2c51eb6bb65098bd1d756e7d0/src/styles/getModalStyles.js#L86

[2022-03-30 06:51] gladiator-1 commented on #7912
@adelekennedy applied with code : 75340

[2022-03-30 07:03] rushatgabhane commented on #8246
@mollfpr perfect!

🎀 👀 🎀 C+ reviewed
@Beamanator I like @mollfpr's [proposal](https://github.com/Expensify/App/issues/8246#issuecomment-1081781838).

[2022-03-30 07:04] rushatgabhane commented on #8246
@mollfpr perfect!

🎀 👀 🎀 C+ reviewed
@Beamanator I like @mollfpr's [proposal](https://github.com/Expensify/App/issues/8246#issuecomment-1081781838).

[2022-03-30 07:18] rushatgabhane commented on #8185
🎀 👀 🎀 C+ reviewed

@tomivs' proposal is pretty much spot on. (I used [reactnavigation/deeplinking](https://reactnavigation.org/docs/deep-linking/#set-up-with-bare-react-native-projects) as reference)
cc: @thienlnam

[2022-03-30 07:28] wahaj-47 commented on #8045
@kevinksullivan Yes I managed to change the currency and got the `Pay with Expensify` option.
Here is the screen recording I did where the date picker is working.
https://github.com/Expensify/App/issues/8045#issuecomment-1081670387

[2022-03-30 07:37] rushatgabhane commented on #6584
Thanks, it makes sense now.

@parasharrajat @michaelhaxhiu so if we all agree that there are 3 new milestones, payment for #7984 should be :

$500 base + $750 for three new milestones = $1250
- MaxLength Counter is not incrementing automatically when a user types the value in the Story - https://github.com/Expensify/App/pull/7984#issuecomment-1059792552

- When the label is forced to be active. Pl

[2022-03-30 07:47] rushatgabhane commented on #7385
@laurenreidexpensify bump ^^ https://github.com/Expensify/App/issues/7385#issuecomment-1080880009

[2022-03-30 08:23] Gonals commented on #8356
I don't think I would have ever seen this!

Adding External label, although it i so simple it might not be woth it. What do you think, @JmillsExpensify?

[2022-03-30 08:35] brianmuks commented on #8307
**Proposal**
_Root Cause_
https://github.com/Expensify/App/blob/564ec88b345a6da1478bab5e5060054a8cb5ad74/src/pages/settings/Profile/ProfilePage.js#L304
The button is missing `shouldDim`
Whenever the button is pressed `shouldDim` is set to true. We need a way to control it.
https://github.com/Expensify/App/blob/564ec88b345a6da1478bab5e5060054a8cb5ad74/src/components/Button.js#L217

Solutions
[code]

[2022-03-30 09:21] Beamanator commented on #7270
@JmillsExpensify I don't think so, and I think it's been pretty hard for us to reproduce. I think that would be fine to put on hold and if there's more complaints and we find an easy way to reproduce we can take it off hold again

[2022-03-30 09:30] MariaHCD commented on #8325
Thanks, @stitesExpensify! Of the two errors that [markAsDeleted](https://github.com/Expensify/Auth/blob/5b8044681640bc66b3cb2166bde7483723f67d9c/auth/lib/Fund.cpp#L506-L520) throws, I think `401 Cannot delete billing cards` is the only one that we should worry about?

Making this a first pick! We'll need to:
1. Get the error message we will show to the user (use the `Waiting for copy` label)
2. Ge

[2022-03-30 09:37] Julesssss commented on #8349
I assigned @parasharrajat and made the issue the same price as the original, as this is not a simple fix.

[2022-03-30 09:40] kidroca commented on #7424
As suggested in the PR I think instead of a `name` prop it would be best to add `logDetails` or `additionalDetails` where we can include some parent props/state that is relevant to the loader getting stuck (when the extra context makes sense)

Though if that's only the `this.state.isLoading` I'm not sure it will help - we know the loader is still visible because `isLoading` is still true.
If the v

[2022-03-30 09:46] techievivek commented on #8325
Assigning it to myself as I am just getting started with the new Dot. Thanks

[2022-03-30 09:46] kidroca commented on #7424
I'm 50% on that one,
Maybe we can open a ticket to do something
- keep them and see if the logs turn out to be helpful for other bugs or tracking metrics
- or remove logging after the issue is fixed, or if they doesn't prove useful

If we're using them for tracking how long a user is seeing loader screen we should probably use the Timing library and capture exactly how long the loader was visible

[2022-03-30 09:51] Tushu17 commented on #8358
@Christinadobrzyn This issue is about mouse cursor showing disabled even on selectable members.

[2022-03-30 09:55] laurenreidexpensify commented on #7385
oh weird some of the automation didn'tn take effect on this so I missed it. Looking into it now.

[2022-03-30 09:56] kidroca commented on #7579
The PR was merged and we can probably ask QA to try and reproduce this issue:
- https://github.com/Expensify/App/pull/8053

I think the PR probably fixed it as it not only fixed slow writes, but some incorrect behavior with cache

[2022-03-30 10:00] Julesssss commented on #8197
Cool, thanks all

[2022-03-30 10:02] laurenreidexpensify commented on #7385
Sorry @rushatgabhane @phivh something went really wrong here in the automation alerts for our team. I've paid this now. Thanks for your patience!

[2022-03-30 10:02] #7385 closed

[2022-03-30 11:28] NicMendonca commented on #8349
Upwork job post: https://www.upwork.com/jobs/~0191b930fd2b38bae8

[2022-03-30 11:42] NicMendonca commented on #8158
doubled price: https://www.upwork.com/jobs/~01175a4deca6e9f963

[2022-03-30 11:47] NicMendonca commented on #8126
doubled price: https://www.upwork.com/jobs/~01c09e65fbbdd4bb12

[2022-03-30 12:00] mollfpr commented on #8246
Thank you, guys! 🎉

I applied to Upwork, and will create the PR ASAP!

[2022-03-30 12:24] michaelhaxhiu commented on #6584
Thanks for pitching in (both of you!!), I realize this isn't a fun exercise and think the milestone got a little confusing - but that's ok. I just want to make sure you are both fairly compensated.

So do we agree that @rushatgabhane is owed $1250 for all C+ work captured in this GH?

[2022-03-30 12:24] Tushu17 commented on #8358
### Proposal
We just need to use `isDisabled={!canBeRemoved}` at line 218
https://github.com/Expensify/App/blob/90e5af4bc7125b7be27fc21d566beb5f2741d232/src/pages/workspace/WorkspaceMembersPage.js#L215-L223

[2022-03-30 12:46] michaelhaxhiu commented on #6584
Here's what I'm understanding based on the latest points:

1. `$125` - https://github.com/Expensify/App/pull/7318 - Rushat wasn't paid for C+ one this yet, and there was 1 regression
2. `$250` - https://github.com/Expensify/App/pull/7721 - no regressions
3. `$250` - https://github.com/Expensify/App/pull/7722 - no regressions
4. `$500` - https://github.com/Expensify/App/pull/7937 - no regressions
5

[2022-03-30 12:59] michaelhaxhiu commented on #6584
My main question right now is about #2 - is https://github.com/Expensify/App/pull/7782 a legit regression to consider?

[2022-03-30 13:13] michaelhaxhiu commented on #8159
I'm in the same camp, let's punt this chat for now. I don't think we have a problem with `weekly` right now (and thus I don't see a need for optimizing around `monthly` jobs). We really just use the monthly label when something is blocked or on hold. I'm very down to have this conversation if feel we are experiencing a problem w/ `weekly`s though!

[2022-03-30 13:13] rushatgabhane commented on #6584
Yes it's a legit regression. #2 broke payments page which used to work before.

[2022-03-30 13:47] brianmuks commented on #8288
**Proposal**
The bug is coming from this regex:
https://github.com/Expensify/expensify-common/blob/f77bb4710c13d01153716df7fb087b637ba3b8bd/lib/ExpensiMark.js#L52
We need to modify it a bit for it to match  `&#x60` even when `&#x60` is immediately followed by a letter.
So instead of ```(\B|_)``` we can have ```(\B|_|)```.
[code]

https://user-images.githubusercontent.com/4520893/160849405-d998fee9

[2022-03-30 13:48] mvtglobally commented on #8359
Team was able to repro, so adding Engineering

[2022-03-30 13:49] parasharrajat commented on #6584
Based on [this](https://github.com/Expensify/App/issues/6584#issuecomment-1082733860) I will also need to be paid more $750 for the three new milestones that Rushat is proposing.

[2022-03-30 13:56] flodnv commented on #7942
Agreed, adding this.

I agree returning everything is less error prone (and probably simpler) than the other option, updating this.

[2022-03-30 14:09] kbecciv opened #8364 "[$250] Web - Settings - Save button looks clickable after changing and saving preferred pronoun(s)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to http://staging.new.expensify.com
2. Log in to any account that has the first and last name fields in the profile filled, and click the sett

[2022-03-30 14:22] Santhosh-Sellavel commented on #8311
@parasharrajat
#8195  - addresses the issue where clicking on an email in the message showed the `copy URL` option instead of `copy email`.
https://github.com/Expensify/App/issues/8311  - But the existing copy URL itself not working on mWeb at all.

[2022-03-30 14:29] bfitzexpensify commented on #7576
Still no action, bumping to $8k

[2022-03-30 14:40] Santhosh-Sellavel commented on #8115
@mollfpr
I see your proposal [here](https://github.com/Expensify/App/issues/8115#issuecomment-1082670029)

Here is the expected outcome https://github.com/Expensify/App/issues/8115#issuecomment-1082377765.
The OP should match the expected outcome on mobile, and also make sure your proposal doesn’t affect the existing web/desktop layout. Kindly test & see.

If the existing proposal is up to date ad

[2022-03-30 14:54] Santhosh-Sellavel commented on #8109
@Julesssss
The second was intentionally left out unaddressed as per https://github.com/Expensify/App/issues/6594#issuecomment-989335741

It was now to be reported again by Applause if the design team agrees to leave this as it is let close this one.

[2022-03-30 14:56] tgolen commented on #8110
PR is merged!

[2022-03-30 14:59] adelekennedy commented on #7942
@iwiznia @flodnv @tgolen Should this still be an external issue? Ready to open an upwork job if contributors should work on this!

[2022-03-30 15:01] flodnv commented on #7942
I think yes after @iwiznia & @tgolen give their 👍

[2022-03-30 15:13] lschurr commented on #8355
Hmmm I can't reproduce this. When I close and open a new tab on staging, I'm taken to my last active chat.

[2022-03-30 15:14] lschurr commented on #8355
Is this still happening for you @K4tsuki?

[2022-03-30 15:19] Julesssss commented on #7576
🤑🤑🤑

[2022-03-30 15:42] mountiny commented on #6718
@marktoman Bumping here, it has been a while now, what is your ETA for the PR? Thank you 🙇

[2022-03-30 15:43] michaelhaxhiu commented on #6584
Yep, I agree with that. So we have the following payout for this milestone in order to close it out:

@parasharrajat - $2750
@rushatgabhane - $2250 (C+)

Can I get a 👍 from you both if this is good. Note to self - in future milestones, let's try to highlight payments as each GH deploys so it's easier to sum up in the end.

[2022-03-30 15:44] parasharrajat commented on #6584
Reminder: Please release the payment after tomorrow for me.

[2022-03-30 15:46] michaelhaxhiu commented on #8359
This one reminds me of https://github.com/Expensify/App/issues/5113

[2022-03-30 15:56] stitesExpensify commented on #8325
Yep you're right!

[2022-03-30 16:09] mvtglobally commented on #8305
@timszot any update on the last PR? hoping for a new Deploy today

[2022-03-30 16:10] neil-marcellini commented on #8305
I'm doing the QA now, the engineers tagged are outside the US, and the currency was IP based, so they couldn't QA it.

[2022-03-30 16:16] mallenexpensify commented on #5892
on hold/planning

[2022-03-30 16:16] Santhosh-Sellavel commented on #8307
@Wiskyt if avatar uploading failed before return Growl is called, we would have seen an error message! So that's not the case.

[2022-03-30 16:26] mallenexpensify commented on #8044
@rushatgabhane can you provide an update for where we are with this?

[2022-03-30 16:30] mallenexpensify commented on #8062
Doubled price to $1000
https://www.upwork.com/jobs/~01b1f2774a77de0bf7

[2022-03-30 16:34] mallenexpensify commented on #7584
Can someone provide an update on where we're at with this issue? What's the best PR link to be following/checking?

[2022-03-30 16:36] mallenexpensify commented on #8240
Doubled price to $500
https://www.upwork.com/jobs/~01f9716e57641285b8

[2022-03-30 16:38] mallenexpensify commented on #7991
Being worked on.  @justinpersaud want to bump to `Monthly` since this might be ongoing?

[2022-03-30 16:39] Santhosh-Sellavel commented on #8062
@kbecciv Is this reproducible consitently?

[2022-03-30 16:40] mallenexpensify commented on #6891
@parasharrajat or @mananjadhav can you provide an update? It doesn't look like an actions been taken on [the PR](https://github.com/Expensify/App/pull/7362) for 9 days

[2022-03-30 16:41] rushatgabhane commented on #7584
@mallenexpensify #8238 is the PR to follow

[2022-03-30 16:42] mallenexpensify commented on #7859
Not doubling this right now because we don't have clear reproducible steps.  It's possible that it's not occurring any more too.  There was recently an update to load chats faster on startup and that _might_ have fixed this.  Will put on hold next week if no ones experienced this issue again

[2022-03-30 16:48] justinpersaud commented on #7991
Oh sorry, I forgot to link a PR back here.

I made the update here, so svg images should work now https://github.com/Expensify/Web-Expensify/pull/33357

So GPG, ASC, and SVG should be working now. I think were done here?

There might be a few more formats such as HEIC but our PDF converters probably aren't setup to support the newer image formats right now, so it depends if that is something we wa

[2022-03-30 16:49] Santhosh-Sellavel commented on #8133
@roryabraham yes it was done intentionally here https://github.com/Expensify/App/issues/6121 for web/desktop

[2022-03-30 16:53] Santhosh-Sellavel commented on #8133
@metehanozyurt Thanks for the props. Looks good.
Since we would still need the props on mobile platforms, can you submit an updated proposal to handle it without affecting mobile platforms?

[2022-03-30 17:08] yuwenmemon commented on #8251
Apologies! Yes, I'd like to work on this because I haven't done much in the App repo lately.

[2022-03-30 17:11] Julesssss commented on #7737
Still awaiting proposals. We should probably double the price again soon.

[2022-03-30 17:12] Julesssss commented on #7384
Any update here @parasharrajat ?

[2022-03-30 17:13] MitchExpensify commented on #7435
Sounds like a plan @Tushu17

[2022-03-30 17:13] tgolen commented on #7942
Yeah, I think it is OK to be external. There are no API changes that need to be done on the server for this proposal.

[2022-03-30 17:13] MitchExpensify commented on #7435
Holding on https://github.com/Expensify/App/issues/7420 to see if it fixes this issue once deployed

[2022-03-30 17:22] thesahindia commented on #7969
bump for upwork
cc: @MitchExpensify

[2022-03-30 17:33] thienlnam commented on #7424
Sorry just catching up on this now,

I will check these logs on a weekly basis and update this issue with them.  I'll also have MelvinBot as a reminder.  The main premise here is that we're just trying to get more information about possible causes and so it may not be a straightforward fix.

I can make a ticket to revisit this conversation, I agree that it might be helpful to keep on as a pulse to

[2022-03-30 17:36] thienlnam opened #8367 "[HOLD payment 01-30-23] Remove loading screen logs"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

As part of https://github.com/Expensify/App/issues/7424, we added logs to help identify locations where slow spinners appear.  Now that we've resolve the issue of slow s

[2022-03-30 17:41] rushatgabhane commented on #7523
Hmm, I've verified the audit. But I didn't help here in any other way 😅
Sorry about that.

The PR was straightforward. I'm gonna unassign myself as a C+

[2022-03-30 18:01] kidroca commented on #8004
I've opened a slack thread on the topic, and it seems we might go in a different direction and build just one target - the `universal` app, because it's simpler
Let's capture a decision here, and then apply it as a fix for this ticket: https://expensify.slack.com/archives/C01GTK53T8Q/p1648661425531989

[2022-03-30 18:06] Santhosh-Sellavel commented on #8127
@metehanozyurt is [this](https://github.com/Expensify/App/issues/8127#issuecomment-1080033479) your updated proposal?

[2022-03-30 18:16] amyevans opened #8368 "[$250] Test issue for QA purposes"
Opening this issue to QA https://github.com/Expensify/Web-Expensify/pull/33414, please ignore!

[2022-03-30 18:23] Santhosh-Sellavel commented on #8288
Thanks, @brianmuks your proposal looks good!
[code]
<img width="535" alt="Screenshot 2022-03-30 at 11 50 37 PM" src="https://user-images.githubusercontent.com/85645967/160904437-895d4cfc-fff6-4ac4-95c2-d22239cdff5b.png">

Can you send an updated proposal to address the above case too? Thanks!
cc: @Beamanator

[2022-03-30 18:38] JmillsExpensify commented on #8159
Cool, great convo. I'm down with that path forward (though @roryabraham or anyone else please feel free to add thoughts as well).

[2022-03-30 18:43] luacmartins commented on #8127
I wonder if there's a css only solution for this, since that would be much simpler than playing around with the screen/item sizes.

[2022-03-30 18:46] parasharrajat commented on #8033
Ok, based on the Slack thread, I think we can go with @mollfpr's proposal https://github.com/Expensify/App/issues/8033#issuecomment-1066027512.

cc: @marcochavezf

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-03-30 18:56] neil-marcellini commented on #8305
QA passed for #8205! Wow, quite a struggle to test that one. I had to use my own bank account and debit card for testing.

[2022-03-30 18:59] timszot commented on #8305
:shipit:

[2022-03-30 18:59] #8305 closed

[2022-03-30 19:02] botify commented on #6471
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.46-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6764

If no regressions arise, payment will be issued on 2022-04-06. :confetti_ball:

[2022-03-30 19:02] botify commented on #7584
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.46-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8203

If no regressions arise, payment will be issued on 2022-04-06. :confetti_ball:

[2022-03-30 19:03] botify commented on #7688
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.46-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8019

If no regressions arise, payment will be issued on 2022-04-06. :confetti_ball:

[2022-03-30 19:03] botify commented on #7768
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.46-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8173

If no regressions arise, payment will be issued on 2022-04-06. :confetti_ball:

[2022-03-30 19:04] parasharrajat commented on #7576
I think this is a different issue. I can reproduce something similar on the web.

1. Open any chat that has a long message history.
2. Scroll the message list to see old messages up to some extent.
3. Reload the page.
4. You can not scroll in the history to see the messages.

[2022-03-30 19:20] parasharrajat commented on #6891
I am yet to give another round of testing. I will do this asap.

[2022-03-30 19:33] mountiny commented on #8368
Just double-checked that if the price tag is already part of the title no updates happen. Sorry for the pings and thank you Amy for the QA! 🙇

[2022-03-30 19:33] #8368 closed

[2022-03-30 19:36] OSBotify opened #8378 "Deploy Checklist: New Expensify 2022-03-30"
**Release Version:** `1.1.49-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/7580
  - [ ] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8137
  - [ ] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8221
  - [ ] QA

[2022-03-30 19:37] OSBotify commented on #8378
Sorry, only members of @Expensify/Mobile-Deployers can close deploy checklists.
Reopening!

[2022-03-30 19:38] mountiny commented on #7584
Updated the title and everything, the PR we are following is linked fine but previous PR which was reverted triggered this update, we are about to merge the follow up

[2022-03-30 19:39] thienlnam commented on #5768
@mallenexpensify - Sorry, I just say that when an issue has been merged and we're waiting for the regression hold before paying out.  However, in this case I didn't check the dates and we should have paid out for issue completion

[2022-03-30 19:54] mountiny commented on #8044
Are we using the hints currently anywhere? If not, maybe we could proceed with payment of the OG issue normally as it technically does not break anything right now, or does it? ( I was under the assumption the hints were feature which is not utilized currently)

[2022-03-30 20:06] brianmuks commented on #8288
Thanks @Santhosh-Sellavel . Let address the  issue .

[2022-03-30 20:07] marcaaron commented on #7598
Gonna close this then.

[2022-03-30 20:14] brianmuks commented on #8288
**Updated Proposal**
             ```   regex: /(\B|_|)&#x60;(.*?)&#x60;(\B|_|)(?![^<]*<\/pre>)/g,```

https://user-images.githubusercontent.com/4520893/160922589-a6f7fbc9-2ae7-44c9-b86e-dc6404a41222.mov

[2022-03-30 20:26] jboniface commented on #7853
@tgolen bump for addressing proposal

[2022-03-30 20:40] mountiny commented on #8337
Just testing one more, there was one problem with the labels

[2022-03-30 20:41] kidroca commented on #6059
This is actually completed, I've applied to the new ticket and received payment

[2022-03-30 20:50] OSBotify commented on #8378
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.49-0 :rocket:

[2022-03-30 20:57] mountiny commented on #7768
Updated the title and `Awaiting Payment` label, we will wait for the other PR to address the missing case.

[2022-03-30 21:20] lschurr commented on #8355
I couldn't reproduce this. Adding the triage label again.

[2022-03-30 21:21] lschurr commented on #8355
@michaelhaxhiu - I'd say we can close if you also don't see this happening.

[2022-03-30 21:22] rushatgabhane commented on #8044
@mountiny hmm yeah good point. Hints aren't being used anywhere (other than storybook).

[2022-03-30 21:26] rushatgabhane commented on #7835
@mallenexpensify should we double this ticket?

[2022-03-30 21:32] pecanoro commented on #6059
Closing then!

[2022-03-30 21:32] #6059 closed

[2022-03-30 21:33] trjExpensify commented on #8360
Looks like the same thing happens with email, so I don't think this is isolated to just inviting phone numbers.

<img width="372" alt="image" src="https://user-images.githubusercontent.com/16232057/160933839-45274e15-f91f-42b7-9a60-2a40e64e2723.png">

@Tushu17 did you confirm that as well? If so, we can update the OP of the issue to be more broad. In the meantime, I think we can loop in engineerin

[2022-03-30 21:47] #7861 closed

[2022-03-30 21:49] mallenexpensify commented on #6876
Thanks @kidroca , should we close this one now?
I think we should double the price of the other, anyone object? cc @NicMendonca

[2022-03-30 21:49] mountiny commented on #8210
Just noticed that none of the PRs in this deployed got a Production deploy message from Botify, which also meant that the contributor issues were not labelled as waiting for payment. Has this been investigated? 👀 cc @AndrewGable

For example [this](https://github.com/Expensify/App/pull/8176).

[2022-03-30 21:52] mountiny commented on #8044
Alright, I think there was some problem with this production deploy and the messages were not posted. Updated the title.

[2022-03-30 22:06] AndrewGable commented on #8210
I have not investigated this no, I am not sure if this is related to the new bot or GitHub outages or what

[2022-03-30 22:20] iwiznia commented on #8359
I think it's a separate issue, given that was fixed and @mvtglobally just reproduced this again.

[2022-03-30 22:22] iwiznia commented on #7942
👍 from me, but don't we need a new api command or param to only return details of people in the LHN for step 2?

[2022-03-30 22:22] kevinksullivan commented on #8274
Not overdue, on staging.

[2022-03-30 22:23] luacmartins commented on #6883
Still looking for contributors

[2022-03-30 22:24] kevinksullivan commented on #7729
Same ^

[2022-03-30 22:42] Luke9389 commented on #8200
I don't think we should jump all the way to 2k.
I think we need to put a `Help Wanted` label on this right?
Are you C+ for this one @parasharrajat? I saw you put a 👎 on the comment for that.

[2022-03-30 23:07] stitesExpensify commented on #7420
No update

[2022-03-30 23:10] pecanoro commented on #7541
Ohh sorry, I missed this. Assigning the issue to @osama256, feel free to apply for the job.

[2022-03-30 23:22] tjferriss commented on #8357
I agree that we shouldn't error out when this happens, but perhaps instead of completely removing the option we keep it and direct people to invite someone to the room instead.

[2022-03-30 23:27] Luke9389 commented on #8284
Go ahead and start a PR @thesahindia! Thanks for the proposal.

@DharmeshCodeBase, where was your proposal? I don't see it on this issue.

[2022-03-30 23:36] kavimuru opened #8379 "[Hold for Payment] Emoji selector hides keyboard hides text input"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Action Performed (1):
1. Go to any chat
2. Select any own message
3. Click on Edit Comment
4. Click on Emoji icon

## Expected Result:
Emojis are displayed below the t

[2022-03-30 23:37] OSBotify commented on #8379
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-30 23:44] mountiny commented on #8151
There was an issue with the deploy comments, this should be applicable for payment on Thursday 🎉

[2022-03-30 23:47] Luke9389 commented on #7969
I'll DM him with a bump

[2022-03-30 23:52] MitchExpensify commented on #7969
Sorry for the delay, team.

Paid (plus reporting bonus for you @thesahindia), contracts ended, Closing

[2022-03-31 00:01] kbecciv opened #8380 "Web - Room - Drop down is longer than expected when the account has workspace with longer names"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3. Click on Fub menu
4. Click Create New Room
5. Type any name of the

[2022-03-31 00:32] Christinadobrzyn commented on #8358
Ah gotcha! This seems to only be affecting the web app. Sorry - missed that.

[2022-03-31 00:36] mallenexpensify commented on #7270
Sound like putting on hold is best

[2022-03-31 00:38] mallenexpensify commented on #7991
OK, sounds good @justinpersaud , if/when we have new file types we want to support we can create new GH issues for them

[2022-03-31 00:43] mallenexpensify commented on #5768
Thanks @thienlnam , makes sense.   @parasharrajat , you're owed $500 total, right? $250 each for reporting and fix? No one else appears to be eligible for payment

[2022-03-31 01:28] roryabraham commented on #7576
Without doing much investigation myself, there's a good possibility that the problem is that we run out of storage to load more chats, so we can't scroll further up. This is one of the main issues we're seeking to solve with the bidirectional scrolling issue.

[2022-03-31 01:41] parasharrajat commented on #8044
Regressions should be handled the same. Although it was not used anywhere it resulted in a broken feature. If it was not pointed out https://github.com/Expensify/App/issues/8044#issuecomment-1072781493, it shall consume more resources for the fix.

IMO, we should stick to the process in all cases.

[2022-03-31 01:42] parasharrajat commented on #6059
But Reporter and C+ are still not paid @kevinksullivan.

[2022-03-31 01:44] mvtglobally commented on #8378
@timszot We did not get Android build. Team still sees 1.1.47-0. Can you please check if it is still pending with Google and re-push?

[2022-03-31 01:46] mountiny commented on #8044
@parasharrajat Thanks for the comment. I am not against it, I agree that sticking to the scheme will be good. I have mainly updated this because as the Github had outages last week, the deploy comments did not go through.

Updating the title and waiting for the https://github.com/Expensify/App/pull/8232 to get to production before we pay out!

[2022-03-31 01:49] parasharrajat commented on #8200
Yup, I am C+ here. That comment is wrong. It saying that I am hired so I put :-1:

[2022-03-31 02:03] kbecciv opened #8381 "Workspace Settings- Wrong translation for the word "epecio" under Settings"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account.
3. Navigate to Settings > Preferences
4. Set the language to Spanish

[2022-03-31 02:12] Santhosh-Sellavel commented on #6059
@kevinksullivan

I too received payment but for this, only C+ is missed out here for @parasharrajat.

[2022-03-31 02:15] Stutikuls opened #8382 "[med] JAWS+ Chrome: Many Pages: Alt is not defined for the Avatars."
## Action Performed:
1. Using JAWS+ Chrome, open URL staging.new.expensify.com
2. Navigate to Avatar for #announce and #admins rooms using Tab key.
3. Observe the screen reader behavior on Avatar and check the code as well using developer toolbar.

## Expected Result:
Alt should be defined for the Avatar/images.

## Actual Result:
Alt is not defined for the Avatar/images. Focus does not land on th

[2022-03-31 02:35] MitchExpensify commented on #7737
Will double tomorrow given that'll be a week with no proposals

[2022-03-31 02:43] kadiealexander commented on #7712
Regression has been pushed to production, updated the title to make payments after 7 days from today.

[2022-03-31 02:54] chiragsalian commented on #8323
I'm not sure what the expectation here should be. Do we want to clear the search field after selecting the user as mentioned in this issue or do we want to focus the input field as per these [requirements](https://github.com/Expensify/App/issues/6470#issuecomment-998120843). @roryabraham do you know?

[2022-03-31 02:58] chiragsalian commented on #7596
Yeah i like the suggestion of removing the opacity animation and @mdneyazahmad looks good to me to. Feel free to create a PR for this @mdneyazahmad.

[2022-03-31 03:00] Stutikuls opened #8383 "[low] Chrome: Company Information: Incorporation date section content is overlapped."
## Action Performed:
1. Using JAWS+ Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate and select any workspace using Enter & Tab key.
4. Navigate to the connect bank account using Tab key and press Enter to select it.
5. Navigate to connect Manually using Tab key and press Enter to select it.
6. Navigate to Save & Continue but

[2022-03-31 03:08] kevinksullivan commented on #8121
Oh looks like I forgot closing the external issue. We're all set here!

[2022-03-31 03:25] sobitneupane commented on #8381
**Proposal:**
Change following line of code with
https://github.com/Expensify/App/blob/9b825b44da3cb3c7605691abced3db2c8ada030d/src/languages/es.js#L858
[code]
**Output:**

<img width="605" alt="Screen Shot 2022-03-31 at 09 08 50" src="https://user-images.githubusercontent.com/25876548/160970156-f73754f2-2934-474c-aef9-d336c1c519cd.png">

[2022-03-31 03:27] Stutikuls opened #8384 "[med] JAWS+ Chrome: Company Information: Screen reader is not providing any information about the Future dates."
## Action Performed:
1. Using Voiceover+ Safari, open URL staging.new.expensify.com
2. Navigate to Setting using swipe gesture and press double tap on it.
3. Navigate and select any workspace using swipe gesture and press double tap on it.
4. Navigate to the connect bank account using swipe gesture and press double tap on it.
5. Navigate to connect Manually using swipe gesture and press double tap

[2022-03-31 03:37] conorpendergrast commented on #8362
I reproduced on Production too, thanks!

[2022-03-31 03:48] MonilBhavsar commented on #8035
Getting back this week

[2022-03-31 05:04] jliexpensify commented on #7596
Hired @rushatgabhane as C+.

@mdneyazahmad - can you link me your Upworks profile? I can't find you, cheers.

[2022-03-31 05:27] Stutikuls opened #8385 "[med] JAWS+ Chrome: Many Pages: Error message is not announced by the screen reader."
## Action Performed:
1. Using JAWS+ Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate and select any workspace using Enter & Tab key.
4. Navigate to the connect bank account using Tab key and press Enter to select it.
5. Navigate to connect Manually using Tab key and press Enter to select it.
6. Navigate to Save & Continue but

[2022-03-31 05:50] metehanozyurt commented on #8127
Thanks for response @Santhosh-Sellavel. You are absolutely right @luacmartins. If I find it, I will definitely write it down.

Did you edit this file @Santhosh-Sellavel ?
https://github.com/Expensify/App/blob/9c50db754bc29b340f7f725059d0cca6771fc61f/src/styles/styles.js#L1682-L1691

because if you add ```alignItems: 'center'``` this line looks like that.

If yes, can you delete that line and try a

[2022-03-31 06:26] mdneyazahmad commented on #7980
@parasharrajat This https://github.com/Expensify/App/issues/7980#issuecomment-1073969355 is not used in `ios` and `android`. That is only for `web` and `desktop`.

[2022-03-31 06:40] parasharrajat commented on #7980
Sorry, I didn't understand. What is trying to say by referring to this statement? You have pointed that out a few times.

[2022-03-31 06:48] parasharrajat commented on #7712
Note: [That was](https://github.com/Expensify/App/issues/7712#issuecomment-1072762919) not a regression by any means. It was not part of the initial requirements. And something is referenced as a regression if that becomes buggy by the change. The requested change never existed earlier and thus calling it a regression is just not valid.

[2022-03-31 07:18] mdneyazahmad commented on #7596
@jliexpensify https://www.upwork.com/freelancers/~011922ae9ff280b160 Thank you!

[2022-03-31 07:22] Stutikuls opened #8387 "[med] JAWS+ Chrome: Role is not defined for the Save control."
## Action Performed:
1. Using JAWS+ Chrome, open URL staging.new.expensify.com
2. Navigate to already created room from the Chat list using Tab key and press Enter on it.
3. Select the Room name and open the Details section.
4. Navigate to Setting control using Tab key and press Enter to activate it.
5. Navigate to Save control using Tab key.
6. Observe the screen reader announcement.

## Expected

[2022-03-31 07:40] Stutikuls opened #8388 "[med] : All pages: JAWS+ Chrome: Screen reader does not provide information about the status message."
## Action Performed:
1.Using JAWS+ Chrome, open URL staging.new.expensify.com
2. Navigate to already created room from the Chat list using Tab key and press Enter on it.
3. Select the Room name and open the Details section.
4. Navigate to Setting control using Tab key and press Enter to activate it.
5. Change the name and navigate to Save control using Tab key.
6. Popup message is appearing on the

[2022-03-31 08:13] Stutikuls opened #8389 "[med] : Functional: iOS: 'Something went wrong' screen is appearing after select the Setting button of the room."
## Action Performed:
1. Turn on the expensify Application on iOS device
2. Select the already created room from the Chat list and select the Room name and open the Details section.
3. Select the Setting control.
4. Observe the behavior.

## Expected Result:
Setting window should be appearing.

## Actual Result:
'Something went wrong' screen is appearing after select the setting button of the room.

[2022-03-31 08:36] Stutikuls opened #8390 "[med] JAWS +Chrome: Many Pages: Screen reader is not providing the information about the maximum limit of the controls."
## Action Performed:
1. Using JAWS+ Chrome, open URL staging.new.expensify.com
2. Navigate to Setting using Tab key and press Enter to select it.
3. Navigate and select any workspace using Enter & Tab key.
4. Navigate to the connect bank account using Tab key and press Enter to select it.
5. Navigate to connect Manually using Tab key and press Enter to select it.
6. Navigate to Save & Continue but

[2022-03-31 08:43] Stutikuls commented on #8210
Checked all PRs and created accessibility issues for all PRs where accessibility issue were found.
The non-applicable PRs are - #8063, #8082, #8149, #8184, #8186, #8191, #8204 ,#8211, #8257
logged Issues - #8387 , #8388 , #8389, #8383, # 8384, # 8385, # 8382

[2022-03-31 08:52] metehanozyurt commented on #8133
Thank you @Santhosh-Sellavel. I will update proposal and check platform type.
But i am planning to change [this](https://github.com/Expensify/App/blob/3a58a6ef39628f50013e80e57e76ffeda4c77c19/src/components/PopoverMenu/index.js) file for check platform type instead of other 5 files ([ButtonWithMenu.js](https://github.com/Expensify/App/blob/6803d0091ce4bcf68ca847818ca4a76ca3778ebe/src/components/Bu

[2022-03-31 10:15] Julesssss commented on #7779
Hi again @kbecciv, I'd love to get this fixed but I still can reproduce the same error as you. Perhaps you can help me see what the difference is between our accounts.

I'm not quite sure what you meant by this. Should I be enabling any of these group permission options? I tested enabling the Preferred Policy option, but I still don't see the error.

![Screenshot 2022-03-31 at 11 13 56](https://us

[2022-03-31 10:16] Julesssss commented on #7274
@trjExpensify can we double again please

[2022-03-31 10:18] ahmdshrif commented on #7476
@kevinksullivan here is the slack report.
https://expensify.slack.com/archives/C01GTK53T8Q/p1643042672341700?thread_ts=1643042672.341700&cid=C01GTK53T8Q

[2022-03-31 10:43] rushatgabhane commented on #7541
cc @adelekennedy because CM

[2022-03-31 10:45] flodnv commented on #7942
I think we can use [`PersonalDetails_GetForEmails`](https://github.com/Expensify/App/blob/cb1925c5f011dfe555a4ac0d75ee24da58c17388/src/libs/API.js#L449)

[2022-03-31 10:57] trjExpensify commented on #7274
Yup! Price doubled to $4k. 👍

[2022-03-31 11:00] trjExpensify commented on #7712
Oh, what do you mean it never existed? Every new policy that gets created in Expensify has a default mileage rate of `0.585`, because that's the IRS standard rate for 2022. After the change in the linked PR, that rate was being rounded to two decimal places in the workspace editor for the freePlan. What about that isn't a regression?

[2022-03-31 11:01] kbecciv commented on #7779
@Julesssss I only have Preferred Policy Unbaled. Problem is now, I can not log in my account any more - infinite spinner appears.
Here is credentials: applausetester+0707abb@applause.expensifail.com/ Feya87Katya

![image](https://user-images.githubusercontent.com/93399543/161040307-1ed5ce5a-717b-4b0e-920f-5285104c5eb6.png)

[2022-03-31 11:38] mdneyazahmad commented on #7918
I am not sure what to create in pr `tab` and `tab + shift` and `enter` works as expected. The last time I created the audit `Request a Call modal` was not submitting on `enter` press but now it is fixed here in this commit https://github.com/Expensify/App/commit/c2218bc1de64ad83726b0dfdc41559ecedec89c0

I still need help in navigating the first page [Add Personal Bank account flow](https://github.

[2022-03-31 12:01] trjExpensify commented on #8362
Job is on Upwork here: https://www.upwork.com/jobs/~01c7ab5a8744a037c1

CC: @adeel0202 if you were interested in this one!

[2022-03-31 12:02] dennismunene commented on #8331
**PROPOSAL**
All attachments are formatted as either  ``img`` or ``a`` tags ,
We need to updated the regex here  to consider both

Update
https://github.com/Expensify/App/blob/9b825b44da3cb3c7605691abced3db2c8ada030d/src/libs/actions/Report.js#L186

To this

[code]

output :

https://user-images.githubusercontent.com/4717301/161050129-bac27942-0d48-4c85-b803-b36326d14bd7.mov

[2022-03-31 12:03] mdneyazahmad commented on #7288
@mallenexpensify I am sorry for late reply. I am busy with other prs. As soon as I got time I will try to understand the issue because there is a lot of discussion going on here. Meanwhile, other contributor can propose and continue with the pr Thank you!

[2022-03-31 12:10] sobitneupane commented on #8362
**Proposal:**
We can achieve the required output by passing prop `alwaysFocusIfEmpty` in the following component.
https://github.com/Expensify/App/blob/564ec88b345a6da1478bab5e5060054a8cb5ad74/src/pages/iou/steps/IOUAmountPage.js#L228-L239

And using the prop in BaseTextInput to focus the input.
https://github.com/Expensify/App/blob/564ec88b345a6da1478bab5e5060054a8cb5ad74/src/components/TextInput

[2022-03-31 12:18] michaelhaxhiu commented on #7420
Fixing some labels are the GH history indicates this is an `Internal` issue and thus we should remove the job post

[2022-03-31 12:19] michaelhaxhiu commented on #7420
Ugh... sorry I removed that `Exported` label by mistake and re-added it.

[2022-03-31 12:26] laurenreidexpensify commented on #7535
Are we still waiting for the third party dependency?

[2022-03-31 12:30] laurenreidexpensify commented on #3245
@mananjadhav @parasharrajat ignore what the Upwork job says, when we get to payment I'll make sure you are both compensated the issue total of $2000 each

[2022-03-31 12:46] michaelhaxhiu commented on #8355
@lschurr thanks for testing this forreal - not everyone does that consistently!

Also, I agree with you - this isn't reproducible for me either. Closing.

![big gifs ](https://user-images.githubusercontent.com/13206896/161057760-c645b41d-0e42-49c4-8623-1f79debf63f5.gif)

[2022-03-31 12:46] #8355 closed

[2022-03-31 12:52] SumitDiyora opened #8392 "[High]: Chrome+Jaws : Screen reader: Role and label are not defined for "back" control."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to Settings > Workspace > Manage members > Invite
3. Navigate to back (<) control using the screen reader.
4. Observe the screen reader announcement.

## Expected Result:
When a role is defined appropriately for the interactive element, the screen reader user will interact with the element effectively.

## A

[2022-03-31 12:55] marktoman commented on #6718
@mountiny  While the code is ready, I need to test it thoroughly and specify it as testing steps. I will take it as a priority this week.

[2022-03-31 12:57] kbecciv commented on #8062
@Santhosh-Sellavel  Unable to reproduce it on latest build v1.1.49-0

https://user-images.githubusercontent.com/93399543/161059863-efc6aff7-1601-4b20-907d-69d149e46708.mp4

[2022-03-31 13:18] SumitDiyora opened #8393 "[High]: Chrome+JAWS: Screen reader: Role is not defined for control."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to Settings > Workspace > Manage members > Invite
3. Navigate to the 'Invite' control using the screen reader.
4. Observe the screen reader announcement.

## Expected Result:
Role should be defined as a 'button' for the "Invite" control.

## Actual Result:
Role is not defined for the "Invite" control. This m

[2022-03-31 13:29] kbecciv opened #8394 "Login Page - In password field is showing a border radius"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue was found when executing https://github.com/Expensify/App/pull/8301

## Action Performed:
1. Go to login page https://staging.new.expensify.com
2. Add email or pho

[2022-03-31 13:32] Julesssss commented on #7779
Thanks. I also can't login to NewDot with your credentials 😕

I tried to match the configuration you had, but I'm still not seeing the error. Could you please try to reproduce it on a fresh account?

[2022-03-31 13:34] parasharrajat commented on #7712
Based on the code, It was rounding the values to 2 decimals on NewDot before this issue so.

It was not indicated in the requirements before or during the implementation phase of this issue.

[2022-03-31 13:41] justinpersaud commented on #7991
sounds good, closing this off then

[2022-03-31 13:41] #7991 closed

[2022-03-31 13:48] SumitDiyora opened #8395 "[Medium]: Color Contrast: Insufficient color contrast for control."
## Action Performed:
1. Using Chrome, open URL: staging.new.expensify.com
2. Navigate to Settings > Workspace > Manage members > Invite
3. Navigate to the 'Invite' control using the Tab key.
4. Observe that the analyser reports that the contrast ratio is not sufficient.

## Expected Result:
The "Invite" text control (which becomes available on selecting new members) should have a contrast ratio ag

[2022-03-31 13:50] Santhosh-Sellavel commented on #8062
I think we are good to close this now, it's no longer reproducible. If the issue occurs again we will revisit this in the future.

cc: @NikkiWines  @mallenexpensify

[2022-03-31 13:52] stitesExpensify commented on #3245
@mananjadhav is this issue related to this bug? https://github.com/Expensify/App/issues/8379#issuecomment-1083775355

[2022-03-31 13:56] Santhosh-Sellavel commented on #8133
Sound goods! Waiting for your updated proposal!
@metehanozyurt

[2022-03-31 13:58] Santhosh-Sellavel commented on #8127
No, i didn’t @metehanozyurt

[2022-03-31 14:06] kavimuru opened #8396 "[$1000] mWeb (Safari) - Chat - Selecting a room from search results opens in half of the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a workspace if you don’t have one already using the FAB ➕ button -> New Workspace
2. Go to search
3. Search for any of the  rooms and open

[2022-03-31 14:28] SumitDiyora opened #8398 "[Medium]: Color Contrast: Insufficient color contrast for border of form fields."
## Action Performed:
1. Using Chrome, open URL: staging.new.expensify.com
2. Navigate to Settings > Workspace > Manage members > Invite
3. Navigate to the "Name, email, or phone number" and "Add a personal message (optional)" form fields using the Tab key.
4. Observe that the analyser reports that the contrast ratio is not sufficient.

## Expected Result:
The border of the input field should have

[2022-03-31 14:31] kavimuru opened #8399 "Payments - No hint appears in company or personal info pages when adding a debit card or bank account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #8232

## Action Performed:
1. Go to newdot and login
2. Go to payments and select a debit card
3. Focus cursor on any field

## Expected R

[2022-03-31 14:35] mountiny commented on #8396
Seems like UI problem on MobilWeb. Making it external.

@kavimuru Would you be able to also add whether this happens only on iOS mobile web (Safari) or it also occurs on Android mobile web as this feels like it could be only in Safari. Thanks!

[2022-03-31 14:36] parasharrajat commented on #7918
You can go to Settings > Payments page. Then Click Add payment method > Add bank account. Then follow on till the end when the bank account is added to the account. Use testing creads for Plaid which you can get from their docs.

[2022-03-31 14:41] parasharrajat commented on #8331
what if we send a link in the message? Will it work? try with `https://google.com`

[2022-03-31 14:46] SumitDiyora opened #8400 "[Medium]: Color: Color alone used to distinguish link"
## Action Performed:
1. Using Chrome, open URL: staging.new.expensify.com
2. Navigate to Settings > Workspace > Manage members > Invite
3. Navigate to the "Privacy policy" link using the Tab key.
4. Observe that it is not understandable without seeing colour.

## Expected Result:
When the link is underlined, users with color deficiency and low vision users will be able to identify the link.

## Ac

[2022-03-31 15:11] pecanoro commented on #7712
Yeah, I agree with @parasharrajat, the description was not descriptive enough, it never mentioned that it had to be 3. Before this PR, it was rounding to two despite being able to add so many decimals, so it was unclear the system should allow 3.

[2022-03-31 15:20] luacmartins commented on #7535
No, that has been solved and the PR is currently in review!

[2022-03-31 15:25] luacmartins commented on #8127
Thanks @metehanozyurt! I think it's worth exploring a css only solution before we introduce more complex logic. Let me know if you come up with anything.

[2022-03-31 15:29] dennismunene commented on #8331
@parasharrajat Tested sending links , It works fine.

[2022-03-31 15:34] MitchExpensify commented on #7737
Doubled

[2022-03-31 15:34] AndrewGable commented on #8200
Why not bump to $2k?

[2022-03-31 15:41] timszot commented on #8378
`1.1.49-0` should be uploaded now!

[2022-03-31 15:42] AndrewGable commented on #8399
"hint" or "auto fill"?

[2022-03-31 15:51] dennismunene commented on #8331
The link is shown , in this case ``https://google.com``

[2022-03-31 16:03] SumitDiyora opened #8401 "[High]: Chrome+Jaws: Screen reader: Role are not defined for controls."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to Settings > Workspace > Reimburse expenses.
3. Navigate to 'back (<)' and 'Connect bank account' controls using the screen reader.
4. Observe the screen reader announcement.

## Expected Result:
When a role is defined appropriately for the interactive element, the screen reader user will interact with the

[2022-03-31 16:04] Santhosh-Sellavel commented on #8115
Thanks can you cleanup submit a proposal in a separate comment.

[2022-03-31 16:22] SumitDiyora opened #8402 "[Medium]: Color Contrast: Insufficient color contrast for border of form fields."
## Action Performed:
1. Using Chrome, open URL: staging.new.expensify.com
2. Navigate to Settings > Workspace > Reimburse expenses.
3. Navigate to the "Rate" and "Unit" form fields using the Tab key.
4. Observe that the analyser reports that the contrast ratio is not sufficient.

## Expected Result:
The border of the input field should have a contrast ratio against the page background of 3:1 or gr

[2022-03-31 16:22] LucioChavezFuentes commented on #7486
After investigation I found the problem with whitespace is related to the normal behavior of wrapping in CSS. It happens on inline text and flexbox:

Sources:
https://stackoverflow.com/questions/37406353/make-container-shrink-to-fit-child-elements-as-they-wrap

https://stackoverflow.com/questions/12377826/css-width-max-width-on-line-wrap/12377883#12377883

I tried @parasharrajat's suggestions but

[2022-03-31 16:34] Santhosh-Sellavel commented on #8115
cc: @AndrewGable
I think this proposal [here](https://github.com/Expensify/App/issues/8115#issuecomment-1082670029) over-engineered two many changes for a visual correction.

I see the @dharmik proposal here is a lot cleaner almost narrows down the root cause as `StyleUtils.getModalPaddingStyles` which adds the extra space to cause this breakage. And I believe modifying the modalStyles should solv

[2022-03-31 16:35] parasharrajat commented on #7486
I think you may be overthinking the problem. MaxWidth and height will be passed as a prop to the Tooltip. Now when these values exist, Tooltips' black box should not expand beyond these values.

Text inside the tooltip will be clipped with ellipsis if overflowing the area. `variables.sideBarWidth` will be passed to the prop where necessary. Let's make this the default value to that prop.

[2022-03-31 16:42] Santhosh-Sellavel commented on #8288
@Beamanator
https://github.com/Expensify/App/issues/8288#issuecomment-1083162233
https://github.com/Expensify/App/issues/8288#issuecomment-1083580658
@brianmuks  proposal looks good to me.

🎀👀🎀 C+ reviewed

[2022-03-31 16:48] tgolen commented on #7942
Yeah, I was assuming that the front-end would just be passing whatever emails it wants to get the details for.

[2022-03-31 16:49] tgolen commented on #7942
However, the thought of moving all that logic to Auth is really a good idea and I think that would be awesome!

[2022-03-31 16:50] SumitDiyora opened #8403 "[Medium] Chrome+JAWS: Form fields are not associated with their visible label."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to Settings > Workspace > Reimburse expenses.
3. Navigate to the "Rate" and "Unit" form fields using the screen reader.
4. Observe the screen reader announcement.

## Expected Result:
The visible label of a form field is programmatically associated with its form field so that assistive technology announces t

[2022-03-31 16:54] kavimuru opened #8404 "[HOLD for payment 2022-05-02] [$250] Close account - Unnecessary extra vertical margin above the pop up message when tapping close account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with account [kbecciv+2002@gmail.com/Feya86Katya](mailto:kbecciv+2002@gmail.com/Feya86Katya)[](javascript:)
on New dot.

[2022-03-31 16:59] tgolen commented on #7853
Thanks for the bump! I missed this when I was OOO.

Thanks @mollfpr for clarifying that! I think it's an OK solution, but it looks like `PressableWithSecondaryInteraction` is used in 4 other places in the code. Should the solution then be to add `onKeyDown` to all 5 places, only in this 1 place, or to do it instead inside the component (so it's applied to all 5 places automatically)?

[2022-03-31 17:25] michaelhaxhiu commented on #8359
Upwork job link - https://www.upwork.com/jobs/~01c7cd706acf546ab1

[2022-03-31 17:46] SumitDiyora opened #8406 "[High]: Chrome+Jaws : Screen reader: Role are not defined for controls."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to Settings > Create new Workspace > Search for the created workspace > Details.
3. Navigate to "back (<)", "Members", "Settings", "Invite", etc. controls using the screen reader.
4. Observe the screen reader announcement.

## Expected Result:
When a role is defined appropriately for the interactive element,

[2022-03-31 17:50] AndrewGable commented on #8115
Let's wait until we see one you can approve @Santhosh-Sellavel 👍

[2022-03-31 17:54] stitesExpensify commented on #8379
Commented on the main emoji picker in edit issue to see if this is a related bug

[2022-03-31 18:03] SumitDiyora opened #8407 "[Medium]: Chrome+Jaws : Missing list markup for controls."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to Settings > Create new Workspace > Search for the created workspace > Details.
3. Navigate to "Members", "Settings", "Invite" and "Leave room" controls using the screen reader.
4. Observe the screen reader announce list markup.

## Expected Result:
When list mark-up is provided for the mentioned content, s

[2022-03-31 18:04] roryabraham commented on #7576
Putting this on HOLD for bidirectional scrolling. Once that is out, we'll need to re-evaluate if this is still an issue.

[2022-03-31 18:04] danieldoglas commented on #8357
Agreed with @tjferriss solution above.

[2022-03-31 18:13] kidroca commented on #7861
@roryabraham @bfitzexpensify
This ticket got closed. @roryabraham took care of it internally, but I reported it and helped a bit
I haven't tracked the time in my hourly contract, because I thought that I'd get the reporting bonus

Would you issue a reporting bonus for me, or maybe I can try to estimate how much time I've spent here and log in in my hourly work?

[2022-03-31 18:13] stitesExpensify commented on #8267
Gotcha. So I don't think we need new API commands based on that comment. Like I mentioned above the functionality of both could be done with the current `updateLastRead` command. All it does is take a `sequenceNumber` and set that as the last read.

What do you think of doing this update to `updateLastRead` instead:
1. Add a new param `setByUser`
2. Add a check that prevents the new `lastReadSeque

[2022-03-31 18:14] SumitDiyora opened #8408 "[Medium] Chrome: Color Contrast: Insufficient color contrast for text."
## Action Performed:
1. Using Chrome, open URL: staging.new.expensify.com
2. Navigate to Settings > Create new Workspace > Search for the created workspace > Details.
3. Navigate to "Extra" and "1" text.
4. Observe that the analyser reports that the contrast ratio is not sufficient.

## Expected Result:
The "Extra" and "1" text should have a contrast ratio against the page background of 4.5:1 or g

[2022-03-31 18:17] roryabraham commented on #7861
@bfitzexpensify I agree @kidroca should get a reporting bonus

[2022-03-31 18:26] Tushu17 commented on #8404
Hi @kavimuru I had reported this on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1648072472591519), is this eligible for the reporting bonus.

[2022-03-31 18:32] SumitDiyora opened #8411 "[Medium] Chrome: Color Contrast: Insufficient color contrast for 'New' text."
## Action Performed:
1. Using Chrome, open URL: staging.new.expensify.com
2. Navigate to any of the chats with the attached image and hard press on the image
3. Navigate to the "New" text.
4. Observe that the analyser reports that the contrast ratio is not sufficient.

## Expected Result:
The "New" text should have a contrast ratio against the page background of 4.5:1 or greater.

## Actual Result

[2022-03-31 18:38] kidroca commented on #8267
I remember it was proposed to create a new action or add a parameter to the existing, like you say, but I don't remember why we decided to go with separate action

Maybe the intent is clearer
- markAsUnread -> marks everything since the sequence number as unread
- markAsRead -> marks everything before the sequence number as read

[2022-03-31 18:40] marcaaron commented on #7623
Heads up, I am reverting the changes in both of the submitted PRs related to this issue.

[2022-03-31 18:48] mountiny commented on #8331
Feel free to submit the PR @dennismunene, thank you for the proposal and thanks @parasharrajat for the review!

I am surprised that the normal links work fine, hopefully, it will work well once tested.

[2022-03-31 18:57] SumitDiyora opened #8413 "[High] Chrome+JAWS: Keyboard: 'Mark as unread' and 'Delete comment' controls are not accessible using the keyboard."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to any of the chats with the attached image and hard press on the image.
3. Observe 'Mark as unread' and 'Delete comment' controls are accessible using the keyboard or screen reader users.

## Expected Result:
Keyboard should be accessible for 'Mark as unread' and 'Delete comment' controls.

## Actual Result

[2022-03-31 18:58] AndrewGable commented on #6079
PR in preview

[2022-03-31 19:08] SumitDiyora commented on #8407
Same issues will reproduce in PR #8065.

[2022-03-31 19:22] johnmlee101 commented on #8267
After talking to @stitesExpensify 1:1 we decided that having 2 API commands isn't strictly necessary. One flow is a soft-set of the unread/read marker pivot point, and the other is a force set. If the user is marking manually, that will force the sequence number no matter what, while if it isn't manually set it will do a soft check to make sure its not setting below the existing sequenceNumber.

G

[2022-03-31 19:23] johnmlee101 commented on #3981
I will be putting this on hold as we'll be pursuing a potential high-level refactor of this logic to simplify and inevitably fix these issues as put through our proposal process.

[2022-03-31 19:32] kidroca commented on #8004
We decided to stick with what we previously did and build only the `x64` version
If we ever decide to switch the door is open.

PR is ready
- https://github.com/Expensify/App/pull/8416

[2022-03-31 19:41] SumitDiyora opened #8417 "[Medium]: Color Contrast: Insufficient color contrast for border of form field."
## Action Performed:
1. Using Chrome, open URL: staging.new.expensify.com
2. Navigate and activate the '+ (New)' button.
3. Navigate to the 'New chat' button.
4. Navigate to the "Name, email, or phone number" form field using the Tab key.
5. Observe that the analyser reports that the contrast ratio is not sufficient.

## Expected Result:
The border of the input field should have a contrast ratio a

[2022-03-31 19:44] iwiznia commented on #7942
I see, anyway, I am not sure which one is better than the other, I think I lean slightly to the frontend as it feels more correct to be handled there

[2022-03-31 19:54] SumitDiyora opened #8418 "[High]: Chrome+Jaws: Screen reader: Role are not defined for controls."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate and activate the '+ (New)' button.
3. Navigate to the 'New chat' button.
4. Navigate to the "John...", "Berna ...", "Lisbeth", etc. controls using the screen reader in the 'RECENTS' and 'CONTACTS' sections.
5. Observe the screen reader announcement for controls.

## Expected Result:
When a role is defined ap

[2022-03-31 19:59] SumitDiyora opened #8419 "[Medium]: Chrome+Jaws : Missing list markup for controls."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate and activate the '+ (New)' button.
3. Navigate to the 'New chat' button.
4. Navigate to the "John...", "Berna ...", "Lisbeth", etc. controls in the 'RECENTS' and 'CONTACTS' sections.
5. Observe the screen reader announce list markup.

## Expected Result:
When list mark-up is provided for the mentioned conten

[2022-03-31 20:04] SumitDiyora commented on #8392
Please refer to these issues for PR #8144

[2022-03-31 20:06] SumitDiyora commented on #8398
Please refer to these issues for PR #8144

[2022-03-31 20:07] SumitDiyora commented on #8400
Please refer to these issues for PR https://github.com/Expensify/App/pull/8144

[2022-03-31 20:11] marcaaron commented on #6591
I'm putting a hold on this so we can take a step back and make some design improvements.

More context here: https://expensify.slack.com/archives/CC7NECV4L/p1648745342332069

@parasharrajat appreciate the changes and would like to keep discussing some of them in the PR, but I'm concerned we need to go back to the drawing board. It seems like you agreed with that sentiment [here](https://github.com

[2022-03-31 20:21] metehanozyurt commented on #8133
Thank you @Santhosh-Sellavel .
Updated Solution :

If we update this file ([PopoverMenu/index.js](https://github.com/Expensify/App/blob/3a58a6ef39628f50013e80e57e76ffeda4c77c19/src/components/PopoverMenu/index.js) ) as in the example below it will solves the problem. And Mobile platforms will not affected.
[code]
Please see slo-mo video:

https://user-images.githubusercontent.com/6093207/161142094

[2022-03-31 20:27] jboniface commented on #8151
@thesahindia & @rushatgabhane i think this is the job that upwork accidentally took down, I reposted it under a new link [here](https://www.upwork.com/jobs/~013fd98740cef216a2)

[2022-03-31 20:30] rushatgabhane commented on #8151
Thanks!

[2022-03-31 20:32] thesahindia commented on #8151
Applied.

[2022-03-31 20:35] mallenexpensify commented on #8200
Bumped to $2000 to expedite getting it fixed.  Good 👀 on the `Help Wanted` label missing @Luke9389 , there was a bug that should be fixed by now.

[2022-03-31 20:37] dharmik commented on #8115
@Santhosh-Sellavel This issue only specific to iOS and Android so

Instead of using extra props
`isAttachmentModal={true} ==> Additional Props`

we can add condition for device OS bases
`const modalPaddingStyles = !(Platform.OS === 'ios' || Platform.OS === 'android') && StyleUtils.getModalPaddingStyles({
`
It will resolve with cleaner code.

https://github.com/Expensify/App/issues/8115#issuecommen

[2022-03-31 21:06] mmobin789 commented on #5768
### Proposal

If this is a section within a single recyclerview adapter.

Then duplicates can be filtered out at the list level as each item in the list has specific ID or properties that can be used to uniquely identify each time in the list and then the adapter can be notified or list can be modified even before submission to the adapter happens.

[2022-03-31 21:06] JmillsExpensify commented on #7288
@mallenexpensify Following internal discussions we're going to put this PR on hold. We're likely going a different direction with our onboarding framework.

[2022-03-31 21:29] neil-marcellini commented on #8295
@MariaHCD what makes you say that? How can we tell if they are on that beta? According to [this SO](https://stackoverflow.com/c/expensify/questions/5585) gmail.com accounts are not on the betas.

We only show "Continue to setup" if they are in the `FREE_PLAN_FULL_LAUNCH` beta. They are redirected from the bank account page if they are not in the `FREE_PLAN` beta. Is it possible that they are in th

[2022-03-31 22:43] alex-mechler commented on #8358
Looks ready to go external

[2022-03-31 22:43] kbecciv opened #8420 "Log in - Error message displayed when logged in with invited user via IOU"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com and log in with your account
3. Click the green + icon and select request money
4. Enter an amount and cl

[2022-03-31 23:06] AndrewGable commented on #8399
@rushatgabhane @parasharrajat @mountiny - Can you verify the expected result here? I am a bit confused.

[2022-03-31 23:12] mountiny commented on #8399
Hmmm, I dont think that is correct, there should be no hints as the tests steps in the linked PR mention:

<img width="856" alt="image" src="https://user-images.githubusercontent.com/36083550/161164254-28b20533-80c9-4c6d-afbf-bf0cdd4ab9db.png">

I guess this was just a bit confusing because we were fixing the hint feature, which was not used anywhere 😄 so no, the hints should not show up, thus eve

[2022-03-31 23:14] AndrewGable commented on #8399
Closing then!

[2022-03-31 23:14] #8399 closed

[2022-03-31 23:59] Luke9389 commented on #7464
Still planning Melvin

[2022-04-01 00:00] mallenexpensify commented on #6912
Gonna close this.  If anyone can reproduce, please add a comment with steps and a video screenshot, then we'll reopen

[2022-04-01 00:00] #6912 closed

[2022-04-01 00:15] LucioChavezFuentes commented on #7486
@parasharrajat I understand your point of view and I also do believe the best approach is setting max boundaries. I already tried putting `max-width` and `max-height`. In fact my very [first proposal](https://github.com/Expensify/App/issues/7486#issuecomment-1068635516) (and the [last one](https://github.com/Expensify/App/issues/7486#issuecomment-1084812027)) is about setting max boundaries with `

[2022-04-01 01:54] kbecciv commented on #7779
@Julesssss I just created account and I think I used the same configuration as above account. My result had different error this time. Account used: applausetester+033122abb@applause.expensifail.com/Feya86Katya

https://user-images.githubusercontent.com/93399543/161179206-01d43dcf-2878-4d7c-9aff-da2f03bdf275.mp4

[2022-04-01 01:59] parasharrajat commented on #7623
Got It. I will find another approach to the issue.

[2022-04-01 02:03] parasharrajat commented on #5768
@mallenexpensify Done.

[2022-04-01 02:20] parasharrajat commented on #6591
Ok. Thanks. It would really be great to get the design reviewed before I make any changes. I have already debugged that a few times and I don't see we can achieve a better solution without adding a few patches to the code for the existing design.

[2022-04-01 02:24] mollfpr commented on #7853
I think is better to pass `onKeyDown` only in this 1 place.

Currently `PressableWithSecondaryInteraction` is only use by `ReportActionItem` and `AnchorForCommentsOnly`. For `AnchorForCommentsOnly` is also rendered inside `ReportActionItem` so it's already covered.

But I'm up for others' input.

cc @tgolen

[2022-04-01 02:43] mvtglobally commented on #8378
Blockers
https://github.com/Expensify/App/issues/8379

PR #7580 failing due to #8379
PR #8301 failing due to #8394. Its not a blocker, can we check off?
PR #8338 is failing on IOS due to https://github.com/Expensify/App/issues/7869. Rest are pass. Are we good to check off?

Issues logged
https://github.com/Expensify/App/issues/8420
https://github.com/Expensify/App/issues/8396
https://github.com/Ex

[2022-04-01 02:43] parasharrajat commented on #7486
Ok. I see. The tooltip is a very expensive component. Whatever we are doing, we have to make sure it does not put more load and delay in the rendering of Tooltip.

I am fine with your latest [proposal](https://github.com/Expensify/App/issues/7486#issuecomment-1084812027) but You will have to make it dynamic.

You can't use ` variables.sideBarWidth` and `numberOfLines={3}` directly on tooltip. It s

[2022-04-01 02:49] mdneyazahmad commented on #7918
It does not open (dev env) the flow for me results `cors` error.

<img width="470" alt="Screenshot 2022-04-01 at 8 16 23 AM" src="https://user-images.githubusercontent.com/77761491/161185371-79df9f77-1131-4645-b4d9-48819e31e79b.png">

[2022-04-01 02:59] parasharrajat commented on #7918
I think you will have to use staging. I don't know how to solve the cors issue. I also face this.

[2022-04-01 03:05] parasharrajat commented on #7768
PR will be ready by EOD.

[2022-04-01 03:09] mvtglobally opened #8421 "[HOLD for payment 2022-05-20] [$500] when selecting multiple lines on a message, sometimes the lines that aren't the first aren't highlighted"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send to someone text below
There are a bunch of wizard type tools online you can use to create the SPF and DMARC records:
https://www.spf-record.

[2022-04-01 03:15] mvtglobally opened #8422 "Feature request: Allow users a method to download a chat as a transcript in NewDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
Now that we’re moving to NewDot for all conversations, it would be nice to allow users a method to download a transcript so they can relay it to teammates/co

[2022-04-01 03:22] mvtglobally opened #8423 "FEATURE REQUEST: Full screen the compose window on mobile, when writing a long message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat on mWeb or Native app
2. Type a long message expanding more than 10 lines
3. Try to expand the compose window

## Expected R

[2022-04-01 03:25] mvtglobally opened #8424 "FEATURE REQUEST: Ability to add people to existing group without losing history"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create group chat with 3 users
2. exchange some messages
3. Add 4th user to the same group

## Expected Result:
We  should be able to add people

[2022-04-01 03:29] mvtglobally opened #8425 "We dont support .pptx formats as attachments"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. Send .pptx file

## Expected Result:
User should be able to send .pptx file

## Actual Result:
User is unable to send .pp

[2022-04-01 03:33] mvtglobally opened #8426 "[HOLD for payment 2022-06-08] [$1000] Support markdown in hyperlink"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. Send few links with markdown - Strikethrough/bold/italic

## Expected Result:
Markdown formatting should work on links

#

[2022-04-01 03:51] sig5 commented on #6154
Thanks @trjExpensify , really appreciate it!

[2022-04-01 04:15] Stutikuls opened #8428 "[low] Chrome: New Group Page: Focus indicator is not visible on all edges."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Navigate to (+) button icon using Tab key and press Enter to select it.
3. Navigate and select new group using Enter & Tab key.
4. Navigate to the list items using Tab key.
5. Observe the focus indicator.

## Expected Result:
Focus indicator should be clearly visible on the all edges.

## Actual Result:
 All edges of the f

[2022-04-01 04:25] Stutikuls opened #8429 "[med] Color Contrast: Many Pages: Grey icons against white background fail contrast requirements."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Select (+) button.
3. After expanding the + button select new group control.
4. New group window is appearing, Notice close (x) button.
5. Measure the color contrast ratio of the grey icons against white background for close (x) button.

## Expected Result:
The visual presentation of meaningful graphical objects or interac

[2022-04-01 04:27] kadiealexander commented on #8422
Great idea! Shipping to #engineering for their thoughts.

[2022-04-01 04:30] techievivek commented on #8325
Hi Zach could you please share a well-formatted error message that we can show to the user for this issue. Thanks

[2022-04-01 04:51] kadiealexander commented on #7462
@parasharrajat how are you tracking for this? Still want me to keep it on hold?

[2022-04-01 05:08] Stutikuls opened #8430 "[med] Color Contrast: Many Pages: Placeholder text fail contrast requirements."
## Action Performed:
1. Using Chrome, open URL staging.new.expensify.com
2. Select (+) button.
3. After expanding the + button select new group control.
4. New group window is appearing, Notice placeholder text for the search button.
5. Measure the color contrast ratio for the placeholder text (Name. email or phone no.)

## Expected Result:
The contrast ratio for the placeholder should be at least

[2022-04-01 05:14] mohanbright commented on #8151
There is an option to set max date in date picker.

Solution - At the time of selecting date picker, just need to set max date in date picker.  It will take maximum 2 hrs with testing.

[2022-04-01 05:15] parasharrajat commented on #7462
Nope @kadiealexander. You are good to go.

[2022-04-01 05:40] SumitDiyora opened #8431 "[High]: Chrome+JAWS: Screen reader: Role is not defined for 'Invite' control."

[2022-04-01 05:43] #8431 closed

[2022-04-01 06:23] parasharrajat commented on #7384
I will check it in a few hours and follow up.

[2022-04-01 06:42] SumitDiyora opened #8432 "[High] Chrome: Screen reader: Missing label for input field."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Navigate to Any 'chat room'.
3. Navigate to the "Write something..." input field using the Tab key.
4. Observe the screen reader announcement.

## Expected Result:
A meaningful label should be announced for these input fields to the screen reader users.

## Actual Result:
Label is not provided for the input field "Wr