[2021-02-24 12:21] lucas-neuhaus-dev commented on #1498
@shawnborton since you mentioned that, let me ask:

When an unread message is within a group of recent messages (when it's not the first message with an avatar on the left), like on the image below:
![example](https://i.ibb.co/648B9wR/scaled-down.png)

Do you want it to be like the image, or do you prefer tagging that message as a new group? I mean, show the name, avatar and time again after the `

[2021-02-24 12:28] shawnborton commented on #1498
I think the general rule of thumb is that the unread indicator would immediately precede the last unread individual message. So basically what you have mocked up is perfect.

[2021-02-24 12:37] lucas-neuhaus-dev commented on #1498
@shawnborton just thought of another question :sweat_smile: haha

For large screens, don't you think that it will look weird? The `NEW` on the far right of the screen?
You wouldn't have a mock of that for me, would you?

[2021-02-24 12:45] shawnborton commented on #1498
Here you go:
![image](https://user-images.githubusercontent.com/2319350/109002491-91575300-76a6-11eb-91d4-cdf57145cd24.png)

I think it's not too bad. What do you think?

[2021-02-24 12:53] lucas-neuhaus-dev commented on #1498
Hmmmm I think your mock is a little bias.

It is a 1180px width screen, instead of other very normal 1920px, so it is more of a medium screen.
And you have a lot of text both at the top and at the bottom, so the text meets the end of the screen, and the `NEW` does not get so "alone" at one border.

I would encourage you to try a 1920px screen with very short messages. I believe that if we brought

[2021-02-24 13:04] shawnborton commented on #1498
I don't think we should be optimizing for screens that are quite that large, I would consider something in the 1300-1500px range to be normal.

With that being said, it would look like this:
![image](https://user-images.githubusercontent.com/2319350/109004356-f90e9d80-76a8-11eb-85c4-3edff308f3be.png)

I don't think it looks too bad, so I would be fine moving forward with implementing this as we ha

[2021-02-24 13:08] lucas-neuhaus-dev commented on #1498
Yeah, it really doesn't look great at the center, I had a different image in my head.

I'm on it, thanks!

[2021-02-24 13:10] shawnborton commented on #1498
Awesome, thanks for your feedback though and working through the mockups with me!

[2021-02-24 13:23] laurenreidexpensify commented on #1490
@marcaaron is @parasharrajat good to go here?

[2021-02-24 13:48] soloarevalo commented on #1549
Hello.
I can definitely fix your issue.
When can we start to work?

Thank you

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Libre
de virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

El mar, 23 feb 2021 a las 23:3

[2021-02-24 15:09] tgolen commented on #1513
OK, thank you for a little more details. In the solution for `componentDidUpdate()`, where does `this.props.redirectTo` come from? I don't see it listed in the propTypes anywhere.

Can you link to the code where this blur is happening? I'm not seeing it and just want to double-check. My thought is that we should not be calling `focus() -> blur() -> focus()`. It seems better that we just not call `

[2021-02-24 15:25] aliabbasmalik8 commented on #1513
We need to add `redirectTo` in the below position

![image](https://user-images.githubusercontent.com/31027036/109022291-98d12900-76b3-11eb-9173-c2b3b22629db.png)

when we click outside of the `message text box` then we need to call `blur()` function
https://recordit.co/tAHb0oW4pS

[2021-02-24 18:20] SameeraMadushan commented on #1549
Hi @NicMendonca

Here is my proposal. I have submitted a proposal on Upwork as well.

### Problem
Hitting return consistently not submitting the forms.
I checked the mentioned scenarios and these are my findings.
These are the scenarios that this bug shows up.
- Login forms (Both narrow and wide views)
- Password form
- Github username form
- Set password page

### Solution
To handle this I will h

[2021-02-24 22:39] tugbadogan commented on #986
Hi @jboniface, is this task still available? It looks like there isn't any activity for a while.

[2021-02-25 07:34] Maftalion commented on #1492
Hello,
I'd like to take this if it's still available.

**Proposal**
- I would update `HeaderView` to show avatars using ` MultipleAvatars`. If there's more than one participant I would redirect to the new right-docked modal and pass the login: `redirect(ROUTES.getProfileRoute(login));`
- I would create the new route under ROUTES.js and add the new right-docked modal in HomePage.js.
- I would set u

[2021-02-25 14:06] jboniface commented on #986
@tugbadogan we're not quite sure how to solve it optimally, and another contributor put up a PR that we weren't able to move forward with because it wasn't consistent across platforms. Do you have a proposal that would resolve this issue?

[2021-02-25 14:49] Julesssss commented on #1526
PR has been merged.

[2021-02-25 14:49] #1526 closed

[2021-02-25 17:00] marcaaron commented on #1341
Gonna add this context here since @joaniew brought to our attention another bug related to this. I have a strong suspicion it is related to the `FlatList` CSS issues (if not the same exact issue) so whenever we fix this we should make sure to check whether this is resolved as well.

**When copying text from Expensify.cash and pasting into gmail we see this:**

<img width="349" alt="screen_shot_202

[2021-02-25 17:59] marcaaron commented on #1549
@SameeraMadushan thanks for this proposal. Rather than a helper method I'd suggest we create a component that wraps the `TextInput` and adds this behavior. Something like a cross platform version of this that accepts all props of `TextInput` but calls `this.props.onSubmit()` when either `onSubmitEditing` or `onKeyPress` is triggered the two cases ...

[code]

This way we can just replace the `Text

[2021-02-25 18:01] smokfyz commented on #1040
I have solved this issue with rn-fetch-blob.
const { config, fs } = RNFetchBlob
let PictureDir = fs.dirs.PictureDir
let options = {
  fileCache: true,
  addAndroidDownloads : {
    useDownloadManager : true,
    notification : false,
    path:  PictureDir + "/me_"+Math.floor(date.getTime() + date.getSeconds() / 2),
    description : 'Downloading image.'
  }
}
config(options).fetch('GET', "http://w

[2021-02-25 18:02] SameeraMadushan commented on #1040
Hi,

I submitted a proposal on Upwork and I would like to handle this task.
I will explain my approach to solve this.

### Problem
The modal should provide an icon that can be clicked to download the image.

### Suggested solution
This function will be implemented as a reusable function inside `src/libs`.
Any type of file download will be possible

#### iOS and Android

- I will use `rn-fetch-blob

[2021-02-25 18:28] NikkiWines commented on #1492
Hi Matt,

Thanks for submitting your proposal. One minor note is that we only want to open the right-docked modal for chats with one participant. If there is more than one participant, we don't want to do anything when the avatar is clicked. I've updated the issue to make this a little clearer as well.

To answer your questions:

I would do something similar to what we did for the clickable avatar

[2021-02-25 18:29] lucas-neuhaus-dev commented on #1498
@roryabraham  @marcaaron

_Obs.: I have one unrelated question at the end, I would appreciate it if someone could kill my curiosity on that, not necessary tho_

### Proposal

1. Create a new component called `UnreadActionIndicator`, that has height = 0. It receives an `animatedOpacity` prop;
2. In `ReportActionsView`, get the `reports` object from the Onyx store;
3. Use it to create a function `ge

[2021-02-25 18:34] #1500 closed

[2021-02-25 19:10] #1383 closed

[2021-02-25 19:10] #1514 closed

[2021-02-25 19:25] aliabbasmalik8 commented on #1549
@marcaaron

on the web after submitting the form `event.isDefaultPrevented()` is become true so that's the reason check failed in [this code](https://github.com/necolas/react-native-web/blob/d037506200548d51dc523637732a71a30cfd7cff/packages/react-native-web/src/exports/TextInput/index.js#L246-L277)

In React we used `event.preventDefault()` while submitting form. the benefit is in this way page no

[2021-02-25 20:17] anton-z2021 commented on #1520
@Neuhaus93

I researched some documents about focus and found setTimeout may be the solution.
under onConfirm action of "Upload Attachment" I think it has kind of duration or delay.
So we use this.textInput.focus() directly then it is not working in browser and desktop.
I wondered if it was chrome bug and tested on several browsers such as opera, safari, firefox but same results.
Perhaps it is the

[2021-02-25 20:28] marcaaron commented on #1549
Interesting, so I'm not sure that makes sense then and must be a bug. I added a debugger and saw that `event.isDefaultPrevented()` is true. But why?

I'm not sure what you mean as this `input` does not exist in a `form`.

![Screen Shot 2021-02-25 at 10 26 25 AM](https://user-images.githubusercontent.com/32969087/109212921-1e0c1a80-7754-11eb-9578-cb38c315bc86.png)

At what point does the event get

[2021-02-25 20:39] marcaaron commented on #1549
I think maybe it's here -> https://github.com/Expensify/Expensify.cash/blob/38b392173a5e990a0d0e5fe9b327a14f7ae722ad/src/libs/KeyboardShortcut/index.js#L50

[2021-02-25 20:41] marcaaron commented on #1549
Probably we are not unbinding the `Enter` key properly in `BaseModal`

[2021-02-25 20:53] SameeraMadushan commented on #1549
@marcaaron Yes, you are correct.
It happens because of that `event.preventDefault(); ` in keyboardshortcut/index.js

after removing the `event.preventDefault()` it works as expected.

When the user logs in addEventListner will start, and when the user logs out event listener won't get removed.
It will get remove and add again only when the page is refreshed.

[2021-02-25 20:57] aliabbasmalik8 commented on #1549
@marcaaron

In `BaseModal` we have an issue while `unsubscribe`  `KeyboardShortcut` .
We can fix this by adding `componentWillUnmount` lifecycle and `unsubscribe` `KeyboardShortcut`  there.
Updated and working code

![image](https://user-images.githubusercontent.com/31027036/109216046-ec26a280-77ab-11eb-916c-859d3c3c242c.png)

[2021-02-25 21:12] SameeraMadushan commented on #1549
The problem is in BaseModal subscribe and unsubscribe happens without a lifecycle method.
It uses `onModalShow` and `onModalHide` to subscribe and unsubscribe.

Solution:
We will have to,

- remove `subscribe` from `onModalShow`
- remove `unsubscribe` from `onModalHide`
- add useEffect to subscribe and unsubscribe

[code]

Then this will work as expected.

[2021-02-25 22:41] marcaaron commented on #1498
Do we need to "get" the `unreadActionCount` I think it should just be attached to the `report` object?
![Screen Shot 2021-02-25 at 12 34 23 PM](https://user-images.githubusercontent.com/32969087/109228736-60d6ee00-7766-11eb-84f6-7baa86edc960.png)

🎉

I think `FlatList` having a dynamic height items could also make this difficult to do. But I would just try to see how far we can get and avoid anyth

[2021-02-25 22:49] marcaaron commented on #1549
Thanks for the solutions. @aliabbasmalik8 is closer since we should not subscribe in `componentDidMount()` or `useEffect()`  otherwise many similar event handlers would be set. So we will also need to convert `BaseModal` into a class component and use the `componentWillUnmount` lifecycle method. `useEffect` should not be used as we are avoiding hooks for now.

[2021-02-26 02:16] lucas-neuhaus-dev commented on #1498
Yeah, but we still have to write a little function to get it, since `ONYXKEYS.COLLECTION.REPORT` returns an array with all the reports. But the name is because I was actually returning this value from the function, but I am not anymore. I'll think of something better.
Below is how I extracted the `unreadActionCount`:

[code]

It does. I did some tests and it misses the action index by a decent mar

[2021-02-26 03:40] marcaaron commented on #1498
I have fallen down this rabbit hole before :) Be careful not to lose yourself in there.

[2021-02-26 15:34] laurenreidexpensify opened #1571 "Make desktop hot reload use a different port than web"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Problem**
We recently introduced a hotreload feature for the desktop platform. It works with webpack, and is hard-coded to listen on localhost:8080.

In most cases that works fine, but let's say you have some feature that's somehow differe

[2021-02-26 16:18] laurenreidexpensify commented on #1490
@marcaaron @roryabraham bump when you get a moment today thanks

[2021-02-26 17:09] parasharrajat commented on #1571
Hello Guys, I would to work on this feature as I have setup the Hot-reload for Desktop.
#### Terms
1. WDS - Webpack-dev-server.
1. Frontend - react app built with WDS

### Problem
1. We need WDS for building the Frontend of the app and then we have to use the exposed endpoint in the electron window to Enable the Hot-reload.
2. Now as the issue say the port could be busy with some another process a

[2021-02-26 17:16] anton-z2021 commented on #1520
@NicMendonca

I posted a solution I found and could see some comments.
Tried to find something different solutions but above one worked well and has proper technical reason or approach that I can't explain in a word.
Since it is RN based cross platform some functionalities could vary on mobile and web.
marc mentioned setTimeout might not be a reasonable way if we don't know why we should use it.
B

[2021-02-26 17:17] arielgreen commented on #1040
Thanks for the proposals! @SameeraMadushan, we'd like to move forward. Sending over an offer via Upwork now. Once you have accepted that, please proceed with your PR.

[2021-02-26 17:56] marcaaron commented on #1571
The `portfinder` solution seems pretty simple to me and also means we will not have to create a temporary file? Since it's only a dev dependency and some modifications to the start script. Any thoughts @roryabraham ?

[2021-02-26 18:04] marcaaron commented on #1490
LGTM. We can hash the rest out in reviews in any case.

[2021-02-26 18:07] roryabraham commented on #1571
Yeah, I agree solution 2 seems better.

[2021-02-26 18:18] SameeraMadushan commented on #1040
@arielgreen
Can you provide me the `.svg` image for the download icon? I found the attachment but it's in `.png` format.

[2021-02-26 18:21] marcaaron commented on #1040
cc @shawnborton if you are around to help us out with this :) 🙏

[2021-02-26 19:49] shawnborton commented on #1040
Here ya go: [download.svg.zip](https://github.com/Expensify/Expensify.cash/files/6052078/download.svg.zip)

[2021-02-26 20:53] roryabraham opened #1572 "[GH Actions] Update semantic versioning for Expensify.cash"
Upwork posting: https://www.upwork.com/jobs/~011cb60c9e032b2c3b

If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

# Problem
We use the following semver (semantic versioning) schema for Expensify.cash: `MAJOR.MINOR.PATCH-BUILD`. Right now, the [bumpVersion](https://github.com/Expensify/Expe

[2021-02-26 21:28] arielgreen opened #1575 "[GH Actions] Create the markPullRequestsAsDeployed action"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

# Problem
There is no obvious audit trail on Expensify.cash pull requests that show us whether they've been deployed.

# Why is this important?
Right now, this isn't a super critical issue because PRs are always deployed when they're merged.

[2021-02-26 21:38] arielgreen opened #1576 "[GH Actions] Create getPullRequestsMergedBetween function"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

# Problem
As part of our new Expensify.cash Deploy & QA process, we need a way to be able to figure out the set of PRs that moved the application from some older version to some newer version.

# Why is this important?
This operation has myr

[2021-02-26 21:48] arielgreen opened #1577 "Create a JS utility to generate a GitHub comparison URL"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

# Problem
As part of our new Expensify.cash Deploy & QA process, we'll need an easy way to view differences between versions. To do so, we'll generate links to a [GitHub comparison](https://docs.github.com/en/github/committing-changes-to-you

[2021-02-26 22:00] sagacity-developer commented on #1572
The versioning should be maintained some where in dynamo db table or in Json file, whenever new MAJOR, MINOR, PATCH, BUILD will come the key value mapping should done and updated accordingly. with the increment. Index reset  should be applied once it will reach to 999.

[2021-02-26 22:02] nik0811 commented on #1572
The versioning should be maintained some where in dynamo db table or in Json file, whenever new MAJOR, MINOR, PATCH, BUILD will come the key value mapping should done and updated accordingly. with the increment. Index reset should be applied once it will reach to 999.

[2021-02-26 22:12] roryabraham commented on #1572
@nik0811 Thanks for your input, but first let me explain how we currently manage versions in Expensify.cash. The please re-read the issue description and provide a more detailed proposal.

The version number is stored in [package.json](https://github.com/Expensify/Expensify.cash/blob/master/package.json#L3). We use a [Github Action](https://github.com/Expensify/Expensify.cash/blob/master/.github/a

[2021-02-26 22:24] nik0811 commented on #1572
Thanks for the update @roryabraham, I will look into it. Forking the repository for now.

[2021-02-26 23:12] aliabbasmalik8 commented on #1159
Hi, @laurenreidexpensify Hope you are doing well!
This issue still occurring and I posted in slack as well. Here is a video: https://recordit.co/hZE6vuEfnO
The solution to this issue is to update `onChange` in this file `src/components/AttachmentPicker/index.js`.
Just need to add  `e.target.value = '';` in `onChange` method like this way

![image](https://user-images.githubusercontent.com/31027036

[2021-02-27 07:26] Maftalion commented on #1492
Thanks @NikkiWines, I have two follow up questions:
1. The mockups above seem to use `AvatarWithIndicator`, should I be using that or just `Avatar` instead?
2. `That login will be used to get the associated personalDetail object for that user from the personalDetails onyx key`
I'm a little stuck on this but also not too familiar with Onyx, I'm doing `key: ONYXKEYS.PERSONAL_DETAILS` but I only get

[2021-02-27 09:07] SombreroElGringo commented on #1577
Hello,

I will proceed like this to resolve this problem:

- I will create a new method `generateVersionComparisonURL` In the class `GithubUtils`. This function will have the following parameters:
- - `repoSlug` the slug of the repository
- - `tag` the tag we want to compare with
`semverLevel `
 - - `semverLevel` will determine with which tag we should compare. Possible value are MAJOR, MINOR, PAT

[2021-02-27 11:42] SombreroElGringo commented on #1575
Hello,

My solution to this problem is:

- Create a action `markPullRequestsAsDeployed` whose takes the following inputs PR_LIST and IS_PRODUCTION_DEPLOY

- Then loop on the PR_LIST and use the function createComment to write if the PR has been deployed on staging or prod

[2021-02-27 14:22] SameeraMadushan commented on #1040
Hi @marcaaron
In Expensify web, Im getting cross-origin issue when opening a `.pdf` file.
Because the asset url is from expensify domain and my dev env is localhost.

Also I'm getting the same error when I try to download the file (images and pdf).
For the development purpose I used [cors-anywhere](https://cors-anywhere.herokuapp.com/) to by pass the cors.
Do you have any idea about this?

[2021-02-27 15:53] parasharrajat commented on #1040
@SameeraMadushan Look at #1509. It will help.

[2021-02-27 15:59] SameeraMadushan commented on #1040
@parasharrajat thanks. I'll check.😋

[2021-03-01 13:13] laurenreidexpensify commented on #1571
Sounds like we're good to go ahead with Solution 2 here Rajat 👍🏽

[2021-03-01 15:44] SameeraMadushan commented on #1513
Hi @tgolen

I have submitted a proposal on Upwork as well.

### Issue
Here the problem is in the Modal rendering.
After navigation changes to `search`, `new/chat`, or `new/group` it will load the modal.
When again come back to `/r/reportID` it will take milliseconds to render the animation.
In the mean time `componentDidMount()` in `TextInputFocusable` will execute and `this.focusInput()` will als

[2021-03-01 17:05] tgolen commented on #1513
Hi @SameeraMadushan,

Thanks for your proposal. I understand the `0` value for `setTimeout()` but I'd definitely like to avoid it if there is any way possible. Is it because of the animation happening that causes the issue? If the animation is disabled, does the issue go away? Is there any way to know when the animation is done so that we know it's safe to focus the input?

[2021-03-01 17:18] arielgreen commented on #1577
@SombreroElGringo, have you applied to the Upwork job as well?

[2021-03-01 17:18] arielgreen commented on #1575
@SombreroElGringo, have you applied to the Upwork job as well?

[2021-03-01 17:48] NikkiWines commented on #1492
Hi @Maftalion, to answer your questions

Good catch! I don't believe we have a way to identify if other users are online/offline yet, so let's just use Avatar for now.

The `PERSONAL_DETAILS` onyx key contains the details of anyone who is on your policies, owns your policies, or belongs to the domain you're on in Expensify.com. They show up if they've modified their personal details in some way. I

[2021-03-01 18:07] aliabbasmalik8 commented on #1520
@NicMendonca
With my provided solution https://github.com/Expensify/Expensify.cash/issues/1520#issuecomment-782348615
issue fixed according to the requirements.

Here is screen recording

https://user-images.githubusercontent.com/31027036/109539204-f2bd5e80-7ab8-11eb-88b8-116a574fa5af.mov

Please have a look.
Thanks

[2021-03-01 20:01] tugbadogan commented on #1576
Hi @arielgreen

I would like to work on this issue. Here is my proposal:

- I'm planning to create `getPullRequestsMergedBetween` function that will take 2  git refs as parameters in `GithubUtils` class.
- I will execute `git log --format="%s" ${FROM_REF}...${TO_REF}` command via `exec` function like this
https://github.com/Expensify/Expensify.cash/blob/0421229ce750290d181c2e150cf97a2640c59c37/.gi

[2021-03-01 20:12] SameeraMadushan commented on #1513
@tgolen Yes.
In the `react-native-modal` we have `isVisible` prop.
When we are using that it will work together with animation props. (`animationIn`, `animationOut`)

### Fix
If I render `RightDockedModal` without `isVisible` then the Text input focus works fine. (check the image)

![image](https://user-images.githubusercontent.com/18027269/109552956-6f236200-7af8-11eb-91e0-fee7cf4f1c66.png)

If w

[2021-03-01 20:37] roryabraham commented on #1576
@tugbadogan Your proposal looks good. My only comment is that I'd like to see automated unit tests for some of the code (at least for the regex).

This is a _great_ question. This function will be called from the context of a [Javascript Github Action](https://docs.github.com/en/actions/creating-actions/creating-a-javascript-action). Because this code will be executed in a remote Github Actions Ru

[2021-03-01 20:41] roryabraham commented on #1576
Oh, and I'm also in the process of promisifying our `exec` calls, so you should actually use `exec` like this:

[code]

Also note that we don't use `async/await` anywhere in our JS code to maintain consistency.

[2021-03-01 21:14] arielgreen commented on #1576
@tugbadogan I sent over an offer via Upwork. Once you accept that, I'll assign you the issue and you are good to proceed with your PR.

[2021-03-01 22:28] SombreroElGringo commented on #1577
@arielgreen yes I applied the Upwork job as well. Name is Marc P.

[2021-03-01 22:33] SombreroElGringo commented on #1575
@arielgreen for this one I need 2 more `connect` before be able to apply on Upwork. Once I got the ˋ4 connects` I will apply on Upwork for this one too.

[2021-03-01 23:12] tgolen commented on #1513
Great, thanks for the info. `animationOut` would be great to use. Let's go with that!

[2021-03-01 23:19] tugbadogan commented on #1576
I think unit tests are in `__tests__` directory. Sure, I can add unit test for this function.
https://github.com/tugbadogan/expensify-common/tree/master/__tests__

Yes that's helpful. I also want to ask is there an easy way to test this function from `Github Action`?

OK. No problem. So my function will return a `promise`, right?

[2021-03-02 00:14] aliabbasmalik8 commented on #1513
@tgolen
if we clicked the currently active user from modal then the component did not rerender so in this case, we need to handle isFocused in componentDidUpdate lifecycle, and in this case, `animationOut` also worked
[code]

But when we clicked some other user rather than an active user that case we can handle `isFocused`  with settimeout or with conditional modal render but in both way, `animati

[2021-03-02 00:41] Maftalion commented on #1492
@NikkiWines Hey, thanks for answering my questions but this creates a few more questions on my end:

1. I'm trying to create another user but it fails for me when adding my github user, can we only have one account per gh username?
2. Initially I set up the route to be `'/profile/:login` and planned to use the login from there to filter down the `PERSONAL_DETAILS`. It sounds like instead I can jus

[2021-03-02 00:49] NikkiWines commented on #1492
Hey Matt,

You should only need to create the user on Expensify.com not on Expensify.cash

Just to be extra clear are you asking
a. If we can forgo using `PERSONAL_DETAILS` because we can get the participant name and icon from `COLLECTION.REPORT}${currentlyViewedReportID}`
b. If we can forgo appending `:login` to the route because we can just pass the participant name and icon as props and display

[2021-03-02 00:56] Maftalion commented on #1492
Thanks! I was totally using Expensify.cash, but it worked when using Expensify.com.

Mostly B I think haha.

Basically I think since we can get the report from the code i posted above, it's no longer necessary to pass login through the route itself (it also made me have to make some changes to the right docked modal bc it didn't support dynamic paths).

We would still need `PERSONAL_DETAILS` to ge

[2021-03-02 01:00] Maftalion commented on #1492
the other two options would be:

1. don't grab the report from onyx and instead pass both login & avatar when routing. maybe something like `/profile/:login?avatar=...` but i havent seen any params being passed elsewhere in the app so would have to test this.
2. continue to use `/profile/:login` but ignore login from the route and just grab it from the report instead

[2021-03-02 01:31] NikkiWines commented on #1492
Ah, I see what you're saying. Since we have to click on the avatar of a currently viewed chat to open the `profile` modal we can use `currentlyViewedReportID` instead of explicitly passing the login. Nice, that sounds great to me, and it keeps things a little simpler which is always good.

Yes exactly. I was hoping you weren't asking option A.

wrt your other three options, I think your original s

[2021-03-02 01:56] roryabraham commented on #1576
Yep, that's correct.

Yes, you should be able to test this from a Github Action by creating a test workflow that checks out the `expensify-common` repo w/ the commit ref you want to test. From there, you can run your function using a simple node script and we can see if it works as expected. I can help you with that when you're ready, but the test workflow might look something like this: https://g

[2021-03-02 04:27] kadiealexander commented on #1513
@aliabbasmalik8 thank you for this proposal! We would like to proceed with this as a fix. I have sent the contract in Upwork for you to get started. 😊

[2021-03-02 04:29] kadiealexander commented on #1500
@aliabbasmalik8 Hey! Thanks for sharing this fix. My colleague wanted to confirm if this will also fix the issue for Android, as we discovered the issue exists here too. Thanks in advance!

[2021-03-02 04:37] kadiealexander opened #1594 "[Improvement] Have the return key send a message on iPad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

Hi team! We are looking to make an improvement to the app on iPad (but not iPhones) where the keyboard will send a message when the enter/return key is pressed, and enter a linebreak when using Shift+Enter.

**Platform - version:**  iOS - Sp

[2021-03-02 04:46] kadiealexander commented on #1594
Upwork post: https://www.upwork.com/jobs/~01d004351c8cf67b28

[2021-03-02 05:47] Maftalion commented on #1493
Hello,
I'd like to take this if it's still available.

**Proposal**

- I would first create a new Cell component that takes `icon` `title` and `showRightArrow` props to be reusable across the app.
- Then I would add Profile, Preferences, Change Password, and Payments Cells to the SettingsPage.

This is where it gets a bit tricky....from what I've tested there's currently no way to go from RightDoc

[2021-03-02 12:00] SameeraMadushan commented on #1513
`isFocused` state only used to change the style of the text input.
Not to focus the Text Input. :)

[2021-03-02 12:18] FredericoGauz commented on #1577
Hi,

I will create a new class (since I could not find a GithubUtils in expensify-common) with the method generateVersionComparisonURL requested and also (already created) helper methods to make this function slim and easy to test.

I am currently directly querying the data via Postman and manually tweaking it to have a greater range of version numbers but later can adapt to use 'octokit'.

This i

[2021-03-02 12:55] FredericoGauz commented on #1572
Hi @roryabraham ,

I will extract the logic of the "bumping" out of the main function just to make things cleaner and easier to test.

I will simply increase the required level and then check if new number reaches 1000 if so increase the next one accordingly until the MAJOR since it should never get that high! =)

After this done it will be a matter of updating the `newBuildNumber` and running the

[2021-03-02 14:44] tgolen commented on #1513
Hi, thank you for explaining that second case. I think I understand it.

I like the idea for adding a modal state into Onyx, something like `isModalShown`.
- Whenever `animationIn` is triggered, `isModalShown = true`
- Whenever `animationOut` is triggered, `isModalShown = false`
- Whenever `isModalShown` goes from `true` to `false`, then the chat input receives focus (this would be handled in `com

[2021-03-02 14:51] aliabbasmalik8 commented on #1513
@tgolen
Yes, Sure will do accordingly

[2021-03-02 16:34] AliYar-Khan commented on #1594
We just need to set two properties for TextInput component ant those are multi line and blur on submit. After that we have to pass the onKeyPress function which will be a native Event call. That will send the message. This solution should work on both iOS and Android.

TextInputChanges will be

-  <TextInput
                value={message}
                onChangeText={this.onMessageInputChange}

[2021-03-02 16:59] roryabraham commented on #1572
@FredericoGauz Your proposal looks good! You'll need to also ensure that you update the [action metadata file](https://github.com/Expensify/Expensify.cash/blob/master/.github/actions/bumpVersion/action.yml) to take in a `SEMVER_LEVEL` as input and output the new version (after it has been successfully created). You can interface with the Github Action data (inputs and outputs) using the `@actions/

[2021-03-02 17:00] SameeraMadushan commented on #1594
Hi,
Did some research on this and found,
In react native there's no way to capture `shift` button event.
So in that case,
If we want to submit on return key press we can have,

[code]

props only for iPad. (we can check iPad with `Platform.isPad` on iOS) [https://reactnative.dev/docs/platform#ispad-ios](https://reactnative.dev/docs/platform#ispad-ios)

Cons: iPad won't be able to submit multiline

[2021-03-02 17:21] #1011 closed

[2021-03-02 17:24] FredericoGauz commented on #1572
@roryabraham  That's great, I will start working on it right now!

OK, I will do that and build the index.js with `ncc `as well =)

[2021-03-02 18:46] mikeattara commented on #1575
**My proposed solution**l:
Check if each pull request is merged to the master or staging branch based on the IS_PRODUCTION_DEPLOY value and write the comment on the issue stating where it has been deployed.

[2021-03-02 18:52] #1549 closed

[2021-03-02 21:06] roryabraham commented on #1575
@mikeattara Your proposal looks good. I'd like to see automated unit tests of the comments, too.

[2021-03-02 21:24] roryabraham commented on #1577
@SombreroElGringo Your proposal [here](https://github.com/Expensify/Expensify.cash/issues/1577#issuecomment-787040997) looks good. Just a few comments:

You should use the [semver library](https://github.com/npm/node-semver#readme) to accomplish this instead of writing your own regexes.

Also, your examples aren't exactly correct. It should provide a comparison between the highest version of the p

[2021-03-02 22:08] Jag96 commented on #1452
Added a comment on [the linked PR](https://github.com/Expensify/Expensify.cash/pull/1553#issuecomment-789253972) regarding a bug, reopening this

[2021-03-02 22:34] roryabraham commented on #1577
Whatever the case, a very comprehensive set of automated tests will be the key to success here 👍

[2021-03-02 23:00] SombreroElGringo commented on #1577
@roryabraham thank you for the clarification.

Ok I will use the package `semver` for get the `comparison between the version passed as a parameter, and the highest version of the previous SEMVER_LEVEL version`.

Yeah, sure a good range of tests is mandatory for this test.

[2021-03-02 23:01] sadez commented on #1594
Hi,

Submitting input with Enter key can be easily done with `e.nativeEvent.key === 'Enter'` and something like that in `ReportActionCompose.js`
![image](https://user-images.githubusercontent.com/8754816/109726154-7c048c00-7bb2-11eb-8277-6c7f3f7218dd.png)

We can also add a condition to verify if it's an iPad with `Platform`, but the difficulty is to handle the Shift+Enter to create new line, sinc

[2021-03-02 23:28] #1542 closed

[2021-03-02 23:48] arielgreen commented on #1577
@SombreroElGringo I just sent over the offer via Upwork.

[2021-03-03 00:34] #1571 closed

[2021-03-03 02:32] NikkiWines commented on #1493
Hey Matt,

This is indeed still available. A couple of notes on your proposal

This is a good thought and one we had ourselves as well.  We are considering implementing react-navigation but didn't want to hold this project on the outcome of that discussion.

This is the implementation we had in mind for this issue. As you said, the idea is the new 'pages' are views inside the right-docked Settings

[2021-03-03 09:05] tugbadogan commented on #1576
Thanks @roryabraham that's very helpful! I'll send the PR soon.

[2021-03-03 10:32] laurenreidexpensify commented on #1490
hi @parasharrajat is there a PR for this one yet?

[2021-03-03 10:52] laurenreidexpensify opened #1609 "[Chat] / Chrome fails to "Ask" for notification privileges"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  v1.0.1-488 web on Chrome

**Action Performed (reproducible steps):**

- Navigate to https://expensify.cash/#/signin on web on Chrome browser
- Click into the padlock in the URL bar and set notifications to `default`

[2021-03-03 11:44] parasharrajat commented on #1490
Soon, I will add one. @laurenreidexpensify

[2021-03-03 16:12] #1040 closed

[2021-03-03 16:53] SameeraMadushan commented on #1609
Hi,

Here is the solution.

In SignInRedirect.js we have to keep current activeClients value remain when user logs out from the system.

In SignIn Redirect.js we can get active clients with this,
[code]

then In redirectToSignIn method, we can set active clients after clearing the onyx storage.
[code]

[2021-03-03 17:49] SameeraMadushan commented on #1520
@anton-z2021  The reason is text input will try to focus before the modal close.
The problem is with modal animation time. That's why setTimeout works.
Check this issue https://github.com/Expensify/Expensify.cash/issues/1513#issuecomment-788047492

[2021-03-03 18:49] anton-z2021 commented on #1520
@SameeraMadushan
Yeah I have already posted this on slack channel.
Thank you for your advice anyway!

[2021-03-03 18:50] anton-z2021 commented on #1520
@NicMendonca

I couldn't hear anymore comment about my solution posted on the thread.
May I make a PR using this one?

[2021-03-03 19:32] FredericoGauz commented on #1572
Hi @roryabraham I hope you are having a good day. I made a pull request with the changes required. It took a little longer because it is my first work with you and as it seem to be an important issue for your team I made lots for test in my forked (and before on my cloned) repository to make sure it would work as expected.

It took a little bit of time to get used to some details of the project. I

[2021-03-03 19:43] arielgreen opened #1614 "Chat avatar does not update on historical messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version**:
Desktop - Version 1.0.1-463 (1.0.1-463)
**Action Performed (reproducible steps)**:
User changed avatar image > sent chat. To reproduce this, we can have someone change their avatar > send a chat and see if the existin

[2021-03-03 20:24] Oleksiy-Titarenko commented on #1614
I just sent the application on upwork. please allocate this issue to me

[2021-03-03 20:25] Oleksiy-Titarenko commented on #1614
I will solve this issue perfectly.

[2021-03-03 20:32] arielgreen commented on #1614
@Oleksiy-Titarenko Per the instructions, please post your proposal for fixing the issue here.

[2021-03-03 20:33] Oleksiy-Titarenko commented on #1614
thanks. let's chat on upwork

[2021-03-03 20:39] Oleksiy-Titarenko commented on #1614
maybe image can load from the redux. then you should update the image information in the redux after updating.
Another issue can cache issue. anyway I can know the correct reason after checking the code.

[2021-03-03 20:56] hassaantahir commented on #1614
This is an architectural issue on the front-end side. There should be a single component i.e., TextMessage, which should load a profile picture from a single source (coming from the backend and stored in redux store) every time when a text message renders on the screen. So when you'll change your profile picture, at the time of API call immediately change your profile picture on the redux store as

[2021-03-03 21:58] andbilous commented on #1614
Hello !
My suggestions to resolve issue :
 - debug SidebarScreen, Settings page and AvatarWithIndicator component where items are fetched
 - possible server fix
 This issue is related to refetching.
Other details can be resolved with communication with your team.

[2021-03-03 22:07] Maftalion commented on #1493
@NikkiWines hey, looks like this is on the settings page. I'm assuming this would live under `Preferences`, want me to move it into that subroute?
<img width="494" alt="Screen Shot 2021-03-03 at 2 04 07 PM" src="https://user-images.githubusercontent.com/12075600/109878722-7dbd6680-7c29-11eb-9dcb-2dee3cd8b8f2.png">

Also, lemme know if you want the right arrow visible on this menu as well or if I s

[2021-03-03 22:42] anthony-hull commented on #1614
When you update your avatar, only the latest report action gets the new avatar URL. When you look at the actions in localStorage you can see the old avatar URLs against the previous actions for the active report. When you update a URL in this object directly in the local storage it updates in the chat. When an action such as a comment is created and sent by the user after changing their avatar, th

[2021-03-03 23:14] anthony-hull commented on #1614
Actually I have a better idea of subscribing to the MY_PERSONAL_DETAILS via ONYX via something like this:
`
Onyx.connect({
    key: ONYXKEYS.MY_PERSONAL_DETAILS,
    callback: myUpdateReportActionsFunction,
});
`

[2021-03-03 23:15] NikkiWines commented on #1493
Hey @Maftalion

Yes feel free to move that there.

Let's leave it as is for now!!

[2021-03-03 23:52] anthony-hull commented on #1614
Actually it looks like the PERSONAL_DETAILS is not being kept up to date by ONYX. So that callback doesn't get fired after sending a new report action.
I would dig around more in the logic of how that report gets the new avatar. I suspect it's because when it send the action to the server, the app gets that report back from pusher and replaces this optimistically added report.
In that logic of the

[2021-03-04 08:17] minbaghdasaryan commented on #1476
Hi @laurenreidexpensify
I tried many changes to fix issue, but unfortunately I didn't fixed it correctly.

[2021-03-04 10:29] mikeattara commented on #1575
__Progress Update__
 - setup project following the contributor guidelines
 -  install octokit
 - create action metadata file

[2021-03-04 10:34] mikeattara commented on #1575
__Question__
Do I check if the pull request is merged to master when the IS_PRODUCTION_DEPLOY is true and staging if it is false?

[2021-03-04 13:54] laurenreidexpensify commented on #1476
@minbaghdasaryan does this mean you'd like to stop working on the proposal? let us know, we can end the contract in Upwork with 50% payment for your work to date. Thanks!

[2021-03-04 14:06] minbaghdasaryan commented on #1476
Yes. I want to stop the work. I can refund the amount that you want. But please give me perfect feedback for both private/public feedback? I will do also. If you give me bad feedback, I will lose Top Rated badge on upwork.

[2021-03-04 14:39] parasharrajat commented on #1490
Few Questions:
1. How do we need to show the Logins in the Group DMs in LHN.
![Screenshot_20210304_200601](https://user-images.githubusercontent.com/24370807/109980019-7d09fa80-7d25-11eb-9c67-0d0d606cd314.png)

[2021-03-04 14:48] minbaghdasaryan commented on #1476
Could you pay full amount and end the contract perfectly? I will send you 50% personally via paypal or payoneer in friend mode.

[2021-03-04 15:12] laurenreidexpensify commented on #1490
@trjExpensify @shawnborton

[2021-03-04 15:32] laurenreidexpensify commented on #1609
@tylerkaraszewski @marcaaron @tgolen any comments on @SameeraMadushan's proposal above?

[2021-03-04 15:35] minbaghdasaryan commented on #1476
Hi @laurenreidexpensify
I see you only give me 4 stars on upwork :(
Could you help me change the feedback please? Please give me 5 stars if possible.
I already refund the money.

[2021-03-04 15:39] trjExpensify commented on #1490
👋

- We should show the primaryLogin of the user in the Group DM you're hovering over

- In the case where there are many participants and so truncated with the `...` ellipsis, when hovering over that ellipsis, we should show a list of all the participants of the Group DM.

[2021-03-04 15:45] tylerkaraszewski commented on #1609
I don't have enough background to know if this works, deferring to @tgolen and @marcaaron.

[2021-03-04 15:52] laurenreidexpensify commented on #1476
@minbaghdasaryan Thank you for your help in attempting to fix this bug. Unfortunately, as we discussed you haven't been able to deliver the final solution, but in respect of the time you did give to the project and your communication when you were no longer able to complete this, we've issued 50% payment for the contract in Upwork. As a policy, we do not discuss Upwork ratings, if you have any iss

[2021-03-04 15:52] #1476 closed

[2021-03-04 15:56] minbaghdasaryan commented on #1476
Thanks @laurenreidexpensify
I approved the refund request already. But the review is very important for me to get new jobs, and I want to cry at the moment. Please help me to change the review?

[2021-03-04 16:16] michaelhaxhiu opened #1633 "Badge notifications aren't showing when you receive a DM"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Upwork job post**: https://www.upwork.com/jobs/~0173c5a0ef096b60cc

**Platform - version:**
- iOS and Android, all versions
- Tested most recently on Expensify.cash app `V 1.0.1 (465)`

**Action Performed (reproducible steps):**

1. First,

[2021-03-04 17:00] parasharrajat commented on #1490
@trjExpensify Thanks. But let me be clear so that we are on the same page.

primaryLogin => Email and not the Report Title.

So
1. Show the tooltip for the single user Chats while hovering the title.
2. Show the tooltip on the Ellipse for Group chats only if the text is truncated.
3. Show the Tooltip with Points 1 and 2 on the search Page.
4. Show the Tooltip with Points 1 and 2 on the Report Head

[2021-03-04 17:06] michaelhaxhiu commented on #1633
Upwork job post - https://www.upwork.com/jobs/~0173c5a0ef096b60cc

[2021-03-04 17:09] tgolen commented on #1609
@SameeraMadushan I am a little bit confused about your proposal. I see both `activeClients2` and `activeClients`, but I think they should all be references to `activeClients2`, is that correct?

I think overall it's a pretty good and simple solution.

I think another possible solution would be to specify a list of keys that _should not_ be cleared out when `Onyx.clear()` is called. These keys coul

[2021-03-04 17:25] roryabraham commented on #1575
No, you shouldn't need to check anything. This action should really be pretty simple ... given these two inputs:

1) `PR_LIST`
2) `IS_PRODUCTION_DEPLOY`

Then it should _always_ comment on every PR in the list.
If `IS_PRODUCTION_DEPLOY`, the comment should be "Deployed to production on `DATE` at `TIME`"
Else, the comment should be "Deployed to staging on `DATE` at `TIME`"

Does that make sense?

[2021-03-04 17:27] roryabraham commented on #1575
From your proposal:

That wasn't 100% correct. The action should just trust its `IS_PRODUCTION_DEPLOY` input as the thing that determines if the PR was deployed to staging vs production. No need to deal with `git` or branches at all.

[2021-03-04 17:34] parasharrajat commented on #1633
## Proposal
So we can use two small packages `react-native-android-badge` and `react-native-notification-badge` which will help us show the Badges on Android and IOS.

Now using the API from

https://github.com/Expensify/Expensify.cash/blob/c41b439d3ec1ef4864e01904c87ca3f41f875141/src/libs/Notification/PushNotification/index.native.js#L146-L150

We can hook the setting of the badge and show the ba

[2021-03-04 17:36] SameeraMadushan commented on #1609
@tgolen Thanks.
`activeClients2` will be initiate when the first time user loads the page or on a refresh of the page.
When I access `activeClients2` after **clearing the Onyx**, then it will be empty. Because It's pass by reference.
That's why I have to define a new const name as `activeClients` and get the previous value.

[2021-03-04 18:07] AndrewGable commented on #1633
I'd be curious if we can solve this without adding a new library and using Urban Airship? https://github.com/urbanairship/react-native-module

[2021-03-04 18:24] parasharrajat commented on #1633
@AndrewGable  Ah yeah I missed that initially docs are really not helpful.

https://github.com/urbanairship/react-native-module/blob/4f31780b11c3a33775a54de3ab1a65ff753e8548/urbanairship-react-native/js/UrbanAirship.ts#L680-L699

says we can use the same for IOS but we still need external lib for Android.

[2021-03-04 18:30] AndrewGable commented on #1633
Can you please provide an example of the Android badge? The library you mentioned seems to be a wrapper of this library: https://github.com/leolin310148/ShortcutBadger - Which looks quite old and I am not sure it's supported by Android by default, maybe only custom launchers?

@michaelhaxhiu - Can you please double check we want this and it exists for Android?

[2021-03-04 18:44] parasharrajat commented on #1633
Android does not really have this kind of feature. It recently added only dots and you are correct that lib is really old there are fewer chances that would be helpful.

[2021-03-04 20:18] tgolen commented on #1609
OK, thanks for explaining. I think we'll need to work on the naming convention a little bit, but the proposal makes more sense now.

Seems it's related to the expensify/react-native-onyx library improvement.

That's correct. You'd need to implement a change in that library first and then update the version of `react-native-onyx` in this repo. Still curious for @marcaaron to chime in about that tho

[2021-03-04 20:31] trjExpensify commented on #1490
That's almost it! In addition to showing the full list of participants on a Group DM when hovering over an `...` - we were also looking to achieve the following for Group DMs in the LHN:

![image](https://user-images.githubusercontent.com/16232057/110022553-f6085280-7d23-11eb-8535-e70a4a253484.png)

![image](https://user-images.githubusercontent.com/16232057/110026075-1a662e00-7d28-11eb-8f7c-75cdc

[2021-03-04 20:35] SameeraMadushan commented on #1609
@tgolen Yes, I will change the convention. 😅
Let's get Marc's thoughts as well then. 😃

[2021-03-04 21:11] arielgreen opened #1639 "[TEST] Post new jobs in Expensify/Expensify.cash to #expensify-contributors"

[2021-03-04 21:15] arielgreen commented on #1639
Beautiful:

![image](https://user-images.githubusercontent.com/37308300/110031382-d6adfd00-7d04-11eb-9982-d24c93f012e1.png)

[2021-03-04 21:15] #1639 closed

[2021-03-04 21:22] parasharrajat commented on #1490
Yup, it is.

[2021-03-04 21:29] iwiznia commented on #1498
I noticed that in some cases (sorry, I have no idea how to reproduce) the app is showing the green unread line for message I sent myself (in the same browser window), which should never happen:
![image](https://user-images.githubusercontent.com/521248/110032812-e21b1b80-7d38-11eb-81da-bb0768d069c5.png)

@lucas-neuhaus-dev seems like a bug in the implementation, can you take a look please?

[2021-03-04 21:37] michaelhaxhiu commented on #1633
@parasharrajat @AndrewGable good catch!

Let's go with a slightly different solution implementation for **Android** in that case.

Can we show a badge notification that is simply a dot? These are also called "[dot notifications](https://developer.android.com/training/notify-user/badges)" on Android. It is a similar concept to the iOS solution, but we don't need to quantify the number of notificati

[2021-03-04 21:40] michaelhaxhiu commented on #1633
Changing my comment, one moment.

[2021-03-04 21:50] lucas-neuhaus-dev commented on #1498
Hi @iwiznia, I can already imagine what caused this, my bad.

I'll take a look at this in just a few minutes and open a new PR once I got a solution. Thanks for pointing that out.

[2021-03-04 21:55] iwiznia commented on #1498
Awesome, thanks for the fast response!

[2021-03-04 22:06] trjExpensify commented on #1490
Awesome, thanks!

[2021-03-04 22:13] michaelhaxhiu commented on #1633
@parasharrajat Good catch!

Android has a similar notification feature actually, but it's not shown the exact same way as iOS (apparently you can see the number of notifications in the[ long-press](https://developer.android.com/training/notify-user/badges) menu on Android). But we haven't implemented that yet, so let's do this instead:

- For the Android solution, let's make sure that the _badge n

[2021-03-04 22:44] lucas-neuhaus-dev commented on #1498
I was able to reproduce it when:
- Open a report with unread messages;
- Answer something before the indicator finishes fading out;
- The indicator "jumps" to the next message for every new message sent in this timestamp;

Hopefully that is the only edge case, if you think what you are facing is a different issue, please let me know.

[2021-03-04 22:57] iwiznia commented on #1498
I think it is a different issue, since I had not sent any new messages, but let's fix the issue you found and se how that goes.

[2021-03-05 00:55] NicMendonca opened #1645 "[Chat] - Priority Mode dropdown arrow isn't responsive"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform:**
Build: 1.0.1-481
OS and browser used: Windows 10 / Chrome

**Action Performed:**
1. Go to https://chat.expensify.com and login with your account
2. Click on the profile icon > Priority Mode
3. Click the dropdown arrow under on

[2021-03-05 02:15] Maftalion commented on #1645
Hello, I'd like to take this on and already have a working solution.

All we need to do is add `pointerEvents: 'none'` to the iconContainer style here:
https://github.com/Expensify/Expensify.cash/blob/7051c27056355f802400080e794a7330ad9191b7/src/styles/styles.js#L208-L210

Tested on all platforms but here's a screencapture on web:

https://user-images.githubusercontent.com/12075600/110057432-6e1b4

[2021-03-05 02:35] Coala1010 commented on #1645
Hello
It needs to get ref of the dropdown list

[2021-03-05 02:35] Coala1010 commented on #1645
By using the ref of the dropdown, it can control the dropdown to open or close

[2021-03-05 10:40] aliabbasmalik8 commented on #1500
@kadiealexander  I tested it on all platforms and it's working well and also attached a screenshot for the android platform.
Please let me know the device name if you still face this issue
Thanks

![image](https://user-images.githubusercontent.com/31027036/110104168-b6cb1780-7d9e-11eb-842a-69ae4c89a7c7.png)

[2021-03-05 11:35] mikeattara commented on #1575
__Status Update__:
- Making a new pull request

[2021-03-05 16:23] #1575 closed

[2021-03-05 16:32] roryabraham commented on #1614
@anthony-hull Your proposal looks good. I think you would just need to update this [setAvatar](https://github.com/Expensify/Expensify.cash/blob/dbb3ad0878a3dd66a25d40fd50fc1fd70968dad1/src/libs/actions/PersonalDetails.js#L220) function to optimistically update the `MY_PERSONAL_DETAILS` Onyx key. Then you would be able to do what you suggested earlier:

`Onyx.connect({ key: ONYXKEYS.MY_PERSONAL_DET

[2021-03-05 16:54] roryabraham commented on #1577
PR was missing the proper keyword to close this issue on merge. Manually closing...

[2021-03-05 16:54] #1577 closed

[2021-03-05 16:59] roryabraham commented on #1576
@tugbadogan Any update here?

Also, please note that we can't use `async`/`await` _anywhere_ in our Javascript code. You _must_ use promises instead. Thanks!

[2021-03-05 19:38] parasharrajat commented on #1490
@marcaaron
So, I have tried two ways to show the user's name tooltip on the Report Title but both of them have their limitations.
First:
[code]
 Second:
[code]
 The first one shows a separate tooltip for each name but we have to put `display: inline` to the containers added by tooltip for the ellipsis to be shown. On the other hand, the second one has one tooltip whose text change based on the use

[2021-03-05 22:07] lucas-neuhaus-dev commented on #1498
Just an update. I started a full-time job yesterday, so I didn't really have time to work on this.
But I promise I will do my best to get everything fixed this weekend and keep working on the following reviews. :+1:
I apologize for this.

[2021-03-06 01:10] roryabraham commented on #1490
So just so I understand the effect of each of these approaches:

1) The Tooltip appears left-aligned with individual words, rather than centered in the middle of the word.
2) The Tooltip is centered on the full title, but does not move to be centered on individual words.

Is that correct?

Have you dug into why this is true? Would it be possible to create a `Text` wrapper that supports `numberOfLi

[2021-03-06 08:26] parasharrajat commented on #1490
Thanks for the article, I am going dig more on it.

[2021-03-06 16:53] tugbadogan commented on #1576
HI @roryabraham , I implemented the function and submitted the PR. I tried to test it with GitHub Actions as you recommended, however it didn't work for some reason.

https://github.com/tugbadogan/expensify-common/runs/2046888897

I'm getting the following exception when the function is executed.
[code]

Do you know why it works locally, but it doesn't work in GitHub Actions context?

[2021-03-07 05:52] roryabraham commented on #1576
Hi @tugbadogan, thanks for submitting that PR. From what I understand, that error basically means that one or both of the commit hashes you used in the `git log` command doesn't exist. I think the reason you're seeing that error is because the Github Runner (the cloud-hosted machine that executes your Github Action) doesn't have the complete Git history. If memory serves, `actions/checkout` only c

[2021-03-07 19:31] tugbadogan commented on #1576
Hi @roryabraham, yes that solved the problem. Thanks!

The output of sample GitHub Action that uses this module:
https://github.com/tugbadogan/expensify-common/pull/8/checks?check_run_id=2051334450

Here's the latest version of manual testing script and GitHub action
https://github.com/tugbadogan/expensify-common/blob/master/testGitUtils.js
https://github.com/tugbadogan/expensify-common/blob/maste

[2021-03-07 20:46] puneetlath opened #1653 "Link to terms of service and privacy policy"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

1. **Add the following text to the bottom of the E.cash sign-in page:**

Mobile/Desktop App:
"By logging in, you agree to our [terms of service](https://use.expensify.com/terms) and [privacy policy](https://use.expensify.com/privacy)."

Web/

[2021-03-08 03:41] jasperhuangg opened #1655 "[HOLD] Back button on Android devices while in chat screen exits application instead of navigating back to the chat list"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
Android - all versions

**Action Performed (reproducible steps):**
1. Open a chat.
2. Use the back button (or the swipe from edge gesture if you have it set up).

**Expected Result:**
It should navigate back to the Ch

[2021-03-08 13:09] michaelhaxhiu commented on #1633
@parasharrajat did you want to update your solution proposal given my last comment? Just want to make sure we are understanding the full plan.

[2021-03-08 13:22] laurenreidexpensify opened #1656 "Markdown link eats end parenthesis"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  All - reproducible on v1.0.1-439

**Action Performed (reproducible steps):**
- Log into https://expensify.cash/
- Start chatting with another user
- Send a message in parenthesis with a hyperlink in markdown that has

[2021-03-08 14:48] aliabbasmalik8 commented on #1656
Hi @laurenreidexpensify
We need to update `URL_PATH_REGEX` in `expensify-common/lib/ExpensiMark` .
and updated `URL_PATH_REGEX` will look like this
[code]
Here is screen recoding with updated regex
https://recordit.co/NNWAxPWz0R

NOTE: `expensify-common` is an npm package and we need to fix this regex in that package.

Thanks

[2021-03-08 16:48] mikeattara commented on #1575
@arielgreen the PR has been merged

[2021-03-08 17:22] marcaaron commented on #1609
I think this could be a good future improvement, but not necessarily something we need right now. Looking at the cases where we want to save some data after an `Onyx.clear()` and most of them are conditional anyway. _If_ we have an error, _if_ we have a reportID then persist after the clear etc.

https://github.com/Expensify/Expensify.cash/blob/c3a6aa86d34404599f5239a1dbd84f96505f0e30/src/libs/act

[2021-03-08 17:43] michaelhaxhiu commented on #1633
https://docs.airship.com/whats-new/2017-06-21-android-o/

I think Airship should support this too. @parasharrajat Can you please review the link above, and let me know if you think it's something you can accomplish? If so, please update your solution proposal to include a plan for Android notification dots.

[2021-03-08 17:49] roryabraham commented on #1576
Okay, thanks for the updated code, testing, and heads-up about the required node version. Looks good, PR is merged!

[2021-03-08 17:55] tgolen commented on #1609
Cool, thanks Marc. I am fine with that. Let's just use the local variable route to reset the Onyx value after `clear()` then.

[2021-03-08 17:56] laurenreidexpensify commented on #1656
cc @deetergp you were familiar with this issue

[2021-03-08 18:07] parasharrajat commented on #1633
@michaelhaxhiu. Ah.. Yeah, it is there. I am currently trying to get a push notification on my Android phone. I will update after some time. Thanks.

[2021-03-08 18:25] michaelhaxhiu commented on #1633
Sounds good @parasharrajat. We'll wait for your follow up here!

[2021-03-08 19:26] bfitzexpensify opened #1661 "Make entire LHN row clickable"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
Web/Desktop - v1.0.1-454

**Action Performed (reproducible steps):**

- Place your mouse on a given row in the LHN
- Move your mouse over different parts of the row
- Notice that sometimes the mouse is a cursor (meani

[2021-03-08 20:03] arielgreen opened #1663 "[GH Actions] Create the getReleasePullRequestList Action"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

# Problem
When a production deploy completes, we need a way to gather all the PRs for that release. That way, we can comment in each that it's been deployed to production.

# Why is this important?
We need a clear audit trail of which PRs ar

[2021-03-08 20:04] bfitzexpensify opened #1664 "Create an Update button in the app's top-bar menu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
Web/Desktop - v1.0.1-454

**Action Performed (reproducible steps):**
- In Expensify/Expensify.cash#1318 we updated the desktop update paradigm. When an update is available, a notification appears (as before). Except n

[2021-03-08 20:15] shawnborton commented on #1664
@bfitzexpensify is there a mockup for where this button will live?

[2021-03-08 20:17] aliabbasmalik8 commented on #1661
Hi @bfitzexpensify
It's just padding and height issue.
we need to remove these styling attributes from the top banner and add to the inner row styling object.
[code]
Attached screenshot for better understanding
![image](https://user-images.githubusercontent.com/31027036/110376495-26652f00-804b-11eb-90c8-04e266852b54.png)
![image](https://user-images.githubusercontent.com/31027036/110376525-354be18

[2021-03-08 20:18] bfitzexpensify opened #1665 "[GH Actions] Colorize git diff by character"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
N/A

**Action Performed (reproducible steps):**
- We have an automation that runs on our PRs that recompiles all our Javascript Github Actions called `verifyGithubActionsBuilds`. This is useful in catching unexpected

[2021-03-08 20:20] marcaaron commented on #1614
Just gonna chime in here that I think that the correct way to do this will require a refactor of how we are displaying these actions. Here are a few thoughts:

1. We need to **stop** using the `reportAction.avatar` data to show the participant avatar and instead refer only to the avatar in `personalDetails`. Probably we should also only do this when the `reportAction` is `automatic: false` (all of

[2021-03-08 20:31] bfitzexpensify commented on #1664
Good question, I asked @roryabraham a little while ago but think he's having lunch — Rory, do we have a mockup somewhere or does one need to be created?

[2021-03-08 20:34] tugbadogan commented on #1663
Hi @arielgreen

I would like to work on this issue. Here is my proposal:

- I'm planning to create `getReleasePullRequestList` function that will take a `TAG` parameter in `GithubUtils` class.
- I will fetch all the Expensify.cash releases via octokit's `listReleases` function.
- I will find the release prior to the one with the tag matching the input tag from the previous step.
- I will call `get

[2021-03-08 20:40] parasharrajat commented on #1664
Yeah, Correct. A mock-up would be good to submit a complete proposal. But as start the Main concept would be as follows:
## Proposal
1. Create the button on the Settings page as per the mockups.
To show the button when the update is available, we will listen to the following Onyx Key.
[code]
2. On Press of the Button we have to send a message to the main Process using the
[code]
Which will start t

[2021-03-08 20:40] arielgreen commented on #1663
cc @roryabraham

[2021-03-08 20:42] tugbadogan commented on #1576
Thank you for your help @roryabraham!

[2021-03-08 21:50] roryabraham commented on #1663
@tugbadogan Looks pretty good, but I think you had a slight misunderstanding of the task:

In this issue, the deliverable actually _is_ a Github Action, similar to [these ones](https://github.com/Expensify/Expensify.cash/tree/master/.github/actions). So you should:

1) Create an action metadata file for a new Github Action similar to [this one](https://github.com/Expensify/Expensify.cash/blob/mast

[2021-03-08 22:25] roryabraham commented on #1664
Nope, sorry for the confusion. This is desktop-only.

That actually won't work because that Onyx key is only set when the update notification is pressed [here](https://github.com/Expensify/Expensify.cash/blob/99a612a2d0f63dbe355e2457e90a386152c41647/src/libs/Notification/LocalNotification/BrowserNotifications.js#L135), but the whole point of adding the button in the settings menu is that it's poss

[2021-03-08 22:41] tugbadogan commented on #1663
I see, no problem. I can create that Github Action. Do we want to return the PR list or do we want to comment on these PRs with this Github Action as well? It looks like there's [another Github Action](https://github.com/Expensify/Expensify.cash/blob/master/.github/actions/markPullRequestsAsDeployed/action.yml) that takes PR list as an input and adds comment on those PRs as deployed. Do you want m

[2021-03-08 22:43] deetergp commented on #1656
@aliabbasmalik8 That solution will break anything other than a trailing `/` for the URL path.

https://user-images.githubusercontent.com/766197/110391612-960ff580-801c-11eb-96e6-66667242fcff.mp4

[2021-03-08 22:45] roryabraham commented on #1663
Just return the list :)

Nope, no need!

[2021-03-08 23:10] parasharrajat commented on #1664
Ah sorry, Didn't see this part. So if this is the case. Then We can do is set the key on Onyx if the user has not given the notification permission. Something Like.
[code]
 updating the push method according. or if throwing the error is not an option.

 I see listening on the  `ipcRenderer.on('update-downloaded') ;` would be a repetitive step. As we again need to check the user notification permis

[2021-03-09 02:19] Shadows97 commented on #1664
In order to solve this problem it will be necessary to put in place the update button of the application and define its appearance on two conditions to know according to the platform and the availability of update. So once the update is available it will be displayed.

[2021-03-09 12:40] aliabbasmalik8 commented on #1656
Hi @deetergp
I tested all of above-mentioned URL with this regex and its work for me
just need to replace `URL_PATH_REGEX` in `expensify-common/lib/ExpensiMark`
[code]
Please have a look.
Thanks

[2021-03-09 14:14] michaelhaxhiu commented on #1633
@parasharrajat My team and I have been discussing this GH the past few days, and we feel this project isn't a good candidate for an External Contributor.

We are going to solve this internally and close the Upwork job. I appreciate you showing interest and recommend looking at other Expensify Upwork jobs if you want to help with something else.

[2021-03-09 14:16] #1633 closed

[2021-03-09 14:17] michaelhaxhiu commented on #1633
![image](https://user-images.githubusercontent.com/13206896/110484057-b4c7c800-80c0-11eb-8a1d-41653a39cfee.png)

[2021-03-09 15:14] laurenreidexpensify commented on #1490
Hi @parasharrajat any luck yet? Can you post a little update of where you're at with the research? Thanks

[2021-03-09 15:16] laurenreidexpensify commented on #1609
Great - @tgolen is @SameeraMadushan's proposal good to move forward now?

[2021-03-09 15:22] NicMendonca opened #1677 "[User Settings] Add new Preferences view"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

Having added four new menu items to the Settings page, we now need to begin linking those menu items to actual pages.  This issue pertains to the `Preferences` page.

The Preferences view will be displayed when the "Preferences" menu item is

[2021-03-09 15:24] shawnborton commented on #1677
@michelle-thompson are you familiar with this screenshot? I am wondering if it should have some kind of small label above the toggle control to indicate that this toggle is for "Notifications"

[2021-03-09 15:38] laurenreidexpensify commented on #1383
@parasharrajat I just issued payment for this one for you 👍🏽

[2021-03-09 16:08] roryabraham commented on #1490
@parasharrajat Did `min-width` on the flex children help with the text wrapping issue?

[2021-03-09 16:35] michelle-thompson commented on #1677
Perhaps we should just update the toggle copy?
![image](https://user-images.githubusercontent.com/43361905/110504849-6c091280-80b2-11eb-8ff1-94b12c6fc5fb.png)

[2021-03-09 17:19] parasharrajat commented on #1490
@roryabraham  so putting min-width:0;  is fibe. But Issue Is that if there are multiple items will be trimmed and ellipsis show on multiple names, I guess due to flex container try to  shoe all the childsa and every child is shrinkable so the container try to shrink all.

Another shrinking behaviour was that it shrinks the complete item. and just show ... instead for a particular child even if the

[2021-03-09 17:20] mikeattara commented on #1677
__Proposed solution__
- Add `PREFERENCE` route in `src/ROUTES.js`
- Create _Preferences_ page
- Toggle status based on `user.expensifyNewsStatus` specification

[2021-03-09 17:41] tugbadogan commented on #1663
Hi @roryabraham

I created pull request and tested locally. Now, I will test this Github Action from a sample Github workflow.

I have a question. I realized that octokit returns 30 tags by default and the maximum limit is 100 per page. Do we need to look at further back with pagination or is it enough to look at only the last 100 tags?

[2021-03-09 17:44] Maftalion commented on #1677
**Proposed Solution**
- RN's Switch component, behaves different on different platform (screenshot below for android/web). So we can bring in a javascript implementation like https://github.com/Expensify/Expensify.cash/pull/1672 to have design parity across all platforms.
- The default will go based on `expensifyNewsStatus` or default to true, then toggles will update that value by calling `setExp

[2021-03-09 17:50] MitchExpensify opened #1682 "When GSD priority setting is enabled continue to show current chat in LHN while viewing the chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___
Upwork listing: https://www.upwork.com/jobs/~0110ec2c11a21481f0

## Expected Result:
When GSD priority setting is enabled, chat should show in Left Hand Navigation pane while you are viewing it

## Actual Result:
Chat disappears from Left Han

[2021-03-09 18:10] roryabraham commented on #1663
It depends. If `octokit` gives us the 30 _most recent_ tags in the first page it returns, then I think 30 is fine. Otherwise, we just need to make sure we have the most recent tags.

[2021-03-09 18:21] parasharrajat commented on #1682
I would like to work on this issue.

## Proposal

We missed the active report check from this condition.
https://github.com/Expensify/Expensify.cash/blob/fc7e954a21f67d0c4488adc2c6f3c1790d361ec6/src/libs/OptionsListUtils.js#L194-L198

adding following into the if statement will keep the active chat in the sidebar.
[code]
I think we always want to keep the Active chat in the sidebar so we should ad

[2021-03-09 19:20] NikkiWines commented on #1677
Ah, yeah let's keep current functionality here. I've updated the OP to reflect that pressing `<` will take you to the Settings page but pressing `x` will close the modal entirely.

[2021-03-09 20:21] deetergp commented on #1656
@laurenreidexpensify It looks like @aliabbasmalik8 latest suggestion will do the trick 👍
<img width="847" alt="Screen Shot 2021-03-09 at 12 18 14 PM" src="https://user-images.githubusercontent.com/766197/110532345-8a323b00-80d1-11eb-8fe5-fd2967861d71.png">

Please some test assertions in [ExpensiMark-test.js](https://github.com/Expensify/expensify-common/blob/master/__tests__/ExpensiMark-test.js)

[2021-03-09 20:24] tugbadogan commented on #1663
Yes, it returns 30 most recent tags in the first page. Then I'm going to remove 100 limit and use default value.

[2021-03-09 20:34] anthony-hull commented on #1614
I would agree refactoring to use personalDetails to display the avatar would be best. It did cross my mind while looking into this. It would be nice if there was a pusher subscription for personal details for this as you say below.

Agreed. if we start abstracting these details out with this issue, once the push service supports this data we can easily trigger updates to the ONXY key subscribers.

[2021-03-09 20:40] anthony-hull commented on #1682
Wow so fast. Proposal in before it's exported Rajat 👍  🏃
I would also do the same as above, adding the check for active reports and do some work to make the if statements more readable, it's a pretty simple fix and trying to think of something novel for the sake of it would be pointless. Since I wrote this code I would like to fix the problem for sake of personal pride.

[2021-03-09 20:44] anthony-hull commented on #1614
Can you please clarify what you mean by this?

[2021-03-09 21:01] AndrewGable commented on #1520
@aliabbasmalik8 - There was a regression found after merging your PR:

**Platform - version:**
Web - latest

**Action Performed (reproducible steps):**
1. Open an attachment
2. Click Escape to close the modal

**Expected Result:**
Modal should close

**Actual Result:**
Screen goes white, JS Error

**Notes/Photos/Videos:**

![Screen Shot 2021-03-09 at 11 35 51 AM](https://user-images.githubusercont

[2021-03-09 21:18] aliabbasmalik8 commented on #1656
It does not work for these type of URLs `http://foo.com/(something)?after=parens`
will let you know if found a solution.
Thanks

[2021-03-09 21:30] marcaaron commented on #1614
Hmm sorry, I'm not following why we should only make this change for the currently logged in user. There only way to react to changes in personal details is to detect those changes when a new comment is handled via Pusher. So, I might be missing what you are suggesting exactly or how/why we should even make that distinction.

Yes! So, comments are just one type of "reportAction" and although we do

[2021-03-09 22:25] roryabraham commented on #1665
@mikeattara, can you provide any more detail? How will you ensure that the GH Actions Runner has the correct packages installed? What changes need to be made to the `verifyActions` script to produce a diff?

[2021-03-09 22:30] #1663 closed

[2021-03-09 23:00] Maftalion commented on #1677
@shawnborton do you have any opinion on whether the switch should be consistent across all platforms or if it should use the native components? here's a screenshot of how it would look on android/web/desktop:
<img width="127" alt="Screen Shot 2021-03-09 at 9 41 59 AM" src="https://user-images.githubusercontent.com/12075600/110550209-17808a00-80e8-11eb-9383-f7276ae9505c.png">

If we want every plat

[2021-03-09 23:58] trjExpensify opened #1691 "[Chat] [IOU] Create IOU Amount step"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

This issue builds on top of the existing IOU Modal, which was implemented [in this PR](https://github.com/Expensify/Expensify.cash/pull/1561). The `IOUAMount` step component has already been created ([original PR](https://github.com/Expensif

[2021-03-10 00:00] Jag96 commented on #1452
The second PR was merged, closing this!

[2021-03-10 00:00] #1452 closed

[2021-03-10 00:39] tugbadogan commented on #1576
@arielgreen @roryabraham Is there anything else to do here? Shall we close the issue?

[2021-03-10 01:13] roryabraham commented on #1576
@tugbadogan nothing else to do here, so I'll close this issue. There's a standard 7-day wait period between the time your PR is merged and when we pay out issues, to allow some time to see your code introduces any unforeseen regressions.

[2021-03-10 01:13] #1576 closed

[2021-03-10 02:22] MitchExpensify commented on #1682
Seeing as you suggested the proposal first, I've sent you the offer in Upwork @parasharrajat. Thanks for also applying @anthony-hull! There will be plenty more issues coming up

[2021-03-10 02:35] MitchExpensify opened #1694 "[Chat] [IOU] Create IOU Participant selection step"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

This issue builds on top of the existing IOU Modal, which was implemented [in this PR](https://github.com/Expensify/Expensify.cash/pull/1561). The IOUParticipant step component has already been created ([original PR](https://github.com/Expen

[2021-03-10 05:08] barun1997 commented on #1694
Hey, I would love to work on this PR!

I will send the Upwork proposal by my name: Barun Pandey.

### Proposal

- Use the `hasMultipleParticipants` and render either `BillSplit` (on true) or `RequestMoney` (on false) flow accordingly.

-  Use the `hasMultipleParticipants` bool to determine the step title as well.

- Persist participants state in `IOUModal `

- Use `OptionsSelector` and the logic s

[2021-03-10 06:59] mikeattara commented on #1665
@roryabraham I saw he used `diffc` for the image above so updated the proposed solution to use that instead.

The screenshot is attached below
![Screen Shot 2021-03-10 at 6 26 56 AM](https://user-images.githubusercontent.com/31483629/110589298-1d20b300-816e-11eb-89c0-54d58895c2b4.png)

[2021-03-10 09:08] shawnborton commented on #1677
I like the idea of being able to use the same switch everywhere, regardless of platform. We have to create a switch for web/desktop anyways, so it would be nice to reuse the same thing everywhere.

[2021-03-10 10:26] FredericoGauz commented on #1665
Hi Rory,

My solution is as follows:

[using the bash file]
1 - clone this repository somewhere in the ubuntu machine
2 - `export PATH=/path/to/repo:$PATH`
3 - copy _temporarily_ the lib from this repo to `.github/scripts/lib`
3 - run an updated diff command git (or something more suitable) `diff | diff-so-fancy`

This is a **clean** solution that does not leaves traces and also does not mess up w

[2021-03-10 13:04] laurenreidexpensify commented on #1609
Great @SameeraMadushan can you tag me in the PR when you start it? Thanks!

[2021-03-10 14:18] SameeraMadushan commented on #1609
@laurenreidexpensify I am about to create the PR now. Could you please send me the contract on Upwork.

[2021-03-10 14:38] laurenreidexpensify commented on #1609
Done!

[2021-03-10 15:48] Julesssss commented on #1694
Hey @barun1997, thanks again for the proposal!

I've assigned the issue to you. Please feel free to reach out if you have any questions or concerns regarding the specification.

[2021-03-10 16:07] barun1997 commented on #1694
Hey @Julesssss , thanks for the assignment! I will get onto it first thing tomorrow. I will reach out to you if anything comes up.

[2021-03-10 16:13] michaelhaxhiu commented on #1011
The payment was sent today. Thanks for your contribution @nbhargava!

[2021-03-10 17:32] NikkiWines commented on #1492
Closing as this issue has been completed successfully in https://github.com/Expensify/Expensify.cash/pull/1593

[2021-03-10 17:32] #1492 closed

[2021-03-10 17:40] roryabraham commented on #1665
Well at this point it looks like you've converged on the same solution, more or less. Both look acceptable, so I'll go with @FredericoGauz because he got there first (it looks like @mikeattara edited his proposal to use `diff-so-fancy` after @FredericoGauz had already posted his).

[2021-03-10 17:49] mikeattara commented on #1665
@roryabraham I actually did that, as an alternate solution before that though. I don't really have any problem with you choosing @FredericoGauz but just wanted to clarify

[2021-03-10 17:50] mikeattara commented on #1665
You can verify from the commits on my fork

[2021-03-10 18:07] bfitzexpensify commented on #1664
cc @nbhargava — ready to go!

[2021-03-10 22:02] #1493 closed

[2021-03-10 22:30] arielgreen opened #1709 "[GH Actions] Request review of automerge PR if there is a merge conflict"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

# Problem
Typically, PRs that have the `automerge` label don't need to be manually reviewed by anyone. In those cases, we don't want to request a review. However, since we'll be using `automerge` PRs to CP PRs to staging and/or production, w

[2021-03-10 22:30] trjExpensify opened #1710 "[User Settings] Add new Change Password view"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

Having added four new menu items to the Settings page, we now need to begin linking those menu items to actual pages.  This issue pertains to the `Change Password` page.

The Change Password view will be displayed when the "Change Password"

[2021-03-10 22:39] FredericoGauz commented on #1665
Hi @roryabraham  and @bfitzexpensify,

Thank you, I start working on the issue as soon as possible.

[2021-03-10 22:49] trjExpensify opened #1711 "[User Settings] Add new Profile view"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

Having added four new menu items to the Settings page, we now need to begin linking those menu items to actual pages.  This issue pertains to the `Profile` page.

The Profile view will be displayed when the "Profile" menu item is clicked. It

[2021-03-10 23:07] roryabraham opened #1712 "Test StagingDeployCash"
**Release Version:** `1.0.2-24`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/1.0.2-0...1.0.2-24

**This release contains changes from the following pull requests:**
- [ ] https://github.com/Expensify/Expensify.cash/pull/21
- [x] https://github.com/Expensify/Expensify.cash/pull/22
- [ ] https://github.com/Expensify/Expensify.cash/pull/23

**Deploy Blockers:**
- [ ] https

[2021-03-10 23:18] mikeattara commented on #1709
__Proposed solution__
To determine the [mergeability of the PR](https://docs.github.com/en/rest/reference/pulls#mergability), the `mergeable` field on the PR is a Boolean that indicates if the branch can be merged, and `mergeable_state` will indicate if it's `clean`, `dirty`, or `unstable`. So, I will improve the `automerge` workflow by checking if the PR is mergeable, and merge or request a revie

[2021-03-11 00:12] mikeattara commented on #1709
Also add `id` for [this step](https://github.com/Expensify/Expensify.cash/blob/71d00f2e3e10225ff0f335b90175065d181cc6f3/.github/workflows/automerge.yml#L29-L33) so that I can check the `exitcode` of the step to add `pullbear` as reiewer or not like [this](https://github.community/t/using-exit-code-of-previous-step/16798)

[2021-03-11 00:38] #1712 closed

[2021-03-11 01:14] npsedhain commented on #1710
Hi, I would love to contribute to this issue!

My proposal:

Since the basic block is already laid out for us. We can simply get to the `PasswordPage.js` and start adding the pre-exisiting components like `<TextInput>`.

We can get the value `requiresTwoFactorAuth` from `onyx` within our global state under the key `ONYXKEYS.ACCOUNT`. Then we can use this prop we add a check for the particular text

[2021-03-11 01:24] roryabraham commented on #1709
@mikeattara I like your first solution that checks the `mergeable` field! Proposal looks good, but just for clarity the correct actor is `Expensify/pullerbear`, not `pullbear`

[2021-03-11 01:25] Maftalion commented on #1710
**Proposal**

- In the PasswordPage I'd set up a form following the screenshot in the issue description.
- I'd use the `requiresTwoFactorAuth` value to conditionally render/require the 2FA field
- Once Save is pressed I'd call `changePassword` and modify the function to return the promise so I can chain off to determine whether it was successful or not.
- If not successful, I'd display the correct

[2021-03-11 01:45] mikeattara commented on #1709
Alright. Thanks for the clarification @roryabraham

[2021-03-11 02:27] marcaaron commented on #1594
@AliYar-Khan @SameeraMadushan doesn't seem like either of these solutions will fix the issue as they will break the ability to leave multi-line comments.

@sadez I'm not sure if this library is suitable. It looks like for iOS we can only handle `keyUp` event so how can we ever tell that the `shift` key is down? Seems like the options would be to:

1. Find another package (if possible)
2. Submit a

[2021-03-11 02:27] Maftalion commented on #1711
**Proposal**
- On the Profile page, I'd set up the form to match the screenshots above. fields being prefilled based on the data from `myPersonalDetails`
- Special handling on the `Preferred Pronouns` field to add an additional text field if `Self-select` is selected and send that value instead
- Email/PN field will be determined using `myPersonalDetails.login` using `isSMSLogin` from the Str util

[2021-03-11 02:49] pathakarjun commented on #1711
Hi, I would love the opportunity to work on this issue!

My proposal:

- When the user clicks on `Profile` menu item, route the user to settings/profile using the already available route.

- Use the existing `close` and `<` buttons to handle the action related to either going to last report or navigating back to main setting.

- Use `react-native-picker-select` library to implement `dropdown` for

[2021-03-11 02:57] NikkiWines commented on #1711
@Maftalion to answer your questions:

Ah, that's in here by mistake sorry - removed.

We were originally considering a snackbar/growl for success/failure but considered it out of scope for this issue - there doesn't need to be any sort of indicator for success at this time.

Nope, that'll be handled in a follow-up issue!

This is a little out of date sorry - the timezone will be updated if you inc

[2021-03-11 10:32] parasharrajat opened #1722 "Clicking rapidly on the Backdrop, while the new chat Menu is open, toggles between on and Off state."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___
Platform - version: **Web v1.0.2-27**

## Expected Result:
Clicking out on the backdrop area should close the New chat Fab Modal at once.

## Actual Result:
Clicking rapidly on the Backdrop, while the new chat Menu is open, toggles between on

[2021-03-11 10:33] parasharrajat commented on #1722
### Reason
Due to we are using a toggle method that is being triggered on each click on the backdrop, the modal state toggles between on and off.

### Fix for above mentioned issue
1. Add a parameter to this function, like this
https://github.com/Expensify/Expensify.cash/blob/9aefbc575247a9a715ea28d3e49a7d9b22f7c047/src/pages/home/sidebar/SidebarScreen.js#L86-L89
[code]
Then modify the code here

[2021-03-11 11:12] #1609 closed

[2021-03-11 11:15] laurenreidexpensify commented on #1609
nice work @SameeraMadushan - we'll issue payment on 18 March if there are no regressions reported 👍🏽

[2021-03-11 12:36] Shailesh351 commented on #1496
https://user-images.githubusercontent.com/18264684/110787820-d6c57400-8293-11eb-9a7b-6e5b8d883a47.mov

@NikkiWines After clicking on `Add Paypal Account` it should show something that shows it was added successfully. What do you think?

[2021-03-11 13:03] parasharrajat commented on #1490
@roryabraham Any input for the comment above.
I think what I can do is
1. Use inline elements, as I mentioned above, and then shift the tooltip to the left using
[code]
 But I need to know how to calculate these exactly.

[2021-03-11 15:44] arielgreen commented on #1709
Sending over an offer in Upwork now, @mikeattara .

[2021-03-11 16:54] marcaaron commented on #1722
I might be missing something about how likely people will be effected by this... but I'm not sure there is much value in fixing this right now 🤔

We are changing the way that modals like the Search page when adopting `react-navigation` and also removing the `isSidebarShown` concept very soon.

[2021-03-11 16:56] parasharrajat commented on #1722
@marcaaron  Ok. Will close it.

[2021-03-11 16:56] #1722 closed

[2021-03-11 17:05] mikeattara commented on #1709
Thanks. @arielgreen

[2021-03-11 17:56] #1661 closed

[2021-03-11 19:15] roryabraham commented on #1490
Sorry for just getting back to this @parasharrajat, but looking at the video in the last comment, it looks like the tooltip is centered on the word, and the text-shrinking is happening as expected?

[2021-03-11 19:18] parasharrajat commented on #1490
@roryabraham In the video, you see that the tooltip should be rendered over the shrunk title but it is being rendered on the center of the whole text underneath. But I have managed to show it at the correct location using the horizontalShift. Just preparing the PR for review.

[2021-03-11 19:21] roryabraham commented on #1490
Okay sounds good, please feel free to add me as a reviewer 👍

[2021-03-11 19:25] parasharrajat opened #1728 "Pinning icon is not well aligned."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___
Pin icon on the sidebar is not aligned correctly.  Suspected PR https://github.com/Expensify/Expensify.cash/pull/1721

## Action Performed:
 Pina chat and see the Sidebar

## Platform:
Where is this issue occurring?

 Web

![image](https://us

[2021-03-11 19:29] parasharrajat commented on #1728
I think we should merge the `TouchableOpacity` and upper `View` into `TouchableOpacity`.
https://github.com/Expensify/Expensify.cash/blob/6e86f75f687bac0d88dbc09a7d7d8832d87c108b/src/pages/home/sidebar/OptionRow.js#L71-L89

[2021-03-11 19:41] kadiealexander commented on #1594
Hi everyone! Thank you for taking the time to submit a proposal for this issue. We've spoken internally and decided to deprioritise this feature for now.

Please take a look at our [job list](https://www.upwork.com/ab/jobs-home/8577561/all-postings) for other projects we have available!

[2021-03-11 19:41] #1594 closed

[2021-03-11 19:48] roryabraham commented on #1728
Seems reasonable to me, thanks for reporting @parasharrajat. @aliabbasmalik8, since [your PR](https://github.com/Expensify/Expensify.cash/pull/1721) likely caused this regression, do you want to submit a PR to fix it?

[2021-03-11 20:35] barun1997 commented on #1694
Hey, @Julesssss, so I have completed the logical implementation of our issue. This is how I have structured the solution. If you are fine with this or want to move this conversation over to the PR side, I can open it with all the necessary tests and follow all the guidelines.

![image](https://user-images.githubusercontent.com/19339044/110851081-af44ca80-82d8-11eb-8de0-c63f3f16d788.png)

![image](

[2021-03-11 21:03] trjExpensify commented on #1694
Hey @barun1997! Yes, can you move this to a PR please, so the team can review the code and tests there. Thanks! 👍

[2021-03-11 21:14] tugbadogan commented on #1691
Hi @Julesssss @trjExpensify

As you requested I need to implement BigNumberPad for native apps and mobile web. I found how to design separate design for native app and web/desktop. But I'm not sure how to handle Web and Mobile Web difference without adding platform specific code in the module. Do you have any example about that?

In web and desktop, amount text field is going to be an input field,

[2021-03-11 21:37] OSBotify opened #1732 "Deploy Checklist: Expensify.cash 2021-03-11"
**Release Version:** `1.0.2-79`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/1.0.2-78...1.0.2-79

**This release contains changes from the following pull requests:**
- [ ] https://github.com/Expensify/Expensify.cash/pull/1
- [ ] https://github.com/Expensify/Expensify.cash/pull/2
- [ ] https://github.com/Expensify/Expensify.cash/pull/1444
- [ ] https://github.com/Expensi

[2021-03-11 21:38] roryabraham commented on #1732
@Expensify/applauseleads Please disregard – this is a test.

[2021-03-11 21:44] #1682 closed

[2021-03-11 23:14] AndrewGable commented on #1694
Agreed, @Julesssss and myself can help you with these type of questions in a PR @barun1997 as it will be easier for us to see all your code and pull it down to test ourselves. Let us know if you have any issues getting the PR up.

[2021-03-11 23:21] aliabbasmalik8 commented on #1728
@roryabraham sure, I'll fix it.

[2021-03-11 23:25] roryabraham commented on #1691
Hi @tugbadogan, what I would recommend in this case is to differentiate by screen width instead of platform. So you can wrap your component with the `withWindowDimensions` HOC, and then check the value of the `isSmallScreenWidth` prop. If true, you can assume you're dealing with a mobile device. If false, assume you're dealing with a laptop or desktop computer. That's probably sufficient for this

[2021-03-11 23:55] AndrewGable commented on #1691
Hey @tugbadogan - Totally agree with @roryabraham here. Also here is a good example of this: https://github.com/Expensify/Expensify.cash/blob/aec6a4508b31f70c2e3c7874fd28896132466485/src/pages/signin/LoginForm/index.js#L10-L14

To answer your second question:

Yes - But @Julesssss please confirm!

[2021-03-12 01:44] barun1997 commented on #1694
Thank you for your replies - @trjExpensify, @AndrewGable! I will move it to a PR!

[2021-03-12 01:52] NikkiWines commented on #1496
@Shailesh351 nice! this is looking great.

We were originally considering a snackbar/growl for success/failure but considered it out of scope for this issue - there doesn't need to be any sort of indicator for success at this time.

However, @shawnborton this is looking a little weird without any feedback whatsoever. Curious to your thoughts about a low cost option for letting the user know we'd s

[2021-03-12 02:27] NikkiWines commented on #1710
Good question, I'd say yes to minimize malformed/ half-empty user input.

Yes, the general rule we have for password validation is `Password must be different than your old one, have at least 8 characters, 1 capital letter, 1 lowercase letter and 1 number`. We should also check that the values for `New Password` and `Confirm New Password` are the same.

There are a few errors you can get back from

[2021-03-12 09:40] shawnborton commented on #1496
I agree with you Nikki. So I think we should just formally propose a P/S for adding a lost-cost growl solution, and implement that separate from this PR. We can work with you to come up with some styling ideas, but let's decouple that project from this particular step for now.

[2021-03-12 11:15] Julesssss commented on #1691
Hi @tugbadogan. Yeah, Web/Desktop will function as an input field. But as you can see in the mockup we would like the input background colour to match the page background colour.

Thanks @roryabraham, @AndrewGable!

[2021-03-12 11:29] SameeraMadushan commented on #1656
Hi @laurenreidexpensify,

Here is my proposal.

This does happen, regex itself ignores the attached parenthesis () from the URL.
In ExpensiMark.js
There are three parts this issue occurs.

1. URL_PATH_REGEX
2. URL_PARAM_REGEX
3. URL_FRAGMENT_REGEX

These are the three-part of scenarios that this issue occurs.

### Fix

Here are the modified regex patterns.
[code]

#### Test cases
Here are the succ

[2021-03-12 13:16] #1728 closed

[2021-03-12 19:48] trjExpensify commented on #1694
Related PR: https://github.com/Expensify/Expensify.cash/pull/1738

[2021-03-12 20:35] AndrewGable commented on #1732
Going to use this issue to test https://github.com/Expensify/Expensify.cash/pull/1745

[2021-03-12 22:21] deetergp commented on #1656
@SameeraMadushan Your solution also works, but just like @aliabbasmalik8's solution, it doesn't handle URLs that have parens in them like
[code]
<img width="493" alt="Screen Shot 2021-03-12 at 2 21 25 PM" src="https://user-images.githubusercontent.com/766197/111004635-3c6e3a80-833e-11eb-9c33-ec9ebc13aa38.png">

[2021-03-12 22:42] AndrewGable commented on #1732
Tested #1745 successfully!

[2021-03-13 01:15] AndrewGable opened #1765 "Test issue"
Test issue, ignore.

[2021-03-13 01:16] AndrewGable commented on #1765
It worked 🎉

[2021-03-13 01:16] #1765 closed

[2021-03-14 20:00] tugbadogan opened #1769 "IOUModal View Issue"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

IOUModal view does not show chat view.

## Expected Result:
Chat view should be visible when user is redirected to `/iou/request` page.

<img width="400" alt="Screenshot 2021-03-14 at 19 51 59" src="https://user-images.githubusercontent.com/

[2021-03-14 20:04] tugbadogan commented on #1691
Thank you for your help @roryabraham @AndrewGable @Julesssss, I've created the PR now. However, IOU modal view has some problems on master branch and I created an issue for those problems https://github.com/Expensify/Expensify.cash/issues/1769

I tested my code with a previous version and it's working as expected. I uploaded screenshots and screen recordings to the PR.

[2021-03-15 10:12] Julesssss commented on #1769
Thanks for raising this, it was most likely caused by the recent [React Native Navigation PR](https://github.com/Expensify/Expensify.cash/pull/1559)

[2021-03-15 13:50] #1769 closed

[2021-03-15 15:49] michelle-thompson commented on #1710
I think that sounds all good. Though I do wonder if we should have a way for users to see what the password requirements are? Perhaps adding a tooltip or something?

[2021-03-15 16:15] NikkiWines commented on #1496
Closing as https://github.com/Expensify/Expensify.cash/pull/1739 has been merged.

[2021-03-15 16:15] #1496 closed

[2021-03-15 20:07] roryabraham opened #1778 "Add the ability to copy messages in Expensify.cash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Internal issue:** https://github.com/Expensify/Expensify/issues/147479
**Internal Upwork Posting:** https://www.upwork.com/ab/applicants/1371557081012895744/job-details
**Public Upwork Posting:**  https://www.upwork.com/jobs/~013badfb34195

[2021-03-16 00:39] MazenRefaat commented on #1778
I'm trying to run it locally, don't know how to get API to run

[2021-03-16 03:34] mikeattara commented on #1709
__Question__
How are *reviews* requested on *pull requests* at the moment?
Is it being handled by any *workflow*?

[2021-03-16 05:16] SameeraMadushan commented on #1778
Working on proposal.

[2021-03-16 06:28] #1709 closed

[2021-03-16 15:04] parasharrajat commented on #1778
Hi, I would like to work on this issue. It has scope for me to learn the Native Modules.

## Proposal
1. Add an onPress property to the `CONTEXT_ACTIONS` in the `ReportActionContextMenu.js` which will be called on the OnPress action something like.
[code]
2. We will send the action prop from the Parent Context.
3. Now as mentioned on the issue, we can utilize the `import { Clipboard } from 'react-

[2021-03-16 15:10] aliabbasmalik8 commented on #1656
@deetergp @laurenreidexpensify Here is another solution to this issue.
need to update `modifyTextForUrlLinks` in `ExpensiMark.js` file.
Update modifyTextForUrlLinks function

`
modifyTextForUrlLinks(regex, textToCheck, replacement) {
        let count = 0;
        let updatedTextToCheck = textToCheck;
        for (let i = 0; i < textToCheck.length && textToCheck[i] === '(' && textToCheck[textToChe

[2021-03-16 18:11] Julesssss commented on #1694
Some additional changes are being worked on by the contributor, they said they would work on this first thing tomorrow 🤞

[2021-03-16 19:50] NicMendonca commented on #1645
All set 👍

[2021-03-16 19:50] #1645 closed

[2021-03-16 19:59] deetergp commented on #1656
So the problem here is that when we add a trailing `/` to the url, the `URL_PATH_REGEX` kicks in and captures out to match out to the last `)` which happens to be the one that isn't a part of the markdown link and shouldn't be captured. Sadly, JavaScript's regex engine does do recursion, otherwise we'd be able to do something like `(?<text>\[(?>[^\[\]]+|(?&text))*\])(?<url>\((?>[^\(\)]+|(?&url))*\

[2021-03-16 20:57] shawnborton commented on #1728
Just a heads up that the PR did not actually fix the issue - the entire row is not clickable. Left a comment over here: https://github.com/Expensify/Expensify.cash/pull/1737#issuecomment-800598974

[2021-03-16 21:08] parasharrajat commented on #1728
@shawnborton I think https://github.com/Expensify/Expensify.cash/issues/1728#issuecomment-796987224 has a point.

[2021-03-16 21:54] NikkiWines commented on #1710
@michelle-thompson  I do like the idea of showing password requirements. We don't have any sort of existing tooltip functionality, so I'm not sure I want to hold the PR going out on that being built. Maybe we could add a small note under the `New Password` outlining the requirements?

cc: @Maftalion @francoisl just so you don't miss this, since I already approved the PR

[2021-03-16 21:56] shawnborton commented on #1710
I like the idea of just using small, muted text directly under the text input. Especially since tooltips don't really work well on mobile.

[2021-03-16 22:10] NikkiWines commented on #1710
Cool, @Maftalion for reference the copy we use on e.com is `8 or more characters, 1 lower case, 1 upper case, 1 number`
![image](https://user-images.githubusercontent.com/16747822/111386606-b6b5fc00-8669-11eb-9ead-9b47e01a831f.png)

[2021-03-16 22:44] Maftalion commented on #1710
Sounds good

Would this go under the "new password" input or below the whole form? (under confirm pw) @shawnborton

[2021-03-17 06:04] aliabbasmalik8 commented on #1728
@shawnborton I'm on it

[2021-03-17 09:18] shawnborton commented on #1710
Actually what if we just made the password hint look like normal paragraph text, and have it be the first part of this page? Something like this:
![image](https://user-images.githubusercontent.com/2319350/111443841-106e0300-870a-11eb-926a-3b9f816222b9.png)

[2021-03-17 11:35] laurenreidexpensify commented on #1490
@parasharrajat is there a PR yet for this one? Thanks

[2021-03-17 13:05] parasharrajat commented on #1490
@laurenreidexpensify Yeah, I made one couple days back which is under review. #1632

[2021-03-17 13:10] laurenreidexpensify commented on #1490
Awesome! Thanks!!

[2021-03-17 16:11] michelle-thompson commented on #1710
What if the requirements show up under the `New Password` field when it's highlighted? Personally, I like the bulleted list because it makes for easier perusal than a paragraph.
![image](https://user-images.githubusercontent.com/43361905/111499757-81102200-8700-11eb-9e09-c715d5c20ac5.png)

[2021-03-17 16:15] shawnborton commented on #1710
That feels a bit heavy to me. I am also curious how that would look like on mobile when the keyboard is visible and takes up a lot of the screen?

But perhaps we could see that same style but just a sentence with the requirements instead of a list? And also, you can get rid of the first intro paragraph too.

[2021-03-17 16:20] michelle-thompson commented on #1710
Kept the list on mobile for a quick comparison.
![image](https://user-images.githubusercontent.com/43361905/111500873-b23d2200-8701-11eb-9aad-d44cfb76559e.png)

[2021-03-17 16:57] #1664 closed

[2021-03-17 17:04] shawnborton commented on #1710
Cool, I definitely like the sentence more than the bulleted list. I don't feel strongly about the version that is a paragraph at the top versus the small muted text below the input. Which one do you like more?

[2021-03-17 17:05] michelle-thompson commented on #1710
I prefer the sentence underneath the input so let's go with that!

[2021-03-17 19:15] arielgreen commented on #1614
@marcaaron can you provide an update for how Anthony should proceed?

[2021-03-17 19:24] arielgreen opened #1844 "Implement library to get texts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

We are implementing the structure for internationalisation and localisation.

As part of that, we need to implement a library to get texts. We will pass it a translation key, a locale and optionally an object with variables and it will retur

[2021-03-17 19:36] #1694 closed

[2021-03-17 20:35] tugbadogan commented on #1844
Hi @arielgreen,

I would like to work on this issue. Here is my proposal:

1. I'm going to create `en.js` and `en-GB.js` sample translation files in `src/languages` folder. These files will contain object with translation data and I will export these objects.
2. Then, I will create` translations.js` file in the same folder. This file will import all available locales, merge them into a single obje

[2021-03-17 20:36] parasharrajat commented on #1844
Suggestion
I would like to know the motive behind the function. If want to use it in a way like `translate('en', 'chatSwitcher.signup' )` to get the English verison of the string to be used in the App
## Proposal
1. Create a file `libs/translate.js` which exports the only method `translate(locale, key,variables = {})`.
 2. `translate` function will import the `translation.js` file which import eac

[2021-03-17 22:46] Maftalion commented on #1710
@michelle-thompson here's what it would look like on mobile when focused

<img width="494" alt="Screen Shot 2021-03-17 at 3 40 58 PM" src="https://user-images.githubusercontent.com/12075600/111548314-c13ec700-8737-11eb-9c33-807e5a4948c5.png">

[2021-03-17 23:54] michelle-thompson commented on #1710
The line height for the field subtext is a bit too tall. Not sure how to say "normal" height, haha -- maybe @shawnborton knows how to explain this?

Also, this doesn't look focused (i.e. no keyboard or highlighted field), can you show what it would look like with these two items in place?

[2021-03-18 00:03] kadiealexander opened #1853 "Update the UpdateAppModal for easier visibility"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

## Expected Result:
When a new update happens, the modal that appears should be non-invasive and modern looking, like this:

![image](https://user-images.githubusercontent.com/59587260/111553665-ba708c80-87e9-11eb-8249-998109b5e394.png)

##

[2021-03-18 00:32] Maftalion commented on #1710
@michelle-thompson here is mobile/web with it selected. also the "normal" line-height is set to 20, I can override it but would just need to know what to set it to.

<img width="1386" alt="Screen Shot 2021-03-17 at 5 31 04 PM" src="https://user-images.githubusercontent.com/12075600/111555957-b6d7f980-8746-11eb-831c-f28d770d6522.png">
<img width="596" alt="Screen Shot 2021-03-17 at 5 31 15 PM" src=

[2021-03-18 00:42] kadiealexander commented on #1853
Upwork post:

https://www.upwork.com/jobs/~01b6adc982355988c0

[2021-03-18 01:02] bilalyaqoob commented on #1853
The issue is with the width of modal and also need to add the cancel button to again hide and cancel the popup.

[2021-03-18 01:16] shahkeel commented on #1853
The issue is with the width of the modal we need to reduce the width based on dimensions of window and also need to add the cancel button to again hide and cancel the popup.

[2021-03-18 01:28] shahkeel commented on #1853
Proposal:

The width of the modal is not correct we need to reduce the width based on dimensions of window and also need to add the cancel button to again hide and cancel the popup.

First import this
import { Dimensions } from 'react-native'

then give this to the width of modal
width: Dimensions.get('window').width/3,

and also add the cancel btn

[2021-03-18 02:52] jliexpensify opened #1855 "[Chat] [IOU] Mobile keyboard should not be displayed at IOUConfirm step"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

# Problem

The mobile alphabetic keyboard is being displayed on physical devices when the IOUAmount page is displayed. It isn't always consistent but occurs most of the time with no obvious pattern. This occurs on both Android and iOS physic

[2021-03-18 02:55] Christinadobrzyn opened #1856 "Implement library to format time/dates for international users"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

## Action Performed:

1. Sign-in to e.cash desktop app or at https://expensify.cash
2. Send a message to a contact
3. The date and time on the message will be based on your current location and in US formatting (i.e., Perth Australia in the

[2021-03-18 03:36] npsedhain commented on #1853
Hi @kadiealexander, I would love to work on this issue!

I propose to do the following:

1. Discard `HeaderWithClose` component currently used, and use `Header` component instead (this also removes the border underneath).
2. Add a `Cancel` button below the `Update App` button.
3. Increase the border radius of the modal container using `modelContainerStyle`.
4. Use existing props from `withDimensio

[2021-03-18 05:18] npsedhain commented on #1856
Hi @Christinadobrzyn, I would love to work on this issue!

I propose to do the following:

1. `timestampToRelative` only takes a param `timestamp` which has to be changed to take two params now, first `locale`, second will be the same.
2. All of the function body can be replaced by practically a method, `moment().fromNow()` method. The `timestampToRelative` method will also set the locale as per t

[2021-03-18 05:33] Maftalion commented on #1855
This looks to have been introduced with the new React Navigation changes and unrelated to the IOU screens, you can set any route or simply close the menu and it will still cause the keyboard to show.

**Proposal**
- The bug actually lives inside `ReportActionCompose`. since the list of chats is really an "open drawer", there is actually a report view mounted as well:
<img width="518" alt="Screen S

[2021-03-18 08:23] shawnborton commented on #1710
I think we can just set a value that looks good to us, perhaps saving all of this as a style. I'll go ahead and comment over on the actual PR so we can chat there (and will tag you all).

[2021-03-18 13:05] tugbadogan commented on #1458
Hi @sakluger, is this issue still relevant? Are you looking for another way of solving this issue?

[2021-03-18 13:55] SameeraMadushan commented on #1853
Working on this proposal

[2021-03-18 16:09] roryabraham commented on #1853
@SameeraMadushan, your proposal looks good. My only early piece of feedback is that the new generic modal type should just be called `CONFIRM` rather than `CENTER_MIDDLE`.

[2021-03-18 16:33] SameeraMadushan commented on #1853
@roryabraham Sure. I will change the type to `CONFIRM` 🙂

[2021-03-18 17:22] iwiznia commented on #1844
@tugbadogan great question! The key should be either a string like `"chatSwitcher.searchInput"` OR an array like `["chatSwitcher", "textInput"]`. Both should work.

@tugbadogan also, keep in mind this, which I don't see in your proposal:

@parasharrajat, no, that will be handled at a higher level, this library is not tasked to detect the browser's locale.

[2021-03-18 18:00] tugbadogan commented on #1844
For missing translations, I'm going to do following to handle that scenario (4th item in my proposal). Am I missing something here?

_4. In translate method, I'm going to extract corresponding language object from translations object. If full locale or first part of the locale is not found in the translations object, I will log an alert to the server like this:_

[2021-03-18 19:03] iwiznia commented on #1856
As stated in the description, let's keep `locale` as the first param on all these methods.

I don't think we need this, as moment comes with defaults already set, no?

Is this needed? For now, we won't really be adding support for more locales, we are just building the base for it for when we actually want to support multiple languages/locales.

[2021-03-18 19:20] iwiznia commented on #1844
Not sure we are saying the same thing or not 😅

There's 2 scenarios:

This is to fallback to english if someone requests a text in for example spanish that the spanish transalation does not have. That will let us know that we missed translating a key to spanish.

This comes after the previous check and it applies only to english (or when we are falling back to english). This has 2 goals:
1. In dev

[2021-03-18 19:31] Julesssss commented on #1855
Hi @Maftalion, thanks for sharing the detailed solution. We would love for you to take on this issue via UpWork if that works for you?

[2021-03-18 20:25] tugbadogan commented on #1844
Thanks for explanation @iwiznia. I got it now 👍 Is there a common way to distinguish dev from prod in the code?

[2021-03-18 20:52] iwiznia commented on #1844
Yes, you can use [this](https://github.com/Expensify/Expensify.cash/blob/17289cd8106a2624662aaa816a7d01a68a3ef14b/src/CONFIG.js#L43)

[2021-03-18 21:40] NicMendonca opened #1870 "[Chat] Swipe to close keyboard on iOS"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

## Expected Result:
Swipe collapses the keyboard, by dragging your thumb from the message window to the keyboard.

## Actual Result:
Swipe to close keyboard is not a supported gesture.

## Action Performed:

- Tap into a chat
- Tap in the co

[2021-03-18 22:00] npsedhain commented on #1856
Hey @iwiznia, thank you for your feedbacks!

You are correct, the parameter should be the first one and not the third. Will do the same.

If I am not mistaken, we do need a basic `.calendar()` function to convert it into the necessary date format. And you are also correct it does come with defaults set and if we are to change that (unlikely), then we would need to alter it by sending a second para

[2021-03-18 22:00] Maftalion commented on #1855
@Julesssss thanks, just submitted a proposal!

Also just want to make sure, but you're fine with the `useIsFocused` hook being used, correct? I think the style guide says to avoid hooks but I don't see an alternative for this.

[2021-03-18 22:26] OnlineSmileDev commented on #1870
@NicMendonca I fixed the above issues with adding ScrollView to your total component.
And we have to give the keyboardShouldPersistTaps='handled' permission to ScrollView.

<ScrollView contentContainerStyle={{flexGrow: 1}}
  keyboardShouldPersistTaps='handled'

  <TextInput />
</ScrollView>

[2021-03-18 22:51] iwiznia commented on #1856
You are correct, but for now, we don't want to import them, since we won't really be supporting any new locales or languages. This project is about paving the way to be able to internationalize/localize the app. A subsequent one will be done to actually translate everything to the most popular locales.
Of course, feel encouraged to test importing some locales and making sure that it all works, but

[2021-03-18 23:19] #1732 closed

[2021-03-18 23:20] OSBotify opened #1883 "Deploy Checklist: Expensify.cash 2021-03-18"
**Release Version:** `1.0.2-82`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/1.0.2-81...1.0.2-82

**This release contains changes from the following pull requests:**
- [ ] https://github.com/Expensify/Expensify.cash/pull/1770
- [ ] https://github.com/Expensify/Expensify.cash/pull/1859
- [ ] https://github.com/Expensify/Expensify.cash/pull/1879

cc @Expensify/applauselea

[2021-03-18 23:21] roryabraham commented on #1883
@Expensify/applauseleads ignore, this is still just a test

[2021-03-18 23:31] npsedhain commented on #1856
That makes sense, thank you for the clarification.

[2021-03-18 23:32] #1710 closed

[2021-03-18 23:46] #1883 closed

[2021-03-18 23:47] OSBotify opened #1891 "Deploy Checklist: Expensify.cash 2021-03-18"
**Release Version:** `1.0.2-84`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/1.0.2-83...1.0.2-84

**This release contains changes from the following pull requests:**
- [ ] https://github.com/Expensify/Expensify.cash/pull/1887
- [ ] https://github.com/Expensify/Expensify.cash/pull/1894

cc @Expensify/applauseleads

[2021-03-18 23:58] roryabraham commented on #1891
@Expensify/applauseleads this is another test, please ignore. Sorry for the noise...there may be a few more.

[2021-03-19 00:03] #1891 closed

[2021-03-19 00:04] OSBotify opened #1899 "Deploy Checklist: Expensify.cash 2021-03-19"
**Release Version:** `1.0.2-86`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/1.0.2-85...1.0.2-86

**This release contains changes from the following pull requests:**
- [ ] https://github.com/Expensify/Expensify.cash/pull/1895
- [ ] https://github.com/Expensify/Expensify.cash/pull/1901

cc @Expensify/applauseleads

[2021-03-19 00:08] barun1997 commented on #1870
Hi @NicMendonca!

I would love to work on the issue!

I did a bit of research and have two solutions for this:

**Solution 1:**

1. Wrap `ReportActionCompose` with a `ScrollView` and use `keyboardDismissMode` to dismiss the keyboard in response to a drag. iOS has 'interactive' which dismisses the keyboard interactively.
2. Wrap the` ScrollView `around a `View` to remove extra padding

During the t

[2021-03-19 00:18] #1899 closed

[2021-03-19 00:19] OSBotify opened #1906 "Deploy Checklist: Expensify.cash 2021-03-19"
**Release Version:** `1.0.2-90`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/1.0.2-89...1.0.2-90

**This release contains changes from the following pull requests:**
- [ ] https://github.com/Expensify/Expensify.cash/pull/1788
- [ ] https://github.com/Expensify/Expensify.cash/pull/1861
- [ ] https://github.com/Expensify/Expensify.cash/pull/1863
- [ ] https://github.com/E

[2021-03-19 05:29] stephanieelliott opened #1913 "iOS issue: Modal closes immediately after launch"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

## Expected Result:
`Add attachment` modal should remain open until dismissed.

## Actual Result:
`Add Attachment` modal closes immediately when we attempt to display it. This only seems to occur when we attempt to launch Modal B from a call

[2021-03-19 05:42] stephanieelliott commented on #1913
Upwork: https://www.upwork.com/jobs/~014b63897c4e74f239

[2021-03-19 06:41] adnan1naeem commented on #1913
@stephanieelliott .I have solved this issue  in many project. Please contact me on upwork
Please  contact me this is my profile
https://www.upwork.com/freelancers/~01f994b11784d8d018

solution to problem:

https://stackoverflow.com/questions/59574338/react-native-image-picker-dialog-automatically-closes-after-launching-in-ios

[2021-03-19 08:01] barun1997 commented on #1913
@stephanieelliott I couldn’t find the modal A in the master branch. Is it yet to be merged? Or am I missing something?

[2021-03-19 09:31] shawnborton commented on #1458
I believe we will be changing what our inputs look like soon, so I think we should close this one out for now as the work done here would be for a short-lived benefit. That being said @tugbadogan look out for a new contributor issue soon regarding new inputs.

[2021-03-19 09:31] #1458 closed

[2021-03-19 09:38] mikeattara commented on #1856
__Proposed Solution__:
1. Change `getLocalMomentFromTimestamp` to take two params, `locale` and `timestamp`, and set the moment locale  and returns a locale-aware date object
2. Add `locale` as the first param to `timestampToRelative()` and `timestampToDateTime()`
2. Use moment’s `fromNow` method for the duration in `timestampToRelative()`
3. Replace most `timestampToDateTime()` with [moment’s `ca

[2021-03-19 10:44] parasharrajat commented on #1856
Before proposing a solution, I have few questions:

Here we have these formats.
[code]
  @iwiznia Do you want me to keep these formats or we have to follow whatever the `moment.calender` has to offer which will be just like relative time offered by `fromNow` but in a different format.

 ### Interim Proposal
  1. As we are converting the timestamp to the moment obj in `getLocalMomentFromTimestamp`.

[2021-03-19 10:57] SameeraMadushan commented on #1856
working on proposal

[2021-03-19 12:22] SameeraMadushan commented on #1853
@kadiealexander  Let me know if I'm good to go with the PR.

[2021-03-19 13:09] npsedhain commented on #1856
Hi @iwiznia , based on our conversation, I have updated my proposal -

As stated the first param for both the functions will be the locale both of them can easily set the locale using moment's `locale('<locale>')` method.

I believe we have come to the consensus that we need the `calendar()` method but to lay it out simply we could stick to the default configuration if it works for us for now.

Si

[2021-03-19 14:01] muratti32 commented on #1913
inside the function that assigned to the onShow props, The state that holds the modal visible value is set to false, causing the modal to vanish after it has been seen.

[2021-03-19 14:23] Julesssss commented on #1855
That's a great point @mallenexpensify. I'm not sure about this so please hold while I confirm this internally. I'll get back to you ASAP.

[2021-03-19 14:35] NicMendonca opened #1914 "Update LHN layout in GSD Priority Mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

## Expected Result:
- For the rows to be tightly stacked, and compact when in "GSD" Priority Mode. The avatars should be smaller and the distance between names/rooms should be less than they currently are in the "Most Recent" Priority Mode:

[2021-03-19 14:58] Julesssss commented on #1913
Hi @barun1997, thanks for mentioning this. The issue is occurring on a branch that has not yet been merged and I've added the details to the description.

As this issue is not yet merged we will need to keep any potential PR on hold.

[2021-03-19 15:31] parasharrajat commented on #1914
Hi @NicMendonca , I would like to work on this issue, I have already worked on a similar issue which requires adding a tooltip to the Chat tile users' names.
## Proposal
1. Take the priority mode settings from Onyx store
[code]
2. Now I see that `OptionRow` component states less and all of the props are being passed from the parent Component. So I will pass down the `priorityMode` from the `Sideba

[2021-03-19 17:11] #1906 closed

[2021-03-19 17:12] OSBotify opened #1919 "Deploy Checklist: Expensify.cash 2021-03-19"
**Release Version:** `1.0.2-92`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/1.0.2-91...1.0.2-92

**This release contains changes from the following pull requests:**
- [ ] https://github.com/Expensify/Expensify.cash/pull/1915
- [ ] https://github.com/Expensify/Expensify.cash/pull/1921

cc @Expensify/applauseleads

[2021-03-19 18:02] #1919 closed

[2021-03-19 18:04] OSBotify opened #1926 "Deploy Checklist: Expensify.cash 2021-03-19"
**Release Version:** `1.0.16-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/1.0.15-0...1.0.16-0

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/1548
- [x] https://github.com/Expensify/Expensify.cash/pull/1568
- [x] https://github.com/Expensify/Expensify.cash/pull/1632
- [x] https://github.com/E

[2021-03-19 18:48] Julesssss commented on #1855
Okay, we’re not quite ready to start using Hooks as this requires a bit more internal discussion and we’d prefer to spend a bit more time exploring alternatives (or reverse engineering Hooks) for now.

But we'd love to hear any other thoughts you had regarding the issue.

[2021-03-19 19:01] iwiznia commented on #1856
I am unsure, what happens if you don't call the calendar method? I think it uses the defaults which are fine, no?

Anyway, other than that, your proposal sounds good @npsedhain

[2021-03-19 19:31] parasharrajat commented on #1855
I am posting a proposal now as I thought it was assigned to the @Maftalion.

## Proposal
1. So as per the comment https://github.com/Expensify/Expensify.cash/issues/1855#issuecomment-803040341, we can't use hooks so I have another solution.
2. Surely, it's the focusing issue as mentioned in the proposed solution above.
[code]
 ReportActionCompose.contextType = NavigationContext;
[code]
   componen

[2021-03-19 19:44] npsedhain commented on #1856
[code]
I believe the reason behind suggesting the calendar function in the first place was the fact that the method helps us achieve the required output in an easier way as opposed to that done in the current implementation.

Current Implementation output -
![image](https://user-images.githubusercontent.com/25154948/111834217-61a11100-891b-11eb-9a87-e48a8496685a.png)

What calendar method is capab

[2021-03-19 19:55] iwiznia commented on #1856
Oh ok, that sounds good.

[2021-03-19 21:14] sakluger opened #1950 "Display loading image until e.cash is usable"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  All, with a focus on mWeb and mobile apps.

**Action Performed (reproducible steps):**
- Open the expensify.cash app on Android app, iOS app, or mobile web.
- Wait until all the content loads.

**Expected Result:**
-

[2021-03-19 21:39] sakluger commented on #1950
Upwork post: https://www.upwork.com/jobs/~015fafafbf1411e6a4

[2021-03-19 22:18] kidroca commented on #1913
The problem comes from the next view that appears after the modal closes is another kind of modal - action sheet (ios).
They are both modal type components they use the same native mechanism to handle a modal.
The first modal need to fully close before triggering the second one
I see you are using the `onModalHide` prop witch should fire when the modal is completely hidden, but since a delay fixes

[2021-03-20 00:45] barun1997 commented on #1950
Hi,

I would love to work on this issue!

**My proposal:**

1. Create a loading screen with Expensify.Cash icon centered in the view.
2.  If I am not mistaken, the current screen goes blank when the following methods fetch in `AuthScreens.js`: `PersonalDetails.fetch();`
`PersonalDetails.fetchTimezone();`
`getBetas();`
`fetchAllReports(true, true)` as well as when Onyx is migrated and when `initial

[2021-03-20 00:50] Maftalion commented on #1855
@Julesssss I'm fine with deferring this task to @parasharrajat since he took the time to figure out how to do it without using the hook. My only suggestion would be to set it up as a HOC so this can used on other screens as well without needing all the boilerplate.

I also found another way to fix this as well, if we just use `this.props.isSmallScreenWidth && !Navigation.isDrawerOpen()` instead of

[2021-03-20 01:00] parasharrajat commented on #1855
Interesting Hack @Maftalion . Will try this one as well. Thanks for sharing.

[2021-03-20 01:42] npsedhain commented on #1856
Thanks @iwiznia I will start working on it then.

[2021-03-20 07:05] wildanmuhlis2 commented on #1870
Hi,

I've applied for the Upwork job.

My proposed solution:

Attach PanResponder to ReportActionCompose component and make the PanResponder and the Textinput coexist so that a tap will focus on the TextInput and a swipe will still trigger the PanResponder callbacks.

[2021-03-20 13:44] medmo7 commented on #1950
Hello,

 Is the app build with Expo or React Native init?

Integrating a splash screen is ok for this problem.

I have submitted a proposal on Upwork.

[2021-03-20 16:36] parasharrajat opened #1967 "LHN background color is not correct."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___
There are a couple of styling issues.

- [ ] LHN Bg color.
- [ ] LHN Chat hover style.

## Expected Result:

![Screenshot_2021-03-20 Expensify cash - Chat with friends to send and receive money](https://user-images.githubusercontent.com/24370

[2021-03-20 19:04] SameeraMadushan commented on #1950
Hi @sakluger,

Here is my proposal for this task.

### Proposal

### iOS and Android

- I will use `[react-native-splash-screen](https://www.npmjs.com/package/react-native-splash-screen)` for both android and iOS
- This package will be used to get the animation from the native level. (When the app opens it will come with the splash icon)
- With this package, we have to call `SplashScreen.hide();`

[2021-03-21 02:29] kidroca commented on #1856
#### I think having a `locale()` or `setLocale()` **method** would be a better alternative

#### Cons of having a `locale` parameter:
1. Users of `DateUtils` would always have to be directly coupled with a `locale` providing mechanism so that they can call methods
2. Every new method added to the `DateUtils` would probably need the `locale` parameter
3. Libraries like `moment` need a **locale load

[2021-03-21 17:30] puneetlath opened #1968 "Updates to validation check messaging when inviting email/phone numbers"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

## Current
Right now, when start a chat with a new user who you've never chatted with before, and you enter only letters this is what you see.
![image](https://user-images.githubusercontent.com/1371996/111914553-74f9cc80-8a40-11eb-86de-0e949

[2021-03-21 17:59] kidroca commented on #1844
#### Regarding bundling and loading all the supported languages

This will add some maintenance limitations:
1. Translations are bundled inside the app -> you will have to resubmit the app to the store for translation fixes
2. All translations are loaded while only one is used
3. All translation have to be loaded before using the app

As the app grows these factors will increase proportionally

In

[2021-03-21 18:11] muhammadzaman0510 commented on #1968
This is how I'll fix the issue.

- I will search for those message where those are implemented in code
- Will change the implementation so that instead of showing those message I will pass the updated text whatever is written in text input by the user as explained in job
- For digits I will change the message as explained in job, I believe code already differentiating between string and digits so

[2021-03-21 18:51] umarsalahudin commented on #1968
#Quick Fix

- Review the code carefully and remove the feedback message.
- Make the selectable field border grey and unselectable until the correct email and number is enetered
- Show the field selectable or optional (add green border) if the email is correct.
- Also for digit show the message "Please enter a phone number including the country code e.g +447814266907" if it begins with 0.

[2021-03-21 20:22] jwh315 commented on #1968
I can see that the `Don't see who you are looking for...` error message is defined in a [constant here](https://github.com/Expensify/Expensify.cash/blob/4bc32214cd2158a02053da8bf6c3619ad3505d63/src/CONST.js#L58).

This constant is referenced in a [helper function](https://github.com/Expensify/Expensify.cash/blob/3431bf0b59f531bee31cee0f9e11e6fc1ad12bcf/src/libs/OptionsListUtils.js#L413) that is us

[2021-03-21 21:45] jliexpensify commented on #1855
Hi @parasharrajat and @Maftalion - thanks for both sharing potential solutions. So that I'm 100% clear on things, was it decided that Rajat was going to take this on instead?

If so, please let me know and I'll look into changing this in Upwork. @parasharrajat if you are taking this on, do you mind submitting a proposal in Upwork as well?

cc @Julesssss re: the discussion on not using hooks

[2021-03-21 22:14] jliexpensify opened #1970 "[Pay on Thursday 27th May] [IOU] Create Currency Modal, with geolocation and Location permissions"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

## Context

This issue builds on top of the existing IOU Modal, which was implemented [in this PR](https://github.com/Expensify/Expensify.cash/pull/1561). The `IOU Amount` step page has already [been created](https://github.com/Expensify/Exp

[2021-03-21 23:33] rameshhpathak commented on #1970
Hi, I would love to work on this issue!

### My proposal:    

1. I will create a new API.js function for calling `GetPreferredCurrency` and another for calling `GetCurrencyList `

2. Install the `react-native-geolocation `as well as `react-native-permissions` libraries to the project.

3. Create a new function within the `PersonalDetails.js` action which calls `GetPreferredCurrency` API.js functi

[2021-03-22 00:56] Christinadobrzyn commented on #1856
Hey @npsedhain I asked our engineers to review the other proposals before making a decision on these proposals. I will follow up as soon as I have an update from our team!

[2021-03-22 04:03] npsedhain commented on #1856
Sure @Christinadobrzyn, thanks!

[2021-03-22 04:32] kadiealexander commented on #1853
Hey @SameeraMadushan! Sorry, we had an internal hiccup that prevented me from moving forward before the weekend. I've just accepted your proposal in Upwork, please go ahead!

[2021-03-22 05:55] SameeraMadushan commented on #1853
That's fine @kadiealexander. I will start working on it. Thanks.

[2021-03-22 11:37] SameeraMadushan commented on #1968
Working on the proposal.

[2021-03-22 12:10] Julesssss commented on #1855
@jliexpensify yeah, that's right.

Thanks to both of you for figuring this issue out.

[2021-03-22 13:46] parasharrajat commented on #1967
@shawnborton I think due to migration to the `react-navigation` we missed this. I noticed when hovering over the row there was no effect on the LHN. Please confirm if this is legit. I have PR ready to fix this.

[2021-03-22 14:31] shawnborton commented on #1967
Good catch @parasharrajat! You are correct, your bug is legit. For your PR, you might also want to make sure the color of the LHN matches the color of the status bar on iOS - I vaguely recall there being a small discrepancy there.

[2021-03-22 14:32] parasharrajat commented on #1967
Ok.

[2021-03-22 14:34] shawnborton commented on #1967
Yes, but think of it the other way around - the status bar should match the LHN (`gray1`). Then when we navigate to a chat, the status bar should match the background color of a chat (white).

[2021-03-22 14:37] parasharrajat commented on #1967
Oh yeah. Sure.

[2021-03-22 16:41] Julesssss commented on #1970
Hi @rameshhpathak -- thanks for your proposal.

Nice spot. Yeah, that would be preferred.

[2021-03-22 16:57] rameshhpathak commented on #1970
Got it. Thanks.  Also, have submitted the proposal on job posting under the name Ramesh Pathak.

[2021-03-22 17:14] arielgreen commented on #1614
Closing per internal discussion.

[2021-03-22 17:14] #1614 closed

[2021-03-22 18:08] marklouisdeshaun opened #1985 "User's own messages displaying as unread in other platforms"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

## Expected Result:
When a user sends a message in one platform (e.g., Desktop) using Expensify.cash, this user's own message should not show up as unread in another platform (e.g., Mobile).

## Actual Result:
The user's own messages sent in

[2021-03-22 18:28] Jag96 opened #1988 "[Chat] [IOU] Create IOUConfirm step"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Upwork Posting**: https://www.upwork.com/jobs/~01744b3390e36e5f36

This issue builds on top of the existing IOU Modal, which was implemented [in this PR](https://github.com/Expensify/Expensify.cash/pull/1561). The `IOU Confirm` step page h

[2021-03-22 18:28] Julesssss commented on #1913
FYI, we have merged the PR now, so you should be able to reproduce locally.

Thanks for your proposal @kidroca. We would prefer to use our own custom bottom-sheet options modal, rather than an iOS style action-sheet. Ideally we would use our own option-picker UI which didn't exist when we implemented ImagePicker. But as this s built on top of Modal, we would still have the Modal issue.

Because of

[2021-03-22 18:33] roryabraham commented on #1778
@parasharrajat Your proposal looks pretty good, but I do have some comments:

1) I think we'll want to use `@react-native-community/clipboard` component because the one that ships with `RN` is deprecated:

![image](https://user-images.githubusercontent.com/47436092/112038434-0f6d1500-8b00-11eb-9846-19ddd4f3e7ab.png)

2)  > We will send the action prop from the Parent Context.

Let's actually just

[2021-03-22 18:35] parasharrajat commented on #1985
## Proposal
1. as we calculate the Unread message count here
https://github.com/Expensify/Expensify.cash/blob/4b914da1ca209c8ca14c55d9f6fbfe88449ef09c/src/libs/actions/Report.js#L336-367
we have to update line 355 so that it does not update the unreadActionCount when a message is from the current user.
like this.
[code]
isFromCurrentUser tells us if the message is coming from the same user or not

[2021-03-22 18:47] roryabraham commented on #1778
Also @parasharrajat, after the text is copied to the clipboard, can we change the clipboard icon to a green checkmark and have the tooltip text display `Copied!` until the menu is closed and reopened. For a demo of a similar experience, try copying the branch name of the head branch of a pull request in Github:

![image](https://user-images.githubusercontent.com/47436092/112041985-3b8a9500-8b04-11

[2021-03-22 18:55] parasharrajat commented on #1778
@roryabraham Thanks for clarifying the doubts.
I also agree that we should move the images part to the new issue as this involves a little more and especially the native part. So
I will work over the text part for now.

About the tick, surely we can do that. But where do you want to show that? On the context menu or hover menu.

[2021-03-22 18:58] tgolen commented on #1778
@roryabraham I like your proposal for the image support. I think we should contact the contributors directly and offer to pay them to do that issue, rather than just waiting for them to prioritize it on their own.

[2021-03-22 18:58] roryabraham commented on #1778
Well, just to clarify the "context menu" and "hover menu" are just different manifestations of the `ReportActionContextMenu`, and they should never show at the same time. A similar effect with the checkmark should be implemented on both, ideally.

[2021-03-22 19:05] johnmlee101 commented on #1691
Hi @tugbadogan looks like a regression was introduced here:

The line introduced in your code here seems to be the cause:
https://github.com/Expensify/Expensify.cash/blob/82d9f5c793ee1f70a1ec2caa870704e7c106580e/src/components/TextInputFocusable/index.js#L113

Let me know if you have any questions about this!

## Regression
**Platform - version:**

web - v1.0.2-91

**Action Performed (reproducible

[2021-03-22 19:26] kidroca commented on #1913
Thanks for the info @Julesssss

What you have planned would actually work if you use a Modal for the 2nd menu, as long as it's not an Action Sheet

I've played around with this and narrowed the problem to precisely the Modal closes -> Action Sheet opens transition.
I've checked and if you open another modal (similar to the one used in `CreateMenu`) there's no such problem - the first modal closes

[2021-03-22 20:21] marcaaron commented on #1870
@barun1997 The PanResponder solution sounds preferable. Could we  perhaps design this in a way so that any element could be wrapped with something like `SwipeableView` and have an `onSwipeDown` prop?

[code]

[2021-03-22 20:54] tugbadogan commented on #1691
Hi @johnmlee101,

Thanks for flagging this issue. In order to resolve this issue, I'm planning to add a prop to `TextInputFocusable` component to control cursor position (whether we should keep the cursor at the end all the time) and set this prop in `IOUAmount` page.

I will send the PR soon.

[2021-03-22 22:23] barun1997 commented on #1870
@marcaaron Of course! Will do. I am guessing, we pass `onSwipeDown` as a prop to the component as well?

[2021-03-22 23:18] barun1997 commented on #1988
Hey @Jag96, I notice you have self-assigned this issue. Is it still pending a proposal? In that case, I would like to contribute to this issue. The issue's a continuity to an earlier issue I contributed in: #1694

### My proposal:

- Modify `getTitleForStep` in IOUModal to match the title from IOUParticipants step for the IOUConfirmation page

- We have two ways to render a page:

		I. If it's Bil

[2021-03-22 23:30] tugbadogan commented on #1988
Hi, I would like to work on this issue. Here is my proposal:

I will modify first if condition here to have same title with Participants step:
https://github.com/Expensify/Expensify.cash/blob/fa6185b2c51fdc0f28ab9cbc48b8a306f64a537d/src/pages/iou/IOUModal.js#L65-L73

I will pass `hasMultipleParticipants` prop to `IOUConfirmPage` component to distinguish bill split and request money. If it is a bil

[2021-03-23 02:39] npsedhain commented on #1856
Hey @Christinadobrzyn, I got the offer, but you seem to have mistakenly unassigned me here. However, I will get started with this right away! Thank you.

[2021-03-23 02:53] #1711 closed

[2021-03-23 03:02] jliexpensify commented on #1855
Awesome, as discussed - I've hired @parasharrajat via Upworks. Thanks for all your help @Maftalion !

[2021-03-23 03:39] Christinadobrzyn commented on #1856
Hi @npsedhain - sorry for any confusion! I sent an offer to you in Upwork and assigned this GH issue to you. Feel free to start working on it and make sure to add any updates in this GH for our engineers to review!

[2021-03-23 04:09] Christinadobrzyn commented on #1498
Hi @lucas-neuhaus-dev - Just checking it to see if you have an update on these changes!

[2021-03-23 12:10] Julesssss commented on #1913
Thanks for your updated proposal!

Let's await feedback from the design team to confirm what type of UI we should use here to replace the default `react-native-image-picker` UI.

Hey @Expensify/design, we're looking to replace the native-style attachment UI that is used on mobile (we need to update to fix a bug in the library). We didn't have a consistent component style when we originally impleme

[2021-03-23 12:15] shawnborton commented on #1913
I think it makes sense to use the same styles that we use for the green floating action button on the home screen. So basically just launch a bottomDocked modal that has a few options. Would that work well?
![image](https://user-images.githubusercontent.com/2319350/112144698-d7d29b80-8bd9-11eb-9dc3-904a64dad906.png)

[2021-03-23 12:47] Julesssss commented on #1913
I believe that's exactly what @kidroca had in mind here:

Sounds good to me!

[2021-03-23 13:23] kidroca commented on #1913
Yep, it's pretty close  to `CreateMenu` and it can be refactored for reuse:

![image](https://user-images.githubusercontent.com/12156624/112151160-977b1980-8be9-11eb-9af2-b05a16b18d78.png)

I see 2 easy approaches:

The question is do you prefer the `MENU_ITEMS` extracted and provided by a parent or a HOC?
Or do you prefer to keep it the way it is and include the attachment options (Take Photo, Ch

[2021-03-23 13:37] flodnv commented on #1914
Hi @parasharrajat, your proposal sounds good, go ahead! One small comment with regards to (3): perhaps we would just pass the desired size in px to the prop, rather than `default|small` ?

@Expensify/design what should the exact size be?

[2021-03-23 13:41] shawnborton commented on #1914
The mockups shown in the original comment are the exact sizes we need. We can provide a Figma file and help out with the PR review as well.

[2021-03-23 14:03] parasharrajat commented on #1914
Ok Thanks. We will clear the sizes on the PR.

There are few things which I took into consideration before deciding this:

1. In old issues, we followed the same pattern for Header Component.
2. I also think that we could have maximum three standard sizes like `small | default | large` for the Avatar on the `OptionRow`.
3. Also, I have realized that we are trying to keep all the styling out of the

[2021-03-23 14:11] tugbadogan commented on #1691
Hi @johnmlee101,

I fixed the problem and created a PR.
https://github.com/Expensify/Expensify.cash/pull/2010/files

[2021-03-23 14:38] Julesssss commented on #1988
Thanks for both of your submissions. We'll go with @barun1997 as his submission was first.

[2021-03-23 15:46] barun1997 commented on #1988
@Julesssss  Thanks for the assignment! I will start working on it right away.

@Jag96 I've applied for the job posting in Upwork. Please kindly take a look.

[2021-03-23 16:09] marcaaron commented on #1870
Right, it would be fired whenever we swipe down, but will be a callback function.

[2021-03-23 16:18] barun1997 commented on #1870
Great, gotcha @marcaaron ! Am I good to go with working for the PR on the issue?

[2021-03-23 17:00] #1967 closed

[2021-03-23 17:31] roryabraham commented on #1914
Yeah, I think you should use the `withOnyx` HOC to provide the `OptionRow` component with the the `priorityMode`.

With regards to (3), I think I agree with the original proposed solution, because `MultipleAvatars` has it's own internal logic for sizing and spacing the individual avatars, and it might be complex to make that work generically for any pixel value, when we only need it to work for tw

[2021-03-23 19:01] #1844 closed

[2021-03-23 19:24] tylerkaraszewski commented on #1985
I need to find some time to get myself familiar enough with this code to reasonably evaluate the solution. I will try tomorrow morning.

[2021-03-23 20:05] #1853 closed

[2021-03-23 20:45] #1677 closed

[2021-03-23 22:40] mallenexpensify commented on #1341
cc @tgolen so you can follow along

[2021-03-23 22:58] trjExpensify opened #2025 "Expand swipe area for navigating between screens"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

## Expected Result:
Ideally you could swipe either all or most of the screen to navigate backwards/forwards from the LHN to the chat.

## Actual Result:
The swipe area is like a single pixel right on the edge.

## Action Performed:
1. Open a

[2021-03-24 00:25] trjExpensify opened #2027 "[Chat] [IOU] Create Preview Component"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

This issue builds on top of the existing IOU feature, allows users to create payment requests and group bill splits. The IOU data that you will be displaying is already being [persisted here via Onyx](https://github.com/Expensify/Expensify.c

[2021-03-24 00:58] tugbadogan commented on #2025
Hi,

I would like to work on this issue. Here is my proposal:

I'm going to add `edgeWith={50}` prop to `Drawer.Navigator` in `MainDrawerNavigator` component.

https://github.com/Expensify/Expensify.cash/blob/87c154059813dd0994686cc8e83b77a62e076be8/src/libs/Navigation/AppNavigator/MainDrawerNavigator.js#L20-L25

This is how swipe gesture works for drawer navigator. I think it's different from Sta

[2021-03-24 04:03] kadiealexander opened #2028 "[Chat] Fix backspace to return to previous chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

The behaviour of the back button in a web/mobile browser needs to be refined.

## Expected Result/Deliverable:
You should shift back to the previous chat.

## Actual Result:
In desktop web: it goes to https://expensify.cash/r/ and content st

[2021-03-24 04:17] kadiealexander commented on #2028
Upwork posting: https://www.upwork.com/jobs/~014dab1ed80ed6c3a2

[2021-03-24 04:20] kadiealexander opened #2029 "[User Settings] Allow users to add secondary logins"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

With the new Settings > Profile page having been added, we need to add some new functionality: Allowing users to add new secondary logins.

### Deliverables
- **Logins (Email and Phone Number):**
    - Get the `loginList` from the `user` ony

[2021-03-24 04:25] kadiealexander commented on #2029
Upwork link: https://www.upwork.com/jobs/~01de860349951ca871

[2021-03-24 05:41] rameshhpathak commented on #2027
Hi, here is my take.

I’ll create `ReportActionItemIOUPreview `component which will be used to render the IOU preview from the data available within Onyx

I will add extra fields (`state`, `status`, and `chatReportId`)

The newly created ReportActionItemIOUPreview component will take `chatReportID`, `action`, and `isMostRecent `as props

I will then use `ONYXKEYS.COLLECTION.REPORT_IOUS}${iouReport

[2021-03-24 07:59] Regaron commented on #2029
Hi, I applied for the job in Upwork. Let me know if I can work on this issue.

Here’s how I will approach this issue:

1. I will get the `loginList` from `Onyx` using the user key. This will give us login lists, so we can find if we have any secondary logins that we could display.

	loginList is an array `[ { partnerName: ‘…’, partnerUserId: ‘…’, validatedDate: ‘’}]`

2. Through the login list, if

[2021-03-24 09:24] mikeattara commented on #2028
Hello @kadiealexander,

I would love to work on this issue, and putting together a proposal.

[2021-03-24 10:14] SameeraMadushan commented on #2028
Hi @kadiealexander

I would like to participate in this issue.

### Problem

- Here we have navigation for reports as `r/:reportID`
- So, when we navigate between reports on the web, It only changes the parameter of the URL. It does not change the screen.
- https://github.com/Expensify/Expensify.cash/blob/9b282f10de193d9a4115bc30f51e0dfdb4133050/src/libs/Navigation/linkingConfig.js#L5-L14
- In `re

[2021-03-24 11:56] Julesssss commented on #2027
Good point. That is out of scope of this issue but to give you an idea of how it will work eventually, when the user taps 'pay' or 'view details' a Modal will be displayed on top of the current page, listing all transactions and allowing the user to pay or decline. So no need to worry about that for now.

There's one other detail I missed in the description: In order to determine who owes who, you

[2021-03-24 12:59] rameshhpathak commented on #2027
Ah, I got it!

So, I revise my proposal to use managerEmail within the IOUReportData to determine who owes who. I’ll just use that, and fill it as:

name corresponding to {managerEmail} owes the name not corresponding to {managerEmail}

[2021-03-24 13:01] tugbadogan commented on #2027
Hi @trjExpensify,

I would like to work on this issue. Here is my proposal:

I will create `ReportActionItemIOUPreview` component in here:
https://github.com/Expensify/Expensify.cash/tree/master/src/components

I will add `chatReportId`,  `state`, and `status` fields to object returned by `getSimplifiedIOUReport()` function in `Report.js`. So these fields will be stores in Onyx.

I will add `chatR

[2021-03-24 13:19] Julesssss commented on #2027
Ah good point. As we are already storing the transaction data in Onyx, I think we can pass transactions (or maybe just the most recent transaction) as a prop to the PreviewComponent.

Then, we know the IOU was settled, so we should be able to take the most recent transaction and work out who paid who last... Do you think that would work?

Whoops, yeah that should work. Let me know if you have any

[2021-03-24 13:41] trjExpensify commented on #2027
Awesome, thanks guys! I've sent the offer to you @tugbadogan, as @rameshhpathak I can see that you're working on the currency modal for this project already - which is super valuable and important to complete in tandem with this issue.

[2021-03-24 14:42] tugbadogan commented on #2027
I managed to create IOUReport with API call. I found that created IOU report is stored in Onyx with `reportIOUs_<IOUReportID> `key, do you want me to change it to store as `reportIOUs_<ChatReportID`> or do we need to keep it as is, add `chatReportID` to stored object and search all `reportIOUs_` and filter by `chatReportID` from Onyx value?
[code]

[2021-03-24 14:45] tugbadogan commented on #2027
Thanks for the offer @trjExpensify, I started working on this issue

[2021-03-24 14:56] Julesssss commented on #2027
The second method. We'll need to keep using <IOUReportID> for the `GetIOUReport` key as we will depend on this elsewhere.

[2021-03-24 15:25] mikeattara commented on #2028
It's important to use links as the primary way of navigation instead of navigation actions such as `navigation.navigate`. It'll ensure that links are properly usable on web. [reference](https://reactnavigation.org/docs/web-support/)

__My proposal__
- Create a custom link which let us navigate to a screen using a path instead of a screen name based on the [linking options](https://github.com/Expen

[2021-03-24 16:04] mallenexpensify commented on #2029
@kadiealexander I assigned @NikkiWines because she was the engineer who created the issue in the Expensify repo.  Either of you update as needed

[2021-03-24 16:09] #1691 closed

[2021-03-24 16:15] roryabraham commented on #1490
We've had a minor issue with the solution here, in that tooltips are appearing on mobile web.

[2021-03-24 16:23] parasharrajat commented on #1490
Sure. I will pick this one. Let me think about the solution and get back to you, here.

[2021-03-24 16:29] roryabraham commented on #1490
@parasharrajat One potential solution is to:

1) set up a listener in `Hoverable/index.js` for the `touchstart` event which sets a property on the class called `hoverDisabled`
2) Update `setIsHovered` so that it doesn't set the hover state to true if hover is disabled:

[code]

3) Set up a listener in for the `touchend` event to set `hoverDisabled` back to false. That way it's future-proof and we

[2021-03-24 16:33] roryabraham commented on #1490
Another potential solution (less fleshed out) would be to:

1) Give the tooltip display animation a delay, so that it only displays after an element has been hovered for 500ms.
2) `onHoverOut`, cancel the animation
3) Set up some global function like `hideAllTooltips` that we can use to hide any & all tooltips whenever there is a navigation change. That will hide tooltips when modals appear, a new

[2021-03-24 16:33] roryabraham commented on #1490
We could also do both 😃

[2021-03-24 16:39] mallenexpensify commented on #2029
Updated Upwork job link https://www.upwork.com/jobs/~0106579357feaa2345

[2021-03-24 16:40] parasharrajat commented on #1490
Do you want the tooltips to be shown on the mobile web?

If no, then I would say just disable the Tooltips for Mobile Web.
Otherwise, I would pick the first solution over the second. It would save a lot of computation.
I like the Idea of animation delay. I guess we will cover this in #1778.

[2021-03-24 16:52] roryabraham commented on #1490
I think I prefer the first solution I outlined, because it allows us to have tooltips on hybrid devices (which are increasingly common).

[2021-03-24 17:29] marcaaron commented on #1490
Agree. And while we are going back in can we also please tone down the scaling effect here? I think a simple fade would look a lot cleaner, but curious to get @shawnborton's thoughts.

[2021-03-24 17:31] mallenexpensify commented on #986
Reposted this on Upwork https://www.upwork.com/jobs/~01fc428a62f97f17a2
Please create new comments for proposals, even if you're already commented above

[2021-03-24 17:35] mallenexpensify commented on #986
@tgolen assigning to you to review incoming proposals because you were picked via auto-assigner for the issue in the Expensify repo

[2021-03-24 17:55] mallenexpensify commented on #1950
@marcaaron assigned you to review proposals since you added the External tag here https://github.com/Expensify/Expensify/issues/155376#issuecomment-788204794

[2021-03-24 18:01] npsedhain opened #2041 "[Chat] scrollToIndex out of range while opening keyboard on IOS."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

## Expected Result:
- In the main chat home page of the application, when the user selects a conversation. The user should be able to open the keyboard and type without any issue.

## Actual Result:
- When the user activates the keyboard, th

[2021-03-24 18:13] parasharrajat commented on #1490
@roryabraham Unfortunately. First Solution is not working as expected.[Read  here why **#1 - Clicking and Tapping - the "Natural" Order of Things**](https://www.html5rocks.com/en/mobile/touchandmouse/#toc-stateoftouch). Touchend fires before mouseEnter thus it resets the state we want.

But I have adjusted it.
We have to replace `touchend` with `touchmove` and set the `hoverDisabled` to `false` in

[2021-03-24 18:36] shawnborton commented on #1490
That works for me. Something nice and clean.

[2021-03-24 18:46] parasharrajat commented on #1490
Okay, @shawnborton  @marcaaron. I will refer this to a new PR shortly.

[2021-03-24 18:48] marcaaron commented on #1950
@barun1997 This plan seems reasonable, but I think incomplete.

@SameeraMadushan I'm curious to hear more about why this package is necessary.

Should we have the same effect on web? I think maybe, yes, since we may see issues on mobile web platforms where initial data fetching takes time to happen and the page is not yet interactive.

One thing to watch out for with this approach is that we will

[2021-03-24 19:21] roryabraham commented on #1490
I personally think that just the delay will be enough to alleviate the "busyness" that the tooltips have right now. I kind of like the scaling effect.

[2021-03-24 19:30] roryabraham commented on #1490
Reopening since @parasharrajat has another PR coming for the tooltip delay

[2021-03-24 19:37] aliabbasmalik8 commented on #986
@sketchydroide is it okay?
for ios
![image](https://user-images.githubusercontent.com/31027036/112372570-e1dac400-8cd7-11eb-94a2-94a82276afc1.png)

![image](https://user-images.githubusercontent.com/31027036/112372623-ee5f1c80-8cd7-11eb-9c07-600870ba4f40.png)

and for web
![image](https://user-images.githubusercontent.com/31027036/112372847-37af6c00-8cd8-11eb-84b4-1604a3e60005.png)

[2021-03-24 19:46] marcaaron commented on #2025
Just took a look at the docs and that makes sense to me @tugbadogan (also we are on react-navigation v5)
https://reactnavigation.org/docs/drawer-navigator/#edgewidth

[2021-03-24 19:53] Maftalion commented on #2029
**Proposal**

- I'll add the `USER` onyx key to the ProfilePage to access the `loginList`
- Email/Password would re-use the same component to determine non-existant/unvalidated/validated
- If there are multiple secondary logins, I'd check to see if one is verified and if not I'd use the first one
- If secondary login is verified, it will be disabled
- if it's unverified, the input would be disable

[2021-03-24 20:00] arielgreen opened #2051 "Switching between chats using LHN causes chats to get stuck offscreen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

## Expected Result:

When switching between chats in mobile web for E.Cash, I expect the chat to load and display correctly

## Actual Result:

When switching between chats in mobile web for E.cash in Chrome on iOS, the second chat you switc

[2021-03-24 20:12] tugbadogan commented on #2025
Thanks for the offer, I will send the PR soon. I'm planning to set `edgeWidth` to 500. Is that OK?

[2021-03-24 20:15] SameeraMadushan commented on #1950
@marcaaron splash screen package used only for mobile. It improves the user experience. Now when you open the app, the first thing you will see the white screen. With this package, instantly you will see the splash icon. ex: Twitter app

To have the same effect on the web, I'll only use the JS implementation.
The below diagram will explain the flow.
![Screenshot 2021-03-25 at 01 24 00](https://use

[2021-03-24 20:28] marcaaron commented on #1950
👍

That doesn't really tell the whole story. We load minimal UI elements when we are logged out so it's not surprise the initial render is quick.  I have tested the proposed solution to delay rendering until after the APIs are complete with a production account that has many chats and users. To be sure, it helps some, but sorry does not solve this issue completely.

[2021-03-24 20:37] kadiealexander opened #2053 "[User Settings] Allow users to modify avatar photo"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

With the new Settings > Profile page having been added, we need to add some new functionality: Allowing users to modify their avatar.

### Deliverables
- Add a button with `Edit Photo` beneath the avatar on the Settings > Profile page. If th

[2021-03-24 20:37] tylerkaraszewski commented on #2025
Thanks @marcaaron!

[2021-03-24 20:42] kadiealexander commented on #2053
Upwork post: https://www.upwork.com/jobs/~017152423e80b99dba

[2021-03-24 21:00] marcaaron commented on #1985
I'm not sure that's correct. If it's from the current user then we already update the last unread to be the current `sequenceNumber` (which is correct so something else is happening)

https://github.com/Expensify/Expensify.cash/blob/bd8191ad56665fa8e479fc59d9cb8456ac44ffbb/src/libs/actions/Report.js#L339-L346

If we only update the unread count when the message is _not_ from the user then surely t

[2021-03-24 21:15] yuriitarnavskyi commented on #2053
Hello, Nikki Wines.
I am Yurii Tarnavskyi from Ukraine. Just I have submitted a proposal via upwork to this job.

[2021-03-24 21:27] parasharrajat commented on #1985
@marcaaron
So on line 339 `lastReadSquenceNumber` would be the last value stored on the platform.
now we do update it in setLocalLastRead to the `newMaxSequenceNumber`
https://github.com/Expensify/Expensify.cash/blob/4b914da1ca209c8ca14c55d9f6fbfe88449ef09c/src/libs/actions/Report.js#L300-L301
But the `lastReadSquenceNumber` on line 339 still refers to the old numeric value.
thus on line 355
https

[2021-03-24 21:59] marcaaron commented on #1985
Sounds like the bug to me @parasharrajat! We have a stale reference to the `lastReadSequenceNumber` and probably just need to declare it after we update the last read. Gonna assign you here.

[2021-03-24 21:59] Regaron commented on #2053
Hi, @kadiealexander!

I will solve the issue by doing the following:

1. Add a button with Edit Photo beneath the avatar on the Settings > Profile page. When the button is pressed, I will leverage the existing `CreateMenu` component to display two menu options to either add or delete photos.

It will be done using `MENU_ITEMS` quite similar to this:
[code]

`onAttachmentPickerSelected()` will leve

[2021-03-24 22:43] NikkiWines commented on #2029
Both emails and phone numbers should have the text `This <email/phone number> has not yet been validated. Click the link to resend the validation link via <email/text>.

Good questions!

1. Let's disable the add button until a valid phone number/email has been entered
2. Let's also disable the `Send Validation` button until a password has been entered (I don't think we need to check for password c

[2021-03-24 23:28] yuriitarnavskyi commented on #2053
Hello, Nikki Wines
Here is my solution.
- Add a button with Edit Photo beneath the avatar on the Settings > Profile page. If this button is pressed we should display two menu options allowing the user to either add the photo or remove it.
    * Create "Edit Photo" using Pressable Compontn of react-native.
    * When press this button, Create popup menu with 2 menus(Add New Photo & Remove Photo ) w

[2021-03-24 23:30] trjExpensify opened #2063 "Images not uploading when you hit return immediately after pasting"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Expected Result:**
- The Image should upload

**Actual Result:**
- The image doesn't upload and the upload attachment modal closes

**Action Performed (reproducible steps):**
- Copy an image to clipboard
- Click on compose box in chat with

[2021-03-25 00:11] AndrewGable commented on #1913
@kidroca - Thank you for your solution, I have sent sent you the job on upwork. We look forward to your pull request.

[2021-03-25 00:39] Maftalion commented on #2053
**Proposal**
- Add button that would user the CreateMenu component
- Add two new values to the MENU_ITEMS for: UPLOAD_PHOTO, DELETE_PHOTO
- For the `menuOptions` one or both values would be passed in. (I can hide the DELETE_PHOTO option if the avatar is already a default avatar by looking for `/images/avatars/avatar` in the URL)
- As far as handling the menu item selection, either it can be done w

[2021-03-25 00:44] michelle-thompson commented on #2029
Hmm, you're right that this could potentially be confusing for the user. With that said, I think the clearest way to do this would be remove the `Add` button altogether and rely on the `Save` button to prompt the password screen. This also means `Save` would be disabled until a proper email/number is detected.

To be clear, I'm suggesting we keep the `Resend` button still.

Would love a second opi

[2021-03-25 00:58] trjExpensify opened #2066 "Inconsistent Android back button behavior while navigated to a modal view"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

## Expected Result:
The Android hardware back button should work when pressed.

## Actual Result:
When you open the settings page the first back button press is ignored (as if an extra invisible page was added to the page stack), but the sec

[2021-03-25 01:22] #1490 closed

[2021-03-25 03:02] mernxl opened #2073 "Issues signing up, Error on new account sign in"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___
Hello, i am a new dev, was trying to replicate #2063, I did encounter the following issues when signing up on .cash (both localhost and the online expensify.cash site)

FYI: I could not replicate the issue (#2063), does marking an issue with

[2021-03-25 03:15] mernxl commented on #2073
For the first account, i refreshed it didn't fix the issue.
The second rather, after sending a message from first account, waiting long on the .cash site, i refreshed and I could see my messages.

[2021-03-25 03:59] kaushiktd commented on #2029
Hi,

This is Kaushik and have applied on your job under my name Kaushik Kapadiya. This is my technical explanation that can be understood easily,

1.  First of all get all user login list from onyx then check
   a.  if the email address is primary, we have to display a phone login as secondary if it exists.
   b.  if the phone number is primary login, we have to display an email address as seconda

[2021-03-25 08:23] shawnborton commented on #2029
@michelle-thompson @Maftalion that sounds great to me - I like just having one save button for the entire page, and I agree it makes sense to keep the resend button.

[2021-03-25 09:17] kaushiktd commented on #2029
Glad you liked my suggestion.

[2021-03-25 09:17] laurenreidexpensify commented on #1490
Okay - because of the regression with _tooltips are appearing on mobile web_, payment will now be 7 days from yesterday's deploy - so 31 March.

[2021-03-25 10:07] johndev0711 commented on #1968
Hello. This is John.
I've solved the issues simply and perfectly.
The solutions are as following:
It needs to modifying for mainly only one file. ( getHeaderMessage in OptionsListUtils.js, )
In a word, we have to add the props-searchValue in the getHeaderMessage function and modify the function comments.
![image](https://user-images.githubusercontent.com/74647446/112455350-eb0c7500-8d59-11eb-8477-

[2021-03-25 10:48] sohaibkhaa commented on #2066
I will fix the issue by manipulating the app behaviour and debugging to check whether is there any other page opened while opening the settings page. After finding the bug try to resolve it by updating the part of code that is used to open up settings page. And debug the back press behaviour of settings page.

[2021-03-25 10:54] Julesssss commented on #1913
Hi @kidroca,

Or do you prefer to keep it the way it is and include the attachment options (Take Photo, Choose from Gallery...) in MENU_ITEMS

A colleague has a similar issue and [has created a new MenuComponent](https://github.com/Expensify/Expensify.cash/blob/ebbdbd8d2a3526c93892d986c7f636474c43de03/src/components/VideoChatMenu.js) for their new menu. Let's just do that for now, and we'll worry

[2021-03-25 11:02] kidroca commented on #1913
Ok, so create a standalone component, encapsulating attachment options and delegating rendering to the `<Popover />` component (to render as a bottom docked modal)

Thanks for the reference

[2021-03-25 11:03] Julesssss commented on #1913
Yeah, exactly 👍

[2021-03-25 11:27] barun1997 commented on #1988
Hi @Julesssss, I am working to complete this issue, but I just wanted to gain some clarity on `createIOUTransaction`. After a successful transaction creation, it returns a `reportID`. In the issue note:

it is mentioned that this `reportID` should be passed to GetIOUReport but GetIOUReport expects `debtorEmail` - so, my thought process is to instead implement it the way it's implemented in actions

[2021-03-25 11:39] Julesssss commented on #1988
Ah yes, this changed recently. I should have let you know. You've got it though, that would be the ideal solution 👍

Let us know if you have any other questions!

[2021-03-25 11:42] barun1997 commented on #1988
Ahh, gotcha! Thank you.

[2021-03-25 12:18] parasharrajat commented on #2063
## Proposal
 I investigated this problem thoroughly and I found one more issue linked with this one. Pressing `Enter` key on any modal closes it which is unexpected behavior and not defined anywhere in the code.

https://user-images.githubusercontent.com/24370807/112470790-16f71d00-8d91-11eb-82e3-e33d14297a6d.mp4

 ## Root Cause
 The `react-native-modal` component creates a backdrop before modal,

[2021-03-25 15:46] AndrewGable commented on #2073
Thank you for the report @mernxl - I believe this was fixed in https://github.com/Expensify/Expensify.cash/pull/2040 - @NikkiWines please correct me if I am wrong.

[2021-03-25 15:46] #2073 closed

[2021-03-25 16:08] marcaaron commented on #2063
Thanks Rajat, but why do we need to do this step? Will the solution also work if we do the check in the `onBackdropPress` event?

[2021-03-25 16:17] NikkiWines commented on #2073
Yes, that's correct - Resolved in https://github.com/Expensify/Expensify.cash/pull/2040

[2021-03-25 16:32] parasharrajat commented on #2063
@marcaaron. So the original Issue is that the image should be submitted on immediate enter press. These handlers are the one who submits the image. So they should be ready as early as possible. `onModalShow` fires after the modal are completely visible and the animation has finished. Pressing the enter won't work immediately.  Moving handlers to the `onModalWillShow`, make them available as soon a

[2021-03-25 17:17] NikkiWines commented on #2029
Wouldn't it be confusing given the `Save` button would now create two different results? With this proposed solution, in some cases it would route the user to the password page to input their password for the secondary login, and in some cases it would just save the results on the page.

[2021-03-25 17:28] TechCode-R commented on #2053
Hi Team,
 My steps to add this feature:
1- Add Edit Photo button which opens a bottom sheet on mobile apps and dialog on web with 2 options.
2- Design a component with Upload photo & delete photo.
Suggestion: ( We can hide or disable delete photo button if there is already a default avatar)
3- On click upload Image, open camera or gallery and pick image path, type, size etc of selected image and u

[2021-03-25 17:35] Maftalion commented on #2029
Yeah, I think it makes the disable logic for the button a little more complex as well. I can set it up either way but my suggestion would be to make it independent of the rest of the form where you'd have a "Add" button with no text input which would take you to another page to enter the value & password. once completed, it would return back to the profile page but now in the "Unverified" state wi

[2021-03-25 17:43] kaushiktd commented on #2029
Sounds good! So what do you think about working with me?

[2021-03-25 17:44] kaushiktd commented on #2029
Sounds good! So what do you think about working with me?

[2021-03-25 18:39] michelle-thompson commented on #2029
@Maftalion Are you suggesting `Save` is disabled when editing the email/phone field? And once an appropriate email/phone is detected, `Add` then becomes active while `Save` continues to be disabled? If so, I'm happy to move forward with that.

[2021-03-25 18:45] sketchydroide commented on #986
I think for iOS we are expect the text to be on the same line as the rest of the text. It's wrapping well, and going to the next line correctly, but it also should be on the same line of the rest of the text, not on a new line.
Web looks good

Does that make sense @aliabbasmalik8

[2021-03-25 19:14] ahmedahtazaz commented on #2066
While reviewing through the job I have noticed that there is no custom hardware back button handling in your app. Well in my experience it is a must for Android. This is a normal issue while building cross-platform apps with React Native because the developer is mostly focused on one platform and expect it to work on both of them.

[2021-03-25 19:24] parasharrajat commented on #2066
@ahmedahtazaz  Don't you think react-navigation gives that by default?

[2021-03-25 19:30] ahmedahtazaz commented on #2066
So in my point of view custom back button handling is needed in these scenarios.

[2021-03-25 19:50] Jag96 commented on #1508
Looks like this was fixed by https://github.com/Expensify/Expensify.cash/pull/1548, closing

[2021-03-25 19:50] #1508 closed

[2021-03-25 20:03] #2025 closed

[2021-03-25 20:30] mikeattara commented on #2051
Hello @tylerkaraszewski, I would love to look into this.
Working on a proposal.

[2021-03-25 20:33] Jag96 opened #2089 "Implement library to convert a phone number into a locally formatted phone number"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Upwork Posting**: https://www.upwork.com/jobs/~0129906b4c8ea7c94b

We are implementing the structure for internationalization and localization.

As part of that, we n

[2021-03-25 20:58] ahmedahtazaz commented on #2089
I will create a single file library for your app. It will expose 2 methods. toLocalPhone and fromLocalPhone. The implementation will be according to the guidelines given above. These methods will get locale and number as arguments and will remove or add the country code depending upon the locale.

[2021-03-25 21:07] tugbadogan commented on #2027
Hi, I have some questions.

1. Do `IOUReportId` and `chatReportID` have 1:1 relationship, can there be only one `IOUReportID` for each `chatReportID`? I'm planning to add `IOUReportID` to report_* object in Onyx. Does that sound good?
2. API doesn't return `state` and `status` when IOU is created. Am I going to use some default values in the beginning?
3. I created IOU Report but from transactions

[2021-03-25 21:13] Regaron commented on #2089
Hi,

I would love to work on this issue! My proposal is to do the following:

1. Expose toLocalPhone(locale, number) method: The method will get localizationConfig.phoneCountryCode from the translations, and if the countryCode matches the beginning of the number passed, the method will remove it from the number and return the rest.  

So, for example, for toLocalPhone(‘es-Es’, ‘+34910604859’), the

[2021-03-25 21:18] NikkiWines commented on #2029
@Maftalion, I know we were discussing some weirdness with getting the `user.loginList` when building this on the iOS sim.
I've figured out this issue and it looks like we need to be passing `'account, loginList, nameValuePairs'` not `['account', 'loginList', 'nameValuePairs']` [here](https://github.com/Expensify/Expensify.cash/blob/master/src/libs/actions/User.js#L44-L47).

If you do that you shou

[2021-03-25 21:22] mallenexpensify opened #2090 "CreateMenu should display within the chat window area"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
CreateMenu should display within the chat window area
![image](https://user-images.githubusercontent.com/22508304/112544870-c671c680-8d74-11eb-9f4c

[2021-03-25 21:28] mallenexpensify commented on #2090
Job on Upwork https://www.upwork.com/jobs/~01ca7ce2254d69fcb5

[2021-03-25 21:39] Jag96 commented on #2089
@ahmedahtazaz I've sent an offer in Upwork and assigned you the issue so you can begin working on it!

[2021-03-25 21:40] kidroca commented on #1913
@shawnborton
Do you want to add a title for the bottom picker?
![image](https://user-images.githubusercontent.com/12156624/112546374-0743fc80-8dc2-11eb-82e2-619917c5bee8.png)

---

I'm need to get the "Camera" and the "Picture" icons (svg), they are yet to be added to the current assets

[2021-03-25 21:43] Maftalion commented on #2029
@michelle-thompson what I'm suggesting is that the input for the secondary login doesnt live on the profile page, instead there would only be an Add button which when it's clicked would go to the "Password Prompt" view where they would add both the email/phone and the password. upon returning to the profile view, the "unverified" email/phone would now appear but uneditable (with the resend button

[2021-03-25 21:47] mikeattara commented on #2089
Hello @Jag96,

I would love to work on this.

__My proposal__:
- Add `localizationConfig.phoneCountryCode` to the translation files
- Create `localePhoneNumber.js` in the [libs directory](https://github.com/Expensify/Expensify.cash/tree/master/src/libs) that will  contain `toLocalPhone` and fromLocalPhone` functions
- Export `toLocalPhone(locale, number)` which will get the `localizationConfig.pho

[2021-03-25 21:48] mikeattara commented on #2089
@Jag96 sorry, I think my proposal came late

[2021-03-25 21:50] ahmedahtazaz commented on #2089
@Jag96 I have accepted your offer. Thanks a lot for assigning this issue to me.

[2021-03-25 21:56] npsedhain commented on #2090
Hi, I would love to work on this issue!

As a part of my proposal, I will:

Use a prop anchorPosition as style in CreateMenu for the anchor position of the PopOver:

https://github.com/Expensify/Expensify.cash/blob/46d6cb4911c923bb9ee367e42076f33e8cd93f45/src/components/CreateMenu.js#L102-L110

This will be: anchorPosition = {this.props.anchorPosition}  instead.

Create a new style styles.createMe

[2021-03-25 21:57] parasharrajat commented on #2063
Sorry, but I didn't get this. What check?

[2021-03-25 23:02] marcaaron commented on #2063
Ok, that doesn't sound like an optimization we need. The modal shows very quickly.

[code]

[2021-03-25 23:30] mallenexpensify commented on #2090
@stitesExpensify I just assigned to you since you were assigned to the issue in the Expensify/Expensify repo.  Can you review incoming proposals? @npsedhain submitted one above

[2021-03-25 23:49] mallenexpensify commented on #1778
@roryabraham Assigned to you since you'll be the one reviewing proposals

[2021-03-25 23:52] roryabraham commented on #1778
I've already chosen a contributor, and he has a WIP PR up

[2021-03-25 23:56] NikkiWines commented on #2029
One other alternative that might be work and keeps things inline with our initial implementation is the following:

If the user has added a value for the secondary login, hasn't clicked `Add`, and then clicks `Save`, we clear that secondary login field - effectively "resetting" the form.

The main issue I see with this is it runs a bit counter to the rest of how that view works, where clicking `Sa

[2021-03-25 23:59] michelle-thompson commented on #2029
![image](https://user-images.githubusercontent.com/43361905/112557845-a816c580-8d8a-11eb-8d16-dba1542cb3ae.png)
So I took @Maftalion idea and tried out a couple options here (+ what the new password prompt screen would look like). None of these feel quite right to me, but curious for feedback here.

I actually prefer @NikkiWines suggestion above. My only minor concern would be that there's potenti

[2021-03-26 00:12] roryabraham commented on #1778
Sorry for the confusion, but per our documented process:

So I'm actually re-assigning this to @parasharrajat

[2021-03-26 00:49] #1914 closed

[2021-03-26 01:02] kidroca commented on #1913
@Julesssss
Can you tell me more about the logic here. Particularly why the input should focus after any modal close?
rendering:https://github.com/Expensify/Expensify.cash/blob/46d6cb4911c923bb9ee367e42076f33e8cd93f45/src/pages/home/report/ReportActionCompose.js#L81
[code]

This is causing a few side effects:
- when we want to switch to the attachment modal, `componentDidUpdate` would invoke `setIs

[2021-03-26 01:45] isagoico opened #2097 "Profile - GMT time is not displayed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

<h2>Expected Result: </h2>
GMT time is displayed as GMT -3

<h2>Actual Result:</h2>
"GMT" is not displayed, only the time and "-03" is visible.

<h2>Action Performed:<

[2021-03-26 02:45] isagoico commented on #1926
https://github.com/Expensify/Expensify.cash/pull/1548 cannot be tested because of https://github.com/Expensify/Expensify.cash/pull/1981 (which was a pass)

[2021-03-26 04:14] isagoico commented on #1926
https://github.com/Expensify/Expensify.cash/pull/2032#issuecomment-807920468 Not sure if deploy blocker. Issue is not reproducible in Android devices.

https://github.com/Expensify/Expensify.cash/pull/1948#issuecomment-807917909

https://github.com/Expensify/Expensify.cash/pull/2010#issuecomment-807908412

https://github.com/Expensify/Expensify.cash/pull/2010#issuecomment-807908412

Looks like htt

[2021-03-26 06:17] stephanieelliott opened #2100 "Draft message feature not working correctly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Drafted message text should constrained to the user selected when the text was entered into the compose box, draft icon should show only when text

[2021-03-26 06:21] stephanieelliott commented on #2100
View this job on Upwork: https://www.upwork.com/jobs/~0129016d527b7dd243

[2021-03-26 09:27] shawnborton commented on #1913
@kidroca no need for a title. Here are the assets you need: [Icons.zip](https://github.com/Expensify/Expensify.cash/files/6210683/Icons.zip)

[2021-03-26 09:55] Julesssss commented on #1926
Hi @isagoico. No need to test that one, as its test steps were made redundant.

[2021-03-26 09:58] Julesssss commented on #1926
I've also commented in #2010 with testing steps. (it's listed twice here, was that a duplication, or is there supposed to be a 4th issue in the list?)

[2021-03-26 10:00] shawnborton commented on #2029
I actually quite like what you explored above Michelle! We've been using a pattern more and more where we use a row that has `+ Action Text` for adding things, and saving buttons for when the state of something gets changed. For example, in the Wallet flow for adding a payment method (I put this below on the left) we use this pattern and I think it works well.

So here is what that might look like

[2021-03-26 11:22] kidroca commented on #1855
Hey guys the selected approach is good and will greatly reduce side effects caused by `ReportActionCompose.componendDidUpdate`

I just want to mention something that you might consider for the future:

#### My observations:
The `componendDidUpdate` in `ReportActionCompose` is a means to reset the view because it doesn't unmount when focus moves away:
- it checks whether a new `comment` is loaded f

[2021-03-26 11:27] Julesssss commented on #2027
Hi @tugbadogan,

We've just merged some changes to the stored report data which should simplify the following problems, I would suggest you rebase to master to take advantage of this.

Not quite. Once an IOUReport is settled it will not be reopened for further transactions. In this case we'll create a new IOUReport. So a single ChatReport could have many IOUReports -- but only one will be 'active'

[2021-03-26 12:03] parasharrajat commented on #1855
@kidroca Thanks for bringing in this and suggesting an approach. I am well aware of the issue you mentioned. That's the only reason to Introduce the HOC approach. With this, we can manage the focus more accurately. I have some thoughts on fixing the mentioned issue with much simplicity.

[2021-03-26 12:28] parasharrajat commented on #2063
@marcaaron. Yes **solution still works** without moving the keyboard events to `onModalWillShow`. So after pasting the image and pressing enter will not cancel the attachment Modal. But the Image will not be submitted until the modal is shown and then on pressing `Enter` the image will be submitted.

[2021-03-26 12:43] Julesssss commented on #1855
Thanks for that suggestion @kidroca.

Would you like to create an Expensify.cash issue to continue this discussion? We might need to discuss a bit further with other colleagues, but I think that could be a great further improvement and I would be happy to get an UpWork issue set up for that investigation/implementation.

[2021-03-26 12:56] kidroca commented on #1855
Yes, I'd like that. Definitely needs more discussion and I don't want to spam the current ticket. I'll open a ticket when I'm done with my current work while waiting for review.

[2021-03-26 12:59] Julesssss commented on #1913
Hi @kidroca,

It looks like you worked out the reason yourself, but yeah -- this was to allow us to keep the ReportActionCompose Component focused -- originally this was to regain focus after launching the attachment modal (there was only one modal at this point) -- and has led to multiple side effects as we built out the app as you have seen.

Ideally, we desire this behaviour for **any modal** t

[2021-03-26 13:49] kidroca commented on #1913
So far my solution, which I'm yet to push 😅, seems to work good on mobile (specifically iOS, need to test Android).
- If some modal opens while you have focus on the TextInput when the modal goes away you are returned to the TextInput and keyboard is back up
- If you press the (+) attachment button, there's a call to first focus the text input and then popup the first Modal (CreateMenu). After you

[2021-03-26 14:04] thierrysantos commented on #2100
I'm looking for the codebase and I saw that the we have a problem of "synchronization" with the Onyx state.

We have a value in the state of Onyx and other in the `TextInputFocusable`.

render () reportId: 71623989 with value: thierry
render () reportId: 71623940 with value: concierge

So the idea is to fix this difference between the states.

Proposal in upwork: https://www.upwork.com/ab/proposal

[2021-03-26 14:12] Julesssss commented on #1913
Yeah.. but I can see this being tricky, and this is out of scope of this current issue

No you're right, I totally agree with this as a mobile user. I wouldn't want the keyboard to display when opening --The focus|showKeyboard events were separate though aren't they? So can't we request focus, leaving the mobile keyboard hidden? (I thought that was the default, until the user taps in the field aga

[2021-03-26 14:44] barun1997 commented on #1988
@Julesssss, just a final question regarding API call for createIOUTransaction for Split Bills.

The example is:
[code]

It works perfectly when I send a single debtorEmail, but for Split, we'd have multiple emails. Can you give me an example for CreateIOUTransaction in the case of a Split Bill? Thank you for your help!

[2021-03-26 14:51] laurenreidexpensify opened #2105 "Create a group chat info view, with additional participant info"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Problem -**
Currently there isn't a way to view the full list of participant information in a group chat, so there isn't a way determine who is included in the priva

[2021-03-26 14:53] isagoico commented on #1926
Thank a lot ! there was a link missing indeed and I just duplicated the #2010 🤦

[2021-03-26 14:54] kidroca commented on #1913
When a modal opens the keyboard would always hide - it won't be visible under the modal
The UX problem for me is when a modal closes the keyboard is brought up regardless of previous state. I would expect it to pop open again only if it was open prior the modal

[2021-03-26 15:13] Julesssss commented on #1988
Ah yes, this is a totally different API. I probably should have shared all of them, rather than those I thought would be necessary 🙃

**/CreateIOUSplit**
[code]

[2021-03-26 15:17] barun1997 commented on #1988
Haha! Makes sense now. Thank you! @Julesssss

[2021-03-26 15:29] michelle-thompson commented on #2029
@shawnborton I like those suggestions! Happy to move forward if @NikkiWines and @Maftalion agree :)

[2021-03-26 15:53] isagoico opened #2107 "Android - Main chat screen appears briefly when opening settings option"
## Expected Result:

Transition between screens should be smooth and not show any unnecessary screens

## Actual Result:
Main screen showing list of chats appears briefly when opening settings option

## Action Performed:
1. Open the expensify.cash app on Android
2. Click on profile icon
3. Click on item in Settings list (example: `Preferences`)
4. See main screen showing list of chats flash brief

[2021-03-26 15:57] NikkiWines commented on #2029
Cool! Yeah that looks great to me 👍

[2021-03-26 16:30] Maftalion commented on #1855
The only caveat to this approach is that I think @marcaaron started setting up the Right Docked Modals as screens, so on web/desktop it would render the PlaceholderView when those modals open on top of the report. But the `isFocused` functionality would definitely be useful to be set up as a HoC in general

[2021-03-26 16:33] isagoico opened #2108 "mWeb/iOS Safari - Chat - Keypad does not open in iOS Safari after tapping on conversation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Attachment**

## Expected Result:
The box is highlighted blue and key pad does open

## Actual Result:
Key pad does not open

## Action Performed:
1. Go to https://st

[2021-03-26 16:34] roryabraham commented on #1926
This was a bug in the deploy process. So we should proceed without that one for this deploy cycle, and try to remember to retest after our next staging deploy.

[2021-03-26 16:35] Maftalion commented on #2029
Awesome, lgtm as well!

[2021-03-26 16:42] kaushiktd commented on #2100
Hi,

This is Kaushik here and this is my technical explanation for this issue.

1.  when the user types a text message to send but actually not press to send and choose another person, in the meantime, we need to clear the text input value and remain this value for the user whom we want to send.
2.  when work on the first issue second will auto resolved.
3.  we need to check in existing code if th

[2021-03-26 16:43] kaushiktd commented on #2097
Hi,

This is Kaushik here and this is my technical explanation for this issue.

 1.  This is a time format issue it will be managed by moment js.

[2021-03-26 16:44] kaushiktd commented on #2090
Hi,

This is Kaushik here and instead of making long coding structure here is simple explanation for this,

1.  create a new stylesheet for this popover.

[2021-03-26 16:45] kaushiktd commented on #2066
Hi,

This is Kaushik here and here is explanation for this,

1.  Maybe a configuration issue in the stack, will be resolved by stack management or manage back handler on a specific page on the single back

[2021-03-26 16:46] kaushiktd commented on #2063
Hi,

This is Kaushik here and here is a smiple explanation for this issue,

1.  we will put a timer while process the image to be upload until submit button is not tappable.

[2021-03-26 16:48] kaushiktd commented on #2053
Hi,

This is Kaushik here. I would like to put a solution that actually explain itself instead of copy-pasted coding structure,

  1.  When press edit photo shows two option in floating same as in screenshot if choose a select new picture, we will upload a new profile image.
  2.  If remove then, replace the existing profile with the default profile image.

[2021-03-26 16:49] kaushiktd commented on #2051
Hi,

This is Kaushik here. I would like to put a technical explanation for this,

 1.  It may be an animation interpolate issue, first we will deploy to our local system and check with a real device with debugging.

[2021-03-26 16:49] kaushiktd commented on #2041
Hi,

    This is Kaushik here. I would like to put a technical explanation for this,

1.  when user open keyboard then all the chats or chat area scroll to the last position then this situation is created that you have mentioned,
But don't worry it will be managed with flat list scroll.

[2021-03-26 16:51] kaushiktd commented on #1985
Hi,

This is Kaushik here. I would like to put a technical explanation for this without showing long coding strucutre,

 1.  Check message data when send and put a condition then another user message will display as unread not own message.

[2021-03-26 16:51] stitesExpensify commented on #2090
Hi @kaushiktd, are you saying that you think this could be solved just by editing styles rather than creating an anchor prop? If so I think that may be the better solution in this case

[2021-03-26 16:52] kaushiktd commented on #1968
Hi,

This is Kaushik here. I would like to put a technical and pretty self explanatory solution for this

 1.  Remove the feedback message "Don't see who you're looking for? Type their email or phone number to invite them to chat."
    2.  When typing, if the input does not match a valid email or phone number format then show what they've typed below, but greyed out and unselectable.
    3.  Once

[2021-03-26 16:53] kaushiktd commented on #1913
Hi,

This is Kaushik here. I would like to put a technical and pretty self explanatory solution for this.

1.  this issue is happening when two modal are launching like: first is close and the second is open at the same time.
    we will put a small timer to resolve this.

[2021-03-26 16:55] kidroca opened #2109 "[PAYMENT DUE 20 APRIL + BONUS FOR CREATING ISSUE] - mWeb/Web Safari - Selecting add attachment does not open the file picker"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Selecting "Add Attachment" from the chat menu should open the Browser's file picker

## Actual Result:
After pressing on "Add Attachment" the menu

[2021-03-26 16:55] kaushiktd commented on #1870
Hi,

This is Kaushik here and I would like to suggest a simple and effective explanation for this,

  1.  it will be handle by adding keyboardShouldPersistTaps='handled' to scroll view.

[2021-03-26 16:55] kaushiktd commented on #1778
Hi,

This is Kaushik here and I would like to suggest a simple and effective explanation for this,

  1.  Add an onPress property to call clipboard function
        ClipboardAPI.setString(action.message[0].text);

[2021-03-26 16:56] kaushiktd commented on #1656
Hi,

This is Kaushik here and I would like to suggest a simple and effective explanation for this,

1.  We need to update URL_PATH_REGEX in expensify-common/lib/ExpensiMark and updated URL_PATH_REGEX will look like this
        const URL_PATH_REGEX = '(?:\\/[-\\w$@.&+!*"\'(),=%][-\\w~@:%)]|\\/)*';