[2022-11-01 20:05] neil-marcellini commented on #12143
Yep I'm seeing the issue pointed out here https://github.com/Expensify/App/issues/12143#issuecomment-1293973854 where the updated reportName is not sent via Pusher. I'll work on a fix for that.

Looking back at the [original issue](https://github.com/Expensify/Expensify/issues/212892) and [design doc](https://docs.google.com/document/d/1C97ih4SDuDdqNTzOfxnuMIEowB1VtmDMrunuNKUfzew/edit#heading=h.h1

[2022-11-01 20:07] JmillsExpensify commented on #11776
Awesome, thanks for re-testing! And agreed, that's a separate issue though it will be resolved in the move to push to page in N8.

[2022-11-01 20:08] marcaaron commented on #10772
Not sure if this logic makes sense. There's no way to tell whether someone is entering a non-phone number or phone number without dashes or brackets.

So it seems reasonable to show the hint as long as there are no characters that would indicate this is an email (alphabet or `@` symbols should remove the hint).

Sorry, didn't understand this. Where does the country code get added automatically?

W

[2022-11-01 20:12] Puneet-here commented on #10772
I haven't look into the code so I can't link the code where the country code gets added but here's the video

https://user-images.githubusercontent.com/101883770/199331784-c168e4e7-bc94-4553-9c78-530da93bebb6.mov

[2022-11-01 20:13] chiragsalian commented on #12327
Which issue, the one to add QA regression steps? If so then no. I would rather create new issues to add QA steps to keep the process cleaner and easier to process through. Steps mentioned [here](https://stackoverflow.com/c/expensify/questions/363).

[2022-11-01 20:14] Puneet-here commented on #10772
The message says `If you are outside the US please include your country code (e.g. +15005550006)` but as shown in the video you can't search a number without country code if you are outside of US

[2022-11-01 20:23] shawnborton commented on #11809
I can get down with that.

[2022-11-01 20:32] mallenexpensify opened #12354 "Tracking issue to pay C+ for internal PR reviews (before updated process)"
I need to pay C+ for reviewing internal PRs, will use this GH for tracking.  Main spreadsheet is [here](https://docs.google.com/spreadsheets/d/1GSOIuYXcDePpJpEi_ci5vqv_WGgQ7Ttb6_onuBtCI0U/edit?usp=sharing)

@mananjadhav
- 3 jobs - total $1000
- Upwork Job

@Santhosh-Sellavel
- 4 jobs - $1000
- Upwork Job

@sobitneupane
- 2 jobs - $500
- Upwork Job

[2022-11-01 20:35] saadyousaf1997 commented on #11277
I have read the issue, I think we need to add keyboardDidShow event for android, When the event is emitted we will set the height of the layout based on the keyboard opened or closed.

[2022-11-01 20:37] mallenexpensify commented on #12354
@mananjadhav @Santhosh-Sellavel @sobitneupane
Will you please except the Upwork job then I'll pay? I set it at $250, will bonus the difference to equal the amounts in the OP that came from the sheet.  Updating the sheet too
https://www.upwork.com/jobs/~0151f7ed511c47bbc0

Also updating[ the Slack thread ](https://expensify.slack.com/archives/C02NK2DQWUX/p1667333777293729?thread_ts=1665685158.15276

[2022-11-01 20:38] bluesky0724 commented on #12354
Hello Matt.
I saw the job posting in upwork.
I am interested in this opportunity.

[2022-11-01 20:40] bluesky0724 commented on #12354
I just left my previous company.
I worked as a backend developer and I worked closely with QA team.
I reviewed PR from others as well as writing code.
I am sure that I could excel in this project.

[2022-11-01 20:45] mountiny commented on #12292
@JmillsExpensify we haven't merged anything App/Web for payIOU yet so it must be coming from some other changes.

[2022-11-01 20:46] michaelhaxhiu commented on #10263
@bulatgab welcome and we are excited to have you as a member of Expensify Open Source!

Are you able to expand this proposal to apply to all affected Platforms from the GH body?

[2022-11-01 20:47] Santhosh-Sellavel commented on #12354
@bluesky0724
Please check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email [contributors@expensify.com](mailto:contributors@expensify.com) to request to join our Slack channel!

Please read the above guidelines to understand our process.

Also to get started check our [readme ](https://github.com/E

[2022-11-01 20:49] Karim-30 commented on #12314
in `src/libs/EmojiUtils.js` :

[code]

https://user-images.githubusercontent.com/108357004/199337922-d2fc8cd0-6c2f-455a-aabd-45b1eeb71174.mp4

I will not paid for it.

[2022-11-01 20:55] mmjindal2555 commented on #12104
Thank you @parasharrajat, I was able to redirect to the Sandbox webpage for the Bank verification.
However, for me, the behavior seems to be as expected, i.e., I am getting the error prompt when the Terms checkbox is not selected on submitting.

**Version Number** (Dev): 1.2.21-4 - working as expected
**Version Number** (Staging): 1.2.22-3 - working as expected

Another difference I noticed -
Erro

[2022-11-01 21:02] michaelhaxhiu commented on #10263
@MonilBhavsar I was chatting with Santhosh in New Expensify 1:1 and he mentioned that **maybe** we could benefit by segmenting this problem into two pieces?

- one solution for Native
- one solution for mWeb

What do you think based on the proposals so far? We can post in slack too to get more input if unsure.

[2022-11-01 21:02] Luke9389 commented on #11773
Yeah I think we should close this for now.

We're going to be testing this flow extensively as we build out user created rooms.

[2022-11-01 21:02] #11773 closed

[2022-11-01 21:02] Tushu17 commented on #11410
Okay applied, Thanks @JmillsExpensify

[2022-11-01 21:10] lbaldy commented on #4733
@parasharrajat  I updated the https://github.com/Expensify/App/issues/4733#issuecomment-1297316777

The proposal mentions the DRAFT PR as well as the Expensify Android and iOS screenshots. Please let me know if you need any further information/tests to move on with the proposal evaluation.

[2022-11-01 21:11] marcaaron commented on #10772
Seems weird. I'm not sure what the expected behavior should be here, but feels like adding the country code automatically is a different bug. How are you supposed to start a conversation with someone who is not in your country?

This also seems like a bug. If you have a chat with someone I would expect that search would show you any chats that match on any part of a phone number.

[2022-11-01 21:14] mmjindal2555 commented on #11385
@slafortune , @iwiznia

RCA - Seems the large(possibly original size) images are also present and accessible.

Example -
The avatar URL currently being used - https://d1wpcgnaa73g0y.cloudfront.net/aae19548a867de39bf3a74394fdc376331da8cff_128.jpeg

The original image (can be fetched by removing _128 from the above URL) -
https://d1wpcgnaa73g0y.cloudfront.net/aae19548a867de39bf3a74394fdc376331da8cff

[2022-11-01 21:20] Puneet-here commented on #10772
You can add the country code yourself, so that isn't a problem

Yeah it does that but it also starts showing a contact with country code

<img width="517" alt="Screenshot 2022-11-02 at 2 46 37 AM" src="https://user-images.githubusercontent.com/101883770/199343337-581005e2-4e68-4305-9e26-4b7cec3c3b5f.png">

I think we should also remove this line `If you are outside the US please include your count

[2022-11-01 21:20] mmjindal2555 commented on #11385
Another example -
Avatar URL -
https://d1wpcgnaa73g0y.cloudfront.net/f0808018b91d553747aa87529366713e8139f44a_128.jpeg

Original Image URL -
https://d1wpcgnaa73g0y.cloudfront.net/f0808018b91d553747aa87529366713e8139f44a.jpeg

[2022-11-01 21:30] parasharrajat commented on #12290
Good question, @lschurr What protocols are we expecting to be supported? This issue states `ftp`. Are there more?

[2022-11-01 21:36] parasharrajat commented on #12104
It might have been fixed by now. @Expensify/applause Could you please retest this issue?

[2022-11-01 21:39] puneetlath commented on #9542
@b1tjoy @mananjadhav we didn't end up going with the proposed solution, but we would like to pay you a partial bounty for the time put into this issue. Can you both please apply to this job?

https://www.upwork.com/jobs/~01ce8cc4db0296323e

[2022-11-01 21:42] joaniew commented on #11346
still waiting for feedback on my suggestions

[2022-11-01 21:46] Santhosh-Sellavel commented on #11319
Agree, this could be external. Let's wait for proposals!

[2022-11-01 21:46] #11458 closed

[2022-11-01 21:49] Santhosh-Sellavel commented on #9818
Then Our expected OP is this https://github.com/Expensify/App/issues/9818#issuecomment-1297478346. URL should not be changed.

[2022-11-01 21:53] kbecciv opened #12355 "[HOLD] [$250] IOS - Settings - Changes displayed after closing and reopen app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12125

## Action Performed:
1. Launch the app
2. Log in any account
3. Navigat

[2022-11-01 21:55] stitesExpensify commented on #8455
I agree with refactoring the page to use form. We need a more concrete proposal to move forward though

[2022-11-01 21:59] kbecciv opened #12356 "Workspace -A new member can see the workspace in their account only after refreshing the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with a workspace admin account on the secondary device and with a new u

[2022-11-01 22:00] lschurr commented on #12290
@marcaaron - are you able to weigh in on these questions?

[2022-11-01 22:09] parasharrajat commented on #7375
Ok, I tested. The problem remains the same for dynamic menus.

Problem:
1. For dynamic content(whose position is not fixed), we need to use `measureInWindow` to get its position which is async. Due to async nature, it create a small delay before menu can be shown.

I faced this issue with the menu of the added payment method (the list). I tried to get rid of this delay but had no luck.
![image](ht

[2022-11-01 22:13] tjferriss commented on #11438
@rushatgabhane what do you think of the new proposal?

[2022-11-01 22:13] aldo-expensify commented on #12330
PR up and ready for review: https://github.com/Expensify/Web-Expensify/pull/35386

[2022-11-01 22:15] Santhosh-Sellavel commented on #11488
@nkuoch  Since you added this code block, why was Icon Wrapped inside a Text Component?
https://github.com/Expensify/App/blob/38b1d8477115094299d8584768fd4694170234a4/src/pages/ReimbursementAccount/BankAccountStep.js#L142-L144

[2022-11-01 22:17] parasharrajat commented on #4733
Give me some time to review it. Thanks.

[2022-11-01 22:17] parasharrajat commented on #8311
Ok. Thanks. I will take that as your final proposal.

[2022-11-01 22:18] jliexpensify commented on #10905
Thanks for clarifying @tgolen - I'll get this sorted now.

[2022-11-01 22:18] Santhosh-Sellavel commented on #11488
@marcochavezf
I like @gadhiyamanan's proposal here https://github.com/Expensify/App/issues/11488#issuecomment-1298300219
It's simple and straightforward.

But @syedsaroshfarrukhdot proposal here makes us wonder why [this](https://github.com/Expensify/App/issues/11488#issuecomment-1299297956) was done.

[2022-11-01 22:22] jliexpensify commented on #10905
Internal - https://www.upwork.com/ab/applicants/1587570510876553216/job-details
External - https://www.upwork.com/jobs/~0137afe133f0fca3ca

Hired @aimane-chnaif and @Santhosh-Sellavel

[2022-11-01 22:34] Puneet-here commented on #11487
If we wanna keep the design same then let's just remove the hyperlink logic and keep using `CommunicationsLink`

[code]

[2022-11-01 22:52] neil-marcellini commented on #12143
The PR is up for review now.

[2022-11-01 22:54] JmillsExpensify commented on #11458
Contributor has been paid out via Upwork. Keeping the issue closed.

[2022-11-01 22:54] bulatgab commented on #10263
Thank you for your response @Santhosh-Sellavel @michaelhaxhiu and for sharing the links!

Yes, at the moment the solution covers Android only.
I will try to prepare a fix for iOS next, hopefully, this week.
(I don't know if I can fix it for other platforms. Maybe after iOS)

[2022-11-01 22:57] AndrewGable commented on #12266
I agree it seems external

[2022-11-01 22:57] JmillsExpensify commented on #11410
Offer extended via Upwork.

[2022-11-01 22:58] AndrewGable commented on #11895
I'm fine making it internal, but just curious why you think beta == internal? We can whitelist users, but maybe you've been told otherwise?

[2022-11-01 22:59] JmillsExpensify commented on #11773
That works for me.

[2022-11-01 23:00] JmillsExpensify commented on #12292
Thanks for the confirmation!

[2022-11-01 23:01] strepanier03 commented on #12238
@eVoloshchak - Looks like we have a couple of proposals to review. I'll keep checking in daily while you review and decide which one we'll go with. Thank you!

[2022-11-01 23:02] JmillsExpensify commented on #11277
Make sure you're following our guidelines for [posting proposals](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#posting-ideas). Neither of those post qualify as a proposal that we can evaluate and approve.

[2022-11-01 23:04] tjferriss commented on #9408
@dhairyasenjaliya and @srikarparsi can you please both apply to the job posting on Upworks? https://www.upwork.com/ab/applicants/1583574303161114624/job-details

[2022-11-01 23:05] JmillsExpensify commented on #11189
@youssef-lr You mind helping out with this regression? Everything in this list matters, but in particular, I want to make sure we have added a regression test moving forward.

[2022-11-01 23:05] luacmartins commented on #12305
@mvtglobally what is the status on the regression tests?

[2022-11-01 23:06] mvtglobally commented on #12305
@luacmartins almost done. We are wrapping last iOS slots. I will update checklist in a bit

[2022-11-01 23:06] marcaaron commented on #12290
imo we should not have an allow list for specific scheme. In the world of deep links any text based scheme should be potentially valid.

[2022-11-01 23:08] JmillsExpensify commented on #11809
Ok cool. Upwork job is here: https://www.upwork.com/jobs/~010cf9eb9f9b6cb3b2. We're open for proposals.

[2022-11-01 23:08] marcaaron commented on #12290
seems like @kerupuksambel has a good grasp of this subject. Will you consider putting a proposal together so we get you working on this?

[2022-11-01 23:10] JmillsExpensify commented on #12327
Cool, yeah I was referring to the previous one.

[2022-11-01 23:11] strepanier03 commented on #12151
Internal job posting: https://www.upwork.com/ab/applicants/1587582985521102848/suggested

----

External job posting: https://www.upwork.com/jobs/~01cf8f22223f210999

[2022-11-01 23:12] mallenexpensify commented on #8455
Price Doubled to $1000 and created a new Upwork job
https://www.upwork.com/jobs/~01afaeeedebd8a3239

[2022-11-01 23:13] mallenexpensify commented on #8455
Oh.. should we update the title or OP to reflect the deliverable is a refactor?

[2022-11-01 23:15] marcaaron commented on #10772
Fixing the copy doesn't help much if the whole feature is off. Anyway, this needs more feedback from others and for someone to lead the improvements. IMO we shouldn't prevent anyone from searching for a phone number that exists or creating a chat with a specific number (regardless of country code or current location). I think where we are going wrong here is superimposing the country code at all.

[2022-11-01 23:19] JmillsExpensify commented on #5536
Sorry! Just getting to this. We recently removed polish from WAQ, so I don't think it strictly fits there. That said, given that this is external, and also involves a refactor, I think we should continue forward with it.

[2022-11-01 23:25] Tushu17 commented on #11410
@JmillsExpensify Thanks, Offer accepted

[2022-11-01 23:27] JmillsExpensify commented on #12243
So I kind of think we have to solve this, especially as we're moving to infinite sessions right? Otherwise you make a change on mobile and then the change never propagates to desktop. Is that right? The issue is that it's kind of a big one, would require a pre-design and need to be (initially) handled internally.

[2022-11-01 23:29] JmillsExpensify commented on #10493
Should we do this at all now that we're removing passwords in favor of magic links?

[2022-11-01 23:30] JmillsExpensify commented on #11410
Thanks! I issued payment in Upwork, so I'm closing the issue again.

[2022-11-01 23:30] #11410 closed

[2022-11-01 23:32] JmillsExpensify commented on #12075
Yes, exactly!

[2022-11-01 23:33] strepanier03 commented on #11863
No worries @sobitneupane - Last week was a special and busy week for many. Thank you for the update. I'll continue to check daily so I can take any needed action.

[2022-11-01 23:33] alexpensify commented on #12352
The job has been created:
Internal: https://www.upwork.com/ab/applicants/1587588129324404736/job-details
External: https://www.upwork.com/jobs/~0133035eba46e9470a

[2022-11-01 23:37] JmillsExpensify commented on #7572
I actually can't reproduce this issue anymore.

[2022-11-01 23:38] thesahindia commented on #8455
Yeah, I think we should update it.

[2022-11-01 23:38] trjExpensify commented on #7862
Oh hm, will it take 2 weeks to review the PR? That seems like quite a lengthy time. Can @chiragsalian get going on his initial code review while you finish up on the tests or something?

[2022-11-01 23:38] JmillsExpensify commented on #7572
This was the flow I followed:

1. Sign into the app on Mobile Web
2. Navigate to Settings >Security > Close account
3. Tap the email field.

As expected, the close account button appears above the keyboard.

[2022-11-01 23:38] JmillsExpensify commented on #7572
I'm going to close this issue as a result.

[2022-11-01 23:38] #7572 closed

[2022-11-01 23:41] JmillsExpensify commented on #11633
Ooh oops I missed this as well. That said, I agree with @trjExpensify that we couldn't keep empty DMs in the LHN>

[2022-11-01 23:42] JmillsExpensify commented on #10610
Snagging this from you @dylanexpensify since I'm on the tracking issue.

[2022-11-01 23:43] parasharrajat commented on #10262
There are two issues that are relatable with this GH.
1. Copying the code content from GH and pasting in our app does not add it as code block.
2. Copying the formatted string message and then pasting it in the composer does not preserve the spaces.

I and the proposals above are focusing on 2. 1 is not possible to solve due to the platform does not use `pre` for code.

For some reason, Returning

[2022-11-01 23:56] marcaaron commented on #11726
In review now.

[2022-11-02 00:15] trjExpensify commented on #12028
CC: @roryabraham for visibility on this one wrt `react-native-reanimated`.

[2022-11-02 00:22] kavimuru opened #12359 "Error appears when create and delete workspaces offline and back to online reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create two workspaces A & B
2. Now go offline
3. Create another workspace B
4. Now Delete workspace A
5. Go online

## Expect

[2022-11-02 00:34] shawnborton commented on #12259
Just a heads up that I updated the original comment with a new mockup. Rather than build an avatar picker, we can just use random avatars instead as the v1 implementation of this.

- For users, we'll use one of 24 random avatars
- For workspaces, we'll use the first initial or number from the workspace name, and use that in one of our 16 colorways

[2022-11-02 00:35] kavimuru opened #12360 "When you send your own email address in a DM, it shows as "you" in LHN - reported by @puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1.Open website
 2. Go to Chat > send your own email
 3. Now check LHN

## Expected Result:
The email address that you sent in th

[2022-11-02 00:37] chiragsalian commented on #11542
Haven't gotten to it due to other priorities. @kbecciv, would you be able to retest and confirm if the issue still persists?

[2022-11-02 00:41] shawnborton commented on #12260
Adding a note that as part of [this conversation here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667277018509469), we've decided to remove this one from the WAQ Project. That doesn't mean we shouldn't do this, but let's prioritize all other WAQ issues first before moving onto this one.

[2022-11-02 00:43] shawnborton commented on #12262
Adding a note that as part of [this conversation here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667277018509469), we've decided to remove this one from the WAQ Project. That doesn't mean we shouldn't do this, but let's prioritize all other WAQ issues first before moving onto this one.

[2022-11-02 00:43] shawnborton commented on #12261
Adding a note that as part of [this conversation here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667277018509469), we've decided to remove this one from the WAQ Project. That doesn't mean we shouldn't do this, but let's prioritize all other WAQ issues first before moving onto this one.

[2022-11-02 00:44] shawnborton commented on #12263
Adding a note that as part of [this conversation here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667277018509469), we've decided to remove this one from the WAQ Project. That doesn't mean we shouldn't do this, but let's prioritize all other WAQ issues first before moving onto this one.

[2022-11-02 00:45] mollfpr commented on #10824
That’s correct @Santhosh-Sellavel

[2022-11-02 00:48] kavimuru opened #12361 "[$250] Native macOS Emoji picker does not open when the app is opened for the first time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. close the app
2. re-open the app
3. select the text input box,
4. use control+command+space to attempt to open the native mac

[2022-11-02 00:49] parasharrajat commented on #12260
These designs are really pro work. Loved the typography. Awesome work @shawnborton.

[2022-11-02 00:51] parasharrajat commented on #12263
On top of that, we might need to remove the background and scalling for stickers. There will be only one size for stickers, I guess.

[2022-11-02 00:54] cead22 commented on #12141
I think Ionatan's suggestion here was to simply remove the period, ie , `href=\"[^>]*`,  so after `href=\"` it accepts "any character that isn't `>`, zero or more times"

[2022-11-02 01:05] shawnborton opened #12362 "[Hold WAQ #239140] Implement Custom Avatar Picker"
Note: This issue is part of the greater [Implement Our New Branding in NewDot](https://github.com/Expensify/Expensify/issues/239140) project.

**What is it:**
Let's add the ability for users to choose their own avatar + color. We'll wait until after WAQ to implement this one.

![image](https://user-images.githubusercontent.com/2319350/199370627-75c518b7-38d5-4e64-8e74-eb5d66b09023.png)

**Does it

[2022-11-02 01:07] kavimuru opened #12363 "Chat scrolls after opening for the 2nd time reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to a chat
2. Go back
3. Navigate to the same chat again

## Expected Result:
The chat shouldn't scroll

## Actual Re

[2022-11-02 01:10] MitchExpensify commented on #12276
We do still want to fix! Labeling external

[2022-11-02 01:13] MitchExpensify commented on #12276
[Upwork Job](https://www.upwork.com/jobs/~01125a78e44d2fd173)

[2022-11-02 01:16] #11073 closed

[2022-11-02 01:18] MitchExpensify commented on #11093
[Doubled! ](https://expensify.slack.com/archives/C01GTK53T8Q/p1667351910960579)

[2022-11-02 01:20] aldo-expensify commented on #12243
It is not that the changes don't completely propagate, the data is sent to all device correctly, it is just the UI in this case that is not updating when the device receives new data. If the user closes the personal details modal and opens it again, it will show the most up to date data, or if the user didn't have the personal details modal open, and they open it after updating the personal data i

[2022-11-02 01:24] imranali126 commented on #12276
Hi this is your fetching issue.. When data is not coming then spinning infinity..

[2022-11-02 01:24] isabelastisser commented on #12267
Hey @kavimuru, I'm unable to reproduce this.

https://user-images.githubusercontent.com/31258516/199372297-ddbc05d0-c36d-4ad6-bfed-dbe47fb71661.mp4

[2022-11-02 01:25] cowboycito commented on #10614
# Proposal

For the iOS app to be able to handle file dropping we would need to add some native code on iOS.

First we would create a new module called `FileDroppableView` that would be respondible for handling all the native events. For that we would:

1. Create `FileDroppableViewManager.m`:

[code]

In this file we would declare all the props our droppable view would have using the `RCT_EXPORT_V

[2022-11-02 01:25] Luke9389 commented on #12251
We want [this design doc](https://docs.google.com/document/d/197fXHLlHM_RJA4-3MITwdu0N5e0HX5Q74sA4W80YMD8/edit#) to be reviewed ASAP because it's a fast change that dramatically improves our app. Also it's been lumped into WAQ (WhatsApp Quality) so the level of urgency is high (n7 to be specific).

[2022-11-02 01:26] MitchExpensify commented on #12152
@aimane-chnaif How exactly do I pull up the console warning screen?

[2022-11-02 01:27] cowboycito commented on #10614
# Proposal

For the iOS app to be able to handle file dropping we would need to add some native code on iOS.

First we would create a new module called `FileDroppableView` that would be respondible for handling all the native events. For that we would:

1. Create `FileDroppableViewManager.m`:

[code]

In this file we would declare all the props our droppable view would have using the `RCT_EXPORT_V

[2022-11-02 01:33] davidcardoza commented on #12234
Fixed

[2022-11-02 01:36] aldo-expensify commented on #12327
PR ready for review

[2022-11-02 01:37] imranali126 commented on #12276
Hi this is your fetching issue.. When data is not coming then spinning infinity..

[2022-11-02 01:39] dangrous commented on #11800
@mollfpr this is great! I'll go ahead and assign you, if you want to apply to the Upwork job when you have a moment. Sorry for all the back and forth, and I'm happy we got here!

[2022-11-02 01:41] Christinadobrzyn commented on #12271
@kavimuru can you try to reproduce this again to see what we are doing differently?

[2022-11-02 01:45] MitchExpensify commented on #11845
[Upwork Job](https://www.upwork.com/jobs/~01618cd009075d331c)

[2022-11-02 01:54] AwaisSikander commented on #12276
[Upwork Job](https://www.upwork.com/jobs/~01125a78e44d2fd173) @kavimuru  I have tried to explain the solution in upwork perposal for this job

[2022-11-02 02:33] Christinadobrzyn commented on #12363
I don't have an Android and I can't replicate it on iOS.

1. Send a message in chat
2. Tap the < arrow in the LHN
3. Tap on the chat again, there's no bouncing

<img src="user-images.githubusercontent.com/51066321/199381633-d73872b2-d954-48f0-9c45-e19c0ce48321.gif" width="200" height="400" />

I think this might be similar to these reports

https://github.com/Expensify/App/issues/11962
https://git

[2022-11-02 02:40] tienifr commented on #11515
# Proposal

## Problem

This issue happens on both mWeb and native

https://user-images.githubusercontent.com/113963320/199382610-8842bdcd-845b-49d5-ab9e-267e3057358f.mp4

In https://github.com/Expensify/App/blob/78d322fdda047707cb6a5243f321183db63dd10b/src/pages/home/ReportScreen.js#L222

We use `Freeze` component that prevents the components re-render whenever user uses small screen(`isSmallScre

[2022-11-02 02:41] mananjadhav commented on #12276
@AwaisSikander @imranali126 Please refer to the contributing guidelines [here](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md).

@AwaisSikander Please send your proposal here so that it can be reviewed.

[2022-11-02 02:43] mananjadhav commented on #9542
Thanks for this @puneetlath. Applied.

[2022-11-02 02:47] mananjadhav commented on #12354
Done @mallenexpensify

[2022-11-02 02:51] kerupuksambel commented on #12271
@Christinadobrzyn Could I try to elaborate? My step to generate the error is :
1. Type` <a href="takia.html">asd</a>` in a chat in [staging](https://staging.new.expensify.com/r/68947221)
2. _Copy the code with highlighting the code and pressing Ctrl+C / Cmd+C_
3. _Paste it with Ctrl+V / Cmd + V on your text editor._

The bug is remained the same in my side. I also just realized the difference betw

[2022-11-02 02:56] AwaisSikander commented on #12276
@mananjadhav
Infinite Loading is due to Ajax Promise call which change the state of loading to true when u are offline

[2022-11-02 02:57] AwaisSikander commented on #12276
I would love to solve this problem.
Kind Regards
Awais Sikander
awais-cs-eng.com

[2022-11-02 03:13] kerupuksambel commented on #12290
@marcaaron Sure thing!

# Proposal

The problem here, as mentioned by @parasharrajat, is that the URI parser only matched the one with HTTP/HTTPS scheme. Therefore, my proposal is to check all the valid URI scheme.

My first proposal is going to change this
[code]
in https://github.com/Expensify/expensify-common/blob/a71aad37aaba2b43b3a2d2f4be8052b025b265d3/lib/ExpensiMark.js#L5 into this (slashes

[2022-11-02 03:26] Christinadobrzyn commented on #11293
I can replicate that in staging.

1. Open a chat in [staging](https://staging.new.expensify.com/r/68947221)
2. Copy & paste `This is the list of domains that I'm explicitly ignoring in the Firm MRR query: 'aol.com', 'att.net', 'bellsouth.net', 'bills.expensify.com', 'expensify.cash', 'btinternet.com', 'cheerful.com', 'chromeexpensify.com', 'comcast.net', 'cox.net', 'evernote.user', 'expensify.sms'

[2022-11-02 03:33] Christinadobrzyn commented on #11094
Posted job in Upwork:

Internal posting: https://www.upwork.com/ab/applicants/1587648449081278464/job-details
External posting: https://www.upwork.com/jobs/~0124bea2e5e1d56e2b

[2022-11-02 03:33] AndreasBBS commented on #12325
**Proposal**
It appears that the `e.nativeEvent.selection` values are being set to the end of the string in the `onSelectionChange` handler when the emoji is replaced.

My proposed solution is, when the emoji is replaced, to get the cursor position from previous state and set the selection value in the new state.

In the `ReportActionCompose.js` function `updateComment(comment, shouldDebounceSaveC

[2022-11-02 04:01] roryabraham commented on #12251
I have read and reviewed this Design Doc!

[2022-11-02 04:04] roryabraham commented on #12267
I'm very consistently able to reproduce this. @isabelastisser you may need to check off `Disable cache` in your network console.

[2022-11-02 04:09] roryabraham commented on #12267
@puneetlath Going to snag this from you because I'm curious to learn more about the solution. I think it will probably be a simple solution, building off of the technique explained in [this article](https://web.dev/codelab-preload-web-fonts/):

[code]

And maybe we need to do that for all our fonts, but I'd like to see that generalized / DRY if possible

[2022-11-02 04:12] roryabraham commented on #5536
Sorry for the confusion, but this is not an external issue. Going to unassign @sobitneupane and @johncschuster.

[2022-11-02 04:23] mananjadhav commented on #9391
@MonilBhavsar Bump on the previous comment?

[2022-11-02 04:33] dangrous commented on #12132
Yep, I realized after writing that that I think I got my wires crossed. Good to have that confirmed in writing in the history though, thank you!

[2022-11-02 04:40] mananjadhav commented on #11104
Thanks @Justicea83.

A couple of things here,

1. I spent time in digging the root cause, trying to reproduce but I couldn't. We have a similar issue for zIndex property [here](https://github.com/Expensify/App/issues/11394)

2.
@adelekennedy @tgolen Coming from this [thread](https://expensify.slack.com/archives/C02NK2DQWUX/p1666883529459039) it mentions we cap the Crash :boom: issues for $500.  I

[2022-11-02 04:46] dangrous commented on #12132
So I just tried testing this again - I think I either found another bug, or expanded this one. I am still seeing this particular bug on production, but I also tried creating a workspace while being online, and saw pretty much the same behavior - the chats appear for a split second and then disappear, no RBR or any error shown. Also see a 404 in the console, which is I think trying to get the repor

[2022-11-02 04:57] tienifr commented on #11845
## Proposal

### Problem
Currently, in offline mode when the user edits the init rate and clicks save, this action will add in networkRequestQueue and will be called back if back online.
When comeback online, firstly api?command=OpenWorkspaceReimburseView will be called to refresh data (old data) and then api?command= UpdateWorkspaceCustomUnitRate to update Workspace Custom Unit Rate. So when savi

[2022-11-02 05:00] mananjadhav commented on #11192
I've reviewed the changes, they look fine. I'll get done with the test by tomorrow.

[2022-11-02 05:05] mananjadhav commented on #11336
@aimane-chnaif Please send us an update within 24 hours, else we'll have to rescind the job here.

[2022-11-02 05:08] mananjadhav commented on #11385
@mmjindal2555 Thanks for the findings. The enlarged image is available if you don't crop with the image editor we have on the App.

Please check one such example.

https://d1wpcgnaa73g0y.cloudfront.net/07224468a845eaae17169b21165b2ae3e073db38_128.jpeg

I don't see backend sending high res image to the API. @iwiznia Are you aware about it? and are we okay to show it for some images like @mmjindal25

[2022-11-02 05:14] mananjadhav commented on #11461
PR was merged, but I am not sure about `BugZero Checklist`.  Can you take a look at it @trjExpensify ?

[2022-11-02 05:14] tjferriss commented on #11429
Still on hold

[2022-11-02 05:15] mananjadhav commented on #11512
@kbecciv Quick bump. Can you help me with the QA steps for this one?

[2022-11-02 05:16] mananjadhav commented on #11693
@tjferriss Quick bump on the Upwork payment for this one.

[2022-11-02 05:18] mananjadhav commented on #11893
@ntrepanier @dangrous quick bump for the Upwork job here.

[2022-11-02 05:19] sakluger commented on #12005
Sorry for the delay! I upgraded to Safari 16.1 and was able to reproduce the behavior. I think this can be handled by a contributor.

[2022-11-02 05:21] mananjadhav commented on #12188
@shawnborton It looks like we've got good +1 (and 0 Nos) for the horizontal approach. Can we have a quick design for this one?

I am guessing it should also include the placement of the popup when the composer is in the full screen mode?

[2022-11-02 05:23] mananjadhav commented on #12276
@AwaisSikander We would need a proposal with some technical details, and some granular details like the lines you would change, the files you'll update the code to?

Also please take a look at our source code to get the understanding on how our API calls work. They ain't the general AJAX calls that you see in JS.

[2022-11-02 05:24] sakluger commented on #12005
Internal Upwork job post: https://www.upwork.com/ab/applicants/1587676826820882432/job-details
External Upwork job post: https://www.upwork.com/jobs/~01b84397fcb25f5ce2

[2022-11-02 05:32] ctkochan22 commented on #11153
So does it only affect mobile web? Trying to determine how its repoduce in comment: https://github.com/Expensify/App/issues/11153#issuecomment-1295006404

[2022-11-02 05:34] ctkochan22 commented on #10493
Yeah, some of it would be easy like updating submitting a password for CreateBankAccount, but the rest would be unnecessary changes for somethign that won't exit soon

[2022-11-02 05:34] ctkochan22 commented on #10493
I say we close and can revisit later if it still an issue

[2022-11-02 05:43] kadiealexander commented on #11432
Done! Thanks Tushar :)

[2022-11-02 05:43] #11432 closed

[2022-11-02 05:58] sakluger commented on #12291
I confirmed that the Paypal payment option does not show up until I refresh the page. Adding the external label.

[2022-11-02 05:58] mvtglobally commented on #12305
@luacmartins Regression is completed

PRs https://github.com/Expensify/App/pull/11586, https://github.com/Expensify/App/pull/11875, https://github.com/Expensify/App/pull/11907 are blocked on Android due to https://github.com/Expensify/App/issues/12312. We are retesting
PR https://github.com/Expensify/App/pull/12150 is failing due to https://github.com/Expensify/App/issues/12335. Repro in prod, che

[2022-11-02 06:04] sakluger commented on #12143
@neil-marcellini not sure if it's related, but just in case, [this issue](https://github.com/Expensify/App/issues/12000) looks similar.

[2022-11-02 06:06] sakluger commented on #12291
Internal Upwork post: https://www.upwork.com/ab/applicants/1587687358672089088/job-details
External Upwork post: https://www.upwork.com/jobs/~016bc1d3a553815351

[2022-11-02 06:09] sakluger commented on #12244
Sorry for the delay!

Internal Upwork job post: https://www.upwork.com/ab/applicants/1587688091616837632/job-details
External Upwork job post: https://www.upwork.com/jobs/~016c22db581fbd8937

[2022-11-02 06:17] hungvu193 commented on #12244
@sakluger I've applied (https://www.upwork.com/ab/proposals/1587690326414188545)

[2022-11-02 06:21] roryabraham commented on #5536
I think there are two challenges we'll face with this issue that we may not have encountered before.

1. How do we prevent quick actions from being overwritten by server responses?
1. How do we queue a "debounced" action offline?

For example, let's assume we had a simple solution to sync drafts across devices and sessions, using Onyx and Pusher, that looked something like this:

1. I start typing

[2022-11-02 06:28] sakluger commented on #12156
I was able to reproduce. Waiting on the Slack discussion to decide whether to label external or no.

[2022-11-02 06:57] VikalpP commented on #12005
Explanation about the issue -

I see this Sidebar is actually rendered in "Modal", and Modal has a height "100%". **(NB)**

As the Safari browser itself is skeptical about re-painting the UI for these types of browser-relevant changes (eg, closing tab, on iPhone bottom search bar, etc) - it doesn't update the UI if height is simply set to percentage 100%.

Possible Solution -

Replacing the height

[2022-11-02 07:29] mollfpr commented on #11800
@dangrous @thesahindia PR raised 🚀

I also added the fix for a similar issue when creating **New Chat** / **New Group Chat**. So not just checking `pendingFields.addWorkspaceRoom` but also `pendingFields.createChat` for optimistic success when creating the new chat.

[2022-11-02 08:12] srikarparsi commented on #11405
hey @mateocole, just wanted to ask if we could double the price of the issue?

[2022-11-02 08:47] smrutiparida commented on #12004
@puneetlath @mvtglobally can you help me with an expensify account or are there any dummy savings account you can share me with to reproduce these steps

[2022-11-02 08:59] ivanmiklec commented on #11277
Proposal: `KeyboardAvoidingView` does not work for all android keyboards, and interacts differently with iOS and Android. Since behavior is only wrong on Android, I would set the `behavior` specifically for Android.

Also, looking at your  `android/app/src/main/AndroidManifest.xml`, option `android:windowSoftInputMode` is set to
`adjustResize`, meaning whenever the keyboard is opened, components a

[2022-11-02 09:04] dylanexpensify commented on #11893
Working on this now! Taking over for Nicole.

[2022-11-02 09:06] dylanexpensify commented on #11893
upwork: https://www.upwork.com/jobs/~01566dc2f1c2e9a787

[2022-11-02 09:12] dylanexpensify commented on #11908
@0xmiroslav any updates here

[2022-11-02 09:15] zanyrenney commented on #10767
@thienlnam @rushatgabhane what can we do here to get some more proposals?

[2022-11-02 09:22] Beamanator commented on #10599
Yep thanks @mallenexpensify 👍

[2022-11-02 09:30] mountiny commented on #11449
@parasharrajat hello! Can you please confirm you have been paid for reporting this issue?

[2022-11-02 09:33] Beamanator commented on #8235
Thanks @mallenexpensify - ya I can pick it up in a bit if nobody else has, but hopefully we get some help :D

[2022-11-02 09:59] Julesssss commented on #12308
Hi, thanks for that.

What do you mean by KI? Sorry, but I don't remember what that stands for 😅

[2022-11-02 10:07] Julesssss commented on #12308
@zanyrenney I'm on the fence about making this a deploy blocker. I'm blocked at test step 14 currently, are you able to reproduce? If you're also stuck I'll ask for help testing in Slack

[2022-11-02 10:11] Julesssss commented on #12352
I have already closed this in Firebase and I'm closing this issue too as it seems like a development issue to me.

[2022-11-02 10:18] Julesssss commented on #7375
Thanks for the detailed investigation. That's unfortunate, and I don't have any suggestions for the async workaround.

Perhaps we should double the budget and seek additional proposals

[2022-11-02 10:18] Julesssss commented on #10486
Not overdue, awaiting payment

[2022-11-02 10:19] Julesssss commented on #10486
Oh cool, it's the second today. Is that why the label changed priority? 🤯

[2022-11-02 10:20] Julesssss commented on #10347
Hey @isabelastisser could you please double the bounty? Thanks

[2022-11-02 10:29] Karim-30 commented on #12189
@roryabraham we already have this feature because we are inserting the emoji name and its keywords into the [Trie](https://github.com/Expensify/App/blob/72fa14d878281b3db1a1fa28330b9fba835a7436/src/libs/EmojiTrie.js#L8-L32)

i.e when inserting this emoji
[code]
we aren't inserting a single emoji `{name:'grinning', {code: '😀'}}`

actually we are inserting something like this
[code]

so when typing

[2022-11-02 10:30] tienifr commented on #12267
# Proposal

## Problem

- This issue occur because of [FOIT](https://fonts.google.com/knowledge/glossary/foit)
- To fix it, as @roryabraham's suggestion, we'll set preload for font.css

## Solution

In https://github.com/Expensify/App/blob/72fa14d878281b3db1a1fa28330b9fba835a7436/web/index.html#L15 we'll change `rel="stylesheet"` to `rel="preload"`.

[code]

https://user-images.githubusercontent.c

[2022-11-02 10:31] Julesssss commented on #12305
Hey @Expensify/applauseleads

- I believe `#11586, #11875, #11907` should be possible to test now, given that the Android fab regression was resolved by PR #12336
- It also looks like `#12137 & #12125` weren't tested, is there a reason or can these be retested now?

[2022-11-02 10:35] Julesssss commented on #12305
I checked off #11907 as the PR was reverted

[2022-11-02 10:39] Beamanator commented on #10894
Added https://github.com/Expensify/App/issues/11854 to `Bugs (in progress - not on hold)`

[2022-11-02 10:40] Beamanator commented on #11854
@JmillsExpensify thanks for tagging me! I added this bug to my [tracker](https://github.com/Expensify/App/issues/10894) to keep an eye on it, but I don't think it needs to be put on hold since it's not related to caching - I would say go ahead and double and keep this one open to work on 👍

[2022-11-02 10:41] Julesssss commented on #12305
Checking off #12137 as it is not testable in staging

[2022-11-02 10:56] sketchydroide commented on #11187
We still need to decide if we fix now or wait for the branding update.
This should be easy enough for an external to do it. But not worth it if the page is getting worked in a short time as we might a well do it then.
This said, I don't think the priority on this is that high, sure it's annoying, but no like it makes the app unusable also It's only on tiny web screens.

[2022-11-02 11:01] Beamanator commented on #11341
Good call @Puneet-here but I believe that's only for the English copy, not for the translation - and since we have 3 employees who've agreed on the English copy, I don't think we need to add `Waiting for Copy`. However, I'm following up to check it out.

In the meantime feel free to get the PR started & we can add the translation in when we get it

[2022-11-02 11:07] Julesssss commented on #12308
I asked for someone to help confirm this issue in Slack [here](https://expensify.slack.com/archives/C03SC9E09/p1667386623312289), but I have managed to reproduce the issue in web:

<img width="1060" alt="Screenshot 2022-11-02 at 11 06 17" src="https://user-images.githubusercontent.com/10736861/199474492-a91a2ca2-0b72-4f86-b4a0-cdd8dcb29724.png">

[2022-11-02 11:26] CortneyOfstad commented on #12015
Just got assigned to me yesterday melvin-bot 😑😂 Looking at this today!

[2022-11-02 11:37] Julesssss commented on #12308
Marking internal as it seems to depend on the environment. I cannot reproduce in dev 😕

Here's the [Logs ](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%22763c8dc1ca61405e-LHR%22)+AND+timestamp:[2022-11-02T10:33:10.143Z+TO+2022-11-02T12:33:10.143Z]&index=logs_expensify-019315)for my attempt:

<img width="1713" alt="Screenshot 2022-11-02 at 11 36 42" src="https://user-ima

[2022-11-02 11:40] trjExpensify commented on #11187
Yeah, I think we all agree this waits for push to page. I just thought that the "held" reason was probably now with releasing the branding updates to the workspace editor, whereby this would be reworked as push to page.

[2022-11-02 11:45] abekkala commented on #11087
https://www.upwork.com/ab/applicants/1587772488630054912/job-details

https://www.upwork.com/jobs/~015814913e9779f5c9

[2022-11-02 11:53] Julesssss commented on #12308
Okay, so the bank account data is definitely being added to Onyx, but for some reason it's no contained when the check is made 😕  As the workaround is to simply refresh the page and it's already on prod, I'm not going to make this a major blocker. But it is still important.

https://user-images.githubusercontent.com/10736861/199483290-55198dca-4f3b-489d-8fdb-a6696031c685.mov

[2022-11-02 11:54] abekkala commented on #12240
https://www.upwork.com/ab/applicants/1587774979442769920/job-details

https://www.upwork.com/jobs/~0139d76c4c5b53e2d2

[2022-11-02 12:06] azimgd commented on #6883
Working on a new scope for this issue per discussion with @luacmartins. New milestone is to create a web version for keycommand package.

Ready to be reviewed:
https://github.com/Expensify/react-native-key-command/pull/8

Work in progress:
https://github.com/Expensify/react-native-key-command/pull/9

[2022-11-02 12:18] eVoloshchak commented on #11688
I'll review the proposal in a couple of hours

[2022-11-02 12:18] isabelastisser commented on #11131
Sorry for the delay, payment will be issued today.

[2022-11-02 12:32] FilipRado commented on #11087
I will fix your layout to use only 'position:absolute'.
And then it will change by keyboardaware events.

[2022-11-02 12:36] puneetlath commented on #11671
@fedirjh can you estimate when the PR will be ready?

[2022-11-02 12:51] parasharrajat commented on #7375
Ok, let's open it back to contributors. BTW,I am C+ on this issue. I was trying to complete the partial PR.

[2022-11-02 12:53] parasharrajat commented on #10107
I will update the update in sometime.

[2022-11-02 12:54] NicMendonca commented on #11059
@mananjadhav we're discussing internally[ here,](https://expensify.slack.com/archives/C01SKUP7QR0/p1667247285616069) so I'll come back with more info asap!

[2022-11-02 13:01] puneetlath commented on #7420
@stitesExpensify I removed and re-added the Bug label to get a BZ team member assigned (me haha) to help move this forward.

[2022-11-02 13:02] sobitneupane commented on #11277
@ivanmiklec If you haven’t already, check out [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md).

Please check out Expected Results in [issue description](https://github.com/Expensify/App/issues/11277#issue-1385474423).

We are using this feature in many screens.

What are the changes you are proposing?

I believe there should be a

[2022-11-02 13:06] sobitneupane commented on #11671
@puneetlath We have [an issue](https://github.com/Expensify/App/issues/11671#issuecomment-1287939672) with the proposal. Expecting an updated proposal from @fedirjh.

[2022-11-02 13:14] puneetlath commented on #8797
@Julesssss I removed and re-added the Bug label to get a BZ team member assigned to help move this forward.

[2022-11-02 13:22] parasharrajat commented on #7375
@kadiealexander Please add the `Help Wanted` label and open the Upwork job(I think the old one got closed) once you have time. Thanks.

[2022-11-02 13:23] puneetlath commented on #7094
@roryabraham removed and re-added the bug label to get a BZ team member added who can help move this forward.

[2022-11-02 13:48] MonilBhavsar commented on #10848
@flaviadefaria I think we're good to issue payment to everyone

[2022-11-02 13:53] maddylewis commented on #12061
waiting for update on this one - https://github.com/Expensify/App/issues/11910

[2022-11-02 14:04] tgolen commented on #10905
@Santhosh-Sellavel Thanks for reporting that! I think it's OK for this issue. I noticed there is another issue for handling view rotation on iPad better, and that's probably more related to the bug you're seeing in iPad safari: https://github.com/Expensify/Expensify/issues/136195

[2022-11-02 14:08] JmillsExpensify commented on #8131
I vote closing the issue. I don't think the scrollbar is a required pattern.

[2022-11-02 14:10] greg-schroeder commented on #11334
@aimane-chnaif @rushatgabhane please [apply via Upwork](https://github.com/Expensify/App/issues/11334#issuecomment-1291962443) so I can get ya paid 👍

[2022-11-02 14:12] dylanexpensify commented on #10240
upwork job: https://www.upwork.com/jobs/~0143304008c18576d5 cc @rushatgabhane @thesahindia !

[2022-11-02 14:16] kbecciv commented on #12308
@Julesssss This is open KI https://github.com/Expensify/App/issues/11796 for IOS and Android app

[2022-11-02 14:16] hellohublot commented on #10263
### Proposal

A little bit slower, someone already provided `@mattermost/react-native-paste-input` when I took the screenshot, by the way, I suggest you fork this library as `Expensify/react-native-textinput-extension`, because we have `a lot of TextInput issues`, we can modify it to solve our issues.

I can only reproduce it on [mWeb-Safari, iOS, android].

#### For mWeb-Safari
https://github.com

[2022-11-02 14:22] alexpensify commented on #12352
@Julesssss - with this news, should I remove the job in Upwork too?

[2022-11-02 14:22] kbecciv opened #12371 "Web- New Room - Changes made offline on another device are displayed there only after refreshing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Sign in with any Expensifail account
3. Create a workspace from the green plus

[2022-11-02 14:22] JmillsExpensify commented on #11187
Gotcha, I think the latest is that the branding updates are not touching push-to-page. Or rather, we are not implementing push-to-page as a requirement for completing the branding updates, so I do kind of think that this is something that depends on N7. Maybe we add it to that project and close this?

[2022-11-02 14:24] JmillsExpensify commented on #11341
I agree with @Beamanator's point though happy to wait and see where we align internally first.

[2022-11-02 14:25] NicMendonca commented on #8236
doubled again: https://www.upwork.com/jobs/~01431147666a4d1359

[2022-11-02 14:26] JmillsExpensify commented on #11854
Sounds good!

Contributors - please make sure to post your proposal in this issue. Then when we get there, the Upwork job is here: https://www.upwork.com/jobs/~01a08d6a4623670c83.

[2022-11-02 14:29] Julesssss commented on #12352
Oh yeah, please do Al

[2022-11-02 14:31] tgolen commented on #11650
Ack, very sorry about that! I have merged it now. So sorry!

On Tue, Nov 1, 2022 at 12:49 PM aimane-chnaif ***@***.***>
wrote:

[2022-11-02 14:32] tgolen commented on #11391
It looks like the next step here is to get some proposals for the fix.

[2022-11-02 14:38] Julesssss commented on #12308
Opening this up for external contributors. My best guess right now is that the Component is not updated after the bank account data is persisted to Onyx.

[2022-11-02 14:42] kbecciv commented on #11512
Sorry, I missed you tread earlier.
Please use the steps for adding fully verified withdrawal account credentials:
1. Navigate to the add bank account modal in Workspace settings
2. Verify the Add bank account modal is displayed with 2 options to add bank accounts (Log in and Manual)
3. Select  plaid modal option
4. Select Fidelity bank
5. Enter the test credentials: Username: user_good | Password:

[2022-11-02 14:44] alexpensify commented on #12352
Done

![image](https://user-images.githubusercontent.com/8107070/199520156-2d7592b4-0bb4-4e66-88ad-2d1277f6f39c.png)

[2022-11-02 14:45] tgolen commented on #11104
I think we can close it if there hasn't been any more instances of the crash. I looked in Crashlytics and found that this crash only happened once on Sep 19, and hasn't happened since. Because of that, I am going to close this issue.

[2022-11-02 14:45] #11104 closed

[2022-11-02 14:47] Puneet-here commented on #8455
### Proposal

- I have also added the validation for password (we had a function but we weren't using it)
- I have kept the validation function clean
- Using `onSubmit` and `validate` function as the guidelines suggests

At [AddSecondaryLoginPage.js](https://github.com/Expensify/App/blob/main/src/pages/settings/AddSecondaryLoginPage.js) I will make these changes -
[code]

I will add ` SECONDARY_LO

[2022-11-02 14:47] bulatgab commented on #10263
The @mattermost/react-native-paste-input package is a great find 👍
(IMHO, it also opens a hybrid approach. If it is decided to minimize the use of third-party libraries and we aim at writing in-house native components, PasteInput could be used as an iOS-only solution until our own component is ready)

[2022-11-02 14:47] isabelastisser commented on #11131
Update:@mollfpr and @thesahindia have been paid in Upwork.

@mvtglobally, I still can't find you on Upwork. Can you please apply for the job so that I can hire you? Thanks!

CC @NikkiWines @amyevans, do you have access to Upwork? Are you able to find @mvtglobally there?

[2022-11-02 14:48] mananjadhav commented on #11512
Okay thanks for the comment @kbecciv. Will I need to upload files with onfido with the given credentials?

[2022-11-02 14:48] amyevans commented on #11131
@isabelastisser, @mvtglobally is a member of the Applause QA team 😄 (so no payment via Upwork)

[2022-11-02 14:51] isabelastisser commented on #11131
Oh ok! I'm still learning the process, thanks Amy! :)

[2022-11-02 14:52] stephanieelliott commented on #12318
Seems like this is occurring for only one tester, possibly a local issue. Gonna close this, we can reopen in the future if this turns out to be a widespread issue!

[2022-11-02 14:52] #12318 closed

[2022-11-02 14:55] isabelastisser commented on #11131
The contract has been completed, and the Upwork post has been closed.

[2022-11-02 15:01] dylanexpensify commented on #12045
Doubled two days ago

[2022-11-02 15:02] dylanexpensify commented on #11948
doubled

[2022-11-02 15:17] mvtglobally commented on #12305
@Julesssss @luacmartins    Checking off  #11586, #11875, #11907, #12336 as retest pass
PR https://github.com/Expensify/App/pull/12125 is fail on IOS https://github.com/Expensify/App/issues/12355. Repro in prod checking off
We are all set

[2022-11-02 15:19] ntdiary commented on #10107
I have made some internal changes in my [repo](https://github.com/ntdiary/electron-autofill), nothing major changes in the usage. (Encryption has not been added)
<details>
<summary>App code:</summary>

[code]
</details>

[2022-11-02 15:19] AndreasBBS commented on #12298
@kavimuru I'm trying to tackle this but I'm not able to reproduce this. I tried reproducing with the Brave and Chrome browsers. What browser are you using?

[2022-11-02 15:20] eVoloshchak commented on #8364
Found [this](https://expensify.slack.com/archives/C01GTK53T8Q/p1666178267208429?thread_ts=1666177411.170169&cid=C01GTK53T8Q) discussion on Slack, which makes the desired behavior less clear

Just noticed, that we should probably update the issue description, video there does not represent current behavior. [This one](https://github.com/Expensify/App/issues/8364#issuecomment-1289227273) does.

@mal

[2022-11-02 15:22] kbecciv commented on #11542
Issue is not fixed with build 1.2.22.3

https://user-images.githubusercontent.com/93399543/199529552-91599a05-d854-4247-bffe-7cc8f475f577.mp4

[2022-11-02 15:26] thesahindia commented on #10240
Applied!

[2022-11-02 15:29] kavimuru opened #12372 "[HOLD][$250] Send Attachment - Pressing "X" on attachment preview using on screen keyboard still uploading attachment reported by @syedsaroshfarrukhdot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open Chat Of Any User
2. Send An Attachment
3. Attachment Preview With In Modal Appears
4. Press `Tab ` to get `X` icon  high

[2022-11-02 15:30] luacmartins commented on #12341
Bumping this to a weekly as we look for proposals.

[2022-11-02 15:31] luacmartins commented on #12116
Still waiting on @0xmiroslav's [PR](https://github.com/Expensify/App/pull/12098) to be merged to assign them to this issue.

[2022-11-02 15:32] puneetlath commented on #10738
@mollfpr @mananjadhav the old Upwork job got closed. Can y'all apply to this one so I can get you paid out? Comment here when you have. Thanks!

https://www.upwork.com/jobs/~015ac0b1950f970f4d

[2022-11-02 15:32] Julesssss commented on #12305
Amazing, thank you!

[2022-11-02 15:32] tgolen commented on #12156
I'm not really sure that this is a bug or something we want to fix. When that menu is open, there is an opacity overlay over the rest of the app, so it's not really a "background color" that we would want to extend to the status bar area. I'm going to close this, but also tagging @Expensify/design just for confirmation on my theory.

[2022-11-02 15:35] Julesssss commented on #12305
Timing dash has no new changes, we're still seeing higher times due to a new measurement method.

[2022-11-02 15:35] andrewlor commented on #10767
@zanyrenney This was already deployed to production over 7 days ago, so just awaiting payment. I requested an increase in compensation for these reasons here https://github.com/Expensify/App/issues/10767#issuecomment-1293829349. I'm still waiting to hear a decision on that.

[2022-11-02 15:42] stitesExpensify commented on #5536
This is an interesting question and I have a crazy idea, what if we just _didn't_. What if instead, part of coming back online is that we send all drafts to the server?

[2022-11-02 15:44] thesahindia commented on #8455
@Puneet-here's [proposal](https://github.com/Expensify/App/issues/8455#issuecomment-1300573953) looks good to me. It doesn't add additional code and validation looks good.

C+ reviewed 🎀👀🎀

cc: @stitesExpensify

[2022-11-02 15:50] shawnborton commented on #12156
Yeah, I don't think we can do much about that. Ideally the opacity/BG overlay would stretch over the status bar area but I don't think it's possible.

[2022-11-02 15:51] Julesssss commented on #12233
PR: https://github.com/Expensify/App/pull/12374

[2022-11-02 15:51] eVoloshchak commented on #12238
Which tooltip is expected to be shown?

1. Standart tooltip that is built-in into the browser
2. The pop-up [tooltip](https://github.com/Expensify/App/tree/main/src/components/Tooltip) we're showing for links in chat

[2022-11-02 15:53] thesahindia commented on #8455
@dhairyasenjaliya, We wanna use front-end validation wherever we can.

[2022-11-02 15:54] Julesssss commented on #12305
I cleared out some outdated issues in Firebase. The single new [issue](https://console.firebase.google.com/u/0/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/70aade592d653be2a7ae6f175f70eab0?time=last-seven-days&versions=1.2.22-3%20(1001022203);1.2.22-1%20(1001022201);1.2.21-4%20(1001022104)&sessionEventKey=636063A500E500011002755F65A7CC04_1739278595323285166) on Firebase

[2022-11-02 15:54] Julesssss commented on #12305
:shipit:

[2022-11-02 15:55] puneetlath commented on #9542
All paid, thanks!

[2022-11-02 15:55] dylanexpensify commented on #9181
Doubled!

[2022-11-02 15:55] Julesssss commented on #12305
:shipit:

[2022-11-02 15:57] miljakljajic commented on #11057
[Posted to Upwork.](https://www.upwork.com/ab/applicants/1587806073372385280/job-details)

[2022-11-02 15:58] eVoloshchak commented on #12319
@0xmiroslav, thanks for the proposal!

@iwiznia, @0xmiroslav's proposal looks good to me

🎀👀🎀 C+ reviewed!

[2022-11-02 15:59] Justicea83 commented on #11496
I updated the comment, am sure you missed it @ctkochan22 , pasting the PR here again for visibility.
https://github.com/Expensify/App/pull/11533

[2022-11-02 16:06] mallenexpensify commented on #11132
1. Does this still need to be `Hourly`?
2. Why hasn't it gone overdue if it's `Hourly`?

[2022-11-02 16:08] mallenexpensify commented on #2727
@parasharrajat , can you please accept so I can pay you and close this out?
https://www.upwork.com/jobs/~01789a28c4422d1d15

[2022-11-02 16:09] mananjadhav commented on #10738
@puneetlath applied

[2022-11-02 16:10] syedsaroshfarrukhdot commented on #12372
### Proposal

I figured out the issue is because of `pressOnEnter` on `Send` Button in `AttachmentModal.js`

https://github.com/Expensify/App/blob/e5d766115babfe4fed51b97e8b7f65b6bec64f21/src/components/AttachmentModal.js#L277-L285

Removing It Solves The Issue But I Believe We Need To Figure Out Enter Key Accessibility In This Modal As `pressOnEnter` props Registers A Keyboard Shortcut For `Enter

[2022-11-02 16:13] StefStavri commented on #12255
Removing myself and the waiting for copy level as there is no verbiage written yet to polish :)

Discussing here! https://expensify.slack.com/archives/C03SSAQG5/p1667405454496479?thread_ts=1667396648.336749&cid=C03SSAQG5

[2022-11-02 16:13] sketchydroide commented on #12253
Happy to take this one, including helping with the design doc

[2022-11-02 16:13] thesahindia commented on #8455
It's good to use validate at the front-end so that we don't have to rely on the API response.

1. @dhairyasenjaliya, your proposal doesn't handle the validation for email and phone number
2. It doesn't use `isValidPassword` to check if the password is valid

The contributors can take help by looking at other `Form` refactored pages, so I expect the proposal to be complete.

[2022-11-02 16:15] sketchydroide commented on #12255
happy to help with this one as I know the process

[2022-11-02 16:18] mallenexpensify commented on #9703
On hold, the tracking issue was recently updated so we should be moving forward soon #10894

[2022-11-02 16:21] mallenexpensify commented on #11321
@hannojg any update? Would love to get this fixed for ~DB~ Android users, there are also other issues held on this fix.  Bumping to `Daily`

[2022-11-02 16:21] mallenexpensify commented on #11954
Nudged the issue that this might be be held on https://github.com/Expensify/App/issues/11321#issuecomment-1300817683

[2022-11-02 16:25] hannojg commented on #11321
Haven't continued yet, you can expect results latest by the end of this week!

[2022-11-02 16:31] neil-marcellini commented on #12132
I recommend looking at the `CreateWorkspace` api command in Web-E. Try out the behavior for another type of failure. We need to return the data for this error in the same way as the others, within the `onyxData`.

[2022-11-02 16:32] mountiny commented on #12264
For completeness, we would like to show this new icon for Concierge only in NewDot and leave the current Concierge avatar in other platforms.

[2022-11-02 16:35] adelekennedy commented on #4324
I had to reopen the job, but it's payment time. @Santhosh-Sellavel @Karim-30 will you apply [here](https://www.upwork.com/ab/applicants/1587845308835868672/job-details)?

[2022-11-02 16:35] parasharrajat commented on #12290
I am reviewing it.

[2022-11-02 16:36] luacmartins commented on #6883
https://github.com/Expensify/react-native-key-command/pull/8 is merged.

[2022-11-02 16:38] quinthar commented on #11321
Haha, thank you.  I'd love to be able to, you know, use our own app.

On Wed, Nov 2, 2022 at 9:25 AM Hanno J. Gödecke ***@***.***>
wrote:

[2022-11-02 16:41] Beamanator commented on #11582
Unassigning since k2 is not liking that i have so many issues assigned to me on hold, will get back to this once N7 Account Settings if off hold

[2022-11-02 16:41] Beamanator commented on #11581
Unassigning since k2 is not liking that i have so many issues assigned to me on hold, will get back to this once N7 Account Settings if off hold

[2022-11-02 16:44] NikkiWines commented on #12264
@shawnborton could you link/post the svg format of the new concierge icon?

[2022-11-02 16:45] Beamanator commented on #11578
Unassigning since k2 is not liking that i have so many issues assigned to me on hold, will get back to this once N7 Account Settings if off hold

[2022-11-02 16:46] Beamanator commented on #11580
Unassigning since k2 is not liking that i have so many issues assigned to me on hold, will get back to this once N7 Account Settings if off hold

[2022-11-02 16:46] Beamanator commented on #11579
Unassigning since k2 is not liking that i have so many issues assigned to me on hold, will get back to this once N7 Account Settings if off hold

[2022-11-02 16:50] luacmartins commented on #8497
I don't think this is an issue anymore. I couldn't reproduce on staging or locally. @kavimuru are you still able to reproduce this issue?

[2022-11-02 16:50] Beamanator commented on #12014
Trying to get someone to take over for me, got too many other issues on my plate atm

[2022-11-02 16:52] parasharrajat commented on #12290
This suggestion literally accepts every protocol which I think is fine. But this is not complete.

It does not handle link conversion. If you pass through the parser `ftp://google.com/` with your solution.

You will get `ftp://google.com/` as the text of the link and `https://ftp://google.com/` as URL which is incorrect.

[2022-11-02 16:52] shawnborton commented on #12264
Can do! Is it better to have it with or without the roundedness?

[2022-11-02 16:55] luacmartins commented on #11011
Still looking for proposals

[2022-11-02 16:59] trjExpensify commented on #7094
👋 discussing it [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667396068780459).

[2022-11-02 17:00] NikkiWines commented on #12264
Hmmm with roundedness for now, I think! That might change with the broader default icon application though 🤔

[2022-11-02 17:03] LLPeckham commented on #12255
Since you're here @trjExpensify 😏 -- For NDR -- should we only show that on US app stores? Or is this something we're expecting to have with the next update? I thought it was further out so just wanted to confirm.

[2022-11-02 17:05] trjExpensify commented on #7094
Okay, so I'm going to close this. With #passwordless this issue is obsolete, so there's no point channelling any energy into it in light of that.

Of course, feel free to reopen if you disagree.

[2022-11-02 17:07] sketchydroide commented on #11237
I'm removing myself, I haven't had the time to look at this, and as daily I should be focusing on it and have not been able to

[2022-11-02 17:08] sketchydroide commented on #11068
I'm removing myself, I have not been able to look at this, and I'm not sure I will, I'm leaving this so that someone can pick it up.

[2022-11-02 17:10] trjExpensify commented on #12255
Ah yeah, I didn't notice we're showing copy from the `Reimburse expenses` page here. If the focus is on the Expensify Card, then I would have thought that would show the `Issue cards` workspace settings page?

[2022-11-02 17:12] sketchydroide commented on #11520
[It seems like Web-PDFs is not deployable at the moment, we need to wait for the upgrade to php8 ](https://expensify.slack.com/archives/C03TQ48KC/p1667408166217289)

[2022-11-02 17:13] thienlnam commented on #11486
Let's give it a whirl 🟢

[2022-11-02 17:13] shawnborton commented on #12255
Yeah sorry, those screens are all placeholders for the time being!

[2022-11-02 17:14] shawnborton commented on #12255
Once we sort out copy, I'll create the correct screenshots to go with them.

[2022-11-02 17:16] LLPeckham commented on #12255
@trjExpensify - I'm just trying to get a feel of what we're actually wanting to promote for the next app store update. I'll bring my question to Slack to have a larger discussion since I'm not actually sure if we want to focus on the card or tout any of the features (mileage, reimbursement, etc. -- if those will be done in time for the next update). Thanks!

[2022-11-02 17:18] Beamanator commented on #11574
Unassigning since k2 is not liking that i have so many issues assigned to me on hold, will get back to this once N7 Account Settings if off hold (waiting on #passwordless too probably)

[2022-11-02 17:18] Beamanator commented on #11575
Unassigning since k2 is not liking that i have so many issues assigned to me on hold, will get back to this once N7 Account Settings if off hold (waiting on #passwordless too probably)

[2022-11-02 17:19] Justicea83 commented on #8236
I have a fix for this, so I'm snapping it

[2022-11-02 17:19] thienlnam commented on #10767
@andrewlor Thanks for your comment - I'll bring it up to the team and get back to you

@zanyrenney Let's hold off on the payment for the contributor for now until we finish the discussion

[2022-11-02 17:20] puneetlath commented on #10414
@NicMendonca @sketchydroide it sounds like we're closing this issue, is that right? If so, can one of you go ahead and do it?

[2022-11-02 17:20] puneetlath commented on #10364
@youssef-lr I removed and re-added the bug label to get a BZ team member added who can help move this forward.

[2022-11-02 17:21] puneetlath commented on #10364
Though actually, it looks like a PR was already merged. Is this done? And if so, can we close it?

[2022-11-02 17:22] mallenexpensify commented on #8235
Gonna sent to Demo team since reproducible steps in the OP are clear.  I just tested on desktop (v1.2.22-3) and the bug persists . The file to use is in the Slack thread [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1645825744779409?thread_ts=1644521208.448039&cid=C01GTK53T8Q)
<img width="408" alt="image" src="https://user-images.githubusercontent.com/22508304/199558246-ee5e5a88-0f58-4e

[2022-11-02 17:23] mallenexpensify commented on #8235
@mountiny For the new BZ process, we're planning to send a lot more issues with reproducible steps to the demo team.  Let me know if there's any additional details you'd like for these types of issues. Or.. any other feedback for when we do

[2022-11-02 17:24] youssef-lr commented on #10364
Yeah this has been fixed, I just tested again in production. Closing!

[2022-11-02 17:25] trjExpensify commented on #12255
Yeah, great idea. FWIW, the free plan workspace editor is already live in NewDot so you can do mileage, reimbursement etc.

[2022-11-02 17:27] mvtglobally commented on #12305
@Julesssss i was just about to ping on the same. Any idea if the fix is coming soon?

[2022-11-02 17:30] puneetlath commented on #10216
@luacmartins I removed and re-added the bug label to get a BZ team member added who can help move this forward.

[2022-11-02 17:30] kavimuru opened #12378 "[$250] Unable to create a chat when offline from search page reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.Go offline
2.Click on search icon and search a new user
3.Click on it

## Expected Result:
New chat should get created

## Actu

[2022-11-02 17:31] puneetlath commented on #10190
@thienlnam I removed and re-added the bug label to get a BZ team member added who can help move this forward.

[2022-11-02 17:32] puneetlath commented on #9973
@sketchydroide I removed and re-added the bug label to get a BZ team member added who can help move this forward.

[2022-11-02 17:34] JmillsExpensify commented on #12259
Woo! Thanks Shawn. ❤️

[2022-11-02 17:35] JmillsExpensify commented on #12258
@grgia What do next steps look like from here?

[2022-11-02 17:35] youssef-lr commented on #11189
On it @JmillsExpensify.

[2022-11-02 17:35] mountiny commented on #10292
Ok, closing this one out as this is really extreme edge case and it does not break the app so I think we can do nothing at the moment. Thanks!

[2022-11-02 17:35] #10292 closed

[2022-11-02 17:35] JmillsExpensify commented on #12257
Are we going to implement these changes asap? I vote yes, even if that means they go live before everything else.

[2022-11-02 17:37] puneetlath commented on #9809
@kadiealexander I added the help wanted label since I believe we're looking for external proposals, yeah? Also, it looks like it might be time to double again.

[2022-11-02 17:39] mountiny commented on #8235
@Beamanator any special tips for this one? why is it specifically just that range of filesize 😄 ?

[2022-11-02 17:40] mollfpr commented on #11815
Bump @mountiny for the Upwork link

[2022-11-02 17:42] NikkiWines commented on #12264
Actually, @shawnborton I think I can just use the one you sent earlier if that's fine by you. We'd need to add it to web-static

<details closed>
<summary>Large Concierge Icon (png)</summary>
<br>

![concierge2022](https://user-images.githubusercontent.com/16747822/199562596-1e37a911-4dd4-4d92-bddb-773c82eecce7.png)

</details>

[2022-11-02 17:42] JmillsExpensify commented on #12255
Not sure the best place to have this discussion, but I'm pretty torn between the most important high-level message. Essentially:

 - Is New Expensify focused on the consumer angle more than anything else?
 - Or should the business angle be the focus?
 - Or even alternatively, should we keep both messages like we have now?

I'm speaking out loud here, but I would think we should still try to thread

[2022-11-02 17:43] JmillsExpensify commented on #12253
Nice, when do you expect to have a pre-design discussion kicked off? Let's start there.

[2022-11-02 17:44] JmillsExpensify commented on #12256
If you need any help with the high-level design in the mini-doc, I think this one could probably use a more fleshed out non-detailed part – especially for our approach to GBR as well as the randomized welcome messages.

[2022-11-02 17:45] LLPeckham commented on #12255
@JmillsExpensify - was just going to drop a discussion in #Product to discuss the angles, but am chatting with @trjExpensify - and the latter might make sense as well. I think it's ok to focus on both for now - I feel like it's not quite ready to deep dive into only consumer-focused, so I like mixing in both. I will take this to Slack!

[2022-11-02 17:46] NikkiWines commented on #12264
And then for implementation, I think it's fairly simple.

For now,  we'd just make a new const `CONCIERGE_ICON_URL: ${CLOUDFRONT_URL}/images/concierge_2022.png` in [CONST.js](https://github.com/Expensify/App/blob/78d322fdda047707cb6a5243f321183db63dd10b/src/CONST.js)
 and then we can just add the following few lines  in this [_.each statement](https://github.com/Expensify/App/blob/78d322fdda047707

[2022-11-02 17:47] shawnborton commented on #12264
Let's use an .svg instead to it retains the crisp quality we want.

Here you go:
![ExpensifyConciergeIcon](https://user-images.githubusercontent.com/2319350/199563630-972da820-5341-4cb6-a226-393a6479eddd.svg)

[2022-11-02 17:48] Puneet-here commented on #10620
Bump @zanyrenney

[2022-11-02 17:49] puneetlath commented on #10738
All paid. Thanks everyone!

[2022-11-02 17:49] #10738 closed

[2022-11-02 17:50] shawnborton commented on #12264
(I uploaded a new version above to fix the weird star

[2022-11-02 17:51] shawnborton commented on #12188
Here is what I am thinking:

![image](https://user-images.githubusercontent.com/2319350/199564332-6ce668ae-d5c7-4c9a-bdd8-fc491b61d512.png)

[2022-11-02 17:51] Puneet-here commented on #12269
bump @slafortune

[2022-11-02 17:52] NikkiWines commented on #12264
Oh and if we also want to update the [Help Site](https://help.expensify.com/) we'd just need to update [this icon](https://github.com/Expensify/App/blob/334b2107fe9cfa06ac7bbd26841a55509bb34486/docs/assets/images/concierge-avatar.svg).

It looks like it's not quite the same as the current concierge icon (more blue background) so not sure if we'd want an alternative new icon as well

[2022-11-02 17:52] shawnborton commented on #12188
For the full screen composer, maybe we need to move it to the bottom of the screen?

[2022-11-02 17:53] luacmartins commented on #9848
@nasir-azeemi sadly, we don't have any reproducible steps yet. As the issue title suggests, we still need to identify the source of the crash.

[2022-11-02 17:54] Julesssss commented on #12305
That seems very unlikely at this point. I'll share an update tomorrow as it's near the end of my day.

[2022-11-02 17:57] mountiny commented on #12264
Nice solution!

[2022-11-02 17:57] kavimuru opened #12380 "Clicking on link on "October statement"opens the app in web instead of opening it within the current app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot
2. Go to Concierge chat
3. Click on "October 2022 expensify statement"

## Expected Result:
Opens within the app

[2022-11-02 18:00] melvin-bot[bot] opened #12381 "High-level design doc review (Expensifier / Graduate) - Implement new core brand ingredients"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for Implement new core brand ingredients](https://github.com/Expensify/App/issues/12251).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butto

[2022-11-02 18:00] melvin-bot[bot] opened #12382 "High-level design doc review (Expensifier / Graduate) - Implement new core brand ingredients"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for Implement new core brand ingredients](https://github.com/Expensify/App/issues/12251).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butto

[2022-11-02 18:00] melvin-bot[bot] opened #12383 "High-level design doc review (Project Manager) - Implement new core brand ingredients"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for Implement new core brand ingredients](https://github.com/Expensify/App/issues/12251).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butto

[2022-11-02 18:00] melvin-bot[bot] opened #12384 "High-level design doc review (Project Manager) - Implement new core brand ingredients"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for Implement new core brand ingredients](https://github.com/Expensify/App/issues/12251).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butto

[2022-11-02 18:00] melvin-bot[bot] opened #12385 "High-level design doc review (Product Manager) - Implement new core brand ingredients"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for Implement new core brand ingredients](https://github.com/Expensify/App/issues/12251).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butto

[2022-11-02 18:00] melvin-bot[bot] opened #12386 "High-level design doc review (Product Manager) - Implement new core brand ingredients"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for Implement new core brand ingredients](https://github.com/Expensify/App/issues/12251).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butto

[2022-11-02 18:00] melvin-bot[bot] opened #12387 "High-level design doc review (Generalist) - Implement new core brand ingredients"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for Implement new core brand ingredients](https://github.com/Expensify/App/issues/12251).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butto

[2022-11-02 18:00] melvin-bot[bot] opened #12388 "High-level design doc review (Generalist) - Implement new core brand ingredients"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for Implement new core brand ingredients](https://github.com/Expensify/App/issues/12251).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butto

[2022-11-02 18:00] melvin-bot[bot] opened #12389 "High-level design doc review (Accounting Technical Team) - Implement new core brand ingredients"
:tada: You have been assigned to [review a design doc](https://stackoverflow.com/c/expensify/questions/5838)! Please, treat this as a priority. Here is the [tracking issue for Implement new core brand ingredients](https://github.com/Expensify/App/issues/12251).

Once you have reviewed the design doc, head over to the **master tracking issue** and simply press the `Add "Reviewed Doc" comment` butto

[2022-11-02 18:02] trjExpensify commented on #7094
Ah, should have been more diligent. Here is an Upwork job and I've invited you and @PrashantMangukiya: https://www.upwork.com/jobs/~01a6d6407272c82916

[2022-11-02 18:02] isabelastisser commented on #10347
Internal job posting: https://www.upwork.com/ab/applicants/1587865128594698240/job-details

External job posting: https://www.upwork.com/jobs/~01a93f8c0f8635f427

[2022-11-02 18:02] shawnborton commented on #12188
Actually let's hold on that, still some active discussion

[2022-11-02 18:03] trentpetty commented on #12389
Reviewed performed in the DD here: https://docs.google.com/document/d/197fXHLlHM_RJA4-3MITwdu0N5e0HX5Q74sA4W80YMD8/edit#

[2022-11-02 18:03] #12389 closed

[2022-11-02 18:03] trentpetty commented on #12251
I have read and reviewed this Design Doc!

[2022-11-02 18:05] mountiny commented on #11815
@mateocole can you please help with the payment for @mollfpr ? Thank you 🙇

[2022-11-02 18:06] abekkala commented on #12328
The messages are in the LHN but the 'name' of the room is not appearing until after refreshing.
This is noted in the last 14 seconds of your video. The room is there (meaning, it is appearing) but the NAME is not. Once you refresh the name appears.

As shown in my recreation:
Upon deleting
<img width="259" alt="Screen Shot 2022-11-02 at 1 04 22 PM" src="https://user-images.githubusercontent.com/11

[2022-11-02 18:09] PrashantMangukiya commented on #7094
Thanks @trjExpensify  I accepted offer on Upwork.

[2022-11-02 18:12] trjExpensify commented on #7094
Cool, settled up!

[2022-11-02 18:12] #7094 closed

[2022-11-02 18:12] OSBotify commented on #12305
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-11-02 18:14] mollfpr commented on #10824
@JmillsExpensify Applied to the Upwork, thanks!

[2022-11-02 18:17] thienlnam commented on #12380
I believe this issue will also be taken care of by https://github.com/Expensify/Expensify/issues/234459

[2022-11-02 18:22] roryabraham opened #12392 "Failed workflow comments in slack do not have the correct URL"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Have a failed GitHub Actions workflow ping in Slack.
1. Click on the link to the failed workflow.

## Expected Result:
You sho

[2022-11-02 18:23] roryabraham commented on #12392
Since this is internal, I'm going to remove @conorpendergrast as an assignee.

[2022-11-02 18:24] mallenexpensify opened #12394 "Reporting bonus for @puneet-here"
Coming from this #expensify-open-source slack https://expensify.slack.com/archives/C01GTK53T8Q/p1665759644497429
and... internal discussion here https://expensify.slack.com/archives/C02NK2DQWUX/p1666111162201699?thread_ts=1665598030.501879&cid=C02NK2DQWUX

@Puneet-here is due $250 so creating this GH!

[2022-11-02 18:29] mallenexpensify commented on #12394
@Puneet-here , please accept the job and add a comment here once you have
https://www.upwork.com/jobs/~01a1b7d8d6592b2d9c

[2022-11-02 18:30] aldo-expensify commented on #12243
Lowering the priority while we decide what to do. I also think this a rare edge case.

[2022-11-02 18:32] Puneet-here commented on #12394
I have accepted the offer. Thanks!

[2022-11-02 18:33] joekaufmanexpensify commented on #8497
The start over button is also working normally for me. I tried several times and it worked each time (including on staging).

Going to close this for now as it seems like there is no longer anything we need to fix here. Feel free to re-open if anyone is able to reproduce this, or it comes up again!

[2022-11-02 18:33] #8497 closed

[2022-11-02 18:35] Julesssss commented on #12305
Oh, I triggered this accidently, please ignore!

[2022-11-02 18:36] OSBotify commented on #12305
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-11-02 18:37] joekaufmanexpensify commented on #11850
Noting from the [slack thread](https://expensify.slack.com/archives/C03TQ48KC/p1667328481839439?thread_ts=1666967613.458099&cid=C03TQ48KC) that we have consensus for how we should move forward with solving this. Specifically, when a user tries to sign out while offline, we should:

- Add a warning that alerts the user that any actions they took (messages, etc.) while offline will be lost if they m

[2022-11-02 18:37] joekaufmanexpensify commented on #11916
Same.

[2022-11-02 18:39] tjferriss commented on #9408
Whoops tagged the person. @parasharrajat can you also please apply in Upworks? https://www.upwork.com/ab/applicants/1583574303161114624/job-details

[2022-11-02 18:39] Luke9389 commented on #11265
Hmmm, i wonder if another Offline issue is blocking our ability to test the original one. Clearly things _were_ clickable while offline when this issue was created.

[2022-11-02 18:39] marcochavezf commented on #8311
My two cents: I like this proposal because seems @b1tjoy already explored the edge cases in different platforms. Also, I'm in favor of keeping the current behavior of showing one pop-up for the email/URLs and another for the general case, it will keep things simple when there's a comment with multiple email/URL values. We'd just need to be sure that it's not causing a regression in other parts of

[2022-11-02 18:41] Luke9389 commented on #11265
@sobitneupane I don't think we should split this issue to address that nothing is clickable after a refresh, that will be a separate bug report. An issue for that might even exist already. We'll need to HOLD this one and wait for the other to be resolved before moving forward (and retesting).

[2022-11-02 18:46] roryabraham commented on #12305
:shipit:

[2022-11-02 18:46] #12305 closed

[2022-11-02 18:47] trjExpensify commented on #12243
Is there any more context on this somewhere? Like, did we benchmark the performance concerns or something?

I think the most visible instances of this I've seen previously are things like:

- You add a new avatar and it doesn't update everywhere until a refresh
- You change a name (I.e to add a status) and it's not updated until a refresh

I feel like we're just chipping away at these as they come

[2022-11-02 18:47] mallenexpensify commented on #7467
Reopening cuz experienced this twice this morn. Both were with someone I haven't chatted with before, was able to capture vid of the second time.  No errors in logs. @rafecolton is this what you were experiencing? Curious if we should use this issue (I can update title/OP if so) or open a new issue

Repro steps
- Open a chat with someone you never have chatted with before.
- Observe the flash for

[2022-11-02 18:49] OSBotify opened #12397 "Deploy Checklist: New Expensify 2022-11-02"
**Release Version:** `1.2.23-9`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/11313
- [x] https://github.com/Expensify/App/pull/11591
- [x] https://github.com/Expensify/App/pull/11597
- [x] https://github.com/Expensify/App/pull/11757
- [x] https://gi

[2022-11-02 18:54] JmillsExpensify commented on #12243
That's interesting. I'm actually fine with the case @aldo-expensify clarified for Settings, but I agree with @trjExpensify that it is awkward when data points like your avatar and name don't propagate when you update those.

[2022-11-02 18:58] roryabraham commented on #12397
Please keep this checklist unlocked for now

[2022-11-02 19:01] marcochavezf commented on #11488
Thanks @Santhosh-Sellavel for reviewing them.

Yeah, this comes from a big refactor, so I think it's a minor oversight that happened during the refactor.

I also like https://github.com/Expensify/App/issues/11488#issuecomment-1298300219, but also I like the idea of cleaning up the wrapped Icon. Would be possible to do a mix of both proposals (use `mutedTextLabel` and clean the wrapped Icon up)?

[2022-11-02 19:05] JmillsExpensify commented on #7420
We should float this one in #engineering-chat to try and get alternative internal volunteers.

[2022-11-02 19:09] JmillsExpensify commented on #10824
Thanks hired! cc @Santhosh-Sellavel job is here for you as well: https://www.upwork.com/jobs/~015f8ae228449711e2.

[2022-11-02 19:11] JmillsExpensify commented on #12264
Wow, nice progress on this in such a short amount of time @NikkiWines. This is super exciting!

[2022-11-02 19:13] JmillsExpensify commented on #12255
Thank you!

[2022-11-02 19:18] marcochavezf commented on #11336
Thanks for the update @aimane-chnaif and also thanks for testing it thoughtfully! Next time just a minor update like "still testing", "found x issue" or a list of what you have been testing work for us. We understand there are a lot of places that could be impacted by this change :)

[2022-11-02 19:24] sketchydroide commented on #11520
BZ?

[2022-11-02 19:25] syedsaroshfarrukhdot commented on #11488
**Updated Proposal**
@Santhosh-Sellavel  The improved code to fix both issues cleaning up the wrapped icon and overflowing text could be resolved by the below code snippet.

                    <View style={[styles.flexRow, styles.alignItemsCenter, styles.m4]}>
                           <Icon src={Expensicons.Exclamation} fill={colors.red} />
                           <Text style={[styles.mutedT

[2022-11-02 19:26] marcochavezf commented on #8235
Hi @mountiny, I think this https://github.com/Expensify/App/issues/8235#issuecomment-1087941503 can be the cause, but not sure if the size should be updated in Web-E. Probably we'd need to update something in nginx?

[2022-11-02 19:39] adelekennedy commented on #4324
[try again?](https://www.upwork.com/jobs/~010caa5ffae4fb2e37) I've refreshed (the job is not private and open to anyone)

[2022-11-02 19:40] johncschuster commented on #12249
Bumping to keep Melvin happy.

@srikarparsi, do you have any ideas on this one?

[2022-11-02 19:43] srikarparsi commented on #12249
I'm also unable to reproduce the issue in staging. @Julesssss Maybe we could close the issue and anyone can reopen it if they're able to reproduce it?

@kbecciv can you check if this is still reproducible?

[2022-11-02 19:45] JmillsExpensify commented on #10670
Still waiting on proposals.

[2022-11-02 19:48] JmillsExpensify commented on #11094
@Christinadobrzyn Given that we're still early and now proposals have been accepted, I'm assigning myself per the new BZ process: https://stackoverflow.com/c/expensify/questions/14597/14598#14598.

[2022-11-02 19:48] JmillsExpensify commented on #11057
@miljakljajic  Given that we're still early and no proposals have been accepted, I'm assigning myself per the new BZ process: https://stackoverflow.com/c/expensify/questions/14597/14598#14598.

[2022-11-02 19:50] JmillsExpensify commented on #10610
Now that the keyboard initiative is kicked off, I'm removing the hold.

[2022-11-02 19:50] JmillsExpensify commented on #10610
@tgolen Shall you take this one from @marcochavezf as well, since you're leading the tracking issue?

[2022-11-02 19:52] JmillsExpensify commented on #10610
Whatever the case, the old Upwork job expired so I have created a new one and also raised the price to $1000 given that this is a mainline initiative for WAQ. https://www.upwork.com/jobs/~0123070f67b356c4b3

[2022-11-02 19:53] JmillsExpensify commented on #10610
One final note. @applausebot can you help me re-test this as well, as I don't have an Android device I'm able to test with.

[2022-11-02 19:53] JmillsExpensify commented on #11277
Still waiting for proposals.

[2022-11-02 19:54] JmillsExpensify commented on #11087
@abekkala Given that we're still early and no proposals have been accepted, I'm assigning myself per the new BZ process: https://stackoverflow.com/c/expensify/questions/14597/14598#14598.

[2022-11-02 19:54] JmillsExpensify commented on #11722
@conorpendergrast  Given that we're still early and no proposals have been accepted, I'm assigning myself per the new BZ process: https://stackoverflow.com/c/expensify/questions/14597/14598#14598.

[2022-11-02 19:56] JmillsExpensify commented on #11722
Btw, we still need this issue tested, thanks Applause!

[2022-11-02 19:56] Santhosh-Sellavel commented on #4324
@adelekennedy I've messaged you from the contract.

I've been hired already
<img width="1164" alt="Screenshot 2022-11-03 at 1 25 38 AM" src="https://user-images.githubusercontent.com/85645967/199590074-9f26bc03-d112-442d-9eaa-3209b54b34e1.png">

[2022-11-02 19:56] JmillsExpensify commented on #12114
@flaviadefaria Given that we're still early and no proposals have been accepted, I'm assigning myself per the new BZ process: https://stackoverflow.com/c/expensify/questions/14597/14598#14598.

[2022-11-02 19:58] JmillsExpensify commented on #12114
That's a great question. I don't think we do or should, as that is quite a ways back in supporting older OS that aren't seeing active development. @Julesssss do we have a list of iOS versions that we officially support? I wouldn't expect this one to be on it, that's 4 years old, right?

[2022-11-02 19:59] JmillsExpensify commented on #11858
@mvtglobally Are you able to reproduce this? If you aren't after a second round of tests, I vote we close the issue.

[2022-11-02 19:59] JmillsExpensify commented on #10273
Went through all linked issue and updated / pushed on next steps.

[2022-11-02 20:00] Santhosh-Sellavel commented on #11087
@FilipRado Please go through our past [issues](https://github.com/Expensify/App/issues?q=is%3Aclosed+label%3A%22Awaiting+Payment%22) and learn how to write a proper proposal.

Also checkout out our [guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) to understand our process

[2022-11-02 20:02] lschurr commented on #12372
Tab + X doesn't do anything for me. Should that stop an attachment from uploading? Tagging Eng for another pair of triaging eyes on this.

[2022-11-02 20:02] puneetlath commented on #12380
Ah cool. Let's close this then. Thanks y'all.

[2022-11-02 20:02] #12380 closed

[2022-11-02 20:05] shawnborton commented on #12188
Here is a version with the vertical list:
![image](https://user-images.githubusercontent.com/2319350/199592132-697d7235-a8df-4269-ba17-4e8a931d58c1.png)

Still waiting for some convo to shake out.

[2022-11-02 20:07] shawnborton commented on #12258
I don't think this one should need a Design doc, it should just be a pretty straightforward pull request. If we use our existing color variables, then we'll get the new branding ingredients added here for free when that project completes.

[2022-11-02 20:07] shawnborton commented on #12257
Yeah, I don't see why we can't get started on a PR for this sooner than later. @dangrous how do you feel about that?

[2022-11-02 20:08] shawnborton commented on #12256
We're hoping to have another engineer join in on the fun and help lead this one, I'll keep soliciting volunteers in the room this week.

[2022-11-02 20:19] grgia commented on #12258
@shawnborton  could you link the figma here?

[2022-11-02 20:19] dangrous commented on #11822
@furkanuzundev (and @eVoloshchak) - agreed, this looks great! I will go ahead and assign you.

Only comment I have - when you're making the PR, would love to see if there's a way to not have to use `eslint-disable-next-line react/forbid-prop-types`. Thanks!

[2022-11-02 20:19] joekaufmanexpensify commented on #11424
We're at the 7 day window with no regressions, so issuing payment!

[2022-11-02 20:20] mallenexpensify commented on #10614
@Santhosh-Sellavel , can you review @cowboycito 's proposal above plz?

[2022-11-02 20:21] Santhosh-Sellavel commented on #12359
@kavimuru it happens on all platforms!

[2022-11-02 20:22] Santhosh-Sellavel commented on #7862
Yeah, we could that helps speed up!

[2022-11-02 20:23] kadiealexander commented on #9809
Sounds good! It's been a hot minute, so here's the new Upworks post doubled to $1000:

https://www.upwork.com/ab/applicants/1587903133329772544/job-details
https://www.upwork.com/jobs/~019d964b285383ca3e

[2022-11-02 20:24] dangrous commented on #12257
Yep! I can get started this week (hopefully today!) To confirm what we discussed in newDot, to start, that would cover everything except changing the fonts and the background color (would have the capsule around the task, just in our current BG color)?

[2022-11-02 20:24] joekaufmanexpensify commented on #11424
@aimane-chnaif payment was sent, and contract ended!

[2022-11-02 20:25] kadiealexander commented on #7375
Please get your proposals in!
https://www.upwork.com/ab/applicants/1587903501951631360/job-details
https://www.upwork.com/jobs/~011dc35409294bd219

[2022-11-02 20:25] joekaufmanexpensify commented on #11424
@parasharrajat payment sent and contract ended!

[2022-11-02 20:26] joekaufmanexpensify commented on #11424
@varshamb payment sent and contract ended!

[2022-11-02 20:27] joekaufmanexpensify commented on #11424
Job closed. This is all set!

[2022-11-02 20:27] #11424 closed

[2022-11-02 20:28] mallenexpensify commented on #12354
Thanks for the promptly accepting the proposals. All paid the amounts in the OP!

[2022-11-02 20:28] #12354 closed

[2022-11-02 20:29] shawnborton commented on #12257
Exactly, we can use the current gray BG color we have to create the card style. And then we can also update the illustrations. I think that's really all we'd need to do for now.

[2022-11-02 20:30] shawnborton commented on #12258
Yup! [Here ya go](https://www.figma.com/file/OgM6vzR98Qnr1gdmZOQPKz/Implement-Our-New-Brand?node-id=0%3A1).

[2022-11-02 20:32] mallenexpensify commented on #11293
Yeah.. I'd recommend keeping it on hold pending #227234 in E/E.  It'll be addressed there.  As far as the BZ role here.. I'd stay on top of the tracking issue and, if progress isn't being made, ping the folks assigned there.

[2022-11-02 20:34] adelekennedy commented on #4324
@Santhosh-Sellavel that job expired and was at the lower rate - I can pay you through either contract and cancel the other

[2022-11-02 20:35] kavimuru opened #12400 "[HOLD for payment 2022-11-29] [$250] First field is not focused after clicking the fix the errors link on Connect Manually page reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open the app on web.
2. Go to Settings.
3. Click on any workspace(if there are not workspace create new).
4. Go to Connect Ba

[2022-11-02 20:45] Santhosh-Sellavel commented on #4324
We can add the remaining amount as a bonus or add a new milestone.

@Karim-30 here is the link https://www.upwork.com/jobs/~010caa5ffae4fb2e37

@adelekennedy you accidentally posted the link that's only accessible for you https://www.upwork.com/ab/applicants/1587845308835868672/job-details

[2022-11-02 20:46] Sami-Shafi commented on #11518
Proposal:
Checked the complete code and the onCloseButtonPress prop. We have to make the changes there. We need to put a function that will properly close the modal.

As @Puneet-here 's code didn't work, we have to write a better function. I found another function that will close all the modals and we have to check if that works.

As you mentioned on Upwork, I am not including my code in the propo

[2022-11-02 20:46] mallenexpensify commented on #11854
Snagged from ya @JmillsExpensify since I'm managing the `[Image]` tracking issue.
- https://github.com/Expensify/App/issues/11854

[2022-11-02 20:47] stitesExpensify commented on #8455
Agreed, @Puneet-here proposal looks good to me!

[2022-11-02 20:48] marcaaron commented on #11520
Check this @sketchydroide -> https://docs.google.com/document/d/1JVk4S8r_ets5lwM6KdpggQHG7li_H3VSE8qETYbe6gI/edit

[2022-11-02 20:49] sketchydroide commented on #11520
ahh Bug Zero of course

[2022-11-02 20:49] isabelastisser commented on #11795
Not overdue.

[2022-11-02 20:52] isabelastisser commented on #12267
Hey @sobitneupane , can you please review the proposal above? Thanks!

[2022-11-02 20:54] Karim-30 commented on #4324
@adelekennedy Applied.

[2022-11-02 20:54] Sami-Shafi commented on #11518
Proposal:
Checked the complete code and the onCloseButtonPress prop. We have to make the changes there. We need to put a function that will properly close the modal.

As @Puneet-here 's code didn't work, we have to write a better function. I found another function that will close all the modals and we have to check if that works.

As you mentioned on Upwork, I am not including my code in the propo

[2022-11-02 21:13] jliexpensify commented on #11237
Just to confirm, this is what you're referring to @kbecciv ?

![image](https://user-images.githubusercontent.com/30815269/199603163-4a9ee22c-94cc-4a60-9da7-9791521d3ace.png)

if so, I believe that's intended: since it's a new message you're sending, it makes sense to have a green line. I'm on v 1.2.23-0 and am seeing the same behaviour.

[2022-11-02 21:35] roryabraham commented on #11877
Reopening to continue migrating community actions.

[2022-11-02 21:36] tgolen commented on #10610
Sure, I'll take this over.

[2022-11-02 21:52] thienlnam commented on #11097
Re-opening this, the app PR was reverted and needs to be added again

[2022-11-02 21:53] Santhosh-Sellavel commented on #10614
Looks good so far, agree with the above!
We can make this DragDrop HOC to make it reusable across other places if possible let's integrate the existing desktop/drag drop with that component.

Should follow the send attachment flow, instead of uploading it straight away!

@cowboycito Can you create a POC branch with the proposed changes in your fork and share it here. Let me know when ready, thanks

[2022-11-02 21:54] srikarparsi commented on #11132
@chiragsalian or @Julesssss do you guys have the bandwith to take over this issue? I'm assigned currently but don't know enough about deploys to troubleshoot. I'll shadow whoever takes it over though so I can learn a little about the process.

[2022-11-02 21:57] kavimuru commented on #12298
@AndreasBBS It happens only in Android - Firefox browser

[2022-11-02 21:59] mallenexpensify commented on #8364
Good catch @eVoloshchak,  question for you and @sketchydroide, should we split this into two issues or keep as one? Reasoning, there are two issues.

1. Once you click into Profile, the save button should be saturated green showing that it should be clicked to save something
2. After a change is made in Profile and the Save button is clicked, it shouldn't stay saturated green.

Not sure if they're

[2022-11-02 22:00] puneetlath commented on #12004
@smrutiparida you should be able to follow these steps to set up a bank account: https://github.com/Expensify/App/issues/11512#issuecomment-1300561586

[2022-11-02 22:02] puneetlath commented on #9137
Started looking into it.

[2022-11-02 22:10] mallenexpensify commented on #12394
Paid!  Thanks for reporting bugs and for all the other help.

[2022-11-02 22:10] #12394 closed

[2022-11-02 22:35] mallenexpensify commented on #8455
Hired @Puneet-here, @thesahindia for C+ and @adeel0202 for reporting bonus in Upwork, please accept.

Thanks @dhairyasenjaliya and @adeel0202 for the proposals.

[2022-11-02 22:42] marcaaron commented on #11768
I have familiarity with react navigation and bandwidth to help here if this is a good place to assist.

Does it feel like we have settled on what a new navigation design would look like based on the Slack convo [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664825958481829)?

From where I'm sitting, it looks like we did some initial investigation and should compile that into a **Navigat

[2022-11-02 22:50] puneetlath commented on #11768
I would very much welcome your help here @marcaaron. I have not been doing a good job at all moving this forward and am very conscious of the fact that I'm being a blocker for it.

My plan was to write up a summary of where I think we want to go with Navigation for Margelo in the Slack channel, but I like the idea of writing it in a doc instead. That seems like a better approach.

[2022-11-02 22:52] Santhosh-Sellavel commented on #10893
Thanks for the patience everyone!

@cowboycito Looks good, what does `deeplinkRoutes` contain?

[2022-11-02 23:02] MitchExpensify commented on #11195
Paid to all bar @mollfpr, just waiting on you to accept the offer! Thanks everyone

[2022-11-02 23:08] MitchExpensify commented on #10486
I had to [repost the job](https://www.upwork.com/jobs/~01a945b0d0f6f56057) and have sent you both offers @parasharrajat & @mdneyazahmad. Will pay and close this once accepted! Thank you

[2022-11-02 23:14] coleaeason commented on #12383
I have read and reviewed this Design Doc!

[2022-11-02 23:14] #12383 closed

[2022-11-02 23:16] luacmartins commented on #10216
@JmillsExpensify I'll try to work on this in the next few days.

FYI I'm going ooo from Nov 9 - Nov 22. I'm trying to wrap up the bigger issues I'm working on and switch to issues that I can finish before I go ooo.

[2022-11-02 23:18] JmillsExpensify commented on #11768
Nice, this sounds really great! Let me know if ya'll need help in any way.

[2022-11-02 23:18] JmillsExpensify commented on #10905
@jliexpensify Given that we're still early and no proposals have been accepted, I'm assigning myself per the new BZ process: https://stackoverflow.com/c/expensify/questions/14597/14598#14598.

[2022-11-02 23:18] MitchExpensify commented on #12152
Sorry, I'm asking how you pull up that console warning as I am not sure when trying to reproduce

[2022-11-02 23:30] sophiepintoraetz commented on #11525
@thesahindia can you please [apply for the job](https://www.upwork.com/jobs/~01e2b71509d8a18788) so that I can close this issue out with payment?
(@Uros787 - you're all set!)

[2022-11-02 23:37] MitchExpensify commented on #8797
Can this be made external? I'm unsure

[2022-11-02 23:41] strepanier03 commented on #12238
🤔 Great question, I'm not sure I know the answer for sure but I'll ask internally and see what I can find out.

[2022-11-02 23:50] arielgreen commented on #11261
Paid.

[2022-11-02 23:50] #11261 closed

[2022-11-02 23:52] strepanier03 commented on #12238
@Beamanator I'm having a hard time finding how we'd want to work this, can you weigh in on @eVoloshchak's question [here](https://github.com/Expensify/App/issues/12238#issuecomment-1300740244)?

[2022-11-02 23:59] strepanier03 commented on #11973
I was able to locate @varshamb in Upwork and hired them for this job.

[2022-11-03 00:41] mollfpr commented on #11195
@MitchExpensify accepted, thanks!

[2022-11-03 00:44] mateocole commented on #12283
having engineering take a look

[2022-11-03 00:48] dangrous commented on #12257
Just adding this here so I can close the tab - here's the Figma https://www.figma.com/file/OgM6vzR98Qnr1gdmZOQPKz/Implement-Our-New-Brand?node-id=97%3A13461

[2022-11-03 00:57] dangrous commented on #12198
Not sure what the new guidance is on Daily vs. Weekly for these - I think @michaelhaxhiu will know more than me - so for now just commenting to pre-empt the bot. Still waiting for proposals.

[2022-11-03 01:06] AndrewGable commented on #11711
I've done 1 & 2 on this branch/fork: https://github.com/AndrewGable/App/pull/1

I think the last part of this will be figuring out how to configure AWS to report back the results. I believe this can be done using the "artifacts" as mentioned here: https://github.com/realm/aws-devicefarm#download-artifacts

[2022-11-03 01:09] dangrous commented on #12251
I have read and reviewed this Design Doc!

[2022-11-03 02:27] thienlnam commented on #8367
Haven't done this, not really a priority

[2022-11-03 02:28] thienlnam commented on #11101
PR pending update from @aimane-chnaif - any update here?

[2022-11-03 02:56] mvtglobally commented on #10262
Issue not reproducible during KI retests. (First week)

[2022-11-03 02:56] mvtglobally commented on #9707
Issue not reproducible during KI retests. (Second week)

[2022-11-03 02:57] mvtglobally commented on #10423
Issue not reproducible during KI retests. (First week)

[2022-11-03 02:58] sobitneupane commented on #11518
@Sami-Shafi Thanks for your proposal.

If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md)

This issue is resolved. You can find other [open jobs here.](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22)

[2022-11-03 02:59] mvtglobally commented on #10928
Issue not reproducible during KI retests. (Third week) @techievivek Are we ok to close this one?

[2022-11-03 02:59] roryabraham commented on #11877
The Bug0 checklist is safe to ignore here I think. Was just doing a migration forced by GitHub

[2022-11-03 03:00] mvtglobally commented on #10735
Issue not reproducible during KI retests. (Fourth week) @mallenexpensify @Julesssss Are we ok to close?

[2022-11-03 03:01] mvtglobally commented on #10765
Issue not reproducible during KI retests. (Second week)

[2022-11-03 03:01] mvtglobally commented on #10767
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:02] mvtglobally commented on #11058
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:02] mvtglobally commented on #11063
Issue not reproducible during KI retests. (Second week)

[2022-11-03 03:02] JmillsExpensify commented on #11680
@roryabraham Now that we've removed Fabric from WAQ, I'm kind of thinking we should remove React 18 from the initiative as well. Obviously we still need to do this, and related there are performance improvements, but this is still bleeding edge. Do you agree with that?

[2022-11-03 03:03] mvtglobally commented on #10283
Issue not reproducible during KI retests. (Third week)

[2022-11-03 03:04] mvtglobally commented on #11236
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:04] mvtglobally commented on #11272
Issue not reproducible during KI retests. (Third week) @Justicea83 are we ok to close this?

[2022-11-03 03:05] mvtglobally commented on #11330
Issue not reproducible during KI retests. (Second week)

[2022-11-03 03:06] mvtglobally commented on #11334
Issue not reproducible during KI retests. (Fourth week)

[2022-11-03 03:06] mvtglobally commented on #11336
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:07] mvtglobally commented on #11341
Issue not reproducible during KI retests. (Second week)

[2022-11-03 03:08] JmillsExpensify commented on #12036
Just wanted to follow up on that question above?

[2022-11-03 03:08] mvtglobally commented on #11346
Issue not reproducible during KI retests. (Third week) Are we ok to close this one?

[2022-11-03 03:09] mvtglobally commented on #11470
Issue not reproducible during KI retests. (Third week) Closing

[2022-11-03 03:09] #11470 closed

[2022-11-03 03:09] mvtglobally commented on #11666
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:09] mvtglobally commented on #11771
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:10] mvtglobally commented on #11753
Issue not reproducible during KI retests. (Second week)

[2022-11-03 03:11] mvtglobally commented on #11806
Issue not reproducible during KI retests. (Second week)

[2022-11-03 03:11] mvtglobally commented on #11814
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:11] JmillsExpensify commented on #12189
@adelekennedy I'm going to snag this one from you if you don't mind, as I'd like to help with the broader tracking issue.

[2022-11-03 03:12] mvtglobally commented on #11815
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:12] mvtglobally commented on #11848
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:12] mvtglobally commented on #11856
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:13] mvtglobally commented on #11858
Issue not reproducible during KI retests. (Second week)

[2022-11-03 03:16] mvtglobally commented on #11874
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:16] mvtglobally commented on #11892
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:16] mvtglobally commented on #11910
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:17] mvtglobally commented on #12007
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:17] mvtglobally commented on #12020
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:18] mvtglobally commented on #11885
Issue not reproducible during KI retests. (Second week)

[2022-11-03 03:18] mvtglobally commented on #12061
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:18] mvtglobally commented on #12104
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:18] mvtglobally commented on #12139
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:19] mvtglobally commented on #11921
Issue not reproducible during KI retests. (First week)

[2022-11-03 03:22] JmillsExpensify commented on #11320
Waiting on @parasharrajat to accept the Upwork invite before job can be paid and issue closed.

[2022-11-03 03:26] JmillsExpensify commented on #11709
@thesahindia has been paid out. @Puneet-here has been hired. @sobitneupane please make sure to add yourself to the Upwork posting as well for the reporting bonus.

[2022-11-03 03:29] sobitneupane commented on #11709
@JmillsExpensify Applied for the job.

[2022-11-03 03:33] JmillsExpensify commented on #11189
@youssef-lr and i chatted about this one over DM and decided ⁦that this is essentially a one-time change, as we now support all file types and have a very limited list for years.

More specifically, the issue was that some filetypes have a type called 'octet-stream' which can be just about anything, an image, a PDF, a Word doc, etc.⁦ The was missed during a change for HEIC image, and that broke th

[2022-11-03 03:34] JmillsExpensify commented on #11189
Similar story for this one. We now support all file types, so it's a one time change and should't affect us moving forward.

[2022-11-03 03:35] JmillsExpensify commented on #11189
I *think* that with this BZ checklist complete and all file types supported in staging right now, we are good to close this one out. Please re-open if I missed something!

[2022-11-03 03:36] AndrewGable commented on #11711
Here is an example of a passing test run: https://github.com/AndrewGable/App/actions/runs/3382629912/jobs/5617747052

It took 45 minutes. I think we can definitely figure out how to get this working more efficiently, but we can focus on that after step 3 & 4 are done.

[2022-11-03 03:38] leeoniya commented on #12189
i grabbed your current Trie implementation to bench it against single terms: https://github.com/leeoniya/uFuzzy/tree/emojis-trie

i think @stitesExpensify's statement that your current code takes 1-6ms was likely measuring more than just the core search algorithm.

- the trie construction takes about 20ms (vs 0.5ms to boot uFuzzy)
- the trie retained ram use is ~2.9mb (vs 1.9mb for uFuzzy)
- the t

[2022-11-03 03:39] JmillsExpensify commented on #11192
All active contributors hired. @Tushu17 I've created an [Upwork job](https://www.upwork.com/jobs/~0174a18f261d0f5b8f) here for the reporting bonus. Please apply!

[2022-11-03 03:43] JmillsExpensify commented on #11391
Yes indeed! Upwork job is here: https://www.upwork.com/jobs/~01ff57d54ca13f4541.

[2022-11-03 03:48] JmillsExpensify commented on #11652
@Puneet-here and @eVoloshchak have been paid out via Upwork.

[2022-11-03 03:49] JmillsExpensify commented on #11652
@thesahindia I've created a separate reporting bonus for you here: https://www.upwork.com/jobs/~0162a345d0a7efe93b. Mind applying and we can close this out?

[2022-11-03 03:51] JmillsExpensify commented on #11701
Linked PR hit production 12 hours ago. I tested this and all looked good. @tgolen are you seeing the same?

[2022-11-03 03:55] JmillsExpensify commented on #11858
I was also to reproduce this issue just now using the testing steps above.

[2022-11-03 03:56] JmillsExpensify commented on #12292
Still waiting for proposals.

[2022-11-03 03:59] nathanmetcalf commented on #12251
I have read and reviewed this Design Doc!

[2022-11-03 03:59] #12382 closed

[2022-11-03 04:01] ctkochan22 commented on #12046
Yes I was hoping to get to it myself, but I believe it should be able to be worked on externally.

[2022-11-03 04:15] tjferriss commented on #12340
Upworks job posting can be found here - https://www.upwork.com/jobs/~019e7d15837d51f5f4.

@rushatgabhane looks like we already have a proposal above. Can you review?

[2022-11-03 04:25] JmillsExpensify commented on #11709
Thanks offer sent!

[2022-11-03 04:26] JmillsExpensify commented on #11885
@techievivek I think we're good to close this issue now, right?

[2022-11-03 04:28] JmillsExpensify commented on #10216
Sounds like a plan for the time being!

[2022-11-03 04:29] sobitneupane commented on #11709
Offer Accepted.

[2022-11-03 04:32] JmillsExpensify commented on #11709
Thanks paid out! Now we're down to @Puneet-here.

[2022-11-03 04:37] JmillsExpensify commented on #10525
@luacmartins Given that this requires knowledge of Manual Requests, who do you think would be a good one to pick this up then?

[2022-11-03 04:38] JmillsExpensify commented on #10493
Ok cool, let's close then.

[2022-11-03 04:38] #10493 closed

[2022-11-03 04:43] tjferriss commented on #9408
@dhairyasenjaliya has been hired in Upworks.

[2022-11-03 04:48] techievivek commented on #12036
Hi @jason, looking into other tracking issues it makes sense to just track the issues there either need help or are actively being handled by contributors. I will update the OP with the changes. Thanks

[2022-11-03 04:48] techievivek commented on #11885
Yep, We are safe to close this now.

[2022-11-03 04:48] #11885 closed

[2022-11-03 04:49] kadiealexander commented on #9707
I also [wasn't able to reproduce this](https://expensify.slack.com/archives/C01GTK53T8Q/p1667450928096599?thread_ts=1655126933.396099&cid=C01GTK53T8Q), @thesahindia are you able to share reproduction steps using the latest app version?

[2022-11-03 04:50] techievivek commented on #12158
I wasn't able to look into it on Monday because I was working limited hours. Going to have a look at it today.

[2022-11-03 04:52] techievivek commented on #12206
Looking into it today.

[2022-11-03 04:55] tjferriss commented on #11693
Yes, thank you. I've initiated the payments in Upworks. The contract has been completed and the Upwork post has been closed.

[2022-11-03 04:56] #11693 closed

[2022-11-03 05:07] tjferriss commented on #12243
Sounds good. This feels like the kind of polish we want so I'm all for getting this fixed, especially the examples @trjExpensify shared.

[2022-11-03 05:10] techievivek commented on #10928
Sorry, I agree we can close this now.

[2022-11-03 05:10] #10928 closed

[2022-11-03 05:44] devadarsann commented on #12340
Like in the Android contacts applications, instead of scroll, show alphabets there and when the users scroll through the alphabets it will act like a scrollbar.

[2022-11-03 05:59] MonilBhavsar commented on #11874
Yes! 👍

[2022-11-03 06:14] Christinadobrzyn commented on #10352
Looks like the PR is up - https://github.com/Expensify/App/pull/12130

@mananjadhav @shawnborton @Gonals where are we with reviewing the PR? Can we get an update on what needs to happen to get this finished?

[2022-11-03 06:17] mananjadhav commented on #10352
@Christinadobrzyn The changes I reviewed, I am currently testing them. I'll take me a day or two to finish testing on all platforms

[2022-11-03 06:17] Justicea83 commented on #11272
Yes, we're good to close this out

[2022-11-03 06:20] Justicea83 commented on #11272
We need to compensate the reporter, no? @mvtglobally

[2022-11-03 06:22] Christinadobrzyn commented on #11275
Price doubled $1000 - still waiting on proposals

[2022-11-03 06:24] Christinadobrzyn commented on #11011
Price doubled $2000

[2022-11-03 06:32] Christinadobrzyn commented on #4264
Hey @Julesssss @kidroca would you be able to give an update on this? I'm not really sure what we're doing with this job at the moment. Thanks!

[2022-11-03 06:38] thesahindia commented on #11525
Applied🚀

[2022-11-03 06:38] thesahindia commented on #11652
Applied🚀

[2022-11-03 06:38] parasharrajat commented on #11275
I think this is fixed.

[2022-11-03 06:40] furkanuzundev commented on #8364
I think the same PR can be worked on, as they both work directly in conjunction with the save function.

[2022-11-03 06:41] thesahindia commented on #9707
I wasn't able to repro as well, it got fixed.

[2022-11-03 06:46] Karim-30 commented on #12188
### Proposal

The biggest challenge in this feature is on large screen devices the suggestion menu should appear above the writing cursor, but in React Native there is nothing can tell us where is the writing cursor on the x-axis.

 we solved it by creating a hidden `<Text>` (paddingBottom: -166) has the same style that composer has and the same text, at the end of its content we are putting a bla

[2022-11-03 07:20] flodnv commented on #8235
The maximum allowed file size (post_max_size) on the web server is 25MB: https://github.com/Expensify/Salt/blob/837bd4503f510aeeb001cd60057938cdb72cbc0c/shared_pkgs/php/files/php8_ini_files/cgi/www.php.ini#L127

I would be surprised if we can upload any file larger than that. We have to set a limit, I don't think we want someone to upload a 4TB file...? What should the limit be? How do we decide a

[2022-11-03 07:50] drkcod3 commented on #12292
@JmillsExpensify

I am really excited for having come across your proposal. I will give this my utmost effort and want to get started right away. I have downloaded the source code and followed the instructions of the *README* file. All I got is a blank white screen after the page takes ages to load.

I would like some help running the code locally on my machine for the sake of saving time and doin

[2022-11-03 07:50] parasharrajat commented on #8797
Nope, https://github.com/Expensify/App/issues/8797#issuecomment-1111022077.

Someone from the internal team needs to relax some restrictions on the Google console.

[2022-11-03 08:00] parasharrajat commented on #12114
I recently faced this issue on iOS 15. This is a very serious issue. Let's prioritize this.

[2022-11-03 08:02] Puneet-here commented on #11709
I have accepted the offer, thanks!

[2022-11-03 08:09] parasharrajat commented on #8311
Thanks for the thoughts @marcochavezf. I agree after analysis I can say it is overcomplicated to work on a single context menu for all cases in this issue. For now, multiple context menus are working fine and not causing issues. So my focus will be to fix the root cause of this issue.

There is still some part left from my side to finish the review. I will keep you posted.

[2022-11-03 08:11] parasharrajat commented on #10414
We are not closing this one. Instead, merge other issues into this and close those. I don't have access to modify it to I am waiting on someone to take up on that.

[2022-11-03 08:17] mvtglobally commented on #12397
@roryabraham keep us posted whenever we are good to start QA

[2022-11-03 08:30] conorpendergrast commented on #11515
@rushatgabhane Over to you, for the proposal review!

[2022-11-03 08:31] conorpendergrast commented on #11515
Oh wait this needs to be reproduced on production too!

[2022-11-03 08:35] dylanexpensify commented on #9848
thoughts on doubling @luacmartins?

[2022-11-03 08:37] kidroca commented on #4264
I'm not sure as well, but I think we should change the ticket description or open a new one, since things changed significantly

AFAIK we don't pursue **periodic** attempts to sync the app, but instead trickle down updates via Pusher or Push notifications

[2022-11-03 08:42] MonilBhavsar commented on #11874
@adelekennedy the issue has already been fixed. We need to compensate C+ - @thesahindia for reviewing the PR

[2022-11-03 08:43] flodnv commented on #12372
Looks like this is a problem only with a virtual keyboard.

[2022-11-03 08:43] flodnv commented on #12372
@lschurr it's Tab + Enter.

[2022-11-03 08:44] flodnv commented on #12372
@syedsaroshfarrukhdot what do you mean exactly?

[2022-11-03 08:44] flodnv commented on #12372
@Santhosh-Sellavel can you please review @syedsaroshfarrukhdot's proposal?

[2022-11-03 08:46] hellohublot commented on #11854
### Proposal
I also encountered this problem in my project

https://github.com/react-native-image-picker/react-native-image-picker/blob/7490cc493737cd03f881cddeddbac28d43987534/ios/ImagePickerManager.m#L121-L134
####  Solution A
Use `4.8.4`, It's work fine in my project
[code]
#### Solution B
Wait for https://github.com/react-native-image-picker/react-native-image-picker/pull/2036 to be merged, th

[2022-11-03 09:01] ahmdshrif commented on #12340
I think this scrollbar should be on the web only. and it's not a good thing to add in native.
and in this case, we can make it like this.
src/pages/workspace/WorkspaceMembersPage.js
[code]
or  if we do not prefer to use Os.platfom

we can split the file into 2 files WorkspaceMembersPage.native.js and WorkspaceMembersPage.js
________

another way we can add scroll only if we do not have a touch scr

[2022-11-03 09:02] mountiny commented on #12292
@drkcod3 Hello! Glad to see you around! For help related to running the App, it is definitely best to reach out in the Slack channel. If you are not member of the channel yet, please follow these guidelines: https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#asking-questions and also I recommend to familiarize yourself with that entire doc as it describes how to contribu

[2022-11-03 09:18] Tushu17 commented on #10364
Reporting compensation is pending here.
cc- @puneetlath @sakluger

[2022-11-03 09:25] parasharrajat commented on #10262
Ok, It is not working. I may be had some cache last time.

For _Copying the formatted string message and then pasting it in the composer does not preserve the spaces._ https://github.com/Expensify/App/issues/10262#issuecomment-1299362513

 I hate to add checks for safari especially but it seems `navigator.write` API has some issues which we can't control. so @b1tjoy 's [proposal](https://github.co

[2022-11-03 09:26] tienifr commented on #11688
## Solution 2
- Thanks for @evoloshchak's idea, we'll update both `lastReadSequenceNumber` and `maxSequenceNumber` in optimistic report.  It should work.

[code]

[2022-11-03 09:29] Tushu17 commented on #11192
@JmillsExpensify Okay applied, Thanks.

[2022-11-03 09:35] tienifr commented on #12066
## Proposal

### Problem
When users have a slow connection and upload a high-resolution photo, then the user removes some members from the workspace, these policy members in Onyx aren't deleted immediately and just marked pendingAction is delete as this below image

<img width="1080" alt="Screen_Shot_2022-11-03_at_13 25 27" src="https://user-images.githubusercontent.com/113963320/199687694-8ed0cfe

[2022-11-03 09:45] melvin-bot[bot] opened #12423 "[$250] Investigate: 💥 Crash 💥 `com.facebook.jni.NativeRunnable.run`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.RuntimeException
### com.facebook.react.devsupport.JSException: [react-native-quick-sqlite] SQL preparing error: no such column: value for query INSERT into magic_map (record_key, _ex_val) VALUES (?, json(?)) ON CONFLICT DO UPDATE SET value = json_patch(value, json(?));
### `Nat

[2022-11-03 09:45] Beamanator commented on #9707
Ok seems like we can close this out

[2022-11-03 09:45] #9707 closed

[2022-11-03 09:48] flodnv commented on #11561
@AndrewGable @parasharrajat thoughts?

[2022-11-03 09:53] TwizzyIndy commented on #12237
# Proposal

We only have to remove `keyboardEvent` listener on `ReportActionsView`. I think that could be fine.

https://github.com/Expensify/App/blob/25c306015d7b08fec915e6005cde7c928bdc847e/src/pages/home/report/ReportActionsView.js#L104-L114

[2022-11-03 09:56] Beamanator commented on #12238
@eVoloshchak @strepanier03 my understanding is the bug report is just talking about the URL that the browser SHOULD show in the bottom-left of the window, when hovering over a URL. So I don't think we want a tooltip which usually shows near your cursor / mouse, but the URL that shows in the bottom-left of the browser - is that clear? If you look at the OP videos, you can see the difference between

[2022-11-03 10:02] gadhiyamanan commented on #11488
in that case we can remove `<Text>` which wraps Icon  and add `styles.ml4` along with `styles.flex1`

[code]

After fix :
![Simulator Screen Shot - iPhone 13 mini - 2022-11-03 at 15 28 57](https://user-images.githubusercontent.com/54790231/199692770-ca96feb1-e930-46f6-bbdb-6a8f7d87d83c.jpg)

[2022-11-03 10:29] parasharrajat commented on #11561
I am still confused about the root cause. I will give it another try in some time.

[2022-11-03 10:31] sobitneupane commented on #12267
@tienifr Is it necessary to preload all the fonts? Performance-wise, It is better to preload absolutely required fonts only.

[2022-11-03 10:31] mountiny commented on #11561
@smrutiparida I agree that using the entire staging config is not what we exactly ask for in this issue, but it would be great to get some sense if that is ultimately what we want to achieve (I think it would make sense as at the moment it is confusing and easy to just assume Staging versions use the env.staging variables).

I think it should be fine to do the necessary changes in this issue to al

[2022-11-03 10:43] greg-schroeder commented on #12139
Internal: https://www.upwork.com/ab/applicants/1588119691859173376/job-details
External: https://www.upwork.com/jobs/~010261aaea8260e04a

[2022-11-03 10:47] Julesssss commented on #10735
Yep! Thanks

[2022-11-03 10:47] #10735 closed

[2022-11-03 10:50] greg-schroeder commented on #11334
@aimane-chnaif hired

[2022-11-03 10:51] hungvu193 commented on #12400
<b>Proposal</b>
There's no focus prop for current Routing Number input in here:
https://github.com/Expensify/App/blob/25c306015d7b08fec915e6005cde7c928bdc847e/src/pages/ReimbursementAccount/BankAccountManualStep.js#L94-L100
<b>Solution</b>
Add `autoFocus` to this `TextInput`:
[code]

Result:

https://user-images.githubusercontent.com/16502320/199702522-062009dc-c1c9-4e72-8fde-0ce51cc4ce32.mov

[2022-11-03 10:52] Julesssss commented on #12114
I don't believe we have. Our Android support goes far back also and while we should restrict this eventually it's a separate discussion than needs context on the version market share. Having said that, I don't think we should be blocking devices that are still receiving OS security updates from Apple/Google.

Anyway, seems like this is occurring on newer devices too 👍

[2022-11-03 10:53] greg-schroeder commented on #10190
Hmm - seems like this is `Internal` based on the earlier discussion, so I suppose I should just re-assign `Engineering` in that case. 🤔

[2022-11-03 10:56] greg-schroeder commented on #10190
What are your thoughts on potential progress here @thienlnam? Would it be helpful to get someone else on the team on this?

[2022-11-03 10:56] youssef-lr commented on #12275
Not sure why this issue hasn't been closed automatically. I QAed this in prod and it's a pass. Closing!

[2022-11-03 10:56] #12275 closed

[2022-11-03 10:57] Julesssss commented on #11132
I'm afraid not, but also I no longer believe this was a deploy issue. Pretty sure there has been a regression at some point

[2022-11-03 10:57] youssef-lr commented on #11806
Will test again today.

[2022-11-03 11:01] Julesssss commented on #4264
Hey @Christinadobrzyn this issue should be on hold for the moment, so I just updated the title

[2022-11-03 11:01] NikkiWines commented on #11689
Not sure where to discuss this further but yeah I think let's either prevent editing (which I'm not sure is necessary since we already do that just in a more inelegant way) or just #donothing and leave it as it

[2022-11-03 11:02] NikkiWines commented on #12264
Thanks everyone 😊

@shawnborton did we want to also update the [Help Site](https://help.expensify.com/) or shall we leave that concierge icon as is?

[2022-11-03 11:10] priyeshshah11 commented on #11391
**PROPOSAL:**

This can be solved by using the [KeyboardAvoidingView](https://reactnative.dev/docs/keyboardavoidingview) with the 'behaviour' setting in `BlockingView` component https://github.com/Expensify/App/blob/main/src/components/BlockingViews/BlockingView.js#L29

[2022-11-03 11:14] sonialiap commented on #9505
@rushatgabhane have you had a chance to review this yet?

[2022-11-03 11:27] parasharrajat commented on #11391
@priyeshshah11 This is an incomplete proposal. Please mention:
1. root cause of the issue.
2. How your proposal fix the issue?

[2022-11-03 11:32] laurenreidexpensify commented on #11768
@puneetlath as this is a tracking issue, does it need the Bug Label?

[2022-11-03 11:34] priyeshshah11 commented on #11391
PROPOSAL:

**Cause:** This is the default behaviour of react-native to pull the keyboard up (over the actual view)
**Solution:** This can be solved by using the [KeyboardAvoidingView](https://reactnative.dev/docs/keyboardavoidingview) with the behaviour prop in BlockingView component https://github.com/Expensify/App/blob/main/src/components/BlockingViews/BlockingView.js#L29

The problem will be fi

[2022-11-03 11:35] g5syed commented on #12139
Hi
I know the workaround for this issue. All we have to do is, add a "copy to clipboard" option next to the message bar.
In "copy to clipboard", we will add the logic that will recognize the size of the text copied and add hashtag manually to the detected markdowns

[2022-11-03 11:36] gadhiyamanan commented on #12400
**Proposal**
we need to rearrange errorFields as below.  add routingNumber validation before accountNumber validation

Before :
https://github.com/Expensify/App/blob/25c306015d7b08fec915e6005cde7c928bdc847e/src/pages/ReimbursementAccount/BankAccountManualStep.js#L36-L54

After:
[code]

it's because we have set focus on the first errorfield in From.js

https://github.com/Expensify/App/blob/25c30601

[2022-11-03 11:50] CortneyOfstad commented on #12020
Was pinged to double the price 👍

[2022-11-03 11:53] syedsaroshfarrukhdot commented on #12372
@flodnv I meant we need to first identify does keyboard `Enter Key` in this modal needs to send the attachment or pressing `Tab Key` and navigating to `Send Button` then pressing keyboard `Enter Key` should send attachment.

[2022-11-03 12:00] syedsaroshfarrukhdot commented on #12372
@flodnv I am able to reproduce it with `Physical Keyboard` not only `Virtual Keyboard` on `Production` can you please test again and update reproduction steps.

https://user-images.githubusercontent.com/81307212/199714614-a425073e-509f-4f10-9abc-baa7189d3e64.mov

[2022-11-03 12:01] mountiny commented on #12251
I have read and reviewed this Design Doc!

[2022-11-03 12:07] CortneyOfstad commented on #12015
I cannot reproduce this either under an expensicorp.com account

[2022-11-03_07-02-31 (1).gif.zip](https://github.com/Expensify/App/files/9928129/2022-11-03_07-02-31.1.gif.zip)

Can we confirm that this is still happening?

[2022-11-03 12:07] parasharrajat commented on #11391
It still does not explain how this change solves the issue on `Reimbursable` page. Were you able to reproduce this issue? What is the relation of `BlockingView` with the issue?

[2022-11-03 12:11] sobitneupane commented on #11854
Thank you @hellohublot for your findings.

I believe we prefer approach of solving the issue upstream (soultion B of the [proposal](https://github.com/Expensify/App/issues/11854#issuecomment-1301793683)). But https://github.com/react-native-image-picker/react-native-image-picker/pull/2036 has not received much attention from maintainer.

I am not sure of the process when something has to be solved

[2022-11-03 12:17] CortneyOfstad commented on #12245
I wasn't able to recreate this. Both on my computer and my iPhone (using the browser for staging, and not the mobile app) the Avatar changes seamlessly without any delays or issues. Can we confirm this is still happening?

[2022-11-03 12:18] techievivek commented on #12158
@Ollyws Did you handle this case in your PR #11765 ? CCing @eVoloshchak if you have some idea as you were the c+ assigned for review.

[2022-11-03 12:19] laurenreidexpensify commented on #11866
@thienlnam can you confirm if this needs to move to Upwork now? Thanks!

[2022-11-03 12:23] ntdiary commented on #9181
# Proposal
This issue is easily observed in the Chrome Devtools Performance panel.
The root cause is that reading data from `indexedDB` is much slower than reading data from `cache`.
I think we can use `set` when `originalIOUStatus` is not true.
[code]

[2022-11-03 12:26] michaelhaxhiu commented on #11689
Was thinking a quick post in #expensify-open-source? If we #donothing then this bug will persist anytime someone tries to edit messages to chronos. I feel like we should prevent editing the messages there for that reason.

[2022-11-03 12:27] techievivek commented on #12206
@bernhardoj Could this be related to the changes you introduced in PR https://github.com/Expensify/App/issues/11543?
CC @mananjadhav

[2022-11-03 12:31] NikkiWines commented on #12264
Also, it looks like we're unable to render svgs for iOS and Android apps (works fine on web, desktop, and mweb) so we'll need to use the png version of the icon. Is the one from [this comment](https://github.com/Expensify/App/issues/12264#issuecomment-1301003231) ok?

[2022-11-03 12:32] mountiny commented on #11854
I agree we would prefer to fix this in the upstream. I have commented in the PR tagging the maintainer. I think in the past, he responded quite quickly but let;s see.

1. I think in the mean time if rolling back one minor version to `4.8.4` fixes this, we should go ahead and do that.
2. Keep an eye/make a follow up tracking issue to wait for the aforementioned fix being released upstream and updat

[2022-11-03 12:33] Julesssss commented on #12397
@mvtglobally yep, please go ahead!

[2022-11-03 12:35] sketchydroide commented on #11762
closing as duplicated of https://github.com/Expensify/App/issues/10414

[2022-11-03 12:35] #11762 closed

[2022-11-03 12:36] priyeshshah11 commented on #11391
This is the [`WorkspaceReimburseView`](https://github.com/Expensify/App/blob/3bba09a7898354378d5162ffd1fa0d5d66bf05b8/src/pages/workspace/reimburse/WorkspaceReimburseView.js) page which uses [`FullPageNotFoundView`](https://github.com/Expensify/App/blob/3bba09a7898354378d5162ffd1fa0d5d66bf05b8/src/pages/workspace/reimburse/WorkspaceReimburseView.js#L193) which in turn uses [`BlockingView`](https:/

[2022-11-03 12:36] sketchydroide commented on #11089
closing as duplicated of https://github.com/Expensify/App/issues/10414 more details [here](https://github.com/Expensify/App/pull/11794#issuecomment-1280776271) and [here](https://github.com/Expensify/App/issues/10414#issuecomment-1294953650)

[2022-11-03 12:36] #11089 closed

[2022-11-03 12:36] kbecciv commented on #12245
@CortneyOfstad Checking with team, will update you shortly

[2022-11-03 12:37] dylanexpensify commented on #10240
@rushatgabhane ^

[2022-11-03 12:38] sketchydroide commented on #10414
yep the others are now closed

[2022-11-03 12:38] sketchydroide commented on #10414
lets continue this here

[2022-11-03 12:48] eVoloshchak commented on #12158
@techievivek
This wasn't handled in #11765, I don't think it handles logic for chat rooms
It was present before, you can check out [this commit](https://github.com/Expensify/App/commit/a93858c9cdb73deedccb4d0150c216cf16c99300)

https://user-images.githubusercontent.com/9059945/199722943-f31df9b1-7470-4da4-97e4-e433a77d4a52.mov

[2022-11-03 12:49] parasharrajat commented on #11391
Thanks. It makes sense. But we are already have `KeyboardAvoidingView` in `ScreenWrapper` https://github.com/Expensify/App/blob/3bba09a7898354378d5162ffd1fa0d5d66bf05b8/src/pages/workspace/WorkspacePageWithSections.js#L100

[2022-11-03 12:53] yuwenmemon commented on #11910
That's because I fixed it and it was deployed to production more than a week ago 😅

Closing

[2022-11-03 12:53] #11910 closed

[2022-11-03 12:56] parasharrajat commented on #10414
Thanks, @sketchydroide. Could you please update the description to add more details about other issues? Adding those pages and steps to those issues will be enough.

We can also generalize the Expected behavior and title.

[2022-11-03 12:56] zanyrenney commented on #11667
Still on Hold, not overdue.

[2022-11-03 12:58] zanyrenney commented on #11808
Still haven't heard back @ctkochan22 any ideas how we can get an swer to this? Could you ask some engineers 1:1 please?

[2022-11-03 12:58] eVoloshchak commented on #12238
@Beamanator, thanks, that makes sense!

In that case, @0xmiroslav's [proposal](https://github.com/Expensify/App/issues/12238#issuecomment-1297615577) looks good to me

🎀👀🎀 C+ reviewed

[2022-11-03 13:09] OSBotify commented on #12397
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.23-7 :rocket:

[2022-11-03 13:20] furkanuzundev commented on #11822
@eVoloshchak @dangrous Thanks for your feedback .

`when you're making the PR, would love to see if there's a way to not have to use eslint-disable-next-line react/forbid-prop-types`

It's removed and pushed with the PR.

I have submit a proposal from upwork and PR is ready to review as you can see. 🎀

[2022-11-03 13:21] tgolen commented on #11701
hey @JmillsExpensify, thanks for testing that! I had originally thought that this was fixed by my PR, and included it in the list of fixes. However, after some testing, we found that there was still an issue on Android Chrome. You can see here, on the password form, the sign in button is still partially covered:

![image](https://user-images.githubusercontent.com/1228807/199731643-f806e7f9-4e64-49

[2022-11-03 13:21] mountiny commented on #12340
Asking in slack to clarify what is the desired outcome here https://expensify.slack.com/archives/C01GTK53T8Q/p1667481625045649?thread_ts=1667241349.993479&cid=C01GTK53T8Q

I think scrollbar should be there from accessibility perspective, but I agree this looks better without it.

[2022-11-03 13:24] JmillsExpensify commented on #11701
Oh nice! I tested on iOS and wasn't able to see it anymore. I'll update the testing reproduction steps and remove Safari so this issue focuses on Android wWeb moving forward. What do you think?

[2022-11-03 13:27] puneetlath commented on #10356
@MitchExpensify started a discussion on it here: https://expensify.slack.com/archives/C01SKUP7QR0/p1667427593134589

[2022-11-03 13:28] mountiny commented on #8235
Thank you!

I agree with the limit. I think we should make sure a user friendly error is shown to the user if they got over the limit then, this should be handled optimistically in the NewDot in my opinion as we would not change the limits frequently so it would be fine having them defined in servers AND in the App.

I think 25MB is a reasonable limit. Going forward we might want to reconsider how

[2022-11-03 13:30] puneetlath commented on #11512
@mananjadhav I don't think you should need to. Did you try it?

[2022-11-03 13:30] tgolen commented on #11701
Yeah, sounds great! I also saw that it was working on iOS 👍

[2022-11-03 13:35] NikkiWines commented on #11689
Sounds good, thanks for posting therre @michaelhaxhiu!

[2022-11-03 13:43] shawnborton commented on #12264
We use a lot of svgs for both iOS and Android. All of our one-color icons are svgs, as well as things like room icons and default profile pictures.

[2022-11-03 13:45] mananjadhav commented on #11512
@puneetlath I'll be up in 2 hours, will test and confirm.

[2022-11-03 13:46] abekkala commented on #11901
I was still not able to reproduce this - taking the same steps outlined in the OP.

@mvtglobally and @0xmiroslav can you clarify reproduction steps and/or to check the reproduction steps again.

[2022-11-03 13:46] #11901 closed

[2022-11-03 13:47] kavimuru commented on #12104
@parasharrajat Issue is fixed.

https://user-images.githubusercontent.com/43996225/199737606-5279d7a3-fb3f-4f7d-84a1-816918bd38a4.mp4

[2022-11-03 13:52] #10523 closed

[2022-11-03 13:58] Santhosh-Sellavel commented on #12372
@flodnv Requesting put this on hold it's related to https://github.com/Expensify/App/issues/7968, as the root problem is pressing enter should perform button action when it's focused instead of "press enter" to submit action!

[2022-11-03 13:58] parasharrajat commented on #12104
Good to close then.

[2022-11-03 14:03] shawnborton commented on #12188
That's looking pretty good @Karim-30 ! Yeah, it seems like we should go with the vertical version you have there. I am cool with the desktop version following the cursor, but can you also share what we could do for the full screen compose view? I think in that context we might need to also push the menu below the cursor depending on where the cursor is in the window.

Also, [Figma file is here](ht

[2022-11-03 14:05] Santhosh-Sellavel commented on #7968
@mollfpr Can we look for a unified solution to prevent this occurring from in other places?

[2022-11-03 14:07] shawnborton commented on #12258
@grgia in terms of implementation, [I left a comment](https://github.com/Expensify/App/pull/12419/files#r1012940098) over in @dangrous's PR for workspace editor illustrations about making a new entry into our theme file for the cardBG color. I think we can hopefully share that style between these two items.

[2022-11-03 14:13] quinthar commented on #11321
Awesome!

On Thu, Nov 3, 2022, 3:10 AM Hanno J. Gödecke ***@***.***>
wrote:

[2022-11-03 14:25] Julesssss commented on #12397
I handled QA of #11757, checked it off.

[2022-11-03 14:31] JmillsExpensify commented on #12188
Agreed. I bet it's below the cursor in the vast majority of cases, but to your point, it has to work in both places depending on where the cursor is at.

[2022-11-03 14:33] JmillsExpensify commented on #12264
Out of curiosity, why not update the Concierge icon on the help site as well?

[2022-11-03 14:33] JmillsExpensify commented on #12264
Only reason I ask is that this new help site is exclusively focused on NewDot, where we're updating Concierge.

[2022-11-03 14:34] JmillsExpensify commented on #11701
Nice, done! In other news we really need a way for Bug Zero to test Android. The majority of the team doesn't have a way to do it right now.

[2022-11-03 14:35] shawnborton commented on #12264
Ah good point, is the help site baked into the App repo?

[2022-11-03 14:38] bernhardoj commented on #12206
Yes, it is related. But the problem I see (from what I tested now, which I missed while developing it) here is why the workspace name becomes empty when it got deleted and then after reload/reopen the app, the workspace name comes back. So, I was thinking that the workspace name maybe should not be empty after got deleted in the first place?

Currently, the check to show that white "pill" is only

[2022-11-03 14:39] JmillsExpensify commented on #12114
Ok moving on now, I'm not able to reproduce on iOS 16, which is fine, but I kind of wonder if this issue is a dupe of https://github.com/Expensify/App/issues/11858?

[2022-11-03 14:40] MariaHCD commented on #11850
Thanks, @joekaufmanexpensify! I'm interested in taking this on but will only be able to get to this next week.

[2022-11-03 14:42] JmillsExpensify commented on #10414
@tgolen Another one to put on our radar. Shall we add it to the tracking issue?

[2022-11-03 14:42] Julesssss commented on #12397
I checked off #12349 too and tested manually -- it's unrelated to the app itself.

[2022-11-03 14:43] Julesssss commented on #12114
@JmillsExpensify ah nice spot. That does seem very similar.

[2022-11-03 14:43] JmillsExpensify commented on #11768
It's fixing several bugs in the app, so I think it's appropriate.

[2022-11-03 14:45] kavimuru opened #12428 "[HOLD #11768] [$250] Report detail page is opened and closed immediately after login while trying to open that deeplink url reported by @0xmiroslav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login to any account
2. Go to report detail page
3. Copy url link
4. Logout
5. Visit copied url link
6. Login to same account

[2022-11-03 14:46] Julesssss commented on #11858
I updated the description to include infor from [this](https://github.com/Expensify/App/issues/12114) duplicate issue.

[2022-11-03 14:47] Julesssss commented on #12114
Closing as a dupe of https://github.com/Expensify/App/issues/11858. I added the screenshot and additional reproduction steps and info to the other issue.

[2022-11-03 14:47] #12114 closed

[2022-11-03 14:47] mountiny commented on #12264
Yes

[2022-11-03 14:48] Julesssss commented on #12114
@JmillsExpensify or @flaviadefaria would you mind closing the UpWork job? Thanks

[2022-11-03 14:49] amyevans commented on #12397
Checked off https://github.com/Expensify/App/pull/12178

[2022-11-03 14:51] pecanoro commented on #12139
I can't reproduce the issue anymore either, so I am going to close.

[2022-11-03 14:52] azimgd commented on #10107
@parasharrajat do you have an estimate of when the proposal would be reviewed?

[2022-11-03 14:53] JmillsExpensify commented on #12114
Cool, cool. Yep all good. Closed it out.

[2022-11-03 14:55] MariaHCD commented on #11068
I think this issue might possibly be a bit stale, we've made improvements/refactors to the VBBA flow in the past month so it's worth retesting this on staging to see if it's still occurring. cc: @kbecciv

[2022-11-03 14:55] stitesExpensify commented on #7968
@mollfpr copy/pasting your post in [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1667443035806009?thread_ts=1644946895.276159&cid=C01GTK53T8Q) so that all context is in one place:

So inside the listener on <ConfirmContent />, we can check if the target element is not either of the buttons we can call the props.onConfirm.
I suggest that because we have two buttons rendered but only one

[2022-11-03 15:00] sketchydroide commented on #10414
Sure @parasharrajat

[2022-11-03 15:02] joekaufmanexpensify commented on #11850
Sounds great! LMK if I can help.

[2022-11-03 15:05] NikkiWines commented on #12264
Sorry, I was unclear here. There are two problems with svgs. For the ios app and android app specifically there's a probably using svgs from a remote resource (like cloudfront, if we pull the icon from https://d2k5nsl2zxldvw.cloudfront.net/images/icons/concierge_2022.svg).

If we keep the image local to the `/assets/` folder (which we definitely can do) that works better but there's a small proble

[2022-11-03 15:06] parasharrajat commented on #10107
These are currently being reviewed.

[2022-11-03 15:06] mollfpr commented on #7968
@stitesExpensify I believe nothing will change on the visual appearance of the pressing button with enter, let me know if the video in my proposal is what we expected.

[2022-11-03 15:11] ntdiary commented on #10107
@parasharrajat Thanks for your feedback. 😄
Maybe I pay too much attention to a universal solution, and think I can always maintain this library.
I'll also consider whether I can write it with react if possible.

[2022-11-03 15:14] shawnborton commented on #12264
Oh wow, do you know why we can't show the full svg image in the attachment modal? Maybe that's a separate problem we can fix?

[2022-11-03 15:14] sketchydroide commented on #10414
Ok Updated, I'm not sure if the fact that we have 3 instances where this happens can be a bit confusing on the description, but I'll take any suggestions on how we can improve that.

[2022-11-03 15:16] puneetlath commented on #10622
I believe we now also need a PR to update the app to use the new onyx version, is that right?

[2022-11-03 15:19] puneetlath commented on #11671
Got it! @fedirjh when can we expect an updated proposal?

[2022-11-03 15:20] arielgreen commented on #10290
Payment due tomorrow

[2022-11-03 15:21] NikkiWines commented on #12264
I believe it's a limitation of react native, we might be able to get around it by using `SvgComponent` from the `react-native-svg` library, but I personally think that's a separate issue from this one.

As an aside, the [current icon](https://d2k5nsl2zxldvw.cloudfront.net/images/icons/concierge_2021.png) we're using for concierge is also a png.
<img width="579" alt="image" src="https://user-images

[2022-11-03 15:21] nkuoch commented on #11488
That must be it :)

[2022-11-03 15:22] pecanoro commented on #10262
Before I approve the proposal, it seems the code that we are adding is only for safari, right? I was able to reproduce this on the browser for android though.

[2022-11-03 15:22] NikkiWines commented on #12264
However, since the full image view of svgs is a known issue, we could use the SVG format for now with the expectation that we'll likely ultimately try to fix the full-view issue.

[2022-11-03 15:24] Santhosh-Sellavel commented on #11797
@Gonals & @trjExpensify this should open until the regression period & payment!

[2022-11-03 15:25] flodnv commented on #8235
IMO,

This is the bug to fix (if it exists)

, and this is a feature request (not part of this issue, nor a bug)

[2022-11-03 15:26] Santhosh-Sellavel commented on #10622
Yes right, @christianwen can you make submit again the E/APP, thanks!

[2022-11-03 15:27] puneetlath commented on #12004
Doubled to $1000.

Job post is here: https://www.upwork.com/jobs/~01744f6f4e5bb3bfe4

[2022-11-03 15:27] shawnborton commented on #12264
Cool, I think that sounds like a good plan to me! Mind posting the bug to #expensify-open-source so it gets reported and triaged in the meantime?

[2022-11-03 15:27] flodnv commented on #12372
Excellent, thanks for the great eyes and suggestion!

[2022-11-03 15:30] Beamanator commented on #12238
Nice I like it too 👍

[2022-11-03 15:31] kavimuru opened #12430 "Hitting "cmd +R" when an attachment was taking longer to upload, multiple attachments are loading"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login
2. Open any chat
3. Upload an attachment with bigger size
4. When uploading takes longer and stays in "uploading attach

[2022-11-03 15:32] puneetlath commented on #11982
@sobitneupane @mananjadhav @mollfpr can you please apply to the Upwork job here: https://www.upwork.com/jobs/~018e89dfcc7471e60c

[2022-11-03 15:35] kavimuru opened #12431 "[$250] Tabbing to number pad and pressing enter in Send Money screen submits the form reported by @huzaifa-99"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Click the 'New' button
2. Select 'Send money'
3. Press tab to focus to first number and enter to select (works correctly and

[2022-11-03 15:37] sobitneupane commented on #11982
@puneetlath Applied.

[2022-11-03 15:37] bfitzexpensify commented on #11518
All payments finalized. Thanks everyone!

[2022-11-03 15:37] #11518 closed

[2022-11-03 15:40] lschurr commented on #11892
I can reproduce this if I use mobile web and go to new.expensify.com/concierge. Should that link work to find your conversation with Concierge?

@flodnv are you able to reproduce?

@rushatgabhane can you review the proposal?

[2022-11-03 15:40] mallenexpensify commented on #12066
@sobitneupane can you review @tienifr 's proposal above plz?

[2022-11-03 15:41] stitesExpensify commented on #12189
@leeoniya Am I correct that a fuzzy search will get slower with larger datasets (which will certainly happen when we allow users to add custom emojis), whereas a suffix tree would not see any impact due to the search time being linear to the size of the _search string_ rather than the size of the dataset?

I also wanted to mention that the suffix tree solution we recommended in the OP is both fast

[2022-11-03 15:41] mallenexpensify commented on #12007
ooooh, not reproducible!!? I  like that .  Either way... it's on hold

[2022-11-03 15:41] bfitzexpensify commented on #11690
All payments complete. Thanks everyone!

[2022-11-03 15:42] mallenexpensify commented on #11852
@thesahindia will you review @Ollyws' proposal above? Thx

[2022-11-03 15:48] luacmartins commented on #10216
Actually, I just realized that this is a duplicate of https://github.com/Expensify/App/issues/11011. I'll close this issue in favor of the https://github.com/Expensify/App/issues/11011 since that one has more context in it. I'll try to investigate it as well.

[2022-11-03 15:48] #10216 closed

[2022-11-03 15:48] Beamanator commented on #11856
Bump @rushatgabhane

[2022-11-03 15:49] michaelhaxhiu commented on #9823
Price doubled!

[2022-11-03 15:49] mountiny commented on #8235
I have just tried to send you, Flo, a 40MB file and I am stuck with `Uploading attachment...`. Given we know there is a hard limit of 25MB in the server, we should check for the size of attachment in NewDot before processing it. I assume the size of the POST might be slightly larger than of the file so we might have to check for something like 24.9MB in App to make sure we don't post something suc

[2022-11-03 15:49] luacmartins commented on #9848
@dylanexpensify sure, let's double this!

[2022-11-03 15:54] cead22 commented on #12189
I think fuzzy search makes sense, so typing things with small typos still gives you the match you're looking for, like @stitesExpensify last example

[2022-11-03 15:55] laurenreidexpensify commented on #12325
@rushatgabhane bump ^^

[2022-11-03 15:57] thesahindia commented on #8719
I believe it's eligible for the reporting compensation.

cc: @adelekennedy @neil-marcellini

[2022-11-03 16:05] eVoloshchak commented on #11652
@slickroot, this one is already solved, but there are a [bunch of open issues](https://github.com/Expensify/App/labels/Help%20Wanted) you can submit a proposal for!

If you're new here, please take a look at [CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) and welcome :)

[2022-11-03 16:09] miljakljajic commented on #11588
Thank you for handling this! I have extended hiring offers to both of you @Puneet-here and @rushatgabhane

[2022-11-03 16:11] sketchydroide commented on #11771
not overdue

[2022-11-03 16:11] roryabraham commented on #12397
Sorry about the delay – I forgot to post in here again when we were good-to-go

[2022-11-03 16:13] huzaifa-99 commented on #12058
## Proposal

### Root Cause
This is happening because of the `TextLink` component used in `PDFInfoMessage`.
https://github.com/Expensify/App/blob/17219657fd7a044abdd7b08adfa4717856113e59/src/components/PDFView/PDFInfoMessage.js#L32-L34

1. It is not capturing focus on FireFox/Safari with `Tab`
2. It captures focus on chrome with `Tab` but when enter is pressed the focus is lost without doing the a

[2022-11-03 16:14] huzaifa-99 commented on #12058
Oops!. Didn't saw this, I should have waited till tomorrow 😂

[2022-11-03 16:15] mollfpr commented on #7968
### Proposal

Another proposal is to utilize the element role. The `Enter` key listener will check if the role of the element is `button` then it'll skip. Other than that, the listener will continue.

This proposal will also resolve this https://github.com/Expensify/App/issues/12372 issue. But we still need to update the other `Pressable` in `HeaderWithCloseButton` to add the `accessibilityRole="b

[2022-11-03 16:17] mollfpr commented on #11982
Applied too

[2022-11-03 16:23] parasharrajat commented on #10262
Give me sometime and I will check it.

[2022-11-03 16:31] iwiznia commented on #12141
Yep, exactly, I was already suggesting the change.

I am confused because unless you enclose it in parenthesis and add `+`, `*` or a range, default is to match it exactly once.

[2022-11-03 16:32] kbecciv opened #12432 "[HOLD for payment 2022-12-20] Web- Chat - Onyx error is displayed in console when requesting money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Logged in with applausetester+0901abb@applause.expensifail.com/Feya86Katya
3. Open Console

[2022-11-03 16:33] sketchydroide commented on #12253
I think there are 2 main different things to change/update, the assets (images) and the style (colours, fonts, spacing, etc)

Images can be specific to each page, but styles might be common across the different screens.

Are we changing the style of the text @shawnborton? The Font feel different.

[2022-11-03 16:36] dangrous commented on #11275
Thanks for calling that out @parasharrajat ! I also do not see this on my local.

[2022-11-03 16:37] Santhosh-Sellavel commented on #7968
@mollfpr I believe we have a solution from here https://github.com/Expensify/App/issues/7968#issuecomment-1279723391. We can leverage `nativeID`, instead of ignoredNatived perform an action only `nativeID` matches!

[2022-11-03 16:42] roryabraham commented on #12189
I'm less concerned about initialization time than search time, because that happens only once on app initialization, and our current benchmarks for that are quite fast (~50ms). If if ever became a problem, we could also lazy-load the EmojiTrie so as not to block any UI except the emoji selector on its initialization.

[2022-11-03 16:44] luacmartins opened #12433 "[$1000] Do not update IOU total when IOU requests are submitted offline and the currency differs from the iouReport currency"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Request money from a user in USD, `+ > Request money`
2. Go offline
3. Send another money request, but this time set a differe

[2022-11-03 16:48] mollfpr commented on #7968
In this proposal, we do not set any track https://github.com/Expensify/App/issues/7968#issuecomment-1302346977. I think it make sense only to run the `Enter` key listener when the focus is not on the button. To know if the element is a button by adding the role attribute.

[2022-11-03 16:49] iwiznia commented on #12319
Looks good. Do we have any places where autoReset is being passed as `false`?
And even if so, should we change the default to true? Sounds like in most cases that's the correct behavior?

[2022-11-03 16:52] isabelastisser commented on #12356
Reviewing this now.

[2022-11-03 16:59] Santhosh-Sellavel commented on #7968
as you said we might still need to do this

[2022-11-03 17:01] marcaaron commented on #11768
I think it would be good to have some minimal proof of concepts together so people can actually click around and then share opinions on how things should work. I went back through some of the threads yesterday and a few points seem undecided. Will try to summarize everything by the end of today.

[2022-11-03 17:04] mollfpr commented on #7968
Yes! But adding an accessibility button is good for the screen reader to know that is a button since the `Pressable` is rendered as `DIV`.

[2022-11-03 17:09] parasharrajat commented on #10262
Its working for me. Android chrome.

[2022-11-03 17:09] mollfpr commented on #7968
We could create a custom `Pressable` for web/desktop and adding those props. So we shouldn’t update anything else on used `Pressable`.

[2022-11-03 17:10] Santhosh-Sellavel commented on #7968
I agree, that's a good point, shouldn't we do this for all elements? That's bigger and should be done for the whole project.

Focusing on the problem here using native would suffice!

[2022-11-03 17:20] Santhosh-Sellavel commented on #11487
Looks Good! @aldo-expensify

[2022-11-03 17:23] luacmartins commented on #11710
@muttmuure was this paid out? Can we close the issue?

[2022-11-03 17:24] luacmartins commented on #12116
@0xmiroslav's PR is merged. Assigning @0xmiroslav to implement [this proposal](https://github.com/Expensify/App/issues/12116#issuecomment-1291548767)

[2022-11-03 17:28] maddylewis commented on #12043
are we still waiting on a finalized proposal for this one?

[2022-11-03 17:29] Julesssss commented on #12018
Holding for any last proposals

[2022-11-03 17:30] Julesssss commented on #11930
Hey @adelekennedy, bumping for bounty increase

[2022-11-03 17:33] michaelhaxhiu commented on #12015
Seems @Justicea83 and @CortneyOfstad are both having issues reproducing. If this can't be reproduced in the next few days, I recommend closing it.

If you can reproduce, I recommend applying `demolition` label to get someone assigned and accountable to seeing it through.

[2022-11-03 17:36] thienlnam commented on #10693
Proposal looks fine but since some linked issues have been closed,

@kavimuru can we confirm this is still happening?

[2022-11-03 17:40] Julesssss commented on #12397
Even though testing isn't yet complete, I've checked the Firebase dash and closed both of the new issues. One was non-fatal, and the other was unreproducible and sounded suspiciously like a dev infinite recursion exception.

[2022-11-03 17:41] Julesssss commented on #12397
Timing graph is nominal (excluding the broken timing metric).

[2022-11-03 17:51] AndrewGable commented on #11529
Double again?

[2022-11-03 17:59] Karim-30 commented on #12188
we can do it using `offsetTop` property, it represent the location of the `<Text>` we are using as a `ref` on the y-axis.

[2022-11-03 18:03] parasharrajat commented on #10107
Started an internal discussion. https://expensify.slack.com/archives/C02NK2DQWUX/p1667498373237429

[2022-11-03 18:04] zanyrenney commented on #12400
Sorry @hungvu193 i'm not clear if you are saying this bug Will be fixed as part of that proposal above, or if that proposal above is a fix for this specific bug?

[2022-11-03 18:09] thienlnam commented on #11866
@laurenreidexpensify We're just waiting for some Applause internal changes here - no action required here yet

[2022-11-03 18:09] thienlnam commented on #11866
@isagoico Have you had a chance to update the testrail?

[2022-11-03 18:12] isabelastisser commented on #12356
I was unable to reproduce.

[2022-11-03 18:15] aldo-expensify commented on #11487
Yes, that looks good for me too

[2022-11-03 18:16] luacmartins commented on #11058
I can't reproduce 1 anymore. Now we are down to offline edits being reset when we come back online which should be resolved by https://github.com/Expensify/Expensify/issues/229696

[2022-11-03 18:16] kavimuru opened #12435 "[HOLD for payment 2022-11-22] [$250] App crashes when try to open workspace manage members page after login from deeplink url reported by @0xmiroslav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login to any account
2. Go to Settings -> Workspaces -> select any workspace -> Manage members page
3. Copy url link
4. Logou

[2022-11-03 18:18] JmillsExpensify commented on #11701
That would be really awesome, thanks for the heads up.

[2022-11-03 18:19] strepanier03 commented on #11753
Since this still can't be reproduced I am going to close this GH. If we need to reopen in the future or reference we can.

Thank you @mvtglobally and @mountiny for your help tracking, testing, and updating this.

🤜 💥 🤛

[2022-11-03 18:19] #11753 closed

[2022-11-03 18:20] iwiznia commented on #12319
Based on the data above, I think we should change it to be the default, since only one of all those really needs it set to false.

[2022-11-03 18:21] iwiznia commented on #12319
@eVoloshchak what do you think?

[2022-11-03 18:21] JmillsExpensify commented on #11058
Ok cool, so then I'll update the hold and re-test when that one is merged.

[2022-11-03 18:21] kavimuru opened #12436 "Clicking "fix the errors" on Company information page does not set focus on the first error field reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Actions performed:

1. Go to Profile > Workspace > Connect a bank account > Connect manually
2. Enter a valid routing number and account number
3.

[2022-11-03 18:24] JmillsExpensify commented on #11652
Nice! Let me know once you've accepted the offer, then I'll issue payment and close this issue.

[2022-11-03 18:24] alexandermendes commented on #12267
**Proposal**

If performance is a concern, an alternative way of dealing with this issue is to choose web safe fallback fonts that closely mimic the final custom font. It’s the disconnect between the current default and the custom font that’s so jarring, particularly as the fallback is a serif font and the custom font is sans-serif.

So currently the two fonts side by side look like this (taking t

[2022-11-03 18:25] JmillsExpensify commented on #10216
Gotcha, we've found several duplicates today. Less is better, thanks!

[2022-11-03 18:27] JmillsExpensify commented on #12264
Just to come back to the help site, I do think we should implement the new icon.

[2022-11-03 18:28] kavimuru opened #12438 "[HOLD for payment 2022-11-30] [$250] Web - Payments - "Add payment method" blinks after interacting with buttons"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Prerequisite: Expensfy Account has a bank account added

Add payment method is blinking:
1. Go to https://staging.new.expensify.c

[2022-11-03 18:29] JmillsExpensify commented on #10506
Snagging this since I'm asssigned on the tracking issue.

[2022-11-03 18:30] JmillsExpensify commented on #8126
Snagging this since I'm in the tracking issue.

[2022-11-03 18:31] JmillsExpensify commented on #9734
snagging this as I'm on the tracking issue.

[2022-11-03 18:31] JmillsExpensify commented on #7737
Snagging this, as I'm on the tracking issue.

[2022-11-03 18:34] luacmartins commented on #12341
Here's the decoded stacktrace. It seems like the issue is on [this call to setState](https://github.com/Expensify/App/blob/7ffe2c009fcfb347fe4988ca4e07e38ef707d4ed/src/pages/iou/IOUModal.js#L165)
[code]

[2022-11-03 18:34] shawnborton commented on #12264
Yup I agree, and then we should include the help site as part of what gets all of the other core brand ingredient updates too cc @Luke9389 @grgia

[2022-11-03 18:35] JmillsExpensify commented on #11524
Snagging this since I'm on the tracking issue.

[2022-11-03 18:36] JmillsExpensify commented on #11429
Snagging this now that I'm on the tracking issue.

[2022-11-03 18:36] leeoniya commented on #12189
yeah, i would expect a trie of suffix tree to have better runtime scaling than fuzzy search, though it depends on how the fuzzy search is implemented (e.g. levenshtein in JS will scale worse than a regex that delegates to a C or asm backend).

tl;dr; `fuzzy !== levenshtein`. relying on distance metrics alone for fuzzy search is guaranteed to produce poor results. there are many better ways to do i

[2022-11-03 18:37] JmillsExpensify commented on #4612
Snagging myself now that I'm on the tracking issue.

[2022-11-03 18:37] dangrous commented on #11800
Great job @mollfpr! I just merged.

[2022-11-03 18:37] JmillsExpensify commented on #8657
Snagging this now that I'm in the tracking issue.

[2022-11-03 18:38] michaelhaxhiu commented on #11689
Based on slack discussion let's mark this as `external` and it should assign a BZ to post to upwork.

We think the job value should be capped at $500 since this is straightforward/easy (but start price at $250). That's the gist from slack post. 🚀

[2022-11-03 18:39] Luke9389 commented on #11914
Still waiting on proposals.

[2022-11-03 18:40] JmillsExpensify commented on #11652
Actually I saw you already accepted and I've just issued payment. I'm closing this one out. Thank you all!

[2022-11-03 18:40] #11652 closed

[2022-11-03 18:42] alexandermendes commented on #12267
As a follow-up, there are probably two overall ways to achieve the above.

The simple way, that would still be an improvement, would be to not worry about tweaking line heights and font sizes and so on and simply declare fallbacks for each of the custom fonts in the [`_fonts.scss`](https://github.com/Expensify/App/blob/main/docs/_sass/_fonts.scss) file, for example:

[code]

That would achieve som

[2022-11-03 18:42] JmillsExpensify commented on #11709
Everyone should be paid out now. Thank you!

[2022-11-03 18:42] #11709 closed

[2022-11-03 18:42] Luke9389 commented on #11283
not overdue, still working it out.

[2022-11-03 18:44] michaelhaxhiu commented on #12028
Should we group this issue with https://github.com/Expensify/App/issues/11735? Both relate to triple-click misbehaving. They are a little different but I'd bet 1 stone (PR) can hit both birds (GHs). 🤔

[2022-11-03 18:45] luacmartins commented on #12341
[This](https://github.com/Expensify/App/blob/7ffe2c009fcfb347fe4988ca4e07e38ef707d4ed/src/libs/actions/IOU.js#L642) is the only place that sets `iou.error = true`. Since we are refactoring the pay IOU flows, this will be resolved once we optimistically pay IOUs and store the errors in the report / reportActions.

[2022-11-03 18:46] luacmartins commented on #12341
I'll move this as internal and link it to the payIOU refactor issue.

[2022-11-03 18:46] JmillsExpensify commented on #11320
@parasharrajat sent you an offer on Upwork. Will pay out as soon as you're able to accept.

[2022-11-03 18:48] kavimuru opened #12439 "mWeb/Safari -Change password - Cursor does not autofocus Change password page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/

2. Navigate to settings by clicking on the user avatar over LHN
3. Click on Security

[2022-11-03 18:50] parasharrajat commented on #11449
Accepted the offer.

[2022-11-03 18:51] LLPeckham commented on #12255
Will work on some copy proposals for this to bring to #marketing for a pre-design tomorrow.

[2022-11-03 18:54] JmillsExpensify commented on #11192
Thanks, hired!

[2022-11-03 18:55] alex-mechler commented on #12061
I was also not able to reproduce this. It looks like https://github.com/Expensify/App/issues/11910 solved the issue, so I'm going to close this one out

[2022-11-03 18:55] #12061 closed

[2022-11-03 18:55] Luke9389 commented on #12264
Interesting! I just checked out ExpensifyHelp for the first time.
All of the styles being used in that site are totally separate from the styles we're using on the main app. I'm not sure that this qualifies as deserving it's own doc, but I also don't think we should lump it in to the Implement New Core Branding doc (sheerly bc I don't want to loose momentum by having a v2 and re-review).

Maybe we

[2022-11-03 18:56] jasperhuangg commented on #11921
I'm unable to reproduce this on dev, staging, and production. Closing this out

[2022-11-03 18:56] JmillsExpensify commented on #12036
Ok cool. Let me know if you want help re-testing any of the linked issues once PRs are merged.

[2022-11-03 19:00] eVoloshchak commented on #12319
Agree, making it `true` by default is better

[2022-11-03 19:00] getusha commented on #11283
Thanks @parasharrajat, I will find way of solving it.
Basically only the tab inconsistency is needed to be fixed right?
If there is another issue caused by this i will look on that too. Thanks.

[2022-11-03 19:00] joekaufmanexpensify commented on #11916
Still awaiting proposals. Will bump in the room soon if this doesn't get any proposals.

[2022-11-03 19:05] Luke9389 opened #12440 "[HOLD for payment 2022-12-07] Update New Dot Colors"
Tracking Issue: https://github.com/Expensify/App/issues/12251
Design Doc Section: https://docs.google.com/document/d/197fXHLlHM_RJA4-3MITwdu0N5e0HX5Q74sA4W80YMD8/edit#bookmark=id.zh5fku1wwmp2

### Color Swaps

Here’s a list of color values that will change:
App Background: #FFFFFF → #061B09
Highlight Background: #FAFAFA → #002E22
Borders: #ECECEC → #1B5744
Icons: #C6C9CA → #8B9C8F
Supporting Text:

[2022-11-03 19:05] roryabraham commented on #5536
Yep, agreed, that's the design I proposed in the comment above ^. Send all draft comments in `OpenApp` and `ReconnectApp`

[2022-11-03 19:06] Tushu17 commented on #8235
### Proposal

We can decrease `MAX_SIZE` to `26214400`

https://github.com/Expensify/App/blob/7ffe2c009fcfb347fe4988ca4e07e38ef707d4ed/src/CONST.js#L16-L19

We also need to change error message to ```Attachment size is larger than 25 MB limit. ```

https://github.com/Expensify/App/blob/3cd723233aeeb4826226e7ea883def1d9cf09abe/src/languages/en.js#L122

[2022-11-03 19:06] Luke9389 commented on #12440
Sorry for the noise @Christinadobrzyn, this is not a Bug :)

[2022-11-03 19:10] aldo-expensify commented on #11414
@Puneet-here proposal looks good to me too. I just confirmed with @shawnborton that we wanted to keep the error below the button.

[2022-11-03 19:11] Luke9389 opened #12441 "Update Site Logos"
Tracking Issue: https://github.com/Expensify/App/issues/12251
Design Doc Section: https://docs.google.com/document/d/197fXHLlHM_RJA4-3MITwdu0N5e0HX5Q74sA4W80YMD8/edit#bookmark=id.zh5fku1wwmp2

### Update Logos
App Icon and Fav Icon
Our app icon logo will be changed from the current design to this one:
![Screen Shot 2022-11-03 at 12 10 08 PM](https://user-images.githubusercontent.com/49007721/19981

[2022-11-03 19:15] Luke9389 opened #12442 "[$1000] [HOLD for payment 2022-12-08] Update New Dot Icons"
Tracking Issue: https://github.com/Expensify/App/issues/12251
Design Doc Section: https://docs.google.com/document/d/197fXHLlHM_RJA4-3MITwdu0N5e0HX5Q74sA4W80YMD8/edit#bookmark=id.og7olthv53yu

### Update Icons

All of the icons from `./assets/images/ will be replaced with the following icons.
![Screen Shot 2022-11-03 at 12 15 17 PM](https://user-images.githubusercontent.com/49007721/199813725-0b52

[2022-11-03 19:17] Luke9389 opened #12443 "[HOLD for payment 2022-12-15] Update New Dot Fonts"
Tracking Issue: https://github.com/Expensify/App/issues/12251
Design Doc Section: https://docs.google.com/document/d/197fXHLlHM_RJA4-3MITwdu0N5e0HX5Q74sA4W80YMD8/edit#bookmark=id.h4aw0750hafm

### Update Fonts

Adding fonts to a React Native project requires a few steps for each platform, which are spelled out [here](https://stackoverflow.com/c/expensify/questions/6831).

Body Font
Our new body fo

[2022-11-03 19:22] Luke9389 opened #12444 "[HOLD for payment 2022-12-02] Update New Dot Buttons"
Tracking Issue: https://github.com/Expensify/App/issues/12251
Design Doc Section: https://docs.google.com/document/d/197fXHLlHM_RJA4-3MITwdu0N5e0HX5Q74sA4W80YMD8/edit#bookmark=id.bolh6znlwq1x

### Update Buttons

Our buttons will become pill shapes instead of the rounded-corner boxes we have now. This can be achieved by setting the correct border radius for buttons in styles.js. Note that we have

[2022-11-03 19:28] AndrewGable commented on #11711
Spent most of the morning attempting different paths for artifacts, but wasn't able to get it to work. I reached out to our contact at AWS via email hoping that he can point us in the right direction.

[2022-11-03 19:29] fedirjh commented on #11901
@abekkala flow these steps , still able to reproduce

1. Login to this user : [applausetester+0901abb@applause.expensifail.com](mailto:applausetester+0901abb@applause.expensifail.com) / Feya86Katya
2. Verify that A's chats list is showing
3. Logout A and close tab after singing page shows
4. Open new tab and Login to user B (use new account with no chats)
5. A's chats list is showing in user B

[2022-11-03 19:31] luacmartins commented on #8722
This will actually be solved by https://github.com/Expensify/App/issues/8722 since we are optimistically creating the IOU and there's no more loading state.

[2022-11-03 19:32] Luke9389 opened #12445 "[HOLD for payment 2023-02-03] [$1000] Update New Dot Text Inputs"
Tracking Issue: https://github.com/Expensify/App/issues/12251
Design Doc Section: https://docs.google.com/document/d/197fXHLlHM_RJA4-3MITwdu0N5e0HX5Q74sA4W80YMD8/edit#bookmark=id.9fht3irzbesn

### Update Text Inputs

We’re removing the box around our form elements and doing just a single underline instead. The bottom border will be increased to 2px, and we will remove the border radius and horizon

[2022-11-03 19:32] PauloGasparSv commented on #12123
@kbecciv just re-tested on my physical device in staging and I did not get the same behavior as the evidence video.

https://user-images.githubusercontent.com/6564265/199816865-e775dda9-a60a-4d74-8542-edb952bdc913.mp4

Can you re-test? And if it fails, can you send me the email of the applause.expensifail account you are using and in which vault it exists, cause I couldn't find it here.

[2022-11-03 19:34] Luke9389 opened #12446 "Update ExpensifyHelp to Match New Dot Styles"
Tracking Issue: https://github.com/Expensify/App/issues/12251
Design Doc Section: https://docs.google.com/document/d/197fXHLlHM_RJA4-3MITwdu0N5e0HX5Q74sA4W80YMD8/edit#bookmark=id.wectpruo06vv

### Update ExpensifyHelp

We also need to update the styles on the ExpensifyHelp site. All of the code for this site is in the App/docs/ directory. It has its own style sheets in App/docs/_sass/, which need

[2022-11-03 19:35] shawnborton commented on #12264
Spoke offline but given that the help site is part of the App repo and part of NewDot, it makes sense to include it in the doc.

[2022-11-03 19:37] roryabraham commented on #5536
Chatted with @marcaaron, and he suggested that maybe a simpler solution that the fancy Onyx `writeLog` table I mentioned above would be to implement [this solution](https://pusher.com/docs/channels/server_api/excluding-event-recipients/) to avoid sending the pusher event back to the client that triggered it. I whole-heartedly agree that this is a much simpler solution

[2022-11-03 19:41] alexpensify commented on #11816
Based on the hold notice, I'll check tomorrow!

[2022-11-03 19:47] parasharrajat commented on #12058
The only reason that `TextLink` is used is that it does not create a block element in the middle of the text. @huzaifa-99 I liked your suggestion of using Pressable instead of this. But it will create the mentioned problem. I think the same goes for `TouchableOpacity`.

But I agree using either of these will fix both this issue and https://github.com/Expensify/App/issues/11354

[2022-11-03 19:54] kavimuru opened #12448 "mWeb - Chat - `New message` line indicator is not displayed over the new messages when opening an unread conversation."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Log in with any account
3. Navigate to any convo and disable the internet connecti

[2022-11-03 19:55] trjExpensify commented on #11461
Sure, that's the new checklist for BugZero to ensure we square all these items away. Obviously, the last three won't happen until we hit +7 days from the production deploy, but I can get going on the suggested regression tests to add to TestRail once we hit staging and it passes QA regression testing.

For this one. IIRC, this wasn't actually a regression, we just implemented it to return to the `

[2022-11-03 19:59] luacmartins commented on #11126
The last PR was closed in favor of https://github.com/Expensify/App/pull/12219

[2022-11-03 20:01] michaelhaxhiu commented on #12028
Also can we try to address @osama256's question above to move this forward (perhaps today or tomorrow)? I know @roryabraham is busy with projects these days so perhaps we post this Q in #expensify-open-source?

I'll kick off a little movement in the [original thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1666188981167469) where this was reported to help move it forward.

PS @osama256 w

[2022-11-03 20:03] arielgreen commented on #11405
Hey @mateocole, just a reminder to [keep the pressure on](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) to find a contributor and get this one closed out!

[2022-11-03 20:03] arielgreen commented on #11413
Hey @jliexpensify, just a reminder to [keep the pressure on](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) to find a contributor and get this one closed out!

[2022-11-03 20:06] arielgreen commented on #11414
Hey @Puneet-here @slafortune, can you confirm when the PR will be ready? Let's [keep the pressure on](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) to get this one closed out!

[2022-11-03 20:08] arielgreen commented on #11415
Hey @michaelhaxhiu, just a reminder to [keep the pressure on](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) to find a contributor and get this one closed out!

[2022-11-03 20:08] luacmartins commented on #11011
I'm unable to reproduce this. @kbecciv could you please ask the team to try to reproduce on the latest build?

[2022-11-03 20:08] Luke9389 commented on #12445
@shawnborton, when you have a moment, could you provide a mockup for disabled dropdown pickers?
![Screen Shot 2022-11-03 at 1 05 23 PM](https://user-images.githubusercontent.com/49007721/199823654-fadafb57-aeaa-48b0-aac0-adbf5a5a9d3e.png)

I'm 99% sure I know what they'll look like (should just be a 1:1 with the color swaps, right?), but it'll be nice to have a mockup so WebQA can compare.

[2022-11-03 20:10] JmillsExpensify commented on #12264
Agree with that!

[2022-11-03 20:17] arielgreen commented on #11427
Hey @luacmartins @rushatgabhane, can you prioritize getting any changes or reviews completed today? Let's keep the momentum up to get this one closed out! cc @puneetlath

[2022-11-03 20:22] JmillsExpensify commented on #11850
A [relavant discussion](https://expensify.slack.com/archives/C048ZLJ78P5/p1667496802620869?thread_ts=1667337295.224049&cid=C048ZLJ78P5) happened in Slack regarding how we would handle this scenario when 2FA is considered – more specifically, what happens if a user is offline, an admin enables 2FA on the domain and the user's session is invalidated.

[2022-11-03 20:22] arielgreen commented on #11433
Hey @roryabraham , can you prioritize getting review completed today? Let's [keep the momentum up](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) to get this one closed out!

[2022-11-03 20:24] arielgreen commented on #11438
Hey @rushatgabhane, can you prioritize getting this proposal reviewed today? Let's keep the momentum up to get this one closed out!

[2022-11-03 20:24] JmillsExpensify commented on #11320
Payment issued! Closing this one out.

[2022-11-03 20:24] #11320 closed

[2022-11-03 20:25] tgolen commented on #10414
It's probably a different problem than the ones in that tracking issue. I think this is more of an auto-focus problem, rather than a problem with views being obscured by the keyboard.

[2022-11-03 20:27] JmillsExpensify commented on #10414
Gotcha, thanks for the second opinion!

[2022-11-03 20:28] strepanier03 commented on #11894
Discussed internally [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1667504417832909).

----

In light of the current and rapid development to replace passwords with magic sign-in links, we are not going to pursue fixing this bug. Should something change that makes fixing this a priority I will reopen it and action it accordingly.

[2022-11-03 20:28] #11894 closed

[2022-11-03 20:32] Puneet-here commented on #11414
I will raise the PR by tomorrow.

[2022-11-03 20:37] thesahindia commented on #11852
Great discovery @Ollyws!

@roryabraham, I like @Ollyws [proposal](https://github.com/Expensify/App/issues/11852#issuecomment-1302186031).

We will need to do some thorough testing so that everything works fine.

C+ reviewed 🎀👀🎀

[2022-11-03 20:38] michaelhaxhiu commented on #12042
@dylanexpensify For this checklist step, I think you can best handle it by posting in #contributor-plus slack channel and using [this type](https://expensify.slack.com/archives/C01SKUP7QR0/p1667507821935299?thread_ts=1667427593.134589&cid=C01SKUP7QR0) of approach (since this checklist is actively evolving):

[2022-11-03 20:38] parasharrajat commented on #10107
Waiting on the discussion before I share the next update here. It might take a day.

[2022-11-03 20:40] parasharrajat commented on #10107
I tried to save a simple text on the keychain service `login` and get it back which worked but I can't find it in the keychain access app anywhere. (I saved and retrieved the data in one go without closing the app). Thoughts?

[2022-11-03 20:42] roryabraham commented on #12446
Also might need to update `App/docs/assets/images` with the new image assets 🙂

[2022-11-03 20:49] michaelhaxhiu commented on #12043
Agreed with @marcaaron, and let's not forget we can always come back to incorporate "tab behavior" later on. My 2 cents here is that the keyboard navigation and keyboard selection (e.g. using directional arrows + enter) are the most important aspect of solving this.

[2022-11-03 20:51] jliexpensify commented on #10905
@JmillsExpensify - Happy for you to assign this one over to yourself, however, my understanding was that we had an [approved proposal](https://github.com/Expensify/App/issues/10905#issuecomment-1296382891) from @aimane-chnaif

[2022-11-03 20:57] johncschuster commented on #11416
I'm unable to reproduce the issue on staging.

[2022-11-03 21:03] JmillsExpensify commented on #10905
The Upwork job was just created so I figured no biggie, but please take it back if you'd like!

[2022-11-03 21:04] azimgd commented on #10107
Using keytar ? On osx ?

[2022-11-03 21:04] kbecciv opened #12449 "IOS - Connect Bank Account - Reset button non functional in calendar while adding bank account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Go to Profile > Workspace > Connect a bank account > Connect manually
3. Enter a valid routing num

[2022-11-03 21:05] trjExpensify commented on #12243
Yeah, to be clear, I think we've fixed both of those after we discovered them, but the point is if we can universally solve for this across App instead of chipping away at different use-cases, I think it's worthwhile.

[2022-11-03 21:05] parasharrajat commented on #12058
@huzaifa-99 what do you think the best solution might be to fix this without causing this issue?

[2022-11-03 21:06] parasharrajat commented on #10107
Yeah, keytar on Mac.

[2022-11-03 21:06] trjExpensify commented on #11797
Yes, I don't know why it was closed!

[2022-11-03 21:08] tgolen commented on #12141
OK, cool. Thanks! So, this is my updated regex:

[code]

and I'll only do the replacement on the `$attachmentHTML` and not the `$sanitizedComment` variable.

[2022-11-03 21:08] kbecciv opened #12450 "LHN - Badge size inconsistent in LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. View the LHN

## Expected Result:
All the pay and send money badges are of same size

## Actual Re

[2022-11-03 21:09] jliexpensify commented on #11413
@syedsaroshfarrukhdot - how did you go with your digging?

[2022-11-03 21:09] tgolen commented on #11964
Still working on proposals above. Bump @wildan-m for the questions in the previous comment.

[2022-11-03 21:10] johncschuster commented on #11416
@adeel0202, would you be willing to try reproducing this one more time? It seems we've had trouble reproducing this lately, which makes me feel we should close the issue. If you can reproduce it, we'll keep it open, otherwise, let's close it so we can focus.

I'll create an Upwork job so you can get credit for reporting the issue regardless of if we keep it open or closed.

[2022-11-03 21:11] tgolen commented on #11387
Yeah, I agree. This is very annoying. Let's start getting some proposals on it.

[2022-11-03 21:11] jliexpensify commented on #11413
[Have also doubled the price.](https://expensify.slack.com/archives/C01GTK53T8Q/p1667509880973199)

[2022-11-03 21:12] shawnborton commented on #12445
I suppose we could do a color swap, as that would be the most 1:1 thing to do here. I think if I had to pick, I would just make the input have 50% opacity (with no color changes from non-disabled state) so it would look something like this?
<img width="349" alt="image" src="https://user-images.githubusercontent.com/2319350/199835084-33a23a0c-b96e-4c24-ba47-3ddbc91ee53d.png">

[2022-11-03 21:12] michaelhaxhiu commented on #12045
Hey [@dylanexpensify](https://github.com/michaelhaxhiu), just dropping a note as a reminder to [keep the pressure on](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) to find a contributor and get this one closed out!

[2022-11-03 21:13] trjExpensify commented on #7862
Cool, @chiragsalian feel free to take a look at the PR. In the meantime, where are you at with the tests @Santhosh-Sellavel?

[2022-11-03 21:14] michaelhaxhiu commented on #12046
Did we post this one to upwork yet? Seems to be missing the `$250` from the title 🤔

Just helping push this forward per the reminder to [keep the pressure on](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064948124109) to find a contributor and get this one closed out!

[2022-11-03 21:14] kbecciv opened #12451 "Reimburse expenses - Error continues to appear when changing the rate after it was modified"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12162

## Action Performed:
1. Navigate to any existing workspace on device A