[2020-08-19 18:37] marcaaron opened #250 "Discuss: Improvements to Navigation"
Currently, we are using React Router together w/ Ion (our prototype global state management solution) to handle site navigation. There are a couple of potential issues with this that I wanted to discuss...

### Avoid Tightly Coupling React Router w/ Ion (or any other global state)

At the moment, we can "redirect" to another screen in the app by setting a key in Ion. This seems convenient, but I w

[2020-08-19 22:28] quinthar opened #257 "Live-update mobile without going through app stores"
One of the most amazing features of RN is the ability to "live edit" without going through the app store.  If we can do that, that would be *truly amazing* as it means we only need to go to the app store when we are doing a "major new feature" (though even that is just advisory, there's no actual technical requirement for that).

[2020-12-14 15:54] jboniface opened #941 "[Upwork] Clip button is not centered"
# Problem
We have a bug in our cross-platform React Native application where an icon is displayed off-center when it should be centered. This occurs on initial load of the application but disappears upon refresh. The deliverable here is to fix the issue so that the icon remains centered, as well as confirming there are no other regressions on iOS, Android, and Desktop.

# Reproduction steps (see a

[2020-12-16 19:42] bfitzexpensify opened #983 "'Send' button incorrect color when no text is entered into the message field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

View the job on Upwork [here](https://www.upwork.com/jobs/~01bed4c451e8bdd92e)

**Platform - version:**

All platforms + versions

**Action Performed (reproducible steps):**

Open app, enter text and clear text, observing the 'send' button.

[2020-12-16 20:06] bfitzexpensify opened #985 "Able to add own user to a new group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

View the job on Upwork [here](https://www.upwork.com/jobs/~01c41e097c6b74fa51)

**Platform - version:**
ANDROID - Chat App - R11302020
Device and OS: SG S10 / 10.0
Build version : 1.0.1_209

**Action Performed:**
Open the app and login
Searc

[2020-12-16 20:07] jboniface opened #986 "Blocks of `quoted` text render incorrectly on mobile"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

View the job on Upwork [here](https://www.upwork.com/jobs/~01fc428a62f97f17a2).

**Platform - version:**

iOS and Android, build 263

**Action Performed (reproducible steps):**

1. Type a sentence with code block formatting (single ticks) in

[2020-12-16 20:08] bfitzexpensify opened #987 "The cursor looks too close to the left edge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

View the job on Upwork [here](https://www.upwork.com/jobs/~012aa302a196a4cc88)

**Platform - version:**
Build version : Android 8.0
Device and OS: SG S8

**Action Performed (reproducible steps):**
1.  Launch the app and login
2. On the searc

[2020-12-16 20:43] jboniface opened #990 "Email addresses aren't showing properly linked in Chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

View the job on Upwork [here](https://www.upwork.com/jobs/~0138bdf88bcff83060).

**Platform - version:**
Build 263, all platforms

**Action Performed (reproducible steps):**
1. Send an email address in a message via the chat box

**Expected

[2020-12-16 21:52] stephanieelliott opened #992 "iOS - No error popup when user tries to take photo and camera access is disallowed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

View the job on Upwork [here](https://www.upwork.com/jobs/~01083d6973aed68bec)

**Platform - version:**
iOS v 1.0.1 (266)

**Action Performed (reproducible steps):**
Prerequisite: `Allow Expensify.Cash to access: Camera` is disabled in devic

[2020-12-16 23:08] kadiealexander opened #993 "Code block markdown inserts improper line breaks"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

Upwork job: https://www.upwork.com/jobs/~01921d7b980ffc182b

**Platform - version:** ALL

**Action Performed (reproducible steps):**

- Log into expensify.cash
- Send a message containing a code block (framed by ```) longer than 1 line, and

[2020-12-17 04:59] kadiealexander opened #998 "LHN - After logging in the left hand nav menu does not load when clicked"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

Upwork job: https://www.upwork.com/jobs/~0120f75cff5194fdfa

**Platform - version:** Mobile WEB browser (OS and browser used: Android 9 / Chrome)

**Build:** 1.0.1_130

**Action Performed (reproducible steps):**

- Go to expensify.chat and l

[2020-12-17 12:48] michaelhaxhiu opened #1001 "Android - unable to use the chat search box in mWeb browser"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!

Upwork job post - https://www.upwork.com/jobs/~0156c92bfc5b93c55f
___

**Platform - version:**
- Platform - Android (Huawei P20 Pro / Android 10.0)
- Version - this issue is occurring when accessing chat.expensify.com from **Android** on Google

[2020-12-17 13:11] michaelhaxhiu opened #1002 "Android - text input field in a DM chat has too much padding"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!

Upwork job post - https://www.upwork.com/jobs/~01ed3f44a74b174dd1
___

**Platform - version:**
Platform - Android (Xiaomi Redmi Note 8 / Android 9.0)
Version - v1.0.1.269

**Action Performed (reproducible steps):**
1. Open the Expensify.cash app

[2020-12-18 14:29] michaelhaxhiu opened #1011 "Automatically update the Expensify.cash desktop app when a new version is released on mac"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
- Platform: Chat desktop app
- Version: All versions (tested most recently on v1.0.1-271)
- This is applicable to **Mac computers** only

**Action Performed (reproducible steps):**
Summary: the problem is that when an

[2020-12-21 19:19] #941 closed

[2020-12-21 19:26] jboniface opened #1031 "Graphical alignment issues in chat upon first sign-in"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**

**Action Performed (reproducible steps):**
1. Start the app on in an Incognito browser
2. Hard refresh the page
3. type in your username and password, and tap 'Log in'
4. Once you're logged in, tap the hamburger menu

[2020-12-22 14:45] laurenreidexpensify commented on #983
Have approached [Bharat](https://www.upwork.com/fl/bharatvasoya3) and [Aashish](https://www.upwork.com/fl/aashishsharma44) - Bharat has already accepted

[2020-12-22 15:01] laurenreidexpensify commented on #985
Have reached out to [David Y](https://www.upwork.com/freelancers/~01d0508a96c13dae07) and [Kofi](https://www.upwork.com/freelancers/~01e0b053811fa6bda2) on Upwork

[2020-12-22 15:25] bfitzexpensify commented on #987
Have sent offers to [Rakesh](https://www.upwork.com/ab/c/8577561/offer/14759785) and [Chris](https://www.upwork.com/ab/c/8577561/offer/14759780)

[2020-12-22 20:35] jboniface opened #1037 "Chat / Allow charts originating in Google to be copied and pasted directly into Chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
All platforms, 280

**Action Performed (reproducible steps):**
1. Create a chart in Google Sheets by adding some numbers to cels then clicking Insert > Chart
2. Click on the chart
3. Copy the chart onto your clipboard

[2020-12-22 20:38] jboniface opened #1038 "[HOLD] Chat / Cycle attachments when the user presses the left/right keys"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
All platforms, 280

**Action Performed (reproducible steps):**
1. Click the paperclip icon
2. Select an image to upload
3. Upload the file
4. Repeat steps 1-3 with another image
5. Click into one of the images to expa

[2020-12-22 20:39] jboniface opened #1039 "Chat / The escape key should close open modals"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
Desktop, build 280

**Action Performed (reproducible steps):**

Test 1
1. Click the paperclip icon
2. Select a file to upload
3. Before confirming the upload, press Escape
4. Observe that the upload modal stays on the

[2020-12-22 21:17] jboniface opened #1040 "Allow download of images shared in chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
All platforms / 280

**Action Performed (reproducible steps):**
1. Log into Expensify Cash
2. Click the paperclip icon
3. Select an image and confirm the upload
4. Once the image uploads to the chat, click the image
5

[2020-12-22 22:40] stephanieelliott opened #1047 "Test issue for assignment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**

**Action Performed (reproducible steps):**

**Expected Result:**

**Actual Result:**

**Notes/Photos/Videos:**

**Logs - JS/Android/iOS (if applicable)**:

[2020-12-22 22:43] billbillbill100 commented on #1047
Hello I would like to pick up this issue.

[2020-12-23 02:45] stephanieelliott opened #1064 "Display avatars in multi-participants chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___
View the job on Upwork [here](https://www.upwork.com/jobs/~01728febe6495dbae6).
**Platform - version:**
Build 280, all platforms

**Steps to view existing functionality which should be changed (see attached Image 1)**

1. Open the app, type i

[2020-12-23 03:10] kadiealexander opened #1065 "Truncate chat name after two lines with an ellipsis"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  ALL

**Action Performed (reproducible steps):**

- Go to URL https://chat.expensify.com
- Log in with any account
- On Search box Add 7 or 8 participants and click Go

**Expected Result:**

The screen chat for 7 part

[2020-12-23 13:05] laurenreidexpensify opened #1074 "Android web on Chrome "find or start a chat" fails"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

Platform - version:
Web Chrome on Android, 280

Action Performed (reproducible steps):

Navigate to www.expensify.cash on android in Chrome web browser
Log in
Tap on the hamburger menu in the top left hand corner
Tap into the search bar for

[2020-12-23 13:40] laurenreidexpensify commented on #1074
dupe - https://www.upwork.com/jobs/~01495ad0bae967fc6f

[2020-12-23 13:40] #1074 closed

[2020-12-23 14:49] BharatVasoya commented on #983
I am working on this issue.

[2020-12-23 15:03] dsmith111 commented on #985
I'm working on this

[2020-12-23 15:21] shanky97 commented on #983
I am working on this and completed it here is the PR link - https://github.com/Expensify/Expensify.cash/issues/983

[2020-12-23 15:22] yimd85 commented on #985
I'm working on this

[2020-12-23 15:42] UpworkBartkoski commented on #987
I'm working on this.

[2020-12-23 15:52] rakesh1504 commented on #987
I am working on this.

[2020-12-23 20:19] dylmye opened #1081 "Web - Confusing experience as a newly signed up user"
I signed up to the platform from your email as a user without an existing Expensify account. After completing the sign-up flow, I was redirected to https://expensify.cash/#/r/undefined where the page was pretty much blank - see attached photo. It looks even more confusing on mobile where it's single-column. The search box wouldn't bring back any results.

I understand this may be low priority in t

[2020-12-23 20:21] roryabraham commented on #1011
So for a bit more context:

Right now we're utilizing an `electron-updater` function called `autoUpdater.checkForUpdatesAndNotify` to update the desktop application, which:

1) Checks for updates, and if one is available
2) Downloads the update
3) Once the download is finished, notifies the user that an update is available
4) Then, the user must manually close & reopen chat for the update to be in

[2020-12-23 22:32] dylmye opened #1083 "External contributor instructions don't work for web on Windows"
Hi, I've followed the instructions in your README [here](https://github.com/Expensify/Expensify.cash#running-the-apps-via-production-api-proxy-contributors-) and have set everything up fresh. When I run `npm run proxy` I see this in CLI:
[code]

Navigating to `http://localhost:9000` redirects me to expensify.com. I've followed all the steps (though if I'm supposed to set up ngrok, the linked stack

[2020-12-23 22:46] dylmye commented on #1083
If I try to run `npm run web` instead, I get this error:
![image](https://user-images.githubusercontent.com/7024578/103041757-40749280-456f-11eb-803b-468664800a54.png)
[code]

[2020-12-24 02:46] marcaaron commented on #985
Just wanted to clarify something about this issue.

If we want to block adding oneself as a member then there is no reason to solve "should not see the max users reached message (as one of the member is yourself)" since it wouldn't be possible to be one of the users in the list. @bfitzexpensify does that sound correct?

[2020-12-24 03:13] marcaaron commented on #985
I would maybe restate this as...

**Problem:**

Users are able to add themselves to a group chat because they show up in the list of selectable users.

**Solution:**

Make it so the currently logged in user is not a selectable option in the chat selector.

[2020-12-24 15:21] shawnborton opened #1088 "Implement .svg support in Expensify.cash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Problem**
We currently use .png or .jpg images in Expensify.cash for things like logos and icons. With these file formats, we need to export the images at multiple sizes for various screen densities like @2x and @3x. For assets that have m

[2020-12-24 18:41] muhammadusama95 commented on #1002
Go to ReportActionCompose.js File. Go to Parent View then there are multiple containers i.e. attachments, send button, and input text field. There was a problem with the input text field view styles. There was Unnecessary padding of the input text field which was causing the extra space at the top and was not setting the input text view to the center of the parent view So we removed that and input

[2020-12-24 18:55] michaelhaxhiu commented on #1002
Assigned you, feel free to proceed!

[2020-12-24 20:20] stephanieelliott opened #1091 "Improvements to error messaging"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!

___

View the job in Upwork here.
**Platform - version:**  ALL

----
**Action Performed (reproducible steps):**
Summary: Currently, when a user encounters a sign-in error on expensify.cash, we display the raw API message to the user. We'd like t

[2020-12-24 21:19] dylmye commented on #1083
Thanks, just saw the updated README today.
I've copied the latest production env file and switch use_web_proxy to true.

The page I get redirected to now is https://www.expensify.com/?exitTo=inbox&email=

[2020-12-24 22:18] puneetlath commented on #1011
Do we not have a Windows version of our electron app?

[2020-12-25 01:28] quinthar commented on #1011
If not, let's create an issue for someone to create a Windows desktop
client!

On Thu, Dec 24, 2020 at 2:18 PM Puneet Lath <notifications@github.com>
wrote:

[2020-12-25 01:36] quinthar opened #1095 "Cheer up new chats with improved empty-state microcopy"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  All

**Action Performed (reproducible steps):**
Start a new chat as follows:;
1. Click/tap on the chat switcher
2. Choose someone you've never chatted with before
3. Note the content "Be the first person to comment!"

[2020-12-25 01:44] quinthar opened #1096 "Make the chat switcher search box slide to the left when tapped/clicked"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  All

**Action Performed (reproducible steps):**
1. Look at the chat switcher, it looks like this -- icon on left, text entry on right:
![image](https://user-images.githubusercontent.com/575186/103113400-5df93900-460f

[2020-12-25 02:11] quinthar opened #1097 "Record push-notification content in Onyx such that it's available instantly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  Android (at least)

**Action Performed (reproducible steps):**
1. Get two accounts A and B (eg, dbarrett@quinthar.com, and dbarrett@expensify.com)
2. Shut down the Android app on B and confirm it's not running
3. Sen

[2020-12-25 02:33] quinthar opened #1098 "Streamline Android notification design"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  Android

**Action Performed (reproducible steps):**
1. Get two accounts A and B (eg, dbarrett@quinthar.com, and dbarrett@expensify.com)
2. Send a message from A to B
3. Observe the design of the push notification tha

[2020-12-26 19:13] quinthar commented on #1096
Never mind, this is all going to be changed soon with the new refresh

[2020-12-26 19:13] #1096 closed

[2020-12-28 17:45] jamesdeanexpensify commented on #1095
Other potentials:
- If not now, when? Start a chat!
- Come on in, water's warm!
- Hello, hola, bonjour, ciao, etc.
- What's up?
- It's polite to say hello.

[2020-12-28 18:29] NickTooker commented on #1095
Additional options:

- Clear for takeoff!
- Come in! The door's open!
- Permission to chat? Permission granted!
- Howdy?

[2020-12-28 19:27] roryabraham commented on #1011
Created an issue [here](https://github.com/Expensify/Expensify/issues/149313)

[2020-12-28 20:31] #998 closed

[2020-12-28 20:31] #1001 closed

[2020-12-29 01:11] puneetlath commented on #1081
Thanks for creating this issue @dylmye! I agree this is a very confusing entry experience into the app. We'll chat internally a bit about what we think the best landing experience should be and then post back in this issue.

[2020-12-29 06:38] quinthar opened #1118 "Signing in with `exitTo` doesn't work"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
Desktop web (all?)

**Action Performed (reproducible steps):**
1. Sign in as normal
2. Navigate to a report
3. Click "Sign out"
4. Note that there is an `exitTo` in the URL
5. Enter an email address to sign in
6. Note

[2020-12-29 11:36] wildanmuhlis2 commented on #1065
Hi @kadiealexander, Thanks for your report. We are working on it. The web and mobile version is already truncated on the live site. Still find the suitable solution for the desktop version

[2020-12-29 12:47] michaelhaxhiu commented on #1001
This issue is currently assigned to the contributor `hafizabdullahtariq123@gmail.com`, who was just getting started -- but it looks like Sergey's PR may have fixed this already?

How should we proceed hree?

[2020-12-29 13:32] laurenreidexpensify commented on #1065
Hi Wildan / Dylan - please post your proposed solutions here before creating any PRrs. Thanks!

[2020-12-29 13:32] rosegrech commented on #1095
I believe this new GH here overlaps with this [GH](https://github.com/Expensify/Expensify/issues/142661) that Gabi started a while ago where we worked on some intro copy and images. It has not yet been implemented.
I do like some of the copy proposed copy in this one particularly these but not sure if we now want to have an image with each intro?

[2020-12-29 13:46] dylmye commented on #1065
Hi team!

Proposed solution 1 - Using webkit-lime-clamp and associated CSS properties to truncate text.

Proposed solution 2 - Using [react-line-ellipsis](https://github.com/xiaody/react-lines-ellipsis) to truncate text.

[2020-12-29 14:22] laurenreidexpensify commented on #1037
Have offered to two contributors - waiting for confirming of acceptance.

[2020-12-29 14:30] laurenreidexpensify commented on #1038
Invited two contributors to accept offer on Upwork

[2020-12-29 14:34] laurenreidexpensify commented on #1039
Have offered to two contributors in Upwork

[2020-12-29 17:26] quinthar commented on #1118
FYI, when it's hung, it just keeps throwing this error into the console every second:

![image](https://user-images.githubusercontent.com/575186/103302191-e84aef80-49b7-11eb-866d-209cfa361416.png)

[2020-12-29 17:32] quinthar commented on #1118
interestingly, when I attempt to reproduce this inside an incognito window, it doesn't happen.  Accordingly, it must be something about my unique Onyx state that is causing this.  So for this issue, can you please develop a theory for what Onyx state might have caused this issue to happen, and then "harden" the code in such a fashion such that whatever it is, it doesn't break in the future?  After

[2020-12-29 17:36] quinthar commented on #1118
Here is the state of my localStorage; something in there is causing this to break on signin.

![image](https://user-images.githubusercontent.com/575186/103302775-4a582480-49b9-11eb-8008-622c69ecb86b.png)

[2020-12-29 17:39] quinthar commented on #1118
Ah shit, now it's not happening.  Well, I don't know how to reproduce this one anymore.  So I think this issue should be diagnosing that uncaught exception, and gracefully handling it in the future such that it doesn't happen again.

[2020-12-29 17:41] quinthar commented on #1118
Maybe it's still borked.  Here was the localstorage state while I tried to sign in, and this time it let me through the first page:

![image](https://user-images.githubusercontent.com/575186/103303062-eb46df80-49b9-11eb-9a8e-55b54deea00e.png)

And here it is after I got through the email entry box, and now it broke at the password page:

![image](https://user-images.githubusercontent.com/575186/10

[2020-12-29 17:48] ThatOneAwkwardGuy commented on #1038
Hi, I've looked through the code and have a few methods of implementation. Both include me writing a function that gets the next attachment from the sorted actions array.

How I pass that function down to the attachment modal has 2 possibilities. Either I pass the function down through the action object, the HTML component and into the attachment modal or I write a react context and attempt to byp

[2020-12-29 17:51] johnmlee101 commented on #1118
reproduced
![image](https://user-images.githubusercontent.com/5258036/103303689-9c5a7380-49d4-11eb-962e-a75a3c8941d1.png)

[2020-12-29 18:06] arielgreen commented on #1118
Reproduced, confirmed incognito mode works as expected.

Posted on [Upwork](https://www.upwork.com/jobs/~01ee1ce262e64c6023).

[2020-12-29 18:42] ThatOneAwkwardGuy commented on #1038
Another update. Seems the react-native-render-html module doesn't work when passing props to renderers for some reason. the passProps value is always undefined.

[2020-12-29 19:04] ilijaprzeski commented on #1031
So, react-native-web plugin in babel.config.js file was causing this issue. So to fix this issue, we should remove react-native-web plugin in babel.config.js

[2020-12-29 19:18] ThatOneAwkwardGuy commented on #1038
Could i ask why "react-native-render-html": "^6.0.0-alpha.10", is being used? it seems to be missing a lot of features of the current v5 code.

[2020-12-29 19:45] tgolen commented on #1038
Hi, @ThatOneAwkwardGuy you can see more of the context around that upgrade in this PR: https://github.com/Expensify/Expensify.cash/pull/882 I hope that helps!

[2020-12-29 20:39] ThatOneAwkwardGuy commented on #1038
I see, ok. So just to check is using React Context accepted in the project?

[2020-12-29 21:24] tgolen commented on #1038
At this point, it's not, no. We haven't developed best practices for using hooks yet, and until we do that we would like to avoid using them.

I'm reading up more about this issue so that I'm more familiar with the proposal being discussed. It seems that the modal itself needs access to the report actions array (specifically the actions that are attachments `isAttachment === true`). The attachment

[2020-12-29 21:39] ThatOneAwkwardGuy commented on #1038
Yes it really does, I was going through all m ideas on getting the actions array to the Modal

[2020-12-29 21:49] #1031 closed

[2020-12-29 21:57] arielgreen commented on #1097
This has been posted to [Upwork](https://www.upwork.com/jobs/~011d4b17ec45767d4f).

[2020-12-29 22:03] code-fi commented on #1039
Just checked the AttachmentModal file and we can extend it with a key press listener (will only register for platforms that support key press in this case 'ESCAPE') and register on Modal mount and remove listener and clean up on Modal close or unmount.

Note that we will use a reusable helper object that will enable future key press listener registration on different components.

[2020-12-30 00:51] ThatOneAwkwardGuy commented on #1038
After playing around with the code more, there is a problem with the structure of the components. I've written a function that gets the next attachment and cycles around if there aren't any more at the end of the list.

However, the problem is that the attachments provide HTML which is passed to renderHTML. since any change in the fragment (i.e swapping it out for the next one) will cause a re-ren

[2020-12-30 01:05] marcaaron commented on #985
Closing this issue as it has been resolved.

[2020-12-30 01:05] #985 closed

[2020-12-30 01:26] sidhiartha commented on #1091
let me try to help you fixing this, I have submit the proposal on upwork under Sidhi,
let me rephrase the date expectation, it is within 1 day after I can run the project successfully.

[2020-12-30 01:27] wildanmuhlis2 commented on #1065
@laurenreidexpensify

The existing condition has implemented a built-in React text component truncate feature.

https://stackoverflow.com/a/36013799/1174657

It works on mobile and the web version, but it doesn't show correctly on the desktop version. I've posted the desktop version issue here.

https://stackoverflow.com/questions/65491286/electron-desktop-doesnt-responsive-for-small-width

I'd pr

[2020-12-30 01:27] sidhiartha commented on #1091
let me try to help you fixing this @stephanieelliott ,
I have submit the proposal on upwork under Sidhi,
let me rephrase the date expectation,
it is within 1 day after I can run the project successfully.

[2020-12-30 14:06] laurenreidexpensify commented on #1095
It's super easy to add to the library if we want to add more or change these down the line, so let's build the functionality using David's suggestions, to get started and then edit these as v2?

[2020-12-30 14:17] laurenreidexpensify commented on #1083
@dylmye thanks for creating this proactively! are you sorted or is this still an issue for you?

[2020-12-30 14:34] anthony-hull opened #1131 "User sign up flow broken on Android"
**Platform - version:**
Android
Version: 1.0.1-307

**Action Performed (reproducible steps):**
Clear app data
Enter unique email address (sign up as a new user)
Enter github username

**Expected Result:**
taken to the next screen showing:
Expensify.cash
Please validate your account by clicking on the link we just sent you.

**Actual Result:**
Component exception screen
When dismissed the only way

[2020-12-30 14:37] anthony-hull commented on #1131
The validation emails are sent as normal after the github username is entered

[2020-12-30 14:43] anthony-hull commented on #1037
Hi I've started setting up my environment for running all the target platforms on physical devices. I'll post again once I have tested out the bug and put together a strategy.

[2020-12-30 14:51] anthony-hull opened #1132 "Update README.md to make pod and ruby dependancy for iOS clear"
When getting setup with running the iOS app this first step:

The pod install step requires the correct version of pod and ruby run time to be installed and in the environment.
I think the readme should be more clear on which Ruby version should be installed and add a step to run
`gem install cocoapods `

[2020-12-30 15:40] ronlaniado commented on #993
I've been workng on this issue

[2020-12-30 16:01] anthony-hull opened #1133 "No error handling for expired password reset tokens"
**Platform - version:**
1.0.1-307

**Action Performed (reproducible steps):**
Browse to an old password reset link
enter anything in as a password
submit the change
**Expected Result:**
Some kind of error message and the loading state to end:

**Actual Result:**
Submit button is stuck on loading state using response data:
"message":"Validate code is likely expired","title":"Validate code failed"

[2020-12-30 16:06] parasharrajat commented on #993
Hey, I have started on this issue. But I am not able to signup on expensify.cash. I used my email but I didn't get any email and now it's asking for a password.

[2020-12-30 16:10] anthony-hull commented on #1091
Telling the user that their password is wrong is giving away important information.
It tells the requestor that the username exists but that the password is wrong. Giving a non-specific error that the username or password is wrong is better security practice. but a worse UX.

Either the UX or Security suffers here. Although if the API is giving those codes I'm guessing this choice has already been

[2020-12-30 16:12] sakul-budhathoki commented on #986
PR https://github.com/Expensify/Expensify.cash/pull/1099

[2020-12-30 16:28] anthony-hull opened #1134 "Non-human language name for Concierge user when showing typing status of Concierge in a chat"
**Platform - version:**
1.0.1-307

**Action Performed (reproducible steps):**
Send a message to the Concierge user to ask them to type a message to you slowly so you have time to see the message show
**Expected Result:**
A message status below the text box saying "Concierge is typing"
**Actual Result:**
Status says:
userLogin is typing

**Notes/Photos/Videos:**
<img width="1321" alt="Screenshot 20

[2020-12-30 17:46] anthony-hull commented on #1037
The code currently only handles paste events that have files.
`this.props.onPasteFile(event.clipboardData.files[0]);`
Google sheet charts are stored in the clipboard on copy as items (blobbs).

the structure of the object is below:

[code]

For this issue I propose where there is no file in the event, checking for the type: "application/x-vnd.google-docs-embedded-chart-clip+wrapped". When this is

[2020-12-30 17:51] quinthar commented on #1037
FYI, just read about this -- not sure it is useful yet, but to put on our radar: https://www.androidpolice.com/2019/12/17/google-chrome-testing-new-raw-clipboard-access-feature-to-expand-copy-paste-functions/

[2020-12-30 17:56] tgolen commented on #1133
Thanks for reporting this! I ran across this too and put the fix for it along with https://github.com/Expensify/Expensify.cash/pull/1122

[2020-12-30 17:57] tgolen commented on #1131
A came across this in my testing for https://github.com/Expensify/Expensify.cash/pull/1122 and fixed it in that PR.

[2020-12-30 18:01] quinthar commented on #1037
According to https://evercoder.github.io/clipboard-inspector/ the HTML should be a binary-encoded image.  I just tested that page using a simple chart, and it looks like the clipboard contains:

![image](https://user-images.githubusercontent.com/575186/103371897-72ad5500-4a85-11eb-9b2f-86d1681ed4bb.png)

Given that it's just a base64 encoded PNG, it might be easier to just yank it out and base64 d

[2020-12-30 18:06] anthony-hull commented on #1037
That's a handy tool! thank you for the share.
I hadn't looked inside it yet :) I'm glad it's just an encoded PNG.
Thanks, I will look at that tomorrow.

[2020-12-30 18:11] anthony-hull commented on #1037
It might make sense to unify the drop and paste handling logic as well in a later feature.

[2020-12-30 18:37] Harshitdev commented on #1098
I have picked this issue.

I will comment on the strategy for this issue shortly.

[2020-12-30 20:41] ThatOneAwkwardGuy commented on #1038
Completed my solution, just cleaning up the code. Hopefully, you'll find it acceptable. Had to move the Attachment Modal to ReportActionsView and pass a function to the TouchableOpacity wrapping the attachments you can click to then launch the modal with the necessary data to display on the modal. Happy to answer any questions once I have the code pushed

[2020-12-30 22:33] roryabraham commented on #1097
@arielgreen Can you post a similar listing for iOS? I can confirm background pushes are not updating Onyx correctly on iOS either.

[2020-12-30 23:03] henryrossiter commented on #1083
This is an issue for me as well.

[2020-12-30 23:46] #1131 closed

[2020-12-30 23:46] #1133 closed

[2020-12-31 00:43] parasharrajat commented on #993
@kadiealexander add a pull request to the Expensify/common repo which will potentially solve this problem. Let me if there are any queries.

Thanks

[2020-12-31 00:53] dylmye commented on #1083
Hi @laurenreidexpensify, I'm still having this issue on the latest version of master.

[2020-12-31 01:17] dylmye commented on #1083
Related issue: #1125

[2020-12-31 01:26] #987 closed

[2020-12-31 03:48] billiramirez commented on #1091
I agree with @anthony-hull , it's better having a more generic message, for instance: "There was an error signing to the App"

[2020-12-31 13:39] daniyal-intellicel commented on #1040
Hi,
My proposal for solution:
1. Adding download image button (as provided in this issue's description)
2. Binding this button to a download action
3. For native mobile apps download action will use `rn-fetch-blob` library to download files to Download folder of device
4. For web/desktop download action will use js `fetch` to download file and then send it to web window to be saved

[2020-12-31 13:40] dylmye commented on #1132
Just wanted to add to this. When building for iOS I was getting errors about not being able to resolve newer versions of packages. I resolved this by running `pod repo update`. This might be useful for install instructions or in your troubleshooting section.

[2020-12-31 16:19] stephanieelliott commented on #1091
Good points, thanks @billiramirez and @anthony-hull. I updated the `401` messaging to be more ambiguous as to which credential is failing.

[2020-12-31 17:27] stephanieelliott commented on #993
@parasharrajat this PR should be submitted on the **Expensify/Expensify.Cash** repository. You can find the instructions for submitting your PR here: https://github.com/Expensify/Expensify.cash/blob/master/CONTRIBUTING.md

[2020-12-31 17:46] anthony-hull commented on #1037
Pasting in PR body to continue discussion here before moving to PR stage.

Added handler for when google charts MIME type is found in the paste event.
Handler converts the embedded base64 image into a Blobb to create a File object to be passed to the modal.

It is not possible to copy charts in the iOS and Android native apps. Hence I have left the below tests for iOS and Android unticked. The exp

[2020-12-31 18:22] puneetlath commented on #1037
Wow, awesome! Would this solution also work for images copied from a google doc? Or would we need a separate implementation for that?

[2020-12-31 18:48] dylmye opened #1148 "Web - charset not declared"
**Platform - version:**
Firefox latest - Windows 10
Chrome latest - Windows 10

**Action Performed (reproducible steps):**
1. Navigate to any page on the expensify.cash domain.

**Expected Result:**
No error message present in console

**Actual Result:**
Following error message is present in console:

![image](https://user-images.githubusercontent.com/7024578/103422241-56e6a380-4b98-11eb-8edf-b422

[2020-12-31 18:58] henryrossiter commented on #1083
#1144 Solves this issue on my end.

[2020-12-31 19:47] henryrossiter commented on #1039
I propose we use a key press listener as @code-fi proposed. However, I propose registering/deregistering the key press listener using functions passed to the `onModalWillShow` and `onModalWillHide` props (from the [`react-native-modal` documentation](https://github.com/react-native-modal/react-native-modal#available-props)).

This approach ensures the listener is only registered once the modal is

[2020-12-31 20:23] anthony-hull commented on #1037
From testing pasting a graph from sheets to docs and then copy pasting it to the app I found the graph was included as an embedded image in html with a URL to the Google user content CDNin the paste event. So without checking and assuming images from docs are the handled the same way it wouldn't take much effort detect that case and to get the image from the URL and pass it to the modal.

[2021-01-01 00:00] parasharrajat commented on #993
@stephanieelliott  Will do that waiting for the original PR to be merged.

[2021-01-01 12:30] ajay426 commented on #1091
I am working on this.

[2021-01-01 13:00] ajay426 commented on #1091
Hey @stephanieelliott
I am also getting `413 Account locked.` after so many wrong password attempts. Please let me know the error message for it as well.

[2021-01-01 13:32] ajay426 commented on #1091
As a proposal of the solution to the problem, I am thinking of making a common function to extract the error message from the API error response. As I have observed from the error message format, it includes the error code at the start of the error message, I can extract the error code from the start of the error message. Then after getting the error code, I have made a `switch-case` statement to

[2021-01-01 19:41] basaksilasanli commented on #1118
I going to be taking it on this issue

[2021-01-01 23:36] parasharrajat commented on #993
@stephanieelliott @kadiealexander  @laurenreidexpensify Due to my other PR on **Expensify/Expensify-common** this issue got closed here. Please look at the above PR which patches the fix on **Expensify/Expensify.Cash**  and thus resolves it.

Thanks.

[2021-01-02 10:01] anthony-hull commented on #1037
[code]
With some minor tweaks it does work. Since I was already using fetch to convert to a blob, it can handle getting the image from the google CDN. However now there is a network call, some error handling around that needs to be added.

In my testing google always seemed to convert the images to .PNGs so I removed my logic to use the mime type to construct the correct file extension as it intro

[2021-01-02 20:07] devkashan1 commented on #1091
Hey everyone! The solution I have planned will make 2 different files for this.

1. The First file will contain all the static messages in JSON format along with Type, ErrorCode, and Message.
2. The Second file will have a couple of functions where we can setup messages and types to fetch and call them into the components in a single line and single method with parsing error code and their types.

[2021-01-02 20:29] devkashan1 commented on #1091
I'm starting to work it.

[2021-01-02 20:30] devkashan1 commented on #1091
The solution I have planned will make 2 different files for this.

1. The First file will contain all the static messages in JSON format along with Type, ErrorCode, and Message.
2. The Second file will have a couple of functions where we can setup messages and types to fetch and call them into the components in a single line and single method with parsing error code and their types.

It will make

[2021-01-02 21:09] TheRohitSharma commented on #1118
May or may not be related, but it definitely hangs for me if I switch tabs and then come back to the password input and attempt to log in.

[2021-01-03 01:52] r8 commented on #1118
I was able to reproduce it only with switching tab and coming back to the sign in tab.
I'm not sure if others, who reproduced it, switched the tab in the process, but this flow has 100% reproducibility.

There was a post in the Slack about new steps for contributors:

Even though I'm itching to write the pull request, I'll post the solution first.

## Steps to reproduce

1. Login to the web app
2.

[2021-01-03 12:28] anthony-hull opened #1157 "Moment is in maintenance mode"
To quote the moment project:

In my other projects we migrated away from Moment.

https://momentjs.com/docs/#/-project-status/future/

If we migrated to Luxon we wouldn't need to ship the datafiles as the native objects would provide this. Additionally since we are already building Android with jsc-android, Intl support should be present in Android for RN as well.

[2021-01-04 02:31] #992 closed

[2021-01-04 07:49] telesensdev commented on #986
I worked with this bug

[2021-01-04 10:17] RafaelCenzano opened #1159 "When uploading a document, if you try to upload the same document more than once the preview doesn't appear."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**

Webapp the current version on Expensify.cash (don't see a version listed)

**Action Performed (reproducible steps):**

Click the attachment button and select a file. Whether you upload it to the chat or close it does

[2021-01-04 14:42] laurenreidexpensify commented on #986
@telesensdev can you clarify what the name you have registered in Upwork is? Thanks

[2021-01-04 15:17] telesensdev commented on #986
@laurenreidexpensify upwork account - Eduard Rubin

[2021-01-04 16:21] henryrossiter commented on #1039
After testing multiple solutions, I found registering/deregistering the key press listener using `onModalWillShow` and `onModalWillHide` to be unpredictable - it often lead to duplicate event listener registration.

I registered the listeners during `AttachmentModal` component mount in [PR 1160](https://github.com/Expensify/Expensify.cash/pull/1160). I found no performance issues with this approac

[2021-01-04 17:45] marcaaron commented on #1039
Thanks for the notes everyone!

@code-fi I'm curious to learn more about what you meant by this. We have a key press library that can be used to bind keypresses https://github.com/Expensify/Expensify.cash/blob/master/src/libs/KeyboardShortcut/index.js can we use this? Or was there something else in mind?

@henryrossiter I think it probably be fine to hook the listener into the component mounting/u

[2021-01-04 17:51] marcaaron commented on #1040
@daniyal-intellicel Thanks! This plan sounds good, but I have a few questions...

1. Are you planning to generalize the "download" behavior? e.g. Is it something that could be used to "download" anything in the future?
2. When you say a "download action", what do you mean by this? Is it a utility method? Component? Something else?

[2021-01-04 19:08] GabiHExpensify commented on #1095
hey @quinthar, we have [another GH](https://github.com/Expensify/Expensify/issues/142661) for this already -- it only has a few copy variants, but also includes animations, to help fill up the empty white space. I think we should move forward with that one because the animations are a nice touch IMO, but we could add some more copy variants if you don't think what we have is enough.

[2021-01-04 19:13] code-fi commented on #1039
@marcaaron yes implementation will be similar to the KeyboardShortcut approach but it includes the following checks;

1. Ensure event registration is done only on platforms where `document` is available i.e not `undefined`; (Web and Desktop)
2. Extensible enough to handle special keys like ENTER, ESCAPE and the likes.. so I will add a property for registering event listener for ENTER and ESCAPE, t

[2021-01-04 19:35] henryrossiter commented on #1039
Yeah, this makes sense. I implemented the listener at the `AttachmentModal` level instead of `Modal` just to stay within the scope  of this issue. I wasn't sure if the close-on-escape feature was desirable for all future implementations of the `Modal` component.

[2021-01-04 19:49] devkashan1 commented on #1091
The details of the implementation for this problem that I have fixed in the project as I briefed above:

I have added a new file where we can manage any error messages at this place `src\libs\ErrorMessage\messages.js`.

[code]

I have also added another file where I created a function to fetch the appropriate message via type and error code. The path is `src\libs\ErrorMessage\index.js.`
[code]

Af

[2021-01-04 19:53] devkashan1 commented on #1091
Hey @stephanieelliott  I saw there is another error message with the code like `413 Account locked.` For now, I have changed the message to `Your account has been locked.`  If you want to change this message, please let me know. It's customizable. Thank you.

[2021-01-04 20:16] marcaaron commented on #1039
@code-fi

If my understanding is correct, this is already happening in the noop implementation here https://github.com/Expensify/Expensify.cash/blob/master/src/libs/KeyboardShortcut/index.native.js

Can we modify the existing `KeyboardShortcut` if it has no support for `ESCAPE`? I'm not sure if this is true or not, but that seems like it should be possible.

So it does sound like this will be a co

[2021-01-04 20:19] marcaaron commented on #1039
@henryrossiter Yep, apologies that could have been more clear on our part.

The only modals we have are the attachment ones right now, but it's in scope since the issue reads

We'll be adding more modals soon so this would be great to tackle now if possible. Thanks!

[2021-01-04 20:38] code-fi commented on #1039
not a component but it works like the KeyboardShortcut property `unsubscribe`

[2021-01-05 01:11] ajimpa commented on #1118
I was able to reproduce the issue.
I will take this issue to fix.

**Steps to reproduce**
1. Login to the web app
2. Click "Sign Out"
3. Switch to other tab in the browser
4. Switch back to the Sign In page
5. Wait for 3 seconds (I know, right?)
- There is an error msg in the developer console.
6. Enter the email, press "Continue"
7. Sign in hangs and doesn't continue

[2021-01-05 01:16] driley8601 commented on #1118
I was able to reproduce issue.
**Steps to reproduce.**
1. Login
2. Click sign out
3. switch to another tab.
4. come back to sign in page.
5. after 3 second, there is a error message in dev console.
6. After that, everything is broken ( sign in doesn't work - spinning forever)

[2021-01-05 08:24] nicodev-git commented on #990
I am working on this issue.

[2021-01-05 10:03] daniyal-intellicel commented on #1040
@marcaaron Thanks!

1. Yes "download" action will be generalised to download almost any file. It will take attachment/file url and perform platform specific download.
2.  Download action will be a utility method defined under src/libs folder.

[2021-01-05 14:06] stephanieelliott commented on #1037
Sounds like we like the solution being proposed, @quinthar @puneetlath are we ready to approve this proposal so that @anthony-hull can move forward with the PR?

[2021-01-05 15:50] #1088 closed

[2021-01-05 15:53] HasaanA16 commented on #1038
Hi,
So I have implemented a solution as follows:
Made a functional component and beside this used 2 modules i.e. react native crop image picker and react native carousel and call this functional component in the developed screen to select images and review them

[2021-01-05 17:35] ajimpa commented on #1118
As we clicked sign out button, there is no need to automatically login ( this is not expired token case )
We need to add exception handler in handleExpiredAuthToken function.
[code]

[2021-01-05 19:27] #1064 closed

[2021-01-06 01:53] code-fi commented on #1039
@marcaaron check this MR https://github.com/Expensify/Expensify.cash/pull/1180

[2021-01-06 17:09] iwiznia opened #1183 "Fix switching to a chat with a saved draft"
# Reproduction steps

- Open a chat
- Write a very long text that makes the field grow, but do not send it
- Open another chat
- Click on the original one that is shown in the sidebar with a pencil icon (indicating you have a draft message)
- The cursor is at the beginning of the written text
- The text area is smaller than it should be

# Solution

Make it so that when you switch back to the draf

[2021-01-06 22:17] arielgreen opened #1184 "Misaligned loading icon on web"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
web, current

**Action Performed (reproducible steps):**

1. Go to https://expensify.cash/#/signin
2. Type an email and click continue

**Expected Result:**
Loading sign is centered

**Actual Result:**
Loading sign is

[2021-01-06 23:17] codelover1110 commented on #1184
Hi, Arielgreen.
How are you doing?
I do hope to contribute to you project.
Is there any chance I can work with your best project?
Looking forward to hearing from you.
Thank you.

[2021-01-06 23:31] codelover1110 commented on #1184
I saw your task on the Upwork.
But unfortunately, you've already hired another guy.
How can I get a good chance to work with you?

[2021-01-06 23:49] roryabraham commented on #1148
This seems like a good idea. @dylmye Feel free to create a PR for this. All you'll need to do is add `<meta charset="UTF-8"/>` just under the opening `<head>` tag in [`/web/index.html`](https://github.com/Expensify/Expensify.cash/blob/master/web/index.html)

[2021-01-07 02:21] stephanieelliott commented on #1037
@anthony-hull I think you're all set here, feel free to move forward with the PR.

[2021-01-07 03:21] GabiHExpensify commented on #1095
I'm gonna close this GH and combine some of these suggestions into the other one that we were already working on. Head over there to follow along! https://github.com/Expensify/Expensify/issues/142661

[2021-01-07 03:21] #1095 closed

[2021-01-07 12:11] anthony-hull commented on #1037
thanks @stephanieelliott  I have reopened the PR. There were some outstanding questions I had. It has led me to have a fairly lengthy explanation in the PR around the different complete solutions present in the commit history.

[2021-01-07 17:14] timszot commented on #1148
cc: @laurenreidexpensify @stephanieelliott

[2021-01-07 17:29] #1148 closed

[2021-01-07 18:04] arielgreen commented on #1184
No longer reproducible.

[2021-01-07 18:04] #1184 closed

[2021-01-07 21:46] UpworkBartkoski commented on #1183
I am working on this.

[2021-01-07 22:14] codelover1110 commented on #1184
ok

[2021-01-07 23:40] r8 commented on #1118
Hey @arielgreen
It's been a while, and we already have 1 pull request and several comments about solutions.
Maybe it's time to call for reviewers?

[2021-01-08 03:22] #1047 closed

[2021-01-08 06:48] ajay426 commented on #1091
Hello @stephanieelliott!
Should I also proceed with creating a PR?
I am still waiting for my proposed solution to be reviewed as per mentioned in the procedure to submit the solution.

[2021-01-08 14:50] michaelhaxhiu commented on #1001
Update: I'm going to pay out Hafiz and close the job on Upwork

[2021-01-08 15:00] michaelhaxhiu commented on #1002
Going to assign Brian Muks, as he's prepared the PR for the fix and seems close!

[2021-01-08 15:39] #983 closed

[2021-01-08 16:43] arielgreen commented on #1118
@r8 good to proceed with your PR, thanks!

[2021-01-08 17:44] jboniface commented on #1011
@michaelhaxhiu just wanted to check in on this!

[2021-01-08 18:04] jboniface commented on #1098
@Harshitdev are you still planning to work on this? if so, please provide your proposal ASAP, or we will need to cancel and reassign to another developer

[2021-01-08 18:24] arielgreen commented on #1097
2 offers sent via Upwork.

[2021-01-08 19:12] michaelhaxhiu commented on #1011
I am behind a little bit! I will post it today, scouts honor!

On Fri, Jan 8, 2021 at 1:45 PM Jeremy Boniface <notifications@github.com>
wrote:

--
Michael Haxhiu

[2021-01-08 19:26] marcaaron commented on #1118
@r8 what do you think about preventing the call to `Authenticate()` entirely if we no longer have `credentials`? I'm thinking perhaps we should not be calling `handleExpiredAuthToken()` at all in this case since:

- We know it will fail.
- Requests that happen after sign out should ideally not be re-queued or run at all.

We should still want to keep track of when a request fires after credentials

[2021-01-08 19:35] roryabraham commented on #1097
Cool. Hopefully they can get it sorted at least when the app is in the background, if not when it's completely closed. FWIW I created a [support ticket](https://support.airship.com/hc/en-us/requests/68388) with the folks a UrbanAirship to discuss this issue. Unfortunately I didn't find it all that helpful.

For the contributor(s) working on this issue: an ideal solution would expose JS-level contr

[2021-01-08 19:37] yuwenmemon commented on #1091
@ajay426 your proposal looks good, and yes please use the `jsonCode` in the response from the API.

[2021-01-08 19:41] yuwenmemon commented on #1091
@devkashan1 What the purpose of the `type` parameter in your error messages object? Currently, looks like they are all the same?

`messages` seems like a bit of a generic name, I think this might be better as `errorMessages`?

Overall, the scope of this issue is simply to improve the error messaging upon login. It appears your solution is attempting to establish a generalized system for which all

[2021-01-08 20:23] devkashan1 commented on #1091
@yuwenmemon  The `type` parameter is used to identify the screen on which error messages need to be shown. In this way, we can use it on any screen.

It's not a big deal. Do you want to change it?

Yes, You're right. We can use it anywhere in the project, and It's the best approach for handling error messages.

[2021-01-08 21:05] brianmuks commented on #1002
Thanks

[2021-01-08 21:06] michaelhaxhiu commented on #1002
✅

[2021-01-09 01:57] Jag96 commented on #1038
@HasaanA16 I've got a few questions about your proposed solution:

1. How will the new functional component interact with the currently existing AttachmentModal component?
2. What functionality from react native crop image picker do you plan on using? I'm not sure we need that here, so I'd like some more details about how it fits into your solution
3. Why should we use a carousel instead of updati

[2021-01-09 21:20] HasaanA16 commented on #1038
The functional component I propose allows the user to click on the paper click icon where he will see the option of selecting image from the device. Copy the code from my proposed solution and update your component with it.

From react-native-image-crop picker I used the functionality to select multiple images and save their record too as other modules doesn't provide this functionality.

I intend

[2021-01-10 00:21] whitesnow1120 commented on #1098
@jboniface  I am fixing this issue and have a problem.

[2021-01-10 16:44] whitesnow1120 commented on #1098
@quinthar  @arielgreen @jboniface I tested many times but I can't see any notifications on the emulator and physical device too. I signed into two accounts (web/iOS/desktop and Android) and sent the message from the web/iOS/desktop to Android.
It is not working on production env and dev env too.
Should I change something (i.e. permission) for my test accounts to allow the notifications?

[2021-01-11 13:11] laurenreidexpensify commented on #1097
@arielgreen I'm gonna reject Dhaval's app and let's just go with Rajneet - think you've already hired her. I'm curious about this from Dhaval though -

When another proposal said -

I'm all for us paying more and experimenting with bigger bounties but confused why they have _such_ different takes!

[2021-01-11 13:21] laurenreidexpensify opened #1204 "Reduce Number of Reconnection Callbacks on Chat app"
### **Problem**
The reconnection callbacks fire frequently as a means of catching up the user when:

- They move from offline to online
- They move from active to inactive
- Laptop is closed and reopened
- This is a problem because the act of firing all the reconnection callbacks is a very expensive task. There isn't really any great reason why it should be so expensive and the reasons why should

[2021-01-11 13:28] laurenreidexpensify commented on #1204
https://www.upwork.com/jobs/~01a0d4874dc1c6aa07

[2021-01-11 14:23] michaelhaxhiu commented on #1011
Posted to Upwork last week.

[2021-01-11 18:32] roryabraham commented on #990
This was fixed and merged a last week

[2021-01-11 18:32] #990 closed

[2021-01-11 20:28] #1037 closed

[2021-01-11 21:38] #1183 closed

[2021-01-12 00:00] Jag96 commented on #1038
It looks like this issue is for enabling a user to cycle through already uploaded attachments via the existing AttachmentModal, so I don't think we need to add another image picker (we're already using [an AttachmentPicker](https://github.com/Expensify/Expensify.cash/tree/master/src/components/AttachmentPicker)).

This sounds like you're updating the attachment picker component to be able to scrol

[2021-01-12 00:06] dylmye commented on #1065
Hi everyone, where are we at with this issue?

[2021-01-12 00:35] marcaaron commented on #993
Any context for why this was reopened?

[2021-01-12 01:33] #993 closed

[2021-01-12 01:33] kadiealexander commented on #993
Just a mistake, sorry Marc!

[2021-01-12 01:35] marcaaron opened #1218 "[Consumer UI Refresh] Refactor Avatar component and relocate it from Sidebar bottom"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**This is refactoring / feature improvement task and not a bug fix. All directions should be followed as written.**

- The avatar + indicator [here](https://github.com/Expensify/ReactNativeChat/blob/9f48370459159c7599be6f23661de737319739a0/s

[2021-01-12 02:22] marcaaron opened #1223 "[Consumer UI Refresh] Replace Icon w/ Left arrow icon make "sidebar" take up the full width of the screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___
For this issue we must change the icon of the "hamburger" menu and do some light refactoring and styling.

- Remove all language in the code that refers to `hamburger` wherever `hamburger` is used we should replace it to `navigationMenu`
- Re

[2021-01-12 02:38] marcaaron opened #1224 "[Consumer UI Refresh] Create a Floating Action Button component by adding a fixed position icon"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

- Using the resource provided add a fixed position touchable icon component called `FAB.js` in `/components`
- The FAB must always be the same distance from the RIGHT EDGE of the _sidebar area_ regardless of screen width
- We are not yet usi

[2021-01-12 02:46] marcaaron opened #1225 "[Consumer UI Refresh] Create the Settings Page/Screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

This task is to implement a new UI feature and we are providing very clear instructions for how to do it. Instructions should be followed exactly and **no proposal is necessary**.

- Create a new page called `SettingsPage.js` in the `/pages`

[2021-01-12 03:12] stephanieelliott commented on #1098
Hey @whitesnow1120 can you ask this question in the #expensify-contributors Slack channel? We should be able to help you troubleshoot this there.

[2021-01-12 03:20] whitesnow1120 commented on #1098
Yes. I ask this question in the #expensify-contributors Slack channel.
![Untitled](https://user-images.githubusercontent.com/59010279/104265239-cceee280-5495-11eb-8659-2adb4983ace0.jpg)

[2021-01-12 09:04] ajay426 commented on #1091
Can you please let me know how can I reproduce the use case for the error codes `402`, `403`, `404` and `405`?
What are the steps to reproduce

[2021-01-12 15:37] HasaanA16 commented on #1038
No, this ScrollList allows the user to preview and navigate through images before sending them. If you require I can update this component with a modal where user can preview while navigating already sent attachments.

[2021-01-12 17:06] parasharrajat commented on #1218
I will glad to take upon this also submitted proposal. One question? What will happen to the old Search bar and Icon?

[2021-01-12 18:13] Jag96 commented on #1038
Yes, please provide a proposal for allowing the user to navigate between already existing attachments on the chat via the AttachmentModal. Updating the attachment picker to allow for multiple file uploads isn't necessary for this issue.

[2021-01-12 18:23] yuwenmemon commented on #1091
@devkashan1 I would advise changing. It's probably overkill for what we need right now.

[2021-01-12 18:31] yuwenmemon commented on #1091
@ajay426 some of them may be harder to reproduce than others because of restrictions we have on the client. I would say establishing that the code works for one or two cases should be enough. I think I know how you can reproduce `405`...

`405`: Try logging in with an account that does not have access to the application but is an expensify account. You can create a "dummy" account on expensify.com

[2021-01-12 18:40] parasharrajat commented on #1204
I am starting on this one.

[2021-01-12 19:00] marcaaron commented on #1118
@ajimpa That solution alone will not solve this issue since it doesn't address the underlying cause of this particular bug (which is that we have a network request firing after we have logged out).

[2021-01-12 19:38] marcaaron commented on #1218
Awesome! Thanks for the question. The Search bar and icon will remain for now, but will be relocated in another issue to be posted soon. So the header and avatar will just sit below the search bar for now.

[2021-01-12 19:59] parasharrajat commented on #1218
Ok.

[2021-01-12 21:28] devkashan1 commented on #1091
@yuwenmemon I have made and pushed the required changes. Please review.

[2021-01-12 21:30] yuwenmemon commented on #1091
@devkashan1 apologies, but where?

[2021-01-12 21:41] devkashan1 commented on #1091
Yeah, Here is the PR https://github.com/Expensify/Expensify.cash/pull/1166 that have pushed the changes. Should I share the details that I made?

[2021-01-12 21:50] yuwenmemon commented on #1091
Thanks, @devkashan1. If you would, please include the issue that this PR fixes in the PR description.

[2021-01-12 21:57] devkashan1 commented on #1091
Sure things. I'll do now.

[2021-01-12 22:11] devkashan1 commented on #1091
@yuwenmemon I have added the description in the PR. please check https://github.com/Expensify/Expensify.cash/pull/1166#issuecomment-759067950

[2021-01-12 22:42] roryabraham opened #1228 "Can use keyboard arrow when chat switcher is open to get to the chat composer"
**Posted to Upwork**: https://www.upwork.com/jobs/~017933fc9690ffbd93

Title:
mWEB- Chat.Exp- 1.0.1-333 - Chat - Able to type messages in the list of contacts after hit on arrow

**Action Performed**
1. Go to URL https://chat.expensify.com
2. Log in with any account
3. On Search box Add one of your contact
4. Hit on arrow down
5. Start typing something

**Expected Result:**
Unable to type messages

[2021-01-12 22:46] lucas-neuhaus-dev commented on #1224
Hello,

Proposal for the solution:

- Import the plus.svg file on assets/images;
- Create a class-based component src/components/Expenseicons/PlusIcon.js. The component is class-based so I can use it in _Animated.createAnimatedComponent(PlusIcon)_  to animate the fill color. I will need to call **// eslint-disable-next-line react/prefer-stateless-function** to create it;
- Create a new style in sr

[2021-01-13 00:11] marcaaron commented on #1224
Is it possible to use a `ref` with `Animated.Value` instead for this? I'm not sure if one would be better than the other. But curious whether it would be possible? I think that might be my first approach and then run two animated values in parallel for the fill color and transform.

This style be named `floatingActionButton` since we may use it in other places besides the sidebar

Does the `Pressa

[2021-01-13 01:31] marcaaron opened #1230 "[Consumer UI Refresh] Hide the Search Input and Display when Touching Magnifying Glass"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Deliverables:**
- Remove the `ChatSwitcherView` [here](https://github.com/Expensify/ReactNativeChat/blob/3f74c1f11e01a17039c539d4dcb0f81827d97e4e/src/pages/home/sidebar/SidebarLinks.js#L96-L99) and replace it with a touchable magnifying gl

[2021-01-13 02:23] lucas-neuhaus-dev commented on #1224
The thing is, only animatable components can be animated. I am still using `ref` with `Animated.Value` to control the animation. Because the Icon component needs to be animatable, I need to call the function I mentioned earlier (createAnimatedComponent), and it doesn't work with functional components (throws an error).

I am going to show some code below to exemplify the solution.

Ok. It might ma

[2021-01-13 03:17] marcaaron commented on #1224
Ok Cool. Just checking as I did not understand this!

It's OK to hardcode these values for now. We can improve it when we need to in the future.

Ok, looking at the asset it's really just a plus and no circle and what is being asked I now understand what you mean.

Everything looks good to me!

One more note, we are not yet using the React hooks so if you can find another way and use a class compo

[2021-01-13 03:19] marcaaron commented on #1224
We can chat more in the reviews when you are ready with the PR. Thanks!

[2021-01-13 18:02] lucas-neuhaus-dev commented on #1224
PR created.
https://github.com/Expensify/Expensify.cash/pull/1233

[2021-01-13 18:19] kiritmodi2702 commented on #1223
- Remove the hamburger menu icon itself from the HeaderView and replace it with this chevron-left back style icon. Switch it to a Pressable instead of a TouchableOpacity. - **Done.**

<img width="448" alt="Screenshot 2021-01-13 at 11 40 15 PM" src="https://user-images.githubusercontent.com/10494663/104492609-ee68df00-55f9-11eb-9124-f7cd01ac3140.png">

[2021-01-13 18:25] shawnborton commented on #1223
The fill color of the icon should be `themeColors.icon`

[2021-01-13 18:29] roryabraham opened #1234 "URL does not get highlighted properly in Expensify.cash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

### Platform
All platforms:
1) Web
2) macOS Desktop
3) Android
4) iOS
5) Mobile web

### Version
1.0.1-341

### Action Performed (reproducible steps):
1. Paste the following into an Expensify.cash chat:

[code]

2. Send the message.

### Exp

[2021-01-13 18:41] roryabraham commented on #1234
Posted to Upwork: https://www.upwork.com/jobs/~01c9f994a1995338e5

[2021-01-13 18:48] kiritmodi2702 commented on #1223
Done

[2021-01-13 18:50] kiritmodi2702 commented on #1223
- Remove the Pressable that is listening for touches outside of the nav since the nav is now either pinned or full screen there is no need to listen for touches on an area that doesn’t exist.  - **Done**

![Uploading Screenshot 2021-01-14 at 12.20.01 AM.png…]()

[2021-01-13 18:51] kiritmodi2702 commented on #1223
- Remove the Pressable that is listening for touches outside of the nav since the nav is now either pinned or full screen there is no need to listen for touches on an area that doesn’t exist.  - **Done**

![Simulator Screen Shot - iPhone 11 - 2021-01-14 at 00 20 57](https://user-images.githubusercontent.com/10494663/104495980-66390880-55fe-11eb-9bba-f0b96b6d08d7.png)

[2021-01-13 19:25] kiritmodi2702 commented on #1223
hamburger word is totally replaced with navigationMenu.

- Remove all language in the code that refers to hamburger wherever hamburger is used we should replace it to navigationMenu

![Uploading Screenshot 2021-01-14 at 12.54.47 AM.png…]()

[2021-01-13 19:32] HasaanA16 commented on #1038
I am on it, will ping you in day or two with the changes that you require and hopefully you will like it.

[2021-01-13 19:32] parasharrajat commented on #1218
![image](https://user-images.githubusercontent.com/24370807/104499761-946d1700-5603-11eb-8527-032d8647675f.png)
Hey @marcaaron, After removing the avatar from the bottom, should the remaining part be left as it is?

[2021-01-13 19:39] marcaaron commented on #1218
@parasharrajat yes, the app links and sign out button can remain.

[2021-01-13 20:20] jboniface commented on #1038
@HasaanA16 I talked this over with @chiragsalian and I think he makes a good point that the carousel (i.e. cycling) behavior is unnecessary in this context, as there is unlikely to be a context where you need to loop back to the first image you ever uploaded. i think we can probably cut this behavior.

[2021-01-13 20:26] HasaanA16 commented on #1038
As you say so, its your call. So should I not make any changes to the code ? Also let me know if there is something I can do here.

[2021-01-13 20:35] jboniface commented on #1038
To clarify, I just mean the part of the behavior where the attachments loop -- instead, when you are at the latest attachment in the chat, pressing right on your keyboard should not loop you to the first image you uploaded.

[2021-01-13 22:02] parasharrajat commented on #1218
@marcaaron I have removed the User name from the Bottom as well. is it fine? also, I have moved the links horizontally center.

[2021-01-13 22:05] marcaaron commented on #1218
The user name can remain it will be removed soon, but not in this issue.

[2021-01-13 22:27] parasharrajat commented on #1204
So I found. then when we move away from the tab in the browser then AppState changes. which is pretty bad as we were already connected to the internet.
So pusher event will just play nicely. But there are cases where reconnectionCallbacks are running independently of AppState. I will dig deep and try to reduce that behaviour as much possible after adopting the Pusher event solution. BTW thanks for

[2021-01-13 22:28] parasharrajat commented on #1218
Sure, I will add it back.

[2021-01-13 23:23] parasharrajat commented on #1218
@marcaaron  So I have found that there are a lot of UI bugs in Firefox and works well on chrome. I don't know why nobody has revealed it so far but I found these so far.
1. Chat scrolling behaviour has lag.
2. Search bar on the top go out of the sidebar.
4. Chat input box is absurd height.
These all issues were picked in the recent Upwork tasks but they were only fixed on chrome I presume.

see th

[2021-01-13 23:43] marcaaron commented on #1218
@parasharrajat Interesting. I don't think these have been reported yet, thanks! We don't need to worry about them in this issue, but we should create some new issues for them.

[2021-01-13 23:50] roryabraham commented on #1234
Additionally, would like to see that the solution also works for this URL: `http://necolas.github.io/react-native-web/docs/?path=/docs/components-pressable--disabled`

[2021-01-13 23:51] marcaaron commented on #1218
If you would like to create new issues for each problem we will take time to review them! If they are worth fixing then we can hire you again to fix them (if you are interested of course).

[2021-01-13 23:53] parasharrajat commented on #1218
Yes. I am very much interested. Thanks.

[2021-01-14 00:08] parasharrajat commented on #1234
is there any restriction of using regexp only?

[2021-01-14 00:12] roryabraham commented on #1234
What else would you use? [These](https://github.com/Expensify/expensify-common/blob/master/lib/ExpensiMark.js#L4-L8) are the regexes we have currently

[2021-01-14 14:41] rafidaky commented on #1225
Hello I would like to pick up this issue.

[2021-01-14 16:05] #1118 closed

[2021-01-14 16:13] kiritmodi2702 commented on #1223
Hi @trjExpensify Can you please let me know, What's should branch name to upload my work to create pull request ?

[2021-01-14 16:31] marcaaron commented on #1223
@kiritmodi2702 Feel free to name the branch whatever you want.

[2021-01-14 16:58] #1224 closed

[2021-01-14 17:06] marcaaron opened #1240 "[Consumer UI Refresh] Add CreateMenu. Bottom Drawer Modal Pattern + Hook up FAB"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

For this issue we will create a new type of [Modal](https://github.com/Expensify/Expensify.cash/blob/master/src/components/Modal.js#L22-L25) called `bottomDocked` and then display a menu `CreateMenu` component with two options "New Group" an

[2021-01-14 17:32] #1218 closed

[2021-01-14 17:42] marcaaron commented on #1218
@parasharrajat feel free to create any issues for bugs you may find or suggestions you have for us. Testing cross-browser is a great idea as we've seen some unexpected styling in Firefox and Safari before.

[2021-01-14 17:57] parasharrajat commented on #1240
Hey guys, How can I apply? I don't see any upwork link. Anyway, I would like to work on this.

[2021-01-14 17:59] lucas-neuhaus-dev commented on #1240
I have a question, the images do now explicit it very well:

What happens to the FAB when the modal is open? Looking at the image I believe it would just get hidden under the modal, and we actually would not have an `X` to close it.

Maybe make it go up with the modal (I believe we would need to do something tricky so it does not get obfuscated by the modal).
Maybe leave it hidden and simply close

[2021-01-14 18:24] marcaaron commented on #1240
@parasharrajat Thanks, we have assigned to Lucas already, but will have some more project work soon for you!

Correct. It should just be hidden by the modal in this case. There is a future plan for the alternate state of the FAB. But no need to worry about this for now.

Interesting idea, but we have something else in mind :)

Exactly! Clicking outside the modal should close it. Selecting one of t

[2021-01-14 19:55] UpworkBartkoski commented on #1230
Questions:
1. Another solution to resolve this issue, make a Touchable magnifying glass icon inside `ChatSwitcherView` instead of  `SidebarLinks`?
2. When clicking the clear button, should it show a magnifying glass icon again?
3. magnifyingglass.svg.zip doesn't look work.

[2021-01-14 19:56] UpworkBartkoski commented on #1230
I am working on this.

[2021-01-14 20:05] chiragsalian commented on #1230
We can wait on marc if you want another opinion but here are my thoughts to answer your questions,
1. No so your solution won't work as well as marcs solution because marc wants us to conditionally render `ChatSwitcherView`. By rendering `ChatSwitcherView` only when the magnifying glass is clicked it helps keep the app lighter.
2. Yes
3. Seems to work fine for me. Did you download and then unzip i

[2021-01-14 20:08] chiragsalian commented on #1230
Sent the svg file over slack as well to you ([here](https://expensify.slack.com/archives/C01GTK53T8Q/p1610654871035200?thread_ts=1610652801.034500&cid=C01GTK53T8Q)).

[2021-01-14 20:09] marcaaron commented on #1230
Yep, agree with everything @chiragsalian is saying here! And another point which is that we will eventually be removing the old `ChatSwitcherView` completely. The magnifying glass icon should remain. So we really do not want to put the magnifying glass inside the view that we will remove eventually.

[2021-01-14 20:11] chiragsalian commented on #1230
@Expensify/design can we get new mockups for how the UI will look with search box for the new UI?
![image](https://user-images.githubusercontent.com/14356145/104643607-80580280-5661-11eb-936f-a6e191efe315.png)

[2021-01-14 20:11] UpworkBartkoski commented on #1230
OK

[2021-01-14 20:13] shawnborton commented on #1230
I think you can just follow the original comment - tapping the search icon will navigate to the page with the search input + results that looks like this:
![image](https://user-images.githubusercontent.com/2319350/104643854-e0e73f80-5661-11eb-83bd-17f0d0d5d21d.png)

[2021-01-14 20:30] UpworkBartkoski commented on #1230
Magnifying glass svg works on web but not on Android

[2021-01-14 20:32] chiragsalian commented on #1230
whats the issue on android?

[2021-01-14 20:33] UpworkBartkoski commented on #1230
not showing.

[2021-01-14 20:34] UpworkBartkoski commented on #1230
![Screen Shot 2021-01-14 at 2 33 33 PM](https://user-images.githubusercontent.com/74012504/104646063-9243a080-5675-11eb-82a5-efa59ea3897c.png)
![Uploading Screen Shot 2021-01-14 at 2.34.29 PM.png…]()

[2021-01-14 20:39] marcaaron commented on #1230
Code example?

[2021-01-14 20:41] marcaaron commented on #1230
It needs to be imported as a component IIRC e.g.

https://github.com/Expensify/Expensify.cash/blob/076e10f4e0b6d9fec5ba5a2d19090dc6304a1691/src/components/Expensicons/PinIcon.js#L1-L28

[2021-01-14 20:47] UpworkBartkoski commented on #1230
Yes, I already did it.
Will check again.

[2021-01-14 21:41] UpworkBartkoski commented on #1230
Done

[2021-01-14 21:43] marcaaron commented on #1038
Leaving a quick summary of where we're at with suggested next steps for this issue…

This issue didn’t really have clear steps on how to complete it so there was a lot of back and forth on the best way to implement. Ultimately, we didn't feel that we had the best possible solution. But we do have a better idea of the scope of this issue and what kinds of problems we will face to solve it.

**Probl

[2021-01-14 22:24] lucas-neuhaus-dev commented on #1240
Alright, after a lot of looking and testing things around, I have a couple of more questions and an early proposal.

## Proposal
1. Add the svg assets to `assets/images` and create each icon component following the pattern in `src/components/Expenseicons`;
2. Add a new MODAL_TYPE in `src/CONST.js` called `BOTTOM_DOCKED` and use it to create a new modal style in `src/styles/getModalStyles.js`;
3. C

[2021-01-14 22:38] marcaaron commented on #1240
Proposal sounds perfect!

And yes, I agree with you about the name change. Perhaps instead of having a state value with `isFloatingActionButtonActive` we can change this to `isCreateMenuVisible` and then pass this to both the modal and the fab?

As for the questions....

For now, it's ok to do exactly as you have there. Our plan for this is to have another style of modal that is more like a popove

[2021-01-15 09:31] whitesnow1120 commented on #1098
Hi @arielgreen I submitted the solution on upwork.

[2021-01-15 10:15] amanforindia commented on #1097
Hi @roryabraham,

There are 2 places this can be handled, on notification tap by user and on notification received on the phone.
UrbanAirship doesn't support the 2nd option it seems (ref: https://docs.airship.com/platform/react-native/push-notifications/ both EventType.NotificationResponse and EventType.PushReceived get triggered at the same time when app is in killed state and you launch by tappi

[2021-01-15 18:20] UpworkBartkoski commented on #1228
In the current codebase, I can't reproduce this issue.

[2021-01-15 19:12] laurenreidexpensify commented on #1204
@parasharrajat how's things going on this one?

[2021-01-15 19:41] parasharrajat commented on #1204
I will prepare PR Today. Before that, I would like to confirm if my solution is fine or I am missing something. There are three cases
1. They move from offline to online
2. They move from active to inactive
3. Laptop is closed and reopened.

So I was thinking to swap the AppState `change` event with the `pusher:subscription_succeeded` event. For this, I will bind the  `pusher:subscription_succeede

[2021-01-15 19:57] laurenreidexpensify commented on #1204
cc @marcaaron

[2021-01-15 20:19] marcaaron commented on #1204
@parasharrajat yep that's all correct so far.

Right I think what we are going to need to do here is:

- Create another callback for the `subscription_succeeded` event when calling `Pusher.subscribe()`. Fix the logic in the Pusher wrapper so that the `subscription_succeeded` callback can also fire more than once (I believe it's prevented at the moment).

https://github.com/Expensify/Expensify.cash

[2021-01-15 21:09] whitesnow1120 commented on #1098
To solve this fix, I need to change some backend API call (sending push notifications).
I don't need to change any frontend code because push notifications can be handled in the backend, not the frontend.

- Requirements
1. Remove the extraneous "Expensify" line -- this is already shown by "Expensify.cash" on the first line
In the backend code, the title was included in the request of the sending

[2021-01-15 22:45] parasharrajat commented on #1204
@marcaaron. Ok so we enable `subscription_succeeded` to be fired more than once by removing this
[code]
 and prevent the bindEventToChannel() in a different way.
 But callbacks passed to reconnect are mostly API calls and they are not dependent on `Pusher.subscribe()`. How will they be retriggered?
 at this location
https://github.com/Expensify/Expensify.cash/blob/0603df60dd13385aacf7ff001815f7224

[2021-01-15 22:57] #1230 closed

[2021-01-15 23:07] marcaaron commented on #1204
Right, so before we had this function running

https://github.com/Expensify/Expensify.cash/blob/96ede9ccc1d4af4694867e818eac993ec945e0a3/src/libs/NetworkConnection.js#L53

We now need to call the same function when a `subscription_suceeded` event occurs.

We can perhaps do it by passing a callback to `Pusher.subscribe()` e.g.

[code]

Can you try asking this another way? I'm not sure I understood.

[2021-01-15 23:19] parasharrajat commented on #1204
I understand this part but `subscription_suceeded ` will be fired on each channel instead we just need to fire https://github.com/Expensify/Expensify.cash/blob/96ede9ccc1d4af4694867e818eac993ec945e0a3/src/libs/NetworkConnection.js#L53
 once each time `subscription_succeeded` event is fired so I don't this we should call this here in the `subscription_succeeded` callback. instead we can use the htt

[2021-01-15 23:28] stephanieelliott commented on #1098
Thanks @whitesnow1120! We're working on looking into that API update, we'll get back with you soon!

[2021-01-15 23:32] marcaaron commented on #1204
Yes, I think you are maybe missing that my suggestion is to pass the function _when we subscribe_ and that sometimes the subscription succeeded callback will just be a no operation (and by default it should noop).

[code]

Every channel will have its own subscription succeeded event that's true. But we only want the reconnection callbacks to trigger for a specific subscription. Which is the main s

[2021-01-15 23:32] whitesnow1120 commented on #1098
Thanks @stephanieelliott

[2021-01-15 23:46] parasharrajat commented on #1204
Oh. I see. So you mean we only call the reconnection on one channel for comments on the report and we don't need to call reconnectionCallbacks for other channels. Nice. 💯

So Now reconnectionCallacks will fire when

1. When we have connection success on the channel for comments on the report, after
2. User comes back online (which will be covered in 1).
3. Computer is back from sleep.

[2021-01-15 23:56] marcaaron commented on #1204
Yep, you got it.

[2021-01-16 08:36] arisferyanto commented on #1228
Hi @roryabraham, I can reproduce the issue on latest master branch and have a solution ready. Please check my proposal on upwork. Thanks!

[2021-01-16 16:47] HasaanA16 commented on #1038
I've used react-native-image-crop module which will allow user to select single or multiple attachment..
I've than used react-native-image-view modal which will be prompt if a user tap on any image
I've added the functionality of selecting the current image on which it is tapped and than scroll left and right to the other images already present in the chat.
I've not used carousel and it is not an

[2021-01-16 17:12] marcaaron commented on #1038
Hey, @HasaanA16 I think it would be best if we paused working on this until we resolve my comment above.

Anyways, I'm confused about your proposal since you are describing what we already have, but mentioned multiple attachments which should not be supported.

1. This issue does not ask for scrolling right or left.
1. How do you plan to populate the modal with attachments? Can you explain how the

[2021-01-18 07:41] Dal-Papa commented on #1234
I was about to create a similar issue for the `:~:text=` syntax from Google Chrome (like [here](https://github.com/Expensify/Expensify.cash/issues/1234#:~:text=The%20code%20that%20processes%20markdown%20is%20actually%20not%20in%20Expensify/Expensify.cash))
<img width="874" alt="Screen Shot 2021-01-12 at 10 15 35" src="https://user-images.githubusercontent.com/1805746/104885698-bb5f7c00-5968-11eb-9

[2021-01-18 10:09] Julesssss commented on #1225
Hi @rafidaky, just wanted to let you know I'm adding a small missing task to the main issue description:

[2021-01-18 18:38] marcaaron commented on #1225
@rafidaky please let us know the progress here.

[2021-01-18 23:10] #1204 closed

[2021-01-19 02:57] jliexpensify opened #1264 "The "Add" button does not appear next to all contacts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**

All platforms

**Action Performed (reproducible steps):**

Build version : 1.0.1-350
Device and OS: Pixel 3a // Android 11

The "Add" button does not appear next to contacts you have not spoken to/interacted with pre

[2021-01-19 07:08] parasharrajat commented on #1264
I would like to work on this one.

[2021-01-19 07:13] parasharrajat commented on #1234
@roryabraham Sorry for the late reply. I checked it. After making some adjustments to the URL Regex we can cover your case and other cases and also @Dal-Papa  case.
But there is one regression.
[code]
The above URL is being converted to link successfully but Strike conversion is swapping `~` with `<del>`.

Can we adjust the `strike` regex to discard match when we found `:~:text`?

[2021-01-19 08:57] Dal-Papa commented on #1234
@parasharrajat : Should we rather fix it so that if the `<del>` doesn't have an ending `~`, then it doesn't strike ?

[2021-01-19 10:11] parasharrajat commented on #1234
@Dal-Papa so
[code]
is converted to
[code]
which then will be replaced with `<del>` in place of `~`
[code]

[2021-01-19 10:51] laurenreidexpensify commented on #1228
Hi @UpworkBartkoski are you still having issues reproducing?

[2021-01-19 15:42] Julesssss commented on #250
I'd like to reopen this issue for further discussion.

Until now we haven't really had to worry about navigating between pages, but with the addition of Settings/Profile and the P2P manual payments flows we are starting to implement a navigation hierarchy and I would like to push for us to revisit. I don't see any argument against the mobile benefits here, but to highlight the importance, I don't

[2021-01-19 15:43] Julesssss commented on #250
Hmm, perhaps I should have opened the internal issue instead.

[2021-01-19 15:43] #250 closed

[2021-01-19 16:27] quinthar commented on #1204
omg omg omg, so excited for this one

[2021-01-19 16:32] quinthar commented on #1204
It looks like it's working!!!  Thank you thank you!!

[2021-01-19 16:48] parasharrajat commented on #1204
@quinthar And the credit go to @marcaaron.
🏆 🏆 🏆

[2021-01-19 17:31] #1240 closed

[2021-01-19 18:20] marcaaron opened #1267 "[Consumer UI Refresh] Create the Popover style Modal and switch to it for wide screens"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

Now that the `CreateMenu` exists we need to display an alternate modal style depending on if we have a wide screen width. Here's what it should look like.

![Screen Shot 2021-01-19 at 7 34 07 AM](https://user-images.githubusercontent.com/329

[2021-01-19 18:30] UpworkBartkoski commented on #1228
I was able to reproducing the issue and fixed it

[2021-01-19 18:30] UpworkBartkoski commented on #1228
I am working on this.

[2021-01-19 18:57] lucas-neuhaus-dev commented on #1267
@marcaaron
Just to be sure, the response when clicking the FAB on small screens (`windowDimensions.width < variables.mobileResponsiveWidthBreakpoint`) should not change?

[2021-01-19 19:00] marcaaron commented on #1267
Correct. In that case, we will use the `bottom_docked` style menu like we are now.

[2021-01-19 19:17] michaelhaxhiu commented on #1011
Going to assign to Nikhil from Upwork as soon as he responds and I add him tot his GH.

[2021-01-19 19:31] roryabraham commented on #1097
Hi @amanforindia, thanks for the detailed explanation. A few points of clarification:

This object is populated when the `PushNotification.onReceived` and `PushNotification.onSelected` methods are used to bind callbacks for the `PushReceived` and `NotificationResponse` events, respectively. You can see that done [here](https://github.com/Expensify/Expensify.cash/blob/d3ca4381f692be6ddc44c14b54ece4

[2021-01-19 20:34] #1091 closed

[2021-01-19 20:42] roryabraham commented on #1098
Hi @whitesnow1120. We've talked about your suggestion, and come to the following conclusions:

In the backend code, the title was included in the request of the sending API call.
So we can remove it.

Yep, we agree with this. We can replace the title field with:

- For chat reports (like all Expensify.cash reports), the name of the user who sent the message, falling back on their email or phone nu

[2021-01-19 21:40] #1225 closed

[2021-01-19 21:43] lucas-neuhaus-dev commented on #1267
### Proposal

1. Add a new MODAL_TYPE in `src/CONST.js` called `POPOVER` and use it to create a new modal style in `src/styles/getModalStyles.js`;
2. Add a new prop on the `Modal` component called `isPopover`. It defaults to false and can be set in `getModalStyles`. Use this prop to conditionally render the backdrop;
3. I am still testing out the animations, but I want to end up with an animation

[2021-01-19 21:59] marcaaron commented on #1267
I think we can maybe get even more generic here and have this be `showBackdrop` in case other things would hide it?

Sounds good, I think we can even just have it fade into a fixed position for now. But maybe @shawnborton has thoughts on this and we should get some ideas from him.

That's a good point and I agree with you. I guess my counter question would be...

Is there any way to:
1. Not use a

[2021-01-19 22:15] yuwenmemon commented on #1091
Contributors were both paid in Upwork. The contract has been ended in Upwork.

[2021-01-19 22:30] lucas-neuhaus-dev commented on #1267
Make sense!

You mean from the bottom (or left) of the screen? (not from the top of the button). It does make it easier.

This was my first idea when reading the `react-native-modal` API. But for some reason, I can't seem to get this prop to work on web and desktop for anything (works on android). I will to do some more debugging, see if I can find the reason.

[2021-01-19 22:31] marcaaron commented on #1267
Yeah I was thinking it would not necessarily have to transform from a certain origin just simply fade into a fixed position.

[2021-01-19 23:21] #1223 closed

[2021-01-20 00:44] nbhargava commented on #1011
I've started to take a stab at this. Here are my thoughts/progress so far:
- I've decided to go with the second approach to start (i.e. add listeners and fire `quitAndInstall` when detecting that we're in the background)
- I'm able to reliably detect that the app has been minimized/closed/hidden and can trigger a callback on those events.
- I'm currently having trouble _actually_ triggering the up

[2021-01-20 01:01] arisferyanto commented on #1228
I saw there was no one hired yet the last time I opened this issue. That's why I checked on it. Sorry @UpworkBartkoski @laurenreidexpensify!

Anyway, PR #1268 depends on `isSidebarShown`. Whenever the condition for `isSidebarShown` changes, we need to test again & probably make some more changes (e.g., [here](https://github.com/Expensify/Expensify.cash/pull/1268/files#diff-7fa482b2895f4e36a2a3ad82

[2021-01-20 03:58] whitesnow1120 commented on #1098
I found another solution.
`$request = [
    'name' => $username + '· Expensify.cash',
    'push' => [
      'audience' => [
        'named_user' => $stringAccountIDs,
      ],
      'notification' => [
          'alert' => $message,
          'android' => [
              'extra' => [
                  'payload' => json_encode($pushData),
                  'fromExpensify' => true,
              ],

[2021-01-20 12:37] amanforindia commented on #1097
Hi @roryabraham,

We would need to separate out android implementation from iOS implementation. If we use `@react-native-firebase` for android I think it should work (while keeping UrbanAirship as the push notification provider).

[2021-01-20 12:40] michaelhaxhiu commented on #1011
I'll review your solution proposal and get back to you on that shortly!

@nbhargava can you please send me your email address so I can add you as a guest to our #expensify-contributors Slack channel?

[2021-01-20 14:28] lucas-neuhaus-dev commented on #1267
I really can't seem to get this modal to behave as I want on web and desktop.
Just to summarize, the behavior I want is for the modal to not have a backdrop, so we don't have a `div` covering the whole screen and don't lose our cursor functionality (for other actions) when the CreateMenu is opened.

I tried:
- Setting `hasBackdrop` to false (works on mobile);
- Using the `customBackdrop` props, pa

[2021-01-20 15:05] NicMendonca opened #1283 "[Improvement] Improve E.cash search for group chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  All

# Problem
Search is frequently how I find a given chat. There are two main problems I currently have with it:
1. It doesn't work well for group chats. For example I can't type in `Lauren Andrew` in order to find

[2021-01-20 16:33] shawnborton commented on #1267
Maybe the cursor thing isn’t a big deal, in that clicking outside of the
menu should close the menu and not interact with background UI. Thoughts on
that?

On Wed, Jan 20, 2021 at 3:28 PM Lucas.Neuhaus.dev <notifications@github.com>
wrote:

[2021-01-20 16:55] lucas-neuhaus-dev commented on #1267
Yeah, it is a very minor thing. But I was hoping to find an easy solution.

I am going to commit a PR soon just using `backdropOpacity={0}`. If after testing out we realize we can change it so something else, we can keep the discussion there.

[2021-01-20 18:58] HasaanA16 commented on #1038
Hi, sorry for the delayed response.

I did not get it. I pushed my code in a separate branch so that you could test it as there were errors in chat functionality. What do you require exactly ? Did you test my code?

[2021-01-20 19:06] roryabraham commented on #1011
@nbhargava Not 100% certain if this will resolve your code signing issues you're running into, but you might try temporarily applying these changes in `config/electron.config.js`:

[code]

It's worth a shot to see if it will help you test this. Just make sure you don't commit those changes or try to include them in your PR :)

[2021-01-20 19:45] marcaaron commented on #1267
I've tried for a bit to get the `hasBackdrop={false}` prop to work and can confirm that it is not working on web.

I can't see any reason why this shouldn't work and see that you've opened an issue [here](https://github.com/react-native-modal/react-native-modal/issues/517). So, probably the best thing to do for now is proceed with the modal opacity 0 and hopefully we can resolve this in the future

[2021-01-21 00:45] sakluger opened #1294 "[Improvement] Add expensify.cash to iOS and Android native share menus"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
iOS, Android - All versions

## Problem

A common action when using a mobile device is to share something (a web page, an image, a tweet, etc) with another person. Both iOS and Android have a native "share" button tha

[2021-01-21 01:02] roryabraham commented on #1228
I don't think this is true - check out the [react-native-onyx](https://github.com/Expensify/react-native-onyx) repo. Since `ReportActionCompose` is wrapped in `withOnyx`, and the `isSidebarShown` prop is bound to Onyx, whenever that data changes in the underlying store, the component will be re-rendered, and the updated prop will be provided in the render function.

[2021-01-21 01:16] roryabraham commented on #1097
I see - could you write up a more detailed proposal of a solution that would allow us to maintain UrbanAirship as the push notification provider?  Maybe a high-level solution could look like this:

1) Create a separate sub-module of `PushNotification` meant for handling push notifications in the background, something like `BackgroundPushNotifications`.
2) On iOS, that sub-module would work by regi

[2021-01-21 01:31] jliexpensify commented on #1264
Closing as this is an issue that will be resolved shortly with a new UI (according to @marcaaron).

[2021-01-21 01:31] #1264 closed

[2021-01-21 01:41] arisferyanto commented on #1228
Hi @roryabraham, you may take a look at this alternative to see if it's better. If you think it's good, feel free to use it. It's not going to be of any use sitting in my local repo here anyway.
https://github.com/Expensify/Expensify.cash/compare/master...arisferyanto:1228

[2021-01-21 02:43] marcaaron commented on #1228
I am a but confused by the premise of this issue. What are we fixing here exactly?

[2021-01-21 03:21] shawnborton opened #1296 "Design clean up items for FAB and create menu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

There are a few design items we'd like to clean up with the FAB and Create Menu.

**FAB - All Platforms**
The FAB itself appears to be too small. Can we make the FAB itself use an area of 52x52?
![image](https://user-images.githubusercontent

[2021-01-21 03:33] marcaaron commented on #1228
I am interpreting this as... we should be able to type the message, but the sidebar is in the way? That might be a more accessible way to handle this situation.

[2021-01-21 12:56] nbhargava commented on #1011
Unfortunately I tried that and it doesn't solve the issue for me. The problem seems to be that if the local version isn't signed the same way as the downloaded version, electron-updater rejects it (though I'm not 100% that this is the source of the problem).

[2021-01-21 14:10] lucas-neuhaus-dev commented on #1296
Hi. Sorry I have not been testing my code on iPhones and missing points like this. I have an old iPhone but no Mac, and couldn't really find a way to test out a React Native project that does not use Expo.

I am heavily considering renting a cloud service like [macincloud](https://www.macincloud.com/) to make sure I always test at least on an iPhone emulator.

I am asking about it in a couple of d

[2021-01-21 16:21] roryabraham commented on #1228
What happens is:

1) You open the chat switcher to search for chats
2) When the chat switcher text input is focused, you can use the down arrow on the iOS key, and it will move to the next text input in the DOM. In this case, that's the ReportActionCompose
3) When you switch to the ReportActionCompose, you're able to type the message, but the sidebar is in the way.

You're correct that an alternat

[2021-01-21 16:50] michaelhaxhiu commented on #1011
@nbhargava Your proposal looks good from a high level, but let's continue to have check-ins as you go to ensure the approach is working. Feel free to keep asking questions!

You can get started on the PR and link it here.

[2021-01-21 17:11] marcaaron commented on #1228
Yeah I'd think we'd just cycle back and forth. e.g. if you focus on one or the other input then the sidebar should open/close?

[2021-01-21 18:29] AndrewGable commented on #1011
@nbhargava - I like the idea of investigating a way to test this using `mino` or some other way that doesn't use production signed versions. I don't think it's realistic that we are going to be able to test this using production signed versions as we already have users using the desktop app.

[2021-01-21 20:09] lucas-neuhaus-dev commented on #1296
@shawnborton

On the `src/styles/variables.js` file, there is a constant called `componentSizeLarge` with a value of `50`. What do you think is better?
- Use this constant;
- Change `componentSizeLarge` to `52` and use it _(the other component that is using its value is the `ExpensifyCashLogoIcon`)_;
- Create a new constant;
- Hard code the value.

I like the idea of changing the constant value to

[2021-01-21 20:41] shawnborton commented on #1296
Let’s change the constant to 52. Thanks!

On Thu, Jan 21, 2021 at 9:10 PM Lucas.Neuhaus.dev <notifications@github.com>
wrote:

[2021-01-21 21:34] marklouisdeshaun opened #1302 "Add meta tags to Expensify.cash html for link previews"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___
View the job on Upwork [here](https://www.upwork.com/jobs/~01a827f3a0a815553e)

**Platform - version:**
iOS
Android

**Action Performed (reproducible steps):**
1. Copy link to https://expensify.cash
2. Send the link via:
a. iPhone iMessage
b.

[2021-01-21 22:30] #1267 closed

[2021-01-22 07:03] arisferyanto commented on #1228
From user's perspective, I don't think pressing the arrow button when we are at the search box should close the sidebar and focus the cursor on the chat input box, especially on a tiny mobile screen. It's okay for a single page where multiple input elements are visible to the user, but not in this case. Just my 2 cents.

[2021-01-22 16:45] marcaaron commented on #1228
I can see that argument and wouldn't mind that approach. Perhaps we should not render the text input at all while the sidebar is open? The user only has the option to tab over because it's rendered behind the sidebar after all.

[2021-01-22 16:46] #1002 closed

[2021-01-22 18:35] parasharrajat commented on #1228
We can use the tabIndex prop to manage the focus while the sidebar is open thus browser will not tab away.

[2021-01-22 21:42] Jag96 commented on #1038
Putting this issue on HOLD while we sort out https://github.com/Expensify/Expensify.cash/issues/1038#issuecomment-760495360.

[2021-01-22 22:11] parasharrajat commented on #1302
@marklouisdeshaun Thanks. I will work on this.
So I have few questions:
1. Do you want it to look like  Expensify.com
![image](https://user-images.githubusercontent.com/24370807/105554140-c0d41200-5d2c-11eb-983c-5d6f191144e1.png)

But with

and the new Image.

[2021-01-22 22:21] marklouisdeshaun commented on #1302
@parasharrajat I'm just asking for confirmation from the team now and will let you know as soon as I can!

[2021-01-22 22:33] parasharrajat commented on #1302
@marklouisdeshaun Some matching example will be really helpful to Identify the exact requirement.

[2021-01-22 22:34] marklouisdeshaun commented on #1302
@parasharrajat - the team confirmed it should look like the Expensify.org preview option (the bottom one in the screenshot), and yes with the new copy and the Expensify.cash logo.

Just let me know if that's not clear enough or if you have other questions.

[2021-01-22 22:37] parasharrajat commented on #1302
Ok. Thanks. It's clear now.

[2021-01-24 20:15] nbhargava commented on #1011
Quick update -- I have this mostly working. There are a couple of weird quirks I'm trying to work around before I post a PR. Namely, when the updated version downloads and boots, it creates a second instance of an Electron app (both of which are the correct version). I'm not exactly sure why this is happening, but once it's sorted I should be good to go.

[2021-01-24 22:07] nbhargava commented on #1011
^ The above PR should include fixes for the mentioned issues. Let me know if there's anything else I need to do before it can be reviewed.

[2021-01-25 11:36] amanforindia commented on #1097
Hi @roryabraham,

I have been investigating in android so far and I will need access to the provisioning profile/cert to be able to run/test iOS in local so let me provide a high level solution targeted only to android for now.

The approach of populating the notificationEventActionMap in Report.js -> subscribeToReportCommentEvents may not work because it's called inside componentDidMount of HomeP

[2021-01-25 16:17] marklouisdeshaun commented on #1302
Hi @parasharrajat! We require a description of the proposed solution before reviewing the PR. Can you provide a brief description of the solution you plan to implement? Thanks!

[2021-01-25 20:04] roryabraham commented on #1097
Okay, that seems like a pretty reasonable plan. To be clear, we would only need to setup callbacks for _background_ push notifications outside of the main application, not _all_ push notifications. Right? Also, do you know what user permissions (if any) are required to receive background push notifications?

As far as running/testing iOS, we can save that for another PR that we can handle internal

[2021-01-25 22:21] lucas-neuhaus-dev commented on #1234
@roryabraham
Is this issue still open for grabs?

I did some tests and I believe I can create a PR with everything that is required on the deliverable (including the additions on the comments section).

[2021-01-25 23:59] parasharrajat commented on #1302
@marklouisdeshaun Sory about that. But I thought it mentioned to add meta links.

Proposed Solution:
1. I have added meta links into the `web/index.html` file which will help providers to fetch the correct link preview while using out links.
I have added only the required tags so far
[code]

Here `og:title` and `og:image` is the needed one for most of the providers but to achieve the same result o

[2021-01-26 00:24] Jag96 commented on #1097
Currently, we don't have a way for contributors to test on a physical iOS device. [This link](https://medium.com/better-programming/how-to-send-push-notifications-to-the-ios-simulator-2988092ba931) has some info on testing push notifications on a simulator, but if that doesn't work and you're still unable to test on iOS then yes, as @roryabraham said we can handle that internally.

[2021-01-26 04:34] amanforindia commented on #1097
Hi @Jag96,

Will need to test with the exact payload that's going to come from the backend so testing using simulator is quite messy/time consuming. One way to allow contributors to test using physical devices can be using fastlane match:
https://docs.fastlane.tools/actions/match/#access-control

@roryabraham,
Only background push notifications, correct.
About user permissions, will check while im

[2021-01-26 09:10] shawnborton commented on #1302
The solution sounds good to me.

[2021-01-26 10:17] shawnborton commented on #1302
Apologies, I left a comment in your PR but actually for the proposed solution, it looks like we can remove some of the Twitter-specific tags you are using (notably the `twitter:title` tag) as Twitter works well with the standard Open Graph (og) protocol. [Take a look here (bottom of page)](https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started), this would be an id

[2021-01-26 11:05] parasharrajat commented on #1302
Sure.

[2021-01-26 18:46] Jag96 commented on #1097
@amanforindia It looks like match still requires that we create new profiles and certificates, as well as a new repository. Since this isn't something we've prioritized internally yet, for now you can focus on Android.

[2021-01-26 19:16] marcaaron opened #1336 "[Consumer UI Refresh] Spruce up the New Group page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

We implemented a new page at `#/new/group` that is not yet accessible by clicking around in the UI. In this view, multiple users can be selected and a chat can be started with them.

**Deliverables:**
- We must update the UI for showing the

[2021-01-26 19:19] marcaaron opened #1337 "[Consumer UI Refresh] Implement the New Chat view"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

We must take the existing "New Group" page and create a "New Chat" page which is a simplified version of the "New Group" page. There is a method that should already calculate the correct options to display called `OptionsListUtils.getNewChat

[2021-01-26 19:22] marcaaron opened #1338 "[Consumer UI Refresh] Implement the Search view"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

We need to replace the `ChatSwitcherView` entirely with a "Search page" which is an even simpler version of the "New Chat" page. There is a method that should already calculate the correct options to display called `OptionsListUtils.getSearc

[2021-01-26 21:18] jboniface opened #1339 "Add pin icon to left hand navigation menu for chat rows that are pinned"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

view the job on Upwork [here](https://www.upwork.com/jobs/~014f4f916839e82c3f).

**Platform - version:**
all

**Action Performed (reproducible steps):**

1. Log into Expensify Cash
2. Pin a chat using the pin icon at the top right of the cha

[2021-01-26 22:44] tugbadogan commented on #1339
Hi,

I'd like to work on this task and submitted my proposal via upwork.

[2021-01-26 23:43] tugbadogan commented on #1339
I'm planning to modify `ChatLinkRow` module and use `isPinned` boolean flag from `option` param (`isPinned` boolean flag is already available in this object) to add pin-circle icon here:
https://github.com/Expensify/Expensify.cash/blob/be4a3c57c29f1807b4ec3c34e8932c5cfc4fa6f0/src/pages/home/sidebar/ChatLinkRow.js#L121-L125

Also, I have to add `pin-circle.svg` to `assets/images` folder and import

[2021-01-26 23:47] tugbadogan commented on #1294
Is this task still available? I would like to work on this issue.

[2021-01-27 01:37] puneetlath opened #1341 "[HOLD on #3381] Selecting, copying, and pasting text on web and desktop are weird and in inverted order"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___
Upwork job:  https://www.upwork.com/jobs/~0195a298f26a002c08

**NOTE:** We are **only** looking for proposals on fixing this directly in https://github.com/facebook/react-native.  Example issue addressing this accessibility issue https://gith

[2021-01-27 18:42] sakluger commented on #1294
Hi @tugbadogan thanks for the interest! It is not available, but any available issues should be posted on Upwork.

[2021-01-27 20:27] jboniface commented on #1339
@tugbadogan what's your name in Upwork, so we can proceed?

[2021-01-27 20:34] tugbadogan commented on #1339
@jboniface it's **Fadime Tugba Oge**

[2021-01-27 20:44] jboniface commented on #1339
@tugbadogan ah, I missed that one when I looked earlier; cool, I sent the offer!

[2021-01-27 23:45] r8 commented on #1294
I evaluated several React Native libraries, but it looks like the real choice is only between two of them:
- [react-native-share-extension](https://github.com/alinz/react-native-share-extension)
- [react-native-share-menu](https://github.com/meedan/react-native-share-menu)

The former looks more popular, but requires manual install and haven't been updated in a while, which causes a lot of trouble

[2021-01-28 00:35] marcaaron commented on #1294
@r8 Thanks for the proposal, plan sounds good 👍

I agree with you that we should create a separate `SharePage` that reuses sidebar components.

[2021-01-28 02:00] #1302 closed

[2021-01-28 17:06] marcaaron commented on #1336
cc @shawnborton to provide us with the checkmark asset required to complete this issue

[2021-01-28 18:00] parasharrajat commented on #1341
So I did some digging. The issue is that inverted Flatlist uses `transform:scale(-1)` for inversion but the Browser selection works based on the order of dom elements. Even if we change the Flatlist code to use `flex-direction:column-reverse` the problem will remain same as the order of dom element is still reversed.

[2021-01-28 20:01] shawnborton commented on #1336
Here is the asset: [checkmark.svg.zip](https://github.com/Expensify/Expensify.cash/files/5889715/checkmark.svg.zip)

It should be shown at a size of 20x20.

[2021-01-28 22:08] yuwenmemon opened #1358 "Inconsistencies Between Animation Speeds Amongst Various Platforms"
**Platform - version:**  All (Cross platform) - version 1.0.1-389

**Action Performed (reproducible steps):**
1. Click the Profile Image icon at the top of the sidebar on the left.
1. A settings modal should animate in on the right.
1. Close the settings modal
1. Observe the differences in animation time across platforms.

**Expected Result:** The animation should behave the same across all platfo

[2021-01-28 22:18] kadiealexander commented on #1081
Hey there @dylmye! We've made a lot of updates to the UI for expensify.cash since this issue was raised. Would you be able to review your request and see if it still applies? Thanks!!

[2021-01-28 22:51] Jag96 commented on #1228
It doesn't look like any [technical proposal](https://github.com/Expensify/Expensify.cash/blob/master/CONTRIBUTING.md#submitting-a-pull-request) was made here, but it sounds like the latest agreement is that **the up/down arrows shown in the description of the issue should not be tappable when the side menu is open**.

In the future, please be sure to submit a technical proposal before opening a P

[2021-01-28 22:59] dylmye commented on #1081
Now it opens up with the list of conversations which is definitely clearer. Thanks for keeping this ticket updated!

[2021-01-28 22:59] #1081 closed

[2021-01-28 23:07] kadiealexander commented on #1234
Hey @lucas-neuhaus-dev! Please review the rules [here](https://github.com/Expensify/Expensify.cash/blob/master/CONTRIBUTING.md#submitting-a-pull-request) for submitting a Pull Request. Looking forward to hearing your proposal!

[2021-01-28 23:16] lucas-neuhaus-dev commented on #1234
Hi @kadiealexander, sorry I forgot to comment here, I created the PR this afternoon.

Here it is: https://github.com/Expensify/expensify-common/pull/327.
I will mention you in the description there as well.

[2021-01-28 23:18] yuwenmemon commented on #1358
Added to Upwork https://www.upwork.com/jobs/~01655ae22d1440c25f

[2021-01-29 00:43] UpworkBartkoski commented on #1228
@Jag96
So should I go back to the first solution I did?
https://github.com/Expensify/Expensify.cash/pull/1268/commits/3cf5b69093a15a6f84a6f29a4328c67b33754f6a

[2021-01-29 00:55] Jag96 commented on #1228
@UpworkBartkoski commented on [the PR](https://github.com/Expensify/Expensify.cash/pull/1268#issuecomment-769498074)

[2021-01-29 09:56] parasharrajat commented on #1358
Hey @yuwenmemon. I have found the cause of inconsistency between web browsers and android device animations. In fact, I have some solution ready to be criticized. I would like to work on this.

Thanks.

[2021-01-29 13:13] parasharrajat commented on #1358
So the issue is due to the animation happening with the full width of the screen so in mobile it's fine as the modal takes the full width of the screen but on desktop, the modal has a width equal to the sidebar but the animation is running on the full width of the window.

So for the laptop, it would be 1366px. This causes a little pause before the modal is slide-in from the right as it has to tra

[2021-01-29 13:14] laurenreidexpensify commented on #1159
Hey @RafaelCenzano Thanks for writing this up.

Can you confirm -
- Thats error is still occurring
- whether you have a proposed solution for fixing it?

Thanks!

[2021-01-29 13:14] laurenreidexpensify commented on #1134
Hey @anthony-hull Thanks for writing this up.

Can you confirm -
- Thats error is still occurring
- whether you have a proposed solution for fixing it?

Thanks!

[2021-01-29 13:15] laurenreidexpensify commented on #1083
Hey @dylmye

Can you confirm -
- That the error is still occurring
- whether you have a proposed solution for fixing it?

Thanks!

[2021-01-29 13:48] lucas-neuhaus-dev commented on #1336
### Proposal

- Rename the `SettingsModal` component to `RightDockedModal`;
- Add 2 new required props to it: `title` and `Page`, which take a `string` and a `function`, respectively;
- Change the existing `SettingsModal` on the `HomePage` to this new modal, taking the additional `title: "Settings` and `Page={SettingsPage}` props;
- Add a new `<RightDockedModal />` right under it, with matching pr

[2021-01-29 15:57] lucas-neuhaus-dev commented on #1336
Also, I would like to suggest something @shawnborton

On the `src/pages/home/sidebar/ChatLinkRow.js` file, transform the top component into a `Pressable` _(and the existing `TouchableOpacity` into a `View`)_, so we can get some nice hover effect for the contacts.
I am still seeing at what looks good, but I want to end up with the style seen on the image below (maintaining the rest of the layout as

[2021-01-29 15:58] shawnborton commented on #1336
I think that sounds like a great idea. I believe you can at least use the arrow key to go through the list at the moment (which will toggle the BG style) but I love the idea of having a full row hover style.

[2021-01-29 16:11] lucas-neuhaus-dev commented on #1336
Oh, good thing you mentioned that, I actually was not aware of the arrow key selection, and did not see this effect.

All right I will make sure both work.

[2021-01-29 17:10] RafaelCenzano commented on #1159
I apologize but I am not able to test this. I seem to be having two issues at this time. When trying to upload a file it seems to load forever:

[2021-01-29 18:44] laurenreidexpensify commented on #1159
When you say file, what type of file is it? How large is it? Thanks!

[2021-01-29 19:10] RafaelCenzano commented on #1159
It is a pdf, the same as I used in the video above. It is a 1-page pdf that is 14KB

[2021-01-29 22:20] marcaaron commented on #1336
Thanks @lucas-neuhaus-dev. Plan sounds 👍  to me.

[2021-01-29 22:35] marcaaron commented on #1358
This solution sounds good to me. 🚀

[2021-01-29 22:55] marcaaron opened #1366 "Add Chat Preview Line to Side Bar Options"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

Currently we show the user email below a chat row listed in the Sidebar like this:
<img width="372" alt="Screen Shot 2021-01-29 at 12 42 05 PM" src="https://user-images.githubusercontent.com/32969087/106334827-92c06780-622f-11eb-89b7-2a2e4e3

[2021-01-30 01:13] parasharrajat commented on #1366
I have a question though. What do we need to show in the `alternateText` if a user has shared a media in the report?
What If the last message was an image.

[2021-01-30 01:30] marcaaron commented on #1366
Great question. I'm not sure there is consensus on that yet. At the moment, the text (not html) version of those messages will just say `[Attachment]` so I'm assuming something like that is fine for now. There are two sources for getting the message at the moment and we are stripping out html tags here:

https://github.com/Expensify/Expensify.cash/blob/376c07b551f067e21736f7a73581c6b6fe7ea1ad/src/

[2021-01-30 14:01] parasharrajat commented on #1366
## Proposal

It's simple,
1. I will add the last message from the report to the sidebar report listing as explained above.
2. For messages that contain media, I will add [Attachment] if it's not already in the message text.
3. For group Chats, I will add the user name who last messages.
4. I will show the user's First name only.

[2021-01-30 19:39] #1228 closed

[2021-01-31 00:47] parasharrajat commented on #1366
What should I show here when we click search
![image](https://user-images.githubusercontent.com/24370807/106371571-feb7e280-638b-11eb-961f-86f5c721a049.png)

[2021-01-31 11:45] shawnborton commented on #1366
The preview line should behave the same in Search as well - basically these chat rows look the same in Search as they do on the Chats home screen, though you can keep the "Add" button there in Search.

[2021-01-31 20:35] tugbadogan commented on #1283
Hi @NicMendonca ,
I would like to work on this issue. Here is my proposal:

I found that search results are generated in `ChatSwitcherView.updateSearch()` function. I’m planning to modify the following for loop.
https://github.com/Expensify/Expensify.cash/blob/c0069cf6e2df94ba7c3a2c242cf9e6a9c82ddd30/src/pages/home/sidebar/ChatSwitcherView.js#L424-L451

I’m going to split search string on spaces a

[2021-02-01 14:38] laurenreidexpensify commented on #1159
Can you post the same file here for me to test with?

[2021-02-01 16:36] NicMendonca commented on #1283
@tugbadogan Thanks! Please apply for the job directly [through Upwork](https://www.upwork.com/jobs/~01ccd27d2ef43f2d7f).

Also a note, we're waiting for other UI changes before we can hire for this job.

[2021-02-01 16:41] tugbadogan commented on #1283
Hi @NicMendonca,

I've already apply through Upwork. My Upwork name is Fadime Tugba Oge.

No problem, thanks for letting me know. I'm happy to work on this issue later.

[2021-02-01 17:45] roryabraham commented on #1098
We're going to close this an revisit internally.

[2021-02-01 17:45] #1098 closed

[2021-02-01 18:40] #1339 closed

[2021-02-01 18:47] parasharrajat commented on #1366
Question:
1. What should I show if there is no last message? I think this condition will not arise as the code does not show an empty report.

[2021-02-01 18:52] marcaaron commented on #1366
@parasharrajat I don't think it's possible so would probably not use the `report.login` as the fallback and instead show nothing. Otherwise, it may look like the last message was a user entering an email address.

[2021-02-01 19:13] #1296 closed

[2021-02-01 19:22] parasharrajat commented on #1366
Question:
When we search for a user using email what should be shown?

![image](https://user-images.githubusercontent.com/24370807/106507287-d4cc0080-64f0-11eb-8cb2-e7efdcf223ad.png)

[2021-02-01 19:28] marcaaron commented on #1366
Show the chat preview line. It doesn't matter if there is a display name or an email for the main text.

[2021-02-01 20:24] marcaaron commented on #1366
@shawnborton Sorry I did not catch this exchange soon enough but the comment [here](https://github.com/Expensify/Expensify.cash/issues/1366#issuecomment-770369332) is not correct. While we eventually do want that behavior it should not be added in this PR because the "Search" view is still relying on the old `ChatSwitcherView` logic which will be replaced soon.

[2021-02-02 00:05] marcaaron opened #1383 "Simplify the PDF Viewer on Web"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

We currently are using PDF.js to show PDFs inside an iframe on web and also hosting some demo code for the Mozilla PDF viewer. For this issue we will need to replace the complicated PDF viewer code with a simple bare bones viewer.

**Deliver

[2021-02-02 04:02] parasharrajat opened #1385 "Error while sending a message on console."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  Web - v1.0.1-403

**Action Performed (reproducible steps):**
Send a message on the report and check the console.

**Expected Result:**

There should be no errors and the message should update in the ONYX store.

**Ac

[2021-02-02 09:36] shawnborton commented on #1366
Ah, got it. I thought the `ChatLinkRow` was a shared component by both Search and the Home screen, so I assumed that updating this component would update it everywhere.

[2021-02-02 11:13] parasharrajat commented on #1383
## Proposal
1. Use the `react-pdf` lib and replace the Pdf.js code completely.
2. Drop the Pdf.js vendor code from the repo.
3. Optimize the Pdf page rendering so that If a pdf have hundreds of page, it doesn't become a memory pit.
4. Take input of design from the team and Update if needed to match the product theme.

#### Questions

1. Do we need to support non-Latin characters! (here)[https://gi

[2021-02-02 17:02] #1234 closed

[2021-02-02 17:54] marcaaron commented on #1383
I think if we support them now then we should continue to support them.

[2021-02-02 19:42] marcaaron commented on #1366
It is, but the data fed into it will be changing.

[2021-02-03 12:29] anthony-hull commented on #1134
Hey Lauren, it looks like this bug is fixed in the lastest version: 1.0.1-406 when I just checked now. I will close the issue down.

[2021-02-03 12:29] #1134 closed

[2021-02-03 16:26] laurenreidexpensify commented on #1134
Cool thanks @anthony-hull - sorry we missed this one in the launch shuffle! Appreciate you reporting it

[2021-02-03 20:16] RafaelCenzano commented on #1159
[Invoice # 1.pdf](https://github.com/Expensify/Expensify.cash/files/5921221/Invoice.1.pdf)
[Invoice # 2.pdf](https://github.com/Expensify/Expensify.cash/files/5921223/Invoice.2.pdf)
The two files used

[2021-02-04 02:02] NikkiWines opened #1402 "[Improvement] Allow users to sign up with sms logins without appending '@expensify.sms'"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**

**Action Performed (reproducible steps):**

**Expected Result:**

**Actual Result:**

**Notes/Photos/Videos:**

**Logs - JS/Android/iOS (if applicable)**:

[2021-02-04 02:09] #1402 closed

[2021-02-05 01:43] #1366 closed

[2021-02-05 01:44] marcaaron commented on #1366
@parasharrajat Thanks for your work on this.

[2021-02-05 17:45] #1336 closed

[2021-02-05 19:27] trjExpensify opened #1417 "[Consumer UI Refresh] Chat preview line shouldn't show in the chat row when creating a New Group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
Desktop & iOS -  v1.0.1-419

**Action Performed (reproducible steps):**
1. Open Global Create
2. Select New Group
3. Notice the last message of the chat being displayed in the chat rows, or the chat rows are blank if

[2021-02-05 19:38] trjExpensify opened #1418 "[Consumer UI Refresh] Create Group confirmation button visible without attendees selected"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
Desktop & iOS - v1.0.1-419

**Action Performed (reproducible steps):**
1. Open Global Create
2. Select New Group
3. Notice the `Create Group` confirmation button is visible when attendees aren't selected

**Expected R

[2021-02-05 19:40] marcaaron commented on #1417
@parasharrajat Sorry this was also left out of the requirements for the issue you have worked on. Slipped my mind that we wanted to preserve the existing behavior and just modify it in `OptionsListUtils` e.g.

https://github.com/Expensify/Expensify.cash/blob/037293697faf8f823ecb854e287c8153872cff03/src/libs/OptionsListUtils.js#L364-L370

Should maybe have something like `showChatPreviewLine` that

[2021-02-05 19:45] parasharrajat commented on #1417
Let me see this. Thanks

[2021-02-05 20:12] lucas-neuhaus-dev commented on #1418
I see.
I will have this changed soon, no problem!

[2021-02-05 20:21] lucas-neuhaus-dev commented on #1337
### Proposal

1. Create a new route -> `NEW_CHAT: '/new/chat/`;
2. Create a new `NewChatPage` file, that has much of the same as `NewGroupPage`, but gets the options using `getNewChatOptions` removes unnecessary code, and creates a new chat using `fetchOrCreateChatReport` when an option is pressed;
3. Hook this up in the `HomePage`.

The PR should be up pretty soon.

[2021-02-05 21:25] trjExpensify commented on #1418
Thank you, Lucas!

[2021-02-05 21:34] marcaaron commented on #1417
Thanks @parasharrajat 🎉

[2021-02-05 21:36] #1417 closed

[2021-02-05 22:19] #1337 closed

[2021-02-06 01:19] lucas-neuhaus-dev commented on #1418
@trjExpensify
Apologize for saying it would be soon, haha :man_facepalming:
Had to leave for a while.

[2021-02-08 10:44] trjExpensify commented on #1418
No need to apologise, thanks for getting a PR up for this!

[2021-02-08 11:07] #1418 closed

[2021-02-08 13:42] lucas-neuhaus-dev commented on #1338
@marcaaron
I have a couple of questions:

1. Is the search a page accessed by a URL (using `redirect`)? Just like `NewGroupPage`, `NewChatPage`.... Or is it to maintain as it is right now, rendering if `isChatSwitcherActive`? If it is the second, I will create a component in `components/`, not a page.
2. This is just a double check, but from the images in the description, we can see this contact:

[2021-02-08 16:56] marcaaron commented on #1338
I think we can leave things as they are now. There's no need to create a `/search` route yet as we can always do this in the future.

Was just chatting with @trjExpensify about this and the behavior in the mock up is what we want. So if a chat has no messages it should just show the email in that second line. IIRC we are currently excluding reports that have no last message in the `Sidebar` view.

[2021-02-08 17:16] lucas-neuhaus-dev commented on #1338
@marcaaron

It seems to work like this. So the only way to have access to contacts without messages is with the `personalDetails` return from the `getOptions` function.
Should I add this then?

From my tests for this to work the `getOptions` function would need some additional logic, to be able to show either recent messages or email, depending on the case.

[2021-02-08 17:23] marcaaron commented on #1338
Sorry, I'm unsure of what changes you are suggesting. Can you break down what the additional logic would be?

[2021-02-08 17:34] lucas-neuhaus-dev commented on #1338
I thought it would be more stuff, but it's extremely simple. I just needed to change:
[code]
to
[code]
on the `createOption` function.

Alright I think I got all information I needed, going to finish testing on the platforms and create the PR. We can discuss better with the code in hands.

### Proposal

1. Create a `SearchView` component which looks a lot like `NewChatPage`. It uses the `OptionsLi

[2021-02-08 17:51] marcaaron commented on #1338
To clarify, the search page should only show recent reports so we will just need some way to indicate that reports with no messages should not be filtered from the Search page but should be filtered from the Sidebar.

Rest of the plan sounds good to me :)

[2021-02-08 18:18] lucas-neuhaus-dev commented on #1338
Ohhhhh ok!
That took me a while to figure out. Needed to stop and understand the `getOptions` function better.

Added a new entry in the object prop of the `getOptions` function, called `showEmptyRecentReports`, defaulted it to false.
Set to true in the `getSearchOptions` call.

PR coming soon.

[2021-02-08 21:23] #1338 closed

[2021-02-08 21:58] #1358 closed

[2021-02-09 11:21] laurenreidexpensify opened #1439 "Add hover feedback to chat rows found in Left Hand Navigation"
Problem:
The LHN on web & desktop does not have any mouse hover feedback, and thus users don’t have a clear idea of which element they are interacting with. It also makes the product feel a bit lifeless and stagnant.

Solution:
Implement a simple background color change on hover for chat rows found in the LHN. The background color for hover should use the color themeColors.componentBG which will l

[2021-02-09 12:09] parasharrajat commented on #1439
Hey @laurenreidexpensify. Seems a quick work. let me help with this one.

## Proposal
1. Show the hover feedback on the Web using the backgroundColor from the theme.
2. Show the feedback on the Mobile app using TouchableOpacity which should show touch feedback (if not already).
3. Exclude the hover effect on active Rows.

[2021-02-09 16:19] parasharrajat commented on #1439
I just come to know we already have this functionality as a `Hoverable` component so I will use that component to show the feedback.

[2021-02-09 16:33] parasharrajat commented on #1439
Few Questions:
1. Should this hover effect be visible on the Search view, group chat list, new chat list?

[2021-02-09 16:46] laurenreidexpensify commented on #1439
Hi @parasharrajat is there a reason why you have opened a PR for this already? I haven't sent an offer to you on Upwork for this as per the standard process for picking up our issues. Can you please hold off on doing any work on this unless we move forward with offering a contract for this in Upwork. Thank you.

[2021-02-09 16:55] parasharrajat commented on #1439
Sure. I thought I have to create the above functionality so I started early but I found the component so It finished early. No issues, I will rollback. An I will follow this pattern next time.

[2021-02-10 02:30] Dal-Papa opened #1446 "Email addresses appearing instead of names when creating group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
Chrome Windows/Mac
1.0.1-221 although this has been reproduced recently

**Action Performed (reproducible steps):**

1. Go to expensify.cash and login as conor@expensify.com
2. On the search box, look for users and ta

[2021-02-10 11:35] laurenreidexpensify commented on #1439
@shawnborton if you have a moment can you review this solution? Thanks

[2021-02-10 15:22] jboniface opened #1448 "Move Search to the RightDockedModal"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

view the job on upwork [here](https://www.upwork.com/jobs/~019f6dc14b35d73bb0).

**Platform - version:**
current

Currently, clicking the search icon changes the functionality of the Left Hand Nav in order to show search results. We've recen

[2021-02-10 18:35] NicMendonca commented on #1283
@tugbadogan as mentioned last week we did make some UI changes so you might want to give your initial proposal a second look.

Thanks!

[2021-02-10 19:14] lucas-neuhaus-dev commented on #1448
I would love to work on this issue.
I have worked on the `SearchView`, `RightDockedModal`, and `NewGroup(/Chat)Page`, so I know exactly the steps needed to reproduce the desired behavior.

Sent the proposal Upwork (Lucas Neuhaus).

### Proposal

1. Change the `SearchView` component to `SearchPage` (basically just changing the name and the folder location);
2. Delete everything related to it on `Si

[2021-02-10 19:29] lucas-neuhaus-dev commented on #1448
We would probably be able to delete the `isChatSwitcherActive` `ONYXKEYS` entry as well since it wouldn't control anything anymore.

[2021-02-10 19:38] marcaaron commented on #1448
Yep, sounds good @lucas-neuhaus-dev. I think we'd really be looking to remove all traces of anything referencing a ChatSwitcher as part of this step.

[2021-02-10 19:39] marcaaron commented on #1448
I'm not too sure about this question. cc @shawnborton to see what he thinks.

[2021-02-10 20:00] shawnborton commented on #1448
I think we want to have the arrow functionality work for Search like it currently does.

[2021-02-10 20:59] marcaaron opened #1452 "Add GSD mode to reprioritize Sidebar results"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Deliverables:**

- Add a new user preference in `SettingsPage` that will allow the user to set a priority preferences for the "Chats" screen (a.k.a. sidebar) it will have two different modes: "GSD" (value `gsd`) and "Most Recent" (value `d

[2021-02-10 22:42] trjExpensify commented on #1452
Let's go with this copy for now for GSD mode:

This will only display unread and pinned chats, all sorted alphabetically.  _Get Shit Done_.

[2021-02-10 23:43] roryabraham commented on #1439
@laurenreidexpensify [This proposal](https://github.com/Expensify/Expensify.cash/issues/1439#issuecomment-775892355) seems out-of-date, since we already have a [Hoverable](https://github.com/Expensify/Expensify.cash/tree/master/src/components/Hoverable) component in Expensify.cash.

Also, the solution references CSS, and just to be clear we use plain Javascript objects and React Native style props

[2021-02-11 00:13] tugbadogan commented on #1446
Hi @Dal-Papa ,
I would like to work on this issue. Here is my proposal:

I found that we are making an API request to fetch personal details like `avatar` and `full name`.
https://github.com/Expensify/Expensify.cash/blob/79e7f28ed5d954204f6ba8da8c61c03ce93e1828/src/libs/actions/PersonalDetails.js#L151-L176

It looks like we are updating `avatars` for each report but we're not updating `reportName`

[2021-02-11 00:19] tugbadogan commented on #1446
I also applied through Upwork. My Upwork name is Fadime Tugba Oge.

[2021-02-11 02:58] parasharrajat commented on #1439
@roryabraham  I realized that we already have `Hoverable` component so I mentioned that in my next comment. By CSS I meant the style prop itself.
## Updated Proposal
 1. As we already have Hoverable Functionality so We just need to use the `Hoverable Component` to wrap over rows in LHN.
 2. Now based on the `hovered` prop on the child function, we can update the style of the underlying `View` wher

[2021-02-11 16:46] #1448 closed

[2021-02-11 17:23] roryabraham commented on #1439
Yes, all of the above, feel free to submit the PR. Also note that you should add some color constants to the default theme in `src/styles/themes/default` like `hoverComponentBG: colors.gray1` and `activeComponentBG: colors.gray2` and reference those in your styles.

[2021-02-11 17:47] sakluger opened #1458 "Update :hover/:focus/:outline border color for text inputs"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

Upwork Job: https://www.upwork.com/jobs/~01db974a75a3feab77

**Platform - version:**
Desktop, Web

**Action Performed (reproducible steps):**
When focusing into a form field on either the homepage or Search, the outline color for the text fi

[2021-02-11 17:56] parasharrajat commented on #1439
Ok. Thanks. I don't would be needing to add a new variable as the one we need is already there. But I can update the PR as per the feedback.

[2021-02-11 18:17] parasharrajat commented on #1439
@shawnborton BackgroundColor of NewChat and NewGroup Page is `#fff`. So what should be the hover effect for these pages.
![image](https://user-images.githubusercontent.com/24370807/107680107-727ab900-6cc3-11eb-8de2-1a62bc8341d6.png)

[2021-02-11 18:26] shawnborton commented on #1439
I think those should use `gray1` as a hover color.

Thinking through this some more... we have `componentBG: colors.white`, so maybe it makes sense to have `componentBGHover: colors.gray1` - this should work for all of the items in the rightDocked modal where we have a white background.

Then since we have `sidebar: colors.gray1` maybe it makes sense to have `sidebarHover: colors.white` - this wou

[2021-02-11 18:26] roryabraham commented on #1439
@parasharrajat Not sure if you misunderstood my last comment, but all our colors in Expensify.cash come from [here](https://github.com/Expensify/Expensify.cash/blob/97ab9fe2e0ac0c9b2cfc14b433ce1f45426d348b/src/styles/themes/default.js). Please update this file to add two new fields:

[code]

[2021-02-11 18:29] parasharrajat commented on #1439
I like it. Let's do it this way.

[2021-02-11 18:48] parasharrajat commented on #1439
We need to update the `OptionRow` Component to be able to change styles in different locations. I am wondering what would be a good way to do it.
1. Pass a style prop `hoverStyle`. OR
2. Use `getOptionStyles.js` file and take the styles from there. For this as well, we need to pass a prop for identifying the placement.

[2021-02-11 18:57] roryabraham commented on #1439
I would go with (1), just pass a `hoverStyle` style prop

[2021-02-12 15:13] jboniface opened #1466 "Set up Electron with hot reload"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

view the job on upwork [here](https://www.upwork.com/jobs/~01f880574c4fd035fb).

# Problem
When developing the Expensify.cash for desktop, you need to rebuild the application in order for your changes to take effect.

# Why is this important

[2021-02-12 15:46] parasharrajat commented on #1466
## Proposal

We can start by adding this code
[code]
Into the `desktop/main.js` file. I think it covers fairly every module and Renderer process as well.
So the whole business logic resides in the Renderer process which will be covered so this will work fine.

Applied on Upwork as Rajat Parashar as well.

[2021-02-12 17:26] roryabraham commented on #1466
@parasharrajat Proposal looks good. I've never used `electron-reloader`, but from what I've read this looks correct. Just one caveat: we'll just want to make sure that we only require `electron-reloader` as a dev dependency (and only use it in the dev environment). That will mean we'll need to set `NODE_ENV=development` to the environment whenever running `npm run desktop`, which should just be an

[2021-02-12 17:29] parasharrajat commented on #1466
yeah Sure, I will add it and we will only require the Package in the dev environment.
Something like this
[code]

[2021-02-12 17:33] #1439 closed

[2021-02-14 07:49] bullseye405 commented on #1040
We could use [rn-fetch-blob](https://github.com/joltup/rn-fetch-blob) or
[react-native-fs](https://github.com/itinance/react-native-fs)

Using this, we can create a small component, put that component next to the close button and use the download icon ( which is in png, should we not use a svg? ) to download the file

[2021-02-14 17:28] tugbadogan commented on #1283
Hi @NicMendonca, I created a pull request on top of the most recent UI changes. I fixed this issue and removed redundant regex patterns from the code.

[2021-02-14 19:14] tugbadogan commented on #1458
Hi @sakluger,

I'd like to work on this issue if it's still available.

### Proposal

I found a function called `addOutlineWidth` and I can use it for removing outline from text inputs on web and desktop platforms. On search input, we're using `textInputReversed` for `styleFocusIn` prop of `TextInputWithFocusStyles`.
https://github.com/Expensify/Expensify.cash/blob/eaba9026a62fcfe355591af578f41e53

[2021-02-15 01:25] Christinadobrzyn opened #1475 "[Chat] Web - 1.0.1-330 - Clicking on a user without Add button creates a group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  Expensfy cash Version 1.0.1-326 (1.0.1-326)

**Action Performed (reproducible steps):**

Title:
WEB- Chat.Exp- R0801021 - Chat - Clicking on a user without Add button creates a group

Action Performed:

Log in in cha

[2021-02-15 01:31] rafidakygn commented on #1475
Hello, i would like to pick up this issue.

[2021-02-15 09:54] laurenreidexpensify opened #1476 "Markdown link eats end parenthesis"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  All - reproducible on v1.0.1-439

**Action Performed (reproducible steps):**
- Log into https://expensify.cash/
- Start chatting with another user
- Send a message in parenthesis with a hyperlink in markdown that has

[2021-02-15 10:01] laurenreidexpensify commented on #1476
Please apply to this Upwork Job if you would like to work on this issue https://www.upwork.com/jobs/~01ae2d6aaafe3cc526

[2021-02-15 10:14] laurenreidexpensify commented on #1366
Confirmed no regression - had Paid @parasharrajat

[2021-02-15 11:50] parasharrajat commented on #1383
Is this issue on Hold? If not, Can I work on this one, I see it's been sometime it's unassigned? I already submitted a proposal above.

[2021-02-15 20:38] minbaghdasaryan commented on #1476
Dear Expensify Team

I have reviewed the issue and the source code, and checked out the followings.

- `Report_AddComment` is used to send a message
- The message is converted html content by [ExpensiMark.parser](https://github.com/Expensify/expensify-common/blob/master/lib/ExpensiMark.js) and passed to `Report_AddComment` request as a param.
- The message can contain a number of URLs or URLs can

[2021-02-16 01:21] Christinadobrzyn commented on #1475
Hi @rafidaky! Thank you for picking this up!

Talking to my teammate, it sounds like we recently made an update to the chat app that fixed this issue of the Add buttons and group chats. So this fix is resolved and no longer needs resolution.

Thank you for jumping in on this but it sounds like this issue is already resolved. Closing this issue for now.

[2021-02-16 01:21] #1475 closed

[2021-02-16 04:08] marcaaron commented on #1452
Taking this one off hold now as the nvp changes have been added.

[2021-02-16 17:04] stephanieelliott opened #1481 "Message previews show encoded versions of characters"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
All platforms, v. 1.0.1-442

**Action Performed (reproducible steps):**
1. Open two instances of expensify.cash: `Account A` (on any platform) and `Account B` (on either a web browser or the mobile app and not the des

[2021-02-16 17:20] stephanieelliott commented on #1481
Please apply to this Upwork Job if you would like to work on this issue:
https://www.upwork.com/jobs/~01cbd1c35c26999772

[2021-02-16 17:25] parasharrajat commented on #1481
I would like to fix this.
## Proposal
use `_.unescape` from underscore here
https://github.com/Expensify/Expensify.cash/blob/7c138786bf23625b3ba995c5dcf8406c71d57229/src/libs/actions/Report.js#L137-L158.

It will render the correct text in the preview. Applied on Upwork as well via Rajat Parashar.

[2021-02-16 18:11] jboniface opened #1482 "Setting password via /setpassword signs in user. Does not generate re-authentication credentials."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

view the job on Upwork [here](https://www.upwork.com/jobs/~01ccfce466ee66ebaf).

**Platform - version:**
Current

# Problem
It doesn't seem like we are generating re-authentication credentials when a user hits `https://expensify.cash/setpass

[2021-02-16 18:17] arielgreen commented on #1452
Posted to [Upwork](https://www.upwork.com/jobs/~01b01001662f67d2ef).

[2021-02-16 21:34] arielgreen commented on #1040
Looks good @bullseye405, please proceed with your PR.

@shawnborton is png correct or should the icon be svg format?

[2021-02-16 23:24] anthony-hull commented on #1482
For this issue I would refactor the functionality into a new function in the Session.js action file and call that from within the signIn and setPassword functions, making it re-usable and keeping the code DRY. This is to all setPassword to set up the re-authentication credentials for when the token expires without reproducing the code from the signIn action.

I would first try to re-produce the "a

[2021-02-17 00:31] arielgreen opened #1488 "Improve clarity of unread indicator in favicon"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  Web 1.0.1.297

**Action Performed (reproducible steps):** Have an unread chat

**Expected Result:** The unread indicator on the favicon should be noticeable

**Actual Result:** It is very very easy to miss the unread

[2021-02-17 00:33] Dal-Papa commented on #1446
@tugbadogan : Let's do this ! We are waiting for confirmation on UpWork.
In the meantime, we also realized that the images of the avatars were also delayed when creating a new group so hopefully fixing this issue should fix that too.
_Sorry for the delay, we were consolidating a few issues together_

[2021-02-17 11:21] laurenreidexpensify commented on #1476
Thanks @minbaghdasaryan the team is reviewing this

[2021-02-17 11:28] laurenreidexpensify opened #1490 "Expensify chat - web/desktop, when hovering over a user's name anywhere, show their primary login details"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Deliverable:**
On web/desktop, when hovering over a user's name anywhere, show their primary login. This includes:

- In the header of a DM (whether single or group)
- In the chat itself (ie, the header of a new comment line)
- The chat ro

[2021-02-17 12:31] tugbadogan commented on #1488
Hi @arielgreen,

I would like to work on this issue. Here is my proposal:

I found that `CONFIG.FAVICON.UNREAD` is used when there is an unread message.

https://github.com/Expensify/Expensify.cash/blob/eaba9026a62fcfe355591af578f41e533496af0e/src/libs/UnreadIndicatorUpdater/updateUnread/index.website.js#L11-L15

https://github.com/Expensify/Expensify.cash/blob/257518b71ebd9687e733bcc777e0f07a10fd

[2021-02-17 12:36] parasharrajat commented on #1488
## Proposal
The main logic to update the favicon reside here
https://github.com/Expensify/Expensify.cash/blob/88a0c5e8f137b08c273aa7926e5326a621dd8eca/src/libs/UnreadIndicatorUpdater/updateUnread/index.website.js#L11-L15
Which takes the favicon url from the CONFIG Keys.
https://github.com/Expensify/Expensify.cash/blob/88a0c5e8f137b08c273aa7926e5326a621dd8eca/src/CONFIG.js#L48-L51.

For now, we hav

[2021-02-17 13:38] tugbadogan commented on #1446
Hi @Dal-Papa,

I've created PR for name displaying issue in existing chats.

I couldn't reproduce avatar issue while creating a new group. I couldn't create more test accounts because I'm getting "Github username doesn't exist" error. How can I create more test users to reproduce this issue?

[2021-02-17 14:35] parasharrajat commented on #1490
## Proposal
1. We will use the `Tooltip` component to wrap the report Titles.
2. Due to the header text is taking the full width of its parent we need to wrap such text into a wrapper view with `flex-direction: column` to adjust the Tooltip position.
[code]

3. Now the issue is that Tooltip adds two wrappers on the nodes which block text-clipping.

   ### There are two things we need to care of.

[2021-02-17 17:07] marcaaron commented on #1482
Plan sounds good. We can reproduce an `authToken` expiring by modifying the `localStorage` key `session` and deleting some characters from `session.authToken` - tapping on a new chat or trying to take any API action should in this case not log you out but refresh the token instead.

https://user-images.githubusercontent.com/32969087/108240312-d13e9900-70ee-11eb-8125-abd62723111d.mp4

[2021-02-17 17:11] marcaaron commented on #1476
@minbaghdasaryan I'm a little unsure of which direction you are proposing to take here

To clarify, are you proposing that we must make a change to `ExpensiMark` or something else?

[2021-02-17 17:15] minbaghdasaryan commented on #1476
Hi @marcaaron
Thanks for reviewing my proposal. I tried to preprocess the message before it is passed into ExpensiMark.parser and I have succeed to fix the issue. We don't need to make changes to `ExnpensiMark` or `Report_AddComment`.

[2021-02-17 17:21] marcaaron commented on #1476
Thanks, can you please tell me what is meant by preprocess and where are we preprocessing?

I think we would prefer a solution where the regular expression in `ExpensiMark` is fixed to account for the `/`, but maybe I am missing why this is not ideal or possible. A few apps are relying on this library so if we do not fix it in `ExpensiMark` I'd worry we must "preprocess" everywhere it is used. Let

[2021-02-17 17:51] NikkiWines opened #1492 "[User Settings] Implement new Profile view"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!

___

We're adding a new profile view that will display a right-docked modal with a user's avatar, primary login, as well as their first name, last name, pronouns, and timezone (as applicable, depending on what data the user has filled out. This

[2021-02-17 17:53] NikkiWines opened #1493 "[User Settings] Implement Settings Menu Selectors"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

We need to update the existing Settings page to include four new menu items that will link to new sub-pages. When one of the menu items is selected, a new view should appear with the title of the menu item selected.

In addition to the title

[2021-02-17 17:57] shawnborton commented on #1493
Just leaving a note that the rows here should use the same style as the global create menu (green "+" button):
![image](https://user-images.githubusercontent.com/2319350/108246628-f0badd80-7151-11eb-89b2-5b79f7f717d9.png)

Meaning, they should have the same padding, icon size, and font size. We might want to DRY up how that component is used if it's going to be a shared style.

[2021-02-17 17:59] shawnborton commented on #1493
Working on the icons now and will post them shortly.

[2021-02-17 18:07] minbaghdasaryan commented on #1476
We can fix the issue by updating `ExpensiMark` in `expensify-common` node module. I thought that `ExpensiMark` is used everywhere, but I can't confirm same issue happens everywhere `ExpensiMark` is used, and that's why I worried making changes on `ExpensiMark` will break expected behavior on other places where `ExpensiMark` is used. Thanks for letting know and I can fix the issue forward by fixing

[2021-02-17 18:12] marcaaron commented on #1476
Yep, we have some tests in place so as long as the tests continue to pass and we write a new test to cover this case we should be good.

[2021-02-17 18:18] minbaghdasaryan commented on #1476
Should I fork [expensify-commmon](https://github.com/Expensify/expensify-common), create own branch, fix the re string and send pull request?

[2021-02-17 19:05] shawnborton commented on #1493
What are your thoughts on using a wallet icon instead of cash for "Payments"?
![image](https://user-images.githubusercontent.com/2319350/108254607-8444dc00-715b-11eb-90c6-62d05a6bea72.png)

[2021-02-17 19:06] NikkiWines commented on #1493
Looks great to me!!

[2021-02-17 19:08] shawnborton commented on #1493
Here are the icons:

[UI_Icons.zip](https://github.com/Expensify/Expensify.cash/files/5998018/UI_Icons.zip)

[2021-02-17 19:11] NikkiWines commented on #1493
Great, thank you @shawnborton!! Taking this off hold!

[2021-02-17 19:45] laurenreidexpensify commented on #1476
@minbaghdasaryan feel free to take a look at the [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) to get started on that PR - feel free to ask any questions in the Slack channel

[2021-02-17 19:57] NikkiWines opened #1496 "[User Settings] Add new Payments view"
Having added four new menu items to the Settings page, we now need to begin linking those menu items to actual pages.  This issue pertains to the `Payments` page.

The Payments view will be displayed when the "Payments" menu item is clicked. It will display a header with a left-facing arrow on the left-hand side, a title, and an `X` button to close the view on the right-hand side. The view will co

[2021-02-17 20:54] minbaghdasaryan commented on #1476
Thanks @laurenreidexpensify
I will send PR on [expensify-common](url) repository soon.

[2021-02-17 21:41] aliabbasmalik8 commented on #1481
[code]

[2021-02-17 23:20] arielgreen commented on #1488
Thanks for the proposals! @tugbadogan please proceed with your PR.

[2021-02-17 23:25] marcaaron commented on #1383
Proposal looks good @parasharrajat. I don't think we need to worry about `3`.

[2021-02-17 23:32] marcaaron commented on #1385
Hey @parasharrajat thanks for creating this issue. Just a heads up we will need a reproduction in order to get it prioritized and assigned. Do you know what you did to make this happen?

[2021-02-18 00:34] tugbadogan commented on #1452
Hi @marcaaron @arielgreen ,

I would like to work on this issue. Here is my proposal:

I'm planning to add picker view above `Sign Out` button here.
https://github.com/Expensify/Expensify.cash/blob/4d15b34115bae14fe14fa46aa3e93ea9ff8726c3/src/pages/SettingsPage.js#L80-L87

I found that you’ve already implemented the function to call the API method for storing user preference in the server. When us

[2021-02-18 00:53] Christinadobrzyn opened #1498 "Add a "last unread" indicator for reports"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform** - version: web, ios, android, desktop - version number Version 1.0.1-444 (1.0.1-444)

**Action Performed:**

- Create a group chat in e.cash desktop, web, ios, android
- Send a message to the group chat
- Go offline
- Come back

[2021-02-18 01:11] Christinadobrzyn commented on #1498
Extenal Upwork post - https://www.upwork.com/jobs/~0168a5128a533e2505
Internal Upwork job post - https://www.upwork.com/ab/applicants/1362207152733396992/job-details

[2021-02-18 02:30] AlishahSolanki commented on #1492
@NikkiWines I am interested to work on that, can you connect on Upwork with me I have already sent a proposal.

[2021-02-18 04:21] kadiealexander opened #1500 "Padding and alignment on compose field for iOS looks misaligned"
**Platform - version:**
iOS 14
iPhone X

**Action Performed (reproducible steps):**
Open expensify.cash and login. Observe the **Compose** box. The text inside of the compose box is misaligned. It is not vertically centered.

**Expected Result:**
I would expect the text to be vertically aligned within the compose area. See below, it is sitting too low in the box.

**Actual Result:**
![image](https

[2021-02-18 04:41] kadiealexander commented on #1500
Upwork listing: https://www.upwork.com/jobs/~01c80596a92bad7845

[2021-02-18 13:07] anthony-hull commented on #1452
I will first update the settings page to include the picker component. I will then initially test it working on iOS, Android, Web and Desktop.

I will then send the updated preference to Onyx and and the backend verify this is changing in Local Storage. I will check it persists via clearing the local storage and logging back in and checking the key.

I will then add the ONYXKEYS.PRIORITY_MODE to t

[2021-02-18 16:17] #1488 closed

[2021-02-18 17:27] marcaaron commented on #1452
@tugbadogan Thanks for the proposal. It looks great, but we have a few issues assigned to you already so going to give @anthony-hull a crack at this :)

@anthony-hull Thanks for the notes, I'll address your questions now.

If we are applying an alphabetical sort then we really don't need to bother with the existing sorting options. We could go the route of an enum, but keep in mind that we are sor

[2021-02-18 17:28] parasharrajat commented on #1385
I think it's a serious issue. So I have recorded a video. Let me know What I can do to help you reproduce this.
#### Browsers
Chrome, Firefox.

https://user-images.githubusercontent.com/24370807/108396250-a6faf180-723c-11eb-937d-fe15f1b6b4bf.mp4

[2021-02-18 17:42] marcaaron commented on #1385
Ah thanks for the video. We are actually aware of this issue and it must be fixed on the API side (so the issue is not fixable in the front end). It's specific to group chats with "Concierge" as a participant. For single participant chats you'll maybe see this doesn't happen.

[2021-02-18 17:42] #1385 closed

[2021-02-18 18:22] puneetlath opened #1503 "Update desktop app title bar style"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___
Upwork posting: https://www.upwork.com/jobs/~0156d292c1f9d2ed43

**Platform - version:**
Mac Desktop app

**Current:**
Right now this is what the title bar looks like on the mac electron app.
![image](https://user-images.githubusercontent.com

[2021-02-18 21:18] jboniface opened #1508 "[IOU] Make CreateMenu dynamic, add launch Modal options"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

view the job on Upwork [here](https://www.upwork.com/jobs/~014db3f8a95478ac7f).

**Platform - version:**
current

**Deliverables:**

This issue builds on top of the existing [CreateMenu](https://github.com/Expensify/Expensify.cash/blob/maste

[2021-02-18 22:14] parasharrajat commented on #1383
So it seems that we have to use our own CSS rules to modify the designs as `react-pdf` does not provide the styling like the old pdf viewer. Any inputs here.
I am planning to put the basic styling same as the old PDF viewer into a global CSS file to modify the PDF look.

To adjust the width we can use the `useWindowDimensions` and then set the width of the page.

What should the breakpoints and th

[2021-02-18 23:55] aliabbasmalik8 commented on #1500
Just remove `alignSelf: 'center',`  from this style object `textInputCompose` that located in styles/styles.js
<img width="1174" alt="Screen Shot 2021-02-18 at 11 54 00 PM" src="https://user-images.githubusercontent.com/31027036/108437173-b4b47500-7244-11eb-9c2e-f0bc757ab83b.png">

[2021-02-19 00:07] puneetlath commented on #1341
@parasharrajat can you think of a way FlatList could implement this functionality that wouldn't require inverting the order of the dom elements?

[2021-02-19 00:16] puneetlath commented on #1341
@anthony-hull pointed out that this also creates an accessibility issue: https://github.com/facebook/react-native/issues/30373

[2021-02-19 00:19] anthony-hull commented on #1482
I'm having trouble using the setPassword flow here:
http://localhost:8080/#/setpassword/
I requested a reset link from expensify.com and took the token from the end of the URL I was emailed by concierge. The first time I used it I set the password to my current password. It then send me back to the login page and also my console showed around 10s to 100s of get calls with app version numbers in th

[2021-02-19 00:29] marcaaron commented on #1482
Are you able to share a screen shot of this?

[2021-02-19 00:45] anthony-hull commented on #1482
Apologies no. I'll try to reproduce it tomorrow. I'm signing off for the
night.

On Fri, 19 Feb 2021 at 00:29, Marc Glasser <notifications@github.com> wrote:

[2021-02-19 00:45] marcaaron commented on #1383
I would maybe pause on adding any CSS for now and we can loop in @shawnborton to help advise on the styles.

Is there any sort of default look to it at all with styling?

By CSS do you mean actual `.css` file or can we add inline styles like we do for most other `react-native/react-native-web` components?

[2021-02-19 03:18] dc-brian commented on #1492
@NikkiWines
can you let me know one credentials?
https://prnt.sc/100dwaw
I tried to signup from the link of email
but it is showing this error
https://prnt.sc/100dx5l

[2021-02-19 04:39] kadiealexander opened #1513 "[Improvement] Populate cursor to compose box after chat has been selected"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  Desktop v.435

**Action Performed (reproducible steps):**
- `command+k` to access new Right Hand Nav search
- select user

**Expected Result:**
Once user is selected, cursor is selected in the compose box and I shoul

[2021-02-19 04:48] kadiealexander commented on #1513
https://www.upwork.com/jobs/~0108bdfefe7669a1ed

[2021-02-19 08:27] shawnborton commented on #1500
@aliabbasmalik8 can you confirm that your proposed change will not break other platforms as well?

[2021-02-19 08:57] minbaghdasaryan commented on #1476
Hi @laurenreidexpensify @marcaaron
Here is my PR: https://github.com/Expensify/expensify-common/pull/335

[2021-02-19 09:27] aliabbasmalik8 commented on #1500
yes, because this style object `textInputCompose` used only one place in the App

[2021-02-19 09:37] aliabbasmalik8 commented on #1500
Here is an updated solution that tested on web app as well as mobile devices
We need to import
`import { Platform } from 'react-native';` at the top of `src/styles/styles`
and add this code in `textInputCompose` style Object
`...Platform.select({
            web: {
                alignSelf: 'center',
            }
        }),
        `
![image](https://user-images.githubusercontent.com/31027036/1

[2021-02-19 09:44] anthony-hull opened #1514 "Typo in passing props to PDF in PDFView component"
https://github.com/Expensify/Expensify.cash/blob/309a1308693c1e73f2632c9654a0f73c90aa5267/src/components/PDFView/index.native.js#L39

[2021-02-19 09:55] shawnborton commented on #1500
@marcaaron curious for your thoughts on the above... I know we try to avoid platform-specific instances like the above proposal, but I'm not sure how else to solve for this one.

[2021-02-19 10:11] parasharrajat commented on #1514
Nice I will fix it in my PR for #1383

[2021-02-19 10:19] parasharrajat commented on #1341
@puneetlath This issue is not with the FlatList. It is just a wrapper but more of the VirtualizedList and ScrollView underneath. And this is not really an accessibility issue. FlatList is made for the purpose of mobile devices so inversion logic is correct. Why would they create two-dimensional renderings if they do not need to? So they are not fixing this issue. It's been there for years now.

 Y

[2021-02-19 13:50] anthony-hull commented on #1482
I wasn't able to reproduce this today. I was able to complete the change password flow however. I think it was because I had cleared the local storage and so didn't have an email set which is required for the setPassword to work as the reset page doesn't ask the user to enter one for the form.

When I force the expiry error from the API by corrupting the token as marcaaron suggested, The user is l

[2021-02-19 14:26] anthony-hull opened #1517 "When setting an unacceptable password the error message doesn't fit user's expectation"
**Platform - version:**
Web

**Action Performed (reproducible steps):**
trigger password reset
make sure you're logged out
navigate to here: http://expensify.cash/#/setpassword/[code here]
make sure you have credentials.login key set to your email address in local storage
send a weak password

**Expected Result:**
An error that makes sense to the user's action and context

Requirements to be shown

[2021-02-19 17:23] marcaaron commented on #1482
Can you confirm what actions you took + provide screenshots of your `localStorage` `credentials` key?

[2021-02-19 17:27] marcaaron commented on #1500
Yes, well there is nothing wrong with having a platform specific implementation. It just needs to follow the guidance [here](https://github.com/Expensify/Expensify.cash/blob/master/README.md#platform-specific-file-extensions) as we have decided to avoid using `Platform` in the code. Instead we'd add something like this:

[code]

[2021-02-19 17:45] aliabbasmalik8 commented on #1500
Got it. so updated solution according to guidance is here
Added textInputAlignSelf utilities like this

![image](https://user-images.githubusercontent.com/31027036/108541212-14a92b00-72da-11eb-82d6-3bd15d975ab2.png)

and import at top
`import textInputAlignSelf from './utilities/textInputAlignSelf';`
and updated `textInputCompose` style object like this

![image](https://user-images.githubusercont

[2021-02-19 18:05] NicMendonca opened #1520 "Return cursor to the compose box after image uploads"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  Desktop v.427

**Action Performed (reproducible steps):**
Image pasted into compose box then uploaded
After uploading, cursor was not in compose box

Here's a vid showing how the cursor doesn't return to the compose

[2021-02-19 18:08] anthony-hull commented on #1482
the content of the key is: `{"password":"*******"}`
![image](https://user-images.githubusercontent.com/47184118/108543765-699a7080-72dd-11eb-8906-0072ef77de8c.png)

The * represents the password I entered in the set password box.

The steps are:
Trigger password reset on expensify.com for your account.

1. Make sure you are logged out.
2. Navigate to: http://expensify.cash/#/setpassword/[code from

[2021-02-19 18:20] NicMendonca commented on #1520
https://www.upwork.com/jobs/~01c163fc4b6baa90c5

[2021-02-19 18:23] laurenreidexpensify commented on #1476
Awesome thanks @minbaghdasaryan - someone from our team will review the PR shortly 👍🏽

[2021-02-19 18:24] marcaaron commented on #1482
Are you looking at JS console logs... do you see that there is a failing attempt to reauthenticate or any kind of error? This might be due to a recent change we made, but doesn't change the scope of this issue - which is to make sure the user's session remains authenticated.

Right, this should not happen

[2021-02-19 18:41] anthony-hull commented on #1482
The console just spouted this:
react_devtools_backend.js:2430 Could not get betas
{jsonCode: 407, title: "Session expired", message: "Your session has expired. Please sign in again.", requestID: "085d2825d600004083f68cf000000001"}
jsonCode: 407
message: "Your session has expired. Please sign in again."
requestID: "085d2825d600004083f68cf000000001"
title: "Session expired"

Also in the network tab

[2021-02-19 18:46] marcaaron commented on #1482
yep, we should not see that. After calling `setPassword()` the user should be able to re-authenticate.

[2021-02-19 18:46] anthony-hull commented on #1482
Apologies I'm multitasking. I didn't answer your question.
I can't see any attempts to authenticate

[2021-02-19 18:56] anton-z2021 commented on #1520
@NicMendonca

I checked the issue.
If this problem is only happening on desktop version then there is only way to put focus manually after uploading media using pure JavaScript.
Let me try what I can do.

[2021-02-19 19:08] marcaaron commented on #1482
you'd have to step through the code with a debugger to see this process happen :)

[2021-02-19 19:18] marcaaron commented on #1500
yep, you got it

[2021-02-19 19:43] anthony-hull commented on #1482
Now it reauthenticates with my PR so this shouldn't happen anymore.

Should I open an issue for not being redirected to login if there isn't any credentials to reauthenticate with?

[2021-02-19 20:01] marcaaron commented on #1482
I think this is a scenario that should theoretically never happen so it's not a real issue unless we are experiencing some negative effects from it.

[2021-02-19 20:29] anthony-hull commented on #1482
ok great. That was my original question, apologies if I confused the
matter.
thanks for your input :)

On Fri, Feb 19, 2021 at 8:01 PM Marc Glasser <notifications@github.com>
wrote:

[2021-02-19 20:30] dharammachra opened #1524 "On Login screen use email keyboard type and disable auto complete"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

Platform - iOS version: v1.0.1-452

Action Performed (reproducible steps):

On Login screen when user enter the user name,
email keyboard is not showing and auto complete is enable.

<img width="339" alt="Auto correction" src="https://user-i

[2021-02-19 20:41] yalcinozer commented on #1520
Hi,

I think you will get the result you want if you use the focus method of this.textInput ref.

`<AttachmentModal
                        title="Upload Attachment"
                        onConfirm={(file) => {
                            addAction(this.props.reportID, '', file);
                            this.setTextInputShouldClear(false);
                            this.textInput.focus();

[2021-02-19 20:41] roryabraham commented on #1490
I'm not sure I follow why this is necessary. The tooltip should be centered on its children, so if the child is a text element it should be centered on the text.

Again, could you explain this problem in a bit more detail?

Why not just give the tooltip a default style of `max-width: 100%`?

I've experienced the z-index problem you've describe before (and come up with a different solution), but I'

[2021-02-19 20:43] roryabraham commented on #1490
Generally it looks like you've thought out your proposal pretty thoroughly, but you maybe just need to do a better job explaining the base solution. Then for each additional change, make it more clear the problem you're trying to solve, and we can then discuss the best solution.

[2021-02-19 21:01] aliabbasmalik8 commented on #1520
The solution is add `this.textInput.focus();` in `setIsFocused` function in `src/pages/home/report/ReportActionCompose` file
I tested on web and it's worked.

![image](https://user-images.githubusercontent.com/31027036/108560912-5abfb800-72f5-11eb-9e12-ec126aa4105a.png)

[2021-02-19 21:34] AndrewGable commented on #1524
cc @Expensify/contributor-management - Thoughts on this issue?

[2021-02-19 21:47] puneetlath commented on #1524
I think that makes sense. The `email` keyboard time seems to basically be the `default` keyboard with an @ symbol. This input can take phone numbers or email addresses, but I can't think of a better [keyboard type](https://lefkowitz.me/visual-guide-to-react-native-textinput-keyboardtype-options/) to use.

cc @sylveawong since you're working on the login stuff.

[2021-02-19 21:47] jboniface opened #1526 "[IOU] Add isAppInstalled logic to Expensify.cash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

view the post on Upwork [here](https://www.upwork.com/jobs/~0152f89613f3e316fe).

**Platform - version:**
current

We require a method of detecting installed apps for the Expensify.cash app on Android & iOS.

1. Install and implement the [re

[2021-02-19 21:54] parasharrajat commented on #1490
@roryabraham . My bad explaining it.

https://github.com/Expensify/Expensify.cash/blob/380a148fdd47ce4c37e07ce647e1d9d31af8eb88/src/components/Header.js#L18-L24
the Text element is rendered as a div on the web which takes the full available width in flex parent. so my bad here. we can simply set the parent View as flex-direction: row and set the tooltip max-width: 100%.
[code]

it adds two wrapper

[2021-02-19 22:45] roryabraham commented on #1490
Okay, thanks for the explanation, proposal looks good. Just a couple things:

For what its worth, this was the original implementation I used for the `Hoverable` component, but I was convinced to not do it that way in order to reduce complexity and because there's no real reason to enforce that it has only one child. Now that there's a clear reason to _not_ add an additional view, I might suggest

[2021-02-19 22:57] parasharrajat commented on #1490
I don't think that will there be a case where we need to add two direct children to the Hoverable. Then it would mean that hovering over two at a time, Not Good in Tree-based Dom(Hover state should link to only one node in DOM context https://html.spec.whatwg.org/multipage/semantics-other.html#selector-hover). There will always be a parent who gets hover if we need both children to have the hover

[2021-02-19 23:49] aliabbasmalik8 commented on #1513
Here is the solution to this issue,
I tested on the web and it's work properly

![image](https://user-images.githubusercontent.com/31027036/108573605-f90b4800-730c-11eb-8dc5-0b816f1c341c.png)

[2021-02-20 00:01] marcaaron commented on #1490
Sorry just catching up but I'm still stuck on this statement and wondering if we are overthinking the problem to compensate for this assumption here...

It makes sense to not give it a style by default, but if you need to set some styles on the `View` to achieve some result it seems reasonable to allow. If we pass a style to `Tooltip` can this solve the issue?

[2021-02-20 00:15] parasharrajat commented on #1490
Yeah. @marcaaron. We just need to set the max-width for the text to clip in most of the cases.

[2021-02-20 09:02] Maftalion commented on #1526
Hello, I'd like to take on this task.

The technical explanation is pretty straightforward above so I'll be following those steps and making sure the platforms are set up correctly. it looks like there might be issues with this package though so i'll be sure to test it out and confirm it's working: https://github.com/redpandatronicsuk/react-native-check-app-install/issues/23

**Question**
- `check

[2021-02-20 09:59] SameeraMadushan commented on #1526
Hi,
I submitted a proposal on Upwork regarding this issue.

The provided deliverables are pretty much clear and I'm sure can do the task.

Since you have used `"react-native": "0.63.3"` this library needs some fix with auto-linking. I can fix that issue with `react-native.config.js `

This library does support only a few apps for both platforms. (https://github.com/redpandatronicsuk/react-native-c

[2021-02-20 16:38] anthony-hull commented on #1452
Do you wish this to change the setting onChange or to have a save button?
Do you want any kind of feedback to the user that it has saved?
If you want a save button, what do you want to happen if the user tries to close the settings page without saving changes?

[2021-02-20 19:27] #1466 closed

[2021-02-21 06:37] aliabbasmalik8 commented on #1526
We can do this JOB with Deep Linking [](https://reactnative.dev/docs/linking) I tested it on IOS and it's worked for me.
Here is the source code

created helper function `isAppInstalled`  in `libs` folder

![image](https://user-images.githubusercontent.com/31027036/108617473-9306e980-740e-11eb-88b3-7d2606109bbd.png)

 Add an array of `LSApplicationQueriesSchemes` in info.plist

![image](https://us

[2021-02-21 06:46] eneskarpuz1 commented on #1503
My proposal;
1.Remove existing titleBar with setting "frame:false" on BrowserWindow from desktop/main.js.
[code]
2.Creating new titleBar with dynamic html which contains styling,hover and drag listener to web/index.html, which is renderer of electron.
[code]
3.This titlebar only will be rendered on desktop using browser conditions.
[code]
4.Button functions(window.maximize() etc.) will be applied

[2021-02-21 07:06] eneskarpuz1 commented on #1503
Hi @puneetlath,
I would like to work on this issue and I submitted a proposal on Upwork regarding this issue.

Here is my proposal;
1- I will remove existing titleBar with setting "frame:false" on BrowserWindow from desktop/main.js.
[code]
2- Creating new titleBar with dynamic html which contains styling,hover and drag listener to web/index.html, which is renderer of electron.
[code]
3- This title

[2021-02-21 11:00] dharammachra commented on #1524
@AndrewGable @puneetlath  - I am attaching the Linked in keyboard type for your reference. Linked in also have same input user name and mobile number, so we can use same keyboard type here.

![IMG-8402](https://user-images.githubusercontent.com/368119/108622882-c3c43e80-7461-11eb-8d18-50c9c54eb628.PNG)

[2021-02-21 11:03] dharammachra commented on #1524
@AndrewGable @puneetlath
![IMG-8402](https://user-images.githubusercontent.com/368119/108622996-73011580-7462-11eb-8ebc-9e29bc3411a3.PNG)
 I am attaching the Linked in keyboard type for your reference. Linked in also have same input user name and mobile number, so we can use same keyboard type here.

[2021-02-21 11:09] dharammachra commented on #1524
@AndrewGable @puneetlath -   I am attaching the Linked in keyboard type for your reference. Linked in also have same input user name and mobile number, so we can use same keyboard type here.

![IMG-8402](https://user-images.githubusercontent.com/368119/108623148-60d3a700-7463-11eb-9a54-5dac64ab13a5.PNG)

[2021-02-21 17:27] anthony-hull commented on #1452
I have completed the logic and (almost all) styling on the web and android version based of the assumption you want the key updated onValueChange.

I ran into an issue with iOS that the picker library takes up a lot more space than in the designs and works differently to s drop down. Please look on the project page at the iOS and PickerIOS screenshots.

I found an alternative:
https://github.com/l

[2021-02-21 21:14] puneetlath commented on #1503
As we discussed in slack, I think the ideal would be to make this a `component` which only gets rendered on Desktop by putting it in a `index.desktop.js` file. Rather than by editing the HTML and using browser conditions.

[2021-02-21 21:23] ilijaprzeski commented on #1503
Ok, got it.

[2021-02-22 03:50] Maftalion commented on #1508
Hello,
I'd like to take on this task.

**Proposal**
1. refactor the `CreateMenu` class to accept the `menuOptions` listed above as a prop.
2. move the `menuItemData` out of the render and build the array instead in the constructor based on the `menuOptions` props.
3. update existing uses of the `CreateMenu` component to pass the menu items.
4. update `CreateMenu` to have a new `hasMultipleParticip

[2021-02-22 08:00] shawnborton commented on #1452
For now, I think it's okay if we just save as soon as the dropdown is changed. No need for a save button.

I think for now we don't need this, but we may follow up at some point and implement some kind of growl or toast to confirm the selection.

[2021-02-22 10:04] hepiska commented on #1498
here how i would solve this bugs

a. backend heavy approach
1. when user is leaving the chat room it will send request to backend and mark user as leave the room or going offline
2. create table or collection to save unread message id for each user table need have userId and
3. every new message will check the recipient of the message and if the recipient if offline in will add the message id to t

[2021-02-22 13:04] #1283 closed

[2021-02-22 16:50] ilijaprzeski opened #1537 "[Desktop] index.desktop.js is not working"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  Desktop - [PR1533](https://github.com/Expensify/Expensify.cash/pull/1533)

**Action Performed (reproducible steps):**

Run the desktop app on macOS.
[code]
If run the desktop app, you will see the following screen.
!

[2021-02-22 16:58] #1481 closed

[2021-02-22 16:58] AndrewGable commented on #1514
Nice find @anthony-hull!

[2021-02-22 17:52] shawnborton commented on #1537
I'm not entirely sure I am following the problem. Can you elaborate on what exactly is broken, and if possible, how we might fix it?

[2021-02-22 18:23] marcaaron commented on #1537
cc @AndrewGable @roryabraham if they have any ideas on how to fix this...

I tested out @ilijaprzeski's PR [here](https://github.com/Expensify/Expensify.cash/pull/1533/files) and discovered a workaround:

- If we do not include an `index.js` file and instead include a `index.website.js` and `index.native.js` and `index.desktop.js` the correct file is used. So maybe we can go with that for now to u

[2021-02-22 18:27] #1446 closed

[2021-02-22 18:33] ilijaprzeski commented on #1537
Hi, @marcaaron
You mean, i should create index.website.js and index.native.js instead of index.js?

[2021-02-22 18:36] ilijaprzeski commented on #1537
Ok, everything works correctly.

[2021-02-22 18:44] anthony-hull commented on #1452
Thanks Shawn. I worked on that assumption over the weekend, so that's how it currently works 👍

I still would like input on how the picker should work on iOS please 🙏

[2021-02-22 18:47] lucas-neuhaus-dev commented on #1498
@Christinadobrzyn

Currently, the only method to determine the last message you've read is by the date of the messages

What about the `unreadActionCount` returned by `ONYXKEYS.COLLECTION.REPORT`? Can't we use that to determine the last unread message?
I'm not sure of how it works, but it is being used already to change the `read / unread` style on the Sidebar reports.
It's probably unreliable to

[2021-02-22 19:18] roryabraham commented on #1537
@ilijaprzeski Thanks for reporting this issue. I found a simple solution to this problem which I'll x-post here: https://github.com/Expensify/Expensify.cash/pull/1533#issuecomment-783604268

[2021-02-22 19:40] ilijaprzeski commented on #1537
Thanks, @roryabraham

[2021-02-22 19:47] marcaaron commented on #1452
Can you maybe explain what the issue is here exactly with some screenshots?

https://github.com/lawnstarter/react-native-picker-select
which wraps the RN team's picker library in a modal and gives you freedom to style the elements in the page. This would allow the styling and layout of the settings page to be more consistent across platforms. (it is also more popular)

I'm a little unclear on what

[2021-02-22 20:21] puneetlath commented on #1524
Ok, makes sense to me.

[2021-02-22 20:38] #1482 closed

[2021-02-22 20:40] anthony-hull commented on #1452
react-native-picker-select implements { Picker } from '@react-native-picker/picker' directly. It provides some wrapping behaviour like putting the iOS picker in a modal. Otherwise the picker, inline, without that looks like my video (except would take up more space if I styled it to not to break its box):
https://user-images.githubusercontent.com/47184118/108766634-4fff6000-754d-11eb-863d-cb975a00

[2021-02-22 20:46] #1537 closed

[2021-02-22 20:47] ilijaprzeski commented on #1537
Solved. Thanks again, @roryabraham

[2021-02-22 21:34] marcaaron commented on #1452
Ok cool thanks. I believe the second one is what we want to go with so let's use `react-native-picker-select`.

[2021-02-22 22:09] arielgreen opened #1542 "Cannot pin a chat if it contains no messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**
Desktop & Web - 1.0.1-461

**Action Performed (reproducible steps):**
Press the + button to start a new chat with an individual who you have never messaged before.
Before sending any message, pin the chat.

**Expected

[2021-02-22 22:32] Jag96 commented on #1508
@Maftalion your proposal looks good 👍

[2021-02-22 22:48] parasharrajat commented on #1542
I would like to solve this problem.

### Proposal
1. pass a configuration option such as`keepEmptyPinnedReports:boolean` to the `createOptions` method here.
https://github.com/Expensify/Expensify.cash/blob/a897058dc9059763f4ce7b6fcf7b9d647ea6e0b6/src/libs/OptionsListUtils.js#L150-160
2. Add the same config option following up to the method chain till the `getSidebarOptions` and setting its value `

[2021-02-22 22:56] shawnborton commented on #1040
We should use an .svg for the icon. You should be able to take a look at how we're handling .svg icons elsewhere in the app.

[2021-02-23 01:00] aliabbasmalik8 commented on #1500
@kadiealexander can I do this Ticket?

[2021-02-23 01:57] anthony-hull commented on #1452
this brings me back to the issue I had when I tested out the library. When I first build the app after installing I get this:
`
ERROR in ./node_modules/react-native-picker-select/src/index.js 9:21
Module parse failed: Unexpected token (9:21)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loa

[2021-02-23 02:04] marcaaron commented on #1498
That makes sense to me Lucas, but maybe I am missing something about the existing proposal.

cc @roryabraham since you have proposed the [original solution](https://github.com/Expensify/Expensify/issues/153407)

[2021-02-23 02:19] marcaaron commented on #1452
This seems fairly common with the react native libraries. They work fine in metro then break on web (even if they have web support). webpack thinks there's a syntax error because it's not being transpiled correctly so I _think_ we just have to add the library name here:

https://github.com/Expensify/Expensify.cash/blob/f0411611cd667b6d6ccd7f5b11fcb72475c51b07/config/webpack/webpack.common.js#L63

[2021-02-23 02:23] roryabraham commented on #1498
@lucas-neuhaus-dev Yep, the `unreadActionCount` should work 👍

[2021-02-23 02:26] anthony-hull commented on #1452
I tried that too. But It shifts the error to react native picker actual
when this library imports it. I'll post the error tomorrow. Any ideas for
me to look at in Babel tomorrow?

On Tue, 23 Feb 2021 at 02:19, Marc Glasser <notifications@github.com> wrote:

[2021-02-23 02:30] marcaaron commented on #1452
Maybe better to push what you have and I can help take a look.

[2021-02-23 02:36] anthony-hull commented on #1452
https://github.com/anthony-hull/Expensify.cash/tree/anthony-1452-add-GSD-mode-to-sidebar here is my WIP commit for moving to the new library

[2021-02-23 02:36] marcaaron commented on #1452
Also looks like this might be a known issue https://github.com/react-native-picker/picker/issues/82#issuecomment-747578526

[2021-02-23 02:45] anthony-hull commented on #1452
Nice find. Cheers

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Marc Glasser <notifications@github.com>
Sent: Tuesday, February 23, 2021 2:37:04 AM
To: Expensify/Expensify.cash <Expensify.cash@noreply.github.com>
Cc: Anthony Hull <anthony.hull@hotmail.co.uk>; Assign <assign@noreply.github.com>
Subject: Re: [Expensify/Expensify.cash] Add GSD mode to reprioritize

[2021-02-23 08:34] karvik09 commented on #1526
Hi,
I would be interested for this task Please find below my approach.

We can include the more application support by creating our own AppList rather than [Available App List](https://github.com/redpandatronicsuk/react-native-check-app-install/blob/master/app-list.js) in [react-native-check-app-install](https://github.com/redpandatronicsuk/react-native-check-app-install) for those which are not s

[2021-02-23 14:25] NicMendonca commented on #1520
@anton-z2021 thanks for your proposal! Can you please apply for[ the job](https://www.upwork.com/jobs/~01c163fc4b6baa90c5) in Upwork so we can move on to next steps? Thanks!

[2021-02-23 14:30] anthony-hull commented on #1542
##Proposal

1. I would first update the tests here to cover this bug:
https://github.com/Expensify/Expensify.cash/blob/a897058dc9059763f4ce7b6fcf7b9d647ea6e0b6/tests/unit/OptionsListUtilsTest.js#L307-L323
2. In line 182 I would add `!reportOption.isPinned` to the if statement.
https://github.com/Expensify/Expensify.cash/blob/a897058dc9059763f4ce7b6fcf7b9d647ea6e0b6/src/libs/OptionsListUtils.js#L18

[2021-02-23 14:43] NicMendonca opened #1549 "Pressing Enter key does not always submit forms on sign in screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding!
___

**Platform - version:**  desktop

**Action Performed (reproducible steps):**

1. Sign out and refresh Expensify.cash
2. Enter email and press return
3. Enter password and press return
4. Verify you get signed in
5. Sign out but do not refres

[2021-02-23 15:15] Julesssss commented on #1526
Thanks for all of your proposals and comments! @Maftalion I'm going to pass this issue onto the second responder as you were hired for #1508.

@SameeraMadushan, would you like to move forward with the implementation? Thanks for your suggestion about reusing `checkURLScheme` for Android, we should also be able to use a single `native.js` file for both Android & iOS.

[2021-02-23 15:45] soloarevalo commented on #1549
Hi
Here is my solution.
When the Enter ASCII code is catched, I'll submit the form.

I can definitely fix your issue.
Let's discuss via chat.

Best

[2021-02-23 16:00] SameeraMadushan commented on #1526
Thank you @Julesssss
I accept the offer. We can handle it inside `native.js`.
I will work on this 👍🏻

[2021-02-23 16:42] Julesssss commented on #1526
@SameeraMadushan

Replying to questions from the UpWork issue:

Great point. Our goal for now is simply to be able to detect if we can route the user into the Venmo app successfully prior to attempting to do this. It looks like `Linking.canOpenUrl()` would be preferable, so yeah no need to use the 3rd party library for now, as long as it works correctly with the Venmo app (the schema is `venmo://`

[2021-02-23 16:46] anton-z2021 commented on #1520
@NicMendonca

I thought I placed my quote on your job.
Let me do it now.

[2021-02-23 16:51] anton-z2021 commented on #1520
@Neuhaus93

Please check my proposal applied on this issue.
Thank you.

[2021-02-23 17:17] SameeraMadushan commented on #1526
@Julesssss  Awesome!

Yes, I've read the instructions and sent you a message.

[2021-02-23 19:15] marcaaron commented on #1542
Both of these proposals have the right idea. I agree with @anthony-hull's assessment

Seems like we'd want this to be the _default_ behavior so I think we would not need a `keepEmptyPinnedReports` option.

[2021-02-23 19:36] arielgreen commented on #1040
@bullseye405, please provide an update.

[2021-02-23 20:21] ilijaprzeski commented on #1503
This is not default theme in macos desktop app.
![Screen Shot 2021-02-23 at 9 20 58 PM](https://user-images.githubusercontent.com/71725797/108902946-0716dc80-761d-11eb-9504-5d59d9fbb2eb.png)
This is for title bar of not focused desktop app

[2021-02-23 20:55] arielgreen commented on #1542
Thanks for the proposals, guys. Rajat, I see you're working on a few issues already, so @anthony-hull please proceed. Sending over an offer now.

[2021-02-23 21:12] tgolen commented on #1513
@aliabbasmalik8 Thank you for the proposal. Could you please give a little more detail on why you found the text box is not getting focused in the first place? I'm pretty sure this is a regression from previous versions. Could you also explain how your proposal fixes it? Is the `setTimeout()` necessary or are there other solutions?

[2021-02-23 22:24] puneetlath commented on #1503
After a discussion in Slack we decided that doing the custom buttons wasn't worth the trouble. Thanks again @ilijaprzeski!

[2021-02-23 22:24] #1503 closed

[2021-02-23 22:29] ilijaprzeski commented on #1503
Thank you so much for understanding me.

[2021-02-23 23:41] lucas-neuhaus-dev commented on #1498
@roryabraham
I have quite a few questions, this description on the **ReportActionsView** is not making that much sense to me.

This new function `recordLastUnreadAction`...
From my understanding, we want this function basically to call `updateLastReadActionID()` with (the `reportID` and) either the sequence number of the last unread message or the `maxVisibleSequenceNumber`, right? Depending on wh

[2021-02-23 23:46] aliabbasmalik8 commented on #1513
@tgolen
when we pressed `command+k` to access the new Right Hand Nav search then basically route changed so if we clicked the currently active user then component no rerender so in this case, we need to handle `isFocused` in `componentDidUpdate` lifecycle

[code]

when we clicked on other user from the `Right Hand Nav Search`  then route changed, as well as `ReportActionCompose` component rerender

[2021-02-24 00:25] roryabraham commented on #1498
@lucas-neuhaus-dev sorry for the confusion. This implementation plan was copy/pasted from a document which outlines some features that do not yet exist, including the ability to mark conversations as unread. That an oversight on my part, so I'm sorry to have wasted some of your time. I should have been more careful in copy/pasting this out of its original context.

Allow me to clarify...

From my

[2021-02-24 01:27] lucas-neuhaus-dev commented on #1498
No problem! Thanks for the explanation.
I should be good to go now (test some stuff out and create a good proposal).

I see, that's a good point.
I'm going to take a closer look at this and verify which solution I think fits best.

[2021-02-24 02:32] aliabbasmalik8 commented on #1549
`onSubmitEditing` have some issue we can handle this scenario with `onKeyPress` Here is working solution
removed `onSubmitEditing` event and add `onKeyPress` event.

[code]

![image](https://user-images.githubusercontent.com/31027036/108938647-6211f900-7648-11eb-8f75-baf50db80b4d.png)

[2021-02-24 10:12] shawnborton commented on #1498
Just a heads up that I updated the mockup in the original comment of this issue - not a huge change, just moves the "New" over to the right.