[2022-05-03 23:02] marcaaron commented on #8777
PR related to #8329 has been merged now, but doesn't seem like it was CP'd to staging.

I'm not really understanding how it could not be reproducible when last tested if the code linked to the original PR made it to staging.

[2022-05-03 23:08] OSBotify commented on #8777
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8827) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.57-5` :rocket:

[2022-05-03 23:09] OSBotify commented on #8777
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.57-5 has been deployed to staging :tada:

[2022-05-03 23:27] stitesExpensify commented on #8594
Not overdue, on hold

[2022-05-03 23:28] stitesExpensify commented on #8132
@Santhosh-Sellavel any update here?

[2022-05-03 23:31] marcaaron commented on #8777
Not sure if 👆  is accurate as I got tagged on 👉  https://github.com/Expensify/App/pull/8871 and fixed some merge conflicts

[2022-05-03 23:37] arielgreen commented on #8311
[Price increased.](https://expensify.slack.com/archives/C01GTK53T8Q/p1651621050549769)

[2022-05-03 23:40] arielgreen commented on #8461
[Price increased.](https://expensify.slack.com/archives/C01GTK53T8Q/p1651621220786659)

[2022-05-03 23:47] arielgreen commented on #8731
[Price increased.](https://expensify.slack.com/archives/C01GTK53T8Q/p1651621621311049)

[2022-05-03 23:49] michaelhaxhiu commented on #8574
@kbecciv I have a few questions about this:

_>This issue only happens in HT accounts and can happen with any PDF file_

Can you help define what a high traffic account is (vs a normal traffic account)? Also - how are you simulating a "high traffic" testing account in this exact setting?

Like - did you upload many PDFs in the DM with the user ahead of time? If so, how many PDFs is the cutoff for

[2022-05-03 23:56] kevinksullivan commented on #8794
hm sorry about that @mananjadhav , I added you back in case we need a C+ for review.

@thesahindia I sent an offer for the [job](https://www.upwork.com/jobs/~01b4cd92ce29d9f69c) in Upwork, please accept when you get a chance.

[2022-05-04 00:03] kevinksullivan commented on #6718
All set,  thanks @parasharrajat .

[2022-05-04 00:03] #6718 closed

[2022-05-04 00:07] kevinksullivan commented on #7980
All set and payments sent. Thanks @parasharrajat and @mdneyazahmad !

[2022-05-04 00:07] #7980 closed

[2022-05-04 00:29] isagoico commented on #8822
@marcaaron We created this issue because this [PR](https://github.com/Expensify/App/pull/8713) was included in our [PR checklist](https://github.com/Expensify/App/issues/8777) and we were following the QA steps mentioned there. 2 testers were able to reproduce the same behavior in iOS and this ticket was opened.
Our current process for issues that fail QA steps in PRs is to create a new ticket. Th

[2022-05-04 00:34] aneequeahmad commented on #8089
@JmillsExpensify, The Upwork [job](https://www.upwork.com/jobs/~0127315d24f0e23219) is no longer available for some reason. PR is merged and PR for App is raised as well. Thanks

[2022-05-04 01:38] marcaaron commented on #8230
I've been diving deep on some of our existing logic and wanted to drop an update here about my current understanding of how things are working and some ideas for how to improve. Will come back and update it with permalinks later, but wanted to do a quick brain dump for now.

----

# Report Unread Indicators

Generally speaking, our report unread indicators use some combination of these computed va

[2022-05-04 01:53] marcaaron commented on #8822
@isagoico, thanks for confirmation! Glad that we are not making random issues 😄

Though, in this case, the test steps were not followed correctly. Step 8 here is wrong and can be compared with step 9 in the linked QA where it says to invalidate the authToken twice. Thanks!

[2022-05-04 04:16] mateusbra commented on #7573
Proposal sent on Upwork! Gonna rise a PR soon.

[2022-05-04 04:29] mvtglobally commented on #8574
@michaelhaxhiu, couple months back, we discovered that accounts with multiple treads/IOUs/policies respond differently to the features.
As per https://expensify.slack.com/archives/C9YU7BX5M/p1644341069154809 there were a lot of issues observed which were not repro with new accounts.
We created "Crowded policy - Definitive edition" which simulates such scenarios and testing.

[2022-05-04 08:15] parasharrajat commented on #7844
PR under review

[2022-05-04 08:58] Julesssss commented on #4264
Still in planning

[2022-05-04 09:48] dylanexpensify commented on #8440
On it!

[2022-05-04 09:49] dylanexpensify commented on #8440
New postings since they expired.

Internal: https://www.upwork.com/ab/applicants/1521788921028734976/job-details
External: https://www.upwork.com/jobs/~0134ffabfdbf32f0ba

cc @dharmik @parasharrajat for applying!

[2022-05-04 11:36] eVoloshchak commented on #8311
**Proposal for mWeb:**

1. This is not a problem with the Expensify App, it's an inconsistency of `react-native-gesture-handler`. [This](https://snack.expo.dev/rLAPULxbW) is a minimal reproduction snack, running it on web you can see that when longpressing on text, two console statements appear, while there's should be only one ('pressed 2')
2. Since issue is occuring only on `mWeb`, we're interes

[2022-05-04 11:53] MonilBhavsar commented on #8666
@phivh @Santhosh-Sellavel Thanks for the proposal and review. Looks good to me 👍
@bfitzexpensify can we please assign @phivh to this job

[2022-05-04 12:09] parasharrajat commented on #7618
#### Problem

We are trying to solve these issues based on the above proposals. Correct me if wrong?

1. Sign-in on mobile web, navigate to a report and then tap back button on report header
2. Start group chat with a new user by tapping ‘New’ button. Navigate to the chat and then press back arrow on report header.
3. Navigate directly to a nested path while signed in, like [staging.new.expensify.

[2022-05-04 12:34] parasharrajat commented on #8311
Thanks for the updated proposal @eVoloshchak. Seems to me the best proposal so far but let's discuss the iOS issue you mentioned first. Unfortunately, I don't have iOS. Let's see who can help us here to test it.

[2022-05-04 12:43] MonilBhavsar commented on #8589
Still on hold

[2022-05-04 12:59] dylanexpensify commented on #6060
reassigning as I'm headed to parental leave!!

[2022-05-04 13:04] dylanexpensify commented on #7549
WOW, missed this completely, my bad!

Internal: https://www.upwork.com/ab/applicants/1521837452385910784/job-details
External: https://www.upwork.com/jobs/~01cec91a17c169473e

[2022-05-04 13:05] dylanexpensify commented on #7549
Also, reassigning as headed on parental leave next week!!

[2022-05-04 13:17] thesahindia commented on #8794
Accepted the offer, will raise the PR today.

[2022-05-04 13:37] thesahindia commented on #8715
`minWidth: 69` will do the work I have tested that.

[2022-05-04 13:47] murataka commented on #7618
@parasharrajat , i am not sure if the above comment also covers my solution, and I can conclude that, it is a universal bug, not specific to our app, and non of my changes are specific to our app which I made in the uselinking.js .

[2022-05-04 15:58] srdjanrist commented on #7375
Hey @Julesssss thank you for the response.
It has a little bit to do with time involved so far. Main reason is that I can't commit myself for long periods of time and focus on the issue ahead (mainly because I started working on another project, while working on this issue). And due to that, since I am a responsible person, I don't want to drag you along and slow everything down.

Certainly, I wou

[2022-05-04 16:02] mallenexpensify commented on #7288
Still on hold

[2022-05-04 16:12] neil-marcellini commented on #8423
I would like to work on this even though it could be external. I will put up a proposal for how I plan to implement this soon.

[2022-05-04 16:15] mallenexpensify commented on #5892
Still on hold...

[2022-05-04 16:18] mallenexpensify commented on #3981
From @stitesExpensify 8 days ago

Should we take off hold? And/or, is this related to Offline First?

[2022-05-04 16:18] mallenexpensify commented on #7909
Movin' along

[2022-05-04 16:19] mallenexpensify commented on #7855
@parasharrajat , can you provide an update plz?

[2022-05-04 16:23] mallenexpensify commented on #8288
https://github.com/Expensify/App/pull/8743 on staging...

[2022-05-04 16:24] mallenexpensify commented on #7648
I think @roryabraham is working on this

[2022-05-04 16:24] parasharrajat commented on #7855
I will push the PR today. Sorry for delay completely missed this.

[2022-05-04 16:26] michaelhaxhiu commented on #8715
@thesahindia feel free to apply for the upwork job, btw

@Santhosh-Sellavel lmk if you agree with the gameplan!

[2022-05-04 16:27] dylanexpensify commented on #8197
Can we get an update @sobitneupane / @parasharrajat

[2022-05-04 16:29] mallenexpensify commented on #4612
@parasharrajat I put https://github.com/Expensify/App/issues/8657 on hold, with the plan being to fix this one first. Do you think that's the best approach?

[2022-05-04 16:30] michelle-thompson commented on #8715
Let's go with @thesahindia suggestion 👍

[2022-05-04 16:31] mananjadhav commented on #5892
Any specific reason we've put this into planning?  I guess there isn't a solution to this with our RNModal implementation. Hence I recommended to disable it in the mWeb or we can close it?

[2022-05-04 16:31] mallenexpensify commented on #7859
Going to put this on hold since it hasn't happened recently, we still don't have reproducible steps and _things_ might change  with our the Offline work we're doing

[2022-05-04 16:36] eVoloshchak commented on #6154
@Santhosh-Sellavel

**Updated proposal:**
I've separated [TextInput](https://github.com/Expensify/App/blob/3faa6a77b076f6e6547340b93a2298042cf36266/src/pages/iou/steps/IOUAmountPage.js#L239) into platform-specific files.
Updated diff can be found [here](https://github.com/Expensify/App/compare/main...eVoloshchak:eVoloshchak_iouAmountPrototype2).

[IOUAmountInput/index.ios.js](https://github.com/Ex

[2022-05-04 16:38] stitesExpensify commented on #3981
I think that this issue might be fixed? My PR made it so that we can never set the lastRead backwards unless manually done by the user, that should fix this issue right?

[2022-05-04 17:05] azimgd commented on #2727
@marcaaron @parasharrajat could you have a look at the proposal above please ?

[2022-05-04 17:06] Santhosh-Sellavel commented on #8461
Is this still reproducible?

[2022-05-04 17:08] Santhosh-Sellavel commented on #8132
Can you put this on hold, this related to #7541

[2022-05-04 17:21] lbaldy commented on #2727
Problem statement:

The orientation change notification is published by IOS when app goes to the background, due to some sort of a race condition/timing issue causes wrong dimensions being returned and transformation being queued in react native.

Solution description and assumptions:

We need to prevent publishing the event when app transforms from foreground to background, but at the same time w

[2022-05-04 17:25] chiragsalian commented on #8590
The code for having the dimensions as data attributes is now on staging 🙂

[2022-05-04 17:48] parasharrajat commented on #2727
How can an app change orientation while in the background? Could you please explain me? @lbaldy

@azimgd Why are we removing the _bridge parameter from function definitions?

[2022-05-04 17:50] mallenexpensify commented on #7524
@eVoloshchak paid 3 milestones totaling $750 (I'm not sure if the one's finished are aligned with the ones paid in Upwork but the total amounts will wash out).

cc @JmillsExpensify since you'll likely be the one issuing the final $250 payment 7 days after https://github.com/Expensify/App/pull/8764 hits production (if no regressions)

[2022-05-04 17:50] parasharrajat commented on #4612
Technically both can be fixed together if the same solution goes to both and both issues can be fixed together if their solution does not overlap. The only advantage of fixing one by one is that we can focus on one thing first.

[2022-05-04 17:52] thesahindia commented on #8715
<img width="374" alt="Screenshot 2022-05-04 at 11 20 58 PM" src="https://user-images.githubusercontent.com/83179295/166748955-1433e9f4-8c36-4ce2-9935-7e82417efbf5.png">
<img width="374" alt="Screenshot 2022-05-04 at 11 20 28 PM" src="https://user-images.githubusercontent.com/83179295/166748986-bb1f9642-4de5-4904-b778-e3f8fb3e3f44.png">
<img width="374" alt="Screenshot 2022-05-04 at 11 20 05 PM" sr

[2022-05-04 17:55] thesahindia commented on #8715
Applied ✅

[2022-05-04 17:55] Santhosh-Sellavel commented on #8715
Thanks @thesahindia can you add loading also?

[2022-05-04 17:59] thesahindia commented on #8715
https://user-images.githubusercontent.com/83179295/166753752-bd5ddae6-1664-4254-8dc9-7d90596cee41.mov

[2022-05-04 18:00] Santhosh-Sellavel commented on #8715
Thank you @thesahindia!

[2022-05-04 18:06] parasharrajat commented on #2727
Got it. Why are you only triggering the event when the app is active? https://github.com/Expensify/react-native/blob/f635dd7b74b9d5f2d3b71972bcc395eae780ed6d/React/CoreModules/RCTDeviceInfo.mm#L213

[2022-05-04 18:09] Santhosh-Sellavel commented on #8715
@michelle-thompson @roryabraham

We have a clear idea of how it looks in https://github.com/Expensify/App/issues/8715#issuecomment-1117637701 and https://github.com/Expensify/App/issues/8715#issuecomment-1117643908 comments.

I kind of feel there is some little extra padding in the `en` version of the button, if the button's of full width then we won't notice much but in this case, there's a littl

[2022-05-04 18:11] michelle-thompson commented on #8715
That looks good to me!

[2022-05-04 18:13] NicMendonca commented on #8597
^ still on hold

[2022-05-04 18:14] Santhosh-Sellavel commented on #8715
@michaelhaxhiu let's assign it to @thesahindia!

[2022-05-04 18:16] michaelhaxhiu commented on #8715
Hired, let's get this party started.

[2022-05-04 18:19] parasharrajat commented on #8311
I tested it on your snack but I also found the same issue. After some digging, I found out that iOS handle events differently, and all the handlers are triggered simultaneously when touches are overlapping. https://github.com/software-mansion/react-native-gesture-handler/issues/1930#issuecomment-1068920275.

They suggest using https://docs.swmansion.com/react-native-gesture-handler/docs/gesture-co

[2022-05-04 18:19] Tushu17 commented on #8461
Yes @Santhosh-Sellavel It's still reproducible in Window on chrome.

[2022-05-04 18:20] parasharrajat commented on #8197
PR is merged. Awaiting PROD deployment.

[2022-05-04 18:22] Santhosh-Sellavel commented on #8461
Windows OS?

[2022-05-04 18:24] michaelhaxhiu commented on #8574
Thanks for the context. How many threads / IOUs / policies / PDFs / etc are used to define the "high traffic" cutoff right now?
Like are you making 100 threads, 100 IOUs, 100 policies, etc? What's the gauge here?

[2022-05-04 18:25] azimgd commented on #2727
When the app is not in split screen mode:
- Trigger when the app is opened (goes from background → foreground)
- Trigger when the device is rotated

We are filtering away wrong dimensions emits (e.g. goes from foreground → background) there. As when the app goes into background those are triggered in batch [wrong{x,y}, correct{x,y}].

Additionally `!isAppFullscreen` will:
- trigger when the app is

[2022-05-04 18:28] Puneet-here commented on #8824
cc: @sonialiap

[2022-05-04 18:33] Tushu17 commented on #8461
@Santhosh-Sellavel Yes

[2022-05-04 18:45] Tushu17 commented on #8505
@Justicea83 The fix is in the production and the payment is pending for this can you assign someone to create an upwork job for me.

[2022-05-04 19:03] izhan commented on #7618
@parasharrajat I think your understanding is spot on. Agreed with much of what you said, adding thoughts to help further this discussion.

I believe you can technically "reset" the state via `CommonActions.reset` to any state object you'd like, including one requiring multiple history changes. Doing so will result in a bug today that even fixing batching won't solve. Would you consider this out of

[2022-05-04 19:52] Santhosh-Sellavel commented on #8005
Thanks, @Beamanator!

@thesahindia Can you regroup & submit your proposal?

[2022-05-04 19:55] Santhosh-Sellavel commented on #8005
But I think there might even simpler solution!

[2022-05-04 20:08] NicMendonca commented on #8200
^ still on hold

[2022-05-04 20:12] chiragsalian commented on #8590
Oops looks like i assigned Ali to the issue prematurely. As part of our steps its still necessary to get the proposal approved so can you post a proper proposal/solution so that @Santhosh-Sellavel and I may review it?

[2022-05-04 20:22] jayeshmangwani commented on #8461
https://github.com/Expensify/App/blob/569289ba2cb2c99971f6164cd869e67efedc4a48/src/components/MenuItem.js#L62
adding `flex: 1` at the parent of the title is fixing this issue

Before this change
![Screenshot 2022-05-05 at 1 47 14 AM](https://user-images.githubusercontent.com/35371050/166819347-30c0c698-ebec-4eb3-bf5b-badd94f2e07b.png)

After this change
![Screenshot 2022-05-05 at 1 48 11 AM](https

[2022-05-04 20:30] Santhosh-Sellavel commented on #8361
@brianmuks Any update here ?

[2022-05-04 20:31] arielgreen commented on #8612
https://www.upwork.com/jobs/~013f914e7b769e5a10

[2022-05-04 20:43] allroundexperts commented on #8590
@chiragsalian Let me know once it's deployed to production. For some reason, I can't test staging. I have the .env file as:
[code]

[2022-05-04 20:47] chiragsalian commented on #8590
Yeah that looks fine for staging. Not sure why its not working for you. Either way, the code should be on production tomorrow morning but i'll let you know too.

[2022-05-04 21:01] #8864 closed

[2022-05-04 21:02] marcochavezf commented on #7549
There're ongoing changes related to the network logic and probably this issue will be fixed when the Offline UX Patterns are implemented. I think we should close this issue atm and maybe re-open it if it's still happening after implementing the Offline Patterns, @stephanieelliott could you remove the Upwork jobs?

[2022-05-04 21:02] thesahindia commented on #8520
bump @JmillsExpensify (in case you missed the ping)
Also can you assign me here?

[2022-05-04 21:05] marcochavezf commented on #8652
Not overdue, waiting for proposals

[2022-05-04 21:08] michaelhaxhiu commented on #8652
Should we be doubling price of this job @MitchExpensify ?

[2022-05-04 21:09] MitchExpensify commented on #8652
Yes I will today @michaelhaxhiu

[2022-05-04 21:14] JmillsExpensify commented on #8520
Sure thing. Thanks for the reminder! Doing both now.

[2022-05-04 21:16] JmillsExpensify commented on #8520
Done. @Santhosh-Sellavel Please make sure to apply as well.

[2022-05-04 21:43] lbaldy commented on #2727
@parasharrajat I added a video testing all the cases as well as 'background orientation change' I mentioned earlier: https://youtu.be/Ytj0K4SwP4w

[2022-05-04 21:58] mallenexpensify commented on #7377
Reopening and leaving monthly since I think they _might_ be useful

[2022-05-04 22:07] mallenexpensify commented on #8573
Going to wait to double since @mvtglobally wasn't able to reproduce. I just tried on web and wasn't able to reproduce (web wasn't mentioned in the list of platforms though...)

[2022-05-04 22:10] Luke9389 commented on #8157
Let's close for now and reapproach post-API changes

[2022-05-04 22:10] #8157 closed

[2022-05-04 22:10] Luke9389 commented on #6069
Go away melvin 😄

[2022-05-04 22:32] mallenexpensify commented on #5892
I'm not sure what's best, it seems like things kinda stalled.  @marcaaron thoughts on keeping this on hold, closing or removing the planning label?

[2022-05-04 22:34] mallenexpensify commented on #3981
Since it doesn't sound like it's easy to reliably reproduce, it's hard to test.   @iwiznia any idea of this has happened to you the past week?!?!   If not, I'm down to close this then reopen if/when needed

[2022-05-04 22:36] mallenexpensify commented on #8132
Put on hold, added `Planning` label and removed `Help Wanted` label.
@stitesExpensify , chime in if you disagree

[2022-05-04 22:42] mallenexpensify commented on #4612
Let's see if we can get any takers for this specific issue/problem now then go from there.  Any reason I shouldn't double this to $16,000 @NikkiWines, @parasharrajat ?

[2022-05-04 22:44] tgolen commented on #8791
I had an initial look into this, and I had a hard time trying to get to the bottom of this. I could not determine any real difference between the workspace page and how it's structured and the `SecuritySettingsPage.js` which has a nearly identical structure, but not this bug. The only real differences are:

1. The workspace settings page has the area with name and avatar. These are all wrapped ins

[2022-05-04 23:06] marcochavezf commented on #7079
No update, still working on some backlog. Also currently in NewDot, we require passwords for new accounts, and according to the N7 onboarding pre-design meeting, seems [new members won't need to set a password](https://expensify.slack.com/archives/C02HWMSMZEC/p1651175927632839). I think it will be a good idea to coordinate the detailed implementation of N7 onboarding with the SSO implementation. I

[2022-05-04 23:22] marcaaron commented on #5892
I'm just gonna close it. Left a recommendation back then and doesn't seem like we came to any conclusion so - yeah seems even less valuable than we originally presumed.

[2022-05-04 23:22] #5892 closed

[2022-05-04 23:49] mateusbra commented on #7573
PR ready for review.

[2022-05-04 23:58] thienlnam commented on #7307
Just merged, now waiting for deploys and regression tests

[2022-05-05 02:26] JmillsExpensify commented on #8089
No worries. I've got you covered here: https://www.upwork.com/jobs/~012ed1a030f60ce0f5. Can you apply? Then we can issue payment once the standard regression period ends.

[2022-05-05 02:27] JmillsExpensify commented on #8089
cc @sobitneupane and @rushatgabhane as well for the new job posting.

[2022-05-05 03:30] kadiealexander commented on #8850
Not overdue. Seems like a good one to fix.

[2022-05-05 03:41] JmillsExpensify commented on #8842
I posted the Upwork job for this issue here: https://www.upwork.com/jobs/~017708aa9011ed90e0

[2022-05-05 03:46] kadiealexander commented on #8007
Sorry for the delay! Was ooo. Have issued payment today @mateusbra, thanks for your work!

@Santhosh-Sellavel I just sent you a contract, please accept and I'll send your C+ payment through :)

[2022-05-05 03:48] mateusbra commented on #8007
No worries, thanks @kadiealexander :)

[2022-05-05 03:59] #8825 closed

[2022-05-05 04:03] aneequeahmad commented on #8089
@JmillsExpensify Applied, yeah sounds good let's wait for the regression period. Thanks for your message.

[2022-05-05 04:30] robertjchen commented on #8420
no update, sorry

[2022-05-05 05:08] dharmik commented on #8440
@parasharrajat @NikkiWines Raised PR: https://github.com/Expensify/App/pull/8875

[2022-05-05 08:28] bfitzexpensify commented on #8666
Sure! @phivh please apply for the job on Upwork and let me know when you have done so.

[2022-05-05 09:25] Julesssss commented on #6891
Not overdue

[2022-05-05 09:26] iwiznia commented on #7288
On hold

[2022-05-05 09:34] mananjadhav commented on #6891
@mallenexpensify Reminder on Upwork payment

[2022-05-05 09:39] Justicea83 commented on #8721
should the user be logged out of the device used to change the password as well?

[2022-05-05 09:47] flodnv commented on #8721
Good question. I don't think so?

[2022-05-05 10:59] iwiznia commented on #3981
I don't know, since the unread message indicator is totally broken for me right now. Let's close, since Marc is revamping all this soon anyway

[2022-05-05 10:59] #3981 closed

[2022-05-05 11:38] Justicea83 commented on #8505
PR already done, and fix applied @dylanexpensify can we create a job and pay @Tushu17 ?

[2022-05-05 12:01] sketchydroide commented on #8777
#8791 is still on slow progress, we might want to not make it a blocker since it seems rather hard to get to the end of it, and there is still the a way to go around it, the user can install the app and use it.

[2022-05-05 13:28] phivh commented on #8666
@bfitzexpensify applied for Upwork job.

[2022-05-05 13:58] sobitneupane commented on #8357
Applied.

[2022-05-05 14:06] luacmartins commented on #8840
Looking for proposals

[2022-05-05 14:09] luacmartins commented on #8731
Still looking for proposals!

[2022-05-05 14:09] luacmartins commented on #8286
Still looking for proposals!

[2022-05-05 14:10] luacmartins commented on #7755
Working on this today!

[2022-05-05 14:21] JmillsExpensify commented on #7524
Awesome, thanks! Looks like we're still waiting on that last PR to hit production (and confirm no regressions).

[2022-05-05 14:23] JmillsExpensify commented on #8212
Going to close this one since two weeks with no regression. Let's re-open if it crops up again.

[2022-05-05 14:28] JmillsExpensify commented on #8329
Once we get the CP handled in the linked PR, we can clear up the payments for contributors and contributor+ for any work up until this point.

[2022-05-05 14:28] Santhosh-Sellavel commented on #8287
Sorry I missed to comment back, I was able to reproduce this one still.

[2022-05-05 14:36] JmillsExpensify commented on #8867
@Julesssss when you get a chance, please prioritize @eVoloshchak's proposal. I just added the exported label but this issue has a long history.

[2022-05-05 14:41] parasharrajat commented on #2727
Thanks, I am testing something and soon update you all.

[2022-05-05 15:19] JmillsExpensify commented on #8867
Ok cool! That sounds good. I'll remove him from the issue and assign @eVoloshchak.

[2022-05-05 15:26] sketchydroide commented on #8791
I would say one of them, I will create a PR for number 3, seems to me like the main candidate from my experience on iOS, not that it really makes a bridge to RN, but I use what I can 😄

[2022-05-05 15:39] Puneet-here commented on #8287
Hi @Luke9389, It's reproducible can you try these steps:
1. Search a non-existing emoji
2. Press Enter
3. Press backspace without focusing again on the search field

[2022-05-05 16:04] marcochavezf commented on #8850
Applying the `External` label

[2022-05-05 16:47] marcaaron commented on #8230
**Moving some context out of the description to document a few other issues...**

#### Other issues

- [ ] We are setting props to state here. That is usually a sign of an anti-pattern and also looks unnecessary. Perhaps we can move this into the logic for the marker badge.
https://github.com/Expensify/App/blob/c87891b1363b5bf0a767d866023a3e327ede143a/src/pages/home/report/ReportActionsView.js#L11

[2022-05-05 16:57] Santhosh-Sellavel commented on #8867
Yep I was away, just looking forward for the PR!

[2022-05-05 16:58] eVoloshchak commented on #8867
Is there Upwork job for this so I could apply?

[2022-05-05 17:02] mollfpr commented on #8126
### Proposal

1. Create Onyx key to hold value for default drawer status
https://github.com/Expensify/App/blob/a0a76d83945059c15e86e700fd74eb58500d7c59/src/ONYXKEYS.js#L195
[code]
2. Create action to set the `DEFAULT_DRAWER_STATUS` Onyx key
[code]
3. Use `screenListeners` param on `Drawer.Navigator` to get the state every time the screen drawer change
https://github.com/Expensify/App/blob/dee67357

[2022-05-05 17:19] Santhosh-Sellavel commented on #8867
@JmillsExpensify

[2022-05-05 17:28] chiragsalian commented on #8590
@allroundexperts The code for having the dimensions as data attributes is now on production 🙂

[2022-05-05 17:35] Santhosh-Sellavel commented on #8249
Seems the PR is ready for review. Mostly looks good will test it out by tomorrow.

[2022-05-05 17:40] mvtglobally commented on #8777
@sketchydroide if you can push it, would be great. At this point we haven't had deploy in 10 days.
Last build 1.1.57-5 hasn't deployed either.

[2022-05-05 17:41] mvtglobally opened #8884 "PR33659 test issue"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2022-05-05 17:42] mvtglobally commented on #8884
Proposal Hello World

[2022-05-05 17:42] Santhosh-Sellavel commented on #8545
Will review this by tomorrow!

[2022-05-05 17:42] mvtglobally commented on #8884
## Proposal Hello again

[2022-05-05 18:04] eVoloshchak commented on #8655
Created the [issue](https://github.com/meliorence/react-native-render-html/issues/562) on `react-native-render-html` repo.
BTW, while creating minimal reproducible example I found out, that the issue occurs only if you set [dangerouslydisablewhitespacecollapsing](https://meliorence.github.io/react-native-render-html/api/renderhtmlprops#dangerouslydisablewhitespacecollapsing) prop to `true`

[2022-05-05 18:06] marcaaron commented on #7855
Sorry, just seeing the linked PR here and it feels like a workaround that points to some larger issue elsewhere in the code.

I read the explanation [here](https://github.com/Expensify/App/issues/7855#issuecomment-1076917185). But still don't really understand why we need to wait until the chat compose input mounts before loading the conversation.

It sounds like we are saying that the root cause

[2022-05-05 18:12] JmillsExpensify commented on #8867
https://www.upwork.com/jobs/~0194ac8a9245d25860

cc @eVoloshchak @Santhosh-Sellavel

[2022-05-05 18:30] metehanozyurt commented on #8842
## Proposal
### Cause
When user click Create icon open menu and events drag/drop wont work.

### Solution
As @JmillsExpensify mentioned, if the menu is open, we can solve this problem by closing the menu at the moment of dragging.
We need to some changes in this file [SidebarScreen.js](https://github.com/Expensify/App/blob/334b989fb94ec9a530ad42c651ac4b18421ad563/src/pages/home/sidebar/SidebarScre

[2022-05-05 18:39] aldo-expensify opened #8885 "Improve feedback on opening non-existing workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login into new dot
2. Open workspace url with id that doesn't exists (or you don't have access too): https://new.expensify.com/workspace/xxx

##

[2022-05-05 19:15] parasharrajat commented on #7855
No, I didn't mean to say slow rendering.

I think this is the current behavior.

This code will wait for all subscriptions to be resolved with data on a component.
https://github.com/Expensify/react-native-onyx/blob/f6c2b03f29193bbceca68a9997fa94cc998f52a6/lib/withOnyx.js#L160

ReportScreen is using flexbox. `Flex: 1` takes all the available space. ReportActionsView is using `flex:1`. When the com

[2022-05-05 20:18] tgolen commented on #8885
Is there a specific case or flow that leads to this? If it's just about randomly modifying the URL, then I don't really think we need to do anything. However, if there is a legit flow, then I can see how we should display something. At least a "cannot be found" page.

[2022-05-05 20:25] tgolen commented on #8867
I have one quick question about the proposal...

@eVoloshchak, What is the purpose of using the spread operator here? Is it necessary?

[code]

[2022-05-05 20:31] jayeshmangwani commented on #8849
issue is happening in this file
```src/components/ImageView/index.native.js```

and reason is react-native-image-size  package,

https://github.com/Expensify/App/blob/ec828a22f031f646b19af819a27c70512a881712/src/components/ImageView/index.native.js#L8

it is blocking touchable until the getSize function does not resolve values,

https://github.com/Expensify/App/blob/ec828a22f031f646b19af819a27c705

[2022-05-05 20:35] aldo-expensify commented on #8885
It is not an expected flow, just an edge case. A way to replicate it is:

1. Login in OldDot with an account that has a workspace, go to `Settings > Policies > Group`
2. Login in NewDot in a different tab
3. Delete the workspace from NewDot
4. In OldDot, click the workspace that is still there and you will end up with a URL of a workspace that doesn't exist

I think of very low importance, but nor

[2022-05-05 20:38] thesahindia commented on #8005
### Proposal

I am suggesting that we should just add two checks, 1st for default rooms and 2nd for user created rooms.

Code changes -

[code]

Need to made this changes in [here](https://github.com/Expensify/App/blob/ec828a22f031f646b19af819a27c70512a881712/src/libs/UnreadIndicatorUpdater/index.js#L32)

[2022-05-05 20:49] allroundexperts commented on #8590
### Proposal

The thumbnail image that first appears on upload can be made the exact same size by using the `RenderHTML` method same as how it's done with the uploaded image. This leads to the disappearance of the first 2 resizes.

The following changes from:

https://github.com/Expensify/App/blob/ec828a22f031f646b19af819a27c70512a881712/src/pages/home/report/ReportActionItemFragment.js#L73-L98

T

[2022-05-05 20:51] #2713 closed

[2022-05-05 20:51] #7790 closed

[2022-05-05 20:52] marcaaron commented on #7855
That is my understanding of how `withOnyx` works. But how does it contribute to this issue specificalyl?

Sounds like an alternative would be to just render the composer in a `View` with a minimum height? Then there's not need to prevent the rendering of the chats or block things until other things mount. Though that would just leave us with a blank white space until the input renders.

Got any mo

[2022-05-05 20:53] eVoloshchak commented on #8867
It is necessary because `message.length` would give us the count of UTF-16 units, and emojis can be up to 32 UTF-16 units, if I'm not mistaken. So using spread operator allows us to get the actual number of characters (emojis in this case).
[Snack](https://snack.expo.dev/C8zGRB65R)

[2022-05-05 20:58] parasharrajat commented on #2713
It is important to have so I request to reopen this. May be put some label so that Melvin doesn't close this.

[2022-05-05 21:01] MitchExpensify commented on #7918
Not overdue PR drafted

[2022-05-05 21:02] MitchExpensify commented on #7435
Waiting on #7420 to re-test

[2022-05-05 21:31] parasharrajat commented on #2727
Ok, based on my testing. There is no event fired when the app is in the background. `background orientation change` or when the app's orientation is changed while the app is in an inactive state, is detected when the app comes to the active state. As soon as the app comes to an active state, the app receives an orientation event with proper data.

---

That said, @lbaldy came up with the proposal

[2022-05-05 21:47] MitchExpensify commented on #8652
Doubled! [Upwork Job](https://www.upwork.com/jobs/~0193e8647cb6379c68)

[2022-05-05 21:48] tgolen commented on #8867
TIL! Thank you. Please be sure to add that as a comment in the code when you write it. I wonder why the spread operator does that...

[2022-05-05 21:52] azimgd commented on #2727
Based on the `contributing.md`:

That said:
- previous proposals didn't have any technical explanation
- missed a very important "Split Screen Mode", which is a key on why duplicate events happen
- previous proposals mentioned a "one-liner fix" which was later transformed into very close copy of [PR#9](https://github.com/Expensify/react-native/pull/9), see `isFullScreen`, event filtering

`contrib

[2022-05-05 21:55] lbaldy commented on #2727
I think the solution proposed by @azimgd  doesn't work or even breaks when the app when in example: switches from slide out mode to fullscreen. Thus this proposal isn't complete.

[2022-05-05 21:59] parasharrajat commented on #2727
Thanks to both of you for sharing your concerns. But my choice is never final. There would be someone from the Team to assign the job to one of you. We are currently discussing this internally.

[2022-05-05 22:20] AndrewGable commented on #7860
@izhan - Is your proposal ready for review from @Santhosh-Sellavel? Just want to keep the priority applied on this one, thanks!

[2022-05-05 22:25] azimgd commented on #2727
Have you had a chance to test my PR? I'm pretty sure it handles that scenario correctly.

[2022-05-05 22:27] parasharrajat commented on #7855
I was also thinking the same. I think the rendering gap is very less so it should be not noticeable. Let me try this out.

Sorry, no. I was just thinking aloud. But I will try to measure to see if this is true in our case.

Hmm. Good point. No idea for now.

[2022-05-05 22:38] marcaaron commented on #2713
The network request queue now runs in sequence so this should be solved. If there is a specific case where messages are not showing up in order it's probably related to Pusher and outside of our control.

[2022-05-05 22:46] michaelhaxhiu commented on #6058
holding still

[2022-05-05 22:46] michaelhaxhiu commented on #5766
Should we close since this will be addressed via offline first?

[2022-05-05 23:10] strepanier03 commented on #8885
This does seem like an extreme edge case and one not likely to be raised by a customer. I think we close this for now and reopen it when we're looking to polish NewDot or if this becomes an issue for users.

I do not understand the scope of the technical work that goes into handling this, so please feel free to get a second opinion if needed.

[2022-05-05 23:10] #8885 closed

[2022-05-06 00:25] mallenexpensify commented on #6891
Thanks for the ping @mananjadhav .
@parasharrajat @thesahindia and @mananjadhav paid $250 each.

[2022-05-06 00:25] #6891 closed

[2022-05-06 00:44] izhan commented on #7860
@AndrewGable yes the proposal is there, just fragmented over several comments!
1. https://github.com/Expensify/App/issues/7860#issuecomment-1111522586 is the main proposal; it also shows why `sizeMap` is incorrect (root cause 1)
2. https://github.com/Expensify/App/issues/7860#issuecomment-1113938800 explains how our [react-native-fork fork](https://github.com/Expensify/react-native-web) and https:

[2022-05-06 00:47] mallenexpensify commented on #5766
I think we should cuz it's a high-level issue and we'll def be addressing this with _all_ the offline work being done. Reopen if anyone disagrees

[2022-05-06 00:47] #5766 closed

[2022-05-06 03:18] Regaron commented on #8652
# Proposal
Looking at the change logs there doesn’t seem to be any breaking changes. So we can just update the packages and test for regressions.

[2022-05-06 04:56] mvtglobally opened #8888 "[$2000] App fails on devices using recent node/npm with JavaScript error - reported by David Frenkiel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Git clone, npm install, npm run web

## Expected Result:
App runs without invalid hook call JavaScript error.

## Actual Result:
Browser window o

[2022-05-06 05:07] kadiealexander commented on #7432
@mananjadhav were you able to open the PR as per @pecanoro's request above?

[2022-05-06 05:08] kadiealexander commented on #8718
Good question! @mallenexpensify do you have any insight on why feature requests are moving forward without weigh-in? Did the process change and we missed it?

[2022-05-06 05:26] mananjadhav commented on #7432
Hey sorry I missed this.

@pecanoro I have raised the draft PR. Will you need an open PR? I am not sure what I'll fill in the checklist and the screenshots hence I didn't open. If you can check from branch then that'll be great.

[2022-05-06 07:52] jayeshmangwani commented on #8652
### **Proposal**

it is a straightforward change of the updating package, need to update to the latest version of onfido-sdk-ui, as at this time it is [8.0.0](https://github.com/onfido/onfido-sdk-ui/releases/tag/8.0.0), and then need to test in web and desktop , that update the package is working fine or not

[2022-05-06 07:56] mdneyazahmad commented on #7917
@Santhosh-Sellavel PR will be ready for review in few hours.

[2022-05-06 10:01] mdneyazahmad commented on #7917
@Santhosh-Sellavel PR is ready for review https://github.com/Expensify/App/pull/8874

[2022-05-06 10:30] dylanexpensify commented on #6941
I'm heading on parental leave so reassigning! Thank you to whoever gets assigned this! ❤️

[2022-05-06 10:31] dylanexpensify commented on #7081
I'm heading on parental leave so unassigning, looks like @stephanieelliott has this under control! Thank you Stephanie!!

[2022-05-06 10:31] dylanexpensify commented on #8197
I'm heading on parental leave so reassigning! Thank you to whoever gets assigned this! ❤️

[2022-05-06 10:33] dylanexpensify commented on #8440
I'm heading on parental leave so reassigning! Thank you to whoever gets assigned this! ❤️

[2022-05-06 10:54] Julesssss opened #8891 "Group chat messages not being marked as read"
## Action Performed:
- Be part of a group chat
- Be on a different chat
- Recieve a new message
- (A) Click into the chat
- (B) Scroll up and down

## Expected Result:
- Events A & B should cause the bolded text and 'New Message' line to disappear

## Actual Result:
- The bolded message and 'New Message' line only disappears when I click the group chat in the LHN for the second time

https://user-

[2022-05-06 10:55] Julesssss commented on #8891
Hi @Christinadobrzyn, I'd like to keep this internal for the moment, as I might fix it myself

[2022-05-06 10:57] Tushu17 commented on #8505
I've applied to the job.

[2022-05-06 12:29] iwiznia commented on #8541
@dharmik are you going to update your proposal with @parasharrajat's suggestions?

[2022-05-06 12:29] mdneyazahmad commented on #8841
## Proposal

When dispatching a reset action we are not checking against correct `history` to find the drawer state and also on web default status is `closed` therefore we are setting the drawer state to `open` when navigating to report. As soon as we resize the window, it shows the drawer because of drawer state is open.

https://github.com/Expensify/App/blob/283569c7cffcf72053f97346e614af71556ee

[2022-05-06 12:38] lbaldy commented on #2727
@parasharrajat I am going to wait for the final decision and assignment after the internal discussions. If any additional information regarding any of my comments or videos or code is needed please let me know.

[2022-05-06 12:38] dharmik commented on #8541
Yes, i will plan to do it today or tomorrow.

[2022-05-06 13:08] OSBotify commented on #8777
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8892) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.57-7` :rocket:

[2022-05-06 13:08] OSBotify commented on #8777
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.57-7 has been deployed to staging :tada:

[2022-05-06 13:17] sketchydroide commented on #8791
not closed

[2022-05-06 13:19] sketchydroide commented on #8791
also I noted something else, this also happen on Search for a chort period of time. I then resets the frame. but it never shows the banner directing to the app store.
![IMG_4194](https://user-images.githubusercontent.com/242568/167139248-3fbea5f1-af89-447a-b2ff-9826af7ad808.PNG)

[2022-05-06 13:33] sketchydroide commented on #8791
Another thing I noticed is that if the user goes to another tab, or goes to background and comes back again the frame is redrawn and the view looks good again.

[2022-05-06 13:45] michaelhaxhiu commented on #8652
There is no C+ on this issue since Rajat un-assigned himself, so I'm triggering re-assignment.

[2022-05-06 14:27] jboniface commented on #7962
Is this still being worked on? We haven't had an update in over two weeks.

[2022-05-06 15:00] kbecciv opened #8895 "Web - Profile - After selecting an option in a drop-down the save button is also focused"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/ and log in
2. Go to Settings/Profile
3. Click on Preferred Nouns or Timezone drop-down menus and select

[2022-05-06 15:25] jboniface commented on #7962
@roryabraham or @parasharrajat do you have any thoughts about how we should handle this?

[2022-05-06 16:00] Santhosh-Sellavel commented on #8007
Applied @kadiealexander

[2022-05-06 16:07] bondydaa commented on #8895
should be easy for a contributor to fix

[2022-05-06 16:14] Santhosh-Sellavel commented on #8005
The proposal is simple & solves the issue. But it's not synced with LHN in any way.  If there could be util function to find out whether the report should be shown in LHN or not. Which should be consumed by both LHN window & UnreadIndicatorUpdater so the results are always correct.

Any thoughts? @Beamanator

[2022-05-06 16:24] Santhosh-Sellavel commented on #8841
@mdneyazahmad
I'm not board with this idea. Can not confirm that this is the root cause either.
[code]

Looking for a better proposal thanks!

[2022-05-06 16:38] Santhosh-Sellavel commented on #7860
Thanks, @izhan! I'm keen to know more about the (3). Meanwhile, I'll look into the other thoughts & comments.

[2022-05-06 16:47] Santhosh-Sellavel commented on #8590
@allroundexperts Always include the code snippet instead of images, it would help us to review it faster.

Can you share the updated proposal with code snippets? Thanks!

[2022-05-06 16:52] marcaaron commented on #8888
Not running an M1 mac so can't properly test this.

[2022-05-06 17:13] AndrewGable commented on #8851
@Expensify/applauseleads - Can you reproduce this?

[2022-05-06 17:21] mdneyazahmad commented on #8841
@Santhosh-Sellavel This is the exact reason for the issue. As I have said this may not be the final code that we will use. We may refactor it. `currentState.default` is `closed` on large screen so when that code executes it pushes drawer status `open`. It does not affect large screen because of `drawerType` is `permanent`. But as soon as it is resized drawer is opened.

If you try to reproduce the

[2022-05-06 17:22] Julesssss commented on #5336
PR in progress

[2022-05-06 17:26] isagoico commented on #8851
@AndrewGable Able to reproduce the issue in my device, Android 10 / Build 1.1.57-7

https://user-images.githubusercontent.com/44479856/167182005-bf347212-83f6-4ccc-854a-65d0890c4d78.mp4

[2022-05-06 17:26] Santhosh-Sellavel commented on #8461
Thanks, @Tushu17, I was able to reproduce this one, on chrome (Windows).
The issue exists on staging but is no longer reproducible in the main branch. Check out the video in the slack [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1651857959769129?thread_ts=1648247302.114379&cid=C01GTK53T8Q)!

cc: @roryabraham

[2022-05-06 17:40] Santhosh-Sellavel commented on #8841
Please check more thoroughly, the problem might be with ` currentState.default `, but I'm not on board with setting `closed`  straight it may lead to regression.

[2022-05-06 17:48] mdneyazahmad commented on #8841
This also works `currentState.type !== 'drawer' || currentState.default === 'open' || currentState.default === 'closed' ? 'closed' : 'open'`

[2022-05-06 18:00] Santhosh-Sellavel commented on #8841
It's literally the same thing,

[2022-05-06 18:11] mdneyazahmad commented on #8841
This is same thing therefore I hardcoded it. If I have a better proposal I will post. Thank you for your review.

[2022-05-06 18:22] roryabraham commented on #8272
Sorry, wasn't able to gain consensus / haven't had time to push forward that discussion yet. I still want to at some point, but I can fix this with the current simple-but-verbose-and-unreadable solution in the meantime. 🙁

[2022-05-06 18:28] roryabraham commented on #7925
Putting this on hold while we work. It seems like this particular bug is fixed, but we'll keep this open until the fix is verified in our app.

[2022-05-06 18:40] mdneyazahmad commented on #8426
## Proposal

https://github.com/Expensify/expensify-common/blob/427295da130a4eacc184d38693664280d020dffd/lib/ExpensiMark.js#L297

We will add a feature to apply selected rules (optional) while parsing.

[code]

https://github.com/Expensify/expensify-common/blob/427295da130a4eacc184d38693664280d020dffd/lib/ExpensiMark.js#L370

[code]

[2022-05-06 18:51] roryabraham commented on #7582
No update again.

[2022-05-06 18:51] roryabraham commented on #7094
No update.

[2022-05-06 18:51] thienlnam commented on #8185
Waiting on deploy to production

[2022-05-06 19:08] marcaaron commented on #8329
Heads up I'm going OOO for a week. @sketchydroide can you please close this once it hits staging and passes QA? 🙇‍♂️

[2022-05-06 19:11] marcaaron commented on #7912
Unassigning as I'm going OOO for a week. I think we are pretty much good here and just need to assign a new reviewer with PullerBear for whatever PR we are waiting on.

[2022-05-06 19:19] marcaaron commented on #8722
Going ooo for a week so I'm dropping the priority here as we agreed to absorb this one into the forms project. cc @luacmartins assigned you temporarily - I can take over again when I return.

[2022-05-06 19:25] marcaaron commented on #7317
Pulling a @mountiny and assigning someone new as I'm going OOO for a week.

[2022-05-06 19:26] marcaaron commented on #7007
Going OOO for a week and will need to re-assign this.

[2022-05-06 19:27] marcaaron commented on #2727
Sorry guys, going OOO for a week and won't be able to help with this one. Sounds like it's moving in the right direction though!

[2022-05-06 19:37] allroundexperts commented on #8590
@Santhosh-Sellavel Updated.

[2022-05-06 19:43] Santhosh-Sellavel commented on #6154
@eVoloshchak

Getting this weird issue:

https://user-images.githubusercontent.com/85645967/167206402-7b13e518-a750-4f25-a3d8-a10f18d1490d.mp4

[2022-05-06 19:47] Beamanator commented on #8469
@Puneet-here yes please, sorry for the delayed response

[2022-05-06 19:51] AndrewGable commented on #8851
@trjExpensify - Do you know if I applied the correct labels here? 🤔 - It seems like we are missing a C+.

[2022-05-06 19:59] Santhosh-Sellavel commented on #8590
Issue still exists for few images.

https://user-images.githubusercontent.com/85645967/167208448-309bea2a-97c1-4bd9-8453-23ba82f2cdf3.mov

[2022-05-06 19:59] eVoloshchak commented on #6154
Sorry, I made a [typo](https://github.com/Expensify/App/commit/0f43650cb5c3c011ac6411d85e2562a77a50b4d4), now it's resolved. Same [diff](https://github.com/Expensify/App/compare/main...eVoloshchak:eVoloshchak_iouAmountPrototype2)

[2022-05-06 20:00] allroundexperts commented on #8590
@Santhosh-Sellavel These seem to be previously uploaded images. This will happen for them unless they're updated with the new attribute.

[2022-05-06 20:01] Santhosh-Sellavel commented on #8590
Yeah, I was updating the same in the comment!

[2022-05-06 20:02] allroundexperts commented on #8590
@Santhosh-Sellavel I don't think we can do anything about the previously uploaded images. @chiragsalian Maybe you can run some sort of cron that updates the already existing images?

[2022-05-06 20:04] Santhosh-Sellavel commented on #8590
Yeah, @chiragsalian can show some clarity here!

[2022-05-06 20:05] Santhosh-Sellavel commented on #8590
@allroundexperts what do you mean by this?

[code]

[2022-05-06 20:06] allroundexperts commented on #8590
It's checking if width and height was supplied in the image attributes. If not, we're setting a default width and height for thumbnail exactly how it was previously.

[2022-05-06 20:14] Santhosh-Sellavel commented on #8590
Maybe check out this documentation https://reactjs.org/docs/typechecking-with-proptypes.html. Know more about propTypes & defaultProps!

[2022-05-06 20:15] allroundexperts commented on #8590
@Santhosh-Sellavel What do you mean? Sorry, I did not get you.

[2022-05-06 20:23] Santhosh-Sellavel commented on #6154
@eVoloshchak
Still, there are some cursor issues, check out this I am trying to select a portion trying to paste 8(I tried with double digits too). One time cursor moves to different places one time it was to the end, and one time it was at the right place.

https://user-images.githubusercontent.com/85645967/167211388-f8f91da8-16ac-498e-938a-8b7395809479.mp4

[2022-05-06 20:25] allroundexperts commented on #8590
@Santhosh-Sellavel I get it now. Will update proposal.

[2022-05-06 20:42] allroundexperts commented on #8590
@Santhosh-Sellavel Updated.

[2022-05-06 20:47] Santhosh-Sellavel commented on #7968
Can you complete the function `keydownEventListenerFn`. Also, can you elaborate on how you are gonna handle

[2022-05-06 20:53] neil-marcellini commented on #8708
The PR has been merged and deployed to production so I'm going to close this. Maybe i didn't it close automatically because the issue is in the App repo?

[2022-05-06 20:53] #8708 closed

[2022-05-06 20:55] Santhosh-Sellavel commented on #8590
Mostly looks good, waiting for @chiragsalian response for this https://github.com/Expensify/App/issues/8590#issuecomment-1119967584

[2022-05-06 20:55] neil-marcellini commented on #8295
Still under review for this Onyx PR [Set default key states when clearing the cache](https://github.com/Expensify/react-native-onyx/pull/129).

[2022-05-06 21:00] Santhosh-Sellavel commented on #8545
@metehanozyurt
Can you elaborate on how this solves the issue?

we can remove this line
https://github.com/Expensify/App/blob/f174c3223a1d6d0f571e5bd799441690951f078c/src/libs/actions/Report.js#L930

[2022-05-06 21:07] jboniface commented on #8505
[this post](https://www.upwork.com/jobs/~0144114aadaf9db2b7)

[2022-05-06 21:20] thienlnam commented on #7934
Still holding

[2022-05-06 21:30] Tushu17 commented on #8505
@jboniface I have already applied to the job made by @dylanexpensify Should I be applying to the new job as there's already a job open.

Also we don't need a c+ and contributor manager here as this issue has already been fixed can you unassign them.

[2022-05-06 21:53] jboniface commented on #8505
@Tushu17 oh, i'm a dope, I didn't even realize the job was already made 🦤 , just use the original one and i'll delete mine

[2022-05-06 22:06] adelekennedy commented on #7942
Doubling time

[2022-05-06 22:10] adelekennedy commented on #8640
are we ready to close this?

[2022-05-06 22:50] MitchExpensify commented on #8895
[Upwork Job ](https://www.upwork.com/jobs/~01f05c98cd06bb3b25)

[2022-05-06 23:42] abdulsamad234 commented on #8895
My solution would be to find the piece of code that handles the focus and basically change the behaviour when enter is pressed, I'll have to take a look more into it to be more technical as this is my first time doing anything for expensify.

[2022-05-07 00:31] JediWattson commented on #8888
I just wanted to point out that I'm having the issue on an i5 intel macbook, so I don't think it's specific to m1

Also I wanted to share if you run "npm install" after the initial install you'll get this error.
This install was run using:
node v18.0.0
npm v8.6.0

<img width="571" alt="Screen Shot 2022-05-06 at 8 23 44 PM" src="https://user-images.githubusercontent.com/6119181/167230436-483403af-7

[2022-05-07 00:32] mallenexpensify commented on #2727
Quick update before the weekend hits, we're still discussing, expect an update on Monday, thanks for the patience and the help so far

[2022-05-07 00:43] NikkiWines commented on #4612
Sure, sounds good @mallenexpensify 👍

[2022-05-07 00:44] owjhart commented on #7968
The remainder of the `keydownEventListenerFn` will have the same business logic as the `bindHandlerToKeydownEvent` method that it will replace.

This will be handled by the `document.activeElement.blur()` as seen in the proposal’s code snippet for Button.js

[2022-05-07 02:19] #8884 closed

[2022-05-07 04:06] mohamedgamal500 commented on #8895
A quick look at the code
https://github.com/Expensify/App/blob/main/src/pages/settings/Profile/ProfilePage.js
I think this is happening because of the (isButtonDisabled) flag that checking if none of the form values have changed , so when changes the state of the drop-down list ,it just compares it with old values of the from but when already saved and got the updated values it compares again and

[2022-05-07 06:39] muas19 commented on #8888
This issue affects not only m1 macbooks.

[2022-05-07 07:21] metehanozyurt commented on #8545
Certainly. The reason I see as the source of the problem is that the `fetchChatReportsByIDs` function is not being called in our issue. For this reason, I searched for the reasons that blocked this road.
Deleting this line forces `fetchChatReportsByIDs`  function to be called. the reason is this:
When reports changes this function calls:
https://github.com/Expensify/App/blob/f174c3223a1d6d0f571e5b

[2022-05-07 08:50] tortutales commented on #8895
So I really got into Expensify project tonight and came up with this solution:

- This bug occurs because save `Button` in `ProfilePage` has a prop that subscribes this component to an event that's emitted on press 'Enter', and it doesn't follow up any special rule on whether it needs to be called or not. So I added React ref to `ProfilePage` that is going to be useful to detect whether a `Picker`

[2022-05-07 09:43] eVoloshchak commented on #6154
@Santhosh-Sellavel , [updated](https://github.com/Expensify/App/compare/main...eVoloshchak:eVoloshchak_iouAmountPrototype2)

[2022-05-07 10:53] Puneet-here commented on #8469
No worries. I have raised the PR (forgot it's saturday hehe)

[2022-05-07 11:04] Santhosh-Sellavel commented on #6154
Can you explain, what went wrong what changes did you make?

[2022-05-07 11:07] eVoloshchak commented on #6154
Here's the [commit](https://github.com/Expensify/App/commit/de3cee81192da2ba280b8575a1e02ed2342827fd) with the changes. As you can see, previously I was using **completely** wrong logic for getting the pasted text, that's why cursor was moving wrong in some cases

[2022-05-07 11:38] mdneyazahmad commented on #8895
The root cause of this issue is same as https://github.com/Expensify/App/issues/7918#issuecomment-1096631126. This issue exist in all pages where we register button with `pressOnEnter`.

[2022-05-07 14:56] eVoloshchak commented on #8311
@parasharrajat , this is a great find actually, I was lookig for something like this, but never managed to find it.
But we can't use this in our scenario (at least I couldn't figure out a way to).
Besides, as it turns out, this is not iOS specific, this problem is also present on Android (the issue description should probably be updated). Same as with iOS, wrong context menu is displayed when we h

[2022-05-07 16:28] eVoloshchak commented on #8851
When you try to reproduce this in dev, it gives you the following warning:

![image](https://user-images.githubusercontent.com/9059945/167263041-ce2f89ac-288e-476e-b2c8-700108af3981.png)

**Proposal:**

1. Add
[code]
to the list of permissions in [AndroidManifest.xml](https://github.com/Expensify/App/blob/main/android/app/src/main/AndroidManifest.xml)

2. Request permission on [this](https://githu

[2022-05-07 19:30] anboia commented on #8292
### Proposal

Removing a call for `setNativeProps` function on `InvertedFlatList`, fixes the issue

https://github.com/Expensify/App/blob/11a708c5614574e24f714de30f59683205e8d530/src/components/InvertedFlatList/index.js#L44-L48

`ReportActionsList` is the only component that uses `InvertedFlatList`. I have tested it on all web platforms and worked great.

### Context

According to necolas/react-na

[2022-05-08 06:36] mollfpr commented on #8895
The drop-down menu expands again but the Save button is also activated.
After selecting an option both the drop-down and the save button gain focus at the same time

@mananjadhav @MonilBhavsar Can you confirm that select input opens when enter key is pressed? It's not opening the select option on my Chrome Version 100.0.4896.127 (Official Build) (arm64).

https://stackoverflow.com/questions/430237

[2022-05-08 10:28] sandipanghos commented on #8895
@kbecciv is this issue still open for fixing.

[2022-05-08 11:22] kbecciv opened #8899 "Markdown-Special characters does not change if the part of the word with Bold or italic"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go  to http://staging.new.expensify.com/ and log in with any user
2. Select any user from your chat list
2. Send text: Chry*st*mas _ti_me

## Exp

[2022-05-08 12:40] eVoloshchak commented on #8287
**Proposal 1**
Change this line
https://github.com/Expensify/App/blob/b347866b2af95bd2c51eb6bb65098bd1d756e7d0/src/components/EmojiPicker/EmojiPickerMenu/index.js#L154

to
[code]

**Proposal 2**
If we need to fix this in the Composer itself, so the issue doesn't happen in other components, but this feels kinda hacky.
In Composer's [componentDidUpdate](https://github.com/Expensify/App/blob/b347866b

[2022-05-08 14:39] aneequeahmad commented on #6941
Please provide repro steps of this issue. I'm waiting for it.

cc: @parasharrajat

[2022-05-08 20:00] kakajann commented on #8850
Actually, this component triggers the Growl in `WorkspaceMembersPage`. Even if its name is `CheckboxWithTooltip`
https://github.com/Expensify/App/blob/724ccb46ca4b2f48f6052592cbacc7ffe9528c5c/src/pages/workspace/WorkspaceMembersPage.js#L207-L214

And as you can see there's a prop
[code]

So, when a user presses their own name, a new state is dispatched here:

https://github.com/Expensify/App/blob/

[2022-05-08 23:41] jliexpensify commented on #8762
Dylan's on parental leave, so I'll take care of payment. Thanks!

[2022-05-09 01:28] Christinadobrzyn commented on #8891
Sounds good! I'll keep it assigned as is for the time being.

[2022-05-09 01:44] kadiealexander commented on #8007
Thanks @Santhosh-Sellavel!! All paid up.

[2022-05-09 01:44] #8007 closed

[2022-05-09 02:38] mollfpr commented on #8126
@parasharrajat Any thought on this https://github.com/Expensify/App/issues/8126#issuecomment-1118839624 ?

[2022-05-09 03:07] tgolen commented on #8867
Cool investigation! My initial concern is that it looks like a pretty intensive function that will be run a LOT (several maps, filters, etc.). I think we need to make sure it's optimized as much as it can be. It looks like there are multiple methods there which you didn't include the source of (trimEmojiUnicode, getEmojiUnicode, etc.). Maybe some of those can be memoized? Let's make sure the end r

[2022-05-09 03:10] tgolen commented on #8867
It almost seems to me like we should only be doing this calculation once for every message when it's created (and edited) and then stored as a field on the message. That would prevent us from doing the same calculation over and over and over everytime this message is displayed for everyone.

[2022-05-09 05:07] kadiealexander commented on #7352
@roryabraham do we need to issue payment for anything so far? I'm unclear on if this issue has anything unusual I need to manage.

[2022-05-09 05:27] kadiealexander commented on #8197
@sobitneupane as per Dylan's message above, please let us know the latest update when you can. :)

[2022-05-09 05:29] kadiealexander commented on #8286
Price doubled again! 🎉

[2022-05-09 05:45] kadiealexander commented on #8357
Sent offers in Upwork to:
Hired contributor: @sobitneupane
C+: @Santhosh-Sellavel
Reporting bonus: @thesahindia

[2022-05-09 05:49] kadiealexander commented on #8595
Doubled the price, please get those proposals in!

[2022-05-09 05:50] kadiealexander commented on #8663
@parasharrajat any thoughts on the above?

[2022-05-09 05:54] kadiealexander commented on #8787
@kbecciv could you please let us know if this is reproducible?

[2022-05-09 06:06] aswin-s commented on #8286
Looks like this is because of the associated domains configuration for the app. For configuring universal links, below domains are linked with the app

https://github.com/Expensify/App/blob/724ccb46ca4b2f48f6052592cbacc7ffe9528c5c/ios/NewExpensify/Chat.entitlements#L8-L14

In this list `expensify.cash` comes first and naturally that domain is given highest priority out of the associated domains.

[2022-05-09 06:16] bfitzexpensify commented on #7625
Not deployed to production just yet.

[2022-05-09 07:18] Beamanator commented on #7792
Not overdue, PR not on staging yet

[2022-05-09 07:19] Beamanator commented on #7486
PR in final stages of review, should be merged soon https://github.com/Expensify/App/pull/8494

[2022-05-09 07:54] Beamanator commented on #8005
@Santhosh-Sellavel that does sound like a good idea, if we're planning to **hide** Default room / Policy rooms in the LHN when there's no messages. I don't see that happening in `SidebarLinks.js`, do you see if that's happening somewhere?

[2022-05-09 08:45] twisterdotcom commented on #8652
@jayeshmangwani is right, this is now 8.0.0. Updated the issue title.

[2022-05-09 10:26] sketchydroide commented on #7844
no update

[2022-05-09 10:42] Julesssss commented on #7375
Taking over the PR

[2022-05-09 10:54] Beamanator commented on #8574
It looks like it's possible this is being reproduced with a user on a policy with > 10k users, is that correct @mvtglobally ?

I'm just guessing based off of messages in [this thread](https://expensify.slack.com/archives/C9YU7BX5M/p1645499292876349?thread_ts=1644341069.154809&cid=C9YU7BX5M) though that seems 3 months old.

[2022-05-09 10:58] parasharrajat commented on #6941
@aneequeahmad Reproduction steps are the same as mentioned in the issue description. This issue is reproducible via the QA team but I was not able to. This is likely to be specific to some devices.

[2022-05-09 11:01] Beamanator commented on #5781
Ya feel free to bring it up again in #expensify-open-source if you really feel like it needs to be implemented - usually when issues sit around and aren't acted on, it means we don't view it as a priority and don't think it's necessarily worth it to implement. But since priorities are always changing around, someone else may feel different so again feel free to bring it up again in #expensify-open

[2022-05-09 11:04] sketchydroide commented on #8329
will do

[2022-05-09 11:10] sketchydroide commented on #8777
https://github.com/Expensify/App/pull/8871 should be fixes on the build above. @mvtglobally I think we can test it

@chiragsalian I will continue to investigate https://github.com/Expensify/App/issues/8791, I did some small progress last week, but it's still really a mistery what is happening, feel free to give it a try as well.

[2022-05-09 11:36] NicMendonca commented on #8126
@parasharrajat bump ☝️

[2022-05-09 11:46] trjExpensify commented on #8851
You're good. I hadn't taken this to Upwork yet to add the `Exported` label (which will assign C+ and `Help wanted`), but let me do that now that it has been reproduced.

[2022-05-09 11:58] michaelhaxhiu commented on #8652
This SDK seems to be updating pretty frequently, and consecutively each week... is this the norm? If so, I wonder if this is best handled internally after all?

[2022-05-09 12:08] michaelhaxhiu commented on #8850
Sorry I missed this, last week was busy. Job is posted!

[2022-05-09 12:11] michaelhaxhiu commented on #8235
[Posted in #contributor-plus](https://expensify.slack.com/archives/C02NK2DQWUX/p1652098267027229?thread_ts=1651178793.587569&cid=C02NK2DQWUX) looking for a volunteer to run a git bisect, and maybe discover the offending PR.

[2022-05-09 12:12] michaelhaxhiu commented on #8122
@aneequeahmad can you provide an update since it's been a little while here?

[2022-05-09 12:13] michaelhaxhiu commented on #8590
Not overdue, awaiting input from @chiragsalian :)

[2022-05-09 12:17] nkuoch commented on #8652
I agree. I think whoever does Web-Secure internally could do App at the same time - it's not much more work.

[2022-05-09 12:30] Beamanator commented on #8833
PR ^ added to create a new function that will allow us to reopen GH issues

[2022-05-09 13:02] sketchydroide commented on #8791
I was trying to see if there was a React Native that could have been responsible for the change but did not find anything.

[2022-05-09 13:05] Santhosh-Sellavel commented on #8652
Is this still external? or internal? @michaelhaxhiu

[2022-05-09 13:11] michaelhaxhiu commented on #8652
@Santhosh-Sellavel I'm working on making this internal right now, based on the comments [above](https://github.com/Expensify/App/issues/8652#issuecomment-1121005859).

[2022-05-09 13:35] cead22 commented on #8848
@flodnv this was reported by @kidroca so tagging him. I don't have an android, but it sounds like it isn't slow for you which is good. Could this be a device specific thing? What devices do you guys have?

[2022-05-09 13:44] kbecciv commented on #8787
@kadiealexander Issue is still reproduced.

https://user-images.githubusercontent.com/93399543/167423458-83c7a6f5-8960-4d3f-95a8-8a6af3f87d32.mp4

[2022-05-09 13:50] ahmdshrif commented on #8787
https://github.com/Expensify/App/pull/8741#issuecomment-1112752513
Just mention that PR not deploy to stage yet .. but can be tested on main branch.

[2022-05-09 13:51] Beamanator commented on #8833
Final PR to finish it off ^ (waiting on PHP-Libs PR to be merged first)

[2022-05-09 13:54] arosiclair commented on #7014
Looked into this last week. Was able to reproduce the problem and it appears that our API does trigger a Pusher report comment with "split ..." text for each split participant which explains why 2 "split" messages were received.

I'm trying to get a better understanding of the CreateIOUSplit flow, but can't get PHP debugging working in my environment just yet. Will continue looking into this this

[2022-05-09 14:02] #8652 closed

[2022-05-09 14:06] mallenexpensify commented on #4612
Doubled price to $16000

[2022-05-09 14:09] kidroca commented on #8848
Opening is a bit slow, but actually selecting an emoji is the thing that seem to hang

Maybe it doesn't hang, but for some reason the first tap is not detected
In the video from the description emojis are picked only after the 2nd tap

My test device is Samsung Galaxy S7 edge from 2017 so it's a bit old 😃

[2022-05-09 14:18] ahmdshrif commented on #4612
# Proposal

the issue for LHN is different from RHN (search Screen) so this proposal is only for LHN

## Problem :

https://user-images.githubusercontent.com/21364901/166839179-0c24bf24-3c57-4337-8647-40ddde7d95f5.mov

when we tap on LHN on user1 -> user2 -> user3 -> user4 -> user5
then click back or use cmd + [  to go back
the app will navigate to user3 -> user1

so the history is skipping one us

[2022-05-09 14:24] aneequeahmad commented on #8122
@michaelhaxhiu we had one edge case , when trying to resize the web/desktop app the `UI was broken` due to not enough height. Discussed with design team and added minimum height check for `medium screens`.

Pushed the changes and requested review on `PR`.

cc: @Santhosh-Sellavel

[2022-05-09 14:27] aneequeahmad commented on #6941
Got it so it's reproducible on `Samsung Galaxy A50 - Android 11` & `Samsung Galaxy S21 - Android 12`. Thanks.

[2022-05-09 14:38] NikkiWines commented on #8899
Hmm, @kbecciv is this functionality that used to exist and somehow stopped working? If not, I'm not sure this is something we need to support. Here are some tests on other platforms :

1. Slack
<img width="218" alt="Screen Shot 2022-05-09 at 09 34 22" src="https://user-images.githubusercontent.com/16747822/167433301-8f80838c-3b0d-42a2-92be-68812f0024c1.png">

2. Github

Chr*ist*m_as_ (following ab

[2022-05-09 14:44] mvtglobally commented on #8777
@sketchydroide we are testing #8871.
@chiragsalian Can you push the build or add new PRs today to this checklist. It has been almost 2 weeks since last deploy.

[2022-05-09 14:51] parasharrajat commented on #4612
Thanks @ahmdshrif I will review this as soon as possible.

[2022-05-09 15:02] mallenexpensify commented on #8592
@MonilBhavsar , any reason this shouldn't be labeled `External`?
If it's confirmed to be a regression, let's add it to the [RCA list](https://docs.google.com/spreadsheets/d/1u73RE8J1DdX3mDohV1RXgulF6_cke3N_a15Sk-UUdQo/edit#gid=0) even if we don't know what the offending/root issue or PR is yet.

[2022-05-09 15:24] mallenexpensify commented on #8718
It's likely cuz it was reported as a bug, which it _seems_ like it is, right?
Maybe @mvtglobally accidentally titled with `Feature Request` or thought that is should be a FR vs bug?
¯\_(ツ)_/¯

[2022-05-09 15:32] mallenexpensify commented on #8130
@Julesssss what's status here?  Should we put this on hold awaiting a backend change? If so, what's link to that issue?

[2022-05-09 15:40] Julesssss commented on #8130
@mallenexpensify created an internal issue [here](https://github.com/Expensify/Expensify/issues/209906)

[2022-05-09 16:09] neil-marcellini commented on #8719
@akhilesh-mourya any update?

[2022-05-09 16:13] michaelhaxhiu commented on #8122
Thanks for that summary!

On Mon, May 9, 2022 at 10:24 AM aneequeahmad ***@***.***>
wrote:

--
Michael Haxhiu

[2022-05-09 16:15] mvtglobally commented on #8718
@mallenexpensify
There was another tread where discussion was that similar issues should be treated as Feature requests. I'll try to find and will update in a bit

[2022-05-09 16:31] parasharrajat commented on #7618
I agree.

Didn't get this.

Then it would be a great post on slack to discuss. All ideas are welcome.

Although many of the above proposals work for this issue, I do not consider any of the above proposals a go-to solution to the issue. It does mean I am rejecting the proposals but now the question is which is better over the other. What is the best way to find out that? I will discuss this intern

[2022-05-09 16:47] eVoloshchak commented on #8867
Android is about 3 times slower, message with ~250 emojis takes 4.4ms. But, unlike in web, memoization doesn't yield any noticeable difference.
![Screenshot from 2022-05-09 19-43-56](https://user-images.githubusercontent.com/9059945/167457923-ad5b87c4-f688-4fa7-89d7-52eae80628bb.png)

[2022-05-09 16:48] mallenexpensify commented on #8721
Is there a best practice for this?  Maybe ask in #expensify-open-source, #engineering-chat or #infra?

[2022-05-09 16:54] tgolen commented on #8867
OK, it looks like the performance isn't terrible (but also frustrating that it's 3x worse). I think it's OK to move forward and we can keep in mind the alternative solution in the future if this is something we want to come back and optimize.

cc @cead22 just so you are aware of this performance discussion (since you're working on some performance projects).

@JmillsExpensify can you please hire @

[2022-05-09 17:08] Julesssss commented on #8867
Thanks Tim, good idea to actually measure the performance impact of this change.

We had already hired, but were awaiting the outcome of this discussion. Looks like we're good to review the PR now.

[2022-05-09 17:13] mvtglobally commented on #8718
@kadiealexander, @mallenexpensify, @marcaaron Since "start over" button is not exiting in the flow and we had similar issues in the past where it wasn't a bug, but rather a feature, I logged this as feature request. If everyone is aligned it is a bug, I will just modify the title and change labels to Engineering now?

[2022-05-09 17:24] eVoloshchak commented on #8867
PR is already up, but since we're discovered that memoization reduces time (at least for web), I need to update it.
I need to memoize [getEmojiUnicode](https://github.com/Expensify/App/blob/919a384991e6c88d570bd7061a53f0adebf822b3/src/libs/EmojiUtils.js#L12) function, that looks like this:
[code]
When testing i just did
[code]
but this feels wrong because all other methods in this file are non-ano

[2022-05-09 17:28] aneequeahmad commented on #7618
@parasharrajat oh apologies,  i didn't know that we can't update proposals. Sure, will be posting the final solution.

[2022-05-09 17:31] tgolen commented on #8867
What's the problem with making it anonymous?

One solution:
[code]

[2022-05-09 17:33] eVoloshchak commented on #8867
No problem, if that's acceptable from the styling perspective. I just thought about this because all other methods in this file are non-anonymous
Thanks!

[2022-05-09 17:49] aldo-expensify commented on #8841
No overdue

[2022-05-09 18:02] chiragsalian commented on #8590
Just reading this now. Yeah i don't think its valuable to update all past images on newDot. I think it's okay to have this feature only working moving forward with new images.

[2022-05-09 18:11] thienlnam commented on #7307
Same as above, waiting for deploy and production wait

[2022-05-09 18:16] stephanieelliott commented on #7081
Work is progressing in the PR https://github.com/Expensify/App/pull/8042

[2022-05-09 18:19] stephanieelliott commented on #7706
PR is under QA

[2022-05-09 18:20] stephanieelliott commented on #8134
PR is on hold

[2022-05-09 18:21] chiragsalian commented on #8777
We unfortunately cannot unless we manually CP them to checklist. But i think this is valuable because we can discuss with the team if we should have a feature to deploy only to staging when needed. Seems like a double edge sword though since it would be harder to solve deploy blockers if they come up. Anyway shall discuss with the team. I'll check the checklist and issues today.

[2022-05-09 19:09] izhan commented on #7618
Today, any changes to the history via actions occur in a `useEffect` and are batched together:
https://github.com/react-navigation/react-navigation/blob/a937523d59301013fabe872516da61f0cd5b304c/packages/core/src/BaseNavigationContainer.tsx#L370

We want to call this `useEffect` handler every time there is an action change. To do so, we'll need to force actions to be in different render cycles, hen

[2022-05-09 19:14] izhan commented on #7618
Anything I can help clarify? My proposal is essentially "diffing" the state objects.

I didn't understand this comment. Some state changes are deeply nested – is there an issue with using recursion to look for that?

[2022-05-09 20:51] #7492 closed

[2022-05-09 21:00] parasharrajat commented on #7121
PR is in progress.

[2022-05-09 21:02] chiragsalian commented on #8329
This [PR](https://github.com/Expensify/App/pull/8827) is on staging. Tested the issue on `1.1.57-8` and it looks resolved. Closing this issue and checking it off the checklist.

[2022-05-09 21:02] #8329 closed

[2022-05-09 23:53] Santhosh-Sellavel commented on #8590
Thanks, @chiragsalian.

@allroundexperts  [proposal](https://github.com/Expensify/App/issues/8590#issuecomment-1119034112) looks good to me!

A couple of suggestions,
1. There is some unnecessary object construction & destructuring. So the following code
[code]
refactered to this
[code]

2.  `allowDownload` prop is deleted in the proposal, make sure to add it back!
<img width="547" alt="Screenshot

[2022-05-10 00:00] OSBotify commented on #8777
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8906) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.57-9` :rocket:

[2022-05-10 00:27] OSBotify commented on #8777
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.57-9 has been deployed to staging :tada:

[2022-05-10 00:36] Santhosh-Sellavel commented on #7917
I see only check box changes there what about the issues mentioned here, https://github.com/Expensify/App/issues/7917#issuecomment-1101323703

[2022-05-10 01:05] neil-marcellini commented on #8423
I played around with this today and I got it to work fairly well permanently expanded. Next I'll figure out how to show an expand button once 3 lines have been typed. Then I will write my plan.

[2022-05-10 01:28] OSBotify commented on #8777
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.57-10 has been deployed to staging :tada:

[2022-05-10 02:18] chiragsalian commented on #8791
Took some time to understand the issue, figure out if there was some way to test and research about the smart popover and possible solutions.
I tried possible solution 2 mentioned by tim [here](https://github.com/Expensify/App/issues/8791#issuecomment-1118001901). This is the [PR](https://github.com/Expensify/App/pull/8906). It didn't work ([screenshots](https://github.com/Expensify/App/pull/8906#

[2022-05-10 02:39] Christinadobrzyn commented on #8891
Hey @Julesssss would it be okay to move this to a `weekly` label instead of `daily`?

[2022-05-10 02:43] kadiealexander commented on #8718
I think we all agree that this is a good move, but we can leave it as a feature request for now since the product is currently working as we intended it to, this is just an improvement. Passing back to engineering triage now that we're all aligned. Thanks everybody!

[2022-05-10 02:46] Christinadobrzyn commented on #8422
Still working on this.

[2022-05-10 02:49] OSBotify commented on #8777
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8912) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.57-11` :rocket:

[2022-05-10 02:49] OSBotify commented on #8777
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.57-11 has been deployed to staging :tada:

[2022-05-10 03:40] mvtglobally opened #8915 "[HOLD on #9382][$2000] Main chat is slow to load (15-30 seconds) on desktop"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sent message in Desktop to Hax
2. Closed lid of computer
3. Hax sends message to me
4. Saw incoming message from Hax on phone
5. Opened laptop an

[2022-05-10 04:16] mvtglobally commented on #7715
Issue not reproducible during KI retests. (Second week)

[2022-05-10 04:18] mvtglobally commented on #8116
Issue not reproducible during KI retests. (Third week) Closing

[2022-05-10 04:18] #8116 closed

[2022-05-10 04:19] mvtglobally commented on #8321
Issue not reproducible during KI retests. (Second week)

[2022-05-10 04:21] frenkield commented on #8595
## **Proposal**

Add a password entry form for password-protected PDF attachments. The password form is effectively part of `PDFView`. This is overall a simple solution, but requires additional plumbing to properly hide or disable the `send` button in the `AttachmentModal` component.

### Task 1 - Create PDF Password Form Component

1. Create a React component called `PDFPasswordForm` as part of t

[2022-05-10 04:28] mvtglobally commented on #8573
Issue not reproducible during KI retests. (Second week)

[2022-05-10 04:29] mvtglobally commented on #8640
Issue not reproducible during KI retests. (Second week)

[2022-05-10 04:31] mvtglobally commented on #8641
Issue not reproducible during KI retests. (Third week)
@flodnv  Our team is no longer able to repro exact issue. Are we ok to close and if there other issues open specific new ones?

[2022-05-10 04:32] chiragsalian commented on #8777
@sketchydroide, was this CP by you to add around 30 tasks to the QA checklist intentional - https://github.com/Expensify/App/pull/8871?

Also how is it that there are two CP's referring the same PR (8827) but with very different file changes? I'm wondering if there was some bug here.
1. https://github.com/Expensify/App/pull/8871
2. https://github.com/Expensify/App/pull/8904

I feel like the first

[2022-05-10 04:37] chiragsalian commented on #8791
Updating navigation packages didn't help either so i'm reverting it.

On a side note, since this is only affecting ios safari and isn't game breaking i think we should remove deploy blocker label and instead investigate this as a daily. This is because we haven't deployed newDot in 2 weeks and it would be nice to have the checklist and QA moving forward steadily unless we have strong pushback. Let

[2022-05-10 04:39] chiragsalian commented on #8590
Awesome, proposal looks good to me too. Feel free to work on the PR @allroundexperts.

[2022-05-10 04:48] OSBotify commented on #8777
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8916) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.57-12` :rocket:

[2022-05-10 04:48] OSBotify commented on #8777
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.57-12 has been deployed to staging :tada:

[2022-05-10 06:02] chiragsalian commented on #8777
Checked off the following since it was just me testing stuff on staging.
https://github.com/Expensify/App/pull/8906
https://github.com/Expensify/App/pull/8909
https://github.com/Expensify/App/pull/8912
https://github.com/Expensify/App/pull/8916

[2022-05-10 07:59] Julesssss commented on #8891
Oh yeah, of course :)

[2022-05-10 08:14] sobitneupane commented on #8197
Deployed to staging. Awaiting PROD deployment

[2022-05-10 09:29] mdneyazahmad commented on #8426
I am sorry, if it was not clear and I will keep in mind to write with more details from the next proposal.

Current implementation in `replace` method passes the input string to all available rules defined in the class. If the string contains a markdown styled link eg. `[~Hi~ **Hello** _Expensify_](https://expensify.com)`, it matches against `link` rule and it's parsing is handled in this method `

[2022-05-10 09:44] sketchydroide commented on #8791
I agree @chiragsalian, we can ask what everyone thinks in #deployer, but I think at this moment having a release is more important, and while this glitch is anoying it's not even permanent, is you go to another tab, or make safary go to background and then foreground again it fixes itself.

[2022-05-10 10:15] parasharrajat commented on #8426
Ok, I see. The proposal looks good to me @mdneyazahmad.

cc: @NikkiWines

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-05-10 10:54] MonilBhavsar commented on #8592
No reason, adding external label now.
I'm not sure if we should add it to RCA list as it's not the breaking anything

[2022-05-10 11:23] parasharrajat commented on #8126
Thanks for the proposal but this does not seem durable. I do not understand the changes in screenListeners. what are the reasons for using that code? ScreenListener runs on each screen which could be part of any navigator. This code will run on any navigator.

                        // We only change the default drawer status `closed`` when
                        // 1. Current route is report sc

[2022-05-10 11:36] parasharrajat commented on #8292
Did you get a chance to go through CONTRIBUTING.md? I am sure it was mentioned on the Upwork Job. Please close that PR and do not create any until your proposal is accepted.

[2022-05-10 11:37] anboia commented on #8292
Ok, sorry about that

[2022-05-10 12:06] iwiznia commented on #8915
Sorry, but I don't understand the steps. Step 3 says you see an incoming message from Hax, but there's no step where Hax sends you a message

[2022-05-10 12:18] mollfpr commented on #8126
@parasharrajat  Yes, the choose is either set onyx key on screen listener or at the lib when try to change drawer state.

The reason why I use screenListener is to make it cleaner to handle set onyx value. If you prefer to set the value on drawer state change we can combine my other proposal to do that.

[2022-05-10 13:45] aldo-expensify commented on #8641
@mvtglobally I just reproduced it, I'll update the steps because they are not correct I think.

[2022-05-10 14:07] mallenexpensify commented on #7121
@parasharrajat , has the PR been waiting 8 days for changes from you?
<img width="533" alt="image" src="https://user-images.githubusercontent.com/22508304/167648067-d452dcc3-c442-4e0d-a58f-845a75cb92ed.png">

[2022-05-10 14:53] MonilBhavsar commented on #8895
@luacmartins can you please confirm if this is going to be fixed by Audit form issues?

[2022-05-10 15:11] mallenexpensify commented on #8915
Added

I thought `Saw incoming message from Hax on phone` inferred that Hax actually sent a message :trollface:

[2022-05-10 15:40] NikkiWines commented on #8426
Yep, agreed - this looks good. @adelekennedy can you hire @mdneyazahmad for this job please?

[2022-05-10 16:00] michaelhaxhiu commented on #8235
cc @kidroca is going to help out here!

[2022-05-10 16:02] isagoico commented on #8899
@NikkiWines This issue was found as part of the **exploratory** cycles we are running weekly. A tester was comparing the behavior of the Markdown in New Expensify with https://markdownlivepreview.com/.
We're not sure if this was something that was working before since most of the Markdown tests we executed did not include this scenario 🤔

[2022-05-10 16:06] parasharrajat commented on #7121
Yes. i have tried a couple of things but still need to figure out the requested changes.

[2022-05-10 16:17] jboniface commented on #8641
not overdue

[2022-05-10 16:24] kidroca commented on #8235
Yep, I'll investigate and report here

[2022-05-10 16:33] sketchydroide commented on #8777
No it was not intencional, to create those many new tasks, I just did the merge

I think one of the cherry picks was just to try to get the process working again, as it had been stuck with an error updating the version

[2022-05-10 16:38] kidroca commented on #8061
Update

I've tried `electron-webpack` and it seems it won't be able to fit the project without too many changes
(We'll have to override almost everything including providing custom webpack configs for renderer and main)

What I've missed the first time is this comment: https://github.com/sindresorhus/electron-reloader/issues/15#issuecomment-764557661 suggesting to replace `electron-reloader` with

[2022-05-10 16:43] adelekennedy commented on #7912
checking here - it looks like #8741 has been merged, are we good for payment @parasharrajat?

[2022-05-10 17:06] Julesssss commented on #8349
Not overdue, still awaiting proposals

[2022-05-10 17:08] Julesssss commented on #8797
No update, keeping assigned

[2022-05-10 17:08] Julesssss commented on #7737
Not overdue, we're awaiting proposals still

[2022-05-10 17:14] Santhosh-Sellavel commented on #8287
@Luke9389
@eVoloshchak [Proposal](https://github.com/Expensify/App/issues/8287#issuecomment-1120411714) looks good to me.

We are only using `setNativeProps` API on `textInputRef` to update the text on the other views that use Composer.
So Proposal 1 itself looks good to me!

🎀👀🎀 C+ reviewed.

[2022-05-10 17:18] iwiznia commented on #8915
We should investigate why there was a 30 seconds delay. is it because one all was slow? Is it because we don't re-trigger the download logic for a while? Is it that we triggered so many requests that the browser staggered them?

[2022-05-10 17:24] parasharrajat commented on #8899
Note: This was not supported since the start.

[2022-05-10 17:25] kbecciv opened #8922 "Payments -Two options are hidden when you click on > button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify,com
2. Log in with any account
3. Go to Profile - Settings
4. Select Payments
5. Click on > button

## Expected Resul

[2022-05-10 17:25] OSBotify commented on #8922
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-10 17:36] Santhosh-Sellavel commented on #6154
The proposal looks good, but it's not working well on mWeb in android & iOS.

[2022-05-10 17:41] Santhosh-Sellavel commented on #7968
@kevinksullivan
Need some more time to decide on this, please do not double this.
I'll let you know once I post my final review comments on this thanks!

cc: @stitesExpensify

[2022-05-10 17:47] Santhosh-Sellavel commented on #8361
@kevinksullivan @thienlnam
As per [Contributing](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md) guidelines,

There is no update over one week on this one, can we terminate @brianmuks contract add the Help Wanted Label here?

[2022-05-10 17:49] kbecciv opened #8923 "IOS - Can't play videos or download videos in any format"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR:** https://github.com/Expensify/App/pull/7849

## Action Performed:
1. Open App
2. Login any user in which you have videos upload
3.

[2022-05-10 18:00] brianmuks commented on #8361
Sorry for the delay. PR will be ready by tomorrow 🙏

[2022-05-10 18:00] kbecciv opened #8924 "[HOLD for payment 2022-05-20]Web - Log in - "Forgot?" password link is unresponsive"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to staging.new.expensify.com
2. Enter a email in the email field
3. Click on "Forgot?"

## Expected Result:
User is notified that a magi

[2022-05-10 18:01] OSBotify commented on #8924
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-10 18:04] NikkiWines commented on #8850
Hmm, yeah this is interesting. @kakajann's proposal will fix the issue but I agree it might be worth decoupling the growl from checkbox with tooltip - it feels weird that they're intertwined.

@pecanoro looks like you worked on this (somewhat) recently, what are your thoughts on decoupling the growl and checkbox? Or do you think we should just take the quick fix for this.

[2022-05-10 18:09] isagoico commented on #8924
This was introduced by one of the PRs recently added to the checklist. Possible culprits for the issue:
- https://github.com/Expensify/App/pull/8493
- https://github.com/Expensify/App/pull/8801

[2022-05-10 18:09] NikkiWines commented on #8922
Yeah, this is weird. Marking as external!

[2022-05-10 18:50] NikkiWines commented on #8922
I think it's because of https://github.com/Expensify/App/pull/8609. cc: @parasharrajat  @thesahindia

I checked out the commit directly prior to the merge commit and it worked as expected:
<img width="762" alt="image" src="https://user-images.githubusercontent.com/16747822/167700973-ea9e008a-d4ec-4d44-91a3-6602d60ed3a9.png">

[2022-05-10 18:52] NikkiWines commented on #8922
I'm not sure how to fix this off the top of my head and I'm OOO for most of today, so let's revert for now and re-introduce it with this edge case accounted for.

[2022-05-10 18:55] thesahindia commented on #8922
@NikkiWines, I had mentioned about this in https://github.com/Expensify/App/pull/8609#issuecomment-1097025949
To get more info about this issue you can check this https://github.com/Expensify/App/pull/7985#issuecomment-1094295477

[2022-05-10 19:05] NikkiWines commented on #8922
Ah, I must have missed that - thank you for the context @thesahindia.

If there's already a potential fix in the works I think in this case then it is ok to remove the deploy blocker label. Let's make sure to test this case in that PR as well. cc: @Julesssss since you just self-assigned https://github.com/Expensify/App/pull/7985

[2022-05-10 19:07] NikkiWines commented on #8777
Checking off https://github.com/Expensify/App/issues/8922 as it appears to be a known issue with a [fix](https://github.com/Expensify/App/pull/7985) in the works.

[2022-05-10 19:10] frenkield commented on #8595
Thanks, @Santhosh-Sellavel. Here's a few more details.

### For Web (`PDFView/index.js`):

1. Add state to indicate that a password is required. Here I store the `react-pdf` callback function and use that as a flag to determine whether or not to render `<PDFPasswordForm>`.

2. In this example I'm not hiding the `react-pdf` `<Document>` component when the password form is displayed. I can do this b

[2022-05-10 19:14] dharmik commented on #8440
@laurenreidexpensify Task is not yet assign me on upwork

[2022-05-10 19:25] roryabraham commented on #8777
It seems like something unexpected happened with this checklist. Why were so many new PRs added? Were they all CP'd or did we somehow deploy main to staging again?

[2022-05-10 19:51] mallenexpensify commented on #8915
I can try to reproduce if/when needed.  Hopefully the logs have some useful info in 'em

[2022-05-10 19:59] tgolen commented on #8791
I agree that it is OK to remove it as a deploy blocker. Thanks for all your
investigation and trial-and-error. This is super annoying, but maybe
something that we kick out to contributors and see if increasing the price
would attract some experts that can figure it out.

On Tue, May 10, 2022 at 3:44 AM Andre Fonseca ***@***.***>
wrote:

[2022-05-10 20:04] Puneet-here commented on #8287
I don't think we need to use `this.searchInput.setNativeProps({value: ' '}); ` because there's no use of it.

if we do that this will be the result ( notice how the whole search term gets cleared on pressing backspace )

https://user-images.githubusercontent.com/101883770/167710820-4a7aa6bf-4f0d-4988-aa4a-4c8ee3fa9c51.mov

**What's wrong with it?**
As far as I can think of the user will see this i

[2022-05-10 20:09] michaelhaxhiu commented on #8590
@allroundexperts can you please apply for [the job](https://www.upwork.com/jobs/~01ca59e5811fecf4d5) on upwork?

[2022-05-10 20:23] kbecciv opened #8926 "Sending money - User can't search for a currency because the search function is blocked"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Log into a verified user
3. Search for any user and open a chat
4. Click on the "Plus" icon
5. Click on "Send

[2022-05-10 20:24] OSBotify commented on #8926
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-10 20:43] chiragsalian commented on #8791
Cool thanks for the input guys, removing this as a deployer blocker for now. Also yup getting more eyes on this with the help of contributors would be pretty nice too.

[2022-05-10 20:44] kbecciv opened #8927 "[$500] Manage members - Page is blinking after removing user from Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Go to Setting > Workspace > Manage members
3. Invite few members(if you haven't)
3. Delete the member

## Expected Result:
Page

[2022-05-10 20:49] roryabraham commented on #7962
This bug isn't urgent, so imo we should hold out for a fix in the upstream rather than using a workaround in E/App. @barun1997 if you don't feel up to the task because you're not acquainted with native code, then we can unassign you and pay you out for the JS-level fix you provided so far and open this back up to other contributors.

@barun1997 did manage to identify the cause of the issue too, so

[2022-05-10 20:59] JmillsExpensify commented on #8329
Despite the internal fix, I'm going to pay all contributors for their time. Thanks processing on Upwork now!

[2022-05-10 21:04] JmillsExpensify commented on #5291
Payment already issued.

[2022-05-10 21:07] JmillsExpensify commented on #7524
PR hit staging yesterday.

[2022-05-10 21:08] JmillsExpensify commented on #7727
Still held on offline, and also still a week or more out.

[2022-05-10 21:09] JmillsExpensify commented on #8089
Still working through considerations in the last linked PR.

[2022-05-10 21:10] JmillsExpensify commented on #8119
What's the latest? I'm not seeing any activity in the latest linked PR.

[2022-05-10 21:10] allroundexperts commented on #8590
@michaelhaxhiu Applied.

[2022-05-10 21:11] JmillsExpensify commented on #8133
PR made it to staging yesterday.

[2022-05-10 21:12] JmillsExpensify commented on #8356
@aneequeahmad I thought I'd check in on the question from @Santhosh-Sellavel above. Thanks!

[2022-05-10 21:12] JmillsExpensify commented on #8501
Contributor hired in the linked issue above.

[2022-05-10 21:15] JmillsExpensify commented on #8520
Not immediate rush, though don't forget to apply to the Upwork job @Santhosh-Sellavel

[2022-05-10 21:18] JmillsExpensify commented on #8842
@rushatgabhane I think we're waiting on your review?

[2022-05-10 21:32] rushatgabhane commented on #8842
@JmillsExpensify sorry, I'm OOO till May 14. I can't review this atm.

[2022-05-10 21:50] kbecciv opened #8929 "[$250 - Payment Due 9/28] IOS - Payments - The button "Add payment method" is not visible when scrolled up"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Log in any account
3. Setting< Payments
4. Scroll up the app

## Expected Result:
The button "Add payment method" is visible when scr

[2022-05-10 22:01] kbecciv opened #8930 "Chat - Text format have been lost when pasting a comment in slack that has some markdown"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was reproduced when executing PR:** https://github.com/Expensify/App/pull/8733

## Action Performed:
1. Open App
2. Login any user
3. Create a comment that has s

[2022-05-10 23:18] roryabraham commented on #8061
Hmmm .... will `electronmon` work with our setup where Electron's main process is compiled via webpack? I would think we'd need to recompile the webpack bundle for the main process, _then_ restart electron. Curious how that will work.

[2022-05-10 23:32] chiragsalian commented on #8777
Oh btw discussed with rory 1:1. Many new PRs were added because of the CP of https://github.com/Expensify/App/pull/8871. I discussed it with andre too and it was not intentional and it looks like pushed up a lot of changes in that CP. Definitely not an intended affect but to make the best of the situation we'll continue to QA the new PR and do regression testing as well to ensure things are in a g

[2022-05-10 23:42] kbecciv opened #8931 "IOS 14 - Login- Chat standalone app very slow to load when entering credentials."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. On sign in page start typing your user name
3. On password page start typing your password
4. Tap Sign in

## Expected Result:

[2022-05-10 23:46] parasharrajat commented on #7962
I agree with the option to reopen this to others for fixing the native issue.

[2022-05-10 23:48] thienlnam commented on #7916
PR in review for fixing checkbox, still awaiting PRs for other items

[2022-05-10 23:50] neil-marcellini commented on #8423
## Proposal
Broadly, my plan is to style the Composer and the ReportActionsView conditionally so that the composer can go full screen as shown in the mockups.

In the [Composer](https://github.com/Expensify/App/blob/main/src/components/Composer/index.js#L198) when 3 or more lines have been entered use a `setIsFullComposerAvailable` callback to set state on the parent [ReportActionCompose](https://

[2022-05-10 23:52] stitesExpensify commented on #8307
On hold

[2022-05-10 23:54] arielgreen commented on #8467
Removed from Upwork, unassigning myself

[2022-05-10 23:55] stitesExpensify commented on #7420
Still not a priority at the moment

[2022-05-10 23:59] roryabraham commented on #8461
@Santhosh-Sellavel can you please retest on staging today? There was a staging deploy yesterday, so the main branch was deployed to staging environment.

[2022-05-11 00:10] Luke9389 commented on #8423
@neil-marcellini you've got the 🟢 green light 🟢 to start a PR 😉

[2022-05-11 00:15] Luke9389 commented on #8287
Hey folks. Thanks for your patience on this one. I'm working on a big project internally right now.

[2022-05-11 00:25] trjExpensify commented on #8899
Yeah, I'd agree this is a feature request. Did it get posted to #expensify-open-source for discussion first? I think we should start there with something net new. FWIW, I also don't think this is something pressing that we need to support.

[2022-05-11 00:26] MitchExpensify commented on #8031
Doubled!

[2022-05-11 01:42] kbecciv opened #8932 "IOS - Payments - State field doesn't have blue border."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR:**  https://github.com/Expensify/App/pull/8758

## Action Performed:
1. Launch App
2. Go to Add debit card page under, Settings > Pay

[2022-05-11 01:59] mollfpr commented on #8126
@parasharrajat We can do this instead to handle drawer state.

Set `ONYXKEYS.DEFAULT_DRAWER_STATUS` to `open` when the drawer is gonna be opened.
https://github.com/Expensify/App/blob/7919e24c808dea9dedfe4a2d513365cf092cc1e1/src/libs/Navigation/Navigation.js#L56-L63

Set `ONYXKEYS.DEFAULT_DRAWER_STATUS` to `closed` when navigating to the report route.
https://github.com/Expensify/App/blob/7919e24c

[2022-05-11 02:22] arielgreen commented on #8592
https://www.upwork.com/jobs/~01208db9c91b51fa69

[2022-05-11 02:22] Santhosh-Sellavel commented on #8461
Issue unable to reproduce for me on staging. @Tushu17 can you confirm the same?

[2022-05-11 03:43] mvtglobally opened #8933 "Feature Request: Allow MacOS app download link to be copy from Right Hand Nav/Pane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Problem:
When you want to share a link with someone to download the MacOS app, it's not possible to copy it from within the app

## Solution:
Add the ability to right-

[2022-05-11 03:45] mvtglobally opened #8934 "[$250] Removing all members by pressing enter/return key on the remove popup sets focus on the disabled Remove button - Reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings
2. Open any workspace
3. Click Manage members
4. Check Select all checkbox
5. Click on the Remove button
6. Press enter/return key

[2022-05-11 03:47] mvtglobally opened #8935 "[HOLD for payment 2022-07-05] [$250] Remove button isn't disabled when a user is removed by pressing Enter/Return until cursor is moved - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings
2. Open any workspace
3. Click Manage members
4. Select any member
5. Click on the remove button
6. Press enter/return key on the

[2022-05-11 03:54] mvtglobally opened #8936 "After changing the currency when you IOU again the currency get's back to the default one - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Send or Request money from someone
 2. You will see a page to add amount click on the currency sign and choose a different currency
 3. Now go t

[2022-05-11 03:59] mvtglobally opened #8937 "[HOLD] App looks broken in OS Level Dark mode - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Enable dark mode in Mobile
2. Open the app

## Expected Result:
No color/theme change at all.

## Actual Result:
Broken theme

## Workaround:
unk

[2022-05-11 04:00] mvtglobally commented on #8937
Added Needs Repro label as we dont have MIUI device to confirm, but issue seem valid

[2022-05-11 04:07] mvtglobally opened #8938 "On creating a workspace we should navigate the user to the general settings page of workspace - Reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
1. When you create a workspace from an old workspace it looks like that you are on the previous workspace which is confusing.
2. After creating a workspace y

[2022-05-11 04:26] mvtglobally opened #8939 "Focus outline is not getting removed on blur of the select dropdown - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the Preference page via Settings > Preferences
2. Click on any dropdown.
3. Click outside to close the dropdown.

## Expected Result:
Blue b

[2022-05-11 05:36] parasharrajat commented on #8939
I already asked to fix this on the PR which caused this regression. https://github.com/Expensify/App/issues/7535#issuecomment-1107885622.

So this is being fixed here https://github.com/Expensify/App/pull/8765. But Reporting bonus was not paid.

[2022-05-11 05:49] kadiealexander commented on #8939
Thanks for that context @parasharrajat, I'll have a chat to @laurenreidexpensify and @stitesExpensify to see how best to handle this one.

[2022-05-11 07:26] anboia commented on #8292
Maybe it will be the best approach, manually setting the the focus with a timeout?... I just noticed the twinkled, very sutil but exist. And doesn't seams to be an option to apply the style in another way because it seams that the style is already being handled by the react-native-web (on vitualizedList) when inverted={true}

[2022-05-11 09:29] conorpendergrast commented on #8936
I was able to reproduce this, but disagree that it's an issue or a change we want to make. From the original design doc, the design of this (from a currency perspective) is:

So, this is working by-design, and at the moment I don't think that we should change it to make the currency "sticky" across requests. Closing for now, but anyone should feel free to re-open with a problem/solution statement

[2022-05-11 09:29] #8936 closed

[2022-05-11 09:53] Puneet-here commented on #8936
**Problem**: Let's say a user lives in US and he goes to a different country, now because of his IP the currency will change but because most of the people he request or send money to are in US so now he has to change the currency every time he sends/request money or if a user has most of his clients in US but the user lives in a different country.

**Solution**: We can set the currency based on I

[2022-05-11 10:17] michaelhaxhiu commented on #8590
Hired, feel free to start!

[2022-05-11 10:34] Justicea83 commented on #8923
Can we make this an external issue?

[2022-05-11 10:38] Julesssss commented on #8924
Nice find @thesahindia, let's get this opened up as an external issue.

[2022-05-11 10:41] Julesssss commented on #8924
Assigning @thesahindia. It's a deploy blocker so lets start ASAP and we'll get the UpWork issue created in the meantime.

[2022-05-11 11:02] Julesssss commented on #8924
Okay, I'll assign once we're at the next step of the contribution process so that it triggers the official message

[2022-05-11 11:31] Beamanator commented on #8031
Ping'd the slack channel again to see if anyone can help come to a final decision :D

[2022-05-11 11:51] parasharrajat commented on #8292
Ok, let's us know how would you do that.

[2022-05-11 13:23] NicMendonca commented on #6883
😱 doubled -- https://www.upwork.com/jobs/~0190053c928a98fb14

[2022-05-11 13:36] kevinksullivan commented on #8888
@frenkield please apply to [the job](https://www.upwork.com/jobs/~01d7a1a2773917835b) for reporting the issue. Thanks!

[2022-05-11 13:37] muas19 commented on #8888
Proposal
The app works on a downgrade of node. Use node version 14
 brew install node@14
 brew unlink node
 brew link node@14
 brew link --force --overwrite node@14

[2022-05-11 13:40] kevinksullivan commented on #8718
Hm my understanding form this conversation is that this is a nice to have but also not a priority right now.

[2022-05-11 13:43] kevinksullivan commented on #8361
Hi @brianmuks , do you have an update/PR for us today?

[2022-05-11 13:49] kidroca commented on #6883
Can we clarify that a physical/hardware keyboard is needed - there's no "command" button on on-screen keyboards and on-screen keyboards appear only when an input field is focused

The goal here is to let `native` listen and react to hardware keyboard shortcuts similar to how it works in web, and not supporting shortcuts from the on-screen keyboard, correct?

[2022-05-11 14:01] kbecciv opened #8942 "[HOLD for payment 2022-06-13] [$250] mWeb - Chat - Drawer does not close after tapping download file"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go https://staging.new.expensify.com/
2. Log in with any account
3. Find the chat where you can download the file
4. Hold the finger on any type

[2022-05-11 14:06] aldo-expensify commented on #8931
@kbecciv 👋 , is this something that happens with any account you try on IOS 14?

[2022-05-11 14:08] mallenexpensify commented on #8842
I thought we weren't auto-assigning Rushat while he's out, double checking in #contributor-plus - [link](https://expensify.slack.com/archives/C02NK2DQWUX/p1652277963845719)

Removed then re-added the `Exported` label to auto-assigning another, @mananjadhav can you please review @metehanozyurt 's proposal above? https://github.com/Expensify/App/issues/8842#issuecomment-1118916944

(also bumping to

[2022-05-11 14:19] mallenexpensify commented on #2727
Thanks for the patience, we're actively discussing and making updates that will help with issues like this where the final deliverable is to have a PR merged in a 3rd party repo.

We made an [update to the CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job)

@lbaldy , your videos were helpful and easy to follow, the reason we added `written`

[2022-05-11 14:19] Beamanator commented on #8005
Hmm it looks like in that code we're only hiding the rooms if there's no participants in the room - `_.isEmpty(logins)` right?

And in that case we hopefully wouldn't count unread messages since the user also wouldn't be part of that room

[2022-05-11 14:21] kbecciv opened #8943 "mWeb - Chat - Download icon is not active for mp4 and mov files."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR:** https://github.com/Expensify/App/pull/8739

## Action Performed:
1. Go https://staging.new.expensify.com/
2. Log in with any accou

[2022-05-11 14:23] mananjadhav commented on #6883
## Proposal

As I mentioned in this comment, there are three parts to the implementation (with the 3rd one being most tedious/uncertain).

1. Showing up KeyboardShortcuts modal in all platforms - It looks like this already exists and we don't need to change in the view logic of the KeyboardShortcuts
2. The shortcuts in the KeyboardShortcuts modal are shown from the map built in `libs/KeyboardShort

[2022-05-11 15:56] Santhosh-Sellavel commented on #7862
Let's double this one up @trjExpensify.

cc: @chiragsalian

[2022-05-11 16:02] stitesExpensify commented on #8718
I agree. I think that this is a nice to have, but is not worth pursuing at the moment since this will have to be an internal issue.

[2022-05-11 16:02] #8718 closed

[2022-05-11 16:04] mvtglobally commented on #8574
I will share more info in a bit

[2022-05-11 16:07] kbecciv opened #8945 "Android/IOS - App is crashed when you tap on the unread message indicator"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to the app and log in with account A
3. Send a message from Account B, using another device to account A
4. Check message in Account A
5. Veri

[2022-05-11 16:09] OSBotify commented on #8945
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-11 16:11] luacmartins commented on #8932
@kbecciv I'm not sure I understand the issue. From the shared video, it seems that the state input has the blue border when it's selected. I also tried to reproduce this and it seems that the input has the expected behavior (please check my attached video).

https://user-images.githubusercontent.com/22219519/167897054-d1cac097-3644-4781-a7eb-81a30271fdb1.mov

[2022-05-11 16:13] Santhosh-Sellavel commented on #8005
No please check the whole snippet, that's one of the filters!

[2022-05-11 16:38] jayeshmangwani commented on #8461
@Santhosh-Sellavel @roryabraham
I think this commit is fixing this issue https://github.com/Expensify/App/commit/388cfe3793be3fb3f0f570c31049a8f57b051853

this change I already commented but I think this change was already done before my comment

https://github.com/Expensify/App/issues/8461#issuecomment-1117862841

[2022-05-11 16:40] azimgd commented on #6883
Proposal:

1. Implement a native module using Obj-C and Java that registers and listens to specified keyboard events, and dispatches payload from native to JS.
2. Add support for the native module into [KeyboardShortcut/index.native.js](https://github.com/Expensify/App/blob/b3faacce2749f620fa91a764f6e7ab91bccee0dd/src/libs/KeyboardShortcut/index.native.js)

# Native module
I wrote a sample RN libr

[2022-05-11 17:07] aldo-expensify commented on #8931
And does the same account work faster if you try on Android?

[2022-05-11 17:13] kbecciv commented on #8932
@luacmartins Checked other environments (Web and Android) - state input has the blue border after selected and stayed all the time. If you think its expected, please close the issue.

https://user-images.githubusercontent.com/93399543/167907924-29b556ec-5ab0-45cb-b508-4b92dfea31d8.mp4

[2022-05-11 17:14] frenkield commented on #8888
Thanks, @kevinksullivan.

So sorry, I'm not quite sure how this works. Am I applying just for the bug submission, or for both the submission and the fix?

[2022-05-11 17:19] trjExpensify commented on #8915
Oh interesting, I think @cead22 is working on improving the performance here. Is that right, Carlos?

[2022-05-11 17:23] #8932 closed

[2022-05-11 17:24] tortutales commented on #8888
If it's working for old node versions my proposal is to add a node version spec in the `package.json` file
In that way every developer, no matter what node version has, the project will have a local dependency with that node version

[2022-05-11 17:24] cead22 commented on #8915
Yup, but it's helpful if we can have contributors look into this to try and answer @iwiznia 's questions above

[2022-05-11 17:32] kbecciv opened #8947 "Android - Connect bank account - Unable to connect with Plaid option, page is skipping"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Go to Setting - Preferences
4. Enable Secure Staging server
5. Go to any Workspace
6. Tab co

[2022-05-11 17:32] trjExpensify commented on #8924
Upwork job is here https://www.upwork.com/jobs/~0128cbae69846b2687 @thesahindia

[2022-05-11 17:33] Julesssss commented on #8924
For now, we have the job though, thanks @trjExpensify.

[2022-05-11 17:38] trjExpensify commented on #8915
Perfecto. Upwork job is here: https://www.upwork.com/jobs/~01e6d82585cdf1ad72

[2022-05-11 17:40] trjExpensify commented on #7862
Doubled!.

[2022-05-11 18:06] kbecciv commented on #8931
@aldo-expensify Entering credentials is working as expected in Andriod 12

https://user-images.githubusercontent.com/93399543/167916676-9db781c5-45d9-4c52-bab6-456c732e4057.mp4

[2022-05-11 18:07] stitesExpensify commented on #8939
Okay so that PR is just now being approved. I think we close this issue, get that PR merged, and then pay @parasharrajat on the original issue where he reported it. What do you think @laurenreidexpensify

[2022-05-11 18:10] dharmik commented on #8440
@laurenreidexpensify Are you planning to create new upwork project?

[2022-05-11 18:17] dharmik commented on #8289
@jboniface Is something for this task?

[2022-05-11 18:44] mallenexpensify commented on #7835
Doubled price to $16000
https://www.upwork.com/jobs/~0103b194cebb2bdef4

[2022-05-11 19:03] jboniface commented on #8289
looks like the automation that alerts us to pay failed. I paid the contract for you @dharmik .

That said, @thesahindia and @rushatgabhane need to apply to get paid for their parts as well. The other posting expired, so you both can use [this one](https://www.upwork.com/jobs/~01210eaad299c0322b).

[2022-05-11 19:04] aldo-expensify commented on #8931
Is this last video from an Android 12 device?

[2022-05-11 19:12] mallenexpensify commented on #8710
You still wanting to work on this @sketchydroide ?

[2022-05-11 19:14] thesahindia commented on #8289
Done ✅

[2022-05-11 19:14] mallenexpensify commented on #4612
@parasharrajat can you prioritize this since it's a $16k issue? I'd prefer to not have another proposal submitted before your review.

[2022-05-11 19:15] mallenexpensify commented on #8657
On hold, pinged [other ](https://github.com/Expensify/App/issues/4612) issue to get proposal reviewed

[2022-05-11 19:18] mallenexpensify commented on #6301
I _think_ [the PR](https://github.com/Expensify/App/pull/8511) is moving along, slowly but surely?

[2022-05-11 19:20] aswin-s commented on #8286
@luacmartins I believe you did a clean build. Also is it possible to test this on a real device? Another test I would like to perform is try removing expensify.cash from associated domains and try a build.

Also while validating apple-app-site-association file at new.expensify.com I see couple of warnings. We are also missing the `webcredential` key in the `apple-app-site-association` file as well

[2022-05-11 19:21] mallenexpensify commented on #6069
Been on staging 16 days which seems like a lot ¯\_(ツ)_/¯h
https://github.com/Expensify/App/pull/8535#issuecomment-1109144488

[2022-05-11 19:21] mallenexpensify commented on #7909
Hit staging two days ago 🎉
https://github.com/Expensify/App/pull/8769#issuecomment-1121521922

[2022-05-11 19:22] mallenexpensify commented on #8288
Hit staging 16 days ago, not sure what's taking so long ¯\_(ツ)_/¯

[2022-05-11 19:25] mallenexpensify commented on #7648
Looks like @parasharrajat is helping review the PR, which is moving along.
Reminder to discuss potential compensation for Rushat and Rajat once this is closed

[2022-05-11 19:29] mallenexpensify commented on #8034
PR is being worked on
https://github.com/Expensify/App/pull/8760

[2022-05-11 19:38] rushatgabhane commented on #8289
done

[2022-05-11 19:43] chiragsalian commented on #8926
Looks like this is reproducible on dev as well and does not happen on production.

[2022-05-11 19:51] chiragsalian commented on #8926
I suspect this commit - https://github.com/Expensify/App/commit/f88b00529881642b661414f64833744cdc474c2f

[2022-05-11 19:52] rushatgabhane commented on #8158
Issue isn't reproducible, so we should _do nothing_, right?

[2022-05-11 19:56] kbecciv commented on #2499
@Jag96 Issue is reproduced during Regression.

https://user-images.githubusercontent.com/93399543/167934826-fe07f60a-b295-4ade-9d0d-f3b6b1bd3c05.mp4

[2022-05-11 19:58] kbecciv commented on #7263
@dylanexpensify Issue is reproduced during Regression.

![Screenshot_20220511-225255 (1)](https://user-images.githubusercontent.com/93399543/167935458-bebee771-1b3c-439c-861b-40accda048b9.jpg)

[2022-05-11 20:04] Tabakharniuk commented on #6301
I will push an update that @tgolen has requested tomorrow

[2022-05-11 20:08] rushatgabhane commented on #7263
unassigning myself

(please assign the issue to @mananjadhav https://expensify.slack.com/archives/C02NK2DQWUX/p1652282380139939?thread_ts=1652277963.845719&cid=C02NK2DQWUX)

[2022-05-11 20:14] chiragsalian commented on #8926
Cool looks like the issue is because the code is calling onBlur. So when the currency icon is clicked here,
![image](https://user-images.githubusercontent.com/14356145/167937790-17816c86-745d-43d5-857c-642f1bef4f04.png)

The onblur gets called and is locking focus to the currency numbers which is why we can't type anything here,
![image](https://user-images.githubusercontent.com/14356145/167939386

[2022-05-11 20:15] arielgreen commented on #8612
[Price increased.](https://expensify.slack.com/archives/C01GTK53T8Q/p1652300119938759)

[2022-05-11 20:43] isagoico commented on #8947
@luacmartins This issue is failing PR https://github.com/Expensify/App/pull/8808 - I'm adding the deploy blocker label since this behavior was not reproducible before. (we're unable to check if the issue is reproducible in prod bc the test credentials don't work there)

[2022-05-11 20:44] OSBotify commented on #8947
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-11 20:46] luacmartins commented on #8286
We certainly could, but is the hope that the real device would behave differently in this case?

I tried removing them and it seems to fix the issue. However, as @parasharrajat mentioned [here](https://github.com/Expensify/App/issues/8286#issuecomment-1079151499), this is not a viable solution.

I tried to test adding these, but it didn't seem to have any effect 😞 Maybe I'm holding something wrong

[2022-05-11 20:49] thienlnam commented on #8943
This appears to be happening on Web as well and not just isolated to mp4 and mov files.  The structure of the html did not change and so this seems like it must be an issue with how we determine items are files

[2022-05-11 20:49] kbecciv opened #8951 "IOS/Android - Workspace- Google search doesn't work in Information, Company, Personal and Additional information pages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Go to Setting - Preferences
4. Enable Secure Staging server
5. Go to any Workspace
6. Tab co

[2022-05-11 20:50] thienlnam commented on #8943
Found the offending PR https://github.com/Expensify/App/pull/8769

[2022-05-11 20:51] thienlnam commented on #7909
The PR caused this regression: https://github.com/Expensify/App/issues/8943

All of our attachments are from expensify.com and therefore the checks for internalExpensifyPath ended up returning it early and causing attachment items to render as links

[2022-05-11 20:59] johnmlee101 commented on #4733
None

[2022-05-11 21:00] rushatgabhane commented on #7909
@thienlnam Should we revert #8769? Because it breaks sending new attachments.

[2022-05-11 21:00] arielgreen commented on #8460
Still awaiting deploy

[2022-05-11 21:01] rushatgabhane commented on #7909
@mateusbra please post an updated solution, thanks!

[2022-05-11 21:01] jboniface commented on #8849
@chiragsalian and @rushatgabhane it looks like there is a proposal here for review

[2022-05-11 21:03] chiragsalian commented on #8849
Isn't rushat OOO for a while? If so i think we should reassign to another C+ to do the first proposal review.

[2022-05-11 21:04] rushatgabhane commented on #8849
@jboniface I'm OOO till May 14. Please assign @mananjadhav as per this thread. Thanks!!

https://expensify.slack.com/archives/C02NK2DQWUX/p1652282380139939?thread_ts=1652277963.845719&cid=C02NK2DQWUX

[2022-05-11 21:09] mvtglobally commented on #8791
Team noticed that this is also repro on Web

https://user-images.githubusercontent.com/43995119/167948241-1e0ba78d-5fcb-4685-a2d5-5b3ae529b9b9.mp4

![Captura de Tela 2022-05-11 às 6 03 10 PM](https://user-images.githubusercontent.com/43995119/167948244-ac46a757-603c-4eff-89a2-8d5bcd78f6c3.png)

[2022-05-11 21:10] aneequeahmad commented on #8158
@mvtglobally i can still reproduce this issue on `staging` and `production` for `mWeb`

cc: @rushatgabhane

[2022-05-11 21:11] thienlnam commented on #7909
Yeah let's revert, it's a regression - I will get a PR up

[2022-05-11 21:20] luacmartins commented on #8840
Still looking for proposals.

[2022-05-11 21:36] chiragsalian commented on #8924
The fix for this has been CP'd and can be tested on version `1.1.57-13`
@kbecciv can you retest and if it passes then remove deployBlocker and check if off the checklist? 🙇‍♂️

[2022-05-11 21:41] kadiealexander commented on #8939
Sounds like a good plan to me! Lauren's at a conference this week, so I'll help out until she's back.

[2022-05-11 21:46] kadiealexander commented on #7535
Just noting for the record that @parasharrajat needs a reporting bonus for reporting the regression here. The regression issue is [here](https://github.com/Expensify/App/issues/8939), but we decided to use this issue to manage everything to avoid confusion.

cc: @laurenreidexpensify @stitesExpensify

[2022-05-11 21:46] #8939 closed

[2022-05-11 21:54] luacmartins commented on #8947
Hmm I took a quick look at this one and I _think_ it may have been introduced [here](https://github.com/Expensify/App/pull/8858). It seems that dismissing the Plaid modal on mobile makes the app become active, firing the reconnect callbacks. I think that might create the bug with the navigation. Commenting [this line](https://github.com/Expensify/App/blob/42da9392c8b33545b77499a3053a6e4d1467221c/s

[2022-05-11 22:00] OSBotify commented on #8777
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8953) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.57-14` :rocket:

[2022-05-11 22:00] OSBotify commented on #8777
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.57-14 has been deployed to staging :tada:

[2022-05-11 22:03] kbecciv opened #8956 "[HOLD][$250] Member- Closed action message not displayed when a workspace member is removed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR:** https://github.com/Expensify/App/pull/8778

## Action Performed:
1. Launch the app and login with expensifail account
2. Create a

[2022-05-11 22:05] zsgreenwald commented on #8088
@aldo-expensify @MariaHCD what's the latest with this? I'm still noticing some heavily spaced formatting on incoming messages from email. Some screenshots below:

<img width="937" alt="image" src="https://user-images.githubusercontent.com/11618505/167955341-2a73da0f-8e08-4af3-ab72-e1b5c0b84f7f.png">

<img width="940" alt="image" src="https://user-images.githubusercontent.com/11618505/167955348-84f

[2022-05-11 22:12] roryabraham commented on #8937
Maybe should HOLD on [this beautiful gem](https://expensify.slack.com/archives/C03TME82F/p1652295038231249?thread_ts=1652132673.534919&cid=C03TME82F)?

cc @Luke9389 @michelle-thompson

[2022-05-11 22:14] roryabraham commented on #4010
No update 😞

[2022-05-11 22:15] luacmartins commented on #8945
I see the error below. Seems to be happening in [this call](https://github.com/Expensify/App/blob/42da9392c8b33545b77499a3053a6e4d1467221c/src/pages/home/report/ReportActionsView.js#L295).

![Screenshot_1652306720](https://user-images.githubusercontent.com/22219519/167956280-a78c87b6-ff42-48db-b188-6483724350f0.png)

[2022-05-11 22:18] marcochavezf commented on #8945
Yup, the `scrollToBottomAndUpdateLastRead` is not bound to `this`, creating a PR

[2022-05-11 22:24] chiragsalian commented on #8849
Reassigned

[2022-05-11 22:26] aldo-expensify commented on #8088
Hey @zsgreenwald ,  I made a PR, but it seems like it didn't work in this case. I'll have a look and see what it may be

[2022-05-11 22:26] zsgreenwald commented on #8088
Thanks! Let me know if there's anything i can do to help

[2022-05-11 22:30] aldo-expensify commented on #8088
@zsgreenwald do you get these emails also in your email inbox? or just new dot? Having the email to test with would help :)

[2022-05-11 22:32] Luke9389 commented on #8937
Yep, let's put it on hold. 👍

[2022-05-11 22:44] mateusbra commented on #7909
Hi guys, sorry for this refression, I'll try to give a look on this tomorrow and post an alternative solution.

[2022-05-11 22:54] cead22 commented on #8848
Thanks for the context

Given this, I'm thinking we should close unless we know it's happening on newer phones, but curious for your opinions as well, because I could see an argument that new dot should work well on older phones too, but I also know older phones and laptops tend to get slow no matter what

[2022-05-11 23:00] Luke9389 commented on #8455
Need to come back to this soon.

[2022-05-11 23:04] MitchExpensify commented on #7737
Asked about doubling here https://expensify.slack.com/archives/C02NK2DQWUX/p1652285549493959

[2022-05-11 23:14] aldo-expensify commented on #8841
No overdue, waiting to see if there are other proposals.

[2022-05-11 23:24] alex-mechler commented on #8938
Hmm, while testing locally, I can confirm I am brought to the new workspace, not left on the old one. It appears like you were left on the old one, but if you have set a name on the existing workspace, you will see that you have been transitioned to the new one

https://recordit.co/i7YQZVPbHl

Am I missing something here? This was tested on web

[2022-05-11 23:36] Luke9389 commented on #8842
@metehanozyurt You can go ahead and make a PR 🟢

[2022-05-11 23:37] Luke9389 commented on #8842
Setting to monthly bc this issue is a total edge case.

[2022-05-12 00:40] thienlnam commented on #8923
I believe this was also a regression from https://github.com/Expensify/App/issues/7909, I have a revert up for it here: https://github.com/Expensify/App/issues/7909

[2022-05-12 00:41] thienlnam commented on #7307
Same as above, just recently deployed to staging - latest deploy updates [here](https://github.com/Expensify/App/pull/7849)

[2022-05-12 00:42] thienlnam commented on #8101
Seems like a potential fix for #7618 will fix all these associated issues

[2022-05-12 01:01] chiragsalian commented on #8926
This should be resolved in version `1.1.57-14` or higher.
@kbecciv, can you retest and if it passes then remove deployBlocker and check if off the checklist? 🙇‍♂️

[2022-05-12 01:04] chiragsalian commented on #8945
This should be resolved on version `1.1.57-15`. i'd like it to be staging tested so,
@kbecciv, can you retest and if it passes then remove deployBlocker and check if off the checklist? 🙇‍♂️

[2022-05-12 01:09] chiragsalian commented on #8777
Update. These blockers have been addressed and i've asked for a retest before checking them off,
https://github.com/Expensify/App/issues/8924
https://github.com/Expensify/App/issues/8926
https://github.com/Expensify/App/issues/8945

There's just one more blocker remaining and we'll address it tomorrow.

[2022-05-12 01:11] chiragsalian commented on #8947
Cool looks like the others blockers are resolved. I could revert this but you have till tomorrow if you would like to investigate a different solution if you do not want to revert. QA is still working on the checklist (their ETA atm is to finish by tomorrow morning) so while they are working on it you can decide if you would rather revert of check another solution 🙂  let me know.

[2022-05-12 01:21] jrstanley commented on #8915
Proposal (WIP):

I don't believe it is any of the factors below.

From the logs a Pusher 1006 error can be identified. This is the WebSocket connection closing abruptly as (presumably) the laptop is put to sleep/resumed. Pusher the attempts to reauthenticate and subscribe to the appropriate channels. Only once this process is complete do new messages appear.

Reauthenticating to Pusher can be seen

[2022-05-12 01:22] kbecciv opened #8960 "mWeb - Long press on hyperlink not always displayed Copy URL to clipboard title"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR:** https://github.com/Expensify/App/pull/8815

## Action Performed:
1. Go to https://staging.new.expensify.com/ and log in with any a

[2022-05-12 02:52] bfitzexpensify commented on #8847
Looks like we have a couple of proposals for review - be great to have your eyes on this one when you get a chance @rushatgabhane!

[2022-05-12 02:54] rushatgabhane commented on #8847
@bfitzexpensify sorry but I'm OOO till May 14.
Please assign this issue to @mananjadhav for a review as per this thread https://expensify.slack.com/archives/C02NK2DQWUX/p1652282380139939?thread_ts=1652277963.845719&cid=C02NK2DQWUX

[2022-05-12 03:19] Santhosh-Sellavel commented on #8888
@tgolen Able to reproduce this one at my end, what are we looking for here as a solution?

[2022-05-12 03:46] sobitneupane commented on #8942
**Proposal**
This issue is occurring in web as well. Addition of following lines of code should solve the issue.
https://github.com/Expensify/App/blob/a2f8cf96d095ded70a15d04ee69bd37be2638c14/src/pages/home/report/ContextMenu/ContextMenuActions.js#L46-L54

[code]

[2022-05-12 04:29] mvtglobally commented on #8777
@chiragsalian Regressions is almost complete. We will retest above fixes and update in the morning.

Deploy Blockers
https://github.com/Expensify/App/issues/8922
 https://github.com/Expensify/App/issues/8924
 https://github.com/Expensify/App/issues/8926
 https://github.com/Expensify/App/issues/8945
 https://github.com/Expensify/App/issues/8947

#8733 is failing due to https://github.com/Expensify/

[2022-05-12 04:38] bfitzexpensify commented on #8847
All good @rushatgabhane - hope you're enjoying your time off!

[2022-05-12 04:42] kaushiktd commented on #8888
It will be difficult to give any technical description at this point because first, it needs to be checked after doing a version upgrade or downgrade.

[2022-05-12 04:43] MonilBhavsar commented on #8035
On hold for API redesign

[2022-05-12 06:13] Puneet-here commented on #8938
Hi @alex-mechler, after creating a new workspace the user should be navigated to the general settings page of that new workspace where he can change the name avatar of the workspace

[2022-05-12 06:39] adeel0202 commented on #8720
Why is this closed? 👀

[2022-05-12 07:04] eVoloshchak commented on #8655
@parasharrajat, it's been a week and the issue has no response from the maintainer. Should we wait more?

[2022-05-12 08:11] parasharrajat commented on #8655
I thought you created the PR as well. https://github.com/Expensify/App/issues/8655#issuecomment-1115123550

[2022-05-12 08:12] eVoloshchak commented on #8655
Ok, will do that shortly

[2022-05-12 08:14] parasharrajat commented on #8655
Also, the maintainer is very active on the repo. He must be busy with some stuff but he will take a look. Try joining the discord and mention this issue.

[2022-05-12 08:40] allroundexperts commented on #8590
@michaelhaxhiu I can't seem to run the app on iOS. I am on a m1 macbook but the instructions to run it on a m1 device requires me to login. Can you help?
[SO](https://stackoverflow.com/c/expensify/questions/11580)

[2022-05-12 08:44] Beamanator commented on #8847
Adding `Help Wanted` & hid the bot post b/c this job **has not been assigned yet** :D

@mananjadhav since you're the new C+ on this issue would you please review the proposals above? 👍

[2022-05-12 08:45] izhan commented on #7860
I spent a long time looking into (3) – and honestly I'm not sure if baking it into `react-native-web` is a great idea. There are race conditions and a ton of quirks in the logic. After some experimentation, here's the best approach I found:

1. You'll need to disable our custom measurement logic by commenting out

https://github.com/Expensify/App/blob/a2f8cf96d095ded70a15d04ee69bd37be2638c14/src/c

[2022-05-12 09:00] Julesssss commented on #8362
FYI. This PR was reverted, as it introduced [this bug](https://github.com/Expensify/App/issues/8926#issuecomment-1124245538).

I think we'll need to resolve the issue with a different proposal.

[2022-05-12 09:10] Tushu17 commented on #8461
@Santhosh-Sellavel yup, It's no more reproducible.

[2022-05-12 10:03] sketchydroide commented on #8947
I've assigned you to the GH @luacmartins as you seem to be on top of it
If this is the only blocker, I would say that revert and then fix this withouth the added pressure would be better

[2022-05-12 10:46] michaelhaxhiu commented on #8590
@allroundexperts let's post in #expensify-open-soruce for peer input!

[2022-05-12 11:13] Beamanator commented on #8926
Thanks for investigating & reverting - can this issue now be closed?

[2022-05-12 11:18] michaelhaxhiu commented on #8574
Thanks for that, @mvtglobally. We updated our internal sources in Stack Overflow to include details on the criteria that constitutes a High Traffic account.

[2022-05-12 11:23] Julesssss commented on #8926
I think we're just awaiting @Expensify/applause testing

[2022-05-12 11:43] michaelhaxhiu commented on #8131
I'll work on figuring out next steps to handle this in RN.

[2022-05-12 11:52] sketchydroide commented on #8710
Yes, will work on it over the next couple of days

[2022-05-12 11:56] thesahindia commented on #8005
If we want a util function we can create one like this -
[code]

and we can add a check like this -
[code]

instead of this:
https://github.com/Expensify/App/blob/3cdd9a2ed7560140e2b82b5c63b58e709efc3f9a/src/libs/OptionsListUtils.js#L441-L449

Note: We used to show default rooms on searching a user if he is also inside the default room so to fix that a PR introduced `excludeDefaultRoom` flag, howe

[2022-05-12 12:33] Beamanator commented on #8833
PR merged! Waiting on production deploy

[2022-05-12 13:23] mdneyazahmad commented on #8655
I earlier posted this issue https://expensify.slack.com/archives/C01GTK53T8Q/p1644402310844119.  Am I eligible for reporting bonus?

[2022-05-12 13:23] Beamanator commented on #8005
@Santhosh-Sellavel it looks like you're talking about https://github.com/Expensify/App/blob/a2f8cf96d095ded70a15d04ee69bd37be2638c14/src/libs/OptionsListUtils.js#L432-L440 right? I didn't see that the code you linked was 58 lines since the preview only shows 11 lines 😅

[2022-05-12 13:26] kbecciv opened #8962 "Log in - "Set Password" button should be disable when field is blank"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Start typing a new email account
3. Click Continue
4. Go back to your email and tap on link
5. Change

[2022-05-12 13:27] OSBotify commented on #8962
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-12 13:54] Gonals commented on #8935
This seems like a good candidate for external :)

[2022-05-12 13:55] isagoico commented on #8924
Retest for this was a pass! Checking it off the list! 🎉

[2022-05-12 13:59] kbecciv opened #8963 "iOS - Notifications - New message is not displayed in offline mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the test app and log in with a HIGH TRAFFIC account as user A
2. Sign into as user B on another device
3. As user A, navigate to another con

[2022-05-12 13:59] OSBotify commented on #8963
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-12 14:03] NicMendonca commented on #8597
@roryabraham @parasharrajat  is this still on hold?

[2022-05-12 14:15] parasharrajat commented on #8597
Yeah its on hold for https://github.com/Expensify/App/issues/8595.

[2022-05-12 14:32] mvtglobally commented on #8777
Checking off
https://github.com/Expensify/App/issues/8926
https://github.com/Expensify/App/issues/8945

[2022-05-12 14:57] thesahindia commented on #8962
It's a regression from https://github.com/Expensify/App/pull/8680

Need to pass `isDisabled={!this.state.isFormValid}` here -
https://github.com/Expensify/App/blob/f25c38f374a09434e698b51e85add25c0481b3b1/src/pages/SetPasswordPage.js#L133-L135

[2022-05-12 15:35] luacmartins commented on #8947
Trying to test this further.

[2022-05-12 15:39] neil-marcellini opened #8965 "Remove Permissions.canUseFreePlan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem
Several pages check if the user is on the free plan beta before enabling certain features and some will navigate the user away if they are not on the free pla

[2022-05-12 15:48] parasharrajat commented on #4612
ETA for review is 18 hours.

[2022-05-12 15:48] arosiclair commented on #8720
My fixes for this we're merged, but not yet deployed.

[2022-05-12 16:00] brianmuks commented on #8361
@kevinksullivan PR is ready **https://github.com/Expensify/App/pull/8967**

[2022-05-12 16:12] luacmartins commented on #8947
I did some more testing and I'm not sure that the PR I linked before is the issue anymore. Looking at other possibilities now.

[2022-05-12 16:26] mvtglobally commented on #8791
MacBook Pro 2012 / catalina 10.15.7 / Safari @tgolen

[2022-05-12 16:29] kbecciv opened #8968 "Login- Error is not highlighted in red when typing a password not meet the requirements"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Start typing a new email account
3. Click Continue
4. Go back to your email and tap on link
5. Fill t

[2022-05-12 16:30] parasharrajat commented on #6883
Thanks for the proposal everyone. @mananjadhav I see that https://github.com/adamtew/react-native-key-commands#android is not supported on Android.

@azimgd Great job on the package. Are you planning on maintaining it?

    iOS is implemented using event method swizzling. Get event and propagate further, similar approach is done with Android.
What are your plans on the caveats? Any roadmaps. I thi

[2022-05-12 16:30] OSBotify commented on #8968
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-12 16:31] Julesssss commented on #8645
We're still awaiting deploy, had a couple of issues this week but it should occur pretty soon now.

[2022-05-12 16:31] Julesssss commented on #8846
Not overdue

[2022-05-12 16:35] adeel0202 commented on #8720
Shouldn't this be opened until the fixes are deployed to production? I'm asking because I'm eligible for the reporting bonus and if we are to close this one now then I think I should be compensated as well 😄
cc: @trjExpensify

[2022-05-12 16:38] bondydaa commented on #8968
yep def broken, it might be related to this as well https://github.com/Expensify/App/issues/8440 cc @NikkiWines @parasharrajat should we combine these 2, I have idea if it's the same code or not but probably should be or at least have the same behaviors.

[2022-05-12 16:45] luacmartins commented on #8947
Nvm my previous comment. It seems that when we fire the reconnect callbacks this line empties the `achData` and `subStep`. It happens on mobile because the Plaid modal somehow puts the app in the background. I put up a quick fix here, I'll discuss this further with Marc once he's back since he's been leading these changes.

[2022-05-12 16:46] NikkiWines commented on #8440
@dharmik I've pinged @laurenreidexpensify about this, sorry about the delay

[2022-05-12 16:47] thesahindia commented on #8968
@bondydaa, I don't think it's related to #8440, also this isn't an issue we keeps the "Set password" button disabled until user enters a valid password, so basically there's no way for the user to submit a password like this.

Right now the button stays enabled because of the regression from #8680 and it already got logged [here](https://github.com/Expensify/App/issues/8962) so we can close this o

[2022-05-12 16:58] thesahindia commented on #8777
Just a heads up that we can check off https://github.com/Expensify/App/issues/8968
Because it won't be reproducible after https://github.com/Expensify/App/issues/8962 gets fixed.

[2022-05-12 17:13] parasharrajat commented on #8126
https://github.com/Expensify/App/issues/8126#issuecomment-1123095585 This looks better. You mean to do this instead of point 3. What else can be done for point 4? Did you check this with navigation? it should not break the navigation of the app.

[2022-05-12 17:15] luacmartins commented on #8777
Here's the [fix](https://github.com/Expensify/App/pull/8969) for https://github.com/Expensify/App/issues/8947

[2022-05-12 17:16] tgolen commented on #8888
OK, thanks for the update. I think until we know what the problem is, we should avoid making any guesses about how to solve the problem. My comment still stands though, that I think the first solution that should be looked at is updating the third-party-lib.

[2022-05-12 17:17] azimgd commented on #6883
Thanks @parasharrajat. I do plan to maintain it. We can also think on:
- Integrate the changes directly into expensify/app
- Transfer repo and get the package released under @expensify

Don't see any caveats, R&D and implementation for the first version showed that the things should be straightforward.

Current roadmap:
- Implement iOS version using current `keycommandlib` version (which works pre

[2022-05-12 17:20] NikkiWines commented on #8899
Yep, agreed - i think we can close this for now and if someone wants to bring it up as a feature proposal in slack we can go from there.

[2022-05-12 17:21] tgolen commented on #8791
Can anyone on this thread that might know... point me to the decision that was made to use this smart banner? I'd be interested in knowing why that decision was made.

My reasoning is kind of like this:
- Do we need the smart banner?
- The app works perfectly fine on mobile web, so why are we pushing people to install the app?
- The app and mobile web have identical feature sets, so again, why are

[2022-05-12 17:24] parasharrajat commented on #6883
Ok. Thanks. Although @mananjadhav's proposal is quicker and easier, docs say that lib lacks support for iOS. On the other hand, I liked the idea of creating the package. @azimgd's proposal looks good to me.

cc: @luacmartins

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-05-12 17:38] luacmartins commented on #8963
@kbecciv is this the current behavior on staging/production?

[2022-05-12 17:39] mananjadhav commented on #8842
@Luke9389 has already reviewed the PR and I agree @metehanozyurt 's proposal looks good.

[2022-05-12 17:42] OSBotify commented on #8777
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8969) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.57-16` :rocket:

[2022-05-12 17:45] sandipanghos commented on #8840
@luacmartins  I am looking into. Will try to propose a solution

[2022-05-12 17:52] chiragsalian commented on #8926
QA mentioned it was [tested](https://github.com/Expensify/App/issues/8777#issuecomment-1125070475). removing deploy blocker label. Actually yeah i'll close these as well since there is no reason to continue seeing them and it takes a while to go to prod.

[2022-05-12 17:52] #8926 closed

[2022-05-12 17:52] chiragsalian commented on #8924
Closing to clear this issue.

[2022-05-12 17:53] chiragsalian commented on #8945
Looks like it was tested and checked off the list. Closing issue.

[2022-05-12 17:53] #8945 closed

[2022-05-12 17:59] parasharrajat commented on #8663
Sorry for the delay. I tested your first proposal @b1tjoy It is working fine for me after removing https://github.com/Expensify/App/blob/f390e2767f28dbb832696f39aac8a4e23460786c/src/pages/home/report/ReportActionCompose.js#L371 on firefox Linux web. But it does not work on chrome Linux web.

ok. Your [last](https://github.com/Expensify/App/issues/8663#issuecomment-1116002461) proposal is doable bu

[2022-05-12 18:00] rushatgabhane commented on #8362
@sobitneupane interesting...
I have no idea why that fixes the issue. Maybe you can help me with that :)

[2022-05-12 18:18] pecanoro commented on #8850
We originally bundled them together due to having lots of trouble making the growl work on all platforms since obviously hovering won't work on mobile. I know it's not great, but after discussing it with @tgolen for a while, this was the only way we found to make it work on all platforms. If any of you are able to come up with a proposal to decouple them and make them work fine on all platforms th

[2022-05-12 18:18] mvtglobally commented on #8963
@luacmartins It is not repro on PROD. Only on Staging

[2022-05-12 18:34] mananjadhav commented on #8573
@mallenexpensify Are we good to close this? Second week and issue not reproducible.

[2022-05-12 18:48] mananjadhav commented on #8847
Give me time until tomorrow I'll review them.

[2022-05-12 18:48] luacmartins commented on #8963
Having issues to reproduce this on the simulators. Asked in [Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1652379435924739).

[2022-05-12 19:00] OSBotify commented on #8777
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.57-16 has been deployed to staging :tada:

[2022-05-12 19:03] chiragsalian commented on #8962
Hi @kbecciv, this should be resolved in version `1.1.57-16` or higher.
Can you retest and confirm? if its resolved feel free to close the issue.

[2022-05-12 19:03] chiragsalian commented on #8947
Hi @kbecciv, this should be resolved in version `1.1.57-15` or higher.
Can you retest and confirm? if its resolved feel free to close the issue.

[2022-05-12 19:04] chiragsalian commented on #8777
The checklist isn't working too well for me

[2022-05-12 19:04] OSBotify commented on #8777
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8970) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.57-17` :rocket:

[2022-05-12 19:04] OSBotify commented on #8777
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.57-17 has been deployed to staging :tada:

[2022-05-12 19:07] kidroca commented on #8235
This seems to be a backend issue, there's no PR on App that caused a regressions

When we upload an attachment of 44.2MB we get the following error from the backend:

#### Resonse:
[code]

#### Request:
[code]

The following error is printed in App:
[code]

Because the response does not include a report action, and we assume it has:
https://github.com/Expensify/App/blob/a2f8cf96d095ded70a15d04ee69

[2022-05-12 19:08] mananjadhav commented on #8849
Thanks for your proposal @jayeshmangwani. Let me check why this dependency was added.

@iwiznia @aswin-s Any specific reason we added this dependency `react-native-image-size` instead of default `Image.getSize`? when we added [6442](https://github.com/Expensify/App/pull/6442)

[2022-05-12 19:09] chiragsalian commented on #8777
The checklist is being a little buggy for me. Can you check or consider these done,
1. https://github.com/Expensify/App/pull/8957. (It has been tested from its deploy blocker issue)
2. https://github.com/Expensify/App/pull/8969. (It has been tested from its deploy blocker issue)
3. https://github.com/Expensify/App/issues/8968. (its a dupe of an earlier item)

I've asked for a retest of the followi

[2022-05-12 19:25] michaelhaxhiu commented on #5994
not overdue

[2022-05-12 19:42] #8965 closed

[2022-05-12 19:44] mvtglobally commented on #8777
@chiragsalian we are re-testing

[2022-05-12 19:46] luacmartins commented on #8963
The behavior is also inconsistent on production, so I'm removing the deploy blocker label and moving this to a daily.

[2022-05-12 19:54] Santhosh-Sellavel commented on #8520
PR arrived at the roadblock here: https://github.com/Expensify/App/pull/8878#issuecomment-1118005306

Need to explore options to solve this one!

[2022-05-12 19:54] jrstanley commented on #8731
Proposal:

tl;dr My research shows this as a long standing and well known behaviour of Mobile Safari on iOS. The best approach may be to take no action for now, in the hope that upcoming standards will provide a robust solution. All websites I have tested also demonstrate this issue (to varying degrees, based on the positioning of the input/textarea).

**Issue:**
The issue is related to Mobile Saf

[2022-05-12 19:57] chiragsalian commented on #8777
**Some more updates:**
1. https://github.com/Expensify/App/issues/8963 - No longer a blocker, can you check it off.
2. https://github.com/Expensify/App/pull/8771 - tested internally, so can you check it off.
3. https://github.com/Expensify/App/pull/8733 - Looks like its dependent on https://github.com/Expensify/App/issues/8930, since neither are really blockers we can check that off too.

[2022-05-12 20:05] Santhosh-Sellavel commented on #8731
@luacmartins
Just do nothing for now!
I agree with @jrstanley here. Share your thoughts.

[2022-05-12 20:05] luacmartins commented on #8791
Sorry Tim, I don't know the answer to those questions, but I'm just stopping by to say that this issue sounds very similar to [this other issue](https://github.com/Expensify/App/issues/8731#issuecomment-1125367728). They both seem to be caused by a resizing of the window (either the app banner or the nav bar resizing). Maybe the issue I just linked is easier to test and the solution could potentia

[2022-05-12 20:22] kbecciv opened #8975 "IOS- After tap on "down" arrow the user not lead ‘Self-select your pronoun’ field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open New Expensify app
2. Log in levon.utest@gmail.com/ Small123
3. Tap Account icon in top right side
3. Tap Profile button
4. Tap 'Prefferd pro

[2022-05-12 20:26] michaelhaxhiu commented on #8235
Thank you, that's great to confirm.

[2022-05-12 20:27] michaelhaxhiu commented on #8235
@kidroca do you want to fix it?

[2022-05-12 20:28] jrstanley commented on #8791
My research around #8731 (suggesting no action, specifically because it is related to offsets and the presentation of the virtual keyboard) has, I believe, yielded the result to [the web repo](https://github.com/Expensify/App/issues/8791#issuecomment-1124297736) in @mvtglobally's issue. I'm unable to get the app banner to display on a real device and so I am unable to repro that.

Would you consid

[2022-05-12 20:30] luacmartins commented on #6883
@kidroca correct! I added that to the issue description.

@mananjadhav as Rajat mentioned, that package has no support for Android, so we should keep looking.

[2022-05-12 20:33] luacmartins commented on #6883
@azimgd thanks for the detailed proposal and @parasharrajat for the review. I'll analyze this further and ask for a few more eyes on it as well.

[2022-05-12 20:51] #7904 closed

[2022-05-12 20:51] #7908 closed

[2022-05-12 20:54] michaelhaxhiu commented on #8235
Ohhh thanks for the input @thienlnam, that's super helpful.

[2022-05-12 20:55] michaelhaxhiu commented on #8235
Feel free to log your time for working on this as you typically do!

[2022-05-12 21:05] luacmartins commented on #8731
Thanks for the assessment @jrstanley and the review @Santhosh-Sellavel! I'll keep this issue open for a while longer and see if we get any other solutions.

[2022-05-12 21:12] roryabraham commented on #8715
Waiting for consensus in [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1651695607990559) to move forward.

[2022-05-12 21:13] roryabraham commented on #7859
Still on hold

[2022-05-12 21:18] roryabraham commented on #8975
So, the down-and-up arrows should navigate through this picker?

[2022-05-12 21:30] michaelhaxhiu commented on #8715
Thanks for linking that @roryabraham, I was just about to do the same :D

[2022-05-12 21:41] michaelhaxhiu commented on #5994
Ok. I think we should close this issue, as the feature simply did not exist when it was reported. We intended to build offline mode for a long time, but did not prioritize it until recently - and so I kept this GH open as a placeholder of sorts.

But I think deficiency existed innately and shouldn't be paid for that reason (e.g. there were hundreds/thousands of offline mode things that could be "r

[2022-05-12 21:57] michaelhaxhiu commented on #7806
We haven't reproduced this in 3 months, closing.

[2022-05-12 21:57] #7806 closed

[2022-05-12 22:39] #8943 closed

[2022-05-12 22:58] kbecciv opened #8979 "[$250] Web/FireFox - Emoji - Emoji does not send the correct amount when selected."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the website https://staging.new.expensify.com/
2. Open some conversation;
3. Click on Emoji
4. With the mouse select several emojis;
5. Pres

[2022-05-12 23:09] mateusbra commented on #7909
Hi guys, I think I achieved a way to deal with attachmens:
I think we could use the same logic we did before, but this time also checking if we are rendering an attachment:
[code]

[2022-05-12 23:15] mvtglobally commented on #8777
Checking off https://github.com/Expensify/App/issues/8962 https://github.com/Expensify/App/issues/8947 - retest Passed

[2022-05-12 23:20] michaelhaxhiu commented on #8573
Good call, let's close @mananjadhav

[2022-05-12 23:20] #8573 closed

[2022-05-12 23:41] chiragsalian commented on #8962
Passed the checklist, closing isssue.

[2022-05-12 23:41] #8962 closed

[2022-05-12 23:41] chiragsalian commented on #8947
Passed the checklist, closing isssue.

[2022-05-12 23:41] #8947 closed

[2022-05-12 23:41] alex-mechler commented on #8938
I'm not sure that we want to redirect to the general settings in this case. If we direct to the general workspace overview, the user gets to see all the features for their new workspace, instead of just a few settings

@trjExpensify do you have any thoughts here?

[2022-05-12 23:41] trjExpensify commented on #8938
I tried to reproduce this on the latest on web as well, and I can't produce the same result as reported.

1. I'm navigated to the new workspace to the main workspace settings page, which is the expected behaviour
2. I receive the confirmation growl that the new workspace was created
3. I receive the notification from Concierge that the new workspace was created

Given that we both can't reproduce

[2022-05-12 23:41] #8938 closed

[2022-05-12 23:42] trjExpensify commented on #8899
Sounds good to me!

[2022-05-12 23:42] #8899 closed

[2022-05-12 23:44] chiragsalian commented on #8777
Awesome, thank you. Okay looks like we're all clear. Due to some important meetings today we're not deploying today but we'll deploy early tomorrow 🙂

[2022-05-12 23:59] chiragsalian commented on #8784
This went to prod last week. Closing issue.

[2022-05-12 23:59] #8784 closed

[2022-05-13 00:01] chiragsalian commented on #8119
Looks like manan reviewed and approved it today. I reviewed it as well today and left a few comments.

[2022-05-13 00:04] chiragsalian commented on #7263
Reassigned. I maybe did it a bit too early. I think we should wait and see if this issue still reoccurs during next regression testing to decide if a fix is needed or not.

[2022-05-13 00:07] trjExpensify commented on #8720
Ah, apologies @adeel0202. I overlooked who reported this issue! Once it has been deployed to production, you will be compensated for reporting the issue. I've sent you a contract on Upwork 👍

[2022-05-13 01:15] mollfpr commented on #8126
@parasharrajat Yeah, we replace point 3 with this https://github.com/Expensify/App/issues/8126#issuecomment-1123095585 instead.

Point 4 is to handle drawer state from URL. Currently, I only handle when the path is `/` and will return the drawer state to `open`. Other than that will return value from onyx which the last drawer states the user.

For now, nothing different happens with the navigatio

[2022-05-13 01:42] kevinksullivan commented on #8794
Waiting on deploy.

[2022-05-13 03:39] mvtglobally opened #8981 "UI is not fully fitting the frame on autofill input field - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Autofill email or password field.

## Expected Result:
Ui should occupy all space.

## Actual Result:
UI is not fully fitting the fra

[2022-05-13 04:13] mvtglobally commented on #8848
Couldn't hold my QA mind away from this one :) specially as I also have Samsung Galaxy S7
Here is a comparison SG S7 and SG S20 FE
Video is a bit backwards as It shot with upside laptop camera, but you can catch the device response speed (all other indicators are same - wifi, account, build)

https://user-images.githubusercontent.com/43995119/168209931-69d4abf3-535a-4463-a2ab-39aa4e2f83b0.MOV

[2022-05-13 04:20] mvtglobally commented on #8848
https://user-images.githubusercontent.com/43995119/168210586-9e45dea3-1167-46ca-8144-92e8d40726d5.mp4

[2022-05-13 04:28] kadiealexander commented on #8956
Posted to Upwork!
https://www.upwork.com/ab/applicants/1524969034657824768/job-details
https://www.upwork.com/jobs/~01b076d4cd300d2904

[2022-05-13 04:56] Christinadobrzyn commented on #8981
I'm not sure if this is intentional or if it might be fixed with this change - https://github.com/Expensify/App/issues/7470. Sending to engineers to review!

[2022-05-13 06:07] adeel0202 commented on #8720
Thanks. I have accepted the contract :)

[2022-05-13 06:17] jliexpensify commented on #8935
Posted!

Internal - https://www.upwork.com/ab/applicants/1524997142160097280/job-details
External - https://www.upwork.com/jobs/~01e1184d00a75ad62c

[2022-05-13 06:18] adeel0202 commented on #5994
@michaelhaxhiu, the bug I reported [here](https://github.com/Expensify/App/issues/8090) was not related to offline mode. I reported the bug that if you close the app when your profile photo is still uploading and open the app again then you can see an infinite loader on your avatar. Rory in his [comment here](https://github.com/Expensify/App/issues/8090#issuecomment-1075602823) said that the bug I

[2022-05-13 06:19] kaushiktd commented on #8951
Is this issue still available to work on?

[2022-05-13 06:53] jliexpensify commented on #8534
Not overdue Melvin

[2022-05-13 07:49] Christinadobrzyn commented on #8422
Another request to download chat - https://www.expensify.com/concierge/#/chat/9192745

[2022-05-13 07:57] Gonals commented on #8981
Yep, @Christinadobrzyn, I believe they are basically the same issue :). Closing this one!

[2022-05-13 07:57] #8981 closed

[2022-05-13 08:10] Subash-G commented on #8935
Hi... !

I can able to fix this issue.

Solution:

Need to add disable condition like if the selected user list is empty - Disable the remove button. If the selected user list is contain data, Enable the remove button.

After every remove confirmation, need to clear the value in selected user list

[2022-05-13 08:16] Christinadobrzyn commented on #8422
Asking in product about creating this - https://expensify.slack.com/archives/C03U7DCU4/p1652429728775639

[2022-05-13 11:24] kidroca commented on #8235
@thienlnam

Yes, I used the same attachment and web

[2022-05-13 12:03] Puneet-here commented on #8824
@mallenexpensify  can you look into this I think @sonialiap is OOO.

[2022-05-13 12:23] parasharrajat commented on #8850
cc: @NikkiWines :arrow_up:

[2022-05-13 13:09] Stutikuls opened #8983 "[med] Keyboard Navigation: Email is not accessible using keyboard."
## Action Performed:
Using Chrome + Jaws, open URL staging.new.expensify.com
Navigate to Setting using Tab key and press Enter to select it.
Navigate to any workspace using Tab key and press using Enter to select it.
Navigate to Pay bills using Tab key and press Enter to activate it.
Navigate to the email present on the page using Tab key.
Verify the focus order and observe the issue.

## Expected

[2022-05-13 13:19] Stutikuls commented on #8777
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #8742, #8753, #8756, #8759, #8766
Logged Issues - #7849, #8483, #8493, #8581, #8591, #8609, #8689, #8725, #8733, #8737, #8739, #8741, #8757, #8758, #8764, #8769, #8795,
Note: [#8770] (Client: Currently there's no way for Applause to test our P2P p

[2022-05-13 13:30] laurenreidexpensify commented on #8440
Sorry I was AFK at a conference this week - actioning now

[2022-05-13 13:33] laurenreidexpensify commented on #8440
Done

[2022-05-13 13:35] dharmik commented on #8440
Thanks @laurenreidexpensify PR raised and verified by parasharrajat.
CC @NikkiWines

[2022-05-13 13:46] eVoloshchak commented on #6154
Here's what I found on mWeb
1. On Android end of selection isn't visible sometimes
![image](https://user-images.githubusercontent.com/9059945/168294475-abdf2416-4dd9-49a1-a9ce-25708b6de0b4.png)
However:

- This problem seems to be Chrome-specific, I couldn't reproduce it using Firefox or Opera
- It's present in current production build, so it wasn't introduced by these changes
2. An issue that was

[2022-05-13 14:56] flodnv commented on #8848
Nice one @mvtglobally 😄 I'd be interested in the same comparison in other apps like Slack or a simpler one like Whatsapp.

I kinda agree that ideally our app should run fast on old devices, although I am not sure how realistic that dream is (2017 is not actually **old**, what a world we live in...)

[2022-05-13 15:46] chiragsalian commented on #8777
:shipit:

[2022-05-13 15:46] #8777 closed

[2022-05-13 15:51] parasharrajat commented on #4612
Take a look at all the proposals now. Also, cross-referencing other issues due to overlapping proposals. For clarity, I am looking at [this](https://github.com/Expensify/App/issues/4612#issuecomment-1070032811) information in a proposal.

[2022-05-13 16:22] tomivs commented on #8185
Deployed to production in version 1.1.57-17.

If there are no regressions, I guess payment will be released 7 days later.

[2022-05-13 16:24] OSBotify opened #8991 "Deploy Checklist: New Expensify 2022-05-13"
**Release Version:** `1.1.60-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8436
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8494
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/8571
  - [x] QA

[2022-05-13 16:33] adelekennedy commented on #8719
Still waiting - we're at the point where we typically double issues to attract more contributors @neil-marcellini

[2022-05-13 16:35] deetergp commented on #8979
Definitely doable by an external contributor.

[2022-05-13 16:35] adelekennedy commented on #8662
It looks like this was just [deployed to production](https://github.com/Expensify/App/pull/8737#issuecomment-1126225290)!

[2022-05-13 16:36] adelekennedy commented on #8640
Since this wasn't reproducible for two weeks do we still keep this open @chiragsalian?

[2022-05-13 16:36] adelekennedy commented on #8594
Still on hold

[2022-05-13 16:40] adelekennedy commented on #8426
Ah jeez - somehow totally missed these bumps! @mdneyazahmad can you apply to the job [here](https://www.upwork.com/jobs/~0195d1347a8ad5ac35)?

[2022-05-13 16:41] adelekennedy commented on #8292
Waiting on updated proposal

[2022-05-13 16:43] adelekennedy commented on #7942
and it's time to double again 😅

[2022-05-13 16:45] chiragsalian commented on #8640
Yeah i think the issue is resolved. Closing it. Feel free to reopen if it reoccurs.

[2022-05-13 16:45] #8640 closed

[2022-05-13 16:59] neil-marcellini commented on #8719
Ok that sounds like a good idea.

[2022-05-13 17:36] kbecciv opened #8992 "Android - VBA - App is crashed after tap Connect bank account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with Expensifail account
3. Go to Setting - Preferences
4. Enable the Staging server
5. Go to any Workspace
6. Tap Conne

[2022-05-13 17:37] OSBotify commented on #8992
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-13 17:41] neil-marcellini commented on #8991
@thesahindia reported that #8966 breaks the bank account pages. #8993 will fix it.

[2022-05-13 17:44] neil-marcellini commented on #8992
This was caused by my PR #8966. I put up #8993 to fix it.

[2022-05-13 17:49] MariaHCD commented on #8951
Can't reproduce the issue due to: https://github.com/Expensify/App/pull/8966#issuecomment-1126263948

Will look into this once that PR is merged

[2022-05-13 18:11] kidroca commented on #8061
For local development `desktop/main.js` is not bundled through Webpack
https://github.com/Expensify/App/blob/2fd3df03a6f40e5dedbae5be60793fc5cf67fb07/desktop/start.js#L21

Any changes to `desktop/main.js` would have to restart Electron, there doesn't seem to be a way around that, but it also seems to be the case from when we used `electron-reloader` - any change to main would have to restart Elect

[2022-05-13 18:22] chiragsalian opened #8994 "Older report comments are not loaded once we scroll to the top - reported by @santhosh-sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Click on any search that contains a good amount of history.
3. Scroll up to the top.

## Expected Resu

[2022-05-13 18:23] chiragsalian commented on #8994
cc @thesahindia

[2022-05-13 18:23] OSBotify commented on #8994
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-13 18:27] kbecciv opened #8995 "Attachment - Download icon is not working in right side chat bar for mp4 and mov files"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue were found when executing PR:** https://github.com/Expensify/App/pull/8952

## Action Performed:
1. Go https://staging.new.expensify.com/
2. Log in with any acco

[2022-05-13 18:28] chiragsalian commented on #8991
Looks like we found a really nasty bug on production - https://github.com/Expensify/App/issues/8994.

@Expensify/applauseleads i'm not sure how this bug was missed in the regression testing but if there is no check for this in the regression testing would you guys be able to add one now. Additionally is it possible to work on this checklist with a bit of urgency? Only because the sooner we get the

[2022-05-13 18:30] mvtglobally commented on #8991
@chiragsalian We are seeing a lot of issues right now and logging them in a few min.
I will check on https://github.com/Expensify/App/issues/8994. in a few

[2022-05-13 18:31] chiragsalian commented on #8994
Its being worked on [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1652465594406659?thread_ts=1652463943.094999&cid=C01GTK53T8Q)

[2022-05-13 18:36] kbecciv opened #8996 "Web - Profile - App is crashing when hit the Enter key after searching the user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go https://staging.new.expensify.com/
2. Log in with any account
3. On Search start typing any NEW user you haven't chat with before
4. Hit Enter

[2022-05-13 18:37] OSBotify commented on #8996
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-13 18:44] tylerkaraszewski commented on #8996
I can't reproduce this.

[2022-05-13 18:45] kbecciv opened #8997 "Group Chat - Unable to create group chat, app crashed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in app
2. Click on the green plus button Untested
3. Click on Create Group
4. Search for at least 4 users and add them to the group.
2. Click

[2022-05-13 18:46] OSBotify commented on #8997
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-13 18:47] mvtglobally commented on #8996
@tylerkaraszewski,
Did you use the physical keyboard after searching and then hitting ENTER ? This is consistently repro for us.

[2022-05-13 18:57] tylerkaraszewski commented on #8996
It's not doing it for me:

https://user-images.githubusercontent.com/705000/168356458-9d84def3-da2d-47b6-954a-800de19bd9b1.mov

[2022-05-13 19:04] Santhosh-Sellavel commented on #8996
@tylerkaraszewski Issue is able to reproduce, type an email (a new user) which whom you never had chat, and press enter.

Since its a deployer block I spun a PR

[2022-05-13 19:06] tylerkaraszewski commented on #8996
Yes, with "email (a new user) which whom you never had chat" it is reproducible.

The reproduction steps say: "On Search start typing any user" which does not cause the problem.

[2022-05-13 19:06] isagoico commented on #8996
@tylerkaraszewski Able to reproduce the issue, here's the JS error in consoles
![image](https://user-images.githubusercontent.com/44479856/168365892-05f57e44-e4c3-4264-a487-16d4ff33b4fa.png)

[2022-05-13 19:07] mvtglobally commented on #8996
@tylerkaraszewski, I  didnt realize it has to be a new user as we often use new accounts. I fixed the steps

[2022-05-13 19:15] michaelhaxhiu commented on #5994
@adeel0202 thanks for the additional context, i didn't have a chance to re-read that thread until now and agree.

We'll pay you and @Santhosh-Sellavel the reporting bonus, and close this out.

[2022-05-13 19:17] michaelhaxhiu commented on #5994
Can you both apply for this job on upwork, please:

https://www.upwork.com/jobs/~0107f0fd48c51cf271

[2022-05-13 19:30] isagoico commented on #8991
@chiragsalian Checked the deploy blocker issue above and we currently **don't** haven any regression steps that cover scrolling to the top of the conversation. I'm creating a ticket to add this scenario to TestRail ASAP

[2022-05-13 19:40] trjExpensify commented on #7470
Doubled!

[2022-05-13 19:44] Santhosh-Sellavel commented on #7860
Thanks, @izhan, I already started checking this one and now I bumped into a new [issue](https://github.com/Expensify/App/issues/8994) today while trying to reproduce this one.

I believe the fix should be in react-native/react-native-web only since it's not just occurring for us alone.

[2022-05-13 19:46] mvtglobally commented on #8995
@thienlnam just saw your PR https://github.com/Expensify/App/pull/8952. Can you confirm if this behavior is expected or no? and should we consider this Deploy blocker if its a bug?

[2022-05-13 19:58] adeel0202 commented on #5994
Thanks @michaelhaxhiu. I have applied.

[2022-05-13 19:59] jrstanley commented on #8888
### Proposal:

I can replicate this issue on my M1 Mac. I define the issue and propose solutions below.

### Steps to reproduce:
1. Clone repo
2. `npm install`
3. `npm run web`
4. Observe application launches and UI loads
5. Exit `npm run web`
6. `npm install`
7. Observe error relating to `npm run compile` command
8. `npm run web`
9. Observe application launches but UI does not load. Web console e

[2022-05-13 20:03] thesahindia commented on #8994
PR is up.

[2022-05-13 20:37] mvtglobally opened #9003 "Web - Payments - User can see the "Background" when deleting Paypal handle"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into a valid user
3. Click on "Profile" icon
4. Click on "Payments" and "Add to Payments"
5. Add any Pay

[2022-05-13 20:37] michaelhaxhiu commented on #5994
Re-opening, as this hasn't been paid yet.

[2022-05-13 20:41] mvtglobally opened #9004 "Web - Group - When user selects "Message a group user" the app will crash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: user has a new group created with a couple of users already invited
1. Access staging.new.expensify.com
2. Log into a valid user
3. Cl

[2022-05-13 20:42] mvtglobally commented on #9004
This issue is inconsistent, but we were not able to repro it in PROD at all. Adding Deploy blocker label for now. Pls feel free to remove if you are not able to repro on Expensify side.

[2022-05-13 20:42] OSBotify commented on #9004
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-05-13 20:57] michaelhaxhiu commented on #2545
Hold

[2022-05-13 21:24] thienlnam commented on #8995
cc @techievivek It seems as though this context menu doesn't work for movie files that got added in your [PR](https://github.com/Expensify/App/pull/8739)

This is the console error, seems to be that the regex is not matching leading to an undefined error when looking for the URLs
![Screen Shot 2022-05-13 at 2 21 25 PM](https://user-images.githubusercontent.com/30609178/168391168-ed5776bb-6db1-432f

[2022-05-13 21:33] kbecciv opened #9005 "Chat - Phone account doesn't have workspace chat after it have been invited as a member."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR:** https://github.com/Expensify/App/pull/8436

## Action Performed:
Precondition:
Sign in as user A > Create workspace and invite use

[2022-05-13 21:39] OSBotify commented on #8991
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/9002) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.60-2` :rocket:

[2022-05-13 21:39] OSBotify commented on #8991
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.60-2 has been deployed to staging :tada:

[2022-05-13 21:40] chiragsalian commented on #8994
PR has been merged but feel free to compensate @Santhosh-Sellavel for finding the issue and @thesahindia for helping resolve the issue.

[2022-05-13 21:41] chiragsalian commented on #8994
Reopening since i'll ask QA to test when this is on staging.

[2022-05-13 21:56] stephanieelliott commented on #7081
PR is awaiting internal review

[2022-05-13 21:58] stephanieelliott commented on #7706
Deployed to prod! Will pay this out after the 7-day regression period.

[2022-05-13 22:02] stephanieelliott commented on #7917
^^ Bump @mdneyazahmad, are you working on including these in the PR?

[2022-05-13 22:09] kavimuru opened #9008 "Chat - Unable to send empty backticks for code block, Send icon is disabled"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #8948

## Action Performed:
1. Log in
2. Start a chat conversation
3. Send a message with empty backticks (code block with no text in-betwe

[2022-05-13 22:11] muttmuure commented on #9008
@kavimuru please remember that the Triager (in this case, me) adds the Engineering label.

[2022-05-13 23:04] kbecciv opened #9009 "[$250] Web - Group Search - If user taps "Enter" on keyboard the previous users will be deleted"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access new.expensify.com
2. Sign into a valid account
3. Click on "+" icon and "New group"
4. Add 8 users, until the group is full (Message shoul

[2022-05-13 23:05] strepanier03 commented on #8933
Oops, sorry for the hold up. This wasn't showing on my dashboard until it was overdue so I missed it. Looking now.

[2022-05-13 23:08] strepanier03 commented on #8933
I can see how this could be handy, not 100% sure of the value or difficulty in adding it though. Sending on for another opinion.

[2022-05-13 23:28] kbecciv opened #9010 "[$250] IOS/Android - App crashed after tap on download in optional menu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Find the chat where you can download the file
4. Hold the finger on any type of file (mp4, png., mov

[2022-05-13 23:31] joelbettner commented on #8995
I'm going to un-assign myself. It sounds like @techievivek might know best how to fix this? But...perhaps @mvtglobally would be keen to get a fix out there. I'll let y'all sort that out.

[2022-05-13 23:39] chiragsalian commented on #8991
Update, the fixes for these two have been deployed to staging. Can you test and check it off the checklist when you get the chance? 🙇‍♂️
1. https://github.com/Expensify/App/issues/8992
2. https://github.com/Expensify/App/issues/8994

[2022-05-13 23:40] roryabraham commented on #8997
Going to look into this

[2022-05-13 23:42] ahmdshrif commented on #4612
@parasharrajat I think my last  proposal cover this points . If you thing some point is not clear please mention it .

[2022-05-13 23:43] aldo-expensify commented on #8931
No overdue, waiting for @kbecciv

[2022-05-14 00:38] roryabraham commented on #8997
This is already fixed on `main` by https://github.com/Expensify/App/pull/8998. Going to CP it to staging

[2022-05-14 00:42] roryabraham commented on #8991
Just CP'd https://github.com/Expensify/App/pull/8998, which actually fixes three deploy blockers:

- https://github.com/Expensify/App/issues/8996
- https://github.com/Expensify/App/issues/8997
- https://github.com/Expensify/App/issues/9004

I think the common thread between all three is that you're trying to open a new chat, and when it first renders, it doesn't have a name yet, which causes a cra

[2022-05-14 01:01] roryabraham commented on #8991
I was able to verify https://github.com/Expensify/App/pull/7620 on staging, checking it off

[2022-05-14 02:21] kbecciv opened #9013 "Web - Workspace - Clicking "Add work email" while offline closes the workspace menu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: Have a workspace setup and a bank account added to this account
1. Access staging.new.expensify.com
2. Sign into a valid account
3. C

[2022-05-14 03:53] MarionRosete commented on #8935
Problem:
 Button integration
 Button State listener when user is selected
Solution:
 Button behavior when hover out, hover in, clicked and select some users
 Button State Listener

[2022-05-14 04:24] b1tjoy commented on #8612
### Proposal
### Problem
Since FlatList has inverted scrolling on web, when we press down arrow, the scroll bar goes up, and when we press up arrow, the scroll bar goes down.
### Solution
Add an event handler to handle keypress event, when down arrow pressed, make the scroll bar goes down, and when up arrow pressed, make the scroll bar goes up.
[code]

[2022-05-14 10:02] b1tjoy commented on #8663
@parasharrajat Thanks for your review. When we select the text from bottom to top, make sure the selection makes the scroll bar goes up, then paste the content copy from HTML page, it will not scroll to the right position.

We still need to find a solution for #7351.

[2022-05-14 10:42] kavimuru opened #9014 "iOS/mWeb - Chat - Message compose box can be moved"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Log in with any account
3. Open any chat
4. Try to write a message and use fingers to move the compos

[2022-05-14 10:46] kavimuru opened #9015 "Android - Settings - After savings the profile settings, the edited cells remains highlighted"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in app
2. Open any account
3. Navigate to settings by clicking on the user avatar over LHN
4. Click on Profile
5. Click on “Preferred Pronoun

[2022-05-14 11:00] b1tjoy commented on #8663
@parasharrajat Simply replace this line
https://github.com/Expensify/App/blob/572f6cb1b161fbb90fad17569f10c4af4926e773/src/pages/home/report/ReportActionCompose.js#L371
with
[code]
will solve both current issue and issue #7351.

Works fine on both firefox mac web and chrome mac web.

[2022-05-14 11:07] kbecciv opened #9016 "Chat - After using edit comment function, composed box is missing for all chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any user
3. Select any chat
4. Type a message and send
5. Hold your fingers until get optional men

[2022-05-14 11:12] kbecciv opened #9017 "Chat - Edit Comment option does not have limits"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any user
3. Select any chat
4. Type a message and send
5. Hold your fingers on the message until g

[2022-05-14 13:26] eVoloshchak commented on #8655
So I've received an [answer](https://github.com/meliorence/react-native-render-html/pull/563#issuecomment-1126708809) from repo maintainer

As a side note regarding using this not-so-recommended prop, in most of the cases you'll be better off with a global style which sets white-space: pre

So I searched and found out that `dangerouslyDisableWhitespaceCollapsing` was set to true in order to fix ht

[2022-05-14 13:33] kavimuru commented on #8348
@sketchydroide Another tester experienced the same issue when upgraded from version 60-1 to version 60-3. Mac version is 10.15.7

https://user-images.githubusercontent.com/43996225/168428035-82876de7-280d-40ee-9e92-729a8dc6df01.mp4