[2021-11-23 23:52] jasperhuangg opened #6453 "[VISUAL ISSUE] Global create menu buttons don’t fill container on iPad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

https://user-images.githubusercontent.com/31285285/143146863-ec5e6f26-3775-4ceb-8775-237a72559e0c.MOV

## Action Performed:
1. Open App on iPad.
2. Open the global creat

[2021-11-23 23:55] jasperhuangg commented on #6453
Adding external label as I am an engineer and can confirm that it can be fixed this way.

[2021-11-23 23:56] kidroca commented on #6059
This is related: https://github.com/Expensify/App/issues/5337

Long story short both issues are because we rely on `navigator.onLine` which is unreliable.
 `navigator.onLine` being `true` means only that you are connected to some network - weird or wireless, and not that the network has internet connection

Here I propose to double check when our network status changes: https://github.com/Expensif

[2021-11-23 23:56] jasperhuangg commented on #6453
Assigning Weekly as this is a visual issue

[2021-11-24 00:05] isagoico commented on #6399
Currently testing these CPs in all environments:

- [ ] https://github.com/Expensify/App/pull/6441
- [ ] https://github.com/Expensify/App/pull/6433
- [ ] https://github.com/Expensify/App/pull/6417
- [ ] https://github.com/Expensify/App/pull/6319

[2021-11-24 00:24] yuwenmemon commented on #6315
@PrashantMangukiya your solution looks good - I'm just double-checking that the Spanish translation makes sense.

[2021-11-24 01:07] isagoico commented on #6399
Regression is almost finished! Summary of what we have found so far:

- https://github.com/Expensify/App/pull/4133 - Is failing because of https://github.com/Expensify/App/issues/6422 and https://github.com/Expensify/App/issues/6426
- https://github.com/Expensify/App/pull/6293 - Was failing because of https://github.com/Expensify/App/issues/6414 (Being retested https://github.com/Expensify/App/pul

[2021-11-24 02:09] Christinadobrzyn commented on #6315
posted job in Upwork

Internal job posting: https://www.upwork.com/ab/applicants/1463328703132856320/job-details
External job posting: https://www.upwork.com/jobs/~0140e30cdfb1270d65

@yuwenmemon feel free to let me know when we're ready to hire!

[2021-11-24 02:56] luacmartins commented on #6082
Issue is also present in the VBA flow. It doesn't seem to be a navigation issue, since it goes away when replacing the Onfido component. Looking for more help https://expensify.slack.com/archives/C03TQ48KC/p1637718164105600?thread_ts=1635347185.233000&cid=C03TQ48KC

[2021-11-24 06:06] roryabraham commented on #5588
PR merged 🎉 🚀

[2021-11-24 06:10] MonilBhavsar commented on #6422
I am also unable to reproduce the issue

[2021-11-24 08:17] parasharrajat commented on #6315
@PrashantMangukiya 's proposal looks good. We can work on the translations during the PR review. @mountiny Please assign this to him and let us know if you speak spanish...

[2021-11-24 08:34] MariaHCD commented on #6389
Wasn't able to reproduce on dev, staging or production 🤔 @anthony-hull Could you let me know which email you were facing this issue with? Perhaps there was an error on the backend.

[2021-11-24 08:38] parasharrajat commented on #6235
I am getting CORS error on dev.
[code]

[2021-11-24 09:07] dylanexpensify commented on #6415
On it!

[2021-11-24 09:09] dylanexpensify commented on #6415
Internal: https://www.upwork.com/ab/applicants/1463434565061685248/job-details
External: https://www.upwork.com/jobs/~010a9031d77677f005

[2021-11-24 10:15] parasharrajat commented on #6235
Ok, so I found this after debugging.
1. https://github.com/FaridSafi/react-native-google-places-autocomplete/blob/47d7223dd48f85da97e80a0729a985bbbcee353f/GooglePlacesAutocomplete.js#L681
Only runs once when the user blurs the input. Its duty is to preserve the list if the focus is moved to any item on the list.
2. On the other hand, you click directly outside dropdown or text input then the same

[2021-11-24 10:50] laurenreidexpensify commented on #6414
https://www.upwork.com/jobs/~01ecf594dff9cb8480

@parasharrajat have sent you the offer in UW

[2021-11-24 11:38] kidroca commented on #6438
Seems very similar to this: https://github.com/react-native-datetimepicker/datetimepicker/issues/526 and this https://github.com/react-native-datetimepicker/datetimepicker/issues/524

It's likely a problem with the library itself
Since we have `DatePicker/index.ios.js` maybe we can switch to a different library to address this faster

[2021-11-24 13:23] iwiznia commented on #5079
Yes

[2021-11-24 13:30] kavimuru opened #6457 "Android - VBA - User could not add bank account using plaid option"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #6319

## Action Performed:
1. Launch the app and login with gmail
2. Go to workspace and tap "Connect to a bank"
3. Select the option " co

[2021-11-24 13:32] OSBotify commented on #6457
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-24 13:33] isagoico commented on #6457
Found this while we were retesting https://github.com/Expensify/App/pull/6433 on Android (I don't think it's the culprit tho) this was definitely not reproducible when we started QA so we added the Deploy Blocker label.

[2021-11-24 14:02] railway17 commented on #6326
Hi, @deetergp , @mallenexpensify
I resolved [this error](https://github.com/Expensify/App/issues/6326#issuecomment-976821831) by upgrading the dev package versions to latest one in package.json like below:
[code]

[2021-11-24 14:25] PrashantMangukiya commented on #6453
### Proposed Solution:

**Here is the problem:**
Within `BasePopoverMenu.js` at line 40 it set `styles.createMenuContainer` for large screen as under:
https://github.com/Expensify/App/blob/36558e097dbcc14a043d619697084b9b40e26e67/src/components/PopoverMenu/BasePopoverMenu.js#L40

So createMenuContainer  always set `width: variables.sideBarWidth - 40,` i.e. it will not show full width in large scre

[2021-11-24 15:29] dklymenk commented on #3293
I have submitted the fix #6458.

[2021-11-24 16:10] laurenreidexpensify commented on #6069
Paid and closed in Upwork 👍🏽

[2021-11-24 16:16] yuwenmemon commented on #6315
@PrashantMangukiya your spanish traslation is :+1:

[2021-11-24 16:25] PrashantMangukiya commented on #6315
Thanks. Applied to Upwork job. I will prepare and submit pr soon.

[2021-11-24 16:34] parasharrajat commented on #6069
@laurenreidexpensify I don't think we meant to close this yet. The focus of this issue is moved to a different context now.
@Luke9389 Please correct me if I am wrong.

[2021-11-24 16:35] PrashantMangukiya commented on #6315
@yuwenmemon everyone Unassigned from this issue except me. Not sure this is expected or Github glitch.

[2021-11-24 16:57] NikkiWines commented on #5620
I believe some people have been able to reproduce this issue just by opening the New Expensify app, using other apps throughout the day, and then coming back to the New Expensify app. A more consistent - but still relatively inconsistent - reproduction method has been to try to open the app after test flight updates or by force closing the app and re-opening it.

I agree that's a good modification

[2021-11-24 17:02] laurenreidexpensify commented on #6069
Ah sorry my bad! Read too quickly 😅

[2021-11-24 17:07] kidroca commented on #5984
I'm on the latest `main` and have been spotting this eslint error across the app

![image](https://user-images.githubusercontent.com/12156624/143283395-03e9adc4-b5e6-42c3-9a02-bce6e00482bf.png)

This is inside `src/libs/actions/ActiveClients.js` so why isn't the rule satisfied?

[2021-11-24 17:10] marcaaron commented on #5984
Do you see it when eslint runs in a GH action? Or just locally?

[2021-11-24 17:11] zoontek commented on #5620
@NikkiWines Thanks for the informations! I will make a proposal as a pull request with full explanations about how to improve the splash screen experience anyway. Feel free to have a look / approve it / reject it when it will land (ou could also create a specific build to test it using TestFlight 🙂)

[2021-11-24 17:11] kidroca commented on #5984
Locally

[2021-11-24 17:12] deetergp commented on #6326
Hey @railway17. Here are the versions I'm running on my Big Sur machine:
[code]

Generally, when I run into these kinds of runtime issues, I find that just deleting the `node_modules` folder and re-running `npm i` takes care of them.

[2021-11-24 17:13] marcaaron commented on #5984
Ah hmm interesting. Just checked to be sure and doesn't complain for me. Perhaps there is something specific to your environment that causes the rule to show errors in your IDE.

[2021-11-24 17:15] isagoico commented on #6425
Retest for this was a pass! 🎉 Checking it off.

[2021-11-24 17:15] #6425 closed

[2021-11-24 17:15] isagoico commented on #6436
Retest for this was a pass 🎉

[2021-11-24 17:15] #6436 closed

[2021-11-24 17:16] parasharrajat commented on #6425
Am I eligible for reporting bonus here :sweat_smile: ?

[2021-11-24 17:16] isagoico commented on #6414
Retest for the PR https://github.com/Expensify/App/pull/6433 was a pass! I think we can remove the deploy blocker label here

[2021-11-24 17:18] danieldoglas commented on #6286
Yep. Looks like this would need changes in our integrations servers, and probably more places that I don't know the context yet.

Thinking about the ROI, since most of our customers are using currencies with only 2 decimal cases, I guess we could keep it with only 2 decimals for now and do a plan to change that in the future based on our expansion to other countries with that necessity.

[2021-11-24 17:20] isagoico commented on #6415
Retest for https://github.com/Expensify/App/pull/6417 (Fix) was a pass! I think we can close this one out 🎉

[2021-11-24 17:21] isagoico commented on #6415
Oh wops I think a payment is needed here. Will remove the deploy blocker label and reopen so the payment is tracked here

[2021-11-24 17:29] isagoico commented on #6422
I'm unable to reproduce this on Android on build 1.1.16-6, I think we're good to close it out
![image](https://user-images.githubusercontent.com/44479856/143286768-9e5b9803-0c43-494e-89fe-38f6a9e1b25e.png)

[2021-11-24 17:39] anthony-hull commented on #6389
hullo2u+doesitworkwithenter@gmail.com I believe! 😆

[2021-11-24 17:41] #6422 closed

[2021-11-24 17:53] isagoico commented on #6399
Checked off the Deploy blockers that have been fixed and retested. Only deploy blockers left to fix and retest are
- https://github.com/Expensify/App/issues/6424
- https://github.com/Expensify/App/issues/6426
- https://github.com/Expensify/App/issues/6457

[2021-11-24 17:59] isagoico opened #6460 "Secondary log in - Extra gap under validation button - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Settings
2. Click on profile
3. Click on add phone number (secondary log in)
4. Check the button with dev tools

## Expected Result:

[2021-11-24 18:00] parasharrajat commented on #6460
### Proposal
1. Remove the Extra margin from the button. Padding is already applied from the FixedFooter component around it. https://github.com/Expensify/App/blob/03f1e76ef0b55f1071d449f7dc58ecc68481d35d/src/pages/settings/AddSecondaryLoginPage.js#L152

[2021-11-24 18:11] alex-mechler commented on #6425
Yup! Let me get someone assigned to take care of that!

[2021-11-24 18:12] alex-mechler commented on #6425
@michaelhaxhiu can you get @parasharrajat paid for reporting this issue? Thanks!

[2021-11-24 18:13] alex-mechler commented on #6436
@trjExpensify can you get @PrashantMangukiya paid for reporting this issue? Thanks!

[2021-11-24 18:18] deetergp commented on #6460
Can be external and @parasharrajat's proposal takes care of it.

[2021-11-24 18:28] luacmartins opened #6465 "Remove div usage in Onfido component"
# Problem
We have a `<div>` usage in the Onfido component.

# Why this is important?
While `divs` are ok in Web, they might become a bad example and be copied to native solutions and crash the app, which has already happened a couple times.

# Solution
Replace the `div` usage with a View component.

[2021-11-24 18:30] chiragsalian commented on #6426
Oh i missed this, assigning to self as i investigate.

[2021-11-24 18:34] parasharrajat commented on #6426
@chiragsalian I think it was discussed here https://github.com/Expensify/App/issues/3293#issuecomment-976697582 and fixed here https://github.com/Expensify/App/pull/6458

[2021-11-24 18:37] chiragsalian commented on #6426
oh nice, thanks for that @parasharrajat 🙇
Looks like that PR resolves this issue. I'll link it here and ensure it get's CP-d.

[2021-11-24 18:41] joelbettner commented on #6457
@nickmurray47 @TomatoToaster after some discussion in this thread, it seems like you might have the best context for working on this. https://expensify.slack.com/archives/C03TQ48KC/p1637777522145000

I'm going to un-assign myself as I'm currently working on a daily, and I've got a doctor appt coming up soon that will take me OOO.

[2021-11-24 18:51] marcaaron commented on #6457
@kavimuru can we get tester email to look at logs and see if there's more information?

Also can we please re-test but on a fresh sign in and switch to staging server _before_ starting the flow?

The video shown doesn't really reflect what a user would do so I want to make sure this is a real blocker and not a consequence of switching from the production server to staging server as shown. Users ca

[2021-11-24 19:00] isagoico opened #6470 "[Pay on 3/22] Group Creation - Focus is lost on search box after selecting a user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on Global create
2. Select the create group option
3. Search for a user
4. Click on the user
5. Start typing again

## Expected Result:
Foc

[2021-11-24 19:02] aldo-expensify commented on #6309
I haven't been able to continue with this yet, I'll try to give it time tomorrow.

[2021-11-24 19:08] isagoico opened #6471 "New line indicator does not show up if report is directly opened but unread count increases - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Copy the report url.
2. Close the app.
3. Go to device 2 and send few messages to that report.
4. Go back to device 1 and open that report via u

[2021-11-24 19:08] mallenexpensify commented on #4559
@mananjadhav , when can we expect the PR?

[2021-11-24 19:09] parasharrajat commented on #6470
I disabled this intentionally for New group Page for https://github.com/Expensify/App/pull/5753. But yeah we can get it back for Web | Desktop.

[2021-11-24 19:12] roryabraham commented on #5588
@mallenexpensify I think this ended up being more work than expected, can we bump the pay to $500 please?

[2021-11-24 19:16] isagoico opened #6472 "Unread messages - Unread count does not update when messages are deleted."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open a the app on device A.
2. Go to some other report.
3. Send message to an non-active report on device A from device B.
4. Mark the unread co

[2021-11-24 19:16] adelekennedy commented on #6299
Thank you for the clarification @mallenexpensify! Standing buy for payment

[2021-11-24 19:19] roryabraham commented on #6306
No update here

[2021-11-24 19:20] roryabraham commented on #4010
No update, but taking this off hold.

[2021-11-24 19:20] johnmlee101 commented on #5987
Yes! Agreed! This requires a bit more of an overhaul so I'm fine doubling it.

[2021-11-24 19:20] johnmlee101 commented on #5754
This was merged, waiting for deploy!

[2021-11-24 19:20] johnmlee101 commented on #5405
Merged, and waiting to be moved to main app, out of staging

[2021-11-24 19:21] luacmartins opened #6473 "Fix IOU Enable Payments route"
# Problem
The `IOU_Enable_Payments` page was correctly added to the `IOUSendModalStackNavigator`, but the route was not added under `IOU_Send`. The current route is `enable-payments`, whereas it should be `iou/enable-payments`

<img width="905" alt="problem" src="https://user-images.githubusercontent.com/22219519/143301122-40634846-06b6-4a35-a64d-18955ee15427.png">

# Why is this important?
We sho

[2021-11-24 19:23] roryabraham commented on #4629
Curious to see a proposal that implements images + image coping using a base64 data uri. I'm sure there could be a number of _gotchas_ we'll need to be wary of.

[2021-11-24 19:27] isagoico commented on #6457
@marcaaron I just checked and I'm unable to reproduce this same issue again 🤔

In the morning (when reporting this) 3 members of the applause team were able to reproduce consistently on 3 different Android devices (including mine). One of the emails we used was:
1. utester29+50@gmail.com

Maybe it was a temporary issue on plaid side (?)

[2021-11-24 19:33] roryabraham commented on #4629
Exciting, can't wait!

[2021-11-24 19:38] chiragsalian commented on #6426
@kavimuru the fix has been CP-d. Can you retest and close issue when you get the chance.

[2021-11-24 19:41] isagoico commented on #6399
Testing this CP atm:

- [ ] https://github.com/Expensify/App/pull/6459 (Fixes https://github.com/Expensify/App/issues/6424)

[2021-11-24 19:44] isagoico opened #6474 "[HOLD for payment 2022-01-21] User is not navigated last active conversation after loading Home URL - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open staging app.
2. Go to any report.
3. Close the app.
4. open the app again from the Home URL (which does not have report id).

## Expected R

[2021-11-24 19:54] anthony-hull commented on #2734
Sorry notification got missed by me. PR is ready hopefully for final review. Just need to test on all platforms again

[2021-11-24 20:00] chiragsalian commented on #6414
Awesome, closing issue as well since we have another one tracking its progress to production.

[2021-11-24 20:00] #6414 closed

[2021-11-24 20:02] chiragsalian commented on #6424
@kavimuru, the fix for this has been CP-d. Can you retest and then close the issue if its resolved.

[2021-11-24 20:03] marcaaron commented on #6457
Ok thanks! Sounds like we can remove the blocker then.

[2021-11-24 20:03] marcaaron commented on #6457
Leaving this as a Daily so someone can investigate and look into the logs to see what happened here.

[2021-11-24 20:06] mountiny commented on #5572
Adding Reviewing label as PR is in review.

[2021-11-24 20:20] mountiny commented on #6315
@PrashantMangukiya Probably glitch. Feel free to create PR!

@parasharrajat I dont speak Spanish, but I can translate it into Czech:)

Thanks for handling this @yuwenmemon!

[2021-11-24 20:27] mallenexpensify commented on #5588
Looks like job post is closed. @laurenreidexpensify , when it comes time to pay, can you create another job post and make it for $500. Looks like @akshayasalvi is eligible for the $250 bonus for `n6 hold` and $250 for reporting the issue.

[2021-11-24 20:32] azimgd commented on #3381
It looks like combination of those two affects this bug, interestingly all worked good on ios 14 and not on ios 15

https://github.com/necolas/react-native-web/issues/2167
https://stackoverflow.com/questions/69762424/ios15-safari-bottom-navigation-bar-issue-when-showing-modal

[2021-11-24 20:33] NikkiWines commented on #6235
Great investigation @parasharrajat.

I'm curious in what scenario we'd want to keep the list open if the focus is moved away from the list

Because we're still in the middle of our accessibility testing, and don't yet have consensus on how to handle issues around accessibility, I think this is fine as it is for now.

[2021-11-24 20:39] azimgd commented on #3381
@thienlnam could you create a new branch at expensify/react-native-web which has version **0.15.7** from this commit https://github.com/Expensify/react-native-web/commit/9d6d39f2c7bf53f4dc4b3b20b5e8ea01c73c2719 please ?

[2021-11-24 20:39] parasharrajat commented on #6235
For e.g. I typed some text to get hints and then tab to the list. It is possible that the user needs to check something about that address before he makes a decision from the list and thus he goes out to google in a different tab. I think moving the another Tab or window will the take the focus away.

This was the second reason. The first reason was that we want to allow the user to select items f

[2021-11-24 20:44] parasharrajat commented on #6315
Looks like I am getting hired for no reason. Melvin wants me to take over this. Hush! Melvin, I've got a lot on my plate.

We may need this in near future.

[2021-11-24 20:44] #6465 closed

[2021-11-24 20:58] #6072 closed

[2021-11-24 21:01] marcaaron commented on #5984
Looks like there is only one thing left to cover here which is:

Unsure if we have really landed on the exact guidance for that and the discussion can continue to happen [here](https://github.com/Expensify/react-native-onyx/issues/109).

But I think we accomplished a lot here and can close this out. Thanks for everyone's help!

[2021-11-24 21:01] #5984 closed

[2021-11-24 21:05] roryabraham commented on #6299
I'm still confused what's going on with this issue.

[2021-11-24 21:06] roryabraham commented on #6299
OH ... I get it ... this is internal and I need to fix it. 'Twas a monthly but now is daily.

[2021-11-24 21:16] NicMendonca commented on #6471
Upwork job post: https://www.upwork.com/jobs/~012c9eddf65166689f

[2021-11-24 22:09] kevinksullivan commented on #6132
@Santhosh-Sellavel just checking in here.

[2021-11-24 22:10] Hahsamkhan900 commented on #6415
Greetings,
I've checked out your given link and understand what's the actual problem you're facing, basically, the widgets or the main axis alignment issue or maybe the whole content of the screen is in the same container so another container will be used and your problem will be resolved.. I've extensive experience in developing these applications and I am available to help you out in getting you

[2021-11-24 22:25] mallenexpensify commented on #6415
@dylanexpensify when you create jobs in Upwork, can you be sure to include the GH issue number in the title? It makes it much easier to find/reconcile them.

[2021-11-24 22:29] mallenexpensify commented on #6415
@NikkiWines Rajat was auto-assigned to this issue as a Contributor+ via the `Exported` label.  Should he have been assigned to this issue before since he submitted an acceptable proposal to fix the issue?
cc @Beamanator (we're working on C+ flows)

[2021-11-24 23:08] jliexpensify commented on #6460
Posted and invited @parasharrajat

https://www.upwork.com/ab/applicants/1463645267709853696/job-details
https://www.upwork.com/jobs/~01bdfa8ccd102ca443

[2021-11-24 23:28] kursat commented on #5142
# Proposal

I noticed in the DOM of messages with markdown, we have `data-testid` attribute containing tag name of markdown message. So by intercepting copy shortcut, we can parse selection to markdown.

In my proposal, I'll include context menu copy feature, also doesn't copy messages with markdown.

### Steps

1. Create a shortcut for `Ctrl+C` to override default behavior.
2. Get HTML of selecti

[2021-11-24 23:33] Santhosh-Sellavel commented on #6132
@kevinksullivan

Sorry couldn't get to this sooner!

I've attached screenshot from both platforms below, actually iOS doesn't have profile picture itself.

After seeing profile picture every where inside circle cropped and to sharp square cropped profile looks inconsistent to me.

## iOS
![25112021044100.png](https://user-images.githubusercontent.com/85645967/143325091-7ecc4f33-f1a4-4dba-abfa-b09a

[2021-11-24 23:35] Santhosh-Sellavel commented on #6132
Share your thoughts, I'll look out for the possiblities in iOS.

[2021-11-25 00:09] trjExpensify commented on #6359
I agree with that! 👍

Separately, do we need to consider the logic for GroupDMs versus DMs? As in, if you search `Ted`, you'd expect to return `Ted` first ahead of `Ted, Joe` wouldn't you?

[2021-11-25 00:15] mallenexpensify commented on #5310
@AlfredoAlc and @Santhosh-Sellavel , can you both please accept the Upwork job offer so I can pay y'all? Please confirm in a comment in this issue once you have. I had to create a new job. https://www.upwork.com/jobs/~01f92d3b96a2bac71b

Reminder - @AlfredoAlc is owed a $250 bonus for the `n6 hold`

[2021-11-25 00:19] mallenexpensify commented on #4678
Paid final $250 to @MirFahad58 , thanks for the help and patience.

[2021-11-25 00:19] #4678 closed

[2021-11-25 00:22] trjExpensify commented on #6436
@PrashantMangukiya Offer sent 👍

[2021-11-25 00:32] Santhosh-Sellavel commented on #5620
@NikkiWines

## Steps to Reproduce
1. Close the app
2. From `another account` send a message to the account logged in to the iOS Device!
3. Now open the app by tapping Push Notification received
4. Stuck on Splash screen
5. Until close and reopen the app again. To use the app

Video Added [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1637800330486300?thread_ts=1637800297.486000&cid=C01G

[2021-11-25 00:34] Santhosh-Sellavel commented on #5310
Done! @mallenexpensify

[2021-11-25 00:35] Santhosh-Sellavel commented on #5573
PR is not yet deployed to production yet, why this one was paid early!

[2021-11-25 00:42] Santhosh-Sellavel commented on #5906
Mention PR for this issue has been deployed earlier.

1st deploy
https://github.com/Expensify/App/pull/6237#issuecomment-969396123

2nd deploy
Deployed again two days ago https://github.com/Expensify/App/pull/6237#issuecomment-975879438

The payment was due on 22 Nov. it's updated to 29 Nov.

Can someone clarify this whats wrong here, why its deployed twice!

[2021-11-25 01:02] mallenexpensify commented on #5291
Paid @eVoloshchak in Upwork! Added `Company Offsite Hold` bonus too

[2021-11-25 01:02] #5291 closed

[2021-11-25 01:20] kbecciv opened #6475 "iOS - VBA - User not directed with the secondary login model open tapping "Add work" email"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.  Launch the app and login with gmail account
2. Initiate VBA flow and add  an "Open" bank account.
3. At the last step tap "Add work email addres

[2021-11-25 01:22] OSBotify commented on #6475
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-25 01:27] PrashantMangukiya commented on #6436
Offer Accepted.

[2021-11-25 02:17] kadiealexander commented on #5296
Not overdue Melvin, please go away!

[2021-11-25 02:20] AlfredoAlc commented on #5310
@mallenexpensify It appears to me that the job is not longer available.. anyways I am already hired in another one that has the $250 bonus .. https://github.com/Expensify/App/issues/5310#issuecomment-959792685

[2021-11-25 02:29] AlfredoAlc commented on #5754
@mallenexpensify I applied but still haven't been hired yet 👀

[2021-11-25 03:57] akshayasalvi commented on #5079
Will make changes and raise a PR by weekend.

[2021-11-25 04:25] Christinadobrzyn commented on #6315
Hired @PrashantMangukiya for this job in Upwork 🎉

[2021-11-25 04:27] Christinadobrzyn commented on #6285
Hi @akshayasalvi just checking to see if you've submitted a solution to the background bug? I might have missed it! Thank you!

[2021-11-25 04:28] PrashantMangukiya commented on #6315
Thank you @Christinadobrzyn  I will prepare and submit pr within few hours.

[2021-11-25 07:29] MariaHCD commented on #6389
No errors on the backend. This issue looks similar to https://github.com/Expensify/App/issues/5625 and https://github.com/Expensify/Expensify/issues/178687. It looks like the issue cannot be reproduced reliably. @anthony-hull Did you notice any JS errors in the console?

[2021-11-25 09:54] developvsn commented on #5974
Have you had a chance to look into it?

[2021-11-25 10:20] kidroca commented on #5984
I've traced the problem to file path checks and path separators
Depending on the OS the separator can be a forward a backward slash
For me `context.getFilename()` resolves to this string `D:\Expensify.cash\src\libs\actions\ActiveClients.js`
The check below would not match:
[code]

To make it platform agnostic it should be

[code]

Alternatively all separators can be replaced with `/` like `filenam

[2021-11-25 10:46] anthony-hull commented on #6301
Problem:
When a user selects a photo for their profile, it might not be optimal.
Some processing happens by us after upload which can be hard to predict by the user, such as masking to a circle. The user might not even have image editing programs to prepare their image to look good after uploading.

A couple of ways the image might not be optimal:
framing of the face once masked to a circle might

[2021-11-25 11:02] anthony-hull commented on #6389
yes. I see the same console error. But I get it every single time I navigate the form with a keyboard. It's very consistent for me.

I can log in after, so the account is being setup correctly.
![image](https://user-images.githubusercontent.com/47184118/143429850-bb6721d0-7f3f-4914-bb5f-d8ce06fc4f08.png)

ValidateEmail response:
{
    "accountID": 10924688,
    "authToken": "REDACTED",
    "email"

[2021-11-25 11:23] parasharrajat commented on #6301
Looks like it slipped off my mind. Thanks @anthony-hull appreciate the help.
@tgolen
I think the above-posted details are enough to make it a genuine issue. I had the same kind of thoughts. But I can think of one more point.

### Problem
Being a chat(social) application, it's very important for two persons to get a connected feeling. Which makes it important to have an avatar. But these days, cell

[2021-11-25 11:25] flodnv commented on #6474
@isagoico @parasharrajat is this problem only on staging? If yes, does this need to be a deploy blocker?

[2021-11-25 11:26] parasharrajat commented on #6474
@flodnv It's on production too.

[2021-11-25 11:26] trjExpensify commented on #6436
Awesome, paid! 🎉

[2021-11-25 11:57] bfitzexpensify commented on #6427
Posted to Upwork - [job](https://www.upwork.com/jobs/~01f1689f48dbf2d999)

[2021-11-25 12:43] isagoico commented on #6424
Retest for this was a pass! Closing!

[2021-11-25 12:43] #6424 closed

[2021-11-25 12:43] isagoico commented on #6426
Retest for this was a pass! closing 🎉

[2021-11-25 12:43] #6426 closed

[2021-11-25 13:04] isagoico commented on #6399
We found a issue when executing https://github.com/Expensify/App/pull/6319 on iOS https://github.com/Expensify/App/issues/6475 (tagged @luacmartins on PR so he can give it a look)

[2021-11-25 13:38] anthony-hull commented on #6427
# Proposal

I will format the value of this.state.amount
https://github.com/Expensify/App/blob/96ba12da431936b19c80eb895f9531ee44039e71/src/pages/iou/steps/IOUAmountPage.js#L196
in WithLocalise

[code]

[2021-11-25 13:45] parasharrajat commented on #6427
@anthony-hull  Thanks for the proposal. How would you solve the first screen issue?

I feel that it would inconsistent for the Request Money screen if the user types `.` from the keypad and `,` is added on the screen. What do you think @Luke9389 ?

[2021-11-25 13:59] isagoico commented on #5974
I was unable to reproduce the Profile image issue on the main user but I was able to reproduce the missing profile picture in LHN conversation. Please check the video and image below

https://user-images.githubusercontent.com/44479856/143454448-c2daf154-5ccd-4550-b915-a43a968e0e4b.MP4

![image](https://user-images.githubusercontent.com/44479856/143454633-201882e6-1438-4dfe-8eb7-d7a0c8ac1cf5.png)

[2021-11-25 14:15] kidroca commented on #5620
Hey guys, I think I've found out what's going on. It's related to the multiple authentication calls and it's all tight to the code here:

https://github.com/Expensify/App/blob/2b7d6d0a4171319a9328dca14bcd5023a5352a94/src/Expensify.js#L106-L116

Recently I ended up on the Login Screen (Desktop) even though I was logged in the previous time I used the app
I inspected the logs and I saw multiple reau

[2021-11-25 14:50] mountiny commented on #5974
@isagoico It might be that the main user profile picture in your case is the default one, or at least I am thinking it might be a different scenario since originally Rory and then when I tried it, we both had a profile pic uploaded.

[2021-11-25 14:53] akshayasalvi commented on #6285
Hi @Christinadobrzyn @tgolen, I didn’t find a solution for the same. While it is the right way to solve it, I don’t have any solution for the background issue.

[2021-11-25 15:27] mateusbra commented on #6216
Do you think payment could be done? PR was merged has 10 days

[2021-11-25 15:33] laurenreidexpensify commented on #5591
I completely missed hiring Rajat in Upwork on this one, so making a daily so I make sure to pay as soon as he's accepted the offer

[2021-11-25 15:47] parasharrajat commented on #5591
Just did @laurenreidexpensify.

[2021-11-25 16:01] developvsn commented on #5974
Then what's the plan? Do we implement changes or keep it like this?

[2021-11-25 16:04] developvsn commented on #6235
Does it mean we go back to PR and sign or ?

[2021-11-25 16:23] laurenreidexpensify commented on #5591
@parasharrajat paid!

@Santhosh-Sellavel I'll issue you a $250 bonus now

[2021-11-25 16:27] luacmartins commented on #6475
I can take this since I worked on this code.

[2021-11-25 16:36] zoontek commented on #5620
I published the PR here: https://github.com/Expensify/App/pull/6478

It updates the lib, add Android 12 support, fix the issue as described by @Santhosh-Sellavel (which is this one: https://github.com/zoontek/react-native-bootsplash/issues/264).
It also should be fine with alerts, modal and multiple `hide` calls since the iOS part 1) Doesn't uses `UIViewController` anymore 2) Doesn't reject promis

[2021-11-25 16:54] rushatgabhane commented on #6285
It's an issue with RN right? So we might wanna fix the background bug upstream.

[2021-11-25 17:29] luacmartins commented on #6475
It seems that iOS handles URL encoding differently. Working on a fix now.

[2021-11-25 17:57] luacmartins commented on #6475
Fix up https://github.com/Expensify/App/pull/6479

[2021-11-25 18:37] luacmartins commented on #6399
Fix for https://github.com/Expensify/App/issues/6475 is up - https://github.com/Expensify/App/issues/6475

[2021-11-25 19:17] #6475 closed

[2021-11-25 19:35] kidroca commented on #5952
Should I be posting a comment here once I apply to Upwork?

It's not specified on https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job

I've only been assigned the issue, but not hired in upwork

---

Does that mean I should post a comment here or on Upwork, because on the proposal form of upwork there's a

[2021-11-25 22:10] luacmartins opened #6482 "Fix CONST import on staging"
# Problem

This CP https://github.com/Expensify/App/pull/6481/files had conflicts and the resolution missed importing CONST in EnableSteps.

# Why is this important?
App is broken.

# Solution
Import CONST in EnableSteps.

[2021-11-25 22:16] danieldoglas commented on #6286
I'll follow my gut here and keep it simple for now. I'll cancel my PR to libs for now too.

[2021-11-25 22:36] luacmartins opened #6484 "Encode oldDot links with param"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log into an account with the Expensify Card enabled.
2. Select a workspace and navigate to `Issue corporate cards`
3. Click on `Reconcile cards`

[2021-11-25 23:10] isagoico opened #6486 "iPad - Log in - Welcome screen is not fully displayed on large screen iPad (Portrait)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDow in mWeb on a large screen iPad.

## Expected Result:
Log in screen is displayed without any visual issues.

## Actual Result:
Welcome

[2021-11-25 23:20] isagoico opened #6487 "[HOLD for payment 2021-12-15] Mobile - Landscape mode - There's no scrollbar on Preferences page - Reported by: @kakajann"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app in a mobile device
2. Navigate to Preferences
3. Change the view to landscape mode

## Expected Result:
User should be able to scrol

[2021-11-25 23:22] akshayasalvi commented on #6285
I did test that and found that it is an issue with React Native only. New blank RN app with just one `TextInput`

I don't have a solution for this and hence I didn't recommend pushing it to RN repo. I'll create an issue though.

[2021-11-25 23:26] isagoico opened #6488 "Feature Request - Add a notification sound for NewDot notifications"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login in Web
2. From another device, send some messages to the user logged in Web
3. Check there are notifications and the sound linked to them

[2021-11-25 23:31] isagoico opened #6489 "[HOLD for payment 2021-12-15] Markdown with italic inside bold is visually different from bold inside italic - Reported by: Kürşat Yiğitoğlu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. In a conversation, send these 2 messages
[code]
## Expected Result:
Both messages should have the same style

## Actual Result:
Messages don't ha

[2021-11-25 23:34] kakajann commented on #6487
## Proposal
Change this line
https://github.com/Expensify/App/blob/d0d1d5803796d8156eafa91089dd0674155c6ab7/src/pages/settings/PreferencesPage.js#L67

with:

[code]

And preferences page will be scrollable

## Result

https://user-images.githubusercontent.com/11542415/143507754-85a1df3b-cca8-4131-8ad9-0fe0fbc811b0.mov

[2021-11-25 23:44] isagoico opened #6490 "New Group - Drafted message is not saved if the group doesn't have any messages yet"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new group
2. Draft a message in the compose box
3. Navigate to another conversation
4. Group chat should now disappear from LHN
5. Creat

[2021-11-25 23:53] isagoico opened #6491 "Android - Scrolling conversation is not smooth - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app in a Android device
2. Navigate to a conversation that has a long history
3. Scroll the chat and try to reach the top of the convo

[2021-11-25 23:59] isagoico opened #6492 "[HOLD for payment 2022-01-19] When setting a custom pronoun that is over the character limit, the API throws an error but the user isn't informed - Reported by: @anthony-hull"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Profile settings
2. On the pronouns dropdown select "Self Select"
3. Enter a really long pronoun >50 characters
4. Press save

## Exp

[2021-11-26 00:08] kakajann commented on #6486
## Proposal
1. Add new PropType to [SVGImage](https://github.com/Expensify/App/blob/d0d1d5803796d8156eafa91089dd0674155c6ab7/src/components/SVGImage/propTypes.js)
[code]
2. Add new prop to SVGImage component
https://github.com/Expensify/App/blob/d0d1d5803796d8156eafa91089dd0674155c6ab7/src/components/SVGImage/index.js#L7-L10
[code]
3. Use `resizeMode` prop in here:
https://github.com/Expensify/App

[2021-11-26 00:23] kakajann commented on #6492
## Proposal
1. Add `pronounsLength` after `lastNameLength` (EN and ES)
https://github.com/Expensify/App/blob/d0d1d5803796d8156eafa91089dd0674155c6ab7/src/languages/en.js#L396-L401
[code]

2. Create a new condition after this
https://github.com/Expensify/App/blob/d0d1d5803796d8156eafa91089dd0674155c6ab7/src/libs/actions/PersonalDetails.js#L253-L255
The condition should be:
[code]

## Result

https:

[2021-11-26 00:56] #6482 closed

[2021-11-26 02:01] mateomorris commented on #4629
@roryabraham never mind, the PR turned out not to be helpful in this case as far as I can tell.

Would you mind elaborating a bit on the criteria for the solution here? It looked like @MTN718's proposal would still work for instances where the image is cached on the page (at least it did for me, locally). I assume we wouldn't need to copy an image if it isn't rendering on the page, so the challeng

[2021-11-26 09:07] kursat commented on #6489
Hey @isagoico, my user name is kursat on github.

[2021-11-26 09:39] MonilBhavsar commented on #4928
Closing, Feel free to reopen if this occurs again

[2021-11-26 09:39] #4928 closed

[2021-11-26 09:41] MonilBhavsar commented on #6490
Issue looks good. Can reproduce it.
@isagoico looks like video is of another bug 😅

[2021-11-26 10:18] anthony-hull commented on #6492
Should we even attempt the API call if we know it will fail?
Maybe we should consider doing a check for character length client side and throwing the error?

[2021-11-26 10:59] MonilBhavsar commented on #6490
I'm looking into the issue, Other related issue linked to this

1. Draft a message with individual user
2. Start a new group chat
3. Draft comment entered in 1 should not be linked to group chat started in 2

[2021-11-26 11:40] parasharrajat commented on #6285
#### What is the issue?
`showSoftInputOnFocus={false}` does not when the app comes to foreground from background and keyboard shows up.

#### What do I think?
 I don't think that it's the duty of `showSoftInputOnFocus` to block the keyboard when the app comes to the foreground. basically, when you minimize the app, **input never loses focus**, and thus putting it in the foreground does not come un

[2021-11-26 12:25] anthony-hull commented on #6492
or even better use:
https://reactnative.dev/docs/textinput#maxlength on the input element to stop flickering when user tries to exceed the limit.

[2021-11-26 13:33] laurenreidexpensify commented on #5591
Nearly finished with payment for Santhosh, will close after that

[2021-11-26 13:57] MonilBhavsar commented on #4756
I'm coming from this related issue - https://github.com/Expensify/App/issues/6490
Looking at the investigation and proposal, I believe this PR will also fix the linked issue.
Can anyone please confirm, thanks!

[2021-11-26 13:58] MonilBhavsar commented on #6490
Found a similar issue and asked for confirmation

[2021-11-26 14:17] parasharrajat commented on #4756
Yeah, I just checked that #6490 is not reproducible on the PR.

[2021-11-26 15:22] isagoico commented on #6399
Checking off https://github.com/Expensify/App/pull/6479#issuecomment-98004609! It was a pass 🎉

[2021-11-26 15:31] isagoico commented on #6490
omg my bad! Fixed it 🤦

[2021-11-26 15:48] isagoico opened #6495 "Report Details and User Details Page is not scrollable - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app in a mobile device
2. Navigate to a room conversation (search for #announce)
3. Tap on the header
4. Change the orientation to lands

[2021-11-26 15:55] isagoico opened #6496 "[HOLD for payment 2021-12-27] Workspace settings - Modals are not scrollable in landscape mode - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to workspace settings
2. Change the orientation to landscape
3. Click on any of the options

## Expected Result:
All modals should be sc

[2021-11-26 16:07] parasharrajat commented on #6495
### Proposal
1. Fix the page layout of `ReportDetailsPage`, `DetailsPage` so that they use `ScrollView ` instead of `View` https://github.com/Expensify/App/blob/2aaa8fd10bec0cfb6346140595a5f55540edacd9/src/pages/DetailsPage.js#L89

[2021-11-26 16:10] isagoico opened #6497 "[HOLD for payment 2021-12-15] Change password - Extra gap under validation button - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Navigate to Settings
Click on profile
Click on add phone number (secondary log in)
Check the button with dev tools

## Expected Result:
Button area

[2021-11-26 16:12] isagoico commented on #6497
Looks like it's the same issue for this button as - https://github.com/Expensify/App/issues/6460. Created this issue separately but according to @parasharrajat it can be fixed in the same PR fix as the issue mentioned in this comment.

[2021-11-26 16:17] parasharrajat commented on #6497
### Proposal
1. Remove the extra margin from the button https://github.com/Expensify/App/blob/85d9a21850ef8583a0ab6fb937b60751b9311385/src/pages/settings/PasswordPage.js#L239

FixedFooter already handles the correct gapping.
---

From the @isagoico Comment,
I think I can solve this into the same PR for #6460 but I asked her to create a separate ticket as this was not known to us when 6460 was foun

[2021-11-26 16:21] PrashantMangukiya commented on #6496
### Proposed Solution:

We have to replace <View> with <Scrollview> for page used in workspace settings as under:

Within **src/pages/ReimbursementAccount/BankAccountStep.js**  change line 179
https://github.com/Expensify/App/blob/2aaa8fd10bec0cfb6346140595a5f55540edacd9/src/pages/ReimbursementAccount/BankAccountStep.js#L178-L179
i.e. Change `<>` to  `<ScrollView>`

<hr />

Within **src/pages/work

[2021-11-26 16:28] #6484 closed

[2021-11-26 16:42] parasharrajat commented on #6496
### Proposal
1. There is one issue with the styling of `WorkspacePageWithSections` wrapper.
2. It does use the `ScrollView` but makes the content container `flex:1` which will block the scrolling.

To fix this
1. We just need to remove the `styles.flex1` style from the `contentContainerStyle` at https://github.com/Expensify/App/blob/85d9a21850ef8583a0ab6fb937b60751b9311385/src/pages/workspace/Work

[2021-11-26 17:55] MonilBhavsar commented on #4756
Thanks! 🙌

[2021-11-26 17:56] MitchExpensify commented on #6474
[Upwork job](https://www.upwork.com/jobs/~0185164fd32d58443c)

[2021-11-26 17:57] kakajann commented on #6492
Yes we can use `maxLength` for the `input`, alongside the API response error handling

Or we can add pronouns validation to this function
https://github.com/Expensify/App/blob/d2eadd4ee45c5797e83140ddbb1caf7c0793571c/src/pages/settings/Profile/ProfilePage.js#L161-L169

it will be something like this:
[code]
<img width="368" alt="Screen Shot 2021-11-26 at 10 56 10 PM" src="https://user-images.githu

[2021-11-26 17:59] MonilBhavsar commented on #6490
Will be closing after linked PR is merged

[2021-11-26 18:07] NicMendonca commented on #6488
This might need to be in `planning` since it sounds like we still need to work out type of sound as discussed [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1637785866477300?thread_ts=1637784337.476700&cid=C01GTK53T8Q).

[2021-11-26 19:00] roryabraham commented on #6316
PR is on staging, not yet on prod

[2021-11-26 19:10] Santhosh-Sellavel commented on #5843
@pecanoro bump!

[2021-11-26 19:11] anthony-hull commented on #6492
Reading into it more I think it's bad practice to limit the text with maxLength, you don't want to interrupt the user mid flow. Let them get it all down and then fix the limit after. Putting it into the validate function and putting the error into the input context like above is probably best.

I'm still not convinced it's worth putting in error handling logic from the API for a state the user sho

[2021-11-26 19:27] roryabraham commented on #4629
Yep, the solution needs to:

1. Work on web, mobile web, iOS, Android, and desktop.
2. Not be dependent upon a network connection.

Does that work for iOS/Android when the app is offline?

[2021-11-26 19:53] parasharrajat commented on #6116
I have a suggestion. :chipmunk:  :clown_face:

The issue with the approach we are exploring so far.
- This just doesn't work for mobile.
- This will not fit the mobile web (we don't know the resolution of the device). This becomes worse when the keyboard is Open.
- There would be positioning challenges.

I think we should create a new screen for selecting the address and show the Address selector

[2021-11-26 19:57] Santhosh-Sellavel commented on #6453
@puneetlath  @jasperhuangg

Fix will be no longer needed for this issue, global create menu width should not be of the full-screen width issue raised here https://github.com/Expensify/App/issues/5754

The issue is fixed in the PR https://github.com/Expensify/App/pull/6278 it's merged!

This Issue no longer exists now. Video for reference

https://user-images.githubusercontent.com/85645967/14362530

[2021-11-26 20:09] laurenreidexpensify commented on #5591
Everyone has been paid - closing 👍🏽

[2021-11-26 20:09] #5591 closed

[2021-11-26 21:03] parasharrajat commented on #6386
### Proposal
1. I think we can just use preventDefault for `onPress` handler in OptionRow. https://github.com/Expensify/App/blob/d2eadd4ee45c5797e83140ddbb1caf7c0793571c/src/pages/home/sidebar/OptionRow.js#L135
It will fix this issue.

[2021-11-26 21:12] mananjadhav commented on #4559
PR Raised. There was a small issue with EmojiPicker padding in iOS, which I thought was caused by my code. Turns out it exists in the main branch too. I've fixed that anyway with the current PR.

[2021-11-26 21:41] tylerkaraszewski commented on #6489
Sounds like an external issue to me.

[2021-11-26 21:55] akshayasalvi commented on #6470
**Proposal**

Based on the above comment if it is supposed to be enabled only for Web and Desktop, we can pass the following prop to `OptionSelector` in `NewChatPage`

[code]

[2021-11-27 20:58] parasharrajat commented on #5125
Could we please update our fork? I am about to push changes there. I am using the latest code from the main Clipboard repo so that I can submit a PR there as well. But our fork is very old.

[2021-11-28 03:16] sidferreira commented on #6096
@mallenexpensify waiting for review...

[2021-11-28 07:30] thomHayner commented on #6427
More of a general question...are you intending to market this app to customers in Spain?

While looking into this I noticed that the list of countries in src/CONST.js includes MX but does not include ES.
However the country code that you are using for phone number when the es-ES locale is selected is the telephone country code for Spain.  src/languages/es-ES.js  (Spain is +34, where as Mexico is +

[2021-11-28 13:59] railway17 commented on #6427
I am submitting this proposal because I've got an email that was allowed to be hired for another jobs by [this pull request approval](https://github.com/Expensify/App/pull/6437#issuecomment-978064363)

### 1. Replication
I was able to reproduce this issue in Web and Android versions and absolutely sure that this issue will also occur on other platforms.
I am attaching my replication screenshots to

[2021-11-28 15:12] Julesssss commented on #5573
Ah, I added the comment when the PR was merged, when I should have awaited the 'deployed to prod' event.

[2021-11-28 15:21] Julesssss commented on #5125
@parasharrajat are you asking for me to update the fork, or for permission to update it? If the latter, please feel free to update the fork.

[2021-11-28 15:34] railway17 commented on #6427
Well..
@bfitzexpensify

I tried to submit my proposal in upwork but got a strange issue.
It is not loaded while loading `send proposal` page.
Sometimes it is loaded but `Terms` form is different from another jobs and can't submit.

![image](https://user-images.githubusercontent.com/29966461/143774533-7bb85f8b-7124-4d4a-aae6-d09e22f70da2.png)

Maybe, is it related open jobs that I worked for [Magni

[2021-11-28 15:39] parasharrajat commented on #5125
I was asking to update master branch of the fork. Otherwise my PR will have extra changes. @Julesssss

[2021-11-28 18:15] parasharrajat commented on #4629
@roryabraham Correct, we need to make images offline first so that we can refer to them in the file system. I think https://github.com/Expensify/react-native-onyx/pull/102 will enable us to do that easily so I think we should hold this issue till that time.
Until we store the images in APP storage (file system) there is no way to get them without the internet. Currently, they are only located via

[2021-11-28 18:44] eVoloshchak commented on #4910
Submitted a [pull-reqest](https://github.com/react-native-netinfo/react-native-netinfo/pull/544) to react-native-netinfo

[2021-11-29 02:58] kadiealexander commented on #6492
Upwork job here: https://www.upwork.com/jobs/~0179b0bb6fe5bcfda3

[2021-11-29 02:59] kadiealexander commented on #6492
@Julesssss and @parasharrajat, would you guys mind please reviewing @anthony-hull's prooposal above? :)

[2021-11-29 03:33] Christinadobrzyn commented on #6157
Hey @Luke9389 can you please give an update on this job? It looks like we're reviewing the PR?

[2021-11-29 04:56] kadiealexander commented on #5952
Jumping in while Matt's on leave.

@kidroca I see how this is confusing! I'll pass this feedback along to the team. Could you please leave a comment here with the expected completion time? I've gone ahead and hired you in Upwork.

[2021-11-29 06:25] robertjchen commented on #5059
Got it, thanks for the update!

[2021-11-29 06:49] parasharrajat commented on #6492
I don't see any formal proposal(exact approach) from @anthony-hull. I liked @kakajann https://github.com/Expensify/App/issues/6492#issuecomment-980230239 and he posted first. I also think we won't need API checks after putting in this code. @anthony-hull If you can think of a better approach then I would like to hear about it as you raised the issue.

[2021-11-29 07:46] marktoman commented on #6213
Should I ignore these values? I seem to be missing some info.

[2021-11-29 09:12] dylanexpensify commented on #6060
Bringing up for discussion today in channel

[2021-11-29 09:13] dylanexpensify commented on #6216
@mateusbra I can handle payment today! Thanks for your patience and sorry about that!

[2021-11-29 09:15] dylanexpensify commented on #6216
@mateusbra payment sent, contract closed!

[2021-11-29 09:15] #6216 closed

[2021-11-29 09:15] botify commented on #6216
@pecanoro @jboniface  Be sure to fill out the [Contact List](https://forms.gle/zhdenCB5dE5gKfnw6)!

[2021-11-29 09:42] kakajann commented on #6492
@parasharrajat even though we validate `firstName` and `lastName` lengths, there are API checks in here:
https://github.com/Expensify/App/blob/d2eadd4ee45c5797e83140ddbb1caf7c0793571c/src/libs/actions/PersonalDetails.js#L251-L255

So, either we should remove `firstName`, `lastName`API checks or add `pronounce` API check to make the code consistent

[2021-11-29 09:43] Beamanator commented on #6415
I think you're right @mallenexpensify he should have been assigned before adding `External`, so we would have had the automatic comment that said he was assigned to the job. At this point we should be able to remove & re-add him to get that comment, or just keep it as-is. But it looks like @NikkiWines basically gave him the job [here](https://github.com/Expensify/App/issues/6415#issuecomment-97665

[2021-11-29 09:50] Dal-Papa commented on #6496
Sounds like there are good proposals. Slapping the `External` label on this bad boy.

[2021-11-29 10:01] anthony-hull commented on #6492
This race to be the first is silly. I was still discussing the approach before writing a technical proposal. What is the point in writing technical implementation proposals for all possible approaches before reaching the right one?
One of the proposals came even before it was triaged.
Now I have to think of an alternative approach to the current implementation for the same functionality within the

[2021-11-29 10:02] Julesssss commented on #5125
No problem. Feel free to assign me as a reviewer.

[2021-11-29 10:07] Julesssss commented on #4910
Nice, I'll follow along with the PR review. It seems like you've explained the changes well.

[2021-11-29 10:10] anthony-hull commented on #6492
This method doesn't motivate you to share ideas and push a discussion for the best solution, it pushes you to quickly write a technical proposal for the first thing you think would be accepted.
[Comment 6492 ](https://github.com/Expensify/App/issues/6492#issuecomment-980230239) only came about after I said that it would be a better experience to put the error into context at the text input .
I'm l

[2021-11-29 10:57] parasharrajat commented on #6492
@kakajann It does not hurt to have it but I just don't feel necessary and @anthony-hull  has explained a reason for that. Looking at the old code, I can say that it was left intentionally https://github.com/Expensify/App/issues/5091#issuecomment-947802829. I agreed to leave that code but we don't need to follow the same path. We don't need to worry about that code.

[2021-11-29 11:05] parasharrajat commented on #6492
Thanks, @anthony-hull for pointing it out. There is no race as such. I made that decision solely based on the comments that are posted above. By looking at them, It is clear that you were involved in the discussions but till the end, you did not post a formal proposal.
I valuate a couple of things before selecting a proposal.
1. How thorough is the proposal? It shows the efforts put into the propo

[2021-11-29 11:06] parasharrajat commented on #6492
Finally, @Julesssss  will make the decision for hire. I am just here to give my opinion.

[2021-11-29 12:02] anthony-hull commented on #6492
Thank you very much for in depth response! It clarifies it much more. It sets expectations for future issues 👍

[2021-11-29 12:08] Julesssss commented on #6492
@anthony-hull you do make a good point. I agree that contributors racing to make the first proposal isn't ideal, and I'm going to share this issue internally as we need to make the selection criteria more visible. But I also think @parasharrajat made the right decision here as we didn't have an official proposal from you yet. Would you like to make a proposal now?

[2021-11-29 12:20] laurenreidexpensify commented on #5869
6271 is still in review, so no update yet

[2021-11-29 13:36] bfitzexpensify commented on #6159
Contrct ended and bonus added - thanks @parasharrajat.

[2021-11-29 13:36] #6159 closed

[2021-11-29 13:39] bfitzexpensify commented on #5972
This has been paid out. Closing.

[2021-11-29 13:39] #5972 closed

[2021-11-29 13:54] Beamanator commented on #5807
Not overdue, waiting to get merged into Production

[2021-11-29 13:55] bfitzexpensify commented on #6470
Upwork [posting](https://www.upwork.com/jobs/~01f99df13e15503077)

[2021-11-29 13:56] Beamanator commented on #4211
Not overdue - fix is in staging, waiting to get to production

[2021-11-29 13:57] Beamanator commented on #5918
I'll try again to reproduce this week in case it actually was fixed before

[2021-11-29 13:59] Beamanator commented on #5781
Will try to focus on this this week

[2021-11-29 14:02] Santhosh-Sellavel commented on #5972
@bfitzexpensify missed outreporting bonus for me!

[2021-11-29 14:09] bfitzexpensify commented on #5754
sorry for the delay @AlfredoAlc! Hired you. I'll end the contract and pay out the amount 7 days after deploy.

[2021-11-29 14:38] parasharrajat commented on #6470
If we want to use it only for Web and Desktop then @akshayasalvi your proposal is :+1: .
Just to be clear.
1. We can also use this on native but I see that it will cause the keyboard to show up again when the user deselects an option from the list. It does not affect UX unless the keyboard was closed. If the keyboard was closed and you deselect or select a user, the keyboard will pop up again. It

[2021-11-29 14:41] NikkiWines commented on #6415
@mallenexpensify, yeah, he probably should've been assigned.

It was a little unclear to me if I needed to follow the typical triaging process given this was a deploy blocker and had some time urgency associated with it. In this case, Rajat had a fix up super quickly, so I didn't end up going through the standard process (sorry)

[2021-11-29 15:17] eVoloshchak commented on #4910
The PR was merged and is now included in version 7.1.3.
Do I create a PR for the app with @react-native-community/netinfo version changed from `^5.9.10` to `^7.1.3` in `package.json`?

[2021-11-29 15:19] Julesssss commented on #4910
@eVoloshchak yes please

[2021-11-29 16:07] NikkiWines commented on #6235
Sorry, just to clarify things, here are the issues and proposed next-steps discussed in this issue.

(This is also largely a restatement of what @parasharrajat wrote above [here](https://github.com/Expensify/App/issues/6235#issuecomment-977731262))

1. When focused on the text box, pressing tab correctly re-focuses the input on the elements in the address list, but does *not* highlight them.
    -

[2021-11-29 16:11] danieldoglas commented on #6286
PR created.

[2021-11-29 16:18] pecanoro commented on #5843
Oh sorry, someone from the @Expensify/contributor-management needs to deal with this in Upwork so you can get the reporting bonus. Let me figure it out.

[2021-11-29 16:33] bfitzexpensify commented on #5972
Oh so I have! Can you apply [here](https://www.upwork.com/jobs/~0118c80bf705ff0177) and I'll accept/hire/payout once you do. Thanks for the reminder!

[2021-11-29 16:43] shawnborton commented on #6116
I like that idea, it reminds me of how Google Maps handles adding in addresses for directions.

[2021-11-29 17:10] dylanexpensify commented on #5843
posted!
internal: https://www.upwork.com/ab/applicants/1465367447336243200/job-details
external: https://www.upwork.com/jobs/~011b1c46f3b9b71a9e

@Santhosh-Sellavel can you please apply so I can pay you?

[2021-11-29 17:36] parasharrajat commented on #5125
PR is up for changes in fork https://github.com/Expensify/clipboard/pull/4 .
After that is merged I will send a new PR here in E/app.

[2021-11-29 17:40] stephanieelliott commented on #6496
Posted to Upwork: https://www.upwork.com/jobs/~017a033299ad4b8dff

@Dal-Papa which proposal shall we go with here?

[2021-11-29 17:43] stephanieelliott commented on #5987
Raised the price to $500, please post a proposal to the job in Upwork when you have a chance @kidroca

https://www.upwork.com/jobs/~01e307b8bbe03a5385

[2021-11-29 17:44] mvtglobally commented on #6070
Issue not reproducible during KI retests. (Second week)

[2021-11-29 17:44] mvtglobally commented on #6457
Issue not reproducible during KI retests. (First week)

[2021-11-29 17:46] mvtglobally commented on #6415
Issue not reproducible during KI retests. (First week)

[2021-11-29 17:47] mvtglobally commented on #6325
Issue not reproducible during KI retests. (First week)

[2021-11-29 17:48] mvtglobally commented on #5722
Issue not reproducible during KI retests. (First week)

[2021-11-29 17:49] mvtglobally commented on #4995
Issue not reproducible during KI retests. (First week)

[2021-11-29 17:49] Jag96 commented on #6359
That makes sense to me 👍

Any other considerations to make here @vitHoracek @trjExpensify? If not we can make this external!

[2021-11-29 17:52] anthony-hull commented on #6492
Thanks Jules.

https://github.com/Expensify/App/blob/d2eadd4ee45c5797e83140ddbb1caf7c0793571c/src/pages/settings/Profile/ProfilePage.js#L181-L185
I was going to propose adding these error conditions to this function so the submit form is disabled when the form is invalid. But I checked another place in the app where I implemented form validation in real time (the change password page) and it has b

[2021-11-29 18:17] luacmartins commented on #6116
Sounds like a good idea! I'll do some more thinking on how to handle the [manual address input solution](https://github.com/Expensify/App/pull/6200) we are implementing.

[2021-11-29 18:18] roryabraham commented on #6399
@yuwenmemon @tgolen I'm going to check off https://github.com/Expensify/App/pull/6365, looks like it shouldn't block our deploy here.

[2021-11-29 18:22] roryabraham commented on #6399
:shipit:

[2021-11-29 18:22] #6399 closed

[2021-11-29 18:25] botify commented on #6159
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6184

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:25] botify commented on #5722
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5939

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:25] botify commented on #6204
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6249

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:25] botify commented on #5926
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6291

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:25] botify commented on #5573
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6280

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #5291
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6276

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #5945
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6178

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #5405
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6095

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #4678
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/4921

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #6288
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6348

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #6227
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6293

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #5591
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6356

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #5870
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6169

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #5807
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6328

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #5774
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6292

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #6235
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6345
- https://github.com/Expensify/App/pull/6345

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #5237
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6248

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #6316
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6346

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #4211
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6295

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #6121
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6333

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #4995
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5130

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #6415
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6417

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #3743
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6458
- https://github.com/Expensify/App/pull/6458

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:26] botify commented on #3293
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.16-10 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6458
- https://github.com/Expensify/App/pull/6458

If no regressions arise, payment will be issued on 2021-12-06. :confetti_ball:

[2021-11-29 18:27] OSBotify opened #6505 "Deploy Checklist: New Expensify 2021-11-29"
**Release Version:** `1.1.17-7`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6112
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6165
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6195
  - [x] QA

[2021-11-29 18:27] puneetlath commented on #6282
This has been fixed and @Santhosh-Sellavel has been paid. Closing!

[2021-11-29 18:27] #6282 closed

[2021-11-29 18:30] deetergp commented on #6460
Approved 👍

[2021-11-29 18:34] puneetlath commented on #6453
Makes sense thanks @Santhosh-Sellavel.

And thanks for taking the time to make a proposal @PrashantMangukiya!

[2021-11-29 18:34] #6453 closed

[2021-11-29 18:37] puneetlath commented on #4629
Thanks @parasharrajat I've removed the help wanted label and marked this as on hold for now.

[2021-11-29 18:40] thienlnam commented on #3381
Looks like our fork already has version 0.15.7 https://github.com/Expensify/react-native-web/blob/master/package.json

[2021-11-29 18:44] parasharrajat commented on #5159
PR is almost done. Tackling one UI blocker atm.

[2021-11-29 18:45] thienlnam commented on #5142
Hey @kursat, thanks for the proposal - it looks good to me 🟢

@dylanexpensify Could you please hire @kursat for the job?

[2021-11-29 18:54] kidroca commented on #5987
Proposal submitted,
I expect to have a PR ready by 2021-12-01 EOD

[2021-11-29 18:56] kidroca commented on #5952
Thanks @kadiealexander
I expect to submit a PR by 2021-12-02 EOD

[2021-11-29 18:56] kavimuru opened #6508 "Bill- Selected category for an expense in a bill is not displayed in bill intake account"
## Expected Result:
The user should be able to open the pending invoice to pay with the correct expense information: Merchant, Amount, Category.

## Actual Result:
The invoice's expense appears as "uncaterogized".

## Actions Performed:
1. Go to Reports and create an Invoice
2. Add an expense to the invoice with a Category
3. Send the invoice to the email address applause.expensifail.com@expensify

[2021-11-29 18:57] kavimuru commented on #6508
Its olddot issue.

[2021-11-29 18:57] #6508 closed

[2021-11-29 18:59] deetergp commented on #6213
Do you mean, should you ignore the default values passed with the policy? If that is what you are asking, then the answer is no.

[2021-11-29 19:00] #1038 closed

[2021-11-29 19:00] #2642 closed

[2021-11-29 19:00] #3188 closed

[2021-11-29 19:00] #3283 closed

[2021-11-29 19:00] #3477 closed

[2021-11-29 19:00] #3983 closed

[2021-11-29 19:01] #4754 closed

[2021-11-29 19:02] parasharrajat commented on #5462
In progress... Not monthly

[2021-11-29 19:03] mountiny commented on #4977
Excuse us Melvin, we just merged 😡

[2021-11-29 19:05] parasharrajat commented on #6427
Looking at the proposals....

[2021-11-29 19:06] marcaaron commented on #6491
I don't quite understand this issue. Was this recently introduced as a regression? @parasharrajat does this happen if you want for the content to render? Or only when you immediately start to scroll back when opening a chat?

[2021-11-29 19:08] marcaaron commented on #6491
Would a workaround be to **wait** for the content to render a bit before scrolling?

[2021-11-29 19:09] parasharrajat commented on #6491
Steps:
1. Open a chat.
2. Wait for the first 50 messages to render.
3. Scroll back in history.
4. A loader is shown.
5. wait for the loader to go away.
6. start scrolling in history to see the loaded messages.
7. Message load one by one.
8. have to wait multiple times and scroll again for the messages to render. They were already loaded.

[2021-11-29 19:10] marcaaron commented on #6438
Another short term option would be to switch back to a regular text input on iOS 15 until this has been resolved.

[2021-11-29 19:12] marktoman commented on #6213
I was referring to [my previous question](https://github.com/Expensify/App/issues/6213#issuecomment-976093214). There is an `customUnits` array of where each element has an array of rates. Unless I am missing something, there is nowhere specified which element should be associated with the single `Rate` text field I have added.

[2021-11-29 19:20] deetergp commented on #6213
Ahhhh, I understand now, thanks for clarifying. 👍

Yes, just take whichever unit is at index `0` for that array as they will only ever have the one rate available to them on that plan.

[2021-11-29 19:20] NicMendonca commented on #5162
[PR](https://github.com/Expensify/App/pull/6384) still open ☝️ cc @tgolen

[2021-11-29 19:21] AndrewGable commented on #6470
@roryabraham - Would you mind elaborating on this bug/proposal for what you'd suggest in terms of UX? Thanks!

[2021-11-29 19:25] parasharrajat commented on #5142
Wow, Cheerio is 300KB https://bundlephobia.com/package/cheerio@1.0.0-rc.10.

[2021-11-29 19:26] marktoman commented on #6213
I see, thanks!

[2021-11-29 19:32] mountiny commented on #6386
Perfect @parasharrajat, feel free to apply for the job!

[2021-11-29 19:33] parasharrajat commented on #5894
I am reviewing the PR and leaving a comment for visibility.  [See More](https://expensify.slack.com/archives/C01GTK53T8Q/p1637728779426100)

[2021-11-29 19:40] kidroca commented on #6391
So far I have nothing solid
I managed to recreate this following the steps once, but it doesn't work any more

1. Account A creates a split bill with a group of 4 people
2. Account B is on Concierge chat - input is focused
3. Account A sends a message on the split bill chat
4. Account B receives a notification and focus is lost from the input

It seems it might have something to do with the first

[2021-11-29 19:43] anthony-hull commented on #3189
yes it is. But I can do the work and get the PR reviewed. but it only makes sense to merge once the backend is fixed.

[2021-11-29 19:52] roryabraham commented on #6505
Something weird happened [here](https://expensify.slack.com/archives/C03V9A4TB/p1638214826001700), going to unlock and relock

[2021-11-29 19:56] parasharrajat commented on #2713
Can't reopen. This is necessary...

[2021-11-29 19:56] roryabraham commented on #6505
Trying again

[2021-11-29 20:05] roryabraham commented on #6505
Okay, that time it worked and `1.1.17-0` is deploying [here](https://github.com/Expensify/App/actions/runs/1517674340)

[2021-11-29 20:07] roryabraham commented on #6299
Currently investigating this some more

[2021-11-29 20:11] anthony-hull commented on #5556
how does an engineer get assigned? is it not automatic?
there are no assignees

[2021-11-29 20:19] parasharrajat commented on #6505
6433 is in production already.

[2021-11-29 20:25] roryabraham commented on #6505
@parasharrajat This is a [known issue](https://github.com/Expensify/App/issues/4977) with pull requests that are CP'd. We should be close to a fix, but won't know for sure until the next checklist.

[2021-11-29 20:25] mountiny commented on #6359
That also seems reasonable to me! I think we settled down on a good solution :)

[2021-11-29 20:37] luacmartins commented on #5011
I haven't been able to spend time on this issue yet, dropping for now.

[2021-11-29 20:46] roryabraham commented on #6470
Thanks for the additional context @parasharrajat.

So to reproduce this bug:

1. Open the `New Group` page (`CMD + SHIFT + K`)
1. Start typing the name of a user, and then select from the list of results.
1. The search input will clear.
1. Then:
    - On web/desktop/mWeb, the search input will lose focus. The result is that you need to click back into the search input to start typing another name.

[2021-11-29 20:53] thienlnam commented on #5142
Great catch on keeping the bundle size small @parasharrajat, and yes if we could replace the use of cheerio with htmlparser2 in your proposal that would be great

[2021-11-29 21:02] mountiny commented on #6386
@parasharrajat Please dont forget to ping here once you have applied for the job, so @NicMendonca can hire you:)

[2021-11-29 21:07] thienlnam commented on #6155
PR is in review

[2021-11-29 21:14] kursat commented on #5142
@parasharrajat, nice suggestion, I was going to parse myself. Thank you.

@thienlnam sure, I'll.

[2021-11-29 21:15] trjExpensify commented on #6359
That was it from my POV at this point! 👍

[2021-11-29 21:20] #6286 closed

[2021-11-29 21:28] kavimuru opened #6518 "Web - Attachments - Unable to get to the top of images with long height and not able to zoom"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was reproduce when executing #6442**

## Action Performed:
1. Open newDot and login
2. Go to a chat with a really long attachment
3. Click on it to preview

## Ex

[2021-11-29 21:29] OSBotify commented on #6518
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-29 21:32] NikkiWines commented on #5620
@Santhosh-Sellavel thanks for submitting your reproduction steps [here](https://github.com/Expensify/App/issues/5620#issuecomment-978569325). I was also able to reproduce the issue on my device by following those steps. Sadly, these reproduction steps won't work for simulators (for now). I'll work with our team to determine compensation for finding reliable reproduction steps for this issue.

@kid

[2021-11-29 21:33] kavimuru opened #6519 "Chat - Add attachment - Menu is misplaced and will break screen layout"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Go to any chat
3. Tap on + > Add Attachment

## Expected Result:
Add Attachment menu is properly shown

## Actual Result:
'

[2021-11-29 21:33] OSBotify commented on #6519
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-29 21:36] SofiedeVreese commented on #5922
Deployed to Prod- as the original amount was already paid out, only the Offsite hold bonus is remaining which I'll pay out 7 days from today.

[2021-11-29 22:10] SofiedeVreese commented on #5896
Job paid out & contract cancelled. Closing GH.

[2021-11-29 22:10] #5896 closed

[2021-11-29 22:43] parasharrajat commented on #5896
@SofiedeVreese I think you missed the reporting bonus.

[2021-11-29 22:44] kavimuru commented on #6519
This happens in payment page too where context menu should open.
![Image from iOS](https://user-images.githubusercontent.com/43996225/143954458-72730955-3cc6-4b84-96d4-af1b63b05cd4.jpg)

[2021-11-29 22:47] SofiedeVreese commented on #5896
Yes I did, sorry @parasharrajat ! I'll pay that one out now.

[2021-11-29 22:50] kavimuru opened #6520 "Profile - Context menu opens at the top of the page and unable to select an option when adding profile photo"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Staging New Expensify App
2. Log in
3. Click on avatar
4. Select Profile
5. Click on camera icon where avatar is, at the top of screen
6. Cl

[2021-11-29 22:50] OSBotify commented on #6520
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-29 22:51] Jag96 commented on #6359
@parasharrajat I tried testing w/ your proposal and it looks good for single users vs rooms, but it looks like you can still see a group chat above a single user chat. Can you update your proposal so that single users are shown above group chats?

[2021-11-29 22:55] SofiedeVreese commented on #5896
Ok that bonus is now also paid out, sorry about that @parasharrajat !

[2021-11-29 23:14] marcaaron commented on #6491
Sorry, I'm confused by the premise of the issue. If I wait for messages to load then I can scroll them fine. If you don't wait for them then you can only scroll as far as however many messages have rendered. That seems normal to me, but maybe I'm not understanding what the expected behavior should be here.

[2021-11-29 23:15] marcaaron commented on #6491
Can you figure out if what you're experiencing was a regression?

[2021-11-29 23:15] marcaaron commented on #6491
Unsure if there's anything actionable here so adding a planning label for now.

[2021-11-29 23:16] roryabraham commented on #6427
@railway17 I really liked your thorough summary of the problems, but wasn't a big fan of your proposal for a few reasons:

1. There was no written summary of your proposed solutions. As a reviewer, it's a lot of work to evaluate proposals by reviewing code snippets. The goal of these proposals is to discuss and agree upon a solution before diving into any code review.
1. You also didn't address th

[2021-11-29 23:19] NikkiWines commented on #5620
@zoontek sorry, I realized that there was never a reviewed proposal for this issue. Our process is to review proposals, then hire people via UpWork, then get started on PRs - sorry for not communicating that earlier.

Could you write up a brief proposal on your suggested changes and how they'll resolve this issue?

Since you already have a PR up, I gave it a quick look. One small note, as this bug

[2021-11-29 23:29] mountiny commented on #6519
Seems also related to the other deploy blocker: https://github.com/Expensify/App/issues/6520

[2021-11-29 23:41] cead22 commented on #6519
I agree, I'm gonna throw the demolition label on this one since we have clear steps to reproduce

[2021-11-30 00:00] mateomorris commented on #5875
Back in business! Should have this up tomorrow

[2021-11-30 00:14] luacmartins opened #6521 "Draft value is not displaying in datepicker"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log into NewDot.
2. Create a Workspace and click on `Connect bank account`
3. Click on `Connect manually` and enter `011401533` for routing numbe

[2021-11-30 00:14] Luke9389 commented on #6427
I think we're still looking for a proposal that can encapsulate the points that @roryabraham has mentioned above. Maybe we need a `localNumber` component or something like that to use.

[2021-11-30 00:20] Luke9389 commented on #6157
Just merged the PR. We went for word wrapping after all 👍

[2021-11-30 00:23] kavimuru opened #6522 "Chat - Emoticons appear shifted to right and not fully visible"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login.
2. Select any message from LHN.
3. Open box with smiles.

## Expected Result:
The emoticon box  opens from the bottom d

[2021-11-30 00:24] OSBotify commented on #6522
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-30 00:31] kavimuru opened #6525 "mWeb - Safari / Chrome - Profile - Not able to add space and brackets for phone number"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing the PR #6433**
## Action Performed:

1. Navigate to NewDot and login
2.Go to settings > profile
3.Tap add phone number
4.Input a phone n

[2021-11-30 00:32] OSBotify commented on #6525
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-30 00:50] ctkochan22 commented on #6495
Looking

[2021-11-30 01:08] chiragsalian opened #6526 "Infinite Get Requests when creating a new workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Watch network requests.
1. Create a new workspace💥

## Expected Result:
Just one Get request to load the policy

## Actual Result:
Get requests o

[2021-11-30 01:17] roryabraham commented on #6526
Looking into this now.

[2021-11-30 01:24] aswin-s commented on #6518
Looks like this was introduced in https://github.com/Expensify/App/pull/6437.

On line 107, top of the image is being set to a negative value when image height is greater than container height. This prevents the scroll from ever reaching the top of the image.
https://github.com/Expensify/App/blob/2b7d6d0a4171319a9328dca14bcd5023a5352a94/src/styles/StyleUtils.js#L93-L115

 This can be fixed by to m

[2021-11-30 01:24] isagoico opened #6527 "[HOLD #10894][Image][Performance][$2000] Feature Request - Attachments should be cached after first load. It currently load from internet every time - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send a attachment to a conversation

## Expected Result:
Attachments should be saved on disk for a faster load of the app.

## Actual Result:
Att

[2021-11-30 01:31] isagoico opened #6528 "Android & iOS - Manage members screen is blank"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app in a Android or iOS device
2. Navigate to Edit Workspace settings
3. Click on manage members

## Expected Result:
Manage members scr

[2021-11-30 01:42] kavimuru opened #6529 "iPad - Chat - Popover menu animated from the bottom instead of from side"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #6278

## Action Performed:
1. Enter Expensify App with an iPad.
2. Press the FAB(Plus button)

## Expected Result:
The Popover menu should

[2021-11-30 01:42] OSBotify commented on #6529
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-30 01:55] isagoico opened #6530 "[HOLD for payment 2021-12-15] Profile - There's no gap between the growl and the edges of the app - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to profile settings
2. Make some changes and hit save

## Expected Result:
There should be some spaces between the growl and the edges o

[2021-11-30 02:12] roryabraham commented on #6526
Got a PR up

[2021-11-30 02:27] roryabraham commented on #5894
PR merged, @Christinadobrzyn see [this comment](https://github.com/Expensify/App/pull/6413#issuecomment-982220624) for potential to add another milestone to this issue.

[2021-11-30 02:50] railway17 commented on #6427
Thank you for your explain, @roryabraham
Let me rewrite the solution with the summary.
As I mentioned, we need to resolve 2 kinds of problems at this issue.
-  Resolve the WRITING and DISPLAYING issue in the `IOUAmountPage` and `BigNumberPad`.
It can be resolved by updating the `validateAmount` and `stripCommaFromAmount ` methods in `IOUAmountPage.js`

- Resolve the `GETTING and DISPLAYING` issue

[2021-11-30 03:05] #6526 closed

[2021-11-30 03:18] kavimuru opened #6534 "mWeb - IOU - Blank page displayed tapping continue from Verify identity page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to staging.new.expensify.com and login
2. Tap fab and select "Send money"
3. Proceed the IOU flow  up to verify identity page
4. Tap " Contin

[2021-11-30 03:18] OSBotify commented on #6534
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-30 04:53] kevinksullivan commented on #6489
Interesting. @Expensify/design is there somewhere I should bring this conversation to ensure we pick the right format of the two before explorting?

[2021-11-30 04:55] kevinksullivan commented on #6133
I'm back!

[2021-11-30 05:42] mananjadhav commented on #6522
I fixed this in one of my PR by adding withWindowDimensions

https://github.com/Expensify/App/pull/6498/commits/c27d334f38448ed50ec1a3f65171d44ff6ab08a5

[2021-11-30 05:51] parasharrajat commented on #6518
@railway17  could you please fix the issue?
As @aswin-s  pointed out that this is regression from your PR #6437

Thanks @aswin-s for investigation.

[2021-11-30 07:28] Santhosh-Sellavel commented on #5573
Note to all, Paid already!

[2021-11-30 07:31] Santhosh-Sellavel commented on #5972
Thanks, applied now.

[2021-11-30 07:34] Santhosh-Sellavel commented on #5843
Thanks, applied now!

[2021-11-30 08:14] dylanexpensify commented on #5843
@Santhosh-Sellavel sent the offer!

[2021-11-30 08:17] parasharrajat commented on #6386
Applied on the post. cc: @NicMendonca

[2021-11-30 08:20] parasharrajat commented on #4612
Updated are posted on #6207 a couple of days back. Waiting for the response there.

[2021-11-30 08:41] parasharrajat commented on #6427
I agree with @roryabraham points.
Although the proposal touches most of the code but does not explain it clearly. I also think,
1. we don't make use of locales in code directly,
[code]
we don't do this. The app is not specifically configured for Spanish. There could be many languages. The solution should work with any language that we have or add in the future. for this purpose, we have `withLocal

[2021-11-30 08:42] parasharrajat commented on #6427
I think we had another issue to localize IOU strings. cc: @iwiznia

[2021-11-30 08:52] parasharrajat commented on #6491
I think the actionable items could be
1. Find the issue which is causing a delay in rendering. 50 messages should render in ms. not one by one as we are using Onyx cache. (Optional)
2. Messages Loader should vanish only after messages are rendered.

[2021-11-30 09:19] parasharrajat commented on #6470
Thanks for the clarification, Rory.
@akshayasalvi could you please modify your proposal to include the expected behaviour so that I can revaluate your proposal.

[2021-11-30 09:56] parasharrajat commented on #6522
I think it's better to revert the PR and let the OP fix it as there are multiple issues.

[2021-11-30 10:02] parasharrajat commented on #6359
Ok. Great. Based on the expected behaviour  https://github.com/Expensify/App/issues/6359#issuecomment-976021754.
It can be fixed as follows:
1. Set the `prioritizeDefaultRoomsInSearch: false` for 	`getSearchOptions`.
https://github.com/Expensify/App/blob/d2d17181727f2a4d264618986438df2733f107d0/src/libs/OptionsListUtils.js#L581
2. Add a new flag `prioritizeOneToOneReportsInSearch`. mark it `true`

[2021-11-30 10:13] zoontek commented on #5620
@NikkiWines Ok, I added Android 12 support because `react-native-bootsplash` needs it and I wanted to implement it since I know (obviously) that it's a cleaner solution on iOS 😄

I rolled back these changes, updated to the latest v3.x version.

My proposed changes:

- Catch and ignore bootsplash `hide` promise rejections as they occur when the splash screen is not "mounted" (aka the `RCTRootView`

[2021-11-30 10:19] dylanexpensify commented on #5843
Payment sent, contract ended, job post closed!

[2021-11-30 10:19] #5843 closed

[2021-11-30 10:30] PrashantMangukiya commented on #6530
### Proposed Solution:

**Here is the problem:**  At line 18 it is using `StyleUtils.getSafeAreaPadding(insets)` i.e. we are passing `insets` within it, so here insets.left and insets.right consist 0 value that results to no gap at left or right of growl.

https://github.com/Expensify/App/blob/b40d03e09a08b57af2adfeb2bbbb3f95e9c574f9/src/components/GrowlNotification/GrowlNotificationContainer/inde

[2021-11-30 10:47] developvsn commented on #6530
**Proposal**

We only have to add marginHorizontal style property of growlNotificationBox:
https://github.com/Expensify/App/blob/b40d03e09a08b57af2adfeb2bbbb3f95e9c574f9/src/styles/styles.js#L1966
...spacing.mh5

Android:

![android](https://user-images.githubusercontent.com/71173662/144033264-024b149f-e83c-4f08-9702-749aa52cc039.jpg)

Ios:
![ios](https://user-images.githubusercontent.com/71173662

[2021-11-30 11:08] parasharrajat commented on #6525
This is expected behavior. https://github.com/Expensify/App/issues/6414#issuecomment-976928296
the only a phone pad is used for adding inputs on native so It is clear the App is asking to add numbers, not brackets. It does not affect UX.

[2021-11-30 11:19] mananjadhav commented on #5892
@marcaaron Were we able to get anything here? Should I post this in #open-source if it isn't discussed anywhere else?

[2021-11-30 11:35] #6521 closed

[2021-11-30 11:46] dylanexpensify commented on #6487
On it!

[2021-11-30 11:49] dylanexpensify commented on #6487
Posted:

Internal: https://www.upwork.com/ab/applicants/1465649022052364288/job-details
External: https://www.upwork.com/jobs/~0110a8a3c9719d6126

[2021-11-30 12:13] parasharrajat commented on #6487
@kakajann's proposal looks good :+1:  @Jag96 .

[2021-11-30 12:23] Julesssss commented on #6492
I'm not sure why the other validation changed and while I agree that real-time validation would be an improvement, I think we should stick to fixing the bug in this issue and not modify the existing logic. Please feel free to raise real-time validation as a new improvement though.

So the rest of the proposal sounds good.

Would you mind expanding on this slightly? I think you're suggesting that `

[2021-11-30 12:44] aldo-expensify commented on #6309
We may have to redo this PR and split it in two, but have been working on other higher priority things.

I'll change this to weekly because with the current UI, the user can enter any address manually. This used to be more pressing when that option was not available.

[2021-11-30 12:55] parasharrajat commented on #6492
I agree, It should be converted to `getLengthvalidationErrors(length, ...fields)`, then return an error for each field from a single function.

[2021-11-30 12:58] Beamanator commented on #6525
Thanks for pointing this out @parasharrajat !! Looks like we're good to close this, as mentioned in the link above ^ this is not an issue

[2021-11-30 12:58] #6525 closed

[2021-11-30 13:19] railway17 commented on #6518
@parasharrajat, @aswin-s , @deetergp
I've created a new pull request for this regression
Thank you

[2021-11-30 13:22] mananjadhav commented on #3245
@TomatoToaster I just raised this as a feature request. If you’re not planning to pick this soon, I can probably give it a try?

[2021-11-30 13:31] Beamanator commented on #5918
@akshayasalvi Thanks so much for looking into this! Since it looks like the issue is in the library, I'll mark this `External`

[2021-11-30 13:32] Beamanator commented on #5918
@akshayasalvi just to be clear, if you're proposing to use `rn-fetch-blob`, you mean `https://github.com/joltup/rn-fetch-blob` right? It looks like that repo isn't maintained, so I would be pretty hesitant to use that one 🤔

[2021-11-30 13:35] iwiznia commented on #6427
I agree that onyx should not save localized data.
Not sure what other issue you are referring to, I think you might be thinking about the messages that are generated in the backend? (which we are not localizing now)

[2021-11-30 13:39] railway17 commented on #6427
Yes, I think these messages are generated from the backend.

[2021-11-30 13:57] akshayasalvi commented on #5918
@Beamanator I saw that but I only proposed after checking that it is a part of our dependencies at the moment

[2021-11-30 14:00] iwiznia commented on #6427
Any texts coming from the server can remain unlocalized, since we yet have to add support for localization in the server, for now only the frontend has the framework to localize things.

[2021-11-30 14:02] railway17 commented on #6427
So, I have also reported converting the text before displaying it in the frontend (after getting data from Onyx).

[2021-11-30 14:04] Beamanator commented on #5918
Ooops I should have checked that, thanks for correcting me 👍

Before I accept your proposal, would you mind testing in Android to make sure it works there too?

[2021-11-30 14:16] Julesssss commented on #5125
E/Clipboard PR merged, awaiting E/App PR

[2021-11-30 14:52] akshayasalvi commented on #5918
@Beamanator Can confirm this works on Android as well.

![image](https://user-images.githubusercontent.com/57435789/144069946-5c78643a-9b16-43b6-9a65-27b6b6bea987.png)

[2021-11-30 15:06] parasharrajat commented on #5125
There is a silly issue. Npm Installing the package does not work but yarn install works.

[2021-11-30 15:18] TomatoToaster commented on #3245
Feel free @mananjadhav!

[2021-11-30 15:36] anthony-hull commented on #6492
Yes. It looks like it was prematurely optimised for multiple validation cases but it's only doing one thing; checking for character length.

If and when there are more cases, something more complex like this can be added in again. For this issue we can do something like:

Do we need to say "first name is over 50 characters" or just "this can't exceed 50 characters" or something along t
The context

[2021-11-30 15:43] luacmartins commented on #6534
Possible candidate https://github.com/Expensify/App/pull/6454#pullrequestreview-815276478.

[2021-11-30 15:53] johnmlee101 commented on #6287
@PrashantMangukiya I like your proposal! https://github.com/Expensify/App/issues/6287#issuecomment-968998459 let's go with that.

[2021-11-30 15:58] mvtglobally commented on #6505
Regression is almost complete
**Issues found**
- https://github.com/Expensify/App/issues/6518
- https://github.com/Expensify/App/issues/6519
- https://github.com/Expensify/App/issues/6520
- https://github.com/Expensify/App/issues/6522
- https://github.com/Expensify/App/issues/6529
- https://github.com/Expensify/App/issues/6534

**TCs Blocked**
Log in / Messages / Notifications iOS/Android and mWeb

[2021-11-30 16:03] michaelhaxhiu commented on #6287
Done ✅  - @PrashantMangukiya you are hired on Upwork.

[2021-11-30 16:07] PrashantMangukiya commented on #6287
Thanks @michaelhaxhiu Preparing pr now and submit asap.

[2021-11-30 16:17] parasharrajat commented on #6070
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)
@jboniface

[2021-11-30 16:19] parasharrajat commented on #6175
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)
@MitchExpensify

[2021-11-30 16:20] Beamanator commented on #5918
Aaahhhhh very good point, let's keep it in `index.native.js` 👍 Thanks man, you're hired!

[2021-11-30 16:21] Julesssss commented on #2545
It looks like a solution is not far away in the parent issue.

[2021-11-30 16:22] parasharrajat commented on #5918
Correction :woman: @Beamanator

[2021-11-30 16:26] Dal-Papa commented on #6496
@stephanieelliott : It looks like @parasharrajat is the one that's more of a long term solution to this problem as opposed to a workaround so I'd go with that.

[2021-11-30 16:27] Beamanator commented on #5918
Haha I didn't ask for your (@parasharrajat) review b/c you weren't autoassigned yet by the `Exported` label - but please take a look at the proposal and let me know what you think when you have a chance!

[2021-11-30 16:28] michaelhaxhiu commented on #3189
If it's blocked on merging until that issue is fixed, then feel free to continue prioritizing how you have been thus far!

I see no conversation on the issue yet, latest progress should always been visible on the issue itself.

[2021-11-30 16:31] michaelhaxhiu commented on #6299
Just for context this issue is still blocking @anthony-hull on completing https://github.com/Expensify/App/issues/3189#issuecomment-981957121. I'm sure Rory will prioritize when he can - just making sure it's clear!

[2021-11-30 16:32] parasharrajat commented on #5918
Not about that.

=>  :woman:

But anyways, let's see it in review. I think proposal is :+1:

[2021-11-30 16:39] Beamanator commented on #5918
Oof 🙈 I'm so sorry @akshayasalvi !!
Thanks for the catch @parasharrajat

[2021-11-30 16:42] stephanieelliott commented on #6496
Assigned to @parasharrajat  - can you post to the Upwork job when you get a chance so I we can hire you?  https://www.upwork.com/jobs/~017a033299ad4b8dff

[2021-11-30 16:49] #6473 closed

[2021-11-30 16:53] #6519 closed

[2021-11-30 16:53] #6520 closed

[2021-11-30 16:53] #6522 closed

[2021-11-30 16:55] kavimuru opened #6539 "Android - Different behavior on tapping invoice and Reconcile cards from issue corporate cards"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing the PR #6485**
## Action Performed:

1. Log into an account with the Expensify Card enabled.
2. Select a workspace and navigate to Issue

[2021-11-30 17:04] kidroca commented on #3867
There's an issue on mobile-web due to us deleting persisted requests (and their files) as soon as they are added to the network queue: https://github.com/Expensify/App/pull/4908#issuecomment-967139238

The work in this ticket: https://github.com/Expensify/App/issues/5987 would also solve the problem here as it will only remove persisted data after the request is completed

[2021-11-30 17:05] laurenreidexpensify commented on #5918
https://www.upwork.com/jobs/~01793b87d36f476b80

@akshayasalvi job ready for you in Upwork

[2021-11-30 17:12] Santhosh-Sellavel commented on #5906
@kevinksullivan bump!

[2021-11-30 17:16] roryabraham commented on #6299
Thanks, I've got a plan of action now and resolved some concerns I had, so I'm hoping to get this done today.

[2021-11-30 17:23] Julesssss commented on #6492
Okay, thanks to you both for your input.

I'd like to extend the offer to @anthony-hull in this case. The solutions ended up being similar, but he raised good points during discussions which led to a refined solution, and was also the original reporter of the bug. Please go ahead and submit a PR with the solution we've discussed above.

@kadiealexander please hire @anthony-hull in UpWork, thanks!

[2021-11-30 17:23] michaelhaxhiu commented on #6299
Oh, that's great! Thanks for sharing that update.

On Tue, Nov 30, 2021 at 1:16 PM Rory Abraham ***@***.***>
wrote:

--
Michael Haxhiu

[2021-11-30 17:25] laurenreidexpensify commented on #5079
@akshayasalvi is there a PR for this yet?

[2021-11-30 17:29] Julesssss commented on #6131
Whoops, the 7 day countdown doesn't start until **deployment**.

[2021-11-30 17:51] Jag96 commented on #6359
@parasharrajat that sounds good to me! @jboniface let's hire @parasharrajat for this one

[2021-11-30 17:54] Jag96 commented on #6487
Looks good, @dylanexpensify let's hire @kakajann for this one!

[2021-11-30 18:01] isagoico commented on #6505
@roryabraham @marcaaron Got the notification to test these Cherry picks but both seem internal QA. I'll add them to the Internal list of PRs in the main comment.
https://github.com/Expensify/App/pull/6531
https://github.com/Expensify/App/pull/6411

[2021-11-30 18:08] Jag96 commented on #5956
PR still in review

[2021-11-30 18:21] deetergp commented on #6529
This is the way the iOS app functions on iPhone. How is it that we expect that the iOS app should function like desktop & web on the iPad? I'm not sure I agree that this is a blocker. Thoughts @roryabraham @marcaaron @parasharrajat?

[2021-11-30 18:27] parasharrajat commented on #6529
This is working as expected. On bigger screens or landscape iPad, menu should animate from left

You can easily evaluate it. If you are able see both LHN and report screen then menu should not be full screen and animation should be same as desktop.

[2021-11-30 18:32] deetergp commented on #6529
If that's the case then yes, it is a bug,  it's behaving that way even in landscape mode:
![IMG_2F98787CDF97-1](https://user-images.githubusercontent.com/766197/144106746-f55e263a-164f-4d4a-ae0e-cbb6d0dcb7b6.jpeg)

[2021-11-30 18:35] roryabraham commented on #6505
Verified https://github.com/Expensify/App/pull/6531 on staging, checking it off.

[2021-11-30 18:35] Jag96 commented on #6529
How does this behave on production? https://github.com/Expensify/App/pull/6278 was the PR for this, but it was reverted in https://github.com/Expensify/App/pull/6523 since it caused other regressions, so if the behavior we're seeing now is the same on production I think this can be closed in favor of https://github.com/Expensify/App/issues/5754.

[2021-11-30 18:38] deetergp commented on #6529
Great point! I just pulled down the production version of the app and it behaves the same way. So not a blocker. Closing!

[2021-11-30 18:38] #6529 closed

[2021-11-30 18:52] francoisl commented on #6534
Thanks @luacmartins, do you have an idea how we would fix that?
I already have my account verified on staging/prod, so I'm trying to reproduce on dev for now.

[2021-11-30 18:58] luacmartins commented on #6534
I'm not sure if the PR I linked is actually the cause. It's just something that I worked on that _could_ potentially cause this and it was deployed last night. I thought it could be of some help in the search.

I tried reproducing on dev but couldn't. I will try again after lunch.

[2021-11-30 19:27] francoisl commented on #6534
I can't reproduce either for now on the latest `main` – maybe it's been fixed by another PR?

![image](https://user-images.githubusercontent.com/2229301/144114350-397babcd-6229-4236-be85-c4c9ce524791.png)

Going to try on the commit that's currently on staging.

[2021-11-30 19:37] isagoico opened #6546 "Payments / Paypal - Save button is always enabled, even if the user has not made any changes - Reported by: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Settings > Payments
2. Click on the Paypal option

## Expected Result:
Button should be disabled if no changes have been made

## Act

[2021-11-30 19:38] isagoico commented on #6546
Being fixed in this PR https://github.com/Expensify/App/pull/6545 - Created this ticket to track the issue reporting payment for @thesahindia

[2021-11-30 19:39] michaelhaxhiu commented on #6032
Dedicated channel for discussion and mini-project to create this feature. See #online-status for more, otherwise this is coming along.

[2021-11-30 19:52] michaelhaxhiu commented on #5994
This is still on hold. MattA and I plan to form a discussion and project around #Offline-first.

[2021-11-30 19:58] jboniface commented on #4911
on staging

[2021-11-30 20:01] isagoico opened #6547 "[HOLD for payment 2021-12-27] Feature Request - IOU - Holding down the delete button should continually delete the amount - Reported by: @kakajann"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Start the Request money flow
3. Type some amount with several digits
4. Press and hold the delete button

## Expect

[2021-11-30 20:03] jboniface commented on #6070
paid with hold bonus

[2021-11-30 20:03] #6070 closed

[2021-11-30 20:34] luacmartins commented on #6534
@francoisl I managed to reproduce on the latest `main`. The problem was the PR that I linked earlier. I'm putting up the revert.

[2021-11-30 20:52] tgolen commented on #6301
OK, those are great! I would like to take these to our internal channel to see if this is something we would like to pursue now or if it's something we want to hold off on.

[2021-11-30 21:01] FoolCoder commented on #5918
here is my proposal to fix this issue
  const uploadvideo = async () => {

    try {
      const results = await DocumentPicker.pickMultiple({
        type: [DocumentPicker.types.allFiles],
      });

      results.map(q => {
        console.log(q.type);
        if (q.type === 'video/mp4' || q.type === 'video/mov' || q.type === 'video/avi' || q.type === 'video/mkv') {
          if (q.size >= 50000

[2021-11-30 21:10] tylerkaraszewski commented on #6527
I think this would be a great feature for people on slow or metered connections. I think it's fairly complex though, as it requires some sort of cache eviction mechanism. We may already have enough of everything we need to do this with Onyx, so it might not be that much work, but it needs to be considered.

I'm happy to stick the external label on it and see what proposals we get.

[2021-11-30 21:30] #6534 closed

[2021-11-30 21:34] NikkiWines commented on #5620
@zoontek, thanks for the proposal. I think what you're saying looks fine (though it might be nice to have a fallback screen). Since we'd be modifying the splash screen hiding logic by waiting for the `onReady` callback, it might be wise for us to wait for @kidroca's PR (which is adding logs) to confirm some suspicions about the multiple authentication requests being root of this issue, before movi

[2021-11-30 21:50] Jag96 commented on #5956
This will be fixed by https://github.com/Expensify/App/pull/5275, closing this one

[2021-11-30 21:50] #5956 closed

[2021-11-30 21:55] tgolen commented on #6301
All right, let's move forward and do it! Sounds like the next step would be proposal and some design work? Could you maybe start with a wireframe to get the design process started?

[2021-11-30 22:05] roryabraham commented on #6299
Okay, two PR's were needed to address this:

- https://github.com/Expensify/Auth/pull/6174
- https://github.com/Expensify/Web-Expensify/pull/32521

And those are both in review now. I did not make any changes to E/App because I assumed that would be handled in https://github.com/Expensify/App/issues/3189. Once those are merged and deployed, our API will return `401 ValidateCode expired` for previo

[2021-11-30 22:15] puneetlath commented on #3133
I've renamed the components in https://github.com/Expensify/App/pull/6538. I'll announce it in #expensify-open-source once it's merged so people know as well.

There are still some cases of the react-native `TouchableOpacity`, `Pressable`, `Text`, and `Button` components being used. I didn't touch those. I just renamed the cases where our custom components were used.

I'll look into the bonus solu

[2021-11-30 22:27] roryabraham commented on #3133
Nice! A little while back, @marcaaron wrote up this [handy-dandy SO](https://stackoverflow.com/c/expensify/questions/11317) on writing custom ESLint plugins. So we could make a lint rule prohibiting the use of the RN default components, and just disable the rule in the locations where we're intentionally making exceptions.

[2021-11-30 22:43] marcaaron commented on #5892
Sorry, I'm not sure what more to do to move this conversation forward - it needs to be brought up in the channel and get input from the wider team `#expensify-open-source`. I can put a planning label on it for now.

[2021-11-30 22:50] roryabraham opened #6552 "[HOLD for payment 2022-01-25] Create Expensify branded generic error page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Coming from https://github.com/Expensify/App/pull/6478 – following a [good suggestion](https://github.com/Expensify/App/pull/6478#issuecomment-979969778) from @zoontek.

[2021-11-30 22:56] roryabraham commented on #6505
https://github.com/Expensify/App/pull/6165 Will not be fully verified until the next checklist, but we've seen so far that it doesn't cause any regression. So I'm going to check it off on this checklist.

[2021-11-30 23:10] kadiealexander opened #6553 "Update Melvinbot messaging when contributor is assigned an issue"
A contributor raised concerns about the confusing messaging in this Melvinbot message:

![image](https://user-images.githubusercontent.com/59587260/144142630-e5c38b59-1440-49a1-a9e7-37044b3be9d1.png)

Feedback:

As discussed and agreed [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1638162021408900), could we please change this messaging from:

to:

[2021-11-30 23:58] puneetlath commented on #3245
Hm, how would we go about addressing this. I think we probably will want to use the inline emoji picker that we plan to create _at some point_. @stitesExpensify thoughts?

[2021-12-01 00:01] marcaaron commented on #6438
I'm not able to repro this on iOS sim running iOS 15. Going to drop this down to a weekly. We can bump it back up if anyone is able to repro locally and wants to fix.

[2021-12-01 00:07] marcaaron commented on #6527
Last time I checked, attachments are deliberately not cached because they are only accessible with a fresh `authToken` and a `no-cache` header i.e. uses the same mechanism as secure receipts. So probably we should first decide whether it is "secure" to add caching (it seems like it would be fine to me - but I can't quite remember the logic around why they are not cached). @thienlnam has looked int

[2021-12-01 00:14] mvtglobally commented on #6505
Checking off #6278 as Fix #6523 is Pass

[2021-12-01 00:58] mvtglobally commented on #6505
#6548 & #6454 both retests Pass

[2021-12-01 01:17] MitchExpensify commented on #6175
Paid with reporting bonus!

[2021-12-01 01:17] #6175 closed

[2021-12-01 01:41] adelekennedy commented on #6530
Created the job in Upwork!
@parasharrajat ty for reporting

[Internal listing](https://www.upwork.com/ab/applicants/1465857731919638528/job-details)
[External listing](https://www.upwork.com/jobs/~01f21a3c2c8da0adcd)

[2021-12-01 02:13] isagoico opened #6554 "iOS - Unable to set profile picture via Camera photo due to size restriction (iOS) - Reported by: @akshayasalvi"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to settings
2. Tap on profile
3. Tap on the avatar and click the camera option
4. Take a picture of anything

## Expected Result:
User s

[2021-12-01 02:20] Christinadobrzyn commented on #6528
Hum, I don't see the same thing on my NewDot app - here are the steps I took

1. Open the app on iOS device
2. Tap my my profile > tap C.dobrzyn's workspace
3. Tap on manage members and I see my admin displayed:

![image](https://user-images.githubusercontent.com/51066321/144160038-6d0821a0-14e9-4fa3-b1dc-24d021fdb4a0.png)

Running v1.1.17-4

@Santhosh-Sellavel can try again with an update version

[2021-12-01 03:02] akshayasalvi commented on #6554
**Proposal**

Till the time we get an image editor to crop the image etc, which we are tracking separately, we should just update the limit to 5MB in `CONST.`

`AVATAR_MAX_ATTACHMENT_SIZE 5242880 `

[2021-12-01 03:49] Christinadobrzyn commented on #6285
Thanks for the insight @parasharrajat! Based on your investigation, do you have a suggestion on a proposal to move foward with? cc @tgolen

[2021-12-01 04:23] shoaibzkhalid commented on #6530
**Proposal**

Adding marginHorizontal of 5px in growlNotificationWrapper fixes the issue.

[App/src/styles/style.js](https://github.com/Expensify/App/blob/2d90756a2579a94ce3798b1cada48dd2c2ea492f/src/styles/styles.js#L1963)

[2021-12-01 04:27] shoaibzkhalid commented on #6530
**Proposal**

Adding marginHorizontal of 5px in growlNotificationWrapper fixes the issue.

[code]

[App/src/styles/style.js](https://github.com/Expensify/App/blob/2d90756a2579a94ce3798b1cada48dd2c2ea492f/src/styles/styles.js#L1963)

[2021-12-01 04:42] kadiealexander commented on #5873
Issue is deployed to staging.

[2021-12-01 04:50] Santhosh-Sellavel commented on #6528
Yep working fine, I was able to reproduce in version 1.1.17.2 or earlier!

But how

[2021-12-01 05:03] kadiealexander commented on #6492
@anthony-hull please send through a proposal via Upwork and let me know when this is done so we can hire you. 😊

[2021-12-01 05:47] Christinadobrzyn commented on #6528
Ah great! It seems like there have been several updates over the past 24 hours so I assume something in those updates resolved this. However, I remember always seeing the admin in the previous version so maybe something was in the middle of an update when you caught this.

We're good to close this?

[2021-12-01 05:56] ctkochan22 commented on #6495
The proposal makes sense, however it needs to be done in ReportDetailsPage

[2021-12-01 05:58] elemanhillary commented on #6285
I solved the problem, however i proposed and they commented i was proposing
what others have already proposed, but my approach was different. hope you
look at it one more time i push by tomorrow as am stuck with some prod
builds at work

On Wed, 1 Dec 2021 at 06:49, Christina Dobrzynski ***@***.***>
wrote:

[2021-12-01 07:59] Santhosh-Sellavel commented on #6528
Its good that its resolved now, we can close this one!

[2021-12-01 08:37] parasharrajat commented on #6528
Yup this was a regression and taken care of before this issue was created. I think we are good to close.

[2021-12-01 08:41] parasharrajat commented on #6175
@MitchExpensify You might have missed this https://github.com/Expensify/App/issues/6175#issuecomment-973053593.

[2021-12-01 09:03] dklymenk commented on #6547
If you decide to make this one external I would like submit a proposal:

To implement the expected behaviour described in the first post on this issue, we can utilize the props `onLongPress` and `onPressOut` of the react native [Pressable](https://reactnative.dev/docs/pressable) component.

`onLongPress` we would start the interval timer that would delete symbols one by one and `onPressOut` we wou

[2021-12-01 09:07] hiteshagja commented on #6496
**Proposed Solution:**

1.  Menu Content Contain has some incorrect styling and we have just made minor changes to make it work. Refer screenshot for the comparison of old and new code.

![Screenshot 2021-12-01 at 2 09 02 PM](https://user-images.githubusercontent.com/5493716/144204543-70229384-48e1-4c26-8f1d-d07fdedc664f.png)

2.  There are 2 menu items which are not using this container and have

[2021-12-01 09:20] kidroca commented on #4910
Here's a list of issues that might be affected positively by the update of `netinfo` that was merged:
- https://github.com/Expensify/App/issues/6059
- https://github.com/Expensify/App/issues/5337

Might be that the updated `netinfo` library has a workaround for `navigator.onLine` being incorrectly reported as `false` ?

[2021-12-01 10:01] parasharrajat commented on #6496
@hiteshagja This is already being worked on. Thanks for the proposal.

[2021-12-01 10:01] Santhosh-Sellavel commented on #6453
I see the PR #6278 Changes is reverted in PR https://github.com/Expensify/App/pull/6523, because it caused a few deploy blockers, so we may need to reconsider this!

cc: @puneetlath @jasperhuangg

[2021-12-01 10:15] Dal-Papa commented on #6554
Can't we resize the image in iOS temporarily ? Otherwise that sounds good to me if we keep a comment to remember to put it back to its original value.

[2021-12-01 10:23] developvsn commented on #6489
**PROPOSAL**

1. Problem:

This problem is occurring because in code `em`   and  `strong`  styles in `webViewStyles` have different fontFamily values.

https://github.com/Expensify/App/blob/c2b96c1042e8055bf8e6c689b5a358245184b5d4/src/styles/styles.js#L55-L58

https://github.com/Expensify/App/blob/c2b96c1042e8055bf8e6c689b5a358245184b5d4/src/styles/styles.js#L65-L68

And when user writes  *_bold-i

[2021-12-01 10:39] parasharrajat commented on #6453
#6278 would be reworked. It was reverted for regression. The author will fix the regression and resubmit.

[2021-12-01 12:19] eVoloshchak commented on #4910
I'm guessing the root cause of both of these issues is that the library does not detect if internet is actually reachable, it just relies on device being connected to some kind of a network. I was able to reproduce [the first issue](https://github.com/Expensify/App/issues/6059) with the updated `netinfo` and it seems that [the second issue](https://github.com/Expensify/App/issues/5337) is the same

[2021-12-01 12:46] akshayasalvi commented on #6554
@Dal-Papa Image editing before uploading is being tracked here https://github.com/Expensify/App/issues/6301 and kept on hold.  While it’ll be picked up, at the moment we are not able to change the profile picture. Hence I gave a quick solution

[2021-12-01 12:49] parasharrajat commented on #6554
#6301 is not on hold. It is at design stage.

[2021-12-01 12:51] parasharrajat commented on #6530
Just checked that this is a regression caused by https://github.com/Expensify/App/pull/6291. Let me check what should I do here.

[2021-12-01 12:54] kidroca commented on #5987
PR is ready

[2021-12-01 12:59] aldo-expensify commented on #6488
Oops, just saw this

Yep

[2021-12-01 13:04] aldo-expensify commented on #6488
Hey @shawnborton , added the `Design` label to get a designer's opinion on the sound we should use. Not sure if it is a designer's job though :P

[2021-12-01 13:18] Santhosh-Sellavel commented on #6453
Then we are good here!

[2021-12-01 13:30] akshayasalvi commented on #6554
My bad I thought I read it was on hold.

[2021-12-01 13:43] akshayasalvi commented on #5774
@MitchExpensify Bump

[2021-12-01 14:06] Beamanator commented on #5918
Thanks for the proposal @FoolCoder, but I've actually already assigned someone to this job (see [this comment](https://github.com/Expensify/App/issues/5918#issuecomment-982794569))

As for your proposal, please keep in mind that we currently don't use `async` / `await` in the app, and `alert` won't work too well since we're using React native - and there's some functions like `setvideos` that look

[2021-12-01 14:12] parasharrajat commented on #6530
Update:
Thanks, everyone for proposing a fix.

As mentioned above the issue is a regression and the regression period is still active for that PR. Thus the author of  #6291 should fix it. @kakajann Could you please fix it?

@adelekennedy We will not be needing the Upwork job for this. Thanks. cc: @deetergp .

[2021-12-01 14:19] isagoico commented on #6505
@roryabraham Botify didn't like me adding stuff to the checklist 😆 I think what we can do is simply add comments with checklists to test the CPs until the CP checklist issue is resolved.
![image](https://user-images.githubusercontent.com/44479856/144250536-52c550d6-1656-47ca-88a1-ab669b6fb65c.png)

[2021-12-01 14:36] parasharrajat commented on #5699
It seems to be lost.  I think I know why this is happening. so let's fix it.

#### Proposal

1. We have to divide the existing https://github.com/Expensify/App/blob/c2b96c1042e8055bf8e6c689b5a358245184b5d4/src/pages/SearchPage.js#L93 into two.
like
[code]
It fixes it.

@kevinksullivan Could you please reapply the exported label?

[2021-12-01 14:37] parasharrajat commented on #5926
There is a regression from this issues' PR. https://github.com/Expensify/App/issues/6530. cc: @kakajann

[2021-12-01 14:51] NicMendonca commented on #6386
@parasharrajat all set! Have fun!

[2021-12-01 14:52] Julesssss commented on #5926
The early payment is my fault, I mistakenly started the 7-day countdown when the issue was merged, instead of waiting for it to be deployed.

I agree this should still be treated as a regression that should be fixed 👍

[2021-12-01 14:55] NicMendonca commented on #6076
@CamilaRivera sorry for the delay! I have just issued payment and company offsite bonus.

[2021-12-01 14:55] #6076 closed

[2021-12-01 15:17] parasharrajat commented on #5926
Thanks, @kakajann . Please request a review from me when you do and tag the other issue as well.

[2021-12-01 15:22] parasharrajat commented on #6076
@NicMendonca Just a question. The PR for this issue was merged before the company offsite hold started. Does this qualify as a bonus?

[2021-12-01 15:28] NicMendonca commented on #6076
☝️  Didn't specify, just said "submitted". It was merged, but wasn't deployed. Payment has already been issued.

[2021-12-01 15:33] mananjadhav commented on #3245
My Initial thought was to just replicate the existing EmojiPicker with probably making the code more DRY. If there's any design planned for inline edit or something, then can we post it here? Will accordingly send in the proposed solution.

[2021-12-01 15:44] Julesssss commented on #6553
PR in review: https://github.com/Expensify/Web-Expensify/pull/32525

[2021-12-01 16:16] michaelhaxhiu commented on #6155
Seems close to being merged.

[2021-12-01 16:26] shawnborton commented on #6488
Added some discussion to the [Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1638375988110000?thread_ts=1637784337.476700&cid=C01GTK53T8Q).

[2021-12-01 16:49] tgolen commented on #6285
@elemanhillary [your proposal](https://github.com/Expensify/App/issues/6285#issuecomment-969310246) is still lacking details. Please look at some of the other proposals here and try to match that level of detail. Until it is improved, I cannot evaluate it further.

I like what @parasharrajat is proposing as a workaround for the background issue while the bug is reported to RN. @akshayasalvi what w

[2021-12-01 16:54] elemanhillary commented on #6285
What if I just create a PR and you test it out, and what background issue
are we talking about?

On Wed, 1 Dec 2021 at 7:49 PM, Tim Golen ***@***.***> wrote:

[2021-12-01 16:55] elemanhillary commented on #6285
As I value work more than talk.

[2021-12-01 16:59] adelekennedy commented on #6530
Upwork job closed - un-assigning myself from the issue

[2021-12-01 17:08] akshayasalvi commented on #6285
@tgolen I think it makes sense what @parasharrajat mentioned, with my only concern is calling `Keyboard.dimiss` with `onFocus`, shouldn't show a keyboard for a fraction of second.

[2021-12-01 17:12] tgolen commented on #6285
@elemanhillary, the [contribution guidelines](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job) ask you to:

@akshayasalvi Good! The flash of the keyboard is probably OK while we see what RN wants to do about the bug which gets reported to them. Of course, if we can minimize the flash or remove it, that would be ideal... but it's probably not a deal-breaker

[2021-12-01 17:14] parasharrajat commented on #6285
We won't need to call that at all. Why would you call onFocus?

1. On ComponentDidmount, the call to focus() will not open the keyboard. we don't need to call `Keyboard.dismiss` there. My approach does not say so either.

we just need to blue the keyboard when app goes in background.

[2021-12-01 17:44] pecanoro commented on #5536
I have some other higher priorities right now.

[2021-12-01 17:58] parasharrajat commented on #6175
@MitchExpensify You might have missed this https://github.com/Expensify/App/issues/6175#issuecomment-973053593.

[2021-12-01 18:29] luacmartins commented on #6539
I'm unable to reproduce this on dev. Both links use `Link.openOldDotLink` with an `encodeURI` generated URL, so I'm not sure why they have different behavior (the only difference here are the links themselves, but they seem correct to me).

I don't think this is a high priority, so demoting to `Weekly`.
Anyways, I'll send this back to the pool in case somebody else wants to investigate.

[2021-12-01 19:05] justinpersaud commented on #5266
I think we just renewed our Froala license. I will have to check if this is still an issue in the newer version.. or if we're actually upgrading it. Still a workaround in place though.

[2021-12-01 19:07] johnmlee101 commented on #3981
Hmm, do you have any suggestions on how to get around the stalled requests or make things a bit easier to debug?

[2021-12-01 19:12] sidferreira commented on #6390
I played a bit this weekend and it seems that the best solution is to change the `lineHeight/height` from 16 to 18, but that would impact some other places that use `16` with `mt2` or `mb4` (the goal is to have 20px line every time), so, it may require to have one style a bit more specific to this use. Note that the style is really similar to the one in #6289.

[2021-12-01 19:13] thienlnam commented on #6527
So we should be caching all attachments now already, the next step is likely to store attachments with onyx so this should probably wait until https://github.com/Expensify/App/issues/3867

[2021-12-01 19:20] NicMendonca commented on #5193
^ waiting deploy to production

[2021-12-01 19:26] kidroca commented on #3981
I've still been seeing falsely set unread messages lately
I guess it's because I'm working on issues regarding offline functionality and I use multiple devices to test: desktop, web, ios

There's nothing we can do regarding stalled requests - we ask the browser to start 9 requests, the browser decides how to handle them. In that particular case it seems it can only run 5 at a time
It might depend

[2021-12-01 19:37] yuwenmemon commented on #5195
Oh whoops, this should be closed!

[2021-12-01 19:37] #5195 closed

[2021-12-01 19:41] MitchExpensify commented on #6175
I did miss that, thanks @parasharrajat. Applying that bonus now

[2021-12-01 19:47] danieldoglas commented on #6486
Hi @kakajann

Thank you for being interested in contributing with Expensify! We noticed you've submitted a proposal for this issue, but this is not yet tagged with the `External` tag, so it is not considered for Upwork and open-source proposals, according to our [Contributing guidelines](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job), topic `Propose a so

[2021-12-01 19:49] parasharrajat commented on #6495
I was expecting it to be exported...Anyways, You also need to add this to DetailPage as well.  https://github.com/Expensify/App/blob/2aaa8fd10bec0cfb6346140595a5f55540edacd9/src/pages/DetailsPage.js#L89

[2021-12-01 19:50] MitchExpensify commented on #5774
Sorry for the delay @akshayasalvi, the OG Upwork job expired. Please apply to the new one I've created [here](https://www.upwork.com/jobs/~01548c0da752dc34b1). Thanks!

[2021-12-01 20:21] Jag96 commented on #5699
Looks like https://www.upwork.com/jobs/~018be34f339157da58 is closed now, going to re-apply the Engineering label to get a proposal reviewer and the External label to get somebody to export this

[2021-12-01 20:33] Jag96 commented on #5699
@parasharrajat can you explain why that proposal fixes the issue, and why the issue is happening?

[2021-12-01 21:19] Jag96 commented on #6495
Looks like this was fixed internally, applying External label to get a CM to create the upwork job to pay for reporting

[2021-12-01 21:19] NicMendonca commented on #5699
New job post: https://www.upwork.com/jobs/~014d2f47f2ea404f3b

[2021-12-01 21:20] kadiealexander commented on #6357
@Beamanator and @NikkiWines, are we still waiting on discussions from #5620? it looks like we've made good progress over there.

[2021-12-01 21:55] parasharrajat commented on #5699
OK, so these are the details.
1. First I think getOptions in OptionListUtils.js has a bug.
2. Bug is that the personalDetails array from getOptions has a room.
3. I saw that one of the room data has one participant. But it shouldn't have any participants looking into other rooms.
4. Now when we parse the personalDetails, one of the user's personal details is swapped by the above room. (participant

[2021-12-01 22:05] puneetlath commented on #3133
Nice, thanks for that!

I looked into this a bit and I think there's actually an easier way we can do it rather than creating a custom rule. ESLint has a default rule called `no-restricted-imports` which allows you to restrict certain imports from certain modules. So we can just restrict the use of `Text`, `Button`, and `TouchableOpacity` from `react-native` with a rule [here](https://github.com/E

[2021-12-01 23:11] Jag96 commented on #6359
@parasharrajat I created the job and sent an offer!

[2021-12-01 23:34] bondydaa commented on #6547
posted in our internal slack about how we'd prefer to do this: only allow holding backspace/delete or allow all buttons to repeat if you hold them down.

I'm thinking only delete probably makes most sense but wanted to get a gut check there first.

[2021-12-01 23:37] trjExpensify commented on #6359
Ah, so one thing here @parasharrajat. I was just chatting to @Jag96, but I think this was the logic for most recent when there’s a tiebreaker in the DMs match?

As in, if we have `Joe` and `Joe, Ted`. I just sent a message in `Joe, Ted` and I search for `Joe` it would show `Joe, Ted` before `Tom`.

Does everyone agree we should reinstate that if it was removed? If so, happy to add a milestone on t

[2021-12-01 23:43] mallenexpensify commented on #6059
@kidroca , do you think this issue and https://github.com/Expensify/App/issues/5337 and should be _combined_ or separate issues?

[2021-12-01 23:53] Jag96 commented on #6359
Yup, I forgot about this sorry. I think adding a milestone to the Upwork contract is fine.

[2021-12-02 00:11] mallenexpensify commented on #5310
Paid @Santhosh-Sellavel $250 for reporting and @AlfredoAlc $750 ($500 for job, $250 for `n6hold` bonus)
Thanks!

[2021-12-02 00:11] #5310 closed

[2021-12-02 00:15] jliexpensify commented on #6390
Posted!

Internal - https://www.upwork.com/ab/applicants/1466199237355868160/job-details
External - https://www.upwork.com/jobs/~014890525033c6bd14

[2021-12-02 00:19] #6495 closed

[2021-12-02 00:21] kevinksullivan commented on #6489
@developvsn want to apply for the job and I'll hire you?

https://www.upwork.com/jobs/~018e7f01a0324f9914

[2021-12-02 00:23] Jag96 commented on #6495
Posted the job and sent an offer to @parasharrajat!

[2021-12-02 00:25] mallenexpensify commented on #5974
I just tested, it looks like MY avatar is showing but not all the rest.  FWIW...

<img width="380" alt="avatars" src="https://user-images.githubusercontent.com/22508304/144335526-64ab270b-6b82-414d-b49a-07baaeed6769.png">

[2021-12-02 00:25] kevinksullivan commented on #5556
Reapplied labels to get reviews in motion.

[2021-12-02 00:33] kevinksullivan commented on #5906
Hmm sorry about that @Santhosh-Sellavel , not sure why it deployed twice, but we've had some issues with botify in the past where there are incorrect notifications. Paid you for reporting and solving. Thanks again!

[2021-12-02 00:33] #5906 closed

[2021-12-02 00:49] mallenexpensify commented on #5070
Trying to get some 👀 and ❤️
https://expensify.slack.com/archives/C03SSAQ7P/p1638406119332200

[2021-12-02 00:54] mallenexpensify commented on #6391
Thanks for testing @kidroca

Please do and report what you find here. If we're still having troubles finding reliable reproduction steps, we might want to consider posting in #expensify-open-source and offering payment if someone can document the steps reliably

[2021-12-02 00:57] Luke9389 commented on #6130
Still haven't gone back around to this one.

[2021-12-02 01:12] mallenexpensify commented on #6438
Posted - https://www.upwork.com/jobs/~01fbd47098294b194d

[2021-12-02 02:01] mallenexpensify commented on #6058
@michaelhaxhiu and I need to make progress on this.   Been slow going with holidays and vacation.

[2021-12-02 02:01] mallenexpensify commented on #5766
@michaelhaxhiu and I need to make progress, I've been out a bit with holidays and vacation

[2021-12-02 04:14] akshayasalvi commented on #5774
Thanks for the posting @MitchExpensify. I’ve applied.

[2021-12-02 04:45] marcaaron commented on #3133
Ooh nice find @puneetlath! Seems perfect for this use case.

[2021-12-02 05:45] kakajann commented on #6284
Reminder)
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Upwork-logo.svg/2560px-Upwork-logo.svg.png" width="200" />

[2021-12-02 07:04] parasharrajat commented on #6489
Based on Shawn's comment https://github.com/Expensify/App/issues/6489#issuecomment-983812521, @developvsn Looks good. But make sure to test your change on all platforms and remove extra font dependency.

[2021-12-02 07:30] parasharrajat commented on #5556
Thanks, everyone for the proposals. I would go with @anthony-hull proposal for the reason that It's a minor change and UI can be adjusted to look as expected. he also reported the issue.
cc: @puneetlath

[2021-12-02 07:36] kidroca commented on #6059
Yes, the main problem is connection state is not tracked reliably (enough) in both issues

[2021-12-02 08:39] developvsn commented on #6489
Yes thanks, applied!

[2021-12-02 10:05] Julesssss commented on #6284
Hi @kakajann, sorry but I now realize I set the payment date to 7 days after the merge, instead of deployment. Resetting the timer.

[2021-12-02 10:09] Julesssss commented on #6284
Actally, we [have a bot](https://github.com/Expensify/App/issues/5926#issuecomment-981898904) for this now ❤️

[2021-12-02 10:31] dylanexpensify commented on #6487
Offer sent @kakajann!

[2021-12-02 12:13] anthony-hull commented on #6492
I've applied! 😀

[2021-12-02 13:38] NicMendonca commented on #6471
Doubled job to $500 since there haven't been any proposals yet: https://www.upwork.com/jobs/~012c9eddf65166689f

[2021-12-02 15:26] puneetlath commented on #5556
Sounds good to me. Thanks everyone for your proposals. I've gone ahead assigned the issue to you @anthony-hull.

@kevinksullivan can you hire @anthony-hull in Upwork please?

[2021-12-02 15:39] isagoico opened #6562 "Deleted message is still visible if the user closes the browser and then navigates to the conversation URL"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login 2 different accounts from different browsers (I've used different containers in same browser on my video, but also tested with different b

[2021-12-02 16:52] puneetlath commented on #3133
Sweet, I'll get that added. Tracking the todos for it here: https://github.com/Expensify/Expensify/issues/187203

[2021-12-02 17:13] bondydaa commented on #6547
my thread didn't gain much traction but at least @marcochavezf chimed in and agreed only the backspace/delete button should be able to repeat via holding it down.

I think this is fine for a contributor to work on, I'm not super familiar with this code base but I would guess we already have some key event listeners which are blocking the repeat event, unless it's a react native thing (?), because

[2021-12-02 17:19] michaelhaxhiu commented on #6425
Hm, the `External` label typically is applied before the job is posted and completed. Did Rajat propose and fix the issue? Or did he report it, and it was fixed internally?

A little confused where is the upwork link for this job?

[2021-12-02 17:21] alex-mechler commented on #6425
Rajat reported the issue, and since it was a deployblocker I fixed it in the interest of speed. He is only due the reporting bonus

[2021-12-02 17:26] michaelhaxhiu commented on #6425
Ah!! `Deployblockercash` - missed that label, thanks for the context 🙇 . These often move swifty and totally makes sense. Rajat is to be compensated $250 then?

[2021-12-02 17:34] michaelhaxhiu commented on #6425
https://www.upwork.com/jobs/~01c796785099359c5e

[2021-12-02 17:39] alex-mechler commented on #6425
Yup, as long as the reporting bonus is still $250!

[2021-12-02 17:41] NikkiWines commented on #6357
@kadiealexander, yep, sorry about the lack of updates here. The lib owner has put forward a proposal that looks like it should resolve this error, in which case we probably won't need this issue. Still finalizing details there though, but I'll keep this issue updated going forward.

[2021-12-02 17:56] isagoico commented on #6505
Only thing missing for this checklist is the fix for https://github.com/Expensify/App/issues/6518 (deploy blocker) being worked on here https://github.com/Expensify/App/pull/6535 - once that it fixed we will retest https://github.com/Expensify/App/pull/6442 and check both of them off if they are a pass.

[2021-12-02 18:12] michaelhaxhiu commented on #6425
Paid, all done here.

[2021-12-02 18:20] tgolen commented on #6489
🟢 on the proposal. Feel free to create the PR

[2021-12-02 18:39] isagoico opened #6563 "[HOLD for payment 2022-01-21] In #focus mode, active chats should show beneath pinned chats in the LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Set your LHN to #focus mode
2. Pin 2+ chats
3. Set your active chat to be a non-pinned chat, that alphabetically would not be the last chat in y

[2021-12-02 18:41] ctkochan22 opened #6564 "TEST ISSUE"
QA'ing https://github.com/Expensify/Web-Expensify/pull/32453

[2021-12-02 18:41] ctkochan22 commented on #6564
No one assigned needs to act on this guy! Please ignore

[2021-12-02 19:06] isagoico opened #6565 "[HOLD for payment 2022-01-11] Feature Request - Remove second password validation field - Reported by: @anthony-hull"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new account
2. Click the validation email

## Expected Result:
There should be only one validation field for password field.

## Actual

[2021-12-02 19:10] isagoico opened #6566 "Mobile / mWeb - Numbpad overlaps amount field in landscape mode - Reported by: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Request an IOU
3. In the enter amount modal change the orientation to landscape.

## Expected Result:
Numbpad shoul

[2021-12-02 19:16] anthony-hull commented on #6565
I actually already did this once for one of the instances and un-did it as I decided it was outside the scope:
https://github.com/Expensify/App/pull/4746/commits/8966adc517ec510427bd9c4af868383ea05ae8eb

[2021-12-02 19:17] isagoico commented on #6528
Reopening this - This is still happening on Android app on version 1.1.17-4

[2021-12-02 19:26] roryabraham commented on #5620
Okay, just a few notes here:

@Santhosh-Sellavel This isn't reproducing the problem for me (though (separately) some regression was introduced at some point since [this PR](https://github.com/Expensify/App/pull/3877) was deployed, such that it's no longer opening to the correct chat). I'm not on iOS 15 yet, so that's probably related to why the reproduction steps are not consistent for me. That sa

[2021-12-02 19:33] Santhosh-Sellavel commented on #6528
Yep, it is still reproducible. My bad I didn’t verify in android earlier!

[2021-12-02 19:51] danieldoglas commented on #6122
Back to reviewing this task.

[2021-12-02 20:02] NikkiWines commented on #5620
Thanks for the notes @roryabraham 🙌

I've asked our QA team to test this on both iOS15 and iOS14 to see if it's version-specific, but it does look like these steps don't work consistently across the board 😞

[2021-12-02 20:25] luacmartins opened #6568 "Disable landscape view on phones"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Coming from this thread https://expensify.slack.com/archives/C01GTK53T8Q/p1638473174146400?thread_ts=1638471596.142900&cid=C01GTK53T8Q

## Action Performed:
1. Launch the

[2021-12-02 20:25] marcochavezf commented on #6566
The issue is happening in iOS too:
<img width="600" alt="Screen Shot 2021-12-02 at 14 22 58" src="https://user-images.githubusercontent.com/6829422/144497229-01a78399-19a1-499c-9810-26124dd66f57.png">

I think this is not a high priority issue, so I'm going to demote it to `Weekly` and I'm going to add the `External` label 👍🏽

[2021-12-02 20:29] parasharrajat commented on #6566
Will not be needed after https://github.com/Expensify/App/issues/6568

[2021-12-02 20:39] Santhosh-Sellavel commented on #5620
Thanks, @NikkiWines & @roryabraham

I'm not sure there may be different causes other than this one in iOS 14 (I'm not sure here). But sure there is another cause here in iOS 15 causing the same issue.

Step as I mentioned here https://github.com/Expensify/App/issues/5620#issuecomment-978569325

Even when I tap the app Icon after the notification is received, I am getting stuck on Splash screen.

#

[2021-12-02 20:54] kadiealexander commented on #6492
Hired, thanks @anthony-hull!! You can go ahead and create a PR. Please don't forget to give us an estimated timeframe for the fix!

[2021-12-02 20:59] Jag96 commented on #5699
Good find, so it sounds like first we need to confirm that 2 is a bug and there isn't any reason for that (I'm not sure), asking in slack should help get more info on it. If it is a bug, I agree we should fix that issue first.

Agreed 👍

[2021-12-02 22:34] bfitzexpensify commented on #6547
Upwork [posting](https://www.upwork.com/jobs/~013eb26ef49127e2e7)

[2021-12-02 22:46] stephanieelliott commented on #6562
This is posted to Upwork but currently hidden: https://www.upwork.com/jobs/~016b6b1543034c2628

@kursat as the reporter of this issue, you have first dibs on implementing a solution before we make the job available to the public. If you have a proposal, please post it here!

[2021-12-02 23:18] parasharrajat commented on #6547
To me it sounds like @dklymenk's proposal would just do the trick. Actually, I didn't find any native way when keypress is fired continuously. Not sure if this is something possible natively.

And there is only one proposal which is promising.

Now I leave the decision up to @iwiznia .

[2021-12-02 23:36] NikkiWines commented on #5620
@Santhosh-Sellavel, the QA team was unable to reproduce the issue using your steps on either iOS 14.2 or iOS 15.0.1. Similarly, I am now _unable_ to use those steps to reproduce the issue on  15.1.1

https://user-images.githubusercontent.com/16747822/144519790-cefd6076-ccbd-405d-97df-c5a50284ae5f.mov

Given that our QA teasm, @roryabraham, and myself cannot reliably use these steps to reproduce th

[2021-12-02 23:46] pecanoro commented on #6059
Ok, so I am closing this one then since it's basically the same issue.

[2021-12-02 23:58] kidroca commented on #5952
PR is ready: https://github.com/Expensify/App/pull/6567

[2021-12-03 00:18] #3133 closed

[2021-12-03 00:39] roryabraham commented on #6299
Both pull requests are merged.

https://github.com/Expensify/Auth/pull/6174 is deployed to production.
https://github.com/Expensify/Web-Expensify/pull/32521 is just merged, needs to be deployed to staging then prod.

[2021-12-03 00:59] kidroca commented on #5620
I think one path that is still unexplored is opening from a push notification after your token had expired
Like receive a message 2hrs after you last opened the app and the pressing it to open the app

BTW I was able to trigger some fake push notifications on a simulator using:
[code]
https://betterprogramming.pub/how-to-send-push-notifications-to-the-ios-simulator-2988092ba931

But couldn't recre

[2021-12-03 01:00] roryabraham commented on #6505
Oh, I can fix that 😄 Mind creating an issue?

[2021-12-03 01:04] mallenexpensify commented on #5337
@kidroca we closed out https://github.com/Expensify/App/issues/6059 is there anything we can/should do with this issue to help it move forward?  I could assign an Expensify engineer to review it to see if should be labeled an internal issue.

Also, if/when this gets fixed, I added @Santhosh-Sellavel to the 'reported by:' in the OP, let's compensate Santhosh for reporting the issue in #6059 since w

[2021-12-03 01:13] kidroca commented on #5337
@mallenexpensify
I've made a proposal some time ago that can be reviewed: https://github.com/Expensify/App/issues/6059#issuecomment-977296667

Basically whenever we receive an event that our connection state change we double check it by running one request
It can be against a dedicated connection pulse check or against some existing API like get user details, or get tz
If the server responds to th

[2021-12-03 01:18] roryabraham commented on #6390
@sidferreira Can you please make your proposal a bit more specific?

[2021-12-03 01:47] roryabraham commented on #5620
The root level context should remain at the root and be available to any components including those rendered by the ErrorBoundary

Sounds good @kidroca! Right now, we're not rendering _anything_ in the ErrorBoundary, but when we do, we'll want those contexts (at least, we'll definitely want the `LocaleContext`).

Awesome, thanks 👍

[2021-12-03 01:50] kadiealexander commented on #6566
@marcochavezf before I post this to Upwork, do you have any thoughts on @parasharrajat's comment above?

[2021-12-03 02:04] mallenexpensify commented on #5337
Thanks @kidroca
Let me get the ball rolling again! @chiragsalian , since you were initially assigned, I'm tossing back to take a look @kidroca 's proposal https://github.com/Expensify/App/issues/6059#issuecomment-977296667  and/or to apply the External label if you think it can be worked on by an external contributor.

[2021-12-03 02:56] sidferreira commented on #6390
@roryabraham is https://github.com/Expensify/App/issues/6390#issuecomment-983973527 better?

[2021-12-03 03:10] Christinadobrzyn commented on #6528
Ah, thanks for clarifying @isagoico and @Santhosh-Sellavel!

Created Upwork job
Internal - https://www.upwork.com/ab/applicants/1466605040031260672/job-details
External - https://www.upwork.com/jobs/~01c043b2222fa54500

Hired @Santhosh-Sellavel for reporting - waiting on proposals for the fix!

[2021-12-03 03:14] kursat commented on #6562
Hey @stephanieelliott, sure I'll try. Could you give me a day, before going public? I'll try to find out a solution within 24 hours.

[2021-12-03 05:07] Santhosh-Sellavel commented on #5620
Thanks, @NikkiWines.
Actually I am little confused.
I am using iOS - 15.0.2(iPad) & 15.1.1(iPhone) not 15.0.1.

I agree it may not count as reproduction for this issue, since it was reproducible in earlier version. But might be a new way to cause the same bug. If possible can you ask to QA verify in above versions I've mentioned. Thanks again!

[2021-12-03 10:54] anthony-hull commented on #6565
I propose to remove the second instance of ExpensiTextInput in NewPasswordForm.js and PasswordPage.js

I would also remove the logic associated with checking the passwords match and reporting inline errors for the same.

There is an example of me doing this above in a link to a commit I reverted when creating the toggle password feature.

[2021-12-03 11:27] trjExpensify commented on #6539
This is pretty non-descriptive for the issue title. It might be helpful to be more specific as to what exactly is different here. It'll help with understanding the problem, as well as for if we ever need to look for this same problem again.

`Android - user is incorrectly given the choice to open in app when tapping "send invoice"` - does that summarise the problem here? Does it happen with any of

[2021-12-03 11:33] trjExpensify commented on #6154
Still held 👍

[2021-12-03 12:03] zoontek commented on #5620
@roryabraham Yes, sorry! As I'm the maintainer of the bootsplash library I always forgot that not everyone has the context about it 😅

More infos in this issue: https://github.com/zoontek/react-native-bootsplash/issues/264. It appears that on `application:didFinishLaunchingWithOptions` is not called in some cases, but the app still open itself correctly (see https://github.com/zoontek/react-native

[2021-12-03 12:20] ogumen commented on #6505
The PRs not applicable to accessibility testing are: #6165, #6195, #6268, #6278, #6279, #6387, #6441, #6417, #6466, #6485. All others except #6442 have been tested, the failures are mentioned in comments for the corresponding PRs.

[2021-12-03 13:04] iwiznia commented on #6547
Not sure I get the proposal. So the `onLogPress` will be mapped to `handleLongPressNumberPad`? If so, how/when will we detect the long press is over? That's when we need to call `clearDeletionTimer`, right?

[2021-12-03 13:11] dklymenk commented on #6547
@iwiznia

Yes

We pass the `clearDeletionTimer` to `onPressOut`. As far as I am aware that is the only way to detect when the long press is ended in react native.

Sorry if the prop names I used are confusing. I tried to keep the names in line with other props in their components. If you find some of them confusing or wrong we can rename them no problem.

[2021-12-03 13:20] iwiznia commented on #6547
Oh ok, that sounds good. @bfitzexpensify can you hire @dklymenk?

One clarification, are the `onLogPress` and `onPressOut` fired in web?

[2021-12-03 13:29] dklymenk commented on #6547
According to [react native web documentation](https://necolas.github.io/react-native-web/docs/pressable/), yes. I also did a quick check in mWeb on my laptop via dev tools responsive mode, so I would expect it to work on real devices too.

[2021-12-03 13:32] iwiznia commented on #6547
Should then we not set the timeout in web, given default behavior already works?

[2021-12-03 13:36] dklymenk commented on #6547
We are already doing that by only listening to the `<` press and ignoring the `Backspace` in the `handleLongPressNumberPad` function.

[2021-12-03 13:37] dklymenk commented on #6547
Here is a quote from the original proposal

[2021-12-03 13:41] iwiznia commented on #6547
Yeah, saw that, but we would still set the timeout... I guess web is the platform we less care about those as I think those have a higher performance impact in mobile, but I think it would be possible to only target native platforms, right? Or is there a case for keeping it to support computers with touchscreens?

[2021-12-03 13:50] dklymenk commented on #6547
Sorry, I don't see how that would set the timeout. By listening only for `<` key we will only trigger the timeout if the button is long pressed on the rendered number pad. If you long press a physical backspace key on your keyboard, the timer will not start.

I don't think the changes I described above impact the computers with touch screens. We don't render the numpad on desktop, so they cannot p

[2021-12-03 13:52] iwiznia commented on #6547
Oh sorry, you are right.

[2021-12-03 14:46] dklymenk commented on #6568
Hi, if you decide to make this issue external I am willing to submit a PR for it.

To lock the portrait orientation on iPhones the go to approach is to toggle the check boxes in xcode to make it so all the device orientations are enabled on iPad and only portrait is enabled on iPhone.
![image](https://user-images.githubusercontent.com/64093836/144618756-62c79200-acfd-4b74-a3ab-746d4fb90f29.png)
![

[2021-12-03 15:03] isagoico commented on #6505
Testing this CP:
- [ ]  https://github.com/Expensify/App/pull/6259

[2021-12-03 15:10] aldo-expensify commented on #6488
Un-assigning myself from this issue, I'll be going off on vacations on Monday. I think the issue is well described, we just have to agree on which sound we are going to use before making it `External`

[2021-12-03 15:18] isagoico opened #6575 "Deploy Checklist - Edits on the checklist are removed by Botify after a while"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any deploy checklist
2. Make some edits (adding a PR, comment or CP manually)
3. Wait for a while
4. Check the edits on the checklist

[2021-12-03 15:20] puneetlath commented on #3133
@anthony-hull [suggested](https://expensify.slack.com/archives/C01GTK53T8Q/p1638543943189400) we also add an ESLint rule for `TextInput` since we have a handful of our own custom Text Input components as well: `ExpensiTextInput`, `TextInputAutoWidth`, `TextInputFocusable`, `TextInputWithFocusStyles`, `TextInputWithLabel`.

I think it makes sense. What do y'all think?

[2021-12-03 16:06] puneetlath opened #6577 "[Hold for payment 12-15] Fix workspace regression from pull/6538"
I broke the workspace page in https://github.com/Expensify/App/pull/6538. @thesahindia reported the issue and @mananjadhav has already spun up a fix.

I'll create an Upwork job to compensate both of them shortly.

[2021-12-03 16:27] laurenreidexpensify commented on #6069
Realised we lost the `help wanted` label in the shuffle I'm gonna also make this $500 now

[2021-12-03 16:30] puneetlath commented on #6577
Ok offer sent in Upwork to both @thesahindia and @mananjadhav.

[2021-12-03 16:41] parasharrajat commented on #6359
Ok. understood but @Jag96  could you please lay down all the update cases once again so that I can decide what to do to cover all?

[2021-12-03 16:54] tgolen commented on #6285
Cool, proposal looks good to me (though I assume the code will be changed to match our style better in the PR).

I personally don't think that `TextInputWithoutKeyboard` is necessary at this time, so I think we can do without it for now.

@Christinadobrzyn can you please hire @akshayasalvi for this?

[2021-12-03 17:54] parasharrajat commented on #6390
Thanks for updating the proposal @sidferreira. It is still confusing but I got the idea. it looks like it will fix it.

what are the three items you talked about?

[2021-12-03 18:10] parasharrajat commented on #6069
I think I was left assigned to this so unassigning....

[2021-12-03 18:14] luacmartins commented on #6539
I think this describes the problem well. However, I don't know if this is happening with other links as I wasn't able to reproduce it.

No, I'm on iOS as well.

[2021-12-03 18:19] sidferreira commented on #6390
@parasharrajat the lines of code were broken for any reason... hope it is better now...

[2021-12-03 18:22] Jag96 commented on #6359
So the logic should be:

1. Always prioritize 1:1 chats and group chats over rooms (e.g. #announce)
2. Prioritize 1:1 chats over group chats based on which chat had the most recent message

So if I search for `Tom` and I haven't chatted w/ `Tom` 1:1 but we have a group chat, the results would show `Tom, Joe, Rajat` first, then `Tom`, then any rooms (e.g. #announce). Then, if I chat w/ `Tom` in a 1

[2021-12-03 18:28] parasharrajat commented on #6390
Thanks. Now, I think it is a better opportunity to fix all three places if they can have emojis and there are cropping too.

[2021-12-03 18:29] parasharrajat commented on #6390
There is one more instance where I found this issue. In the TextInput too, phone emoji is cropped.

[2021-12-03 18:37] puneetlath commented on #6359
Hm, I dunno. I kind of feel like we should always prioritize the DM if only one name has been typed in. Perhaps we can discuss in the #open-source channel to make sure we have agreement on this real quick before going forward.

It has been discussed a few times before I remember (for example [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1626264243237900)), so I think it'd be good to get

[2021-12-03 18:42] railway17 commented on #6518
Where is Upwork job link?

[2021-12-03 18:50] parasharrajat commented on #6518
That message is deceptive. This is a regression so there won't be any job for it.

[2021-12-03 18:52] railway17 commented on #6518
Ah..
I was also confused.
Thank you for your letting me know.
And waiting for your feedback from another reviewers

[2021-12-03 19:00] Jag96 commented on #6359
Good idea! Dropped a message in [https://expensify.slack.com/archives/C01GTK53T8Q/p1638557977207200](slack) for discussion

[2021-12-03 19:31] Santhosh-Sellavel commented on #6528
Issue occurs again in iOS again in version 1.1.17.5 @puneetlath reported in slack [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1638559169211100)

[2021-12-03 19:35] parasharrajat commented on #6490
OK, #6207 is merged. The second step would be to keep the new chat in the LHN if the user left a draft. cc: @MonilBhavsar

[2021-12-03 19:39] parasharrajat commented on #6528
It seems that `getFullPolicy` https://github.com/Expensify/App/blob/d279c8abf165af6b04032593e99901fe6328b90f/src/pages/workspace/withFullPolicy.js#L93 call is failing for some reason. I am not able to inspect the request in the network. Or don't know how to do that in Flipper.

[2021-12-03 19:40] parasharrajat commented on #6497
@mallenexpensify Could you please triage this? Maria seems to be OOO.

[2021-12-03 19:44] aldo-expensify commented on #6309
I'll be going on vacations for the next 2 weeks, so I'll un-assign myself from this to make it visible to other developers.

Feel free to work on it, continue the [PR](https://github.com/Expensify/App/pull/6569) or do a new PR!

If the issue is still around when I get back, I'll get back to it!

[2021-12-03 19:50] megankelso commented on #6552
I've been approaching this as essentially a 404 page but @roryabraham let me know if I'm mistaken? Depending on what errors will land you here probably affects what kind of links/copy we should include.

On the design side, I've been a bit stumped. I agree that this is a great opportunity for a little brand moment but it feels like we have no branding to insert here, at least not visually. We coul

[2021-12-03 19:56] #6082 closed

[2021-12-03 19:58] marcaaron commented on #6505
`#6411` should be good to go - removing the blocker.

[2021-12-03 20:00] rosegrech commented on #6552
Love your proposal here Megan!  So do we need more specific error copy? Are you are proposing copy on the left? If the latter, then just add the Waiting for copy label for someone to review it.

If specific error fun copy is needed would be helpful to shed more light there @roryabraham and feel free to propose it and then add the waiting for copy label for marketing to review. thanks gang!

[2021-12-03 20:47] parasharrajat commented on #6069
OK. I was assigned early to this issue but we together followed an approach that ended up hacky.

Now, I would like to work over it again. If the plan is to either reduce the animation time or remove the animation from the Search page.  Discussion is happening [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1638563209219500)

[2021-12-03 20:48] marcaaron commented on #6539
Pretty sure this is happening because the Android app will try to open all of the routes listed [here](https://github.com/Expensify/Mobile-Expensify/blob/f677f42f58bacac45502b27331065e5605c2f6be/Android/AndroidManifest.xml#L114-L140) as app links

https://developer.android.com/training/app-links

I'm not sure if there's a clear way to tell the OldApp (Android) to ignore links generated inside NewA

[2021-12-03 21:03] sidferreira commented on #6390
@parasharrajat any text input or some specific? I can check if I can fix all in one

[2021-12-03 21:27] chiragsalian commented on #4899
Fixed, I'm adding support for bold, italics, and strikethrough from emails. The changes were easier than I thought, I just had to update our react-native-render-html since support for bold was added recently. Italics always worked. Strikethrough was stripped in the backend so I'm allowing it now and react-native-render-html works perfectly with strike tags as well.

If there are additional styles

[2021-12-03 21:29] parasharrajat commented on #6390
I used the TextInput for changes the workspace Title.

[2021-12-03 22:28] mallenexpensify commented on #5896
It looks like I forgot to add the `Company Offsite hold` label to this issue.  I've added the bonus for the hold to his Upwork payment.

[2021-12-03 22:32] aldo-expensify commented on #6235
I just gave it a try, and I think this PR is not solving the missing highlight for the results. I think it refactors how it works for our inputs and fixed a missing error outline for ExpensiPicker.

Sounds good to me

[2021-12-03 22:37] jboniface commented on #5974
It looks like this is still being discussed?

[2021-12-03 22:40] puneetlath opened #6584 "[HOLD for payment 2022-04-01] Simplify/consolidate our various Text Input components"
When doing https://github.com/Expensify/App/issues/3133 and https://github.com/Expensify/eslint-config-expensify/pull/38 I noticed that we have many different Text Input components. We have:
- `ExpensiTextInput`
- `TextInputAutoWidth`
- `TextInputFocusable`
- `TextInputWithFocusStyles`
- `TextInputWithLabel`

I don't think it's necessarily very obvious which of these should be used at a given time

[2021-12-03 22:46] puneetlath opened #6585 "Refactor uses of `Text`, `Button`, and `TextInput`"
This is a follow up to https://github.com/Expensify/App/issues/3133 and https://github.com/Expensify/App/pull/6583 in which we renamed our custom `Text` and `Button` components to `ExpensifyText` and `ExpensifyButton` and added a rule to our ESLint configuration that throws an error if `Text`, `Button` or `TextInput` are imported from `react-native`.

We prefer for our custom components to be used

[2021-12-03 22:48] NikkiWines commented on #5896
That makes sense to me, I was thinking it was ineligible for the n6-hold bonus but hadn't even considered the company offsite bonus and should've compared the dates as well. My bad and thanks for clearing things up @mallenexpensify

[2021-12-03 22:48] developvsn commented on #5974
sort of. Waiting on Luke's [comment](https://github.com/Expensify/App/pull/6209#discussion_r760680905) here

It seems like it need more testing — looks like some devices loading avatars in offline and some not.

[2021-12-03 22:51] developvsn commented on #6235
Yes we are on the same thoughts. [Here](https://github.com/Expensify/App/issues/6235#issuecomment-976832830) we tried to explain the issue with lib

So what do we do next? Or still discussions?

[2021-12-03 23:04] Jag96 commented on #6359
Based on the discussion it sounds like there isn't any additional work to be done here! I will update this GH if anything changes when others come online next week, but for now, we can leave this as is

[2021-12-03 23:36] chiragsalian commented on #5337
Hmmm, I do like the ideas but before we go to those ideas could you share the reproduction steps? I tested on chrome and desktop app and `navigator.onLine` gives me false when i disconnect from wifi and gives me true the moment i reconnect to wifi.
I do see in your video you are sort of getting the inverse results which is rather odd. Anyway, I was wondering if there were consistent reproduction s

[2021-12-04 00:06] kevinksullivan commented on #5556
Needed a repost. @anthony-hull i sent you an invte to the job. Here's the link

https://www.upwork.com/jobs/~014c6783114d6e9ab8

[2021-12-04 00:06] NikkiWines commented on #5620
Actually, I am a little confused.
I am using iOS - 15.0.2(iPad) & 15.1.1(iPhone) not 15.0.1.

@Santhosh-Sellavel sorry for the confusion, I wanted our QA team to test on iOS 14 and iOS 15, to see if it was reproducible on one major version and not the other. I wasn't looking to test on specific version numbers. I could ask QA to test on iOS 15.0.2 - if they have a device still on that version - bu

[2021-12-04 00:44] mallenexpensify commented on #6497
I'm going to go out on a limb and say this can be worked on by a contributor...
@adelekennedy I posted for ya cuz it's 5pm on a Friday and I wanted to get a CME assigned to review[ Rajat's proposal above](https://github.com/Expensify/App/issues/6497#issuecomment-980092729)

[2021-12-04 00:48] mallenexpensify commented on #6552
@roryabraham and whomever might be assigned as the CM, I added @zoontek as "Reported by:" in the OP because I think they should be compensated $250 for reporting this [here](https://github.com/Expensify/App/pull/6478#issuecomment-979969778), once this issue has been fixed internally or externally

[2021-12-04 01:11] shoaibzkhalid commented on #6497
**Proposal**

1. Remove margin bottom to remove the unnecessary space below the button

https://github.com/Expensify/App/blob/85d9a21850ef8583a0ab6fb937b60751b9311385/src/pages/settings/PasswordPage.js#L239

[2021-12-05 18:52] anthony-hull commented on #6492
I hope to have the PR written on the 6th Dec.
If not I will be on holiday until the 14th and will finish it on that day.

[2021-12-06 04:39] MariaHCD commented on #6389
Thanks for the additional info, @anthony-hull! Would you mind sending along a video of your test and the console error(s) that you receive?

[2021-12-06 05:42] Christinadobrzyn commented on #6285
Hired @akshayasalvi in Upwork 🎉

[2021-12-06 11:41] michaelhaxhiu commented on #6316
paid!

[2021-12-06 11:41] #6316 closed

[2021-12-06 11:50] PrashantMangukiya commented on #5722
@SofiedeVreese Ping for Upwork payment.

[2021-12-06 13:24] Julesssss commented on #6553
This has been released to production, closing the issue.

[2021-12-06 13:24] #6553 closed

[2021-12-06 13:47] bfitzexpensify commented on #6288
Paid and contract ended.

[2021-12-06 13:47] #6288 closed

[2021-12-06 13:55] MonilBhavsar commented on #6490
Tested this on your branch and can't reproduce the issue. 👏
I don't think we want to keep the drafted message in the LHN. We also don't do that with individual chat.
but let's ask in slack and get others views

[2021-12-06 14:07] parasharrajat commented on #6490
We show reports with draft message in LHN.

But there is a filter where reports with no message is not shown in LHN. But if this report has a draft it should be shown in LHN.

Yeah, good point. Please raise it there and see.

[2021-12-06 14:12] laurenreidexpensify commented on #5869
6271 is still on staging and hasn't been deployed yet

[2021-12-06 14:14] laurenreidexpensify commented on #5079
This is still on Staging https://github.com/Expensify/App/pull/6112#issuecomment-981967151 so not eligible for payment just yet

[2021-12-06 14:16] akshayasalvi commented on #5079
@laurenreidexpensify  Didn't understand.

and for about PR, updating in 2-3 hours.

[2021-12-06 14:17] laurenreidexpensify commented on #6391
As per https://github.com/Expensify/App/pull/6207#issuecomment-985717801 PR is merged on this but QA is ongoing before deploy to prod

[2021-12-06 14:20] laurenreidexpensify commented on #6096
Still in review

[2021-12-06 14:24] laurenreidexpensify commented on #5079
@akshayasalvi I was just leaving a note to myself as a comment to make sure I understood the current status of this issue :) Looking at the linked comment in the PR, as the code hasn't been deployed to production yet, it's not ready for payment. As soon as it is, I'll issue payment this side in Upwork.

[2021-12-06 14:25] akshayasalvi commented on #5079
Okay, my confusion was as the linked comment is of a different issue.

[2021-12-06 14:27] laurenreidexpensify commented on #5079
🤦🏽‍♀️ too many tabs open. Ignore me!! sorry - Mondays!

[2021-12-06 14:29] laurenreidexpensify commented on #5588
@akshayasalvi lol tis was this one I meant to paste my note to!

https://github.com/Expensify/App/pull/6112 - waiting for deploy to prod still

[2021-12-06 14:37] akshayasalvi commented on #5588
@roryabraham Do we know when will this go to production? It is ready for 11 days and in staging for 7 days.

[2021-12-06 14:41] kakajann commented on #6284
Reminding the Upwork again

[2021-12-06 14:47] trjExpensify commented on #6284
Paid 👍

[2021-12-06 14:47] #6284 closed

[2021-12-06 15:18] isagoico opened #6590 "Workspace - Workspace image is disappearing when navigating to the Workspace settings page - Reported by: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. In a account with a existing Workspace, navigate to workspace settings
2. If a avatar is not set up yet, upload an avatar to the workspace
3. Nav

[2021-12-06 15:28] isagoico opened #6591 "[HOLD][$1000] iOS - Incorrect notification number is visible for a little bit when receiving a new notification - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.  In a iOS device, log in with user A and background the app and stay on the main menu where the New Expensify icon is displayed
2. From another d

[2021-12-06 16:01] jboniface commented on #5807
hey @parasharrajat, i invited you to this job, but it looks like you might have missed it on upwork. can you respond to the invite or re-apply, so I can pay you out?

[2021-12-06 16:11] isagoico opened #6592 "[HOLD for payment 2022-01-19] Android - App crashes when entering split screen mode - Reported by: @kakajann"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app in a Android device
2. Press and hold the recents button in the nav bar to activate splitscreen mode

## Expected Result:
App should

[2021-12-06 16:17] Dal-Papa commented on #6591
This looks like it can be a frontend issue. Tagging `External`.

[2021-12-06 16:22] Dal-Papa commented on #6554
I would think that the work being done in #6301 should take precedence over this. I don't think there's need to duplicate an effort that's going to be so close.

[2021-12-06 16:22] #6554 closed

[2021-12-06 16:24] Dal-Papa commented on #6496
I think the work has been done but has yet to be deployed. Will move this to Weekly so Melvin can chill.

[2021-12-06 16:24] jboniface commented on #6565
job posted https://www.upwork.com/jobs/~01fde66d8d00473940 @anthony-hull

[2021-12-06 16:29] isagoico opened #6593 "Feature Requests - Add emoji categories to Emoji Picker - Reported by: @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Open emoji picker
## Expected Result:
Emoji picker should have categories

## Actual Result:
Emoji picker doesn't h

[2021-12-06 16:31] parasharrajat commented on #6565
Looking at the commit code and https://github.com/Expensify/App/issues/6565#issuecomment-985421086, @anthony-hull 's proposal looks good to me.

Although, @anthony-hull
1. I think we prefer steps to be written down in the proposal instead of showing a piece of code. Code does not explain your proposal.

Please update your proposal to explain your changes and follow this for future issues.

cc: @ch

[2021-12-06 16:44] parasharrajat commented on #6415
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)
@dylanexpensify

[2021-12-06 16:46] parasharrajat commented on #6121
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)
@dylanexpensify

[2021-12-06 16:48] roryabraham commented on #6593
[As discussed in slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1638809272257500?thread_ts=1638538697.178800&cid=C01GTK53T8Q), I'm going to close this out for now.

[2021-12-06 16:48] #6593 closed

[2021-12-06 16:48] michaelhaxhiu commented on #6593
beat me to it !

[2021-12-06 16:49] luacmartins commented on #6539
Thanks for the explanation @marcaaron! That makes sense!

Since this involves potential changes to OldDot and it's not something urgent, I'll mark this as internal and weekly. Sending this to the pool.

[2021-12-06 16:53] mvtglobally commented on #6505
@roryabraham Friendly bump.
Still waiting for the fix for #6518 (deploy blocker) to retest #6442 & close this checklist

[2021-12-06 16:55] parasharrajat commented on #4211
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

@trjExpensify

##### Information for your reference.
https://github.com/Expensify/App/pull/5745#issuecomment-948027934 has the breakdown for payment. Please skip the milestone for 5027.

Apart from it, there were two PR created for this issue. the first one https://github.com/E

[2021-12-06 17:02] luacmartins commented on #6568
Thanks for the input @dklymenk! I will keep this as internal for now.

[2021-12-06 17:05] isagoico opened #6594 "[HOLD for payment 2021-12-27] Workspace - UI is breaking on invite members page on mobile - Reported by: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Workspace settings page
2. Click on invite member
3. Click on the invite button
4. Tap on the search field

## Expected Result:
UI sh

[2021-12-06 17:21] parasharrajat commented on #6204
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

@SofiedeVreese

##### Information for your reference
1. This issue was held for Company Offsite Hold https://github.com/Expensify/App/pull/6249#issuecomment-970158686

[2021-12-06 17:26] trjExpensify commented on #4211
Woof, this was a long one ey! So I presume from [@mallenexpensify comment](https://github.com/Expensify/App/issues/4211#issuecomment-907461021), this is the correct Upwork job, right? https://www.upwork.com/jobs/~017e60e720f6f9aca8

It's closed though and I couldn't see your proposal nor being hired Rajat, so we'll need to sort that out once confirmed this didn't move elsewhere. Then maybe @Beaman

[2021-12-06 17:28] megankelso commented on #6552
I think we need some clarity on what information this copy may need to include. If it's just a 404 page, I think something like the above is fine.

Regardless, would love to work with marketing on ideas! Just wrote these for mockups.

[2021-12-06 17:33] #4899 closed

[2021-12-06 17:39] wenge8n commented on #6565
I was able to reproduce this issue in v1.1.17-6, Web

**Proposal**

- src/languages/en.js
[code]
- src/languages/es.js
[code]
- src/pages/settings/NewPasswordForm.js
[code]

[2021-12-06 17:40] shawnborton commented on #6488
I actually think what we should do here is fix the original issue that David reported, and that is that he sees notification badges in Chrome but doesn't hear sounds. We should just use whatever default Chrome/platform/native sound for now, and we can spin up a separate issue to create a custom branded sound. I think this is ready for the External label.

[2021-12-06 17:48] Dal-Papa commented on #5701
I think this has become a problematic issue in my list I don't have time to tackle and since it seems like still an issue while settling IOUs, I will put it back to the pool.

[2021-12-06 18:01] ctkochan22 commented on #6564
@Beamanator Are we able to QA this guy with your test contributor account?

[2021-12-06 18:04] roryabraham commented on #6505
@mvtglobally We're working on getting https://github.com/Expensify/App/issues/6518 resolve ASAP.

[2021-12-06 18:06] rosegrech commented on #6552
Thanks @megankelso

 @roryabraham please let us know what info in this copy, if any, is needed. If something nada and we can go with something generic like Megan proposed, we can work off that! thanks

[2021-12-06 18:19] roryabraham commented on #6505
The fix to https://github.com/Expensify/App/issues/6518 is being CP'd in `1.1.17-7` [here](https://github.com/Expensify/App/actions/runs/1545999139)

[2021-12-06 18:25] Beamanator commented on #6564
Yes! I'll make the PR with my test account now

[2021-12-06 18:33] jboniface commented on #5807
no worries. paid with hold and reporting bonuses.

[2021-12-06 18:33] #5807 closed

[2021-12-06 18:34] Beamanator commented on #6564
womp womp ^ didn't work :( I'm going to dig into the logs tomorrow to figure out why...

[2021-12-06 18:36] ctkochan22 commented on #6564
Well, its not a blcoker, so I'm going to check off and close prod QA and this PR! Good luck!

[2021-12-06 18:36] #6564 closed

[2021-12-06 18:44] stitesExpensify commented on #3245
Seems like a good idea to me, looks like that's what slack does
![2021-12-06_11-44-17](https://user-images.githubusercontent.com/42391420/144903774-e543250f-7176-4355-8e9f-8461df1e4a85.png)

[2021-12-06 18:47] spamalotmucho commented on #6564
Ooh! The issue was we're not checking the issue description in a case-insensitive way, we're checking in a case-sensitive way - I fixed the capitalization on `Expensify` and `App` in the PR description and it worked!

[2021-12-06 18:48] chiragsalian commented on #5337
@kidroca, friendly bump on my previous comment when you get the chance. (mostly posting so that melvin doesn't consider this overdue)

[2021-12-06 18:51] Beamanator commented on #6564
As I said ^ (that's my test acct) all flows worked in the linked PR, we're good to go.

Next I'll just fix the case-sensitive logic

[2021-12-06 18:52] MitchExpensify commented on #5774
Hired @akshayasalvi ! Sorry for the delay, I was ooo

[2021-12-06 18:59] parasharrajat commented on #4211
@Beamanator Could you please help us out here?

[2021-12-06 19:02] parasharrajat commented on #6227
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)
@mallenexpensify

[2021-12-06 19:02] parasharrajat commented on #5237
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)
@mallenexpensify

[2021-12-06 19:02] kidroca commented on #5987
Hmm, I don't count Saturday and Sunday Melvin! 😄

PR still needs review: https://github.com/Expensify/App/pull/6556

[2021-12-06 19:03] parasharrajat commented on #5159
Oops, I forgot to mark PR to ready. Doing now

[2021-12-06 19:08] deetergp commented on #6497
We have a [similar issue](https://github.com/Expensify/App/issues/6460) for the secondary login page, and the fix for it is the same as the fix for this that @parasharrajat had already suggested. Let's have him fix both.

[2021-12-06 19:09] deetergp commented on #6460
Not overdue.

[2021-12-06 19:16] adelekennedy commented on #6497
@parasharrajat and @deetergp I can open and hire Rajat for this job, or, we can add a bonus to the other issue - thoughts?

[2021-12-06 19:18] deetergp commented on #6497
If the end amount is the same for @parasharrajat, then I'm in favor of whichever has less administrative overhead, but Rajat may have different thoughts.

[2021-12-06 19:21] kursat commented on #6489
Hey @kevinksullivan, should I apply to same job for bug report bonus?

[2021-12-06 19:25] parasharrajat commented on #6497
I think opening a job for this is fine. In the end, it becomes confusing to manage multiple issues in one. Also, I will be submitting a new PR for this. The other one is already merged. @adelekennedy

[2021-12-06 19:26] mallenexpensify commented on #6227
@parasharrajat Can you accept the offer here please and confirm when you have?
https://www.upwork.com/jobs/~01b50ba5b54d346056

[2021-12-06 19:28] parasharrajat commented on #6497
Submitted the proposal on https://www.upwork.com/jobs/~01478dd14ed4b583ec

[2021-12-06 19:29] parasharrajat commented on #6227
Accepted it @mallenexpensify

[2021-12-06 19:35] mallenexpensify commented on #5237
@parasharrajat in the future, can you want til one day after the 'hold for payment' date before commenting? It's because I want to see if the 'overdue' label is properly being added to the issue after a week, that's the main trigger for a CM knowing an issue should be paid.

I've paid this in Upwork, job was $500 and added $250 for increased scope and $250 for company offsite hold bonus. (If payme

[2021-12-06 19:37] roryabraham commented on #6575
Changing this to weekly, but hoping to get to it today. I already started working on it.

[2021-12-06 19:37] mallenexpensify commented on #5237
@kidroca I'm assuming this issue was reported as part of your hourly work, let me know if not

[2021-12-06 19:39] roryabraham commented on #6505
`1.1.17-7` has finished deploying. @mvtglobally @isagoico please retest https://github.com/Expensify/App/pull/6442, https://github.com/Expensify/App/issues/6518, and https://github.com/Expensify/App/pull/6535

[2021-12-06 19:40] Luke9389 commented on #5159
Cool, thanks @parasharrajat!

[2021-12-06 19:40] mallenexpensify commented on #6227
Paid @parasharrajat $250 for the job and $250 for company offsite hold bonus.
Thanks!

[2021-12-06 19:40] #6227 closed

[2021-12-06 19:47] dklymenk commented on #6592
Hi, I have successfully reproduced the crash and manged to grab relevant trace:
<details>

[code]

</details>

It's actually kinda funny, but in that trace there is a line with a link to a github issue with a solution:
[code]

Applying the fix in the linked comment solved the issue and I can no longer reproduce the crash.

Here is the diff:
[code]

[2021-12-06 19:50] roryabraham commented on #3133
Sure, sounds good to me @puneetlath

[2021-12-06 20:10] #6486 closed

[2021-12-06 20:13] kidroca commented on #6391
@laurenreidexpensify
I've went through the comments on that PR but I don't see how it's related to the compose box losing focus
Perhaps it was discussed internally?

[2021-12-06 21:08] puneetlath commented on #3245
Ok cool. Since that would be an update to the UI, @mananjadhav would you mind posting that solution in #expensify-open-source on Slack to make sure there is general agreement that this is a change that we should make? Thanks!

[2021-12-06 21:16] mvtglobally commented on #5722
Issue not reproducible during KI retests. (Second week)

[2021-12-06 21:17] mvtglobally commented on #4995
Issue not reproducible during KI retests. (Second week)

[2021-12-06 21:19] mvtglobally commented on #6326
Issue not reproducible during KI retests. (First week)

[2021-12-06 21:19] mvtglobally commented on #6325
Issue not reproducible during KI retests. (Second week)

[2021-12-06 21:21] mvtglobally commented on #2499
Issue not reproducible during KI retests. (Second Week)

[2021-12-06 21:22] mvtglobally commented on #5869
Issue not reproducible during KI retests. (First Week)

[2021-12-06 21:22] SofiedeVreese commented on #5722
@PrashantMangukiya no need for the ping, the payment is due today and in my calendar so I don't forget.

[2021-12-06 21:22] mvtglobally commented on #6415
Issue not reproducible during KI retests. (Second Week)