[2022-10-13 16:54] tienifr commented on #11671
@sobitneupane I think u miss somethings here, I retested my proposal and It works correctly. Maybe u haven't add the `import UnreadIndicatorUpdater from '../../UnreadIndicatorUpdater'` in https://github.com/Expensify/App/blob/main/src/pages/signin/SignInPage.js. If there is, please help recheck.
My evidences:

https://user-images.githubusercontent.com/113963320/195655273-3b74ea03-d000-46da-b00f-1c

[2022-10-13 16:55] tgolen commented on #10273
I finished going through all the issues this morning. In the end, my PR fixes 4 of the issues, so it's a step in the right direction. My plan is to go ahead and get my PR merged to fix those 4 issues, then remove the rest of them off HOLD so they can continue to be worked on, using the new cleaned-up code from my PR.

[2022-10-13 16:55] varshamb commented on #11424
My github handle is `@varshamb` not `varsha`.

[2022-10-13 17:01] kbecciv commented on #11424
Sorry @varshamb corrected

[2022-10-13 17:04] zanyrenney commented on #11807
Ugh yeah this is weird, I don't know why the disconnect between mobile and web here - will get some eng eyes!

[2022-10-13 17:05] tgolen commented on #11701
I removed the HOLD on this and assigned it to me because this is fixed in https://github.com/Expensify/App/pull/11586

[2022-10-13 17:05] tgolen commented on #10905
I removed the HOLD on this and assigned it to me because this is fixed in https://github.com/Expensify/App/pull/11586

[2022-10-13 17:06] tgolen commented on #11118
I removed the HOLD on this and assigned it to me because this is fixed in https://github.com/Expensify/App/pull/11586

[2022-10-13 17:06] tgolen commented on #10609
I removed the HOLD on this and assigned it to me because this is fixed in https://github.com/Expensify/App/pull/11586

[2022-10-13 17:10] adelekennedy commented on #10609
I don't think any payment is due, this was reported by applause and no proposals were accepted

[2022-10-13 17:10] mananjadhav commented on #9391
@mvtglobally Did you get a chance to retest it again in this week?

[2022-10-13 17:11] jasperhuangg commented on #11781
Yeah, not sure if this is actually a bug since this behavior is expected. This isn't a regression, closing

[2022-10-13 17:11] #11781 closed

[2022-10-13 17:15] melvin-bot[bot] opened #11812 "[$250] Investigate: 💥 Crash 💥 `android.app.ActivityThread.handleStartActivity`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.IllegalStateException
### You need to use a Theme.AppCompat theme (or descendant) with this activity.
### `ActivityThread.java line 3321` `android.app.ActivityThread.handleStartActivity`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:**

[2022-10-13 17:15] zanyrenney commented on #11809
Hey @kavimuru sorry I am not clear on what the bug is here. Could you please add more detail so that I can try to reproduce. The video is not clear to me what the expected vs actual result is so if you can explain it in text so I can follow the guide to reproduce, that would be really helpful - thank you!

[2022-10-13 17:18] mananjadhav commented on #11461
Yes @trjExpensify and @stitesExpensify , good with @Uros787's proposal.

🎀 👀 🎀 
C+ reviewed

[2022-10-13 17:25] marcaaron commented on #11671
Sorry I don't really like any of the solutions proposed by @fedirjh

**Solution 1** - setTimeout is hacky in this case as it's not clear what we are waiting for
**Solution 2** - It feels like the wrong place to apply this logic. Also we are passing a prop to a method that can access these props already because it's a class method.
**Solution 3** - It's not the job of that listener to remove the re

[2022-10-13 17:25] marcochavezf commented on #11801
I reproduced this error on Chrome (Android), for some reason seems it happens when the search input loses the focus, it's focused again and the user types something.

[2022-10-13 17:30] Santhosh-Sellavel commented on #11811
Yeah seems to duplicate.

[2022-10-13 17:33] marcaaron commented on #11732
No, that is the opposite of what this issue is proposing. There's no way to tell that you've entered your email correctly or incorrectly. But 9/10 times if the email on that screen is wrong then you are probably off by one character or it's a typo. This change will bring the New app up to parity with the old one (where IMO we have achieved a good UX):

https://user-images.githubusercontent.com/329

[2022-10-13 17:35] marcaaron commented on #11732
But yes let's update the description maybe so that both of these flows (password or magic sign in page) have the same effect of leaving the email in the input.

[2022-10-13 17:36] mallenexpensify commented on #11493
Do we have anything written down for how to track down the offending PR for regressions? For internal and/or contributors?  (I have zero clue)

[2022-10-13 17:39] mallenexpensify commented on #10996
Paid, thanks for the help @LucioChavezFuentes

[2022-10-13 17:39] #10996 closed

[2022-10-13 17:43] alex-mechler commented on #11778
I'm not able to reproduce this on Web, although I'm not on an ios device. If I switch the toggle while offline, it remains in the correct position after going back. Is this only reproducible on iOS @kbecciv?

[2022-10-13 17:43] hungvu193 commented on #11732
I tested this as well, in both way this solution will leave the email in the input:
https://user-images.githubusercontent.com/16502320/195667349-08573c0b-665d-4609-a34e-ae389d2d192a.mov

[2022-10-13 17:52] tgolen commented on #11650
I think @isabelastisser needs to create an upwork job and assign it to you next. But, I think you're OK to start on a PR and we'll get they payments and job figured out in the meantime.

[2022-10-13 17:54] Uros787 commented on #11461
Cool thanks, let me know where I should apply

[2022-10-13 17:58] tgolen commented on #11650
Cool, I'll do the GH assignment for you.

[2022-10-13 18:05] kbecciv opened #11814 "[$250] Web - Workspace - App is crashed when trying to delete a new member in the specified account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login in the specified account - applausetester+1312@applause.expensifail.com/

[2022-10-13 18:06] JmillsExpensify commented on #10273
Ok that sounds great! Happy to handle the remaining issues when your PR is merged.

[2022-10-13 18:09] kbecciv opened #11815 "[HOLD for payment 2022-11-02] [$250] Web - Workspace - Invited user is displayed without a username and an avatar image"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to Settings->Workspace->Manage members
4. Kill in

[2022-10-13 18:20] kavimuru opened #11816 "[HOLD for payment 2022-11-04] [$250] BUG: Enter password field shows on add bank account page while trying to add bank accounts consecutively reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to Settings > Payments
2. Click Add payment method > Bank account
3. Complete the process on Plaid to add a new bank accou

[2022-10-13 18:21] roryabraham opened #11817 "[Hold for payment 2022-12-06 $1000] Create a way to check for updates on the desktop app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Click on the NewExpensify system menu

## Expected Result:
If there is an update available, you should see a "Update New Expensif

[2022-10-13 18:31] kavimuru opened #11818 "[HOLD for payment 2022-11-09] [$250] Bug: Space after emoji doesn't get added for edit field like main composer reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open any chat > Send message > Edit
2. Click on emoji button and select an emoji

## Expected Result:
The space should be add

[2022-10-13 18:35] ctkochan22 commented on #11117
I can't get to this atm. I still think its something with Logger, adding endless amounts of `\`. Going to downgrade to a weekly

[2022-10-13 18:35] kavimuru opened #11820 "[HOLD for payment 2022-11-02] [$250] Bug: At policy expense chat the welcome message in spanish contains : tada: instead of 🎉 reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to settings > Create a workspace
2. Go to preferences > change language to espanol
3. Go to policy expense chat

## Expect

[2022-10-13 18:37] mountiny commented on #11815
I dont think this is necessarily a bug, if you are offline you cannot get the username of a user you havent chatted with before. We could use default avatar. cc @neil-marcellini for your thoughts as you worked in this area i believe

[2022-10-13 18:42] Puneet-here commented on #11820
###Proposal

We need to add :tada: instead of `:tada:` here
https://github.com/Expensify/App/blob/44c75aada4405bbff7b1c992e690b616c2c659d4/src/languages/es.js#L213

[2022-10-13 18:44] Puneet-here commented on #11818
### Proposal
We need to add a new variable emojiWithSpace and need to use it like this:
[code]
https://github.com/Expensify/App/blob/44c75aada4405bbff7b1c992e690b616c2c659d4/src/pages/home/report/ReportActionItemMessageEdit.js#L158
we also do the same at [reportActionCompose.js](https://github.com/Expensify/App/blob/44c75aada4405bbff7b1c992e690b616c2c659d4/src/pages/home/report/ReportActionCompose

[2022-10-13 18:50] pecanoro commented on #10148
In android I can only reproduce it if I type really really fast 😆 It stays for less than a second, but yeah, maybe we can improve it somehow.

[2022-10-13 18:54] Uros787 commented on #11461
Applied.

[2022-10-13 19:03] yuwenmemon commented on #11793
@mvtglobally How we doing?

[2022-10-13 19:06] mvtglobally commented on #11793
@yuwenmemon

We are almost done
PRs are complete
TR is 8% left

[2022-10-13 19:21] kidroca commented on #11817
Oh, this one is super easy, give it here please!

[2022-10-13 19:30] fedirjh commented on #11671
@marcaaron thanks for the feedback , i have updated both solution 1 and 2

for solution 1 : when `SignInPage` is mounted it execute `updateUnread(0)` immediately , but it should be deferred until `UnreadIndicatorUpdater.throttledUpdatePageTitleAndUnreadCount();` is  . setting timeout to 1ms will resolve this issue

[code]
for solution 3 : the `reports`  const is used on the subscription callback ,

[2022-10-13 19:32] kavimuru opened #11822 "[HOLD for payment 2022-11-16] [$500] ios -Conversation - Offline - `Save changes` button is disabled when opened to edit the comment for the second time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in an any account
2. Disable the internet connection in the main testing device
3. Click/Tap on the Pencil icon to activat

[2022-10-13 19:35] thesahindia commented on #11461
Hey, I wanted to know if this is eligible for reporting. I had reported the error part on slack ([thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1664306399540379)) but we decided to do nothing.

[2022-10-13 19:41] marcaaron commented on #4656
Noticing that this issue is eroding a bit and not getting much love. Maybe it's not clear what we are trying to achieve?

**Ideas for how to take action on this...**

- It would be helpful if someone could work on getting some baseline measurements together by building release versions of Android and iOS apps
- Update the description with where we are at on those platforms
- Land on some kind of r

[2022-10-13 19:43] marcaaron commented on #11479
This will be fixed in https://github.com/Expensify/App/pull/11550

[2022-10-13 19:48] puneetlath commented on #11352
@AndrewGable what do you think?

[2022-10-13 19:49] marcaaron commented on #11671
We're still using a `setTimeout` so it's a no from me.

I'm not seeing how this is a different solution from the one before. As mentioned already, the `reports` value should be reset when `Onyx.clear()` is called.

[2022-10-13 19:49] puneetlath commented on #11691
Works for me.

[2022-10-13 19:52] puneetlath commented on #11427
Sounds good to me. @luacmartins you're the CME on this one, so your call!

[2022-10-13 19:56] joekaufmanexpensify commented on #11424
Clarifying a [question](https://expensify.slack.com/archives/C01SKUP7QR0/p1665690961480899) before creating upwork job.

[2022-10-13 20:03] yuwenmemon commented on #11793
Cool! Just waiting on regression to finish and then we can 🚀

[2022-10-13 20:07] pecanoro commented on #11772
Oh, this is an interesting bug, a combination of offline first and the new message indicator at the same time haha I was able to reproduce so adding external.

cc/ @marcaaron

[2022-10-13 20:08] fedirjh commented on #11671
@marcaaron we are talking about reports in the **memory**
[code]
 not that one from **indexedDB**

[2022-10-13 20:11] luacmartins commented on #11427
I agree. @tienifr [proposal](https://github.com/Expensify/App/issues/11427#issuecomment-1275786664) looks good, but we should account for [this style](https://github.com/Expensify/App/issues/11427#issuecomment-1277829883) change.

[2022-10-13 20:12] NicMendonca commented on #11059
@mananjadhav any feedback on @Uros787 [update](https://github.com/Expensify/App/issues/11059#issuecomment-1273648200)?

[2022-10-13 20:32] marcaaron commented on #11772
@pecanoro :oh-nothing: the deleting comment while offline flows [can get pretty weird](https://github.com/Expensify/Expensify/issues/228189) and we struggled with them a bit while implemented the Unread Indicators doc 😞

I would like to make sure this issue is a little clearer though...

- Is the conversation we are navigating to one that has unread messages?

It seems like from the video that the

[2022-10-13 20:34] roryabraham opened #11823 "[HOLD for payment 2022-12-20] [$1000] [Feature] Update the chat UI to reflect drag-and-drop update ability"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Drag an image file over a chat

## Expected Result:
1. The cursor should change to be a green `+`
1. The UI of the chat should up

[2022-10-13 20:35] roryabraham commented on #11823
Bringing in @shawnborton for the mockups, then we can make this external.

[2022-10-13 20:43] dangrous commented on #11317
Hm, I'm seeing that too - okay, maybe we reopen? Looking again at the testing for the issue I thought was the same (see `Additionally, test the steps for this regression that reverted the original PR.` section of [this PR](https://github.com/Expensify/App/pull/11457) I guess it is slightly different. Apologies for that, maybe we should reopen?

[2022-10-13 20:44] kavimuru opened #11824 "BUG: Web / Chrome - Add attach button doesn't do anything"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NetDot and login
2. Open any chat
3.  Click on  `+` in compose field  > "Add attachment"

## Expected Result:
Should open

[2022-10-13 20:49] mvtglobally commented on #11793
@yuwenmemon
Regression is completed. No blockers

[2022-10-13 20:53] pecanoro commented on #11772
Nope, all messages were read before going offline and deleting the message

There is no line showing the last unread message, it just shows the new messages banner. I am assuming that yes, it jumps to the last deleted message.

[2022-10-13 21:07] dangrous commented on #11822
Hey @kavimuru - can you clarify the expected/actual results? From your video (and my testing) it looks like the **actual** result is that the button IS greyed out, and the **expected** would be that it isn't - so the reverse of what you've written. Is that correct?

[2022-10-13 21:11] thesahindia commented on #11525
Can you share some link, it will be helpful.

[2022-10-13 21:14] 1notchdev commented on #11636
@strepanier03 , PR #11748  was approved and merged. What's the next status for me? Can you release it on Upwork now?

[2022-10-13 21:18] kbecciv opened #11825 "[HOLD for payment 2022-11-16] [$500] Web - FAB - "New Workspace" option is disabled after deleting Workspace in offline mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open URL https://staging.new.expensify.com/
2. Login with any account
3. Go to Settings->Workspace
4. Kill the internet connec

[2022-10-13 21:25] yuwenmemon commented on #11793
:shipit:

[2022-10-13 21:25] #11793 closed

[2022-10-13 21:28] OSBotify opened #11830 "Deploy Checklist: New Expensify 2022-10-13"
**Release Version:** `1.2.15-3`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/11550
- [x] https://github.com/Expensify/App/pull/11614
- [x] https://github.com/Expensify/App/pull/11670
- [x] https://github.com/Expensify/App/pull/11683
- [x] https://gi

[2022-10-13 21:31] jliexpensify commented on #11727
Seems like a no from @Beamanator - close this one?

[2022-10-13 21:55] Uros787 commented on #11525
yes
https://github.com/ionic-team/ionic-framework/issues/9030
https://stackoverflow.com/questions/36028685/alert-instead-of-keyboard-for-input-in-textfield-cursor-stays-in-textfield-s
https://stackoverflow.com/questions/73799004/ios-keyboard-not-hiding-when-alert-or-confirm-box-appears-in-react-js
https://github.com/facebook/react-native/issues/17356

[2022-10-13 21:58] amyevans commented on #11783
Hmm I'm not able to reproduce 🤔
![Screen Shot 2022-10-13 at 5 56 47 PM](https://user-images.githubusercontent.com/7277067/195718445-6b7c95ad-9611-4858-b5e0-8255b73d4cd4.png)

[2022-10-13 22:00] amyevans commented on #11783
Going to unassign myself for now to stay focused on some other tasks, but feel free to ping me to take another stab at reproduction if something changes!

[2022-10-13 22:01] neil-marcellini commented on #11815
I think it's a bug, but the expected result should be clarified. Yes we should show a default avatar and the email, just like it shows in the options selector and LHN.

cc @chiragsalian since he worked on `AddMembersToWorkspace`.

[2022-10-13 22:03] jliexpensify commented on #10905
@tgolen - thanks! Since it's fixed by another PR, could we remove this Upworks job?

[2022-10-13 22:03] mountiny commented on #11815
I agree with the avatar, the email is already shown correctly.

Just not sure if there is already some fix in motion, so thanks for tagging Chirag 🙇

[2022-10-13 22:14] vladamx commented on #11589
**Proposal**

Ok, after some internal discussions and alignments with @marcaaron I came up with PR Proposal https://github.com/Expensify/App/pull/11798

Basically I use react-freeze to suspend rendering in SidebarLinks and ReportScreen when they are not active by setting the freeze prop to depend on the drawer state. I do this only on mobile since on desktop they are both active at the same time.

[2022-10-13 22:17] roryabraham commented on #11811
At least it's obvious where this comes from: https://github.com/Expensify/App/blob/aa1590729fba2d9db071ee5f26cd758ab02c5c7c/src/libs/actions/ReimbursementAccount/resetFreePlanBankAccount.js#L15

[2022-10-13 22:20] JmillsExpensify commented on #11823
I think this was mentioned in the Slack thread, but we should think about what happens if someone tried to drag and drop over the LHN. Do we block that entirely? Do we highlight the individual row that is hovered over? I agree with @roryabraham that the chat window itself should be very straightforward, especially since we don't have threads and a right-docked side modal for reports yet.

[2022-10-13 22:31] mallenexpensify commented on #6591
Closing the loop, both Rajat and Santhosh have been paid

[2022-10-13 22:40] grgia commented on #11783
I found that it will update the first time, but trying to toggle back on or back off doesn't reliably update the network boolean

[2022-10-13 22:56] strepanier03 commented on #11636
Still waiting on the push to production. When the PR is on production the name of this GH will switch automatically and I'll be able to take the next step then.

[2022-10-13 22:59] mallenexpensify commented on #7487
Tried to test to see if it's still happening but running into issues with pagination and loading so I can't. Maybe this is on hold pending  https://github.com/Expensify/App/issues/7925 ?

[2022-10-13 23:01] LucioChavezFuentes commented on #7860
Hey guys, I’m aware this problem is on hold because it is related to [#7925](https://github.com/Expensify/App/issues/7925). I followed the discussion, I investigated, and I can confirm the problem posted on this issue ([#7860](https://github.com/Expensify/App/issues/7860)) exists only on react-native-web. Also, the following proposal's solution will clean up some [custom code ](https://github.com/

[2022-10-13 23:01] strepanier03 commented on #11753
Internal job created: https://www.upwork.com/ab/applicants/1580695041460465664/suggested
External Upwork job created: https://www.upwork.com/ab/applicants/1580695041460465664/job-details

[2022-10-13 23:22] OSBotify commented on #11830
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11831) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.15-1` :rocket:

[2022-10-13 23:31] luacmartins commented on #11093
Still looking for proposals

[2022-10-13 23:36] mallenexpensify commented on #10483
Thanks for the comment @rushatgabhane, we're[ updating CONTRIBUTING.md](https://github.com/Expensify/App/pull/11826) to clarify this  (bold below is new)

If it's a valid job proposal that we choose to implement by deploying it to production — either internally or via an external contributor — then we will compensate you $250 for identifying and proposing the improvement. **If the bug is fixed by

[2022-10-13 23:42] kbecciv commented on #11778
@alex-mechler Checking with team, will update you shortly.

[2022-10-13 23:43] aldo-expensify commented on #11487
Confirming in the [slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1665704579577719?thread_ts=1664289824.630449&cid=C01GTK53T8Q) what was the desired behaviour

[2022-10-13 23:49] marcaaron commented on #11589
We are getting pretty close to merging [a PR that ended up implementing `react-freeze`](https://github.com/Expensify/App/pull/11550). I think what we should do is:

- Close this issue
- Pay out @vladamx for this idea + the bonus for reporting the issue.

Ultimately, it was their idea to use `react-freeze` and I just ended up needing it for another change I am working on. Creating another PR at thi

[2022-10-13 23:52] aldo-expensify commented on #11487
@Santhosh-Sellavel the second part of @Puneet-here 's proposal seems to be going toward the updated expected outcome of the issue.

[2022-10-14 00:21] roryabraham commented on #11204
Alternatively, let's just update to the [latest stable release](https://www.electronjs.org/releases/stable#21.0.1) `21.0.1`?

[2022-10-14 00:26] OSBotify commented on #11830
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.15-1 has been deployed to staging :tada:

[2022-10-14 00:45] marcaaron commented on #11671
Apologies, in that case, I would entertain a proposal that removes the `setTimeout()`, but not one that modifies it without explaining why it's there to begin with.

I understood this. Thanks.

[2022-10-14 01:01] #11426 closed

[2022-10-14 01:01] #11479 closed

[2022-10-14 01:03] chiragsalian commented on #9971
Okay i think i've created a dynamic enough component to show avatars diagonally for chats and show stacked horizontally for. It looks like this for web,
![image](https://user-images.githubusercontent.com/14356145/195738478-7c0ef398-ac27-4a49-85e8-6ec30c52b8e8.png)

and like so on mobile,
![image](https://user-images.githubusercontent.com/14356145/195738525-732bf35f-ecbe-49af-add9-35d28c0b85c2.png)

[2022-10-14 01:10] shawnborton commented on #9971
It looks like the icon on the left side of Workspaces is way too small now - I think you can just use the clean building.svg with no colored background in its place.

Otherwise I think this is pretty good. The idea was that the `+X` number would show in a colored overlay on top of the last icon though, and I think we'd eventually reuse this pattern for threads too (like my mockup above has). Any r

[2022-10-14 01:12] thienlnam commented on #11802
I'm a little confused on the expected behavior here - there just isn't enough space on the screen for the continue button and it's not like the button can just float there since then you would get overlap in the input field

cc @Expensify/design What do you think about this?

[2022-10-14 01:23] maddylewis commented on #11766
based on https://github.com/Expensify/App/issues/11766#issuecomment-1276504703, closing!

[2022-10-14 01:23] #11766 closed

[2022-10-14 01:34] shawnborton commented on #11802
This is not a bug - this is the desired behavior. We don't want the Save and Continue button to block the form control, so it sits right below it.

[2022-10-14 01:34] #11802 closed

[2022-10-14 01:59] vladamx commented on #11447
Am I eligible for reporting bonus as well?

[2022-10-14 02:08] tienifr commented on #11671
@marcaaron @sobitneupane What do you think about my proposal here https://github.com/Expensify/App/issues/11671#issuecomment-1274549195

[2022-10-14 02:45] tsa321 commented on #7968
@Santhosh-Sellavel please ignore my previous comment. I just read previous comments about tab navigation for this confirm modal.

**The first problem** about workspace is keep on being deleted when pressing `enter` even though `delete` button is not focused.
This is because:

https://github.com/Expensify/App/blob/76c0e77b30a2cbc17a74926fdeb521b5e54e7f45/src/components/Button.js#L158

`isFocused` p

[2022-10-14 02:58] JmillsExpensify commented on #11709
Jumping in to test this one first, then I'll make it available via Upwork. Thanks for already jumping on a proposal!

[2022-10-14 03:08] JmillsExpensify commented on #11709
Ok so I can reproduce that, but I vaguely remember that this was a purposeful design decision. I looked at the linked Slack thread where this was reported and I wasn't able to find any further context. @trjExpensify Can you clarify if this was a purposeful change?

[2022-10-14 03:12] JmillsExpensify commented on #11458
Linked PRs are still up and going through the review process.

[2022-10-14 03:12] JmillsExpensify commented on #11425
Great call. Thanks

[2022-10-14 03:13] JmillsExpensify commented on #11320
@parasharrajat thoughts on @fedirjh's proposal above?

[2022-10-14 03:14] JmillsExpensify commented on #11311
Sorry, I got back up. I'll have to circle back on this one tomorrow.

[2022-10-14 03:14] JmillsExpensify commented on #11277
Still on hold.

[2022-10-14 03:15] JmillsExpensify commented on #11192
Still waiting on proposals

[2022-10-14 03:15] JmillsExpensify commented on #11089
Doubling the price in the hopes of getting more proposals.

[2022-10-14 03:17] JmillsExpensify commented on #10939
Going to bump this issue up to $1000 to try and get more eyes on this one.

[2022-10-14 03:17] grgia commented on #11590
@chauchausoup which version are you testing on?

[2022-10-14 03:18] JmillsExpensify commented on #10875
Doubling the price to $1000.

[2022-10-14 03:19] JmillsExpensify commented on #10824
Still waiting on proposals

[2022-10-14 03:22] JmillsExpensify commented on #10765
Awesome, thank you! @Santhosh-Sellavel just waiting on you to apply.

[2022-10-14 03:23] JmillsExpensify commented on #10632
Doubling the price to encourage proposals.

[2022-10-14 03:38] sobitneupane commented on #11671
@tienifr Thank you for the proposal. But we are looking for proposals that removes the use of `setTimeout()`. And we believe there must be a way to tackle this issue without the use of `setTimeout()`

[2022-10-14 03:42] tienifr commented on #11403
Hi @tgolen. I have some update about your question

1. I have spent time to research a new approach for this issue but I can not see any way can work. So with me, current solution is the only way
2. and 3. Thanks for your agreement please tell me if the 1. issue is approved

[2022-10-14 04:20] Christinadobrzyn commented on #11823
User example of this behaviour - user is trying to drag & drop a doc for bank verification and it's creating an expense instead. https://github.com/Expensify/Expensify/issues/233722

[2022-10-14 05:14] Santhosh-Sellavel commented on #10875
@JmillsExpensify We should had cap the price at $500

[2022-10-14 05:35] MonilBhavsar commented on #11727
Yes, It doesn't seem like an issue and we want to fix it. So closing this for now.

[2022-10-14 05:35] #11727 closed

[2022-10-14 06:35] tienifr commented on #11126
# Proposal

## Problem
I see this is BE bug. Even when online (don't disable network connection), this issue still display. As the below video, when I change `notificationPreferences`, it call API update successfully. But when I reload page, It call OpenAPI and the response from this API is wrong

https://user-images.githubusercontent.com/113963320/195778502-a04a8e66-0877-4eab-bc27-494c1dbc937f.mp

[2022-10-14 06:37] mollfpr commented on #11801
### Proposal

_**Root cause**_
We scrolled the list whenever we select an option or the options list is changed.
https://github.com/Expensify/App/blob/7044ab2b96067081c8f67191e51fa859dba66d91/src/components/OptionsSelector/BaseOptionsSelector.js#L198

We also settings the `OptionList` to dismiss the keyboard when the list is scrolled.
https://github.com/Expensify/App/blob/7044ab2b96067081c8f67191e

[2022-10-14 07:21] Christinadobrzyn commented on #10663
Looks like this possible [fix](https://github.com/Expensify/App/issues/10608) is held for payment on Oct 20th. Should we just hold this open longer or close it now since it's not reproducible?

[2022-10-14 07:27] mollfpr commented on #11771
### Proposal

Adding `user-select: none` to the text input label style to prevent selected/highlighted style to the label.
[code]

https://user-images.githubusercontent.com/25520267/195786582-7e06a465-feab-44aa-a877-9abd560002b3.mov

https://user-images.githubusercontent.com/25520267/195787003-8af2e558-4a48-4447-96cc-b8a80cee744a.mp4

https://user-images.githubusercontent.com/25520267/195787864-9b

[2022-10-14 07:46] mananjadhav commented on #11732
Thanks for the clarification @marcaaron.

@hungvu193's proposal [here](https://github.com/Expensify/App/issues/11732#issuecomment-1277963871) looks fine to me. @pecanoro All yours.

🎀 👀 🎀 
C+ reviewed

[2022-10-14 07:49] mananjadhav commented on #10663
I think we can wait for one more KI test. The previous one (2nd week) said not reproducible, but it was reproducible back then. So may be after one more KI test we can close. What do you think @rushatgabhane @Julesssss  ?

[2022-10-14 07:50] gadhiyamanan commented on #11207
bump @marcaaron  ^^

[2022-10-14 08:02] mdneyazahmad commented on #10663
@mananjadhav What do you think about this https://github.com/Expensify/App/issues/11809. Is that even an issue, and is related to this PR https://github.com/Expensify/App/pull/11714? If not then I think this issue is fixed.

[2022-10-14 08:07] Puneet-here commented on #11386
Should I create the PR? The hiring process can be done later.

[2022-10-14 08:10] mdneyazahmad commented on #10486
Sorry for the delay. I will update it sometime today. Thanks!

[2022-10-14 08:14] mananjadhav commented on #10663
I feel 11809, can be another issue related to Animation consistency. I am not sure if we would count it related to 11714. Are you suggesting 11809 and this current one is the same?

[2022-10-14 08:17] dylanexpensify commented on #11336
@aimane-chnaif any update?

[2022-10-14 08:28] MonilBhavsar commented on #11382
@kbecciv could you please check this comment https://github.com/Expensify/App/issues/11382#issuecomment-1274208079
Thank you!

Also, bumoing it to weekly since it is not reproducible on latest version and not a blocking issue

[2022-10-14 08:45] thesahindia commented on #11386
Yeah let's move forward.

[2022-10-14 09:31] madmax330 commented on #11807
Yeah they should be synced, not sure why mobile isn't receiving the updates. Maybe we're not sending the updates for this action via Pusher?
I think this should be internal

[2022-10-14 09:39] tienifr commented on #11427
@shawnborton thanks for your comment. I have some update to design change

1) To hide the back button in `ResendValidationForm` I have added to it the props `shouldHideBackButton` and we will render back button if this props is false
2) In order to make a green resend link button match the full width style from the previous screen, I add `styles.flex1` for this button and set medium props of it to

[2022-10-14 09:39] Christinadobrzyn commented on #11283
Can this be moved to weekly?

[2022-10-14 09:40] Christinadobrzyn commented on #11064
@stitesExpensify is ooo this week so let's hold on this another week.

[2022-10-14 09:46] hungvu193 commented on #11822
I also can't reproduce this on iPhone 14 pro and Iphone 12, tested on latest code on main branch.

[2022-10-14 09:48] Julesssss commented on #11825
Nice spot. Confirmed that we'll need to re-show the FAB New Workspace option.

[2022-10-14 10:17] mountiny commented on #11010
Whats the conclusion here, :do-nothing: or try to implement some logic which checks if they got this same message recently? In such case, I think it would be beneficial to take that to a new issue with clear P/S.

[2022-10-14 11:05] Julesssss opened #11840 "[$250] Bug: Draft message is persisted across chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1) Open any chat
2) Type a message but do not send it
3) Switch to another chat

## Expected Result:
4) No draft message is shown

[2022-10-14 11:06] OSBotify commented on #11840
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-14 11:32] parasharrajat commented on #4733
@lbaldy I reviewed your proposal.
- Is it working fine on the Web and desktop?
- Do you have to see any optimizations that can be made to the existing InlineCodeBlock?
- How will it affect the final rendering? Take a look at the WrappedText and please present an example of the final rendering for any string in the form of a matrix. We are rendering rows and then columns.

[2022-10-14 11:34] parasharrajat commented on #11507
Maybe this is happening due to safari browser versions. What is your version of IOS and safari? and @Puneet-here What is yours?

[2022-10-14 11:39] parasharrajat commented on #11405
No proposals

[2022-10-14 11:43] parasharrajat commented on #11382
I think we can just close this issue we this is not happening on the latest safari versions. Because technically this is not a bug but UI stuff. I am sure that with time more users will be forced to use the latest safari versions and this is a low priority.

[2022-10-14 11:43] MonilBhavsar commented on #11807
cc @aldo-expensify If you have any idea about this issue or can take a look

[2022-10-14 11:44] parasharrajat commented on #11507
Let me test it.

[2022-10-14 11:46] Puneet-here commented on #11507
It's working for me. I am on ios 16.0

[2022-10-14 11:49] Puneet-here commented on #11507
https://user-images.githubusercontent.com/101883770/195839940-e5d90aad-70b2-4399-8cc0-c00fbc804d5b.mov

[2022-10-14 11:52] OSBotify commented on #11830
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.15-2 :rocket:

[2022-10-14 11:58] mdneyazahmad commented on #4733
@parasharrajat @lbaldy proposal is equivalent to @sobitneupane proposal both splits the text into letters and then render.

[code]

https://github.com/Expensify/App/blob/7044ab2b96067081c8f67191e51fa859dba66d91/src/components/InlineCodeBlock/WrappedText.js#L18-L20

This will split `uFEFF`, and the result will contain an array of letters. Thanks!

[2022-10-14 12:01] Julesssss commented on #11840
Okay so yeah. [This PR](https://github.com/Expensify/App/pull/11550/) seems to optimize rendering when switching between reports, but has introduced an issue where the draft is persisted, and then set for the new report.

[2022-10-14 12:05] lbaldy commented on #4733
@mdneyazahmad  isn't solution proposed by @sobitneupane rendering each character in a separate <Text> tag - operating on an array? My solution isn't doing that. I am doing a join afterwards. Am I missing something from your comment?

[2022-10-14 12:07] Beamanator commented on #11334
@rushatgabhane can you check out the last comment to make sure the chosen proposal will work?

[2022-10-14 12:08] Beamanator commented on #11758
Veeeery interesting, this seems like a difficult one to debug but let's see if some contributors can figure it out 👍 👍

[2022-10-14 12:12] parasharrajat commented on #11507
Unfortunately, I currently don't own an iPhone(looking to buy a new one soon) and use an emulator.

The focus was working for me on iOS 15 as well(simulator). let me ask someone to test it on their device.

[2022-10-14 12:14] Beamanator commented on #11341
Those all look good to me, I think we should get @Expensify/design 's opinion on the first point:
- Currently the "Close Account" page's 'Close account' button is disabled until the user types in their exact default contact method. Should we keep it this way or should we make it always enabled, and just show an error if the contact method they enter isn't exactly like their default contact method?

[2022-10-14 12:15] parasharrajat commented on #11507
If this proves the differences between simulators and real devices, then I will discuss this internally.

[2022-10-14 12:23] parasharrajat commented on #4733
There are minor differences in each proposal. Thanks for the concerns @mdneyazahmad

[2022-10-14 12:25] flaviadefaria commented on #11010
Hm ok, if we cannot differentiate the policy name then I'd prefer to do nothing. In the future, we might want to prevent policies from being created with the exact same name as this only adds confusion. We could update the policy-creating flow so that when creating a new policy we'd flag the field in red and not allow the user to proceed until they'd updated to a different name. This would be simi

[2022-10-14 12:25] #11010 closed

[2022-10-14 12:34] chauchausoup commented on #11590
@grgia I am testing it with https://staging.new.expensify.com/ web app and IOS app from app store.

[2022-10-14 12:39] fedirjh commented on #11671
@sobitneupane this issue exists in staging & production , it displays the sum of unread reports from previous and active account , you can reproduce it by using two accounts whit unread count :

1. Open the app on web.
2. Login with any account that has some unread messages.
3. Observe there are unread message count on the Tab.
4. Do not go to the chat that has unread messages.
5. Now Sign out.
6.

[2022-10-14 12:42] trjExpensify commented on #11709
Not at all. That's a bug! We need a name so the Guides know who to ask for.

[2022-10-14 12:44] trjExpensify commented on #11447
Yep! When I go to pay you out, I'll add that.

[2022-10-14 12:45] gadhiyamanan commented on #11507
not working on ios 16 for me . might be related to this [slack conversation](https://expensify.slack.com/archives/C01GTK53T8Q/p1664449884247079)

**NOTE:**  keyboard does not open on new chat or new group for me

https://user-images.githubusercontent.com/54790231/195849621-7045f648-f38d-4518-b050-c9a7cdb65145.mov

[2022-10-14 12:48] Beamanator commented on #11758
Wow great catch thanks @aimane-chnaif !

[2022-10-14 12:48] #11758 closed

[2022-10-14 12:50] Beamanator commented on #11581
On hold for WhatsApp Quality

[2022-10-14 12:50] Beamanator commented on #11580
On hold for WhatsApp Quality

[2022-10-14 12:51] Beamanator commented on #11579
On hold for WhatsApp Quality

[2022-10-14 12:51] Beamanator commented on #11578
On hold for WhatsApp Quality

[2022-10-14 12:51] Beamanator commented on #11576
On hold for WhatsApp Quality

[2022-10-14 12:51] Beamanator commented on #11575
On hold for WhatsApp Quality

[2022-10-14 12:51] Beamanator commented on #11574
On hold for WhatsApp Quality

[2022-10-14 12:51] Beamanator commented on #11572
On hold for WhatsApp Quality

[2022-10-14 12:54] Julesssss commented on #11840
Looking at the [library](https://github.com/software-mansion/react-freeze/), I'm not sure what the best solution is here. Commenting out [this line](https://github.com/Expensify/App/pull/11550/files#diff-7f24c59a03f8aced02f27c1a5916af530a7e2355b4afe765c9939c7bb20b28a9R134) solves the bug (as well as reverting), but I think we have time to await a true fix given that a Friday deploy is unlikely.

[2022-10-14 12:57] vladamx commented on #11732
@marcaaron @mananjadhav

Wouldn't it be better if we save login email to async storage so it can survive screen remounts if by any means it gets recycled by the OS during context switching like user receiving a call etc...

Also we could use the value from storage to autofill previously logged-in user if user signs out.

Just not clearing the input is OKish but not really bulletproof

[2022-10-14 12:58] thesahindia commented on #11507
We have a similar issue for some other pages( https://github.com/Expensify/App/issues/11089 )

[2022-10-14 13:01] Beamanator commented on #11577
On hold for WhatsApp Quality

[2022-10-14 13:05] Beamanator commented on #11437
PR under review, should be merged soon 👍

[2022-10-14 13:07] Beamanator commented on #11321
Waiting on proposals, I think we can double this to make it more enticing @kadiealexander

[2022-10-14 13:10] mollfpr commented on #11312
It's `option+shift+cmd+v` on my Safari `Version 16.0 (17614.1.25.9.10, 17614)`.

<img width="382" alt="Screen Shot 2022-10-14 at 20 09 15" src="https://user-images.githubusercontent.com/25520267/195854873-a41275f3-2183-4cbe-bb3c-515e366291a0.png">

[2022-10-14 13:19] parasharrajat commented on #11507
Is anyone interested to suggest a solution that works on both real devices and simulators? Then I will be able to analyze this and propose a general process to tackle such issues.

Note: this is a personal request, I do not guarantee any compensation for that.

[2022-10-14 13:20] parasharrajat commented on #11760
Will review it today.

[2022-10-14 13:35] kevinksullivan commented on #10975
@chauchausoup can you apply to the job for reporting please?

https://www.upwork.com/jobs/~0192ed6620b4aca209

[2022-10-14 13:36] michaelhaxhiu commented on #10893
Wait a second... maybe we shouldn't double actually, since we are laser-focused on delegating **bugs** to contributors right now.

Let's pause on doubling. @b1tjoy's proposal is still valid for consideration though.

[2022-10-14 13:39] saivineeth100 commented on #11797
Ok , what about [This](https://expensify.slack.com/archives/C01GTK53T8Q/p1660192313363389)
This has similar security vulnerability

[2022-10-14 13:45] saivineeth100 commented on #11797
Ok , what about [This](https://expensify.slack.com/archives/C01GTK53T8Q/p1660192313363389)
![Screenshot_2022-10-14-19-14-47-415_com Slack](https://user-images.githubusercontent.com/64919520/195862114-f348a067-c1a0-4be3-bd51-b1f9961217e1.jpg)

This has similar security vulnerability

[2022-10-14 13:49] kavimuru commented on #11096
@abekkala There is another bug reported https://expensify.slack.com/archives/C01GTK53T8Q/p1665657234159879
Do you want me reopen this bug?

[2022-10-14 14:07] NikkiWines commented on #10893
Agreed on this, we shouldn't show the same view in both web + desktop. Maybe we could also have some sort of interstitial page like what Slack has, but that could be a follow up improvement.

<img width="538" alt="Screen Shot 2022-10-14 at 16 05 38" src="https://user-images.githubusercontent.com/16747822/195866823-c65d5d6e-ce0a-4b79-8858-ab71d3f84fde.png">

[2022-10-14 14:17] Uros787 commented on #11461
@mananjadhav @trjExpensify pr created.

[2022-10-14 14:22] NikkiWines commented on #11424
Looks good! @joekaufmanexpensify can we hire @aimane-chnaif for this job, please? Thank you!

[2022-10-14 14:23] kavimuru opened #11843 "Bug: shows add account number page for a second while click on connect bank account reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to workspace> issue cards >connect bank account > connect manually
2. Go back to previous screens
3. Again click on issue

[2022-10-14 14:33] sobitneupane commented on #11486
@danishyasin33 @fedirjh

Proposals above might fix the issue. But both of them look quite hacky to me.

I believe the best course of action will be to remove `whiteSpace: 'nowrap',` line which cause this issue(introduced in https://github.com/Expensify/App/pull/10504 PR to solve issue mentioned [here](https://github.com/Expensify/App/issues/11486#issuecomment-1276957645)) and find a way to resolve

[2022-10-14 14:45] kavimuru opened #11844 "[$1000] Bug: Not seeing expand button after reaching third row in ios reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open app in iOS
2. Navigate to a chat
3. Fill first two rows and add few more characters to reach the third row

## Expected

[2022-10-14 14:49] shawnborton commented on #11427
Awesome, thanks for the update!

After reviewing this again, I actually think we can just remove the "Resend link" button from this final screen, as you can simply just go back one step to access the Resend Button from the screen before. Thoughts? Otherwise it feels strange that you might end up in a infinite loop of these buttons.

[2022-10-14 14:55] NikkiWines commented on #11424
I'd say `onFixTheErrorsLinkPressed`

[2022-10-14 15:22] mateocole commented on #11786
@kavimuru actually i am not able to reproduce this on chrome, hmmm... perhaps try clearing your cache and see if this persists?

[2022-10-14 15:22] parasharrajat commented on #11283
Thanks for waiting. @getusha this works for the issue but creates a UI inconsistency. If we look closely, there are two borders now. One blue and one gray. This does not look good.

![image](https://user-images.githubusercontent.com/24370807/195882966-0d61ca95-7cab-4809-a65e-24769aa849b4.png)

May this is fine. What do you think about the checkbox focused state above @shawnborton ?

[2022-10-14 15:24] joelbettner commented on #11800
It would be good to know if there are any noticeable affects on the actual user experience, but I do agree that we should make sure we aren't throwing any errors in the console. Going to add the "external" label.

[2022-10-14 15:29] shawnborton commented on #11283
I think that's fine - the gray border is part of the UI element. If we wanted this to look nicer, we could apply some border radius to the blue outline but I'm not sure how that would work.

[2022-10-14 15:30] kbecciv opened #11845 "[$250] Web - Reimburse expenses - Offline save changes are not reflected immediately"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to Settings->Workspace-Reimburse expenses
4. Kill

[2022-10-14 15:33] Santhosh-Sellavel commented on #10632
Thanks, @mollfpr.

@roryabraham @michelle-thompson
Seems the highlight is already available, it's not visible clearly as @mollfpr said.

Interesting how are we gonna show context for this case?

[2022-10-14 15:38] parasharrajat commented on #11320
This is happening on Chromium-based browsers.
Chrome
![image](https://user-images.githubusercontent.com/24370807/195886122-d659eff3-d7ef-4c15-a2e1-d33555240039.png)

Firefox
![image](https://user-images.githubusercontent.com/24370807/195886168-053fa141-7f21-47ae-be8b-251ab73a47d4.png)

[2022-10-14 15:38] Julesssss commented on #11632
Awaiting a review from @thesahindia, dropping the priority to weekly

[2022-10-14 15:40] Julesssss commented on #11241
@laurenreidexpensify could you please double the bounty. Thanks

[2022-10-14 15:43] getusha commented on #11283
That's right if we apply some border radius equivalent to the gray border, it will fit.

[2022-10-14 15:44] sketchydroide commented on #11202
I can no longer replicate this, neither in staging or dev.
I do get duplicated Messages, but I think that is a different issue and the changes on the sequenceNumber

![Screenshot 2022-10-14 at 16 37 11](https://user-images.githubusercontent.com/242568/195887295-71162aee-e0cb-431a-9f85-650b7b3cb0eb.png)

[2022-10-14 15:52] amyevans commented on #11783
Toggling back and forth and still working okay for me:

https://user-images.githubusercontent.com/7277067/195888631-e1406471-a5c4-4964-9a22-deb8423f6689.mov

Maybe chrome version? I'm on `Version 106.0.5249.119 (Official Build) (arm64)`.

I'm really not sure...

[2022-10-14 16:00] kbecciv opened #11848 "[$250] Chat - The number 1 in the name is lost and is not displayed in another user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Use123 numbers for your account Name under Settings
1. Open URL https://staging.new.expensify.com/
2. Login with an

[2022-10-14 16:01] Santhosh-Sellavel commented on #7968
@tsa321

This is expected behavior not a problem!

[2022-10-14 16:08] marcaaron commented on #11671
@fedirjh In the correct design the reports should be "cleared" already - there should be no reason to manually clear them before calling `Onyx.clear()`

[2022-10-14 16:10] Santhosh-Sellavel commented on #7860
@LucioChavezFuentes Thanks for the Well-written proposal! 🙇
Post-fix video looks promising.

[2022-10-14 16:11] marcaaron commented on #11671
@tienifr your solution has the same problem as @fedirjh - my expectation is that if we clear data with Onyx that any subscribers that set local values should have those values cleared automatically.

[2022-10-14 16:13] fedirjh commented on #11486
@sobitneupane may i ask a question here , what is the utility of setting the width of the `tooltipWrapper` to the tooltip width , we can just set `width:auto;` and add maxWidth

https://github.com/Expensify/App/blob/dfb5bca05a5b12e62ec86520819fd5a4ac66e405/src/styles/getTooltipStyles.js#L116-L124

[code]

then we can remove the whiteSpace
https://github.com/Expensify/App/blob/dfb5bca05a5b12e62ec86

[2022-10-14 16:13] kavimuru opened #11850 "[$1000] [HOLD for payment 2022-12-20] BUG: Offline requests are triggered after signing out"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to new.expensify.com.
2. Enter email. Click Continue.
3. Enter password. Click Signin.
5. Press command + option + J to op

[2022-10-14 16:17] sketchydroide commented on #11237
demoting this to weekly, as I don't think this is happening anymore.

@kbecciv can your team take a look to see if it still happens?

[2022-10-14 16:17] sketchydroide commented on #11202
@kbecciv can your team take a look to see if it still happens?

[2022-10-14 16:24] adelekennedy commented on #11199
capping at 1k!

[2022-10-14 16:25] fedirjh commented on #11320
@parasharrajat Safari too

<img width="1332" alt="Untitled" src="https://user-images.githubusercontent.com/36869046/195894956-b2af432b-9782-4687-928a-c447dcf0ef84.png">

[2022-10-14 16:26] kavimuru opened #11851 "Bug: Section headers at emoji picker menu disappear on scrolling at Firefox reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open ND in Firefox browser on mobile
2. Navigate to a chat
3. Open emoji picker and scroll

## Expected Result:
The headers s

[2022-10-14 16:31] kavimuru opened #11852 "[HOLD for payment 2022-11-24] [$500] Bug: mWeb - Firefox - when you open a picker for the first time the popover blinks reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open ND in Firefox browser on mobile
2. Navigate to preferences
3. Tap on priority mode

## Expected Result:
The popover shou

[2022-10-14 16:33] marcaaron commented on #11840
Leaving a fix for this up - but not feeling well today. If anyone wants to take over testing for it feel free otherwise I'll pick it up on Monday.

[2022-10-14 16:35] getusha commented on #11283
It is not super important because we can see the same inconsistency on other components.
But we can achieve the consistency anyways.

https://github.com/Expensify/App/blob/11c44bbe15952b22f14fc9a63c60e33eb88f4902/src/components/Checkbox.js#L96
TO
[code]

Result

https://user-images.githubusercontent.com/75031127/195896738-ad74210b-1855-4082-b61f-27d1bb9a1bed.mp4

[2022-10-14 16:38] shawnborton commented on #11823
@JmillsExpensify for now I would suggest we just block the drag and drop action over the LHN, and only show feedback if the main chat pane is hovered. Will share screens shortly.

[2022-10-14 16:43] chiragsalian commented on #9971
Oh I can easily change the background or text color of the `+X`, can you share a mockup or maybe a color code for the background and text and i can update it.

[2022-10-14 16:47] chiragsalian commented on #9971
Ah neat, i didn't notice in the mockup it was just the building. Updated it to be like so,
![image](https://user-images.githubusercontent.com/14356145/195899415-6cbb732d-9869-4dd9-be3d-cc0ec3130a6a.png)

![image](https://user-images.githubusercontent.com/14356145/195899555-a4b11278-3348-40b1-893b-2775b76aeabb.png)

[2022-10-14 16:49] aldo-expensify commented on #11807
We are sending the pusher events to remove the workspace from the workspace owner here: https://github.com/Expensify/Web-Expensify/blob/1a494780e09845a37da08f631f67b81fabcc1bf5/lib/PolicyAPI.php#L4137-L4143

If you see the workspace being removed in the same device (web) that took the action, that is the pusher update event removing it. I don't know why the mobile device is missing it, but sounds

[2022-10-14 16:51] aldo-expensify commented on #11807
I would say a first step would be to make sure that pusher events don't get lost if the App is closed. It makes sense to me that they get lost in this case. If that is the case, I feel like the way around it is to bring the policy data again when you open the App.

[2022-10-14 16:52] shawnborton commented on #11823
Added a quick mock to the Slack thread, but here it is too:

![image](https://user-images.githubusercontent.com/2319350/195900474-454285c2-ca2f-4023-8133-602fc2d71d64.png)

[2022-10-14 16:53] aldo-expensify commented on #11807
Considering what I said, I think this can be `External`

[2022-10-14 16:53] shawnborton commented on #11283
That does look good, but a couple of comments:
- Is the checkbox UI component a native component? If so, I am guessing the border radius will differ based on platform
- I think we'd want to avoid using an inline style like your code has above

[2022-10-14 16:54] kavimuru opened #11854 "[HOLD for payment 2022-11-29] [$2000][Image] Attachments uploaded via camera lose their rotation, appears sideways."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to a DM
2. Tap plus in chat
3. Choose “add an attachment”
4. Chose “take a photo”
5. Take your photo, save

## Expected Re

[2022-10-14 16:56] shawnborton commented on #9971
@chiragsalian you can take our darkest brand navy color (#0B1B34) and use it at 64% opacity. Bonus points if we can make that into a color variable/reusable style. Then the number (+X) should just remain in white like it currently is.

[2022-10-14 16:59] parasharrajat commented on #11320
Yeah @fedirjh , Safari is chromium based browser.

I have a better proposal. This is happening due to `flex:1` https://github.com/Expensify/App/blob/7044ab2b96067081c8f67191e51fa859dba66d91/src/styles/styles.js#L79

I traced back this change and it was added by me in https://github.com/Expensify/App/pull/5364.

As I mentioned in the [proposal](https://github.com/Expensify/App/issues/5008#issuecomm

[2022-10-14 17:05] kbecciv opened #11855 "Workspace - No growls in workspace option when the user is offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the New expensify app
2. Sign into a valid account
3. Tap on Profile > Workspace - Reimburse expense
4. Turn ON airplane

[2022-10-14 17:06] OSBotify commented on #11855
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-14 17:09] kbecciv opened #11856 "[HOLD for Regression Test] Web - Chat - After refreshing the page, the input field is initially missing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to any chat
4. Refresh the page

## Expected Resu

[2022-10-14 17:11] parasharrajat commented on #11283
Yeah, that I think just for quick testing.

Very good point. Now, I am thinking about what should be the effect on Native. Checking...

[2022-10-14 17:11] roryabraham commented on #10698
Pr merged

[2022-10-14 17:12] mallenexpensify commented on #10414
Is the issue I'm facing the same as this one?
On desktop, staging, v1.2.15-2
- Follow repro steps in OP
- After clicking a new chat, cursor isn't focused on compose box, unable to start typing immediately, have to click compose box to do so.

Same for when I click on a chat in LHN, cursor doesn't show in compose box

[2022-10-14 17:12] parasharrajat commented on #11856
Should be marked as regression.

[2022-10-14 17:12] Santhosh-Sellavel commented on #10283
@Uros787

why -200 is used here? Can you elaborate on how this would work?
Where is prop `onItemHeightChange`is passed to IOUPreview?

And is this the full proposal? please share the full proposal with all the changes please include snippets if possible it will help us review faster!

[2022-10-14 17:14] bondydaa commented on #11856
it's reproducible on production already so that's why there's no deploy blocker

[2022-10-14 17:14] parasharrajat commented on #11283
Ok, it does not affect natives. Native does not show a blue border for the focused state.

[2022-10-14 17:15] getusha commented on #11283
1. I think It is custom UI component and not Native component
2. It was for quick testing as @parasharrajat said

[2022-10-14 17:15] shawnborton commented on #11283
Sounds good, thanks for confirming

[2022-10-14 17:21] roryabraham commented on #11786
This is not a bug, it's a feature request. You're just seeing the markdown format of the link like `[text](url)`, but when the text and url are the same it looks like `[url](url)`. So the new feature would be something like "strip markdown links from pasted text if the text portion of the url matches the full url"

Will ask whether this is a change we want to push forward

[2022-10-14 17:26] kbecciv opened #11858 "[$500] New chat - Composed box is displayed in the middle of page when open a user that don't have any messages with"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app
2. Log in with any account
3. Click on the green + button
4. Click on the "New Chat" option
5. Search for a user

[2022-10-14 17:26] OSBotify commented on #11858
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-14 17:28] shawnborton commented on #9971
Ah sorry - yes, the point is that it would show on top of an avatar behind it, like so:
<img width="868" alt="image" src="https://user-images.githubusercontent.com/2319350/195906257-2da452cf-5bfe-4712-a19e-a3070f21f099.png">

[2022-10-14 17:28] kbecciv opened #11859 "Android\IOS - Unable to move cursor to the place I want after copy the URL"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Select any user and type any URL
4. Copy the URl and paste on composed box
5. Try

[2022-10-14 17:28] parasharrajat commented on #11320
let me test this on IOS and safari web.

[2022-10-14 17:28] JmillsExpensify commented on #11854
@arielgreen I'm going to take this one from you if you don't mind! 😄

[2022-10-14 17:29] Santhosh-Sellavel commented on #11268
Maybe we got this issue incorrectly. Copy the contents below block and send as a message in Newdot
[code]

Sent as
<img width="731" alt="Screenshot 2022-10-14 at 10 53 42 PM" src="https://user-images.githubusercontent.com/85645967/195905622-f21cca96-8d7a-4d7c-8760-a82d35f04646.png">

Which contains `* & _`, the expectation is it should not contain them, which is reported as an issue here.

### Vid

[2022-10-14 17:30] Santhosh-Sellavel commented on #10737
Wait for proposals. @roryabraham What's the latest occurrence of this issue can you check in crashlytics?

[2022-10-14 17:31] chiragsalian commented on #9971
oh that's different than the mockup in the issue description 💩

oh, you want to show the 4rth avatar behind the `+X`. Interesting, okay I'll update it.

There is another difference here vs the mockup and i wasn't sure which one to use. In the mockup the first avatar is behind the second one, while here it is inverse i.e., first avatar is above the second. Which one is the preference?

[2022-10-14 17:32] Santhosh-Sellavel commented on #9581
ON Hold

[2022-10-14 17:32] Santhosh-Sellavel commented on #9734
on hold

[2022-10-14 17:32] roryabraham commented on #11786
Chatting internally about this [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1665768733905399)

[2022-10-14 17:33] trjExpensify commented on #10221
@parasharrajat - paid!

[2022-10-14 17:33] #10221 closed

[2022-10-14 17:36] parasharrajat commented on #10414
That sounds like a new issue and I saw a bug report for it somewhere. This issue is concerned on the search box on the new chat and new group page.

[2022-10-14 17:39] roryabraham commented on #10632
Correct. Good point – it might not be so much scrolling as pushing the whole `ReportActionsView` up to keep it in view. But let's imagine we make that change, and then you long-press on the top chat. Pushing it up would push it out of view, so you'd actually have to scroll up to keep it visible.

Good point, I didn't notice this. Almost seems like we'd want the blurred overlay to happen everywhere

[2022-10-14 17:40] yuwenmemon commented on #11840
Sure thing! Feel better @marcaaron!

[2022-10-14 17:41] bondydaa commented on #11856
just looking at recent PRs these could be related

https://github.com/Expensify/App/pull/11217
https://github.com/Expensify/App/pull/10591

those both of those are pretty old.

[2022-10-14 17:41] bondydaa commented on #11856
cc @jasperhuangg

[2022-10-14 17:41] getusha commented on #11283
Please let me know if I am assigned for this task so that I can submit the proposal UW. Thanks.

[2022-10-14 17:42] marcochavezf commented on #11413
Changing it to `Weekly`

[2022-10-14 17:47] parasharrajat commented on #11283
@getusha Still there is one Ui glitch in your proposal.  I noticed that zoomed view does not show that issue. So we don't see it in https://github.com/Expensify/App/issues/11283#issuecomment-1279228612.

Chome
![image](https://user-images.githubusercontent.com/24370807/195909189-f56e1c4a-6275-437e-8c8d-01db0ce3ec6b.png)
firefox
![image](https://user-images.githubusercontent.com/24370807/195909294-

[2022-10-14 17:47] kavimuru opened #11860 "Bug: Composer isn't getting auto focused on switching chatsreported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Try switching chats

## Expected Result:
The composer should get auto focused

## Actual Result:
It isn't getting auto focused

[2022-10-14 17:48] kbecciv commented on #11796
@PauloGasparSv There is another error message in Web when using "Plaid"  option, please let me know if we need to  create a new GH issue for that.

https://user-images.githubusercontent.com/93399543/195909350-1cc2880d-3923-41ec-86d0-048e60312a2c.mp4

[2022-10-14 17:49] MitchExpensify commented on #11411
Ugh I hate how Upwork auto closes jobs.

I've invited you to [a duplicate post here](https://www.upwork.com/jobs/~010c3ed2a100dee31c) @gadhiyamanan

And I'll use the [original Upwork job](https://www.upwork.com/jobs/~0115986e6067b7ce58) to issue payment to you both @thesahindia & @sobitneupane

[2022-10-14 17:49] thesahindia commented on #11860
Will be fixed at https://github.com/Expensify/App/pull/11853

[2022-10-14 17:49] kavimuru commented on #11860
Will be fixed here  #11853, so closing this one as per this [comment ](https://expensify.slack.com/archives/C01GTK53T8Q/p1665769546497809?thread_ts=1665759644.497429&cid=C01GTK53T8Q)

[2022-10-14 17:49] #11860 closed

[2022-10-14 17:49] arosiclair commented on #11855
This is expected behavior as a result of this PR: https://github.com/Expensify/App/pull/11614

[2022-10-14 17:49] #11855 closed

[2022-10-14 17:53] Santhosh-Sellavel commented on #10632
Yeah but this is how WhatsApp handles long presses on iOS
![IMG_CFD18AAEAA44-1](https://user-images.githubusercontent.com/85645967/195909264-5f519d58-2b62-4598-aefc-ab0889ba87cf.jpeg)

Just like Messages in iOS, blur out other messages.
https://user-images.githubusercontent.com/85645967/195909601-3c32273f-c9e0-450c-b176-41b7e9d667ea.MP4

But android it's a different story, they provide context opt

[2022-10-14 17:58] shawnborton commented on #11283
Do we need to worry about how zooming affects this? Does it look good at 100% zoom?

[2022-10-14 18:03] MitchExpensify commented on #10181
[Asked here](https://expensify.slack.com/archives/C02NK2DQWUX/p1665770562144299)

[2022-10-14 18:09] marcochavezf commented on #11336
Ah just to follow the established process, @mananjadhav do you agree with the solution? Can we consider it as C+ reviewed?

[2022-10-14 18:11] roryabraham commented on #11823
Cool, design LGTM let's get an upwork job created for this, then we can start accepting proposals.

[2022-10-14 18:14] mvtglobally commented on #11830
https://github.com/Expensify/App/pull/11831#issuecomment-1279318367

[2022-10-14 18:15] kidroca commented on #11724
Some metrics from the current `main` branch (069424538ad9ac0e03ec2af4f73c3b6c02e32e26)

Running `npm run web` to start web development

| **Item**                       |          **time** | **processed module count** |
|:--------------------------------|------------------:|---------------------------:|
| General output time            |  3min, 12.15 secs |                        n/a |
| babel-loa

[2022-10-14 18:15] PauloGasparSv commented on #11796
No need @kbecciv, this new error replaced the old right?
Sorry for taking so long to work on this, it's the very next item on my todo list : )

[2022-10-14 18:16] OSBotify commented on #11830
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11853) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.15-3` :rocket:

[2022-10-14 18:18] parasharrajat commented on #11823
Calling all proposals...lol

[2022-10-14 18:19] kavimuru commented on #11796
@PauloGasparSv  We are still seeing this error message in iOS though. But in the web, we are seeing the above error in step 4 of 5.

[2022-10-14 18:21] parasharrajat commented on #11283
The [above-posted](https://github.com/Expensify/App/issues/11283#issuecomment-1279295192) images are with 100% zoom (or no zoom at all) which does not look good to me.

This [video](https://github.com/Expensify/App/issues/11283#issuecomment-1279228612) is showing zoomed page.

[2022-10-14 18:26] thesahindia commented on #11632
I wasn't able to consistently repro this but yeah the [proposal](https://github.com/Expensify/App/issues/11632#issuecomment-1276039594) looks good to me and is working correctly.

C+ reviewed 🎀👀🎀

cc: @Julesssss

[2022-10-14 18:27] parasharrajat commented on #11760
Hmm, Thanks for the proposal @luispdev0328. But my question is why action is `undefined`. it does not make sense.

And even if some action is `null` or `undefined` why the error is not occurring at https://github.com/Expensify/App/blob/9b15fbcd10cbca05cb88f56f76a7d7b37e264f4b/src/pages/iou/IOUTransactions.js#L57-L58.
here we are using `action.originalMessage`

[2022-10-14 18:29] kavimuru opened #11863 "[$500] iOS -Members- The entered member in compose box is displayed twice and disappears"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app
2. Log in with expensifail account ([applausetester+0704sveta@applause.expensifail.com](mailto:applausetester+070

[2022-10-14 18:31] getusha commented on #11283
Is that deal breaker? @parasharrajat because as far as i see it is only happening when we switch the inputs with tab key right?

[2022-10-14 18:31] tgolen commented on #10905
Yeah, it's fine to remove it.

On Thu, Oct 13, 2022 at 4:04 PM Jason Li ***@***.***> wrote:

[2022-10-14 18:33] tgolen commented on #11312
Oh, no. I don't think this is about overwriting the shortcuts, no.

On Fri, Oct 14, 2022 at 7:20 AM Manan ***@***.***> wrote:

[2022-10-14 18:35] tgolen commented on #11268
That looks like something completely different than what this issue is about. We don't support GH markdown.

[2022-10-14 18:37] luispdev0328 commented on #11760
@parasharrajat , I think the error is occurring at
https://github.com/Expensify/App/blob/9b15fbcd10cbca05cb88f56f76a7d7b37e264f4b/src/pages/iou/IOUTransactions.js#L57-L58

So I mentioned the example in my solution.

[2022-10-14 18:37] roryabraham commented on #11823
Quick clarification – I'm going to ask that we display the `no-drop` cursor style if you drag a file into the app anywhere where it's not allowed, which for now should include the whole LHN

[2022-10-14 18:39] mvtglobally commented on #10272
@mallenexpensify @AndrewGable Looks like @adeel0202 is still able to repro this issue. We are not able to reproduce. Asked the team to double check as well.
Should we reopen this issue?
https://expensify.slack.com/archives/C01GTK53T8Q/p1662020087722169

[2022-10-14 18:41] fedirjh commented on #11671
@marcaaron thanks for clarification , the actual reports const is out of scope for the subscriber callback , then i would suggest those changes
https://github.com/Expensify/App/blob/299f07bfa29c0dd81a6126691aae29e161097baa/src/libs/UnreadIndicatorUpdater/index.js#L14 https://github.com/Expensify/App/blob/299f07bfa29c0dd81a6126691aae29e161097baa/src/libs/UnreadIndicatorUpdater/index.js#L25-L37

[co

[2022-10-14 18:42] strepanier03 commented on #11109
@youssef-lr - Just checking in on this, what are the next steps here to help move this forward? Are you at the testing phase still? Or is this something that can be closed because we can't reproduce?

[2022-10-14 18:45] getusha commented on #11283
We can improve that.
_removing the margin_ and just applying some padding to the checkbox like the following

https://github.com/Expensify/App/blob/11c44bbe15952b22f14fc9a63c60e33eb88f4902/src/components/Checkbox.js#L96
[code]

Result 100% Zoom

https://user-images.githubusercontent.com/75031127/195918199-18969996-951b-4674-9293-a9a7f1715ffc.mp4

It does look good now right?

[2022-10-14 18:45] strepanier03 commented on #11735
@youssef-lr - just a friendly bump here. Is this something you have the bandwidth to work on or should it go back to the pool?

[2022-10-14 18:46] bfitzexpensify commented on #11518
Upwork job [here](https://www.upwork.com/jobs/~01eb5f4bae4147b60c)

Reporting job [here](https://www.upwork.com/jobs/~01d2f79cedd4dcbb61) @thesahindia

[2022-10-14 18:49] parasharrajat commented on #11101
@aimane-chnaif do you have an updated proposal for not storing the files twice?

[2022-10-14 18:51] parasharrajat commented on #11823
And the report header as well. This is the default behavior of the browser. We are only listening for drop over report body and composer

[2022-10-14 18:52] arielgreen commented on #11261
@tienifr @gadhiyamanan can you please apply to this https://www.upwork.com/jobs/~0149a473eac3e26491

[2022-10-14 18:53] parasharrajat commented on #11283
Yeah. because the margin is a block style and takes its own place in the box modal (even if its 1px).

[2022-10-14 18:53] michaelhaxhiu commented on #11735
Heads up Youssef is OOO today and posted internally in #social. I'm sure
he'll get to it monday!

On Fri, Oct 14, 2022 at 2:45 PM Sheena Trepanier ***@***.***>
wrote:

--
Michael Haxhiu

[2022-10-14 18:55] joekaufmanexpensify commented on #11850
Having trouble reproducing this. @luacmartins , do I need to have the JS console open prior to logging out?

![2022-10-14_14-54-12 (1)](https://user-images.githubusercontent.com/54866469/195920551-302a68fa-0071-4f38-b0f1-c26db92001f4.gif)

[2022-10-14 18:58] parasharrajat commented on #11760
I am more interested to know about this. Because an action should be `null` or `undefined`. It means there is a real issue somewhere else that is tough to debug. These kinds of issues are something caused during new implementations/refactors and generally get fixed by the original author.

Let's wait to see if this is a serious one and then we can apply the workaround.

[2022-10-14 19:00] mananjadhav commented on #11336
Yeah we can consider this C+ Reviewed for @aimane-chnaif's proposal

[2022-10-14 19:08] getusha commented on #11283
I believe the above code will improve that.

[2022-10-14 19:09] mallenexpensify commented on #11403
Thanks @aimane-chnaif . Unable to reproduce. It appears https://github.com/Expensify/App/issues/10555 is the first reported bug so this report from @thesahindia doesn't appear to be eligible for compensation.  Sound right?  Anyone else due compensation? Double checking before closing

[2022-10-14 19:12] Tushu17 commented on #11840
Reporting compensation is pending here. can you reopen this issue.
cc- @Julesssss

[2022-10-14 19:13] thesahindia commented on #11529
You can this:-

Routing number: 041215032
Account number: 12345678

[2022-10-14 19:19] mvtglobally commented on #11830
@Julesssss @yuwenmemon
Regression is completed.

Open blocker
 #11858

PR https://github.com/Expensify/App/pull/11831#issuecomment-1279318367 is partially blocked
We are checking CP

[2022-10-14 19:22] luacmartins commented on #11126
Thanks for the investigation. I'll take a look at our backend.

[2022-10-14 19:25] joelbettner commented on #11863
Definitely a bug worth fixing. That is some weird auto complete behavior.

[2022-10-14 19:25] joekaufmanexpensify commented on #11424
Sounds good! Going to:

- Create the upwork job.
- Hire @varshamb for reporting the bug.
- Hire @aimane-chnaif to fix the bug.
- Hire @parasharrajat as C+

[2022-10-14 19:27] mananjadhav commented on #11403
@mallenexpensify I had some query related to this. Asked [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1665775098505089?thread_ts=1665770562.144299&cid=C02NK2DQWUX) and tagged you.

[2022-10-14 19:30] joekaufmanexpensify commented on #11424
Job is [here](https://www.upwork.com/jobs/~016616e7640e850846).

[2022-10-14 19:33] MitchExpensify commented on #11093
Doubled!

[2022-10-14 19:36] JmillsExpensify commented on #11709
Ok cool! Moving this through the process.

[2022-10-14 19:36] PauloGasparSv commented on #11858
Could not reproduce the error locally or in my physical devices using the latest App version from TestFlight.
Closing this blocker for now!

cc @yuwenmemon

[2022-10-14 19:38] PauloGasparSv commented on #11830
Could not reproduce the blocker https://github.com/Expensify/App/issues/11858 locally or in my physical devices pointing to staging using the latest versions from TestFlight. @yuwenmemon also could not reproduce the error.

Closing and checking it off.

[2022-10-14 19:42] tgolen commented on #10273
Reviews are happening! There was just a minor bug introduced with some styles on the login page, but it's in final review now.

[2022-10-14 19:43] joekaufmanexpensify commented on #11424
@varshamb offer sent!

[2022-10-14 19:44] OSBotify commented on #11830
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.15-3 has been deployed to staging :tada:

[2022-10-14 19:44] PauloGasparSv commented on #11796
No way, there is another window of time where the service is unavailable! 🤦🤦🤦
I'll only have time to look at it on Monday because of that, sorry!

So from 9AM to 11AM ET and from 3PM to 5PM ET the service is down.
Which means I have 11AM to 3PM ET (12PM to 16PM BRT) to debug this on Monday

<img width="501" alt="image" src="https://user-images.githubusercontent.com/6564265/195928716-00a0774a-f88f-

[2022-10-14 19:45] joekaufmanexpensify commented on #11424
@parasharrajat offer sent!

[2022-10-14 19:47] kavimuru opened #11865 "Android - New Room - The name of the room is underlined when creating"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Login with Expensify account
3. Click on FAB button->New Room
4. Start typing a name for the room

## Expected

[2022-10-14 19:48] joekaufmanexpensify commented on #11424
@aimane-chnaif offer sent!

[2022-10-14 19:51] kavimuru opened #11866 "Web - Workspace - Plaid and connect manually option are not displayed in offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Login with Expensifail account
3. Begin the process of adding a bank account but e

[2022-10-14 19:57] kavimuru opened #11867 "[HOLD] [$250] iOS -Chat - When using extension in compose box the focus disappears"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app
2. Log in with any account
3. Navigate to any conversation
4. Focus on the compose box and start typing in a quic

[2022-10-14 20:17] grgia commented on #11783
I'm on `Version 106.0.5249.119 (Official Build) (arm64)` as well. I'm still able to reproduce, and I also notice that I'm getting the "is typing..." on my phone despite being offline on chrome. I'm assuming that the pusher websockets aren't being disabled, but that seems to be an issue with chrome? Or somehow our implementation is getting around chrome's [disabling of websockets ](https://develope

[2022-10-14 20:19] grgia commented on #11783
@roryabraham I know you've worked on the offline projects, do you have any ideas for why/what could be happening?

[2022-10-14 20:19] bondydaa commented on #11856
tossing this to the pool as I'm not the most qualified to handle this

[2022-10-14 20:19] techievivek commented on #11707
This can be worked externally, so passing it to lovely contributors to lend a helping hand.

[2022-10-14 20:23] yuwenmemon commented on #11830
:shipit:

[2022-10-14 20:23] #11830 closed

[2022-10-14 20:27] andrewlor commented on #10263
@michaelhaxhiu Sorry, having trouble coming up with something for native so far. Feel free to accept other proposals if someone else can come up with something.

[2022-10-14 20:28] kavimuru opened #11872 "Web - LHN - The red dot appears in the chat after opening it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/

2. Login with any account
3. Navigate to any chat
4. Leave a draft in the input

[2022-10-14 20:29] OSBotify opened #11873 "Deploy Checklist: New Expensify 2022-10-14"
**Release Version:** ``
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [ ] https://github.com/Expensify/App/pull/10418
- [ ] https://github.com/Expensify/App/pull/10465
- [ ] https://github.com/Expensify/App/pull/10540
- [ ] https://github.com/Expensify/App/pull/10545
- [ ] https://github.com

[2022-10-14 20:29] OSBotify commented on #11872
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-14 20:30] michaelhaxhiu commented on #10263
Thanks for giving it a try. This is open for all still, including you 👍

[2022-10-14 20:33] Luke9389 commented on #11733
@aimane-chnaif, please be careful here. [There is a known issue](https://github.com/Expensify/App/issues/10539) that we've linked to that is caused by using `height`. Are you really 100% positive that you checked that problem?

I do agree that we should wait on [this PR](https://github.com/Expensify/App/pull/11586) to be merged. If the issue is still happening, I'd prefer to go with option 2 from

[2022-10-14 20:52] Luke9389 commented on #11171
Hmm, OK I guess we're back open for proposals!

[2022-10-14 20:54] Luke9389 commented on #11195
@mollfpr is working on a PR. Not overdue.

[2022-10-14 21:03] kbecciv opened #11874 "Web -Payments - Connect Bank account -The user sees a password field when add VBA"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to Settings > Payment
4. Click "Add payment metho

[2022-10-14 21:06] chiragsalian commented on #11815
Ah yup part of it looks like a bug,
Not a bug - we definitely cannot get username information and their actual avatar when offline.
A bug - we should be showing default avatar when we don't have actual avatar information. This should be addressed in this issue.

My plate is a bit full so I'm not taking this on but it should be straightforward to test and fix locally.

[2022-10-14 21:06] neil-marcellini commented on #11872
@kavimuru Could you please open the chat with the red error indicator and see if it loads and displays any errors? Also opening the devtools (command+option+i) and clicking the Network tab before opening the report would be great.

The reportID is `7327969733890982`. If I supportal into [applausetester+2409@applause.expensifail.com](mailto:applausetester+2409@applause.expensifail.com) on staging a

[2022-10-14 21:08] 1notchdev commented on #11636
@strepanier03 , I think PR is on production now.

[2022-10-14 21:11] neil-marcellini commented on #11872
I'm seeing if someone else can pick this up in Slack.

[2022-10-14 21:12] parasharrajat commented on #11733
fine with me.

[2022-10-14 21:13] shawnborton commented on #9971
Good eye! I think it makes more sense to have "last on top" like this (my bad for the bad original screenies)
<img width="588" alt="image" src="https://user-images.githubusercontent.com/2319350/195944873-fec95617-c052-403d-968d-9f8e42b09823.png">

[2022-10-14 21:15] neil-marcellini commented on #11872
We decided to close this [here](https://expensify.slack.com/archives/C07J32337/p1665782063552299?thread_ts=1665782015.562949&cid=C07J32337).

[2022-10-14 21:15] #11872 closed

[2022-10-14 21:29] chiragsalian commented on #9971
Okay cool cool 👍 Thanks for the clarification

[2022-10-14 21:38] alex-mechler commented on #11778
@kbecciv did you hear back from the team?

[2022-10-14 21:46] stephanieelliott commented on #10283
I'm OOO til 10/25, reapplied the `External` label to get a new CME/BZ team member! Thanks @johncschuster

[2022-10-14 21:53] chiragsalian commented on #9971
The order is last on top. Btw yeah it makes more sense to have last on top so that the number doesn't get clipped. I made the number bolder so its easier to see.

Also added the avatar behind the dark opacity image. It looks like so now,
![image](https://user-images.githubusercontent.com/14356145/195949200-0d7e232d-9f60-40db-9ce9-604ccbc4afdf.png)

![image](https://user-images.githubusercontent.co

[2022-10-14 21:55] stephanieelliott commented on #10608
@oogushikun I agree that the scope of the issue may have extended a little bit beyond what was described in the issue body. I can see increasing this to $750 total -- does that sound fair to you?

[2022-10-14 21:59] stephanieelliott commented on #10699
I'm OOO til 10/25, reapplied the label to get a new CME/BZ team member! Thanks @flaviadefaria

[2022-10-14 22:00] shawnborton commented on #9971
I think I would just leave the number in regular weight so it matches the numbers we use in the other avatar components. Otherwise it looks solid! I like that we can reuse this for threads too!

[2022-10-14 22:05] stephanieelliott commented on #10891
All paid up!

[2022-10-14 22:05] #10891 closed

[2022-10-14 22:06] mananjadhav commented on #10290
@michaelhaxhiu I don't have the bandwidth right now for this one. Can you please assign another C+?

[2022-10-14 22:10] stephanieelliott commented on #11414
Alright to recap, it sounds like we'll move the button to the bottom, now we're just figuring out where the error will be shown relative to the button -- waiting for @nkuoch to provide some more context on the type of error this is so that @Puneet-here can update the proposal he shared in https://github.com/Expensify/App/issues/11414#issuecomment-1272350240.

I'm OOO til 10/25, reapplied the `Exte

[2022-10-14 22:11] stephanieelliott commented on #11495
I'm OOO til 10/25, reapplied the `External` label to get a new CME/BZ team member! Thanks @joekaufmanexpensify

[2022-10-14 22:12] stephanieelliott commented on #11513
I'm OOO til 10/25, reapplied the `External` label to get a new CME/BZ team member! Thanks @tjferriss

[2022-10-14 22:19] mananjadhav commented on #10352
Thanks a lot folks for the proposals and the discussions here. While both of you made good points, and the proposals have gone through 1-2 revisions, I am inclined to choose @aimane-chnaif's proposal [here](https://github.com/Expensify/App/issues/10352#issuecomment-1274901151).  Primarily because they first pointed out the `iPhone` padding that is generally required along with the attachment View

[2022-10-14 22:21] thesahindia commented on #11403
The issue is not related to eye icon only, the validation gets triggered at onBlur so the error will be shown after clicking outside the input and the main issue here is that on clearing the whole input the error goes away but it shows again when you start typing.

I am on Mobile right now and it doesn't allow me to record screen at set password page, will attach the video from mac in the morning.

[2022-10-14 22:22] chiragsalian commented on #9971
Cool, ill leave the number with its regular weight. I think it's a little hard to read but we can tweak this as needed easily later too. Here is how it looks,
![image](https://user-images.githubusercontent.com/14356145/195952178-6186e448-cd44-489a-ad04-447da02a4b12.png)

![image](https://user-images.githubusercontent.com/14356145/195952211-3130781b-f277-4210-889c-d961b42782c4.png)

Yes, the plan i

[2022-10-14 22:23] mananjadhav commented on #10950
Quick bump @Abdallah-Ahmed-moh on PR comments.

[2022-10-14 22:27] mananjadhav commented on #11059
Thanks for the bump @NicMendonca .

@Uros787 I am fine with the animation going as fast as 100ms.

Let's get an input from @Expensify/design to see what they think about this.

[2022-10-14 22:30] mountiny commented on #11815
I think this can be external, right? The optimistic action is handled in App where also the default avatar should be added

[2022-10-14 22:31] chiragsalian commented on #11815
Yes it can definitely be external 🙂

[2022-10-14 22:34] mananjadhav commented on #11312
@kavimuru Can you confirm testing this once with `Cmd + Opt + Shift + V`?

[2022-10-14 22:38] mananjadhav commented on #11693
@mollfpr's proposal to use `Str.htmlDecode` looks better.

cc - @Beamanator

🎀 👀 🎀 
C+ reviewed

[2022-10-14 22:46] michelle-thompson commented on #11059
Looks good, but I'm curious how this compares with other drawer speeds (e.g. opening up the menu from the big green plus)?

[2022-10-14 22:50] shawnborton commented on #9971
Awesome, looks good - nice work!

[2022-10-14 22:51] shawnborton commented on #10352
Could someone show me an example of what it would look like with `shouldAddBottomSafeAreaPadding`?

[2022-10-14 22:53] mallenexpensify commented on #11607
Thanks for the headsup @aimane-chnaif , you're assigned now

[2022-10-14 23:20] dangrous commented on #5671
@Expensify/marketing Hi! We need copy for what a screen reader will read to the user if a chat is pinned, and if it has a draft message. My current drafts are:

Draft: "Has draft message"
Pinned: "Chat pinned"

Do these sound good to you? If not, let me know and I can swap them out.

[2022-10-14 23:22] lbaldy commented on #4733
Thanks for the review. I will come back with a complete answer tomorrow. My initial tests show it works good on all platforms. I think I can find some optimisations to InlineCodeBlock. Will come back with different samples as well.

[2022-10-14 23:35] mallenexpensify commented on #11852
@thesahindia , before moving on to Engineering, do you happen to know if this affects other browsers or platforms?

[2022-10-14 23:41] marcochavezf commented on #11336
Cool, thanks for the clarification @mananjadhav! Assigning @aimane-chnaif 🚀

[2022-10-14 23:48] sakluger commented on #11844
Reproduced, can't find any other issues for this same bug.

[2022-10-14 23:54] tsa321 commented on #7968
https://github.com/Expensify/App/blob/25a7a90c63d3b1d9c8d321f48323c1b1c0d3e9a4/src/components/ConfirmContent.js#L80

@Santhosh-Sellavel for the first problem, I mean if focus is in the cancel button by pressing tab key (you can check it by removing `noSelect` style to see blue border that indicate focus in the line code above) then pressing enter will delete the workspace.
This is similar to title

[2022-10-14 23:58] sakluger commented on #11816
I was able to reproduce this issue, although it's easy to miss, since the password field only shows in the RHN briefly before the Plaid modal pops up. Passing along to engineering.

[2022-10-14 23:59] aldo-expensify commented on #11414
No overdue, waiting for input

[2022-10-15 00:00] mallenexpensify commented on #10414
Thanks @parasharrajat https://expensify.slack.com/archives/C01GTK53T8Q/p1665792005925189

[2022-10-15 00:02] mallenexpensify commented on #10272
@adeel0202 is there anything different that you're doing to reproduce, vs using the steps in the OP?

[2022-10-15 00:09] chiragsalian commented on #9971
PR is almost ready, I've tested it on Web and iOS and fixed bugs/cleaned up the code. My android simulator isn't working so I'll get that sorted early next week and push the PR for review.

[2022-10-15 00:13] strepanier03 commented on #11863
Upwork job created:

Internal posting: https://www.upwork.com/ab/applicants/1581075597012160512/suggested
External posting: https://www.upwork.com/ab/applicants/1581075597012160512/job-details

[2022-10-15 00:14] strepanier03 commented on #11787
Sending on to Eng to see if they can reproduce. I cannot get further in testing this process on staging and am stuck at a spinner.

Eng, can you reproduce as part of your triage and then recommend fixing this or not?

[2022-10-15 00:15] chiragsalian commented on #9971
Here is a short video to see its functionality in action, it shows how the UI looks when just 1, 2, 3, 4 and over 4 workspaces are present.

https://user-images.githubusercontent.com/14356145/195959993-1e78b8c0-c9a8-4c57-a5a3-dc6a9dd0136a.mov

[2022-10-15 00:18] jamesdeanexpensify commented on #5671
@dangrous I just applied the "Waiting for copy" label. Whenever you need a copy review or suggestion, just add that label to any issue and a member of the marketing-content team will be assigned!

[2022-10-15 00:28] strepanier03 commented on #11636
Hmmm, I'm not sure because the title should automatically update to "Pay" the job once it's on production. I'll look into this more and take appropriate action.

[2022-10-15 00:34] dangrous commented on #5671
Oh great, thank you! We should update the checklist to have that info - I guess what it says is old?

[2022-10-15 00:44] aldo-expensify commented on #11848
This happens in the function [ReportUtils::getDisplayNameForParticipant](https://github.com/Expensify/App/blob/069424538ad9ac0e03ec2af4f73c3b6c02e32e26/src/libs/ReportUtils.js#L472-L485) because it gets detected as phone number by `Str.isSMSLogin`.

The regex `E164_REGEX: /^\+?[1-9]\d{1,14}$/` accepts numbers with or without the `+` at the start.

The number `1` at the start gets interpreted as th

[2022-10-15 00:46] aldo-expensify commented on #11848
humm maybe I rushed into exporting as `External`... it is not 100% clear to me what is the solution we want here:

1. Don't consider as phone number if it didn't start with a `+`?
2. Why are we cutting the `+` and the `country code`? maybe we should leave everything there.
3. Maybe the logic is fine as it is, but don't apply the phone number cutting logic if the value is coming from the person nam

[2022-10-15 01:03] roryabraham commented on #11202
Oh, I'm 99% certain this is the same bug as "stuck chats", so I'm going to put this on HOLD for the Deprecate Sequence Number doc and take it over.

[2022-10-15 01:12] roryabraham opened #11877 "Get rid of deprecated set-output commands in GitHub Actions"
# Problem
GitHub deprecated the set-output command in workflows, and they will "soon be disabled".

https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/
https://github.com/Expensify/App/actions/runs/3252739822/jobs/5339300870

# Why is this important?
These were deprecated for security reasons, and if we don't update our workflows then they will s

[2022-10-15 01:22] roryabraham opened #11879 "Upgrade markPullRequestsAsDeployed to Node 16"
### Problem
The markPullRequestsAsDeployed action is still using Node 12

### Why this is important
GitHub has deprecated Node 12 actions, and they will soon stop working.

### Solution
Upgrade the action to Node 16, like all our other actions.

[2022-10-15 01:23] #11873 closed

[2022-10-15 01:34] roryabraham opened #11880 "Deploy Checklist: New Expensify 2022-10-14"
**Release Version:** `1.2.16-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [ ] https://github.com/Expensify/App/pull/11718
- [ ] https://github.com/Expensify/App/pull/11782
- [ ] https://github.com/Expensify/App/pull/11841
- [ ] https://github.com/Expensify/App/pull/11857

**Deployer veri

[2022-10-15 02:27] kbecciv commented on #11778
@alex-mechler , we can reproduced in all environments.

https://user-images.githubusercontent.com/93399543/195964799-57483124-01e3-4ebf-9cac-63c2e6740f7a.MP4

https://user-images.githubusercontent.com/93399543/195964776-dc2a89b0-7b19-4b8c-abac-553efbacedb8.mp4

https://user-images.githubusercontent.com/93399543/195964762-c87da9dd-0b98-43f0-870a-5158a2add778.MP4

https://user-images.githubuserconte

[2022-10-15 02:44] chauchausoup commented on #11195
@MitchExpensify can't open the Upwork link.

[2022-10-15 02:50] chauchausoup commented on #10975
Thanks @kevinksullivan, done.

[2022-10-15 03:23] kbecciv commented on #11382
@MonilBhavsar this happening with IOS 14.2 version

[2022-10-15 04:20] tienifr commented on #11261
@arielgreen I applied to it, thanks! The PR will be ready by Oct 17

[2022-10-15 04:28] tienifr commented on #11427
@luacmartins  I applied to the job, thanks. The PR will be ready by Oct 17

[2022-10-15 04:34] thesahindia commented on #11852
I was only able to repro this at firefox mobile browser (at Android)

[2022-10-15 08:40] mollfpr commented on #10824
### Proposal

**RCA**

[2022-10-15 09:37] mollfpr commented on #10824
### Proposal

**RCA**

https://user-images.githubusercontent.com/25520267/195977800-a22c31a9-abb6-44f6-8d5b-626fc90f0fea.mov

After closing the attachment modal from the report chat, something is setting the `tabindex` of `<body>` to `-1`.

https://user-images.githubusercontent.com/25520267/195978131-e97a899f-d142-4f9c-8f66-0416b37f6267.mov

As you can see here, with the `tabindex=-1` on the `<bod

[2022-10-15 10:03] therealJimoh commented on #10107
Is this issue still open?

[2022-10-15 10:31] mountiny commented on #11816
I see so the problem is that the password page flashes there for a second when doing it second time. I think this issue can be External

[2022-10-15 11:15] mollfpr commented on #7968
### Proposal

1. Adding new props `ignoredNativeIDs` to `Button` component. This is a list of button `nativeID` that we want to skip when the `EnterKey` listener is fired. Adding more conditions on the `EnterKey` listener will skip when the element `id` from the listener is match the IDs from `ignoredNativeIDs`.
[code]
2. Adding `nativeID` and remove `styles.noSelect` from cancel button. We also p

[2022-10-15 11:31] parasharrajat commented on #10107
@therealJimoh Yes

[2022-10-15 11:56] mdneyazahmad commented on #7968
## Updated proposal

As we are aware of the issue with `pressOnEnter` prop. It attaches a global listener for `Enter` key. If we use this prop, we need to have a mechanism to identify the `Enter` key for which we need to trigger the submit function. This may be difficult, and not a best practice.  We are also facing this issue with the form submit behaviour, and there we are adopting a different m

[2022-10-15 12:43] kavimuru opened #11883 "mWeb- IOU -Focus dismissed in the window "What is it for?""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensifail.com
2. Log in with your account
3. Click the FAB button again and select Request Money
4. Input

[2022-10-15 13:29] kavimuru opened #11884 "Web -Chat - Unable to split bill, error message is displayed."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App and login
2. Tap on FAB > Split bill
3. Select currency and enter amount
4. Select users
5. Tap on Next

## Expecte

[2022-10-15 13:30] OSBotify commented on #11884
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-15 13:46] wildan-m commented on #11463
In the video, the create group button is hidden when no participant is selected and then shown after one of the participants is selected.

Is that expected behavior?

Should we always show the "Create Group" button even when there is no selected participant?

[2022-10-15 13:53] kavimuru opened #11885 "Web -Chat -Unable to scroll large text in expanded compose box with large text"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Navigate to any chat
4. Add large text
5. Make a fie

[2022-10-15 15:38] sobitneupane commented on #11816
**Proposal**
**Reason:**
https://github.com/Expensify/App/blob/e38df100d62d197689bb16888a3ac7859f157681/src/pages/AddPersonalBankAccountPage.js#L63-L70

Here, `componentDidMount` clears `personalBankAccount` currently being setup. But before that, state `selectedPlaidAccountID` gets its value from `this.props.personalBankAccount`.

Solution:
[code]
This change was recently made in [this PR](https:

[2022-10-15 15:48] idawoodhashmi commented on #11709
Hi, We can fix this easily. We will apply regex for validation and that will solve the issue. Kindly let us proceed with the changes to be done and you'll not be disappointed.

[2022-10-15 16:40] narayanaraoiosdev commented on #11863
Hi
as of now API is calling on each every letter which is wrong (if we type characters fast there is no need of calling api for each and every letter)  so it creating issue so using de-bouncer we can reduce call and get proper data to display

I have changed code using de-bouncer now its working fine.

[2022-10-15 17:07] kbecciv commented on #11859
Also user can not paste the copied text. Let me know if we need a separate issue for this one.

https://user-images.githubusercontent.com/93399543/195999104-3b4b265c-c14a-4c4e-808d-cf272f5da018.mp4

[2022-10-15 17:51] kbecciv opened #11887 "Web -Chat - Error message displayed when sending message from corrupted accounts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with affected email accounts:
andreylazutkinutest+123@gmail.com/w3230527

[2022-10-15 17:51] OSBotify commented on #11887
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-15 17:54] kbecciv opened #11888 "[$250] Web -Chat -New messages are not displayed in the conversation history"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.Go to URL https://staging.new.expensify.com/
2. Log in with any accounts
3. Disable the internet connection in the device
2. Se

[2022-10-15 17:58] kbecciv opened #11889 "[$500] Web - Workspace - After selecting the "Start over" function, the system redirects incorrectly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to Settings->Workspace->Connect bank account->Con

[2022-10-15 18:00] mananjadhav commented on #11471
@MonilBhavsar @dhairyasenjaliya I am not able to reproduce this in a general scenario. Here's the video from staging. Am I missing something on the reproduction steps?

https://user-images.githubusercontent.com/3069065/196001475-20c8b290-6f7e-49fd-9665-8df7203ac3d4.mp4

[2022-10-15 18:04] kbecciv opened #11890 "IOS -Security- The Close Account button cannot be clicked when the keyboard is open"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app
2. Log in with any account
3. Navigate to Settings > Security
4. Enter the email in the input and click/tap on "c

[2022-10-15 18:12] mananjadhav commented on #11471
yeah Request a money I am aware but not with New Chat as mentioned in the GH body. Hence, clarifying.

[2022-10-15 18:17] mananjadhav commented on #11471
(if you check the video), I am trying a very random email that don't exist in the system

[2022-10-15 18:36] tienifr commented on #11737
# Proposal

## Problem

- Currently, in https://github.com/Expensify/App/blob/7044ab2b96067081c8f67191e51fa859dba66d91/src/pages/home/report/ReportActionsView.js#L263  when user scroll to get old message, in function `loadMoreChats`, `ReadOldestAction` will be called and update `isLoadingMoreReportActions=true`. After that when API is successfully called or error return by BE, will update `isLoadi

[2022-10-15 22:52] parasharrajat commented on #11320
Looking good everywhere.

[2022-10-15 23:02] sophiepintoraetz commented on #11590
@grgia - this is in the OP `Version Number: 1.2.11-2` as well

[2022-10-16 00:06] tsa321 commented on #11584
Maybe  all unread indicator error should be on hold, because Roryabraham will implement new algorithm to solve it. Here is slack conversation:

https://expensify.slack.com/archives/C01GTK53T8Q/p1665794707786899

[2022-10-16 00:07] tsa321 commented on #11772
Maybe  all unread indicator errors should be on hold, because Roryabraham will implement new algorithm for unread indicator. Here is slack conversation:

https://expensify.slack.com/archives/C01GTK53T8Q/p1665794707786899

[2022-10-16 00:19] parasharrajat commented on #10939
@JmillsExpensify There is no Engineer assigned to this issue. Secondly, we should hold this issue with others and add it to the sequence of the steps in #11111 's description.

[2022-10-16 01:11] vladamx commented on #11823
**Proposal**

The idea is to detect if dragging over dropzone is active and to use React Portal to render the overlay in the drop view.

You can check the code in the diff below.
https://github.com/Expensify/App/compare/main...vladamx:App:vladamx-proposal-11823-drag-and-drop-overlay?expand=1

@parasharrajat
This should get you a good idea on the strategy.

Details like adding the document icon fro

[2022-10-16 01:24] kbecciv opened #11891 "Web -Scrolling only works when you click on a conversation a second time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Login with any account
3. Click once on any chat and try scrolling through it

##

[2022-10-16 02:15] kbecciv opened #11892 "[$500] mWeb- Blank page is displayed when tapped on Concierge or Send a message options"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue found when executing PR** https://github.com/Expensify/App/pull/11857

## Action Performed:
1. Open the site https://help.expensify.com/main
2.

[2022-10-16 03:29] mollfpr commented on #11815
### Proposal
When offline after inviting members to the workspace, the `personalDetails` data from Onyx is not updated.
https://github.com/Expensify/App/blob/62394cca18424fafe09c046fa63199d98696cc49/src/pages/workspace/WorkspaceMembersPage.js#L293

We get the member info from the `personalDetails`, so in this case, because we can't find the email just invited in `personalDetail` we add a default v

[2022-10-16 05:06] sobitneupane commented on #11671
@fedirjh Why do we need to force update unread in signinpage?
https://github.com/Expensify/App/blob/299f07bfa29c0dd81a6126691aae29e161097baa/src/pages/signin/SignInPage.js#L48

I believe it should be updated when onyx is cleared. We might have stopped listening for changes in report before Onyx is cleared.

[2022-10-16 05:25] sobitneupane commented on #11671
@fedirjh I agree with your reason below

Cause might be:
- reports is stored as global variable.
- When onyx is cleared and start listening for change in report (`listenForReportChanges()`), `!report` is `true` in callback function and the callback function returns. We are not clearing reports stored in global variable in any place.
https://github.com/Expensify/App/blob/299f07bfa29c0dd81a6126691aa

[2022-10-16 05:40] mollfpr commented on #11800
### Proposal

I believe this error log happen because the API `AuthenticatePusher` got called before API `AddWorkspaceRoom` when we navigated to the report screen. It might be making the report ID not yet available on the server and responding `404` error.

https://user-images.githubusercontent.com/25520267/196019717-e31541e3-b05d-4de2-9fed-3fc20ac69a48.mov

**Solution**
We can change the API call

[2022-10-16 08:15] sobitneupane commented on #11518
[Proposal](https://github.com/Expensify/App/issues/11518#issuecomment-1264659085) from @Puneet-here looks good to me.

cc: @iwiznia

🎀👀🎀 C+ reviewed

[2022-10-16 08:44] laurenreidexpensify commented on #11589
@kevinksullivan sorry I've been OOO for a family emergency and am only back on 20 Oct, so can't action, Can you please create a job on upwork and pay @vladamx before closing this? Thanks!

[2022-10-16 08:47] laurenreidexpensify commented on #11512
@ItsJustTomDev are you still following up on this? Thanks

[2022-10-16 08:52] laurenreidexpensify commented on #11190
@marcaaron can you confirm if this is internal or external? the conflicting labels aren't clear :)

[2022-10-16 09:08] mananjadhav commented on #9580
The PR for the issue holding this one is complete and almost ready to merge. This should be off hold in 1-2 days.

[2022-10-16 09:29] mananjadhav commented on #11463
@flodnv @laurenreidexpensify Can you please confirm @wildan-m's comment above? Base on the code it does look like we're hiding the `Button` when we create the group. You can reproduce this even if you don't select the input text. Just scroll the list as soon as you click on the `Create Group` option.

[code]

Second line of the condition in the above snippet.

[2022-10-16 09:29] mananjadhav commented on #11543
Done with one round of review, have raised comments. Once resolved, I'll review once again and then Test.

[2022-10-16 09:42] mananjadhav commented on #11848
@aldo-expensify I am not sure if what you mean in point three is same as what I am suggesting. But I guess we don't need to apply the check to `participate.displayName` and only apply it to `participate.login.`

[code]

[2022-10-16 10:10] tsa321 commented on #11330
### Proposal

https://github.com/Expensify/App/blob/90900550832bcb1845e7fd48d76874c421b16be6/src/libs/SidebarUtils.js#L148-L149

This issue is caused by this check to prevent a report that contains a recently made draft from moving to the top region  and treat it as a report without draft.
But if a report contains draft and already placed at the top / draft region then the user view the report, th

[2022-10-16 10:12] mananjadhav commented on #11815
Thanks a lot for the proposals @Uros787 and @mollfpr, but I had issues to get both of them working fine.

@Uros787 In your video it seems to be working fine, but when I applied it, it only loads the profile picture after I reconnect to the internet. If I am offline, it showed empty avatar to me. Can you verify if you've added all the details for the change?

@mollfpr Your proposal loaded the displ

[2022-10-16 11:06] tienifr commented on #11848
@mananjadhav I see your suggestion is good. But are you missing `loginWithoutSMSDomain`? I think we should change the function `LocalePhoneNumber.toLocalPhone(preferredLocale, participant.login)` to `LocalePhoneNumber.toLocalPhone(preferredLocale, loginWithoutSMSDomain)`

[2022-10-16 11:18] mananjadhav commented on #11848
Yes you're right @tienifr, I meant to write `loginWithoutSMSDomain`.

[2022-10-16 11:51] bernhardoj commented on #11771
**Proposal**

The problem is each row of user is not selectable because the `TouchableOpacity` is disabled. So, when we double click, it will try to select other near text (even though it's not always the nearest one). Instead of making the **What’s it for?** and **Who Was There?** unselectable, we can make the row become selectable.

**_OptionRow.js_**
[code]

**Result**

https://user-images.gith

[2022-10-16 12:49] tsa321 commented on #11403
Maybe the expected behavior:
Let's don't disable `Set password` button.
Red color message should be displayed only when user click or press `Set password`.
If user start typing on `set password box` again, change red color into black again, even if typed password is not qualified as password yet. If user press `Set password` again and password is not qualified, then change back to red color messag

[2022-10-16 13:37] fedirjh commented on #11671
@sobitneupane , @marcaaron When `Onyx.clear()` i called , there is a last time change to report where all reports are cleared (nulled) we need to wait for this change to happen , then we disconnect , if `Onyx.disconnect `is called immediately , it will be executed after `Onyx.clear()`  without waiting for that last change , in this case `setTimeout` will ensure enqueuing :

[Onyx.js#L908](https://

[2022-10-16 13:38] fedirjh commented on #11671
@sobitneupane i have updated my proposal , you can test it https://github.com/Expensify/App/issues/11671#issuecomment-1279341434

[2022-10-16 14:03] mollfpr commented on #11815
@mananjadhav It's because the avatar that we get from the server and what we set in the App with `getDefaultAvatar` has a different value.

<img width="988" alt="Screen Shot 2022-10-16 at 20 57 27" src="https://user-images.githubusercontent.com/25520267/196039637-2fb45576-f85a-41d0-9ab9-70f44e6979a2.png">

In this example, the avatar that we get from `getDefaultAvatar` is https://d2k5nsl2zxldvw.cl

[2022-10-16 15:30] rawalyogendra commented on #11330
### Proposal

#### Problem
The problem lies in the following code block, where the `report` is not added with other `draftReports` if it is active. It is causing the jump when user opens the chat which has draft.
https://github.com/Expensify/App/blob/e38df100d62d197689bb16888a3ac7859f157681/src/libs/SidebarUtils.js#L146-L150

#### Solution
It seems like that check was added  to stop the `report` f

[2022-10-16 15:37] bernhardoj commented on #11512
Hi, I'm trying to test this issue on my end, but I stuck at Connect Bank Account step. I choose Connect online with Plaid and after its success, it asks me to fill Routing and Account number. I fill the account number with random number and routing number with the number I found on google and I can pass this. On the second step, it asks to fill more information that I also just fill it randomly. H

[2022-10-16 16:07] maddylewis commented on #11823
created job posting here - https://www.upwork.com/jobs/~0198538cbc40aff5b9

[2022-10-16 17:15] thesahindia commented on #11709
I like @Puneet-here's [proposal](https://github.com/Expensify/App/issues/11709#issuecomment-1273699772). `trim` method will do the job.

C+ reviewed 🎀👀🎀

cc: @MonilBhavsar

[2022-10-16 17:21] thesahindia commented on #11709
@idawoodhashmi, thanks for showing interest but you have to propose a solution with the code changes that you will make. You can check other proposal on this issue to understand the process. Feel free to post proposals on other issues.

You can also checkout [CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md), if you haven't already.

[2022-10-16 17:50] parasharrajat commented on #11823
@vladnyk Why do we need to create a portal? Is it possibile to keep the drop UI in the `ReportScreen`?

Pasting code diff is not considered a good proposal. Please explain your changes in the proposal itself.

[2022-10-16 17:55] parasharrajat commented on #7185
Bump @Christinadobrzyn :arrow_up:

[2022-10-16 17:57] parasharrajat commented on #11816
Hmm, my intuition says that we can't just do this change as above. I will take a look at that PR and try to understand the matter.

[2022-10-16 18:09] kavimuru commented on #11872
@neil-marcellini Sorry for the late reply.
I don't see any red dot in this account applausetester+2409@applause.expensifail.com

https://user-images.githubusercontent.com/43996225/196051110-2e208cb1-fd57-4a16-999a-dd08be093a08.mp4

now.

[2022-10-16 20:02] kavimuru opened #11893 "[HOLD for payment 2022-11-18] [$250] Bug: [Android/Chrome] Not getting "copy URL to clipboard" option when long pressing on links at app download links page reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to settings > About > App download links
2. Long press on any option
3. Press the back arrow and tap on "report a bug"

##

[2022-10-16 20:33] kavimuru opened #11894 "Bug: On Change password page Save button show infinite spinner if user try to change password offlinereported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open Website/App
2. Go to settings > Security > Change password page
3. Disconnect from internet
4. Fill both Current and New

[2022-10-16 20:50] jliexpensify commented on #11312
Doubled - https://expensify.slack.com/archives/C01GTK53T8Q/p1665953394734899

[2022-10-16 20:52] kavimuru opened #11895 "[HOLD for payment on 2022-12-06] [$250] BUG: "Unavailable workspace" archived appears in the LHN after deleting a workspace reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create a new workspace
2. Go to settings > workspace
3. Click on three vertical dots
4. Click on Delete workspace
5. Click on

[2022-10-16 20:52] jliexpensify commented on #10905
Upworks job removed

[2022-10-16 21:06] kavimuru commented on #11809
@zanyrenney I am attaching a new video. The sidebar animation appears from right end of the screen in `profile `page, `preference `page. But when initiating the IOU after entering the money, hitting `Next `no animation and next page appears from left.

https://user-images.githubusercontent.com/43996225/196058321-c3b00b94-a113-493d-b798-da554e6ced37.mp4

[2022-10-16 21:08] parasharrajat commented on #4733
Thanks for the details. Looks like it is going to be expensive.

Like I said before, let's wait for more ideas for a few more days.

[2022-10-16 22:12] vladamx commented on #11823
@parasharrajat

isDraggingOverState is inside ReportActionCompose and dragging listener is inside Composer.

In order to not introduce shared state or change existing code architecture much, we create portal in order to mount the overlay inside View with id = CONST.REPORT.DROP_NATIVE_ID which is inside ReportScreen.

Please let me know if you need more details.

[2022-10-16 22:32] marcaaron commented on #11883
Is this a regression? If so, when did we add the test that this failed? I'm not sure if this is the correct behavior or not so unsure whether it is valid. Going OOO for a week, but it doesn't seem urgent so I'll triage when I return.

[2022-10-16 22:32] marcaaron commented on #11671
I'm going OOO for a week so we will need to find a new CME for this one. @sobitneupane please ping in Slack if you can.

[2022-10-16 22:34] marcaaron commented on #11520
Going OOO for a week so unassigning, but looks like this is going to be internal before it's external - so I think we should consider just making it internal.

[2022-10-16 22:37] marcaaron commented on #11190
I think it's expected and issues can have both labels (not my idea). This is being worked on "internally" and we need an external review.

[2022-10-16 22:38] marcaaron commented on #10240
Sorry I'm going OOO for the next week and will unassign. The PR linked is waiting for a response from @rushatgabhane. Please ask in Slack for a CME to step in.

[2022-10-16 23:39] jamesdeanexpensify commented on #5671
Oh! Where's the checklist?

[2022-10-17 00:06] thienlnam commented on #11737
@tienifr That's a great investigation - thanks for that! That's a well described issue, so we optimistically set isLoadingMoreReportActions to true. `ReadOldestAction` is not requeued when the user is back online since it's a read request, but when we reconnect, we should be calling Report.reconnect [here](https://github.com/Expensify/App/blob/e38df100d62d197689bb16888a3ac7859f157681/src/pages/hom

[2022-10-17 00:11] thienlnam commented on #11866
I'm pretty sure this is expected behavior - is there a testrail that indicates this should be possible?

[2022-10-17 00:19] thienlnam commented on #11866
Yeah, please update the testrail - if you are offline seeing that screen is expected behavior

[2022-10-17 00:42] kadiealexander commented on #11321
Price doubled!!

[2022-10-17 00:45] kadiealexander commented on #11386
Sorry for the delay @Puneet-here, I've sent you a contract in Upwork now. :)

[2022-10-17 00:48] kadiealexander commented on #11713
Sorry team, I was assigned while OOO due to timezones not being factored in.

[2022-10-17 01:17] sobitneupane commented on #11671
@fedirjh
**Suggestion:** It is better to add updated proposal in new comment rather than editing previous comment.

Rather than setTimeout, why not wait for onyx to be cleared before calling `stopListeningForReportChanges()`.

Can you please explain the line below?

Also, next point to consider is performance. We need to make our code better in performance? Your suggested changes does not look goo

[2022-10-17 01:57] kadiealexander commented on #10623
Sorry for the delay team! Everyone is paid, thanks for your work on this!

[2022-10-17 01:57] #10623 closed

[2022-10-17 02:15] thienlnam commented on #11486
Alright, looks like we have a couple conditions here.

- We need the tooltip to be long enough to show the 'Unpinned' copy in this [issue](https://github.com/Expensify/App/issues/9331)
- We want the tooltip to wrap into multiple lines when it becomes too long

With that being said, like @sobitneupane we will need to remove the `whiteSpace: 'nowrap'` line and figure out a different solution that re

[2022-10-17 02:30] hungvu193 commented on #11890
<b>Proposal</b>
I think this normal action, we can fix this or not, that's fine. In this case, we can click the close button because we didn't set the `keyboardShouldPersistTaps` for the ScrollView in:
https://github.com/Expensify/App/blob/363d98fd3a3567c102c5359ba5257c67f95c60d0/src/pages/settings/Security/CloseAccountPage.js#L68-L74
<b>Solution</b>
Add `keyboardShouldPersistTaps="handled"` to ou

[2022-10-17 03:06] davidcardoza commented on #11820
Coming back from OOO. Puneet laid out what needs to be updated - replacing :tada: with the  🎉 emoji. Assigning out to engineering.

[2022-10-17 04:29] tienifr commented on #11427
@shawnborton Thanks for the update. I think new approach is good. I have updated the code change for it please check again and tell me if you have some comment

Code change:  [tienifr/App: Pull Request 8](https://github.com/tienifr/App/pull/8)

Video demo:  [demo change.webm](https://user-images.githubusercontent.com/113963320/196089537-25c7f3cd-c728-41fe-8392-b8ba5428e6ab.webm)

[2022-10-17 04:58] MonilBhavsar commented on #11709
Looks good to me too 👍

[2022-10-17 05:36] Christinadobrzyn commented on #11011
Doubling price to $500

[2022-10-17 05:38] sobitneupane commented on #11863
Were you able to reproduce the issue in simulator @Uros787?

[2022-10-17 05:39] Christinadobrzyn commented on #10352
@shawnborton when you have a moment can you take a peek at the ^ and see if that's a good fit! TY!

[2022-10-17 05:46] MonilBhavsar commented on #11382
Thanks! Yes, I think we can close this one considering a non blocking UI issue occurring on very old iOS version. Feel free to reopen if you disagree

[2022-10-17 05:46] #11382 closed

[2022-10-17 06:38] tienifr commented on #11261
Hi @thesahindia  I just created PR for this issue, please help to check: https://github.com/Expensify/App/pull/11900

Note: When I merge the main branch, I see we just used marginLeft: auto
In https://github.com/Expensify/App/blob/363d98fd3a3567c102c5359ba5257c67f95c60d0/src/components/ExceededCommentLength.js#L18

So I just added padding-left. Thanks

[2022-10-17 07:07] MonilBhavsar commented on #11273
I'm also unable to reproduce the issue. For individual chats, it seems to be working fine, but for policy rooms, it displays last sender's email (which I think should default to Workspace name or domain name)

<img width="1792" alt="Screenshot 2022-10-17 at 12 29 40 PM" src="https://user-images.githubusercontent.com/32012005/196110841-54b2cdf4-4c50-4aaf-b348-cf646c90c41b.png">

@mvtglobally can yo

[2022-10-17 07:18] hungvu193 commented on #11867
<b>Proposal</b>
We didn't focus the text input again after expand or collapse so this issue happened.

<b>Solution</b>
Add the input focus after press expand or collapse in this file:
https://github.com/Expensify/App/blob/363d98fd3a3567c102c5359ba5257c67f95c60d0/src/pages/home/report/ReportActionCompose.js#L560-L586
For collapse:
[code]

For expand:

[code]

[2022-10-17 07:23] oogushikun commented on #10608
works for me @stephanieelliott, thanks a lot 😃.

[2022-10-17 07:29] tienifr commented on #11671
@sobitneupane what do you think about my updated proposal below:
In https://github.com/Expensify/App/blob/363d98fd3a3567c102c5359ba5257c67f95c60d0/src/libs/UnreadIndicatorUpdater/index.js#L42
I will reset `reports` and then call function `throttledUpdatePageTitleAndUnreadCount` to update unread indicator

[code]

[code]

And then in https://github.com/Expensify/App/blob/363d98fd3a3567c102c5359ba52

[2022-10-17 07:31] thesahindia commented on #11771
@mollfpr, your proposal doesn't fix the highlighting of "WHO WAS THERE?".
@bernhardoj, I am not sure if we wanna make the text selectable for option row, we are using it at many places and it will/can cause problems e.g. at invite members page if a user selects a contact and then tries to unselect it then the text will be selected and user will have to press again to unselect the user

[2022-10-17 07:36] OSBotify commented on #11880
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.16-4 :rocket:

[2022-10-17 07:42] thesahindia commented on #11502
Same

[2022-10-17 07:45] eVoloshchak commented on #11584
@tienifr proposal looks good, confirmed it working on all of the platforms
A couple of small things:

- Is there a way to obtain `clientHeight` and `paddingTop` differently? Maybe there are constants defined in `styles.js`? If not it's ok
- Could you please overexplain what is the `sizeArray` and `sumNum` variables and what we need them for?

[2022-10-17 07:47] eVoloshchak commented on #11652
PR is in review

[2022-10-17 07:54] mollfpr commented on #11771
### Updated Proposal
Adding `user-select: none` to `Hoverable` component with props `containerStyles`. This will prevent the user selection from the upper component on `TouchableOpacity`.
[code]

I'm using `props.isDisabled` just in case if we only want the prevent user-select on disabled `TouchableOpacity`.

**Result**

https://user-images.githubusercontent.com/25520267/196119914-a5176a52-6e6b-43

[2022-10-17 07:57] gadhiyamanan commented on #11894
**Proposal**

add `isDisabled={this.props.network.isOffline}` to below code

https://github.com/Expensify/App/blob/363d98fd3a3567c102c5359ba5257c67f95c60d0/src/pages/settings/PasswordPage.js#L218-L223

wrap component with `withNetwork()`

add prop `network: networkPropTypes.isRequired`
https://github.com/Expensify/App/blob/363d98fd3a3567c102c5359ba5257c67f95c60d0/src/pages/settings/PasswordPage.js

[2022-10-17 08:18] MariaHCD commented on #11347
This PR fix will ensure that withdrawal accounts that are being setup will not show in the payment method list: https://github.com/Expensify/Web-Expensify/pull/35076/files#r993071292

[2022-10-17 08:53] flaviadefaria commented on #10699
I need to catch up to know what needs to be done here. Will try to do that today.

[2022-10-17 09:02] Julesssss commented on #11840
Hey @sakluger could you please create an UpWork job to pay @Tushu17 the bug raise bounty? Thanks

[2022-10-17 09:06] Julesssss commented on #11513
Awaiting proposals.

[2022-10-17 09:07] dylanexpensify commented on #11675
not overdue - moving to weekly while we hold discussion

[2022-10-17 09:07] dylanexpensify commented on #10148
@youssef-lr any thoughts on this?

[2022-10-17 09:07] dylanexpensify commented on #9181
Doubling

[2022-10-17 09:08] tylerkaraszewski commented on #11814
I cannot reproduce this, maybe it's been fixed by something else.

[2022-10-17 09:09] Julesssss commented on #11891
This is not a bug. The keys should not scroll initially, because the input has focus.

[2022-10-17 09:09] #11891 closed

[2022-10-17 09:18] thesahindia commented on #11840
Hey @Julesssss, can you confirm if it is eligible for the C+ review compensation. I am not sure because I was late and you already had reviewed the PR before me.

[2022-10-17 09:24] Julesssss commented on #11840
Oh yes of course. Sorry, I didn't check the PR for C+ reviewers.

[2022-10-17 09:26] mvtglobally opened #11901 "[Bug] App shows chats list from another user - reported by @0xmiroslav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to user A
2. Verify that A's chats list is showing
3. Logout A
4. Login to user B
5. A's chats list is still showing
6.

[2022-10-17 09:35] mvtglobally opened #11902 "BUG: Console error while navigating to workspace - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open settings page
2. Click on any workspace.
3. Navigate to Manage members
4. Try to add members in workspace who has same pr

[2022-10-17 09:38] mvtglobally opened #11903 "[HOLD for payment 2022-12-15] [$250] BUG: Web - Console error when comment in a report is right clicked and context menu is opened - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Launch web app.
2. Click on any report having links in comments in LHN
3. Hover on any comment and right click to open contex

[2022-10-17 09:41] mvtglobally opened #11904 "[$250] BUG: DEV - Console error on web app load react-dom.development.js?.. - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Launch web app
2. See the error in console.

## Expected Result:
No Errors should display

## Actual Result:
Console error on

[2022-10-17 09:43] tylerkaraszewski commented on #11844
So, this does seem to be a "bug" here: https://github.com/Expensify/App/blob/main/src/components/Composer/index.js#L374

It's about as trivial a bug as I can think of, since the expand button shows up a few extra keystroke later anyway. I'll mark it external since it's clearly a display only bug.

[2022-10-17 09:44] sobitneupane commented on #9181
**Proposal:**
As suggested by @parasharrajat, the issue's reason seems to be https://github.com/Expensify/App/issues/9181#issuecomment-1265162385.

Assuming two merge calls are asynchronous, my proposal is to change order of two merge requests here:
https://github.com/Expensify/App/blob/9ff60c3a220c9d05001007b2c0dfe0d954623edb/src/libs/actions/IOU.js#L56-L57

[code]

[2022-10-17 09:50] adeel0202 commented on #10272
Update: Just check again today and I'm not able to reproduce the bug I reported. I was able to reproduce when this ticket was closed and I commented on slack. But now looks like it got fixed somehow.

[2022-10-17 09:51] mollfpr commented on #11693
I found a bug when you try to copy the last chat from a thread by highlighting all the text, it's copying the text I select and also some random text.
https://expensify.slack.com/archives/C01GTK53T8Q/p1666000158578689

I think that bug has nothing to do with this issue right? @mananjadhav @Beamanator

[2022-10-17 10:33] sketchydroide commented on #11237
@kbecciv bump :)

[2022-10-17 10:33] sobitneupane commented on #9181
@parasharrajat Are these merge calls synchronous or asynchronous?

[2022-10-17 10:47] youssef-lr commented on #11806
I wasn't able to reproduce this one on iOS. @kbecciv can you try again please?

[2022-10-17 10:49] youssef-lr commented on #11735
I agree this is an issue, adding `External`.

[2022-10-17 10:52] youssef-lr commented on #11267
bump! @marcaaron and @luacmartins would love your input on the use of `errorFields` in `Form` in the PR linked here.

[2022-10-17 11:11] mvtglobally commented on #11880
Regression is completed

Checking off https://github.com/Expensify/App/pull/11782#issuecomment-1279846718
PR #11857 is failing due to https://github.com/Expensify/App/issues/11892. repro in PROD. There were few blockers with OldDot Concierge. Are we ok to check this off?
PR https://github.com/Expensify/App/pull/11718 is failing due to https://github.com/Expensify/App/issues/11883. Checking off

[2022-10-17 11:27] michaelhaxhiu commented on #10290
Sure thing, thanks for the heads up @mananjadhav

[2022-10-17 11:34] Beamanator commented on #11889
Just to confirm, @kbecciv - are you thinking the App should redirect to this page?

<img width="375" alt="Screen Shot 2022-10-17 at 1 33 33 PM" src="https://user-images.githubusercontent.com/3885503/196166901-7513bda3-f1fe-4214-824c-de6425a419d2.png">

[2022-10-17 11:36] Beamanator commented on #11889
Also is there a TestRail step saying which page we should be redirected back to?

[2022-10-17 11:38] Beamanator commented on #11708
Hmm ya this issue is "similar" ish to https://github.com/Expensify/App/issues/11229, but not exactly the same - @flodnv think we should combine them or leave them separate?

[2022-10-17 11:39] Beamanator commented on #11229
@parasharrajat can you please give an update for this when you have a chance today?

[2022-10-17 11:44] JmillsExpensify commented on #11854
Having trouble accessing Upwork at the moment, though I'll get to this one asap.

[2022-10-17 11:47] michaelhaxhiu commented on #11415
@gohar95 just checking in! Did you manage to put together a proposal for this one?

[2022-10-17 11:48] sketchydroide commented on #11202
@roryabraham I think the double green lines is no longer happening (the original issue).
The double messages/emojis is the only thing I was able to find this time, but entirely related to the issue, it what now happens instead of the previous bug.
I don't think we need to hold this GH, just make sure the double green lines is no longer happening, is not we can close it.

[2022-10-17 11:49] sketchydroide commented on #11887
looking at it.

[2022-10-17 11:49] youssef-lr commented on #11884
Looking into this.

[2022-10-17 11:50] thesahindia commented on #11415
@michaelhaxhiu, let's change this to weekly.

[2022-10-17 11:52] PauloGasparSv commented on #11796
Taking a look at this today during the timeframe the service is up (right after lunch)

[2022-10-17 11:57] sketchydroide commented on #11887
This might be an actual problem with Web, as the error comes from the API

Request:
[code]

[code]

[2022-10-17 12:05] mananjadhav commented on #11461
@Uros787 @trjExpensify @stitesExpensify Based on the comment [here](https://github.com/Expensify/App/pull/11842#discussion_r996922476) I feel we should put this on hold until https://github.com/Expensify/App/pull/11719 gets merged.  This is to avoid rework for @Uros787.

Let me know if anyone thinks otherwise.

[2022-10-17 12:10] gohar95 commented on #11415
Yes,

On Mon, Oct 17, 2022, 4:50 PM Sahil ***@***.***> wrote:

[2022-10-17 12:22] joekaufmanexpensify commented on #11495
Sounds good! Switching to weekly as we're still looking for proposals here.

[2022-10-17 12:39] kbecciv commented on #10931
@Julesssss Two testers are unable to reproduce the issue using latest build 1.2.16.4

https://user-images.githubusercontent.com/93399543/196179165-1c6d1bb2-eb39-4b68-b340-5a6712d4cf8a.mp4

https://user-images.githubusercontent.com/93399543/196179172-55aed4f2-1fff-4873-a7d3-a94d70ea27a0.MP4

[2022-10-17 12:40] flodnv commented on #11708
If we think that https://github.com/Expensify/App/issues/11229 solves this problem (which it might?), then we should put this on HOLD, probably?

[2022-10-17 12:42] danieldoglas commented on #11762
ok, this can be external

[2022-10-17 12:46] Julesssss commented on #10931
Hi @kbecciv, can you please include the device model and OS version?

[2022-10-17 12:48] danieldoglas commented on #11698
This might be related to this [PR](https://github.com/Expensify/App/pull/10557)

[2022-10-17 12:50] flodnv commented on #11797
@Santhosh-Sellavel can you please review the proposals from @hungvu193 and @gadhiyamanan

[2022-10-17 12:51] bernhardoj commented on #11771
I see. In that case, the `user-select` value should be `none` like what @mollfpr does. But I would prefer to put the style on `TouchableOpactiy`.

[2022-10-17 12:54] danieldoglas commented on #11698
@kbecciv actually I was not able to simulate this again. Can you please try it again?

[2022-10-17 12:55] flodnv commented on #11463
I don't know, but I would say yes...?

Why would we do that? Why would we show the `Create Group` button before you select anyone to add to the group? What would you expect to happen? 😕

[2022-10-17 12:57] kbecciv commented on #10931
@Julesssss Added above to each video.

[2022-10-17 13:00] Julesssss commented on #10931
Thank you, seems like we're okay to close this issue for the moment then 👍

[2022-10-17 13:00] #10931 closed

[2022-10-17 13:04] flodnv commented on #11892
@kbecciv can you confirm this only happens on Mobile Web? I have tested on Desktop and also on Android with the native app and it works.

cc @marcochavezf as you are the author of https://github.com/Expensify/App/pull/11857. Can this be external? 🤔

[2022-10-17 13:06] eVoloshchak commented on #11314
@NicMendonca, I think there's some kind of error, I should be assigned as the C+ for this issue

[2022-10-17 13:13] kbecciv commented on #11814
@tylerkaraszewski Checking with team, will update your shortly

[2022-10-17 13:15] kbecciv commented on #11237
@sketchydroide Checking, will update you shortly

[2022-10-17 13:17] parasharrajat commented on #9181
Async.

[2022-10-17 13:18] flodnv commented on #11632
👎 Reviews should be done at least on a daily basis (and ideally several times a day: the most important thing one can do is unblock others)

[2022-10-17 13:19] flodnv commented on #11463
Oh, great point actually! @kbecciv why would you expect `Create group button is not hidden`?

[2022-10-17 13:20] fedirjh commented on #11671
@sobitneupane i meant that `reports` variable isn't declared inside the subscriber , so it persists in-memory

when Onyx is cleared , the subscriber callback doesn't update `reports` because it become null , `reports[report.reportID] = report;` here we add `report`  to `reports` variable , but when report become null (cleared) we can't remove it from reports as we don't have any reference to it ,

[2022-10-17 13:20] kidroca commented on #7860
@LucioChavezFuentes amazing explanation
It's rather large, but I think it'd be very useful for anyone dealing with inverted lists

I thought that the double `transformY -1`  (one for the list and one for each item) was cancelling out this offset top problem
At least I haven't noticed in other infinite lists I've used that apply this principle (though here we have dynamic item height)

Inspecting t

[2022-10-17 13:36] sketchydroide commented on #11884
The error says a string is being passed
[code]

[2022-10-17 13:55] thesahindia commented on #11858
@PauloGasparSv, can we reopen this as it's reproducible (it was also reported [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1665794603439699))
It is not consistent so hard to repro.

[2022-10-17 14:00] kbecciv commented on #11237
@sketchydroide Issue is reproduced with latest build 1.2.16-4

https://user-images.githubusercontent.com/93399543/196197000-be125e5a-3bc3-416e-a42f-7faa4d4b74d4.MP4

[2022-10-17 14:02] kbecciv commented on #11806
@youssef-lr Checking, will update you shortly

[2022-10-17 14:02] sketchydroide commented on #11884
Not a App blocker this is on the Web side

[2022-10-17 14:03] PauloGasparSv commented on #11858
Hey @thesahindia! I think we should keep it closed till the P.R. https://github.com/Expensify/App/pull/10648 gets merged because it will also be tested against iOS if that's ok.

I'll link this issue to the P.R.

[2022-10-17 14:04] trjExpensify commented on #9734
^^ 👋 @Luke9389, has this come off hold or something?

[2022-10-17 14:07] parasharrajat commented on #11816
Let me review it first.

[2022-10-17 14:08] sketchydroide commented on #11237
Thanks, I think it might be part of the process the login part.
let me try again.

[2022-10-17 14:09] sobitneupane commented on #11863
@Uros787 You have attached video of simulator After fix. Will be able to attach video of physical device before and after fix?

[2022-10-17 14:10] parasharrajat commented on #11658
Waiting on source map internal issue.

[2022-10-17 14:13] parasharrajat commented on #11737
I am preoccupied with some other stuff. @thienlnam Please assign this to someone else. Thanks.

[2022-10-17 14:15] iwiznia commented on #11884
This should be fixed, can you retest @kavimuru

[2022-10-17 14:15] kbecciv commented on #11202
@sketchydroide As you mention above - the double green lines is no longer happening (the original issue). Build is 1.2.16.4
The double messages I was able to reproduce this time, please attached.

https://user-images.githubusercontent.com/93399543/196199757-b884d3ec-d21b-4545-b742-31b7dd8d89b8.MP4

[2022-10-17 14:16] iwiznia commented on #11887
This should be fixed, can you test @kbecciv ?

[2022-10-17 14:18] sketchydroide commented on #11202
Thanks, I think the double messages is a different thing, not sure if there is already a GH for it.

[2022-10-17 14:18] JmillsExpensify commented on #10550
I'm not super passionate. Feel free to keep for now. We can circle back when API Unchained is done and bugs/performance and the like are our top priority for WAQ.

[2022-10-17 14:19] sketchydroide commented on #11880
https://github.com/Expensify/App/issues/11887 also not a deploy blocker.

[2022-10-17 14:19] parasharrajat commented on #11823
Could you please explain your changes here on the proposal?

---
1. Technically, we should be able to listen to drop over on the ReportScreen and show the UI.
2. Composer can continue listening to the drag-drop events and act as it is doing now.

[2022-10-17 14:22] kbecciv commented on #11858
@thesahindia @PauloGasparSv Issue is reproduced in latest build 1.2.16.4

https://user-images.githubusercontent.com/93399543/196202163-428dc5b7-756e-4e5c-b1c1-8fd9add7ac4c.MP4

![IMG_5063](https://user-images.githubusercontent.com/93399543/196202276-f6d9c724-73f1-4a9a-bd80-5ca0aab53bb5.png)

[2022-10-17 14:22] JmillsExpensify commented on #11854
Actually I'm getting ahead of myself. I think this should be external but I'll quickly confirm with an Engineer to ensure that others agree.

[2022-10-17 14:23] sketchydroide commented on #11880
@mvtglobally @kavimuru can we test again please 🙇🏼

Also I think we can check https://github.com/Expensify/App/pull/11857 off

[2022-10-17 14:23] kbecciv commented on #11698
@danieldoglas  Checking, updating you shortly

[2022-10-17 14:24] JmillsExpensify commented on #11854
@NikkiWines I imagine we can look for the orientation someone in the image metadata, so it's simply a matter of making sure we respect that orientation post upload. Do you agree?

[2022-10-17 14:24] mvtglobally commented on #11880
@sketchydroide Are you asking us to run another regression?

[2022-10-17 14:25] kbecciv commented on #11698
Unable to reproduce it with build 1.2.16.4

https://user-images.githubusercontent.com/93399543/196203117-12acf827-758c-4eb2-9ba9-1d64adeec647.mp4

[2022-10-17 14:26] JmillsExpensify commented on #11709
Awesome! @Puneet-here @thesahindia upwork job is here: https://www.upwork.com/jobs/~011d1ecd1dde653fb3. Please apply.

[2022-10-17 14:29] JmillsExpensify commented on #11652
All Contributors hired via Upwork.

[2022-10-17 14:29] kbecciv commented on #11892
@flodnv
Correct, it happens only on mobile Web. Windows/Chrome  is Pass for QA team.

https://user-images.githubusercontent.com/93399543/196203915-ad9af389-2887-4c23-92e2-45ffadbbb672.mp4

[2022-10-17 14:31] JmillsExpensify commented on #11458
@chauchausoup Before we get this one merged, can you please apply for the Upwork job for reporting/getting this discussion started? Job is here: https://www.upwork.com/jobs/~011c0f1b36bcc1bd3c.

[2022-10-17 14:31] JmillsExpensify commented on #11425
Still on hold.

[2022-10-17 14:33] JmillsExpensify commented on #11320
Ok so @aldo-expensify are we hiring @parasharrajat for this job? @chiragsalian are you good with this plan? As a reminder, the upwork job is here when we get there: https://www.upwork.com/jobs/~01521563b8fd74ea23.

[2022-10-17 14:33] JmillsExpensify commented on #11311
Alright trying to reproduce this one now for real.

[2022-10-17 14:38] kidroca commented on #11724
Removing `eslint-loader` reduced "General Output time" with a whole minute

Everything else being the same, the total build time is reduced to times between 1 min, 55.11 secs and 2min, 5 secs (from 3 min, 12secs)

I don't think we're gaining much by including eslint in webpack

#### For production
- merged code should already be satisfying lint rules

#### For development:

Eslint in Webpack, does

[2022-10-17 14:40] chauchausoup commented on #11458
@JmillsExpensify done.

[2022-10-17 14:43] JmillsExpensify commented on #11311
@grgia I was able to reproduce this one. I also updated the testing steps. Essentially, the message appeared in the LHN and that chat was bolded, but that message (as well as the rest of the chat history wasn't loaded).

This is what I see when I complete the testing steps at step 9.
LHN
<img width="409" alt="Screen Shot 2022-10-17 at 10 42 07" src="https://user-images.githubusercontent.com/112786

[2022-10-17 14:44] JmillsExpensify commented on #11277
Still on hold.

[2022-10-17 14:44] JmillsExpensify commented on #11192
Doubling the price again to hopefully get more proposals and interest.

[2022-10-17 14:48] mvtglobally commented on #11880
@sketchydroide
Both issues doesn't seem to be repro any more

https://user-images.githubusercontent.com/43995119/196209050-8493710b-22d7-41cb-83c2-33f22e9d931a.mp4

<img width="1359" alt="Screen Shot 2022-10-17 at 10 39 54 AM" src="https://user-images.githubusercontent.com/43995119/196209086-049db719-618c-4256-9929-2783281a386e.png">

[2022-10-17 14:49] JmillsExpensify commented on #10939
Yep. @Gonals Are you not on CME and that's why you unassigned yourself?

[2022-10-17 14:50] JmillsExpensify commented on #10939
Then @parasharrajat I'm not sure what you mean by this. The reproduction steps for this issue appear in 1111s description, and this issue is also linked. Let me know if I'm missing something. I'll go ahead and put a hold though in the meantime.

[2022-10-17 14:52] kbecciv commented on #11463
@flodnv I'm expecting all environments worked the same, this is only my opinion.

https://user-images.githubusercontent.com/93399543/196209810-a1d17d21-a3f0-49bc-960f-4f0cc9ddd3a3.mp4

[2022-10-17 14:52] JmillsExpensify commented on #10875
Oh because it's a crash investigation right? Thanks for the reminder, I'll update.

[2022-10-17 14:52] hannojg commented on #11677
Hey guys, currently experiencing this as well. Just wanted to let you know, can, later on, help track down what goes wrong. Its across all browser

[2022-10-17 14:53] parasharrajat commented on #11816
Ok, it seems that we can remove the state initialization. We are clearing the data on `componentDidMount` thus this does not make sense together. Also, every time we open the connect account page/add a bank account, the process is started again. So the user will select the bank account each time.

@sobitneupane's [proposal](https://github.com/Expensify/App/issues/11816#issuecomment-1279768978) loo

[2022-10-17 14:54] parasharrajat commented on #10939
If they are already added, then we are good. Thanks

[2022-10-17 14:54] kbecciv commented on #11887
@iwiznia Issue is fixed

https://user-images.githubusercontent.com/93399543/196210522-7c1bb831-4118-4de7-adba-2c4a26c6132f.mp4

[2022-10-17 14:55] adelekennedy commented on #11104
Doubling again!

[2022-10-17 14:55] JmillsExpensify commented on #10939
Ok cool, yes we're good! Will wait to see what Alberto says about removing himself while we're on Hold.

[2022-10-17 14:55] hannojg commented on #11677
<img width="1279" alt="Screenshot 2022-10-17 at 4 55 32 PM" src="https://user-images.githubusercontent.com/16821682/196210791-f2865d09-c78e-4598-96cd-649f2fa3f4b9.png">

I think its related to some CORS stuff

[2022-10-17 14:56] JmillsExpensify commented on #10765
@Santhosh-Sellavel Reminder to apply to the Upwork job when you have a chance.

[2022-10-17 14:56] mountiny commented on #11816
Thank you @parasharrajat! @sobitneupane Feel free to start the PR!

[2022-10-17 14:56] JmillsExpensify commented on #10729
Still on hold.

[2022-10-17 14:57] mountiny commented on #11867
Please see discussion in [this thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1665991322162069). This is related to the the react-drawer  update but we would like to fix it without downgrading its version.

[2022-10-17 15:00] parasharrajat commented on #11760
Not sure if this needs to be fixed. Is this still happening? Can someone check it?

[2022-10-17 15:01] kbecciv commented on #11202
Only KI I think of https://github.com/Expensify/App/issues/10550, please check

[2022-10-17 15:07] kbecciv commented on #11889
@Beamanator
Yes, we have TR steps saying that _Verify you are redirected to the  Connect bank account screen displaying the options to connect via Plaid or connect manually_.
![image](https://user-images.githubusercontent.com/93399543/196213476-ac42692e-1ca2-4c78-94bb-fd50294c52f1.png)

[2022-10-17 15:07] mallenexpensify commented on #7541
@osama256 @Santhosh-Sellavel can you provide an update, looks like the PR hasn't been updated for two weeks

[2022-10-17 15:09] mallenexpensify commented on #8132
Added `#7541` to hold in title, checked on it too, PR hasn't been updated for it in two weeks
https://github.com/Expensify/App/issues/7541

[2022-10-17 15:12] tsa321 commented on #9181
### Proposal

https://github.com/Expensify/App/blob/adc3ecea49cff208e0003e1a2b37b38ba5be8474/src/components/IOUBadge.js#L39-L50

My solution is to check whether we should display IOUBadge by compare iourepport total with it's default props:

[code]

<br />

Another solution is to check IOU report total and compare it with it's default value in `HeaderView`:
https://github.com/Expensify/App/blob/ad

[2022-10-17 15:13] Gonals commented on #10939
Ah, I can take it, but I got assigned to this PR during triage, as a triage engineer, not as a CME, which is why I unassigned myself. The external label later should have assigned another engineer (or myself, if that's what got rolled), but I think this issue got there right when we were deprecating the `Exported` label, so it didn't get en Engineer with `External` and it seems it missed getting o

[2022-10-17 15:14] PauloGasparSv commented on #11858
Thanks @kbecciv!
As [mentioned here](https://expensify.slack.com/archives/C01GTK53T8Q/p1666012831265479) we are reopening this, despite of the similar issue https://github.com/Expensify/App/issues/10539 that happens on Android as the root cause may not be the same and the issue was reproduced again!

Marking this as external!

[2022-10-17 15:21] Santhosh-Sellavel commented on #7541
Not sure why overdue isn't added even though it's weekly now.

[2022-10-17 15:23] lschurr commented on #11844
Posted job.

https://www.upwork.com/ab/applicants/1582029232576475136/job-details
https://www.upwork.com/jobs/~01ed68566e162a7e9b

[2022-10-17 15:23] sketchydroide commented on #11202
yep those are the steps I took 👍🏼

[2022-10-17 15:23] stitesExpensify commented on #11064
No new occurrences. Closing this one.

[2022-10-17 15:23] #11064 closed

[2022-10-17 15:26] vladamx commented on #11823
Yes, but i am not sure why would you duplicate logic for detecting drop in Report Screen as well?

[2022-10-17 15:28] Julesssss commented on #11632
I meant a proposal review, not a code review. But perhaps the same priority applies?

[2022-10-17 15:30] sketchydroide commented on #11880
I think we can also check off https://github.com/Expensify/App/pull/11794

[2022-10-17 15:31] Santhosh-Sellavel commented on #10290
Will not be able to get this soon @michaelhaxhiu can you reassign another C+ here, thanks!

[2022-10-17 15:32] PauloGasparSv commented on #11796
@kavimuru  @kbecciv I just tried again on desktop following [this comment+video](https://github.com/Expensify/App/issues/11796#issuecomment-1279295524)!

I got the same error message then tried again with the `SSN` as `3333` as specified in [this S.O.](https://stackoverflow.com/c/expensify/questions/342/525#525) and it worked!

<img width="381" alt="image" src="https://user-images.githubuserconten

[2022-10-17 15:41] kbecciv commented on #11796
@PauloGasparSv
Re-testing, update you shortly.

[2022-10-17 15:54] stitesExpensify commented on #11461
I agree. Updated the title.

[2022-10-17 15:54] #11887 closed

[2022-10-17 15:59] kbecciv commented on #11814
@tylerkaraszewski Unable to reproduce the issue with latest build 1.2.16.4

https://user-images.githubusercontent.com/93399543/196226111-cc286a17-ef5c-43d5-8ec4-315eaa195a10.mp4

[2022-10-17 16:03] shawnborton commented on #11427
Hey @tienifr - I am having trouble getting your video to work. Mind re-uploading so I can review?

[2022-10-17 16:06] shawnborton commented on #10352
Hmm so I kind of think we can just omit the `shouldAddBottomSafeAreaPadding` - otherwise we might get a weird gap at the bottom. I understand why that exists (for the home bar) but at the same time, not every attachment will be vertical and thus most of the time I think an attachment will go full bleed horizontally and thus we don't need to worry about the bottom portion. Not only that, but you ca

[2022-10-17 16:07] mountiny commented on #9999
Still in my backlog, I will let this once to the pool if anyone is interested

[2022-10-17 16:08] shawnborton commented on #9971
Just noting that we should add a more friendly "Empty state" to the blank workspaces page. I wonder if we should tackle that here? It would basically just be an Icon + text + button that feels more inviting than just a bunch of white space.

[2022-10-17 16:09] shawnborton commented on #9971
Otherwise this looks good to me! The counter logic is interesting though... I would think it would start off with `+1` instead of `+2`?

[2022-10-17 16:11] parasharrajat commented on #11823
I don't think it will duplicate the logic. Reportscreen's task would be to show the UI and Composer's to handle the file. Listening to drop events is not duplicate work.

But haven't reviewed your solution completely.

[2022-10-17 16:11] Santhosh-Sellavel commented on #11797
@hungvu193 @gadhiyamanan

Do we have any other migration changes expected as there are some breaking changes?

Can you elaborate,
on changes, if there are some migration changes, and how it does handle?

if no changes are required, how/why the breaking changes don't affect our app?

Thanks!

[2022-10-17 16:16] hungvu193 commented on #11812
Yes, I believe so

[2022-10-17 16:19] srikarparsi commented on #11713
unassigning myself as I believe Neil or Tim will work on this.

[2022-10-17 16:19] shawnborton opened #11908 "[HOLD for payment 2022-11-18] [$500] Standardize form error styles"
**Problem:**
Right now we have mutliple different ways of styling a form error.
![image](https://user-images.githubusercontent.com/2319350/196229958-b7735327-43e8-42ba-affa-d565e8fd6cf0.png)

**Solution:**
Let's standardize on how we style these form errors. Ideally this should follow the red brick road (dot indicator) style.

<img width="1110" alt="image" src="https://user-images.githubuserconten

[2022-10-17 16:20] roryabraham commented on #11811
Well, it _should_ land you in the error boundary, not full-crash the app. You'll notice that this was a non-fatal exception.

I think the advantage of throwing an error in cases like this is that it makes it really easy to know where the code didn't work as expected.

This crash only happened once for 1 user, so I'm thinking maybe we should close it and see if it happens again.

[2022-10-17 16:20] #11811 closed

[2022-10-17 16:25] luacmartins commented on #11267
@youssef-lr what exactly did you want input on? Is it whether or not we should use `errorFields` in Form? Or how to display those errors, or something else?

[2022-10-17 16:28] PauloGasparSv commented on #11796
Oh! Maybe it only worked for me because of that too but I thought the SSN fixed it!
Testing it again here

[2022-10-17 16:28] Santhosh-Sellavel commented on #11812
In what cases when it occurs?

Please share the steps!

[2022-10-17 16:29] luacmartins commented on #11850
@joekaufmanexpensify I just managed to reproduce again, but this time I had to refresh the page.

https://user-images.githubusercontent.com/22219519/196231973-3f16bb2b-4289-4650-8fd3-d8528eb8d9fb.mov

[2022-10-17 16:33] kbecciv opened #11910 "Web -OldDot Transition - New workspace is displayed without a name initially"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to NewDot and log in with a existing account
2. Navigate to OldDot and log in with the same account from the previous

[2022-10-17 16:33] sketchydroide commented on #11880
https://github.com/Expensify/App/pull/11527 - has been reverted, so we are checking it off

[2022-10-17 16:33] hungvu193 commented on #11812
ofc, it only happen on some devices, especially xiaomi devices.
To reproduce this, you need to open the app, close immediately and repeat that, you will see the crash when the screen went white and close.

[2022-10-17 16:34] Santhosh-Sellavel commented on #11812
@aldo-expensify Do we have multiple occurrences of this issue, can you check firebase crashlytics?

[2022-10-17 16:35] Santhosh-Sellavel commented on #11812
@hungvu193 So far we have one occurrence on production that's from Pixel 4

[2022-10-17 16:36] mallenexpensify commented on #11342
Happened to me again this morn, posted to #expensify-open-source to see if others are experiencing the issue
https://expensify.slack.com/archives/C01GTK53T8Q/p1666023825454809?thread_ts=1664293510.128719&cid=C01GTK53T8Q

[2022-10-17 16:37] roryabraham commented on #9737
We've given @aneequeahmad until tomorrow to provide a PR in a mergeable state, or we're going to cancel the job as a failure, at which point I'll most likely just take over the PR myself.

[2022-10-17 16:38] PauloGasparSv commented on #11796
Replicated here, the `SSN` was not the issue.
For some reason the first attempt to save the Fidelity connection fails but if you go back and try again it works.

Investigating the issue here!

[2022-10-17 16:38] kbecciv commented on #11463
Correct, attach the video for mWeb/Safari

https://user-images.githubusercontent.com/93399543/196234350-66e3c79f-ac36-475d-9422-072de190b1af.MP4

[2022-10-17 16:39] OSBotify commented on #11880
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11909) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.16-5` :rocket:

[2022-10-17 16:39] shawnborton commented on #11520
Agree, I think we need to assign internally to an engineer to update the file in [the location Jack posted above](https://github.com/Expensify/App/issues/11520#issuecomment-1276898268).

[2022-10-17 16:39] sketchydroide commented on #11880
https://github.com/Expensify/App/pull/11909 checking it off as it's the revert to https://github.com/Expensify/App/pull/11527 -

[2022-10-17 16:43] sketchydroide commented on #11858
removing the blocker as this was reported on the currently prod version.

[2022-10-17 16:43] Santhosh-Sellavel commented on #9818
@pecanoro the page looks too generic on the web, do we need to show a back button and a close button?

Can we loop the design to create a new page with a touch of Expensify branding?

[2022-10-17 16:43] sketchydroide commented on #11880
https://github.com/Expensify/App/issues/11858 is not a bloker, there was some confusion whit it, but it's currently in prod.

[2022-10-17 16:46] Santhosh-Sellavel commented on #10893
The feature should not be specific to the Set Password Page, we need a comprehensive solution for the whole app or at least links configured [here](https://github.com/Expensify/App/blob/main/.well-known/apple-app-site-association)

[2022-10-17 16:47] neil-marcellini opened #11913 "BUG: Updating a room name on two devices causes an error"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Sign in with any account
2. Create a workspace from the green plus (if needed)
3. Create a workspace room from the green plus

[2022-10-17 16:51] mallenexpensify commented on #11195
@chauchausoup this should work for ya https://www.upwork.com/jobs/~014b51c853743c4959
The GH issue number and `Expensify` should always be in the job title.

[2022-10-17 16:51] miljakljajic commented on #11588
Job posted to Upwork [here.](https://www.upwork.com/jobs/~01f4c7b9829bea4cfd)

[2022-10-17 16:54] neil-marcellini opened #11914 "[$500] BUG: Workspace room name input not grayed out when pending update fails"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Sign in with any account
2. Create a workspace from the green plus (if needed)
3. Create a workspace room from the green plus

[2022-10-17 16:54] alex-mechler commented on #11778
Thanks for checking! Sending this external, since I can't get it to reproduce, I don't think it requires API changes

[2022-10-17 16:59] adelekennedy commented on #11199
Still waiting for proposals

[2022-10-17 16:59] adelekennedy commented on #11126
potentially a backend issue

[2022-10-17 16:59] grgia commented on #9578
Not overdue, started working on this last Friday

[2022-10-17 16:59] adelekennedy commented on #11077
Still waiting

[2022-10-17 17:04] Puneet-here commented on #11694
It's probably because of the styling

I think it's good to use `canUseTouchScreen()` and `isSmallScreenWidth ` because this way the height of composer won't change for desktop when we decrease the screen size

[2022-10-17 17:06] Santhosh-Sellavel commented on #10731
@christianwen Tests well for me, can you check one more case. One of the changes proposed here causing a regression.

Steps: With code changes proposed above.

1. Log out
2. Sign in again
3. Open Search keyboard automatically closes on autofocus.

This happens until user manually focus the search input by tapping it.

[2022-10-17 17:07] mallenexpensify commented on #7968
@Santhosh-Sellavel can you review the above proposals from @mollfpr and @mdneyazahmad please?

[2022-10-17 17:07] grgia commented on #11859
Not overdue, checking for duplicates

[2022-10-17 17:07] miljakljajic commented on #11762
Is there a slack discussion anywhere for this one?

[2022-10-17 17:09] roryabraham opened #11915 "[HOLD for payment 2022-10-31] Software keyboard hides when you scroll the chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a chat
1. Click on the compose input to open the keyboard
1. Scroll the chat

## Expected Result:
The keyboard should sta

[2022-10-17 17:10] chiragsalian commented on #9971
I'd prefer a follow-up if its okay. I don't mind working on it but my PR is already pretty large and it would be nice to tackle this separately as a smaller PR so its easier for the reviewers. But that's just my opinion.

Oh interesting. I just checked what slack does and it counts does not count the 4rth avatar in its `+x` (since it is shown in opacity). So it would show +1 instead of +2. Makes s

[2022-10-17 17:11] Santhosh-Sellavel commented on #10731
Ah sorry, I missed to post it last week.

@christianwen proposal looks good to me, just waiting for [this](https://github.com/Expensify/App/issues/10731#issuecomment-1281182589)

Just one question to @iwiznia should fix in `react-native` & `react-native-web` library should go against our fork or library repoi?

[2022-10-17 17:14] mallenexpensify commented on #11274
@mvtglobally can you try to reproduce please?

[2022-10-17 17:15] Santhosh-Sellavel commented on #7968
Thanks for the bump, will get to this tomorrow!

[2022-10-17 17:15] kavimuru opened #11916 "BUG: Notification - Tapping on the notification takes to opening screen with logo and not to the chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to Android app with account A
2. Send message from Account B from another device
3. Tap on the notification

## Expected

[2022-10-17 17:17] mallenexpensify commented on #11493
Dropped in #engineering-chat (thought it was #engineering) to get 👀
https://expensify.slack.com/archives/C03TQ48KC/p1666027005682349

[2022-10-17 17:17] grgia commented on #11783
I can still replicate this, it most likely seems to be an issue with chrome dev tools not actually disabling WebSockets as pusher is still working

[2022-10-17 17:17] Santhosh-Sellavel commented on #10731
Asked [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1666027038603469)

[2022-10-17 17:22] ntrepanier commented on #11858
On hold until https://github.com/Expensify/App/pull/11586 is merged based on this [slack convo](https://expensify.slack.com/archives/C01GTK53T8Q/p1666012831265479).

[2022-10-17 17:22] chiragsalian commented on #11845
Shall investigate today

[2022-10-17 17:22] wildan-m commented on #11463
@kbecciv, (1) The button didn't show, or (2) it's covered by the keyboard? (We can find it when scrolling down)

@mananjadhav, @flodnv, if it's covered by the keyboard I think this issue is related to `KeyboardAvoidingView`, and most tasks related to it are on hold. Seems the internal team is working on it.

Similar issues can be found here: #10273

[2022-10-17 17:23] aldo-expensify commented on #11320
I vote for @parasharrajat 's solution, but leaving it up to @chiragsalian since he is the CME

[2022-10-17 17:23] grgia commented on #11311
I retested, I can replicate. The new chat appears in LHN but not in the main chat

[2022-10-17 17:23] mallenexpensify commented on #11502
Bumped my 'checkin' on something' internally https://expensify.slack.com/archives/C01SKUP7QR0/p1665702218396519

[2022-10-17 17:25] parasharrajat commented on #11915
Previously, we added this so that the user is able to see the whole list instead of a few items.

So the thought was that if a user is trying to scroll the list, the user probably wants to see the items below the keyboard. This kind of helped on small screens.

[2022-10-17 17:27] grgia commented on #11311
oop I just updated to staging 1.2.16-5 and am not able to replicate

[2022-10-17 17:28] grgia commented on #11859
Duplicate of https://github.com/Expensify/App/issues/11867

[2022-10-17 17:28] #11859 closed

[2022-10-17 17:28] parasharrajat commented on #11818
@Puneet-here 's [proposal](https://github.com/Expensify/App/issues/11818#issuecomment-1278034294) looks good to me.

cc: @sketchydroide

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-10-17 17:29] sketchydroide commented on #11880
:shipit:

[2022-10-17 17:30] kidroca commented on #11724
I'm getting much better results on my M1
- current (no changes): General output time - 50sec
- without eslint - 21sec

[2022-10-17 17:31] dangrous commented on #5671
It's the checklist that shows up when you make an App PR -

[2022-10-17 17:31] OSBotify opened #11920 "Deploy Checklist: New Expensify 2022-10-17"
**Release Version:** `1.2.17-4`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10994
- [x] https://github.com/Expensify/App/pull/11716
- [x] https://github.com/Expensify/App/pull/11813
- [x] https://github.com/Expensify/App/pull/11836
- [x] https://gi

[2022-10-17 17:37] PauloGasparSv commented on #11796
Will take some more time to work on this. Can't debug web-secure to understand the error due to the Php8.1 upgrade that is happening right now, Web-Secure is still not working with the updated version.

Will debug this again tomorrow since the timeframe of the Fidelity API's is closing by anyway!

[2022-10-17 17:38] eVoloshchak commented on #11762
Couldn't find anything by searching on slack, there's probably none since it was found while testing another issue

[2022-10-17 17:39] kavimuru opened #11921 "[$500] BUG: Copy / Pasting a last message in the compose box, returning the copied text and some random text reported by @mollfpr"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open a chat
2. Go to the last chat of a thread
3. Double/triple tap until all the text is highlighted and copy with CMD+C / C

[2022-10-17 17:41] grgia commented on #11590
Reopening, this is after requesting a split of $10 with 8 people. Different order and incorrect amount
<img width="1108" alt="Screen Shot 2022-10-17 at 10 39 52 AM" src="https://user-images.githubusercontent.com/38015950/196245717-17e22b0c-cf7e-4163-b031-c9051db7a0ba.png">
<img width="1480" alt="Screen Shot 2022-10-17 at 10 38 46 AM" src="https://user-images.githubusercontent.com/38015950/19624572

[2022-10-17 17:43] roryabraham commented on #11867
I'm going to put this issue on HOLD for https://github.com/Expensify/App/issues/11915 since we should have a fix ready-to-go in the upstream react-navigation repo.

[2022-10-17 17:44] aldo-expensify commented on #11487
@Santhosh-Sellavel opened a discussion on slack about this: https://expensify.slack.com/archives/C01GTK53T8Q/p1666027750882039?thread_ts=1664289824.630449&cid=C01GTK53T8Q

No other updates

[2022-10-17 17:45] mountiny commented on #11850
I ma not sure how we would prevent this as logging out will remove the authtoken and make it stale so making the requests after cannot be authenticated (makes sense). What do you think Carlos

[2022-10-17 17:47] mallenexpensify commented on #11330
@mananjadhav Can you please review the above proposals?

[2022-10-17 17:47] tienifr commented on #11737
@thienlnam In [here](https://github.com/Expensify/App/blob/e38df100d62d197689bb16888a3ac7859f157681/src/pages/home/report/ReportActionsView.js#L163-L175), `isLoadingReportActions` will be updated but `isLoadingMoreReportActions` is not updated in `Report.openReport` and `Report.reconnect`
https://github.com/Expensify/App/blob/e38df100d62d197689bb16888a3ac7859f157681/src/libs/actions/Report.js#L695

[2022-10-17 17:47] NikkiWines commented on #11854
I'd imagine it varies depending on what time of image but from looking at a couple of different types (.heic, .tiff, .jpg, screenshot) it looks like the orientation is occasionally provided:

.heic
<img width="306" alt="image" src="https://user-images.githubusercontent.com/16747822/196246373-6eaab2b6-57d1-4468-857b-d35425571764.png">

.tiff
<img width="304" alt="image" src="https://user-images.git

[2022-10-17 17:54] dangrous commented on #11890
This is indeed happening, but as @hungvu193 noted I think this is normal and as of now desired, so I'm going to go ahead and close this for now. Not sure if this was the goal, but it's a flow that prevents any mistaken taps of the close button which I think is probably good.

[2022-10-17 17:54] #11890 closed

[2022-10-17 17:56] OSBotify commented on #11880
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.16-5 has been deployed to staging :tada:

[2022-10-17 17:58] kavimuru opened #11922 "[$250] Feature request - Show content when open deep link from other user profile which is not in contacts list reported by @aimane-chnaif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
It shows loading forever. Especially, when someone shares user profile link from other social app and open it, user gets confused.

## Sol

[2022-10-17 18:03] Santhosh-Sellavel commented on #10765
Done thanks @JmillsExpensify

[2022-10-17 18:05] mountiny commented on #11854
Hmm this is odd issue and definitely feels like this must have worked before, maybe another regression which made it to production 😬

@kavimuru @mvtglobally can you confirm if you have a testRail case for this thing? ie taking a picture and uploading it and making sure all looks correct (resolution and orientation)

[2022-10-17 18:06] neil-marcellini commented on #11707
Waiting for proposals.

[2022-10-17 18:09] neil-marcellini commented on #10824
I think we probably want a solution without `setTimeout`. Let's not use a workaround fix.

[2022-10-17 18:09] Santhosh-Sellavel commented on #10824
We should start with this?

We don't prefer proposals with setTimeout.

[2022-10-17 18:10] Santhosh-Sellavel commented on #10824
@neil-marcellini I was typing the same! 😃

[2022-10-17 18:14] stitesExpensify commented on #10282
No update, but seems un-reproducible. We'll wait and see if it comes back

[2022-10-17 18:16] stitesExpensify commented on #8503
Almost done migrating off of setNativeProps. Other requirements are also moving along!

[2022-10-17 18:16] aldo-expensify commented on #11848
Thanks @mananjadhav

yes, that would be point 3

yes, would be good to test if that is the case. If it is the case, maybe we would want to add do something like:

[code]

[2022-10-17 18:16] aldo-expensify commented on #11848
I'll ask in slack to confirm what is the path we want to take

[2022-10-17 18:17] dangrous commented on #11057
Still on hold

[2022-10-17 18:18] shawnborton commented on #10352
Nice, I think that looks good to me 👍

[2022-10-17 18:19] luacmartins commented on #11850
I think that we should clear the request queue so that these requests are not triggered at all~

[2022-10-17 18:21] shawnborton commented on #11334
We should not be changing anything about the button component here. Can we solve this with flexbox? Where the button takes up as much space as it needs, and the input just stretches to fill the rest of the available space to the left?

[2022-10-17 18:23] aldo-expensify commented on #11812
I'm requesting access

[2022-10-17 18:23] chiragsalian commented on #11689
Shall investigate today

[2022-10-17 18:23] shawnborton commented on #11334
Awesome, I agree with that approach!

[2022-10-17 18:25] deetergp commented on #11697
Not overdue

[2022-10-17 18:30] chiragsalian commented on #9971
Cool yeah, i can easily add that in. @Expensify/marketing, could you suggest the copy for the middle of a blank workspace page i.e., this one?
![image](https://user-images.githubusercontent.com/14356145/196254748-001542ee-5190-4a68-97b1-bf553ec0b197.png)

[2022-10-17 18:36] luacmartins commented on #8503
https://github.com/Expensify/App/pull/11673 was merged, but the issue is still open for some reason. I think we can just close it.

[2022-10-17 18:36] stitesExpensify commented on #8503
Cool! Thanks guys!

[2022-10-17 18:37] stitesExpensify commented on #11053
Not sure why this isn't closed, but we can close it! https://github.com/Expensify/App/issues/8503#issuecomment-1281309960

[2022-10-17 18:37] #11053 closed

[2022-10-17 18:41] neil-marcellini commented on #10283
@Uros787 thanks for the detailed proposal. I think it's more complex than necessary and would make this code ever more challenging to maintain. I'm curious to hear your thoughts @Santhosh-Sellavel.

[2022-10-17 18:47] mvtglobally commented on #11274
Checking

[2022-10-17 18:53] mvtglobally commented on #10493
Can you guys check issue https://github.com/Expensify/App/issues/11348. Someone recommended to close it in favor of this issue. Should I close it?

[2022-10-17 18:57] mvtglobally commented on #11061
Team is still not able to repro unfortunately. Not sure of this is maybe device specific issue ?

https://user-images.githubusercontent.com/43995119/196259625-71ed2d9f-4da4-4539-8851-5fdd74e2507d.mp4

[2022-10-17 18:58] mvtglobally commented on #9391
Here is the latest retest.  Not sure if we are missing any steps, but issue is not repro

https://user-images.githubusercontent.com/43995119/196259965-3803d674-9d9e-4d1e-8237-6c49e4634ed1.mp4

[2022-10-17 19:00] NickTooker commented on #9971
@chiragsalian Thanks! I've read through the GH thread. Can you help me further understand what we are trying to convey to the end user with the text/copy specifically in the empty state? This will help me craft some versions for your review.

[2022-10-17 19:01] mvtglobally commented on #11274
@mallenexpensify
If we do the older messages issue seems repro. Should I add Auto-assignee label?

https://user-images.githubusercontent.com/43995119/196260480-63ed75b7-8396-4b94-a31d-bad53001f402.mp4

[2022-10-17 19:04] chiragsalian commented on #11320
Yes, I like @parasharrajat solution as well since its simple, and you've worked on this before and it seems to be working fine everywhere. Feel free to create the PR @parasharrajat.

[2022-10-17 19:19] aldo-expensify commented on #11414
I had a look at the code and it is possible to have errors per payment method and a "user wallet" error.

The payment methods errors appear under each payment method. The "user wallet" error is appearing below the "Add payment method" button. We are considering putting the "user wallet" error above the button. The only downside I see with this is that if it gets close to an account, it could be am

[2022-10-17 19:24] mvtglobally commented on #8130
checking

[2022-10-17 19:28] thesahindia commented on #11800
I believe that @mollfpr is correct about the root cause but just to be 100% sure, would you like to verify it once in the backend @dangrous?

[2022-10-17 19:29] parasharrajat commented on #11061
Seems to be working fine for me now too.

[2022-10-17 19:38] roryabraham commented on #8503
The last two items are moving along nicely

- @janicduplessis is making progress on upgrading bidirectional scrolling to work with Fabric and the [PR](https://github.com/Expensify/react-native/pull/32) is in review.
- it sounds like @hannojg figured out how to finish the Reanimated 3 upgrade without us waiting for the official release. So that should be almost ready to move forward as well

Then c

[2022-10-17 19:39] Santhosh-Sellavel commented on #11067
@jliexpensify This is due for payment, and deployed to production 12 days ago!

[2022-10-17 19:41] jamesdeanexpensify commented on #5671
Yeah I think just "adding the "Waiting for Copy" label for a copy review" or something like that would be great. It will auto-assign someone from the marketing team to review! I think it only works for issues, not PRs though.

[2022-10-17 19:42] AndrewGable commented on #11772
Awaiting proposals!

[2022-10-17 19:43] AndrewGable commented on #11776
cc @tgolen for keyboard bugs

[2022-10-17 19:46] vladamx commented on #11823
Okay. I will try to break it down.

First,in the Composer, we make adjustment in the dragging listener to not fire events for every child in the drop zone therefore creating needless events -> re-renders causing the overlay to blink. Additionally, we block drop outside the drop zone with none drop effect.
<img width="1242" alt="image" src="https://user-images.githubusercontent.com/11381171/1962653

[2022-10-17 19:47] lschurr commented on #11922
I'm not super clear on what kind of links cause this problem. Adding eng for a second pair of eyes.

[2022-10-17 19:53] thesahindia commented on #11771
That doesn't work.

@sketchydroide, I like @mollfpr's new [proposal](https://github.com/Expensify/App/issues/11771#issuecomment-1280438737). We will be making the changes [here](https://github.com/Expensify/App/blob/f0735d8cda7d97fafb4af748ccc644a001b485ef/src/components/OptionRow.js#L134).

C+ reviewed 🎀👀🎀

@mollfpr, try to link the code file in your proposals.

[2022-10-17 20:05] sophiepintoraetz commented on #11801
@marcochavezf - does @mollfpr's proposal work here?

[2022-10-17 20:08] roryabraham commented on #11915
Working on this ... currently blocked by infra process [here](https://expensify.slack.com/archives/C094TGUTZ/p1666036297632469). Once that's done hopefully we can push this forward quickly

[2022-10-17 20:13] fedirjh opened #11928 "[BUG] - Black screen on window close in fullscreen mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Desktop App
2. Set full screen mode
3. Click close button

## Expected Result:
Window is hidden

## Actual Result:
Full s

[2022-10-17 20:29] tomivs commented on #10107
## Proposal

As I mentioned before, I am considering using `node-keytar`.

Some of the advantages:
- Uses native system keychain
- No need to worry about encrypting or decrypting
- Gets system credentials straightforwardly from system keychain
- No need to store data in Onyx

### Example:
[code]
### Resources:

- [node-keytar GitHub repository with documentation and installing steps](https://githu

[2022-10-17 20:32] shawnborton commented on #11414
Cool, that is helpful. And then what kind of error would we see for userWallet.errors? Or rather, when would that happen?

[2022-10-17 20:34] parasharrajat commented on #11823
is this needed for this issue? I wouldn't mind leaving the default behavior for areas where we don't control the drag and drop.

To prevent `dragEnter` and `dragleave` from firing multiple times, I will suggest, checking if the target which is being entered or left is `CONST.REPORT.DROP_NATIVE_ID` instead of the increment counter. is it guaranteed that `entered node === exit node`?

We don't need

[2022-10-17 20:41] aldo-expensify commented on #11414
I can see that if you try to set a payment method as the default and you enter the wrong password, you get a `userWallet` error:

![image](https://user-images.githubusercontent.com/87341702/196278806-28c67a18-a2f3-453e-b2c2-b5e94460292c.png)

Here there are other possible errors which could end up there:

https://github.com/Expensify/Web-Expensify/blob/f7653bab8f7aa6b9dd1c2087b37d27dbdf4cdaec/lib/

[2022-10-17 20:41] parasharrajat commented on #11229
The proposal makes sense to me. But I am curious about point 2 `conditional showCreateMenu() call`.

How the `isFocused` or `isDrawerOpen` flag is changed before the screen is really open. :thinking: ?

[2022-10-17 20:43] shawnborton commented on #11414
Okay cool, I think that position makes sense then 👍

[2022-10-17 20:45] kavimuru opened #11929 "Web - VBA - Blank page appears in the step 5 of 5 when adding bank account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login
2. Go to workspace
3. Click connect bank account
4. Click "manually add" or plaid
5. Progress up to step 5/5

## Expecte

[2022-10-17 20:58] mvtglobally opened #11930 "[HOLD for payment 2022-12-02] [$1000] [Bug] Pressing escape when a popover is open closes the chat and the page gets stuck in the middle - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Decrease the screen size
2. Go to any chat
3. Click on actions (the :heavy_plus_sign: sign at the left side of message input)

[2022-10-17 21:07] NikkiWines commented on #11131
Yep! That looks good! Re-adding the `External` label to get a CM on this

[2022-10-17 21:11] roryabraham commented on #11724
People won't go for this, but that's okay.

I'd personally be fine with this, but as a backup for our hardcore vim users maybe we can just set up a separate lint script using https://www.npmjs.com/package/eslint-watch? Maybe that's not needed ... I'm sure there's a vim plugin for eslint for those hardcore vim users 🤷🏼

[2022-10-17 21:12] NickTooker commented on #9971
For the title - I'm not sure we need to change much from the title in the current mock.  I think this is exactly what we want the user to do.

For the text - I am pulling from the help article that Shawn provided (which was great!).  I think we want to convey what the workspace does, and that it needs to be set-up in order to access it's features. Let me know you initial thoughts and we can tweak

[2022-10-17 21:12] roryabraham commented on #11724
Overall I'm down to turn off the webpack eslint plugin, but would like to replace it with a separate eslint-watch script that can be optionally used instead 👍🏼

[2022-10-17 21:13] NikkiWines commented on #11131
@isabelastisser could you assign @mollfpr to this job, please? Thank you!

[2022-10-17 21:16] roryabraham commented on #9999
Overall I think we may have lost the context for this issue and the problem is unclear. I think we should refine the problem statement or close this out.

[2022-10-17 21:21] shawnborton commented on #9971
Nice, thanks Nick! What do you think about slightly trimming it down and omitting the `!`?

<img width="1434" alt="image" src="https://user-images.githubusercontent.com/2319350/196285193-0a408041-883c-4696-8df5-67f62609d73f.png">

[2022-10-17 21:24] chiragsalian commented on #9971
awesome, thanks guys, i'll update it.

[2022-10-17 21:25] shawnborton commented on #11908
After some [brief Slack discussion](https://expensify.slack.com/archives/C01GTK53T8Q/p1666040517101589), let's move forward with making the error text all red as well. I have updated the original comment in this issue with the desired outcome.

[2022-10-17 21:29] parasharrajat commented on #11283
I don't think it is working as well.
Chrome
![image](https://user-images.githubusercontent.com/24370807/196287170-1533f236-ea54-4939-878a-0eb8f7cce8bb.png)

Waiting fore proposals...

[2022-10-17 21:30] parasharrajat commented on #11283
Waiting for proposals...

[2022-10-17 21:33] alexpensify commented on #11921
@kavimuru - I'm unable to replicate this issue. Can you please try again? Thanks!

[2022-10-17 21:35] alexpensify commented on #11894
I'll review this one tomorrow.

[2022-10-17 21:37] roryabraham commented on #11920
Please leave this unlocked for a few minutes for a live deploy test. Thanks

[2022-10-17 21:38] kavimuru opened #11935 "Web - Chat - Last message in chat is open for edit upon pressing Up arrow button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
and login with any account
2. Open any chat with at least one message from current ac

[2022-10-17 21:39] roryabraham commented on #11915
Currently blocked on https://github.com/Expensify/Expensify/issues/234445

[2022-10-17 21:44] parasharrajat commented on #11229
It seems like when we first click on the FAB and then on the chat row. the FAB menu is not closed automatically unless the chat is fully loaded. it works completely fine for the reverse scenario.

https://user-images.githubusercontent.com/24370807/196289416-1db14f83-766a-49b9-ba03-5ea10168edba.mp4

[2022-10-17 21:47] Luke9389 commented on #11733
On HOLD.

[2022-10-17 21:47] Luke9389 commented on #11589
Still waiting on the upwork job to be created.

[2022-10-17 21:48] Luke9389 commented on #11171
Waiting for proposals.

[2022-10-17 21:48] jliexpensify commented on #11067
@Santhosh-Sellavel apologies, just looked at the other issue. Paying now.

[2022-10-17 21:48] Luke9389 commented on #10888
What do you think @mananjadhav?

[2022-10-17 21:50] #11067 closed

[2022-10-17 21:52] mvtglobally commented on #8130
@mallenexpensify
I asked few users to check, but doesnt seem to be repro any more

https://user-images.githubusercontent.com/43995119/196290723-1efc9639-593a-428e-b799-bc8eaef53f48.mp4

[2022-10-17 21:57] Luke9389 commented on #11377
I'll be doing further investigation on this one this week.

[2022-10-17 22:08] roryabraham commented on #11920
Okay, you can lock and begin QA

[2022-10-17 22:16] vladamx commented on #11823
Its not needed per say, but i think its much better since default behaviour would just open the file in the new tab therefore leaving the context of the app, which is annoying IMO.

This is connected to the drop_effect_none; so if we want that, we need to preventDefault at the beginning  of the listener. Otherwise, we can leave it like it was before

Agreed.

Agreed.

The problem is exactly that y

[2022-10-17 22:23] ctkochan22 commented on #11525
Sorry, messy week with the deploy.

@thesahindia So you are suggesting to place `Keyboard.dismiss()` above `fileDownload`?

If that is the case, yeah that's fine. @Uros787 lets do that.

[2022-10-17 22:26] ctkochan22 commented on #11808
Interesting. @kbecciv  can we reproduce this in a fresh account? Or this is specific to these users / `applause.expensifail.com`?

[2022-10-17 22:27] LucioChavezFuentes commented on #7860
E.g. if we scroll up a bit and pause, virtual items continue to be added which affects the total scrollable height, does the list apply any scroll position preserving logic when this happens?

@kidroca
Short answer: No, the scroll position is never adjusted programmatically (as far as I can see).

Long answer: It is easier to explain how the scroll is preserved if we see the full anatomy of FlatLi

[2022-10-17 22:29] Puneet-here commented on #11908
### Proposal
We can reuse `DotIndicatorMessage` here, we will also need to add a new prop `textStyle` we will use it for passing styles for text here
https://github.com/Expensify/App/blob/124ab4296f3d04ee276efbf0d74ff6eceb544898/src/components/DotIndicatorMessage.js#L61

And we just have to make changes in [BaseTextInput](https://github.com/Expensify/App/blob/main/src/components/TextInput/BaseText