[2022-10-28 14:49] Santhosh-Sellavel commented on #10729
You tagged wrongly @luacmartins then we are good to go with @mollfpr proposal.

[2022-10-28 14:49] kavimuru opened #12237 "[$250] Chat scrolls back to the last message on opening the keyboard reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat
2. Scroll the chat so that you can see the old messages
3. Tap on the input to open the keyboard

## Expected

[2022-10-28 14:52] Julesssss commented on #12171
This was first reported by @aimane-chnaif [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1666823962016809). Adding someone to help open the UpWork job and pay the reporting bonus.

[2022-10-28 14:53] Julesssss commented on #12171
Hey @maddylewis 👋

This issue was already fixed, but could you please create an UpWork job to pay out the reporting bonus for @aimane-chnaif. Thanks!

[2022-10-28 14:55] sobitneupane commented on #11265
After reloading the page, not only the compose box, nothing is pressable. We don't need to send attachment to reproduce this issue just reloading page is enough.

https://user-images.githubusercontent.com/25876548/198659806-6288097f-160a-493a-ab0a-81cd95a5af40.mp4

[2022-10-28 14:58] maddylewis commented on #12171
Hey @Julesssss - on it!

[2022-10-28 15:01] kavimuru opened #12238 "[HOLD for payment 2022-11-16] [$250] URL address popup won’t show when hovered on terms/privacy links on about page reported by @huzaifa-99"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/settings/about
2. Hover over the ‘terms of service’ and ‘privacy policy’ links on the

[2022-10-28 15:01] luacmartins commented on #10729
Oops sorry! Edited my comment

[2022-10-28 15:03] sobitneupane commented on #11265
In fact, this issue exists in other pages as well (probably throughout the app). Nothing is pressable after reloading the page in offline.

https://user-images.githubusercontent.com/25876548/198665830-c0196e99-8c94-4e29-8f1f-20a7cb2b4c4c.mp4

[2022-10-28 15:04] dylanexpensify commented on #10148
@rushatgabhane done!

[2022-10-28 15:05] roryabraham commented on #12234
On narrow screens (i.e: mWeb) – the splash screen should exactly match the native splash screen on iOS and Android

[2022-10-28 15:06] maddylewis commented on #12171
okay, here is the job posting - https://www.upwork.com/jobs/~01cc9c85b0ce6b42d2

[2022-10-28 15:10] maddylewis commented on #12171
and then, i think im rehiring Aimane C to the job?
<img width="1034" alt="image" src="https://user-images.githubusercontent.com/38016013/198670117-c65d2413-45d9-457d-bb6c-aa1c7a31635c.png">

and then paying them from there?

[2022-10-28 15:12] michaelhaxhiu commented on #9391
@mollfpr great catch, yes I am on #focus mode! I added it to the reproduction steps of the GH since we forget that initially.

[2022-10-28 15:17] kavimuru opened #12240 "[$1000] Clicking workspace room on LHN navigates to blank page reported by @aimane-chnaif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login with expensifail account (A) and create a workspace if there not any
2. Invite a public domain gmail account (B) as a me

[2022-10-28 15:17] huzaifa-99 commented on #12043
@marcaaron

### Root Cause
The `keydownhandler`
https://github.com/Expensify/App/blob/e263ffa9f69e696790547bca4bf93d3864da90c4/src/components/EmojiPicker/EmojiPickerMenu/index.js#L148
listens to every key but only handles these
- All arrow keys (left, right, top, bottom)
- Enter key

If any other key (`Tab` in our case) is pressed then it just returns the focus to emoji search input
https://github

[2022-10-28 15:22] shawnborton commented on #12188
Yup, happy to take a fresh look here. Did we ever have mobile mocks for this one too?

[2022-10-28 15:24] stitesExpensify commented on #12188
Not that I could find, no.

[2022-10-28 15:31] getusha commented on #12188
isn't that great if the suggested emojies aligned horizontally?

[2022-10-28 15:33] kavimuru opened #12241 "Over slow networks, show a splash screen when the site is loading"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open a new incognito window
2. Open the developer console, network tab
3. Throttle your network connection to Slow 3G
4. Go t

[2022-10-28 15:35] roryabraham commented on #12241
Closed as dupe of https://github.com/Expensify/App/issues/12234

[2022-10-28 15:36] kbecciv opened #12242 "Chat - Skin Tone and Frequently used Emojis not persistent when going offline/online"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open https://staging.new.expensify.com/
on two devices.
2. On primary device, tap on any chat.
3. On Secondary device, open sa

[2022-10-28 15:39] neil-marcellini commented on #12143
@tgolen it does not "ring a bell" in the sense that I've never seen an issue like this. There was an issue where the name wasn't updating in the side bar, but that was due to the component not updating when the name changed. I'm happy to fix this issue internally if it is indeed a problem with the api as suggested in the last comment https://github.com/Expensify/App/issues/12143#issuecomment-12939

[2022-10-28 15:41] kbecciv opened #12243 "Profile - Timezone changes are not updated on secondary device until page refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login with expensifail account on https://staging.new.expensify.com/ on 2 devices
2. Open Settings/Profile on both devices
3.

[2022-10-28 15:42] miljakljajic commented on #11762
Doubled to $500.

[2022-10-28 15:44] muttmuure commented on #11951
Price has been doubled to $500

[2022-10-28 15:45] michaelhaxhiu commented on #11337
Doesn't seem to be much interest on this one... Hrm. Do we close it and see if it happens again? Been 1 month since it was opened.

[2022-10-28 15:45] neil-marcellini commented on #10283
@syedsaroshfarrukhdot To be clear let's set the `minHeight` to `94` and also please add a comment explaining why it's needed and why 94 is the right value.
https://github.com/Expensify/App/blob/83676c1036299ffecbf82f4b829a7f8cbd741cd7/src/styles/styles.js#L2128

[2022-10-28 15:47] Julesssss opened #12244 "[HOLD for payment 2022-11-11] [$250] Pay button is briefly hidden by loading spinner"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

CC @luacmartins as we discussed this, but feel free to unassign

## Action Performed:
- Login as a user that has received an IOU request
- Open the ch

[2022-10-28 15:47] kbecciv opened #12245 "Chat - A new avatar is displayed only after refreshing the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Navigate to any conversation
4. Write something
5. U

[2022-10-28 15:59] kavimuru opened #12246 "[$1000] The transition of opening a new workspace at the creation doesn't match to other pages reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to settings > workspaces
2. Create a workspace
3. Check the transition

## Expected Result:
The transition should match wi

[2022-10-28 16:06] neil-marcellini commented on #8719
This issue is fixed!

https://user-images.githubusercontent.com/26260477/198682262-0c81ff4a-6fe2-4400-a40d-ffb06e6109c3.MP4

Here is the issue I created for the other bug https://github.com/Expensify/App/issues/11722

[2022-10-28 16:06] #8719 closed

[2022-10-28 16:11] hungvu193 commented on #12244
<b>Proposal<b/>
Actually we are waiting for payment method then decide to show the button
<img width="1015" alt="Screen Shot 2022-10-28 at 23 09 43" src="https://user-images.githubusercontent.com/16502320/198683388-79755c3b-9b22-4e16-b867-7c4c135f499c.png">

<b>Solution</b>
To fix this we can remove the condition here in BaseKYCWall.js
[code]

But I think we wait for the payment method is fine, we

[2022-10-28 16:19] kavimuru opened #12247 "Implement attaching .txt file to send more than 15 K characters reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Problem:
you can't send more than 15k chars.

## Solution:
Attach a .txt file when a user pastes more than 15k chars.
## Platform:
Where is this iss

[2022-10-28 16:19] vladamx commented on #12234
**Proposal**

The idea is to show the splash as soon as possible and then wait for React to mount the root element with content which will replace the splash screen with app content.

In the alternative solution, the idea is similar but we are controlling the display of the splash by making sure React is done mounting and minTime has passed.

Solution 1:

<img width="1144" alt="image" src="https:/

[2022-10-28 16:25] roryabraham commented on #12236
Obviously, rebuilding bidirectional pagination in FlashList is a concern, but not an insurmountable one. Some of the work (i.e: `maintainVisibleContentPosition` Android implementation) will be reusable, and we should have a much better idea what will be involved in building it out in a new library. Would be willing to work on this piece if we validate that this library is a viable option for E/App

[2022-10-28 16:28] kbecciv opened #12249 "[$250] Chat- "New messages" doesn't jump directly to the message marked as Unread for second time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12124

## Action Performed:
1. Go to staging.new.expensify.com
2. Go to any ch

[2022-10-28 16:33] marcaaron commented on #12043
But **we are pressing `'Enter'`** not Tab in the reproduction. So why is the event not handled?

Works fine

Moves focus to the search input. Why does this happen if the Enter event is handled?

Also, returning focus on "any" key press is kind of generic. Does anyone know why we return focus to the search input when **any other key is pressed**? I feel like we should not be returning the focus unl

[2022-10-28 16:35] michaelhaxhiu commented on #7916
Seems PR is still pending. Are we close @parasharrajat?

[2022-10-28 16:42] roryabraham commented on #11997
Taking this out of planning. It would be a somewhat big lift for us to make graphs.expensify.com public, so we should maybe just publish these metrics separately than our other Grafana graphs

[2022-10-28 16:43] roryabraham commented on #9457
High-level design doc in review

[2022-10-28 16:43] roryabraham commented on #7925
Still on HOLD for comment linking, which is WIP

[2022-10-28 16:50] tjferriss commented on #9408
💰Price Doubled to $500💰
Upworks post - https://www.upwork.com/jobs/~019dc712cf78819fe3

[2022-10-28 16:54] azimgd commented on #10107
@parasharrajat

I created an NPM package with that enables form autofill on any `<TextInput />` based on the Proposal and Feedback above.  It allows grouped form input persist and autofill. I'm planning on adding both KeyTar and SafeStorage providers.

### Implementation
https://www.npmjs.com/package/electron-form-autofill
https://github.com/azimgd/form-autofill

### Usage at E/App
https://github.

[2022-10-28 16:55] tjferriss commented on #10736
Ok I'm going to close this out. Please reopen if you can reproduce.

[2022-10-28 16:55] #10736 closed

[2022-10-28 16:59] stitesExpensify commented on #7968
I agree with @Santhosh-Sellavel points so far in this thread. There has not yet been a proposal that we want to move forward with and we are still looking for solutions!

[2022-10-28 17:02] puneetlath commented on #11768
No luck with the maintainers. Have asked margelo if they can help next.

[2022-10-28 17:07] tjferriss commented on #12243
I was able to reproduce the bug on staging between the web app and mobile app.

Though I'm going to tag in engineering here for a few questions...
- Is this really a bug? I'm not sure I expect any app to immediately refresh like this, though I rarely if ever test apps out like this. I mean in an ideal world changes should update this quickly without a refresh so I love the goal here.
- I was able

[2022-10-28 17:08] #12177 closed

[2022-10-28 17:14] puneetlath commented on #12004
@smrutiparida the issue exists even when a default payment method is set. Here's an example from my account:
<img width="362" alt="Screen Shot 2022-10-28 at 1 12 45 PM" src="https://user-images.githubusercontent.com/1371996/19869458

<img width="355" alt="Screen Shot 2022-10-28 at 1 12 54 PM" src="https://user-images.githubusercontent.com/1371996/198694604-75246e6b-a7a5-4502-aef3-f3e46f5cd321.png"

[2022-10-28 17:15] chiragsalian commented on #11132
No idea, i haven't investigated this issue since I thought others were investigating. Could either @Julesssss, @Puneet-here, or @thesahindia summarize where we currently stand on the issue and if there are any next steps to tackle this?

[2022-10-28 17:15] roryabraham commented on #12234
Awesome, solution 2 looks good to me, though I think if we could use an `svg` instead of a `png` that would be ideal 👍🏼

No need, we can have this work the same on web/desktop.

[2022-10-28 17:17] puneetlath commented on #10409
Added to the tracking issue and re-assigned to @JmillsExpensify.

[2022-10-28 17:18] huzaifa-99 commented on #12043
@marcaaron because the `highlightedIndex` state is not updated when `Tab` is pressed.

I understand your point that `Enter` is already handled. And since you pressed `Tab` and then `Enter`, this block (that selects the emoji on `Enter`) is not executed, because the `highlightedIndex` is `-1` (by default)
https://github.com/Expensify/App/blob/e263ffa9f69e696790547bca4bf93d3864da90c4/src/components/

[2022-10-28 17:20] puneetlath commented on #11512
Nice and simple! I like it.

[2022-10-28 17:27] pecanoro commented on #9818
I am actually not sure if redirecting is the best solution, not all newDot URLs are chats though. Do we have to redirect? Can't we just show the error message with the same URL? Is it too complex?

[2022-10-28 17:28] shawnborton opened #12251 "Implement new core brand ingredients"
Note: This issue is part of the greater **[Implement Our New Branding in NewDot](https://github.com/Expensify/Expensify/issues/239140)** project.

Design Doc: https://docs.google.com/document/d/197fXHLlHM_RJA4-3MITwdu0N5e0HX5Q74sA4W80YMD8/edit#

**What is it:**
Updating our old colors, logos, icons, and fonts with new brand ingredients. Updating our old button styles to look like pill shapes, and

[2022-10-28 17:28] chiragsalian commented on #11319
Ah awesome, okay now im able to reproduce it on both staging and production. This should be straightforward to address. Adding External label and demoting to weekly.

[2022-10-28 17:29] mollfpr commented on #10729
@luacmartins @Santhosh-Sellavel PR raised, thanks! 🚀

[2022-10-28 17:29] tgolen commented on #12143
OK, thanks. I saw that you added the API call so I thought you might be
able to track this one down pretty quickly. I had a brief look at it, but I
couldn't tell where the pusher message or the data for it was coming from.
Could you please look into that and fix this?

On Fri, Oct 28, 2022 at 9:39 AM Neil Marcellini ***@***.***>
wrote:

[2022-10-28 17:30] dhairyasenjaliya commented on #9408
**Proposal**

- Since we are checking the `hasDraft` key to show/hide the pencil icon from onyx we should add `false` to `hasDraft` when we are deleting the workspace

- Here in `...map` we are getting all reports from a selected workspace with `hasDraft` value so adding `false` to  `hasDraft` will remove the pencil icon from all workspace reports

https://github.com/Expensify/App/blob/e1e865027e0

[2022-10-28 17:33] Julesssss commented on #12244
I think we can still improve this. Users can always mark paid, so lets show the button, and update it with the alternate payment method.

[2022-10-28 17:34] shawnborton opened #12253 "[HOLD for payment 2023-04-26] Update sign up/sign in screen imagery to match new branding"
Note: This issue is part of the greater **[Implement Our New Branding in NewDot](https://github.com/Expensify/Expensify/issues/239140)** project.

**What is it:**
Updating the home page and sign up flow in the app to include our new illustrations. We’ll need to consider what this looks like for both mobile and desktop. Note that this may be adjusted based on passwordless flow.

Mini Design Doc can

[2022-10-28 17:42] shawnborton opened #12255 "Update our app store listings"
Note: This issue is part of the greater **[Implement Our New Branding in NewDot](https://github.com/Expensify/Expensify/issues/239140)** project.

What is it:
Updating the [Apple](https://apps.apple.com/us/app/expensify-cash/id1530278510) and [Google](https://play.google.com/store/apps/details?id=com.expensify.chat&hl=en_US&gl=US) app store listings for NewDot

![image](https://user-images.githubu

[2022-10-28 17:45] luacmartins commented on #10216
I've been focused on the Split Bill API refactor, so no updates yet.

[2022-10-28 17:45] shawnborton opened #12256 "[HOLD for payment 2023-02-10] Update new chat empty state"
Note: This issue is part of the greater **[Implement Our New Branding in NewDot](https://github.com/Expensify/Expensify/issues/239140)** project.

**What is it:**
Updating the default screen you see when you first start a chat with someone. Let’s also use our green brick road pattern for the green plus button (highlight this button in green until text is typed), and let’s use a randomized message

[2022-10-28 17:48] shawnborton opened #12257 "[$1000] [Hold for payment 2022-12-06] Update workspace editor illustrations"
Note: This issue is part of the greater **[Implement Our New Branding in NewDot](https://github.com/Expensify/Expensify/issues/239140)** project.

**What is it:**
Updating the illustrations found in the workspace editor. We will also update the sections of the editor to look like “cards”

![image](https://user-images.githubusercontent.com/2319350/198700146-641a8210-71bd-4e8c-a2be-014c69c9a6e8.png)

[2022-10-28 17:50] shawnborton opened #12258 "[$1000] Update IOU Preview Card Styles"
Note: This issue is part of the greater **[Implement Our New Branding in NewDot](https://github.com/Expensify/Expensify/issues/239140)** project.

**What is it:**
Small design updates to the IOU request line and preview card to match our new brand ingredients. Note that we’ll save any major IOU report view changes for N7.

![image](https://user-images.githubusercontent.com/2319350/198700477-3c3f63

[2022-10-28 17:52] shawnborton opened #12259 "[HOLD for payment 2023-03-14] Implement better default avatars"
Note: This issue is part of the greater **[Implement Our New Branding in NewDot](https://github.com/Expensify/Expensify/issues/239140)** project.

**What is it:**
- Add a wider variety of default avatars in the app for users
- Use the first initial/number from the workspace name as the default workspace title along with a random color pairing

<img width="1333" alt="image" src="https://user-images

[2022-10-28 17:54] shawnborton opened #12260 "Implement Theme Switching / Light Mode"
Note: This issue is part of the greater **[Implement Our New Branding in NewDot](https://github.com/Expensify/Expensify/issues/239140)** project.

![image](https://user-images.githubusercontent.com/2319350/198701221-dcd8f39b-19a5-45f3-b883-5864c57e1971.png)

**What is it:**
Add the ability to switch themes in the app between light and dark modes.

**Does it require a mini design doc:**
Yes, this w

[2022-10-28 17:58] michaelhaxhiu commented on #12198
Posting to Upwork.

[2022-10-28 17:58] shawnborton opened #12261 "Better default empty states with animation"
Note: This issue is part of the greater **[Implement Our New Branding in NewDot](https://github.com/Expensify/Expensify/issues/239140)** project.

**What is it:**
Bring life to our app by animating various empty states illustrations. We can split this project into two phases: first, let’s identify areas where we can use illustrations for empty states. Augenblick can help us create new illustration

[2022-10-28 18:03] shawnborton opened #12262 "Create a custom platform sound"
Note: This issue is part of the greater **[Implement Our New Branding in NewDot](https://github.com/Expensify/Expensify/issues/239140)** project.

What is it:
Create custom brand sounds to use for things like notifications and when messages are received.

(Old issue for reference: https://github.com/Expensify/Expensify/issues/196381)

Does it require a mini design doc:
Yes

Sounds finished:
No

[2022-10-28 18:05] shawnborton opened #12263 "Sticker pack and emoji picker improvements"
Note: This issue is part of the greater **[Implement Our New Branding in NewDot](https://github.com/Expensify/Expensify/issues/239140)** project.

**What is it:**
Add a selection of custom stickers that can be inserted chat messages via the emoji picker. Note that we can also consider other emoji picker improvements here like the ability to browse emojis via category icons and search for emojis

!

[2022-10-28 18:05] michaelhaxhiu commented on #12198
Job link - https://www.upwork.com/jobs/~01b9d92e7c3fc4c620

[2022-10-28 18:05] LucioChavezFuentes commented on #7860
Update: right now I'm testing if the problems and solutions stated in [my proposal](https://github.com/Expensify/App/issues/7860#issuecomment-1278264392) still apply to the [refactor of VirtualizedList](https://github.com/Expensify/App/issues/7860#issuecomment-1290154499).

[2022-10-28 18:06] bfitzexpensify commented on #12054
Update from Lucio in https://github.com/Expensify/App/issues/7860#issuecomment-1295304100:

[2022-10-28 18:10] shawnborton opened #12264 "[$1000] Update Concierge icon"
Note: This issue is part of the greater **[Implement Our New Branding in NewDot](https://github.com/Expensify/Expensify/issues/239140)** project.

**What is it:**
Replace the Concierge bell icon with a new icon

![image](https://user-images.githubusercontent.com/2319350/198704097-3751b666-f395-4001-96e0-1e8f7a23c651.png)

**Does it require a mini design doc:**
No

**Design finished:**
Maybe?

cc @

[2022-10-28 18:24] syedsaroshfarrukhdot commented on #10283
**Update Proposal:-**

In IOUPreview.js reportIsLoading is true activity indicator renders and when it's hidden somehow at inital render it's minimumheight in the styles.iouPreviewBoxLoading affects the next view being rendered in the scroll view.

https://github.com/Expensify/App/blob/151ec1ad3355cfa162ad490030f19a7134bbc076/src/components/ReportActionItem/IOUPreview.js#L123-L124

To fix it we ha

[2022-10-28 18:25] michaelhaxhiu commented on #10263
@cowboycito were you interested in making a proposal on this one 😺 ?

[2022-10-28 18:26] maddylewis commented on #12171
ok i paid $250 to Aimane Chnaif via Upwork.

[2022-10-28 18:26] michaelhaxhiu commented on #10893
Still waiting on @Santhosh-Sellavel to review the latest proposal, but might be a little delayed due to local holidays.

[2022-10-28 18:27] syedsaroshfarrukhdot commented on #10283
@neil-marcellini Thank you for assigning me the job. I will be making a PR ready by tomorrow. I was unable to apply on `Upwork` i guess it has expired or something.

[2022-10-28 18:32] mallenexpensify commented on #10894
Chatted this morn!  We might want to update the list in the OP to bunch issues/themes or if some issues are help on others.

[2022-10-28 18:33] cowboycito commented on #10263
@michaelhaxhiu I was but according to my research there's no way to natively support what the issue specifies (since WebKit explicitly specifies only a few mime types). Given that, I think @andrewlor 's solution is the best one for now, although it causes some other issues related to long press/double tap the input. If at any moment we decide that pasting "native" iOS images (e.g.: HEIC files) on

[2022-10-28 18:33] maddylewis commented on #12171
welcome!

[2022-10-28 18:34] kbecciv opened #12265 "[HOLD for payment 2022-11-29] [$250] Workspace - Error message for invalid phone number invite disappears fast"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue found when executing PR** https://github.com/Expensify/App/pull/11784

## Action Performed:
1. Launch the app and login
2. Create 5 workspaces

[2022-10-28 18:37] kbecciv opened #12266 "[$1000] Web- Chat - Action's menu is truncated when going to minimum page size"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Go to any chat
4. Click on the FAB `+` (Action menu

[2022-10-28 18:48] abekkala commented on #11921
@osama256 can you address the requested information for your proposal, please.

[2022-10-28 18:53] shawnborton commented on #12263
Yup I agree with you!

[2022-10-28 19:07] michaelhaxhiu commented on #10263
Understood! Thanks for the explanation.

Do you think a potential upstream repo fix could be in order here to solve this problem? We've done them in the past and I'm mainly curious what you think!

[2022-10-28 19:08] deetergp commented on #11999
I'm closing this as not valuable. Nobody can say that it was a thing that existed then went away, so it isn't really a bug.

[2022-10-28 19:08] #11999 closed

[2022-10-28 19:08] marcaaron commented on #12043
Yeah so, I'm still kinda confused about why we would need to independently track the index of the emojis? We are listening to `Enter` presses on `document`, but my expectation would be that pressing `Enter` while an emoji is tabbed over by the browser would simulate clicking on it with the mouse. That's the typical browser behavior I'd think...

[2022-10-28 19:11] marcaaron commented on #12043
Why is this event here not firing?

https://github.com/Expensify/App/blob/e263ffa9f69e696790547bca4bf93d3864da90c4/src/components/EmojiPicker/EmojiPickerMenu/index.js#L441

[2022-10-28 19:27] abekkala commented on #12240
hmm, I actually wasn't able to reproduce this taking the steps in the OP

@kavimuru and @aimane-chnaif  would you mind clarifying reproduction steps and/or to check the reproduction steps again.

Thanks!

[2022-10-28 19:28] michaelhaxhiu commented on #9391
@mananjadhav this proposal from @mollfpr is pretty solid if you ask me. Take a look when you are back online and let us know :)

[2022-10-28 19:30] joekaufmanexpensify commented on #11916
Bumped price to $500. Job is [here](https://www.upwork.com/jobs/~015db26f2a7ffd51f3). [Bumped in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1666985419202579).

[2022-10-28 19:31] kavimuru commented on #12082
@Julesssss @mallenexpensify  I am still able to reproduce in Web / Chrome

https://user-images.githubusercontent.com/43996225/198717539-009a1687-0e4f-4378-85f1-cc0fe575b4bd.mp4

[2022-10-28 19:39] vladamx commented on #12234
PR 31.10.2022

[2022-10-28 19:40] puneetlath commented on #11713
Sorry for the delay! Looking at this now.

I don't think I really agree that this is a bug. The scenario being described is one that doesn't really feel like a user would be likely to hit. The fact that each time they type a letter, the most up to date results are searched feels good enough to me.

I'm going to go ahead and close this based on my understanding of the issue. But if anyone disagrees

[2022-10-28 19:53] vladamx commented on #11494
@marcaaron

I did take a look at this issue last week and parser actually inserts space when striping html tags so when lastMessageHtml goes through parser lastMessageText is properly displayed.

By taking a quick glance i couln't find the exact spot where lastMessageHtml and lastMessageText get de-synced.

I think that actual problem here is that we are duplicating information in state. We can on

[2022-10-28 19:57] kavimuru commented on #12240
@abekkala I am adding the new video depicting the issue.

https://user-images.githubusercontent.com/43996225/198721662-acbbfdf5-2597-45b4-8233-ec1793eefa7c.mp4

[2022-10-28 20:02] cowboycito commented on #10263
@michaelhaxhiu not sure I got what you suggested. Do you mean changing WebKit's code?

[2022-10-28 20:25] mvtglobally commented on #12223
Interim summary

PR https://github.com/Expensify/App/pull/11784 failing with https://github.com/Expensify/App/issues/12265. repro in PROD checking off
PR https://github.com/Expensify/App/pull/12124 is failing due to https://github.com/Expensify/App/issues/12249
PR https://github.com/Expensify/App/pull/12136 looks PROD QA. Are we ok to check off?

[2022-10-28 20:27] michaelhaxhiu commented on #10263
Yep, that's what I was suggesting. Mainly because we've had other upstream repo fixes for react libraries in the past, so just thinking if it makes sense here too to fully solve it?

[2022-10-28 20:28] Luke9389 commented on #12127
I think this is a dupe of this: https://github.com/Expensify/App/issues/11265#issuecomment-1295101299

[2022-10-28 20:28] #12127 closed

[2022-10-28 20:32] michaelhaxhiu commented on #11415
confirmed we don't double beyond $500

[2022-10-28 20:32] #11337 closed

[2022-10-28 20:32] NicMendonca commented on #11204
@parasharrajat I'll set this one to weekly too!

[2022-10-28 20:33] parasharrajat commented on #12043
Global keydown listener is running in the Capture phase thus it fires first. And because tabbing does not change the internal index state. It does not work as expected. I suggested using `focus/blur` events earlier as I thought the default tabbing behavior will be enough to handle it. But due to customs handling of arrow keys and internal index state, it does not work well. It requires a few more

[2022-10-28 20:46] kavimuru opened #12267 "[HOLD for payment 2023-02-15] [$250] Text is displayed in Times New roman when the site renders first"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open a new incognito window
2. Open the developer console, network tab
3. Throttle your network connection to Slow 3G
4. Go t

[2022-10-28 20:48] srikarparsi commented on #12066
good idea @adeel0202, just tried it with slow connection and I'm able to reproduce the issue.

https://user-images.githubusercontent.com/48188732/198729771-3b4c90f2-683e-49c3-bb4e-27599b72a575.mov

Will try reproducing the other one now.

[2022-10-28 20:50] kavimuru opened #12268 "[HOLD for payment 2023-02-08] [$250] Strip workspace name of html or handle validation php side reported by @kerupuksambel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open [staging.new.expensify.com](http://staging.new.expensify.com/)
2. Create new workspace
3. Change the name of the workspa

[2022-10-28 20:51] puneetlath commented on #11595
PR has been merged.

[2022-10-28 20:55] kavimuru opened #12269 "Scrollbar is overlapping with the text in composer reported by @puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat> Paste a big paragraph
2. Scroll the text and hover over the scroll bar

## Expected Result:
The text should b

[2022-10-28 21:03] srikarparsi commented on #12066
I'm able to reproduce the second issue as well (manage members screen displaying an error after uploading high res profile picture with slow internet connection). I agree that the two issues are probably related. I'm a little busy with some other issues so will mark it external to get it looked at quicker.

https://user-images.githubusercontent.com/48188732/198732161-4bdb870e-35fc-43ec-a8f4-9b2484

[2022-10-28 21:13] afmire877 commented on #12188
What is there a list of emojis that should be available, as there could be literally infinite?

I found this list => https://unicode.org/emoji/charts/full-emoji-list.html but as a user, I would not expect some of these.

[2022-10-28 21:14] kavimuru opened #12271 "[HOLD for payment 2022-12-08] [$1000] Incorrect pasted text on copied HTML snippet reported by @kerupuksambel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open [staging.new.expensify.com](http://staging.new.expensify.com/)
2. Send this HTML snippet to someone  : `<a href="takia.h

[2022-10-28 21:15] kbecciv opened #12272 "Search - User is unable to find the name of the workspace he/she just created for public account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Create a new public account (gmail) and validate it
3. Go offline
4. Create a new workspace

[2022-10-28 21:21] cowboycito commented on #10263
@michaelhaxhiu so I just did another quick research on the WebKit/HEIC topic and I believe it's not something that will happen, even if we fix the issue and open a PR on WebKit's repo. If you take a look at [this comment](https://github.com/WebKit/WebKit/pull/3731#issuecomment-1232949778) you'll see that they don't want to put proprietary file formats (which is the case of HEIC) on WebKit. With th

[2022-10-28 21:23] kavimuru opened #12274 "Dev - dev console error on IOU request reported by @aimane-chnaif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login to any account
2. Request money to someone
3. Upon successful request, console error shows

## Expected Result:
No cons

[2022-10-28 21:26] marcaaron commented on #11494
Able to link to some code examples or something @vladamx? I'm having trouble following what you are saying, thanks.

[2022-10-28 21:26] michaelhaxhiu commented on #10263
That's super informative @cowboycito and helps explain the philosophy that webkit is operating on. I find HEIC files to be ridiculous and sort of hate them... they break all sorts of apps/uploads. I thought maybe still though, since it's apple backing this unique file type. Thank you for finding that contextual evidence and giving this a thoughtful take!

[2022-10-28 21:31] kbecciv opened #12275 "Chat -PDF file is not visible in the chat conversation, but it can be downloaded."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
2. Navigate to any conversation
3. Tap on Plus button

[2022-10-28 21:32] OSBotify commented on #12275
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-28 21:42] kavimuru opened #12276 "[HOLD for payment 2022-12-01][$250] Infinite spinner for user details when creating chats offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Turn off internet connection
2. Hit green fab > New chat
3. Press the chat details for the user and notice the spinner

## Ex

[2022-10-28 21:42] marcaaron commented on #12043
I think if it's a problem to do both arrow and tab navigation then we should just pick one and stick with it.

Looks like Slack just makes their emoji picker not tab-able at all. That seems like a much simpler solution.

**Tab only activates these**

https://user-images.githubusercontent.com/32969087/198737171-5a8a1a04-76f3-48e3-ba23-6be0b3855cdd.mp4

**Arrows are only able to select emoji when in

[2022-10-28 21:44] strepanier03 commented on #12027
Price doubled.

[2022-10-28 21:48] huzaifa-99 commented on #12043
@marcaaron I had a similar recommendation in my original proposal comment https://github.com/Expensify/App/issues/12043#issuecomment-1288248326

The solution is to basically add this logic on the `keyDownHandler`
[code]

[2022-10-28 21:50] marcaaron commented on #12043
Not great since we'd be preventing people from tabbing entirely.

[2022-10-28 22:26] kbecciv opened #12277 "Split bill - App crashed if split bill from group without one member."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App and log in as HT account
2. Open any group with 4 members or create a new one
3. Tap on [+] plus and select split b

[2022-10-28 23:04] tjferriss commented on #11677
Ok I'm going to close this out. Please reopen if you can reproduce.

[2022-10-28 23:04] #11677 closed

[2022-10-28 23:44] stitesExpensify commented on #12188
This is our list of emojis https://github.com/Expensify/App/blob/main/assets/emojis.js

There is already a trie data structure that will get suggestions [here](https://github.com/Expensify/App/blob/main/src/libs/EmojiUtils.js#L229-L254). This issue is mostly just UI and keybinds utilizing the existing code

[2022-10-28 23:50] mallenexpensify commented on #10148
Have we _ruled out_ that this could possibly fixed with "Deprecate sequence number"?

[2022-10-28 23:51] mallenexpensify commented on #10148
Have we ruled out that this could possibly fixed with "Deprecate sequence number"?
cc @roryabraham and @tylerkaraszewski since you're working on.
Internal issue https://github.com/Expensify/Expensify/issues/227234

[2022-10-28 23:57] mallenexpensify commented on #12242
@kbecciv , I only have one phone to test with right now, does this require two? I tried to do a simple check with one but couldn't reproduce

[2022-10-29 00:10] mallenexpensify commented on #12066
Job posted https://www.upwork.com/jobs/~015b8c264cc213a4cb

[2022-10-29 00:36] dangrous commented on #12132
This will potentially be fixed by the work done here - https://github.com/Expensify/Web-Expensify/pull/35299 - waiting for that to hit production before investigating further.

[2022-10-29 00:38] dangrous commented on #11245
Haven't had time to dig into this further but will hopefully do so soon! I think we just need to figure out how to get App to be accessible from this page. I *think* it's because it's in the `homepage` directory rather than `site` - and `site` is where the global gets created - so it hasn't actually done so yet. Just a hunch though, haven't confirmed so could be wrong.

[2022-10-29 01:01] dangrous commented on #12256
Lemme know what you need in order to help with the design and/or design doc! First time getting involved this early in a project so not sure what's most useful at this point.

[2022-10-29 01:29] GabiHExpensify commented on #12255
I added the `waiting for copy` label since it sounds like design can't really move this forward until marketing suggests some copy updates, and it auto-assigned @CherylWalsh... I was planning to work on this, but equally happy to collab or let you take the reigns if you want @CherylWalsh! Just lmk :)

We need to:
- [Most important, since design depends on it]: Review the mock-ups that Shawn posted

[2022-10-29 01:58] aldo-expensify commented on #11807
I didn't have time this week to get back to this, but I have a PR that I think should solve it. I'll test it early next week and finish it.

[2022-10-29 02:28] wildan-m commented on #12028
### Proposal (Updated)

@thesahindia, you are right, I can also reproduce it in Safari.

I still believe that it's caused by the different triple-click behavior of browsers
At this time, behavior of default action of triple-click isn't specified the W3C spec
Other repos also experience similar issues:
https://github.com/facebook/lexical/issues/2660
https://github.com/ckeditor/ckeditor4/issues/484

[2022-10-29 03:15] quinthar commented on #12260
Do we need to actually implement both light/dark mode?  What if to start we *only* implemented "dark mode", and just saved any kind of "mode switcher" for the future?  /cc @JmillsExpensify

[2022-10-29 04:50] getusha commented on #12188
@stitesExpensify @shawnborton  @mananjadhav
Take a look at this.

https://user-images.githubusercontent.com/75031127/198814481-bb39fd2b-01ee-4f8d-9088-c9c46f14a2d1.mp4

What do you think about this. Kindly share your idea and I will submit the proposal.

[2022-10-29 04:57] xyclos commented on #12244
The loading state has nothing to do with the button. It should instead be moved to the popover. The button will be shown immediately, as is desired, while payment methods continue to load in the background. In most cases no activity indicator will be seen by the user since the payment methods will have completed loading before the user interacts with the button. In the rare case that menu items ha

[2022-10-29 07:13] bernhardoj commented on #11512
I have applied in Upwork and expect the PR to be delivered today or tomorrow.

[2022-10-29 07:52] wildan-m commented on #11964
### Proposal

### Root cause:
`<FullScreenLoadingIndicator />` is not dismissed before calling `Navigation.navigate(ROUTES.HOME);` in `validateLogin`

### Solution

Adding `Navigation.goBack();` before navigating to home will resolve the issue.

[code]

Another solution is also to pop the navigation when the user logged in or logged out:
[code]

The second solution might affect another part since

[2022-10-29 08:28] mollfpr commented on #7968
### Proposal

I think multiple buttons rendered and having a key listener are common things on the web, but to make this thing work we should skip the listener when the current element node is a `BUTTON`. RNW rendered `Pressable` as a `DIV` so we don't know whether the element is from `Pressable` or `View` or `BUTTON`.

**_I also check that Whatsapp Web and Slack Web don't have an `Enter` key list

[2022-10-29 09:17] ntdiary commented on #10107
Hi, I want to clarify a bit more,  the demo code above just shows my basic process idea, and it will have a better **internal structure** after reorganization.

On the other hand, it has good extensibility, compatibility and api stability, I'm also planning to use [Web components](https://developer.mozilla.org/en-US/docs/Web/Web_Components) to avoid code collisions. These mean: (includes long-term

[2022-10-29 10:36] MonilBhavsar commented on #11423
As @Puneet-here posted the proposal first and `shouldDelayFocus` was mentioned in it. Let's hire Puneet.

[2022-10-29 10:57] thesahindia commented on #12274
@vitHoracek, I think we can close this since we will be switching for strings?

[2022-10-29 10:58] thesahindia commented on #12274
@mountiny, I think we can close this since we will be switching for strings?

[2022-10-29 12:25] bernhardoj commented on #11512
I have opened the PR here https://github.com/Expensify/App/pull/12279. Kindly review it. Thanks!

(Ignore my first PR, I put the wrong issue link. Sorry for the mistake)

[2022-10-29 12:44] syedsaroshfarrukhdot commented on #11423
@MonilBhavsar I know the proposal had mentioned `shouldDelayFocus` but I posted a proposal on the first place was that the last proposal didn't explain the `shouldDelayFocus` and why it is needed it just mentioned that it is needed to be on safer side on @rushatgabhane comment that autoFocus is not opening keyboard on android I figured out that only on android to open keyboard we need to provide s

[2022-10-29 13:39] kbecciv opened #12280 "Payment - Empty payment method is present when delete the VBA in OldDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot App
2. Create the Workspace, connect Chase bank account
Use Chase bank
Username: user_good | Password: pass_good
A

[2022-10-29 13:48] kbecciv opened #12281 "[HOLD] [$250] IOS - LHN - The Global create menu is not automatically displayed after you log in for the first time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Create a new applause.expensifail account/gmail
3. Verify that after you log in for the first time, the Glob

[2022-10-29 13:49] OSBotify commented on #12281
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-29 15:28] MitchExpensify commented on #12247
Reproduced, unique labelling eng. I'm not sure if we should commit to the txt file without more eye on the issue and considering other options

[2022-10-29 15:49] MitchExpensify commented on #12276
reproduced with totally new chats. Asked in Slack here if we still want to fix https://expensify.slack.com/archives/C01GTK53T8Q/p1667058521092939?thread_ts=1666990493.452569&cid=C01GTK53T8Q

[2022-10-29 17:26] techievivek commented on #12206
Couldn't reproduce this locally. @kbecciv Can you confirm if this is still happening?

[2022-10-29 18:21] kbecciv opened #12283 "[HOLD for payment 2022-12-20] [$1000] iOS - Attachments - Uploading image throws error "Unsupported PDF format""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Settings > Camera > Format > ensure that "high-efficiency" is enabled
2. Open the iOS app
3. Visit any DM
4. Take a pict

[2022-10-29 18:49] parasharrajat commented on #7916
Awaiting update on the PR.

[2022-10-29 18:55] mvtglobally commented on #12223
Regression is completed

Deploy Blocker
 #12275

 Open PRs
 PR https://github.com/Expensify/App/pull/12124 is failing due to https://github.com/Expensify/App/issues/12249. It is PR fail, so we did not add DeployBlocker label. Pls double check
PR https://github.com/Expensify/App/pull/12136 looks PROD QA. Are we ok to check off?

[2022-10-29 19:17] parasharrajat commented on #9408
You forgot to add the handling for failure. But that is just the reverse of optimistic data.

This will not delete the stored draft comment. But I think that is useful. In case of failure, we revert the archived state of the chat, thus it would be useful to show the previous draft as well.

And bcz drafts are not saved on the backend, it won't create an issue in the long run. Logging out will clea

[2022-10-29 19:30] kbecciv opened #12284 "Web - Room conversation is displayed instead of LHN when minimized the browser's page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to NewDot with any type of account
2. Open any room conversation
3. Click on the + button (Action's menu) nd verify tha

[2022-10-29 19:33] parasharrajat commented on #11810
Thanks for the proposal @tienifr Good catch. Let's improve your solution. It would be great to create a common function that matches any two domains. I think simple rules will be.
1. Create a function that takes two params `A` and `B` with type url.
2. Exclude the parts after domain segment from URLs.
2. Return true when domains A and B are exact matches.
3. Return true when domains A and B  and t

[2022-10-29 19:35] parasharrajat commented on #11405
No takers.

[2022-10-29 21:26] thesahindia commented on #12244
@xyclos, thanks for showing interest but you also need to add the code changes in the proposal. You can check the proposals above or you can check the closed issues.

[2022-10-29 21:26] parasharrajat commented on #12043
Should we change the expected behavior of the issue to meet the correct requirement?

[2022-10-29 21:27] thesahindia commented on #12244
@Julesssss, I like @hungvu193's [proposal](https://github.com/Expensify/App/issues/12244#issuecomment-1295182645). I think we don't need to display the loading indicator.

C+ reviewed 🎀👀🎀

[2022-10-29 22:12] kavimuru commented on #11845
@chiragsalian It flashes to old values for a second, then the value remains unchanged. Please check this video.

https://user-images.githubusercontent.com/43996225/198854259-e9e48603-dae1-4992-a5ee-e75809ac5b4a.mp4

[2022-10-30 02:30] kbecciv commented on #12019
@jliexpensify Correct, I didn't invite that second user as an Admin.
Thank you for your explanation

[2022-10-30 03:18] LucioChavezFuentes commented on #2545
On Web I'm sure this problem will be fixed with my proposal. But in Android and IOS can't reproduce the problem. Need to make more tests on these platforms. Do the lists with issues have images?

By the way, what 'DM' means?

[2022-10-30 11:20] hannojg commented on #11711
My guess after trying hard yesterday to make our simple HTTP server impl working is that it would work with a "private device" for which we can setup a VPC https://docs.aws.amazon.com/devicefarm/latest/developerguide/amazon-vpc-endpoints.html.

However, that might not be feasible as setup, I am currently migrating to appium.

[2022-10-30 13:02] bernhardoj commented on #9818
### **Proposals**

If we observe the behavior on mWeb, when we open an invalid path (e.g., https://new.expensify.com/abcd)
1. In a new tab, it will just open the main screen.
2. In a chat room, it will not go anywhere.

If we would like to achieve the similar behavior on native, we can add a new child screen of `Home` in `linkingConfig.js`, let's called it `NotFound`.

**_linkingConfig.js_**
[code

[2022-10-30 13:31] mollfpr commented on #11800
### Proposal

Move the call of `Report.subscribeToReportTypingEvents(this.props.report.reportID)` to `componentDidUpdate`. We will wait for `pendingFields.addWorkspaceRoom` success which changes the value from `add` to `null`.

To make sure the function is called once, add a new variable `this.didSubscribeToReportTypingEvents` which will turn to `true` after the function it's called and we only ca

[2022-10-30 14:23] leeoniya commented on #12189
i wouldn't call Fuse fast, exactly. but i've done a pretty broad comparison of fuzzy match libs in the course of building uFuzzy.

https://github.com/leeoniya/uFuzzy#performance

[2022-10-30 15:55] furkanuzundev commented on #8364
anyone here? @mallenexpensify

[2022-10-30 16:03] eVoloshchak commented on #8364
Will review the proposal on Monday

[2022-10-30 17:11] thesahindia commented on #8455
Just experienced this bug. At password `TextInput` we are using `onSubmitEditing={this.submitForm}` that's why on pressing enter the form gets submitted even when the button is disabled.
I think we should fix this bug and also refactor this page to use the `Form` since it's a good opportunity?

P.S. I am not seeing a C+ on this issue, I am interested to review this one.

[2022-10-30 18:30] eVoloshchak commented on #11438
Same thing as when just the Tab is pressed: the next emoji is selected.
We can change this by accessing  `keyBoardEvent. shiftKey`

What should happen on `Shift + Tab`?

[2022-10-30 18:49] michaelhaxhiu commented on #2545
@LucioChavezFuentes ah sorry, DM = direct message

[2022-10-30 19:16] eVoloshchak commented on #11438
**Updated proposal**
https://github.com/Expensify/App/blob/e263ffa9f69e696790547bca4bf93d3864da90c4/src/components/EmojiPicker/EmojiPickerMenu/index.js#L148
[code]

https://user-images.githubusercontent.com/9059945/198897281-7f535854-2b2b-46d7-97e8-ebfa132e1ed4.mov

[2022-10-30 20:54] Santhosh-Sellavel commented on #11895
Maybe I misread this one earlier, I think this should be internal.

Reason,
Here `unavailable workspace` chat is created when every workspace is created. But it's not shown for all users, only for users are BETA.

It's not shown when created but shown after deleting for users without BETA Access.

[2022-10-30 22:52] jliexpensify commented on #10905
@tgolen - this is now an Internal issue right? Could I remove myself and @Santhosh-Sellavel from this GH?

[2022-10-30 23:04] jliexpensify commented on #12019
No worries. Lets close this one out, it seems like intended behaviour!

[2022-10-30 23:04] #12019 closed

[2022-10-30 23:12] sophiepintoraetz commented on #12210
Actually, cc @marcochavezf and @johncschuster from https://github.com/Expensify/Expensify/issues/188579

[2022-10-30 23:32] kbecciv commented on #11825
@smrutiparida Issue is not reproduced any more with build 1.2.21.4

https://user-images.githubusercontent.com/93399543/198907265-b1366529-b1f9-4cec-86aa-7b3a8a3df856.mp4

[2022-10-30 23:33] sophiepintoraetz commented on #11319
[Job posted!](https://www.upwork.com/jobs/~011e9bb1d6b3bd9eda)

[2022-10-31 00:29] aneequeahmad commented on #11319
### **PROPOSAL**

**Root cause:**

- Avatar image is not shown since there is no data of this participant present in `user personal details` except `display name which is the email of participant` can be seen in video attached.

**Video:**

https://user-images.githubusercontent.com/36359331/198909477-e14052c1-2c06-4813-9661-6446467caf15.mov

Solution:

- We shouldn't show that user in `ReportParti

[2022-10-31 01:10] kavimuru opened #12289 "[HOLD for payment 2022-12-02] [$1000] Chat - Sender name flickers for a moment when the first message among many sent at the same time is deleted reported by @huzaifa99"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Select any chat
2. Send several messages at the same time (in a DM, in a policy chat chat, etc.)
3. Delete the first message

[2022-10-31 01:17] kavimuru opened #12290 "[$250] Can't create hyperlink with different protocol other than HTTP or HTTPS reported by @kerupuksambel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open [staging.new.expensify.com](http://staging.new.expensify.com/)
2. Send this HTML snippet to someone : [ftp://google.com/

[2022-10-31 01:18] Luke9389 commented on #12260
I think we should implement both.

For one, I think it'd be jarring to be locked into dark mode. Some folks won't want the dark theme.

Also, one doesn't really block the other. We can work in parallel on the app makeover and implement a theme switcher at the same time (and often in the same PR). Overall I think it'll be much faster _not_ to separate these initiatives.

[2022-10-31 01:27] kavimuru opened #12291 "[HOLD for payment 2022-11-22] [$250] Payment option doesn't update unless refresh or reopen IOU details page reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login with account A
2. Search for account B and request money
3. Open another browser > Login with account B
4. Go to chat w

[2022-10-31 01:35] kavimuru opened #12292 "[$500] Not seeing Pay with PayPal.me while sending money reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login with account A
2. Go to settings > Payments > Add payment method
3. Click on PayPal.me > Add Paypal account
4. Open ano

[2022-10-31 02:51] JmillsExpensify commented on #11768
Looks like they are willing to jump in based on the Slack response.

[2022-10-31 03:08] mananjadhav commented on #9391
Thanks for the ping @michaelhaxhiu.

I agree with @mollfpr's [proposal](https://github.com/Expensify/App/issues/9391#issuecomment-1294716411) to keep it consistent with the rest of the platforms.

@MonilBhavsar what do you think? We should update the GH issue title accordingly.

[2022-10-31 03:29] dhairyasenjaliya commented on #9408
hm @parasharrajat  should we add `hasDraft` to `failureData` for restoring the old report's draft status, was having a bit of doubt so didn't add it in the proposal

<img width="531" alt="Screenshot 2022-10-31 at 8 53 40 AM" src="https://user-images.githubusercontent.com/47522946/198925021-a070cb57-8909-4aab-837e-af100fa09a1b.png">

[2022-10-31 03:32] mananjadhav commented on #11330
@rawalyogendra  Any updates on this one?

[2022-10-31 03:32] mananjadhav commented on #11336
@aimane-chnaif Been two weeks waiting on this one. Please provide an update.

[2022-10-31 03:33] mananjadhav commented on #11389
@mallenexpensify @Julesssss Time to double?

[2022-10-31 03:41] mananjadhav commented on #11893
@dangrous Yeah that's what I meant. @tienifr You can start with the PR.

[2022-10-31 03:41] mananjadhav commented on #11982
@Beamanator @puneetlath what is the action to be done for the `BugZero Checklist` ?

[2022-10-31 03:42] mananjadhav commented on #12020
Waiting for proposals.

[2022-10-31 03:43] mananjadhav commented on #12188
I like the compact view of the emojis. I am wondering we should be showing the `:emojicode:` adjacent to the emoji?

Also can you tell me how does this UI look when I have my composer expanded? If you type few lines of text, you'll see an expand composer icon.

[2022-10-31 03:45] tienifr commented on #11893
@mananjadhav Could you please send the Upwork job link that I can apply to? thanks

[2022-10-31 04:02] rawalyogendra commented on #11330
@mananjadhav I have not been hired for this job on Upwork. I have the PR ready but I did not know how to proceed in this case.

[2022-10-31 04:10] mananjadhav commented on #11330
@mallenexpensify Can you please hire @rawalyogendra on Upwork to move forward with this?

@rawalyogendra Assigning the job on Github [here](https://github.com/Expensify/App/issues/11330#issuecomment-1292162257) is as goo as getting hired. But yeah you can sure wait to get hired on Upwork.

Once that is done, you can submit the PR along with the filled checklist.

[2022-10-31 04:38] kadiealexander commented on #11321
@hannojg don't forget to apply on Upwork so we can issue payment when it's due! :)

[2022-10-31 04:40] sobitneupane commented on #12120
@0xmiroslav Thanks for your proposal. Your proposal looks promising.

Can you be more descriptive in your proposal. Will you please explain root cause of this issue? And how your proposal solves the issue?

[2022-10-31 04:57] quinthar commented on #11321
Any luck with this?  This issue makes the app entirely unusable for me.

[2022-10-31 05:07] sobitneupane commented on #11265
I believe this issue should be divided into following two issues:

->App does not respond to onpress events after reloading. (https://github.com/Expensify/App/issues/11265#issuecomment-1295101299 https://github.com/Expensify/App/issues/11265#issuecomment-1295109964)
->Message reappears in compose box on reloading after sending attachment.

I tried to trace back the commit causing these issues. But

[2022-10-31 05:27] kadiealexander commented on #12272
I wasn't able to reproduce this on staging web, the workspace was searchable for me:

https://user-images.githubusercontent.com/59587260/198937525-f9aa4359-0fdd-433d-9497-35ee23e5a6dc.mp4

@Expensify/applause could you please try again and let me know if it's still reproducible?

[2022-10-31 05:27] #12272 closed

[2022-10-31 05:31] mananjadhav commented on #11893
@ntrepanier Can you help with the Upwork job link please?

[2022-10-31 05:56] ctkochan22 commented on #12000
Still happening. I think this is internal, need to test what keys are being updated when the message about the guidse comes though

[2022-10-31 06:07] akshayasalvi commented on #10356
@tgolen I created a second PR after all the fixes, but we have a new field in the emojis.js that is currently used for searching the PR. `name` is used in the emojis for searching and older dataset didn't have. I am working on the changes of the PR, to add the name. It is most similar to `alias` in gemoji.

[2022-10-31 07:37] mananjadhav commented on #12139
Waiting for proposals.

[2022-10-31 07:37] mananjadhav commented on #11848
Waiting on @aldo-expensify's review for the proposal.

[2022-10-31 07:37] mananjadhav commented on #11104
Still waiting for proposals

[2022-10-31 07:38] mananjadhav commented on #11059
PR is merged. I am not sure what needs to be done for the BugZero Checklist. @NicMendonca @shawnborton  ?

[2022-10-31 07:39] Santhosh-Sellavel commented on #10731
Yeah Let's move forward.
@iwiznia Good with @christianwen proposal!

cc: @mallenexpensify

[2022-10-31 07:43] Santhosh-Sellavel commented on #11825
Only when we go online, the option appears. But should we hide the option until we go online, I believe we should still look for solution @kbecciv ? @Julesssss What do you think?

There is a proposal above looks promising didn't get to test it though. Let me if we wish to proceed will test and update thanks!

[2022-10-31 07:44] Santhosh-Sellavel commented on #12145
Can we bump this to weekly @arielgreen @Gonals

[2022-10-31 07:47] techievivek commented on #12158
Will investigate today.

[2022-10-31 07:53] danieldoglas commented on #11698
@kbecciv is this still not reproducible?

[2022-10-31 07:56] Beamanator commented on #11982
Looks like it's @puneetlath who will take care of the BugZero Checklist, coming from an [internal SO](https://stackoverflow.com/c/expensify/questions/14418/14456#14456):

[2022-10-31 08:09] techievivek commented on #11885
Not overdue.

[2022-10-31 08:09] techievivek commented on #12041
Will look into it this week.

[2022-10-31 08:16] sobitneupane commented on #11486
Waiting for @fedirjh response.

[2022-10-31 08:17] sobitneupane commented on #12010
Waiting for proposals

[2022-10-31 08:21] conorpendergrast commented on #11584
@srikarparsi @eVoloshchak @tienifr Hey! I've added [some proposed testing steps](https://github.com/Expensify/App/issues/11584#issuecomment-1294707771). Who can help with the second, third and fourth points (finding the PR that introduced the bug, the comments on that PR, and starting a discussion in #contributor-plus)? Then, I will get started on the last 3 steps!

[2022-10-31 08:47] MonilBhavsar commented on #11471
Proposal looks good to me. let's implement it

[2022-10-31 08:53] daraksha-dk commented on #12291
**Proposal**

The payment options are set at the state and when the option paypal is removed the old value is being used

https://github.com/Expensify/App/blob/62ff507162d7712c2aa76b5eb96141f83ec2dd91/src/components/SettlementButton.js#L43-L71

`key` can be used to fix this. Now it will re render if the paypal address changes
`key={lodashGet(this.props, 'iouReport.submitterPayPalMeAddress')}`
http

[2022-10-31 08:55] Justicea83 commented on #12015
Could not reproduce this even using a `gmail` account

<img width="1235" alt="Screenshot 2022-10-31 at 8 54 28 AM" src="https://user-images.githubusercontent.com/26106822/198969595-f792c3e7-dab2-48d0-908d-654df10ac8e0.png">

[2022-10-31 08:59] MonilBhavsar commented on #8592
@Dev-Abdul-Aleem you can find the code around compose box in this file https://github.com/Expensify/App/blob/main/src/pages/home/report/ReportActionCompose.js
You can find more instruction about app's directory structure and architecture here - https://github.com/Expensify/App#app-structure-and-conventions
If you have any questions, feel free to ask in #expensify-open-source slack channel.

[2022-10-31 09:02] MonilBhavsar commented on #11968
PR was merged. Keeping issue open for a while to ensure it is not reproducible

[2022-10-31 09:18] dylanexpensify commented on #12045
reviewing today!

[2022-10-31 09:18] dylanexpensify commented on #12042
reviewing today!

[2022-10-31 09:18] dylanexpensify commented on #11948
reviewing today!

[2022-10-31 09:18] dylanexpensify commented on #11800
reviewing today!

[2022-10-31 09:18] dylanexpensify commented on #9181
reviewing today!

[2022-10-31 09:18] dylanexpensify commented on #9848
reviewing today!

[2022-10-31 09:19] dylanexpensify commented on #7917
any updates @mdneyazahmad

[2022-10-31 09:24] #12171 closed

[2022-10-31 09:25] pecanoro commented on #9818
@Santhosh-Sellavel Do you think we should redirect those links to /r/? It seems like an odd behavior, but honestly, the link does not exist and if we still want to show the navigation, it seems there is no other option.

[2022-10-31 09:47] Smart133594 commented on #9818
Hi

On Mon, Oct 31, 2022 at 5:25 AM Rocio Perez ***@***.***>
wrote:

[2022-10-31 10:08] thesahindia commented on #11048
@arielgreen, let's change this to weekly

[2022-10-31 10:11] iwiznia commented on #10731
Yep, @mallenexpensify can you hire @christianwen please?

[2022-10-31 10:16] thesahindia commented on #11852
@mallenexpensify, I think melvin should add weekly label once the issue gets external or maybe after the upwork job comment. Any thoughts?

[2022-10-31 10:26] Justicea83 commented on #11272
Not overdue, as this is fixed by the `OpenReport` refactorings

[2022-10-31 10:28] Julesssss commented on #11241
Thanks, we're still awaiting proposals

[2022-10-31 10:29] Julesssss commented on #7375
Hey @parasharrajat, is now a good time? Or maybe we could reassign if you're still busy?

[2022-10-31 10:32] Julesssss commented on #11930
@adelekennedy could you please double the payment amount? Thanks!

[2022-10-31 10:33] Julesssss commented on #12018
I agree we don't want to depend on 3rd party component for this. I'm coming around to the manual setting of cursor, but want to leave the issue open a little longer.

[2022-10-31 10:34] tienifr commented on #11810
# Update Proposal
@parasharrajat I updated my solution in here: https://github.com/tienifr/App/pull/18. Pls help to check, thanks.

[2022-10-31 10:39] Julesssss commented on #11132
@chiragsalian I wasn't assigned either, just tried to help investigate when I saw it raised. As it's no longer a blocker I think we just need to retest on later releases to see if the staging icon is still shown.

@Expensify/applauseleads are you still able to reproduce this?

[2022-10-31 10:41] Julesssss commented on #12082
Odd, there must be some other step/config that makes this unreliably reproducible.

[2022-10-31 10:41] Julesssss commented on #12082
Keeping assigned until I can retest this again.

[2022-10-31 10:44] trjExpensify commented on #11687
👋 back from OOO. Nice to see Melv added that checklist three times just in case I forget. 😉

We're waiting on this to hit production, but to get a start on the checklist.

@rushatgabhane @parasharrajat was this a regression or just something that was missed during the initial implementation? If the former, do you know what PR introduced it?

@isagoico @kavimuru do our existing tests for the bank a

[2022-10-31 10:50] zanyrenney commented on #11808
bumped: https://expensify.slack.com/archives/C03TQ48KC/p1667213438730109?thread_ts=1666760050.198099&cid=C03TQ48KC

[2022-10-31 10:51] thesahindia commented on #11132
This is still reproducible but not sure what the problem is.

[2022-10-31 10:53] trjExpensify commented on #11773
@MitchExpensify has been leading user-created rooms, and @Luke9389 is helping to carry it to the finish line with the missing functionality like leave/join. To answer the question though, the main issue is [here](https://github.com/Expensify/Expensify/issues/137514) I believe.

[2022-10-31 10:53] Julesssss commented on #11825
Yeah, @Ollyws's proposal sounds good to me. @Santhosh-Sellavel please take a quick review

[2022-10-31 10:55] zanyrenney commented on #12058
waiting on proposals.

[2022-10-31 11:00] laurenreidexpensify commented on #12026
Price doubled

[2022-10-31 11:00] laurenreidexpensify commented on #12025
Price increased to $500

[2022-10-31 11:02] laurenreidexpensify commented on #11488
Not overdue

[2022-10-31 11:04] thesahindia commented on #12028
I don't prefer adding another wrapper, I wanna wait to see if someone can find the root cause and propose a more simpler solution.

[2022-10-31 11:08] laurenreidexpensify commented on #11437
Payments:

- [ ] @thesahindia issue reporter PAID
- [ ] @rushatgabhane Contributor Plus reviewer
- [ ] @aimane-chnaif Contributor

@rushatgabhane @aimane-chnaif as soon as you've accepted job in Upwork I will issue payment. Thanks

[2022-10-31 11:09] dylanexpensify commented on #11915
@aimane-chnaif [here's](https://www.upwork.com/jobs/~01759bf321620ed16c) the job post for you to apply!

[2022-10-31 11:12] isabelastisser commented on #11494
Hey @vladamx , any updates here as per Marc's request? Thanks!

[2022-10-31 11:14] Julesssss commented on #12244
I do like this logic, but the button UI will look different depending on the number of payment methods available -- as we show a dropdown on the right side of the button in that case

[2022-10-31 11:20] mountiny commented on #11962
PR is in a review.

[2022-10-31 11:26] laurenreidexpensify commented on #11228
still on hold

[2022-10-31 11:30] parasharrajat commented on #11687
This issue was not a regression but a bug that was missed a month back during refactoring.

[2022-10-31 11:32] isabelastisser commented on #12267
I will review this by EOD.

[2022-10-31 11:34] NikkiWines commented on #11689
Quick question - why do we want to allow edits to Chronos messages?

It's not really functionality we've offered historically and we specifically prevent edits for Chronos chats [here](https://github.com/Expensify/Auth/blob/10fbc5ad2522d7801a61afbea4a4e0c0c76bb146/auth/command/UpdateReportComment.cpp#L37-L39). Since it's been used for historical reference purposes in the past, I'm not sure we want

[2022-10-31 11:35] parasharrajat commented on #7375
Let me check this. I will either update the PR by tomorrow or let you know if reassign is needed.

[2022-10-31 11:45] sonialiap commented on #9505
[Job added to Upwork](https://www.upwork.com/jobs/~01149844cc73b03490)

[2022-10-31 11:52] mmjindal2555 commented on #12104
Hi @kbecciv @tgolen, I tried reproducing the issue in my local environment. Instead of opening the 'First Platypus Bank' modal, it is getting redirected to this URL - https://secure04ea.chase.com/web/auth/thirdparty/authorize?...

Can you please help me understand what I am missing here?

Thanks.

[2022-10-31 12:00] Julesssss commented on #12249
I'm unable to reproduce this currently, on staging Chrome. However, I think we should keep this open until we can figure out the exact reproducable steps -- but I don't think this should be marked as a regression.

CC @srikarparsi @eVoloshchak -- it seems related to [this PR](https://github.com/Expensify/App/pull/12124), any idea how to resolve this?

https://user-images.githubusercontent.com/1073

[2022-10-31 12:00] flodnv commented on #12247
I think this is indeed a feature request that needs consideration in a wider audience proposal.

[2022-10-31 12:02] Julesssss commented on #12223
Hi @mvtglobally. I agree with #12249 being a bug, but not a deploy blocker. I've checked off #12124 as the PR test steps are passing (at least on the first use).

[2022-10-31 12:03] trjExpensify commented on #11797
@Santhosh-Sellavel - are we good with that? ^^

@hungvu193 - yes please. Looks like you haven't applied yet [here](https://www.upwork.com/jobs/~01615065cda2c02b5a).

[2022-10-31 12:03] dylanexpensify commented on #11915
Offer sent @aimane-chnaif !

[2022-10-31 12:17] thesahindia commented on #12244
I have tested and it's working correctly.

[2022-10-31 12:18] Beamanator commented on #10894
Reorganized the issue list a bit by categorizing open issues - it looks like some of the issues "On hold" (mainly bug fixes) can be taken off hold if they don't have anything to do with image flashing / image caching

[2022-10-31 12:22] eVoloshchak commented on #12249
Unable to reproduce this building from the latest sources

https://user-images.githubusercontent.com/9059945/199005065-36878344-0f85-45ea-a224-657715326eaa.mov

On the first video from the description looks like the issue is with the list not being loaded completely, you can see the progress bar resizing in the middle of the animation. Not sure about the second video though

[2022-10-31 12:24] dylanexpensify commented on #11915
Payment sent, contract ended, posting closed

[2022-10-31 12:24] #11915 closed

[2022-10-31 12:25] trjExpensify commented on #11187
Ohh. @shawnborton with the brand updates for WAQ, this will get taken care of right?

[2022-10-31 12:27] parasharrajat commented on #4733
No new proposals. I will discuss the next steps.

[2022-10-31 12:28] parasharrajat commented on #11914
No proposals.

[2022-10-31 12:29] parasharrajat commented on #9408
yup, that is correct.

[2022-10-31 12:31] trjExpensify commented on #9971
Niceeee! Thanks, Chirag! ❤️

[2022-10-31 12:32] trjExpensify commented on #10507
Hm, but @puneetlath is still working on the plan for navigation and that will take care of this issue?

[2022-10-31 12:35] parasharrajat commented on #12104
No Takers.

[2022-10-31 12:42] Beamanator commented on #10507
True trueeee... Ok I'll assign Puneet and unassign myself :D

[2022-10-31 12:52] zanyrenney commented on #10587
On hold for this still: https://github.com/Expensify/App/issues/11795

[2022-10-31 12:54] parasharrajat commented on #12116
I can't reproduce the issue. cc: @Expensify/applause

[2022-10-31 12:56] mmjindal2555 commented on #12104
I tried reproducing the issue in my local system, but instead of opening the 'First Platypus Bank' modal, it is getting redirected to this URL - https://secure06ea.chase.com/web/auth/thirdparty/authorize?...
I tried using user_good / pass_good credentials, but it throws an Unauthorized error -  "We can't find that username and password."

What I might be missing here? @kbecciv @parasharrajat

<img

[2022-10-31 12:57] sketchydroide commented on #11520
the new file is a png and the old one a jpg, is this a problem, should they both be the same formart? I'm not sure we use the formart when when ussing assets. @shawnborton

[2022-10-31 13:00] hungvu193 commented on #12116
you can try to use safari browser.

[2022-10-31 13:03] hungvu193 commented on #11797
@trjExpensify I have applied (https://www.upwork.com/ab/proposals/1587067667179589633)

[2022-10-31 13:04] parasharrajat commented on #12116
@0xmiroslav's proposal looks good to me. It is more optimized to move the whole `KeyboardShortcutsModal` to the Sidebar. Technically it adds extra rendering cost in ScreenWrapper as ScreenWrapper will be present on each screen.

But @0xmiroslav your first PR is still in progress. Let's wait for that to be completed before you work on this (our policy). I will review that today.

cc: @luacmartins

[2022-10-31 13:07] joekaufmanexpensify commented on #12277
Not overdue.

[2022-10-31 13:07] joekaufmanexpensify commented on #11916
Not overdue.

[2022-10-31 13:07] trjExpensify commented on #11797
Excellent, offer sent. Assigning you the issue.

[2022-10-31 13:12] joekaufmanexpensify commented on #11495
Still awaiting proposals.

[2022-10-31 13:13] parasharrajat commented on #12104
@mmjindal2555 Are you our Slack? If not, please request access and it would be a good question there.

[2022-10-31 13:16] Someone-here commented on #11495
Could you please list the process to reproduce this issue?

[2022-10-31 13:20] hannojg commented on #11321
Hey, I spend some more hours on this. I can exclude now more parts that aren't causing the issue, but still can't tell which one it is exactly.

It's a bit hard to estimate, but I think after ~5 more hours I should find the bug.

Do you want me/us to continue investigating in that issue (asking because it becomes a bit of a time sink) @quinthar ?

[2022-10-31 13:27] mmjindal2555 commented on #12104
I have requested access, waiting for it.

[2022-10-31 13:29] kavimuru opened #12295 "There Should Be An Extra Space After The Selected Currency In Send Money Dialog reported by huzaifa-99"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Click the 'New' button
2. Select 'Send money'
3. Click on currency (picker)
4. Select any currency ending with 'O' (there are

[2022-10-31 13:32] kbecciv commented on #11698
@danieldoglas Checking, update you shortly.

[2022-10-31 13:37] kbecciv commented on #11698
Unable to reproduce it with build 1.2.21.4

https://user-images.githubusercontent.com/93399543/199020887-0ef9bfe3-a24a-49dc-8ebc-eb82dca9dde3.mp4

[2022-10-31 13:39] kbecciv commented on #12272
@kadiealexander Can you please try with gmail account (public)?

[2022-10-31 13:40] kbecciv commented on #12206
@techievivek Checking, update you shortly.

[2022-10-31 13:41] hungvu193 commented on #11797
@trjExpensify I've created a PR here:
https://github.com/Expensify/App/pull/12296

[2022-10-31 13:45] parasharrajat commented on #12104
Meanwhile, raised it here https://expensify.slack.com/archives/C01GTK53T8Q/p1667222549786869.

[2022-10-31 13:46] kbecciv commented on #12206
Issue is reproduced with build 1.2.21.4

https://user-images.githubusercontent.com/93399543/199022499-3fc4d7da-5f57-4e9b-8e91-d719ea73f74e.mp4

[2022-10-31 13:49] parasharrajat commented on #8311
Discussing now.

[2022-10-31 13:57] kbecciv commented on #12242
Yes, it requires two two devices.

[2022-10-31 14:02] danieldoglas commented on #11698
Ok, closing this issues since it was not reproducible for 2 weeks.

[2022-10-31 14:02] #11698 closed

[2022-10-31 14:06] kbecciv commented on #12172
Issue have been reproduced with build 1.2.21.4 with two testers.

https://user-images.githubusercontent.com/93399543/199027164-12dafbfb-e578-4135-85f0-d81e1597c023.mp4

[2022-10-31 14:08] laurenreidexpensify commented on #11437
Everyone has been paid 👍

[2022-10-31 14:08] #11437 closed

[2022-10-31 14:11] Santhosh-Sellavel commented on #11797
Sorry some how I missed to reply, I agree with gonals we should fix that here.

[2022-10-31 14:12] Santhosh-Sellavel commented on #11797
@hungvu193 Please handle this https://github.com/Expensify/App/issues/11797#issuecomment-1292020386 too.

[2022-10-31 14:14] flodnv commented on #11961
@kbecciv @mvtglobally please reopen if you can reproduce

[2022-10-31 14:15] flodnv commented on #11708
Waiting on @parasharrajat to review the proposal here: https://github.com/Expensify/App/issues/11229#issuecomment-1286861407

[2022-10-31 14:16] hungvu193 commented on #11797
@Santhosh-Sellavel Sure. It already in my PR.

[2022-10-31 14:19] michaelhaxhiu commented on #8131
@techievivek do you think we should close this 1 as @stitesExpensify mentioned, or keep it open and fix it?

[2022-10-31 14:21] kavimuru opened #12298 "[HOLD react-native 25643] [$1000] IOU - Correct digit is not getting deleted in IOU request reported by @daraksha-dk"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Request Money > type 1234
2. Click between 3 & 4 and hold the cursor and move to any other position (b/w 1&2 or 2&3 etc)
3. No

[2022-10-31 14:23] parasharrajat commented on #8311
@b1tjoy Which one of your proposals is valid? Can you summarize all of your proposals? Add pointers to tell us which proposal is solving what problem.

Is [this](https://github.com/Expensify/App/issues/8311#issuecomment-1205476421) not working correctly?

[2022-10-31 14:26] abekkala commented on #11822
Changed to $500
https://www.upwork.com/nx/job-post/custom/preview?uid=1582812257322721280

[2022-10-31 14:31] abekkala commented on #11921
@osama256 are you able to provide the information requested by @sobitneupane ?

[2022-10-31 14:32] trjExpensify commented on #11687
Maybe rephrased, did this ever work in the past?

[2022-10-31 14:33] hungvu193 commented on #12244
@Julesssss I created a PR here: https://github.com/Expensify/App/pull/12299
Please let me know when Upwork job's created then I will apply.

[2022-10-31 14:38] mountiny commented on #10587
I think we can make such on HOLD issue monthly, the linked issue wont be fixed in a week I assume.

[2022-10-31 14:41] christianwen commented on #10731
I've applied to the Upwork job

[2022-10-31 14:45] trjExpensify commented on #11695
Any luck with that test, @Prince-Hamza?

[2022-10-31 14:46] luacmartins commented on #11126
I think this issue might be solved by https://github.com/Expensify/App/pull/12103. I'm demoting it to Weekly and will check once that PR is merged.

[2022-10-31 14:46] mountiny commented on #12275
Tested with @Julesssss and we canot repro in staging

<img width="376" alt="image" src="https://user-images.githubusercontent.com/36083550/199036143-43e577db-3acd-4b66-886f-73e608275e85.png">

Work fine on phone too

[2022-10-31 14:47] luacmartins commented on #11427
PR in review!

[2022-10-31 14:47] mananjadhav commented on #11512
@kbecciv Can you help me with some form data for Bank Account creation?

I am stuck at this step:

<img width="387" alt="image" src="https://user-images.githubusercontent.com/3069065/199036364-6accd0bc-9476-4754-a73e-dbbc92c34154.png">

[2022-10-31 14:50] luacmartins commented on #11058
We have two distinct bugs here
1. On mobile, there's a delay between user input and component re-render, which makes it possible for the input to display more than 3 decimals. This should be fixed once we enable Fabric.
2. The rate is updated to a different value after coming back online. This should be fixed by [this PR](https://github.com/Expensify/App/pull/12103).

I'm gonna keep this issue ope

[2022-10-31 14:52] Julesssss commented on #12275
This is not an App issue, it's a web regression introduced here. Given that most pdf files work correctly, I agree with removing the deploy blocker label

[2022-10-31 14:52] Julesssss commented on #12275
It seems to be introduced by[ this Web PR](https://github.com/Expensify/Web-Expensify/pull/35274), as this is now reproducable on App prod.

[2022-10-31 14:53] mountiny commented on #12275
cc @youssef-lr would you be able to look into this one?

[2022-10-31 14:53] luacmartins commented on #9580
This is off-hold!

[2022-10-31 14:54] trjExpensify commented on #12028
@thesahindia presumably you believe this is a regression, right?

@wildan-m, we see the issue on the desktop app as well (not just in the Web browser), so how can that be the case?

[2022-10-31 14:55] bernhardoj commented on #8311
In case it still accepting a proposal, I would like to share mine.

### **Proposal**
To prevent the event bubbling to the parent handler, we can put `e.preventDefault()` inside `callSecondaryInteractionWithMappedEvent()` as below:

**_PressableWithSecondaryInteraction (index.js)_**
[code]

We can take a look at the current native version of it which also use `e.preventDefault()`.

https://github.c

[2022-10-31 14:55] yuwenmemon commented on #12138
Yes we just need to update the TestRail steps cc @Expensify/applauseleads

`Incorrect Expensify password entered` is the expected error message now for those test steps.

Closing this out! Let me know if you need me to create a separate issue for updating the test steps.

[2022-10-31 14:55] Julesssss commented on #12223
#12275 is now reproducable on prod, so this is not a mobile regression. Continueing to move forward once the last regression is resolved

[2022-10-31 14:56] trjExpensify commented on #12028
Job price doubled to $500 on Upwork: https://www.upwork.com/jobs/~019c6881ba683194f2

[2022-10-31 14:57] lschurr commented on #11658
Not overdue. This is on hold.

[2022-10-31 14:59] wildan-m commented on #12028
@trjExpensify The desktop uses electron and electron use chromium, so I think it will behave the same with chrome browser

[2022-10-31 14:59] Julesssss commented on #12172
Hi, thanks for the report but the issue is different. Could you please open a new issue?

The stack trace is:

[code]

[2022-10-31 14:59] #12172 closed

[2022-10-31 15:00] parasharrajat commented on #8311
@bernhardoj You are free to post proposals if they are different from older ones.

[2022-10-31 15:02] mountiny commented on #12281
@Julesssss Hmm I can see the FAB in the screenshare, what is the issue here @kbecciv ?
<img width="360" alt="image" src="https://user-images.githubusercontent.com/36083550/199039974-b8a5493e-0005-4188-bb3d-31676254ea7c.png">

[2022-10-31 15:03] Beamanator commented on #11229
A bit overdue, @parasharrajat do you want to assign another C+ to review this?

[2022-10-31 15:03] Julesssss commented on #12281
@mountiny on first-open the Fab should show in the open state, so you should see the list of options, like Send Money, Request Money, ect

[2022-10-31 15:04] Beamanator commented on #10792
Still on hold, but will get to this soon

[2022-10-31 15:04] mountiny commented on #12281
Ah, I see, that was not clear to me from the instructions.

[2022-10-31 15:05] ahmdshrif commented on #8311
@bernhardoj  this does not work on native. only work on web. I proposed it before https://github.com/Expensify/App/issues/8311?notification_referrer_id=NT_kwDOAUYApbMzMzI3MzkwNzE3OjIxMzY0OTAx#issuecomment-1184512351

[2022-10-31 15:05] Julesssss commented on #12281
I updated the description to make this more obvious

[2022-10-31 15:07] bernhardoj commented on #8311
I see. I didn't see all the hidden discussions. My bad.

[2022-10-31 15:12] parasharrajat commented on #11229
I thought, I already did. Forgot to leave a comment on Saturday. Will re-review it in 2 hours.

[2022-10-31 15:12] trjExpensify commented on #12028
Ah, I see. So @thesahindia, to confirm there's a root cause for this regression in App, have you gone back like 10 versions or something to see if it's there?

[2022-10-31 15:12] mountiny commented on #12281
@Julesssss can you repro locally? there is [this refactor of the Popover](https://github.com/Expensify/App/pull/11907) which brings some performance gains hopefully and maybe this would be fixed there.

[2022-10-31 15:16] Beamanator commented on #11229
Aah ok no worries, thanks 👍

[2022-10-31 15:17] trjExpensify commented on #12028
Outside of that, the code highlighted in [this comment](https://github.com/Expensify/App/issues/12028#issuecomment-1291460601) was added back in Sept by @marcaaron in [this PR](https://github.com/Expensify/App/pull/10929) released in `1.2.2-0`, so maybe there are some clues there?

[2022-10-31 15:18] luacmartins commented on #12116
Sounds good. @0xmiroslav please ping me once your other [PR](https://github.com/Expensify/App/pull/12098) has been merged so I can assign you to this issue.

[2022-10-31 15:23] trjExpensify commented on #12280
Interesting! @MariaHCD is this related to the VBBA API refactors that aren't [quite complete](https://github.com/Expensify/Expensify/issues/212819#issuecomment-1297248015) and all merged yet?

[2022-10-31 15:25] mountiny commented on #12274
That is correct, these errors are kinda expected at the moment as we are in the middle of switching to strings for the ids. That also means we wont be issuing report bonus unfortuntealy.

[2022-10-31 15:25] #12274 closed

[2022-10-31 15:26] trjExpensify commented on #11797
Nice speedy work!

[2022-10-31 15:26] tgolen commented on #10905
That proposal sounds great! 🟢 from me

[2022-10-31 15:29] trjExpensify commented on #11687
Got it, so this doesn't have a RCA then. It's not a regression/bug (whatever we want to call it), it's simply something we missed when implementing the VBA flow.

[2022-10-31 15:31] techievivek commented on #12041
Not overdue.

[2022-10-31 15:32] trjExpensify commented on #11461
The [PR has gone through C+ review,](https://github.com/Expensify/App/pull/11842#issuecomment-1297167109) it's now over to @MariaHCD & @ctkochan22 for review. Actually, @stitesExpensify why aren't you also assigned the PR to review as the CME? 🤔

[2022-10-31 15:34] adelekennedy commented on #11104
And we're doubling again!

[2022-10-31 15:35] Julesssss commented on #12281
I was able to reproduce it, but not consistently. It seems to work as expected for me at the moment:

**Web - staging**
https://user-images.githubusercontent.com/10736861/199047426-c1e1f833-f136-45c7-8848-3197607e35b5.mov

**Web - prod**
https://user-images.githubusercontent.com/10736861/199046704-50a8e4b2-29d2-49ac-bff6-c98fe17f2883.mov

[2022-10-31 15:38] trjExpensify commented on #10202
👋 back from OoO. Commented on [the PR here](https://github.com/Expensify/App/pull/10394#issuecomment-1297274571). @liyamahendra has merged main, so I've asked @Santhosh-Sellavel if this is has been re-reviewed.

@shawnborton you can probably jump in at this point if you want?

[2022-10-31 15:39] Prince-Hamza commented on #11695
there are errors installing and running app.i will give you final result tomorrow.

[2022-10-31 15:43] adelekennedy commented on #10693
Doubling time!

[2022-10-31 15:43] tgolen commented on #12143
@neil-marcellini can you please assign this to yourself and remove the `external` label if you're going to take this and fix it?

[2022-10-31 15:44] trjExpensify commented on #8459
PR is back in review. @parasharrajat has a question for @shawnborton [here](https://github.com/Expensify/App/pull/8902#issuecomment-1295934753) re: the emoji list in the EmojiPicker.

[2022-10-31 15:46] eVoloshchak commented on #11695
If you're experiencing issues while building android, changing [this](https://github.com/Expensify/App/blob/62ff507162d7712c2aa76b5eb96141f83ec2dd91/android/build.gradle#L48) line to
`mavenCentral()` should help

[2022-10-31 15:46] trjExpensify commented on #7862
Yep, we should get this over the line. @Santhosh-Sellavel, can we get an update on where we are at and can we have the PR merged by the end of the week? :excited:

[2022-10-31 15:47] nkuoch commented on #12280
@Justicea83 volunteered for taking a look at it :)

[2022-10-31 15:48] trjExpensify commented on #12280
Cool, adding the `Internal` label as well then!

[2022-10-31 15:48] adelekennedy commented on #8126
@parasharrajat @thienlnam is there anything I should be watching for with this issue? Or can we close this out?

[2022-10-31 15:50] Justicea83 commented on #11104
The crash doesn't have enough context, I did a bit of digging and realized it has to do with the `zIndex of views`. Saw an SO [here](https://stackoverflow.com/questions/59492646/java-lang-arrayindexoutofboundsexception-in-facebook-react-uimanager-viewgroupdr). The error is coming from [here](https://github.com/facebook/react-native/blob/main/ReactAndroid/src/main/java/com/facebook/react/uimanager/

[2022-10-31 15:50] Julesssss commented on #12223
I checked off the final blocker, #12281 as it was not reproducible for me [on web or iOS](https://github.com/Expensify/App/issues/12281#issuecomment-1297292717)

[2022-10-31 15:52] joekaufmanexpensify commented on #12277
Discussing [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667231433229669).

[2022-10-31 15:52] tgolen commented on #12141
I can work on it this week, but I'm curious about what we think the regex should be changed to. cc @AndrewGable @iwiznia @flodnv @cead22. This would be my suggestion:

[code]

Which essentially requires "expensify.com/chat-attachments" to exist once in the URL for it to match the regex (also works fine for staging.expensify.com).

[2022-10-31 15:52] adelekennedy commented on #7911
@mallenexpensify Can you link the slack thread? Any progress here?

[2022-10-31 15:54] joekaufmanexpensify commented on #12277
Thinking this is a good candidate for contributors. Adding engineering label to be sure.

[2022-10-31 15:56] lschurr commented on #11892
Hi @rushatgabhane - could you review the added proposal?

[2022-10-31 15:57] Julesssss commented on #12223
Switch Report is looking better in the App performance timing dashboard. Homepage initial render is worse, but we are aligned on the fact that this is due to a change in the timing logic and doesn't accurately represent a regression.

[2022-10-31 15:59] youssef-lr commented on #12275
It looks like the upload fails when the `fileMimeType` is `applicatoin/octet-steam` instead of `application/pdf` due to this change I added [here](https://github.com/Expensify/Web-Expensify/blob/main/lib/ReportUtils.php#L348) (`||` instead of the previous `&&` operator). I added that change to support uploading `heic` images as we can't display thumbnails for them at the moment. I will try to come

[2022-10-31 16:00] joekaufmanexpensify commented on #12277
Discussed this in Slack. This is actually not a bug, and just a temporary consideration until [this PR](https://github.com/Expensify/App/pull/11597) is deployed. Once that PR is deployed, it won't be possible to de-select group members when splitting a bill within an existing group DM.

Closing as no further action is needed here!

[2022-10-31 16:00] #12277 closed

[2022-10-31 16:01] puneetlath opened #12300 "test"
test

[2022-10-31 16:02] Beamanator commented on #11063
Will hopefully get to this later this week

[2022-10-31 16:03] huzaifa-99 commented on #12238
Are external devs open to contribute? I understand the external label is not applied

[2022-10-31 16:03] lbaldy commented on #4733
Second proposal:

I think we could use the onTextLayout property of text. It returns a nice object representing the lines, based on this object we could set the state property and render the backgrounds accordingly. This seem to be working. In the POC I did. I can try to POC it in the actual Expensify App later today.

Please see what the component looks like. We would still keep the same structur

[2022-10-31 16:03] abekkala commented on #12240
@joelbettner While recreating this I came to a bit of a different outcome but still believe that there is something to fix.

1. Login with account A that has `policyRooms` beta enabled and create a workspace if there not any
2. Invite other account (B) that has `policyRooms beta` not enabled as a member of the workspace
3. Create a new room in account A in the workspace where account B is a member

[2022-10-31 16:04] Julesssss commented on #12275
Thanks @youssef-lr!

[2022-10-31 16:04] marcaaron commented on #12043
@maddylewis what do you think and should we get more feedback or just go with my suggestion to not allow tabbing to an emoji? If we want to pivot I think it's ok to re-use this issue because the "actual behavior" is unexpected even if there's confusion about the expected behavior.

[2022-10-31 16:05] Puneet-here commented on #11341
@Beamanator we will need help from the marketing team for the error copy.

We need error message for two cases:
1. When the default contact method field is empty and user tries to close account
2. When the entered contact method doesn't match with the default contact method

[2022-10-31 16:06] Beamanator commented on #11576
Agreed [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1666978331169979?thread_ts=1666881832.702589&cid=C01GTK53T8Q) that we're going with the current design of the Pronouns page in the doc

[2022-10-31 16:06] #12300 closed

[2022-10-31 16:07] marcaaron commented on #11494
@isabelastisser not sure why @vladamx was assigned (maybe accidentally). We are still discussing things here.

[2022-10-31 16:07] thesahindia commented on #11495
@Someone-here, we don't have the specific steps. You can check the Stacktraces above to pin down the problem.

[2022-10-31 16:08] roryabraham commented on #10793
Looks like there was an email sent out recently to the SQLite team to investigate and address the performance difference between AsyncStorage and quick-sqlite

[2022-10-31 16:18] Julesssss commented on #12223
The only new crashlytics issues were from the SVG library crash that was resolved in the last deploy. I cleared up the console while I was there.

[2022-10-31 16:19] mallenexpensify commented on #12242
@kbecciv if it requires two phones being used at/around the same time with one on and the other offline, can you think of use cases where a user would encounter this in the _real world_?

[2022-10-31 16:21] roryabraham commented on #10962
- https://github.com/Expensify/App/issues/10792 – on HOLD
- https://github.com/Expensify/App/issues/10793 – @Szymon20000 will be meeting with the SQLite team sometime this week to investigate potential inefficiencies in the underlying SQLite implementation of quick-sqlite
- https://github.com/Expensify/App/issues/11711 – @AndrewGable and @hannojg could probably say more, but my summary is that the

[2022-10-31 16:25] roryabraham commented on #12188
Lets please pause on any further proposals on this issue until @shawnborton gets the opportunity to provide some updated mockups. Thanks.

[2022-10-31 16:25] puneetlath commented on #11713
Ok, sounds good. I'm going to re-label to `NewFeature` and un-assign. This feels more like new functionality and doesn't need the daily urgency of a bug.

[2022-10-31 16:25] mallenexpensify commented on #12066
Job's up, only been one biz day....

[2022-10-31 16:25] eVoloshchak commented on #11964
@wildan-m, thanks for your proposal!

Moving `navigationRef.current.dispatch(StackActions.pop());` would result in it being called every time user is navigating back to root.

Calling `Navigation.goBack()` in [validateLogin](https://github.com/Expensify/App/blob/388760bbac17c14c6efd96fd595d66db9da8d6e1/src/libs/actions/User.js#L210) would actually work. But this feels like a workaround.

The propo

[2022-10-31 16:27] mallenexpensify commented on #12007
Oh hold

[2022-10-31 16:28] roryabraham commented on #11262
Still on HOLD

[2022-10-31 16:28] marcaaron commented on #11726
Had to make a change in `react-native-onyx` to get around the second issue I came across.
Will add focus on testing and writing up QA for the WIP PR today.

[2022-10-31 16:37] thesahindia commented on #12028
I randomly tested this at `v1.2.13-4` and wasn't able to repro, so It's definitely a regression.
I think https://github.com/Expensify/App/issues/11921 is similar and I wasn't able to repro it at `v1.2.13-4` I think we should merge them?

[2022-10-31 16:39] mallenexpensify commented on #11425
on  hold

[2022-10-31 16:39] mallenexpensify commented on #11197
on hold

[2022-10-31 16:39] mallenexpensify commented on #9402
on hold

[2022-10-31 16:44] Santhosh-Sellavel commented on #11797
This is still not handled check left a comment
https://github.com/Expensify/App/pull/12296#pullrequestreview-1162202174

[2022-10-31 16:44] thesahindia commented on #11800
Will try to look into in a few hours.

[2022-10-31 16:44] tgolen commented on #10273
OK, my PR has been merged, so I am going to remove the HOLD on most of these issues. They can move forward with getting proposals for them and I would like to be included on most of them to ensure the proposals are not hacks or workarounds.

[2022-10-31 16:45] tgolen commented on #10670
This is no longer on hold and can have proposals created for it with the new code.

[2022-10-31 16:46] tgolen commented on #11094
This is no longer on hold and can have proposals created for it with the new code.

[2022-10-31 16:46] mallenexpensify commented on #11502
Checking in #expensify-open-source
https://expensify.slack.com/archives/C01GTK53T8Q/p1667234779011239?thread_ts=1666110816.923929&cid=C01GTK53T8Q

[2022-10-31 16:46] tgolen commented on #11277
This is no longer on hold and can have proposals created for it with the new code.

[2022-10-31 16:46] tgolen commented on #11087
This is no longer on hold and can have proposals created for it with the new code.

[2022-10-31 16:47] mountiny commented on #11962
@rushatgabhane Can you confirm if the regression would be avoided in here? Thank you for looking into this 🙇

[2022-10-31 16:47] tgolen commented on #11722
This is no longer on hold and can have proposals created for it with the new code.

[2022-10-31 16:47] tgolen commented on #12114
This is no longer on hold and can have proposals created for it with the new code.

[2022-10-31 16:47] quinthar commented on #11321
Yes please do. Thanks!

On Mon, Oct 31, 2022, 6:20 AM Hanno J. Gödecke ***@***.***>
wrote:

[2022-10-31 16:47] tgolen commented on #11858
This is no longer on hold and can have proposals created for it with the new code.

[2022-10-31 16:47] tgolen commented on #7572
This is no longer on hold and can have proposals created for it with the new code.

[2022-10-31 16:48] Julesssss commented on #12114
Awaiting proposals

[2022-10-31 16:48] miljakljajic commented on #12075
To be clear then @JmillsExpensify, given t[his discussion](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064935349459), should I add the `demolition` label?

[2022-10-31 16:48] roryabraham commented on #11823
Just reviewed the PR again. I think a budget adjustment might be in order. Overall I'm not super comfortable with our direct use of react-dom, and would like to see us switch to a cross-platform alternative

[2022-10-31 16:51] roryabraham commented on #11433
[PR](https://github.com/Expensify/App/pull/12090) is awaiting C+ review

[2022-10-31 16:52] mallenexpensify commented on #11502
Gonna take off hold, Jason mentioned

Doubled price to $1000 too
https://www.upwork.com/jobs/~0129cad70a1c139828

[2022-10-31 16:55] roryabraham commented on #9211
No update

[2022-10-31 16:56] roryabraham commented on #7284
No update

[2022-10-31 16:58] cowboycito commented on #10614
@Santhosh-Sellavel I'll do my best on posting a proposal here by tomorrow night.

[2022-10-31 16:59] mountiny commented on #11722
Making this Weekly an waiting for proposals, unassigned, Tim and Kosuke as I was assigned by the External label.

Waiting for proposals.

@kbecciv @mvtglobally Can you please confirm this is still reproducible?

[2022-10-31 16:59] iwiznia commented on #12141
Sorry, I don't know what `replaceAttachmentTagsWithText` does / it's used for or how does that make the UI not show the edit icon.

[2022-10-31 17:01] chiragsalian commented on #10939
Issue is on HOLD so nothing actionable here atm. Demoting to weekly.

[2022-10-31 17:02] mallenexpensify commented on #12046
OK... been chatting about [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1666270549878679)

From @alex-mechler

and

@ctkochan22 can this be worked on externally?

[2022-10-31 17:04] tylerkaraszewski commented on #11515
Reproduced in staging. It "fixes" itself once but not twice.

https://user-images.githubusercontent.com/705000/199066251-81bf6273-d6c9-4696-8c8d-c6cdc98e6eb5.mov

[2022-10-31 17:04] iwiznia commented on #12141
Ah, sorry, I see it above...

Some things I don't get:
- `href=\"[^>].*` I think `.` should not be there, we want any char that's not `>`, not any char
- `attachments){1}` what's the `{1}` doing here?
- `.*[^>]*` I think the `.*` here is wrong and we should do: `[^>]*` for the same reason as the 1st one

[2022-10-31 17:06] mallenexpensify commented on #11852
Qe used to update the label from Daily to Weekly once the job was created but with the new BugZero (BZ) process we're planning to leave `Daily` with the hopes bugs will get fixed more quickly (since we're not focusing on NewFeatures right now)

[2022-10-31 17:07] tgolen commented on #11722
@vitHoracek I wanted to keep this assigned to me so I could keep an eye on the proposals to ensure they are not hacks or workarounds with some of the foundational changes I made. I'll let you lead this issue, but I'll just be lurking in the background.

[2022-10-31 17:07] trjExpensify commented on #12028
Aren't they only similar insofar as it's a bug when triple clicking? It depends really if the root cause is the same?

Nice! That's a good start. This was reported in `1.2.18-2` so we have a window.

[2022-10-31 17:08] isagoico commented on #11866
@thienlnam Hello! Those steps were extracted from this document https://docs.google.com/document/d/18ew6fHESSoS1FruhNhD6mPEd4p419TkVDXIS3aQQdxs/edit. We will update the steps so the "You appear to be offline" screen is the expected behavior now.
Let me know if this is not the case and the expected behavior should still be the one described in the document.

[2022-10-31 17:08] mountiny commented on #11722
@tgolen No problem, thank you for clarifying! 🙌

[2022-10-31 17:08] Julesssss commented on #12172
Hey @kbecciv, is this only reproducible on the latest version?

[2022-10-31 17:12] Julesssss commented on #12223
Okay, all is good except [this bug ](https://github.com/Expensify/App/issues/12172)which was raised against an old issue. I have [asked for help](https://expensify.slack.com/archives/C03TQ48KC/p1667236200518079) with testing as I'm unable to proceed past the 2nd step.

[2022-10-31 17:16] michaelhaxhiu commented on #11689
@NikkiWines that's a great philosophical question. I agree with your logic and reasoning. I bet we can just coin a rule here... anytime you talk to a bot, you can't change your messages.

[2022-10-31 17:16] dangrous commented on #12198
Not overdue, waiting for proposals

[2022-10-31 17:16] michaelhaxhiu commented on #11689
If we arrive at this conclusion, then let's block the ability to edit these messages altogether.

[2022-10-31 17:16] Someone-here commented on #10148
Are you still accepting proposals for this?

[2022-10-31 17:17] dangrous commented on #12132
That PR is now on production, haven't had time to see if this still happens yet but hopefully today or tomorrow.

[2022-10-31 17:19] tgolen commented on #12141
Honestly, there is a lot in this regex that I don't understand, so I'm very open to any improvements.

Do you know how to do that? I'm not sure how to accomplish that...

My understanding is that it's requiring `expensify\.com\/chat-attachments` to exist exactly once

[2022-10-31 17:19] lschurr commented on #12290
I was able to reproduce. Making sure there isn't another open issue for this. https://expensify.slack.com/archives/C01GTK53T8Q/p1667236678452169?thread_ts=1666996403.875309&cid=C01GTK53T8Q

[2022-10-31 17:22] thesahindia commented on #12028
I think the root cause is probably the same but let's wait as I am not 100% sure

[2022-10-31 17:24] aldo-expensify commented on #11848
Yes, the proposal works for me. I tested and `participant.displayName` is the same as `loginWithoutSMSDomain` when the user has not specified a First and Last name, for phone number logins and emails.

[2022-10-31 17:26] aldo-expensify commented on #11848
Assigned to @0xmiroslav

[2022-10-31 17:26] parasharrajat commented on #12114
Do we have to worry about iOS 13.3?

[2022-10-31 17:28] furkanuzundev commented on #8364
@eVoloshchak  Spinner and success message is related this issue, but they are not related with this subject.So, i just tried to fix save button clickable when changes detect.

If you want to fix all the issues about it like this;

1. If user hasn't change anything, save button disabled.
2. If user change something, save button enabled.
3. If user changed and click save button, display spinner unti

[2022-10-31 17:32] eVoloshchak commented on #8364
This was working at some point, I'd want to find what broke it.
You are right, this is a separate issue. I'll try to look for the PR that caused this, expect an update here in ~24h

[2022-10-31 17:33] miljakljajic commented on #12237
Assigning an engineer to triage - can this be worked on by an external contributor?

[2022-10-31 17:36] Julesssss commented on #12223
@chiragsalian kindly tested the issue above and wasn't able to reproduce it. @Expensify/applauseleads if you are still able to reliably reproduce this, please open a new issue and I'll investigate further:

![image (35)](https://user-images.githubusercontent.com/10736861/199072076-cd122a5c-ab58-4df2-a733-d11a77ec048d.png)

[2022-10-31 17:36] Julesssss commented on #12223
:shipit:

[2022-10-31 17:38] parasharrajat commented on #4733
End result looks promising. This also looks performant.

- Will it work with Variable width? Because, inline code blocks can be nested into another text blocks.
- We can sure unless you try it in the RenderHTML with a few different combinations.

[2022-10-31 17:40] OSBotify opened #12305 "Deploy Checklist: New Expensify 2022-10-31"
**Release Version:** `1.2.22-3`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/11586
- [x] https://github.com/Expensify/App/pull/11717
- [x] https://github.com/Expensify/App/pull/11875
- [x] https://github.com/Expensify/App/pull/11907
- [x] https://gi

[2022-10-31 17:45] furkanuzundev commented on #8364
sure.

[2022-10-31 17:50] AndrewGable commented on #11711
@hannojg and I are getting on a call with AWS device farm team today

[2022-10-31 17:52] Santhosh-Sellavel commented on #11319
Removing/Not showing participants is bad

@chiragsalian Any chance this could be internal? Why those details are missing?

The way I see it, we should investigate why it's not received or not fetched and fix it.

Can we bump this to weekly while wait for better proposal, thanks!

[2022-10-31 17:52] ctkochan22 commented on #11814
Not overdue

[2022-10-31 17:55] ctkochan22 commented on #10493
Punting. Still want to outline the instances this is used and make a clear plan of action

[2022-10-31 17:56] techievivek commented on #11885
Not overdue, the issue is on hold as we have a fix [here](https://github.com/Expensify/App/pull/11608).

[2022-10-31 17:58] nasir-azeemi commented on #9848
Have the same issue. Crash occurs on a range of devices, ranging from android 9-12.
Here is the stack trace, there are no logs.
[code]

[2022-10-31 18:00] vladamx commented on #11823
@roryabraham  On it.

[2022-10-31 18:02] Santhosh-Sellavel commented on #10731
@christianwen PRs should go against to library's repo. Not against our fork, let us know when PR is raised, and keep us informed on progress thanks!

[2022-10-31 18:04] shawnborton commented on #11187
I'm not sure how this one will change with the branding updates.

But separately, I just tested this on my iPhone, and it works perfectly. Maybe we can close this one out?

![IMG_4123](https://user-images.githubusercontent.com/2319350/199077973-6042ac1d-1a92-4fd8-88bc-95e239d5207b.PNG)

[2022-10-31 18:04] CherylWalsh commented on #12255
@GabiHExpensify I'm still catching up from OOO and given this is urgent, I'd like to unassign myself if that is OK as I'm a bit behind.

[2022-10-31 18:05] LucioChavezFuentes commented on #7860
@bfitzexpensify @roryabraham Some of my solutions do not apply to the new VirtualizedList refactor in the react-native repo. It will take me time to fully understand the new functionality and come up with a new proposal. I believe the issue will persist in Web using the new refactor but I can't be sure as I can’t test it because these changes are not released in react-native-web yet.
Should I wait

[2022-10-31 18:06] puneetlath commented on #11300
@Ollyws @sobitneupane @eVoloshchak sent [hiring offers](https://www.upwork.com/ab/applicants/1579892682555052032/hired) to all three of you via Upwork.

[2022-10-31 18:07] NicMendonca commented on #11730
@Puneet-here is working on PR - this isn't overdue

[2022-10-31 18:07] kbecciv opened #12308 "[HOLD] [$250] Connect Bank Account - App is crashed when adding a Verified Bank Account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Enable staging Web secure server in Account Preferences if disab

[2022-10-31 18:08] kbecciv commented on #12172
Here is the link for new GH issue https://github.com/Expensify/App/issues/12308

[2022-10-31 18:08] Santhosh-Sellavel commented on #9818
Yeah, that's odd.

@pecanoro Let's wait and see if there are other ways.

[2022-10-31 18:08] joelbettner commented on #12240
Yeah, there is definitely something fishy going on here. Good for an external, though, as this is all appears to be in App. Going to add the label.

[2022-10-31 18:09] joelbettner commented on #12240
Sorry @techievivek, didn't mean to assign you. 😆 The page was refreshing when I was trying to click a different button and I accidentally ended up clicking the "Demolition" button.

[2022-10-31 18:11] Santhosh-Sellavel commented on #9818
<img width="1079" alt="Screenshot 2022-10-31 at 11 39 20 PM" src="https://user-images.githubusercontent.com/85645967/199079045-9e888a24-0504-453c-85a5-204d83a8be4c.png">

@pecanoro  Is this what we want without changing the URL? or Other Message like 404 not found instead of chat not found?

[2022-10-31 18:12] deetergp commented on #7435
Still on hold

[2022-10-31 18:15] NicMendonca commented on #12268
I am having trouble reproducing this. Asked in slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1666949886613589).

[2022-10-31 18:16] alex-mechler commented on #12245
I'm guessing this is happening because we don't send out an update with the new profile picture when the user updates it somewhere. I feel like we have had similar issues to this in the past, going to go digging for them

[2022-10-31 18:25] sophiepintoraetz commented on #11319
Yeah, that might be a Melvin-bot thing (I moved it to weekly yday) - @Santhosh-Sellavel - potentially because help is wanted?

[2022-10-31 18:31] Santhosh-Sellavel commented on #10893
Will review it this week, mostly in a couple of days!

[2022-10-31 18:31] Santhosh-Sellavel commented on #10622
PR in review

[2022-10-31 18:32] Santhosh-Sellavel commented on #7968
@mollfpr I believe you submitted the same proposal earlier?

[2022-10-31 18:32] StefanNemeth commented on #11762
Safari on iOS is a bit more strict regarding the virtual keyboard than Chrome or other browsers on Android. The keyboard may only open when an input element is focused on a click event. So the solution would be to focus on the click event that occurs when clicking on the plus button.

[2022-10-31 18:37] Santhosh-Sellavel commented on #7862
Yeah, the changes requested are done. Waiting for re-review.

Not sure it will be able to merge this week. But mostly will try to get it merged by next week. Code Review is only in progress,  still testing needs to be done if there are no surprises we will be close next week!

[2022-10-31 18:39] Santhosh-Sellavel commented on #11488
Seems you have edited it recently. Please do not do that, always submit it as a new comment always.

[2022-10-31 18:40] mollfpr commented on #7968
@Santhosh-Sellavel Yeah, and add some improvement and comparison between Whatsapp and Slack.

Maybe now you and @stitesExpensify consider handling the `Enter` key listener independently.

[2022-10-31 18:41] Santhosh-Sellavel commented on #11488
@gadhiyamanan Can you resubmit again to get it reviewed,

Also briefly explain what causes the issues, and how your changes addressed the cause.

thanks!

[2022-10-31 18:42] eVoloshchak commented on #11762
Thanks for the proposal, this hack would indeed work, but we generally try to avoid such workarounds unless necessary

[2022-10-31 18:44] shawnborton commented on #8459
Commented on the PR.

[2022-10-31 18:45] alex-mechler commented on #12245
Couldn't find the issue I was thinking of. I think this has to be internal, as this will likely require some changes to where we push data to the clients as part of the avatar upload. Marking as internal and dropping to the pool

[2022-10-31 18:47] shawnborton commented on #10202
Cool, will comment over in the PR.

[2022-10-31 18:51] OSBotify commented on #12305
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.22-1 :rocket:

[2022-10-31 18:52] eVoloshchak commented on #11762
I think this might have the same reason as https://github.com/Expensify/App/issues/8292#issuecomment-1259797560, which ultimately came down to implementing custom events for the drawer, which would allow us to focus the keyboard after all of the drawer animations are finished.
This change was going to be implemented in https://github.com/Expensify/App/issues/9253, but after that, it was decided to

[2022-10-31 18:53] NicMendonca commented on #12268
Okay, I got it. Am able to reproduce with using HTML spacing:

![image](https://user-images.githubusercontent.com/24947345/199086995-f44e1b6f-fde3-4b93-bd3c-e21674277819.png)

[2022-10-31 18:55] StefanNemeth commented on #11762
It wouldn't really call it a hack. Currently onTransitionEnd triggers the focus, however iOS requires it to be on the click event, which means e.g. the mounted event has to trigger it.

It won't be possible any other way (without being hacky).

[2022-10-31 18:57] michaelhaxhiu commented on #12266
Exported to Upwork. Job is publically available.

[2022-10-31 19:00] eVoloshchak commented on #11762
You are correct, I suppose that custom events for navigation won't help us, since we would still be calling focus() not from click event.

Let's wait for other proposals

[2022-10-31 19:01] michaelhaxhiu commented on #12266
@AndrewGable I feel pretty certain this is `external` but you can veto that if you disagree

[2022-10-31 19:13] eVoloshchak commented on #12043
I proposed this for another [issue](https://github.com/Expensify/App/issues/11438#issuecomment-1296330930), but what do you think about
`Tab` - next emoji
`Shift+Tab` - previous emoji

https://user-images.githubusercontent.com/9059945/198897281-7f535854-2b2b-46d7-97e8-ebfa132e1ed4.mov

[2022-10-31 19:20] AndrewGable commented on #11711
Update from our call with AWS Device farm:
1. They gave us a code snippet that enables us to run the Android tests as we'd like 🎉 I am working on getting the tests working as originally written now. If I cannot get them to work today, I will hand this off to @hannojg for tomorrow.
2. AWS Device farm let us know however that the way we are running these tests will not be able to be run on iOS devic

[2022-10-31 19:20] puneetlath commented on #12004
@ntrepanier let's go ahead and double this one.

[2022-10-31 19:20] PauloGasparSv commented on #12123
Sorry @neil-marcellini, I think I missclicked the demolition label!

[2022-10-31 19:41] LucioChavezFuentes commented on #7860
Should I wait for upstream changes to be released on react-native-web or make PR directly to Expensify's forks?

I can progress if I create my own branch in react-native-web with react-native latest changes (thanks for the tip necolas).

[2022-10-31 19:41] Santhosh-Sellavel commented on #10202
Tested it today,
iOS is now not centered properly https://github.com/Expensify/App/pull/10394#issuecomment-1297571275
Android has more space for multiple lines https://github.com/Expensify/App/pull/10394#issuecomment-1297579703

@trjExpensify @Julesssss

[2022-10-31 19:44] slafortune commented on #11385
Seems like the consensus here is that this should move forward - that the photo uploaded is high resolution but the one shown when selecting the avatar is not?

[2022-10-31 19:45] stitesExpensify commented on #12189
I agree with @rushatgabhane about not using a fuzzy search. For reference the Trie which is currently implemented finds emojis in [1-6ms](https://github.com/Expensify/App/pull/10165#discussion_r976521139).

I think a suffix tree as mentioned in the OP (which is very similar to a trie) is the correct data structure, and we should stick to that.

[2022-10-31 19:50] marcaaron commented on #12043
I think just skipping over emojis for the tabbing behavior would be the simplest solution. Feels like we are greatly exaggerating the importance of being able to tab to the emojis 🤷‍♂️

[2022-10-31 19:51] strepanier03 commented on #12238
I am able to recreate this so sending to External.

[2022-10-31 19:51] AndrewGable commented on #11711
We had our first successful run via AWS device farm for Android e2e tests 🎉 Now we just need to improve and tweak things.

[code]

[2022-10-31 19:54] michaelhaxhiu commented on #10884
Blocked - hold.

[2022-10-31 19:58] PauloGasparSv commented on #12123
@kbecciv do you mind re-testing this so I can have a new request to take a look at LogSearch?

[My staging failed attempt looks completely different](https://staging.expensify.com/_devportal/tools/logSearch/#query=request_id:(%22762ed70728ce01d6-GRU%22)+AND+timestamp:[2022-10-31T18:36:31.077Z+TO+2022-10-31T20:36:31.077Z]&index=logs_expensify-019285) and locally I can get past the "Choose the accou

[2022-10-31 20:06] aldo-expensify commented on #12243
We are sending the pusher events to update the personal details on all clients in the backend, the problem is that the UI does not update even if the personal details in Onyx change because of the pushed update.

This could be worked `External`, but I'll do it myself to work a bit on contributions.

[2022-10-31 20:07] strepanier03 commented on #12238
Upwork job created: https://www.upwork.com/ab/applicants/1587174307638718464/suggested

----

Job posting: https://www.upwork.com/jobs/~011918eba2b53da485

[2022-10-31 20:08] Santhosh-Sellavel commented on #11825
@Julesssss
@Ollyws proposal looks good, test well!

C+ Reviewed
🎀 👀 🎀

[2022-10-31 20:10] michaelhaxhiu commented on #10107
Can we respond to the latest inquiries here @parasharrajat (today or tomorrow)?

[2022-10-31 20:10] neil-marcellini commented on #11707
@davidcardoza now we need to double twice to $1000 right?

[2022-10-31 20:11] JmillsExpensify commented on #11192
Thanks @mdneyazahmad! I've just hired you in Upwork. In addition, @mananjadhav please review PR and make sure to apply to the [Upwork job](https://www.upwork.com/jobs/~01941d2f457766f5e4) when you can.

[2022-10-31 20:13] furkanuzundev commented on #11822
# Proposal

No matter how much it seems to be caused by the button, the root of the problem lies in the `<OfflineWithFeedback /> `component.

When user offline and edit a message, `isOfflinePendingAction` is returning **true** and it's trigger `needsOpacity` variable.So when i press second time, it still think need opacity because `isOfflinePendingAction` still return true even if you already edit

[2022-10-31 20:14] slafortune commented on #12269
I'm not able to reproduce this even if I zoom in lots -
![image](https://user-images.githubusercontent.com/11725910/199101847-6374dbb4-168d-458f-9f74-47f2b5165591.png)

[2022-10-31 20:14] #12269 closed

[2022-10-31 20:16] strepanier03 commented on #11973
@varshamb - Please apply for this [job](https://www.upwork.com/jobs/~01a8fdb4689abc1f23) as soon as you can so that when the pay hold is over I can pay the job. Thanks!

[2022-10-31 20:17] strepanier03 commented on #11863
@sobitneupane - Can we can an update here? Are we accepting @Uros787's proposal?

[2022-10-31 20:23] jayeshmangwani commented on #12238
### Proposal

we need to wrap the terms URL and privacy URL in ToolTip at the about page, and if we want to apply the same hoverable on the login page then we need to wrap these 3 texts in ToolTip on the login page

1. privacy
2. terms
3. licenses

https://github.com/Expensify/App/blob/f656f08e0a5a88fae209dc7bbef5ef74ca8fa894/src/pages/settings/AboutPage/AboutPage.js#L119-L127

[code]

https://git

[2022-10-31 20:28] kbecciv opened #12312 "Android - LHN - Fab menu is missing after log in"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Check Green Plus button below

## Expected Result:
Fub menu should be present

##

[2022-10-31 20:29] OSBotify commented on #12312
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-31 20:32] Luke9389 commented on #12194
I don't think this is actually an issue. The behavior above looks expected to me.

[2022-10-31 20:32] #12194 closed

[2022-10-31 20:33] Luke9389 commented on #11809
hey @shawnborton,

What do you think about the fact that the animation goes two different directions here?
Problem, not problem?

[2022-10-31 20:34] Luke9389 commented on #11283
not overdue, still working it out.

[2022-10-31 20:35] lschurr commented on #12290
Hey @marcaaron - could you just double check this and confirm this is different from other reports? Thread [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667236678452169?thread_ts=1666996403.875309&cid=C01GTK53T8Q).

[2022-10-31 20:39] slafortune commented on #11414
Doubled the payment today

[2022-10-31 20:48] parasharrajat commented on #11283
![image](https://user-images.githubusercontent.com/24370807/199107300-9513d2c5-6019-4875-9c45-8ee12931a849.png)

I don't think this is common. We are not using images for borders. It is CSS and should work fine on each device. I don't prefer to have a solution that creates another issue. I already mentioned that margin:1 will not work.

[2022-10-31 20:49] pecanoro commented on #10262
@parasharrajat Any updates?

[2022-10-31 20:53] parasharrajat commented on #10262
Only need to test the latest proposal on a few platforms to confirm. I will do that asap.

[2022-10-31 20:56] neil-marcellini commented on #10824
Hey @mollfpr @Santhosh-Sellavel I'm having a hard time figuring out what the best way forward is here.

I don't want to go for solution 1 above because I think that the tabIndex should be -1 on the body so that the focus is trapped in the modal. For solution 2, I don't think the body should be keyboard focusable.

Could you please give me a breakdown of how the focus is working through each of the

[2022-10-31 20:58] parasharrajat commented on #8311
Waiting on https://github.com/Expensify/App/issues/8311#issuecomment-1297168551.

[2022-10-31 20:59] parasharrajat commented on #4733
@lbaldy let me know if this new implementation is working on our app.

[2022-10-31 21:00] lbaldy commented on #4733
@parasharrajat  working on a full example with different scenarios in the Expensify App. Will post here in a few hours with videos

[2022-10-31 21:09] shawnborton commented on #11809
My take is that in the Settings pages, each modal page is animated. But in the IOU flow, just the content of the modal (everything below the title) is being animated. Is that the difference that we're talking about? It's a bit unclear from the comments.

[2022-10-31 21:19] lschurr commented on #12048
Hi @aimane-chnaif - Could you please apply for the job in Upwork so that we can hire you? https://www.upwork.com/jobs/~01a688c0ae4629126f

[2022-10-31 21:33] kavimuru opened #12314 "[HOLD for payment 2022-11-18] [$250] Space is not added after rendering emoji via text reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat
2. Type :wave: in composer

## Expected Result:
Space is added after the emoji

## Actual Result:
Space is not

[2022-10-31 21:34] GabiHExpensify commented on #12255
Okay, gonna spin the copy wheel again then!

[2022-10-31 21:37] kavimuru opened #12315 "[HOLD for payment 2023-04-05] [$4000] Dev: Connect to bank account is not opening Sandbox page on dev server, redirects to real bank website"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Run the local web server.
2. Go to any workspace from the Settings page.
3. Click the last menu item Connect Bank account.
4.

[2022-10-31 21:47] JmillsExpensify commented on #8503
@roryabraham What's blocking us at this point now that https://github.com/Expensify/App/issues/12177 is merged?

[2022-10-31 21:48] Puneet-here commented on #12314
### Proposal

We just have to return
[code]
https://github.com/Expensify/App/blob/2174ef50cd16fb3da074ef5dce880ac1653e7d23/src/libs/EmojiUtils.js#L201

[2022-10-31 22:04] stitesExpensify commented on #11084
bump @mvtglobally

[2022-10-31 22:04] stitesExpensify commented on #7420
No update

[2022-10-31 22:08] JmillsExpensify commented on #10273
Going to assign myself as well given that this is a major WAQ initiative and we have 11 issues that are being opened up for solutions now.

[2022-10-31 22:11] stitesExpensify commented on #5536
Sorry for the delay. I think it makes sense to merge the issues (with this one being the one that stays open). Once we save drafts server side it will be unnecessary to save locally. The exception would be if a user is offline we need to save the draft locally right?

Only semi-related, bump @JmillsExpensify do you think this is part of WAQ?

[2022-10-31 22:12] stitesExpensify commented on #12132
I don't think so since that was focused on creating chats, not workspaces (which uses a different API call)

[2022-10-31 22:15] melvin-bot[bot] opened #12317 "Investigate: 💥 Crash 💥 `com.facebook.react.views.scroll.MaintainVisibleContentPositionHelper.updateScrollPositionInternal`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.NullPointerException
### Attempt to invoke virtual method 'void android.view.View.getHitRect(android.graphics.Rect)' on a null object reference
### `MaintainVisibleContentPositionHelper.java line 114` `com.facebook.react.views.scroll.MaintainVisibleContentPositionHelper.updateSc

[2022-10-31 22:16] lbaldy commented on #4733
@parasharrajat good news is that it seems to be working pretty well.

WIP PR is available here: https://github.com/Expensify/App/pull/12316

Please see screenshots:

IOS:

![Uploading simulator_screenshot_7ADF5F02-7F22-4EEA-94DA-43D34F7B86FF.png…]()

Android: TBD

[2022-10-31 22:19] parasharrajat commented on #11229
Result: FAB menu keeps open. don't open any other pages

@aimane-chnaif This is not intended. I am sure the user would prefer the shortcut to work even if FAB is opened. In that case, FAB should be closed. But I think there is some issue for it https://github.com/Expensify/App/issues/10009.

[2022-10-31 22:19] kavimuru opened #12318 "Chat - If you reduce the browser window, emoji picker disappears in a chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Go to any chat
4. Shrink browser window (below 75%)

[2022-10-31 22:23] kavimuru opened #12319 "[HOLD for payment 2022-11-18] [$250] Download icon stays green after downloading and can't download the image again"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/

2. Log in with any account
3. Go to any chat
4. Send an attachment
5. Click to "

[2022-10-31 22:31] mvtglobally commented on #11084
@stitesExpensify
Team checked on recent build and issue is not repro https://user-images.githubusercontent.com/43995119/199122285-b888b733-40df-4986-ab3a-b77967363a88.MOV
https://user-images.githubusercontent.com/43995119/199122306-66d77a80-bc5b-408f-b4b5-dc1fbabd1f83.MOV

[2022-10-31 22:35] mallenexpensify commented on #8455
First... I'm a bit at a loss for where we're at here.
1. I think we were hoping a previous refactor would fix this issue and apparently it hasn't
2. If it hasn't, we should fix this bug
3. @thesahindia suggests we refactor the page. Sahil, can you expand on this, I'm not the most well-versed on refactors.
4. @thesahindia , I assigned to you as C+ for now
5. Once I hear back I'll assign an engineer

[2022-10-31 22:40] parasharrajat commented on #4733
Excited about it. :fire_extinguisher:

[2022-10-31 22:41] mallenexpensify commented on #11330
My bad, I 👍 @rawalyogendra 's post above but didn't hire in Upwork :ohnothing:
I've hired @rawalyogendra and @mananjadhav in Upwork, please submit the PR

[2022-10-31 22:45] mallenexpensify commented on #11265
@Luke9389 do you agree?

Is there an issue for this already? Or maybe it's just 'message reappears in compose box after a message is sent'.  I think I commented on that issue last week, wondering if it might be related to "deprecate sequence #" or if we should hold on that

[2022-10-31 22:46] leeoniya commented on #12189
:+1: excited to see what you folks come up with! i'd be interested to add a Ukkonen suffix tree implementation to the bench table as well. btw, uFuzzy is not based on string distance metrics, since that typically produces garbage results!

out of curiosity i loaded up all the emoji keywords from https://github.com/Expensify/App/blob/main/assets/emojis.js and got 0.3ms matches, or 0.7ms for out-of-

[2022-10-31 22:50] Valliappan21 commented on #11822
### Proposal

1. active Network state is maintained in props.network.isOffline
2. Refernce issue  [https://github.com/Expensify/App/blob/6522435ef9d6c1a7f47b89750e022503a3a61c12/src/pages/home/report/ReportActionItemMessageEdit.js#L257](url)

**Solution**

- Toggle button disable state based on props.network.isOffline
- So when network state change-> state variable gets updated-> button state togg

[2022-10-31 22:50] stitesExpensify commented on #11084
Great, thanks!

[2022-10-31 22:50] #11084 closed

[2022-10-31 22:52] #11207 closed

[2022-10-31 22:53] MitchExpensify commented on #12152
Hey @kavimuru, mind helping me with this question?: How do you pull up the console warning screen?

Thanks!

[2022-10-31 22:53] mallenexpensify commented on #10894
So... the bottom three here @Beamanator ?
<img width="849" alt="image" src="https://user-images.githubusercontent.com/22508304/199124916-2833180f-8ac9-4490-9109-224cf8c341d8.png">

[2022-10-31 22:56] aldo-expensify commented on #12243
I drafted a PR which seems to do the work, but I still want to confirm that it is going in the right direction

[2022-10-31 22:57] mallenexpensify commented on #7911
Blast from the past!  Sorry for leaving you hanging @adelekennedy .  I did check [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1664472772300189), I'm going to close this because we currently don't support more than 2 decimals for currencies and it hasn't been a problem so far.  Maybe we'll address sometime down the line

[2022-10-31 22:57] #7911 closed

[2022-10-31 23:00] aldo-expensify commented on #12243
I think your are right on that most apps wouldn't support this, but in our case, the support is 95% there since we are already sending the updates to all devices through the Pusher

Agreed on that we should fix all fields in this form if we decide to fix one. The problem is the form inputs not updating when we receive new data from the pusher because at some point we decided they would be "[uncont

[2022-10-31 23:01] mallenexpensify commented on #10148
@Julesssss [suggests in #expensify-open-source ](https://expensify.slack.com/archives/C01SKUP7QR0/p1666969027726409?thread_ts=1666968468.402259&cid=C01SKUP7QR0)

@AndrewGable you agree?!??!

[2022-10-31 23:01] MitchExpensify commented on #12010
[Upwork Job](https://www.upwork.com/jobs/~0118be70e7be3ad369)

[2022-10-31 23:01] kbecciv commented on #12281
Issue is reproduced in Web with build 1.2.22.1

https://user-images.githubusercontent.com/93399543/199125778-e40feb4e-21fe-4ac3-92b7-0d796d9bbc34.mp4

[2022-10-31 23:01] MitchExpensify commented on #12010
Doubled!

[2022-10-31 23:03] aldo-expensify commented on #12243
I'm not entirely sure of if we want to do fix this or not as I think it has very low ROI. @JmillsExpensify can I have your opinion on this 🙏 ?

[2022-10-31 23:06] kavimuru opened #12324 "HOLD #12650 [$250] [mWeb/Android] keyboard hides when long press on keyboard reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any chat
2. Write something
3. Long press on send button

## Expected Result:
Keyboard should not hide

## Actual Result

[2022-10-31 23:08] chiragsalian commented on #11319
I think external is best. This is because some people haven't uploaded any avatar or perhaps have very new accounts so there is no data like first name, last name or avatar information setup just yet. Or maybe the backend has not set defaults for some of the older accounts/chat reports. We could have it internal such that PHP layer always provides the default but it feels like it would be easiest

[2022-10-31 23:10] lschurr commented on #11844
Price doubled.

[2022-10-31 23:11] MitchExpensify commented on #11914
[Upwork Job](https://www.upwork.com/jobs/~012f8833a82489f411)

[2022-10-31 23:13] mallenexpensify commented on #12043
I'm a keyboard nav fanatic but don't use tab much in Slack nor NewDot (I do in Spotify, they changed how it worked and it sux now).  My preference would be - once tab is hit twice (once to go from compose box to 😄 , second to highlight the first emoji) then the tab key should do what @eVoloshchak suggests above

Shift+Tab - previous emoji

[2022-10-31 23:16] AndrewGable commented on #10148
I am in favor of closing 👍

[2022-10-31 23:19] kavimuru opened #12325 "[HOLD for payment 2022-11-29] [$250] Cursor moves to the end of the message when inserting an emoji in between the words reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat
2. Type something in the composer e.g. "hello there"
3. Now type :wave: in between "hello" and "there"

## Exp

[2022-10-31 23:20] MitchExpensify commented on #10356
@puneetlath is there guidance I'm missing on completing a BugZero checklist? Thank you https://stackoverflow.com/c/expensify/questions/14574

[2022-10-31 23:28] aldo-expensify commented on #9971
@chiragsalian  I think the red dot may be missing for the "Workspaces" entry in the settings menu:

https://user-images.githubusercontent.com/87341702/199127979-9e61842b-9350-4466-bdec-dc5158344d4c.mov

We may want to replace this line:

https://github.com/Expensify/App/blob/2f4bad7f4abf129daaa0e05f225245b076ac9f3c/src/libs/PolicyUtils.js#L51

by

[code]

The detail with this fix is that it will m

[2022-10-31 23:29] aldo-expensify commented on #9971
Sorry, I think it is better if I just create a new GH issue for this and ping Chirag in case he wants to do it

[2022-10-31 23:31] stitesExpensify commented on #12189
@leeoniya those results are crazy fast! If you want to create a proposal, that sounds very promising!

I am a bit confused how there is 0 memory overhead since we would still have to create the data structure right? I'm also curious how long it takes to create that structure (seems like it should be fast using Ukkonen's algo).

[2022-10-31 23:34] aldo-expensify opened #12327 "Redbrick path broken for Settings > Workspaces"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

The red dots showing the path of an error is interrupted

## Action Performed:
**Using an account that is a domain**
1. Create a workspace in New Dot

[2022-10-31 23:36] grgia commented on #12151
Not overdue, engineering triage!

[2022-10-31 23:37] MitchExpensify commented on #11073
Retested and it seems #11439 to have solved this, I can no longer reproduce. Mind checking me on that @kbecciv ? Can you reproduce?

[2022-10-31 23:38] kbecciv opened #12328 "LHN - Unarchived message appears in LHN only after refreshing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12195

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with

[2022-10-31 23:42] jliexpensify commented on #12186
I'm going to close this, see my explanation above.

[2022-10-31 23:42] #12186 closed

[2022-10-31 23:45] jliexpensify commented on #10905
Sorry @tgolen I'm a little confused: did you need a $750 Upworks job created for https://github.com/Expensify/App/pull/11586? And Santhosh and Aimane invited?

I'm just trying to work out if I need to do anything...thanks.

[2022-10-31 23:46] mountiny commented on #11073
@MitchExpensify Also could not repro, feel free to close this issue.

[2022-10-31 23:47] mountiny commented on #12312
cc @hannojg I think this might be related to the refactor https://github.com/Expensify/App/pull/11907

[2022-10-31 23:48] leeoniya commented on #12189
the data structure is just the haystack string[]. if you dont have this array in mem already and have to concat/extract the keywords arrays, there would be some minimal additional allocs up front, but uFuzzy itself doesnt do anything to your haystack once it's made. the lib is regexp based and just processes that haystack in a linear/dumb fashion. pretty wild how fast it turned out! 🤯

[2022-10-31 23:50] mallenexpensify commented on #10148
K, gonna close for now.  It doesn't mean it can't ever be reopened, we're just deciding to focus on hundreds of other bugs

[2022-10-31 23:55] mountiny commented on #12119
This one might be on topic

[2022-11-01 00:02] mallenexpensify commented on #10698
@Uros787 , apologies for the delay, we have automation that posts in this issue when the PR is deployed (and updates the title) but it didn't work.  I just paid you, closing.

[2022-11-01 00:02] #10698 closed

[2022-11-01 00:12] strepanier03 commented on #12151
@grgia - Are you recommending the External label on this? Did you triage it as an engineer or am I to triage it as a CM?

[2022-11-01 00:56] mvtglobally commented on #12305
We are still missing IOS build.

[2022-11-01 00:59] aldo-expensify opened #12330 "[IOS] Delete workspace crash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

I get this crash in the IOS simulator, the crash seems to come from here:

https://github.com/Expensify/react-native-onyx/blob/91aabb7219ddc8722cc2955

[2022-11-01 01:34] trjExpensify commented on #12028
Yep!

@wildan-m, are you up for taking a look at the [releases](https://github.com/Expensify/App/releases) in between `v1.2.13-4` and `1.2.18-2` to narrow down what the probable cause was? Something we changed introduced this, so starting there to inform the proposal seems like a good idea.

[2022-11-01 01:36] wildan-m commented on #12028
@trjExpensify sure, I'll check it

[2022-11-01 01:45] trjExpensify commented on #11187
Was that iOS mWeb? https://github.com/Expensify/App/issues/11187#issuecomment-1282610043

[2022-11-01 01:46] shawnborton commented on #12188
I brought up some [conversation in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1667265243767019) but I actually quite like the horizontal idea that @getusha proposed above. Let's see if the group agrees with that approach first and then I can create some clean mocks.

[2022-11-01 01:47] shawnborton commented on #11187
Ah good point - I just tried on mWeb and it's still broken.

[2022-11-01 02:17] srikarparsi commented on #12081
I'm not able to reproduce this issue. I tried creating a new account too but don't see the loading indicator for the concierge chat. Is this still happening @mdneyazahmad @kavimuru?

[2022-11-01 02:18] hellohublot commented on #9818
### Proposal updated for https://github.com/Expensify/App/issues/9818#issuecomment-1266642470 Solution B

#### Solution B

Hello, how about showing NotFoundPage in website and showing WebPage in [iOS/android/desktop], because maybe we should consider the old version users [iOS/android/desktop] click a new page link by new version user sent, maybe it should not be displayed as NotFoundPage

https:/

[2022-11-01 03:38] christianwen commented on #10731
thanks for sharing the video @mallenexpensify, it looks really awesome!

[2022-11-01 03:53] JmillsExpensify commented on #11189
@youssef-lr I wanted to check on the plan moving forward following the regression that you did an awesome job jumping in and fixing. I'd imagine the order of operations is:

 - Get https://github.com/Expensify/Web-Expensify/pull/35361 merged
 - Once that hits production, circle back on the App PR, which looks ready to merge following all Web-E PRs hitting production.

Is that basically right?

[2022-11-01 04:03] davidcardoza commented on #12208
I was able to reproduce on iOS. Moving this to external.

[2022-11-01 04:09] JmillsExpensify commented on #11776
Opening this back up now that related PR is merged. Let's re-test this and see if it's still a thing.

[2022-11-01 04:40] JmillsExpensify commented on #11968
We should assign someone from Bug Zero to test this one now that #11437 is merged.

[2022-11-01 04:41] JmillsExpensify commented on #11885
We should assign someone from Bug Zero to test this one now that https://github.com/Expensify/App/issues/11437 is merged.

[2022-11-01 04:48] JmillsExpensify commented on #11093
Let's bump the price of this issue to $1000 to make sure it gets done.

[2022-11-01 04:52] JmillsExpensify commented on #12036
@techievivek It looks like most of the issues catalogued in this tracking issue are done, held on other initiatives, or being worked on elsewhere by Rn experts. What do you think about updating this OP to highlight the issues that are with contributors and that either need proposals or that we need to help get merged?

[2022-11-01 05:13] JmillsExpensify commented on #10670
Nice, we're open for proposals! I'm going to proactively increase this job to $500 to kick us off.

[2022-11-01 05:29] davidcardoza commented on #12255
I am catching up from being out of the office from the Xero roadshows last week and I have a short week this week too. I don't want to drop the ball on this because of my limited bandwidth. i am going to spin the copy wheel to reassign.

[2022-11-01 05:30] davidcardoza commented on #12255
@GabiHExpensify Not sure if you have the bandwidth to take this, I know you had assigned the issue out, feel free to reapply the `Waiting for copy` label again.

[2022-11-01 05:37] davidcardoza commented on #12319
I was able to reproduce the issue on staging, but not on production. Sending out to external

[2022-11-01 05:40] kadiealexander commented on #12317
Upwork post:
https://www.upwork.com/jobs/~0189036af5bec47cc2
https://www.upwork.com/ab/applicants/1587318585346142208/job-details

[2022-11-01 05:51] ctkochan22 commented on #11153
@kbecciv Does this only affect mobile devices? Across iOS and android and vice versa?

[2022-11-01 06:14] davidcardoza commented on #11707
@neil-marcellini Someone submitted a proposal this evening. The contract proposal is now pending.

[2022-11-01 06:16] syedsaroshfarrukhdot commented on #11488
@Santhosh-Sellavel Please could you review my explanation as well https://github.com/Expensify/App/issues/11488#issuecomment-1293956691

[2022-11-01 06:19] sakluger commented on #11889
It's been a week, time to update the price to $500.

[2022-11-01 06:23] davidcardoza commented on #12234
Sorry I have been out of the office. Job is posted - https://www.upwork.com/jobs/~0190eba7fee32bdedd

[2022-11-01 06:27] sophiepintoraetz commented on #11776
Hmm, i don't think this particular issue is happening any more but I do think there's a non-intuitive flow in expecting the user to scroll down to the welcome message (if you don't know it's there, how do you know to scroll down to look for it?) But I think that's a separate issue.

<img width="436" alt="image" src="https://user-images.githubusercontent.com/42940078/199172346-ea2a57dd-04ad-49b9-a4

[2022-11-01 06:27] #11776 closed

[2022-11-01 06:28] sakluger commented on #11970
Price doubled!

[2022-11-01 06:40] mananjadhav commented on #11494
I checked again, yeah the issue seems to be on the App side itself. I haven't pin pointed on the App side but the API request is correct and the data received from the API also has the space.

[2022-11-01 07:55] mollfpr commented on #10824
Sure!

- From steps 1 to 5 there's no tab index set to the `<body>` tag.
- In step 6, we used `PressableWithoutFocus` for the handle user pressed on the attachment report. So when the user clicks the attachment, it will blur first then open the modal. When blurring the last focused element trapped is `<body>`.
- In step 7, from step 6 the last focused element trapped is `<body>` the `UIManager.foc

[2022-11-01 07:55] mollfpr commented on #10824
### Proposal
Another solution I suggest is adding `focusable` props to the `View` wrapper of the `PDFDocument` element. So we can use the keyboard navigation on pdf content.

[code]

**Chrome**

https://user-images.githubusercontent.com/25520267/199183893-87a7ded9-dc87-42a9-81ab-d29de377c18d.mp4

**Safari**

https://user-images.githubusercontent.com/25520267/199185586-292c22ee-5114-4894-a045-7b330

[2022-11-01 08:30] tienifr commented on #11810
@conorpendergrast Thanks for your review. I realized that new URL not work on native, so I changed to use url libs. Pls help check: https://github.com/tienifr/App/pull/18

[2022-11-01 08:48] kidroca commented on #12141
Can't we just skip running this logic for comments and only run it for attachments ?

I see we use the `AddComment` command when I send an url like `.../chat-attachments`
But when I actually make an attachment we use the `AddAttachment` command

If we only run the `replaceAttachmentTagsWithText` logic for `AddAttachment` commands, it'll never replace a comment message by mistake

---

I found the

[2022-11-01 08:51] Beamanator commented on #11341
Good call @Puneet-here - feel free to give some suggestions :D

@shawnborton How do you feel about the following error messages for the ^ cases:

Error message: `Enter your default contact method to complete this action`

Error message: `The entered contact method doesn't match`

Or we can maybe have one message that works for both situations like: `You must enter your default contact method corre

[2022-11-01 09:50] adeel0202 commented on #12314
@Puneet-here you should've waited for the `Help Wanted` label before posting your proposal.

[2022-11-01 10:05] thesahindia commented on #8455
Correct.

@thesahindia suggests we refactor the page. Sahil, can you expand on this, I'm not the most well-versed on refactors.

I am suggesting that we should refactor this page to use our `Form` component. We have refactored most of the pages to use `Form`.
The issue at OP was that we submit the form on pressing enter at password field even when the button is disabled. But according to the guide

[2022-11-01 10:05] gadhiyamanan commented on #11488
**Updated Proposal**

We have to add `width` or `flex` to `<Text>` component to wrap content when Text is too long
in our case `flex` is more suitable

Replace style={styles.mutedTextLabel} with style={[styles.mutedTextLabel, styles.flex1]}

https://github.com/Expensify/App/blob/38b1d8477115094299d8584768fd4694170234a4/src/pages/ReimbursementAccount/BankAccountStep.js#L145-L147

[2022-11-01 10:09] parasharrajat commented on #9408
This issue is still awaiting decision.

[2022-11-01 10:10] gadhiyamanan commented on #11488
Thanks for suggestion.
There is some code refactoring recently so i just updated line numers.

[2022-11-01 10:15] Julesssss commented on #12308
This was [unreproducible yesterday](https://expensify.slack.com/archives/C03TQ48KC/p1667237200981549?thread_ts=1667236200.518079&cid=C03TQ48KC), so there are possibly other required account configurations that cause this issue.

Until we can reliably reproduce this I don't thin it should be made external yet.

[2022-11-01 10:17] parasharrajat commented on #11810
@MonilBhavsar Are we fine with package `url`? https://github.com/Expensify/App/issues/11810#issuecomment-1298209880
![image](https://user-images.githubusercontent.com/24370807/199211556-eee881ee-2994-4475-b145-bef1d570827b.png)

[2022-11-01 10:18] pecanoro commented on #9818
We have one already that shows a generic message:

<img width="554" alt="Add FullPageNotFoundView by arosiclair · Pull Request #9649 · Expensify:App 2022-11-01 11-17-11" src="https://user-images.githubusercontent.com/6474442/199211770-fb03b15f-ea7c-484e-9a21-aa7fd7598ad8.png">

[2022-11-01 10:19] parasharrajat commented on #11229
Ok, Thanks for clarifying.

[2022-11-01 10:22] parasharrajat commented on #8311
@b1tjoy both links are referring to same comment.

[2022-11-01 10:40] Tushu17 commented on #11410
Reporting compensation is pending here.
cc- @shawnborton @bondydaa

[2022-11-01 10:45] youssef-lr commented on #12205
I can reproduce this. This is most likely an issue coming from the server, I will investigate this more when I'm done with an API refactor.

[2022-11-01 10:46] Julesssss commented on #10202
Thanks @Santhosh-Sellavel. Yeah I agree. While the initial solution sounded good, the issue clearly requires more investigation.

[2022-11-01 10:48] Puneet-here commented on #12269
@slafortune, It is reproducible. Can you keep the browser at full width and paste the text given below

af;jalskf;slf;jsaf;ljasf;ksjldf;saf;jasdjkf;sdjlf;sjf;skjdf;slkjf;slf;jskf;djskf;slkf;jslkf;jslf;kjaslf;jaskf;jsalf;jslkf;jslkdf;jslkf;jslkdf;jslkf;jsldf;kj
consequat nisl vel pretiumAdipiscing elit pellentesque habitant morbi tristique senectus et. Porttitor leo a diam sollicitudin tempor. Nibh

[2022-11-01 10:53] Puneet-here commented on #12314
@adeel0202, proposals can be posted any time after the issue gets created. Please refer [here](https://github.com/Expensify/App/issues/10990#issuecomment-1249790443).

[2022-11-01 11:04] thesahindia commented on #11874
Hey @MonilBhavsar, can we assign a CM for C+ compensation (for reviewing https://github.com/Expensify/App/pull/11959).

[2022-11-01 11:18] vladamx commented on #12234
@davidcardoza I think you've mistakenly put 20 000$ instead of 250$ in the job description?

[2022-11-01 11:36] parasharrajat commented on #11229
@aimane-chnaif  It seems a lot has changed since your proposal. Can you please update your proposal according to the latest code on the main?

[2022-11-01 11:38] parasharrajat commented on #12234
Oh lol, Lucky mistake...

[2022-11-01 11:41] sonialiap commented on #12284
@mallenexpensify could I get your eyes on this for a second opinion? Do you know if this is intended behavior or a bug? Doesn't seem like a big issue to me so not sure if we should close this one or triage (I confirmed I can reproduce the steps).

[2022-11-01 11:42] sobitneupane commented on #12120
@0xmiroslav Your proposal's first step is enough to solve the issue mentioned in issue description. But we must make sure that it does not cause any regression as suggested change will effect all html to markdown translations.

Your proposal's second step does not completely solves the issue that you are mentioning. It is retaining the new line when html is converted to markdown but not the opposi

[2022-11-01 11:47] Julesssss commented on #12312
I'm narrowing down the branch before reverting, as I want to be 100% sure.:

**Nexus 5X, Android 8.1**
- Production: not occurring ❌
- Staging: occurring ✅
- #11907: occurring ✅  <-- seems to have introduced the regression

[2022-11-01 11:48] NicMendonca commented on #8236
Doubled price: https://www.upwork.com/jobs/~01431147666a4d1359

[2022-11-01 11:57] Julesssss commented on #12305
I'm looking into this after reverting the issue that introduced a regression 👍

[2022-11-01 12:03] kbecciv opened #12335 "Web -Chat - The welcome message and error message are not scaled correctly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12150

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
an

[2022-11-01 12:12] vladamx commented on #12234
PR is up

[2022-11-01 12:13] trjExpensify commented on #10202
Okay, the job is on Upwork [here](https://www.upwork.com/jobs/~01b7d0ca259c9797ca). Doubled to $500, and the `Help wanted` label has been re-added.

@liyamahendra, if you want to submit a new viable proposal here that will fix the issue on all platforms after further investigation, please feel free to do so.

For everyone else, the latest TL;DR on where we're up to can be found [here](https://gith

[2022-11-01 12:15] laurenreidexpensify commented on #12325
https://www.upwork.com/jobs/~01ee82e558b5ff525a

[2022-11-01 12:16] miljakljajic commented on #12327
hey Aldo - I'm just going through your steps to try and reproduce, what does this mean?

How do I go offline on a specific browser window?

[2022-11-01 12:19] zanyrenney commented on #12308
Thanks @Julesssss

[2022-11-01 12:22] Julesssss commented on #12308
@Expensify/applauseleads would you mind sending testing again and on other platforms so we can get an idea of how often this occurs? Thanks in advance

[2022-11-01 12:25] laurenreidexpensify commented on #11241
price doubled

[2022-11-01 12:29] laurenreidexpensify commented on #11341
I like having one message.

`Please enter your default contact method to close your account.`

It strikes me as weird that we refer to it as contact method instead of email, but I guess that's to account for mobile sign in?

[2022-11-01 12:30] kavimuru commented on #12081
@srikarparsi I can't check in Dev. So I added `Needs reproduction` label. @mdneyazahmad has to answer for the clarification.

[2022-11-01 12:35] kavimuru commented on #12318
@stephanieelliott will check with the same tester and update you.

[2022-11-01 12:35] isabelastisser commented on #12267
I didn't find time to work on this yesterday, will take care of this by EOD.

[2022-11-01 12:38] kavimuru commented on #12152
@MitchExpensify I can't check Dev only issue. So I added `Needs reproduction` label. @aimane-chnaif can clarify your question.

[2022-11-01 12:39] puneetlath commented on #11300
All paid. Thanks everyone!

[2022-11-01 12:39] #11300 closed

[2022-11-01 12:43] parasharrajat commented on #10262
Reviewing...

[2022-11-01 12:43] Julesssss commented on #12281
@tylerkaraszewski we removed this as a deploy blocker as it wasn't always reproducible. Personally, I think we should ask Applause to retest.

[2022-11-01 12:46] kavimuru commented on #11845
@chiragsalian I have edited the steps, as per this new issue.

[2022-11-01 12:51] trjExpensify commented on #12327
I typically use like web/mobile, but you can open the JS console in the incognito browser > Network tab > then next to the wifi symbol switch the dropdown to `Offline` to follow the steps here:

<img width="1511" alt="image" src="https://user-images.githubusercontent.com/16232057/199236106-1a7424d5-9019-41fa-bb2e-d76424a9414f.png">

[2022-11-01 12:58] Julesssss commented on #12312
[THis PR](https://github.com/Expensify/App/pull/12336) reverts the PR that introduced this.

[2022-11-01 13:04] dylanexpensify commented on #12314
Upwork: https://www.upwork.com/jobs/~01b305b99cbec3f000

[2022-11-01 13:24] StefanNemeth commented on #12314
I'd like to work on it. Should be quite straightforward to change by adding a space when replacing the emojis in EmojiUtils. It might make sense to not do it in case the text is pasted in as this might cause unwanted spaces.

[2022-11-01 13:26] #12312 closed

[2022-11-01 13:30] sobitneupane commented on #11863
Sorry I missed it last week.

I was able to reproduce this issue is IOS simulator with the account: applausetester+0704sveta@applause.expensifail.com, pass: w323052760We

@Uros787 You are proposing to make use of logic used in search page. But search page is almost unusable with the above account for me. It took a long time to update the search page.

[2022-11-01 13:34] Puneet-here commented on #11341
I also vote to use 1 message

[2022-11-01 13:34] kavimuru commented on #12318
@stephanieelliott Tester is able to reproduce still.

https://user-images.githubusercontent.com/43996225/199245943-a5015b25-0694-4a88-a4d1-684254e0bcc3.mp4

[2022-11-01 13:36] mdneyazahmad commented on #12081
There is also an interesting similar issue. In this case the image attachment appears before the beginning of the message.

<img width="1202" alt="Screenshot 2022-10-31 at 10 40 11 AM" src="https://user-images.githubusercontent.com/77761491/199246103-0dbc0763-285c-40e5-abac-25e147413194.png">

But after I cleared the site data. Everything comes back to normal. So, it is not reproducible now.

[2022-11-01 13:38] Julesssss commented on #12305
Checking off #12312, as the tests in #12336 will confirm the regression is resolved

[2022-11-01 13:38] Beamanator commented on #10894
Ya I think all 4 @mallenexpensify - the top one is just about the zoom feature, so probably doesn't need to wait on anything

[2022-11-01 13:56] kavimuru opened #12339 "[HOLD for payment 2023-03-06] [$1000] [Feature Request] Workspace - Unable to search for a member to remove them from a workspace."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot
2. Go to workspace with several members

## Expected Result:
There should be a search field to search for a partic

[2022-11-01 13:58] OleksiiBieliaievDev commented on #12234
To resolve this problem I would integrate a splash screen inside of the root div in index.html      <div id="root">    </div>. (“./web/index.html”)
That gives us a possibility to replace our splash screen with our app after our bundle has been loaded.

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/117184445/199250477-2bf99de7-3212-4581-ba68-05f76d337f4e.png">

[2022-11-01 14:03] OSBotify commented on #12305
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.22-2 has been deployed to staging :tada:

[2022-11-01 14:05] officialksolomon commented on #12314
MY PROPOSAL FOR
[$250] Space is not added after rendering emoji via text reported by @adeel0202 #12314 @dylanexpensify

Situation: Space is not added after rendering emoji via text.

Solution: Use regular expression to detect emoji inputs, separate emojis from normal text and perform necessary string manipulation to add space to the beginning of the separated text.

Steps:
1. Create a function tha

[2022-11-01 14:06] puneetlath commented on #11595
This was deployed to production yesterday.

[2022-11-01 14:06] #11595 closed

[2022-11-01 14:07] puneetlath commented on #11204
Were we able to get the payment situation figured out?

[2022-11-01 14:08] kavimuru opened #12340 "[HOLD for payment 2022-11-18] [$250] Workspace - No scroll bar to navigate a long list of members"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot
2. Go to workspace > Manage members

## Expected Result:
There should be a scroll bar to navigate to a member

##

[2022-11-01 14:08] arielgreen commented on #11092
Still on hold cc @puneetlath correct?

[2022-11-01 14:08] mountiny commented on #12305
⏫ @Expensify/applauseleads can you please retest this one deploy blocker? https://github.com/Expensify/App/issues/12312 Thanks

[2022-11-01 14:11] puneetlath commented on #11092
Yes, still on hold. Feel free to assign any navigation issues over to me and @JmillsExpensify.

[2022-11-01 14:27] VolodymyrBarybinDev commented on #12234
Proposal:
1. To use the :empty pseudo-class
The spinner will be visible, as long as nothing is rendered into the container. As soon as react renders something other than comment, the loader will disappear.
2. Pass splashScreen "handlers" as props
To create two functions `showSplashScreen` and `hideSplashScreen`, and pass them to the root container via props. The functions can manipulate the DOM, o

[2022-11-01 14:41] parasharrajat commented on #11204
I have accepted the offer.

[2022-11-01 14:44] johnmlee101 commented on #12324
Hmm what do we expect out of long-pressing the send button? I'm guessing we should send like it was a press?

[2022-11-01 14:53] tgolen commented on #10905
@jliexpensify let's move that convo over to #11586.

[2022-11-01 14:55] tgolen commented on #10905
As far as this issue is concerned, I think it basically totally reset when I took it off hold. We need a $1000 job created in UpWork and hire @aimane-chnaif for the proposal they gave right above this.

[2022-11-01 14:58] NicMendonca commented on #11204
@parasharrajat paid! Thanks!

[2022-11-01 14:58] #11204 closed

[2022-11-01 15:00] luacmartins commented on #12244
@sakluger when do we usually create the Upwork job for an issue?

[2022-11-01 15:05] tgolen commented on #12141
I guess that would be another solution to it as well. I see right now we are replacing that text on the string `$sanitizedComment.' '.$attachmentHTML;`. If we only did the replacement on the `$attachmentHTML` string, then it would essentially do what you are suggesting.

[2022-11-01 15:11] JmillsExpensify commented on #12292
Issue is reproducible. Thanks for the clear testing steps.

![Screenshot 2022-11-01 at 09 10 41](https://user-images.githubusercontent.com/1127863/199267217-6c54cae4-74f3-44b0-b4f0-4bc47c80dd8d.png)

[2022-11-01 15:12] shawnborton commented on #11341
Same, 1 message sounds good to me too.

[2022-11-01 15:12] kbecciv commented on #11153
@ctkochan22 Checking with a team, will update you shortly.

[2022-11-01 15:16] kbecciv commented on #12242
I don't think so.

[2022-11-01 15:18] Beamanator commented on #11341
Awesome, @Puneet-here are you good to move forward with the PR?

[2022-11-01 15:30] melvin-bot[bot] opened #12341 "[HOLD Web-E #213711] Investigate: 💥 Crash 💥 `.scheduleUpdateOnFiber`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.
### `address at index.

[2022-11-01 15:42] srikarparsi commented on #9408
yup, this is a lot better, thank you @dhairyasenjaliya and @parasharrajat

[2022-11-01 15:45] Puneet-here commented on #11341
Just need the Spanish copy.

[2022-11-01 15:54] neil-marcellini commented on #12314
This is a feature not a bug. The implementation comes from [this commit](https://github.com/Expensify/App/commit/8541cc4b33de93c6581f842db2be6a20089725f8) from [this PR](https://github.com/Expensify/App/pull/11161) to implement [this feature request issue](https://github.com/Expensify/App/issues/11100).

https://github.com/Expensify/App/blob/064eeea9e36bc4cb8cacb3b92ad02acf8ea6b35d/src/pages/home/

[2022-11-01 15:58] arielgreen commented on #10888
[Awaiting changes](https://github.com/Expensify/App/pull/12031#issuecomment-1298593885)

[2022-11-01 15:59] arielgreen commented on #12145
@Santhosh-Sellavel we are now keeping E/App issues as daily

[2022-11-01 16:00] arielgreen commented on #8592
@MonilBhavsar heads up we are now keeping E/App issues as daily

[2022-11-01 16:00] arielgreen commented on #11048
@thesahindia we are now keeping E/App issues as daily

[2022-11-01 16:02] thesahindia commented on #11800
@mollfpr, it looks good to me just wanted to know do we really need to check `!this.props.report.pendingFields` ?

[2022-11-01 16:08] Beamanator commented on #11341
Cool I believe you can request that in #expensify-open-source

[2022-11-01 16:11] neil-marcellini commented on #10824
Awesome @mollfpr, thanks for detailing those steps. I like your proposal outline here https://github.com/Expensify/App/issues/10824#issuecomment-1298176088. It fixes the issue in a simple way that makes sense; the PDF container should be focusable. I also noticed that keyboard navigation via the tab button works well with this solution, which is important for accessibility.

What do you think abou

[2022-11-01 16:12] Beamanator commented on #10830
Hmm haven't heard anything in a while, @mvtglobally would you mind having your team try to reproduce this again this week?

[2022-11-01 16:13] mollfpr commented on #11800
@thesahindia For the report that was already created doesn't have `pendingFields` or has `pendingFields` but not with the `addWorkspaceRoom`. So I guess we need that.

[2022-11-01 16:14] alexpensify commented on #11825
Thanks for the update!

[2022-11-01 16:16] neil-marcellini commented on #11707
What do you mean? Where is the github comment for the proposal? No one should be hired on upwork until the proposal is approved by C+ and CME here. Also why isn't there a C+ on this issue? Oh I see that @techievivek unassigned him, why? I will add the C+ back to this issue so we can continue with the #bug-zero process outline in [this SO](https://stackoverflow.com/c/expensify/questions/14418).

[2022-11-01 16:19] neil-marcellini commented on #12314
Oh ok, thanks for clearing that up @adeel0202! You are right, I'll try to read more carefully next time.

[2022-11-01 16:20] deetergp commented on #11697
Please correct me if I am wrong, but I believe we are still awaiting updated proposals for this one.

[2022-11-01 16:20] Julesssss commented on #12305
Hey @Expensify/applauseleads, I just cherry-picked a fix for the failed iOS build and it should appear soon 🤞

[2022-11-01 16:23] mvtglobally commented on #12305
Great @Julesssss we will resume as soon as build is out

[2022-11-01 16:24] marcaaron commented on #12290
Looks new to me and agree it can be it's own bug I think.

Separately, whoever fixes our link parser should also add a unit test for this.

[2022-11-01 16:27] marcochavezf commented on #11966
Changing to `Weekly`. Waiting for proposals

[2022-11-01 16:28] OSBotify commented on #12305
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12342) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.22-3` :rocket:

[2022-11-01 16:28] parasharrajat commented on #12290
Looks like we never supported protocols other than HTTP.
![image](https://user-images.githubusercontent.com/24370807/199285593-f15cc49e-507c-4b7d-9d52-646903927d9e.png)

[2022-11-01 16:31] parasharrajat commented on #7375
Analysing the latest code and my solution now.

[2022-11-01 16:32] lschurr commented on #12290
Posted job:
https://www.upwork.com/ab/applicants/1587482663583879168/job-details
https://www.upwork.com/jobs/~01e8c596a397abd681

[2022-11-01 16:34] parasharrajat commented on #10107
Definitely, Looking at the new comments and code samples now.

[2022-11-01 16:41] neil-marcellini commented on #12314
At first glance I like @Puneet-here's proposal https://github.com/Expensify/App/issues/12314#issuecomment-1297727461, but @adeel0202 brings up a good point that it doesn't work properly when pasting in text with emojis.

When I type `:apple:` in the composer box it should replace that with an apple and a space following it, e.x "🍎 ", so that I can keep typing with ease. However, if I past in some

[2022-11-01 16:45] syedsaroshfarrukhdot commented on #12340
**Proposal**

If we need to add Vertical Scroll Bar In Manage Members We Need To Set showsVerticalScrollIndicator={true} in FlatList

https://github.com/Expensify/App/blob/151ec1ad3355cfa162ad490030f19a7134bbc076/src/pages/workspace/WorkspaceMembersPage.js#L315

After Fix :-

https://user-images.githubusercontent.com/81307212/199288734-f8d29bd5-821b-41b7-9004-35308171c7cd.mov

[2022-11-01 16:54] JmillsExpensify commented on #8503
Removing this from WAQ in light of [this discussion](https://expensify.slack.com/archives/C01GTK53T8Q/p1667276974060859). We'll continue to work on this outside of the immediate product roadmap though, for clarity.

[2022-11-01 16:56] Julesssss opened #12346 "Deprecate the old 'Create New Version' workflow"
### Problem

The 'Create New Version' workflow is deprecated, but still shows as an option in the sidebar of [the Actions page](https://github.com/Expensify/App/actions):

<img width="1078" alt="Screenshot 2022-11-01 at 14 18 26" src="https://user-images.githubusercontent.com/10736861/199290625-fd3f552a-78cd-4151-bb55-7927c140bc06.png">

This is confusing to those unfamiliar with our workflows, as

[2022-11-01 16:57] neil-marcellini commented on #10283
@johncschuster would you please make sure there's an upwork job posted?

[2022-11-01 17:00] kbecciv commented on #12308
@Julesssss Issue is reproduced on Web, mWeb/safari and mWeb/Chrome.
We are blocked to test on IOS and Android app due to KI

https://user-images.githubusercontent.com/93399543/199292290-366c3149-33a3-44b4-89dd-39176887f1c7.mp4

https://user-images.githubusercontent.com/93399543/199292298-51cd168d-ea3b-42bd-9e2d-5242a3714cdb.mp4

https://user-images.githubusercontent.com/93399543/199292310-1100dee0

[2022-11-01 17:03] Puneet-here commented on #11341
Actually I didn't ask at the slack because the in the checklist we have a checkbox about it. Pasting it here.
"verified any copy / text that was added to the app is correct English and approved by marketing by adding the Waiting for Copy label for a copy review on the original GH to get the correct copy."

[2022-11-01 17:04] kbecciv commented on #11153
Issue is not affect Android and IOS devices.

![IMG_A1C099681565-1](https://user-images.githubusercontent.com/93399543/199292972-418ef93a-6637-4602-81ba-8befe9c3cc2b.jpeg)
<img width="1223" alt="Screen Shot 2022-11-01 at 11 29 57 AM" src="https://user-images.githubusercontent.com/93399543/199292975-524e7597-de85-4394-8633-00dc50bbaab0.png">

https://user-images.githubusercontent.com/93399543/19929

[2022-11-01 17:06] tgolen commented on #12298
Sounds like a legit bug. Pushing this to `external` to get proposals for it.

[2022-11-01 17:08] gadhiyamanan commented on #12324
I think on long press we should send message as we are doing that in Android and iOS native https://user-images.githubusercontent.com/54790231/199293654-71111e46-05bf-4d1e-90db-31aeb387af25.mp4

[2022-11-01 17:20] kerupuksambel commented on #12290
Sorry for joining the discussion suddenly, but I think if we preferred some kind of hard-coded list about what to add, I think we can refer to [IANA's URI scheme](https://en.wikipedia.org/wiki/List_of_URI_schemes#Official_IANA-registered_schemes), along with additional [unofficial, but popular URI scheme](https://en.wikipedia.org/wiki/List_of_URI_schemes#Unofficial_but_common_URI_schemes) that cou

[2022-11-01 17:20] aldo-expensify commented on #12330
Thanks to @aimane-chnaif I have a good idea on how to fix this in the backend. Taking it internally.

[2022-11-01 17:29] adityamatt commented on #12318
Unable to reproduce the bug
![image](https://user-images.githubusercontent.com/33998232/199298723-925764f6-a9c6-4222-98d1-e4698744498d.png)

[2022-11-01 17:31] mallenexpensify commented on #8455
Aha.. @stitesExpensify you're the _lucky_ one?  Can you review @thesahindia 's comment above and provide feedback and suggest/confirm the best path forward?
https://github.com/Expensify/App/issues/8455#:~:text=commented-,7%20hours%20ago,-I%20think%20we

[2022-11-01 17:36] mallenexpensify commented on #12284
Good question...
I think it's intended behavior because it's necessary to click the 🟢 plus button first, which means you are intending to take action on 🟢 so the menu persists even when the screen is minimized.  I think I'd close. @kbecciv do you have any additional examples or context we should be considering?

[2022-11-01 17:36] marcochavezf commented on #12292
Yeah, the Paypal data is saved locally in Onyx so the issue should be in the NewDot codebase. I also believe that could be related to the latest refactors.

[2022-11-01 17:43] marcaaron opened #12348 "[Performance] LHNOptionsList renders unnecessarily when app starts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?

inefficient React component rendering

## What is the impact of this on end-users?

I suspect possibly

[2022-11-01 17:46] Santhosh-Sellavel commented on #10905
@tgolen
Just reviewed it works well on iPad & Tab. Workswell Android Tab Web also But iPad Safari alone seems to be sloppy as it was earlier.

https://user-images.githubusercontent.com/85645967/199301952-4b2dfca2-2d2c-4840-b243-15f451d8a81d.mp4

[2022-11-01 17:48] Santhosh-Sellavel commented on #10905
Seem the PR is already up for this one if we are good with the above let's assign this to @aimane-chnaif, thanks!

[2022-11-01 17:51] Puneet-here commented on #12314
### Updated proposal

Check the `emojiData.length`
[code]
https://github.com/Expensify/App/blob/2174ef50cd16fb3da074ef5dce880ac1653e7d23/src/libs/EmojiUtils.js#L201

[2022-11-01 17:52] JmillsExpensify commented on #12292
Ok cool! cc @vitHoracek did we introduce a regression with `PayIOU`?

[2022-11-01 17:52] JmillsExpensify commented on #12292
In the meantime, I think this is important to fix so I'm raised the starting price to $500. Upwork job is here: https://www.upwork.com/jobs/~013ae3656e861b31b5.

[2022-11-01 17:53] thienlnam commented on #12012
customUnit: null PR has been merged, closing this one out and https://github.com/Expensify/Expensify/issues/229696 will take care of the rest

[2022-11-01 17:53] #12012 closed

[2022-11-01 17:56] mallenexpensify commented on #8235
Taking this off hold per https://github.com/Expensify/App/issues/10894#issuecomment-1297788096
It's `Internal` gonna see if any snags soon then _promote_ if not.

[2022-11-01 17:59] chiragsalian commented on #9971
That's odd. We tested the red dot for the Workspaces in the settings menu. I guess we must've missed a scenario since I tested it against members error and not an individual workspace error. Thanks for the catch.

[2022-11-01 17:59] mallenexpensify commented on #10599
Off hold [per this comment ](https://github.com/Expensify/App/issues/10894#issuecomment-1297788096)and doubled price to $500
New Upwork job
https://www.upwork.com/jobs/~01dc978d09cea79af1

[2022-11-01 18:00] chiragsalian commented on #12327
Once the PR is merged let's remember to also add regressions steps for QA to test this flow since I've told them to test RBR on settings -> workspaces if there is a member error. So it will be nice if they add this flow as well to their regression testing.

[2022-11-01 18:03] slafortune commented on #11385
Doubled price!

[2022-11-01 18:08] mallenexpensify commented on #11063
Off hold[ per this comment](https://github.com/Expensify/App/issues/10894#issuecomment-1297788096).
Tis internal and assigned to Beaman so not much to do here meow

[2022-11-01 18:10] mallenexpensify commented on #10894
Updated all issues in the `Bugs (in progress - not on hold)` section and took off hold which is now reflected in the OP

[2022-11-01 18:11] mallenexpensify commented on #12242
K, thanks. I'm gonna close for now then

[2022-11-01 18:11] #12242 closed

[2022-11-01 18:18] thienlnam commented on #8126
This is holding on high level changes with our navigation implementation - https://github.com/Expensify/App/issues/11768

However, we're unsure if this will remain an issue after those changes.  We've spent a lot of time on this proposal and solution and so let's keep this issue open (on a monthly), and see where we're at after https://github.com/Expensify/App/issues/11768.  But either way we shou

[2022-11-01 18:18] mallenexpensify commented on #12335
I think I'm still unable to reproduce in Chrome, the error message _looks_ to be aligned properly
<img width="1263" alt="image" src="https://user-images.githubusercontent.com/22508304/199308466-aedc895a-42e5-4ed4-8252-1472d1704b88.png">

[2022-11-01 18:22] JmillsExpensify commented on #10729
@luacmartins @Santhosh-Sellavel mind prioritizing a review of the linked PR? Thank you!

[2022-11-01 18:22] thienlnam commented on #11866
@isagoico Yes the new 'You appear to be offline' screen is the expected behavior now, sorry for the confusion

[2022-11-01 18:23] JmillsExpensify commented on #10765
@Santhosh-Sellavel When you have a second, do you mind circling back and reviewing the linked PR? @ctkochan22 this one is ready for you as well!

[2022-11-01 18:27] JmillsExpensify commented on #10824
Awesome, as soon as @Santhosh-Sellavel is good with this direction, we can get @mollfpr assigned and hire via Upwork. I'm re-posting the job here since it's far up in the scroll and the previous link expired. https://www.upwork.com/jobs/~015f8ae228449711e2

[2022-11-01 18:27] Santhosh-Sellavel commented on #12145
From issue creation, we keep daily until the only external job is set up. Then it would be bumped to weekly until there is a proposal. If the proposal is added melvin adds it daily to prioritize reviewing. If no proposals over a week we would double on overdue, right?
 If that's changed please post any changes like this in the #contributor-plus channel thanks!

[2022-11-01 18:28] JmillsExpensify commented on #10875
@puneetlath This might make for a good discussion in the BZ meeting. We've capped crash investigations at $500 and we've largely been stuck for a couple of weeks now. Perhaps there is some logic on the number of crashes and wether we close these issues after X weeks?

[2022-11-01 18:28] jasperhuangg commented on #12237
Looks like a good candidate for the `External` label.

[2022-11-01 18:29] JmillsExpensify commented on #11111
Still blocked on clear next steps in the main tracking issue.

[2022-11-01 18:29] lschurr commented on #12298
Job posted:
https://www.upwork.com/ab/applicants/1587512114154676224/job-details
https://www.upwork.com/jobs/~01cdae73aeb040edd9

[2022-11-01 18:30] JmillsExpensify commented on #10939
Thanks, also still working on next steps in the tracking issue. We're still in a holding position until we sort that out.

[2022-11-01 18:30] JmillsExpensify commented on #11089
Alright, doubling the price again. We still lack proposals.

[2022-11-01 18:31] osama256 commented on #12028
### Proposal

Using drawer legacy Implementation will fix this issue and [this](https://github.com/Expensify/App/issues/11921) as well.

this issue happened because we were using `@react-navigation/drawer` version below `6.3.2`, in these versions the drawer use `useLegacyImplementation={true}` by default so we didn't notice this issue but in higher versions of `@react-navigation/drawer` the part o

[2022-11-01 18:32] puneetlath commented on #12245
@CortneyOfstad per the [new BugZero process](https://stackoverflow.com/c/expensify/questions/14418), you'll need to keep every `Bug` issue that gets assigned to you until it is closed.

I'm reassigning this issue to you. Given that Alex has deemed it Internal, you should check if you're able to reproduce it. If so, feel free to add the `Demolition` label to get an internal engineer assigned.

[2022-11-01 18:34] bulatgab commented on #10263
# Proposal (Android)
Hello everyone! The challenge looked exciting and I think I've worked out a solution using RN Native Components. This would be my first contribution to Expensify 🙂

https://user-images.githubusercontent.com/18130716/199310990-f289f161-a275-4c26-a66a-dce171466d13.mp4

## Problem
RN TextInput doesn't expose API for overriding the 'paste' events. It has to be done on the native s

[2022-11-01 18:35] puneetlath commented on #7942
I'm going to close this. We have plenty of bugs to focus on and it seems there isn't agreement here. Feel free to reopen if you disagree.

[2022-11-01 18:35] #7942 closed

[2022-11-01 18:37] thesahindia commented on #11800
@mollfpr's [proposal](https://github.com/Expensify/App/issues/11800#issuecomment-1296259755) looks good to me

C+ reviewed 🎀👀🎀

@dangrous, please share your thoughts.

[2022-11-01 18:39] neil-marcellini commented on #12143
I confirmed that I can still reproduce the issue on staging. Now I'll reproduce it on dev and work on a solution.

[2022-11-01 18:41] trjExpensify commented on #12028
Hey @osama256, looks promising! Can you type something in the compose box to illustrate the fix as per the repro steps in the OP? Thanks!

[2022-11-01 18:42] cokacode commented on #11650
don't you guys have something to close these issues? its already solved, why is this still open?

[2022-11-01 18:44] JmillsExpensify commented on #11092
Yes, thanks! Updated the [Hold] for clarity and also linked this issue to the main tracking initiative.

[2022-11-01 18:46] JmillsExpensify commented on #11768
I posted about this in Slack today, but I'm also kind of thinking that we still don't have any great leads. It sounds like Margelo can likely help – and today is a holiday in Poland – so perhaps let's wait one more day for extra clarity.

[2022-11-01 18:47] Santhosh-Sellavel commented on #10263
Welcome @bulatgab
Please check out our [readme](https://github.com/Expensify/App#readme) to get familiar with our repo and also our[ contributing guidelines](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) to understand our process.

[2022-11-01 18:47] osama256 commented on #11921
@abekkala Sorry for the delay, I agree with @sobitneupane [this solution](https://github.com/Expensify/App/issues/11921#issuecomment-1288531628) is a temporary solution.

The reason of this issue is we are using `@react-navigation/drawer` version higher than `6.3.1`, if you downgrade to `6.3.1` or below you won't see this issue, in these versions the drawer use legacy implementation `useLegacyImpl

[2022-11-01 18:48] joekaufmanexpensify commented on #11850
We seemed to have reached a consensus in Slack. Summarizing the discussion there before updating the issue.

[2022-11-01 18:48] joekaufmanexpensify commented on #11916
awaiting proposals.

[2022-11-01 18:50] JmillsExpensify commented on #11277
Alright cool. Given how many issues we have related to the keyboard, I'm going to start this issue at $500.

[2022-11-01 18:51] JmillsExpensify commented on #11277
Upwork job is here: https://www.upwork.com/jobs/~0164d0286c2126643f. All proposals welcome!

[2022-11-01 18:52] JmillsExpensify commented on #11320
Don't see any regressions at this point, so I will circle back tomorrow for payment.

[2022-11-01 18:53] JmillsExpensify commented on #11372
Still holding on the linked initiative. Also commented there to align on game plan and next steps.

[2022-11-01 18:53] Santhosh-Sellavel commented on #10263
On a quick look seems you are proposing only changes for Android we need a comprehensive solution for all platforms.

[2022-11-01 18:53] JmillsExpensify commented on #11391
@tgolen Let's take this one off hold right?

[2022-11-01 18:53] JmillsExpensify commented on #11420
Still holding on the linked initiative. Also commented there to align on game plan and next steps.

[2022-11-01 18:54] JmillsExpensify commented on #11453
Still holding on the linked initiative. Also commented there to align on game plan and next steps.

[2022-11-01 18:54] osama256 commented on #12028
@trjExpensify Sure.

https://user-images.githubusercontent.com/51829206/199314486-58a67380-d467-4ff8-87ce-045278f783a1.mp4

[2022-11-01 18:55] JmillsExpensify commented on #11458
Removed the hold on the last remaining PR.

[2022-11-01 18:55] JmillsExpensify commented on #11652
No regressions at this point, so tomorrow I'll circle back on payment.

[2022-11-01 18:56] JmillsExpensify commented on #11709
No regressions at this point so tomorrow I'll circle back on payment.

[2022-11-01 18:56] bfitzexpensify commented on #12295
Closing after discussing in https://expensify.slack.com/archives/C01GTK53T8Q/p1667171527208099

[2022-11-01 18:56] #12295 closed

[2022-11-01 18:57] cokacode commented on #12325
this should have been closed by now, the proposal @hungvu193 has provided works.

[2022-11-01 18:59] JmillsExpensify commented on #11726
Awesome, thanks a bunch @marcaaron for keeping this moving while I was out. The main point of clarity for me is whether the linked Draft PR solves both issues [you identified here](https://github.com/Expensify/App/issues/11726#issuecomment-1292708690)?

[2022-11-01 19:00] melvin-bot[bot] opened #12352 "[$250] Investigate: 💥 Crash 💥 `Za`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: JavaScriptError
### Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.
### `main.jsbundle:51:79371 line 51` `Za`
### Number of

[2022-11-01 19:01] thesahindia commented on #12028
@osama256, I am getting error when testing this
<img width="349" alt="Screenshot 2022-11-02 at 12 31 10 AM" src="https://user-images.githubusercontent.com/83179295/199316473-b904b78c-aadf-40bc-bdac-b774bc5d25cb.png">

[2022-11-01 19:03] JmillsExpensify commented on #11809
@shawnborton Great point of clarification. It's basically this.

This is all super subtle.

[2022-11-01 19:03] marcaaron commented on #11726
Yes it will! Writing up test steps now and will have an update soon.

[2022-11-01 19:04] JmillsExpensify commented on #11854
@Beamanator Before I raise the price of this again, I kind of think this is an image bug that fits within the scope of your project. What do you think?

[2022-11-01 19:10] srikarparsi commented on #12081
cool, closing the issue for now. Please reopen if you're able to reproduce it later.

[2022-11-01 19:10] #12081 closed

[2022-11-01 19:11] Santhosh-Sellavel commented on #10824
Looks good, If I am understanding correctly.

After the proposal, the pdf Container is now focusable using tab navigation. Either after focusing on the pdf view using Tab or Tap/click, it will scrollable using the up & down arrow right?

@neil-marcellini @mollfpr

[2022-11-01 19:19] aldo-expensify commented on #11807
I'm working on this, but got blocked by a bug in the backend: https://github.com/Expensify/App/issues/12330

I'll finish the PR https://github.com/Expensify/App/pull/12129 and put in on hold on the backend fix: https://github.com/Expensify/Web-Expensify/pull/35386

[2022-11-01 19:21] shawnborton commented on #11809
Got it. I mean yeah, ideally this would all be consistent and feel silky smooth (IOU animations feel janky on desktop at least).

[2022-11-01 19:39] Puneet-here commented on #10772
@marcaaron, can you check the above comment I have explained the issue.

[2022-11-01 19:44] osama256 commented on #12028
Ops, i was testing on `@react-navigation/drawer`version `6.3.2` it has the same issue but it seems it using a lower version of `react-native-reanimated`.

This is so interesting, in `@react-navigation/drawer` below `6.3.2` `useLegacyImplementation` is always true, but in the current version `useLegacyImplementation` is always false because they are using a higher version of `react-native-reanimate

[2022-11-01 19:47] chiragsalian commented on #11845
Sounds good. I'm like 90% sure the problem is front end and it might be an issue with how PersistedRequests and reconnectApp works. Either way, adding the appropriate labels for people to investigate.

[2022-11-01 19:48] JmillsExpensify commented on #11809
100%. Where I struggle is whether we do anything now or re-evaluate once N7 hits. Maybe we just bite the bullet and tackle this now along with all the other bugs. Hmm, yeah that sounds the most logical. Agreed?

[2022-11-01 19:48] JmillsExpensify commented on #11726
Ok awesome, thanks!

[2022-11-01 19:51] salahawk commented on #11277
I just checked this job description on Upwork carefully and it seems like we should change the layout of that page.

[2022-11-01 19:54] JmillsExpensify commented on #11773
For what it's worth, we are rounding out that functionality now. cc @Luke9389 since I recently re-opened the issues for invite/leave.

[2022-11-01 19:56] JmillsExpensify commented on #12327
+1000. Should we proactively open that issue back up?

[2022-11-01 19:59] marcaaron opened #12353 "Implement Electron crash reporter"
# Problem

Coming from [Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1667330416512169).

Desktop / Electron crashes happen at some frequency unknown to us. We get anecdotal reports from people that the desktop app has crashed. But no clear indication about what is going on when the crash happens. The crash reports generated are not always useful and sometimes difficult to interpret. We

[2022-11-01 20:03] fedirjh commented on #11486
hey there @sobitneupane

it's on Firefox too , you can reproduce with this URL test : https://www.expensify.com/inbox?policyIDD189E4B5582EAE8DtaskIDAddWorkEmailpolicyIDD189E4B5582EAE8D&taskIDAddWorkEmailpolicyIDD189E4B5582EAE8DtaskIDAddWorkEmailpolicyID=D189E4B5582EAE8DtaskIDAddWorkEmailpolicyID189E4B5582EAE8DtaskIDAddWorkEmailpolicyIDD189E4B5582EAE8DtaskIDAddWorkEmailpolicyIDD189E4B5582EAE8DtaskI

[2022-11-01 20:03] JmillsExpensify commented on #11410
I'll handle that, one second.

[2022-11-01 20:04] JmillsExpensify commented on #11410
Upwork issue is here for reporting: https://www.upwork.com/jobs/~01fce977f1f5d66b7a. Please apply and I'll issue payment.