[2022-11-11 19:25] Beamanator commented on #12603
@thomas-coldwell & I have been chatting a bit about this issue, @kidroca do you know if this fix would also work if we used `react-native-fast-image` in Web / desktop code? a.k.a. do you think `react-native-web` would treat Image components from `react-native` similar to the Image component from `react-native-fast-image`?

Wondering b/c we think would be nice to use `react-native-fast-image` every

[2022-11-11 19:26] marcaaron commented on #7420
Related Auth PR has been merged. Wrote some integration tests for the Web-E PR (still on HOLD waiting for Auth deploy).

[2022-11-11 19:30] rushatgabhane opened #12685 "Clicking on context menu item does nothing."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This is a soon to be deploy blocker.

## Action Performed:

On `main` only (so far)

1. Go to a chat
2. Hover over a message
3. Click copy link

## Ex

[2022-11-11 19:33] parasharrajat commented on #11914
Ok, so you are saying that input should be grayed out in below image. I got confused but the expected and actual result as well as https://github.com/Expensify/App/issues/11914#issuecomment-1285884724
![image](https://user-images.githubusercontent.com/24370807/201416485-0bacd205-069f-4c47-8faf-cdfde77bb96a.png)

[2022-11-11 19:33] Beamanator commented on #12616
Let's see if we can get a video of what this could look! Too many spinners drives me a bit crazy 😅

[2022-11-11 19:33] aldo-expensify commented on #10599
Having a look at this issue again, I'm not really convince about doing anything... why do we think there shouldn't be a blue frame if the focus is in the avatar? it is an input after all. If you tab around that page and press enter when the blue frame appears in the avatar, you get the modal to upload a new picture, which makes 100% sense to me. If we remove the blue frame, how would the user know

[2022-11-11 19:38] stitesExpensify commented on #7968
It would if you have something highlighted though, right?

[2022-11-11 19:42] kevinksullivan commented on #12246
Doubling price

[2022-11-11 19:42] parasharrajat commented on #7375
Oh Shoot, the expected behavior is wrong.

https://user-images.githubusercontent.com/24370807/201417380-ca5a0d73-2ff6-4804-b382-9b245f4c1c9e.mp4

A long time ago, we decided that the native app on tablet or ipad should show menus like on web | desktop. No Full width menus.

@Julesssss Can you please confirm this?

[2022-11-11 19:44] JmillsExpensify commented on #11795
Regarding that issue immediately above, I think we have lots of issues around optionList, the starting point of which is [this issue](https://github.com/Expensify/Expensify/issues/228943). At some point, we might want to create a tracking for that specific initiative.

[2022-11-11 19:48] AndrewGable commented on #11711
Maybe a more refined proposal would be:
1. Run any long running tests after merge in the "Process new code merged to main" workflow
2. When the perf tests finish, add a comment to the PR mentioning the results
3. If there is a regression found ("Significant Changes To Duration") then add the deploy blocker label to the PR with a comment like "There was a performance regression found on this PR, pl

[2022-11-11 19:50] s77rt commented on #11970
I can't reproduce, maybe it's fixed already?

[2022-11-11 19:53] JmillsExpensify commented on #11701
Thanks for the response. A quick heads up that @tgolen is out of office until next week, though for the sake of clarity, we do require that for a proposal to be accepted, it has to follow [our guidelines](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#propose-a-solution-for-the-job). Here's an [example of a proposal](https://github.com/Expensify/App/issues/11236#issu

[2022-11-11 19:55] kbecciv commented on #12685
QA team is reported in there end as well.

https://user-images.githubusercontent.com/93399543/201421920-b10394dd-4f40-4d30-9dbb-e671b0f21ec8.mp4

[2022-11-11 19:56] JmillsExpensify commented on #10599
Great point. I agree with you.

[2022-11-11 19:59] JmillsExpensify commented on #11914
Yes, exactly.

@neil-marcellini Are you saying that the notification preferences (first input) should be greyed out? I would have thought that's Pattern A (no failure case offline), but maybe there's a case you have in mind.

[2022-11-11 20:00] JmillsExpensify commented on #7420
Not sure why I'm subscribed to this issue haha, but just noticed we need to create an Upwork job for the reporting bonus.

[2022-11-11 20:00] s77rt commented on #12554
https://user-images.githubusercontent.com/16493223/201422554-0865b0e8-7831-42ca-b6ff-fbe69479b868.mp4

[2022-11-11 20:04] aldo-expensify commented on #10599
Great, closing then :)

[2022-11-11 20:04] #10599 closed

[2022-11-11 20:05] roryabraham commented on #11711
Sounds good @AndrewGable, but can we please make sure that, unlike [these post-merge test and lint jobs](https://github.com/Expensify/App/blob/e74400679f70a2da46e2f07d5e0449e6b6775852/.github/workflows/preDeploy.yml#L8-L12) we already have, the long-running tests do not block the deploy until they finish? i.e: assume that PRs do not introduce a performance regression, deploy them to staging, and t

[2022-11-11 20:11] kbecciv commented on #12685
Thank you @rushatgabhane Going to do that now

[2022-11-11 20:15] getusha commented on #12685
@rushatgabhane  Unable to reproduce after applying the fix.

[2022-11-11 20:18] kbecciv opened #12687 "Chat- Unable to select any option in mini content, the menu moves up when trying to hover over it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12606

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with

[2022-11-11 20:19] OSBotify commented on #12687
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-11 20:22] parasharrajat commented on #12554
is it Safari?

[2022-11-11 20:24] thesahindia commented on #12431
@arielgreen, I think we can close this issue. I have started the discussion [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1668177379952499?thread_ts=1668177379.952499&cid=C02NK2DQWUX)

[2022-11-11 20:25] parasharrajat commented on #12542
I dunno what's causing this bug. Let me do some digging first.

[2022-11-11 20:27] thienlnam commented on #12687
This bug is kind of funny 😆 the escaping menu

[2022-11-11 20:27] JmillsExpensify commented on #11429
Thanks Melvin, though we're still on hold as noted above. Adding the weekly label instead.

[2022-11-11 20:28] JmillsExpensify commented on #11420
Thanks Melvin, but this is on hold. Switched out daily for weekly.

[2022-11-11 20:28] getusha commented on #12685
[Screencast from 11-11-2022 11:25:04 PM.webm](https://user-images.githubusercontent.com/75031127/201426115-637852f9-1ef0-4adc-a4ec-dc5ca78a8499.webm)

[2022-11-11 20:29] JmillsExpensify commented on #11111
Yes, but this is on hold Melvin. Switching out daily for weekly.

[2022-11-11 20:31] JmillsExpensify commented on #12635
@Santhosh-Sellavel thoughts on this latest proposal?

[2022-11-11 20:40] s77rt commented on #12554
Yes, version 16. Other browsers are effected too and this is expected since we removed the tabindex attr in the proposed solution.
Can you retest on your side?

[2022-11-11 20:45] JmillsExpensify commented on #12578
Circling back on this, I wasn't able to find any cursor issues that approximated this one. There were actually only three in the repo. I'm going to update the title accordingly.

[2022-11-11 20:46] stitesExpensify commented on #12521
Hi @Santhosh-Sellavel can you please check out @s77rt 's proposal?

[2022-11-11 20:47] JmillsExpensify commented on #12578
Now that I'm acting on the above, @cristipaval do you mind sharing the reproduction steps from your recording. It's a bit hard to follow. For instance, before the cursor starts moving around wildly, did you paste an emoji?

[2022-11-11 20:49] JmillsExpensify commented on #12578
Then one more thing until we open this up for proposals. @kavimuru you still able to produce this Android cash?

[2022-11-11 20:54] JmillsExpensify commented on #8791
I recently reported [this bug](https://expensify.slack.com/archives/C049HHMV9SM/p1668119557057829), after I clearly forgot being part of the discussion originally. So it's still an odd experience to run into despite what we decided. That kind of got me to thinking, why do we have the "open app banner" at the top of the page? We're spending quite a lot of effort to make the app work on all platform

[2022-11-11 20:58] #12654 closed

[2022-11-11 21:01] Puneet-here commented on #12246
### Proposal
Add a new param `transitionFromOldDot` at `createWorkspace` function
https://github.com/Expensify/App/blob/ecafa3cf9538b89b21db4ef22290a6c0737b53c2/src/libs/actions/Policy.js#L701

Add an if statement here
https://github.com/Expensify/App/blob/ecafa3cf9538b89b21db4ef22290a6c0737b53c2/src/libs/actions/Policy.js#L866-L868
[code]

Pass true here as an argument in the end

@eVoloshchak, I

[2022-11-11 21:02] kbecciv commented on #12687
Sorry, I don't have access to Slack.

[2022-11-11 21:16] kbecciv commented on #11961
Another tester reported similar issue when creating a new chat, with build 1.2.27.0
lat me know if we need a separate issue for this one.

https://user-images.githubusercontent.com/93399543/201431844-512a89c6-1c46-47f8-abb5-09843a1ea529.mp4

[2022-11-11 21:22] parasharrajat commented on #12554
Ok. Thanks. May be I had cache. You are correct it breaks the highlight on tab. Retracting my decision.

[2022-11-11 21:25] parasharrajat commented on #12554
As a last resort, I will revert https://github.com/Expensify/App/pull/8443 as it caused a bigger issue for disabling a minor UI effect.

[2022-11-11 21:26] kbecciv commented on #11858
Issue is reproduced  today with build 1.2.27.0

https://user-images.githubusercontent.com/93399543/201433057-9ae6ec58-43a9-46bc-8d60-9e788cf5b8d4.mp4

[2022-11-11 21:30] michaelhaxhiu commented on #11416
Stepping in to help.

Paid. :)

[2022-11-11 21:30] #11416 closed

[2022-11-11 21:33] s77rt commented on #12554
@parasharrajat Mind checking [my proposal](https://github.com/Expensify/App/issues/12010#issuecomment-1312059021)
The issue #7853 affects every key not just SHIFT which is a bit annoying

[2022-11-11 21:35] parasharrajat commented on #12685
Don't forget to comment on the the original issue which caused this regression.

[2022-11-11 21:36] parasharrajat commented on #12025
Caused this regression https://github.com/Expensify/App/issues/12685.

[2022-11-11 21:40] dangrous commented on #11057
Waiting for proposals.

[2022-11-11 21:41] Luke9389 commented on #12670
Investigating now.

[2022-11-11 21:45] Luke9389 commented on #12670
The main branch did not have this problem at noon yesterday. Looking at the PRs merged since then....

[2022-11-11 21:47] ctkochan22 commented on #12670
it may also be this PR? https://github.com/Expensify/App/pull/11751

[2022-11-11 21:47] getusha commented on #12685
@rushatgabhane  is this issue producible after applying the fix?

[2022-11-11 21:49] ctkochan22 commented on #12670
@kbecciv Which accounts were you using?

[2022-11-11 21:50] stitesExpensify commented on #11922
Thank you for bringing this up @aimane-chnaif after re-looking at this, I agree that you should get the reporting bonus since this issue was created before the one that I fixed in my PR.

@michaelhaxhiu can you create an upwork so that we can hire and pay @aimane-chnaif the reporting fee, and then close this issue back out?

[2022-11-11 21:52] parasharrajat commented on #12685
That works too.

[2022-11-11 21:55] huzaifa-99 commented on #11930
Are we handling accessibility (like using escape key)? I asked about this [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668197149475149)

[2022-11-11 21:57] stitesExpensify commented on #7968
I made a slack post in our internal product channel

[2022-11-11 22:07] parasharrajat commented on #11101
Any update?

[2022-11-11 22:10] anmurali commented on #12388
This week has been slammed with earnings related activity. And I am OOO till Friday next week. So I will come back to this after that

[2022-11-11 22:12] johncschuster commented on #12432
Thanks for digging into this @amyevans and @Gonals! In light of what you've found, do you think this is a proper bug in need of fixing?

[2022-11-11 22:14] arielgreen commented on #12640
https://www.upwork.com/jobs/~016a5c80040608f342

[2022-11-11 22:15] kbecciv commented on #7270
We still seen the error message, testing build 1.2.27.0

![IMG_9D0BF3B9BCBD-1](https://user-images.githubusercontent.com/93399543/201438243-cdeb53c0-5694-4e3c-bbc3-ec5d522e72ff.jpeg)

[2022-11-11 22:30] dangrous commented on #12662
https://github.com/Expensify/App/pull/12401 can no longer be QAed so checking it off cc @cead22

[2022-11-11 22:40] #12687 closed

[2022-11-11 22:43] Luke9389 commented on #12670
I'm also unable to reproduce on iOS dev.

[2022-11-11 22:49] OSBotify commented on #12662
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12688) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.27-3` :rocket:

[2022-11-11 22:50] kavimuru opened #12691 "[HOLD for payment 2022-11-29] [$250] An emoji is entered multiple times on repeated presses without closing the emoji picker - reported by @huzaifa-99"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open emoji keyboard in any chat
2. Press an emoji multiple times

Note: Notice the emoji picker is not immediately closed aft

[2022-11-11 22:50] henriquefalconer commented on #12554
@parasharrajat I would argue that my fix (removing `tabindex` from [src/components/PressableWithSecondaryInteraction/index.js](https://github.com/Expensify/App/blob/f654cc13794aa749a29b6561bad94d80a9580fd4/src/components/PressableWithSecondaryInteraction/index.js)) is still valid.

When considering that [src/components/PressableWithSecondaryInteraction/index.js](https://github.com/Expensify/App/bl

[2022-11-11 23:02] huzaifa-99 commented on #12508
I think a similar issue https://github.com/Expensify/App/issues/12400 also exists for the same page. The focus there is not set to the first field when the label (fix the errors) is clicked. The root cause might be related and maybe something to look into.

Anyways if this is not a duplicate and we are only concerned with removing the console error.
### Proposal
We can refactor the callback fired

[2022-11-11 23:09] davidcardoza commented on #11818
Offer sent to @parasharrajat for payment

[2022-11-11 23:13] parasharrajat commented on #12554
It is a valid point. I will have to discuss this.

[2022-11-11 23:17] Beamanator commented on #11063
Final PR for this (https://github.com/Expensify/App/pull/12549) is ready for review!

[2022-11-11 23:23] yuwenmemon commented on #12666
Removing DeployBlocker tag as this was fixed with https://github.com/Expensify/App/pull/12688

[2022-11-11 23:35] bondydaa commented on #11083
going to see if I can figure this out so assigned myself.

[2022-11-11 23:52] OSBotify commented on #12662
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.27-3 has been deployed to staging :tada:

[2022-11-12 00:13] Beamanator commented on #12007
@trjExpensify are you going to take over for @mallenexpensify on this one?

[2022-11-12 00:34] ntdiary commented on #9181
@parasharrajat hi, any progress on this issue please? Is there anything else I need to do? 🙂

[2022-11-12 00:39] railway17 commented on #11083
### Proposal

1. Reproducable
I could reproduce this issue like below:
 -  `Mark as Unread` issue (video is attached in the issue description).
 -   User name is not changed to bold when user is on LHN page

2. Why the issue is produced?
To know the above 2 issues, we need to focus on 2 problems.

- There are 3 listeners (mainly, don't need to care for keyboardEvent here) that were defined in the

[2022-11-12 00:41] adelekennedy commented on #12315
about to be offline - @greg-schroeder so reassigning you, only steps taken so far are re-producing the issue and deciding it should be external

[2022-11-12 00:51] tungmt commented on #12246
@Puneet-here yeah I think it should work, pass isLoggingInAsNewUser to createWorkspace function

[2022-11-12 00:54] AndrewGable commented on #12609
Focused on the [source maps](https://github.com/Expensify/App/issues/9293) as the first priority for this, then will get to this.

[2022-11-12 00:55] AndrewGable commented on #9293
End of week update: We need to install NodeJS on the web servers, so this is turning into slightly a larger project. Working on doing so now and then will circle back to the specific API layer code once that's done. Otherwise this is working in local testing.

[2022-11-12 00:55] AndrewGable commented on #11711
End of week update: We have a workable solution [here](https://github.com/Expensify/App/issues/11711#issuecomment-1312139072), but still talking with AWS to juice up the device farm side of things.

[2022-11-12 01:03] Luke9389 commented on #12670
Going to demote this until we can get more reliable reproduction steps.

[2022-11-12 01:05] mateocole commented on #7284
Job posted- https://www.upwork.com/ab/applicants/1591235610161598464/job-details

[2022-11-12 01:07] Santhosh-Sellavel commented on #12521
@stitesExpensify
This missed my list somehow, I'm not sure I can get to this sooner. Maybe we could delegate this to new C+s who ever wants to pickup!

[2022-11-12 01:13] Santhosh-Sellavel commented on #12359
We know this might occur for multiple devices, but I can't recall whether I've used two devices or not! I'll try to reproduce it now!

[2022-11-12 01:21] aldo-expensify commented on #12359
Thanks @Santhosh-Sellavel , what about the other part?

🙏

[2022-11-12 01:22] Santhosh-Sellavel commented on #12359
Might be a typo it should be C, not B!

[2022-11-12 01:22] Santhosh-Sellavel commented on #12359
I'm unable to reproduce this now, so we can close this!

[2022-11-12 01:27] Santhosh-Sellavel commented on #7968
Not necessarily need to be highlighted, because that's how it works in most places/apps!

[2022-11-12 01:30] marcochavezf commented on #12292
Sure, I'm going to give it a shot next week

[2022-11-12 01:35] aldo-expensify commented on #12359
Cool, thank you very much for trying to reproduce again :)!

[2022-11-12 01:35] #12359 closed

[2022-11-12 01:37] Santhosh-Sellavel commented on #12155
We are still waiting for proposals here! ~Maybe we should double this~  @davidcardoza please post the Upwork job! Maybe we could get some proposals! I think we could start this job for $500 or $1000!

cc: @tgolen!

[2022-11-12 01:39] Santhosh-Sellavel commented on #10765
@advaitasol9 bump!

[2022-11-12 01:48] francoisl commented on #12600
Yes but as we're trying to focus on WAQ, I'm looking into this one.

I can reproduce the issue even while online, I think I see what's causing it so I'll submit a fix.

[2022-11-12 02:24] Santhosh-Sellavel commented on #9818
@bernhardoj What are we trying to do in step 3 [here](https://github.com/Expensify/App/issues/9818#issuecomment-1307202012)

Can you elaborate on what exactly are we trying to do, more briefly?

[2022-11-12 02:31] francoisl commented on #12600
Hm the solution I had in mind is not going to work.

I was thinking of updating the `defaultValue` to `value` in the two TextInputs of the component [here](https://github.com/Expensify/App/blob/819fb992cc/src/pages/settings/Profile/DisplayNamePage.js#L103), but then you can't edit the value of the input at all. @Beamanator in case you have any idea for how to solve this? I also tried to use state

[2022-11-12 02:45] kavimuru opened #12692 "[$250] VBA -URL is shown on bottom left corner when `Fix the error ` is hovered reported by @huzaifa-99"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to /bank-account/BankAccountStep
2. Click on the first field, and then click outside, just to blur the field and for

[2022-11-12 02:46] Santhosh-Sellavel commented on #9818
@marcaaron  Asking you since authored the code, and you might be more familiar about navigation.

I've got a couple of queries
1. In our code here we are already trying to call the method which doesn't exist (we call it with safe check), I'm not sure why was it added this way, can you throw some clarity on this?
https://github.com/Expensify/App/blob/0d653cad15c32150c302ac12dc0acdbca1ece18b/src/lib

[2022-11-12 02:55] kavimuru opened #12693 "[HOLD for payment 2022-11-29] [$250] The error when enter invalid debit card information still appear after reload the page reported by @hans"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to Profile > Payment, click "Add payment method", choose "Debit card"
2. Enter some random information and press "Sa

[2022-11-12 03:07] kavimuru opened #12694 "Being assigned 1-2-1 users when not logged into New Dot Reported by Guides Team"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.  signed out of New Dot yesterday around 6 PM EST

## Expected Result:
To not be assigned a user while out of New Dot

## Actua

[2022-11-12 03:51] wildan-m commented on #12028
@thesahindia just tested it on iOS. The result is OK

[2022-11-12 04:19] bernhardoj commented on #9818
Sure.

If we take a look at the `getNotFoundState`, there is a `path` property to show the correct path on the browser address bar. Let's have an example to make it easier.

Let's say we navigate for the first time to an invalid link with path `/abcd`, the `path` property will be `/abcd` and on the address bar, the full path will be `new.expensify.com/abcd`.
Then, we navigate again for the second

[2022-11-12 04:46] mollfpr commented on #9391
Is this the expected result? @michaelhaxhiu @trjExpensify

https://user-images.githubusercontent.com/25520267/201457519-9bea7088-3fb2-4476-8161-b2dbd61ac072.mov

[2022-11-12 06:04] Someone-here commented on #12266
https://user-images.githubusercontent.com/77237602/201459890-bdce09d9-c543-415e-8f51-01658f819301.mp4

Doesn't work when isDrawerOpen: true

https://user-images.githubusercontent.com/77237602/201459917-1efe9caa-cb61-48d9-9a18-de2d255545f1.mp4

Works when isDrawerOpen: false

It is almost random for it to be true of false when clicked on any chat. For some it is true and some false

[2022-11-12 06:07] hammad-6304 commented on #11818
@kavimuru I Have read the proposal on UpWork so i head to this issue. As per above discussion I can see the issue has been resolved already. Can you please confirm me is it still open & need to fix in an enhanced manner?
Please let me know just looking forward to hear from your side.
Thanks

[2022-11-12 07:18] Puneet-here commented on #12693
### Proposal

We clear the error at componentWillUnmount but it doesn't get invoked on refresh
https://github.com/Expensify/App/blob/0d653cad15c32150c302ac12dc0acdbca1ece18b/src/pages/settings/Payments/AddDebitCardPage.js#L58-L59

we need to add  `PaymentMethods.clearDebitCardFormErrorAndSubmit();` at constructor to fix this

[2022-11-12 07:49] kerupuksambel commented on #12290
Hi @parasharrajat, first really apologize again for my slow response towards the issue. And yes, so far the test without the "@" here would pass the test. The "@" here supposed to handle email protocol, however upon better inspection towards the code, I realized the email has been handled on the code above, therefore it should be no longer needed on the code. Therefore, the revised regex should be

[2022-11-12 08:44] mollfpr commented on #12650
### Proposal

**RCA**
Pressable / Touchables `onPress` function is called if released before entering the long press state (which control by `delayLongPress `). We could set the long press like @Dima-Kevanishvili proposal [here](https://github.com/Expensify/App/issues/12650#issuecomment-1311546200)

**Solution**
I have a different approach to solving this, rather than having `onPress` and `onLongP

[2022-11-12 08:46] loganbek commented on #12640
My plan is to ensue the dispatch action target is set properly in Navigation.js. (151: navigationRef.current.dispatch(StackActions.pop()) looks like it may need a conditional. If not, I'll debug further in DrawerAction.js, BrowserAction.js, or there imports. @arielgreen, I can have an update in 3 days. Let me know if you need anything else before I commence.

[2022-11-12 11:28] s77rt commented on #12523
I think this should be set on hold in favour of #12521

[2022-11-12 11:45] advaitasol9 commented on #10765
let me check @Santhosh-Sellavel.

[2022-11-12 12:10] AmanuelAsfaw commented on #11701
Thank you for the clarification. I wait for the response

On Fri, Nov 11, 2022 at 10:53 PM Jason Mills ***@***.***>
wrote:

[2022-11-12 12:25] s77rt commented on #12521
### Proposal (Updated)
[code]

### Details
Basically same approach as the original proposal but cleaner, does not have the side effect as the original proposal, and moved the logic to the modal (the root of the issue)
The flicker effect is still there, I don't think it can be completely prevented using this approach but we can reduce the flickering chances, setting `animationInTiming` and `animati

[2022-11-12 12:30] s77rt commented on #12635
I think this still needs more investigation. I can (randomly) reproduce the issue even with a barely new account.

[2022-11-12 13:21] kavimuru commented on #11818
@hammad-6304 Yes, it is fixed now.

[2022-11-12 13:27] kavimuru commented on #11966
@muttmuure I was not able to reproduce. So added `Need reproduction ` label. It was reported by @neil-marcellini. @neil-marcellini are you still able to reproduce?

[2022-11-12 13:30] kavimuru commented on #12281
@mountiny This was reproducible in iOS. Will retest in both Android and iOS and update here.

[2022-11-12 13:52] kavimuru commented on #12082
@Julesssss Now in step 6 `Enable the internet connection on Device A` message appears in normal format then after a second it becomes bold. Bug is not reproducible.

https://user-images.githubusercontent.com/43996225/201477243-46fb2327-0bba-40a3-840e-1d9852a9f97a.mp4

[2022-11-12 14:25] huzaifa-99 commented on #11087
Not reproduceable in v1.2.27-3

[2022-11-12 15:48] kbecciv commented on #12670
I used account: applausetester+1107abb1@applause.expensifail.com.
Reproduction steps:
1. Go to staging.new.expensify.com on Web
2. Go to Settings - Workspace
3. Select Connect Bank account
4. Select Plaid option
5. Select Fidelity option
6. Use credentials: user_good/pass_good
7. Select Saving account -1111
8. Use necessary information for  Alberta Bobbeth Charleson (please ask if you don't have)

[2022-11-12 17:29] hungvu193 commented on #12692
<b>Proposal</b>
In our current `TextLink.js` component, we are using the href props, that's why we see the bottom left url when the cursor hovered it.
https://github.com/Expensify/App/blob/0d653cad15c32150c302ac12dc0acdbca1ece18b/src/components/TextLink.js#L60-L66
<b>Solution</b>
 To make it didn't show the bottom left url when hovered we can pass `undefined` as href prop. In some case, we need to

[2022-11-12 18:53] parasharrajat commented on #12508
Looks like a tough one. There is no direct solution available. I don't consider this RN fault either. We calling `focus` on Pressable which we shouldn't and there is direct way to prevent that from Form. Let me know if I am wrong.

@aldo-expensify  Because, this is only happening on dev,  we can ignore this issue. RN ignores focus call on Android but it iOS code is still behind.

[2022-11-12 19:16] roryabraham commented on #12156
I agree that this would be ideal, and I think it probably is possible? Reopening this

[2022-11-12 19:17] roryabraham commented on #12156
Or, maybe it's only possible on native but not mobile web. Let's see what proposals we get?

[2022-11-12 20:13] roryabraham commented on #7860
Thanks for the update @LucioChavezFuentes. Please keep us in the loop and let us know how best we can support you.

[2022-11-12 20:22] roryabraham commented on #12582
This should be fixed once #12500 is deployed to staging

[2022-11-12 20:46] mananjadhav commented on #12635
@mollfpr You might be onto something, but as @s77rt I can also reproduce this on low traffic account. I am unable to reproduce every time. Of 3-4 times I reproduced, I've waited for like upto 3-4 mins to see if it loads something but it doesn't and always fails with `407` auth code. It only works if I reload/refresh the app.

[2022-11-12 20:47] kavimuru opened #12698 "[HOLD for payment 2023-04-03] [$1000] Implement the skeleton UI for the LHN."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
sign in to the app

## Expected Result:
the skeleton UI appears and then is replaced by the reports / normal LHN

## Actual Resul

[2022-11-12 20:48] roryabraham commented on #11433
Sorry for missing these pings and taking a while to come back around to this PR. I approved it, but there are conflicts that need to be resolved.

This is my bad - I'll be sure to keep up the urgency better once the PR is updated so that we can close this out

[2022-11-12 22:06] s77rt commented on #11930
### Proposal
[code]

### Details
The issue is caused by a conflict between [react-navigation](https://github.com/Expensify/react-navigation/blob/react-navigation-drawer-v6.5.0-alpha1-gitpkg/src/views/DrawerView.tsx) and [react-native-modal](https://github.com/react-native-modal/react-native-modal/blob/v13.0.0/src/modal.tsx). react-navigation set a listener on keyup and captures the keyup for the `

[2022-11-12 22:07] lbaldy commented on #4733
@parasharrajat  do we have any documentation, on how the rendering should happen. Some of the issues you've shown , for example this:

<img width="199" alt="image" src="https://user-images.githubusercontent.com/7595998/201496349-95d65d0c-7bbc-4b3a-975b-eb7b82d0c926.png">

Are present in the old (matrix based) renderer too.

For mixed content do we want to render it in-line as much as possible, or

[2022-11-13 04:30] dhairyasenjaliya commented on #9408
bump @tjferriss PR is in production for 8 days I think this is ready to close

<img width="1306" alt="Screenshot 2022-11-13 at 9 58 45 AM" src="https://user-images.githubusercontent.com/47522946/201505745-dcff98b3-6125-4915-a70f-3f45b7e44bda.png">

[2022-11-13 06:18] mountiny commented on #11695
We have since moved to bugZero, where any reproducible bug should be fixed and that is a priority. I think we should pick something which works fine here.

I think the ideal solution here is that the list is Scrollable only if it overflows.

[2022-11-13 06:28] mountiny commented on #11854
@hellohublot Hello! The maintainer has kindly responded and merged the PR and released a new version 🎉

Do you want to take this job and update the package version and do all the testing?

[2022-11-13 06:41] s77rt commented on #12698
When you sign-in you will get a spinner not a blank page, and I think this is the expected behaviour. Not sure what's the problem here

[2022-11-13 07:03] Santhosh-Sellavel commented on #12635
I faced this issue with both low/high traffic accounts, but this has the most impact on high-traffic accounts which is for most of us (for our personal accounts as well)!

Thanks, @mollfpr, I like the idea. If you have a full proposal please submit let's test this one and move this forward quickly!

[2022-11-13 07:33] hellohublot commented on #11854
@mountiny Excellent, I am glad to accept this job, I will do a lot of tests of this library

[2022-11-13 07:54] mollfpr commented on #12635
I'm able to reproduce it with App that has a session expired. To repro this in the DEV I'm customizing the `authToken` parameters, so the response from `OpenApp` will have `jsonCode=407`.

https://github.com/Expensify/App/blob/0d653cad15c32150c302ac12dc0acdbca1ece18b/src/libs/Network/enhanceParameters.js#L33-L38
[code]

The thing that I found is `OpenApp` Onyx failure data is never updated to Onyx

[2022-11-13 08:00] mollfpr commented on #12635
That also explains why the App works again after refreshing the page or closing the App. Because the `OpenApp` will be called again with the new `authToken` and the success data is updated to Onyx.

[2022-11-13 09:32] Santhosh-Sellavel commented on #10622
@puneetlath
I suspect this is the PR https://github.com/Expensify/react-native-onyx/pull/132

[2022-11-13 09:58] s77rt commented on #12268
@rushatgabhane may be external as well (client side validation)

[2022-11-13 11:46] fedirjh commented on #12635
## Proposal

### Problem
This is a regression from #12169

that's right , the case when session is expired we try to reconnect the app and refresh data with `reconnectApp` , but the `IS_LOADING_INITIAL_APP_DATA` update is not triggered and it's persists to `true` in Onyx , this make `isReadyForDisplay`  false and display skeleton ui

### Solution

we have to update  `IS_LOADING_INITIAL_APP_DATA` i

[2022-11-13 13:52] advaitasol9 commented on #10765
@JmillsExpensify @ctkochan22 @Santhosh-Sellavel
I am still able to reproduce this issue, attaching a video [here](https://drive.google.com/file/d/1jjmrzCzrgIRHJ7PBG2cEnjkyyaNRBet7/view?usp=share_link) (with latest main branch).
Important: steps to reproduce.
1. Open a chat where recipient is from a different timezone (so that recipient timezone is visible just above chat input).
2. Use an ios simu

[2022-11-13 14:59] s77rt commented on #10414
@kbecciv @parasharrajat Can you still reproduce? I can only reproduce the "New Chat" issue but I think it's related to another root cause

[2022-11-13 15:17] Santhosh-Sellavel commented on #10765
I'm trying the same but am unable to reproduce it.

@kbecciv Can you check with the above steps?

[2022-11-13 16:18] MitchExpensify commented on #11423
Seeing as this wasn't a regression, I'm thinking that this step can be skipped in this case:

I'm undecided if this still makes sense for the same reason:

Curious what you think @puneetlath ?

[2022-11-13 16:23] MitchExpensify commented on #10356
@mananjadhav Yes all set! Issuing payment now

[2022-11-13 17:09] Santhosh-Sellavel commented on #10614
Thanks, @cowboycito, the solution seems to be working and we have a solution for iPadOS alone how are you planning to address the same for android tablets?

@Gonals I would love to hear your thoughts on this [proposal](https://github.com/Expensify/App/issues/10614#issuecomment-1308064049). I don't see any usages of `requireNativeComponent` API in our app, maybe we might never have had the need ear

[2022-11-13 17:24] MitchExpensify commented on #10356
@Karim-30 mins accepting [the offer here](https://www.upwork.com/jobs/~018b71c2e42d0be244)? Thank you!

[2022-11-13 17:31] MitchExpensify commented on #10356
Paid @mananjadhav & @akshayasalvi ! Thank you!

[2022-11-13 17:37] Santhosh-Sellavel commented on #9581
@neil-marcellini
Sorry for the delay, proposal looks good to me.

[2022-11-13 17:48] Santhosh-Sellavel commented on #10893
@cowboycito
I'm getting a pop-up  without clicking the button, while opening the link
<img width="1187" alt="Screenshot 2022-11-13 at 11 15 28 PM" src="https://user-images.githubusercontent.com/85645967/201536353-7c2807c9-4426-4543-99ef-755dfaa1a952.png">

Clicking the Open in App it's not opened in the desktop app, how to test this?

[2022-11-13 19:04] bulatgab commented on #10614
@Santhosh-Sellavel I'd like to take the liberty to answer. The split-screen mode in Android was turned off in this PR: https://github.com/Expensify/App/pull/7083. Original issue: https://github.com/Expensify/App/issues/6592.

(The proposal by @cowboycito was inspiring and I started investigating how to do this in Android. If this is ever enabled back I would be happy to work on a solution).

[2022-11-13 20:35] huzaifa-99 commented on #12692
### Proposal
The issue has origins in `FormAlertWrapper`. We are using a `TextLink` there which display the current url when hovered
https://github.com/Expensify/App/blob/1b375ed3d3a7e1e42d8e746cb0e6f205ee0a3786/src/components/FormAlertWrapper.js#L59-L64

Since we are not passing an actual link/href prop, this `TextLink` can be replaced with a normal `Text` component and adding link styles
[code]

[2022-11-13 20:44] huzaifa-99 commented on #12692
I thought we are not handling `accessibility` as discussed [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668197149475149)

[2022-11-13 20:57] huzaifa-99 commented on #12692
### Updated Proposal (original https://github.com/Expensify/App/issues/12692#issuecomment-1312815631)
If not breaking accessibility is a concern than we can wrap the `Text` in a `Pressable` and add the press callback there. And since it will be nested inside a `Text` it might break wrapping on native, so we can wrap it in a `View`.

Basically replacing this whole block
https://github.com/Expensify

[2022-11-13 21:08] fedirjh commented on #12574
we have to update  `IS_LOADING_INITIAL_APP_DATA` in reconnectApp

https://github.com/Expensify/App/blob/0d653cad15c32150c302ac12dc0acdbca1ece18b/src/libs/actions/App.js#L162-L180
[code]

[2022-11-13 21:58] jliexpensify commented on #12665
Hi - do I need to do anything here?

Based off Yuwen's statement, it sounds like the Launch Mentor should be confirming with Rebecca (Guide) if the email hit their Gmail, right?

[2022-11-13 22:01] huzaifa-99 commented on #12508
oops, my bad. Apologies if I caused confusion.

[2022-11-13 22:08] jliexpensify commented on #10905
@JmillsExpensify [I previously posted here around what parts of the checklist I should be doing](https://expensify.slack.com/archives/C01SKUP7QR0/p1667775111039369), and you mentioned changes were coming.

I'm still confused here: am I doing the entire checklist? The first 3 items sound like they should be reviewed by the primary engineer (Tim), whilst the last few items are related to payment, wh

[2022-11-13 22:12] jliexpensify commented on #12158
Not overdue

[2022-11-13 22:35] JmillsExpensify commented on #10905
@jliexpensify I don't recall saying don't fill out the checklist, as any changes to Melvin are unfortunately not retro-active. All good, here's an [example checklist](https://github.com/Expensify/App/issues/10824#issuecomment-1310855916) I got on Friday. That should clear up your questions.

[2022-11-13 22:49] jliexpensify commented on #10905
Thanks @JmillsExpensify, appreciate you sharing that checklist. I've updated the one above to mirror yours.

Regression test question posted here - https://expensify.slack.com/archives/C01SKUP7QR0/p1668379720583589

[2022-11-13 23:05] conorpendergrast commented on #11515
Ok, I have no idea what the pattern is here, but I **was able to reproduce again**. I didn't change anything about the testing steps, and reproduces on v1.2.27-3 on iOS

[2022-11-13 23:12] conorpendergrast commented on #12392
@roryabraham Second bump!

[2022-11-13 23:35] conorpendergrast commented on #12595
I have reproduced now, but I'm not convinced that this is a bug. Once the bank account has been set up and the validation amounts have been sent, I don't think we want to allow editing the submitted bank account, company and personal details.

I'm going to check and confirm that

[2022-11-13 23:45] conorpendergrast commented on #12595
Checking via Slack, in [the expensify-bugs channel](https://expensify.slack.com/archives/C049HHMV9SM/p1668383086423159)

[2022-11-13 23:47] conorpendergrast commented on #12643
Alright here's my to-do list here:

- [ ] The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead).
- [ ] The bug is reproducible, following the reproduction steps
- [ ] If the GH doesn’t have steps to reliably reproduce the bug and you figure it out, then please add them.
- [ ] If you’re unable to reproduce the bug:
- [ ] Add the Need

[2022-11-14 00:53] conorpendergrast commented on #12643
Reproduced through conor@expensifail.com.

I know that we do have some significant changes to passwords planned, so as a result I am going to close this out as a bug we will not fix.

[2022-11-14 00:53] #12643 closed

[2022-11-14 01:37] conorpendergrast commented on #12595
I'm going to close this for now, and will reopen if there's disagreement!

[2022-11-14 01:37] #12595 closed

[2022-11-14 02:55] mvtglobally commented on #12662
Regression is completed

PR https://github.com/Expensify/App/pull/11751 is failing https://github.com/Expensify/App/issues/7270 and Native apps are blocked due to https://github.com/Expensify/App/issues/11796. Are we ok to check off?
PR https://github.com/Expensify/App/pull/12157 is failing https://github.com/Expensify/App/issues/12637 https://github.com/Expensify/App/issues/12671 https://github.c

[2022-11-14 03:06] Christinadobrzyn commented on #12667
Ah interesting issue - I can replicate this but I'm not sure if this needs to be solved now as I don't think it's happening when not using keyboard shortcuts.

I think this can be `external` so going to add the label. I can't find any other GHs related to this but I'm not 100% certain about my searches.

@mananjadhav and @marcochavezf can you please provide your opinion/insights if this should be

[2022-11-14 03:36] tienifr commented on #11515
@flodnv what do u think about my proposal above?

[2022-11-14 03:47] mananjadhav commented on #10356
Thanks @MitchExpensify

[2022-11-14 03:50] mollfpr commented on #11801
bump @muttmuure

[2022-11-14 03:50] aneequeahmad commented on #11903
### PROPOSAL

**Problem:**

The type of anchor is defined as `node` but it's a reference to the DOM node.

https://github.com/Expensify/App/blob/92eff7267aa7be67463873cdb431f5cd79c22b59/src/pages/home/report/ContextMenu/BaseReportActionContextMenu.js#L20-L22

**Solution**

The type of this DOM node should be object as it's a reference to DOM node not any `children/component` passed in props.  The

[2022-11-14 03:52] mananjadhav commented on #10950
@laurenreidexpensify Quick bump on the above comment, so that we can get this one closed out.

[2022-11-14 03:54] mananjadhav commented on #11461
@trjExpensify This is due for payment

[2022-11-14 03:55] mananjadhav commented on #11732
@johncschuster Quick bump on the Upwork payment.

[2022-11-14 03:55] mananjadhav commented on #11848
@abekkala Quick bump on the payment for this one.

[2022-11-14 04:08] sobitneupane commented on #11650
Waiting payment. PR was deployed to production 9 days ago.
<img width="991" alt="Screenshot 2022-11-14 at 09 51 46" src="https://user-images.githubusercontent.com/25876548/201573159-982a7ff9-48fa-4703-ad4c-fc294807beed.png">
cc: @isabelastisser

[2022-11-14 04:20] Christinadobrzyn commented on #11283
Job expired, created a new posting & doubled price to $2000

Internal posting: https://www.upwork.com/ab/applicants/1592009509897162752/job-details
External posting: https://www.upwork.com/jobs/~0164f5f013388bbb18

[2022-11-14 04:22] hungvu193 commented on #11283
I still think that we need to fix this by changing the way checkbox get focused.

[2022-11-14 04:23] sobitneupane commented on #12438
Delete account confirmation modal should appear without any additional blinking.

@marcochavezf  Should we tag Design team to know expected output? I am not sure what is the expected output.
- Do we just want to get rid of blinking selected account (selected account gets unselected and selected again on pressing Delete)?
- Do we want to add animation as well? Actual Result Section mentions "Add pa

[2022-11-14 04:39] AbbasAtWork commented on #11283
Its a simple fix , I can do the fix easily

[2022-11-14 05:04] sobitneupane commented on #12640
Based on this [discussion](https://expensify.slack.com/archives/C02NK2DQWUX/p1667944956842919?thread_ts=1667850311.631759&cid=C02NK2DQWUX), this issue can be closed.

cc: @techievivek

[2022-11-14 05:09] kadiealexander commented on #12592
Asking for someone with an iPad to reproduce - https://expensify.slack.com/archives/C01GTK53T8Q/p1668402566426039

[2022-11-14 05:10] techievivek commented on #12640
Aaah yes, we don't need to look into this one because we are deprecating it.

[2022-11-14 05:10] #12640 closed

[2022-11-14 05:54] Pujan92 commented on #11086
Do I need to raise PR for this or still need to wait for any approval?

[2022-11-14 06:02] sobitneupane commented on #12010
Thanks @parasharrajat.

[2022-11-14 06:06] getusha commented on #11283
# Proposal

The previous way of adding margin in order to show the default focus border, adds UI inconsistencies on zoom.
But still we can consider that? @parasharrajat

This is completely new approach.

[code]

Result

[(5) New Expensify.webm](https://user-images.githubusercontent.com/75031127/201586777-b55db8d8-5c82-450f-8c0c-91ef4e70aac6.webm)

Zooming in and out :slightly_smiling_face:

[(5) N

[2022-11-14 06:12] mollfpr commented on #11283
Hey, @AbbasAtWork I believe it is! You should send your proposal for the fix like this https://github.com/Expensify/App/issues/11283#issuecomment-1313141367 and the C+ will review it. Also please check our [CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) to get started!

[2022-11-14 07:58] madmax330 commented on #11948
@marcaaron can we also add HOLD to the title ?

[2022-11-14 08:01] ctkochan22 commented on #11153
bump

[2022-11-14 08:05] techievivek commented on #11796
I did test this couple of times on staging but I wasn't able to reproduce this even once.
<img width="1311" alt="Screenshot 2022-11-14 at 1 08 07 PM" src="https://user-images.githubusercontent.com/35863227/201604727-9753b2b8-92a3-45ad-8fb5-c989701c9811.png">

[2022-11-14 08:06] dylanexpensify commented on #12598
reviewing today!

[2022-11-14 08:06] dylanexpensify commented on #12042
reviewing today!

[2022-11-14 08:07] dylanexpensify commented on #11948
added to title, @madmax330 !

[2022-11-14 08:07] dylanexpensify commented on #9848
reviewing today!

[2022-11-14 08:07] dylanexpensify commented on #9181
reviewing today!

[2022-11-14 08:11] sobitneupane commented on #10670
Still waiting on proposals.

[2022-11-14 08:16] sobitneupane commented on #11921
@trjExpensify Should I also review the proposal https://github.com/Expensify/App/issues/12028#issuecomment-1309908376 for this issue?

[2022-11-14 08:17] thesahindia commented on #11502
Not overdue.

[2022-11-14 08:27] dylanexpensify commented on #12644
reviewing today Mel! Jeez!

[2022-11-14 08:27] dylanexpensify commented on #12598
reviewing today mel!

[2022-11-14 08:27] dylanexpensify commented on #12045
reviewing today!

[2022-11-14 08:31] thesahindia commented on #12644
In the video after pressing "forgot?" It clearly says that the link has been sent. I don't think this is a bug.

[2022-11-14 08:31] thesahindia commented on #12045
The issue is reproducible and open for proposals.

[2022-11-14 08:42] techievivek commented on #11796
Looking more into it using Logs from here https://www.expensify.com/_devportal/tools/logSearch/#sort=asc&size=10000&query=blob%3A%22An%20unexpected%20error%20occurred%20while%20trying%20to%20update%20your%20bank%20account%22%20AND%20timestamp%3A%5B2022-11-01T00%3A00%20TO%202022-11-15T23%3A59%5D
Will update shortly.

[2022-11-14 08:42] Karim-30 commented on #10356
@MitchExpensify Accepted the offer, Thanks.

[2022-11-14 08:45] flodnv commented on #10091
Ah, so this is only an issue on Android native with long emails?

[2022-11-14 08:52] sobitneupane commented on #11277
Was able to reproduce.

https://user-images.githubusercontent.com/25876548/201616289-71883ebd-894c-4b76-918d-fdd11b7f3840.mov

[2022-11-14 08:54] mananjadhav commented on #11094
Waiting for proposals.

[2022-11-14 08:54] mananjadhav commented on #11463
Waiting for proposals.

[2022-11-14 08:54] mananjadhav commented on #11471
Waiting for proposals.

[2022-11-14 08:55] mananjadhav commented on #12188
Waiting on @roryabraham to share their feedback.

[2022-11-14 08:56] mananjadhav commented on #12276
On Hold, waiting for the QA to run the KI tests

[2022-11-14 08:56] MonilBhavsar commented on #11471
I tried reproducing the issue and looks like it is reproducible with account having higher number of chats and messages.

[2022-11-14 09:06] mountiny commented on #12341
This seems to only happen on older versions (we are now on `1.2.27`) so I will close this out. We can see if this will be reopened, the IOU refactor should get rid of the root cause though.

[2022-11-14 09:06] #12341 closed

[2022-11-14 09:07] parasharrajat commented on #4733
Ok. I try to share as much possible but here is no written requirements for it.

1. The inline code block element should be behave as normal text. i.e follow same text wrapping and layout.
2. The inline code block should have a border around the text and grey background as already configured as well as some gap between the border.
3. Inline code block should follow the same line-height as much as

[2022-11-14 09:12] parasharrajat commented on #12428
Reviewing now.

[2022-11-14 09:43] flodnv commented on #11515
To be honest, I don't know what to think, as it's out of my depth. @marcaaron given you've introduce the Freeze component, can you please look at the proposal above and let us know your thoughts? 🙏

[2022-11-14 09:45] flodnv commented on #11892
@lschurr next steps are on you^

[2022-11-14 09:45] MariaHCD commented on #11895
Based on [this comment](https://expensify.slack.com/archives/C03TQ48KC/p1668125179264449?thread_ts=1668086036.201419&cid=C03TQ48KC), it might be that there is a mismatch between the optimistic data set in the frontend and the Onyx data set via the API. Looking into it further.

[2022-11-14 09:47] flodnv commented on #12650
@eVoloshchak can you please review the proposals?

[2022-11-14 10:19] AbbasAtWork commented on #11283
input[type="checkbox"]:focus{
        outline:0;
    }

    This simple css fix will remove the blue outline from the checkbox.

[2022-11-14 10:26] Julesssss commented on #11087
Hi @Expensify/applause, could we please retest this? Thanks

[2022-11-14 10:28] Julesssss commented on #10273
The vast majority are still awaiting proposals. One issue was resolved, and another was unreproducible so I asked Applause to retest.

[2022-11-14 10:28] mountiny commented on #11854
@hellohublot You have been assigned now, please raise the PR with the changes and videos of testing if possible, I assume you might need to test on a physical device though.

@sobitneupane do you have iPhone to test this?

[2022-11-14 10:29] kidroca commented on #12603
@Beamanator
This might work if `react-native-fast-image` entry point exports different code by platform
- android -> Glide
- ios -> SDWebImage
- others -> fallback to react-native Image (webpack transforms `react-native` imports to `react-native-web`

Actually it seems there's a flag about it: https://github.com/DylanVann/react-native-fast-image#fallback-boolean
When `fallback` is `true` `FastImag

[2022-11-14 10:29] Julesssss commented on #10347
Hey @isabelastisser, could we double the bounty again please?

[2022-11-14 10:30] Julesssss commented on #12308
Hey @mvtglobally would you mind retesting again, as we couldn't reproduce this last time and we are having trouble verifying ourselves.

[2022-11-14 10:31] Julesssss commented on #8349
Still held

[2022-11-14 10:40] techievivek commented on #12363
Looking for a proposal, if no one picks it up in a day I will give it a try myself.

[2022-11-14 10:43] sketchydroide commented on #8710
continue working on it this week

[2022-11-14 10:44] sketchydroide commented on #9580
still same

[2022-11-14 10:47] tienifr commented on #11810
Hi @parasharrajat  @MonilBhavsar  I just fixed your comments and created PR on the Expensify repo. Please help to review it. Thanks

[2022-11-14 10:49] kidroca commented on #11817
@roryabraham @danielrvidal sorry guys, there seems to be some misunderstanding

@roryabraham shared for context what we show right now - when the app is ready to update

What we need here though is something different:

The user checks for update using the system menu
Shortly after we present a dialog with the result.
There are 3 cases:
- **update available** -> we print a text that update is bein

[2022-11-14 10:53] sketchydroide commented on #9973
@arielgreen maybe we can increase the price?

[2022-11-14 10:55] sketchydroide commented on #10414
waiting for some feedback, it would be weird if this just fixed by itself, but maybe a react update could do it?

[2022-11-14 10:55] Gonals commented on #11314
Yes, that looks good to me!

[2022-11-14 10:55] sketchydroide commented on #11818
@davidcardoza anything for us to do here?

[2022-11-14 10:56] techievivek commented on #11796
The error is shown for 3 commands. `ConnectBankAccountWithPlaid, UpdateCompanyInformationForBankAccount, UpdatePersonalInformationForBankAccount`. And it has to do with the bankAccountID passed. From newDot when we add a new VBBA for the first two commands it doesn't expect us to pass the bank account but in the instances where errors are thrown it's mostly a bankAccountID is passed and I would as

[2022-11-14 10:56] Gonals commented on #12432
I believe so, yes :)

[2022-11-14 11:16] mountiny commented on #11561
This is in review, not overdue.

[2022-11-14 11:25] mananjadhav commented on #9973
Also @arielgreen @sketchydroide Can we update the title and GH body to replace ~clipboard~ with **tooltip** ? It's a bit confusing to understand the issue.

[2022-11-14 11:29] sketchydroide commented on #12557
will close this one, next time we reopen the original one

[2022-11-14 11:29] #12557 closed

[2022-11-14 11:29] MariaHCD commented on #11850
Still WIP

[2022-11-14 11:29] zanyrenney commented on #12058
Hi everyone - this issue is a duplicate of https://github.com/Expensify/App/issues/12010, please can you post your proposals on the original issue to avoid duplication and track this correctly. @huzaifa-99 @s77rt cc. @parasharrajat @roryabraham

[2022-11-14 11:31] sketchydroide commented on #12512
@JmillsExpensify @youssef-lr should this still be an external?

[2022-11-14 11:31] zanyrenney commented on #12058
Closing this issue in favour of https://github.com/Expensify/App/issues/12010

[2022-11-14 11:33] hungvu193 commented on #12692
This will cause an error console on web, you need to make sure there's no console error happened with your solution.

[2022-11-14 11:39] huzaifa-99 commented on #12058
@zanyrenney #12010 is related to the focus issues Download/Close buttons on Mac/Safari only. This issue is related to focus issues on a label "Enter the password" in Mac/FireFox only.

Should we still consider these as one?

[2022-11-14 11:40] dhairyasenjaliya commented on #12058
hello @zanyrenney both issues are separate

#12058 this issue is about "enter the password" not focusing on the tab

<img width="1153" alt="Screenshot 2022-11-14 at 5 08 59 PM" src="https://user-images.githubusercontent.com/47522946/201650907-72b2d0eb-e782-4aa9-acdb-7e62e4add83c.png">

#12010 this issue is about protect the PDF modal and pressing TAB doesn’t focus on download/close
<img width="113

[2022-11-14 11:43] Julesssss commented on #10091
I'm not convinced this needs to be solved as it's due to a 3rd part app. Perhaps we can make our app more supportive of this, but the background styling is not in our code (as far I know).

I'm also struggling to reproduce this currently :/

[2022-11-14 11:43] Julesssss commented on #10091
Let's see if anyone has an idea though.

[2022-11-14 11:47] #12352 closed

[2022-11-14 11:48] Puneet-here commented on #11818
Hi @davidcardoza, could you please send me an offer or provide the job link since it qualifies for fixing and reporting bonus.

[2022-11-14 11:51] trjExpensify commented on #11229
Morning, Melv. PR is up, awaiting a review from @parasharrajat! 🎉

[2022-11-14 11:51] Gonals commented on #10352
I don't think we need the PR in this case, since it wasn't really a bug, just a change in design down the line.

[2022-11-14 11:51] Julesssss commented on #12082
Thank you. Let's close this out. At best it was unreliably reproducible on some devices. If and when it is reliably reproducible we can investigate further.

[2022-11-14 11:51] #12082 closed

[2022-11-14 11:56] trjExpensify commented on #9703
@Beamanator, I believe this is still on hold. Specifically, it's held on #10792 that Margelo are actively working on right? Will update the title to be more specific than the tracker if so!

[2022-11-14 11:57] miljakljajic commented on #12237
Ah, no problem Jasper. I ended the contract - looking forward to seeing your solution.

[2022-11-14 11:58] s77rt commented on #12058
@zanyrenney @huzaifa-99 @dhairyasenjaliya
not the same issue.
but #12010 covers both #12058 and #12554

[2022-11-14 12:02] trjExpensify commented on #10792
Added the `External` label, replaced `Help Wanted` with `Reviewing` and added the assigned C+ to the PR for the review.

[2022-11-14 12:14] trjExpensify commented on #11854
👋 @mountiny you marked this one as `Reviewing`, can you link the PR?

@JmillsExpensify - I can't seem to access [this job on Upwork](https://www.upwork.com/jobs/~01a08d6a4623670c83) to view proposals/offers/hires etc. Can you take care of hiring @hellohublot & @sobitneupane, please?

[2022-11-14 12:16] trjExpensify commented on #7862
@JediWattson, looks like we still have a conflict to resolve. Can you address it today please, so @Santhosh-Sellavel can provide his final review? Thanks!

[2022-11-14 12:17] Julesssss commented on #11930
Hey @s77rt. Thanks for the analysis and write-up.

The patch solution makes sense, but we avoid platform-specific logic, as explained [here](https://github.com/Expensify/App/blob/main/README.md#platform-specific-file-extensions). I'd be happy to review an updated proposal that applies this rule.

____

Hey @huzaifa-99, we're definitely interested in solutions that align with accessibility. But we'

[2022-11-14 12:20] trjExpensify commented on #6527
👋 @Beamanator just checking that we need this issue in addition to [this one](https://github.com/Expensify/App/issues/10792), that [has a PR in review](https://github.com/Expensify/App/pull/12648) already to address?

[2022-11-14 12:22] trjExpensify commented on #10894
No change to [the hit list](https://github.com/Expensify/App/issues/10894#issuecomment-1311119746) from EOD Friday, Melv.

[2022-11-14 12:24] huzaifa-99 commented on #12692
@hungvu193 i see no console errors specific to this change. Can you please describe a little more? Thanks

---

@mdneyazahmad yes still reproducible on `v1.2.27-3`

[2022-11-14 12:24] thesahindia commented on #12028
The [codepen example](https://codepen.io/wildanmuhlis2/pen/KKeWGQr?editors=1000) has the same issue so it's confirmed that `user-select: 'none'` is causing this as mentioned [here](https://github.com/Expensify/App/issues/12028#issuecomment-1309908376)
I like @wildan-m's [proposal](https://github.com/Expensify/App/issues/12028#issuecomment-1312003771), the styles will be passed at `ScreenWrapper`
h

[2022-11-14 12:33] bfitzexpensify commented on #12542
Not overdue, looks like @parasharrajat is digging into the cause

[2022-11-14 12:34] bfitzexpensify commented on #12543
@deetergp did you have thoughts on the question @Santhosh-Sellavel posed in Slack?

[2022-11-14 12:37] isabelastisser commented on #11795
Not overdue.

[2022-11-14 12:39] s77rt commented on #11930
Hi @Julesssss
I know the rules, but this is more specific to react-native-modal, this is a patch and won't be a part of the Expensify App code.

Suppose that the patch was applied to react-native-modal and you use the new patched react-native-modal, are you breaking the rules? because react-native-modal use that platform specific code and so react-navigation. Are we breaking the rules? I don't thi

[2022-11-14 12:42] rguminski commented on #12665
Hello, I have had a non 121 email my team.expensify email and they even populated a convo with me and conc in my NewDot. This is NOT normal. And this was a 121 of mine.

[2022-11-14 12:45] trjExpensify commented on #11695
I agree with that. It's also in-line with how we handle the `Workspaces`, `Settings` and `Profile` pages etc, right?

[2022-11-14 12:47] sobitneupane commented on #12010
@s77rt Your [proposal](https://github.com/Expensify/App/issues/12010#issuecomment-1312059021) does not complete solve the issue. On tabbing, the focus must rotate among download, close and enter the password.

Expected -> Download -> Close -> Enter the password -> Download ...
Actual -> Download -> Close -> Focus Lost -> Enter the password -> Focus Lost -> Download

https://user-images.githubuserc

[2022-11-14 12:53] bfitzexpensify commented on #12639
@kbecciv just bumping the question above

[2022-11-14 12:57] juzoace commented on #12512
@JmillsExpensify is this still up for grabs?

[2022-11-14 13:03] youssef-lr commented on #12433
Waiting for @rushatgabhane's testing.

[2022-11-14 13:06] youssef-lr commented on #11267
I'll be updating the PR today and removing `WIP`, it looks like we have [interest](https://expensify.slack.com/archives/C03TQ48KC/p1668128270722689) in having this implemented.

[2022-11-14 13:07] youssef-lr commented on #11267
I'll be updating the PR today and removing `WIP`, it looks like we have some more [interest](https://expensify.slack.com/archives/C03TQ48KC/p1668128270722689) in having this implemented.

[2022-11-14 13:14] CortneyOfstad commented on #12501
After reviewing this, I'm not sure if this is a bug. You have to refresh the page in some way in order for the changes to appear (not sure what the threshold is for automatic refresh on the browser).

However, going to add the #engineering label to get some additional guidance on whether this needs to be fixed and if it needs to be external or internal.

[2022-11-14 13:15] abekkala commented on #11848
@aldo-expensify I feel that there is something missing here.
Why did it GH auto-populate with the payment date for this one?

[2022-11-14 13:17] abekkala commented on #12240
@aldo-expensify and to confirm there have been no accepted proposals yet?

[2022-11-14 13:19] abekkala commented on #12511
@neil-marcellini do yo know why this hasn't auto-populated a payment date in the GH title?

[2022-11-14 13:25] s77rt commented on #12010
@sobitneupane
The expected behaviour is:
Download -> Close -> Enter the password -> Focus Lost -> Download ...

And that's the behaviour I'm getting on Safari 16.0 and on other browsers too.
App Version: 1.2.25-0 + Patch

What issues? The current implemented onKeyDown is causing a lot of issues due to `blur` and messing with accessibility. In my proposal i changed the onKeyDown functionality and s

[2022-11-14 13:28] sobitneupane commented on #12010
I am testing it on v1.2.27-3. Can you please test it on latest version.

[2022-11-14 13:29] mountiny commented on #11854
Sorry that must have been fat-fingering, still waiting for @hellohublot for the PR. Feel free to link a draft as well 🙌

[2022-11-14 13:30] trjExpensify commented on #12665
Yeah, but that could have been a bug in the first place that we've since fixed. Perhaps because if that happens, it goes to our customer support team that we don't want to happen (unlike the account managers implementation).

[2022-11-14 13:31] CortneyOfstad commented on #12693
Definitely appears to be an issue. Going to assign engineering to see if this needs to be Internal or External. Thinking External, but want a second pair of eyes to be sure.

[2022-11-14 13:32] sobitneupane commented on #12010
Why is this expected behavior?

Download -> Close -> Enter the password -> Focus Lost -> Download ...

This should be the expected behavior

[2022-11-14 13:34] sobitneupane commented on #12010
Also please update your proposal based on https://github.com/Expensify/App/issues/12010#issuecomment-1312070618

Your proposal has some conflict with the [accepted proposal](https://github.com/Expensify/App/issues/12058#issuecomment-1312066971.) in the othe issue.

[2022-11-14 13:35] trjExpensify commented on #12268
Okay awesome, so @ctkochan22 are we holding that PR on @youssef-lr's [here](https://github.com/Expensify/App/pull/11465)?

[2022-11-14 13:35] trjExpensify commented on #11267
Totally agree with doing this. A great example of us running into this is [here](https://github.com/Expensify/App/issues/12268).

[2022-11-14 13:35] s77rt commented on #12010
@sobitneupane
That's the behaviour I was getting on other browsers. I had to match Safari with the rest.

By the way, the lost focus issue is a regression and it's effecting all the browsers

[2022-11-14 13:36] laurenreidexpensify commented on #12616
Nice I like the skeleton too. Do we need a mock up from @shawnborton here for that?

[2022-11-14 13:38] trjExpensify commented on #11921
@sobitneupane it looks like @thesahindia has reviewed that proposal and given it the ✅. Though, @thesahindia can you confirm it fixes this issue as well ahead of us closing it?

[2022-11-14 13:39] trjExpensify commented on #12665
Yeah, they still get an email from you if they don't read it in NewDot.

[2022-11-14 13:40] rguminski commented on #12665
Okay then no worries. I just thought this might be a bug, and my chief concern was the customer knowing I messaged them back.

[2022-11-14 13:42] kbecciv commented on #12639
@bfitzexpensify Checking, update you shortly

[2022-11-14 13:46] kbecciv commented on #10414
@sketchydroide @s77rt Checking, will update you shortly

[2022-11-14 13:46] s77rt commented on #12010
regression from #12391
adding `focusable` is causing the issue

[2022-11-14 13:48] trjExpensify commented on #11461
I've settled up with @Uros787. Sent you an offer to accept for C+, and @thesahindia for reporting.

[2022-11-14 13:50] sobitneupane commented on #12010
Then we should get rid of this regression first. Reported [here](https://expensify.slack.com/archives/C049HHMV9SM/p1668433791785489)

[2022-11-14 13:51] Santhosh-Sellavel commented on #10614
Thanks for the interest @bulatgab, but we would like to give @cowboycito a chance first to work this out if we're expecting a solution here for android too because I think that's the fair thing to do here!

[2022-11-14 13:54] thesahindia commented on #11461
Accepted, thanks!

[2022-11-14 13:54] PauloGasparSv commented on #12123
No updates!

[2022-11-14 13:55] trjExpensify commented on #11461
^^ Settled!

[2022-11-14 13:56] sobitneupane commented on #10824
Probably, [fix](https://github.com/Expensify/App/pull/12391) of this issue is causing [this regression](https://expensify.slack.com/archives/C049HHMV9SM/p1668433791785489)

cc: @neil-marcellini @Santhosh-Sellavel

[2022-11-14 13:57] cowboycito commented on #10614
@Santhosh-Sellavel given that the split-screen mode was disabled on Android due to an issue in the app, I'm not sure the drag and drop feature would even work. What are your thoughts?

[2022-11-14 13:57] huzaifa-99 commented on #12692
Hm strange, I don't get this error. Can you please expand the log to see the stack trace. Thanks in advance

For a reference please see this demo (ignore the 30x git file changes in my vscode, they are just console logs)

https://user-images.githubusercontent.com/68777211/201677553-68c0b9a6-d274-4065-b93d-6e8f85a394bb.mp4

[2022-11-14 13:59] kbecciv commented on #12639
@bfitzexpensify I have the default keyboard in my testing IOS device and I was able to paste in the middle of the word.

https://user-images.githubusercontent.com/93399543/201678695-06550e3e-0164-4a3e-825e-54311b608290.MP4

[2022-11-14 14:00] Santhosh-Sellavel commented on #10614
@Gonals I am just waiting for your thoughts on this https://github.com/Expensify/App/issues/10614#issuecomment-1312778412.

Additionally, I came to know from this [comment](https://github.com/Expensify/App/issues/10614#issuecomment-1312798863) we restricted the split/resizable window but that is applicable only for mobile devices.

But we no longer can restrict multiwindow mode for tablets/large s

[2022-11-14 14:01] Santhosh-Sellavel commented on #10614
@cowboycito I think the above comment would suffice your question!

[2022-11-14 14:02] cowboycito commented on #10614
I'll give Android a try along the week and will update in the comments here about my progress.

[2022-11-14 14:06] joekaufmanexpensify commented on #2727
@parasharrajat Any update on accepting this so we can pay you?

[2022-11-14 14:10] eVoloshchak commented on #11354
This is something I should have caught when testing the PR

What should be my next steps here? Do an RCA?

[2022-11-14 14:13] mollfpr commented on #10824
Per this [comment](https://github.com/Expensify/App/issues/10824#issuecomment-1298770921) I agree the PDF container should be focusable so the user can scroll through the PDF with their arrow key. But maybe we should leave the outline style there to give the user vision that they focus on the PDF file?

[2022-11-14 14:17] kbecciv commented on #11087
@Julesssss Re-testing, update you shortly

[2022-11-14 14:26] maddylewis commented on #11265
@Luke9389 - are we still holding on this issue? https://github.com/Expensify/App/issues/11265#issuecomment-1301065633

[2022-11-14 14:27] eVoloshchak commented on #11964
Not overdue

[2022-11-14 14:27] abekkala commented on #11921
Closed Upwork job.

[2022-11-14 14:27] #11921 closed

[2022-11-14 14:28] isabelastisser commented on #11650
The Contributor and Contributor+ have been paid, the contract has been completed, and the Upwork post has been closed.

[2022-11-14 14:28] #11650 closed

[2022-11-14 14:29] puneetlath commented on #7420
@Tushu17 can you please apply here for the reporting bonus: https://www.upwork.com/jobs/~0102f107207d43a2df

[2022-11-14 14:30] puneetlath commented on #12678
Will start on this today.

[2022-11-14 14:31] puneetlath commented on #12605
@Julesssss @AndrewGable what do you think? Should this be handled separately from your notifications project?

[2022-11-14 14:35] kbecciv commented on #11087
Issue is reproduced with device Realme 6 / Android 11 (build 1.2.27.1)

https://user-images.githubusercontent.com/93399543/201687018-0701c1aa-3bdb-4701-a0af-0cfcf2d52276.mp4

[2022-11-14 14:37] kbecciv commented on #12281
Issue is not reproduced for both Android and iOS apps.

https://user-images.githubusercontent.com/93399543/201687397-be43c8c1-70b1-4b9b-8330-be62048c1aad.mp4

https://user-images.githubusercontent.com/93399543/201687403-a7a69e5b-ecaa-4045-a21e-50a047d043f6.MP4

[2022-11-14 14:39] kbecciv commented on #12637
@iwiznia Checking, update you shortly

[2022-11-14 14:41] kavimuru opened #12703 "Native app does not support resizing in foldable phones and split screen mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Scenario 1:
1. Open the Android native App with a folded Galaxy Z Fold 4
2. Unfold the phone

Scenario 2:
4. open the app on an u

[2022-11-14 14:41] Julesssss commented on #11087
I'm also seeing this on `1.2.27-1`. Leaving open for proposals, while we await the next deploy.

[2022-11-14 14:41] hungvu193 commented on #12692
@huzaifa-99 Sure, here you are
<img width="1099" alt="Screen Shot 2022-11-14 at 21 40 52" src="https://user-images.githubusercontent.com/16502320/201688254-42f7fae8-2e31-4add-b3fa-4c9a370b96a3.png">

[2022-11-14 14:42] dylanexpensify commented on #12598
Upwork: https://www.upwork.com/jobs/~01d9c17d63e3cc48ee

[2022-11-14 14:47] kbecciv commented on #11778
@Beamanator It was on IOS device for the video above.
Let me know if we need to re-test in all environments with current build.

[2022-11-14 14:49] kbecciv commented on #12637
@iwiznia Please attach the requested for .txt. file for console error message.

[console error.txt](https://github.com/Expensify/App/files/10004050/console.error.txt)

[2022-11-14 14:49] dylanexpensify commented on #12644
Agree, video shows everything working as should, closing

[2022-11-14 14:49] #12644 closed

[2022-11-14 14:50] eVoloshchak commented on #12151
I like @tienifr proposal
I think we should go with the first solution since it adds pending actions only for the rooms we need to be greyed out

@MonilBhavsar, could you help me out, are there any default rooms besides `#admins` and `#announce`?
The issue description states `The default rooms, #admins, #announce, and the workspace expense`, which implies there are other default rooms

[2022-11-14 14:52] huzaifa-99 commented on #12692
@hungvu193 I see where the problem is.

In your video demo, you are using this code
[code]
but in your comment [here](https://github.com/Expensify/App/issues/12692#issuecomment-1313540500), it was different. That's why you get the error because `{props.translate('common.fixTheErrors')}` should be wrapped in a `Text` element

Again see my proposal [here](https://github.com/Expensify/App/issues/1269

[2022-11-14 14:52] Julesssss commented on #11916
Ah yes, this will be painful for external contributors to work on. I'd say we keep this internal for now, and possible hold it on [this](https://github.com/Expensify/Expensify/issues/219254) project.

[2022-11-14 14:53] JmillsExpensify commented on #11267
Agreed, this is a great one to make sure we get right. Putting this one in WAQ.

[2022-11-14 14:56] Tushu17 commented on #7420
@puneetlath Ok applied, Thanks.

[2022-11-14 14:57] Julesssss commented on #4010
Doc in progress

[2022-11-14 14:58] youssef-lr commented on #12268
My PR will be ready today. But I think we should also add client side validation for this.

[2022-11-14 14:58] amyevans commented on #12432
Yeah, definitely a bug! I'm continuing to dig into it (just didn't have much time on Friday after PR reviews/other chores).

[2022-11-14 15:02] iwiznia commented on #12637
Ah cool. I think I've seen this before. We are apparently trying to download this image https://d1wpcgnaa73g0y.cloudfront.net/825d2d6d08b35c4e47d9a7d6da678e68062f8f6c_128.jpeg which does not exist. The OG one does https://d1wpcgnaa73g0y.cloudfront.net/825d2d6d08b35c4e47d9a7d6da678e68062f8f6c.jpeg so I assume we think we created a thumbnail, but we did not. We need to figure out where this is comin

[2022-11-14 15:06] JmillsExpensify commented on #11087
I'm not following what you mean here? I must have missed it in the video and screenshot.

[2022-11-14 15:06] JmillsExpensify commented on #11087
Separately, we're still open for proposals and the price is now doubled to $1,000.

[2022-11-14 15:07] kavimuru opened #12704 "Payment with PayPal.me could be labelled as paid without any payment issued from PayPal reported by @kerupuksambel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed :

1. Open [staging.new.expensify.com](http://staging.new.expensify.com/) from an account (Account A)
2. Set a PayPal.me account i

[2022-11-14 15:11] lschurr commented on #12678
Cool @puneetlath - do I need to do anything? Should I be trying to reproduce?

[2022-11-14 15:13] #11461 closed

[2022-11-14 15:14] nkuoch commented on #12618
I think it should be internal. Will try to fix it myself.

[2022-11-14 15:15] laurenreidexpensify commented on #12506
Clarifying if we need to update TestRail [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1668438757692319)

[2022-11-14 15:15] #11848 closed

[2022-11-14 15:15] tienifr commented on #11688
Hi @isabelastisser This PR is merged 5 days ago

[2022-11-14 15:15] kavimuru opened #12705 "Send Money note with trailing spaces doesn't got trimmed properly reported by @kerupuksambel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed :

1. Open [staging.new.expensify.com](http://staging.new.expensify.com/)
2. Open a chat and send money to the chat owner by click

[2022-11-14 15:17] eVoloshchak commented on #12018
@Someone-here, I think that would break the accessibility, you wouldn't be able to toggle password visibility using keyboard

[2022-11-14 15:19] kavimuru commented on #12705
Closed. Refactoring these pages

[2022-11-14 15:19] #12705 closed

[2022-11-14 15:20] isabelastisser commented on #11688
Thanks for the update! I will issue the payment now.

[2022-11-14 15:20] Santhosh-Sellavel commented on #10765
@kbecciv Please check on regular devices that would be enough, if it occurs only simulator we can ignore that!

[2022-11-14 15:21] Julesssss commented on #11632
Hey @sakluger, can you please pay out, or close the issue if we have already paid? Thanks

[2022-11-14 15:21] Julesssss commented on #11398
Thank, still awaiting proposals.

[2022-11-14 15:23] eVoloshchak commented on #11688
The PR wasn't deployed to production yet

[2022-11-14 15:32] Santhosh-Sellavel commented on #7968
bump @stitesExpensify

[2022-11-14 15:34] eVoloshchak commented on #12246
@Puneet-here, cool, I like your solution!

It indeed fixes this issue
And it also works correctly when transitioning from OldDot to NewDot, however, I verified this by calling `setUpPoliciesAndNavigate` manually with mock data, which is not sufficient.
There is no `Get started with a free plan` option for me on OldDot, the one that can be seen in the description of https://github.com/Expensify/App

[2022-11-14 15:34] Julesssss commented on #9809
The latest [update](https://github.com/Expensify/App/issues/9809#issuecomment-1235267910) for this issue is still valid

[2022-11-14 15:35] kavimuru opened #12706 "[HOLD for payment 2022-12-15] [$1000] My own message is prefixed with my name/email at LHN (only for room chats) reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create a new workspace
2. Search announce room
3. Send a message
4. Observe the LHN message preview

## Expected result:
Name

[2022-11-14 15:36] lschurr commented on #11892
Asked for help here since I'm unsure about which test should be added. https://expensify.slack.com/archives/C01SKUP7QR0/p1668439426176659

[2022-11-14 15:36] Julesssss commented on #8236
Hey @aimane-chnaif, I've been too busy since last week to take another look but I think the status bar color difference is pretty minor and far better than the more obvious, janky icon. This should still be solvable though 🤞

[2022-11-14 15:36] eVoloshchak commented on #12265
@jasperhuangg, what do you think about @s77rt's [proposal](https://github.com/Expensify/App/issues/12265#issuecomment-1307889721)?

[2022-11-14 15:37] eVoloshchak commented on #12361
Not overdue, waiting for proposals

[2022-11-14 15:39] OSBotify commented on #12670
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-14 15:39] lschurr commented on #12567
Asked for more guidance [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1668187591130819).

[2022-11-14 15:40] JmillsExpensify commented on #10824
I commented in the linked PR, but in order to have a discussion in Slack, I love to see a summary of the following from any of @mollfpr, @sobitneupane and/or @neil-marcellini. Basically,

 - Overview of the bug. Feel free to link to a comprehensive summary if one already exists.
 - Root cause of the issue. What was the specific line that introduced the regression?
 - And finally, what could we do

[2022-11-14 15:40] Santhosh-Sellavel commented on #9818
Not overdue, @pecanoro what's your thought on this [proposal](https://github.com/Expensify/App/issues/9818#issuecomment-1307202012), I am seeking some clarifications [here](https://github.com/Expensify/App/issues/9818#issuecomment-1312329428), please answer if you can thanks!

[2022-11-14 15:43] mountiny commented on #12281
Ok, I think given this is so unreliably reproducible we can disregard this and potentially come back to this issue if it becomes reliably reproducible issue.

Thank you @kbecciv

[2022-11-14 15:44] JmillsExpensify commented on #12289
Jumping in to test now.

[2022-11-14 15:45] Julesssss commented on #7375
@parasharrajat hmm, yes that is a great point. So I believe we would expect the following:

![Screenshot 2022-11-14 at 15 45 18](https://user-images.githubusercontent.com/10736861/201703304-781def9b-3eb1-4505-b7bf-f7ccf68f2ad5.png)

[2022-11-14 15:46] kavimuru opened #12707 "[HOLD #12603] [Image] Seeing blank modal for avatar, when offline reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed (1):

1. Disconnect the internet connection
2. Navigate to a chat
3. Click on chat header
4. Click on avatar

## Expected Result:

[2022-11-14 15:52] sobitneupane commented on #11863
Not overdue. Discussion: https://expensify.slack.com/archives/C049HHMV9SM/p1668110448762599

[2022-11-14 15:52] Santhosh-Sellavel commented on #11146
on Hold!

[2022-11-14 15:53] Santhosh-Sellavel commented on #10906
Onhold

[2022-11-14 15:53] Santhosh-Sellavel commented on #10263
@michaelhaxhiu any development internally?

[2022-11-14 15:54] kavimuru opened #12708 "[HOLD for payment 2023-02-01] [$250] There's no back button at bank offline blocking view reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Disconnect the internet connection
2. Navigate to settings > Workspaces
3. Select a workspace
4. Click on "connect bank accou

[2022-11-14 15:56] mollfpr commented on #10824
I'll start, feel free to add more context @sobitneupane @neil-marcellini.

https://expensify.slack.com/archives/C049HHMV9SM/p1668433791785489

We add a new focusable to the PDF container element and remove the outline style but it seems to make the focus lost after a specific tab. https://github.com/Expensify/App/blob/e09d22847b476e9a5bc864e4722aa3e5dd4d50ac/src/components/PDFView/index.js#L123

I

[2022-11-14 16:01] kavimuru opened #12709 "[$250] No offline feedback on changing details at profile page reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Disconnect the internet connection
2. Navigate to settings > Profile page
3. Change name > Save

## Expected Result:
The opac

[2022-11-14 16:01] Julesssss commented on #10202
The PR is reviewed and looks great. We just need to add some comments and create a new Test rail case to help prevent regressions.

[2022-11-14 16:03] Puneet-here commented on #12708
### Proposal

We need to show the back button when the user is offline we can make the changes as suggested at [ReimbursementAccountLoadingIndicator](https://github.com/Expensify/App/blob/main/src/components/ReimbursementAccountLoadingIndicator.js)

[code]

[2022-11-14 16:04] Santhosh-Sellavel commented on #12492
Why do we need to set nodeIntegration: true, what does it do other than remove the warning?

[2022-11-14 16:05] JmillsExpensify commented on #12289
Opening this issue up for proposals. Upwork job is here: https://www.upwork.com/jobs/~01a3019c47c3980a30.

[2022-11-14 16:05] JmillsExpensify commented on #12289
Oh and I should clarify, it's helpful to also test this issue on mobile (iOS/Android), because the flicker/disappearing header doesn't happen.

[2022-11-14 16:07] mvtglobally opened #12710 "[$250] Web - Deleting a message/comment in report shows New messages floating indicator even if no new message in the report - Reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch web app.
2. Click on any report having list of comments/messages in LHN
3. Hover on any comment/message and click on de

[2022-11-14 16:12] JmillsExpensify commented on #10824
Ok that's super helpful. I'm happy to kick off a discussion in #expensify-bugs as BZ, though I think it'd be more productive if one of you get this kicked off, as you are closer to the code and the actual root cause. We're actually discussing this change moving forward, so that more people can participate in the discussion.

[2022-11-14 16:12] mountiny commented on #12574
cc @marcaaron I think this is mentioning your PR, what do you think of the proposal, as you might have more insight into this.

[2022-11-14 16:13] Santhosh-Sellavel commented on #12635
Thanks, @fedirjh, that makes sense!

[2022-11-14 16:14] puneetlath commented on #12004
Ok awesome, thanks for the info @MariaHCD.

And just checking, this is still on hold, is that right? If so, mind linking what we are holding for? Thanks!

[2022-11-14 16:18] davidcardoza commented on #12710
I am able to reproduce. I am assigning out to an external contributor.

[2022-11-14 16:18] Julesssss commented on #12605
It's @arosiclair FYI, but yeah, i think this definitely falls under the reliability umbrella.

[2022-11-14 16:19] Julesssss commented on #12605
I added it to the tracker and will discuss with Andrew 1:1

[2022-11-14 16:20] davidcardoza commented on #11964
Based on @marcaaron's latest assessment of the issue I think we are good to close this issue. If anyone disagrees please reopen the issue.

[2022-11-14 16:21] Santhosh-Sellavel commented on #12710
Definitely Looks like a regression!

[2022-11-14 16:23] eVoloshchak commented on #12650
@Dima-Kevanishvili's and @mollfpr's proposals both look great to me, the decision should come down to the expected behavior

@Dima-Kevanishvili's proposal: checkbox is toggled and text is `"un-pressed"` even if the user keeps pressing down

https://user-images.githubusercontent.com/9059945/201708384-cb3d07c3-1c46-44b2-86f8-83ba8b058ad2.mp4

@mollfpr's proposal: checkbox is toggled only after the u

[2022-11-14 16:25] mountiny commented on #12004
I think Maria is ooo til Friday so stepping in, from the previous comments this is on hold for https://github.com/Expensify/App/pull/12181

It is in staging now so we should be bale to retest there, but we can wait for another deploy I assume

[2022-11-14 16:25] mountiny commented on #12004
I have read and reviewed this Project Manager Application!

[2022-11-14 16:28] mollfpr commented on #12650
Yes, my proposal has kinda the same behavior on Android Chrome and not happening on iOS Safari.

[2022-11-14 16:30] Julesssss commented on #9270
Here was [the context](https://github.com/Expensify/App/issues/9270#issuecomment-1160462001) (API Refactor). Seems like this can be un-held now though.

[2022-11-14 16:30] parasharrajat commented on #2727
@joekaufmanexpensify Sent a proposal.

[2022-11-14 16:31] Santhosh-Sellavel commented on #11522
@ctkochan22 any development?

[2022-11-14 16:32] Julesssss commented on #11087
@JmillsExpensify I meant that in my reproduction case, perhaps the button wasn't shown because of failing phone validation -- rather than because of a bug

[2022-11-14 16:32] kbecciv commented on #12670
@ctkochan22
applausetester+1107abb1@applause.expensifail.com
Password: Feya86Katya

[2022-11-14 16:34] flodnv commented on #11892
We should add these, from mWeb :
<img width="739" alt="image" src="https://user-images.githubusercontent.com/4164921/201714645-33e38176-27fd-4ef6-8ceb-dbf827f5ccf1.png">

[2022-11-14 16:36] Santhosh-Sellavel commented on #12198
I'm confused about the logic here and need more clarity on why & how this fixes the issue! @mollfpr

cc: @dangrous

[2022-11-14 16:37] kavimuru opened #12711 "Not able to open context menu for a message with right click if one is already open for another message reported by @huzaifa-99"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to any chat
2. Right click on a message (the custom context menu will open)
3. Right click on another message (the b

[2022-11-14 16:37] Santhosh-Sellavel commented on #12400
PR is ready for review!

[2022-11-14 16:38] zanyrenney commented on #11667
On hold.

[2022-11-14 16:39] eVoloshchak commented on #12650
That's what I was trying to say, sorry if it was unclear. Is there a way to remove this inconsistency between platforms?

[2022-11-14 16:40] puneetlath commented on #12678
Nope, it's reproducible.

[2022-11-14 16:43] davidcardoza commented on #12512
I believe this should be external, but I will wait for @JmillsExpensify to confirm.

[2022-11-14 16:43] Santhosh-Sellavel commented on #7375
Yes, that would be the ideal solution!

[2022-11-14 16:46] mollfpr commented on #12650
I haven't found any solution for that, but I think the cause is the same with this long-press issue on Android web https://github.com/Expensify/App/issues/12324

[2022-11-14 16:49] kavimuru opened #12712 "[HOLD for payment 2022-12-20] [$250] Offline default avatar doesn't update after connecting to the internet reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login to an account which has more than 20 chats
2. Disconnect the internet connection
3. Navigate to search page
4. Scroll a

[2022-11-14 16:51] marcaaron commented on #11768
Still waiting for more feedback to trickle in here so I can get started on the high level doc.

[2022-11-14 16:52] muttmuure commented on #12594
@kbecciv I'm not sure I know what 1. Create a brand new account means - do you mean a unique domain?

[2022-11-14 16:54] muttmuure commented on #11951
Any update @railway17 @thesahindia?

[2022-11-14 16:54] michaelhaxhiu commented on #7916
Ok got it. @parasharrajat Are you able to do that?

[2022-11-14 16:56] parasharrajat commented on #7916
Yup, I will take a look after https://github.com/Expensify/App/pull/12546.

[2022-11-14 16:57] marcaaron commented on #12043
The current proposals are complex and it's not clear that they are worth doing right now. I proposed an alternative solution to solve the bug which is to just stop allowing tab to emoji. I would prefer to update the issue description to stop allowing tabbing to emojis since that is the simplest way forward and seems totally acceptable to me. Broken down into it's parts the issue is really...

**Bu

[2022-11-14 16:58] iwiznia commented on #11385
So, what do we want to do here? Close?

[2022-11-14 16:59] Someone-here commented on #12018
@eVoloshchak, I fixed that too, I added both events `onPress` and `onMouseDown` and now it works on all platforms and can even be changed by keyboard also

[2022-11-14 17:00] parasharrajat commented on #12711
I think we disabled that intentionally for some reason. I can't remember the PR or details. Please do that the old PR which disabled it.

[2022-11-14 17:03] neil-marcellini commented on #10824
Posted in Slack [here](https://expensify.slack.com/archives/C049HHMV9SM/p1668445374450239).

[2022-11-14 17:04] parasharrajat commented on #12290
Yup. Sure.

[2022-11-14 17:07] kavimuru opened #12713 "[$250] Offline default avatar changes to square shape reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Action Performed:

1. Login to an account which has more than 20 chats
2. Disconnect the internet connection
3. Navigate to search page
4. Scroll an

[2022-11-14 17:07] iwiznia commented on #9823
What is the discussion? The one linked by @michaelhaxhiu ?

[2022-11-14 17:09] zanyrenney commented on #10767
Hey @Christinadobrzyn I am trying to pay for this job via the job posting you created: https://www.upwork.com/jobs/~01452789e88a3dd322 but it is saying the job posting is closed. Any ideas why? It's not possible for me to follow these steps to complete and pay :( https://stackoverflow.com/c/expensify/questions/7582

[2022-11-14 17:10] MitchExpensify commented on #12449
Nobody jumped in with a second opinion so I'm going with my take on this issue - It is expected > Closing

[2022-11-14 17:10] #12449 closed

[2022-11-14 17:16] muttmuure commented on #12641
I don't have an android device - still not clear what to do in these situations

[2022-11-14 17:17] neil-marcellini commented on #12511
@abekkala That [webhook](https://github.com/Expensify/Web-Expensify/blob/937bc08d2a5e328994687af72799fed77296f4f6/partners/github/webhook.php#L639-L645) only triggers when there's a new release of the App. Actually that reminds me that we still need to update the package.json in app to use the update version of expensify-common as I mentioned [here](https://github.com/Expensify/App/issues/12511#is

[2022-11-14 17:17] Julesssss commented on #11930
Hey @s77rt. Good point, I'm actually not sure so I'm asking [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668446169315419) in slack for others' opinions.

[2022-11-14 17:18] JmillsExpensify commented on #11087
Oh gotcha. I'm with you now. I'll have to circle back on that part, though the Applause video/reproduction gives me confident that we should resolve the erratic behavior with the keyboard / validate button.

[2022-11-14 17:19] JmillsExpensify commented on #12283
Now that we're aligned on the issue/next steps, I'm doubling the price of this issue!

[2022-11-14 17:21] grgia commented on #9578
Woo, will get back on this

[2022-11-14 17:26] neil-marcellini commented on #12511
Ah ok, I guess because we need to check if our other repos depend on it. I'll do it myself.

[2022-11-14 17:27] davidcardoza commented on #12650
Job posted - https://www.upwork.com/jobs/~01e96489b139a99840

[2022-11-14 17:27] muttmuure commented on #11086
If @mananjadhav and @deetergp are both cool with it, @Pujan92 apply for the job and we can get going

[2022-11-14 17:31] marcaaron commented on #12635
The proposal by @mollfpr definitely seems like a much bigger bug.

Mind if we slow down a bit?

For this issue specifically, my read is that there is likely a relationship to slow API calls since, yes, the report page will wait for `OpenApp`. But the expectation is that the **"cached" report comments are shown immediately**. That's the behavior that was reported to have "regressed". And I think we

[2022-11-14 17:32] eVoloshchak commented on #12018
@Someone-here, that's great!
Could you please post an updated proposal?

[2022-11-14 17:32] davidcardoza commented on #12710
I was able to reproduce. Job posted - https://www.upwork.com/jobs/~015eb0ac1a09b42c84

[2022-11-14 17:38] arielgreen commented on #11048
Upped price!

[2022-11-14 17:38] neil-marcellini commented on #11966
I'm no longer able to reproduce this bug, which only occurred on the emulator, so I'll close this issue.

https://user-images.githubusercontent.com/26260477/201728225-e19f3437-96a6-4523-9c5f-aec3ab5213ea.mov

[2022-11-14 17:38] #11966 closed

[2022-11-14 17:41] nurlanmen502 commented on #12482
![image](https://user-images.githubusercontent.com/117958168/201728781-2c782c1a-8282-4ece-aecb-daaac206b130.png)
How could we create "Room"?
I am unable to see "Room" when click FUB button.

[2022-11-14 17:43] arielgreen commented on #8592
@parasharrajat update please

[2022-11-14 17:44] youssef-lr commented on #12512
Sounds good to me, let's do it!

I do believe this can be `External` as well.

[2022-11-14 17:44] s77rt commented on #12691
### Proposal
[code]

### Details
Since we set emojiPopoverAnchor prop to null right on the hide function we can rely on it to not select another emoji.

[2022-11-14 17:44] zanyrenney commented on #12692
The job listing is here: https://www.upwork.com/jobs/~01bd917604edb70bce

[2022-11-14 17:47] neil-marcellini commented on #11914
The name input on the workspace room settings page should be grayed out when there was an error updating it. I'll edit the issue description to make it more clear.

[2022-11-14 17:47] mvtglobally commented on #12662
We also do not see the latest Android build 1.2.27-3

[2022-11-14 17:49] JmillsExpensify commented on #12635
I like totally slowing down. I also agree that the regression seems to have occurred around not showing anything cached immediately, which is a big problem given that our design is Offline First.

[2022-11-14 17:49] roryabraham commented on #12698
Tagging in design for precise mockups.

[2022-11-14 17:51] zanyrenney commented on #12597
Will check this out tomorrow.

[2022-11-14 17:51] zanyrenney commented on #12482
Going to look into this more tomorrow.

[2022-11-14 17:51] parasharrajat commented on #12290
Ok so I tested it. It is looking good.

the _javascript: scheme part_ . let's say we the parser is parsing
[code]
Your solution will give us
[code]
Not sure what should be the output here. Does this look correct? For me, it is fine as it is a https url.

---
@kerupuksambel 's [proposal](https://github.com/Expensify/App/issues/12290#issuecomment-1304739804) + url regex from https://github.com/Expen

[2022-11-14 17:51] kavimuru opened #12714 "Money is sent/requested multiple times if the enter key is pressed multiple times reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Actions Performed:

1. Go to any chat
2. Click on the plus icon
3. Click Send money or Request Money
4. Enter any amount
5. Click Next
6. Press ent

[2022-11-14 17:52] isabelastisser commented on #11688
Holding!

[2022-11-14 17:53] roryabraham commented on #12698
We have a "skeleton UI" component that shows a skeleton of UI components, and that's our preferred UI pattern over a full-screen loading spinner. This is technically a new feature, not a bug (though I'd argue it just implements our established best practice on another important screen). I'm sure that the distinction will become clear once we have mockups. However, let's all be patient here because

[2022-11-14 17:53] mollfpr commented on #12691
@s77rt [proposal's](https://github.com/Expensify/App/issues/12691#issuecomment-1314141991) looks good to me!
The next pressed emoji will not be selected while the popover will hide.

cc @jasperhuangg
🎀 👀 🎀 C+ reviewed

[2022-11-14 17:55] Beamanator commented on #10894
Adding new issue to the list: https://github.com/Expensify/App/issues/12707

I think this one should be placed on hold, it should be solved once caching is implemented

[2022-11-14 17:56] Beamanator commented on #12707
Placing on hold & adding to tracker: https://github.com/Expensify/App/issues/10894

Ideally this will get fixed once image caching works, but we'll keep this open to investigate

[2022-11-14 17:56] maddylewis commented on #12143
@0xmiroslav - will you apply to the job in upwork? https://www.upwork.com/jobs/~01b2dd1a5f3c9e6d40

let me know once you've done that, and then i'll issue the payment - thanks!

[2022-11-14 17:57] JmillsExpensify commented on #12691
Also CCing @stitesExpensify since you're working on the linked tracking issue for emojis.

[2022-11-14 17:58] trjExpensify commented on #12707
Makes sense. I'll switch Conor out for myself as the BZ.

[2022-11-14 18:00] JmillsExpensify commented on #12512
@davidcardoza Yeah external is fine!

[2022-11-14 18:00] aldo-expensify commented on #11848
I don't find any "payment date" in this GH issue, where should I look for it? I also don't know how this gets populated 🤷

[2022-11-14 18:01] eVoloshchak commented on #12650
No, your proposal is absolutely valid, as I said, the decision should come down to the expected behavior, the decision hasn't been made yet.

@davidcardoza, what are your thoughts on [this](https://github.com/Expensify/App/issues/12650#issuecomment-1314023563)?
We could go with the first proposal (but that would mean we slightly deviate from the expected result) or wait for the second approach to

[2022-11-14 18:02] lschurr commented on #11892
Ok, I made this GH to request the test be added. @flodnv would you look at that and confirm I've done it correctly? (sorry first time doing all of this)

[2022-11-14 18:04] grgia commented on #12445
Not overdue, adding reviewing label

[2022-11-14 18:05] grgia commented on #12444
Not overdue, adding reviewing label

[2022-11-14 18:09] Julesssss commented on #11101
Added my thoughts [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668449157198979?thread_ts=1667776556.029449&cid=C01GTK53T8Q) and on [the issue](https://github.com/Expensify/App/pull/12033#issuecomment-1314172416). I think there is a relatively simple solution here where we just block the DownloadManager notification 🤞

[2022-11-14 18:14] MitchExpensify commented on #10262
Any estimate on when the PR  will be ready for this? @parasharrajat

[2022-11-14 18:21] michaelhaxhiu commented on #11922
https://www.upwork.com/jobs/~01cd49405208836adb

invited you @aimane-chnaif. Let's pay and close today if possible :)

[2022-11-14 18:21] kavimuru opened #12715 "[Hold for payment 2022-12-06] [$250] `Terms of Service` link has to be clicked twice to open in bank account setup page reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action performed:

1. Visit https://staging.new.expensify.com/bank-account/BankAccountStep
2. Click on routing number field
3. Click on Expensify T

[2022-11-14 18:24] lschurr commented on #12567
Ok, I posted the job.

https://www.upwork.com/ab/applicants/1592221542839255040/job-details
https://www.upwork.com/jobs/~01431277aec358749a

@thesahindia - can you apply in Upwork so that we can pay you for reviewing the PR?

[2022-11-14 18:25] NikkiWines commented on #9459
I'm not sure how we determine when to double or not.

In my opinion, given this is a fairly edge-case scenario and more of a minor inconvenience than an app-breaking bug, I think $4000 is an appropriate price.

[2022-11-14 18:25] lschurr commented on #12567
Also @aldo-expensify - do you know if a regression test has been added to testrail for this one?

[2022-11-14 18:27] MitchExpensify commented on #11093
Doubled!

@eh2077 Any estimate on another proposal out of interest?

[2022-11-14 18:27] kidroca commented on #11817
@danielrvidal

There would be a menu entry here, allowing users to check for updates manually whenever they want:
![image](https://user-images.githubusercontent.com/12156624/201737172-66eab947-cecb-4874-9a44-62afc4240aa5.png)

Can people just use the menu again if the want to check for update again?
_Adding a "Check again" button to the dialog would only allow people to spam the update server with

[2022-11-14 18:28] JmillsExpensify commented on #11057
We've hit another week with no proposals, so I'm raising the price to $1,000.

[2022-11-14 18:31] roryabraham commented on #12662
Retrying Android deploy for `1.2.27-3`

[2022-11-14 18:31] MitchExpensify commented on #11914
@Luke9389 Hows your bandwidth looking at the moment for this one to take it internally?

[2022-11-14 18:36] JmillsExpensify commented on #10765
I agree with that. While I do think it's helpful to find and fix issues in the simulator, I think for now we have so many bugs in production we should be focused on fixing those.

[2022-11-14 18:37] mananjadhav commented on #11848
@mountiny might have some idea on this?

[2022-11-14 18:38] JmillsExpensify commented on #4010
@Julesssss sorry for the confusion. I didn't realize that this issue is already linked to the tracking issue in the OP. Related question though: Should all the issues linked in the tracking issue, including this one, be on hold until the design doc comes out?

[2022-11-14 18:40] maddylewis commented on #12143
payment sent!

@neil-marcellini - are we good to close this one out now?

[2022-11-14 18:41] stephanieelliott commented on #12600
Cool, thanks Franc! I'm going to move this to `Internal` for now, but feel free to add the `External` label if we want to seek proposals at any point!

[2022-11-14 18:41] Beamanator commented on #9703
Yep still on hold for that one 👍 & technically even holding on https://github.com/Expensify/App/issues/12603

[2022-11-14 18:42] parasharrajat commented on #11914
@varshamb So the issue is asking that at step 13 as well as the red dot.

[2022-11-14 18:43] JmillsExpensify commented on #11854
Huh, not sure how to explain that. I've gone ahead and sent an offer to @sobitneupane since we've worked together before. @hellohublot to make sure we hire the right profile in Upwork, can you apply here: https://www.upwork.com/jobs/~01a08d6a4623670c83.

[2022-11-14 18:43] trjExpensify commented on #9703
When you say _even_ holding on #12603, is that blocking #10792 or I just cited the wrong issue it's actually held on? 😅

[2022-11-14 18:44] JmillsExpensify commented on #12433
Nice work! @rushatgabhane now that you're unblocked on testing, will you be able to handle in the coming days?

[2022-11-14 18:44] kavimuru opened #12716 "Workspace - Paybills - Hovering on example.com@expensify.cash shows as a URL in the bottom left corner and redirects to a page reported by @0xmiroslav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login with any account
2. Go to Settings -> Workspaces -> Pay bills page
3. Hover example.com@expensify.cash

## Expected Res

[2022-11-14 18:45] Beamanator commented on #6527
Good point @trjExpensify - this looks a bit like a duplicate / the fix for that issue (& [this one](https://github.com/Expensify/App/issues/12603)) should also fix this one.

[2022-11-14 18:45] michaelhaxhiu commented on #11132
Ok I've read through this thread. @srikarparsi if you are looking to pass this off, can you post in a slack channel and link here? Let's get this handed off today if we can to keep progress on the `daily` nature.

[2022-11-14 18:46] syedsaroshfarrukhdot commented on #10283
@johncschuster I haven't been paid yet.

[2022-11-14 18:46] Beamanator commented on #12616
Ooh yes I think so @laurenreidexpensify 👍 Looks like Shawn comes back from OOO today, so maybe we can give him a few days 😅

[2022-11-14 18:46] JmillsExpensify commented on #11795
Not really related to anything, but I think it would be ideal if we had either BZ members @twisterdotcom or @zanyrenney assigned to this issue, since they are working on the related list improvements that are coming with Account Settings – though of course if @isabelastisser would like to stay assigned that's fine too!

[2022-11-14 18:47] Beamanator commented on #9703
I mean those two issues you linked are both solving the same problem (image caching) but for different platforms - and I don't think we can work on this one until caching is working on all platforms.

[2022-11-14 18:50] marcaaron commented on #12290
My 2 cents I really don't think this is a requirement for this issue

[2022-11-14 18:53] Beamanator commented on #10792
@thesahindia mentioned he's going ooo [here](https://github.com/Expensify/App/pull/12648#issuecomment-1314123502) so trying to get new C+

[2022-11-14 18:53] Someone-here commented on #12018
### PROPOSAL

**Option 1: (Web)**
We can call the `this.togglePassword` method in the `onMouseDown` event as well as `onPress` event. This will preserve the cursor position on all devices except iOS.

![● BaseTextInput js - app  WSL_ Ubuntu  - Visual Studio Code 15-11-2022 00_18_08](https://user-images.githubusercontent.com/77237602/201741646-50a5b334-7cb8-4c03-87a3-896d5176ae27.png)

In iOS, the

[2022-11-14 18:55] AndrewGable commented on #10550
Still on hold.

[2022-11-14 18:56] parasharrajat commented on #12554
I gave a thought to https://github.com/Expensify/App/issues/12554#issuecomment-1312248080 and I disagree with the suggestion of removing the focus target from the message item.

There is a very specific reason for it.
1. User can tab over the message and use Keyboard to open the context menu. This can also be done if you focus on the name or avatar of the message but not all messages have avatars

[2022-11-14 18:59] deetergp commented on #11086
@Pujan92's proposal looks good to me 👍

[2022-11-14 19:01] roryabraham commented on #12662
Android `1.2.27-3` should be available now

[2022-11-14 19:02] kavimuru opened #12717 "Search page shows blank list after login while trying to open that deeplink url reported by @0xmiroslav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Logout if already logged in
2. Visit https://new.expensify.com/search
3. Login with any account

## Expected Result:
Search p

[2022-11-14 19:04] parasharrajat commented on #12554
I am going to revert the Regression PR https://github.com/Expensify/App/pull/8443 which is causing a trail of regressions.

cc: @puneetlath

What do you think?

[2022-11-14 19:05] abekkala commented on #9459
Ok. I'll keep it at Adele's last updated price and hope for some proposals!

[2022-11-14 19:05] davidcardoza commented on #10888
@Luke9389 bump

[2022-11-14 19:06] trjExpensify commented on #9703
Excellent, updated. Thanks!

[2022-11-14 19:08] s77rt commented on #12554
@parasharrajat
I still think my proposal is better than the revert, any reasons why you think we should revert instead?

Also i think we should close this issue and track only on #12010

[2022-11-14 19:08] kavimuru opened #12719 "[HOLD #11768][$1000] First name, last name not pre-filled on Profile page after login while trying to open that deeplink url reported by @0xmiroslav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Logout if already logged in
2. Visit https://new.expensify.com/settings/profile
3. Login with any account

## Expected Result

[2022-11-14 19:09] michaelhaxhiu commented on #9391
I've been DM'ing with Tom to make sure I follow 100%. Sorry for the earlier confusion on my part all!

Let's focus this GH on #focus-mode please. Since #recent-mode is working as expected and not core to the bug report. I think we should arrive here.

[2022-11-14 19:12] abekkala commented on #12716
I was not able to reproduce taking the steps outlined above.

@0xmiroslav @kavimuru
Can you clarify reproduction steps and/or to check the reproduction steps again.

[2022-11-14 19:13] Beamanator commented on #11321
@hannojg still working on a fix! 👍

[2022-11-14 19:13] aldo-expensify commented on #11487
PR merged

[2022-11-14 19:13] parasharrajat commented on #12554
I think all of these issues originated from that PR and closing it gets rids of them so it is better.

If you think we should solve https://github.com/Expensify/App/issues/7853, you can open a new discussion on slack to reopen that.

Thanks.

[2022-11-14 19:15] NikkiWines commented on #12693
Looks like a good external issue! Applying the appropriate label

[2022-11-14 19:18] thienlnam commented on #11146
Seems like we've closed a lot of related issues - is this bug still occuring @kavimuru?

[2022-11-14 19:19] michaelhaxhiu commented on #12435
Can we make sure to always hire the Contributor on the GH itself next time @NicMendonca ?

[2022-11-14 19:19] JmillsExpensify commented on #10550
Added myself so that I can keep track of this one during the sequence numbers implementation.

[2022-11-14 19:19] s77rt commented on #12554
@parasharrajat Understood. I was for the revert at first but then I found that the issue effect every key not only SHIFT.
Click on any chat, press any key, the border appears, it's a little annoying. If you think it's still acceptable then I'm okay with the revert.

[2022-11-14 19:21] parasharrajat commented on #12554
Yup, I discussed that already. We are good to keep that for now. But as I said, if you have a better solution in mind, you can raise the same on slack and tag the previous issue.

[2022-11-14 19:22] JmillsExpensify commented on #12308
Yes, thanks @mvtglobally! Let us know how testing goes.

[2022-11-14 19:24] abekkala commented on #12716
Chrome was used when attempting to reproduce

[2022-11-14 19:25] davidcardoza commented on #11818
@Puneet-here Sent

[2022-11-14 19:25] #11818 closed

[2022-11-14 19:27] davidcardoza commented on #12512
Job posted - https://www.upwork.com/jobs/~01182973b76b5df6f6

[2022-11-14 19:30] JmillsExpensify commented on #11094
On that note, it's been a week and it's time to double price. We're still open for proposals! Now at $1,000.

[2022-11-14 19:32] Beamanator commented on #12603
Ok nice so if this works, we could potentially make a pretty simple `Image` wrapper component that has the files you mentioned ^, yeah? And maybe as a Part 2, submit a PR to `react-native-fast-image` to get web working (maybe with the same strategy).

I'm just thinking we can get it working ASAP in App, then we can clean up later. I think it's better to implement the fix in App quick instead of wa

[2022-11-14 19:36] thesahindia commented on #12693
@Puneet-here's [proposal](https://github.com/Expensify/App/issues/12693#issuecomment-1312396358) looks good, but I don't have my mac right now so I haven't tested it. I will test this in the morning.

[2022-11-14 19:37] JmillsExpensify commented on #11277
Thanks @sobitneupane! Question how did you feel about the testing steps split up the way they currently are, essentially the two expected/actual results? Was that clear for you?

[2022-11-14 19:37] Beamanator commented on #12603
So @kidroca it seems like we are going with this step by step plan:
1. You're making web & desktop cache images by fixing `react-native-web` (this issue)
2. @thomas-coldwell is upgrading `iOS` (& maybe Android) caching via `react-native-fast-image` (https://github.com/Expensify/App/pull/12648)

Once these are implemented, "caching images should work". Then we can work on:
1. Using `react-native-fa

[2022-11-14 19:38] Luke9389 commented on #12670
Thanks for providing more detail on the reproduction steps @kbecciv

[2022-11-14 19:38] srikarparsi commented on #11132
sounds good, thanks @michaelhaxhiu. I just posted [here](https://expensify.slack.com/archives/C03TQ48KC/p1668454666959519)

[2022-11-14 19:38] JmillsExpensify commented on #11277
Then separately, it's been a week, so time to update the price of this issue. Now we're at $2,000. Upwork job is here: https://www.upwork.com/jobs/~0164d0286c2126643f.

[2022-11-14 19:38] Luke9389 commented on #12446
workin on this one this week. PR is pretty much there, just held on some font PRs.

[2022-11-14 19:39] marcaaron commented on #12574
I think we should just revert my [PR here](https://github.com/Expensify/App/pull/12169). It's more important for the offline behavior to work than the new marker behavior to work. My solution to fix it was flawed and should be reverted.

[2022-11-14 19:39] mananjadhav commented on #9391
Okay got it. Thanks for clarifying. With this I think @mollfpr's video looks like an expected output for [mWeb](https://github.com/Expensify/App/issues/9391#issuecomment-1312363019)

@michaelhaxhiu @trjExpensify

[2022-11-14 19:40] neil-marcellini commented on #9581
Good to go from me as well!

[2022-11-14 19:41] JmillsExpensify commented on #10670
On that note, it's been a week, so it's time to double the price of this issue. Now we're at $2,000. Upwork job is here: https://www.upwork.com/jobs/~01eb64954ff199be44.

[2022-11-14 19:41] joekaufmanexpensify commented on #2727
Great, thanks! Hired.

[2022-11-14 19:43] neil-marcellini commented on #12000
I'm going to hold this issue on the tracking issue and I'll give daily updates there.

[2022-11-14 19:44] parasharrajat commented on #8592
I am reviewing it. I will post an update tomorrow.

[2022-11-14 19:46] JmillsExpensify commented on #11809
Still waiting on proposals! We're now at $1,000. Upwork job is here: https://www.upwork.com/jobs/~010cf9eb9f9b6cb3b2.

[2022-11-14 19:47] jliexpensify commented on #11413
Keeping open for payment to C+ as discussed: https://expensify.slack.com/archives/C02NK2DQWUX/p1668132124601409

[2022-11-14 19:47] abekkala commented on #9581
@neil-marcellini I'd like to confirm that you'd like mollfpr and santhosh-sallavel hired for this in upwork?

[2022-11-14 19:48] joekaufmanexpensify commented on #2727
@parasharrajat payment sent and contract ended.

[2022-11-14 19:49] joekaufmanexpensify commented on #2727
Closed job in upwork. Closing as payment has been issued, and this is all set!

[2022-11-14 19:49] #2727 closed

[2022-11-14 19:51] muttmuure commented on #11801
Hired both @rushatgabhane as reporter you also need to apply

[2022-11-14 19:52] parasharrajat commented on #11818
There was no Upwork job created for this @davidcardoza. C+ is still waiting for payment on this.

[2022-11-14 19:52] joekaufmanexpensify commented on #10091
I don't have an android device, but happy to source additional reproduction attempts if that'd be helpful!

[2022-11-14 19:52] marcaaron commented on #12635
Pretty sure this is a dupe of this issue -> https://github.com/Expensify/App/issues/12574

I'm reverting my PR here to fix the new marker since I think that's where the trouble started. It does look like there's maybe some other issue related to authentication happening being discussed here. But we should explore it separately since those changes could have far reaching implications.

[2022-11-14 19:53] joekaufmanexpensify commented on #10091
@Julesssss this [comment ](https://github.com/Expensify/App/issues/10091#issuecomment-1313552567) means you're thinking this may be a native android issue rather than something in our app that we can fix. Is that right?

[2022-11-14 19:53] JmillsExpensify commented on #11701
Open source community - we're still awaiting for approved proposals! It's been a week, so we're doubling the price to $500. Upwork job is here: https://www.upwork.com/jobs/~010b091da824bb7cb2.

[2022-11-14 19:57] JmillsExpensify commented on #12578
@adeel0202 Thanks for reporting. Can you clarify if this is in the simulator? Or if it's on an actual device, the model and Android version?

[2022-11-14 20:00] amyevans commented on #12574
Yeah, agreed that the new marker behavior is less important, thanks @marcaaron!

[2022-11-14 20:01] JmillsExpensify commented on #12635
Oh thanks for making the connection! Ok, so let's align in this issue what to do for the authentication issue for the time being then, sound good? I can update the title and what not, though we should also really decide if we're going to do anything about this at the moment. These bugs are tricky, as you rightly note. If we aren't going to move forward on the authentication side, then probably bet

[2022-11-14 20:01] marcaaron commented on #11726
I think this one will need to stay open based on the conversation [here](https://github.com/Expensify/App/issues/12574#issuecomment-1314277961). Unfortunately, some changes in my PR to fix this issue will need to be reverted.

After that, I'm honestly not too sure what possible solution to apply. There is a general conflict between: showing cached content as fast as possible and showing an accurat

[2022-11-14 20:04] JmillsExpensify commented on #12578
Ok that's helpful, though it also means that the next steps are less clear, as at the moment we are not focusing on mobile crashes that occur less than ten times. It should also be captured though in [this list](https://github.com/Expensify/App/issues?q=is%3Aissue+investigate+crash+in%3Atitle+), which is the sum of all crashes captured by Firebase.

[2022-11-14 20:08] abekkala commented on #12511
Ok, I just wanted to make sure that I wasn't missing a task that needed to be done.

[2022-11-14 20:11] j-piasecki commented on #8503
Hi 👋, I'm Jakub from SWM. Together with @WoLewicki, we'll be working on enabling the new architecture.

[2022-11-14 20:18] kavimuru opened #12721 "Keyboard doesn't disappear when switch screen mode from landscape to portrait reported by @aimane-chnaif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app in landscape
2. Open a chat and type something in the compose box
3. Switch to portrait

## Expected Result:
Keyboard

[2022-11-14 20:19] parasharrajat commented on #10414
It will take some time to review a few pages. This must be affecting more pages than listed on the issue.

Funny thing: All of these were working fine a few months back. (Needs RCA).

Stay tuned.

[2022-11-14 20:24] kavimuru opened #12723 "[HOLD for payment 2022-12-20] [$1000] Zooming out using the slider bar in edit photo does not properly display the image reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:-

1. Go to settings > Profile > Edit photo
2. Upload a photo
3. Zoom and drag image to its edge
4. Zoom out image through slider

[2022-11-14 20:28] kavimuru opened #12724 "[$1000] Dev -Android - Console error on app launch"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Actions Performed

1. Launch android app.

## Expected Result:
No console errors

## Actual Result:
Console error ERROR  Warning: Failed prop type:

[2022-11-14 20:31] s77rt commented on #10414
@parasharrajat

I think you are wrong. Nothing was working. And you just reminded me, the reproduced issue you showed [here](https://github.com/Expensify/App/issues/10414#issuecomment-1238555503) is not related to this issue. In your case the input is not focused at all. On our cases the input is focused (kinda) but the keyboard does not open. My proposal fixes your issue too.
I see you are using

[2022-11-14 20:33] s77rt commented on #10414
@kbecciv sorry for the ping, can you apply my proposal and retest?

[2022-11-14 20:34] kevinksullivan commented on #10830
Should this still be held @Beamanator ? We'll also see if this was not reproducible for a second week soon, which may mean we close it.

[2022-11-14 20:34] roryabraham opened #12726 "[HOLD for payment 2022-11-29] [$250] [Cleanup] Remove unnecessary BasePicker component"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem
The `Picker` component has an internal `BasePicker` component that's not necessary / serves no purpose, since `Picker` itself does not pro

[2022-11-14 20:35] kavimuru commented on #12716
@abekkala Video here.

https://user-images.githubusercontent.com/43996225/201760419-31d00408-3c75-48da-910e-1083a58d1e0d.mp4

[2022-11-14 20:36] kavimuru commented on #11146
@thienlnam Will check with team and update here.

[2022-11-14 20:36] jliexpensify commented on #10905
@Santhosh-Sellavel and @tgolen - I've done the regression test GH, and have tagged you both in the checklist. Cheers!

[2022-11-14 20:38] Puneet-here commented on #12714
### Proposal

The issue is also reproducible while splitting bill or requesting money

To fix this we can show a loader at button like this
[code]
https://github.com/Expensify/App/blob/c55d5e44eed2fb6216209458c1572cb8719f3740/src/components/IOUConfirmationList.js#L301-L312

[2022-11-14 20:38] kevinksullivan commented on #11273
Also can't reproduce. Paying out @dhairyasenjaliya for reporting and closing this out.

[2022-11-14 20:38] #11273 closed

[2022-11-14 20:41] parasharrajat commented on #9181
I will be back on this at noon IST.

[2022-11-14 20:43] sophiepintoraetz commented on #12651
Hey @yuwenmemon - any thoughts here?

[2022-11-14 20:46] kbecciv commented on #10414
Sorry, @s77rt This is not my job.

[2022-11-14 20:48] Puneet-here commented on #12726
@roryabraham , can I test this?

[2022-11-14 20:51] puneetlath commented on #11423
In that case, I think the offending PR would be the one that created this feature.

[2022-11-14 20:52] kevinksullivan commented on #12721
https://www.upwork.com/jobs/~012fa3bae9c27d0eb4

[2022-11-14 20:52] kevinksullivan commented on #12721
@aimane-chnaif sent offer for reporting!

[2022-11-14 20:54] johncschuster commented on #10283
@syedsaroshfarrukhdot Sorry! I _think_ I've done it now. Can you please check again?

[2022-11-14 20:54] kbecciv commented on #12594
@muttmuure No, you can create regular public account.

[2022-11-14 20:55] syedsaroshfarrukhdot commented on #10283
Yes, just received it.

[2022-11-14 20:56] puneetlath commented on #12004
Just tested on staging and looks like it's working so I think we're good to go here. Thanks @MariaHCD!

[2022-11-14 20:56] #12004 closed

[2022-11-14 20:59] Luke9389 commented on #12670
I'm blocked on this because I'm [unable to skip the Onfido step](https://expensify.slack.com/archives/C03TQ48KC/p1668459051592419) on dev (not staging). @roryabraham @yuwenmemon

[2022-11-14 20:59] bulatgab commented on #10414
@s77rt FYI, it fixed the issue on my end.
(It doesn't matter much though - I'm not an Expensify employee, I'm just a fellow contributor and I was also looking into this issue. You will need to wait for someone else to answer 🙂)

[2022-11-14 21:00] johncschuster commented on #12432
Sweet! Thanks for taking it on, @amyevans! I'm going to go ahead and unassign myself. Let me know if you need me to jump back in!

[2022-11-14 21:01] strepanier03 commented on #12715
Aaaah, I had a hard time reproducing this one but got to it in the end. The trick is you have to have a completely blank bank setup before trying to test.

In this case, I was able to reproduce it after clearing out the info that was already there. If anything is in the fields, the link works the first time. This makes me believe the error (of not having a routing number) is taking precedence over

[2022-11-14 21:02] s77rt commented on #10414
@bulatgab Thanks for taking the time and testing. Was it on real hardware or simulation?

[2022-11-14 21:05] yuwenmemon commented on #12651
@hungvu193 The jist of your proposal makes sense although I think we could easily DRY the code up a bit by reusing the logic we already have to get the initial current time.

[2022-11-14 21:05] johncschuster commented on #10283
Thanks for confirming that! Sorry for the flub on my part!

[2022-11-14 21:05] bulatgab commented on #10414
It was on a simulator (iPhone 13, iOS 16.1). I applied your changes to the latest staging `3bf0b729`

[2022-11-14 21:06] aneequeahmad commented on #12043
### PROPOSAL

As per discussion [above](https://github.com/Expensify/App/issues/12043#:~:text=The%20current%20proposals%20are%20complex%20and%20it%27s%20not%20clear%20that%20they%20are%20worth%20doing%20right%20now.%20I%20proposed%20an%20alternative%20solution%20to%20solve%20the%20bug%20which%20is%20to%20just%20stop%20allowing%20tab%20to%20emoji) `stop tab on emoji` is the fix.

**Solution:**
We c

[2022-11-14 21:06] nurlanmen502 commented on #12482
@kbecciv can you upload video instead of screenshot?
I am unable to re-produce on my dev.

[2022-11-14 21:07] strepanier03 commented on #12715
Internal job post: https://www.upwork.com/ab/applicants/1592262964342812672/suggested

----

External job post: https://www.upwork.com/jobs/~0199da084980259e9d

[2022-11-14 21:09] kbecciv commented on #12482
Please check the video.

https://user-images.githubusercontent.com/93399543/201766022-c27084ee-2029-4341-acb9-0586ba682e75.mp4

[2022-11-14 21:11] shawnborton commented on #12445
@grgia Is there a PR that we are currently reviewing for this? If so, could you please add me as a reviewer? Thanks!

[2022-11-14 21:11] roryabraham commented on #12234
PR was merged, waiting for deploy & QA now

[2022-11-14 21:11] strepanier03 commented on #12715
@mdneyazahmad - As the issue reporter, feel free to apply for the [job](https://www.upwork.com/jobs/~0199da084980259e9d) and share your Upwork profile with me so I can hire you for reporting.

[2022-11-14 21:12] puneetlath commented on #12554
@parasharrajat I agree let's revert that. I think tha

[2022-11-14 21:14] roryabraham commented on #12189
There are a lot of different ideas floating around in here, probably too many to the point where we need to chat about this in slack and come to consensus, and for that I think we need an internal champion. While I'm definitely interested, I don't have the bandwidth this week and @stitesExpensify is out of office, so I'm going to briefly put this on HOLD and make it a weekly. It's not super urgent

[2022-11-14 21:14] shawnborton commented on #12440
How is progress going on this one? Can you provide an update @grgia @Luke9389? Thanks!

[2022-11-14 21:16] roryabraham commented on #11689
Whoa, super sorry I missed this everyone.

Yes, prevent delete as well as edit.

[2022-11-14 21:17] roryabraham commented on #7284
Waiting for proposals

[2022-11-14 21:19] roryabraham commented on #11524
Still on HOLD

[2022-11-14 21:22] roryabraham commented on #11262
Since https://github.com/Expensify/App/pull/12219 was deployed to production, I'm guessing this issue is no longer reproducible.

[2022-11-14 21:27] roryabraham commented on #11262
Sorry @slafortune, should've used the `Bug` label. Confirmed that this is still reproducible.

[2022-11-14 21:30] marcaaron commented on #11515
Sorry, I am having some difficulty comprehending the proposal. I am getting that it might have something to do with freeze and the drawer state, but the root cause and solution are still unclear.

@flodnv First thought that comes to mind is that **[we are planning to deprecate the drawer navigator very soon](https://expensify.slack.com/archives/C01GTK53T8Q/p1668109720905119)**. The "freeze" elemen

[2022-11-14 21:33] grgia commented on #12440
The colors are pretty much done right now, I'll likely need to merge main and do some final tweaking when everything is ready and we decide to merge in all the core branding.

[2022-11-14 21:35] shawnborton commented on #12443
Could we please try just implementing the woff files? I think it's pretty standard practice to only use these file types for serving up web/mWeb fonts.

[2022-11-14 21:37] Luke9389 commented on #12670
Hmm, I'm now experiencing the infinite spinner just after following the SO steps [here](https://stackoverflow.com/c/expensify/questions/342/525#525) (to create an OPEN bank account).

[2022-11-14 21:42] Beamanator commented on #10830
I guess it's only "not on hold" if someone can reproduce, if it's still reproducible @parasharrajat mentioned a possible cause [here](https://github.com/Expensify/App/issues/10830#issuecomment-1310442119) but if it's not reproducible I think we should close

[2022-11-14 21:44] grgia commented on #12258
Update, I started working on this again on Friday- I'll get a WIP PR up sometime today to track progress

[2022-11-14 21:51] Luke9389 commented on #12670
@kbecciv can you start with a fresh account and see if you get the same thing?

I did this:
3. To create an OPEN bank account (this state means the bank account is ready for reimbursement):

- Add Bank Account (On new dot enable Settings > Preferences > Use Secure staging server to hit our staging secure sandbox):

    - Click "Log into your bank"

    - Plaid modal - Choose Wells Fargo (use Bank

[2022-11-14 21:52] kevinksullivan commented on #9737
@roryabraham should we pass this one back to the pool or find someone else to pick it up, given sequence numbers is a higher priority that you will continue to be working on?

[2022-11-14 21:53] grgia commented on #12259
Could I get the files for the default avatars? And then after that, if you want to send the workspace files along with an example letter SVG I could test out the random color idea :)

[2022-11-14 21:55] grgia commented on #12445
done!

[2022-11-14 21:56] mountiny commented on #12004
Oops, luckily i dont have that chore. Wondering if it created some bugbot issue 🤔

[2022-11-14 21:59] twisterdotcom commented on #11795
I won't steal all the credit from Isa, but I'll self-assign too.

[2022-11-14 22:01] aneequeahmad commented on #9737
@roryabraham, i know you have much pressing priorities and the remaining `test case work` of this PR isn't worth your time.

Please allow me to work on this. I will not take the compensation for bonus or even if you think i'm not eligible for the `payment of bug fix` i'll accept that too. Will do the requested changes in this week.

Again apologies for dragging this PR to this point.

cc: @kevinks

[2022-11-14 22:05] strepanier03 commented on #12151
@MonilBhavsar - Just a friendly bump on @eVoloshchak's comment.

Based on the recreation video in the OP post though, I think the "workspace expense" room is the one named "Workspace", right above the admin and announce rooms.

<img width="186" alt="2022-11-14_14-04-55" src="https://user-images.githubusercontent.com/10925636/201777807-2541ac1c-7cc8-49db-8e62-02d551ba8562.png">

If you agree with t

[2022-11-14 22:19] trjExpensify commented on #10792
Upwork job here for you for the C+ review, @mananjadhav: https://www.upwork.com/jobs/~013a8690a2c460efd2

[2022-11-14 22:21] henriquefalconer commented on #12554
Alright @parasharrajat! Thanks for considering my proposal 😉

[2022-11-14 22:23] francoisl commented on #12600
Yes, you really have to open the Display Name page on two devices first.

Here's how I did it:

1. Open http://localhost:8080/settings/profile/display-name in two sessions/browsers/etc
2. Edit your name in one of them, save

https://user-images.githubusercontent.com/2229301/201780322-2b8a031e-4a7b-426c-ae9d-a80bd372cb50.mov

[2022-11-14 22:23] trjExpensify commented on #6527
Okay, cool. So there's no point us having this hang out. I'm going to close it, and then @parasharrajat I've sent you the reporting offer on the [Upwork job](https://www.upwork.com/jobs/~013a8690a2c460efd2) linked to [this one](https://github.com/Expensify/App/issues/10792).

[2022-11-14 22:24] #6527 closed

[2022-11-14 22:25] parasharrajat commented on #12554
Unfortunately, there is no clean solution available for this. I was happy to do https://github.com/Expensify/App/issues/12554#issuecomment-1309534644 but it still has one issue so reverting is a good call.

Looking forward to your contributions on other issues.

[2022-11-14 22:29] mountiny commented on #10654
@Santhosh-Sellavel Can you by any chance find the PR which updated the package but did not remove the custom handler? thank you, I would look tomorrow

[2022-11-14 22:38] hammad-6304 commented on #11463
**Proposal**
Hi hope you are doing great, I saw this job posting on Upwork.
I reproduce this issue on different browser eg Safari and chrome and successfully able to **resolve** this issue.

This issue occurs only on mobile browsers, React Web does not provide _KeyboardAvoidingView_ component by default so we have to create it manually.

Whenever keyboard pops-in in mobile browsers it triggers the

[2022-11-14 22:48] strepanier03 commented on #9253
Okay, based on what I've read and understand, the [GH](https://github.com/Expensify/App/issues/11768) for getting in control of navigation is holding this GH for the time being.

The last comment on the GH says a DD will be coming soon. I'll follow along.

[2022-11-14 22:48] trjExpensify commented on #9391
What @mollfpr's video highlighted is that the below happens on mWeb (but not Web):

Do you agree that's a bug @mananjadhav? Granted, It's a separate issue entirely, so should be reported in #expensify-bugs for visibility and QA reproduction, but I can repro it across both `focus` and `most recent` modes, empty chat or not on the latest staging `v1.2.27-3`

https://user-images.githubusercontent.com

[2022-11-14 22:48] parasharrajat commented on #12043
@aneequeahmad What happens after the user has used arrow keys to highlight an emoji and then pressed Tab? I think it will focus on the emoji via Tab.

[2022-11-14 22:49] danielrvidal commented on #11817
@kidroca I think this should cover them all! Can you let me know if anything I wrote looks off for the cases you were highlighting.

**Update Available**
The new version will be available shortly. We’ll notify you when we’re ready to update.
[Sounds good]

**Update Not Available**
There is no update available as of now! Check again at a later time.
[Okay]

**Update Check Failed**
We couldn’t look

[2022-11-14 22:50] strepanier03 commented on #8236
Back from ooo and all caught up. Just a friendly bump @Julesssss about the comments from @aimane-chnaif. Will check in tomorrow for actionable steps on my end.

[2022-11-14 22:51] parasharrajat commented on #9941
Tried the new version. There are a few errors. I will try to fix those. PR is updated to the latest.

[2022-11-14 22:52] Beamanator commented on #12600
Confirmed this is happening, been discussing with @francoisl & @aldo-expensify since we've all been looking into similar things

[2022-11-14 22:53] parasharrajat commented on #12645
Most probably a regression. Looking.

[2022-11-14 22:56] aneequeahmad commented on #12043
@parasharrajat Ahhhh yes, you're right this will happen. So instead of adding more checks its better to now allow tab at all on emoji picker since focus state is managed. This would be enough.

if(keyBoardEvent.key === 'Tab') {
                keyBoardEvent.preventDefault();
                return;
}

[2022-11-14 22:59] aneequeahmad commented on #12043
Also arrow keys can be used to focus on Search input again from emoji picker menu.

So we should prevent Tab to work at all on emojiPicker.

[2022-11-14 23:03] kavimuru commented on #11146
@thienlnam Issue is still able to reproduce.

https://user-images.githubusercontent.com/43996225/201786176-0991c523-3a7d-43b6-8977-bff120e8fc54.mp4

[2022-11-14 23:05] mountiny commented on #12292
Actually if you have not started, I will snatch this Bug since I have already did some investigation into this, it only makes sense (unless you have done some progress already @marcochavezf)

I will have to focus on one internal thing tomorrow but if time will allow I will continue investigating where this is breaking.

[2022-11-14 23:08] arielgreen commented on #8311
@parasharrajat please review.

[2022-11-14 23:10] aldo-expensify commented on #12243
This is another somewhat related issue: https://github.com/Expensify/App/issues/12600

Also, @Beamanator told me that a new page with a form to update the timezone was on the works here: https://github.com/Expensify/App/pull/12201. As this is an edge case (not high priority), I think we should wait for that PR to be finished before looking more into this, as somethings may get resolved.

Meanwhile

[2022-11-14 23:11] #12431 closed

[2022-11-14 23:16] strepanier03 commented on #12238
Will check back in on the 16th to issue payment.

@0xmiroslav - Please apply for the job [here](https://www.upwork.com/jobs/~011918eba2b53da485) @0xmiroslav and I'll let me know here or in Slack once you do. Cheers!

[2022-11-14 23:17] Delgee commented on #12715
### Proposal

### Root cause
In the form component, input is validated on 'blur' event and error text is added on the bottom of the element which changes the link's position before the mouse clicks release. So link click is not counted.
### Solution
Validating input on 'blur' event and adding error text bottom of input both of them are correct logic. I think changing these logic or jumping to the

[2022-11-14 23:19] strepanier03 commented on #11954
Following along [here](https://github.com/Expensify/App/issues/11321) for updates and a fix.

[2022-11-14 23:23] Luke9389 commented on #12670
Hmm, OK so it looks like the web spinner is happening when you add a VBA that you already have. This screenshot is from an earlier branch that doesn't have the spinner problem (so we can see the error). If you add a VBA successfully (say, on a totally new account, this doesn't happen).
<img width="1306" alt="Screen Shot 2022-11-14 at 2 45 56 PM" src="https://user-images.githubusercontent.com/49007

[2022-11-14 23:25] s77rt commented on #12667
### Proposal
[code]

### Details
The issue: Pressing ENTER triggers onSelectRow function call on both the browser focused row (TAB; the one with the border) and the option selector implemented focus (the one that has a background).
Reason: We listen to ENTER key press on BaseOptionsSelector (intended) but also on OptionRow (TouchableOpacity) (not intended).
Fix: Simply filter the events passed to

[2022-11-14 23:27] Beamanator commented on #12243
Agreed that this specific issue can be closed b/c we're redesigning the Timezone page (in the PR linked ^ - cc @cristipaval )

And I also agree it makes sense **NOT** to necessarily auto-update forms in all cases, I think @francoisl might bring up that convo in slack to discuss 🙏

[2022-11-14 23:27] fedirjh commented on #12715
This is a regression from #12513

[2022-11-14 23:28] thienlnam commented on #11146
Thank you @kavimuru, going to remove the hold on this issue so we can get some proposals

[2022-11-14 23:29] Luke9389 commented on #12670
I'm starting to suspect these might be two different infinite spinners. Testing the original post from above now that I have successfully linked a VBA. (i.e. I'm running iOS to see if the spinner occurs).

[2022-11-14 23:29] thienlnam commented on #11146
Issue is back open for proposals!

[2022-11-14 23:32] michaelhaxhiu commented on #12645
Job posted to upwork btw - https://www.upwork.com/jobs/~01ef6eb70da98d904e

[2022-11-14 23:33] strepanier03 commented on #11863
Following along with the discussion, it's still ongoing, and will check in tomorrow.

[2022-11-14 23:36] IvanDuran02 commented on #12721
Using the keyboard and Dimensions component from react-native library we can check the dimensions of the device. If the device is longer than tall we can assume its landscape and vice versa. From there we can add an eventListener to close the keyboard when the dimensions change.

I have a working prototype in my fork.

[2022-11-14 23:37] neil-marcellini commented on #12315
Waiting for proposals based on https://github.com/Expensify/App/issues/12315#issuecomment-1308203506.

[2022-11-14 23:38] vladamx commented on #11398
**Proposal**

***Problem***

What i think is happening here is that we actually don't have any built in zooming for pdf on web.

We are just using react-pdf to **display** the pdf in a Page(container exported from react-pdf) that always has the same width which gives 1:1 content ratio. No zoom gestures or zoom controls are implemented inside react-pdf itself.

If someone managed to zoom the conten

[2022-11-14 23:39] roryabraham commented on #11262
Got a PR to fix this halfway: https://github.com/Expensify/App/pull/12728

[2022-11-14 23:39] Beamanator commented on #11576
Latest, agreed-upon plan is here: https://expensify.slack.com/archives/C01GTK53T8Q/p1668468842096049?thread_ts=1666881832.702589&cid=C01GTK53T8Q

[2022-11-14 23:42] AndrewGable commented on #11711
I am attempting to split the e2e tests up from the rest of the source code to reduce the size of the ZIP we send to the Android phone via AWS. However, I have been blocked today by a [broken Android build](https://expensify.slack.com/archives/C01GTK53T8Q/p1668457456678299).

[2022-11-14 23:57] neil-marcellini commented on #12511
I found another App PR that is already updating the dependency to a newer version so I have asked if they can include the test steps and mark this as a fixed issue in the PR description.

[2022-11-14 23:57] peterklamka commented on #12715
### Proposal
### Root cause
Agree with @Delgee

### Solution
https://stackoverflow.com/questions/17769005/onclick-and-onblur-ordering-issue
Because OnMouseDown Event will be triggerred earlier than onBlur, we added onMouseDown event on TextLink component .

https://user-images.githubusercontent.com/118206313/201792619-9ae2311c-3acc-46b2-830c-991e649bc080.mp4

[2022-11-14 23:58] roryabraham commented on #11262
Second PR to fix this the rest of the way: https://github.com/Expensify/Web-Expensify/pull/35572

[2022-11-15 00:03] Luke9389 commented on #12670
I was able to use different data to get passed the above screen, but now I'm stuck on this one (I've added a validated secondary login, and this still shows up).

<img width="374" alt="Screen Shot 2022-11-14 at 4 02 15 PM" src="https://user-images.githubusercontent.com/49007721/201793465-ea1a9d5c-745c-440a-9729-be12bc455d44.png">

[2022-11-15 00:04] trjExpensify commented on #11797
Settled up, checklist complete.

[2022-11-15 00:04] #11797 closed

[2022-11-15 00:05] aldo-expensify commented on #12508
Yep, I agree, we can wait for the fix to reach IOS as this doesn't really block our development and the bug doesn't happen in production/staging. I looked a bit into trying to avoid the crash, but I failed find a way.

[2022-11-15 00:05] #12508 closed

[2022-11-15 00:09] Luke9389 commented on #12670
When I run iOS, I also get the above screen. So far, I've not been able to reproduce this locally as described in the description. I haven't seen a single infinite spinner just yet.

[2022-11-15 00:10] peterklamka commented on #12482
@kbecciv could I get expensifail account for testing?

[2022-11-15 00:16] mollfpr commented on #9391
@trjExpensify Already reported https://github.com/Expensify/App/issues/8126

[2022-11-15 00:20] kerupuksambel commented on #12511
Hi, sorry but I wanted to ask a question regarding Upwork job on this issue; as the bug reporter, after getting the offer from Expensify in Upwork, is it okay to just clicking "Submit Work" right after the offer accepted? Or should I waited for a period of time beforehand? Thanks in advance.

[2022-11-15 00:26] marcaaron commented on #12635
It does sound like the cases where chats are not loading _at all_ are due to an expired `authToken`. I can add those changes into my PR and test it out to get this done quickly. @mollfpr we'll of course compensate you for spotting this.

[2022-11-15 00:29] hungvu193 commented on #12651
Yeah, I agree, we already had similar logic, I will update my proposal soon

[2022-11-15 00:35] shawnborton commented on #12440
Sounds great. Do you have an ETA for when you'll be done with the final tweaking?

[2022-11-15 00:39] mollfpr commented on #12521
Thank you for the proposals @s77rt, I’ll review it in a couple of hours!

[2022-11-15 00:40] davidcardoza commented on #12726
Job posted - https://www.upwork.com/jobs/~015fc187d3b8e60dfa

[2022-11-15 00:42] shawnborton commented on #12616
I don't particularly love having two loading spinners on the page like that. What if we just had the general loading spinner for the site and then once everything is loaded, we open up the modal?

[2022-11-15 00:45] mateocole commented on #12676
Having an engineer confirm this is something I can mark external

[2022-11-15 00:45] davidcardoza commented on #11818
@parasharrajat I sent you a payment on Upwork for the job. Can you accept?
https://www.upwork.com/jobs/~015fc187d3b8e60dfa

[2022-11-15 00:46] slafortune commented on #11737
Sorry for my delay on this - looking for some help [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1668471936417209) and will get this done by tomorrow!

[2022-11-15 00:46] JmillsExpensify commented on #12635
Cool. I also think we do need to circle back on auth more holistically, as this general consideration keeps biting us.

[2022-11-15 00:48] aldo-expensify commented on #12240
Yes, no accepted proposals

[2022-11-15 00:49] Santhosh-Sellavel commented on #12482
This doesn't require expensifail account, please check readme understand about our app codebase, you will get to know what to do!

[2022-11-15 00:50] marcaaron commented on #12635
Agree

[2022-11-15 00:55] shawnborton commented on #12259
For sure! For the workspace files, what exactly are you looking for there? Do you want SVGs that are like black/white with just black for the BG and white for the letter? I could give you those for A-Z/0-9 and then maybe you can just change the colors programmatically? Or were you thinking to just have pre-colored SVGs, where A just gets one color pairing, B gets a different one, etc etc?

[2022-11-15 00:57] tylerkaraszewski commented on #12131
Still haven't looked.

[2022-11-15 00:57] Santhosh-Sellavel commented on #12710
@marcaaron this might be related to the New Indicator PR can you confirm, thanks!

[2022-11-15 01:00] chiragsalian commented on #12028
Proposal LGTM, feel free to create the PR @wildan-m.

[2022-11-15 01:01] marcaaron commented on #12710
@Santhosh-Sellavel Sorry, I can't determine if it's related. But if you see a clear link I will try to assist however I can.

[2022-11-15 01:01] mvtglobally commented on #12662
Checking off https://github.com/Expensify/App/pull/12679 &  https://github.com/Expensify/App/pull/12688

Outstanding items
PR https://github.com/Expensify/App/pull/11751 is failing https://github.com/Expensify/App/issues/7270 and Native apps are blocked due to https://github.com/Expensify/App/issues/11796. Are we ok to check off?
PR https://github.com/Expensify/App/pull/12157 is failing https://gi

[2022-11-15 01:04] shawnborton commented on #12259
One more thing - do you prefer that the default avatars are served up as circles or full bleed squares? I assume we can crop these appropriately everywhere in the app via styles, and that will give us the cleanest edge... so I'm leaning towards full bleed squares.

[2022-11-15 01:04] marcaaron commented on #12710
I want to say this is a known issue and has never really worked correctly. There are a lot of small edge cases related to deleting chat messages that proved to be difficult to solve when we moved to the new style API.

[2022-11-15 01:06] chiragsalian commented on #11735
@thesahindia @wildan-m, i'm wondering if the solution proposed [here](https://github.com/Expensify/App/issues/12028) could be more generalized to tackle this issue too. Thoughts?

[2022-11-15 01:10] shawnborton commented on #12698
To clarify, would we get rid of the full page loading spinner in lieu of just showing skeleton UI components?

[2022-11-15 01:12] alexpensify commented on #12530
I checked and it looks like this one is still under review. Setting another reminder for Friday and might have to reassign due to being OOO next week.

[2022-11-15 01:14] roryabraham commented on #12587
Assigning to @hannojg to work on the upstream fix, but @hannojg let us know if you don't have time or get stuck

[2022-11-15 01:15] shawnborton commented on #12698
As far as the mockup goes, I guess we'd have something like this?

![image](https://user-images.githubusercontent.com/2319350/201802345-ad724566-478a-4add-948e-170e14f1aacb.png)

[2022-11-15 01:16] aldo-expensify commented on #12567
@lschurr I requested a test to be added/updated for it here: https://github.com/Expensify/Expensify/issues/241841

[2022-11-15 01:23] roryabraham commented on #10148
Haven't seen this issue happening recently

[2022-11-15 01:23] trjExpensify commented on #9391
Dope, so let's close this then and we're done here. 👍 @michaelhaxhiu I'll leave that to you to confirm.

[2022-11-15 01:28] MitchExpensify commented on #12674
Can't reproduce, labelled accordingly

[2022-11-15 01:29] trjExpensify commented on #12007
~Nah. 😛~ Yep, sure thing!

I can't reproduce this on staging web `v1.2.27-3` chrome, nor iOS mWeb. Can you? I'm inclined to close it at this point.

The issue title has `mWeb/Chrome` but all platforms listed in the `Platform`. Can you confirm where this is happening, @kbecciv? I don't have an Android to check if that's the only place we're experiencing this issue.

[2022-11-15 01:33] davidcardoza commented on #12650
My suggestion is to not deviate away from the expected result. Let's go with the second.

[2022-11-15 01:35] alexpensify commented on #12637
@deetergp - Keep me posted if I need to create a job.

[2022-11-15 01:52] roryabraham commented on #12698
Yep, that looks great!

[2022-11-15 01:56] wildan-m commented on #11735
@chiragsalian, I'm not sure, I think this one is a different case, the link is still not selectable after [this solution](https://github.com/Expensify/App/issues/12028#issuecomment-1312003771) is applied.

[2022-11-15 02:09] kbecciv commented on #12007
@trjExpensify Checking with team, will update you shortly

[2022-11-15 02:18] #12495 closed

[2022-11-15 02:37] stephanieelliott commented on #12649
I am able to repro, seems like a good issue for an external contributor!

[2022-11-15 02:38] stephanieelliott commented on #12649
We have a proposal already, @aimane-chnaif can you please review it? https://github.com/Expensify/App/issues/12649#issuecomment-1310961683

[2022-11-15 02:39] jliexpensify commented on #11413
New job post for payment: https://www.upwork.com/ab/applicants/1592242364089561088/job-details

[2022-11-15 02:47] stephanieelliott commented on #12673
Posted to Upwork: https://www.upwork.com/jobs/~016eb35c8e91ec8aa1

[2022-11-15 02:49] stephanieelliott commented on #12709
Posted to Upwork: https://www.upwork.com/ab/applicants/1592349112071221248/job-details

[2022-11-15 03:04] hungvu193 commented on #12651
@yuwenmemon
<b>Updated proposal</b>
I created a new function called: `getParticipantLocalTime` to reuse.

[code]

[2022-11-15 03:22] markarmanus commented on #12645
Cant recreate the issue in any env. and the stack overflow post seems inaccessible to me as i dont have a @expensify email

Attemtped local on Iphone 13 from both native and browser

[2022-11-15 03:25] hungvu193 commented on #12693
Hello there, I'm the reporter of this bug, can you assign me as well?
Seem @kavimuru tagged the wrong person. Here's the slack thread (https://expensify.slack.com/archives/C049HHMV9SM/p1668187065943279).
Should I change my slack name to the same with github name to avoid this?

[2022-11-15 03:33] varshamb commented on #11914
### Proposal

We can make workspace room settings page grayed out by adding `hasErrors`, when there is an error.

const needsOpacity = (isOfflinePendingAction && !isUpdateOrDeleteError) || isAddError || hasErrors;

https://github.com/Expensify/App/blob/cfd0a081a9565f0d3bec6cc8d893028b181f48df/src/components/OfflineWithFeedback.js#L88

<img width="376" alt="Screenshot 2022-11-15 at 8 56 37 AM" src=

[2022-11-15 03:33] conorpendergrast commented on #12120
@sobitneupane bump on getting this proposal making progress 🙏

[2022-11-15 03:37] JmillsExpensify commented on #11814
If no one else can reproduce this issue, we should close. QA hasn't been able to reproduce it for two weeks straight.

[2022-11-15 03:40] JmillsExpensify commented on #11083
@bondydaa I see you commented before we got a proposal (protip: when you assign yourself, remove the `Help Wanted` label in the future). For now, probably makes just as much sense to have @rushatgabhane review and see where we get.

[2022-11-15 03:47] greg-schroeder commented on #11814
Sounds good. I'll close it and close the Upwork issue.

[2022-11-15 03:50] markarmanus commented on #12709
Proposal

Wrapp the fields in the ProfilePage.js under the  the ` <OfflineWithFeedback />` component passing it the proper data from loadash as the pendingAction

This would replicate the behaviour in the Workspace Settings page.

[2022-11-15 03:59] JmillsExpensify commented on #10962
Most of what's written above is still valid this week. I also also linked the tracking issue for [KeyboardAvoidingView](https://github.com/Expensify/App/issues/10273), as we have about 9 bugs there that have gone stale over the last week.

[2022-11-15 04:01] railway17 commented on #11083
Yes, correct!

[2022-11-15 04:08] conorpendergrast commented on #11515
So based on that @marcaaron, it sounds like we can either close this, or keeping it open and on hold until after we have deprecated the "freeze" element and can re-test.

I would tend to think we should keep it on hold to make sure that we are actually fixing the bug. Any opposition to that? And is there a specific issue that we can like to for that?

[2022-11-15 04:19] JmillsExpensify commented on #11321
On that note, @hannojg it would be good to circle back on the plan from here. I don't see a PR linked to this issue, are you working on that somewhere else?

[2022-11-15 04:27] marcaaron commented on #11515
Sounds good to me 👍 The tracking issue for the various navigation issues is here -> https://github.com/Expensify/App/issues/11768

[2022-11-15 04:31] kadiealexander commented on #12047
@thesahindia please post the steps you took to reproduce this error.

[2022-11-15 04:32] kadiealexander commented on #12668
Keeping on hold as mentioned.

[2022-11-15 04:38] yuwenmemon commented on #12713
Looking into this one. Interesting that it only happens on small window frames:

https://user-images.githubusercontent.com/4741899/201827464-36774540-1f1a-4e79-aad8-962ddc779b11.mp4

[2022-11-15 04:54] mollfpr commented on #12521
@s77rt we avoid using `setTimeout` for a solution. Please update your proposal, thank you!

Also, I reproduce the issue in Safari too.

https://user-images.githubusercontent.com/25520267/201828492-0a78ea79-9dda-412f-b54c-5e7f320b87c6.mov

[2022-11-15 04:59] kadiealexander commented on #12448
@kbecciv the username was not bold in your most recent video, which is what this issue is about. Could you please share reproduction steps here and explain what is expected to happen?

[2022-11-15 05:28] greg-schroeder commented on #12315
Internal: https://www.upwork.com/ab/applicants/1592388867882348544/job-details
External: https://www.upwork.com/jobs/~01082e7a459734293a

[2022-11-15 05:35] greg-schroeder commented on #12430
I haven't been able to reproduce this 🤔 I tried uploading an attachment just under the 24mb size limit and refreshing the desktop app didn't cause the repetition shown in the screenshot in the OP

[2022-11-15 05:37] greg-schroeder commented on #12698
Internal: https://www.upwork.com/ab/applicants/1592391200735019008/job-details
External: https://www.upwork.com/jobs/~019f615859c41324f3

[2022-11-15 05:43] roryabraham commented on #12392
The OP does indeed have everything it needs to be worked on imo

[2022-11-15 05:45] smrutiparida commented on #12492
Starting from Electron 20, the sandbox is enabled by default for renderer processes. When we run mainWindow as a separate process, the process is sandboxed. The sandbox limits the harm that malicious code can cause by limiting access to most system resources — sandboxed processes can only freely use CPU cycles and memory.

However running a preload script contextBridge.js require access to nodeJS

[2022-11-15 05:52] mollfpr commented on #12715
Thank you guys, I'll review the proposal today!

[2022-11-15 06:31] roryabraham commented on #11192
PR merged

[2022-11-15 06:36] amyevans commented on #12432
After digging in deeper, I see the current flow for a request > cancel > request is loosely:
- No `reportIOUs_123` Onyx key to start
- `requestMoney()` creates an optimistic IOU report ID on the FE https://github.com/Expensify/App/blob/64eb889dc42ecab504e62d354aca4f7541511ef3/src/libs/actions/IOU.js#L75
- The server pushes Onyx updates including a merge into the `reportIOUs_123` key, another is a

[2022-11-15 06:49] yuwenmemon commented on #12713
Hmmmm... I set a break point here for any sort of modification to the node that wraps the default avatar and it's children (which should capture SVG changes, etc):
<img width="914" alt="Screenshot 2022-11-14 at 10 47 23 PM" src="https://user-images.githubusercontent.com/4741899/201848406-394b1403-5df1-479d-8527-37a89b60a36c.png">

But nothing seems to happen at all when I switch between the narrow

[2022-11-15 07:18] Puneet-here commented on #12715
I think we should do nothing because we will be moving away from the validation at onBlur event after the `Form` refactors, so the issue will be resolved. Discussion [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1659440463665489).

[2022-11-15 07:23] tienifr commented on #12709
# Proposal

## Problem

We don't mark pendingFields === update when updating the profile and we only wrap avatar under the <OfflineWithFeedback /> component, we should wrap all ProfilePage under the <OfflineWithFeedback /> component

## Solution

when user update profile
in Expensify/App/src/libs/actions/PersonalDetails.js
[code]

and then /Expensify/App/src/pages/settings/Profile/ProfilePage.js
w

[2022-11-15 07:30] mollfpr commented on #12715
Thanks for the info @Puneet-here! I do not see any detail on what the `Form` refactor will look like in the thread, so I'm not a hundred percent sure about what you say.

I'll circle back to the team and get some thoughts about it.

cc @Gonals @strepanier03

[2022-11-15 07:51] ctkochan22 commented on #12670
- Logs
    - Not much in the logs -[ Logs of App](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%2276a661a73c3e9825-SJC%22)+AND+timestamp:[2022-11-15T06:47:54.205Z+TO+2022-11-15T08:47:54.205Z]&index=logs_expensify-019518) - [Logs of Auth request](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%2276a6609ffde29825-SJC%22)+AND+timestamp:[2022-11-15T0

[2022-11-15 07:53] Puneet-here commented on #11818
@davidcardoza, I only received $250. I believe the total amount should be $500, $250 for the fix and $250 for the reporting

[2022-11-15 08:13] marcochavezf commented on #12292
Hey @mountiny! Oh yeah I already did a bit of investigation and seems we're saving the PayPal address in the Onyx key `nvp_paypalMeAddress`, and I think we should retrieve it [here](https://github.com/Expensify/App/blob/376c3327bdc58e0fb15ff31fa7ebba819a680206/src/components/IOUConfirmationList.js#L304). I still need to do some testing, but if you think it's a different route you can take it :)

[2022-11-15 08:21] WoLewicki commented on #8503
Hi, I'm Wojciech from SWM, and I'll be working with @j-piasecki 😅

[2022-11-15 08:26] AmanuelAsfaw commented on #11701
Great, thanks for the update, I think I finished the process on github, so
I can submit the proposal on Upwork?

On Mon, Nov 14, 2022 at 10:54 PM Jason Mills ***@***.***>
wrote:

[2022-11-15 08:56] hammad-6304 commented on #11463
### Proposal

###Root cause
Create Group Button is hidden by the on-screen keyboard on mobile browsers, Since React-Web doesn't provide ** KeyboardAvoidingView** by default so few components are hidden by the on-screen keyboard.

###Solution
Creating **KeyboardAvoidingView** manually for the web version to Lift-Up all the View behind the keyboard so it can be visible.
On-Screen Keyboard triggers t

[2022-11-15 09:13] mountiny commented on #12292
@marcochavezf Nice, I dont have any specific idea about this solution, I think I remember there might have been a new NVP we were saving this into at some point (_I think_) so just would be good to look into the usage between the payment list and the payPalMeAddress in personalDetails to make sure the concept we have now makes sense.

I will unassign and leave this for ya since you already started

[2022-11-15 09:21] hannojg commented on #11321
Hey, I am still nailing down a fix. The issue is present in react-native (so not specific to expensify code usage), and it might be an android bug, so I will have to create an issue ticket. Will link PRs and external issues as soon as I am there, but so far there are no code changes to expensify that I could share. Still working on it and will provide results today! 😊

[2022-11-15 09:30] Puneet-here commented on #12709
### Proposal

When the user updates the profile details we have to add `profileSettings` and set its value to "update" in optimisticData value and when we get 200 response we can set it to null so that when user turns his internet and the profile gets updated it doesn't stay contain value "update". If we don't change the value to null after success we will see the offline feedback whenever user go

[2022-11-15 09:31] mountiny commented on #12668
Apologies, I should have commented before. AS listed in the title this is on hold for https://github.com/Expensify/App/issues/11795 which is tracking similar issues related to option list selectors like this one. We plan to take a step back and predesign how this should behave and look throughout the App.

[2022-11-15 09:45] Julesssss commented on #8236
Now that I understand the React Native [code](https://github.com/facebook/react-native/blob/1453ef1a8836ead03f66792bd36bfcde333434c0/ReactAndroid/src/main/java/com/facebook/react/modules/statusbar/StatusBarModule.java#L131-L147) better I'm coming around to [this](https://github.com/Expensify/App/issues/8236#issuecomment-1309660158) solution. I believe the reason for the status colour is that the A

[2022-11-15 09:48] Julesssss commented on #4010
Yeah, I think so. Will update them today.

[2022-11-15 09:50] s77rt commented on #12521
### Proposal (Updated 2)
[code]

### Details
In this proposal I fixed the root issue which is the modal itself. i had to set `coverScreen` to false and keep `hasBackdrop` set to true. Those two props were coupled by `fullscreen` so I had to make some changes to only fallback to `fullscreen` if those props are not explicitly set. (btw, setting coverScreen to false seems to fix a lot of accessibilit

[2022-11-15 09:51] Julesssss commented on #10202
I simply don't have time to locate a specific PR that introduced this, there are MULTIPLE regressions from weeks-months ago.

[2022-11-15 09:55] thesahindia commented on #12047
Steps:

1. Go to settings
2. Click on workspaces
3. Click on `new workspace` button
4. Check the default currency for newly created workspace

cc: @kadiealexander

[2022-11-15 09:56] Julesssss commented on #10091
Yeah, I think this is due to Android, or a 3rd party password manager. Because we don't set the background to yellow in our codebase. I've figured out the solution though and will submit a PR myself.

Would you mind closing down the Upwork job? Thanks.

[2022-11-15 10:02] mountiny opened #12731 "[$750] Clean Up Comments in PaymentMethods.js and Remove NewDot personal bank account password field"
This has already been finished, opening this issue to track payments for C+ who has reviewed and tested this PR https://github.com/Expensify/App/pull/12297

Previously we had this internal issue https://github.com/Expensify/Expensify/issues/233288 but we cannot assign C+ to it.

@mananjadhav What is the compensation appropriate for the PR review?

Lets also pay Mana for this issue https://github.c

[2022-11-15 10:04] thesahindia commented on #12567
@lschurr, done!

[2022-11-15 10:10] mananjadhav commented on #12731
@mountiny I think 250$ is fine, this was a small PR.

But I also have this one https://github.com/Expensify/App/pull/12175 where I put more effort in testing the workflow. Are we tracking that in a separate issue? Because that is also an internal issue but I haven't got any response yet.

[2022-11-15 10:12] thesahindia commented on #11735
Yup, it's a different issue.

[2022-11-15 10:12] mountiny commented on #12731
@mananjadhav apologies for that, I thought we have gone with open contracts solution for the reviews. For any PR review/testing is you compensation part of the App issue it is linked to?

[2022-11-15 10:13] flodnv commented on #11892
LGTM, thanks 👍

[2022-11-15 10:14] kidroca commented on #11817
@danielrvidal
If you don't mind, for the 3rd case, I'd shorten the text like so:
`We couldn’t look for an update. Please check again in a bit!`
instead of
`We couldn’t look for an update. Please check again in a bit to look for an update!`

[2022-11-15 10:14] mountiny commented on #12731
I have updated the PR and this issue to reflect that this will cover payment for that C+ review too

[2022-11-15 10:16] mananjadhav commented on #12731
I've got multiple PRs for which payment is pending but none of them have got linked issues (not atleast on the App side). Except these two I guess the others are being addressed.

[2022-11-15 10:20] mountiny commented on #12731
Ok, I thought this was fleshed out better, hopefully there is not many PRs which only have Expensify repo issues.

Howe much do you reckon for the other PR?

[2022-11-15 10:22] mananjadhav commented on #12731
Yeah I thought so too.

I think for that one 500$ should be fine, because it required the whole Bank Account flow to be tested and it takes few rounds to test multiple scenarios.

[2022-11-15 10:32] OSBotify commented on #12662
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12722) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.27-4` :rocket:

[2022-11-15 10:36] mountiny commented on #12731
@flaviadefaria Could we please create UW contract for Manan for $750 for reviewing and testing https://github.com/Expensify/App/pull/12175 and https://github.com/Expensify/App/pull/12297? 🙌 thanks

[2022-11-15 10:46] thesahindia commented on #12693
@luacmartins, I like @Puneet-here's [proposal](https://github.com/Expensify/App/issues/12693#issuecomment-1312396358).

C+ reviewed 🎀👀🎀

[2022-11-15 10:49] flodnv commented on #11515
Thanks @marcaaron, and agreed with you @conorpendergrast

[2022-11-15 10:55] jayeshmangwani commented on #9270
@puneetlath Yes it looks like the issue is resolved now, I am also not able to reproduce this issue

[2022-11-15 10:56] jayeshmangwani commented on #11689
PR is up
cc: @sobitneupane @roryabraham

[2022-11-15 11:01] laurenreidexpensify commented on #10950
@Abdallah-Ahmed-moh can you please send me a link to your Upwork profile so I can confirm I am paying the correct person? Thanks

[2022-11-15 11:06] flodnv commented on #11463
@mananjadhav what are your thoughts on this proposal?

[2022-11-15 11:06] fedirjh commented on #10202
The PR that introduced the bug : #9031 and #1557

[2022-11-15 11:08] flodnv commented on #12709
@eVoloshchak what are your thoughts on these proposals?

[2022-11-15 11:14] mollfpr commented on #12521
Thanks for the updated proposal, the result looks promising!

Can you do the **RCA**? Why the `hasBackdrop`/`coverScreen` can cause this problem?

Also, your proposal seems to produce another regression. On mWeb when opening the context menu modal, the report header is not covered by the modal overlay.

<img width="462" alt="Screen Shot 2022-11-15 at 17 55 42" src="https://user-images.githubuserco

[2022-11-15 11:21] flodnv commented on #12650
@eVoloshchak based on your investigation and description, I would say let's go with @mollfpr's proposal. One thing I'm unclear on is:

What does "wait" mean -- wait for what exactly? I think as long as the checkbox gets toggled (which it does?), we're good to go as is...?

[2022-11-15 11:21] laurenreidexpensify commented on #12712
https://www.upwork.com/jobs/~014e5d71f901f2c73d

[2022-11-15 11:25] eVoloshchak commented on #12650
There is a [problem](https://github.com/Expensify/App/issues/12650#issuecomment-1314031814) in @mollfpr's proposal, which is present only on `mWeb` Android

[2022-11-15 11:34] Karim-30 commented on #10356
@tgolen I got paid, we can close it.

[2022-11-15 11:35] OSBotify commented on #12662
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.27-4 has been deployed to staging :tada:

[2022-11-15 11:41] laurenreidexpensify commented on #11146
Bumped in Slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668512461125889)

[2022-11-15 11:42] laurenreidexpensify commented on #11228
Two weeks and nor reproducible in KI testing, closing.

[2022-11-15 11:42] #11228 closed

[2022-11-15 11:44] laurenreidexpensify commented on #11341
So to be clear, can @Puneet-here move to a PR for this now? What outstanding points are we waiting on?

[2022-11-15 11:44] hannojg commented on #11146
Would we be open for a proposal where we remove the selection prop? I think I can make it work without the selection prop. Or do we want a upstream RN fix?

[2022-11-15 11:44] Julesssss commented on #10202
Oh great, thanks. I didn't have a chance to review the comments 👍

[2022-11-15 11:49] s77rt commented on #12521
NOT A FULL RCA:
The cause is `coverScreen` setting it to true uses the react-native Modal, and this is basically the issue. Not sure what part exactly on the Modal component is the issue, I guess it have to deal with the fact that the modal is appended to the document. The selected text node container is not a sibling to the modal, thus the selection is lost.
Setting `coverScreen` just creates ano

[2022-11-15 12:01] zanyrenney commented on #12400
@0xmiroslav I can't find you on Upwork when I am trying to hire you:
<img width="1176" alt="2022-11-15_12-00-33" src="https://user-images.githubusercontent.com/56830058/201914713-041a8e69-bc32-4b73-a557-2dacd7b0555e.png">
<img width="1083" alt="2022-11-15_12-00-22" src="https://user-images.githubusercontent.com/56830058/201914739-8f573135-c86d-433d-a5cd-6f19438bc4b3.png">

Please can you apply to

[2022-11-15 12:02] hannojg commented on #11321
Here is the react native issue: https://github.com/facebook/react-native/issues/35350

Will now check whether this is to fix in react native's code or whether its an android bug.

[2022-11-15 12:04] trjExpensify commented on #10202
Cool, [completed 1-4 on the checklist](https://github.com/Expensify/App/issues/10202#issuecomment-1314070433). Will circle back once payment is due. Dropping to `Weekly` until then.

[2022-11-15 12:06] hungvu193 commented on #12712
<b>Proposal</b>
In `Avatar.js` component when internet connection is disconnected, the function `onError` called and set the state `imageError` to true, but when the internet back again, there was no function to make this state to false, that's why the avatar didn't update.
https://github.com/Expensify/App/blob/c19e245c77bd9fadc72a49560f27ff3036a4763b/src/components/Avatar.js#L65-L81

<b>Solution<

[2022-11-15 12:12] s77rt commented on #12521
### Proposal (Updated 3)
[code]

### Details
same as https://github.com/Expensify/App/issues/12521#issuecomment-1315059153 and fixes the report heading not being covered by the backdrop in mobile (small screens)

[2022-11-15 12:14] peterklamka commented on #12715
@mollfpr so my solution is not acceptable?

[2022-11-15 12:21] flodnv commented on #12650
Right, is this problem fixable @mollfpr ?

[2022-11-15 12:29] sobitneupane commented on #12120
Waiting for proposal.

[2022-11-15 12:35] muttmuure commented on #12641
Posted asking for help [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1668514415891219)

[2022-11-15 12:46] techievivek commented on #12641
I am unable to reproduce this. I tried uploading the image right from the gallery and then marking it unread and worked smoothly.
<img width="422" alt="Screenshot 2022-11-15 at 6 15 29 PM" src="https://user-images.githubusercontent.com/35863227/201922871-51b7265c-fd47-4eee-9544-07c326b1ed80.png">

[2022-11-15 13:00] sobitneupane commented on #12010
https://github.com/Expensify/App/pull/12718 might solve the issue. Will test once it is merged.

[2022-11-15 13:09] sobitneupane commented on #11277
Yes. it was clear.

But reproduction steps for "Action Performed (part 1):" was quite different for me. I reproduced it with following testing steps:

Action Performed (part 1):
1. Open login page on a fresh install OR after clearing app data
2. Enter email/phone number. > Continue
3. Close the keyboard and press on Go back to go to login page

[2022-11-15 13:11] s77rt commented on #12521
### Proposal
[code]

on second thoughts, I think we should not force `coverScreen` to be true on small screens (on the Popover component level) it's likely to cause more issues on the future, so I think we can just move the logic to explicitly cover this specific case.

@mollfpr what do you think?

[2022-11-15 13:17] flodnv commented on #11708
Still HOLDing, PR is up now.

[2022-11-15 13:18] sobitneupane commented on #11854
@mountiny Yes, I have.

[2022-11-15 13:20] MonilBhavsar commented on #12075
^ Worth a discussion in #product?

[2022-11-15 13:24] s77rt commented on #12010
@sobitneupane I don't know if this is still a valid issue
The revert is not enough to fix the issue
The tracking got messy quickly. This issue is caused by two issues:
1. The fix of the first issue related to keydown event may no longer exists (due to a revert)
2. The fix of the second issue related to non-focusable "Enter the password" was based on @huzaifa-99 solution

I don't know if my proposa

[2022-11-15 13:30] sakulz commented on #9459
**Proposal**

Problem is due to controlled component, as the value gets updated time to time by controlled way, due to that shaking appears on the input.

Solution: Make BaseTextInput component uncontrolled, and add a method to forceUpdate value from parent; if required in certain cases.

Here below is the screen recording to show the change in action.
When pressing continue button -> Parent force

[2022-11-15 13:31] zanyrenney commented on #12692
Hey @aldo-expensify - let me know what you think of these proposals and who we should hire.

[2022-11-15 13:38] Julesssss commented on #10091
I'm pretty sure I've fixed this, but I'm unable to confirm as I can't reproduce the original issue on any of my devices 😕

@kbecciv if I sent you an Android `.apk` file, is that something you and the team is able to test? You can drag and drop it onto an emulator, or install it with a command line tool.

[2022-11-15 13:44] Puneet-here commented on #12726
I have raised the PR and applied to the job.

[2022-11-15 13:47] MonilBhavsar commented on #12598
I'm able to reproduce the issue. Looking into it

[2022-11-15 13:58] joekaufmanexpensify commented on #10091
Got it, makes sense! I don't think there is an upwork job. I was the first assigned bug zero yesterday, and I didn't make one, so we should be all set.

[2022-11-15 14:00] flodnv commented on #12158
Great to hear! 🙏

[2022-11-15 14:03] Julesssss commented on #10091
Ah, event better. I need to find an Android user to help test this, and if the fix doesn't work then I'll ping you to make this external 👍

[2022-11-15 14:06] shawnborton commented on #12713
Hmm honestly I am a bit stumped here. In the video, it looks like it was circular at first and then it ended up being a square? What styles would change when going back and forth from chat list to chat and then back to list?

[2022-11-15 14:09] aitoraznar commented on #7375
Hi. How do you usually proceed with this?. You develop it internally? Create a new ticket? This issue is still valid?

[2022-11-15 14:09] joekaufmanexpensify commented on #10091
Sounds good!

[2022-11-15 14:16] bfitzexpensify commented on #12639
Thank you! OK, I was able to reproduce

[2022-11-15 14:21] Julesssss commented on #10091
[PR](https://github.com/Expensify/App/pull/12737) in review

[2022-11-15 14:24] bfitzexpensify commented on #12704
OK, so for the invoice to be marked immediately as paid is expected based on this [Community](https://community.expensify.com/discussion/7428/how-to-pay-get-paid-for-invoices-and-bills-using-paypal-me-and-expensify) article. At the bottom of the article:

I tested this flow and it works the same as OldDot — when payment is made, the user is sent to their PayPal.me link:

https://user-images.github

[2022-11-15 14:24] bfitzexpensify commented on #12704
When we created the PayPal integration, we did so knowing that it wasn't possible to bring across the payment status via PayPal. I don't think that's changed, so this is working as it should, going to close.

[2022-11-15 14:24] #12704 closed

[2022-11-15 14:32] slafortune commented on #11737
@thesahindia @gadhiyamanan I've sent you both an offer for this, let me know once you've accepted that and I'll get this paid out - sorry for my delay!

[2022-11-15 14:35] puneetlath commented on #7420
Great, paid!

[2022-11-15 14:35] parasharrajat commented on #7375
The issue is still valid and open for proposals. @Julesssss Can you please update the Expected result section?

[2022-11-15 14:36] gadhiyamanan commented on #11737
@slafortune applied 🎉

[2022-11-15 14:38] parasharrajat commented on #12692
I am checking it...

[2022-11-15 14:42] parasharrajat commented on #11283
Thanks for the proposal guys, I will be back to in asap.

[2022-11-15 14:43] kbecciv commented on #12670
@Luke9389 Good day! What would you like me to check?

[2022-11-15 14:51] puneetlath commented on #9270
Ok, looks like the API refactor project fixed it. @jayeshmangwani if you apply here, we can get you paid out for the reporting bonus and then close this out. https://www.upwork.com/jobs/~015b629c650416fcd5

[2022-11-15 14:53] kbecciv commented on #10765
Issue is no longer reproduced with build 1.2.27.4

https://user-images.githubusercontent.com/93399543/201950211-3022a20d-a004-4d6c-a5d3-20baf9ab47d7.MP4

[2022-11-15 15:01] jayeshmangwani commented on #9270
@puneetlath Applied, Thanks

[2022-11-15 15:03] mollfpr commented on #12715
@peterklamka Your proposal still valid.

[2022-11-15 15:07] Puneet-here commented on #11341
@laurenreidexpensify, we are already working on the PR [here](https://github.com/Expensify/App/pull/12534) 😄 It took some time because we were deciding how we want to handle the error.

[2022-11-15 15:07] #9270 closed

[2022-11-15 15:10] mollfpr commented on #12650
I’ll try find out about that.

[2022-11-15 15:15] kbecciv commented on #12007
@trjExpensify Issue is reproduced on Android app and mWeb/safari:

**Android app**

https://user-images.githubusercontent.com/93399543/201954824-1226538d-b987-45fc-8f70-e0105621405f.mp4

**mWeb/safari**

https://user-images.githubusercontent.com/93399543/201955586-7e1cf426-9285-4630-be5d-f552b9717031.mp4

[2022-11-15 15:17] s77rt commented on #12026
that's correct, this is more a matter of design whether this should be the expected behaviour or not.
Let me know if I should update my proposal given the expected behaviour

[2022-11-15 15:18] thesahindia commented on #11737
Accepted, thanks!

[2022-11-15 15:21] JmillsExpensify commented on #10793
Latest updates [in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1668487356465739), though also check [the PR](https://github.com/Expensify/react-native-onyx/pull/211) where all the action is right now.

[2022-11-15 15:33] bondydaa commented on #11057
will take a look into this today

[2022-11-15 15:38] trjExpensify commented on #12007
@Beamanator to confirm, this is still an issue that should be on hold right?

[2022-11-15 15:38] kbecciv commented on #12448
The reproduction steps the same - only issue with "Green line" doesn't appear. User is expecting when opening conversations with unread messages a new message line indicator should display over the new messages.

[2022-11-15 15:40] Gonals commented on #10525
@luacmartins, @roryabraham, @marcaaron
Hey everyone! I'm almost done with my other stuff, so I'm jumping into this.

It seems we have a fairly wide consensus to get rid of this key, but I wanted to make sure we have considered all the pros and cons!

My main concern is whether this will affect performance negatively.

- We currently loop through all reports to create the chats, right? This change

[2022-11-15 15:43] s77rt commented on #12026
@rushatgabhane I can't reproduce the bug. Can you give more details?

https://user-images.githubusercontent.com/16493223/201962311-32cff3b4-ca81-4022-a654-5b1f4e8ecf1e.mp4

[2022-11-15 15:56] trjExpensify commented on #8235
This one is due for payment tomorrow. I'm stepping into this issue late for Matt. @mountiny @Santhosh-Sellavel @Tushu17 can you help with sharing any insight on these two items of the checklist?

Am I right in thinking the title of this issue is outdated based on where we landed here? We didn't increase the file size limit to 40-49mb, but rather we decreased it to 24MB because the maximum file siz

[2022-11-15 16:01] thomas-coldwell commented on #12603
If you can give me a ping when the RNW side of things is sorted @kidroca I'll go through and ensure support using fast image across the whole app as per @Beamanator comment 🙌

[2022-11-15 16:09] CortneyOfstad commented on #11810
I just realized the UpWork job was not posted, so I finished that — https://www.upwork.com/jobs/~018c4bbda06b5c47e0.

Was prompted to double it, so set it at $500.

[2022-11-15 16:19] mountiny commented on #8235
@trjExpensify That is correct, it must have been this PR https://github.com/Expensify/App/pull/10118/files.

It is hard to check though since this limit is set on servers not even in API so that is why this was missed.

I agree a comment would be handy but also I think anyone who wants to raise the limit should be wondering why the limit is set to what it it.

[2022-11-15 16:29] Tushu17 commented on #12574
I had reported an issue [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667941642843519) as a regression related to skeleton ui and it got resolved by the PR([link](https://github.com/Expensify/App/pull/12722)) of this issue. so I believe I am eligible for the reporting bonus.
I had reported the issue at (2:37) and this issue was created at (3:56) it wasn't a dupe.
cc- @muttmuure

[2022-11-15 16:30] MarkCSmith commented on #11433
Thanks.  I updated the PR.

[2022-11-15 16:32] muttmuure commented on #11801
@mollfpr has been paid. @rushatgabhane waiting for you to accept @eVoloshchak you still need to apply

[2022-11-15 16:35] mananjadhav commented on #9391
yeah we're good to close here I guess @michaelhaxhiu @trjExpensify

[2022-11-15 16:38] miljakljajic commented on #12629
I wasn't able to reproduce this, @neil-marcellini - it's working as expected for me, both offline and online:

<img width="1133" alt="image" src="https://user-images.githubusercontent.com/28715117/201975627-edbb30c1-eb29-4b2d-ab8e-e06073756f6a.png">

[2022-11-15 16:41] miljakljajic commented on #12714
Adding external label

[2022-11-15 16:41] jasperhuangg commented on #12451
https://github.com/Expensify/Web-Expensify/pull/35433 was just deployed to prod an hour ago. Testing this out again

[2022-11-15 16:42] parasharrajat commented on #11810
@CortneyOfstad we already [hire](https://github.com/Expensify/App/issues/11810#issuecomment-1311702342) a contributor for this job so it should not be doubled.

[2022-11-15 16:43] miljakljajic commented on #12714
@Beamanator , can you confirm this can be worked on by an external engineer?

@aimane-chnaif - take a look at Puneet's proposal when you have a chance. Thank you!

[2022-11-15 16:45] mananjadhav commented on #11124
@arielgreen Let's put this on hold for 9818 then?  Otherwise it'll open again if we close it.

[2022-11-15 16:47] mananjadhav commented on #11385
We can do that unless we want to handle the subset of the cases?

[2022-11-15 16:49] AndrewGable commented on #9293
After discussion we wanted a different solution than the initial one proposed. Working on an alternative solution.

[2022-11-15 16:50] CortneyOfstad commented on #11810
Sorry about that! Changing it back now!

[2022-11-15 16:53] iwiznia commented on #11385
I don't think it's worth it, given it is probably a very small amount of users. Going to close. Reopen if you disagree.

[2022-11-15 16:53] #11385 closed

[2022-11-15 16:57] sketchydroide commented on #12639
I'm not sure if this is a feature or not @stitesExpensify you might know a bit about this, but if it's a bug I would say that this can be an external

[2022-11-15 16:58] sketchydroide commented on #12639
also is this specific to the 🍎 emoji or any emoji, the specificity here is a bit weird. @kbecciv can you guys check or answer that? Thanks :)

[2022-11-15 16:59] neil-marcellini commented on #12629
That's odd, it still doesn't work for me. I tried on multiple accounts.

https://user-images.githubusercontent.com/26260477/201980529-d45ea5c8-d0c7-499e-9303-61dca0031e97.mov

[2022-11-15 16:59] JmillsExpensify commented on #11726
Thanks for jumping in, as I was wavering on the best next steps. That said, what do you think about minimally ensuring that TestRail has coverage for the QA steps in #12722?

[2022-11-15 17:00] mananjadhav commented on #11463
I agree with @hammad-6304 that it isn't a problem just with Create Group, but I can reproduce this on other screens as well.

Thanks for the proposal @hammad-6304.  The expected output looks to be correct.

But we use `react-native-web`, and afaik it does have `KeyboardAvoidingView`. So I think it would be better to fix any problem with that implementation? Does your solution fix that? or implemen

[2022-11-15 17:01] slafortune commented on #11737
@thesahindia  I’m trying to wrap up this GH and am looking for the original PR that caused the issue, can you help me out with that?

[2022-11-15 17:02] JmillsExpensify commented on #10824
Alright, so circling back on the discussion in Slack, I think I should:

 - Create a fresh issue for adding a new QA test to TestRail
 - Start by building off the original QA and incorporating the root cause issue
 - CC everyone in this testing issue to ensure we're appropriately covering cases moving forward

Does that sound right?

[2022-11-15 17:03] mananjadhav commented on #11732
@johncschuster Did you get a chance to look at above comments for payment?

[2022-11-15 17:04] grgia commented on #12440
It can be done today if needed!

[2022-11-15 17:04] mountiny commented on #11854
@hellohublot I think unit tests are not required here unless this would be easy to achieve, not sure how one does unit tests about taking a picture.

We will add a regression test specifically for this so QA will always check the camera features work as expected.

[2022-11-15 17:07] mananjadhav commented on #12291
This PR was deployed to production 5 days ago, but it's payment date wasn't updated. @sakluger This due in 2 days.

[2022-11-15 17:10] zanyrenney commented on #12597
I don't understand this bug or the reproduction steps, please can you rephrase them or explain in more detail? To me, this looks like it is working as expected. @kavimuru

[2022-11-15 17:10] thesahindia commented on #12629
Same, reproducible for me as well!

[2022-11-15 17:10] JmillsExpensify commented on #11726
Ah sorry for crossing wires. Did you ship the RCA yet? I'll make sure to give it a thorough look.

[2022-11-15 17:12] thesahindia commented on #11737
Oh sorry, I didn't see the comment. Let me check.

[2022-11-15 17:12] parasharrajat commented on #12692
I do not consider this an issue. Why do we think this is an issue? an empty href value is completely valid just like `href="#"`.

So `href=""` and `href="#"` is valid. It does not break anything for the user. @aldo-expensify Do you think we should fix it?

[2022-11-15 17:13] Julesssss commented on #8236
I found a solution for the side effects mentioned [here](https://github.com/Expensify/App/issues/8236#issuecomment-1310504297). Working on this again tomorrow.

[2022-11-15 17:18] marcaaron commented on #11726
Working on it.

[2022-11-15 17:20] lschurr commented on #12567
Cool - the PR has been merged right @aldo-expensify? Can we consider this bug fixed?

[2022-11-15 17:20] JmillsExpensify commented on #10525
What do you think about bringing that discussion to open source in Slack? Those are pretty interesting points, and we get more eyes on this there.

[2022-11-15 17:20] s77rt commented on #12026
@rushatgabhane Still no bug

https://user-images.githubusercontent.com/16493223/201983792-a4d7cbc7-2bc8-4e4d-bf9f-4044be90a31e.mp4

Can you try with the latest version (main branch) then apply the patch

[2022-11-15 17:22] johncschuster commented on #11732
@mananjadhav, yep! I've just paid it out now.

[2022-11-15 17:22] michaelhaxhiu commented on #9391
Last step before closing is to discuss compensation for the C+ and @mollfpr for their efforts in resolving this one.

[2022-11-15 17:23] lschurr commented on #11892
@rushatgabhane - I've invited you to apply for the job in Upwork. Can you accept the offer?

[2022-11-15 17:23] jasperhuangg commented on #12237
I have a draft PR up that tries to use [React Native's `onViewableItemsChanged` prop](https://reactnative.dev/docs/flatlist#onviewableitemschanged). You can read more about that [here](https://suelan.github.io/2020/01/21/onViewableItemsChanged/). It's a callback provided by `FlatList` that gets invoked whenever some scrolling causes the viewable items to change. It provides you with the current li

[2022-11-15 17:24] mananjadhav commented on #11732
Thank you so much @johncschuster. @hungvu193 paid as well? then we're good to close this one out too.

[2022-11-15 17:25] lschurr commented on #12290
@parasharrajat are we moving forward with @kerupuksambel's proposal?

[2022-11-15 17:26] parasharrajat commented on #9459
@sakulz We are moving to Fabric so do you think you proposal is still valid?

Also, a solution on RN codebase is preferred as this issue exists with RN.

---

@NikkiWines Can you please update the issue Expected Result section to mention that we RN fix is preferred? Thanks.

[2022-11-15 17:26] JmillsExpensify commented on #10765
Ok with that in mind, I think we should close this issue and pay out C and C+ for their time/work.

[2022-11-15 17:27] JmillsExpensify commented on #10765
That said, an additional consideration is this: What do we want to do with @advaitasol9's PR? Do nothing? cc @Santhosh-Sellavel @ctkochan22 let's make sure we're on the same page for next steps.

[2022-11-15 17:27] abekkala commented on #12716
I am in Chrome Staging taking the same steps provided. I do not receive a URL link shown at the bottom:
![2022-11-15_11-25-08 (1)](https://user-images.githubusercontent.com/11966460/201986240-33e7633e-1056-442a-ad73-abef789ebacb.gif)

[2022-11-15 17:27] #12716 closed

[2022-11-15 17:28] hungvu193 commented on #11732
Thank you guys, I got paid 😀

[2022-11-15 17:29] thesahindia commented on #11737
I think it was missed in the refactors as it was an edge case. Also it's hard to tell which specific PR should have handled this

cc: @thienlnam

[2022-11-15 17:30] thesahindia commented on #12567
Yup, it's on staging.

[2022-11-15 17:31] slafortune commented on #12363
Sorry - I hadn't realize I was assigned this 😞 Job created - https://www.upwork.com/ab/applicants/1592570903246962688/suggested

[2022-11-15 17:32] JmillsExpensify commented on #12075
Yes, I think that's a good discussion for #product. I also like the solution, but let's get more conversation going to confirm we all agree that's the best page. For instance, we also might think about adding "badges" to the bank accounts so that it's more clear why some bank accounts (e.g. biz) are treated differently than others (e.g. personal).

[2022-11-15 17:33] parasharrajat commented on #12290
Currently, the staging server is doing the first one, excluding `javascript:` from autolinking.

[2022-11-15 17:34] JmillsExpensify commented on #11277
Ok, cool. Thanks for confirming! I will update part 1 to make sure it's in sync with the steps/results of our latest test.

[2022-11-15 17:35] neil-marcellini commented on #9581
Yes please

[2022-11-15 17:36] JmillsExpensify commented on #4010
Nice, thanks!

[2022-11-15 17:36] mananjadhav commented on #9391
I am aware we have a precedent on setting up 25% of the value generally, but for this one it would be less as this as actively tracked for a very long time.

[2022-11-15 17:36] #12143 closed

[2022-11-15 17:40] michaelhaxhiu commented on #9391
Sorry, when you say "it would be less" what do you mean? Are you saying more compensation feels fair?

I am starting a discussion internally by the way and will include any context you share here. Always helps to hear your thoughts as a c+ or contributor on the topic of compensation.