[2021-08-01 20:23] rushatgabhane commented on #4356
Update: fix is ready.

Just needed to pass `size: fileData.size` over here.

https://github.com/Expensify/App/blob/87cbc24238115426df8c16111d790f77930b9bfb/src/components/AttachmentPicker/index.native.js#L48-L52

[2021-08-01 22:55] rushatgabhane commented on #4356
@Santhosh-Sellavel Thanks for your input!
Pushed a simpler fix instead.

[2021-08-01 23:19] isagoico commented on #4333
Regression is finished (For Web, Android and desktop):
Issues found:
1. https://github.com/Expensify/App/issues/4352 - Failing https://github.com/Expensify/App/pull/4309 for Desktop
2. https://github.com/Expensify/App/issues/4356 - Failing https://github.com/Expensify/App/pull/4269 For Android

Checking these PRs off since they were a pass and they required testing only on Web or mWeb:
- https://g

[2021-08-01 23:55] isagoico commented on #3296
@rdjuric A tester was able to reproduce this during KI retests. Asking other testers with iPad to check if we're able to gather more info on the reproduction.
![image](https://user-images.githubusercontent.com/44479856/127789062-0ed1d0f9-b623-4234-985a-f8244afe9e37.png)

[2021-08-02 00:07] isagoico commented on #3297
Issue reproducible during KI retests

[2021-08-02 00:07] isagoico commented on #3901
Issue reproducible during KI retests

[2021-08-02 00:08] isagoico commented on #4110
Issue not reproducible during KI retests (Second week)

[2021-08-02 00:08] isagoico commented on #4066
Issue reproducible during KI retests

[2021-08-02 00:08] isagoico commented on #4076
Issue reproducible during KI retests

[2021-08-02 00:10] isagoico commented on #4328
Issue reproducible during KI retests

[2021-08-02 00:11] isagoico commented on #2499
Issue reproducible during KI retests

[2021-08-02 00:12] isagoico commented on #3355
Issue not reproducible during KI retests. (Fixed 🎉) @johnmlee101 Should we close this?

[2021-08-02 00:12] isagoico commented on #4080
Issue not reproducible during KI retests (Fixed 🎉)

[2021-08-02 00:13] isagoico commented on #4296
Issue not reproducible during KI retests (it was tested on a iPhone X)

[2021-08-02 00:35] jliexpensify commented on #3513
Hi @dklymenk - thanks for letting us know. This was on me, I forgot to close the job when the GH was closed! I've just closed it.

You can definitely comment in the GH, or bring it up in the Open Source channel. Thanks again!

[2021-08-02 00:44] jliexpensify commented on #4029
Paid, sorry for the delay @parasharrajat !

[2021-08-02 00:44] #4029 closed

[2021-08-02 00:51] jliexpensify commented on #3976
Payment + Bonus paid in Upworks!

[2021-08-02 00:51] #3976 closed

[2021-08-02 01:31] Christinadobrzyn commented on #4338
Created job in Upwork

Internal: https://www.upwork.com/ab/applicants/1422005847785369600/job-details
External: https://www.upwork.com/jobs/~01030e3a8abdb33839

[2021-08-02 02:01] Christinadobrzyn commented on #4273
Posted in Upwork:

Internal job: https://www.upwork.com/ab/applicants/1422014297908846592/job-details
External job: https://www.upwork.com/jobs/~0100d479f219f067dd

Invited @parasharrajat to it!

[2021-08-02 04:09] kp17211 commented on #4189
Hi @Beamanator
Please find details below

1. select any chat and go to detail screen <-- what is the "detail screen"? Is this something other than the page where you view all of your chat history with that person?

2. Can you please let me know which version of the app & web software (chrome, firefox, etc) you are using? You can find the version in settings -> about, right under the Expensify logo

[2021-08-02 04:15] kadiealexander commented on #4319
I was able to reproduce this via testing. Sending to engineering!

[2021-08-02 04:29] RushirajJhala commented on #4115
Agree, its good option to generate thumbnail image in backend whenever any image is uploaded , keep 2 copies , thumbnail and original and use  one as per need.

[2021-08-02 04:52] kadiealexander commented on #4226
Hired @aman-atg in Upwork.

[2021-08-02 04:59] kadiealexander commented on #4184
@tugbadogan thank you! There must have been a glitch with Upwork. I've now hired you there.

[2021-08-02 04:59] kadiealexander commented on #3926
Issue #4356 must be resolved.

[2021-08-02 05:48] MonilBhavsar commented on #4209
Bumping it to weekly, Feel free to change it back to Daily, if it's on a top priority

[2021-08-02 06:12] parasharrajat commented on #4189
@kp17211 If you are receiving running development build. Please do npm install.

[2021-08-02 06:18] parasharrajat commented on #4066
Oh sorry I missed yo update the lib version on NewDot

[2021-08-02 08:30] nkuoch commented on #4352
@parasharrajat The [PR](#4218) you linked to is already in staging, and is the PR that was stated as responsible in this issue description.
However, I've tried reverting it locally, and it doesn't seem to work either, so this PR is probably not responsible.
The issue on staging (and that can be reproduced locally) is actually worse than [the original issue](https://github.com/Expensify/App/issues/

[2021-08-02 08:39] parasharrajat commented on #4352
@nkuoch That PR has added few lines which is causing this issue.

Original that PR was created to show the timezone info when we change the language to other than English but after that PR is merged Now time is not changing in real-time. So literally, it should be part of that PR.

But if you don't want it be fixed as part of that PR, I have a fix.

We need to enable prop checking in shouldCompone

[2021-08-02 08:42] Beamanator commented on #2934
Contrib linked PR, changing to Weekly

[2021-08-02 08:45] HorusGoul commented on #4036
I haven't been able to work on this. I'll return this to the pool as I'm going to be OOO for a few days. I'll gladly pick it after that again as I'll have less workload.

[2021-08-02 08:47] Beamanator commented on #4342
This looks like a great `External` issue

[2021-08-02 08:51] nkuoch commented on #4352
If you have a fix, yes please make a new PR, I can review it, thanks!

[2021-08-02 08:55] Beamanator commented on #4342
@aman-atg I like your proposal, please submit a PR when you have a chance!

@mananjadhav I like your idea too, but I don't think we need to do so much future-proofing at this time. I think if we eventually decide to have a constant that only stores system emails, your solution would be great. But for now with the constant just called `EMAIL`, we don't really know what could be stored in there so I

[2021-08-02 09:01] sketchydroide commented on #4216
This did not appear on K2, I did not know of it, will take a look today

[2021-08-02 09:11] nkuoch commented on #4352
Doing a Git bisect, [this](https://github.com/Expensify/App/pull/4253/files) seems to be the PR that introduced the bug of texts not being refreshed to the right language.

[2021-08-02 09:47] parasharrajat commented on #4352
Ok. Great find. That is going to be a regression from #4253. even if we revert the PR. I see this issue will persist bcz of this
[code]
It should block the update if Props changes which will block the text update on language change. Instead of this, We can simply use PureComponent or
[code]
I am submitting a PR to correct this and we can raise another issue above the bad behaviour of #4253.

[2021-08-02 09:51] sketchydroide commented on #4324
this in principle sounds like a good idea, but I'm not sure if we already have plans to do this plus the `:smile:` template as well, @roryabraham or @marcaaron do you have any idea if we have plans to get emoji to work like this as part of a bigger project?

[2021-08-02 09:53] Beamanator commented on #4189
Good recommendation @parasharrajat - maybe also try `cd ios && pod install && cd ..` to update pods?

I tried on iOS just now and still didn't reproduce the error you mentioned so I'll close for now

[2021-08-02 09:53] #4189 closed

[2021-08-02 09:53] parasharrajat opened #4359 "Changing the Language does not update the text on the App in realtime"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Settings > preference.
2. Change the language from English to Spanish.

## Expected Result:
The app should show the updated text in a new l

[2021-08-02 09:56] parasharrajat commented on #4352
@nkuoch  https://github.com/Expensify/App/issues/4359 For reference.

[2021-08-02 10:00] twisterdotcom commented on #4273
I had this too. I navigated to my Chronos DM and it cleared but I've no idea why. Also @parasharrajat won't even have that DM, so it can't be _specific_ to it.

[2021-08-02 10:05] parasharrajat commented on #4273
If you have any single unread message and you go to that chat. All unread message count is reset to the updated one. So navigating to any unread chat should clear the count.

[2021-08-02 10:28] parasharrajat opened #4361 "Navigating to Chat Details screen with wrong email or chat id, crashes the app."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps
1. Open Any 1:1 chat on newDot.
2. Go to the User Details page by clicking on the Chat title.
3. Copy the URL and open

[2021-08-02 10:28] parasharrajat opened #4362 "[Hold - for payment on 2021-08-19] Using an arbitrary ID in IOU Details page causes Infinite Loader"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

1. Open Any chat on newDot which has an outstanding Payment.
2. Click on Payment badge from LHN.
3. Now change the id

[2021-08-02 11:24] Julesssss commented on #3959
@parasharrajat it looks like this PR introduced [a regression](https://github.com/Expensify/App/issues/4328).

On commit `f99dea6bf` I see this:
![Simulator Screen Shot - iPhone 12 - 2021-08-02 at 12 23 42](https://user-images.githubusercontent.com/10736861/127854356-95b74989-e958-4f49-842f-5e6a086cfd83.png)

[2021-08-02 11:25] Julesssss commented on #4328
Yep, seems like[ this issue](https://github.com/Expensify/App/issues/3959) was the cause.

[2021-08-02 11:32] Julesssss commented on #4353
To clarify here, we should intercept the navigate back event in the following cases:
- OS back event occurs (Android soft button tapped, or triggered by gesture)
- The `<` top-left icon is pressed

[2021-08-02 11:33] Julesssss commented on #4353
Whoops, accidentally hit demolition. Please ignore that

[2021-08-02 11:36] aman-atg commented on #4359
Looks like a dupe of #4352

[2021-08-02 11:51] sketchydroide commented on #4216
@isagoico do you know if this ever happened? I'm not it has...
This does sound like a nice thing to have, but needs some verification if this is a improvement or a bug.

[2021-08-02 12:04] iwiznia commented on #4338
Proposal from @rdjuric looks good @Christinadobrzyn

[2021-08-02 12:07] Julesssss commented on #4080
PR was merged and deployed to prod, not sure why it remained open 😕

[2021-08-02 12:07] #4080 closed

[2021-08-02 12:45] Santhosh-Sellavel commented on #4353
For OS back events,

We can do that using `BackHandler` from `react-native`.

Will add a listener in `ReportActionsView.js`  in `componentDidMount` with binding the below callback method,

[code]

Will add these lines in `Navigation.js` in the `goBack` method also,
[code]

@Julesssss

[2021-08-02 12:58] parasharrajat commented on #3959
@Julesssss  This is not a regression from this PR. I fixed the outline styles for the whole app which was wrong. If any other input in the app is showing this effect and this is a regression from this PR. but all other inputs are working fine.
I just checked that that Component is using `overflow:hidden` which will hide every outline which I verified by reverting my changes.

[2021-08-02 13:04] laurenreidexpensify commented on #4307
@deetergp can you take a second look at this one and confirm if I can upload to Upwork? Thanks

[2021-08-02 13:05] laurenreidexpensify commented on #3897
@rdjuric can you confirm the PR for this one? Thanks

[2021-08-02 13:06] laurenreidexpensify commented on #4187
@Luke9389 can you take a look today when you're back? Thanks

[2021-08-02 13:09] parasharrajat commented on #4353
I am sure that we would want to close the drafts. Initially, the original design for the Edit Feature was to keep the drafts for multiple messages. If we close the Edit comment. We will lose the drafts.

On the other hand, showing a popup notification and blocking navigation is bad UX.
@Julesssss  What do you think?

[2021-08-02 13:09] laurenreidexpensify commented on #4147
Paid 👍🏽

[2021-08-02 13:09] #4147 closed

[2021-08-02 13:11] parasharrajat commented on #4187
Proposal https://github.com/Expensify/App/issues/4187#issuecomment-885349504.

Please let me know if you need further explanation. Thanks.

[2021-08-02 13:11] rdjuric commented on #3296
Thanks, @isagoico!

This a regression from another PR, where the changes I made to `hiddenElementOutsideOfWindow` were undone by mistake. VScode points me to this [commit](https://github.com/parasharrajat/Expensify.cash/blob/5e159ff82e9fdd53880e6c841f66ae82d0c99487/src/styles/styles.js) as the first time the changes were undone.

[2021-08-02 13:19] parasharrajat commented on #3296
Ok. looks like I did that commit. @rdjuric Could you please tell me what were the changes? Here is the PR for that Commit. https://github.com/Expensify/App/pull/4285/commits/5e159ff82e9fdd53880e6c841f66ae82d0c99487.

[2021-08-02 13:23] rdjuric commented on #3296
[Here](https://github.com/Expensify/App/pull/4158/files) you go @parasharrajat! I think there were changes to `TextInputAutoWidth` too

[2021-08-02 13:30] kavimuru opened #4364 "iPad - mWeb-Chat - Keypad also opens up tapping emoji icon in message compose field in Landscape mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open e.cash in Web in landscape orientation
2. Navigate to a conversation
3. Click on the emoji in Compose box

## Expected Result:
Typing box an

[2021-08-02 13:46] parasharrajat commented on #3296
but if you look at the commit changes. I have not touched any files related to your changes.

[2021-08-02 13:57] aman-atg commented on #4362
## Proposal

* Basically the `API` is returning `undefined` and in `IOUDetailsModal` we're showing a loader for undefined which is resulting in an infinite loader
* It can be fixed by adding the below code after line `469`
[code]

https://github.com/Expensify/App/blob/588700ee3a8111b44c3312c828098ee5e33e4388/src/libs/actions/Report.js#L467-L473

[2021-08-02 14:03] isagoico commented on #4216
I don't think it happened before 🤔 But I agree it would be a nice thing to have.

[2021-08-02 14:04] conorpendergrast commented on #4323
Big fan in particular of supporting skin tones rather than the single current skin tone.

For the solution, I think we can do this without implementing an external library, right? We can just use [the unicode modifiers](https://unicode.org/emoji/charts/full-emoji-modifiers.html). Passing to engineering to review and confirm that solution would work

[2021-08-02 14:06] parasharrajat commented on #3296
@rdjuric Could you please confirm?

[2021-08-02 14:10] rdjuric commented on #3296
@parasharrajat Yes, that's confusing me a bit! Still, when I try to git bisect the first time I see the file being changed is on that commit I linked.

Really weird. Let me know if you think the regression was caused by another PR.

[2021-08-02 14:15] Julesssss commented on #4353
_Thanks for the proposal @Santhosh-Sellavel. I'm holding off from commenting on it until we reach the proposal stage._

@parasharrajat I think losing the draft when the user presses 'back' is expected behavior, and saving (**multiple**) edit-message drafts seems unnecessary. If I am navigating away from the page, then I am choosing to lose the edited (but unsaved) message(s). As an Android user, I

[2021-08-02 14:18] parasharrajat commented on #4353
What will be the back button behaviour when multiple messages are being edited?

[2021-08-02 14:19] rdjuric commented on #2934
@Beamanator Pullerbear didn't assign you to review the PR and I think I might need some help/inputs from you there.

Can you take a look at it when you have time?

[2021-08-02 14:20] mananjadhav commented on #4323
@conorpendergrast Sure that can be done too. We can extend the current list by storing their unicodes.

The picker UI could look something like this (with a picker for skin-tone):

![image](https://user-images.githubusercontent.com/3069065/127876395-1b995ffc-22e4-44af-aa34-d9f188b3c95e.png)

[2021-08-02 14:21] Julesssss commented on #4353
Yeah, I think it's the best we can do in this situation.

The alternative might be to prevent multiple messages from being edited at once. But if others see value in that feature then I think closing all at once is fine.

[2021-08-02 14:22] tgolen commented on #4321
The CORS is a red-herring. We need to see in the server-logs what the error was on the server for that request.

[2021-08-02 14:26] mananjadhav commented on #4353
What slack does is, in the Desktop and Web view it, doesn't allow you to go to other conversations, but in the mobile app it discards the edit when you come out of the conversation.

[2021-08-02 14:26] isagoico opened #4365 "Test issue - Please ignore"
Please ignore, testing https://github.com/Expensify/Web-Expensify/pull/31540

Now we just have to wait for seven days.

![](https://media.giphy.com/media/vSJyRUtORbQC4/giphy-downsized.gif)

[2021-08-02 14:37] Julesssss commented on #4353
Thanks for that, good spot. It seems that this is due to a difference between expected mobile and web/desktop UX.

As we're aiming for **A)** a mobile-first app, and **B)** consistency between platforms, I think [this suggestion](https://github.com/Expensify/App/issues/4353#issuecomment-891064495) makes the most sense.

[2021-08-02 14:41] Julesssss commented on #3959
Ah, I see. Thanks for explaining! Yep that would be great, but I'll discuss further on the raised issue.

[2021-08-02 14:44] Julesssss commented on #4328
That issue was [not the cause](https://github.com/Expensify/App/issues/3959#issuecomment-891003781), my bad 😀

CC @parasharrajat as you had some further context.

[2021-08-02 14:56] nkuoch commented on #4359
Closing in favor of https://github.com/Expensify/App/issues/4352, as this is the one with the DeployBlockerCash label

[2021-08-02 14:56] #4359 closed

[2021-08-02 15:05] aman-atg commented on #4328
@Julesssss

Strangely enough, I can't reproduce the issue after undoing [this PR's changes](#4170)..

Here are the vidoes for your reference

https://user-images.githubusercontent.com/28243942/127882885-7e68d761-00f1-4e2c-b582-bc4c158159ca.mp4

https://user-images.githubusercontent.com/28243942/127882895-491f7a1f-65e4-4f50-9529-3aa3626f450e.mp4

[2021-08-02 15:06] nkuoch commented on #4352
@kidroca Please comment on this issue so I can assign it to you. When your PR is ready, we'll need to add the **CP Staging label** to your PR before merging it, so it gets automatically cherry picked to staging, and so the blocker label can be removed from here.

[2021-08-02 15:08] parasharrajat commented on #4328
@Julesssss I checked the page design. the approach is a little bit wrong to create the page layout.
here https://github.com/Expensify/App/blob/609826f6b8be83b99877c01a86460fc48d51b94b/src/pages/signin/SignInPageLayout/SignInPageLayoutNarrow.js#L27
we have used margin for no reason. Instead, we should use padding in the scroll view for various reasons.
The correct approach is this.
[code]
 and we e

[2021-08-02 15:10] TomatoToaster commented on #4323
Ah TIL how skin tones work with emoji sets like this! I think that modifier part will work 👍🏾 .

I'm not sure how you'll save the modifier. I'm thinking that you might have to store it in an NVP for the user, but maybe there's another solution I'm not aware of. For the proposal, if it's concluded that there needs to be some internal work done to store that information for a user, I'm happy to help

[2021-08-02 15:34] mananjadhav commented on #4323
@TomatoToaster Currently what we are doing is storing the rendered emoji as is.

Storing the skin tone for user as NVP should help.

I’ve raised a separate issue for typing the emoji code too.
https://github.com/Expensify/App/issues/4324

We’ve got two approaches to solve this.

1. Always store the Unicode in the text like :thumbs_up:skin-tone-2: and render to and fro from Markdown and HTML.

2. W

[2021-08-02 15:47] kidroca commented on #4352
@nkuoch 👍
I'm about to submit a PR, will reference this ticket as well

[2021-08-02 15:50] tgolen commented on #4345
Hm, I don't think this is a browser compatibility issue necessarily. It's possible this was purposefully turned off in the past looking at issues like https://github.com/Expensify/Expensify/issues/159543. Perhaps @marcaaron has a more clear picture about where we currently stand with this than I do.

From what I gather, any proposal here should only be affecting the specific flow in question, and

[2021-08-02 16:08] stitesExpensify commented on #4323
2 things to mention here:

1. WRT the original solution, the suggested library is written in react, not react native, so I don't think it would work for our purposes
2. We already have skin tones saved for all emojis that support skin tone in the [types](https://github.com/Expensify/App/blob/6fc4e4b94d1776710ff6acc725e0d02ae3da95a8/assets/emojis.js#L998-L1004) field. My plan for skin tones was to

[2021-08-02 16:09] mananjadhav commented on #4280
@iwiznia Any feedback on the last approach ?

[2021-08-02 16:15] mananjadhav commented on #4323
@stitesExpensify I did check the emoji array and the types that we store. My second approach is exactly what you’ve mentioned, picking the emojis based on skinTone types should work.

As I also mentioned earlier would need an nvp to be stored on the backend.

Checked the mock-up. Those look great. One open issue I saw somewhere was that the current emoji picker doesn’t work well in the landscape m

[2021-08-02 16:29] marcaaron commented on #4268
As far as emulation goes, my understanding is that iOS will be faster because Xcode compiles for x86 and Android Studio emulates ARM.

[2021-08-02 16:32] marcaaron commented on #4022
We're making some pretty interesting progress with this issue and it's starting to become clear that any list item components using `withOnyx` are going to take a long time to render since they'll always be blocked and "waiting for data" from Onyx. By leveraging the Context API we can avoid creating a new connection and get that time back. Exploring it in [this PR](https://github.com/Expensify/App

[2021-08-02 16:40] marcaaron commented on #4324
Sorry, I do not

[2021-08-02 16:42] quinthar commented on #4268
Oh yes that seems a big difference

On Mon, Aug 2, 2021, 9:29 AM Marc Glasser ***@***.***> wrote:

[2021-08-02 16:53] parasharrajat commented on #3296
ok @rdjuric. I think it's best if you redo those changes as a PR. I have not an idea of what needs to be done. Sorry for the inconvenience caused if I overwrote your changes.

[2021-08-02 17:08] MitchExpensify commented on #4321
I encountered the spinner when logged into staging.new.expensify.com as blueberry@expensivepie.com. Interestingly, I could not however replicate the spinner when logged into both OldDot and NewDot on staging.

https://user-images.githubusercontent.com/36425901/127898454-a8982989-668d-40f6-a4fe-37d53d18bcfc.mov

[2021-08-02 17:09] thienlnam commented on #4130
Hey @Santhosh-Sellavel, can you add me as a reviewer on the PR that you push up? I can comment on implementation specific details there. If possible, I think we should try to have them try to re-enter an amount

[2021-08-02 17:12] Santhosh-Sellavel commented on #4130
Roger that

[2021-08-02 17:15] marcaaron commented on #4345
Right, the linked issue deals with auto-focus when navigating to a chat. I believe we'd want to preserve that behavior.

Not too sure what is meant by this, but unsure why this has to do with browsers or polyfills. When we say "mobile" we mean mobile web and native mobile for the purposes of this issue. I'd guess it's possible this is not a bug, but a feature request.

[2021-08-02 17:36] mananjadhav opened #4367 "Validation Message in Change Password Form"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Settings Page
2. Click Change Password
3. Try to enter different "New Password" and "Confirm New Password"

## Expected Result:
It should i

[2021-08-02 17:38] parasharrajat commented on #4367
I think this was already there. Wasn't it?

[2021-08-02 17:38] mananjadhav commented on #4367
**Proposal**

I would want to add two aspects to this:

1. Show a validation message between when the New Password and Confirm Password don't match
2. Add a visibility toggle to the Password Fields. This will make it simple for the user to see the issue.

[2021-08-02 17:43] quinthar commented on #4353
Hm... the more we talk about this, the more I regret raising it.  I think actually this was my suggestion, and just leaving everything in draft mode on all platforms is probably better.  Eek, sorry sorry...  I vote we just close this issue and call the current behavior correct.

[2021-08-02 17:50] mananjadhav commented on #4367
@parasharrajat Couldn't find that on the Change Password page.

[2021-08-02 17:51] parasharrajat commented on #4353
But maybe we can show a toast as google does. messages saved to draft
![Screenshot 2021-08-02 23:21:37](https://user-images.githubusercontent.com/24370807/127903406-b6746562-05f6-4c8f-8811-2fc7e74223a5.png)

[2021-08-02 17:53] mallenexpensify commented on #3381
Doubled the price again, it's $16k USD now. Please continue to submit proposals in this issue.
https://www.upwork.com/jobs/~01a4a59d0c8d74eae5

[2021-08-02 17:54] Julesssss commented on #4264
I was working on another WIP PR today, will pick this up tomorrow after I submit it.

[2021-08-02 17:56] Jag96 commented on #4355
It looks like there's some more context on this issue in [this slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1627677384030500?thread_ts=1627669368.027700&cid=C01GTK53T8Q). cc @rushatgabhane since you had some good thoughts here.

[2021-08-02 18:06] roryabraham commented on #4324
Not that I know of, but again I'm not sure. Wbu @stitesExpensify?

[2021-08-02 18:18] iwiznia commented on #4280
So does that solve the problem? Seems like no, since you say it's generating different results?

[2021-08-02 18:21] michaelhaxhiu commented on #4123
@jsamr is hired for this job in Upwork

[2021-08-02 18:22] mananjadhav commented on #4280
Using `getPathFromState` directly gives me an issue. Using `useLinkBuilder` from react-navigation resolves it. There are few additional lines on fetching the root navigation state in useLinkBuilder.

[2021-08-02 18:30] iwiznia commented on #4280
Oh I see... I am not sure I 100% understand the fix, but seems you do and that it works, so I'll check it out and test it when you submit it.
 @kevinksullivan can you hire @mananjadhav in upworks please?

[2021-08-02 18:30] roryabraham commented on #4333
Just a quick update @isagoico we are still working on fixing iOS deploys. We're currently CPing a PR we hope should resolve the issue.

[2021-08-02 18:32] mananjadhav commented on #4280
Sure. Its after a lot of digging this one works properly rather than going through the `getCurrentRoute` approach.

[2021-08-02 18:39] isagoico opened #4375 "[HOLD for payment Aug 18th] Sign up - User is not redirected to mobile app to set up password"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new account via the mobile app.
2. Click on the email validation link
3. User is redirected to mWeb instead of app - Set up a password i

[2021-08-02 18:44] isagoico commented on #4273
@laurenreidexpensify Was able to reproduce this issue. Thread here https://expensify.slack.com/archives/C01GTK53T8Q/p1627890930045000

She had 1390 "unread messages". When opening chat with Chronos the number went down, messages from thread:

![image](https://user-images.githubusercontent.com/44479856/127908580-840184c1-7357-4dde-82c6-3fce1f619b05.png)

[2021-08-02 18:46] isagoico commented on #4333
Great! We'll be on standby until that's CPd to start all iOS tests.

[2021-08-02 18:56] stitesExpensify commented on #4321
@tgolen

Why do you think it's a red herring? The API call causing the spinner is the exact API call that was blocked by CORS, which makes sense why we would be permanently stuck in a loading state.

[2021-08-02 18:58] stitesExpensify commented on #4321
I am unable to reproduce any issues even with the same account Mitch used (`blueberry@expensivepie.com`)

[2021-08-02 19:02] NickTooker commented on #4111
I've confirmed the copy for this issue, removing myself while we wait for it to be deployed - thanks!

[2021-08-02 19:02] rdjuric commented on #3921
@MelvinBot I'm working on some improvements requested in the PR!

[2021-08-02 19:03] yuwenmemon commented on #4137
This was fixed! Closing

[2021-08-02 19:03] #4137 closed

[2021-08-02 19:18] tgolen commented on #4321
CORS is an all-or-nothing setting on the server, so it's not possible (in our code) to have one API request throw a CORS error, but not another. It happens in e.cash triggered off of a server error. You can see additional times this was discussed in Slack here: https://expensify.slack.com/archives/C03TQ48KC/p1617979958063200?thread_ts=1617920668.034500&cid=C03TQ48KC

[2021-08-02 19:19] stitesExpensify commented on #4324
We do not have plans to do `:)` or `:p`. It would be easy to add another regex filter once we have things like `:smile:` implemented though.

[2021-08-02 19:20] isagoico commented on #4287
Reopening this since it's happening again (right now) I think it may have to do with this CP https://github.com/Expensify/App/actions/runs/1091288292

[2021-08-02 19:20] thienlnam commented on #4210
@GithubAshishHere

I'm having trouble following your proposal here -

 - iOS has NSCache in which SDImages have the cache images.
 
These points don't seem to have any actionable changes that you would complete in your pull request

Can you explain how these changes might solve the issue?

[2021-08-02 19:21] laurenreidexpensify commented on #4132
Ignore - this is a false positive, as we're closing this tomorrow when regression testing period is over

[2021-08-02 19:26] thienlnam commented on #4210
@mananjadhav
I'm not ruling out the use of `RNFastImage` in this project to solve the bug, but I would like to figure out why images doesn't get stored in the cache properly on IOS before building a solution around it.  Is there a chance that we're using the incorrect image headers for the cache or using the component incorrectly?  It would be good to understand why using `RNFastImage` solves this

[2021-08-02 19:27] isagoico opened #4376 "DM with user is not displayed in LHN if both users are in a same Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with Account A (Be sure it's new with no Workspaces)
2. Create a Workspace and invite user B
3. Navigate to the conversation with user B a

[2021-08-02 19:29] rushatgabhane commented on #4234
@aman-atg
The PR #4275 is causing a regression.

Width after canceling a IOU is shrunk.

### Steps
1. View IOU details of any user.
2. Click Cancel.

### Expected Result
Width of the cancel button shouldn't shrink and stay the same.

### Actual Result
Wifth of cancel button shrinks.

### Before
![Screenshot from 2021-08-02 22-21-30](https://user-images.githubusercontent.com/29673073/127912718-7e07

[2021-08-02 19:32] AlfredoAlc commented on #4210
@thienlnam I saw that the default image has set a max-age value on the headers, while the image set by the user doesn't.. sometimes the default image doesn't flicker, maybe setting the value max-age to the header of a user selected image could tell iOS to cache the file.

[2021-08-02 19:37] aman-atg commented on #4234
@rushatgabhane Thanks for bringing this up.

Can be easily fixed by setting a `min-width`.
But I want to clarify if that's the behaviour we want.

cc: @tgolen

[2021-08-02 19:38] marcaaron commented on #4376
Not too familiar with how the announce room is supposed to work, but does seem unexpected - if both chats have messages they should appear in the LHN (as long as we are not in `#focus` mode). Unless we are just not done building this out yet...? @yuwenmemon @TomatoToaster is this expected?

[2021-08-02 19:39] mananjadhav commented on #4210
@thienlnam Afaik (couldn't find supporting documents), the default Image component of react-native uses UIImageView which does cache for smaller images but not images > 150-200kb. I am checking if I can for sure send you a way of verifying that this is a cache issue.

Whereas RNFastImage is a wrapper around `SDWebImage` which is primarily an image helper with cache support.

[2021-08-02 19:40] mananjadhav commented on #4324
Noted. Are you planning to add a picker where you could :smile: which is currently supported in Github comments and Slack input too?

[2021-08-02 19:41] isagoico opened #4377 "[Hold for payment 2021-08-17] Code blocks renders to the end of the edge of the window"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send this message (with code markdown ` )
3. `Hello`
4. Send this other message
5. `Hello` stop right there

## Exp

[2021-08-02 19:42] AndrewGable commented on #4258
Requested review by @marcaaron on PR and updated labels to reflect PRs current status.

[2021-08-02 19:44] yuwenmemon commented on #4376
Def not expected, will take a look.

[2021-08-02 19:44] isagoico commented on #4376
Yeah, I found this behaviour really strange. I'll leave the testing account I was using for easy reproduction.

- Applausetester+igaug21@applause.expensifail.com / 123456Hola

[2021-08-02 19:44] roryabraham commented on #4333
Yay, looks like the last iOS deploy was a success! https://github.com/Expensify/App/actions/runs/1091288292 So feel free to begin QA whenever you're ready.

[2021-08-02 19:46] AndrewGable commented on #4185
Yes, looks great. Just left one comment on the PR 👍

[2021-08-02 19:47] kidroca commented on #2667
I'm working on this. Will submit my last PR tomorrow.

[2021-08-02 19:48] roryabraham opened #4379 "[HOLD] Manually CPing a pull request does not add the PR to the checklist"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lock the deploy checklist
1. Merge a PR.
1. Manually cherry-pick the PR.

## Expected Result:
The deploy checklist should be updated with the new

[2021-08-02 19:48] stitesExpensify commented on #4324
Yes, we want to do `:smile:` style emojis but have not come up with a solid plan on how yet.

The problem is that right now we have keywords with overlap. We need to have a default keyword for each emoji that does not overlap. We would like to use the same or similar default keywords as slack, but haven't found a good way to add that to our emoji.js list. Any suggestions?

[2021-08-02 19:48] roryabraham commented on #4333
Separately, I noticed that when we manually CP a pull request, the checklist is not updated to include the PR. Created an issue [here](https://github.com/Expensify/App/issues/4379).

[2021-08-02 19:50] tgolen commented on #4234
Hm, I'm not sure if we want a min-width or not either... at least, not on ALL buttons. Could we apply just a min-width to a button when it's in the loading state?

[2021-08-02 19:52] mountiny commented on #4377
Reproduced it on `main`, I believe this can be worked on by External contributor!

[2021-08-02 19:53] aman-atg commented on #4234
Sure, but I do think current behaviour is fine as well.

[2021-08-02 19:58] francoisl commented on #4350
Sorry, accidental unassign @arielgreen ^

[2021-08-02 20:00] rushatgabhane commented on #4234
I disagree.

This is the Request payment button in loading state.
We should be consistent.

![Screenshot from 2021-08-02 22-56-24](https://user-images.githubusercontent.com/29673073/127916508-239be49b-e16e-4ac9-bc84-387e16f6c96c.png)

[2021-08-02 20:03] isagoico commented on #4333
Checking off these PRs that were mistakenly added to the list (CP issue):
- https://github.com/Expensify/App/pull/4091

[2021-08-02 20:10] AndrewGable commented on #2748
I'll take a look again at Fastlane again, but haven't seen any updates on this one from my notifications.

[2021-08-02 20:12] AndrewGable commented on #4375
@muttmuure - Can you elaborate on how this used to work? It might help trace down this issue. I think it might be a deep link is broken, but I am not sure.

[2021-08-02 20:15] stitesExpensify commented on #4321
Hmm, yeah it makes sense that you shouldn't get CORS errors on some calls and not others. My thinking in this case was that it's calling secure which is not called pretty much anywhere but here. I checked the git history though and we updated secure to accept `staging.new.expensify.com` a long time ago.

Looking at the [logs](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(

[2021-08-02 20:19] Jag96 commented on #4337
The fix worked! https://github.com/Expensify/App/runs/3223732358?check_suite_focus=true

[2021-08-02 20:19] #4337 closed

[2021-08-02 20:25] mountiny commented on #4377
Sounds good if you can make sure to test it in all possible scenarios (so it just does not introduce regression somewhere else).

Does this fix both: link and the code?

[2021-08-02 20:26] mananjadhav commented on #4280
While @kevinksullivan posts a job and gives a shoutout, I've raised the PR to you @iwiznia. I've also attached relevant screencasts to show the outcome.

[2021-08-02 20:34] parasharrajat commented on #4377
Yes, it fixes both.

[2021-08-02 20:35] puneetlath commented on #3899
Okay, I have a theory. On the Desktop app, I have this one expense report-related chat that doesn't go away even in focus mode. That's for report ID 77572566 which is a report I no longer have access to (it was retracted or something).

![image](https://user-images.githubusercontent.com/1371996/127920065-dc934658-d8d3-4628-8e51-371df91168c8.png)

On the web app, I don't see this chat. On desktop,

[2021-08-02 20:37] parasharrajat commented on #3987
@michaelhaxhiu is the Upwork job for this task valid?

[2021-08-02 20:50] zsgreenwald commented on #4223
Confirmed here, the proper copy should be:

[2021-08-02 20:52] zsgreenwald commented on #4223
@isagoico Let me know if you need help with anything else!

[2021-08-02 20:56] parasharrajat commented on #2451
@MelvinBot I am actually working on this. If you think so you can do that. So kind of you. :wink:

[2021-08-02 21:01] mallenexpensify commented on #2430
@chiragsalian can you provide feedback on the above?

@dklymenk , if needed after Chirag reviews, you can drop that into #expensify-open-source with a link back to this issue to get more 👀

[2021-08-02 21:03] mallenexpensify commented on #2180
Closed, thanks @dklymenk .  This issue was a nightmare for me, think it got double posted months ago.

[2021-08-02 21:06] parasharrajat commented on #4333
@isagoico I think #4363 needs to be tested.

[2021-08-02 21:09] isagoico commented on #4333
@parasharrajat PR is not in staging yet, it was added to the checklist because of an existing bug with Cherry Picks. It will be tested in next deploy checklist. CC @roryabraham (just in case I'm mistaken and PR is indeed in staging)

[2021-08-02 21:11] parasharrajat commented on #4333
Ok. Yeah. Thanks.

[2021-08-02 21:11] isagoico commented on #4223
Looks like this issue is ready to work on! I'll re add the engineering label.

[2021-08-02 21:13] Jag96 commented on #4319
Job has been posted, @aman-atg your proposal looks good to me, I've invited you to the Upwork job. I'll assign you once you accept and then you're free to create a PR!

[2021-08-02 21:18] aman-atg commented on #4319
Accepted! ([Proposal](https://www.upwork.com/ab/proposals/1422304452924489728))

[2021-08-02 21:32] roryabraham commented on #2430
I have reviewed and it seems @dklymenk is correct... I can't find any reason why `app.relaunch` (and by extension the `--expected-update-version` CLI argument) is needed, since `autoUpdater.quitAndInstall` handles that automatically.

[2021-08-02 21:37] kevinksullivan opened #4384 "Do not show a loading spinner in place of the `Get Started` button copy during VBA flow"
# Problem

When a user enters information at certain steps where we make an API call, and thus there is a brief loading period, we show a loading spinner in the right pane modal they are actively in, and the button in the background used to set up a VBA or manage cards.
![image](https://user-images.githubusercontent.com/22508290/127926698-ad86d04b-e835-49bd-97a9-07b1f9f2f35d.png)

# Solution
Do no

[2021-08-02 21:37] roryabraham commented on #3047
- Quote support implemented [here](https://github.com/Expensify/expensify-common/pull/402), integrated into E.cash [here](https://github.com/Expensify/App/pull/4363)
- Inline code blocks added [here](https://github.com/Expensify/expensify-common/pull/404), not yet integrated into E.cash, PR is [here](https://github.com/Expensify/App/pull/4349)
- We've had some proposals but no movement yet on [hyp

[2021-08-02 21:43] francoisl commented on #4110
Nice. Out of curiosity, can you check again which version of Safari you're on now @isagoico please?

[2021-08-02 22:25] helaoutar commented on #4119
The regression was fixed about a week ago in this PR: https://github.com/Expensify/App/pull/4243

[2021-08-02 22:27] isagoico commented on #4110
Versión 14.1.1 (16611.2.7.1.4)

[2021-08-02 22:31] puneetlath commented on #4221
I have personally experienced this issue, can confirm it's happening, so skipping Triage.

[2021-08-02 22:58] puneetlath commented on #3480
This just happened to me. I believe @parasharrajat has a theory on why.

![image](https://user-images.githubusercontent.com/1371996/127933821-924507b8-d16f-4699-a36b-606e7bf5fd08.png)

[2021-08-02 22:58] puneetlath commented on #3136
This just happened to me. I believe @parasharrajat has a theory on why.

![image](https://user-images.githubusercontent.com/1371996/127933828-467c11e6-d22a-4cff-bd24-95c4d22afeeb.png)

[2021-08-02 23:10] OSBotify commented on #4221
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-08-02 23:10] AndrewGable commented on #4221
Adding deploy blocker as this is only occurring on staging. I can reproduce on a fresh install as well.

[2021-08-02 23:11] parasharrajat commented on #4221
To fix this. the best option is to flush the queue when the user logs out. As there won't be any call that uses auth token and should continue after logout.

[2021-08-02 23:13] rushatgabhane commented on #4355
@Jag96 I'm not able to find any npm package which matches the short blip of Slack.

However, I can get the exact haptic feedback as Slack's using native code for Android.

Here are our options for adding native code.
1. Directly into New Expensify using [NativeModules](https://reactnative.dev/docs/native-modules-intro).
2. Create a new npm package.

Which one do you prefer?

Alternatively, we coul

[2021-08-02 23:19] puneetlath commented on #3857
We should test this again. Might not be occurring anymore now that we moved away from `(NEW)` in favor of `(3)` to indicate the actual number of unread chats.

[2021-08-02 23:30] AndrewGable commented on #4221
Do we flush the queue here? https://github.com/Expensify/App/blob/main/src/libs/actions/SignInRedirect.js#L52

[2021-08-02 23:35] parasharrajat commented on #4221
No. Here https://github.com/Expensify/App/blob/e511b1f70082ad965b5dc85117d18f4dce54287d/src/libs/API.js#L62.
But this is not really clearing the queue which some requests are made after this statement has run. As per the image attached above, there was a request for Timer.

[2021-08-02 23:38] jsamr commented on #4101
@kidroca

I really love the ideas you are proposing here. Have a little technical question though! How would you prevent the `WrappedComponent` to re-render when other slices would update? My understanding is that `useContextSelector` prevents this issue by bailing out early in a reducer (basically by returning the previous state):

https://github.com/dai-shi/use-context-selector/blob/2dd334d727fc

[2021-08-02 23:41] parasharrajat commented on #4221
@AndrewGable Ah, I think I found it. Maybe we should unpause the queue when we authenticate. Which does not have any impact if the queue was already unpaused.

We do this for reauthenticate https://github.com/Expensify/App/blob/e511b1f70082ad965b5dc85117d18f4dce54287d/src/libs/API.js#L278

We can follow the same for https://github.com/Expensify/App/blob/e511b1f70082ad965b5dc85117d18f4dce54287d/src

[2021-08-02 23:43] thienlnam commented on #4210
@AlfredoAlc That's an interesting idea thanks, I'll see if I can test that theory tomorrow

@mananjadhav Thanks, that would be great.  Though the profile images (atleast on my contact profile pictures) range between 4-8 kb in size so I'm not sure if that is the case.  Additionally, I'm aware that there is caching when opening an image preview on iOS and those images should be much larger than 150-

[2021-08-02 23:48] parasharrajat commented on #4221
Maybe if I am correct, this can be triaged and assigned to me.

[2021-08-02 23:52] stitesExpensify commented on #4321
Okay it looks like when there is a legit error thrown such as a 404, you won't get into `.then` for promises. We need to add a `.catch()` to [this call](https://github.com/Expensify/App/blob/95f5dba102f23822274e6e18d0d39eaf461b85a5/src/libs/actions/BankAccounts.js#L605)

[2021-08-03 00:00] parasharrajat commented on #4221
Plus, We should also flush the offline queues when we flush the in-memory queue. I will try to experiment with this a bit.

[code]

[2021-08-03 00:14] AndrewGable opened #4388 "White screen on iOS login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log out
2. Log in
3. View white screen 💥

## Expected Result:
1. See chats after log in

## Actual Result:
1. View white screen after login

## W

[2021-08-03 00:14] AndrewGable commented on #4388
cc @isagoico if you've seen this on other platforms or via regression tests.

[2021-08-03 00:14] OSBotify commented on #4388
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-08-03 00:16] AndrewGable commented on #4388
Can't get the auto assigner to work, so I will take a look at this tomorrow.

[2021-08-03 00:17] stitesExpensify commented on #4323
Gotcha. I think we'll stick to the mockups here, and fix the picker in landscape mode if necessary.

This doesn't actually require any backend changes though. You can just create a new NVP with the name `expensify_emojiSkinToneIndex` from the front end :smile:

[2021-08-03 00:18] Luke9389 commented on #3841
Just merged 👍

[2021-08-03 00:25] rushatgabhane commented on #3785
@mallenexpensify Issue can be closed. Merged ~2 weeks ago.

[2021-08-03 00:26] Luke9389 commented on #3952
Just getting back to this after being gone a week.
@rushatgabhane are you wanting to submit a proposal for this?

[2021-08-03 00:27] Luke9389 commented on #3952
Also @isagoico would you mind retesting this to verify it's still happening, and also let us know which device you're using?

[2021-08-03 00:28] marklouisdeshaun commented on #4308
[Job posted to Upwork](https://www.upwork.com/jobs/~0182964a8091739a9e)

[2021-08-03 00:31] rushatgabhane commented on #3952
@Luke9389 No, I won't be submitting a proposal for this issue.

Btw, still reproducible on Pixel 3.

[2021-08-03 00:33] Luke9389 commented on #4187
Ok, @parasharrajat had a proposal down first, so I'm gonna give him the green light to write up a PR.

[2021-08-03 00:35] Luke9389 commented on #4364
I think this is happening because the window is super small. Can you replicate this issue with a more reasonably sized window? I'm going to close this and you can reopen it if so.

[2021-08-03 00:35] #4364 closed

[2021-08-03 00:37] kevinksullivan commented on #4280
here you are @mananjadhav

https://www.upwork.com/jobs/~0193613b388ad040c2

[2021-08-03 00:39] NikkiWines commented on #4226
This is a good point, @mananjadhav, and we do value having reusable components.

I will point out that we already have several different forms, each with its own specific purpose (`NewPasswordForm` for example). Ideally, we'd have some sort of generic form component that could be reused all over the place.

I do think it's weird to have sign-in page views separated out into `Wide` and `Narrow`, es

[2021-08-03 00:46] isagoico commented on #4388
Yeah, I'm able to reproduce now. Asking the team if anyone was able to reproduce this earlier.

[2021-08-03 01:13] Jag96 commented on #4355
We've used NativeModules before [here](https://github.com/Expensify/App/blob/a946115eb9e8ac76e29974036af1ca8cf7c70e41/src/libs/Environment/betaChecker/index.ios.js#L10) so I think that would be fine, but I'd reply to the thread in [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1627669368027700) (and send to the main channel as well by ticking `Also send to expensify-open-source`) just t

[2021-08-03 01:24] mallenexpensify commented on #4315
https://www.upwork.com/jobs/~0145dfd23aa42149f9
Posted!

[2021-08-03 01:27] mallenexpensify commented on #4028
^ was from a test, disregard

[2021-08-03 01:34] rushatgabhane commented on #4355
No. I won't reusing the current lib at all.
NativeModules will be used both for iOS and Android.

[2021-08-03 01:38] mallenexpensify commented on #3296
@rdjuric It does look like you weren't paid in the 7-day window but there's also been a regression. I'd prefer to wait for the fix til payment, is that alright with you?

[2021-08-03 01:41] mallenexpensify commented on #2451
@MelvinBot apologizes, he was running a test

[2021-08-03 01:42] mallenexpensify commented on #2430
@roryabraham , I should hire @dklymenk in Upwork, correct? (post a comment so I'll get a notification plz)

[2021-08-03 01:54] isagoico commented on #4356
Retest for this was a pass! Closing the issue 🎉

[2021-08-03 01:54] #4356 closed

[2021-08-03 01:55] rushatgabhane commented on #3926
@kadiealexander resolved and closed!

[2021-08-03 01:56] isagoico commented on #4388
Asked the team and 2 testers were unable to reproduce 🤔
I was also able to log in a bit ago

[2021-08-03 02:05] isagoico commented on #4333
iOS tests are done:
1. https://github.com/Expensify/App/issues/4352 is failing https://github.com/Expensify/App/pull/4253 and https://github.com/Expensify/App/pull/4309
2. https://github.com/Expensify/App/issues/4356 was a pass in both Android and iOS

Thanks!

[2021-08-03 02:07] rushatgabhane commented on #4355
I forgot to mention, simulators don't support haptics and I don't own an iPhone.
I'm gonna use apple's [haptics docs](https://developer.apple.com/design/human-interface-guidelines/ios/user-interaction/haptics/) for reference if that's fine.

[2021-08-03 02:11] mallenexpensify commented on #3785
Paid in Upwork and added a $250 bonus (per process update last week) for posting the issue.
One thing before closing....

I found another example of where I think it'd be good to allow for usage of the enter key.

### Add additional users to group text
- Go to a group chat (command+shift+k is a shortcut)
- Type user A name then hit `enter` when their name is at top.
- Type user B name then hit `en

[2021-08-03 02:16] zain148 commented on #4315
**Problem Identification**
Hi there, Please note that this issue is not related to react native.
it's related to website which is using React atm.

Let me clear you the issue Now.
<img width="1280" alt="Screenshot 2021-08-03 at 7 04 35 AM" src="https://user-images.githubusercontent.com/44121159/127946412-a1a720f3-a341-4731-81dd-c5bc1ec8b6c7.png">
<img width="1280" alt="Screenshot 2021-08-03 at 7 0

[2021-08-03 02:32] rushatgabhane commented on #3785
Thanks!
@mallenexpensify I would've fixed it in this issue itself, but `Enter` works as intended.

The thing that'll need to be changed is how **search** works for New Group and that'll need some planning.

[2021-08-03 03:15] kadiealexander commented on #3926
Thanks @rushatgabhane! The original PR was merged 5 days ago, so will process payment in 2 more days. :)

[2021-08-03 03:16] mananjadhav commented on #4226
Thanks for the clarification. Appreciate it.

[2021-08-03 03:21] Christinadobrzyn commented on #4342
I'm ooo today but I'll get something in Upwork tomorrow.

[2021-08-03 03:25] Christinadobrzyn commented on #4338
Hired @rdjuric! 🎉

[2021-08-03 04:35] marcaaron commented on #4027
Going to update this issue to focus only on **Android**. I think at this point iOS is cold booting _very fast_.

Check this comparison...

**iOS (iPhone 8)**

https://user-images.githubusercontent.com/32969087/127958331-bb54c6cb-082e-445e-a716-409114c45b5b.mov

**Android (Galaxy S8)**

https://user-images.githubusercontent.com/32969087/127958361-e0f1e455-1cc2-42b4-92ba-411e86ddc651.mp4

Android is

[2021-08-03 04:37] quinthar commented on #4027
Wow, so jealous for iOS!  Let's get Android to that!

On Mon, Aug 2, 2021 at 9:35 PM Marc Glasser ***@***.***>
wrote:

[2021-08-03 04:43] marcaaron commented on #4022
So, I _think_ chat switching is starting to approach something resembling an acceptable amount of time. Check out these latest videos which are **release** builds off `main` + the changes in the last PR I linked above...

**iOS**

https://user-images.githubusercontent.com/32969087/127958695-935956fc-9268-4866-bef2-28fffd42577f.mov

**Android**

https://user-images.githubusercontent.com/32969087/12

[2021-08-03 06:04] kp17211 commented on #4189
@parasharrajat
I have two questions
1. Is it possible to run app without npm install ? As I shared video of app so I think I already did it :)
2. Lets assume due to some issue one of the package is not installed properly , but in that case ,  as you can see in second video single line text is working , only tow or more line text is not working. is it possible ?

@Beamanator ,  I think every React

[2021-08-03 06:51] quinthar commented on #4022
Whoa!  How do I get a taste of this?

On Mon, Aug 2, 2021, 9:43 PM Marc Glasser ***@***.***> wrote:

[2021-08-03 07:53] parasharrajat commented on #4189
Yes. You are correct. But we recently upgraded a lib which has same exports as earlier but props changed which was skipping its render and app would continue working. So fresh npm install will fix this which no one will know of until they told as app is executing fine.  its not apparent that npm install is needed.

[2021-08-03 09:31] Julesssss commented on #4353
Let's just leave it as is for now

[2021-08-03 09:31] #4353 closed

[2021-08-03 09:35] Julesssss commented on #4353
The message is shown when you navigate back, so the toast seems overkill tbh

[2021-08-03 10:42] laurenreidexpensify commented on #4187
https://www.upwork.com/jobs/~015d7fb34d72ccdc11

@parasharrajat hired you on Upwork

[2021-08-03 10:43] laurenreidexpensify commented on #3897
@rdjuric bump :) can you link the PR pls

[2021-08-03 10:56] laurenreidexpensify commented on #3419
moving this to Weekly while it's in planning still?

[2021-08-03 11:00] rdjuric commented on #3897
Sorry @laurenreidexpensify! Linking it today 😁

[2021-08-03 11:39] trjExpensify commented on #4232
I've been OoO, Melvin! Either way, is anyone able to reproduce this? I just updated desktop to `v1.0.82-3` without a hitch.

[2021-08-03 11:48] nkuoch commented on #3844
The QA failed on staging for the corresponding [PR](https://github.com/Expensify/Web-Expensify/pull/31585). So this issue probably won't be fixed after today's deploy. @HorusGoul will send a follow up PR.

[2021-08-03 12:01] mananjadhav commented on #4229
@NicMendonca Any updates on Upwork for this?

[2021-08-03 12:04] trjExpensify commented on #4005
@parasharrajat doesn't look like you've applied to this on Upwork yet. Can you, so I can assign you the issue?

[2021-08-03 12:07] trjExpensify commented on #4218
PR merged and on staging.

[2021-08-03 12:25] parasharrajat commented on #4005
Sorry about that @trjExpensify. It's done.

[2021-08-03 12:43] NicMendonca commented on #4229
@mananjadhav yup! As per this information [here](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md), contracts are paid 7 days after the pull request is **merged** to allow for regression testing. Payment is scheduled to be issued in 2 days.

[2021-08-03 12:44] NicMendonca commented on #3901
@rdjuric can you confirm if you are interested in opening a PR for this?

[2021-08-03 12:52] dklymenk commented on #4375
Hello, in case you decide to make this one external, I'm going to throw in a proposal:

Apparently, after latest migration from expensify.cash to new.expensify.com, the "Associated Domains" section on "Signing & Capabilities"  project settings tab wasn't updated. Here is a screenshot:
<img width="629" alt="Screen Shot 2021-08-03 at 15 48 14" src="https://user-images.githubusercontent.com/64093836/

[2021-08-03 13:02] bfitzexpensify commented on #4325
Reproduced (note: your own profile only appears once you've typed the full phone number/email address)

[2021-08-03 13:25] kevinksullivan commented on #4280
Hired!

[2021-08-03 13:31] Beamanator commented on #4211
I don't believe iOS has a "back" hardware button (at least most of their devices don't) so I think this only applies in Android.

I agree this should be fixed eventually, it's how most (if not all) Android apps work, so I'll take this over and making it External

[2021-08-03 13:38] Beamanator commented on #3987
@parasharrajat yeah it looks like Hax added the Upwork link to the OP: https://www.upwork.com/jobs/~01d5b5dac390b97161

[2021-08-03 13:40] Beamanator commented on #3987
Adding myself & assigning to appropriate people & adding correct labels

Looks like the PR was merged 5 days ago with no regressions so far 👍

[2021-08-03 13:46] muttmuure commented on #4375
Sorry @AndrewGable I can't be sure what the exact behavior was - I think it's number 1 in @isagoico's OP?

If @dklymenk's solution above looks correct would you be able to verify?

[2021-08-03 14:02] trjExpensify commented on #4232
Alright, seems like @conorpendergrast ran into it earlier so there seems to be something lingering:

<img width="1200" alt="2021-08-03_13-35-04" src="https://user-images.githubusercontent.com/16232057/128028361-36af636b-a676-4c5d-b839-bab65d60ac68.png">

Posted to Upwork [here](https://www.upwork.com/jobs/~01e501f3e9b6693e70).

[2021-08-03 14:06] dklymenk commented on #4375
@muttmuure yes, I have a macbook and can verify the fix via simulator.

As for your concern about which behavior it is, I can do a quick check on android. IMO it is a pretty safe bet to assume that this behavior should be the same on both android and iOS.

[2021-08-03 14:28] sketchydroide commented on #4324
Is this a 2 step thing @stitesExpensify? Step 1 replace the keywords we want to use for emojis that overlap with something else, sept 2 implement the keyword replacement for emojis?

[2021-08-03 14:50] mallenexpensify commented on #3785
Dropped in #expensify-open-source as a feature request https://expensify.slack.com/archives/C01GTK53T8Q/p1628002164119000

[2021-08-03 14:50] #3785 closed

[2021-08-03 14:51] AndrewGable commented on #4375
Thanks for checking into this @dklymenk - Please provide a complete solution for Android as well and we can configure the job in Upwork.

[2021-08-03 14:57] trjExpensify commented on #4211
The title of this issue is a bit generic and the steps in the OP are a little confusing, so it would be good to spruce this up before posting to Upwork. Before I make the updates, am I right in thinking the issue here is isolated to: `The Android hardware back button does not minimise the app when pressed on the LHN/home screen`?

Then the `Action Performed` reproduction steps are:

1. Click on an

[2021-08-03 14:59] rdjuric commented on #3901
Hey @NicMendonca!

I'm busy with other PR's and this one looks a bit complex, so I'm just helping us refine our understanding of the problem for now. If anyone wanna take this, please feel free to do so!

[2021-08-03 15:09] parasharrajat commented on #4211
We should first look into React-navigation. It was previously fixed but after the upgrade of react-navigation to v6 broke that fix.

[2021-08-03 15:13] roryabraham commented on #3313
Just got my first review of @Drewfergusson's PR in today, so we're making progress 👍

[2021-08-03 15:20] tgolen commented on #4321
Yep, I think that will fix this particular API call. I have a feeling this will happen to others. I looked through this file and found these methods could possibly have a stuck spinner if the HTTP request fails:

- `activateWallet()`
- `getPlaidBankAccounts()`
- `fetchFreePlanVerifiedBankAccount()` (the first API call for getting NVP)
- `validateBankAccount()`
- `setupWithdrawalAccount()` (looks l

[2021-08-03 15:47] Julesssss commented on #3737
Internal PR was raised today to resolve this on the backend.

[2021-08-03 15:55] puneetlath commented on #4028
Paid!

[2021-08-03 15:55] #4028 closed

[2021-08-03 16:06] isagoico opened #4392 "Navigating to `enable-payments` shows only the side bar content when first navigating to it. Refreshing shows an infinite spinner."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to https://staging.new.expensify.com/enable-payments
2. Refresh the page

## Expected Result:
Enable-payments sidebar should load

## Ac

[2021-08-03 16:09] roryabraham commented on #4119
Yep, that's correct! @jboniface let's make sure @helaoutar is paid for the Upwork job.

[2021-08-03 16:18] isagoico commented on #4333
Checking off a bunch more:
1. https://github.com/Expensify/App/pull/3881
2. https://github.com/Expensify/App/pull/4237
3. https://github.com/Expensify/App/pull/4349
4. https://github.com/Expensify/App/pull/4370
5. https://github.com/Expensify/App/pull/4371

[2021-08-03 16:31] Beamanator commented on #4211
Nice @trjExpensify that looks like a great summary! 👍

[2021-08-03 16:33] zsgreenwald commented on #3381
@mallenexpensify Should we be more descriptive in the post? How's this?

How’s this?

[2021-08-03 16:38] #4132 closed

[2021-08-03 16:41] laurenreidexpensify commented on #4132
Paid @helaoutar 👍🏽

[2021-08-03 16:56] stitesExpensify commented on #4324
It can be either. Depends on if someone wants to take the whole thing on or just do part.

To clarify though, we are not _replacing_ keywords that overlap as those are still useful for searching. We need to add a _new_ field that has a unique keyword for in-chat replacement

[2021-08-03 17:02] AndrewGable commented on #4388
@isagoico - I am able to still reproduce on iOS version `1.0.82.3` consistently

[2021-08-03 17:03] michaelhaxhiu commented on #3987
Excellent work @parasharrajat.

Thanks Beamanator -- I had this open as a tab to update the GH like you did 🏆 .

Agreed and payment due in 2 day, assuming no regressions appear.

[2021-08-03 17:14] mananjadhav commented on #4324
We could use this to create the keywords.

https://github.com/missive/emoji-mart/blob/master/data/all.json We can match the keys by Unicode value.

We can even extend the data source with the above dataset. Currently, we have ~1360 emojis, whereas the above link has ~1740

[2021-08-03 17:25] stitesExpensify commented on #4321
Cool sounds good @tgolen. My plan right now is to throw a generic "oops, try again later" style error when something goes wrong enough that we get into a `catch()`, and bringing them back to the beginning of the process. We will also log the stack  to the console. Does that sound good @kevinksullivan ?

https://user-images.githubusercontent.com/42391420/128059302-52fda595-b69f-48a4-bb86-cbaabbe45e

[2021-08-03 17:30] roryabraham commented on #4352
@kavimuru @isagoico Can we retest this in `1.0.82-3` or higher please?

[2021-08-03 17:46] AndrewGable commented on #4221
@parasharrajat as mentioned in slack, the issue is yours. We will get it configured in Upwork.

[2021-08-03 17:50] stitesExpensify commented on #4321
As I mentioned on slack, WRT Mitch's error, I think we have a step in web that is not in newDot that we need to add. This specific error is when we can't auto-validate a bank account and have the user confirm themselves

[2021-08-03 17:51] isagoico commented on #4388
So weird, I'm unable to reproduce this anymore 🤯 I logged in and out 2 times without any blank screen
<img src="https://user-images.githubusercontent.com/44479856/128062498-75d81dc5-b06b-48a4-8bdf-d9c644c518a5.png" width="40%">

[2021-08-03 17:51] NicMendonca commented on #4115
Doubled price: https://www.upwork.com/jobs/~01416052ece8f86c7c

[2021-08-03 17:55] dklymenk commented on #4375
It seems like you have misinterpreted my previous message. I meant that instead of trying to remember which of the behaviors, described in the original post, used to be implemented in the iOS app, we can take a look at android implementation and then make sure the iOS implementation matches the android one.

Anyway, I have checked on android and this is flow we have there:

Even if you pick the we

[2021-08-03 17:55] MitchExpensify commented on #4321
Can you mention that [here](https://github.com/Expensify/Expensify/issues/172797) @stitesExpensify ? Sounds helpful for that issue, right?

[2021-08-03 17:57] thienlnam commented on #4115
I think we have a clear idea to move forward on this project:

Internal: (From @quinthar's comment here https://github.com/Expensify/App/issues/4115#issuecomment-889228242)
Generate automatic thumbnail/image sizes on request, and cache/save those so that they are ready when requested another time.

External:
Update the image component to request a specific sized image based on the app dimensions a

[2021-08-03 17:57] thienlnam commented on #4115
Since the external portion is pending on the internal, I'm going to remove the exported tag from this and we can re-add it once we have the internal part completed

[2021-08-03 17:58] AndrewGable commented on #4375
Sounds good, @Christinadobrzyn can you please hire @dklymenk? I look forward to reviewing the PR 👍

[2021-08-03 18:12] rdjuric commented on #3296
No worries @parasharrajat I agree it's easier for me to re-do the PR, doing it now!

@mallenexpensify That's okay, but the regression wasn't caused by this PR - the changes made here were removed in another one by mistake. Anyway, I don't mind waiting a bit more and I've already opened the PR to reapply the removed changes 👍

[2021-08-03 18:13] trjExpensify commented on #4211
Cool, updated. Upwork job is [here](https://www.upwork.com/jobs/~017e60e720f6f9aca8). @kp17211 are you interested in applying seeing as though you raised this issue?

[2021-08-03 18:17] isagoico commented on #4352
Retest was a pass!

[2021-08-03 18:17] kidroca commented on #4101
@jsamr

Thanks for the question.
I didn't get into details in the initial post but here's an idea

The `withOnyx` HOC would have a `mapContextToProps` interface similar to the one used in `useContextSelector` mapper function

##### A component using a "slice" containing just network and details
[code]

A key/value in `everything` (The aggregated context) would not change reference unless a connect

[2021-08-03 18:18] #4352 closed

[2021-08-03 18:33] marcaaron commented on #4116
There has been some great back and forth on this issue. But some of it may be better discussed in https://github.com/Expensify/App/issues/4101

I'm going to close this for now for focus, but we can re-open if we still have some specific problem with rendering the `ReportActionCompose`. Anything else related to more global `withOnyx()` performance we can maybe bring over to the other issue.

[2021-08-03 18:33] #4116 closed

[2021-08-03 18:40] isagoico commented on #4333
Checking off https://github.com/Expensify/App/pull/4366 and https://github.com/Expensify/App/pull/4309 since retest was a pass 🎉

[2021-08-03 19:06] parasharrajat commented on #4106
PR is merged and we are waiting for the regression period to be over before closing it.

[2021-08-03 19:10] parasharrajat commented on #3959
Ding Ding. It's done.

[2021-08-03 19:12] parasharrajat commented on #4214
PR is in review.

[2021-08-03 19:15] stitesExpensify commented on #4321
Hmm I'm not sure it's related tbh. The inability to auto-validate and have the user confirm is a feature we need to add, whereas that GH is specifically about the amount of time it takes that API call to run

[2021-08-03 19:17] parasharrajat commented on #3922
I have the PR ready and just need to make few tweaks to show the data of the selected bank Account. I will complete that part and put the PR in review so that I can continue there based on feedback.

[2021-08-03 19:18] tgolen commented on #4321
This is fine with me. We have a growl lib that can do this.

[2021-08-03 19:26] michaelhaxhiu commented on #4123
@marcaaron I'm conflicted on whether or not to make an E/E repository github to track this issue. It seems like it's still a step in the Stack Overflow steps [here](https://stackoverflow.com/c/expensify/questions/8582).

[2021-08-03 19:29] arielgreen commented on #4107
Paid! Thanks for the bump, @parasharrajat 😅

[2021-08-03 19:29] #4107 closed

[2021-08-03 19:30] arielgreen commented on #2667
Thanks @kidroca — ignore MelvinBot's comment above, we were testing something.

[2021-08-03 19:41] thienlnam commented on #4210
@AlfredoAlc Did some local testing and it seems like this actually does not happen for the default images at all (during my testing at least). So I think you're on to something about the image headers of the default images.  It seems to maybe be the cache-control header that is the big difference?

default thumbnail is on the left, profile thumbnail on the right
Response headers
https://www.diffch

[2021-08-03 19:42] chiragsalian commented on #2430
oops, sorry for the delay. I was OOO yesterday and got to this late today. But yes it looks like we're in agreement with your proposal @dklymenk. Feel free to go ahead and create a PR.
@mallenexpensify, go ahead and hire @dklymenk in upwork.

[2021-08-03 19:46] michaelhaxhiu commented on #4123
Removing the `Help Wanted` label as this is already assigned.

[2021-08-03 19:51] isagoico opened #4395 "Using the up-arrow key while focused in the search input causes the down-arrow key to stop working properly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Hit CMD+K to open the chat switcher search input
2. Hit the up arrow key 3 times
3. Hit the down-arrow key.

## Expected result
The first search

[2021-08-03 19:54] parasharrajat commented on #4218
I see a regression that I fixed when I initially added this feature.
on first reload time string switch from `It's 15:51 Tuesday for Weird` to `It's 3:51 PM Tuesday for Weird`. instead `It's 3:51 PM Tuesday for Weird` should be shown from start.

@trjExpensify @isagoico Could you please test this and confirm? Thanks

[2021-08-03 20:22] parasharrajat commented on #4377
@mountiny can I submit the PR? I believe it's kind of urgent it breaks many things. If so, @JmillsExpensify  could this be assigned to exported and assigned to me?
Thanks.

[2021-08-03 20:28] roryabraham commented on #4215
@rushatgabhane completed this job and it was deployed to staging 6 days ago

[2021-08-03 20:33] rushatgabhane commented on #4355
Update from [slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1627669368027700)

We decided to add `blip()` method to [Vibration](https://reactnative.dev/docs/vibration) API by creating a PR for React Native.

I won't be available for a few weeks. So I won't be taking this issue.
But here are things that might help with implementation.

Android: `Vibrate(createPredefined(VibrationEf

[2021-08-03 20:35] quinthar commented on #4355
Tiny thing: I vote naming the API call "bip" instead of "blip".  When you
say it out loud, "bip" is closer to the actual vibrate we're going for.

On Tue, Aug 3, 2021 at 1:34 PM Rushat Gabhane ***@***.***>
wrote:

[2021-08-03 20:37] roryabraham commented on #4388
I was unable to reproduce on iOS `1.0.82.3`

[2021-08-03 20:41] AndrewGable commented on #4388
I wonder if that means it's something specific with my account/API that is causing the regression?

[2021-08-03 20:54] isagoico commented on #4388
Mmmm I'll try with different testing accounts if I'm able to repro. I was able to repro with one of them at some point (but can't remember exactly which one)

[2021-08-03 21:06] isagoico commented on #4388
Out of curiosity I tried installing the build I was able to reproduce this (1.0.82-2) and nothing again, I was able to use the app normally 🤯

[2021-08-03 21:13] jboniface commented on #4188
I don't know why melvin is spamming that message when this is already hired out 🤔

[2021-08-03 21:26] parasharrajat commented on #4388
This also happens on Web.
![Screenshot 2021-08-04 02:52:44](https://user-images.githubusercontent.com/24370807/128088140-548000a4-9c1a-447d-8b90-b71f82b12cb7.png)

same error but more verbose.
[code]

[2021-08-03 21:30] parasharrajat commented on #4388
I think issue generates from
[code]
Force Clearly the data should fix this.

[2021-08-03 21:34] jboniface commented on #4221
posted to upwork and sent invite to rajat https://www.upwork.com/jobs/~01fede9fe7086b3d75

[2021-08-03 21:36] mountiny commented on #4377
@parasharrajat Yeah, sorry, good point, go for it. Jason was out of office recently I see.

Nicole will create a job posting for this tomorrow (as it is after working hours for her today I believe).

[2021-08-03 21:37] jboniface commented on #4119
ok paid and closing

[2021-08-03 21:37] #4119 closed

[2021-08-03 21:52] AndrewGable commented on #4388
@parasharrajat - Do you have the availability to look into this one as well? I can export and assign to you.

[2021-08-03 21:55] parasharrajat commented on #4388
@AndrewGable Sorry ATM I am not sure what can be done to fix this. So let it be here until I find a solution. Otherwise, let others help.

[2021-08-03 22:05] mallenexpensify commented on #2430
Hired @dklymenk in Upwork

[2021-08-03 22:07] michaelhaxhiu opened #4398 "[P2P in E.cash] - Add bank icons to the PaymentMethodsList"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

---

## Actual behavior:
Currently, bank accounts in the payment methods list only have the generic icon for banks/cards. Here's a screenshot for reference:
![2021-07-06_12-

[2021-08-03 22:09] mallenexpensify commented on #3296
@rdjuric should this issue be closed or wait for the new PR to be merged first?

[2021-08-03 22:09] tonikdao commented on #4328
![image](https://user-images.githubusercontent.com/13142887/128092756-dc4baf48-1a97-4148-aad5-be69cc508241.png)
Just add 2px margin to it

[2021-08-03 22:16] harshilJs commented on #4129
**Proposal**

I would try to clear input first and then trigger the send message functionality. clearing input is a state update so it should not affect the sending message time. and yes updating the state is the only solution I see here, there can be problem with re-rendering and we can optimise the component to avoid re-render by making some components `Pure` or by using `useMemo` if that is not

[2021-08-03 22:23] isagoico commented on #4218
Oh yeah I see it. Want me open a separate issue for this?

[2021-08-03 22:24] michaelhaxhiu commented on #3857
How have I been assigned this GH for over 1 month and it never showed on K2 until today? This is super strange. I clear my overdues every single week and missed this entirely. I feel like I'm going crazy?

[2021-08-03 22:25] parasharrajat commented on #4218
No. As this is a regression it should be fixed as part of it.

[2021-08-03 22:25] michaelhaxhiu commented on #3857
I'll test it right now @puneetlath. I am just perplexed that I had no idea this existed until now 😨

[2021-08-03 22:39] michaelhaxhiu commented on #3857
I can't reproduce this, for the exact reason Puneet stated above. Here's a recording (I tried 4-5 times btw):

![damnit](https://user-images.githubusercontent.com/13206896/128095257-b893eb90-1246-477c-9c2e-31854ef61d1d.gif)

[2021-08-03 22:39] #3857 closed

[2021-08-03 22:40] michaelhaxhiu commented on #3857
@puneetlath do you happen to know if this is real feature and expected behavior when a user with Unread DMs switches #focus mode?

Or should we always hide that numeric value in the tab header when in #focus mode (regardless of unreads existing)

[2021-08-03 22:45] aman-atg commented on #4218
@isagoico , this is a **regression** but it's not caused by [this PR](https://github.com/Expensify/App/pull/4309). Otherwise it would have been easily caught.
Just like #4352

[2021-08-03 22:48] Santhosh-Sellavel commented on #4398
@michaelhaxhiu  ZIP is not downloadable

[2021-08-03 22:50] michaelhaxhiu commented on #4398
@Santhosh-Sellavel can you try once more? I think it was an issue of copy/pasting that zip file from another GH respository.

[2021-08-03 22:51] Santhosh-Sellavel commented on #4398
If we know possible`bankName` we can use the same name for assets and retrieve assest it's a one time job. No checks would be needed further

[2021-08-03 22:52] AlfredoAlc commented on #4210
@thienlnam Also, check the `Expires` header, I noticed that it has a past date.. from 2020, and while I was testing it I saw the same date. That would be more likely to be the problem of why it doesn't storage the image into cache.

[2021-08-03 22:57] Santhosh-Sellavel commented on #4398
It's working now check other attachments also.

[2021-08-03 22:58] parasharrajat commented on #4218
Ah. It's hard to see at first sight. I know about this as I faced this earlier while creating that time string. I pointed this out https://github.com/Expensify/App/issues/4218#issuecomment-886666051 here

So I think it is. But yeah it could be not a regression from this PR.

[2021-08-03 23:13] Santhosh-Sellavel commented on #4398
<img width="537" alt="Screenshot 2021-08-04 at 4 43 36 AM" src="https://user-images.githubusercontent.com/85645967/128097861-c51a3e88-6fc6-4042-a458-b18dab7917c4.png">

[2021-08-03 23:18] AndrewGable commented on #4388
I am now only able to reproduce this on my physical iPhone, not my simulator on my computer 👻

[2021-08-04 00:41] marcaaron commented on #4027
Did a quick experiment today to see if [enabling Proguard on Android](https://developer.android.com/studio/build/shrink-code) would help (noticed it was not actually enabled despite the presence of a recently edited config file). It didn't do too much (if anything) so I don't think optimizing the build is going to have much of an effect.

I'm not entirely sure what to look into next - but coming a

[2021-08-04 01:12] Christinadobrzyn commented on #4118
I miscalculated the merge date - PR was merged 8 days ago today so paying this one.

[2021-08-04 01:17] quinthar commented on #4027
Did we upgrade our use of Sqlite to something that seems more optimized?

On Tue, Aug 3, 2021, 5:41 PM Marc Glasser ***@***.***> wrote:

[2021-08-04 01:18] Christinadobrzyn commented on #4118
Paid @rdjuric in Upwork! I think this can be closed (why didn't it close when the PR deployed?)

[2021-08-04 04:04] Christinadobrzyn commented on #4342
Posted in Upwork - invited @aman-atg to the job.

External Upwork post - https://www.upwork.com/jobs/~0199ea27a5587e0fc9
Internal Upwork post - https://www.upwork.com/ab/applicants/1422769769244663808/job-details

[2021-08-04 04:49] arpitdeveloper commented on #4315
We add the new translate key inside welcomeText in "main/src/languages/en.js"
like (phrase4: 'Welcome back to Expensify! Please set your Password')
and use inside <Text>{props.translate('welcomeText.phrase4')}<Text> with condition
in "/src/pages/signin/SignInPageLayout/SignInPageLayoutWide.js" and
"/src/pages/signin/SignInPageLayout/SignInPageLayoutNarrow.js"

[2021-08-04 04:55] kp17211 commented on #4211
Hello @trjExpensify
yes I want to work on this issue

[2021-08-04 05:03] Christinadobrzyn commented on #4375
Posted in Upwork

Internal job post - https://www.upwork.com/ab/applicants/1422783368849924096/job-details
External job post - https://www.upwork.com/jobs/~01e5ed6013bc933fd8

[2021-08-04 06:15] parasharrajat commented on #4375
Letting you all know that this issue is being covered from https://github.com/Expensify/App/issues/4213.
Anyways it can still be fixed here saparately, if you want.
cc: @Christinadobrzyn

[2021-08-04 07:12] arpitdeveloper commented on #4342
We create a variable inside render() in - "src/pages/home/report/ReportActionCompose.js"
like - (const hasChronosParticipant = _.contains(reportParticipants, CONST.EMAIL.CHRONOS);
and
 we add this line "&& !hasChronosParticipant"
 after this line-> "const shouldShowReportRecipientLocalTime = !hasConciergeParticipant"

[2021-08-04 07:26] bzaman commented on #4129
once it submit the message from state, we just need to clear/empty state again.

[2021-08-04 08:00] Beamanator commented on #3108
Job price in Upwork will be doubled today 👍

[2021-08-04 08:03] SofiedeVreese commented on #4362
Posted on Upwork: https://www.upwork.com/jobs/~01519d16416944bf41

[2021-08-04 08:04] Christinadobrzyn commented on #3108
It looks like the original Upwork job expired so I created a new one with the new $500 price and hired @kakajann

Internal job post - https://www.upwork.com/ab/applicants/1422830164452577280/job-details
External job post - https://www.upwork.com/jobs/~010f4ad7e03243ba0c

[2021-08-04 08:17] Beamanator commented on #4211
@kp17211 I think what @trjExpensify was asking if you want to submit a proposal for the fix :D

[2021-08-04 08:23] dklymenk commented on #4375
Hello, @Christinadobrzyn . I have submitted a proposal to the upwork post.

Thanks.

[2021-08-04 08:47] Beamanator commented on #4342
Hey @arpitdeveloper thanks for your proposal but as you can see in the above messages, we have already hired someone for this job. Please look for open issues that have the `Help Wanted` label if you are looking for jobs that haven't had anyone hired yet 👍

[2021-08-04 08:56] Christinadobrzyn commented on #4375
Thanks, @dklymenk! There seems to be a bug on the Upwork hire page, so I'm working with our team to resolve that and then I'll hire you in Upwork (hopefully tomorrow)! Thanks for your patience!

[2021-08-04 08:59] Christinadobrzyn commented on #4342
Ah so sorry @aman-atg - I missed the PR you created in this GH 🤦🏼‍♀️

Hired you in Upwork!

[2021-08-04 09:03] aman-atg commented on #4342
No problem! ( It's in draft. )

[2021-08-04 09:07] kakajann commented on #4398
## Proposal
1. I'll add all bank icons to [`ExpensiIcons`](https://github.com/Expensify/App/blob/main/src/components/Icon/Expensicons.js)
or `src/components/Icon/BankIcons.js` can be created
2. in `this.props.bankAccountsList` or `this.props.cardList` loop, detect the icon, using:
[code]
3. in the `renderItem` function add `iconHeight` and `iconWidth` props to make it bigger.

### And here's the r

[2021-08-04 09:16] arpitdeveloper commented on #4398
I add the all bank icon with bank name  and we check condition
bank name compare all icon if this icon name equal to bank name or credit card bank name
this icon is set in createPaymentMethodList() in "/src/pages/settings/Payments/PaymentMethodList.js"
if does not match we use default bank icon or credit card icon

[2021-08-04 09:19] dylanexpensify commented on #4367
On it!

[2021-08-04 09:24] aman-atg opened #4404 "Timestring is not being properly set on Refreshing the tab when the Language is English"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Details
https://github.com/Expensify/App/issues/4218#issuecomment-892122092
## Action Performed:
1. Go to newDot
2. Open any chat
3. Refresh the page
4. `timestring` w

[2021-08-04 09:24] aman-atg commented on #4404
## Proposal
### Explaination
* This is a regression which is most likely caused by this  https://github.com/Expensify/App/commit/72800fc2b5ef004d246084ee80e5a3c2c9a8c5b4
* Earlier we were getting `preferredLocale` inside `props` when we used `withLocalize` but after the above `commit` `preferredLocale` became `undefined`
* And then `locale` was passed inside props for `child comps.` instead of `pr

[2021-08-04 09:27] aman-atg commented on #4218
Found the cause of regression [here](https://github.com/Expensify/App/issues/4404)

[2021-08-04 09:29] dylanexpensify commented on #4367
Upwork Job Posting - [here](https://www.upwork.com/jobs/~01fbadfae4d89f3f68).

[2021-08-04 10:10] rdjuric commented on #3296
@mallenexpensify This can be closed now that the new PR was merged!

[2021-08-04 10:52] aman-atg commented on #4404
@parasharrajat It's the same [PR](https://github.com/Expensify/App/pull/4253) that caused https://github.com/Expensify/App/issues/4352. The issue it solved is #4268.

[2021-08-04 11:02] parasharrajat commented on #4362
### Proposal
1. in IOUDetailsModal component we get the data for IOU report here
[code]
for both Invalid chat id or invalid IOU report id, it returns `undefined` which will be set on the Onyx.
https://github.com/Expensify/App/blob/588700ee3a8111b44c3312c828098ee5e33e4388/src/libs/actions/Report.js#L415.

2. We show the loader until `iouReport` data is `undefined`. https://github.com/Expensify/App/

[2021-08-04 11:06] parasharrajat commented on #4404
Yeah, that's the way to fix this regression another PR should be made by the original author. Don't you think so?

[2021-08-04 11:13] arpitdeveloper commented on #4404
In this case we update "locale: this.props.preferredLocale"
 to "preferredLocale: this.props.preferredLocale"
in "App/src/components/withLocalize.js"

[2021-08-04 11:14] aman-atg commented on #4404
There're many instances when **regressions** are fixed as **Separate** issues when found out later after the PR is **merged**.
But I don't think that I'm eligible to answer that question. Someone will surely clarify later.

I've already provided context in the ticket itself.

[2021-08-04 11:41] kevinksullivan commented on #4321
@stitesExpensify does this mean if I am at the company info step and the API call fails, I'll be sent back to the very first step of the process? Or will I get dropped back in the company info step with the information I previously entered shown?

[2021-08-04 11:51] dklymenk commented on #2430
Hello, I have accepted the job on upwork and submitted a PR #4406

Thanks.

[2021-08-04 12:56] aman-atg opened #4407 "[Pay 9/6] Clearing the comment while Editing will show (edited) for a brief time period"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to newDot
2. Go to any chat
3. Edit your comment and delete everything in it
4. (edited) will be shown for a few `ms`

## Expected Result:

[2021-08-04 12:57] aman-atg commented on #4407
## Proposal

 * This situation can be handled inside `src/libs/actions/Report..js`.
 https://github.com/Expensify/App/blob/f77283722983908fe69befe261a2449b9a2cec19/src/libs/actions/Report.js#L1265-L1270
 * We can add the below code after line `1268` so that we don't flag the comment as `edited` without any reason

[code]

[2021-08-04 13:17] aman-atg commented on #4362
@SofiedeVreese Please find the above [proposal](https://github.com/Expensify/App/issues/4362#issuecomment-891049362). Thanks!

[2021-08-04 13:19] SofiedeVreese commented on #4362
Thanks @aman-atg I'll wait for @puneetlath to look into your proposal.

[2021-08-04 13:31] Gonals commented on #4217
Looks like a good fix! Setting it as external and weekly

[2021-08-04 13:32] Gonals commented on #4200
Good candidate for external!

[2021-08-04 14:36] AndrewGable commented on #4367
@dylanexpensify can you hire @mananjadhav? The proposal looks good, thanks!

[2021-08-04 14:41] mananjadhav commented on #4367
@AndrewGable  Thanks. Am I supposed to add the validation message only or also the visibility toggle? The latter will have to be added to other password fields too.

[2021-08-04 14:41] AndrewGable commented on #4392
I wasn't able to reproduce on the first try. Can you confirm this is still happening @isagoico ?

[2021-08-04 14:43] AndrewGable commented on #4367
I would say let's focus on validation message only. We do not have the visibility functionality on Expensify.com, so I think it's fine to not implement it for now.

<img width="1268" alt="Screen Shot 2021-08-04 at 8 42 38 AM" src="https://user-images.githubusercontent.com/2838819/128201429-3ceb47c5-9465-4d80-8748-ebff01e1264e.png">

[2021-08-04 14:43] mananjadhav commented on #4367
Noted. Thanks.

[2021-08-04 14:49] lschurr commented on #4404
Is this a duplicate of this one then? https://github.com/Expensify/App/issues/4218

[2021-08-04 14:55] parasharrajat commented on #4404
@lschurr I see that Changes here https://github.com/Expensify/App/pull/4366 caused this issue.

[2021-08-04 14:57] elemanhillary commented on #4375
Hello, my proposal and my first solution would look at the scheme urls and if the app bundle really match with that on firebase console

[2021-08-04 15:00] dylanexpensify commented on #4367
Working on this now @AndrewGable!

[2021-08-04 15:02] lschurr commented on #4404
Tagging Eng for another set of eyes.

[2021-08-04 15:05] dylanexpensify commented on #4367
@AndrewGable @mananjadhav I have sent the offer.

[2021-08-04 15:13] AndrewGable commented on #4375
Thank you for the proposal @elemanhillary, but we have already selected a proposal and contributor to fix this issue.

[2021-08-04 15:14] mananjadhav commented on #4367
@dylanexpensify Received the invite for 250$. Shouldn't it be 500$ as I've posted the issue.  Thanks.

[2021-08-04 15:16] elemanhillary commented on #4375
okay thanks, the project is still open on upwork, maybe close it so that others don't apply just like how i did

[2021-08-04 15:24] dylanexpensify commented on #4367
Hi @mananjadhav! Ah yes, sorry for the oversight. Will update the offer to reflect the correct amount.

[2021-08-04 15:25] dylanexpensify commented on #4367
@mananjadhav I've gone ahead and sent over the new offer!

[2021-08-04 15:30] dylanexpensify commented on #4367
Confirming @mananjadhav has been hired for this.

[2021-08-04 16:01] isagoico commented on #4392
Yep I'm still able to reproduce on my side

https://user-images.githubusercontent.com/44479856/128214479-bd87605a-565c-4abf-b7c6-b77f3b8112cb.mov

[2021-08-04 16:07] mallenexpensify commented on #4367
@mananjadhav The $250 bonus for reporting this issue (if you fix it) is added at the end once final payment is made.  If @dylanexpensify added it before, that's fine for this job.

[2021-08-04 16:15] mananjadhav commented on #4367
@mallenexpensify Thanks for clarifying. Noted.

[2021-08-04 16:15] AndrewGable commented on #4392
Ok great thank you, I now am able to reproduce. Attached is an additional error seen.

<img width="931" alt="Screen Shot 2021-08-04 at 10 14 47 AM" src="https://user-images.githubusercontent.com/2838819/128216710-be87ca84-403b-472a-8835-d1117142f8ac.png">

[code]

[2021-08-04 16:41] parasharrajat commented on #4392
I think there is some issue with `Onyx.merge`. I checked that Onyx.merge is not triggering render for the EnablePayments component.
Props `this.props.userWallet` is not updating after API response is received in Enable Components.

cc: @kidroca

[2021-08-04 16:51] shramee commented on #3381
@thienlnam I tried creating a test account but got a perpetual loading screen with no pending connections except a WS conn. Really need to rep the issue on loho first.

[2021-08-04 16:55] isagoico commented on #4292
@joelbettner issue is fixed! I think we are good to close this one 🎉

[2021-08-04 17:00] thienlnam commented on #3381
Hey @shramee, please bring set-up / environment related questions to the slack room #expensify-open-source and people will be able to help you there

[2021-08-04 17:03] Jag96 commented on #4171
Paid!

[2021-08-04 17:03] #4171 closed

[2021-08-04 17:07] Jag96 commented on #4315
@mananjadhav your proposal sounds good, offer sent, feel free to start on a PR

[2021-08-04 17:46] azimgd commented on #3381
Hey guys,

I created this patch for testing purposes against `VirtualizedList` which alters the order of cell renderer instead of CSS hack which is currently implemented. My initial tests didn't show any regressions and fixed issue described above.

https://github.com/azimgd/react-native/pull/1/files#diff-7481ec8ed5532798b075df637e805a8e439807aa2ce671208c24068c286361e8R798-R802

[code]

Do you thi

[2021-08-04 18:15] adelekennedy commented on #4350
Upwork Job Posting: https://www.upwork.com/ab/applicants/1422984222169288704/suggested

[2021-08-04 18:22] mananjadhav commented on #4315
@Jag96 PR Raised. Need help with Esp translations.

[2021-08-04 19:05] #3889 closed

[2021-08-04 19:06] iwiznia commented on #3770
This is done, was deployed to prod 5 days ago...

[2021-08-04 19:07] rdjuric commented on #3897
@MelvinBot PR is in progress and linked, should be ready for review really soon

[2021-08-04 19:10] mallenexpensify commented on #4216
I'm a lil confused too, but I think I get it...
When in "Most recent" mode, if you search then select a chat with a user, but don't send them a message, the chat doesn't show up in LHN, right? (also.. if you type a draft it doesn't show in LHN either).

So.. we need to decide...
1. Should the chat show even if no new message was sent?
2. Should it show temporarily while you have the chat open in t

[2021-08-04 19:29] parasharrajat commented on #4392
Oh, Yeah that is causing the issue.
My question is `console.log(_.isEqual({a: 1, b: 2} , {b :2, a: 1}))` is `true`. Is this intended to skip the update we do Onyx.merge with the second value.
cc: @marcaaron

[2021-08-04 19:38] marcaaron commented on #4027
Not yet! It could be the next thing to look into. Unsure how large of an effort that will be, but sounds like we might want something fairly custom based on the Slack conversations.

One idea could be to do a quick test and set up [`react-native-mmkv`](https://github.com/mrousavy/react-native-mmkv) in Onyx. I am not suggesting we use it as it sounds like we want to RYO. But, it claims to be about

[2021-08-04 19:42] deetergp commented on #4307
Apologies, I've a bit bogged down, looking at it now…

[2021-08-04 19:42] quinthar commented on #4027
Ya, I still don't think any of those claims/tests actually mean anything.
I'd much rather just improve what we've got using whatever supposed
advantages mmkv has (because I think the raw storage performance of mmkv vs
SQLite is equivalent -- and nearly instant -- and the only
difference would be in how it manages the bridge).

On Wed, Aug 4, 2021 at 12:39 PM Marc Glasser ***@***.***>
wrote:

[2021-08-04 19:43] deetergp commented on #4184
The PR for this is under review and moving forward.

[2021-08-04 19:44] mananjadhav commented on #4323
@stitesExpensify I've managed to get some pieces working and send in a **Proposal**

## Approach
1. Add `const skinTones = ['🖐🏿', '🖐🏾', '🖐🏽', '🖐🏼', '🖐🏻'];` to the emojis.js
2. Maximum changes are in EmojiPickerMenu/index.js

[code]
3. Onyx related changes
[code]

### Caveats:**

1. Assumption is that length and the order of the skin-tones and types array are the same.
2. Need the proper design to

[2021-08-04 20:28] timszot commented on #4218
@vitHoracek I don't think [this](https://github.com/Expensify/App/issues/4218#issuecomment-892897425) message is correct. We shouldn't be showing these on issues held for payment, right?

[2021-08-04 20:33] Luke9389 commented on #3798
Quick update, we're still waiting on [this](https://github.com/Expensify/Expensify.cash/pull/3414) issue to get merged before taking this one off HOLD.

[2021-08-04 20:43] parasharrajat commented on #2846
Coming from slack thread https://expensify.slack.com/archives/C01GTK53T8Q/p1628107138154400. We might need to consider the Parsing for `~`. It is not yet confrimed. Thanks

[2021-08-04 20:48] #3296 closed

[2021-08-04 20:52] mananjadhav opened #4411 "[HOLD for payment + bonus Aug 20] Block ability to select Chronos from Recents list when splitting bill or requesting money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

I am not quite sure of the role of Chronos. Can be closed if this is an incorrect assumption.

## Action Performed:
1. Go to the sidebar and click on  '+'
2. Click on th

[2021-08-04 20:52] mananjadhav commented on #4411
If this is a valid issue then,

** Proposed Solution **

`getNewChatOptions` defined in OptionsListUtils.js is being used to get participants in NewChat as well as IOUParticipantsRequest. It has a flag to ignoreConceirgeEmails and we can extend it to ignore Chronos email too.

1. In OptionsListUtils.js change the function type signature with one of the following options:

[code]

or

[code]

2.
Ac

[2021-08-04 21:00] kevinksullivan commented on #3770
merged 8 days ago, and we typically wait 7. Paid.

[2021-08-04 21:00] #3770 closed

[2021-08-04 21:04] parasharrajat commented on #4392
Coming from the Slack thread https://expensify.slack.com/archives/C01GTK53T8Q/p1628106963153400.
It is not too sure what should we do here in the case of standard implementation which is already there but will not be more work due to changes to Onyx Architecture.

For now, I propose this.

### Proposal
1. I will create a state variable for `EnablePayments` component `loading`.
2. In componentDidMo

[2021-08-04 21:13] Luke9389 commented on #4404
@parasharrajat is correct in saying this should be fixed by the original author. We always wait 7 days to pay our contributors so that we can find regressions like this one. The PR we've been linking to is actually another regression fix from [this original one](https://github.com/Expensify/App/pull/4253), which was only merged 5 days ago.

Thus I think @kidroca should make this change (it's a tin

[2021-08-04 21:18] stitesExpensify commented on #4398
Hi everyone, as we mentioned in the description, there are lots of bank names in the list like `americanexpress.com.uk` and `americanexpress.com.australia` which should both map to the American Express Icon. Those can't be changed in the DB so we need to match in a different way than just straight `===`, meaning that none of the proposed solutions will work.

[2021-08-04 21:18] Santhosh-Sellavel commented on #4411
Hey, I too found the same issue just about half an hour ago. Wondering coincidence or hack? 🤔

[2021-08-04 21:20] roryabraham commented on #2985
Despite the fact that we exported some R&D for this issue, I think we'll probably keep this internal going forward.

[2021-08-04 21:24] Santhosh-Sellavel commented on #4411
But for the concierge.

[2021-08-04 21:43] stitesExpensify commented on #4238
This is merged and on staging

[2021-08-04 21:43] thienlnam commented on #4212
Going to keep myself assigned to work on this internal issue and try to complete it later this week / early next

[2021-08-04 21:44] thienlnam commented on #3981
No proposals or clear re-production steps yet

[2021-08-04 21:57] Santhosh-Sellavel commented on #4398
@stitesExpensify cannot access banknames list
banklist.csv
bankaccountlist.csv

[2021-08-04 22:14] chiragsalian commented on #4388
Briefly looked at the issue, I think this is the issue,
![image](https://user-images.githubusercontent.com/14356145/128262194-ceab9a3f-d2a8-4f21-9487-5b6b1a2be91d.png)

which looks like it's from [here](https://github.com/Expensify/App/blob/efc727d25c052d540e52100fd25369cdfc951f54/src/libs/actions/PersonalDetails.js#L51).

Haven't confirmed though. Just initial guess.

[2021-08-04 22:23] stitesExpensify commented on #4398
[bankaccountlist (2).csv](https://github.com/Expensify/App/files/6934702/bankaccountlist.2.csv)
[banklist (3).csv](https://github.com/Expensify/App/files/6934703/banklist.3.csv)

What about these?

[2021-08-04 22:23] Santhosh-Sellavel commented on #4411
Okay, yours is a different issue, you are choosing `Chronus` from recent.

[2021-08-04 22:24] Santhosh-Sellavel commented on #4398
Working @stitesExpensify

[2021-08-04 22:31] Santhosh-Sellavel commented on #4398
We can map `bankNames` and `icon` for icons we have.  We can create a separate file for this. Using the method `getBankIcon` we can retrieve the icon.

[2021-08-04 22:37] parasharrajat commented on #4388
@chiragsalian I can tell why this is happening.
1. We update the timezone here https://github.com/Expensify/App/blob/9b1ea35eca45885dd0168971b93fdecd5501e34e/src/libs/Navigation/AppNavigator/AuthScreens.js#L80.
2. As soon as we do this, this will run. https://github.com/Expensify/App/blob/9b1ea35eca45885dd0168971b93fdecd5501e34e/src/libs/actions/PersonalDetails.js#L199
3. But `personalDetails` are

[2021-08-04 22:37] jliexpensify commented on #4021
On hold Melvin!

[2021-08-04 22:46] parasharrajat commented on #4388
There is one way that we move the timezone setting code to personalDetails.js from AuthScreen.js
[code]
Then move this code to a function and run that function each time `currentEmail` changes which means a user is login/changing.
[code]
We can wait to call that method until `personalDetails` are set.

[2021-08-04 23:12] mallenexpensify commented on #4130
@thienlnam I'm guessing this should be an `External` issue, right?  If so I'll post the job to Upwork. Also if so, should I hire @Santhosh-Sellavel ?

[2021-08-04 23:20] thienlnam commented on #4130
Nice catch - Yes, please do @mallenexpensify I've just merged his PR

[2021-08-04 23:21] thienlnam commented on #4130
Sorry @adelekennedy! Letting @mallenexpensify wrap up the upwork posting

[2021-08-04 23:24] Santhosh-Sellavel commented on #4398
But the best way to handle this image should be available in API itself, `URI` pointing to a resource over like we have our profile pic in `personalDetails`.

From where do we get ` bankAccount.additionalData`. Is it a third-party integration?
`addtionalData` should have a `logoURI`, like it has `bankName`.

While we fetch bank account details, `logoURI` can be added in response in backEnd

And la

[2021-08-04 23:26] stitesExpensify commented on #4321
You will be dropped back at the beginning, your data should be saved though

https://user-images.githubusercontent.com/42391420/128268165-c8cc3a1e-a7be-4052-a573-9b7819ce7704.mp4

[2021-08-04 23:30] Santhosh-Sellavel opened #4413 "Block chronos@, receipts@ and concierge@ from Split Bill and Request Money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. New Request/split bill
2. Enter the amount
3. In search enter the full email as "concierge@expensify.com" || "Chronos@expensify.com"
4. From sear

[2021-08-04 23:48] deetergp commented on #4395
Definitely seems like an external-friendly issue.

[2021-08-05 00:01] azimgd commented on #3381
After further investigation, I came to the conclusion that `FillRateHelper` and `getFrameMetrics` should (probably?) be fine and no changes are required for those two, what needs to be fixed is either `VirtualizeUtils/computeWindowedRenderLimits` or `VirtualizeUtils/elementsThatOverlapOffsets` as **overscanning** is broken at long lists on scrolling, therefore list items are rendered in the correc

[2021-08-05 00:05] Christinadobrzyn commented on #4375
Hi @dklymenk! Good news, the bug is fixed on the Upwork hire page and I was able to hire you for this job in Upwork. Thanks!

[2021-08-05 00:13] Santhosh-Sellavel commented on #4413
## Proposal

In OptionUtilsList  add new method `isExcludedIOUUsers` we can change it to
<img width="967" alt="Screenshot 2021-08-05 at 5 36 28 AM" src="https://user-images.githubusercontent.com/85645967/128271039-a248262b-25d6-466a-b41f-1f528d1e1819.png">

And uses from both` IOUParticipantsRequest.js` &` IOUParticipantsSplit.js` as below,
<img width="1084" alt="Screenshot 2021-08-05 at 5 36 44 A

[2021-08-05 00:18] stitesExpensify commented on #4398
addtionalData should have a logoURI, like it has bankName.

We get that data from a lot of different places both internal and external. A lot of it is legacy data too which makes it hard to go back and change. IMO we don't want to do a database change for this issue.

Is there a reason you prefer this over the solution in the description? If we write a function to map all of these, then we could j

[2021-08-05 00:20] Christinadobrzyn commented on #4273
It looks like we're still waiting to hire a contributor for this. @parasharrajat would you like to 'officially' take this job or would you prefer I leave it open for other contributors to take a peek? Not sure how full your plate is right now but I know you've been working on lots!

[2021-08-05 00:35] Christinadobrzyn commented on #4217
Created job in Upwork!

Internal job posting - https://www.upwork.com/ab/applicants/1423078971052310528/job-details
External job positing - https://www.upwork.com/jobs/~010d6dccd32aa7fa02

@aman-atg I will hire you for this job but there's a bug on the Upwork hire page that seems to resolve itself after the job is posted for 24 hours.

This job is eligible for the $250 bonus since @aman-atg found

[2021-08-05 00:35] Santhosh-Sellavel commented on #4398
Is there a reason you prefer this over the solution in the description?

We don't need the assets to be bundled with apps, because more than 90% of assets are useless for any normal user. It increases app size.

[2021-08-05 00:36] chiragsalian commented on #4388
i just got back online. Since its not assigned yet i'll check it out. Great investigation @parasharrajat.
Let me read the issue and understand the flow to better understand what to do next.

[2021-08-05 00:57] marcaaron commented on #4129
Sorry, I still don't think we've got the right proposal yet.

[2021-08-05 01:22] chiragsalian commented on #4388
I've been trying this for a little while and yeah I cannot reproduce this on iOS simulator or phone. I do see `Cannot read property 'replace' of undefined` logs though and yeah what you posted Rajat makes the most sense to me. I don't get the second part of your explanation i.e.,

I don't think thats needed because if the user logs out and logs in then the callback for `ONYXKEYS.MY_PERSONAL_DETAIL

[2021-08-05 01:38] Santhosh-Sellavel opened #4415 "Phone Number Validation Message Issue in Login Page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open new Expensify.
2. Log out if already logged in
3. Login using a phone number, enter the phone number without country code

## Expected Resul

[2021-08-05 02:26] Christinadobrzyn commented on #4118
Closing issue - reopen if needed.

[2021-08-05 02:26] #4118 closed

[2021-08-05 03:08] kadiealexander commented on #3926
Paid with a bonus for finding the issue! Thanks @rushatgabhane 😁

[2021-08-05 03:08] #3926 closed

[2021-08-05 05:45] AmitkumarMishra-code commented on #4217
Is the job posting still accepting proposals, or has @aman-atg been hired for it?

[2021-08-05 06:00] Christinadobrzyn commented on #4217
Upwork bug fixed - hired @aman-atg in Upwork!

[2021-08-05 06:01] Christinadobrzyn commented on #4217
Hi @AmitkumarMishra-code thank you for reaching out! Aman has been hired for it but feel free to take a peek at our jobs to see if there's something that sounds fun!

[2021-08-05 07:06] kidroca commented on #4404
@aman-atg
Thanks for the info, I'll submit another PR
I've missed that previously `preferredLocale` was along the `...props` spread
I've only passed `locale` to trigger re-render when it changes, I had no idea it was actually used in the child components...

[2021-08-05 07:13] aman-atg commented on #4404
@kidroca
No problem mate!

[2021-08-05 07:15] dklymenk commented on #3770
Hello @kevinksullivan, can you please check again. The contract is still open for me and I haven't received any notifications about payments either.

[2021-08-05 09:33] aman-atg opened #4417 "[HOLD for payment 2021-09-16] Not getting any feedback when updating/removing the Avatar"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to newDot
2. Go to settings
3. Select Profile
4. Update or Remove your profile picture
5. No feedback will be given.

## Expected Result:

[2021-08-05 09:33] aman-atg commented on #4417
## Proposal

### Explaination
 * It's because we're only showing the `feedback` in this `function` on line `186` which doesn't account for changing profile picture
 https://github.com/Expensify/App/blob/474a1492b5507390cf65aa177aa4e20b6f06a0a4/src/pages/settings/Profile/ProfilePage.js#L164-L187

### Solution
[code]
 * We can solve this issue by adding `Growl` inside `setPersonalDetails`  after lin

[2021-08-05 09:40] aman-atg commented on #3770
@kevinksullivan , I think you have accidentally made payment for https://github.com/Expensify/App/issues/4219 instead of this one

[2021-08-05 09:57] dklymenk commented on #4375
Hello, I have submitted a PR for this issue: https://github.com/Expensify/App/pull/4418

Thanks.

[2021-08-05 10:09] sketchydroide commented on #4216
Yeah I think I'm with you here Matt, After a couple of days thinking, I don't see any benefit for the user to have this, there is no action they can/need to do in the user they are chatting with.

I would very much prefer to have something happen to all the chats that have unread messages, sometimes I need to look around for whatever chat/user/room has unread messages. But I think a filter button,

[2021-08-05 12:28] SofiedeVreese commented on #4362
Going to remove @puneetlath 's assignment due to competing priorities and re-add the Exported label.

[2021-08-05 12:37] JmillsExpensify commented on #4214
I've been OOO. Hired appropriately in Upwork.

[2021-08-05 13:06] aman-atg opened #4420 "User can add unlimited leading 0s like 0000.009 , 000009 etc inside Amount page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to newDot
2. Select any chat
3. Choose Request Money option
4. Enter 00009 or 0000.99 and it'll not stop you

## Expected Result:
User shou

[2021-08-05 13:07] aman-atg commented on #4420
## Proposal

* We can update the regex here to get the desired results
https://github.com/Expensify/App/blob/474a1492b5507390cf65aa177aa4e20b6f06a0a4/src/pages/iou/steps/IOUAmountPage.js#L100-L103

[code]

[2021-08-05 13:10] stephanieelliott commented on #4169
This Upwork job is experiencing a bug around payment, Upwork support is trying to resolve it but so far it's still open.

@parasharrajat to avoid delay, I issued payment for this as a `miscellaneous payment` on a prior job (issue #4171)

[2021-08-05 13:10] #4169 closed

[2021-08-05 13:21] stephanieelliott commented on #4417
Was able to reproduce, could not find any other reports of this, seems like something we will want to fix 👍 Moving on to Engineering review!

[2021-08-05 13:53] parasharrajat commented on #4169
Thanks, @stephanieelliott Received it.

[2021-08-05 14:59] TomatoToaster commented on #4357
I'm putting the external label on this so we can get an upwork listing created. I think the problem makes sense and the proposal fits (but I'll have the engineer assigned double check it).

[2021-08-05 15:07] TomatoToaster commented on #4357
One thing I will say is that I don't think this method should also be in `shouldComponentUpdate`. That funciton should only handle the boolean logic on whether the props changing is relevant to rerun `componentDidUpdate`. Instead you should move that call to `componentDidUpdate`. I think it makes more sense for it to be there since you're already telling it to run `componentDidUpdate` with the `re

[2021-08-05 15:57] #4221 closed

[2021-08-05 15:57] botify commented on #4221
@AndrewGable @jboniface  Be sure to fill out the [Contact List](https://forms.gle/zhdenCB5dE5gKfnw6)!

[2021-08-05 15:59] jboniface commented on #4082
paid

[2021-08-05 15:59] #4082 closed

[2021-08-05 15:59] botify commented on #4082
@iwiznia @jboniface  Be sure to fill out the [Contact List](https://forms.gle/zhdenCB5dE5gKfnw6)!

[2021-08-05 16:00] jboniface commented on #3959
paid

[2021-08-05 16:00] #3959 closed

[2021-08-05 16:00] botify commented on #3959
@tgolen @jboniface  Be sure to fill out the [Contact List](https://forms.gle/zhdenCB5dE5gKfnw6)!

[2021-08-05 16:08] Julesssss commented on #4328
Thanks @parasharrajat, please go ahead with this solution: https://github.com/Expensify/App/issues/4328#issuecomment-891103912

[2021-08-05 16:09] jboniface commented on #4328
@parasharrajat can you send a proposal to this job on upwork? upwork is bugged out right now and won't let me hire you for the correct price.

[2021-08-05 16:19] Santhosh-Sellavel commented on #4357
I will move that to `componentDidUpdate` it makes more sense for me too.

[2021-08-05 16:19] deetergp commented on #4307
The code portion of the proposal looks solid, but I'm not sold on any of the error message. How about something like `That user is already a member of this workspace`.

[2021-08-05 16:26] aman-atg commented on #4307
Sounds good to me!

[2021-08-05 16:28] parasharrajat commented on #4328
@jboniface I applied for the post.

[2021-08-05 16:29] michaelhaxhiu commented on #3987
Paid.

[2021-08-05 16:29] #3987 closed

[2021-08-05 16:29] botify commented on #3987
@Beamanator @michaelhaxhiu  Be sure to fill out the [Contact List](https://forms.gle/zhdenCB5dE5gKfnw6)!

[2021-08-05 16:39] mananjadhav opened #4421 "UI Layout consistency for iPad devices, update breakpoint for iPad/Tablets"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to iPad Prod Safari Browser
2. Open the Login Page
3. You'll see a half-sized page while in the iPad app it works fine.

## Expected Result:
-

[2021-08-05 16:39] mananjadhav commented on #4421
**Proposal**

We can add another function to check if the device is iPad.

1. libs/getOperatingSystem/index.js

[code]

2. libs/getOperatingSystem/index.native.js

[code]

3. components/withWindowDimensions.js

[code]

4. We can either merge the isPad check with isSmallScreenWidth or keep the flags separate and then in SignInPageLayout.js

[code]

If we take point 4, then we'll have to update isSm

[2021-08-05 16:40] laurenreidexpensify commented on #4307
Nice so @deetergp to confirm - this can move to upwork and we are going with @aman-atg's proposal to fix it?

[2021-08-05 16:52] parasharrajat commented on #4421
Good catch. Looks like a duplicate of https://github.com/Expensify/App/issues/4110.

[2021-08-05 16:54] isagoico opened #4422 "Some emojis are not large when sending them individually"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send a singular ❤️

## Expected Result:
MacOS: Heart emoji should be large if sent individually
Windows: Heart emoj

[2021-08-05 17:00] mananjadhav commented on #4421
For iPad are we going to show the Desktop layout? If yes then it's a duplicate. If no then it has to be tracked separately.

Missed one imp. note, iPad Pro 9.7 inch shows Narrow view, the problem is with iPad Pro 4th generation (12.7 inch) which shows the Wide view.

[2021-08-05 17:06] parasharrajat commented on #4421
Yes we show web file for all browsers.

[2021-08-05 17:08] mallenexpensify commented on #4130
https://www.upwork.com/jobs/~0186df8dda363f929c
@Santhosh-Sellavel , can you please 'submit a proposal'/apply in Upwork and I'll hire you there? Please confirm here once you do.

[2021-08-05 17:14] mallenexpensify commented on #4216
@sketchydroide check out #focus mode in Preferences, it'll show all unread in LHN.

@quinthar since you brought up the issue, do you have more thoughts/feedback? I want to make sure we're not 'missing something'

[2021-08-05 17:22] Julesssss commented on #4264
Started on this, but switched focus to an API-Error fire and a couple of houry QA issues.

I have started looking deep into the libraries. One thing unrelated to this issue is that I need to confirm whether the Urban Airship headless service is foreground or not. If not then we should be able to reduce the OS cooldown by making it a foreground headless service (or asking UA to do this) -- will fol

[2021-08-05 17:28] deetergp commented on #4307
@laurenreidexpensify Yes, let's do it!

[2021-08-05 17:32] isagoico opened #4425 "[HOLD for payment 2021-10-30] Negative notification displayed in tab"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Unclear (?)
1. Log in and open all unread messages in app.

## Expected Result:
There should not be any negative number's in the notification status

[2021-08-05 17:38] alex-mechler commented on #4425
I wonder if this is somehow related to https://github.com/Expensify/App/issues/4273.

Either way, looks like a good external issue!

[2021-08-05 17:45] mananjadhav commented on #4425
Could be related but a quick fix for this can be:

In `updateUnread/index.website.js`
Change the code from `const hasUnread = totalCount !== 0;` --> `const hasUnread = totalCount > 0;`

[2021-08-05 18:09] madmax330 opened #4426 "Test issue"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2021-08-05 18:10] #4426 closed

[2021-08-05 18:10] botify commented on #4426
@madmax330 @mallenexpensify  Be sure to fill out the [Contact List](https://forms.gle/zhdenCB5dE5gKfnw6)!

[2021-08-05 18:48] Jag96 commented on #4333
Checking off a bunch of PRs that got added b/c of the CP bug, https://github.com/Expensify/App/pull/4416 is the PR that was CPd in order to fix https://github.com/Expensify/App/issues/4388, so that one can be retested.

[2021-08-05 19:03] deetergp commented on #4184
Looks like the PR has been merged 🙌

[2021-08-05 19:05] rushatgabhane commented on #3841
PR already merged.
Ignore the bot.

[2021-08-05 19:06] rushatgabhane commented on #3455
Issue is on hold.
Ignore the bot.

[2021-08-05 19:07] deetergp commented on #4223
WAT? Take a hike @MelvinBot, this has a PR and is pending review!

[2021-08-05 19:15] Jag96 commented on #4333
I've also CPd https://github.com/Expensify/App/pull/4397 to staging, so [this deploy blocker](https://github.com/Expensify/App/issues/4221) can be tested again!

[2021-08-05 19:16] thienlnam commented on #4232
Waiting for proposals, seems like the workaround is to restart the app

[2021-08-05 19:17] Santhosh-Sellavel commented on #4130
Done

[2021-08-05 19:19] laurenreidexpensify commented on #4187
melvin u liar

[2021-08-05 19:23] marcaaron commented on #4027
This is branching off of [this comment](https://github.com/Expensify/react-native-onyx/issues/84#issuecomment-893709138) and @kidroca's observations that a lot of keys are fetched when the app inits. While we are looking into optimizing storage stuff it still feels like some opportunities for optimization at a higher level is possible...

**Stop reading report actions from storage on init**
- We f

[2021-08-05 19:25] isagoico commented on #4388
I was able to log in successfully on web but I was unable to reproduce this issue consistently before. @AndrewGable @parasharrajat can you try reproducing the issue again on build 1.0.82-5

[2021-08-05 19:29] AlfredoAlc opened #4432 "Text and icon overlaps in Picker component"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Press User icon (Settings).
2. Press Preferences

## Expected Result:
Down Arrow should be on the right of the text in the Picker component.

##

[2021-08-05 19:31] AlfredoAlc commented on #4432
Proposal
Add the corresponding padding to the picker style.
Since is a `RNPickerSelect`, the `Icon` prop renders with `{position: 'relative', right: 0}`, this causes to overlap the icon and the text if the padding is not set correctly.

https://github.com/Expensify/App/blob/28add7719fce12d1f059ccce5fe3e67573162038/src/styles/styles.js#L287-L331

Use a padding of 40 in `paddingRight` for `inputIOS`

[2021-08-05 19:34] quinthar commented on #4027
hilarious idea: what if we captured a screenshot of the app upon close, and
then just... showed that whole screenshot when you open the app, and while
we're sorting out the background?  It would give the impression of super
instant responsiveness.

Regardless, I think it's more important to open fast than to update the
network fast.  (Both matter, but I'd rather have a usable app that is out
of da

[2021-08-05 19:34] stitesExpensify commented on #4323
Hi @mananjadhav that looks good to me! @puneetlath can we make an upwork job for this and hire @mananjadhav ?

What is the purpose of this?

AFAICT they are. We can fix the emojis that aren't later if necessary.

Can you just use the design I posted before, while ignoring the categories section?

[2021-08-05 19:37] parasharrajat commented on #4432
Are you sure that you are on the latest code?
I see this
![image](https://user-images.githubusercontent.com/24370807/128410545-dfce4e2c-d4ea-43e7-8090-d0626b07780b.png)

[2021-08-05 19:40] aman-atg commented on #4361
## Proposal

### Explaination
https://github.com/Expensify/App/blob/f117c993b1c7db404a0d34937721e181c73c2fc7/src/pages/DetailsPage.js#L63-L64
* We are setting `details` as `undefined` here whenever the `route.params.login` isn't a valid login
* Then, executing the 2nd line is causing the `App` to crash.

### Solution

[code]
* Adding the above code after` line 63` should fix the problem

[2021-08-05 19:47] kidroca opened #4433 "[Performance] Onyx: Hydrate cache with all finite size keys before init"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?
- storage read times
- React native bridge concerns
- faster app init

## What is the impact of this on end-users?
- impro

[2021-08-05 19:47] marcaaron commented on #4027
LOL, but maybe something like it? I think we can just...

- load the minimum amount of data required to create the LHN (e.g. only about 8 chats are visible for me on init on Android so why bother loading another 190 that are totally hidden from view?)
- continue retrieving the rest of the reports after that happens

The report summary list (if we start storing a minimal version of it) should tell

[2021-08-05 19:48] mananjadhav commented on #4323
@stitesExpensify `skinTones` array is to populate the skin tone list at the bottom of the picker

[2021-08-05 19:57] stitesExpensify commented on #4323
Ah, totally makes sense. Thanks for the clarification

[2021-08-05 19:58] marcaaron commented on #4433
I agree we need to look at the reports situation. We front load a ton of storage reads when the app inits and that will not scale well in the future when reports can number in the thousands.

But if the app is already slow because these reads are all happening in a short time frame - I'm confused about why batching would help? Would this maybe just delay init further since we are giving priority t

[2021-08-05 20:01] arielgreen commented on #4395
Upwork job here: https://www.upwork.com/jobs/~017be5b50d2e8b3a3d

[2021-08-05 20:03] mananjadhav commented on #4323
While @puneetlath creates a job and sends an invite, I'll get started.

btw @stitesExpensify I am guessing the Emojipicker by itself works responsive on all devices and I don't have to worry about the container?

Apart from what we've discussed anything else you think I should be taking care of?

[2021-08-05 20:03] parasharrajat commented on #4395
@isagoico Can't reproduce this on latest code.

[2021-08-05 20:07] mananjadhav opened #4434 "Workspaces in Sidebar don't show Avatar (loads default icon only)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Workspace and update the Avatar
2. Come back to Settings to see the Workspace list
3. All workspaces show default building icons only.

##

[2021-08-05 20:07] mananjadhav commented on #4434
**Proposal**

At the moment, we're only loading the default Building icon in the Workspace sidebar list. We also need to make changes in the `MenuItem` to accommodate an avatar image.

1. MenuItem.js
[code]

[2021-08-05 20:08] marcaaron commented on #4433
also had a random idea... I'm curious if it's possible to have the app init with the "finite" data already in memory without having to ask the native layer for it? e.g. could we hydrate the Onyx cache via the native layer so that the cache is pre-filled by the time the first `Onyx.connect()` happens? I'm unsure if this would help, but noticed it's possible to [pass properties on init](https://reac

[2021-08-05 20:08] AlfredoAlc commented on #4432
Yes, I see it now the same as you.

My bad.. I didn't had the latest code.

[2021-08-05 20:08] #4432 closed

[2021-08-05 20:08] botify commented on #4432
@SofiedeVreese  Be sure to fill out the [Contact List](https://forms.gle/zhdenCB5dE5gKfnw6)!

[2021-08-05 20:10] chiragsalian commented on #4388
Yup, we just CP-d a possible fix. I think the version of this is 1.0.82.4 that just hit testflight. @AndrewGable when you get the chance can you test on your phone and let us know if any issue is present.

[2021-08-05 20:15] AndrewGable commented on #4388
Still seeing white screen on `1.0.82.4`

https://user-images.githubusercontent.com/2838819/128415064-cb74dc1e-d9e8-4829-a310-7c8994b5f0f4.MP4

[2021-08-05 20:23] deetergp commented on #2734
It looks like https://github.com/Expensify/App/pull/3414 is getting close. We've got 1 out of 3 reviewers' approval on the PR.

[2021-08-05 20:25] stitesExpensify commented on #4323
`emojiPickerMenu.js` has both an `index` and `index.native` so we'll need to update both.

The only thing I can think of is that your code doesn't include any server-side saving of the emoji preference. We are going to want to store that in a new NVP (by calling `NameValuePair.set`) called `preferredUserSkinTone`. We can then get that on app load and save it in onyx to be used by the emoji picker.

[2021-08-05 20:30] mananjadhav commented on #4323
Thanks for the note. I'll check these and test.

[2021-08-05 20:33] quinthar commented on #4027
I totally agree we can wait to read the 190 hidden chats until we switch to
them.  If the only reason we do it is to figure out how to sync, let's find
a way to do that in a more optimized way -- maybe a single object that has
the most recent comment from each, that we can create an API to receive as
a single API call.

On Thu, Aug 5, 2021 at 12:47 PM Marc Glasser ***@***.***>
wrote:

[2021-08-05 20:50] Santhosh-Sellavel commented on #4395
Yes unable to reproduce, while pressing up arrow scroll to the last Item (to bottom)

[2021-08-05 20:57] AndrewGable commented on #4388
I can reproduce the white screen on web staging right now as well

<img width="557" alt="Screen Shot 2021-08-05 at 2 52 13 PM" src="https://user-images.githubusercontent.com/2838819/128419637-6af26978-6db2-4106-9948-9054131f2e07.png">

https://user-images.githubusercontent.com/2838819/128419909-59ee14a1-2628-45a4-9f78-f505942f236f.mov

[code]

[2021-08-05 20:58] Luke9389 commented on #3952
OK, I think we can slap the `External` label on this thing to get a proposal then.

[2021-08-05 20:59] Luke9389 commented on #4187
Strange, I'm gonna look into why Melvin misfired here...

[2021-08-05 21:06] kidroca commented on #4433
1. Reading many keys with separate parallel gets is slower, compared to reading all those keys with one multi get
2. Reading keys separately triggers separate requests over the bridge
3. We're already make a multiGet that retrieves 4 keys before we let connections happen. We can just fetch the finite keys there - reading 4 or 100 keys should pretty much resolve for the same duration

About the las

[2021-08-05 21:21] marcaaron commented on #4433
Nice, I'm still really curious to see the impacts on launch time in this case. In reality, we might not need all of that data we are reading on init and should be cautious about reading more than necessary. I'm up for trying this, but we should benchmark the time it takes for the app to become interactive and make sure front loading keys isn't moving the needle in the wrong direction.

[2021-08-05 21:26] aldo-expensify commented on #4433
I got assigned to this, and sounds interesting... I'll be happy to work on it, but I'll be slow at first while I get familiarized with all the new things :)

[2021-08-05 21:36] Santhosh-Sellavel commented on #4398
@stitesExpensify

[2021-08-05 21:38] marcaaron commented on #4433
Thanks, @aldo-expensify but just FYI, you do not have to work on this. The auto-assignment happens so engineers can help triage. There is no other expectation here.

[2021-08-05 21:40] stitesExpensify commented on #4398
That makes sense, but there are 2 downsides to that IMO.
1. We would have to do a massive database migration to add an icon link to each bank account
2. The icons would not work if we are offline

Great, let's do it that way then.

[2021-08-05 21:40] stitesExpensify commented on #4398
@michaelhaxhiu can you create an upwork job and hire @Santhosh-Sellavel please? Thanks!

[2021-08-05 21:58] aldo-expensify commented on #4433
Hey @marcaaron , I was just told the same by Rocio, my mistake. Anyway, as part of the triage I would think that this is not so high priority, so maybe it should be weekly? And it seems to me like it could be done by an external.. so external label?

[2021-08-05 21:58] AndrewGable commented on #4388
<img width="299" alt="Screen Shot 2021-08-05 at 3 44 04 PM" src="https://user-images.githubusercontent.com/2838819/128426635-6e986cba-dc55-411f-a0ea-bd5d292f3369.png">

Full stack trace

[2021-08-05 22:07] aman-atg opened #4435 "[HOLD for payment 2021-09-08] [PAY 9/7] Final review modal is showing @expensify.sms for Users with Phone Numbers as their login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to newDot
2. Request money from an account who has phone number as their login
3. Enter amount and Continue
4. You will see `@expensify.sms

[2021-08-05 22:08] aman-atg commented on #4435
## Proposal
* To remove the `smsDomain` we need to pass `alternateText: Str.removeSMSDomain(participant.login)` here
https://github.com/Expensify/App/blob/ec38ff9574ff9f1ac997b29b871aaf13afc5d57e/src/libs/OptionsListUtils.js#L580

[2021-08-05 22:11] Santhosh-Sellavel commented on #4398
@stitesExpensify Are there any test accounts with test bank accounts or card details?

[2021-08-05 23:24] mallenexpensify commented on #4130
Hired @Santhosh-Sellavel in Upwork!

[2021-08-05 23:26] rushatgabhane commented on #4417
Why are we giving a success feedback in the first place?
Pretty sure, we're showing a success message **even if the API method fails**.

https://github.com/Expensify/App/blob/474a1492b5507390cf65aa177aa4e20b6f06a0a4/src/pages/settings/Profile/ProfilePage.js#L186

I think we should get rid of `Growl` entirely for profile page.
Because the button turning from green to disabled is a good enough visua

[2021-08-05 23:41] aman-atg commented on #4417
I had the same thought in mind, and that can be easily handled by showing `Growl` after the API call is complete.
But, it's a different matter rn.

[2021-08-06 00:18] stitesExpensify commented on #4325
Hi @michaelhaxhiu can we hire @aman-atg to fix this please?

[2021-08-06 01:22] Jag96 commented on #2499
Missed this one! PR in review

[2021-08-06 01:34] AndrewGable commented on #4388
Verified fix in https://github.com/Expensify/App/pull/4436 🚀

[2021-08-06 01:34] #4388 closed

[2021-08-06 01:36] AndrewGable commented on #4333
Tested both deploy blockers, both passed!

[2021-08-06 01:37] Jag96 commented on #4333
:shipit:

[2021-08-06 01:37] botify commented on #4333
Be sure to fill out the [Contact List](https://forms.gle/zhdenCB5dE5gKfnw6)!

[2021-08-06 01:42] Jag96 commented on #4333
:shipit:

[2021-08-06 01:42] botify commented on #4333
Be sure to fill out the [Contact List](https://forms.gle/zhdenCB5dE5gKfnw6)!

[2021-08-06 01:43] AndrewGable commented on #4333
This @botify comment here https://github.com/Expensify/App/issues/4333#issuecomment-893940160 is breaking the deploy because it's looking for the :shipit: emoji as the last comment https://github.com/Expensify/App/runs/3258161442?check_suite_focus=true

![05082021194305](https://user-images.githubusercontent.com/2838819/128443169-6294bbcd-4758-429a-b863-368ca17c1f6b.png)

[2021-08-06 02:24] Jag96 commented on #4333
:shipit:

[2021-08-06 02:24] #4333 closed

[2021-08-06 02:27] OSBotify opened #4447 "Deploy Checklist: Expensify.cash 2021-08-06"
**Release Version:** `1.0.83-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/3881
- [x] https://github.com/Expensify/Expensify.cash/pull/4019
- [x] https://github.com/Expensify/Expensify.cash/pull/4091
- [x] https://github.com/

[2021-08-06 03:21] AndrewGable commented on #4447
@isagoico - Let us know if you see duplicates or incorrect issues added to the checklist. The bug should be fixed now. cc @Jag96

[2021-08-06 04:56] puneetlath commented on #4200
Job created: https://www.upwork.com/jobs/~011723749fa516e7c9

[2021-08-06 04:58] puneetlath commented on #4395
Going to go ahead and close since it's not reproducible. Feel free to reopen if it turns out that it is!

[2021-08-06 04:58] #4395 closed

[2021-08-06 05:02] puneetlath commented on #4323
Just chatting internally about what the job size should be. Will create the Upwork job in the next day or two.

@mananjadhav do you need any design assets? Or do you have everything you need from a design perspective?

[2021-08-06 05:06] mananjadhav commented on #4323
@puneetlath I don't think I need any. Because the skin tones are already available in the emoji list. If there's something specific you guys already have, then do share. Being a bigger task, I'll be taking the weekend to complete this.

[2021-08-06 07:18] arpitdeveloper commented on #4200
In this case I add a actionSheet or alert in app action on long press the message in "main/src/pages/home/report/ReportActionItem.js"

[2021-08-06 09:20] Julesssss commented on #3737
Once again Melvin, it's in progress internally.

[2021-08-06 09:21] Julesssss commented on #3737
The PR changes slow down the API, so further improvements are required.

[2021-08-06 09:30] parasharrajat commented on #4200
### Proposal
1. We are using `canUseTouchScreen` to manage the text selection which controls the Copy native menu.
2. This is really meant for Web devices so its usages for Native devices is wrong.
3. But we have to use this to control the Mobile Web. That's why we can noop this function on native devices which returns true as all of the native devices will always have touch (based on the code arc

[2021-08-06 09:48] Santhosh-Sellavel opened #4448 "[Hold for Payment] Translation Inconsistency between balance in Settings page & payments page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

https://expensify.slack.com/archives/C01GTK53T8Q/p1628198667040500
## Action Performed:
1. Select preferred language to `Español` in Settings -> preferences.
2.  In Sett

[2021-08-06 10:26] kidroca commented on #4027
One more thing that can be optimized is the chat loaded under the LHN
On web/desktop you see LHN and you last chat
But on mobile this chat is loaded while you don't see it at all

It can be lazy loaded instead - either load/pre-render it after LHN is done, or load it when it is selected (only on small screens though)

[2021-08-06 10:33] sketchydroide commented on #4324
I don't feel this is a daily, as there is no pressing need for this change.
@stitesExpensify do you mind I assign you, it seems you are on top of this way more than me.

[2021-08-06 10:51] Julesssss commented on #4328
There is no Expensify/Expensify issue for this issue, so ignore my close/reopen

[2021-08-06 11:49] vikrant0101 commented on #3381
We can use
'writeToClipboard' function

writeToClipboard = async (text) => {
  await Clipboard.setString(text);
  alert("Copied");
};

And this function fires on button click. Here we reverse the order before the passing the text to writeToClipboard().

My Upwork profile :- https://www.upwork.com/freelancers/~01a4b5f23bdba318e7

[2021-08-06 12:21] Beamanator commented on #4211
Not overdue, just waiting for proposals

[2021-08-06 14:43] isagoico commented on #4447
Starting QA 🚀

[2021-08-06 14:45] mananjadhav commented on #4323
@stitesExpensify Work started, you can do a quick review with the PR on the direction and flow. I'll close it over the weekend.

[2021-08-06 15:37] AndrewGable commented on #4447
@roryabraham @Jag96 - Should we make a "No QA" label and apply it to cherry pick and version PRs so they don't appear in the list?

[2021-08-06 15:47] isagoico commented on #4447
PRs that should not be in the list, most are previous Cherry picks 🤔
- https://github.com/Expensify/App/pull/4019
- https://github.com/Expensify/App/pull/4117
- https://github.com/Expensify/App/pull/4131
- https://github.com/Expensify/App/pull/4143
- https://github.com/Expensify/App/pull/4239
- https://github.com/Expensify/App/pull/4243
- https://github.com/Expensify/App/pull/4286
- https://github

[2021-08-06 15:56] parasharrajat commented on #4377
Hey, @NicMendonca Any update on the posting for this? Thanks.

[2021-08-06 15:58] thienlnam commented on #3381
Hey @vikrant0101, we're specifically looking for a fix to the core issue and which is described in the issue description

[2021-08-06 16:04] timszot commented on #4350
@mananjadhav @aman-atg can you both rewrite your proposals here for clarity? Reading through the comments I'm a bit confused on what exactly is being proposed by both of you which makes reviewing the proposals very difficult.

[2021-08-06 16:13] mountiny commented on #4377
@parasharrajat Apologies for the delays, we are now having very busy days.

[2021-08-06 16:16] aman-atg commented on #4350
cc: @timszot
## Updated Proposal

### Explaination
https://github.com/Expensify/App/blob/87cbc24238115426df8c16111d790f77930b9bfb/src/pages/workspace/WorkspaceSidebar.js#L66-L68
* Inside `src/pages/workspace/WorkspaceSidebar.js` we're returning `null` if the `policy` is an `empty object` which results in a Page without a `Sidebar`

### Solution
* To avoid this behaviour we can use `Navigation.dism

[2021-08-06 16:22] mountiny commented on #4377
@Expensify/contributor-management Can anyone who has a bit of free time handle the Upwork job posting for this issue, please? 😊 🙏 We had couple days of delay here already. Thank you!

[2021-08-06 16:25] arielgreen commented on #4377
Gotchu. Creating it now.

[2021-08-06 16:27] michaelhaxhiu commented on #4377
Ariel smoked me in volunteering first, with the 2 min reply! Tag me in if I can help too.

[2021-08-06 16:29] arielgreen commented on #4377
@parasharrajat , I just sent you an [offer](https://www.upwork.com/jobs/~01086f38cacb169f4b).

[2021-08-06 16:32] marcaaron commented on #4027
Recently added some code to load this only after the sidebar is loaded

[2021-08-06 16:33] mountiny commented on #4377
Thank you very much for such a quick action! :one-team: 💪

[2021-08-06 16:35] parasharrajat commented on #4377
Any ways there is a regression which I will shortly. Thanks for the quick response.

[2021-08-06 16:41] isagoico opened #4459 "Chronos chat does not load previous messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to chronos chat

## Expected Result:
Chat is displayed with all previous items.

## Actual Result:
Empty chat displayed.

## Workaround:

[2021-08-06 16:43] mananjadhav commented on #4350
@timszot
I had mentioned two approaches:

### Approach 1
If the policy doesn't exist then redirect to the Report Page.
[code]
This is similar to @aman-atg 's solution, just on a different page.

### Approach 2
Allow user to create a new Workspace with either the same page or `WorkspaceNotFound` page

![image](https://user-images.githubusercontent.com/3069065/128543897-3f677900-a4f1-475e-a6ce-1142d

[2021-08-06 16:47] michaelhaxhiu commented on #4398
@stitesExpensify The Upwork job was posted 2 days ago, and is already linked in the GH body.

@Santhosh-Sellavel Can you please make a proposal on the Upwork job post, so I can hire you there? That's a required step on your part as a Contributor (more information in the [Contributor Guidelines](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md) - also linked in the GH body).

[2021-08-06 16:48] stitesExpensify commented on #4398
Ah thanks Hax, my bad.

[2021-08-06 16:49] michaelhaxhiu commented on #4398
No problemo :)

On Fri, Aug 6, 2021 at 12:49 PM Brandon Stites ***@***.***>
wrote:

--
Michael Haxhiu

[2021-08-06 17:04] michaelhaxhiu commented on #4398
@Santhosh-Sellavel is now hired on Upwork, we have takeoff 🚀

[2021-08-06 17:05] Santhosh-Sellavel commented on #4398
Got hired @stitesExpensify

[2021-08-06 17:07] mananjadhav commented on #4323
Quick clarification on one more item,
Should I maintain the `preferredSkinTone` in the `EmojiPickerMenu` state or props and state both?

Not always would we want to sync with the backend? So the latter would be better.

[2021-08-06 17:08] parasharrajat commented on #4106
@Expensify/contributor-management any update on this task?

[2021-08-06 17:15] adelekennedy commented on #4350
re-assigning @arielgreen while I'm ooo next week

[2021-08-06 17:20] NikkiWines commented on #4459
Sounds like @AndrewGable now has chronos working. Let's leave this open to see if there are any further occurrences, but seems like it might have self-resolved for the moment.

Gonna demote this to monthly.

cc: @timszot because you worked on the Chronos migration.

[2021-08-06 17:22] NikkiWines commented on #4459
oops sorry @timszot misread the email and it's actually @deetergp who worked on the chronos migration :ohnothing:

[2021-08-06 17:23] NikkiWines commented on #4459
Sounds like this is a known side effect of the migration based on [this comment](https://expensify.slack.com/archives/C01GTK53T8Q/p1628270543085100?thread_ts=1628197269.033800&cid=C01GTK53T8Q) - closing!

[2021-08-06 17:23] #4459 closed

[2021-08-06 17:23] mananjadhav opened #4460 "Duplicate workspace names on creation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

With the recent movement to auto-create workspace on click of "New Workspace", we're not asking for the workspace name and hence clicking multiple times it creates works

[2021-08-06 17:28] mananjadhav commented on #4460
**Proposal**

Ideally, this should be handled at the backend, as we're sending the `policyName` empty in the policy_create API call.

If at all we plan to solve at the client-side:

We can either SidebarScreen or actions/Policy.js addd a default name generator.

1. Approach 1 - Append timestamp
[code]

2.  Approach 2 - Append random names
https://gist.github.com/tkon99/4c98af713acc73bed74c

3. App

[2021-08-06 17:32] AndrewGable commented on #4392
I like this proposal @parasharrajat 👍

Can you configure the Upwork job @MitchExpensify? Thanks!

[2021-08-06 17:38] stitesExpensify commented on #4323
I think we should do it [here](https://github.com/Expensify/App/blob/bbc245dedc5924e6bdc0bd30a7da4c30f0af0bb5/src/libs/actions/User.js#L72) (it's just a comma separated list)

We should only need the props right? So we get it from onyx on load, and then if we change the skin tone we set it in the server with `nameValuePairs.set` and set it in onyx with `onyx.set` which will reload our props for th

[2021-08-06 17:38] stitesExpensify commented on #4324
Sure, go for it!

[2021-08-06 17:44] mananjadhav commented on #4323
Thanks.

Will keep props only then. So we would never have a case where we would use EmojiPicker skinTone change without updating in Onyx & NVP?

[2021-08-06 17:44] marklouisdeshaun commented on #4448
This is actually a bit difficult since currency formatting varies by _locale_ and not by language, i.e. among Spanish-speaking countries, the formatting can vary. This means they'll use commas or decimals as separators differently and place the currency symbol or abbreviation either before or after the amount.

For example, in Spain, the currency would be formatted to `1.205,34 €` whereas in Mexic

[2021-08-06 17:58] stitesExpensify commented on #4323
Yep!We will always want to keep onyx and the NVP in sync with whatever the user chooses

[2021-08-06 18:07] Santhosh-Sellavel commented on #4448
I drafted a PR based on the discussion we had earlier [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1628198667040500).

One thing is clear here either the settings page or payment page needs a change. Waiting for confirmation, what needs to be done. I'll put PR on hold for now.

@marklouisdeshaun @iwiznia

[2021-08-06 18:12] Jag96 commented on #4447
That sounds like a good initial approach, I'll create an issue and we can discuss it there

[2021-08-06 18:13] stitesExpensify commented on #4448
IMO given @marklouisdeshaun post we should just standardize on US formatting (`$123,456.78`) in both places since the wallet is always in USD for now

[2021-08-06 18:13] stitesExpensify commented on #4448
Posting in the slack thread to get more discussion

[2021-08-06 18:14] aman-atg commented on #4325
Seems like it's gonna take some time, Adding a draft PR for now.

[2021-08-06 18:18] Jag96 opened #4462 "Cherry Pick and Version bump PRs are showing up in Deploy Checklist"
### Problem

When a PR is cherry-picked to staging, the automerge PR made to CP the PR to staging is included in the Deploy Checklist ([example](https://github.com/Expensify/App/issues/4447#issuecomment-894343370)). Then, when the version is bumped, the automerge PR to bump the version is added to the checklist as well, adding unnecessary noise for QA.

### Solution

Don't add PRs with the automer

[2021-08-06 18:36] stitesExpensify commented on #4324
@mananjadhav so you're saying we should swap our whole `emoji.js` list for that one?

[2021-08-06 18:46] mananjadhav commented on #4324
Either swap or at least get the keywords/unique ids for all the emojis based on Unicode.

[2021-08-06 19:03] Jag96 commented on #4299
This has the reviewing label so Melvin shouldn't be pinging, but also this is on production so closing

[2021-08-06 19:03] #4299 closed

[2021-08-06 19:04] marklouisdeshaun commented on #4155
PR merged

[2021-08-06 19:12] parasharrajat commented on #4005
Working over it

[2021-08-06 19:18] aman-atg commented on #4111
@rafecolton , Can I take on this issue. It has been already delayed a lot.

[2021-08-06 19:19] marklouisdeshaun commented on #4155
Contributor has been paid, the contract has been completed, and the Upwork post has been closed.

[2021-08-06 19:19] #4155 closed

[2021-08-06 19:33] timszot commented on #4350
@mananjadhav I think it makes sense to direct them to create a new Workspace in the case where no Workspace is setup yet. I don't think we need a new `WorkspaceNotFound` page, but can you explain in more details how you would accomplish this without a new `WorkspaceNotFound` page?

[2021-08-06 19:37] rafecolton commented on #4111
Thanks @aman-atg - looks like @mallenexpensify will be the sherpa for this issue and getting it assigned over to you.

[2021-08-06 19:42] mananjadhav commented on #4350
@timszot Quickest approach is,

1. Show an error message (growl) that `Worskspace doesn't exist`
2. Redirect to `/workspace/new`

[code]

This the page it'll load
![image](https://user-images.githubusercontent.com/3069065/128563049-03d3ef0a-5f10-4de6-b8ee-3d7882ebda46.png)

The second way to do this is to open the new workspace form in the WorkspaceCard itself. But this is a little extra effort an

[2021-08-06 19:51] timszot commented on #4350
Nice! I like that simple approach here. @arielgreen Let's hire @mananjadhav for this please 🙏

[2021-08-06 19:55] Jag96 commented on #4447
This sounds like a different issue, if a PR was already deployed to production it shouldn't show up here. For example, in [this issue](https://github.com/Expensify/App/pull/4397) we have a `deployed to production` comment at [7:42 PM PST](https://github.com/Expensify/App/pull/4397#issuecomment-893960392) and a `deployed to staging` comment at [8:16PM PST](https://github.com/Expensify/App/pull/4397

[2021-08-06 20:00] kevinksullivan opened #4466 "Validate Step stayed open after entering validation amounts and bank account was successfully added"
# Problem

I completed the Validation amount step with kevin@kevinsullivan.xyz on NewDot, and after I got a (very fast) success modal between these two screenshots, the Validate step refreshed and stayed open.

Before validating, you'll notice my bank account has not been added or cards provisioned based on the `Finish Setup` button in the background.

![image](https://user-images.githubuserconten

[2021-08-06 20:04] parasharrajat commented on #4466
@kevinksullivan Reproductions steps are not clear. How to go to VBA flow?

[2021-08-06 20:16] kevinksullivan opened #4467 "`Finish Setup` button temporarily switches back to `Get Started` after being selected"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Add account to freePlan and allowSameExpensifyCardSettlementBBA betas
2. Login to new.expensify.com and select global Create
3. Choose "Create wo

[2021-08-06 20:33] parasharrajat opened #4469 "Enable-Payments page UI is breaking."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps
1. Open Enable payments page on Web NewDot.
2. Click Continue.
3. Wait for the `Unexpected error` error to show up.

##

[2021-08-06 20:46] mallenexpensify opened #4470 "Update "View open jobs" link in NewDot About page from Upwork to GH"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Clicked "View open jobs" link in About section of NewDot

## Expected Result:
Opens to https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissu

[2021-08-06 20:55] kevinksullivan commented on #4466
Updated reproduction steps to be clearer @parasharrajat .

[2021-08-06 20:56] luacmartins commented on #4466
I believe I'm already solving this issue in conjunction with this https://github.com/Expensify/Expensify/issues/173086.

[2021-08-06 21:14] parasharrajat commented on #4470
I think this is the easiest and quickest task from all of the issues on this repo.

Just need to update this Constant to a new URL and its name in all of its usages. https://github.com/Expensify/App/blob/50828ab6752324988fbfdc7020878c80adf174bd/src/CONST.js#L125

[2021-08-06 21:14] pecanoro commented on #4466
A bit odd, the validation modal should only show up if no cards are provisioned. I think as Carlos mentioned, it could be due to https://github.com/Expensify/Expensify/issues/173086.

[2021-08-06 21:20] Santhosh-Sellavel opened #4472 "If user chat DM is open/idle and you receive new messages, there isn't a notification marker for the unread messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
No Indication of new messages in 1:1 Chat or Group chat.

## Action Performed:
1. Open any 1:1/group chat, wait for new messages from 1:1/group chat.
2. When new messages

[2021-08-06 21:21] parasharrajat commented on #4005
Holding this up. I have found one issue with react-native-render-html and waiting for that issue to get an attraction.

[2021-08-06 21:23] parasharrajat commented on #4472
Why does a user need a new marker on an already active Chat?

[2021-08-06 21:25] luacmartins commented on #4466
Yea, we are not updating Onyx to reflect the new state in the bank account and currentStep after validating the bank account.

[2021-08-06 21:28] Santhosh-Sellavel commented on #4472
I've left chat open if I didn't notice the window. It will be like nothing happened. @parasharrajat

[2021-08-06 21:29] arielgreen commented on #4350
Done! @mananjadhav I also upped the price to include the bonus amount you receive for finding/proposing the issue.

[2021-08-06 21:31] mananjadhav commented on #4350
Thanks, @arielgreen.

[2021-08-06 21:41] kidroca commented on #2667
The 4th of the planned PRs was merged: https://github.com/Expensify/react-native-onyx/pull/93
I'll open a PR to update Expensify/App on Monday

@arielgreen This would complete my current milestone. I think I can work on any approved future tasks under my hourly contract, we can keep this ticket open if necessary, though everything listed would have it's own issue

We've identified some additional

[2021-08-06 21:44] francoisl commented on #4287
Sorry, focusing on other tasks right now. This also seems to happen infrequently, and somehow resolve itself automatically after some time, I think it's fine to consider a weekly.

[2021-08-06 21:45] parasharrajat opened #4475 "There's no notification of newly received message(s) if you are reading historical messages in the back scroll"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps
1. Open any chat between user A and user B on device A(User A).
2. Scroll into the chat history on the web on device A.

[2021-08-06 21:51] aman-atg commented on #4475
Looks like a dupe of #4472

[2021-08-06 21:53] parasharrajat commented on #4475
But it is not as New marker will be added over the new message but this issue says when you are looking at history then new marker will not be visible even its there. Right?

[2021-08-06 21:57] aman-atg commented on #4475
and

seems one and the same thing. It should be solved by one solution?

[2021-08-06 21:57] parasharrajat commented on #4472
Sure. Answering these types of questions helps others to understand why there is a problem. If you already have these points in mind, please put them in the details.

[2021-08-06 22:04] mananjadhav commented on #4475
I agree with @parasharrajat. Ideally, I would want a separate nudge similar to Linkedin or slack which says "New Messages Received", which when clicked would probably scroll/take me to the start of the new chats.

[2021-08-06 22:06] luacmartins commented on #4467
Picking this one up as I'm working on related code.

[2021-08-06 22:11] Santhosh-Sellavel commented on #4475
@parasharrajat What do you propose here makes all the difference. If it's a different indicator like in slack I assume.

What my solution does when you scroll back down after viewing history, it will show a new marker indicator above the oldest new message received.

[2021-08-06 22:11] aman-atg commented on #4475
Yes, that would be a great solution for this issue. And I was just wondering if both the issues can be solved by a single solution.

[2021-08-06 22:12] Jag96 opened #4476 "Account Number and Routing Number not saved if user exits after continuing to Company Info Step"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

More Context in this internal slack message: https://expensify.slack.com/archives/C020EPP9B9A/p1628278322387000

## Action Performed:
1. Go to Settings->Work Space->Expe

[2021-08-06 22:16] parasharrajat commented on #4475
@mananjadhav took words right out of my mouth.

[2021-08-06 22:21] mallenexpensify commented on #3381
@azimgd, have you had any luck gathering more details?

[2021-08-06 22:33] mallenexpensify commented on #3822
Looks like this was deployed to staging 7 days ago and there have been no regressions. Also just tested quickly on production, desktop and it appears to be working. Paid @rushatgabhane in Upwork.

[2021-08-06 22:33] #3822 closed

[2021-08-06 23:07] Jag96 commented on #4213
Clearing overdue label, PR is in progress

[2021-08-06 23:31] mananjadhav commented on #4350
PR submitted for review.

[2021-08-06 23:54] mallenexpensify commented on #4210
@thienlnam Can you provide an update on this issue? Is it being worked on? should someone be hired? thx

[2021-08-06 23:56] kavimuru opened #4482 "Settings - Change password - "New Expensify accounts" displayed instead "new.expensify.com" under Change Password"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing the PR #4091
## Action Performed:
1. Sign into the app
2. Go to settings
3. Go to reset password

## Expected Result:
Verify the copy menti

[2021-08-06 23:56] OSBotify commented on #4482
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-08-07 00:06] kavimuru opened #4484 "[HOLD for payment 2021-09-16] Desktop - Big empty space in message fields if copy/paste the Text from MAC Note.app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing the PR #4363
## Action Performed:
1. Navigate to a conversation that has some messages.
2. Paste the Text from MAC note.app to the composer

[2021-08-07 00:07] OSBotify commented on #4484
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-08-07 00:10] chiragsalian commented on #4482
PR in review

[2021-08-07 00:17] mananjadhav opened #4486 "[HOLD for payment 2021-09-17] No error shown on Group Creation with Chronos"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on FAB
2. Click "New Group"
3. Add Chronos as the member and click on Create Group
4. No feedback/error message

## Expected Result:
1. Chr

[2021-08-07 00:17] mananjadhav commented on #4486
**Proposal**

### Don't show Chronos while adding to New Group

1. getNewChatOptions defined in OptionsListUtils.js is being used to get participants in New group. It has a flag to ignoreConceirgeEmails and we can extend it to ignore Chronos email too. Because concerige is allowed in the group chat the config param would look like

[code]

or

2.
[code]

3. Accordingly update getOptions, where we

[2021-08-07 00:21] chiragsalian commented on #4482
Oh actually maybe my changes are not required looks like there is a thread where we discussed and wanted it to be `New Expensify`.
I'll let @tgolen and @kevinksullivan confirm and if so we can just close this issue.

[2021-08-07 00:26] kavimuru opened #4487 "[HOLD for payment 2021-09-17] Workspace - Add Loading UI after user saves profile photo"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing this PR #4298
## Action Performed:
1. Lunch the app
2. Log in with expensifail account
3. Go to Settings - click on any workspace
4. Click

[2021-08-07 00:27] OSBotify commented on #4487
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-08-07 00:37] kavimuru opened #4488 "Web - Chronos - Reply text for the commands "top" and "top help" are misaligned"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Tap Search icon and search for the Chronos
3. Send commands - top and top help

## Expected Result:
R

[2021-08-07 00:37] OSBotify commented on #4488
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-08-07 00:40] parasharrajat commented on #4488
I am working over it it's a regression from my PR https://github.com/Expensify/App/pull/4399

[2021-08-07 00:43] mananjadhav commented on #4487
**Proposal**

The user doesn't have to click twice to save the picture. Basically, there isn't any feedback to the user on changes being saved. Need to do two things:
1. Show a success/error message on Save
2. While the API is running disable the Save button

In `WorkspaceEditorPage.js`,
[code]

[2021-08-07 01:09] mananjadhav opened #4489 "[HOLD for payment] Invalid Props error on Workspace Avatar Edit"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. On browser open the Network console/for App check the terminal/debugger on
2. Visit the sidebar
3. Click on any Workspace to visit the page
4. Cl

[2021-08-07 01:09] mananjadhav commented on #4489
**Proposal**

### Problem Explanation
The error is thrown due to PropTypes mismatch. If you check `Avatar` component, it has a prop containerStyles defined as:

[code]

but in `AvatarWithImagePicker` code is:

[code]

### Solution
In `Avatar.js`, change styling prop types to the following:

[code]

[2021-08-07 01:24] robertjchen commented on #4488
Got it, thanks for the followup! 👍

[2021-08-07 05:10] sonialiap commented on #4413
We should probably also block `receipts@expensify.com`

[2021-08-07 06:20] aman-atg opened #4490 "Save button is not disabled even when User has not edited anything in Edit Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to newDot
2. Go to any Workspace page
3. Edit workspace
4. Even without editing anything "Save" Button will be active

## Expected Result:

[2021-08-07 06:20] aman-atg commented on #4490
## Proposal
* I'll disable the button if the values aren't changed
[code]

[2021-08-07 06:38] arpitdeveloper commented on #4355
In this case we add the code
	{<TouchableOpacity

             onLongPress={() => Vibration.vibrate(1 * ONE_SECOND_IN_MS)}

	....
	</TouchableOpacity>}
in InvertedFlatList in "/src/pages/home/report/ReportActionsView.js"

[2021-08-07 06:55] aman-atg opened #4491 "Edit workspace page gets automatically closed on Submit"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to newDot
2. Go to Workspace page
3. Edit Workspace name
4. Save and it'll close itself automatically

## Expected Result:
Shouldn't close

[2021-08-07 06:56] aman-atg commented on #4491
## Proposal
* We can fix this by removing `Navigation.dismissModal()` from `line 245` https://github.com/Expensify/App/blob/50828ab6752324988fbfdc7020878c80adf174bd/src/libs/actions/Policy.js#L234-L247

* Additionally, we can show a `Growl` here

[2021-08-07 07:05] mananjadhav commented on #4491
Possible duplicate of #4487 ?

[2021-08-07 07:07] aman-atg commented on #4491
That one is related to "Save" Button and this one is about the overall workflow, Right?

[2021-08-07 07:30] mananjadhav commented on #4491
For me, the sidebar closing is the expected behavior. Because once you've edited you'd want to go back to the Workspace page, why another additional click?

But I agree with the feedback point that you've mentioned, and that's what I was pointing out with #4487

[2021-08-07 07:32] aman-atg commented on #4491
After saving the name, You might want to edit profile picture too but that won't be possible.

And We should show consistent behaviour. We're not closing Edit Profile after saving.

[2021-08-07 09:38] kidroca commented on #4433
I haven't found something definitive to measure time to interactive.
For example when I benchmark Onyx I will see a lot of calls happening after everything visible is rendered.
Another thing I've tried is the <Profile> component - if we wrap the <App> with it we can capture the last time something rendered. I've found the ReportActionView looks loaded but actually keeps rendering items for 5-10sec

[2021-08-07 10:50] kidroca opened #4492 "[Performance] JSI Storage implementation POC"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This issue was created as a result of the conversation here: https://expensify.slack.com/archives/C01GTK53T8Q/p1628181643026200?thread_ts=1628106063.148700&cid=C01GTK53T

[2021-08-07 12:15] mananjadhav opened #4493 "IOU Total changes local currency value to USD"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Assume there are two users chatting Alice & Bob.
2. Alice goes to chat and clicks on Request Money, say INR 100. Summar card will show `Bob owes

[2021-08-07 15:15] mananjadhav opened #4494 "[HOLD for payment + bonus Aug 16] Translation Missing for Edit Message buttons"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork post: https://www.upwork.com/jobs/~01141d41100982c438
___

## Action Performed:
1. Go to Sidebar click on Preference
2. Change the language to Spanish
3. Come back to

[2021-08-07 15:15] mananjadhav commented on #4494
**Proposal**

Basically the button texts are hardcoded with english content. Need to pick these from translations.

In ReportActionItemMessageEdit.js,

[code]

and add translation for `saveChanges` key in en.js and es.js

[code]

[2021-08-07 15:53] mananjadhav opened #4495 "IOU Transaction List should be translatable (Messages with placeholder)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to chat, and do a few IOU transactions
2. Go to sidebar -> preferences -> Language -> Spanish
3. Come back to the chat and open the transactio

[2021-08-07 15:53] mananjadhav commented on #4495
**Proposal**

At the moment, we're using `action.message[0].text`, which is always in English. Idea is to build the text in the current locale based on the information from `originalMessage`.

This translation is a bit different from the general translations. Here we have placeholders in the content.

### Approach
1. Write translation messages with placeholders

Take the following message as an ex

[2021-08-07 15:56] aman-atg opened #4496 "[HOLD] Hitting "Enter" won't confirm the selected currency"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to newDot
2. Go to any chat
3. Select Request Money option
4. Click on the currency
5. Select any currency

## Expected Result:
User should

[2021-08-07 15:56] aman-atg commented on #4496
## Proposal
* We can fix this by passing `pressOnEnter` to `Button`
https://github.com/Expensify/App/blob/50828ab6752324988fbfdc7020878c80adf174bd/src/pages/iou/IOUCurrencySelection.js#L214-L220

[2021-08-07 15:57] aman-atg opened #4497 "[PAY 8/27] Local currency isn't already selected in IOU currency Selector"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to newDot
2. Go to any chat
3. Request Money and choose your currency
4. Your local currency will not be already selected

## Expected Resu

[2021-08-07 15:57] aman-atg commented on #4497
## Proposal
https://github.com/Expensify/App/blob/50828ab6752324988fbfdc7020878c80adf174bd/src/pages/iou/IOUCurrencySelection.js#L78
* We need to update this line to `toggledCurrencyCode: this.props.myPersonalDetails.localCurrencyCode,`

[2021-08-07 15:59] thesahindia opened #4498 "[Hold for payment 9/1] UI/UX issues while Choosing a currency"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to the app
2. Use Request Money feature
3. Select Currency
4. No highlighting over options when hovered or Auto selecting of the input will ha

[2021-08-07 16:00] thesahindia commented on #4498
### Proposal
 I can add `hoverStyle` for highlighting options and auto-focus for selecting the input automatically

[2021-08-07 16:02] chira37 commented on #4355
change src\components\PressableWithSecondaryInteraction\index.native.js

[code]

[2021-08-07 16:10] mananjadhav opened #4499 "Add Tooltips to all non-text actions/buttons in New Expensify"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on '+' icon on Chat
2. Click on Add attachment and select an image
3. AttachmentModal opens and has an action for download but no text

Thi

[2021-08-07 16:11] mananjadhav commented on #4499
**Proposal**

Enclose all the action items with `<Tooltip text={text}>` component, which will be picked from translation.

For example, download button would require changes

In HeaderWithCloseButton, downloadButton block would look like:
[code]

and translations would be as followed:

[code]

[2021-08-07 16:28] parasharrajat opened #4500 "[hold for payment 25 august] Onyx changes break Exisiting App architecture."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

cc: @marcaaron @kidroca
## ISSUE
There few parts that will stop working due to the recent changes to Onyx. We have to either plan for migration or fix Onyx so that those

[2021-08-07 16:30] isagoico opened #4501 "IOU - All group participants are not displayed in the Split bill attendees"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue is failing PR https://github.com/Expensify/App/pull/3881 on Android

## Action Performed:
1. Navigate to a group that has more than 4 participants
2. Tap on split

[2021-08-07 16:30] OSBotify commented on #4501
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-08-07 16:33] parasharrajat commented on #4500
My point here is What is an issue with triggering a render even if data is not changed? If user merge(`Onyx.merge`) or set(`Onyx.set`) a new data and we should trigger a render.

If we want to block a render then this should be handled in the component level `shouldComponentUpdate`.

The issue seems to be due to the Object comparison here. https://github.com/Expensify/react-native-onyx/blob/d7553b

[2021-08-07 16:37] parasharrajat commented on #4491
Hey guys, @aman-atg @mananjadhav  I think the Edit Workspace feature is just landed in the APP and internal QA is going on https://github.com/Expensify/App/issues/4447. Thus all the issues that are coming from this will be linked to the original PR.

[2021-08-07 17:52] mananjadhav commented on #4497
This also allows the user to click on `Confirm` even without selecting the currency.  Default selection solves this bug too.

![image](https://user-images.githubusercontent.com/3069065/128609519-f6ed17dd-2290-4a61-bd77-9a62a2fb6b57.png)

[2021-08-07 18:12] quinthar commented on #4492
Exciting!

On Sat, Aug 7, 2021, 3:50 AM MelvinBot ***@***.***> wrote:

[2021-08-07 18:52] mananjadhav commented on #4345
I've put a decent amount of effort to figure out the issue. But it seems to be the default behavior of the input field in mobile browsers.

https://jsbin.com/gilikehivo/edit?html,output

This behavior exists in the Login and Signup flow too.

Also, I couldn't find any way to programmatically open a keyboard. I've also checked few websites like slack (updating account settings username), and Amazon

[2021-08-07 19:07] parasharrajat commented on #4345
@mananjadhav Keyboard is purposely disabled here and I am pretty sure we would want to keep that behavior.
Imagine, you press edit on a message and the then message will scroll to the bottom and in the meantime, the whole layout will shift up due to the keyboard. How bizarre will that look?

[2021-08-07 19:12] mananjadhav commented on #4345
I agree. I was highlighting the default behavior and the point being that this isn't a bug.

[2021-08-07 22:22] Santhosh-Sellavel commented on #4398
@stitesExpensify I wrote a function to map bank names to assets-name.

There are two files here in the zip attached -> [bankNames_assetMap.zip](https://github.com/Expensify/App/files/6949918/bankNames_assetMap.zip)

1.  `uniqueBankNamewithasset`
[code]
2.  `BankNamesGroupedByAssetName`
[code]

Can I get some help with bank name validation? For few bank names, it looks more similar I find it hard w

[2021-08-07 22:34] bondydaa commented on #4484
I am OOO

[2021-08-07 22:41] isagoico commented on #4447
Issues found so far during regression:

1. https://github.com/Expensify/App/issues/4501 is failing https://github.com/Expensify/App/pull/3881
2. https://github.com/Expensify/App/issues/4482 is failing https://github.com/Expensify/App/pull/4091
3. https://github.com/Expensify/App/issues/4484 is failing https://github.com/Expensify/App/pull/4363
4. https://github.com/Expensify/App/issues/4488
5. htt

[2021-08-07 23:17] Santhosh-Sellavel commented on #4411
Can you block from recent? @mananjadhav  https://github.com/Expensify/App/issues/4413#issuecomment-894606315

[2021-08-07 23:38] Santhosh-Sellavel commented on #4413
@pecanoro proposed changes are available in drafted PR.

@sonialiap excluded `receipts@expensify.com`

[2021-08-07 23:48] parasharrajat opened #4505 "Scrolling the content on Composer closes the keyboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Swiping down should close the keyboard but this feature is interfering with content in the composer. If the user is scrolling the content in the Composer swipe gesture sh

[2021-08-08 15:34] kidroca opened #4506 "[Performance] Report Actions Storage Paging"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Overview
The entire conversation of a single Report is stored under a single object that can grow infinitely
When a report is opened this "infinite" information is lo

[2021-08-08 15:40] kidroca commented on #4506
ATM the problem is amplified by the logic described here: https://github.com/Expensify/App/issues/4027#issuecomment-893723847

Since we have a connection that **loads all report action collections** and they can grow as much as storage allows:
- if we have 100 chats with 1000 messages stored locally for each
- then we're loading 100,000 messages in memory during init

cc @marcaaron

[2021-08-08 20:25] azimgd commented on #3381
Yeah, I found the way to fix the bug. Pasting dirty instructions If someone wants to experiement with a solution:

## react-native-web/dist/vendor/react-native/VirtualizedList

- find `if (this.props.debug) {` and replace with `if (true) {` to turn on debug mode
- find all `.push(` occurences and replace with `.unshift(` to invert order of render
- find `verticallyInverted` and `horizontallyInvert

[2021-08-08 23:09] jliexpensify commented on #4357
@Santhosh-Sellavel and @TomatoToaster - I'm just catching up as I've been OOO.

Given that https://github.com/Expensify/App/issues/4472 has been created, can I close this issue? I assume they're the same issue - correct?

[2021-08-09 01:44] Christinadobrzyn commented on #4375
Awesome! We'll hold of payment on August 11th!

[2021-08-09 01:59] Christinadobrzyn commented on #4273
Hey, @timszot, this job has been open for over a week without a taker.

Should I raise the price to $500, or should we put this on pause and see if a fix for this [issue](https://github.com/Expensify/App/issues/4425) resolves it.

[2021-08-09 03:33] isagoico commented on #3297
Issue reproducible during KI retests

[2021-08-09 03:33] isagoico commented on #4328
Issue nto reproducible during KI retests (Fixed 🎉)

[2021-08-09 03:35] isagoico commented on #4066
Issue not reproducible during KI retests (Fixed 🎉)

[2021-08-09 03:36] isagoico commented on #4110
Issue not reproducible during KI retests (Third week)

[2021-08-09 03:36] isagoico commented on #3901
Issue reproducible during KI retests

[2021-08-09 03:39] isagoico commented on #2499
Issue reproducible during KI retests

[2021-08-09 03:39] isagoico commented on #3355
Issue not reproducible during KI retests. (Fixed 🎉)

[2021-08-09 03:39] isagoico commented on #3355
Will go ahead and close

[2021-08-09 03:41] isagoico commented on #4296
Issue reproducible during KI retests

[2021-08-09 04:09] rafecolton commented on #4273
I think we should still pursue this, as I'm pretty sure it's related to Chronos. I'm seeing pretty consistently when I have one message from Chronos the badge shows two unread messages, and when I stay in the Chronos chat for a few seconds, the badge goes away. cc @deetergp in case the relation to Chronos means this needs to be solved internally.

[2021-08-09 04:14] dklymenk commented on #4375
Hello. I don't think it's merged, or have the rules changed or something?

[2021-08-09 04:42] mananjadhav commented on #4273
@Christinadobrzyn I don't think fixing #4425  will resolve this. The negative count comes in one specific scenario.

[2021-08-09 04:49] RushirajJhala commented on #4200
Hi @parasharrajat
this will solve issue of long press in message, but long press on  username still shows native menu.

[2021-08-09 06:09] Santhosh-Sellavel commented on #4357
@jliexpensify
IMO, they are not same issue.

[2021-08-09 07:32] Christinadobrzyn commented on #4375
Ah, thank you @dklymenk - you are correct, we're waiting for a merge for the [PR](https://github.com/Expensify/App/pull/4418). We'll hold off on payment until 7 days after the PR is merged.

[2021-08-09 07:56] kidroca commented on #4500
We're not doing it to skip a render, but to skip re-writing the same data to storage
You can add a log point in the [code you've linked](https://github.com/Expensify/react-native-onyx/blob/d7553b95e982ab78f6bb2064f6b0549f0ace94c2/lib/Onyx.js#L479) to see it's often the case we're trying to write the same value

To let components re-render and still skip a write to storage we can move this to the t

[2021-08-09 08:05] SofiedeVreese commented on #4362
Hey @chiragsalian when you have a spare min would you mind reviewing the above proposals? Thanks!

[2021-08-09 08:05] #3971 closed

[2021-08-09 08:44] kidroca commented on #4500
After analysing `initWithStoedValues` the component shared in the ticket description is the only component relying on `initWithStoredValue` for its loading state

`initWithStoredValue` has 6 usages

### 1. AdditionalDetailsStep (walletAdditionalDetails)
Has `defaultProps` and tracks `loading` state
https://github.com/Expensify/App/blob/50828ab6752324988fbfdc7020878c80adf174bd/src/pages/EnablePayme

[2021-08-09 09:12] Beamanator commented on #2934
PR was merged but @rdjuric agreed there's one final fix needed, he said he'll open up a PR soon (see [this comment](https://github.com/Expensify/App/pull/4354#issuecomment-893290019))

[2021-08-09 09:12] Beamanator commented on #2936
Issue we're holding for hasn't been completely fixed yet

[2021-08-09 09:13] Beamanator commented on #4211
Changing priority to weekly as we wait for proposals

[2021-08-09 09:56] zanyrenney commented on #4499
sorry @ctkochan22 accidentally unassigned you so reassigned

[2021-08-09 10:34] iwiznia commented on #4448
@marklouisdeshaun we only added Spanish (Spain) as a translation and locale, but the library already has configured all the number formatting options for every location in the world.

The fact that the currency is always USD does not mean that the format should always be the one in USA. So, the fix should be to use the locale aware methods to print the amount in both places.

[2021-08-09 10:47] conorpendergrast commented on #4434
Reproduced!

<img width="538" alt="2021-08-09_11-46-19" src="https://user-images.githubusercontent.com/5802477/128695296-4aed3e21-6640-4268-8b02-affbd6da247c.png">

<img width="497" alt="2021-08-09_11-47-12" src="https://user-images.githubusercontent.com/5802477/128695293-e2f62efa-fab2-46f3-8b80-003117b509b3.png">

[2021-08-09 11:46] parasharrajat commented on #4500
Nice writeup. So what should be done for these cases?
I think `initWithStoredValues` should be considered a special case. Instead of causing write, can't we just update the state and trigger data flow?

[2021-08-09 11:47] thesahindia opened #4507 "[HOLD for payment 2021-09-15] Language getting automatically set to English while signing in"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Your language should be set to Spanish
2. Go to signin page
2. Enter any email address or phone number
3. Try to go back to the signin page by cl

[2021-08-09 11:47] thesahindia commented on #4507
### Proposal

We need to preserve the locale inside [restartSignin ](https://github.com/Expensify/App/blob/34ba5152ca88ed4a77224e4d3b2d74bd2ca4ed69/src/libs/actions/Session.js#L246)function

I can do this by connecting to Onyx for current locale and use this block of code inside `restartSignin` function
[code]

[2021-08-09 11:59] Beamanator commented on #4489
Is there anything actually *not working* in this flow? If everything works as expected I don't think this needs to be "fixed" now

[2021-08-09 12:15] kevinksullivan commented on #4219
Ah already paid this one!

[2021-08-09 12:15] #4219 closed

[2021-08-09 12:17] mananjadhav commented on #4489
Nothing breaks for the User. Then we can close it.

[2021-08-09 12:18] aman-atg commented on #4219
@kevinksullivan yes, but I think I didn't get the bonus for this one.

[2021-08-09 12:45] Beamanator commented on #4491
@aman-atg Thanks for reporting something you think should change, but please try to do some research to determine if this was the desired functionality or not (as you can see in [this PR](https://github.com/Expensify/App/pull/4298)'s testing steps, this is the desired functionality). If you disagree with a previous decision / if you think some functionality should _change_, please bring that up in

[2021-08-09 12:46] Beamanator commented on #4491
I'm going to close this for now, but if you still feel like it needs to be changed please bring it up in the public channel and we can re-open this if necessary 👍

[2021-08-09 13:07] bfitzexpensify commented on #4129
It's been >7 days since posting — reposted under a [new job on Upwork](https://www.upwork.com/jobs/~0151e786cc4b025455) with price doubled to $500.

[2021-08-09 13:15] Dal-Papa commented on #4460
Hi @mananjadhav ! Thanks for your input.
Ultimately we expect users to create a single workspace in the vast majority of cases, and anyone creating multiple workspaces has a more advanced setup where they will need to change the name so they can differentiate between them. There is also plans to have a "Configure Workspace" step after the first one gets created.
So we won't need that for now.

[2021-08-09 13:16] Aamer-Rasheed commented on #4211
@Beamanator I'm interested to work on the job. Submitted proposal at Upwork.

[2021-08-09 13:24] mananjadhav commented on #4460
Thanks for clarification

[2021-08-09 13:25] Beamanator commented on #4211
Thanks for your interested @Aamer-Rasheed ! Please make sure to follow these steps too: https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job

[2021-08-09 13:57] aman-atg commented on #4491
Thanks @Beamanator, I'll try to not miss such things from next time.

But yes I still feel this might affect the UX.
Here's the slack thread for this one. [(thread)](https://expensify.slack.com/archives/C01GTK53T8Q/p1628517367106600)

[2021-08-09 14:18] rndev707 commented on #4129
Won't this work?

[code]

[2021-08-09 14:19] mananjadhav commented on #4129
If you check the code, this exists but the issue comes when you click the button and the text simultaneosuly.

[2021-08-09 14:21] kevinksullivan commented on #4219
@aman-atg I don't have access to that page. Can you provide a screenshot?

[2021-08-09 14:25] isagoico commented on #4273
@quinthar is still experiencing the fake number of unread messages

![image](https://user-images.githubusercontent.com/44479856/128722503-d2d1dd56-b979-448f-83a7-944b8f87df59.png)

[2021-08-09 14:25] kevinksullivan commented on #4296
Posted as this was reproducible

https://www.upwork.com/jobs/~01da27dde12d8add71

[2021-08-09 14:27] kevinksullivan commented on #4482
yeah, this wording / difference is correct. Going to close out.

[2021-08-09 14:27] #4482 closed

[2021-08-09 14:27] aman-atg commented on #4219
Oh, sry about that.
![image](https://user-images.githubusercontent.com/28243942/128722803-524eaafc-494c-4ee4-9460-f1d589309b0b.png)

[2021-08-09 14:31] rndev707 commented on #4129
Then we might put a state for `value` props of the TextInput and refresh it when the button has been clicked.

[2021-08-09 14:32] isagoico commented on #4447
Regression is finished!
Issues found:

1. #4501 is failing #3881
2. #4482 is failing #4091 (Expected behaviour)
3. #4484 is failing #4363
4. #4488
5. #4487

These PRs need QA:
- https://github.com/Expensify/App/pull/4237 Internal
- https://github.com/Expensify/App/pull/4246#issuecomment-894353435 (Internal probably)

[2021-08-09 14:37] mananjadhav commented on #4296
@isagoico Can you help me with some additional information on reproducing this issue? Couldn't reproduce this on the simulator at least. I have an iPhone X device and cannot reproduce on that.

[2021-08-09 14:41] rushatgabhane commented on #4501
@isagoico
Just to clarify, this bug isn't caused due to the PR #3881.
Because the bug is present in production too. And the PR isn't deployed to production.

v1.0.82-7 from play store.

https://user-images.githubusercontent.com/29673073/128723354-8593707e-8edc-46e8-9d3d-fc9182aeedfa.mp4

Also, sorry for late reply. I didn't get any notification.

[2021-08-09 14:52] Beamanator commented on #4489
Hmm I've been discussing this internally ([here](https://expensify.slack.com/archives/C01SKUP7QR0/p1628510455232700)) and we may not close this actually, I'll post back here by tomorrow 👍

[2021-08-09 14:55] imran-ranglerz commented on #4129
just need to update the state

[2021-08-09 14:55] timszot commented on #4273
@Christinadobrzyn Since I woke up to phantom unread messages this morning, I say we bump it up!

[2021-08-09 15:07] mananjadhav commented on #4489
Okay sure. Can't access the link, guessing it is internal only.

[2021-08-09 15:19] marklouisdeshaun commented on #4448
@iwiznia thanks for confirming. So, if we do have the ability to format numbers/dates/currencies at the locale-specific level, then we should definitely do so.

[2021-08-09 15:49] lschurr commented on #4494
Is this different from this one? https://github.com/Expensify/App/issues/4218

[2021-08-09 15:51] isagoico commented on #4296
I was able to reproduce this consistently in a iPhone 6S. Original tester was able to reproduce this on an iPhone SE (2016)

[2021-08-09 15:54] isagoico commented on #4501
Oh ok. I thought the PR was a fail because of this. Removing the deploy blocker label. Tagging both PR reviewers just in case. CC @marcaaron @Luke9389

[2021-08-09 15:59] kevinksullivan commented on #4219
Ah thanks, I see our approach to bonuses changed. All set @aman-atg !

[2021-08-09 16:00] mananjadhav commented on #4494
@lschurr Yes. This one handles the button texts - Edit and Cancel (highlighted in red rectangle in the screenshot above).

#4218 deals with the timestamp itself not showing up when language is switched. (Line below the red rectangle).

[2021-08-09 16:13] thienlnam commented on #4210
Working on making the changes internally, @AlfredoAlc was the one to point out the issue so we should hire him for the job and pay it out

[2021-08-09 16:18] NikkiWines commented on #4021
On hold!!!

[2021-08-09 16:28] deetergp commented on #4307
Waiting on a PR. Do you think this should stay a Daily, @laurenreidexpensify, or is setting to Weekly more appropriate?

[2021-08-09 16:32] roryabraham commented on #4447
We already have some [code which should do this](https://github.com/Expensify/App/blob/a3d138822f07e53ef5f7b061a719f6a819ead80b/.github/libs/GithubUtils.js#L205-L214), but it's clearly not working as it's supposed to. Right now it _should_ be filtering out [any PRs created by `OSBotify`](https://github.com/Expensify/App/blob/a3d138822f07e53ef5f7b061a719f6a819ead80b/.github/libs/GithubUtils.js#L386

[2021-08-09 16:34] mallenexpensify commented on #4210
@thienlnam I think we should still wait til 7 days after merge before issuing payment (our current process) in case there are any issues with @AlfredoAlc's recommendation

[2021-08-09 16:38] puneetlath commented on #4498
This does indeed seem to be an issue. Thanks for reporting this @thesahindia!

[2021-08-09 16:40] roryabraham commented on #4447
Just noting that [PR 4446 was supposed to be filtered out](https://github.com/Expensify/App/runs/3258405252?check_suite_focus=true#step:8:243), but then looking at the history of this issue, it was included in the checklist when it was first created.