[2021-12-13 18:20] thienlnam commented on #6664
Thanks for the investigation @PrashantMangukiya! After taking a look, it looks like you are correct - pronouns with the prefix (__predefined_) translate correctly ([here](https://github.com/Expensify/App/blob/15bb537ebf508559e81c32d664924b1dcf0be361/src/components/ReportWelcomeText.js#L58-L61)) whereas everything else won't be translated to local language (besides self select as you mentioned)

I

[2021-12-13 18:21] mananjadhav commented on #6733
@mvtglobally My Github username is @mananjadhav. Guessing the space caused it to send the notification to somebody else. Can you please correct it?

[2021-12-13 18:23] shawnborton commented on #6301
Do you think we should allow the user to crop any area of the image like 1 (Slack) has, or just a simple zoom in/zoom out like the others? I think what we currently have on Expensify is a simple zoom in/out, so I think that would suffice:

![image](https://user-images.githubusercontent.com/2319350/145865882-81cc1bb7-2ae2-4268-b099-506266ee414c.png)

[2021-12-13 18:31] pecanoro commented on #5462
$500 sounds reasonable. I don't want to arbitrarily increase prices without your input, you are more aware of the time you invested in the issue than me and we want it to be fair.

[2021-12-13 18:31] parasharrajat commented on #6301
Yup zoom in/out is fine. So a while circle over the image would indicate thr part that would be set on the profile.

[2021-12-13 18:31] mananjadhav commented on #6713
Small Fix:

Change the `CONST.MODAL.MODAL_TYPE.CENTERED` to `CONST.MODAL.MODAL_TYPE.CENTERED_UNSWIPEABLE` in `KeyboardShortcutsModal`

[code]

[2021-12-13 18:33] bfitzexpensify commented on #6713
Upwork [posting](https://www.upwork.com/jobs/~01135058df8757da05)

@parasharrajat, here's a link for reporting the issue: [posting](https://www.upwork.com/jobs/~01063d41553d4a0ead)

[2021-12-13 18:33] parasharrajat commented on #6664
I say do nothing. Only old users will be affected and I guess that time app was still on beta so they are mostly Dev's. Secondly, after seeing wrong pronoun, I as a user would go to settings and reset them. That would fix it 😉.

[2021-12-13 18:36] chiragsalian commented on #6647
Looks like a valid issue that is hopefully straightforward to address.

[2021-12-13 18:38] parasharrajat commented on #5462
Ok. $500 is fine. Anyways, there is a hold bonus so that should cover it.  Thanks, @pecanoro.

[2021-12-13 18:43] mateusbra commented on #6471
@parasharrajat I think the path my proposal takes is necessary once we need to know when Report Data is ready, so we can refresh the indicator.

[2021-12-13 18:46] deetergp commented on #6213
@marktoman I am pretty sure it isn't documented anywhere, but that third parameter is the last modified date. Internally when we call `Policy_CustomUnit_Update` we usually send it `policy.lastModified || null`. Give that a shot and see if it works.

[2021-12-13 19:00] kidroca commented on #5337
We decided to use this ticket to address online/offline state not being correctly depicted by App: https://github.com/Expensify/App/issues/5337#issuecomment-985127489

That's both:
- when the app is falsely assuming we're **offline** (the rare case)
- when the app is falsely assuming we're **online** (#6059)
    - this bug can be recreated consistently

The comment about our code not working corre

[2021-12-13 19:01] isagoico commented on #6703
Created this issue to get @mvtglobally added to the @Expensify/applauseleads team so she can get notified too. https://github.com/Expensify/Expensify/issues/188471

[2021-12-13 19:06] parasharrajat commented on #4612
@mallenexpensify Could you please retest it may have been resolved? I can't reproduce it. The fact that I changed the navigation in https://github.com/Expensify/App/pull/6207 to work the same as LHN and this issue not reproducible via LHN says that it is fixed.

[2021-12-13 19:10] parasharrajat commented on #3855
@mallenexpensify pressing enter after email is autofill should take you to the password screen. It's working for me and was working before this issue.

[2021-12-13 19:17] kidroca commented on #3981
I did recreate it with the change from $6095 in my code (from `main`)
I can try to recreate it again tomorrow, but I'm pretty sure it's still possible

My explanation is a bit old and getting buried in the past but it explains why does the problem occur
This comment should be enough to explain the problem: https://github.com/Expensify/App/issues/3981#issuecomment-962437872 and why I think addressi

[2021-12-13 19:19] parasharrajat commented on #3855
Do you want me to take create a PR for https://github.com/Expensify/App/issues/3855#issuecomment-991306682?

[2021-12-13 19:27] megankelso commented on #6552
okie! web I think can be virtually the same
<img width="888" alt="Screen Shot 2021-12-13 at 11 27 10 AM" src="https://user-images.githubusercontent.com/49413768/145875444-d58f3332-eaea-4d24-8336-a1d03f4a66ee.png">

[2021-12-13 19:28] jboniface commented on #6733
https://www.upwork.com/jobs/~01e07d655b1bb33138 posted

[2021-12-13 19:32] michaelhaxhiu commented on #6032
Project will be worked on the next few weeks.

[2021-12-13 19:34] thienlnam commented on #6664
Got no problem with that!

[2021-12-13 19:34] #6664 closed

[2021-12-13 19:40] parasharrajat commented on #6733
@mananjadhav Your proposal looks good to me https://github.com/Expensify/App/issues/6733#issuecomment-992609576. :+1:

cc: @puneetlath

:ribbon: :eyes: :ribbon:

[2021-12-13 19:44] mallenexpensify commented on #6663
Chat's still ongoing, I do agree we'll likely want more consensus before making a decision.

[2021-12-13 19:47] parasharrajat commented on #6713
As, I reported this and it's a quick one so I would like to solve this.

### Proposal
1. Change the type of Modal for web to `CONST.MODAL.MODAL_TYPE.CENTERED_UNSWIPEABLE` https://github.com/Expensify/App/blob/471566cfa0476f2a3708b402effe5f85771ba5fd/src/components/KeyboardShortcutsModal.js#L85

[2021-12-13 19:50] mallenexpensify commented on #6692
@Dal-Papa , what's link to discussion in #expensify-open-source?  cc @kidroca since I _feel_ like you've been following along with all-things 'unread messages'

[2021-12-13 19:50] parasharrajat commented on #6552
I think having a refresh button centered on the x-axis and a little bit expanded horizontally would look good. But this is fine too.

[2021-12-13 19:52] chiragsalian commented on #3921
Well the code for this is done. The only thing that remained was the payment to @rdjuric.
@JmillsExpensify will you be handling that? You can close the issue right after.

[2021-12-13 20:03] roryabraham commented on #6627
My concern with this solution is that it essentially introduces a concept of different report "sub-types", which seems like a decision which shouldn't be taken lightly. I am very torn on this issue and am not sure what's best. @parasharrajat what do you think is the most preferred solution?

[2021-12-13 20:10] parasharrajat commented on #6627
1. I think the first approach is best as it does not change how we handle the options. Sorting Filtering everything happens on `getOptions`.
2. Now there is an issue that using that flag will also place the new contacts into the recentReports. I guess we don't need to pass `[ ]` to personalDetails. As it does not hurt to be there.
3. It becomes confusing that personalDetails are also coming in rec

[2021-12-13 20:13] jboniface commented on #3293
paid with bonus

[2021-12-13 20:13] #3293 closed

[2021-12-13 20:13] chiragsalian commented on #5337
Cool, I didn't see https://github.com/Expensify/App/issues/6059 before. I have an iPhone so I cannot reproduce that issue since once I turn off cellular it also turns off personal hotspot. Seems like quite the edge case even on android devices.

I'm not opposed to adding `isInternetReachable` and our own `reachabilityTest` since it does sound like its a better indication of internet access than ne

[2021-12-13 20:16] jboniface commented on #4911
@parasharrajat will pay when you accept, sorry I missed the proposal earlier

[2021-12-13 20:20] azimgd commented on #3381
@thienlnam https://github.com/Expensify/react-native-web/pull/3 https://github.com/Expensify/App/pull/6738

[2021-12-13 20:21] jboniface commented on #4911
paid

[2021-12-13 20:21] #4911 closed

[2021-12-13 20:27] isagoico commented on #6518
Issue is still reproducible

https://user-images.githubusercontent.com/44479856/145883557-508697f6-3e7e-4000-b226-a72941700087.mp4

[2021-12-13 20:34] cead22 commented on #6718
Priority mode has to be on Most Recent to reproduce

[2021-12-13 20:39] TomatoToaster commented on #6726
You can see from these lines of code:
https://github.com/Expensify/Auth/blob/6fe483924dfa8f4d5356e97cc2fd662e0569b29d/auth/lib/Account.cpp#L2128-L2133

We fetch chat reports that are shared with users NOT chat reports that they own.

[2021-12-13 20:40] marktoman commented on #6213
@deetergp How should the call look like then? All policy calls pass an object to their API methods. I have tried specifying the `lastModified` property with various values, also multiple values for other properties that I do not know how should be named (just guesses based on the other calls) and always get the exact same error.

[2021-12-13 20:50] MitchExpensify commented on #6069
@Luke9389 is researching before making a call on the proposal

[2021-12-13 20:58] kavimuru opened #6740 "iOS -Chat - App crashes tapping the room name in the chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing the PR #6724

## Action Performed:

1. Launch the app
2. Log in with expensifail account
3. Tap on Plus button and Select New Room
4. Creat

[2021-12-13 20:58] OSBotify commented on #6740
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-13 21:07] TomatoToaster commented on #6726
Got a PR for this soon ~ just testing it out locally first.

[2021-12-13 21:10] roryabraham commented on #6326
@railway17 have you tried testing this on a touch-screen device?

[2021-12-13 21:12] kidroca commented on #5337
That's really a rare case (tethering), but it was only used to showcase the real issue - being connected to a network with no internet
It has happened to me on public WIFIs (on airports) where you don't have internet access until you subscribe or use some code
I imagine moving through a weak reception can lead to the same issue, fooling the system by being barely connected

Adding `isInternetReach

[2021-12-13 21:18] tgolen commented on #6694
OK! Proposal looks fine. 🟢 to hire @parasharrajat for it.

[2021-12-13 21:22] trjExpensify commented on #6715
Yeah, I think this is intentional by design to mirror chat messages. I'm going to close it out 👍

[2021-12-13 21:22] #6715 closed

[2021-12-13 21:26] jliexpensify commented on #6390
Invite to @sidferreira sent via Upwork!

[2021-12-13 21:28] mountiny commented on #6691
Yes, I agree with @parasharrajat here. We tend to not introduce some exceptions and "hacky" solutions as that obliously increases the complexity of the codebase and makes it hard to follow. I think it is not worth adding this one-off change here only as it does happen only on Android and as mentioned by @developvsn it might be also tightly related to the GPU performance of the phone itself.

There

[2021-12-13 21:28] #6691 closed

[2021-12-13 21:34] shawnborton commented on #6662
I think it's worth trying - thanks Rory!

[2021-12-13 21:36] kadiealexander commented on #6647
Upwork job: https://www.upwork.com/jobs/~01983e30ceb5316e86

[2021-12-13 21:54] luacmartins commented on #6740
PR up!

[2021-12-13 21:54] shawnborton commented on #6729
Maybe something a little softer like this?

![image](https://user-images.githubusercontent.com/2319350/145894802-5bab1d39-9474-4977-81e8-e41bb83134e1.png)

Which is:
[code]

[2021-12-13 22:04] jliexpensify commented on #6691
Thanks for the updates everyone, job removed from Upworks.

[2021-12-13 22:05] isagoico commented on #6703
While retesting #6724 we found this issue https://github.com/Expensify/App/issues/6740. Fix is being worked on by @luacmartins here https://github.com/Expensify/App/pull/6741 🎉

[2021-12-13 22:11] parasharrajat commented on #6729
Sounds good but will this look good on all the menus. For example, change avatar, Fab, etc.

[2021-12-13 22:13] shawnborton commented on #6729
I think it will, but we can always play around with this once a PR is spun up to see how one global shadow value will affect multiple menus. I don't think we'll need this on mobile as most of those menus launch as bottom-docked modals.

[2021-12-13 22:29] joelbettner commented on #6728
@iwiznia do you think that should be added to the scope of this issue?

[2021-12-13 22:35] kadiealexander commented on #5873
Upwork job shows that @sidferreira has already had payment issued.

@Santhosh-Sellavel I have sent you a hire offer to pay you the reporting bonus, could you please let me know once this is accepted?

[2021-12-13 22:41] #6740 closed

[2021-12-13 22:42] luacmartins commented on #6713
Thanks for the proposals! Given that both proposals are identical, we will proceed with @mananjadhav since they posted it first.

[2021-12-13 23:19] SofiedeVreese commented on #6714
Posted on Upwork: https://www.upwork.com/jobs/~01ed008999babd5b97

[2021-12-13 23:32] NikkiWines commented on #6235
@developvsn, sorry - are you saying you reached out in https://github.com/FaridSafi/react-native-google-places-autocomplete/ and they said it wasn't possible to fix? If so, do you have a link to an issue/PR? Or is this just something you discovered while trying to implement a fix?

Additionally, I think the main issue we're trying to fix through the lib doesn't involve tabbing away, only clicking.

[2021-12-13 23:37] mvtglobally opened #6744 "Feature Request - Do not show "New room" button where there is no workspace - Reported By: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Login with account that doesn't have Workspace
3. Click on "+" in LHN

## Expected Result:
The option should b

[2021-12-13 23:49] mvtglobally opened #6745 "Feature Request: Add "New Chat Room" row in the Workspace options list - Reported by: @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Login with account that doesnt have Workspace or create one
3. Go to Profile > Workspace
4. check if there is

[2021-12-13 23:54] SofiedeVreese commented on #5588
Ok paid out the following for this issue:

$500 for the issue itself
$250 reporting bonus
$250 Company Offsite Hold bonus

Ended contract & removed job posting.

Closing GH.

[2021-12-13 23:54] #5588 closed

[2021-12-14 00:04] mallenexpensify commented on #5462
@parasharrajat so it should be

- $250 original issue
- $250 `n6 hold` bonus
- $500 scope increase.
- Total - $1000

is that accurate?   cc @MitchExpensify since you're CM

[2021-12-14 00:20] mallenexpensify commented on #4612
@parasharrajat

I'm still able reproduce the issue on Desktop Version 1.1.18-3.

1. Via search/chat switcher - Jack > Monte > Deeter > Manager.
2. `CMD + [` goes to Joe G.
3. `CMD + ]` goes to Manager.

Via clicking on user names in LHN seems to work _better_, I had one time where it navigated correctly using `CMD + [` but also had other times/tests where it didn't work correctly

[2021-12-14 00:24] shawnborton commented on #6301
Posted to [Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1639441455206200) for feedback.

[2021-12-14 00:25] mallenexpensify commented on #3855
It's not working for me and I think we should fix it. I'm on staging.new.expensify.com and am using 1Password to autofill.  After I select my email address and hit `enter`, nothing happens, I'm unable to advance to the password screen without clicking the `Continue` box with my cursor.

@AndrewGable are you _alright_ with this or would you prefer a brand new issue to address including the one-time

[2021-12-14 00:27] mallenexpensify commented on #6552
The `Refresh` button does look small to me.  If tapping/clicking the button is the action that a user is going to take 90%+ of the time, I think we should make it a bit larger

[2021-12-14 00:49] mallenexpensify commented on #6716
@mananjadhav can you help me here since this one is a lil tricky, if @thesahindia never would have [reported this issue in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1639142507005200), would the issue have been fixed by [this PR](https://github.com/Expensify/App/issues/5185#issuecomment-991153843)?  Thx

[2021-12-14 01:04] NikkiWines commented on #6562
If we edit or delete a message earlier than last 50 message while other users web is not active, that onyx message is not modified by the fetchActions.

Interesting. @k4tsuki, testing this locally confirms what you're saying - though it's a slightly different issue than what this original issue was reporting. In a conversation between User A and User B, older messages edited/deleted by User A whil

[2021-12-14 01:16] adelekennedy commented on #6622
no idea what happened - this slipped off my radar

[2021-12-14 01:17] adelekennedy commented on #6299
It looks like #32521 is deployed to prod? Are we good to close this issue?

[2021-12-14 01:23] adelekennedy commented on #6622
Internal - https://www.upwork.com/ab/applicants/1470564836840558592/job-details
External - https://www.upwork.com/jobs/~0174d8ccaab92bfd01

[2021-12-14 02:15] Luke9389 commented on #6130
Haven't been able to loop back around to this just yet

[2021-12-14 02:16] Luke9389 commented on #4656
Not much action on this of late. Should we close this?

[2021-12-14 02:20] railway17 commented on #6326
Touch screen means mobile devices?
Web browser in mobile devices?

Because #6518 is tagged with Web platform, I have just tried in Desktop browser and desktop app.
Testing video was attached to #6535

[2021-12-14 02:21] railway17 commented on #6518
Ok, I got it.
I have just tested it in Web version because issue was marked with only Web.
Let me try to fix and create a new pull request for this.
Thank you.

[2021-12-14 02:29] K4tsuki commented on #6562
Thank you for your confirmation @NikkiWines . I am sorry for the confusion, I mean after adding Kursat patch.
Here is the video recording: I am setting `CONST.REPORT.ACTIONS.LIMIT` to 8.

https://user-images.githubusercontent.com/1313124/145921968-dbe3418d-95f1-469b-abf7-22cf6cff43fe.mp4

After the patch, when user B delete his message and user A offline, it works (deleting `10`). But if I delete

[2021-12-14 02:36] jliexpensify commented on #6391
Any luck reproducing @kidroca?

[2021-12-14 02:40] parasharrajat commented on #6713
I was thinking that I will get first dibs as I reported it. 🙂

[2021-12-14 02:45] marcaaron commented on #4656
Double the price maybe? There are probably still performance issues when starting up Android and we should definitely follow up on any ideas to make things faster. I will also say that I don't have much time to dedicate to this right now - so maybe only keep it open if others are able to give it attention and help test out proposals. Good question to ask in Slack probably.

[2021-12-14 02:53] wenge8n commented on #6714
I was able to reproduce this issue in v1.1.20-2, Web

Proposal

src/styles/StyleUtils.js

[code]

[2021-12-14 03:02] mvtglobally opened #6747 "Workspace - default workspace name in Spanish account is not translated - reported By: @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Login account with Spanish language preferences
3. Slick on "+" in LHN
4. Select to create new Workspace
5. Ch

[2021-12-14 03:06] mvtglobally opened #6748 "[HOLD for payment 2021-12-28] Payment - Keyboard type is wrong for CVV at debit card page - Reported by: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Profile > Settings
2. Select Payments
3. Click Add payment method
4. Select Debit card
5. Click on CVV CTA

## Expected Result:
Numer

[2021-12-14 03:17] mvtglobally opened #6749 "[HOLD For Payment 2021-12-29] IOU - Selected currency is not saved when search again - Reported by: @kursat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to app
2. Click on "+" > Request money or Send Money
3. Click on currency and select any other currency than default
4. Click on currency agai

[2021-12-14 03:23] thienlnam commented on #3381
Added some comments to the react-native-web PR

[2021-12-14 03:37] sonialiap commented on #6690
LGTM!

[2021-12-14 03:39] mvtglobally opened #6750 "Workspace - Deleting workspace after inviting someone, before invitation, - Reported by: @kursat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to newDot
2. Create workspace & inviting anyone
3. Immediately delete Workspace
4. Check email

## Expected Result:
Email should be stating wo

[2021-12-14 03:41] azimgd commented on #3381
@thienlnam replied.

[2021-12-14 03:50] mvtglobally opened #6751 "When pdf files are uploaded, the file name is being changed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to chat
2. Upload any PDF with specific name
3. Open uploaded PDF and hit download
4. Check name

## Expected Result:
File name should persist

[2021-12-14 04:04] Christinadobrzyn commented on #6727
Thanks for the review @iwiznia and @parasharrajat!

Closing this issue as it seems like we don't want to add a character limit for workspace names.

[2021-12-14 04:04] #6727 closed

[2021-12-14 04:05] parasharrajat commented on #5462
Looks good to me. Thanks.

[2021-12-14 04:08] parasharrajat commented on #6729
Yeah, exactly. Best to pick this things in PR.

####Here's my proposal.

1. Update the box-shadow at this line https://github.com/Expensify/App/blob/125cd7212f9fff9ac4dbaefd2df7f2a37a31910e/src/styles/getModalStyles.js#L157

Replacing with whatever is decided.

[2021-12-14 04:09] Christinadobrzyn commented on #5572
Paid @parasharrajat in Upwork and added $250 bonus for the N6 hold. 🎉

[2021-12-14 04:10] #5572 closed

[2021-12-14 04:21] mananjadhav commented on #6716
@mallenexpensify  Yeah if @thesahindia wouldn't have reported, wouldn't have fixed it. This was done as a part of my PR https://github.com/Expensify/App/pull/5921 and discussion here https://github.com/Expensify/App/issues/5185#issuecomment-991199433

[2021-12-14 04:21] mvtglobally commented on #6325
Issue not reproducible during KI retests. (Third week) Closing

[2021-12-14 04:21] #6325 closed

[2021-12-14 04:24] mvtglobally commented on #6710
Issue not reproducible during KI retests. (First week)

[2021-12-14 04:25] mvtglobally commented on #2499
Issue not reproducible during KI retests. (Third week)
Keeping open for another check due to this https://expensify.slack.com/archives/C01GTK53T8Q/p1639445152215200

[2021-12-14 04:27] mvtglobally commented on #6457
Issue not reproducible during KI retests. (Second week)

[2021-12-14 04:28] mvtglobally commented on #5159
Issue not reproducible during KI retests. (First week)

[2021-12-14 04:31] mvtglobally commented on #6539
Issue not reproducible during KI retests. (First week)

[2021-12-14 06:41] thesahindia commented on #6590
@ctkochan22, should we keep this issue open as no job is created for reporting the issue yet.

[2021-12-14 07:29] MariaHCD commented on #6748
I'll let @puneetlath do the initial triage here!

[2021-12-14 08:11] eVoloshchak commented on #6488
Yeah, I would gladly do it.
Could you please share the link to this channel? I couldn't find it in the docs.

As far as I can understand, native apps use native notifications, which do have sound.
This issue is reported to appear only for web and desktop app

[2021-12-14 09:54] kidroca commented on #6391
I'm sorry, I haven't had the chance to come back to this one yet

[2021-12-14 10:32] railway17 commented on #6326
@roryabraham
I was able to reproduce this issue in the Android 11 simulator. (Usually, I use Android 8 device so didn't notice it earlier).
But also noticed that this issue was caused `App/src/components/ImageView/index.native.js`.
Actually, the #6326 issue was to fix the zoom-icon issue in the **Web/Desktop** app while hovering, so I fixed it by using `App/src/components/ImageView/index.js`  and

[2021-12-14 10:52] developvsn commented on #6235
Is just something we dicovered while trying to implement fix

[2021-12-14 11:23] parasharrajat commented on #6472
Am I eligible for reporting bonus here @yuwenmemon ?

[2021-12-14 11:54] parasharrajat commented on #6488
Sorry for the misinformation but we need sound on all platforms. @isagoico Could you please modify the description to include all the platforms?
There is only one channel that you can join via sending an email to the email mentioned on the Contribution guidelines.

[2021-12-14 12:02] parasharrajat commented on #6471
Ok, I think we can go with @mateusbra proposal. I don't see any side-effect of doing it ATM.

But I will delegate the decision to @NikkiWines .

:ribbon: :eyes: :ribbon:

[2021-12-14 12:16] eVoloshchak opened #6754 "mWeb (Safari) - iOS 15 - Content is hidden by address bar when keyboard is open"
## Action Performed:
1. Navigate to any conversation
2. Press on input to open the keyboard

## Expected Result:
Input should slide up above the address bar

## Actual Result:
Address bar is partially covering the input

## Workaround:
Go to Settings - Safari. Change Tabs to "Single tab", which moves address bar to the top.

## Platform:
Where is this issue occurring?

- Mobile Web

iOS 15 to be p

[2021-12-14 13:45] kursat commented on #6489
Hey @kevinksullivan, I wanted to remind you that I'm still not hired on upwork.

[2021-12-14 13:59] developvsn commented on #6489
Not you alone.

But the day is coming this evening for our timezone only

[2021-12-14 14:02] Dal-Papa commented on #6751
I don't think you're supposed to put the Engineering label yourself @mvtglobally, no ? @sophiepintoraetz my guess for this is that when we upload **anything**, we create a random ID for when we save it to S3 and that's the random ID that is returned back when trying to download the file. I will try to investigate a little more or get someone else to look at this.

[2021-12-14 14:03] Dal-Papa commented on #6692
https://expensify.slack.com/archives/C01GTK53T8Q/p1639411092166500?thread_ts=1638979304.367300&cid=C01GTK53T8Q

[2021-12-14 14:12] michaelhaxhiu commented on #6669
Upwork job post - https://www.upwork.com/ab/applicants/1470756549629607936/job-details

[2021-12-14 14:18] roryabraham commented on #6660
As discussed above, there is no separate Upwork job for this issue.

[2021-12-14 14:37] kevinksullivan commented on #6718
@parasharrajat can you apply for the reporting bonus? Thanks!

[2021-12-14 14:46] kevinksullivan commented on #6754
Likely external, but going to tap in engineering before going with the export.

[2021-12-14 14:48] aswin-s commented on #6613
Below line seems to be the reason for showing the permission error dialog, even when user has given storage access. showError method is called irrespective of the returned value for hasPermission.

https://github.com/Expensify/App/blob/main/src/libs/fileDownload/index.native.js#L139-L144

**Proposal**

Move the `showError`  call to else block under `if (hasPermission)`. This will make sure that th

[2021-12-14 14:49] kevinksullivan commented on #6489
Both hired @developvsn @kursat ! And payment will happen tomorrow assuming no regressions.

[2021-12-14 14:59] tylerkaraszewski commented on #6754
External seems fine.

[2021-12-14 15:21] puneetlath opened #6756 "Update ESLint config to restrict react native Picker import"
We recently updated our ESLint config to restrict importing Text, TextInput, and Button from React Native (https://github.com/Expensify/eslint-config-expensify/pull/38). We should also include Picker, which is a deprecated component, since that is also a component that we shadow. More context here: https://expensify.slack.com/archives/C01GTK53T8Q/p1639149638008700

https://reactnative.dev/docs/pic

[2021-12-14 16:12] kavimuru opened #6757 "New room - Unable to create a room with visibility as "Private""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Tap on Plus button and Select New Room
4. Enter a name for the room
5. Select any Workspace

[2021-12-14 16:13] OSBotify commented on #6757
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-14 16:15] roryabraham commented on #5987
@kidroca I think we should work on nailing down a solid problem statement here so that we can have a richer discussion on solutions here. I think that creating a separate queue for persisted requests is a valid solution, but there are alternatives as well. Since this is very fundamental to the offline-first functionality of our application, I think we'll want to have a wider discussion here.

[2021-12-14 16:16] TomatoToaster commented on #6726
Ok so that PR didn't work and herein lies the problem:
https://github.com/Expensify/Auth/blob/c0e21eada76b52827126e2b7d7480cf9ed1032ab/auth/lib/Report.cpp#L402-L406

It seems like we can't really "share" a report with the person who creates it, so maybe we should remove the creator's accountID from the chat report because other chat reports don't tend to have that.

Alternatively we could tweak th

[2021-12-14 16:29] Julesssss commented on #6757
I'm not sure this should be a deploy blocker, given that the feature is behind a beta flag and seems to still be in developement. But I am also seeing this behavior and while the room is created, it does not appear in the LHN.

CC @jasperhuangg as I think it was introduced with [this PR](https://github.com/Expensify/App/pull/6314). Also CC @yuwenmemon as I _think_ you know the feature best. Are we

[2021-12-14 16:30] NicMendonca commented on #5193
@aswin-s @PrashantMangukiya paid!

[2021-12-14 16:44] kavimuru opened #6758 "New room - Creating a room in non admin workspace showing as normal chat with that admin user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Tap on Plus button and Select New Room
4. Enter any room name
5. Select any Workspace in whi

[2021-12-14 16:44] OSBotify commented on #6758
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-14 16:50] Santhosh-Sellavel commented on #5754
@bfitzexpensify Reporting bonus not issued for me.

[2021-12-14 16:52] isagoico commented on #6703
Cherry pick https://github.com/Expensify/App/pull/6741 was tested, we found 2 extra new issues surrounding the New Room creation flow. Not sure if they should be treated as DBs or not @TomatoToaster can you give them a look:
- https://github.com/Expensify/App/issues/6757
- https://github.com/Expensify/App/issues/6758

[2021-12-14 16:53] #5193 closed

[2021-12-14 16:53] Santhosh-Sellavel commented on #6132
Done! @kevinksullivan

[2021-12-14 16:53] Santhosh-Sellavel commented on #5873
@kadiealexander accepted thanks!

[2021-12-14 16:55] roryabraham commented on #6703
@isagoico what's the story with #6665 ?

[2021-12-14 16:55] danieldoglas commented on #6710
Thanks for tagging me @mountiny .

@mvtglobally , you could not reproduce this issue too? I downloaded the branch and it was working as expected.

[2021-12-14 16:56] railway17 commented on #6518
Hi, @roryabraham , @johnmlee101
As I commented [here](https://github.com/Expensify/App/issues/6326#issuecomment-993400794), [this issue](https://user-images.githubusercontent.com/44479856/145883557-508697f6-3e7e-4000-b226-a72941700087.mp4) is not related to my fix for #6326.

But I have also noticed that the Android version has an important bug regarding this.
While testing with earlier Android ve

[2021-12-14 17:00] isagoico commented on #6703
it's the same story that has happened before, I keep missing checking 1 PR off since the new checklist format was introduced 🤦 #6665 was a pass on our side.

[2021-12-14 17:03] iwiznia commented on #6728
We probably need a plan and a design doc on how all that would be managed.

[2021-12-14 17:05] puneetlath commented on #6635
Sounds good to me. Let's go forward with @thesahindia's proposal. Thanks!

[2021-12-14 17:09] puneetlath commented on #6733
Sounds good to me too. @jboniface let's go ahead and hire @mananjadhav for the job in Upwork.

[2021-12-14 17:10] puneetlath commented on #6733
@mananjadhav you can ask for translations in Slack in #expensify-open-source. Thanks!

[2021-12-14 17:11] mallenexpensify commented on #6699
Posted https://www.upwork.com/jobs/~01307efa2992ecde35
hahhah, Jules, both you and I got 'stuck' with this issue cuz we were already assigned when the auto-assign labels were added.

[2021-12-14 17:15] mananjadhav commented on #3245
@puneetlath Any updates for me here?

[2021-12-14 17:18] iwiznia commented on #6714
hmmmm, would that break what was fixed in [this PR](https://github.com/Expensify/App/pull/6535)? Also, is this bug a regression from that PR?

[2021-12-14 17:19] puneetlath commented on #6748
Confirmed this is indeed an issue. Over to you @MariaHCD!

[2021-12-14 17:20] mallenexpensify commented on #5952
Pinged John and Rory in the PR for 👀 https://github.com/Expensify/App/pull/6567#issuecomment-993803642

[2021-12-14 17:20] TomatoToaster commented on #6758
Right now rooms are still a work in progress and when you create them, they are not correctly shared with you. That looks like it is the regular chat with the other user. I am working on this problem in this issue: https://github.com/Expensify/App/issues/6726, so I think this is safe to close.

[2021-12-14 17:20] #6758 closed

[2021-12-14 17:26] TomatoToaster commented on #6703
Both of those don't need to be deploy blockers since the feature is still behind beta and a WIP as we build the rest of it. One is a duplicate and I'll keep an eye on the other one since it is a new bug, thanks for the ping @isagoico!

[2021-12-14 17:27] wenge8n commented on #6714
No, it will break the fixes in the mentioned PR.

[2021-12-14 17:34] mananjadhav commented on #6748
This is a small fix:

**Proposed solution:** is to add `keyboardType` to the text input.

[code]

[2021-12-14 17:36] trjExpensify commented on #6676
Sorry guys, I'm a tad unclear on the next steps here?

[2021-12-14 17:37] joelbettner commented on #6728
I think that it is important to get this change out faster than waiting for an entire design doc and implementation. I'm going to say this triage is passed and the issue is ready to work on.

[2021-12-14 17:39] Julesssss commented on #6699
Good bot 😄

Now awaiting proposals...

[2021-12-14 17:39] mananjadhav commented on #6744
**Proposed solution**

Not sure if the "New Room" is for all the workspace members or admin.

`...(Permissions.canUseDefaultRooms(this.props.betas) ? [` line needs to have additional condition based on:
1. If only Admin can create:  `...(Permissions.canUseDefaultRooms(this.props.betas) && Policy.isAdminOfFreePolicy(this.props.allPolicies)`
2. If any member can create: `...(Permissions.canUseDefaul

[2021-12-14 17:42] akshayasalvi commented on #6628
I had reported this earlier: https://github.com/Expensify/App/issues/6554 and it was closed based on this https://github.com/Expensify/App/issues/6554#issuecomment-986933718

[2021-12-14 17:45] TomatoToaster commented on #6726
I'll work on a CQ to fix this issue for existing chatReports. However, we should run it after the [above PR](https://github.com/Expensify/Auth/pull/6223) goes into production so that we can capture all chatReports that are made incorrectly in production.

[2021-12-14 17:53] pecanoro commented on #6676
@trjExpensify Export the issue, we can discuss it in the meantime.

@parasharrajat Oh I see, we should remove the user from the list then after being invited, right? I think that would be the best option.

[2021-12-14 18:07] manan commented on #6733
Unsubscribe me please

On Wed, 15 Dec 2021, 4:10 am Puneet Lath, ***@***.***> wrote:

[2021-12-14 18:16] puneetlath commented on #6733
@manan sorry that we used the wrong username and tagged you on this issue. I'm not seeing any way to unsubscribe on your behalf. But you should be able to stop receiving notifications if you click the "unsubscribe" button on the right side of this issue.

![image](https://user-images.githubusercontent.com/1371996/146056414-90358af4-01f9-4f4e-908f-441825e9ea91.png)

[2021-12-14 18:18] thienlnam commented on #6722
Looks like the issue is because we encode the wrong copy when a delete request fails here https://github.com/Expensify/App/blob/15bb537ebf508559e81c32d664924b1dcf0be361/src/libs/actions/Policy.js#L143-L162

Is an easy fix that I can take care of.  It looks like we already have a copy, does this work? @davidcardoza

This policy cannot be deleted right now because reports are actively being processe

[2021-12-14 18:22] mateusbra commented on #6734
### PROPOSAL
If considered external:

First, we need to know when personal details are being uploaded. I think we should create a new ONYXKEY to track when personal details uploads:
[code]
 Then we use Onyx to know when personal details uploads with a new prop within [ProfilePage.js](https://github.com/Expensify/App/blob/main/src/pages/settings/Profile/ProfilePage.js):

[code]
[code]
Then we use W

[2021-12-14 18:35] isagoico opened #6759 "[HOLD for payment 2022-01-11] [250$] Deleted comment status is only visible on LHN and not in the conversation, should be visible on both"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send a message
3. Delete the message
4. Check the LHN

## Expected Result:
Deleted comment status should be display

[2021-12-14 18:38] thienlnam commented on #6613
Hey @aswin-s, that proposal looks good.  I think you mean the `showAlert` call but either way 🟢

@kevinksullivan Could you please hire @aswin-s in Upwork?

[2021-12-14 18:41] mvtglobally commented on #6703
@TomatoToaster @roryabraham since #6314 is going to Prod as BETA, are we ok to checkoff it them and close this checklist?

[2021-12-14 18:47] johnmlee101 commented on #6759
Seems like a viable change! I think a Weekly is fine for this one

[2021-12-14 18:49] puneetlath opened #6760 "[HOLD for payment 2022-01-17] [HOLD for payment 2022-01-11] [HOLD for payment 2022-01-04] [HOLD for payment 2021-12-28] Rename ExpensifyText, ExpensifyButton, ExpensiTextInput, ExpensiPicker components"
We currently have four components that are effectively shadows of React Native components:
- ExpensiPicker
- ExpensiTextInput
- ExpensifyButton
- ExpensifyText

Now that we've added a rule in our ESLint config to restrict importing `Text`, `Button`, `TextInput` or `Picker` from `react-native` we no longer need to have these strange names for our components. We can just name our custom components `

[2021-12-14 18:52] kidroca commented on #5987
The problem was originally defined here: https://github.com/Expensify/App/issues/5987#issuecomment-962933224

But when we regain connectivity they are read, removed from storage and kept only in memory
Making a refresh/exit before they are complete would make the app "forget" about them

Furthermore we identified another problem with uploading attachments: https://github.com/Expensify/App/pull/490

[2021-12-14 18:52] puneetlath commented on #6760
@dylanexpensify I already created the job, so no need to worry about it. @pecanoro I can handle this one from the engineering perspective. Assigning both of y'all.

[2021-12-14 19:02] developvsn commented on #5974
Any updates? @jboniface

[2021-12-14 19:06] isagoico opened #6761 "Writing a comment in a OldDot report shows a unread message in NewDot for the same account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create an expense report on OldDot from account A
2. Submit to account B
3. Leave a comment on the report
4. Log in to NewDot with account A
5.

[2021-12-14 19:10] iwiznia commented on #6714
ok cool, I think the proposal looks good, do you agree @parasharrajat ?

[2021-12-14 19:23] mateusbra commented on #6760
# PROPOSAL
I'll make PR's replacing all the ExpensiComponents into native components names as said above:
ExpensiPicker -> Picker
ExpensiTextInput -> TextInput
ExpensifyButton -> Button
ExpensifyText -> Text

[2021-12-14 19:24] ludehsar commented on #6760
Hello @puneetlath, I am interested in this assignment. Can I have this opportunity? I will rename `ExpensiPicker` to `Picker`, `ExpensiTextInput` to `TextInput`, `ExpensifyButton` to `Button`, and `ExpensifyText` to `Text` in all the files they are used. Also, I will create a separate PR for each component.

[2021-12-14 19:29] NikkiWines commented on #6471
I agree with @parasharrajat, @mateusbra's proposal looks good 👍

[2021-12-14 19:37] NikkiWines commented on #6235
Ah ok, makes sense!

Yes, That sounds good!

[2021-12-14 19:38] mallenexpensify commented on #6716
Thanks @mananjadhav
@thesahindia can you please apply here https://www.upwork.com/jobs/~01e5ad2c7ff2b71ffd and confirm in a comment when you have?  You're being compensated $250 for reporting.

[2021-12-14 19:43] davidcardoza commented on #6722
Yep that's fine.

[2021-12-14 19:44] thesahindia commented on #6716
@mallenexpensify, I have applied for the job. Thanks.

[2021-12-14 19:44] TomatoToaster commented on #6703
Yes I think it's ok to check off, I had verified the steps work mostly as expected from the tests/WebQA: https://github.com/Expensify/App/pull/6314#issuecomment-993918687

The broken behavior is captured in other issues assigned to me 👍🏾

[2021-12-14 19:53] Santhosh-Sellavel commented on #6760
## Proposal
@puneetlath requirements are pretty clear,
I infer the following items to do for each component.
1. Will rename component name
2. Rename Respective file names (folder names?)
3. Make renames changes in the files that refer to the particular component.
4. Raise PR for each component.

Thanks.

[2021-12-14 19:56] roryabraham commented on #6299
Yep!

[2021-12-14 19:56] #6299 closed

[2021-12-14 20:01] eVoloshchak commented on #6699
**Proposal**

We could trim the alternate text in [getSections](https://github.com/Expensify/App/blob/9f2b4f025961d5513dcf949b896f3d0fef956a98/src/pages/SearchPage.js#L92) method of the [SearchPage](https://github.com/Expensify/App/blob/main/src/pages/SearchPage.js)
Instead of

[code]

we could do

[code]

 Where `100` is the maximum length for the `alternateText`

[2021-12-14 20:07] mallenexpensify commented on #6751
I believe the correct process is for QA/Applause to **not** add the `AutoAssignerTriage` label because the issue has had visibility in #expensify-open-source for people to comment on and that the `Engineering` label **should** be added because the next step is for an engineer to confirm if the issue can be worked on by a contributor (then to add the `External` label if so).
cc @isagoico , this is

[2021-12-14 20:13] jboniface commented on #5974
@developvsn sorry, i missed that message. i just paid the contract. closing.

[2021-12-14 20:13] #5974 closed

[2021-12-14 20:33] Santhosh-Sellavel commented on #6720
## Proposal

We need to invoke `dismissModal` from here. So whenever we navigate to a new report, RHN modals would disappear.
https://github.com/Expensify/App/blob/9f2b4f025961d5513dcf949b896f3d0fef956a98/src/libs/Navigation/Navigation.js#L143-L146

Like this,
[code]
Also, we will need to refactor `dismissModal`, i.e need to move the function above the `navigate` method because we cannot use the m

[2021-12-14 20:33] aswin-s commented on #6720
## Reason

Open modals are not dismissed before opening overlapping drawers. Similar behaviour is observed while trying to create new groups by pressing Ctrl+Shift+K.

## Proposal

Dismiss any open modals before navigating to a modal screen through keyboard shortcut listener.

Keyboard listeners for search & new groups are getting registered over here :-

https://github.com/Expensify/App/blob/main

[2021-12-14 20:56] mateusbra commented on #6471
Proposal posted in UpWork!
I'll make the PR as soon as possible once my proposal be accepted within UpWork! 👍

[2021-12-14 21:07] Luke9389 commented on #5159
Shouldn't be overdue since reviewing label is on it

[2021-12-14 21:12] mallenexpensify commented on #6716
Paid! Closing

[2021-12-14 21:12] #6716 closed

[2021-12-14 22:02] NicMendonca commented on #6471
@mateusbra hired!

[2021-12-14 22:07] puneetlath commented on #6760
Given that this is just a straightforward rename and there isn't really a difference in proposals I'm going to go ahead with @mateusbra since he responded first.

@mateusbra can you please apply to the Upwork job so that I can hire you?

Thanks everyone!

[2021-12-14 22:26] puneetlath commented on #6729
@parasharrajat your proposal sounds good. I sent you the hiring offer in Upwork.

[2021-12-14 22:27] thienlnam opened #6763 "Update how we apply forked version of react-native-web"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

We're currently using a post-install method to apply the patched version of react-native-web in this PR https://github.com/Expensify/App/pull/6738

There are a few issue

[2021-12-14 22:29] puneetlath commented on #6590
@thesahindia I sent you an offer in Upwork for reporting the issue. Thanks!

[2021-12-14 22:35] adelekennedy commented on #6299
@anthony-hull just hired you in Upwork for reporting (thank you!)

[2021-12-14 22:39] jliexpensify commented on #6460
Got it in my calendar to pay tomorrow.

[2021-12-14 22:56] mallenexpensify commented on #6750
@ctkochan22 do you think this can be worked on by a contributor? If so, can you add the `External` label?

[2021-12-14 22:59] puneetlath commented on #3245
@mananjadhav yes, absolutely. I agree this is more scope than a typical job. I will bump this to the $1000 job size. Does that sound fair?

[2021-12-14 22:59] ctkochan22 commented on #6750
No, I'm pretty sure its work in the old-dot Web-Expensify repo.

[2021-12-14 23:06] mallenexpensify commented on #5462
Paid (cuz I was already in this issue).  Thanks @parasharrajat

[2021-12-14 23:06] #5462 closed

[2021-12-14 23:13] mallenexpensify commented on #6692
Dropped a comment in the slack thread https://expensify.slack.com/archives/C01GTK53T8Q/p1639523440258000?thread_ts=1638979304.367300&cid=C01GTK53T8Q

[2021-12-14 23:22] kadiealexander commented on #5873
Thanks Santhosh!! Everyone is paid now. 💸

[2021-12-14 23:22] #5873 closed

[2021-12-14 23:29] trjExpensify commented on #6154
@parasharrajat presuming we're still held here?

[2021-12-14 23:32] kidroca commented on #5987
That's seems good, but I see a few problems:
1. Quite a significant change to the existing queue
2. Terminating the app with `pending` requests
3. `expiresOn` - in this conversation the conclusion is there should be no expiration: https://expensify.slack.com/archives/C01GTK53T8Q/p1638771676235100

(1) I wasn't sure that I can just propose to rewrite the entire queue to work in this matter
(2) If a

[2021-12-14 23:34] trjExpensify commented on #6676
Done, here: https://www.upwork.com/jobs/~01a872960138b42dec

[2021-12-14 23:41] adelekennedy commented on #6759
Internal: https://www.upwork.com/ab/applicants/1470901651146485760/job-details
External: https://www.upwork.com/ab/applicants/1470901651146485760/job-details

[2021-12-14 23:52] mateusbra commented on #6471
PR ready for review!

[2021-12-14 23:59] mateusbra commented on #6760
Thank you @puneetlath !
Proposal posted in UpWork!
I'll make the PR as soon as my proposal be accepted there. 👍

[2021-12-15 00:11] Jag96 commented on #3455
Still on hold

[2021-12-15 00:19] railway17 commented on #6326
Hi, @roryabraham
Have you got [my comment](https://github.com/Expensify/App/issues/6326#issuecomment-993400794)?

[2021-12-15 01:09] railway17 commented on #6326
Those are not related, @iwiznia

[2021-12-15 01:53] sidferreira commented on #6390
@roryabraham @parasharrajat https://github.com/Expensify/App/pull/6766

[2021-12-15 01:54] mvtglobally opened #6767 "[HOLD for payment 2022-02-08] Chat - Unable to type next paragraph in message - Reported by: @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to app
2. Open any chat
3. Type 1 line & hit return to add a paragraph in same message

## Expected Result:
In app user is able to add multipl

[2021-12-15 02:11] #6662 closed

[2021-12-15 02:20] mvtglobally opened #6768 "Feature request - Add ability to archive chat - Reported by: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to app
2. Try to archive the chat

## Expected Result:
User should be able to keep the chats of people they frequently talk with in LHN

[2021-12-15 02:25] mvtglobally opened #6769 "[HOLD for payment 2022-01-17] Chat - Indentation is not preserved in comments"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. Send a message with indentation
1. Some item
    i. Some sub-item
    ii. Some other sub-item
2. Some other item

## Expe

[2021-12-15 02:34] mananjadhav commented on #3245
Thanks @puneetlath

[2021-12-15 03:01] marktoman commented on #6213
Please provide the missing spec. The command name alone with no payload info is not very useful.

If this is a priority task, note that I cannot interrupt my other work anytime I please, hence these delays may compound.

[2021-12-15 03:23] yuwenmemon commented on #6688
Works fine for me! Closing:
![Screen Shot 2021-12-14 at 7 19 31 PM](https://user-images.githubusercontent.com/4741899/146117060-2b34edeb-4aeb-4512-a472-b20ecb2242d8.png)

[2021-12-15 03:23] #6688 closed

[2021-12-15 04:19] Christinadobrzyn commented on #6285
Hi @akshayasalvi! Do you have an update for us on when we can expect the PR for this one? I don't see it yet but maybe I'm missing something. Thank you!

[2021-12-15 07:06] MonilBhavsar commented on #6749
@Christinadobrzyn, as per this [SO](https://stackoverflow.com/c/expensify/questions/11343), we need to pay @kursat for reporting the issue

[2021-12-15 07:44] kmishukov commented on #5754
+

[2021-12-15 08:20] aswin-s commented on #6759
## Reason
For deleted comments, the message field in reportAction is being set as an empty array from server.

![image](https://user-images.githubusercontent.com/6880914/146148022-4a594242-0ec2-4014-b86a-8d8417b78e34.png)

And any such actions which doesn't have a message object or empty html content gets filtered in the `updateSortedReportActions` method with in `ReportActionsView`

https://githu

[2021-12-15 09:35] K4tsuki commented on #6759
#### proposal

Remove filters on empty `html` value of report action on this line:
https://github.com/Expensify/App/blob/ebfb90496c68962e24228d9fe03d7e19480446b8/src/pages/home/report/ReportActionsView.js#L324-L326

Add another ExpensifyTextInput with condition `this.props.fragment.isEdited` and html fragment is empty in `ReportActionItemFragment`:

https://github.com/Expensify/App/blob/ebfb90496c

[2021-12-15 10:19] #6585 closed

[2021-12-15 10:26] anthony-hull commented on #6565
I would remove the extra inputs in the two places the secure text entry is used twice in the NewPasswordForm and PasswordPage:
https://github.com/Expensify/App/blob/893762107a3691a79256db064181a369f3c50384/src/pages/settings/NewPasswordForm.js#L116-L132
https://github.com/Expensify/App/blob/893762107a3691a79256db064181a369f3c50384/src/pages/settings/PasswordPage.js#L217-L229
And then clean up the

[2021-12-15 10:50] Julesssss commented on #6747
This default is set on the backend, so we won't be able to resolve this for now.

[2021-12-15 10:50] #6747 closed

[2021-12-15 11:28] anthony-hull commented on #6299
accepted on upwork

[2021-12-15 11:33] rafaysaleem89 commented on #6132
This issue fixed. Apologies for the delay but the push notifications weren't working in debug mode for some reason so I had to make release builds to test the issue.

Here is the link to the PR:
https://github.com/Expensify/App/pull/6770

[2021-12-15 11:51] parasharrajat commented on #6565
Looks good. @anthony-hull  But @chiragsalian can confirm if we want to do this for `setPasswordPage` as well which is basically when the user sets his account the first time.

[2021-12-15 11:54] dylanexpensify commented on #6487
working on payment now!

[2021-12-15 11:58] dylanexpensify commented on #6487
payment sent (with reporting bonus), contract ended, job closed!

[2021-12-15 11:58] #6487 closed

[2021-12-15 12:03] parasharrajat commented on #6759
Thanks for the proposal guys, but both of the proposals are missing important changes.
1. How will prevent the app to show mini contextMenu and Right-click context menu?

@K4tsuki Why do you need to check `isEdited`? and could you please include changes that you will do in the code?

deleted_message

How will you do this?

Please try to be more expressive in your proposals.

[2021-12-15 12:07] dylanexpensify commented on #5142
@parasharrajat sent offer!

[2021-12-15 12:38] aswin-s commented on #6759
@parasharrajat I felt it as an implementation detail to hide the context menu, that's the reason for leaving it out of proposal. The main thing to note here is that ideally the action item should be marked with a separate type like 'DELETED_COMMENT' from backend itself. That's the reason for proposing a dummy message item at the `updateSortedReportActions` level. This single piece of logic could l

[2021-12-15 12:43] aswin-s commented on #6759
`IsVisibleFlag` for `MiniReportActionContextMenu` also needs to be set to false using the same logic.

[code]

[2021-12-15 12:50] mvtglobally commented on #6710
@danieldoglas i was able to repro the issue on Desktop app yesterday with the build 1.1.20-2
See tread https://expensify.slack.com/archives/C01GTK53T8Q/p1639532748263800

[2021-12-15 12:50] parasharrajat commented on #6759
This is not the purpose of Action_type.

[2021-12-15 12:54] parasharrajat commented on #6154
Yes. @trjExpensify

[2021-12-15 13:17] parasharrajat commented on #6699
awaiting proposals...

[2021-12-15 13:24] parasharrajat commented on #6754
A similar issue is being fixed [here](https://github.com/Expensify/App/pull/6572). It's a duplicate.

@eVoloshchak We prefer issues to be reported on our Slack channel. You can join that and report there. Next time issues are created like this be closed without any reason.

[2021-12-15 13:28] mvtglobally commented on #6718
@bfitzexpensify I also added videos for a better representation

[2021-12-15 13:32] parasharrajat commented on #6760
All good here.

:ribbon: :eyes: :ribbon:

[2021-12-15 13:35] parasharrajat commented on #6699
Just to clarify and @mallenexpensify could you please update the description as well.
We want these things to be fixed here.
1. trim the message to a fixed length.
2. memory leak which is causing the message to be appended multiple times.

cc: @Julesssss

[2021-12-15 13:46] parasharrajat commented on #6613
All good here.

:ribbon: :eyes: :ribbon:

[2021-12-15 13:46] eVoloshchak commented on #6754
Yeah, sorry, my bad, I should of checked contributing guidelines before opening the issue.

[2021-12-15 13:56] parasharrajat commented on #6647
Waiting for more proposals...

[2021-12-15 14:00] songlang1994 commented on #6676
I think we should consider the duplicated items of employeeList in `Policy#invite` instead of just simply concat the employeeList.

https://github.com/Expensify/App/blob/893762107a3691a79256db064181a369f3c50384/src/libs/actions/Policy.js#L287-L294

Both `WorkspaceMembersPage` and `WorkspaceInvitePage` depend on the "correct" `employeeList`.

https://github.com/Expensify/App/blob/893762107a3691a792

[2021-12-15 14:09] gbk94 commented on #6760
**Proposal**

I will rename component name

ExpensiPicker => Picker
ExpensiTextInput => TextInput
ExpensifyButton => Button
ExpensifyText => Text

I will also rename respective file and folder names.
I will rename import paths locations for components,
I will renew references of component callers/.
I will submit separate PR for each component.

Thank you.

[2021-12-15 14:14] michaelhaxhiu commented on #3245
Bumped price to $1000. Are we proceeding forward with @mananjadhav's proposal?

If so, @mananjadhav can you apply for the job?

[2021-12-15 14:22] parasharrajat commented on #6676
Thanks for the proposal @songlang1994 .
Based on this.
1 Your proposal satisfies first. We don't need to worry about the complexity here. I don't think a group will ever have thousands of users.
2. Can you think about the second?

[2021-12-15 14:27] michaelhaxhiu commented on #6287
Both contributors are paid.

[2021-12-15 14:27] #6287 closed

[2021-12-15 14:28] parasharrajat commented on #6235
This would be a generalized issue and I will report it slack later as I pointed it in the comments above.

As NikkiWines said, you should be fixing .

[2021-12-15 14:31] michaelhaxhiu commented on #6155
Paid.

[2021-12-15 14:31] #6155 closed

[2021-12-15 14:32] kbecciv opened #6772 "Web - Unread message with (first/last name) emoji shows as black and white, not color"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account and set emojis for the First and Last Name ( Account A) in the Settings
3. Use

[2021-12-15 14:34] michaelhaxhiu commented on #5926
Is this good to close now?

[2021-12-15 14:37] developvsn commented on #6235
We have two flows which includes clicking away after the list appeared.
1. Enter address — click away => the list disappears
2. Enter address — press tab — click away => list cannot disappear.

Which one of this is the issue we need to fix, as we said the second flow cannot be fixed due to it was design for mobile.

https://user-images.githubusercontent.com/71173662/146205808-5e9ab830-1246-433a-9a

[2021-12-15 14:39] mvtglobally commented on #6703
@roryabraham , trying to close this checklist

Are we ok to check off #6757 based on the comment https://github.com/Expensify/App/issues/6757#issuecomment-993717203 and check off  & #6758  > https://github.com/Expensify/App/issues/6758#issuecomment-993804478

[2021-12-15 14:41] roryabraham commented on #4656
Has anyone explored the possibility of introducing some [code splitting](https://reactjs.org/docs/code-splitting.html) to our application as a method for improving TTI?

[2021-12-15 15:07] parasharrajat commented on #6235
Oh. Sorry, I get it now.

The first is working. I will analyze this more to see if we can fix the second.

[2021-12-15 15:09] mountiny commented on #6718
I will take this issue on as CME since I have worked on the implementation with @marktoman previously. Also I have assigned Kevin again as CM since I believe it was a bug that you got unassigned.

[2021-12-15 15:10] parasharrajat commented on #6474
Still waiting for proposals.

[2021-12-15 15:12] kidroca commented on #4656
That particular guide would not work in `react-native` as there is no dynamic `import`

Something related Marc pointed sometime ago - our js bundle on mobile apps is compiled to bytecode which loads very fast: https://reactnative.dev/docs/next/hermes#confirming-hermes-is-in-use

You can verify this by logging out, quitting and restarting the app
Note how fast the login screen loads - our whole JS

[2021-12-15 15:13] parasharrajat commented on #5897
Haven't found anything on the first look. I will try to find one as soon as possible. Def, not a priority.

[2021-12-15 15:14] parasharrajat commented on #6592
No update on Slack. waiting for a conclusion there.

[2021-12-15 15:15] parasharrajat commented on #6693
Does not hurt in my opinion.

[2021-12-15 15:17] parasharrajat commented on #6718
Thanks, @mountiny. Waiting for proposals before I post one :wink:

[2021-12-15 15:17] songlang1994 commented on #6676
@parasharrajat `Policy#invite` itself is not easy to do this kind of restriction. However, we can handle it from its caller. Like:

https://github.com/Expensify/App/blob/893762107a3691a79256db064181a369f3c50384/src/pages/workspace/WorkspaceInvitePage.js#L61-L65

[code]

[2021-12-15 15:23] parasharrajat commented on #6676
I think this is not what we want. We want the selected user to be removed from the list when it is added to the policy. let me know if you have any questions.

[2021-12-15 15:26] parasharrajat commented on #6647
@thesahindia Do you have any other approach before I propose one?

[2021-12-15 15:31] parasharrajat commented on #3855
@mallenexpensify We can process the payment for this at it is pay day before proceeding to follow up issue.

[2021-12-15 15:55] tjferriss commented on #6719
This looks really great. My only comment would be that the grey "?" icon doesn't stand out. Have we considered giving it some color, maybe green.

Alternatively, could we do something to bring attention to it the first time someone opens the workspace editor? Maybe Concierge sends a message about it.

[2021-12-15 16:10] parasharrajat commented on #6759
I don't like the approach of manipulating the data structure before rendering.
[code]
 This will make it hard to maintain.  It's not this function's responsibility to modify to prepare the data for action.

 **Waiting for more proposals and modifications**.

[2021-12-15 16:23] parasharrajat commented on #6714
Ok. It seems like a regression. Analyzing the regression root before looking into proposals.

[2021-12-15 16:26] mountiny commented on #6710
Assigning Daniel after chatting in DM together.

[2021-12-15 16:26] Julesssss commented on #6703
Hi @mvtglobally, yeah please go ahead and check off those issues.

[2021-12-15 16:30] mananjadhav commented on #3245
Applied

[2021-12-15 16:34] thesahindia commented on #6647
@parasharrajat, found a better solution than the previous one..
https://github.com/Expensify/App/blob/ebfb90496c68962e24228d9fe03d7e19480446b8/src/styles/styles.js#L1900-L1905
We can add `padding:0` after 1904 to fix this issue.

[2021-12-15 16:37] parasharrajat commented on #6647
Great that is what I was looking for  We just need to remove the padding from TextInput.

@thesahindia 's proposal looks good.

cc: @chiragsalian

:ribbon: :eyes: :ribbon:

[2021-12-15 16:47] parasharrajat commented on #6326
[PR](https://github.com/Expensify/App/pull/6535) fixing the regression found earlier creates another regression https://github.com/Expensify/App/issues/6714.

cc: @railway17 @roryabraham @mallenexpensify

[2021-12-15 16:48] aswin-s commented on #6759
@parasharrajat understood. I'm taking one last dig at this and then throwing in towel 😅

1. Remove the filter which removes empty html tags from `updateSortedReportActions` in `ReportActionsView.js`
2. Disable context menu and hover actions in `ReportActionItem.js` by checking if `action.message.length==0`
[code]

[code]
3. Finally to show the comment deleted message, inside `ReportActionItemMessa

[2021-12-15 16:50] parasharrajat commented on #6714
Ok, @iwiznia This issue is a regression caused by https://github.com/Expensify/App/pull/6535 and as the original issue linked with that PR is still active this should be solved by the author of that PR.

@railway17 could you please take a look?

Thanks for the proposal @wenge8n .

[2021-12-15 16:51] parasharrajat commented on #6326
List of active regressions
1. https://github.com/Expensify/App/issues/6714
2. https://github.com/Expensify/App/issues/6518.

[2021-12-15 16:58] railway17 commented on #6714
In my testing video and previous staging testings, it was passed.
But, why such issue was displayed accidently?
Is it not a merging issue?

Anyway, let me take a look.

[2021-12-15 17:03] parasharrajat commented on #6714
I just reverted your [PR](https://github.com/Expensify/App/pull/6535) and it was fixed.

[2021-12-15 17:10] mvtglobally commented on #6703
Done

[2021-12-15 17:11] parasharrajat commented on #6759
@aswin-s 's latest proposal looks good. Don't forget to add proper comments.

cc: @Luke9389
:ribbon: :eyes: :ribbon:

[2021-12-15 17:15] adelekennedy commented on #6497
Paid!

[2021-12-15 17:15] #6497 closed

[2021-12-15 17:16] parasharrajat commented on #6497
@adelekennedy Will there by a reporting bonus as well?

[2021-12-15 17:18] parasharrajat commented on #6472
@mallenexpensify  Could you please look into the above request, if free? Thanks.

[2021-12-15 17:28] sakluger commented on #6717
I reproduced this behavior, and confirmed that the proposed behavior is the desired behavior. @johnmlee101 I'll leave this one with you to review the proposed solution!

[2021-12-15 17:45] stitesExpensify commented on #3245
I think we can proceed with @mananjadhav proposal @michaelhaxhiu. It looks good to me!

@mananjadhav can you tag both me and @puneetlath on the PR when it goes up please?

[2021-12-15 17:51] michaelhaxhiu commented on #3245
Hired ✅.

[2021-12-15 17:54] mallenexpensify commented on #3981
@johnmlee101 can you review @kidroca 's comment above, https://github.com/Expensify/App/issues/3981#issuecomment-962437872 and provide feedback

I just had this happen again, steps:
1. Drafted a message to post in Chronos
2. Closed laptop lid
3. Opened laptop lid, Chronos was bold in LHN, no new messages had been received.

[2021-12-15 18:26] puneetlath commented on #6590
Paid!

[2021-12-15 18:26] #6590 closed

[2021-12-15 18:27] puneetlath commented on #6577
Paid!

[2021-12-15 18:27] #6577 closed

[2021-12-15 18:31] puneetlath commented on #2734
Paid with n6 bonus. Thanks!

[2021-12-15 18:31] #2734 closed

[2021-12-15 18:33] MitchExpensify commented on #6768
When you say "archive the chat" do you mean removing it from the LHN? (Which is essentially un-pinning the chat)

[2021-12-15 18:38] parasharrajat commented on #6530
@adelekennedy I think forgot to mention earlier that I am eligible for a reporting bonus here or I waited for PR deployment.

[2021-12-15 18:46] parasharrajat commented on #6703
This seems ready to go to PROD cc: @roryabraham

[2021-12-15 18:47] megankelso commented on #6552
ok we could swap in our larger button for web

<img width="883" alt="Screen Shot 2021-12-15 at 10 46 40 AM" src="https://user-images.githubusercontent.com/49413768/146246657-a42d7e89-50e8-400c-9ae0-b775627e1fd3.png">

[2021-12-15 18:48] thesahindia commented on #6768
Un-pinning a chat will hide it when using the #focus-mode but here I'm suggesting to have the ability to archive chats irrespective of the mode. Since, #focus-mode serves a different purpose which is to show only the pinned chats and chats with new messages.
Archiving the chats will help the user to group the NOT needed chats into one place.
@MitchExpensify

[2021-12-15 18:53] MitchExpensify commented on #6768
Got it! Can you provide a statement of the problem that the inability to archive is causing?

[2021-12-15 18:54] mallenexpensify commented on #6472
Yes! @parasharrajat You are eligible for payment for reporting. We've been updating our internal process for this.  @yuwenmemon the steps are here https://stackoverflow.com/c/expensify/questions/11343/11425#11425.  I already added the `External` label so that Tom got assigned. @parasharrajat can you apply here https://www.upwork.com/jobs/~012ea22269039634aa
Then confirm in a comment here when you

[2021-12-15 18:58] parasharrajat commented on #6472
@mallenexpensify Done.

[2021-12-15 19:06] thienlnam commented on #6772
Wow, that is interesting

[2021-12-15 19:08] thesahindia commented on #6768
To avoid the unnecessary chats the user have to use #focus-mode which will also hide the chats user frequently talks with and to keep them in LHN user have to pin them one by one. The pinned chats will remain constant in their position and will not appear on top when a new message is received.

[2021-12-15 19:19] roryabraham commented on #6703
Okay, @Julesssss is the deployer this week, but since he's offline for the night and this is ready to go we can shipit

[2021-12-15 19:20] roryabraham commented on #6703
:shipit:

[2021-12-15 19:20] #6703 closed

[2021-12-15 19:22] chiragsalian commented on #6565
Yes good catch, let's remove this for setPasswordPage as well provided we confirm it has the show password icon.

[2021-12-15 19:24] OSBotify opened #6778 "Deploy Checklist: New Expensify 2021-12-15"
**Release Version:** `1.1.21-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6478
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6558
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6626
  - [x] QA

[2021-12-15 19:25] shawnborton commented on #6301
Looks like we landed here for the UI:
![image](https://user-images.githubusercontent.com/2319350/146250842-ae9a300d-c9ca-4696-a40c-ab08d761f3bf.png)

Let me know if you need anything else. The two new icons you will need (zoom, rotate) are here: [Icons.zip](https://github.com/Expensify/App/files/7722132/Icons.zip)

[2021-12-15 19:25] johnmlee101 commented on #2160
Where are we with this? Do we know if this still a recurring issue?

[2021-12-15 19:26] johnmlee101 commented on #4733
Is this still reproducible?

[2021-12-15 19:43] isagoico opened #6779 "[250$] User details page - Date format flickers when refreshing the page on user details page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Set the app language to English
2. Navigate to a conversation
3. Click on the header to open the user details page
4. Notice the time format
5. R

[2021-12-15 19:44] chiragsalian commented on #6647
Proposal LGTM as well. @thesahindia feel free to create the PR.

[2021-12-15 20:02] parasharrajat commented on #6565
ok. then @anthony-hull 's proposal looks good. I can confirm we have the eye icon there as well.

:ribbon: :eyes: :ribbon:

[2021-12-15 20:02] mvtglobally opened #6780 "[HOLD for payment 2022-01-25] Feature Request - Modify Keyboard Shortcuts modal's hotkey - Reported by: @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to app
2. Login
3. initiate Keyboard shortcut Modal with 'command+?' on Mac or 'ctrl+?' on windows or Linux

## Expected Result:
We sho

[2021-12-15 20:04] mvtglobally commented on #6778
Starting QA

[2021-12-15 20:05] parasharrajat commented on #6301
Looks good @shawnborton . Can someone update the issue description with these images and Assets?

[2021-12-15 20:07] parasharrajat commented on #4733
I think yes. But I haven't found any solution for it.

[2021-12-15 20:12] parasharrajat commented on #6563
Waiting for proposals...

[2021-12-15 20:16] thesahindia commented on #6779
### Proposal
adding `moment.locale(props.preferredLocale);` will solve it
https://github.com/Expensify/App/blob/6433741e0080f9767602829871c1ea34d4ec6de3/src/pages/DetailsPage.js#L62-L70

[2021-12-15 20:17] douglasmaringa commented on #6760
Proposal

hello i have read the issue and will rename the following in all the files they appear

ExpensiPicker to Picker
ExpensiTextInput to TextInput
ExpensifyButton to Button
ExpensifyText to Text

thanks

[2021-12-15 20:20] puneetlath commented on #6760
Hey @gbk94 and @douglasmaringa! We're no longer looking for proposals on this issue. You can see the issues that we are currently still looking for contributors on based on if they have the "help wanted" label on them: https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22

[2021-12-15 20:24] mananjadhav commented on #6780
While this is a small fix, if made external I'd like to solve it.

**Proposed Solution:**

1. We need to update the `CONST.KEYBOARD_SHORTCUTS.SHORTCUT_MODAL.shortcutKey` from `?` to 'I'.
[code]
2. We also need to remove `?` keycode handling lines from `KeyboardShortcut/index.js`, `getKeyCode` function.

[code]

[2021-12-15 20:37] mananjadhav commented on #6751
https://expensify.slack.com/archives/C01GTK53T8Q/p1639512596251900?thread_ts=1639445506.216300&cid=C01GTK53T8Q

Based on the comment above, I can at least add the original filename in the `AttachmentModal` preview popup. I've worked on `AttachmentView` and attachment-related components. We pass the `data-name` parameter with the attachment which can be used for already uploaded components. And dur

[2021-12-15 20:51] deetergp commented on #6213
I see what's going on. You need to be passing a JSON object containing the unit data to the API. That JSON is converted to a PHP array before being sent to the method in the error message. I dropped a log line in that PHP api call and changed the the unit on one of our legacy policies and the individual parameters looked something like:
[code]

Hopefully that helps?

[2021-12-15 21:01] marcaaron commented on #6690
Sorry, don't have time to assess whether this is a problem or not - but took a quick look and seems a bit complicated compared to the value that would be added. Going to leave this open to see if anyone in the engineering pool has interest in investigating further.

[2021-12-15 21:04] NicMendonca commented on #6779
Upwork job posting: https://www.upwork.com/jobs/~0155f6c827837da81e

[2021-12-15 21:10] parasharrajat commented on #6779
@thesahindia 's proposal looks good.

cc: @tgolen

:ribbon: :eyes: :ribbon:

[2021-12-15 21:16] mananjadhav commented on #6253
@adelekennedy Bump on Upwork payment.

[2021-12-15 21:16] mananjadhav commented on #5185
@kevinksullivan  Bump on Upwork payment.

[2021-12-15 21:38] TomatoToaster commented on #6725
Haven't figured out this one yet, once the [Auth PR](https://github.com/Expensify/Auth/pull/6223/files) fixing the PolicyRoom logic goes to production I think this could become external since the New Room component is available in `main` and this bug is related to the modal, not policy rooms themselves.

[2021-12-15 21:38] danieldoglas commented on #6710
Ok, so I just downloaded the latest code in Main and tested this locally to check if it was happening.

This video has the production verion (1.18) and the one in Mani (1.21).

Seems to be working as expected.

https://user-images.githubusercontent.com/5818999/146268569-0286a928-15f9-4737-9a90-403e98b19382.mov

Also, testing staging.new.expensify produced the same results:

https://user-images.git

[2021-12-15 21:42] marcaaron commented on #6690
@mvtglobally actually, sorry I'm going to close this. We need to document this process better, but my understanding is that "Feature Requests" are supposed to gather feedback in Slack about whether they are valuable to do _before_ heading to GitHub. Only obvious bugs should be making it into the triage process. Thanks!

[2021-12-15 21:42] #6690 closed

[2021-12-15 21:43] danieldoglas commented on #6710
@mvtglobally Can you run a quick test for me? Can you logout and login the application again and see if this continues?
I may have found the reason.

[2021-12-15 21:48] marcaaron commented on #6745
Closing this as the original Slack thread does not seem to have any activity.

[2021-12-15 21:48] #6745 closed

[2021-12-15 21:48] #6744 closed

[2021-12-15 21:49] #6730 closed

[2021-12-15 21:51] #6721 closed

[2021-12-15 21:51] marcaaron commented on #6692
Let's keep this in Slack for now.

[2021-12-15 21:51] #6692 closed

[2021-12-15 21:54] jboniface commented on #6754
closing as dupe

[2021-12-15 21:54] #6754 closed

[2021-12-15 21:57] PrashantMangukiya commented on #6721
@marcaaron  Upon clicking email it is opening external url, so here behaviour is different. But user can not understand this behaviour unless click the email address. So I will suggest there should be external icon after email address. So user can understand that it will open url upon email click. I think we should put external icon after email address.

[2021-12-15 21:58] jliexpensify commented on #6772
Posted!

Internal - https://www.upwork.com/ab/applicants/1471238085228138496/job-details
External - https://www.upwork.com/jobs/~0156ef71c0909350fb

[2021-12-15 22:01] marcaaron commented on #6721
Please let's discuss further in the [original Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1639215326069400), thanks!

I closed this because the issue should not have been created.

[2021-12-15 22:04] marcaaron commented on #2160
FWIW hasn't crashed for me in a long time.

[2021-12-15 22:14] parasharrajat commented on #2160
Yup, We should close it.

[2021-12-15 22:35] PrashantMangukiya commented on #6715
This list should not be compare with chat message (Because chat message shows latest message at the bottom with inverted list. so it always shows latest message at bottom of the chat that, that is expected behaviour).

But here listing is going top to bottom (old record shows at top and new records show at top) So whenever list become long it happen that new record goes down too far at bottom. So

[2021-12-15 23:09] jliexpensify commented on #6460
Paid + bonus, closed!

[2021-12-15 23:09] #6460 closed

[2021-12-15 23:13] roryabraham opened #6789 "Deploys sometimes fail silently when automerge-action times out"
Related issue: https://github.com/pascalgn/automerge-action/issues/122

### Problem
In workflow runs such as [this one](https://github.com/Expensify/App/runs/4488449197?check_suite_focus=true), a production deploy silently failed to run because the https://github.com/pascalgn/automerge-action silently failed.

### Why this is important
We need to be notified when this action fails so we can be mad

[2021-12-15 23:19] adelekennedy commented on #6253
@mananjadhav yes!coming your way, @Santhosh-Sellavel i've also hired you for the reporting bonus

[2021-12-15 23:39] kadiealexander commented on #6358
Paid! Thanks so much for your help on this @kidroca!

[2021-12-15 23:39] #6358 closed

[2021-12-15 23:40] mallenexpensify commented on #3797
@MonilBhavsar it looks like you originally reported this issue almost 6 months ago.  I created an Upwork job to compensate you $250 for reporting, can you apply and confirm in a comment here once you have? https://www.upwork.com/jobs/~0184f936665188f30d

[2021-12-15 23:53] thienlnam commented on #6722
In review now

[2021-12-16 00:54] kavimuru opened #6790 "Production - iOS - Chat - Black screen displayed after log in with expensifail account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Install app from Apple Store and launch the app
2. Enter log in  credentials

## Expected Result:
LHN page is displayed after login

## Actual Re

[2021-12-16 01:08] kavimuru opened #6792 "Android/iOS - New room - Messages appear at the top of the page in chat room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Tap on Fab menu and Tap on New Room
4. Create a Room
5. Send some messages

## Expected Resu

[2021-12-16 01:09] OSBotify commented on #6792
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-16 01:15] wenge8n commented on #6714
Hi @parasharrajat If this issue is a regression, in this case, I will not be paid for my proposal ?

[2021-12-16 01:23] Jag96 commented on #5699
As an update, there's a discussion happening in https://github.com/Expensify/App/issues/6627#issuecomment-992846498, the fix for that should fix this as well

[2021-12-16 01:45] K4tsuki commented on #6759
[code]

Disbaling context menu, context menu, hoverable by:
adding reference value `const isDeletedReportAction = this.props.action.message[0] && this.props.action.message[0].html === '';`
in render:
https://github.com/Expensify/App/blob/6433741e0080f9767602829871c1ea34d4ec6de3/src/pages/home/report/ReportActionItem.js#L118
And adjusting some code: `onPressIn={() => !isDeletedReportAction && this.

[2021-12-16 01:45] mallenexpensify commented on #6299
@adelekennedy did you pay this today? I'm seeing a milestone payment but it looks like the contract is still open in Upwork.

[2021-12-16 01:46] luacmartins opened #6793 "Enter manual address broken on Additional Information page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log into the app
2. Start the VBA flow and get to the Additional Information page
3. Select `Somebody else owns more than 25% of ...`
4. Under th

[2021-12-16 01:47] mallenexpensify commented on #6699
@parasharrajat added this to the OP, that work?
![image](https://user-images.githubusercontent.com/22508304/146292965-330e1d34-2633-4f07-b5ff-f60df984aac4.png)

[2021-12-16 01:49] mallenexpensify commented on #5926
Looks like it, reopen if needed

[2021-12-16 01:49] #5926 closed

[2021-12-16 01:49] luacmartins opened #6794 "Add Debit Card Page does not allow to manually enter an address"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log into the app
2. Navigate to `Profile > Payments > Add payment method > Debit card`
3. Notice that the address field does not allow you to man

[2021-12-16 01:58] alex-mechler commented on #3381
Reverting the App pr because it created this deploy blocker https://github.com/Expensify/App/issues/6792

[2021-12-16 02:01] alex-mechler commented on #6792
Caused by https://github.com/Expensify/App/pull/6738

[2021-12-16 02:05] mallenexpensify commented on #3855
@parasharrajat This issue is a bit confusing, I paid $500 for the initial fix, is more compensation due? If so, can you provide details?

[2021-12-16 02:09] mallenexpensify commented on #6693
Exported https://www.upwork.com/jobs/~01dc33c944fd3c826b
@stitesExpensify can you review @PrashantMangukiya 's proposal above? https://github.com/Expensify/App/issues/6693#issuecomment-990997403

[2021-12-16 02:12] mallenexpensify commented on #6552
Are we good to move this along? If so, what are next steps? (update OP to include screenshot then apply the External label?) cc @roryabraham

[2021-12-16 02:14] mallenexpensify commented on #6472
@parasharrajat hired, let me know when you've accepted and I'll pay

[2021-12-16 02:17] mallenexpensify commented on #6751
@mananjadhav I've asked @mvtglobally to create a new GH for including the file name, reckon it'll be live tomorrow.  https://expensify.slack.com/archives/C01GTK53T8Q/p1639606010290300?thread_ts=1639445506.216300&cid=C01GTK53T8Q

[2021-12-16 02:19] mallenexpensify commented on #2160
Closing!

[2021-12-16 02:19] #2160 closed

[2021-12-16 02:40] akshayasalvi commented on #6285
@Christinadobrzyn  Testing and pushing today.

[2021-12-16 03:21] mananjadhav commented on #6253
Thanks @adelekennedy

[2021-12-16 04:02] Christinadobrzyn commented on #6749
I'm not sure what the issue is with the current workflow - testing this out, it looks like the checkmark is related to the selected currency and also to the default currency. But it's an option to continue with a non-default currency by selecting it and clicking **Next**.

For example:
![2021-12-16_11-58-12 (1)](https://user-images.githubusercontent.com/51066321/146305947-540afc6b-c63f-4616-8cc4-e

[2021-12-16 04:18] Christinadobrzyn commented on #6315
PR timeframe complete!

Paid @PrashantMangukiya in Upwork and closed the job. Thank you @PrashantMangukiya!

[2021-12-16 04:18] #6315 closed

[2021-12-16 04:51] Christinadobrzyn commented on #6157
7 day production timeframe is complete!

Paid @akshayasalvi in Upwork.

@Santhosh-Sellavel -  I rehired you for this job in Upwork so I can pay you for reporting this. Can you please let me know when you've accepted my request in Upwork and I'll pay you the $250 for reporting this? Thanks!

[2021-12-16 05:05] Christinadobrzyn commented on #5894
7 day production timeframe is complete. I'm working on payment for this - just checking with the team about the Upwork payment structure. I'll follow up as soon as possible!

[2021-12-16 05:06] songlang1994 commented on #6676
This way may not be what the users expected and may cause misunderstandings.

In the offline scenario, after a user clicks the "Invite" Button, the selected items are removed from the list immediately. The user would expect the operation to be completed at this time, but in fact, it has not. After a few seconds, the app display an error message saying that: sry, the operation was not completed. Th

[2021-12-16 05:37] K4tsuki commented on #6474
#### proposal

The cause is `findLastAccessedReport` currently returning local reports data by `lastVisitedTimestamp` value. But the `lastVisitedTimestamp` isn't updated when we navigate between rooms. My proposal is to use Onyx value `CURRENTLY_VIEWED_REPORTID`. This value is updated when user navigate between room.

[code]

This `findLastAccessedReport` function is used by `MainDrawerNavigator`

[2021-12-16 05:58] MonilBhavsar commented on #6749
That checkmark should be associated with the selected currency and if we select any other currency and request money multiple times, we should have that currency selected and not the default one

[2021-12-16 06:56] Christinadobrzyn commented on #6749
Thanks @MonilBhavsar! That helps!

[2021-12-16 06:58] parasharrajat commented on #5894
There is an open regression @Christinadobrzyn. so we should wait for that.

[2021-12-16 07:04] parasharrajat commented on #3855
Yeah, Looks like this went through both holds (n6 and company offsite).

[2021-12-16 07:33] Christinadobrzyn commented on #6749
Posted Job in Upwork:

Internal posting: https://www.upwork.com/ab/applicants/1471382683465187328/job-details
External posting: https://www.upwork.com/jobs/~011ba3a62876874281

[2021-12-16 08:01] fhivemind commented on #6749
Just came here to say that requiring an issue to be solved before actually hiring a person is, at least in my opinion, free real estate.

[2021-12-16 08:07] parasharrajat commented on #6714
Hi @wenge8n, Usually regression is solved by the PR author who caused it and he won't be paid for that. And if the issue is solved by an internal team member using your proposal then you are paid for that. But here it is not the case.

Let me know if you have any more concerns. But I would suggest you to look into other open jobs, There are quite a few.

[2021-12-16 08:40] robertjchen commented on #6685
Thanks for the report, this looks like a great opportunity for a contributor. Appreciate the help!

[2021-12-16 08:44] robertjchen commented on #6734
Thanks for the report and proposal, let me find an experienced Contributor Plus team member to help review this- thanks for your patience!

[2021-12-16 08:47] Christinadobrzyn commented on #5755
Closed this job https://www.upwork.com/ab/applicants/1449105733264527360/job-details (internal) & https://www.upwork.com/jobs/~011a863672a9e9645d (external) and paid @Santhosh-Sellavel!

[2021-12-16 08:50] Christinadobrzyn commented on #6157
Since we paid @Santhosh-Sellavel for reporting this bug instead of job https://github.com/Expensify/App/issues/5755

I paid @Santhosh-Sellavel for https://github.com/Expensify/App/issues/5755 and closed it out.

I think we're all good with paying Santosh - let me know if otherwise!

[2021-12-16 08:50] #6157 closed

[2021-12-16 08:57] parasharrajat commented on #6685
We probably hold this as this comes under offline issues.
cc: @pecanoro

[2021-12-16 08:58] eVoloshchak commented on #6699
@parasharrajat, is there a video or steps to reproduce the issue with memory leak? You said there's more info on the Slack thread, so I applied for the Slack invite, but there's no response yet.

[2021-12-16 09:01] parasharrajat commented on #6699
Run the search a few times.
    Console log the Options that being listed in the Searchpage.
    See that Alternative text is massively huge and replicating.

[2021-12-16 09:15] K4tsuki commented on #6699
#### proposal

I notice that `lastMessage` is saved in Onyx local storage.
My proposal is to just `substring` on last message before it is merged on local storage.
The length of the last message could be configured by adding `CONST` value on maximum last message length.

I have found some lines of code that the concept will apply:

https://github.com/Expensify/App/blob/7e0717ffbcad0bbae7adeeb332c6

[2021-12-16 09:38] srdjanrist commented on #6669
@kbecciv Can you confirm the reproduction steps? I am wondering if this is happening only when the app goes to the background, and then you bring it back up after 5 minutes? Or the app has to be actually fully closed?
Also, which Android version are you using that causes this issue to happen?

[2021-12-16 10:03] kidroca commented on #6690
- The complexity won't go away - background syncing (pulling) is already being added here #4264
- The implementation can be as simple as running the current logic we run during startup, but in a bg task
- When the requests are made in the background, startup logic would have one less thing to do
- Being able to upload large attachments would ultimately need an "upload handler" logic

[2021-12-16 12:31] sketchydroide commented on #6663
chat is still ongoing, making this a weekly, it's not a terribly important thing, if anyone disagrees we can bump it again to daily

[2021-12-16 12:52] parasharrajat commented on #6693
@PrashantMangukiya  I like solution 1 but this is not how we handle this. Instead of relying on Func prop, you should pass the style from the parent. Could you please revise your proposal according to this?

Also, add the prop definition for `props.onPreviewPressed`.

[2021-12-16 12:57] parasharrajat commented on #6734
I don't feel the necessity of this change. First, let's discuss on Slack, and then I will review proposals.

[2021-12-16 13:00] PrashantMangukiya commented on #6693
@parasharrajat thank you. Let me revise Proposal 1 as per your suggestion. I will message once updated proposal ready.

[2021-12-16 13:20] sharifhh commented on #6749
The fix is in src/pages/iou/IOUCurrencySelection.js

Line number 78.

it was:
`toggledCurrencyCode: this.props.myPersonalDetails.localCurrencyCode,`

it should be:
`toggledCurrencyCode: this.props.iou.selectedCurrencyCode,`

[2021-12-16 14:11] sharifhh commented on #6772
I can't reproduce on my end using MacBook Pro 2020 M1 with google chrome and safari.

But as I can see from the video you shared, it looks like you have a custom font, and rendering the emojis is breaking with fontWeight: '700' which is the style for unread messages.

Please provide your environment so I can try to reproduce, and make sure you are not using custom fonts.

[2021-12-16 14:32] azimgd commented on #6792
Fix: https://github.com/Expensify/App/pull/6798

[2021-12-16 14:35] roryabraham commented on #6552
Yep, thanks @megankelso!

[2021-12-16 14:36] roryabraham commented on #6552
@laurenreidexpensify I've got context here so I'm assigning myself as the CME 🙂

[2021-12-16 14:36] NicMendonca commented on #6386
@parasharrajat paid, thank you! 🎉

[2021-12-16 14:36] #6386 closed

[2021-12-16 14:37] sharifhh commented on #6622
Well this KeyboardAvoidingView doesn't work in web.

You have two options here I guess.
Option One:
Remove the flex from line 84 in AddPayPalMePage.js

And the screen will be like this:
![Simulator Screen Shot - iPhone 13 Pro Max - 2021-12-16 at 18 34 21](https://user-images.githubusercontent.com/29997844/146391322-6ed6f9fc-c47a-451a-b705-e037330b840b.png)

Option Two:
Integrate a library or creat

[2021-12-16 14:42] PrashantMangukiya commented on #5162
@NicMendonca Thank you. Offer accepted.

[2021-12-16 14:43] NicMendonca commented on #5162
@PrashantMangukiya thank you! Paid! 🎉

[2021-12-16 14:43] #5162 closed

[2021-12-16 14:47] kavimuru opened #6799 "Android - There is no unread message indicator appears for the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing the PR #6746**
## Action Performed:
1. Launch the app
2. Log in with any account
3. From account A, send account B two messages. Make sur

[2021-12-16 14:47] OSBotify commented on #6799
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-16 14:52] PrashantMangukiya commented on #6693
### Revised Proposal:

@parasharrajat  here is revised proposal as per your suggestion.

Add/update code within src/components/ReportActionItem/IOUPreview.js as under.
[code]

Add cursorDefault style within src/styles/styles.js as under:
[code]

Pass containerStyles to IOUPreview from src/pages/iou/IOUDetailsModal.js
[code]

[2021-12-16 14:54] eVoloshchak commented on #6488
Got it.
I cannot trigger notifications on Android (native app), are they working for you? I'm guessing since iOS version has push notifications, Android should too, and they should have sound?

Sent it, still waiting for the invite

[2021-12-16 14:56] parasharrajat commented on #6693
@PrashantMangukiya New Proposal looks good. There are a few changes but will take care of them in review.

cc: @stitesExpensify .
:ribbon: :eyes: :ribbon:

[2021-12-16 15:00] PrashantMangukiya commented on #6693
Thanks. please let me know that changes if you have time. I will update above proposal accordingly.

[2021-12-16 15:33] parasharrajat commented on #6749
Based on the slack discussion we can close this issue, https://expensify.slack.com/archives/C01GTK53T8Q/p1639667331315100?thread_ts=1639414756.172000&cid=C01GTK53T8Q

[2021-12-16 15:38] parasharrajat commented on #6772
@srdjanrist Were you able to reproduce this issue? would you mind sharing the reproduction steps so that I can validate your proposal?

And this is a cross-platform app, the solution needs to be in RN and work for Android, IOS, Desktop, Web, MWeb.

[2021-12-16 15:46] srdjanrist commented on #6772
Yes. I have reproduced this issue on Windows 7, using Google Chrome.
Steps:
1. Open Expensify app
2. Select chat with a person that has emojis in their name
3. Issue observed in every chat message (screenshot attached)

One more notice, when a user receives a message from a person that has emoji in their name, emojis are rendered colorless in the list of chats as well. (screenshot attached)

**Scr

[2021-12-16 15:58] jasperhuangg opened #6800 "[HOLD] Pressing the Up-Arrow right after sending a message will edit the previous message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat in NewDot.
2. Send a message and immediately (within a half second) press the [Up Arrow] key.
3. Notice how the edit message

[2021-12-16 15:59] jasperhuangg commented on #6800
@tjferriss Makin this a weekly since it's an edge case that probably won't affect many users.

[2021-12-16 16:11] Julesssss commented on #6792
The PR above fixed this!

[2021-12-16 16:15] Julesssss commented on #6778
The 'New room - Messages appear at the top of the page in chat room ' blocker should have been fixed with this PR: https://github.com/Expensify/App/pull/6798

[2021-12-16 16:22] parasharrajat commented on #6772
Thanks for sharing. let me check.

[2021-12-16 16:36] srdjanrist commented on #6772
I have tried this on mobile as well now. Unfortunately, the library for parsing HTML to react native components doesn't work on mobile. I will think of another way.

[2021-12-16 16:38] Julesssss commented on #6799
I believe this isn't possible on Android, so we've never had this feature.

[Here's the empty component](https://github.com/Expensify/App/blob/main/src/libs/UnreadIndicatorUpdater/updateUnread/index.android.js).

[2021-12-16 16:38] #6799 closed

[2021-12-16 16:39] parasharrajat commented on #6772
Well, it seems like @srdjanrist is correct. It does seem like [Chrome Emoji font-weight issue](https://support.google.com/chrome/thread/136127348/chrome-bold-weight-emoji-broken-version-93-0-4664-45?hl=en).

But before we review your proposal, you have to propose your solution in RN, and that suits our codebase. You can read about the Style Guides from files present at the root of this repo. Let m

[2021-12-16 16:40] Julesssss commented on #6778
I closed the [second blocker](https://github.com/Expensify/App/issues/6799) and checked it off, as the unread indicator feature isn't implemented on Android.

[2021-12-16 16:51] parasharrajat commented on #6720
Reviewing proposals...

[2021-12-16 16:51] michaelhaxhiu commented on #6748
Upwork job post - https://www.upwork.com/jobs/~016c765e8ac277bc66

@thesahindia can you apply for the job so we can hire you for the reporting bonus.

First solution proposal for review will be @mananjadhav

[2021-12-16 16:54] #6756 closed

[2021-12-16 16:55] mallenexpensify commented on #3855
Thanks @parasharrajat It's def clear in this issue that n6-hold is applicable
![image](https://user-images.githubusercontent.com/22508304/146414368-36d527e3-23e5-44c6-9ff5-e22a1e848596.png)

For `Company offsite hold` (where I didn't properly assign the label to issues that were currently in-progress, it appears that the timeline for that is also applicable, as your PR wasn't reviewed until we lif

[2021-12-16 16:55] #3855 closed

[2021-12-16 17:01] michaelhaxhiu commented on #3189
@anthony-hull was offline last week for vacation, and returned this week. Blocking issue was fixed and so Anthony should be unblocked to resume progress on his PR https://github.com/Expensify/App/pull/6587

[2021-12-16 17:06] parasharrajat commented on #6699
@K4tsuki Do you have a plan to remove the memory leak. I noticed that the Last message is being appended again and again its a sign of a memory leak and thus we should fix that as well.  Let me know if you are able to reproduce this via steps.

[2021-12-16 17:06] parasharrajat commented on #6748
All good here.
:ribbon: :eyes: :ribbon:

[2021-12-16 17:15] roryabraham commented on #6749
Sorry, I misunderstood this bug report, as discussed in [slack](expensify.slack.com/archives/C01GTK53T8Q/p1639667331315100?thread_ts=1639414756.172000&cid=C01GTK53T8Q). Reopening...

[2021-12-16 17:15] parasharrajat commented on #6749
@sharifhh
Your proposal looks good to me. cc: @mountiny .

:ribbon: :eyes: :ribbon:

[2021-12-16 17:28] parasharrajat commented on #6720
Both of the proposals work but they are not full-proof solutions. I would be glad if someone can really pick the right cause and propose a fix for that.

This is not a reason. It more sounds like the issue statement.

To add more to the context.
1. A solution must be fixing the `CustomActions.pushDrawerState`.
2. This happens when two or more of the modal Screens are active on the `RootStack.Navig

[2021-12-16 17:32] jasperhuangg commented on #6767
Ohh wait I'm dumb, this isn't even an issue and is expected behavior.

_Use `[Shift]+[Return]` instead of just `[Return]` to add a newline._

Closing this out.

[2021-12-16 17:41] parasharrajat commented on #6474
Seems like @K4tsuki 's hunch is correct here.

 But if do this, it will cause a bug which is resolved by this PR https://github.com/Expensify/App/pull/5338. Do you think we can fix this without causing that bug?

[2021-12-16 17:41] mallenexpensify commented on #6693
d'oh.. sorry about that @parasharrajat , I should have pinged you as being assigned as contributor-plus and not Stites.
Thanks for jumping in!

[2021-12-16 17:46] johnmlee101 commented on #3981
Okay so I have a few thoughts right now. Some of which deal with how we might want to deal with requests when they are "offline" and it starts tying into the larger discussion on how we should deal with our offline logic. Basically we should be able to support newer requests overriding older ones in the queue, if I'm understanding correctly? And we need the information from the response to make a

[2021-12-16 17:48] tgolen commented on #6779
Hi! I was looking into this proposal a little bit, and ended up going down a not-so-great rabbit hole.

- My first thought was we should see if `DateUtils.getLocalMomentFromTimestamp()` can be used instead of directly calling `moment.locale()`
- There is only one other place in our code that uses `moment.locale()` [in `ParticipantLocalTime`](https://github.com/Expensify/App/blob/ecce01202e51c4a39b

[2021-12-16 17:54] mallenexpensify commented on #4612
@parasharrajat can you do more testing based on my comment above and see what you find? I'm still on Version 1.1.18-3

[2021-12-16 18:00] MitchExpensify commented on #6768
Thanks, @thesahindia! The sounds like two problems to me:

1. Pinned chats staying in a constant position (alphabetical) regardless of message recency
2. The only way to customize what chats exist in your LHN is to use #focus mode and to pin any chats you want in LHN

I'm not sure that 1 is a causing a real problem.

As for 2, there is at least one way to customize your LHN. I'm not convinced that

[2021-12-16 18:02] mallenexpensify commented on #6800
Based on [this (internal) comment](https://github.com/Expensify/Expensify/issues/169078#issuecomment-995946617), @jasperhuangg mentioned this can be external so I'm adding the label, assigning myself too because this might be my #1 pet peeve issue, it happens to me EVERY day.

Job is posted on Upwork https://www.upwork.com/jobs/~011aacaaa4df6cfa41

[2021-12-16 18:03] parasharrajat commented on #4612
Ok, I think I found a strange issue similar to what you are facing. this is reproducible from LHN as well. It seems more severe from what you are facing. But unfortunately, I haven't got a solution for that and nor time to analyze this ATM.

I request to open this to the pool.

[2021-12-16 18:05] anthony-hull commented on #3189
I'm working on this issue next :) Just have a small one to close out first.

[2021-12-16 18:15] mallenexpensify commented on #4612
Want me to leave you assigned as Contributor-Plus @parasharrajat ?

[2021-12-16 18:16] parasharrajat commented on #4612
Yup, that's fine. I have some context to this problem.

[2021-12-16 18:18] michaelhaxhiu commented on #6800
This is my #1 pet peeve and I literally had a To-do to make a GH for it today. Thanks Jasper 🙏

[2021-12-16 18:20] marcaaron commented on #6474
Seems like we just need to update the last visited timestamp. The early return here is likely preventing it from happening.

https://github.com/Expensify/App/blob/bfaabd99e70a74f203f616fd18012459b5af2431/src/libs/actions/Report.js#L1270-L1275

Doesn't seem like there will be any negative effects if we simply move it above the return? (someone will need to verify that is correct)

[2021-12-16 18:23] parasharrajat commented on #6474
Yeah, I think you are right, there are no side effects except additional server calls.

[2021-12-16 18:37] jasperhuangg commented on #6757
I can look into the issue with the dropdown. I actually spent a while debugging this locally while implementing the PR, so I'm surprised that this is still cropping up in staging.

[2021-12-16 18:39] parasharrajat commented on #6622
Remove the flex from line 84 in AddPayPalMePage.js

Can't do that.

Does not work for MWeb.

[2021-12-16 18:41] jasperhuangg commented on #6757
Okay.... I don't know what happened here but [the value for the dropdown is hardcoded to restricted](https://github.com/Expensify/App/blob/c81e30105ae21ac40009a90430e5a0358c466b9b/src/pages/workspace/WorkspaceNewRoomPage.js#L164). PR incoming... Github needs that :wat emoji we have on Slack.

[2021-12-16 18:47] jasperhuangg commented on #6757
Yo Melvin I just commented and attached a PR, this shouldn't be overdue anymore?

[2021-12-16 19:02] srdjanrist commented on #6772
@parasharrajat Thank you for the documentation.

### Proposal
Since the previous proposal didn't work on mobile devices, due to rendering HTML, I have thought of another way.
We need to render these strings for the users name in `<Text>` React Native components.
Parts of string that are not emoji should be rendered as plain text, whilst parts that are emojis need to be wrapped in another `<Text>`

[2021-12-16 19:04] marcaaron commented on #6474
Looks like there are no server calls in the `setLocalLastRead()` method.

https://github.com/Expensify/App/blob/bfaabd99e70a74f203f616fd18012459b5af2431/src/libs/actions/Report.js#L429-L442

Which ones?

[2021-12-16 19:06] michaelhaxhiu commented on #6748
@thesahindia is hired for reporting bonus ✅, but still waiting for @mananjadhav to to apply for the job in Upwork.

[2021-12-16 19:07] michaelhaxhiu commented on #6748
I'm re-applying the `External` label on this GH to trigger auto-assignment to a fellow CM, as I'm going OOO for the next 2 weeks. 🙏

[2021-12-16 19:08] michaelhaxhiu commented on #6669
I'm re-applying the `External` label on this GH to trigger auto-assignment to a fellow CM, as I'm going OOO for the next 2 weeks. 🙏

[2021-12-16 19:11] michaelhaxhiu commented on #6563
I'm re-applying the `External` label on this GH to trigger auto-assignment to a fellow CM, as I'm going OOO for the next 2 weeks. 🙏

[2021-12-16 19:12] bfitzexpensify commented on #6547
In review

[2021-12-16 19:14] bfitzexpensify commented on #6470
@AndrewGable @parasharrajat no response from @akshayasalvi and it's been over a week, think this should now be doubled to $500?

[2021-12-16 19:16] parasharrajat commented on #6474
Oops, got confused with some other function.

 I think it will fix the issue where the most recent chat is not shown on the top of the list on the search page.

[2021-12-16 19:17] michaelhaxhiu commented on #6032
Note, I'm going OOO (starting tomorrow/Monday) for 2 weeks. I will share the design doc im the #online-status channel at it's current state when I'm formally offline.

[2021-12-16 19:20] developvsn commented on #6489
no regressions, right?

[2021-12-16 19:21] adelekennedy commented on #6253
And done!

[2021-12-16 19:21] #6253 closed

[2021-12-16 19:21] parasharrajat commented on #6772
I got your idea but this code will need a lot of improvements such as creating a component, swapping all parts of code that is facing this issue.
It's not a good idea to add this code to `ExpensifyText`.

**But in short, your solution will work but needs improvements.**
1. Could you please identify and list down the places where you would be adding this code?

Secondly, I leave the decision to @th

[2021-12-16 19:21] michaelhaxhiu commented on #3245
@puneetlath I'm preparing to be OOO for the next 2 weeks, and wanted to double check if it's ok to leave this assigned to you?

[2021-12-16 19:22] michaelhaxhiu commented on #3189
Awesome thanks for the update!

[2021-12-16 19:22] mvtglobally commented on #6778
Regression is almost complete. We will update rest of the PRs

Comments added
- https://github.com/Expensify/App/pull/6654#issuecomment-996063047
- https://github.com/Expensify/App/pull/6723#issuecomment-996109676

Issues logged:
-  #6792
-  #6799

[2021-12-16 19:22] michaelhaxhiu commented on #3189
I'm re-applying the `External` label on this GH to trigger auto-assignment to a fellow CM, as I'm going OOO for the next 2 weeks.

[2021-12-16 19:25] anthony-hull commented on #3189
Have a great holiday @michaelhaxhiu!

[2021-12-16 19:26] parasharrajat commented on #6470
Yup, let's open this to the pool.

[2021-12-16 19:30] Luke9389 commented on #6759
@aswin-s you've got the 🟢 green light 🟢 to go ahead and make a proposal. Sorry for the wait, I was out of office yesterday.

[2021-12-16 19:30] mvtglobally commented on #6778
checking off #6723 based on this https://github.com/Expensify/App/pull/6723#issuecomment-996110898

[2021-12-16 19:34] parasharrajat commented on #6472
@mallenexpensify Accepted. Thanks

[2021-12-16 19:34] mvtglobally opened #6806 "[HOLD for payment 2022-02-22] $500 - Opening and closing a photo moves the scroll position of my chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to app
2. Open any chat and send multiple messages with images in between messages
3. Scroll up and click on the image
4. Close the attachment

[2021-12-16 19:37] adelekennedy commented on #6759
@aswin-s hired you in Upwork!

[2021-12-16 19:41] sharifhh commented on #6622
How about we use this code to check if this user is currently using an iOS web:

`
        const ua = window.navigator.userAgent;
        const iOS = !!ua.match(/iPad/i) || !!ua.match(/iPhone/i);
        const webkit = !!ua.match(/WebKit/i);
        const iOSSafari = iOS && webkit && !ua.match(/CriOS/i);
`

And in that case, we can add padding to the bottom whenever the input is being focused whic

[2021-12-16 19:49] iwiznia commented on #3798
FWIW I am a 👎 on this feature:

[2021-12-16 19:51] #6793 closed

[2021-12-16 19:52] stitesExpensify commented on #6693
I'm unclear on the process here @mallenexpensify should I unassign then?

[2021-12-16 19:59] mvtglobally opened #6807 "Continuous loading spinner when user goes back from recaptcha page - Reported by: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Select Workspace
3. Select Bank account
4. Connect with Plaid
5. Select chase
6. On re-captcha page go back

## Expected Result:
User

[2021-12-16 20:01] marcochavezf commented on #6806
Making it weekly since seems to be an edge case

[2021-12-16 20:05] sharifhh commented on #6800
We can these snippets to ReportActionCompose.js file:

line 453 (we add a boolean and reset it after 2 seconds)
`
    submitForm(e) {
        this.shouldDelayDueToNewPost = true;
        if (this.timer) {
            clearTimeout(this.timer);
        }
        this.timer = setTimeout(() => {
            this.shouldDelayDueToNewPost = false;
        }, 2000);
`

 line 363 (we check for that boolean

[2021-12-16 20:06] mvtglobally commented on #6778
Checking off #6792 its a pass

[2021-12-16 20:07] mvtglobally commented on #6778
@roryabraham I think we are good to close this checklist

[2021-12-16 20:10] K4tsuki commented on #6474
PR #5338 is resolving that issue.
[code]

default room is filtered by:
[code]
We just need to _.find() `CURRENTLY_VIEWED_REPORTID` after this. What is the problem actually? Do you have tested the code?
<br />
And even if somehow default room accessed and user cannot go to default room, that PR is introducing additional guard :
[code]
If we must go down to the path with `lastVisitedTimestamp` (Coul

[2021-12-16 20:11] kadiealexander commented on #6647
Hired in Upwork!

[2021-12-16 20:12] mvtglobally opened #6808 "$1,000 Site is crashing when creating new room in workspace with 2 participants - Reported By: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Create workspace with 1 additional user
3. Select "+' > "New Room"
4. Create room
5. try to type something in chat

## Expected Resul

[2021-12-16 20:19] kadiealexander commented on #6492
Hi @anthony-hull could you please provide an update on this one for us?

[2021-12-16 20:19] K4tsuki commented on #6699
@parasharrajat  can you point out where the memory leak is? Where is it appended again and again? What do you mean by appended again and again? Could you take a screen shoot?
<br />
After we trimmed `lastMessage` all code that use it will use short version of `lastMessage`.

[2021-12-16 20:19] NicMendonca commented on #6096
[This ](https://github.com/Expensify/App/pull/6289#issuecomment-991333343)was deployed to staging 6 days ago, awaiting regression wait period.

@laurenreidexpensify assigning back to you since I am going ooo!

[2021-12-16 20:38] puneetlath commented on #3245
Yep! I can take it.

[2021-12-16 20:39] marcaaron commented on #6474
We can check the git history and when we added this to see if there is some reason? I'm assuming there is a reason we started to use `lastVisitedTimestamp` so that's what I am proposing we continue to use.

[2021-12-16 20:47] mountiny commented on #6790
Very odd, let's wait for a new production release since it is not reproducible on Staging if the issue will still prevail.

[2021-12-16 21:00] SofiedeVreese commented on #6563
I'll be around for a little bit but then I'll be off for two weeks, so chances are we'll need to reassign this one later.

[2021-12-16 21:12] SofiedeVreese commented on #6563
Removing the Daily and readding the Weekly as this one has already been exported and we're waiting for proposals.

[2021-12-16 21:13] puneetlath commented on #4629
@roryabraham @parasharrajat now that https://github.com/Expensify/react-native-onyx/pull/102 has been merged, can we reopen this issue?

[2021-12-16 21:34] Tushu17 commented on #6693
Hello @mallenexpensify
Do i have to apply to this job to get compensated for reporting the issue? I'm new here, So I don't know how the things work here.

[2021-12-16 21:36] marcaaron commented on #6057
Gonna close this for now. Still investigating the need for a better `Onyx.merge()` in the linked `react-native-onyx` issue. That other discussion didn't get much traction or land on a solution, but I assume will get dug up again eventually.

[2021-12-16 21:36] #6057 closed

[2021-12-16 21:49] roryabraham commented on #4629
@puneetlath I think we need offline images in the app first. https://github.com/Expensify/react-native-onyx/pull/102 laid the groundwork for that, but we will still need to implement non-URL-based images in New Expensify before we can worry about copying those images to the clipboard.

[2021-12-16 21:52] roryabraham commented on #3867
I understand the Onyx POC was just merged and that we want a follow-up to add some more tests. Is there an issue somewhere to bring these changes to life and implement offline-first images in the New Expensify app?

[2021-12-16 21:53] roryabraham commented on #6778
I am going to hold off and let @Julesssss handle it this time

[2021-12-16 21:59] johnmlee101 commented on #3981
cc @roryabraham because of our recent discussion 😄

[2021-12-16 22:02] Tushu17 commented on #6767
Hello @jasperhuangg , It's for **mobile web** on mobile web we can't add a new line because there is no shift key on mobile.

[2021-12-16 22:09] roryabraham commented on #6552
@laurenreidexpensify This has been cleaned up and is ready for export.

[2021-12-16 22:12] thienlnam commented on #3867
Yeah so this
PR: https://github.com/Expensify/App/pull/4908#event-5768021643 (I've been meaning to review) is so that we can handle images with onyx

After that, this issue (https://github.com/Expensify/App/issues/6527) is probably the next step for offline-first images

[2021-12-16 22:12] K4tsuki commented on #6474
All right. I will dig into that.

[2021-12-16 22:29] roryabraham commented on #6800
Sorry, fam, but [I'm closing this out pending further internal discussion](https://github.com/Expensify/Expensify/issues/169078#issuecomment-996242152). I'm fairly confident that this problem can't be solved without back-end changes.

[2021-12-16 22:29] #6800 closed

[2021-12-16 22:30] puneetlath commented on #4629
Ok got it! And do we have an issue for implementing offline images somewhere?

[2021-12-16 22:32] roryabraham commented on #4629
I asked, and it sounds like @thienlnam has a good handle on the next steps for offline images, and gave some additional context [over here](https://github.com/Expensify/App/issues/3867#issuecomment-996233570)

[2021-12-16 22:37] thienlnam commented on #6772
Hmm, this solution will work but it feels like a lot of overhead for every place we render the names.  Is this problem isolated to Windows?  I've not having the same issue on Mac Google Chrome and can see emojis with color fine

[2021-12-16 22:37] Luke9389 commented on #6069
We are going to open an issue in the [reanimated repo](https://github.com/software-mansion/react-native-reanimated/issues) where we believe the issue is occurring. Slack context [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1638563209219500).

[2021-12-16 23:03] #6757 closed

[2021-12-16 23:07] roryabraham commented on #6627
Sorry for the delay @parasharrajat, I can't think of a better solution so I think your last proposal sounds good. cc @Jag96

[2021-12-16 23:11] mananjadhav commented on #6552
Guessing we'll make it external soon.

**Proposal**
1. We'll create a new component with `ErrorView` or `AppErrorView`
2. Add relevant styling and content.
3.  In the given condition of `BaseErrorBoundary` render the component

Quick questions:
1. Will this also be a page with its own route?
2. Clicking on `web` hyperlink will take us to homepage or some specific page?
3. Will we have a Spanish ve

[2021-12-16 23:12] roryabraham commented on #6552
No

Homepage

Yes, good point. I'll ask for translations.

[2021-12-16 23:32] mananjadhav commented on #6748
@michaelhaxhiu @bfitzexpensify Applied and also PR submitted.

[2021-12-16 23:55] MitchExpensify commented on #6768
Closing after chatting with the broader team we're going to close this and revisit down the road

[2021-12-16 23:55] #6768 closed

[2021-12-16 23:59] SofiedeVreese commented on #6714
@parasharrajat considering this is a regression, should we close this GH or do you prefer waiting until the regression is fixed via the PR? Either way I'll remove the Upwork posting!

[2021-12-17 00:02] parasharrajat commented on #6714
Best would be to take down the Upwork job and let it close via PR.

[2021-12-17 00:04] SofiedeVreese commented on #6714
Too easy- I've removed the Upwork listing and the `help wanted` label now 👍

[2021-12-17 00:15] deetergp commented on #4115
That internal GH has has been closed by Melvin. There have been some other discussions in the contributor sphere around ways to speed up image performance that may address the findings from this audit, so maybe by the next time it gets marked overdue we can just close it.

[2021-12-17 00:30] luacmartins commented on #6807
Gonna investigate this tomorrow!

[2021-12-17 00:37] K4tsuki commented on #6474
After some digging it comes down to this commit:
https://github.com/Expensify/App/commit/48f2427380d586f681b03e3162aa9f190044234a
The previous value of `initialReportID` is `ONYXKEYS.CURRENTLY_VIEWED_REPORTID`.
After this commit onyx value is removed.
intial report id value changed from `const initialReportID = props.initialReportID || getLastAccessedReport(props.reports).reportID;` into `const in

[2021-12-17 00:37] mallenexpensify commented on #6472
Paid! Thanks @parasharrajat

[2021-12-17 00:37] #6472 closed

[2021-12-17 00:42] mallenexpensify commented on #6693
@stitesExpensify , stay assigned, @parasharrajat will @ you once he's approved a proposal then you'll review.

@Tushu17 it's not necessary to apply now but you can.  It'll make it a lil easier in the end, assuming this issue gets fixed (internally or externally).  You'll be compensated 7 days after the PR is deployed to production (assuming no regressions) the same time the contributor does who fi

[2021-12-17 00:46] mallenexpensify commented on #6800
@sharifhh apologies. If/when we reopen this issue, your proposal will be reviewed.  It's very rare we open/close issues like this, especially once we've already created the job in Upwork.

I removed the Upwork job for now too

[2021-12-17 00:52] mountiny commented on #6749
Thank you @sharifhh for your proposal. Feel free to create a PR to fix this issue. Thank you @parasharrajat for reviewing the proposal and leading the discussion.

[2021-12-17 01:10] K4tsuki commented on #6069
@Luke9389
But I am trying to fix this issue here, meanwhile they are fixing so many issues.
We don't know if this is really their issue, could you point out the exact issue?
I propose a  fix which is currently available. This could be benefits for other screens too, like IOUmodal, the modal doesn't need spinning loader anymore.
This is the first time I am submitting in Expensify, if you want more

[2021-12-17 01:19] K4tsuki commented on #6759
Why is this? could some one just help me? It is basically my original proposal. Are you guys really reading the proposals?
aswin-s original proposal is to modify the original message data. and he replied the question faster than me because it is night time at that moment. I could give better proposal based on my first proposal. @adelekennedy @Luke9389

[2021-12-17 01:24] K4tsuki commented on #6563
Could some one try my proposal please. I have a hard time reproducing the issue with my proposal @SofiedeVreese @michaelhaxhiu Thank you.

[2021-12-17 02:01] Luke9389 commented on #6069
Hey @K4tsuki, I understand that you've invested some time in this. I'll test your code and see if it resolves the issue. Thanks

[2021-12-17 02:04] K4tsuki commented on #6069
But what will you do?
just `input position: fixed`? it needs another positional styling to properly show the modal.

[2021-12-17 02:18] Luke9389 commented on #6069
Oh, I thought you were recommending that I set cardStyle to `position: fixed`.
Do you have other code changes to test out with me?

[2021-12-17 02:26] Luke9389 commented on #6759
@K4tsuki, are you sure that this is the case? When comparing @aswin-s's most recent proposal and your first proposal, the only overlap is in the first of his three points. Then when @parasharrajat asked a clarifying question of each of you, @aswin-s responded and resolved his concerns first.

In order to maintain fairness, we look for the _first_ proposal that checks all our boxes and makes us fee

[2021-12-17 02:43] K4tsuki commented on #6069
Here is the code for:

<details>
<summary> modalCardStyleInterpolator.js</summary>

[code]
</details>

And Change `didScreenTransitionEnd` to true just to try it.
https://github.com/Expensify/App/blob/2b7d6d0a4171319a9328dca14bcd5023a5352a94/src/pages/SearchPage.js#L170-L171

<br />
I am using old file on `modalCardStyleInterpolator.js`. If you have an issue, just change this cardStyle:

https://g

[2021-12-17 03:10] K4tsuki commented on #6069
Because search result is heavy element, to smooth out the animation we can just have to show the search bar first to catch the input value and show the search result after transition end.

[2021-12-17 03:34] marktoman commented on #6213
@deetergp Thanks a lot, that works. Based on the unit logic, I was able to figure out the unit rate structure as well.

[2021-12-17 04:04] marcaaron commented on #6474
Cool. I took a look and think it might be fine to use `CURRENTLY_VIEWED_REPORTID`, but I still feel a the more correct change is to fix the last visited timestamp as discussed.

This PR here seems to have introduced this a while back and I'm not sure if the consequences were considered

https://github.com/Expensify/App/pull/4078

And linked issue: https://github.com/Expensify/App/issues/4077

IMO,

[2021-12-17 04:23] PrashantMangukiya commented on #6693
@parasharrajat  Should I proceed to prepare and submit PR as per this  https://github.com/Expensify/App/issues/6693#issuecomment-995889708  revised proposal?  OR wait until someone assign me on this issue?

[2021-12-17 04:24] kevinksullivan commented on #6719
hm yeah, My thought was that we don't want to call this out to be more prominent than the surrounding product, since it's really a fallback. Green feels a bit "positive", since it is the color we use for all actions we want the user to take in product. Then red felt a bit intense on the other side of that.

[2021-12-17 04:30] marcaaron commented on #6734
Sorry I'm going to close this as it's more of a feature request than a bug report. We are currently extensively planning how to improve our forms in a global way across the entire app.

[2021-12-17 04:30] #6734 closed

[2021-12-17 04:52] Christinadobrzyn commented on #6749
Thanks @vitHoracek!

Hired @sharifhh for the job in Upwork and also @kursat for reporting the issue in Upwork!

[2021-12-17 06:03] K4tsuki commented on #6474
All right, I will ask @kidroca about his opinion on his commit and whether using onyx `CURRENTLY_VIEWED_REPORTID` as reference value used  by `MainDrawerNavigator` for `initialReportId` is problematic.
@kidroca could you explain your commit on https://github.com/Expensify/App/issues/6474#issuecomment-996309174 please? Thank you.

If it is problematic, I am fine to investigate why local report data

[2021-12-17 06:04] MonilBhavsar commented on #6749
Sorry, but I think there's some confusion here. During investigation, I spotted a bug, so pushed a quick fix with [PR](https://github.com/Expensify/App/pull/6755). So we need to pay Kursat for reporting the issue

cc @Christinadobrzyn @mountiny
Please see this comment https://github.com/Expensify/App/issues/6749#issuecomment-994402859

[2021-12-17 06:11] Christinadobrzyn commented on #6749
Ah okay, to confirm, we don't need any PRs from @sharifhh?

We've closing this job after the fix you implemented?

[2021-12-17 06:23] MonilBhavsar commented on #6749
Yes, we'll be closing the job after fix has been implemented and we pay Kursat for reporting the issue

[2021-12-17 06:53] Christinadobrzyn commented on #6749
Thanks for confirming! I'll close the contract with @sharifhh but thank you for submitting a proposal!

[2021-12-17 07:53] parasharrajat commented on #6563
Actually, @K4tsuki  this is already passed in the next few lines. As you can see that sidebar options are expanded in the getOptions method already.

And chats are already pinned. This is not the main bug. Please read the steps carefully and try to understand the problem.

There is only one case when active chat is not pinned. we are looking get that fixed.

[2021-12-17 07:58] parasharrajat commented on #4629
After we have added functionality to add images offline in NewDot. We will need to make attachment offline.

For that, there is a issue https://github.com/Expensify/App/issues/6527

[2021-12-17 08:12] parasharrajat commented on #6693
@stitesExpensify is supposed to assign this issue to you before you can be considered as hired.

Let's give it a day or two. Thanks for your patience.

[2021-12-17 08:13] PrashantMangukiya commented on #6693
ok got it. thanks for the updates.

[2021-12-17 08:55] mountiny commented on #6749
Ah, thank you for raising this @MonilBhavsar. I could not see the PR linked here which confused me.

Apologies @sharifhh for the confusion.

[2021-12-17 09:20] laurenreidexpensify commented on #6552
https://www.upwork.com/jobs/~014fbbdbf5269525ed

[2021-12-17 09:21] K4tsuki commented on #6563
I have tried it again, but cannot reproduce.

Which line is it that passed `prioritizePinnedReports: true` ? I cannot find it.
<br />

the option is to make pinned chat on top. Not for pinning the chat.

Could you elaborate?

[2021-12-17 09:33] mananjadhav commented on #6744
@marcaaron This seems to be a valid bug. Any specific reason we don’t want to address this?

[2021-12-17 09:42] parasharrajat commented on #6563
Oh. you are right. I didn't see that we are discussing GSD mode here. Sorry about that. I have doubts about this bug as GSD mode is configured that way. So it's not a bug rather than a feature request. I will discuss this on Slack to clarify first and then look into your proposal again. Thanks for your patience.

[2021-12-17 09:48] parasharrajat commented on #6552
As most of the changes require designing and styling, I don't expect their part of the proposal.

@mananjadhav If you don't have any more questions, then I think I am good with your proposal.

cc: @roryabraham

:ribbon: :eyes: :ribbon:

[2021-12-17 10:53] kidroca commented on #4115
I see we now have `react-native-fast-image` installed which might help with caching. We're also planning on caching images in Onyx. Caching might solve the problem, but only for consecutive loads

When you switch to different device you'll probably experience the problem again, or when you're cache expires

Adding the width and height to the `img` tag (as suggested) should address the layout shift

[2021-12-17 11:42] kidroca commented on #6474
Explaining: 558babb7b19dbfa46a0bd71991ea1bb762d36ff4

[code]
We used to fallback to the first report that was in the list
Instead it would be better to resume from the last Report you were ever on (no matter which device)

Consecutively it made the `initialReportId` unneeded 48f2427380d586f681b03e3162aa9f190044234a

[code]

If we want to start from the last viewed report and `getLastAccessedReport

[2021-12-17 11:45] Julesssss commented on #6778
Thanks @mvtglobally & @roryabraham!

[2021-12-17 11:45] Julesssss commented on #6778
:shipit:

[2021-12-17 11:55] K4tsuki commented on #6474
All right thank you for the detailed explanation.
I am pursuing into `lastVisitedTimestamp`.

[2021-12-17 11:58] K4tsuki commented on #6563
There is a bug. Look at @isagoico post.

[2021-12-17 13:18] OSBotify commented on #6778
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2021-12-17 13:19] Julesssss commented on #6778
Let me try again, I think I had not yet removed the deployBlocker label from all issues.

[2021-12-17 13:19] Julesssss commented on #6778
:shipit:

[2021-12-17 13:19] OSBotify commented on #6778
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2021-12-17 13:20] Julesssss commented on #6778
Okay, so it looks like [this PR](https://github.com/Expensify/App/pull/6752) was added since logging off last night.

[2021-12-17 13:24] Julesssss commented on #6778
I see, we have a new `InternalQA` label for NewDot. @nickmurray47 is assigned to review this PR, but if I get through all my other tasks for the day I will take over.

[2021-12-17 13:48] akshayasalvi commented on #6660
@roryabraham Do we have any example where we can call actions from the desktop/main.js?

I tried and it gives an import error.

[2021-12-17 13:55] MonilBhavsar commented on #6749
Reopening for payment

[2021-12-17 15:08] parasharrajat commented on #6563
Here is the discussion link https://expensify.slack.com/archives/C01GTK53T8Q/p1639753660372100.

[2021-12-17 15:18] parasharrajat commented on #6660
I think I can help you here @akshayasalvi . If I am getting is correctly, you want to trigger the modal action from Desktop app shortcuts.
1. Use this to send an event to the renderer process.
https://github.com/Expensify/App/blob/087ad951423843a9758e0849469bf3950724dcf0/desktop/main.js#L99

2. use this to listen for event from main process
https://github.com/Expensify/App/blob/087ad951423843a9758

[2021-12-17 15:47] roryabraham commented on #6778
@Julesssss you also need to check off all the accessibility checkboxes.

[2021-12-17 15:52] Julesssss commented on #6748
Merged, awaiting payment.

[2021-12-17 16:04] roryabraham commented on #6552
Yep, normally I might ask for more details but this is pretty straightforward UI work, and I trust @mananjadhav to get the job done.

[2021-12-17 16:12] tgolen commented on #6761
I tried to reproduce this both locally and in production and was not able to reproduce the issue.

In all cases, the report does not show up in NewDot (with or without an unread comment).

[2021-12-17 16:14] K4tsuki commented on #6474
@kidroca if I am not misunderstand, `getLastAccessedReport` will wait for fetch API reports information if there is no onyx local data right (on logout then login) ? but if there is onyx data on reports, `getLastAccessedReport` will use it. Right?

https://github.com/Expensify/App/blob/087ad951423843a9758e0849469bf3950724dcf0/src/libs/Navigation/AppNavigator/MainDrawerNavigator.js#L77-L80

If a us

[2021-12-17 16:26] mananjadhav commented on #6552
Thanks, @roryabraham. Applied on Upwork and I'll submit the PR by Monday.

[2021-12-17 16:32] mallenexpensify commented on #4910
Apologies for the delay @eVoloshchak , I just paid you $4000 in Upwork!  Thanks for the help!

[2021-12-17 16:32] #4910 closed

[2021-12-17 16:42] laurenreidexpensify commented on #6552
Sweet, I just hired you 👍🏽

[2021-12-17 16:43] Julesssss commented on #6778
:shipit:

[2021-12-17 16:43] #6778 closed

[2021-12-17 16:47] OSBotify opened #6815 "Deploy Checklist: New Expensify 2021-12-17"
**Release Version:** `1.1.22-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6611
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6755
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6762
  - [x] QA

[2021-12-17 16:47] parasharrajat commented on #6359
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

@jboniface

[2021-12-17 16:48] Julesssss commented on #6778
I was so excited to release that I forgot it was Friday afternoon 😬

I'll follow the release, hopefully App Review will add some delay.

[2021-12-17 16:48] parasharrajat commented on #4756
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

@trjExpensify

[2021-12-17 17:00] parasharrajat commented on #6530
@adelekennedy Bump.

[2021-12-17 17:19] adelekennedy commented on #6530
@parasharrajat hired!

[2021-12-17 17:21] marcaaron commented on #6744
Sorry the issue was mistakenly created. Our process has changed and any posts tagged `Feature Request:` must be explicitly approved by our staff. If you think this is a bug then use `BUG:` and not `Feature Request:` when reporting.

[2021-12-17 17:41] AndrewGable commented on #6761
Hmm I can reproduce pretty easily on this report, does it ping you @tgolen?

<img width="1374" alt="Screen Shot 2021-12-17 at 10 38 54 AM" src="https://user-images.githubusercontent.com/2838819/146585780-63a478ad-6821-446a-bd35-9106b47404e8.png">

<img width="1490" alt="Screen Shot 2021-12-17 at 10 40 34 AM" src="https://user-images.githubusercontent.com/2838819/146585774-bda6f0ef-cac1-449a-b101-1

[2021-12-17 17:44] #6530 closed

[2021-12-17 17:49] kidroca commented on #6474
Yes, when there are no reports you won't be able to render a Report Screen anyway

They might affect each other if you quit and restart the app, but probably the network call fetching reports won't be complete by the time the sidebar renders, so local data will be used

They'd return the same value, that's why the prop was removed

Not really, they'd have to have more than 10k reports (probably a

[2021-12-17 18:06] kidroca commented on #5987
Bump @roryabraham, @johnmlee101

How should we continue here ?
Overall I agree with @roryabraham's alternative, but it would be like starting this from scratch (If I'm the one working on it at all?)
While what we already have in my PR is decluttering some existing stuff, adds tests and solves the problem as well
I think my changes won't get in the way in a potential refactor that follows Rory's id

[2021-12-17 18:29] mvtglobally commented on #6815
starting QA

[2021-12-17 18:52] johnmlee101 commented on #6717
I'm going to mark as External since it wasn't done so already!

[2021-12-17 18:53] johnmlee101 commented on #6717
I think the proposed solution works. @adelekennedy if you want to assign once the job is available!

[2021-12-17 19:23] dylanexpensify commented on #6060
on hold

[2021-12-17 19:23] jboniface commented on #6634
on staging

[2021-12-17 19:24] mvtglobally opened #6818 "User is able to create 2 Workspaces - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to app
2. Create new workspace from "+' in LHN
3. Try to create a 2nd workspace from "+" in LHN
4. Navigate to 1st workspace
5. On details scr

[2021-12-17 19:47] parasharrajat commented on #6563
Based on the slack thread, we reached the conclusion that all pinned chats should always be top even if there are unread chats.

Following that @K4tsuki your proposal looks good. But Could you please expand your proposal to cover the Tests before I can accept your proposal?

[2021-12-17 19:55] parasharrajat commented on #6563
Based on the slack thread, we concluded that pinned chats should be prioritized before all others.

Following that @K4tsuki your proposal looks good. Could you please expand your proposal to cover Tests before I make a decision here? Thanks.

[2021-12-17 19:58] marcaaron opened #6820 "[Discuss] Standardize API method error handling"
# Problem

There is a lack of consistency in how errors are handled in the codebase e.g. take the following examples:

**Throwing error for handling in the catch**
https://github.com/Expensify/App/blob/370869fb9bd5cc0cc60277ba92316822ba2d8f9a/src/libs/API.js#L284-L289

**Showing a growl**
https://github.com/Expensify/App/blob/370869fb9bd5cc0cc60277ba92316822ba2d8f9a/src/libs/actions/Policy.js#L103

[2021-12-17 20:00] marcaaron commented on #6820
cc @parasharrajat as we kinda got sidetracked by this in a review

[2021-12-17 20:02] thesahindia commented on #6722
I think botify mistakenly closed this issue.
cc: @thienlnam

[2021-12-17 20:06] jboniface commented on #6359
@parasharrajat sorry this slipped by me, job is here https://www.upwork.com/jobs/~01d07f9c95161deca4 i invited you

[2021-12-17 20:13] parasharrajat commented on #6820
Yup, I agree. This should be consistent across the codebase.

I am in favor of point 3 above.

[2021-12-17 20:20] marcaaron opened #6821 "[Discuss] More clearly define what "actions" are. Then clean up "actions" files."
# Problem

Actions files have things in them that do not fit our definition of an "action"

"actions files" typically export methods that:

- may or may not call an API
- should (but do not always) set some data into the Onyx store

We also have "utils" files which feel related to "actions" in that the do not set data into the Onyx store, but might prepare or interpret the data in some way.

Here'

[2021-12-17 20:29] jboniface commented on #6769
https://www.upwork.com/jobs/~010dbb053733c33760

[2021-12-17 20:29] developvsn commented on #6563
@parasharrajat Can you clarify please, i proposed a solution which works perfectly fine and require less changes than @K4tsuki.

You [asked](https://github.com/Expensify/App/issues/6563#issuecomment-989844538) us for changes, which we did and replied [here](https://github.com/Expensify/App/issues/6563#issuecomment-989859582) and asked you [here](https://github.com/Expensify/App/issues/6563#issueco

[2021-12-17 20:46] thienlnam commented on #6722
Yeah, change is currently on staging

[2021-12-17 21:03] parasharrajat commented on #6563
Sure @developvsn .

His proposal requires changing only one flag to true.  Seems lesser than yours. Your proposal works for the specific case here but there are many types of sorting applied to the LHN list which we manage via `OptionsListUtils.getSidebarOptions`. So the most preferred solution would be the one that handles sorting there.

I don't think the proposed solution is ideal.

I think the

[2021-12-17 21:05] luacmartins commented on #6807
Just like everybody else in [this thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1639348642156200), I have not been able to get a captcha screen on the Plaid flow, even while using their captcha [testing credentials](https://plaid.com/docs/sandbox/test-credentials/). This seems to be an issue with the Plaid modal and I'm not sure if it's something on our end. Regardless, I'll send this

[2021-12-17 21:26] parasharrajat commented on #6769
Aha, it seems straightforward so I like to propose here.
1. Enable this flag https://github.com/Expensify/App/blob/d012bea6850bab9010e15d66d5b81220d569022c/src/components/HTMLEngineProvider/BaseHTMLEngineProvider.js#L304.

It will disable the whitespace collapsing.
![image](https://user-images.githubusercontent.com/24370807/146609911-e01949f5-313b-4f5f-95aa-f1e0303177f6.png)

[2021-12-17 21:30] kavimuru opened #6822 "IOU - Selected currency does not persist"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing #6755**

## Action Performed:
1. Click on "+" > Request money or Send Money
2. Click on currency and select any other currency than defa

[2021-12-17 21:31] OSBotify commented on #6822
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-17 21:49] parasharrajat commented on #6699
If you look at the attached video
![image](https://user-images.githubusercontent.com/24370807/146611562-60a431e6-4c06-44a3-bc8c-18d73e1f4b75.png)

I can find that the string is repeated many times for `alternativeText` . it indicates to me that somewhere in the code this is running the same operation many times and appending the text instead of replacing it.
1. We should find the cause of this rep

[2021-12-17 21:55] mvtglobally opened #6823 "Submitting the change password form on PasswordPage via the enter doesn’t do anything - Reported By: @anthony-hull"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to app
2. Login
3. Go to Profile setting > Security > Update password
4. Fill all the data fill in all the data

**EDIT**
5. Focus on the curr

[2021-12-17 22:04] tgolen commented on #6761
I never got that, no.

On Fri, Dec 17, 2021 at 12:03 PM Andrew Gable ***@***.***>
wrote:

[2021-12-17 22:05] tgolen commented on #6761
That message was unread for you and appeared in your LHN?

On Fri, Dec 17, 2021 at 3:04 PM Tim Golen ***@***.***> wrote:

[2021-12-17 22:09] AndrewGable commented on #6761
Yes, correct!

[2021-12-17 22:09] mvtglobally opened #6824 "[HOLD for payment 2022-01-04] Display small grey/gray text under Attachment with file name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to chat
2. Upload any PDF with specific name
3. Open uploaded PDF
4. Check file name

## Expected Result:
File name should be displayed as a

[2021-12-17 22:11] stitesExpensify commented on #6693
Apologies for the delay. The most recent solution looks good to me!

[2021-12-17 22:12] K4tsuki commented on #6474
@kidroca also depends this feature (last navigation) to complex logic on report is might be less reliable than just depend on simple variable `CURRENTLY_VIEWED_REPORTID`. We don't know when bug like this happen again. But if this feature depend on `CURRENTLY_VIEWED_REPORTID` and fallback to `getLastAccessedReport`, I think it is more reliable. what do you think?

[2021-12-17 22:15] mvtglobally opened #6825 "[HOLD for payment 2022-01-11] Password hint stylings are different when setting password - Reported by: @Anthony-hull"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to app
2. create a new account
3. go to email and hit link to create password
4. Enter valid password as per requirements,
5. Delete som

[2021-12-17 22:19] marcaaron commented on #6474
Let's keep it simple and do what was said [here](https://github.com/Expensify/App/issues/6474#issuecomment-996419531) ?

[2021-12-17 22:22] mvtglobally opened #6826 "[HOLD for payment 2022-01-11] Button is overlapping with the text in New Room page - Reported by: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to app
2. Create a new workspace if you dont have one
3. Click "+" > New room

## Expected Result:
Buttons and text should not overlap

## Act

[2021-12-17 22:27] tgolen commented on #6761
OK, thanks! Without being able to debug it myself, I'm a little stuck here. This is what I think is happening:

1. Comment is made on OldDot
2. On OldDot, we call `api?command=Report_UpdateLastRead` with the new sequence number
3. On NewDot, the new sequence number comes along (I think from the new comment pusher event) and since the sequence number is greater than whatever was there before, the c

[2021-12-17 22:36] K4tsuki commented on #6474
I will still do that.  That is my plan. This below is my comment above:

<br />

I just think that using `CURRENTLY_VIEWED_REPORTID` and fallbacking to `getLastAccessedReport` is better. But if you think just depend only on `getLastAccessedReport` is better, I will just follow you. I just give my opinion.

[2021-12-17 22:42] AndrewGable commented on #6761
<img width="992" alt="Screen Shot 2021-12-17 at 3 42 04 PM" src="https://user-images.githubusercontent.com/2838819/146616211-6f9cacf9-b925-4b79-b427-866e8d8c1fbb.png">

Another weird thing is Hax and I chatted on this report and he doesn't appear on the account list

[2021-12-17 22:45] marcaaron commented on #6761
I agree that it's probably not worth fixing. If leaving a comment in another _NewDot session_ also has this behavior then it might be worth it, but just checked and it does not.

Is OldDot reports -> NewDot chats an officially supported feature? I may have missed when we designed it to work this way.

[2021-12-17 22:47] chiragsalian commented on #6822
Not a blocker since the same happens on prod. Removing blocker label. Not sure if this is an issue since i feel like the default should be based on the current location or policies default currency even if they were to change it for one request.

[2021-12-17 22:48] cead22 commented on #6818
I was able to reproduce, and I think we could have external contributors remove the button when it shouldn't be there, but I think the fact that we were able to create multiple workspaces means we should add a check on the backend preventing this, which can only be done by our internal team
![image](https://user-images.githubusercontent.com/165133/146616541-dda3f5ea-2d5e-4fea-834b-ae67df0d370e.png

[2021-12-17 22:49] marcaaron commented on #6474
Sounds great. Would you mind summarizing what needs to be done to be sure we're on the same page?

[2021-12-17 22:49] chiragsalian commented on #6822
I guess its an issue since monil was pretty much working on it [here](https://github.com/Expensify/App/pull/6755). @MonilBhavsar would you like to tackle this issue? 🙂

[2021-12-17 22:51] anthony-hull commented on #6823
https://github.com/Expensify/App/blob/d012bea6850bab9010e15d66d5b81220d569022c/src/pages/settings/PasswordPage.js#L218-L228
`this.validateAndSubmitForm` isn't defined.
I propose to change this to use `this.submit ` as used by the button.

[2021-12-17 23:00] kevinksullivan commented on #6489
Paid! Thanks again @developvsn and @kursat

[2021-12-17 23:00] #6489 closed

[2021-12-17 23:05] kevinksullivan commented on #5556
Sorry @anthony-hull , I just had to send you an offer that you have to accept. Once you accept the offer I'll get this paid!

[2021-12-17 23:10] K4tsuki commented on #6474
Investigate why `lastVisitedTimestamp` is not updated in local data and in server when user navigate between rooms.  Right?

[2021-12-17 23:16] stitesExpensify commented on #3922
Per [this comment](https://github.com/Expensify/App/pull/4177#issuecomment-996986444) we are breaking this down to smaller pieces.

- [ ] Do a simple PR to scaffold out some of the little changes first and add all the assets, consts, pages, etc:
    - Add consts
    - Add Routes
    - Add blank pages for the new routes we are adding
    - Translations
    - API.js change
    - Move payment methods

[2021-12-17 23:18] kbecciv opened #6828 "Web- Room is not created when trying to create a new private room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3. Click on New Room
4. Put a Name for New Room
5. Select any Workspac

[2021-12-17 23:21] luacmartins commented on #6818
Put up a [PR](https://github.com/Expensify/App/pull/6827) for the frontend part. Gonna look into the backend solution now.

[2021-12-17 23:21] Luke9389 commented on #6427
Question, are we sure we want to report USD using commas? It seems like the notation for the amount should be set by the currency, not by the language. If we were requesting a number of pesos, then I'd expect a comma. Right?

[2021-12-17 23:23] K4tsuki commented on #6563
All right, please wait.

[2021-12-17 23:24] anthony-hull commented on #6825
https://github.com/Expensify/App/blob/d012bea6850bab9010e15d66d5b81220d569022c/src/styles/styles.js#L771-L791
textLabelSupporting is missing the line height and margin which the formError has.
Making sure the hint has these values applied for both form states would fix this.

I propose adding these values to:
https://github.com/Expensify/App/blob/d012bea6850bab9010e15d66d5b81220d569022c/src/pages/

[2021-12-17 23:27] anthony-hull commented on #5556
Thank you! I've accepted

[2021-12-17 23:27] bondydaa commented on #6828
Does the private room get created? or does that also fail?

I can't tell if the console error is just a side effect or preventing the new room from being created?

[2021-12-18 00:15] mallenexpensify commented on #6131
Paid @rushatgabhane , inc. $250 for Company Offsite Hold bonus.

[2021-12-18 00:15] #6131 closed

[2021-12-18 00:24] mallenexpensify commented on #3743
Paid @dklymenk in Upwork. Thanks for the help!
- $250 for job
- $250 for reporting
- $250 for Company Offsite Hold bonue.

[2021-12-18 00:24] #3743 closed

[2021-12-18 00:32] mallenexpensify commented on #5556
Happened to be ~trolling~ cruising by and wanted to get this paid before the weekend.  Paid @anthony-hull $250 for the job and $250 for the reporting bonus. Thanks for the help.

[2021-12-18 00:32] #5556 closed

[2021-12-18 00:36] kbecciv opened #6829 "IOS/Android - Able to proceed with invalid phone number error into Personal information page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with any account and enable Staging  Server
3. Go to any workspace and tap Connect Bank account
4. Put Credentials: user_

[2021-12-18 00:37] mallenexpensify commented on #5185
Paid @mananjadhav in Upwork, wanted to get it issued before the weekend. Job was $250 and I added $250 because the PR was during the Company Offsite Hold (where I forgot to properly label all issues that were eligble).   If anything doesn't look correct, please comment and/or reopen.

[2021-12-18 00:38] mosfiend commented on #6359
Is the search is mapping over the filtered array of objects? If that's the case, wouldn't the following solution work in theory? If it doesn't can you help me understand why?

1. 1:1 chat/group chats /recent
2. 1:1 chat/group chats /oldest
3. rooms  /recent
4. rooms /oldest

Each chat object should have
- a date property defaulting to null whose value is the date() of the last message
-  an isRoom

[2021-12-18 00:41] mallenexpensify commented on #4756
Paid @parasharrajat , wanted to get it issued before the weekend!
Thanks for inc. the 'company offsite hold' bonus info, I forgot to add the label and details to some of issues that were in progress

[2021-12-18 00:41] #4756 closed

[2021-12-18 02:54] PrashantMangukiya commented on #6693
@stitesExpensify thank you. Applied to Upwork  job. Preparing the PR now and submit asap. Thanks.

[2021-12-18 03:24] K4tsuki commented on #6563
https://github.com/Expensify/App/blob/d012bea6850bab9010e15d66d5b81220d569022c/tests/unit/OptionsListUtilsTest.js#L596
in `OptionListUtilsTest.js` Add reports with pin:

<details> <summary>Pinned reports: </summary>

[code]

</details>

And change `it('getSidebarOptions() with GSD priority mode`  to be:

<details> <summary> GSD Test:</summary>

[code]

</details>

[2021-12-18 03:25] adelekennedy commented on #6717
Internal: https://www.upwork.com/ab/applicants/1472044602970767360/job-details
External: https://www.upwork.com/jobs/~0128eb0ae0a4702132 (just for kicks)

@PrashantMangukiya hired you in Upwork - once complete I'll add the reporting bonus!

[2021-12-18 03:29] PrashantMangukiya commented on #6717
@adelekennedy Thank you. Accepted Upwork job. I will prepare PR and submit soon.

[2021-12-18 03:57] mananjadhav commented on #6744
Noted. Thanks for clarifying.

Yeah, it is a bug, not a feature request reported by @thesahindia.

[2021-12-18 04:00] mananjadhav commented on #5185
@mallenexpensify This was a bigger task and we had decided to add bonus completion based on the scope. For your reference, https://github.com/Expensify/App/issues/5185#issuecomment-928735294

and this issue is also eligible for n6-hold. Primarily all the rework happened due to n6-hold only.

[2021-12-18 04:30] mananjadhav commented on #6824
**Proposal**

Based on the discussion here https://expensify.slack.com/archives/C01GTK53T8Q/p1639606010290300?thread_ts=1639445506.216300&cid=C01GTK53T8Q and https://github.com/Expensify/App/issues/6751#issuecomment-995377669, we're looking to show the attachment original file name in the preview.

1. We'll add a new prop `subtitle` or `originalFileName` to the `AttachmentModal`, add the relevant

[2021-12-18 07:38] K4tsuki commented on #6474
After some diggings:

#### server side
- `lastVisitedTimestamp` is extracted from `lastRead`

https://github.com/Expensify/App/blob/d012bea6850bab9010e15d66d5b81220d569022c/src/libs/actions/Report.js#L207

- This `lastRead` also used by `getUnreadActionCount` to count for unread message.

https://github.com/Expensify/App/blob/d012bea6850bab9010e15d66d5b81220d569022c/src/libs/actions/Report.js#L97

[2021-12-18 07:59] akshayasalvi commented on #6660
Thanks @parasharrajat this worked. Appreciate your help once again 😄  PR updated

[2021-12-18 08:51] K4tsuki opened #6834 "Android Paste Button doesn't appear when pressing on phone or email text input login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps
1. Open new expensify android app for the first time.
2. Pressing on email or phone input box

## Expected Result:
Cont

[2021-12-18 09:10] dklymenk commented on #6806
In case it helps anyone find a solution, the same issue can be reproduced not only with AttachmentModal but also the context menu. By moving any message half way out of the view, and right-clicking it to trigger the context menu and then clicking outside it or on any context menu action(like "Copy to clipboard"), the flatlist will scroll to fit the entire message just like it does for the Attachem

[2021-12-18 09:16] parasharrajat commented on #6834
Close it.... Direct issue creation is not allowed.

[2021-12-18 09:18] K4tsuki commented on #6834
Where is the guideline?

[2021-12-18 15:20] parasharrajat commented on #6834
Could you please join slack @K4tsuki ? and you can report the issue there. Write an email to [join the channel](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#asking-questions). Thanks.

[2021-12-18 15:22] parasharrajat commented on #6563
Looks good. thanks.

@K4tsuki 's proposal and test changes look good to me.

cc: @Luke9389
:ribbon: :eyes: :ribbon:

[2021-12-18 17:33] parasharrajat commented on #6592
Thanks Everyone for waiting. Based on the Slack discussion, we would like to prevent the app from crashing but does not want to support Split mode for now.

So a proposal should do this:
1. Prevent app from crashing.
2. Block the app from going into split mode.
3. A native alert should be shown to the user that split mode is not supported for this app.

Could you please share new proposal for the

[2021-12-18 19:12] dklymenk commented on #6592
Hi, here is a proposal that covers the new requirements:

[code]

Adding that line in the `application` section of `AndroidManifest.xml` makes the entire app non-resizable. It hides the split screen button from the application's context menu on the list of thumbnail images you get when you press the Overview button. It also produces the native alert if you manage to get around the missing button o

[2021-12-18 19:21] eVoloshchak commented on #6470
The main problem with this issue is that we cannot tell if `textInput` was focused when we select a user from the list. Because the moment we click on any option `textInput` loses it's focus and if we call `this.textInput.isFocused()` inside the [selectRow](https://github.com/Expensify/App/blob/96ba12da431936b19c80eb895f9531ee44039e71/src/components/OptionsSelector.js#L195) method, it will always

[2021-12-18 23:21] #6834 closed

[2021-12-19 00:21] kavimuru opened #6836 "[HOLD for payment 2022-02-08] Android - Chat - App crashes when attaching a large size image"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Open any chat
3. Tap on + > Add Attachment > Choose from galery
4. Select a very long image (use the one attached to the is

[2021-12-19 00:22] OSBotify commented on #6836
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-19 18:59] ahmdshrif commented on #6772
# Proposal

## fix 1  (workaround)
if you are flexible with style we can change the font weight from `bold` to `599` which is the max value where this chrome issue does not happen.  it starts to happen at `600`.

and  if we  need to make the text bolder than `599`  for the unread messages we can change the font family (on web) to some bold font like (ex : Arial black)

## fix 2

otherwise, we will

[2021-12-19 21:56] SofiedeVreese commented on #6563
@K4tsuki feel free to apply via the Upwork post here: https://www.upwork.com/jobs/~01ff25496a7aa2449e

I can then assign you to this GH.

[2021-12-19 23:21] K4tsuki commented on #6563
I have submitted my proposal.

[2021-12-19 23:21] mountiny commented on #6711
Discussion still going on.

[2021-12-19 23:35] SofiedeVreese commented on #6563
Just to double check @K4tsuki are you Mochammad?

[2021-12-19 23:36] SofiedeVreese commented on #6563
Perfect thanks @K4tsuki , I've just hired you in Upwork 👍

[2021-12-19 23:40] K4tsuki commented on #6563
Yes. Thank you.

[2021-12-20 02:47] Christinadobrzyn commented on #6749
Hey @MonilBhavsar sorry I can't find the PR for this. Where is the PR for this so I can track to pay @kursat for reporting this?

[2021-12-20 02:51] Christinadobrzyn commented on #5894
Hi @parasharrajat can you confirm this is the [PR](https://github.com/Expensify/App/pull/6572) to fix the regression so I can track it for payment?

[2021-12-20 04:03] K4tsuki commented on #5699
#### proposal
_Simple explanation:_
So basically the cause is `defaultRoom` with one participant will create wrong `personalDetail` option. This must be filtered when detecting personal detail option, using  if conditional check from  `logins.length <= 1` to `logins.length <= 1 && !ReportUtils.isDefaultRoom(report)` on this line of code:
https://github.com/Expensify/App/blob/d012bea6850bab9010e15d

[2021-12-20 05:06] kadiealexander commented on #5079
@akshayasalvi how are we tracking with this one? If you have too much on your plate let me know and we can hunt for other contributors!

[2021-12-20 05:54] MonilBhavsar commented on #6822
We decided not to persist selected currency across session. We'll reset it to default currency on every IOU request. So, we can close this issue.
Discussion thread: https://expensify.slack.com/archives/C01GTK53T8Q/p1639414756172000
cc @Julesssss

[2021-12-20 05:54] #6822 closed

[2021-12-20 06:19] conorpendergrast commented on #6728
You know, now that I've read the design doc for Personal Settings, I think we can probably close this out and tackle this suggestion under that proposal. @twisterdotcom and @zanyrenney FYI for this proposal which is to tweak the phone number adding a little bit.

Based on that design doc, I'm going to close out this issue!

[2021-12-20 06:19] #6728 closed

[2021-12-20 06:39] parasharrajat commented on #5894
Yes @Christinadobrzyn

[2021-12-20 07:21] MonilBhavsar commented on #6749
Here's the PR https://github.com/Expensify/App/pull/6755

[2021-12-20 09:28] anthony-hull commented on #6492
sure I'm working on this today and tomorrow.
Apologies I had some down time after a vaccine.

[2021-12-20 10:06] Beamanator commented on #6825
Definitely can be worked by contributors, marked `External`

[2021-12-20 10:31] parasharrajat commented on #5699
@K4tsuki As you are a new contributor, you are not allowed to work on multiple issues simultaneously so we can't accept this proposal. Also, there is a discussion already happening above which is yet to be concluded. Thanks for your patience.

[2021-12-20 10:33] parasharrajat commented on #6592
@hiteshagja Awaiting your proposal...

[2021-12-20 10:37] parasharrajat commented on #6474
@K4tsuki We value your time and contributions but based on the contribution guidelines, you can only work on one issue at a time as you are a new contributor so we will have to hold your proposal. Y

[2021-12-20 11:45] botify commented on #4559
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.21-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6498

If no regressions arise, payment will be issued on 2021-12-27. :confetti_ball:

[2021-12-20 11:45] botify commented on #6496
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.21-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6648

If no regressions arise, payment will be issued on 2021-12-27. :confetti_ball:

[2021-12-20 11:45] botify commented on #6634
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.21-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6665

If no regressions arise, payment will be issued on 2021-12-27. :confetti_ball:

[2021-12-20 11:45] botify commented on #5918
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.21-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6588

If no regressions arise, payment will be issued on 2021-12-27. :confetti_ball:

[2021-12-20 11:45] botify commented on #6096
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.21-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6289

If no regressions arise, payment will be issued on 2021-12-27. :confetti_ball:

[2021-12-20 11:45] botify commented on #5185
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.21-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6697

If no regressions arise, payment will be issued on 2021-12-27. :confetti_ball:

[2021-12-20 11:45] botify commented on #6594
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.21-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6695

If no regressions arise, payment will be issued on 2021-12-27. :confetti_ball:

[2021-12-20 11:45] botify commented on #6547
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.21-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6626

If no regressions arise, payment will be issued on 2021-12-27. :confetti_ball:

[2021-12-20 11:45] botify commented on #6619
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.21-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6698

If no regressions arise, payment will be issued on 2021-12-27. :confetti_ball:

[2021-12-20 11:45] botify commented on #5620
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.21-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6478

If no regressions arise, payment will be issued on 2021-12-27. :confetti_ball:

[2021-12-20 11:45] botify commented on #6713
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.21-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6753

If no regressions arise, payment will be issued on 2021-12-27. :confetti_ball:

[2021-12-20 11:45] botify commented on #6694
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.21-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6771

If no regressions arise, payment will be issued on 2021-12-27. :confetti_ball:

[2021-12-20 12:04] hiteshagja commented on #6592
@parasharrajat Thank you.

To make all 3 points working we need to make following change in `AndroidManifest.xml`.

![image](https://user-images.githubusercontent.com/5493716/146764116-91be1c3a-ad8e-404b-a85f-1d26a0b7255a.png)
As shown in the code snapshot we need to add `resizeableActivity="false"` key under `application > activity` path in `AndroidManifest.xml`. Same is highlighted in screenshot

[2021-12-20 13:42] parasharrajat commented on #6592
Ok. Thanks, @hiteshagja.

As @dklymenk and @hiteshagja  both have proposed the same solution and @dklymenk has proposed early so @dklymenk proposal looks good to me. Thanks for the proposal @hiteshagja.

cc: @thienlnam

[2021-12-20 13:49] Dal-Papa commented on #6751
A PR seem to have been created to solve this @MelvinBot

[2021-12-20 13:59] hiteshagja commented on #6592
Thank you @parasharrajat , I respect your decision and choosing @dklymenk’s proposal.

But We were in the discussion on this topic since long in slack. I had already proposed the solution on both the options with video in slack and was waiting for your response over there.
It would be appreciated, if you can reconsider your decision.

Waiting for positive response from you.

[2021-12-20 14:24] parasharrajat commented on #6592
@hiteshagja We only accept proposals on Github. I appreciate that your help in the discussion but I didn't see any proposal on the chat. I agree there was a video but no proposal. And there is no provision of accepting proposals on slack. Apart from it, we didn't accept your proposal on slack so we have to consider only what is available on Github.

You had a good proposal earlier but as the requi

[2021-12-20 14:46] bfitzexpensify commented on #5125
Issue found in review that will be discussed in Slack.

[2021-12-20 15:19] isagoico commented on #6815
**Regression** is finished!
Issues found:

1. https://github.com/Expensify/App/issues/6822 - Expected behaviour
2. https://github.com/Expensify/App/issues/6828
3. https://github.com/Expensify/App/issues/6829
4. https://github.com/Expensify/App/issues/6836

Comments added:
- https://github.com/Expensify/App/pull/6766#issuecomment-997087145 - Currently blocked from executing this

Thanks.

[2021-12-20 15:21] Santhosh-Sellavel commented on #6818
@luacmartins Can you help me get reporting bonus for this, thanks!

[2021-12-20 15:27] TomatoToaster commented on #6725
Before making this external, @jasperhuangg would you happen to know the solution to this? I think it has to do with the android file for the prefix text box. It seems like this is only apparent in the emulator when you use the on-screen keyboard.

[2021-12-20 15:34] K4tsuki commented on #5699
Why? I cannot see any guidelines about not allowed to work simultaneously. And there is `Help Wanted` and `Exported` label. Please review my proposal.  Thank you.

[2021-12-20 15:34] K4tsuki commented on #6474
Why? I working hard on this.

[2021-12-20 15:36] roryabraham commented on #6717
According to the guidelines set by the [_New Expensify Forms_](https://docs.google.com/document/d/1DI4jQ0nyfi2JczhPT440orwlXsTP_O-aGvg-HLmcbwI/edit#) design doc, this issue shouldn't have been created:

So this is the expected behavior. I'm going to close this out along with the linked pull request. That said, we should verify that the design patterns we settled on in the _New Expensify Forms_ des

[2021-12-20 15:39] tgolen commented on #6826
Issue looks legit, so let's get it out to our open-source community.

[2021-12-20 15:49] aldo-expensify commented on #5209
Not overdue, not a priority.

[2021-12-20 15:51] sketchydroide commented on #6836
I think Max is still ooo, due to time sensitivity, I'm reassigning this GH

[2021-12-20 16:06] parasharrajat commented on #5699
@K4tsuki Please read the contribution guidelines carefully [New contributors are limited to working on one job at a time, however experienced contributors may work on numerous jobs simultaneously.](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#payment-for-contributions)

This rule is the same for all of the contributors and everyone including me has to abide by it.

Were you assigned

[2021-12-20 16:18] kbecciv commented on #6828
@bondydaa The private room have never been created. The console error appears when creating a room irrespective of "Visibility" options.

https://user-images.githubusercontent.com/93399543/146798811-7d529424-68a3-408a-956c-7004a21c934e.mp4

[2021-12-20 16:21] K4tsuki commented on #5699
So after my first PR I can apply for many issues?

Making proposal.

[2021-12-20 16:26] bondydaa commented on #6828
👍 okay, please make sure you state that in the issue/title then. That's much more concerning than just a JS console errror 😅

I updated this and will bump to a daily.

[2021-12-20 16:28] parasharrajat commented on #5699
Initially, one at a time and after some time as much as you can. Usually, after 1-2 PR we will hire you on multiple and you will not even have to mention this.

[2021-12-20 16:33] kevinksullivan commented on #6613
Offer sent @aswin-s !

[2021-12-20 16:34] kevinksullivan commented on #6718
A few proposals in upwork, but still looking for an approved proposal to move forward.

[2021-12-20 16:42] tjferriss commented on #6719
Those are all good points. I've gotten some feedback on calls where people express they wish they had realized what the "Call" button on OldDot was a long time ago. This is probably where this feedback is coming from. I like your reasoning about this being a fall back and I like that we're going with a universal "?" button. Let's do it!

[2021-12-20 16:46] puneetlath commented on #6825
Upwork job here: https://www.upwork.com/jobs/~01a7cff5fb60b65b1e

[2021-12-20 16:50] roryabraham commented on #6780
To whomever implements this change, please take note of the additional changes to the Keyboard Shortcuts modal being applied in [this PR](https://github.com/Expensify/App/pull/6833).

[2021-12-20 16:51] thesahindia commented on #6826
### Proposal
replacing `View` with `<ScrollView style={styles.flex1} contentContainerStyle={styles.p5}>` will solve the overlap issue and it will also make it scrollable as it is not scrollable right now.
https://github.com/Expensify/App/blob/213751ea452661ccf17de839c9b64ad82a64d449/src/pages/workspace/WorkspaceNewRoomPage.js#L144

[2021-12-20 17:02] tgolen commented on #6826
👍 Proposal looks good and this is consistent with what we do on many other views. Are there any more views that are missed that this needs to be added to?

🟢 to hire @thesahindia for that proposal.

[2021-12-20 17:05] roryabraham commented on #6769
@jsamr Any chance you can provide context on why that `dangerouslyDisableWhitespaceCollapsing` is dangerous?

[2021-12-20 17:14] mananjadhav commented on #6780
@roryabraham I've added a proposal will wait for it to go external. I can see that we've also added a desktop menu shortcut in the PR you've linked. I can confirm that `CommandOrControl+I` will show up in the menu.

[2021-12-20 17:16] roryabraham commented on #6470
This might have changed since I wrote that comment. I just retested and observed the following:

1. Open the New Group page
1. Start searching a name
1. Select an option from the list
1. The search input will lose focus
1. Clicking on the search input clears in the input.

Refining the expected behavior from above, I think what would be best is:

1. Open the New Group page
1. Start typing the name

[2021-12-20 17:19] PrashantMangukiya commented on #6717
Thanks @roryabraham, ok I  understood that button should show loader when api call in progress as per guideline under:

I also reported another issue https://github.com/Expensify/App/issues/6734 i.e. Submit button was not  showing loader while api call in progress and user can tap submit button multiple time (That submit button does not follow above mentioned guideline)  but it was closed because

[2021-12-20 17:26] roryabraham commented on #6717
@adelekennedy [as discussed in slack](https://expensify.slack.com/archives/C01SKUP7QR0/p1640015634236300), I'm reopening this issue for payment. @PrashantMangukiya should be paid for their time on this issue, $250 for the pull request and $250 for the reporting bonus.

@PrashantMangukiya Regarding https://github.com/Expensify/App/issues/6734, I'm not going to overturn @marcaaron's decision – he is

[2021-12-20 17:28] roryabraham commented on #6780
Cool, I know this can be worked on externally so I'm going to move it forward.

[2021-12-20 17:33] PrashantMangukiya commented on #6717
@roryabraham thank you. I appreciate this.

[2021-12-20 17:36] hiteshagja commented on #6592
no issue.

[2021-12-20 17:47] parasharrajat commented on #3922
Working on the first PR.. will be ready soon.

[2021-12-20 17:52] parasharrajat commented on #6806
Well, interesting issue. I would love to debug this but got no time. :clock11:

[2021-12-20 17:59] parasharrajat commented on #6825
@anthony-hull Does your proposal match with other forms on the page? Could you please share any example to compare?

[2021-12-20 18:19] aswin-s commented on #6613
Offer accepted in upwork. @kevinksullivan

[2021-12-20 18:27] marktoman commented on #6213
@deetergp Please let me know if it does what is required. I will then fill out the QA steps etc.

[2021-12-20 18:32] marcaaron commented on #6474
@K4tsuki Sorry I'm not following the explanation or what the proposed fix is.

I've explained in my comment that there's a PR where we stopped updating the `lastVisitedTimestamp` (which happens when we call the `Report_UpdateLastRead` API). I am sure we just need to revert that change and then see if the API is called "too many times" by looking into what calls it.

@parasharrajat This doesn't see

[2021-12-20 19:00] #3755 closed

[2021-12-20 19:00] #4492 closed

[2021-12-20 19:00] #5595 closed

[2021-12-20 19:03] parasharrajat commented on #6474
Yup, That can be done as there is one proposal.

[2021-12-20 19:04] parasharrajat commented on #6627
PR will be up soon. on my list.

[2021-12-20 19:05] NikkiWines commented on #6562
Ah, sorry for the miscommunication, @K4tsuki. We wont be implementing @kursat's proposal, since we'll be fixing this bugat its source on our end.

Going to remove the external + help wanted labels here and assign myself, PR is in review.

[2021-12-20 19:13] mountiny commented on #6718
Hmm, no proposals here, so not sure what they proposed with 😅

[2021-12-20 19:31] marcaaron commented on #6828
This is behind a beta still I think @TomatoToaster maybe will know if this is expected or not.

[2021-12-20 19:39] luacmartins commented on #6818
@Santhosh-Sellavel yes, thanks for bringing this to my attention!

@trjExpensify This issue is being fixed internally, however @Santhosh-Sellavel should be paid the reporting bonus. Could you help with the payment please?

[2021-12-20 19:43] anthony-hull commented on #6825
I already did a search for the uses of formError across the app, there are not other instances where text with textLabelSupporting turns into an error with formError.
formError is only used by text that appears on error.

Does this cover what you're asking?

[2021-12-20 19:46] Jag96 commented on #6836
Looks like this is still happening on main, I can reproduce on my emulator but there aren't any obvious error messages in the metro logs or Expensify logs, so going to see if I can reproduce on production (1.1.18-3) and narrow it down from there. Also one thing I noticed, if I re-open the app after the crash and try to upload the same image again it works without any crash.

[2021-12-20 20:05] kadiealexander commented on #6492
No worries, thanks for the update! I hope you're feeling better.

[2021-12-20 20:14] marcochavezf commented on #6689
The expiration date is valid, according to the implementation of the function to validate the expiration date, the format MMYY is valid: https://github.com/Expensify/App/blob/864bbd690b239e1cb4746aaae1308885ec0ec5e0/src/libs/ValidationUtils.js#L96-L114

Also, I found in the Web-S WAF that `cardName` can accept numbers (I found this comment in the WAF: `It's not uncommon that company credit cards w

[2021-12-20 20:18] Jag96 commented on #6836
I can still reproduce this on 1.1.18-3 which has been the production version since December 8th:
![image](https://user-images.githubusercontent.com/3981102/146826230-84523a37-c18d-4075-bd72-63bb2398ca46.png)

@kavimuru can you confirm this works on production consistently? Also, what device was this tested on? Getting the device info could help in finding the crash from the list in crashlytics.

O

[2021-12-20 20:23] mvtglobally opened #6841 "[HOLD for payment 2022-01-19] App shows blank screen when user denies camera access when validating identity - Reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to app
2. Send money to someone
3. Click pay with expensify
4. Deny access to camera

## Expected Result:
User should be able to verify identi

[2021-12-20 20:26] mountiny commented on #6841
@mvtglobally Could you by any chance reproduce this in production so we can make sure this is a regression or persistent issue. Thank you!

[2021-12-20 20:40] thesahindia commented on #6826
@tgolen, will report if I find any.

[2021-12-20 20:47] mountiny commented on #6790
I think there is a new version up in production now, would you be able to retest this @kavimuru to make sure it is fixed in production (since it worked in staging)?

[2021-12-20 20:50] Jag96 commented on #6836
I'm able to also reproduce this on 1.1.17-7 which was the previous production version, so I don't think this is a deploy blocker. Removing the deploy blocker label, adding Daily, and setting External.

[2021-12-20 20:52] Jag96 commented on #6815
Removed DeployBlocker label for https://github.com/Expensify/App/issues/6836#issuecomment-998259861 so removing it from the description

[2021-12-20 20:59] mallenexpensify commented on #6693
Sent offers to @Tushu17 for reporting and @PrashantMangukiya for the job... in Upwork

[2021-12-20 21:07] marcochavezf commented on #6689
I noticed we have a few frontend validations in old dot, I'm going re-open the issue and create a PR to reuse them.

[2021-12-20 21:10] luacmartins commented on #6818
Actually, I talked to @kevinksullivan about this and confirmed that this is NOT a bug.

Paraphrasing Kevin:

I acted too soon and should have confirmed that this is indeed a bug first. I'll close the internal PR and put up a revert for the changes deployed to NewDot.

[2021-12-20 21:17] roryabraham commented on #6660
PR merged

[2021-12-20 21:20] roryabraham commented on #6789
We later discovered that the automerge action was likely failing because we had enabled a GitHub setting which requires all commits to be signed, but we did not have all unsigned commits from `OSBotify` merged into production before enabling that setting. So we disabled the setting, merged that PR, and should be able to re-enable the setting without issues now.

[2021-12-20 21:31] Jag96 commented on #5699
Since @parasharrajat is already working on fixing this in https://github.com/Expensify/App/issues/6627#issuecomment-998193063, removing the `Help Wanted` label, sorry for the confusion!

[2021-12-20 21:49] iwiznia commented on #6427
Nope. The decimal separator is tied to the language you are writing in, not the language that's used in the country were the currency was created.

[2021-12-20 22:00] mallenexpensify commented on #5185
Sorry @mananjadhav , I think I checked for the n6 hold but missed because it was listed in 'hidden items' in the issue (I really wish those could be auto-extracted every time)

So.. $250 for the [#5185 (comment)](https://github.com/Expensify/App/issues/5185#issuecomment-928735294) and $250 for n6-hold, correct?

[2021-12-20 22:06] mallenexpensify commented on #6780
Posted https://www.upwork.com/jobs/~0194ac035a3e90c884

[2021-12-20 22:15] parasharrajat commented on #6780
@mananjadhav 's could you please update your proposal to add https://github.com/Expensify/App/issues/6780#issuecomment-998099945.

[2021-12-20 22:41] K4tsuki commented on #6474
#4077 and #4078 is modifying  `updateLastReadActionID` function. This  function is only called when there is an unread message in a room. When we reading that message.
But for this feature (last active room) we need to update `lastVisitedTimestamp` not only when there is unread message in a room, but on each time we navigate to a room (whether there is an unread message or not).
<br />
So I am pro

[2021-12-20 22:47] Jag96 commented on #6829
Looking at the regex we're currently using for phone numbers, I don't think this is an issue. We're using [this regex](https://github.com/Expensify/expensify-common/blob/6638a17553d110e08ad1680aea777ca4c1b11902/lib/str.js#L921) which is for [E.164](https://www.twilio.com/docs/glossary/what-e164) phone numbers which allow up to fifteen digits in the number. Going to close, but if there is a reason

[2021-12-20 22:47] #6829 closed

[2021-12-20 23:04] K4tsuki commented on #6474
My original proposal is to update calling `lastVisitedTimestamp` on each time `ReportActionsView` `didMount`. This will update `lastVisitedTimestamp` of a report each time we visit a room.

But as you said it be done using  `updateLastReadActionID`, this function is called each time `ReportActionsView` `didMount`. I need to figure out to solve the issue  #4077 with different method and make `updat

[2021-12-20 23:06] Jag96 commented on #6824
@mananjadhav that proposal sounds good to me! @stephanieelliott let's hire @mananjadhav for this one, @mananjadhav feel free to get started on a PR once you're hired!

[2021-12-20 23:43] kursat commented on #6562
Hey @NikkiWines, if this is not a help wanted job, will I get the bonus for reporting the bug or not?

[2021-12-20 23:45] NikkiWines commented on #6562
Yep! @kursat you still get the bonus. @stephanieelliott (whoops didn't mean to unassign you) could you handle the reporting compensation for this issue?

[2021-12-21 00:11] jliexpensify commented on #6836
Posted!

Internal - https://www.upwork.com/ab/applicants/1473083482261811200/job-details
External - https://www.upwork.com/jobs/~010f941ebf54ffb6c7

[2021-12-21 00:25] kursat commented on #6780
Hey all, <kbd>Ctrl</kbd>+<kbd>I</kbd> is used for "Page Info" in Firefox. I thought you may want to know.

[2021-12-21 01:04] mallenexpensify commented on #6591
Doubled price to $500 https://www.upwork.com/jobs/~01342882f93e8ea651

[2021-12-21 01:11] Jag96 commented on #6628
It looks like we set the max value for the upload [here](https://github.com/Expensify/App/blob/aac57d37c29c0d8d8fa6261f6a50c69295e966cd/src/components/AvatarWithImagePicker.js#L116), which was added in [this PR](https://github.com/Expensify/App/pull/5900). When testing, it looks like the values for taking a photo with the front camera and back camera were both over 3MB, here are those values (resp

[2021-12-21 01:42] K4tsuki commented on #6474
`updateLastReadActionID` called four times on making a comment because of:
`ReportActionsView` is updated twice. We use temporary `optimisticReportActionID` sequence number when sending new comment:
1. Updated on new comment with `optimisticReportActionID`
2. Updated when that comment optimistic id is changed to sequence number from server.

The other two call is from `scrollToListBottom`:

https:

[2021-12-21 02:00] Christinadobrzyn commented on #6826
Created Job in Upwork:
Internal posting: https://www.upwork.com/ab/applicants/1473110323714453505/job-details
External posting: https://www.upwork.com/jobs/~01c73faed55a1b6c12

Hired @thesahindia for the job!

[2021-12-21 02:07] Christinadobrzyn commented on #4264
Looks like the [PR](https://github.com/Expensify/App/pull/5953) is still under review.

[2021-12-21 02:27] mallenexpensify commented on #6058
Still holding

[2021-12-21 02:27] mallenexpensify commented on #6058
Still holding, leaving a weekly to remind @michaelhaxhiu and I we need to address in the new year

[2021-12-21 02:27] mallenexpensify commented on #5766
Still holding...

[2021-12-21 02:57] mananjadhav commented on #5185
That’s right @mallenexpensify

[2021-12-21 03:06] marcaaron commented on #6474
Two calls does not seem so bad to me.

Got it. So there are some cases where we want to record the last read and ones where we do not.

How about we rename the existing method to `scrollToBottomAndUpdateLastRead()` and replace all usages of `scrollToListBottom()` except the one here:

https://github.com/Expensify/App/blob/3f13de8f94f17f38ea48b31dd996e4f3efd3ac40/src/pages/home/report/ReportActions

[2021-12-21 03:20] akshayasalvi commented on #5079
@kadiealexander There's progress which I've pushed in the same old PR raised earlier. I am stuck at one point where I ensure that the session is also created and without storing the password the form retains it so that the API calls are successful. If I am unable to solve it, I'll ask for help here or open-source channel.

[2021-12-21 03:21] mvtglobally commented on #6841
@mountiny I am able to reproduce in PROD app as well

[2021-12-21 03:26] mananjadhav commented on #6780
@parasharrajat In addition to https://github.com/Expensify/App/issues/6780#issuecomment-995186413, I added comment https://github.com/Expensify/App/issues/6780#issuecomment-998119306. I can see it's only about the accelerator in the Desktop menu that I should be looking at. Is there anything else that I am missing out on?

[code]

Thanks, @kursat. Each app can have its own shortcuts. The problem w

[2021-12-21 03:27] mvtglobally commented on #6326
Issue not reproducible during KI retests. (Second week)

[2021-12-21 03:28] mvtglobally commented on #6518
Issue not reproducible during KI retests. (First week)

[2021-12-21 03:31] K4tsuki commented on #6474
This one can call ReportScrollManager.scrollToBottom() and that way it will be clear that whenever we scroll using this method it has the side effect to update the last read.

All right. This is good.

[2021-12-21 03:34] mvtglobally commented on #6710
@danieldoglas, sorry missed this earlier. I am still able to reproduce this issue after log out.

[2021-12-21 03:35] mananjadhav commented on #6628
**Proposal if made external**

This is just a small config change. Need to update the value for `CONST.AVATAR_MAX_ATTACHMENT_SIZE` as `6291456`.

I've checked that it successfully uploads and there isn't any error thrown from the API.

[2021-12-21 03:38] mvtglobally commented on #2499
Team was able to reproduce again this week.

https://user-images.githubusercontent.com/43995119/146866966-d4551476-c999-4d5a-923e-edd1d6e7838b.mp4

[2021-12-21 03:41] mvtglobally commented on #6457
Team was getting slightly different issue this week. Not closing this issue this week
![Screenshot_20211218-200545_New_Expensify](https://user-images.githubusercontent.com/43995119/146867139-a6735a86-ebfe-4d7b-bb38-0ee4094374f7.jpg)

[2021-12-21 03:41] mananjadhav commented on #6824
Thanks, @Jag96.

[2021-12-21 03:44] mvtglobally commented on #5159
Issue not reproducible during KI retests. (Second week)

[2021-12-21 03:47] mvtglobally commented on #6792
Issue not reproducible during KI retests. (First week)

[2021-12-21 03:54] mananjadhav commented on #4559
@mallenexpensify I was checking in my Upwork account I can't seem to find this job. I had applied to the job linked here https://github.com/Expensify/App/issues/4559#issuecomment-958082390 but it says Job no longer available.

[2021-12-21 03:57] mananjadhav commented on #6713
@bfitzexpensify I've applied to the job but haven't been hired on Upwork.

[2021-12-21 03:57] mananjadhav commented on #6748
@bfitzexpensify Upwork hires pending.

[2021-12-21 08:31] vishnuwebdev commented on #6826
HI @mvtglobally As i can see your issue for the overlapping the text in button. So their is many ways to fix this issue
1) You can disable the button when the keyboard open event will trigger if you have only issue when the keyboard is shown.
2) You can give the background color white of button view so it will not show the overlaping text.
3) You can use the SafeAreaView and once the keyboard is a

[2021-12-21 10:46] sketchydroide commented on #6823
This is a bug, and I also think this is an external

[2021-12-21 10:50] sketchydroide commented on #6815
just to confirm at the moment we don't have any deploy blockers?

[2021-12-21 10:59] mountiny commented on #6841
@mvtglobally Thank you for double checking.

I will try to look into this, but it in case someone is faster to solve this, I am also making it `External`. Feel free to submit proposals!

[2021-12-21 13:37] roryabraham commented on #6789
I submitted a [pull request](https://github.com/pascalgn/automerge-action/pull/177) to make the action fail loudly. Should we point our repo at the fork in the meantime?

[2021-12-21 13:58] parasharrajat commented on #6780
Ok, thanks for the updates.
@mananjadhav your proposal looks good to me.

cc: @puneetlath .
:ribbon: :eyes: :ribbon:

[2021-12-21 14:29] parasharrajat commented on #6825
@anthony-hull 's proposal looks good. I can't think of any other optimization. It's a small change.

cc: @puneetlath

:ribbon: :eyes: :ribbon:

[2021-12-21 14:36] emilmarkmanuel commented on #6806
Hi,

It seems like it needs to import TouchableWithouthFeedback and use it n the modal

[2021-12-21 14:39] mvtglobally commented on #6815
@sketchydroide No deploy blockers open. However, we are blocked to validate this one https://github.com/Expensify/App/pull/6766#issuecomment-997068463

[2021-12-21 14:40] parasharrajat commented on #6806
@emilmarkmanuel Could you please post a complete proposal? How will you fix this? what is the reason? etc.

[2021-12-21 14:45] roryabraham commented on #6780
This might be problematic. Let's be sure to test in Firefox to ensure that our keyboard shortcut takes precedence over the default there.