[2022-09-16 13:56] mountiny commented on #11004
Closing, nothing new, must have been fixed

[2022-09-16 13:56] #11004 closed

[2022-09-16 14:01] railway17 commented on #10181
Yes, @parasharrajat
The keyboard is closing in Native app even though even though don't use my change 👀

[2022-09-16 14:08] varshamb commented on #11044
@laurenreidexpensify Can you please reopen the issue and send the correct upworks link. Thank you.

[2022-09-16 14:09] kbecciv opened #11048 "[HOLD for payment 2022-12-27] [$2000] Android - Long-press to edit a comment > keyboard opens and is immediately dismissed causing a jarring animation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Select any user
4. Send first message
5. Hold the finger on you message a

[2022-09-16 14:13] luacmartins opened #11049 "Migrate setNativeProps to state in Form"
Coming from https://github.com/Expensify/App/issues/8503, enabling Fabric requires us to migrate off `setNativeProps`. We should move usages of `setNativeProps` to state in Form.js

[2022-09-16 14:14] railway17 commented on #10181
So, @thesahindia , @parasharrajat
Do you think we should implement here as original `expected result`?
And need to implement a new `expected result` in another ticket?

[2022-09-16 14:17] luacmartins opened #11050 "Migrate setNativeProps to setAttribute in TextInput, SignInPageForm"
Coming from https://github.com/Expensify/App/issues/8503, enabling Fabric requires us to migrate off setNativeProps. We should move usages of setNativeProps to setAttribute in TextInput and SignInPageForm

[2022-09-16 14:17] kbecciv opened #11051 "Details - Closed account displayed with infinite spinner on Details Page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Click on the green + button
4. Click on the "New group" option
5

[2022-09-16 14:19] cristipaval commented on #10977
oh, initially I thought it's not reproducible. Yes, I can reproduce this one. I reproduced it in Chrome on iOS.

[2022-09-16 14:19] luacmartins opened #11052 "Migrate setNativeProps to state in RoomNameInput"
Coming from https://github.com/Expensify/App/issues/8503, enabling Fabric requires us to migrate off setNativeProps. We should move usages of setNativeProps to state in RoomNameInput

[2022-09-16 14:21] cristipaval commented on #10977
Monthly, I think our product is rarely used in mobile browsers.

[2022-09-16 14:21] luacmartins opened #11053 "Migrate setNativeProps to state in OptionsSelector"
Coming from https://github.com/Expensify/App/issues/8503, enabling Fabric requires us to migrate off setNativeProps. We should move usages of setNativeProps to state in OptionsSelector

[2022-09-16 14:21] puneetlath commented on #10865
The proposal sounds good to me. Let's do it.

@mollfpr @mdneyazahmad @rushatgabhane can you all apply to the upwork job if you haven't already?

[2022-09-16 14:22] luacmartins opened #11054 "Migrate setNativeProps and pass style prop in InvertedFlatList"
Coming from https://github.com/Expensify/App/issues/8503, enabling Fabric requires us to migrate off setNativeProps. We should remove usages of setNativeProps and use style props in InvertedFlatList

[2022-09-16 14:23] mollfpr commented on #10865
@puneetlath Applied, thank you!

[2022-09-16 14:24] luacmartins opened #11055 "Remove setNativeProps in ComposerEdit"
Coming from https://github.com/Expensify/App/issues/8503, enabling Fabric requires us to migrate off setNativeProps. We should remove usages of setNativeProps in ComposerEdit

[2022-09-16 14:30] luacmartins commented on #8503
I agree with @trjExpensify that we should use this issue as a tracking issue. I went ahead and created separate issues for each `setNativeProps` migration and assigned them to you @rushatgabhane. I also updated the OP to track them and the existing PRs to link to the issues as well.

@rushatgabhane are there any other existing issues or PRs for the other requirements in these lists?

https://expen

[2022-09-16 14:32] railway17 commented on #10181
Btw, don't you have speed issue while trying native app?
It's very hard to test with app in my side because speed is too slow.

[2022-09-16 14:34] kbecciv opened #11057 "[$1000] [Bug] IOS - Chat - Password - Save button bounces when moving from one line to another"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in any account
3. Navigate to settings by clicking on the user avatar over LHN
4. Click on change passwo

[2022-09-16 14:47] sketchydroide commented on #9973
So what I think is happening is that this [entire area is pressable](https://github.com/Expensify/App/blob/b7ad9f84169a438c48f24da716e77d1c3ce5a587/src/pages/home/HeaderView.js#L113-L162), including the tooltip and will take you to the details page.
But because you are also touching the tooltip you will not dismiss it. (it's likely although I did not test it, that you are copying the email at the

[2022-09-16 14:57] kbecciv opened #11058 "Android - Reimburse expenses - the rate value is reset to zero after the system allows entering more than three digits after the dot, error message displayed after."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10974

## Action Performed:
1. Open the App and login with any account
2. Go t

[2022-09-16 14:58] OSBotify commented on #11058
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-16 14:59] PauloGasparSv commented on #10524
I have no idea how to replicate but it happened once here in my local dev environment today

https://user-images.githubusercontent.com/6564265/190669499-2993c0bc-02bf-4934-927d-22e45fffd20a.mov

[2022-09-16 15:07] sketchydroide commented on #9973
also demoting this to monthly, this is a bit of an edge case and not all that important, just a bit weird looking think

[2022-09-16 15:10] mvtglobally opened #11059 "[HOLD for payment 2022-11-09] [$1,000] Android - add attachment drawer animation is janky"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. Click on the "+" in the compose box
3. try to add attachment

## Expected Result:
Transition should be

[2022-09-16 15:19] Justicea83 commented on #11058
This can be external

[2022-09-16 15:20] kbecciv opened #11060 "Web - LHN - The new message will appear in Admins default room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with any account
2. Create a new workspace

## Expected Result:
There s

[2022-09-16 15:23] kbecciv opened #11061 "[$250] Chat - Fub menu has only 3 option and Workspace is missing when log in with specific account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with account applausetester+0901abb@applause.expensifail.com/Feya86Katya
3. Click on

[2022-09-16 15:28] luacmartins commented on #11058
@Justicea83 this is a deploy blocker and should be handled internally because of urgency in the fix. Removing the `External` label.

[2022-09-16 15:30] Justicea83 commented on #11058
Ohk, thanks for picking it up, wraping up here

[2022-09-16 15:30] melvin-bot[bot] opened #11062 "[$250] Investigate: 💥 Crash 💥 `GrTextBlobRedrawCoordinator::internalRemove(GrTextBlob*)`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

##
###
### `libhwui.so` `GrTextBlobRedrawCoordinator::internalRemove(GrTextBlob*)`
### Number of Crashes: 2

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.1-0`
* **Devices:** Google Pixel 5 13

## Stacktraces
<details>
<summary>Android 1.2.1-0</summary>

[code]
</details>

---
<deta

[2022-09-16 15:39] iwiznia commented on #11061
Can you include JS console errors, especially before/during the blank RHN?
Also, not clear, is this user an admin of a workspace? I don't get why you expect to see a workspace in the RHN otherwise

[2022-09-16 15:45] kbecciv opened #11063 "[HOLD for payment 2022-12-15] [Image] Web - Profile - The white background in the image changes to black"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with any account
2. Go to Settings->Profile->Upload photo
3. Select an

[2022-09-16 15:56] JmillsExpensify commented on #4656
I also just highlighted this issue in Slack as a performance issue in need or a volunteeer.

[2022-09-16 15:58] laurenreidexpensify commented on #11044
@varshamb invited to job!

[2022-09-16 15:59] shawnborton commented on #10903
That looks perfect, thanks!

[2022-09-16 16:00] melvin-bot[bot] opened #11064 "[$250] Investigate: 💥 Crash 💥 `com.facebook.react.views.scroll.MaintainVisibleContentPositionHelper.updateScrollPosition`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.NullPointerException
### Attempt to invoke virtual method 'void android.view.View.getHitRect(android.graphics.Rect)' on a null object reference
### `MaintainVisibleContentPositionHelper.java line 105` `com.facebook.react.views.scroll.MaintainVisibleContentPositionHelper.updateSc

[2022-09-16 16:17] varshamb commented on #10599
@NikkiWines @JmillsExpensify no one is assigned to this issue

[2022-09-16 16:21] marcaaron commented on #8503
Quick question here and sorry if it's already been mentioned...

But why is `setNativeProps()` not supported in fabric? And rather than refactor everything to not use it - did we explore just stubbing it in somehow so we can unlock using fabric now and then change all the components later?

[2022-09-16 16:26] thesahindia commented on #11063
It's not an issue, it happens because the background is transparent. The result will be the same we try it on other platforms (e.g. Slack, Whatsapp)

[2022-09-16 16:39] sobitneupane commented on #10233
@Luke9389 User provides `bankAccountID` in step 1 of the reproduction steps which gets removed in step 4 when we start over (as it calls `resetFreePlanBankAccount()`). So, `bankAccountID` is not available in step 5.

**Proposal**
Once Bank Account Details are removed in step4, we should not show the `WorkspaceBankAccountPage` (i.e, Start Over Page) again. If we do so, user cannot trigger `resetFre

[2022-09-16 16:39] arosiclair commented on #9157
Can't reproduce this on staging or in dev I believe this should be fixed by now if it was an issue:

<img width="1912" alt="Screen Shot 2022-09-16 at 12 16 12 PM" src="https://user-images.githubusercontent.com/6833644/190685781-3a34534a-65fa-48dd-8d68-d33fe262f5e0.png">

<img width="1912" alt="Screen Shot 2022-09-16 at 12 17 45 PM" src="https://user-images.githubusercontent.com/6833644/190685786-1

[2022-09-16 16:39] #9157 closed

[2022-09-16 16:51] iwiznia opened #11067 "[$250] Need a C+ review for https://github.com/Expensify/App/pull/10452"
Creating this issue to trigger auto assigner for a review on https://github.com/Expensify/App/pull/10452

[2022-09-16 16:52] kbecciv opened #11068 "[HOLD for payment 2022-12-20] Android/IOS- The flow to the transaction amount fields does not work in apps"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10838

## Action Performed:
1. Open the App and login with any account
2. Go t

[2022-09-16 16:53] iwiznia commented on #11067
Ohhh, a CM needs to create an issue. Thought the assigner was not working properly, sorry about that double assignment.

[2022-09-16 16:53] stephanieelliott commented on #10608
Weird, I'm still not able to repro the blank screen behavior -- tried both Chrome and Safari on staging and prod, multiple zoom levels. Either way, I agree these are very likely related! I updated this issue to include both the blank screen and the distorted display and raised it to $500.

[2022-09-16 16:55] francoisl commented on #11021
Ah, good question. I'm not super familiar with the process, @mallenexpensify would you be able to assist please?

[2022-09-16 16:56] luacmartins commented on #11058
I can reproduce inputting more than 3 digits on android and iOS, however I could not reproduce the error message nor the value being reset to 0.

[2022-09-16 16:58] puneetlath commented on #10924
@0xaim thanks so much. We appreciate your investigation, but unfortunately, this is not something we compensate for. We recommend waiting to jump into issues until the `Help Wanted` label has been added. You can read more in our contributing guidelines here: https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md

Thanks!

[2022-09-16 16:58] #10924 closed

[2022-09-16 17:03] sketchydroide commented on #9580
ahh sorry missed this. yeah lets put this on hold

[2022-09-16 17:04] puneetlath commented on #9705
@b1tjoy @mdneyazahmad it looks like the original Upwork job expired. Can you apply here so I can get you both paid out?

https://www.upwork.com/jobs/~01324c586d2d04915a

(internal post for me https://www.upwork.com/ab/applicants/1570820498091720704/applicants)

[2022-09-16 17:14] stephanieelliott commented on #10535
Hey @dhairyasenjaliya there is no separate job for reporting -- please apply on the Upwork post and I will pay you on that 😊 https://www.upwork.com/jobs/~01091321c3578832d2

[2022-09-16 17:15] srikarparsi commented on #10485
I think this issue is still occurring:

<img width="1135" alt="Screen Shot 2022-09-16 at 1 13 18 PM" src="https://user-images.githubusercontent.com/48188732/190693387-32a9237b-edc7-498c-ac16-5bcd0f0a11d9.png">

I'm going to reopen it but was unable to reproduce it with a different chat.

[2022-09-16 17:18] puneetlath commented on #10971
Internal Upwork job: https://www.upwork.com/ab/applicants/1570824225889611776/job-details
External Upwork job: https://www.upwork.com/jobs/~012cbbe634b13568d6

[2022-09-16 17:18] francoisl commented on #11058
Interesting, have you managed to identify a clear pattern of when it happens? I'm trying the same exact steps as the video and randomly minimizing/reopening the app but can't reproduce (on Android). I wonder if it could have something to do with this PR: https://github.com/Expensify/App/pull/10468.

[2022-09-16 17:20] puneetlath commented on #10622
Updated to $500. @Santhosh-Sellavel mind providing an update?

[2022-09-16 17:21] marcaaron commented on #11045
This is and has always been the expected behavior ?

[2022-09-16 17:21] luacmartins commented on #11058
The error message suggests that the policy has been updated while we were offline, so maybe going offline and editing the policy on OldDot would trigger the error?

I'm triggering that error on dev, but the rate is reset to the original amount after the call fails and the error is shown.

[2022-09-16 17:28] Santhosh-Sellavel commented on #10233
@sobitneupane

What about this did you missed this comment?

[2022-09-16 17:28] andrewlor commented on #7822
https://github.com/Expensify/App/issues/7822#issuecomment-1190350454 This link for me says the job is closed. Let me know if someone can repost/reopen the job so I can apply, thanks!

[2022-09-16 17:35] luacmartins commented on #11058
@kbecciv we are having issues reproducing the rate being reset to 0. Is this consistently reproducible for you?

[2022-09-16 17:37] tgolen commented on #11063
Shouldn't the transparent background remain transparent though? Is this because it's being converted to a JPEG at some point (and transparency isn't supported)?

[2022-09-16 17:42] puneetlath commented on #10512
Updating to $500. @Santhosh-Sellavel please provide an update when you have a chance.

[2022-09-16 17:54] dhairyasenjaliya commented on #10535
Ah thanks applied

[2022-09-16 17:55] AliYar-Khan commented on #10971
This is a bug where you are accessing a message property of an object, but the object is undefined. So it throws this error.
Needs error handling. Before accessing the property, we need to check if the object is set before. Like if you are fetching data from API and initially the data is empty or undefined, then we need to have checks in place.

**Solutions:**

- If typescript is used, we can buil

[2022-09-16 17:56] dhairyasenjaliya commented on #10202
Ah thanks applied

[2022-09-16 18:01] marcaaron commented on #8503
Seems like there is some related stuff [here](https://github.com/facebook/react-native/issues/34391) and [here](https://reactnative.dev/docs/new-architecture-library-intro#migrating-off-setnativeprops). Does fabric pretty much just solve all the performance issues that led people to use uncontrolled components in the first place?

[2022-09-16 18:05] trjExpensify commented on #10202
Cool, hired!

[2022-09-16 18:20] mollfpr commented on #9391
### Proposal

**Root cause**
After creating a new group chat (e.g the report id is `123`) and going back using the back button on the header, it only toggles the drawer to open and not updating the parameters of the navigation route but the URL on the browser is change. It's not reflect the route property because we toggle the drawer not navigate to any specific URL. Because is not changing the ro

[2022-09-16 18:24] kbecciv commented on #10975
@parasharrajat Checking with team if we can still reproduce the issue

[2022-09-16 18:34] Santhosh-Sellavel commented on #10971
@AliYar-Khan

Pretty much we all are aware of the same. We need RCA first and a solution

Please investigate our code, gives us the RCA code block/flow, and provide us with a solution. if possible share steps to reproduce this.

Thanks!

[2022-09-16 18:35] Santhosh-Sellavel commented on #10362
PR is merged

[2022-09-16 18:36] mountiny commented on #11044
@laurenreidexpensify I think since this was reported as valid bug - deploy blocker even - there does not need to be a regression period included for the payment. I think we can pay @varshamb as soon as you get a chance.

[2022-09-16 18:38] AliYar-Khan commented on #10971
@Santhosh-Sellavel which branch should I use for RCA ?

[2022-09-16 18:38] thesahindia commented on #10240
Hmm, we didn't receive any comment from Melvin here.

[2022-09-16 18:39] thesahindia commented on #10240
@marcaaron, the [PR](https://github.com/Expensify/App/pull/10471) is ready for the review.

[2022-09-16 18:41] Santhosh-Sellavel commented on #10971
`main` branch!

[2022-09-16 18:43] Santhosh-Sellavel commented on #10971
Also @AliYar-Khan please check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) to understand our process, thanks!

[2022-09-16 18:45] mountiny commented on #11060
cc @trjExpensify seems like this might be influenced by the fact the new user is on domain such as applause.

What is the expected behaviour here if you create account on private domain/ on domain which exists already.

[2022-09-16 18:50] mountiny commented on #10181
I have updated the title and the PR body to clarify we want their behaviour same on all the platforms.

@MitchExpensify would you be able to double price on this one? Thank you!

[2022-09-16 18:51] Santhosh-Sellavel commented on #10966
@Beamanator I checked this again I am able to reproduce this issue.

But this can not be found on testing on local, that's the reason we might have missed this while testing!

[2022-09-16 18:57] mountiny commented on #10966
@Santhosh-Sellavel hmm, I still cannot repro on staging web. In no account. Do you have any screen recording or logs?

[2022-09-16 19:00] mallenexpensify commented on #10551
Sweet, thanks @mvtglobally , closing

[2022-09-16 19:00] #10551 closed

[2022-09-16 19:05] marcaaron commented on #10971
Hmm I'm not entirely seeing how this is possible given the current code.

https://github.com/Expensify/App/blob/b4b12addac16a3ef3753273e25c3e58379715a76/src/libs/actions/Report.js#L802-L802

Both of these should be an object with a `message` property and some default data.

[2022-09-16 19:06] marcaaron commented on #10971
Maybe there is some way to call this function without any `text` or `file` argument 🤷‍♂️

[2022-09-16 19:09] Santhosh-Sellavel commented on #10966
We verified accessing the  'https://staging.new.expensify.com/details' directly was handled. As we are able to test this locally just by modifying the address bar.

Try sending `https://staging.new.expensify.com/details` as a message and click the link from chat!

But sending` localhost:8080/details` is not treated as a hyperlink, so we are unable to verify to test this!

[2022-09-16 19:10] mallenexpensify commented on #11045
I don't think it makes common sense for it to be expected behavior.   The purpose of marking a message as unread is because it's important (for some reason, right?) so that message should be the one shown.

I can see where the _idea_ of expected behavior would come from though.  For new messages that are sent that aren't read, we show the most recent, not the first unread
<img width="738" alt="ima

[2022-09-16 19:10] tgolen commented on #10990
The proposal is fine with me except for this being unnecessary:

![image](https://user-images.githubusercontent.com/1228807/190713385-08fe5d96-a858-41a9-98e7-a2b5f3602705.png)

We don't declare refs in the constructor at all.

[2022-09-16 19:14] stephanieelliott commented on #10535
All paid!

[2022-09-16 19:14] #10535 closed

[2022-09-16 19:22] Santhosh-Sellavel commented on #10966
https://user-images.githubusercontent.com/85645967/190714178-3f795880-cc7a-4d1a-a408-556c7b8bd560.mov

@mountiny

[2022-09-16 19:23] Puneet-here commented on #10990
We are declaring the refs in constructor at other pages.
https://github.com/Expensify/App/blob/b4b12addac16a3ef3753273e25c3e58379715a76/src/pages/settings/AddSecondaryLoginPage.js#L58

[2022-09-16 19:40] trjExpensify commented on #11060
Ah, so this is expected behaviour since the roll out of #vip-121-assigned.

- Whenever a new user (i.e not paying) creates a group policy (free, control or collect), they get assigned a Guide for onboarding support
- An auto-message from the assigned Guide is populated in the #admins room

[2022-09-16 19:41] Santhosh-Sellavel commented on #9510
Saving sensitive info like email, password, 2fa code in local storage has security vulnerability. Especially, storing password is not a good idea for security.

I believe there is no issue saving it temporarily, as we would clear the data once the login is successful.

@puneetlath Let me know your thoughts.

[2022-09-16 19:42] mallenexpensify commented on #10329
Hired @rawalyogendra and @Santhosh-Sellavel .  @dhairyasenjaliya , please apply so I can pay for reporting the bug, once the issue is fixed

[2022-09-16 19:44] youssef-lr commented on #10818
This was fixed yesterday.

[2022-09-16 19:44] #10818 closed

[2022-09-16 19:45] Santhosh-Sellavel commented on #10426
No this would cause regressions in iPads!

[2022-09-16 19:46] trjExpensify commented on #11060
So this is interesting.. I wonder whether we should do something about the fact that users on the `applause.expensifail.com` domain create a bunch of new policies regularly that will get assigned to an agent?

We don't want to block that, as we need to have this key onboarding flow included in regression testing, but it's definitely a bit noisy for the lucky agent that has been assigned the applau

[2022-09-16 19:47] Puneet-here commented on #10356
Sorry, I didn't get the time to look into this. I will try in the morning.

[2022-09-16 19:47] Santhosh-Sellavel commented on #10905
@aimane-chnaif
Your proposal is redundant as https://github.com/Expensify/App/issues/10905#issuecomment-1244097571

[2022-09-16 19:50] thesahindia commented on #11060
Actually the agents gets assigned to all the default rooms so they are also getting assigned for contributors on creating a new workspace.

[2022-09-16 19:50] tgolen commented on #10990
I'll give you bonus Tim-Points if you remove that in your PR :D

On Fri, Sep 16, 2022 at 1:23 PM Puneet ***@***.***> wrote:

[2022-09-16 19:53] Puneet-here commented on #10990
Hahaha 😄 I definitely wanna earn Tim-Points, I will remove all of them.

[2022-09-16 19:57] Santhosh-Sellavel commented on #10905
We are not moving forward as it does not meet our requirements!

[2022-09-16 20:09] mallenexpensify commented on #11021
@parasharrajat can you apply please and confirm here once you have?
https://www.upwork.com/jobs/~01c28bfad13126d387

[2022-09-16 20:10] luacmartins commented on #11058
I was able to reproduce reliably as well, but I also see the problem in prod. I'll remove the blocker label and make this an external issue.

[2022-09-16 20:11] luacmartins commented on #11058
Actually, I'll keep this one internal since it might involve the new API command.

[2022-09-16 20:13] luacmartins commented on #11043
Checking https://github.com/Expensify/App/issues/11058 off since it's on prod.

[2022-09-16 20:14] mallenexpensify commented on #6438
Thanks for the ping @parasharrajat , for some reason I didn't see the post from you two days ago @JosueEchandiaAsto .  Apologies for the delay in payment.  I just issued you a $250 bonus on the same Upwork job.  Thanks for the help!

[2022-09-16 20:15] Santhosh-Sellavel commented on #10512
@puneetlath This issue is no longer reproducible, so I think there is no reason to proceed with this!

`onChangeFirstName={firstName => setTimeout(() => this.setState({firstName}))}`

This is no longer available

@aimane-chnaif is proposing some sort of improvement, so we should start this from slack to decide "do we really need this?"

Thanks!

[2022-09-16 20:18] JosueEchandiaAsto commented on #6438
Thanks @mallenexpensify

[2022-09-16 20:22] arielgreen commented on #8846
Reposted job: https://www.upwork.com/jobs/~018cf2c599b90afaee

[2022-09-16 20:23] Santhosh-Sellavel commented on #10622
Sorry for the delay here!
@puneetlath
Actually, @christianwen proposal solves the issue, but I am not sure this is the right way and am afraid of missing something else in the context here. So can we have a look from internal who is familiar & involved in implementing this moving forward?

[2022-09-16 20:25] arielgreen commented on #8592
@dhairyasenjaliya can you confirm whether you will be submitting a separate proposal for this issue?

[2022-09-16 20:28] arielgreen commented on #10847
https://www.upwork.com/jobs/~01dfdf91764d8f970f

[2022-09-16 20:31] francoisl commented on #11043
Thanks, with that I'm going to check https://github.com/Expensify/App/pull/10974 which is passing for me.

@mvtglobally this means we just have these three PRs left:

- #10936
- #10468
- #10838

[2022-09-16 20:32] luacmartins commented on #8503
Not too sure. The [docs](https://reactnative.dev/docs/new-architecture-library-intro#migrating-off-setnativeprops) just mention that it's not supported 😭 They also [mention](https://reactnative.dev/docs/direct-manipulation) that Fabric Native Components achieve similar results to setNativeProps.

I didn't explore any alternative solutions yet, but maybe @rushatgabhane did? I remember that when imp

[2022-09-16 20:32] jayeshmangwani commented on #10233
@Luke9389

reason is simple here, when we are calling
1. `resetFreePlanBankAccount` function on **Yes, StartOver**,
2. it is navigating ReimbursementAccountPage,
3. and in this page we are callling `BankAccounts.fetchFreePlanVerifiedBankAccoun()`that set the empty data for achData

this line will navigate to ReimbursementAccountPage page
https://github.com/Expensify/App/blob/b4b12addac16a3ef375327

[2022-09-16 20:38] mallenexpensify commented on #10990
@aneequeahmad , also, thanks for understanding

We've discussed and reviewed this many time and have updated the CONTRIBUTING.md [here](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#propose-a-solution-for-the-job)

We want issues fixed, and proposals submitted quickly, but we also need to cover our ass in case we decide the fix an issue internally, for some reason.

[2022-09-16 20:38] thesahindia commented on #11019
Ahh, sorry for the late comment but this one also needs settlement.

cc: @mallenexpensify

[2022-09-16 20:41] mountiny commented on #11060
Glad I asked before sending this out 😅

I think this would be easy solution which makes sense. We don't want to block this as it should be part of the testing.

With contributors that might be hard, I assume we just need to take that in as there is not a good way for us to distinguish who is contributor and who is not from the Concierge perspective.

@kbecciv @mvtglobally Could you please update y

[2022-09-16 20:43] mallenexpensify commented on #11019
Thanks @thesahindia , we're in the process of reviewing and updating our process for jobs reported by contributors and fixed internally.  Please keep your 👀 peeled for any, like this, that you run across.  Please accept the job
https://www.upwork.com/jobs/~019a567577f0eaf2c4 and comment on this issue and I'll pay

[2022-09-16 20:46] thesahindia commented on #11019
Yeah, for sure.

Accepted, Thanks.

[2022-09-16 20:56] mountiny commented on #10966
Sorry guys, this is not a bug. Thanks for the proposals but this is not really a natural flow we would have in the app so the fact the modal shows is not a problem as it closes automatically and the App does not crash, which was the original problem.

[2022-09-16 21:00] kakajann commented on #10442
Should I raise a fixing PR?

[2022-09-16 21:00] neil-marcellini commented on #9581
Still on hold.

[2022-09-16 21:06] kbecciv opened #11072 "Web - Chat -When you change the language on the computer, the keyboard shortcut does not work"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensifail.com
2.Log in with any account
3. Change the language on your computer
4. Press Ctrl+SHIFT+K and

[2022-09-16 21:15] kbecciv opened #11073 "[HOLD] Request money - The user's avatar does not appear in the welcome message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with any user
2. Click on the FAB button and select request money
3. En

[2022-09-16 21:29] kbecciv commented on #10975
@parasharrajat Attached full video for reproducing the issue. Credentials used: applausetester+09162022abb@applause.expensifail.com/Feya86Katya

https://user-images.githubusercontent.com/93399543/190779851-22ddfa97-f506-4829-b383-eb605eb130a3.MP4

This video in Web when deleting the Workspace.

https://user-images.githubusercontent.com/93399543/190781088-4df17cf4-4e22-4b39-9516-00391e805245.mp4

[2022-09-16 21:35] neil-marcellini commented on #10437
This is a weird one. I'm out of time for today, but it looks like somehow the notification preference is getting set to "2" in Onyx, and that is getting save on the back end since it comes back in the OpenReport command. Idk why immediately is displayed, maybe because it's the default. Either way there's definitely something wrong here.
![image](https://user-images.githubusercontent.com/26260477/1

[2022-09-16 21:35] ajaynagwani777 commented on #10847
`                    {_.map(displayNamesWithTooltips, ({
                        displayName, pronouns, tooltip,
                    }, index) => (
                        <Text key={displayName}>`

Replace key={displayName} with key={`${displayName}-${index}`}

[2022-09-16 21:38] caphamza commented on #10847
### Proposal

React uses the **key** prop to understand the component-to-DOM Element relation, so we don't have to worry about what changes on every render. **key** should always remains unique, else React will most probably mix up the elements and mutate the incorrect one.

The **key** should remain static across re-renders to maintain the performance. so the best practice is to used _index_ as *

[2022-09-16 21:38] thesahindia commented on #11060
Hey @mountiny, I was thinking if it's possible to write a script in the backend for this, like on sending concierge a specific message we could add the email of that user to a specific list and for which we can block this feature, this way the contributors will be able to test rooms and it won't be a problem for agents, but we will have to ask the contributors to trigger that flow by sending that

[2022-09-16 21:43] dangrous commented on #11057
Seems like something easy for external work. However I'm pretty sure it's due to the keyboard issues that we're handling internally (the place it jumps to/from is where, on my phone, autofill suggestions are shown, and so I think the jump is the phone registering it as a password blank and seeing if it has anything to fill it with - that's not showing in the attached video here but it's the exact

[2022-09-16 21:47] ajaynagwani777 commented on #10847
**Reply**

Keys should not be kept as indexes as it might have negative impact on the performance. The best way is to use a string that uniquely identifies the list item. Refer this - https://reactjs.org/docs/lists-and-keys.html

[2022-09-16 22:09] kbecciv opened #11074 "Web - Chat - Created Workspace in app does not show in Web immediately, only after refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Log in with the same account in Web and app
1. Launch the app and open staging.new.expensify.com
2. Log in with the

[2022-09-16 22:47] marcaaron commented on #11045
Feel free to open it up for more opinions. Personally, I think the purpose of the chat preview is to show you the most recent thing and this seems to be very consistent with how every other chat app I use works.

[2022-09-16 22:51] #10799 closed

[2022-09-16 23:19] arielgreen commented on #10579
@sobitneupane @Tushu17 @parasharrajat Please check your Upwork inboxes!

[2022-09-16 23:24] arielgreen commented on #7822
@andrewlor sorry about that -- just sent over an offer! Once you accept I will pay this out. Thanks!

[2022-09-16 23:26] arielgreen commented on #7822
Super quick turnaround there, thanks. Paid.

[2022-09-16 23:26] #7822 closed

[2022-09-17 00:39] jliexpensify commented on #10990
Hired Rajat and @aneequeahmad

@Puneet-here - can you update your GH profile to include your full name? And can you share me your Upwork profile (or apply here - https://www.upwork.com/jobs/~01149a8ecea788e448)? Cheers.

[2022-09-17 00:40] marcaaron commented on #8503
It would be good to rule out any obvious alternatives, but nothing is really coming to mind. Not entirely sure how you'd implement a `setNativeProps()`. Maybe it is less work than I am imagining it will be.

Maybe the best thing is to just start with one migration and verify performance does not get worse. Then again now sure how easy that will be since we'd maybe need to refactor all components t

[2022-09-17 00:48] jliexpensify commented on #11067
Posted.

Internal - https://www.upwork.com/ab/applicants/1570937596735205376/job-details
External - https://www.upwork.com/jobs/~010b9ddf39e530428a

[2022-09-17 00:49] jliexpensify commented on #11067
Hired @Santhosh-Sellavel

[2022-09-17 03:03] rushatgabhane commented on #9705
@puneetlath payment not due yet.
This issue isn't fixed on native https://github.com/Expensify/App/issues/9705#issuecomment-1241745339

[2022-09-17 03:15] sobitneupane commented on #10233
@Santhosh-Sellavel @Luke9389

In this case, we can handle the error as below. But I am not sure of other circumstances where `bankAccountID` would be missing.
https://github.com/Expensify/App/blob/b4b12addac16a3ef3753273e25c3e58379715a76/src/pages/workspace/WorkspaceResetBankAccountModal.js#L53
[code]

[2022-09-17 03:23] sobitneupane commented on #9418
It looks like the issue is already handled.

[2022-09-17 04:29] aneequeahmad commented on #11051
is this issue the same as i reported [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1661462019061489) ?

cc: @kbecciv

[2022-09-17 04:54] chauchausoup commented on #10975
@kbecciv sorry to interrupt but I didn't got response to this message.

[2022-09-17 04:56] chauchausoup commented on #10975
@kbecciv sorry to interrupt but I didn't got response to this message.

[2022-09-17 05:48] dhairyasenjaliya commented on #8592
@arielgreen currently I have no separate proposal for this issue, I have added a solution just for the iOS app and did try to solve it for safari as well but no luck, so currently this is open to all contributors

[2022-09-17 06:12] ajaynagwani777 commented on #10847
@rushatgabhane can we start with the above proposal?

[2022-09-17 06:53] Puneet-here commented on #10990
@jliexpensify, I have applied to the job.

[2022-09-17 07:10] Puneet-here commented on #10620
We had a similar issue in past (https://github.com/Expensify/App/issues/5712) and it was fixed by this PR: https://github.com/Expensify/Web-Expensify/pull/31925

Just linking it here hoping it will help in the current issue.

[2022-09-17 09:40] jeet-dhandha commented on #10847
### Proposal
- Current proposal solves issue for same display name on active chat.
- Also resolves overall same display name Issue. Even if there are `2` - `RoomHeaderAvatars` in same view.

<img width="1393" alt="Screenshot 2022-09-17 at 3 00 38 PM" src="https://user-images.githubusercontent.com/78416198/190850133-49029e8e-bd61-46b6-af4e-f92ffc46b47e.png">

Please check Rushat.
And also long time

[2022-09-17 09:41] rushatgabhane commented on #10847
Hey 👋

@mananjadhav will be reviewing your proposals here

[2022-09-17 11:44] mountiny commented on #11060
@thesahindia i was more thinking if we could filter if the request to prod/staging comes from localhost and then assign that out to a particular agent which will be more automated as mentioned above for applause.

Not sure how easy/hard it would be to reliably achieve this

[2022-09-17 11:53] thesahindia commented on #11060
The only problem is that it will still happen when we test on staging and production.

[2022-09-17 12:17] PauloGasparSv commented on #11074
Since we are refactoring the workspace creation right now, I'll link this issue there and let it be solved during the refactor! If this remains after the update we can re-open this and work on it separately!
https://github.com/Expensify/App/pull/10863

[2022-09-17 14:22] varshamb commented on #11063
Yes, while saving, image is converting jpeg and jpeg doesn't support transparency.

[2022-09-17 14:53] AliYar-Khan commented on #10971
@marcaaron I am not able to run the app from repo for android ... it gives me this error

[code]

[2022-09-17 15:49] aneequeahmad commented on #10366
### Proposal

**Problem:**

Cursor is overlapping with amount digit due to the following reasons.

- The cursor width is noticeable on mWeb `which can be decreased for mWeb only for this specific amount-input but not needed` because the `font-family: GTAmericaExp-Regular` of amount digit is causing its size to increase and overlap with cursor.

**Solution:**

- font-family if set to `fontFamily.SY

[2022-09-17 16:16] shawnborton commented on #10366
That is not a valid solution as we do not want to change our brand font.

[2022-09-17 16:19] oogushikun commented on #10608
PROPOSAL

Root Cause
In the AnimatedStep component, the component being animated does not stay in view in Safari if said components children is a sectionList. In this case it happens during the participants selection step. Not sure why exactly it's failing but I found a similar issue on the react-animated repo https://github.com/oblador/react-native-animatable/issues/262.

Solution
Applying the an

[2022-09-17 16:25] hoangndm commented on #10847
**Proposal**

- The current proposal solves the issue of the same display name on active chat. You should change key={firstName} to key={firstName + (new Date().getTime()).toString()}

[2022-09-17 16:27] hoangndm commented on #10971
**Proposal**

- I see the problem in ReportUtils.formatReportLastMessageText(lastAction.message[0].text)
You should check empty astAction.message before use ReportUtils.formatReportLastMessageText function.

[2022-09-17 16:27] aneequeahmad commented on #10366
@shawnborton

- we can then reduce the font-weight from bold to normal this will fix the issue too. It will reduce the thickness of text and hence space will be added between cursor and digit.

Video:

https://user-images.githubusercontent.com/36359331/190866811-f733a4d0-351b-4af2-b308-892c99176585.mov

[2022-09-17 17:03] shawnborton commented on #10366
We don't want to change the font weight either, as that would be a branding change.

[2022-09-17 17:13] hoangndm commented on #8846
**Proposal**

I think you should check open camera permission there, if yes then open the camera, if not you should show a popup asking the user to open permission and show the button go to setting.

[2022-09-17 18:49] rushatgabhane commented on #8503
Asked about in react-native-new-architecture working group. https://github.com/reactwg/react-native-new-architecture/discussions/77

[2022-09-17 19:11] jeet-dhandha commented on #10847
@hoangndm
Please check below link why we shouldn't use `new Date().getTime()`.
Link : https://stackoverflow.com/a/54168287/17278253

[2022-09-17 19:36] puneetlath commented on #9705
Just to make sure I understand, there are multiple PRs that make up this issue?

[2022-09-17 19:40] puneetlath commented on #10512
Ok sounds good. Thanks for the detailed proposal. Can you please take it to the #expensify-open-source channel in Slack for discussion, since it doesn't directly relate to this issue anymore. Thanks!

[2022-09-17 19:40] #10512 closed

[2022-09-17 19:44] mananjadhav commented on #8929
An update here, PR is reviewed from C+, should be merged soon

[2022-09-17 20:42] mananjadhav commented on #10903
I've taken @shawnborton's comment here as a 🟢 to @kakajann's proposal and the fact that he has updated the proposals on feedback and raised the PR.

[2022-09-17 21:29] mananjadhav commented on #10847
I agree with `index` not the best way to go about it, but it is better than having dynamic values like `Math.rand` and `new Date`.

I am good with @mdneyazahmad's proposal [here](https://github.com/Expensify/App/issues/10847#issuecomment-1238975662) which uses `tooltip`. Tooltip is based on the login and makes it unique good enough.

@mdneyazahmad I also checked the other console.log error that yo

[2022-09-18 05:51] syedsaroshfarrukhdot commented on #10968
@mallenexpensify @Julesssss should i apply on upwork ?

[2022-09-18 07:11] rushatgabhane commented on #9705
It's more like an expected behaviour than issue to me, but the decision is yours.

@b1tjoy thanks for the investigation. I totally agree with you

[2022-09-18 07:14] rushatgabhane commented on #9705
@puneetlath this issue can be settled. I agree with @b1tjoy that native platforms have the expected result too.

[2022-09-18 07:28] mollfpr commented on #9510
I have another proposal that will prevent the children (`LoginForm`, `PasswordForm`, and `ResendValidationForm`) from re-render.

[code]

Only change the styles and re-render the `graphicLayout` when the screen size is changed.

**Result**

https://user-images.githubusercontent.com/25520267/190890817-1ecad7ed-7b37-4966-ae17-033f60f2d1fe.mov

https://user-images.githubusercontent.com/25520267/19089

[2022-09-18 09:11] akshayasalvi commented on #10356
**Proposal**

I checked the requirements and the Gemoji dataset. Following is what I propose for the code.

1. Take a dump of gemoji data as json
2. Run the script mentioned below
3. Copy data json to our src/assets/emojis.js file.

I also found that we can add `alias` to our dataset for future use. Also, I have merged keywords from our old dataset to new dataset so that we don't lose keywords. Fo

[2022-09-18 10:19] akshayasalvi commented on #10926
**Proposal**

Just changing the default skintone to -1 won't help because when we retrieve the value from Onyx, it is in string format. Here are the changes that needs to be done:

1. Change `CONST.DEFAULT_SKIN_TONE` to `-1` from `default`
2. In `src/components/EmojiPicker/getSkinToneEmojiFromIndex`, update the _.find call so that it checks the right now.

[code]

But there's a catch, for a lot of

[2022-09-18 10:30] melvin-bot[bot] opened #11077 "[$500] Investigate: 💥 Crash 💥 `getPolicyName`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: JavaScriptError
### Cannot convert undefined value to object
### `main.jsbundle:162061:30 line 162061` `getPolicyName`
### Number of Crashes: 8

## Device Information
* **Platforms:** iOS, Android
* **App Versions:** `1.2.0.8`, `1.2.4.2`, `1.2.7.0`, `1.2.11-1`
* **Devices:** Apple iPh

[2022-09-18 14:23] eVoloshchak commented on #10928
I checked it, https://github.com/Expensify/App/pull/10147 was the PR that caused this, thanks @parasharrajat for pointing this out.

**Solution:**
This is a controlled input, but currently in [updateAmount](https://github.com/Expensify/App/blob/916452af6f4d4b83dc3d77efd00203c53be4eeb8/src/pages/iou/steps/IOUAmountPage.js#L197) we update `amount`, but don't update the `selection`. Let's fix that

[

[2022-09-18 18:35] kbecciv opened #11078 "Android - Manage members - some time Warning message doesn't show or is gone in a less than second @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go to settings > workspace > manage member
4. Tap on your name multiple time
5. C

[2022-09-18 18:42] mountiny commented on #11060
I see but I feel like maintaining any kind of list for this would be too much effort. I guess we can just take testing in production and staging by contributors as something we cant do much about.

[2022-09-18 18:55] kbecciv opened #11079 "[HOLD for payment 2022-10-18] [$250] Workspace - User can edit/delete and use other actions in the archived chat (only emoji picker is disabled at edit field) @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com and log in with any account
2. Create a workspace
3. . Search the announce room for it
4. Open

[2022-09-18 19:10] kbecciv opened #11080 "[$250] Attachment - Sender can't preview .tiff file while sending @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1, Open Website/App NewDot
2. Go to chat.
3. Send a .tiff attachment.

## Expected Result:
Attachment should open in preview whil

[2022-09-18 19:43] davidcardoza commented on #11079
I was able to reproduce on NewDot following the steps outlined in the OP. Sending out to engineering.

[2022-09-18 20:22] thesahindia commented on #11060
Yeah, I agree with it.

[2022-09-19 00:26] Christinadobrzyn commented on #8595
@parasharrajat I just paid out this job $500 for the original amount and $1500 as the bonus. Please feel free to reach out with any questions! Thank you!

[2022-09-19 00:26] #8595 closed

[2022-09-19 02:44] mvtglobally commented on #11043
Regression is completed

PR  #10468 is failing due to https://github.com/Expensify/App/issues/11058. We were not able to see in PROD, but since the blocker is removed, are we ok to check it off?
PR https://github.com/Expensify/App/pull/10838 is failing due to https://github.com/Expensify/App/issues/11068. Its also in PROD, so checking off

[2022-09-19 03:00] sobitneupane commented on #11079
**Proposal:**
This can be achieved by disabling the context menu item `edit` when the report is archived.
https://github.com/Expensify/App/blob/56dcf61a18dc391b6f52f05d05cb975f8352b63a/src/libs/ReportUtils.js#L99-L106
[code]
 We might want to disable delete as well for Archived Room(not sure).
 https://github.com/Expensify/App/blob/56dcf61a18dc391b6f52f05d05cb975f8352b63a/src/libs/ReportUtils.js#L

[2022-09-19 03:07] sobitneupane commented on #11079
@davidcardoza @stitesExpensify I just wanted to inform that no one is assigned to this issue.

[2022-09-19 03:42] RachCHopkins commented on #11080
Triaged - replicated exactly in my test account on new dot web.
![image](https://user-images.githubusercontent.com/32854888/190945469-82cdcdca-9455-483c-8ee4-8f4f90eeb620.png)

[2022-09-19 04:13] mvtglobally opened #11081 "Bug: New chats in LHN aren't loading at launch or reopening of app when authToken expires"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Quit desktop app
2. Have messages sent to you
3. Open desktop app
4. Observe new chats sent aren't showing in LHN

## Expected

[2022-09-19 04:18] mvtglobally opened #11082 "[Performance] There’s constantly a pretty long delay between a message appearing in the LHN and that same message appearing in an individual’s chat."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open chat with User A and send message
2. Put computer to sleep - mac
3. User A sends message
4. See new chat in LHN but not

[2022-09-19 04:27] mvtglobally opened #11083 "[HOLD #227234] [$8000] Mark as Unread functionality not working with offline mode - reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go any chat
 2. click on any message and mark that message as   unread
 3. kill the app
 4. reopen app and check chat

## Exp

[2022-09-19 04:29] mvtglobally opened #11084 "Members list blinking when user goes from offline to online - reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. turn off Internet Connection
 2. Go to settings > Workspace >Manage Members
 3. turn on Internet Connection
 4. check members

[2022-09-19 04:35] mvtglobally opened #11085 "[HOLD for payment 2023-02-18] [$2000] [Image][Feature] Show a user friendly name for the attachment images for take pictures option - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
IMO, Showing vague names or using terms like temp or image_picker in the name is not good for brand value. I have seen many users making f

[2022-09-19 04:45] mvtglobally opened #11086 "[HOLD for payment 2022-11-29] [$250] Deleting a comment unresponsive after right click to copy - reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any chat > long press on any message
2. click copy to clipboard or mark as read
3. before closing popup click on delete

[2022-09-19 04:49] mvtglobally opened #11087 "[HOLD for BZ checklist] [$2000] Android - Add Phone number UI not consistent - reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to setting > profile > Add phone number
2. click on password
3. check send validation button

## Expected Result:
Send vali

[2022-09-19 04:49] kakajann commented on #11080
It works on iOS. **Platform** in the description should be updated
<img width="618" alt="Screen Shot 2022-09-19 at 9 49 45 AM" src="https://user-images.githubusercontent.com/11542415/190951610-68d99862-564e-4a74-8e41-c2244d8da685.png">

[2022-09-19 04:56] mvtglobally opened #11088 "[HOLD for payment 2022-10-20] [$250] Spacing at the top in skeleton ui at iPad - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on Search icon
2. Navigate to a chat
3. Look at the skeleton ui

## Expected Result:
There shouldn't be extra space

##

[2022-09-19 05:00] mvtglobally opened #11089 "[$4000] iPad (safari) - Change password, new chat & new group page the field gets focused but the keyboard doesn't open - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Go to settings > security > change password

## Expected Result:
The keyboard should open

## Actual Result:
The keyboard doesn't

[2022-09-19 05:02] mvtglobally opened #11090 "Picker UI is not consistent at safari - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings > preferences

## Expected Result:
The picker is not consistent and looks broken

## Actual Result:
Describe wh

[2022-09-19 05:09] mvtglobally opened #11091 "[HOLD for payment 2022-10-21] [$250] App crash while navigating back from Contacts - reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
2. click on + icon > new chat
3. go back to home page before keyboard open

## Expected Result:
App Should not crash

## Actual R

[2022-09-19 05:13] mvtglobally opened #11092 "[HOLD #11768] Wrong URL when new chat is selected from new chat list - Reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open web app and see the opened chat and its URL.
2. Click on + icon in LHN > new chat.
3. Select any chat in the New Chat lis

[2022-09-19 05:17] mvtglobally opened #11093 "[HOLD for payment 2022-12-20][$2000] [mWeb] keyboard hides while converting Composer to full size - reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. go to any chat
2. type multiple lines
3. click on expand button

## Expected Result:
keyboard should not hide

## Actual Resul

[2022-09-19 05:19] Christinadobrzyn commented on #11064
Created Upwork job -

Internal positing - https://www.upwork.com/ab/applicants/1571730470955716608/job-details
External posting - https://www.upwork.com/jobs/~016e2332b8b70f7672

[2022-09-19 05:20] mvtglobally opened #11094 "[HOLD for payment 2022-12-09] [$1000] [Bug] mWeb - If you close the keyboard using native back button then it will keep reopening while selecting the contacts - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Tap on :green-plus-button: > New group
2. Close the keyboard by tapping native back button
3. Select a user

## Expected Resu

[2022-09-19 05:27] mvtglobally opened #11095 "[HOLD for payment 2022-10-24] [$250] Cursor disappear if we choose the same currency from the currency selector - reported by @daraksha-dk"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any chat > Send Money
2. Choose the currency which is already selected

## Expected Result:
The focus should not disappe

[2022-09-19 05:32] mvtglobally opened #11096 "[PAYMENT - 01-16: $1000] Android - Console error when any report is opened - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch android app.
2. Click on any report.

## Expected Result:
No console errors

## Actual Result:
Console error Warning: F

[2022-09-19 05:39] mvtglobally opened #11097 "Clicking on concierge@expensify.com link opens the mail app instead of redirecting to the DM."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Check Monthly statement
2. Navigate to questions
3. click on concierge@expensify.com link

## Expected Result:
It should redir

[2022-09-19 05:41] mvtglobally opened #11098 "workspace photo not updating immediately - reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1.   go to any space
2.   change photo

## Expected Result:
photo should be update immediately

## Actual Result:
takes 2-3 seco

[2022-09-19 05:52] Christinadobrzyn commented on #11092
Oh interesting! Sending to eng for a second opinion on getting this job in Upwork - seems worth it

[2022-09-19 05:53] mvtglobally opened #11099 ":pencil2: in Left Hand Nav (LHN) for draft messages is being removed and draft isn't showing after signing out/in."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a couple draft chats
2. Sign out then sign in again

## Expected Result:
Previous drafts to show at top of LHN with :pe

[2022-09-19 05:56] mvtglobally opened #11100 "Feature Request: Insert a space after an emoji is selected"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
When sending messages and including an emoji, after you've selected the emoji and continue to type your message, a space isn't added so it

[2022-09-19 05:58] Christinadobrzyn commented on #11084
oh interesting, I'm not sure if this will be part of the bigger offline project. I can't find any other GHs related to this but going to get a second opinion from eng about this fix happening now or later.

[2022-09-19 05:58] varshamb commented on #11095
### PROPOSAL
This issue can be fixed like the `TextInput` focused in AddSecondaryLoginPage.js

[App/src/pages/settings/AddSecondaryLoginPage.js](https://github.com/Expensify/App/blob/3e410ef9deebf3ee700f0f98d30989abf1a859e8/src/pages/settings/AddSecondaryLoginPage.js#L95-L101)

Lines 95 to 101 in [3e410ef](https://github.com/Expensify/App/commit/3e410ef9deebf3ee700f0f98d30989abf1a859e8)

 <ScreenW

[2022-09-19 06:02] mvtglobally opened #11101 "[HOLD for payment 2023-05-05] [$500] Android - Downloaded photo is not appearing in the photo album"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Receive couple photos in the chat
2. Navigate to the image
3. Download
4. locate photo in the album

## Expected Result:
 if u

[2022-09-19 06:17] RachCHopkins commented on #11078
Tested on Samsung on v1.2.0-8 and was not an issue.

[2022-09-19 06:21] RachCHopkins commented on #11086
Working on v1.2.0-8

[2022-09-19 06:25] gadhiyamanan commented on #11078
@RachCHopkins still able to reproduce on v1.2.0-8 https://user-images.githubusercontent.com/54790231/190960051-fddadebb-8a3c-405e-b7df-a31d7d122c7c.mp4

[2022-09-19 06:26] sobitneupane commented on #11100
**Proposal:**
We can insert space after an emoji in `addEmojiToTextBox(emoji)` function.
https://github.com/Expensify/App/blob/3335b188ce86ba413f4098f6905926e737870ce3/src/pages/home/report/ReportActionCompose.js#L312-L325
[code]

[2022-09-19 06:59] Santhosh-Sellavel commented on #10518
@AndrewGable there is no one assigned here

[2022-09-19 07:00] Santhosh-Sellavel commented on #10875
Waiting for proposals

[2022-09-19 07:01] Santhosh-Sellavel commented on #10729
On hold

[2022-09-19 07:05] sobitneupane commented on #11095
**Proposal**
When component updates without change in currency code, it is being returned without focusing text input.
https://github.com/Expensify/App/blob/3335b188ce86ba413f4098f6905926e737870ce3/src/pages/iou/steps/IOUAmountPage.js#L74-L80
[code]

[2022-09-19 07:17] davidcardoza commented on #11079
Assigned to @stitesExpensify I am not sure how he was unassigned. I must have fat fingered the auto assignment.

[2022-09-19 07:19] davidcardoza commented on #11081
I was able to reproduce this issue. Chats I read on desktop still appearing as unread on mobile happens to me often actually. I have to sign out and sign back in on mobile to clear the messages. Assigning to engineering

[2022-09-19 07:20] MonilBhavsar opened #11102 "[HOLD for payment 2022-10-24] [$250] Resolve cyclic dependencies lint errors"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

There are some silenced cyclic dependency lint errors in our codebase. They were silenced in this [PR](https://github.com/Expensify/App/pull/10244) as

[2022-09-19 07:34] laurenreidexpensify commented on #10950
@tgolen is this good to get the exported label?

[2022-09-19 07:40] sobitneupane commented on #11095
@davidcardoza No one is assigned for this isssue.

[2022-09-19 07:45] techievivek commented on #10928
Just checked with the team on how we need to handle this. I will put the updates here. Thanks

[2022-09-19 07:48] techievivek commented on #10442
@michaelhaxhiu Can you suggest the next step for this one? Thanks

[2022-09-19 07:53] NikkiWines commented on #10599
Ah, sorry, this is my bad. Unassigned myself too quickly after the `External` label was assigned so it also unassigned @JmillsExpensify. Re-applying the label.

[2022-09-19 08:09] rushatgabhane commented on #10928
I'll work on the RCA

[2022-09-19 08:30] melvin-bot[bot] opened #11103 "[$250] Investigate: 💥 Crash 💥 `com.facebook.react.bridge.CatalystInstanceImpl.jniLoadScriptFromAssets`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.RuntimeException
### Unable to load script. Make sure you're either running Metro (run 'npx react-native start') or that your bundle 'index.android.bundle' is packaged correctly for release.
### `CatalystInstanceImpl.java` `com.facebook.react.bridge.CatalystInstanceImpl.jniLoadS

[2022-09-19 08:30] melvin-bot[bot] opened #11104 "[$8000] Investigate: 💥 Crash 💥 `com.facebook.react.uimanager.ViewGroupManager.addView`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.IllegalStateException
### java.lang.IndexOutOfBoundsException: index=1 count=0
### `ViewGroupManager.java line 37` `com.facebook.react.uimanager.ViewGroupManager.addView`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.0-4`
* **D

[2022-09-19 09:11] NikkiWines commented on #9459
@parasharrajat were you able to reproduce this issue?

[2022-09-19 09:28] tylerkaraszewski commented on #11051
staging.new.expensifail.com isn't a thing, this needs to be done at staging.new.expensify.com.

The reproductino steps are fairly complex, see the video for how this is done.

This looks like a front end video where something is likely not checked for `null`. I will mark it as internal.

[2022-09-19 09:49] bfitzexpensify commented on #4733
ooo the next two weeks - getting this re-assigned

[2022-09-19 09:49] bfitzexpensify commented on #9253
@parasharrajat @Santhosh-Sellavel any chance you can help here?

[2022-09-19 09:50] bfitzexpensify commented on #9253
ooo next two weeks - reassigning

[2022-09-19 09:51] bfitzexpensify commented on #10356
reassigning as I head ooo for 2 weeks

[2022-09-19 09:52] bfitzexpensify commented on #10366
reassigning - ooo for 2 weeks. @puneetlath we're still looking for proposals, last doubled on Friday

[2022-09-19 09:56] bfitzexpensify commented on #10731
Doubled to $500. Reassigning as I head ooo for 2 weeks

[2022-09-19 10:00] techievivek commented on #10928
I just discussed it with the team and since this is a clear case of regression we would want @eVoloshchak to push a PR fixing this.

[2022-09-19 10:01] eVoloshchak commented on #10928
If the solution I proposed looks good to you, I can push a PR

[2022-09-19 10:04] rushatgabhane commented on #10928
@eVoloshchak yea, let's do it!

[2022-09-19 10:05] bfitzexpensify commented on #10526
Reassigning this since I'm heading ooo for 2 weeks

[2022-09-19 10:06] pecanoro commented on #11092
I reproduced this, the problem here is that when you create a new chat, the URL does not get updated and the one with the previous chat stays.

[2022-09-19 10:07] mountiny commented on #11060
Just bumping this so it is not lost in the discussion:

What Tom said: https://github.com/Expensify/App/issues/11060#issuecomment-1249739207

[2022-09-19 10:13] nkuoch commented on #11072
From the video it doesn't look like you're pressing Ctrl+SHIFT+K after switching the language, as the keyboard keys are not placed in the same positions. So, closing.

[2022-09-19 10:13] #11072 closed

[2022-09-19 10:14] pecanoro commented on #11081
I am marking this as a bug and not a feature request since from the user's perspective and oh well common sense, marking something as read should sync between platforms and it's pretty annoying when this happens.

[2022-09-19 10:14] bfitzexpensify commented on #10947
Unassigning as I'm heading ooo for 2 weeks. No proposals yet, due to be doubled in 2 days.

[2022-09-19 10:16] bfitzexpensify commented on #10993
@Naishadh8115 please post your proposal here for review

[2022-09-19 10:16] bfitzexpensify commented on #10993
Reassigning as I'm heading ooo for 2 weeks.

[2022-09-19 10:41] NicMendonca commented on #10688
@srikarparsi @parasharrajat anything I should be doing here?

[2022-09-19 10:42] NicMendonca commented on #8236
@Santhosh-Sellavel would you like to review @aimane-chnaif's proposal?

[2022-09-19 10:46] bfitzexpensify commented on #10993
@Naishadh8115 as mentioned in the cover letter on Upwork, we need you to submit your proposal here for review:

[2022-09-19 11:01] syedsaroshfarrukhdot commented on #10968
@parasharrajat @mallenexpensify  @Julesssss  Just submitted a proposal on Upwork.

[2022-09-19 11:05] sketchydroide commented on #11068
I'm not sure this is a bug or a feature, that looks like a security feature, not sure if it should be active for a test account, but it seems like the kind of thing that sould sometimes happen.

@marcaaron @MariaHCD maybe one of you know more about this, or can direct to someone that does?

[2022-09-19 11:09] sketchydroide commented on #10625
@chiragsalian not sure why it assigned you if I can myself take this?
Feel free to unasign if you want, or if you want to keep it unasign me 🤷🏼

[2022-09-19 11:33] MariaHCD commented on #11068
As I understand it, on production, Onfido should be the next step after the personal information form (source: [SO](https://stackoverflow.com/c/expensify/questions/342))

However, when adding the test bank account on staging, we skip Onfido (source code [here](https://github.com/Expensify/Web-Secure/blob/7bf5057c192dcff46fd88db1f0f99ba0a5143835/lib/BankAccount/VerificationAPI.php#L560-L572))

So:

[2022-09-19 11:47] flodnv commented on #9418
@Beamanator do you think this should be fixed now? If not, where's the refactor issue that could solve this?

[2022-09-19 12:25] Beamanator commented on #9418
Yes this should have been solved! Will find & link the issue here: 👀

[2022-09-19 12:40] joekaufmanexpensify commented on #10885
Hm, yeah. I just tried again now and was able to reproduce now on v1.2.0-8 when navigating to the settings page and then closing.

[2022-09-19 13:36] sonialiap commented on #10887
back from OOO, looking at this now

[2022-09-19 13:49] NikkiWines commented on #11095
The cursor re-appears if you click in the area once more, so this is a really small and unobtrusive bug but looks good for `External`. Applying the label 👍

[2022-09-19 13:52] sketchydroide commented on #10414
no sorry, it's weird, but I' sure I did not have you comment with the screenshot when I wrote my comment, maybe GH did not refresh it, weird.

[2022-09-19 13:55] laurenreidexpensify commented on #10426
now $500

[2022-09-19 13:57] flodnv commented on #9418
I test & can confirm this is fixed. @kadiealexander please issue payment to @aswin-s for reporting & @sobitneupane for helping us identify this issue in the code refactors that led to fix this.

[2022-09-19 14:04] sonialiap commented on #10887
I'm not able to reproduce the steps in this issue, but I am able to reproduce the steps in this one https://github.com/Expensify/App/issues/10952 which covers the same or very similar issue. Closing in favor of #10952

[2022-09-19 14:10] puneetlath commented on #9510
I like this approach a lot better. However, I don't think the CPA card image should be showing below the form for the medium size screen.

[2022-09-19 14:20] luacmartins commented on #11058
Gonna try to investigate this issue this week

[2022-09-19 14:21] luacmartins commented on #10216
I'll investigate this sometime this week

[2022-09-19 14:22] luacmartins commented on #10267
Will try to work on this sometime this week

[2022-09-19 14:22] sonialiap commented on #11100
The suggestion sounds good to me 👍

[2022-09-19 14:35] luacmartins commented on #11043
I tested https://github.com/Expensify/App/pull/10468 on all platforms and it's a pass. Checking it off.

[2022-09-19 14:36] tjferriss commented on #10991
I was able to reproduce the first part where the wrong URL appeared after closing the Invite member page. I was not able to reproduce the issue with the Paypal page. As mentioned above it looks like there might be similar issues with different pages https://github.com/Expensify/App/issues/10939#issuecomment-1247831362.

[2022-09-19 14:46] MonilBhavsar commented on #9391
As we discussed, Looks like the empty group chat is not removed when we switch to any other chat.

[2022-09-19 14:47] NicMendonca commented on #11095
Job posting: https://www.upwork.com/jobs/~0188e61c5a9ca99f39

[2022-09-19 14:47] MonilBhavsar commented on #10906
Still on hold and review. Also bumping it to weekly while it is on hold.

[2022-09-19 14:50] sketchydroide commented on #11068
thanks, let me check that

[2022-09-19 14:55] Santhosh-Sellavel commented on #9253
I believe this is on hold for Navigation!

[2022-09-19 14:56] tgolen commented on #11063
All right, sounds like this would be an internal issue for us to fix then on the server. It would be nice to support images with transparent backgrounds.

[2022-09-19 14:59] shawnborton commented on #10905
Not overdue

[2022-09-19 15:00] Santhosh-Sellavel commented on #10824
Reviewing this now!

[2022-09-19 15:08] danieldoglas commented on #11081
Adding more context:

I feel like every time I open my app on iOS, it is not updating the current LHN data. Feels like it's not calling `OpenApp`. Old messages appear there as not read, though I've already read them on the web (I don't think this is an Unread indicator issue since it also shows old messages). It doesn't matter if it was in the background for 10min or 12 hours.

[2022-09-19 15:08] tgolen commented on #10356
@akshayasalvi Thanks for the updated proposal. The script looks mostly good to me, but let's not worry about `alias` for now. If we decide to use it in the future, we can incorporate it at that time.

Are you sure there is nothing that will work for automatically detecting the emoji's? I don't think the test you mention would be worth it to add since it only contains a hard-coded list and wouldn't

[2022-09-19 15:16] marcaaron commented on #11081
Ah sorry I did not catch this sooner but meant to throw it in my list of "unread indicators" bugs. Maybe not a great candidate for an `External` issue as it most likely has to do with either Pusher or the web API - both of which are tricky to gain insight in as a contributor.

[2022-09-19 15:17] marcaaron commented on #11081
Also meant for these to be investigated as two separate issues 😄  I'll just create the issue myself next time :ohnothing:

[2022-09-19 15:18] Santhosh-Sellavel commented on #10824
@andrewlor

When you open a pdf that is already received, after clicking on it we are able to scroll using the up/arrow. But why isn't working while sending alone?

Can you check on that, we don't want to auto set focus.

[2022-09-19 15:19] neil-marcellini commented on #11074
#10863 is for adding workspace **room**, not creating a workspace. A lot of people have made that mistake haha. Here is the tracking issue for creating workspaces https://github.com/Expensify/Expensify/issues/220859. Maybe @thienlnam will be fixing this as part of his follow up issues. If not, you should go for it.

[2022-09-19 15:19] marcaaron commented on #11081
@danieldoglas interesting. It should be possible to tell this by looking at logs. I'd expect the behavior to also be the same when running the local app or simulator. Have you tested out this theory?

[2022-09-19 15:20] Santhosh-Sellavel commented on #10699
Issue still occurs waiting for proposals!

[2022-09-19 15:20] mallenexpensify commented on #11099
@mvtglobally were you able to reproduce this?  I'm gonna hold off assigning engineering/Carlos til we know it's reproducible since the 'unread' update from Marc last week might have fixed it

[2022-09-19 15:26] Santhosh-Sellavel commented on #10971
@hoangndm Were you able to reproduce the crash?

[2022-09-19 15:31] Santhosh-Sellavel commented on #10263
@andrewlor does this work for native app?

[2022-09-19 15:33] marcaaron commented on #10971
+1 I am looking at the code and can't figure out how it is even possible. So maybe let's start with an explanation of how it can happen and a reproduction.

[2022-09-19 15:34] marcaaron commented on #10971
@AliYar-Khan Join us in the Slack room and there are many who would love to help!

[2022-09-19 15:34] Santhosh-Sellavel commented on #8236
@aimane-chnaif

Are you proposing to make both` Solution 1 & 2` changes https://github.com/Expensify/App/issues/8236#issuecomment-1248005758?

[2022-09-19 15:34] luacmartins commented on #11043
- API timings seem normal
- Started a thread for a new [Crashlytics error](https://expensify.slack.com/archives/C07J32337/p1663598964422209). We are deploying, since it's only one crash potentially related to a new feature we are still developing and we have an [issue](https://github.com/Expensify/App/issues/11064) to investigate it.

[2022-09-19 15:34] luacmartins commented on #11043
:shipit:

[2022-09-19 15:37] michaelhaxhiu commented on #7916
PR still open, and waiting for review by rajat

[2022-09-19 15:37] OSBotify opened #11108 "Deploy Checklist: New Expensify 2022-09-19"
**Release Version:** `1.2.2-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10234
- [x] https://github.com/Expensify/App/pull/10244
- [x] https://github.com/Expensify/App/pull/10929
- [x] https://github.com/Expensify/App/pull/11017
- [x] https://git

[2022-09-19 15:43] Santhosh-Sellavel commented on #8236
What do these snippets do?

1:
[code]

2:
[code]

Also, the second snippet seems to be a solution for another bug. We should make we don't make any regression.

[2022-09-19 15:43] onliwer commented on #11095
Proposal

This issue is caused on the IOUAmountPage, the componentDidUpdate function returns before the textInput is focused.
My proposal is to move the focusTextInput to the beginning of the componentDidUpdate function, so it focuses the textInput even when the same currencyCode is selected.

https://github.com/Expensify/App/blob/3335b188ce86ba413f4098f6905926e737870ce3/src/pages/iou/steps/IOUAmo

[2022-09-19 15:44] luacmartins commented on #10525
On hold

[2022-09-19 15:46] AliYar-Khan commented on #10971
@marcaaron sure ... Invite me to slack channel my email is aliyark145@gmail.com

[2022-09-19 15:48] Santhosh-Sellavel commented on #10971
@AliYar-Khan

[2022-09-19 15:49] ctkochan22 commented on #10510
@MitchExpensify can we hire @christianwen pretty please

[2022-09-19 15:52] michaelhaxhiu commented on #10107
Doubling

[2022-09-19 15:52] sobitneupane commented on #11095
Here is my proposal: https://github.com/Expensify/App/issues/11095#issuecomment-1250643247

[2022-09-19 15:54] thesahindia commented on #10906
Hey @mallenexpensify, I just wanted to know if this will be eligible for the reporting as I had reported it [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1657397089778049), It looks like it is getting fixed in another PR so not sure about it.

Little context about the slack thread: We thought the root cause is same for https://expensify.slack.com/archives/C01GTK53T8Q/p1657396762843809 a

[2022-09-19 15:55] iwiznia commented on #10731
Not overdue, Melvin

[2022-09-19 15:56] iwiznia commented on #9823
@parasharrajat what's the status of this?

[2022-09-19 15:57] iwiznia commented on #2727
I think we are still battling with the fork

[2022-09-19 15:58] Santhosh-Sellavel commented on #10971
It might be from the backend or not but on some actions or in a specific scenario the crash is happening on the client side. We should narrow it down before handling it.

[2022-09-19 16:03] hoangndm commented on #10971
@Santhosh-Sellavel

You should check lastAction.message[0].text
if it is not undefined, then use the ReportUtils.formatReportLastMessageText function.
Try it.

[2022-09-19 16:04] kbecciv opened #11109 "Web - Connect Bank Account - When disconnecting the bank account - it directed to Plaid option instead of Connect bank account page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Go Setting - Workspace - Connect Bank Account
4. Use Plaid optio

[2022-09-19 16:04] hoangndm commented on #10971
You can have the Backend simulate a case, returning lastAction.message = null. It will error.

[2022-09-19 16:09] michaelhaxhiu commented on #10952
I'm largely in agreement @parasharrajat.

Do we have a parent issue to track this? If not yet, it would be helpful to create one and link these issues there, then close the individual GHs.

[2022-09-19 16:11] marcaaron commented on #10971
I'm not seeing how it's a backend issue. The user is trying to add a comment which literally creates the `message` field right before. So, it can't be `undefined`... but then we get a crash somehow?

[2022-09-19 16:12] kevinksullivan commented on #10975
Added @chauchausoup as reporter since they did appear to call this out in slack.

[2022-09-19 16:13] Ollyws commented on #11095
Proposal

This issue is caused on the IOUAmountPage, the componentDidUpdate function returns before the textInput is focused.
My proposal is to remove the if statement as it seems redundant in this case.

https://github.com/Expensify/App/blob/3335b188ce86ba413f4098f6905926e737870ce3/src/pages/iou/steps/IOUAmountPage.js#L74-L80

Solution:
[code]
And the result:
[Screencast from 19-09-22 16:31:07.we

[2022-09-19 16:13] bondydaa commented on #10761
I think we can close this out
<img width="400" alt="image" src="https://user-images.githubusercontent.com/4073354/191063850-0933bc35-4229-4800-93ae-19c107e95d2d.png">

[2022-09-19 16:13] #10761 closed

[2022-09-19 16:13] kevinksullivan commented on #10925
Ok I am just going to keep the issues together for posting to upwork then, since I don't want to prematurely divide them up if they are closely related.

[2022-09-19 16:13] adelekennedy commented on #9822
@rushatgabhane @aimane-chnaif @adeel0202 will you apply to the job [here](https://www.upwork.com/jobs/~010b675bfe11a4a9d8)? I had to repost it

[2022-09-19 16:15] hoangndm commented on #10971
@marcaaron  Are you sure that lastAction is never null or undefined?

[2022-09-19 16:15] adelekennedy commented on #8126
What's the status on this, still pending review?

[2022-09-19 16:15] michaelhaxhiu commented on #10893
Job is posted to upwork - https://www.upwork.com/jobs/~01c5b3dd89b6a749b1

[2022-09-19 16:15] kevinksullivan commented on #10925
https://www.upwork.com/jobs/~01f623d5c09c0fbbcd

[2022-09-19 16:16] michaelhaxhiu commented on #10831
@thesahindia invited you to job in case you missed this initially.

[2022-09-19 16:19] michaelhaxhiu commented on #2545
This is holding on birectional scrolling still.

[2022-09-19 16:20] michaelhaxhiu commented on #8235
Un-assigning @thienlnam so this goes back to the pool. With puneet's latest proposal, this is a good one to assign to an engineer for bugzero

[2022-09-19 16:25] marcaaron commented on #9253
The solution provided by @ntdiary is interesting and does seem like we have to do some reanimated magic to create an event.

I was trying to figure out how this could work and didn't get very far. But it feels a bit complex though? Ideally we'd be able to just hook into `react-navigation` and handle a `transitionEnd` event. But maybe they would say it's up to us to solve.

Probably a good idea wou

[2022-09-19 16:30] adelekennedy commented on #10693
@thienlnam thoughts on the proposal above?

[2022-09-19 16:30] hoangndm commented on #10971
@marcaaron  When you add a comment with text empty, Have it an error?
function addComment(reportID, text) {
    addActions(reportID, text);
}

[2022-09-19 16:30] marcochavezf commented on #10412
Hi @kevinksullivan, since we had a similar situation in other issues (there's no [stack trace](https://github.com/Expensify/App/issues/10733#issuecomment-1244889397) to debug / reproduce the issue, and happened in an old version) I think we can close the issue and the Upwork jobs.

[2022-09-19 16:30] adelekennedy commented on #10345
are we still researching this one @roryabraham? Do we need to put this on hold?

[2022-09-19 16:31] mallenexpensify commented on #2985
Missed your comment @chiragsalian , thanks for the ping @michaelhaxhiu

Chirag, any update since your last one?
Looks like the GH for comment linking got bumped back to `Weekly` https://github.com/Expensify/Expensify/issues/147480

Has much changed since the comment linking portion in the comment actions design doc was created? It's been a bit. Maybe a mini doc is in order? Maybe a post in #expens

[2022-09-19 16:33] jasperhuangg commented on #10952
I can create one! Are this issue and https://github.com/Expensify/App/issues/10939 the only two places that it's happening?

[2022-09-19 16:35] marcaaron commented on #10345
I don't think we can put this on HOLD. The Android dev build is unusable. Since one of our main focuses at the moment is improving performance and Android performance is the worst out of all the platforms we would benefit greatly from being able to debug and profile the Android app without workarounds.

[2022-09-19 16:37] marcaaron commented on #10971
Well, I've only looked at the code to make that conclusion. We need a reproduction on Android. 😄

[2022-09-19 16:40] mallenexpensify commented on #10907
:double-price: Doubled price to $ 500 :double-price:
https://www.upwork.com/jobs/~01d1a5f8f05af0d91d

[2022-09-19 16:42] jasperhuangg opened #11111 "Closing certain pages (drawers) navigates to the wrong URL"
## Action Performed:

#### Connect bank account page (https://github.com/Expensify/App/issues/10939):
1. Open web app https://new.expensify.com/
2. Click on user icon on LHN to open setting.
3. Click on user's workspace.
4. Click on Connect bank account.
5. Click on close icon on top right.

#### Default room participant detail page (https://github.com/Expensify/App/issues/10989):
1. Go to staging

[2022-09-19 16:44] jasperhuangg commented on #10952
https://github.com/Expensify/App/issues/11111 @parasharrajat

[2022-09-19 16:45] jasperhuangg commented on #10897
Still experimenting with different ways of calling `API.write` and `navigation.navigate`. Not overdue!

@thienlnam is OOO

[2022-09-19 16:47] mallenexpensify commented on #10735
On hold, @Julesssss , do you think we should leave this as weekly or update to monthly?  I don't have a good handle on how soon we might be working on keyboard related issues

[2022-09-19 16:48] OSBotify commented on #11108
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.2-0 :rocket:

[2022-09-19 16:55] mallenexpensify commented on #10614
:double_price: Price Doubled to $500 :double_price:
https://www.upwork.com/jobs/~0147b4bc6294a1fdec

[2022-09-19 17:00] arosiclair commented on #11073
I can reproduce this however having a delay before seeing the avatar/personal details seems like expected behavior.

@Julesssss @vitHoracek you guys worked on the IOU refactor. Do you think this delay in seeing the avatar for a new chat is expected?

[2022-09-19 17:03] thesahindia commented on #10831
Hey @Julesssss, I also believe we should merge the keys, I can wait for the backend change.

[2022-09-19 17:06] thesahindia commented on #10831
Applied! Thanks.

[2022-09-19 17:20] thesahindia commented on #11019
@mallenexpensify bump ^^

[2022-09-19 17:30] luacmartins opened #11112 "Fix production deploy comments"
Coming from [this thread](https://expensify.slack.com/archives/C07J32337/p1663607918854289). App production deploy comments aren't working.

This is the error in the [workflow](https://github.com/Expensify/App/actions/runs/3083696235/jobs/4985221310):
[code]

[2022-09-19 17:46] shawnborton commented on #9510
I think we should handle any of the design suggestions as a separate issue. For this particular issue at hand, I think we'd just want to fix the form itself.

[2022-09-19 17:49] joekaufmanexpensify commented on #11098
Can't reproduce this at all on iOS now. [Original report](https://expensify.slack.com/archives/C01GTK53T8Q/p1663609717644569?thread_ts=1662315208.529829&cid=C01GTK53T8Q) was almost two weeks ago, so this might have been fixed. Closing for now but will re-open if anyone mentions that they're still experiencing this in Slack.

[2022-09-19 17:49] #11098 closed

[2022-09-19 17:51] joelbettner commented on #11088
I think this can be external.

[2022-09-19 17:59] michaelhaxhiu commented on #10890
Paid.

[2022-09-19 17:59] #10890 closed

[2022-09-19 18:06] puneetlath commented on #9510
Ahh, my fault, I didn't realize it's already like that. I realize now that if your screen is tall enough (yours is much taller than mine) then it is below.

[2022-09-19 18:12] puneetlath commented on #9705
Awesome, thanks for the detail. I agree.

@mdneyazahmad I went ahead and paid.

@rushatgabhane @b1tjoy can you please accept the Upwork hiring offer?

[2022-09-19 18:22] marcochavezf commented on #7079
No update

[2022-09-19 18:30] Beamanator commented on #10872
Doc still in review, holding

[2022-09-19 18:30] Beamanator commented on #10871
Doc still in review

[2022-09-19 18:30] Beamanator commented on #10670
Still on hold

[2022-09-19 18:31] thienlnam commented on #10350
Yeah this is good to close

[2022-09-19 18:31] #10350 closed

[2022-09-19 18:31] Beamanator commented on #9707
Not overdue, still not high priority 🤷

[2022-09-19 18:35] chiragsalian commented on #2985
Well the design doc was pretty light on the technical details for [comment linking](https://docs.google.com/document/d/1vfTkJEOqCu0bVKP9ATKhMqAfLslYMuoL6W80lLCB5U4/edit#bookmark=id.8sti1628sb6m). So from just that high-level idea, it hasn't changed much. But comment linking has a lot of nuances that I feel should be discussed either in more detail in a doc or in a GH plan of action comment.

Sure

[2022-09-19 18:38] kbecciv opened #11114 "Sign in- Two different warning messages displayed when tap Set Password"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Put you new email address in Sign in page
3. Tap Continue
4. Tap a couple times on Resent Link button
5. Go

[2022-09-19 18:51] stitesExpensify commented on #4324
Not overdue, we are in the final stages of review

[2022-09-19 18:59] youssef-lr opened #11115 "[$250] QA test issue"
Ignore.

[2022-09-19 19:14] #11112 closed

[2022-09-19 19:23] thesahindia commented on #10367
@MitchExpensify, this is still reproducible
(ss from latest main branch build)
![Simulator Screen Shot - iPhone 13 - 2022-09-20 at 00 50 26](https://user-images.githubusercontent.com/83179295/191098661-9baf4c43-b17f-4acc-9059-656c8ed518f9.png)

[2022-09-19 19:28] #10785 closed

[2022-09-19 19:39] mallenexpensify commented on #11045
I see both sides...
I'm trying to think through examples of _real world_ usage, ie mobile-only user, consumer, payments, expenses, ??? and I'm unsure what messages _might_ be included in those that someone _might_ want to mark as unread.  I'm going to assign to me for now, put this on hold and label monthly for now.   I _could_ take a poll in #expensify-open-source but I'd prefer to have examples

[2022-09-19 19:40] fbrady01 opened #11116 "New Expensify messages disappearing and reappearing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps
I sent out a message on new.expensify.com stating "Please let me know if there is anything I could h

[2022-09-19 19:40] #11116 closed

[2022-09-19 19:50] sonialiap commented on #11089
I can replicate the behavior 👍

[2022-09-19 19:51] mallenexpensify commented on #11021
Paid! Thanks @parasharrajat

[2022-09-19 20:00] thienlnam commented on #10878
Closing as this should be resolved as mentioned in this comment https://github.com/Expensify/App/issues/10878#issuecomment-1240386319

[2022-09-19 20:00] #10878 closed

[2022-09-19 20:06] thienlnam commented on #10767
Sorry, was OOO but this proposal looks great 🟢 here

[2022-09-19 20:09] NicMendonca commented on #10127
@0xaim don't forget to apply to the [Upwork job ](https://www.upwork.com/jobs/~01bda8500853223a95)so we can issue payment. Thanks!

[2022-09-19 20:13] mallenexpensify commented on #10968
Yup, @Julesssss will be back tomorrow.  Something to do with a Queen? English bank holiday?  👑

[2022-09-19 20:15] tgolen commented on #7948
The last PR is in final stages of review and testing. It should merge this week!

[2022-09-19 20:21] kbecciv commented on #10973
@marcochavezf Issue is reproduced in mWeb/safari. It happens in IOU page as well.

https://user-images.githubusercontent.com/93399543/191109229-e69039f0-8c82-4fd2-b274-f5ad07bc4842.MP4

[2022-09-19 20:25] michaelhaxhiu commented on #10762
cc @JmillsExpensify I'd love your input too, actually.

I've seen 3 or 4 bug reports concerning elements of New Expensify that basically are an extension of Offline First. But given our internal agenda concerning that feature set, should we be accepting proposals/fixes from contributors that relate to offline mode (or not yet)?

We've been closing issues that relate to offline mode thus far. So th

[2022-09-19 20:26] stitesExpensify commented on #10282
Same as :that:

[2022-09-19 20:28] stitesExpensify commented on #4547
No update. We're working on emoji codes though

[2022-09-19 21:04] marcaaron commented on #11081
I just reproduced and checked logs... seems like what happened is that my `authToken` expired and the request was not retried.

https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%2274d535d408d4bc75-SJC%22)+AND+timestamp:[2022-09-19T19:53:20.709Z+TO+2022-09-19T21:53:20.709Z]&index=logs_expensify-018634

`OpenApp` is a `API.read()` request which means it goes through `makeReque

[2022-09-19 21:15] melvin-bot[bot] opened #11117 "[HOLD for payment 2023-01-04] [$500] Investigate: 💥 Crash 💥 `.stringify`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### String length exceeds limit
### `(native):0:0` `.stringify`
### Number of Crashes: 2

## Device Information
* **Platforms:** iOS, Android
* **App Versions:** `1.2.2-0`, `1.2.4.1`
* **Devices:** Apple iPhone14,2 16.0.0, Google Pixel 5 1

[2022-09-19 21:17] stitesExpensify commented on #7968
Apologies for the delay, I have been OOO. I agree with @Santhosh-Sellavel that since we use global listeners in other modals, we should do that here too instead of having different functionalities in different components

[2022-09-19 21:17] marcaaron commented on #11081
Yep that is what is happening. @luacmartins curious if this aligns with your expectations or if you can double check me on this. I'm feeling like if a "READ" request fails because we could not authenticate then we should always retry the request at least once.

[2022-09-19 21:18] ctkochan22 commented on #10926
@akshayasalvi thanks for your input. I decided it would be best to fix the root issue on the server side. If we get an int value, never pass it back to onyx as a string (unless its the 'default').

[2022-09-19 21:29] kbecciv opened #11118 "[Bug] iOS - Chat - The keyboard opens and covers the compose box when have message with a draft"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Login with any account
3. Navigate to a conversation (conv 1)
4.Click on the Pin icon on top right to pin the

[2022-09-19 21:35] kbecciv opened #11119 "[$250] IOU- Green tick is not align properly alongside the amount"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the test app and sign in with any account
2. Complete the request money flow and send a request to another account you ha

[2022-09-19 21:43] stitesExpensify commented on #11084
cc @vitHoracek do you know if this is already being worked on in the policy refactor?

[2022-09-19 21:47] luacmartins commented on #11081
@marcaaron that makes sense. Expired authTokens are fairly common and we should retry the request once. Do we have logic for that anywhere in App?

[2022-09-19 21:47] jasperhuangg commented on #10897
I still don't really understand why we chose to do this and want to get confirmation from @thienlnam first before investigating further. This is causing a bunch of hiccups with navigating to the workspace since we can't use the policyID returned from Auth to navigate since we can't promise chain.

[2022-09-19 21:48] ryanschaffer commented on #11010
Previous message:
Congratulations on creating a Workspace! You can always find your Workspace later by selecting your Profile Photo.

Need Help with account setup, want a product demo, or have questions getting started? Click the "[symbol] Call Icon" in the upper right-hand corner of your account to be connected to a product specialist.

👋🏼 Hey there, I'm Concierge! If you need any help with Expen

[2022-09-19 21:48] neil-marcellini commented on #10437
I think there are two problems here. I put up a draft PR for the first issue where the notification preference picker is updating when the component updates, which happens after the room name saves. However, I'm still seeing the issue occur even when the `UpdateReportNotificationPreference` api command is not called, so I think there's a backend problem as well.

[2022-09-19 21:50] ryanschaffer commented on #11010
Keeping my assignment in case we need follow up

[2022-09-19 21:59] marcochavezf commented on #10973
Oh I see thanks for clarifying @kbecciv, I'm going to apply the `External`label, seems that the blue banner is the cursor selecting in some way the title of the modal.

[2022-09-19 22:03] kbecciv opened #11121 "Room Settings - User is able to type anything in the field when the field is disabled"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log with the expensify account
3. Click on FAB button and create a New Room
4.

[2022-09-19 22:07] marcochavezf commented on #10610
In the second `0:05` the modal blinks for a fraction of a second, I think that is what @isagoico was referring to [here] (https://github.com/Expensify/App/issues/10610#issuecomment-1234564719).

[2022-09-19 22:12] dangrous commented on #11119
Seeing this as well. Updating to External and Weekly!

[2022-09-19 22:14] kbecciv opened #11122 "[$250] Android - New Room - After creating a new room there is no focus in the input field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Login with any expensify account
3. Put on FAB button/create New Room

## Expected Result:
The input field mus

[2022-09-19 22:27] kbecciv opened #11123 "mWeb/Safari - Chat - After opening the image, it opens on top of the whole window"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with any account
2. Go to any chat
3. Upload any attachment
4. Open the

[2022-09-19 22:30] melvin-bot[bot] opened #11124 "[HOLD for #9818] [$500] Investigate: 💥 Crash 💥 `RCTFormatError`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: RCTFatalException: Unhandled JS Exception: Error: Failed to parse the path to a navigation state., js engine: hermes
### Unhandled JS Exception: Error: Failed to parse the path to a navigation state., js engine: hermes, stack:
linkTo@163089:21
navigate@163031:24
navigateToLink@283757:36
_

[2022-09-19 22:30] melvin-bot[bot] opened #11125 "[$250] Investigate: 💥 Crash 💥 `RCTMergeRecursive`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: NSInvalidArgumentException
### -[NSNull countByEnumeratingWithState:objects:count:]: unrecognized selector sent to instance 0x1f59ce740
### `RNCAsyncStorage.m line 182` `RCTMergeRecursive`
### Number of Crashes: 423

## Device Information
* **Platforms:** iOS
* **App Versions:** `1.2.2.0`

[2022-09-19 22:36] kbecciv opened #11126 "[$1000] Web -Chat -Changes made offline will not be saved after connecting to an internet connation, error message displayed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to http://staging.new.expensify.com/
2. Log in with your account
3. Sign in to an existing one or create one #Room
4.

[2022-09-19 22:36] neil-marcellini commented on #10973
I couldn't reproduce this at first. Then I figured out that it only happens if you `long press` on the save button. If you long press in safari it will highlight the nearest text I believe. I think the only way to disable this is to prevent the text from being selectable at all, but I don't think we should do that. I would say this is user error and not a bug. What do you think @marcochavezf @mana

[2022-09-19 22:38] Luke9389 commented on #10579
just waiting on payment to close this out melvin.

[2022-09-19 22:39] Luke9389 commented on #10233
I think I like the try catch idea. What are your thoughts @Santhosh-Sellavel?

[2022-09-19 22:40] jasperhuangg commented on #10897
Hmm let me try rebuilding Auth, I remember building it after pulling your changes but something might have went awry.

[2022-09-19 22:40] Luke9389 commented on #10704
This is on HOLD so it shouldn't be marked Overdue.

[2022-09-19 22:42] vladamx commented on #10148
## Solving [the message got sent but it also stayed in the compose box](https://github.com/Expensify/App/issues/10148#top) mystery

Prequel - Analysis of the issue

Please see comment above for initial analysis as to why exactly input is not cleared.
https://github.com/Expensify/App/issues/10148#issuecomment-1248101508

Solution to the issue above is twofold.

Goals:

1. Make submit faster UI wise

[2022-09-19 22:42] jasperhuangg commented on #11119
Don't have much on my plate atm so I can investigate this one myself and save us $250 :D

[2022-09-19 22:43] mollfpr commented on #9510
@puneetlath Yes, in the video I’m zooming out my browser to present the change when on tall screen size.

[2022-09-19 23:06] neil-marcellini commented on #10437
I thought I found the problem on Web, but it looks like there's more to it. I'll keep working on this tomorrow.

[2022-09-19 23:11] kbecciv opened #11127 "mWeb/Safari - Chat - The chat page changes its dimensions when move two fingers in different directions"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/and login with any account
2. Move two fingers in different directions

## Expecte

[2022-09-19 23:26] mallenexpensify commented on #11019
Paid @thesahindia !  Thanks

[2022-09-19 23:26] #11019 closed

[2022-09-19 23:31] mallenexpensify commented on #2985
I think I _maybe_ accidentally said #expensify-open-source when I meant #engineering.

If there hasn't been a detailed section written to specifically address comment linking, it sounds like it's be useful.  Maybe it'll help with splitting up internal/external issues too

[2022-09-19 23:34] thienlnam commented on #11074
Hmm, we use pusher to send back the new workspace details and so it should work https://github.com/Expensify/Web-Expensify/blob/abe2f6ed97456b84f4a9a9673af6ae0c71235b6f/lib/PolicyAPI.php#L241-L265

@kbecciv Are the default workspace chats created immediately as well or also have the same problem?

[2022-09-19 23:37] thienlnam commented on #11074
And yeah, like @neil-marcellini mentioned this is separate from the default workspace rooms and is already done being implemented so this should be investigated

[2022-09-19 23:38] bondydaa commented on #10885
this should be fine for a contributor to fix

[2022-09-19 23:39] bondydaa commented on #10885
whoops sorry Hax didn't mean to unassign you

[2022-09-19 23:41] thienlnam commented on #11097
This is since it's a webview from OldDot.  We'll have to update the handling so that clicking on that email actually redirects to the chat instead

[2022-09-19 23:41] thienlnam commented on #11097
Will have to be internal since this is on beta currently

[2022-09-19 23:47] thienlnam commented on #10693
Sorry, just got back from OOO

@rushatgabhane Did you have a chance to test those changes locally? The proposal looks good but want to make sure it doesn't impact other button places this is used

[2022-09-19 23:56] mallenexpensify commented on #10973
Posted https://www.upwork.com/jobs/~01c7e042fc552a8fa1
Thanks for updating the title and deets @neil-marcellini

[2022-09-20 00:00] melvin-bot[bot] opened #11129 "[HOLD] [$250] Investigate: 💥 Crash 💥 `.NumberFormat`"
Upwork job URL: https://www.upwork.com/jobs/~01fd65be19b870c454

Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Style 'currency' requires option 'currency'
### `(native):0:0` `.NumberFormat`
### Number of Crashes: 2

## Device Information
* **Platforms:** Android
* **App Versio

[2022-09-20 00:42] mallenexpensify commented on #11081
I've been experiencing a version of "LHN isn't updating when I open iOS app" but haven't captured reliable reproduction steps (it's happened, at least, a few times the past week. v1.2.1-0.  Let me know if I can help with testing or if you want me to try to repro and drop steps in here. Also... I think the issue I'm having is different than the title of this issue, let me know if I can/should start

[2022-09-20 00:43] thienlnam commented on #10093
Haven't had time to look into this, there's likely a bug that causes a switch from displayName to first name when going offline / back online.

[2022-09-20 00:44] thienlnam commented on #8367
I think this is fine to remove, we haven't used it - will get a PR up later

[2022-09-20 00:45] thienlnam commented on #7917
Pending PR

[2022-09-20 01:27] jasperhuangg commented on #10897
Opened a draft PR that allows the `CreateWorkspace` command to be retried when we come back online. Running into a few hiccups however, since somewhere the policy is being set to `{}`, which is temporarily causing the `FullPageNotFoundView` to display until the call to `CreateWorkspace` returns.

https://user-images.githubusercontent.com/31285285/191147074-ed406335-8013-4082-8815-4e49b8442065.mov

[2022-09-20 01:40] varshamb commented on #11119
### Proposal

Use `styles.alignItemsCenter`

[2022-09-20 02:11] stephanieelliott commented on #10891
Posted to Upwork: https://www.upwork.com/jobs/~013fb8003f81392003

As the reporter, @Tushu17 has right of first refusal on this one.

[2022-09-20 02:15] stephanieelliott commented on #11088
Posted to Upwork: https://www.upwork.com/jobs/~01ee96f86077f15321

[2022-09-20 02:45] dhairyasenjaliya commented on #10509
@stephanieelliott am I eligible for reporting bonus here since this issue was reported quite a long time before a new design was introduced

[2022-09-20 03:59] Christinadobrzyn commented on #10767
Hired @andrewlor for the fix and @rushatgabhane as C+ in Upwork

[2022-09-20 04:09] mananjadhav commented on #10356
@tgolen I took sometime to check if something can be done in an automated way.  I couldn't find. Generally the text emojis end with `fe0e` unicode or nothing. So emojis like 😀  don't have text representation so when `fe0e` doesn't exist we don't know if it is ⚰️  or 😀  type emojis.

Checked @akshayasalvi's proposal. It looks good. The only thing is:
1. You're merging the keywords that is a good id

[2022-09-20 04:14] mananjadhav commented on #10608
Missed the proposal here from @oogushikun. Please allow me a day to confirm. I am trying to check if this is a regression because this should've been working earlier!

[2022-09-20 04:18] mvtglobally commented on #11108
Regression is completed.
No Blockers

[2022-09-20 04:52] gadhiyamanan commented on #11086
@RachCHopkins crash was fixed but still not able to delete message .
https://user-images.githubusercontent.com/54790231/191170377-072d998c-1c20-490d-ad30-50ea1fcf640d.mp4

[2022-09-20 05:00] mvtglobally commented on #8597
Issue not reproducible during KI retests. (Forth week) Closing (Reopen if you think otherwise)

[2022-09-20 05:00] #8597 closed

[2022-09-20 05:01] mvtglobally commented on #9061
Issue not reproducible during KI retests. (Third week)

[2022-09-20 05:01] mvtglobally commented on #9938
Issue not reproducible during KI retests. (Third week)
@tgolen ok to Close?

[2022-09-20 05:03] mvtglobally commented on #9662
Issue not reproducible during KI retests. (First week)

[2022-09-20 05:03] mvtglobally commented on #9705
Issue not reproducible during KI retests. (First week)

[2022-09-20 05:04] mvtglobally commented on #10091
Issue not reproducible during KI retests. (Second week)

[2022-09-20 05:04] mvtglobally commented on #10127
Issue not reproducible during KI retests. (Second week)

[2022-09-20 05:05] mvtglobally commented on #10278
Issue not reproducible during KI retests. (Second week)

[2022-09-20 05:05] mvtglobally commented on #10410
Issue not reproducible during KI retests. (First week)

[2022-09-20 05:06] mvtglobally commented on #10526
Issue not reproducible during KI retests. (Second week)

[2022-09-20 05:06] mvtglobally commented on #10608
Issue not reproducible during KI retests. (Second week)

[2022-09-20 05:07] mvtglobally commented on #10609
Issue not reproducible during KI retests. (First week)

[2022-09-20 05:08] mvtglobally commented on #10663
Issue not reproducible during KI retests. (Second week)

[2022-09-20 05:08] mvtglobally commented on #10762
Issue not reproducible during KI retests. (Second week)

[2022-09-20 05:09] mvtglobally commented on #10826
Issue not reproducible during KI retests. (Second week)

[2022-09-20 05:09] mvtglobally commented on #10977
Issue not reproducible during KI retests. (First week)

[2022-09-20 05:10] mvtglobally commented on #11044
Issue not reproducible during KI retests. (First week)

[2022-09-20 05:10] mvtglobally commented on #10483
Issue not reproducible during KI retests. (First week)

[2022-09-20 05:10] mvtglobally commented on #10847
Issue not reproducible during KI retests. (First week)

[2022-09-20 05:12] MonilBhavsar commented on #9391
During refresh it is fine if chat is not removed. So from your video at `0:25` expected behaviour is correct.
But at `0:31` when going back after switching from empty chat to another chat, the empty group chat should have been removed. Thoughts?

[2022-09-20 05:15] MonilBhavsar commented on #10278
Closing this issue. Feel free to reopen if we see this issue again.

[2022-09-20 05:15] #10278 closed

[2022-09-20 05:18] marcaaron commented on #11129
Guessing this is the value that is `undefined` but didn't look deep enough to see why it would be.

https://github.com/Expensify/App/blob/e093383f62a77fea3592f738416d72fdd0c33e46/src/pages/iou/IOUModal.js#L206

[2022-09-20 05:22] mvtglobally commented on #8455
@mallenexpensify we were able to repro 1 out of 2. Doesn't seem to be consistent

https://utest-dl.s3.amazonaws.com/testRunStepMinAttachmentsResult/24567905/Web_8455-1709.JPG?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1695187304&Signature=0p%2FDIrwqQt%2FXAxF%2FtGoRYy4rJzY%3D

[2022-09-20 05:25] mvtglobally opened #11131 "Chrome Web - Copy/pasting brings up a unclear image past growl error"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open up any chat in Chrome
2. Drag-select any text in a chat
3. Copy with Command-C
4. Paste into the compose box with Command

[2022-09-20 05:27] MonilBhavsar commented on #10991
I'm able to reproduce the issue, but looks like a duplicate issue. @parasharrajat could you please confirm. Thank you!

[2022-09-20 05:33] mvtglobally opened #11132 "[$1000] User can't download the production app from playstore"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to playstore
2. Download new expensify
3. Open the app and login
4. Check if it has a stg badge at top

## Expected Result:

[2022-09-20 05:34] srikarparsi commented on #10847
The proposal looks good to me but @mvtglobally did you try reproducing on dev or was it on staging/prod? If it was staging/prod could you try it on dev to see if the issue still persists?

[2022-09-20 05:35] mvtglobally opened #11133 "Url isn't correct when you navigate to concierge from assistance page - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to workspace
 2. Tap on get assistance (top right corner, first option)
 3. "Chat with concierge"
 4. Check the url
 5. Re

[2022-09-20 05:43] mvtglobally opened #11134 "[$250] Email address flickering - Reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open settings > profile
2. remove first name and last name
3. uncheck or check timezone radio button, click on save
4. immedia

[2022-09-20 05:46] mvtglobally opened #11135 "Console error when removing members from workspace - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Click on use icon to open setting page.
2. Click on workspace > manage members > select member >
3. Click on remove

## Expec

[2022-09-20 05:51] srikarparsi commented on #10762
sorry @michaelhaxhiu forgot to respond to this but I do think we could classify this as offline first functionality.

I don't know about the larger-scale question of holding the line or opening it back up though. I feel like we should fix it since even though we don't have as many users on new dot as old dot, it might be the small bugs that are causing people to keep using email to respond to new

[2022-09-20 06:18] Puneet-here commented on #11134
### Proposal

It happens when you save profile changes and there is no name in the profile this causes display name to be empty

We should remove this check https://github.com/Expensify/App/blob/50d42954276ca93d2cc0c9aaec5d0b2bd740f6f4/src/pages/settings/InitialSettingsPage.js#L269

[2022-09-20 06:28] sobitneupane commented on #11114
**Proposal:**
**Reason:** Two errors being shown are returned by `ErrorUtils.getLatestErrorMessage(this.props.session);` (say error1) and `ErrorUtils.getLatestErrorMessage(this.props.account);` (say error2). When the button is loading, "error1" is undefined. So, during that period, 'error2' is being displayed.

My proposal is to show error message only when button is not loading.
https://github.co

[2022-09-20 06:31] sobitneupane commented on #11079
**Proposal:**
This can be achieved by disabling the context menu item `edit` when the report is archived.
https://github.com/Expensify/App/blob/56dcf61a18dc391b6f52f05d05cb975f8352b63a/src/libs/ReportUtils.js#L99-L106
[code]
 We might want to disable delete as well for Archived Room(not sure).
 https://github.com/Expensify/App/blob/56dcf61a18dc391b6f52f05d05cb975f8352b63a/src/libs/ReportUtils.js#L

[2022-09-20 06:37] marcaaron commented on #10148
@vladamx Super nice breakdown!! It seems like there is a ton of great stuff here, but I'm curious which of these solutions were applied to get the behavior in the video you've shared? And not sure what the proposed course of action would be.

I think we will have a tough time implementing all of these ideas at once (in case this is your official proposal to the TextInput issue - which seems like i

[2022-09-20 06:38] #9701 closed

[2022-09-20 06:38] #9704 closed

[2022-09-20 06:59] Christinadobrzyn commented on #11134
I can't find any other GHs that match this same issue so sending to Eng to see if it should be fixed now.

[2022-09-20 07:11] wildan-m commented on #10426
# Proposal Update (3rd)

@Santhosh-Sellavel, please have a look at my 3rd workaround here.

In this workaround, we dynamically set the graphic column with dimension. This way its height will not affect the left column height and I think it will not create regression.

[code]

[2022-09-20 07:15] varshamb commented on #10951
This is not reproducible.

[2022-09-20 07:36] Puneet-here commented on #11114
cc: @MonilBhavsar

[2022-09-20 07:41] vladamx commented on #10148
Hi Marc,

**Actually, this is my official proposal for TextInput issue.** posted as a job on Upwork.
As a side-effect you also get better performance on Report Screen in general.

The solution is UI render performance optimization guided by some of the reasoning in the text above(since that is the heart of the problem with text not clearing) combined with Timers for prioritization of work in order

[2022-09-20 07:46] MonilBhavsar commented on #11114
Thanks for the ping! Looks like a bug from code refactoring. Looking into it

[2022-09-20 07:53] kakajann commented on #11129
# Proposal
I couldn't reproduce this in the app. But the problem is in here
https://github.com/Expensify/App/blob/50d42954276ca93d2cc0c9aaec5d0b2bd740f6f4/src/setup/index.js#L33-L35
that `selectedCurrencyCode` is missing. and the key will be set in componentDidMount function.
https://github.com/Expensify/App/blob/50d42954276ca93d2cc0c9aaec5d0b2bd740f6f4/src/pages/iou/IOUModal.js#L147

## Fix
[code

[2022-09-20 08:17] mountiny commented on #11084
@stitesExpensify I havent worked on this one specifically so I am not sure. I think it was @neil-marcellini who worked on policy related refactorings.

However, I have seen this blinking on unstable wifi in multiple components, so this actually might be related to the offline indicator.

[2022-09-20 08:24] dylanexpensify commented on #10610
@marcochavezf thoughts on doubling?

[2022-09-20 08:24] dylanexpensify commented on #10483
Holding on doubling

[2022-09-20 08:41] dylanexpensify commented on #10148
not overdue

[2022-09-20 08:43] Beamanator commented on #11118
This looks like a useful one to fix, but I'll put it on hold & make it Weekly since we're collecting all keyboard initiative issue 👍

[2022-09-20 08:52] Julesssss commented on #9973
It looks like a ReactNative|iOS issue to me, I would expect to see other reports from people facing this issue.

[2022-09-20 09:01] ntdiary commented on #9253
Yeah. `transitionEnd`, I'm also curious.
I'm glad to submit a PR for `react-navigation`, but I need to look into it first, hope it goes well 🙂

[2022-09-20 09:10] mountiny commented on #10509
@stephanieelliott I think since this was a valid bug at the time of reporting, we should pay @dhairyasenjaliya out a reporting bonus.

[2022-09-20 09:18] Tushu17 commented on #10891
Hey @stephanieelliott, the policy has changed now the reporter doesn't get dibs on an issue. Anyone can post a solution.

[2022-09-20 09:20] laurenreidexpensify commented on #10950
https://www.upwork.com/jobs/~0117a7dd51bf4a5121

[2022-09-20 09:20] vitHoracek commented on #11115
Hola! I am testing contributor

[2022-09-20 09:21] mountiny commented on #11115
Alright, all testing worked, sorry for the pings, closing out!

[2022-09-20 09:22] laurenreidexpensify commented on #10950
heh why isn't this adding a C+

[2022-09-20 09:36] ntdiary commented on #10366
# Proposal
Hi, I'm also interested in this issue and have found some information these days, hoping it can be helpful. 🙂
##  related concepts from [fontforge](http://designwithfontforge.com/en-US/Spacing_Metrics_and_Kerning.html):

<img width="300px" src="https://user-images.githubusercontent.com/8579651/191030100-25ba4cac-080f-4811-b3aa-b6be4a094caf.png" />

## Platform differences
### Android (a

[2022-09-20 09:39] thesahindia commented on #10950
Maybe because we don't have the `help wanted` label here

[2022-09-20 09:54] NikkiWines commented on #9459
Ok cool, @adelekennedy can we re-open this role on UpWork? Thank you

[2022-09-20 10:08] pecanoro commented on #11067
@iwiznia I am not completely sure what we need to do here. I got assigned but I have no clue if you are looking for a CME or C+ to review the PR.

[2022-09-20 10:17] pecanoro commented on #9736
@cdraeger11 were you able to reproduce this on iOS? I don't have an iPhone so I haven't been able and it works fine in other platforms.

[2022-09-20 10:24] pecanoro commented on #10262
@parasharrajat Let me know how you think we should proceed here when you have a moment!

[2022-09-20 10:27] pecanoro commented on #9818
Thanks for the input! Ok, let's keep this open for proposals then. @NicMendonca Can you double the price, please?

[2022-09-20 10:40] Julesssss commented on #10735
Good point, switched to monthly.

[2022-09-20 10:40] dhairyasenjaliya commented on #9736
@pecanoro this issue only exists on iOS

[2022-09-20 11:03] sobitneupane commented on #9181
**Proposal**
**Reason:**
I was able to reproduce the issue only twice. And found that the value of `props.iouReport.ownerEmail` is null at the beginning for some transaction resulting `error={props.session.email !== props.iouReport.ownerEmail}` to be true. Thus, badge remains red for some time.
So, I propose the following change:
https://github.com/Expensify/App/blob/3d76850e2e17baeab5334d4e541e34

[2022-09-20 11:12] akshayasalvi commented on #10356
Thank you for reviewing the proposal @tgolen. I couldn't find a way to automate this. This python package https://github.com/carpedm20/emoji/ uses unicode scraping for the emojis, but if we're using a source like gemoji then it won't make sense for us to scrap the records.

@mananjadhav I can try and add the keywords manually. There are some 150 odd ones, or a script to match the keywords may be.

[2022-09-20 11:15] mananjadhav commented on #10356
Yes @akshayasalvi we can take a look at those and see if we're missing any keywords.

[2022-09-20 11:51] Beamanator commented on #10966
@mountiny just wondering are you saying the "details" modal automatically closes for you when you go to `https://staging.new.expensify.com/details` directly? What about when you type `https://staging.new.expensify.com/details` in a chat and click on it?

For some reason for me only the 2nd flow ^ is still broken on Staging

[2022-09-20 12:00] Beamanator commented on #10960
Possibly don't need migration, can just tell everyone to log out / log in 🤷

[2022-09-20 12:05] mananjadhav commented on #10973
You're right @neil-marcellini about long-press but with safari it should've selected the text on the button. Attached is an example from another website.

![IMG_6910](https://user-images.githubusercontent.com/3069065/191252601-209141ec-2438-416b-9771-72d839d35758.jpg)

[2022-09-20 12:06] mountiny commented on #11060
Posted in [Slack here](https://expensify.slack.com/archives/C9YU7BX5M/p1663675567482279) to take this into account. Closing!

[2022-09-20 12:06] #11060 closed

[2022-09-20 12:08] Beamanator commented on #9545
Looks like this bug is related: https://github.com/Expensify/App/issues/10966

[2022-09-20 12:11] laurenreidexpensify commented on #10826
As this issue hasn't been reproducible for 2 weeks now, am going to close out.

[2022-09-20 12:11] #10826 closed

[2022-09-20 12:15] laurenreidexpensify commented on #10654
Doublechecking if we should close https://expensify.slack.com/archives/C01SKUP7QR0/p1663676075990669

[2022-09-20 12:15] mountiny commented on #10966
Chatted with @Beamanator and he pointed out the fact that infinite spinner appears after clicking the link from chat. This kinda violates one of the premises given in this PR https://github.com/Expensify/App/pull/10820, where we say:

At the same time, the link in concierge on web is not specifically deeplink, right? Nonetheless, lets fix this if we can haha

[2022-09-20 12:19] mountiny commented on #10359
Moving this to Monthly, it is very low ROI right now as it seems it is hard to reproduce.

[2022-09-20 12:22] mountiny commented on #10654
I also could not really reproduce and I think we can close this issue.

[2022-09-20 12:23] mountiny commented on #10966
Thank you @aimane-chnaif What do you think of @aimane-chnaif proposal above 🙌

[2022-09-20 12:39] amyevans commented on #9505
The PR this is held on is in the final stages of review but not yet complete

[2022-09-20 12:40] Santhosh-Sellavel commented on #10966
Check out these comments

https://github.com/Expensify/App/issues/10966#issuecomment-1249698804

https://github.com/Expensify/App/issues/10966#issuecomment-1249712781

Let me know this should be treated as regression Or fixed separately.
Thanks!

@Beamanator

[2022-09-20 12:46] trjExpensify commented on #11010
👋 Coming into this a tad late, but I think this standalone message can get completely cut, it's incapsulated in the second bullet of the new message and we don't need it anymore.

this is a message which user gets if [they create their first non personal policy]

As for this one upon creating a policy with `TYPE_FREE`:

This was added during the launch of N6, because the thought was that people mi

[2022-09-20 12:52] Beamanator commented on #10966
@Santhosh-Sellavel I guess it makes sense to fix this separately, the crash was fixed in the other issue so now let's fix clicking the link here, thoughts?

[2022-09-20 12:52] iwiznia commented on #11121
The field is not disabled, is showing as greyed out, indicating the action is pending and your changes did not save yet on the server.
We know the grey color is a but confusing as it looks disabled and will be addressing that in our upcoming overhaul of the visual design.

[2022-09-20 12:52] #11121 closed

[2022-09-20 12:53] trjExpensify commented on #11129
CC: @mountiny @Julesssss @luacmartins as we've been refactoring the IOU APIs?

Happy to get this one on Upwork if needs be!

[2022-09-20 13:00] trjExpensify commented on #10437
Thank you, Neil!

[2022-09-20 13:18] mountiny commented on #11129
Hmm I think it is fair to get his fixed as it also seems @kakajann already identified a straightforward fix.

[2022-09-20 13:21] mountiny commented on #11010
@trjExpensify A guide will be always assigned to any workspace? Not only the first one right? In that case, the third message should be delivered to customers with any workspace so it makes sense to basically cut out the specific message for first workspace.

[2022-09-20 13:21] mananjadhav commented on #11129
Yeah I agree too. Again I couldn't reproduce but it looks like @kakajann has identified and it seems like the cause for it.

[2022-09-20 13:38] trjExpensify commented on #11010
The assigned guide will remain in the assignedGuide NVP until the customer is onboarded, yeah. So any additional policies they create, the agent already assigned will be invited to them as an admin.

[2022-09-20 13:51] PauloGasparSv commented on #11074
All right! Thks for the help @neil-marcellini @thienlnam :D, I'll investigate this!

[2022-09-20 13:58] tgolen commented on #9938
Yes, thank you for testing it again! I'll go ahead and close it out.

[2022-09-20 13:58] #9938 closed

[2022-09-20 13:58] luacmartins commented on #11108
Checklist is complete. No timing or new crash issues. Ready to ship!

[2022-09-20 13:59] luacmartins commented on #11108
:shipit:

[2022-09-20 13:59] #11108 closed

[2022-09-20 14:02] tgolen commented on #10356
This would probably be a good idea, yeah. I could go for that.

Thanks for the additional thoughts on testing 👍 I guess there is no real automated way to go about it for now, so let's not have any automated testing be part of the proposal. It would maybe be good to think about adding some manual test cases to try and cover our bases at some point for our QA testing team.

[2022-09-20 14:02] OSBotify opened #11139 "Deploy Checklist: New Expensify 2022-09-20"
**Release Version:** `1.2.3-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10706
- [x] https://github.com/Expensify/App/pull/10798
- [x] https://github.com/Expensify/App/pull/10969
- [x] https://github.com/Expensify/App/pull/10997
- [x] https://git

[2022-09-20 14:08] mountiny commented on #11010
Sounds like we can remove the middle message then. Waiting for other thoughts about the First welcome message and the message when guide is assigned.

[2022-09-20 14:08] Puneet-here commented on #11074
Hey I had reported it [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1663260126159989).

[2022-09-20 14:08] Gonals commented on #11059
Good candidate for external!

[2022-09-20 14:21] luacmartins commented on #11126
I can reproduce this. It seems like something [changes the value in Picker](https://github.com/Expensify/App/blob/971eb2fa3103c1153ae9348c067e432c3d4c4a9e/src/pages/ReportSettingsPage.js#L198-L204) and triggers two calls to [updateNotificationPreference](https://github.com/Expensify/App/blob/971eb2fa3103c1153ae9348c067e432c3d4c4a9e/src/libs/actions/Report.js#L1379-L1395), one with the new value an

[2022-09-20 14:21] luacmartins commented on #11126
This can be external.

[2022-09-20 14:23] sakluger commented on #11085
I agree that we don't need to show a temp filename when sending an attachment that is an image from your phone. I would think we can just remove the filename when attaching from the phone.

[2022-09-20 14:25] #11119 closed

[2022-09-20 14:29] sakluger commented on #11093
@neil-marcellini mentioned in Slack that this has been a known issue for a while, but hasn't been reported before. Probably can be worked on by an external contributor.

[2022-09-20 14:34] johnmlee101 commented on #11093
Yep agreed, will open this up.

[2022-09-20 14:40] Julesssss commented on #8846
Thanks, @hoangndm, but we'll need a proposal on this issue. Something like this: https://github.com/Expensify/App/issues/8846#issuecomment-1139662273

[2022-09-20 14:40] MonilBhavsar commented on #11114
Handling internally as it was caused because of refactoring. The refactor code is deployed and we want to push this fix asap.

[2022-09-20 14:41] Julesssss commented on #11073
I don't think it's expected, and we should try to fix because it doesn't happen for new chats that begin with a message instead of an IOU.

[2022-09-20 14:43] mountiny opened #11141 "[Clean up] Remove the shouldShowOfflineMessage parameter from OptionsSelector"
### Problem

The `shouldShowOfflineMessage` parameter has been used only in [one use case](https://github.com/Expensify/App/blob/b1e1fa7a7ba1d643d26fdfd383ac35a0463fca86/src/components/IOUConfirmationList.js#L352) which has now been deprecated.

### Solution

Remove the parameter

[2022-09-20 14:50] michaelhaxhiu commented on #11096
@mvtglobally were you not able to reproduce this one when you tried on android?

[2022-09-20 14:51] mvtglobally commented on #11096
@michaelhaxhiu when I use physical device, I can see the console. So I am not sure if it's repro or not

[2022-09-20 14:51] mountiny commented on #11073
Hmm, it is not expected, but has there been any PR for this merged already? The CreateIOUTransaction which this problem would be related it -> I am just [reviewing it](https://github.com/Expensify/Web-Expensify/pull/34756) 🤔

[2022-09-20 15:04] PauloGasparSv commented on #11074
@Puneet-here Idk if the speed the workspace chats load are directly linked to the workspace not showing in the user profile until we refresh the page! But I think I can investigate everything here.
If I find they are not linked I'll ping you so we can create another issue for that!

[2022-09-20 15:12] arosiclair commented on #10897
I don't think it would. I'm guessing the issue you're seeing is that the optimistic policy is created while offline, however on reconnect `ReconnectApp` deletes the policy because it doesn't exist and then eventually `CreateWorkspace` runs and re-recreates the policy. I would check to see if the `onyxData` for `ReconnectApp` is setting the policy to `null`.

[2022-09-20 15:12] OSBotify commented on #11139
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.3-0 :rocket:

[2022-09-20 15:23] thesahindia commented on #10831
Let me know if we can wait for the backend change. If not I can raise the PR today.

cc: @Julesssss

[2022-09-20 15:29] luacmartins commented on #11129
Agree with the comments above! I'll defer to @marcaaron since he's the CME for this issue.

[2022-09-20 15:29] mollfpr commented on #9391
I believe this is the current behavior on mWeb. The example is on the video https://github.com/Expensify/App/issues/9391#issuecomment-1169979970.

What my proposal did is to show the empty group chat after being created when navigating to another chat and going back to the chat list.

[2022-09-20 15:30] danieldoglas commented on #7941
Closing this so we can use the internal issue to continue to track this https://github.com/Expensify/Expensify/issues/201190

[2022-09-20 15:31] syedsaroshfarrukhdot commented on #10968
Already submitted Proposal on Upwork. I will be making a PR by tomorrow.

[2022-09-20 15:33] arosiclair commented on #11073
Appreciate the insight I'll take a closer look to see why there's this delay

[2022-09-20 15:38] neil-marcellini commented on #10973
@mananjadhav that's a good point that it should highlight the Save button text. There might be some case where the user wants to copy the text in a button and that should work correctly, so let's keep this open as a low priority issue. Maybe we need to pass an `onLongPress` prop to the form button?
https://github.com/Expensify/App/blob/334b2107fe9cfa06ac7bbd26841a55509bb34486/src/components/Button

[2022-09-20 15:40] danieldoglas commented on #7941
Adding full comments here since more people are following this issue than the other one:

@cead22 has applied the GetChat commands, which have a similar processing time that `chatList` had.

[Logs](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%22748c4c68ca8865fb-SJC%22)+AND+timestamp:[2022-09-10T23:31:05.167Z+TO+2022-09-11T01:31:05.167Z]&index=logs_expensify-018512):
[co

[2022-09-20 15:40] #7941 closed

[2022-09-20 15:41] luacmartins commented on #10216
@kavimuru can we add this to the weekly KIs?

[2022-09-20 15:55] Julesssss commented on #10831
@thesahindia let's forget about that for now and create a new refactor issue for merging the keys

[2022-09-20 15:58] trjExpensify commented on #11085
The solution is ambiguous right now, I don't think this is ready to go `external` until we decide on a direction. My two cents..

- I don't like the idea of not showing any name at all, because it lacks consistency with images uploaded from file that do display a name.

- In another issue, [there's discussion](https://github.com/Expensify/App/issues/9402#issuecomment-1237074111) about the need for

[2022-09-20 15:59] Julesssss commented on #10663
Yeah, I agree. If we can't solve an underlying issue then maybe a Web-only code change would be accepted.

[2022-09-20 16:05] thienlnam commented on #11074
@Puneet-here The improvement you reported [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1663260126159989) isn't actually related to this current issue where the workspace created on mobile doesn't show up on Web.

We're also aware of the delay in workspace creation and have another issue pending that solves that UI issue https://github.com/Expensify/App/issues/9971 since the user will b

[2022-09-20 16:07] Julesssss commented on #11085
Ah, I looked at the Slack convo this morning and it looked like we had a solution that uses the read filename instead of a temp one (which i assumed we were generating).

Yeah, I agree with this. Switching to hold for now 👍

[2022-09-20 16:09] JmillsExpensify commented on #11089
Also replicated the behavior. It's reproducible on Safari across all iOS platforms. I've created a job in Upwork here: https://www.upwork.com/jobs/~01f0a06e71a7da3f54. We're open for proposals!

[2022-09-20 16:09] Puneet-here commented on #11074
Ahhh sorry 😶‍🌫️ I saw the video and didn't read the steps carefully, you are right this is totally different.

[2022-09-20 16:10] Julesssss commented on #8846
Is there a reason that we can't use a native mobile only js file, instead of having similar solutions for both iOS & Android separately?

[2022-09-20 16:13] davidcardoza commented on #11087
I can't reproduce on mobile because I am running on iOS. The workflow looks like fine on iOS though. Either way, what's shown on Android should mirror what's shown in iOS
![IMG_BF83BBE593B2-1](https://user-images.githubusercontent.com/6643649/191310316-db53bfb5-912b-4edb-95b7-47ee4c51afbc.jpeg)

[2022-09-20 16:16] stitesExpensify commented on #11084
So it looks like we will be doing some work on the members list page then, should we just put this on hold until those are done?

[2022-09-20 16:38] mallenexpensify opened #11143 "Rajat bonus for fixing 100 issues"
From here https://expensify.slack.com/archives/C01SKUP7QR0/p1631730484322200
Creating issue to correspond with Upwork job for $125

[2022-09-20 16:40] mallenexpensify commented on #11143
@parasharrajat can you accept please? https://www.upwork.com/jobs/~0171485c6abe35f2b4

[2022-09-20 16:43] shawnborton commented on #10366
This is such a great and comprehensive proposal @ntdiary - thanks for putting it together. Ultimately after some discussion in Slack (cc @Julesssss), we agree that it's not worth solving this one and we should just close this out.

That being said, we think you should be rewarded for the diagnostic work that went into your proposal, so we'd like to pay you 25% of the bug amount - cc @puneetlath to

[2022-09-20 16:54] thienlnam commented on #10897
I was testing this and found that the command was queued when we come back online on production? There does seem to be a bug where it just disappears (I wonder if it has to do with pusher data / or maybe the command fails and the onyx data gets re-written?)

[2022-09-20 16:56] marcaaron commented on #11081
It would be here:
 https://github.com/Expensify/App/blob/4110cf23cd1a858217c86b4872f32005de0a204f/src/libs/Middleware/Reauthentication.js#L33-L47

We pass `shouldRetry: true` for writes only so assuming any `read()` or `makeRequestWithSideEffects()` would not be retried at all in the case of a `jsonCode: 407`.

Writes:

https://github.com/Expensify/App/blob/4110cf23cd1a858217c86b4872f32005de0a204f

[2022-09-20 16:57] NicMendonca commented on #10127
@Puneet-here don't forget to accept the Upwork offer so I can issue payment. Thanks!

[2022-09-20 16:58] NicMendonca commented on #10127
@mananjadhav paid - thank you!

[2022-09-20 16:59] Julesssss commented on #8846
We prefer to not use platform conditionals, so it sounds like we'll need two files then :/

[2022-09-20 17:05] MonilBhavsar commented on #9702
^  Deployed

[2022-09-20 17:09] marcaaron commented on #11081
It seems like we could reauthenticate in these cases, but I think we would be unable to "replay" the request due to how `read()` and `makeRequestWithSideEffects()` works.

Here’s an alternative solution and way to think about this problem:

- It’s correct that READ requests should not be retried
- However, if the authToken is expired when doing a READ we should
    - Reauthenticate
    - Call `Rec

[2022-09-20 17:20] iwiznia commented on #11067
Sorry, that was the auto assigner, you are not needed here @pecanoro

[2022-09-20 17:29] marcochavezf commented on #10973
Yup, I agree that text should be selectable but not all the button area which I think any user would perceive it as a bug.

[2022-09-20 17:38] marcaaron commented on #11081
Yeah that's a good point. Hmm maybe in those cases we should be hooking those into the reconnection callbacks here:

https://github.com/Expensify/App/blob/e093383f62a77fea3592f738416d72fdd0c33e46/src/libs/NetworkConnection.js#L19-L25

The reauthenticate scenario should also trigger a "reconnect" event and then individual pages should be responsible for defining their update logic. But instead of t

[2022-09-20 17:40] marcaaron commented on #11081
I'm not entirely sure how this would work but really like the idea of getting rid of the reauthentication logic entirely. Seems like there is a conversation [here](https://expensify.slack.com/archives/C03TQ48KC/p1663093361547109) about this but it feels like we need someone to lead up the investigation.

[2022-09-20 17:41] Puneet-here commented on #10127
Thanks for the ping. I have accepted the offer now.

[2022-09-20 17:50] kavimuru opened #11144 "Web - Chat - Avatar turns solid grey instead of lightly grey out"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #10706
## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with the HT expensifail account
3. Go to Profile -

[2022-09-20 17:54] kavimuru opened #11146 "[$1000] iOS 16 - IOU - Request money - The cursor jumps to the first digit for a moment while adding other digits."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Login with any account
3. Click on the FAB button and select request money
3. Enter an amount

## Expected Res

[2022-09-20 17:54] marcaaron commented on #11129
Fix seems reasonable to me. I would also accept a proposal to provide a default in the component or action itself.

[2022-09-20 17:54] jasperhuangg commented on #10897
@arosiclair ahh thanks for the tip! That was the one place I didn't check yesterday, I figured the policyID would have been set already locally in the optimistic data but maybe not? I'll look into this today.

@thienlnam I can't get the command to requeue in production. In the network tab there's only the initial call that fails because we're offline, and nothing else appears.

Can you confirm the

[2022-09-20 17:55] deetergp commented on #10885
This should be weekly till it has a proposal right?

[2022-09-20 17:55] marcaaron commented on #11129
Actually, I think if we provide the default values like that it might do something annoying like keep overwriting the value with USD each time Onyx inits.

https://github.com/Expensify/react-native-onyx/blob/98260f1deacbcca1a687441164cd45d7d915afb8/lib/Onyx.js#L736-L738

[2022-09-20 17:56] kavimuru opened #11147 "iOS - Singin - The last link sent to reset your password shows an error"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app
2. Enter the login in the signin page
3. Make it send two password reset links
4. Use the old or expired link
5.

[2022-09-20 17:59] adelekennedy commented on #7911
@ctkochan22 what do you think of Matt's comment [here](https://github.com/Expensify/App/issues/7911#issuecomment-1230948353)?

[2022-09-20 18:02] varshamb commented on #11144
### Proposal

Change `spinner: colors.gray4` to `spinner: colors.gray3`

[2022-09-20 18:06] JmillsExpensify commented on #11089
Removing the Exported label from this issue in light of a recent process change.

[2022-09-20 18:07] marcaaron commented on #10148
I am not sure if we agree on this point yet. But, I'm curious to see how bad this `TextInput` issue is after the performance improvements are implemented. Is there a point where we can avoid using a `setTimeout()` or `setImmediate()`?

I'm going to discuss this internally and get back to you on whether we'd move forward on the Timer based solution. I looked at the code for this and it is a bit con

[2022-09-20 18:08] abekkala commented on #11096
If we're not able to reproduce to confirm a bug then I'm going to close this for now.

[2022-09-20 18:08] NicMendonca commented on #10127
@Puneet-here - paid, thank you!

[2022-09-20 18:16] adelekennedy commented on #9822
Reposted [here](https://www.upwork.com/jobs/~010b675bfe11a4a9d8)!

[2022-09-20 18:21] kbecciv opened #11148 "IOS - Signin - Keyboard is open and page looks broken for SAML account after tap on forgot button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR** https://github.com/Expensify/App/pull/10798

## Action Performed:
Precondition: Enable SAML tag for applausetest

[2022-09-20 18:21] adelekennedy commented on #10449
Reposted [here](https://www.upwork.com/jobs/~01538d536232972b67) - @mdneyazahmad and @rushatgabhane please apply!

[2022-09-20 18:29] luacmartins commented on #11147
@kavimuru from the video at around 1:00, it seems like the tester selects the first email that was sent and not the one with the latest validation link (after they tapped `Resend link`). We will invalidate previous links whenever we generate a new one.

Can you please retest?

[2022-09-20 18:31] kbecciv opened #11149 "Android/Desktop - Chat - Image is not greyed out after Turn off WiFi"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR** https://github.com/Expensify/App/pull/10706

## Action Performed:
1. Launch the app
2. Log in with the HT expens

[2022-09-20 18:33] luacmartins commented on #11081
Oooh I like the [reconnect](https://github.com/Expensify/App/issues/11081#issuecomment-1252690279) solution. That's much cleaner than what we have now and would solve the issue 🧠

[2022-09-20 18:34] mallenexpensify commented on #11143
Hired @parasharrajat , please accept

[2022-09-20 18:37] srikarparsi commented on #10688
I don't think so Nicole, I just asked Puneet about this and he said we could could close it so doing that right now.

[2022-09-20 18:37] luacmartins commented on #10622
Commented on the other thread!

[2022-09-20 18:38] alex-mechler commented on #11147
Ah, thanks for pointing that out, that was going to be my first question 😅. This doesn't look like a bug provided the second link that we send works as expected.

[2022-09-20 18:40] luacmartins commented on #11147
@kavimuru I see that you removed the `DeployBlockerCash` label. Does that mean that this is working as expected?

[2022-09-20 18:52] mallenexpensify commented on #11081
I updated the title and OP to better represent the bug we're trying to fix.  @marcaaron and @luacmartins , can you review to see if it's accurate and edit/update if needed?

[2022-09-20 18:57] neil-marcellini commented on #10524
While I was playing around with some other issues I figured out that it only happens after you sign in. Once you refresh the page (on web) it works perfectly. Now that it can consistently be reproduced it is worth investigating @grgia. Here's a video:

https://user-images.githubusercontent.com/26260477/191341390-75bc7933-efe9-4a32-8f01-7e8bd5aa7922.mov

[2022-09-20 18:59] RachCHopkins commented on #11086
I'm unable to reproduce this - has anyone else reported the same problem?

[2022-09-20 19:00] RachCHopkins commented on #11094
I'm still unable to reproduce this. Is this still happening @mvtglobally ?

[2022-09-20 19:15] michaelhaxhiu commented on #9391
Doubling job value as this is still actively in the proposal phase

[2022-09-20 19:19] michaelhaxhiu commented on #10952
Baller, thanks @jasperhuangg!

[2022-09-20 19:20] jasperhuangg commented on #10897
PR off draft and ready for review! Thanks @arosiclair for pointing me in the right direction 👍

[2022-09-20 19:26] tgolen commented on #9391
Just a heads up, I've refactored a ton of this code in [this PR ](https://github.com/Expensify/App/pull/10800) so I think we should HOLD on this until my PR is deployed and see if it fixes the problem. If it does, then 🎉 but if it doesn't, then the proposals will all need to be based off the newly refactored code.

[2022-09-20 19:45] kadiealexander commented on #9418
@sobitneupane  - I've issued payment, thanks for your help here!
@aswin-s - have sent you a contract, please accept and I'll get it paid out.

[2022-09-20 19:51] marcaaron commented on #11081
@luacmartins Gonna put up a proposed change without the improvements to the other components like `EnablePaymentsPage`, but will add some logic to enabled unsubscribing from `NetworkConnection.onReconnect()` since I think we will need it.

[2022-09-20 20:30] vladamx commented on #10148
"validate" in this case means that you **ordered** a clear from JS for "marc" but not for "marco" since new "o" input came in before clear was able to complete.  Since it would not be fair or good to lose users's input "marco" rn bails out.

[2022-09-20 20:35] puneetlath commented on #10923
PR is in review by @Santhosh-Sellavel.

[2022-09-20 20:38] andrewlor commented on #10824
@Santhosh-Sellavel

Interesting findings: I believe you're only unable to scroll a new PDF if you have opened an existing PDF sent in the chat. So it may have to do with the fact that there are multiple PDFView components rendered.

Before I was not actually recreating the bug, I just misunderstood and thought we wanted to avoid the extra click before scrolling with arrow keys.

As you can see in

[2022-09-20 20:56] luacmartins commented on #11044
Issue not reproducible anymore, removing the DeployBlocker label

[2022-09-20 20:57] luacmartins commented on #11139
https://github.com/Expensify/App/issues/11044 is not reproducible anymore as per [this comment](https://github.com/Expensify/App/issues/11044#issuecomment-1252902721). Checking it off.

[2022-09-20 20:57] puneetlath commented on #10622
@parasharrajat @luacmartins just to make sure I understand, you are both saying that [this Onyx PR](https://github.com/Expensify/react-native-onyx/pull/133/files#r975658158) should solve this issue. And no further action should be needed, is that correct?

[2022-09-20 21:02] puneetlath commented on #10366
@ntdiary - please apply to the Upwork job here, thanks! https://www.upwork.com/jobs/~01017a317b4168596f

[2022-09-20 21:05] puneetlath commented on #10621
Looks like this is a dupe of https://github.com/Expensify/App/issues/10233 so closing.

[2022-09-20 21:05] #10621 closed

[2022-09-20 21:07] marcaaron commented on #10148
Ok, I think I've got the point now, thanks! Still seems not very ideal. We are pretty strict on not allowing these kinds of workarounds so I will get some more thoughts and provide an answer soon.

[2022-09-20 21:08] NicMendonca commented on #11059
Job posting: https://www.upwork.com/jobs/~0199b6f2d618d1d175

[2022-09-20 21:10] kavimuru opened #11152 "Web Safari - VBA - User cannot manually input dates in calendar on Mac Safari"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into a valid account
3. Tap Profile > Workspace > Connect to bank
4. Proceed with VBA

[2022-09-20 21:11] thienlnam commented on #11095
It's looking like the fix could be related to the bug reported here: https://github.com/Expensify/App/issues/10693

[2022-09-20 21:11] NicMendonca commented on #9818
doubled: https://www.upwork.com/jobs/~01b980ab45d45b1ff1

[2022-09-20 21:12] Smart133594 commented on #11059
May I fix this issue?
I have no upwork account so I cannot make proposal but I can fix this

[2022-09-20 21:15] m4610g commented on #9818
May I fix this issue?
I have no upwork account so I cannot make proposal but I can fix this

[2022-09-20 21:17] thienlnam commented on #10693
There seem to be a few cursor issues that are related - the fix should encapsulate these issues

https://github.com/Expensify/App/issues/11095

[2022-09-20 21:18] luacmartins commented on #10622
Well that PR was merged a while ago, so we will need to put up a fix.

[2022-09-20 21:20] kavimuru opened #11153 "Offline- Changing language English to Spanish in offline in device 1 is not updated in Device 2"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. In the main testing device, Navigate to Settings > Preferences
2. Disable the internet connection in the device
3. Change the

[2022-09-20 21:33] johnmlee101 commented on #11011
No update, still keeping this in mind as we move forward (I haven't checked reproducibility today)

[2022-09-20 21:37] johnmlee101 commented on #10736
I believe this issue is because the response trigger when we use the email isn't kicking off the unread indicator properly, but I also think we're doing a lot of changes to the LHN and unread messages so going to hold on solving this since its also has a small effect on the app

[2022-09-20 22:08] marcaaron commented on #10148
Did some testing and I'm still able to reproduce the bug on that branch provided on iOS. I think most likely we want a different solution for the `TextInput` bug. I would be curious to see some of the proposals related to performance in a separate issue with some benchmarks.

[2022-09-20 22:08] mollfpr commented on #9510
@puneetlath @Santhosh-Sellavel thoughts https://github.com/Expensify/App/issues/9510#issuecomment-125109841?

[2022-09-20 22:18] MitchExpensify commented on #10864
Doubled!

[2022-09-20 22:21] MitchExpensify commented on #10486
So will @mdneyazahmad 's [PR](https://github.com/Expensify/App/pull/10790) fix all cases? If not, how should we move forward here?

[2022-09-20 22:21] puneetlath commented on #10622
Ah whoops, understood.

@christianwen feel free to update your proposal accordingly if you're still interested!

[2022-09-20 22:24] alex-mechler commented on #11134
@mvtglobally I'm not able to reproduce this, are you?

[2022-09-20 22:26] MitchExpensify commented on #10181
Doubled and had to create a new [Upwork Job](https://www.upwork.com/jobs/~0139b06154e407e923)

[2022-09-20 22:28] kavimuru opened #11157 "[HOLD for payment 2022-10-18] [$250] Offline- Profile - Unable to save first name, last name and time zone when user is offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in any account
2. In the main testing device, Navigate to Settings > Profile
3. Disable the internet connection in the dev

[2022-09-20 22:31] kavimuru opened #11158 "Web - Request money - The second request money is interrupted"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Click FAB button/Request money
4. Enter the amount a

[2022-09-20 22:37] jliexpensify commented on #11101
Posted:

- Internal: https://www.upwork.com/ab/applicants/1572354024809439232/job-details
- External: https://www.upwork.com/jobs/~010d284b228c354c9b

invited @parasharrajat

[2022-09-20 22:49] marcochavezf commented on #10610
Yeah I think makes sense to double the price, the glitch is also happening on Android (native):

https://user-images.githubusercontent.com/6829422/191376612-9a82d822-485b-4bbb-98fe-bf1b20338abf.mp4

Seems we're displacing the pad number (for a fraction of a second) in order to display the phone keyboard, but the position of the pad number should be static.

@JmillsExpensify I think this issue can

[2022-09-20 22:50] jasperhuangg commented on #10952
@michaelhaxhiu sounds good!

[2022-09-20 22:53] marcochavezf commented on #10610
Paused the video when this happens and the pad number shouldn't be in that position:

<img width="297" alt="Screen Shot 2022-09-20 at 17 50 28" src="https://user-images.githubusercontent.com/6829422/191378497-b5d790fe-e1ac-45f4-8e3a-82fb08b7075b.png">

---

Related to this ^ I think the linked issue is a different problem and seems it's [no longer happening](https://github.com/Expensify/App/issues

[2022-09-20 22:58] deetergp commented on #11086
@RachCHopkins I am also unable to reproduce this 🤷 and my message deleted fine. I'm inclined to close it…

[2022-09-20 23:01] trjExpensify commented on #11129
Job on upwork here for when you're ready: https://www.upwork.com/jobs/~01fd65be19b870c454

[2022-09-20 23:07] ntdiary commented on #10366
@shawnborton, I'm glad we have the same opinion, and thank you very much for the 25% reward. I will also pick up more issues in the repo, believe we will meet again, pleasant experience. 😄

@puneetlath Thanks, I've applied. 🙂

[2022-09-20 23:10] MitchExpensify commented on #11083
Reproduced, labeling eng to see if external worthy

[2022-09-20 23:12] MitchExpensify commented on #11091
Asking for Android owners to help me reproduce this

[2022-09-20 23:14] shawnborton commented on #10366
@ntdiary glad to hear it! Excited to see more of your wonderful proposals, and hope to work together soon!

[2022-09-20 23:16] mallenexpensify commented on #8455
Sounds like we're back to @Luke9389 's recommendation

[2022-09-20 23:25] mallenexpensify commented on #10968
Hired @syedsaroshfarrukhdot in Upwork.  @parasharrajat will you apply for C+ plz
https://www.upwork.com/jobs/~016f4999710bb43714

[2022-09-20 23:33] kbecciv commented on #10272
@marcaaron Issue was reproduced with 2 testers using build 1.2.3.0.
Testers accounts:
1. applausetester+0901abb@applause.expensifail.com/Feya86Katya
2. applausetester+ihchat1@applause.expensifail.com/Yulia1986Gerets

https://user-images.githubusercontent.com/93399543/191382693-a3735738-820d-466a-8292-775719b11089.MP4

https://user-images.githubusercontent.com/93399543/191382686-eae62f9a-2293-4746-

[2022-09-20 23:42] Abdallah-Ahmed-moh commented on #10950
### Proposal

We can replace the slider wrapper `View` with this `Pressable`
[code]

https://user-images.githubusercontent.com/114033410/191382818-340258d4-a784-4541-b5f7-d869c5c90787.mp4

[2022-09-21 00:06] amyevans commented on #10896
Back from OOO today but ran out of time to dig back in here. It's on my radar for tomorrow.

[2022-09-21 00:12] ctkochan22 commented on #7911
Sure, i'll unassign. Sorry about that

[2022-09-21 00:12] neil-marcellini commented on #10437
Oh man, this one is weird. I added one failing test today and did a bunch of digging around in the code.

Here's the summary of the problems on the backend:
1. We don't set a notification preference on policy rooms when creating them. CreatePolicyRoom.cpp calls `Report::createChatReport` and `NVP_NOTIFICATION_PREFERENCES` is not set along with other NVPs [here](https://github.com/Expensify/Auth/bl

[2022-09-21 00:14] ctkochan22 commented on #7911
Who ever works on this, you'll have to figure out where we grab the currency list and references to in expensify-common. And work with that there

[2022-09-21 00:14] kadiealexander commented on #11091
Reproduced on Asus ROG 3 using Android 12 OS:

https://user-images.githubusercontent.com/59587260/191386667-509da9c4-335f-40d7-bfd1-48f48c69c5c0.mp4

[2022-09-21 00:52] kadiealexander commented on #9418
Everyone is paid!! Thanks team.

[2022-09-21 00:52] #9418 closed

[2022-09-21 01:33] alexpensify commented on #11135
I will test tomorrow.

[2022-09-21 01:35] MitchExpensify commented on #10599
[Upwork Job](https://www.upwork.com/ab/applicants/1572398925555118080/suggested)

[2022-09-21 01:42] MitchExpensify commented on #10510
Sorry for the delay, catching up from OOO last week! Hired @christianwen, @Tushu17, and invite sent to @rushatgabhane for eventual C+ payment

[2022-09-21 01:50] MitchExpensify commented on #11010
[Agree with Tom here](https://github.com/Expensify/App/issues/11010#issuecomment-1252304522)

[2022-09-21 01:55] MitchExpensify commented on #11091
Thanks @kadiealexander!

[2022-09-21 02:43] sobitneupane commented on #11144
Looks like we have intentionally made offline avatar's solid gray. If we want to make it light gray, we need to change
https://github.com/Expensify/App/blob/2b6124e1b833bcfe1a4b6e8e982f2b1c36b5417d/src/styles/themes/default.js#L34
[code]

[2022-09-21 03:24] sobitneupane commented on #11095
This proposal solves this issue and https://github.com/Expensify/App/issues/10693.
**Proposal**
When component updates without change in currency code, it is being returned without focusing text input.
https://github.com/Expensify/App/blob/3335b188ce86ba413f4098f6905926e737870ce3/src/pages/iou/steps/IOUAmountPage.js#L74-L80
[code]

[2022-09-21 03:40] stephanieelliott commented on #10509
Sounds good! @dhairyasenjaliya here is the job for the reporting bonus, can you apply here when you get a chance? https://www.upwork.com/ab/applicants/1572430354625216512/job-details

[2022-09-21 03:43] stephanieelliott commented on #10699
2x'd on Upwork! https://www.upwork.com/jobs/~01ff02ea9d2d0972d0

[2022-09-21 03:45] stephanieelliott commented on #10891
Oh cool, thanks @Tushu17!

[2022-09-21 03:50] stephanieelliott commented on #10891
Re-applied the `External` label, it didn't apply the assignments correctly the first time. @rushatgabhane we have a proposal [here](https://github.com/Expensify/App/issues/10891#issuecomment-1250913836) when you get a chance!

[2022-09-21 03:54] stephanieelliott commented on #11062
Posted to Upwork: https://www.upwork.com/jobs/~011e87832fbf5d61c8

[2022-09-21 03:56] dhairyasenjaliya commented on #10509
applied thank you @vitHoracek  @stephanieelliott

[2022-09-21 03:57] christianwen commented on #10510
thanks @MitchExpensify
@ctkochan22 PR created here https://github.com/Expensify/App/pull/11013 and requested you for review.
Also as mentioned in https://github.com/Expensify/App/issues/10510#issuecomment-1234543169, a back-end fix for the same constant is also required so that it will work in online mode (currently we need to turn off network to test the PR).
<img width="842" alt="Screen Shot 202

[2022-09-21 04:00] mvtglobally commented on #11134
@alex-mechler  We are not able to repro as well

[2022-09-21 04:03] mvtglobally opened #11159 "Scrolling back up on Android can sporadically freeze the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any long chat conversation
2. Scroll back up
3. Go back and forth from the chat and LHN

## Expected Result:
app should n

[2022-09-21 04:04] railway17 commented on #10181
@mountiny
It's strange but I've noticed that it is working on my side.
In both real and simulator devices.
Let me attach my video that was taken from the simulator.
The testing environment is: staging.new.expensify.com

https://user-images.githubusercontent.com/29966461/191411807-4be40a3a-b464-467c-b8fb-5335703b151f.mov

[2022-09-21 04:37] MonilBhavsar commented on #9391
Alright 👍 Putting this on hold and bumping it to weekly meanwhile

[2022-09-21 05:13] gadhiyamanan commented on #11086
strange... but I am still not able to delete the message by following the steps
Version(v1.2.3-0)

https://user-images.githubusercontent.com/54790231/191418914-0698a4c3-45ca-4d33-87ef-8b6a69c6bd61.mov

cc: @deetergp

[2022-09-21 05:24] christianwen commented on #10622
# **Updated Proposal**

Here's my updated proposal for the Android crash following the recommendation by @parasharrajat here https://github.com/Expensify/App/issues/10622#issuecomment-1252708044

In `function update(data) {`:
[code]

For the web crash, the proposed solution is still the same as in https://github.com/Expensify/App/issues/10622#issuecomment-1234389410

For unit tests, I'll add later

[2022-09-21 05:28] gagtic commented on #11159
are you using a Flatlist to render? if so, make sure you are properly following the rules of the optimized flatlist. Also make sure that the row of flatlist does not have their own states, should be managed by the parent screen.

I also use React.memo for rendering rows and it does help with the performance, but it sometimes also causes unexpected behavior, so use it with precaution and on your ow

[2022-09-21 05:29] Christinadobrzyn commented on #11159
Looks like this was reported here - https://github.com/Expensify/App/issues/8150 - sounds like we decided to 'do nothing' on the other issue so leaving this to eng to decide if we should do something now.

[2022-09-21 05:29] kadiealexander commented on #9620
@mallenexpensify any update on your post above?

[2022-09-21 05:30] kadiealexander commented on #6883
Waiting for deployment, not overdue!

[2022-09-21 05:43] kakajann commented on #11129
Do you mean like this?
[code]

Something similar is already used here:
https://github.com/Expensify/App/blob/2b6124e1b833bcfe1a4b6e8e982f2b1c36b5417d/src/pages/iou/steps/IOUAmountPage.js#L257

[2022-09-21 05:44] gadhiyamanan commented on #11134
@Puneet-here are you able to reproduce?
 it's reproducible for me.

[2022-09-21 05:52] marcaaron commented on #8467
Seeing as we have now fully deprecated the "New messages" counter badge (it does not show a count anymore) this should no longer be an issue.

[2022-09-21 05:52] #8467 closed

[2022-09-21 05:56] marcaaron commented on #6591
Deprecated of `unreadActionCount` should have broadly solved any issues related to wildly inaccurate unread counts so I'm going to close this out as it is very stale at this point.

[2022-09-21 05:56] #6591 closed

[2022-09-21 06:00] marcaaron commented on #10828
Gonna close this one as it's a duplicate of https://github.com/Expensify/App/issues/8005

Though I do not have much faith this will e fixed with the `reportActionID` changes. It's a Chrome bug or something.

[2022-09-21 06:00] #10828 closed

[2022-09-21 06:13] Puneet-here commented on #11134
Yes, it's reproducible.
Note: You have to keep the first and last name empty when saving.

[2022-09-21 06:17] techievivek commented on #10928
@eVoloshchak Hi, have you pushed a PR fixing it?

[2022-09-21 06:33] marcaaron commented on #8005
Ok so back with an update here and I think this one can come off HOLD.

We have changed how this feature works and squashed most of the bugs related to Unread Indicators - but this one is a bit elusive as it seems related to be a browser bug. It's not reproducible on Safari AFAICT - yet it is **very consistently reproducible** on Chrome. All you have to do is...

1. Have an unread chat
2. Navigate

[2022-09-21 06:33] marcaaron commented on #8005
I'm going to open a PR with the change since I think it is super annoying to see the incorrect count and would rather have a brief incorrect flash than totally incorrect.

[2022-09-21 06:50] ctkochan22 commented on #10765
Not overdue, waiting proposals

[2022-09-21 07:32] techievivek commented on #8589
On hold for now.

[2022-09-21 07:37] dylanexpensify commented on #10148
not voerdue

[2022-09-21 07:43] grgia commented on #10930
Haven't gotten to look at this

[2022-09-21 07:45] techievivek commented on #11094
I am able to reproduce this on staging so we can definitely work on this one.

[2022-09-21 08:07] grgia commented on #10524
I was messing around with it too and I couldn't get the offline error reproduced every time I logged in (it did the first time), I did find that if you go offline and then log out, you need to refresh here too

https://user-images.githubusercontent.com/38015950/191450144-b7d9b298-da5e-4ed2-9209-00a186b5a9b0.mov

[2022-09-21 08:21] twisterdotcom commented on #11010
I just came across this too, and it's so busy when a user signs up in Concierge: https://www.expensify.com/concierge/#/chat/5655198

<img width="1589" alt="image" src="https://user-images.githubusercontent.com/9133401/191453162-a27ddf92-9769-4153-8d5b-9376451d6cab.png">

I think we can cut the message that starts `Need help with account setup...` and maybe even merge `Congratulations on creating a

[2022-09-21 08:39] Beamanator commented on #11094
@techievivek just wondering why unassign both you and me? 🤔

[2022-09-21 08:42] trjExpensify commented on #9252
Can we put this on `Monthly` then and mark it as `Internal` if we're scoping a solution internally?

[2022-09-21 08:50] techievivek commented on #11094
@Beamanator Oops my bad, I didn't mean to unassign you, I did that by mistake. 😞

[2022-09-21 08:54] Julesssss commented on #9250
No update

[2022-09-21 08:59] Julesssss commented on #10831
Ah yes. @michaelhaxhiu let's just pay out the job.

[2022-09-21 09:02] Julesssss commented on #4010
No change, Manual Request takes priority but I have started working on the notification project P/S

[2022-09-21 09:02] Julesssss commented on #4264
Held on notification project

[2022-09-21 09:04] mountiny commented on #11010
@twisterdotcom

We agree on that one

This might be worse since the second message is personalized once guide is assigned to the user. The second message is sent when it is a new user who is not paying us yet so we pair them with a guide. I think we should keep these two separate.

cc @alex-mechler as you worked on the vip121 implementation.

[2022-09-21 09:11] Julesssss commented on #11062
This is a low-level ANR event, not a crash. Here's the [actual data](https://console.firebase.google.com/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/7e2133a9f0d482200342a6f04a87853f?time=last-seven-days&sessionEventKey=63248B7201FE000129C6D13433DF2467_1723643319881279940).

[code]

Closing this issue as it's impossible to figure out what is going on here 🙄

[2022-09-21 09:11] #11062 closed

[2022-09-21 09:18] MonilBhavsar commented on #9239
Doing this week

[2022-09-21 09:18] MonilBhavsar commented on #10224
Working on it now!

[2022-09-21 09:24] Julesssss commented on #10486
@MitchExpensify yeah, I believe this is a full solution. Hey @mdneyazahmad, are you able to go ahead and submit the PR? Thanks!

[2022-09-21 09:46] Beamanator commented on #11115
Reopening to test a PR which will update K2 based on this change (looking at `External` label instead of `Exported`)

[2022-09-21 09:48] Beamanator commented on #11115
testing complete, closing

[2022-09-21 09:51] pecanoro commented on #11148
@bondydaa Since this bug seems to be coming from this https://github.com/Expensify/App/pull/10798, I am going to assign you! I think the problem is that the style is breaking when the SAML error message is shown?

[2022-09-21 09:54] mountiny commented on #10181
@railway17 Thanks for raising this.

@mvtglobally Could your team please confirm this is working as shown in the [latest screenshare](https://github.com/Expensify/App/issues/10181#issuecomment-1253176444) in Android?

If yes, than we can close this issue out.

[2022-09-21 09:55] Beamanator commented on #11094
Aah ok no worries :D

[2022-09-21 09:58] Beamanator commented on #11094
Hmm I remember hearing we're holding most of these keyboard-related issues for some upcoming "keyboard initiative" - asking in Slack about this before putting it on hold officially

[2022-09-21 10:12] trjExpensify commented on #11010
Yeah, I don't think the merge works unless we insert it into the bulleted message when they policy that gets created is `TYPE_FREE`.

IMO, we should consider cutting that workspace specific message:

[2022-09-21 10:36] iwiznia commented on #11061
Bump on the question above @kbecciv

[2022-09-21 11:15] yuwenmemon commented on #10631
Sorry for the delay, taking a look today!

[2022-09-21 11:24] thesahindia commented on #10831
Hmm, I don't think it's eligible for the payment because no PR was created.

[2022-09-21 11:25] dhairyasenjaliya commented on #11080
@michaelhaxhiu no one assigned here

[2022-09-21 11:34] NicMendonca commented on #10744
Doubled: https://www.upwork.com/jobs/~01a0dca2192780048a

[2022-09-21 11:48] michaelhaxhiu commented on #10442
@kakajann feel free to proceed, you are assigned to the job already so it's yours for the taking.

[2022-09-21 11:53] pecanoro commented on #9736
This issue doesn't seem to be a thing anymore in newer versions so I am going to close it! Thanks, @NikkiWines for testing it on an iPhone!!

[2022-09-21 11:53] #9736 closed

[2022-09-21 11:59] trjExpensify commented on #10437
Thanks, Neil! On this one:

There's a bit of background [here](https://github.com/Expensify/Expensify/issues/229508) on why policy rooms were designed to start as `Daily`, mimicking what you would expect of buoyant company channels like #general, #engineering-chat etc where you would opt-in for `Immediately`.

That said, you'll also see in that linked issue that we're looking to change the default

[2022-09-21 12:20] michaelhaxhiu commented on #10442
I think our normal steps got skipped, so I want to get this back on track by assigning @Santhosh-Sellavel. He was un-assigned earlier when we nearly made this an internal deploy blocker.

@Santhosh-Sellavel it seems like Vivek has largely vetted the solution from @kakajann, but assigning you to give your 👍 and PR review. So that we abide to the standard process for this job. Lmk if you have any qu

[2022-09-21 12:58] danieldoglas commented on #11123
That's not a bug. That's how Safari deals with images in any websites if you hold it, opening the default options. Closing this.

[2022-09-21 12:58] #11123 closed

[2022-09-21 13:03] PauloGasparSv commented on #11152
Hey @kavimuru!

The behaviour in Safari and Chrome really is very different! Reproduced the issue on staging, here is a video comparison on how it works on Chrome (left) and Safari (right):

https://user-images.githubusercontent.com/6564265/191507964-45a0ecbe-9e0e-49f5-a1c0-fcb6796136c1.mov

But this is just the default behaviour of the `<input type="date">` on Safari! So **I don't think it should

[2022-09-21 13:03] #11152 closed

[2022-09-21 13:05] MonilBhavsar commented on #11114
PR is merged. Waiting for deploy

[2022-09-21 13:13] michaelhaxhiu commented on #10831
Yep I agree with paying it @Julesssss. I think this was unforseen. All good with me proceeding rn?

[2022-09-21 13:15] Julesssss commented on #10831
Yeah 👍

[2022-09-21 13:20] kbecciv commented on #11061
@iwiznia Updating you shortly

[2022-09-21 13:22] Santhosh-Sellavel commented on #9737
PR is up, will review it!

[2022-09-21 13:23] Santhosh-Sellavel commented on #10627
Review in progress

[2022-09-21 13:28] kbecciv commented on #11061
@iwiznia This is currently behavior for account -applausetester+0901abb@applause.expensifail.com/FEya86Katya, tested on build 1.2.3.0.

https://user-images.githubusercontent.com/93399543/191516538-ee6d493a-7056-4041-bf2b-d9a1dbe4aaef.mp4

[2022-09-21 13:34] mvtglobally commented on #11139
Regression is almost completed

Blocker https://github.com/Expensify/App/issues/11147

PR https://github.com/Expensify/App/pull/10706 is failing due to https://github.com/Expensify/App/issues/11144 & https://github.com/Expensify/App/issues/11149
PR https://github.com/Expensify/App/pull/10997 all but IOS pass. in IOS, we are not able to
PR https://github.com/Expensify/App/pull/10969 we are struggli

[2022-09-21 13:43] adeel0202 commented on #9822
@adelekennedy still not able to apply.

<img width="1057" alt="Screenshot 2022-09-21 at 6 42 49 PM" src="https://user-images.githubusercontent.com/13783842/191520081-62a9eef3-5afb-4eb0-b6a4-67ac2618484e.png">

[2022-09-21 13:49] grgia commented on #10437
@neil-marcellini I saw you were working on a similar issue, any input on this one?

[2022-09-21 14:06] kavimuru commented on #11147
@luacmartins It's happening in production too. So I removed `deployblocker `label.  Yes, at the timeline 1:00 tapping the invalid link proper error message appears, then again when the latest link is tapped the same error message persistent. But able to set password with 2nd link as in the video.

[2022-09-21 14:32] stephanieelliott commented on #11062
Thanks! Took the job posting down on Upwork

[2022-09-21 14:45] melvin-bot[bot] opened #11164 "[$250] Investigate: 💥 Crash 💥 `.defaultArrayMerge`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Property 'e' doesn't exist
### `address at index.android.bundle:1:1198173` `.defaultArrayMerge`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.3-0`
* **Devices:** Xiaomi MI MAX 3 1

[2022-09-21 14:54] quinthar commented on #11010
Very cool, glad to see we're updating this!

[2022-09-21 14:54] luacmartins commented on #11147
Ah ok I see what you mean now. I think that's the expected behavior since the error still exists. I do think however that we should clear the error once we click SetPassword. I'm putting up a fix to clear the error on submit here - https://github.com/Expensify/App/pull/11165

[2022-09-21 14:54] kbecciv opened #11166 "Desktop - Error after trying to set new password via email link (forgot password)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue found when executing PR** https://github.com/Expensify/App/pull/10969

## Action Performed:
1. Open Desktop app
2. Fill up the email field and

[2022-09-21 14:56] MariaHCD commented on #11166
cc: @MonilBhavsar

[2022-09-21 15:00] melvin-bot[bot] opened #11167 "[$250] Investigate: 💥 Crash 💥 `com.facebook.react.views.textinput.ReactEditText.onTouchEvent`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

##
###
### `ReactEditText.java line 225` `com.facebook.react.views.textinput.ReactEditText.onTouchEvent`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.3-0`
* **Devices:** Google Pixel 5 13

## Stacktraces
<details>
<summary>Android 1.2.3-0</summary>

[code]

[2022-09-21 15:06] mountiny commented on #11010
Ok, how can we split it up then. We agree to remove the middle message, but there should still be a generic welcome message when any workspace is created (even for user who already are on a paying policy). We have proposal of:

[code]

What should be the first message sent to everyone?

`Hi there, I'm Concierge! I am here to help you with anything linked to Expensify!`

The second question when th

[2022-09-21 15:11] luacmartins commented on #11139
- https://github.com/Expensify/App/issues/11147 not a blocker. Checking off.
- https://github.com/Expensify/App/pull/10997 I tested this on iOS and we are not able to select other file types. Checking off.

Looking into https://github.com/Expensify/App/pull/10969 and https://github.com/Expensify/App/pull/10706

[2022-09-21 15:21] puneetlath commented on #9705
@rushatgabhane bump on accepting the Upwork offer.

[2022-09-21 15:24] Julesssss commented on #11125
- [Firebase Crash](https://console.firebase.google.com/project/expensify-chat/crashlytics/app/ios:com.chat.expensify.chat/issues/c6aa9592b141ab140b227517c4904e86?time=last-seven-days&versions=1.2.3%20(1.2.3.0)&sessionEventKey=adff474b583d44c79cf89314b3990405_1724299084653054524)
- [Slack discussion ](https://expensify.slack.com/archives/C01GTK53T8Q/p1663773514699319)

[2022-09-21 15:38] stitesExpensify commented on #11082
discussion happening here https://expensify.slack.com/archives/C01GTK53T8Q/p1663690085941559

[2022-09-21 15:42] rushatgabhane commented on #9705
@puneetlath sorry for the delay. Applied!

[2022-09-21 15:43] JmillsExpensify commented on #10939
@Gonals Do I need to re-apply the `External` label here? I'm still not certain on the new process.

[2022-09-21 15:44] mountiny commented on #11010
Maybe easier to resolve this in this thread in [Slack](https://expensify.slack.com/archives/C041A90J23Z/p1663773590665069?thread_ts=1663746906.233619&cid=C041A90J23Z)

[2022-09-21 15:45] tgolen commented on #11167
Hm, what is the actual crash here? It looks like it's a crash in the react native code?

[2022-09-21 15:46] JmillsExpensify commented on #10989
Sorry ya'll. Missed this in the shuffle. Upwork job is here: https://www.upwork.com/jobs/~01b51a6599d08a678a

[2022-09-21 15:53] alex-mechler commented on #11134
What version(s) are you able to reproduce on? I was unable to reproduce on staging web yesterday (v1.2.3-0)

[2022-09-21 15:56] shehroz147 commented on #11166
Hello,
I believe the issue can be due to the following reasons
When the user clicks the link and move to the screen to set up new password
The system isn't able to match which user has requested to change his password and hence database isn't updated

[2022-09-21 15:59] rushatgabhane commented on #10885
cool, thanks for letting us know @parasharrajat

[2022-09-21 16:10] rushatgabhane commented on #10493
@Christinadobrzyn price is good

[2022-09-21 16:11] neil-marcellini commented on #10524
Maybe it has to do with Onyx taking a while to initialize the data? Maybe I can reproduce after logging in because my test account has more data and so it takes longer to load from local storage?

You might try logging changes to the `NETWORK` Onyx key.

Maybe Onyx.init is overriding the isOfflineValue here?https://github.com/Expensify/App/blob/334b2107fe9cfa06ac7bbd26841a55509bb34486/src/setup/in

[2022-09-21 16:12] rushatgabhane commented on #10449
@adelekennedy applied, thanks

[2022-09-21 16:15] puneetlath commented on #10366
Paid, thanks!

[2022-09-21 16:15] #10366 closed

[2022-09-21 16:16] rushatgabhane commented on #9822
likewise

[2022-09-21 16:22] luacmartins opened #11168 "Reset password doesn't work when coming from the Desktop or mobile Apps"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

More context in [this thread](https://expensify.slack.com/archives/C03TQ48KC/p1663774730098529)
Issue is described [here](https://expensify.slack.com/

[2022-09-21 16:26] amyevans commented on #11131
I've tried reproducing locally, on staging, and on production with a number of different test strings, including the exact string from the screenshot (`Testing 2 3 4 (sending while dbarrett@expensify.com app is not running)`) but haven't been able to reproduce.

The growl error is triggered here: https://github.com/Expensify/App/blob/main/src/components/Composer/index.js#L306, so following that co

[2022-09-21 16:26] luacmartins commented on #10893
FYI this issue would also happen coming from the android or iOS apps. So if we go with this solution we should also deeplink it in those apps.

[2022-09-21 16:27] puneetlath commented on #9705
All paid!

[2022-09-21 16:27] #9705 closed

[2022-09-21 16:27] amyevans commented on #11131
Additionally, @mvtglobally, was the QA team able to reproduce this?

[2022-09-21 16:29] amyevans commented on #11131
Also reported by @coleaeason [in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1663708415670229). Same question - any additional details you can provide to help in making this reproducible?

[2022-09-21 16:30] melvin-bot[bot] opened #11169 "[$250] Investigate: 💥 Crash 💥 `unknown`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

##
###
### `libart.so` `unknown`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.3-0`
* **Devices:** Xiaomi MI MAX 3 10

## Stacktraces
<details>
<summary>Android 1.2.3-0</summary>

[code]
</details>

---
<details>
<summary>Internal Firebase Info</summary>

💥

[2022-09-21 16:30] melvin-bot[bot] opened #11170 "[$250] Investigate: 💥 Crash 💥 `.anonymous`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Property 'array3' doesn't exist
### `address at index.android.bundle:1:100234` `.anonymous`
### Number of Crashes: 2

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.3-0`
* **Devices:** Xiaomi MI MAX 3 10

#

[2022-09-21 16:30] melvin-bot[bot] opened #11171 "[$250] Investigate: 💥 Crash 💥 `com.facebook.react.modules.core.ExceptionsManagerModule.reportException`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: com.facebook.react.common.JavascriptException
### ReferenceError: Property 'array3' doesn't exist, js engine: hermes, stack:
anonymous@1:100234
measure@1:100172
anonymous@1:100096
loadModuleImplementation@1:93544
guardedLoadModule@1:93049
metroRequire@1:92720
global@1:92295

### `Exceptio

[2022-09-21 16:30] michaelhaxhiu commented on #10831
done, closing ✌️

[2022-09-21 16:32] luacmartins commented on #10893
Nvm my comment above, that link is already deeplinked in the native apps

[2022-09-21 16:32] luacmartins commented on #11139
https://github.com/Expensify/App/pull/10969 - thread discussing it [here](https://expensify.slack.com/archives/C03TQ48KC/p1663773622037569) and [here](https://expensify.slack.com/archives/C03TQ48KC/p1663774730098529). TLDR this is broken on prod for Desktop so I'll check it off. Issue to fix it [here](https://github.com/Expensify/App/issues/11168)

[2022-09-21 16:38] thesahindia commented on #10831
Thank you ♥️

[2022-09-21 16:39] michaelhaxhiu commented on #11080
https://www.upwork.com/jobs/~01a3c765f8e54550bc

@dhairyasenjaliya sorry, I was unassigned! Job exported to upwork and C+ is now assigned to review your proposal

[2022-09-21 16:42] flodnv commented on #11169
Not sure what we are supposed to do here 😕
<img width="605" alt="image" src="https://user-images.githubusercontent.com/4164921/191562888-e3af4594-13f4-4efa-8050-929ced14ffde.png">

[2022-09-21 16:45] melvin-bot[bot] opened #11172 "[$250] Investigate: 💥 Crash 💥 `.anonymous`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Property 'x' doesn't exist
### `address at index.android.bundle:1:100329` `.anonymous`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.3-0`
* **Devices:** Xiaomi MI MAX 3 10

## Sta

[2022-09-21 16:50] luacmartins commented on #11144
@kavimuru can you add a video for this bug? I tested this on staging and it seems to be working correctly.

[2022-09-21 16:50] amyevans commented on #11149
Based on what I'm seeing in the screen recording, this is expected behavior. The avatar was uploaded, there was enough time elapsed that it finished uploading, and then the wifi was turned off. It's expected that the avatar does not grey out, because it finished uploading. Closing based on that analysis, but if anyone feels differently feel free to reopen.

[2022-09-21 16:50] #11149 closed

[2022-09-21 16:51] luacmartins commented on #11149
Came here to say the same thing that @amyevans said above!

[2022-09-21 16:52] luacmartins commented on #11139
I tested https://github.com/Expensify/App/pull/10706 on staging and it's a pass. Checking it off.

[2022-09-21 16:52] luacmartins commented on #11139
@mvtglobally is regression done?

[2022-09-21 16:52] marcaaron commented on #10762
It depends on the issue. If it's something that looks related to UI then they can work on it. If it's something that seems related to authentication or an API issue then it has to be internal. If you aren't sure make it internal.

I think this is what the Engineering Triage step is for...

[2022-09-21 16:52] mvtglobally commented on #11139
@luacmartins Regression is done

[2022-09-21 16:56] roryabraham commented on #10894
A project would be fine – historically we've usually just used issues but a project board could be useful. More importantly, we need someone to take this on as a project manager.

One interesting idea could be to engage [@thomas-coldwell](https://github.com/thomas-coldwell) from Margelo in this project, since [@mrousavy](https://github.com/mrousavy) told me that Thomas typically works on Video/Aud

[2022-09-21 16:56] marcaaron commented on #11045
I'm gonna drop this from the WhatsApp quality project since I don't think it's a critical enhancement or bug.

[2022-09-21 16:57] michaelhaxhiu commented on #11080
wait.... auto assignment logic didn't work, where is the C+ 🤔

[2022-09-21 17:00] arosiclair commented on #11078
@kbecciv this looks to be an Android only issue however all platforms are listed in the Platforms section in the OP.

On Android 1.2.0-0 the growl notifications for this seem to be largely working without issue. They do look to be throttled somewhat if you attempt to spam presses on an admin, but I don't see how that is a real use case we want to support. I'm seeing pretty much 0 ROI on attempting

[2022-09-21 17:00] #11078 closed

[2022-09-21 17:03] marcaaron commented on #10767
Coming in late here, but I am **not** 100% satisfied with this explanation or the proposed solution.

We are failing to answer this question:

Why does `BrowserWindow.isFocused()` not return the correct state?

Seems like you've proven that it can happen. But have not provided any reason as to why it happens?

[2022-09-21 17:42] thienlnam commented on #10767
I should have caught this in the review stage but I asked about it in the implementation as well https://github.com/Expensify/App/pull/11150#discussion_r975824111 and so please post an updated solution / explanation here @andrewlor

[2022-09-21 17:48] marcaaron commented on #10767
Nice, thanks @thienlnam !

[2022-09-21 17:49] #10897 closed

[2022-09-21 17:53] thienlnam commented on #10036
Let's put a hold on doubling this, we haven't gotten confirmation that this bug is still occurring

cc @kbecciv Can you please confirm?

https://github.com/Expensify/App/issues/10036#issuecomment-1235933376

[2022-09-21 18:02] jayeshmangwani commented on #10233
@Luke9389
try catch will fix the crash but I am proposing that we should not display the start-over page once we have already started the connect bank account flow again.
as I am proposing rather than creating 2 different pages for connect bank account
1. continue with setup and start over options and
2. connect with plaid and connect manually

we should render the start-over page code conditional

[2022-09-21 18:04] mallenexpensify commented on #10272
@marcaaron what do you recommend we do with this issue since the bug is reproducible?

[2022-09-21 18:05] luacmartins commented on #11139
Investigating newly introduced Crashlytics events [here](https://expensify.slack.com/archives/C07J32337/p1663780548837399)

[2022-09-21 18:13] OSBotify commented on #11139
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11173) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.3-1` :rocket:

[2022-09-21 18:14] mallenexpensify commented on #10884
woah... missed this.  Let me try to repro today/tomorrow

[2022-09-21 18:15] mallenexpensify commented on #10029
@mvtglobally can you see if it's reproducible please?

[2022-09-21 18:17] mallenexpensify commented on #10755
:double_price: Price Doubled to $1000 :double_price:
https://www.upwork.com/jobs/~019ecf14b149914233

[2022-09-21 18:30] melvin-bot[bot] opened #11176 "[$250] Investigate: 💥 Crash 💥 `GrTextBlobRedrawCoordinator::internalRemove(GrTextBlob*)`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

##
###
### `libhwui.so` `GrTextBlobRedrawCoordinator::internalRemove(GrTextBlob*)`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.0-8`
* **Devices:** Google Pixel 6 13

## Stacktraces
<details>
<summary>Android 1.2.0-8</summary>

[code]
</details>

---
<deta

[2022-09-21 18:30] Santhosh-Sellavel commented on #10233
Yet to test this one, will let you know!

[2022-09-21 18:37] eVoloshchak commented on #10928
PR is up

[2022-09-21 18:49] mallenexpensify commented on #9391
Removed `Help Wanted` , please add back once off hold

[2022-09-21 18:59] luacmartins commented on #11139
Checklist is clear and Crashlytics events cleared on [this thread](https://expensify.slack.com/archives/C07J32337/p1663780548837399). Gonna kick off the deploy.

[2022-09-21 18:59] luacmartins commented on #11139
:shipit: