[2021-03-26 17:05] Julesssss commented on #1913
@kaushiktd thanks for your comment, but that **is** our current solution and we are trying to remove this workaround.

[2021-03-26 17:05] kidroca commented on #2109
### Proposal

Doing a quick search on stackoverflow review that using: `<input hidden />` or an input with `display: none` does not work for this purpose in Safari: https://stackoverflow.com/questions/28721679/trigger-the-file-input-prompt-with-a-hidden-label-element-safari

The suggested approach is to make the input invisible taking 0 width/height which would allow you to programatically trigger

[2021-03-26 17:14] kidroca commented on #1855
I think it would be sufficient to just unmount the input field `TextInputFocusable` as a proof of concept:

#### ReportActionCompose.render
[code]

When there's no text input mounted it won't be able to accidentally steal focus

[2021-03-26 17:27] tugbadogan commented on #2027
@Julesssss thank you for the reply. I rebased my branch on master and I have all the fields for now. 👍
I have another question. I'm planning to use `RenderHTML` component to render quoted message and `View Details` link. Is there a better solution for this because API returns raw text for IOU Actions?

[2021-03-26 17:49] marcaaron commented on #1855
I left a similar comment on @parasharrajat's PR, but wondering if the another solution here is to be more selective about _when_ we are focusing this input instead of assuming we always want to do it when "any modal closes and the screen is focused".

I like the HOC idea and there is a good chance knowing whether a screen is focused will be useful in the future, but perhaps not yet. If we know the

[2021-03-26 17:58] npsedhain commented on #2105
Hi, I would love to work on the issue!

I will:

Create a new Participants Page. Add the route `/participants/:reportID` in `ROUTES`.

Update the code to navigate the user to the new Participants page whenever there are multiple participants in the report

I will subscribe to the new Participants Page to the report ID `${ONYXKEYS.COLLECTION.REPORT}${reportID}` using the `reportID` param in the rou

[2021-03-26 18:04] roryabraham commented on #1926
Working with @NikkiWines to determine if https://github.com/Expensify/Expensify.cash/pull/2040 is a true deploy blocker. Looks like that's our last unchecked box. Other PRs are being erroneously added to the list despite _not_ being deployed to staging, but they should be included in the next `StagingDeployCash`, so we can just ignore them for now. When the new `StagingDeployCash` is created along

[2021-03-26 18:12] iwiznia commented on #1970
Is this being worked on? I can't find a PR for this.

[2021-03-26 18:14] iwiznia commented on #1988
Can you please link to your draft PR once you have one @barun1997?

[2021-03-26 18:15] iwiznia commented on #2027
Can you please link to your draft PR once you have it @tugbadogan?

[2021-03-26 18:25] tugbadogan commented on #2027
@iwiznia I linked my draft PR here.

[2021-03-26 18:26] rameshhpathak commented on #1970
Hi @iwiznia yeah, I will be submitting PR first thing tomorrow as I'm almost done.

[2021-03-26 18:30] iwiznia commented on #2100
@thierrysantos how exactly would you `fix this difference between the states`?

@kaushiktd can you add more details to your proposal, like where in the code you would make the changes and what would those changes be?

[2021-03-26 18:39] Maftalion commented on #1855
@marcaaron true, if the experience should be to focus only when the report changes (and not re-focus when a modal closes) then the conditional can probably just be simplified to `(prevProps.reportID !== this.props.reportID)` and the issue would be solved as well.

[2021-03-26 19:31] #1985 closed

[2021-03-26 19:57] kidroca commented on #1855
@Maftalion this is exactly what I did here:
https://github.com/Expensify/Expensify.cash/pull/2114/commits/c5b6bd2b37d50501ca3f124c8dbb30fe3a857ceb#diff-7fa482b2895f4e36a2a3ad8233496489c6de1256a8c992524e2fc072aaba43f8R75

#### ReportActionCompose.componentDidUpdate
[code]

And this is the result:
https://user-images.githubusercontent.com/12156624/112685953-ef31b300-8e7d-11eb-8f9b-38d7c7d5cfc7.mp4

[2021-03-26 20:13] isagoico opened #2116 "Android - Login - User stuck in GitHub username page and is unable to login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User can advance the GitHub username page and is able to log in.

## Actual Result:
Unable to advance on the page about the GH username. Even after

[2021-03-26 22:56] thierrysantos commented on #2100
@iwiznia

Just to give a feedback for you, I know the problem but I'm thinking in a solution. 🤔

But basically the `TextInputFocusable` is an uncontrolled input, so when we change the context (reportID) this component have their own value and don't receive the new value from the switch between reportID.

And the change doesn't occur because we sent the value in the `defaultValue` property and when

[2021-03-26 23:46] Maftalion commented on #2053
The app currently doesn't have an upload icon. When you get a chance, can you send that over? @shawnborton @michelle-thompson

[2021-03-27 00:30] roryabraham commented on #1926
Okay, just a clarification on the process that's happening here:

When the `LockCashDeploys` label is applied to this issue, it creates a new `PATCH` version (i.e: bumps from `1.0.6-xx` to `1.0.7-0`) This is necessary for us to deploy iOS and Android to production. _However_, on TestFlight that also means that it will be subject to Apple review, and therefore will take ~1 day to deploy. Therefore,

[2021-03-27 00:39] roryabraham commented on #257
I think now is as good a time as any to reopen this investigation

[2021-03-27 01:25] isagoico opened #2121 "Android - Conversation without messages is still displayed after navigating away"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
When navigating away, the conversation should not be displayed in the LHN if it doesn't have any messages.

## Actual Result:
When navigating away

[2021-03-27 01:29] isagoico opened #2122 "Android - Settings - Dropdown arrow is non functional in dropdown selectors"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Dropdown menu options should be displayed on tapping the dropdown arrow

## Actual Result:
Dropdown arrow nonfunctional, tapping the `v` does nothi

[2021-03-27 01:40] isagoico opened #2123 "Group creation - Not enough space between circle and edge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
I am expecting to see more space between edge and circle.

## Actual Result:
Not enough space between circle and edge

## Action Performed:
1. Go t

[2021-03-27 01:57] isagoico opened #2124 "Android - Notification - Tapping notification not opening correct chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User is taken to correct chat

## Actual Result:
LHN opens and user is displayed bold only a few seconds

## Action Performed:
1. Launch the app an

[2021-03-27 01:58] #2063 closed

[2021-03-27 02:13] isagoico commented on #1926
Summary of today's run:
Both PRs that required QA were a pass 🎉 I went ahead and checked off #2040 too since the fix was a pass. Only unchecked PR is this one is #2086 that following what was [said in QA](https://expensify.slack.com/archives/C9YU7BX5M/p1616791268132300) we should assume it passed QA after this run and we can check it off. (@roryabraham please stop me if I'm wrong)

Issues found du

[2021-03-27 14:59] isagoico opened #2127 "iOS / iPad - New Chat - No overlay in conversation area when right panel is open"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
When creating a group, the icons on the right side of the panel from another chat disappeared or have an overlay to differentiate the right panel w

[2021-03-27 18:01] kidroca opened #2129 "[Discussion] ReportView and ReportActionCompose enhancements"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

I'm opening this ticket as a follow up discussion related to https://github.com/Expensify/Expensify.cash/issues/1855#issuecomment-808135377

## Problems

#### Side eff

[2021-03-27 18:25] kidroca commented on #2129
## Proposition
#### Remove `componentDidUpdate` from `ReportActionCompose`
Remove the life cycle method or at least the part causing the most side effects - the call to `setIsFocused`. This is the most damaging effect and gives the component too much control.

To implement this behavior we shouldn't make the view decide - it'll need too much external knowledge to guess correctly - "am I currently

[2021-03-27 18:32] kidroca commented on #2129
Hey @Julesssss this is crated from the discussion here https://github.com/Expensify/Expensify.cash/issues/1855#issuecomment-808186206

[2021-03-29 02:54] thierrysantos commented on #2100
@iwiznia I have find a solutions to this problem(`TextInput` and `draft icon`).

Basically when change the context, we could re-render the component(`ReportActionCompose`) and it will solve this problems.

[2021-03-29 08:15] shawnborton commented on #2123
@parasharrajat looks like our padding changes in this PR broke this: https://github.com/Expensify/Expensify.cash/pull/2015

Perhaps the most ideal scenario is that each row has padding for both left and right, and all of the additional components (like the checkbox, draft icon, pin icon, etc) are all nested **inside of the padded area**. Let me know if that makes sense and if that is possible.

[2021-03-29 08:17] shawnborton commented on #2053
Added the icon over on the PR, but for posterity, here it is again: [upload.svg.zip](https://github.com/Expensify/Expensify.cash/files/6220257/upload.svg.zip)

[2021-03-29 08:26] parasharrajat commented on #2123
@shawnborton checking it

[2021-03-29 09:59] laurenreidexpensify commented on #2105
Thanks @npsedhain - can you also apply via https://www.upwork.com/jobs/~01794b62eeeb8680e7 so we can move forward to hiring?

[2021-03-29 10:00] Julesssss commented on #2105
Hi @npsedhain, here's our latest mockup. Tagging @Expensify/design to confirm this is still the plan.

Please let us know if you have any thoughts or questions related to this.

![108827921-7a413400-75c6-11eb-9f7f-37caccc81426](https://user-images.githubusercontent.com/10736861/112820882-ff17e580-907d-11eb-9891-c2bac7cda05a.png)

[2021-03-29 10:04] shawnborton commented on #2105
Yup, that looks good to me.

[2021-03-29 11:36] Julesssss commented on #2027
Thanks!

I guess the alternative be to create a Quote component ` | ` (from HTML) and then build the ViewDetails as a regular Text Component? Perhaps this would be preferred, but I think using RenderHTML seems fine for now.

[2021-03-29 11:46] npsedhain commented on #2105
Thanks, @laurenreidexpensify, I will apply to the posting ASAP.

@Julesssss Thanks I will get started soon and let you in if I have any questions. :)

[2021-03-29 15:45] roryabraham commented on #2123
@parasharrajat Any update on this one? Are you working towards a solution?

[2021-03-29 15:49] roryabraham commented on #2123
Looking at [this comment](https://github.com/Expensify/Expensify.cash/pull/2104#issuecomment-809226928) makes me think you _do_ have a solution pending, so I'm going to assign this issue to you.

[2021-03-29 16:05] marcaaron commented on #2066
@ahmedahtazaz I'm not too sure what the exact proposal is here yet. Can you briefly outline the changes you intend to make and point to some specific area in the code?

[2021-03-29 16:17] marcaaron commented on #2028
@kadiealexander This issue needs to be updated since the `r/undefined` issue no longer exists. The issue affecting navigation history is still occurring however. It doesn't matter what web platform we are on the kinds of weird browser button behavior we see are the same.

Thanks @mikeattara, why is this important exactly?

@SameeraMadushan It does seem to work _sometimes_. So could there be a bug

[2021-03-29 16:31] marcaaron commented on #2129
@kidroca This is a lot of information and I'm having trouble figuring out exactly what you are proposing. I think @parasharrajat is already looking into how to avoid some of the side effects you have mentioned as problems. And we don't need to have this conversation exist in another issue.

Can we maybe pair the main issue down into a few sentences so that it's just a problem / very general soluti

[2021-03-29 17:13] kidroca commented on #2129
@marcaaron My general idea was around how re-mounting components can help us organize the code better and reduce `componentDidUpdate` usages but it exploded 😃

1. Main issue was the call to set focus on the input based on "if and and and..." Probably this would be covered in #1855. I just wanted to provide some insights
2. Autofocus should be skipped on mobile web or mobile native as this would al

[2021-03-29 17:32] marcaaron commented on #2129
Sounds great. Thanks! I think in terms of urgency `3` is the most important to dive into.

`2` will require some further discussion
`4` kind of sounds like it is related to `1` and I would expect any solution for `1` to have a complete audit of whether the keyboard opens/closes appropriately in all situations.

[2021-03-29 17:47] kidroca commented on #2129
Resolving `2` might help simplify the solution of autofocus a lot because:
- for web/desktop you can get away with a lot - you can (almost) always focus.
- for mWeb/native you need to take care: is the drawer expanded - again something that the focusHOC won't work for; is a modal closing; is navigation returning focus to report etc... this is all covered by simply not doing autofocus for that plat

[2021-03-29 18:47] ahmedahtazaz commented on #2066
@marcaaron I have attached a screenshot that points to the point in code where I will add a custom back button handler. This handler will receive all the back button press events. I will check the routes here and if the current route is settings/preferences i will executes this function: Navigation.navigate(ROUTES.SETTINGS)Navigation.navigate(ROUTES.SETTINGS)

In this way the back button handling

[2021-03-29 19:41] marcaaron commented on #2066
It's still unclear to me sorry. The [docs](https://reactnavigation.org/docs/custom-android-back-button-handling/) state:

If the "sensible default behavior" is that a back button press should return us to the last place we were (which in this case should dismiss the settings screen and display the side bar again).

**But the issue states:**

So, I don't see how the custom back button handler helps

[2021-03-29 19:53] marcaaron commented on #2066
Looked into this a bit and surely this is the bug here...

https://github.com/react-navigation/react-navigation/issues/9364

Ideally, this would get fixed in the react-navigation library. But I think we'll need to implement this same solution in all screens. So if we implement the work around it should happen in the `ScreenWrapper` component and we should link to that issue so it can be fixed by u

[2021-03-29 19:55] ahmedahtazaz commented on #2066
@marcaaron here is the catch. When I will add a custom back button handler the first hardware back press will give me the actual route or the actual current route in the navigation stack. Then we will have a very good understanding if there is a screen on top of the preferences screen or not. Custom back handling will be used as a debugging strategy here as well.

[2021-03-29 19:57] ahmedahtazaz commented on #2066
@marcaaron as a matter of fact I did not know about this bug react-navigation/react-navigation#9364.

Thanks for this information. Yes implementation of custom back handler in ScreenWrapper will be generic and will fix this issue in all screens where this wrapper is being used.

[2021-03-29 19:59] ahmedahtazaz commented on #2066
Please let me know if I should start working on this or if you are delegating it to someone else.

[2021-03-29 20:08] ahmedahtazaz commented on #2066
@marcaaron  One another thing we will add custom back handler in ScreenWrapper but will only use this handling for those where the problem occurs. I think this problem is not consistent across all screens so we will only do this for setting/preferences route. If there are more problematic routes later in app development then we will add those routes with time in this handling.

There is also a sty

[2021-03-29 20:24] iwiznia commented on #2100
To clarify, what would the key be? The reportID you are looking at?

Which value exactly? The one saved in `${ONYXKEYS.COLLECTION.REPORT_DRAFT_COMMENT}${reportID}`?

[2021-03-29 20:27] thierrysantos commented on #2100
Would be like `<ReportActionCompose key={this.props.reportID} />` this value come from `ONYXKEYS.CURRENTLY_VIEWED_REPORTID`.

[2021-03-29 20:30] iwiznia commented on #2100
Cool, that's what I thought. How about the other question?

[2021-03-29 20:34] thierrysantos commented on #2100
No, the value saved in `${ONYXKEYS.CURRENTLY_VIEWED_REPORTID}`.

[2021-03-29 20:47] iwiznia commented on #2100
Huh? The value of the text input would be the reportID? I don't think that's correct, should be the draft comment of that reportID (if there's any)

[2021-03-29 21:08] thierrysantos commented on #2100
Oh sorry, I made a mistake here, the value is the draft from the comment of that reportID.

Yeah

[2021-03-29 21:32] marcaaron commented on #2066
In this case, the most correct solution seems to be to submit a fix PR to `react-navigation` repo and solve this bug by updating to the latest version.

[2021-03-29 21:32] marcaaron commented on #2066
If that doesn't work, we can return to discuss this workaround some more.

[2021-03-29 21:38] ahmedahtazaz commented on #2066
Okay.

[2021-03-29 21:43] marcaaron commented on #1870
Just merged this but the issue did not close I think it should have?

[2021-03-29 21:43] #1870 closed

[2021-03-29 21:46] iwiznia commented on #2100
Cool, that makes sense! Go ahead and submit the PR.

[2021-03-29 21:49] thierrysantos commented on #2100
I sent a proposal on upwork, do I need some one to accept the proposal or I could start right now?

[2021-03-29 21:59] isagoico commented on #1926
Hello! These PRs seems like internal QA (or just not QAable by applause)
1. https://github.com/Expensify/Expensify.cash/pull/2110 CC @Julesssss
2. https://github.com/Expensify/Expensify.cash/pull/2086 CC @marcaaron
3. https://github.com/Expensify/Expensify.cash/pull/2095 CC @marcaaron

[2021-03-29 22:00] thierrysantos commented on #2100
I sent a email to join in your slack channel

[2021-03-29 22:02] marcaaron commented on #1926
Hmm it should be testable, but not very obvious so I can test it myself. The two issues are also using more or less the same testing steps.

[2021-03-29 22:03] Jag96 commented on #2100
@thierrysantos offer sent!

[2021-03-29 22:12] marcaaron commented on #1926
Ah actually I can't see any clear way to test it besides modifying local JS in Web-E. But I did get it working on web staging so I think we can check them off.

![Screen Shot 2021-03-29 at 12 10 31 PM](https://user-images.githubusercontent.com/32969087/112906445-e6acc880-9087-11eb-9814-451095fafffc.png)

[2021-03-29 23:20] mallenexpensify commented on #2090
Hi @kaushiktd , are you still interested in helping? If so, can you reply to @stitesExpensify comment above? Thanks

[2021-03-30 00:32] isagoico opened #2147 "iOS/Android - Profile page does not scroll"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
After clicking into Profile, Profile screen should scroll

## Actual Result:
After clicking into Profile, Profile screen remains static and does no

[2021-03-30 01:31] isagoico opened #2149 "Android - Profile - "Save" button overlaps on the self select pronouns field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User able to type text in the field

## Actual Result:
"Save" button overlaps with the field and the user is unable to scroll.

## Action Performed

[2021-03-30 02:48] isagoico opened #2150 "[HOLD] Going back to main list after keyboard call won't close keypad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Keyboard will be dismissed after user quits conversation
## Actual Result:
Keyboard keeps on top even after going back to chats list; using it will

[2021-03-30 03:31] isagoico commented on #1926
Chat Regressions and PRs are finished!
Issues found:
1. https://github.com/Expensify/Expensify.cash/issues/2147
2. https://github.com/Expensify/Expensify.cash/issues/2149
3. https://github.com/Expensify/Expensify.cash/issues/2150

PRs are finished too, no comments added.

[2021-03-30 03:44] marcaaron commented on #2147
Duplicate of https://github.com/Expensify/Expensify/issues/158769 which I am fixing here

https://github.com/Expensify/Expensify.cash/pull/2148

[2021-03-30 04:24] JmillsExpensify opened #2151 "FAB hidden by Keyboard on iPad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
The FAB should always be visible so users can easily trigger their desired action, on every platform

## Actual Result:
FAB hidden by keyboard on i

[2021-03-30 04:24] JmillsExpensify commented on #2151
@marcaaron this is my first triage, let me know if I missed something!

[2021-03-30 05:17] kaushiktd commented on #2090
@stitesExpensify

<Popover
     onClose={this.props.onClose}
     isVisible={this.props.isVisible}
     onModalHide={() => {
         this.onModalHide();
         this.resetOnModalHide();
     }}
     anchorPosition={styles.createMenuPosition}

In Your code, you've added "createMenuPosition" in which left is define: 18, and bottom is: 100
like:
createMenuPosition: {
    left: 18,
    bottom: 100,

[2021-03-30 06:57] npsedhain commented on #2090
@kaushiktd, I had actually tried solution number 2 as well, and I don't think it is possible without any kind of DOM manipulation. CreateMenu and FAB, for instance, aren't parent-child components, they are in different branches in the DOM. So, I am curious to know how you'd address this problem.
cc: @mallenexpensify

[2021-03-30 07:24] henrymoulton commented on #1341
Howdy, I'm a React Native contractor/freelancer currently at Amazon.

I think this format of open source core + contract work to solve issues is super cool.

I looked through the issues and source code of the `react-native-web` `FlatList`/`VirtualizedList`.

My current conclusion is that the approach to inversion inside React Native is pretty broken, affecting scroll + text highlight + A11y.

Like

[2021-03-30 08:00] shawnborton commented on #2149
I think this is expected behavior since the Save button is sticky to the bottom of the viewport.

[2021-03-30 08:00] shawnborton commented on #2149
However, I can see an argument that we should add some white background behind the Save button so that it properly covers the content behind it. cc @NikkiWines @michelle-thompson @Maftalion

[2021-03-30 09:48] Julesssss commented on #2109
Confirmed this issue currently exists for prod on Safari.

[2021-03-30 09:56] laurenreidexpensify commented on #2109
@kidroca would you like to submit a PR to fix this via the solution you've proposed?

[2021-03-30 09:58] kidroca commented on #2109
Yes 👍

[2021-03-30 10:58] kidroca commented on #2109
I would like to extend the scope to also make sure a suitable options appear for mWeb:
![image](https://user-images.githubusercontent.com/12156624/112978148-a751ab00-915f-11eb-9717-99c857dfe911.png)

Currently the functionality does not work at all on mWeb (tested Chrome and Safari) so I don't know what options appear for the current configuration of the file attachment

https://developers.google.

[2021-03-30 12:09] kidroca opened #2154 "Switching between reports (chats) show the previous reports briefly."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Switching chats should transition smoothly between existing chats

## Actual Result:
When you open a different chat you can briefly see the old cha

[2021-03-30 12:16] SameeraMadushan commented on #2028
@marcaaron It's not a bug, It's the default behavior of `navigation.navigate`

check this on: [https://reactnavigation.org/docs/navigating/#summary
](https://reactnavigation.org/docs/navigating/#summary
)
To show reports we have only one screen. so `navigation.navigate` won't push a new route to the stack and history won't get created.

If we can use `navigation.push('RouteName') ` instead `.navig

[2021-03-30 12:22] kidroca commented on #2154
I would like to work on this:

## Proposal

### Add loading state in `ReportView` when `reportID` changes

Getting to know the code I see the view responsible for loading content is actually `ReportActionsView`.

Instead of `null` we can make it rander a full screen loader while enough content is prepared to be displayed

#### ReportActionsView.render
[code]

I can add a `loading` state to the com

[2021-03-30 13:29] isagoico commented on #2149
I think this issue  https://github.com/Expensify/Expensify/issues/158769 has the same source as this one. Maybe this one will be fixed when @marcaaron PR for the other issue is merged.

[2021-03-30 16:04] NikkiWines commented on #2149
I don't know if we have different functionality re:sticky buttons for iOS vs Android, but on iOS the save button doesn't show when selecting the `Self Select` input field.

<img width="200" alt="" src="https://user-images.githubusercontent.com/16747822/113019126-1fa37680-9136-11eb-8649-9f42a68fe9fc.jpeg" >

If we do want sticky buttons on Android then your suggestion of a white background makes se

[2021-03-30 16:11] michelle-thompson commented on #2149
We have sticky buttons that respond to keyboards on other screens, so we should probably keep the same behavior here. I'm in favor of adding a white background too.

[2021-03-30 16:39] marcaaron commented on #2028
Ok, allow me to clear something up in case it isn't already known

- We do not use the default implementation of `navigation.navigate()` I'm realizing now that this is probably confusing if one is reading the docs so apologies for that. Our version of `navigation.navigate()` is currently doing this.
https://github.com/Expensify/Expensify.cash/blob/a192dafffe6e60408d37f2e377b6bd6aa053734e/src/libs/

[2021-03-30 16:45] marcaaron commented on #2028
I think perhaps the solution might lie in these docs -> https://reactnavigation.org/docs/use-link-props
Reading more on this maybe this was not set up correctly.

[2021-03-30 17:10] parasharrajat commented on #2028
@marcaaron, @SameeraMadushan findings are correct.
[code]
Here the action would always be `navigate` and when the route is the same `navigate` replace the existing state instead of Pushing a new one into History. We can confirm this by logging the state on `History` on Console.

So a solution here could be to Update the LinkTo implementation and adopt the `useLinkProps` implementation which will g

[2021-03-30 17:40] shawnborton commented on #2149
cc @trjExpensify - I think we recently chatted about our button inconsistencies throughout the Settings pages.

[2021-03-30 17:54] kidroca commented on #2129
Closing this to avoid confusion. Separate issues will be extracted as needed

[2021-03-30 17:57] roryabraham commented on #2123
@parasharrajat As part of our new deploy process, if issues are found in the staging environment which are not present in production, they will be marked as `DeployBlockerCash`, and that means we won't run a production deploy until they're resolved. Therefore, could you possibly add just the fix to this issue to its own PR so I can quickly review so we can hopefully run a production deploy today?

[2021-03-30 18:07] marcaaron commented on #2028
I think the solution may be slightly more complex than just using a `PUSH` action (though that does seem like it's an important piece of the puzzle).

Presently, if we push a new report screen onto the stack this will have weird consequences with the way things are set up now (drawer upon drawer navigator will appear). e.g.
![Screen Shot 2021-03-30 at 8 06 58 AM](https://user-images.githubusercont

[2021-03-30 18:19] marcaaron commented on #2149
I did think this as well @isagoico, but upon further inspection believe it's a different issue.

[2021-03-30 18:57] marcaaron commented on #2151
Looks perfect !

[2021-03-30 19:47] NicMendonca opened #2160 "Expensify.cash - Desktop/Electron app is crashing unexpectedly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
No crashing/ below error message

## Actual Result:
The app crashes on Mac OS with the following logs and error

[Electron Crash Logs.txt](https://

[2021-03-30 20:05] #2089 closed

[2021-03-30 20:07] NicMendonca commented on #2160
cc @parasharrajat 👋

[2021-03-30 20:24] parasharrajat commented on #2160
@NicMendonca Could you please update the crash Logs? The current link is not working.

[2021-03-30 20:27] NicMendonca commented on #2160
Oh hm! Do you mean these?
[Electron.Crash.Logs (1).txt](https://github.com/Expensify/Expensify.cash/files/6231946/Electron.Crash.Logs.1.txt)

[2021-03-30 21:39] mallenexpensify commented on #1341
Thanks for taking a look @henrymoulton

Yes, we're hoping for a React Native fork so that we can fix the issue for ourselves as well as everyone else!
Do you think this is something you'd be able to invest the time in to fix?
If not, we have many other smaller jobs on Upwork - [link.](https://www.upwork.com/ab/jobs/search/?q=Expensify%20React%20Native&sort=recency&user_location_match=2)

[2021-03-30 21:49] marcaaron opened #2161 "Test Issue"
This is a test

[2021-03-30 21:50] marcaaron commented on #2161
Sorry Ariel. Just testing something.

[2021-03-30 21:50] #2161 closed

[2021-03-30 21:59] iwiznia commented on #1341
To clarify, ideally the fix would be merged into the react native code base. So it would be good to also check with the maintainers that the proposed solution is good for them (once we review it here).

[2021-03-30 22:02] deetergp commented on #1656
@kaushiktd Your solution does fix this problem but breaks every other type of valid Markdown link I tried:
<img width="422" alt="Screen Shot 2021-03-30 at 3 01 19 PM" src="https://user-images.githubusercontent.com/766197/113062566-cacd2380-9168-11eb-949c-23c0d3ab2659.png">

[2021-03-30 22:54] aliabbasmalik8 commented on #2151
The solution is just needed to add `KeyboardAvoidingView` in FAB component like this
[code]

[2021-03-30 23:19] aliabbasmalik8 commented on #2150
The solution is just call `Keyboard.dismiss();` onPress backArrow in `HeaderView` component

[2021-03-30 23:34] marcaaron commented on #2151
Alright sounds good. Please let's make sure to also show screenshots of this working ok on all platforms when the PR is ready (tablet Android too thanks).

[2021-03-30 23:59] JmillsExpensify commented on #2151
Hi @aliabbasmalik8, I wanted to confirm that you added a proposal on Upwork? You'll need to do that so we can hire you officially for the job. Thank you!

[2021-03-31 00:37] isagoico commented on #1926
@roryabraham Regression is done! iOS build in TF was the same as yesterday (1.0.7-0) so we holded on executing the regression on that one. Let me know if we should execute either way.

[2021-03-31 00:56] roryabraham commented on #1926
Nope, for the time being that's the plan!

[2021-03-31 01:02] #2123 closed

[2021-03-31 05:15] aliabbasmalik8 commented on #2151
@JmillsExpensify Proposal submitted on Upwork.
Thanks

[2021-03-31 05:22] JmillsExpensify commented on #2151
Awesome, thank you!

[2021-03-31 09:25] laurenreidexpensify commented on #2105
@npsedhain can you please tag me when you have a PR up? Thanks

[2021-03-31 09:28] npsedhain commented on #2105
Okay @laurenreidexpensify, I am working on it. Will raise a PR tonight!

[2021-03-31 14:57] Beamanator commented on #2108
I believe this is related to https://github.com/Expensify/Expensify.cash/issues/2129 and https://github.com/Expensify/Expensify.cash/issues/1855. There was a discussion around if we want the keyboard to pop up immediately or not, I'm not sure if that has been resolved / if there's a conclusion yet. It's possible we can close this, as the solution to the linked issue(s) should resolve this too.

cc

[2021-03-31 15:01] trjExpensify commented on #2090
Thanks, Anup. We've sent you the offer on Upwork. Please remember to link your PR to this issue when you're ready! 👍

[2021-03-31 15:02] kidroca commented on #2100
Hey guys since you will make the compose component re-mount you can also set the `autoFocus` attribute which would make it focus after it mounts.

[code]

Then this condition becomes unneeded - when reportID changes the compose component would remount:

https://github.com/Expensify/Expensify.cash/blob/62b6920c01cdefbc0fb0c258e4b756bcd01fe12a/src/pages/home/report/ReportActionCompose.js#L84

[code]

[2021-03-31 15:06] Julesssss commented on #2154
Thanks for this report.

I think a better fix would be to separate out the ChatList and Chat pages (currently we treat the ChatList as an overlapping menu for the Chat page).

[2021-03-31 15:24] parasharrajat commented on #2090
@trjExpensify. Just a point here. I think the animation should be from bottom to top for the menu.

[2021-03-31 15:42] kidroca commented on #2154
As long as the loading is handled inside `ReportActionsView` - no matter how Chat and ChatList are implemented you'd have this lack of a smooth transition

I don't think ChatList and Chat can be easily separated. I thought the ChatList can move to a separate route in the nav stack, but on web/desktop these two components need to be rendered together. The easiest and common solution to achieve this

[2021-03-31 15:47] npsedhain commented on #2090
Thanks, @trjExpensify, will raise a PR tomorrow and link to this issue. :)

[2021-03-31 16:00] roryabraham commented on #1097
Coming back to this after a while, this issue is going to need to be handled internally.

[2021-03-31 16:08] marcaaron commented on #2154
For what it's worth, I have tried many configurations and not yet found a clear way to achieve this. While there are some existing problems with the drawer navigator pattern I think it might be best for the design we have. Open to suggestions for how to get something like a pure stack navigator working with the desktop layout, but it may come with its own set of challenges to be sure.

@kidroca So

[2021-03-31 16:22] kidroca commented on #2154
My initial idea was to address this progressively without changing much of the code.
A radical approach can be to move loading here: https://github.com/Expensify/Expensify.cash/blob/master/src/pages/home/ReportScreen.js

And render a "loading header" and a "loading report" components

---

A solution with less changes would be to render an abs positioned fullscreen loader so that it covers the hea

[2021-03-31 16:36] kidroca commented on #2109
Bump @laurenreidexpensify
I haven't started to work on this as I'm not hired for this task on Upwork

[2021-03-31 16:37] marcaaron commented on #2154
@marklouisdeshaun this has been triaged already so we just need an Upwork job created

[2021-03-31 16:46] marcaaron commented on #2154
Oh that's interesting. Not really how I imagined it would work though. Probably we should show loaders for any components that are "reloading" in response to the change in props. Implementing this in the `ReportScreen` means some logic will need to be cleaned up.

https://github.com/Expensify/Expensify.cash/blob/60e48069709edbbfdd47e65a14a8e4b6bed89242/src/pages/home/report/ReportActionsView.js#L1

[2021-03-31 16:47] trjExpensify commented on #2090
Yep, bottom to top from within the chat screen makes sense. 👍

[2021-03-31 16:54] kidroca commented on #2154
Yes, I would like to work on this. I'm finishing my other ticket and I have available time

The "big" solution might not be so big - I'll get a better estimate when I start working on this. If it turns out it doesn't need much changes - it's easy to review and test I can address it here

[2021-03-31 18:25] isagoico opened #2175 "Group Creation - Message that you reached the max participants is not displayed."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Message is shown that you reached the max participants

## Actual Result:
Message that you reached the max participants is not displayed.

## Actio

[2021-03-31 18:34] MitchExpensify opened #2176 "Expensify.cash - Implement Higher-Order Component that re-renders when the locale changes"
[Upwork job posting](https://www.upwork.com/jobs/~01211766e30f619205)

We are implementing the structure for internationalisation and localisation in Expensify.Cash. As part of that, we need to implement a Higher-Order Component that re-renders when the locale changes

This is similar to our withOnyx HOC. It’s the only place that needs to care when the preferredLocale NVP changes and when it does,

[2021-03-31 18:37] kidroca commented on #2051
There's a good chance this might be solved by the loading transition proposed here: #2050, I can take a look and report back

[2021-03-31 19:59] marklouisdeshaun commented on #2154
Upwork job posting [here](https://www.upwork.com/jobs/~014b6bf2f42a98bc8e). @kidroca can you please apply to that job on Upwork?

[2021-03-31 20:22] marcaaron commented on #1083
Going to close this since there hasn't been much activity.

[2021-03-31 20:22] #1083 closed

[2021-03-31 20:26] isagoico opened #2177 "Web - Email Test - The username on the left hand navigation isn't displayed bold when a new message arrives"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
The username on the left hand navigation is displayed bold when the email message arrives

## Actual Result:
The username on the left hand navigati

[2021-03-31 20:44] npsedhain commented on #2105
@laurenreidexpensify, I have opened the PR. :)

[2021-03-31 21:09] kidroca commented on #2154
@marklouisdeshaun Just did: https://www.upwork.com/ab/proposals/1377366625381879809

[2021-03-31 21:38] mallenexpensify opened #2180 "iOS- 1.0.2-51- Left menu shown in the center and need to reload App to fix it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
Job on Upwork https://www.upwork.com/jobs/~01acd19801f956e8ed

___

## Expected Result:
App should be open and show chat as usually.

## Actual Result:
App is opened but le

[2021-03-31 22:24] Amazing1974 commented on #2180
can you share the source code? then i can fix it.

[2021-03-31 22:31] NikkiWines commented on #2149
So do we have a consensus on what kind of button functionality we want? I see both sticky and non-sticky buttons on iOS at the moment, in addition to the variations we have between android and ios.

Non Sticky:
- Profile View
- Change Password View
- Payments View

Sticky:
- Chat textbox (not a button, but it is sticky)
- New Group page once you've selected a user but not before then
    - Side no

[2021-03-31 22:34] isagoico opened #2184 "Android - No notifications are received when app is in the background"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Notification is received even when the app is in the background.

## Actual Result:
No notification displayed when receiving new messages.

## Acti

[2021-03-31 22:48] isagoico commented on #1926
Regression is finished!
3 issues found today:
1. https://github.com/Expensify/Expensify.cash/issues/2175 - Deploy Blocker
2. https://github.com/Expensify/Expensify.cash/issues/2177
3. https://github.com/Expensify/Expensify.cash/issues/2184 - Deploy Blocker

Today's PRs were all a pass 🎉

@Julesssss there's [this PR](https://github.com/Expensify/Expensify.cash/issues/1926#issuecomment-809741397) #2

[2021-03-31 23:13] kevinksullivan commented on #2150
Posted to upwork:

https://www.upwork.com/jobs/~016e7e7cc383ab17f6

Switching this to the expensify repo per a conversation I had with @NicMendonca

[2021-03-31 23:49] mallenexpensify commented on #2180
Hi @Amazing1974 everything you should need to propose a solution should be in
https://github.com/Expensify/Expensify.cash/blob/master/CONTRIBUTING.md
and/or
https://github.com/Expensify/Expensify.cash/blob/master/README.md

[2021-04-01 00:20] aliabbasmalik8 commented on #2100
Hi.
The simple solution to this issue is to add `Key` like this way.

![image](https://user-images.githubusercontent.com/31027036/113226367-e8dd7580-9287-11eb-935f-67de2d738944.png)

https://user-images.githubusercontent.com/31027036/113226523-57223800-9288-11eb-87d6-de4045cc0a5e.mov

[2021-04-01 00:32] arielgreen opened #2188 "URL on mobile web does not update correctly at mobile screen sizes"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Upwork Job
https://www.upwork.com/jobs/~016463e249d6e050b1

## Expected Result:
The URL should update accordingly at all screen sizes.

## Actual Result:
When in mo

[2021-04-01 00:37] marcaaron commented on #2177
Probably we should not add `AutoAssignerTriage` label to issues that are deploy blockers.

[2021-04-01 00:42] marcaaron commented on #2175
Pretty sure this regression is caused by https://github.com/Expensify/Expensify.cash/pull/2103

[2021-04-01 01:00] thierrysantos commented on #2100
@iwiznia what is your JDK version and node version? (I'm with trouble to run the app in android)

[2021-04-01 01:01] #1968 closed

[2021-04-01 01:20] thierrysantos commented on #2100
The PR is open guys https://github.com/Expensify/Expensify.cash/pull/2166

[2021-04-01 01:49] marcaaron commented on #2177
Just wanted to clarify this expectation. Since you have sent a message and responded via email this should not appear to be bold on both accounts. Only bold on the account that did not respond via email.

Asking because I think anytime we add a new message we will assume you've seen all messages before this one.

cc @chiragsalian to double check this. Here's where it happens [in the code](https://

[2021-04-01 01:54] marcaaron commented on #2051
I'm not sure how to solve this yet but, it seems like it would be related to the `DrawerNavigator` implementation in `react-navigation`

[2021-04-01 03:56] Christinadobrzyn commented on #1498
Contributor has been paid, the contract has been completed, and the Upwork post has been closed.

[2021-04-01 03:56] #1498 closed

[2021-04-01 09:08] Julesssss commented on #1926
Hi @isagoico. Yeah that can be tested internally as the test steps are a bit tricky currently.

[2021-04-01 09:14] twisterdotcom commented on #1159
Also can confirm the steps laid out by @RafaelCenzano.

1. Navigate to a new chat
2. Upload a file as an attachment from the file picker (see it upload successfully)
3. Upload the same file as an an attachment from the file picker (nothing happens)
4. Upload a different file as an attachment from the file picker (see it upload successfully)
5. Upload _that same file_ as an attachment from the file

[2021-04-01 10:14] laurenreidexpensify commented on #2109
hi @kidroca https://www.upwork.com/jobs/~01316cac66af339ce4 is now live - if you apply will make sure you're hired

[2021-04-01 10:47] kidroca commented on #2109
Thanks @laurenreidexpensify just did: https://www.upwork.com/ab/proposals/1377573217104883713

[2021-04-01 11:20] laurenreidexpensify commented on #2109
Excellent, Thanks!

[2021-04-01 11:40] kidroca opened #2198 "Android - Denying permissions to use camera is not handled"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Trying to use the camera, but you have previously denied permissions the app should clearly indicate that
you need to update permissions in setting

[2021-04-01 11:43] kidroca commented on #2198
I've already addressed this in #2114 as it was directly related

[2021-04-01 12:43] kidroca commented on #2051
I've found another way to recreate it:
1. From Home
2. Tap the FAB button
3. select New Chat

https://user-images.githubusercontent.com/12156624/113295396-d3f0f880-9300-11eb-8aaa-d5c258d1d67a.mp4

I think I found what's causing it:

https://github.com/Expensify/Expensify.cash/blob/68866790ce210cfb78c41e84cb079b6b192fa5b0/src/components/OptionsSelector.js#L89-L91

Removing this fixes the issue when

[2021-04-01 14:04] longman0512 commented on #2188
Hello
It is very interesting.
Can you share your  source code?
I am going to fix it.
Regards

[2021-04-01 14:15] parasharrajat commented on #2176
I would like to work on this issue.
## Proposal
1. I will create A simple HOC under `components/withLocalize.js` (name could change to reflect the meaning more accurately) with one prop `preferredLocale` (defaults to `en`).
2. This HOC will listen for ONYX key `ONYXKEYS.PREFERRED_LOCALE`. Like this
[code]
3. It would be simple Functional HOC(No need of class comoponent as we are not managing any s

[2021-04-01 15:33] kidroca commented on #1083
I'm getting the same error. The change to ` babel.config.js` here #1144 fixes this for me too

Though you can add it like:
[code]

I'm not sure what exactly causes this but looks like it's related to babel config in the root of the project - everything using babel internally might use it - I think webpack-dev-server uses it to compile stuff (it's socket client) internally

I don't have this proble

[2021-04-01 17:11] marcaaron commented on #1159
I _think_ this should be triaged by `Engineering` before adding the `External` label.

[2021-04-01 17:14] marcaaron commented on #1159
Oh right, I can't add the label 😅

[2021-04-01 18:00] marcaaron opened #2201 "Test Issue - Ignore"
Ignore this

[2021-04-01 18:00] #2201 closed

[2021-04-01 19:13] SameeraMadushan commented on #2150
Hi,

### Proposal

- Dismissing the keyboard when go back will fix the issue.
- In the `<HeaderView>` component back button I will add the keyboard dismiss as following.
[code]
Thanks.

[2021-04-01 19:29] SameeraMadushan commented on #2188
I was digging into this issue for some time.
But the only things I notice,

- In small screens drawer is open
- When I click on report -> drawer gets hidden and the report screen comes visible.
- I noticed when the report opens and the drawer gets hidden browser navigation goes back one step.
- You can notice it with browser navigation buttons. (forward button becomes available)
- When you press t

[2021-04-01 20:57] #1778 closed

[2021-04-01 21:06] iwiznia commented on #2176
Proposal sounds good, go ahead and start working on the PR @parasharrajat

I think doing it on the spot is better, since it's simpler to read/understand

[2021-04-01 21:27] JmillsExpensify commented on #2151
Thanks @aliabbasmalik8. We settle Upwork jobs 7 days after the PR is merged to ensure no regressions.

[2021-04-01 21:52] trjExpensify opened #2205 "Fix flashing messages on iOS"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Platform - version:**
iOS v1.0.9.4
Android - pixel 3. android 11 build rq2a.210305.006 - e.cash version v1.0.10-2

**Action Performed (reproducible steps):**
1. Navi

[2021-04-01 21:56] mallenexpensify opened #2206 "Expensify React Native Fix flashing messages on iOS e.cash app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Messages should not flash after being sent.

## Actual Result:
Messages should not flash after being sent.

## Action Performed:
1. Navigate to cha

[2021-04-01 21:59] mallenexpensify commented on #2206
Close, dupe of https://github.com/Expensify/Expensify.cash/issues/2205

[2021-04-01 21:59] #2206 closed

[2021-04-01 22:06] marcaaron commented on #2160
Got a bunch of issues assigned to me so re-added the `Exported` label to get some help

[2021-04-01 22:10] marcaaron commented on #1926
Fix for 2175 in review now https://github.com/Expensify/Expensify.cash/pull/2189

[2021-04-01 22:31] #2175 closed

[2021-04-01 22:57] isagoico opened #2207 "Android - Chat - Tapping plus opens chat instead of new or group chat options"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
2 options appear. One to create a new chat and one to create a group.

## Actual Result:
Opens the chat window, + button non functional

## Action

[2021-04-01 23:04] parasharrajat commented on #2176
Quick Question:

for `numbeFormat` you asked you use `Intl.numberformat`. but `Intl` will not be available on native devices. Are there any plans to support that on native platforms?

I suggest using the polyfill https://formatjs.io/docs/polyfills/intl-numberformat/. We should create separate implementations of `Intl.numberformat` for web(available already) and native platforms.

[2021-04-01 23:28] iwiznia commented on #2176
Great question. I learned that [today](https://expensify.slack.com/archives/C01GTK53T8Q/p1617296293298100?thread_ts=1617294683.292800&cid=C01GTK53T8Q). I am not sure what is the best solution, kidroca there says there's a gradle config to enable Intl support. Is the polyfil better? Or can you summarize the pros and cons of each and which one you think is best?

[2021-04-01 23:40] isagoico commented on #1926
https://github.com/Expensify/Expensify.cash/pull/1878#issuecomment-812215928 - Checking it off.
https://github.com/Expensify/Expensify.cash/pull/2192#issuecomment-812218577

[2021-04-01 23:50] #2053 closed

[2021-04-01 23:56] parasharrajat commented on #2176
I am not an expert on the matter but here are few thoughts.

#### Why this issue on Android?

In order to build an app, React Native uses a virtual machine JavaScriptCore.

  - On iOS, it uses the JavaScriptCore provided by the iOS platform that already includes the toLocaleString() method.
  - On Android, it bundles the JavaScriptCore along with the application. In order to limit the app size, Re

[2021-04-02 00:10] MitchExpensify opened #2209 "Bullet point text not fitting the screen in .cash when sent via email"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
[Upwork posting](https://www.upwork.com/jobs/~0197d4462a125c2755)

**Platform - version**:
Desktop 1.0.10-0

**Action Performed** (reproducible steps):

1. Draft an ema

[2021-04-02 00:20] MitchExpensify commented on #2209
I am not sure why you have been auto assigned when the exported label was added @puneetlath , I don't recall that happening before on contributor issues

[2021-04-02 01:20] marcaaron commented on #2066
Alright, so I've looked into this issue some more and I don't think it's something that will be fixed in `react-navigation` any time soon ([more context here](https://github.com/react-navigation/react-navigation/issues/9364#issuecomment-812253690)). The default behavior of the drawer navigator is to close the drawer when the back button is pressed and it doesn't take into account screens that are

[2021-04-02 01:21] marcaaron commented on #2066
@ahmedahtazaz @trjExpensify I think we're good to go here.

[2021-04-02 13:25] ahmedahtazaz commented on #2066
@marcaaron kindly accept my upwork proposal so that we can start on this.

[2021-04-02 15:24] parasharrajat commented on #2176
@iwiznia There are a couple of libs we can use for `numberFormat`. But I am not aware of the scope for the `numberFormat `function in the project.

http://numeraljs.com/
https://numbrojs.com/index.html
The Polyfill https://formatjs.io/docs/polyfills/intl-numberformat/.

[2021-04-02 15:42] trjExpensify commented on #2066
Yep, done! 👍 Please make sure to link your PR to this issue and drop a comment when you're ready.

[2021-04-02 17:16] ahmedahtazaz commented on #2066
@trjExpensify I have accepted your offer and starting my work on this.

[2021-04-02 17:19] parasharrajat commented on #2176
@roryabraham any thoughts here.

[2021-04-02 17:19] tylerkaraszewski commented on #2051
@marcaaron - what do you think about this analysis?

[2021-04-02 17:52] marcaaron commented on #2051
I'm not able to reproduce this. But if disabling the "auto focus" behavior will fix it then we are discussing this possibility [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1617297528301900) and if we do decide to remove the auto focus for inputs on mobile then this should be fixed by default. cc @trjExpensify since this is another potential issue related to auto focus.

[2021-04-02 18:03] parasharrajat commented on #2051
I tested it. Autofocus has nothing to do with it. It still exists. Easier reproduction for this is to try to change the resolution in a responsive mode in the browser.

https://user-images.githubusercontent.com/24370807/113441370-c83e2880-940b-11eb-944e-584bda264f3f.mp4

[2021-04-02 18:05] chiragsalian commented on #2177
Yeah what marc says sounds correct. So if account B sends a message to account A via email, then the message will show up as bold just for account A in ecash and not for B.

Also I'm not sure why the result was different on production. Thats odd. Anyway I'm going to test your staging steps now.

[2021-04-02 18:13] marcaaron commented on #2066
Sorry everyone. So this is an interesting development, but I _think_ this change here will actually make the proposal no longer necessary.

https://github.com/react-navigation/react-navigation/commit/5ae0badc44b576d464f8841822a911b18a698403

Maybe we should hold until it's published?

[2021-04-02 18:19] kidroca commented on #2051
That's a bit harsh ☹️, In my attempts removing the focus in `OptionsSelector.js` fixed the issue when I open a New Chat and when I open Search. It did not fix the issue for switching between chats as the focusing handled by a different component there

Changing the size dynamically might be another way to cause this problem.

[2021-04-02 18:24] ahmedahtazaz commented on #2066
@marcaaron @trjExpensify totally up to you. I have no issues with waiting on.

[2021-04-02 18:27] ahmedjamshed001 commented on #1341
This issue can be resolved by using modified FlatList component here

https://codesandbox.io/s/musing-rubin-tti3o

[2021-04-02 18:30] mallenexpensify commented on #2150
@chiragsalian you were auto-assigned, can you please review proposals and follow steps here? https://stackoverflow.com/c/expensify/questions/7676

[2021-04-02 18:34] chiragsalian commented on #2177
I just tested on staging and the message showed up as bold for me,
![image](https://user-images.githubusercontent.com/14356145/113443250-6f887480-93a6-11eb-9d39-4579acdbaf18.png)

Account A i used was chirag@expensify.com
Account B i used was chirag.exp.test2@gmail.com

I sent a message from Account A to Account B. Waited 10minutes for the email to show up for Account B. Had Account B reply to the

[2021-04-02 18:43] iwiznia commented on #2176
I asked around and people seem to prefer the polyfill too, to make a comparison, could you get the total size of both solutions please?

[2021-04-02 19:00] trjExpensify commented on #2066
Cool, down to hold. Let's check back in shortly!

[2021-04-02 19:44] AndrewGable commented on #2176
BTW we use Hermes on Android: https://github.com/Expensify/Expensify.cash/pull/593 I think a polyfill or library will still be required, but just wanted to let you know.

[2021-04-02 20:07] mallenexpensify commented on #1341
Hi @ahmedjamshed001 We're not looking to override FlatList functionality, we want flatlist itself changed. Can you propose a solution for that?

[2021-04-02 20:12] iwiznia commented on #2176
Seems Hermes [does not support Intl](https://github.com/facebook/hermes/issues/23). So I guess we should go with the polyfills as that's our only option?
I am unsure which one though... seems that some people (1.5 years ago though) [think they are not really complete](https://github.com/facebook/hermes/issues/23#issuecomment-511019172)?

[2021-04-02 20:15] parasharrajat commented on #2176
@iwiznia. we have new polyfills. https://github.com/facebook/hermes/issues/23#issuecomment-605333778. They seem to support this. Anyways, we just need to polyfill. Intl.numberfomat for now. https://formatjs.io/docs/polyfills/intl-numberformat

[2021-04-02 20:17] iwiznia commented on #2176
Oh nice! ok, I think we should go with that option then. @AndrewGable, @Julesssss do you agree?

[2021-04-02 20:53] isagoico commented on #2177
Yep you tested it correctly. This is weird, me and the tester were able to reproduce this consistently on the day it was reported. Now I'm not able to reproduce this anymore in staging. Maybe we could close it and reopen if we experience this again.
![image](https://user-images.githubusercontent.com/44479856/113453407-e720c880-93d3-11eb-9415-29fd1883e1f2.png)

[2021-04-02 20:57] AliSaeed090 commented on #2209
Hi
I applied to this job in Upwork
Most probably there are responsiveness issue that can be handled through your UI library. If you are using bootstrap or material UI   so it can be handled through Grid system and break points

[2021-04-02 21:04] atesanec commented on #2205
The problem happens due to losing focus on the message being sent - the chat does not track message being sent to the chat. Instead it scrolls to bottom. When the message is added to the chat, it first added as being sent, then is loaded as a part of chat history. It leads to two messages in chat at the same time. Then one disappears.
The proper way to handle it is to update message being sent aft

[2021-04-02 22:22] NicMendonca commented on #2160
@parasharrajat don't forget to[ apply for the job in UpWork ](https://www.upwork.com/jobs/~015e629fcb24a53018)if you want to work on this. Thanks!

[2021-04-02 22:22] AndrewGable commented on #2176
Looks great 👍

[2021-04-02 22:24] NicMendonca commented on #1655
Going to re-assign for someone else to post in UpWork (I am going OOO for a week and won't be able to manage this)

[2021-04-02 22:44] mvtglobally opened #2218 "Android - Chat - User not returned to chat screen after viewing profile details and tapping X"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User returned to Chat screen

## Actual Result:
User returned to LHN

## Action Performed:
1. Launch the app and login
2. Tap on a chat from LHN (

[2021-04-02 22:46] mallenexpensify opened #2219 "Test issue, will close"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

## Action Performed:
Break down in numbered steps

#

[2021-04-02 22:47] #2219 closed

[2021-04-02 22:54] parasharrajat commented on #2160
Sure @NicMendonca.

[2021-04-02 23:08] Maftalion commented on #2205
Hello, I'd like to take this on.

**Proposal**
- There's an issue with the way the sequenceNumbers are being optimistically set then resolving back to the actual number. Since these are being used as the keys keyExtractor={item => `${item.action.sequenceNumber}`}, it causes this weird behavior.

If this gets updated to use something unique that doesn't change like `timestamp` then it solves the is

[2021-04-03 01:09] kidroca commented on #2150
Hey, @mallenexpensify I've commented on this in slack

My current PR is covering this issue (check out the video if you'd like)

I'm not using `Keyboard.dismiss();` though - the compose input component is not mounted at all when it is covered by the drawer. So when the drawer opens the Keyboard would disappear as there is no longer a focused field

[2021-04-03 09:31] alexandrtovmach commented on #2209
Hey there 😄,
Bazed on provided gif with a bug I'd suggest that's an issue related to word-break CSS property. List items not wraps at all, but all other texts seems work properly.

I briefly checked code base, and found that you have global file with styles, and general style for wordBreak. Changes should be somewhere here by applying wordBreak styles to list element.

[2021-04-03 10:20] kidroca commented on #2051
I've researched the handling of input fields in mobile Safari further.

When an input is focused mobile Safari would try to position it nicely in the middle for the user
In our case this happens while the drawer is still moving

Here is a good explanation:  https://gist.github.com/kiding/72721a0553fa93198ae2bb6eefaa3299

  Zooming can be easily disabled using a meta tag, but the scrolling hasn't b

[2021-04-05 03:33] aliabbasmalik8 commented on #2209
Hi, add this in `tagStyles` object will resolve this issue
[code]
Here is screenshots after apply this styling.
on Web
<img width="1265" alt="Screen Shot 2021-04-04 at 11 27 14 PM" src="https://user-images.githubusercontent.com/31027036/113534166-e76cbf80-959d-11eb-929b-361297b7120d.png">
On Mobile(IOS)
![image](https://user-images.githubusercontent.com/31027036/113534191-fce1e980-959d-11eb-9c40-5

[2021-04-05 11:48] TomatoToaster commented on #2209
Hi @aliabbasmalik8, your solution sounds good and looks like it will work. Thanks for the screenshots!

Feel free to open up a PR to try this out. I think the placement in tagStyles makes sense for this.

[2021-04-05 12:48] sketchydroide commented on #986
@aliabbasmalik8 Do you think you could do the changes as I described them?

[2021-04-05 12:57] Beamanator commented on #2205
Responding to @atesanec :

Could you please show what you mean here? I haven't been able to reproduce this "two messages in chat at the same time". I believe from the original video (posted by @trjExpensify ), he did actually send the same message twice - is this what you're talking about?

[2021-04-05 13:03] Beamanator commented on #2205
Responding to @Maftalion :

I like your solution to use `item.action.timestamp` instead of `item.action.sequenceNumber`, since the timestamp gets set once (in the client) and it never changes! Good catch :) I'll assign this issue to you!

Could you send a video of what you're seeing here? I haven't been able to reproduce the "bouncing issue" mentioned :)

[2021-04-05 13:18] aliabbasmalik8 commented on #2209
@MitchExpensify Upwork JOB link not worked. can you please have a look?
Thanks

[2021-04-05 13:31] alexandrtovmach commented on #2209
@aliabbasmalik8 nice job man :+1:

[2021-04-05 15:53] Maftalion commented on #2205
@Beamanator Of course! So with only the timestamp change, it still leads to this "bouncing" behavior:

https://user-images.githubusercontent.com/12075600/113594083-0a25c500-95ec-11eb-90be-f914d50b6eaf.mov

[2021-04-05 16:00] tugbadogan opened #2225 "Report name is disappearing 5 seconds after page load"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Chat report name is not disappearing 5 seconds after chat page is loaded.

## Actual Result:
Avatar and chat report name are disappearing 5 seconds

[2021-04-05 16:04] tugbadogan commented on #2225
This issue is caused by the following problem. When Onyx.mergeCollection is called, we should merge data with the modified data and update subscribers with merged data instead of updating them only with modified data.

### Proposal

1) Modify updateIndividualSubscriber function to use data from prevState and use lodashMerge to merge objects, so we
2) Add unit tests to check if merge and mergeColle

[2021-04-05 17:12] chiragsalian commented on #2177
Yup, that sounds great 👍  Thank you for retesting.

[2021-04-05 17:12] #2177 closed

[2021-04-05 18:16] Beamanator commented on #2205
Thanks for the quick response @Maftalion !

That is very clear on your device! Funny I'm still not able to reproduce on an iPhone 11 simulator 😅

For now, let's move forward with the fix specific to this original issue only (messages "flashing") - You're more than welcome to open a new issue with the bouncing you see above (if one doesn't already exist) if you'd like :D

[2021-04-05 18:27] TomatoToaster commented on #2209
Hey @aliabbasmalik8, are you still not able to access the job? The link here worked fine for me: https://www.upwork.com/ab/applicants/1377776681827938304/job-details

[2021-04-05 18:32] aliabbasmalik8 commented on #2209
@TomatoToaster, This link displays the error message `you are not authorized to access this page` to me.

<img width="1347" alt="Screen Shot 2021-04-05 at 2 29 19 PM" src="https://user-images.githubusercontent.com/31027036/113610679-71a73900-961b-11eb-8217-2f94dd852d03.png">

[2021-04-05 18:33] parasharrajat commented on #2209
@TomatoToaster This is link is not for applicants. It's for Job poster. Try to find an option to share job.

[2021-04-05 18:44] TomatoToaster commented on #2209
Ahhh yep yep, I see what you mean, thanks y'all

Here's the public link: https://www.upwork.com/jobs/~0197d4462a125c2755

[2021-04-05 19:06] MitchExpensify commented on #2209
Just hired you in Upwork @aliabbasmalik8, thanks!

[2021-04-05 19:40] Maftalion commented on #2205
@Beamanator Were you testing in a chat with a full block of text? it seems it only occurs for chats are longer than a page

[2021-04-05 20:11] AndrewGable commented on #2225
@tugbadogan - Can you write a failing test to show the regression in `react-native-onyx`? If so- We can make this into an Upwork job and pay you to fix it 👍

[2021-04-05 21:10] mallenexpensify commented on #2180
@marcaaron assigned to you for incoming proposal reviews since you added the External label to the E/E issue

[2021-04-05 21:13] marcaaron commented on #2180
Gonna unassign myself from this one as the process changed on that.
Adding the `Exported` label should auto-assign someone now.

[2021-04-06 00:06] mallenexpensify commented on #1655
@jasperhuangg couple questions
1. Was there a reason this was created in e.cash repo instead of E/E?
2. Is this the same (or similar-enough) issue? https://github.com/Expensify/Expensify/issues/157248  Do you think once that is fixed that it _might_ fix this too?  We could put this on hold to wait to find out or.. not.

[2021-04-06 00:28] tugbadogan commented on #2225
Hi @AndrewGable
I've created a new test case to show the regression and it's failing here => https://github.com/Expensify/react-native-onyx/pull/60/checks?check_run_id=2274072407

https://github.com/Expensify/react-native-onyx/pull/60

[2021-04-06 01:06] isagoico opened #2235 "Chat - Sent message is hidden for the Group Chat when we use the GSD mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Sent message is visible for the Group Chat when we use the GSD mode

## Actual Result:
Sent message is hidden for the Group Chat when we use the GS

[2021-04-06 01:09] isagoico commented on #2235
@roryabraham not sure if we should add the deploy blocker label in this one. The issue is not reproducible in production but these seems like intended changes https://github.com/Expensify/Expensify.cash/pull/2015 made here.

[2021-04-06 01:15] marcaaron commented on #2225
Thanks @tugbadogan. Finally got around to looking at all of this.

I think the issue stems from that `merge()` and `mergeCollection()` fundamentally work a bit differently - I missed this in my last change to Onyx. Calls to `merge()` are batched so there is no need to use `prevState` but calls to `mergeCollection()` are not batched.

While this will fix the issue and the failing test it feels inco

[2021-04-06 01:18] isagoico opened #2236 "Chat - Blank LHN with keypad opens when login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
LHN opens with chat and keypad should close

## Actual Result:
LHN is empty and keypad opens up.

## Action Performed:
1. Launch the app
2. Login w

[2021-04-06 01:29] isagoico commented on #1926
**Regression** is finished!
2 issues found:
1. https://github.com/Expensify/Expensify.cash/issues/2235
2. https://github.com/Expensify/Expensify.cash/issues/2236

**PRs** were a pass! 🎉

[2021-04-06 01:41] shawnborton commented on #2235
I actually think this is intended behavior, so I think we should close this out.

[2021-04-06 06:52] nbgspl-github commented on #1341
Hi

  I looked through the issues and source code of the react-native-web FlatList/VirtualizedList.

My current conclusion is that   inversion inside React Native is pretty broken, affecting scroll + text highlight + A11y.

As few people suggested above I agreed suggesting using a non-inverted FlatList.

 Thanks
 Sumit NBGSPL

[2021-04-06 07:40] kidroca commented on #2051
There's a ticket related to viewport size change on react navigation: https://github.com/react-navigation/react-navigation/issues/8551

Thought specifically for the autofocus cases:
- an action is selected
- content with a field is mounted outside the viewport (abs position?)
- the field is focused during the transition and the transition stops

I've also recreated this on mobile Chrome

[2021-04-06 10:29] Julesssss commented on #2198
Tested this flow as part of the other PR. The old 'Permission denied' Dialog is displaying before the native permission dialog gets a chance to display. This is on Android 8.1. Any idea for why I'm not seeing the same flow as you?

[2021-04-06 10:30] #1913 closed

[2021-04-06 13:04] Beamanator commented on #2205
Nice one @Maftalion ! Now I can see it if I have a whole page of messages, and if I scroll up a tiny bit before sending a message 😆

[2021-04-06 15:34] #2029 closed

[2021-04-06 16:27] kidroca commented on #2198
@Julesssss
You mean this one right:
https://user-images.githubusercontent.com/10736861/113007418-1cc47800-916e-11eb-9088-e88359fda03b.png

I don't know why I'm not getting that I've used both a Physical Android 8.0 device and a Emulator with Android 9.0

This is what I do:
- `npm run android`
- Go to settings / apps / app permissions and turn of camera permissions
- Then I'll get the updated error

[2021-04-06 16:48] Julesssss commented on #2198
Whoops, didn't mean to close this!

[2021-04-06 16:56] Julesssss commented on #2225
@marcaaron Couldn't this simply be achieved via a flag passed to `updateIndividualSubscriber()`?. Is that the sort of solution you are suggesting, or something else?

[2021-04-06 16:57] Julesssss commented on #2225
@slafortune, it would be great if we could get the UpWork issue created for this one today, as it's a bit of a blocker for IOU/N5. Thanks in advanced

[2021-04-06 17:54] aliabbasmalik8 commented on #986
@sketchydroide did not found a solution according to the changes you described above.
There is two solution
1. https://github.com/Expensify/Expensify.cash/issues/986#issuecomment-806109447
2. inline text but without border and padding properties.

BLOCKER: Not found any way to assign border and padding properties to `<Text>` element without using `<View>` if you have an idea how to do this please

[2021-04-06 18:16] marcaaron commented on #2225
Hmm, no I probably wouldn't suggest that. I would suggest we either:

1. Make `mergeCollection()` work the same way as `merge()`

OR

2. Rollback the `updateIndividualSubscriber()` logic and instead have some duplicate logic in `keysChanged()`

The first option feels like a better long term solution, but we can do 2 to just unblock whatever is blocked by this.

[2021-04-06 18:17] puneetlath commented on #1157
Hey @anthony-hull . Based on the conversation in Slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1617294683292800) it doesn't seem like there's a lot of enthusiasm for this change as it's not clear what tangible benefit we would see. However, if you disagree with that please feel free to chime in on that thread or reopen this issue with what tangible improvements you think we would

[2021-04-06 18:17] #1157 closed

[2021-04-06 18:38] marcaaron commented on #2066
I verified the issue has been fixed and published so we need only bump the `@react-navigation/drawer` version to `5.12.5` and then test the outcome.

https://github.com/react-navigation/react-navigation/releases/tag/%40react-navigation%2Fdrawer%405.12.5

[2021-04-06 18:42] mallenexpensify opened #2246 "Skip IOU participants step if launched from within chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This issue builds on top of the existing IOU Modal, which was implemented [in this PR](https://github.com/Expensify/Expensify.cash/pull/1561). The second step (`IOUPar

[2021-04-06 18:42] ahmedahtazaz commented on #2066
@marcaaron @trjExpensify okay. So should I withdraw my proposal now or upgrade @react-navigation/drawer version to 5.12.5 and test it?

[2021-04-06 18:47] marcaaron commented on #2066
Let's start with this since it's very easy to do. I'm hopeful that it will resolve this issue. Thanks.

[2021-04-06 18:48] ahmedahtazaz commented on #2066
okay.

[2021-04-06 18:50] marcaaron commented on #1655
Not sure what device this is. But can confirm this does not happen in Android emulator with the latest version of `@react-navigation/drawer`. I agree with @mallenexpensify that we should put this on hold to see if the issue is resolved.

[2021-04-06 19:14] marcaaron commented on #2051
It does seem like perhaps the fix would be in `react-navigation` based on that issue. Curious what some debugging might reveal.

Not sure if `react-navigation` is using a CSS transition in this case, I believe it's using `react-native-reanimated` for the drawer and setting the `translateX` property. Not sure if it helps, but it doesn't seem to happen consistently which makes me wonder if some slow

[2021-04-06 19:56] marcaaron commented on #1855
@parasharrajat We are currently discussing whether to just get rid of auto focusing the input altogether on native platforms. This should fix this issue and a couple of others if we decide this is the best way forward.

[2021-04-06 20:03] parasharrajat commented on #1855
@marcaaron Yup sure. There is a couple of ongoing PR and opinions(including yours) that would change the objective. Thus I am waiting as per my update [here](https://github.com/Expensify/Expensify.cash/pull/2022#issuecomment-812215007). Thanks for the update info.

[2021-04-06 20:05] iwiznia commented on #2176
@parasharrajat what's the state of this?

[2021-04-06 20:06] parasharrajat commented on #2176
@iwiznia I pushed a PR 5 days back. Waiting for review. #2208

[2021-04-06 20:11] iwiznia commented on #2176
Damn, seems it fell through the cracks... I will review it now.

[2021-04-06 20:14] marcaaron commented on #2150
Just a heads up I'm actually going to close this issue so we can handle all issues related to the keyboard in a single PR. There is a lot of discussion and a lot of confusion about which PRs will fix what so rather than have yet another person addressing this behavior we should close this. Thanks!

[2021-04-06 20:27] marcaaron commented on #2150
Actually just going to put this on HOLD instead. My main concern is having another contributor look into the same issue as we have plenty of eyes on it already.

[2021-04-06 20:27] marcaaron commented on #2150
We can close this once the issue is resolved.

[2021-04-06 20:30] marcaaron commented on #1855
Here's what I am thinking a complete fix for this should be:

1. Disable the "modal visibility aware" autofocus logic for the chat comment input when:
    - we are using a native platform
    - we are using mobile web (defined as anything that has a touch screen or software keyboard)
2. Modify this logic here so that it will only focus the input on desktop/web + when the report `isFocused` (if nec

[2021-04-06 20:32] ahmedahtazaz commented on #2066
@marcaaron i think this upgrade is going to open new issues because upgrade of @react-navigation/drawer version to 5.12.5 requires react-native version upgrade to 0.64.0 and react upgrade to 17.0.1.

[2021-04-06 20:55] marcaaron commented on #2066
What about this change requires upgrading those other dependencies?

[2021-04-06 21:01] ahmedahtazaz commented on #2066
@marcaaron in @react-navigation/drawer 5.12.5 react-native version 0.64.0 has been added as peer dependancy. So we got to have the sam react-native version in our dependancies.

[2021-04-06 21:03] ahmedahtazaz commented on #2066
i think this is the reference commit which has upgraded this dependancy https://github.com/react-navigation/react-navigation/commit/9fce3a433c312a0e69e633e9d1c04fc9c0a8d645. This was released in version 5.12.5 of @react-navigation/drawer.

[2021-04-06 21:10] isagoico opened #2247 "Chat - Unable to send message from newly created account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Message should be sent

## Actual Result:
Nothing happens after button tapped

## Action Performed:
1. Open url
2. Login with **newly** created app

[2021-04-06 21:17] isagoico commented on #2247
All **new** applause.expensifail accounts are being affected by this. Not sure if I should add the deploy blocker label since there's another issue in production.
When login in there's a blank page displayed with this JS error message.

![image](https://user-images.githubusercontent.com/44479856/113779566-ebaeef00-96fb-11eb-85b3-f76b1bb0d9c5.png)

CC @roryabraham / @AndrewGable

[2021-04-06 21:19] roryabraham commented on #2247
Oh no! 😱

[2021-04-06 21:21] roryabraham commented on #2247
I'm not sure it should be a deploy blocker since the production bug seems worse 😅

[2021-04-06 21:42] isagoico opened #2248 "Chat - Unable to create a new account with gmail, stuck in "Resend link" loop"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
When the user clicks on the validation link in the email, they are redirected to /setpassword page and are able to successfully create a new accoun

[2021-04-06 22:18] shawnborton commented on #2149
It seems like the Change Password view and the Payments view are using a bottom sticky button.

For Sign Out, I wonder if a better approach is to use the same kind of navigational menu option that we use for the Profile options. It feels way less heavy and then we have one less outlier:
![image](https://user-images.githubusercontent.com/2319350/113784918-062c9c80-96eb-11eb-9c0c-9f015917ca79.png)

[2021-04-06 22:47] marcaaron commented on #2066
Sorry, can you maybe explain what problems we are going to run into if we upgrade to `@react-navigation/drawer 5.12.5` without upgrading our version of `react-native`?

[2021-04-06 23:06] marcaaron commented on #2247
This seems like a duplicate of this issue https://github.com/Expensify/Expensify/issues/158699

[2021-04-06 23:15] marcaaron commented on #2247
Tested on staging branch and master and was not able to reproduce this. Going to update all my repos to be sure the issue doesn't exist someplace else.

[2021-04-07 00:17] marcaaron commented on #2225
Gonna take care of this since it is blocking things and we are working under a deadline now.

[2021-04-07 01:07] isagoico opened #2253 "Android - Profile - Blank page is displayed when accessing profile settings"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Profile page opens with settings details

## Actual Result:
Empty screen opens

## Action Performed:
1. Launch the app and login
2. Tap avatar
3. T

[2021-04-07 01:28] isagoico commented on #1926
Regression is finished!
4 issues found today:
1. https://github.com/Expensify/Expensify.cash/issues/2247
2. https://github.com/Expensify/Expensify.cash/issues/2248
3. https://github.com/Expensify/Expensify.cash/issues/2253

PRs are finished too:
2 comments added:
1. https://github.com/Expensify/Expensify.cash/pull/2114#issuecomment-814522589
2. https://github.com/Expensify/Expensify.cash/pull/2169

[2021-04-07 02:10] isagoico commented on #1926
**Regression** is finished!
3 issues found today:

1. #2247
2. #2248
3. #2253

**PRs** are finished too:
4 comments added:

- https://github.com/Expensify/Expensify.cash/pull/2114#issuecomment-814522589
- https://github.com/Expensify/Expensify.cash/pull/2114#issuecomment-814541455
- https://github.com/Expensify/Expensify.cash/pull/2114#issuecomment-814547522
- https://github.com/Expensify/Expensif

[2021-04-07 03:05] marcaaron commented on #2253
This is a duplicate of https://github.com/Expensify/Expensify/issues/158699

[2021-04-07 03:10] marcaaron commented on #2236
I believe this is a duplicate / has the same root cause as https://github.com/Expensify/Expensify.cash/issues/2150
Feel free to reopen if anyone disagrees.

[2021-04-07 03:10] #2236 closed

[2021-04-07 03:20] marcaaron commented on #2248
This will happen until we merge @jasperhuangg's PR https://github.com/Expensify/Expensify.cash/pull/1857

[2021-04-07 03:22] #2235 closed

[2021-04-07 03:28] isagoico commented on #2253
@marcaaron this is also happening for older accounts, so not sure if it's still a dup. All accounts old and new are being affected by this.

[2021-04-07 03:38] marcaaron commented on #2207
This regression was caused by https://github.com/Expensify/Expensify.cash/pull/2183

[2021-04-07 03:38] marcaaron commented on #2151
There are a couple of issues with this PR so I'm reopening until they are resolved.

[2021-04-07 03:38] marcaaron commented on #2207
https://github.com/Expensify/Expensify.cash/issues/2151

[2021-04-07 03:39] marcaaron commented on #2207
cc @aliabbasmalik8

[2021-04-07 03:55] marcaaron commented on #2127
Gonna assume unassigning @joelbettner was accidental. This should be triaged like any other issue. Thanks.

[2021-04-07 04:22] kadiealexander opened #2258 "[HOLD for payment June 29] Update compose box to send photos and text in one message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Expected Result:**
1. When uploading image attachments in Expensify.cash, the [existing attachment preview modal](https://github.com/Expensify/Expensify.cash/blob/ed

[2021-04-07 04:25] kadiealexander commented on #2258
Upwork post: https://www.upwork.com/jobs/~01f6625d382eb3f5db

[2021-04-07 04:54] Maftalion commented on #2246
**Proposal**
- First I would update `navigate` and `linkTo` to be able to pass navigation params since that's not supported with the current setup:
https://github.com/Expensify/Expensify.cash/blob/5f477a20dae70b0d849db5f1b11d3420bb893f2b/src/libs/Navigation/Navigation.js#L35-L42
- I would pass the navigation params with the initial navigation in ReportActionCompose: `onSelected: () => Navigation.n

[2021-04-07 06:26] saudkhan1391 commented on #2246
Why don't you create a Custom modal for it if the IOU doesn't work ? You can use Redux or Context API for state management and then you can pass the props through any component wherever you like.
Let me know what are your thoughts on this ?

[2021-04-07 07:47] sakul-budhathoki commented on #986
Hi @sketchydroide, @aliabbasmalik8 . There is some limitation to fix this issue completely. I have sent PR some time before https://github.com/Expensify/Expensify.cash/pull/1099. React native has styling limitation with <Text> inside <Text>. Inner <Text> will not obey some styles.

[2021-04-07 09:14] Julesssss commented on #2246
Hi @Maftalion, thanks for the detailed proposal.

As these 'steps' are already separated and [managed by the IOUModal](https://github.com/Expensify/Expensify.cash/blob/f0a068b5f2979e6390968bcbb76144a01bec12e2/src/pages/iou/IOUModal.js#L175-L199), is the proposal here to make them actual `react-native-navigation` Screens, or something else entirely?

The plan was to just require emails, as that is

[2021-04-07 09:16] Julesssss commented on #2246
Hi @saudkhan1391. Thanks for the comment, but I'm not sure exactly what your proposal is here. Could you please clarify how you would implement the listed requirements?

[2021-04-07 14:57] parasharrajat commented on #986
@sketchydroide I think this issue is hanging around for a long time. I tried few techniques that could let us achieve the desired UI.

## Problem
We tried using a combination of `Text` & `View` tag to achieve the above UI but there are a couple of issues as follows:
1. Text is rendered as a block box but we want inline text.
2. In Another way, we can get the inline text but border and `border-radi

[2021-04-07 15:13] Beamanator commented on #2225
Didn't mean to close this one when I merged a related PR, sorry!

[2021-04-07 15:16] marcaaron commented on #2028
Looked into this some more. It is possible to get around the issue we noticed last time (many drawer navigators stacking) by moving the `ReportScreen` into a `Stack.Navigator`. Then, if we push new `Report` routes the browser history should work more reliably.

However, I also noticed that these Report screens never actually unmount and just stack on top of each other forever. This is the default

[2021-04-07 15:19] marcaaron commented on #2225
Oh no worries, I think it should be closed? I didn't see that @Julesssss and you bumped the version in e.cash. Thanks for doing that!

[2021-04-07 15:19] #2225 closed

[2021-04-07 15:28] Julesssss commented on #2246
@Maftalion for the participant details, we should be able to retrieve them via [getPersonalDetailsForLogins](https://github.com/Expensify/Expensify.cash/blob/9194fd9131e16c65d20f14d3b8b72cb3630c1671/src/libs/OptionsListUtils.js#L32-L46). I think it would be simplest to do this step as the modal opens, as we use a different method to retrieve the participant details at the second step.

[2021-04-07 15:34] SameeraMadushan commented on #2028
@marcaaron  Pushing new routes in the mobile is fine right? Because when a user opens a report screen and If the user wants to open another report, the user has to go back(when going back will pop the screen) and start the stack from the drawer.

Pushing a new screen won't be a problem on the web, because the dom will just replace the report view with a new report and only the history will be reco

[2021-04-07 15:45] kidroca commented on #2028
Hmm if the problem is only on mobile this means routing already works correct

What I expect from the back button when I'm inside a chat is to return me to the LHN though
- I start from the LHN (drawer open)
- I pick a conversation
- I want to go back - intercept the back button and just open the drawer

Do you also want to be able to return to prior opened chats - the information should be in the

[2021-04-07 15:52] kidroca commented on #2028
As long as there's drawer involved you are still on the Report Screen
You get the sense that you go back - because you start with the drawer expanded
But the Report Screen is always mounted the drawer just draws over it
So going back is just opening the drawer over the current screen. Then selecting a chat from the drawer just swaps the screen content.
With react nav 5 you can add screen definitio

[2021-04-07 15:55] SameeraMadushan commented on #2028
@kidroca Oh! 👀  That's true.

[2021-04-07 15:57] Julesssss commented on #2225
Yeah, all good now. Thanks for checking.

[2021-04-07 15:59] marcaaron commented on #2028
@SameeraMadushan I think when we `push()` a screen above another screen both remain mounted. The behavior you are describing does sound like what we'd expect when we use `navigate()` (but I am just guessing based on some quick logging done when the component mounts).

@kidroca That's a great point. And I agree that's 100% what our expectation would be if we were viewing things on mobile. But also

[2021-04-07 16:08] Maftalion commented on #2246
@Julesssss thanks for clarifying!

Yeah basically splitting out these components into their own screens to clean things up a bit and getting rid of all the index/step logic since that would all be provided out of the box. (I can also leave it how it is if needed)

Cool! yeah I think I can just use `getPersonalDetailsForLogins` on the final step (confirm) to get all the details for the logins.

[2021-04-07 16:11] isagoico commented on #2253
Looks like this was fixed! 🎉

<img src="https://user-images.githubusercontent.com/44479856/113898823-35e6ad80-979a-11eb-93c0-691b32fa8668.png" width="40%">

CC @NikkiWines

[2021-04-07 16:11] #2253 closed

[2021-04-07 16:16] #1513 closed

[2021-04-07 16:39] #2207 closed

[2021-04-07 16:40] #2247 closed

[2021-04-07 16:46] mallenexpensify commented on #1950
Indirectly related, dropping in for reference https://expensify.slack.com/archives/C01GTK53T8Q/p1617740926401400
There should be a GH created for the above _soon_

[2021-04-07 16:50] marcaaron commented on #1950
Hmm aren't these pretty much discussing the same issue? This issue feels like it has stalled a bit. Should we maybe come up with a more unified and complete plan, get design feedback, put together a mini doc or proposal and then create the issue?

[2021-04-07 16:54] quinthar commented on #1950
I think these are two different things:

1. The UI currently loads through several broken, incomplete, and unusable
iterations before something correct is displayed.

2. After the UI is correctly displaying (and functional), it begins
synchronizing down content.  This creates uncertainty when you open up the
app and see there are no new messages -- are there *really* no new
messages, or have they

[2021-04-07 17:08] Julesssss commented on #2246
I think it is a good plan, but one fear I have is that web users would then be able to navigate via the root to a specific step in the IOU flow. Perhaps this isn't a huge problem, but I wonder if you have any thoughts on how to avoid this?

[2021-04-07 17:17] parasharrajat commented on #2246
Making these into separate screens will give us clean code but I think it won't be useful. I follow this.

In our case, these are immediate steps and we don't any draft for creating a request so jumping directly to any step will never happen.

[2021-04-07 17:32] Maftalion commented on #2246
Hmm yeah that makes sense. I wonder if something like https://reactnavigation.org/docs/navigation-container#linkingenabled could be used for those routes. But I'll leave it as is for now.

[2021-04-07 17:48] ahmedahtazaz commented on #2066
![Screenshot 2021-04-07 at 10 43 43 PM](https://user-images.githubusercontent.com/49054500/113910999-e7193200-97f2-11eb-84dc-dab6315e1057.png)

@marcaaron it means that we cannot upgrade to @react-navigation/drawer 5.12.5 because our project has a different version of react-native and @react-navigation/drawer 5.12.5 is compatible with or requires a different version of react-native. We need to res

[2021-04-07 17:49] ahmedahtazaz commented on #2066
I hope you have got my point now.

[2021-04-07 17:54] parasharrajat commented on #2066
@ahmedahtazaz Have you tried the `--force` switch command? I think the above comment is saying to list down the issues that you face after installing it forcefully with old react-native.

[2021-04-07 18:06] marcaaron opened #2276 "Test"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

## Action Performed:
Break down in numbered steps

#

[2021-04-07 18:09] ahmedahtazaz commented on #2066
@parasharrajat yes force upgrading this dependancy is a way of doing this. But in this case we will have to perform a full testing cycle on this app to be sure about all the issues which we might face.

I think this full testing is not in the scope of this issue. So I will try to force upgrade the dependancy and share my results which are related to this issue.

[2021-04-07 18:21] marcaaron commented on #2066
Not sure what we are doing to get this error to appear, but I updated only this package in `package.json` then did an `npm install` without any issues.

[2021-04-07 18:25] marcaaron commented on #2066
We have a QA team that can test this change for any regressions and do a full test cycle. But some reasonable testing of back button behaviors is expected and should be scoped to this issue, no?

[2021-04-07 18:27] muttmuure commented on #2097
I think I missed this because it's in the .cash repo.

@stitesExpensify when you're happy with the review we'll need to create an External issue in E/E https://expensify.slack.com/archives/C01SKUP7QR0/p1617220984062300?thread_ts=1617218921.052600&cid=C01SKUP7QR0

[2021-04-07 18:31] ahmedahtazaz commented on #2066
@marcaaron yes a reasonable testing of back button is in the scope of this issue and i will do that.

As far simple npm install is concerned by just upgrading the dependancy version to 5.12.5 I am sharing the screenshot in which I am doing the same but with same error appearing.
![Screenshot 2021-04-07 at 11 27 30 PM](https://user-images.githubusercontent.com/49054500/113916136-0e72fd80-97f9-11eb-

[2021-04-07 18:36] marcaaron commented on #2066
Ok, I don't see the issues you're seeing at all on my end. Not sure what the explanation for that would be.

[2021-04-07 18:38] ahmedahtazaz commented on #2066
@marcaaron can you share your package.json file?

[2021-04-07 18:38] parasharrajat commented on #2066
Difference between npm CLI versions.

[2021-04-07 18:39] ahmedahtazaz commented on #2066
@parasharrajat yeah may be but if there are conflicts in the dependancy tree than any npm cli version will throw the error. right?

[2021-04-07 18:44] arielgreen commented on #2188
**Note**: The price for this fix has been upped to $500.

[2021-04-07 18:45] parasharrajat commented on #2066
I think you can try `npm ci`. Not an expert though. :smile:

[2021-04-07 18:48] ahmedahtazaz commented on #2066
@parasharrajat we can try npm install with --force as well. But we are having a conflict on npm install. Btw I am trying with latest npm version that is 7.8.0

[2021-04-07 18:51] ahmedahtazaz commented on #2066
@marcaaron i think we should figure this out as soon as possible. Kindly let me know if you want me to force upgrade it or not.

[2021-04-07 18:53] ahmedahtazaz commented on #2066
@parasharrajat can you do us a favour here and just try to update @react-navigation/drawer version to 5.12.5 and run npm install?

[2021-04-07 18:53] ahmedahtazaz commented on #2066
just to be sure

[2021-04-07 18:56] parasharrajat commented on #2066
Had to say. No errors on my side. I am using npm 6.14.11

[2021-04-07 19:04] ahmedahtazaz commented on #2066
@parasharrajat seems like an npm cli version issue. Some reference issues https://github.com/npm/cli/issues/2000 and https://github.com/npm/cli/issues/2119.

[2021-04-07 19:11] SameeraMadushan commented on #2188
@arielgreen is it possible to share the logs here? Don't have access to StackOverflow.

[2021-04-07 19:26] #2276 closed

[2021-04-07 19:38] isagoico commented on #1926
We have been able to reproduce this issue several times and in different devices during regression 1.0.1-15 https://github.com/Expensify/Expensify/issues/157735. It's not consistently reproducible.

[2021-04-07 20:09] isagoico opened #2278 "Web - Login - Blank white screen after login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User should be redirected to chat page

## Actual Result:
Blank white screen displays after login

## Action Performed:
1. Open https://estaging.ex

[2021-04-07 20:17] ahmedahtazaz commented on #2066
@marcaaron after version update of @react-navigation/drawer to 5.12.5 issue still persists.

[2021-04-07 20:19] ahmedahtazaz commented on #2066
First hardware back press on settings page is still not working.

[2021-04-07 20:46] isagoico opened #2279 "iOS/Android - Message - Copy message menu is not displayed when pressing on the message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Copy icon should appear and able to copy the message

## Actual Result:
Copy icon does not appear, only device copy functionality opens up

## Acti

[2021-04-07 20:48] isagoico commented on #2279
@roryabraham not sure if we should mark this as a deploy blocker (since the copy functionality is not available in prod and it's working if you press directly on the message) please let me know what you think 😬

[2021-04-07 20:50] marcaaron commented on #2066
Have you tried to reset the JS cache in metro? I've tested the change on physical Android device and emulator and the issue seems to be resolved. Hard to say what issues you're running into. Can you open a PR?

[2021-04-07 20:54] isagoico opened #2280 "Android - Chat - Recent users displayed without user's name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Recent users displayed with user's name

## Actual Result:
Recent users displayed without user's name

## Action Performed:
1. Launch the app and l

[2021-04-07 21:14] ahmedahtazaz commented on #2066
@marcaaron yes I have reset the JS cache of metro bundler. Opened up a PR https://github.com/Expensify/Expensify.cash/pull/2281

[2021-04-07 21:47] #2176 closed

[2021-04-07 22:28] roryabraham commented on #2279
No need to block deploys on this. I shall fix

[2021-04-07 22:30] isagoico commented on #1926
Regression is finished!
3 issues found today:
1. https://github.com/Expensify/Expensify.cash/issues/2278 - Possible deploy blocker (?)
2. https://github.com/Expensify/Expensify.cash/issues/2279
3. https://github.com/Expensify/Expensify.cash/issues/2280

PRs are finished too!
No comments added 🎉

https://github.com/Expensify/Expensify.cash/pull/2110 was going to be tested internally CC @Julesssss
h

[2021-04-07 22:37] iwiznia commented on #2280
Why does this issue have no labels? That's part of the triage.

[2021-04-07 22:58] roryabraham commented on #2278
Since this was only affecting one tester, we're not going to treat this as a deploy blocker. If we get more cases of this happening we'll get to the bottom of it.

[2021-04-07 23:01] #1926 closed

[2021-04-07 23:01] OSBotify opened #2285 "Deploy Checklist: Expensify.cash 2021-04-07"
**Release Version:** `1.0.16-2`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2261
- [x] https://github.com/Expensify/Expensify.cash/pull/2282

cc @Expensify/applauseleads

[2021-04-07 23:33] mallenexpensify commented on #1950
For #1 above, I'm torn between a basic-ish loading animated issues that accomplishes what we want for an MVP (I do agree we should design eyes on this) or a "mini doc or proposal"  I'm leaning towards the MVP then readdressing later, if needed.  This issue would be specially for #1 and I can create a new issue for #2 and we can separately discuss that there.

@marcaaron what do you think about the

[2021-04-07 23:40] marcaaron commented on #1950
Hmm. Not sure my previous comment about a mini doc is relevant anymore if these are separate issues. So it sounds like we need to:

1. Figure out a plan to unblock this issue and do something about it (not sure what tbh)
2. Create a new issue for the conversation you linked here earlier today.

[2021-04-07 23:45] SofiedeVreese commented on #2280
Posted to Upwork:

https://www.upwork.com/ab/applicants/1379941913742381056/job-details

[2021-04-07 23:50] mallenexpensify commented on #1950
I think once we have feedback from the design team and the loading image ready, we can post to Upwork.
One thing I'm unsure about is if there will be significant differences between the platforms?  I hope not since Desktop and web _should_ load quickly when on stable internet.

@Expensify/design can you review the above, let us know if you have any concerns then propose the best option for an anim

[2021-04-07 23:54] shawnborton commented on #1950
@michelle-thompson already posted a mockup [here](https://github.com/Expensify/Expensify/issues/155376#issuecomment-788129034), though it should be added to the original comment of this issue as well. The mockup she made uses the circular logo, and that asset already exists in E.cash (you can find it on the Sign In page).

[2021-04-07 23:54] quinthar commented on #1950
Again, this specific issue has nothing to do with the internet, and is
entirely about showing this screen while the app "boots".  Once it's
functional, and is showing the correct content on the screen as stored in
the local Onyx, *then* we should add some kind of indication that it's
synchronizing additional content.  But while the sync indicator is
happening, the rest of the app should be visible

[2021-04-08 00:00] shawnborton commented on #1950
For the sync indicator, perhaps one thing we could do is add some kind of loading spinner that circles around your profile picture, or replace the green dot with some kind of loading spinner/animation/etc.

[2021-04-08 00:23] #2285 closed

[2021-04-08 00:24] OSBotify opened #2290 "Deploy Checklist: Expensify.cash 2021-04-08"
**Release Version:** `1.0.17-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2163
- [x] https://github.com/Expensify/Expensify.cash/pull/2286
- [x] https://github.com/Expensify/Expensify.cash/pull/2292
- [x] https://github.com/

[2021-04-08 01:43] Maftalion commented on #2246
@Julesssss I have a question around the params for this task.

I can pass the params like this using the navigation method:
[code]
but this builds a url like: `http://localhost:8080/iou/split?participants=concierge%40expensify.com%2C%2B13106668155%40expensify.sms%2Cmaftalion1%40gmail.com`

I was wondering if it would be better to just use the reportID like `/iou/split/:reportID` and use the report

[2021-04-08 03:46] marcaaron commented on #2028
Spent some more time looking into this today and came up with a kind of dirty incomplete solution here
https://github.com/Expensify/Expensify.cash/pull/2295/files

Some kind of solution in `react-navigation` would be ideal, but not sure if allowing the option to switch to browser `history.pushState()` type behavior for the `NAVIGATE` action on web with a permanent `drawerType` is a direction they

[2021-04-08 08:31] conorpendergrast commented on #2205
I am still getting a very quick flash on iOS, v1.0.11-0

https://user-images.githubusercontent.com/5802477/113994167-1197d900-984d-11eb-9f26-663ae7e02090.MP4

[2021-04-08 09:01] Julesssss commented on #2246
Oh definitely, that's what I had in mind too.

Looks like we're good to go here now?

Thanks! Please feel free to create the issue and claim the bounty. Else, let me know and I'll create this.

[2021-04-08 09:27] johndev0711 commented on #2280
Hello, @isagoico. How are you?
I've reviewed this issue carefully and found out the solutions.
1. Getting the user's name from any mail is against the rule.
2. We should get the user's name to solve your issue.

My solution is as follows:
- add the Username Input field in the register form.
- get the user's name  together when we get the recent users list.
 * otherwise, we can choose the way that

[2021-04-08 10:24] sketchydroide commented on #986
@parasharrajat I think that might work, would be happy to see a PR using this

[2021-04-08 10:53] Beamanator commented on #2205
I'm thinking to wait a few days to close this, until the latest dev version gets to production & we make sure flashing doesn't occur there. If not, we can close this out too - how does that sound @Maftalion ?

[2021-04-08 15:41] mallenexpensify commented on #1950
Let's not get into details for #2, the sync indicator in this issue, I created a fresssssh GH for that here https://github.com/Expensify/Expensify/issues/159767

Here is the image Shawn referenced above in case a contributor works on this and doesn't have access to that repo
![image](https://user-images.githubusercontent.com/22508304/114055984-1311d300-9846-11eb-9497-88753266492e.png)

[2021-04-08 16:59] TomatoToaster commented on #2209
It looks like this didn't auto close, but this change appears to be on the production branch so I'm closing this. Nice work.

[2021-04-08 16:59] #2209 closed

[2021-04-08 20:14] marcaaron commented on #2051
I am somewhat convinced that slow running JS is the culprit here and wonder if just delaying the render of the `ReportScreen` until after the drawer transition completes can help prevent this. Not sure the drawer has a `transitionEnd` event we could listen for, but that might be something to look into.

[2021-04-08 20:32] kidroca commented on #2051
Well it runs really well and smooth on a real device. On my video you can see that the drawer is not involved - I use the FAB to start a new chat - which transitions to a modal navigator. Same thing with Search

I can't recreate the issue when switching chats
But I'm recreating it 100% from the FAB or pressing on Search

[2021-04-08 21:04] kidroca commented on #2051
I've played with the `<Placeholder />` idea while the drawer is in the way. Don't render the actual content under it.
But that brings some other problems - you can swipe and peek what's behind the drawer - it would be a blank screen if nothing is rendered.
When you pick a chat it starts rendering instantly (well not yet 😄) and the drawer would actually help cover this. If you wait for the transiti

[2021-04-08 21:16] marcaaron commented on #2051
This behavior maybe seems OK for web/mWeb where there is no swipe gesture? And the problem doesn't exist on native so maybe this could help.

Ah yes, I've thought about this before, but have not investigated the impacts (some benchmarks would be helpful if you decide to create an issue). I did look into whether there is some event delegation to handle this [on the `react-native-web` side](https://

[2021-04-08 21:18] kidroca commented on #2051
The optimization won't reduce these counts, but will remove additional instantiation of classes, allocating memory, and running their lifecycle methods

E.g. Instead of calling 100 times componentDidMount it will be just 1
Instead of creating 100 listener funcs for `onDimensionChange.bind` it will be one etc...

[2021-04-08 21:31] kidroca commented on #2051
Could be, but would add yet another Platform specifying handling

Removing focus on the other hand... 😄

https://user-images.githubusercontent.com/12156624/114098651-54e45d00-98ca-11eb-9134-f17f49536bd1.mov

Still behaves smooth (this is DEV ⬆️)
I'm firmly convinced focus is at the core of the issue. Even when the screen is not yanked to the side, the input would sometime remain covered under the

[2021-04-08 21:32] parasharrajat commented on #2051
@kidroca with respect to the above, If you could put a check in the Event listeners so they fire on each render. It would save a lot of computations.
And yes, Putting focus immediately cause the animations to stop for Search, new Chat, and new Group page. They would be handled via InteractionManagers.

[2021-04-08 21:38] kidroca commented on #2051
Sorry I didn't get that. The problem is not that `onDimensionChange` would fire often, it actually would not
It definitely won't triggered for each render

[2021-04-08 21:41] parasharrajat commented on #2051
Yeah, Correct. I think putting it in context would stop its triggering(Currently it fires a lot).

[2021-04-08 22:01] #2154 closed

[2021-04-08 22:02] marcaaron commented on #2150
Going to reopen this as @kidroca's PR did not fix it.

[2021-04-08 22:03] OSBotify opened #2310 "Deploy Checklist: Expensify.cash 2021-04-08"
**Release Version:** `1.0.18-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2221
- [x] https://github.com/Expensify/Expensify.cash/pull/2303
- [x] https://github.com/Expensify/Expensify.cash/pull/2304
- [x] https://github.com/

[2021-04-08 22:14] kidroca commented on #2150
Sorry should have removed the hash from the PR

It's covered for everything but Android though . The keyboard would close on iOS and on mWeb browsers. It just something with Android native that won't let go ⌨️. This is captured by my sample videos (mWeb and iOS)
I can mention it in the PR tests steps.

[2021-04-08 22:25] OSBotify commented on #2290
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2021-04-08 22:27] roryabraham commented on #2290
Noice! Retesting but this time with all the items checked off, but missing the seal of approval

[2021-04-08 22:28] OSBotify commented on #2290
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2021-04-08 22:28] roryabraham commented on #2290
Next I'm going to test with the seal of approval, but with one item unchecked

[2021-04-08 22:28] roryabraham commented on #2290
:shipit:

[2021-04-08 22:29] OSBotify commented on #2290
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2021-04-08 22:30] roryabraham commented on #2290
Okay, now the real moment of truth! With no blockers and with the seal of approval, we should proceed with a production deploy.

[2021-04-08 22:30] roryabraham commented on #2290
:shipit:

[2021-04-08 22:30] #2290 closed

[2021-04-08 22:31] roryabraham commented on #2290
Nice, that worked 🎉

[2021-04-09 00:23] rafecolton opened #2319 "Test, please disregard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

## Action Performed:
Break down in numbered steps

#

[2021-04-09 00:25] #2319 closed

[2021-04-09 01:32] parasharrajat commented on #1656
Hey @deetergp,
It seems that your comment here https://github.com/Expensify/Expensify.cash/issues/1656#issuecomment-797789932 is not covered by the existing implementation. It means the current parser does not handle these URLs including the one mentioned in the issue.
I have tried one solution here that covers all the existing tests and the URL mentioned in the issue and in your comments.

By loo

[2021-04-09 03:02] Maftalion commented on #2246
@Julesssss I have the work basically completed, do you want me to open a draft PR or should I just wait for this to get merged before opening a PR? https://github.com/Expensify/Expensify.cash/pull/2120

[2021-04-09 09:52] Julesssss commented on #2246
Let's get the WIP PR created for now 👍

[2021-04-09 10:27] laurenreidexpensify commented on #1656
@Beamanator can you take a look at Rajat's proposal above?

[2021-04-09 12:01] Beamanator commented on #1656
@parasharrajat your solution looks like it's working amazing, but I did a bit of extra investigation and I think we might to use your code to fix some other broken markdown links. Please let me know what you think about the following:

First, running all test (including your extra tests in your PR) on your code seemed to work quite well 👍 so nice job there!

While I was testing I thought "why is y

[2021-04-09 12:35] parasharrajat commented on #1656
@Beamanator I see. I will investigate it a bit to see what else is broken and try to fix that.
I think I know How to fix that as well.

[2021-04-09 13:52] aliabbasmalik8 commented on #1656
@Beamanator I want your suggestion on this solution https://github.com/Expensify/Expensify.cash/issues/1656#issuecomment-800346840
It's working properly
Thanks

[2021-04-09 16:21] tgolen commented on #2290
Good times :)

On Thu, Apr 8, 2021 at 4:31 PM Rory Abraham ***@***.***>
wrote:

[2021-04-09 17:20] marklouisdeshaun opened #2323 "expensify.sms is appended to mobile numbers on Expensify.cash sign-in page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
When users enter a mobile number on the Expensify.cash sign-in page, we do not append `@expensify.sms` to their mobile number in the link that read

[2021-04-09 17:51] #2066 closed

[2021-04-09 18:05] kidroca opened #2325 "[Web/mWeb] URL / Address bar is not updated after login or landing on root"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
When a conversation is loaded it's ID should be a part of the URL (route) in the address bar e.g. `expensify.com/r/71403817`

## Actual Result:
- A

[2021-04-09 18:31] kidroca commented on #2325
### Proposal

It should be possible to simplify the logic here

https://github.com/Expensify/Expensify.cash/blob/1359f9fc5906e31975d4d68327d943a6090f6c2c/src/libs/Navigation/NavigationRoot.js#L44-L83

To just

[code]

By providing `initialParams` for the home screen here:

https://github.com/Expensify/Expensify.cash/blob/68169d3a7f1383533d3faae01d0d4589f7cd3887/src/libs/Navigation/AppNavigator/Aut

[2021-04-09 18:38] marcaaron commented on #2325
Proposal looks good to me if you want to send a PR 👍

@Christinadobrzyn can you create an E/E issues + Upwork job please and hire @kidroca?

We don't need to add the `Exported` label in this case since it is already triaged.

[2021-04-09 19:11] marklouisdeshaun commented on #2323
[Link to job in Upwork](https://www.upwork.com/jobs/~01ad299d5651c32d03)

[2021-04-09 19:12] johndev0711 commented on #2097
Hello, @isagoico . How are you?
I've already solved your issue.
It was due to the **_moment().tz_** function doesn't provide the **_GMT xx_** style (only **_xx_** style as like today)
So I've customized some features simply and fixed the issue perfectly.
![1](https://user-images.githubusercontent.com/74647446/114229510-da6e1880-996f-11eb-8ef3-59966a417c00.PNG)
![2](https://user-images.githubuserco

[2021-04-09 19:15] parasharrajat commented on #1656
@Beamanator Yeah you are correct. we don't want the if condition at all. it fixes the issue that you have showed in the video. Plus I tested couple of other links such as
[code]
which are were not working fine but. I realized that I just need to adjust one line in my solution.
[code]
  here we remove all the extra matched brackets which we just calculated in `brace` variable and it worked.

  Now

[2021-04-09 19:24] parasharrajat commented on #2323
## Proposal

we just need to remove the @expensify.sms from `credentials.login` here
https://github.com/Expensify/Expensify.cash/blob/4d6776c1ecca64a46e9ced27630ea8dd56dfe5d8/src/pages/signin/ChangeExpensifyLoginLink.js#L18-L30

 We will use the `expensify-common/str.js` `removeSMSDomain` method to remove it.

 Questions
 1. Do I need to remove the `+[country code]` part of the number as well.

[2021-04-09 19:34] peterdbarkerUK commented on #2198
I reproduced the same as this:
![image](https://user-images.githubusercontent.com/16888060/114231832-3be7b480-997b-11eb-8c2c-e32571f3defb.png)

Is that the error you're referring to @kidroca? Or did something else occur in the original bug report?

[2021-04-09 19:51] kidroca opened #2326 "[Refactor] Update `withWindowDimensions` HOC to use a Context Provider internally"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

`withWindowDimensions` can be improved through a refactor that won't change existing usages and behavior

### Currently State:
- on a chat with 3 messages I have 35 `w

[2021-04-09 19:53] kidroca commented on #2051
Create a ticket about `withWindowDimensions`: #2326

[2021-04-09 19:57] kidroca commented on #2326
### Proposal
I've included everything in the ticket description.

I think, with the explanation above, this is something anyone should be able to do. But since I brought it up I would like to work on this or at least take some credit 😉

[2021-04-09 20:00] timszot commented on #1656
Just leaving :my_two_cents: here since I wrote the original parentheses block [here](https://github.com/Expensify/expensify-common/blob/679fc86cfc4f9bc701e3757d583d74057edbbe28/lib/ExpensiMark.js#L205-L208).

I like [this](https://github.com/Expensify/Expensify.cash/issues/1656#issuecomment-816905209) proposed solution as that expands and improves the original implementation.

[2021-04-09 20:57] isagoico opened #2327 "Web - Chat- Loading spinner displayed on login in conversation screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Last opened chat displayed

## Actual Result:
Continuous loading spinner displayed until user opens a chat

## Action Performed:
1. Launch the URL

[2021-04-09 21:03] kidroca commented on #2327
Yes it's related. The PR handling the regression is here: https://github.com/Expensify/Expensify.cash/pull/2322

[2021-04-09 21:16] isagoico commented on #2280
This is a weird bug, we we also able to reproduce on the LHN conversations. Once you navigate away and then back to the app the issue is not reproducible anymore.
<img src="https://user-images.githubusercontent.com/44479856/114241479-324c5580-9957-11eb-882c-43b31862711f.png" width="40%">

[2021-04-09 21:21] parasharrajat commented on #2280
@isagoico Clear app cache and then re-run the app. You should be able to reproduce.

[2021-04-09 22:37] isagoico opened #2328 "mWeb / Web - Transitions are not smooth when creating a chat or opening a conversation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
The transition should feel as you are opening a new page

## Actual Result:
Transition is not smooth

## Action Performed:
1. Launch the app and lo

[2021-04-09 23:31] isagoico commented on #2310
**Regression** is finished.
2 issues found today:
1. https://github.com/Expensify/Expensify.cash/issues/2328
2. https://github.com/Expensify/Expensify.cash/issues/2327

**PRs** are finished too.
1 comment added:
1. https://github.com/Expensify/Expensify.cash/pull/2221#issuecomment-816968845 (PR was a pass but we found this issue, not marking as deploy blocker since it's repro in prod)

Thanks!

[2021-04-09 23:43] OSBotify commented on #2310
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2021-04-09 23:47] isagoico commented on #2310
Let's go! :shipit:

[2021-04-09 23:48] OSBotify commented on #2310
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2021-04-09 23:49] isagoico commented on #2310
:shipit:

[2021-04-09 23:49] #2310 closed

[2021-04-09 23:50] OSBotify opened #2332 "Deploy Checklist: Expensify.cash 2021-04-09"
**Release Version:** `1.0.19-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2196
- [x] https://github.com/Expensify/Expensify.cash/pull/2215
- [ ] https://github.com/Expensify/Expensify.cash/pull/2242
- [x] https://github.com/

[2021-04-10 00:09] mallenexpensify commented on #1341
@puneetlath Nirav in Upwork proposed

I had to do change on the other three screens as I have changed the data order in the element
that change is
removed inverted from component and changed y position

https://user-images.githubusercontent.com/22508304/114251545-4479c400-9956-11eb-9726-50af816461fb.mov

Can you provide some feedback to share with Nirav?

[2021-04-10 00:29] parasharrajat opened #2335 "Modal animation is inconsistent"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
  The following things need to be fixed:
  1. Search page Animations.
  2. New Group page Animations.
  3. New Chat Page Animations.
  4. Settings Page Animations.
  5.

[2021-04-10 07:10] kidroca commented on #2198
@peterdbarkerUK
This is the correct behavior since the fix is already merged.

Prior merging  #2114 (v1.0.10) pressing "Take photo" would do nothing when you had denied permissions

For some reason @Julesssss sees a different message. There's a good chance it's because the image picker version is a legacy version. But it's still an improvement over pressing a button and nothing happening.

I can o

[2021-04-10 08:02] johndev0711 commented on #2258
Hello, @kadiealexander. How are you?
I have a good solution about this issue which can solve simply and perfectly. I've ever implemented it on past projects before.
Likewise, I'd love to build a customized component for this feature.
The solution is as follows:
1. Create a composed box which contain drop box and text box.(text box is exist currently).
2. The drop box is displayed when there is any

[2021-04-10 10:00] devrari commented on #2323
Proposal
Hi
We have existing method removeSMSDomain in expensify commons  library .

[](https://github.com/Expensify/Expensify.cash/blob/4d6776c1ecca64a46e9ced27630ea8dd56dfe5d8/src/pages/signin/ChangeExpensifyLoginLink.js#L25-L28)

Questions:
In Android its not reproducible in the current branch.
<img width="1680" alt="Screenshot 2021-04-10 at 2 39 30 PM" src="https://user-images.githubuserconten

[2021-04-11 08:10] Beamanator commented on #1656
Hey @aliabbasmalik8 I checked your solution with some of the new cases we're going to add tests for, and these seem to be failing still:
- `<a href="https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%22Ufjjim%22)+AND+timestamp:[2021-01-08T03:48:10.389Z+TO+2021-01-08T05:48:10.389Z]&amp;index=logs_expensify-008878" target="_blank">https://www.expensify.com/_devportal/tools/logS

[2021-04-11 08:20] Beamanator commented on #1656
@parasharrajat I agree with @timszot your solution looks great, and I checked the tests you added, they look great! And all pass 👍 I'm assigning this item to you -> Please submit your PR :D

Quick question: Just to be safe, do you think it's useful to add a test or two with extra leading parens `(`?
- Example 1: `'(((http://foo.com/(something)?after=parens '` -> `'(((<a href="http://foo.com/(somet

[2021-04-11 09:11] Beamanator commented on #2323
@parasharrajat Looks great, please submit a PR!

Please keep the country code, just remove the `@expensify.sms` part :)

[2021-04-11 09:14] Beamanator commented on #2323
@devrari Just so you know, your proposal looks good too but it's pretty much the exact same as Rajat's, and since he submitted his proposal first, I went with him this time.

Also, when I'm on the master branch, I am able to reproduce the issue on an Android simulator:

<img width="464" alt="Screen Shot 2021-04-11 at 11 13 55 AM" src="https://user-images.githubusercontent.com/3885503/114298527-1c5

[2021-04-11 17:07] devrari commented on #2323
Ok.
I meant  this issue as per the initial issue log is not reproducible
Android – different behavior. the link reads Change Expensify login
In master branch dBehaviour in android and web is the same, and this one
change will fix the issue in both web and android app.

On Sun, Apr 11, 2021 at 2:45 PM Alex Beaman ***@***.***>
wrote:

--

Kailash Devrari

[2021-04-11 18:06] parasharrajat commented on #1656
@Beamanator PR is sent to `expensify-common` https://github.com/Expensify/expensify-common/pull/361. Thanks. I will update the hash in this repo after that is merged.

[2021-04-12 03:46] Christinadobrzyn commented on #2325
Ack! My bad marcaaron I added an engineering label to this, please disregard the ping!

[2021-04-12 04:13] Christinadobrzyn commented on #2325
Expensify/Expensify issue - https://github.com/Expensify/Expensify/issues/160016
Job posted in Upwork - https://www.upwork.com/jobs/~01b52f69509ac6e225
Sent a hire request to @kidroca in Upwork

[2021-04-12 05:09] kidroca commented on #2325
@Christinadobrzyn
Thank you, I've responded on upwork. I'll post updates here on github

[2021-04-12 09:11] muttmuure commented on #2097
Moved this issue to E/E so the solution can be managed through Upwork

[2021-04-12 09:32] trjExpensify commented on #2205
Seems like we're good here. Closing!

[2021-04-12 09:58] peterdbarkerUK commented on #2198
Sweet, thanks for clarifying other Peter! Closing this issue out :-)

[2021-04-12 09:58] #2198 closed

[2021-04-12 12:00] Beamanator commented on #1656
Thanks @parasharrajat ! I requested a few tiny adjustments

[2021-04-12 15:05] aliabbasmalik8 commented on #2150
@kidroca this issue not produced on any platform. can you please share a video in which this issue produced?
Thanks

[2021-04-12 15:10] mallenexpensify commented on #2205
fwiw.. just tested on latest build and appears to be working correctly. Thanks @Maftalion and @Beamanator

[2021-04-12 15:38] Beamanator commented on #2205
Thanks for double-checking @mallenexpensify !

[2021-04-12 15:50] thienlnam commented on #1517
Could we get a copy for this please? @Expensify/marketing

Something to indicate that the entered password does not meet the specified requirements

[2021-04-12 15:56] kidroca commented on #2150
@aliabbasmalik8

Thanks

I've posted a thorough description here: https://github.com/Expensify/Expensify.cash/pull/2221#issuecomment-815093078

The code have been modified since then, but I'm still successfully recreating the issue from the current code in master (6abe2f2d)

https://user-images.githubusercontent.com/12156624/114424073-73936e00-9bc0-11eb-8417-01712871fe93.mp4

As in the original co

[2021-04-12 15:56] jboniface opened #2349 "Replace the existing US-located numbers, date and amounts with locale-aware components/ methods"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
We are implementing the structure for internationalisation and localisation in Expensify.Cash.

As part of that, we need to replace the existing US-located numbers, dat

[2021-04-12 16:09] kidroca commented on #2150
@marcaaron
I think I've tracked where the issue might be coming from after all.

1. I can no longer recreate the issue after the changes here: #2349
2. But switching to `master` would immediately bring the issue for me
    - tried clearing the cache
    - rebuilding the app
    - many other things I've posted in the original comment
3. Going back to #2349 immediately fixes the issue for me, cleari

[2021-04-12 16:57] jamesdeanexpensify commented on #1517
Ah, I think you're looking to add the "Waiting for copy" label. I'll do that and it should auto-assign one of us from the Marketing Content team. Thanks!

[2021-04-12 16:57] jamesdeanexpensify commented on #1517
Oh weiiiiird it's not in the this repo. I'll take this one! Gimme a few.

[2021-04-12 17:00] jamesdeanexpensify commented on #1517
What qualifies a password as "not acceptable" on our end? We should basically be telling them two things (1) what happened that caused the error and (2) what they can do to resolve it. Hope this helps, thank you!

[2021-04-12 17:39] aliabbasmalik8 commented on #2150
@marcaaron
`Home` route added twice in the state so I updated this code  https://github.com/Expensify/Expensify.cash/blob/d3f1d28478357e2a66b155e660def191d6ed79a8/src/libs/Navigation/NavigationRoot.js#L75-L78
like this way and it's resolved the issue on android as well worked properly on other platforms
[code]

[2021-04-12 18:44] isagoico commented on #2147
Reopening this issue since it's reproducible in iOS and Android app.

[2021-04-12 18:47] kidroca commented on #2051
### Proposal
It seems you want this fixed, but dropping auto focus on mobile is not a suitable solution for you
You want this bug fixed and still retain the ability to auto focus even if you decide against auto focus at some point down the road, correct?

Here's a proposal in that direction:
Apply the autofocus after the nav/modal transition ends so that focusing does not interfere with the transi

[2021-04-12 19:14] marcaaron commented on #2051
You want this bug fixed and still retain the ability to auto focus even if you decide against auto focus at some point down the road, correct?

I'm not sure that's correct. Pretty sure we have unanimously come to the decision that we should stop auto focusing this input when we open up to a new chat.

I'm curious thought, after the `ReportView` changes is this issue still reproducible?

[2021-04-12 19:18] NicMendonca commented on #2160
@parasharrajat sorry was OOO! I see that you haven't applied yet. I've gone ahead and sent it to you via Upwork. Thanks!

[2021-04-12 19:29] kidroca commented on #2051
@marcaaron

Then it would should be even easier.
If the behavior become platform specific. you could already use the existing `autoFocus` prop to disable this behavior on small screens. There are some tricks to detect whether the current device is touch only (software keyboard) or it has a dedicated keyboard but things become a bit hacky and need better research on the topic.

Yes, it doesn't happ

[2021-04-12 21:38] marcaaron commented on #2150
@kidroca Great detective work! I think we should maybe keep this one on HOLD while we look into that PR. If we can confirm that fixes it we can close this issue.

[2021-04-12 21:50] isagoico commented on #2332
Regression is finished!
No issues found today.

PRs are finished too!
1 comment added:
1. https://github.com/Expensify/Expensify.cash/pull/2242#issuecomment-818047833

Thanks!
CC @roryabraham

[2021-04-12 22:41] puneetlath commented on #1341
Hm, their solution doesn't look like it solves the underlying FlatList issue, which is the approach we'd like. It looks like they are just suggesting a workaround.

[2021-04-12 23:02] roryabraham commented on #2332
It looks like https://github.com/Expensify/Expensify.cash/pull/2242#issuecomment-818047833 was not QA-able due to unrelated reasons, so we're going to give @tgolen the benefit of the doubt and assume that that PR is a pass so that we can run a production deploy.

[2021-04-12 23:03] OSBotify commented on #2332
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2021-04-12 23:03] roryabraham commented on #2332
:shipit:

[2021-04-12 23:03] #2332 closed

[2021-04-12 23:05] OSBotify opened #2358 "Deploy Checklist: Expensify.cash 2021-04-12"
**Release Version:** `1.0.20-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2229
- [x] https://github.com/Expensify/Expensify.cash/pull/2231
- [x] https://github.com/Expensify/Expensify.cash/pull/2296
- [x] https://github.com/

[2021-04-13 00:33] jasperhuangg commented on #2248
Yup! Sorry for missing this; it should be fixed by now.

[2021-04-13 08:04] JmillsExpensify commented on #2258
Hi @johndev0711 apologies for the delay on this one! We're going to take this issue back into an internal planning stage so that we can get more crisp on details. We'll be sure to update this issue in the near future with crisp details on next steps. Thank you!

[2021-04-13 11:59] johndev0711 commented on #2258
Thanks for your info.

[2021-04-13 12:18] parasharrajat commented on #2323
@Beamanator This should be closed as well.

[2021-04-13 13:56] #1159 closed

[2021-04-13 14:38] parasharrajat commented on #1572
This issue is already resolved and thus should be closed.

[2021-04-13 14:54] isagoico commented on #2248
Yep! Confirmed this is working as expected now. Thanks 🎉

[2021-04-13 14:54] #2248 closed

[2021-04-13 15:14] isagoico opened #2371 "[hold for payment 28 April] IOS - Secondary log in - "Done" button is not present to close keyboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User should be able to see "send verification" button
user should be able to hide keyboard

## Actual Result:
User is unable to see "send verificat

[2021-04-13 15:56] AndrewGable commented on #2116
@isagoico - We removed all this GitHub code a while ago - Can you verify that this still happens on the latest version?

[2021-04-13 15:56] AndrewGable commented on #1655
@jasperhuangg - Assigning you to answer the questions above. Thanks!

[2021-04-13 16:04] isagoico commented on #2116
Confirmed this is fixed in the Production app. Closing.

[2021-04-13 16:04] #2116 closed

[2021-04-13 16:04] isagoico commented on #2116
Confirmed this is fixed in the Production app. Closing.

[2021-04-13 16:31] davidcardoza commented on #2371
Tested and ran into the same issue. Removing assignment and putting in the engineering queue.

[2021-04-13 16:37] roryabraham commented on #1572
Thanks @parasharrajat

[2021-04-13 16:37] #1572 closed

[2021-04-13 17:49] chiragsalian commented on #2280
@isagoico, any update on retesting here? I'm just wondering if the issue is consistently reproducible once the cache is cleared.

[2021-04-13 18:11] mallenexpensify commented on #986
Hired @parasharrajat in Upwork

[2021-04-13 19:11] thienlnam commented on #1517
@jamesdeanexpensify Thanks for taking this!

It looks like our current requirements for a, acceptable password is that
- Must be greater than or equal to 8 in length
- Must contain a lowercase letter, an uppercase letter, and a number

[2021-04-13 19:29] jamesdeanexpensify commented on #1517
Can it contain special characters, or only alphanumeric?

[2021-04-13 19:50] #2325 closed

[2021-04-13 20:01] isagoico commented on #2280
I was unable to reproduce this after clearing cache in build 1.0.20-0

[2021-04-13 21:06] chiragsalian commented on #2280
Alright since its not reproducible im going to go ahead and close out the issue. If you feel otherwise feel free to reopen 🙂

[2021-04-13 21:06] #2280 closed

[2021-04-13 21:42] isagoico opened #2377 "Conversation - Tapping on "Upload Photo" will quickly flash keyboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Attachment flow proceeds with no issues

## Actual Result:
After user tap, keyboard will quickly flash before proceeding to the next attachment men

[2021-04-13 21:48] parasharrajat commented on #2377
Will be fixed with https://github.com/Expensify/Expensify.cash/pull/2022.

[2021-04-13 22:14] parasharrajat commented on #2328
Similar issue https://github.com/Expensify/Expensify.cash/issues/2335 with a different problem.

[2021-04-13 22:37] #1855 closed

[2021-04-13 22:37] #2377 closed

[2021-04-13 22:54] marcaaron commented on #2150
Verified this issue is no longer happening on the main branch for iOS or Android so I think this issue can now be closed.

[2021-04-13 22:54] #2150 closed

[2021-04-13 22:57] sylveawong commented on #1517
ooh, i opened an issue for this a while back with copy for what we need to say for the reqs/ what we should be checking for"

https://github.com/Expensify/Expensify/issues/149016

[2021-04-13 22:57] JmillsExpensify commented on #2151
Changes requested on the linked PR.

[2021-04-13 23:04] isagoico commented on #2358
:shipit:
Regression is finished!
1 issue found:
1. https://github.com/Expensify/Expensify.cash/issues/2377

PRs are finished too!
No comments added 🎉

[2021-04-13 23:04] #2358 closed

[2021-04-13 23:05] OSBotify opened #2380 "Deploy Checklist: Expensify.cash 2021-04-13"
**Release Version:** `1.0.34-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/1991
- [x] https://github.com/Expensify/Expensify.cash/pull/2022
- [x] https://github.com/Expensify/Expensify.cash/pull/2092
- [x] https://github.com/

[2021-04-13 23:34] parasharrajat commented on #2160
So after a lot of inspection, I am sure what happens so that the Info is not available in `autoUpdater.on('update-downloaded') `. There is one more thing we can do to debug it more accurately is to set the log level to debug `autoUpdater.logger.transports.file.level = 'debug'` and then observe the logs but this incident is very rare. I have not faced it once.

I looked at the logs shared by @shawn

[2021-04-14 02:32] marcaaron commented on #2188
Heads up I have a solution for this one so I'm going to open a PR.

[2021-04-14 02:42] SofiedeVreese commented on #2280
Upwork posting removed. 👍

[2021-04-14 03:30] marcaaron commented on #2188
Opened an issue in the `react-navigation` repo + added some more context and a reproduction
https://github.com/react-navigation/react-navigation/issues/9499

[2021-04-14 05:06] kadiealexander commented on #1970
Hi @rameshhpathak, how are you getting on with this one? Just as an FYI, the deadline for these issues is typically 7 days from when it's assigned. 😊

[2021-04-14 05:24] rameshhpathak commented on #1970
@kadiealexander Hi, sorry! I am resolving the outstanding issues within next half an hour!

[2021-04-14 08:54] #2323 closed

[2021-04-14 09:37] laurenreidexpensify commented on #2109
Assuming no regressions, will issue payment on 20 April @kidroca 👍🏽

[2021-04-14 09:41] kidroca commented on #2109
@laurenreidexpensify
Thank You Lauren!

Is each ticket managed individually, because this is the first time I see a message like that - none of my other completed PRs would mention a payment due date. Should I worry?

[2021-04-14 09:59] laurenreidexpensify commented on #2109
Ah good catch @kidroca - the only reason that you're seeing this is, because unlike the other issues you've worked on, you created this one :) and usually all the back end management for this is taken care of in our private repos, where someone from Expensify will have first logged the issue being fixed.

So all in all nothing to worry about here, we're still in the beta phase of this, so do keep

[2021-04-14 10:01] #1656 closed

[2021-04-14 10:57] laurenreidexpensify commented on #2124
sorry i missed this cos of lack of K2 label

[2021-04-14 11:00] laurenreidexpensify commented on #1656
Thanks @parasharrajat - you can expect payment on 21 April, assuming no regression reports

[2021-04-14 12:40] laurenreidexpensify commented on #2124
@isagoico 👋🏽
Can you confirm what you mean for step 2 -

- Force close the app so as to receive the notification

How are you force closing the app?

[2021-04-14 14:15] trjExpensify commented on #2147
I came across this one today on iOS v1.0.20-4:

![Image from iOS (21)](https://user-images.githubusercontent.com/16232057/114725105-233d1d00-9d34-11eb-815d-1955620d355a.png)

[2021-04-14 16:06] parasharrajat commented on #2147
We should replace the container View with ScrollView and wrap the content in another view where we will apply the padding otherwise on the web the bottom padding is not working. Look at the gap between set timezone automatically checkbox and save button. There should be a gap here.
![image](https://user-images.githubusercontent.com/24370807/114742375-4f26c580-9d69-11eb-8cb9-f5d1d2d37065.png)

[2021-04-14 16:16] shawnborton commented on #2147
I agree with you @parasharrajat

[2021-04-14 18:18] #2105 closed

[2021-04-14 18:52] alex-mechler commented on #2371
Looks like a good one for a contributor to take 👍

[2021-04-14 18:56] iwiznia opened #2397 "Improve Onyx.merge performance by informing listeners that a key has changed before persisting it in local storage"
Context https://expensify.slack.com/archives/C01GTK53T8Q/p1618405920178400

# Problem

When we set a key in onyx, the time it takes to inform listeners that they key was set is quite long. This is because we are waiting for the value to be saved to AsyncStorage, but there's really no need for that wait.

# Solution

We can inform listeners that the value has changed at the same time we tell AsyncS

[2021-04-14 19:05] quinthar commented on #2397
Is there any risk that we will call `keyChanged()` before it's saved to disk, which might create race conditions with whatever is in that callback -- which might do something that reads from disk, and expects that value to be set?

[2021-04-14 19:06] iwiznia commented on #2397
Great question, I really don't know, but thinking of it, it's totally possible someone uses it in the callback... so maybe we can't really change this.

[2021-04-14 21:30] rashmicodebase opened #2400 "[Payment Due Mon 19 April] Expensify.cash WCAG 2.0 Accessibility Audit/Testing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Expensify.cash product should be WCAG 2.0 compliant.

## Actual Result:
Expensify.cash is not meeting all WCAG 2.0 guidelines.

## Action Performed

[2021-04-14 21:56] #2188 closed

[2021-04-14 22:05] mallenexpensify commented on #2335
Thanks for reporting @parasharrajat and for the thorough details above!
@Expensify/design can I get 👀 before assigning to a triager to make sure there's not _something_ I'm missing and/or to get any thoughts/ideas. I checked both repos for similar issues and couldn't find

[2021-04-14 22:33] megankelso commented on #2335
nothing really to add for me. I notice how abrupt it is and while I don't think it should linger or anything, a more smoother transition when closing would be a great improvement.

[2021-04-14 22:48] michelle-thompson commented on #2335
Yeah, my only comment is that all modal animations should look and feel exactly the same. Right now, all three actions seem different? Correct me if I'm wrong, maybe the recording distorts this.

[2021-04-14 22:54] shawnborton commented on #2335
Yeah, I share the same sentiment as Megan and Michelle. Let's try to standardize on the same exact modal animation (smoothly animates in, smoothly animates out) everywhere. It seems like from the screen recording we have a different animation for search than from Settings.

[2021-04-14 22:58] mallenexpensify commented on #2090
@npsedhain can you provide an update? It appears things might have stalled a bit

[2021-04-14 23:14] isagoico opened #2401 "iOS - App option not available when tapping deep link"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User is provided with app option to open the e.chat app

## Actual Result:
Only Chrome, Google and Safari options are given

## Action Performed:
1

[2021-04-14 23:18] MitchExpensify opened #2402 "Expensify.cash - Can't see chat list beneath request money flow, can't close Modal"
[Upwork issue](https://github.com/Expensify/Expensify.cash/issues/2402#issue-858335205)
__

**Goal**: Work out why https://expensify.cash/iou/split works as expected, while https://expensify.cash/iou/request does not and fix accordingly

## Expected Result:
When launching the IOU Request money flow via the URL route https://expensify.cash/iou/request, chat list should show beneath and you should b

[2021-04-14 23:19] isagoico opened #2403 "Cursor isn't properly returning to compose box during chat and or after switching chats"
From Matt's [issue in E/E rep](https://github.com/Expensify/Expensify/issues/160525)

<hr>

## Expected Result:
While chatting or after selecting someone from search, the cursor to return to the compose box so that a user can instantly type messages

## Actual Result:
Cursor shows in compose box but no characters show when typing

## Action Performed:
Chat
1. Ensure you're on Desktop v1.0.21-0
2.

[2021-04-14 23:22] mallenexpensify commented on #2180
on hold to see if https://github.com/Expensify/Expensify.cash/issues/2051 magically fixes this too.

[2021-04-14 23:26] deetergp commented on #2180
🤞

[2021-04-14 23:43] mallenexpensify commented on #2335
@parasharrajat this is an issue we'd like to fix. I've outlined the deliverables below, if you would like to work on it can you please propose a solution and I'll assign an engineer to review? The job will pay $250 (plus $150 bonus for reporting the issue and creating this GH).  A job will be created in Upwork once I hear back from you.

- Update modal animation when clicking the 🔍
- Update modal

[2021-04-15 00:55] SofiedeVreese commented on #2371
Upwork Post: https://www.upwork.com/jobs/~01f066ffea9a3f91c9

[2021-04-15 00:59] SofiedeVreese commented on #2371
Going to remove the Exported label for now so clarify following:

@alex-mechler is this similar to [this](https://github.com/Expensify/Expensify.cash/issues/2150) issue?

cc @marcaaron

[2021-04-15 01:18] tugbadogan commented on #2180
I debugged this issue and found that react native's `Dimensions` module is behaving weirdly on older iPad devices. When the app is sent to background, `onDimensionChange` callback function is called with wrong window dimensions before it's called with the right dimensions.

While using iPad in portrait mode (width: 768, height: 1024), when I send the app to the background this function is first ca

[2021-04-15 01:51] marcaaron commented on #2180
Could be related to this ? https://github.com/facebook/react-native/issues/29290

[2021-04-15 01:53] marcaaron commented on #2371
Looks unrelated to me @SofiedeVreese

[2021-04-15 02:05] SofiedeVreese commented on #2371
Ok thanks for confirming @marcaaron I'll push this out to Upwork now.

[2021-04-15 02:07] SofiedeVreese commented on #2371
Readding Exported Label.

Upwork job posting: https://www.upwork.com/jobs/~014f5a3f656dd883ff

[2021-04-15 02:15] isagoico commented on #2380
Regression is finished!
2 Issues found:
1. https://github.com/Expensify/Expensify.cash/issues/2401
2. https://github.com/Expensify/Expensify.cash/issues/2403 - Deploy Blocker

PRs are finished too.
3 comments added:

1. https://github.com/Expensify/Expensify.cash/pull/2203#issuecomment-819892397 - Expected behaviour
2. https://github.com/Expensify/Expensify.cash/pull/2022 - We don't have access to

[2021-04-15 07:02] npsedhain commented on #2090
Hey @mallenexpensify, thanks for reaching out, I am actually waiting on @tgolen on the PR as I have done what had been asked on the comments. Maybe he has been busy lately? I don't really know!

[2021-04-15 08:23] kidroca commented on #2397
Can you set up an example of how someone might read from the same storage key inside the callback ?

Also why would someone ever use it like that

Is this the potential problem?
[code]

You can introduce this enhancement as a configuration for `connect` so whoever is using that method can opt in to that behavior

[code]

[2021-04-15 08:49] Julesssss commented on #2246
Hey @Maftalion, just wanted to let you know that we've merged the [blocking PR](https://github.com/Expensify/Expensify.cash/pull/2120).

[2021-04-15 09:48] laurenreidexpensify commented on #2124
I'm still testing to replicate this

[2021-04-15 10:43] rafidaky commented on #2371
Hey, i have a proposal for this issue. I think the best way to handle this is to wrap the components in a KeyboardAvoidingView and enable it just for ios. So this way Send Validation button will be on top of the keyboard & accessible.

[2021-04-15 10:49] gauravahir28 opened #2405 "[Payment Due Mon 19 April] Accessibility report for Expensify.cash."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
The [Expensify.cash](https://expensify.cash/) site should be accessible to all the users regardless of disability.
To make sure that the [Expensify

[2021-04-15 14:15] michaelhaxhiu opened #2408 "Apply localization to all hard coded text in the Expensify.cash app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/master/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork job - https://www.upwork.com/jobs/~01ad599888651ad174
___

## Expected Result:
We are looking to apply localization to the Expensify.cash app, so that all hard code

[2021-04-15 14:50] tugbadogan commented on #2180
@marcaaron

Yes, it looks similar. I couldn't find any workaround or temporary solution yet.

[2021-04-15 15:44] parasharrajat commented on #2371
This issue can easily be fixed by passing the `returnKeyType`  as `Done`  to `TextInput` on the PasswordPage.
https://github.com/Expensify/Expensify.cash/blob/a4aa60ad2b220e2a1ecf37c5e2768733dc82f149/src/pages/settings/PasswordPage.js#L80-L89

[2021-04-15 16:10] AndrewGable opened #2409 "Desktop is deploying to both staging and production at the same time"
## Expected Result:
We have both a staging and production version of desktop and we intend to only deploy one, but instead we are deploying both staging and production versions every time.

## Action Performed:
https://github.com/Expensify/Expensify.cash/runs/2345553492?check_suite_focus=true

## Workaround:
Desktop production users can use web instead, otherwise there is no work around

## Platfo

[2021-04-15 16:46] #2409 closed

[2021-04-15 17:03] #1665 closed

[2021-04-15 17:04] marcaaron commented on #1341
Based on the discussions in Slack, how do we feel about explicitly removing this requirement:

Yes, the ideal solution should _theoretically_ be something we _could_ merge into the main `react-native` codebase (not `react-native-web` as the problem is not with this package). However, we should be clear that that the solution doesn't _need_ to be merged into `react-native` in order to be considered

[2021-04-15 17:31] tugbadogan commented on #2402
This issue is not reproducible anymore. It looks like it was fixed by @marcaaron in https://github.com/Expensify/Expensify.cash/pull/2399

Staging is working as expected

https://staging.expensify.cash/iou/request
https://staging.expensify.cash/iou/split

[2021-04-15 17:50] tgolen commented on #1341
I think that means we would prefer maintaining our own fork as opposed to
getting it fixed in RN, and I don't understand why that would be ideal. It
seems to me that will just end up with a big maintenance cost at some point.

On Thu, Apr 15, 2021 at 11:04 AM Marc Glasser ***@***.***>
wrote:

[2021-04-15 17:51] parasharrajat commented on #2335
@mallenexpensify Sorry for the delayed response. Yeah, I would like to work on this.

### Proposal

### Exit Animation for Modal

1. It is not smooth as we are running the translation for complete screen width instead it should run only for sidebar width.
https://github.com/Expensify/Expensify.cash/blob/e7330c4b5c722eca9fea4f75ac3051edf187e4bd/src/libs/Navigation/AppNavigator/modalCardStyleInterpo

[2021-04-15 18:47] isagoico opened #2420 "Copy - Copy banner when using right click button on message too large"
From Andrew in the #expensify-open-source channel https://expensify.slack.com/archives/C01GTK53T8Q/p1618510167289700

___

## Expected Result:
Copy message when using right click has a regular size (see image below)

<img src="https://user-images.githubusercontent.com/44479856/114921641-c8b9c480-9df8-11eb-8fef-3f7749f26b0c.png" width="70%">

## Actual Result:
Copy message banner is taking more tha

[2021-04-15 18:55] marcaaron commented on #2397
On the surface, this idea sounds reasonable, but there is one piece I think we are missing

**Scenario:**
1. Data is prepared and we are ready to call `set()` after batching together merges
2. We call `keyChanged()` before `set()` (and assume the write will be fine)
3. The data fails to be set for some reason (storage exceeded most likely)
4. We now have a bad picture of state when calling `get()`

[2021-04-15 19:01] iwiznia commented on #2397
But it will get stored _eventually_ since we evict things from the storage when it's full, no?

Yep! As well as measure where the time is spent (get, set, other?)

[2021-04-15 19:08] marcaaron commented on #2397
That's true, I was thinking of a hypothetical irrecoverable error where the write never happens at all and in this case the expectation would be that the app should still be able to sync the JS object store. But perhaps that's not a real problem yet.

[2021-04-15 19:43] marcaaron commented on #2397
Ok so this is just one test I ran but perhaps there are some better ideas...

# Test

From completely empty storage measure the time it takes for `Onyx.merge()` to set post downloaded `reportActions` data to storage and then update the subscriber of the active report. This does not take into account network request time only the time between when data is returned from the `fetch()` and when the co

[2021-04-15 19:55] iwiznia commented on #2397
hmmm from those numbers, it does not look like the change is worth it, agree?

[2021-04-15 20:27] marcaaron commented on #2397
Possibly, but to be fair, the test was pretty myopic. There was a 76ms savings in Android which could be significant. And `keyChanged()` also got called 168 times after `set()` on a cold boot so it could add up to some more significant delay.

[2021-04-15 20:43] parasharrajat commented on #2335
![Simulator Screen Shot - iPhone 11 - 2021-04-15 at 16 40 59](https://user-images.githubusercontent.com/24370807/114935692-7a60f180-9e09-11eb-8163-2dd76fdf6f4d.png)

[2021-04-15 20:52] marcaaron commented on #2371
Not sure that's correct @parasharrajat. The green button is hidden behind the keyboard when it should be floating above the keyboard?

[2021-04-15 20:54] parasharrajat commented on #2371
Oh. I think the issue description is misleading. Though issue also says to add this.

[2021-04-15 21:12] roryabraham commented on #2371
@rafidaky Could you explain your proposal in a bit more detail?

[2021-04-15 21:23] rafidaky commented on #2371
https://github.com/Expensify/Expensify.cash/blob/011c66af622349d115fc6c1c8d0c187fe197b422/src/pages/settings/AddSecondaryLoginPage.js#L98
I'm suggesting we wrap everything in this ScreenWrapper component in a KeyboardAvoidingView so there won't be a need for the Done button and screen will look like this when password is focused:
<img width="427" alt="Screen Shot 2021-04-16 at 12 21 14 AM" src="ht

[2021-04-15 21:51] roryabraham commented on #2371
Okay @rafidaky, your proposal looks good. Feel free to submit a pull request.

[2021-04-15 22:16] tgolen commented on #1341
Ah, sorry... I read your comment wrong. I see that you said that we don't want to maintain any forks 👍

[2021-04-15 22:29] tgolen commented on #1341
I guess that sounds like an alternative that we might reach at some point, but I feel like we haven't quite exhausted all the effort to get this into RN either... @puneetlath Maybe you should take your issue (https://github.com/facebook/react-native/issues/30383) and start contacting their twitter feed or their discord channel about it? It would at least be good to hear from a maintainer what the

[2021-04-15 22:33] iwiznia commented on #1341
Yeah, let's try that. We should also clarify that we are willing to sponsor with money and/or engineering time the implementation of the solution.

[2021-04-15 22:43] tgolen commented on #1341
Yeah, perhaps we can work on this messaging a little bit too so that it looks a little more legit (cc @mallenexpensify ):

![image](https://user-images.githubusercontent.com/1228807/114946871-3f5ebe00-9e09-11eb-8ca5-664af53559d6.png)

Something like:

[2021-04-15 22:58] mallenexpensify commented on #2335
@parasharrajat Re:

- Could you please help me understand this?

We would like the three update bullet point requests to be animated to function the same (or very similar?) as "the current modal animation that happens when you click the user icon/avatar at the top to open Settings and the X in Settings to close it."  Maybe the 'fix' is just reusing the code for opening/closing settings? (NOT an en

[2021-04-15 23:06] parasharrajat commented on #2335
@mallenexpensify Alright. Will be done.

[2021-04-15 23:07] roryabraham commented on #2380
Unlocking and relocking to see if GitHub's wonkiness with the branch rename will self-resolve.

[2021-04-15 23:08] mallenexpensify commented on #1341
Yeah, my message is pretty blunt.  I can def drop in another post of someone else can. I'm going to let this marinate til tomorrow before doing anything

[2021-04-15 23:10] mallenexpensify commented on #2335
I need to assign an engineer to review your proposal, do you want me to do that _now_ to review your post above or do you want to update anything before I do?

[2021-04-15 23:12] parasharrajat commented on #2335
The above proposal is still valid. Please go ahead.

[2021-04-15 23:18] SofiedeVreese commented on #2371
Contributor has been hired!

[2021-04-15 23:38] roryabraham commented on #2380
Okay, staging seems to be back to normal. Going to unlock this, because Applause is getting a day off of QA due to the technical issues we had today. We'll resume QA tomorrow with a clean slate 😄

[2021-04-15 23:59] Jag96 opened #2430 "After updating the desktop app, notifications do not work until the app is restarted"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Upwork Post**: https://www.upwork.com/jobs/~01f895152ca12662bc

## Expected Result:
I expected to receive the notification from the desktop app

## Actual Result:
I di

[2021-04-16 01:43] stephanieelliott commented on #2107
Hey @isagoico can you try reproducing this and confirm it's still occurring?

[2021-04-16 05:32] JmillsExpensify commented on #2151
PR merged on Apr. 13. Waiting for any regressions until April 19, then we'll issue payment.

[2021-04-16 08:37] Julesssss commented on #2107
I can confirm it's occurring on version `1.0.21-0`. Android 11, Pixel 2

[2021-04-16 09:20] laurenreidexpensify opened #2432 "When offline, show which messages have been queued but not yet sent; when back online, show when they've been successfully delivered"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
When offline, know that a message hasn't been sent and, upon going back online, know that it has been sent.

## Actual Result:
You don't know if the

[2021-04-16 11:00] laurenreidexpensify commented on #2124
@isagoico bump on the question above :)

[2021-04-16 15:06] isagoico commented on #2124
Hello Lauren! I'm so sorry I missed this, thought I had actually answered yesterday and seems like I didn't hit the "comment" button.

To force close the app I press the recent button in the navigation bar and then on the trash button to close all open apps. Here the video.

https://user-images.githubusercontent.com/44479856/115044476-8d280480-9ea3-11eb-8267-e1aeda6e0022.mp4

[2021-04-16 15:08] isagoico commented on #2107
Hello! Yes, same as Jules. I'm still able to reproduce in build 1.0.23-1

[2021-04-16 15:20] isagoico opened #2434 "Profile - Edit photo button is too big. Should be 28px instead of 40px."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

From @puneetlath: https://expensify.slack.com/archives/C01GTK53T8Q/p1618514242295200?thread_ts=1618513819.294300&cid=C01GTK53T8Q

___

## Expected Result:
Edit profile b

[2021-04-16 15:40] michaelhaxhiu commented on #2408
Posting to Upwork right now - link incoming.

[2021-04-16 15:51] laurenreidexpensify commented on #2124
Excellent, I'm going to review this on Monday when I have more bandwidth. Thanks @isagoico !

[2021-04-16 16:12] #2420 closed

[2021-04-16 17:28] michaelhaxhiu commented on #2408
Posted to Upwork (job link in GH body) and awaiting proposals.

[2021-04-16 17:53] Beamanator opened #2441 "New chats where email starts with '+@...' should fail gracefully, with visual feedback"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Some useful error message shown to user, so they know why a chat isn't being created

## Actual Result:
Just an error message in the console

## Acti

[2021-04-16 17:54] Beamanator commented on #2441
More context [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1618587136353700)

[2021-04-16 18:55] joelbettner commented on #2127
I think this has the info it needs to be worked on. Un-assigning myself.

[2021-04-16 19:04] joelbettner commented on #2121
I think this has what it needs to be worked on by an engineer. Un-assigning myself for triage.

[2021-04-16 20:13] parasharrajat commented on #2432
## Proposal
1. We will listen to `ONYXKEYS.NETWORK` onyx key in `ReportActionCompose.js`.
[code]
 It will give us the offline status of the user.

2. we update the UI to reflect the `You appear to be offline status` after  `ReportTypingIndicator` based on the above key.
https://github.com/Expensify/Expensify.cash/blob/24d3803268b179711cc48838727271f971f95163/src/pages/home/report/ReportActionCompo

[2021-04-16 20:38] stephanieelliott commented on #2107
Cool, thanks guys!

[2021-04-16 20:41] Luke9389 commented on #2432
Hi @parasharrajat, thanks for the proposal! I'm going to look over some areas of code and come back with any clarifying questions I have about this implementation.

To answer your question, my gut response would be **yes**, let's apply this style to any and all unsent comments. However, that would require another style mockup for what to do with unsent attachments (how would we visually represent

[2021-04-16 21:11] Luke9389 commented on #2432
Hey, after a preliminary pass through the files you've mentioned, I'm thinking this proposal is looking great!

One thing that sticks out to me is that it'd be nice for us to avoid adding the `withOnyxKeys` HOC to `ReportActionItemMessage`. I took a look around and it seems that the nearest component in the tree that already has `withOnyxKeys` is `ReportActionsView`. What are your thoughts @parash

[2021-04-16 21:19] parasharrajat commented on #2432
@Luke9389
So when the messages are sent they are updated in the Onyx with loading state and as a optimistic Action, when they are updated to the server we update the Onyx and remove the optimistic action save the backend data of the message. Thus the list of messages will update and action will re-render. So unsent state of messages will go away.

So I will apply the `withOnyx` HOC to `ReportActio

[2021-04-16 21:27] parasharrajat commented on #2432
Question:
1. When do you want to show the `unsent` style?
  - for any message until it is sent.
  - Only for new messages when we are offline.

[2021-04-16 21:33] Luke9389 commented on #2432
Ok so just to clarify, you're saying that we don't need to add `withOnyxKeys` to `ReportActionItemMessage` because it'll get updated anyway. In other words the `unsent` style will clear itself without needing the HOC. Correct?

I think it'd be best for us to show the `unsent` style for any message until it is sent. It just makes more sense from the user's perspective.

[2021-04-16 21:34] parasharrajat commented on #2432
Yeah. unsent style will clear itself without needing the HOC.

Ok

[2021-04-16 21:43] Luke9389 commented on #2432
Cool cool! Well let's give some time for @shawnborton to chime in on whether we should use opacity for unsent images. Thanks for all these prompt responses and clear answers @parasharrajat 🙇

[2021-04-17 00:09] isagoico opened #2445 "iPad - Chat - App layout breaks when app re-opened from background"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
App should display properly without issues

## Actual Result:
App layout breaks when app re-opened from background

## Action Performed:
1. Install 1

[2021-04-17 00:25] isagoico opened #2446 "Emoji picker - Box changes size when you search for an emoji on Windows Chrome"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Size of box is consistent and scroll bar appears.

## Actual Result:
Size of box is changing after you write something and scroll bar appears once I

[2021-04-17 00:34] isagoico commented on #2446
Found while executing https://github.com/Expensify/Expensify.cash/pull/1991

[2021-04-17 00:37] isagoico opened #2447 "iPad - Chat - Chats are not accessible on iPad in Portrait mode (Pay on June 15th)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Chat modal should open

## Actual Result:
Nothing happens on tapping, chat blinks in list but doesn't open

## Action Performed:
1. Open app in Lands

[2021-04-17 01:22] isagoico commented on #2380
**Regression** is finished!
3 Issues found:
1. https://github.com/Expensify/Expensify.cash/issues/2445
2. https://github.com/Expensify/Expensify.cash/issues/2446
3. https://github.com/Expensify/Expensify.cash/issues/2447

**PRs** are finished too.
3 comments added:

1. https://github.com/Expensify/Expensify.cash/pull/2406#issuecomment-821350140
2. https://github.com/Expensify/Expensify.cash/pull/1

[2021-04-18 17:51] eVoloshchak commented on #2408
### Proposal

1. In every component we will use withLocalize HOC from components/withLocalize.js;
2. I can see that all localization library setup is already done, there are two localization files in "languages" directory;
3. Since there is no Spanish translation, the es.js locale file will contain placeholder english localization from en.js (to avoid "missing translation" errors);
4. In each comp

[2021-04-19 06:36] jasperhuangg commented on #1655
Hey guys! So sorry for the late reply!! I was OOO for for a few days last week and this completely got lost in my notifications 😅

Not in particular, let me know if I was supposed to create it elsewhere! I figured if I created it in E.cash then it would get exported.

Looks like these issues are actually unrelated. Previously when I was testing we didn't have the right back-button behavior defined

[2021-04-19 06:36] #1655 closed

[2021-04-19 11:30] laurenreidexpensify commented on #2405
@kadiealexander Have you already issued payment for this, I couldn't work it out in Upwork? If so, can we close? Thanks!

[2021-04-19 12:06] laurenreidexpensify commented on #2400
@kadiealexander Have you already issued payment for this, I couldn't work it out in Upwork? If so, can we close? Thanks!

[2021-04-19 12:35] laurenreidexpensify commented on #2124
Closing in favour of internal issue here https://github.com/Expensify/Expensify/issues/158830#issuecomment-811182216

[2021-04-19 12:35] #2124 closed

[2021-04-19 15:26] isagoico opened #2450 "Emoji picker - Unable to navigate the emoji picker with cursor arrows and `enter` does nothing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
If user presses enter the first emoji should be selected and displayed in compose box.
User should be able to navigate the emoji list with the cursor

[2021-04-19 15:49] isagoico opened #2451 "After sending a message in offline mode and going back to online, messages are repeated when refreshing the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Only 1 message should be displayed.

## Actual Result:
Message is sent twice when refreshing the page after coming back online.

## Action Performed:

[2021-04-19 15:58] parasharrajat commented on #2451
@isagoico I think this video is not working. It would be better to just attach the video link. Converting Webm to mp4 has some issues.

[2021-04-19 16:00] isagoico opened #2452 "Group creation - Focus doesn't auto-return to search box after adding a user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Focus should be in search box so user can quickly search for another member of the group

## Actual Result:
Focus is not in search box after adding a

[2021-04-19 16:55] parasharrajat commented on #2432
@laurenreidexpensify I am good to go here.

[2021-04-19 17:32] Jag96 commented on #1988
Reopening this, it seems that there is still [a regression](https://github.com/Expensify/Expensify.cash/pull/2406#issuecomment-822328547) related to the [original fix](https://github.com/Expensify/Expensify.cash/pull/2120#issuecomment-819943084). cc @barun1997

[2021-04-19 18:01] roryabraham commented on #2380
Looks like something weird happened here and the lock label was left on this issue over the weekend. Removing now, @isagoico feel free to re-add when you are ready to begin QA

[2021-04-19 18:04] roryabraham commented on #2380
Oh, sorry about that. This is what I'm seeing:

![image](https://user-images.githubusercontent.com/47436092/115282298-ecce1c00-a0fe-11eb-8ee7-14db0f224e61.png)

My mistake @isagoico, but maybe in the future it's best to comment saying "starting QA now" or something so the chain of events is a little clearer.

[2021-04-19 18:05] roryabraham commented on #2380
I saw "you added and removed the label", but then the label was still on the issue... confusing 😕

[2021-04-19 18:09] shawnborton commented on #2432
Using the reduced opacity for unsent images makes sense to me 👍

[2021-04-19 18:30] isagoico commented on #2380
No worries at all :). that's indeed weird 🤔 this is how it's displayed on my end
![image](https://user-images.githubusercontent.com/44479856/115285267-a76c1780-a11b-11eb-8329-1c5375614245.png)

That's a great idea. I'll start leaving a comment here when we start QA

[2021-04-19 18:56] stephanieelliott commented on #2107
Posted job to Upwork: https://www.upwork.com/jobs/~01502522294ce706be

[2021-04-19 19:12] marcaaron commented on #2147
Gonna unassign myself from here so that I'm not blocking this fix.

[2021-04-19 19:37] eVoloshchak commented on #2408
Got it, thank you for clarification

My bad, I confused HOC with hook. I remember being slightly confused seeing withLocalize in "components" directory, thinking it was a hook. I got it now. I also see the "compose" function from redux.

[2021-04-19 19:39] Luke9389 commented on #2432
@parasharrajat you've got my go-ahead to start the PR. 👍

[2021-04-19 19:41] iwiznia commented on #2408
Can you list out the places we will update? After reviewing that I will approve your proposal.

[2021-04-19 20:35] parasharrajat commented on #2432
@shawnborton Can I have the svg icon for this?
![image](https://user-images.githubusercontent.com/24370807/115299767-da92c300-a17c-11eb-8fa4-b804249b9039.png)

[2021-04-19 20:36] Andmat7 commented on #2349
Good day, my proposed solution:
1. I would start updating the dates that are easier to test:
  a) I would search file by file looking for the dates and understanding how they work,
   b) then replace them with the HOA or do the necessary small refactorings.
2. the same procedure as above with the dates and finally with the amounts.
Obviously, I would test by test and at the end, I would verify tha

[2021-04-19 20:37] JmillsExpensify commented on #2151
Issuing payment via Upwork, as we haven't seen any regressions.

[2021-04-19 20:39] #2151 closed

[2021-04-19 20:49] shawnborton commented on #2432
Here you go: [offline.svg.zip](https://github.com/Expensify/Expensify.cash/files/6338996/offline.svg.zip)

[2021-04-19 20:53] iwiznia commented on #2349
Sorry, what's HOA?

Also, can you provide a list of places you'll update?

[2021-04-19 21:23] iwiznia commented on #2349
Yeah, you can link to every text/file that will need updating

[2021-04-19 21:37] Andmat7 commented on #2349
Well, I have to search file by file, and it's part of the job, do you consider this list essential to start the upwork contract? ,
Do you find better just a couple of examples and after starting the contract the complete list?

[2021-04-19 21:40] eVoloshchak commented on #2408
Here is the list of components that need to be updated:
Components

    AttachmentPicker (native)
    TextInputFocusable
    BaseUpdateAppModal
    AttachmentModal
    ConfirmModal
    HeaderWithCloseButton
    IOUConfirmationList
    OptionsSelector
    RenderHTML
    UnreadActionIndicator
    VideoChatButtonAndMenu
    WelcomeText

Pages
    home
        EmojiPickerMenu
        ReportActionCompo

[2021-04-19 21:42] dilawer commented on #2107
Side menu library have a glitch, I will either play that library in a separate project and see its behaviour which I feel will behave the same. I will do the fix in this library at native side and will merge this with original product code.

[2021-04-19 21:47] Stanislavja commented on #2107
Hello folks
Check pls https://github.com/Expensify/Expensify.cash/pull/2473

[2021-04-19 21:50] iwiznia commented on #2349
Mainly I was asking for the list to make sure we are not missing any place to update and that you are not on the hook for any new place we use numbers/dates/amounts that get added after your PR is over.
If you don't want to create the list now, that's fine, but we will be asking for followup PRs for any places that are missing, before paying. Let me know how you want to proceed.

[2021-04-19 21:52] AndrewGable commented on #2107
@dilawer and @Stanislavja please read [`CONTRIBUTING`](https://github.com/Expensify/Expensify.cash/blob/master/CONTRIBUTING.md), more specifically [this section](https://github.com/Expensify/Expensify.cash/blob/master/CONTRIBUTING.md#propose-a-solution-for-the-job).

@dilawer - Can you please be more specific with what code you will change? There are quite a few examples in issues already that sho

[2021-04-19 21:53] Stanislavja commented on #2107
@AndrewGable just 25$

[2021-04-19 21:57] AndrewGable commented on #2107
@Stanislavja - Thank you for your reply, we value clean code and clear proposals over saving money. Please follow the instructions going forward. Thank you!

[2021-04-19 22:12] Stanislavja commented on #2107
@AndrewGable nice joke! I'm out, let @dilawer create 'clean proposal' and copy 'dirty code' 😄

[2021-04-19 22:20] dilawer commented on #2107
@AndrewGable are you asking me to mention here the exact solution? I mentioned a technical proposal. Once you approve it, I will work on the codebase and make that fix

[2021-04-19 22:20] Andmat7 commented on #2349
Sorry for the inconvenience, please start the contract, with that I feel calm and I focus on making those changes as fast as possible, at the end, you must review and approve that everything is ok before closing the contract.

If you want my first task is to list the files and their respective lines before starting to write the code.

For example in this part
https://github.com/Expensify/Expensify

[2021-04-19 22:28] AndrewGable commented on #2107
Yes, we are asking for a brief technical solution with links to what code you would change and why. Here is an example of a brief technical solution: https://github.com/Expensify/Expensify.cash/issues/2325#issuecomment-816878150

[2021-04-19 22:29] parasharrajat commented on #2335
@thienlnam Any feedback on the above proposal?

[2021-04-19 22:59] iwiznia commented on #2408
Some of those don't seem to have any hardcoded text:

I don't see `InitialSettingsPage` did you mean `InitialPage`?

Great question! I think what you need to do there is basically move the translation to the render method. So, for example [here](https://github.com/Expensify/Expensify.cash/blob/75c554970f89b926e45f26b15acd2ea10da93ef3/src/components/OptionsSelector.js#L66) you would:
1. Make the de

[2021-04-19 23:10] #1132 closed

[2021-04-19 23:11] iwiznia commented on #2349
That line is not rendering the amount, so that would not be the place to localize it, it would be [here](https://github.com/Expensify/Expensify.cash/blob/9fbf82e8237b7d1ff416619970038cc0d5bf9252/src/pages/iou/steps/IOUAmountPage.js#L107)

[2021-04-19 23:20] #2405 closed

[2021-04-19 23:21] kadiealexander commented on #2405
All payments are completed automatically, so I've closed the contract. Thanks @gauravahir28!

[2021-04-19 23:22] kadiealexander commented on #2400
All payments are completed automatically, so I've closed the contract. Thanks @rashmicodebase!

[2021-04-19 23:22] #2400 closed

[2021-04-19 23:33] Andmat7 commented on #2349
ok only rendering,

[2021-04-19 23:35] marcaaron commented on #2447
I'm not able to reproduce this. Are there more specific steps?
If not, I'm not sure we should make this a blocker.

[2021-04-19 23:37] marcaaron commented on #2445
This is a known bug (dupe) and not a regression.

Closing in favor of: https://github.com/Expensify/Expensify.cash/issues/2180

[2021-04-19 23:37] #2445 closed

[2021-04-20 00:41] marcaaron commented on #2335
@thienlnam just letting you know that you should _not_ review this proposal and only triage to see if this is an `External` issue (looks like it is) then add the `External` label. Once it has an `Exported` label then someone will be assigned to review the proposal.

[2021-04-20 00:44] marcaaron commented on #2328
@parasharrajat which one are you proposing we fix in the linked issue? If they have the same root cause then do we need two separate issues?

[2021-04-20 01:15] isagoico commented on #2447
I asked a tester to check. He was able to reproduce following these  (will update the main comment steps to these ones):

1. Open app in Landscape
2. Open any chat
3. Rotate device to Portrait
4. Try to open any chat

Here's a vid

https://user-images.githubusercontent.com/44479856/115322157-61cb4100-a153-11eb-8f76-fda7b8e3c13d.MP4

[2021-04-20 01:43] isagoico commented on #2447
He just confirmed the issue is reproducible in production so removing the blocker label

[2021-04-20 02:57] barun1997 commented on #1988
I will take a look, thank you!

[2021-04-20 03:47] parasharrajat commented on #2328
@marcaaron Let me try to reproduce this and find a fix if I can fix this issue as well as linked issue then We can close this one. I will update you on this one.

[2021-04-20 05:22] JmillsExpensify commented on #2246
Looks like our blocking PR has made it to staging.

[2021-04-20 06:22] eVoloshchak commented on #2408
TextInputFocusable - lines 182, 190
HeaderWithCloseButton - line 66
EmojiPickerMenu - line 104
ReportActionItemFragment - lines 68-82
ReportActionsView- line 303

Yes, exactly. Component with dislay name 'InitialSettingsPage' inside the src/pages/settings/InitialPage.js

Yes, it makes perfect sense. Thank you for clarification

[2021-04-20 08:12] laurenreidexpensify commented on #2432
@parasharrajat offer sent in UpWork!

[2021-04-20 08:15] laurenreidexpensify commented on #2109
Paid and ended contract after no regressions 👍🏽 @kidroca also I will post that other update we discussed today in the Slack channel.  Thanks for your work here!

[2021-04-20 08:15] #2109 closed

[2021-04-20 09:19] Julesssss commented on #2246
Just to clarify, we don't need to wait for this to reach prod as all changes are on the front-end.

[2021-04-20 12:01] kidroca commented on #2325
@Christinadobrzyn
Hey, sorry to bring this up here but I didn't receive a bonus for finding this issue and documenting it in a ticket as per [proposing-a-job-that-expensify-hasnt-posted](https://github.com/Expensify/Expensify.cash/blob/main/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted)

For example my other ticket did receive a bonus #2109

[2021-04-20 12:03] kidroca commented on #2154
@marklouisdeshaun
Hey, sorry to bring this up here but I didn't receive a bonus for finding this issue and documenting it in a ticket as per [proposing-a-job-that-expensify-hasnt-posted](https://github.com/Expensify/Expensify.cash/blob/main/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted)

For example my other ticket did receive a bonus #2109

[2021-04-20 13:05] Julesssss commented on #2154
Apologies, we're still working out how to keep track of bonus payments. Please continue to point out anything that is missed!

Are you currently working on another UpWork issue?

[2021-04-20 14:13] kidroca commented on #2154
Not currently (but hopefully soon). I have one more Expensify job in Upwork that's pending payment - waiting for the regression time to pass

[2021-04-20 14:55] isagoico opened #2490 "Emoji / Compose box - Compose box content shifts up when an emoji is added."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Compose box content is always aligned in the middle

## Actual Result:
Compose box content shift when an emoji is added.

## Action Performed:
1. Log

[2021-04-20 15:10] parasharrajat commented on #2090
I think, this issue is resolved & should be closed.

[2021-04-20 15:20] NicMendonca opened #2491 "Bolded and Italics code does not render properly on mobile"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Bold and italics are applied to the code block

## Actual Result:
Bold and italics are not applied to the code block

## Action Performed:
1. Send th

[2021-04-20 16:05] Julesssss commented on #2154
Can you let me know which issue that is for please, and I'll make a note on it that we should payout the missing bonus as part of that UpWork task.

[2021-04-20 16:07] parasharrajat commented on #2451
@isagoico Working video

https://user-images.githubusercontent.com/24370807/115429012-9c4edf80-a220-11eb-9ae7-d2ffcf7fcc91.mp4

[2021-04-20 16:09] Maftalion commented on #2246
@Julesssss Sound good, the pr is ready for review

[2021-04-20 16:20] Julesssss commented on #2246
Ideal, thanks for letting me know.

[2021-04-20 16:21] kidroca commented on #2154
Thank you very much! It's this one #2325

[2021-04-20 16:31] laurenreidexpensify commented on #2432
Wow @parasharrajat speedy!!!

[2021-04-20 16:49] Julesssss commented on #2325
FYI, I've left a note on our internal issue [here](https://github.com/Expensify/Expensify/issues/160016#issuecomment-823430435) that we should pay an additional bonus when completing [this outstanding Upwork Contract](https://www.upwork.com/ab/c/8577561/contracts/26793307/#milestones)

So this ^ should be taken care of soon.

[2021-04-20 16:50] Julesssss commented on #2154
FYI, I've left a note on our internal issue [here](https://github.com/Expensify/Expensify/issues/160016#issuecomment-823430435) that we should pay an additional bonus when completing [this outstanding Upwork Contract](https://www.upwork.com/ab/c/8577561/contracts/26793307/#milestones)

So this ^ should be taken care of soon.

[2021-04-20 17:36] chiragsalian opened #2496 "test issue"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

## Action Performed:
Break down in numbered steps

##

[2021-04-20 17:38] iwiznia commented on #2349
@Andmat7 I see you deleted several of your comments, any reason why? If you want to work on this, please re-post here your proposal.

[2021-04-20 17:50] iwiznia commented on #2408
Oh, sorry about that. You are right about all those having texts, I missed it. The only one I am having doubts is [this one](https://github.com/Expensify/Expensify.cash/blob/a75a4077b526417c09ed07316334a707cd2feea2/src/pages/home/report/ReportActionItemFragment.js#L68), is that actually printed in screen for the user to see?

Yeah, for those you will need to subscribe to the PREFERRED_LOCALE onyx

[2021-04-20 17:58] parasharrajat commented on #2408
@eVoloshchak

These should be used somewhere in any component and I think you can call the `translate` from the HOC there. can't we?

[2021-04-20 18:01] michaelhaxhiu commented on #2408
@eVoloshchak Hired you on Upwork for the job, and assigned you to this GH. ✅  Feel free to begin drafting a PR for the proposed solution.

Given that this is your first time working on an Expensify.cash job, I wanted to highlight the [Contributor Guidelines]
(https://github.com/Expensify/Expensify.cash/blob/master/CONTRIBUTING.md) in case you haven't read it yet!

[2021-04-20 18:04] thienlnam commented on #1517
Oh awesome @sylveawong! Thanks for that - I copied the requirements into the issue and we'll just make this the external issue

[2021-04-20 18:18] #1950 closed

[2021-04-20 18:24] NicMendonca commented on #2160
@johnmlee101 bump! Can you help @parasharrajat? ☝️

[2021-04-20 18:25] kidroca opened #2497 "[Hold for payment 5/7] Blank screen after creating an account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User proceeds to expensify.cash chat list

## Actual Result:
User is redirected to a blank screen and a JS error can be seen in the console

## Actio

[2021-04-20 18:30] parasharrajat commented on #2491
@NicMendonca This is intended behavior and defined in the code.

[2021-04-20 18:39] iwiznia commented on #2408
I think that won't work since we will have the text, not the key.

[2021-04-20 18:44] parasharrajat commented on #2408
so can't we set the key as CONST values and thus they would be passed down.
Like
[code]

[2021-04-20 18:49] iwiznia commented on #2408
True, maybe that's better.

[2021-04-20 18:51] kidroca commented on #2497
@marcaaron This is a follow up on the problem discovered in https://github.com/Expensify/Expensify.cash/pull/2346#issuecomment-819875664

### Proposal
As per my comment here https://github.com/Expensify/Expensify.cash/pull/2346#issuecomment-820314282 this was traced to a call for Navigation while the navigation component have no navigators (stacks or other) mounted. This would result in the error

[2021-04-20 19:08] jboniface commented on #2127
view the job on Upwork [here](https://www.upwork.com/jobs/~0188f6f9683e60912b)

[2021-04-20 19:12] jboniface opened #2498 "When tap on PNG image on iOS app it sometimes shows low resolution and blurry"
**Platform - version:**  iOS app - v2.13 (tested on Chrome web and wasn't able to reproduce)

**Action Performed (reproducible steps):**

1. Have two instances of E.cash running, one with Web and the other with IOS logged into different accounts
2. Send [this image](https://user-images.githubusercontent.com/24399930/118178809-76bd8c00-b402-11eb-9694-a07939a2ad46.PNG)
3. Click on the image in IOS a

[2021-04-20 19:24] marcaaron commented on #2497
Proposed solution makes sense to me. Let's do it!
Going to assign you and hand this off to a team member.

[2021-04-20 19:25] marcaaron commented on #2497
@arielgreen can we get some help creating a job here? No need to add `Exported` label as I've already triaged this one and @kidroca has a good solution. Thanks!

[2021-04-20 19:33] marcaaron commented on #2403
I'm pretty sure we have fixed this issue. But let us know if it still occurs?

[2021-04-20 19:33] #2403 closed

[2021-04-20 19:46] #2496 closed

[2021-04-20 19:59] marcaaron commented on #2326
Great summary here and thanks for putting this together!

I think we are just missing something about what the practical impacts of such a change would be. Is there a way to apply this solution to a measurable outcome or some specific problem? e.g. I see mention that this should be addressed due to memory usage issues. But I'm not sure I'm aware of any issues directly related to memory usage.

So,

[2021-04-20 22:17] isagoico opened #2499 "Attachment - Image does not zoom in when two fingers are used"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result
Confirm the image zooms in

## Actual Result
Image does not zoom in

## Action Performed
1. Launch the app and login
2. Send an image attachment
3. Af

[2021-04-20 22:28] isagoico opened #2500 "Desktop - Emojis overlap without proper space formatting"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Proper Space formatting should be shown in between Emoji's so that the layout looks good

## Actual Result:
Emoji's seem to appear overlap without pr

[2021-04-20 22:37] isagoico commented on #2380
**Regression** is finished!
1 issue found:
1. https://github.com/Expensify/Expensify.cash/issues/2500

**PRs** are finished too
3 comments added:

- https://github.com/Expensify/Expensify.cash/pull/2442#issuecomment-823623629 - will be solved separately
- https://github.com/Expensify/Expensify.cash/pull/2460#issuecomment-823614244
- https://github.com/Expensify/Expensify.cash/pull/2460#issuecommen

[2021-04-20 23:09] MitchExpensify commented on #2335
Hey @parasharrajat!m I've gone ahead and created the [Upwork job](https://www.upwork.com/jobs/~0183b7c4a42d4585fb) and hired you for it. I've set the price at $400 ($250 + $150 bonus for reporting the issue and creating this GH) which will be paid 7 days after merge

Thanks!

[2021-04-20 23:19] MitchExpensify commented on #2335
Should `Exported` have assigned someone to review the proposal @marcaaron ?

[2021-04-20 23:51] #986 closed

[2021-04-21 00:51] marcaaron commented on #2335
Yeah it probably didn't because @thienlnam is still assigned.

[2021-04-21 02:31] aliabbasmalik8 commented on #2491
@NicMendonca We can fix this by updating `RenderHTML` component like this. tested on IOS and WEB and it's working accordingly

![image](https://user-images.githubusercontent.com/31027036/115488070-e7202580-a227-11eb-89fe-f421e43e663c.png)

and here is classesStyles that placed in `webViewStyles` object.
[code]

[2021-04-21 03:47] sophiepintoraetz commented on #2452
I've actually experienced this myself recently/able to reproduce using the outlined steps.

[2021-04-21 03:49] sophiepintoraetz commented on #2452
Actually, I think it should be daily as per this [SO](https://stackoverflow.com/c/expensify/questions/4319?noredirect=1&lq=1)

[2021-04-21 04:12] Christinadobrzyn commented on #2325
Thanks for the heads up @Julesssss - I'm paying the contributor today so I'll add the bonus you requested [here](https://github.com/Expensify/Expensify/issues/160016#issuecomment-823430435) to the payment.

Contractor paid!

[2021-04-21 08:43] jasperhuangg commented on #2490
I looked into this a bit and was able to figure out a fix for the issue. For whatever reason, emojis have a line height of 25px, in contrast to the line-height of 20px that plain text has.

A simple fix is to set `lineHeight: '25px',` in the styles for [`textInputCompose`](https://github.com/Expensify/Expensify.cash/blob/9efcc63e4eb9dd27fac35d7bfc92b3400554be0c/src/styles/styles.js#L784), which ar

[2021-04-21 08:46] jasperhuangg commented on #2490
@miljakljajic I was actually using the desktop app and noticed this was a problem before actually seeing this issue, and I figured out a fix.

For whatever reason, emojis have a line height of 25px, in contrast to the line-height of 20px that plain text has.

A simple fix is to set `lineHeight: '25px',` in the styles for [`textInputCompose`](https://github.com/Expensify/Expensify.cash/blob/9efcc63