[2022-11-23 16:59] grgia commented on #12958
<img width="620" alt="image" src="https://user-images.githubusercontent.com/38015950/203605704-7d92efd2-0a2b-4a99-9486-eec77dd47bbd.png">

[2022-11-23 17:02] shawnborton commented on #12958
I think we just have way too much top/bottom padding for the small buttons. What happens when we reduce it to something smaller, like 4?

[2022-11-23 17:02] MitchExpensify commented on #11423
@rushatgabhane All good! It is accepted. Payment made > Contract ended

[2022-11-23 17:02] grgia commented on #12958
<img width="620" alt="image" src="https://user-images.githubusercontent.com/38015950/203606354-8fd3ea08-725c-474b-a695-19153fed9fd6.png">
Here's with 4

[2022-11-23 17:04] tlerias commented on #12776
@bernhardoj @rushatgabhane will your proposal fix this on web/mobile web small screens? Where this issue was originally reported?

[2022-11-23 17:05] shawnborton commented on #12958
Nice, that feels good to me for the gray buttons. I see in the green "Pay" button in the background, it looks weird. Any idea why that button would look different from the others?

[2022-11-23 17:06] parasharrajat commented on #11844
Not on Hold, but active for proposals.

[2022-11-23 17:12] Puneet-here commented on #12958
paddingVertical should be 6px to keep the pay button correct

[2022-11-23 17:14] shawnborton commented on #12958
I feel like the button text should always be vertically centered no matter what the padding is though. Are we able to do that?

[2022-11-23 17:16] Puneet-here commented on #12958
Yes, we can. We have to use `styles.justifyContentCenter`

[2022-11-23 17:16] kavimuru opened #12961 "[HOLD for payment 2022-12-08] [$1000] Text select cursor is not appearing when selecting text in the messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to https://staging.new.expensify.com/
2. Select a report
3. Send some messages
4. Hover the cursor on the text, and try to

[2022-11-23 17:18] slafortune commented on #12523
@tgolen @s77rt @Santhosh-Sellavel The other issue is moving along nicely - any reason why this one can't be closed?

[2022-11-23 17:19] MitchExpensify commented on #12435
Invites sent to the [New Upwork job](https://www.upwork.com/jobs/~01d72e2380c0fbfcf2) as the old one expired.

[2022-11-23 17:20] mvtglobally commented on #10550
@JmillsExpensify @AndrewGable
We noticed slightly different behavior in staging today. Could it be related to the same issue reported here?
https://github.com/Expensify/App/pull/12886#issuecomment-1325307889

[2022-11-23 17:34] azimgd commented on #4733
moving our convo from https://expensify.slack.com/archives/C01GTK53T8Q/p1668815681935019.

In order to render inline code blocks we have to have a support for `border` + `backgroundColor` on RN layer for inline elements. Right now `border` style will not be applied for a `Text` component therefore we have to wrap it with a View, which results with a block element: `<View style={{border}}><Text></V

[2022-11-23 17:40] azimgd commented on #4733
@parasharrajat coming from this comment https://github.com/Expensify/App/issues/4733#issuecomment-1313335094:

<img width="240" alt="Screen Shot 2022-11-23 at 22 39 09" src="https://user-images.githubusercontent.com/4882133/203613228-fa75e501-3bcb-401c-95b6-48d6fe83fcda.png">

do you see anything unusual here ?

[2022-11-23 17:40] mollfpr commented on #12854
@s77rt I just try your [proposal](https://github.com/Expensify/App/issues/12854#issuecomment-1322279182), the result looks fine on Android, but not on iOS. When typing the `:wave:` emoji between text, the cursor should be placed next to the emoji instead the next letter.

https://user-images.githubusercontent.com/25520267/203613223-47cdc778-9ed1-4f71-b7d5-0545f1cbd4b5.mov

Could you check this and

[2022-11-23 17:41] mollfpr commented on #12854
@Pujan92 Could you attach the result for the Android and iOS? Thanks!

[2022-11-23 17:43] parasharrajat commented on #4733
On the first test string, only message, Code, and enough words should be wrapped in their own inline code blocks.
[code]

[2022-11-23 17:46] mollfpr commented on #12938
Thanks for the proposal @smrutiparida!

Could you be more specific about where the changes need to be put? Also, it will be great if you attach a video of the result.

[2022-11-23 17:48] varshamb commented on #12939
@iwiznia
@flodnv is referring [this](https://github.com/Expensify/App/issues/12724#issuecomment-1324846991).

[2022-11-23 17:51] marcaaron commented on #11858
Great summary @madmax330 and amazing job reproducing and debugging this issue. It seems like it will happen anytime we navigate to a chat while the LHN is open under a modal that triggers the KAV e.g. I was able to reproduce also by doing:

- New Room
- Dismiss
- Tap chat in LHN
- 💥

So it seems like when we are using the KAV in a modal view that it somehow affects the initial state of the KAV on

[2022-11-23 17:52] kavimuru opened #12962 "After Deleting a workspace it directly navigates to main setting page instead of workspace list page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed :

1. Login in any expensify account
2. Press on avatar icon (profile)
3. Navigate to workspaces
4. Go to any workspace
5. Press t

[2022-11-23 17:53] dhairyasenjaliya commented on #12957
**Proposal**

- In order to increase the area of clickable we need to add the same height as the text input
- Then we need to increase the horizontal clickable area by adding padding
- Also need to adjust center alignment by adding appropriate top spacing
- Note also this calendar icon is visible only on chrome based app (chrome and desktop only)

[code]

**Result**

**Chrome**
<img width="1440" a

[2022-11-23 17:53] dhairyasenjaliya commented on #12962
**Proposal**

- In order to navigate to workspace list we need to change in function `confirmDeleteAndHideModal `

https://github.com/Expensify/App/blob/ece97e2e90ca4977ef10fa65024f30e9bdf81840/src/pages/workspace/WorkspaceInitialPage.js#L78-L83

Changes

[code]

**Result**

https://user-images.githubusercontent.com/47522946/203600492-27dbf4c3-932a-43cf-bf0e-e6fb0151ffc8.mov

[2022-11-23 17:56] tjferriss commented on #10283
@johncschuster I'm going through the weekly review of bugs. What remains to close this out?

[2022-11-23 17:57] dhairyasenjaliya commented on #9408
@tjferriss can you close the Upwork contract it still shows  `Ongoing`

[2022-11-23 18:00] tjferriss commented on #10414
I'm doing the weekly bug review and based on the linked Slack thread this looks like a hold so I updated the title. @kevinksullivan if you disagree then let's chat in the Slack thread.

[2022-11-23 18:00] azimgd commented on #4733
Need your opinions:

1. I'm not planning to include the support for nested components inside RN inline code block.

[code]
Only `asd` string will be rendered on the screen, and all child views will be dropped. I can't imagine a scenario where someone would want to render a custom component inside a code-block.

<hr />

2. Do we want to pass custom `background-color, border-color ...` attributes to

[2022-11-23 18:03] johncschuster commented on #12723
I have reproduced this behavior using the steps above. It seems that zooming in and out works fine, but when you specifically follow the "drag image to its edge" part of the repro steps, the result matches what you captured.

https://user-images.githubusercontent.com/5579997/203617496-5996b534-932f-4f6a-b8a7-56ab1b5e97ce.mp4

[2022-11-23 18:03] tjferriss commented on #10679
I'm reviewing this issue as part of the weekly bug review chore. Is the plan to roll this into the [other issue](https://github.com/Expensify/App/issues/5536)or fix here? This is becoming one of our older bugs so it'd be great to sort out what needs to happen here.

[2022-11-23 18:08] tjferriss commented on #10793
It looks like Jason's comment from last week still holds true. I see activity in [the PR](https://github.com/Expensify/react-native-onyx/pull/211) so I assume this issue is moving toward a resolution.

[2022-11-23 18:08] bondydaa commented on #12714
oooh I see where my misunderstanding was... this is manually sending money to another user not paying an existing IOU (I though it was the latter).

While digging in here it looks like these commands have yet to be updated to use the Optimistic patterns for Offline usagehttps://github.com/Expensify/App/blob/3cf717412cf6b03357184bf057921cf658ff158d/src/libs/actions/IOU.js#L687-L689

so I went diggi

[2022-11-23 18:08] kavimuru opened #12963 "[$2000] iOS - Profile - Bottom home bar on iOS does not have transparent background"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login
2. Go to profile page

## Expected Result:
Bottom home bar should have transparent background

## Actual Result:
Have wh

[2022-11-23 18:12] tjferriss commented on #7435
Following instructions for the [weekly update chore](https://stackoverflow.com/c/expensify/questions/8208):

@deetergp this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your high

[2022-11-23 18:12] iwiznia commented on #12939
ok, maybe I am wrong and should've not skipped the process, just wanted to get the issue resolved quickly.

[2022-11-23 18:13] tjferriss commented on #7860
Following instructions for the [weekly update chore](https://stackoverflow.com/c/expensify/questions/8208):

@roryabraham  this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your

[2022-11-23 18:14] tjferriss commented on #8236
Following instructions for the [weekly update chore](https://stackoverflow.com/c/expensify/questions/8208):

@Julesssss this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your hig

[2022-11-23 18:16] tjferriss commented on #8592
@MonilBhavsar I'm following up on [Jason's comment](https://github.com/Expensify/App/issues/8592#issuecomment-1319227829). It seems like we should take this issue internal at this point given it's age.

[2022-11-23 18:17] tjferriss commented on #10181
Following instructions for the [weekly update chore](https://stackoverflow.com/c/expensify/questions/8208):

@mountiny this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your hig

[2022-11-23 18:19] tjferriss commented on #10670
Following instructions for the [weekly update chore](https://stackoverflow.com/c/expensify/questions/8208):

@tgolen this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highe

[2022-11-23 18:20] johncschuster commented on #10283
@tjferriss As far as I can tell, the only remaining step here is the regression test conversation in Slack. I'm following the [SO here](https://stackoverflow.com/c/expensify/questions/363) to do that.

[2022-11-23 18:21] tjferriss commented on #11317
Following instructions for the [weekly update chore](https://stackoverflow.com/c/expensify/questions/8208):

@AndrewGable this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your

[2022-11-23 18:21] tjferriss commented on #11398
Following instructions for the [weekly update chore](https://stackoverflow.com/c/expensify/questions/8208):

@Julesssss this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your hi

[2022-11-23 18:23] tjferriss commented on #11522
Following instructions for the [weekly update chore](https://stackoverflow.com/c/expensify/questions/8208):

@ctkochan22 this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your h

[2022-11-23 18:24] tjferriss commented on #11590
Following instructions for the [weekly update chore](https://stackoverflow.com/c/expensify/questions/8208):

@flodnv this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your highe

[2022-11-23 18:24] trjExpensify commented on #11809
I think @andrewlor is right, the IOUHeader not being in step with the content of the modal is what's making this look strange.

[2022-11-23 18:25] tjferriss commented on #11694
Following instructions for the [weekly update chore](https://stackoverflow.com/c/expensify/questions/8208):

@roryabraham this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:

- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your

[2022-11-23 18:25] mvtglobally commented on #12934
Regression is almost completed

mid-Summary
PR https://github.com/Expensify/App/pull/11465 is failing https://github.com/Expensify/App/issues/12942. repro in PROD
PR https://github.com/Expensify/App/pull/12129 is failing https://github.com/Expensify/App/issues/12955. repro in PROD
 PR https://github.com/Expensify/App/pull/12802#issuecomment-1325481609
PR https://github.com/Expensify/App/pull/12858

[2022-11-23 18:26] tjferriss commented on #11697
Coming here from the [weekly bug update chore](https://stackoverflow.com/c/expensify/questions/8208) and I tend to agree with Ioni that if this is not reproducible on a real device than let's close it.

[2022-11-23 18:28] tjferriss commented on #11844
Reviewing the issue based on the [weekly bug update chore](https://stackoverflow.com/c/expensify/questions/8208):

@puneetlath  this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of

[2022-11-23 18:29] trjExpensify commented on #11694
Ah, just commented [here in thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1669227930360779?thread_ts=1669139010.581789&cid=C01GTK53T8Q). I’m changing the label to `Internal` and removing `Help wanted`.

[2022-11-23 18:29] tjferriss commented on #11903
Reviewing the issue based on the [weekly bug update chore](https://stackoverflow.com/c/expensify/questions/8208):

@robertjchen this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of

[2022-11-23 18:30] tjferriss commented on #11948
Reviewing the issue based on the [weekly bug update chore](https://stackoverflow.com/c/expensify/questions/8208):

@Gonals this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your

[2022-11-23 18:31] MariaHCD commented on #11850
Updated the PR https://github.com/Expensify/App/pull/12596 and it's out for review. In the meantime, going to look into  clearing the request queue

[2022-11-23 18:32] tjferriss commented on #12155
Reviewing the issue based on the [weekly bug update chore](https://stackoverflow.com/c/expensify/questions/8208):

@tgolen this is one of the oldest issues in the /App repo. To help us clear out the large backlog of bugs, can you:
- Decide whether any proposals currently meet our guidelines and can be approved as-is
- For any that can't, please take this issue internal and treat it as one of your

[2022-11-23 18:37] kidroca commented on #12930
I can capture a video
The slack thread also has a link to a fix

[2022-11-23 18:46] tjferriss commented on #10414
Whoops sorry, looks like we shouldn't be putting this on hold based on this [Slack discussion](https://expensify.slack.com/archives/C01GTK53T8Q/p1669139081715229).

[2022-11-23 18:49] flaviadefaria commented on #12889
Are we then good to close this?

[2022-11-23 18:53] Emz27 commented on #12714
@bondydaa Hi, my proposal solves the problem you mentioned. I used throttle func to limit the action once per 800ms, not delay it. It takes the first action then ignore the rest for 800ms. I used a mouse clicker macro to test this. I agree that this needs to be handled in api but an additional protection in client would be nice too.

[2022-11-23 18:59] s77rt commented on #12854
That's another bug in react-native https://github.com/facebook/react-native/issues/28865
@mollfpr Should we make this platform specific?

[2022-11-23 19:06] trjExpensify commented on #11844
We've chatted about this one [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1669138992254909) and [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1669134887902079). Let's close it and fix it upstream in RN. 👍

To Rajat's point, this still stands. Bring it up in a Slack thread if that's the case!

[2022-11-23 19:06] #11844 closed

[2022-11-23 19:07] tjferriss commented on #9408
Ok payments have been sent and contracts ended.

[2022-11-23 19:08] parasharrajat commented on #4733
Do check on the staging web. If something is supported and being used then it needs to be supported on Native as well.

Could be useful. Yes. We are moving to a dark Theme and a light theme. we need a way to switch colors.

I believe you mean nested in a Parent Text.

Image :stop_sign: Never used.

View :question: It might be needed. But can't tell for sure until test it.

[2022-11-23 19:08] varshamb commented on #12939
Ok, I haven't proposed a solution on slack as the Proposal of another contributor was already accepted on Slack.

[2022-11-23 19:12] marcaaron commented on #11858
Traced this one back to the `Freeze` component (which we will probably deprecate as part of the App Navigation Reboot).

The `ScreenWrapper` being inside the `react-freeze` component prevents it from re-rendering and leaves it in a stuck state. This diff should fix it:

[code]

[2022-11-23 19:21] chiragsalian commented on #11536
well `r/1234` does not sound like a valid reportID so routing to the LHN actually looks good to me 😅

And if you do enter a valid reportID, the drawer will still close so yes it's a valid problem but it's something that will be tackled in the [comment linking issue](https://github.com/Expensify/Expensify/issues/147480).

[2022-11-23 19:31] kbecciv opened #12966 "Workspace- Error message isn't displayed when edit a Workspace name to <b></b>"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11465

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go

[2022-11-23 19:36] neil-marcellini commented on #12629
I ended up closing my PR. See my comment here https://github.com/Expensify/App/pull/12874#issuecomment-1325563913. Here's the checklist, let's close this out.

**BugZero Checklist:** The PR fixing this issue has been merged! The following checklist ([instructions](https://stackoverflow.com/c/expensify/questions/14574)) will need to be completed before the issue can be closed:

- [ ] [@miljakljajic

[2022-11-23 19:38] neil-marcellini commented on #12629
@miljakljajic would you please take care of the last two steps?

[2022-11-23 19:42] kbecciv opened #12967 "[HOLD for payment 2023-01-05] [HOLD #13392] [$1000] Android - Avatar is not displayed on push notification"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12540

## Action Performed:
1. Sign into the Android app
2. Sign into another

[2022-11-23 19:48] furkanuzundev commented on #8236
# Proposal

At first boot, the logo jumps as the screen is resized again when creating the android status bar.

# Workaround

When we add this code into styles.xml

[code]

bootsplash will ignore `SOFT_INPUT_ADJUST_RESIZE` and the jump will not occur.

Reference: https://developer.android.com/reference/android/view/WindowManager.LayoutParams#FLAG_FULLSCREEN

https://user-images.githubusercontent.c

[2022-11-23 19:56] kbecciv opened #12969 "IOU - Clicking on the badge shows cancel button after cancelling the badge amount remains the same"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensofy.com
2. Log in with HT account (applausetester+0901abb@applause.expensifail.com)
3. Select user (50

[2022-11-23 19:59] marcaaron commented on #11851
I don't think we need to wait on that. Let's just close it and if someone feels like doing that they can spend time on it.

Remember this is "Firefox on Android" which probably has less than half a percent of the global mobile market share.

[2022-11-23 20:00] luacmartins commented on #12950
@kbecciv steps 5-8 don't seem to be available offline as the buttons are disabled. Could you please share a video of the issue?

[2022-11-23 20:23] CortneyOfstad commented on #11487
Since the old job essentially expired, recreated it, based on the suggested provided in Slack — https://www.upwork.com/jobs/~01c0b57325bd142204

[2022-11-23 20:24] marcaaron commented on #12267
I'm not too clear on the proposal @roryabraham. Are changes required? If so, what are they and can we have @tienifr implement them?

[2022-11-23 20:24] jasperhuangg commented on #12962
Hey @dhairyasenjaliya sorry I already had some changes locally from before, I'm gonna snag this one.

In the future please only comment proposals on issues that have the `Help Wanted` label on them.
https://github.com/Expensify/App/issues?q=is%3Aissue+is%3Aopen+label%3A%22Help+Wanted%22

[2022-11-23 20:27] CortneyOfstad commented on #11487
@Puneet-here and @Santhosh-Sellavel I sent over the contract in UpWork for this. @Puneet-here will get double due to both reporting and prosing the fix for this issue 👍

Also, I have to unassign this for it to be paid tomorrow, as Nov. 24 is Thanksgiving and I am OoO. Thanks!

[2022-11-23 20:28] marcaaron commented on #9818
Sounds good. So @pecanoro @Santhosh-Sellavel I think we can hire @aimane-chnaif to do this one then. @aimane-chnaif let us know if there are questions about where this landed.

[2022-11-23 20:28] CortneyOfstad commented on #11852
Unassigning as payment needs to be made tomorrow, and I am OoO for Thanksgiving

[2022-11-23 20:29] pdev217 opened #12970 "Nemanja Nedeljkovic"
Hi, Hope you're doing well. I'm writing to express my interest for Job you've posted.

I have been working as a full stack developer for the past 6 years, and I have extensive experience with both front-end and back-end development. I have worked on projects of all sizes, from small personal projects to large enterprise systems. My experience has given me the opportunity to work with many differen

[2022-11-23 20:29] #12970 closed

[2022-11-23 20:30] CortneyOfstad commented on #11852
Sorry!! Accidentally removed all assignments instead of just my own 🤦

[2022-11-23 20:30] Puneet-here commented on #11487
Accepted the offer, thanks!

[2022-11-23 20:36] s77rt commented on #12938
This is one of the oldest issues of react-native https://github.com/facebook/react-native/issues/4977
The issue is that the `lineHeight` prop is very buggy, initially it won't be set at all, then it will be set if you type a char. If you have an empty line the prop won't be applied.

I can't think of a clean solution except for hacks and wrokarounds e.g. set the `height` to `numberOfLines * styleL

[2022-11-23 20:44] Puneet-here commented on #12966
cc: @youssef-lr

[2022-11-23 20:46] luacmartins commented on #12946
This is the expected behavior as we hide the compose box and display the loading skeleton for chats that have no messages loaded. Closing.

[2022-11-23 20:46] #12946 closed

[2022-11-23 20:47] luacmartins commented on #12934
Checking off https://github.com/Expensify/App/pull/12877 since it passed and https://github.com/Expensify/App/issues/12946 is the expected behavior.

[2022-11-23 20:56] marcaaron commented on #12428
I think we should revert [this PR](https://github.com/Expensify/App/pull/12089) instead of build on it further. I've [explained in detail here](https://github.com/Expensify/App/issues/12676#issuecomment-1322477705) why the HOC solution is most likely **not** the one we want and have concerns that we are just adding complexity to a design that should be investigated and potentially rolled back.

[2022-11-23 20:56] marcaaron commented on #12676
Yes to payment, but I think we should revert the PR too. The changes don't seem like something we will want long term and the issue you linked to seems to have an attached proposal that builds onto this solution instead of stepping back and doing a proper holistic solution. So I think we should clean up the mess here before we make things even more confusing.

[2022-11-23 21:01] luacmartins commented on #12969
Gonna take this one

[2022-11-23 21:03] web3cryptowallet commented on #4733
Hey @parasharrajat I found you propositional on Upwork. I can help and I can made any kind of job. What is the greatest way to reach you?

[2022-11-23 21:05] jasperhuangg commented on #12900
@arielgreen can we be sure to get @thesahindia the reporting bonus?

[2022-11-23 21:08] jasperhuangg commented on #12291
No need, I was just saying we could maybe go to see if other components are written by accessing props in the constructor. But let's just do nothing for now.

[2022-11-23 21:10] luacmartins commented on #12928
Closing this since it seems to be the expected behavior for now and I don't think that we want to debounce the network status check since this is happening in dev only.

[2022-11-23 21:10] #12928 closed

[2022-11-23 21:15] bfitzexpensify commented on #12892
OK, no pushback, closing.

[2022-11-23 21:15] #12892 closed

[2022-11-23 21:18] aldo-expensify commented on #12850
@kbecciv how can I get the password for applausetester+0901abb@applause.expensifail.com for testing?

[2022-11-23 21:18] kbecciv commented on #12850
Feya86Katya

[2022-11-23 21:22] marcaaron commented on #12598
@s77rt No, that's not correct.

@MonilBhavsar It's because the logic for this needs improvement as discussed [here](https://github.com/Expensify/Expensify/issues/228194). We wait 10 seconds to make sure that we are not handling a comment read into storage as if it were "new" twice. This is very uncommon when using the app normally, but much more likely when testing.

[2022-11-23 21:23] bfitzexpensify commented on #12957
Agree this could be improved.

[2022-11-23 21:23] mvtglobally commented on #12934
Regression is completed.

Outstanding/additional items
PR https://github.com/Expensify/App/pull/12540 is failing https://github.com/Expensify/App/issues/12967. repro in prod, checking off
PR checking off https://github.com/Expensify/App/pull/12802#issuecomment-1325563631
PR https://github.com/Expensify/App/pull/12924 is failing https://github.com/Expensify/App/issues/12920. ok to check off?

[2022-11-23 21:25] mvtglobally commented on #12950
@luacmartins, Updated the issue.

[2022-11-23 21:25] marcaaron commented on #12598
Gonna drop the `Help Wanted` from this issue I think we should bring this issue to Slack to discuss further (same goes for any other open issues related to new marker or unread indicator inconsistencies). These are tough problems to figure out and may require access to our backend code.

[2022-11-23 21:26] aldo-expensify commented on #12777
Why is this a bug and not a feature? what is the downside of allowing the user to drag an image from the white part?

[2022-11-23 21:31] marcaaron commented on #9818
It's happening in the future sometime. As @trjExpensify said

so I think we can go with your original proposal and improve it later.

[2022-11-23 21:33] luacmartins commented on #12955
I think this is expected. Since this a HT account, the call to the `OpenApp` API command can take a long time and the UI will only be updated once that requests completes and returns the updated data.

You can see the issue happening on Web below. In this example, the call to `OpenApp` takes 8.1s to return the updated data, after which we can see that the UI is updated and does not display the rem

[2022-11-23 21:33] #12955 closed

[2022-11-23 21:35] luacmartins commented on #12950
Thanks! I'll take a look.

[2022-11-23 21:37] luacmartins commented on #12966
Gonna pick this one up

[2022-11-23 21:42] youssef-lr commented on #12966
This PR hasn't been merged yet which should fix this. https://github.com/Expensify/Web-Expensify/pull/35548.

[2022-11-23 21:44] s77rt commented on #12854
@mollfpr If platform-specific component is not needed here; we can on the same file:
1. Use two state values: `selection` and `prevSelection`
2. On `updateComment` we use `this.state.prevSelection` for iOS since the intended selection was already changed and `this.state.selection` for the rest.

on iOS the events callback are invested, the first call is `onSelectionChange` and then `onChangeText`

[2022-11-23 21:45] youssef-lr commented on #12966
Also this is a duplicate of https://github.com/Expensify/App/issues/12268, we will need to add validation in the frontend as well.

[2022-11-23 21:55] aldo-expensify commented on #12777
cc @shawnborton can I get your opinion on this? 🙏

[2022-11-23 21:55] MitchExpensify commented on #12435
Yep! Had that noted, reminders never hurt though!

[2022-11-23 22:12] chiragsalian commented on #12025
Updated the first two. Not sure what to do about the third. It was discussed on slack and not in expensify-bugs. So should we start a discussion in #expensify-bugs?

[2022-11-23 22:15] shawnborton commented on #9818
Can we just reuse what we currently have?

[2022-11-23 22:16] marcaaron commented on #11522
Hold up, it doesn't seem like this is actually a bug. The "Search" function does not only show "reports" or conversations that you have open. AFAIK it has _always_ shown both existing chats and potential people to chat with (that is populated by `personalDetails` which can pull users from policies, reports, etc). It's a feature - not a bug.

**Sidebar:** Yes, only chats should show up here
**Searc

[2022-11-23 22:16] #11522 closed

[2022-11-23 22:23] thesahindia commented on #12435
@MitchExpensify, I didn't get the 50% bonus. It also applies to the C+ reviewer

[2022-11-23 22:24] shawnborton commented on #12777
Yeah, I don't understand why this is a bug - this seems to be behaving exactly like we'd expect. I think this is why it's important that our bug reports have corresponding Slack conversations so we can chat about these earlier.

[2022-11-23 22:27] thesahindia commented on #12777
I think this is a better video (from the [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1663318434686339))

https://user-images.githubusercontent.com/83179295/203656195-872faddf-4010-4b17-bfd2-0a9dbf19756e.mp4

[2022-11-23 22:33] dbond09 commented on #12512
### Proposal

The reason this issue occurs is that `react-pdf` uses a web worker to render the preview. The constructor of said web worker takes an URL as its argument which points to the code that will be executed by the worker. The URL points to a `.js` file on the server, which was not bundled with Webpack as it should have been. So when we try to render the PDF preview in offline mode, the web

[2022-11-23 22:33] Dima-Kevanishvili commented on #12713
@maddylewis Any updates on this? I appreciate you are busy, but the weekend is coming, and I'd be very thankful if we could resolve this before that.
If not, of course, it is alright.

[2022-11-23 22:35] shawnborton commented on #12777
@thesahindia your issue seems to be different from what is being described in this GH. I agree that what you reported is a bug though.

[2022-11-23 22:38] thesahindia commented on #12777
Oh yeah, you are correct. I just read the OP again 🙈

[2022-11-23 22:39] kevinksullivan commented on #12428
Hm, ok Melv. So is the approach @marcaaron  revert the [PR](https://github.com/Expensify/App/pull/12089), re-test to see if this issue exists, and if not close it out?

[2022-11-23 22:56] fedirjh commented on #12938
I think this issue is related to fontFamily , Android set a different line height for empty lines , this is a similar issue reported before https://github.com/facebook/react-native/issues/29232
The issue can be resolved by changing the `fontFamily` but I think this is not an option here . You can test with different fontFamily eg `Segoe UI Emoji`

[2022-11-23 23:00] anmurali commented on #12251
I have read and reviewed this Design Doc!

[2022-11-23 23:00] anmurali commented on #12388
Done

[2022-11-23 23:00] #12388 closed

[2022-11-23 23:04] aldo-expensify commented on #12651
I see that the docs says that we should avoid `forceUpdate`... but maybe this is one of the cases where we should make an exception? it is just so much simple and it also doesn't make 100% sense for me to put the current time in the state just for the sake of avoiding `forceUpdate`.

Maybe we should take this to slack to get more opinions?

[2022-11-23 23:08] trjExpensify commented on #11522
Yeah, I commented the same in the linked thread, @marcaaron: https://expensify.slack.com/archives/C01GTK53T8Q/p1669202893636769?thread_ts=1669139030.140559&cid=C01GTK53T8Q

Outstanding question for me is around invites to new users via `Search`. The vid illustrates that you can invite and start a chat with a new user via Search by typing in a full valid email address or phone number. AFAIK, that w

[2022-11-23 23:13] luacmartins commented on #12942
IMO this is ok and a known drawback of using the `focus()` method to bring the input into view, instead of a much more complex implementation of scrolling to the input position with an offset. I don't feel strongly about it though and could entertain solutions for scrolling up and adding an offset.

[2022-11-23 23:16] MitchExpensify commented on #12435
Fixed and paid 50% bonus for both now, thanks!

[2022-11-23 23:16] #12435 closed

[2022-11-23 23:17] marcaaron commented on #11522
Originally it was only those flows, but we added that feature in [this PR](https://github.com/Expensify/App/pull/1706).

[2022-11-23 23:24] trjExpensify commented on #11522
Thanks! How time flies..

[2022-11-23 23:25] luacmartins commented on #12934
- https://github.com/Expensify/App/pull/11465 I tested and it seems like a pass. The issues linked to it seem to be unrelated and will be addressed individually.
- https://github.com/Expensify/App/issues/12955 is expected. Checking off https://github.com/Expensify/App/pull/12129.
- https://github.com/Expensify/App/pull/12802#issuecomment-1325481609 Chirag confirmed that we can skip the test for mW

[2022-11-23 23:29] chiragsalian commented on #11590
Investigating. Isn't the problem in this part,

I think if multiple IOUs have the same amount then there isn't a secondary sort to fallback on which is why we're getting different options across mobile and web. I'll try implementing a double sort and we can test it out.

[2022-11-23 23:34] vladamx commented on #11398
I think we already have a solution for this issue - probably can be resolved fairly quickly.  See https://github.com/Expensify/App/issues/11398#issuecomment-1314551092

[2022-11-23 23:34] aldo-expensify commented on #12850
I failed to reproduce in Android, I can open the conversation with "hello" (email: applausetester+033122abb@applause.expensifail.com reportID: 92050010).

I think these are the logs of OpenReport:

[76bbc8a03b7eff88-SJC](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%2276bbc8a03b7eff88-SJC%22)+AND+timestamp:[2022-11-17T21:08:12.924Z+TO+2022-11-17T23:08:12.924Z]&index=logs

[2022-11-23 23:37] neil-marcellini commented on #12315
👀

[2022-11-23 23:41] vladamx commented on #12651
@rushatgabhane We could just update the time on details focus in order to avoid timers and force update shenanigans.

[2022-11-23 23:42] trjExpensify commented on #11854
I can't see that on [this upwork job](https://www.upwork.com/jobs/~01a08d6a4623670c83), are you sure you sent it on the right one?

<img width="1123" alt="image" src="https://user-images.githubusercontent.com/16232057/203664220-c928cc2c-724e-4459-b3c8-4308997b410b.png">

[2022-11-23 23:44] luacmartins commented on #12934
I see a new [crash](https://console.firebase.google.com/u/0/project/expensify-chat/crashlytics/app/ios:com.chat.expensify.chat/issues/b8229391d68670ba32edf0feb5454e7d?time=last-ninety-days&sessionEventKey=ba201dc1f6ef4b3d8acc2d6b908ee014_1747455721564873397) on iOS. I did some [digging](https://developer.apple.com/forums/thread/76987?answerId=231500022#231500022) and it seems like it's a memory ma

[2022-11-23 23:45] luacmartins commented on #12934
:shipit:

[2022-11-23 23:45] #12934 closed

[2022-11-23 23:48] OSBotify opened #12976 "Deploy Checklist: New Expensify 2022-11-23"
**Release Version:** `1.2.31-8`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/12419
- [x] https://github.com/Expensify/App/pull/12455
- [x] https://github.com/Expensify/App/pull/12570
- [x] https://github.com/Expensify/App/pull/12607
- [x] https://gi

[2022-11-23 23:48] luacmartins commented on #12966
Thanks for linking that issue @youssef-lr! I added this issue to the list of fixed issues on the PR you linked. I'll mark this as in review and we can retest once the Web-E PR is merged!

[2022-11-23 23:57] robertjchen commented on #11903
Update: This one appears to be close, awaiting clarification on the above question.

[2022-11-24 00:00] ctkochan22 commented on #12966
Should we just close this in favor of https://github.com/Expensify/App/issues/12268 ? Essentially the same bug, just worded differently I think

[2022-11-24 00:05] luacmartins commented on #12966
Sounds good to me. Closing in favor of https://github.com/Expensify/App/issues/12268. Thanks for the input!

[2022-11-24 00:05] #12966 closed

[2022-11-24 00:05] marcaaron commented on #11283
I think the best solution is to just set the `isFocused: false` on press?

We are only concerned with the outline (not actually removing the focus - which does seem bad for accessibility).

Seems like @hungvu193 had the closest solution [here](https://github.com/Expensify/App/issues/11283#issuecomment-1282053987). But I think we can simply do this whenever the box is pressed:

[code]

We can do th

[2022-11-24 00:12] grgia opened #12977 "[Dark Mode] Update Native UI Components for dark mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps
1. Open a drop-down menu
2. Activate the native scrollbar in emoji picker or chat

## Actual Result:

[2022-11-24 00:13] luacmartins commented on #12950
@mvtglobally sorry to bother you again, but can you share the credentials of the account used? I'm having trouble reproducing the error.

[2022-11-24 00:19] furkanuzundev commented on #8236
We are not **hiding**, we are **ignoring** the **resizing** when application created the status bar.

[2022-11-24 00:32] cead22 commented on #12026
I'm new to this issue and reviewing proposals, so I welcome any feedback, but I have a few notes and questions
- I don't understand the change in getSearchText, or why we need to add `personalDetail.login,` to `searchTerms` since users logins aren't related to the workspace name or the chat subtitle as far as I know
- Removing the line [`.replace(/\./g, '')`](https://github.com/Expensify/App/blob/

[2022-11-24 00:39] neil-marcellini commented on #12315
I see that if you run the web proxy by setting `USE_WEB_PROXY=true` in the .env file then when you connect with Plaid it does not put you into the "sandbox" mode. What determines if you are in the Plaid sandbox?

I was able to get that result regardless of the "Use staging server" value. What should the host be for the proxy request? @marcaaron would you have time to hop on a quick call with me an

[2022-11-24 00:42] Christinadobrzyn commented on #12939
Sorry, catching up here, @iwiznia are you good with https://github.com/Expensify/App/issues/12939#issuecomment-1324958044?

[2022-11-24 00:48] Christinadobrzyn commented on #12741
I think this can be moved to weekly while we review the PR? I'm going to move it but feel free to move it back to daily if that's best.

[2022-11-24 00:54] aldo-expensify commented on #10262
@parasharrajat @b1tjoy about this proposal: https://github.com/Expensify/App/issues/10262#issuecomment-1311826800

I'm working on some related changes here:
- https://github.com/Expensify/expensify-common/pull/474: `ExpensiMark.htmlToText` no longer collapse multiple `<br />` into a single space because this function was being used to derive `message[0].text` from `message[0].html`, and we don't w

[2022-11-24 01:15] neil-marcellini commented on #11768
I have read and reviewed this Design Doc!

[2022-11-24 01:16] aldo-expensify commented on #11094
@s77rt about the proposal https://github.com/Expensify/App/issues/11094#issuecomment-1324355638, is there an advantage on keeping the focus state in `this.isFocused`? an alternative is to simple use `this.textInput.isFocused()` when you need and then you don't have to keep this value synchronized. I'm not sure if what I'm suggesting works in native or breaks.

[2022-11-24 01:22] neil-marcellini commented on #12629
Actually to avoid more duplication let's have this issue https://github.com/Expensify/App/issues/12883 complete the checklist. I will comment over there letting them know that the first two steps are already done.

[2022-11-24 01:22] #12629 closed

[2022-11-24 01:23] neil-marcellini commented on #12883
Hi there, when it comes time to do the Bug-Zero checklist, please note that the first 2 steps are done here https://github.com/Expensify/App/issues/12629#issuecomment-1325568618.

[2022-11-24 01:42] cead22 commented on #12155
- Adding `multiline={true}` to the RNTextInput [here](https://github.com/Expensify/App/blob/00d7c619c/src/components/Composer/index.js#L390) didn't work
- Adding `multiline={true}` to TextInput [here](https://github.com/Expensify/App/blob/00d7c619c/src/components/RNTextInput.js#L27) didn't work either

[2022-11-24 01:46] kbecciv opened #12981 "IOU - "Cancel" button is not fully visible in Detail Page/some buttons in Preferences Page is cut off"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Tap on Fub menu
4. Select Request Money
5. Put amount and Select the user
6.  Tap

[2022-11-24 01:47] OSBotify commented on #12981
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-24 01:48] chiragsalian commented on #11590
I've got fixes for the LHN ready. I've tested it and I think it works better.
I'd like to add some jest unit tests for it and then it should be ready for review. I'll add it on Monday since I'm OOO the rest of the week.

[2022-11-24 01:50] chiragsalian commented on #11590
Also another issue was mentioned here i.e.,

Mind if we split that into another issue? You can assign it to me. I'd just like to tackle stuff in smaller parts 🙂

[2022-11-24 01:56] arielgreen commented on #12900
Of course!

[2022-11-24 01:56] kbecciv commented on #12981
@0xmiroslav This issue is not reproduced in Production.

![IMG_5316 (1)](https://user-images.githubusercontent.com/93399543/203676882-fdfa9f3a-e873-4e9c-aa69-dbf541574abe.png)

[2022-11-24 02:00] kbecciv opened #12982 "Chat - Direction icons are not in the same level"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with HT account
3. Select user which you have a lot of request/cancel actions
4. Scroll through the a

[2022-11-24 02:01] OSBotify commented on #12982
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-24 02:10] kbecciv commented on #12950
Credentials:
applausetester+0901abb@applause.expensifail.com/Feya86Katya

[2022-11-24 02:15] kbecciv commented on #12951
I can reproduce it with current build 1.2.31.1, steps are updated.

https://user-images.githubusercontent.com/93399543/203679053-86002b09-44e3-4014-aea6-56fb7f1c735e.mp4

[2022-11-24 02:17] bernhardoj commented on #12776
No worries. Thanks for the clarification.

Yes, it will fix on all platforms.

[2022-11-24 02:21] kbecciv commented on #12594
@muttmuure Will re-test with current build

[2022-11-24 02:34] pecanoro commented on #9818
@marcaaron Thank you for helping us reach a consensus!!

[2022-11-24 02:35] hungvu193 commented on #12963
This come from this piece of code:
https://github.com/Expensify/App/blob/0274c4ab700ea483272315c27e3299883356ed30/src/components/ScreenWrapper/BaseScreenWrapper.js#L78-L81
This also happen in every screens that used ScreenWrapper, I tested on Setting, About...
So I think the prop: `includePaddingBottom` should be false by default.
[code]

[2022-11-24 02:44] hellohublot commented on #11854
@trjExpensify https://www.upwork.com/freelancers/~01509ca2c74bfc7073
Sorry, this one.

[2022-11-24 02:54] grgia commented on #12981
Should be fixed with https://github.com/Expensify/App/pull/12959

[2022-11-24 02:58] varshamb commented on #12957
### Proposal
Instead making Date Picker in centre I propose make it aligned with date input text.
for this change position to `relative`.

`position: relative;`

https://github.com/Expensify/App/blob/0274c4ab700ea483272315c27e3299883356ed30/src/components/DatePicker/styles.css#L8-L9

<img width="375" alt="Screenshot 2022-11-24 at 8 12 23 AM" src="https://user-images.githubusercontent.com/111683206

[2022-11-24 03:05] robertjchen commented on #12982
Should be addressed by https://github.com/Expensify/App/pull/12959

[2022-11-24 03:09] vladamx commented on #12651
When details get navigation focus

[2022-11-24 03:13] Santhosh-Sellavel commented on #8236
@Julesssss [This](https://github.com/Expensify/App/issues/8236#issuecomment-1325579507) kind off looks better than now

[2022-11-24 03:32] kadiealexander commented on #12668
Movement is happening on the PR that is holding this up.

[2022-11-24 03:36] kadiealexander commented on #12448
Closing in favour of https://github.com/Expensify/App/issues/11083 as a duplicate, if this is still occurring once that issue is resolved please open the chat.

[2022-11-24 03:36] #12448 closed

[2022-11-24 03:58] JmillsExpensify commented on #12709
I'm kind of one the fence what the best path forward is. I agree with @thesahindia that the current page is not appropriately reflecting "pending" (50% opacity) in the form. However, actually...hmm now that I think of it, isn't the profile Pattern A? Like in what case could updating your name truly fail? Is there one? If not, then no "pending" UX is needed, because we'll always be able to update t

[2022-11-24 04:00] kadiealexander commented on #12963
From this SO: https://stackoverflow.com/c/expensify/questions/14418
- [x] **The "bug" is actually a bug**:
- [x] **The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead)**:
- [x] **The bug is reproducible, following the reproduction steps:**

![28696830-FCDC-47D8-B9A3-79F37EE3668E](https://user-images.githubusercontent.com/59587260/2

[2022-11-24 05:41] bernhardoj commented on #11283
@marcaaron I don't know if it's considered as an issue or not, but from @hungvu193 and your solution, I found 2 "issues"
Issue 1
1. Check and uncheck the checkbox
2. Hold down the checkbox
3. Notice there is no blue outline

Issue 2
1. Hold down the checkbox and move your cursor out of it (so no onPress get trigger)
2. The blue outline remains

The workaround for these 2 issues is by clicking outs

[2022-11-24 05:46] getusha commented on #11283
Used the same approach of using `onPressOut` above. It is working perfectly

[2022-11-24 05:58] parasharrajat commented on #10262
I am good with the suggestion @aldo-expensify.  I was also skeptical about two functions.

[2022-11-24 05:58] roryabraham commented on #12443
@Luke9389 I was working on a [related issue](https://github.com/Expensify/App/issues/12267) and came up with a draft PR which hosts the fonts on NewDot. It uses `.otf` fonts for iOS/Android also preloads the `.woff2`/`.woff` fonts on web/Desktop.

[2022-11-24 06:03] mdneyazahmad commented on #11283
This also fixes the issue with minimal changes, but I don't think this is the best approach. We can refactor the component as in https://github.com/Expensify/App/issues/11283#issuecomment-1315244393

[code]

My proposal fixes the issue natively without any workaround.

https://user-images.githubusercontent.com/77761491/203706161-69bb1bf3-15ce-4374-b686-ef29c1a47ee4.mov

[2022-11-24 06:57] syedsaroshfarrukhdot commented on #12372
@flodnv Am I eligible for reporting bonus here ?

[2022-11-24 07:12] MonilBhavsar commented on #12151
PR is merged!

[2022-11-24 08:24] techievivek commented on #12363
Not overdue, catching up from ooo.

[2022-11-24 08:43] Pujan92 commented on #12963
**Proposal**

As @hungvu193 mentioned either we can update `includePaddingBottom: false` in the default or we can only add bottom padding when we want to show the network error message(for showing the message better).

https://github.com/Expensify/App/blob/0f1d7e2c9dc005fe467ad5f9891b8d4f1005c7ca/src/components/ScreenWrapper/BaseScreenWrapper.js#L79-L81
[code]

Online Case
![Simulator Screen Shot

[2022-11-24 09:00] flodnv commented on #12372
Ah yeah we're closing this because it's not something we're interested in fixing at the moment.

I am not sure if you're eligible. @lschurr ?

[2022-11-24 09:06] srikarparsi commented on #12246
^

[2022-11-24 09:10] Beamanator commented on #12709
Confirming! 👍 So far updating display name, timezone, pronouns are all Pattern A (since they basically can't fail - we have front-end validation to prevent very long display names from being saved). Secondary logins / contact methods will be mainly Pattern B because they "can" fail much easier. So ya I'd say we can close this too 👍

[2022-11-24 09:11] MonilBhavsar commented on #11810
Were required to change expensify-common lib
That PR is merged, and expensify-common lib version is updated in App repo.
Now onto the final App PR

[2022-11-24 09:14] flodnv commented on #11463
Thanks for the PR @rawalyogendra ! Let's fix the comment and hopefully then it gets merged? 🙏 https://github.com/necolas/react-native-web/pull/2438#issuecomment-1325575727

[2022-11-24 09:14] Gonals opened #12986 "iOS - App Crashes when we click "Fix Errors" if the only thing left are the Terms"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login with Expensifail account
3. Go to Settings => Payments => Add a debit card
4. Enter all data, but don't accept the terms

[2022-11-24 09:16] rawalyogendra commented on #11463
yeah I will do this today. I will also look for a elegant solution for our application as well.

[2022-11-24 09:41] #12709 closed

[2022-11-24 09:59] s77rt commented on #11094
@aldo-expensify There is no advantage. If your suggestion works then we should use it instead of syncing the focus state using `onFocus` and `onBlur`. This is a prop on [react-native TextInput](https://reactnative.dev/docs/textinput#isfocused) so I'm more worried about web actually.
Nice catch

[2022-11-24 10:00] Beamanator commented on #12747
Maybe this should be WAQ? Since these errors will now show directly in NewDot? cc @JmillsExpensify (also do you prefer being tagged like this or just having the issue directly added to WAQ project?)

[2022-11-24 10:01] Beamanator commented on #11341
PR was [deployed to production 10 hrs ago](https://github.com/Expensify/App/pull/12534#issuecomment-1325785617) - was the title supposed to change? Or does that happen later?

[2022-11-24 10:34] s77rt commented on #12283
@mountiny What I'm saying is that maybe the PR didn't fix any issue in the first place and the returned size was actually the correct size.
I have downloaded the image that seems to have the size doubled, and the size was in fact correct.
Uploaded image at quality 1 => size 9.6MB (this seems to be double but it's correct) => downloaded the image and the size is in fact 9.6MB ==> Correct
Uploaded i

[2022-11-24 10:54] s77rt commented on #12578
@adeel0202 I just tested with the proposed solution It didn't crash.
I didn't test prior the proposal, so maybe you should apply the proposal and test.

[2022-11-24 10:59] laurenreidexpensify commented on #10654
Payment issued, let's close out the final steps in the checklist

[2022-11-24 11:04] laurenreidexpensify commented on #10950
Everyone has been paid 🎉 Closing

[2022-11-24 11:04] #10950 closed

[2022-11-24 11:11] laurenreidexpensify commented on #12025
@Puneet-here @rushatgabhane @getusha payment has been issued in Upwork 👍

[2022-11-24 11:12] mdneyazahmad commented on #12958
I was debugging the issue, not this one, and came to this issue via links. I see a PR is already merged. This can be used to add more context of the issue.

Button has a fixed height of 28, and padding top 10, padding bottom 10 and font size is 14.

The issue here is that the empty space for text (28 - 10 - 10) = 8 is left and the font size is 14. Therefore, the text is cut off.

This issue does n

[2022-11-24 11:14] getusha commented on #12025
PR merged within 3 business days. so we're eligible for the 50% bonus?

[2022-11-24 11:17] robertjchen commented on #12784
Looks like the other issue https://github.com/Expensify/App/issues/12120 was closed out as not being a bug, does this apply here as well?

[2022-11-24 11:17] hungvu193 commented on #12986
Similar issue here: https://github.com/Expensify/App/issues/12508

[2022-11-24 11:23] Julesssss commented on #12622
The keyboard issues are wider, and others will need to review that also.

[2022-11-24 11:23] laurenreidexpensify commented on #12506
@Puneet-here @rushatgabhane have been paid 👍

Leaving open til I close out TestRail step

[2022-11-24 11:25] Julesssss commented on #11398
I'm unassigning as this isn't part of Bug-zero and is on hold for the foreseeable future

[2022-11-24 11:30] Gonals commented on #12986
Ah, same one. Closing as duplicate

[2022-11-24 11:30] #12986 closed

[2022-11-24 11:31] muttmuure commented on #11068
Didn't realise this was still open. Going to retest this

[2022-11-24 11:32] laurenreidexpensify commented on #12616
Not overdue- waiting for next step confirmation from @mananjadhav and @Beamanator

[2022-11-24 11:44] Gonals opened #12989 "Console error when clicking 'Fix Errors' for State select input"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with Expensifail account
3. Go to Settings => Payments => Add a debit ca

[2022-11-24 11:45] Gonals commented on #12989
Similar-ish to [this one](https://github.com/Expensify/App/issues/12508), but different underlying issue and reproducible in Staging/Prod

[2022-11-24 12:00] Puneet-here commented on #12506
@laurenreidexpensify, I received $250 as bonus. It should be only $125

[2022-11-24 12:14] OSBotify commented on #12976
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12959) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.31-3` :rocket:

[2022-11-24 12:15] zanyrenney commented on #12692
I am having troubles logging in to Upwork just now:
<img width="1151" alt="2022-11-24_12-15-07" src="https://user-images.githubusercontent.com/56830058/203782208-191ce641-b959-42c6-99a2-19b12eae521c.png">

I'll hire you when I get it sorted, sorry @hungvu193

[2022-11-24 12:19] hungvu193 commented on #12692
no worries :)

[2022-11-24 12:20] robertjchen commented on #12981
PR merged, re-testing as soon as it gets to staging

[2022-11-24 12:27] Julesssss commented on #8236
We're still discussing [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1669292590231629?thread_ts=1668650900.944219&cid=C01GTK53T8Q), but the dark mode merge which is about to take place makes the mismatching background far worse in my opinion:

https://user-images.githubusercontent.com/10736861/203783039-438c6f9d-51e0-47af-a46d-16e51b2d8897.mp4

The unique LHN colour is now far more noti

[2022-11-24 12:32] zanyrenney commented on #12692
Ah glad to know it isn't just me 😅

[2022-11-24 12:36] robertjchen commented on #12981
Appears to be resolved on staging? 🤔

<img width="361" alt="Screenshot 2022-11-24 at 8 35 47 PM" src="https://user-images.githubusercontent.com/2438855/203786205-b0a5a5e2-d6a6-4200-b75a-6c13d897690e.png">

[2022-11-24 12:36] #12981 closed

[2022-11-24 12:45] robertjchen commented on #12982
Issue appear to have been resolved?

<img width="420" alt="Screenshot 2022-11-24 at 8 44 22 PM" src="https://user-images.githubusercontent.com/2438855/203787662-ac8daa77-832e-404e-9e29-5b331e6723b1.png">

[2022-11-24 12:49] Gonals commented on #11948
@tjferriss, this is on HOLD :)

[2022-11-24 12:52] kzhein commented on #12210
@sophiepintoraetz May I know when can I expect the payment?

[2022-11-24 13:14] flodnv commented on #12501
Fix is deployed

[2022-11-24 13:14] #12501 closed

[2022-11-24 13:14] flodnv commented on #12158
Fix is deployed

[2022-11-24 13:15] zanyrenney commented on #12692
I got back in and have hired you @hungvu193 - let me know if you have any further questions :)

[2022-11-24 13:17] OSBotify commented on #12976
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.31-3 has been deployed to staging :tada:

[2022-11-24 13:25] furkanuzundev commented on #8236
# Proposal

Hello,

I'm sure we're all familiar with the process, but I'll share the steps to explain how I handled the problem.

First of all, we can say that the problem is related to the StatusBar component of react-native, but unfortunately it is very difficult to reach the solution from here.
To understand what's going on, I gave the boot screen a native background and it looks like this;

ht

[2022-11-24 13:27] Pujan92 commented on #12804
Thanks :)

[2022-11-24 13:32] techievivek commented on #11796
@kbecciv I did have another look into it and tested it again on staging, but I can't seem to reproduce it. Can you try reproducing this one more time because even logs are no longer available? Thanks

[2022-11-24 13:35] hungvu193 commented on #12692
Thank you, I accepted your offer :)

[2022-11-24 13:36] Santhosh-Sellavel commented on #10654
@laurenreidexpensify This PR Qualifies for an additional bonus $250 for both!

[2022-11-24 13:37] iwiznia commented on #12939
Yep

There's a thread about this here https://expensify.slack.com/archives/C02NK2DQWUX/p1669203099566179

[2022-11-24 13:41] eh2077 commented on #11093
@aimane-chnaif Thanks for the testing! Your last comment is basically fair while it could be minor too.

[2022-11-24 13:46] allroundexperts commented on #11494
## Proposal

### Problem

The issue is with the `quote` rule of the `ExpensiMark` library. The `quote` rule is trimming the string after removing the initial `&gt;` (>). This can be seen here:

https://github.com/Expensify/expensify-common/blob/main/lib/ExpensiMark.js#L524-L525
Side note: Line 525 is redundant as we're already trimming on line 524.

### Fix
We should either be not trimming the str

[2022-11-24 13:52] Santhosh-Sellavel commented on #12283
Which platform did you check?

[2022-11-24 13:54] mananjadhav commented on #11094
Went through all the conversations. Looks like @s77rt's proposal will work. I tested the mWeb part of it and it worked fine.

I would've appreciated some better details [here](https://github.com/Expensify/App/issues/11094#issuecomment-1324622487) for Android specific code, but I am fine with that. We can work out those kinks on the PR.

[2022-11-24 13:56] s77rt commented on #12283
@Santhosh-Sellavel Your question is not quite clear, check what exactly?

[2022-11-24 13:57] Santhosh-Sellavel commented on #11488
@laurenreidexpensify I received only $125 bonus, didn’t receive the payment $250 for the job!

[2022-11-24 14:02] MariaHCD commented on #11895
The PR is out for review: https://github.com/Expensify/App/pull/12993

[2022-11-24 14:03] s77rt commented on #12283
@Santhosh-Sellavel Ah, you quoted the wrong part, your question was out of context.
1. I have modified the code (basically a revert) so I can get it working.
2. Send the image using quality 1 (on iOS)
3. Downloaded the image that I sent (on Linux, but this does not matter, it just happen to be Linux)
4. Verified that the reported size on iOS 9.6MB is indeed the size of the photo that I downloaded

[2022-11-24 14:07] huzaifa-99 commented on #12692
@zanyrenney am I eligible for reporting on this?

[2022-11-24 14:07] s77rt commented on #12283
Here is the image, you can download it and you will see it's indeed 9.6MB. There was nothing wrong it just happen that the conversion at quality 1 is so inefficient that the size seems to be double.

![w_8361c37cbbfcef589f6fc29b76d5de220586b302](https://user-images.githubusercontent.com/16493223/203803290-f0e2eeef-5631-4e26-acc3-f7c22ab58aa3.jpg)

[2022-11-24 14:16] kavimuru opened #12998 "[HOLD App#11795] [$1000] Workspace - Invite new members list always scrolls to top after selecting 4 or more"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
  1. Click on avatar
  2. Click on Workspace
  3. Select Workspace
  4. Click Manage Members
  5. Click on Invite Members
  6. Se

[2022-11-24 14:29] Julesssss commented on #8236
Hi @furkanuzundev, thanks for the proposal, but it is the same solution as this already shared [PR](https://github.com/Expensify/App/pull/12642/files). The only difference is that instead of using the attribute (which is preferred), we're programmatically setting the flag.

[2022-11-24 14:35] flaviadefaria commented on #12492
@smrutiparida do you have an update?

[2022-11-24 14:40] OSBotify commented on #12976
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.31-3 :rocket:

[2022-11-24 14:42] trjExpensify commented on #12745
@tgolen are you able to jump in here, please?

[2022-11-24 14:47] furkanuzundev commented on #8236
Thanks @Julesssss, I overlooked that.Is the solution in this PR accepted?

@aimane-chnaif
When we call `WindowCompat.setDecorFitsSystemWindows(getWindow(), true);` in **onCreate** method, we are creating the activities with attributes.
If we do this on the react-native side,  we have made an update after the attributes have been created.

[2022-11-24 14:48] Julesssss commented on #8236
Yeah @furkanuzundev, I'm just about to share the plan.

[2022-11-24 14:53] furkanuzundev commented on #8236
Do you see that nothing changes when you add  `WindowCompat.setDecorFitsSystemWindows(getWindow(), true);` ?

[2022-11-24 14:57] Santhosh-Sellavel commented on #12283
Send the image using iOS and download it on any platforms size will change.

[2022-11-24 14:58] trjExpensify commented on #10894
- Fast Image for native is merged 🎉
- RNW Image for web/desktop is [now ready](https://expensify.slack.com/archives/C01GTK53T8Q/p1669275909710189?thread_ts=1669058284.677789&cid=C01GTK53T8Q) to be reviewed?
- Allow multiple avatar image type has been reviewed by C+, but awaiting comments to be addressed.

[2022-11-24 14:59] trjExpensify commented on #12707
Caching on native is done, still held on Web/Desktop before we can retest this one.

[2022-11-24 15:00] s77rt commented on #12283
Isn't that what i just said i did?

[2022-11-24 15:03] NicMendonca commented on #12769
OK, closed the job for now!

[2022-11-24 15:10] furkanuzundev commented on #8236
Yes, absolutely no change is visible.

And as you said, `StatusBar.setTranslucent(true)` already does the same job.

Since it has been a topic that has been discussed for a long time, I have searched for a new solution, rather than the solution in front of my mind psychologically.

Seriously, why did it take so long when the answer was so clear?

[2022-11-24 15:10] shawnborton commented on #12443
@roryabraham that sounds great. Hopefully we can have this font PR merged ASAP.

[2022-11-24 15:22] kbecciv opened #12999 "IOU - Settled payments are showing with infinite loading, looks normal after opened."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go to any chat where you have settled payments
4. Scroll your conversation and ch

[2022-11-24 15:23] OSBotify commented on #12999
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-24 15:23] trjExpensify commented on #9703
Nice, thanks @cristipaval! ❤️

I've added the `Internal` label, and added this to the WAQ milestone. `#10792` has merged, so updating the title to reflect the remaining web/desktop caching issue we're blocked on.

[2022-11-24 15:27] trjExpensify commented on #11425
Got it, nice. Okay! So, @cristipaval is taking that initiative on in the other issue. I'm going to put a hold in the title for the remaining caching issue on web/desktop. After which, we can retest and if it still doesn't work, we can update to #9703. Sound good?

[2022-11-24 15:27] kavimuru opened #13000 "[HOLD for payment 2022-12-05] Empty chat screen appears with welcome message after login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to settings > Sign out
2. Sign in with the same account

## Expected Result:
Page opens with chat loaded on the RHN where

[2022-11-24 15:28] Julesssss opened #13001 "[$1000] [HOLD for payment 2023-06-05] Android status bar colour doesn't match the background"
### Problem

While resolving [this related issue](https://github.com/Expensify/App/issues/8236#issuecomment-1323553523) I uncovered a new problem. The LHN page background colour on mobile does not match the other pages in the app. The background colour is slightly different, and this is because of the need to display LHN and chat components side by side on desktop/web.

While on the LHN page, the

[2022-11-24 15:29] trjExpensify commented on #9402
👋 The native caching PR has merged, so we're down to the one for web/desktop. Updating the title to reflect that we're held only on #12603 at this point.

[2022-11-24 15:29] OSBotify commented on #13000
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-24 15:31] smrutiparida commented on #12492
Not yet. Need a day more.

[2022-11-24 15:33] tienifr commented on #11584
1. I think when we change `maxSequenceNumber` to the correct one, scroll to new message will not work correctly.
Example: When we has 10 messages, delete the first 4 messages and we need to scroll to 9th message in `FlatList`
2. Yeah, i think so

[2022-11-24 15:33] Beamanator commented on #12616
@thesahindia thanks for noting that this issue is related to a few others, and it seems we haven't properly discussed how we want to fix it!

Sorry @daraksha-dk I'm unassigning you for now, since I think we should hold this issue as well until we come up with a better solution for the entire app 👍

@thesahindia / @parasharrajat is there a "bigger solution" discussion happening in one of the relate

[2022-11-24 15:34] Beamanator commented on #11425
That sounds great 👍

[2022-11-24 15:36] Julesssss commented on #8236
Alright, I'm going to go ahead and merge the splash fix once I make some final improvements [PR](https://github.com/Expensify/App/pull/12642/files) that uses some suggestions from @aimane-chnaif's proposals. I opened this [follow-up issue](https://github.com/Expensify/App/issues/13001) which we'll use to continue discussing the fix for Android's now-obvious status bar.

[2022-11-24 15:39] trjExpensify commented on #10202
Alrighty, payment time! @dhairyasenjaliya has been paid for reporting the issue.

@fedirjh & @Santhosh-Sellavel - 50% bonus for merging the PR within 3 days applies. @fedirjh, I've settled up. @Santhosh-Sellavel I've sent you an offer as you hadn't applied.

[2022-11-24 15:43] kbecciv opened #13002 "[$1000] [HOLD for payment 2022-12-05] Android - Attachments - PDF file is disappeared in the chat after sent it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App and login
2. Navigate to any chat
3. Sent PDF attachment

## Expected Result:
Attachment should be sent and appeare

[2022-11-24 15:44] OSBotify commented on #13002
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-24 15:46] kavimuru opened #13003 "[Hold for Payment 21 Dec][$1000] `Save` button doesn't work if you update a Room Name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Click on fab icon > new room
2. Pick a Room Name
3. Create a room
4. Go to room settings for room and type a new name
5. Pres

[2022-11-24 15:49] arielgreen commented on #12770
Not overdue, this is being handled in #10266

[2022-11-24 15:49] Puneet-here commented on #13003
### Proposal
Pass keyboardShouldPersistTaps="handled" or keyboardShouldPersistTaps="always" at `ScrollView` https://github.com/Expensify/App/blob/3cf717412cf6b03357184bf057921cf658ff158d/src/pages/ReportSettingsPage.js#L147
If we want to dismiss the keyboard once user press save button we can add Keyboard.dismiss() in `validateAndUpdatePolicyRoomName`
https://github.com/Expensify/App/blob/3cf71741

[2022-11-24 15:52] trjExpensify commented on #7862
We had another round of reviews this week, but still need a few changes to be worked on. Also, there are conflicts to resolve again now. Can we complete those and merge this PR next week, please? It has been in review for 4 months at this point. Thanks!

[2022-11-24 15:53] mountiny commented on #12283
So with the revert of the PR you mention did not solve any issue, if you upload JPG file and then download it again, is the size not doubled? Are you saying this only happens for HEIC images because of the conversion?

[2022-11-24 15:55] kavimuru opened #13004 "[Hold #12917] [$1000] IOU - copy to clipboard appears before closing the context menu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open any chat
2. Send a request
3. Long press on the IOU preview to bring up the context menu
4. Tap outside of the context m

[2022-11-24 15:55] JediWattson commented on #7862
I’ll try Take Care of all that in the next few days

[2022-11-24 16:02] trjExpensify commented on #8459
@sobitneupane did you create [this PR](https://github.com/Expensify/App/issues/8459#issuecomment-1316037517)? I can't find it.

[2022-11-24 16:04] Santhosh-Sellavel commented on #12492
Seems like a simple and straightforward change, can you let us know what's causing the delay?

[2022-11-24 16:05] trjExpensify commented on #10202
Cool, thanks @Santhosh-Sellavel. Settled!

[2022-11-24 16:05] #10202 closed

[2022-11-24 16:05] s77rt commented on #12283
@mountiny Why do you think the size will double? it's just impossible to get the size doubled on download. You download what you upload.

Let me make it clear:
If you upload the file at quality 1 (original size: 5.1MB), you will be uploading the converted file and since the conversion is not that good, the file size will be much larger than what you'd expect (9.6MB).
The reported size by react-nat

[2022-11-24 16:08] Santhosh-Sellavel commented on #12283
5.1 MB shouldn't become 9.6 MB that's the problem that is addressed in the PR https://github.com/react-native-image-picker/react-native-image-picker/pull/2006

[2022-11-24 16:12] s77rt commented on #12283
@Santhosh-Sellavel it's not that 5.1MB is magically set to 9.6MB it's the returned data that's much larger as I said due to the conversion.
With the PR, the returned size at quality 1 is about 2.6MB which is totally wrong because at quality 0.95 it's 5.1MB and that does not make sense.

[2022-11-24 16:15] kavimuru opened #13005 "Profile - Image stuck at the edge and takes a while to appear when uploading large image"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open [staging.new.expensify.com](http://staging.new.expensify.com/)
2. Open Setting, click on Avatar to open Profile Page
3.

[2022-11-24 16:15] smrutiparida commented on #12492
I need to create the screenshots in all devices of the errors not coming along with iOS. which is taking some time

[2022-11-24 16:18] sobitneupane commented on #8459
Oops, missed it. I will create one asap.

[2022-11-24 16:19] mountiny commented on #12283
Yes, the scenario I am asking about is if we upload JPG file, then there should be no conversion, why would we convert JPG. I understand the HEIC will get converted because _Apple_ but what about normal formats like PNG or JPG, those should not change type and hence quality 1 should keep the same filesize when uploaded @s77rt

[2022-11-24 16:21] Santhosh-Sellavel commented on #12492
Again we are specifically modifying desktop-only code, so I think we don't need it for other platforms, only on this issue we didn't touch native src code. Please include that in your PR description.

[2022-11-24 16:23] kavimuru opened #13006 "[HOLD for payment 1/12][$8000] Profile - Create a limit for Avatar file types or size"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Save the below image to your local drive
2. Open [staging.new.expensify.com](http://staging.new.expensify.com/).
3. Open Sett

[2022-11-24 16:23] PauloGasparSv commented on #12123
@kbecciv I could not reproduce the error, but there was a point where the flow was working for me but not on your tests.
Could you please test once again? I know you tested recently.

If the error stops I think we can close this.

[2022-11-24 16:32] miljakljajic commented on #12989
I was able to reproduce this:

<img width="927" alt="image" src="https://user-images.githubusercontent.com/28715117/203831420-7700304a-67b5-4302-8033-0e11e9afd174.png">

Could this be worked on by an external contributor?

[2022-11-24 16:34] trjExpensify commented on #8459
Awesome, thanks!

[2022-11-24 16:34] miljakljajic commented on #12989
I was able to reproduce this:

<img width="927" alt="image" src="https://user-images.githubusercontent.com/28715117/203831956-1175bd9b-1269-4ccb-8f11-fe1ebcb10215.png">

Could this be worked on by an external contributor?

[2022-11-24 16:36] trjExpensify commented on #12268
What's the latest on that one now as the issue has closed?

[2022-11-24 16:38] trjExpensify commented on #12007
Okay, so mystery solved here then @Beamanator, it's https://github.com/Expensify/App/issues/9703 that @cristipaval is going to be working on?

[2022-11-24 16:39] Beamanator commented on #12007
Yes indeedy! Thanks for updating - we can hold this on that one, hopefully it'll resolve itself 🙏

[2022-11-24 16:40] youssef-lr commented on #12268
@trjExpensify I just merged @ctkochan22's Web PR. I think we'll still need to handle validation in the frontend as well before we can close this out.

[2022-11-24 16:41] trjExpensify commented on #11695
PR has gone through C+ review, @marcochavezf this is over to you now! 🚀

[2022-11-24 16:44] s77rt commented on #12283
@mountiny Ah okay, now I see the problem, every file is being converted but the file size correct.
Will have to look into this more

[2022-11-24 16:45] Beamanator commented on #10894
Yep yep thanks for the update 👍  Notes:
- Fast Image PR may have caused a regression 🙃 (being investigated [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1669305509853359))
- RNW caching has been updated and "should work" but will be tested more soon (discussion [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1669308015285649?thread_ts=1669058284.677789&cid=C01GTK53T8Q))
- Allow

[2022-11-24 16:47] trjExpensify commented on #11903
👋 @AhmadbinZahid just a quick bump on [this question](https://github.com/Expensify/App/issues/11903#issuecomment-1325319603), please.

[2022-11-24 16:48] Beamanator commented on #12676
Got stuck on some other issue today, will jump back into this tomorrow - I like the idea of "not continuing a bad solution" so will look into cleaning messes tomorrow

[2022-11-24 16:50] Beamanator commented on #11856
Solution is still being discussed in the PR

[2022-11-24 16:51] Beamanator commented on #11982
Seems like this is still on hold, see related discussions in https://github.com/Expensify/App/issues/12676

[2022-11-24 16:53] mountiny commented on #13002
Thanks, from slack:

Root cause: https://github.com/DylanVann/react-native-fast-image/issues/865
workaround: fix in native code (FastImageViewConverter.java)

[2022-11-24 16:53] Santhosh-Sellavel commented on #10893
bump @cowboycito

[2022-11-24 16:57] Santhosh-Sellavel commented on #10824
not overdue

[2022-11-24 16:57] Santhosh-Sellavel commented on #10632
not overdue, looking fir proposals

[2022-11-24 16:59] Santhosh-Sellavel commented on #10906
@slafortune can we make this weekly as it is on hold

[2022-11-24 16:59] Santhosh-Sellavel commented on #12155
Looking for proposals

[2022-11-24 17:03] roryabraham commented on #12443
If anyone wants to do further testing, add screenshots, etc... while I'm OOO feel free. Otherwise I'll pick this back up on Monday

[2022-11-24 17:03] parasharrajat commented on #11283
Looking at this one in 2 hours.

[2022-11-24 17:10] luacmartins commented on #12999
The loading spinner eventually goes away for me. That being said, I noticed that the `reportIOUs_` value returned in the OpenApp command is empty and we have several calls to `Get$rvl= reportStuff` being triggered. Perhaps this has to do with the IOUReport key refactors @Gonals?

![Screenshot 2022-11-24 at 9 50 42 AM](https://user-images.githubusercontent.com/22219519/203837574-b51a4ee8-6478-4112-

[2022-11-24 17:10] parasharrajat commented on #12616
@Beamanator these are my thoughts https://expensify.slack.com/archives/C02NK2DQWUX/p1669114217756719?thread_ts=1669075338.989349&cid=C02NK2DQWUX on it.

[2022-11-24 17:24] luacmartins commented on #13000
I'm unable to reproduce this

[2022-11-24 17:25] kbecciv opened #13008 "Mweb/safari - User can't tap participants in split bill on High Traffic Account."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open staging.new.expensify.com
2. Sign into a HT account
3. Tap on + > Split Bill > Proceed until you have to select the parti

[2022-11-24 17:26] OSBotify commented on #13008
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-24 17:28] kbecciv opened #13009 "mWeb- The Payment option is hidden after selecting one of the payment option"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with HT account (A) in wWeb/safari
3. Log in with different account (B) in Web and r

[2022-11-24 17:29] luacmartins commented on #13002
Looks like we will revert this PR. It can't be auto reverted though, so we'll work on a manual revert.

[2022-11-24 17:29] OSBotify commented on #13009
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-24 17:31] mountiny commented on #12943
I can take this on if @techievivek would not mind

[2022-11-24 17:31] zanyrenney commented on #11808
Woo, great news 🎉

[2022-11-24 17:32] kbecciv opened #13011 "mWeb/Chrome - Split - Next button is missing when you split bill with participants"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with HT account
3. Tap on Fub menu
4. Select Split bill
5. Select Participants

## E

[2022-11-24 17:33] OSBotify commented on #13011
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-24 17:34] AhmadbinZahid commented on #11903
Line 357 for `NativeTouchEvent`
 - Line 391 inside the interface, target's type is NodeHandle, which is equal to number.

 If you want to look at other places
 `TargetedEvent` interface is defined at line 1636 that is also used & extended at multiple other types
 which also has the target value set to number

[2022-11-24 17:45] luacmartins commented on #13000
@mvtglobally the team can't reproduce it. Would you mind checking again?

[2022-11-24 17:50] AhmadbinZahid commented on #11903
@aimane-chnaif  Do you have the value for anchor in case of android? I need to confirm.

[2022-11-24 17:51] trjExpensify commented on #12268
Awesome. Thanks for the update!

[2022-11-24 17:52] iwiznia commented on #9181
PR is merged

[2022-11-24 17:53] mountiny commented on #11809
Stepping in to move this forward even ovee Thanksgiving.

Thanks @rushatgabhane for a review 🙌

Chatted with Tom in DM and i agree the solution @andrewlor proposed achieves what we want here. Can you please raise a PR?

[2022-11-24 18:07] trjExpensify commented on #11085
Interesting! As this is a feature request, not a bug, I'm inclined to have it stay on hold until other more pressing items are prioritised related to this wider initiative.

[2022-11-24 18:10] luacmartins commented on #13011
I can repro this in any account on mWeb Chrome and Safari. Looking at potential causes

[2022-11-24 18:10] trjExpensify commented on #11854
Thanks, but can you click [this link](https://www.upwork.com/jobs/~01a08d6a4623670c83) and apply to the job? When I search for your profile, I can't find you.

[2022-11-24 18:11] aldo-expensify commented on #13008
Reproduced in staging with my expensifail account

[2022-11-24 18:11] AhmadbinZahid commented on #11903
@aimane-chnaif typeof(null) is also object
so it is coming true for this case as well
anchor: PropTypes.oneOfType([PropTypes.number, PropTypes.object])

[2022-11-24 18:13] luacmartins commented on #13011
Actually, this is also reproducible on production so not a blocker. I'll take a look at a fix though

https://user-images.githubusercontent.com/22219519/203846351-09f1f41d-c9e8-43fb-90e1-87ef3a91c834.mov

https://user-images.githubusercontent.com/22219519/203846338-85c65234-813e-430b-8079-4230c89747f3.mov

[2022-11-24 18:14] luacmartins commented on #12976
https://github.com/Expensify/App/issues/13011 is reproducible on prod, so I'm removing the blocker label

[2022-11-24 18:15] JmillsExpensify commented on #11085
Agree. Let's continue to prioritize all the bugs over new features.

[2022-11-24 18:17] aldo-expensify commented on #13008
Hmm, I can reproduce this in web chrome too, but seems like I have to first resize the screen to make it "mobile size". I'm able to click one contact then it freezes.

[2022-11-24 18:19] aldo-expensify commented on #13008
Reproduced this slowness in production

https://user-images.githubusercontent.com/87341702/203846994-50945232-1d21-4869-8c69-f05bbd0d6188.mov

@kbecciv can you check if this happens in production? I'm pretty sure it does...

[2022-11-24 18:21] luacmartins commented on #13009
I can reproduce this, but it's also present in prod so I'll remove the deploy blocker label. I'll still look into a fix for the top scroll after selection.

[2022-11-24 18:22] luacmartins commented on #13009
I'll investigate this week

[2022-11-24 18:23] AhmadbinZahid commented on #11903
I'm not saying don't got with this solution or any other, I'm just confused, the idea behind typescript is to define as precise types as possible to handle the cases better.
If we've not seen the undefined and any other case than this, what possibility is there that there is, & if so, it is undefined?
Might as well go with type `any` in terms of being generic.

[2022-11-24 18:25] vladamx commented on #12963
I think the real issue here is that we can not add bottom spacing in ScreenWrapper without having the white background behind a notch. See related issue in the safe area context repo https://github.com/th3rdwave/react-native-safe-area-context/issues/197

[2022-11-24 18:28] luacmartins commented on #13000
I was just able to reproduce this
![Screenshot 2022-11-24 at 11 26 26 AM](https://user-images.githubusercontent.com/22219519/203847744-00336c2d-974b-4d2c-9b01-f87ff6dbb617.png)

I see this console error `An error occurred while applying merge for key: report_3473132785054582, Error: TypeError: Cannot convert undefined or null to object` and the response from `OpenApp` is:

[code]

[2022-11-24 18:28] Puneet-here commented on #13011
I think It's regression from https://github.com/Expensify/App/pull/12366

[2022-11-24 18:32] luacmartins commented on #13000
Tried again and this time I got `An error occurred while applying merge for key: report_3473132785054582, Error: TypeError: Cannot convert undefined or null to object` and `OpenApp` response is
![Screenshot 2022-11-24 at 11 31 42 AM](https://user-images.githubusercontent.com/22219519/203848262-306dbdf7-034f-4af8-8bec-48c7e2075e67.png)

I wonder if it's related to the IOUReport key refactor @Gonals

[2022-11-24 18:36] aldo-expensify commented on #13008
I think this is about rendering the full list when that list is very big. I can see that even the first render a long time and I see it slowly adding the rows to the DOM:

https://user-images.githubusercontent.com/87341702/203848815-6aa50fa7-caed-45ea-a9ce-8534e9a59dea.mov

[2022-11-24 18:45] Puneet-here commented on #13009
Same bug as https://github.com/Expensify/App/issues/13011 (notice that the whole screen scrolls)

[2022-11-24 18:51] Puneet-here commented on #13011
@luacmartins, I think we should revert https://github.com/Expensify/App/pull/12366 because this issue will affect user experience (the whole screen is scrolling and this issue is present for all search pages at small screen)

[2022-11-24 18:55] aldo-expensify commented on #13008
The list doesn't render all elements when the screen size is big (desktop), it only happens in a small screen.

[2022-11-24 18:56] fedirjh commented on #12963
Since this is related to iOS only we can set the `defaultProps.includePaddingBottom = false;`

Changes : new file `index.ios.js`

[code]

[2022-11-24 18:56] aldo-expensify commented on #13008
Removing `DeployBlockerCash` as this is happening in production too.

[2022-11-24 18:57] aldo-expensify commented on #12976
https://github.com/Expensify/App/issues/13008 is reproducible in prod, removed the blocker label

[2022-11-24 18:59] Puneet-here commented on #13011
Confirmed it by reverting the PR

https://user-images.githubusercontent.com/101883770/203850917-4faffc45-bd02-4f29-8489-a6f5f4e5f35d.mov

[2022-11-24 19:13] Puneet-here commented on #13008
This is a regression from https://github.com/Expensify/App/pull/12366
Same as https://github.com/Expensify/App/issues/13011

I have tested it by reverting the PR and it's working correctly. The issue is not only related to split bill it's present at other pages. I have a branch ready with the changes to revert since I was confirming the PR. I can spin up a quick PR let me know.

[2022-11-24 19:24] aldo-expensify commented on #13008
Yep, I reverted some parts of that PR and it gets fixed.

Thanks for finding that!

[2022-11-24 19:28] PauloGasparSv commented on #12777
@aldo-expensify @shawnborton thks for commenting here, I could not find time to take a look at this so far.

It seems this GH problem only applies for the emulator and doesn't matter for the physical devices as it mentions you have to release the cursor outside the image right?

And not about scrolling the image on the white area (Which I think can be considered either a bug or feature). This scro

[2022-11-24 19:29] aldo-expensify commented on #13008
I'm not sure if there is something to save from that PR, but I only had to revert this part to make it work:

![Screen Shot 2022-11-24 at 11 26 42 AM](https://user-images.githubusercontent.com/87341702/203854289-a4d3f417-4dd7-4f17-8ac0-64c77f762b53.png)

[2022-11-24 19:30] aldo-expensify commented on #11336
Reported by @Puneet-here , the PR https://github.com/Expensify/App/pull/12366 caused the regressions:

- https://github.com/Expensify/App/issues/13011

- https://github.com/Expensify/App/issues/13008

[2022-11-24 19:38] cead22 commented on #12777
This feels like a bug to me, I reproduced on iOS, and after zooming in, I panned down like 10 times, and keep panning even tho the whole screen was white, and then panned up and only after doing it like 10 times I started seeing the image again. I don't think I've experienced this behavior on any other app

[2022-11-24 19:50] aldo-expensify commented on #12777
I case it helps with the confusion :)

I understood from this issue description and video that the image can be dragged and moved  from the white part (outside of the image), and I think that is not a bug.

What @cead22 describes sounds like what @thesahindia described in slack https://expensify.slack.com/archives/C01GTK53T8Q/p1663318434686339 which is about the image going out of view... which I

[2022-11-24 19:50] OSBotify commented on #12976
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/13010) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.31-6` :rocket:

[2022-11-24 19:50] OSBotify commented on #12976
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.31-6 has been deployed to staging :tada:

[2022-11-24 20:03] parasharrajat commented on #11283
OK, I checked it, and here is the summary. First of all, thanks to everyone for the proposals and efforts to solve this problem. I learned a few new things there.

@mdneyazahmad I think [it](https://github.com/Expensify/App/issues/11283#issuecomment-1315244393) is too much work. And [this one](https://github.com/Expensify/App/issues/11283#issuecomment-1325994489) uses hard code styles which we dis

[2022-11-24 20:16] PauloGasparSv commented on #12777
Aaaa ok, I agree!

I'm not sure either, @kbecciv can you confirm this?

Also agree with that! **Let's use this GH to fix that.**

[2022-11-24 20:20] kbecciv opened #13017 "IOU - infinite loading is displayed when select Pay as "I'll settle up elsewhere""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12762

## Action Performed:
Precondition: use the same device for 3 accounts
1

[2022-11-24 20:29] aldo-expensify commented on #10262
for some reason, I'm not able to reproduce this in dev (App `main` branch), but I'm able to reproduce using staging.new.expensify.com.

I'm copying this code from github:

https://github.com/Expensify/App/blob/9f790f6b1222116e05b7c57b8e7da0005feb16e0/src/pages/home/report/ReportActionItemFragment.js#L106-L111

[2022-11-24 20:48] hellohublot commented on #11854
@trjExpensify ![image](https://user-images.githubusercontent.com/20135674/203860952-0176ec6b-d5f0-45fa-81ad-c37192b225e9.png)But I have already applied and cannot reapply

[2022-11-24 20:56] OSBotify commented on #12976
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/13014) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.31-7` :rocket:

[2022-11-24 20:56] luacmartins commented on #13000
This seems to be an API issue, investigating

[2022-11-24 20:57] Prottoy2938 opened #13021 "Can't run the web server locally"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Cloned repository
Installed Npm Packages with the proper version
Ran `npm run web`

## Expected Result:
The server should've star

[2022-11-24 20:57] #13021 closed

[2022-11-24 21:03] kbecciv opened #13022 "[Needs regression test steps] IOU - "Split" is not clickable after split bill between participants."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Tap on Fub menu
4. Select Split Bill
5. Put amount and Select the users
6. Tap Sp

[2022-11-24 21:08] kbecciv opened #13023 "mWeb- Chat - The new message received offline is not displayed in the chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login in account A (main device) and account B (secondary device)
2. Go to LHN in account A
3. Kill the internet connection in

[2022-11-24 21:09] Tushu17 commented on #13022
I've reported this issue on slack - [here](https://expensify.slack.com/archives/C049HHMV9SM/p1669313996027739)
### Proposal
 We just need to change:-
[code]
  https://github.com/Expensify/App/blob/585816ce3a3362673e864ff8545d6a0c303520ee/src/components/ReportActionItem/IOUQuote.js#L48

[2022-11-24 21:30] jliexpensify commented on #13005
@kavimuru - I tested this a number of times on staging and didn't see any huge delays. Here's an example video:

https://user-images.githubusercontent.com/30815269/203865159-30e3beb1-839f-4db0-a58d-633627e429ac.mp4

I'm definitely not seeing what you're seeing and cannot reliably reproduce. Closing, but please reopen if you are still experiencing this behaviour after clearing cache/cookies.

[2022-11-24 21:30] #13005 closed

[2022-11-24 21:33] jliexpensify commented on #12158
@adeel0202 as this GH is closed, tag me when you've accepted and I'll pay the $250 - cheers!

[2022-11-24 21:42] allroundexperts commented on #11317
## Proposal

For each of the sub step of the `BankAccountStep` (Manual connection or Plaid connection), we can expose the back button handler in the parent `ReimbursementAccountPage.js` file. As such, we just need following changes:

[code]

### Result

https://user-images.githubusercontent.com/30054992/203866428-294c8c11-5af3-41a9-9007-f08763fccf30.mp4

[2022-11-24 21:50] kbecciv opened #13024 "[$1000] Web - Workspace - An error is visible when go back from Connect manually"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Go to Settings -> Workspaces -> Connect bank accoun

[2022-11-24 21:55] kbecciv opened #13025 "Web - Login - The empty welcome page + error in console after login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account

## Expected Result:
Welcome page is not empty after lo

[2022-11-24 21:56] OSBotify commented on #13025
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-24 21:58] thesahindia commented on #13025
Dupe https://github.com/Expensify/App/issues/13000

[2022-11-24 21:59] OSBotify commented on #12976
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.31-7 has been deployed to staging :tada:

[2022-11-24 22:00] kbecciv opened #13026 "[HOLD for payment 2022-12-20] [$1000] Web - Error message is visible after redirecting via any Workspace policy + error in console"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log out of NewDot
2. Navigate to OldDot and sign in to an account that has a existing workspace.
3. Go to Settings > Policies

[2022-11-24 22:22] eVoloshchak commented on #12708
@ctkochan22, that's a good catch!
I think we should go with the second step
@Puneet-here, could you update your proposal please?

[2022-11-24 22:22] luacmartins commented on #13025
This is the same as https://github.com/Expensify/App/issues/13000. Closing.

[2022-11-24 22:23] eVoloshchak commented on #12152
Not overdue, PR is waiting for @Luke9389 to review

[2022-11-24 22:27] eVoloshchak commented on #11688
Not overdue
Will find [the offending PR](https://github.com/Expensify/App/issues/11688#issuecomment-1312091850) tomorrow

[2022-11-24 22:27] luacmartins commented on #12432
Related to this issue, now that we are storing IOU reports in the `reports_` key, we are actually trying to navigate to an IOU report as if they were chat reports, which seems to be (one?) of the sources for this console error and this deploy blockerhttps://github.com/Expensify/App/issues/13000. I put up a fix [here](https://github.com/Expensify/App/pull/13028) to filter out IOU reports from the i

[2022-11-24 22:35] mountiny commented on #10181
Thanks for the ping, in this particular case I will go ahead and close the issue. My reasons are:

- this is not strictly bug, but it can be considered as feature request.
- this is not blocking users from using the app
- this influences only Android
- we will fix this and similar issues related to option list selection in this issue https://github.com/Expensify/App/issues/11795

[2022-11-24 22:35] #10181 closed

[2022-11-24 22:36] mountiny commented on #13002
Thanks, the PR has been reverted and deployed to staging some time ago. I am going to close this issue, thanks for help

[2022-11-24 22:55] luacmartins commented on #13000
Fix up here https://github.com/Expensify/App/pull/13028

[2022-11-24 22:56] luacmartins commented on #12999
I was able to reproduce this. Looking into a fix

[2022-11-24 23:19] sophiepintoraetz commented on #13000
Speedy work, thanks Carlos! Let me know if you need me at all here

[2022-11-24 23:26] sophiepintoraetz commented on #12210
Hey @kzhein - typically we need 7 days from the PR being merged but you're all set! Just processed payment through Upwork now 👍 @sobitneupane - I've hired you for the job if you want to accept the contract!

[2022-11-24 23:26] s77rt commented on #12283
Okay so far I found the root cause. I can apply this fix:
1. Process other files just normally (jpg, png, ...) (without extra conversion / doubling the size)
2. Convert HEIC files to jpeg

However the converted HEIC file size is almost the double (5.1 MB TO 9.6MB)
I think this can be improved, because browsers can select HEIC files and convert them without that much diff, maybe they don't set the

[2022-11-24 23:27] cead22 commented on #12777
[This proposal](https://github.com/Expensify/App/issues/12777#issuecomment-1321845476) solves the issue for me in the iOS simulator

[2022-11-24 23:30] sophiepintoraetz commented on #12922
WE're good!
![image](https://user-images.githubusercontent.com/42940078/203874325-584c9ae9-79c7-4286-bb92-02c669ac3589.png)

[2022-11-24 23:30] #12922 closed

[2022-11-24 23:31] luacmartins commented on #13000
Nope this is all done! The PR is merged and we are CPing the fix at this moment, so I'll close this issue.

[2022-11-24 23:38] OSBotify commented on #12976
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/13028) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.31-8` :rocket:

[2022-11-24 23:47] kbecciv commented on #12451
Issue is reproduced today with build 1.2.31.7

https://user-images.githubusercontent.com/93399543/203875418-df7a6532-000a-4647-9872-9335078dbcc8.mp4

[2022-11-25 00:08] luacmartins commented on #12999
I'm looking into this but haven't figured out the cause yet.

[2022-11-25 00:20] kbecciv opened #13033 "New Room - The "Save" button does not work from the first click"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Login with the Expensifail account
3. Create New Room (if it has not been created before)
4. Open the room ->

[2022-11-25 00:20] jliexpensify commented on #13005
Just also want to add that @kadiealexander tested this as well and did not see any issues.

[2022-11-25 00:25] luacmartins commented on #12976
https://github.com/Expensify/App/pull/12936 is a pass. Checking off.

[2022-11-25 00:27] luacmartins commented on #12999
I can't reproduce anymore 😕  Asked for more eyes [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1669335345066749)

[2022-11-25 00:28] andrewlor commented on #11809
@rushatgabhane @mountiny PR should be ready to review if you want to take a look, thanks.

[2022-11-25 00:42] mollfpr commented on #12854
Checking again…

[2022-11-25 00:46] OSBotify commented on #12976
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.31-8 has been deployed to staging :tada:

[2022-11-25 00:53] kbecciv opened #13034 "Workspace - Red dot stays if added offline incorrect number removed by Remove button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
and login
2. Go to Workspace \ Manage members
3. Switch offline
4. Add incorrect numb

[2022-11-25 02:03] fedirjh commented on #11671
@puneetlath , @sobitneupane , @marcaaron I have created the PR https://github.com/Expensify/App/pull/13035 for my proposal https://github.com/Expensify/App/issues/11671#issuecomment-1282419495

[2022-11-25 02:31] bernhardoj commented on #11283
Hi @parasharrajat, can you review my new proposal [here](https://github.com/Expensify/App/issues/11283#issuecomment-1325981799)? My previous proposal remove the focus state which @marcaaron mentioned [here](https://github.com/Expensify/App/issues/11283#issuecomment-1325785932) seems bad for accessibility. Thanks!

[2022-11-25 03:33] getusha commented on #11283
So disappointed. I proposes the same solution above and my proposal is not reviewed!

[2022-11-25 03:52] kadiealexander commented on #8349
@parasharrajat how are we tracking with this?

[2022-11-25 04:12] Prottoy2938 commented on #12271
Is this issue still going on? or @b1tjoy 's solution works fine?

[2022-11-25 04:25] getusha commented on #11283
Also applying the proposal causes this behavior https://github.com/Expensify/App/issues/11283#issuecomment-1292300799 behavior to not exist. as @parasharrajat stated it is very useful

Switching tab and returning

[(5) New Expensify (4).webm](https://user-images.githubusercontent.com/75031127/203900602-23b55acb-c78d-4494-ab8f-175c849489c6.webm)

When we click it the checkbox is focused so we need

[2022-11-25 04:47] hungvu193 commented on #13022
This can be a backend problem since the IOUReportID didn't exist in split message.
<img width="1269" alt="Screen Shot 2022-11-25 at 11 47 13" src="https://user-images.githubusercontent.com/16502320/203903270-a43553e4-47a8-43e2-847d-4afbc1b1109e.png">

[2022-11-25 04:54] advaitasol9 commented on #10765
Hi @JmillsExpensify, what'd be the next steps for me. If anything is required I'm here to help. If not, can we move forward to payment?

[2022-11-25 05:00] kadiealexander commented on #13026
@kbecciv could you please update the *Actual Result:* section of the post to reflect what is happening for the bug? Thanks.

[2022-11-25 05:04] sobitneupane commented on #12210
@sophiepintoraetz Accepted offer. This issue is also eligible for 50% bonus since the PR was merged within 3 days.

[2022-11-25 05:08] sobitneupane commented on #11671
@fedirjh Your proposal is not accepted yet. We are waiting feedback. So, won't be able to review the PR now.

[2022-11-25 05:11] kbecciv commented on #13026
@kadiealexander Updated

[2022-11-25 05:34] MonilBhavsar commented on #11423
Are we good to close this now?

[2022-11-25 05:58] MonilBhavsar commented on #11423
Thanks! I see the the checklist needs still needs to be completed https://github.com/Expensify/App/issues/11423#issuecomment-1310214192

[2022-11-25 06:08] dhairyasenjaliya commented on #13033
**Proposal**

- We need to add `keyboardShouldPersistTaps="handled"` inside `<Scrollview>`
- In the below page
https://github.com/Expensify/App/blob/39b2f9924060c7381b2ff37563a5af88360b0d9d/src/pages/ReportSettingsPage.js#L152

[code]

**Result**

https://user-images.githubusercontent.com/47522946/203912290-a59feef4-ecc5-460a-94fa-573b418afcb4.mp4

[2022-11-25 06:11] marcochavezf commented on #12911
Ah I forgot to mention that we can use any expiration date and CVV while using any of the Bancorp sandbox debit cards. Also, I realized this is only reproducible locally because there's a [problem with the sandbox credentials](https://github.com/Expensify/Auth/pull/7245#issuecomment-1326813489) on staging, my apologies.

Since this bug will appear once we're able to add debit cards, I'm going to a

[2022-11-25 06:26] jliexpensify commented on #12158
@adeel0202 paid. Job closed on Upworks.

[2022-11-25 06:27] Puneet-here commented on #13033
It's a duplicate. Check https://github.com/Expensify/App/issues/13003

[2022-11-25 07:12] MonilBhavsar commented on #11423
Not a bug. May be It is like this since it was introduced.

I think when we add a form component, PR author can start a discussion in slack if we want to autofocus field when we open the form. In this way we can prevent these kind of bugs.

cc @MitchExpensify

[2022-11-25 07:21] parasharrajat commented on #8349
There is a new issue on the PR that is being fixed.

[2022-11-25 07:54] Beamanator commented on #11085
Aahhh well then maybe we can change `[HOLD #10894]` to `[HOLD WAQ]`?

[2022-11-25 07:57] Beamanator commented on #12616
@parasharrajat can you link the tracking issue here?

[2022-11-25 08:13] hungvu193 commented on #12998
I think this a feature, not a bug.
https://github.com/Expensify/App/blob/39b2f9924060c7381b2ff37563a5af88360b0d9d/src/components/OptionsSelector/BaseOptionsSelector.js#L110-L114
In case we don't wanna it scroll to top (which's kind of annoying with me too) we can comment or delete this piece of code.
[code]

[2022-11-25 08:38] Beamanator commented on #11063
Found some annoying issues on Mobile where Android & iOS Native Apps don't properly handle `bmp` & `gif` file uploads (with the help of @Santhosh-Sellavel 's very thorough tests 👍 ) 🤷 so I'm planning to make a follow-up issue that's external where others can help investigate possible solutions in the 3rd-party library we use, `@oguzhnatly/react-native-image-manipulator`

[2022-11-25 08:40] Beamanator opened #13038 "Allow `bmp` & `gif` avatar uploads on Nav Apps"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-11-25 09:03] Beamanator commented on #13038
While this issue currently exists, I would prefer waiting till https://github.com/Expensify/App/pull/12549 gets merged before working on this (most likely can be external) since in that PR we're enabling other image formats to be uploaded

[2022-11-25 09:05] parasharrajat commented on #12719
On Hold.

[2022-11-25 09:07] parasharrajat commented on #12616
On https://github.com/Expensify/App/issues/11768 under **Drawer Navigation / State** title.

[2022-11-25 09:07] parasharrajat commented on #12645
PR is merged.

[2022-11-25 09:09] mdneyazahmad commented on #11283
@parasharrajat I have noticed some bugs in the selected proposal (that may not be intentional). When mouse is pressed it sets the focus to the element, and when it releases, it calls blur which set the focus to body element. Now, if you press Space it does not toggle, and pressing Enter will not submit the form (will affect everywhere). You have to manually press Tab and again Shift + Tab to bring

[2022-11-25 09:10] parasharrajat commented on #10181
@MitchExpensify Can you please look into the C+ payment https://github.com/Expensify/App/issues/10181#issuecomment-127684135

[2022-11-25 09:17] parasharrajat commented on #11283
This matters.

Ok, I can see that many are not happy with the decision and there are still issues with the selected proposal So I believe it needs thorough testing for each proposal.

For now, I am retracting my decision and I will test each proposal carefully for the edge cases as well. This effort is close to testing each solution as its own PR which will take some time. Also, there are issues w

[2022-11-25 09:22] kidroca commented on #11817
Ooops - PR was merged 2 days ago
 - https://github.com/Expensify/App/pull/12607

_I thought merges are detected automatically and a bot comment is posted on the issue?_

[2022-11-25 09:31] nkuoch commented on #12530
@neil-marcellini as al is ooo, could you test on chrome and tell me if you still have the issue? If yes, does clearing our your cookies fix it? Yes no, could you share your credentials with me so I can reproduce and investigate?

[2022-11-25 09:57] hellohublot commented on #12045
# Proposal

## Reproduce
It cannot be reproduced in the development environment because of conditional judgment
1. Create a new workspace (you can create more than one)
2. Delete the helper for this workspace
3. Delete this workspace
4. Navigate to this workspace

https://user-images.githubusercontent.com/20135674/203953774-8b6f5efa-6c98-4175-9f84-b80c78cdf160.mov

## Relevant Links

- https://git

[2022-11-25 10:14] s77rt commented on #12283
### Proposal (Updated)
[code]

### Update
Fixed the issue on the react-native-image-picker level

### Details
The problem is in PHPicker. The selected file per default will have it's original format, in this case it's heic.
And we are uploading this file directly to the server which is not supported.

In my proposal I changed the `preferredAssetRepresentationMode` from [PHPickerConfigurationAssetR

[2022-11-25 10:19] laurenreidexpensify commented on #11488
@Santhosh-Sellavel hug apols!!!! I have corrected this now.

[2022-11-25 10:35] Julesssss commented on #11930
Merged, awaiting deployment to prod

[2022-11-25 10:43] hannojg commented on #11697
I still have this on my todo list and will try to reproduce it on devices in the release app.

[2022-11-25 10:45] hannojg commented on #10273
Alright, we still have this on our todo to look into all these issues and try to come up with a solution that will help with all/most of them. Expect more updates next week

[2022-11-25 10:55] Julesssss commented on #8236
[PR ](https://github.com/Expensify/App/pull/12642/files)has been updated to align with the upcoming dark mode changes. While it works well, I'm holding until that has been merged so that I can guarentee the changes are compatable.

The dark-mode PR is large enough that testing everything will be tricky.

[2022-11-25 10:55] bernhardoj commented on #11283
Yep, everyone concerns totally valid, that's why I request for another review for my new proposal that hopefully address all the concerns.

[2022-11-25 10:55] hungvu193 commented on #13024
<b>Proposal</b>
When clicking back button, the input loses focus and trigger the error validation.
https://github.com/Expensify/App/blob/39b2f9924060c7381b2ff37563a5af88360b0d9d/src/pages/ReimbursementAccount/BankAccountManualStep.js#L77
<b>Solution</b>
Add preventDefault when click back will do the trick.

[code]
We can also add onLongPress event too incase we don't want the input to loose focus

[2022-11-25 11:01] #11488 closed

[2022-11-25 11:12] sonialiap commented on #12891
I'm going to close this because I can't reproduce. Feel free to reopen if you're still experiencing this issue @kavimuru!

[2022-11-25 11:12] laurenreidexpensify commented on #12025
@getusha @rushatgabhane bonus sent 👍🏽

[2022-11-25 11:16] mountiny commented on #11768
We are moving to detailed section, thanks for all the great high-level reviews!

[2022-11-25 11:18] #12025 closed

[2022-11-25 11:21] laurenreidexpensify commented on #12506
@Puneet-here 🙈 Can you please reject the payment and I'll issue the correct amount.

[2022-11-25 11:26] Puneet-here commented on #12506
I am not sure how to do that. Can you send a refund request? I am seeing an option to refund but it's not letting me change the amount (and it's showing $0)

<img width="1440" alt="Screenshot 2022-11-25 at 4 55 04 PM" src="https://user-images.githubusercontent.com/101883770/203975557-be622a44-10da-440f-ab88-42ce8647626f.png">

[2022-11-25 11:29] Puneet-here commented on #12506
Oh I had to click on select invoices. Upwork new interface made me confused. I just refunded the additional $125

[2022-11-25 11:30] mountiny commented on #12203
Still on hold for the navigation reboot. I will make this monthly as there is probably no action here until the navigation is updated

[2022-11-25 11:32] Julesssss opened #13039 "Enable notifications in debuggable Android release builds"
### Problem

To debug and resolve issues with notifications we need the ability to build debuggable release builds, with working notifications. Currently, release builds with the debuggable flag enabled prevents notification delivery. This is because [Airship uses the debuggable flag](https://expensify.slack.com/archives/C01RJ1RCK8D/p1669226580999259?thread_ts=1669222166.493339&cid=C01RJ1RCK8D) as

[2022-11-25 11:33] mountiny commented on #11908
@0xmiroslav @parasharrajat Has this been all paid up?

[2022-11-25 11:33] MonilBhavsar commented on #11471
PR is in review to have only placeholder
And new bug reported to create a new followup issue to fix root cause

[2022-11-25 11:35] laurenreidexpensify commented on #12782
This is on prod 👍 making it a weekly now to close out regression steps

[2022-11-25 11:41] mananjadhav commented on #11471
@MonilBhavsar This doesn’t need C+ review ?

[2022-11-25 11:42] laurenreidexpensify commented on #12506
Yes lol Upwork UI is 🤪 Thanks for being so honest here!

[2022-11-25 11:43] MonilBhavsar commented on #11471
Sorry forgot, requested your review.

[2022-11-25 11:45] cowboycito commented on #10893
@Santhosh-Sellavel I did a bunch of tests and I was not able to replicate the issue you're having. I wonder if you have Electron installed as an app on your computer. If that's the case, try uninstalling it and giving it another shot.

[2022-11-25 11:57] Gonals commented on #12999
Hmmm. Maybe some old stuff that needed to refresh? I can't seem to reproduce it

[2022-11-25 12:00] laurenreidexpensify commented on #13003
From  this  SO: https://stackoverflow.com/c/expensify/questions/14418

- [x] The "bug" is  actually  a  bug 
- [x]  The  bug  is  not  a  duplicate  report  of  an  existing  GH 
- [x]  The  bug  is  reproducible, following  the  reproduction  steps:
1. Click on fab icon > new room
2. Pick a Room Name
3. Create a room
4. Go to room settings for room and type a new name
5. Press save
6. Observe not

[2022-11-25 12:05] Julesssss commented on #12999
Unable to reproduce, I'm going to close this until we have reproducible steps

![Screenshot_20221125-120207](https://user-images.githubusercontent.com/10736861/203982435-06256e84-d5b9-474c-b320-ade69d22f8ec.png)

[2022-11-25 12:05] #12999 closed

[2022-11-25 12:08] Julesssss commented on #12976
I removed #12999 as a deploy blocker as three people are unable to reproduce.

[2022-11-25 12:11] Vishrut19 commented on #13003
Hey! Can I try to work on this issue ?

[2022-11-25 12:23] parasharrajat commented on #8592
Checking this now.

[2022-11-25 12:26] flaviadefaria commented on #13033
Ok closing this for https://github.com/Expensify/App/issues/13003.

[2022-11-25 12:26] #13033 closed

[2022-11-25 12:29] kbecciv opened #13040 "mWeb/Safari - Chat - Long pressing on an image causes text selection"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
and login
2. Open any chat
3. Long press on any picture

## Expected Result:
The blue

[2022-11-25 12:31] kbecciv commented on #8245
@trjExpensify Created a new ticket per your request https://github.com/Expensify/App/issues/13040

[2022-11-25 12:35] kbecciv opened #13041 "mWeb/Safari- IOU - Extra space displays under 'Next" button when Split/Request money(small phones)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Tap on Fub menu
4. Select Request Money

## Expected Result:
Extra space should n

[2022-11-25 12:35] iwiznia commented on #12938
Ah yes, that react native issue is exactly the same as this one.
So, I think we want a fix on RN and not a hack that solves this in our app, especially since the effect is barely noticeable

[2022-11-25 12:41] sobitneupane commented on #13003
@Puneet-here Thanks for your proposal.

Your [proposal](https://github.com/Expensify/App/issues/13003#issuecomment-1326615859) does the required job. But I think the better approach will be to make use of [Form](https://github.com/Expensify/App/blob/main/src/components/Form.js).

It's a good opportunity to refactor this page to use Form.

cc: @srikarparsi

[2022-11-25 12:44] sobitneupane commented on #13003
@Vishrut19 Thanks for your interest.

If you haven’t already, check out the [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md). You can find how to post proposals [here](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#working-on-expensify-jobs).

[2022-11-25 12:45] iwiznia commented on #12745
AFAIK we said we would not be focusing on supporting firefox, so I think we should close this issue.

[2022-11-25 12:46] iwiznia commented on #12523
AFAIK we said we would not be focusing on supporting firefox, so I think we should close this issue.

[2022-11-25 12:47] iwiznia commented on #12521
AFAIK we said we would not be focusing on supporting firefox, so I think we should close this issue.

[2022-11-25 12:52] thesahindia commented on #12618
@nkuoch, can we reopen this? The reporting compensation is pending.

cc: @sakluger

[2022-11-25 12:53] kbecciv opened #13042 "New Room- Characters appear/disappear when using a special characters (e.g.: + or &)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12899

## Action Performed:
1. Launch the app
2. Login with any account
3. Cli

[2022-11-25 12:55] sketchydroide commented on #12822
bumping @greg-schroeder :) not overdue

[2022-11-25 13:04] sketchydroide commented on #12512
@puneetlath not sure if this is correct, as this GH is not even 3 weeks yet, not sure how it's one of the oldest issues 🤔
That said.
We just started getting some solutions coming, and they seem to be from very comptent sources, including Margelo. I think we need to give a bit more time to see how this develop, it seems to me that we will have some good choices in a couple of days.

[2022-11-25 13:07] s77rt commented on #13042
I won't say this is a bug, the text input is being changed and depending on the device speed you may or may need see the change happening (refereed to shaking in the GH body)

[2022-11-25 13:09] allroundexperts commented on #13003
## Proposal

As mentioned @sobitneupane, we can just refactor this component to use `Form` component. As such, the following changes need to be done:

[code]

[2022-11-25 13:22] mdneyazahmad commented on #12989
## Proposal

`ref` is not passed properly in https://github.com/Expensify/react-native-picker-select/blob/7f09b2c15ffae320d769788f75bdf8948714bb10/src/index.js#L8

Form stores a reference of all input elements in `inputRefs`. When the `fix the errors` button is pressed it execute the `focus` method on the reference element.

https://github.com/Expensify/App/blob/dd3757552acde24535621cdb31d79dc0709

[2022-11-25 13:27] laurenreidexpensify commented on #12822
Was using label to get Upwork job to be created - apols for false pings

[2022-11-25 13:30] allroundexperts commented on #13003
@Puneet-here Updated my proposal.

[2022-11-25 13:31] laurenreidexpensify commented on #12822
offer sent in Upwork to @dhairyasenjaliya

[2022-11-25 13:32] sketchydroide commented on #9973
No not really, the API refactors take most of my time atm.
Bu it all honesty I think this is more of a React issue or a library issue than something we can easily fix.
Like I mentioned before it seems that the tooltip is pressable, and it shouldn't be

[2022-11-25 13:33] sketchydroide commented on #8710
no updates, this week has been a bit of a bust with only working half a day with being sick

[2022-11-25 13:51] laurenreidexpensify commented on #11341
@Beamanator it _should_ have changed automagically.... 🤔

[2022-11-25 13:51] syedsaroshfarrukhdot commented on #12340
@tjferriss bumping for payment

[2022-11-25 13:55] Gonals commented on #12989
Ah, @miljakljajic, @mdneyazahmad , I linked the fix PR yesterday, so this doesn't need to be worked on

[2022-11-25 13:56] s77rt commented on #13034
### Proposal
[code]

### Details
You shouldn't be able to remove a user that has a `pendingAction` equal to `add`.
In the current code, you are only not allowed to remove a user that has a `pendingAction` equal to `delete`.
The obvious fix is to check that the user does not have either `pendingAction`s.

The better fix is to make sure the user have the `role` prop.

[2022-11-25 14:07] kidroca commented on #12603
Opened a few PRs:
- for Expensify fork of RNW - https://github.com/Expensify/react-native-web/pull/8
- for mainstream RNW repo - https://github.com/necolas/react-native-web/pull/2442
- for App - https://github.com/Expensify/App/pull/13036
    This one showcases Image requests with headers working for Web/Desktop.

[2022-11-25 14:08] Julesssss commented on #8236
[The PR](https://github.com/Expensify/App/pull/12642) contains screenshots for every platform in both light and dark mode.

[2022-11-25 14:15] Gonals commented on #13022
Hmmm. @amyevans, @Julesssss, will [this PR](https://github.com/Expensify/Web-Expensify/pull/35588) fix this?

[2022-11-25 14:16] mdneyazahmad commented on #12989
@Gonals I missed that linked PR, sorry for that. I believe after the PR clicking on the button, it will do nothing. If you go ahead with my proposal, It will focus the internal select element. Thanks!

[2022-11-25 14:21] kidroca commented on #12603
I've tried that, but because `react-native-fast-image` tries to load some native modules in it's init script it's not possible to import it on Web (or at least I couldn't easily find a way)
So it seems we can't just use the `fallback` prop
I think we should just use the RNW Image component for web/desktop

I did manage to get Images with headers load on web, so we can move forward with what we've

[2022-11-25 14:26] parasharrajat commented on #8592
@dhairyasenjaliya Do you think setting the key as a boolean value is a good option?

[2022-11-25 14:27] Julesssss commented on #13022
Should it? Where would this take you?

The entire message is clickable already so I don't know why we hightlight 'split'. Additionally, there is not such thing as an IOU on a group chat, we dsimply create multiple 1:1 IOUs in this case, so the only clickable link should appear in the 1:1 chat.

[2022-11-25 14:37] dhairyasenjaliya commented on #8592
@parasharrajat AfAI boolean will work well since component get updates only when we change state (keyUpdate state) value , so we just need to update state with different values that can be anything unique than previous

[2022-11-25 14:41] thesahindia commented on #12271
Yeah, it works fine.

[2022-11-25 14:41] thesahindia commented on #12271
Bump @deetergp

[2022-11-25 14:41] s77rt commented on #8592
It's better to use a string, so just do `.toString()`

[2022-11-25 14:57] thesahindia commented on #13000
@sophiepintoraetz, this is eligible for the reporting compensation.

[2022-11-25 15:05] kbecciv commented on #12432
@luacmartins Can you please confirm if its the same root of cause, when clicking on Settled/Request options? or we need to create a separate GH link for it?

https://user-images.githubusercontent.com/93399543/204012336-f43e30fe-a678-48d1-8bd3-5c398d712ca0.mp4

[2022-11-25 15:25] Beamanator commented on #11341
Thought soooo 🤷 Thanks for updating!

[2022-11-25 15:26] Santhosh-Sellavel commented on #9581
PR is already merged

[2022-11-25 15:33] dhairyasenjaliya commented on #12822
Accept @laurenreidexpensify

[2022-11-25 15:38] Santhosh-Sellavel commented on #10654
No that's not the PR.

[2022-11-25 15:43] iwiznia commented on #12592
I have a PR here https://github.com/Expensify/App/pull/13043
But while testing, I realized that I can't really reproduce this issue on neither of the 2 ipad emulators I tried (ipad mini and ipad pro) and neither on the android emulator tablet (Pixel C).
The reason is that all of them seem to always show the big screen view (ie the one with LHN and main pane), so while my PR could make it that they

[2022-11-25 15:50] iwiznia commented on #12492
Sorry, not very clear, did we hire @smrutiparida? If so, can someone assign them so the help wanted label is removed?

[2022-11-25 16:02] kbecciv opened #13044 "[HOLD for payment 2022-12-20] [$1000] Android - Login - The transition after enter email and click "Continue" occurs with a jerk"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Enter the email on the email field
3. Click "Continue"

## Expected Result:
There should be no jerks in the tr

[2022-11-25 16:03] luacmartins commented on #13011
Revert was deployed. Closing issue.

[2022-11-25 16:03] #13011 closed

[2022-11-25 16:03] luacmartins commented on #13009
Revert was deployed. Closing issue.

[2022-11-25 16:03] #13009 closed

[2022-11-25 16:04] luacmartins commented on #12976
@mvtglobally what's the regression tests status?

[2022-11-25 16:05] mvtglobally commented on #12976
@luacmartins we are wrapping up. I'll should be able to share summary in the next hour or so

[2022-11-25 16:06] mountiny commented on #12340
sorry, asking internally, lots of people are out for Thanksgiving

[2022-11-25 16:14] bfitzexpensify commented on #13023
Was able to reproduce:

https://user-images.githubusercontent.com/38236554/204023241-2f8694d3-16a3-409e-92c1-754d2e72c6ab.MP4

[2022-11-25 16:18] bfitzexpensify commented on #13023
From this SO: https://stackoverflow.com/c/expensify/questions/14418
- [x] **The "bug" is actually a bug**:
- [x] **The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead)**:
- [x] **The bug is reproducible, following the reproduction steps:**
- [x] **The GH template is filled out as fully as possible -- this means the GH body and titl

[2022-11-25 16:19] bfitzexpensify commented on #12054
We're still moving here, melvin

[2022-11-25 16:19] neil-marcellini commented on #12530
Sure I'll try it now.

[2022-11-25 16:21] neil-marcellini commented on #12530
I'm no longer able to reproduce, we can close this 🙂

[2022-11-25 16:21] #12530 closed

[2022-11-25 16:31] neil-marcellini commented on #12511
The App PR was deployed to production. I'm not sure why the checklist didn't post automatically so here it is.

**BugZero Checklist:** The PR fixing this issue has been merged! The following checklist ([instructions](https://stackoverflow.com/c/expensify/questions/14574)) will need to be completed before the issue can be closed:

- [ ] [@neil-marcellini / @rushatgabhane] The PR that introduced the

[2022-11-25 16:36] Pujan92 commented on #12854
I have a hacky way which isn't the preferred way but it can work for android too. The issue we are facing in the android is `onSelectionChange` call which executes after we set the `selection` state in the `updateComment` which causes infinite cursor flickering/positioning.

**Hacky Solution**
Extra state property `shouldAllowOnSelectionChange`

In update emoji comment update the `shouldAllowOnSel

[2022-11-25 16:37] Santhosh-Sellavel commented on #12492
@flaviadefaria please assign @smrutiparida issue.

@smrutiparida Any update on the PR?

[2022-11-25 16:47] Santhosh-Sellavel commented on #10893
Yeah may be I did, I test on a different pc it works.
@NikkiWines Looks good to me, can we loop in design team for intermediate page design thanks!

[2022-11-25 16:50] mollfpr commented on #12854
@s77rt Sorry for the wait. How about we create a function lib similar to `setSelection` to set the selection for composer input? Like `setComposerSelection` and return empty on iOS?

@Pujan92 Thanks for the update! We avoid using `setTimeout` for a solution.

[2022-11-25 16:55] s77rt commented on #12854
@mollfpr I don't see the point of this? We do need to keep a track of the previous selection
The new selection is based on the old selection.

The platform specific code is only one line maybe we can make an exception for it:
`const caretPosition = Platform.OS === "ios" ? {...this.state.prevSelection} : {...this.state.selection};`

[2022-11-25 17:02] muttmuure commented on #12706
Not overdue

[2022-11-25 17:09] mvtglobally commented on #12976
Regression is completed

PR https://github.com/Expensify/App/pull/12762 is failing https://github.com/Expensify/App/issues/13017 Repro in PROD
PR https://github.com/Expensify/App/pull/12919 is failing https://github.com/Expensify/App/issues/13000. blocker is fixed. we are retesting
We are checking few last CPs. I will have update in a bit.

[2022-11-25 17:10] kbecciv commented on #12670
Able to reproduced the issue in Android/ IOS apps with version 1.2.31.8

https://user-images.githubusercontent.com/93399543/204031194-d04d79b1-9fba-450e-a1c3-e8fd53439194.MOV

[2022-11-25 17:13] mollfpr commented on #12854
@s77rt Could you put the solution into the full proposal? I'm still not convinced with the usage of `this.state.prevSelection`.

[2022-11-25 17:16] neil-marcellini commented on #12314
@dylanexpensify I think all that remains to close this out is adding a regression test right? https://github.com/Expensify/App/issues/12314#issuecomment-1307949663

[2022-11-25 17:16] s77rt commented on #12854
@mollfpr on iOS the selection on this.state.selection gets updated before calling the updateComment
that's why we need to store another selection (prevSelection)

will post the updated proposal in few mins

[2022-11-25 17:20] mountiny commented on #12943
Seems like sometimes the sentry request is has different format:

[code]

[2022-11-25 17:29] NicMendonca commented on #11908
@parasharrajat @0xmiroslav paid! (keeping this opened for the rest of the checklist)

[2022-11-25 17:30] mountiny commented on #12943
That might not be related to this actually https://stackoverflow.com/questions/72584295/how-do-i-fix-sentry-error-403-on-react-js

[2022-11-25 17:32] NicMendonca commented on #12340
@syedsaroshfarrukhdot @rushatgabhane paid! (keeping this open for the rest of the checklist)

[2022-11-25 17:37] s77rt commented on #12854
### Proposal (Updated)
[code]

### Update
Support iOS

https://user-images.githubusercontent.com/16493223/204034172-391d43a8-29df-472d-aedc-b751b2efafe9.mp4

[2022-11-25 17:40] mountiny commented on #11908
I think this was not a bug per se but more so a follow up to our Form refactor and aligning on the styles in other forms/inputs hence I am not linking any PR since this was not a regression.

And therefore we dont have to add any new test into testrail either given this is not regression and there are tests covering forms and failure.s

[2022-11-25 17:40] #11908 closed

[2022-11-25 17:46] mountiny commented on #12943
Seems like we would need to add new env variable to make sure the inlined script is added to its won file during build https://drag13.io/posts/react-inline-runtimer-chunk/index.html. That is using `INLINE_RUNTIME_CHUNK=false`

[2022-11-25 17:55] syedsaroshfarrukhdot commented on #12340
@NicMendonca Thanks received payment. I am also eligible for 50% bonus here as my PR was merged in 3 business days. Not received bonus yet.

[2022-11-25 17:57] cead22 commented on #12045
- I can reproduce on dev by removing `!Permissions.canUseDefaultRooms(this.props.betas)` from the if in the comment above.
- After applying the fix, `&& !ReportUtils.isArchivedRoom(this.props.report)`, I can't reproduce anymore

[2022-11-25 18:06] luacmartins commented on #13017
I'm not able to reproduce this.

https://user-images.githubusercontent.com/22219519/204037255-52292252-b08f-4d53-8a28-f3db8c5edacd.MP4

[2022-11-25 18:22] luacmartins commented on #12976
- https://github.com/Expensify/App/pull/12762 is a pass to me. I couldn't repro https://github.com/Expensify/App/issues/13017
- https://github.com/Expensify/App/pull/12919 is a pass! Checking off!
- https://github.com/Expensify/App/pull/12419 I think it's safe to check this one off.

Waiting on the CP updates!

[2022-11-25 18:27] luacmartins commented on #13000
@thesahindia sorry, I missed that. Reopening!

[2022-11-25 18:27] luacmartins commented on #13000
@sophiepintoraetz could you please pay the reporting bonus to @thesahindia?

[2022-11-25 18:38] hellohublot commented on #11854
@trjExpensify Maybe you can try to search "hublot", if you still can't find me, it is estimated that this job can only hire one person, please help to try to create another job, Thanks

[2022-11-25 18:44] NicMendonca commented on #12850
^ updated the price as I missed that earlier - sorry!

[2022-11-25 18:47] furkanuzundev commented on #12938
# Proposal

Somehow, ` flexdirection:row ` into `styles.textInputComposeSpacing` is **breaking something** on input.
When i remove **row** styling, the input is centering into view.Because of we have `alignSelf: 'center'` into `styles.textInputCompose`.Actually i'm not sure to need that.Why are we centering input?

### Workaround

[code]

### Screenshots

https://user-images.githubusercontent.com/

[2022-11-25 18:52] luacmartins opened #13048 "OpenPaymentDetailsPage displays console error"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. In App, login into account A and request money from account B
2. Log into account B
3. Open the browser console
4. Tap `Pay` a

[2022-11-25 18:53] luacmartins commented on #12432
@kbecciv that seems like a different issue to me. I logged the [issue](https://github.com/Expensify/App/issues/13048) and put up a fix for it [here](https://github.com/Expensify/Web-Expensify/pull/35674)

[2022-11-25 18:54] eVoloshchak commented on #9973
`Copy` tooltip is not the [Tooltip.js](https://github.com/Expensify/App/tree/main/src/components/Tooltip) component, it's actually iOS's native **Cut/Copy/Paste** menu, but since it's just text, all you can do is **Copy**.
It looks worse on Android: you see the menu only after navigating to `User Details` and you can't dismiss the menu by pressing outside of it, you have to select an option.

http

[2022-11-25 19:18] aldo-expensify commented on #11336
I think it is a good call, we should review our manual tests because this could have been catch. I don't think it would be easy to do as an automated test because the button is not completely missing, it is just at the bottom of the list instead of at the bottom of the screen (fixed).

<img width="452" alt="image" src="https://user-images.githubusercontent.com/87341702/204043801-6421c8ad-8680-4654

[2022-11-25 19:21] s77rt commented on #13006
The image is 9001px by 9000px
That's too much, I won't say this is a bug

[2022-11-25 19:27] luacmartins commented on #12976
@mvtglobally any update on the CP checks?

[2022-11-25 19:42] s77rt commented on #12961
### Proposal
[code]

### Details
Add `cursor` style prop and set it to `text` on `chatItemMessage` class.

[2022-11-25 19:45] aldo-expensify commented on #12894
I'm still investigating this. I trying to test push notification (urban airship) to see the impact of replacing `<br />` by `\n` instead of ` ` in the web API, but I haven't been able to test it reliably in dev

[2022-11-25 19:49] aldo-expensify commented on #12850
@kbecciv is this still reproducible? the chat that didn't load was with the account with name "hello", right?

[2022-11-25 19:50] mvtglobally commented on #12976
@luacmartins All checked off.

https://github.com/Expensify/App/pull/12919 Steps are pass, but there is an error in the console after refresh. Can you just double check its ok.

https://user-images.githubusercontent.com/43995119/204049542-5b78a7e9-2f41-445f-aa6b-dd8b8918a84b.mp4

[2022-11-25 19:56] luacmartins commented on #12976
@mvtglobally it seems to be the same error as in https://github.com/Expensify/App/issues/12943 and seems unrelated to the changes in that PR, so I think it's safe to check off. Thanks for checking!

[2022-11-25 20:01] kbecciv commented on #12850
@aldo-expensify Let me check with latest build

[2022-11-25 20:03] mountiny commented on #12943
A PR to test one theory is in review. This would fix only staging.

[2022-11-25 20:06] kbecciv commented on #12850
@aldo-expensify The account with name "hello" is loaded, but details page is empty. Tested build version is 1.2.31.8

https://user-images.githubusercontent.com/93399543/204050754-0c17a789-a014-4db9-958f-e0142c91599b.mp4

[2022-11-25 20:13] kbecciv commented on #11796
Checking

[2022-11-25 20:18] luacmartins commented on #12976
I see a [new crash on iOS ](https://console.firebase.google.com/u/0/project/expensify-chat/crashlytics/app/ios:com.chat.expensify.chat/issues/69c5bdcb6b4f737c14556e765aa3bf1d?time=last-seven-days&versions=1.2.31%20(1.2.31.7);1.2.31%20(1.2.31.5)&sessionEventKey=584fed2ccde64365a1f54a08e3ceccca_1748411033348574025) which seems to be a memory management issue with the OS. Considering that we only had

[2022-11-25 20:18] luacmartins commented on #12976
:shipit:

[2022-11-25 20:18] #12976 closed

[2022-11-25 20:23] OSBotify opened #13059 "Deploy Checklist: New Expensify 2022-11-25"
**Release Version:** `1.2.32-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/12596
- [x] https://github.com/Expensify/App/pull/12648
- [x] https://github.com/Expensify/App/pull/12761
- [x] https://github.com/Expensify/App/pull/12817
- [x] https://gi

[2022-11-25 20:27] aldo-expensify commented on #12850
It looks like you are tapping in the green badge showing the amount owed. I see that this is normal behaviour:

https://user-images.githubusercontent.com/87341702/204052339-725b359d-bd6c-4229-9a1c-4710db3d1124.mov

If you tap in the name/email, it should take you the personal details

[2022-11-25 20:31] mountiny commented on #13059
https://github.com/Expensify/App/pull/12880  was reverted no need for QA

[2022-11-25 20:32] mountiny commented on #13059
https://github.com/Expensify/App/pull/12859 failed on iOS and fix is [here](https://github.com/Expensify/App/pull/13055), fix for Android will be resolved next morning. No need to revert or CP the fix, this only influences test workflows.

[2022-11-25 20:35] thesahindia commented on #12045
Ahh that's interesting, the solution will do the job. @hellohublot, thanks for looking into it!

@hellohublot's [proposal](https://github.com/Expensify/App/issues/12045#issuecomment-1327257836) looks good to me

C+ reviewed 🎀👀🎀

cc: @robertjchen

[2022-11-25 20:37] mountiny commented on #12885
This issue is hard to define as regression. This might have been introduced with the Skeleton view and we havent tested for performance then.

These performance issues are hard to test on since we dont measure fps objectively so I am not sure if any regression test should be added here. Let me know if you disagree @sakluger

Nobody needs to be paid here, we are good.

[2022-11-25 20:49] ctkochan22 commented on #10765
@advaitasol9 I believe you need to be hired and your proposal to be accepted and merged.

[2022-11-25 21:12] thesahindia commented on #13024
This behaviour is present at every page that is using `Form` component. If we wanna fix this then we should be fixing this for all the pages.

[2022-11-25 21:22] allroundexperts commented on #13024
### Proposal

## Problem
We're not preventing default in the `HeaderWithBackButton` component.

## Solution
Following is a generic solution that works across all pages.
[code]

[2022-11-25 21:40] allroundexperts commented on #13024
### Updated Proposal

## Problem
The issue is that clicking on the `x` button triggers the `onBlur` handler of the `Form input` element. Since `onBlur` has a greater priority than `onClick` handler, `onBlur` gets called first. As such, adding an `e.preventDefault` in the `onClick` handler is of no use.

## Fix
We need to not fire validation in the `onBlur` handler that is attached to the `Form` co

[2022-11-25 23:08] allroundexperts commented on #13003
@sobitneupane Updated my proposal.

[2022-11-26 00:35] neil-marcellini commented on #12315
I didn't have time for this today.

[2022-11-26 01:42] eh2077 commented on #12155
Proposal

We can support pasting HTML `p` tag and unordered list in `ExpensiMark.js` of [expensify-common](https://github.com/Expensify/expensify-common). Two changes will be added into `ExpensiMark.js`
1. Add space for unordered list item https://github.com/Expensify/expensify-common/blob/db2c245c1e6b39232092b1415b9235fadda2a529/lib/ExpensiMark.js#L226-L231
[code]
2. Add line break for HTML `p` a

[2022-11-26 03:14] alexpensify commented on #12587
@hannojg - any update? How are things going?

[2022-11-26 03:19] alexpensify commented on #11778
@Beamanator - I'm OOO until Wednesday, can we get an update here on the next steps? Thanks!

[2022-11-26 04:04] Pujan92 commented on #11086
@mananjadhav Could you plz review once you get some time

[2022-11-26 04:04] advaitasol9 commented on #10765
I know @ctkochan22, I was hired and my proposal was accepted. Based on my pr I feel this issue is being taken internal.
This is a unusual situation, that's why I am asking what would be next steps.

[2022-11-26 05:57] OSBotify commented on #13059
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.32-1 :rocket:

[2022-11-26 06:05] luacmartins commented on #13000
Removing deploy blocker label since this was fixed and I just reopened to pay the bonus!

[2022-11-26 09:26] Delgee commented on #13024
### Proposal
We encountered a similar issue on https://github.com/Expensify/App/issues/12715 and fixed it by calling `preventDefault` on `onMouseDown` event. We can do a similar thing on back button. Since this issue is only occurring on back button. No need to change Form component I think.

[2022-11-26 09:51] allroundexperts commented on #13024
@Delgee `onMouseDown` has a greater precedence than the `onBlur` event. We need to `preventDefault` in a handler that has a greater precedence than the `onBlur` event. As such, your solution works as well. But it's not generic. We'll have to do it on every `Form` with `Back` button. What I've purposed is generic and will work for all the forms.

[2022-11-26 10:46] Delgee commented on #13024
@allroundexperts I think validating input on focus loss is correct behavior. And we should be able to validate input even if the focus is lost because of a click outside of `Form` element. So we should fix this issue on every page this issue happening instead of removing validation when clicked outside `Form` element. Also using `e.relatedTarget.tabIndex` is a bad idea `tabIndex` is just working o

[2022-11-26 10:52] allroundexperts commented on #13024
@Delgee We are validating the input if the focus is lost because of click outside the Form. It's just for specific elements (like href), that when clicked, we don't want to validate. Also, TabIndex is just a single way to do it. As mentioned in proposal, we can use id / class as well to pinpoint this further.

Also, If we change this on every page, I'm sure this will come up again when new pages g

[2022-11-26 10:59] Delgee commented on #13024
@allroundexperts Yes, we just don't want to validate in specific cases, not general cases. So we should fix this issue in those specific cases.

[2022-11-26 12:25] kidroca commented on #12235
### Current load times
- simulated slow 3g
- incognito

<details>
<summary>No cache - 60sec.</summary>

<img width="945" alt="Screenshot 2022-11-26 at 14 16 16" src="https://user-images.githubusercontent.com/12156624/204088536-b519c500-0ee0-4660-8152-569ac7d47b3a.png">
</details>

<details>
<summary>With Browser cache - 6.53 sec.</summary>

<img width="945" alt="Screenshot 2022-11-26 at 14 20 38"

[2022-11-26 13:08] allroundexperts commented on #12942
## Proposal

As mentioned by @luacmartins, this is a known drawback of using focus method. We can therefore, scroll to the input position - an offset of 10.

[code]

## Result

https://user-images.githubusercontent.com/30054992/204090564-a92acae7-37c1-4e61-89df-81563a337c3a.mp4

[2022-11-26 15:36] JmillsExpensify commented on #10765
@advaitasol9 To clarify my earlier comment, I was saying that we should still resolve this issue despite us looking into FlatList alternatives longer-term. Further, I wanted to re-assure you that if we do take this internal, you will be compensated for whatever work you've done to date.

@ctkochan22 If we are taking this issue internal, as [you mention here](https://github.com/Expensify/App/issues

[2022-11-26 16:03] JmillsExpensify commented on #12289
I'm not sure what happened with the assignments though I know that @puneetlath is out, so I'll happily take this one while he's on vacay.

@s77rt can you make sure to apply to the [Upwork job](https://www.upwork.com/jobs/~01a3019c47c3980a30) so we can get you paid out.

@mananjadhav I've invited you to the job, please accept!

[2022-11-26 16:05] JmillsExpensify commented on #12289
[@puneetlath / @alex-mechler] The offending PR has been commented on, pointing out the bug it caused and why, so the author and reviewers can learn from the mistake. Link to comment:
 [@puneetlath / @alex-mechler] A discussion in #expensify-bugs has been started about whether any other steps should be taken (e.g. updating the PR review checklist) in order to catch this type of bug sooner. Link to

[2022-11-26 16:10] s77rt commented on #12289
@JmillsExpensify Applied

[2022-11-26 16:11] JmillsExpensify commented on #12289
Ah yes, let's also make sure that @huzaifa99 applies as well for the reporting bonus.

[2022-11-26 16:16] JmillsExpensify commented on #9973
Ah that's a clever solution. @sketchydroide @mananjadhav can you two comment if you agree? If so, then we can have @eVoloshchak lead next steps, as this bug is inexcusably old and we need to align on next steps, implement them, and move on. Let's agree on the path forward and put it in motion.

[2022-11-26 16:20] JmillsExpensify commented on #12775
Nice, I'm good with that!

[2022-11-26 16:37] JmillsExpensify commented on #12592
Assigning myself as well since we lost the BZ assignment somehow. Also chiming in on @iwiznia's question above.

So the question is: do we still want to lock tablets to portrait mode? I think the answer is no and we rather have this small bug on old tablets than preventing users from rotating their tablets (which for lots of users will work fine).

Hmm, yeah I'm with you. I tried to reproduce this

[2022-11-26 16:38] #12592 closed

[2022-11-26 16:42] JmillsExpensify commented on #8592
@MonilBhavsar @tjferriss Escalated this in chat, as we need to act with urgency and act on next steps, whether that's approving an proposal and getting that implemented, or whether that's taking this internal.

[2022-11-26 16:50] s77rt commented on #8592
This seems more like a bug in WebKit, any proposed solution must be a hack.
It's safer to disable autocorrect on Safari than implementing a hacky solution

[2022-11-26 17:26] JmillsExpensify commented on #8592
That sounds like a good solution. I agree that if it's in WebKit, then the core issue is upstream and we shouldn't go down the rabbit hole of implementing a fix for what isn't a "bug" in our codebase.

[2022-11-26 17:30] dhairyasenjaliya commented on #8592
I think we should keep the same behavior as native iOS and use key in order to solve this issue and also key is more common technique in react to solve this kind of issue

[2022-11-26 17:30] JmillsExpensify commented on #12203
@vitHoracek I seem to have missed this notification earlier, though I agree that we should close – because as you mention, this is quite an edge case, and then related, we're already addressing this as part of react navigation. I'd recommend we close but still link to the react navigation issue. I'll do both now.

[2022-11-26 17:30] #12203 closed

[2022-11-26 17:33] JmillsExpensify commented on #10273
Thanks @hannojg! Agree with that plan.

[2022-11-26 17:36] JmillsExpensify commented on #12283
General update: We're still working through the issue/cause and related proposals. Latest proposal is immediately above for review.

[2022-11-26 17:39] JmillsExpensify commented on #12616
Based on the more recent updates, I'm going to put this issue on hold and link it to #11768.

[2022-11-26 17:40] JmillsExpensify commented on #12616
Related, given that I'm the BZ assigned to the tracking issue, I'm assigning myself and unassigning Lauren.

[2022-11-26 17:42] s77rt commented on #8592
@dhairyasenjaliya re-rending is not really a good solution, it may give the user the slow-app experience

[2022-11-26 17:42] JmillsExpensify commented on #12428
Assigning myself to this issue as part of the larger navigation reboot and also putting this issue on hold.

[2022-11-26 17:43] dhairyasenjaliya commented on #8592
@s77rt just try solution i posted above i don't really find any slowness in app after implying

[2022-11-26 17:44] JmillsExpensify commented on #12719
Taking this issue over as part of the larger navigation reboot.

[2022-11-26 17:52] JmillsExpensify commented on #11063
Great question. This is a bit of a grey area, since we recently added the ability to support all file types, which pre-dates WAQ. So based on that, given that we now support all file types and we have bugs related to that, I think we should solve them now as part of WAQ.

[2022-11-26 17:53] JmillsExpensify commented on #9823
Still on hold for navigation reboot.

[2022-11-26 17:55] JmillsExpensify commented on #12698
@roryabraham Do you want me to assign myself to this issue? I'll go ahead and bump it up to $1,000 though heads up that @greg-schroeder is the BZ member assigned. Happy to help though!

[2022-11-26 17:58] JmillsExpensify commented on #12188
@puneetlath Yeah agreed. This is filed as post-WAQ polish in the tracking issue, though I'll add a HOLD to this issue as well for clarity.

[2022-11-26 18:00] JmillsExpensify commented on #12188
Ah in fact, I'm the BZ assigned on the emoji tracking issue and I should have assigned myself at that point, but I forgot to on this one. I'll go ahead and do that now, and also update this issue to $1000 for when we get back to it.

[2022-11-26 18:02] JmillsExpensify commented on #11277
Still waiting for the linked PR to be merged.

[2022-11-26 18:03] JmillsExpensify commented on #11463
Still working to get the related PR merged.

[2022-11-26 18:05] JmillsExpensify commented on #10670
@tjferriss For the weekly chore, this issue is held on a related issue, so I think we need to ensure that we're bumping the oldest UNHELD issues. As for the hold on this issue, there is a PR awaiting approval/merge in the related issue. Hopefully we'll be back in business soon!

[2022-11-26 18:10] JmillsExpensify commented on #12714
In the related PR from @youssef-lr, this issue is no longer reproducible. Based on that, we should either put this issue on hold and double confirm when the related PR is merged, or we should close.

[2022-11-26 18:13] JmillsExpensify commented on #8592
In either case, let's have @MonilBhavsar and @parasharrajat weigh in on next steps. Can you both prioritize this come Monday? Thank you!

[2022-11-26 18:15] dhairyasenjaliya commented on #11520
Bump for Upwork job for reporting the issue @JmillsExpensify

[2022-11-26 18:19] JmillsExpensify commented on #11809
PR is ready for review. @rushatgabhane has made his way through, and we're awaiting @Luke9389's review once he returns from the Thanksgiving holiday in the US.

[2022-11-26 18:24] JmillsExpensify commented on #11520
Ah for clarity, the US is currently on holiday. Let me create a quick job for you though since it seems we're both online.

[2022-11-26 18:26] JmillsExpensify commented on #11520
Upwork job is here: https://www.upwork.com/jobs/~01ca1e43be96f08f0e.

[2022-11-26 18:30] dhairyasenjaliya commented on #11520
Appied , Ah I see sorry for trouble have a great holiday

[2022-11-26 18:39] JmillsExpensify commented on #11520
Not a problem! Let's get this settled for you, as I'm online. Just sent you an offer via Upwork. 🙌🏼

[2022-11-26 18:43] dhairyasenjaliya commented on #11520
Accepted offer @JmillsExpensify

[2022-11-26 18:45] JmillsExpensify commented on #11520
Payment issue and contract closed! You should be all set now, let me know if I can help with anything else.

[2022-11-26 18:47] dhairyasenjaliya commented on #11520
All good thank you👍 @JmillsExpensify

[2022-11-26 18:49] JmillsExpensify commented on #10906
Shouldn't this be on HOLD for https://github.com/Expensify/App/pull/12370 and not #10965 (which is closed)? If so, can we please update the issue title for clarity?

[2022-11-26 18:50] JmillsExpensify commented on #10632
Still waiting on proposals. I'll swing back for a price increase next week.

[2022-11-26 19:04] JmillsExpensify commented on #10824
Closing the loop on this today. Apologies again for the delay on the regression tests!

[2022-11-26 19:05] fedirjh commented on #13024
## Proposal
### Problem
As mentioned before `onBlur` is fired before `onClick` , hence the error shows when we click back button
### Solution
We can handle mouse event for the form and only validate when mouse is inside the form , this will prevent any validation when we click outside the `Form`
[code]

[2022-11-26 20:09] parasharrajat commented on #8592
It will be finalized on Monday.

[2022-11-26 20:16] thesahindia commented on #13024
@flodnv, can you please confirm if we wanna fix this issue

[2022-11-26 21:02] JmillsExpensify commented on #10894
I like this plan.

[2022-11-26 21:07] JmillsExpensify commented on #11094
Ok great, so at this point we're ready to hire @s77rt right? Please assign the contributor when that next step is decided.

[2022-11-26 21:25] JmillsExpensify commented on #12951
Hmm, yeah that's odd. I can reproduce it as well.

https://user-images.githubusercontent.com/1127863/204109545-da4eff0c-d4ca-46a0-8fd6-1161ab25002a.mov

[2022-11-26 21:26] JmillsExpensify commented on #12804
Following up on this issue, it looks like our automated Github bot is broken as the linked PR hit production 3 days ago. Accordingly, I'm going to update the title to reflect that payment should be issued on 11-29-22.

[2022-11-26 21:31] JmillsExpensify commented on #11398
Updated the title to appropriately reflect that this is held during WAQ.

[2022-11-26 21:37] JmillsExpensify commented on #12622
Agree that the keyboard issues are wider. As for the reproducibility, I think this comes down to whether it's a bug because we can reproduce it on any Android phone, versus wether we can reproduce it on one of the major Android phones in the market (focusing on the US market, because that's where our users overwhelmingly are).

[2022-11-26 21:40] JmillsExpensify commented on #12622
So specifically speaking to Samsung A51, that phone was announced in December 2019. It's going on three years, which is fine but I think that also makes it harder to optimize for. Then on top of that, we have the much bigger convo on which brands/devices in the Android ecosystem we're going to support and which we aren't. I would say for now we should keep this closed unless we can reproduce on an

[2022-11-26 21:45] JmillsExpensify commented on #12784
Yes, agreed. When this bug was originally filed, we didn't have this understanding and agreement in place.

Accordingly, I think we should close this one as well based on our updated discussion and approach.

[2022-11-26 21:45] #12784 closed

[2022-11-26 21:48] JmillsExpensify commented on #12578
For clarity, do we have a proposal that we're evaluating? If not, I'm going to assign the issue to one of our RN experts that help us with fixes upstream.

[2022-11-26 21:53] s77rt commented on #12578
@JmillsExpensify Please check on https://github.com/Expensify/App/issues/12854
I think this issue should be put on hold.
My proposal may fix this issue as well.

[2022-11-26 21:54] JmillsExpensify commented on #12747
I'm fined being tagged! It's good to keep track of these kinds of discussions. Also tagging @trjExpensify as we have alternating holiday time between now and the end of the year, and will be subbing in and out for each other.

[2022-11-26 21:56] s77rt commented on #11094
### Proposal (Updated)
[code]

### Update
- Removed Android native specific code. Android native does not suffer from the issue.
- Applied @aldo-expensify suggestion by using `isFocused()` method instead of a synced state variable

The change is much clearer now and does the job.

https://user-images.githubusercontent.com/16493223/204110237-4eadf680-137f-45c2-93c7-99e90da3603e.mp4

[2022-11-26 21:56] JmillsExpensify commented on #12747
In general, I think this is a good candidate for WAQ, because the refactors precede WAQ from a roadmap perspective, and that makes this an existing issue that should be fixed.

[2022-11-26 21:57] JmillsExpensify commented on #12747
That said, I do wonder if it's better to not solely focus on the close account errors, but instead, errors more generally. I can only imagine that this problem with HTML formatting is going to surface in more parts of the app. I pretty much bet it is.

[2022-11-26 21:58] JmillsExpensify commented on #12709
Awesome, glad to see my memory isn't that bad haha.

[2022-11-26 22:02] JmillsExpensify commented on #11087
Nice work linking all the related issues in Slack. We can take the discussion there for now, as it's still on-going.

[2022-11-26 22:03] JmillsExpensify commented on #10483
Re-opening based on the linked discussion.

[2022-11-26 22:08] JmillsExpensify commented on #12578
Great point! I happened to land on one of the related issues shortly after the above message. We should consider holding all the linked issues in your Slack post on #12854, though I'll just do that for this issue for now given I'm assigned to it.

[2022-11-26 22:10] JmillsExpensify commented on #10483
Whoops, disregard the above.

[2022-11-26 22:11] JmillsExpensify commented on #12713
Quick heads up that our US offices were closed most of this week due to national holidays.

[2022-11-26 22:13] JmillsExpensify commented on #12892
+1 to closing given that this happens on Firefox and that's not an officially supported browser.

[2022-11-26 22:18] JmillsExpensify commented on #11487
I'll handle this since @arielgreen recently helped me with something and I happen to be online to pay out by contributors now. Both @Puneet-here and @Santhosh-Sellavel have been paid out!

[2022-11-26 22:19] JmillsExpensify commented on #11487
I've also just closed the duplicate Upwork job that was just created by removing and re-applying the `External` label.

[2022-11-26 22:19] #11487 closed

[2022-11-26 22:23] JmillsExpensify commented on #11858
Awesome work guys! This is exactly the kind of digging into the codebase we need during WAQ.

[2022-11-26 22:26] JmillsExpensify commented on #7860
@tjferriss I think we're on a good path in this issue, despite it's age. There's a lot of tricky stuff going on, including the HOLD and related issue in the issue title.

[2022-11-26 22:28] JmillsExpensify commented on #10550
Yes, same issue. Commented in the linked PR.

[2022-11-26 22:31] JmillsExpensify commented on #11701
Thanks for jumping into the PR. I see your review/comments in testing now.

[2022-11-26 22:34] JmillsExpensify commented on #12261
Shouldn't this issue be on hold for WAQ?

[2022-11-26 22:36] JmillsExpensify commented on #12263
Still on hold for WAQ.

[2022-11-26 22:37] JmillsExpensify commented on #11732
Closing based on the above comments from contributors.

[2022-11-26 22:37] #11732 closed

[2022-11-26 22:45] JmillsExpensify commented on #11346
Ah yeah, that's the confusion. The bonus only applies to external PRs, per our Contributing guidelines. Regardless, I will quickly apply/remove the external label so that an Upwork job will automatically be created.

[2022-11-26 22:47] JmillsExpensify commented on #11346
@mananjadhav Upwork job is linked above! 🙌🏼

[2022-11-26 22:55] JmillsExpensify commented on #7079
Clarified the WAQ hold and added myself as an assignee to help with when we pick this back up.

[2022-11-26 23:22] kbecciv opened #13062 "Log in - "Continue" button remains initially active on the login page when logout of offline mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR**

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Turn off your int

[2022-11-26 23:31] kbecciv opened #13063 "LHN - Chat with draft message and pending request doesn't jump to the top of the LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12761

## Action Performed:
Preconditions: Some chats with pending money reque

[2022-11-26 23:36] kbecciv opened #13064 "[$1000] mWeb/Chrome - The password input field for the password-protected PDF document is moving"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Go to any chat
4. Open the password-protected PDF d

[2022-11-26 23:40] kbecciv opened #13065 "Account - “Close account” button isn’t disabled if nothing is written in the second input"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in as a Public domain account (e.g gmail) - this account will be closed so use a disposable account or create one for thes

[2022-11-27 02:06] JmillsExpensify commented on #10905
Thank you @jliexpensify! Echoing your last comment, this is the last todo before we can close this issue.

[2022-11-27 02:09] JmillsExpensify commented on #12459
@youssef-lr should we still keep this issue open still waiting on #11189? Given that Applause isn't able to reproduce now, and then the linked issue is on hold for WAQ, I'm inclined to close this one.

[2022-11-27 02:16] JmillsExpensify commented on #12000
@neil-marcellini What do you think? Given that QA isn't able to reproduce this any long I'm inclined to close, or we need to update the reproduction steps so it's more clear how Applause can get the same result.

[2022-11-27 02:17] JmillsExpensify commented on #9580
Working through the commits, but looks like we should be through those really soon, ideally in the coming day or two.

[2022-11-27 02:27] JmillsExpensify commented on #11321
Looks like this is on production at this point. @quinthar Has mobile performance improved for this case?

[2022-11-27 02:27] quinthar commented on #11321
yes, this seems to be fixed, it's miraculous, thank you!

On Sat, Nov 26, 2022 at 6:27 PM Jason Mills ***@***.***>
wrote:

[2022-11-27 02:29] JmillsExpensify commented on #11321
Woo! Go team. @kadiealexander We should make sure that contributors and related are paid out before closing the issue. Thanks!

[2022-11-27 02:33] JmillsExpensify commented on #11807
@aimane-chnaif just returning from holidays. Yes definitely!

[2022-11-27 02:36] JmillsExpensify commented on #11807
In fact, the linked PR was merged a couple of days ago, so it's time to make sure all contributors are hired and we can issue payout. Just hired @parasharrajat and then @aimane-chnaif please apply to the job as well for reporting.

[2022-11-27 02:41] JmillsExpensify commented on #12438
@johncschuster heads up, this needs to be paid out early next week. The automated message for regression period didn't fire for some reason.

[2022-11-27 02:44] JmillsExpensify commented on #12717
Apologies @tjferriss but I'm going to take this over since it's not part of the larger react navigation refactor. I'm the BZ helping manage all the related issues.

[2022-11-27 02:48] JmillsExpensify commented on #11391
Still a low priority, though on the list.

[2022-11-27 02:52] JmillsExpensify commented on #12292
Just checked the linked PR and it's merged, right @marcochavezf? If so, I guess the GH automation failed here.

@thesahindia can you apply to the Upwork job for reporting? https://www.upwork.com/jobs/~013ae3656e861b31b5

At that point we should be good to close this one out?

[2022-11-27 03:36] mananjadhav commented on #11346
Applied @JmillsExpensify

[2022-11-27 04:55] JmillsExpensify commented on #11346
Awesome, offer sent! I'm going to wait to pay until Expensify agrees internally regarding the 50% bonus announcement we've documented in the Contributing.md file. I'll circle back on Monday when people are back and chime in.

[2022-11-27 05:42] JmillsExpensify commented on #12670
@ctkochan22 What do you think? Should we create a fresh issue for this one?

[2022-11-27 05:44] JmillsExpensify commented on #12433
Hired @rushatgabhane via Upwork. I'll circle back tomorrow to confirm he's been able to accept and issue payment.

[2022-11-27 05:48] JmillsExpensify commented on #7270
Any word back from Onfido?

[2022-11-27 06:23] JmillsExpensify commented on #12743
Still on hold based on the linked tracking issue.

[2022-11-27 06:27] JmillsExpensify commented on #12189
Still on hold based on our more pressing focus on bugs atm.

[2022-11-27 06:28] JmillsExpensify commented on #11961
On hold per the larger react navigation initiative.

[2022-11-27 06:28] JmillsExpensify commented on #11524
On hold per the larger react navigation initiative.

[2022-11-27 06:28] JmillsExpensify commented on #11453
On hold per the larger react navigation initiative.

[2022-11-27 06:28] JmillsExpensify commented on #11429
On hold per the larger react navigation initiative.

[2022-11-27 06:28] JmillsExpensify commented on #11420
On hold per the larger react navigation initiative.

[2022-11-27 06:29] JmillsExpensify commented on #11372
On hold per the larger react navigation initiative.

[2022-11-27 06:33] JmillsExpensify commented on #11192
All contributors paid out at this point. I'm still not sure if any regression testing would be helpful, so waiting for a response there because checking that last item off the list.

[2022-11-27 06:34] JmillsExpensify commented on #11189
Not a priority until WAQ is done.

[2022-11-27 06:34] JmillsExpensify commented on #11111
Still held on the larger react navigation reboot.

[2022-11-27 06:34] thesahindia commented on #13065
Not a bug. It is expected.

[2022-11-27 06:35] mananjadhav commented on #9973
I agree with @eVoloshchak's findings and yeah disabling the select should work fine.

I would recommend @eVoloshchak to check if it causes any issues with the mWeb? I know we want to show our context menu everywhere.

When we have selectable false, and do a long press, it selects a text somewhere in the parent/siblings with the Select highlight. But I think having selectable disabled for our item

[2022-11-27 06:35] JmillsExpensify commented on #10939
Still on hold per the linked issue.

[2022-11-27 06:37] JmillsExpensify commented on #10729
#9581 is merged and on staging at this point, so I think we should be able to remove the merge and move forward with next steps. Does that sound right @Santhosh-Sellavel @neil-marcellini?

[2022-11-27 06:37] JmillsExpensify commented on #10615
Still waiting on sequence numbers.

[2022-11-27 06:38] mananjadhav commented on #11094
Updated proposal [here](https://github.com/Expensify/App/issues/11094#issuecomment-1328120448) looks cleaner

[2022-11-27 06:38] JmillsExpensify commented on #10507
Still holding on the larger react navigation project.

[2022-11-27 06:38] JmillsExpensify commented on #10506
Still holding on the larger react navigation project.

[2022-11-27 06:38] JmillsExpensify commented on #10409
Still holding on the larger react navigation project.

[2022-11-27 06:38] JmillsExpensify commented on #9734
Still holding on the larger react navigation reboot.

[2022-11-27 06:39] mananjadhav commented on #11192
Thanks @JmillsExpensify

[2022-11-27 06:39] JmillsExpensify commented on #8657
Still holding on the larger react navigation project.

[2022-11-27 06:39] JmillsExpensify commented on #8126
Still holding on the larger react navigation project.

[2022-11-27 06:39] JmillsExpensify commented on #7737
Still holding on the larger react navigation project.

[2022-11-27 06:40] mananjadhav commented on #11494
I don't have the bandwidth to check this. Can we please reassign? @isabelastisser @marcaaron

[2022-11-27 06:42] mananjadhav commented on #12276
Waiting for the second week of KI. If not reproducible, then we'll decide on the payout and close this one out.

[2022-11-27 06:44] mananjadhav commented on #12291
@jasperhuangg @sakluger Quick bump on the payout here.

[2022-11-27 06:45] mananjadhav commented on #12744
@MitchExpensify @grgia The PR was deployed to production 3 days back but the title wasn't updated

[2022-11-27 07:02] thesahindia commented on #12292
Applied, thanks!

[2022-11-27 07:04] Santhosh-Sellavel commented on #10729
We can close this now or along with #9581.This is already merged, we were waiting for test a particular test case which is passing now. @JmillsExpensify

[2022-11-27 13:03] s77rt commented on #13064
Not a bug, but the `autocomplete` is set to `off` so the suggestion list shouldn't come up.
Can't reproduce on my side.

[2022-11-27 13:10] dnlfrst commented on #12156
### Proposal (Update)

@tgolen @eVoloshchak the updated proposal now fixes the status bar color in a more general way:

[code]

[2022-11-27 13:19] hungvu193 commented on #12693
Can I have reporting bonus for this issue?

[2022-11-27 15:27] mollfpr commented on #12938
@furkanuzundev The changes that you mention are related to https://github.com/Expensify/App/issues/10202, so removing that line will make that issue resurface again. It will work if you have a solution for this issue https://github.com/Expensify/App/issues/10202.

@iwiznia @luacmartins @jliexpensify Do we agree to close this out?

[2022-11-27 15:32] mollfpr commented on #12854
The current proposal from @s77rt is suggesting handling both input selections for iOS and Android. It's required to create 2 states for handling each iOS and Android input selection because this RN issue https://github.com/facebook/react-native/issues/28865.

Should we hold this until the issue on RN is fixed (I doubt it will be fixed in near future) or accepting a workaround for that?

cc @MariaH

[2022-11-27 15:36] mollfpr commented on #12745
@trjExpensify @tgolen Do we want to close this issue?

[2022-11-27 15:37] mollfpr commented on #12521
@srikarparsi @johncschuster Do we want to close this issue?

[2022-11-27 15:45] s77rt commented on #12521
@srikarparsi @johncschuster @mollfpr
Before closing, please consider this [bug](https://github.com/Expensify/App/issues/12521#issuecomment-1320362457) as well.
The mentioned bug is not browser/platform specific but the proposed solution shall fix it too.

[2022-11-27 16:16] kavimuru opened #13066 "[hold for app #12854] [$2000] Shows incorrect emoji while combining the manual and emoji picker selected emoji within the text"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Load new.expensify.com.
2. Open a chat.
3. type `Te:smile :st` in the text bar.
4. remove the space so the smile emoji render

[2022-11-27 16:21] mollfpr commented on #12521
@s77rt Is this the [bug](https://github.com/Expensify/App/issues/11970) that you mention?

[2022-11-27 16:29] s77rt commented on #12521
@mollfpr No, the bug you linked is about the keyboard staying open.
The bug i'm talking about is more annoying and make the app basically unusable and broken. I didn't report the bug yet.
Open a modal, then click the back button in browser or the backpress on mobile and you are now stuck.

https://user-images.githubusercontent.com/16493223/204146533-e760f045-8187-4657-a7a6-1596e453d1af.mp4

[2022-11-27 16:33] kbecciv commented on #13065
@thesahindia
We are Failing step 6 in Test Rail https://expensify.testrail.io/index.php?/tests/view/2964249

![image](https://user-images.githubusercontent.com/93399543/204147818-de887388-5757-480e-84b2-742cf661116f.png)

[2022-11-27 16:36] kbecciv commented on #13064
@s77rt
Can you share the video?

[2022-11-27 16:43] s77rt commented on #13064
@kbecciv

https://user-images.githubusercontent.com/16493223/204148591-77adb7c5-5e68-4a79-b1d3-a91a6e3ca3dd.mp4

[2022-11-27 16:45] kavimuru opened #13067 "Profile Debit Card - Name On Card Field Should Be AutoFocused"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Click on Avatar
2. Click On Payments
3. Click On Add Payment Method
4. Select Debit Card

## Expected Result:
Name On Card Fi

[2022-11-27 16:46] mananjadhav commented on #12963
I agree with @vladamx's comment here.

All the proposals are about either adding/removing the padding, but the title says it doesn't have transparent background.

@shawnborton Can you confirm if that we still need a background image? Is that something which worked earlier and now it doesn't?

[2022-11-27 16:47] kbecciv commented on #13064
It's Reproducible in your end.

[2022-11-27 16:49] syedsaroshfarrukhdot commented on #13067
Proposal

Need to pass **autoFocus** props in addDebitCardPage to the Name On Card Field.

[2022-11-27 16:50] s77rt commented on #13064
@kbecciv That's the expected behaviour. What is not reproducible on my end is the suggestion list that appears in the first uploaded video.

[2022-11-27 16:58] kavimuru opened #13068 "[HOLD for payment 2022-12-20] DEV: Add Debit Card Page Console Error Of Invalid Props Type"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Close App
2. Open App Again
3. Click On Avatar
4. Click On Payments
5. Click On Add Payment Method
6. Select Debit Card

## E

[2022-11-27 17:00] syedsaroshfarrukhdot commented on #13068
Proposal

It is straight forward fix we are using setupComplete: PropTypes.boolean which is invalid
we need to change it to setupComplete: PropTypes.bool

[2022-11-27 17:02] Puneet-here commented on #13067
### Proposal
I don't think we need autofocus here but If this needs to be fixed we have to pass `autoFocus` to focus the input automatically and `shouldDelayFocus` (The  shouldDelayFocus needs to be imported from [here](https://github.com/Expensify/App/blob/main/src/libs/shouldDelayFocus/index.android.js) so that it only delays the focus at android.)
[code]
It needs to passed here -
https://github

[2022-11-27 17:21] kavimuru opened #13069 "Request/Send money available in default-rooms/chatrooms with 2 members, error if used."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. FAB -> Create workspace.
2. Settings -> Workspaces -> Manage members. Ensure it has exactly two members.
3. Open #admin or #an

[2022-11-27 17:51] Pujan92 commented on #13066
**Proposal**

As we are removing the character between the emoji string(: smile:) I think prevState selection logic won't work in the following code.

https://github.com/Expensify/App/blob/17c34e3d0d255210b3c8598869cda25879c1f4e8/src/pages/home/report/ReportActionCompose.js#L392-L396

[code]

[2022-11-27 17:56] thesahindia commented on #13065
I think we need to update the steps.

cc: @Beamanator

[2022-11-27 18:46] Puneet-here commented on #13069
I think the send and request money option is expected the error is a bug. You can check the steps at this [PR](https://github.com/Expensify/App/pull/8839)

[2022-11-27 18:55] PauloGasparSv commented on #12777
Sorry for the delay here everyone.

Also tested and agree with @tienifr's proposal

[2022-11-27 19:03] Puneet-here commented on #13069
### Proposal

If we wanna remove send and request money option then we will need to remove them from chat rooms (default and user created) and also from the policy expense chat.
Add this code at line 286
[code]
https://github.com/Expensify/App/blob/17c34e3d0d255210b3c8598869cda25879c1f4e8/src/pages/home/report/ReportActionCompose.js#L279-L286

[2022-11-27 19:04] s77rt commented on #13066
### Proposal
[code]

### Details:
The current implemented code does not take into account `compensation` and overflow.
In my proposal I added a `compensation` variable to fix the current issue and used `lodashClamp` to cover other cases (e.g. write : wave:hi then remove the space before wave, the calculated position is negative (invalid), this has been fixed as well)

[2022-11-27 19:16] kbecciv opened #13070 "[$1000] Web/ Chrome- Chat - Messages with flags are displayed with contra code"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: In mWeb (iOS Safari)
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Navigate to a co

[2022-11-27 19:17] kbecciv commented on #13070
Just FYI, we checked Firefox browser and flags was displayed correctly.

![image (1)](https://user-images.githubusercontent.com/93399543/204155216-682e75e8-7ff1-4dde-8bff-1a3cd93f5d79.png)

[2022-11-27 19:20] kbecciv opened #13071 "Web - LHN - The search button is very close to the avatar"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Hover over the avatar icon in multiple places

## E

[2022-11-27 19:23] s77rt commented on #13070
### Proposal
[code]

### Details
Noto Color Emoji should be used first and only fallback to Segoe UI Emoji.
Segoe UI Emoji does not support flag emojis.

[2022-11-27 19:39] kbecciv commented on #12123
@PauloGasparSv Issue is reproduced with build 1.2.32.1

https://user-images.githubusercontent.com/93399543/204156064-0471dd42-58ea-4139-a47f-57e5b278bd37.mp4

[2022-11-27 19:40] s77rt commented on #13071
### Proposal
[code]

### Details
Added a gap on the flew row. I used gap1 because it was the only available, maybe another greater gap value would be better.
Also the padding of the search button should be lowed to keep the same visual view (same file, line 155).

[2022-11-27 19:45] kbecciv opened #13072 "New Chat - "Recents" contacts are NOT correctly ordered by the latest messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log with any account which have a lot of contacts
3. Go to New Chat or New Gro

[2022-11-27 19:46] OSBotify commented on #13072
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-27 19:55] s77rt commented on #13072
Unable to reproduce from my side

[2022-11-27 20:29] JmillsExpensify commented on #12433
Nice, paid via Upwork!

[2022-11-27 20:36] JmillsExpensify commented on #10729
Awesome, sounds like a plan. As for regression tests, I think we are already covered via [this test](https://expensify.testrail.io/index.php?/cases/view/1971185&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=229063). Accordingly, I'm going to close. cc @luacmartins please re-open if you disagree and I'll make sure any additional cases are added to that existing test.

[2022-11-27 20:36] #10729 closed

[2022-11-27 20:39] JmillsExpensify commented on #12292
Great, offer sent!

Also I just realized that while the Web PR is merged, the [App PR](https://github.com/Expensify/App/pull/12845) is still outstanding. False alarm on that front, this issue should remain open until that's done.

[2022-11-27 21:03] eVoloshchak commented on #12156
@dnlfrst, the more general approach is awesome!

You are right, just confirmed it working on Chrome, my mistake was using the dark mode

I'm happy with the proposal functionality-wise, there's only a couple of stylistic issues that need to be addressed, `@tgolen` listed them all [here](https://github.com/Expensify/App/issues/12156#issuecomment-1324033170):

- move opacity to the style/variables.js

[2022-11-27 21:13] eVoloshchak commented on #9973
Tested mWeb Safari/Crome, both are unaffected by this change, they currently work as expected

[2022-11-27 21:15] jliexpensify commented on #13048
Hi @luacmartins and @kevinksullivan - I don't have a Gold Wallet set up, and when I did some digging, it looked like [No SSN = inability to use the Wallet](https://expensify.slack.com/archives/C02HWMSMZEC/p1661858968322329?thread_ts=1661858613.132929&cid=C02HWMSMZEC). Reassigned this one for someone else to test!

[2022-11-27 21:21] jliexpensify commented on #12158
Re-opening for additional payment: https://expensify.slack.com/archives/C02NK2DQWUX/p1669355431418599

[2022-11-27 21:33] jliexpensify commented on #12158
Pay $250 to Sobit: https://www.upwork.com/ab/applicants/1596980367791489024/job-details

[2022-11-27 22:03] furkanuzundev commented on #12938
# Proposal

Okay @mollfpr , let's look at another way into problem then.

Android and iOS has different flex behaviour.When we make this changes into `styles.js`,It looks perfectly in both sides but this issue is still occuring.
So, i think we need to give flex for specific Android platform.It's best best stable style that i found.

### Workspace

[code]

### Screenshots

https://user-images.githu

[2022-11-27 22:09] s77rt commented on #12938
@furkanuzundev I don't think you see the problem here.
Entering a new line should increase the text box height (you should be able to see both lines)
Entering a char in the new line should not increase the text box height

In your videos, entering a new line keep the text box at the same height which is undesirable.

[2022-11-27 22:10] furkanuzundev commented on #12938
@s77rt you're correct.I will look at it again.

[2022-11-28 00:26] kadiealexander commented on #11321
https://expensify.slack.com/archives/C01SKUP7QR0/p1669595062240009

[2022-11-28 02:39] LucioChavezFuentes commented on #7860
Update: After further testing in native platforms and some more insights from the react-native maintainers' feedback, this is where I am:

My proposal is applicable only on Web. I can not reproduce the [problems stated in my proposal](https://github.com/Expensify/App/issues/7860#issuecomment-1278264392) in Native platforms except for Problem 2 but this problem has a low impact.

My proposal fixes

[2022-11-28 03:24] mvtglobally commented on #13059
Regression is completed

PR https://github.com/Expensify/App/pull/12596 is failing https://github.com/Expensify/App/issues/13062. It is not repro in PROD, but since its new feature with this PR, we did not label it as blocker, pls double check
PR https://github.com/Expensify/App/pull/12761 is failing https://github.com/Expensify/App/issues/13063. Repro in PROD

[2022-11-28 03:35] sobitneupane commented on #13003
@allroundexperts Thanks for your [proposal](https://github.com/Expensify/App/issues/13003#issuecomment-1327456487).
But it looks like it is not a good idea to use `Form` Component here. In this particular case, we won't be making use of `FormAlertWithSubmitButton` of `Form` component. So, after passing `onSubmit` and `validate` props to the `Form`, we have to reference it back to `ReportSettingsPa

[2022-11-28 03:40] jliexpensify commented on #12158
Paid and job closed!

[2022-11-28 03:40] #12158 closed

[2022-11-28 03:54] hungvu193 commented on #12651
@rushatgabhane
I moved the component for calculating time into a new component, by doing this way everytime it update it won't cause the whole DetailPage re-renders.

[code]
Let's me know what you think.

[2022-11-28 04:13] kavimuru opened #13073 "[HOLD for payment 2022-12-20] [$1000] Unable to bold/ italiced the email addresses and the email address is altered too as it is prefixed with strong"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat
2. Enter an email inside the asterisks to bold it or enter inside underscore to italics
3. Send the comment
4.

[2022-11-28 04:30] kavimuru opened #13074 "[HOLD for payment 2022-12-27] White screen appears when loading chat, after being redirected from IOU modal"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Have an account with some good number of chats between accounts A and B
2. From account A, go to any other chat except B
3. S

[2022-11-28 04:37] kavimuru opened #13075 "[$1000] The last message is automatically set as unread after sending the money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

On hold for https://github.com/Expensify/App/pull/12739

## Action Performed:

1. Go to any chat
2. Click on + icon
3. Click Send money
4. Enter any a

[2022-11-28 04:52] kavimuru commented on #13005
@jliexpensify Can you check with the image attached in the bug?

[2022-11-28 04:54] techievivek commented on #11796
@kbecciv That seems like standard connectivity down info and doesn't look like an error from our end. I tested this myself on staging seems like it is fine.

https://user-images.githubusercontent.com/35863227/204196717-6ef5b506-0689-4b71-9d58-c1e3d789d1fd.mov

[2022-11-28 04:54] kavimuru commented on #12891
@sonialiap It happens in windows / Firefox
<img width="960" alt="2" src="https://user-images.githubusercontent.com/43996225/204196909-9da2a656-9b93-4886-bbe8-1677152e21f4.png">

[2022-11-28 05:21] jliexpensify commented on #13005
@kavimuru I'm not understanding this logic of using one specific image: isn't the purpose of a bug meant to show consistent incorrect behavior? So it shouldn't matter what image is used - as any image used should result in the bug, which isn't what myself and my colleague are seeing.