[2022-08-25 21:23] mallenexpensify commented on #6301
I unassigned Ariel and assigned myself (I was OOO for a while)

What are we waiting for to close this issue and to pay the contributors? [This is the associated PR](https://github.com/Expensify/App/pull/8511), correct?  Looks like it merged a while ago

[2022-08-25 21:28] mallenexpensify commented on #10511
Thanks @danieldoglas (and Rajat for reporting)
@parasharrajat , can you accept the job here please https://www.upwork.com/jobs/~01e710c0363c442812.  Comment here when done and I'll pay you (sidenote... did payment as a milestone cuz testing something... paid amount will be the same, $250)

[2022-08-25 21:30] Santhosh-Sellavel commented on #10518
Yes

@flodnv no one is assigned here

[2022-08-25 21:36] kbecciv opened #10583 "Desktop - Chat - Sending a misspelled word doesn't return autocorrected and doesn't highlight"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR**  https://github.com/Expensify/App/pull/10457

## Action Performed:
1. Open the Expensify Desktop app
2. Sign into a

[2022-08-25 21:39] kbecciv opened #10584 "[$250] mWeb - Copied checkmark not working in "Copy links" - reported by @puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open 1:1 chat with any message received. then tap and holp in message.
2. On the modal list tap in "Copy link"

## Expected Re

[2022-08-25 21:53] Santhosh-Sellavel commented on #10185
@Luke9389

Let me know if I am getting this issue correctly,

1. Send a message with a hyperlink in it. Let's assume the link is expensify.com
2. Right click or long press link shows two options `Copy URL to clipboard` & `Copy Link`
3. On selecting `Copy Link`

Expected is expensify.com

But Actual is a link to that message

Is that right so far?

Then, I believe the expected OP here should be cha

[2022-08-25 21:56] Santhosh-Sellavel commented on #10366
We are open to proposals here

[2022-08-25 21:57] Santhosh-Sellavel commented on #10530
this is a duplicate of #9662

[2022-08-25 21:59] Santhosh-Sellavel commented on #9662
This helps thanks!

Now we have two proposals, I'll re-evaluate again!

[2022-08-25 22:00] mallenexpensify commented on #7925
Thanks for the update @roryabraham , couple things...
1. [Pagination seems broken for chats #7860](https://github.com/Expensify/App/issues/7860) has been on hold pending this issue, should it still be on hold?

When should payment be issued?  If the fix can be tested, I wouldn't think we'd need to wait "to see them used in action via a comment linking implementation" in order to pay for the work b

[2022-08-25 22:01] mallenexpensify commented on #7860
Checking on #7925 about the hold
https://github.com/Expensify/App/issues/7925#issuecomment-1227803008

[2022-08-25 22:05] stephanieelliott commented on #9545
2x'd to $1,000 in Upwork: https://www.upwork.com/jobs/~01d8e5aee09ed40c32

[2022-08-25 22:06] Santhosh-Sellavel commented on #9510
Waiting for a better proposal, using ONYX should be an ideal choice.

[2022-08-25 22:07] Santhosh-Sellavel commented on #9545
Bump @iwiznia !

[2022-08-25 22:08] stephanieelliott commented on #10535
What do you think @roryabraham, should we hire someone to investigate this? Or is there a pretty strong likelihood that this is a RN bug and isn't something we'll be able to fix?

[2022-08-25 22:12] mallenexpensify commented on #8592
Per an internal discussion about monthly labels, bumped back to weekly so we can try to get this fixed soon.

@MonilBhavsar are next best steps to
1. Update the OP to make it clear this issue is specific to fix mWeb (I'm assuming we'll leave the $4000 price then double price a week after if we don't have any takers
2. Create a new issue/job focused on iOS.  If so, what should the starting price be

[2022-08-25 23:05] MadPharaoh commented on #10329
Proposal###

[code]
 it will just trigger a redirect to the App store via the client side on the onload page event of the blank window then close it  and this will just show “open this app in app store” , better to use branch Links if u want it to directly open in page store

[2022-08-25 23:25] ctkochan22 commented on #10410
I think we are already doing that, https://github.com/Expensify/App/blob/a0c8daf2fb9d59d9db903b8cf86ae72bb9f1d3af/src/pages/signin/SignInPageLayout/index.js#L56

At least if I'm understanding you correctly. So if isMedium width is true, use "contain". But for anything greater, use "cover"

[2022-08-25 23:33] shawnborton commented on #10410
Maybe I am suggesting the opposite then. What happens when we just use cover for isMedium?

[2022-08-25 23:38] MitchExpensify commented on #10367
@mvtglobally mind giving this a buddy check for me? Are you able to reproduce this?

[2022-08-26 00:29] kakajann commented on #10410
`cover` is also responsive. you can check it in my proposal video

[2022-08-26 01:36] shawnborton commented on #10410
Okay so that might do the trick then at the isMedium size - can you also share what it looks like for the CPA card image?

[2022-08-26 01:40] roryabraham commented on #7925
@mallenexpensify as far as I know, we can't easily test the bidirectional pagination features in Expensify/App without building comment linking or some other test/feature using the onStartReached prop.

That said, we'll be meeting with Margelo next week to discuss next steps. https://expensify.slack.com/archives/C035J5C9FAP/p1661412756144339

[2022-08-26 02:14] kbecciv opened #10585 "Web- Workspace - When tapping "back", user is taken to VBA flow again"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into a valid account
3. Create a workspace
4. Tap on the Profile icon > Workspace nam

[2022-08-26 02:15] OSBotify commented on #10585
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-26 02:48] Puneet-here commented on #10513
I am fine with the move cursor but we shouldn't be seeing move cursor where you can't move the image. The move cursor should only be shown in the circle because we can only move the image there not outside

[2022-08-26 02:49] shawnborton commented on #10513
That makes sense to me.

[2022-08-26 03:35] mananjadhav commented on #10513
Ahhh I get what you mean now.  Thanks for clarifying @Puneet-here.

@varshamb The cursor shouldn't be visible in the arcs where we don't move the image.

Uploading Screen Recording 2022-08-26 at 9.04.08 AM.mov…

[2022-08-26 03:59] mvtglobally commented on #10575
Regression is almost completed.

PR #10457 is failing https://github.com/Expensify/App/issues/10583. Not a blocker
PR #10461 is failing due to https://github.com/Expensify/App/issues/10552
PR #https://github.com/Expensify/App/pull/10474
https://github.com/Expensify/App/pull/10490#issuecomment-1228023108

[2022-08-26 04:14] mvtglobally opened #10586 "Error while changing Rate or Unit in Reimburse expenses page - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on use icon to open setting page.
2. Click on workspace > Reimburse expenses
3. Change Track distance Rate or Unit

## E

[2022-08-26 04:17] mvtglobally opened #10587 "Invite new members to workspace text-input is not focused - Reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on use icon to open setting page.
2. Click on workspace > manage members > invite .

## Expected Result:
Search field of

[2022-08-26 06:08] ravindra-encoresky commented on #9580
Hi guys, waiting for the review.

[2022-08-26 06:54] luacmartins commented on #9579
@liyamahendra it should replace all of them!

[2022-08-26 07:17] luacmartins commented on #10585
I confirmed that this happens in staging but not in prod.

[2022-08-26 07:28] jasperhuangg commented on #10585
No idea why this is happening, reached out in #engineering-chat for some help

[2022-08-26 07:32] luacmartins commented on #10585
Git bisect tells me [this is the offending commit](https://github.com/Expensify/App/commit/1e27aca6b835a40907574cd5f7dd95ce03208601) but I have no idea why

[2022-08-26 07:35] luacmartins commented on #10585
Hmm maybe I did something wrong along the way haha reverting those changes doesn't seem to fix the issue

[2022-08-26 07:40] jasperhuangg commented on #10585
https://github.com/Expensify/App/pull/10454 isn't included in this deploy checklist but is only on staging at the moment, feel like that's probably what's causing the problem because it's the only thing that's modified the WorkspaceBankAccountPage recently cc @luacmartins

[2022-08-26 07:42] MariaHCD commented on #10529
Since the error was `Cannot read property 'slice' of undefined`, I'm thinking it was either `account.accountNumber.slice(-4)` or `account.cardNumber.slice(-4)` that failed. But not sure why, these values should always be set.

[2022-08-26 07:47] jasperhuangg commented on #10585
@luacmartins yeah I have no idea how changing KeyboardAvoidingView behavior would change that.. I don't think that's the reason either.

[2022-08-26 07:48] luacmartins commented on #10585
https://github.com/Expensify/App/pull/10454 is actually on [prod](https://github.com/Expensify/App/blob/production/src/pages/workspace/WorkspaceBankAccountPage.js) (we must have missed the deploy comment)

[2022-08-26 07:57] sketchydroide commented on #10575
@mvtglobally did you finish the Test Rails?

[2022-08-26 08:11] jasperhuangg commented on #10585
It appears this issue is being caused by https://github.com/Expensify/App/pull/10026, can we revert?

[2022-08-26 08:33] jasperhuangg commented on #10517
@Puneet-here Ah yes, I was actually the one to remove that [here](https://github.com/Expensify/App/pull/10140/files#diff-7fa482b2895f4e36a2a3ad8233496489c6de1256a8c992524e2fc072aaba43f8L676-R680), reason being it was causing a display issue for the Global Offline Indicator on mobile. If we were to just add it back directly, then it would mess up the offline indicator (notice the extra spacing)
<im

[2022-08-26 08:34] OSBotify commented on #10575
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10588) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.91-1` :rocket:

[2022-08-26 08:42] jasperhuangg commented on #10517
Opened up a PR fixing the issue since I was the one to cause it in a PR that was deployed a few weeks ago.

Regardless, thank you for your proposals @mdneyazahmad @Puneet-here

Let's make sure to get @Santhosh-Sellavel compensated for discovering the regression @NicMendonca

[2022-08-26 09:12] laurenreidexpensify commented on #10516
@MonilBhavsar LGTM - what's your take?

[2022-08-26 09:15] laurenreidexpensify commented on #10441
@AndrewGable bump ^^

[2022-08-26 09:17] AndrewGable commented on #10441
How can this cause a regression if the issue is open? Is that what you are bumping me on?

[2022-08-26 09:18] #10441 closed

[2022-08-26 09:32] ntdiary commented on #9620
# Proposal
## Solution
I think we can be consistent with the expected behavior in this [slack chat](https://expensify.slack.com/archives/C01GTK53T8Q/p1661281246518809).

Just use `flex-grow` or use [Form.js](https://github.com/Expensify/App/blob/main/src/components/Form.js) to refactor the component like [this issue](https://github.com/Expensify/App/issues/9575). (the final effect is same)
[code]

[2022-08-26 09:38] OSBotify commented on #10575
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.91-1 has been deployed to staging :tada:

[2022-08-26 09:47] ntdiary commented on #9575
Oh sorry, I think the bot's comment shouldn't be here (maybe it's my fault), I just wanted to cite this issue.

[2022-08-26 09:57] luacmartins commented on #9575
@ntdiary no worries! these comments have been all over the place.

[2022-08-26 11:06] sketchydroide commented on #9580
sorry, been really busy with the releases, reviewing now

[2022-08-26 11:07] sketchydroide commented on #9580
looks good

[2022-08-26 11:13] mvtglobally commented on #10575
@sketchydroide TEstRail is completed

[2022-08-26 11:15] sketchydroide commented on #10575
Thanks for confirming @mvtglobally, I noticed on https://expensify.testrail.io/index.php?/plans/view/8495 that is seemed done, but it's great that you confirm it
we have one last item to check of, we are currently trying to test ourselves, and then I think we will ship it

[2022-08-26 11:23] flodnv commented on #10518
@AndrewGable I don't think this can be External...?

[2022-08-26 11:25] ravindra-encoresky commented on #9580
great, yes applied on upwork already.

[2022-08-26 11:30] sketchydroide commented on #10575
checking https://github.com/Expensify/App/pull/10490 as discussed [here](https://expensify.slack.com/archives/C07J32337/p1661512812943989?thread_ts=1661507865.495079&cid=C07J32337)

[2022-08-26 11:31] JmillsExpensify commented on #10575
Woo, yes thanks for confirming @mvtglobally. Let's get this deploy kicked off.

[2022-08-26 11:32] sketchydroide commented on #10575
:shipit:

[2022-08-26 11:36] sketchydroide commented on #10575
:shipit:

[2022-08-26 11:36] #10575 closed

[2022-08-26 11:38] OSBotify opened #10596 "Deploy Checklist: New Expensify 2022-08-26"
**Release Version:** `1.1.92-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10374
- [x] https://github.com/Expensify/App/pull/10478
- [x] https://github.com/Expensify/App/pull/10591

**Deployer verifications:**
- [x] I checked the [App Timing Dashb

[2022-08-26 11:46] dhairyasenjaliya commented on #10583
Hm i don't think this is an issue as spell check functionality is only validate in iOS not support for any other platform

[2022-08-26 11:51] AndrewGable commented on #10518
I agree, seems internal to me too.

[2022-08-26 13:34] kbecciv opened #10598 "Web - Secondary acc validation - No validation error for the expired link"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10026

## Action Performed:
1. Add secondary account via OldDot and validate i

[2022-08-26 13:39] kbecciv opened #10599 "[$500][Image] Web - Profile - The avatar is highlighted with a blue frame"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Go to Profile>Upload photo
3. Choose the photo>Open
4. Press "Esc" key

## Exp

[2022-08-26 14:04] theTrozen77 commented on #10579
Hi, I have been able to reproduce this and fix it successfully.
`        return {fileName: splitFileName[0], fileExtension};
`
The filename returned was not correct previously.
Thankyou

[2022-08-26 14:12] OSBotify commented on #10596
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.92-0 :rocket:

[2022-08-26 14:31] trjExpensify commented on #7855
Oh, good question. The PR was closed and opened up for new solutions, right? I don't think we'd pay in that scenario, for a solution that wasn't viable in the end. Curious for @mountiny & @pecanoro's thoughts as well.

[2022-08-26 14:39] NikkiWines commented on #10157
Gonna close this out - it's several versions out of date and there's no activity here. If the bug resurfaces we can handle it in a fresh issue.

[2022-08-26 14:39] #10157 closed

[2022-08-26 14:59] varshamb commented on #10513
@mananjadhav we can move the image in the arcs as well. So i think we should show the cursor there as well.

[Screencast from 26-08-22 08:20:42 PM IST.webm](https://user-images.githubusercontent.com/111683206/186933935-1e314c4d-1a48-456b-9ae6-784763bf9c7a.webm)

[2022-08-26 15:00] Santhosh-Sellavel commented on #5336
Yes refer [here](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted)

[2022-08-26 15:01] varshamb commented on #10513
@mananjadhav sure, let's use `cursor: move` for `imageCropContainer` and `cursor: grab` for `sliderKnob`.

[2022-08-26 15:15] varshamb commented on #10599
### Proposal

Use `PressableWithoutFocus` in `AvatarWithImagePicker`.

[2022-08-26 15:16] marcaaron commented on #7855
I'm not sure if it's written down (let's get on it if not) but I recall some precedent for paying out jobs that we later find alternative solutions for or find some disagreement about the accepted proposal. It seems we hired @parasharrajat to do something and later asked to pause the work. So I think _we_ dropped the ball in the design stage where we accepted the proposal or perhaps later when we

[2022-08-26 15:23] varshamb commented on #10587
### Proposal

In workspaceinvite page Autofocus for OptionsSelector is false. Making it true will fix this issue.

[2022-08-26 15:43] youssef-lr commented on #10584
This looks like a bug. The "Copy Link" shouldn't show up if we tap on some text that doesn't include a link. Hence why there's no feedback afterwards as there's no link to copy. Looking into it.

[2022-08-26 15:47] kbecciv commented on #10405
@Luke9389 The slide text at the right is not appearing when resizing the screen, not sure if its expected.

![image](https://user-images.githubusercontent.com/93399543/186943595-d01d4f75-7460-4d0f-a3a0-6444c3a01d17.png)

[2022-08-26 15:56] kavimuru opened #10601 "Web - Login 2FA - The cursor stays in the password input field after pressing "Enter" key in the keyboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. In the log in screen enter an account that has 2FA enabled
3. Enter the correc

[2022-08-26 16:15] kavimuru opened #10602 "mWeb Android - Profile - Removed avatar did not display semitransparent in offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #10393
## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Click on Profile
4.

[2022-08-26 16:17] mallenexpensify commented on #8592
Thanks @parasharrajat, I'll wait for @MonilBhavsar to chime in about next steps too, I'm unsure what we can/should do here.

[2022-08-26 16:21] johnmlee101 commented on #10601
Seems easy enough, I'll tackle this

[2022-08-26 16:22] aimane-chnaif commented on #10512
### **Updated Proposal**

After reviewing [BaseTextInput](https://github.com/Expensify/App/blob/main/src/components/TextInput/BaseTextInput.js), I found significant issue in this component. Let me take example:
Let's say current input value is empty ('')!
1. user inputs 'a'
2. [setValue](https://github.com/Expensify/App/blob/main/src/components/TextInput/BaseTextInput.js#L132) is called and parent

[2022-08-26 16:29] kadiealexander commented on #10514
Still waiting on answers in Slack.

[2022-08-26 16:40] varshamb commented on #10599
@parasharrajat
I read the below in contribution policy and interpreted that it is allowed to Propose even before Label `External`. Please correct me if I am wrong.

![image](https://user-images.githubusercontent.com/111683206/186951760-2398defe-26dc-46c2-a564-4176d8de5f59.png)

[2022-08-26 16:44] kadiealexander commented on #7375
PRs still not merged, still on hold.

[2022-08-26 16:54] dhairyasenjaliya commented on #8592
Am I eligible to get compensation here? As I have added an initial proposal for solving the iOS blue opacity here https://github.com/Expensify/App/issues/8592#issuecomment-1152926071 which eventually gets resolved recently into my another PR which is to solve auto-correct word iOS app issue as mentioned here https://github.com/Expensify/App/issues/8592#issuecomment-1200671587

- As this issue not

[2022-08-26 17:05] mvtglobally commented on #10596
@sketchydroide https://github.com/Expensify/App/pull/10478#issuecomment-1228553185

[2022-08-26 17:09] NicMendonca commented on #10414
@rushatgabhane are you recommending that I close this?

[2022-08-26 17:18] neil-marcellini commented on #10530
Yep this is a duplicate, good find.

[2022-08-26 17:18] #10530 closed

[2022-08-26 17:20] chiragsalian commented on #9245
Discussed 1:1 with rushat and it seems like the task is mostly internal. I'm not too familiar on how the google calendar works and will need some time to investigate. For now i'll update the label from external to internal so that we don't get proposals.

[2022-08-26 17:31] puneetlath commented on #10289
Sounds good to me. Let's do it.

[2022-08-26 17:45] kavimuru opened #10604 "Android - Cursor appears to be behind the first letter of placeholder text"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open the test app
2. sign in to any account
3. click the green + icon and select request money
4. enter any amount and click n

[2022-08-26 18:01] mallenexpensify commented on #8592
I'm still a bit confused here so bear with me....

1. @dhairyasenjaliya you fixed https://github.com/Expensify/App/issues/10291 for iOS native app with this PR - https://github.com/Expensify/App/pull/10457 so you'll be compensated for that at the amount stated $250.
2. This issue (title and OP) has been updated to specifically address iOS Safari.  @dhairyasenjaliya , do you anticipate the fix for

[2022-08-26 18:08] Puneet-here commented on #10513
@mananjadhav we can move the image in the arcs as well. So i think we should show the cursor there as well.

Hmm 🤔 I didn't know about it. Didn't expect that.

[2022-08-26 18:08] neil-marcellini commented on #10587
Re-opening because the Slack discussion is ongoing and there's some good points there.

[2022-08-26 18:11] neil-marcellini commented on #10587
I think this would be a good external issue, but we should hold on implementation until we decide what to do in Slack.

[2022-08-26 18:47] kbecciv opened #10605 "Workspace - The Workspace editor page isn't open after creating the new workspace."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new applause.expensifail account on staging.new.expensify.com
2. Click on Create a New Workspace

## Expected Result:

[2022-08-26 18:49] Santhosh-Sellavel commented on #10329
@MadPharaoh
Your suggesstion is to add `windowRef.close();`  here?

https://github.com/Expensify/App/blob/d5b1c8249bd3538051abe7d7bc728eaa1e64fd3c/src/libs/asyncOpenURL/index.website.js#L23-L25

It breaks everything and does not open any links

It would be helpful if write proposals more clearly, look at these past [jobs](https://github.com/Expensify/App/issues?q=is%3Aissue+is%3Aclosed+label%3A%22

[2022-08-26 18:59] mollfpr commented on #9510
@Santhosh-Sellavel If we using Onyx, should the value input still persist after refreshing the app?

[2022-08-26 19:02] Puneet-here commented on #10579
### Proposal

There are two extensions because we aren't removing the extension from file name and we are adding the extension here too
https://github.com/Expensify/App/blob/d5b1c8249bd3538051abe7d7bc728eaa1e64fd3c/src/components/AttachmentModal.js#L241

The above proposal doesn't work great when a file name has periods in it. It will take the text before the period so the file name will be incomp

[2022-08-26 19:10] deetergp commented on #7435
No updates as yet.

[2022-08-26 19:12] Santhosh-Sellavel commented on #9620
@Expensify/design Any thoughts on this?

[2022-08-26 19:34] kbecciv opened #10606 "iOS/Android/Desktop - Manage members - Admin user disappears if accessing workspace offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: User already has workspace created
1. Open the New Expensify app (iOS, Android or Desktop)
2. Sign into a valid ac

[2022-08-26 19:39] kbecciv opened #10607 "[$250] mWeb/safari - Blue line is displayed when switching from one chat to another"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Click any chat
4. Go to another chat

## Expected Re

[2022-08-26 20:04] kbecciv opened #10608 "[HOLD for payment 2022-10-20] [$500] Mac/Safari - request money flow: user display list is blank or cut off reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to staging.new.expensify.com via Mac/Safari
2. Press green + icon and click on `Request money`
3. Enter money amount and

[2022-08-26 21:01] kbecciv opened #10609 "[Bug] [$250] Android - Invite members - Invite message text box disappears when select emoji picker"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the test app
2. Log in to applause.expensifail account
3. Navigate to the Workspace editor page
4. Navigate to Manage Mem

[2022-08-26 21:11] Santhosh-Sellavel commented on #10357
@puneetlath @trjExpensify

Sorry this should have been caught earlier, actually, the file is available we are looking at `iCloudDrive`, it is downloaded in `On My iPhone`, so we are good to close this one out, cc: @parasharrajat Can you check, please?

https://user-images.githubusercontent.com/85645967/186991029-48cacc22-662e-49d2-b7d7-0e6d46830d0a.MP4

[2022-08-26 21:13] cristipaval commented on #10528
Monthly - because even if the "unread" icon is not visible, there is that (x) suffix in the tab title which lets the user know that there are unread messages.

Other than that, @robertjchen I know you changed the favicon recently. Do you have more context on this? I think this could be externalised, what do you think?

[2022-08-26 21:29] kbecciv opened #10610 "[Bug] [$1000] Android - Split/Send/Request money - The transition is not smooth when requesting/split amount"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any chat
3. Go to any group conversation or chat
4. Click the `+` i

[2022-08-26 21:40] cristipaval commented on #10598
Not sure what priority this issue has, @robertjchen could you please help? I see you worked on ValidateLogin refactor and I thought you might have some context.

[2022-08-26 21:42] Santhosh-Sellavel commented on #7968
@mdneyazahmad
I believe we can use the form submit POC to address this issue too, right?

[2022-08-26 21:45] Santhosh-Sellavel commented on #10357
@parasharrajat Verified on both Device & simulator!

[2022-08-26 21:49] Santhosh-Sellavel commented on #10357
@parasharrajat
[Recording here](https://github.com/Expensify/App/issues/10357#issuecomment-1228952638) is from my personal device,

## Simulator

https://user-images.githubusercontent.com/85645967/186995266-b8842588-848e-4959-a55f-7224763199b8.mp4

[2022-08-26 21:50] Santhosh-Sellavel commented on #9510
On refreshing, we should clear the data

[2022-08-26 22:10] Santhosh-Sellavel commented on #7968
@mdneyazahmad
We can't use that straight away, but something similar would be useful here.

[2022-08-26 22:15] melvin-bot[bot] opened #10612 "[$250] 💥 Crash 💥 `GrTextBlobRedrawCoordinator::internalRemove(GrTextBlob*)`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

##
###
### `libhwui.so` `GrTextBlobRedrawCoordinator::internalRemove(GrTextBlob*)`
### Number of Crashes: 5

## Device Information
* **Platforms:** Android
* **App Versions:** `1.1.92-0`
* **Devices:** Google Pixel 5 13

## Stacktraces
<details>
<summary>Android 1.1.92-0</summary>

[code]
</details>

---
<de

[2022-08-26 23:28] arielgreen commented on #8846
@dharmik Please provide an update.

[2022-08-26 23:52] shawnborton commented on #9620
For @ntdiary 's [proposal above](https://github.com/Expensify/App/issues/9620#issuecomment-1228277931), can we see it on a mobile device that is quite small, like an iPhone SE?

[2022-08-27 01:40] mvtglobally commented on #10596
@sketchydroide
Regression is completed

Issues logged
https://github.com/Expensify/App/issues/10601
https://github.com/Expensify/App/issues/10602
https://github.com/Expensify/App/issues/10604
https://github.com/Expensify/App/issues/10605
https://github.com/Expensify/App/issues/10606
https://github.com/Expensify/App/issues/10607
https://github.com/Expensify/App/issues/10608
https://github.com/Expen

[2022-08-27 02:32] kakajann commented on #10442
Am I eligible for contributor payment?

[2022-08-27 02:39] kakajann commented on #10410
## with CPA card image

https://user-images.githubusercontent.com/11542415/187011018-ce99a8b8-4691-4421-8d91-0f8fafba95b7.mov

[2022-08-27 03:52] techievivek commented on #10442
Yes, @kakajann you are. Let's wait till Monday and then I will bring this to team.

[2022-08-27 04:23] mollfpr commented on #9510
### Proposal

#### Root cause
The `LoginForm` and `PasswordForm` is remounted when the dimension screen is changed to use a different layout. Because of that remount, the state value is reset.

#### Solution
Saving the login and password value to Onyx and initiating the value to the state.

1. Add new Onyx keys to the constants file and create the action to set the value to Onyx
`src/ONYXKEYS.js`

[2022-08-27 04:30] kakajann commented on #10609
# Proposal
This is the `KeyboardAvoidingView` bug when you set its behavior to `height`.

### Solution
We have to make this behavior `undefined` when we use this component in `WorkspaceInvitePage` on Android.
https://github.com/Expensify/App/blob/e21736d87cc1ed95c1f64a54040ce242ced7ebc0/src/components/ScreenWrapper/BaseScreenWrapper.js#L80

We can't simply add the prop (`keyboardAvoidingViewBehavi

[2022-08-27 06:21] dhairyasenjaliya commented on #8592
hm @mallenexpensify actually when I started working on this issue, it was affecting both the iOS app and safari then I added a proposal for the iOS app-specific fix here on 11th June https://github.com/Expensify/App/issues/8592#issuecomment-1152926071 but somehow it gets to hold for internal discussion and then one more issue for auto-correct text got issued in git with the same proposal it gets f

[2022-08-27 06:52] marcaaron commented on #9283
@mananjadhav will you review the changes again?

[2022-08-27 06:54] marcaaron commented on #9283
<img width="879" alt="Screen Shot 2022-08-27 at 7 54 17 AM" src="https://user-images.githubusercontent.com/32969087/187018824-14099db1-2d39-469e-afb7-78a94eb539b4.png">

My expectations here are that @liyamahendra will let us know when the PR is ready for re-review and that @mananjadhav responds to the review request. So, that's what I've been waiting for :)

[2022-08-27 07:55] mzohaibqc commented on #10289
@puneetlath @rushatgabhane

Here is updated proposal on Upwork

https://www.upwork.com/ab/proposals/1563433314376974337?success

[2022-08-27 08:23] liyamahendra commented on #9283
@marcaaron the PR is ready for review. @mananjadhav please do the needful!

[2022-08-27 11:28] mzohaibqc commented on #10289
@rushatgabhane You have not accepted my proposal on Upwork so far and I want to manage this through that. I can start this work staright away after your offer that job to me on upwork.

[2022-08-27 13:24] kbecciv opened #10614 "[$4000] iPadOS - Drag-and-drop and copy paste images from native apps do not work for iPad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run NewDot App
2. Split screen with Photos or Files App
3. Try to Drag-and-drop an image
4. Try to copy and paste an image

##

[2022-08-27 13:31] kbecciv opened #10615 "[Bug] iOS - Offline - Stuck comments occur after queued comments send on return from offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run NewDot App
2. Open any DM chat and turn network off
3. Send few messages and turn network on
4. Send and receive some mess

[2022-08-27 15:40] mountiny commented on #7855
I think the problem here was that the problem disappeared after a while and we could not reproduce reliably. I think that paying out the default amount of `$250` would be a reasonable since paying out the full amount for this fells like a bit too much, but not paying out anything is also not the best way forward as it is not the contributors fault the solution was not needed and they invested thei

[2022-08-27 17:25] mountiny commented on #10586
Might be related to this change https://github.com/Expensify/App/pull/10374

[2022-08-27 19:26] owjhart commented on #7968
The [form submit POC](https://github.com/Expensify/App/pull/9749 ) is a solid way to solve the problem, but requires many changes since `pressOnEnter` is used in [15 buttons](https://github.com/Expensify/App/search?q=pressOnEnter&type=code), so there will be more regression risk.

[This proposal](https://github.com/Expensify/App/issues/7968#issuecomment-1214211844) is similar, simple and could be

[2022-08-27 20:24] puneetlath commented on #10289
@mzohaibqc hired!

[2022-08-27 21:56] Beamanator commented on #10258
Thanks @Tabakharniuk ! PR in the react-native-image-manipulator repo merged 👍 now can you make a PR in E/App with the updated package link? You can see how we currently do this in `package.json` where we link to other Expensify repos 👍 Let us know if you have questions!

[2022-08-28 04:07] mvtglobally opened #10618 "IOS - JSON erroe when sending message with special characters"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. Send multiple messages with special characters

## Expected Result:
User should be able to send any me

[2022-08-28 04:47] mollfpr commented on #10185
@Santhosh-Sellavel I just realized too that `Copy Link` shouldn't be shown when opening the context menu for a link/email. It's already handled by this `type === CONTEXT_MENU_TYPES.REPORT_ACTION`.

[2022-08-28 05:26] b1tjoy commented on #9542
@mananjadhav When I submit https://github.com/Expensify/App/issues/9542#issuecomment-1200443420, we use react-native 0.66.4 in our App, I backport the PR for `automaticallyAdjustKeyboardInsets` to react-native 0.66.4, and I found out that the text input go out of section in some case.

Our current main branch use react-native 0.69.4, I retest with `automaticallyAdjustKeyboardInsets`, the text inpu

[2022-08-28 06:27] mollfpr commented on #10446
### Proposal

We need to decode the text from the clipboard if it's not `text/html`. We can use the `Str.hmltDecode` from `expensify-common` to decode the text.
https://github.com/Expensify/App/blob/e21736d87cc1ed95c1f64a54040ce242ced7ebc0/src/components/Composer/index.js#L311-L312
[code]

For growl notification showing when pasting the text, we can add more checks on the `img` tag with `embeddedI

[2022-08-28 12:10] varshamb commented on #10599
@parasharrajat  Thanks.

[2022-08-28 15:59] mollfpr commented on #9581
### Proposal

Here are the changes that I made so far for refactoring the RequestorStep. It might be not finalized yet since I'm unable to access the form guidelines.

[code]

[code]

[code]

### Result

https://user-images.githubusercontent.com/25520267/187083051-f0277035-5df7-4aaf-b189-2d0d79c8467c.mp4

[2022-08-28 17:37] smrutiparida commented on #9581
**Proposal**

Here is a proposal for the Form changes. This a quick prototype and form styles can only be refined after going through the new design document. Please review.

https://user-images.githubusercontent.com/5945400/187087227-f61e2afa-7795-4be4-a3f9-88b4d5d6d8f8.mov

Test Result without style changes looks like this

<img width="1272" alt="Screen Shot 2022-08-28 at 23 02 54" src="https://

[2022-08-28 21:00] marcaaron commented on #10551
myself and @sketchydroide have made some changes to report page stuff recently and more changes are coming. Once they are all done if this is still happening we can accept proposals. But I'd recommend making this `Internal` until then as it's not clear if this is front end or backend issue.

[2022-08-29 02:12] arosiclair commented on #10615
cc @roryabraham @marcaaron @danieldoglas

Would our new `NumberUtils.rand64()` IDs usage affect the ordering of comments like this?

[2022-08-29 02:29] mvtglobally opened #10620 "Sent money/requested money message disappears on refresh from LHN - Reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to a chat and send money
 2. Refresh the page

## Expected Result:
The message shouldn't disappear

## Actual Result:
The

[2022-08-29 02:39] mvtglobally opened #10621 "IOS - App crashes while tapping on start over option for connecting bank account - @aswin-s"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to workspace settings and select connect to bank account.
2.  Tap on start over option

## Expected Result:
App doesn

[2022-08-29 02:44] mvtglobally commented on #8236
Additional info here
https://expensify.slack.com/archives/C01GTK53T8Q/p1660111267974929

https://user-images.githubusercontent.com/43995119/187112643-ae62348e-0587-452c-a6a3-ecfcdae2c1f8.MP4

https://user-images.githubusercontent.com/43995119/187112654-6d4c19cf-4d8d-4d14-a6d0-15379231cd8d.mp4

[2022-08-29 02:48] mvtglobally opened #10622 "[HOLD for payment 2022-11-16] [$500] Dev - Activating metrics on crashes the app on Android - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.Set the env with following.
ONYX_METRICS=true
CAPTURE_METRICS=true
2. Build the app for android.

## Expected Result:
App shoul

[2022-08-29 02:51] mvtglobally opened #10623 "[HOLD for payment 2022-10-07] [$250] On entering wrong password the error says Incorrect login or password - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to login page
 2. Add your email > continue
 3. Enter wrong password

## Expected Result:
The error should say Incorrect p

[2022-08-29 03:03] mvtglobally opened #10624 "Clicking on internal link (which has invalid route) does nothing - Reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send a message which contain [new.expensify.com/index](http://new.expensify.com/index)
2. Click on the link.

## Expected Resu

[2022-08-29 03:05] mvtglobally opened #10625 "[HOLD for payment 2022-10-21] [$250] When a user is offline clicking on internal links shows a growl that you are offline - Reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send a message which contains https://www.expensify.com/inbox.
2. Click on the link.

## Expected Result:
A growl is shown to

[2022-08-29 03:37] mvtglobally opened #10626 "No desktop push notifications are sent for Concierge chats received in NewDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send message to Concierge to prompt a response
2. Click into another tab
3. Check back a few minutes later to see if Concierge

[2022-08-29 03:47] mvtglobally opened #10627 "[HOLD for payment 2022-10-05] [$250] Edit avatar screen doesn’t open up a a rightDocked modal"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to app and login
2. Open Settings > Profile
3. Click on Photo > Upload Photo

## Expected Result:
Edit avatar screen

[2022-08-29 04:00] mvtglobally opened #10628 "keyboard shows for sometime even after changing screen - Reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go To Profile
2. Click on Add Phone Number
3. Immediate go back to profile

## Expected Result:
keyboard should not show

## A

[2022-08-29 04:02] Puneet-here commented on #10623
### Proposal

Need to replace incorrectLoginOrPassword with `incorrectPassword`

https://github.com/Expensify/App/blob/e21736d87cc1ed95c1f64a54040ce242ced7ebc0/src/pages/signin/PasswordForm.js#L105

https://github.com/Expensify/App/blob/e21736d87cc1ed95c1f64a54040ce242ced7ebc0/src/languages/en.js#L473

[2022-08-29 04:06] mvtglobally opened #10629 "[HOLD] Latest chat isn't showing in LHN after refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Select chat with user B in NewDot
2. Ask user A to send you a message in 15 seconds
3. Close laptop lid
4. Notice new message

[2022-08-29 04:18] mvtglobally opened #10630 "Cannot open WhatsApp chat URLs from NewDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a WhatsApp chat
2. Get a shareable link to that WhatsApp chat, send it in a NewDot message
3. Click on that message in

[2022-08-29 04:24] mvtglobally opened #10631 "Paid IOU still shows as unpaid in the red pill on the upper-right and on the LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Receive IOU
2. Check LHN display
3. Pay it
4. Verify it is no longer displayed in LHN with  red indicator

## Expected Result:

[2022-08-29 04:32] mvtglobally opened #10632 "[$2000] When you long-press on a message in iOS mobile, the message moves out of the screen frame and is hidden"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat with multiple messages
2. Long press on the last message you sent

## Expected Result:
When long pressing

[2022-08-29 05:26] dhairyasenjaliya commented on #8592
@parasharrajat here as we can see the title is updated to iOS on 21st April (for both app and mobile safari) https://github.com/Expensify/App/issues/8592#issuecomment-1105019343, on 16th June you mentioned issue only specific to mWeb https://github.com/Expensify/App/issues/8592#issuecomment-1157915558 perhaps you might miss out the issue was already updated for both platform

[2022-08-29 05:48] JmillsExpensify commented on #10596
@sketchydroide Let's make this your top priority this AM in Europe.

[2022-08-29 07:01] #10544 closed

[2022-08-29 07:08] ntdiary commented on #9620
iPhone SE simulator:

https://user-images.githubusercontent.com/8579651/187143499-24d217c3-2a98-45c9-a4a9-cc050e790e87.mp4

[2022-08-29 07:27] neil-marcellini commented on #10524
I think this issue title and description is better so I'm going to close the other issue and update this one to include the desktop platform.

[2022-08-29 07:27] neil-marcellini commented on #10424
I'm closing this since I'm merging it into https://github.com/Expensify/App/issues/10524.

[2022-08-29 07:27] #10424 closed

[2022-08-29 07:54] NicMendonca commented on #10163
@Santhosh-Sellavel bump!

[2022-08-29 07:55] amyevans commented on #10586
The [Web-E PR](https://github.com/Expensify/Web-Expensify/pull/34587) for the refactor of [Policy_CustomUnit_Update](https://github.com/Expensify/Expensify/issues/215182) had breaking changes in [lib/GetAPI.php](https://github.com/Expensify/Web-Expensify/pull/34587/files#diff-cb404322b33af06216873817c1583a864f2ec874002870f9571d9a07353eb919R144) to the data structure returned. For the time where We

[2022-08-29 07:58] michaelhaxhiu commented on #9827
This seems ready for payment! I'm going to work on that now.

[2022-08-29 07:58] neil-marcellini commented on #10552
Since this is not expected to work offline and the only problem is that the invite button is not disabled, it sounds like the core issue is that the offline status is not detected. I'm closing this in favor of https://github.com/Expensify/App/issues/10524.

[2022-08-29 07:58] #10552 closed

[2022-08-29 08:11] michelle-thompson commented on #10493
I think this could be an opportunity for push to page. In either case, the error can easily be missed as it is. So we should use the brick road pattern here. cc @Expensify/design

![image](https://user-images.githubusercontent.com/43361905/187155236-19c402e6-24e7-45f4-81d6-ef1b2a97bd68.png)

Another suggestion is copy - if the minimum password length is the problem then the error message should re

[2022-08-29 08:19] luacmartins commented on #10618
I got a fix for this.

[2022-08-29 08:23] michaelhaxhiu commented on #9827
Don.e

[2022-08-29 08:23] #9827 closed

[2022-08-29 08:25] Beamanator commented on #8467
I thinkkkk we still want to do this even though it's not top priority at the moment (maybe it should be this week) so i'll reopen

[2022-08-29 08:28] danieldoglas commented on #10615
@arosiclair the ordering could be related since [this](https://github.com/Expensify/Auth/pull/7002) deploy was reverted and I don't think we've deployed it back again?

But I've also tested here and it looks like we're trying to do the write requests even when we're offline, which is strange, so It might be something else too!

[2022-08-29 08:28] NikkiWines commented on #10599
Able to reproduce this on staging, looks like it's good for an external issue 👍

[2022-08-29 08:28] AndrewGable commented on #10596
Per discussion https://expensify.slack.com/archives/C03TQ48KC/p1661759463013119, https://github.com/Expensify/App/pull/10478 is now "No QA" so checking it off.

[2022-08-29 08:29] danieldoglas commented on #10606
Hm. I'm not sure we pre-load workspace users before accessing it. Looking for it

[2022-08-29 08:31] AndrewGable commented on #10596
:shipit:

[2022-08-29 08:31] #10596 closed

[2022-08-29 08:34] OSBotify opened #10637 "Deploy Checklist: New Expensify 2022-08-29"
**Release Version:** `1.1.93-5`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10400
- [x] https://github.com/Expensify/App/pull/10458
- [x] https://github.com/Expensify/App/pull/10554
- [x] https://github.com/Expensify/App/pull/10592
- [x] https://gi

[2022-08-29 08:42] NikkiWines commented on #4612
Not overdue, issue is on hold

[2022-08-29 08:43] puneetlath commented on #8541
It has been C+ approved, so we're finally getting closer.

[2022-08-29 08:43] ctkochan22 commented on #10493
Ooo I like that our guidelines for BrickRoad is lightly discussed here: https://github.com/Expensify/App/blob/main/contributingGuides/OFFLINE_UX.md#b---optimistic-with-feedback-pattern

[2022-08-29 08:44] AndrewGable commented on #10526
@roryabraham - Without digging too deep, should this be held as a part of the overall keyboard improvements issue?

[2022-08-29 08:46] AndrewGable commented on #10221
PR is waiting on @mateusbra

[2022-08-29 08:52] Julesssss commented on #9252
Not overdue, we're still awaiting proposals here.

[2022-08-29 09:09] ctkochan22 commented on #7911
Slapping a not a priority. Let me know if you all think otherwise.

[2022-08-29 09:09] marcaaron commented on #10615
No, because we are still ordering by `sequenceNumber` or `clientID` IIRC.

Are we sure these aren't just "stuck comments" i.e. comments that were created in the server but a Pusher update never received? We've seen that happen recently.

[2022-08-29 09:11] marcaaron commented on #10615
Looking at the video and I am 99% sure that's what is happening... see how the comments are not just out of order but duplicated as well...

<img width="392" alt="Screen Shot 2022-08-29 at 11 10 19 AM" src="https://user-images.githubusercontent.com/32969087/187166863-21a408b8-b15a-4dcb-b435-2c74d9a7f2cf.png">

[2022-08-29 09:12] marcaaron commented on #10615
There is no issue with ordering seems like the ordering works just stuck comments.

[2022-08-29 09:14] puneetlath commented on #10357
I just tested it and it did download into the Expensify folder for me. So I'm going to go ahead and close the issue. Thanks everyone!

[2022-08-29 09:14] #10357 closed

[2022-08-29 09:14] pecanoro commented on #10602
@Gonals It seems this should be working after you implemented [this](https://github.com/Expensify/App/pull/10393). Any idea why the QA passed when @Julesssss tested it but now it's not working?

[2022-08-29 09:15] marcaaron commented on #8467
I'm prioritizing the unread indicators changes this week. Once they are merged we can come back and see if this is still an issue. Though in reality we are deprecating the "counting badge" in favor of a simple badge that doesn't count so unsure if this is still a problem.

[2022-08-29 09:18] joelbettner commented on #10583
I agree that this isn't an issue. I'm going to close this for now. Perhaps we will come back to it later.

[2022-08-29 09:18] #10583 closed

[2022-08-29 09:19] puneetlath commented on #10622
External Upwork post: https://www.upwork.com/jobs/~01b6342fd8e2b2240a
Internal Upwork job: https://www.upwork.com/ab/applicants/1564180886378299392/job-details

[2022-08-29 09:20] Gonals commented on #10602
Ah, wait! This is for the user's profile pic! Mine was for the workspace one! I think the profile one is still in the works.
@jasperhuangg, you were working on this, right?

[2022-08-29 09:21] puneetlath commented on #10521
@marcaaron is this something that would be covered by the project you're working on for the unread indicator?

[2022-08-29 09:23] jasperhuangg commented on #10602
Yep, I'll take a look!

[2022-08-29 09:25] Luke9389 commented on #10513
I think it's fine to use `move` for the whole thing. The circle is showing us what your image will look like, not blocking us from using that part of the UI. Does that make sense?

It seems we all agree on pointer for the slider, so that's good.

[2022-08-29 09:26] Luke9389 commented on #10366
Still waiting on proposals @MelvinBot

[2022-08-29 09:33] ctkochan22 commented on #10629
@mvtglobally

This looks like a nasty one. So the image shown definitely shows that its not showing the message in the LHN. Thats something we need to fix.

And for the next part, when you say:

I can't see on the image, but the left side only shows 3 users? It might be difficult, but can you get a video by chance?

[2022-08-29 09:35] Luke9389 commented on #10185
That's correct @Santhosh-Sellavel.

Interestingly, I just tried to reproduce and it looks like this might have been fixed elsewhere.
@zanyrenney could you help me confirm that this isn't still happening?

[2022-08-29 09:37] trjExpensify commented on #10357
^^ my lesson learnt that I should have got to the bottom of that and reproduced first-hand.

Job is down off Upwork!

[2022-08-29 09:38] Luke9389 commented on #10405
By slide text, do you mean this?

<img width="683" alt="Screen Shot 2022-08-29 at 11 37 22 AM" src="https://user-images.githubusercontent.com/49007721/187172056-ba8ca53b-50bb-4821-aee4-c09504ef0284.png">

[2022-08-29 09:49] Luke9389 commented on #8734
looks like this'll end up being fixed.

[2022-08-29 09:54] bfitzexpensify commented on #10366
Doubled to $500.

[2022-08-29 10:01] Julesssss commented on #10602
Yeah, good spot @Gonals, this is a different issue.

[2022-08-29 10:02] zanyrenney commented on #10185
Hey @Luke9389 it is still happening for me:
<img width="827" alt="2022-08-29_11-01-56" src="https://user-images.githubusercontent.com/56830058/187176863-e2cba8c2-dddc-4025-bb6a-5b11f517da28.png">

[2022-08-29 10:03] Luke9389 commented on #10185
Ah, yeah, I'm just realizing this issue isn't about clicking on links 🤦

[2022-08-29 10:12] stitesExpensify commented on #8594
Not overdue, issue was not reproducible last time it was tested

[2022-08-29 10:12] stitesExpensify commented on #8503
@roryabraham are we still planning on doing this?

[2022-08-29 10:13] stitesExpensify commented on #8131
No update. Still not a priority

[2022-08-29 10:13] stitesExpensify commented on #7420
No update.

[2022-08-29 10:13] stitesExpensify commented on #4324
Not overdue this is still being actively coded

[2022-08-29 10:16] stitesExpensify commented on #9620
Not overdue, there is active discussion

[2022-08-29 10:17] Julesssss opened #10642 "Unable to view group participants on Android"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
- Create a group chat, or navigate to an existing one
- Tap the Group participant icons

## Expected Result:
- The list of partic

[2022-08-29 10:19] stitesExpensify commented on #10078
Just wanted to bump this conversation, do we think this is actionable? Or should I just close it out?

[2022-08-29 10:24] Julesssss commented on #10642
Hey @arielgreen, I'm not 100% this is reproducible for everyone yet so I'll ask in Slack too.

For me this occurs even after logout. I thought that it might be related to the fake user, but it's not reproducible on iOS, with the same app version 😕

[2022-08-29 10:36] mountiny commented on #10553
@kavimuru @mvtglobally Would you be able to confirm this change in the expected result of the regression test?

[2022-08-29 10:45] peterdbarkerUK commented on #10642
I couldn't reproduce
![image](https://user-images.githubusercontent.com/16888060/187184253-4111920e-9ca1-4331-a105-85f93106b414.png)

[2022-08-29 10:46] peterdbarkerUK commented on #10642
Could it be an internet connectivity issue?

[2022-08-29 11:13] sketchydroide commented on #10625
Adding @AndrewGable cause you recently did some work on the links so you might know a bit more of the logic.
This is not a deploy blocker so I think it could be an external.

That said @mvtglobally the 2 videos seems to be the same, not sure if that is on purpose or one of them is the wrong, can you check please

[2022-08-29 11:13] stitesExpensify commented on #10529
I am not able to reproduce this with any of my accounts (both bank and card) on my iphone. Closing for now

[2022-08-29 11:13] #10529 closed

[2022-08-29 11:16] kadiealexander commented on #10612
https://www.upwork.com/jobs/~0108ee5b571f6485cf
https://www.upwork.com/ab/applicants/1564210184717414400/job-details

[2022-08-29 12:02] michaelhaxhiu commented on #9391
Seems this is still in progress and we are still asessing @mollfpr's solution. Let's keep it moving :) 🚂

[2022-08-29 12:04] michaelhaxhiu commented on #9983
Oh wow, not reproducible anymore. @thesahindia are you still able to reproduce on your end? I can try again today too if you like.

[2022-08-29 12:22] mvtglobally commented on #10553
@mountiny we will update TC

[2022-08-29 12:28] zanyrenney commented on #10185
Updated to latest version of newdot... fixed!
<img width="824" alt="2022-08-29_13-27-28" src="https://user-images.githubusercontent.com/56830058/187200872-a37d08fe-7687-433d-983b-2f4b0e796eeb.png">

[2022-08-29 12:28] Luke9389 commented on #10185
Nice! Thanks @zanyrenney!

[2022-08-29 12:28] #10185 closed

[2022-08-29 12:31] marcaaron commented on #10521
I think it's more likely a recent bug but can put it on HOLD and/or assign it to me. Should be `Internal` either way.

[2022-08-29 12:34] zanyrenney commented on #10621
Hey @mvtglobally I don't understand the reproduction steps - they aren't clear enough for me to test. Please can you add a video recording to your issue and more detail on the exact steps taken?

[2022-08-29 12:49] Beamanator commented on #10604
@shawnborton would you please check out this issue and let me know if you think it's worth fixing? I'm leaning toward no, I don't mind if the cursor is slightly overlapping & looks a bit behind the placeholder text, but I don't think I have a good eye for design haha

[2022-08-29 13:12] kadiealexander commented on #10514
Bumped again!

[2022-08-29 13:21] OSBotify commented on #10637
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.93-3 :rocket:

[2022-08-29 13:33] marktoman commented on #7436
That looks like a good solution. There is a chance that Plaid will recognize it as a bug if they replicate the problem using this repo (there is some confusion on their part about how the bug occurs), but I am not very active with them given the total effort-to-price ratio on this issue. The new solution bypasses Plaid and other challenges related to how the flows are implemented.

[2022-08-29 13:38] marktoman commented on #9402
Let me give it another try this week to finally decide if this problem makes my solution unworkable.

[2022-08-29 13:47] MonilBhavsar commented on #10516
Expected result looks good to me!
I would like @mananjadhav to go through proposals first.
Also we should add regex and expected result to automated tests so we don't break it in future.

[2022-08-29 13:51] mountiny opened #10649 "Web app crashing after a while"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

1. Open the app

## Expected Result:
Describe what you think should've happened

The app should loa

[2022-08-29 13:52] OSBotify commented on #10649
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-29 13:56] cristipaval commented on #10598
After looking at this [SO](https://stackoverflow.com/c/expensify/questions/4319), I think the issue isn't a daily because this isn't

[2022-08-29 13:56] varshamb commented on #10513
@mananjadhav okay, that works as well.

cursor: move for imageCropContainer and cursor: pointer for sliderKnob.

[2022-08-29 13:56] kbecciv opened #10650 "Web - Workspace - App Crashed when deleting the Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to Settings>Workspace>Delete Workspace>Delete

##

[2022-08-29 13:57] OSBotify commented on #10650
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-29 14:00] neil-marcellini commented on #10649
I'm not quite sure what is causing this, but I'm guessing that props.policies in AvatarWithIndicator looks something like this, where one of the policies is null. To fix this I will check for if the policy exists in the policy util method.
[code]

[2022-08-29 14:07] davidcardoza commented on #10624
@mvtglobally I am not exactly clear on what the issue is. From testing on my end, the [new.expensify.com/index](http://new.expensify.com/index) link sends me to the expected sign-in page. Can you clarify in more detail what should happen?

[2022-08-29 14:09] mountiny commented on #10649
Havent linked it before, this is coming from https://github.com/Expensify/App/pull/10400

[2022-08-29 14:11] arosiclair commented on #10615
Hmm thanks for the insights. It seems like these optimistic comments might always have the highest `sequenceNumber`. I'll attempt to repro this and see if I can dig in further

[2022-08-29 14:12] mountiny commented on #10553
Thank you, closing this then!

[2022-08-29 14:12] #10553 closed

[2022-08-29 14:23] michaelhaxhiu commented on #7855
I'm following along here and wanted to jump in to say I agree with @marcaaron, and think @mountiny has suggested a good path forward (so long as @parasharrajat agrees that is a fair comp for the time invested!)

[2022-08-29 14:42] mvtglobally opened #10653 "Unable to sign-in to NewDot with a new account on production"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Add an account to the policyExpenseChat beta
2. Head to [new.expensify.com](http://new.expensify.com/) and sign-up
3. Click th

[2022-08-29 14:43] strepanier03 commented on #9705
Waiting for PR merge

[2022-08-29 14:45] iwiznia commented on #10311
This is not correct, it just requires the policy summaries, which are loaded on first load and always there.

[2022-08-29 14:52] mountiny commented on #10650
https://github.com/Expensify/App/pull/10400/ Causing this most likely

[2022-08-29 14:55] mvtglobally opened #10654 "[PAID][$500] NewDot App scroll is 2-3x faster than other apps"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat with a lot of messages
2. Scroll through the tread quickly
3. Leave your finger on the trackpad and move

[2022-08-29 14:58] mountiny commented on #10650
PR to fix this is a review

[2022-08-29 15:00] tgolen commented on #10311
Well, I did no specify what policy objects I was referring to. But my concern still stands:

it requests having a FULL list of **policy summaries** updated on the client

[2022-08-29 15:10] aimane-chnaif commented on #10642
It's a duplicate of https://github.com/Expensify/App/issues/10492 and https://github.com/Expensify/App/pull/10554 fixes this crash and it should not happen from v1.1.93-0
So I think in this GH, need to confirm how the crashed users will look like on this page
According to this [PR](https://github.com/Expensify/App/pull/10554), it will display login (email) for displayName as a fallback

[2022-08-29 15:13] Christinadobrzyn commented on #10555
Created job in Upwork!

Internal posting - https://www.upwork.com/ab/applicants/1564269776150454272/job-details
External posting - https://www.upwork.com/jobs/~01861e855539ef8eb4

[2022-08-29 15:15] roryabraham commented on #10345
@marcochavezf I am going to steal this from you to investigate @ntdiary's proposed solution and see if it fixes the problem, just because I've got a fair deal of experience building RN from source and publishing the fork. It's a pain, but just let me know if you want to take this issue back. I know it's a pain point right now that's going to effect local testing, and by extension the stability of

[2022-08-29 15:17] #10649 closed

[2022-08-29 15:17] #10650 closed

[2022-08-29 15:21] trjExpensify commented on #10653
Given that this is apparently limited to accounts on the `policyExpenseChat` beta, I think this is likely `internal` @aldo-expensify.

CC: @AndrewGable @marcaaron from [the thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1661768050779429).

[2022-08-29 15:24] trjExpensify commented on #6154
Happy Monday, Melvin! I think we're just waiting on @chiragsalian to review the PR now.

[2022-08-29 15:24] Santhosh-Sellavel commented on #9545
Bump @iwiznia

[2022-08-29 15:24] OSBotify commented on #10637
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10652) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.93-4` :rocket:

[2022-08-29 15:24] OSBotify commented on #10637
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.93-4 has been deployed to staging :tada:

[2022-08-29 15:38] kbecciv opened #10661 "[$250] Web -Workspace - Rate amount is not reflecting after changing units under Reimburse expenses"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Log in with any account
3. Go to Settings - Workspace - Reimburse expenses
4. Chan

[2022-08-29 15:45] melvin-bot[bot] opened #10662 "💥 Crash 💥 `hasPolicyError`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: JavaScriptError
### Cannot read property 'errors' of null
### `main.jsbundle:247332:47 line 247332` `hasPolicyError`
### Number of Crashes: 25

## Device Information
* **Platforms:** Android, iOS
* **App Versions:** `1.1.93-3`, `1.1.93.3`
* **Devices:** samsung SM-G973W 11, Apple iPho

[2022-08-29 15:49] kbecciv opened #10663 "[$1000] Web - Request money - Right docked side modal twitches instead of a smooth slide on Next"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensifail.com
2. Click the FAB button and select `Request Money`
3. Enter an amount in the big number pad

[2022-08-29 15:53] aimane-chnaif commented on #10662
This crash should be gone from v1.1.93.4
Fixed in https://github.com/Expensify/App/pull/10652

[2022-08-29 16:01] strepanier03 commented on #8236
I can recreate it, except my logo (on android) shifts down and then back up so it looks like it bounces. My app loads so quickly that I can't capture it with screens either.

Either way, it's reproducible and the videos above illustrate the behavior well. Sending on.

[2022-08-29 16:10] marcaaron commented on #10653
Logs don't tell me much unfortunately other than @trjExpensify has one report on this account (which I'd assume is their 1:1 chat report, but that might not be true).

I can see that the app times out before hiding the loading spinner:

https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%2274247de428af6689-SJC%22)+AND+timestamp:[2022-08-29T09:09:32.920Z+TO+2022-08-29T11:09:32.

[2022-08-29 16:16] kbecciv opened #10664 "Web - General settings - No confirmation growl after saving changes"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the test app and sign in to applause.expensifail account
2. Click on Create a New Workspace if it does not exist
3. Navig

[2022-08-29 16:16] OSBotify commented on #10664
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-29 16:28] kbecciv commented on #10607
QA team is noticed similar issue under Settings.

https://user-images.githubusercontent.com/93399543/187249216-ca44fc5c-0a6a-4b9d-949e-f60b1867e914.mp4

[2022-08-29 16:33] luacmartins commented on #10664
@kbecciv this is the new expected behavior! Successful updates will no longer have a growl. If the request fails, we should see [this error](https://user-images.githubusercontent.com/26260477/186429938-33a44e96-3869-4ccf-ab5c-3955a4eab129.mp4). cc @neil-marcellini

[2022-08-29 16:33] luacmartins commented on #10664
Closing this issue!

[2022-08-29 16:33] #10664 closed

[2022-08-29 16:44] ntdiary commented on #8292
@parasharrajat yes, I think if we just need to disable `auto focus` on the mobile web, there are already some good proposals here. I just wanted to suggest that the above problems can also be fixed if needed. 🙂

In addition, I found a solution that can monitor the transition of the drawer (use `useDrawerProgress`, `useCode`),
so that we can keep `auto focus` on the mobile web if we want to. At the

[2022-08-29 16:46] trjExpensify commented on #10653
Is there anything I can help grab from the console? In the slack thread I shared the OpenApp response I grabbed.

[2022-08-29 17:04] kavimuru opened #10665 "[Pending Payment] [$250] Web/Desktop - Workspace settings side menu does not open after creating workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to staging and login
2. Create Workspace

## Expected Result:
Workspace should be created and side menu Workspace set

[2022-08-29 18:37] kavimuru opened #10666 "Desktop - All inputs aren't grayed out when switched to offline and no offline indication message too"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #10400
## Action Performed:
1. Open App and login
2. Go offline
3. Update the workspace name

## Expected Result:
All inputs

[2022-08-29 18:44] Santhosh-Sellavel commented on #9662
@luacmartins

We have two proposals,
@b1tjoy proposal [here](https://github.com/Expensify/App/issues/9662#issuecomment-1223842594)
@mdneyazahmad proposal [here](https://github.com/Expensify/App/issues/9662#issuecomment-1223852728)

@b1tjoy's proposal
We should refactor it because the code is not DRY, but it solves the issue. I like the idea computing of `email` instead of `link` here. Only email l

[2022-08-29 18:45] kbecciv commented on #10664
@luacmartins Thank you

[2022-08-29 18:53] kbecciv opened #10667 "[$250] Workspace - An error page displayed when try to create a new Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app and login with any account
2. Go to Settings>Workspace
3. Open any existing workspace or create new
4. Click the

[2022-08-29 19:01] Puneet-here commented on #10627
### Proposal

We have to replace this with `CONST.MODAL.MODAL_TYPE.RIGHT_DOCKED`
https://github.com/Expensify/App/blob/89e7e7db469d2f222ebceb7aefa72cb4add0de78/src/components/AvatarCropModal/AvatarCropModal.js#L269

[2022-08-29 19:05] Santhosh-Sellavel commented on #9581
@neil-marcellini
@mollfpr's [proposal](https://github.com/Expensify/App/issues/9581#issuecomment-1229493772) looks good to me.

 🎀 👀 🎀
 C+ Reviewed

[2022-08-29 19:37] Santhosh-Sellavel commented on #9510
@sketchydroide
@mollfpr's proposal looks good to me!

Just one concern.
I think we should use one of the existing keys, ACCOUNT or CREDENTIALS to store these temp values instead of creating a new ONYXKEYS. What do you say?

C+ Reviewed
🎀 👀 🎀

Thanks!

cc: @puneetlath

[2022-08-29 20:01] adelekennedy commented on #8126
pending review

[2022-08-29 20:02] adelekennedy commented on #7942
Seems liek this is still on hold

[2022-08-29 20:02] adelekennedy commented on #8005
still on hold (despite how annoying it is 😂 )

[2022-08-29 20:05] adelekennedy commented on #10609
[internal](https://www.upwork.com/ab/applicants/1564343339340345344/job-details)
[external](https://www.upwork.com/jobs/~011679614d337a9357)

[2022-08-29 20:12] Santhosh-Sellavel commented on #10163
@mountiny
@mdneyazahmad's [proposal](https://github.com/Expensify/App/issues/10163#issuecomment-1222393896) covers all things, except the URLs are not defined in CONFIG.js

@wildan-m's [proposal](https://github.com/Expensify/App/issues/10163#issuecomment-1222393896) corrected their mistake from their old proposal.

I'll let you choose between the two proposals. I'll favor @mdneyazahmad as theirs s

[2022-08-29 20:30] mazhartejani commented on #10555
The issue is that the password input field is losing focus when clicking on the eye button.
the issue can be resolved if you make the password input field focused whenever the eye button is clicked.

Mazhar Tejani
From Upwork

[2022-08-29 20:35] aldo-expensify commented on #10653
Hmm, there must be something else to this. I tried the steps with a new account under a non-controlled domain that I own, and it worked fine:

Account: aldo+test-create-account-bug123@chilepropiedades.cl

I added the beta `policyExpenseChat` using https://www.expensify.com/_support/beta to the account before creating it.

[2022-08-29 21:00] aldo-expensify commented on #10571
Reproduced in dev. My guess is that probably we are not clearing properly some error state in Onyx?

[2022-08-29 21:07] MitchExpensify commented on #10367
Lil bump @mvtglobally, thank you!

[2022-08-29 21:37] mallenexpensify commented on #10551
Reported a similar/same issue this morn, dropped a comment in there and tagged you Marc and Andre (Thanks @rushatgabhane for linking back to this one)
https://expensify.slack.com/archives/C01GTK53T8Q/p1661808976682059?thread_ts=1661807702.326749&cid=C01GTK53T8Q

[2022-08-29 21:37] slafortune commented on #10626
I believe this should have been the engineering tag rather than triage

[2022-08-29 21:49] sonialiap commented on #10579
Triaging, can confirm described behavior
<img width="342" alt="image" src="https://user-images.githubusercontent.com/17131195/187305124-243a20ac-dc63-45f6-a49f-f2016888315d.png">

[2022-08-29 21:54] kbecciv opened #10670 "[HOLD for payment 2023-02-07] [HOLD #11463] [$2000] [Bug] mWeb/iOS - Request money/Split bill - confirmation button is overlapped by the keyboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign in with any account
2. If needed, start a chat with someone other than concierge by clicking the green plus, New chat, ty

[2022-08-29 22:47] mallenexpensify commented on #7911
@ctkochan22 wanna unassign and open up to the pool?  I think we should consider fixing this at some point, although it's not a priority

[2022-08-29 22:56] mallenexpensify commented on #10629
Updated OP with repro steps but... put on hold cuz I wasn't able to reproduce now and also running into an issue where chats are showing but new ones aren't bold.
https://expensify.slack.com/archives/C01GTK53T8Q/p1661807702326749

[2022-08-30 00:55] shawnborton commented on #10604
This is similar to the [money request screen cursor issue](https://github.com/Expensify/App/issues/10366), we should combine these into one issue as it's the same "bug"

If we can find an easy way to fix this, I am all for it. Google does something similar with material design so maybe we can get some ideas there.

Otherwise we just move the "Optional" part into the label, like `What's it for? (Op

[2022-08-30 00:56] shawnborton commented on #10493
I agree, I don't think we realized that we'd prompt for a password inline with the button when we first designed this. So I do like the idea of pushing out to a new page with the form input.

[2022-08-30 00:57] shawnborton commented on #9620
The behavior from the iPhone SE video feels strange - why is the green button so far away from the bottom input?

[2022-08-30 01:40] mollfpr commented on #9510
We can use the `ACCOUNT` key, and I think we can make it more simple to use only 1 key to holding the temp value for login/password.

[2022-08-30 02:35] jasperhuangg commented on #10666
@neil-marcellini Looks like this is related to https://github.com/Expensify/App/pull/10400, gonna assign ya

[2022-08-30 02:55] mvtglobally commented on #10367
@MitchExpensify I was not able to repro, but asked the team as well to see if anyone can repro

[2022-08-30 04:03] mananjadhav commented on #8929
@JosueEchandiaAsto Please update on the PR. We've waited for more than 3 weeks now for an update now.

[2022-08-30 04:05] mananjadhav commented on #7470
quick update, I am testing this (also while generally using the app), to ensure that we don't break anything. It should be ready to merge in this week.

[2022-08-30 04:05] mananjadhav commented on #9283
I'll do that today.

[2022-08-30 04:07] mananjadhav commented on #9542
I'll check your findings @b1tjoy. Thanks for the post.

[2022-08-30 04:13] mananjadhav commented on #10516
Checking the regex.

[2022-08-30 04:14] mananjadhav commented on #10513
Yeah @varshamb this looks fine.

@Luke9389 we can go ahead with @varshamb's proposal.

[2022-08-30 05:05] mvtglobally commented on #10637
Regression is completed

PR #10400 is failing due to https://github.com/Expensify/App/issues/10666
PR #10597 is failing due to https://github.com/Expensify/App/issues/10661

[2022-08-30 05:53] varshamb commented on #10555
### Proposal

We should add `keyboardShouldPersistTaps="always"` for all `TextInput` in `PasswordPage`.

[2022-08-30 06:07] Santhosh-Sellavel commented on #9620
@shawnborton That's common issue that occurs in mWeb Safari it exists it all pages and forms, and we have separate issue for that.

[2022-08-30 06:35] aneequeahmad commented on #10586
@madmax330 is there any bug reporting job created for this, i can see this is fixed in prod.

[2022-08-30 07:03] #9440 closed

[2022-08-30 07:03] #9452 closed

[2022-08-30 07:05] JmillsExpensify commented on #10376
I put a hold on this, as I'd prefer to see us align on status and our plan moving forward.

[2022-08-30 07:19] luacmartins commented on #9662
I agree, thanks for the nice summary @Santhosh-Sellavel! @b1tjoy your proposal looks good! Assigning you to this issue!

[2022-08-30 07:26] luacmartins commented on #10654
I couldn't reproduce this. I'll mark it as external to get more eyes on it though.

[2022-08-30 07:45] Julesssss commented on #10663
I can reproduce this, but only on safari. Chrome and Android is working fine:

https://user-images.githubusercontent.com/10736861/187378953-01519957-9a9a-4819-af20-b0b696d18f29.mov

[2022-08-30 07:55] kbecciv commented on #10405
Correct

[2022-08-30 08:12] bfitzexpensify commented on #9548
7 days since deploy to production, no regressions - paid out and ended contract in upwork.

[2022-08-30 08:12] #9548 closed

[2022-08-30 08:16] OSBotify commented on #10637
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10660) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.93-5` :rocket:

[2022-08-30 08:16] OSBotify commented on #10637
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.93-5 has been deployed to staging :tada:

[2022-08-30 08:16] marcochavezf commented on #10642
I can't reproduce it either

[2022-08-30 08:28] marcaaron commented on #10653
Alright so took a look at the data and it seems like the one report you have has a type of `domainAll`

<img width="327" alt="Screen Shot 2022-08-30 at 9 49 50 AM" src="https://user-images.githubusercontent.com/32969087/187381175-1371bac1-6494-4a0f-9eaf-19abb5e1561c.png">

Still not able to reproduce though and I don't get that room when creating a new account locally.

[2022-08-30 08:29] metehanozyurt commented on #10555
## Proposal
### Cause
When we click eye icon text input lost focus on mWeb.

### Solution
We can make it focus again when calling the `togglePasswordVisibility` function.

https://github.com/Expensify/App/blob/ca481ed2a28d8b27e116dbcdb55db166b5134825/src/components/TextInput/BaseTextInput.js#L185-L188

need to change like this

[code]

video:

https://user-images.githubusercontent.com/6093207/1873

[2022-08-30 08:31] deetergp commented on #10614
This definitely looks as though it could be handled by an external contributor.

[2022-08-30 08:33] neil-marcellini commented on #10666
The only problem here is that the app is not detecting when were are going offline, so I'm going to close this and keep the offline indicator issue open https://github.com/Expensify/App/issues/10524.

[2022-08-30 08:34] #10666 closed

[2022-08-30 08:43] neil-marcellini commented on #10524
I'm un-assigning and posting this to n7 in Slack so that someone can take it on with a higher priority. I'll also make it daily. This issue is causing a lot of QA to fail.

[2022-08-30 08:43] Santhosh-Sellavel commented on #10108
Not overdue PR is up

[2022-08-30 08:44] AndrewGable commented on #7436
Defer to @ctkochan22 on that decision!

[2022-08-30 08:46] mananjadhav commented on #9548
@bfitzexpensify I guess I didn't apply here/got hired for C+.

[2022-08-30 08:46] danieldoglas commented on #10615
@AndrewGable maybe this is related? https://github.com/Expensify/App/issues/10524

[2022-08-30 08:49] bfitzexpensify commented on #10356
Doubled to $1000

[2022-08-30 09:05] laurenreidexpensify commented on #10654
https://www.upwork.com/jobs/~01fe8cc5249f5233cc

[2022-08-30 09:07] dylanexpensify commented on #10547
reviewing today :)

[2022-08-30 09:07] dylanexpensify commented on #10160
reviewing today :)

[2022-08-30 09:07] dylanexpensify commented on #9579
Not overdue, any update @liyamahendra?

[2022-08-30 09:16] Beamanator commented on #10670
Looks like something a contributor can work on!

[2022-08-30 09:19] dylanexpensify commented on #10160
@mountiny would you mind giving this a new title fit for an Upwork job? Thank youuu!

[2022-08-30 09:19] dylanexpensify commented on #10547
So it seems this isn't reproducible. Do we still want to export cc @bondydaa @sketchydroide ?

[2022-08-30 09:25] AndrewGable commented on #10637
Discussed the regressions and decided they are not deploy blockers.

[2022-08-30 09:26] AndrewGable commented on #10637
:shipit:

[2022-08-30 09:26] #10637 closed

[2022-08-30 09:27] dylanexpensify commented on #9421
@thesahindia can you apply here for the job so I can pay you out? https://www.upwork.com/jobs/~0130dae03edefa9efb

thank you!

[2022-08-30 09:29] OSBotify opened #10677 "Deploy Checklist: New Expensify 2022-08-30"
**Release Version:** `1.1.94-4`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10147
- [x] https://github.com/Expensify/App/pull/10235
- [x] https://github.com/Expensify/App/pull/10532
- [x] https://github.com/Expensify/App/pull/10581
- [x] https://gi

[2022-08-30 09:31] mananjadhav commented on #9421
@dylanexpensify Can I apply to the same job for C+? I guess I missed applying/getting hired on this one.

[2022-08-30 09:32] mountiny commented on #10163
I will assign @mdneyazahmad since they had a complete proposal earlier. I am sorry @wildan-m for this, I am sure there is many more issues your help will be much appreciated.

Thank you @Santhosh-Sellavel

[2022-08-30 09:33] sketchydroide commented on #10547
I think this is not always reproducible, maybe we can ask QA to try again, and see if this is still an issue
@kbecciv can you guys check if this still happens for your guys?

[2022-08-30 09:33] Gonals commented on #10355
Taking a look!

[2022-08-30 09:33] amyevans commented on #10661
[Discussion in Slack](https://expensify.slack.com/archives/C07J32337/p1661848422598019)

[2022-08-30 09:40] sketchydroide commented on #8710
still same status

[2022-08-30 09:41] dylanexpensify commented on #10182
We need applications to the job FYI!

[2022-08-30 09:42] sketchydroide commented on #9660
so it has been deployed now, and it's up for payment @arielgreen

[2022-08-30 09:44] dylanexpensify commented on #10160
Internal: https://www.upwork.com/ab/applicants/1564549483746217984/job-details
External: https://www.upwork.com/jobs/~0181149ab6732fecb3

[2022-08-30 09:44] dylanexpensify commented on #9421
Go for it!

[2022-08-30 09:55] Julesssss commented on #10642
Confirmed that it is fixed as of `1.1.93-4`, closing

[2022-08-30 09:55] #10642 closed

[2022-08-30 09:56] Julesssss commented on #8797
Still held

[2022-08-30 09:59] aimane-chnaif commented on #10555
### **Proposal**
This is normal behavior in mWeb. In Web, focused input is blurred when any other views are clicked. Therefore keyboard is dismissed in mobile web. There's not such a view property to keep input focused whenever other buttons are pressed.

Also in react-native-web, even though TextInput is inside ScrollView with keyboardShouldPersistTaps = 'handled' or 'always' set, this doesn't wo

[2022-08-30 10:04] wildan-m commented on #10163
no worries, thanks for your feedback

[2022-08-30 10:05] roryabraham opened #10679 "Deprecate REPORT_DRAFT_COMMENT and REPORTS_WITH_DRAFT Onyx keys"
### Problem
We have some redundancies in Onyx:

- `REPORT_DRAFT_COMMENT` stores the draft comments for individual reports
- `REPORTS_WITH_DRAFTS` is essentially a list of boolean values to list out reports that have drafts

This leads to unnecessary extra storage, and (more importantly) confusing code.

### Solution
Eliminate the `REPORTS_WITH_DRAFTS` Onyx key and standardize on `REPORT_DRAFT_COMM

[2022-08-30 10:05] roryabraham commented on #10679
HOLD on https://github.com/Expensify/App/pull/10619

[2022-08-30 10:12] trjExpensify commented on #10653
Oh, interesting. That's the default domain room, but it won't show up unless you're on the `defaultRooms` beta.

[2022-08-30 10:13] roryabraham commented on #10535
I think we should make it external. That it's a RNW is just a hunch, and even if that's right we _can_ fix it, because we have our own fork of react-native-web we use.

[2022-08-30 10:15] danieldoglas commented on #10606
I'm talking about this issue to @arosiclair since it may be related to the Workspace API refactors he's been working on

[2022-08-30 10:16] iwiznia commented on #10515
I don't think this is valuable to fix

[2022-08-30 10:16] #10515 closed

[2022-08-30 10:19] bfitzexpensify commented on #9548
@mananjadhav so it would seem - I created a new job and sent you an offer, will complete payment and contract when you accept.

[2022-08-30 10:19] mountiny commented on #10509
@mvtglobally Is this issue still reproducible? We merged some PRs touching this code since 6 days ago so I am wondering if this is still an issue.

[2022-08-30 10:20] roryabraham commented on #8503
yes! We are now on our forked equivalent of the upstream RN 0.69.3. As soon as we _can_ turn on Fabric without introducing regressions, we absolutely should!

[2022-08-30 10:25] dhairyasenjaliya commented on #10509
@mountiny this is different issue, we have added fix for Android whitespace issue

[2022-08-30 10:27] mananjadhav commented on #9548
Accepted @bfitzexpensify

[2022-08-30 10:28] roryabraham commented on #10078
I wasn't able to find this error in Crashlytics to tell if it's still happening, so I'm going to just close this out as @stitesExpensify has suggested 👍

[2022-08-30 10:28] #10078 closed

[2022-08-30 10:29] mountiny commented on #10586
@bfitzexpensify Would you please create reporting bonus job on upwork for @aneequeahmad and pay them out? Thank you very much!

@aneequeahmad Thanks for eagle's eye!

[2022-08-30 10:29] mountiny commented on #10509
Adding External label if this is an existing issue still.

[2022-08-30 10:35] iwiznia commented on #10311
Yes, which we always will have.

[2022-08-30 10:42] bfitzexpensify commented on #10526
I'll update this to hold and subscribe to that issue, but I'm having trouble finding it - mind sharing a link @AndrewGable / @roryabraham?

[2022-08-30 10:47] puneetlath commented on #8608
@andrewlor @Santhosh-Sellavel sent you both hiring offers in Upwork so we can pay out for this job. Please accept when you have a chance.

[2022-08-30 10:49] bfitzexpensify commented on #10586
Contract created, accepted, paid and ended

[2022-08-30 10:49] #10586 closed

[2022-08-30 10:51] mountiny commented on #10586
🚀

[2022-08-30 10:51] Puneet-here commented on #10586
Hmm I doubt if it was eligible for the reporting bonus. There was no PR made to fix this specifically (If I am correct?) and this issue was going to get solved as mentioned above.

[2022-08-30 10:55] aneequeahmad commented on #10586
@Puneet-here, a bug which is on Production and has priority should be reported ASAP so it can be fixed on priority in a separate PR or existing PR. Does this makes sense ? Thanks

[2022-08-30 10:59] Luke9389 commented on #10405
Ah ok cool. That's the intended behavior. Thanks for stickin with me @kbecciv!

[2022-08-30 10:59] #10405 closed

[2022-08-30 11:00] mountiny commented on #10586
@Puneet-here We discussed internally, the issue was valid at the time of reporting and it was our fault we have messed up the order of deployments and deployed frontend before the backend was ready.

We want to make sure contributors keep testing and discovering bugs and incentivize contributors to do this. The bug was valid and it was not contirbutor's fault it was fixed by backend deploy.

I agr

[2022-08-30 11:01] puneetlath commented on #10667
Upwork job: https://www.upwork.com/jobs/~0130559a1d7f12c75c

[2022-08-30 11:04] puneetlath commented on #10662
Right you are, thanks! Closing.

[2022-08-30 11:04] #10662 closed

[2022-08-30 11:12] puneetlath commented on #10109
@mananjadhav @Santhosh-Sellavel sent you both hiring offers for the job through Upwork. Please accept when you have a chance so we can pay this out. Thanks!

[2022-08-30 11:15] roryabraham commented on #7942
@adelekennedy this is held on me listing out components that are dependent upon personalDetails to render and determining which ones we should use skeleton UI on (where personalDetails are not guaranteed to be provided and are used for rendering purposes).

Here's a list of components that are currently _using_ personal details, but I haven't qualified which are not guaranteed to have them at the

[2022-08-30 11:15] JmillsExpensify commented on #9662
Great, I'm going to create a fresh job in Upwork now that we're ready to hire. It's here: https://www.upwork.com/jobs/~0111e0f1a39910edf7. @Santhosh-Sellavel I've gone ahead and invited you. @b1tjoy can you please apply and I'll make sure you are hired? Thanks all!

[2022-08-30 11:16] roryabraham commented on #7942
More work is needed, but ultimately the next step here is to create new issues to render the skeleton UI when we're waiting for personalDetails, and then close this out. No external job will be associated with this issue.

[2022-08-30 11:17] JmillsExpensify commented on #10469
Ok gotcha. Sorry about that, been heads down in the roadmap. I'm creating an issue to get this looked at by contributors.

[2022-08-30 11:18] JmillsExpensify commented on #10469
Upwork job is here: https://www.upwork.com/jobs/~01249155bb24a185ec. We're open for proposals.

[2022-08-30 11:19] puneetlath commented on #9739
@parasharrajat @mananjadhav I've sent you both hiring offers through Upwork. Please accept when you get a chance so that we can pay you out. Thanks!

[2022-08-30 11:20] JmillsExpensify commented on #10670
Yes, though I thought that we decided that we're going to treat all keyboard issues centrally at the moment? I'll ask in Slack for confirmation.

[2022-08-30 11:21] roryabraham commented on #10526
https://github.com/Expensify/App/issues/10273

[2022-08-30 11:22] roryabraham commented on #10609
Putting this on HOLD on https://github.com/Expensify/App/issues/10273

[2022-08-30 11:24] puneetlath commented on #10667
Hey @Tushu17, thanks for reporting that bug. This issue is slightly different. This happens when **creating** a workspace, not **deleting** it. The error page is momentarily shown before the new workspace page is shown.

[2022-08-30 11:31] Tushu17 commented on #10667
Okay @puneetlath, I think both of these bugs are very similar, So Ig it would be better if we merge them?

[2022-08-30 11:40] Luke9389 commented on #10513
OK cool. Thanks @mananjadhav. @varshamb you've got the 🟢 green light 🟢 to make a PR. Thanks!

[2022-08-30 11:41] cead22 commented on #10605
Labeling Demolition instead of External since this is something we should fix asap

[2022-08-30 11:55] grgia commented on #10524
Offline message seems to be working on staging web/mobile ios/desktop so far, will continue trying to replicate

[2022-08-30 12:06] liyamahendra commented on #9579
@dylanexpensify my availability has changed (busy on other project), so I won't be able to take this up please.

[2022-08-30 12:11] dylanexpensify commented on #9579
cc @luacmartins @mananjadhav ^

[2022-08-30 12:12] NicMendonca commented on #8236
Job posting: https://www.upwork.com/jobs/~01bf7b064475150eec

[2022-08-30 12:13] kbecciv commented on #10547
@sketchydroide Checking with team, will update you shortly.

[2022-08-30 12:14] thesahindia commented on #9421
Applied. Thanks :)

[2022-08-30 12:25] zanyrenney commented on #10621
bump @mvtglobally thanks!

[2022-08-30 12:29] thesahindia commented on #10663
It was already logged here https://github.com/Expensify/App/issues/9704

@Julesssss can we close https://github.com/Expensify/App/issues/9704 since this one is already in the action.

[2022-08-30 12:32] grgia commented on #10524
[v1.1.94-2 -  iOS is good](https://expensify.slack.com/archives/C02HWMSMZEC/p1661862511946439?thread_ts=1661849042.339779&cid=C02HWMSMZEC)

[2022-08-30 12:41] iwiznia commented on #9545
We are moving away from growls

[2022-08-30 12:52] grgia commented on #10524
@kbecciv I'm not able to reproduce the error, could you retest so we can close this out?

[2022-08-30 13:08] michaelhaxhiu commented on #9509
All paid.

[2022-08-30 13:08] #9509 closed

[2022-08-30 13:14] kbecciv opened #10688 "[$1000] Android 13-RM/Split - Land on LHN screen instead DM chat after sent RM or split bill."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open App and Log in to a HIGH TRAFFIC (Expensifail) account.
2. Click the FAB button again and select `Request Money`
3. Enter

[2022-08-30 13:20] johnmlee101 commented on #10579
Opening for external, seems like a very easy fix based off of the two proposals already

[2022-08-30 13:21] varshamb commented on #10571
### Proposal

We need to change this to `incorrectPassword`

https://github.com/Expensify/App/blob/22a0cba7aaeaa786f04a63a5ad74c650c4c35001/src/pages/signin/PasswordForm.js#L109

[2022-08-30 13:25] aldo-expensify commented on #9545
Agreed, and I don't think it is necessary to notify the user because the URL is not something they should be accessing in a normal flow.

[2022-08-30 13:35] dylanexpensify commented on #9421
Jobs paid out, contracts ended, posting removed!

[2022-08-30 13:35] #9421 closed

[2022-08-30 13:38] Beamanator commented on #10670
Ohhhhh I think you're right

[2022-08-30 13:46] kbecciv commented on #10547
@sketchydroide Unable to reproduce it for all environments.

[2022-08-30 13:46] joelbettner commented on #10665
I think we can make this an external.

[2022-08-30 13:58] kadiealexander commented on #10412
https://www.upwork.com/ab/applicants/1564612480272011264/job-details
https://www.upwork.com/jobs/~01228ae8a80c9dfe63

[2022-08-30 13:58] roryabraham commented on #10345
Tried to do this but ran into issues updating our fork: https://expensify.slack.com/archives/C03TQ48KC/p1661867760213829

[2022-08-30 13:59] kadiealexander commented on #10446
@mananjadhav any thoughts on the above?

[2022-08-30 14:03] arosiclair commented on #10606
There shouldn't be any expectation that the user would see themselves in the Manage members page while offline. The list of users displayed on this page while offline is the same list that was displayed while previously online. If the user has never browsed this page while online, there will be no data displayed while offline.

[2022-08-30 14:03] #10606 closed

[2022-08-30 14:12] mananjadhav commented on #10446
Please allow me a day to check.

[2022-08-30 14:12] luacmartins commented on #9579
Still looking for proposals

[2022-08-30 14:26] sketchydroide commented on #10547
thanks, I think we can close for now, if it's an issue we will reopen, it might be that a PR that was needed did not go toghether with another one, or a Web PR was not in Staging at the time of testing, and it was soon after.

[2022-08-30 14:26] #10547 closed

[2022-08-30 14:53] thesahindia commented on #10663
@Julesssss, I was asking to close https://github.com/Expensify/App/issues/9704 😅 since this issue was already moving forward and #9704 has no one assigned.

[2022-08-30 14:55] kbecciv commented on #10524
@grgia Checking with team, will update you shortly

[2022-08-30 14:55] trjExpensify commented on #10571
Hm, @robertjchen is this perhaps related to the `authenticate` API refactors? If so, does it need to remain internal?

[2022-08-30 14:56] kadiealexander commented on #10630
https://www.upwork.com/jobs/~01461e19c049bb664e
https://www.upwork.com/ab/applicants/1564627968378736640/job-details

[2022-08-30 14:59] mountiny commented on #10163
@mdneyazahmad @Santhosh-Sellavel Lets try to get this out sooner than later if possible. This is very handy feature for our QA to catch some API mistakes in staging before it hits production 🙇

[2022-08-30 15:01] thesahindia commented on #10571
Hmm I was trying to enable two factor authentication at https://www.expensify.com/ but when I enter the code from my authenticator app, I get invalid code error.
<img width="601" alt="Screenshot 2022-08-30 at 8 29 18 PM" src="https://user-images.githubusercontent.com/83179295/187471210-7d3c6fe3-7a75-4f55-956c-c57a7b834476.png">

[2022-08-30 15:06] jayeshmangwani commented on #10665
### Proposal

we need to pass the array in this Promise.all in create function

https://github.com/Expensify/App/blob/22a0cba7aaeaa786f04a63a5ad74c650c4c35001/src/libs/actions/Policy.js#L136-L144

[code]

https://user-images.githubusercontent.com/35371050/187472584-ecb8ab39-900e-466d-bf3a-71098464f82c.mov

[2022-08-30 15:08] thesahindia commented on #9976
Not sure but I think the fix was deployed to production but melvin didn't comment about it, I tested it on prod and it is not reproducible anymore.

[2022-08-30 15:16] mvtglobally commented on #9541
Issue not reproducible during KI retests. (Second week)

[2022-08-30 15:17] mvtglobally commented on #9465
Issue not reproducible during KI retests. (Third week)Closing

[2022-08-30 15:17] #9465 closed

[2022-08-30 15:17] kadiealexander commented on #9817
Everyone is paid! Thanks team :)

[2022-08-30 15:17] mvtglobally commented on #7962
Issue not reproducible during KI retests. (Second week)

[2022-08-30 15:18] mvtglobally commented on #8594
Issue not reproducible during KI retests. (Second week)

[2022-08-30 15:18] mvtglobally commented on #8597
Issue not reproducible during KI retests. (First week)

[2022-08-30 15:19] mvtglobally commented on #9123
Issue not reproducible during KI retests. (First week)

[2022-08-30 15:19] mvtglobally commented on #9918
Issue not reproducible during KI retests. (Fourth week)

[2022-08-30 15:20] mvtglobally commented on #9928
Issue not reproducible during KI retests. (First week)

[2022-08-30 15:20] mvtglobally commented on #8915
Issue not reproducible during KI retests. (Fifth week). Still trying

[2022-08-30 15:21] trjExpensify commented on #10571
([Internal ref](https://expensify.slack.com/archives/C02HWMSMZEC/p1661871608028319?thread_ts=1661796380.199039&cid=C02HWMSMZEC)) - Keeping this one `internal` as it's likely due to the `authenticate` refactors.

CC: @robertjchen @MonilBhavsar

[2022-08-30 15:21] mvtglobally commented on #9422
Issue not reproducible during KI retests. (First week)

[2022-08-30 15:21] mvtglobally commented on #9983
Issue not reproducible during KI retests. (Second week)

[2022-08-30 15:22] mvtglobally commented on #10109
Issue not reproducible during KI retests. (Second week)

[2022-08-30 15:23] mvtglobally commented on #10198
Issue not reproducible during KI retests. (Second week)

[2022-08-30 15:23] mvtglobally commented on #9332
Issue not reproducible during KI retests. (First week)

[2022-08-30 15:23] mvtglobally commented on #10186
Issue not reproducible during KI retests. (Second week)

[2022-08-30 15:24] mvtglobally commented on #10187
Issue not reproducible during KI retests. (Second week)

[2022-08-30 15:24] mvtglobally commented on #10292
Issue not reproducible during KI retests. (First week)

[2022-08-30 15:24] trjExpensify commented on #10665
Adding yah back for CM, @NicMendonca.

[2022-08-30 15:24] mvtglobally commented on #10350
Issue not reproducible during KI retests. (First week)

[2022-08-30 15:25] mvtglobally commented on #10356
Issue not reproducible during KI retests. (First week)

[2022-08-30 15:26] mvtglobally commented on #10533
Issue not reproducible during KI retests. (First week)

[2022-08-30 15:31] mountiny commented on #10292
@mvtglobally I can still repro in staging  :/

[2022-08-30 15:42] kadiealexander commented on #9424
@aswin-s and @ntdiary have been paid, thank you!

@Santhosh-Sellavel please let me know once you've accepted the contract and I'll issue payment here too.

[2022-08-30 15:48] kadiealexander commented on #10514
As discussed in Slack, we need to determine the list of file types allowed. @ctkochan22 it was suggested that you might be able to hunt this down?

[2022-08-30 16:01] robertjchen commented on #9976
Thanks for the confirmation! This should be complete for now 👍

[2022-08-30 16:01] #9976 closed

[2022-08-30 16:05] thesahindia commented on #9976
@robertjchen, payment is pending.

cc: @kevinksullivan

[2022-08-30 16:10] syedsaroshfarrukhdot commented on #10283
I tested again on the latest main branch version 1.1.94-4 on iPhone 13 Pro. Payment request was made using Desktop App. It is still reproducible at my end on iPhones. It will continue to happen until we should probably set the height to match the height when the pay button appears as scroll position is thrown off when pay button component is rendered.

Before:-

https://user-images.githubuserconte

[2022-08-30 16:23] neil-marcellini commented on #9581
Overall @mollfpr's proposal is looking very good. Here are some of my initial thoughts. I will ask some questions to the team and based on their response decide how to move forward. I will let you know once we are ready for you to create a PR.

Since you can't access the linked doc, check out [FORMS.md](https://github.com/Expensify/App/blob/b81ff69197e091727b33f8dd53fbc429fdd616b9/contributingGuid

[2022-08-30 16:30] aimane-chnaif commented on #10630
### **Proposal**
RCA: `href`, `hrefAttrs` props are only for react-native-web Text component, not exist in react-native Text component
Reference: https://necolas.github.io/react-native-web/docs/text/, https://reactnative.dev/docs/text

https://github.com/Expensify/App/blob/22a0cba7aaeaa786f04a63a5ad74c650c4c35001/src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.js#L87-L88
Therefore,

[2022-08-30 16:38] robertjchen commented on #10610
I'm not sure I see the issue here w/ "The transition is not smooth". Do you have the original Slack discussion or a more detailed description for additional context?

[2022-08-30 16:41] NicMendonca commented on #10665
job post: https://www.upwork.com/jobs/~0166853faf8e443072

[2022-08-30 16:42] kavimuru opened #10693 "[HOLD for payment 2022-11-22] [$500] mWeb - Request Money- Missing cursor when requesting/split the money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #10147
## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Click FAB > Request Money
4. En

[2022-08-30 16:56] kavimuru opened #10694 "[HOLD for payment 2022-09-15] [$250] Chat - Error message is received when attaching files with extension in caps"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into a valid account
3. Open any chat
4. Attempt to add any attachment through "+" or

[2022-08-30 16:56] mollfpr commented on #9581
Thanks @Santhosh-Sellavel @neil-marcellini  I’ll read the FORMS.md carefully.

[2022-08-30 17:29] trjExpensify commented on #10513
@varshamb - can you apply here when you get a second? https://www.upwork.com/jobs/~015a8a755e0530fbd6 Thanks!

[2022-08-30 17:34] trjExpensify commented on #7855
Cool, thanks for the discussion everyone. Settled up $250, Rajat.

[2022-08-30 17:49] Puneet-here commented on #10584
Hi I had reported it [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1656528217864119?thread_ts=1655914131.049009&cid=C01GTK53T8Q)

[2022-08-30 18:15] kbecciv opened #10697 "[$250] Web - Spanish - Multiple phrases are not changing to Spanish on Expensifail account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com (Or dekstop app)
2. Sign into a valid Expensifail account
3. Click on Profile > Preferences >

[2022-08-30 18:16] theTrozen77 commented on #10694
PROPOSAL

I was able to reproduce the issue and fix it.
It is a simple fix. Just convert the extension string to lowercase using .toLowerCase() method when the file extension is separated from the complete file string.
`        const fileExtension = splitFileName.pop().toLowerCase();
`

Thankyou

[2022-08-30 18:19] theTrozen77 commented on #10579
I believe when Puneet is suggesting here might be an extension to this issue and could be a new ticket. However, my proposal above completely fixes the actual issue here which is that the extension are being repeated twice.

[2022-08-30 18:25] Puneet-here commented on #10579
It's not an extension, your proposal fixes the issue but breaks the file name when there are periods in it, if a solution breaks something then it's not a good solution

[2022-08-30 18:56] shawnborton commented on #10493
I think we'd want to use that same red brick road error message styling here as well. I think it should be available as a component soon once a separate PR gets merged cc @jasperhuangg

[2022-08-30 19:01] shawnborton commented on #9620
Sounds good, thanks for confirming.

[2022-08-30 19:08] kavimuru opened #10698 "mWeb - IOU - Shifted selection in field What's it for? appears after returning to this screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login at staging.new.expensify.com
2. Click the FAB button again and select `Request Money`
3. Input any amount and click Next

[2022-08-30 19:10] kbecciv opened #10699 "[Internal] Web - LHN - Concierge displayed as email address for new account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. On log in page put a new username
3. Click Continue
4. Go back to your email box and clink

[2022-08-30 19:19] marcaaron commented on #10160
Let's see if this gets reopened after my fix above. I'm not sure this should have been exported. Sorry @dylanexpensify !

[2022-08-30 19:19] #10160 closed

[2022-08-30 19:44] jayeshmangwani commented on #10667
### Proposal

we need to pass the array in this Promise.all in create function

https://github.com/Expensify/App/blob/22a0cba7aaeaa786f04a63a5ad74c650c4c35001/src/libs/actions/Policy.js#L136-L144

[code]

**After fix:**

https://user-images.githubusercontent.com/35371050/187528600-ea4adf16-76ee-4edc-aa97-3d894525a6ad.mp4

this same change will fix [10665](https://github.com/Expensify/App/issues/10

[2022-08-30 19:53] kbecciv commented on #10524
@grgia Issue have been reproduced in: Android, IOS,  Desktop app and Web.

https://user-images.githubusercontent.com/93399543/187530204-f01c7ac3-7a8b-43dc-80e3-2bd394f6ab59.mp4

https://user-images.githubusercontent.com/93399543/187530205-9adfb192-64aa-4e6d-8ce8-e1a0c2a29a1a.mp4

https://user-images.githubusercontent.com/93399543/187530213-f92c8429-5e6a-4370-ac3f-d2c6e19abbec.mp4

[2022-08-30 20:10] trjExpensify commented on #10694
Woof, nice catch. Job is on Upwork here: https://www.upwork.com/jobs/~01d1500d5c8671f017

[2022-08-30 20:13] kbecciv opened #10701 "Web - Manage Members - User receives error message when removing others while offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into a valid account
3. Click Profile > Workspace > Manage members
4. Invite a user
5

[2022-08-30 20:38] youssef-lr commented on #10571
So I've managed to fix this by clearing the local state of `PasswordForm` as it was kept saved even when we click "Go back". Which resulted in the password form sending the 2FA code as well instead of just the passowrd. PR ready for reviews if anyone wants to chime in!

[2022-08-30 21:07] kavimuru opened #10703 "Profile - The photo with a gray background does not appear"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #10235

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Click on the avatar picker and upload an ava

[2022-08-30 21:50] shawnborton commented on #10410
Okay I think it's fine like that? Maybe a side by side of IsMedium and IsLarge breakpoints could be helpful too, but I think what I see above in the video would be totally fine.

[2022-08-30 21:52] kbecciv opened #10704 "[HOLD #10894 and #9402][Image] Settings - The grey avatar displayed for a brief moment when uploading a picture"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login at staging.new.expensify.com
2. Navigate to settings by clicking on the user avatar over LHN
3. Click on Profile
4. Clic

[2022-08-30 21:56] #10601 closed

[2022-08-30 22:00] kbecciv opened #10705 "[$250] Web/Desktop - Chat - Unable to go to search bar using arrow keys"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to https://staging.new.expensify.com/
2. Log in with valid account
3. Сlick on the plus button on the left side of th

[2022-08-30 22:55] JediWattson commented on #7862
I just update the videos in the PR and updated the branch with main, hopefully that does it!

[2022-08-30 23:22] Santhosh-Sellavel commented on #10517
@NicMendonca  bump!

[2022-08-30 23:23] Santhosh-Sellavel commented on #5336
@Julesssss bump!

[2022-08-30 23:24] Santhosh-Sellavel commented on #10109
Done @puneetlath

[2022-08-30 23:25] Santhosh-Sellavel commented on #9737
Proposals seems to be redundant, we don't have a consistent reproduction steps either.

[2022-08-30 23:27] Santhosh-Sellavel commented on #9976
@stitesExpensify

@kevinksullivan is ⭕⭕⭕, can you helps get payment issued here, thanks!

[2022-08-30 23:28] Santhosh-Sellavel commented on #9424
Done @kadiealexander thanks!

[2022-08-30 23:34] Santhosh-Sellavel commented on #9620
@stitesExpensify

@ntdiary [proposal](https://github.com/Expensify/App/issues/9620#issuecomment-1228277931) looks good to me!

What we prefer though form migration or `flex-grow` styling?

cc:@shawnborton

[2022-08-30 23:54] tomivs commented on #9628
Were there any regressions?

[2022-08-31 00:04] kbecciv commented on #10414
@rushatgabhane Issue is reproduced with latest build 1.1.94.4

https://user-images.githubusercontent.com/93399543/187564523-ea61b4d2-b8ff-4d5f-a70f-2d42605dc211.MP4

[2022-08-31 00:20] aneequeahmad commented on #9737
@Santhosh-Sellavel there are consistent reproduction steps.

**Action performed :**
- Open any report in mWeb.
- Long press back button in report screen and see the when navigated back `back tooltip is shown`

**Video attached:**

https://user-images.githubusercontent.com/36359331/187566049-699a2af8-e73e-492f-8f47-f7420f8e4e9b.mov

Could i ask why is the proposal redundant ? this code `matchMedia(

[2022-08-31 00:51] mananjadhav commented on #10516
@MonilBhavsar I looked into the Regex, and yeah we're basically filtering only limited characters for group 0 to match. @mollfpr's proposal with **Solution 2**, to support all characters within `[]` looks good with just one issue/question. Let me know if that is an acceptable expected output.

@mollfpr In your second regex, it also accepts if you just put spaces. `[ ](abc@example.com)`, which won'

[2022-08-31 01:47] mallenexpensify commented on #9253
@mananjadhav is @ntdiary wanting on a review of [the comment above](https://github.com/Expensify/App/issues/9253#issuecomment-1227479860)? Can you take a look plz?

[2022-08-31 01:55] theTrozen77 commented on #10694
Hi. Who should be applying to this since my solution is also relevant?

[2022-08-31 02:13] mollfpr commented on #10516
@mananjadhav you got the wrong person 😅

[2022-08-31 02:19] Regaron commented on #9459
#10147 Changed all Input to be controlled.

[2022-08-31 03:35] puneetlath commented on #10109
Paid!

[2022-08-31 03:35] #10109 closed

[2022-08-31 03:39] aimane-chnaif commented on #10516
yes, I also know that case. If `[ ]`, it will look like `_` (not empty) since this is hyperlink.
If this should be excluded, `[ ] (abc@example.com)` will look same as `[ ] (abc@example.com)` without any conversion.
Is that fine?

If fine, here's updated regex:

This doesn't allow spaces at the beginning inside `[]`
i.e.
`[ ](abc@example.com)` ❌
`[  ](abc@example.com)` ❌
`[myemail](abc@example.com)

[2022-08-31 03:55] mananjadhav commented on #10516
Sorry for tagging it wrong. Thanks @aimane-chnaif. This is better. @MonilBhavsar can confirm if spaces are fine. But your proposal looks good to me.

🎀 👀 🎀 
C+ reviewed

[2022-08-31 04:38] mvtglobally commented on #10677
Regression is completed

No blockers, but pls double check the PR issues below
PR #https://github.com/Expensify/App/pull/10235 Is failing due to https://github.com/Expensify/App/issues/10703
PR #https://github.com/Expensify/App/pull/10147 is failing due to https://github.com/Expensify/App/issues/10693

Other Issues logged
https://github.com/Expensify/App/issues/10688
https://github.com/Expensify/A

[2022-08-31 05:32] Puneet-here commented on #10584
Hi @youssef-lr, can you please reopen and apply external label here so that reporting bonus can be paid as this was reported on slack and eligible for the reporting.

[2022-08-31 06:37] Santhosh-Sellavel commented on #8608
Done @puneetlath!

[2022-08-31 06:46] luacmartins commented on #10267
I'm focused on offline first and N7 issues this week. Gonna try to get to this next week.

[2022-08-31 06:46] luacmartins commented on #9582
I'm focused on offline first and N7 issues this week. Gonna try to get to this next week.

[2022-08-31 06:46] luacmartins commented on #9848
I'm focused on offline first and N7 issues this week. Gonna try to get to this next week.

[2022-08-31 06:47] stitesExpensify commented on #9976
Hi @laurenreidexpensify can you help get the payment issued?

[2022-08-31 06:58] SofiedeVreese commented on #10510
Should we reassign this one, given you'll be on Sabbatical soon?

[2022-08-31 07:01] jasperhuangg commented on #10703
Taking a look since this was related to my PR

[2022-08-31 07:03] Beamanator commented on #10667
I agree we can close this one since it's a duplicate of https://github.com/Expensify/App/issues/10665 (seems both were created at almost the exact same time haha)

[2022-08-31 07:03] Julesssss commented on #10663
Haha whoops, thanks for letting me know

[2022-08-31 07:06] Beamanator commented on #10665
@parasharrajat good find, it makes sense to keep this one open and close the other - also since this issue was created first (barely).

This is a regression from the PR you mentioned but that PR was created by an internal employee and it didn't make it to Production, so I don't think there's much to do there except get it fixed in this issue - what do you think?

[2022-08-31 07:06] jasperhuangg commented on #10703
So I think in the OP they're not actually turning off the device wifi fast enough, you need to do it within a half second otherwise the upload will complete:
https://user-images.githubusercontent.com/31285285/187614879-90351ac6-3564-4c0e-8fa2-c702340d8067.mov

Closing this out

[2022-08-31 07:06] #10703 closed

[2022-08-31 07:08] Julesssss commented on #10663
Hey @Christinadobrzyn, could we get this created on UpWork please

[2022-08-31 07:09] jasperhuangg commented on #10677
I just closed https://github.com/Expensify/App/issues/10703 out since it's not actually an issue, gonna check https://github.com/Expensify/App/pull/10235 off.

[2022-08-31 07:14] Julesssss commented on #5336
Hey @mallenexpensify, coulld you please create an UpWork issue so we can pay the reporting bonus. Thanks!

[2022-08-31 07:17] MitchExpensify commented on #10435
Hey @mountiny, Is there any better title I should apply to this job in Upwork/Issue or is it fine as is?

[2022-08-31 07:19] MitchExpensify commented on #10262
Doubled!

[2022-08-31 07:28] puneetlath commented on #8608
Paid!

[2022-08-31 07:28] #8608 closed

[2022-08-31 07:44] tgolen commented on #7948
Work is coming along here nicely. Getting a lot of unit tests written

[2022-08-31 07:45] tgolen commented on #10225
bump @isagoico ^

[2022-08-31 07:45] tgolen commented on #10361
@mvtglobally Were you able to retest this?

[2022-08-31 07:47] tgolen commented on #10509
Dropping to weekly for now and we're ready to start getting proposals

[2022-08-31 07:50] puneetlath commented on #10627
External upwork post: https://www.upwork.com/jobs/~01b2ee159ae607c80e
Internal upwork job: https://www.upwork.com/ab/applicants/1564883307443179520/job-details

[2022-08-31 07:52] MitchExpensify commented on #9402
Awesome, thanks @marktoman!

[2022-08-31 07:59] MitchExpensify commented on #10607
[Upwork Job](https://www.upwork.com/jobs/~0167101608a13fc452)

[2022-08-31 08:05] #10667 closed

[2022-08-31 08:06] ctkochan22 commented on #7436
@parasharrajat Lets just stick to https://github.com/Expensify/App/issues/7436#issuecomment-1225174285 for now. I'll update it on our Prod Plaid account.

I chatted with Plaid, and they didn't seem to have special functionality for the Exit vs their `onClose` option. Love that we really looked at different options here, but its a low-end bug. So lets go with the easiest solution for now.

[2022-08-31 08:15] adelekennedy commented on #10693
[internal](https://www.upwork.com/ab/applicants/1564889519573094400/job-details)
[external](https://www.upwork.com/jobs/~0151b41ed5756729f1)

[2022-08-31 08:16] NicMendonca commented on #9818
@chiragsalian bump 👆

[2022-08-31 08:16] varshamb commented on #10607
### Proposal

We need to use presableWithoutFocus.

[2022-08-31 08:17] NicMendonca commented on #10127
No overdue 👌 Latest update on the PR [here ](https://github.com/Expensify/App/pull/10477#issuecomment-1232417939)

[2022-08-31 08:18] AndrewGable commented on #10693
This is a regression from https://github.com/Expensify/App/issues/6154 - I believe @eVoloshchak should fix this.

[2022-08-31 08:18] MitchExpensify commented on #10367
Thank you! Will see if they can and go from there

[2022-08-31 08:18] ctkochan22 commented on #10410
Yeah, all for the simplest solution. `contain` is responsive in that it will get scale smaller, and will enlargen up until the size of the image. It won't scale up if the window is larger.

[2022-08-31 08:20] AndrewGable commented on #10677
:shipit:

[2022-08-31 08:20] #10677 closed

[2022-08-31 08:21] dylanexpensify commented on #9902
gonna double!

[2022-08-31 08:24] OSBotify opened #10712 "Deploy Checklist: New Expensify 2022-08-31"
**Release Version:** `1.1.95-4`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/8874
- [x] https://github.com/Expensify/App/pull/9552
- [x] https://github.com/Expensify/App/pull/10470
- [x] https://github.com/Expensify/App/pull/10563
- [x] https://gith

[2022-08-31 08:27] dhairyasenjaliya commented on #10509
**Proposal**

- We need to remove `LayoutAnimation.configureNext` from `hidePasswordPrompt()` although initially this was added to fix the freeze issue in the iOS app, for now somehow this is causing manually over-ride the animation values  which clashes with another animated component probably added after this fix

https://github.com/Expensify/App/blob/928edfc67fc76f1fde7ee9596c0546577ed68154/src

[2022-08-31 08:30] neil-marcellini commented on #10283
Hmm ok. We will take another look and see if we can reproduce the issue as well.

[2022-08-31 08:32] Puneet-here commented on #10623
@thienlnam, this issue is different. When you enter a wrong password the error message says "Incorrect login or password. Please try again" instead it should say "incorrect password" because the password that the user entered isn't correct. We already have this error message here we just have to use it (as mentioned [here](https://github.com/Expensify/App/issues/10623#issuecomment-1229734651)).
ht

[2022-08-31 08:35] trjExpensify commented on #10693
I'm also a bit confused by the steps in the OP versus the video. Something isn't clear, because I can see the cursor in the video? 😕

I also can't seem to reproduce it, if that's the problem as stated.

https://user-images.githubusercontent.com/16232057/187634101-d693cf6d-c642-41b7-9c18-f9cf7ceefe83.MP4

[2022-08-31 08:41] kadiealexander commented on #10327
Price doubled again!

[2022-08-31 08:45] mountiny commented on #10160
@marcaaron We have now decided to Make all of these crashes External for contributors to explore what happened to offload from internal engineers.

[2022-08-31 09:02] mountiny commented on #10435
Looking at this closely there is not much to find here :( I will close. Sorry we made this in general for all these crashes

Soon any new crash should have `Investigate:` prepended.

[2022-08-31 09:28] Beamanator commented on #10119
@Christinadobrzyn I believe this is ready to be paid out and closed! It was mentioned [here](https://github.com/Expensify/App/pull/10159#issuecomment-1232679296) that the changes worked, in production 👍

[2022-08-31 09:32] thienlnam commented on #10623
Ah yeah good point, should be a pretty small change

Looks like the current error message is unused https://github.com/Expensify/App/blob/22a0cba7aaeaa786f04a63a5ad74c650c4c35001/src/languages/en.js#L473-L473

[2022-08-31 09:39] srikarparsi commented on #10688
Hey, have you tested this on other platforms?

[2022-08-31 09:47] bfitzexpensify commented on #4733
Doubled again to $8000

[2022-08-31 09:50] puneetlath commented on #10627
@srikarparsi is going to take CME on this one.

[2022-08-31 10:01] Luke9389 commented on #10704
Hey @jasperhuangg should I make this external? I see you worked on refactoring Avatar uploads here: https://github.com/Expensify/Web-Expensify/pull/34346

[2022-08-31 10:09] grgia commented on #10524
@kbecciv Are you able to reproduce on both staging and prod? What version are you on?

[2022-08-31 10:13] bfitzexpensify commented on #9826
Cool - all done!

[2022-08-31 10:13] #9826 closed

[2022-08-31 10:14] jasperhuangg commented on #10605
Can confirm this is happening locally, taking a look

[2022-08-31 10:19] jasperhuangg commented on #10605
Found the problem, it's because of this incorrect usage of `Promise.all` that was added [here](https://github.com/Expensify/App/commit/2a7ef4847804d261d478c4b69fed5549129a14e6) cc @arosiclair

Promise.all takes an iterable of promises, not the individual promises as arguments. Simply passing in the promises as an array fixes things. PR in the works.

[2022-08-31 10:26] michaelhaxhiu commented on #10107
Doubling.

[2022-08-31 10:28] michaelhaxhiu commented on #10427
@parasharrajat are you saying this should be closed, or do you mean it's a feature-request?

[2022-08-31 10:37] ntdiary commented on #8292
Yeah. I was trying to find a way to monitor the drawer transition in [issue 9253](https://github.com/Expensify/App/issues/9253#issuecomment-1227479860) last week, and it also happens to come in handy here if needed. 🙂

[2022-08-31 10:37] kakajann commented on #10410
Considering the image is `svg`, I think its enlargement will depend on the parents' width and height

[2022-08-31 10:40] michaelhaxhiu commented on #10523
Job is on upwork - https://www.upwork.com/jobs/~01058690471e8c9ce2

[2022-08-31 10:40] MitchExpensify commented on #10435
Sweet! Thanks for taking a lil deeper look!

[2022-08-31 10:42] #10605 closed

[2022-08-31 10:43] youssef-lr commented on #10571
Not a regression.

[2022-08-31 11:18] Luke9389 commented on #10233
Still waiting for a taker...

[2022-08-31 11:18] sobitneupane commented on #10579
**Proposal**
**Reason:**
`splitExtensionFromFileName()` function returns fileName as it is without removing the extension.
https://github.com/Expensify/App/blob/479ca44d7fc9ab55a31c92b82d42eacf83e71f03/src/components/AttachmentModal.js#L115-L120
**Solution:**
As `fileExtension` is already popped from `splitFileName`, we can join `splitFileName` with '.' to get fileName without extension.
[code]
**

[2022-08-31 11:23] dhairyasenjaliya commented on #10555
**Proposal**

- We just need to add `onMouseDown={e => e.preventDefault()}` inside below `<Pressable>` since we don't want to remove focus and just toggle password

https://github.com/Expensify/App/blob/eafa4940304f8b3682aae4f193ac11e92c845be0/src/components/TextInput/BaseTextInput.js#L284-L288

**Result**

**M-Safari**

https://user-images.githubusercontent.com/47522946/187666349-bb31b61e-96fa-44

[2022-08-31 11:39] robertjchen commented on #10510
Thanks for the report- I was able to reproduce this issue locally. Going to open this up for our contributors to tackle 👍

[2022-08-31 12:04] ntdiary commented on #9253
This `withDrawerProgress ` could also be used to fix issue 8292 if needed. 🙂

[2022-08-31 12:43] OSBotify commented on #10712
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.95-4 :rocket:

[2022-08-31 12:43] jayeshmangwani commented on #10665
this change is added in this [PR](https://github.com/Expensify/App/pull/10718) and it merged 2 hours ago to the main branch.

cc: @rushatgabhane @Beamanator

[2022-08-31 12:53] grgia commented on #10524
@kbecciv and for mobile testing, are you using a simulator or a physical phone?

[2022-08-31 12:57] Beamanator commented on #10665
Oh nice thanks for the link @jayeshmangwani 👍 Looks like it's on Staging already

[2022-08-31 13:00] thienlnam commented on #10437
Been focusing on N7, haven't looked into this yet

[2022-08-31 13:01] stephanieelliott commented on #10535
Posted to Upwork: https://www.upwork.com/jobs/~01091321c3578832d2

[2022-08-31 13:06] mvtglobally commented on #10361
@tgolen sorry totally forgot to update with the last weeks daily deploy changes. Issue is not longer repro. We checked multiple platforms just in case

https://user-images.githubusercontent.com/43995119/187685229-e2e5c6c1-2386-44fb-a172-16b48ea242cc.mp4

https://user-images.githubusercontent.com/43995119/187685232-663f3a0f-ef90-448b-910d-67f780ee8234.mp4

https://user-images.githubusercontent.com/

[2022-08-31 13:16] dylanexpensify commented on #10697
internal: https://www.upwork.com/ab/applicants/1564965263733084160/job-details
external: https://www.upwork.com/jobs/~0147b4a23127f2c895

[2022-08-31 13:17] dylanexpensify commented on #10182
@vladnyk @parasharrajat any updates here on applying for the job?

[2022-08-31 13:31] neil-marcellini opened #10725 "Renaming workspace does not reflect updated name immediately on chat’s (sidebar page)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create a workspace by clicking the green plus and then New Workspace (if needed)
2. Hit the green plus button, New Room, fill

[2022-08-31 13:32] OSBotify commented on #10725
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-31 13:34] mountiny commented on #10697
I am not sure if this is the right time, but we could I assume. At the same time I am sure we will need a bigger overhaul of how to localize server error messages and that might come later. Curious for Ioni's thoughts

[2022-08-31 13:34] jasperhuangg commented on #10665
my b guys, I never saw this issue and was assigned that other issue as demolitions so decided to fix it super quick.

[2022-08-31 13:36] dylanexpensify commented on #10697
Ah yep, closing out!

[2022-08-31 13:37] iwiznia commented on #10697
Yep, this is not the right time

[2022-08-31 13:37] #10697 closed

[2022-08-31 13:37] dylanexpensify commented on #10697
Closed

[2022-08-31 13:40] Santhosh-Sellavel commented on #10654
@luacmartins Any thoughts?

cc: @Expensify/design

[2022-08-31 13:46] Beamanator commented on #10366
Noting that this also happens in other fields, see https://github.com/Expensify/App/issues/10604

(i'll close the other issue since it's pretty much the same issue)

[2022-08-31 13:47] #10604 closed

[2022-08-31 13:48] neil-marcellini commented on #10725
Not a deploy blocker since it's already in production https://github.com/Expensify/App/pull/10400#issuecomment-1232951708.

[2022-08-31 13:58] Christinadobrzyn commented on #10119
Thanks @Beamanator!

- Paid @dennismunene $250 for the job & @parasharrajat $250 as C+ in Upwork.
- Closed job in Upwork
- Closing this GH as complete

[2022-08-31 13:59] #10119 closed

[2022-08-31 14:05] tgolen commented on #10361
Great, thank you! I will go ahead and close it out then.

[2022-08-31 14:05] #10361 closed

[2022-08-31 14:06] zanyrenney commented on #10621
bumping @mvtglobally

[2022-08-31 14:16] mvtglobally commented on #10621
@zanyrenney
Start adding bank account, don't finish setup and navigate away

Later come back to the bank setup flow again, you'll see "start over" button. Click on it

[2022-08-31 14:16] kbecciv commented on #10524
@grgia Both environments (IOS and Android) are physical devices.

[2022-08-31 14:16] zanyrenney commented on #10621
Can you add screenshots or a video recording please?

[2022-08-31 14:16] zanyrenney commented on #10621
Let's reopen when they are added.

[2022-08-31 14:17] railway17 commented on #10535
### Proposal

I was able to reproduce this issue in my desktop Safari(but not able to reproduce in mobile safari) based on your issue report.
This is `outline-width` css issue, which is not working well in safari when input is focused.

**We can resolve this issue by adding `outline-style: none` or `outline: none`**

Actually, I've also noticed that login email input has the wrong outline like the

[2022-08-31 14:19] mvtglobally commented on #10621
Slack conversation: https://expensify.slack.com/archives/C01GTK53T8Q/p1660073873432529

[2022-08-31 14:20] mvtglobally commented on #10621
This is on Desktop..
![Screen Shot 2022-08-31 at 10 20 26 AM](https://user-images.githubusercontent.com/43995119/187701757-fa1eb2c1-977c-4bb9-b226-7d84a825afa4.png)

[2022-08-31 14:24] Gonals commented on #10352
Not overdue

[2022-08-31 14:27] stitesExpensify commented on #10694
Hi @theTrozen77, We're going to go with @varshamb's proposal here (and they will be implementing it). While your proposal came first and they are similar, I think that @varshamb's is more accurate in this case which is typically how we judge the "best" solution.

[2022-08-31 14:31] neil-marcellini commented on #10725
The problem is that `calculateSidebarOptions` is memoized [here](https://github.com/Expensify/App/blob/main/src/libs/OptionsListUtils.js#L785) so it only runs when its arguments change. A quick fix would be to pass in `policies` so that it runs as soon as the policies change. Or better yet pass in only the policy names. It's kind of weird to pass an argument just to make this update, so maybe ther

[2022-08-31 14:57] michaelhaxhiu commented on #10584
Exported to Upwork and job link is here - https://www.upwork.com/jobs/~01bd58b89ae0bb08ec

[2022-08-31 14:59] Christinadobrzyn commented on #10355
Job crated in Upwork

Internal - https://www.upwork.com/ab/applicants/1564988436490932224/job-details
External - https://www.upwork.com/jobs/~01b8fa79adb0533172

Hired @adeel0202 as bug reporter

[2022-08-31 15:07] Christinadobrzyn commented on #10663
Created job in Upwork

Internal - https://www.upwork.com/ab/applicants/1564993193766490112/job-details
External - https://www.upwork.com/jobs/~01d8aea578fb68ad35

[2022-08-31 15:07] Santhosh-Sellavel commented on #10163
@mountiny bump!

[2022-08-31 15:11] Santhosh-Sellavel commented on #9737
@aneequeahmad No luck for me
Unable to reproduce!

cc: @roryabraham

[2022-08-31 15:13] mountiny commented on #10163
I think you can make QA steps where you instruct the tester to go to the Network tabs and to observe what API the event is sent to (if it is staging or not).

The PR has not been made ready for review yet, if you do so, I will be assigned to review together with Santosh

[2022-08-31 15:22] shawnborton commented on #9620
I think for me, I generally prefer what @wildan-m shared in [this Slack post here](https://expensify.slack.com/archives/C01GTK53T8Q/p1661315954700859?thread_ts=1661281246.518809&cid=C01GTK53T8Q) as the standard behavior for these kinds of forms.

So maybe it's just a matter of making sure we standardize on that behavior and document it as the expected behavior for bottom-docked buttons?

[2022-08-31 15:25] shawnborton commented on #10410
Hmm but can't we only use contain at the IsMedium breakpoint? And then after that, once we hit IsLarge, we use cover?

[2022-08-31 15:29] aneequeahmad commented on #9737
@Santhosh-Sellavel, i just reproduced this in production https://new.expensify.com/

![IMG_8067](https://user-images.githubusercontent.com/36359331/187717975-d366a69c-1257-4094-b593-8a6758462e68.PNG)

https://user-images.githubusercontent.com/36359331/187717888-0bae9ddc-11ef-4d59-ba19-acd42f849467.MP4

[2022-08-31 15:30] jayeshmangwani commented on #10665
I have a doubt here, am I eligible or not for the payment in this scenario?
cc: @rushatgabhane @Beamanator

[2022-08-31 15:37] Puneet-here commented on #10584
Thank you @michaelhaxhiu, I have applied now.

[2022-08-31 15:38] swiftpipe commented on #4733
### Proposal:

I found a small problem with `InlineCodeBlock`

Currently, line text in InlineCode is set fixed, however if our words if the length is too large example `aaaaaaaaaaaaaaaxxxxxzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz` then when word wrap height is changed and so part of the text is hidden

I tried to remove the fixed height, and it worked

https://github.com/Expensify/App/blob/36

[2022-08-31 15:41] Santhosh-Sellavel commented on #10654
I believe not!

[2022-08-31 15:41] Santhosh-Sellavel commented on #9737
Try at staging, please!

[2022-08-31 15:43] neil-marcellini commented on #10524
How about on staging v1.1.95-4?

[2022-08-31 15:56] wildan-m commented on #10187
Not reproduceable at commit 41ec9bd371c4f2c2ea63a1ecf922abb6e9789bd5

[2022-08-31 15:56] AndrewGable commented on #10654
Yes I believe we did introduce it recently with the react-native-web update.

[2022-08-31 15:59] isagoico commented on #10225
@tgolen My apologies I had missed the previous tag. TestRail has been updated to reflect this:

[2022-08-31 16:02] neil-marcellini opened #10729 "[HOLD #9581] [$500] IdentityForm"
Coming from the [New Expensify Forms](https://docs.google.com/document/d/1DI4jQ0nyfi2JczhPT440orwlXsTP_O-aGvg-HLmcbwI/edit#heading=h.mnjguil21u0a) design doc, we should refactor the inputs within the [IdentityForm](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/IdentityForm.js) to be compatible with the new Form component, following the guidelines below:

Here's an examp

[2022-08-31 16:03] aneequeahmad commented on #9737
@Santhosh-Sellavel  I can reproduce on staging as well.

https://user-images.githubusercontent.com/36359331/187725017-19a39bb6-f9a8-4f8d-b54e-85065f98c5de.MP4

[2022-08-31 16:04] wildan-m commented on #10612
Are there no Stacktraces?

[2022-08-31 16:18] neil-marcellini commented on #9581
We decided that it would be a good idea to refactor the `IdentityForm` first, since this form uses it. I created https://github.com/Expensify/App/issues/10729.
@mollfpr please put up a proposal for that issue if you would like. I will give you priority since it's related to this one. I'm going to put this issue on HOLD until that one is complete.

[2022-08-31 16:21] neil-marcellini commented on #10729
It might be a good idea to price this issue at $500+ right away since it's a precursor to the RequestorStep refactor.

[2022-08-31 16:21] mollfpr commented on #9581
Okay, thanks. I’ll write the proposal for that issue ASAP.

[2022-08-31 16:38] mallenexpensify commented on #2985
@roryabraham , can you provide a quick update when ya can? (Mostly cuz i'm curious how close we are)

[2022-08-31 16:50] varshamb commented on #10579
### Proposal

In `AttachementModal`, `splitExtensionFromFileName()` returns file name with extension.

We should return this instead -
`const fileNameWithoutExtension = fileName.substring(0, fileName.lastIndexOf('.')) || fileName;`

**I think this code more readable.**

https://github.com/Expensify/App/blob/479ca44d7fc9ab55a31c92b82d42eacf83e71f03/src/components/AttachmentModal.js#L115-L120

[2022-08-31 16:50] adelekennedy commented on #9941
not overdue

[2022-08-31 16:51] roryabraham commented on #2985
Bidirectional scrolling features are live in NewDot production. Now we are waiting for @chiragsalian to re-implement comment linking using the new bidirectional scrolling features so we can battle-test them. Last I heard, he was prioritizing finishing API refactors first.

[2022-08-31 16:54] adelekennedy commented on #10440
@mountiny how should we title this job in Upwork to get people to work on it?

[2022-08-31 16:57] mountiny commented on #10440
@adelekennedy This one does not even have any stacktrace, we can close for now! Sorry for the ping we did it automatically for all the crash issues.

Newly created crash issues should include `Investigate: ` prefix in title to make it a bit better to read. There is not much to add for these issues.

Thanks for checking in 🙇

[2022-08-31 16:58] mountiny commented on #10372
Closing this for now, this seems like some bug we might have fixed already

[2022-08-31 16:58] #10372 closed

[2022-08-31 17:02] tomivs commented on #9628
Any news on this?

cc: @arielgreen @deetergp

[2022-08-31 17:19] MonilBhavsar commented on #9239
Oops, will be back soon

[2022-08-31 17:50] chiragsalian commented on #2985
Yup its what rory said. I went ahead and closed my previous PR. Mostly because there was a lot that wasn't ideal about it and it wasn't in any super rush like it was when we originally created the issue so it would be nice to do it better this round.

I'm currently focusing on API refactors but will work on this right after. This time i'll focus on doing very small parts at a time so that reviewin

[2022-08-31 17:54] mollfpr commented on #10729
@neil-marcellini May I know the plan for deploying this form? Is this form will be deployed before refactoring `ACHContractStep` and `RequestStep`?

I also think the proposal should include refactoring `AddressForm` (since it's been used in `IdentityForm`).

[2022-08-31 18:01] kbecciv opened #10731 "[$2000] Android/IOS - Split/request money - Chat composer is focused after IOU request from green plus button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to App and login with any account
2. Click the green plus button and click Request money
Enter an amount and select the `Ne

[2022-08-31 18:15] arielgreen commented on #10033
https://github.com/Expensify/App/pull/10286#issuecomment-1233158345

[2022-08-31 18:18] trjExpensify commented on #10693
Oh, I see. @kavimuru can you confirm that, please?

[2022-08-31 18:34] chiragsalian commented on #9818
I don't mind if we want to remove the feature temporarily. But i don't think thats the long term fix.
[code]
Actually i think it does crash the app. But its not a fault of comment linking and i don't think the correct fix is to remove the comment linking feature.

I think the issue might be the way we handle routes? For example,
1. On staging, if i type a dummy URL like https://staging.new.expensi

[2022-08-31 18:41] kbecciv opened #10732 "Web/Desktop - Workspace - Delete/Create popup is overlapping the border"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensifail.com
2. Log in with any account
3. Create the Workspace under Fub menu
4. Click on ... dots

## E

[2022-08-31 19:31] arielgreen commented on #10579
https://www.upwork.com/jobs/~01c7f6606ce3547f5f

[2022-08-31 19:40] arielgreen commented on #9660
@Harshdeepjoshi can you link me your Upwork profile please?

[2022-08-31 21:45] melvin-bot[bot] opened #10733 "[$500] Investigate: 💥 Crash 💥 `com.swmansion.reanimated.nodes.Node.runUpdates`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

##
###
### `Node.java line 126` `com.swmansion.reanimated.nodes.Node.runUpdates`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:** `1.1.95-4`
* **Devices:** Google Pixel 5 13

## Stacktraces
<details>
<summary>Android 1.1.95-4</summary>

[code]
</details>

---
<deta

[2022-08-31 21:56] mallenexpensify commented on #5336
On it...
https://www.upwork.com/jobs/~01f706a2537b4de02f
@Santhosh-Sellavel , hired you, let me know when you've accepted and I'll pay.

[2022-08-31 22:22] kbecciv opened #10734 "Web- LHN - The user does not move to its previous location in LHN after delete the message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10619

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2.

[2022-09-01 00:24] Santhosh-Sellavel commented on #5336
Done, thanks Matt!

[2022-09-01 01:22] Santhosh-Sellavel commented on #9737
@roryabraham
I agree the proposal is improvised, thanks for the clarification!

[2022-09-01 01:26] Santhosh-Sellavel commented on #9545
We just redirect to the root then, thanks!

@vladnobenladen Can you update your proposal?

[2022-09-01 02:10] kbecciv opened #10735 "[HOLD] [$250] Android - Login -Sign in button is covered with keyboard for 2FA account."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10603

## Action Performed:
Precondition: Set up 2FA account
1. Launch the app

[2022-09-01 02:25] kbecciv opened #10736 "LHN- Unread message is not displayed in bold after reply by email"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Go to chat.expensify.com and log in as account A
3. As account A send some messages to an account that must

[2022-09-01 03:11] wildan-m commented on #10612
Can't reproduce it, It would be great if it has reproducible steps

https://user-images.githubusercontent.com/11847279/187823868-707e2b96-6c20-4c53-bbd9-990ac63523b8.mp4

[2022-09-01 03:31] kbecciv commented on #10693
@trjExpensify Correct, mWeb - Andriod

[2022-09-01 04:49] vladnobenladen commented on #9545
**Updated Proposal**
https://github.com/Expensify/App/blob/345d461ba9b414920c28b56189e8325562855b4d/src/pages/DetailsPage.js#L68-L69
if query not exists or `login` not exists in query, close modal to go back to the root
[code]

https://user-images.githubusercontent.com/97473779/187833553-6622a772-bb99-43d9-ae1c-e8199514a18e.mov

[2022-09-01 05:25] mvtglobally commented on #10712
Regression is completed

PR https://github.com/Expensify/App/pull/10470 is blocked due to https://github.com/Expensify/App/issues/10084. We are not able to go through the bank flows
PR https://github.com/Expensify/App/pull/10619 is failing due to https://github.com/Expensify/App/issues/10734

Issues logged
https://github.com/Expensify/App/issues/10732
https://github.com/Expensify/App/issues/10734

[2022-09-01 06:05] neil-marcellini commented on #10283
I was not able to reproduce the issue when sending the request from staging web to staging iOS, v1.1.95-4. I'm also not able to see the issue when sending from local desktop to local iOS.

@Santhosh-Sellavel please give it a try yourself and if you are also not able to reproduce the issue please close as not planned.

[2022-09-01 06:45] melvin-bot[bot] opened #10737 "[$1,000] Investigate: 💥 Crash 💥 `com.facebook.react.uimanager.ViewGroupDrawingOrderHelper.getChildDrawingOrder`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.ArrayIndexOutOfBoundsException
### length=4; index=4
### `ViewGroupDrawingOrderHelper.java line 99` `com.facebook.react.uimanager.ViewGroupDrawingOrderHelper.getChildDrawingOrder`
### Number of Crashes: 242

## Device Information
* **Platforms:** Android
* **App Versions:** `1.1

[2022-09-01 06:52] neil-marcellini commented on #10731
Hmm, so if you navigate to any normal chat on mobile, the composer is not focused until you tap into it. That is the desired behavior. I think this is a valid issue if we change it from:
"Chat composer is not focused after IOU request" to "Chat composer is focused after IOU request from green plus button"

Also it looks like this only happens when the request is with a brand new chat. I was not ab

[2022-09-01 06:56] neil-marcellini commented on #10731
I updated the issue title and description to reflect the actual problem.

[2022-09-01 07:05] syedsaroshfarrukhdot commented on #10283
@neil-marcellini @Santhosh-Sellavel

Please follow following steps to reproduce it.

Instead of declining payment, you need to settle payment between all clients the issue occurs because of this component in the below picture as it changes the height of the component being rendered in the scroll view at first hand. When after it again payment is requested payment button is cutted in half because o

[2022-09-01 07:06] tgolen commented on #10225
OK, thank you! I'll close this out then.

[2022-09-01 07:06] #10225 closed

[2022-09-01 07:07] neil-marcellini commented on #10283
Ah ok! Thanks for including that detail. I was following the steps in the issue description. I will try again in a little bit.

[2022-09-01 07:20] michaelhaxhiu commented on #9391
Not overdue, awaiting more input from @MonilBhavsar and @mananjadhav in order to proceed.

[2022-09-01 07:50] cristipaval commented on #10732
I agree, I'll close this issue.

[2022-09-01 07:50] #10732 closed

[2022-09-01 07:54] wildan-m commented on #10622
Is it OK to have `originalPromise` value `undefined`?

In `node_modules/react-native-onyx/lib/metrics/index.native.js`

the `originalPromise` is `undefined` when the `args` value is:

[code]

If `originalPromise` might be `undefined`, then my proposal is to add undefined check

[code]

[2022-09-01 07:56] Julesssss commented on #9250
Holding for proposal review.

[2022-09-01 08:06] Julesssss commented on #9809
@trjExpensify am I crazy, or wasn't the chat supposed to be limited to 8 participants TOTAL?

I'm able to create a chat with 9 participants (myself included), and the UI does sort of lock in place. I wonder if that's what the initial issue was trying to describe, instead of the app actually locking up?

[2022-09-01 08:07] Julesssss commented on #9252
Still awaiting proposals here.

[2022-09-01 08:07] Harshdeepjoshi commented on #9660
@arielgreen Here is my profile link
https://www.upwork.com/freelancers/~01e5d6057af1ee90ae

[2022-09-01 08:13] Julesssss commented on #10661
Missed this one somehow. It's not always reproducable, but let's open it up to see if anyone can propose a fix. This is our best guess:

[2022-09-01 08:13] #10355 closed

[2022-09-01 08:19] deetergp commented on #10290
Looks like this can be external.

[2022-09-01 08:24] neil-marcellini opened #10738 "[HOLD for payment 2022-11-02] [$1000] [Form Refactor] AddressForm"
Coming from the [New Expensify Forms](https://docs.google.com/document/d/1DI4jQ0nyfi2JczhPT440orwlXsTP_O-aGvg-HLmcbwI/edit#heading=h.mnjguil21u0a) design doc, we should refactor the inputs within the [AddressForm](https://github.com/Expensify/App/blob/68c20364e5bef3fbaf3ce885b4a1d7418ea93e63/src/pages/ReimbursementAccount/AddressForm.js) to be compatible with the new Form component, following the

[2022-09-01 08:26] neil-marcellini commented on #10729
Great point about the AddressForm. I created this issue to refactor it https://github.com/Expensify/App/issues/10738. I also updated this description because this refactor will only involve updating the inputs to be compatible with Form.js. Please submit your proposal for AddressForm. Thanks.

[2022-09-01 08:32] roryabraham commented on #8503
Oh, nice! We should get ahead of that and migrate away from `setNativeProps` usages ASAP.

[2022-09-01 08:35] deetergp commented on #10068
No updates. I missed that I'm now the last man standing on this issue 😅

[2022-09-01 08:35] stephanieelliott commented on #10705
Hey @kbecciv, I'm unable to reproduce. Can you confirm which browsers this is happening on?

[2022-09-01 08:39] #10460 closed

[2022-09-01 08:50] stephanieelliott commented on #10608
Was able to repro on Safari, this is buggy and should be fixed. Posted to Upwork: https://www.upwork.com/jobs/~013abb27ed5da559c8

[2022-09-01 08:56] stitesExpensify commented on #8503
Agreed. @rushatgabhane i'll create an issue, do you want me to just assign you, or would you prefer a contributor take it on?

[2022-09-01 09:23] deetergp commented on #10535
@railway17's suggestion proposal sounds good, let's go with that.

[2022-09-01 09:34] michaelhaxhiu commented on #10442
Upwork job to pay @kakajann

[2022-09-01 09:37] michaelhaxhiu commented on #10442
Note: I'm re-opening the job since we still need to pay, and this requires action in order to fully finalize.

[2022-09-01 09:58] kakajann commented on #10738
May I work on this?
I've refactored AddressForm before in here https://github.com/Expensify/App/pull/7701

[2022-09-01 10:04] NicMendonca commented on #10335
Latest PR update [here](https://github.com/Expensify/App/pull/10470#issuecomment-1233956806)

[2022-09-01 10:11] NicMendonca commented on #10517
Let's keep these Open while there's still a deliverable so that we can access via K2 :)

@Santhosh-Sellavel can you please accept[ the offer ](https://www.upwork.com/jobs/~013736493b99eda689)I sent?

[2022-09-01 10:16] deetergp commented on #10535
It was just pointed out to me that I jumped the gun on assigning this, sorry about that @mananjadhav! 😅 Please take a look at it and let us know what you think.

[2022-09-01 10:16] Christinadobrzyn commented on #10025
Updated job price to $2000 - still waiting on proposals

[2022-09-01 10:24] michaelhaxhiu commented on #2545
Still holding

[2022-09-01 10:34] ravindra-encoresky commented on #9580
hi @mananjadhav @sketchydroide @luacmartins @adelekennedy I've shared the PR but the job hasn't awarded on Upwork yet.

[2022-09-01 10:37] puneetlath commented on #10355
@Christinadobrzyn let's make sure @rushatgabhane get's paid out for C+ on this one. It closed immediately since its an internal issue.

[2022-09-01 10:40] Christinadobrzyn commented on #10733
Job created in Upwork

Internal posting - https://www.upwork.com/ab/applicants/1565288291234140160/job-details
External posting - https://www.upwork.com/jobs/~01b5da3e9274b875c4

[2022-09-01 10:43] adelekennedy commented on #9580
@ravindra-encoresky hired you on Upwork!

[2022-09-01 10:46] danieldoglas commented on #7941
@cead22 PR for GetChats was merged and deployed to PROD 3 days ago. I think we can wait a little bit to come back to this based on our experience with the new methods.

@quinthar I think your feedback will be especially important in this

[2022-09-01 10:52] neil-marcellini commented on #10729
Yes. We will start with AddressForm, then IdentityForm, and then RequestorStep. Then eventually `ACHContractStep`.

[2022-09-01 10:53] mollfpr commented on #10729
@neil-marcellini Got it! I'm on my way to send the proposal for AddressForm.

[2022-09-01 10:54] neil-marcellini commented on #10738
I'm going to give priority to @mollfpr coming from the IdentityForm issue. If that doesn't work out for some reason then we will consider your proposal.

[2022-09-01 11:17] mollfpr commented on #10738
### Proposal

1. Adding `onChange` props to our input component
2. Adding `inputIDs` props to AddressForm with a default value is an empty string for every input. These props will be used to determine what `inputID` is for the street, city, state, and zipCode.
3. Adding `shouldSaveDraft` props to AddressForm with default `false` and will pass through all the inputs inside AddressForm.
4. Adding `o

[2022-09-01 11:25] sobitneupane commented on #9331
Thanks @mananjadhav for handling the issue. I was away last two months. And Sorry for the inconvenience.

[2022-09-01 11:54] bfitzexpensify commented on #10731
Upwork job [here](https://www.upwork.com/jobs/~0171651b178a420568)

[2022-09-01 12:01] mananjadhav commented on #10535
No worries @deetergp. @railway17's proposal looks good.

[2022-09-01 12:15] MitchExpensify commented on #10510
[Upwork Job](https://www.upwork.com/jobs/~0128cde2c904a18717)

[2022-09-01 12:18] MitchExpensify commented on #10435
Huh.. Curious what this means @vitHoracek. Does it warrant a reopen?

[2022-09-01 12:24] ctkochan22 commented on #7436
Done
<img width="855" alt="image" src="https://user-images.githubusercontent.com/12980144/187913095-0d6f50b8-afde-4f7d-9792-5aaea7744802.png">

[2022-09-01 12:24] #7436 closed

[2022-09-01 12:35] mountiny commented on #10435
I dont think so, there is no stacktrace, I will ask in engineering what to do about these

[2022-09-01 12:45] melvin-bot[bot] opened #10744 "[$1,000] Investigate: 💥 Crash 💥 `com.facebook.react.uimanager.TouchTargetHelper.getChildPoint`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.NullPointerException
### Attempt to invoke virtual method 'int android.view.View.getLeft()' on a null object reference
### `TouchTargetHelper.java line 287` `com.facebook.react.uimanager.TouchTargetHelper.getChildPoint`
### Number of Crashes: 5

## Device Information
* **Platfor

[2022-09-01 12:50] tgolen commented on #10734
That video shows exactly what I would expect to happen so I don't think this is a bug or a regression. If the behavior indeed has changed, then it's possible some of my recent changes fixed a bug that was there.

[2022-09-01 12:50] #10734 closed

[2022-09-01 12:58] AndrewGable commented on #10712
:shipit:

[2022-09-01 12:58] #10712 closed

[2022-09-01 12:58] neil-marcellini commented on #10283
Ok, I was able to reproduce the issue. I will update the issue description with the steps that you listed. I think we should update the `minHeight` of `iouPreviewBoxLoading` as you mentioned here https://github.com/Expensify/App/issues/10283#issuecomment-1231877199. I think the height should be `94` because that's what it ends up being with the pay button included.

![image](https://user-images.gi

[2022-09-01 13:02] OSBotify opened #10748 "Deploy Checklist: New Expensify 2022-09-01"
**Release Version:** `1.1.96-5`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/9532
- [x] https://github.com/Expensify/App/pull/10334
- [x] https://github.com/Expensify/App/pull/10556
- [x] https://github.com/Expensify/App/pull/10582
- [x] https://git

[2022-09-01 13:26] #9424 closed

[2022-09-01 13:29] kadiealexander commented on #9928
@rushatgabhane and @dhairyasenjaliya please apply here so I can issue payment: https://www.upwork.com/jobs/~01fd74bc9f792f9604

[2022-09-01 13:32] mountiny commented on #10359
@mvtglobally Waiting to see if this is reproducible.

[2022-09-01 13:38] Tabakharniuk commented on #10258
Done ✅
https://github.com/Expensify/App/pull/10742 is ready for review

cc: @Beamanator

[2022-09-01 13:39] dhairyasenjaliya commented on #9928
@kadiealexander applied and also link for reporting issue?

[2022-09-01 13:40] Beamanator commented on #10258
Thanks @Tabakharniuk ! I'll wait for @Santhosh-Sellavel to review first 👍

[2022-09-01 13:41] kadiealexander commented on #10446
@mananjadhav how are you getting on with this one?

[2022-09-01 13:52] railway17 commented on #10535
@deetergp
I applied to Upwork yesterday but didn't get an offer.
Could you check it again?

Thank you
Han

[2022-09-01 14:13] ctkochan22 commented on #10514
So these are the files we accept in OldDot: `['jpg', 'jpeg', 'png', 'gif', 'bmp']`
[Source](https://github.com/Expensify/Web-Expensify/blob/70428f2085b43278101202e816373fa5a98ef140/site/app/settings/userDetailsForm.jsx#L190)

[2022-09-01 14:21] twisterdotcom commented on #10628
My android phone is back at my hotel room. I will get to replicating this later today. Sorry for the wait @mvtglobally!

[2022-09-01 14:24] roryabraham commented on #8503
Another one:

[2022-09-01 14:26] OSBotify commented on #10748
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.96-0 :rocket:

[2022-09-01 14:28] adeel0202 commented on #7436
@adelekennedy, I'm expecting reporting bonus :)

[2022-09-01 14:32] Luke9389 commented on #9427
C+ would you be willing to help test this PR for me? https://github.com/Expensify/App/pull/10750

[2022-09-01 14:34] aldo-expensify commented on #10551
Changed to `Internal` for now as Marc suggested

[2022-09-01 14:41] kadiealexander commented on #9928
Thanks @dhairyasenjaliya, I'll add the reoprting payment as a bonus on this contract.

[2022-09-01 14:43] kadiealexander commented on #9928
@rushatgabhane and @dhairyasenjaliya please accept the offers and I'll pay this out.

[2022-09-01 14:46] kbecciv opened #10751 "Android - Chat - App crashed after send a second message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10717

## Action Performed:
1. Launch the app
2. Log in with expensifail accou

[2022-09-01 14:47] OSBotify commented on #10751
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-01 14:48] laurenreidexpensify commented on #10516
@MonilBhavsar Bump ^^

[2022-09-01 14:49] christianwen commented on #10622
# **Proposal**

## **Problem**
For the issue in Android, it's due to the code in `react-native-onyx` -> `lib/metrics/index.native.js` -> `function decorateWithMetrics` is expecting that the `func` passed in is a function that returns a promise, which it's not always the case, for example the `lib/Onyx.js` -> `function update(data) {` does not return anything. So the attempt to use the `decorateWit

[2022-09-01 14:52] dhairyasenjaliya commented on #9928
Done @kadiealexander

[2022-09-01 15:00] kadiealexander commented on #9928
Thanks team! Everyone is paid.

[2022-09-01 15:00] #9928 closed

[2022-09-01 15:08] roryabraham commented on #10751
Didn't see a new crash in Firebase Crashlytics 😞

[2022-09-01 15:12] kadiealexander commented on #10233
Price doubled! Get those proposals in!

[2022-09-01 15:19] kadiealexander commented on #9918
@roryabraham @rushatgabhane could one of you please confirm what day this was deployed to production?

[2022-09-01 15:25] dylanexpensify commented on #10182
Sure can!

[2022-09-01 15:27] dylanexpensify commented on #10182
@parasharrajat sent!
@daraksha-dk mind applying for the reporting payment?

[2022-09-01 15:27] Luke9389 commented on #10233
That might be a good idea. What do you have in mind @parasharrajat ?

[2022-09-01 15:37] shawnborton commented on #10410
I apologize, I am finding it a bit hard to follow how this is working exactly. In the video above, how did we achieve this:
<img width="255" alt="image" src="https://user-images.githubusercontent.com/2319350/187955065-a249ebf8-9353-42b3-9a71-0c205e610e1f.png">

That seems like it will solve the problem, no?

[2022-09-01 15:38] Harshdeepjoshi commented on #10627
### Proposal
To make this a right docked modal, we will replace this

https://github.com/Expensify/App/blob/ffa839ee30b7f7c32ed203195535818c12f4f938/src/components/AvatarCropModal/AvatarCropModal.js#L266-L273
with
[code]
and since there is a back button on all rightDocked modal, we will also replace this

https://github.com/Expensify/App/blob/ffa839ee30b7f7c32ed203195535818c12f4f938/src/components

[2022-09-01 15:39] thienlnam commented on #10233
I wonder if this is related to my API refactor change... tough that there doesn't seem to be consistent reproduction steps

[2022-09-01 15:50] kakajann commented on #10410
My making resize mode `contain`. and IMO it solves this issue.

[2022-09-01 15:51] shawnborton commented on #10410
And sounds like we can do that for just this one particular image right?

[2022-09-01 15:54] kakajann commented on #10410
No, it applies to all images

[2022-09-01 15:59] shawnborton commented on #10410
Got it, I think as long as we just take a good look at what contain will do to the other image style at some standard sizes (desktop at say 1400x800, etc) then we'd be good to go with that solution.

[2022-09-01 16:00] melvin-bot[bot] opened #10752 "Investigate: 💥 Crash 💥 `com.horcrux.svg.SVGLength.<init>`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.NullPointerException
### Attempt to invoke virtual method 'java.lang.String java.lang.String.trim()' on a null object reference
### `SVGLength.java line 37` `com.horcrux.svg.SVGLength.<init>`
### Number of Crashes: 19

## Device Information
* **Platforms:** Android
* **App Versi

[2022-09-01 16:04] kbecciv opened #10753 "Web- Conversation - Attachment removal is not smooth, still appears after deleted"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with any account
2. Go to any conversation
3. Add an attachment
4. Dele

[2022-09-01 16:05] OSBotify commented on #10753
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-01 16:09] MonilBhavsar commented on #10516
Spaces in between are fine. We can ignore spaces at start and end i.e. we should not match them.

Could you please clarify this? Empty `[ ]` shouldn't render anything , no?

Also, Is this proposed regex? If yes, looks like we need a space or `?!` at beginning to match the text?

[2022-09-01 16:13] kadiealexander commented on #7962
https://www.upwork.com/ab/applicants/1499594733421305856/job-details
https://www.upwork.com/jobs/~0109a0f58059e7df27

@gadhiyamanan @parasharrajat please accept the contract I just sent and I'll get this paid out for you both :)

[2022-09-01 16:20] trjExpensify commented on #10514
Job on Upwork here: https://www.upwork.com/jobs/~01e573794d911ea020

[2022-09-01 16:20] kbecciv opened #10754 "Log in - Missing re-sent link message when you click Forgot password"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. In log in page enter your username
3. Click continue
4. Click Forgot Password

## Expected

[2022-09-01 16:21] OSBotify commented on #10754
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-01 16:24] roryabraham commented on #10751
Have been wrestling dev environment on my new laptop, haven't really been able to test this just yet

[2022-09-01 16:27] gadhiyamanan commented on #7962
@kadiealexander accepted.

[2022-09-01 16:30] melvin-bot[bot] opened #10755 "[$2000] Investigate: 💥 Crash 💥 `com.facebook.react.views.view.ReactViewGroup.dispatchDraw`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.IndexOutOfBoundsException
### getChildDrawingOrder() returned invalid index 3 (child count is 3)
### `ReactViewGroup.java line 755` `com.facebook.react.views.view.ReactViewGroup.dispatchDraw`
### Number of Crashes: 10

## Device Information
* **Platforms:** Android
* **App Versi

[2022-09-01 16:34] dhairyasenjaliya commented on #10535
@deetergp  am I eligible for reporting this issue as I have logged this issue in slack before listed in git https://expensify.slack.com/archives/C01GTK53T8Q/p1661107700990479

[2022-09-01 16:35] stephanieelliott commented on #10220
All paid up, thanks!

[2022-09-01 16:35] #10220 closed

[2022-09-01 16:41] stephanieelliott commented on #10535
@railway17 Upwork offer sent!

@mananjadhav Please grab the job in Upwork when you get a chance! https://www.upwork.com/jobs/~01091321c3578832d2

[2022-09-01 16:47] mountiny commented on #10752
Ok I see, so this is coming from Staging, should this be a deploy blocker in your opinion? @parasharrajat seems like this package version is only in staging

@mateusbra Would you be able to look ad this? We could revert in case this is causing more substantial issues.

[2022-09-01 16:50] aimane-chnaif commented on #10516
`[](abc@example.com)`
`[ ](abc@example.com)`
`[myemail](abc@example.com)`
`[ my email](abc@example.com)`
`[my email](abc@example.com)`
`[my email ](abc@example.com)`
`[ my email ](abc@example.com)`

Here's screenshot for each case of the above example:
<img width="721" alt="demo" src="https://user-images.githubusercontent.com/96077027/187968872-f9640292-f246-4be0-b588-c490843049ab.png">

As you se

[2022-09-01 16:57] christianwen commented on #10510
# **Proposal**

## **Problem**
The issue is from the `src/CONST.js` where we're setting the `LAST_MESSAGE_TEXT_MAX_LENGTH` as 80 characters. That number is too low because when the app is in tablet mode (medium screen width as mentioned in the issue report), the width that the last message text occupies is around 700px. The width needed to render the last message (which is 80 characters maximum) i

[2022-09-01 17:00] syedsaroshfarrukhdot commented on #10731
**Proposal**

https://github.com/Expensify/App/blob/8e07c62fb9780c627106f45eb72614466a850f27/src/pages/home/report/ReportActionCompose.js#L595

This issue is caused by _.size(this.props.reportActions) === 1 in autofocus props of Composer when this.props.reportActions === 1 is true it focuses in the input field to fix the issue we need to remove it.

**Solution :-**
To fix the issue we need to set

[2022-09-01 17:03] #10571 closed

[2022-09-01 17:05] Puneet-here commented on #9979
@kevinksullivan is OOO ( getting married 💍 🥂 ).
@tgolen please re-apply external label so that someone else can be assigned here.

[2022-09-01 17:09] arosiclair commented on #10754
I can easily reproduce this in staging, however the reset email is still sent without issue so I don't think this is a blocking issue.

[2022-09-01 17:11] arosiclair commented on #10754
cc @jasperhuangg it looks like your refactor PR was the last to touch this

[2022-09-01 17:17] isagoico commented on #10610
@robertjchen hello! The transitions between modals is included in our scope when testing the regression. In the video it can be seen that the loading of the Big Number Pad page is glitchy (it's kinda hard to put it into words haha).

If these types of bugs related to transitions are not in scope please let us know and we'll inform the team.

[2022-09-01 17:19] mateusbra commented on #10752
I'll investigate it, do you have a reprodution steps for this issue?

[2022-09-01 17:31] kbecciv opened #10756 "Android - Crash after upload image attachment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open chat with any user
2. Tap in "+" icon and select "Add attachment" select "Choose Document"
3. Select image from gallery.

[2022-09-01 17:32] OSBotify commented on #10756
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-01 17:35] kbecciv commented on #10756
Removing Deploy blocker, able to reproduce it in Production

[2022-09-01 17:40] arosiclair commented on #10751
No repro in dev with latest on `main` and android emulator. Currently I only have `1.1.91-1` on my physical android device so I can't test the right version there

[2022-09-01 17:41] OSBotify commented on #10756
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-01 17:43] kbecciv opened #10757 "Android - App crashed after tap the back button in offline mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the test app and log in with any account
2. Enable offline mode
3. Open any chat
4. Tap the Back button at the left top

[2022-09-01 17:55] Santhosh-Sellavel commented on #7917
@thienlnam this issue is not fully completed can we update the title to avoid any confusions
2 more PRs to go!

cc: @dylanexpensify

[2022-09-01 17:58] kbecciv opened #10758 "mWeb - Log in- Error message appears on the first attempt of tapping "Resend Link""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10556

## Action Performed:
1. Launch the app
2. Enter an email address which

[2022-09-01 18:04] kbecciv commented on #10753
QA team is noticed the same behavior for deleting the comment, please attach video

https://user-images.githubusercontent.com/93399543/187982810-7e1036dc-64d9-489d-845d-e55531e14898.mp4

[2022-09-01 18:12] mananjadhav commented on #10446
Thanks for the being @kadiealexander, I was catching up on the slack conversation.

@mvtglobally Do we have any reproduction steps for the growl error message? I am able to reproduce this for encoded string but no growl message.

Meanwhile @chiragsalian, I checked @mollfpr's proposal here and it looks good to me.

[2022-09-01 18:19] mananjadhav commented on #8846
@dharmik We've sent out multiple reminders. Please send an update within a day, else we'll have to rescind the job.

cc - @arielgreen @Julesssss

[2022-09-01 18:21] mallenexpensify commented on #5336
Paid @Santhosh-Sellavel !  Thanks
fwiw... i was testing the milestone payment process cuz of the upcoming Upwork<>GH integration ... nothing should be different though

[2022-09-01 18:21] #5336 closed

[2022-09-01 18:34] kbecciv opened #10759 "Android - Chat - App crashed after send a emoji"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Select any user
4. Tap on emoji face
5 Pick one and send it
6. Select ano

[2022-09-01 18:35] OSBotify commented on #10759
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-01 18:37] kbecciv opened #10760 "[$250] mweb/safari - Signout - The screen slides up when user tries to sign out"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: User has the iOS banner at the top of the screen (Not sure if this is a deal breaker)
1. Access staging.new.expens

[2022-09-01 18:38] mallenexpensify commented on #10511
Paid! Thanks @parasharrajat

[2022-09-01 18:38] #10511 closed

[2022-09-01 19:10] kbecciv opened #10761 "Web - LHN - The fab button becomes highlighted in blue"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Click on the green plus button in the LHN and select

[2022-09-01 19:24] kbecciv opened #10762 "[Bug] [$250] iOS - LHN - New message does not appear in the chat list preview after enable the internet connection"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App and login with any account, let's call it device A
2. Stay in LHN
3. Disable your internet connection on the devi

[2022-09-01 19:34] luacmartins commented on #10759
Got this error in dev:

[code]

[2022-09-01 19:37] kbecciv commented on #10442
@sketchydroide @michaelhaxhiu QA team is still experienced some issue (-0.00%) with PDF file, showing % amount when image is loading. Let us know if we need to log a separate issue for that.

https://user-images.githubusercontent.com/93399543/187998030-8460a581-6c58-4ef1-a8bb-e5596b642698.MP4

[2022-09-01 19:42] arielgreen commented on #8311
@parasharrajat do you have an update?

[2022-09-01 19:50] arosiclair commented on #10757
Repro'd this in dev on `main` with the Android emulator.

![Screen Shot 2022-09-01 at 3 49 09 PM](https://user-images.githubusercontent.com/6833644/188000021-fa0f8393-bc65-409b-ba8d-408408a2fc39.png)

[2022-09-01 19:56] jboniface commented on #10483
This was assigned to me while I was on leave (and signing out for the day), so I'm  reassigning it

[2022-09-01 20:02] luacmartins commented on #10759
Hmm I also reproduced the crash without the error above. So now I'm not sure what actually causes it.

[2022-09-01 20:07] luacmartins commented on #10751
I can repro on android simulator latest main. Logs don't seem that useful:

[code]

[2022-09-01 20:08] luacmartins commented on #10751
This is also probably related to https://github.com/Expensify/App/issues/10759

[2022-09-01 20:54] Tushu17 commented on #10290
I want to clarify a thing here, the bug [#9252](https://github.com/Expensify/App/issues/9252) and this bug are completely different bugs as:-
1.  [#9252](https://github.com/Expensify/App/issues/9252) is only present in android app & this bug is present in mWeb in both android and Ios.
2. [#9252](https://github.com/Expensify/App/issues/9252) isn't a focus related issue, as after selecting emoji the

[2022-09-01 21:01] arosiclair commented on #10757
@mateusbra @AndrewGable @parasharrajat
Do any of you guys think this has anything to do with the react-native-svg upgrade here: https://github.com/Expensify/App/pull/10334? Other than the stack trace pictured above I can't find any useful log output.

[2022-09-01 21:45] strepanier03 commented on #9705
Looks like the PR is in review - https://github.com/Expensify/App/pull/10659

I raised this in #contributor-management [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1662068319796349) to get a hand moving this forward. I found this [SO](https://stackoverflow.com/c/expensify/questions/8561/8562#8562) but I can't follow it due to access limitations.

[2022-09-01 22:31] ShaquilleSadiq commented on #10025
# Proposal
There was recently a merge from this PR #9532 which updated the Edit and Delete Comment api calls to no longer use `deprecatedAPI.js`, which was the file where the error was originating so this particular error may no longer be thrown.

However, I believe that the issue originated from here: https://github.com/Expensify/App/blob/27b7f652eafb772b559488e61c3e016e760cff75/src/pages/home/re

[2022-09-01 22:41] chiragsalian commented on #7185
Any update here @parasharrajat and could you link the slack conversation too?

[2022-09-01 22:49] kbecciv opened #10765 "iOS - Conversation - If the last message is deleted, the previous one becomes partially hidden"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App and login with any account
2. Go to any conversation
3. Send 2 or more messages
4. Delete the latest message

##

[2022-09-01 22:59] kbecciv opened #10766 "mWeb - Conversation - Edited comment doesn't appear greyed out"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/9532

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and

[2022-09-01 23:13] kbecciv opened #10767 "Desktop - Chat- New marker doesn't disappear after App minimize/restore"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue found when executing PR** https://github.com/Expensify/App/pull/10582

## Action Performed:
1. Run NewDot App
2. Open cha with unread message
3

[2022-09-02 00:16] chiragsalian commented on #10759
I havent been able to get android simulator working on my dev so i've requested for someone else to investigate the issue on slack #engg-chat.

[2022-09-02 00:16] chiragsalian commented on #10756
I havent been able to get android simulator working on my dev so i've requested for someone else to investigate the issue on slack #engg-chat.

[2022-09-02 00:29] kbecciv opened #10768 "Desktop -Chat- No new msg marker and badge if msg received while out of view"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot App
2 Switch to a mobile view (small screen)
3. Open any DM and scroll up a bit
4. receive few messages while out

[2022-09-02 02:01] christianwen commented on #10510
@rushatgabhane

I see it's more like the fix for issue https://github.com/Expensify/App/issues/6699 introduced this problem. The assumption in that issue is `AlternativeText contains text of arbitrary length from the last message which is not really fully visible anywhere.
It unnecessary increase the storage and runtime memory.`, which is not the case since the alternativeText will be used almost

[2022-09-02 02:19] railway17 commented on #10535
@stephanieelliott
I've created a PR [here](https://github.com/Expensify/App/pull/10769).
Please assign reviewers.
Thank you

[2022-09-02 03:02] mvtglobally opened #10770 "[$250] Back button doesn't work on desktop web"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Click on a convo
2. Hit CMD + K and switch to a different convo
3. Hit CMD + [ and notice you don't go back to the previous c

[2022-09-02 03:49] kbecciv opened #10771 "mWeb - User can't focus on input field of any search page after scrolling to bottom @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Open mWeb
 2. Go to search page
 3. Scroll to the bottom of the selectable user list
 4. Touch on search input field.

## Exp

[2022-09-02 03:51] mvtglobally opened #10772 "Feature Request: Change error message text and the case to show it - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Problem:
We are showing Please enter a valid phone number without brackets or dashes. If you\'re outside the US please include your country code, eg

[2022-09-02 04:28] mvtglobally commented on #10359
@mountiny It is repro.

https://user-images.githubusercontent.com/43995119/188059010-a8b486c5-5d1d-452b-b462-83a471867a30.mp4

[2022-09-02 04:30] mvtglobally commented on #10446
@mananjadhav team is planning to move away from growls soon.
Don't have the steps to trigger it currently

[2022-09-02 04:37] mvtglobally commented on #10748
Regression is completed

Deploy Blockers
https://github.com/Expensify/App/issues/10442
 https://github.com/Expensify/App/issues/10751
 https://github.com/Expensify/App/issues/10753
 https://github.com/Expensify/App/issues/10754
 https://github.com/Expensify/App/issues/10756
 https://github.com/Expensify/App/issues/10757
 https://github.com/Expensify/App/issues/10759

 PR https://github.com/Expensi

[2022-09-02 06:06] varshamb commented on #10772
### Proposal

We need to tweak validation in below to check entered value is single number.

https://github.com/Expensify/App/blob/27b7f652eafb772b559488e61c3e016e760cff75/src/libs/OptionsListUtils.js#L800

[2022-09-02 06:38] #9463 closed

[2022-09-02 06:38] #9464 closed

[2022-09-02 06:49] #10753 closed

[2022-09-02 06:58] OSBotify commented on #10748
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10764) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.96-1` :rocket:

[2022-09-02 07:45] luacmartins commented on #10757
I see this immediately before the crash:

[code]

[2022-09-02 07:49] AndrewGable commented on #10757
Looks like SVG- Good find!

[2022-09-02 07:50] AndrewGable commented on #10752
Reproduction steps are here: https://github.com/Expensify/App/issues/10757

[2022-09-02 07:54] luacmartins commented on #10757
Yea, I can confirm that reverting the upgrade resolves the issue

[2022-09-02 07:54] roryabraham commented on #10751
Got logs for the crash:

[code]

[2022-09-02 07:54] #9983 closed

[2022-09-02 07:56] luacmartins commented on #10757
@AndrewGable should we revert this upgrade for now?

[2022-09-02 07:57] roryabraham commented on #10751
Maybe related:

[code]

[2022-09-02 07:57] AndrewGable commented on #10757
Yes please!

[2022-09-02 08:02] bfitzexpensify commented on #10533
I also can't reproduce this — can anyone else? If not, I'll close this out.

[2022-09-02 08:04] michaelhaxhiu commented on #10442
@kakajann @techievivek do you think it's a novel issue or a regression?

[2022-09-02 08:11] OSBotify commented on #10748
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.96-1 has been deployed to staging :tada:

[2022-09-02 08:11] roryabraham commented on #10748
Tried reverting https://github.com/Expensify/App/pull/10582 and was able to reproduce the crash on that branch, so I don't think it's that

[2022-09-02 08:13] Beamanator commented on #10665
@jayeshmangwani good question, I'm running this by some internal team members, will get back to you soon 👍

[2022-09-02 08:13] luacmartins commented on #10221
We [reverted](https://github.com/Expensify/App/pull/10775) this PR due to a [regression](https://github.com/Expensify/App/issues/10757)

[2022-09-02 08:13] bfitzexpensify commented on #10291
Payment complete and contracts ended. Thanks @dhairyasenjaliya!

[2022-09-02 08:15] MonilBhavsar commented on #10516
I think we should just skip it and not render anything.

Thanks for clarifying!
Your Fix 1 output looks better, but as said above we shouldn't render `_` in first use case and skip spaces at the starting.

[2022-09-02 08:15] OSBotify commented on #10748
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10775) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.96-2` :rocket:

[2022-09-02 08:19] srikarparsi commented on #9408
^

[2022-09-02 08:21] srikarparsi commented on #10688
@kbecciv bump^

[2022-09-02 08:23] PauloGasparSv commented on #10766
Just tested this on my phone and it seems to work! Maybe this is specific to a browser/platform:

https://user-images.githubusercontent.com/6564265/188097169-5c2b19c6-6ea7-4726-982c-cf1ef18df2fa.mp4

[2022-09-02 08:25] roryabraham commented on #8503
Will also need to redo https://github.com/Expensify/App/pull/10334 before we can turn on Fabric (it caused a crash as was reverted)

[2022-09-02 08:26] PauloGasparSv commented on #10766
I think this may be an emulator problem because the global offline indicator is not appearing in the this issue's video! And it should appear alongside the browser/phone top bar indicator when the app goes offline.
<img width="366" alt="image" src="https://user-images.githubusercontent.com/6564265/188097577-4b850890-2d33-40c4-8ac7-092168932da5.png">

[2022-09-02 08:28] luacmartins commented on #10757
Revert merged. Closing this issue.

[2022-09-02 08:28] #10757 closed

[2022-09-02 08:29] aimane-chnaif commented on #10516
@MonilBhavsar you mean to trim content inside `[]` before validating regex?

[2022-09-02 08:34] aimane-chnaif commented on #10516
I think even github doesn't trim that content.
i.e. [ ](abc@example.com), [  test  ](abc@example.com)

[2022-09-02 08:34] aimane-chnaif commented on #10516
I think even github doesn't trim that content.
i.e. [ ](abc@example.com), [  test  ](abc@example.com)

[2022-09-02 08:37] AndrewGable commented on #10752
Closed via https://github.com/Expensify/App/pull/10775, let's bring further discussion to https://github.com/Expensify/App/issues/10221

[2022-09-02 08:39] kadiealexander commented on #10036
@Expensify/applause please see above!

[2022-09-02 08:41] #10624 closed

[2022-09-02 08:41] luacmartins commented on #6883
PR above is still in review

[2022-09-02 08:42] flaviadefaria commented on #10362
@jliexpensify is on leave so will reapply the label.

[2022-09-02 08:48] kadiealexander commented on #8956
@mvtglobally could you please explain what's happening vs what's expected to happen for the video above?

[2022-09-02 08:59] bondydaa commented on #10761
asked about this in our internal slack here https://expensify.slack.com/archives/C02HWMSMZEC/p1662109135616809 will update once we get some more confirmation.