[2021-05-08 05:08] kaushiktd commented on #2097
I have never done something like that with Git and in the past once I tried which resulted in clearing up full Git repo. I m trying to follow the exact steps but it is throwing me an error in my Mac. Any guidance will be appreciated.
![Error](https://user-images.githubusercontent.com/43398804/117527401-7760b780-afe9-11eb-9a3c-99273c53ce38.png)

[2021-05-08 08:18] kidroca commented on #2614
This is related to both Onyx (https://github.com/Expensify/react-native-onyx/issues/63) and Virtualization #2629

- Virtualization: Loading/pre-rendering a huge chat history all at once e.g 15 instead of 5
- Onyx: many calls for the same prop are resolved from disk, particularly on Android this takes a lot longer

With the updates planned for Onyx there is a big improvement

Here you can see a bef

[2021-05-08 08:36] kidroca commented on #2642
I think there also this:

1. You log in - various items are fetched and "promised" to be written to Onyx
2. You log out - Onyx is cleared, but as some pending actions resolve they write to Onyx after it's cleared

Onyx have no knowledge that these write will happen in order to deal with them

If a write is already started it's Onyx's concern to manage for that during clear
But if a write is schedu

[2021-05-08 08:54] anthony-hull commented on #1517
I'm happy to start.
I haven't been offered the contract in upwork yet, however.

[2021-05-08 09:17] kidroca commented on #2326
Another case where `onDimensionChange` happen are orientation changes

This issue already deals with this by adding debounce #2180

Even with debounce added there's still a lot of JS scripting time as each HOC would capture its own debounced handler as explained here: https://github.com/Expensify/Expensify.cash/issues/2326#issuecomment-824181575 - _"a single change is around 300ms on my desktop wo

[2021-05-08 09:29] parasharrajat commented on #2326
I agree this point make some sense to me denouncing will add extra layer of timeouts. Normally current implementation should not hurt the app even if it adds extra computation. But mostly what I was concerned is the animations, When it comes to animations running on single thread, all these async tasks are a problem.

[2021-05-08 09:48] kidroca commented on #2517
I agree with @marcaaron this is purely UI related and does not need to be persisted each time dimension change

I don't know the exact intention for Onyx but typically you would store app state that you cannot typically derive from somewhere else

Being a react-native app - JS time is precious - no matter how fast Onyx becomes it's seems unnecessary to move this handling there:
- Dimension -> Onyx

[2021-05-08 09:59] kidroca commented on #2517
@roryabraham

I think this was the best idea so far. And it's exactly how Material-UI have interfaced it - providing a ref to a element makes sure the popup always points to that element: https://material-ui.com/components/popover/#anchor-playground and accounts for resizes as well as the item getting moved to a completely different location due to layout changes

I'm optimistic there would be a r

[2021-05-08 12:51] parasharrajat commented on #2517
Everyone has different opinions but at last the best would be the one that team understands it and can maintain it.

[2021-05-09 22:29] isagoico commented on #2446
Issue reproducible during today's KI retests

[2021-05-09 22:29] isagoico commented on #2521
Issue reproducible during today's KI retests

[2021-05-09 22:29] isagoico commented on #2601
Issue reproducible during today's KI retests

[2021-05-09 22:30] isagoico commented on #2636
Issue reproducible during today's KI retests

[2021-05-09 22:30] isagoico commented on #2716
Issue reproducible during today's KI retests

[2021-05-09 22:32] isagoico commented on #2279
Issue reproducible during today's KI retests

[2021-05-09 22:33] isagoico commented on #2401
Issue reproducible during today's KI retests

[2021-05-09 22:33] isagoico commented on #2447
Issue reproducible during today's KI retests

[2021-05-09 22:33] isagoico commented on #2580
Issue reproducible during today's KI retests

[2021-05-09 22:34] isagoico commented on #2710
Issue reproducible during today's KI retests

[2021-05-09 22:34] isagoico commented on #2726
Issue reproducible during today's KI retests

[2021-05-09 22:35] isagoico commented on #2097
Issue reproducible during today's KI retests

[2021-05-09 22:35] isagoico commented on #2121
Issue reproducible during today's KI retests

[2021-05-09 22:36] isagoico commented on #2122
Issue reproducible during today's KI retests

[2021-05-09 22:36] isagoico commented on #2149
Issue not reproducible during today's KI retests

[2021-05-09 22:36] isagoico commented on #2570
Issue not reproducible during today's KI retests

[2021-05-09 22:37] isagoico commented on #2499
Issue reproducible during today's KI retests

[2021-05-09 22:37] isagoico commented on #2662
Issue reproducible during today's KI retests

[2021-05-10 00:42] RachCHopkins commented on #2446
Yep, I just finally got a chance to reproduce it also!!

[2021-05-10 01:27] jasperhuangg commented on #2521
@isagoico Were you able to create a new issue and triage it?

[2021-05-10 01:28] kaushiktd commented on #2097
@isagoico @stitesExpensify yes because I haven't pushed the latest code and I have also mentioned an issue I am facing while following the steps to make a pull request

[2021-05-10 01:29] jasperhuangg commented on #2716
I am still looking into this, wasn't able to figure it out last week.

[2021-05-10 02:42] Christinadobrzyn commented on #2614
Hi there @kidroca! Thank you for the extra details about this. From what I understand, you expect the slow loading behaviour to improve with the updates you mentioned.

@isagoico Do you think we should table this for now and wait to see how the above updates improve this behaviour? Then, if needed, we can reopen and have a contributor work on this issue?

[2021-05-10 02:59] quinthar commented on #2614
I am soooooooo excited for this change

On Sun, May 9, 2021 at 7:42 PM Christina Dobrzynski <
***@***.***> wrote:

[2021-05-10 03:04] Christinadobrzyn commented on #2097
@isagoico or @stitesExpensify

Do you happen to know why the _"configure" cannot be opened because it is from an unidentified developer_ error is happening?

@kaushiktd - can you confirm what step you are on when this error happens and what you are doing before it happens? I can't seem to find anything about this error in our internal docs/Slack convos.

[2021-05-10 04:07] kaushiktd commented on #2097
@Christinadobrzyn  I am getting that error during first step while Generating a GPG key after Installation. I am currently trying to follow all the steps in the Windows system.

[2021-05-10 08:24] kaushiktd commented on #2097
@Christinadobrzyn I think it is done now. Let me know if it is done correctly.

[2021-05-10 08:56] #2683 closed

[2021-05-10 13:16] laurenreidexpensify commented on #2542
Paid and closed job on upwork

[2021-05-10 13:16] #2542 closed

[2021-05-10 13:20] #2539 closed

[2021-05-10 14:43] roryabraham opened #2759 "[Hold for payment 2021-05-24] Implement rate-limiting of GitHub API in CI/CD"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Our GitHub API requests should be successful.

## Actual Result:
GitHub flagged us for API abuse and started rate-limiting us. This caused a number o

[2021-05-10 14:46] roryabraham commented on #2759
I think this might a good fit for an external contributor.

[2021-05-10 15:23] lschurr commented on #2661
Should we close this one or has it been reproduced?

[2021-05-10 15:49] lschurr commented on #2661
Looks like it was reproducible - https://expensify.slack.com/archives/C01GTK53T8Q/p1620661720006200

[2021-05-10 15:49] JmillsExpensify opened #2760 "Add the Recents and Contacts headers to the single-user participants page used in the Request Money and New Chat flows"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**How to enable the `Request Money` or `Spilt Bills` flow**
As the feature is currently behind a beta, you must perform the following change to reproduce the issue. Eith

[2021-05-10 15:53] JmillsExpensify commented on #2760
Sorry about that. Disregard @chiragsalian and @mallenexpensify

[2021-05-10 15:53] JmillsExpensify commented on #2760
Posting to Upwork now.

[2021-05-10 15:59] isagoico opened #2761 "Emojis - Country codes are displayed instead of corresponding flag emojis"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result
For all the countries flags should appear

## Actual Result
Only country codes are displayed instead of the flags

## Action Performed
1. Go to stagin

[2021-05-10 16:03] JmillsExpensify commented on #2760
Thanks for checking us out on Upwork!

If you are interested in working on this issue, please apply to [this Upwork posting](https://www.upwork.com/jobs/~015652383fbbeae713), AND then post directly on this issue with a proposal with the technical explanation of the changes you will make. Somebody from Expensify will review your proposal, and if your proposal is accepted, you will be hired in Upwor

[2021-05-10 16:24] marcaaron commented on #2642
Yep, great points. I can't think of "bad consequences" of this feature yet. But feels inevitable that it would cause some confusion on sign out in the future.

[2021-05-10 16:24] parasharrajat commented on #2711
@marcaaron Should I submit a PR based on the solution discussed in the slack thread.https://expensify.slack.com/archives/C01GTK53T8Q/p1620243224438000?thread_ts=1620240447.428100&cid=C01GTK53T8Q

[2021-05-10 17:06] marcaaron commented on #2711
Not yet, this will need to go through triage first 😅

[2021-05-10 17:11] isagoico commented on #2521
Oh I'm so sorry I missed the previous request. Just created a new issue here https://github.com/Expensify/Expensify.cash/issues/2761

[2021-05-10 17:15] arielgreen commented on #2497
Paid contract + bonus for proposing the issue. Thanks @kidroca.

[2021-05-10 17:15] #2497 closed

[2021-05-10 17:55] arielgreen commented on #2726
Posted to Upwork [here](https://www.upwork.com/jobs/~018d8909d10240a267).

[2021-05-10 18:22] parasharrajat commented on #2759
@roryabraham Github suggests making requests serially.

Following the same pattern, we can do the following to fix the issue.
[code]
Call this for loop sequentially as I think committing to each issue is no time-sensitive task. If requests are finishing in less than a second then we can wait for 1 sec after each request.
To calling it sequentially we can someting like.
[code]

[2021-05-10 18:35] roryabraham commented on #2759
Okay, that works for me, except we still can't use `async`/`await`.

[2021-05-10 18:38] stephanieelliott commented on #2521
Thanks @isagoico! Will go ahead and close this since we are not actioning this specific issue right now.

[2021-05-10 18:38] #2521 closed

[2021-05-10 18:42] kidroca opened #2762 "Improvements to `Onyx.get`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
- Each time a component “connects” to Onyx we read that data from disk before returning it to `withOnyx`.
- When multiple components ask for the same key at

[2021-05-10 18:46] parasharrajat commented on #2759
So we to have chain promise back to back. I think reducing the array to promises will do the trick.
[code]

[2021-05-10 18:52] roryabraham commented on #2759
Okay, that looks like it should still work (although I would still want to see the `.then`/`.catch` to include the `console.logs`). But yeah looks good @arielgreen let's get @parasharrajat hired on Upwork then @parasharrajat feel free to submit a PR.

[2021-05-10 19:06] JmillsExpensify commented on #2705
Thanks for checking us out on Upwork here: https://www.upwork.com/jobs/~0127aabc0bc553db20.

If you are interested in working on this issue, please apply to this Upwork posting AND then post directly on this issue with a proposal with the technical explanation of the changes you will make. Somebody from Expensify will review your proposal, and if your proposal is accepted, you will be hired in Upw

[2021-05-10 19:08] iwiznia commented on #2601
Argh damnit, not sure if it is too late, but I also noticed that the emoji is not inserted where the cursor is, instead it is always inserted at the end of the text (I tested on web chrome)

[2021-05-10 20:18] parasharrajat commented on #2606
@Luke9389 any thoughts?

[2021-05-10 20:27] bekazandukeli commented on #2726
Hello, I already submitted proposal on upwork and here's my workaround:
Problem seems like is rooted deeply into react-native's core as described in this [Issue](https://github.com/facebook/react-native/issues/26393)

I already found style property which provokes this react native bug and will fix it in no time.
I will remove this buggy property and create the custom input component which will hav

[2021-05-10 20:27] joelbettner commented on #2636
Looks like it has what it needs. Not labeling with "Demolition" because that label does not appear to be an option:

![image](https://user-images.githubusercontent.com/13264774/117720425-e0882c80-b19b-11eb-8323-94709baea527.png)

[2021-05-10 20:53] #2517 closed

[2021-05-10 21:19] marcaaron commented on #2762
I think the answer to this is that, yes, we should.

Can you briefly include the plan we will be moving forward with here for benchmarking? I think the plan is to create a single job to cover both so if we can add a bit more context in this issue that would be ideal.

I think we should start with the benchmarks in one PR then move to the Onyx improvements. Lmk if that works for you @kidroca .

[2021-05-10 21:21] mallenexpensify commented on #2762
Thanks @kidroca, I created the Upwork job, set the price at $2,000, made it private and invited you.  Please continue all discussions here, @marcaaron will be assigned for feedback and PR review

[2021-05-10 21:28] Luke9389 commented on #2606
Ok cool. Yup, then this looks good! 👍 See ya on the PR!

[2021-05-10 21:31] parasharrajat commented on #2606
@shawnborton Could you please share the Sync Icon?

[2021-05-10 22:12] parasharrajat commented on #2349
Here is an outline
1. We will use `withLocalize` HOC to use the numberFormat, timestampToRelative, timestampToDateTime, toLocalPhone, fromLocalPhone method.
2. We replace all the places where we see number and time date with the following method calls
e.g.
https://github.com/Expensify/Expensify.cash/blob/9fbf82e8237b7d1ff416619970038cc0d5bf9252/src/pages/iou/steps/IOUAmountPage.js#L107
to
[code]
H

[2021-05-10 22:45] arielgreen commented on #2759
@parasharrajat just sent over the offer via Upwork.

[2021-05-10 22:57] mallenexpensify commented on #1517
Hired @anthony-hull in Upwork, you're all set to start!

[2021-05-10 22:58] mallenexpensify commented on #2401
@mateocole bumped to Daily, please post to Upwork and link back here

[2021-05-10 23:45] kadiealexander commented on #2149
I tried to reproduce this on Android v1.0.39-5, and was unable to as well. I'm going to close this, anyone who can reproduce this should feel free to reopen.

[2021-05-10 23:45] #2149 closed

[2021-05-11 01:16] jasperhuangg commented on #2716
I looked into it some more yesterday with @robertjchen and wasn't able to discern why the aforementioned bug was happening. I thought it may be an actual bug with React-Native, so I opened an issue in the React-Native repo:
https://github.com/facebook/react-native/issues/31501

I also made a self-contained sandbox where you can reliably reproduce the bug:
https://codesandbox.io/s/flatlist-scrollto

[2021-05-11 04:01] jasperhuangg commented on #2761
I can look at this!

[2021-05-11 05:42] stephanieelliott opened #2784 "Comment action menu doesn't scale/position, gets cut off"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Comment action menu should scale/move when adjusting length of window

## Actual Result:
Comment action menu stays fixed and doesn't move to stay ali

[2021-05-11 05:47] stephanieelliott commented on #2784
Upwork Job: https://www.upwork.com/jobs/~017d8adbf583f27074

[2021-05-11 05:58] vmv94 commented on #2726
https://www.upwork.com/ab/proposals/1391994416817717249?success
Hello! I have a variant for fix this task. I send you a proposal. I create a new component with scrollview out of TextInput with special styles and methods. How it work you can see on my video.

https://user-images.githubusercontent.com/83997860/117765251-dfb4d080-b257-11eb-8611-1bbd20af4422.mov

A second solution can be TextInput wit

[2021-05-11 06:36] jasperhuangg opened #2785 "Blank white screen and console error after signing in and loading reports screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
We should be able to sign in without any issues and load all the reports.

## Actual Result:
There's a blank, white screen and this console error whe

[2021-05-11 06:46] jasperhuangg opened #2786 "`focus` and `blur` aren't callable when refs are passed into TextInputFocusable"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
When we pass a ref to a `TextInputFocusable`, `focus` and `blur` should be callable as they are basic functionality of a text input.

## Actual Resul

[2021-05-11 06:47] SofiedeVreese commented on #2711
Reproducing steps
1) have a tab with Expensify.cash open
2) open a second tab with Expensify.cash
3) click into new tab, then back into old tab
4) close new tab
5) old tab doesn't show notifications
6) Console shows this:
![image](https://user-images.githubusercontent.com/40040992/117770619-6e642600-b235-11eb-9ccd-7642a38d17dc.png)

Chucking on engineering label for further triaging.

[2021-05-11 06:56] jasperhuangg commented on #2786
@yuwenmemon Might have something to do with how you made `forwardedRef` optional [here](https://github.com/Expensify/Expensify.cash/pull/2320/files#diff-91724ff9dd28ed46549226f489a7ed06b77b5b2608083059e043a9499d3782f8R21)?

[2021-05-11 11:30] twisterdotcom opened #2790 "[Pay 5/19] Wrap text when it includes markup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
When sending a message with a hyperlink, any text within that message/paragraph which won't fit in the current window should wrap onto the next line

[2021-05-11 13:06] Julesssss commented on #2408
Hi @eVoloshchak, I think this PR has caused a regression with the IOU Modal, but this wasn't possible for you to test, so no worries 🙂

I'm seeing a crash [here](https://github.com/Expensify/Expensify.cash/blob/cd915cd9083821bc8f3576288e35246075f4def5/src/pages/iou/steps/IOUAmountPage.js#L60) which doesn't occur on previous commits:
[code]

As the feature is currently behind a beta, you must perfo

[2021-05-11 14:03] mateocole commented on #2401
Will post to upwork asap, this is not daily priority though

[2021-05-11 14:06] kidroca commented on #2762
I've included it to the "Additional Work" section. Here is a bit more on that:

Through decoration original source don't have to be modified and the benchmarking logic is maintained separately
In order to achieve this some minor tweaks might be necessary. For example Onyx.get is a private method
Private methods might be moved to separate file so that it can be decorated by the above pattern before

[2021-05-11 14:08] mateocole commented on #2401
Will post to upwork asap, i do not think this is a daily priority though, moving it to weekly, will try and figure out posting to upwork today.

[2021-05-11 15:49] roryabraham commented on #2668
Paid!

[2021-05-11 15:49] #2668 closed

[2021-05-11 16:00] shawnborton commented on #2726
@roryabraham do we have a clear idea of _why_ this bug is happening? It seems like there are a variety of interesting workarounds, but I'm curious if we understand the root cause.

Ideally we keep our font size at the standard 15, and our standard input size is at 40.

[2021-05-11 16:07] parasharrajat commented on #2670
There is a question clicking into my mind about what should be the result when we have multiple empty quotes?
E.g.
[code]

[2021-05-11 16:11] yuwenmemon commented on #2785
Hmmm... I can't seem to reproduce - @jasperhuangg were you able to re-trigger by deleting something?

[2021-05-11 16:15] twisterdotcom commented on #2790
Looks like this is _any markup_ not just hyperlinks:

![image](https://user-images.githubusercontent.com/9133401/117849680-77c4b100-b27c-11eb-9cc2-82f9b294a5b7.png)

[2021-05-11 16:20] arielgreen commented on #2790
You are correct, our template needs to be updated.

[2021-05-11 16:38] muttmuure commented on #2682
Hey @mallenexpensify I can't reproduce this anymore. Did we fix?

[2021-05-11 16:41] parasharrajat commented on #2790
Wow. We missed it for so long. But relatively, the fix is very simple.
we just need to supply `flex: 1` to base style here
https://github.com/Expensify/Expensify.cash/blob/3997ae6620f8a104d08ec059e734934d85550f06/src/components/RenderHTML.js#L182

[2021-05-11 17:19] isagoico opened #2794 "Attaching document in chat shows a default name of "Chat_attachement" instead of the document name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Preview of the document should show the name of the file.

## Actual Result:
Default name is displayed "chat_attachment"

## Action Performed:
1. Log

[2021-05-11 17:21] mallenexpensify commented on #2682
Still happening for me on Desktop, Staging, Version 1.0.41-10 (1.0.41-10)
![image](https://user-images.githubusercontent.com/22508304/117858301-9908ab80-b242-11eb-8429-373d0ef566d3.png)

[2021-05-11 17:27] shawnborton commented on #2606
Oops, here is the icon you need: [sync.svg.zip](https://github.com/Expensify/Expensify.cash/files/6460959/sync.svg.zip)

[2021-05-11 17:28] isagoico opened #2795 "LHN - Group - Participant number is not centered in circle"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Number should be center in circle

## Actual Result:
Number is not centered in the circle.

## Action Performed:
1. Log in to cash app
2. Create a gr

[2021-05-11 17:35] Jag96 commented on #2784
@KanwarBhajneek thanks for your proposal, for this issue we want to ensure the expected result of `Comment action menu should scale/move when adjusting length of window` is taken into account, and your proposal does not account for that.

@parasharrajat your proposal looks good to me! For your question `Do we need to Prevent it from going off the edge?`, I think ideally yes we'd like to prevent it

[2021-05-11 17:50] Jag96 commented on #2784
That sounds fine to me! Assigning you the issue, once you've applied on Upwork feel free to start on the PR

[2021-05-11 17:59] TomatoToaster commented on #2446
Yeah this is a bizzare bug. It looks like there's no right padding on these emojis sometimes, and sometimes there is:
![image](https://user-images.githubusercontent.com/19364431/117862494-b3ea1880-b260-11eb-8ab7-a32b5b8cb05a.png)

![image](https://user-images.githubusercontent.com/19364431/117862657-e6941100-b260-11eb-99cc-90032d06ecc5.png)

Not sure the reason for this or why it happens on window

[2021-05-11 18:01] roryabraham commented on #2670
@parasharrajat When in doubt, use "whatever GitHub does" as the golden standard for our markdown processors 😂

[2021-05-11 18:08] parasharrajat commented on #2670
@roryabraham  :rofl:  Matter of fact I do that. So that was going to be my point after your answer but looks like you stole the words right out of my mouth.

[2021-05-11 18:19] mateocole commented on #2401
https://www.upwork.com/jobs/~01f2e07703d8bdc295

[2021-05-11 18:27] marcaaron opened #2801 "iOS not building in Xcode 12.5"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
iOS app should build locally on any Xcode version

## Actual Result:
Can't build on Xcode 12.5

## Action Performed:
Try to build

## Workaround:
- D

[2021-05-11 18:33] mallenexpensify commented on #2180
@tugbadogan two Upwork issues somehow got created for this same job, I accidentally 'hired' you for the duplicate before finding both. I then canceled one and requested a refund for it, can you please OK the refund for the duplicate issue?  `The freelancer will receive a request to approve the refund of your $500.00 deposit.`
Sorry for the mix up, still not sure exactly what happened

[2021-05-11 18:40] iwiznia commented on #2349
Watch out because the amounts examples are not quite correct. When we are dealing with a money amount, we need to format it as so by passing the `currency` and `style:'currency'` to the options of the numberFormat call. You can see some examples [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat).

Good question, I think that on login we shoul

[2021-05-11 18:58] isagoico commented on #2784
We're having a similar issue in Web - Safari, action menu is not completely visible when right-clicking

![image](https://user-images.githubusercontent.com/44479856/117869824-47bfe280-b269-11eb-9d07-26a94288621d.png)

[2021-05-11 19:26] mallenexpensify commented on #2180
Hi @tugbadogan we should be all set, you're hired for this GH via this Upwork job
https://www.upwork.com/jobs/~012e79714137f7faa6

Let me know if anything doesn't look right.

[2021-05-11 19:48] mallenexpensify commented on #2180
Apolgies @tugbadogan this is all my fault and is still confusing me.
Can you see this job? https://www.upwork.com/jobs/~01acd19801f956e8ed
There should be a pending 'hire' invitation for you there. Accept that one and we should be good to go (I really hope so)

[2021-05-11 19:50] parasharrajat commented on #2349
Yeah. That's one of the Idea as for some of the locales currency sign is shown after the amount.

[2021-05-11 20:17] isagoico commented on #2682
I was able to reproduce but with inverted steps
1. Compose message
2. Hit refresh first and immediately press send.

I couldn't reproduce if I sent the message first and then refresh.

[2021-05-11 20:35] #2801 closed

[2021-05-11 20:51] isagoico opened #2804 "Chat - Compose box doesn't appear after fresh installing the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Compose box should be displayed in the conversation

## Actual Result:
Compose box is not displayed in the conversation

## Action Performed:
1. Unin

[2021-05-11 21:00] isagoico opened #2805 "LHN - Edited chat is not updated in the LHN preview of the message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Edited message should be correctly displayed in the LHN preview.

## Actual Result:
Edited message is not displayed in the LHN. Old message is shown.

[2021-05-11 21:05] eVoloshchak commented on #2408
I have fixed the error with addSecondaryLoginPage.password, ready to submit a PR.
Do I just create a new PR referencing this issue?
I can see that there is already a [pull request](https://github.com/Expensify/Expensify.cash/pull/2800) that resolves [this](https://github.com/Expensify/Expensify.cash/issues/2786) issue. Should I carry on with fixing it?

[2021-05-11 21:11] isagoico opened #2806 "Timezone - Dropdown is selectable when the "Set my time zone" bottom checkbox is checked"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Dropdown should be disabled if the bottom checkbox is checked

## Actual Result:
Dropdown is selectable when the "Set my time zone" bottom checkbox i

[2021-05-11 21:12] NicMendonca commented on #2446
Created job in Upwork: https://www.upwork.com/jobs/~01bc52bea5b0840871

[2021-05-11 21:19] bfitzexpensify opened #2807 "Have the draft icon always be visible in the LHN when there is a draft"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Show the draft 'pencil' for all chats, even the one you are currently looking at

## Actual Result:
In e.cash, when a report has a draft comment, the

[2021-05-11 21:39] isagoico opened #2809 "New group - App crashes when initiating chat with newly created group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User able to type and initiate group chat

## Actual Result:
App crashes

## Action Performed:
1. Launch the app and login
2. Create a group with 4 u

[2021-05-11 21:45] iwiznia commented on #2408
You can't add a reviewer? Odd.. anyway, I see the PR above, so reviewing it now.

[2021-05-11 21:57] trjExpensify opened #2811 "[Hold - for payment on Wed 26th] Add an `About` and `App download links` page to Expensify.cash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Deliverables

1. Add `About` as a menu item on the `Settings` page between `Change Password` and `Sign Out`
2. Remove the current footer on the `Settings` page that c

[2021-05-11 22:01] parasharrajat commented on #2807
We have to remove the Active Reportcheck on line 88 from here
https://github.com/Expensify/Expensify.cash/blob/1f541bb4353a512ffcbec81731533e3ae3543b8b/src/libs/OptionsListUtils.js#L87-L91
and now icon would be visible for all chats in LHN.

[2021-05-11 22:15] shawnborton commented on #2811
The .svg icons needed can be found here: [Icons.zip](https://github.com/Expensify/Expensify.cash/files/6462272/Icons.zip)

The `$` logo already exists in `assets`

[2021-05-11 22:20] shawnborton commented on #2658
We can make a version with a larger red dot. I will self-assign.

[2021-05-11 22:24] bfitzexpensify opened #2812 "Create an alert growl component and add confirmation growl when saving changes in profile"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Display a confirmation growl when saving a change in your profile — examples shown below

## Actual Result:
Nothing happens

## Action Performed:
1.

[2021-05-11 23:14] mallenexpensify commented on #2682
For everyones sanity (or.. maybe just mine) let's put a hold on this for now. If the issue comes up again we can either take off hold or reference in another issue (I have a feeling whatever is causing this affects _something_ else)

[2021-05-12 00:01] isagoico opened #2813 "Apps Android/IOS are not usable on latest code."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
App should work on the latest code.

## Actual Result:
Apps are not usable on latest code.

## Action Performed:
1. Open the iOS or android app
2. Lo

[2021-05-12 02:10] Christinadobrzyn commented on #2809
Hum, here's a video of the testing I've tried, is this the same issue you see on th e.cash mobile app?

• Open the e.cash mobile app
• Tap the '+'  > tap New Group
• Add 4 members to the group
• Tap Create Group
• The screen goes blank - group doesn't load

@isagoico Is this the same issue you see? Here's a video.

https://user-images.githubusercontent.com/51066321/117907771-edc32980-b309-11eb-84c

[2021-05-12 04:00] JmillsExpensify commented on #2705
Thanks! Still waiting on proposals in Upwork.

[2021-05-12 04:08] #2785 closed

[2021-05-12 04:08] #2786 closed

[2021-05-12 07:03] JmillsExpensify commented on #2790
Seeing a bunch of this in v1.0.40-0. Reported here: https://expensify.slack.com/archives/C01GTK53T8Q/p1620796475097600. Releasing to the pool.

[2021-05-12 07:09] JmillsExpensify commented on #2794
I don't have an android device to test with, and this isn't happening on iOS. Issue looks good though so I'm releasing to the pool.

[2021-05-12 07:10] nikul6 commented on #2811
We are firstly added menuItems in InitialPage.js as 'About' menu and then also added and used icon in

————————
import {
    Gear, Lock, Profile, Wallet, SignOut, About
} from '../../components/Icon/Expensicons';

//your code
{
        translationKey: 'initialSettingsPage.changePassword',
        icon: Lock,
        action: () => { Navigation.navigate(ROUTES.SETTINGS_PASSWORD); },
 },
//added menu

[2021-05-12 07:16] nikul6 commented on #2811
We are firstly added menuItems in InitialPage.js as 'About' menu and then also added and used icon in

————————————————————————————————————————————————
import {
    Gear, Lock, Profile, Wallet, SignOut, About
} from '../../components/Icon/Expensicons';

————————————————————————————————————————————————

//your code
{
        translationKey: 'initialSettingsPage.changePassword',
        icon: Lock,

[2021-05-12 09:15] Julesssss commented on #2807
Looks good to me. @bfitzexpensify can we hire @parasharrajat please

[2021-05-12 09:24] Julesssss commented on #2794
Confirmed that the issue is occurring on Android.

[2021-05-12 09:31] Julesssss commented on #2811
Hi @nikul6, could you explain your proposal a bit further please? How will About.js be built?

[2021-05-12 10:09] laurenreidexpensify commented on #2813
Confirmed this on Android physical device - app hangs on Cash symbol and doesn't load chats on v 1.0.42-1

![image](https://user-images.githubusercontent.com/62073721/117958002-7d6cd600-b312-11eb-8ad2-2546a1a1a375.png)

[2021-05-12 10:17] trjExpensify commented on #2809
Just tested on `1.0.42-1` and can confirm the app crashes upon focusing on the input field to type.

[2021-05-12 10:31] nikul6 commented on #2811
Yes @Julesssss, I am explained in details.
create the AboutPage.js file in Expensify.cash/src/pages/settings/  directory.

And then write the code

1. The app logo
Ans:- Expensify.cash/assets/images/expensify-cash.svg
2. The current app version
Ans: -- import Text from '../../components/Text';
         -- Write the <Text>v1.0.41-2</Text>
3. Copy: Expensify.cash is built by a community of open sour

[2021-05-12 10:32] nikul6 commented on #2811
Yes @Julesssss, I am explained in details.
create the AboutPage.js file in Expensify.cash/src/pages/settings/  directory.

And then write the code

1. The app logo
Ans:- Expensify.cash/assets/images/expensify-cash.svg
2. The current app version
Ans: -- import Text from '../../components/Text';
         -- Write the <Text>v1.0.41-2</Text>
3. Copy: Expensify.cash is built by a community of open sour

[2021-05-12 12:12] Beamanator commented on #2401
Ready for proposals 🤪

[2021-05-12 12:31] kidroca commented on #2401
Can we clarify some things
- E.cash is already installed (probably yes)
- E.cash have been used at least once (it's not right after a fresh install)
- Does opening the chrome/safari open the browser and after the page loads opens (or prompts to open) the E.cash app?

This behavior is config specific. If you receive emails from staging they can only open the staging app if  `associated domains` and

[2021-05-12 13:04] Beamanator commented on #2813
I ran the app from my terminal (`npm run android`) on Android simulator & on a physical Android device, version `1.0.42-1`, couldn't reproduce this.

Next, I deleted the app from my phone, re-downloaded from the app store (also version `1.0.42-1`), signed in, and couldn't reproduce this. It's possible there was something in version `1.0.42-1` that fixed something broken in version `1.0.42-0`, whic

[2021-05-12 13:23] parasharrajat commented on #2665
@puneetlath I would like to mention one point here. Should we keep the text selected when context menu is opened so that user can know the difference.

[2021-05-12 13:25] trjExpensify commented on #2149
Did this comment get created in a new issue for Upwork somewhere? https://github.com/Expensify/Expensify.cash/issues/2149#issuecomment-831397525

[2021-05-12 14:03] Julesssss commented on #2813
I think this issue is a duplicate of [this one](https://github.com/Expensify/Expensify.cash/issues/2785), which has been fixed. But that doesn't explain the issue that @laurenreidexpensify is seeing on the latest version 😕

I built to iOS and Android simulators and could not reproduce the issue on version `v1.0.42-1`

[2021-05-12 15:26] marklouisdeshaun commented on #2806
[Upwork job posting](https://www.upwork.com/jobs/~010f1de55d24620bbe)

[2021-05-12 15:40] bfitzexpensify commented on #2807
Hired you @parasharrajat. Feel free to get cranking on a PR!

[2021-05-12 16:10] dklymenk commented on #2806
While I can see that you pass disabled prop to `Picker` in `src/pages/settings/Profile/ProfilePage.js`, you don't actually pass it to `RNPickerSelect` in `src/components/Picker/index.js`.

So the fix is simply to add `disabled` to the list of destructed props of `Picker` component and pass it to `RNPickerSelect`.

[2021-05-12 16:14] marcaaron commented on #2806
Nice catch @dklymenk. Can we please also update the propTypes here so that it's clear we are passing this prop -> https://github.com/Expensify/Expensify.cash/blob/3fad8d181165842897e7259ecfbfe591976cf381/src/components/Picker/PickerPropTypes.js#L3

[2021-05-12 16:15] marcaaron commented on #2806
@marklouisdeshaun the solution from @dklymenk LGTM

[2021-05-12 16:18] mallenexpensify opened #2821 "When in the compose box, allow clicking the up-arrow key to edit the previous message."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
After sending a message in e.cash, while the text box is empty, when clicking the 'up arrow' on the keyboard, to be able to edit the previous comment

[2021-05-12 16:28] isagoico commented on #2751
@roryabraham Heyo! I'll be adding the lock label in ~40min. Are there any PRs that were not added to the list that need to be manually added?

[2021-05-12 16:32] johndev0711 commented on #2806
It seems to be fine, but it isn't the correct way to fix. I think that there is not need to do so.
There is more simple way to fix it.

[2021-05-12 16:52] roryabraham commented on #2751
Nope, it should be back to normal now ☺️

[2021-05-12 16:55] johndev0711 commented on #2806
If it is a correct solution, why the issue occur on only Web? Is it okay on iOS and Android?

[2021-05-12 16:57] johndev0711 commented on #2806
![image](https://user-images.githubusercontent.com/74647446/118014798-7e6e2980-b34b-11eb-88c9-0beb2c0bc8b6.png)

[2021-05-12 17:13] roryabraham commented on #2790
I was able to verify that @parasharrajat's fix works, so I'm going to move this along by adding the `External` label so we get an Upwork job for this ASAP. @parasharrajat Can you have a PR ready?

[2021-05-12 17:35] puneetlath commented on #2665
Yes, that's a good point. We should.

[2021-05-12 17:36] puneetlath commented on #2665
Does that not happen with this change? If so, we can open a new issue to do so since this was already completed.

[2021-05-12 17:40] roryabraham commented on #2790
Seems like the `External` auto-assigner isn't working atm. cc @rafecolton any idea why that might be?

In the meantime, I'm going to create an Upwork job for this myself.

[2021-05-12 17:44] roryabraham commented on #2790
Upwork job is here: https://www.upwork.com/jobs/~0195cf4074210779ba

[2021-05-12 17:53] Beamanator commented on #2813
Thanks @Julesssss - I'm going to close this one for now since it seems there's more who _can't_ reproduce than those who _can_. We can re-open this if the issue comes back / is more reproducible later :)

[2021-05-12 17:53] #2813 closed

[2021-05-12 18:21] JmillsExpensify commented on #2790
Oh thank you! I was hawking this one as well, not sure what happened (maybe because I was assigned)? I'm happy to help push from here btw.

[2021-05-12 18:23] parasharrajat commented on #2665
@puneetlath No it's not happening at the moment. I found the following issues. https://expensify.slack.com/archives/C01GTK53T8Q/p1620839026121600

[2021-05-12 18:25] parasharrajat commented on #2790
@roryabraham It's ready.

[2021-05-12 18:29] dklymenk commented on #2806
Actually reproduced the issue on both web and android, so the issue is not web only.

I submitted a draft PR with a fix #2824 , I'll test tomorrow for regressions on iOS and desktop app and remove draft label.

Thank you.

[2021-05-12 18:38] trjExpensify opened #2825 "[iOS] Infinite loading spinners when trying to launch anything from the CreateMenu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Tapping on a menu item should launch the page nice and quickly!

## Actual Result:
Tapping any of the menu items results in an infinite loading spinn

[2021-05-12 19:02] Ekaterina221 commented on #2812
Hello.
I have built and run the app on my local, and I have checked the current issue.
I can fix the issue in 2 days.
What I am going to do are the followings.
1. Validate the values that user input, and if it is invalid, show invalid pop-up notification.
2. If the value of user input is valid, check the returned value of API.
    If the response of API is valid, show success pop-up notification.

[2021-05-12 19:17] trjExpensify commented on #2825
Can confirm this also happens when accessing the Search page. 👍

[2021-05-12 20:02] roryabraham commented on #2790
@isagoico This should be fixed as of `1.0.42-4`

[2021-05-12 20:45] jboniface commented on #2794
view the job here: https://www.upwork.com/jobs/~0140aec4e5587952a8

[2021-05-12 20:59] thienlnam commented on #2812
Hello @Ekaterina221,

Thanks for your proposal! I'm hoping for some more specifics with your proposal.

What is valid/invalid input? How are you going to show the invalid pop-up and where are you going to do this validation? (Files)

What is this component going to look like, and how are you going to achieve this?  Are you going to use any libraries to achieve this? Example of how this component i

[2021-05-12 21:19] Ekaterina221 commented on #2812
I will explain to you more details.

1. Validate the values that user input, and if it is invalid, show invalid pop-up notification.
For this step, I am going to check the "First Name", "Last Name" and "Email Address".
For example, if the user input "Ekaterina123" for the "Fiist Name", this will be invalid value.
If the user input "testemail@mail" for the "Email Address", this will be invalid valu

[2021-05-12 21:35] Jag96 commented on #2809
It looks like the issue here is `TypeError: undefined is not an object (evaluating 'this.props.report.participants.includes')`, which references [this line](https://github.com/Expensify/Expensify.cash/pull/2740/files#diff-7fa482b2895f4e36a2a3ad8233496489c6de1256a8c992524e2fc072aaba43f8R292) from https://github.com/Expensify/Expensify.cash/pull/2740.

@tugbadogan can you please look into this?

[2021-05-12 22:14] roryabraham commented on #2825
I was able to determine that [this PR](https://github.com/Expensify/Expensify.cash/pull/2680) introduced this regression. Reverting it [here](https://github.com/Expensify/Expensify.cash/pull/2833)

[2021-05-12 22:17] roryabraham commented on #2335
Reopening this because we are reverting https://github.com/Expensify/Expensify.cash/pull/2680 in https://github.com/Expensify/Expensify.cash/pull/2833

[2021-05-12 22:22] Jag96 commented on #2698
Reopening this because we are reverting https://github.com/Expensify/Expensify.cash/pull/2740 in https://github.com/Expensify/Expensify.cash/pull/2834

[2021-05-12 22:37] #2825 closed

[2021-05-12 22:52] #2809 closed

[2021-05-12 22:56] #2761 closed

[2021-05-12 22:56] isagoico commented on #2751
Starting QA

[2021-05-12 23:36] tugbadogan commented on #2698
Thanks for reverting the PR to resolve the issue, I will send a new PR with including the fix to the regression.

[2021-05-12 23:39] stephanieelliott commented on #2673
Hi @thierrysantos! Spoke to @puneetlath and your solution sounds like it will work well. I invited you to the job on Upwork (https://www.upwork.com/jobs/~0104d10bfa31bff5e8), please accept and feel free to submit a PR!

[2021-05-12 23:52] thierrysantos commented on #2673
Thank you @stephanieelliott, I accepted the offer

[2021-05-12 23:54] tugbadogan commented on #2698
New PR is ready for review https://github.com/Expensify/Expensify.cash/pull/2841

[2021-05-13 00:24] isagoico commented on #2804
We were able to reproduce this on web on today's QA

[2021-05-13 00:28] deetergp commented on #2636
This seems like a safe enough one for me to use to teach myself a bit more about ReactNative. Snagging it!

[2021-05-13 00:41] kavimuru opened #2842 "Chat - App crashes after sending few messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Messages are sent with no issues
## Actual Result:
Messages are sent but app crashes constantly
## Action Performed:
1. Open app and login
2. Enter a

[2021-05-13 00:59] kavimuru opened #2844 "Chat - Sent images are not displayed in chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
The picture I have uploaded is visible

## Actual Result:
Uploaded pictures aren't displayed

## Action Performed:
1. Go to https://staging.expensify

[2021-05-13 01:02] isagoico opened #2845 "Copy to clipboard not working as expected when selecting text"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
A. Selected text should be displayed if the user right clicks the message
B. Copy to clipboard should be limited to per message.

## Actual Result:
A

[2021-05-13 01:13] isagoico opened #2846 "Strikethrough text is not working as expected if there's a space before the ~"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Text shouldn't be strikethrough

## Actual Result:
Text is strikethrough

## Action Performed:
1. Navigate to a conversation
2. Send this text
` ~thi

[2021-05-13 01:21] isagoico opened #2847 "Edit comment - Spaces are not displayed in edit box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Spaces should be visible in edit comment box

## Actual Result:
Spaces are not visible in edit comment box.

## Action Performed:
1. Navigate to a co

[2021-05-13 01:21] isagoico opened #2848 "Edit comment - Spaces are not displayed in edit box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Spaces should be visible in edit comment box

## Actual Result:
Spaces are not visible in edit comment box.

## Action Performed:
1. Navigate to a co

[2021-05-13 01:41] isagoico commented on #2848
Not sure why this was created twice, closing https://github.com/Expensify/Expensify.cash/issues/2847

[2021-05-13 01:41] #2848 closed

[2021-05-13 01:42] isagoico opened #2849 "Chat - Two New messages line displayed on one conversation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
One green line displayed on top of the new messages

## Actual Result:
Two green lines displayed with new messages

## Action Performed:
We don't hav

[2021-05-13 02:06] isagoico opened #2850 "Edit box - Text scroller appears if the edited text contains a emoji"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Edit comment should not have a scrollbar if there's a emoji in a single line text.

## Actual Result:
Scrollbar appears when adding a emoji to the ed

[2021-05-13 02:29] isagoico commented on #2751
Regression is finished!
4 issues found today.
1. https://github.com/Expensify/Expensify.cash/issues/2849
2. https://github.com/Expensify/Expensify.cash/issues/2844
3. https://github.com/Expensify/Expensify.cash/issues/2842
4. https://github.com/Expensify/Expensify.cash/issues/2850

PRs are finished too.
Some PRs were not tested on Desktop app yet (because the build failed to deploy) but will be te

[2021-05-13 03:04] sophiepintoraetz commented on #2846
Copied the text and performed Step 2 in the web version and was able to reproduce:
![image](https://user-images.githubusercontent.com/42940078/118071784-8b972100-b3fc-11eb-83ee-9ee5e37b1a29.png)

[2021-05-13 05:08] TomatoToaster commented on #2540
Have not forgotten about this! It's just a little hard to diagnose. I've been able to replicate it sometimes, but I'm still trying to figure out how this is happening.

[2021-05-13 05:24] Jag96 commented on #2804
cc @yuwenmemon it seems like this could be caused by the new `shouldShowComposeInput` value from https://github.com/Expensify/Expensify.cash/pull/2320/files

[2021-05-13 06:30] RachCHopkins commented on #2850
Ummm. I @isagoico have no way to send a message on staging. There is no message box whatsoever:

![image](https://user-images.githubusercontent.com/32854888/118087169-40d7d200-b419-11eb-9ae8-ad2d972b56b9.png)

[2021-05-13 07:00] johndev0711 commented on #2821
Hello, @mallenexpensify.
This is very interesting.
Do you mean **edit**? Or **copy to clipboard**?  There is no **edit** icon.
Am confident to fix this issue since understood the workflow...  <<^_^>>
Could you more clarify the expression as below?
1. Edit? Copy?
2. For the Images, currently implement as follows. (as a **text**) Is it right?
3. How many lines is available to edit/copy(only last mes

[2021-05-13 07:29] kadiealexander commented on #1524
Just checking if an iPhone user can reproduce this: https://expensify.slack.com/archives/C01SKUP7QR0/p1620890935125100

[2021-05-13 10:35] dklymenk commented on #2806
Confirm the fix works on all platforms. PR is ready for review

[2021-05-13 12:10] Beamanator commented on #2401
Hey @kidroca good clarifying questions, here's how I tested this issue:

1. Installed the app on my iOS device (from TestFlight - v1.0.38-1, which i think is the Beta version) & sent some messages to people, just for fun
2. Sent an email to myself with these links:
    1. `https://staging.expensify.cash/iou/split`
    2. `https://staging.expensify.cash/settings/preferences`

When I clicked the `/i

[2021-05-13 12:27] kidroca commented on #2401
Yep, thanks for the info I was abit thrown off by the ticket and the description: "App option not available when tapping deep link" - I assumed it was about any deep link not jost the IOUs.

I think what's suggested in the comment you've linked would be enough, since deep links work, it's just that IOU routes aren't known to universal links config - `apple-app-site-association`

[2021-05-13 14:20] trjExpensify commented on #2849
Hm, I'm unable to reproduce this. 🤔

![image](https://user-images.githubusercontent.com/16232057/118138046-ca79a680-b3fd-11eb-8c6f-5f09acab7f67.png)

The issue I'm seeing is that the NEW line doesn't go away after I view the chat, or if I reply:

![image](https://user-images.githubusercontent.com/16232057/118138189-ee3cec80-b3fd-11eb-8b86-d808a115ee05.png)

[2021-05-13 14:56] parasharrajat commented on #2804
@Jag96 Seems that we have to add `shouldShowComposeInput` here. When we signed in we can see the composer so I think OP signed in after installed the app. :smile:

https://github.com/Expensify/Expensify.cash/blob/51612b0ed9d7d7bce2e7fed6651ca11bb71da0ec/src/libs/actions/Session.js#L23

[2021-05-13 15:50] Beamanator commented on #2401
Aah ok well thanks for asking questions to get this clarified :D I'll happily assign this one to you, please submit a PR when you have a chance! 👍

[2021-05-13 15:53] Beamanator commented on #2401
*Adding the `External` label, as this issue will be worked on by a contributor, @kidroca 👍

[2021-05-13 15:55] isagoico commented on #2850
Yep it's a weird issue, sometimes reloading the app or refreshing the page solves it https://github.com/Expensify/Expensify.cash/issues/2804

[2021-05-13 16:37] thienlnam commented on #2812
Thanks for the explanations, I have a few more questions -

For example, if the user input "Ekaterina123" for the "Fiist Name", this will be invalid value.
If the user input "testemail@mail" for the "Email Address", this will be invalid value.

How are you validating this input, are you planning on using regex?

What files are you making these changes in?

What package are you planning on using, a

[2021-05-13 16:44] kidroca commented on #2401
### Proposal

As @johnmlee101 pointed out here: https://github.com/Expensify/Expensify.cash/issues/2401#issuecomment-831385200

The `/iou/` links aren't configured in
https://github.com/Expensify/Expensify.cash/blob/2778ad1e13fe3d6600330d804f1b6bbfe2ba9dc8/apple-app-site-association#L7-L13

- Adding `"/iou/*"` should allow iOS to interpret that the link can be handled by the E.cash app
- This woul

[2021-05-13 16:45] thienlnam commented on #2812
Also, I don't think we need to use an external package here and should just make this component ourselves - can you outline how you would create this component manually?

[2021-05-13 16:54] isagoico opened #2857 "Own messages were marked as unread un LHN and triggered an email notification"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Users own messages should not be marked as unread.

## Actual Result:
User messages were marked as unread in the LHN and triggered the email notifica

[2021-05-13 17:00] NicMendonca commented on #2401
@kidroca don't forget to [apply / accept for the job](https://www.upwork.com/jobs/~01f2e07703d8bdc295) in Upwork.

[2021-05-13 17:01] yuwenmemon commented on #2804
Ah yes, that was probably an oversight on my part. I can handle this one!

[2021-05-13 17:08] kidroca commented on #2401
Thanks, just did 😃

[2021-05-13 17:08] kakajann commented on #2760
I have fixed the issue and here is the PR #2818

[2021-05-13 17:28] roryabraham commented on #2279
I pushed some code updates to the WIP pull request, but it's been very challenging to make this work in all cases, especially on mobile web.

[2021-05-13 17:56] greg-schroeder commented on #2795
Okay I reproduced this.

[2021-05-13 18:04] roryabraham commented on #2279
What I have on my PR branch seems to work better than on `main`, without introducing any new bugs. So maybe we should just merge it and get some of the improvements, even if it doesn't work perfectly. 🤷🏼‍♂️

[2021-05-13 18:10] roryabraham opened #2861 "Test issue"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

## Action Performed:
Break down in numbered steps

##

[2021-05-13 18:10] #2861 closed

[2021-05-13 18:18] roryabraham commented on #2790
Verified this fix in `1.0.43-3`:

- [x] Web
- [x] Desktop
- [x] iOS
- [x] iOS safari

[2021-05-13 18:37] pranshuchittora commented on #2794
Interested in picking this up :)

[2021-05-13 18:43] dklymenk commented on #2794
I'm actually not sure why this is not an issue on iOS, but documentation for [RNDocumentPicker](https://github.com/rnmods/react-native-document-picker#name) says that the returned object has `name` and not `fileName`, so this function in `src/components/AttachmentPicker/index.native.js` has a mistake.

[code]

The way I see it, the fix is to do `fileData.name` in the function above instead of `fil

[2021-05-13 18:45] #2804 closed

[2021-05-13 19:03] jboniface commented on #2556
@shawnborton would you recommend closing this issue out?

[2021-05-13 19:09] dklymenk commented on #2794
Did a quick check on my local. The proposed solution resolves the issue on Android and doesn't affect iOS.

[2021-05-13 19:11] chiragsalian commented on #2794
Nice thats great. So on your local did you change it to,
[code]
?

If so I'm wondering why does the change not affect iOS. Mostly asking because then it feels like,
[code]
could be a safe solution. Let me know your thoughts.

[2021-05-13 19:18] pranshuchittora commented on #2498
Would like to pick this up

[2021-05-13 19:21] jboniface commented on #2498
@pranshuchittora please post a proposal describing your potential solution

[2021-05-13 19:29] pranshuchittora commented on #2498
Sure @jboniface I need to take a deep dive into it. But as per my early investigation, the issue seems to be in the ImageView component.

[2021-05-13 19:32] dklymenk commented on #2794
@chiragsalian Yes, that's the change.

The way I see it, since documentation doesn't reference `fileName` at all, we shouldn't even try to check for it. A hypothetical future developer that's unaware of the current issue we have, would probably waste some time trying to understand the purpose of this check, unless we add some comment that clarifies why we do it.

Overall, I'm against it, the addit

[2021-05-13 19:38] pranshuchittora commented on #2498
@jboniface pls share this

[2021-05-13 19:39] chiragsalian commented on #2794
Cool yeah, I agree with you. If iOS is not using `fileData.fileName`, then yes we definitely should not have it there since its useless and confusing 👍

Yup looking forward to your research to finding the actual answer. I see it was originally added here - https://github.com/Expensify/Expensify.cash/pull/463/files#diff-76e298ccb5738caa8083274a1ead20df7abb8848e99e11284063975ce452b701R13
so maybe @J

[2021-05-13 19:45] jboniface commented on #2498
ah, sorry
![IMG_5693](https://user-images.githubusercontent.com/24399930/118178688-4970de00-b402-11eb-94dc-6a889855f134.PNG)

[2021-05-13 20:03] pranshuchittora commented on #2498
@jboniface I am not able to login in to my emulator as well as the web. All the links pointing to production.
I referred to the README but lots of links are behind StackOverflow teams.

Can you share the steps for logging in to the local dev environment

[2021-05-13 20:08] jboniface commented on #2498
hm, the only required steps should be [here](https://github.com/Expensify/Expensify.cash#getting-started)

[2021-05-13 20:10] pranshuchittora commented on #2498
This one is behind private StackOverflow -> https://stackoverflow.com/c/expensify/join?returnurl=%2fc%2fexpensify%2fquestions%2f7699%2f7700

[2021-05-13 20:13] jboniface commented on #2498
That is because it is for Expensify engineers who need to edit the API

[2021-05-13 20:44] pranshuchittora commented on #2498
I am not able to move forward with this because I am not able to log in to the app in the emulator. And I am not able to find any way to login into the emulator with the production magic link.

Can you help me with providing the following documentation, or clarify the same with any of the Developer?

[2021-05-13 20:54] pranshuchittora commented on #2498
The image seems to be clear, but I am not able to expand the image on click.
Is it a known issue ?

![Simulator Screen Shot - iPhone 11 - 2021-05-14 at 02 24 01](https://user-images.githubusercontent.com/32242596/118186532-77364100-b45b-11eb-985c-6edacfd9291c.png)

[2021-05-13 21:06] #2580 closed

[2021-05-13 21:17] pranshuchittora commented on #2811
## Proposal
1. Add About as a menu item on the Settings page between Change Password and Sign Out

First, we need to add the about key and its respective value above/below this line 👇🏼
https://github.com/Expensify/Expensify.cash/blob/2710965fd437dd65ac2842d3ff53a93c87e64108/src/languages/en.js#L136

After that, we need to define the menu items, something like this in the `initialPage.js`
[code]
2.

[2021-05-13 21:31] dklymenk commented on #2794
Ok, I got it. One could probably write a small novel on why it works on iOS, but i'll try to make it as brief as I can.

So first all, the `file` data gets passed down to `AttachmentView` component like this:
[code]
Please note that in our case `sourceURL` is the same as `file.uri`.

The `AttachmentView` ultimately renders one of three views depending on file type: PDF, image and a general block w

[2021-05-13 22:11] JmillsExpensify commented on #2760
Oh interesting! For the future, please make sure to post your technical review before submitting the PR. I'll circle back with the team and determine best next steps.

[2021-05-13 22:33] roryabraham commented on #2751
Adding Lock label as part of testing [here](https://github.com/Expensify/Expensify/issues/157916)

[2021-05-13 22:36] johncschuster commented on #2844
@thienlnam I've reproduced this on Staging. Here's a side-by-side of staging v. production.

![2021-05-13_17-34-53](https://user-images.githubusercontent.com/5579997/118195873-ab850f80-b411-11eb-869b-e16d00da315e.png)

[2021-05-13 22:48] roryabraham commented on #2751
Okay, we made it to step 15 of the testing plan [here](https://github.com/Expensify/Expensify.cash/pull/2329), so here's a snapshot of the current state of this issue:

<details>
    <summary>Current `StagingDeployCash` issue body</summary>

[code]
</details>

So, next I'm going to check off all the remaining items and run a production deploy.

[2021-05-13 22:49] parasharrajat opened #2902 "🤯 Expensify.cash crashing on web."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
When we resize the page, the page hangs forever. This is happening while implementing changes for https://github.com/Expensify/Expensify.cash/pull/2822/ I have minimized

[2021-05-13 22:49] roryabraham commented on #2751
:shipit:

[2021-05-13 22:49] #2751 closed

[2021-05-13 22:52] OSBotify opened #2905 "Deploy Checklist: Expensify.cash 2021-05-13"
**Release Version:** `1.0.45-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2287
- [x] https://github.com/Expensify/Expensify.cash/pull/2899
- [x] https://github.com/Expensify/Expensify.cash/pull/2906
- [x] https://github.com/

[2021-05-13 22:54] chiragsalian commented on #2794
Cool yeah I agree with you that if needed that would be outside the scope of this particular issue. cc @jboniface for awareness that it looks like even if we show the preview on android the scrolling does not work well. would be a different follow up issue though.

Yeah I agree with you. We'll change this at a later time and not tackle this atm.

Anyway nice, thank you for those findings @dklymenk

[2021-05-13 22:59] Jag96 commented on #2794
Originally we were using a different library (image-picker) and that was what worked with that implementation. When we changed to the document picker in [this PR](https://github.com/Expensify/Expensify.cash/pull/689) I would think it was still working granted the tests there, so perhaps something else went wrong along the way.

[2021-05-13 23:07] dklymenk commented on #2794
Thanks @chiragsalian , I assume I'm meant to wait for proposal approval on upwork before submitting PR. That is according to contributing guide.

[2021-05-13 23:20] roryabraham commented on #2905
Locking to test.

[2021-05-13 23:26] roryabraham commented on #2905
Okay, made it to step 15 of the testing plan [here](https://github.com/Expensify/Expensify.cash/pull/2329) again, so here's a snapshot of the current state of this issue:

<details>
    <summary>Current `StagingDeployCash` issue body</summary>

[code]
</details>

So, next I'm going to check off all the remaining items and run a production deploy.

[2021-05-13 23:27] roryabraham commented on #2905
:shipit:

[2021-05-13 23:27] #2905 closed

[2021-05-13 23:31] OSBotify opened #2917 "Deploy Checklist: Expensify.cash 2021-05-13"
**Release Version:** `1.0.46-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2287
- [x] https://github.com/Expensify/Expensify.cash/pull/2724
- [x] https://github.com/Expensify/Expensify.cash/pull/2745
- [x] https://github.com/

[2021-05-13 23:37] chiragsalian commented on #2794
Yes, sorry, a little new to upwork 🙂  I've gone ahead and sent a hire request for your proposal on upwork. Let me know if anything else is pending on my side and if not go ahead and work on the PR.

[2021-05-13 23:38] Jag96 opened #2918 "Android Production Deploys are failing"
Keeping this issue internal since this requires Google Play access to confirm the builds show up in the internal track
cc @Expensify/mobile-deployers

## Expected Result:
Android deploys such as [this one](https://github.com/Expensify/Expensify.cash/commit/66421d9a5c3bd916c9d454638b45c4c25f0eea00/checks) should succeed

## Actual Result:
Android deploys are failing with the following error message

[2021-05-13 23:42] roryabraham commented on #2917
Manually adding the following unverified PRs into this checklist, despite the fact that they have already been deployed to production. They should still be tested on staging so we know if there are bugs.

- [ ] https://github.com/Expensify/Expensify.cash/pull/2287
- [ ] https://github.com/Expensify/Expensify.cash/pull/2724
- [ ] https://github.com/Expensify/Expensify.cash/pull/2745
- [ ] https://g

[2021-05-13 23:43] dklymenk commented on #2794
Thanks. Offer accepted. You may assign the issue to me.

[2021-05-13 23:43] chiragsalian commented on #2794
done

[2021-05-13 23:45] roryabraham commented on #2842
While this seems pretty serious, it is no longer a deploy blocker, because we ran a production deploy today while testing changes to the Expensify.cash deploy code. So _now this bug is even more urgent_, since it is on production.

[2021-05-13 23:46] roryabraham commented on #2844
While this is pretty serious, it is no longer a deploy blocker, because we ran a production deploy today while testing changes to the Expensify.cash deploy code. So _now this bug is even more urgent_, since it is on production. 😉

[2021-05-14 00:22] dklymenk commented on #2794
@chiragsalian Submitted a PR.

[2021-05-14 00:53] Ekaterina221 commented on #2812
For the validation, I am going to use RegExp.
And for the pop-up notification, I can create the component without using external package.
Thanks.

[2021-05-14 02:49] jasperhuangg opened #2920 "[HOLD for payment June 27] Emoji Picker is slow to add emoji on Native Platforms and doesn't pull up the keyboard afterwards"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Upwork posting: https://www.upwork.com/jobs/~01572e274a1ada4be0

## Expected Result:
The emoji picker should add the emoji instantaneously and pull up the keyboard after

[2021-05-14 03:35] RachCHopkins commented on #2850
Ok, no scrollbar for me on MacOS / Chrome

![image](https://user-images.githubusercontent.com/32854888/118217557-d2068180-b4c9-11eb-9cb5-c1ff4e400446.png)

What OS/Browser combo are you using @isagoico ?

[2021-05-14 08:13] Christinadobrzyn commented on #1524
Just helping out since this is a Daily - based on the Slack convo, it sounds like this would be a new feature to the iOS keyboard so posting to Upwork!

Internal Upwork job posting - https://www.upwork.com/ab/applicants/1393116767644647424/job-details
External Upwork job posting - https://www.upwork.com/jobs/~01576dddefce7e76db

Waiting for proposals!

[2021-05-14 08:30] Beamanator commented on #2401
@kidroca [your proposal](https://github.com/Expensify/Expensify.cash/issues/2401#issuecomment-840685867) looks great! Please submit a PR and link it to this issue when you have time :)

[2021-05-14 10:10] dipan97 commented on #1524
We can use the default react native text input props autoCompleteType={"off"} and keyboardType={"email-address"}.

This should definitely resolve the issue.

[2021-05-14 10:29] Julesssss commented on #2811
Thanks for the proposals.

@nikul6 appreciate the extra info, but it would be great to start wth a clearly defined proposal for the next issue. Please continue to look through our issues

@pranshuchittora would you like to make a start on the implementation? I don't think the render tests are necessary (as we haven't yet established best practices). Would love to see the mocked Navigation test tho

[2021-05-14 10:32] dharamvir-glide commented on #1524
@AndrewGable @kadiealexander @Christinadobrzyn  - I had provided my solution above in the defect with screen shot. I am using react native text input props autoCompletet = false in LoginFormNarrow.js and LoginFormWide.js.

This should definitely resolve the issue.

So could you please assign this task to me in Upwork, I already submit my proposal for same in Upwork job .

[2021-05-14 10:35] pranshuchittora commented on #2811
@Julesssss I would love to get started with this ASAP.
Once again thanks a lot :)

I will start by creating a draft PR

[2021-05-14 10:41] #2698 closed

[2021-05-14 10:44] dharammachra commented on #1524
@AndrewGable @kadiealexander @Christinadobrzyn - I had provided my solution above in the defect with screen shot. I am using react native text input props autoCompletet = false in LoginFormNarrow.js and LoginFormWide.js.

This should definitely resolve the issue.

So could you please assign this task to me in Upwork, I already submit my proposal for same in Upwork job .

[2021-05-14 11:56] kakajann commented on #2812
First off, there is a bug. When you save your profile without `First name` and `Last name` it doesn't update `myPersonalDetails`. Here's a video showing the bug.

https://user-images.githubusercontent.com/11542415/118265756-121e3200-b4d3-11eb-9423-949289d765d6.mov

Also, showing a notification growl when required fields are empty is bad UX. (it confuses the user and force them to find what they mi

[2021-05-14 12:42] sketchydroide commented on #2711
I think this will be important as we have more features in e.cash.
Let fix it.

[2021-05-14 12:43] sketchydroide commented on #2711
@marcaaron is it ok for @parasharrajat to start working on this?

[2021-05-14 13:24] pranshuchittora commented on #1524
## Proposal 📄
On Login, screen use email keyboard type and disable auto complete

## Approach 👨🏼‍💻
File of concern : `src/pages/signin/LoginForm.js`
1. In order to disable the auto complete we need to modify the current auto complete prop
[code]
2. For email keyboard, we need to add the following prop
[code]

## Testing 🧪
Adding snapshot-based test would make sure that we didn’t override this in f

[2021-05-14 13:45] kaushiktd commented on #2097
@stitesExpensify No prob. I managed to do it from Windows system. Did you get a chance to check it out?

[2021-05-14 16:10] shawnborton commented on #2812
@kakajann I agree, we should fix the lack of form validation. However, I think we can do that as a separate issue from this one and focus on just creating the confirmation growl upon a successful save.

[2021-05-14 16:13] parasharrajat commented on #2812
As a suggestion, I think we should update the title to something like. **Create an alert growl component and add confirmation growl when saving changes in profile.**

[2021-05-14 16:27] marcaaron commented on #2446
Most likely just need to fix the styling so that there is a fixed with for the popover on web/desktop. It is incorrectly using a `minWidth`:

https://github.com/Expensify/Expensify.cash/blob/08a000516b4e222643543c2427c5bb22e99be273/src/styles/styles.js#L827

[2021-05-14 16:34] parasharrajat commented on #2446
I suggest using a fixed width.
[code]
and on Mobile 100% of the screen.

[2021-05-14 16:35] stitesExpensify commented on #2097
@kaushiktd Yes I did, if you could take a look at my comment and update your PR description to match the template that would be great

[2021-05-14 16:40] TwizzyIndy commented on #2570
So, are we going to close this issue without PR?

[2021-05-14 16:50] thienlnam commented on #2812
@Ekaterina221

I'm still hoping for an outline of how you'd create the component

- How would you handle dynamic screen sizes?
- What types of props are required?
- How will you handle localization?
- How/where will this component be initialized and how will it be triggered to show?

[2021-05-14 16:54] roryabraham commented on #2570
@TwizzyIndy Generally we only close an issue if we're unable to reproduce it during weekly retests for several (6?) weeks in a row.

[2021-05-14 16:56] puneetlath commented on #2821
Hey @johndev0711 we do actually have edit functionality. It's not yet on the production version of the app, but if you run it locally, you should see the option to edit your previously sent messages.

[2021-05-14 17:11] marcaaron commented on #2446
@parasharrajat sounds good to me.

[2021-05-14 17:23] shawnborton commented on #2556
I'm thinking this is better addressed when we have a different kind of text input, so yeah, I think I would recommend just closing this one out.

[2021-05-14 17:24] #2807 closed

[2021-05-14 17:27] jboniface commented on #2556
@shawnborton ty!
closing for now

[2021-05-14 17:27] #2556 closed

[2021-05-14 17:41] thienlnam commented on #2844
Prioritizing this and looking into it now

[2021-05-14 17:45] thienlnam commented on #2844
Found the issue, trying to use withLocalize in RenderHTML was making it so that the <img> tags were not recognized as images and not going through our image handling, working on a fix so we can still use localization there

![Screen Shot 2021-05-14 at 10 45 32 AM](https://user-images.githubusercontent.com/30609178/118309008-82ac5b00-b4a1-11eb-94e6-fa6b6496dd15.png)

[2021-05-14 18:20] stitesExpensify commented on #2847
@roryabraham this can probably be external unless you're working on it already, right?

[2021-05-14 18:55] roryabraham commented on #2847
Yep I'm not working on this, so let's get this on Upwork!

[2021-05-14 19:09] trjExpensify commented on #2849
@isagoico 👋 ! Are you guys able to reproduce this one, or should we close it for now? 🤔

[2021-05-14 19:22] Beamanator opened #2934 "[PAY 8/19] Fix how validation displays in UI"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Front-end validation should catch obviously invalid phone numbers, and display the error message `"Please enter a phone number including the country

[2021-05-14 19:27] isagoico commented on #2849
We currently don't have solid reproduction steps but it has happened twice already. We will keep an eye open if we can reproduce this issue again during today's regression round

[2021-05-14 19:27] Beamanator commented on #2934
Unassigning @alexpensify , I don't believe triage is needed :D

[2021-05-14 19:38] #2844 closed

[2021-05-14 19:52] mallenexpensify opened #2936 "[HOLD #2934] Enhancements for "Debounce account search typing & fix how validation displays in UI""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

On hold for #2934 since that one adds a necessary fix to phone number validation, and this one builds on that

These are enhancements are related to https://github.com/E

[2021-05-14 19:53] marcaaron opened #2937 "All report actions are downloaded for all chats on first sign in"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Only a subset of report actions should be downloaded when we first sign in.

## Actual Result:
A TON of network requests fire off and things are real

[2021-05-14 20:04] mallenexpensify commented on #2934
Posted to Upwork https://www.upwork.com/jobs/~0175575d61566ad5ee
@Beamanator assigning back to you

[2021-05-14 20:21] alev374 commented on #2934
Hello Client!
It's one day job for me. I can add the validation function and display error message like you want instead of clickable option row. I will catch the onChangeText event with the correct Debounce value, so that I can validate the phone number each input.
Then error message will be shown if any error has occurred. This can be done in each component or customized component.
It will not a

[2021-05-14 20:28] #2784 closed

[2021-05-14 20:34] stephanieelliott opened #2938 "[HOLD for payment July 20] Design updates to the Expensify.cash login page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Deliverables:
Apply new design and copy updates on the login page at expensify.cash
- Fonts and design assets are available in the code repository
- Once hired, we wi

[2021-05-14 20:46] stephanieelliott commented on #2938
This job has been posted to Upwork: https://www.upwork.com/jobs/~013f470ea624127142

[2021-05-14 20:53] NicMendonca commented on #2847
Created job in Upwork: https://www.upwork.com/jobs/~01aab2d470107fe14c

[2021-05-14 20:54] pranshuchittora commented on #2934
## Proposal 📄
Front-end validation should catch obviously invalid phone numbers, and display the error message "Please enter a phone number including the country code e.g +447814266907" instead of a clickable OptionRow. Like this:

## Approach 👨🏼‍💻
File of concern : `/src/components/OptionsSelector.js`
1. We need to validate each input from the user.
2. This will increase the number of call to the

[2021-05-14 21:28] pranshuchittora commented on #2938
## Proposal 📄
Apply new design and copy updates on the login page at expensify.cash
- Fonts and design assets are available in the code repository
- Once hired, we will also share the Figma file directly to assist with font sizing
- This project has a firm 7-day turnaround time

## Approach 👨🏼‍💻
File of concern : `/src/pages/signin/LoginForm.js`

1. As we need to introduce changes to the web, we n

[2021-05-14 22:15] mallenexpensify commented on #2180
Will pay on 5/19 if there are no regressions

[2021-05-14 22:23] mallenexpensify commented on #2760
@Julesssss Can you review the PR/proposal above and provide feedback?

[2021-05-14 22:31] aliabbasmalik11 commented on #2601
Here is my PROPOSAL
https://github.com/Expensify/Expensify.cash/issues/2601#issuecomment-828138291

Thanks

[2021-05-14 22:40] mallenexpensify commented on #2711
Posted private to Upwork and invited you @parasharrajat Let us know when you accept
https://www.upwork.com/jobs/~01e376d239418712f1

[2021-05-14 22:47] parasharrajat commented on #2711
@mallenexpensify Applied. Thanks.

[2021-05-14 23:11] #2806 closed

[2021-05-14 23:15] isagoico commented on #2917
**Regression** is finished!
No issues found today.

**PRs** are finished too.
No comments added.

2 Deploy blockers were still reproducible

https://github.com/Expensify/Expensify.cash/issues/2804 - Was fixed 🎉
#2842 - still reproducible
#2844 - Still reproducible

Thanks!

[2021-05-14 23:16] isagoico commented on #2917
:shipit:

[2021-05-14 23:16] #2917 closed

[2021-05-14 23:20] OSBotify opened #2948 "Deploy Checklist: Expensify.cash 2021-05-14"
**Release Version:** `1.0.48-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/1257
- [x] https://github.com/Expensify/Expensify.cash/pull/2723
- [x] https://github.com/Expensify/Expensify.cash/pull/2731
- [x] https://github.com/

[2021-05-15 00:06] johndev0711 commented on #2821
@puneetlath, thanks for your kindness.
Will check soon.

[2021-05-15 00:20] isagoico opened #2950 "Emoji Picker - Auto focus cursor on search bar when opening the emoji Picker"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
When opening the emoji picker in web/desktop the focus should be on the search bar to easily search the emoji.

## Actual Result:
When opening the em

[2021-05-15 00:28] isagoico opened #2951 "Search - Unable to find group when searching integrants with commas"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User should be able to search for a group using commas between the integrants

## Actual Result:
Unable to find group when searching integrants with

[2021-05-15 14:57] pranshuchittora commented on #2847
## Proposal 📄
Spaces should be visible in edit comment box

## Investigation 🕵🏻‍♂️
- I started by debugging the `edit` flow. And found out that the `text` key was incorrect as compared to the `html`.
<img width="906" alt="Screenshot 2021-05-15 at 6 29 48 PM" src="https://user-images.githubusercontent.com/32242596/118364588-a9a88100-b5b6-11eb-9823-b453d980a0cc.png">

- After some more debugging I c

[2021-05-15 15:23] pranshuchittora commented on #2430
@Jag96 is this still open to work?

[2021-05-15 15:56] roryabraham commented on #2847
@pranshuchittora The regex you're referring to actually lives [here](https://github.com/Expensify/expensify-common/blob/master/lib/str.js#L312-L318). It's not that it "doesn't work" per-se. It does exactly what it intends to – strips HTML tags from a string. However, we will need to investigate the full context of why we have separate reportAction fields for text v.s. html. I believe it has to do

[2021-05-15 16:29] pranshuchittora commented on #2847
@roryabraham I truly agree with you. As per my experience regexes doesn’t scale well in terms of maintainability in the long run.

Considering the budget for this fix, the possible way is to replace the HTML string sanitization with native sanatizer `new Sanitizer().sanitizeToString(stringToClean)` [MDN Reference](https://developer.mozilla.org/en-US/docs/Web/API/HTML_Sanitizer_API) which apparentl

[2021-05-16 10:25] BayCo commented on #2847
## Details
If we turn [this line](https://github.com/Expensify/Expensify.cash/blob/cb4c331ba5b09fcf4695faac9c2e6ff83b499366/src/libs/actions/Report.js#L900) into this:
`const commentText = parser.replace(text).replace(/<br>/gm, '\n');`
problem is solved.

However, there's one more problem in editing the message that new message doesn't use `ExpensiMark (parser)`.

## Proposal
1. As I mentioned abo

[2021-05-16 12:54] pranshuchittora commented on #2950
I would like to work on this

[2021-05-16 13:47] thierrysantos commented on #2673
The PR is open https://github.com/Expensify/Expensify.cash/pull/2854 🎉

[2021-05-17 01:24] isagoico commented on #2849
Issue not reproducible during today's KI retests. (First week)

[2021-05-17 01:27] isagoico commented on #2446
Issue reproducible during today's KI retests

[2021-05-17 01:27] isagoico commented on #2601
Issue reproducible during today's KI retests

[2021-05-17 01:27] isagoico commented on #2636
Issue reproducible during today's KI retests

[2021-05-17 01:27] isagoico commented on #2705
Issue reproducible during today's KI retests

[2021-05-17 01:28] isagoico commented on #2850
Issue reproducible during today's KI retests

[2021-05-17 01:33] isagoico commented on #2661
Issue reproducible during today's KI retests.

[2021-05-17 01:36] isagoico commented on #2097
Issue not reproducible during today's KI retests

[2021-05-17 01:37] isagoico commented on #2121
Issue not reproducible during today's KI retests

[2021-05-17 01:37] isagoico commented on #2122
Issue not reproducible during today's KI retests

[2021-05-17 01:37] isagoico commented on #2499
Issue not reproducible during today's KI retests

[2021-05-17 01:37] isagoico commented on #2570
Issue not reproducible during today's KI retests

[2021-05-17 01:39] isagoico commented on #2662
Issue reproducible during today's KI retests

[2021-05-17 01:39] isagoico commented on #2842
Issue reproducible during today's KI retests

[2021-05-17 01:42] isagoico commented on #2401
Issue reproducible during today's KI retests

[2021-05-17 01:42] isagoico commented on #2279
Issue reproducible during today's KI retests

[2021-05-17 01:42] isagoico commented on #2447
Issue reproducible during today's KI retests

[2021-05-17 01:43] isagoico commented on #2710
Issue reproducible during today's KI retests

[2021-05-17 01:43] isagoico commented on #2726
Issue reproducible during today's KI retests

[2021-05-17 04:21] RachCHopkins commented on #2850
What OS/Browser combo are you using @isagoico ?

[2021-05-17 07:28] kidroca commented on #2401
Hi, I've submitted a proposal on Upwork but haven't been hired yet: https://www.upwork.com/ab/proposals/1392889246951727105
I need to have a contract to commit to this task

[2021-05-17 07:55] TwizzyIndy commented on #2570
@johnmlee101 I submitted a PR bro. Please review it, thanks.

[2021-05-17 08:40] jasperhuangg commented on #2951
@arielgreen Gonna snag this one and work on it!

[2021-05-17 08:53] Beamanator commented on #2401
@kidroca I've ping'd our people w/ Upwork access to accept your proposal :D

[2021-05-17 08:55] SofiedeVreese commented on #2401
Accepted proposal [here](https://www.upwork.com/ab/proposals/1392889246951727105) to help speed this along.

[2021-05-17 09:24] Beamanator commented on #2934
@alev374 Thanks for [your proposal](https://github.com/Expensify/Expensify.cash/issues/2934#issuecomment-841480975)!

Although I believe I understand where you're going with your proposal, I can't quite tell how you plan to solve this issue. Next time, please clarify exactly how you plan to implement the fix. More specifically, "This can be done in each component or customized component" is not cl

[2021-05-17 09:28] Beamanator commented on #2934
@pranshuchittora Thanks for [your proposal](https://github.com/Expensify/Expensify.cash/issues/2934#issuecomment-841498560) as well!

Thanks for clearly defining the file(s) you plan to change, and the steps you'll take. As you may have noticed, we split the debouncing enhancement into a new issue (found here: https://github.com/Expensify/Expensify.cash/issues/2936) so if you could please adjust y

[2021-05-17 09:34] jasperhuangg commented on #2950
Ahh @pranshuchittora my bad! I was working on a solution for this but forgot to assign myself.

[2021-05-17 09:38] pranshuchittora commented on #2934
Thanks for the feedback @Beamanator. I have updated my proposal.
Good Day:)

[2021-05-17 10:17] Beamanator commented on #2934
Thanks for the quick update @pranshuchittora ! Your proposal looks great, please make sure you also submitted a proposal in Upwork so @mallenexpensify can assign you the job, then please submit a PR when you have time :)

[2021-05-17 10:21] pranshuchittora commented on #2934
Hi, @Beamanator thanks a lot. I have applied to work on this ticket via UpWork. I will try to push a draft PR by tomorrow 👍🏼

[2021-05-17 10:25] pranshuchittora commented on #2938
@stephanieelliott looking forward to your feedback on the proposal ☝🏼
Good Day :)

[2021-05-17 11:03] Beamanator commented on #2936
Removing @thienlnam b/c I'm happy to review proposals 👍

[2021-05-17 11:05] Beamanator commented on #2936
Oops, shouldn't have added `Exported` yet since this job isn't on Upwork yet :O

[2021-05-17 12:08] pranshuchittora commented on #2936
## Proposal 📄
When entering an email address or phone number in OptionsSelector's TextInputWithFocuStyles (on all screens where this exists), the app should do a few things:

- Show a spinner when user is typing (debounce input, so stop showing spinner 300ms after user stops typing and do validation checks below)
- When user has stopped typing for 300ms, do basic front-end validation checks Email

[2021-05-17 12:16] jasperhuangg commented on #2850
This is definitely an issue with Windows if it isn't reproducible on Mac.

[2021-05-17 12:53] Beamanator commented on #2936
Thanks for the proposal, @pranshuchittora !

Here's some responses to your questions:

- Any documentation for IsValidPhoneNumber. So far this is not been implemented in the codebase.
    -
- Any UI design for this?
- Any specific spinner component (<ActivityIndicator />)?

[2021-05-17 13:08] Beamanator commented on #2936
Thanks for the proposal, @pranshuchittora !

Here's some responses to your questions:

- > Any documentation for `IsValidPhoneNumber`. So far this is not been implemented in the codebase.
    - Input: Object in format: `{ phoneNumber: "720-111-1111"}`.
        - Valid if `phoneNumber` satisfies this regex: `'(\+?\d{10,15}|\d\d\d-\d\d\d-\d\d\d\d)'`
        - Example:
[code]
    - Output: Json with

[2021-05-17 13:51] Viacheslav80 commented on #2847
### Proposal ###
We modify getActionText() in /src/pages/home/report/ReportActionContextMenu.js
[code]

[2021-05-17 15:05] arielgreen opened #2960 "[Hold for payment 2021-05-25] Search results are not sorted by last viewed anymore"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Before you type any search keywords, sort the search results by most recently viewed.

## Actual Result:
Before you type in any search keywords, the

[2021-05-17 15:18] jboniface commented on #2601
@aliabbasmalik11 sorry for the delay, let me flag an engineer to review this

[2021-05-17 15:26] parasharrajat commented on #2960
### Proposal
1. I found that we have set the `sortByLastMessageTimestamp` flag as true for `getSearchOptions` as well.
https://github.com/Expensify/Expensify.cash/blob/cb4c331ba5b09fcf4695faac9c2e6ff83b499366/src/libs/OptionsListUtils.js#L345
2. If we set this flag to `false`, we get the `sortby` as `lastVisitedTimestamp`.

https://github.com/Expensify/Expensify.cash/blob/cb4c331ba5b09fcf4695faac9

[2021-05-17 15:29] jboniface commented on #2498
It seems like this might not be reproducible anymore, closing for now.

[2021-05-17 15:29] #2498 closed

[2021-05-17 15:54] Viacheslav80 commented on #2845
### Proposal ###
we will replace the selection range after 5ms, it will have been cleared by then. Why it's cleared I don't know.
We modify executeSecondaryInteractionOnContextMenu(e) in
/src/components/PressableWithSecondaryInteraction/index.js
[code]

[2021-05-17 16:33] Jag96 commented on #2430
@pranshuchittora yes this issue is still available to work on! If you're interested please submit a proposal explaining how you plan on fixing the issue.

[2021-05-17 16:35] johnmlee101 commented on #2960
Hmm while I agree that will fix it, the naming scheme seems off. In which cases do we use `lastVisitedTimestamp` vs `lastMessageTimestamp` when sorting today? Why do those 2 options exist?

[2021-05-17 16:38] johnmlee101 commented on #2960
Ah nevermind I see. Solution looks good @parasharrajat !

[2021-05-17 16:51] pranshuchittora commented on #2936
Is that works @Beamanator

https://user-images.githubusercontent.com/32242596/118526334-c0d5a300-b75d-11eb-8f8a-f78ab2c8de60.mp4

Debounce

https://user-images.githubusercontent.com/32242596/118526327-bf0bdf80-b75d-11eb-9434-3d660618fa94.mp4

[2021-05-17 16:56] arielgreen commented on #2960
@parasharrajat I just sent over the offer via Upwork.

[2021-05-17 17:02] yuwenmemon commented on #2847
@roryabraham I believe the text field is for exactly this:

It also is useful for contexts where we can use HTML (like push notifications), but I think if we're not using the `text` field in the "alternate solution" you're describing we certainly should be 😅

[2021-05-17 17:06] isagoico commented on #2948
Starting QA 🚀

[2021-05-17 17:10] parasharrajat commented on #2960
@arielgreen @johnmlee101 Do we need to keep the pinned report on the top of the search page and then as per the last visited or just based on the last Visited?

[2021-05-17 17:58] Jag96 commented on #2447
I can confirm this issue still occurs on the iPad Pro (9.7 inch). @tugbadogan can you have a look please?

[2021-05-17 18:02] trjExpensify commented on #2960
The latter, just based on last visited 👍

[2021-05-17 18:03] tugbadogan commented on #2447
Hmm, let me check this. Are you using the same steps to reproduce the issue?

[2021-05-17 18:08] Jag96 commented on #2447
Yes, using the same steps on the latest main (1.0.47-0)

[2021-05-17 19:13] isagoico opened #2965 "LHN - Message preview doesn't treat new line as space"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Message preview should display a space if there is a new line in the message.

## Actual Result:
Message preview doesn't treat new line as space

##

[2021-05-17 19:29] parasharrajat commented on #2658
@shawnborton Should have been closed with your PR? :question:

[2021-05-17 19:33] isagoico opened #2966 "Edit button does not show up on Hover Menu for recently sent message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User should be able to edit the message even immediately after sending

## Actual Result:
User is unable to edit the message. When navigating away an

[2021-05-17 19:52] kavimuru opened #2967 "[HOLD for payment 23 June] Web - Chat - Adjust modal rendering"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Right clicking on a chat message should open the context menu (i.e. right click menu). Right clicking on a second chat message (without closing the c

[2021-05-17 19:52] tgolen commented on #2601
@aliabbasmalik11 Can you please verify if your proposal works when you put the cursor in the middle of a message to add an emoji?

Also, can you please explain why the `value` attribute needs added to `TextInputFocusable `?

[2021-05-17 20:18] isagoico opened #2968 "Edit message - Able to save an empty message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Email address must be clickable and after deleting the text, "editing" should not remain

## Actual Result:
After deleting the text in the edit box,

[2021-05-17 20:32] tgolen commented on #2601
@aliabbasmalik11 I was also curious why this is a different account than @aliabbasmalik8 which has done several issues for us before? https://github.com/aliabbasmalik8. Is that just a coincidence???

[2021-05-17 20:54] isagoico opened #2969 "IOU - Unable to create IOU transaction via request money on conversation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User should be able to request money via the + button in the compose box.

## Actual Result:
Blank page is displayed after adding the amount.

## Act

[2021-05-17 20:58] marcaaron commented on #2847
Ok based on the conversations [in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1621271828230000) I think that how we should handle this is:

1. Stop referencing the `text` field altogether as we are discussing deprecating it and removing it
2. Implement a reverse parser in [`ExpensiMark`](https://github.com/Expensify/expensify-common/blob/bfc6f35e0e8fee2b65f417175fa764d5d45bc3f1/lib/Ex

[2021-05-17 20:59] mallenexpensify commented on #2934
@pranshuchittora , hired you in Upwork 🎉
@Beamanator will be reviewing your PR once it's ready.

[2021-05-17 21:02] marcaaron commented on #2847
Also, it might be fine for this work to be split up into several issues - but we can start by handling the line breaks at least?

[2021-05-17 21:03] mallenexpensify commented on #2711
Hired @parasharrajat 🎉
@roryabraham will be reviewing your PR.

[2021-05-17 21:12] mallenexpensify commented on #2430
@pranshuchittora you'll need to finish the other issue I hired you for before we can hire you on this one. Per [our contributing.md](https://github.com/Expensify/Expensify.cash/blob/main/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted) "New Expensify.cash contributors are limited to working on one job at a time, however experienced contributors may work on numerous jobs simultaneously.

[2021-05-17 21:27] arielgreen commented on #2759
Reopening, will close upon payment.

[2021-05-17 21:46] aliabbasmalik11 commented on #2601
@tgolen, @jboniface  There is one more issue when we add emoji in mid of text it'll add at the end and this issue also fix in this latest proposal

**UPDATED PROPOSAL**

https://github.com/Expensify/Expensify.cash/blob/c1000111ec29f0b0313730bd2cf0c21309819e21/src/pages/home/report/ReportActionCompose.js#L118
 add `selection` state here,
[code]
https://github.com/Expensify/Expensify.cash/blob/c1000

[2021-05-17 21:47] isagoico opened #2972 "Android - App crashes when uploading a PDF file"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User is able to attach a PDF file.

## Actual Result:
App crashes after uploading a PDF file.

## Action Performed:
1. Open app on android device.
2.

[2021-05-17 21:53] isagoico commented on #2972
We were unable to reproduce this on the previous build 1.0.46-0, on this build we did reproduce the issue with the attachments not being displayed in the conversation.
Unable to verify the issue in prod since the android production build is failing (https://github.com/Expensify/Expensify.cash/actions/runs/843691669) Not sure if I should add the deploy blocker to this one, @roryabraham what do you

[2021-05-17 21:55] isagoico commented on #2948
#2843 was a fail, being fixed here https://github.com/Expensify/Expensify.cash/pull/2971

[2021-05-17 22:02] Beamanator commented on #2936
Hey @pranshuchittora !

I like the debouncing, but I believe we should show the spinner while we're waiting for the user to stop typing (for 300ms) and while waiting or the `IsValidPhoneNumber` response to come back. Also are you planning to make sure the "Concierge" & "pranshu_...@srmuniv..." chats are hidden while the text input is debounced?

[2021-05-17 22:02] isagoico commented on #2948
Regression is finished!
Issues found:
1. https://github.com/Expensify/Expensify.cash/issues/2972
2. https://github.com/Expensify/Expensify.cash/issues/2968
3. https://github.com/Expensify/Expensify.cash/issues/2967

PRs are finished too!
No comments added.

Thanks!

[2021-05-17 22:10] aliabbasmalik11 commented on #2601
I'm the same aliabbasmalik8

[2021-05-17 22:12] roryabraham commented on #2972
@isagoico Since our Android prod deploys aren't working anyways, it doesn't make a ton of sense to block deploys on an Android-only issue. So no need to make this a deploy blocker, but let's forsure still fix this ASAP.

[2021-05-17 22:26] trjExpensify commented on #2849
Okay cool, let me drop this to weekly and see if it comes back around.

[2021-05-17 22:33] tgolen commented on #2601
OK, and you're still able to accept the job and be paid via UpWork?

[2021-05-17 22:33] arielgreen opened #2973 "Fix RN bug where email input is not scrollable"
**This issue's PR should be submitted against our RN fork (Expensify/react-native)**

If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Note: this issue replaces #2726 with a broadened scope and higher price.

This issu

[2021-05-17 22:37] aliabbasmalik11 commented on #2601
yes

[2021-05-17 22:42] tgolen commented on #2601
OK, thanks for clarifying that for me!

I looked at your updated proposal and it looks like it would properly handle the mid-sentence edit now. As far as refactoring `TextInputFocusable` to have the selection passed as props, will that affect any other uses of `TextInputFocusable` (outside of `ReportActionCompose`)?

Maybe `TextInputFocusable` should default to the old selection start/end values i

[2021-05-17 22:52] mallenexpensify commented on #1517
Hi @anthony-hull do you have an update to provide?  Anything you're waiting on from us?

[2021-05-17 22:59] aliabbasmalik11 commented on #2601
Okay, will remain `selection state` in  `TextInputFocusable` and update `state selection` if we have it in props and updated in `componentDidUpdate` lifecycle

[code]

[2021-05-17 23:02] tgolen commented on #2601
I like that better, yep. Thanks!

Proposal LGTM ✅

[2021-05-17 23:04] #2794 closed

[2021-05-17 23:07] arielgreen commented on #2973
Posted to Upwork [here](https://www.upwork.com/jobs/~01eacea1bcbd9bea21).

[2021-05-17 23:10] arielgreen commented on #2726
Thanks all. Closing this issue out — we've decided to change the scope (and raise the price).

cc @bekazandukeli @vmv94 @Naiem1808015 I encourage you to take a look at #2973 and submit a proposal if you're still interested! New Upwork job is [here](https://www.upwork.com/jobs/~01eacea1bcbd9bea21).

[2021-05-17 23:10] #2726 closed

[2021-05-17 23:30] roryabraham commented on #2969
Investigating this one now.

[2021-05-17 23:33] roryabraham opened #2974 "Test deploy blocker"
Test deploy blocker.

Testing https://github.com/Expensify/Expensify.cash/pull/2843

[2021-05-17 23:34] OSBotify commented on #2974
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-05-17 23:34] roryabraham commented on #2974
This was a test. Closing this out

[2021-05-17 23:34] #2974 closed

[2021-05-17 23:50] roryabraham commented on #2969
Sorry, delayed by unrelated VM issues currently.

[2021-05-18 00:16] roryabraham commented on #2969
Okay, VM is not working, will try to run the app with the web proxy instead

[2021-05-18 00:22] roryabraham commented on #2969
Okay, testing this locally I'm unable to enter an amount at all in the IOU modal

[2021-05-18 00:35] roryabraham commented on #2969
One thing I'm seeing is that [this function](https://github.com/Expensify/Expensify.cash/blob/37465dbd07da1feab8347835d82ed3d2302cde4c/src/components/IOUConfirmationList.js#L183-L187) seems to be entirely unused

[2021-05-18 00:46] roryabraham commented on #2969
Okay, I suspect there may be a number of problems with the IOU code, but I was able to track down the cause of this regression, and hopefully should have a fix up soon.

[2021-05-18 00:54] #2491 closed

[2021-05-18 00:55] roryabraham commented on #2969
Got a PR [here](https://github.com/Expensify/Expensify.cash/pull/2976), just testing it on other platforms.

[2021-05-18 00:57] roryabraham commented on #2948
https://github.com/Expensify/Expensify.cash/pull/2843 was fixed in https://github.com/Expensify/Expensify.cash/pull/2971

[2021-05-18 01:09] roryabraham commented on #2969
Due to [unrelated VM issues](https://expensify.slack.com/archives/C3BGN04K1/p1621296079002500), I was blocked from testing locally on desktop. But I'm pretty sure that the PR will solve the problem and it's safe because it's just doing a `lodashGet` on something which was being unsafely referenced.

[2021-05-18 06:14] quinthar commented on #2965
This might overlap with the discussion elsewhere about getting rid of the
"text" version of the message stored in the reportAction, and just
generating a stripped version of the HTML "on demand".  During this
stripping process, we can just ignore newlines.

On Mon, May 17, 2021 at 9:13 AM MelvinBot ***@***.***> wrote:

[2021-05-18 07:12] SofiedeVreese commented on #2966
Yup can reproduce steps:

https://user-images.githubusercontent.com/40040992/118607645-1ab78680-b7b9-11eb-8ffc-58442aed4349.mov

Getting an engineer to look at this- and decide whether it's a good one for an external contributor.

[2021-05-18 08:45] Julesssss commented on #2969
Pretty sure this regression was introduced [by this PR](https://github.com/Expensify/Expensify.cash/pull/2724/files#diff-33715f93ff5ed9b567fc20382dadef0bddb41c82e58c356d28b6cc5eee9906c9R56), but thanks for looking into this.

[2021-05-18 10:11] Naiem1808015 commented on #2973
https://user-images.githubusercontent.com/78011473/118633480-0ecfc280-b7c1-11eb-90a9-8cd2e9ca633e.mp4

Dear sir,
I create this custom input field (you can see on this video). I can also customize this input field as you wish.

[2021-05-18 10:35] Naiem1808015 commented on #2973
https://user-images.githubusercontent.com/78011473/118636637-b6b3b300-b7f6-11eb-9b9d-af9a15cdabf9.mp4

Dear sir,
I create a custom input field (you can see on this video).
I also customise as you wish.

[2021-05-18 12:35] pranshuchittora commented on #2936
Hi @Beamanator
- Will add the spinner

Not sure about this but I have decided to keep them because so that user have something to go for. Thinking in terms of the User Experience, it is better to show something instead of nothing. Would love to hear your thoughts on this as well :)

[2021-05-18 13:13] pranshuchittora commented on #2936
✔️ Spinner
✔️ Debounce
✔️ Ignore phone number validation on email
✔️ Edge cases

https://user-images.githubusercontent.com/32242596/118657125-d18f2300-b808-11eb-84d1-b4f614161168.mp4

cc @Beamanator

[2021-05-18 13:50] pranshuchittora commented on #2973
Looks like this demo is from Android

[2021-05-18 15:06] roryabraham commented on #2969
https://github.com/Expensify/Expensify.cash/pull/2724/files#r633954686 😉

[2021-05-18 15:51] roryabraham commented on #2969
VM issues resolved, PR is passing on all platforms! Just needs to be reviewed + merged

[2021-05-18 15:59] #2969 closed

[2021-05-18 16:07] puneetlath commented on #2665
Paid.

[2021-05-18 16:07] #2665 closed

[2021-05-18 16:18] Naiem1808015 commented on #2973
It also work on iPhone perfectly.
If you want to see I can also make a video on it too.

On Tue, May 18, 2021, 7:50 PM Pranshu Chittora ***@***.***>
wrote:

[2021-05-18 16:33] Beamanator commented on #2936
I absolutely don't consider myself an expert in design, which is why I'd recommend we consult with the @Expensify/design group :D

Hey designers! How do y'all feel about the above design, specifically:
1. When typing in that text box, should we show _only_ the spinner? Or should we also show matching chats?
2. When the user stops typing and there's some validation error (phone or email) and then k

[2021-05-18 16:33] Naiem1808015 commented on #2973
I make a video on it and publish it on my you tube channel. Here is the
link:

https://youtu.be/PotA6dxxuZY

On Tue, May 18, 2021, 10:18 PM Naiem Foysal ***@***.***>
wrote:

[2021-05-18 17:02] #2950 closed

[2021-05-18 17:40] NikkiWines commented on #2149
Since the [proposed upwork issue](https://github.com/Expensify/Expensify.cash/issues/2149#issuecomment-831397525) would cover more than just the Android "Save" button overlapping with other fields, I think this is still worth pushing this to upwork. I've made a [separate E.com issue](https://github.com/Expensify/Expensify/issues/164496) and applied the External label to it so it goes through the c

[2021-05-18 17:58] nickmurray47 commented on #2846
Info looks all there and looks like we will need to make adjustments in expensify-common's markdown rules. Have a lot on my plate atm so unassigning for now.

[2021-05-18 18:03] NikkiWines commented on #2966
Also able to reproduce - this seems fine for Upwork but cc'ing @yuwenmemon since this looks related to your [`Edit Comments` PR ](https://github.com/Expensify/Expensify.cash/pull/2320), not sure if you want to handle this internally or not.

[2021-05-18 18:20] michelle-thompson commented on #2936
I think we should show matching chats. I know there have been times where I partially know a phone/name/email and search results fill in the rest, so I think it's helpful.

This makes sense to me, yeah.

[2021-05-18 18:21] parasharrajat commented on #2846
This requires just a drop in adjustment to the Regex on ExpensiMark.

[code]
\B~(.*?)[^\s]~\B(?![^<]*(<\/pre>|<\/code>|<\/a>))

[2021-05-18 18:38] shawnborton commented on #2936
I think the constant jumping around feels really strange. Could we do something where:
- There is always a small gap under the search box and above the top search result row. When there is the small validation message below the search box, it fills this space without causing the rows below it to jump around
- Could we place the loader in the text input, perhaps floating off to the right or somethi

[2021-05-18 18:39] parasharrajat commented on #2966
Aha, Seems we are not refreshing the contextMenu Items as they are initialized on the constructor.

---
There is a catch here. we need `actionId` from the backend before we can really edit it. So It takes a sec or two before showing the edit icon. This is the same for both Right-click context menu and Hover Menu.

 *but for this issue, Icon is not shown at all in the hover menu.*
---

A couple of

[2021-05-18 19:15] arielgreen commented on #2960
Reopening, will close again upon payment.

[2021-05-18 19:31] #2711 closed

[2021-05-18 19:35] #2446 closed

[2021-05-18 19:35] roryabraham commented on #2948
Okay, due to an incident with the GH servers, this checklist was not being correctly updated. So I went ahead and manually added the following PRs to the checklist:

- https://github.com/Expensify/Expensify.cash/pull/2723
- https://github.com/Expensify/Expensify.cash/pull/2731
- https://github.com/Expensify/Expensify.cash/pull/2746
- https://github.com/Expensify/Expensify.cash/pull/2769
- https://

[2021-05-18 19:39] roryabraham opened #2984 "Test Deploy Blocker: No at-here"
This is a test. When created, it should get the `Hourly` and `Engineering` labels. It should be posted in Slack, but not have a loud `@here` prefix.

[2021-05-18 19:39] OSBotify commented on #2984
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-05-18 19:39] roryabraham commented on #2984
This is a test, closing

[2021-05-18 19:39] #2984 closed

[2021-05-18 19:40] jboniface opened #2985 "[Discussion/Planning] Implement bidirectional scrolling in ecash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem
We're trying to enable comment linking in Cash, and while developing the solution, we've hit a snag : in short, we're unsure how to load the specific report co

[2021-05-18 19:46] iwiznia commented on #2973
@Naiem1808015 what we ask here is to provide a write up of the solution you are going to implement, can you do that instead of showing a video of the implementation?

[2021-05-18 19:52] parasharrajat commented on #2973
Just a heads up. I think the requirement is to **This issue's PR should be submitted against our RN fork (Expensify/react-native)**. Implementing a custom input is already discussed here https://github.com/Expensify/Expensify.cash/issues/2726.

As a hint, there are a couple of issues on the original RN repo about this abrupt behviour.

So I suggest we bold it on the description so it is not missed

[2021-05-18 19:54] roryabraham commented on #2985
cc @marcaaron I know you showed me a gist or draft PR a while back with an outline of an implementation. Do you still have that?

[2021-05-18 19:59] roryabraham commented on #2948
Created a follow-up issue [here](https://github.com/Expensify/Expensify/issues/164517) to improve how this checklist is populated in the future.

[2021-05-18 19:59] isagoico commented on #2948
Starting QA 🚀

[2021-05-18 20:00] roryabraham commented on #2969
@isagoico Please retest this during today's QA cycle. Should be resolved 👍

[2021-05-18 20:51] isagoico opened #2990 "Email notification - Marking messages as unread triggers the email notification"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Marking messages as unread should not trigger the email notification.

## Actual Result:
Marked as unread messages trigger the email notification. If

[2021-05-18 21:48] tgolen commented on #2938
Hi @pranshuchittora I had a couple of questions/concerns about your proposal.

It doesn't appear from the problem statement that using highly optimized assets is a concern yet. I think it would be best to plan to use whatever is provided and we can come back later and optimize it if we need to.

I don't think accessibility is part of this at all either, so you don't need to worry about that in you

[2021-05-18 22:45] sakluger commented on #2967
Updated description for clarify - sending through to Engineering triage.

[2021-05-18 23:00] marcaaron commented on #1524
@pranshuchittora @dipan97 have the same solution as @dharammachra so I will give them some time to respond here first.

@dharammachra are you still interested in working on this?

[2021-05-18 23:10] deetergp commented on #2636
I've spent some time digging into this today. The issue apperas to be that, although we are overriding the a listener inside [`componentDidMount` in AuthScreens.js](https://github.com/Expensify/Expensify.cash/blob/4d183045e3cec19236a08ce06c1ee59fa8f1f740/src/libs/Navigation/AppNavigator/AuthScreens.js#L122), something else is briefly overriding it after the first it  mounts, setting the title back

[2021-05-18 23:38] marcaaron commented on #2636
What is a page title?

An alarm clock when the power returns.

[2021-05-18 23:39] deetergp commented on #2636
Ah-HAH! So it's [line 43 in NavigationRoot.js](https://github.com/Expensify/Expensify.cash/blob/37465dbd07da1feab8347835d82ed3d2302cde4c/src/libs/Navigation/NavigationRoot.js#L43) that is squashing the `(NEW!)…` title. If I change the string from `Expensify.cash` to `NavigationContainer` this is what I see:

https://user-images.githubusercontent.com/766197/118736193-d0ed9100-b7f6-11eb-9b9c-d9a83e1

[2021-05-18 23:40] marcaaron commented on #2636
my work here is done

[2021-05-19 00:08] kidroca commented on #2985
Do you know the total size of chat items before or when the chat loads?
E.g. do you know you have a million messages in a chat or you it's unknown

What's the problem with starting in the middle and then append/prepend to the FlatList - you can insert more items to the bottom when you start to reach the bottom or insert more items to the top when you start to reach the top

[2021-05-19 00:15] roryabraham commented on #2985
I'm 95% sure we could easily provide this information from the API.

[2021-05-19 00:50] isagoico opened #2995 "IOU - Android - Nothing happened after clicked Request Money button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result
The screen should redirect to LHN after clicked Request Money button the

## Actual Result
Nothing happened after clicked Request Money button

## Act

[2021-05-19 00:55] roryabraham commented on #2995
In my opinion this should not be a deploy blocker since the IOU flow is still hidden behind a beta.

[2021-05-19 01:10] isagoico opened #2996 "[Hold for Payment 1st June] IOU - Name is not visible in the IOU request page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
User's name should be visible in the request page.

## Actual Result:
Username is not visible and there's a blank space

## Action Performed:
1. Log

[2021-05-19 01:11] isagoico commented on #2948
**Regression** is finished!
1 issue found today:
1. https://github.com/Expensify/Expensify.cash/issues/2996

**PRs** are finished too!
1 comment added:
1. https://github.com/Expensify/Expensify.cash/pull/2976#issuecomment-843661271 - Separate issue here https://github.com/Expensify/Expensify.cash/issues/2995

Thanks!

[2021-05-19 01:17] roryabraham commented on #2948
Looks like the only issues we have are related to IOU stuff. Since IOU's are still hidden behind a beta, those issues should not be treated as deploy blockers. So I'm thinking we'll run a production deploy 🚀

[2021-05-19 01:17] roryabraham commented on #2948
:shipit:

[2021-05-19 01:18] roryabraham commented on #2948
:shipit:

[2021-05-19 01:18] #2948 closed

[2021-05-19 01:21] OSBotify opened #3000 "Deploy Checklist: Expensify.cash 2021-05-19"
**Release Version:** `1.0.50-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2194
- [x] https://github.com/Expensify/Expensify.cash/pull/2394
- [x] https://github.com/Expensify/Expensify.cash/pull/2878
- [x] https://github.com/

[2021-05-19 01:32] marcaaron commented on #2985
Yes, we already know since the entire `reportActionList` gets downloaded when the app inits 🙃
(but the pagination and storage of messages happen in `Report_GetHistory`)

[2021-05-19 01:37] marcaaron commented on #2985
append works fine since there is an `onEndReached` method and we already use it for the one direction

prepend not so much for a couple of reasons:

1. There is no `onStartReached` - make could create our own by wrapping `FlatList` and looking at the scroll metrics to detect when the `ScrollView` has reached the "top" (or bottom rather in the inverted style)
2. When prepending items the content sh

[2021-05-19 01:44] marcaaron commented on #2985
This is something new I just noticed in the past few months that looks interesting

https://github.com/GetStream/react-native-bidirectional-infinite-scroll

Have no idea if it supports web - but I think we are basically trying to achieve the same thing as this package.

[2021-05-19 02:23] iwiznia commented on #2349
@parasharrajat what is the status of this?

[2021-05-19 02:52] RachCHopkins commented on #2850
Ok, based on that I'll add the label!

[2021-05-19 05:50] stephanieelliott commented on #2938
@pranshuchittora I extended the offer to you on Upwork!

[2021-05-19 08:25] dharammachra commented on #1524
@marcaaron  - Yes Marc I am interesting in working on this.

[2021-05-19 08:48] Beamanator commented on #2936
Ooh I like these ideas! What do you think @pranshuchittora ?

[2021-05-19 08:55] pranshuchittora commented on #2936
I agree with all the points. @Beamanator can put a comment consolidating all the new design requirements so that it’s properly documented.

[2021-05-19 08:59] AndrewGable commented on #2918
@roryabraham did you have any ideas or additional context on this one? Thanks!

[2021-05-19 09:18] kidroca commented on #2985
This library seems to support everything you need at the moment
- onStartReached
- onEndReached
- virtualization
- maintain correct scroll position
- potentially fix the a11y and content being copied in reverse if you don't use the inverted version

It also supports the same virtualization props as the FlatList

Is it possible to create a new ChatList component based on that library and use it for

[2021-05-19 10:15] AndrewGable commented on #2748
Sounds like there is some working error handling here that can help 👉 https://github.com/fastlane/fastlane/issues/18408#issuecomment-843423247

[2021-05-19 10:22] Beamanator commented on #2936
Here's the updated design requirements:
- While typing:
    - Always show list of matching chats (as you have in your video)
    - Show spinner (either in the text input floating off to the right, or on top of search results (probably centered vertically & horizontally) with search results slightly grayed out but still readable)
    - Clear error message (if one existed)
- When done typing, error

[2021-05-19 11:15] sketchydroide commented on #2661
@isagoico the image seems to be from an Android, but the GH has it as iOS issue, is it both?

[2021-05-19 11:19] trjExpensify commented on #2996
I'm unable to reproduce this in the `request money` flow on `v.1.0.48-3`:

![image](https://user-images.githubusercontent.com/16232057/118804256-5ecf8780-b89c-11eb-8874-6b7ee7c6e39f.png)

I am however able to reproduce this in the `split bill` flow:

![image](https://user-images.githubusercontent.com/16232057/118804131-334c9d00-b89c-11eb-9c25-0b1922e9105f.png)

[2021-05-19 12:07] trjExpensify commented on #2996
Strange. I re-added my name in Expensify to see if there was anything in that. Anyhow, let's get this to `engineering` and I'll add it the IOU parent issue as a regression to fix.

[2021-05-19 12:18] parasharrajat commented on #2349
@iwiznia Sorry for delay on this. I will add the PR today.

[2021-05-19 12:30] Julesssss commented on #2995
Can reproduce. The IOU is being created, but a network request is failing:

[code]

[2021-05-19 12:44] trjExpensify commented on #2995
Cool, getting this over to engineering and I'll add it the IOU parent issue as a regression to fix for N5.

[2021-05-19 13:08] Beamanator commented on #2996
10/10 can reproduce 😅

![Screen Shot 2021-05-19 at 3 08 37 PM](https://user-images.githubusercontent.com/3885503/118817981-1c19a980-b8b4-11eb-8d55-1cfa3c123c91.png)

[2021-05-19 13:47] Beamanator commented on #2996
Looks like in the `IOUConfirmationList` component we don't pass `showTitleTooltip` to `OptionRow`, so `tooltipEnabled` is never passed as true to `DisplayNames`.

In `DisplayNames`, if `this.props.tooltipEnabled` is false (which it **always will be** for this page), we try to display `this.props.fullTitle`. It seems `this.props.fullTitle` is an empty string here, always. Which seems odd.

If we de

[2021-05-19 13:57] parasharrajat commented on #2996
It seems a regression by https://github.com/Expensify/Expensify.cash/pull/2724.

[2021-05-19 14:03] Julesssss commented on #2996
Great spot @parasharrajat. I'll share this on the issue.

[2021-05-19 14:05] Beamanator commented on #2996
Yeah nice - changing `OptionRow` back to: `fullTitle={option.text}` fixes it 👍

[2021-05-19 14:22] trjExpensify commented on #2811
Reopening and popped on hold for payment in 7 days with no regressions.

[2021-05-19 14:32] sketchydroide commented on #2795
yep, this seems like an improvement we could use Upworks to fix, should be easy to (at least I think it would)

[2021-05-19 14:35] sketchydroide commented on #2661
I will add the external label as this seems like something they could work on.

[2021-05-19 14:59] SofiedeVreese commented on #2661
Hey @isagoico Is this on iOS or Android? In the OP iOS is ticked but the title says Android. Just want to clarify- thank you!

[2021-05-19 15:13] roryabraham commented on #3000
Manually added https://github.com/Expensify/Expensify.cash/pull/2926 to the checklist. It wasn't added because of [this seemingly random workflow failure](https://github.com/Expensify/Expensify.cash/runs/2620778036).

[2021-05-19 16:39] isagoico commented on #2661
Oh yes you're right! It was a typo on my end, fixing.

[2021-05-19 16:50] tgolen commented on #2965
Looks like a good contributor issue.

[2021-05-19 16:54] tgolen commented on #2967
This is a good external issue.

[2021-05-19 17:12] SofiedeVreese commented on #2661
Upwork post: https://www.upwork.com/jobs/~0164178f3c4fcb05f1

[2021-05-19 17:13] isagoico commented on #3000
Starting QA 🚀

[2021-05-19 17:40] marcaaron commented on #2985
I can't speak for everyone, but I'm not sure if we would commit to using a library on the mobile side with only the _hope_ that the web side would work out for us eventually (maybe if we can also test the web PR in progress and deem that it's heading in the right direction).

In any case, the first step would be to evaluate if such a library exists and can actually work for us (cross platform or n

[2021-05-19 18:01] #2401 closed

[2021-05-19 18:08] iwiznia commented on #2996
So, we should assign this to @Viacheslav80, right?

[2021-05-19 18:09] roryabraham commented on #2670
Any takers here?

[2021-05-19 18:09] iwiznia commented on #2664
@puneetlath hold of on paying this job since there's [a regression](https://github.com/Expensify/Expensify.cash/pull/2724#issuecomment-844144415)

[2021-05-19 18:36] mallenexpensify commented on #2936
Created the job in Upwork, made it private and invited @pranshuchittora , once you accept we'll assign this issue to you
https://www.upwork.com/jobs/~014262863179787232

[2021-05-19 18:42] trjExpensify commented on #2996
Yes, although for some reason GH isn't allowing us to do that. @Viacheslav80 could you assign yourself this issue to fix the regression, please?

[2021-05-19 19:23] chiragsalian commented on #2662
@arielgreen can you post the issue on upwork for someone to suggest a proposal to tackle the problem.

[2021-05-19 19:44] kevinksullivan opened #3017 "Right Click Popover -> Edit Comment does not focus on the Edit Comment Textbox"
Coming from https://github.com/Expensify/Expensify/issues/163577

# Problem
If you right-click in the chat app to edit a comment, the edit comment textbox does not automatically get focused:
![Kapture 2021-05-10 at 17 40 14](https://user-images.githubusercontent.com/4741899/117741276-e9d2c280-b1b6-11eb-8a1a-47463abeaeb1.gif)

However this does not happen if you use the hover menu:
![Kapture 2021-0

[2021-05-19 20:09] francoisl commented on #2995
I'm able to reproduce as well, looks like the request that's causing the `Network request failed` is one of the `Get rvl=reportStuff shouldLoadOptionalKeys=true includePinnedReports=true` requests, though there's no errors in the API logs. Tracing where it comes from exactly.

[2021-05-19 20:23] francoisl commented on #2995
Ok I see the error. After creating the IOU expense, we call `getIOUReportsForNewTransaction` but the params passed is an **array**, so for this line

https://github.com/Expensify/Expensify.cash/blob/85b084c0d2c79c08d6e6fad7eea08e00ca0c8a85/src/libs/actions/IOU.js#L29

doesn't work - we don't pass a reportIDList to the API, and it returns a blank response. I don't know if we can ever have more than

[2021-05-19 20:25] iwiznia commented on #2995
An array makes sense, that line should get the `reportID` property of each of the elements in the array... was the array empty or did it contain objects with no reportID set?

[2021-05-19 20:27] francoisl commented on #2995
The array contains regular-looking objects:

[code]
I'm thinking just looping over every object and join the `reportID`s with a comma?

[2021-05-19 20:29] francoisl commented on #2995
Oh waiiit now I'm thinkin, that `pluck` line should work actually? It's not passing a reportIDList though, maybe I'm looking at the wrong thing.

[2021-05-19 20:36] iwiznia commented on #2995
Maybe it is missing a `.join(',')`?

[2021-05-19 20:37] francoisl commented on #2995
Yes was literally just thinking of doing that ^^

[2021-05-19 20:41] iwiznia commented on #2995
I am still very confused how this only happened in android 😕

[2021-05-19 20:43] kadiealexander commented on #1524
Awesome! Job offer sent, feel free to get going on a PR @dharammachra

[2021-05-19 21:08] marcaaron commented on #2847
This is pretty much just waiting on a contributor to raise their ✋ and agree to do [this](https://github.com/Expensify/Expensify.cash/issues/2847#issuecomment-842634247)

@pranshuchittora thoughts?

[2021-05-19 21:26] parasharrajat commented on #3017
There are multiple factors stealing the focus away from the input box.
1. Context Menu itself.
2. Composer.

### Context Menu itself

I didn't find any strong reason why it is stealing the focus but It is. If I remove all the manual focus logic from the code still focus is set back to the page `body` tag. A factor could be that context is hiding action is async.
https://github.com/Expensify/Expens

[2021-05-19 21:44] kavimuru opened #3019 "[Hold for payment 2021-06-03] mWeb - Profile - Weird behavior when using 3D touch on profile photo"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Profile photo should be clear
## Actual Result:
Profile photo looks blurred and having square shape
## Action Performed:
1. Navigate to https://stagi

[2021-05-19 21:48] parasharrajat commented on #2661
It looks like the video linked in the issue is a Mobile Web platform.

#### Explanation
 1. On M-Web, the soft keyboard is closed when the focused element is unfocused or removed. When the soft keyboard is open page is resized to the available area but when we close the page, the page resizes back to the original space but this resize event is very expensive on the app thus it takes a bit of time.

[2021-05-19 21:59] #2636 closed

[2021-05-19 22:29] yuwenmemon commented on #2966
I think there might be a larger discussion to be had for this one. Currently, as @parasharrajat observed, with edit messages, we can only edit a message once it's been posted to the DB (and thus has a `reportActionID`).

What does this mean exactly? Why do you think it's the best solution?

[2021-05-19 22:32] parasharrajat commented on #2349
@iwiznia Question:
1. We have `IOUBadge` which currently shows the requested amount but it has a fixed $ Sign. What should we do here? should take the currency sign from `numberFormat` method, but for that, we need a currency parameter.
https://github.com/Expensify/Expensify.cash/blob/bbd386709f6d3a25d4b62f7889a3213b6ee45e12/src/components/IOUBadge.js#L31

[2021-05-19 22:35] iwiznia commented on #2349
hmmmm the currency should be in the report stored in Onyx, so I guess you can use `props.iouReport.currency`, no?

[2021-05-19 22:38] parasharrajat commented on #2966
I meant this
https://github.com/Expensify/Expensify.cash/blob/a87db63bcd2fc9b5fe8c70b1f7878102721c2700/src/pages/home/report/ReportActionContextMenu.js#L115

TO
[code]

Why this is best?

We don't need to update the whole context menu ourselves after checking the prop changes. Instead on each render, this function will be called and the changes would be in real-time. Even if the menu is already vi

[2021-05-19 22:42] arielgreen commented on #3019
Posted to Upwork [here](https://www.upwork.com/jobs/~01a35ea86de593ec49).

[2021-05-19 22:42] parasharrajat commented on #2349
Not sure what is the data structure for that and how that works so it's hard to imagine. If you can lead me to any docs on IOU, I can better understand the amount used on different components under different contexts.

let me check this. Thanks.

[2021-05-19 22:47] iwiznia commented on #2349
All reports have the same data structure, which is generated by [getSimplifiedReportObject](https://github.com/Expensify/Expensify.cash/blob/e9f2944888877d83412c6463ff4a3b13ab118960/src/libs/actions/Report.js#L198-L222). The IOUs in particular are set [here](https://github.com/Expensify/Expensify.cash/blob/5a7a25ae499ed3b811c981b15a2d437e0aff8947/src/libs/actions/IOU.js#L50-L57) and [here](https:/

[2021-05-19 22:48] #2597 closed

[2021-05-19 22:50] arielgreen commented on #2662
[Posted](https://www.upwork.com/jobs/~015b529edefb069ef8).

[2021-05-19 23:02] Viacheslav80 commented on #2996
I created a fix for this regression. How i can assign myself for this issue?

[2021-05-19 23:48] aliabbasmalik11 commented on #2601
@jboniface Can I start work on this issue?

[2021-05-20 00:25] puneetlath commented on #2966
Yes, I agree. We should discuss this in slack. I think the most common time people will want to edit is immediately after they hit send. So even a second delay is an annoyance.

[2021-05-20 00:34] isagoico opened #3023 "When reaching the bottom of the emoji list user is taken back to the top of the Flags section"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
When scrolling to the bottom, emoji list should stay on the same place.

## Actual Result:
After reaching the bottom of the page if the user keeps sc

[2021-05-20 01:18] jliexpensify commented on #2965
Can confirm this is happening on v1.0.48-0:

![image](https://user-images.githubusercontent.com/30815269/118904322-fac0c800-b95c-11eb-9856-ffe626c0d24d.png)

Will get this to Upwork.

[2021-05-20 01:48] jasperhuangg commented on #2951
I had a discussion on how we could improve the search functionality and wanted to get a feel for how much time we want to spend on this.

Currently, our search functionality doesn't even support searching for display names with commas. The scope of this issue simply entails fixing this. For instance, if we have a report with participants named a, b, and c, and the report was named `a, b, c`, we wa

[2021-05-20 01:53] marcaaron commented on #2965
I thought maybe we could build this into `ExpensiMark`, but since we just need to convert the HTML into plain text + converts line breaks into spaces it can probably be a simple utility function [like this](https://stackoverflow.com/questions/6847556/strip-tags-with-javascript-and-handle-line-breaks) but swap out the `\n` for a single space character?

[2021-05-20 02:08] jliexpensify commented on #2965
Posted to upwork: https://www.upwork.com/jobs/~01335a9f088d223b91

[2021-05-20 03:07] pranshuchittora commented on #2847
Hi, @marcaaron pardon the delayed reply.
I agree with the changes in the parser. I have a couple of questions

- Can you explain what the custom flavour of markdown is? Pls, provide an example of HTML -> Markdown. (Because few links mentioned in the slack thread are private)
- Before that do we need to create a spec of the possible transformations?

[2021-05-20 03:19] marcaaron commented on #2847
Everything is public and the code is here

https://github.com/Expensify/expensify-common/blob/master/lib/ExpensiMark.js

Otherwise, I'm not sure what you're asking so maybe if you have specific questions someone can help in the channel.

[2021-05-20 03:23] mallenexpensify commented on #2936
Hired @pranshuchittora in Upwork, assigning this issue now

[2021-05-20 03:30] pranshuchittora commented on #2847
Let me elaborate
- As we are deprecating text and will be showing markdown in the text input is that correct?
- As a solution to this issue we are required to write a parser for HTML -> Markdown ?

[code]

[code]

[2021-05-20 06:20] parasharrajat commented on #2965
Here is my proposal.

1. As Marc said, its fairly simple. We need to replace `<br>` tags with spaces before converting the HTML markup to text for `lastMessageText` in report object creation.
https://github.com/Expensify/Expensify.cash/blob/ff61c1aaf2309ed4fcaf1264ff149acbeb9bfa9b/src/libs/actions/Report.js#L157
TO
[code]
will just do the trick. This `lastMessageText` is further used to create Opt

[2021-05-20 07:48] Beamanator commented on #2996
Hey @Viacheslav80 we were having trouble assigning you yesterday (not sure why), looks like we're able to today :) Please submit a PR when you have a chance!

[2021-05-20 08:10] SofiedeVreese commented on #2661
@puneetlath let me know what you think of the above, thanks!

[2021-05-20 09:11] Julesssss commented on #2995
Nice find, would love to know why only Android has this issue  🤷‍♂️.

[2021-05-20 09:44] Julesssss commented on #3017
Sorry @kevinksullivan, but I need to reassign `Exported` today, I'm completely overrun with tasks and will not be able to make any progress on the multiple [N5 blocking IOU issues](https://github.com/Expensify/Expensify/issues/148974) if I don't reassign some of them 😕

[2021-05-20 10:28] anthony-hull commented on #1517
Hey sorry team. I have been ill over the past week. I have everything I need at the moment. I've started work on this and will provide an update later today.

[2021-05-20 11:03] muttmuure commented on #3023
reproduced following steps adding engineering label

[2021-05-20 11:08] Julesssss commented on #2760
Sorry @mallenexpensify, I forgot to add an update here. I reviewed it on Monday but the PR required changes. Yesterday the contributor had test failures. Today I reminded the contributor that some review comments are outstanding.

[2021-05-20 12:04] pranshuchittora commented on #2662
## Proposal 📄
Emojis are inappropriately cropped on the left-hand side

## Investigation 🕵🏻‍♂️
- I started by launching the app in my android emulator in which I am not able to repro this issue. Then I carefully looked at the attached screenshot in the issue description from which I am able to infer the following
    - Looks like MI
    - Low res screen

- After this, I created a low res android e

[2021-05-20 12:52] dklymenk commented on #3019
I would like to work on this issue, but I don't believe there is much to do on FE in regards to it.

The blurriness is caused my the image resolution. The image on the video above for example is 72x128 (added same person to chat and checked the fetched image size with devtools).

The shape is set by 3D touch, I couldn't find any resources on how one can change html or css to affect 3D touch behavi

[2021-05-20 13:21] jboniface commented on #2601
Yep!

[2021-05-20 13:58] pranshuchittora commented on #2965
### This is very much related to #2847
---
## Proposal 📄
Message preview should display a space if there is a new line in the message.

## Investigation 🕵🏻‍♂️
https://github.com/Expensify/Expensify.cash/issues/2847

## Approach 👨🏼‍💻
File of concern : `Report.js` and `expensify-common`

- Use the parser to convert markdown to text
https://github.com/Expensify/Expensify.cash/issues/2847#issuecomment

[2021-05-20 14:33] pranshuchittora commented on #2936
Thoughts @Beamanator @shawnborton @michaelhaxhiu

https://user-images.githubusercontent.com/32242596/118997482-51062900-b9a6-11eb-81cd-4142fe2d5e99.mp4

[2021-05-20 15:44] francoisl commented on #2995
I know, me too! I retested from `main` on web and iOS after doing the fix yesterday, thinking that it couldn't actually work but... it did. I didn't dig deeper than this cause I had a bunch of other stuff to take care of, but I'll try to investigate again today.

In the meantime, anyone feel free to take over [the PR](https://github.com/Expensify/Expensify.cash/pull/3018) if it's urgent.

[2021-05-20 15:50] roryabraham commented on #2847
@pranshuchittora That looks correct to me! Generally speaking, we try to match GitHub-flavored markdown.

[2021-05-20 15:52] Julesssss commented on #3000
I created an [issue for #2394](https://github.com/Expensify/Expensify/issues/164704). But I am checking it off the list as **A)** the feature is behind a beta, and **B)** it will be fixed [as part of this PR](https://github.com/Expensify/Expensify.cash/pull/3028)

[2021-05-20 15:54] pranshuchittora commented on #2847
@roryabraham I think #2965 is related to this. If we fix #2965 now then we need to fix it again as we are deprecating `text`
Can you pls confirm?

[2021-05-20 15:58] parasharrajat commented on #2847
@pranshuchittora AFAIK that is a different issue. We would want to show the text as the last message text preview in LHN. This issue requires converting Html to MD and vice-versa as while editing a message, it would be best if the user can see the original message created(in MD). We would drop the text from storage and Create the text variant of the message on LHN at runtime.

[2021-05-20 16:09] pranshuchittora commented on #2938
@stephanieelliott can you pls share the Figma files

[2021-05-20 16:21] shawnborton commented on #2938
Here is the Figma file: https://www.figma.com/file/E8mgPW9ns9EXr8V2LAKE9B/Sign-Up-Sign-In?node-id=425%3A1016

And here is the image asset exported @2x - ideally it would be displayed at 334px x 551px. [expensify-cash-sign-in-screenshot.png.zip](https://github.com/Expensify/Expensify.cash/files/6517398/expensify-cash-sign-in-screenshot.png.zip)

[2021-05-20 16:32] isagoico commented on #2180
1 tester was able to reproduce this following these steps:

1. Open e.cash on iPad
2. Change the view from landscape to portrait
2. Send the app to background and open another app (can be any)
3. Immediately navigate to the e.cash app.

Video here:

https://user-images.githubusercontent.com/44479856/119015039-8a1ea900-b966-11eb-8d29-4cba4431fb26.mp4

[2021-05-20 16:59] iwiznia commented on #2821
@sonialiap can we move this issue forward please?

[2021-05-20 17:08] marcaaron commented on #2847
@roryabraham @pranshuchittora I don't think we need to implement a perfect conversion to markdown and can start with a simple line breaks to new lines conversion for now then add other features later. @roryabraham not sure if you feel the same way or not.

@pranshuchittora no that's not correct as @parasharrajat has pointed out. One situation calls for:

HTML -> markdown with line breaks converted

[2021-05-20 17:19] roryabraham commented on #2847
Seems like a great place to start, and keeps the scope of this issue nice and tidy. A couple questions:

1. For features not yet implemented, should we just display plain HTML?
1. Should we consider making a tracking issue for the greater endeavor of making Expensimark "bi-directional" ?

[2021-05-20 17:20] #2995 closed

[2021-05-20 17:25] marcaaron commented on #2847
I think they'd be plain text for now (so strip all tags but replace <br/> with new lines) otherwise we are showing raw HTML in the editor which could be strange.

Sounds like a great idea to me.

[2021-05-20 17:27] trjExpensify commented on #2995
Thank yah, Franc. ❤️

[2021-05-20 17:29] parasharrajat commented on #2821
I think we have to hold this until https://github.com/Expensify/Expensify.cash/issues/2966 is resolved. We can't yet really edit any messages immediately after sending.

[2021-05-20 17:41] isagoico commented on #3000
Starting QA!

[2021-05-20 17:53] marcaaron commented on #2965
That solution looks good @parasharrajat 👍

[2021-05-20 17:55] marcaaron commented on #2965
I'll let @tgolen weigh in though as he is assigned to the PR. I think this is something that would happen in the server eventually if we move to reduce processing logic for API data in the client.

[2021-05-20 18:02] parasharrajat commented on #2965
Then it makes sense

[2021-05-20 18:04] iwiznia commented on #2951
That sounds good to me.

[2021-05-20 18:40] megankelso commented on #2936
following Alex's comment, should it perhaps be `Please enter a valid email address or phone number` in that case?

[2021-05-20 18:46] shawnborton commented on #2936
Couple of comments:
- The loading spinner feels "heavy" for these quick interactions. Do we even need it? I would be curious to see this without the loading spinner entirely.
- Could we make the text below the search input use a smaller font size (`fontSize: variables.fontSizeSmall,`) and make sure you are using the correct font family as well (`fontFamily: fontFamily.GTA,`)? Hopefully that makes

[2021-05-20 19:01] thienlnam commented on #2812
@kakajann
Could you post your 'proposal' here to go back over the steps you missed? Since you've already completed your PR this would just be the steps and list of things you completed in your PR.  After that, I will assign you to the issue and get you hired on upwork

[2021-05-20 19:17] bekazandukeli commented on #2973
Hello friends, I researched about this issue, wrote proposal and showed solution in #2726 discussion.

I offer my service again now:

I will create a separate component for this exact email input. I'll manipulate style so visual will be EXACTLY THE SAME but this bug which is tightly connected to styling(because of RN) will not occur.

Best regards,
Beka Zandukeli

[2021-05-20 19:29] kakajann commented on #2812
## Proposal

- I will create `GrowlNotification` component with three types (`success`, `warning`, `error`)
- I will add necessary translations to `en.js`
- and finally show it when a user make a change in their profile.

### `GrowlNotification` component features:
- responsive
- reusable
- have 3 types – `success`, `warning`, `error`
- swipe to dismiss (in iOs and Android)
- click to dismiss (web

[2021-05-20 19:33] iwiznia commented on #2821
I don't think we need to hold on that, we can add this regardless of that fix.

[2021-05-20 19:42] tugbadogan commented on #2447
Yeah, this fix didn't fix the actual issue in react-navigation library. It just fixed one of the reproduction paths. I'm trying to fix this issue by upgrading the version of react-navigation packages to be able to use Reanimated 2 to resolve the underlying issues.

[2021-05-20 19:43] stitesExpensify opened #3036 "Stites k2 testing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

## Action Performed:
Break down in numbered steps

##

[2021-05-20 19:45] parasharrajat commented on #2180
@tugbadogan Are you trying to update to v6? Just curious.

[2021-05-20 19:45] thienlnam commented on #2821
Yup, agree - will go ahead and throw an external label on it since there shouldn't be anything needed from us to work on it

[2021-05-20 19:46] tugbadogan commented on #2180
Yes

[2021-05-20 20:04] tugbadogan commented on #2180
I upgraded react navigation to 6.x, react native reanimated to 2.1.0 and tested this issue and https://github.com/Expensify/Expensify.cash/issues/2447. It looks like these issues are resolved in the new version.

It has a couple of breaking changes though that we need to fix to make sure it's not causing regressions to other features, e.g. `dangerouslyGetParent()` function is removed.

@parasharra

[2021-05-20 20:05] iwiznia commented on #2973
What we are looking for here is to fix the bug in react native itself (well, really sent to Expensify/react-native which is our fork), not to create a new component.

[2021-05-20 20:08] parasharrajat commented on #2180
@tugbadogan No. But I believe that it would resolve a couple of issues.

[2021-05-20 20:19] marcaaron commented on #2180
I'd be curious to see an upgrade PR. I think v6 is still in a beta maybe?

[2021-05-20 20:24] parasharrajat commented on #2180
@tugbadogan I think you can start a PR and mention all the issues there so that they can be tracked. I am sure others will be happy to help here.

[2021-05-20 20:27] NicMendonca commented on #2847
@pranshuchittora just sent you the contract in Upwork, thanks!

[2021-05-20 20:38] isagoico opened #3037 "E.Cash [Edit Message] - Edited status is stretched if the message is multilined"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Edited status of the message should not be stretched in several lines

## Actual Result:
Edited status is stretched if the message is multilined

##

[2021-05-20 20:42] parasharrajat commented on #2349
@iwiznia Here on LHN. Do I need to remove the country code from the
![Screenshot 2021-05-21 02:05:13](https://user-images.githubusercontent.com/24370807/119046053-dfe06900-b9d9-11eb-8f9e-52d483bf62b5.png)
phone number.

There are a couple of other places where we show phone numbers like this.

[2021-05-20 20:57] isagoico opened #3038 "LHN - Phone number accounts without name set are showing @Expensify.sms in group chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
@expensify.sms should not be visible in any area of the app.

## Actual Result:
Phone number accounts without name set are showing @Expensify.sms in

[2021-05-20 21:04] anthony-hull commented on #1517
![changePassword](https://user-images.githubusercontent.com/47184118/119047765-3dfb5500-b9b6-11eb-9cd8-a0ac48e44a66.gif)
Today I have experimented with the UX of setting the password.
In the gif you can see the real time feedback to the user as they compose their password.
It is modelled after the update password form on the settings page. When the password requirements are met it changed the styl

[2021-05-20 21:18] tgolen commented on #2965
Yep, I think it's OK for now. That logic isn't going anywhere today. If/when it's moved to the server-side then this replacement will come along with the logic.

[2021-05-20 21:22] parasharrajat commented on #2965
@tgolen Are you giving me a :green_circle: signal? PR is one-click away?

[2021-05-20 21:33] stitesExpensify commented on #3036
Done

[2021-05-20 21:33] #3036 closed

[2021-05-20 21:52] tgolen commented on #2965
Yep! 🟢 Click away on your PR!

[2021-05-20 21:52] bfitzexpensify commented on #2795
[Upwork posting](https://www.upwork.com/jobs/~01f7db672b4cd9398c).

[2021-05-20 22:00] TomatoToaster commented on #2540
Ok so recreating this has been tricky. Here's how I've been able to do it (and not consistently!): I'd activate ngrok, send some messages to myself from the web client to a user logged in on the desktop client. Kill ngrok. Wait a long time and then come back to the desktop app and it fails to "read" these notifications. Usually thoguh, if I open the account on web, it'll clear those reads by the t

[2021-05-20 22:08] parasharrajat commented on #2795
## Proposal
1. I observed that we are using `line-height` to vertically center the count. which could have varied effects on different DPI devices.
2. If we remove the Line-height from `avatarInnerText` & `avatarInnerTextSmall` styles
 https://github.com/Expensify/Expensify.cash/blob/984360d52f714f85ee7fd27484b7b41d3147f9bd/src/components/MultipleAvatars.js#L69

 then center the count using flexbo

[2021-05-20 22:10] puneetlath commented on #2966
Well I think there are two things here.

1. Bug: the option to edit the comment never appears in the hover menu after sending a message unless you click out of the chat and back into it
2. Improvement: the ability to edit a comment immediately after hitting send, without needing to wait until we get the `actionID` back from the server

[2021-05-20 22:17] isagoico opened #3039 "Markdown - Markdown for three ` marks in e.cash isn't consistent"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Markdown for the codeblock should be consistent. Will add slack screenshots to compare the same behaviour.

![image](https://user-images.githubuserco

[2021-05-20 22:24] thienlnam commented on #2812
Thanks, next time it would be good to see some information about how you would go about accomplishing those component features but your proposal has been accepted and I've hired you on upwork

[2021-05-20 22:28] mallenexpensify commented on #1341
Apologies for the delays, I'm back working 100% this week so I can start to prioritize.. again.

Where I plan to start
From Tim G

From Marc

https://github.com/jimmy623
https://github.com/Simek
https://github.com/kacieb
https://github.com/yungsters
https://github.com/sasurau4
also https://www.facebook.com/spencer wrote a lot of the code

[2021-05-20 22:29] isagoico opened #3040 "IOU - Text input is extremely small and there's no indication on where the user should click to write"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Text input should be clear so the user knows where to enter the amount.

## Actual Result:
Text input is not clear and the area where is clickable is

[2021-05-20 22:33] #2812 closed

[2021-05-20 22:33] ChesterLaborde commented on #2661
I'm coming from Upwork my name is Juan Laborde, and it details I should give an explanation on how I would solve this.

I believe the best approach would be to work around the keyboard exit animation, wait for the keyboard to be closed and then act accordingly based on user input.

[2021-05-20 22:34] mallenexpensify commented on #2180
Reopening since @isagoico was able to reproduce the issue https://github.com/Expensify/Expensify.cash/issues/2180#issuecomment-845272513

I'm unsure of the best path forward, should we put a HOLD on this until we have react native updated, to see if that will fix the issue?

[2021-05-20 22:35] thienlnam commented on #2966
Ah my bad missed that - updated the title again to reflect that

[2021-05-20 22:42] jliexpensify commented on #2965
Thanks @tgolen - I'll go ahead and hire @parasharrajat

[2021-05-20 22:45] parasharrajat commented on #2530
@JmillsExpensify Growls have landed Thanks to https://github.com/Expensify/Expensify.cash/issues/2812. We can proceed with this issue. PR will be added soon. :partying_face:

[2021-05-20 22:47] iwiznia commented on #2349
Yep

You need to use the locale aware method. If you are using the withLocalize HOC, then it would be: `this.props.numberFormat(props.iouReport.total / 100, {type: 'currency', currency: props.iouReport.currency})`

[2021-05-20 22:54] isagoico opened #3041 "Message - Pressing enter over a message shows a black border around it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Pressing enter on a message should not add a black border around it.

## Actual Result:
Pressing enter over a message shows a black border around it

[2021-05-20 23:10] isagoico commented on #3000
**Regression** is finished!
1 issue found today.
1. https://github.com/Expensify/Expensify.cash/issues/3041

**PRs** are finished too.
1 comment added:
1. https://github.com/Expensify/Expensify.cash/pull/2194#issuecomment-845526185 - Not sure if deploy blocker since the feature is behind a beta.

Thanks!

[2021-05-20 23:12] isagoico commented on #3000
https://github.com/Expensify/Expensify.cash/pull/2194#issuecomment-845526185 - known behaviour

[2021-05-20 23:24] roryabraham commented on #2968
Closing this out because once [the Delete Comment](https://github.com/Expensify/Expensify.cash/pull/2046) PR is merged it won't be an issue.

[2021-05-20 23:24] #2968 closed

[2021-05-20 23:42] mallenexpensify commented on #2846
@nickmurray47 Do you think this can be worked on by a contributor? If so, can you add the `External` label so it'll be assigned to a contributor manager?

[2021-05-20 23:47] isagoico commented on #3000
:shipit:

[2021-05-20 23:47] #3000 closed

[2021-05-20 23:49] roryabraham commented on #3000
Ooo this was issue #3000. Fun!

[2021-05-20 23:51] OSBotify opened #3045 "Deploy Checklist: Expensify.cash 2021-05-20"
**Release Version:** `1.0.51-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2944
- [x] https://github.com/Expensify/Expensify.cash/pull/2979
- [x] https://github.com/Expensify/Expensify.cash/pull/3035
- [x] https://github.com/

[2021-05-20 23:52] nickmurray47 commented on #2846
Yes, it can be. Adding the label.

[2021-05-21 00:04] marcaaron opened #3046 "Comments can be created twice with the same clientID. Duplicate key warning shows."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
No duplicate keys occur for FlatList items in a chat

## Actual Result:
In some rare cases (probably related to the offline network queue stuff) comm

[2021-05-21 00:10] roryabraham opened #3047 "[Tracking Issue] Implement HTML -> Markdown conversions in Expensimark"
### Problem
Expensify.cash uses the [Expensimark](https://github.com/Expensify/expensify-common/blob/master/lib/ExpensiMark.js) library in the [expensify-common repo](https://github.com/Expensify/expensify-common) to convert markdown to HTML. That way, a user can compose a message using markdown, and it can be displayed + stored using HTML. However, when a user later goes to edit the message, we c

[2021-05-21 00:10] roryabraham commented on #2847
Created a tracking issue [here](https://github.com/Expensify/Expensify.cash/issues/3047)

[2021-05-21 00:14] roryabraham commented on #3047
HOLDing this on a POC PR [over here](https://github.com/Expensify/Expensify.cash/issues/2847). We might need to do an internal PR to update our other repos that also use Expensimark, depending on how we change the Expensimark interface.

[2021-05-21 00:28] roryabraham commented on #2795
Dang, I can't believe we were using line-height to center this in the first place. @parasharrajat Feel free to submit a PR as soon as you're hired on Upwork 👍

[2021-05-21 00:50] roryabraham commented on #2790
Paid.

[2021-05-21 00:50] #2790 closed

[2021-05-21 01:30] NikkiWines commented on #3019
I agree that I don't think there's a ton that can be done here - the same thing happens on E.com if you use 3D touch. Requiring a higher resolution would make the photo look better, but you'd still have the odd conversion from circle to square. This also isn't an action a user would normally be taking in the product.

@Expensify/design what are your thoughts on this in terms of impact on design?

[2021-05-21 03:00] stephanieelliott commented on #2967
Job on Upwork: https://www.upwork.com/jobs/~01fd7ca34f15a030af

[2021-05-21 07:30] Beamanator commented on #2967
Ready for proposals :)

[2021-05-21 07:38] SofiedeVreese commented on #2821
Job posted to Upwork: https://www.upwork.com/jobs/~01deb5a7d60341c773

[2021-05-21 12:51] devansh-sudo commented on #2973
<ScrollView style={{flex:1, backgroundColor='#ffffff'}}>
<View style={{flex:1}}>
    <More components...>
    <TextInput style={styles.inputText}
               value={this.state.mail}
               placeholder="Email"
               onChangeText={(text)=>this.setState.(mail:text)}/>
    <TextInput style={styles.inputText}
               value={this.state.fName}
               placeholder="First

[2021-05-21 13:49] michaelhaxhiu opened #3055 "Make button styles consistent in Expensify.cash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Button style attributes should remain consistent across all Expensify.cash platforms (including iOS and Android). More specifically, buttons should b

[2021-05-21 14:40] isagoico commented on #2659
Reopening this issue since I was able to reproduce on this account (isagoicotest@gmail.com / 123456Isa)

So apparently when login out and then back in with a different account the user is taken to the previous chat (from the other account) So what I did to repro this issue _again_ without the need to log out and in on my test account was.

1. Log in as isagoicotest@gmail.com / 123456Isa
2. Change

[2021-05-21 15:11] roryabraham commented on #2661
@parasharrajat Can you please explain this second problem you observed on Android in a bit more detail? It sounds to me like you're saying that we navigate from the report page to the LHN, _then_ the keyboard closes automatically after a short delay. Is that correct?

Also, regarding your solution to the first problem, I'm not sure I understand why changing the background color will help. Looking

[2021-05-21 15:28] roryabraham commented on #2966
I think `2` will have to be internal, and `1` will be solved [over here](https://github.com/Expensify/Expensify.cash/pull/2046)

[2021-05-21 15:31] roryabraham commented on #2821
Should this be `Up` to focus then `e` to edit? That's how slack works for me.

[2021-05-21 15:38] parasharrajat commented on #2661
@roryabraham yeah. It was just a point. I don't recommend it either as we can't really manage the color for all platforms.

For this, https://github.com/Expensify/Expensify.cash/blob/7ef8a5664263a0f47bb58df141d14662d502ab48/src/libs/Navigation/AppNavigator/AuthScreens.js#L180
This flag was turned off due to some issue which was crashing the App on Android. But It was an important as it used to clo

[2021-05-21 15:59] roryabraham commented on #2661
Thanks. Do you know if there was an issue for this we can track in `react-navigation`?

[2021-05-21 16:02] parasharrajat commented on #2661
Not exactly but Marc disabled it as it was causing some side effect with other functionality which was crashing the app. There is no issue with `react-navigation` related to this flag.

[2021-05-21 16:19] pranshuchittora commented on #3055
## Proposal 📄
Make button styles consistent in Expensify.cash

## Investigation 🕵🏻‍♂️
- Issue is due to improper styling

## Approach 👨🏼‍💻
File of concern : `Profile`, `Home`...

1. One of the easiest ways is to remove margin and replace it with padding
2. Refactor the display properties so that items attached to the bottom when the keyboard is opened.

_Discussion with the team might be required

[2021-05-21 16:22] marcaaron commented on #2659
I think this might be related -> https://github.com/Expensify/Expensify.cash/issues/2642

It can be hard to reproduce but happens most often when we are quickly logging out soon after logging in while network requests are in transit.

[2021-05-21 16:28] shawnborton commented on #3019
Couldn't we just remove pointer events from this particular view? https://reactnative.dev/docs/view#pointerevents

Basically we don't actually have a mechanism to view a full profile photo. So the elaborate solution would be to allow for tapping a profile photo that might just launch the view attachment modal where you could view a larger version of the image. Otherwise, we should just block this

[2021-05-21 16:44] alex-mechler commented on #2659
That would make sense. If we are signing out while writing the last viewed report to Onyx, it might not get cleared.

[2021-05-21 17:41] isagoico commented on #3045
Starting QA!

[2021-05-21 18:12] NikkiWines commented on #2966
Sounds like we might not need this issue then? Should we close this out?

[2021-05-21 18:24] yuwenmemon commented on #2966
I think we should fix `1` first before evaluating if `2` is indeed a problem. From what I've been seeing the reportActionID coming back from the server is pretty instantaneous in that you can edit a comment without much delay right now as long as you right-click. So it might not be as big of a deal as we think. Observe:
![Kapture 2021-05-21 at 11 21 21](https://user-images.githubusercontent.com/47

[2021-05-21 18:25] dklymenk commented on #2821
Yes, the default keybind to edit last message in slack is ctrl+ArrowUp.

Anyway, I'd like to take on this issue.

My proposed way to implement this feature:
1. Utilize the `saveReportActionDraft` to trigger the edit box. It requires `reportID`, `reportActionID`, `draftMessage`. `reportID` is already available as a prop.
2. For `reportActionID` and `draftMessage` we get those from `reportActions` v

[2021-05-21 18:31] 0x5e5e commented on #2967
Not sure if this is a bug or just a mismatch in expectations of functionality.

On mobile, long press on any `PressableWithSecondaryInteraction` component (that your `ReportActionItems` are wrapped in for that interaction) will open up the context menu and the `PopoverWithMeasuredContent` (which traced all the way down seems to be a `react-native-modal`)   React Native modals take priority over ev

[2021-05-21 19:04] roryabraham commented on #2821
@dklymenk Your implementation looks very reasonable for the current scope of this issue, but leaves me wondering if we can be a bit more forward-thinking with our implementation. I know it's a _slight_ deviation from the original posting for this issue, but I would prefer to implement a solution such that if the `ReportActionCompose` text input is empty, we can use the up/down arrow keys on the re

[2021-05-21 19:18] #2606 closed

[2021-05-21 19:25] iwiznia commented on #2821
I would rather have us implement the original feature. Mostly because editing is the most common option.

[2021-05-21 19:31] roryabraham opened #3068 "Deferred pull requests do not get "deployed to staging" comment"
### Problem
When the open StagingDeployCash is locked and a pull request is merged, the pull request is not deployed to staging and it gets a comment like this:

![image](https://user-images.githubusercontent.com/47436092/119188303-552a5900-ba2f-11eb-8018-a261dbf7b40e.png)

Then that pull request will be deployed when one of three things happen:

1. A new pull request is merged when the `StagingDe

[2021-05-21 19:39] dklymenk commented on #2821
If we are still using slack as an example, I'd say there is no reason you can't have both: up/down arrow to select messages and ctrl+Up to edit last sent message.

Since these 2 features not only can coexist no problem, but actually won't share any code (except for that `saveReportActionDraft` function), I can still implement the "edit last comment" feature and someone else (or me) can come up wit

[2021-05-21 19:41] roryabraham commented on #2821
@dklymenk I was just writing up something similar. So let's move forward with the original feature using `CMD/CTRL+Up` as the key-mapping 👍

@SofiedeVreese feel free to hire @dklymenk for this issue on Upwork. @dklymenk feel free to submit a pull request once you've been hired on Upwork.

[2021-05-21 19:51] thienlnam commented on #1517
cc @Expensify/design for UX/UI feedback

[2021-05-21 19:53] puneetlath commented on #2966
Yep, sounds good. Let's just focus on that for now. And given that's being handled in another PR, I'll go ahead and close this.

[2021-05-21 19:53] #2966 closed

[2021-05-21 20:02] iwiznia commented on #2821
Sorry, why CMD/CTRL + Up? IMO it should be just `UP
`

[2021-05-21 20:04] dklymenk commented on #3019
In that the solution is to add `pointerEvents: 'none'` to relevant styles in `src/styles/styles.js` like this:
[code]

I managed to reproduce the issue on pages other than details, so the `avatarSmall` needs to be changed too.

[2021-05-21 21:06] shawnborton commented on #1517
I wonder if a simpler approach would be to always keep the `Your password must have XXXX....` hint text under the first password input, and only make it red after someone has left that input and they didn't meet the criteria.

[2021-05-21 21:19] NikkiWines commented on #3019
Looks good! @dklymenk please create a PR for this.

cc: @arielgreen

[2021-05-21 21:21] roryabraham commented on #2821
Well, two reasons:

1. In Slack, `CMD+UP` is the default keymapping for editing the previous message.
2. If we just used `UP`, then this functionality _would_ be mutually exclusive with the other potential key-mapped features we could build.

[2021-05-21 21:26] iwiznia commented on #2821
No it is not, it's just UP in slack

Like what?

[2021-05-21 21:28] iwiznia commented on #2821
Oh, it only works if you have this:

![image](https://user-images.githubusercontent.com/521248/119199888-2e4e4000-ba8c-11eb-9382-8fecb982e5f1.png)

I still think that just up is better.

[2021-05-21 21:31] parasharrajat commented on #3017
### Proposal

Please refer to this comment https://github.com/Expensify/Expensify.cash/issues/3017#issuecomment-844486161.

[2021-05-21 22:07] kavimuru opened #3071 "mWeb/iOS/Android -Chat- "Edited" word wraps to 2nd line after editing a message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
After edited a message the text "edited" should be displayed in one line
## Actual Result:
After edited a lengthy message the text "edited" wraps to

[2021-05-21 22:25] kavimuru opened #3072 "mWeb - Settings - Sign out option not visible in smaller size devices"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Sign out button is visible

## Actual Result:
Sign out button isn't visible

## Action Performed:
1. Go to https://staging.expensify.cash
2. Log in w

[2021-05-21 22:26] shawnborton commented on #3072
Seems like we just need to make sure this page is in a scrollView, much like we do with other pages in Settings.

[2021-05-21 22:38] kidroca commented on #1083
To start the dev web server on windows edit the `package.json` like so:

[code]

And start the two processes separately on different terminals
1. first `npm run web-proxy` in one terminal
2. then `npm run web` in the other

The changes to `sourceType: 'unambiguous',` are also required under windows

I keep these changes in a separate stash and use them locally being careful not to commit them

---

[2021-05-21 23:02] shawnborton commented on #2669
Per the Slack thread, I think we ended up deciding to do nothing for now. Going to close this one out.

[2021-05-21 23:02] #2669 closed

[2021-05-21 23:14] strepanier03 commented on #3037
Triaging now.

[2021-05-21 23:22] sonialiap commented on #2845
**A. Selected text should be displayed if the user right clicks the message**
I can reproduce the described behavior. When I right-click on the message I highlighted then it is copied. If I right-click on a random other message then the highlight disappears from the original message and the message at click location is copied.

![image](https://user-images.githubusercontent.com/17131195/119206462-

[2021-05-21 23:27] strepanier03 commented on #3037
Unique — Looks unique, unable to find another GH related.
Issue hygiene — Looks good, nice job. Updated title with a small tweak, otherwise the template was used and filled out.
Clarity of problem — Pretty clear here as well. It looks like you can only use Edit if you load locally and I can't do that (or don't know how to set that up) to test the recreation steps. The images are pretty clear thoug

[2021-05-21 23:29] strepanier03 commented on #2629
I'm not going to be able to get to this before leaving for the day and I'm out of office for the next 6 business days. I'm reassigning and appreciate the help of the next triager, thank you 🙌

[2021-05-21 23:42] marcaaron commented on #2845
Hmm sorry I'm a little unclear on this issue.

It feels like maybe two separate issues...?

1. After text is selected and copied it is no longer selected
2. Able to copy multiple messages.

How are these related exactly?

[2021-05-22 00:12] isagoico commented on #3071
Same issue as https://github.com/Expensify/Expensify.cash/issues/3037 closing

[2021-05-22 00:12] #3071 closed

[2021-05-22 00:16] sonialiap commented on #2990
I wasn't able to reproduce with my test account, will try to reproduce with a coworker on Monday

[2021-05-22 00:32] isagoico commented on #3045
**Regression** is finished!
1 issue found today
1. https://github.com/Expensify/Expensify.cash/issues/3072

**PRs** are finished too.
No comments added
https://github.com/Expensify/Expensify.cash/pull/2979#issuecomment-846143060 was tested here.

Thanks and have a great weekend 💃

[2021-05-22 00:35] isagoico commented on #3045
:shipit:

[2021-05-22 00:35] #3045 closed

[2021-05-22 00:38] OSBotify opened #3076 "Deploy Checklist: Expensify.cash 2021-05-22"
**Release Version:** `1.0.52-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2810
- [x] https://github.com/Expensify/Expensify.cash/pull/2818
- [x] https://github.com/Expensify/Expensify.cash/pull/3061
- [x] https://github.com/

[2021-05-22 05:33] sonialiap commented on #2990
I am not able to reproduce this myself but based on slack + Isa, that's 5 people who are able to reproduce it.

I thought there might be some delay but I haven't received an email notification after waiting 2 hours. Here are the steps I took:

1. navigate into an existing message thread with a coworker
2. mark a message from coworker as unread
![image](https://user-images.githubusercontent.com/171

[2021-05-23 17:55] pranshuchittora commented on #2938
@tgolen there are few props over here
https://github.com/Expensify/Expensify.cash/blob/main/src/pages/signin/SignInPageLayout/SignInPageLayoutNarrow.js#L23:L24

I am not sure how to deal with them because in the new narrow design there is not screenshot (context `shouldShowWelcomeScreenshot`)

[2021-05-23 19:57] parasharrajat commented on #2349
Questions:
1. In the below image, the country code of the phone number is of the user whose number is shown there? but if we want to remove the +{countryCode}, our localized `toLocalPhone` will not work as it works only for the user who is logged in. `WithLocalize` usages the locale of the current user. And thus I believe we don't want to remove the country code from these places otherwise logged-

[2021-05-23 23:57] isagoico commented on #2996
Issue not reproducible today during KI retests (First Week)

[2021-05-23 23:57] isagoico commented on #2849
Issue not reproducible today during KI retests (Second Week)

[2021-05-23 23:58] isagoico commented on #3072
Issue reproducible today during KI retests

[2021-05-23 23:58] isagoico commented on #3019
Issue reproducible today during KI retests

[2021-05-23 23:58] isagoico commented on #2967
Issue reproducible today during KI retests

[2021-05-23 23:58] isagoico commented on #3041
Issue reproducible today during KI retests

[2021-05-23 23:58] isagoico commented on #3037
Issue reproducible today during KI retests

[2021-05-23 23:58] isagoico commented on #2850
Issue reproducible today during KI retests

[2021-05-23 23:58] isagoico commented on #2705
Issue reproducible today during KI retests

[2021-05-23 23:58] isagoico commented on #2601
Issue reproducible today during KI retests

[2021-05-24 00:07] isagoico commented on #2570
Issue not reproducible during today's KI retests (First week)

[2021-05-24 00:11] isagoico commented on #2661
Issue not reproducible today during KI retests (First Week)

[2021-05-24 00:15] isagoico commented on #2097
Issue reproducible during today's KI retests

[2021-05-24 00:16] isagoico commented on #2121
Issue reproducible during today's KI retests

[2021-05-24 00:16] isagoico commented on #2122
Issue reproducible during today's KI retests

[2021-05-24 00:16] isagoico commented on #2499
Issue reproducible during today's KI retests

[2021-05-24 00:17] isagoico commented on #2662
Issue reproducible during today's KI retests

[2021-05-24 00:17] isagoico commented on #2842
Issue reproducible during today's KI retests

[2021-05-24 00:18] isagoico commented on #2972
Issue reproducible during today's KI retests

[2021-05-24 00:21] isagoico commented on #2279
Issue reproducible during today's KI retests

[2021-05-24 00:23] isagoico commented on #2447
Issue not reproducible during today's KI retests (First week)

[2021-05-24 00:24] isagoico commented on #2710
Issue reproducible during today's KI retests

[2021-05-24 00:25] isagoico commented on #2973
Issue reproducible during today's KI retests

[2021-05-24 00:25] isagoico commented on #3023
Issue reproducible during today's KI retests..

[2021-05-24 03:50] kaushiktd commented on #2097
@isagoico I just run the entire code in my system again and it not showing any issue. Can you please show me a video of it or a path to recreate this issue?

[2021-05-24 07:26] Christinadobrzyn commented on #2097
@stitesExpensify can you give an update on where we are with the final PR for this?

[2021-05-24 08:59] trjExpensify commented on #2996
Hm yeah, odd. Same for me on `v1.0.51-2`:

![image](https://user-images.githubusercontent.com/16232057/119323390-906a9900-bc76-11eb-8b41-281f5128bb6f.png)

[2021-05-24 09:04] SofiedeVreese commented on #2661
@roryabraham Given the above, should this issue be closed?

[2021-05-24 09:06] trjExpensify commented on #2850
Seems like the engineering assignment was removed accidentally, pulling the trigger again for review.

[2021-05-24 09:13] trjExpensify commented on #2122
👋 @isagoico just to confirm, this is reproducible on the latest `v1.0.51-2` Android release right? (the screenshot in the OP looks old as it doesn't have the phone number field).

In the meantime, I'm going to add the external label to get this prepped for Upwork.

[2021-05-24 09:14] trjExpensify commented on #2122
Voila, what are the chances! Let me know about the above and I'll get it over to Upwork. A fresh Android screenshot would be awesome too if you could.

[2021-05-24 09:46] Julesssss commented on #3040
CC @marcaaron. I'm not sure you have a PR for this ghost text, but if so I think we can close this issue.

[2021-05-24 09:57] #2760 closed

[2021-05-24 10:30] Julesssss commented on #3040
I can see this change on main, so it must have been merged 🎉

[2021-05-24 10:30] #3040 closed

[2021-05-24 12:15] Beamanator commented on #2967
Hmm good point @0x5e5e - the modal only _looks_ like it's tiny, but its surrounding div is full screen (on web / desktop).

@Expensify/design got another question for y'all :D Currently on web / desktop, it looks like users should be able to right-click once (to see the copy / edit / mark unread menu), then right-click again somewhere else (before closing the menu) in order to immediately close th

[2021-05-24 13:17] parasharrajat commented on #2967
@Beamanator I think we can reduce the full screen context menu equal to its width. I will have a look over it and see whether it can be done?

[2021-05-24 13:59] Beamanator commented on #2996
Same - can't reproduce anymore.

I believe it was fixed here: https://github.com/Expensify/Expensify.cash/commit/54a21d958c6281060b09c9fce37f2343e68357c3#diff-0f2d048995be66cab42aa4bdf71f1befedeb2989e3bd00c8113fb54b98a54f76

Where this change was made:

[code]

[2021-05-24 14:55] laurenreidexpensify commented on #2670
Have upped job $ on Upwork - deets [here](https://www.upwork.com/jobs/~01cb8e67ca9fcb3510)

[2021-05-24 15:27] arielgreen commented on #3019
@dklymenk just sent over an offer via Upwork.

[2021-05-24 15:35] Viacheslav80 commented on #2996
@Beamanator
Hi! This patch solves this problem but does not solve the firstiNames in the chat title
this pr is created to solve: https://github.com/Expensify/Expensify.cash/pull/3027

[2021-05-24 15:57] BayCo opened #3087 "User's can not verify their email on desktop"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
Users should be able to verify their email on desktop app.

## Actual Result:
Link doesn't redirect to desktop app to verify users.

## Action Perfor

[2021-05-24 16:04] tgolen commented on #2938
If those aren't part of the new design, I think you can just remove them. I looked at them, and it doesn't look like those props are passed from anywhere either, so it should be fine to clean those up.

[2021-05-24 16:05] arielgreen commented on #2662
cc @chiragsalian please review proposal above

[2021-05-24 16:07] arielgreen commented on #2759
Paid.

[2021-05-24 16:07] #2759 closed

[2021-05-24 16:09] pranshuchittora commented on #2938
https://github.com/Expensify/Expensify.cash/blob/dc0c8b74ac04e3fd22865a3229743f0d270f7b43/src/pages/signin/SignInPage.js#L88:L89

[2021-05-24 16:19] arielgreen commented on #2973
Raised price on Upwork.

[2021-05-24 16:41] tgolen commented on #2967
@Beamanator Thanks for the context and background there. Another avenue that we might try taking is to see if we can remove the full-screen back-drop entirely. Then when the right-click menu opens, add a click listener to the entire document and anytime something is clicked on that IS NOT the current right-click menu, the menu will be closed. This will allow whatever was clicked on to continue wor

[2021-05-24 16:52] stitesExpensify commented on #2097
It looks like there are 2 very similar PRs
https://github.com/Expensify/Expensify.cash/pull/2957/files
https://github.com/Expensify/Expensify.cash/pull/2756/files

@kaushiktd can you choose one and close the other one?

Isabella is testing on production. Since your code has not been merged, the issue will continue to be reproducible :+1:

[2021-05-24 16:53] tgolen commented on #2938
Well, they are being passed there as you point out, but `SignInPageLayout` doesn't pass them to either `SignInPageLayoutWide` or `SignInPageLayoutNarrow`, so I think they are totally useless.

[2021-05-24 16:58] isagoico commented on #2122
Yep! I was able to reproduce the issue on Android build 1.0.51-2 with the same steps.

[2021-05-24 17:16] isagoico commented on #3076
Starting QA 🚀

[2021-05-24 17:17] chiragsalian commented on #2662
Hi @pranshuchittora, thank you for the analysis. You did suggest multiple solutions so I was wondering what solution were you going to go ahead with. For the solution you are going ahead with, can you explain your approach in a little more detail before I can approve it. I personally think the media queries route is fine since it looks like quite a rare device case.

[2021-05-24 17:21] chiragsalian commented on #2662
Also @isagoico can you share what android device you are testing on? It would be nice if @pranshuchittora can test against the same device on his emulator as well.

[2021-05-24 17:31] isagoico commented on #2662
Sure! My device is Huawei P20 Pro / Android 10.

<img src="https://user-images.githubusercontent.com/44479856/119385506-35e03580-bc94-11eb-9a07-e384d1f7d4e8.png" width="40%">

[2021-05-24 17:41] alex-mechler commented on #3037
Looks like a good one to handle externally! This is handled all by the front end.

[2021-05-24 17:53] parasharrajat commented on #2662
The best approach would be to show 7 columns for small devices, again using the media query.

[2021-05-24 18:19] #3046 closed

[2021-05-24 18:19] parasharrajat commented on #3037
## Proposal
1. It can be easily fixed by adding `flex-wrapping` here. https://github.com/Expensify/Expensify.cash/blob/03d777e389daded106350a7004a6078d13e084f6/src/pages/home/report/ReportActionItemFragment.js#L53

AS
[code]
It gives us the following result.
![Screenshot 2021-05-24 23:47:12](https://user-images.githubusercontent.com/24370807/119390418-a6b23c80-bcea-11eb-9b5c-b6b76d19cfb7.png)

Let

[2021-05-24 18:21] mallenexpensify commented on #2972
@cdraeger11 was on vacation, moving along to Engineering.

[2021-05-24 18:21] shawnborton commented on #3037
I think that might be the best bet Rajat. My only feedback is that I would prefer that when the `(edited)` is on the line below the text above it, that we can remove the margin on the left of `(edited)`.

[2021-05-24 18:25] parasharrajat commented on #3037
@shawnborton you mean for the last message `(edited)` should be in the next line?

[2021-05-24 18:30] iwiznia commented on #2349
The idea behind the toLocalPhone is to not see the country code of phones in your location. So if I am in USA I would not see all US phones prefixed with +1 but I would see all the non US phones with their prefix. Or in other words, if a phone does not have a prefix, it's because it's in your own country.

[2021-05-24 18:37] parasharrajat commented on #2349
Gotcha. Adding now. Then I will add you on the PR to review.

[2021-05-24 18:37] dklymenk commented on #3019
Submitted a pull request.

Please note, that fix comes with a side effect of disabling right click context menu on avatars. You would normally want to use it to open image in new tab or copy image link.

Not sure if this a required functionality, so I had to mention it just in case.

If it is required, we can make that style active on mobile web only, but that would probably go against the Cross P

[2021-05-24 19:05] shawnborton commented on #3037
Sorry, I mean for this screenshot here:
![image](https://user-images.githubusercontent.com/2319350/119395367-4094cd80-bc88-11eb-9e1e-f0dc8acfe953.png)

The `(edited)` text should have have a margin to the left of it.

[2021-05-24 19:08] bfitzexpensify commented on #3072
Upwork [posting](https://www.upwork.com/jobs/~010fba6a9c170c7f42).

[2021-05-24 19:12] pranshuchittora commented on #2662
Hi, @chiragsalian I am thinking of implementing an approach that consists of media queries to dynamically generate the `width`.

I will start by figuring out some reasonable threshold like
| width |  items per row  |
|---|---|
|320 |  4  |
|480 | 5 |
|640 | 6 |
|840 | 7 |
| >840 | 8 |

Then the width will be calculated by `${100/items_per_row}%`

### Open Questions
- Is there any existing utility

[2021-05-24 19:16] shawnborton commented on #2662
@pranshuchittora that feels like it might be a bit overly complex. Keep in mind that 8 columns seems to work fine for most screens that are at least 350px wide. Perhaps we really only need two sizes, one that has 6 columns and one that has 8 columns.

[2021-05-24 19:28] aliabbasmalik8 commented on #3072
**PROPOSAL**

We can fix this by removing `pointerEvents="box-none"` at this point https://github.com/Expensify/Expensify.cash/blob/9f305176681385f2aa80f43de06fc6dffa7f0b83/src/pages/settings/InitialPage.js#L112

Thanks

[2021-05-24 19:52] HunainAnis commented on #3072
Okay, I can make the sidebar scrollable to view the signout button.
![image](https://user-images.githubusercontent.com/53150149/119399841-d06f6180-bcf2-11eb-8b8d-6e4676c6eb15.png)

[2021-05-24 20:13] pranshuchittora commented on #2662
Cool then I will handle 2 variations but there’s an edge can of screen resizing. If we fix the width on the mounting of the component then it may break if the user resizes the app.

**On iPad**
I usually use apps in side-by-side mode or in popup mode (iPhone like).

**On Phone**
I use a split-screen mode which significantly changes the dimensions of the app window.

[2021-05-24 20:19] parasharrajat commented on #2662
Could this me helpful https://reactnative.dev/docs/0.63/pixelratio#get?

[2021-05-24 20:40] johnmlee101 commented on #3072
@aliabbasmalik8 your proposal looks good.

[2021-05-24 20:42] aliabbasmalik8 commented on #3072
can I start work?

[2021-05-24 20:47] marklouisdeshaun commented on #3037
@parasharrajat can you please submit your proposal in Upwork?

[2021-05-24 20:48] JmillsExpensify commented on #2705
I'm just coming back from vacation. I'll update the Upwork post since we're not getting any proposals.

[2021-05-24 20:54] johnmlee101 commented on #3072
Let's wait for @bfitzexpensify to accept the proposal on his end

[2021-05-24 21:11] JmillsExpensify commented on #2530
Nice one! I just got back from vacay and it looks like you're officially hired in Upwork, so thanks a ton for pushing forward from here.

[2021-05-24 21:20] kakajann opened #3093 "There is no validation on editing profile"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
`My profile` should either show validation errors when you save changes with empty `First name` and `Last name` or disable the `Save` button.

## Act

[2021-05-24 21:22] kakajann commented on #3093
If you guys think this bug should be fixed, I will present my proposal

[2021-05-24 21:24] Jag96 commented on #2920
Exported to upwork: https://www.upwork.com/jobs/~01572e274a1ada4be0

[2021-05-24 21:30] Jag96 commented on #3055
@pranshuchittora it looks like you have a few other issues currently assigned to you, so going to give others a chance to write up proposals for this.

For the proposals here, please ensure specific details about what style changes are necessary are included.

[2021-05-24 22:28] isagoico opened #3094 "IOU - `Unable to locate a matching report action` Error when clicking Pay on IOU"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
There should be no error and no blank screen.

## Actual Result:
Blank screen error displayed on console.
![image](https://user-images.githubusercont

[2021-05-24 22:33] jliexpensify commented on #2965
Looks like PR is blocked atm, will check again later.

[2021-05-24 22:58] isagoico commented on #3076
Regression is finished!
We were able to reproduce this issue today https://github.com/Expensify/Expensify.cash/issues/3094
No issues found.

PRs are finished too
No comments added.

Thanks

[2021-05-24 23:10] Julesssss commented on #3094
Duplicate of https://github.com/Expensify/Expensify/issues/164704#issue-896944533. Closing

[2021-05-24 23:10] #3094 closed

[2021-05-24 23:16] isagoico commented on #3076
:shipit:

[2021-05-24 23:16] #3076 closed

[2021-05-24 23:19] OSBotify opened #3099 "Deploy Checklist: Expensify.cash 2021-05-24"
**Release Version:** `1.0.53-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/3012
- [x] https://github.com/Expensify/Expensify.cash/pull/3027
- [x] https://github.com/Expensify/Expensify.cash/pull/3048
- [x] https://github.com/

[2021-05-24 23:30] arielgreen opened #3100 "[Hold for payment 2021-06-16] Accessibility improvement: Screen Reader focus does not highlight TOS/Privacy Policy links"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
On sign up/sign in page, Screen Reader focus should move to "Terms of service and Privacy Policy" links.

## Actual Result:
On sign up/sign in page,

[2021-05-24 23:35] arielgreen opened #3101 "Accessibility improvement: Role and label missing for Search, My Settings, and New Chat (Floating Action)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
In chat list, "Search", "My Settings", "New Chat(Floating Action)" should have defined role and label
## Actual Result:
In chat list, role and label

[2021-05-24 23:35] waheed25 commented on #2920
Keyboard will keep open while it is in the focus and once it goes out of focus it will be hide and will be focused once it is in the focus, there requires a `textInput` with some emoji value which you wanted to display, Pressing on it will immediately open the keyboard while in the focus we can get the value of input from state to add the emoji.

[2021-05-24 23:38] arielgreen opened #3102 "Accessibility improvement: Add a role, label, and voiceover to the "close" X button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
The "close" X should have a role, label, and voiceover

## Actual Result:
There is no role, label, or voiceover to the "close" X button

## Action Pe

[2021-05-24 23:42] arielgreen opened #3103 "Accessibility improvement: In chat screen, "Copy to Clipboard" mouseover button is inaccessible using tap and arrow keys"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Expected Result:
In chat screen, "Copy to Clipboard" mouseover button should be accessible using tap and arrow keys.
## Actual Result:
"Copy to Clipboard" mouseover b

[2021-05-24 23:46] Jag96 commented on #2920
@waheed25 per our [contributing guidelines](https://github.com/Expensify/Expensify.cash/blob/main/CONTRIBUTING.md#working-on-expensifycash-jobs), could you please add some more details about what is causing the issue and what changes you'll make to the code to fix this issue?

[2021-05-24 23:53] waheed25 commented on #2920
@Jag96  The reason of keyboard get hidden because it gets unfocused somehow and, keyboard will keep displayed as it in focus we need to make sure that keyboard not goes out of focus, also if we wanted to perform some action on keyboard open and close we can use keyboard listeners.