[2022-10-10 17:33] NikkiWines commented on #11498
Ah yes, @aimane-chnaif, I think you're right and this is tied to two issues you linked above - let's close this in favor of https://github.com/Expensify/App/issues/11496

[2022-10-10 17:33] #11498 closed

[2022-10-10 17:45] dangrous commented on #11317
Yeah I think we can close - it's merged now but not yet on prod; however I don't think there's any reason not to close this now since we're not going to accept a proposal in the meantime.

[2022-10-10 17:47] mvtglobally commented on #11623
@AndrewGable Can you confirm the build we should be checking for #11533 ? It seems to be still giving an error on 1.2.12-2
![image - 2022-10-10T134556 983](https://user-images.githubusercontent.com/43995119/194924884-4a229fcc-797e-406b-96a3-2144f00a3b8d.png)

[2022-10-10 17:50] AndrewGable commented on #7270
Revert PR here: https://github.com/Expensify/App/pull/11702

Discussed in Slack here: https://expensify.slack.com/archives/C07J32337/p1665422959225369?thread_ts=1665416806.084149&cid=C07J32337

[2022-10-10 17:51] Santhosh-Sellavel commented on #11522
@ctkochan22 I think this might be a backend bug

[2022-10-10 17:53] AndrewGable commented on #11623
This error I believe seems different, it was fixed on the backend so `1.2.12-2` is fine. Do you have any other bank accounts you can test with?

[2022-10-10 17:54] Santhosh-Sellavel commented on #11146
Selecting and copying the amount or replacing the selected amount with another amount.

[2022-10-10 17:56] mvtglobally commented on #11623
@AndrewGable We only have Fidelity working right now. I will check with the team if they were able to add any other type. But if not, this may need to be validated internally

[2022-10-10 17:56] Uros787 commented on #11059
Yes sir, I was able to reproduce it on Android and the solution is working smoothly.

The solution consists of changes in 4 files since we are going to send a prop down from ReportActionCompose to BasePopoverMenu.
And also we would need to change popoverPropTypes, and popoverMenuPropTypes

[2022-10-10 17:58] kavimuru opened #11703 "Workspace- No member shows up for brief moment when clicking manage members reported by@Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to settings > Workspace
2. Manage members

## Expected Result:
A loader should be shown instead of showing blank list

##

[2022-10-10 18:04] Uros787 commented on #11146
right, but if it works fine without it I believe its not needed.
Maybe someone could test this with my proposal and verify?

[2022-10-10 18:06] OSBotify commented on #11623
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11702) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.12-3` :rocket:

[2022-10-10 18:07] grgia commented on #10524
Not Overdue

[2022-10-10 18:08] Santhosh-Sellavel commented on #11146
@Uros787 Let's not rush here, we might missing something in the context. If it's not needed it would not be added here, if possible look into the PR where it was added to know more about why it was added.

[2022-10-10 18:11] ctkochan22 commented on #11652
Yeah lets hire @Puneet-here . Had this fixed in a larger PR, but that one never went out

[2022-10-10 18:12] JmillsExpensify commented on #11623
Agree that's a different error. I think the product in the screenshot above is working as designed.

[2022-10-10 18:14] ctkochan22 commented on #11525
Sounds like its pretty straight-forward path to investigate.

[2022-10-10 18:20] kavimuru opened #11707 "[$250] BUG: Pointer cursor is lost when FAB menu button is clicked reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to https://staging.new.expensify.com/
2. Hover over the fab button
3. Click on the fab button

## Expected Result:
Pointer

[2022-10-10 18:24] roryabraham commented on #8061
Oh, I think that we can just close this since it's done and @kidroca just bills us hourly

[2022-10-10 18:24] #8061 closed

[2022-10-10 18:24] ctkochan22 commented on #11117
Hmmm thanks for taking a look. I want to look into your theory about an endless log line, as it does automatically seem split.

Also when looking at the log lines, it seems like we have an insane number of `\` which seems very abnormal:
<img width="1418" alt="image" src="https://user-images.githubusercontent.com/12980144/194930189-95155d0c-139d-4c04-bdb6-513564bbd101.png">

Going to take a quick g

[2022-10-10 18:29] thesahindia commented on #11433
I have to investigate this a little bit.

[2022-10-10 18:29] Santhosh-Sellavel commented on #9818
@pecanoro
I think the RCA & steps are solid but my question is how we wanna can get this handled.

The crash occurs because this and `throw new Error` will crash the app in `native` platforms
https://github.com/Expensify/App/blob/8bef6dade2acd8f16a517cee84d5e0fcbdc48a64/src/libs/Navigation/linkTo.js#L17-L19

1. Show not found/ 404 pages
2. Stop the crash.
3. Any other way?

[2022-10-10 18:33] roryabraham commented on #11666
Okay, confirmed that this only happens if the second device is not running the app when the IOU is created

[2022-10-10 18:34] kavimuru opened #11708 "[HOLD] [$250] BUG: Fab menu shows when sidebar is opened reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to https://staging.new.expensify.com/
2. Click on the fab button
3. Press command + k

## Expected Result:
Fab menu should

[2022-10-10 18:36] joekaufmanexpensify commented on #11316
Agreed. I don't think a user is going to complete these steps, given it involves several potential refreshes. Further, following the new reproduction steps above, I still can't reproduce on my end.

I'm going to close for now!

[2022-10-10 18:36] #11316 closed

[2022-10-10 18:45] Santhosh-Sellavel commented on #7917
@mdneyazahmad whats the status here?

[2022-10-10 18:47] kavimuru opened #11709 "[HOLD for payment 2022-11-02] [$250] Bug: In Request Call Page, space(' ‘) is considered as valid First name and Last name reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Click on :telephone_receiver: symbol from Concierge chat.
2. Enter space (’ ’) as First name and Last name.

## Expected Resu

[2022-10-10 18:48] joekaufmanexpensify commented on #11654
Clarifying a few questions about this [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1665427724197339).

[2022-10-10 18:53] roryabraham commented on #11666
I don't seem to be able to reproduce this on dev, however

[2022-10-10 18:59] roryabraham commented on #11666
Ok, jk I _can_ reproduce this on dev

[2022-10-10 18:59] Puneet-here commented on #11709
### Proposal

Use `trim` like below
[code]

https://github.com/Expensify/App/blob/dfb5bca05a5b12e62ec86520819fd5a4ac66e405/src/pages/RequestCallPage.js#L216

https://github.com/Expensify/App/blob/dfb5bca05a5b12e62ec86520819fd5a4ac66e405/src/pages/RequestCallPage.js#L220

[2022-10-10 19:01] JmillsExpensify commented on #11192
Yes, agreed. We should double. I'll do that right now.

[2022-10-10 19:07] JmillsExpensify commented on #11192
Price update in this issue and in Upwork as well: https://www.upwork.com/jobs/~01941d2f457766f5e4.

[2022-10-10 19:09] kbecciv commented on #10931
Sure, checking with team

[2022-10-10 19:10] akshayasalvi commented on #10356
Draft PR is already raised. I am currently testing all the features. It should be ready for review in 1-2 days.

[2022-10-10 19:10] kbecciv commented on #10931
@Julesssss Tester was using iPhone XS Max/IOS 16

[2022-10-10 19:11] kbecciv commented on #11382
@MonilBhavsar Checking, will update you shortly

[2022-10-10 19:14] kbecciv commented on #11382
Issue is still reproducible with latest build 1.2.12.3

https://user-images.githubusercontent.com/93399543/194937052-70a7f851-cb51-4f14-8725-30a95280fb26.MP4

[2022-10-10 19:19] AndrewGable commented on #11623
Checked off https://github.com/Expensify/App/pull/11533 with @JmillsExpensify confirmation. Checked off https://github.com/Expensify/App/pull/10967 since it was reverted and CP-ed.

[2022-10-10 19:22] trjExpensify commented on #11695
👋 Is this to say it's _only_ a bug in landscape mode, or portrait as well? It's kinda' weird for the title of the issue versus a note for the reproducer.

[2022-10-10 19:23] mvtglobally commented on #11623
@AndrewGable thanks for confirmation. We are down to 2 Blockers
https://github.com/Expensify/App/issues/11685
 https://github.com/Expensify/App/issues/11686

[2022-10-10 19:24] kavimuru opened #11710 "[HOLD for payment 2022-11-02] [$250] Bug: Edit message compose box has no characters limit reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open Website/App
2. Go to chat.
3. Send a message.
4. Edit that message.

## Expected Result:
It should have characters limit

[2022-10-10 19:25] JmillsExpensify commented on #11311
Still no takers, yikes! It's a tragedy of the commons. 😦

[2022-10-10 19:27] AndrewGable commented on #11685
Asked internally if this was a change we made on purpose

[2022-10-10 19:32] AndrewGable commented on #11686
Can you confirm you can see the rooms once you do a refresh and/or log in again? (I do see the new rooms in this case) It's possible this isn't connected to pusher yet.

[2022-10-10 19:32] Uros787 commented on #11525
### Proposal
Add Keyboard.dismiss() on [AttachmentModal](https://github.com/Expensify/App/blob/6551eb9d07f54c222bd6cb7411b7613f3ccd03b4/src/components/AttachmentModal.js#L250-L267)
After fileDownload

[code]

After fix:
https://user-images.githubusercontent.com/70144379/194939404-ecacb029-462b-4b2e-8f94-a0b51373fdf7.mov

[2022-10-10 19:35] OSBotify commented on #11623
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.12-3 has been deployed to staging :tada:

[2022-10-10 19:40] mananjadhav commented on #10888
Thanks for the patience here everyone. I checked @aimane-chnaif's proposal here https://github.com/Expensify/App/issues/10888#issuecomment-1269798509 and it looks good to me.

cc - @Luke9389

🎀 👀 🎀 
C+ reviewed

[2022-10-10 19:46] mananjadhav commented on #11336
I went through @aimane-chnaif's proposal and I am almost inclined to agree with it. I haven't tested it. But I would want someone from the @Expensify/design  team to see if there's any issue with changing the cardStyle here.

[2022-10-10 19:47] lbaldy commented on #2727
Hi @parasharrajat. Now, once the https://github.com/Expensify/App/pull/9143 was merged, what should be the next step?

[2022-10-10 19:49] mananjadhav commented on #11471
Went through the proposals and @dhairyasenjaliya's proposal [here](https://github.com/Expensify/App/issues/11471#issuecomment-1271544517) looks good to me.

@MonilBhavsar All yours.

🎀 👀 🎀 
C+ reviewed

[2022-10-10 19:53] MarkCSmith commented on #11433
Fair enough.  The web browser will give focus to any clicked element that has a `tabindex` attribute.   React Native Web always adds those attributes to clickable/tappable items such as `Pressable`, and my colleague and I do not know a way to prevent those attributes from being added.  Calling `blur()` as we proposed should work for the action button, emoji picker, and video chat button.  In fact,

[2022-10-10 19:54] JmillsExpensify commented on #10273
What are the next steps on this issue? I peek at the referenced PR and that's still in the works. Does our plan change at all in light of @Julesssss comment above?

[2022-10-10 19:58] AndrewGable commented on #11685
The answer is no, and it seems like this is a deploy blocker.

[2022-10-10 19:58] AndrewGable commented on #11686
So interestingly, I see the room as the "User B" but not "User A"

[2022-10-10 19:59] pecanoro commented on #9818
@Santhosh-Sellavel Maybe it's time to consider a not found page, can any of you bring it up in the open-source channel? Another option would be to redirect to the home page if this happens, but I feel it's the same as just doing nothing by stopping the crash.

[2022-10-10 20:01] michaelhaxhiu commented on #10884
Doubling price!

[2022-10-10 20:07] ctkochan22 commented on #11685
Ah, looking

[2022-10-10 20:10] parasharrajat commented on #2727
7 days after PR is in Production and there are no regressions, payment will be released and we will close this chapter.

[2022-10-10 20:23] strepanier03 commented on #11694
Triage notes:

**This issue is repeatable.**

Tested this on my Android using the new.expensify mobile app.

I was able to have a height much greater than 6 or 16, it seemed near infinite and I could keep increasing the height repeatedly.

<img width="1045" alt="2022-10-10_13-22-47" src="https://user-images.githubusercontent.com/10925636/194946493-34334a5c-e436-4199-8114-b92466221bba.png">

[2022-10-10 20:27] mvtglobally commented on #11686
@AndrewGable here is the retest result

https://user-images.githubusercontent.com/43995119/194947024-5f57256d-4dac-4141-9413-f23683004654.mp4

[2022-10-10 20:27] strepanier03 commented on #11694
I think even with a proposal, this should go to Eng according ot the linked SO. There's multiple moving parts to our transition to BZ and I think this Triage process will go away in it's current form soon, a DD was just released for reviews regarding it.

Based on this [thread](https://expensify.slack.com/archives/C01SKUP7QR0/p1665429569726079?thread_ts=1665428390.597069&cid=C01SKUP7QR0) in Slack,

[2022-10-10 20:28] michaelhaxhiu commented on #11416
@abekkala Ah sorry just for context, I merely copy/pasted the steps from the related [slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1663578754768679). If you aren't able to reproduce still, let's have @adeel0202 triple check these steps are 100% correctly documented  😬 ?

[2022-10-10 20:29] stephanieelliott commented on #10608
Oops sorry @oogushikun, I didn’t realize that was you on Upwork! You’ve been hired there.

@mananjadhav please also grab the job for C+ when you get a chance! 😀

[2022-10-10 20:30] tgolen commented on #11403
OK, I looked at the proposal and I have a few questions.

1. I understand that the problem only happens on web, but is there any reason the same `didClickOutsideInputField()` logic can't be run on all platforms? Does it break native if that logic runs on native? Rather than just splitting the code based on the reason "it only affects one platform", we should always strive to keep the code as consi

[2022-10-10 20:32] joekaufmanexpensify commented on #11654
@alex-mechler unassigning you as the bug that caused this is reported as being fixed by the above PR.

[2022-10-10 20:34] stephanieelliott commented on #10891
Hey @aimane-chnaif, can you please grab the job on Upwork? We’ll use that to pay you https://www.upwork.com/jobs/~013fb8003f81392003

[2022-10-10 20:34] Puneet-here commented on #11710
### Proposal

Add `hasExceededMaxCommentLength`

```const hasExceededMaxCommentLength = this.state.draft.length > CONST.MAX_COMMENT_LENGTH;```

use it at view for border color by adding this to style `hasExceededMaxCommentLength && styles.borderColorDanger` https://github.com/Expensify/App/blob/dfb5bca05a5b12e62ec86520819fd5a4ac66e405/src/pages/home/report/ReportActionItemMessageEdit.js#L191

we n

[2022-10-10 20:36] parasharrajat commented on #7917
Under review now

[2022-10-10 20:37] stephanieelliott commented on #11088
Hey @aimane-chnaif @rushatgabhane please grab the job on Upwork when you have a chance! https://www.upwork.com/jobs/~01ee96f86077f15321

[2022-10-10 20:38] jliexpensify commented on #10947
@neil-marcellini - mind checking if this issue still exists? I'm seeing the same as @Uros787 's video.

[2022-10-10 20:41] ctkochan22 commented on #11685
hmm so it seems like when I delete the workspace "Unavailable workspaces" pop up
<img width="577" alt="image" src="https://user-images.githubusercontent.com/12980144/194949269-fb70421f-a1e2-4aee-8063-8449e475de50.png">

[2022-10-10 20:45] joekaufmanexpensify commented on #11654
Asking clarifying question [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1665434664215229) to understand a bit better the relationship between this bug and the above linked PR.

[2022-10-10 20:58] jliexpensify commented on #11170
Closed in Upworks

[2022-10-10 21:00] strepanier03 commented on #11636
I raised this internally and @eVoloshchak you should continue forward with the proposal you originally selected. Once I have a confirmation from you that you'd like to still go down that path I can hire the contributor in Upwork.

@1notchdev and @Uros787 - We have a lot of open issues to work on and while this one got off to a rocky start I think you are both valuable contributors who have plenty

[2022-10-10 21:05] conorpendergrast commented on #11584
Oops, I'll get to this today, sorry!

[2022-10-10 21:16] Puneet-here commented on #11386
Can I start working on this? I am not hired yet.

[2022-10-10 21:22] tgolen commented on #10622
OK, got it. I think `function decorateWithMetrics(func) { return func }` sounds like a good solution then.

[2022-10-10 21:30] mallenexpensify commented on #10492
All paid!!

[2022-10-10 21:30] #10492 closed

[2022-10-10 21:36] mallenexpensify commented on #11502
Realized I forgot to create the Upwork job.  It's here https://www.upwork.com/jobs/~0129cad70a1c139828
Raised to price to $500 too

[2022-10-10 21:38] JediWattson commented on #7862
@Santhosh-Sellavel Yes during the week I plan to try and finish this

[2022-10-10 21:39] mallenexpensify commented on #11677
Added `Needs Reproduction` label and unassigned ya @MonilBhavsar .   Thanks for checking the logs, not sure what else can/should be done about this now

[2022-10-10 21:40] joekaufmanexpensify commented on #11366
This is my first CME issue, so clarifying some questions [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1665437110890509).

[2022-10-10 21:43] roryabraham opened #11711 "[Tracking] Add performance CI tests"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Open a pull request in NewDot.

## Expected Result:
A suite of performance tests should run, so that we know _before a PR is merg

[2022-10-10 21:43] roryabraham commented on #11711
cc @hannojg Can you please comment on this so I can assign it to you

[2022-10-10 21:45] joekaufmanexpensify commented on #11710
Reproduced on web:

![2022-10-10_17-43-44 (1)](https://user-images.githubusercontent.com/54866469/194957048-ec810b73-ef7e-4916-aa63-9476c22db85d.gif)

[2022-10-10 21:52] mallenexpensify commented on #7968
Things got a lil weird here. I doubled price to $4k to get more 👀 on it. Removed `[HOLD]` from title too https://www.upwork.com/jobs/~01088768368e9c2061

[2022-10-10 21:56] JmillsExpensify commented on #10894
Asked a question about next steps [in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1665437694463779). Feel free to answer here or there. No need to answer in both places, thanks!

[2022-10-10 22:07] lbaldy commented on #4733
Proposal:

The inline code block using a single back tick (`) breaks properly when there are whitespaces in the text. When the text is a single text string without any whitespaces it isn't able to render itself.

In order to simulate the first case (string with whitespaces) I suggest to change the string by adding a non printable whitespace in between each character so that the renderer feels like

[2022-10-10 22:23] Uros787 commented on #10698
### Proposal
The issue here is that we are not waiting for transition of the screen to end. There is already implementation of shouldDelayFocus prop on BaseOptionsSelector.js

So all we have to do is add shouldDelayFocus prop on [IOUConfirmationList.js](https://github.com/Expensify/App/blob/2ba241194706300e8e748acb4e9636e2e659f274/src/components/IOUConfirmationList.js) on OptionsSelector

![Screen

[2022-10-10 22:31] 1notchdev commented on #11636
@strepanier03 and @eVoloshchak  I already applied the job on Upwork for a few days ago, and PR #11656 is ready for review now.

[2022-10-10 22:32] mallenexpensify commented on #11547
Thanks @adeel0202 .  Took me a lil bit but I was able to reproduce, updated the OP to be more clear and title too.
The majority of the time, if someone were to copy a profile link, it's be the report, ie https://new.expensify.com/r/91318393 vs clicking on the user's avatar to open the details *then* copy that link, ie. https://new.expensify.com/details?login=manager.haxhiu%40expensicorp.com.

@cea

[2022-10-10 22:34] Uros787 commented on #11314
### Proposal
The issue here is that we are not waiting for the transition to end, but focusing straight away on the input. So while the transition is happening cursor is following the input.
The solution is to add shouldDelayFocus on [IOUCurrencySelection.js](https://github.com/Expensify/App/blob/ce48d0b94baf04766194927dc4241384fd227911/src/pages/iou/IOUCurrencySelection.js)
![Screenshot 2022-10-1

[2022-10-10 22:52] neil-marcellini opened #11713 "Workspace names don't update in search results"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. If needed, create a workspace by clicking the green plus, New workspace
2. Hit the search icon in the header and enter the na

[2022-10-10 22:54] neil-marcellini commented on #11713
cc @tgolen Do you have any existing plans to refactor the search options?

[2022-10-10 23:04] puneetlath commented on #11595
It looks like this most likely has to do with inviting a member on a Domain Controlled domain, so will need to be Internal.

[2022-10-10 23:10] oogushikun commented on #10608
Thanks @stephanieelliott 😄

[2022-10-10 23:15] AndrewGable commented on #11623
Thank you @mvtglobally - We are working on a fix

[2022-10-10 23:22] roryabraham commented on #11666
Got a PR up to fix this: https://github.com/Expensify/Web-Expensify/pull/35118

[2022-10-10 23:26] Itsoxama commented on #11502
Hello i hope you are fine!
I am a reactjs expert for last five years and i have figure out the issue in your application. Actually You application has a npm module usenativedriver installed.And  it clearly show that this module is deprecated means this is removed completely and you can see it in console log thats why navigation not working properly. so what i do?
I will install and setup the alter

[2022-10-10 23:27] Itsoxama commented on #11502
Hello i hope you are fine!
I am a reactjs expert for last five years and i have figure out the issue in your application. Actually You application has a npm module usenativedriver installed.And  it clearly show that this module is deprecated means this is removed completely and you can see it in console log thats why navigation not working properly. so what i do?
I will install and setup the alter

[2022-10-10 23:27] cead22 commented on #11547
Labeled demolition because of the clear repro steps, but @Beamanator if you think this can be solved by a contributor, feel free to label External

[2022-10-10 23:33] arielgreen commented on #11125
@MonilBhavsar Can you clarify what is needed here?

[2022-10-10 23:34] arielgreen commented on #10290
@parasharrajat [bump](https://github.com/Expensify/App/issues/10290#issuecomment-1270387180) -- I'm not sure what is needed here

[2022-10-10 23:41] arielgreen commented on #11419
@Puneet-here @parasharrajat check your Upwork inboxes please

[2022-10-10 23:44] arielgreen commented on #11124
Thanks @aimane-chnaif! @parasharrajat agreement I should close?

[2022-10-10 23:45] arielgreen commented on #11359
Closed.

[2022-10-10 23:45] #11359 closed

[2022-10-10 23:57] kavimuru commented on #11547
@mallenexpensify I am able to reproduce too.

https://user-images.githubusercontent.com/43996225/194969496-cd77b772-2601-4924-b7a8-3820ad8da860.mp4

[2022-10-11 00:07] roryabraham commented on #11535
Tagging in @trjExpensify here ... do you know what @kbecciv is referring to here?

I see we have a "congrats page" that shows up when you've successfully set up a personal bank account (PR that added that [here](https://github.com/Expensify/App/pull/10072)), but I'm not sure if it's expected that the same thing would happen within a workspace. Can you connect multiple bank accounts into a free pla

[2022-10-11 00:20] kavimuru commented on #11632
@Julesssss @flodnv Still able to reproduce. Edited the steps and adding a new video

https://user-images.githubusercontent.com/43996225/194971354-cc49e1a6-589f-41c8-ab32-b1a4cca67a7c.mp4

[2022-10-11 00:32] trjExpensify commented on #11535
Is it the `All Set!` page of the EnableStep? I can see it referenced here: https://github.com/Expensify/App/blob/9ab001cee05f0846edfd5e80de65b0df32188b21/src/pages/ReimbursementAccount/EnableStep.js#L114-L119

![image](https://user-images.githubusercontent.com/16232057/194971776-87c4f5c1-3158-4e1d-93ef-5d8957678544.png)

Not unless we've added that enhancement recently. CC: @kevinksullivan?

[2022-10-11 00:38] trjExpensify commented on #11535
@kbecciv - I'd be curious to know if the bank account showed up as added to the workspace after you refreshed the page? I agree that shouldn't really be required, but it would help determine here whether it's not recognising the bank account is added at all or if it needs a kick.

[2022-10-11 00:42] aneequeahmad commented on #10888
@mananjadhav Apologies couldn't find time to post an update to proposal.
I would like to just mention that i figured out the `root cause` of the issue [here](https://github.com/Expensify/App/issues/10888#:~:text=When%20%2B%20icon%20is,is%20false.)

Also i posted updated proposal which is non different than the comment that you just mentioned. We can introduce another state in modal that  indicates

[2022-10-11 00:56] mananjadhav commented on #10888
Not sure I understand @aneequeahmad. I didn't agree with any of the proposals when I took over as C+. And to be fair, I waited 3 days to avoid any confusion. Not sure what you mean by non different proposal.

[2022-10-11 01:01] aneequeahmad commented on #10888
Ahhh yes i agree my mistake i'm a bit late couldn't post updates on proposal on time. Totally your decision. Proceed with what you feel is right.

Thanks

[2022-10-11 01:18] mallenexpensify commented on #11502
@Itsoxama , please review https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md for details on how to submit a proposal for a job.  Thanks

[2022-10-11 01:23] mallenexpensify commented on #11493
Posted in #engineering to get more 👀 https://expensify.slack.com/archives/C03SSAQ7P/p1665449068132379

[2022-10-11 01:32] grgia commented on #11311
I can try and take a look at this tomorrow!

[2022-10-11 01:53] aneequeahmad commented on #10107
@parasharrajat, i have been researching on this issue. I would post a proposal soon most prolly today or tomorrow
.

[2022-10-11 02:17] davidcardoza commented on #10624
Since this is a duplicate issue, let’s centralize convo in the other GH.

[2022-10-11 02:26] thienlnam commented on #11520
Yes, agree on all the sentiments here that we should be updating the image asset instead of making a front-end solution.

Here's that old issue for adding this - https://github.com/Expensify/Expensify/issues/136829

[2022-10-11 02:32] thienlnam commented on #11273
It was closed many months ago, so we can treat this as a new bug at this point.

cc @MonilBhavsar / @rushatgabhane Let's make sure to have the contributor also add an automated test for this change (if external).  We keep having this regression and can easily prevent it in the future

[2022-10-11 02:33] sobitneupane commented on #11695
Issue exists both in portrait and landscape mode. It is clearly noticeable even with one or two payment methods in landscape mode because of smaller height.

[2022-10-11 02:36] sophiepintoraetz commented on #11606
Created an external posting [here](https://www.upwork.com/jobs/~01661c45925ad5edf7) on Upwork

[2022-10-11 03:04] thienlnam commented on #11146
@Uros787 We've actually been trying to move off of setNativeProps to upgrade to fabric.
 Additional context here: https://github.com/Expensify/App/issues/11053.  But we can't just remove the selection prop

It actually seems like the bug we're running into here seems to be related to changes we're working on here: https://github.com/Expensify/App/issues/11053 so I am going to put this issue on hol

[2022-10-11 03:30] strepanier03 commented on #11636
Offer sent to @1notchdev in Upwork - hired to fix issue.

@eVoloshchak - please let me know when you've applied for the job in Upwork.

[2022-10-11 03:35] pecanoro commented on #11432
Still discussing this, I will close the convo tomorrow so we can decide on a specific solution.

[2022-10-11 03:39] 1notchdev commented on #11636
@strepanier03 , Thank you for the offer. I'll create the PR in a few hours again and let you know.

[2022-10-11 03:55] dhairyasenjaliya commented on #11454
hello, @Justicea83 reporting Upwork job missing here might need to add the appropriate label!

[2022-10-11 04:43] ctkochan22 commented on #10493
No proposals

[2022-10-11 04:44] tjferriss commented on #11671
I'm going to pass this over to engineering as I think it's a pass. However, I am on the fence as to whether this issue really hits the _value_ part of the review:

This seems like a polish item and if it requires more than a super small amount of work then I'd suggest we pass for now.

[2022-10-11 04:55] tjferriss commented on #11487
Forgot to add `engineering` last week. Got it now. I also updated the OP to reflect the new solution to remove the hyperlink from the text on mobile.

[2022-10-11 05:32] hannojg commented on #11711
Yes 👋

[2022-10-11 05:33] MonilBhavsar commented on #11125
This is duplicate of https://github.com/Expensify/App/issues/10975
I'm looking at the other issue. I think we can close this.
The crash is also not reproducible now, but the code responsible for the crash is still there, so I need to look into it.

[2022-10-11 05:34] MonilBhavsar commented on #10975
@aimane-chnaif thanks for looking. Can confirm crash is gone. I'll take a look at the bug.

[2022-10-11 05:45] MonilBhavsar commented on #11677
Seems like pretty edge case. We can track and see if someone else experiences this.
The video where offline status is false on the Login page _might_ be related to this [issue](https://github.com/Expensify/App/issues/10524). cc @grgia

[2022-10-11 06:05] sobitneupane commented on #11650
@rushatgabhane Your proposal will change value in the dropdown or the picker but the changed value is not passed to the parent component.

@aimane-chnaif Soluion 2 from above [proposal](https://github.com/Expensify/App/issues/11650#issuecomment-1273736055) looks good to me. His proposal is to apply the change to a general component `Picker`. @aimane-chnaif Please do test all the components using P

[2022-10-11 06:07] parasharrajat commented on #11124
Works for me

[2022-10-11 06:31] #9710 closed

[2022-10-11 06:33] thesahindia commented on #11352
Will review today. I will do some investigation first.

[2022-10-11 06:35] Uros787 commented on #10698
I have applied for a job on upwork, i will create a PR probably today if not tommorow

[2022-10-11 06:53] sobitneupane commented on #11413
Waiting for proposals.

[2022-10-11 06:59] tgolen commented on #8885
OK, thanks! I think it's probably fine to leave open and see if a
contributor wants to take it. We should probably add some guidance about
what we want this page to look like. Ping design for that?

On Thu, May 5, 2022 at 2:36 PM Aldo Canepa Garay ***@***.***>
wrote:

[2022-10-11 07:01] danieldoglas commented on #10084
Yep, that’s it!

On Wed, 27 Jul 2022 at 23:21 Carlos Martins ***@***.***>
wrote:

[2022-10-11 07:04] bfitzexpensify commented on #11486
Upwork job [here](https://www.upwork.com/jobs/~014143204f1cdb68fd)

Reporting job [here](https://www.upwork.com/jobs/~01f7664133d31b114b) @thesahindia

[2022-10-11 07:23] davidcardoza commented on #11707
I am not able to reproduce this issue. Can you please reopen if the issue continues to happen.

[2022-10-11 07:25] mdneyazahmad commented on #11707
@davidcardoza it is still reproducible

[2022-10-11 07:34] davidcardoza commented on #11707
Ah okay, I was able to reproduce on staging and production.

![2022-10-11_00-33-17 (1)](https://user-images.githubusercontent.com/6643649/195024600-85deb41d-5740-4fa8-b9b0-0d53312bc47e.gif)

[2022-10-11 07:48] danishyasin33 commented on #11486
Hi everyone,

The issue seems to have something to do with how the width of the tooltip is calculated. If I remove the the width or set it to `fit-content` then the URL shows it's full length.
![image](https://user-images.githubusercontent.com/47951155/195027202-360c5fce-2306-4d82-9e77-46c9b828c7e5.png)

### The Fix:
To fix it, we can fix the width attribute of the tooltip for it to appear correct

[2022-10-11 07:59] mdneyazahmad commented on #7968
@Santhosh-Sellavel https://github.com/Expensify/App/issues/7968#issuecomment-1239955284

I am not able to find the use of `onSubmit` inside the Modal component or its children, but there is a proptype defined. Can somebody help me with that.
https://github.com/Expensify/App/blob/dfb5bca05a5b12e62ec86520819fd5a4ac66e405/src/components/ConfirmModal.js#L62-L63

[2022-10-11 08:40] mallenexpensify commented on #11021
Hired, let me know when you've accepted and I'll pay Rajat

On Fri, Sep 16, 2022 at 1:26 PM Rajat Parashar ***@***.***>
wrote:

[2022-10-11 09:01] Justicea83 commented on #11454
Hey @dhairyasenjaliya I took this one. No need for an upwork job!

[2022-10-11 09:17] Beamanator commented on #11547
@sobitneupane idk how but I unassigned kavimuru & it accidentally unassigned you, so I just reassigned you as C+ & opened this up for proposals 👍

[2022-10-11 09:17] Justicea83 commented on #11671
This can be external, we set the unreadCount on the website [here](https://github.com/Expensify/App/blob/79d8bd205be0879d3914fe926eaced3629caa4a1/src/libs/UnreadIndicatorUpdater/updateUnread/index.website.js#L13).

[2022-10-11 09:32] Julesssss commented on #2545
@michaelhaxhiu we have quite a few reproductions, let's leave the issue open and see if we receive any proposals.

[2022-10-11 09:35] Beamanator commented on #11270
Good thoughts @mananjadhav , I also agree we can probably close this for now, this one looks very difficult to debug & I don't think there's been any other instances so far, so let's close & we can discuss more if it keeps happening

[2022-10-11 09:35] #11270 closed

[2022-10-11 09:38] Beamanator commented on #10376
Agreed on all points :D I'm very interested to help work on this once the time comes! 👍 👍

[2022-10-11 09:38] Julesssss commented on #10068
While there are a lot of unactionable issues being created from these stack traces,  I'm not sure that auto-closing them is a good idea currently. Because we currently have a small number of users, there are quite a few crashes that rarely show up, but are not fixed.

[2022-10-11 09:43] Julesssss commented on #11513
I don't have time to try this today unfortunately, but this suggests that the bug is only reproducible on physical devices. Let's seek proposals, ensuring that we verify fixes on our physical devices.

[2022-10-11 09:53] Julesssss commented on #10931
Okay. I think we should leave the issue open, but not increase the bounty. Verifying a fix will be tricky, but first, let's see if anyone finds a solution.

[2022-10-11 09:57] Julesssss commented on #10273
Cool, that makes sense to me, but FYI I'm unlikely to be able to prioritize my PR anytime soon. It might be worth prioritizing this PR over mine, on the assumption that my change could be on hold for months.

[2022-10-11 10:07] Julesssss commented on #11632
Okay, I also see this bug. Let's treat this as a separate issue as the steps are slightly different from the original issue.

[2022-10-11 10:15] Puneet-here commented on #11382
@MonilBhavsar, correct. This is only at older versions, I was seeing the same issue at safari  on my mac but after updating I can't repro, same for ios. I tried ios 15.5 - 16 and it is not reproducible there.

[2022-10-11 10:15] Julesssss commented on #11596
Closing this as the original PR was reverted.

[2022-10-11 11:07] tienifr commented on #11584
# Proposal
## Problem
- Currently, the logic scroll to unread message is using `scrollToBottom ` function
https://github.com/Expensify/App/blob/7b21103bb56eb0cf3fc1561715613d2a16c3255f/src/pages/home/report/ReportActionsView.js#L285

- function `ReportScrollManager.scrollToIndex` isn't work correctly in web because it has different behavior scroll from native

## Solution
In https://github.com/Exp

[2022-10-11 11:08] tienifr commented on #11584
https://user-images.githubusercontent.com/113963320/195074818-5736b458-7c56-4b14-824a-ed1a6a7b533a.mp4

[2022-10-11 11:09] tienifr commented on #11584
https://user-images.githubusercontent.com/113963320/195074906-b0cd9614-8351-45fd-a4ea-808f74ec983b.mp4

[2022-10-11 11:10] trjExpensify commented on #10931
I'm a bit wary of leaving this open if both Jules nor I can reproduce it on either Android or iOS. What conditions are we missing, are the steps in the OP accurate? If the tester can consistently reproduce this, we must be missing something.

[2022-10-11 11:25] michaelhaxhiu commented on #10058
Seems it's been 1 month and no bites. Should we consider doubling price again to get more interest?

[2022-10-11 11:30] Julesssss commented on #10931
My assumption is that it's just an inconsistent bug. Perhaps it's occurring on a specific device, but it's also possible for it to require additional steps to reproduce that we're not aware of.

I'm also happy to just ignore it and close the issue, but we should first confirm whether we can reproduce on this device: `iPhone XS Max/IOS 16`. If yes, it's probably a device-specific (or device with ce

[2022-10-11 11:40] tienifr commented on #11671
#Proposal

## Problem
Now, we're using `listenForReportChanges` function to listen the changing of the `reports` and then using function `throttledUpdatePageTitleAndUnreadCount` to update the pageTitle and unreadCount. In function `listenForReportChanges` we check `if (!report || !report.reportID)` we do nothing. That why when we logout we don't reset the reports.

##Solution

we'll create new fun

[2022-10-11 11:41] flaviadefaria commented on #10848
Internal job post - https://www.upwork.com/ab/applicants/1579798560037728256/job-details
External post - https://www.upwork.com/jobs/~0102289ba6d99dee28

[2022-10-11 11:43] flaviadefaria commented on #10848
@MonilBhavsar I think we're just waiting on you now to move forward with the proposal.

[2022-10-11 11:58] vladamx commented on #11589
Quick update on this one,

I upgraded drawer, stack, react native screens and enabled freeze globally with enableFreeze(true).

However i am still getting re-renders in the profiler that i would not expect to happen. Even if i go deep in settings stack it still re-renders report.

I will need to dig deeper and try to use react-freeze API directly which is just a component you can wrap your content

[2022-10-11 12:42] smrutiparida commented on #11561
@mountiny What I have understood so far is, we rename the label of a staging build to release to PROD. This is the reason API_URL present in the ENV values are as PROD_URL as there are no way presently for an iOS/Android android build to read the env values dynamically based on dev/taging/prod post the creation of a build.

@parasharrajat Which setting you mean ?

[2022-10-11 12:45] mountiny commented on #11561
Yes we take the code in main and build it with prod settings and release as Staging version. What used to be staging version is then relabelled to production so no changes to the code.

[2022-10-11 12:55] mvtglobally commented on #9823
Issue not reproducible during KI retests. (Forth week)
We are unable to repro consistently.

[2022-10-11 12:56] mvtglobally commented on #10127
Issue not reproducible during KI retests. (Fifth week) Are we ok to close?

[2022-10-11 12:56] mvtglobally commented on #10356
Issue not reproducible during KI retests. (Second week)

[2022-10-11 12:57] michaelhaxhiu commented on #11416
Got it! Let's try to identify where/how this got fixed to ensure it's really finalized.

I think we should push this through, so that it gets C+ assignment and we can find the PR responsible for the fix.

Then we can decide on paying the bug reporting bonus.

[2022-10-11 12:57] mvtglobally commented on #10359
Issue not reproducible during KI retests. (Fourth week)

[2022-10-11 12:57] mvtglobally commented on #10663
Issue not reproducible during KI retests. (Third week)

[2022-10-11 12:58] #10359 closed

[2022-10-11 12:58] mvtglobally commented on #10975
Issue not reproducible during KI retests. (Third week) Are we ok to close this?

[2022-10-11 13:00] mvtglobally commented on #11061
Issue not reproducible during KI retests. (Second week)

[2022-10-11 13:00] sobitneupane commented on #11314
Unable to reproduce this issue on IOS Simulator. @Uros787 Were you able to reproduce this issue?

[2022-10-11 13:01] mvtglobally commented on #10483
Issue not reproducible during KI retests. (Fourth week)

[2022-10-11 13:02] mvtglobally commented on #10847
Issue not reproducible during KI retests. (Fourth week)

[2022-10-11 13:02] NicMendonca commented on #10359
@parasharrajat can you please accept my offer when you get the chance?

[2022-10-11 13:02] mvtglobally commented on #11158
Issue not reproducible during KI retests. (Second week)

[2022-10-11 13:03] mvtglobally commented on #11187
Issue not reproducible during KI retests. (First week)

[2022-10-11 13:03] mvtglobally commented on #11246
Issue not reproducible during KI retests. (First week)

[2022-10-11 13:04] mvtglobally commented on #11074
Issue not reproducible during KI retests. (First week)

[2022-10-11 13:04] NicMendonca commented on #10127
@0xmiroslav paid- thank you!

[2022-10-11 13:04] mvtglobally commented on #11118
Issue not reproducible during KI retests. (First week)

[2022-10-11 13:05] mvtglobally commented on #11148
Issue not reproducible during KI retests. (Second week)

[2022-10-11 13:05] mvtglobally commented on #11235
Issue not reproducible during KI retests. (First week)

[2022-10-11 13:06] trjExpensify commented on #11236
Yeah, we're going to make some changes to the call modal, but firstName and lastName will still be fields within the updated modal and the appropriate error handling will be necessary, so I wouldn't block on that here.

I like @neil-marcellini's idea of just shortening the error message to `Please provide your first name` to improve the readability, as it's a little verbose right now and probably

[2022-10-11 13:06] mvtglobally commented on #11526
Issue not reproducible during KI retests. (First week)

[2022-10-11 13:06] NicMendonca commented on #11690
So on OldDot policies are sorted alphabetically, and I think that makes most sense 👍

[2022-10-11 13:08] Uros787 commented on #11314
Hi @sobitneupane , yes I was able to reproduce

[2022-10-11 13:10] trjExpensify commented on #11461
I'm going to tag a few other people that I think are familiar with this flow.

@MariaHCD @nkuoch @ctkochan22 - is there a technical reason why we can't navigate back to the personal step here, instead of skipping over it and navigating back to the company step?

[2022-10-11 13:16] MonilBhavsar commented on #11471
@dhairyasenjaliya could you please check if this issue use case is also fixed- https://github.com/Expensify/App/issues/11471#issuecomment-1271485274

[2022-10-11 13:18] puneetlath commented on #11300
@eVoloshchak what do you think?

[2022-10-11 13:25] tienifr commented on #11427
### Proposal

### Problem
This issue is from `PasswordPage.js`
When render the content of password page now we just check `props.account.success` is not empty to render `PasswordConfirmationScreen` when user successfully change password or form to edit password when user open this page

[App/PasswordPage.js at dfb5bca05a5b12e62ec86520819fd5a4ac66e405 · Expensify/App](https://github.com/Expensify/A

[2022-10-11 13:29] michaelhaxhiu commented on #10107
Good call, I just pinned it. I'm going to double the value too, as it's been more than 7 days.

[2022-10-11 13:32] MonilBhavsar commented on #10848
@shawnborton a suggestion: How about having preferred CSS stylings/dimensions in a doc and include that in our PR Review checklist?

[2022-10-11 13:35] #11158 closed

[2022-10-11 13:39] MariaHCD commented on #11461
I don't think there's a reason why we can't navigate back to the personal step here. We'd already did that for the back button in the header in this PR: https://github.com/Expensify/App/pull/11232

But looks like we missed changing the navigation for the Onfido component: https://github.com/Expensify/App/blob/dfb5bca05a5b12e62ec86520819fd5a4ac66e405/src/pages/ReimbursementAccount/RequestorStep.js#

[2022-10-11 13:41] dhairyasenjaliya commented on #11471
I did check this condition now, so basically, here we are adding a conditional check when `reportAction` is not empty at that time we display `Say Hello`, but if we want to add this condition then we should probably add a condition whereby if `reportAction` is blank at that time we need to return placeholder as empty since only after data is loaded we can identify the type of placeholder (E.g Say

[2022-10-11 13:49] Puneet-here commented on #11690
### Proposal

We need to use
`.sortBy(policy => policy.title)` before `.value()` at line 203
https://github.com/Expensify/App/blob/dfb5bca05a5b12e62ec86520819fd5a4ac66e405/src/pages/settings/InitialSettingsPage.js#L186-L203

[2022-10-11 13:53] sobitneupane commented on #11486
Hello @danishyasin33, Can you please point out the file where you proposing to make change and what are the changes you are proposing? Some codeblocks will be helpful. For example: https://github.com/Expensify/App/issues/11388#issuecomment-1262745992

If you haven’t already, check out [CONTRIBUTING GUIDELINES](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.m

[2022-10-11 13:58] gadhiyamanan commented on #11274
@mvtglobally no one assigned here, I am still able to reproduce it with the latest build

[2022-10-11 13:59] Puneet-here commented on #11688
Just wanted to comment that, it is reproducible on deleting any message, not just last message.

[2022-10-11 14:01] gadhiyamanan commented on #11398
@mvtglobally no one assigned here, I am still able to reproduce it with the latest build

[2022-10-11 14:02] gadhiyamanan commented on #11488
@kavimuru no one assigned here

[2022-10-11 14:04] ahmdshrif commented on #10352
is this what we expect in all platforms ?

![simulator_screenshot_BF30F507-9001-4096-8690-9633AA2C2C7B](https://user-images.githubusercontent.com/21364901/195096813-d3571aa2-25e1-406e-99cb-5ab8fd1f9b9a.png)
<img width="1003" alt="Screen Shot 2022-10-11 at 2 55 34 PM" src="https://user-images.githubusercontent.com/21364901/195096622-2fc43d82-22b7-4251-a4e3-c5a67a931031.png">

![simulator_screenshot

[2022-10-11 14:05] trjExpensify commented on #11461
Awesome, thanks @MariaHCD!

[2022-10-11 14:16] fedirjh commented on #11486
hello there

This issue is related to white Space : it is set to nowrap which suppresses line breaks within the source text . to fix this you set `white-space:normal ;` and add `word-break: break-all;` to prevent overflow

component to edit is [getTooltipStyles.js](https://github.com/Expensify/App/blob/dfb5bca05a5b12e62ec86520819fd5a4ac66e405/src/styles/getTooltipStyles.js#L161)

![Screenshot from

[2022-10-11 14:20] shawnborton commented on #10352
Awesome, yup that looks good to me!

[2022-10-11 14:26] danishyasin33 commented on #11486
Hi @sobitneupane,

So the file I would edit would be:
https://github.com/Expensify/App/blob/dfb5bca05a5b12e62ec86520819fd5a4ac66e405/src/styles/getTooltipStyles.js#L160-L161

I would update it to:
[code]

I believe this would fix the said issue if we are going for the line-break course of action.

[2022-10-11 14:38] parasharrajat commented on #9823
I will check it today and see if I can still reproduce this. I will also post a video for the same, if reprducible.

[2022-10-11 14:38] michaelhaxhiu commented on #10539
Should this be open till https://github.com/Expensify/App/pull/10648 is merged to prod?

[2022-10-11 14:40] mvtglobally commented on #11623
@AndrewGable hopefully we can get a new deploy today. pls tag us if anything needs retests

[2022-10-11 14:40] parasharrajat commented on #11561
There are three env files with the name `.env.<environemnt>`. so IMO, `.env.staging` is used while building the staging app.

[2022-10-11 14:51] ahmdshrif commented on #10352
@aimane-chnaif
but your solution does not remove the bottom padding that's come from 'src/components/Modal/BaseModal.js' on all platforms.
and that's a necessary part. to get the full result.

[2022-10-11 14:57] tjferriss commented on #11693
Posting is on UpWorks....

Internal job posting - https://www.upwork.com/ab/applicants/1579848042371682304/job-details

External job posting - https://www.upwork.com/jobs/~0125c406f21abe54eb

[2022-10-11 14:58] Puneet-here commented on #11427
I think we wanna use push to page here, pressing the resend validation link button should show resend validation form that we already use at our app, this way we can also reuse the same component.

[2022-10-11 14:58] parasharrajat commented on #10359
Thanks, @NicMendonca but the offer terms are wrong, reporting is 250, not 500. I can't change it so you will have to send a new one.

[2022-10-11 15:00] parasharrajat commented on #11095
Reviewing...

[2022-10-11 15:02] michaelhaxhiu commented on #10893
Waiting on Santhosh to review the very detailed proposal above

[2022-10-11 15:02] Santhosh-Sellavel commented on #7968
@mdneyazahmad Please take it to open source, I'm also confused here.

[2022-10-11 15:08] mountiny commented on #10359
Thanks for raising this @parasharrajat

[2022-10-11 15:09] tgolen commented on #11650
Yeah, I like the proposal for applying it to all pickers 👍 🟢

[2022-10-11 15:11] NicMendonca commented on #10359
@parasharrajat updated the offer!

[2022-10-11 15:12] shawnborton commented on #11659
Ah apologies, taking another look now...

[2022-10-11 15:13] Santhosh-Sellavel commented on #10622
Thanks, everyone!
@puneetlath We are good to go with @christianwen here!

[2022-10-11 15:14] shawnborton commented on #11659
I'm actually just going to go ahead and close this - I don't think this is a bug and this small gap is intended so that there is clear space between the hash and the input.

[2022-10-11 15:14] #11659 closed

[2022-10-11 15:14] Santhosh-Sellavel commented on #10442
PR is merged waiting for deployment!

[2022-10-11 15:15] mdneyazahmad commented on #7968
Asked here https://expensify.slack.com/archives/C01GTK53T8Q/p1665500918104869

[2022-10-11 15:15] shawnborton commented on #11543
Let's have an engineer take a look at the technical parts of the proposal - @marcochavezf what do you think?

[2022-10-11 15:17] tomivs commented on #10107
### Reason
Electron doesn't provide an interface for autofill because [according to one of its main developers:](https://github.com/electron/electron/issues/6422#issuecomment-231582374)

Therefore, this feature has to be implemented on our side.

### Proposal
We have two options:
- Implementing our own autofill API (and storing and managing all data and passwords by ourselves) such as Brave did (h

[2022-10-11 15:19] shawnborton commented on #11336
The proposal seems good and thorough but given that it has larger implications, we should really test it out on all flows.

Where else is cardStyle used? Also, that name is so generic it's hard to understand what cardStyle even refers to.

[2022-10-11 15:21] shawnborton commented on #11236
What if we just made each input their own line at full width? That gives us more room for an error message and might look nicer?

[2022-10-11 15:22] tgolen commented on #11403
OK, thanks!

1. Thank you for explaining that. Is there any other work around you can think of which doesn't rely on `relatedTarget`? I just want to be sure that we're exhausting all possible options before choosing this solution.
2. Thanks for moving that!
3. OK, I think I am following that. I guess it's OK to leave it where it's at, but it just doesn't seem totally right to me

[2022-10-11 15:23] tgolen commented on #10273
Ah, that's really good to know. But, why months? I can move forward with mine if that's the case

[2022-10-11 15:28] Puneet-here commented on #11414
This is the [PR](https://github.com/Expensify/App/pull/9622).

[2022-10-11 15:29] trjExpensify commented on #11236
@shawnborton - yeah, in terms of what we're proposing to do with the changes here's the working [Figma file](https://www.figma.com/file/M2YOmcZ5iP9DKqJIT7bMQd/Request-a-Call-NewDot?node-id=502%3A4211), [predesign discussion](https://expensify.slack.com/archives/C07F03W66/p1665423915149159) and a quick mock below:

![image](https://user-images.githubusercontent.com/16232057/195134011-e0115528-3a26-

[2022-10-11 15:29] trjExpensify commented on #11236
Lol, why is that massive! 😅

[2022-10-11 15:33] shawnborton commented on #11236
Ah got it. Yeah, I'm just saying that without turning this into push-to-page, a really simple solution could be to just make the current half-width inputs go full-width. But I definitely prefer push to page if we can :)

[2022-10-11 15:35] shawnborton commented on #10848
Yeah, I think ideally this row component would be documented in some kind of style guide. Not sure how that works with a PR checklist but I do think that we should require a design review on all PRs - I will propose that soon!

[2022-10-11 15:41] thesahindia commented on #11261
@tienifr, I believe we should use padding or margin instead. Also it will be good if you use the original char limit for the character limit error so that we know how it will really look in the real condition.

[2022-10-11 15:47] neil-marcellini commented on #11713
Ok cool. I agree that refactoring would solve this issue. I'm interested in doing the refactor once I clear out some of my higher priority issues, so I guess we'll see who gets started on it first.

[2022-10-11 15:55] kidroca commented on #2545
@michaelhaxhiu

No, I'm just thinking of what might be causing the problem
We can test whether it's virtualization related, by disabling virtualization for the inverted list, though this might have a big performance hit and make it impossible to scroll anyway

Since it happens on iOS as well I lean towards virtualization and/or how we render report action items - rendering an item adjusts the virt

[2022-10-11 15:55] eVoloshchak commented on #11636
@1notchdev, sorry, my bad, I didn't realize this isn't a nested value and we shouldn't use `lodashGet()` here. A simple `name && name.toLowerCase()` is the perfect solution.

Also, as per [CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) please create a new branch (yourNmae_featureName) and then [open a PR](https://docs.github.com/en/pull-requests/col

[2022-10-11 15:56] neil-marcellini commented on #11713
I renamed this issue so that it describes a specific problem related to the search results. I would like to make the [Performance] issue sort of a tracking issue since the refactor should fix this problem and others.

[2022-10-11 16:06] neil-marcellini commented on #10824
Waiting for proposals. Let's look into why "you're only unable to scroll a new PDF if you have opened an existing PDF sent in the chat" as @andrewlor mentioned here https://github.com/Expensify/App/issues/10824#issuecomment-1252886009.

[2022-10-11 16:08] hannojg commented on #11053
Yes, i can give it a shot, although I am heavily focused on mobile, but will def try!

[2022-10-11 16:09] tgolen commented on #11713
OK, great! It's basically just following the same path that I did to
optimize the SectionList in the sidebar. It's a fair amount of work, but if
you get to it before I do and you need some pointers, let me know.

On Tue, Oct 11, 2022 at 9:47 AM Neil Marcellini ***@***.***>
wrote:

[2022-10-11 16:09] eVoloshchak commented on #11554
@nonamebmt94, great job on finding this one. Looks like it's the cause of the crash.

Just to clarify, you're proposing to pass [plaidBankAccounts](https://github.com/Expensify/App/blob/18fcaf43ae69f6a9e445f586b3f90f8d582eff18/src/components/AddPlaidBankAccount.js#L125) to [selectAccount](https://github.com/Expensify/App/blob/18fcaf43ae69f6a9e445f586b3f90f8d582eff18/src/components/AddPlaidBankAcco

[2022-10-11 16:11] neil-marcellini commented on #10947
Sure. I'm not able to reproduce this issue on Web, Chrome/macOS. I will close this and we can re-open if needed.

[2022-10-11 16:11] #10947 closed

[2022-10-11 16:15] trjExpensify commented on #11236
I guess we'll reuse the full widths when we move them to the subsequent page as we implement the deprecate Guides in EW project, so it's not really added work. I still prefer the shorter error messages I think though, FWIW.

[2022-10-11 16:15] parasharrajat commented on #10359
Thanks. Accepted

[2022-10-11 16:16] hannojg commented on #11053
Sorry @rushatgabhane but where is the PR where you started working on it? Would like to continue from there

[2022-10-11 16:18] eVoloshchak commented on #11636
@strepanier03 , applied

[2022-10-11 16:18] shawnborton commented on #11236
Totally, super down to shorten the error messages as well!

[2022-10-11 16:21] shawnborton commented on #11414
I like the idea of moving this button down to the bottom of the screen.

For the error message, is the error in relation to submitting the form overall, or related to the bank account row that is listed?

[2022-10-11 16:23] Julesssss commented on #10273
Purely because I'm leading two high-priority roadmap-blocking projects at the moment: [WhatsApp Quality] Notifications Rework and then [N7: Free Plan] Manual Requests (in addition to finishing up the Manual Requests API Refactors).

[2022-10-11 16:24] neil-marcellini commented on #11236
@Tushu17 would you like to submit a new proposal to create full-width inputs with this error message when the inputs were not provided `Please provide your first name`?

[2022-10-11 16:26] tgolen commented on #11685
I'm going to pick this up this morning and start drafting a PR

Conclusion from [slack thread](https://expensify.slack.com/archives/C07J32337/p1665416806084149):

## Archived Chats
### Access

- policyAdmins retain access to defaultRooms, userCreatedRooms & policyExpenseChats
- all chat participants retain access to policyExpenseChats
- If you have access to a chat, you should be able to search fo

[2022-10-11 16:27] aldo-expensify commented on #11414
Moving the button to the bottom is a good idea IMO, I think we can try to be consistent on that. The only thing I don't like much about it is how that error pushes the button up...

[2022-10-11 16:29] luacmartins commented on #11126
@adelekennedy no caps. Let's keep doubling until we get it fixed!

[2022-10-11 16:31] marcaaron commented on #11686
Sorry I was OOO yesterday but can look into this today. Looks like this was assigned on a Saturday.

[2022-10-11 16:36] grgia commented on #11675
Summarizing slack thread here:
The highlighting was intentional for arrow navigation, but we agree that the first user shouldn't be highlighted by default.
The solution is to only highlight rows once the user has pressed arrow down/triggered arrow navigation.

[2022-10-11 16:38] eVoloshchak commented on #11554
Not sure I fully understand what you mean.
Could you please attach code snippets/diffs? Or just a link to a branch

[2022-10-11 16:39] luacmartins commented on #11011
Gonna move this to a weekly while we wait for proposals.

[2022-10-11 16:39] shawnborton commented on #11414
Well that's why I am trying to understand if the error is attached to submitting the form or the specific bank row. I believe we put overall form errors right above the bottom submit button. But other errors are docked right below the piece of UI that has an error.

[2022-10-11 16:42] michaelhaxhiu commented on #11675
PS in the future, let's be sure the title & body of the GH summarizes the expected/desired behavior cc @zanyrenney

[2022-10-11 16:42] AndrewGable commented on #11391
Ok two weeks of not being able to reproduce means I think we should close, reopen if you disagree!

[2022-10-11 16:48] Puneet-here commented on #11414
I can only say that it won't be related to the payment method that we will be listing above (paypal, bank accounts) because we are wrapping them individually so error for specific payment method will be shown below them. This error that we are checking for this button is from `userWallet`. I am not sure what type of errors we get `userWallet` object.

[2022-10-11 16:49] neil-marcellini opened #11722 "[$250] BUG: Pay button is not visible above the keyboard on the IOU confirmation page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Sign in with any account
2. If needed, start a chat with someone other than concierge by clicking the green plus, New chat, t

[2022-10-11 16:58] luacmartins commented on #10267
This issue was fixed [here](https://github.com/Expensify/App/pull/11039). Closing.

[2022-10-11 16:58] #10267 closed

[2022-10-11 17:13] neil-marcellini commented on #8719
I'm making this weekly so I remember to test again and close the issue once the fix hits prod.

[2022-10-11 17:18] Santhosh-Sellavel commented on #9818
Thread [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1665507074391469)

[2022-10-11 17:18] tgolen commented on #11686
@marcaaron I think my PR is going to fix this too. I'd like to group them together, so I will grab this from you.

[2022-10-11 17:19] NicMendonca commented on #10359
paid!

[2022-10-11 17:33] Tushu17 commented on #11236
Yes @neil-marcellini, & here is my updated proposal :-

https://github.com/Expensify/App/blob/a1e02ebbd0bf249872eddacca2bc4c354747682d/src/pages/RequestCallPage.js#L276-L296

[code]

 Result :-

<img width="449" alt="Screenshot 2022-10-11 at 10 49 03 PM" src="https://user-images.githubusercontent.com/89839952/195158994-91f02712-a350-41b7-8af9-0fe979f867cc.png">

[2022-10-11 17:36] luacmartins commented on #10216
Changes to Onyx.merge were merged and released on v1.0.19, but App is still on v.1.017. I put up a [PR](https://github.com/Expensify/App/pull/11723) to update onyx in App. We should try to reproduce this issue again once App is updated.

[2022-10-11 17:43] michaelhaxhiu commented on #11693
Couple of notes:
- No need to include the internal job posting next time! We just need to share the external job 👍
- I just discovered the "How do I create an Upwork job?" [stack overflow post](https://stackoverflow.com/c/expensify/questions/7462) needed a small tweak, and made that tweak in step #7:

- This looks good otherwise!

[2022-10-11 17:47] marcaaron commented on #11426
Coming from this [Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1665169423327639) seems like we are good with having the slight white screen for now so I'll take the linked PR out of draft soon.

[2022-10-11 17:53] puneetlath commented on #11300
Ah, right you are.

Internal upwork job: https://www.upwork.com/ab/applicants/1579892682555052032/job-details
External upwork job: https://www.upwork.com/jobs/~01d614951b96cdb960

@Ollyws @sobitneupane @eVoloshchak can you all apply there? Thanks!

[2022-10-11 17:58] nonamebmt94 commented on #11554
![Screen Shot 2022-10-12 at 00 55 34](https://user-images.githubusercontent.com/55088893/195164783-3cff41a6-32bc-4dd3-914e-63663b5789da.png)
![Screen Shot 2022-10-12 at 00 55 53](https://user-images.githubusercontent.com/55088893/195164843-9a78cce6-c4bc-41b6-bc6d-81c6e144807b.png)
@eVoloshchak , I have a problem with pushing the code to the repo. Can you preview these attached?

[2022-10-11 18:01] shawnborton commented on #11414
Got it, so then if the error is related to the overall form submission, I think the error message goes above the bottom-docked green button. We should also update to use the new dot-indicator error message style.

[2022-10-11 18:07] roryabraham opened #11724 "Speed up webpack builds"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem
Webpack builds are slow.

### Why this is important
It take up developer time. Saving each of us 5-10 minutes per day will pay dividends i

[2022-10-11 18:14] AndrewGable commented on #11421
Closing until I hear more!

[2022-10-11 18:14] #11421 closed

[2022-10-11 18:16] AndrewGable commented on #10550
Going to close as this will be fixed by sequence numbers. Reopen if you disagree.

[2022-10-11 18:23] tgolen commented on #11685
I'm making good progress on this. I have test cases which cover all the above logic. After lunch I will continue work on:
- cleaning up logic inside of `isArchived()` to remove this:

[code]

I need to go through all our code to ensure that it's not going to cause things to break

[2022-10-11 18:38] kidroca commented on #11724
I would like to work on this task as a hourly item and explore the following

- enable FS cache
- configure bundle splitting
- anything else that might boost build speed

If you want to I can test swapping Webpack for Vite for the web project and post a build times

[2022-10-11 18:38] joekaufmanexpensify commented on #11366
Okay confirmed that next steps here are:

1. Create the job in UW.
2. Hire the contributor (who reported).
3. Pay the contributor/close the job.

Working on that now!

[2022-10-11 18:40] stephanieelliott commented on #11495
2x'd on Upwork: https://www.upwork.com/jobs/~01587d19701b97cba2

[2022-10-11 18:43] Luke9389 commented on #11204
Hey folks, [it looks like we're on electron `18.3.15` already](https://github.com/Expensify/App/blob/d99d7c81ca9b02edf6c0151a311f881f4eea9633/package.json#L156)

[2022-10-11 18:43] marcochavezf commented on #11543
Yeah, I also agree with what @mananjadhav commented [here](https://github.com/Expensify/App/issues/11543#issuecomment-1269580881). The pill shouldn't belong to the DisplayName component and we can tweak the design details in the PR. Assigning @bernhardoj 🚀

[2022-10-11 18:46] joekaufmanexpensify commented on #11366
[Posted](https://www.upwork.com/jobs/~013acf320257f79f73) in upwork!

[2022-10-11 18:48] adeel0202 commented on #11366
Thanks @joekaufmanexpensify. I have applied.

[2022-10-11 18:51] stephanieelliott commented on #11513
Posted to Upwork: https://www.upwork.com/jobs/~01fd379e92cd167377

[2022-10-11 18:51] Puneet-here commented on #11414
I think we should confirm first.
@nkuoch, sorry for the ping but can you tell us about the error that we are passing here, since you made this change at https://github.com/Expensify/App/pull/11162
https://github.com/Expensify/App/blob/7b21103bb56eb0cf3fc1561715613d2a16c3255f/src/pages/settings/Payments/PaymentsPage/BasePaymentsPage.js#L311

We are moving the "add payment method" button to the bott

[2022-10-11 18:53] nonamebmt94 commented on #11529
hi @thesahindia, It is very difficult to figure out "why the account number is coming as undefined" because from my view the list of bank accounts is coming from the server. Can you provide me with a test account that already has a bank account number so I can check it for you?

[2022-10-11 18:57] aldo-expensify commented on #11320
![image](https://user-images.githubusercontent.com/87341702/195171307-dc5369e1-22a9-4498-abaf-92d497a648a7.png)
Thanks @JmillsExpensify !, it even looks broken in web (staging) for me

This can be reproduced by:

1. Open the html file in the browser
2. Select all and copy
3. Paste it in an email body and send the email to `replies+<report_id>@expensify.com`. The `<report_id>` can be obtained from

[2022-10-11 18:57] joekaufmanexpensify commented on #11366
Sounds good. I just hired you, LMK when you've accepted!

[2022-10-11 18:58] roryabraham commented on #11724
All that sounds great, though I'm a little hesitant about bundle splitting and think that we would want to have a wider conversation about the pros and cons of that.

[2022-10-11 18:58] marcochavezf commented on #11336
Yeah, the proposal also looks promising to me, and I agree that the solution should be tested on all `AuthScreens` (I wonder why `height: 100%` was set manually before).

[2022-10-11 18:59] adeel0202 commented on #11366
Accepted.

[2022-10-11 19:03] aldo-expensify commented on #11320
I checked if the HTML that causes the problem had syntax errors, but I didn't see any.

[2022-10-11 19:05] pecanoro commented on #9818
Hello everyone! It seems we actually have a not-found page that was created [here](https://github.com/Expensify/App/pull/9649). As a solution, we should mimic the same thing when we try to open any invalid URLs.

[2022-10-11 19:06] chiragsalian commented on #9971
Ah yes we are in a position to work on this now. Removing HOLD and setting to weekly.

[2022-10-11 19:10] youssef-lr commented on #11189
Yes @kevinksullivan! Will get to it ASAP.

[2022-10-11 19:15] chiragsalian commented on #10996
The code for this went live a while back. @mallenexpensify, will you be able to compensate the reporter and then close out the issue?

[2022-10-11 19:20] chiragsalian commented on #11542
Not really a daily so demoting for now. But its on my plate.

[2022-10-11 19:34] eVoloshchak commented on #11636
I agree with you

`const policyName = lodashGet(policy, 'name', ''); `

This way we can delete the comment above it, since it's self-explanatory

[2022-10-11 19:39] marcaaron commented on #11671
@Justicea83 why did we unassign @CortneyOfstad?
@sobitneupane why did we add the `Help Wanted` label?

Did I miss a process change? Seems like we need to wait for the Upwork job before the Help Wanted label gets added (which should happen automatically when the `Exported` label is added).

[2022-10-11 19:44] joekaufmanexpensify commented on #11366
Payment sent!

[2022-10-11 19:44] marcaaron commented on #11589
I have been experimenting as well. What I am seeing is that if we use `<Freeze />` on some elements then they will appear with a white space when `freeze={true}`. That doesn't work so great with the drawer navigator since the expected behavior is that if you are swiping back or forward on the drawer that you'd be able to see some preview of the content while transitioning.

That said, it might be

[2022-10-11 19:45] joekaufmanexpensify commented on #11366
Contract ended, posting removed

[2022-10-11 19:45] joekaufmanexpensify commented on #11366
closing as this is all set!

[2022-10-11 19:45] #11366 closed

[2022-10-11 19:49] strepanier03 commented on #11636
Offer sent to @eVoloshchak in Upwork, hired as C+.

[2022-10-11 19:52] parasharrajat commented on #4733
Thanks for the proposal. We review this by noon.

[2022-10-11 19:57] tgolen commented on #11685
I've got the PR finished. I'm just writing up the PR and getting screenshots

[2022-10-11 19:58] CortneyOfstad commented on #11671
Sounds good — just about to head out for the day, but will tackle this ASAP in the morning to get the Upwork job created 👍

[2022-10-11 20:00] johnmlee101 commented on #11669
Closing this out

[2022-10-11 20:00] #11669 closed

[2022-10-11 20:11] Justicea83 commented on #11671
That must be a Github bug, I remember only unassigning myself 😁

[2022-10-11 20:21] grgia commented on #11311
I'm on staging v1.2.12-3 and so far I am not able to reproduce

[2022-10-11 20:29] tgolen commented on #11685
OK, the tests are written and the PR is under review.

[2022-10-11 20:31] srikarparsi commented on #11629
bump @kavimuru

[2022-10-11 20:32] thesahindia commented on #11352
I like @aimane-chnaif's [proposal](https://github.com/Expensify/App/issues/11352#issuecomment-1271725848) as it's the most simple solution and works correctly.

C+ reviewed 🎀👀🎀

cc: @AndrewGable

[2022-10-11 20:40] thesahindia commented on #11710
@Puneet-here's [proposal](https://github.com/Expensify/App/issues/11710#issuecomment-1273795251) looks good to me but looks like we have on concern.

@luacmartins, please share your thoughts on this.

C+ reviewed 🎀👀🎀

[2022-10-11 20:48] joekaufmanexpensify commented on #11654
Still discussing in Slack thread.

[2022-10-11 20:49] NicMendonca commented on #11507
Not overdue, latest PR update [here ](https://github.com/Expensify/App/pull/11587#issuecomment-1271360562)

[2022-10-11 20:52] joekaufmanexpensify commented on #11654
Discussed with @rushatgabhane [in Slack](https://expensify.slack.com/archives/C02NK2DQWUX/p1665434664215229) to understand a bit more about how the above linked PR fixed this bug.

Since this bug is being fixed by a PR that's already merged, we're all set to close here. Payment will be handled in the original issue that led to the above linked PR.

[2022-10-11 20:52] #11654 closed

[2022-10-11 20:52] kavimuru opened #11726 "Bug: [New Expensify] Unread message shows as bold in the LHN but green line does not appear reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Send a message when receiver is not logged in
 2.  log into the receiver account
 4.  Check the message

## Expected Result:

[2022-10-11 20:56] kavimuru opened #11727 "BUG: Text inside menu list is highlighted when FAB action button is quickly clicked @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Goto https://staging.new.expensify.com/
2. Click on FAB action button to open
3. Now quickly click two times. It will close t

[2022-10-11 21:03] kavimuru opened #11728 "[HOLD for payment 2022-11-04] [$250] Bug: No focus indicator at edit composer reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat > Send a message
2. Edit

## Expected Result:
There should be a focus indicator (blue border) like our all oth

[2022-10-11 21:10] Uros787 commented on #11352
hi @thesahindia , dont want to interfere with the judgment but speaking from user experience and not only as a contributor - I don't believe that allowing users to type as many numbers, and then reverting to 8 chars is the most desirable behavior.
This could be misleading, that is why I went with the solution of adding a dot since users can straight away see how the input should look like

[2022-10-11 21:12] jliexpensify commented on #10947
Upworks job removed. Cheers Neil!

[2022-10-11 21:13] mountiny commented on #11392
This is now in staging

[2022-10-11 21:19] jliexpensify commented on #11727
Tested on 1.2.12-3 (staging), can reproduce.

[2022-10-11 21:20] michaelhaxhiu commented on #11639
@rushatgabhane can you apply for this job please?

https://www.upwork.com/jobs/~018cdb14f789fc2d96

[2022-10-11 21:22] kavimuru opened #11729 "Bug: No focus after click "fix the errors" link on form submit error message reported by @aimane-chnaif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create new workspace
2. Go to Settings -> new workspace -> Connect bank account
3. Leave "Routing number" empty
4. Enter "123

[2022-10-11 21:22] mallenexpensify commented on #11547
Job Posted, @sobitneupane and @adeel0202 , please apply
https://www.upwork.com/jobs/~01d020bdebc25b53b6

@sobitneupane , can you please review @aimane-chnaif 's proposal above? Thx

[2022-10-11 21:26] Puneet-here commented on #11728
### Proposal

We need to add a state "isFocused" we will set it to true at `onFocus` and false at `onBlur` prop of Composer
https://github.com/Expensify/App/blob/757fb5e43398b3476ed75889fd689e2bdf043777/src/pages/home/report/ReportActionItemMessageEdit.js#L203-L212
we need to use isFocused like below to change border color
```this.state.isFocused ? styles.chatItemComposeBoxFocusedColor : styles.ch

[2022-10-11 21:38] kavimuru opened #11730 "[$250] Bug: "Hmm... it's not here" view is showing up with back and dismiss button while the page already has those buttons reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login at new dot and create a workspace
2. Open new tab > Go to old dot > log in > delete newly created workspace
3. Go back

[2022-10-11 21:40] michaelhaxhiu commented on #11639
have to accept again bc Upwork is a silly goose

[2022-10-11 21:48] Luke9389 commented on #10888
@mananjadhav it looks like there are a few solutions in the comment you linked to. Which one are you endorsing?

[2022-10-11 21:52] michaelhaxhiu commented on #11639
LMK when you do that final step here.

[2022-10-11 21:57] johnmlee101 commented on #11246
Unassigning in the meantime since I don't believe this is happening anymore

[2022-10-11 21:59] kavimuru opened #11731 "Bug: mWeb - New group - entire input is selected and keyboard closes reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login to New Expensify
2. Click green (+)
3. New group
4. Search for a user and select the user.
5. Search for another user (

[2022-10-11 22:01] mallenexpensify commented on #10483
@rushatgabhane , per the [CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#:~:text=If%20it%27s%20a%20valid%20job%20proposal%20that%20we%20choose%20to%20implement%20by%20deploying%20it%20to%20production%20%E2%80%94%20either%20internally%20or%20via%20an%20external%20contributor%20%E2%80%94%20then%20we%20will%20compensate%20you%20%24250%20for%20identifyin

[2022-10-11 22:03] Luke9389 commented on #11283
Commenting here to clear the Overdue label. Looks like we're still discussing.

[2022-10-11 22:04] Luke9389 commented on #8236
Looks like we're still waiting on a proposal that hits the mark here.

[2022-10-11 22:04] mallenexpensify commented on #10550
I think we should leave all relevant issues open for larger projects so that, once the fix is implemented, we can test all variations to ensure the bug is fixed.  Is there a reason we wouldn't do this?  Since it's on hold, you can bump it to `Monthly` to minimize pings

[2022-10-11 22:11] kavimuru opened #11732 "[$250] [Polish] Log in - Leave the login input when the user hits `back` from the password page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Enter email or phone
3. Hit continue
4. Hit back

## Expected Result:
When incorrect login is provided and the use

[2022-10-11 22:13] mallenexpensify commented on #10996
@LucioChavezFuentes please accept the job and confirm in a comment here once you have. https://www.upwork.com/jobs/~01dc47b2a6551f4d1b
Can you also include your GH handle in your Slack profile so that QA can add it to any issues you report? Thx

[2022-10-11 22:25] kavimuru opened #11733 "[HOLD][$250] Dev - Getting console warning in android"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. build the app
2. immediately see the errors

## Expected Result:
No console warnings displayed

## Actual Result:
 Console wa

[2022-10-11 22:29] #11686 closed

[2022-10-11 22:35] kavimuru opened #11735 "[$1000] Bug: Triple clicking a DM that contains text and URL, the URL isn’t highlighted"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Go to a chat which has text and an URL
3. Triple click on the message

## Expected Result:
URL also should get hig

[2022-10-11 22:38] OSBotify commented on #11623
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11725) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.12-4` :rocket:

[2022-10-11 22:42] kavimuru opened #11737 "[HOLD for payment 2022-11-09] [$250] Bug: old message not loading while switching from offline to online reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. go any chat which has lots of messages
2.  go to offline
3.  go back to online try to load old messages

## Expected Result:

[2022-10-11 22:50] AndrewGable commented on #11623
:shipit:

[2022-10-11 22:50] #11623 closed

[2022-10-11 22:54] OSBotify opened #11741 "Deploy Checklist: New Expensify 2022-10-11"
**Release Version:** `1.2.13-5`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/9143
- [x] https://github.com/Expensify/App/pull/10617
- [x] https://github.com/Expensify/App/pull/11039
- [x] https://github.com/Expensify/App/pull/11076
- [x] https://git

[2022-10-11 22:54] deetergp commented on #10885
Still holding. Should we add `[HOLD]` to the title?

[2022-10-11 23:05] kavimuru commented on #11629
@srikarparsi Sorry I missed this some how. This was found from this PR #11557. Attached is the expected outcome.
![Uploading 193742513-1292b75e-3cbb-4536-9138-e813b3a75461.png…]()

[2022-10-11 23:12] kavimuru commented on #11488
@mnosov622  I have assigned now. @gadhiyamanan I didn't assign as it needed a reproduction.

[2022-10-11 23:12] mnosov622 commented on #11488
Hi !

Thank you.

[2022-10-11 23:13] kavimuru commented on #11488
@mnosov622 Needs a reproduction. I couldn't reproduce.

[2022-10-11 23:16] mnosov622 commented on #11488
Oh, okay

[2022-10-11 23:19] roryabraham commented on #10058
Looks like the crash hasn't happened for a while. Might have resolved itself?

[2022-10-11 23:23] conorpendergrast commented on #11584
Job posting: https://www.upwork.com/ab/applicants/1579975844227059712/job-details

[2022-10-11 23:25] conorpendergrast commented on #11584
@eVoloshchak Hey! Ready for your review on the proposal ^^^

[2022-10-11 23:40] MitchExpensify commented on #11202
What are we doing with this issue? Is it being handled internally or are we waiting on something before making external?

[2022-10-11 23:49] OSBotify commented on #11623
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.12-4 has been deployed to staging :tada:

[2022-10-12 00:27] mallenexpensify commented on #11194
We've recently started compensating for reporting console errors if they get fixed.  I think we should make it a best practice for QA to always (when possible) include logs when they create issues (ideally both from the contributor if they're submitted as well as from when QA reproduces).

 For this issue specifically, it appears that QA reported https://github.com/Expensify/App/issues/10753 an ho

[2022-10-12 00:30] mallenexpensify commented on #11274
@mvtglobally are you able to reproduce?

[2022-10-12 00:34] mallenexpensify commented on #11132
@mvtglobally are you able to reproduce?

[2022-10-12 00:42] tjferriss commented on #11729
I was able to replicate the error. This looks ready for engineering. The only item I'm confused on is what the expected result would actually look like. I asked for a clarification in the Slack [thread.](https://expensify.slack.com/archives/C01GTK53T8Q/p1665535130006169?thread_ts=1665507784.776589&cid=C01GTK53T8Q). I'm guessing we would show something to draw attention back to the routing number.

[2022-10-12 00:49] luacmartins commented on #11710
@Puneet-here what login did you use to get those errors? I could try to look at our server logs.

[2022-10-12 01:08] arielgreen commented on #9818
@NicMendonca FYI this was reporting by @parasharrajat (https://github.com/Expensify/App/issues/11124) so can we be sure to pay him the reporting bonus when it's fixed?

[2022-10-12 01:08] arielgreen commented on #11124
@parasharrajat I think that's fair. I let @NicMendonca know in the other issue.

[2022-10-12 01:09] arielgreen commented on #11124
Closed job on Upwork.

[2022-10-12 02:22] tienifr commented on #11261
# Updated Proposal

In https://github.com/Expensify/App/blob/7d1e65fe22a4f59c93d6aeaa1615468c61ed2983/src/components/ExceededCommentLength.js#L18
Just add marginLeft property

[code]

![z3792881252795_96557f66752a7dfc0f43e6aee6927a28](https://user-images.githubusercontent.com/113963320/195233787-118bc791-d50a-4ea3-ae3e-24ebae6fbe6b.jpg)

Please view the changed code in this sample PR: https://gith

[2022-10-12 02:34] bernhardoj commented on #11543
I have applied the Upwork's job. I will open the PR ASAP, in today or tomorrow.

[2022-10-12 03:01] Puneet-here commented on #11730
### Proposal
We need to remove FullPageNotFoundView from this component
https://github.com/Expensify/App/blob/4ff239ef81b0b06b94f00efd4026881de1465055/src/pages/workspace/reimburse/WorkspaceReimburseView.js#L192
instead use it here to wrap https://github.com/Expensify/App/blob/d99d7c81ca9b02edf6c0151a311f881f4eea9633/src/pages/workspace/WorkspacePageWithSections.js#L97

[2022-10-12 03:02] Puneet-here commented on #11710
I was using puneet.here121+1@gmail.com

[2022-10-12 03:22] JmillsExpensify commented on #11320
We're open for proposals. Please apply to the [Upwork job](https://www.upwork.com/jobs/~01521563b8fd74ea23) and note that I've increased the starting price to $500 given that this is tied to a roadmap priority.

[2022-10-12 03:23] gadhiyamanan commented on #11274
Please try to delete old messages, with latest messages it's working fine

[2022-10-12 03:30] JmillsExpensify commented on #10273
Given that Manual Request is on hold with the exception of the API Refactors, and then related, this PR helps unblock a significant priority within WhatsApp Quality, why not prioritize this PR now? My concern with holding on this for months is that we have a ton of keyboard-related issues that you can help unblock. Yes, notifications are valuable too but I'd rather see us prioritize unblocking thi

[2022-10-12 03:49] hungvu193 commented on #11733
Actually, change the default proptypes can effects other screen.
For this case I think we should change:
https://github.com/Expensify/App/blob/299f07bfa29c0dd81a6126691aae29e161097baa/src/pages/home/ReportScreen.js#L210
into:
[code]

[2022-10-12 04:11] hungvu193 commented on #11732
<b>Proposal</b>
This because after press Continue, our code clear the input text in here:
https://github.com/Expensify/App/blob/299f07bfa29c0dd81a6126691aae29e161097baa/src/pages/signin/LoginForm.js#L92

Solution:

[code]
Here is the result:
https://user-images.githubusercontent.com/16502320/195248049-0d843642-5bbd-4bfa-b686-af92acd985c8.mov

[2022-10-12 04:58] 1notchdev commented on #11636
@strepanier03 , @eVoloshchak , @puneetlath , PR #11748 is created. Please check

[2022-10-12 05:17] hungvu193 opened #11749 "Require circle warning"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app
2. Immediately see the warning

## Expected Result:
No require circle warning to show

## Actual Result:
There's

[2022-10-12 05:17] #11749 closed

[2022-10-12 05:21] yuwenmemon commented on #11536
Ah, this seems similar to the drawer closing thing that @marcaaron and @luacmartins were talking about [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664404003728569)

[2022-10-12 05:24] azimgd commented on #10107
# Proposal
To save the credentials, I propose to utilize Electron's `safeStorage` module to save the password or payment information.  This module protects data stored on disk from being accessed by other applications or users with full disk access. Note that on Mac, access to the system Keychain is required (the same applies for Linux and Windows).

Create UI components for [save password] and [a

[2022-10-12 05:26] MandarDevarshi commented on #11695
## Proposal

While comparing with other pages I feel there was just `<Scrollview>` missing around child components in the `BasePaymentsPage`. Please check.

![Screenshot from 2022-10-12 10-36-29](https://user-images.githubusercontent.com/34445750/195254917-36012f7c-d4f0-4790-bd36-541a4d7825e6.png)
![Screenshot from 2022-10-12 10-36-37](https://user-images.githubusercontent.com/34445750/195254905-2

[2022-10-12 05:33] yuwenmemon commented on #11536
And then later identified by @chiragsalian [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1665074857897569) as well

[2022-10-12 05:37] yuwenmemon commented on #11536
@chiragsalian based on the above am I correct in thinking that this issue is to be handled as a part of the Comment Linking solution?

[2022-10-12 06:08] tsa321 commented on #7968
How about fixing tab navigation when delete modal appear.
When delete modal appears, focus/ blue border must appear on one of the `delete` or `cancel` button.
Pressing tabs multiple times will switch blue focus border only on `delete` and `cancel` button.

[2022-10-12 06:26] Christinadobrzyn commented on #11735
- I can also recreate this on the desktop app
- I don't see any other GHs about this issue so sending it to eng!

[2022-10-12 06:35] syedsaroshfarrukhdot commented on #11423
**Proposal**

The issue on android is due to transitions so we should wait for transitions to complete before focusing the input so we could to pass autoFocus and shouldDelayFocus props to TextInput and it fixes the of keyboard opening issue on android and ios.

<img width="779" alt="Screen Shot 2022-10-12 at 11 25 26 AM" src="https://user-images.githubusercontent.com/81307212/195267126-94541f22-0

[2022-10-12 06:50] christianwen commented on #10622
Thanks @puneetlath, I applied for the job, here's my Upwork profile https://www.upwork.com/freelancers/~01991fd5e5c11ef3ba
The PR will be ready by Oct 13

[2022-10-12 06:57] ctkochan22 commented on #10905
On hold

[2022-10-12 07:05] MonilBhavsar commented on #10906
Still on hold

[2022-10-12 08:13] OSBotify commented on #11741
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.13-2 :rocket:

[2022-10-12 08:28] tienifr commented on #11427
Thanks for the reiview @Puneet-here @shawnborton @rushatgabhane. I have some update to code change in proposal please check

## Updated Proposal

### Solution

Cause this problem occur in web only, ( in mobile when we click eye icon the text input not be out focus ) so that I will fix logic of onBlur function in `NewPasswordForm.js`, will check if we click outside the component wrapping the input

[2022-10-12 08:45] dylanexpensify commented on #9848
Any updates here @luacmartins @rushatgabhane

[2022-10-12 08:52] gadhiyamanan commented on #11207
@marcaaron is it fixed? I am not able to reproduce it.

[2022-10-12 08:59] gohar95 commented on #11415
Yes I am interested.

On Mon, Oct 10, 2022, 4:42 PM Michael H. ***@***.***> wrote:

[2022-10-12 09:01] gohar95 commented on #11415
How can i send a proposal to you ?

[2022-10-12 09:12] MandarDevarshi commented on #11690
# Proposal

The solution provided above by Puneet does not work as sorting needs to happen before mapping although no doubt of it being the correct way.

---
## Fix

By placing `.sortBy(policy => policy.name)`  `after .filter()` solves the issue and it also works if placed `before .filter()` but I am assuming it is better to sort after filter rather than before.

### Before
### After

[My Upwork P

[2022-10-12 09:54] bfitzexpensify commented on #11690
Upwork job [here](https://www.upwork.com/jobs/~01ce11196cd6582d73)

Reporting job [here](https://www.upwork.com/jobs/~013c75f236a5ea0152) @Puneet-here

[2022-10-12 10:00] Julesssss commented on #11411
Merged, awaiting deployment to staging.

[2022-10-12 10:28] Beamanator commented on #11118
Still on hold

[2022-10-12 10:28] Beamanator commented on #10830
Still on hold

[2022-10-12 10:29] Beamanator commented on #10670
Still on hold

[2022-10-12 10:40] Julesssss commented on #11675
I'm not sure I agree. I would have thought 'Enter' would do nothing until a down arrow is used to select an item. Curious if you agree @grgia @zanyrenney

[2022-10-12 10:44] youssef-lr commented on #11334
This issue can still happen in small android screens. Adding external label to this one. @varshamb feel free to apply to the job once it's available.

[2022-10-12 10:49] Julesssss commented on #10273
That's fair. I also think we should continue to prioritize this 'Create our own KeyboardAvoidingView' issue -- without holding for my native fix PR.

While I was originally confident in my native fix, with the latest PR review I think I was mistaken in believing it fully resolved the original issue. 😞 I would be more than happy to hand it off to someone else, but I worry it is a potential dead end

[2022-10-12 11:14] Uros787 commented on #10283
### Proposal
RCA:
@neil-marcellini
First i would like to answer your questions, which actually helped on making this solution.
1. Is the height of the IOUPreview component increasing when the report switches from loading to not loading?
That is correct, its pretty much the main reason why we even have this bug. I have verified that height is changing
2. Why does the IOU preview need to load at all

[2022-10-12 11:18] isabelastisser commented on #11688
I was OOO for the past 3 weeks and catching up now, will review this soon.

[2022-10-12 11:20] isabelastisser commented on #11494
I was OOO for the past 3 weeks and catching up now, will review this soon.

[2022-10-12 11:21] flaviadefaria commented on #11010
I'm not sure if this is related to this change but I just QA'd a chat that looked like this:

![image](https://user-images.githubusercontent.com/80457174/195329618-aa867386-2af6-4b1d-9075-ef30385364f3.png)

I don't think we want to be sending the same message to the customer three times, but not sure what might have caused that to happen.

[2022-10-12 11:23] zanyrenney commented on #11737
I actually can't even scroll at all - regardless of being offline > online again when I test this in my own account on STG.
![2022-10-12_12-18-48 (1)](https://user-images.githubusercontent.com/56830058/195329697-51d5b6dd-2c24-4792-9abe-17f1f8cb7e8b.gif)

But I can still scroll when I test this on PROD:
![2022-10-12_12-21-07 (1)](https://user-images.githubusercontent.com/56830058/195330083-c763b2d3

[2022-10-12 11:24] trjExpensify commented on #11010
@flaviadefaria, did you look to see if they created a bunch of policies?

[2022-10-12 11:25] sobitneupane commented on #11314
Asked help from C+ team in [slack](https://expensify.slack.com/archives/C02NK2DQWUX/p1665573748076749?thread_ts=1665137901.904149&cid=C02NK2DQWUX) as I cannot reproduce this issue on simulator.

[2022-10-12 11:28] sketchydroide commented on #11202
I'm currently trying to figure one out that is similar, was trying to replicate it on Friday locally and wasn't able, I'm going to try this again today and try to use staging API instead of the Dev machine (still a local build though)

Hopefully I will have a better answer soon

[2022-10-12 11:29] eVoloshchak commented on #11314
I can reproduce this on a physical device.
It's present only in Chrome on iOS, while Chrome on Android and Safari on iOS work fine

https://user-images.githubusercontent.com/9059945/195331406-fb26ecac-6a91-49a5-b659-aab7481ea227.MP4

[2022-10-12 11:32] sobitneupane commented on #11314
@eVoloshchak If you have availability, will you like to take C+ role for this issue?

[2022-10-12 11:33] eVoloshchak commented on #11314
Sure

[2022-10-12 11:35] sobitneupane commented on #11314
Unassigning. @eVoloshchak will be taking C+ role.

cc: @NicMendonca @Gonals

[2022-10-12 11:36] eVoloshchak commented on #11314
We should probably edit the description, it should say that it's present only in Chrome on iOS

[2022-10-12 11:37] parasharrajat commented on #10058
Yeah, but 106 is a big number. Let's close this one and wait for reopening.

[2022-10-12 11:42] DaiTo141 commented on #11632
# Proposal

## Problem

- Currently, in offline mode when user edits profile and clicks save button, this action will add in `networkRequestQueue`, and will be called back if back online.
- When app reconnects, `api?command=ReconnectApp` will be called to refresh data and `api?command=UpdateProfile` to update new user profile asynchronous. So user data has not been updated in time on BE, `api?comm

[2022-10-12 11:46] trjExpensify commented on #10516
👋 Happy to take care of this while Lauren is out.

Can we confirm these are the correct payments?

$500 - @aimane-chnaif for the fix
$500 - @mananjadhav for C+
$250 - @Karim-30 for reporting the issue

[2022-10-12 11:51] mananjadhav commented on #10516
That is correct @trjExpensify

[2022-10-12 11:56] tienifr commented on #11632
# Proposal

## Problem

- Currently, in offline mode when user edits profile and clicks save button, this action will add in `networkRequestQueue`, and will be called back if back online.
- When app reconnects, `api?command=ReconnectApp` will be called to refresh data and `api?command=UpdateProfile` to update new user profile asynchronous. So user data has not been updated in time on BE, `api?comm

[2022-10-12 11:57] CortneyOfstad commented on #11671
Posted job here — https://www.upwork.com/ab/applicants/1580165477000413184/job-details

[2022-10-12 12:05] dylanexpensify commented on #9579
payments sent, contracts ended, job closed!

[2022-10-12 12:05] #9579 closed

[2022-10-12 12:05] sobitneupane commented on #11671
@marcaaron

Here is the [slack discussion](https://expensify.slack.com/archives/C02NK2DQWUX/p1663690490772079?thread_ts=1663665823.165569&cid=C02NK2DQWUX) regarding the process update.

[2022-10-12 12:16] mountiny commented on #11010
This message is sent when we [assign a guide](https://github.com/Expensify/Web-Expensify/blob/50c90ae1486f1b6fcf08623642610d6ba12167c6/lib/Policy/Utils.php#L715), they will keep being assigned and this message being sent until they will be paying customer. That is when policy is created

[2022-10-12 12:25] oogushikun commented on #10608
Hi @stephanieelliott Is it possible to get a reevaluation of the budget for this task? Taking into consideration the effort put into debugging the issue and also the effects of the bug being more than what was reported, i.e., transitons weren't working correctly on all platforms, not just on Safari.

[2022-10-12 12:33] Puneet-here commented on #11690
It's working correctly. @MandarDevarshi, what do you mean by it doesn't work?

[2022-10-12 12:34] Santhosh-Sellavel commented on #7968
@tsa321 Can you are elaborate your proposal, unable to grasp your input.

[2022-10-12 12:36] Santhosh-Sellavel commented on #9848
@dylanexpensify We are still looking for steps to reproduce & proposals

[2022-10-12 12:57] MandarDevarshi commented on #11690
For me on `Web version 1.2.12-3`.

When sortBy is in `line 203` i.e after map. The following is the result.

https://user-images.githubusercontent.com/34445750/195347916-15db7f85-7c59-4e9d-87ee-f0bf0f03b81f.mp4

When sortBy is in `line  188` i.e after filter. The following is the result.

https://user-images.githubusercontent.com/34445750/195348311-be890ef4-d583-4f46-8d49-d880b977aa1c.mp4

What am

[2022-10-12 12:58] michaelhaxhiu commented on #11735
@Christinadobrzyn 👋 just chiming in to say that you should feel free to update the GH to include `desktop app` in the list of affected platforms next time! I added it this time, but that's a valuable addition when triaging :)

[2022-10-12 13:06] Justicea83 commented on #11493
I don't know if this is related. But when a chat is active and open, do I still need to receive notifications?

https://user-images.githubusercontent.com/26106822/195350426-d9436077-a1c8-4491-903b-6033301e00ab.mp4

<img width="634" alt="Screenshot 2022-10-12 at 1 06 15 PM" src="https://user-images.githubusercontent.com/26106822/195350604-73901ca1-7006-43e4-9a11-e810677b4bf2.png">

[2022-10-12 13:13] michaelhaxhiu commented on #11415
I recommend reading this page and you'll be ready to proceed :)

https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#propose-a-solution-for-the-job

[2022-10-12 13:17] Julesssss commented on #10273
I think we should rethink this, with the new assumption that the native fix is not going to work. I'm happy to help advise any engineer that picks up the native issue, but my confidence in this being a viable solution is now low.

[2022-10-12 13:22] Justicea83 commented on #11493
There's a [WN](https://expensify.slack.com/archives/C01GTK53T8Q/p1665580878349749?thread_ts=1665580599.621459&cid=C01GTK53T8Q) on notifications rework, as there're a wholesale bugs on nofications. So @techievivek you can close this out unless you already have a solution.

[2022-10-12 13:23] danishyasin33 commented on #11486
@sobitneupane if my proposed fix is satisfactory, could I be assigned this job please. 😄

[2022-10-12 13:27] #10058 closed

[2022-10-12 13:35] JmillsExpensify commented on #11639
Wow loved this quick work on this one. Awesome job everyone!

[2022-10-12 13:39] lbaldy commented on #4733
Shall I update my proposal using this checklist to make it a valid proposal, or that's something that would be needed if the proposal is selected?

[2022-10-12 13:42] sobitneupane commented on #11486
@danishyasin33 @fedirjh
Thanks for the proposal.

Both the proposals have some issues. Changes suggested will recreate the issue fixed by:  https://github.com/Expensify/App/pull/10504

[2022-10-12 14:20] parasharrajat commented on #4733
If you think it can be improved, be my guest.

[2022-10-12 14:25] luacmartins commented on #10729
On hold

[2022-10-12 14:26] luacmartins commented on #11058
I'm still focused on API refactors, but I have a hunch that we might be able to solve the 3 digits issue by using an uncontrolled input.

[2022-10-12 14:26] syedsaroshfarrukhdot commented on #11423
@rushatgabhane  We can handle shouldDelayFocus on only on android Platform  by introducing Platform.OS === 'android' just like below

<img width="851" alt="Screen Shot 2022-10-12 at 7 24 33 PM" src="https://user-images.githubusercontent.com/81307212/195369523-db9cd8f4-e262-4fd1-81fd-b16c0cedfd69.png">

[2022-10-12 14:31] mollfpr commented on #11693
### Proposal
Using `Str.htmlDecode` to decode HTML encoded string.

[code]

https://user-images.githubusercontent.com/25520267/195370739-1b8ba3ba-47ba-4032-af95-b81439966b16.mov

[2022-10-12 14:35] eVoloshchak commented on #11300
@Ollyws, looks readable to me, let's proceed with the PR

[2022-10-12 14:36] JmillsExpensify commented on #11691
I'm not sure I understand this issue. So you're saying that the notification is cleared in the mobile device if you're active on desktop and read the message there? If so, I think that's a feature more so than a bug.

[2022-10-12 14:38] kbecciv opened #11753 "[$250] IOS - Request money - The number and currency doesn't appear smoothly into view"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Press green + icon and click on either Request money, send money or split bills options.
2. Enter money amount and click on th

[2022-10-12 14:39] tgolen commented on #10273
OK, after discussing it more with Jules, I'm going to take this off hold and bump it up to daily priority.

[2022-10-12 14:40] mountiny opened #11754 "App crashes when trying to open IOU details - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps
1. Open any chat with IOU
1. Click on View details to open details

## Expected Result:
Describe wha

[2022-10-12 14:41] kbecciv opened #11755 "Web - IOU - App crashed when trying to open IOU"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any chat
3. Click on + button/Request money
4. Finish the request m

[2022-10-12 14:41] OSBotify commented on #11754
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-12 14:41] JmillsExpensify commented on #10273
Awesome, great discussion!

[2022-10-12 14:42] mountiny commented on #11754
I am getting report action which is undefined
![image](https://user-images.githubusercontent.com/36083550/195373392-ebe77ca9-a08e-47d4-9a42-bcbcfcbbf88e.png)

I have narrowed down the issue to the react-onyx-bump in which we have refactored the way we merge stuff and it seems like mergeCollection action is not working as expected or as it worked before this change. https://github.com/Expensify/rea

[2022-10-12 14:42] kavimuru opened #11756 "Chat- Crash when trying to open IOU details"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any chat
3. Click on + button/Request money
4. Finish the request m

[2022-10-12 14:42] OSBotify commented on #11755
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-12 14:42] mountiny commented on #11754
cc @Szymon20000 @luacmartins

[2022-10-12 14:43] kavimuru commented on #11756
Already reported #11755. Closing this one.

[2022-10-12 14:43] #11756 closed

[2022-10-12 14:43] OSBotify commented on #11756
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-12 14:44] JmillsExpensify commented on #10550
I'm kind of on the fence. I would almost rather track this issues elsewhere than keep them open in the repo. The focus here should be on bugs and performance improvements we can and are actively fixing. So I think I'd rather just not it somewhere, close it, and test it later.

[2022-10-12 14:44] puneetlath commented on #11691
No, I think the wording is confusing. Right now, we don't clear the mobile push notification if the message is read on desktop. This is a feature request to make it so that we do.

[2022-10-12 14:44] mountiny commented on #11755
Closing this in favour of https://github.com/Expensify/App/issues/11755

[2022-10-12 14:45] JmillsExpensify commented on #10483
@rushatgabhane closing based on @mallenexpensify's link to the guidelines, though please feel free to keep the discussion going.

[2022-10-12 14:45] mountiny commented on #11756
Handled here https://github.com/Expensify/App/issues/11754

[2022-10-12 14:48] JmillsExpensify commented on #11691
Ah, gotcha. Missed the feature request in the title. Honestly, I'm pretty on the fence with these feature requests at the moment. I think we should actively be trying to close every issue in this repo, because it's a bug that shouldn't exist. So the more we keep these feature requests around right now, the more distracted we are from our core goal.

[2022-10-12 14:48] JmillsExpensify commented on #11311
Added myself. I'll try to reproduce sometime today.

[2022-10-12 14:49] sobitneupane commented on #11547
@aimane-chnaif

Can you please explain what you mean here?

[2022-10-12 14:49] JmillsExpensify commented on #11189
Awesome, thanks! This is definitely in line with WhatsApp Quality, so a good one for us to ship, even if it's technically a new feature.

[2022-10-12 14:50] JmillsExpensify commented on #9971
Thanks @chiragsalian! This is a nice win for our guides with tons of workspaces.

[2022-10-12 14:53] luacmartins commented on #11710
Thanks! I did see the error in the server and I think the problem is that we save both the original message and each edit that was made to it. We discussed it in more details [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664559337865919) and we might change the limit down to 15k chars or something like that.

[2022-10-12 14:54] luacmartins commented on #11710
That being said, I think that's a different issue that will be addressed [here](https://github.com/Expensify/App/issues/11432). So we can go ahead with @Puneet-here proposal.

[2022-10-12 14:59] JmillsExpensify commented on #10824
Sounds great. In the meantime, I'm going to double the price of the issue.

[2022-10-12 15:00] kbecciv opened #11758 "[$250] mWeb/safari -The transition to conversation is not smooth when using fingers from right to left"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to https://staging.new.epensify.com/
2. Sign in with any account
3. Click any conversation
4. Close NewDot
5. Open Ne

[2022-10-12 15:02] dylanexpensify commented on #10148
Moving to Weekly

[2022-10-12 15:04] JmillsExpensify commented on #7925
We're kicking off comment linking, so hopefully we'll have an update on this issue in the coming weeks.

[2022-10-12 15:06] JmillsExpensify commented on #2545
@kidroca Oh thanks, that one wasn't on my radar. Hopefully we'll start to get movement on it soon since we've started work on comment linking, which blocks it in turn.

[2022-10-12 15:09] fedirjh commented on #11671
# Proposal
## Problem
the `UnreadIndicatorUpdater.throttledUpdatePageTitleAndUnreadCount()` is being invoked on `onStateChange`  on the `NavigationContainer` . the `throttledUpdatePageTitleAndUnreadCount` execute the `updateUnread` function after 100 ms . so when user logs out this happen:
1. State Updated -> call to UnreadIndicatorUpdater.throttledUpdatePageTitleAndUnreadCount()
2. SignInPage is

[2022-10-12 15:15] melvin-bot[bot] opened #11760 "Investigate: 💥 Crash 💥 `.anonymous`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Cannot read property 'originalMessage' of undefined
### `address at index.android.bundle:1:2925749` `.anonymous`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.13-2`
* **Devices:**

[2022-10-12 15:21] alex-mechler commented on #11010
Ah yeah, we do send one of these messages each time you create a policy. Perhaps we could change up the wording for the subsequent messages? Each link is different, they all go to different #admins rooms

[2022-10-12 15:25] luacmartins commented on #11710
Reassigning @muttmuure as CM to this issue.

[2022-10-12 15:25] kbecciv opened #11762 "Bug: [$500] Keyboard doesn't appear for the "Room Name" field on web/safari"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11587

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Log

[2022-10-12 15:25] luacmartins commented on #11710
@muttmuure could you please create the Upwork job?

[2022-10-12 15:26] adeel0202 commented on #11754
@mountiny I'm expecting reporting bonus.

[2022-10-12 15:28] mallenexpensify commented on #11493
@Julesssss , you're working on Notifications, right?  Any thoughts on why this is happening? It'd def a regression.
Is there a tracking issue with a list of Notification issues?
Let's not close cuz we want to be able to confirm we actually fixed the bug before closing

[2022-10-12 15:28] kbecciv opened #11764 "Web - Workspace -Delete and New Workspace options go beyond the conversation history"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with your account
3. Go to Setting - Workspace
4. Select " ... " dots

## Expected R

[2022-10-12 15:28] OSBotify commented on #11741
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11759) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.13-3` :rocket:

[2022-10-12 15:34] adeel0202 commented on #11754
Also, I'm still able to reproduce it so not sure why it is closed.

[2022-10-12 15:34] sobitneupane commented on #11547
@aimane-chnaif's [Proposal](https://github.com/Expensify/App/issues/11547#issuecomment-1274426698) looks good to me.

cc: @Beamanator

🎀👀🎀 C+ reviewed

[2022-10-12 15:37] mallenexpensify commented on #10550
Can't we just use the `[HOLD]` title preface and `Planning` label?
What's he problem we're trying to solve by closing known bugs that aren't fixed?

[2022-10-12 15:41] zanyrenney commented on #11760
Job posted, internal: https://www.upwork.com/ab/applicants/1580221769442263040/job-details

External view: https://www.upwork.com/jobs/~011419c4491fb030db

[2022-10-12 15:45] melvin-bot[bot] opened #11766 "[$250] Investigate: 💥 Crash 💥 `anonymous`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: JavaScriptError
### Cannot read property 'actionName' of undefined
### `main.jsbundle:1693:1257 line 1693` `anonymous`
### Number of Crashes: 10

## Device Information
* **Platforms:** Android, iOS
* **App Versions:** `1.2.13-2`, `1.2.13.2`
* **Devices:** samsung SM-M315F 12, Apple iP

[2022-10-12 15:51] trjExpensify commented on #11010
It won't make a difference if we add `%Policy Name%` to the copy because we use the same default name when you create a policy, right? So the copy would still read the same and repetitive if that's the problem we're solving for when someone signs up and creates multiple policies seconds/minutes apart:

<img width="1511" alt="image" src="https://user-images.githubusercontent.com/16232057/195389775-

[2022-10-12 15:53] trjExpensify commented on #11691
I wonder how much this will get solved by the notifications project @Julesssss is working on anyhow?

[2022-10-12 15:54] puneetlath commented on #11204
Oh yeah. Thanks @Luke9389. Looks like we did that here: https://github.com/Expensify/App/pull/11531

@NicMendonca let's go ahead and pay @smrutiparida and @parasharrajat out since they did the work. And then let's close this issue and the PR since they are no longer needed.

[2022-10-12 16:03] kbecciv opened #11767 "mWeb - Chat - Display mode switches from portrait to landscape when turning phone horizontally"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/9143

## Action Performed:
1. Go to https://staging.new.expensify.com/ and log

[2022-10-12 16:07] puneetlath commented on #11204
Ah, good point. It looks like we've been waiting for @smrutiparida for almost a week now to update their PR. If we don't hear back in the next day, let's just close this out, since the security hole has already been resolved.

[2022-10-12 16:13] kevinksullivan commented on #11708
https://www.upwork.com/jobs/~018bcb6fe8dcaa0c58

[2022-10-12 16:16] kevinksullivan commented on #11535
Yeah, this is still the MVP of the Free Plan, and we don't associate a VBA added in OldDot with a workspace in NewDot, unfortunately.  So there is no bug here. I'm going to close out for now, but let me know if there are other issues here!

[2022-10-12 16:16] #11535 closed

[2022-10-12 16:17] kevinksullivan commented on #11273
Doubled

[2022-10-12 16:22] puneetlath opened #11768 "[Main Tracking] App Navigation Reboot"
**Design doc link** - https://docs.google.com/document/d/1cQ87HcDA9RrmBM4ch7PmlNi9N9ZP8abQuPF0gKYrxDE/edit

**Problem:**

We initially implemented react-navigation in App without a proper design doc as part of the NewDot MVP. While this library came with some awesome benefits - we’ve realized over time that some of our early decisions in how we use the library have impacted performance and usabili

[2022-10-12 16:31] ctkochan22 commented on #11153
The API command we are using: `UpdatePreferredLocale`

[2022-10-12 16:33] mountiny commented on #11753
Interesting, not sure if this has been there before, this can be external for sure!

[2022-10-12 16:39] parasharrajat commented on #11768
:fire: :fire:

[2022-10-12 16:43] puneetlath commented on #11768
Suggestion from @roryabraham: move `src/libs/Navigation` to `src/Navigation` to highlight its importance to someone coming to the repo for the first time.

[2022-10-12 16:46] trjExpensify commented on #10516
Cool, thanks for confirming. Offers have been sent to all three of you with the correct amounts.

[2022-10-12 16:46] luispdev0328 commented on #11760
### Proposal

As per the [error state](https://github.com/Expensify/App/issues/11760#issue-1406389571), I noticed that the crash was caused  when `action` var is `undefined` or `null` in the function `getRejectableTransactions` of `src\pages\iou\IOUTransactions.js`.

https://github.com/Expensify/App/blob/9b15fbcd10cbca05cb88f56f76a7d7b37e264f4b/src/pages/iou/IOUTransactions.js#L52-L72

### Solutio

[2022-10-12 16:47] hungvu193 commented on #11766
<b>Proposal</b>
Since we didn't know exactly where it happened, the best way to fix and avoid this bug is to add null safety where we got the  `actionName`.

<b>Solution</>
Use lodashGet to make sure we got the value from object that we got the `actionName` property.

[code]

[2022-10-12 16:47] trjExpensify commented on #10516
@mananjadhav -paid! (The auto-accept gets me every time. 😂)

[2022-10-12 16:51] kbecciv opened #11769 "Web - Connect Bank account - App crash when adding bank account via Plaid option"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to Settings->Workspace->Connect bank account->Con

[2022-10-12 16:52] trjExpensify commented on #11543
@bernhardoj - offer sent!
@mananjadhav - invite to job sent!

[2022-10-12 16:52] OSBotify commented on #11769
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-12 16:54] trjExpensify commented on #11695
@eVoloshchak any input on this proposal?

[2022-10-12 16:55] shawnborton commented on #11427
Thanks for sharing. Generally looks good but it looks like you are not using the correct amount of padding around the content:
<img width="400" alt="image" src="https://user-images.githubusercontent.com/2319350/195403051-b91fc793-30b7-49e2-8c6a-538491206397.png">

Check other containers to see the correct padding, it should be more like 20px on left/right/bottom.

[2022-10-12 17:01] michaelhaxhiu commented on #11754
https://www.upwork.com/jobs/~01dadf0587f9dca0fe

[2022-10-12 17:06] AndrewGable commented on #10221
Waiting payment

[2022-10-12 17:06] trjExpensify commented on #10516
@Karim-30 - paid! Just waiting on @aimane-chnaif now and we can close this out.

[2022-10-12 17:08] deetergp commented on #9402
Not overdue, just on hold.

[2022-10-12 17:13] adeel0202 commented on #11754
@michaelhaxhiu I have applied.

[2022-10-12 17:14] trjExpensify commented on #7862
Thanks, @JediWattson. I'm incredibly excited to get this one over the line! ❤️

[2022-10-12 17:14] trjExpensify commented on #8459
Bump on the above, @parasharrajat?

[2022-10-12 17:15] trjExpensify commented on #9971
💯 this is going to be super nice to declutter that top level settings page!

[2022-10-12 17:15] Uros787 commented on #11766
### Proposal
Based on stacktrace we can see that the error appeared in getSortedReportActions
in ReportActionUtils.js

Solution:
Add value checking for every actionName in getSortedReportActions
![Screenshot 2022-10-12 at 19 15 23](https://user-images.githubusercontent.com/70144379/195406650-53ebb56d-f494-4cb7-a228-83245356ba30.png)

[2022-10-12 17:16] trjExpensify commented on #10202
How are you getting on with the RCA, @Santhosh-Sellavel and when can we expect it? Thanks!

[2022-10-12 17:21] trjExpensify commented on #10931
Gotcha. The iPhone XS Max came out in 2018, it's pretty old at this point (latest in that product line is the iPhone 14 Max). I'm not surprised we're getting crickets from asking in a few places in Slack.

@kbecciv can you confirm the steps, and can you confirm on a couple of other iOS devices. Thanks!

[2022-10-12 17:23] trjExpensify commented on #11229
Okay so given we're aligned there, how are we feeling about @jeet-dhandha's proposal?

[2022-10-12 17:24] trjExpensify commented on #11447
Deployed to staging. Once it hits prod, the payout clock begins! 🎉

[2022-10-12 17:25] parasharrajat commented on #8459
No, I will just do that in a few minutes.

[2022-10-12 17:28] trjExpensify commented on #10221
@mateusbra - paid!

[2022-10-12 17:32] puneetlath commented on #11768
Another interesting note from @roryabraham: we don't use React Navigation's [link](https://reactnavigation.org/docs/link) component.

[2022-10-12 17:35] Puneet-here commented on #11423
Can we use two files index.ios.js and index.android.js instead of https://github.com/Expensify/App/blob/main/src/libs/ComponentUtils/index.native.js and add a variable for this which will be only true at android and we can use it whenever we use `shouldDelayFocus` like we do for other props or we can also use two platform specific files for TextInput instead of https://github.com/Expensify/App/blo

[2022-10-12 17:40] chiragsalian commented on #11266
I believe this is handled in this issue - https://github.com/Expensify/App/issues/10975.

Can you confirm @sobitneupane, if so let's close this issue out as a duplicate since there is nothing different actionable here.

[2022-10-12 17:41] chiragsalian commented on #9245
Okay time went by and I haven't been able to find time to investigate this issue. Unassigning myself and posting on slack if anyone has time on their plate to tackle this issue.

[2022-10-12 17:47] varshamb commented on #11729
Okay, in that case original bug should be reopened.

https://github.com/Expensify/App/issues/11424

[2022-10-12 17:55] ctkochan22 commented on #11153
Can you try again? Following the tests steps, I'm unable to repdroduce.

[2022-10-12 17:55] ctkochan22 commented on #11153
@kavimuru

[2022-10-12 17:55] ctkochan22 commented on #11153
Closing for now, please re-open if you can reproduce!

[2022-10-12 17:58] kbecciv opened #11770 "Web - User receives an error message when adding Manual Bank account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:1
1. Access staging.new,expensify.com
2. Sign into a valid account
3. Click Profile > Workspace > Connect a bank account
4. Select

[2022-10-12 18:06] roryabraham commented on #11524
The internal issue has been made public, this issue is on HOLD for https://github.com/Expensify/App/issues/11768

[2022-10-12 18:15] pecanoro commented on #10148
I can't reproduce this bug anymore in Android. @dylanexpensify can you check on iOS? I think if neither of both can, we are good to close it.

[2022-10-12 18:15] pecanoro commented on #10148
Just moving to daily so we don't forget to try to reproduce. @rushatgabhane Can you see if you can reproduce it?

[2022-10-12 18:21] roryabraham commented on #11694
@Puneet-here's [proposal](https://github.com/Expensify/App/issues/11694#issuecomment-1272868320) looks good to me, but I'll let @rushatgabhane buddy-check it. I'm not sure if we need to check `canUseTouchScreen` or if just screen width is sufficient here.

[2022-10-12 18:26] abekkala commented on #11416
GH from no #announce or #admin rooms being created
https://github.com/Expensify/App/issues/11685

[2022-10-12 18:31] mananjadhav commented on #10888
@Luke9389 *Solution 4* is what I endorsed from the comment.

[2022-10-12 18:31] eVoloshchak commented on #11695
I think @MandarDevarshi's [proposal](https://github.com/Expensify/App/issues/11695#issuecomment-1275607399) is the better solution
There are multiple components where this fix would also need to be implemented

Per [discussion](https://expensify.slack.com/archives/C01GTK53T8Q/p1665597477187449?thread_ts=1665434639.537719&cid=C01GTK53T8Q) on slack

I think the best course of action here is to treat

[2022-10-12 18:35] michaelhaxhiu commented on #11754
Paid.

[2022-10-12 18:35] #11754 closed

[2022-10-12 18:40] marcaaron commented on #11754
What about the changes in Onyx broke merging? Can you leave some more detailed investigation here?

[2022-10-12 18:40] marcaaron commented on #11754
@vitHoracek @luacmartins

[2022-10-12 18:41] gadhiyamanan commented on #11695
@eVoloshchak have you checked my [proposal](https://github.com/Expensify/App/issues/11695#issuecomment-1272769635)

[2022-10-12 18:45] MandarDevarshi commented on #11695
@eVoloshchak
For iOS there is `alwaysbouncevertical` prop could this be of any help here to make things consistent across platforms ?

[See here @ `react-docs`](https://reactnative.dev/docs/scrollview#alwaysbouncevertical-ios)

[See here @ `apple-docs`](https://developer.apple.com/documentation/uikit/uiscrollview/1619383-alwaysbouncevertical)

[2022-10-12 18:47] gadhiyamanan commented on #11695
It's default behaviour of ios (we can handle this by bounces prop). you can check this behaviour on other screens which are scrollable.

[2022-10-12 18:54] chiragsalian commented on #11536
Ah yup the issue here is that closing the drawer on a reportID or reportActionID doesn't work currently and yes this will be tackled in comment linking. I'd say to just close this out since its a known problem which will be tackled in comment linking.

[2022-10-12 19:03] gadhiyamanan commented on #11695
@eVoloshchak any thoughts?

[2022-10-12 19:06] MarkCSmith commented on #11708
Proposal:  Add a navigation event listener inside `src/pages/home/sidebar/SidebarScreen/BaseSidebarScreen.js` to detect when a different screen gains focus.  Call the existing `hideCreateMenu()` function inside the listener.

This will fix the Cmd+K (search) case as well as others such as Cmd+Shift+K (new group).

[2022-10-12 19:09] #11536 closed

[2022-10-12 19:13] mallenexpensify commented on #8455
fwiw. this is what I'm getting when I follow the repro steps
<img width="448" alt="image" src="https://user-images.githubusercontent.com/22508304/195428317-2b3fa22c-d2a7-4cc5-9731-162b0ab0d47d.png">

[2022-10-12 19:20] kavimuru opened #11771 "[HOLD for payment 2022-11-04] [$250] Desktop - Split Bill “What’s it for?” is highlighted if double tap on the selected user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App and login as HT user
2. Select Split bill > Enter amount > Next > Select some user
3. Select next
4. Double tap on

[2022-10-12 19:22] sakluger commented on #11732
I think this one is worth solving! Passing along to engineering.

[2022-10-12 19:24] kavimuru opened #11772 "[$250] mWeb/Safari - Chat - There is a " New messages" badge after deleting a comment while offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/

2. Login with any account
3. Navigate a any conversation
4. Disable the internet

[2022-10-12 19:28] kavimuru opened #11773 "Web - Workspace - Member is shown in the created rooms after removing member from workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing the PR #11560

## Action Performed:
1. Invite a user to a workspace
2. Create a room with this workspace
3. On another brows

[2022-10-12 19:30] Uros787 commented on #11753
Couldn't reproduce on simulator. IOS 13 16.0

[2022-10-12 19:35] mountiny commented on #11722
I am removing the Help Wanted label and putting this on hold for https://github.com/Expensify/App/issues/10273

[2022-10-12 19:37] kavimuru opened #11775 "mWeb/Safari - Workspace - The drop-down menu is wider than the input field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open URL https://staging.new.expensify.com/
and login
2. Go to Settings->Workspace->Reimburse expenses
3. Click on Unit for op

[2022-10-12 19:37] mallenexpensify commented on #10107
@parasharrajat can you please review @azimgd 's proposal above?

[2022-10-12 19:39] jasperhuangg commented on #11690
@Puneet-here @MandarDevarshi thanks for the discussion. I like where we're going with this.

I'm thinking if we can actually sort the data before it goes into Onyx as opposed to after it's been read from Onyx. This ensures any other functionality we build that involves listing out all of a user's workspaces will be in the same order.

This might involve making the issue an internal issue. Going to

[2022-10-12 19:40] kavimuru opened #11776 "[$250] mWeb/Safari - Workspace - Page jumps up and hides the search field when I focus in "Add a personal message" field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login
2. Go to Settings->Workspase->Manage members->Invite
3. Enter the email

[2022-10-12 19:46] jasperhuangg commented on #11690
@Puneet-here @MandarDevarshi Let's actually go with Puneet's solution since it also handles sorting workspaces after they're created.

[2022-10-12 19:51] tgolen commented on #11770
@kbecciv What was the email for the account which you reproduced that in?

[2022-10-12 19:53] NikkiWines commented on #11131
Dropping to weekly while we wait for proposals.

[2022-10-12 19:53] fedirjh commented on #11486
@sobitneupane thanks for the update.

It looks like safari is still supporting the old alias of `overflow-wrap` which is `word-wrap` . here is an updated solution that works on safari and chrome . Tested on Safari and Chrome

changes made

[code]
on

https://github.com/Expensify/App/blob/dfb5bca05a5b12e62ec86520819fd5a4ac66e405/src/styles/getTooltipStyles.js#L161

[2022-10-12 19:55] trjExpensify commented on #10516
@aimane-chnaif - paid! We're all set here. 🎉

[2022-10-12 19:55] #10516 closed

[2022-10-12 20:05] tgolen commented on #11770
I am not able to reproduce this. When I select the terms on that last step, I continue on with the onfido flow like normal:

![image](https://user-images.githubusercontent.com/1228807/195437305-0bc106a9-c403-4737-94a9-a61efc5d392a.png)

[2022-10-12 20:14] tgolen commented on #11754
Yeah, I think we should be actively looking to figure out what is broken in Onyx and fixing it at the source rather than just reverting it.

[2022-10-12 20:19] kbecciv commented on #11770
@tgolen Here is credentials: emilio.utest+403@gmail.com/Emilio98.
Let me know and we will re-test the issue.

[2022-10-12 20:20] thesahindia commented on #11690
Yeah let's go with @Puneet-here's [proposal](https://github.com/Expensify/App/issues/11690#issuecomment-1274717852). It is working as expected.

C+ reviewed 🎀👀🎀

cc: @jasperhuangg

[2022-10-12 20:22] mountiny commented on #11754
I completely agree, I have opted for quicker solution as I did not see clearly what is wrong and it was getting toward the end of the day. Since the revert fixed it, I opted for that.

Good job spotting the key issue @marcaaron

[2022-10-12 20:24] mountiny commented on #11754
Haha, thanks, the other account is also me and I get email notifications for those tags so I wont miss it :D knew this would happen

[2022-10-12 20:25] chiragsalian commented on #9971
I started working on this today and I'm halfway done with the functionality. I've to test it a little more on web and fix the bugs and then I'll test it on mobile too. Hoping to push out the PR today.

I had a question,
1. So from the screenshot, it shows some workspaces icons. Is that necessary and if a user has 10 workspaces are we going to just show the first two or will the UI be different.
![

[2022-10-12 20:26] bondydaa commented on #11410
Ionatan has been OOO for most of this week so will wait for him to get back to help us decide how we want to approach this.

[2022-10-12 20:28] shawnborton commented on #9971
I think we'd do something like we'll do for threads where maybe we show the first 3-4 avatars, and anything beyond that we just add a darker overlay with a `+X` counter on top to the last avatar:

<img width="264" alt="image" src="https://user-images.githubusercontent.com/2319350/195441251-80987356-ca6c-49ab-9095-ed0d0a9f7a5a.png">

[2022-10-12 20:29] trjExpensify commented on #9971
^^ I agree, love that. ❤️

[2022-10-12 20:30] Luke9389 commented on #11204
My two cents is that we should close this, because we've already dealt with the security problem. Now we're just upgrading for the sake of upgrading (which we generally don't do without a demonstration of some material benefit).

[2022-10-12 20:38] mvtglobally commented on #11741
We are still working on the checklist.
Interim updates

https://github.com/Expensify/App/pull/11076 & Blocked by https://github.com/Expensify/App/issues/11773
https://github.com/Expensify/App/pull/11457 Blocked by https://github.com/Expensify/App/issues/11769 &
 https://github.com/Expensify/App/issues/11770
 PR https://github.com/Expensify/App/pull/11560 is failing due to https://github.com/Expens

[2022-10-12 20:40] tgolen commented on #11770
I'm seeing a few things in the logs that look like it might begin to show the problem, I don't really know what they mean though:

[code]
thrown from [here](https://github.com/Expensify/Auth/blob/0424844b6d847d569b248adc550330214106bc6b/auth/lib/BankAccount.cpp#L2373)

[code]
thrown from [here](https://github.com/Expensify/Web-Secure/blob/8dfecbffdfa2575b228dfeafb4965776b5ef1ce5/lib/BankAccountAPI

[2022-10-12 20:42] tgolen commented on #11770
I also see the same exact error at nearly the same time on two different staging servers:
![image](https://user-images.githubusercontent.com/1228807/195443713-e86cdc2b-9dc7-46e7-a0fe-22cdde4f1be3.png)

[2022-10-12 20:42] michaelhaxhiu commented on #11416
Is this really `internal`? I don't think I understand why it is 🤔

[2022-10-12 20:43] parasharrajat commented on #10107
Thanks for the proposal. Sounds like a plan but I will have to do some research on this to understand.

Questions:
1. Do you have any example of a desktop app where autofill is working?

But it looks are you are only using this module to encrypt. Then storing things on Onyx. Correct?

[2022-10-12 20:44] puneetlath commented on #11204
That makes sense to me. @NicMendonca let's pay @smrutiparida and @parasharrajat out and close.

[2022-10-12 20:47] nkuoch commented on #11770
This should be fixed once https://github.com/Expensify/Web-Expensify/pull/35108/files reaches prod... right @MariaHCD ? Sorry I'm starting to be ooo til the end of the week

[2022-10-12 20:49] tgolen commented on #11770
OK, thank you! [These logs](https://www.expensify.com/_devportal/tools/logSearch/#sort=asc&size=10000&query=email%3A%22emilio.utest%2B403%40gmail.com%22%20AND%20timestamp%3A%5B2022-10-12T16%3A45%20TO%202022-10-12T16%3A47%5D) also look super strange (just looking at logs in the few requests before the error occurred).

![image](https://user-images.githubusercontent.com/1228807/195444964-38613f71-55

[2022-10-12 20:50] thesahindia commented on #11386
@kadiealexander, let's hire @Puneet-here and assign them to this issue.

[2022-10-12 20:54] thesahindia commented on #11341
Yes we should keep the button enabled.

I am fine with both.

Yeah, it should be red.

cc: @Beamanator

[2022-10-12 20:59] Luke9389 commented on #11424
I'm going to reopen this issue as it's still happening. We can set it to weekly and check in on reproducibility at that pace. @Puneet-here can you link to the form refactor issue/PR you're referring to?

[2022-10-12 20:59] Luke9389 commented on #11729
Closing in favor of https://github.com/Expensify/App/issues/11424

[2022-10-12 21:00] nkuoch opened #11777 "[HOLD for payment 2023-02-01] Investigate overuse of Onyx in VBBA setup flow"
Coming from https://github.com/Expensify/App/issues/11770#issuecomment-1276723757

[2022-10-12 21:01] nkuoch commented on #11770
I think I know how to improve it. I'll work on it once I'm back. Created [an issue](https://github.com/Expensify/App/issues/11777) so I don't forget.

[2022-10-12 21:04] parasharrajat commented on #8459
Started with this https://github.com/Expensify/App/pull/8902#issuecomment-1276734709. Let's see if we need to go to slack. I will wrap up this PR asap but it depends on the discussion.

[2022-10-12 21:14] yuwenmemon commented on #11741
@mvtglobally I'm going to check https://github.com/Expensify/App/pull/11560 off as the tests don't quite need all those steps to verify that specific change.

[2022-10-12 21:17] michaelhaxhiu commented on #11102
@stitesExpensify can you confirm if this proposal is good to proceed, please?

https://github.com/Expensify/App/issues/11102#issuecomment-1272383968

[2022-10-12 21:17] yuwenmemon commented on #11741
@mvtglobally We're CP-ing a fix for https://github.com/Expensify/App/issues/11769 and https://github.com/Expensify/App/issues/11770 shortly. So we should be able to resume those other PRs.

[2022-10-12 21:18] #11317 closed

[2022-10-12 21:22] tgolen commented on #11312
Still waiting on proposals.

[2022-10-12 21:22] danishyasin33 commented on #11486
Hi @sobitneupane,

I tested it both Chrome and Safari after adding `white-space: break-spaces`, it does not recreate the issue fixed by #10504.

Here's a demo on both safari and chrome.

Chrome:

https://user-images.githubusercontent.com/47951155/195449997-70e9a5ea-031f-4441-b4eb-cb03fa0d15b4.mov

Safari:

https://user-images.githubusercontent.com/47951155/195450328-6cc63406-cc4c-4f27-a0ec-f85d69a

[2022-10-12 21:22] michaelhaxhiu commented on #7916
Rajat is testing https://github.com/Expensify/App/pull/10965#issuecomment-1274839311

[2022-10-12 21:23] michaelhaxhiu commented on #11453
@kavimuru can you re-upload your video please?

[2022-10-12 21:25] kbecciv opened #11778 "[$1000] Settings -Changes "Notifications"/ Priority mode offline aren't saved"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app
2. Log in with any account
3. Navigate to Settings > Preferences
4. Disable the internet connection in the device

[2022-10-12 21:35] marcaaron commented on #11733
Please wait until the issue has been triaged and `Help Wanted` label added.

[2022-10-12 21:38] marcaaron commented on #11733
I am not opposed to waiting if there's an open PR where it will be fixed, but let's leave this issue open until it is fixed. It's a problem, that's why I reported it, and we should fix it.

[2022-10-12 21:43] parasharrajat commented on #11733
Strangely, that component is using `Platform API`.  We are discussing to revert it in https://github.com/Expensify/App/pull/10648. I am not sure when that will be done.

@marcaaron Do you want me to look into proposals or hold this?

[2022-10-12 21:45] Luke9389 commented on #10888
Huh, what's the rationale for not choosing Solution 1 [here](https://github.com/Expensify/App/issues/10888#issuecomment-1245652236)? It seems like it adds consistency between web and mobile. Would it break something?

[2022-10-12 21:54] OSBotify commented on #11741
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11774) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.13-4` :rocket:

[2022-10-12 22:00] LucioChavezFuentes commented on #10996
Thank you @mallenexpensify, just have one question. What should I put on the following Upwork proposal fields?:
-Cover Letter
-IMPORTANT: Have you submitted your proposal in the GitHub issue? Note: you will *not* be considered for hire until you have done this.
- What date do you estimate to be able to submit a pull request containing the fix for this issue?

[2022-10-12 22:04] MitchExpensify commented on #10181
Would leading that pre-design typically fall on the CM or CME? This is the first time I've run into a case like this as CM

[2022-10-12 22:08] neil-marcellini commented on #11236
Thanks @Tushu17. Looking good to me. It would be good to include changing the error translation keys, as well as the translation files, in your proposal.
https://github.com/Expensify/App/blob/334b2107fe9cfa06ac7bbd26841a55509bb34486/src/pages/RequestCallPage.js#L216-L222

Also for consistency maybe lets remove the margin bottom [here](https://github.com/Expensify/App/blob/334b2107fe9cfa06ac7bbd268

[2022-10-12 22:08] shawnborton commented on #10181
I think we'd want to put this back on our internal design team to come up with a better solution, and probably just close this one out altogether?

[2022-10-12 22:09] marcaaron commented on #11733
If we can fix this now it is fine to just do it.

[2022-10-12 22:10] parasharrajat commented on #11095
Thanks for waiting. @aimane-chnaif 's [proposal](https://github.com/Expensify/App/issues/11095#issuecomment-1251267647) looks good to me.

cc: @thienlnam

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-10-12 22:11] marcaaron commented on #11733
We should generally not be merging PRs that introduce these kinds of warnings.

[2022-10-12 22:13] marcaaron commented on #11493
I agree this is a very annoying regression and should be prioritized highly.

[2022-10-12 22:14] parasharrajat commented on #11733
I agree. Looks like there was discussion on the same https://github.com/Expensify/App/pull/10567/files#r955053952.

[2022-10-12 22:14] roryabraham commented on #11102
Stepping in to help cover @stitesExpensify while he's OOO

[2022-10-12 22:19] parasharrajat commented on #11733
@aimane-chnaif 's [proposal](https://github.com/Expensify/App/issues/11733#issuecomment-1275544293) looks good to me.

That line looks unnecessary to me as well.

cc: @marcaaron

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-10-12 22:21] tgolen commented on #11094
As I was looking into this, I was struck by the feeling that this is intentional. Once you select a user, the focus is intentionally put back into the search box. This is what causes the keyboard to open. Because of that, I am going to close this one since it's working as intended I think. Feel free to reopen and plead your case!

[2022-10-12 22:24] kavimuru opened #11781 "BUG: The composer input is not focused after closing the user details page reported by @mollfpr"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a chat and click the composer input
2. Click on the user profile
3. Close the profile page

## Expected Result:
The compo

[2022-10-12 22:27] marcaaron commented on #11733
cc @Luke9389 as I am not the assigned CME

[2022-10-12 22:29] parasharrajat commented on #11733
Oh Sorry, Didn't notice.

[2022-10-12 22:41] aldo-expensify commented on #10181
Sounds good to me!

[2022-10-12 22:43] yuwenmemon commented on #11741
@mvtglobally any update on the checklist here? Haven't seen too much movement in the last hour.

[2022-10-12 22:47] tgolen commented on #11424
I stumbled upon the problem here. Turns out these prop names do not match.

The code is trying to trigger the callback here: https://github.com/Expensify/App/blob/da9a8957bb8046fe7517b790a2e1241819215aeb/src/components/FormAlertWrapper.js#L72 (named `onFixTheErrorsPressed`) but all components are passing a prop named slightly different: `onFixTheErrorsLinkPressed`

[2022-10-12 22:48] MitchExpensify commented on #11091
Upwork offers sent to @Ollyws , @gadhiyamanan , and @parasharrajat

[2022-10-12 22:49] kavimuru opened #11783 "Can still receive incoming messages while offline via the Network tab on chrome reported by @grgia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-10-12 22:50] Luke9389 commented on #11733
I think @aimane-chnaif's proposal to set the android value to `height` will cause [this issue](https://github.com/Expensify/App/issues/10539) again (that's why we made[ this PR](https://github.com/Expensify/App/pull/10567))

[2022-10-12 22:53] parasharrajat commented on #11733
So the android value is already set to `height`, it is just removing that warning.

[2022-10-12 23:03] yuwenmemon commented on #11741
Checking off https://github.com/Expensify/App/pull/11657 - tested, works well 👍

[2022-10-12 23:04] OSBotify commented on #11741
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-10-12 23:05] yuwenmemon commented on #11741
Sorry got too excited there.

[2022-10-12 23:06] yuwenmemon commented on #11741
Omg I keep doing it sorry

[2022-10-12 23:06] OSBotify commented on #11741
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-10-12 23:06] tgolen commented on #10273
OK, I started testing all the GH issues today with my code changes. I made it through the first 5 issues. I found that 2 of those issues are fixed, 2 are not fixed, and one is expected behavior.

I've got 6 more issues to go through 👍 so plugging away.

Ultimately, my changes do put us in a better place so far, so that's good.

[2022-10-12 23:13] aldo-expensify commented on #11741
QA'd https://github.com/Expensify/App/pull/11395#issuecomment-1276824739

[2022-10-12 23:20] slafortune commented on #11726
Also - similar issue is reported here -https://github.com/Expensify/App/issues/10736

[2022-10-12 23:20] Luke9389 commented on #11424
Looks like @aimane-chnaif had that one pegged.

@aimane-chnaif are you currently working on a PR for an External issue? If not we can make this one external and assign it to you.

[2022-10-12 23:27] MitchExpensify commented on #10181
Cool! I'm tempted to pay out half price ($250) to C+ and the reporter of the issue for their work on this. What do you reckon @michaelhaxhiu ? (CM buddy check)

[2022-10-12 23:28] OSBotify commented on #11741
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.13-4 has been deployed to staging :tada:

[2022-10-12 23:55] michelle-thompson commented on #11520
@thienlnam do you know if the image is in the Web repo somewhere?

[2022-10-12 23:56] michelle-thompson commented on #11346
Not overdue

[2022-10-12 23:57] chiragsalian commented on #9971
Question, how okay would it be if we reuse the same design we have for multiple chat participants in newDot, i.e., we currently show just one avatar followed by a number presented diagonally like so,
![image](https://user-images.githubusercontent.com/14356145/195468588-a01876f6-11bb-4368-b735-cbed48ef2be1.png)

If i re-use the same such that it looks like this on the workspace would that be fine?

[2022-10-13 00:03] fedirjh commented on #11320
### Proposal

## Problem
The RenderHTML add the flex property to some element `flex: 1 1 0%;`

![Screenshot from 2022-10-13 00-54-16](https://user-images.githubusercontent.com/36869046/195468587-e518854f-b518-4340-af7a-b5f159ba346b.png)

## Solution
we can set an initial flex property to the config so the RenderHTML will use it instead of adding new one

https://github.com/Expensify/App/blob/d0f0d

[2022-10-13 00:08] jliexpensify commented on #11727
@MonilBhavsar happy for me to make an Upworks job?

[2022-10-13 00:18] marcaaron commented on #11726
This is a pretty frustrating one. Gonna take it internal so we can design and fix it properly, but here's why it happens:

- We are using `componentDidUpdate()` to detect that a "new action has arrived" by looking at the last action and comparing it to the latest here:

https://github.com/Expensify/App/blob/d0f0dd5ee7b88bf31d544f758ab7cfba88c6f0c0/src/pages/home/report/ReportActionsView.js#L179-L1

[2022-10-13 00:23] MitchExpensify commented on #11476
Still waiting on consistent reproduction steps

[2022-10-13 00:53] deetergp commented on #11697
While you're in that part of the code, it'd be nice to figure out what's causing that lag and seeing if we can speed it up rather than simply deferring it. If we find that we can't speed it up, then deferring it would be acceptable.

[2022-10-13 00:59] deetergp commented on #11330
We are still awaiting contributor proposals that that cause drafts to behave according to @tgolen's comment [here](https://github.com/Expensify/App/issues/11330#issuecomment-1265580009):

[2022-10-13 01:01] thienlnam commented on #11520
It's in the Web-PDFs repo `var/pdfs.expensify.com/assets/encrypted-file-thumbnail.jpg`

https://github.com/Expensify/Web-PDFs/blob/2240636796dd4ab730329552341bea83227efb5d/var/pdfs.expensify.com/assets/encrypted-file-thumbnail.jpg

[2022-10-13 01:02] thienlnam commented on #11095
Wow, that proposal looks great! Thanks for also considering the performance impact and cleaning up some existing code

[2022-10-13 01:03] chiragsalian commented on #9971
Just a quick video showing the functionality. I've got a draft PR up. Most of the functionality is done minus just finalizing on the avatars. (see comment above regarding question on how to display the avatars)

In the video I also wanted to show how the avatars would work if there is an avatar set vs default since that was a bit tricky,

https://user-images.githubusercontent.com/14356145/19547501

[2022-10-13 01:12] kavimuru opened #11785 "Feature Request: 0.000' appears for a brief moment for Rate field when page is refreshed instead of some kind of indicator reported by @daraksha-dk"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Setting
2.  Click on workspace
3. Reimburse expenses > Rate > Refresh the page

## Expected Result:
Some kind of visual

[2022-10-13 01:15] AndrewGable commented on #11767
So I am not sure I agree that this is a bug and I think it warrants a larger discussion on how we want to handle rotation. I agree that the PR said it should not rotate, but I think it's fine that it is rotating for now. Closing for now!

[2022-10-13 01:15] #11767 closed

[2022-10-13 01:16] thienlnam commented on #10623
cc @kadiealexander Looks like this is ready for payment!

[2022-10-13 01:17] yuwenmemon commented on #11741
Checking off https://github.com/Expensify/App/pull/9143 since we [decided](https://expensify.slack.com/archives/C01SKUP7QR0/p1665616063155359) that the behavior reported in [here](https://github.com/Expensify/App/issues/11767) is expected

[2022-10-13 01:24] kavimuru opened #11786 "BUG: Copy & pasting the link in Composer field duplicates the link reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open app in browser.
2. Click on any LHN report having Link message.
3. Copy link message using option copy to clipboard
4. P

[2022-10-13 01:26] thienlnam commented on #10693
I know we've had some cursor issues trying to remove setNativeProps to upgrade to fabric https://github.com/Expensify/App/issues/11053.  This might be part of that as well but the issue you linked also could be the cause. In that case though, we can open this back up for proposals

[2022-10-13 01:34] kavimuru opened #11787 "BUG: The invalid incorporation date error message doesn't hide after the initial date selection @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to Profile > Workspace > Connect a bank account > Connect manually
2. Enter a valid routing number and account number
3. C

[2022-10-13 01:36] shawnborton commented on #9971
I think we want to display the avatars like we have mocked up above and not the diagonal stack. I'm happy to create some exact mocks if what we need if that is helpful!

[2022-10-13 01:37] arielgreen commented on #11691
Agree with this. I'm going to close for now. As a new feature, I think we would be implementing this internally anyway, so if anyone disagrees, feel free to reopen. I think this makes sense, but it feels pretty low priority to me.

[2022-10-13 01:37] #11691 closed

[2022-10-13 01:41] arielgreen commented on #10290
Raised thread [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1665625230893549).

[2022-10-13 01:44] arielgreen commented on #8311
@parasharrajat

[2022-10-13 02:04] arielgreen commented on #10625
PR still under review

[2022-10-13 02:07] sobitneupane commented on #11766
Yes. It looks similar. We can close this issue as the fix is already deployed to staging.

[2022-10-13 02:13] sobitneupane commented on #11266
Yes. We can close this issue. It occurred only twice. I believe the issue no longer exists.

[2022-10-13 02:15] Christinadobrzyn commented on #11424
Looks like this is missing the engineering label to determine if it should be external or internal - adding that now!

[2022-10-13 02:41] jliexpensify commented on #11067
Not overdue.

[2022-10-13 02:48] sobitneupane commented on #11486
@fedirjh @danishyasin33 @aimane-chnaif

The issue is existent not only on safari but also on other browsers.

https://user-images.githubusercontent.com/25876548/195486788-b029ef12-18c9-4ad2-94c2-fa9d62cb91d8.mov

[2022-10-13 02:52] hungvu193 commented on #11733
that's why I think we should leave it to `undefined`

[2022-10-13 02:54] jliexpensify commented on #11266
Upworks job removed.

[2022-10-13 03:00] hungvu193 commented on #11786
Guys, I ready to report bugs but I can't do that here, can you guys invite me to slack, I emailed but I didn't saw the response yet, my email is hungvv193@gmail.com

[2022-10-13 03:07] nkuoch commented on #11416
Sorry, I just started to be ooo, so I just basically wanted to Unassign myself and let someone else internal do the triage. Feel free to change.

[2022-10-13 03:11] michaelhaxhiu commented on #11453
Once we get a video, I'll add this to https://github.com/Expensify/App/issues/11768

[2022-10-13 03:12] michaelhaxhiu commented on #11416
Ah I see!

[2022-10-13 03:13] michaelhaxhiu commented on #11416
@techievivek do you think you can help us discern this?
cc @adeel0202 in case you saw the PR too - it's typically a pre-req to pay out a bug reporting bonus. Just to ensure it's truly fixed.

[2022-10-13 03:19] techievivek commented on #11416
Sorry @michaelhaxhiu, I am working limited hours this week so I won't be able to look into it given I am prioritising some PRs related to account manager docs.

[2022-10-13 03:26] mvtglobally commented on #11741
We are almost done. I will have update soon

[2022-10-13 03:28] hungvu193 commented on #11733
@aimane-chnaif No, I don't think so, let take a look at KeyboardAvoidingView component at react native repo:
https://github.com/facebook/react-native/blob/8cdc9e7f04e2dd3026d15dcd5765952bfb2c5c08/Libraries/Components/Keyboard/KeyboardAvoidingView.js#L181-L243
[code]

In this case undefined and "" will have the same effect, but if you use undefined it won't  throw the error because it is included i

[2022-10-13 03:41] strepanier03 commented on #11753
I don't have access to iOS, I'll ask for a tester internally to help me try to reproduce this.

[2022-10-13 03:48] chauchausoup commented on #10975
@kevinksullivan @Gonals I think someone from internal pool fixed it if its not being reproducible. Will I get my compensation as I was the first who raised the issue in the channel ? Also @aimane-chnaif and applause team's initial issue shows that issue was there.

[2022-10-13 03:50] #11554 closed

[2022-10-13 03:50] #11769 closed

[2022-10-13 03:50] christianwen commented on #10731
@Santhosh-Sellavel thanks for highlighting that. The behavior I mentioned is only for iOS, for Android and web it seems to align with your opinion.
Here's the fix for iOS (this should be applied in Expensify's React Native fork, here I show the change in node_modules so it's easy to test locally)
in `node_modules/react-native/Libraries/Text/TextInput/RCTBaseTextInputView.m`:
[code]

with the above

[2022-10-13 03:53] chauchausoup commented on #11505
@tjferriss shouldn,t the **new** tag and the associated green line be vanished once a user clicks on **New Message** button ?

[2022-10-13 03:58] chauchausoup commented on #11514
@mountiny here at my end not even a time delay but the issue is there even on multiple refresh of both web and mobile platforms.
Don't you think thats a bug, that even on refreshing both platforms multiple times the mark as unread is not being synced ?

[2022-10-13 03:58] OSBotify commented on #11741
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11750) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.13-5` :rocket:

[2022-10-13 03:59] strepanier03 commented on #11787
Hmm, I'm having trouble reproducing this. Getting a spinner on staging when trying to load the _Connect a bank account_ page.

Will circle back to this tomorrow.
![2022-10-12_20-58-06 (1)](https://user-images.githubusercontent.com/10925636/195496055-1ef181f4-6f71-484d-a0f8-1b7e3513adbf.gif)

[2022-10-13 04:00] tienifr commented on #11427
@shawnborton Thanks for your review. I have fixed the padding and code to match your provided design, but I can not find the icon like you, now I see the `Mail` icon which seem best match with it. Can you show me where I can see the icon in design, or we can use `Mail` icon in this situation ?

Code change: [tienifr/App: Pull Request 8](https://github.com/tienifr/App/pull/8)

Video demo: [video de

[2022-10-13 04:01] chauchausoup commented on #11516
@madmax330 if you look into the original slack issue reporting video record then the actual issue is found. You can see multiple (in my instance 3) workspace being generated after a delay when workspace creation is clicked at the same time in two platforms.

[2022-10-13 04:02] chauchausoup commented on #11590
Yes I can reproduce it again at my end @sophiepintoraetz as per the video and image references attached above.

[2022-10-13 04:18] yuwenmemon commented on #11741
@mvtglobally that PR getting cherry-picked should unlock the bank account flow 🎉

[2022-10-13 04:22] mvtglobally commented on #11741
Thanks @yuwenmemon. Since it's past midnight EST, I will have team retest it early in the morning

[2022-10-13 04:24] adelekennedy commented on #11199
Still reviewing proposals!

[2022-10-13 04:24] hungvu193 commented on #11733
@aimane-chnaif Ah I see. Since I don't want keyboardAvoidingViewBehavior affect the app, because it changed the value of behavior, I think the best way to do that is adding another props: `enable` and set default to `true`.
[code]
[code]
and disable it in ReportScreen:

[code]

[2022-10-13 04:24] adelekennedy commented on #11104
Not overdue - we just doubled and are waiting for proposals!

[2022-10-13 04:25] adelekennedy commented on #11077
Still waiting on proposals

[2022-10-13 04:28] yuwenmemon commented on #11741
Sounds good @mvtglobally - In the spirit of trying to get a deploy off each day, I'm going to try and QA the remaining PRs myself and see where I can get. Wish me luck! 😅

[2022-10-13 04:28] yuwenmemon commented on #11741
Hopefully, I can give you folks a new version to test tomorrow morning 🎉

[2022-10-13 04:38] yuwenmemon commented on #11770
Tested, and verified this was fixed by the PR above. Closing! ✅

[2022-10-13 04:38] #11770 closed

[2022-10-13 04:39] conorpendergrast commented on #11753
I could reproduce on iOS 16.0.2. New Dot version 1.2.13-4

[2022-10-13 04:47] sophiepintoraetz commented on #11590
@chauchausoup - we need this to be reproducible, given you are the person who reported it, we need an independent reproduction.

[2022-10-13 04:48] sophiepintoraetz commented on #11525
@ctkochan22 - we have a proposal, are we happy to go ahead with it?

[2022-10-13 04:57] tjferriss commented on #11505
My mistake for not sharing the context. I should have brought this discussion back to the #expensify-open-source channel. I'm still working out this new process. Here is the discussion we had in a private channel on the feature.

<img width="366" alt="Screen Shot 2022-10-12 at 9 56 28 PM" src="https://user-images.githubusercontent.com/8292562/195505169-00140fb9-0991-4566-b65e-e7d1c26f4445.png">

[2022-10-13 05:01] sophiepintoraetz commented on #11674
@kavimuru or @wildan-m - can you clarify whether you mean the right-hand side containing the carousel for images **or** the left-hand side that contains the logo (you mention both in the **expected result**, which makes it hard to know what you're referring to).

[2022-10-13 05:06] wildan-m commented on #11674
@sophiepintoraetz, I mean, when the validation toggled, the right logo shouldn't moving, right?

[2022-10-13 05:09] sophiepintoraetz commented on #11674
hmm, but the logo is on the left? There is no right-hand logo?
<img width="950" alt="image" src="https://user-images.githubusercontent.com/42940078/195506903-22b494ce-1112-44b9-8edd-ac52a18c0b5b.png">

[2022-10-13 05:12] OSBotify commented on #11741
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.13-5 has been deployed to staging :tada:

[2022-10-13 05:30] sobitneupane commented on #11236
@Tushu17 Your [proposal](https://github.com/Expensify/App/issues/11236#issuecomment-1275045678) looks good to me as well. As suggested above, lets add margin top to the first text input and remove the margin bottom from description.

@neil-marcellini I think we need Spanish translation of "Please provide your first name" and "Please provide your last name"

[2022-10-13 05:33] yuwenmemon commented on #11741
:shipit:

[2022-10-13 05:33] #11741 closed

[2022-10-13 05:36] OSBotify opened #11793 "Deploy Checklist: New Expensify 2022-10-13"
**Release Version:** `1.2.14-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/11673
- [x] https://github.com/Expensify/App/pull/11700
- [x] https://github.com/Expensify/App/pull/11742
- [x] https://github.com/Expensify/App/pull/11750
- [x] https://gi

[2022-10-13 05:44] smrutiparida commented on #11561
@parasharrajat @mountiny shall we work on it or hold on to this issue ?

[2022-10-13 05:55] wildan-m commented on #11674
@sophiepintoraetz, I mean the image on the right side. "Corporate cards..."

[2022-10-13 06:52] Puneet-here commented on #11317
This is still reproducible at latest development build.

[2022-10-13 07:00] MonilBhavsar commented on #10848
I mean If a new UI component is added, verifying its dimensions are as per our standard (Not sure, but may be a multiple of 8 always)

[2022-10-13 07:01] Puneet-here commented on #11424
@Luke9389, when this issue was reported this was known and was in development and it was reported many times before, @luacmartins had mentioned that it's known and this feature will be implemented after form refactor, which is true the issue would have resolved but because of this mistake of using `onFixTheErrorsPressed` and  `onFixTheErrorsLinkPressed` this wasn't fixed even after the refactor an

[2022-10-13 07:14] ctkochan22 commented on #11525
Whoops! Must have missed that notification. Let me take a look first thing tomorrow

[2022-10-13 07:21] ctkochan22 commented on #11652
@JmillsExpensify did we hire @Puneet-here ?

[2022-10-13 07:46] gadhiyamanan commented on #11411
@MitchExpensify This job is no longer available.

[2022-10-13 08:05] Puneet-here commented on #11776
We will move this field to a new page after implementing push to page.

[2022-10-13 08:30] thesahindia commented on #11525
Sorry for the delay here.

@Uros787, your solution will work but can you tell why this is happening when we download the image?

[2022-10-13 08:31] sobitneupane commented on #11671
All solutions proposed by @fedirjh in [his proposal](https://github.com/Expensify/App/issues/11671#issuecomment-1276338610) solves this issue. I prefer the third solution because it also solves below mentioned issue.

While testing above proposals I found that after signing out from one account and signing in to another account, the unread indicator count from previously signed in account is displ

[2022-10-13 08:39] danishyasin33 commented on #11486
@sobitneupane you're right about the unintended consequences. To fix this, we'll need to pass a prop down from the `BaseAnchorForCommentsOnly` file where we'll define the `TooltipType` as `commentLink`.

This will be passed down all the way to `getTooltipStyles` and whitespace style will be determined by the following condition:
`const tooltipWhiteSpace = tooltipType == 'commentLink' ? 'break-spac

[2022-10-13 08:57] thesahindia commented on #11094
I think we should change this because it doesn't happen at the native app and it's also a problem when you are selecting multiple contacts for creating a group or splitting bill, it will be annoying for the user to keep closing the keyboard when they just wanna select first few contacts.

[2022-10-13 08:57] adeel0202 commented on #11416
@michaelhaxhiu I couldn't find the PR. My guess is that it got fixed from the server end.

[2022-10-13 09:26] OSBotify commented on #11793
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.14-0 :rocket:

[2022-10-13 09:30] iwiznia commented on #11410
If we can reuse, then sounds better, but not exactly sure I follow the LabelComponent proposal

[2022-10-13 09:38] MonilBhavsar commented on #11727
@jliexpensify I wasn't sure if this is really an issue so asked here https://expensify.slack.com/archives/C03TQ48KC/p1665643321931409

[2022-10-13 09:56] Julesssss commented on #11764
Not worth fixing.

[2022-10-13 09:56] #11764 closed

[2022-10-13 09:57] mountiny commented on #11561
I suspect they might be used for web and desktop but what I understood about the native deploy pipeline the app does not get the staging env variables the same way as on web, hence this issue.

@smrutiparida no, this issue is still persistent and would be great to fix it

[2022-10-13 10:01] mountiny commented on #11514
@chauchausoup I wasnt able to reproduce unfortunately :/ for me it syncs fine after couple seconds. However, this can depend on internet speed I am sure.

Additionally we have an internal initiative which will refactor how the logic of unread (amongst other things) works so I would prefer not to dig into this, until that is done. And we also reworking how notifications are handled which might also

[2022-10-13 10:02] mountiny commented on #10181
I agree with paying that out and I dont think either of us necessarily needs to lead the predesign we should just make sure this does not fall through the cracks and it gets done!

[2022-10-13 10:08] mountiny opened #11795 "[Tracker] Selection List Refactor"
### Problem

`OptionRow` component is a beast that handles all the use cases of the App where there is a list of options. This is error-prone and hard to maintain.

### Solution

Let's refactor all different list component variations into 3 new, clean components:

- Phase 1: Radio Button List
   https://github.com/Expensify/App/issues/20352
- Phase 2: Checkbox List
   https://github.com/Expensify/

[2022-10-13 10:08] Uros787 commented on #11525
Hi @thesahindia
yes so for some reason ios has this weird behavior that other people have also encountered and that is after closing a prompt(alert) the keyboard will for some unknown reason prompt.
And one more thing is that Apple actually advises against using alert as a success prompt but as we do we have to use it, I think the best solution would be to just dismiss the keyboard

[2022-10-13 10:08] mountiny commented on #10181
Created a planning issue for this here https://github.com/Expensify/App/issues/11795 so we dont forget about it. Feel free to subscribe to it or take it on if you want to lead this sooner than later!

[2022-10-13 10:12] kavimuru opened #11796 "iOS - User can't add Fidelity bank because of connectivity error message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the New expensify app
2. Sign into a valid account
3. Tap on Profile > Workspace > Connect to bank
4. Select "Plaid" and

[2022-10-13 10:15] Julesssss commented on #11493
THis will definitely be covered by the upcoming doc, but given this seems to be a regression perhaps there also a revert/fix that can be applied in the meantime?

[2022-10-13 10:16] Julesssss commented on #11493
@mallenexpensify here' the tracking issue for collecting Notification issues: https://github.com/Expensify/Expensify/issues/219254

[2022-10-13 10:16] NikkiWines commented on #11732
Yep, sounds like nice, quick improvement. Marking external.

[2022-10-13 10:17] Julesssss commented on #10486
Hey @mdneyazahmad, there are some outstanding comments in the [PR](https://github.com/Expensify/App/pull/10790#issuecomment-1270563182), are you able to take a look? Thanks!

[2022-10-13 10:20] mountiny commented on #11753
Alright I can repro using 1.2.13-5 but reliably only when I am offline (turn on airplane mode), then it happens all the time so it might be related to that component (maybe) or that just exacerbates it.

[2022-10-13 10:20] Julesssss commented on #11691
Agree with this being closed.

This is definitely a nice feature to implement eventually, but it seems pretty low priority for now. I'm not planning on implementing this feature (yet, please raise in the DD if you disagree). But regardless, once the notifications project has been completed it should be relatively trivial to implement.

[2022-10-13 10:20] mountiny commented on #11753
Making this weekly and waiting for proposals

[2022-10-13 10:43] trjExpensify commented on #10931
Haha! All good - agree with that next step.

[2022-10-13 10:45] mananjadhav commented on #11732
Well the feature request looks okay, but I am in two minds if we should even fix this.

Nevertheless if we plan to fix this one, we need to ensure that when I do enter the correct login, we have `Not <login>? Go back`. Clicking on which also takes you back to the login page. I am assuming here we do want the login to be cleared.

https://user-images.githubusercontent.com/3069065/195576849-008341f1

[2022-10-13 10:53] trjExpensify commented on #11236
Ola @iwiznia, can you help us with a Spanish translation for the below?

"Please provide your first name"
"Please provide your last name"

[2022-10-13 10:57] Puneet-here commented on #11787
### Proposal

add `this.clearErrors = inputKeys => ReimbursementAccountUtils.clearErrors(this.props, inputKeys);` after line 41
https://github.com/Expensify/App/blob/8aec877a678d09600e110e0fc7bc597e342ef342/src/pages/ReimbursementAccount/CompanyStep.js#L41
and use `this.clearErrors(['incorporationDate', 'incorporationDateFuture']);` at line 104 instead
https://github.com/Expensify/App/blob/8aec877

[2022-10-13 11:01] fedirjh commented on #11486
@sobitneupane the problem with `white-space: nowrap;`  , it always suppresses line breaks always even when width is set , i have 2 solution

## Solution 1

Since we have the both `tooltipTextWidth` and `maxWidth` . we can set dynamically the white-space to no-wrap if tooltipTextWidth < maxWidth else if tooltipTextWidth exceeds the max width we set white-space to normal (or  break-spaces)

https://

[2022-10-13 11:11] iwiznia commented on #11236
We already have that phrase almost verbatim: [english](https://github.com/Expensify/App/blob/b65b1329f622bfc06aa2da9c4976023eb85d99d7/src/languages/en.js#L956-L957) and I see in spanish we did not include the `so our guides know how to address you` for some reason.
So, we have a few options:
1. Unify both errors into 1 and remove the `so our guides know how to address you` in both spanish and engl

[2022-10-13 11:18] Julesssss commented on #11783
I'm seeing the same issue, and I feel like it used to work correctly 😕 The profile icon is turning grey, so some component seems to be correctly noticing the network change:

<img width="1116" alt="Screenshot 2022-10-13 at 12 05 22" src="https://user-images.githubusercontent.com/10736861/195582028-c1459834-2b4a-4d93-91d9-ffc67b072e5e.png">

Additionally, I have the same issue when disconnecting my

[2022-10-13 11:19] sketchydroide commented on #11237
was busy with other things, will take a look today

[2022-10-13 11:41] flodnv opened #11797 "[Hold for payment 2022-11-15] [$250] Update @svgr/webpack to version 6.0.0"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem

The package `nth-check@1.0.2` has a security vulnerability introduced through `@svgr/webpack@5.5.0`, fixed in `nth-check@2.0.1`
[code]

##

[2022-10-13 11:45] hungvu193 commented on #11797
<b>Proposal</b>

Solution:
Upgrade version at `package.json`.

[code]

[2022-10-13 11:48] flodnv commented on #11204
I think we should upgrade to 19.0.15...?
<img width="1145" alt="image" src="https://user-images.githubusercontent.com/4164921/195588344-989cb05d-b701-44ae-951a-bdc5da35ed1d.png">

[2022-10-13 11:55] michaelhaxhiu commented on #11102
Upwork job - https://www.upwork.com/jobs/~0105a5aec0a694b518

[2022-10-13 11:55] michaelhaxhiu commented on #11337
Doubling

[2022-10-13 11:56] CortneyOfstad commented on #11781
@kavimuru I reviewed the videos and to be honest, I don't see the bug. Can you provide a bit more context into the issue? From what I can see the system is moving smoothly and I don't see this as a bug per se.

[2022-10-13 12:01] trjExpensify commented on #11797
I have a related one, going to take this from you @flaviadefaria.

[2022-10-13 12:01] michaelhaxhiu commented on #11337
We tend to hold these crash issues around $500. Do you agree with that approach @NikkiWines & @sobitneupane ?

[2022-10-13 12:02] trjExpensify commented on #11797
Upwork job here: https://www.upwork.com/jobs/~01615065cda2c02b5a

[2022-10-13 12:05] Santhosh-Sellavel commented on #10202
Invested some time already, unable to find the offending PR will look again.

[2022-10-13 12:08] gadhiyamanan commented on #11797
**Proposal**

update  from `"@svgr/webpack": "^5.5.0"` to `"@svgr/webpack": "^6.0.0"` in `package.json`
https://github.com/Expensify/App/blob/8aec877a678d09600e110e0fc7bc597e342ef342/package.json#L138

**[BREAKING CHANGES](https://github.com/gregberge/svgr/releases/tag/v6.0.0)**

1. Config format of SVGO changes & SVGR does not merge SVGO config
2. Template has a new format
3. core: @svgr/core now

[2022-10-13 12:43] michaelhaxhiu commented on #10181
Let's take the pricing question to the internal #contributor-plus channel and discuss there. It would be good to keep track of precedent here in case similar situations arise in the future.

[2022-10-13 12:51] michaelhaxhiu commented on #11658
cc @marcaaron in case you may have insight to help guide this one.

[2022-10-13 12:54] saivineeth100 commented on #11797
When I raised the [Same issue](https://github.com/Expensify/App/issues/10318#issue-1332909588)  long back , it was not considered
I even shared the issue in slack,
I included other package also ( react-native-svg-transformer) it also uses svgo which is dependent on older version of nth check

[2022-10-13 13:19] michaelhaxhiu commented on #9823
Perfect, will keep an eye for the reproduction attempt. If you can't reproduce let's close it.

[2022-10-13 13:22] flodnv commented on #11797
FWIW, the problem statement is not the same.

[2022-10-13 13:28] madmax330 commented on #11737
Yep looks like when we get back online we stop calling the command to get more chats

[2022-10-13 13:28] madmax330 commented on #11737
I can repro this on my account in staging

[2022-10-13 13:46] bernhardoj commented on #11543
Hi, the pull request is opened. Here is the pull request https://github.com/Expensify/App/pull/11799. Kindly review it! Thanks!

[2022-10-13 14:09] saivineeth100 commented on #11797
Heading is different , but its same
When I posted about @svgr/webpack issue I was said that's not useful p/s
Check comments here
https://expensify.slack.com/archives/C01GTK53T8Q/p1660141537100609?thread_ts=1660141537.100609&cid=C01GTK53T8Q

[2022-10-13 14:15] kavimuru opened #11800 "[$250] Web - New Room -Console error when creating New Room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/

2. Login with expensify account
3. Click on FAB->New Room
4. Enter the data to c

[2022-10-13 14:20] PauloGasparSv commented on #11796
Taking a look at this in the afternoon since right now Fidelity connection is unavailable:

<img width="427" alt="image" src="https://user-images.githubusercontent.com/6564265/195622752-72791871-412e-4f45-a026-c9d9ff8c0642.png">

[2022-10-13 14:21] kavimuru commented on #11781
@CortneyOfstad At the 0:04 second in the video cursor is not autofocused in the message compose field. Not reproduced in web.

https://user-images.githubusercontent.com/43996225/195622946-94b92c30-82fa-441a-95c8-2480dc121b86.mp4

[2022-10-13 14:27] CortneyOfstad commented on #11781
Thanks for the clarification. I'm not sure this is super high priority, as it seems pretty clear to me still, but going to get additional eyes on this just in case.

[2022-10-13 14:29] iwiznia commented on #11346
🤷 let me assign someone from marketing

[2022-10-13 14:38] kavimuru commented on #11453
@michaelhaxhiu added new videos

[2022-10-13 14:39] mallenexpensify commented on #10731
Price Doubled to $2000

[2022-10-13 14:40] kbecciv opened #11801 "[HOLD for payment 2022-11-11] [$250] mWeb- Search -Focus and keyboard dismissed when start searching second user reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue found when executing** https://github.com/Expensify/App/pull/11673

## Action Performed:
1. Go to staging.new.expensifail.com
2. Log in with yo

[2022-10-13 14:42] mallenexpensify commented on #11265
Price Doubled to $1000
https://www.upwork.com/jobs/~01a755aaccee46f8a1

[2022-10-13 14:45] mallenexpensify commented on #10614
Price Doubled to $2000
https://www.upwork.com/jobs/~0147b4bc6294a1fdec

[2022-10-13 14:50] #10272 closed

[2022-10-13 14:50] mallenexpensify commented on #11502
Checkin' on summin.....

[2022-10-13 14:51] michaelhaxhiu commented on #11453
Nice, thank you!

[2022-10-13 14:54] Tushu17 commented on #11236
@trjExpensify Ig we don't need to change spanish copy as error message is already very short.

https://github.com/Expensify/App/blob/44c75aada4405bbff7b1c992e690b616c2c659d4/src/languages/es.js#L958-L959

https://github.com/Expensify/App/blob/373dce8f6be66a732a2e7b6b8a9a99511a0a0cd7/src/languages/en.js#L942-L943

We'll be changing these error message to :-

[code]

 Okay got it 👍🏻

[2022-10-13 14:58] kbecciv opened #11802 "Android- Workspace -Save and Continue button is hidden or partially visible when Connect manually"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with your account
3. Go to Setting - Workspace
4. Select Connect Bank Account
5. Select Connect manua

[2022-10-13 15:00] tgolen commented on #11094
Thank you for pointing out that it's inconsistent with native apps. I tested it out, and you're right. The native behavior is much better and I'd like to make the UX consistent across devices. Reopening!

[2022-10-13 15:01] kbecciv opened #11803 "Web - New Room - A console error when creating New Room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with expensify account
3. Click on FAB->New Room
4. Enter the data to cr

[2022-10-13 15:03] kbecciv commented on #11803
Sorry, we reported the same issue here https://github.com/Expensify/App/issues/11800.
Closing

[2022-10-13 15:05] thesahindia commented on #11352
In my opinion this is fine, I believe we shouldn't add the decimal while they are typing. Also it's not really a real life case.

[2022-10-13 15:08] mallenexpensify commented on #10148
I think this might have been improved but not fixed.  I'm able to reproduce on iOS app, v1.2.14-0 if i paste a large block of text (from [here](https://www.lipsum.com/)), hit send, then **immediately** start typing right after.

@youssef-lr , you worked on https://github.com/Expensify/App/issues/11526   do you think it's related? If so, thoughts on why it's still occurring with large blocks of tex

[2022-10-13 15:12] strepanier03 commented on #11753
I'll make the job today and get it posted.

[2022-10-13 15:13] kbecciv opened #11804 "Web - New Chat - Spaces in the search field are highlighted in blue after pressing the Enter key"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Click on FAB button->New Group
4. Type a few spaces

[2022-10-13 15:25] mallenexpensify commented on #10996
@LucioChavezFuentes , it doesn't matter what you put in, Github is the source of truth for us, we only use Upwork for payments.

[2022-10-13 15:31] iwiznia commented on #11658
We should either reproduce the issue or prioritize getting source maps working (there's an issue somewhere). I don't think we should preemptively change all code that could be the culprit.

[2022-10-13 15:33] mallenexpensify commented on #11330
Price Doubled to $500
https://www.upwork.com/jobs/~011c7454f55e6c9c1f

[2022-10-13 15:34] chauchausoup commented on #11590
@sophiepintoraetz I think the maximum number of profiles that can take part in split bill is 8. So if you try your test with similar number of profiles then I think you might be able to reproduce.

[2022-10-13 15:40] shawnborton commented on #11795
Ah interesting, I was thinking the main issue is mostly because we have a list selection on the screen at the same time as a separate text area. So I wonder if a solution to this whole thing would be to rethink the invite flow where maybe the personal message and selection rows are not on the same screen?

[2022-10-13 15:42] kbecciv opened #11806 "IOS - New Group - User is get highlighted only at the end of email (dot com) after search"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11673

## Action Performed:
1. Launch the app
2. Log in with your account
3. S

[2022-10-13 15:46] parasharrajat commented on #11424
@aimane-chnaif 's [proposal](https://github.com/Expensify/App/issues/11424#issuecomment-1276749957) looks good to me. Let's fix all the instances of this prop name typo.

cc; @NikkiWines

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-10-13 15:48] Puneet-here commented on #9239
Hi, can we settle this as it was a valid bug report.

cc: @MonilBhavsar  @johncschuster

[2022-10-13 15:49] neil-marcellini commented on #11804
According to https://github.com/Expensify/App/pull/11805#issuecomment-1277818962 this is a feature, not a bug, so that the user can start typing a new name and it will clear out what was entered.

[2022-10-13 15:49] #11804 closed

[2022-10-13 15:50] mountiny commented on #11795
that is also part of the problem I would say. Can we combine other inputs with the list input on the same screen? How will it behave? I think this will benefit from the discussion about the push to page navigation decisions

[2022-10-13 15:50] kavimuru opened #11807 "[HOLD for payment] [$1000] Bug: Mobile app still shows workspace after removed from Web reported by @aimane-chnaif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create workspace if not exists
2. Refresh web and mobile apps and confirm that workspace shows
3. Close mobile app
4. Delete

[2022-10-13 15:51] shawnborton commented on #11427
Nice, thanks for putting that together. I think the mail icon you used works just fine, so no worries there.

For this screen here:
<img width="388" alt="image" src="https://user-images.githubusercontent.com/2319350/195644693-20ba8ba3-bc56-4ff8-855f-a4fda6bf22d3.png">

I don't think we need the "Back" text since we have the back arrow in the top left of the modal. And then the green "Resend" butto

[2022-10-13 15:51] kbecciv opened #11808 "[$250] mWeb/Chrome - New Chat - Never-ending loading circle upon New chat / New Group page refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Login with applausetester+pd1005@applause.expensifail.com/ Password1 (I could also

[2022-10-13 15:51] parasharrajat commented on #11658
Yeah, it's really hard to review the proposals for crash issues. I don't have a way to tell if the crash is happening as mentioned in the proposal. @iwiznia Could you please prioritize the source map internal issue?

[2022-10-13 15:53] iwiznia commented on #9293
Another instance of where this is needed https://github.com/Expensify/App/issues/11658#issuecomment-1277830202

[2022-10-13 15:57] sketchydroide commented on #11068
I found on Web that 'isPlaidTestRequestor' is used with the card number the QA used.
But this is on Web, I have no idea why this would not work on the app

[2022-10-13 15:57] sketchydroide commented on #11068
I have found no evidence of us making this test on the App

[2022-10-13 15:58] sketchydroide commented on #11068
@kbecciv is this still an issue?

[2022-10-13 16:07] parasharrajat commented on #10262
Haven't forgotten this one. I need to review a few things but didn't get the time lately. Prioritizing it. :timer_clock:

[2022-10-13 16:10] parasharrajat commented on #11229
@trjExpensify Last update was https://github.com/Expensify/App/issues/11229#issuecomment-1270688154.

[2022-10-13 16:10] sketchydroide commented on #11771
So I was able to replicate. but this seeems to be happening in more than just the `split bill`, I was able to replicate in the `Request Money` and the `Send Money` as well.
Also if you douple tap the requestor (me in my case) it also highlights the `WHO WAS THERE`.
I'm updating the description and the title

[2022-10-13 16:13] sketchydroide commented on #11771
Also this is happening in Web and Desktop, but was not able to replicate on Android.

[2022-10-13 16:13] parasharrajat commented on #11733
@Luke9389 Thanks. Now, I see the motive behind that PR. let me check this quickly.

[2022-10-13 16:14] sketchydroide commented on #11771
setting this as an external

[2022-10-13 16:15] kavimuru opened #11809 "BUG: Mac Safari - Sidebar animation is different reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Goto staging https://staging.new.expensify.com/
2. Click on fab
3. Click request money
4. Enter the amount
5. Click next, and

[2022-10-13 16:25] kavimuru opened #11810 "[HOLD for payment 2022-12-22][$500] Bug: Old dot link without ‘www.’ prefix ( expensify.com/inbox) does not auto signin to old dot reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login to new dot expensify.
2. Send old dot link without ‘www.’ prefix (example: [expensify.com/inbox](http://expensify.com/i

[2022-10-13 16:25] parasharrajat commented on #10290
Yeah, we don't need to hold this.

[2022-10-13 16:30] grgia commented on #11783
I'm also seeing that isOffline is not updating correctly and that the offline indicator/messages greyed out are still reacting to network change

[2022-10-13 16:31] michaelhaxhiu commented on #10290
We have 2 valid proposals that were already provided above, and ready for review @mananjadhav / @srikarparsi

[2022-10-13 16:34] LucioChavezFuentes commented on #10996
Thank you! I accepted the offer on Upwork.

[2022-10-13 16:35] mallenexpensify commented on #11342
This just happened to me again, but it was when there was a weird glitch and NewDot Deskopt showed being offline for a few/handful of seconds.
<img width="896" alt="image" src="https://user-images.githubusercontent.com/22508304/195654145-ed39c446-6b96-4bda-b62d-37a52f861cfd.png">

Gonna reopen, unassign you Tim and add needs reproduction steps.  Not seeing any errors in logs
[lhn not updating to s

[2022-10-13 16:36] trjExpensify commented on #11229
Got it, meaning, despite the clarifications on the intended behaviour we're still not sure on that approach to fixing it.

If we like the approach @aimane-chnaif has put forward, we should close the other issue and fix it as one.

[2022-10-13 16:42] kbecciv commented on #11068
Yes, we still blocked for testing in apps

[2022-10-13 16:44] eVoloshchak commented on #11584
Need to test this one thoroughly, expect a review in 24 hours

[2022-10-13 16:45] melvin-bot[bot] opened #11811 "[$250] Investigate: 💥 Crash 💥 `y`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: JavaScriptError
### Missing bankAccountID when attempting to reset free plan bank account
### `main.jsbundle:1651:903 line 1651` `y`
### Number of Crashes: 1

## Device Information
* **Platforms:** iOS
* **App Versions:** `1.2.14.0`
* **Devices:** Apple iPhone11,6 16.0.0

## Stacktrac

[2022-10-13 16:47] parasharrajat commented on #11733
Ok, I checked again. It will indeed cause that issue. I retract my decision. I like the suggestion from @hungvu193 in https://github.com/Expensify/App/issues/11733#issuecomment-1277010019 to add `enable/disable` behavior but there is another PR that is trying to change this code.

These are two options here.
1. Either we refactor the code following our guidelines and add enable/disable functionali