[2022-11-28 05:33] mananjadhav commented on #11086
Apologies for the delay here. I'll review it by EOD today!

[2022-11-28 06:34] techievivek commented on #11796
Tried this with a new account and I was able to add the account without any issues. @kbecciv what you have shared is not something we can fix from our end, if you can reproduce some error while adding the bank account then that is something concerning for us. If there are no issues while adding the bank account(unrelated to Plaid showing something from their end) things seem to work fine.

@davidc

[2022-11-28 06:39] Christinadobrzyn commented on #12939
Thanks @iwiznia!

Hired the following in the Upwork job - https://www.upwork.com/jobs/~0127ca6f5c680f935b

- @varshamb $250 for reporting
- @Puneet-here $1000 for the fix and it looks like you're eligible for 50% bonus since the PR was raised in three days
- @parasharrajat $1000 for the C+

@varshamb thank you so much for bringing up the proposal in Slack [conversation](https://github.com/Expensif

[2022-11-28 06:48] allroundexperts commented on #13003
@sobitneupane So then we should just use what @Puneet-here suggested?

[2022-11-28 07:04] syedsaroshfarrukhdot commented on #12340
Bumping for bonus.

[2022-11-28 07:20] sobitneupane commented on #13003
@Puneet-here's [Proposal](https://github.com/Expensify/App/issues/13003#issuecomment-1326615859) here looks good to me.

🎀👀🎀 C+ reviewed

cc: @srikarparsi

[2022-11-28 07:39] tienifr commented on #12777
[The PR](https://github.com/Expensify/App/pull/13077) of this issue is created. @PauloGasparSv  Please help to review it. Thanks

[2022-11-28 08:18] tienifr commented on #11893
@dylanexpensify I've accepted the offer, please proceed, thanks!

[2022-11-28 08:20] techievivek commented on #12781
This issue seems to be solved by the PR https://github.com/Expensify/App/pull/12960
@youssef-lr Can you confirm it? So I guess we can focus on displaying the `calculating` state wherever required.

[2022-11-28 08:32] s77rt commented on #13073
### Proposal
[code]
https://github.com/Expensify/expensify-common/blob/main/lib/ExpensiMark.js

### Details
The problem is that the email regex (`autoEmail` rule) treats the special chars such as * and _ as a part of the email since they are valid.
The fix was to alter the regex to capture those special chars in a another group if the email is surrounded by the same chars, as in this case. Modific

[2022-11-28 08:34] Beamanator commented on #11573
Monthly is fine, still waiting for #passwordless to wrap up

[2022-11-28 08:35] Beamanator commented on #11574
Monthly is fine, still waiting for #passwordless to wrap up

[2022-11-28 08:35] Beamanator commented on #11575
Monthly is fine, still waiting for #passwordless to wrap up

[2022-11-28 08:35] Beamanator commented on #11579
Monthly is fine, still waiting for WAQ to wrap up

[2022-11-28 08:35] Beamanator commented on #11580
Monthly is fine, still waiting for WAQ to wrap up

[2022-11-28 08:39] mountiny commented on #11768
Work on Detailed section continues, I am focusing on familiarizing myself with the `react-navigation` library

[2022-11-28 08:43] dylanexpensify commented on #7917
on hold

[2022-11-28 08:44] techievivek commented on #12483
@dylanexpensify Can you please look into paying @aneequeahmad, given he was the one who reported the bug?

[2022-11-28 08:51] Beamanator commented on #13065
@thesahindia thanks for the ping! You're right, the steps need to be updated.

For the record, in [this comment](https://github.com/Expensify/App/issues/11341#issuecomment-1287347519) we decided it's fine & is now expected to show the form's "Close Account" button always, since we'll now show an error if the user clicks it w/out filling out their default login.

Also in that issue (https://github.

[2022-11-28 08:52] mountiny commented on #12850
@aldo-expensify I think there should be details about the report actions though (XYZ requested $0.11 from you)

[2022-11-28 08:54] cristipaval commented on #12952
I'm on it. Aiming to open a PR today

[2022-11-28 08:56] dylanexpensify commented on #12340
Will sort this now!

[2022-11-28 08:57] robertjchen commented on #12045
Great find! Please proceed with the solution @hellohublot 🙏

[2022-11-28 08:57] dylanexpensify commented on #12340
@syedsaroshfarrukhdot sent bonus payment!

[2022-11-28 08:59] syedsaroshfarrukhdot commented on #12340
Thanks Received

[2022-11-28 09:02] mountiny commented on #12340
Wohhooo, thank you very much guys!

[2022-11-28 09:02] #12340 closed

[2022-11-28 09:05] mountiny commented on #12850
I think the issue is that it should not be showing the badge:
<img width="966" alt="image" src="https://user-images.githubusercontent.com/36083550/204235604-76a9fe2c-113e-4cf1-a3de-ddec5df26fee.png">

There is this error in the console which applies to this IOU report, I think this must be related, there are request in the report but total is definitely not $0.11

I am afraid this must be internal

[2022-11-28 09:09] MariaHCD commented on #11850
The PR to show the warning dialog is merged: https://github.com/Expensify/App/pull/12596. Looking into clearing the request queue.

[2022-11-28 09:17] aneequeahmad commented on #11903
Should i raise the PR ? @aimane-chnaif

[2022-11-28 09:18] mountiny commented on #13072
I also cannot reproduce after a fresh sign in in production or in staging 🤷
<img width="1705" alt="image" src="https://user-images.githubusercontent.com/36083550/204239739-b417c713-21b3-44a9-a474-a5616f84a373.png">

[2022-11-28 09:21] techievivek commented on #12363
Not overdue; already looking into it.

[2022-11-28 09:24] MonilBhavsar commented on #11471
PR is merged and followup issue to fix the root cause is here https://github.com/Expensify/App/issues/13074

[2022-11-28 09:26] MonilBhavsar commented on #12151
Waiting for deploy...

[2022-11-28 09:44] robertjchen commented on #11903
Thanks for all the detailed discussion here! After reviewing it, I think we should proceed- please move forward with the PR @aneequeahmad 👍

[2022-11-28 09:51] nkuoch commented on #12618
Not overdue. Cc @sakluger

[2022-11-28 09:55] Beamanator commented on #13065
Ok it looks like we have 2 Test cases dealing with the Close Account page / flow:

[Security - Close Account (Public domain and Phone accounts)](https://expensify.testrail.io/index.php?/cases/view/1971045)

Edits:
1. Remove step `6. Verify the "Close account" button is disabled if nothing is written in the second input`
2. Add a case for:
    1. Without entering anything in the second input, click

[2022-11-28 09:56] Beamanator commented on #12453
Bump @mateocole - has everyone been paid? If so, let's close this out!

[2022-11-28 09:58] dylanexpensify commented on #12776
Back from Thanksgiving break, reviewing today!

[2022-11-28 09:58] dylanexpensify commented on #12708
Back from Thanksgiving break, reviewing today!

[2022-11-28 10:03] dylanexpensify commented on #12598
Catching up now that I'm back from OOO

[2022-11-28 10:03] MonilBhavsar commented on #11810
Reviewing PR's

[2022-11-28 10:03] dylanexpensify commented on #12314
Correct! Getting on this today now that I'm back from OOO!

[2022-11-28 10:09] dylanexpensify commented on #12776
@rushatgabhane can we get a 👍 or 👎 on the proposal today?

[2022-11-28 10:09] dylanexpensify commented on #12708
@Puneet-here can we get an update please 😄

[2022-11-28 10:12] mountiny commented on #12865
@mvtglobally @kbecciv Lets still see if we can reproduce now and  if now, we should close this issue.

[2022-11-28 10:12] MariaHCD commented on #12723
Not overdue

[2022-11-28 10:14] dylanexpensify commented on #13069
Can replicate, making external

[2022-11-28 10:14] dylanexpensify commented on #13069
From this SO: https://stackoverflow.com/c/expensify/questions/14418
- [  ] **The "bug" is actually a bug**: 
- [ ] **The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead)**: 
- [ ] **The bug is reproducible, following the reproduction steps:**
- [ ] **If you’re unable to reproduce the bug, add the _Needs reproduction_ label. Comment

[2022-11-28 10:37] Pujan92 commented on #12951
**Proposal**

Seems the issue occurs when we do the selection of text from rendered DOM, it contains the div tags <div> which might be causing this. 1 option to resolve this, we can take out the `<div></div>` tags by replacing them with empty strings.

https://github.com/Expensify/App/blob/b4f1be977bb4d628ab4b55e4732b2158488dbc82/src/pages/home/report/ContextMenu/ContextMenuActions.js#L112

[code]

[2022-11-28 10:39] MonilBhavsar commented on #12075
PR is merged!

[2022-11-28 10:40] mountiny commented on #12292
The PR was Web PR and by internal employee so at the moment it is not expected to comment I believe.

[2022-11-28 10:42] MonilBhavsar commented on #12075
I think we can close this, or we have to complete the checklist?

[2022-11-28 10:47] mountiny commented on #12717
Still on hold

[2022-11-28 10:51] Julesssss commented on #12622
It was reproducible for me on a brand-new Pixel 6a. Rather than being device specific, I think there are additional requirements to reproduce which we are unaware of.

[2022-11-28 10:52] dylanexpensify commented on #12520
all paid out and contracts ended!

[2022-11-28 10:52] #12520 closed

[2022-11-28 10:59] Beamanator opened #13079 "Investigate Form validation inconsistencies"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

https://user-images.githubusercontent.com/3885503/204261048-719d134f-36a0-427b-b34d-7dff929b415d.mov

## Expected Result:
Descri

[2022-11-28 11:02] Beamanator commented on #13079
Yo @tjferriss - FYI we're discussing if this is an issue or not here: https://expensify.slack.com/archives/C01GTK53T8Q/p1669633176439899?thread_ts=1659440463.665489&cid=C01GTK53T8Q - so this may or may not be a bug :D

[2022-11-28 11:07] s77rt commented on #13075
### Proposal
[code]

### Details
1.  **sendMoney**: The passed reportID is `"0"`
https://github.com/Expensify/App/blob/b4f1be977bb4d628ab4b55e4732b2158488dbc82/src/pages/iou/IOUModal.js#L285-L311

2. **payIOUReport**: `iouReportStuff` is `undefined`
https://github.com/Expensify/App/blob/b4f1be977bb4d628ab4b55e4732b2158488dbc82/src/libs/actions/IOU.js#L714-L716

3. **syncChatAndIOUReports**: return

[2022-11-28 11:09] Julesssss commented on #12770
PR merged, awaiting deployment to prod

[2022-11-28 11:09] nkuoch commented on #13023
I can't reproduce it...
I have my iphone New Expensify app logged with nkuoch@expensify.com on LHN and go on airplane mode.
From my Mac online, on firefox I'm connected with nkuoch@expensifail.com and send a message to nkuoch@expensify.com.
I turn off airplane mode from my iphone app, and see the new message appear. Clicking on the chat, I see it appear too...

https://user-images.githubuserconten

[2022-11-28 11:10] flodnv commented on #13024
Thank you for the discussion everyone. For now let's hold on that discussion, see you there!

[2022-11-28 11:11] Julesssss commented on #13001
Awaiting the merging of dark mode before I investigate further.

[2022-11-28 11:13] nkuoch commented on #7270
Nope, just "We are looking into this and would get back to you as soon as possible.". I bumped them.

[2022-11-28 11:13] isabelastisser commented on #11795
Not overdue.

[2022-11-28 11:14] s77rt commented on #13069
Can you please clarify which is the expected behaviour:
1. Request/Send money should not be available in default-rooms/chatrooms at all
2. Request/Send money should be available in default-rooms/chatrooms if there are 2 or more members, and it should not yield an error

[2022-11-28 11:15] dylanexpensify commented on #11893
@tienifr sent!

[2022-11-28 11:15] dylanexpensify commented on #12483
checking now!

[2022-11-28 11:16] laurenreidexpensify commented on #13044
- This is bug
- I have reproduced on my handset
- This isn't a duplicate
- The write up is complete

Sending to Upwork

[2022-11-28 11:17] dylanexpensify commented on #12483
@aneequeahmad please apply [here](https://www.upwork.com/jobs/~01f2cd487d5457f4a1) and I'll get you sorted!

[2022-11-28 11:20] parasharrajat commented on #11823
PR is awaiting a story to be added.

[2022-11-28 11:25] dylanexpensify commented on #12314
posted regression test buddy check

[2022-11-28 11:26] allroundexperts commented on #13041
Not reproduceable

[2022-11-28 11:28] laurenreidexpensify commented on #12506
Okay added Testing step, closign out!

[2022-11-28 11:28] #12506 closed

[2022-11-28 11:28] laurenreidexpensify commented on #12198
@mollfpr bump do you have an update yet :)

[2022-11-28 11:29] laurenreidexpensify commented on #12026
@s77rt @rushatgabhane ^^ can you pls address @cead22's questions? Thanks

[2022-11-28 11:38] parasharrajat commented on #11908
I think I was not paid the correct amount as per https://github.com/Expensify/App/issues/11908#issuecomment-1311494259. @NicMendonca

[2022-11-28 11:41] Gonals commented on #13022
@Julesssss It certainly `looks` clickable 😆

[2022-11-28 11:46] Gonals commented on #12989
RNPickerSelect is an external component, though, and since [this PR](https://github.com/Expensify/App/pull/12954) will take us to the right element anyways, I think it is fine to just avoid the console error here.

[2022-11-28 11:47] Gonals commented on #12942
Hey people! Please check the linked PRs before working on proposals! I grabbed this last week and the PR has been around since wednesday or so 😬

[2022-11-28 11:52] s77rt commented on #12026
@cead22
1. We want to be able to search users too, not just workplaces, chats. We search users by their display name, email and email without dots.
2. This was used to solve this issue https://github.com/Expensify/App/issues/8007 . I have removed it and used instead (1)
3. Indeed, it seems redundant to calculate the same value over and over, I think it should be moved.
4. You are removing the peri

[2022-11-28 11:53] parasharrajat commented on #8592
Ok, I can see new alternatives being proposed above. Let me check on those.

[2022-11-28 11:55] Beamanator commented on #11063
That's fair, hopefully the PR to support all file types (for web / desktop / mobile web) will get merged soon, then I'll take the issue to fix `bmp` / `gif` images off HOLD, and we can get to work on it (probably from contractors since it seems like a big refactor that'll require updating at least 1 3rd-party lib)

[2022-11-28 12:03] techievivek commented on #12363
Ok, just figured out the issue behind it. It's probably because of this prop `maintainVisibleContentPosition` that gets passed to FlatList [here](https://github.com/Expensify/App/blob/240eca4ce517f57ed5d6a22e6e9b6a340867aa6c/src/components/InvertedFlatList/BaseInvertedFlatList.js#L147).

Looking into the [documentation](https://reactnative.dev/docs/scrollview#maintainvisiblecontentposition-ios) it

[2022-11-28 12:05] Beamanator commented on #12747
Fair, but I'm also potentially thinking that refactoring errors elsewhere is only "necessary" once those errors start showing up in the App. Similar to how we only did API refactors for commands that we use in the App. Know what I mean? Or is this way different since this issue is a much much smaller scope (just making sure HTML tags get stripped from error messages heading to NewDot) :D

Thinking

[2022-11-28 12:15] muttmuure commented on #11068
Can't get the manual flow https://expensify.slack.com/archives/C01GTK53T8Q/p1669637620523379

[2022-11-28 12:18] isabelastisser commented on #11354
@eVoloshchak @parasharrajat , I'm trying to move this issue forward but I'm confused because of the additional issue mentioned [here ](https://expensify.slack.com/archives/C01GTK53T8Q/p1669054027301429):

- Was the original bug fixed?

- I see the job closed in Upwork, was it paid?

@tgolen , what's the progress on the PR?

[2022-11-28 12:20] techievivek commented on #12363
Looking at @roryabraham comment [here](https://github.com/facebook/react-native/pull/29466#issuecomment-1288722179) I think we are already supporting this for Android and that could be the reason we are seeing this behaviour.

@roryabraham Any thoughts on this issue?

[2022-11-28 12:21] flodnv commented on #12724
@aneequeahmad thank you for raising this, which we have discussed internally with Contributor+s.

[Personal time or resources applied towards investigating a proposal will not guarantee compensation as written in contributing.md](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#:~:text=Personal%20time%20or%20resources%20applied%20towards%20investigating%20a%20proposal%

[2022-11-28 12:23] dhairyasenjaliya commented on #11354
@isabelastisser yes the primary purpose of this PR was to add the onEnter event to `<TextLink>` which works well except for one condition where we have a button with 'onPressEnter` added which overrides the enter event of `<TextLink>`, so this particular case I think we have the conclusion to deprioritize since this is that particular condition is more of global and is part of keyboard accessibili

[2022-11-28 12:28] muttmuure commented on #12706
@tylerkaraszewski can we add external?

[2022-11-28 12:30] Julesssss opened #13082 "Implement fully translucent Android status bar"
### Problem

This [related Android PR](https://github.com/Expensify/App/pull/12642) fixes the dark mode status bar issue by hardcoding the status bar colour. This obviously won't work once we allow uses to switch themes, so this needs to be improved with a translucent status colour.

### Solution

Simply use a translucent status bar (with the understanding that this might not work on older Android

[2022-11-28 12:32] abekkala commented on #12511
@neil-marcellini it looks like the PR was merged but the payment wasn't updated for title,  is that correct?

[2022-11-28 12:34] isabelastisser commented on #11688
@eVoloshchak , did you find the offending PR? Thanks!

[2022-11-28 12:34] s77rt commented on #13069
### Proposal
[code]

### Details
Invested the logic a bit, first of all splitBill should be available on every chat, so I moved it.
sendMoney and requestMoney should only be available on one-to-one chats, so I passed `reportChatType` to check if it's a one-to-one chat (empty reportChatType)

[2022-11-28 12:35] Puneet-here commented on #13069
I believe we should simply check if it's a room or policy expense chat as proposed [here](https://github.com/Expensify/App/issues/13069#issuecomment-1328318160).

I think it's simple to add that in the check?
Creating `isPersonalChat` is not needed. What if we add a new chat in future that contains a `chatType` and we want to keep send money and request money option in that?

[2022-11-28 12:36] isabelastisser commented on #12267
bump @roryabraham

[2022-11-28 12:36] mollfpr commented on #12198
Sorry, I miss this issue. I'll make a summary within an hour.

[2022-11-28 12:36] #12075 closed

[2022-11-28 12:42] miljakljajic commented on #12237
Seems like the PR has merged, shall I close?

[2022-11-28 12:42] miljakljajic commented on #12714
Closing!

[2022-11-28 12:49] Julesssss opened #13084 "While resizing, a white window background is shown"
### Problem

When resizing the web window in dark mode there's a very obvious white color as the window background.

https://user-images.githubusercontent.com/10736861/203777318-e21cb0bf-acef-4c3b-bc91-b6346e8fd7fd.mov

_This was pointed out [here on the PR](https://github.com/Expensify/App/pull/12944#pullrequestreview-1193032363), but made a separate issue to help unblock the merge._

### Solutio

[2022-11-28 12:50] dylanexpensify commented on #11908
@parasharrajat sent over amount missing!

[2022-11-28 12:53] Julesssss opened #13085 "[HOLD for payment 2022-12-20] While resizing, a white window background is shown"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
- Resize the web browser window while in dark mode

## Expected Result:
- No obvious white background colour should be displayed

[2022-11-28 12:54] Julesssss commented on #13084
Replacing[ this issue](https://github.com/Expensify/App/issues/13085) with this one to enable the full checklist and bugzero process

[2022-11-28 12:54] #13084 closed

[2022-11-28 12:57] muttmuure commented on #11068
OK this is still happening for apps.

TLDR; We need to add to add 'isPlaidTestRequestor'  to iOS and Android to skip Onfido so Applause can test adding a VBA in apps.

[2022-11-28 12:58] s77rt commented on #13085
I think @shawnborton suggestion will fix this bug.
However if the theme can be dynamically changed an event listener will be required to update the body CSS

[2022-11-28 12:59] maddylewis commented on #11697
@hannojg - i'm going to close this out for now. if it ends up being reproducible, feel free to reopen with your findings.

[2022-11-28 12:59] #11697 closed

[2022-11-28 12:59] Julesssss opened #13086 "[HOLD for payment 2022-12-15] [$1000] Light background colour is shown when navigating between right docked modal pages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
- Open a right docked page on web or desktop
- Navigate deeper into another right docked modal
- Navigate back and forth between

[2022-11-28 12:59] laurenreidexpensify commented on #12712
PR Is merged

[2022-11-28 13:08] techievivek commented on #8589
This issue seems to have gotten fixed with offline support. I just halted my Vagrant, and when refreshed the App, it loads data from Onyx. It does fail with `502` for every command send to backend. But I was not redirected to login page.

<img width="1726" alt="Screenshot 2022-11-28 at 6 34 46 PM" src="https://user-images.githubusercontent.com/35863227/204285356-6c670888-011f-48e8-b4d8-73f822b9244

[2022-11-28 13:15] Someone-here commented on #13044
Yes, I'm trying to replicate and it is smooth on android API 33

[2022-11-28 13:19] miljakljajic commented on #12237
Ah my apologies, Puneet! I forgot that you reported it. I've hired you in Upwork for the job.

[2022-11-28 13:23] #11512 closed

[2022-11-28 13:23] zanyrenney commented on #12911
If this is on HOLD, shouldn't we make it weekly @marcochavezf ?

[2022-11-28 13:23] zanyrenney commented on #12911
Have updated the priority @marcochavezf - let me know if you disagree!

[2022-11-28 13:27] Julesssss commented on #2545
Still held

[2022-11-28 13:28] Julesssss commented on #9252
No change from [the last](https://github.com/Expensify/App/issues/9252#issuecomment-1291828838) update.

[2022-11-28 13:29] miljakljajic commented on #13034
Thank you for the proposa, @s77rt

I was able to reproduce this:

<img width="330" alt="image" src="https://user-images.githubusercontent.com/28715117/204289474-8e9be91b-65e1-4708-b423-d3d26603192a.png">

Adding the engineering triage label to confirm if we can have this worked on externally (and review @s77rt 's proposal if so), I'll then create an upwork job.

[2022-11-28 13:32] Julesssss commented on #12018
Reviewing the PR today

[2022-11-28 13:36] mollfpr commented on #12198
The issue is only reproduced if the chat shows the recipient's local time and we will set `contentContainerStyle` with `padding-top=0`. Also, it not only reproduces when saving the message but also canceling the edited message.

The issue is from the `maintainVisibleContentPosition.autoscrollToTopThreshold` of the `FlatList` component. While `maintainVisibleContentPosition` is used to fix https://

[2022-11-28 13:37] laurenreidexpensify commented on #11341
@Beamanator just so I follow, both @thesahindia and @Puneet-here are due $500 payment for this on 30 Nov right?

I've sort of lost the plot a bit here for whether we need these next steps and who is responsible for first 2, as this issue changed a few times! Can you loop me on :)

- [ ]  The PR that introduced the bug has been identified. Link to the PR:
- [ ]  The offending PR has been commented

[2022-11-28 13:39] iwiznia commented on #12592
To clarify, it's reproducible on older/smaller ipads.

[2022-11-28 13:40] chrispader commented on #10273
I will further investigate this issue and coordinate with @hannojg first 👍

[2022-11-28 13:43] laurenreidexpensify commented on #11341
New job on Upwork here https://www.upwork.com/jobs/~01340bc7f6c1a9b82c

[2022-11-28 13:45] laurenreidexpensify commented on #12782
- [ ] @iwiznia  The PR that introduced the bug has been identified. Link to the PR:
- [ ] @iwiznia The offending PR has been commented on, pointing out the bug it caused and why, so the author and reviewers can learn from the mistake.
- [ ] @iwiznia  A discussion in #expensify-bugs has been started about whether any other steps should be taken (e.g. updating the PR review checklist) in order to ca

[2022-11-28 13:49] Puneet-here commented on #12237
Thanks! I have accepted the offer.

[2022-11-28 14:01] techievivek commented on #8589
@MonilBhavsar Any thoughts on this one?

[2022-11-28 14:09] maddylewis commented on #12713
@Dima-Kevanishvili - sorry for the delay here! i thought i'd sent payment to you already! the payment should have now been processed successfully. please confirm!

[2022-11-28 14:23] JmillsExpensify commented on #12574
@muttmuure Can you issue payment for @mananjadhav. Thanks!

[2022-11-28 14:24] JmillsExpensify commented on #12666
Yo yo! @roryabraham @dangrous don't forget to add BugZero so that @mananjadhav can be paid out for his review in the linked PR. Adding the `Bug` label now and re-opening.

[2022-11-28 14:25] JmillsExpensify commented on #12666
@mateocole Can we get @mananjadhav paid out today for his review of the linked internal PR? Thanks!

[2022-11-28 14:26] joekaufmanexpensify commented on #11916
Same.

[2022-11-28 14:29] danieldoglas commented on #12930
Looking into this today.

[2022-11-28 14:34] kbecciv commented on #13044
@railway17 Device info

![Screenshot_20221128-093317_Settings](https://user-images.githubusercontent.com/93399543/204303887-e5e7f2ea-667f-4a7c-8453-9537a84cba6c.jpg)

[2022-11-28 14:34] iwiznia commented on #11808
It does not seem anyone can reproduce this. Going to close.

[2022-11-28 14:34] #11808 closed

[2022-11-28 14:38] maddylewis commented on #12713
@Dima-Kevanishvili i would reach out to Upwork if you have additional questions about the payment. the job has been marked as paid on this end:
<img width="639" alt="image" src="https://user-images.githubusercontent.com/38016013/204304693-58606140-bcf9-4a44-859c-7cb1eb1b4045.png">
<img width="631" alt="image" src="https://user-images.githubusercontent.com/38016013/204304736-4660132a-2529-4263-b5af

[2022-11-28 14:38] kbecciv commented on #13023
@nkuoch You need to use the mWeb/Safari to reproduce it.

[2022-11-28 14:39] zanyrenney commented on #12692
Hired contributors, waiting on the reviews @aldo-expensify @parasharrajat

[2022-11-28 14:39] kbecciv commented on #12865
@mountiny Let me check with team,, will update you shortly.

[2022-11-28 14:43] aitoraznar commented on #13044
Proposal

My proposal is to not hide the keyboard when pressing "Continue" button. I found the line in which the keybaord is forced to be hidden.

I also tested that the magic link and forgot password pages are shown. Also it works better in iOS.

[code]

[2022-11-28 14:47] maddylewis commented on #12713
yep, here's the link to the new job https://www.upwork.com/jobs/~015e733169d218dbdc

will you apply there and then ill process the payment.

[2022-11-28 14:50] PauloGasparSv commented on #12123
Thks for all the help @kbecciv!!!
Pretty sure I'll have time to work on it this week :D

[2022-11-28 14:52] danieldoglas commented on #12930
Interesting, even considering I am a developer and I have apple certificates, it also breaks for me.

[2022-11-28 14:59] parasharrajat commented on #12692
PR deployed to PROD 5 days back. https://github.com/Expensify/App/pull/12858#issuecomment-1325784980

[2022-11-28 15:00] parasharrajat commented on #12712
Not yet merged. Still discussing some changes on the [PR](https://github.com/Expensify/App/pull/12808).

[2022-11-28 15:02] parasharrajat commented on #12712
@hungvu193 Can you please answer my questions so that I can wrap up the discussion and merge this PR asap?

[2022-11-28 15:03] hungvu193 commented on #12712
@parasharrajat sure, I'll get back to you shortly

[2022-11-28 15:03] maddylewis commented on #12713
@aimane-chnaif - paid!

[2022-11-28 15:05] JmillsExpensify commented on #12775
Here's [another manifestation](https://expensify.slack.com/archives/C03TQ48KC/p1669639790558289?thread_ts=1669401146.808179&cid=C03TQ48KC) of this convo.

[2022-11-28 15:07] Julesssss opened #13087 "Make the Android navigation bar transparent"
### Problem

After merging the dark theme, we realised that the Android navigation bar isn't made transparent and matches the system theme set by the user.

![dark](https://user-images.githubusercontent.com/96077027/204309697-b93bd401-43ed-423b-a1b9-3d8b2604aa49.jpg)

device light mode:

![light](https://user-images.githubusercontent.com/96077027/204309720-b6e13525-a5a4-4e6d-b3ab-42f2c27bd70a.jpg)

[2022-11-28 15:07] danieldoglas commented on #12930
@kidroca just to confirm: did you follow the instructions [here](https://github.com/Expensify/App/tree/main/desktop#setting-up-credentials-for-notarizing-your-build) when doing your build?

[2022-11-28 15:14] danieldoglas commented on #12930
just adding Kidroca`s comment [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667938393491319?thread_ts=1667938306.012479&cid=C01GTK53T8Q).

[code]

[2022-11-28 15:15] tgolen commented on #11094
Great, that's looking really good now. Thanks @s77rt for working on that very diligently. 🟢  to move forward with being hired and creating a PR

[2022-11-28 15:16] danieldoglas commented on #12271
@thesahindia let's move forward with @b1tjoy's proposal.

[2022-11-28 15:24] JmillsExpensify commented on #12891
Firefox isn't an officially supported browser, so closing.

[2022-11-28 15:24] #12891 closed

[2022-11-28 15:25] JmillsExpensify commented on #10884
Firefox is not a supported browser. Closing

[2022-11-28 15:25] #10884 closed

[2022-11-28 15:33] lschurr commented on #12678
@puneetlath - you're OOO this week right?

[2022-11-28 15:39] thesahindia commented on #12271
@Christinadobrzyn, please hire @b1tjoy.

[2022-11-28 15:41] thesahindia commented on #12045
@dylanexpensify, let's hire @hellohublot.

[2022-11-28 15:45] JmillsExpensify commented on #12957
I think we should make this `External` @bfitzexpensify. Can you apply that label so that proposals can be evaluated?

[2022-11-28 15:46] pecanoro commented on #7918
@mdneyazahmad what the last update on this?

[2022-11-28 15:58] robertjchen commented on #12198
Got it, thanks for the summary! I think it's probably a quirk with how the visibility is calculated with the component and having a padding-top > 0 makes all the difference 🤷

Given the current state of things, I'd say we can move forward with this hack for now 👍 but let's make sure it doesn't have any discernible visual effects on the other platforms: desktop/web/android, etc. and if we can have

[2022-11-28 15:59] amyevans commented on #12889
Yes, sorry, I forgot App issues aren't auto-closed when the related PR is deployed!

[2022-11-28 16:03] puneetlath commented on #12554
All paid!

[2022-11-28 16:03] #12554 closed

[2022-11-28 16:03] johncschuster commented on #13073
Coming from the [thread in Slack](https://expensify.slack.com/archives/C049HHMV9SM/p1669359923600849), it looks like we consider this a feature request, but a request worth resolving nonetheless.

[2022-11-28 16:11] techievivek opened #13088 "Opening a chat that was not opened recently while being offline seems to take forever to load"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to newDot.
2. Navigate to one of the chats and from the network tab select `offline` mode.
3. Now click on any other cha

[2022-11-28 16:18] neil-marcellini commented on #12511
Yes

[2022-11-28 16:23] pecanoro commented on #10262
@b1tjoy Let us know when you have reviewed @aldo-expensify message and if you can post an updated proposal, that would be great so I can give you the green light

[2022-11-28 16:23] pecanoro commented on #9505
I was out for Thanksgiving break, I will review it today!

[2022-11-28 16:29] pecanoro commented on #11087
After a discussion [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1669197511103729), @0xmiroslav will be taking over with their proposal, I can take the CME role in this one instead.

[2022-11-28 16:31] mdneyazahmad commented on #7918
@pecanoro waiting on https://github.com/Expensify/App/pull/12370. This will be merged soon, then we can work this issue. Thanks!

[2022-11-28 16:34] jasperhuangg commented on #12451
Taking a look into this one today!

[2022-11-28 16:42] thesahindia commented on #12889
@amyevans, can we re-open? This is eligible for reporting compensation.

[2022-11-28 16:56] sakluger commented on #12291
Hi all, just got back from a long weekend for Thanksgiving holiday and am paying out today.

[2022-11-28 16:57] parasharrajat commented on #8592
I am discussing something with @MonilBhavsar and it might take a day for him to reply as he might not be online now. We will take action as soon as the discussion is over.

[2022-11-28 16:57] mananjadhav commented on #12291
Thanks @sakluger. Hope you enjoyed the holidays!

[2022-11-28 16:59] dylanexpensify commented on #12854
Sorry, @rushatgabhane it looks like @Puneet-here noted he reported this bug earlier than @AndreasBBS did - (the 7th vs the 11th), if so, we'd issue Puneet the reporting bonus. Can you confirm?

[2022-11-28 17:00] Santhosh-Sellavel commented on #12155
We have a proposal and will review it shortly!

[2022-11-28 17:01] Santhosh-Sellavel commented on #10893
Waiting for the intermediate page design!

[2022-11-28 17:02] kbecciv commented on #12865
Issue is not reproduce with build 1.2.32.1

https://user-images.githubusercontent.com/93399543/204337689-736cce80-07e5-48db-b5ff-6560f417a308.mp4

[2022-11-28 17:07] luacmartins commented on #13059
- https://github.com/Expensify/App/pull/12596 nice catch! I think it's fine to check this off and address it on the created issue. It's a minor UI issue that doesn't break any functionality and is only present for a short period of time.
- https://github.com/Expensify/App/pull/12761 seems ok to address on the created issue. Checking it off.
- https://github.com/Expensify/App/pull/12935#issuecommen

[2022-11-28 17:08] neil-marcellini commented on #12000
I tested on staging and it looks like it's no longer reproducible while online, which is kind of odd. I'm not sure how it was fixed  but that's good. However the issue is still reproducible when the workspace is created and renamed while offline. I will update the description.

[2022-11-28 17:08] mvtglobally commented on #13072
asking team to double check

[2022-11-28 17:10] lschurr commented on #12372
Asked here - https://expensify.slack.com/archives/C01SKUP7QR0/p1669655418032769

[2022-11-28 17:11] JmillsExpensify commented on #10893
@NikkiWines @Christinadobrzyn @Santhosh-Sellavel Can I get some context where we decided to work on this feature request? I might have missed it, but I think it's critically important that we focus everyone in our open source ecosystem on bugs right now. It unfortunately means that we need to pause all feature development as a result – as the core of the platform is still shaky and will be until w

[2022-11-28 17:11] sakluger commented on #12291
Thanks @mananjadhav!

Everyone has now been paid, the contract has been completed, and the Upwork post has been closed.

[2022-11-28 17:11] #12291 closed

[2022-11-28 17:12] sakluger commented on #12005
Apologies for the delay, I just returned from the long Thanksgiving holiday weekend. I will review and pay out today as long as everything looks good.

[2022-11-28 17:13] CosminnB commented on #12698
I'm not sure I understand what do you mean by these steps. Could you please expand on that?
As far as I see, the proposal removes the loading screen and shows the skeleton UI up until the data for the sidebar and chat loads, as shown in the mockup. Is anything that should be added to that?

[2022-11-28 17:18] eVoloshchak commented on #11584
Not overdue, will review the proposal tomorrow

[2022-11-28 17:18] sakluger commented on #12005
Hi all, I just noticed that in [this PR comment](https://github.com/Expensify/App/pull/12366#issuecomment-1319529184), @aimane-chnaif suggested we revert the PR for this GH issue, but it was never reverted. Was that suggestion to revert incorrect? Before paying out, I want to make sure that the fix for this issue didn't cause any regressions.

[2022-11-28 17:19] eVoloshchak commented on #11590
Not overdue, progress is being made in https://github.com/Expensify/App/pull/12978

[2022-11-28 17:22] Santhosh-Sellavel commented on #10893
@JmillsExpensify Check this https://github.com/Expensify/App/issues/10893#issuecomment-1320409207

[2022-11-28 17:24] sketchydroide commented on #8710
ok just tried testing this again, and it seems to be working as it's supposed to, so I'm closing this

[2022-11-28 17:24] #8710 closed

[2022-11-28 17:26] sketchydroide commented on #12645
no update for now

[2022-11-28 17:27] amyevans commented on #12889
Right, apologies @thesahindia! @flaviadefaria can you issue payment to @thesahindia please?

[2022-11-28 17:28] sketchydroide commented on #10414
I haven't been able to look at this today, will definetly do tomorrow

[2022-11-28 17:28] eVoloshchak commented on #11688
Sorry, missed this one
It seems like https://github.com/Expensify/App/pull/10929 has introduced this bug

[2022-11-28 17:30] lschurr commented on #12372
Confirmed that since this is on hold/we won't be fixing, we won't be issuing payment. See [this section](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#payment-for-contributions) of the contributing guide.

[2022-11-28 17:30] lschurr commented on #12372
Should this be closed @flodnv?

[2022-11-28 17:32] jasperhuangg commented on #12451
@kbecciv it seems to actually be working as expected when I tested it on `v1.2.32-1`

https://user-images.githubusercontent.com/31285285/204342904-64537b21-1da0-4385-8b3e-9f99706de728.mov

The final values on both clients are correct. Don't mind the replay effect, that's tackled in https://github.com/Expensify/App/issues/12775. Subsequent updates to the values also work.

For these types of issues

[2022-11-28 17:34] #12451 closed

[2022-11-28 17:34] luacmartins commented on #13072
@mvtglobally were you able to reproduce the issue?

[2022-11-28 17:35] parasharrajat commented on #10414
I am not able to reproduce this. Installing SDK 16 to test.

[2022-11-28 17:36] mountiny commented on #12865
I think we can close this one then, lets reopen it if this can be reproduced again.

[2022-11-28 17:36] #12865 closed

[2022-11-28 17:38] luacmartins commented on #13059
I see [this "new" issue](https://console.firebase.google.com/u/0/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/f1a338347d99c50d3ab9b6536692f04d?time=last-seven-days&versions=1.2.32-1%20(1001023201)&sessionEventKey=63822E3C006500016042122D3ABBB6F6_1748794769001923598) in Firebase. The [offending PR](https://github.com/Expensify/App/pull/12124) has been on prod for almost

[2022-11-28 17:44] luacmartins commented on #13048
We fixed this internally and the fix is merged already.

[2022-11-28 17:45] mvtglobally commented on #13072
@luacmartins Team is still able to repro with High traffic account

https://user-images.githubusercontent.com/43995119/204345595-dbadf895-cbd8-4610-b63f-51b06bc033f2.mp4

[2022-11-28 17:46] railway17 commented on #13044
### Proposal

#### 1. Reproducible.
I could reproduce this issue in smaller devices as I mentioned before:
The smaller,  the easier reproducible like below video.
https://www.loom.com/share/a55a68a30c7d4bd6b6813c2a703735f9. (My emulators are Galaxy Nexus 4.65", Pixel 3a 5.6" (_similar to @kbecciv 's testing device size_), Pixel 4)

#### 2. Why issue reproduced?
It is why Keyboard is hidden when su

[2022-11-28 17:49] eVoloshchak commented on #12152
Not overdue, PR has been deployed to staging

[2022-11-28 17:50] eVoloshchak commented on #12246
Not overdue, PR has been deployed to production 5 days ago

[2022-11-28 17:53] mountiny commented on #13072
This would have to be related to [this PR](https://github.com/Expensify/App/pull/12761), however, with the migration there, I am not sure if reverting would be best option.

Given the nature of this bug and the fact the PR is part of a broader initiative to fix way worse issue, I would vote for treating this as Bug but not as a deploy blocker

[2022-11-28 17:55] kidroca commented on #12930
Yeah, I think this is the related electron issue
- https://github.com/electron/electron/issues/35355

This is what I've found out so far:

We're using `hardenedRuntime`:
https://github.com/Expensify/App/blob/a3e8db6fbc11658ff25c6513534ea664de29d1e6/config/electronBuilder.config.js#L36

https://developer.apple.com/documentation/security/hardened_runtime

I think the fix I shared earlier https://git

[2022-11-28 17:56] JmillsExpensify commented on #10614
Re-opening this issue so that contributor and C+ can be paid for work done thus far – even if we aren't going to push the PR forward due to roadmap priorities. In short, this is a special case where we didn't close this issue in the beginning week, clarified our priorities as time when on, and then closed it. As a result, we'll provide some compensation to reflect to changes. More specifics to com

[2022-11-28 17:59] danieldoglas commented on #12930
@kidroca thanks for further explaining. I think we can apply that solution, since I was able to simulate it as well.

Do you want to bring up a PR?

[2022-11-28 18:01] kidroca commented on #12930
Yes, though I can submit a PR tomorrow, is that OK?

[2022-11-28 18:01] danieldoglas commented on #12930
Yep, no problem!

[2022-11-28 18:02] JmillsExpensify commented on #12000
Thanks! I'll also take this over as part of the broader tracking initiative. Feel free to assign yourself to #12775 as well.

[2022-11-28 18:06] thienlnam opened #13091 "[$1000] [Test IGNORE] Test quotes in "issue title" and ''"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-11-28 18:07] thienlnam commented on #13091
Was QAing for this https://github.com/Expensify/Web-Expensify/pull/35626

[2022-11-28 18:07] #13091 closed

[2022-11-28 18:12] cead22 commented on #12026
I don't follow this, can you rephrase?

Also, do you need to update your proposal based on these last few comments?

[2022-11-28 18:14] jasperhuangg commented on #12594
@kbecciv if you sign iin with the Olddot sign in portal afterwards it actually navigates you to NewDot:

https://user-images.githubusercontent.com/31285285/204350530-48ac52ec-3d38-44d5-9233-22be54aad04a.mov

Closing

[2022-11-28 18:16] roryabraham commented on #12267
I put up a [draft PR](https://github.com/Expensify/App/pull/12983) with my solution to this issue. It just needs to be fully tested w/ screenshots and then it will be ready for review.

[2022-11-28 18:17] chiragsalian commented on #11542
Closing since the issue hasn't been reproducible in a while. If it does feel free to reopen.

[2022-11-28 18:17] #11542 closed

[2022-11-28 18:17] roryabraham commented on #11192
Log into NewDot on web
Navigate to any chat
Click the grey plus button to the left of the chat input
Choose add attachment and choose a jpeg/png file
Open the attachment
Zoom & grab the image, leaving the grab outside of the image
Verify that the cursor doesn't remain in a grabbed state

These steps seem accurate, I don't see why we wouldn't want to add them to the regression suite.

[2022-11-28 18:33] roryabraham commented on #6306
On HOLD for WAQ

[2022-11-28 18:33] huzaifa-99 commented on #13044
### Proposal
We are always hiding the keyboard when going from `LoginForm` to `PasswordForm` screen. The reason why we are hiding keyboard has roots in this PR https://github.com/Expensify/App/pull/7604.

In #7604 we added a change to hide keyboard when going from `LoginForm` to `ResetValidationForm` screen (creating a new account) which is a nice thing, but this change also made the keyboard hidd

[2022-11-28 18:34] roryabraham commented on #12118
This was done in https://github.com/Expensify/App/pull/12817, just awaiting production deploy

[2022-11-28 18:34] roryabraham commented on #12021
Putting this on HOLD for WAQ

[2022-11-28 18:34] roryabraham commented on #10214
Putting this on HOLD for WAQ

[2022-11-28 18:36] JmillsExpensify commented on #11087
Pulling from the Slack discussion, I wanted to clarify that the next steps are:

 - @tgolen has been added to this issue to help review the PR
 - @0xmiroslav has an approved proposal and is now assigned to this issue.

Let's get that PR merged in 3 days! As a reminder that triggers a 50% bonus.

[2022-11-28 18:36] grgia commented on #12957
I added the External label! Should be good for proposals

[2022-11-28 18:41] abekkala commented on #9581
@luacmartins I'm having a hard time determining if there is a tests section that matches this in TestRail. I've looked under the `Request Money and Split bills` section.
Not only am I having a hard time determining a matching test, I'm not sure what the test steps would be as this GH wasn't necessarily I bug reproduction.
Does this even require a regression test?

[2022-11-28 18:43] CosminnB commented on #12698
@aimane-chnaif Yeah, so I will presume you are referring to this loading indicator here:
https://github.com/Expensify/App/blob/e82bcf6574c4af2bfe7daa175a69988c1787cd81/src/libs/Navigation/NavigationRoot.js#L57-L62
That will still be in place, although I couldn't see it being rendered at any point.
The following loading indicator after the one above is the one from here, which I mentioned in my pro

[2022-11-28 18:45] s77rt commented on #12026
@cead22
Search without periods is only needed for emails. That's why I added another value to `getSearchText`.

To explain what I meant, here is an example: search for "hello.test":

- With my proposal:
    1. Check if "hello.test" is included in chat
    2. Check if "hello.test" is included in workspace names
    3. Check if "hello.test" is included in user display name
    4. Check if "hello.tes

[2022-11-28 18:46] thesahindia commented on #13044
@huzaifa-99

[2022-11-28 18:46] thienlnam opened #13092 "[TEST IGNORE][$2000] Setting price in title test"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-11-28 18:48] thienlnam commented on #13092
![Screen Shot 2022-11-28 at 10 47 53 AM](https://user-images.githubusercontent.com/30609178/204356487-e8d26bf0-844e-4aef-8b3b-1e2bb2196bfd.png)

QAing for https://github.com/Expensify/Web-Expensify/pull/35616

[2022-11-28 18:48] #13092 closed

[2022-11-28 18:48] aldo-expensify commented on #12850
Ohh, good catch @mountiny, agreed

[2022-11-28 18:56] slafortune commented on #11414
Paid @rushatgabhane waiting on @Puneet-here to send payment.

[2022-11-28 18:58] maddylewis commented on #13074
Managing a BUG issue

From  this  SO: https://stackoverflow.com/c/expensify/questions/14418
_______
- [ ] Confirm the "bug" is actually a  bug
- [ ] Confirm the  bug is  not  a  duplicate  report of  an existing  GH (close  the  GH  and  add  any  relevant  details  to  the  original  GH ) 
- [ ] The  bug  is  reproducible

**If you’re unable  to  reproduce  the  bug:**
-  [ ] Add  the `Needs repr

[2022-11-28 18:59] Puneet-here commented on #11414
Accepted the offer, thanks!

[2022-11-28 19:00] slafortune commented on #12523
Ah - agreed!  https://expensify.slack.com/archives/C01GTK53T8Q/p1668730285445209

[2022-11-28 19:00] #12523 closed

[2022-11-28 19:01] parasharrajat commented on #7916
Suggested PR improvements and requested more details on the changes. I will approve as soon as my doubts are cleared.

[2022-11-28 19:02] tjferriss commented on #12893
I don't have an Android device. How would you suggest reproducing the bug?

[2022-11-28 19:02] parasharrajat commented on #13075
@s77rt Do you mind adding some details and explanations to your proposal?

[2022-11-28 19:05] mananjadhav commented on #12893
@tjferriss do you have an Android emulator or say Browserstack login? You can then reproduce this. This occurs only on Android. Second video on the issue body is from my Android device.

[2022-11-28 19:09] Beamanator commented on #13006
I like these ideas (prefer asking for a smaller image) - added my comments in Slack!

[2022-11-28 19:10] aldo-expensify commented on #12893
Maybe this will get fixed once the PR https://github.com/Expensify/App/pull/12648 gets re-done and we use fast-image.. maybe

[2022-11-28 19:10] s77rt commented on #13075
@parasharrajat Sorry, I thought it was clear.

When you send money, the function `sendMoney` is called, and this calls `payIOUReport` which calls `syncChatAndIOUReports`.
`syncChatAndIOUReports` is supposed to (as stated in the name) sync the local stored data in onyx, but it's returning early due to `iouReport` being `undefined`. `iouReport` is `undefined` because `response.reports[reportID]` doe

[2022-11-28 19:10] roryabraham commented on #7284
This is fixed

[2022-11-28 19:10] #7284 closed

[2022-11-28 19:11] grgia commented on #12915
This should be fixed with the dark mode merge. (currently in DEV)

[2022-11-28 19:11] #12915 closed

[2022-11-28 19:12] roryabraham commented on #12392
My [upstream fix](https://github.com/8398a7/action-slack/pull/230) was merged over the weekend. I'll keep this open for now to switch from the workaround to the upstream fix.

[2022-11-28 19:13] grgia commented on #12910
Should be fixed with dark mode merge. (currently in DEV)

[2022-11-28 19:13] #12910 closed

[2022-11-28 19:14] s77rt commented on #13075
Maybe the title is not clear or misleading.
The last message (before sending the money) is untouched, it will stay marked as read.
The new message (the sent payment report) is marked as unread
You can confirm by locating the NEW marker in the video, what's below it is the unread part.

[2022-11-28 19:16] s77rt commented on #10414
@parasharrajat

[2022-11-28 19:16] parasharrajat commented on #13075
Thanks for the details.

We are doing [some API refactors](https://expensify.slack.com/archives/C01GTK53T8Q/p1669652735069499) for IOUs. I am not sure what is being changed. If we are getting away from the Deprecated API on IOU, it might be affected. @mountiny Do you think that refactor will affect this issue?

[2022-11-28 19:17] Beamanator commented on #11778
Oooops so sorry for the delay!! Will have an update soon

[2022-11-28 19:18] mananjadhav commented on #12893
Well I tested this when #12648 was worked upon and it wasn't resolved. In fact I found this issue, while testing the same PR. We can still put this on hold, and come back again if you think that's the best option.

[2022-11-28 19:18] tjferriss commented on #12961
@sobitneupane looks like we have an initial proposal to review. Can you take a look?

[2022-11-28 19:23] roryabraham commented on #12666
Not overdue, awaiting payment

[2022-11-28 19:24] tjferriss commented on #12340
@NicMendonca and @dylanexpensify thank you for the assist on processing payment :)

[2022-11-28 19:24] aldo-expensify commented on #12893
No, given that you already saw that this doesn't get fixed, ignore my previous comment :P

[2022-11-28 19:24] s77rt commented on #13088
I don't think the expected results make sense.
What if you had a chat with that user but you are just in another device?

I don't think this qualifies as a bug

[2022-11-28 19:26] JmillsExpensify commented on #11701
@tgolen Do you think you'll have time to circle back and merge this PR this week?

[2022-11-28 19:27] JmillsExpensify commented on #11094
Awesome! @mananjadhav get we hire @s77rt? Let's get this PR merged in three days and quality for the 50% bonus.

[2022-11-28 19:27] mananjadhav commented on #11336
@aimane-chnaif Can we look into the reported regressions and fix up with a new PR?

[2022-11-28 19:28] luacmartins commented on #13072
Fix [here](https://github.com/Expensify/App/pull/13093)

[2022-11-28 19:28] JmillsExpensify commented on #11391
Though this is still low on the priority list, @hannojg this is a good one to pick up this week so I'm going to assign you.

[2022-11-28 19:30] mananjadhav commented on #11094
Yes @JmillsExpensify. I approved the proposal [here](https://github.com/Expensify/App/issues/11094?notification_referrer_id=NT_kwDOAC7UibI0NDI3MjY1ODAxOjMwNjkwNjU&notifications_query=is%3Aunread#issuecomment-1326485608) and commented on the updated proposal [here](https://github.com/Expensify/App/issues/11094?notification_referrer_id=NT_kwDOAC7UibI0NDI3MjY1ODAxOjMwNjkwNjU&notifications_query=is%3A

[2022-11-28 19:33] whroyal commented on #11341
@Puneet-here, can you check if it works fine after the refactor and share some code here. Screen recording will be great.
Sounds good, I'll make sure the final payment issued is $500, pls ignore the current price in Upwork

[2022-11-28 19:35] deetergp commented on #11970
Still on hold. Setting this to weekly till we take it off hold.

[2022-11-28 19:36] JmillsExpensify commented on #12271
@thesahindia Can you also please assign @b1tjoy to this issue. Thanks!

[2022-11-28 19:37] roryabraham commented on #11694
Sorry, I think there was a miscommunication here @trjExpensify. The PR I put up was a step in the right direction, but not a solution to this issue.

Also the [upstream fix](https://github.com/Expensify/react-native-web/pull/9) was merged in our fork, but in the actual react-native-web upstream, the maintainer has stopped accepting pull requests in the VirtualizedList components. I think the plan

[2022-11-28 19:40] amyevans commented on #13022
Nope.

To @Julesssss point though, it doesn't make sense for `Split` to be (or appear to be) hyperlinked somewhere, because there's no one place to take the user. So I'd vote we remove the hyperlink styles on the word `Split`.

[2022-11-28 19:42] roryabraham commented on #10962
Removing https://github.com/Expensify/App/issues/8503 because it's being handled by SWM now

[2022-11-28 19:43] arielgreen commented on #8311
@parasharrajat is reviewing this today.

[2022-11-28 19:44] aldo-expensify commented on #10262
@pecanoro I just finished testing if replacing `<br />` by `\n` when it comes to urban airship notifications breaks something, and it doesn't... IMO it looks better as it is closer to the original message.

This PR replaced `<br />` for whitespaces in urban airship notifications: https://github.com/Expensify/Web-Expensify/pull/31071. If I understand correctly, this was done to replicate the behavi

[2022-11-28 19:44] roryabraham commented on #10962
Removing https://github.com/Expensify/App/issues/10273 because it was primarily done by @tgolen, not Margelo

[2022-11-28 19:47] roryabraham commented on #10962
Chatted with @JmillsExpensify – this issue is prettymuch serving the same purpose as Margelo's [regular slack updates](https://expensify.slack.com/archives/C035J5C9FAP/p1669654769867739) here. Rather than maintaining these multiple sources of truth, I'm actually going to just close this issue for now.

[2022-11-28 19:47] #10962 closed

[2022-11-28 19:48] jasperhuangg commented on #12573
Hey guys, I can repro! @jliexpensify notice how the symbol changes from `CA$` to `C$` at roughly the 4 second mark on the money request report item in the background:

https://user-images.githubusercontent.com/31285285/204367138-a672ca88-cb75-40d8-8583-c2dbe82830bb.mov

[2022-11-28 19:48] mananjadhav commented on #11346
@JmillsExpensify Did you get any updates on this one?

[2022-11-28 19:49] roryabraham commented on #8503
Regular updates coming in on slack, but it sounds like the main things happening right now are:

- Migrating picker
- Migrating `progress-bar-android`

[2022-11-28 19:49] jasperhuangg commented on #12573
Will be looking into this one today myself, but feel free to submit proposals if I haven't submitted a PR yet!

[2022-11-28 19:50] necolas commented on #12603
How would you expect to do this if image loading worked as it does natively on the web, i.e., just props on `<img>`?

[2022-11-28 19:51] OSBotify commented on #13059
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/13093) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.32-2` :rocket:

[2022-11-28 19:54] Santhosh-Sellavel commented on #12283
@s77rt Thanks for the proposal.

I'm not sure this is the right path

Can you elaborate more on how this address the issue? What really happens when switching?

Have you submitted the PR on react-native-image-picker repo?  If not, please raise a PR to let's hear from them too!

[2022-11-28 19:56] roryabraham commented on #8503
Going to unassign @stitesExpensify and myself from this, because this is being handled by @j-piasecki and @WoLewicki going forward.

[2022-11-28 19:57] luacmartins commented on #9581
@abekkala thanks for checking. This PR should already be covererd in the regression tests for `Add/Delete Bank account` so we should be good here!

[2022-11-28 19:59] jasperhuangg commented on #12573
Actually, this one might have to be internal, it looks like there's a mismatch between the optimistic report action we're building in the front-end and the one that's returned from `OpenReport`.

[2022-11-28 20:00] roryabraham commented on #10679
Putting this on HOLD for now for WAQ.

[2022-11-28 20:01] kadiealexander commented on #10614
https://www.upwork.com/jobs/~01de9b25318ad18146 @Santhosh-Sellavel please apply here.

I don't think any contributors were assigned to this job from reading the comment thread, but if I'm mistaken please let me know.

[2022-11-28 20:04] parasharrajat commented on #10414
I can reproduce it now. Took some time to cleanup the old Xcode and install the new one.

[2022-11-28 20:04] s77rt commented on #12283
@Santhosh-Sellavel
I think I have already stated the reason for switching. Which is to use the JPEG format and not the HEIC format.

It's either:
1. Use HEIC then convert it to JPEG using `UIImageJPEGRepresentation`
2. Use directly the provided JPEG format

The first approach is inefficient and results in a bigger file unless we carefully choose the quality.
The second approach is better since the

[2022-11-28 20:04] Beamanator commented on #11778
Ok ok so I believeee I'm seeing the issue on iOS (still not on web or Android for some reason) and here's what I'm thinking the problem is: when I followed the steps to reproduce (go offline, update priority mode, go back online) in web, I saw these 3 API commands being called, in this order:

<img width="457" alt="Screen Shot 2022-11-28 at 9 58 24 PM" src="https://user-images.githubusercontent.co

[2022-11-28 20:05] Santhosh-Sellavel commented on #10614
@kadiealexander @cowboycito was the contributor here.

@cowboycito please apply for the job above thanks!

[2022-11-28 20:08] cowboycito commented on #10614
@Santhosh-Sellavel @kadiealexander applied

[2022-11-28 20:10] luacmartins commented on #13059
Tested https://github.com/Expensify/App/pull/13093 and it seems to be working!

[2022-11-28 20:10] JmillsExpensify commented on #11094
Nice, thank you! I thought you could assign, though clearly I'm wrong about that. T minus 3 days to get this merged!

[2022-11-28 20:10] luacmartins commented on #13072
Closing this issue since the PR was merged!

[2022-11-28 20:10] #13072 closed

[2022-11-28 20:11] kadiealexander commented on #10614
Offers have been sent to both of you (thank you!), please accept and I'll issue payment :)

[2022-11-28 20:12] tjferriss commented on #11768
I have read and reviewed this Design Doc!

[2022-11-28 20:12] luacmartins commented on #13059
:shipit:

[2022-11-28 20:12] #13059 closed

[2022-11-28 20:12] tjferriss commented on #12835
Done

[2022-11-28 20:12] #12835 closed

[2022-11-28 20:14] kadiealexander commented on #10614
Everyone is paid! Thanks a bunch for your work on this one @cowboycito and @Santhosh-Sellavel 🎉

[2022-11-28 20:14] #10614 closed

[2022-11-28 20:16] OSBotify opened #13099 "Deploy Checklist: New Expensify 2022-11-28"
**Release Version:** `1.2.33-7`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/12425
- [x] https://github.com/Expensify/App/pull/12642
- [x] https://github.com/Expensify/App/pull/12871
- [x] https://github.com/Expensify/App/pull/12944
- [x] https://gi

[2022-11-28 20:18] cowboycito commented on #10614
@kadiealexander @Santhosh-Sellavel  thank you so much for doing this, I really appreciate it!

[2022-11-28 20:23] Santhosh-Sellavel commented on #12283
@s77rt

[code]
Can you share any supporting doc for this?

[2022-11-28 20:24] Santhosh-Sellavel commented on #10731
@christianwen Any update?

[2022-11-28 20:26] roryabraham commented on #12235
Yeah, that is not great. This isn't a high priority so only work on it where you have spare cycles for now but keep me posted and I can review a PR.

[2022-11-28 20:30] roryabraham commented on #12210
Dropping this since @Julesssss has been acting as the CME for this issue.

[2022-11-28 20:35] joekaufmanexpensify commented on #13066
Triaging this now:

From this SO: https://stackoverflow.com/c/expensify/questions/14418
- [ ] **The "bug" is actually a bug**:
- [ ] **The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead)**:
- [ ] **The bug is reproducible, following the reproduction steps:**
- [ ] **If you're unable to reproduce the bug, add the _Needs reproductio

[2022-11-28 20:37] marcochavezf commented on #12292
Yeah the fix was in Web PR and it was already deployed to [production](https://github.com/Expensify/Web-Expensify/pull/35618#issuecomment-1323729058), so we can consider this one as done.

I'm going to close the other App PR atm to avoid confusion. There's a pending [cleanup](https://expensify.slack.com/archives/C01GTK53T8Q/p1669135155097129?thread_ts=1669028275.471049&cid=C01GTK53T8Q) for the Pay

[2022-11-28 20:38] roryabraham commented on #11997
Unassigning myself from this issue, because we completed the predesign and I'm not going to implement it myself.

[2022-11-28 20:38] shawnborton commented on #10893
Here is a design idea:
![image](https://user-images.githubusercontent.com/2319350/204376163-16c887c9-aa8f-45e2-a008-d6cd2fbd74f9.png)

[2022-11-28 20:40] Santhosh-Sellavel commented on #12155
@tgolen this is more like a feature than a bug, shall we proceed with this?

@eh2077 Not working for me, can you check and update please thanks!

[2022-11-28 20:40] shawnborton commented on #12963
I'm not sure what caused it to work before and not work anymore. But yeah, I think we want to make sure there is transparency and not a background color around the home bar.

[2022-11-28 20:41] roryabraham commented on #11877
Anyone can continue working on this, but I'm not going to prioritize it right now. Adding it to the [tracking issue](https://github.com/Expensify/App/issues/12021) and dropping it for now.

[2022-11-28 20:41] shawnborton commented on #12261
We discussed this previously and agreed that it makes sense to get started with Augenblick on this because we can do that in parallel to WAQ without needing Engineering resources. That being said, I can see an argument for Rory to hold off on doing any kind of engineering testing here given that he should be prioritizing WAQ. I still think it makes sense for us to be doing this work with Augenblic

[2022-11-28 20:44] roryabraham commented on #11689
This was deployed to production 5 days ago. cc @tjferriss

[2022-11-28 20:46] roryabraham commented on #11262
I think this is fixed now, the BugZero checklist is all that's left to do here.

[2022-11-28 20:49] roryabraham commented on #10793
I'm unassigning myself from this, but there are a lot of reviews on https://github.com/Expensify/react-native-onyx/pull/211. Feels like we are pretty close there. Let's get it over the finish line!

[2022-11-28 20:49] joekaufmanexpensify commented on #13066
I can reproduce this on web. Added some more detail to reproduction steps. This is a niche bug. I am not sure it's likely a user would ever experience this. However, I think we will still proceed nonetheless. Confirming that is correct in Slack. before proceeding.

[2022-11-28 20:56] s77rt commented on #11094
Applied in [Upwork](https://www.upwork.com/jobs/~0124bea2e5e1d56e2b) (50% bonus)
[PR](https://github.com/Expensify/App/pull/13101) is ready

[2022-11-28 20:56] joekaufmanexpensify commented on #13066
My thinking is this should be external. Assigning to engineering to confirm!

[2022-11-28 20:57] Santhosh-Sellavel commented on #13069
Will get to this tomorrow!

[2022-11-28 20:57] Someone-here commented on #12018
@eVoloshchak @Julesssss Sorry for the inconvenience but I closed the PR by mistake while trying to sync the repo with main. Let me just open a new PR for that

[2022-11-28 20:57] OSBotify commented on #13059
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.32-2 has been deployed to staging :tada:

[2022-11-28 20:58] parasharrajat commented on #10262
Agree, hold this until https://github.com/Expensify/expensify-common/pull/474 is merged. Only then we can pick up from Aldo's work.

[2022-11-28 20:58] stitesExpensify commented on #12776
I like @bernhardoj proposal! Let's go ahead and get him hired!

[2022-11-28 21:00] conorpendergrast commented on #11852
Oh yikes, sorry for the timing here - I was OoO last week! I'll get this paid today

[2022-11-28 21:02] getusha commented on #12957
# Proposal
We needed
1. to center the picker icon
2. to make the clickable are more reachable.

The following is clean and precise way which solves both problems.
this padding centers the icon and makes it's range clickable.

[code]

[2022-11-28 21:02] s77rt commented on #12283
@Santhosh-Sellavel
For what exactly? the statement is clear, does not need an external docs.

PHPickerConfigurationAssetRepresentationModeCurrent will select the original format for every file.
PHPickerConfigurationAssetRepresentationModeAutomatic will select the format automatically
PHPickerConfigurationAssetRepresentationModeCompatible will select the most compatible format

You don't want to us

[2022-11-28 21:03] luacmartins commented on #12969
I'm getting a `Transaction not found` error, which indicates that the transaction had already been cancelled.
![Screenshot 2022-11-28 at 1 58 46 PM](https://user-images.githubusercontent.com/22219519/204379683-a6b6a39c-89e1-4931-83e0-400e76c61ca2.png)

I'll look into why those transactions still show as cancellable tomorrow!

[2022-11-28 21:05] luacmartins commented on #12950
Thanks! I'll get to this tomorrow!

[2022-11-28 21:06] luacmartins commented on #6883
Asked for an update [here](https://github.com/Expensify/react-native-key-command/pull/10)

[2022-11-28 21:08] johnmlee101 commented on #13066
Yep, confirmed. At first I thought it was the skin-tone modifiers for emoji but it seems to be injecting it in a way that splits the unicode incorrectly.

[2022-11-28 21:08] sakluger commented on #12685
@rushatgabhane what's the status here?

[2022-11-28 21:12] marcaaron commented on #11494
@aldo-expensify this seems pretty similar to the issue you were working on related to `<br/>` tags [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1669149309886219).

I think that we could actually simplify a lot of these issues by just only showing on line at a time. Whenever we encounter a `<br/>`, new line, quote, etc instead of combining them we could just show the first line of the l

[2022-11-28 21:15] JmillsExpensify commented on #11094
@mananjadhav @tgolen PR is ready for ya'll. We still need to get the PR merged for the bonus to apply, though we're on the right track!

[2022-11-28 21:16] NikkiWines commented on #10893
Love it @shawnborton that looks so cool. This feature would also be useful in the ongoing #vip-passwordless project for deeplinking directly to newDot desktop.

[2022-11-28 21:17] JmillsExpensify commented on #10614
Thanks for working through the solution with us! We hope to come back to it as part of a larger initiative to support tablets sometime in the future.

[2022-11-28 21:19] furkanuzundev commented on #12938
# Proposal
After a long research, I came to the conclusion that the problem is definitely in the **font file itself.**

In the content of the font file, when the `lineGap` properties are a number other than `0`, the input causes jumping while adjusting itself according to the font. Because the `height` of the input does not increase arithmetically due to the `gap difference.`

If we want a definit

[2022-11-28 21:25] Someone-here commented on #12018
Here is the new PR: https://github.com/Expensify/App/pull/13103
Please review.
I hope this didn't cause much of an issue.

[2022-11-28 21:27] sakluger commented on #12244
Yes, the contributor and C+ have been paid and the job closed out.

[2022-11-28 21:27] #12244 closed

[2022-11-28 21:30] shawnborton opened #13104 "[HOLD for Regression Test] Make option row icons use green color"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
When viewing option rows in places like Settings or the Workspace editor, we wanted to make the default icon color of these green

[2022-11-28 21:33] shawnborton opened #13105 "[$1000] Make background color of image previews in chat match dark app BG color"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
When viewing an image preview/thumbnail tile in chat, the background of the tile is white. You can see this when there is transpa

[2022-11-28 21:36] Santhosh-Sellavel commented on #12283
From where we can learn this?

[2022-11-28 21:37] sakluger commented on #11730
Sorry for the delay everyone! Everyone has been paid out for this one, and the Upwork post is closed.

[2022-11-28 21:37] #11730 closed

[2022-11-28 21:39] shawnborton commented on #11494
I think I like the idea of only showing on line at a time. But I think it's worth bringing that discussion to Slack to see if others agree as well.

[2022-11-28 21:39] s77rt commented on #12283
I have provided links already for the preferred selection modes.
https://developer.apple.com/documentation/photokit/phpickerconfigurationassetrepresentationmode/phpickerconfigurationassetrepresentationmodeautomatic?language=objc
https://developer.apple.com/documentation/photokit/phpickerconfigurationassetrepresentationmode/phpickerconfigurationassetrepresentationmodecurrent?language=objc

[2022-11-28 21:41] conorpendergrast commented on #12913
Confirming Bug0 steps for Internal issues [via Slack](https://expensify.slack.com/archives/C01SKUP7QR0/p1669671639691139), and then will take those here!

[2022-11-28 21:42] grgia commented on #13104
<img width="375" alt="image" src="https://user-images.githubusercontent.com/38015950/204387068-d54760c3-580d-4bf8-bc5f-75ea2138c75b.png">
Does this apply to these icons too?

[2022-11-28 21:46] marcaaron commented on #11494
Posted here: https://expensify.slack.com/archives/C01GTK53T8Q/p1669671957761929

[2022-11-28 21:47] Puneet-here commented on #11730
@sakluger, It's also eligible for the reporting bonus. I only received $250 for the fix.

[2022-11-28 21:49] marcaaron commented on #12315
Anyone hitting the staging secure API should be using the sandbox

[2022-11-28 21:50] marcaaron commented on #12315
Yeah idk if this is a WAQ issue I think it's not really a "Bug" because it only affects contributors.

[2022-11-28 21:51] cead22 commented on #12651
I don't know how much more complex this is, but can we have this component update once every minute, instead of once every second? perhaps the function should be queued to run at the top of the minute or 1 second after the top of the minute, every time

[2022-11-28 21:53] cead22 commented on #12651
Also should we pass separate props for `timezone`, `selectedTimezone` and `login` (or `shouldShowLocalTime`) instead of a `details` object that contains these keys?

[2022-11-28 21:56] thesahindia commented on #12723
@Ollyws's [proposal](https://github.com/Expensify/App/issues/12723#issuecomment-1328871467) looks good to me!

C+ reviewed 🎀👀🎀

cc: @MariaHCD

[2022-11-28 21:56] marcaaron commented on #11283
I don't think either of the things brought up here matter at all - they are strange edge case things that people are unlikely to do compared to tapping on mobile web (which is very common). The issue itself is of dubious value as having an outline does not really hurt anything IMO.

[2022-11-28 21:57] shawnborton commented on #13104
I think so, yup!

[2022-11-28 22:02] mountiny commented on #11561
This is not done yet, original PR has been reverted and the fix is being worked on.

[2022-11-28 22:16] luacmartins opened #13107 "[HOLD #13230] Android: scrollToIndex out of range"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. On Android, send messages to a user until the chat becomes scrollable and you see the `New message` floating badge at the top

[2022-11-28 22:19] aldo-expensify commented on #11494
About the example of this GH issue:

[code]

the `message[0].html` ends up like: `<blockquote>quoted text</blockquote>normal text`

The `message[0].text` ends up with `quoted textnormal text`, so we can't take the first line anymore from this. An option is that when we convert `message[0].html` to `message[0].text`, we replace `</blockquote>` by `\n` to preserve the line break these blocks cause.

[2022-11-28 22:23] aldo-expensify commented on #11494
Once the `<blockquote>` gets replaced by a `\n` in `message[0].text` it is easier to make [ReportUtils.formatReportLastMessageText](https://github.com/Expensify/App/blob/fedefd12c8ef55040fcdb200e41dc87d3520354a/src/libs/ReportUtils.js#L405-L407) keep everything before the first `\n`

[2022-11-28 22:32] kevinksullivan commented on #9250
@aimane-chnaif thanks for stepping in here. Do you have an ETA for when you will be done reviewing?

[2022-11-28 22:37] jliexpensify commented on #12573
Awesome stuff, thanks @jasperhuangg !

[2022-11-28 22:40] strepanier03 commented on #13071
From this SO: https://stackoverflow.com/c/expensify/questions/14418
- [ ] **The "bug" is actually a bug**:
- [ ] **The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead)**:
- [ ] **The bug is reproducible, following the reproduction steps:**
- [ ] **If you’re unable to reproduce the bug, add the _Needs reproduction_ label. Comment on

[2022-11-28 22:41] strepanier03 commented on #13071
Working on this now.

[2022-11-28 22:49] grgia commented on #13104
<img width="368" alt="image" src="https://user-images.githubusercontent.com/38015950/204396789-cec7ef9f-602b-4014-aaea-06e434787487.png">
Double checking, the arrows should be the normal icon color?

Here's where the button icons colors are determined (hover, active, etc)- do any of these state colors also need to be changed?
https://github.com/Expensify/App/blob/master/src/styles/StyleUtils.js#L2

[2022-11-28 22:49] sophiepintoraetz commented on #12651
Not overdue - still discussing proposals

[2022-11-28 22:50] kadiealexander commented on #12668
Not overdue.

[2022-11-28 22:50] shawnborton commented on #13104
I think we'd keep the arrows as they were previously (standard icon color)

[2022-11-28 22:55] aldo-expensify commented on #12893
Reproduced:

<table>
<tr>
<td>
Web
</td>
<td>
Android
</td>
</tr>
<tr>
<td>
<img width="1353" alt="Screen Shot 2022-11-28 at 2 52 43 PM" src="https://user-images.githubusercontent.com/87341702/204397919-77e89891-6b4d-4922-9ada-42a537a13b14.png">
</td>
<td>
<img src="https://user-images.githubusercontent.com/87341702/204398004-7220b1a8-63a0-45c9-b77b-b2254b619691.png">
</td>
</tr>
</table>

[2022-11-28 22:55] shawnborton commented on #13104
I think we can keep the icon as green for the active/hover states, but I'm curious what this one means: `CONST.BUTTON_STATES.COMPLETE`

[2022-11-28 22:57] roryabraham commented on #12026
Discussed with @cead22, passing this off to him for now

[2022-11-28 22:59] marcaaron commented on #11494
Could we just make our regex for `lastMessageText` cut everything after:

- the first new line
- the first line break element
- before or after a blockquote

?

[2022-11-28 22:59] strepanier03 commented on #13071
After a discussion in Slack [here](https://expensify.slack.com/archives/C049HHMV9SM/p1669675828277539), I'm going to close this GH to focus on bug issues. This is a polish/feature request and not something we're working on now.

We can potentially circle back to this in the future when we're in a polish stage.

[2022-11-28 22:59] #13071 closed

[2022-11-28 23:05] grgia commented on #13104
<img width="220" alt="image" src="https://user-images.githubusercontent.com/38015950/204398971-20fb8d2e-77ff-4184-a715-f98171c5dbc3.png">
how about these icons?

[2022-11-28 23:06] tgolen commented on #11701
Yeah! I was able to work on it this afternoon and it's all ready for review again! I think having it merged this week is looking good.

[2022-11-28 23:06] grgia commented on #13104
I believe an example of this is the download icon, once the download is complete

[2022-11-28 23:07] OSBotify commented on #13099
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.33-1 :rocket:

[2022-11-28 23:08] kadiealexander commented on #11321
The old Upwork job closed, so please apply here @hannojg and @sobitneupane and I'll issue payment for you both. :)

https://www.upwork.com/jobs/~015cde3e5ee4ee738f
https://www.upwork.com/ab/applicants/1597366602525372416/job-details

[2022-11-28 23:08] shawnborton commented on #13104
I think the mini menu icons can stay as they are, the green is mostly just for the option row component.

[2022-11-28 23:12] tgolen commented on #12155
I agree that this is a new feature. @davidcardoza I'm going to place this on HOLD until we get through What'sAppQuality 👍

[2022-11-28 23:18] jasperhuangg commented on #12573
Actually after some further investigating it appears that this happens is because the [`Intl` built in library](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl) doesn't provide symbols for a number of the currencies we support, so it just returns its currency code instead as a default. In the back-end, we have an actual map of currency code to symbol, which is

[2022-11-28 23:19] deetergp commented on #7435
Actually, it looks like the issue this was holding on has been merged, paid, and closed. Going to take it off hold and request another re-test from @mvtglobally in #qa and see if it's still broken.

[2022-11-28 23:21] roryabraham commented on #12234
Bump for payment @davidcardoza

[2022-11-28 23:22] strepanier03 commented on #12715
PR is on staging. Will continue following along as it progresses through QA and production merge.

[2022-11-28 23:23] strepanier03 commented on #12151
Thank you for the updates @MonilBhavsar - I'll continue following along until I can take further action.

[2022-11-28 23:25] ctkochan22 commented on #10765
It was accepted, but after reviewing the PR, I think we agreed that the root issue is not being fixed.

We need to address _why_ its making that jump. So I think the PR and previously accepted proposal is no longer valid

[2022-11-28 23:28] kavimuru opened #13110 "When creating a group with a concierge, the icon is displayed in the old style."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to https://staging.new.expensify.com/
and login
2. Create a new chat with Concierge

## Expected Result:
The Concierge ico

[2022-11-28 23:29] aldo-expensify commented on #11494
I'm not sure about which regex for `lastMessageText`  are we talking about... are you talking about the `ExpensiMark.htmlToText` and the [group of regexes](https://github.com/Expensify/expensify-common/blob/db2c245c1e6b39232092b1415b9235fadda2a529/lib/ExpensiMark.js#L281-L301) it uses?

Are you suggesting cutting `message[0].html` with a regex to produce `lastMessageText` directly? This would skip

[2022-11-28 23:29] grgia commented on #12914
Haven't gotten to this one yet

[2022-11-28 23:29] grgia commented on #12977
havent gotten to this one yet

[2022-11-28 23:32] neil-marcellini commented on #12822
There's no help wanted here correct?

[2022-11-28 23:33] strepanier03 commented on #11954
Looks like a fix is on staging, following along for the close of this [GH](https://github.com/Expensify/App/issues/11321#issuecomment-1328156491).

[2022-11-28 23:35] hannojg commented on #11321
Sorry @kadiealexander, but I can't open any of those links 😅 can you help me get access to it? (I am part of #expensify-margelo and #expensify-open-source on slack)

[2022-11-28 23:41] kadiealexander commented on #11321
Ah! To receive this bonus you may need to set up a profile in Upwork, which is how we typically pay our freelance contributors.

[2022-11-28 23:42] sakluger commented on #12156
Looks like this one is moving forward! I'm going to remove and re-add the external label to create an Upwork job.

[2022-11-28 23:42] kavimuru opened #13111 "Android -Chat - The compose field is covered by keyboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch app > go to any chat
2. Start to enter message

## Expected Result:
The message field should be fully visible if the ke

[2022-11-28 23:42] strepanier03 commented on #9253
Design Doc reviews are looking great, will continue following project's progress on this.

[2022-11-28 23:43] OSBotify commented on #13111
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-28 23:50] chiragsalian commented on #12005
Yeah, I don't see any revert. I see vikalp's code on our main branch. There is no mention that this caused a regression anywhere so I can only assume it's been stable since it's been live. Feel free to go ahead and process the payment.

[2022-11-28 23:52] kavimuru opened #13112 "An avatar with a gray background is not displayed in the chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/ and login
2. Open a group where a member with a gray avatar is present

## Expected R

[2022-11-28 23:54] grgia commented on #12822
Yep this was already fixed in this [PR](https://github.com/Expensify/App/pull/12829), I'll remove the label

[2022-11-28 23:55] strepanier03 commented on #8236
Back from OoO and will continue to follow along with the progress here until I can take action. @Julesssss let me know if there is anything else I can do to help in the meantime.

[2022-11-28 23:58] sakluger commented on #12005
Thanks for checking @chiragsalian! I went ahead and paid out everyone for this job and closed the Upwork post. Finishing up the checklist before closing the issue here.

[2022-11-28 23:59] marcaaron commented on #13069
@trjExpensify if a default room or user created room only has 2 members then are we still showing "Split Bill" to them?

[2022-11-29 00:02] #12005 closed

[2022-11-29 00:04] marcaaron commented on #11494
To clarify, I was speaking at a high level - I'm not sure where any of this is happening in the code 😄

[2022-11-29 00:06] davidcardoza commented on #12234
payment to @vladamx is processed.

[2022-11-29 00:06] #12234 closed

[2022-11-29 00:07] davidcardoza commented on #11796
I tried reproducing myself and couldn't come up with an error. I am going to close this out. Please reopen if the issue is reproducible Expensify error and not one stemming from Plaid.

[2022-11-29 00:07] #11796 closed

[2022-11-29 00:14] AndrewGable commented on #12795
Not overdue

[2022-11-29 00:19] Christinadobrzyn commented on #12271
Thanks @thesahindia! I hired:

- @b1tjoy $1000 for the fix
- @thesahindia $1000 as C+
- @kerupuksambel $250 for reporting

job posting here - https://www.upwork.com/jobs/~015b92dc642f298147

@thesahindia can you please let me know if the PR is merged in 3 days for the 50% bonus?

[2022-11-29 00:25] kzhein commented on #12210
@sophiepintoraetz Received the payment but I think you forgot the eligible 50% bonus.

[2022-11-29 00:29] christianwen commented on #10731
@Santhosh-Sellavel unfortunately I still got no response from the maintainer of react-nativr-web, last ping was https://github.com/necolas/react-native-web/issues/2421#issuecomment-1325345191. In this case can we merge the changes to our react-native-web fork instead?
cc @iwiznia

[2022-11-29 00:30] sophiepintoraetz commented on #12210
Sorry @kzhein - I was out yesterday - I'll look into this once I have a chance!

[2022-11-29 00:32] adelekennedy commented on #12962
@jasperhuangg should this issue be `Internal`now?

[2022-11-29 00:33] adelekennedy commented on #11317
@AndrewGable what do you think of @rushatgabhane recommendation above?

[2022-11-29 00:38] AndrewGable commented on #11317
Looks good!

[2022-11-29 00:39] sophiepintoraetz commented on #13042
Came in over the weekend - will look at this tomorrow.

[2022-11-29 00:43] AndrewGable commented on #11711
Trying to finish this right now, next steps are:
- [ ] Call from external workflow (`preDeploy.yml`)
- [ ] Leave the deploy blocker label when there is `Significant Changes To Duration`

[2022-11-29 00:45] hungvu193 commented on #12651
Yeah that make sense :)

[2022-11-29 00:45] roryabraham commented on #12118
Deployed to production, closing this out.

[2022-11-29 00:45] #12118 closed

[2022-11-29 00:53] Christinadobrzyn commented on #13006
I think we need to figure out what is causing the issue b/c it sounds like it might not be weight based on this [comment](https://expensify.slack.com/archives/C049HHMV9SM/p1669663862157319?thread_ts=1669089889.220939&cid=C049HHMV9SM).

The avatar limit code is [here](https://github.com/Expensify/App/blob/e82bcf6574c4af2bfe7daa175a69988c1787cd81/src/CONST.js#L33):

AVATAR_MAX_ATTACHMENT_SIZE: 62914

[2022-11-29 00:54] sakluger commented on #12618
Created Upwork job:

Internal post - https://www.upwork.com/ab/applicants/1597392944240934912/job-details
External post - https://www.upwork.com/jobs/~01a859778666a353d0

@thesahindia I hired you for the job, once you accept I can pay out. Thanks!

[2022-11-29 00:57] conorpendergrast commented on #12913
Hah, @marcochavezf has [confirmed](https://expensify.slack.com/archives/C01SKUP7QR0/p1669674797366489?thread_ts=1669671639.691139&cid=C01SKUP7QR0) that he is working on a PR for the issue. Marco, can you link the draft PR to this issue?

[2022-11-29 00:58] pecanoro commented on #9179
I will try to reproduce this again tomorrow, though I am going to update the title to mention this is offline mode. If I can reproduce it, I will export it to see if any contributors have any idea.

[2022-11-29 01:08] bernhardoj commented on #12776
Applied. I will open the PR today or tomorrow.

[2022-11-29 01:08] alex-mechler commented on #12289
Tried digging into finding an offending PR, but I'm having some issues with it. As far back as I can get to compile, I can still reproduce this. I've started a slack thread here https://expensify.slack.com/archives/C01SKUP7QR0/p1669683809688769

[2022-11-29 01:09] sakluger commented on #13017
I was able to reproduce.

- For account A I used manager.kluger@expensicorp.com
- For account B I used sasha@expensifail.com
- For account C I used sasha@expensify.com

1. I requested then canceled a payment request from manager.kluger@expensicorp.com to sasha@expensifail.com
2. I made the same request again, then declined from sasha@expensifail.com
3. I made a split bill request from manager.klug

[2022-11-29 01:11] sakluger commented on #13017
@kbecciv you mentioned that you found this while testing [this PR](https://github.com/Expensify/App/pull/12762). Do you think that this is a regression related to that PR, or do you think it's an existing bug that you just happened to find while running through those test steps?

[2022-11-29 01:17] kavimuru opened #13114 "[$1000] Chat - Scrolling is not smooth"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch app and login as HT account
2. Navigate to a 1:1 chat that has a lot of messages in the conversation history
3. Scroll

[2022-11-29 01:19] conorpendergrast commented on #11852
Updated the earlier checklist: https://github.com/Expensify/App/issues/11852#issuecomment-1312018301

Proposal accepted: 5th Nov
Merged: 12th Nov
7 days minus two weekend days equals 5 business days.
"Merged PR within 6 business days - 0% bonus"

Paying the job rate for this.

Contracts ended, job is closed. We're all done here!

[2022-11-29 01:19] #11852 closed

[2022-11-29 01:20] kavimuru opened #13115 "Mac / Safari - Chat - Add Attachment - Scroll bars are not needed but place for them is left and not recolored"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
and login
2. Open any chat and select '+' and Add attachment
3. Select any small size

[2022-11-29 01:21] grgia commented on #12958
@mdneyazahmad That's a good point, and definitely something worth implementing if we run into this issue again! That said, I think for now we can close this issue as the padding changes in the fix fit the current branding in Figma.

[2022-11-29 01:25] kavimuru opened #13116 "[HOLD for payment 2022-12-08] Profile - If user uses saved information, background turns white & is very hard to read"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: User has saved information on their device
1. Access staging.new.expensify.com
2. Enter a valid account
3. Tap on

[2022-11-29 01:27] OSBotify commented on #13116
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-29 01:29] roryabraham commented on #4379
on HOLD

[2022-11-29 01:30] kavimuru opened #13117 "Web - Chat - The composer input vertical padding is not equally centered"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any accoun
3. Navigate to any conversation
4. Focus on the compose

[2022-11-29 01:35] cead22 commented on #12651
@hungvu193 I'll re-review your proposal tomorrow!

[2022-11-29 01:36] francoisl commented on #13034
👍 I can reproduce. I'll take care of this internally, the fix might even have to be done in the backend.

[2022-11-29 01:38] marcaaron commented on #13116
Not able to reproduce given these test steps. The input looks fine on my end:

<img width="1512" alt="2022-11-28_15-37-42" src="https://user-images.githubusercontent.com/32969087/204417140-1e03e4af-2d63-4bcb-b0d7-0d85c4b91dcc.png">

What does "if the user users saved information" mean exactly? Are there missing test steps?

[2022-11-29 01:39] marcaaron commented on #13116
Oh, I think you mean "auto complete"... lemme try that.

[2022-11-29 01:57] marcaaron commented on #13116
Ok, so the user agent stylesheet will need to be overwritten in our app.

Guessing we did not notice this before because our theme was similar to the defaults that Chrome (and others) add in. I also came across this -> https://developer.mozilla.org/en-US/docs/Web/CSS/:autofill which seems to suggest that the autocomplete UA styles can't be easily overwritten in CSS and require some hacks.

Will lo

[2022-11-29 01:58] AndrewGable commented on #11711
PR finally in review 😮‍💨

[2022-11-29 01:58] marcaaron commented on #13116
<img width="955" alt="2022-11-28_15-47-30" src="https://user-images.githubusercontent.com/32969087/204419708-fa03bf54-27e3-42e1-a069-9e871090a71e.png">

[2022-11-29 02:01] hungvu193 commented on #12958
Can I have reporting bonus for this issue?

[2022-11-29 02:06] youssef-lr commented on #12781
@techievivek Correct, this has been fixed and I think we can close this out and create an issue to work on the design and copy of the pending/calculating state.

[2022-11-29 02:15] Pujan92 commented on #13066
[ff99a282-339f-4945-b1b8-6bbed6009d52.webm](https://user-images.githubusercontent.com/14358475/204421740-6dae3923-85d2-4884-8cf7-c77c82ff9238.webm)

[2022-11-29 02:28] techievivek commented on #13088
@s77rt Please catch the discussion [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1669644904805489) and feel free to put your thoughts.

[2022-11-29 02:31] sobitneupane commented on #13116
I had reported this bug earlier [here](https://expensify.slack.com/archives/C049HHMV9SM/p1669652308876229) in slack. Raising here for compensation request as a bug reporter.

[2022-11-29 02:46] sobitneupane commented on #11321
@kadiealexander I didn't review the proposal and PR. So, I am not eligible for payment.

[2022-11-29 03:00] marcaaron commented on #13116
Found a kind of ridiculous hack to fix this [here](https://stackoverflow.com/a/59572885/10577587) that does work kind of perfectly.

Honestly, it's not looking good for going through the proper channels:

<img width="1004" alt="2022-11-28_16-58-38" src="https://user-images.githubusercontent.com/32969087/204427996-3fca804d-506d-4d0b-93ce-7b088b801050.png">

🥲

[2022-11-29 03:10] mollfpr commented on #12198
We can move the `padding-top=5` from `styles.chatItemComposeSecondaryRow` on `ParticipantLocalTime` style to the `contentContainerStyle` flat list. In this way don't need any extra padding to fix the issue and keep the style the same as before.

[code]

https://user-images.githubusercontent.com/25520267/204429359-0537fb94-d806-4e65-bad8-d1e8b489c6b0.mov

[2022-11-29 03:17] JmillsExpensify commented on #10190
Rather than change this to monthly why don't we just close this? No one is going to run into this bug for a really long time, so I struggle to say it's a bug at all. Another benefit of closing this is that it's easy for everyone to find the actual bugs that need to be worked on.

[2022-11-29 03:22] Christinadobrzyn commented on #10893
[Asking](https://expensify.slack.com/archives/C02NK2DQWUX/p1669691942868689) the team and members of the vip-passwordless project to give their thoughts on moving forward with this job.

[2022-11-29 03:36] hungvu193 commented on #13110
<b>Proposal</b>
Inside ReportActionItemSingle, I notice that we are still using the old Concierge icon image url so that's why this issue happend
<img width="938" alt="Screen Shot 2022-11-29 at 10 34 49" src="https://user-images.githubusercontent.com/16502320/204432393-d0037d40-55d1-4cf1-9896-bc9073c24104.png">
<b>Solution </b>
We need to update the icon url to new Concierge icon url, also add new

[2022-11-29 03:41] marcaaron commented on #13099
Put up a fix for the second deploy blocker listed here: https://github.com/Expensify/App/pull/13119

[2022-11-29 03:49] robertjchen commented on #12198
@mollfpr Great find! That sounds like an even better approach 👍

[2022-11-29 04:06] mvtglobally commented on #7435
@deetergp
I am getting slightly different error now, but still an error without clear explanation

https://user-images.githubusercontent.com/43995119/204436211-0fccac45-7a22-4e66-b9bd-de4ebcfbfd46.mp4

[2022-11-29 04:09] sophiepintoraetz commented on #12781
Happy to close this one out and open up a design ticket - just point me in the right direction - which part are we thinking about showing a loading screen? We kind of already do (when looking back on the video)
<img width="275" alt="image" src="https://user-images.githubusercontent.com/42940078/204436614-fcf1c661-eed1-4777-9cfa-5cc936b28ceb.png">

[2022-11-29 04:12] JmillsExpensify commented on #13110
I can reproduce the issue, though building on what @hungvu193 post above, what's interesting is that as soon as you mouse over any message, the new avatar is applied. Here's a screenshot for reference.

![Screenshot 2022-11-28 at 22 11 34](https://user-images.githubusercontent.com/1127863/204436963-d2d18e69-7f5e-4a6e-8feb-896890071263.png)

[2022-11-29 04:17] JmillsExpensify commented on #13110
I'll go ahead and apply the external label, though I'd like to see commentary from @NikkiWines, as she was on the original PR and probably has the best context. Thanks!

[2022-11-29 04:21] JmillsExpensify commented on #10893
@NikkiWines Ok I think that context as well as what @Santhosh-Sellavel posted are fair reasons to keep this moving forward. Thanks!

[2022-11-29 04:25] LibanWasTaken commented on #12938
### Proposal
A simple trick, or maybe a temporary solution, would be to shrink the line height a little bit in the styles. The text box's height won't increase itself, but the texts on the first line are displaced a little, which is less noticeable than what it was before.

https://user-images.githubusercontent.com/85487896/204438583-f5a544da-dd05-4244-bdfb-549829e5589b.mp4

[2022-11-29 04:40] JmillsExpensify commented on #11726
Alright, apologies for the delay here. I think we are good on this regression test, which is covered by [this script](https://expensify.testrail.io/index.php?/cases/view/1971023&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=229062) in TestRail.

1. On an HT account that has a conversation with a very long history (>100 messages)
2. Navigate to the conversation that has

[2022-11-29 04:57] gadhiyamanan commented on #11726
@JmillsExpensify I think the issue is not resolved yet

[2022-11-29 04:57] JmillsExpensify commented on #10824
Alrighty, closing the loop. I created/linked the regression test. @neil-marcellini would you mind taking a look in the linked issue? I've added the up/down navigation to one of the existing tests, though we've since decided that tab navigation isn't officially supported, so I didn't add anything around that case. Closing the issue now that the regression test is added.

[2022-11-29 04:57] #10824 closed

[2022-11-29 04:59] JmillsExpensify commented on #12691
Ok, circling back on the regression test and related payment todos now that we are nearing the end of the regression period.

[2022-11-29 05:03] shonsirsha commented on #12957
## Proposal

The date picker icon is not centered and has a very limited clickable area.

**To fix this, we could introduce minimal changes - which are the following:**
(explanation below) 🙂
[code]

![Screen Shot 2022-11-29 at 05 51 53](https://user-images.githubusercontent.com/28676406/204442165-74fa5603-157c-4810-8c9c-6a2186738323.png)

Red block represents the clickable area:
![Screen Shot 2022

[2022-11-29 05:06] techievivek commented on #12781
@sophiepintoraetz The screenshot that you have shared is when the user is offline.
This one would be when we added a new IOU request where the currency is different from the report's currency in that case we wait for the response from the backend. And during this period of waiting, we would like to show a calculating state.

[2022-11-29 05:08] JmillsExpensify commented on #12691
Alright, the regression test has been added. We are only an hour away from the 29th, so I'm going to go ahead and issue payments and then close out this issue.

[2022-11-29 05:09] shonsirsha commented on #12957
## Proposal

The date picker icon is not centered and has a very limited clickable area.

**To fix this, we could introduce minimal changes - which are the following:**
(explanation below) 🙂
[code]

Explanation:

1. `transform`, `right`, and `top` are required to position the icon vertically using `absolute` positioning.
2. `padding` is used to give right side spacing as well as increasing the ove

[2022-11-29 05:11] JmillsExpensify commented on #12691
All contributors paid out. Closing issue.

[2022-11-29 05:11] #12691 closed

[2022-11-29 05:18] marcochavezf commented on #12913
PR up to be reviewed, but on hold because of the [Bancorp routing configuration](https://expensify.slack.com/archives/C03TQ48KC/p1669674102027139).

[2022-11-29 05:22] marcochavezf commented on #12913
Hi @rosegrech, just gut-checking if the copy for the error message when a user enters a non-debit card is fine (`Make sure the entered debit card is a valid one`):

<img width="911" alt="Screenshot 2022-11-28 at 23 12 58" src="https://user-images.githubusercontent.com/6829422/204445164-b5113b73-4aa5-4af5-9864-4e88ea338509.png">

[2022-11-29 05:25] JmillsExpensify commented on #11585
Ok thanks! Circling back on the regression tests now.

[2022-11-29 05:48] JmillsExpensify commented on #11585
Alright, regression test is created above. I also CCed you in the issue, so please give it a look to make sure I didn't miss anything!

[2022-11-29 05:49] JmillsExpensify commented on #11585
We're all set here. I'm closing.

[2022-11-29 05:49] #11585 closed

[2022-11-29 05:49] roryabraham commented on #13111
@luacmartins I don't know if we want to wait for https://github.com/Expensify/App/pull/13106, but looking through the checklist I think the only change that might've caused this is https://github.com/Expensify/App/pull/12988

[2022-11-29 05:52] roryabraham commented on #12261
Haven't invested any time in this yet, but I'm excited to do so when the time comes!

[2022-11-29 05:55] mananjadhav commented on #13111
I am not sure if #12988 can cause the regression, as the code only removes one placeholder. No other change.

[2022-11-29 05:59] JmillsExpensify commented on #12433
Ok the regression test has been added. @youssef-lr please comment in the linked PR in case I missed anything. Everything else is checked off, so I think we're done here! Closing.

[2022-11-29 05:59] #12433 closed

[2022-11-29 06:08] roryabraham commented on #12961
Tested it out and @s77rt's proposal works great.

[2022-11-29 06:13] JmillsExpensify commented on #11192
Disregard the PDFs test, as that's for another issue. Regression test has been added and my BZ items are checked off, so I'm closing this issue.

[2022-11-29 06:13] #11192 closed

[2022-11-29 06:16] JmillsExpensify commented on #12261
Ok cool, yeah totally agree we can push forward with Augenblick, I just don't think we should push forward with any engineering time until we're in a better spot with WAQ. I'm throwing a HOLD on this issue to make sure that's clear, though please feel free to use the issue for on-going Augenblick updates.

[2022-11-29 06:17] roryabraham commented on #12760
@NicMendonca I think that @aimane-chnaif is eligible for compensation. You can see they pointed out cause for the regression [here](https://github.com/Expensify/App/issues/12234#issuecomment-1317305225) before the [PR to fix the regression](https://github.com/Expensify/App/pull/12785) was created.

[2022-11-29 06:24] JmillsExpensify commented on #11726
Are you sure about that? No one else is assigned to this issue. cc @marcaaron not sure how that happened, but can you clarify?

[2022-11-29 06:27] sobitneupane commented on #13110
Looks like changes is needed in backend. `api?command=OpenReport` is returning https://d2k5nsl2zxldvw.cloudfront.net/images/icons/concierge_2021.png as avatar in reportActions.
[code]

[2022-11-29 06:27] JmillsExpensify commented on #11321
@adelekennedy I think we have some confusion here, sorry if I caused it. @hannojg is working with on a special engagement. And then it sounds like @sobitneupane did not review the linked PR, so when I say "make sure" I mainly meant let's double check we're all good here before closing.

[2022-11-29 06:30] JmillsExpensify commented on #11711
Woo! P.S. I didn't cover this in the regular open source update today but was going to profile it in the margelo room tomorrow.

[2022-11-29 06:33] sobitneupane commented on #12961
[Proposal](https://github.com/Expensify/App/issues/12961#issuecomment-1327836490) from @s77rt looks good to me as well.

🎀👀🎀 C+ reviewed

[2022-11-29 06:36] s77rt commented on #12961
Applied in [Upwork](https://www.upwork.com/jobs/~016a93b6c4cd78cf62) (+50% bonus)
[PR](https://github.com/Expensify/App/pull/13120) is ready

[2022-11-29 06:36] Christinadobrzyn commented on #13105
Ah interesting! Testing this:

1. Sign into https://staging.new.expensify.com
2. Open a chat that's in dark mode - the text is not white
3. Click on your profile > the text is white

The text in the profile should match the dark BG of the app instead

Another interesting note - is this expected @shawnborton
5. When you open the profile, the text in the chat gets darker
6. When you close the profil

[2022-11-29 06:37] roryabraham commented on #12392
Final cleanup PR ready for review: https://github.com/Expensify/App/pull/13121

[2022-11-29 06:40] sobitneupane commented on #10824
@JmillsExpensify Am I eligible for payment for reporting the [regression](https://github.com/Expensify/App/issues/10824#issuecomment-1313751312)?

[2022-11-29 06:41] JmillsExpensify commented on #11087
Agree with @0xmiroslav this isn't the regression.

[2022-11-29 06:43] JmillsExpensify commented on #10765
Ok gotcha. I think that's on us then and we owe the contributor for making that mistake. We probably need to take the discussion about the detailed solution to slack. Can you take that on?

[2022-11-29 06:45] JmillsExpensify commented on #12592
@0xmiroslav for clarity, is it reproducible on non-tablets or just tablets? Reason being, we don't officially support tablets, though I'm more than happy to re-open if you think it's going to be fixed anyway.

[2022-11-29 06:48] JmillsExpensify commented on #10824
While we don''t consider these bugs moving forward, as TAB is an accessibility feature we haven't built, yes I think that's fair game for a reporting bonus. Upwork job is here: https://www.upwork.com/jobs/~018a6911f84f687773.

[2022-11-29 06:49] ctkochan22 commented on #10765
Ah, thats good to know, sorry about the confusion @advaitasol9 !

Yeah I can take this on

[2022-11-29 06:49] JmillsExpensify commented on #12622
Thanks added the `Needs Reproduction` label, though I'm inclined to keep it closed until we figure out how to reproduce it everytime.

[2022-11-29 06:50] JmillsExpensify commented on #12592
Ok yeah, so all those are unsupported devices. In the interest of focus, let's just keep this closed. We need to tackle tablet support one day, but now isn't the time.

[2022-11-29 06:51] sobitneupane commented on #10824
@JmillsExpensify Proposal submitted.

[2022-11-29 06:52] mananjadhav commented on #12592
I agree with @JmillsExpensify. We're focused on items such as BugZero, WAQ, and Dark theme, etc. Tablets isn't the focus right now, and I think we should tackle tablets sometime in future.

[2022-11-29 06:56] JmillsExpensify commented on #10824
Offer sent.

[2022-11-29 06:56] hungvu193 commented on #13110
@sobitneupane yeah I saw that too, I also saw that piece of code I mentioned was there since 18 months ago. Should we keep that or fix this issue from backend?

[2022-11-29 06:58] JmillsExpensify commented on #10824
You're all set. Paid out!

[2022-11-29 07:00] roryabraham commented on #11817
Marking External to handle C+ payment

[2022-11-29 07:03] Christinadobrzyn commented on #11293
Stil tracking https://github.com/Expensify/Expensify/issues/227234

[2022-11-29 07:09] MonilBhavsar commented on #13074
@yuwenmemon thanks for picking this. I did some digging in the past issue. Happy to help here too and could you please assign me for a review as I'm curious about the fix.

[2022-11-29 07:10] Christinadobrzyn commented on #12939
Hum, that is a good point/question. I believe the option to post in slack is designed only for the reporter as it gives the reporter a chance to propose a solution before it gets to GH where anyone can propose a solution. The expected workflow is:

1. Post a bug in Expensify-open-source
2. Post your proposal at the same time
3. The QA team will create a GH with the bug and the proposal
4. Other co

[2022-11-29 07:15] roryabraham opened #13123 "[HOLD for payment 2022-12-23] [$1000] Web splash screen does not work correctly on dev"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Run the dev web app.

## Expected Result:
The JS code for splash screen (and the `.svg` component) should be inlined in index.htm

[2022-11-29 07:15] dhairyasenjaliya commented on #10824
@JmillsExpensify regarding these accessibility bugs I have reported similar 2 bugs/regression #12058 is related to this bug on the same component, am I eligible for reporting those?

https://github.com/Expensify/App/issues/12058
https://github.com/Expensify/App/issues/12010

[2022-11-29 07:22] roryabraham commented on #13123
Confirmed that removing `SpeedMeasurePlugin` altogether fixes the issue. Going to see if we can employ [this workaround](https://github.com/stephencookdev/speed-measure-webpack-plugin/issues/167#issuecomment-976836861)

[2022-11-29 07:36] ctkochan22 commented on #12670
Yeah lets create a fresh issue.

@kbecciv can you provide your username and password?

[2022-11-29 07:39] Christinadobrzyn commented on #12206
Sorry for missing this @Santhosh-Sellavel it looks like we rolled out the 50% bonus for a PR merged in less than 3 days on [Nov 5th](https://expensify.slack.com/archives/C01GTK53T8Q/p1667607226305649) which would have been about the time you created this PR.

So I'm going to reach out to our team about a bonus!

[2022-11-29 07:40] mollfpr commented on #13110
We mainly use the avatar from `personalDetails`, and the avatar from the report actions as a fallback. The avatar from `personalDetails` is the newest and is set to the `avatarUrl`. I think updating the API response will not resolve this issue.

<img width="643" alt="Screen Shot 2022-11-29 at 14 30 43" src="https://user-images.githubusercontent.com/25520267/204466108-9e374a80-4b67-424a-a06d-7f137c

[2022-11-29 07:44] hellohublot commented on #12045
Hi. I have created a PR: https://github.com/Expensify/App/pull/13124, please help me to check, Thanks

[2022-11-29 07:45] roryabraham commented on #13123
Unfortunately none of the workarounds listed in https://github.com/stephencookdev/speed-measure-webpack-plugin/issues/167 seem to work to resolve the issue.

[2022-11-29 07:47] thesahindia commented on #11852
@conorpendergrast, the issue was priced at $500 and I am also the reporter at this issue. (I have only received $250)

[2022-11-29 07:47] roryabraham commented on #13123
Going to make this external and see if we can get a fix that doesn't force us to give up speed-measure-webpack-plugin completely, since it is a useful tool for what it does.

[2022-11-29 07:56] thesahindia commented on #12618
Accepted, thanks!

[2022-11-29 08:01] mollfpr commented on #12938
Will review the proposal tonight!

Meanwhile, can we decide whether we accept a solution in our app or a fix in the RN?
@luacmartins @iwiznia @jliexpensify

[2022-11-29 08:08] roryabraham commented on #12828
Is anyone still seeing this issue?

[2022-11-29 08:09] sobitneupane commented on #13110
@mollfpr You may have noticed that `avatarHighResolutions` needs to be updated as well.

[2022-11-29 08:14] mollfpr commented on #13110
@sobitneupane I couldn't understand what you mean. Could you elaborate more?

[2022-11-29 08:14] roryabraham commented on #12339
I'm not sure what the plan of action is here. I think we should get an internal assignee to clearly define this new feature, then decide:

- If it is something we want to implement
- If it should be on HOLD or not

Then if it is something that we _do_ want to implement and which is not on HOlD, then we should get an internal engineer assigned. Basically just the normal issue triage process.

[2022-11-29 08:18] Christinadobrzyn commented on #13006
Kinda came to a resolution in the Slack [convo](https://expensify.slack.com/archives/C049HHMV9SM/p1669709634117779?thread_ts=1669089889.220939&cid=C049HHMV9SM) but love to get your thoughts on what to do next with this GH @Beamanator

[2022-11-29 08:21] Beamanator commented on #13006
Adding myself here too b/c I'm involved in lots of avatar-related issues, and this is very intriguing 😅

[2022-11-29 08:24] CosminnB commented on #12698
@aimane-chnaif So I just tried with a HT account. The loading indicator you're seeing comes from here, you can also see it in the logs as 'Main Drawer Loader':
https://github.com/Expensify/App/blob/e82bcf6574c4af2bfe7daa175a69988c1787cd81/src/libs/Navigation/AppNavigator/MainDrawerNavigator.js#L75-L77
That one shows until a reportID is available but my proposal removes it in favor of showing the s

[2022-11-29 08:40] techievivek commented on #12781
Closing this issue as I have created a [new issue](https://github.com/Expensify/Expensify/issues/245284) to add the calculating state for IOU requests.

[2022-11-29 08:40] #12781 closed

[2022-11-29 08:40] roryabraham commented on #9703
Clarifying here, there are really two tasks:

1. load cached images even offline. This should be on HOLD for https://github.com/Expensify/App/issues/12603
2. Bundle default avatars as svg in the repo, use them as a fallback when custom avatars are not loaded or cached. This does not need to be on HOLD

[2022-11-29 08:43] roryabraham commented on #12726
This is ready for payment

[2022-11-29 08:46] roryabraham commented on #12867
I'm no longer able to reproduce this either 👍🏼

[2022-11-29 09:11] Beamanator commented on #12616
Thanks @parasharrajat & thanks @JmillsExpensify for adding this issue to the tracker - since this is on hold I'm going to drop it to `Weekly` for now

[2022-11-29 09:12] Beamanator commented on #13079
Still discussing in Slack, it's possible we'll close this or put this on hold until Form refactor is complete (see slack thread)

[2022-11-29 09:13] roryabraham commented on #12363
Yes, we do have `maintainVisibleContentPosition` implemented on Android in our fork.

I'm not sure the "animation glitch" that is described in the OP of this issue is the same as what was fixed in https://github.com/Expensify/App/issues/7145:

- This issue happens repeatably when closing and opening the drawer
- https://github.com/Expensify/App/issues/7145 would only happen when new messages lande

[2022-11-29 09:27] roryabraham commented on #9703
Yes, agreement

[2022-11-29 09:57] sobitneupane commented on #13110
@mollfpr I am just letting you know that avatarHighResolution in personalDetails also contains https://d2k5nsl2zxldvw.cloudfront.net/images/icons/concierge_2021.png which is not expected.

To answer your questions:

Resopnse from api?command=OpenApp also contains https://d2k5nsl2zxldvw.cloudfront.net/images/icons/concierge_2021.png as avatar.

<img width="1439" alt="Screenshot 2022-11-29 at 15 05

[2022-11-29 10:09] mollfpr commented on #13110
Thanks! Yeah, I just find out too about the response from `api?command=OpenApp`. Since we already implement `CONST.CONCIERGE_ICON_URL` to update the concierge avatar, we could fix this issue in the App.

Any thoughts @yuwenmemon @JmillsExpensify?

[2022-11-29 10:12] mountiny commented on #13002
I think it would make sense to have a same compensation as for reporting $250, the offending PR has been found quickly.

[2022-11-29 10:12] mountiny commented on #13002
@con

[2022-11-29 10:13] trjExpensify commented on #11903
Niceee, assigning this issue to @aneequeahmad.

[2022-11-29 10:13] trjExpensify commented on #11903
Oh wow, it just updated for me haha. Ignore!

[2022-11-29 10:17] Gonals commented on #13022
Agreed. I'll just remove the formatting 👍

[2022-11-29 10:25] trjExpensify commented on #9703
Okay, got it. So my suggestion would be to make this more clear than it currently is in the title and OP. If they aren't dependent on each other, then "part 1" / "part 2" doesn't seem intuitive. Let's call this issue:

`[Image] Bundle default avatars as SVG to use as a fallback when custom avatars are not loaded or cached.`

Cristi doesn't need to be blocked on getting going on that while we wait

[2022-11-29 10:31] bernhardoj commented on #12776
I have opened the PR.

There is 1 checklist left, which is to test on Desktop. Do we have any way to open a deep link on desktop?

@rushatgabhane @stitesExpensify

[2022-11-29 10:44] #12372 closed

[2022-11-29 10:46] Tushu17 commented on #13022
Hello @Gonals, I was aware that we don't have a iou page for 'split' payment, I had reported this issue on slack [(here)](https://expensify.slack.com/archives/C049HHMV9SM/p1669313996027739) to remove hyperlink style from the word 'split'. I had already posted a solution for the same.

can anyone review my proposal and Since I reported my issue on slack before this issue was logged, will i be eligi

[2022-11-29 10:47] sketchydroide commented on #12828
I never got it again, seems gone

[2022-11-29 10:52] dnlfrst commented on #12156
### Proposal (Update)

This is already part of the above proposal.

This is addressed with the below proposal.

Intuitively, I do not think that it makes sense to move the `document.*` calls to [CustomStatusBar](https://github.com/Expensify/App/tree/main/src/components/CustomStatusBar). Rather, I have now moved the web-specific calls to [Modal](https://github.com/Expensify/App/tree/main/src/compon

[2022-11-29 11:01] trjExpensify commented on #11817
Cool, once this hits prod the +7 days hold for awaiting payment should get added.

[2022-11-29 11:01] Beamanator commented on #11341
@laurenreidexpensify ok I crossed out the first 4 points, since this issue wasn't a regression from any PR, it was actually part of the Form Refactor project - so I don't think those first 4 points apply anymore.

As for payment - $500 for each looks to be correct 👍

@whroyal I'm not sure what you're talking about the code is already in production so you can test on a live device if you'd like, th

[2022-11-29 11:06] tienifr commented on #13086
# Proposal
## Problem
In https://github.com/Expensify/App/blob/13970529db79931c2371f7a0b6d5f96792e08c60/src/libs/Navigation/NavigationRoot.js#L19
we're setting background of navigation is `#002E22`

## Solution

In https://github.com/Expensify/App/blob/13970529db79931c2371f7a0b6d5f96792e08c60/src/libs/Navigation/NavigationRoot.js

[code]

https://user-images.githubusercontent.com/113963320/2045132

[2022-11-29 11:09] parasharrajat commented on #8592
We have discussed this through and considered various factors including all the proposals on this issue. Soon @MonilBhavsar will share the updates here.

[2022-11-29 11:14] Pujan92 commented on #12957
**Proposal**

https://github.com/Expensify/App/blob/377dbd9b05e185c359c06c6269c671093538fa28/src/components/DatePicker/styles.css#L8-L12

Styles needs to updated with

[code]

As we do not have any background area or color for a picker icon I suggest not to increase the clickable area as it won't be more intuitive.

[2022-11-29 11:16] trjExpensify commented on #12795
Alrighty, ready to pay this one out @aimane-chnaif. We quick stepped it, so there wasn't a job for it. Just sent you a contract to accept on Upwork.

[2022-11-29 11:20] bernhardoj commented on #12776
It works. Thanks a lot! @Ollyws

Updated my PR.

[2022-11-29 11:26] trjExpensify commented on #12028
Alrighty, time to settle up! Payments due:

$1000 - @wildan-m (C) - offer sent
$1000 - @thesahindia (C+) - settled 👍
$500 - @mollfpr for reporting this issue & #11921 - settled 👍

[2022-11-29 11:32] trjExpensify commented on #12028
As for the checklist:

1. We don't need to add a manual regression test for this minor edge case
2. Where the regression was introduced is known (i.e the drawer navigation lib upgrade)
3. The engineer that spearheaded the upgrade is aware, as we had a discussion about it in Slack already.

[2022-11-29 11:45] sobitneupane commented on #12957
I am getting different behavior of Date Picker on different browsers. Date Picker icon is not shown in firefox and safari and clicking any where on the box opens the date picker. Date Picker icon is shown in Chrome and only clicking on the icon opens the date picker. I am not sure if it is intentional or is there already an issue raised for this. I just want to make sure what is the expected outpu

[2022-11-29 11:45] parasharrajat commented on #13075
@mountiny Any thoughts?

[2022-11-29 11:47] trjExpensify commented on #11229
Settled up [these contracts](https://github.com/Expensify/App/issues/11229#issuecomment-1322209914), so we're all square here. 🎉

I don't think it's worth adding one for an edge case that in practice is incredibly hard to reproduce. Unless the app is very, very slow, you don't get the chance to tap both a chat row and the FAB in quick succession unless you force it using two thumbs or something.

[2022-11-29 11:47] #11229 closed

[2022-11-29 11:48] dhairyasenjaliya commented on #12957
@sobitneupane this is known issue here
https://github.com/Expensify/App/issues/11519
https://github.com/Expensify/App/issues/7637

[2022-11-29 11:49] trjExpensify commented on #11197
Feature request still held on completing the more pressing bugs tied to the image improvements initiative.

[2022-11-29 11:49] trjExpensify commented on #12795
Cool, paid! 🎉

[2022-11-29 11:49] #12795 closed

[2022-11-29 11:51] trjExpensify commented on #12028
Alrighty, @wildan-m settled up! Closing, thanks everyone! 🎉

[2022-11-29 11:51] isabelastisser commented on #13063
Not overdue.

[2022-11-29 11:53] thesahindia commented on #12028
@trjExpensify, I think it's also eligible for the 50% bonus 😄

[2022-11-29 11:54] trjExpensify commented on #8459
Alright, thanks for taking care of that. Closing! 🎉

[2022-11-29 11:54] #8459 closed

[2022-11-29 11:56] mountiny commented on #13075
@parasharrajat @s77rt Sorry for this but yeah I agree this should be on hold for the refactor, we have PRs actively being worked on this behaviour should be update there as we move to optimistic actions https://github.com/Expensify/App/pull/12739

I will put this on hold for that

[2022-11-29 12:02] mountiny commented on #13111
Great investigation and fix @0xmiroslav 🙇

[2022-11-29 12:05] mountiny commented on #12943
This seems like it did not work in staging web

[2022-11-29 12:08] trjExpensify commented on #12028
Oh, bloody hell! 😅 Sent you both contracts for that.

[2022-11-29 12:09] allroundexperts commented on #11317
@AndrewGable I'm getting this:
<img width="1439" alt="Screenshot 2022-11-29 at 5 08 52 PM" src="https://user-images.githubusercontent.com/30054992/204525269-3b321373-f65a-48ca-9364-a58a72ce915b.png">

[2022-11-29 12:12] trjExpensify commented on #13009
@luacmartins confirming we have nothing to do here, right?

[2022-11-29 12:15] eVoloshchak commented on #11584
@tienifr, this is looking much better, good job on discovering it!
There is still a bug however, if you mark a message unread and then delete a message from chat, the position to which it scrolls is wrong

https://user-images.githubusercontent.com/9059945/204526170-eff5a18d-a19e-4715-b6f1-d5f0c408d0b0.mov

[2022-11-29 12:33] sketchydroide commented on #9973
that is a smart solution, I like it, and it makes behaviour more uniform, let's do this

[2022-11-29 12:45] sketchydroide commented on #12822
@dhairyasenjaliya let us know if/when everything is done so we can close this :)

[2022-11-29 12:46] abekkala commented on #9581
Thanks @luacmartins!

[2022-11-29 12:47] Julesssss commented on #13111
Confirmed this is resolved by [this PR](https://github.com/Expensify/App/pull/13106).

[2022-11-29 12:49] Julesssss commented on #12622
I'm not 100% sure that this is resolved, but based on my work to use adjustResize in the past I believe there's a good chance [this PR](https://github.com/Expensify/App/pull/13106) entirely resolves this issue.

[2022-11-29 12:51] JalalMitali commented on #13110
Hello 👋 I still have the old concierge icon even on main chats page ( iOS simulator )

[2022-11-29 13:02] allroundexperts commented on #11317
@AndrewGable https://github.com/Expensify/App/pull/13126

[2022-11-29 13:10] dhairyasenjaliya commented on #12822
@sketchydroide waiting for @laurenreidexpensify to close the upwork contract so that we can close this one :)

[2022-11-29 13:10] sketchydroide commented on #12512
That does look good @dbond09, like @rushatgabhane show us the code you used to make that happen :)

[2022-11-29 13:12] sketchydroide commented on #9580
this is now merged, there were some issue gettin the commits verified, but after creating a new PR this was fixed and everyine was happy

[2022-11-29 13:21] CortneyOfstad commented on #13114
Was able to recreate this on my side, but not sure if I should use **External** or **Internal** labels. Going to ask _Engineering_ per the SO [here](https://stackoverflow.com/c/expensify/questions/14418).

[2022-11-29 13:24] kavimuru opened #13127 "Profile - The tabs for "Preferred pronouns" or "Set my time zone automatically" are showing white spaces"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.  Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Click on Profile
4. Click on “Preferred Pronouns”

[2022-11-29 13:25] OSBotify commented on #13127
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-29 13:29] muttmuure commented on #11735
The job posting had expired (sorry!) but I've created a new one and it's here.

https://www.upwork.com/jobs/~01d70533c5adde99c5

@Ollyws @eVoloshchak please apply and we can get you both paid.

[2022-11-29 13:33] JalalMitali commented on #13123
I can't reproduce this issue on Safari MacOS

[2022-11-29 13:39] mdneyazahmad commented on #13123
@JalalMitali make this changes in order to reproduce.

[code]

[2022-11-29 13:44] dylanexpensify commented on #12854
@rushatgabhane I'm referring to [this comment](https://github.com/Expensify/App/issues/12854#issuecomment-1319571877)!

[2022-11-29 13:46] mateocole commented on #12582
Tested - fixed, added to testrail.

@roryabraham @conorpendergrast I am not totally sure how the payout works with this issue, since this was already resolved from a separate issue, and there appears to be a separate payout commencing from https://github.com/Expensify/App/issues/11852, can this be closed?

[2022-11-29 13:50] mananjadhav commented on #12574
@muttmuure Quick bump on this, can you help with the payout?

[2022-11-29 13:52] abekkala commented on #12511
Looks like that occurred 4 days ago on Nov 25 so payment is on hold until Dec 02

[2022-11-29 13:54] trjExpensify commented on #12028
Cool, all sorted.

[2022-11-29 13:54] #12028 closed

[2022-11-29 13:58] bernhardoj commented on #13063
### **Proposal**
Agree with @allroundexperts. But I was thinking that maybe we want to put the draft report at the top between the others outstanding IOU. In that case, we need to do further sort to the outstanding IOU reports as below.

[code]

**Result**

[2022-11-29 14:03] trjExpensify commented on #12745
Sorry, been out for a couple of days. Personally, I think it's worth it because it's a bug impacting both text and emojis in the composer. That's front and centre as the most used component in the app. I shared that sentiment [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668733432461889?thread_ts=1668730285.445209&cid=C01GTK53T8Q) on the topic.

[2022-11-29 14:05] Beamanator commented on #12603
@necolas I believe in this case we'd try to go with the approach of using `fetch` to send the image get request, with the auth token in a header, then setting the response as the image's source - similar to what's described [here](https://www.twelve21.io/how-to-access-images-securely-with-oauth-2-0/#:~:text=request%20forgery%20(CSRF).-,3.%20USE%20DATA%20URIS,-Yet%20another%20option). I see there's

[2022-11-29 14:07] muttmuure commented on #11735
Everyone has been paid, bug is fixed and there are no regressions. Great work everyone!

[2022-11-29 14:11] JalalMitali commented on #13123
okay thanks and by the way I don't have the following :
`--- a/config/webpack/webpack.dev.js
+++ b/config/webpack/webpack.dev.js`

[2022-11-29 14:15] trjExpensify commented on #12185
@Beamanator how does this issue differ to https://github.com/Expensify/App/issues/11425 that we have already for grey avatars when waiting on the server response in common mobile flows? I think this is ultimately a dupe, so we should close it.

[2022-11-29 14:23] eVoloshchak commented on #11735
Same
By the way, what is the process with bonuses?
Who should track if C and C+ are eligible for bonuses? Contributor, Contributor+, or CME?

[2022-11-29 14:23] commanderz commented on #11817
this solved in tutorial
https://www.electronjs.org/docs/latest/tutorial/updates

[2022-11-29 14:24] Beamanator commented on #12185
Ooh I agree those definitely do look like dupes

[2022-11-29 14:28] WestDon commented on #13123
**Proposal**

Update webpack.dev.js
with following lines:

`        const confPlugins = config.plugins;

        const pluginsToSkipMeasure = confPlugins.filter(item => item.constructor.name === 'HtmlWebpackPlugin' || item.constructor.name === 'HtmlInlineScriptPlugin');

        config.plugins = confPlugins.filter(x => !pluginsToSkipMeasure.includes(x));

        const configWithTimeMeasures = new

[2022-11-29 14:33] slafortune commented on #11471
Offer sent to @mananjadhav 👍

[2022-11-29 14:34] muttmuure commented on #11735
It's up to me on the BugZero team to check. I just missed it this time.

[2022-11-29 14:35] Santhosh-Sellavel commented on #12958
@grgia Reporting bonus seems missed out for @hungvu193!

[2022-11-29 14:35] varshamb commented on #12939
@Christinadobrzyn in this case a Proposal was posted on slack by a non-reporter.

Because of this, I didn't get the opportunity to propose a solution.

[2022-11-29 14:37] trjExpensify commented on #12007
After revisiting this issue, it seems a bit superfluous to me:

- we have an image caching issue for mobile
- we have an image caching issue for web/desktop
- we have an issue to bundle default avatars as SVG for a fall back when avatar images aren't loaded/cached

This issue has been created specific to the `profile` page on Android and mWeb/Safari, but I'm struggling to understand why during the

[2022-11-29 14:37] eVoloshchak commented on #11735
Got it, thanks!

[2022-11-29 14:40] Beamanator commented on #10894
Updates for the day:
- Fast Image PR (the one that was reverted): was reviewed by `@kidroca` with some useful comments, looking forward to the follow-up PR from @thomas-coldwell
- RNW caching:
    - Looks like `@necolas` (maintainer of `react-native-web`) is responding to the PR - though they might have preferred we talk to them _before_ creating the PR ([here](https://github.com/necolas/react-nat

[2022-11-29 14:44] WoLewicki commented on #8503
Libraries with native components to migrate (with corresponding PRs if present already):
- [`react-native-picker/picker`](https://github.com/react-native-picker/picker/pull/456) ✅
- [`react-native-progress-view/progress-bar-android`](https://github.com/react-native-progress-view/progress-bar-android/pull/90/) ✅
- [`wonday/react-native-pdf`](https://github.com/wonday/react-native-pdf/pull/700) ✅
-

[2022-11-29 14:47] mountiny commented on #12283
@Gonals @Santhosh-Sellavel what do you think here, bumping this issue.

[2022-11-29 14:47] cristipaval commented on #9703
Where can I find the svg files?

[2022-11-29 14:50] trjExpensify commented on #11854
Okay, payment is due today. @hellohublot you've been hired for another job since, so I've been able to locate you via that. Not sure why your application for this one hasn't been received - but I've sent you an offer. I've also applied the 50% bonus for merging the PR within 3 days.

@sobitneupane - settled up for C+ 👍

[2022-11-29 14:52] AndreasBBS commented on #12854
I cannot open this slack archive but I only reported the bug on November 11 so I think @Puneet-here should get this one. Sorry for the confusion, I was not aware of this previous reporting.

[2022-11-29 14:53] parasharrajat commented on #11229
@trjExpensify Based on https://github.com/Expensify/App/issues/11229#issuecomment-1322209914, I should be eligible for the bonus as well.

[2022-11-29 14:55] sketchydroide commented on #12253
I assume this has not been has important as WAQ so it will be kept in monthly?

[2022-11-29 14:59] kavimuru opened #13131 "The emails that display under profile photo and in my account settings are different."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre condition: User has added research@expensify.com as secondary login
1. Go to Settings and check the email address
2. Go to Pr

[2022-11-29 15:07] Gonals commented on #12951
@JmillsExpensify, should we get a C+ in here?

[2022-11-29 15:12] trjExpensify commented on #11854
As for the checklist:

- The PR has been identified
- I've commented on it
- We don't have a regression test for uploading an attachment via `Take Photo` which would have caught this one far sooner than we did. Created an issue to [add one here](https://github.com/Expensify/Expensify/issues/245321).

[2022-11-29 15:13] kavimuru opened #13132 "[$1000] Icons in VBA flow are very hard to see or white in dark mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com (Web)
2. Sign into a valid account
3. Click on Profile > Workspace > Connect bank > Connect m

[2022-11-29 15:14] OSBotify commented on #13132
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-29 15:21] Gonals commented on #13022
@sonialiap, we would recognize the bug report @Tushu17 mentions, right?

[2022-11-29 15:27] eh2077 commented on #12155
Hi @Santhosh-Sellavel, thanks for checking the proposal!

I apply the diff of upstream lib `expensify-common` to App project through following steps.
First, clone `expensify-common` to local disk and apply following diff
[code]
Second, switch to local dependency in the `package.json` file of App project
[code]
Last, run `npm install --save` and start the App.

Hope this helps though this new featu

[2022-11-29 15:28] yuwenmemon commented on #13074
@MonilBhavsar do you have a link to the past issue?

[2022-11-29 15:34] JmillsExpensify commented on #4733
Created [a thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1669673905639649) in Slack for us all to discuss. This is one of our older open issues in the repo, so I'm looking to understand:

 - What we are currently blocked on, and when do we expect to unblock that?
 - How much longer do we estimate until a PR is ready for review?

Basically this let's keep this moving and get this issue

[2022-11-29 15:34] tgolen commented on #11277
The linked PR is looking to be merged this week 🤞

[2022-11-29 15:36] tgolen commented on #10670
The related PR is in review now and should be merged today if all goes well.

[2022-11-29 15:38] Santhosh-Sellavel commented on #12155
@eh2077 This is on hold, please focus on other [open](https://github.com/Expensify/App/issues?q=is%3Aissue+is%3Aopen+label%3A%22Help+Wanted%22) issues for now. When this is off-hold I will review this, thanks!

[2022-11-29 15:39] Julesssss opened #13133 "Mobile keyboard doesn't include `/` char when expiration field is in focus"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

CC @Gonals

## Action Performed:
- Navigate to Profile > Payments > Add A debit Card
- Fill in the data until you get to the expiration date field
- S

[2022-11-29 15:39] davidcardoza commented on #12234
@rushatgabhane an offer was sent to you via upwork.

[2022-11-29 15:39] Gonals commented on #13117
Taking a look!

[2022-11-29 15:42] mollfpr commented on #13104
Hey @greg-schroeder, since I got assigned to the PR, could you assign the issue and create the Upwork job? Thanks!

[2022-11-29 15:42] trjExpensify commented on #11854
Cool, I've now settled up with @hellohublot. Closing!

[2022-11-29 15:42] #11854 closed

[2022-11-29 15:43] davidcardoza commented on #12234
@rushatgabhane moving forward please add `C+ reviewed` in issues and PRs for my team to locate the Contributor+ to pay.

[2022-11-29 15:44] Gonals commented on #13127
I'm not seeing this behavior. What browser are you using?
<img width="382" alt="Screenshot 2022-11-29 at 4 43 56 PM" src="https://user-images.githubusercontent.com/19366280/204575499-71a63735-9693-4204-bbb8-0faa071ecdaa.png">

[2022-11-29 15:44] rawalyogendra commented on #10670
@tgolen @JmillsExpensify should I add my proposal to fix this issue now or after the related PR is merged?

[2022-11-29 15:45] trjExpensify commented on #11229
You were hired and paid on both of those linked jobs above, no?

[2022-11-29 15:46] parasharrajat commented on #11283
Will share the update in 2 hours.

[2022-11-29 15:47] parasharrajat commented on #11229
Yeah, found it. Thanks.

[2022-11-29 15:48] kbecciv opened #13134 "[$1000] Web - Workspace- The green background does not completely cover the Delete Workspace button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log with any account
3. Setting>Workspaces>choose any Workspace>Click three do

[2022-11-29 15:48] parasharrajat commented on #4733
Its Awaiting a PR from @azimgd.

[2022-11-29 15:49] Puneet-here commented on #13133
### Proposal

I suggest that we change the placeholder to `MMYY` so that the user will know that they don't have to add `/` Many sites do the same.
https://github.com/Expensify/App/blob/3e47bce7f7d98812735ba9b00de282a4fa9345ed/src/languages/en.js#L415
Another solution is to remove the keyboard this way the user can switch the keyboard to add numbers and `/`
We have keyboard type `numbers-and-punct

[2022-11-29 15:52] luacmartins commented on #13017
I haven't looked into this in more details, but my guess is that IOU reports are not being returned properly by OpenReport and the data is not available. Not sure what's causing this though.

[2022-11-29 15:52] stephanieelliott commented on #12141
That makes sense, thanks for the context @tgolen! So then it sounds like this is solved for most use cases, I agree we don't really need or want it on `https://www.expensify.com/chat-attachments` -- considering this one fixed!

[2022-11-29 15:52] #12141 closed

[2022-11-29 15:53] rosegrech commented on #12913
sure thing, this is a bit smoother:

[2022-11-29 15:53] sketchydroide commented on #10414
@parasharrajat any updates on testing @s77rt suggestion?

[2022-11-29 15:56] joekaufmanexpensify commented on #13066
Closed duplicate upwork job, and hid comment about it to avoid confusion.

[2022-11-29 15:57] parasharrajat commented on #10414
Yeah, I do. Trying to test it first but it will take some time my mac is broken again, Thanks to me.

[2022-11-29 15:57] mollfpr commented on #12745
@trjExpensify Thanks for the insight! Let's see how @tgolen feel about the current state.

[2022-11-29 15:59] sketchydroide commented on #10414
😭

[2022-11-29 16:00] parasharrajat commented on #10414
There are some bootup issues so it shouldn't take much.

[2022-11-29 16:01] JalalMitali commented on #13066
**Proposal**
let's add another whitespace like the following :
`const emojiWithSpace = ` ${emoji} `;`

[2022-11-29 16:03] hungvu193 commented on #13134
<b>Proposal</b>
There's a `padding: 12` `createMenuContainer` style `BasePopoverMenu.js`.
<img width="1182" alt="Screen Shot 2022-11-29 at 23 01 34" src="https://user-images.githubusercontent.com/16502320/204579926-4348deeb-98b0-43d2-ba7c-426bf78dc161.png">

We need to remove that padding and it will fix the issue.

Result:

<img width="908" alt="Screen Shot 2022-11-29 at 23 02 54" src="https://us

[2022-11-29 16:03] stephanieelliott commented on #13070
Hey @JmillsExpensify, should this go to you as part of WAQ Emojis?

[2022-11-29 16:07] OSBotify commented on #13099
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/13119) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.33-2` :rocket:

[2022-11-29 16:11] sketchydroide commented on #11768
I have read and reviewed this Design Doc!

[2022-11-29 16:12] luacmartins commented on #13099
Thanks for the fix @marcaaron

[2022-11-29 16:13] kbecciv opened #13137 "Android - KYC flow - Unable to add additional details, error is appeared."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition (on OldDot):
1. Log in with a new applause.expensifail account
2. Navigate to OldDot > Account > Payments and add a

[2022-11-29 16:26] s77rt commented on #10414
@parasharrajat
The change to the modal is just to not keep the modal covering the entire screen otherwise we won't be able to focus on other elements that are under the modal.
Check rule number 3 on https://github.com/Expensify/App/issues/10414#issuecomment-1314058212

[2022-11-29 16:26] mollfpr commented on #13110
@hungvu193 Your [proposal](https://github.com/Expensify/App/issues/13110#issuecomment-1330031545) did fix the issue, but I am more inclined to fix why `ReportActionItemSingle` didn't show the latest concierge `personalDetails`.

<img width="1426" alt="Screen Shot 2022-11-29 at 23 25 56" src="https://user-images.githubusercontent.com/25520267/204585771-fa5a1017-f691-464f-8536-36543c839868.png">

[2022-11-29 16:31] iwiznia commented on #10731
Yeah, I think that's best at this point, right? Seems the PR will be merged, just not right now, no?

[2022-11-29 16:34] kbecciv opened #13138 "Sent money - Black empty screen is displayed after tap on 'Pay with Expensify'"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: (on OldDot)
1. Log in with a new applause.expensifail account
2. Navigate to OldDot > Account > Payments and add a

[2022-11-29 16:35] zanyrenney commented on #12692
Waiting until the 7 days and then we will be ready for payment.

[2022-11-29 16:36] luacmartins commented on #12938
The issues seems to come from RN, so I think that we should try to fix it there first instead of implementing a workaround in our App

[2022-11-29 16:39] conorpendergrast commented on #13002
@0xmiroslav Contract sent; please let me know when you've accepted and I'll pay it!

[2022-11-29 16:40] luacmartins commented on #13009
@trjExpensify Should I still fill the [checklist](https://github.com/Expensify/App/issues/13009#issuecomment-1329711804) in this case?

[2022-11-29 16:46] neil-marcellini commented on #10283
How's the regression test coming along @johncschuster?

[2022-11-29 16:46] mountiny commented on #12850
At the moment I have my plate full, but feel free to tag me for a review.

What I would recommend tho is to look at this Web PR https://github.com/Expensify/Web-Expensify/pull/35588 and its associated App PR https://github.com/Expensify/App/pull/12759 which might also remove this console error.

Also we should update the issue body and title based on the finding here https://github.com/Expensify/A

[2022-11-29 16:47] mountiny commented on #10525
Assigning @mollfpr as they have reviewed the PR so we dont forget to pay them once the time comes @JmillsExpensify

[2022-11-29 16:48] JmillsExpensify commented on #10765
Ok cool. @advaitasol9 I've unassigned you from this issue and issued payment via Upwork. @Santhosh-Sellavel I think in your case you'll be needed still on the PR review, so I've hired you as is in the Upwork job and we can settle up after this PR gets merged.

[2022-11-29 16:49] bfitzexpensify commented on #13131
@Beamanator tagging you in for the above since you mentioned in Slack that this likely came from https://github.com/Expensify/App/pull/12919

[2022-11-29 16:55] luacmartins commented on #12400
I'm not sure that the offending PR is correct. The feature was introduced in the linked PR and worked well. AFAIK we had quite a few regressions on this functionality along the way, e.g. https://github.com/Expensify/App/issues/11424 and https://github.com/Expensify/App/issues/11729

[2022-11-29 16:55] luacmartins commented on #13009
Ah yea, no payments.

[2022-11-29 16:57] Santhosh-Sellavel commented on #10765
@ctkochan22 Let me know when PR is up, thanks!

[2022-11-29 16:58] hungvu193 commented on #13110
@mollfpr damn, I found a very funny bug in this line:
[code]
The values of `props.personalDetails[props.action.actorEmail]` has `avatar`: https://d2k5nsl2zxldvw.cloudfront.net/images/icons/concierge_2022.png
But when I tried to console.log the `avatar` value from destructuring it returned: https://d2k5nsl2zxldvw.cloudfront.net/images/icons/concierge_2021.png

<img width="510" alt="Screen Shot 2022

[2022-11-29 16:59] MonilBhavsar commented on #13074
Here is the issue https://github.com/Expensify/App/issues/11471
We decided to create a new issue to fix the root cause.

[2022-11-29 17:01] mollfpr commented on #13110
@hungvu193 Yup, that makes me confuse at first 🤣

[2022-11-29 17:02] tjferriss commented on #12893
Thank you @aldo-expensify. This looks ready to go so I'm going to add the External tag.

[2022-11-29 17:02] hungvu193 commented on #13110
@mollfpr but look at the preview, the avatar is 2021, so now I'm confused with myself :|
<img width="502" alt="Screen Shot 2022-11-30 at 00 02 26" src="https://user-images.githubusercontent.com/16502320/204594442-f4222d34-b9dd-44f7-889f-ef8077a3a47b.png">

[2022-11-29 17:03] kavimuru opened #13139 "The message /report item should remain highlighted when context menu is being opened."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open the app on web.
2. Open any report/chat.
3. Hover over any message.
4. Notice the highlighted background of the message.

[2022-11-29 17:05] OSBotify commented on #13139
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-29 17:06] JmillsExpensify commented on #10525
Ok cool. I'll have to circle back on this later as this is a new process still and I want to make sure we're aligned internally on how this should work.

[2022-11-29 17:08] Santhosh-Sellavel commented on #13069
Pretty much @marcaaron covered everything I had to start a discussion today.

Just summing up the Q's

- [ ] Should we allow IOU in Default Rooms(#announce, #admin)?
- [ ] Should we allow IOU In User Created Rooms?
- [ ] Should we allow IOU in the Policy Expense Chat (Workspace Chat, Workspace & User Collaboration chats) This is behind beta.?
- [ ] Should we allow Only Split Bills in any rooms?
-

[2022-11-29 17:08] JmillsExpensify commented on #13110
I saw the same thing for hover [in this comment](https://github.com/Expensify/App/issues/13110#issuecomment-1330052097).

[2022-11-29 17:08] christianwen commented on #10731
@iwiznia it's not really that PR content, but the 'inputMode' support mentioned in https://github.com/necolas/react-native-web/issues/2421#issuecomment-1308019532, it will be added to 'react-native-web' eventually, just that we haven't been able to confirm with the maintainer on the dates, so we might want to add that 'inputMode' to our own fork for now

[2022-11-29 17:08] thesahindia commented on #13139
It's also on production. Not a blocker.

[2022-11-29 17:15] arosiclair commented on #13139
Yep reproduced both in **staging v1.2.33-2** and **prod v1.2.32-2**. Closing

[2022-11-29 17:16] arosiclair commented on #13099
Closed #13139 as it is reproducible in prod

[2022-11-29 17:18] azimgd commented on #4733
I'm almost done (~90%): https://github.com/Expensify/react-native/pull/35.

Just small styling improvements and overall testing is needed. Gonna ask help with reviewing this from other folks with ios and android experience in slack.

[2022-11-29 17:19] trjExpensify commented on #12747
I agree with that. One thing to add to this is that in the past we haven't been able to add server errors in-line on forms. @ctkochan22 has been working on an issue where we're making that happen, but if we're updating error messages let's make sure they are placed contextually in-line.

[2022-11-29 17:21] hungvu193 commented on #13110
Yeah.
But again the issue here's the way` avatarUrl`'s calculated:
[code]
<img width="510" alt="Screen Shot 2022-11-30 at 00 18 09" src="https://user-images.githubusercontent.com/16502320/204597909-8ab850fa-1c3d-4137-a12e-3fd76c0a1ada.png">

`props.action.automatic` is false even with Concierge message, so the condition always return `(avatar || props.action.avatar)`, so if we fix the condition, w

[2022-11-29 17:23] OSBotify commented on #13099
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.33-2 has been deployed to staging :tada:

[2022-11-29 17:24] Tushu17 commented on #13022
@Gonals The solution used in your PR is quite similar to my proposal ([here](https://github.com/Expensify/App/issues/13022#issuecomment-1326836243)) which I posted few days back, Ig I should be compensated for the solution as well.

[2022-11-29 17:25] luacmartins commented on #13127
I'm also not able to reproduce
![Screenshot 2022-11-29 at 9 17 00 AM](https://user-images.githubusercontent.com/22219519/204599376-307f517f-d48f-406a-a30e-5720538def2f.png)

[2022-11-29 17:27] JmillsExpensify commented on #10414
@sketchydroide @parasharrajat We really need to speed up evaluating @s77rt's proposal. It was provided 15 days ago. Can we close the loop on this today?

[2022-11-29 17:28] JmillsExpensify commented on #13070
I'm pretty overloaded on bugs at the moment, so would you mind pushing this one forward? I'll still make sure it's on the larger tracking issue.

[2022-11-29 17:29] JmillsExpensify commented on #13070
That said, I'm not totally sure I understand the reproduction steps. What does this mean?

[2022-11-29 17:30] trjExpensify commented on #13069
Yeah, it has come up a few times. [Like here](https://expensify.slack.com/archives/C01GTK53T8Q/p1631736957366700), and we don't need to restrict people from using `Split bill` in rooms.

Wrt to showing `Spilt bill` in a room with only 2 members. I think that's fine and better than the added complexity of switching `Request money` for `Split bill` as the room member list grows, given that it's an e

[2022-11-29 17:31] kavimuru opened #13140 "[HOLD #227234] Receiving Notifications from chats sent months ago"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to a chat with Gabi
2. Start chatting

## Expected Result:
Notifications received would be from our chats happening now

##

[2022-11-29 17:32] JmillsExpensify commented on #4733
Great thanks! Let's get this one up for reviews. 🙌🏼

[2022-11-29 17:32] alex-mechler commented on #12289
@JmillsExpensify after spending time trying to find any pr that could have introduced this, I was unable to find one. I spent a decent amount of time, but even as far back as I could go without running into major compilation errors, this was still reproducible. I'm not sure we will be able to find the root cause in a decent amount of time. I don't think the best use of my time is to keep digging d

[2022-11-29 17:34] trjExpensify commented on #11085
Works for me!

[2022-11-29 17:34] mananjadhav commented on #13133
@Julesssss is this about not able to add from keyboard? or not able to add slash at all? I remember working on this PR [here](https://github.com/Expensify/App/issues/6891) to add auto-slash

[2022-11-29 17:34] zanyrenney commented on #12058
Sorry @huzaifa-99 but from this comment it looks like it is correct this is closed in favour of that issue that covers this off? https://github.com/Expensify/App/issues/12058#issuecomment-1313568732 @roryabraham please also let me know your thoughts here.

[2022-11-29 17:37] stitesExpensify commented on #9470
This was fixed by other PRs and the method no longer exists. Closing.

[2022-11-29 17:37] #9470 closed

[2022-11-29 17:38] stitesExpensify commented on #12188
Moving this to weekly so we don't get pinged as much while it's on hold

[2022-11-29 17:39] Julesssss commented on #8236
No action required. The linked issue is already fixed with a separate PR

[2022-11-29 17:41] JmillsExpensify commented on #12188
I'd even go with monthly for now.

[2022-11-29 17:41] sketchydroide commented on #10414
Yes, sorry his proposal got lost in the midst of the colapsable items on GH, we will try to get this reviewed asap

[2022-11-29 17:42] JmillsExpensify commented on #12289
Ok, I think that's fine, though obviously not ideal. Given that we have a bunch of other bugs to still handle, I'm good with moving on. @puneetlath Can weight in too when he returns.

[2022-11-29 17:42] Julesssss commented on #13133
Not during my testing today. We use the numerical keyboard type, and it wasn't auto-added. I do also recall a conversation about this though 😕

[2022-11-29 17:44] JmillsExpensify commented on #12289
P.S. @huzaifa99 we're still waiting for you to apply to the Upwork job.

[2022-11-29 17:44] luacmartins commented on #13132
Gonna reassign to myself since Maria might be out for the day.

[2022-11-29 17:45] JmillsExpensify commented on #12289
As for the regression test, I can get started on that now. I think this is fairly useful to add, even if it's largely cosmetic.

Delete a message in the middle of the bank of messages
Verify the header with the name appears as expected, only at the top of the bank of messages
Delete the first message in the bank of messages
Verify the header still appears, and does not flicker
Repeat 2-5 with netw

[2022-11-29 17:48] Puneet-here commented on #13133
It was removed [here](https://github.com/Expensify/App/pull/9056/commits/100ebd0152d645bc23f1526c7afe2ce84f9d0bf9). We can add it back.

[2022-11-29 17:49] kbecciv opened #13141 "Web - Sign -The password is not visible in dark mode when you have autofill"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. In log in page start typing your email address
3. Select any email

## Expected Result:
The

[2022-11-29 17:50] alex-mechler commented on #12289
I think that regression test looks good to me, its the same steps I used to verify my fix worked, so it makes sense 👍

[2022-11-29 17:50] OSBotify commented on #13141
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-29 17:52] dhairyasenjaliya commented on #12058
@zanyrenney also bug reporting bonus remaining since it was valid at reporting time then later on it was decided not to focus on keyboard navigation issues

[2022-11-29 17:52] JmillsExpensify commented on #12951
Ah yeah, sorry about that.

[2022-11-29 17:53] JmillsExpensify commented on #12951
@mananjadhav We have a proposal above for your review. Thanks!

[2022-11-29 17:53] JalalMitali commented on #13066
**Proposa : l***
let us edit the add add emoji function and add new whitespace edit the start and end of string accordingly and it works!
`addEmojiToTextBox(emoji) {
        const emojiWithSpace = `${emoji} `;
        const newComment = this.comment.slice(0, this.state.selection.start - 1)
            + emojiWithSpace + this.comment.slice(this.state.selection.end - 1, this.comment.length);

[2022-11-29 17:53] techievivek commented on #12363
I just tested by commenting out the prop and it seems to not have that drift/scroll effect when we re-open the chat.

With prop
----------

https://user-images.githubusercontent.com/35863227/204604664-cbbb3bd7-de52-4cfe-a607-74254b7951b5.mov

Without Prop
-------------

https://user-images.githubusercontent.com/35863227/204605117-f83a1010-3215-49cf-8551-1243d8ef629f.mov

[2022-11-29 17:56] luacmartins commented on #13132
@dhairyasenjaliya solution one looks good! Can you get a PR up soon since this is a deploy blocker?

[2022-11-29 17:57] JmillsExpensify commented on #13044
I don't think this form is affected by passwordless, because you still need to enter your email address to sign-up for the app. So it's going to still exist. I think this is a pretty cosmetic bug but worth fixing if the corresponding solution is also straightforward.

[2022-11-29 17:57] tjferriss commented on #11689
Ok I'm manually adding the checklist to close this out:

- [ ] If this bug was caught on production, add or update the [regression tests](https://expensify.testrail.io/index.php?/dashboard) ([SO for How do I get new regular regression QA tests added?](https://stackoverflow.com/c/expensify/questions/363/364#364)) so that the same bug can’t reach production again and link to the updated test here:

[2022-11-29 17:58] dhairyasenjaliya commented on #13132
Hey @luacmartins sure creating PR now

[2022-11-29 17:58] JmillsExpensify commented on #11083
That's a great point. I think you're right, it should be held, though more so to Sequence Numbers yeah? vs react navigation?

[2022-11-29 17:58] luacmartins commented on #13132
Cool, I'll assign you to this issue and get the process started! Thanks!

[2022-11-29 17:59] luacmartins commented on #13132
Going to speed this one up since it's a deploy blocker

[2022-11-29 17:59] thienlnam commented on #10190
Yeah thats fine, let's revisit this once P2P is back on the horizon but we can close this for #focus on WAQ

[2022-11-29 17:59] #10190 closed

[2022-11-29 18:04] JmillsExpensify commented on #12289
Oh yeah haha I pulled it from your PR 😄. I'll create a separate regression issue for Applause. Ideally we don't have to create a special test just for this.

[2022-11-29 18:05] JmillsExpensify commented on #12666
@mananjadhav Can you please apply here and I'll handle: https://www.upwork.com/jobs/~0115fde2357c200b23

[2022-11-29 18:06] thienlnam commented on #10693
I added a link to the potential offending PR but it's from way back - https://github.com/Expensify/App/pull/10147

cc @adelekennedy Are you able to take care of the other items on the checklist please? https://github.com/Expensify/App/issues/10693#issuecomment-1311038367

[2022-11-29 18:06] deetergp commented on #13114
This definitely seems like it could be external.

[2022-11-29 18:07] JmillsExpensify commented on #12574
@mananjadhav can you apply here please? https://www.upwork.com/jobs/~011aef35eb61fef46b

[2022-11-29 18:07] roryabraham commented on #8503
Asked the folks at UrbanAirship if they have any plans of upgrading https://github.com/urbanairship/react-native-module any time soon via our shared slack channel [here](https://expensify.slack.com/archives/C01RJ1RCK8D/p1669744967294199)

[2022-11-29 18:11] Tushu17 commented on #12574
@JmillsExpensify, I'm also eligible for reporting bonus.

[2022-11-29 18:15] JmillsExpensify commented on #12666
Done. All paid out.

[2022-11-29 18:15] #12666 closed

[2022-11-29 18:16] mananjadhav commented on #12574
Thanks @JmillsExpensify for the help here. All done for my side.

[2022-11-29 18:17] JmillsExpensify commented on #12574
@Tushu17 Same link above should work for you.

[2022-11-29 18:18] mananjadhav commented on #12574
@JmillsExpensify Wrong comment. The paid out comment was for another issue. I am unable to apply to this job. It says `Only invited users can find, view and apply to the job`

[2022-11-29 18:21] marcaaron commented on #13063
Confused about this one. Is it the expected behavior? Having a chat row "jump" while you are typing seems a bit distracting. Not entirely sure we need to fix this and curious if we can just "Do Nothing" here.

[2022-11-29 18:23] JmillsExpensify commented on #12574
Just invited you. Upwork is being difficult 😄

[2022-11-29 18:24] kavimuru opened #13143 "Reimburse expenses shows “Connect bank account” after relogin"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a workspace on NewDot
2. Click Connect bank account
3. Follow the steps in SO (internal) to create an OPEN bank account

[2022-11-29 18:24] s77rt commented on #12058
The solution to this issue https://github.com/Expensify/App/issues/12010
is the solution of https://github.com/Expensify/App/issues/12058 and https://github.com/Expensify/App/issues/12554

I don't know how to handle such case but it's logical to close the new issues in favour of the old one but this didn't happen.
If it was about implementing a solution, I'd say @huzaifa-99 should be credited for

[2022-11-29 18:27] JmillsExpensify commented on #8592
Ok thanks, let's get this one moving! It's one of the 11 oldest issues in the repo.

[2022-11-29 18:29] JmillsExpensify commented on #12616
Great call, I missed that one.

[2022-11-29 18:29] neil-marcellini commented on #13143
We already have an internal issue for this [here](https://github.com/Expensify/Expensify/issues/244855) so I'm going to close this.

[2022-11-29 18:29] #13143 closed

[2022-11-29 18:31] mvtglobally commented on #13099
Regression is completed

PR https://github.com/Expensify/App/pull/12944#issuecomment-1329817684 Can we check off? Dark mode is definitely On
PR https://github.com/Expensify/App/pull/13054 Error is not fixed.
PR https://github.com/Expensify/App/pull/13119 There is no option to autofill on Desktop/IOS/Android. Is it expected?
PR https://github.com/Expensify/App/pull/13077 is failing with KI https://

[2022-11-29 18:31] mananjadhav commented on #12574
Haha! Applied @JmillsExpensify

[2022-11-29 18:33] JmillsExpensify commented on #12574
Offers just sent to both C and C+

[2022-11-29 18:36] kavimuru opened #13145 "[HOLD] Removing member from workspace does not remove them from user created room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a workspace
2. Invite two members
3. Create a room (e.g. #test )
4. Remove a member
5. Navigate to the #test room /part

[2022-11-29 18:37] JalalMitali commented on #13066
@joekaufmanexpensify @johnmlee101 can you please check if this solution above is valid or there is something that has to be changed or done in different manner **thanks**!

[2022-11-29 18:38] thienlnam commented on #12719
Removing help wanted / daily labels as this is part of the navigation reboot

[2022-11-29 18:39] luacmartins commented on #13099
- https://github.com/Expensify/App/pull/12944#issuecomment-1329817684 yes, checking it off.
- https://github.com/Expensify/App/pull/13054 Thanks! I pinged the author in the PR. I'll check it off now since it doesn't break any functionality
- https://github.com/Expensify/App/pull/13119 yes, AFAIK only Web will have autofill enabled
- https://github.com/Expensify/App/pull/13077 I pinged the authors.

[2022-11-29 18:40] tjferriss commented on #12961
@s77rt I've just hired you in Upworks. @sobitneupane I've invited you to apply to the posting in Upworks. Please let me know here once you've applied.

[2022-11-29 18:40] JmillsExpensify commented on #12574
Everyone should be handled now. Regression test also already exists, so I think we're done here. Closing!

[2022-11-29 18:40] #12574 closed

[2022-11-29 18:41] AndrewGable commented on #12828
Agree I haven't seen it either 👻

[2022-11-29 18:41] #12828 closed

[2022-11-29 18:44] CortneyOfstad commented on #12693
Will have this paid by EOD today 👍

[2022-11-29 18:44] s77rt commented on #13145
Can someone confirm if this is a bug or the expected behaviour?

[2022-11-29 18:46] aldo-expensify commented on #12850
Same! feel free to work on it

[2022-11-29 18:47] mananjadhav commented on #9973
@sketchydroide Assignment didn't add a `Assigned job` comment on GH.

@eVoloshchak Can you start with the PR?

[2022-11-29 18:47] JmillsExpensify commented on #10824
Please take that question to open source in Slack. However for clarity we only compensate for merged PRs. This specific issue was reported by our regression testing partner.

[2022-11-29 18:47] Santhosh-Sellavel commented on #10654
I believe these are the PRs
https://github.com/Expensify/react-native-web/pull/6 - Which included a fix to our fork
 https://github.com/Expensify/App/pull/10434 - Fork to App.

[2022-11-29 18:48] abekkala commented on #11953
@ctkochan22 I left a comment on [this GH ](https://github.com/Expensify/App/issues/12046)
As I believe this one was placed on HOLD for that one. But when I test it's still behaving in a way that I don't think it should.

Does this one need to be taken off hold as the fix for that one did not resolve this one?

[2022-11-29 18:48] Santhosh-Sellavel commented on #10654
bump again!

[2022-11-29 18:48] adelekennedy commented on #8005
These closed issues always get me - both have been paid out 2k

[2022-11-29 18:48] tjferriss commented on #11903
@aneequeahmad and @aimane-chnaif can you both please apply to the job in Upworks? https://www.upwork.com/jobs/~0128135a88a5516b95

[2022-11-29 18:49] JmillsExpensify commented on #12058
@roryabraham @parasharrajat Is this issue still aimed at solving focus for TAB navigation? If so, I think we should close it. We've announced that these are new accessibility features and not bugs.

[2022-11-29 18:49] mananjadhav commented on #11094
PR is reviewed and approved. Just left to merge.

[2022-11-29 18:50] PauloGasparSv commented on #13099
@luacmartins @mvtglobally

About https://github.com/Expensify/App/pull/13077 I think there was no option to zoom on mWeb before so it's ok.
I tested sending a picture and pinching it on https://new.expensify.com/ and https://staging.new.expensify.com/ in my phone here and they are both working the same way.

Now I took a look at that [build failure](https://github.com/Expensify/App/actions/runs/35

[2022-11-29 18:50] mananjadhav commented on #11336
@aimane-chnaif Did you get a chance to look at the comment?

[2022-11-29 18:50] PauloGasparSv commented on #13099
Also, what do you mean by `This one not working as expected` @mvtglobally @luacmartins

[2022-11-29 18:50] JmillsExpensify commented on #11094
Awesome, it looks like we're just waiting on someone to press merge. Who is that going to be?

[2022-11-29 18:51] marcaaron commented on #13145
@s77rt Thanks, but it's not necessary to ask this as it's part of our process to investigate any created issues. I reported this one and don't think it's the expected behavior.

[2022-11-29 18:51] mananjadhav commented on #11094
@tgolen Will merge the PR.

[2022-11-29 18:52] mvtglobally commented on #13099
@PauloGasparSv "This one not working as expected"  I was referring to the zooming not properly working on mWeb and also to the issue https://github.com/Expensify/App/issues/12777 still reproducing.

[2022-11-29 18:53] PauloGasparSv commented on #13141
Taking a look at it right now!

[2022-11-29 18:54] JmillsExpensify commented on #10793
@marcaaron Mind jumping in this PR when you get a chance today. Looks like you're requested at the moment.

[2022-11-29 18:56] mananjadhav commented on #12744
@MitchExpensify @grgia This is ready for payout tomorrow. Also eligible for 50% bonus to complete within 3 days.

[2022-11-29 18:56] PauloGasparSv commented on #13099
@mvtglobally Can you include video on https://github.com/Expensify/App/issues/12777 of the issue still reproducing? I tested on my physical iOS device on the latest version of TestFlight and I cannot scroll outside of the image anymore.

[2022-11-29 18:57] s77rt commented on #13145
Thanks for the clarification.
I'm going to follow this for now, depending on the deletion algo it may be internal or external, i guess:
- Removal should be done on server-side (internal)
- Removal should be done on client-side (external)
- Removal is done on server-side but Onyx data is not updated (external)

[2022-11-29 18:57] JmillsExpensify commented on #12292
Ok gotcha. So @thesahindia has been paid out for reporting and the PR review was internal, so I'll close out the issue.

[2022-11-29 18:58] johnmlee101 commented on #13066
@JalalMitali from your video it looks like the emoji is inserted _before_ the cursor which seems incorrect?
With `|` being the cursor
`test😄|test`
adding another smiley should make it `test😄😄 |test`
But your video shows its `test😄 |😄test`

[2022-11-29 18:58] JmillsExpensify commented on #12292
Do we have a GH issue for this yet? If not, we're going to forget so I recommend creating one and putting [HOLD WAQ] in the title.

[2022-11-29 18:58] #12292 closed

[2022-11-29 18:59] johnmlee101 commented on #13066
IMO this does look like an off-by-one error more than the other suggestions. Ideally whenever you close an emoji from `:smiley :` to `:smiley:` it should place the cursor immediately after, not somewhere inside of the emoji as it seems to do today.

[2022-11-29 18:59] s77rt commented on #13034
@francoisl I think this should also handled on the client-side, otherwise the issue may be reproducible offline

[2022-11-29 19:01] aldo-expensify commented on #10262
Sorry for the slow progress on this, I'll try to get it done today asap so we can un-hold this one.

[2022-11-29 19:01] JmillsExpensify commented on #11346
Yes, the bonus only applies externally.

[2022-11-29 19:02] kavimuru opened #13146 "[$8000] Mac / Safari - Copy to clipboard Tooltip doesn't show copied on clicking the clipboard icon."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat
2. Click on the participant title to open the details view
3. Click on the Copy to clipboard icon :clipboard:

[2022-11-29 19:03] JmillsExpensify commented on #11346
You're all paid out! Closing this issue.

[2022-11-29 19:03] #11346 closed

[2022-11-29 19:04] CortneyOfstad commented on #12693
Job posting — https://www.upwork.com/jobs/~018c9998e3f5f89303

@hungvu193 @thesahindia @Puneet-here — I've sent over the contracts. Once those are accepted, I will get that payment sent out by EOD today 👍

Thanks!

[2022-11-29 19:04] PauloGasparSv commented on #13141
I'm trying to reproduce here but the field gets highlighted for me instead making the password visible. Let me think.

<img width="1678" alt="image" src="https://user-images.githubusercontent.com/6564265/204622396-86df5666-6de1-420b-ac8c-276abcb91478.png">

[2022-11-29 19:07] PauloGasparSv commented on #13141
Ok, reproduced it here! Had to type something after it gets highlighted : )

[2022-11-29 19:09] kavimuru opened #13147 "Sidebar border is not clearly visible when brightness is low"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Goto https://staging.new.expensify.com/
2. Click on settings

## Expected Result:
Sidebar border is clearly visible

## Actua

[2022-11-29 19:10] PauloGasparSv commented on #13141
Never mind, I accidentally messed with the CSS.

I can't reproduce this, will ask for help on slack!

[2022-11-29 19:10] eVoloshchak commented on #9973
Sure thing, will open the PR tomorrow

[2022-11-29 19:12] davidcardoza commented on #12726
payment sent @Puneet-here

[2022-11-29 19:13] davidcardoza commented on #13041
I am not able to reproduce, closing.
![IMG_97027D19D895-1](https://user-images.githubusercontent.com/6643649/204624025-4bbcfaa8-3a2d-4d81-a8e3-4ca160ce1fca.jpeg)

[2022-11-29 19:13] #13041 closed

[2022-11-29 19:13] flaviadefaria commented on #12889
@thesahindia I'm just clarifying something internally but will aim to pay you tomorrow!

[2022-11-29 19:13] OSBotify commented on #13099
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/13142) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.33-3` :rocket:

[2022-11-29 19:15] PauloGasparSv commented on #13099
Could not reproduce the deploy blocker https://github.com/Expensify/App/issues/13141 so I asked for [help on slack](https://expensify.slack.com/archives/C03TQ48KC/p1669749256243979).

[2022-11-29 19:20] eVoloshchak commented on #12726
@davidcardoza, I reviewed the [PR](https://github.com/Expensify/App/pull/12736), but didn't get the payment.
This is the first PR I reviewed that hit production, so I'm not familiar with the process. Should I tag CME (BZ?) in the issue I reviewed the PR for?

[2022-11-29 19:21] mananjadhav commented on #12951
Thanks for the proposal @Pujan92. You might be right about the issue about div but I am not convinced of the solution. If you observe the `htmlToText` function, it has `htmlToTextRules` defined `ExpensiMark.js`, where we have a `stripTags` rule, with a regex to remove all tags.

---

Still open for better proposals.

[2022-11-29 19:22] francoisl commented on #13034
It should be fine and I'll make sure to test while offline :)

[2022-11-29 19:23] kbecciv opened #13150 "Chat - Image still moving when the cursor outside the image with resized window"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/13077

## Action Performed:
1. Go to staging.new.expensify.com
2. Login with a

[2022-11-29 19:24] pecanoro commented on #13127
I tried to reproduce on Safari, working just fine as well.

![Monosnap Monosnap 2022-11-29 14-23-52](https://user-images.githubusercontent.com/6474442/204628441-4b924ed1-cb2b-45f4-a330-da6b5b0e6fba.png)

[2022-11-29 19:24] Puneet-here commented on #11818
@davidcardoza, the payment is due. Can you please approve the milestone ([job](https://www.upwork.com/jobs/Space-after-emoji-doesn-get-added-for-edit-field-like-main-composer-11818_~01cfb61bdcd6543656))

[2022-11-29 19:26] PauloGasparSv commented on #13141
After some time I can reproduce the error!!!! That highlight was removed and deployed but I think I had some cached JS in my browser that made it stick.

[2022-11-29 19:31] luacmartins commented on #13127
I confirmed that this happens on Windows Chrome

[2022-11-29 19:44] kavimuru opened #13151 "[$2000] Empty state icons for `reimbursementAccountLoadingAnimation` don't have a transparent background in Dark Theme."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any workspace and attempt the Connect Bank Account step
2. Enter the bank account details, go to the company step
3. Fi

[2022-11-29 19:45] kbecciv opened #13152 "Android - New Room -The keyboard overlays the "New Room" button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Login with any Expensifail account
3. Click on FAB button -> New Room

## Expected Result:
The keyboard must N

[2022-11-29 19:45] mananjadhav commented on #13151
Tagging @Expensify/design  and @shawnborton too

[2022-11-29 19:54] kbecciv opened #13153 "Close Account - HTML tags and confusing wording in when closing account with workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
and login
2. Create a workspace and invite several members
3. Go to Settings/Security

[2022-11-29 19:56] thesahindia commented on #13153
Duplicate https://github.com/Expensify/App/issues/12747

[2022-11-29 20:02] PauloGasparSv commented on #13141
For some reason the css property `-webkit-transition-delay: 99999s` [introduced here](https://github.com/Expensify/App/pull/13119) is breaking the input.

I couldn't find any documentation about how the `transition-delay` or `-webkit-transition-delay` properties  work on input fields (or anything related to this problem).

https://user-images.githubusercontent.com/6564265/204635931-1567d277-c156-4

[2022-11-29 20:02] kbecciv opened #13154 "Workspace - The workspace deleted in the newly created account reappears"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. In the email field, enter a gmail email address for a new account -> Press con

[2022-11-29 20:06] roryabraham commented on #12267
Putting this on HOLD for https://github.com/Expensify/App/pull/12656

[2022-11-29 20:08] roryabraham commented on #10632
Still waiting for proposals, brought up in slack [here](https://expensify.slack.com/archives/C035J5C9FAP/p1669710641134479?thread_ts=1669655465.254259&cid=C035J5C9FAP)

[2022-11-29 20:08] roryabraham commented on #9457
Still on HOLD, but I'm actually going to drop this for now

[2022-11-29 20:10] JmillsExpensify commented on #10525
@mollfpr Upwork job is here: https://www.upwork.com/jobs/~018357b9f787f13d20

[2022-11-29 20:12] cead22 commented on #12651
@hungvu193 thanks for your patience, 👍 please  go ahead with your proposal. Here's a couple of notes
- I noticed that if `details.timezone` isn't set, I think we'll end up displaying `Local Time` and then nothing under it, because the logic to show this UI before was `!ReportUtils.hasExpensifyEmails && details.timezone ` and now it's `!ReportUtils.hasExpensifyEmails`
- Given that, I think you shou

[2022-11-29 20:14] kavimuru opened #13155 "[HOLD for payment 2022-12-15] New icon branding doesn't reflect in the link previews"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Copy the [new.expensify.com](http://new.expensify.com/) / [staging.new.expensify.com](http://staging.new.expensify.com/) link

[2022-11-29 20:14] JmillsExpensify commented on #10632
Doubling the price in the meantime.

[2022-11-29 20:14] roryabraham commented on #12582
Yes, we can just close this since no contributor was hired to fix it.

[2022-11-29 20:14] #12582 closed

[2022-11-29 20:15] OSBotify commented on #13099
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.33-3 has been deployed to staging :tada:

[2022-11-29 20:16] shawnborton commented on #9703
Just wanted to clarify that this is the correct fallback avatar link: https://github.com/Expensify/App/blob/main/assets/images/avatars/fallback-avatar.svg

[2022-11-29 20:16] roryabraham commented on #12726
Reopening for C+ payment.

@eVoloshchak the BugZero assignee handles payments, so they're the best person to tag. I recommend tagging people in the issue, not the pull request.

[2022-11-29 20:16] JmillsExpensify commented on #10632
Note: The previous upwork job expired, so the new one is here. https://www.upwork.com/jobs/~01c649adebe4e80002

[2022-11-29 20:18] roryabraham commented on #13123
Not sure how viable it is, but I would love to see a proposal for an upstream fix in SpeedMeasurePlugin that doesn't rely on a workaround like this.

[2022-11-29 20:18] davidcardoza commented on #11818
Done.

[2022-11-29 20:19] JmillsExpensify commented on #10262
Awesome, that's be ideal!

[2022-11-29 20:20] Santhosh-Sellavel commented on #12283
@mountiny Looks good to me so far, yet to test this one on a real device.

Meanwhile please @s77rt, please bump the maintainer of the library. I would suggest opening up a PR there instead of an issue report, thanks!

[2022-11-29 20:21] abekkala commented on #13151
@shawnborton is this going to be fixed internally?
If so, then I can just create an Upwork posting to hire/pay the contributor who reported the issue.

[2022-11-29 20:22] eVoloshchak commented on #12726
Thanks for clarifying!

[2022-11-29 20:22] shawnborton commented on #13151
The new .gif can be created internally, but we can use a contributor to update the .gif (it's just a file path that points to cloudfront) in the app.

[2022-11-29 20:24] Santhosh-Sellavel commented on #12119
@mountiny Can you assign me this one to track payment for PR review, thanks!

[2022-11-29 20:24] aldo-expensify commented on #11494
Had a look at `<blockquotes>`, consider this example:

The markdown
[code]

this translate to the **html** `before quotes<blockquote>quoted text</blockquote>after quotes`. This is fine in my opinion.

Then, the **html** above is transformed by `ExpensiMark.htmlToText` to `before quotes quoted text after quotes`. This is using when copying to clipboard and in the LHN. In my opinion this should have

[2022-11-29 20:25] s77rt commented on #12283
@Santhosh-Sellavel The library does not seem very active it may be better to apply a patch or fork the repo if it took to long
Let's test the proposal first

[2022-11-29 20:25] Santhosh-Sellavel commented on #11850
@MariaHCD Can you assign me this to track payment for review thanks!

[2022-11-29 20:25] JmillsExpensify commented on #9818
There we go! Lots of action in the PR too, thank you all.

[2022-11-29 20:25] roryabraham commented on #9703
Oh, whoops thanks @shawnborton. I didn't link to `main`

[2022-11-29 20:26] OSBotify commented on #13099
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/13106) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.33-4` :rocket:

[2022-11-29 20:26] Santhosh-Sellavel commented on #12283
Let's try it out first if unresponsive for over a week, let's do it on a fork!

[2022-11-29 20:27] JmillsExpensify commented on #12714
I agree with that.

[2022-11-29 20:28] kbecciv opened #13158 "Workspace - Workspace doesn't appear in invited account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
and login with new gmail accounts on 2 devices
2. On device 1 create a workspace
3. O

[2022-11-29 20:28] kevinksullivan commented on #13048
@luacmartins sorry just to clarify, we fixed this bug internally already? Or the issues related to not having a gold wallet?

[2022-11-29 20:29] roryabraham commented on #12058
I agree, we should close this.

Not sure if this is correct or not, but I think we need to sort this out when we close it. Normally reporting bonus is only paid for bugs and new features that are fixed/implemented.

[2022-11-29 20:29] kevinksullivan commented on #12246
Hm looks like this one just missed the notification to label properly. Waiting out the 7 day period still.

[2022-11-29 20:32] youssef-lr commented on #12459
I agree we can close this @JmillsExpensify.

[2022-11-29 20:33] kbecciv commented on #13158
QA team is failing step in TR for Admin / New User Section step 4. On the main testing device - Verify new member can immediately see the Workspace in their account.

https://expensify.testrail.io/index.php?/tests/view/2969249

![image](https://user-images.githubusercontent.com/93399543/204641399-7eb6644e-a23d-4352-b9cd-4dc8dc6c1220.png)

[2022-11-29 20:33] #12459 closed

[2022-11-29 20:33] kevinksullivan commented on #12645
Hm @sketchydroide still no update? Or is this fix deployed and we're just in the waiting period, as melvin suggests?

[2022-11-29 20:34] JmillsExpensify commented on #12283
That plan sounds fine to me, though @Gonals please weigh in tomorrow when you're back on.

[2022-11-29 20:35] JmillsExpensify commented on #11063
Ok cool. That sounds like a plan to me. I think we should put this issue on HOLD in the meantime in any case.

[2022-11-29 20:36] roryabraham commented on #12961
PR merged

[2022-11-29 20:38] johnmlee101 commented on #13066
@JalalMitali the emoji still seems to show up before the cursor, not after?

[2022-11-29 20:38] kbecciv opened #13159 "[Hold for payment 2022-12-20] Web - The "FAB" menu and the sidebar can be opened at the same time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Login with any account
3. Click on the global create button.
4. Press "CTRL+K" (co

[2022-11-29 20:38] kavimuru opened #13160 "[HOLD for Regression Test] [$1000] Emoji button on hover background doesn't have proper padding (background touches the icon border) in the dark theme."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open any chat
2. Hover on the emoji button on the composer,
3. Check the grey hover background

## Expected Result:
Grey hove

[2022-11-29 20:38] aldo-expensify commented on #10262
The expensify-common PR is ready for review now: https://github.com/Expensify/expensify-common/pull/474

From looking at @b1tjoy 's [proposals](https://github.com/Expensify/App/issues/10262#issuecomment-1311826800), I think you should be able to start working:

- Solution of problem 2 is not needed anymore because that is what https://github.com/Expensify/expensify-common/pull/474 is about, right?

[2022-11-29 20:38] roryabraham commented on #12363
Oh, good find. We do need that prop implemented. Maybe try playing with the `autoScrollToTopThreshold` value? make it `1` instead of `0`?

[2022-11-29 20:41] Puneet-here commented on #13160
### Proposal

Remove margin: 3
https://github.com/Expensify/App/blob/58c22bc44dc183e55c57c6a332a8790d46277840/src/styles/styles.js#L1503
instead pass
[code]

[2022-11-29 20:44] roryabraham commented on #11817
@commanderz we've already merged a solution to this issue

[2022-11-29 20:44] s77rt commented on #12283
Here is the PR for reference
https://github.com/react-native-image-picker/react-native-image-picker/pull/2056

[2022-11-29 20:47] Luke9389 commented on #12446
Still prioritizing the other PRs over this one right now.

[2022-11-29 20:50] kavimuru opened #13161 "Inline code block overlap when it extends on multiple lines"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Goto https://staging.new.expensify.com/
2. Select a report
3. Send he online encyclopedia project, _Wikipedia_, is the most p

[2022-11-29 20:50] luacmartins commented on #13048
@kevinksullivan this was fixed internally already

[2022-11-29 20:51] grgia commented on #12259
Update: User Avatars were uploaded to CloudFront so I should be able to get started on implementation today/tomorrow.

[2022-11-29 20:51] JalalMitali commented on #13066
@johnmlee101 sorry but isn't that the intended behavior ? when you type something the cursor should appear after it ? anyhow it's just a matter of selector I can make it as you want it to be!

[2022-11-29 20:55] JmillsExpensify commented on #11048
I kind of think we still have a lot to learn with Keyboard. A part of me thinks we need to step back and take a react navigation type approach, where we look at the behaviors more holistically and figure out how we want the app to behavior/perform across all platforms.

[2022-11-29 20:55] s77rt commented on #13066
@JalalMitali @johnmlee101
The problem is not in `addEmojiToTextBox` it's on the set selection after updating the comment.
Check my proposal above.

[2022-11-29 20:56] JmillsExpensify commented on #12259
Wow that's exciting!

[2022-11-29 20:56] conorpendergrast commented on #11852
@thesahindia Yeah Matt had set up two contracts, glad that you saw them both!

[2022-11-29 20:57] JmillsExpensify commented on #12459
Great thanks!

[2022-11-29 21:01] conorpendergrast commented on #12913
Do we have any idea what makes a debit card "valid" or "not valid"?

[2022-11-29 21:03] JmillsExpensify commented on #13137
I don't think this is a bug. We're handling this elsewhere. https://expensify.slack.com/archives/C049HHMV9SM/p1669677043176149

[2022-11-29 21:11] luacmartins commented on #13141
Since these autofills are based on transitions, it makes sense that "disabling" them would break this. @marcaaron any thoughts on how to fix this?

[2022-11-29 21:11] JmillsExpensify commented on #11903
@aneequeahmad We have two days to merge the PR for the 50% bonus to apply. Can we expect the PR tomorrow?

[2022-11-29 21:11] marcaaron commented on #13141
Ah hmm this sucks. Well, we can revert it but then the styles will look ugly again - so it's between ugly styles or this bug (which I think is sort of bad because it creates a confusing user experience and not a "style" issue). No sorry, I don't have any ideas let's bring it to Slack?

[2022-11-29 21:12] joekaufmanexpensify commented on #13159
From this SO: https://stackoverflow.com/c/expensify/questions/14418
- [ ] **The "bug" is actually a bug**:
- [ ] **The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead)**:
- [ ] **The bug is reproducible, following the reproduction steps:**
- [ ] **If you're unable to reproduce the bug, add the _Needs reproduction_ label. Comment on

[2022-11-29 21:13] shawnborton commented on #13105
That is expected - it's the overlay color showing up on top of the content behind the rightDocked side pane.

As for the original bug reported, the way to test it is to upload a PNG that has transparency in it. Here is a sample image you can use to test (save to your computer and try uploading it in NewDot):

![image](https://user-images.githubusercontent.com/2319350/204648921-ff7af5c1-eea0-457e-8

[2022-11-29 21:14] JmillsExpensify commented on #12156
@eVoloshchak Can we prioritize reviewing this proposal and help keep this moving forward? Thank you!

[2022-11-29 21:15] marcaaron commented on #13141
Not sure if it makes sense to me. Can you explain it @luacmartins ?

It does seem unique to password fields as no other fields have been reported as affected.

[2022-11-29 21:15] JmillsExpensify commented on #12198
Are we hiring @mollfpr? If so, let's please get him assigned to the issue.

[2022-11-29 21:16] markarmanus commented on #12645
@kevinksullivan PR is merged and in production like melvin says.

[2022-11-29 21:17] JmillsExpensify commented on #12271
2 more days before we exit the 50% bonus period for merged PRs!

[2022-11-29 21:17] joekaufmanexpensify commented on #13159
This is def a bug. I reproduced on web:
![2022-11-29_16-16-33 (1)](https://user-images.githubusercontent.com/54866469/204649761-2a389063-4d27-41e1-8ba4-79d083106e04.gif)

Discussing the exact scope of the bug in slack before proceeding.

[2022-11-29 21:18] PauloGasparSv commented on #13141
I don't think it's unique to password fields : /  the **email field also has the same problem**. I thought it would be important so I show it after 22 seconds  on the [video I attached](https://github.com/Expensify/App/issues/13141#issuecomment-1331228595).

But I agree, these styles are important now that we have the dark mode so let's bring it to slack.