[2021-12-06 21:28] roryabraham commented on #6552
Okay @rosegrech let's include the following information:

1. On iOS/Android, a link to the website.
1. concierge email link

So something like this might be a rough draft (which you can tweak and improve as you see fit):

[code]

[2021-12-06 21:33] SofiedeVreese commented on #5722
This is now paid together with the company offsite bonus.

[2021-12-06 21:34] SofiedeVreese commented on #5722
Contributor paid: ✅
Contract cancelled: ✅
Upwork posting removed: ✅

Closing GH.

[2021-12-06 21:34] #5722 closed

[2021-12-06 21:39] roryabraham commented on #4010
No update, unfortunately other issues have been taking priority. Would love to spend some time to further this one, _maybe_ this week.

[2021-12-06 21:39] SofiedeVreese commented on #5922
Hey @Santhosh-Sellavel I've just paid out the remaining bonus amount of $250 for the company offsite hold.

I've paid out the bonus via the original contract.

Closing GH.

[2021-12-06 21:39] #5922 closed

[2021-12-06 21:42] puneetlath commented on #6486
@kakajann given the confusion in the process, we'd like to go ahead and pay you out for this work. I've created an [Upwork job here](https://www.upwork.com/jobs/~0154a8285733ddf888). Can you please apply to it so I can pay you?

Going forward, if you could apply only to those jobs that have the `help wanted` label on them that should help avoid this confusion. Thanks!

[2021-12-06 21:43] SofiedeVreese commented on #6204
@parasharrajat no need for the ping, the payment is due today and in my calendar so I don't forget.

This is now paid together with the company offsite bonus.

Contributor paid: ✅
Contract cancelled: ✅
Upwork posting removed: ✅

Closing GH.

[2021-12-06 21:43] #6204 closed

[2021-12-06 21:53] PrashantMangukiya commented on #6486
@puneetlath  As this issue was reported by me. So should I also eligible for issue reported bonus?

[2021-12-06 21:54] kidroca commented on #5337
Thanks for the bump, I've seen and forgotten about this one

I don't think there are solid reproduction steps for "offline status with an active internet connection"
It seems to be this Chrome/Webkit issue where `navigator.onLine` would tell `false` even though you're online: https://github.com/Expensify/App/issues/5337#issuecomment-943543012
It seems it's affecting only macs and isn't happening r

[2021-12-06 21:58] jliexpensify commented on #6460
@deetergp just wanted to confirm for payment tomorrow:

It sounds like this is very similar to https://github.com/Expensify/App/issues/6497

Am I paying Rajat $250 + $250 (bonus for reporting)? Or are we merging payment of the jobs together for Rajat?

Just want to make sure I'm not making a mistake and Rajat is getting paid accordingly, cheers!

[2021-12-06 22:16] kidroca commented on #5237
@mallenexpensify
Actually not.
I reported it here: https://expensify.slack.com/archives/C01GTK53T8Q/p1631549737202800

This particular bug I've discovered here - https://github.com/Expensify/App/issues/5106#issuecomment-918341628
(a ticket outside the hourly contract), and I took the time to report it

But when I report *"Bugs: "* in Slack I don't add the time spent in my hourly contract
- if it g

[2021-12-06 22:17] parasharrajat commented on #6460
My thoughts 20 cents :money_with_wings: .
This issue was reported earlier and solved in a different PR than 6497. 6497 was not discovered during this issue and it's possible that it was caused by some changes later on. PR for 6497 is just merged today.
Although, they sound similar they are talking about changes on two different pages. Both issues were reported separately and both of them will have

[2021-12-06 22:19] mvtglobally commented on #6505
@roryabraham  #6518 and #6535 are pass. 1.1.17-7 is not available on Android yet, but PR #6442 seem pass on build 1.1.17-6 on Android. Let me know if we should wait for 1.1.17-7 or it is ok to check off this PR?

[2021-12-06 22:38] kakajann commented on #6486
Thank you @puneetlath, I'll check labels before the proposals from now on

[2021-12-06 22:57] puneetlath commented on #4995
Paid along along with n6 hold bonus. Thanks @mananjadhav!

[2021-12-06 22:57] #4995 closed

[2021-12-06 22:58] deetergp commented on #6460
I agree with @parasharrajat — though they have a very similar fix, they are separate issues and should be treated as such.

[2021-12-06 23:02] roryabraham commented on #6505
Sounds good, going to check everything off and deploy.

[2021-12-06 23:03] roryabraham commented on #6505
:shipit:

[2021-12-06 23:03] #6505 closed

[2021-12-06 23:05] SofiedeVreese commented on #5870
Created a separate job in Upwork to pay out @parasharrajat 's reporting bonus.

Paid out @CamilaRivera + company offsite bonus.

Contributor paid: ✅
Contract cancelled: ✅
Upwork posting removed: ✅

[2021-12-06 23:06] botify commented on #6284
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.17-7 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6387

If no regressions arise, payment will be issued on 2021-12-13. :confetti_ball:

[2021-12-06 23:06] botify commented on #6415
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.17-7 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6417

If no regressions arise, payment will be issued on 2021-12-13. :confetti_ball:

[2021-12-06 23:06] botify commented on #5588
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.17-7 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6112

If no regressions arise, payment will be issued on 2021-12-13. :confetti_ball:

[2021-12-06 23:06] botify commented on #5754
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.17-7 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6278

If no regressions arise, payment will be issued on 2021-12-13. :confetti_ball:

[2021-12-06 23:06] botify commented on #6326
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.17-7 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6437
- https://github.com/Expensify/App/pull/6535

If no regressions arise, payment will be issued on 2021-12-13. :confetti_ball:

[2021-12-06 23:06] botify commented on #3743
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.17-7 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6458
- https://github.com/Expensify/App/pull/6458

If no regressions arise, payment will be issued on 2021-12-13. :confetti_ball:

[2021-12-06 23:06] botify commented on #3293
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.17-7 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6458
- https://github.com/Expensify/App/pull/6458

If no regressions arise, payment will be issued on 2021-12-13. :confetti_ball:

[2021-12-06 23:06] botify commented on #5572
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.17-7 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6392

If no regressions arise, payment will be issued on 2021-12-13. :confetti_ball:

[2021-12-06 23:06] botify commented on #4911
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.17-7 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6392

If no regressions arise, payment will be issued on 2021-12-13. :confetti_ball:

[2021-12-06 23:06] botify commented on #5193
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.17-7 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6442

If no regressions arise, payment will be issued on 2021-12-13. :confetti_ball:

[2021-12-06 23:06] botify commented on #5873
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.17-7 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6271

If no regressions arise, payment will be issued on 2021-12-13. :confetti_ball:

[2021-12-06 23:07] OSBotify opened #6605 "Deploy Checklist: New Expensify 2021-12-06"
**Release Version:** `1.1.18-3`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/5275
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/5805
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/5921
  - [x] QA

[2021-12-06 23:10] megankelso commented on #6552
super helpful clarification, thanks Rory! going to add the waiting for copy label for review/ideas now, then I can update the mockup

[2021-12-06 23:11] #5870 closed

[2021-12-06 23:16] roryabraham commented on #5193
We had a regression, and Applause reported still being able to reproduce the regression on Android production.

[2021-12-06 23:18] roryabraham commented on #6518
Okay, this is no longer a deploy blocker, but it seems like this issue is [reproducible in production on android](https://expensify.slack.com/archives/C01GTK53T8Q/p1638832253277900). So @railway17 we'll need to get this fixed because it was a regression caused by https://github.com/Expensify/App/pull/6442 that was not fixed by https://github.com/Expensify/App/pull/6535

[2021-12-06 23:19] roryabraham commented on #5193
@NicMendonca We're tracking the regression [here](https://github.com/Expensify/App/issues/6518). It must be fixed before this issue can be paid out.

[2021-12-06 23:21] Luke9389 commented on #5974
@jboniface, can we pay @developvsn for their time?

I'd like to close this issue and open a new one with a more clear description of the problem and solution.

[2021-12-06 23:21] roryabraham commented on #6518
@railway17 Here's a draft PR which has some changes that should be included in the fix: https://github.com/Expensify/App/pull/6599

[2021-12-06 23:24] jliexpensify commented on #6460
Great, thanks for clearing that one up gents! Will pay Rajat $500 then.

[2021-12-06 23:25] roryabraham commented on #4977
@mountiny I believe I was able to confirm that the fix for this unfortunately did not work.

[2021-12-06 23:25] rosegrech commented on #6552
cool that's awesome @roryabraham. I would take out a few of the ! so we're not screaming at them on the screen :) We try to use it only when we really want to emphasize something more than something else and avoid using it multiple times in the same paragraph.

[2021-12-06 23:26] rosegrech commented on #6552
Also since this GH is long we should make it easy for the new review to come in and see what exactly is being asked of them so they don;t have to read all the comments. We tend to do this for all our work with other teams in GH. So I put the new copy on the bottom of the OP.

[2021-12-06 23:28] mountiny commented on #4977
@roryabraham are the actions supposed to work from main? I will try to explore once my coursework is over after this week. We added some more logs if I remember correctly.

[2021-12-06 23:30] roryabraham commented on #6575
Okay, so I looked into this a bit and this will only happen if we make edits to the Internal QA checklist. However, if you add the `Internal QA` label to a pull request, _then_ manually move it to the internal QA section, it should work and not be deleted. Also you need to type out the full PR url and not just the shortcut with `#` and the number. So there are some limitations but generally this s

[2021-12-06 23:30] #6575 closed

[2021-12-06 23:32] chiragsalian commented on #5337
Your solutions are interesting. I think point 5 of your solution is needed because for a user there should be some visual indicator to know if their app is online or not otherwise they would be staring at the screen unsure if things are fine or not.

Since I haven't come across this problem I'm unsure how widespread and if this is a good time to make the suggested changes. But I'm not against it i

[2021-12-06 23:35] roryabraham commented on #6605
Checked off a number of PRs which were already CP'd to staging and then deployed to production, and thus should not be included in this checklist. Also checked off #6536, which is listed as `No QA`.

[2021-12-06 23:36] gabrielessner commented on #6552
How about something like this:

**Mobile app copy:**

Uh-oh, something went wrong! Please try closing and reopening the app. If that doesn't work try using our [website](https://new.expensify.com/). If you need support, email us at concierge@expensify.com, check out our [customer community](https://community.expensify.com/), or schedule a call with one of our **Guides**.

**Web copy:**

Uh-oh, som

[2021-12-06 23:40] ctkochan22 commented on #6590
Logging the policy in the props within the render. Its there, and then its re-rendered without policy info. This would explain the flash where there is an avatar, then it goes missing.

[2021-12-06 23:40] mvtglobally commented on #6605
Starting QA

[2021-12-06 23:57] mallenexpensify commented on #5237
@kidroca makes sense. Glad I asked/checked.  Please approve the offer and confirm then I'll pay
https://www.upwork.com/jobs/~01b4a7ec47523bb3db

[2021-12-07 00:00] marcaaron commented on #5337
I haven't read through this entire thread, but might be better to have with the `net-info` maintainers to see if they have ideas on how to solve it. My preference would be to not ditch this library since it works quite well for most of our cases.

Keep in mind there are known issues with it not working well with Simulator see [here](https://github.com/react-native-netinfo/react-native-netinfo#issu

[2021-12-07 00:18] roryabraham commented on #5620
Thanks for the response and additional context @zoontek, your proposal looks good to me.

I think this makes sense – we'll just have to be careful to implement this page without the use of Onyx. Since (I think) it will be all static content, that should be fine.

[2021-12-07 00:22] roryabraham commented on #5588
Sorry for the delay @akshayasalvi. We try our best to keep deploy times as short as possible, and are constantly striving to improve that turnaround time to accelerate both the delivery of new code to our users and the payment timeline for our contributors. Thanks for your patience, your PR has been deployed to production.

[2021-12-07 00:29] roryabraham commented on #6552
@gabrielessner The copy looks great! I like the idea of linking to a request call modal in UseDot (it's likely to be safer than trying to link back to NewDot or OldDot in this case).

[2021-12-07 00:37] megankelso commented on #6552
I actually wonder if it should be more concise? I feel like giving them 3 different routes to pursue may be a bit confusing as to what is best next steps. I feel like concierge makes the most sense to mention. Also, should we include a way to get off the page, like a back or home button?

I'm thinking something like this?
<img width="301" alt="Screen Shot 2021-12-06 at 4 34 02 PM" src="https://use

[2021-12-07 02:16] kavimuru opened #6609 "Group Chat - Unable to create group chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Click on + > New Group
3. Choose some people and click on Create group

## Expected Result:
Group chat is created

## Actua

[2021-12-07 02:17] OSBotify commented on #6609
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-07 02:20] aswin-s commented on #5193
@roryabraham Linked issue is unrelated to blurred image bug. Should I do something about it? What's the next step here?

[2021-12-07 02:35] kavimuru opened #6610 "Profile - Able to update profile with emojis and symbols as First and Last name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing  #5805**

## Action Performed:
1. Launch App and login
2. Tap on account and select Profile
3. Edit the  first and last name with emojis

[2021-12-07 02:36] OSBotify commented on #6610
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-07 02:37] OSBotify commented on #6610
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-07 02:56] kavimuru opened #6612 "Workspace - Members list is empty in manage members page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing #6542**
## Action Performed:
1. Launch the app and login
2. Go to settings and select a workspace
3. Tap Manage members

## Expected Resu

[2021-12-07 02:57] OSBotify commented on #6612
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-07 03:02] kbecciv opened #6613 "[HOLD for payment 2022-01-11] Android - User prompted for permission after granting permission during download"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: User declined access to files (see video below)
1. Launch the app
2. Log in with any account
3. Select any user and tap on plus button

[2021-12-07 03:46] mananjadhav commented on #4995
@puneetlath I received $250 for PR and $250 for `n6-hold`. But I guess I am eligible for `company-offsite` hold bonus as well.

Also while this PR was done for a specific requirement, we also updated the form validation styles and @Jag96  mentioned here https://github.com/Expensify/App/pull/5130#issuecomment-917251774 if I take it up, there'll be additional bonus, so that should be an additional $

[2021-12-07 03:46] kavimuru opened #6614 "[HOLD for payment ASAP] Chat - Unable to initiate chat for a user that doesn't have any messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Click on + > New Chat
3. Choose a user that doesn't have any messages

## Expected Result:
Able to initiate chat with that

[2021-12-07 03:47] akshayasalvi commented on #5774
Thanks @MitchExpensify. Awaiting payment now 😄

[2021-12-07 03:47] OSBotify commented on #6614
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-07 03:54] gabrielessner commented on #6552
sounds good i agree.

Home sounds confusing, would that just take the user back to their inbox? I like Back more.

[2021-12-07 04:46] kadiealexander commented on #6566
bump @marcochavezf

[2021-12-07 04:47] kadiealexander commented on #5296
@Beamanator do you have any update on this one?

[2021-12-07 05:01] Christinadobrzyn commented on #5945
Paid @Santhosh-Sellavel in Upwork - closing this job

[2021-12-07 05:01] #5945 closed

[2021-12-07 05:31] ctkochan22 commented on #6590
Okay, got it.

1. WorkspaceInitialPage.js calls `withFullPolicy` -- [here](https://github.com/Expensify/App/blob/e6f68d6d4e7f31f19deabc6c4b04e541eaa38a92/src/pages/workspace/WorkspaceInitialPage.js#L245)
2. `withFullPolicy` gets the policy using `Policy.loadFullPolicy()` --> `Api.GetFullPolicy()`
3. Which hits Auth's `Policy::getJSONList()` which throws all nameValuePairs in the object's "value" k

[2021-12-07 06:27] ctkochan22 commented on #6590
**Suggested Solution:**
Originally, I was going to update `getSimplifiedPolicyObject()` but I realize in Auth, we also pass avatarURL in the initial list of key/value pairs returned by `Policy::getJSONSummaryList()` -- [here](https://github.com/Expensify/Auth/blob/6a46bdeaf512c6bffa8f9e523bfd3fdaf777a773/auth/lib/Policy.cpp#L356)

So lets just do the same for `Policy::getJSONList()`

[2021-12-07 06:38] thesahindia commented on #6614
Hi @kavimuru , can you please check if this is the same issue that i reported in this
[slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1638604309227900)

[2021-12-07 08:25] parasharrajat commented on #6610
This is not a issue.

[2021-12-07 08:46] mananjadhav commented on #3245
@puneetlath Sure. You mean the possible UI/outcome I should share in slack and a detailed proposal here right?

[2021-12-07 10:01] Beamanator commented on #4211
I just looked through and **I also believe payment should be $1,500**. Breakdown:
- $1000 for fixing this issue (this price was set [here](https://github.com/Expensify/App/issues/4211#issuecomment-907461021))
- $250 for https://github.com/react-navigation/react-navigation/issues/9936 (We agreed [here](https://github.com/Expensify/App/issues/4211#issuecomment-913702733)) that this is a separate job

[2021-12-07 10:06] parasharrajat commented on #4211
@Beamanator I am not sure about this but do you think the two bonuses apply here n6-hold and `company offsite hold`? Could you please confirm that as well? Thanks.

[2021-12-07 10:40] kidroca commented on #5337
As per `net-info` documentation https://github.com/react-native-netinfo/react-native-netinfo#browser-compatilibity

So it's unlikely they'll do anything more than that

What I see in out code is that we treat `isConnected` as an indication of an internet access while it's only an indication of having a network connection: https://github.com/react-native-netinfo/react-native-netinfo#netinfostate an

[2021-12-07 10:59] Beamanator commented on #6609
Research so far:
- This error only shows up when creating a group for the FIRST TIME
- It is being shown via `Report.handleInaccessibleReport`, called in `ReportScreen`'s `storeCurrentlyViewedReport` function
- So far I've only seen this called because in `componentDidMount`, `!lodashGet(this.props.report, 'reportID', '')` is `true` (a.k.a. the reportID can't be found on `this.props.report`)

[2021-12-07 11:07] Beamanator commented on #6609
@parasharrajat I'm thinking this is caused by your PR here: https://github.com/Expensify/App/pull/5964

I did these steps:
1. Changed [this line](https://github.com/Expensify/App/blob/main/src/pages/home/ReportScreen.js#L150) to:
    - `if (_.isNaN(reportID)) {` (this is what the line looked like before your PR - see https://github.com/Expensify/App/pull/5964/files
2. Try to create a new group cha

[2021-12-07 11:15] kidroca commented on #5337
I've inspected how `reachabilityTest` test works.
It will be performed when a network change occurs, then if it fails it will be polled until it succeeds (the `reachabilityLongTimeout` configures this)

As far as I see nothing would trigger `reachabilityTest` if our connection simply loses internet access
But we can force a recheck by calling `NetInfo.fetch()`
So if we stick with `NetInfo` we shou

[2021-12-07 11:42] Beamanator commented on #4211
Hmm here's my thinking:
- #6295 was officially "ready for review" on November 17 (see [this comment](https://github.com/Expensify/App/pull/6295#issuecomment-971847838))
- We ended the `Company Offsite Hold` on the 16th (see [this slack message](https://expensify.slack.com/archives/C01GTK53T8Q/p1637023102224500))

So I don't think that PR is eligible for the `Company Offsite Hold` bonus, let me kno

[2021-12-07 11:51] Beamanator commented on #5296
I'm dropping this to Monthly since I've got a bunch of other priorities at the moment, I'll try to take a look this month

[2021-12-07 12:03] Beamanator commented on #5897
Reopening b/c the fix was reverted (due to a regression) here: https://github.com/Expensify/App/pull/6615

[2021-12-07 12:45] parasharrajat commented on #5897
Ok. Thanks @Beamanator . I will look into different ways.

[2021-12-07 12:47] parasharrajat commented on #4211
Correct. I overlooked it. Thanks.

[2021-12-07 12:51] Beamanator commented on #4211
No prob at all

[2021-12-07 13:07] zoontek commented on #5620
@roryabraham I rebased the PR and kept logs and `reportBootSplashStatus`: https://github.com/Expensify/App/pull/6478
I also kept non-critical context providers for the error fallback screen.

[2021-12-07 13:12] kavimuru opened #6618 "Web - Settings - Pressing tab on password field won't go straight to next one"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing the PR #6501**

## Action Performed:

1. Open app and login
2. Go to profile > change password
3. Click on first field and type pass
4. P

[2021-12-07 13:13] OSBotify commented on #6618
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-07 13:16] MonilBhavsar opened #6619 "[HOLD for payment 2021-12-27] Display individual and group chats with draft message and no previous message in LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Coming from this [issue](https://github.com/Expensify/App/issues/6490)
## Action Performed:

1.  Start a fresh chat from New chat or New Group Chat from `+` menu
2. Draft

[2021-12-07 13:20] MonilBhavsar commented on #6619
As discussed [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1638800736247800), we would also remove the chat from LHN if user deletes the draft message

[2021-12-07 13:21] MonilBhavsar commented on #6490
@parasharrajat, created a new issue [here](https://github.com/Expensify/App/issues/6619)

[2021-12-07 13:21] #6490 closed

[2021-12-07 13:50] kavimuru opened #6620 "VBA - Continuous loading spinner appears after company information page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Go to any Workspace and tap on connect Bank account
4. Use Plaid or connect manually
5. Continue the flow up to compa

[2021-12-07 13:51] OSBotify commented on #6620
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-07 13:58] anthony-hull commented on #3189
I will unlikely be able to work on this further until I return on the 14th Dec

[2021-12-07 13:58] trjExpensify commented on #4211
Awesome. Offer sent 👍

[2021-12-07 14:02] michaelhaxhiu commented on #3189
@anthony-hull thanks for the heads up! Feel free to resume on this when you return.

[2021-12-07 14:03] dylanexpensify commented on #6121
Payment sent, contract ended, job closed

[2021-12-07 14:03] #6121 closed

[2021-12-07 14:04] dylanexpensify commented on #6592
Getting this posted now!

[2021-12-07 14:06] dylanexpensify commented on #6592
Internal: https://www.upwork.com/ab/applicants/1468220241862590464/job-details
External: https://www.upwork.com/jobs/~011ff1a3ecd33bee08

[2021-12-07 14:32] trjExpensify commented on #4211
All sorted, closing.

[2021-12-07 14:32] #4211 closed

[2021-12-07 14:50] parasharrajat commented on #6618
This is the technically correct flow for tab navigation so this is not an issue.

[2021-12-07 14:53] isagoico commented on #6610
Closing as this is the expected behaviour

[2021-12-07 14:53] #6610 closed

[2021-12-07 14:54] isagoico commented on #6612
Closing as this is a duplicate of https://github.com/Expensify/App/issues/6528

[2021-12-07 14:54] #6612 closed

[2021-12-07 14:57] OSBotify commented on #6528
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-07 14:58] isagoico commented on #6528
Adding the deploy blocker here - this issue is failing PR https://github.com/Expensify/App/pull/6542 in the current regression checklist for iOS and Android.

[2021-12-07 15:11] isagoico commented on #6614
Updated the issue to reflect that it was originally raised by @thesahindia, I missed his thread in the Contributor channel yesterday when I was going through the BUG: messages.

[2021-12-07 15:17] tgolen commented on #6528
I'm a little confused. That PR is linked to a different issue: https://github.com/Expensify/App/issues/6287. Was this issue marked as a blocker by mistake to this issue?

[2021-12-07 15:25] isagoico commented on #6618
@anthony-hull I agree with @parasharrajat here - I think this is the expected behaviour now with the new Visibility toggle - can you confirm so we can close this issue 😬 Thanks in advance

[2021-12-07 15:34] isagoico commented on #6528
@tgolen Nope. Marked this issue as deploy blocker because it's completely blocking us from verifying QA on iOS and Android for this PR https://github.com/Expensify/App/issues/6287.

We usually mark issues that are blocking and/or failing the QA of PRs as deploy blockers.

[2021-12-07 15:37] parasharrajat commented on #6614
@isagoico Could you please retest it? I believe this is fixed on staging.

[2021-12-07 15:37] tgolen commented on #6528
Oh! I understand now. Got it. Looks like we're still looking for proposals to fix this.

[2021-12-07 15:38] anthony-hull commented on #6618
I agree it should go to the visibility toggle before the next field.
We shouldn't make the toggle unreachable in keyboard navigation and putting it in another position in the tab index would negatively affect the context for the control to the input.

[2021-12-07 16:12] kavimuru opened #6621 "mWeb - Text input box hidden by keypad when typing message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Select any conversation
4. Write a message

## Expected Result:
The input b

[2021-12-07 16:19] parasharrajat commented on #6621
Its a regression from #6413 @sidferreira Could you please fix this issue?

[2021-12-07 16:23] kavimuru opened #6622 "mWeb - Payments - "Update paypal account" CTA is not floating and hidden by keypad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Go to Setting - Payments
4. Choose PayPal.me
5. Edit / PayPal user name fie

[2021-12-07 16:24] puneetlath commented on #3245
Yes, exactly. Let's have a discussion in Slack to make sure that:
1. we do want to add an inline emoji selector when editing a comment
2. if so, that we want the UI to look as presented here

If there is agreement on that, then we can continue with the technical proposal for how to implement that here. Sound good?

[2021-12-07 16:32] sidferreira commented on #6621
@kavimuru what device were you using?

[2021-12-07 16:38] kavimuru opened #6623 "iPad 6 - Login page does not show with full text and images in portrait orientation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue was found when executing #6597

## Action Performed:

1. Open new.E on iPad portrait

## Expected Result:
Login page should show with full text and images showing

[2021-12-07 16:48] isagoico commented on #6614
@parasharrajat Issue is still reproducible in the iOS app. All other environments are  working as expected.

[2021-12-07 16:52] michaelhaxhiu commented on #6415
What's the appropriate payout date for this GH supposed to be? cc @NikkiWines for a buddy check perhaps?

[2021-12-07 16:53] parasharrajat commented on #6623
Ok, this is not an issue. This is how it should be. The device screen width is less than 800 px.

[2021-12-07 16:58] isagoico commented on #6614
There was a misunderstanding - the issue is not reproducible anymore in build 1.1.18-1 on all environments.
Closing this 🎉

[2021-12-07 17:07] bfitzexpensify commented on #5405
Contract ended and paid - thank you @jolivervidal.

@kidroca, mind applying to [this job](https://www.upwork.com/jobs/~01006139135796d741) so I can pay a reporting bonus?

[2021-12-07 17:07] #5405 closed

[2021-12-07 17:29] laurenreidexpensify commented on #6591
https://www.upwork.com/jobs/~01342882f93e8ea651

[2021-12-07 17:31] laurenreidexpensify commented on #6591
@mallenexpensify i'm OOO quite a bit over next week moving house, so handing this one off while I"m away thanks!

[2021-12-07 17:32] laurenreidexpensify commented on #4756
@trjExpensify i'm OOO quite a bit over next week moving house, so handing this one off while I"m away thanks!

[2021-12-07 17:33] laurenreidexpensify commented on #6391
@jliexpensify i'm OOO quite a bit over next week moving house, so handing this one off while I'm away thanks! All you need to do on this one is wait til @kidroca has reliably reproduced this to push it through next steps 👍🏽

[2021-12-07 17:34] laurenreidexpensify commented on #6096
@NicMendonca i'm OOO quite a bit over next week moving house, so handing this one off while I"m away thanks!

[2021-12-07 17:34] laurenreidexpensify commented on #6069
@MitchExpensify i'm OOO quite a bit over next week moving house, so handing this one off while I"m away thanks!

[2021-12-07 17:35] laurenreidexpensify commented on #5918
@stephanieelliott i'm OOO quite a bit over next week moving house, so handing this one off while I"m away thanks!

[2021-12-07 17:36] laurenreidexpensify commented on #5869
@bfitzexpensify i'm OOO quite a bit over next week moving house, so handing this one off while I"m away thanks!

[2021-12-07 17:37] laurenreidexpensify commented on #5588
@SofiedeVreese i'm OOO quite a bit over next week moving house, so handing this one off while I"m away thanks!

[2021-12-07 17:37] kidroca commented on #6391
If a PR fixing the problem is already merged I don't see how can I reproduce the issue: https://github.com/Expensify/App/issues/6391#issuecomment-986817253

[2021-12-07 17:37] stephanieelliott commented on #6562
@NikkiWines as the issue reporter, @kursat has first dibs on the solution. Can you check out his [proposal](https://github.com/Expensify/App/issues/6562#issuecomment-985180492)?

[2021-12-07 17:38] furkan-uzun commented on #6591
https://www.upwork.com/jobs/~01342882f93e8ea651

[2021-12-07 17:38] laurenreidexpensify commented on #5079
@kadiealexander i'm OOO quite a bit over next week moving house, so handing this one off while I"m away thanks!

[2021-12-07 17:50] marcochavezf commented on #6566
Thank you @parasharrajat for bringing up that issue for reference!

@kadiealexander yeah, we won't support landscape on phones because that feature doesn't bring much value in small viewports (we're going to support only landscape in tablets), and seems there are several issues related to landscape on phones like this one, so I'm going to close it.

Thanks!

[2021-12-07 17:50] #6566 closed

[2021-12-07 17:59] kbecciv opened #6625 "Web - "Wrong password" message not translated to Spanish"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Go to Profile Settings and change language to Spanish
3. Go to Settings > Change Password
4. Type wrong Current Password bu

[2021-12-07 18:00] thesahindia commented on #6614
@isagoico , I believe the issue was fixed by this [PR](https://github.com/Expensify/App/pull/6615) to close #6609 and the current issue which are basically the same. Can you please check that and update #6609  to reflect that it was reported by me.

[2021-12-07 18:05] #6568 closed

[2021-12-07 18:13] Jag96 commented on #4995
@puneetlath @mananjadhav is right, we should also pay out another $250 for the `company-offsite` hold and then an additional $250 for the updated scope of work agreed upon in https://github.com/Expensify/App/pull/5130#issuecomment-917251774. So a total of $500 additional.

[2021-12-07 18:13] parasharrajat commented on #6591
Thanks for the proposal @furkan-uzun. You need to be more detailed than that to consider that as a proposal. Please review proposals from other contributors on different issues. More importantly, How will you fix this issue?

[2021-12-07 18:17] isagoico commented on #6609
This issue and https://github.com/Expensify/App/issues/6614 were fixed here. @Beamanator The original issue (https://github.com/Expensify/App/issues/6614) was reported by @thesahindia and it qualifies for the reporting bonus.

[2021-12-07 18:19] isagoico commented on #6605
Posting this here as well - https://expensify.slack.com/archives/C9YU7BX5M/p1638900800215400

We're currently unable to access build 1.1.18-1 on Android. Build available in Playstore is 1.1.17-7 (seems there was an issue surrounding the last deploy for 1.1.18-1)

[2021-12-07 18:20] puneetlath commented on #4995
Got it, no problem! @mananjadhav I've sent you an offer through Upwork for the additional $500.

[2021-12-07 18:24] NikkiWines commented on #6415
Botify seems drunk 😅  I believe `2021-12-06` is the correct date, especially since QA has not been able to reproduce this issue for a couple of weeks now.

[2021-12-07 18:27] puneetlath commented on #6486
@PrashantMangukiya right you are! Apologies that we missed that. I've invited you to the job as well.

[2021-12-07 18:30] iwiznia commented on #6547
This is moving along, right @dklymenk?

[2021-12-07 18:31] dklymenk commented on #6547
No, I haven't gotten hired on upwork.

[2021-12-07 18:31] kursat commented on #5142
Hey @thienlnam, @dylanexpensify, I'am still not hired on upwork. Is there a problem/second thoughts with my proposal?

[2021-12-07 18:32] PrashantMangukiya commented on #6486
@puneetlath Its ok. Thank you for the offer, I accepted it.

[2021-12-07 18:33] laurenreidexpensify commented on #6391
@kidroca I had a bit of cut and paste malfunction yesterday - PECKAC - spoiler alert the problem was me  😂  I'll delete my comments as it' not relevant to the issue! sorry about that

[2021-12-07 18:33] iwiznia commented on #6547
@bfitzexpensify you must've missed my ping, can you hire @dklymenk please?

[2021-12-07 18:35] bfitzexpensify commented on #6547
Sorry for the delay @dklymenk, hired you now.

[2021-12-07 18:37] dklymenk commented on #6547
Thank you. I got the offer. I will submit a PR shortly.

[2021-12-07 18:38] NikkiWines commented on #6618
Cool, sounds like this is a non-issue, closing as this is not a deploy blocker.

[2021-12-07 18:38] #6618 closed

[2021-12-07 18:52] NikkiWines commented on #5620
Nice! @zoontek, since it looks like we want to move ahead with your proposal and PR, would you mind making an UpWork account? @kadiealexander will hire you for the associated job and handle compensation for resolving this issue through UpWork.

[2021-12-07 18:54] parasharrajat commented on #6609
As far as I can tell both 6614 and this is the same and only one of them qualifies for the reporting bonus as both were reported at the same time.

[2021-12-07 18:57] thienlnam commented on #5142
Hey @kursat, sorry for the delay.  No second thoughts about your proposal but just catching up after some time off.  I've pinged the project manager and we'll get you hired within the next day

[2021-12-07 18:58] furkan-uzun commented on #6591
Hi @parasharrajat, sure.

First, I'll find the location that triggers the notification badge count.

Then I will determine which api or local store this number is associated with.

I will log each function that triggers this issue, one by one.

As a result of these I will find the essential part of a case like data arriving early/late or incorrect.

Finally, I will review the scenario of the data

[2021-12-07 19:00] #3953 closed

[2021-12-07 19:04] parasharrajat commented on #6491
Not sure about the next steps here. @MelvinBot

[2021-12-07 19:08] mananjadhav commented on #4995
Thanks @puneetlath, applied.

Thanks @Jag96

[2021-12-07 19:11] puneetlath commented on #4629
Still on hold.

[2021-12-07 19:16] jolivervidal commented on #5405
Thank you! I'm glad to contribute for the first time.
I just want to ask one question @bfitzexpensify: **mattallen** said that in the [slack channel](https://expensify.slack.com/archives/C01GTK53T8Q/p1638836292282900). Would this [PR](https://github.com/Expensify/App/pull/6095) be one of those that would have a 250$ bonus for the hold? Thanks

[2021-12-07 19:19] mallenexpensify commented on #5588
wayyyy late to the game here but I'm excited about this issue and I just tested in on Mac (desktop Version 1.1.17-7 ) and `command + ?` and it opens up this
![image](https://user-images.githubusercontent.com/22508304/145092081-4e98199d-3753-4171-9ab0-e89db3fe6549.png)

When I type `command + /` (the lower case version of `?`) 'Do not Disturb' is toggled on/off.

Are there other ways to view the sh

[2021-12-07 19:29] dklymenk commented on #6547
@iwiznia While reviewing the footage for mWeb (https://github.com/Expensify/App/pull/6626) I noticed that when doing a long press on the delete key a completely random UI element gets selected for no reason and an annoying context menu appears. This would definitely qualify as a bug if it were to be merged.

I will look into ways of resolving it tomorrow.

Thanks.

[2021-12-07 19:30] furkan-uzun commented on #6591
@parasharrajat
I'm just asking out of curiosity. Please don't get me wrong. I explained step by step what I need to do. What is confusing you here?

[2021-12-07 19:36] parasharrajat commented on #6591
It does not tell what is wrong? Which part of the code is affecting it. etc.

Please read the guidelines [here](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#working-on-expensify-jobs). Were you able to reproduce it?

[2021-12-07 19:48] Jag96 commented on #6613
@kbecciv can you please add a screenshot or specify what specific Android permission is denied here? I'm not sure what permission you are referring to, so I am not sure how to reproduce. I attempted to reproduce with these steps:

1. Disable the Storage permission under Settings->Apps and Permissions->New Expensify
![image](https://user-images.githubusercontent.com/3981102/145095607-db489ecc-369a-

[2021-12-07 19:51] kavimuru opened #6627 "Search - Some users are not prioritized over chats or rooms"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
 **Issue was found when executing #6544**
## Action Performed:

1. Open app and login
2. Open the Search page.
3. Search for something.
4. verify search results

## Expec

[2021-12-07 19:52] OSBotify commented on #6627
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-07 19:53] Jag96 commented on #6627
cc @parasharrajat

[2021-12-07 19:55] luacmartins commented on #6116
I will try to carve out some time to work on this issue this week!

[2021-12-07 19:56] mallenexpensify commented on #5405
@bfitzexpensify when you post jobs in Upwork, will you please be sure to include the issue number in the title, it makes it easier to search for them in Upwork.

@jolivervidal correct, you are eligible for a $250 bonus based on my mistake mentioned in the slack link above.  I just added it to your contract, thanks for the help!

[2021-12-07 19:58] parasharrajat commented on #6627
I am not able to reproduce this on staging. From the vid, it seems the search is not even working.

[2021-12-07 19:59] trjExpensify commented on #4756
Cool, sounds good. Looks like we're waiting for a prod deploy to start the timer. 👍

[2021-12-07 20:12] roryabraham commented on #6620
@stitesExpensify is not fully online this week, I'm going to lend a hand and grab this one.

[2021-12-07 20:24] kavimuru opened #6628 "iOS - Profile - Error message when uploading a photo using camera"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open staging New Expensify App
2. Log in
3. Select settings by clicking the avatar at the top right of the menu
4. Select Profile
5. Tap the cam

[2021-12-07 20:39] marcochavezf commented on #6627
I think I was able to reproduce the issue, the users `marco+test2@expensifail.com` and `marco+test3@expensifail.com` are appearing below the group chats:

<img width="800" alt="Screen Shot 2021-12-07 at 14 35 05" src="https://user-images.githubusercontent.com/6829422/145102313-ccff425a-73dc-4982-828b-bd0c3a8eb518.png">

There's no error in the console log of staging, but when I test locally I see

[2021-12-07 20:41] parasharrajat commented on #6627
It may be only causing issues for only email entries.

[2021-12-07 21:11] kursat commented on #5142
Great @thienlnam, just wondered if I did something wrong on my proposal, no worries about delay. Thanks for your help.

[2021-12-07 21:12] marcochavezf commented on #6627
ah are you referring to the console errors or the users that are appearing below the group chats?

[2021-12-07 21:18] mvtglobally commented on #6605
Regression is still in progress. Updates so far

**Deploy Blockers**

- https://github.com/Expensify/App/issues/6609
- https://github.com/Expensify/App/issues/6620
- https://github.com/Expensify/App/issues/6627

**Issues found**

- https://github.com/Expensify/App/issues/6613
- https://github.com/Expensify/App/issues/6621
- https://github.com/Expensify/App/issues/6622
- https://github.com/Expensif

[2021-12-07 21:28] marcaaron commented on #6620
Investigating this as well. I thought maybe this PR could be causing this -> https://github.com/Expensify/App/pull/6230

But reverted it and the issue persists. Also went back to that commit and verified that everything works so gonna try to `git bisect`.

[2021-12-07 21:45] thienlnam commented on #3381
@azimgd Any update on those fixes?

[2021-12-07 21:49] marcaaron commented on #6620
First bad commit is here 68e5ce63db6db166ab623d0e686e6665f49ac705

[2021-12-07 21:55] pecanoro commented on #6621
Since this is a regression of https://github.com/Expensify/App/issues/6621, I am going to reopen the original issue and close this one.

[2021-12-07 21:55] #6621 closed

[2021-12-07 21:56] abecciv commented on #6613
@Jag96 Please attached video with Expensify app permissions.
Uploading Screen_Recording_20211207-155717_Settings.mp4…

[2021-12-07 21:57] pecanoro commented on #5894
As mentioned here, there is a regression in this issue that needs a follow-up PR https://github.com/Expensify/App/issues/6621

[2021-12-07 21:59] megankelso commented on #6552
ok how's this?

<img width="931" alt="Screen Shot 2021-12-07 at 1 59 03 PM" src="https://user-images.githubusercontent.com/49413768/145112609-3858e152-40c5-47be-b8a6-cfa6176e0c28.png">

[2021-12-07 22:00] marcaaron commented on #6496
Just a heads up that the most recent changes broke the VBA flow. I don't really have the full context here - but this is blocking the Plaid OAuth changes from getting deployed to production and causing a bit of mayhem... so I am creating a PR to undo the changes added.

It's not a clean revert so @parasharrajat you'll have to come back and re-try to make whatever changes you intended to make to th

[2021-12-07 22:02] kbecciv commented on #6613
@Jag96 Please attached video with Expensify permissions,

[Video](https://user-images.githubusercontent.com/93399543/145112827-46c5d1e5-a89e-43b2-8726-f1a4c9230411.mp4)

[2021-12-07 22:05] isagoico commented on #6627
I think that the users that appear below the group chats are user that don't have a existing conversation with the logged in user.

[2021-12-07 22:19] Jag96 commented on #6627
@marcochavezf I think we can remove the deploy blocker label here since this seems like a case we missed in https://github.com/Expensify/App/pull/6544 instead of a regression. I've posted in [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1638915426344000?thread_ts=1638557977.207200&cid=C01GTK53T8Q) to double-check how we want to handle this case, but I think we can just make this a foll

[2021-12-07 22:24] ctkochan22 commented on #6428
Just tried to reproduce, couldn't reproduce on dev, staging, or prod. Could have been fixed?

[2021-12-07 22:24] #6428 closed

[2021-12-07 22:25] isagoico commented on #6605
Checking off https://github.com/Expensify/App/pull/6544 > https://github.com/Expensify/App/issues/6627#issuecomment-988302460

[2021-12-07 22:25] MitchExpensify commented on #5774
Payment with bonus for reporting made @akshayasalvi

[2021-12-07 22:27] Jag96 commented on #6528
It looks like the employeeList that is being sent back is different on iOS/Android compared to web. On web, the employeeList contains all the employees but on mobile it does not, it just contains the user email. I looked into the logs for this and it seems like the `Get` request we make for `policyIDList` in [this call](https://github.com/Expensify/App/blob/f9a0bcce00fb4cb03261e3bf631deef28435aca2

[2021-12-07 22:27] marcaaron commented on #6528
also that the `data` here is an empty array on Android:

https://github.com/Expensify/App/blob/04d28afec2f090aa23fbca496671ba3d2214003f/src/pages/workspace/WorkspaceMembersPage.js#L248

But not on web.

[2021-12-07 22:29] Jag96 commented on #6627
@parasharrajat could you please update the logic from https://github.com/Expensify/App/pull/6544 to include a fix for this?

[2021-12-07 22:33] marcaaron commented on #6528
Can see the employeeList getting returned in Flipper when making the request on Android:

![2021-12-07_12-31-10](https://user-images.githubusercontent.com/32969087/145116167-257fe07a-97cc-4f54-9bdc-8378d8b522d7.png)

[2021-12-07 22:41] Jag96 commented on #6609
Sounds like this is no longer a deploy blocker, closing. If this is still a blocker feel free to reopen.

[2021-12-07 22:41] #6609 closed

[2021-12-07 22:48] Jag96 commented on #6613
@kbecciv ah perfect that makes more sense! It looks like in that video you chose `Allow` which then triggered the download, so the only issue here is that after the user selects `Allow`, we shouldn't show the `Access Needed` popup. I'll update the description and title and move this along.

[2021-12-07 22:49] #6620 closed

[2021-12-07 22:54] isagoico opened #6634 "[HOLD for payment 2021-12-27] Growl is not in the center. It's in center in ios & android - Reported by: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to profile settings
2. Makes some changes in profile
3. Press the save button

## Expected Result:
The Growl should be in the center
##

[2021-12-07 22:59] isagoico opened #6635 "[HOLD for payment 2021-12-28] Android tablet - Keybord type is alphabetic. Should be numeric pad only - Reported by: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app on a Android Tablet
2. Navigate to a conversation
3. Click on request money

## Expected Result:
On the amount modal, the keyboard s

[2021-12-07 23:00] isagoico commented on #6635
Left the `AutoAssignerTriage` label on because I don't have a tablet to try and reproduce this on my side.

[2021-12-07 23:01] SofiedeVreese commented on #6635
LGTM 👍

[2021-12-07 23:03] SofiedeVreese commented on #6635
(keeping Daily on until Engineering's completed their Triage)

[2021-12-07 23:04] luacmartins commented on #6634
This can definitely be external. Updating labels.

[2021-12-07 23:08] puneetlath commented on #6488
Posted: https://www.upwork.com/jobs/~0107c2a18865e851d3

[2021-12-07 23:19] Jag96 commented on #6528
Removed the posting from Upwork since this is being handled internally

[2021-12-07 23:27] marcaaron commented on #6605
I think #6620 can be checked off now. Issue is resolved for me on staging when re-testing.

[2021-12-07 23:50] #6528 closed

[2021-12-08 00:02] roryabraham commented on #6605
Looks like the [fix](https://github.com/Expensify/App/pull/6631) to https://github.com/Expensify/App/issues/6528 is being CP'd to staging in `1.1.18-3` [here](https://github.com/Expensify/App/actions/runs/1551770433)

[2021-12-08 00:09] roryabraham commented on #6605
So to recap where we'll ideally be after `1.1.18-3` is finished deploying:

- We should be able to retest any deploy blockers and they should all be resolved.
- These regression TC's should be unblocked:
    - Create group and User search steps
    - Bank Account TCs
- I see nothing in the Google Play Console that might indicate why the Android builds wouldn't be available. Reached out for clarifi

[2021-12-08 02:08] adelekennedy commented on #6497
@parasharrajat Hired [here](https://www.upwork.com/jobs/~01478dd14ed4b583ec)in this case I assume we'd still pay out the reporting bonus for this job as well?

[2021-12-08 02:15] Santhosh-Sellavel commented on #6528
This qualifies for reporting bonus right?
@Jag96 or @Christinadobrzyn

[2021-12-08 03:30] mvtglobally commented on #6605
Checking #5805 > https://github.com/Expensify/App/issues/6610#issuecomment-987682397
Checking #6597 >https://github.com/Expensify/App/issues/6623#issuecomment-988103027

[2021-12-08 03:43] mvtglobally commented on #6605
#6620 is resolved, we are re-testing blocked steps

[2021-12-08 04:40] thesahindia commented on #6614
@isagoico, can you please reopen this issue for payment discussion as per https://github.com/Expensify/App/issues/6609#issuecomment-988185868...

[2021-12-08 04:59] thesahindia commented on #6634
### Proposal

https://github.com/Expensify/App/blob/de633f2a3e32157fe396f18cb6803a1968e894c0/src/styles/styles.js#L1993-L1994

decreasing the maxWidth to 375 will solve this
<img width="411" alt="Screenshot 2021-12-08 at 10 28 05 AM" src="https://user-images.githubusercontent.com/83179295/145150797-e2052b18-a27e-468c-a8d8-fbbea9d6e344.png">
.

[2021-12-08 05:24] kevinksullivan commented on #6489
Yes @kursat , please go ahead and apply as well!

[2021-12-08 06:57] thesahindia commented on #6635
### Proposal
https://github.com/Expensify/App/blob/b25e7faf1d63cc53b05dc3599b781560dec3a6c7/src/pages/iou/steps/IOUAmountPage.js#L199-L206
adding `keyboardType={CONST.KEYBOARD_TYPE.NUMBER_PAD}` in `TextInputAutoWidth` will solve it.

[2021-12-08 08:41] dylanexpensify commented on #5142
Sending invite now!

[2021-12-08 08:42] dylanexpensify commented on #5142
@kursat offer sent! @parasharrajat mind applying also to the job so I can hire you for the reporting aspect?

[2021-12-08 08:47] parasharrajat commented on #5142
@dylanexpensify Applied

[2021-12-08 08:50] parasharrajat commented on #6552
I think reload or refresh as button makes more sense.

[2021-12-08 08:53] parasharrajat commented on #6415
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)
@dylanexpensify

[2021-12-08 08:54] dylanexpensify commented on #6415
Perfect, thanks for clarifying! Paying now!

[2021-12-08 08:56] dylanexpensify commented on #6415
@parasharrajat sent offer! Once accepted I'll pay it out now!

[2021-12-08 08:57] dylanexpensify commented on #6415
Paid, contract ended, posting closed!

[2021-12-08 08:57] #6415 closed

[2021-12-08 08:58] dylanexpensify commented on #6060
Still discussing internally, not overdue

[2021-12-08 09:12] dklymenk commented on #6547
In order to fix the selection issue I reused the code you're already using on report screen for a similar problem. https://github.com/Expensify/App/pull/6626/commits/4489d4e77867651704ef11a83468af3e24dd1541

It seemed like a pretty safe bet to me that when tapping or clicking the button, the selection should be disabled.

The PR #6626 is ready for review.

[2021-12-08 09:25] Beamanator commented on #6609
Nice call, thanks for taking care of this @Jag96 & all for linking this to the other issue, which was from the same cause

[2021-12-08 09:31] Beamanator commented on #6614
Asked internally for help getting an Upwork job created to pay @thesahindia 👍

[2021-12-08 09:48] zoontek commented on #5620
@NikkiWines Here's my Upwork profile: https://www.upwork.com/freelancers/~01be4595436d743968 🙂

[2021-12-08 11:57] flodnv commented on #6590
Hum.... the fix for this went in the opposite direction from where we're trying to go: https://github.com/Expensify/Expensify/issues/183673

Why couldn't we just look in the `value`?

cc @tylerkaraszewski

[2021-12-08 11:58] michaelhaxhiu commented on #6614
@thesahindia can you apply for this job on upwork, to pay our the respective bug reporting bonus?

https://www.upwork.com/jobs/~01571678ed1673f982

[2021-12-08 12:04] tylerkaraszewski commented on #6590
I just realized that the PR is in code below a giant comment about why we put this in alphabetical order but is not in alphabetical order.

[2021-12-08 12:05] kakajann commented on #6634
# Proposal
A slightly different approach than @thesahindia 's proposal

It should be better `variables.sideBarWidth` not `375`
[code]

[2021-12-08 12:11] parasharrajat commented on #6547
Glad to hear that logic is helping out with these problems. I didn't consider that to be reusable while writing it. I will review the PR shortly.

[2021-12-08 12:15] tylerkaraszewski commented on #6590
https://github.com/Expensify/Auth/pull/6202

[2021-12-08 12:31] thesahindia commented on #6634
@kakajann, thanks for pointing out and yes the variable should be used. I did not notice that.

[2021-12-08 12:35] thesahindia commented on #6614
@michaelhaxhiu, applied for the job. Thanks.

[2021-12-08 12:43] michaelhaxhiu commented on #6614
Paid.

[2021-12-08 12:43] #6614 closed

[2021-12-08 12:59] eVoloshchak commented on #6488
As far as i can tell, Chrome and Firefox on Linux do not notify you with sound when notification is shown.

https://support.mozilla.org/en-US/questions/1229033

https://support.mozilla.org/en-US/questions/1298935

Firefox on Windows also makes no sound.

However, Chrome on Windows 10 uses Windows's notifications, which do have sound. The flag to use Chrome's build-in notifications has been removed

[2021-12-08 15:19] Beamanator commented on #5781
Still throwing ideas around in the Slack thread

[2021-12-08 15:20] Beamanator commented on #5774
I guess we can close now right @MitchExpensify ? :D

[2021-12-08 15:42] akshayasalvi commented on #5588
@mallenexpensify This was asked here https://github.com/Expensify/App/issues/5588#issuecomment-931939207 but we didn't go ahead I guess.

Not able to reproduce the issue.  I tried `Cmd + ?` and it worked fine. When I press `Cmd + Shift + ?` is when I see the default Electron Help menu.
![image](https://user-images.githubusercontent.com/57435789/145237449-8b4cc5ab-ac7c-46be-a0c3-3e4699917247.png)

[2021-12-08 15:42] azimgd commented on #3381
@thienlnam https://github.com/Expensify/react-native-web/blob/master/package.json#L3

[2021-12-08 16:07] parasharrajat commented on #5699
@Jag96 Any luck in finding the reason.

[2021-12-08 16:09] mvtglobally opened #6640 "Message is not formatted properly in newDot when sent via email"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Reply to a chat via email with bold, italics and strikethrough text

## Expected Result:
The message should be receive in newDot properly.

## Ac

[2021-12-08 16:12] mvtglobally commented on #6605
Regression is Completed
TR steps re-tested

Blocked PRs re-tested too
Checking off #6542, #6524, 6230, #6477

New issue https://github.com/Expensify/App/issues/6640 From PR #6582. We didn't mark it as Deploy Blocker as its repro in PROD. Is it PROD PR? @roryabraham @chiragsalian  let us know

https://github.com/Expensify/App/pull/6557#issuecomment-987427913 - Can we check it off ?

[2021-12-08 16:40] parasharrajat commented on #6640
I think you need to use Gmail formatting instead of MD while composing a message. Thus not a valid issue.

[2021-12-08 16:51] azimgd commented on #3381
To sumup:
- I was able to get correct behaviour on desktop FF, Chrome, Opera, Safari
- Fixed issue with blank screen on mobile safari
- Fixed list with small amount of messages sticks to up (instead of down)
- There is a new bug tho: when a very long inverted-long list (consiting of one liners) is scrolled up until end is reached, list will re-render itself from top to bottom (only happens on ios

[2021-12-08 17:02] roryabraham commented on #6605
https://github.com/Expensify/App/pull/6557#issuecomment-987427913 has been reverted, so we can check it off

[2021-12-08 17:04] MitchExpensify commented on #5774
Yes!

[2021-12-08 17:04] #5774 closed

[2021-12-08 17:31] ctkochan22 commented on #6590
Ahh, I didn't know about that. Based on no context, it seemed like we were _supposed_ to pass in avatarURL not in the values. Do you guys want me to make another PR to handle it on the App side?

[2021-12-08 17:39] thesahindia commented on #6546
bump @isagoico

[2021-12-08 17:58] flodnv commented on #6590
I think the App (and for that matter, all of our API consumers) should look in `value`

[2021-12-08 18:09] tgolen commented on #5620
I just wanted to stop by here to mention that while I was previously seeing this bug daily, I haven't experienced it in over a week now.

[2021-12-08 18:19] mvtglobally commented on #6605
@roryabraham
Only https://github.com/Expensify/App/pull/6582 is pending now with issue #6640.
Should we consider it a blocker or we can check off and close this checklist?

[2021-12-08 18:21] kursat commented on #6489
Great, I've applied, thanks for quick response.

[2021-12-08 18:25] roryabraham commented on #6605
I think https://github.com/Expensify/App/pull/6582 and https://github.com/Expensify/App/issues/6640 should _not_ be treated as blockers since email responses aren't formatted correctly on production anyways. So we can probably check off https://github.com/Expensify/App/pull/6582 on this checklist despite the fact it didn't really pass QA cc @chiragsalian

So I think the only other question is #652

[2021-12-08 18:33] ctkochan22 commented on #6590
@flodnv should I revert my changes in Auth? Or can I just get away with grabbing the URL from the values now. Part of the issue is that, in `getPolicySummaryList` the url is available (not nested). Where as `getFullPolicyList`, it will be nested in `values`.

Are we going to make the change to `getPolicySummaryList` to? Or do I need to handle those two cases separately?

[2021-12-08 18:38] flodnv commented on #6590
Ideally yes

The 2 APIs return different things and need to be handled separately, like PHP does, for example here: https://github.com/Expensify/Web-Expensify/blob/6603eaf6d33eed299ef16a6080b54311dda0b7f8/lib/Policy.php#L1375-L1388

[2021-12-08 18:47] michaelhaxhiu commented on #6563
Update:
- Just tested and this is legit 🐛
- Updated the title in favor of clarity 🧼
- Posted to upwork https://www.upwork.com/jobs/~01ff25496a7aa2449e

[2021-12-08 19:06] Jag96 commented on #5699
Ah, I was suggesting that you should dig into that part of your proposal to confirm the issue you believe is a bug is in fact a bug, and that asking in slack would probably be the easiest way to get that info.

[2021-12-08 19:06] marcaaron commented on #6474
Back off Melv' we're waiting for proposals!

[2021-12-08 19:08] NicMendonca commented on #5162
Deployed only to staging so far.

[2021-12-08 19:09] marcaaron commented on #6640
Yeah, I'm not sure if I agree with the premise of this issue. Markdown support will depend on the email client. So it would be really unusual for someone to try and use it there. We should however convert regular html formatting applied in emails to markdown if we can. But that's a different case.

[2021-12-08 19:09] #6640 closed

[2021-12-08 19:10] mallenexpensify commented on #5588
With both keyboard shortcut options already being set by default on my Mac, there's no way to access the keyboard shortcut menu then.. right?  (I tested web/Chrome and it also opened the help menu)  I'm just wanting to figure out if we need/want to do anything about this

![image](https://user-images.githubusercontent.com/22508304/145268835-01c61996-8477-4d8b-a2d0-5ed16dda82ca.png)
and
![image](ht

[2021-12-08 19:11] thienlnam commented on #3867
Looks like PR is ready for review https://github.com/Expensify/App/issues/5987
Once that is merged, we can merge the other file handling PR https://github.com/Expensify/react-native-onyx/pull/102

[2021-12-08 19:14] kevinksullivan commented on #6132
Thanks for breaking that down @Santhosh-Sellavel . I agree we can go ahead and fix this on android for consistency.

https://www.upwork.com/jobs/~01bdeacae514a5e9eb

[2021-12-08 19:16] deetergp commented on #6213
Heya @marktoman, where are we with this one?

[2021-12-08 19:16] mvtglobally commented on #6605
@roryabraham its a pass on Android ![image](https://user-images.githubusercontent.com/43995119/145269978-d33c3874-fa2e-4de4-907e-0057468328df.jpeg)

[2021-12-08 19:17] parasharrajat commented on #6605
It seems like this Checklist is ready to deploy.

[2021-12-08 19:21] parasharrajat commented on #5699
First, due to point 2, A contact is skipped from the search whose login matches with the duplicated room's only participant. Room's info overwrites it.

[2021-12-08 19:22] Jag96 commented on #6528
@Santhosh-Sellavel correct! I've created an upwork posting for that [here](https://www.upwork.com/jobs/~01d8d7c851d56e0e80) and hired you for the job!

[2021-12-08 19:27] chiragsalian commented on #5875
Friendly bump. Any update on this @mateomorris?

[2021-12-08 19:28] chiragsalian commented on #6594
Shall investigate today.

[2021-12-08 19:29] nickmurray47 commented on #6628
Going to unassign for now since I'm running into issues with Xcode on dev. I'm assuming this can be worked on externally as long as there aren't any existing issues with our current file upload API in Web-E.

[2021-12-08 19:46] chiragsalian commented on #6640
Yup. The formatting only works with Gmail formatting when composing an email. So yeah we can close out this issue.

[2021-12-08 19:47] roryabraham commented on #6605
:shipit:

[2021-12-08 19:47] #6605 closed

[2021-12-08 19:50] botify commented on #6315
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6477

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:50] botify commented on #6386
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6515

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:50] botify commented on #6157
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6294

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:50] botify commented on #5894
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6413

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:50] botify commented on #6131
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6272
- https://github.com/Expensify/App/pull/6272

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:50] botify commented on #5162
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6384

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:50] botify commented on #6287
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6542

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:50] botify commented on #5185
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5921

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:50] botify commented on #6253
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6455

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:50] botify commented on #4910
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6500

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:51] botify commented on #5462
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5805

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:51] botify commented on #6155
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6367

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:51] botify commented on #6359
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6544

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:51] botify commented on #6530
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6559

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:51] botify commented on #5926
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6559

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:51] botify commented on #6489
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6561

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:51] botify commented on #6358
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6476

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:51] botify commented on #4756
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6207

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:51] botify commented on #5556
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6586

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:51] botify commented on #6326
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6535

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:51] OSBotify opened #6645 "Deploy Checklist: New Expensify 2021-12-08"
**Release Version:** `1.1.19-3`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6137
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6498
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6573
  - [x] QA

[2021-12-08 19:51] botify commented on #6497
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6600

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:51] botify commented on #3855
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5275

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:51] botify commented on #6487
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.18-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6601

If no regressions arise, payment will be issued on 2021-12-15. :confetti_ball:

[2021-12-08 19:53] roryabraham commented on #6645
Nice short checklist here 😄

[2021-12-08 20:03] isagoico opened #6647 "[HOLD for payment 2021-12-28] Tablet - Amount field ui breaking in landscape mode of tablet - Reported by: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app in a Android tablet
2. Navigate to a conversation
3. Request money via the attachment button
4. On the amount modal enter some numbe

[2021-12-08 20:03] isagoico opened #6649 "Tablet - Amount field ui breaking in landscape mode of tablet - Reported by: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app in a Android tablet
2. Navigate to a conversation
3. Request money via the attachment button
4. On the amount modal enter some numbe

[2021-12-08 20:04] isagoico commented on #6645
My favorites ❤️

[2021-12-08 20:05] parasharrajat commented on #6496
This issue got closed accidentally. the new PR is here https://github.com/Expensify/App/pull/6648 for one last page which got reverted earlier.

[2021-12-08 20:14] mallenexpensify commented on #6301
@parasharrajat @anthony-hull would either of you like to take the lead on this and submit a proposal with some design work?  I doubled the job to $500 https://www.upwork.com/jobs/~01c68ed933432e239b.  Gonna post in #expensify-open-source now too

[2021-12-08 20:16] mallenexpensify commented on #6438
Doubled price to $500, posting in #expensify-open-source
https://www.upwork.com/jobs/~01fbd47098294b194d

[2021-12-08 20:18] megankelso commented on #6552
Oh interesting, does that make better sense? But then how would someone navigate out if it refreshes and it's still the same?

[2021-12-08 20:18] isagoico commented on #6546
@jasperhuangg heyo! @thesahindia needs to be paid for reporting this issue - can you assign or add the necessary labels for this 🙇‍♀️thanks a lot in advance

[2021-12-08 20:19] parasharrajat commented on #6301
@mallenexpensify This needs to be designed internally. This is a big feature and thus it makes it important to feel and look like the rest of the app.

[2021-12-08 20:30] thesahindia commented on #6649
Hey @isagoico I think you opened the same issue twice. We can close this one as #6647 is open.

[2021-12-08 20:30] mallenexpensify commented on #6301
@Expensify/design Can you review the above and provide feedback on what parts need to be done internally vs what can be worked on by a contributor?  If relevant, we could also create separate issues for internal/external work

[2021-12-08 20:31] parasharrajat commented on #6552
So there are a few points here.
1. Why would we want someone to leave the app? Where will he go?
2. Reload refresh should fix allow the user to refresh the app as refreshing most of the time fixes the issue. (for example Main backend server is down and API throwing 500 but it's not the app's fault right. The server can be turned back on after a minute. he should be able to go back to normal.
3. If

[2021-12-08 20:35] parasharrajat commented on #6552
Feels like having newDot logo before Expensify would look better.
![image](https://user-images.githubusercontent.com/24370807/145280264-c88081e6-4e38-40ec-809c-f8f25d18b0b9.png)

[2021-12-08 20:43] isagoico commented on #6649
that's probably because my internet connection is not great atm 🥴 closing this

[2021-12-08 20:43] #6649 closed

[2021-12-08 21:03] bfitzexpensify commented on #6470
@akshayasalvi any update here?

[2021-12-08 21:05] bfitzexpensify commented on #6427
@parasharrajat what's the status here? Is here @railway17's proposal good, does it need further work, or shall I increase the price for this issue?

[2021-12-08 21:07] bfitzexpensify commented on #5125
https://github.com/Expensify/App/pull/6537 in review

[2021-12-08 21:14] parasharrajat commented on #6427
@bfitzexpensify First we need not redefine the scope of this issue. Based on the latest comment https://github.com/Expensify/App/issues/6427#issuecomment-982662634, What should be the new expected behaviour here?
Not sure whom to tag here but @Luke9389 Could you please point out which part do we need to fix out of the posted screens in the description?

Secondly, Railways proposal is still lacking

[2021-12-08 21:19] parasharrajat commented on #6627
@isagoico Could you please share test account credentials with me to test this issue? I can't reproduce reliably on my testing account. You can slack me if that is the way. Thanks

[2021-12-08 21:42] roryabraham commented on #6645
@isagoico Feel free to lock the checklist and begin QA as soon as you're ready.

[2021-12-08 22:10] jboniface commented on #6634
job posted https://www.upwork.com/jobs/~01637ba6d2232cf7fd

[2021-12-08 22:19] parasharrajat commented on #6634
Noticed a mistake for the QA team. This issue is raised for the Web and works well on IOS and Android. cc: @isagoico

Form slack

[2021-12-08 22:23] parasharrajat commented on #6634
I liked @thesahindia 's proposal. He reported the issue and proposed first.
Thanks, @kakajann for posting the proposal but the difference is not significant and both use the same approach.

cc: @Julesssss

[2021-12-08 22:23] roryabraham commented on #6552
I agree `Reload` or `Retry` make more sense than `Back` or `Home`. We won't be able to reliably predict what will happen if this button is clicked, or if the user will just end up back at the error page.

[2021-12-08 22:28] roryabraham commented on #6427
Chatted with @Luke9389 1:1 and he'll be the CME on this issue going forward. Thanks Luke!

[2021-12-08 22:32] megankelso commented on #6552
am I tripping or will they have another way to navigate elsewhere if that happens? or maybe if you click the logo it will take you home?

we could replace our wordmark with the new expensify icon but it feels a bit odd to me at the bottom and doesn't line up with what we typically do. we could swap it in on top instead though?

<img width="278" alt="Screen Shot 2021-12-08 at 2 31 06 PM" src="https

[2021-12-08 22:35] stitesExpensify commented on #4547
No Update

[2021-12-08 22:35] stitesExpensify commented on #4324
No update

[2021-12-08 22:35] stitesExpensify commented on #3922
Worked with Rajat to get a testing account set up, he should be focused on this soon :)

[2021-12-08 22:46] roryabraham commented on #5588
Weird, @mallenexpensify you're on macOS Monterey, right? I have different keyboard shortcut defaults on Big Sur and this feature is working fine for me on web + desktop with `CMD + /` (aka `CMD + ?`).

![image](https://user-images.githubusercontent.com/47436092/145302583-84867efa-72e5-421d-a668-4bd19725806a.png)

That said, it defeats the purpose of having a keyboard shortcut legend without having

[2021-12-08 23:39] mateomorris commented on #5875
@chiragsalian making progress, just need to get Android running. Giving it another go tomorrow 😅

[2021-12-08 23:41] mallenexpensify commented on #5237
Paid @kidroca for reporting, thanks!

[2021-12-08 23:41] #5237 closed

[2021-12-08 23:42] mvtglobally commented on #6645
Starting QA

[2021-12-09 00:02] luacmartins commented on #6634
I actually think that using the variable is a better solution. @Julesssss up to you to decide!

[2021-12-09 00:07] parasharrajat commented on #6634
I agree but I think this can be adjusted during the review but does not require logical change. Let me update the prev comment.

[2021-12-09 00:08] Luke9389 commented on #6563
Hmm, I think we're double assigning CME's now. The Exported label does it, and so does the Help Wanted label.

[2021-12-09 00:10] parasharrajat commented on #6563
Yup C+

[2021-12-09 00:23] chiragsalian commented on #6594
Not sure if this is worth addressing since it seems minor and affecting mobiles with a really small screen space.
I just tried it on iOS and its fine,
![image](https://user-images.githubusercontent.com/14356145/145311991-66eb2084-75cb-4ef3-bb2d-7ecfa045a308.png)

Do we know which android mobile this is? @isagoico is your team able to reproduce this issue on other iOS devices and/or android devices

[2021-12-09 00:38] isagoico commented on #6634
My apologies! I completely mixed them up, thank you so much for the clarification @parasharrajat

[2021-12-09 00:43] isagoico commented on #6594
Seem like this is affecting only small screen devices - when checking on my side I was unable to reproduce on both my iOS and Android device (Huawei P20 Pro - iPhone 6S). I will ask the team if they're able to reproduce but imo very few mobile devices are going to be affected by if this is not even reproduced on iPhone 6S.

@thesahindia Can you clarify which device were you emulating when raising

[2021-12-09 01:06] danieldoglas commented on #6623
Yep. In iPad 6th gen, while on portrait, React recognizes 744px. our minimum to show the images is 800px. So, not an issue.

[2021-12-09 01:07] #6623 closed

[2021-12-09 01:13] kadiealexander commented on #5620
@zoontek I've sent you a job offer in Upwork! Thanks for all your help on this one.

[2021-12-09 01:20] pateljoel commented on #5620
@zoontek does this mean that this issue is fixed over at https://github.com/zoontek/react-native-bootsplash as well? I too have been experiencing this issue when using your library and only come across this thread.

[2021-12-09 01:47] Christinadobrzyn commented on #6528
I'll keep an eye on this [PR](https://github.com/Expensify/App/pull/6631) and pay @Santhosh-Sellavel at our 7 day after production payment timeframe.

[2021-12-09 01:53] roryabraham opened #6660 "Make keyboard shortcuts modal discoverable in UI"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem
We recently added a modal to display all the available keyboard shortcuts. However, currently it's only discoverable via the keyboard shortcut that opens it.

[2021-12-09 01:53] roryabraham commented on #6660
HOLD on https://github.com/Expensify/Expensify/issues/187957

[2021-12-09 02:02] isagoico opened #6661 "Feature request - Add a "Message user" button on users profiles"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a group
2. Click on the header
3. Click on any of the members
4. A right docked panel should display with the user details

## Expect

[2021-12-09 02:10] isagoico opened #6662 "Mobile - Compose box - Increase send button hit area or size"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation

## Expected Result:
Send button should have a big hit area so if the user misses the button it still sends the messag

[2021-12-09 02:11] isagoico commented on #6662
Added the design label too since it was proposed that a bigger button size may be needed. https://expensify.slack.com/archives/C01GTK53T8Q/p1638910641339600?thread_ts=1638902992.337200&cid=C01GTK53T8Q CC @shawnborton

[2021-12-09 02:16] Santhosh-Sellavel commented on #6528
I just notices, there are two active contracts for the same job. cc: @Christinadobrzyn Can you end one contract?

[2021-12-09 02:18] mallenexpensify commented on #5588
I think it's a 12+ year oversight in Expensify where you can use the same 'command+?` to get the pop up but we don't document it anywhere.

When the new GH issue is created to include a link to the legend _somewhere_, can you drop the link in here? Thx

[2021-12-09 02:22] isagoico opened #6663 "User details page - Email Hyperlink doesn't work in Desktop/web"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Concierge conversation
2. Click on the header
3. Click on the email address

## Expected Result:
Clicking on the email address should

[2021-12-09 02:31] isagoico opened #6664 "Pronouns display in multiple languages on the new chat page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Set up 2 accounts - account A set to spanish, and account B set to English
2. On account A, set the pronoun preference to `Llamame por mi nombre`

[2021-12-09 02:36] davidcardoza commented on #6662
@shawnborton I am going to leave the design decision with you.

[2021-12-09 03:47] kadiealexander commented on #6357
As we've hired someone in the original issue who should hopefully be able to fix the issue, I'll close this for now and we can reopen if needed.

[2021-12-09 03:47] #6357 closed

[2021-12-09 03:48] kadiealexander commented on #5079
@akshayasalvi just checking in on how you're doing with this one, please let us know where you're at!

[2021-12-09 03:55] NikkiWines commented on #6562
Hmm, I think we could fix this internally in Web-E instead of just overwriting `message` with an empty message action.

I'm pretty sure we just need to modify [AddComment.php](https://github.com/Expensify/Web-Expensify/blob/master/lib/Report/Action/AddComment.php) and remove the check that ends up saving empty messages as`[]`.

When testing, that solves the issue, though the old report comment sti

[2021-12-09 04:21] akshayasalvi commented on #5588
@roryabraham I can do the additions if you tell me what all I is expected.

[2021-12-09 04:26] K4tsuki commented on #6069
In https://github.com/Expensify/App/blob/de5d2ba79fa86fa3510009ed618b88e0b1f4c5fa/src/libs/Navigation/AppNavigator/modalCardStyleInterpolator.js#L22
I think setting cardStyle position to 'fixed' could fix the animation glitch on early TextInput focus. And it would need some other changes to adjust on smallScreen.
Could I try to take this issue?

[2021-12-09 06:37] thesahindia commented on #6594
Yeah it was nexus 6. This time i tried on pixel 2
<img width="693" alt="Screenshot 2021-12-09 at 11 49 47 AM" src="https://user-images.githubusercontent.com/83179295/145344998-4591ec8a-72e5-49ee-b5c3-b622b63a9b6f.png">

i think we should work on this as it's hard to select people while searching.
we should make it scrollable like we did for the component below :-

https://user-images.githubusercon

[2021-12-09 06:48] MonilBhavsar commented on #6619
@Christinadobrzyn, can you please confirm which version you're running on?

[2021-12-09 07:07] Tushu17 commented on #6663
Hello @isagoico, This is my GH username you can add it now. Thanks🙂

[2021-12-09 08:30] madmax330 commented on #6625
Going to close this out because this requires a refactoring on the backend b/c all the error messages on the backend have no internationalization.

[2021-12-09 08:30] #6625 closed

[2021-12-09 08:30] madmax330 commented on #6625
Context: https://expensify.slack.com/archives/C03TQ48KC/p1638989150018000

[2021-12-09 09:23] parasharrajat commented on #6663
This was designed this way. I am not sure if that design decision is changed over time.

[2021-12-09 09:27] zoontek commented on #5620
@pateljoel Did you catch promise rejection with v3? If you can, I recommend updating to v4, it will be easier to handle (no rejection, 100% RCTRootView.loadingView based) - or follow the steps I've taken care of in this PR.
If an issue still occurs, reacts to https://github.com/zoontek/react-native-bootsplash/issues/264 with solid reproductions steps.

Same for the Expensify team. If needed, I wil

[2021-12-09 09:58] parasharrajat commented on #6619
@Christinadobrzyn @MonilBhavsar. This works in focus mode it does not in Normal mode.

[2021-12-09 10:03] parasharrajat commented on #6619
#### Proposal
To fix this
https://github.com/Expensify/App/blob/de5d2ba79fa86fa3510009ed618b88e0b1f4c5fa/src/libs/OptionsListUtils.js#L677-L706

We need to set the `showReportsWithDrafts: true` for both modes. Which is setting this true in `getOptions` call.

[2021-12-09 10:05] Julesssss commented on #6634
I also like @thesahindia's solution. They were the first to point out the solution and also noticed the bug in the first place.

Please submit a PR @thesahindia. And please hire in UpWork @jboniface

[2021-12-09 10:54] parasharrajat commented on #6488
@eVoloshchak

How would you do that?

we are looking to trigger native sound alerts found on various platforms. They solely depend on user settings. e.g. Mac, Windows , Linux have their own. Playing a sound is ourself does not seem correct approach.

[2021-12-09 10:57] parasharrajat commented on #6496
Could we please reopen this? It's awaiting payment and exported label.

[2021-12-09 10:59] sketchydroide commented on #6663
maybe @roryabraham can shed some more light, but right now it seems we should close this

[2021-12-09 11:04] parasharrajat commented on #6326
We are tracking are a regression from this issue's PR. https://github.com/Expensify/App/issues/6518.  It must be fixed before this issue can be paid out.

Also, this is @railway17 's first issue/PR in our repo so I think further assignment should be restrained until the regression is fixed,

[2021-12-09 11:08] dylanexpensify commented on #6546
Woooot! Posting now!

[2021-12-09 11:12] dylanexpensify commented on #6546
Posted
- internal: https://www.upwork.com/ab/applicants/1468901188558471168/job-details
- external: https://www.upwork.com/jobs/~011dc77774e253739a
@thesahindia please apply and I'll get you squared away!

[2021-12-09 11:25] eVoloshchak commented on #6488
@parasharrajat

 I couldn't find a way to check this programmatically.
 The closest thing I could think of is checking for the browser and system combination (for example, if it's a Chrome on Windows, than we are using native notifications which do have sound, if it's Firefox on any platform, than notifications are silent and so on). But this seems wrong, the list will be huge and this could easil

[2021-12-09 11:58] developvsn commented on #6563
### Proposal

In our opinion, we should check if focusMode is enabled and sort result Array with isPinned value in `SidebarLinks.js`.

We have to add focusMode prop from onyx [here](https://github.com/Expensify/App/blob/main/src/pages/home/sidebar/SidebarLinks.js) and do something like this in [getRecentReports(props)](https://github.com/Expensify/App/blob/de5d2ba79fa86fa3510009ed618b88e0b1f4c5fa/

[2021-12-09 12:04] parasharrajat commented on #6627
Ok, so I have found the cause of this. First I would like to confirm the implementation.
1. We need to put the personalDetails array in the correct position in the search item list. Currently we append this which is why this issue is happening.
`
I think it should be `getOptions` responsibility to give the correct sorted list instead of merging the `personalDetails` in the `recentReports` ourself

[2021-12-09 12:29] thesahindia commented on #6546
@dylanexpensify, applied for the job. Thanks.

[2021-12-09 12:36] dylanexpensify commented on #6546
@thesahindia offer sent!

[2021-12-09 12:47] dylanexpensify commented on #6546
payment sent, contract ended, and job closed!

[2021-12-09 12:47] #6546 closed

[2021-12-09 13:17] parasharrajat commented on #6563
@developvsn Thanks for the proposal but I think it can be improved a lot and require more analysis of the code.

1. It does not fix the real cause.
2. Add sugar coating.
3. Will cause side-effects. You are missing the behavior of the SideLinks.js component.
4. Does not tell how will you do it. It's just bits and pieces.

[2021-12-09 13:37] developvsn commented on #6563
@parasharrajat
1. Why do you think so?
2. If you are talking about ternary operators, we changed it, thank you.
3.  We tried to check all situations, what we were possible to simulate.What do you mean?
4. Changed.

[2021-12-09 13:58] michaelhaxhiu commented on #2545
Still keeping this one in the ol' holster until parent GH is complete.

[2021-12-09 14:37] Beamanator commented on #6438
I'm also not able to reproduce on an iOS sim running iOS 15, I'll try on a physical device shortly

[2021-12-09 15:22] michaelhaxhiu commented on #6563
I'm testing something unrelated to this issue, and need to remove/re-add the `Exported` label real quick. Ignore me.

[2021-12-09 15:24] puneetlath commented on #3245
@mananjadhav I think we have enough support in Slack to move forward. Can you please share your proposal for the technical solution? Thanks!

[2021-12-09 15:46] jboniface commented on #6634
hired

[2021-12-09 15:54] PrashantMangukiya commented on #6664
This happen because of old pronoun data stored in db.

Recently (before few weeks) we updated logic to save pronoun within db with prefix  as `__predefined_`   e.g.  `__predefined_callMeByMyName`

So if pronoun saved to db in the past and not updated recently then db consist pronoun old value (instead of starts with prefix  as `__predefined_`), so that pronoun will not be translated in local langu

[2021-12-09 16:08] parasharrajat commented on #6132
Android is not one of my strong points so I will delegate the decision to @marcaaron .

[2021-12-09 16:35] PrashantMangukiya commented on #6663
#### Proposed Solution:  (If considered external)

As we can see  there is a condition at line 44 so it works for small screen only.
https://github.com/Expensify/App/blob/de5d2ba79fa86fa3510009ed618b88e0b1f4c5fa/src/components/CommunicationsLink.js#L43-L56

**Solution:** Remove condition `props.isSmallScreenWidth` from line 44, 45 and  55.
Code looks as under after changes done:
[code]

[2021-12-09 16:38] parasharrajat commented on #6488
Def not.

yeah, this seems like a good point. I think we won't be able to do it on the web. We will have to play a sound in the browser. You can raise this discussion in the Slack Public channel. Let's see what others have to say about it.

On the other hand, I think we can still do this for Native apps. Do you have any plans for that?

[2021-12-09 16:42] marcaaron commented on #6132
Ah hmm, and I might know less than you @parasharrajat 😂

@Julesssss 🥺  ?

[2021-12-09 16:46] marcaaron commented on #6132
I see the file mentioned was added here -> https://github.com/Expensify/App/pull/4270/files

And where the bitmap is created:

https://github.com/Expensify/App/blob/d175673f141c5dcbd3ed50813d7b113fca53b4dc/android/app/src/main/java/com/expensify/chat/CustomNotificationProvider.java#L210-L211

But don't know much about if we can clip that.. seem like we should be able to.

[2021-12-09 17:05] rafaysaleem89 commented on #6132
We should be able to do something like mentioned in this issue.

https://stackoverflow.com/questions/11932805/how-to-crop-circular-area-from-bitmap-in-android

[2021-12-09 17:05] kbecciv opened #6666 "iOS - Payment - Save and continue button hidden behind keypad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**The bug was found when executing the PR #6638**
## Action Performed:
1. Launch the app and login
2.  Navigate to Settings > Payments > Add payment method and select "Ba

[2021-12-09 17:06] OSBotify commented on #6666
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-09 17:08] marcaaron commented on #6132
Ok seems reasonable to me @rafaysaleem89. Just going to wait for a confirmation from @Julesssss to see if he agrees!

[2021-12-09 17:10] parasharrajat commented on #6132
Yeah, I agree. Do we have some plans for IOS notifications or its out of scope? @marcaaron

[2021-12-09 17:13] mananjadhav commented on #6552
I would recommend having a `Home` button but maybe after refreshing a couple of times. Say if the error persists and the user did refresh a couple of times, shouldn't be stuck on this screen.

[2021-12-09 17:14] marcaaron commented on #6132
Probably out of scope for this unless we already have "avatars" in the notifications for iOS. I don't recall why we are not looking into this for iOS or what the current options are for that platform. Maybe someone in the Slack channel can remember.

[2021-12-09 17:18] Julesssss commented on #6132
We could either modify the bitmap like @rafaysaleem89's proposal or create a [fully customized notification layout](https://developer.android.com/training/notify-user/custom-notification#custom-content). This is much more work and not necessary for now IMO.

Let's go with the above proposal 👍

[2021-12-09 17:23] bondydaa commented on #6666
as a work around can you dismiss the keyboard to see the button? I agree this should be fixed but not sure this needs to be an hourly if we have a work around.

[2021-12-09 17:23] marcaaron commented on #6132
Nice, thanks @Julesssss!

[2021-12-09 17:24] bondydaa commented on #6666
cc @nickmurray47 not sure if this is related to the plaid/oauth changes or not.

[2021-12-09 17:28] Julesssss commented on #6132
I also don't recall exactly why we didn't style iOS notifications, but I think the original issue was created from a specific lack of styling that David noticed for Android notifications. I'd be happy to see an issue for aligning iOS with Android but agree it should be a separate issue.

[2021-12-09 17:33] kavimuru opened #6667 "mWeb - iPad 7- Welcome screen is not fully displayed on large screen iPad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing** #6639

## Action Performed:
1. Open the sign-in page
2. Make sure the image on the right side is displayed in full
## Expected Result:

[2021-12-09 17:34] rafaysaleem89 commented on #6132
I have already applied for the job on Upwork, I'll get started on this and can have a PR ready by Sunday.

[2021-12-09 17:40] michaelhaxhiu commented on #3245
Just jumping in to help get this on track.

Upwork job link: https://www.upwork.com/jobs/~01f4378b0dd44f2dfa

[2021-12-09 17:41] chiragsalian commented on #6594
Ah, I thought the primary issue was the message field overlapping over the invite member input field.
To be clear the member selection area is scrollable pretty similar to the connect bank account but yes we should,
1. Make the message box scrollable. It's scrollable on web so we must've missed making it scrollable on mobile too.
2. Make the box fit atleast 3 lines comfortably. Atm, i see the topm

[2021-12-09 17:45] parasharrajat commented on #6666
Was it working before the PR?

[2021-12-09 17:51] roryabraham commented on #6667
This seems really weird – why is the browser not adjusting to the orientation change in that video?

[2021-12-09 18:07] parasharrajat commented on #6563
_Data is coming in SideLink.js in correct way_ Then why are you sorting again.  Sorting logic is already there.

[2021-12-09 18:08] Jag96 commented on #6666
OOO today, auto assigning another engineer to help triage this one

[2021-12-09 18:09] parasharrajat commented on #6627
@Jag96 What do you think? I am ready to send the PR.

[2021-12-09 18:23] kbecciv opened #6669 "[HOLD] [$250] Android - Offline mode displayed while the user is online"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with Expensify account
3. Close the app and leave it for 5 minutes
4. Come back and open the app

## Expected Result:
Us

[2021-12-09 18:26] roryabraham commented on #6667
Got a fix up 👍

[2021-12-09 18:30] stephanieelliott commented on #6562
Hm, would the other solution remove the old report comment? I think it would be good to go all the way to remove the old commen, but will defer to what you think is best @NikkiWines. If we are unsure, maybe good to raise this for discussion in Slack?

[2021-12-09 18:35] roryabraham commented on #6627
@parasharrajat @Jag96's going to be ooo for a few days, I'm going to temporarily take over as CME here. Just catching up now...

[2021-12-09 18:36] NikkiWines commented on #6562
@stephanieelliott, yep it still ends up removing the old report comment. I can dig a bit into why the old message would still be displayed in the LHN nav today.

Might be worth bringing to Slack regardless, but I think fixing this issue at the source is better than manually overwriting the `message` in App.

[2021-12-09 18:37] nickmurray47 commented on #6666
I think this could be related to the personal bank account changes since I know we added the password field there. Could be that the new field is pushing out the keyboard? Can try to take a look although my XCode environment got absolutely borked for some reason yesterday.

[2021-12-09 18:40] stephanieelliott commented on #6496
@parasharrajat can you grab the Upwork job when you get a chance so I can hire you: https://www.upwork.com/jobs/~017a033299ad4b8dff

[2021-12-09 18:40] kavimuru opened #6671 "Android - Workspace-Message in the box is cutoff at the top in invite new members page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go to any Workspace
4. Go to Manage members
5. Tab invite member
6. Scroll down to "add a personal m

[2021-12-09 18:41] nickmurray47 commented on #6666
Ah, think I know what we could do here

[2021-12-09 18:43] parasharrajat commented on #6496
Sorry, @stephanieelliott I missed the earlier ping. Applied now.

[2021-12-09 18:44] roryabraham commented on #6627
So just to clarify, [this code](https://github.com/Expensify/App/blob/aac57d37c29c0d8d8fa6261f6a50c69295e966cd/src/pages/SearchPage.js#L95) is what you're referring to, right?

I agree

Makes sense

Unfortunately I got a bit confused at this point. Can you explain what you meant by this?

[2021-12-09 18:44] kursat commented on #5142
Hey I've started and almost finished coding, but I've came across to this issue that selecting text from multiple comment is not possible right now (It's still working for multiline comments, just not working for multi-comments). It was when I proposed, but with latest changes, comments are inserted to dom reversed. I reported this as bug, but I am not sure should we consider this a bug.

Please s

[2021-12-09 18:45] marktoman commented on #6213
Hi @deetergp, if this is a priority, I will do this over this weekend. I think I have all the info.

[2021-12-09 18:49] kidroca commented on #5987
PR is open #6556
I guess we'll see some feedback there soon

[2021-12-09 18:52] parasharrajat commented on #6562
I agree fixing it at the backend level is the best solution. AFAIK, This API call is only being made here so we are safe.

[2021-12-09 18:57] parasharrajat commented on #6627
Thanks.

Exactly.

When we will merge the personalDetails in the main recentChats while `sortByReportTypeInSearch` is `true`. There is no use of returning the duplicate personalDetails array. It will become confusing and error prone. So I suggest returning `[]`. Now Someone using this flag should be cautious that `personalDetails` would be merged in the `recentReports` and `personalDetails` would

[2021-12-09 19:01] kursat commented on #6562
Hey @NikkiWines, I was going to say that, just couldn't be sure about the environment back there. If we can do this we should absolutely do that.

Also I wonder, why do we send deleted report actions to the frontend?

For every empty message we get this on the frontend:

[code]
I know not sending these actions will make merging states hard, but other than that is there a specific reason?

Also @pa

[2021-12-09 19:01] parasharrajat commented on #5142
https://github.com/Expensify/App/issues/5142#issuecomment-990123669

This is the biggest bounty issue on the repo and is being actively worked on. You can continue with your PR. Even if it is putting content in reverse order, that is fine. just that formatting should be preserved.

[2021-12-09 19:05] developvsn commented on #6563
Look like it sort by unread messages

[2021-12-09 19:07] parasharrajat commented on #6562
Deleting messages in our app is equal to setting the `html === ""` on each message (action). These messages are hidden but they remain in the history so let's say
1. User A sends a message to User B. User B received it.
2. User B closed the app and went away.
3. User A decided to delete the message .
4. Now How message will be deleted from User B's device? The app is offline so no live syncing. No

[2021-12-09 19:07] kbecciv opened #6675 "Missing avatars in the center of the group conversation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Click on the green plus button
3. Click on Create Group
4. Search for at least 4 users and add them to

[2021-12-09 19:08] OSBotify commented on #6675
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-09 19:08] kavimuru opened #6676 "[HOLD OFFLINE] [$250] Workspace - Same user is added multiple times when tapping invite member CTA multiple times in offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Kill the internet connection
1. Navigate to the Workspace editor
2. Navigate back to the Manage members page
3. Click on invite and en

[2021-12-09 19:08] thesahindia commented on #6594
### Proposal

@chiragsalian Researched a little bit and found out that this [PR ](https://github.com/Expensify/App/pull/5858) added `height:100%` here and after removing that it becomes scrollable for the native platform as well and found no regressions while testing https://github.com/Expensify/App/blob/9efb4d5dfe09b00d74fcddb3c529adbbca2ae455/src/styles/styles.js#L638-L643

[2021-12-09 19:13] michaelhaxhiu commented on #6669
@kbecciv when you reproduced this, how did your online status show in the LHN? Can you test again and make note of that too?
![image](https://user-images.githubusercontent.com/13206896/145460623-c404c512-6396-4d23-9d55-ce1376a6ac2c.png)

[2021-12-09 19:14] NikkiWines commented on #4612
@parasharrajat any update on this one?

[2021-12-09 19:17] parasharrajat commented on #4612
Oops, forgot to check it due to hold on 6207 but I will look into it from now on. It could take a day or two.

[2021-12-09 19:29] #6667 closed

[2021-12-09 19:31] parasharrajat commented on #6594
Looks like that will work.  @thesahindia your proposal looks good.

But this issue does not look like the correct place to track this issue Instead it has a dedicated issue https://github.com/Expensify/App/issues/6671#issuecomment-990121095.

cc: @chiragsalian

[2021-12-09 19:33] thesahindia commented on #6594
@parasharrajat thanks for the heads-up

[2021-12-09 19:41] roryabraham commented on #6627
Thanks for that, I understand now. After thinking about this for a while, I want to re-evaluate if we really want to fix this. Should we really prioritize a DM with someone you've never messaged before over a group chat or room you use all the time?

Sorry, this code is really complex and I'm struggling to find a simple solution here. With your first solution, returning `[]` based on the presence

[2021-12-09 19:44] parasharrajat commented on #6627
Here is an alternative

[2021-12-09 19:49] kursat commented on #5142
Hey great, I've deleted my message from slack. Proceeding to work on it. Thanks for quick reply and great info @parasharrajat.

[2021-12-09 20:09] #6666 closed

[2021-12-09 20:21] trjExpensify commented on #6213
Hey Mark! This is definitely one of the most requested enhancements to the free plan at the moment, so it would be great if we could square this away please.

[2021-12-09 20:22] chiragsalian commented on #6594
Hmm I think this issue is fine becausehttps://github.com/Expensify/App/issues/6671 was created just 2 hours back so if anything i feel like thats the dupe issue since this one was older.

The description UI here wasn't as clear as whats mentioned in https://github.com/Expensify/App/issues/6671 but since we already noted it [here](https://github.com/Expensify/App/issues/6594#issuecomment-990073359)

[2021-12-09 20:22] chiragsalian commented on #6671
Closing this issue since its a dupe of the one here - https://github.com/Expensify/App/issues/6594
More specifically captured in this comment - https://github.com/Expensify/App/issues/6594#issuecomment-990073359

[2021-12-09 20:22] #6671 closed

[2021-12-09 20:48] kavimuru opened #6681 "Chat - Username not in bold for new message if emojis are added for first and last names"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Navigate to a chat
3. Receive a message from a user who have emoticons set as first name and last name

## Expected R

[2021-12-09 21:40] shawnborton commented on #6662
I think as a first step, I would recommend just expanding the hit area around the button first instead of changing anything aesthetically just yet. cc @roryabraham who had some ideas around this too.

[2021-12-09 21:46] roryabraham commented on #6645
The [fix](https://github.com/Expensify/App/pull/6670) for https://github.com/Expensify/App/issues/6667 was deployed in `1.1.19-1`, and the [fix](https://github.com/Expensify/App/pull/6672) for https://github.com/Expensify/App/issues/6666 was deployed in `1.1.19-2`, so feel free to retest those whenever you're ready.

[2021-12-09 21:59] roryabraham commented on #6675
I was able to reproduce this at first, but then the avatars showed up when I resized the page. This leads me to believe it must be some minor component lifecycle problem.

[2021-12-09 22:01] roryabraham commented on #6675
Looks like the `avatarImageURLs` prop is undefined when this component first mounts:

![image](https://user-images.githubusercontent.com/47436092/145482629-b7b58487-b32c-4a1f-94c0-afaf424cb772.png)

[2021-12-09 22:22] sylveawong commented on #5768
@robertjchen sorry – didnt see your response. I understand that the proposal is for the removal of the second entry. I was trying to say that the selected second entry confirms to the user that the person was in fact already added. When the list of "first entries"/selected users gets long, it can be difficult to immediately tell who is already added.

It _does_ become confusing when there is no se

[2021-12-09 22:23] pecanoro commented on #6676
@parasharrajat Is this one also related to our offline issues? Not sure if we should leave this one open if the fix will be the same.

[2021-12-09 22:32] roryabraham commented on #6675
Stealing this from ya @deetergp

[2021-12-09 22:35] roryabraham commented on #6675
Got a [fix](https://github.com/Expensify/App/pull/6684) up and ready for review.

[2021-12-10 00:24] mallenexpensify commented on #4129
This is still happening on v1.1.18-3, iOS.  I'm reopening cuz it's a bug and we should fix it, sooner or later.
@marcaaron is there a downside of continuing to double this job until we get accept a solution?  Or.. is this associated with something else internally we need to take into consideration?

[2021-12-10 00:32] mallenexpensify commented on #6681
Job posted! https://www.upwork.com/jobs/~0165406868aebe45dd

[2021-12-10 00:41] NikkiWines commented on #6562
No worries, @kursat - as you said, there was no way for you to know if this was solvable in the backend.

Didn't get a chance to dig into the persistent chat in the left hand nav today but will take a look tomorrow

[2021-12-10 00:49] NikkiWines commented on #6235
Sorry for the delay @developvsn - it seems like the next step would be for someone to reach out to https://github.com/FaridSafi/react-native-google-places-autocomplete/ and submit an issue there.

Going to reach out to the team to see how we want to handle that!

[2021-12-10 01:18] Christinadobrzyn commented on #6619
Posted job in Upwork:

Internal job - https://www.upwork.com/ab/applicants/1469113987962277888/job-details
External job - https://www.upwork.com/jobs/~01115853f0dd4ec347

[2021-12-10 01:18] mallenexpensify commented on #5892
Gonna bump to monthly for now since it's not a high-value issue

[2021-12-10 01:29] kavimuru opened #6685 "iOS -Workspace - Endless spinner when tapping save button when making changes in general settings in offline mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Disable the internet connection on the device
2. Verify you can navigate back to workspace editor
3. Click on General Settings again
4. Change th

[2021-12-10 01:48] Shing-Ho commented on #6619
Is this issue still open for proposal? I found one proposal above and not sure if it's accepted or not.

[2021-12-10 02:04] roryabraham commented on #6645
Manually CPing https://github.com/Expensify/App/pull/6684 to staging in `1.1.19-4` to fix https://github.com/Expensify/App/issues/6675 and also to test https://github.com/Expensify/App/pull/6655.

[2021-12-10 02:12] Christinadobrzyn commented on #6594
Job posted in Upwork -

Internal - https://www.upwork.com/ab/applicants/1469126956000698368/job-details
External - https://www.upwork.com/jobs/~018857ea91e134d764

Hired @thesahindia in Upwork!

[2021-12-10 02:40] kavimuru opened #6688 "Workspace - Not able to invite a member by searching for a new account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate  to Workspace editor
2. Click on Manage Members
3. Click on the invite button
4. Enter another user (that you have access to)

## Expect

[2021-12-10 02:43] kbecciv opened #6689 "Payments- No error messages displayed for using numbers for the Name of Card and Expiration date 0233"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with any account
3. Go to Setting - Payments
4. Tap on Plus - tap on Debit Card
5. Put numbers for Name of Card
6. Put ex

[2021-12-10 03:04] akshayasalvi commented on #5079
@kadiealexander Got changes to be finished on other PRs which I closed yesterday. Getting back to this today

[2021-12-10 03:23] mvtglobally opened #6690 "Feature Request - Add a background task that would push data to the backend for offline messages - Reported by: @kidroca"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Context
We have logic to persist/retry message requests that didn't make it, like for example when you write a message while you're offline
We would usually send those

[2021-12-10 03:31] kavimuru opened #6691 "Android - Request money - Transition is not smooth after changing currency in currency selector and tapping continue"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Tap + fab button and select "Request money"
3. In request money page select a different currency and continue

## Exp

[2021-12-10 03:44] K4tsuki commented on #6471
Proposal:

https://github.com/Expensify/App/blob/a3b530ed7e3b7dc93e7c28b6f871bb6426d9764f/src/libs/actions/Report.js#L649-L655

To trigger  "setNewMarkerPosition(reportID, oldestUnreadSeq)"
I think we should only check on "updatedReportObject.unreadActionCount > 0" and not with "lodashGet(allReports, [reportID, 'newMarkerSequenceNumber'], 0) === 0".
Also, `const oldestUnreadSeq = updatedReportObje

[2021-12-10 04:08] mateusbra commented on #6471
The reason for the indicator not showing up is:
We are trying to access Report data before it be given by API in Report:

https://github.com/Expensify/App/blob/de5d2ba79fa86fa3510009ed618b88e0b1f4c5fa/src/libs/actions/Report.js#L1137-L1139

As we don't have lastReadSequenceNumbers, it returns undefined, that results in the indicator not showing up.

### PROPOSAL

We need to know when data is recei

[2021-12-10 04:29] mvtglobally opened #6692 "Feature Request - LHN a badge should appear on chats with new messages - Reported by: @Thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login with account A and send a chat to account B
2. Login with account B and check Unread messages display

## Expected Result:
In LHN a badge s

[2021-12-10 04:37] mvtglobally opened #6693 "IOU - Cursor is set to pointer in IOU preview - Reported by: @Tushu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login
2. Request money from account B
3. Click on amount on top to open details window
4. Hover over amount and user details

## Expected Result:

[2021-12-10 04:45] leopchain2019 commented on #6132
Hi, it works on some Android devices, and it can't be fixed on other Android devices.
I couldn't remember the version number of the Android OS, what the device type was.
You can imagine what the difference is between JPEG and PNG.
No need to worry.
It's not a bug.

[2021-12-10 04:54] mvtglobally commented on #6645
Regression is almost complete. Few re-tests in progress

Deploy blockers found (we are re-testing)
- iOS - Payment - Save and continue button hidden behind keypad #6666
- mWeb - iPad 7- Welcome screen is not fully displayed on large screen iPad #6667
- Missing avatars in the center of the group conversation #6675

Comments added
https://github.com/Expensify/App/pull/6608#issuecomment-990615263

Is

[2021-12-10 05:02] mvtglobally opened #6694 "[HOLD for payment 2021-12-27] Login - Spaces are not trimmed before making the email check during login - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. navigate to the App
2. Enter email with spaces before or after
3. Hit continue

## Expected Result:
User should be able to proceed

## Actual Res

[2021-12-10 05:24] jliexpensify commented on #6390
Hello, how are we going for this job? Should I be hiring anyone yet?

[2021-12-10 06:40] sidferreira commented on #6390
@parasharrajat @jliexpensify I didn't had the time to check the input issue, but the solution should be around the same... tweak a bit the measures to fit properly. I'm just worried that the input change may reflect in too many places. I would suggest breaking this into two issues if possible.

[2021-12-10 06:41] roryabraham commented on #6645
Thanks @mvtglobally, keep me posted with the status of deploy blocker retests.

[2021-12-10 06:50] parasharrajat commented on #6390
You should apply a single solution to expensiinput and that would be apply to all. Because all of these input usage same style.

Usually, these types of
Issues are combined into one if known beforehand.

Let me know your plan to fix it. If it seems like much work I will report that separately.

[2021-12-10 07:14] Christinadobrzyn commented on #6528
Thanks for letting me know @Santhosh-Sellavel! I think I cancelled one of the contracts but Upworks isn't loading to show which one was cancelled. You might get a message in Upwork about it.

Either way, I will track both of these and make sure to pay you for one of them after the production deployment.

[2021-12-10 09:24] developvsn commented on #6681
@kavimuru @deetergp  how do you guys expect to see emoji as **bold**? 🤖 Either the issue is not an issue or the expected result is described wrong.

It will be better to forbid the only emojis in the name and last name and make some symbols mandatory

[2021-12-10 09:43] parasharrajat commented on #5462
Requesting price increase for this job. [Originally](https://github.com/Expensify/App/pull/5805#issuecomment-948187628)
##### Why
1. Scope of the issue increased drastically, from [Actual results](https://github.com/Expensify/App/issues/5462#issue-1005734103) and [proposal](https://github.com/Expensify/App/issues/5462#issuecomment-927869687).
2. I had to create two PR's to cover the changes.
3. Ev

[2021-12-10 10:05] K4tsuki commented on #5946
https://github.com/Expensify/App/blob/a3b530ed7e3b7dc93e7c28b6f871bb6426d9764f/src/libs/OptionsListUtils.js#L385-L390

After some checks, announce room doesn't have `participants`.
So it get filtered by this code.

[2021-12-10 11:27] parasharrajat commented on #6676
I think we can prevent the duplicates without too hassle here. According to the way this component is configured, it should filter exisitng members from the invite list. So when add a new user Policy data trigger a prop update to this component but we are not handling prop changes.
Even if user is online, He can click the button multiple times and then duplicate entries will be created but After A

[2021-12-10 11:33] PrashantMangukiya commented on #6694
#### Proposed Solution: (If considered as external)

Need to update `validateAndSubmitForm()` function within src/pages/signin/LoginForm.js
https://github.com/Expensify/App/blob/c86847d26e1f8e16264314f5f837436baeaaa5f8/src/pages/signin/LoginForm.js#L104-L128

**Solution:**
Update code as shown under. Take trimmed value of login once `const loginTrimmed = this.state.login.trim();` and replace every

[2021-12-10 11:46] parasharrajat commented on #5768
If I agree that showing selected users in the search result is fine but it does look like an issue to the user. It has been reported by two contributors in our repo. Hypothetically saying, I believe if 2/250 think this is an issue then how many of ?/2500000 users can think the same?

let's talk about the image you referenced.
![image](https://user-images.githubusercontent.com/24370807/145568658-85

[2021-12-10 12:46] hiteshagja commented on #6592
@dylanexpensify

If we do following change in androidManifest.xml then problem will be resolved.

![image](https://user-images.githubusercontent.com/5493716/145576195-5dce4ccf-5def-483a-a6b2-ce8146040ff2.png)

[2021-12-10 13:40] parasharrajat commented on #6592
@hiteshagja could you please explain your proposal?

1. What are you changing in the mean on behaviour?

[2021-12-10 14:01] PrashantMangukiya commented on #6693
#### Proposed Solution:  (If considered as external)

**Here is the problem:**  There is a `styles.iouPreviewBox` at line 106 this style consist cursor as pointer, So it shows pointer cursor either `props.onPreviewPressed' passed or not.
https://github.com/Expensify/App/blob/c86847d26e1f8e16264314f5f837436baeaaa5f8/src/components/ReportActionItem/IOUPreview.js#L105-L109

<hr />

**Solution1:**  _T

[2021-12-10 14:33] hiteshagja commented on #6592
@parasharrajat  What I proposed is that if we add new keys (as shown in screenshot posted earlier) for andoird:configChanges the problem resolves. App does not crash in split screen mode after this change.

[2021-12-10 14:57] puneetlath commented on #6635
Upwork job post is here: https://www.upwork.com/jobs/~01c8638ba6711d325c

@thesahindia your solution seems to make sense, but I'm curious. If we're not specifying the keyboard type on this component, why is this issue only affecting Android tablets?

[2021-12-10 15:06] thesahindia commented on #6635
@puneetlath, because for ios & android we are using `BigNumberPad` component.
<img width="388" alt="Screenshot 2021-12-10 at 8 35 36 PM" src="https://user-images.githubusercontent.com/83179295/145595441-675534d1-8e27-41ff-a4d2-7cfca297f8d1.png">

[2021-12-10 15:22] parasharrajat commented on #6592
I can already see that you proposed a solution and thus it must be fixing the issue. I meant to ask what does it change in the App so that crash does not happen.

A proposal should explain be able to explain what are you doing via the code. What is the logic behind it?

[2021-12-10 15:33] pecanoro commented on #6676
Cool, thanks for the insight, so many offline issues lately that I am getting all of them mixed up! I am going to add the external label then!

[2021-12-10 15:41] parasharrajat commented on #6635
@thesahindia Your proposal looks good.

cc: @puneetlath

[2021-12-10 15:45] kidroca commented on #6690
This ticket is related #4264 but it focuses on **pull**ing data in the background
What I see there is that we lean towards using [react-native-background-fetch](https://github.com/transistorsoft/react-native-background-fetch)
The library seems to cover our needs here as well:

[2021-12-10 15:59] K4tsuki commented on #5946
https://github.com/Expensify/App/blob/c86847d26e1f8e16264314f5f837436baeaaa5f8/src/libs/OptionsListUtils.js#L385-L390
Some #announce room doesn't have `participants`. So it get filtered out by this code.

If some other announces do have `participants`, then they would get filtered out by:
https://github.com/Expensify/App/blob/c86847d26e1f8e16264314f5f837436baeaaa5f8/src/libs/OptionsListUtils.js#L3

[2021-12-10 16:00] dklymenk commented on #6592
Given the nature of discussion happening here, I'd like to provide some more context to my proposal above.

While the linked github issue has a lengthy discussion on the topic I'll do my best to provide a tl;dr even though I don't necessarily understand the underlying Java code.

The best summary I found actually comes from [react-navigation docs](https://reactnavigation.org/docs/getting-started/#

[2021-12-10 16:04] parasharrajat commented on #6676
@pecanoro but I am not able to determine what should be done in this issue. What would be the expected behaviour here?

When the user has selected a contact. Should it be removed when added to the policy? or Should we show the loader on the button when an invite call is made?

I think we should first set clear expectations before moving it to external.

[2021-12-10 16:11] parasharrajat commented on #6592
I am in talks about this https://expensify.slack.com/archives/C01GTK53T8Q/p1639152620014500. Thanks for the insights guys.

[2021-12-10 16:44] parasharrajat commented on #6592
Good point @dklymenk. According to our [contribution guideline](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job), a contributor is not allowed to submit the PR until his proposal is accepted. Could you please close that PR and wait for further instructions @hiteshagja ?

[2021-12-10 16:55] parasharrajat commented on #3855
Thanks, I had to do a lot of refactor to make it work.

[2021-12-10 17:06] mananjadhav commented on #3245
**Proposal**

1. At the moment we have got EmojiPicker with Popover and a few related functions in the `ReportActionCompose`. I am planning to move all of these into a separate `EmojiPickerPopover` (or something with a better name)
2. At the high level it'll have `Popver`, `EmojiPicker`, `Pressable` (button to open the emoji picker), `addEmojiToText` functions.
3. We set an additional prop which i

[2021-12-10 17:11] thesahindia commented on #6635
@parasharrajat `decimal-pad` and `NUMBER_PAD` both are giving the same results. Maybe we can use either?
<img width="1314" alt="Screenshot 2021-12-10 at 10 29 18 PM" src="https://user-images.githubusercontent.com/83179295/145614024-761e7f98-4046-4723-98a1-16082724086f.png">

[2021-12-10 17:12] parasharrajat commented on #3245
I don't think that this would be needed. You can use a callback and call it whenever user selected the Emoji.

[2021-12-10 17:16] parasharrajat commented on #6635
Ok. I would say just to be the safer side let's go with `decimal-pad` as the name implies we need decimals. I doubt the RN a lot so things can vary from platform to platform.

[2021-12-10 17:19] thesahindia commented on #6635
Nah. `decimal-pad` sounds better!

[2021-12-10 17:22] mananjadhav commented on #5185
@chiragsalian https://expensify.slack.com/archives/C01GTK53T8Q/p1639142507005200 Should we treat this as a regression from my PR.

The problem is `this.menuItems` are initialized in the constructor and hence they don't get the updated values. We'll have to define them in the `render` method so that they receive the latest props.

This wasn't the case when we had the old layout and I had explicitly

[2021-12-10 17:31] roryabraham commented on #6645
Any update here? Seems like we should be almost ready-to-go here.

[2021-12-10 17:33] parasharrajat commented on #6471
Thanks for the proposal. Looking into them....

[2021-12-10 17:34] mananjadhav commented on #3245
Also @puneetlath, can we bump the budget for this one a bit? This won't be a small fix. Would appreciate it if this can be done.

[2021-12-10 17:37] mvtglobally commented on #6645
@roryabraham, Regression is almost done.
Blockers are re-tested and passed. I checked off all PRs and issues

We had a bit inconsistent notifications behavior on Android. Team is trying to re-verify "Receive notification while app is backgrounded" steps. We should be able to close this in the next hour.

[2021-12-10 17:41] luacmartins commented on #6691
I could reproduce this in dev. This issue can be external.

[2021-12-10 17:41] shawnborton commented on #5462
I think that is a fair assessment Rajat, I agree with you.

[2021-12-10 18:03] roryabraham commented on #4233
Going to just close this. There's no real problem here

[2021-12-10 18:03] #4233 closed

[2021-12-10 18:06] mvtglobally commented on #6645
@roryabraham  We are able to repro this https://github.com/Expensify/App/issues/5022 today. I dont think its a deploy blocker as [this](https://github.com/Expensify/Expensify/issues/174061) is still open.

Regarding #6675 We are getting very mixed results.
Few testers still able to repro on build 1.1.19-4. I am not able to repro on any device. Can you also double check?

https://user-images.github

[2021-12-10 18:22] roryabraham commented on #6645
Shoot, I was able to reproduce on iOS 😞 Going to reopen and look into it some more.

[2021-12-10 18:23] roryabraham commented on #6675
Reopening because we're still able to reproduce this.

[2021-12-10 18:29] chiragsalian commented on #5185
Sure, yeah I feel like I tested this too in your PR at some point. But I guess i lot changed around the N6 stuff. Anyway thanks for creating the follow-up PR.

[2021-12-10 18:49] roryabraham commented on #6619
Sorry for the delay @Shing-Ho – I think @parasharrajat's proposal will work, so we'll hire him for this job. @Christinadobrzyn feel free to hire @parasharrajat on Upwork. Since he's already assigned to this issue (as the only C+), I'm just going to remove the `Help Wanted` label.

[2021-12-10 18:52] johnmlee101 commented on #6518
Where are we with this?

[2021-12-10 18:54] johnmlee101 commented on #5082
Bumped the PR

[2021-12-10 18:55] #3797 closed

[2021-12-10 19:04] kidroca commented on #6690
Another related ticket is this one #5987
Here we define a persisted requests queue.
The queue takes care of sending any requests that were persisted to storage. Then it would remove each completed requests from persistent storage

All we have to do here is trigger the `flush` of this queue from a periodic background task
- if there are persisted requests they would be sent and cleaned up

A plus o

[2021-12-10 19:07] roryabraham commented on #5193
So sorry @aswin-s, I got confused. The linked regression is related to https://github.com/Expensify/App/issues/6326, not this  issue. My mistake. Nothing more for you to do here.

[2021-12-10 19:18] roryabraham commented on #6660
The changes we'll need are the following (as outlined in [this comment](https://github.com/Expensify/App/issues/5588#issuecomment-931939207)):

1. Add a menu item in `/settings/about` saying `Keyboard Shortcuts` that opens this modal.
    - *Note:* This is currently on hold because we need a keyboard icon from our design team. Issue for the icon is [here](https://github.com/Expensify/Expensify/iss

[2021-12-10 19:20] roryabraham commented on #5588
@akshayasalvi I made a separate issue [here](https://github.com/Expensify/App/issues/6660) that outlines what's expected.

[2021-12-10 19:20] parasharrajat commented on #6660
Good Catch.

[2021-12-10 19:24] parasharrajat commented on #6681
Well, @mallenexpensify This is technically not possible. Emojis can't be bold. We can close this issue in favor of https://github.com/Expensify/App/issues/6692 if we want to proceed with that.

[2021-12-10 19:31] Luke9389 commented on #6069
@K4tsuki, thanks for your proposal.
Before I can give it a proper review, I need to refamiliarize with the history of the issue and also do some research on how position 'fixed' will affect it. I'll be back once I know a bit more

[2021-12-10 19:46] mvtglobally opened #6699 "[HOLD for payment 2022-01-27] [$500] Trim the message up-to a fixed length which can be seen in LHN - Reported By: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

- Go to Search page.
- Run the search a few times.
- Console log the Options that being listed in the Searchpage.
- See that Alternative text is ma

[2021-12-10 19:50] roryabraham commented on #6552
Well it's difficult to say. Basically if we landed here something went wrong and we're not sure what. We can try to navigate to home (or login), but if there's a bad problem on the home (or login) page, then it's possible we'd just land right back on this page.

[2021-12-10 19:51] kidroca commented on #4264
This ticket is related to some of my work so I'll do whatever I can to help move it forward

I took a look at the PR here: #5953 and left a review
So far it looks on the right track but it just proves the concept of the idea - the background task that is defined would make a sample request and then log to the console
It should instead do something similar to the stuff we do on startup - make a cal

[2021-12-10 19:54] mallenexpensify commented on #3855
@parasharrajat I just tested on Web, Chrome, Staging and - after I used 1Password to add my email address, I wasn't able to click the `return` key to move to the next step (activate the continue button).   I had to click `tab` then `enter` to get to the next step.

Can this be fixed, updated?  If so... can/should it be done via the current PR or should a new issue be created?

[2021-12-10 20:03] parasharrajat commented on #3855
Let me check @mallenexpensify

[2021-12-10 20:05] mallenexpensify commented on #5462
@pecanoro can you review [this internal SO](https://stackoverflow.com/c/expensify/questions/10765/10766#10766) to determine the price increase?

[2021-12-10 20:12] mallenexpensify commented on #6692
Here's a reason why a badge might be better, or in addition to, bolding the user name - emoji can't be bolded
https://github.com/Expensify/App/issues/6681

[2021-12-10 20:15] mallenexpensify commented on #6681
Thanks @developvsn and @parasharrajat , I only quickly reviewed the issue before posting the job.  I thought the issue was 'text in username isn't bold if there is also an emoji', which doesn't appear to be the case.

I'm going to close this issue and the Upwork job for now.  Thanks for linking the other issue @parasharrajat , I added a comment there that links back to this.  @kavimuru and @isabel

[2021-12-10 20:15] #6681 closed

[2021-12-10 20:19] mallenexpensify commented on #6699
@Julesssss can you take a look? I don't fully understand this issue nor if an external contributor can work on it

[2021-12-10 20:21] parasharrajat commented on #6699
This is purely technical. More details on Slack thread.
Actually, somehow last message is being appended multiple times which is a memory leak.

[2021-12-10 20:22] NikkiWines commented on #6235
Cool, so from talking to the team it sounds like we'd want to go forward with you submitting a PR to https://github.com/FaridSafi/react-native-google-places-autocomplete/ and see if they'll accept the changes. If there's no response or they're just generally inactive with reviewing it in 2 weeks, we'd proceed by having you fork the repo and implementing the changes there.

[2021-12-10 20:22] mananjadhav commented on #4264
@kidroca Thanks for the comments. Yes, the PR is still in draft and requires cleanup.

We wanted to start a basic function call and then convert

[2021-12-10 20:34] developvsn commented on #6235
Good! Then we will proceed with that on Monday and come back with a mention here that we submitted PR, so we can start the 2-weeks timer

[2021-12-10 20:47] roryabraham commented on #6675
Okay, I'm not able to reproduce this consistently, or at all on dev. I looked through the diff on the checklist and couldn't find any changes even related to this that might cause this bug to happen on staging but not production. I was able to to temporarily reproduce this on production by creating a new group in poor network conditions (slow 3G).

So I think a solution here might be to add the de

[2021-12-10 20:47] megankelso commented on #6552
ok that makes sense! Thoughts on moving forward with that last screenshot? I think that's the best solution that would give them ways to re-navigate if possible.

[2021-12-10 20:48] akshayasalvi commented on #6660
@roryabraham

1. We'll move the `KeyboardShortcutsModal.isOpen` to `Onyx.IS_SHORTCUTS_MODAL_OPEN`  and update the relevant functions to hide and show the visibility

2. We then create `KeyboardShortcuts` in `libs/action` to update the `Onyx` keys

3. We'll add row in `AboutPage` to add the shortcuts menu, with the relevant update calls

4. Add the menu in `desktop/main.js`

[code]

and

[code]

5.

[2021-12-10 20:48] roryabraham commented on #6645
Going to demote https://github.com/Expensify/App/issues/6675 from deploy blocker to KI. @mvtglobally Please include it in your weekly retests.

[2021-12-10 20:49] roryabraham commented on #6645
:shipit:

[2021-12-10 20:49] #6645 closed

[2021-12-10 20:52] OSBotify opened #6703 "Deploy Checklist: New Expensify 2021-12-10"
**Release Version:** `1.1.20-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6289
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6314
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6581
  - [x] QA

[2021-12-10 21:00] roryabraham commented on #6552
Yep, looks good! I have a few minor design suggestions but of course will leave the final decision to you:

1. Maybe use full-color logo or choose randomly from one of our brand colors each time the page loads and use the monochrome logo in that color
1. Make `switching to web` a link to the website.
1. Add the wordmark back in at the bottom maybe?

And can we also get a wide-screen mockup please?

[2021-12-10 21:05] roryabraham commented on #6660
Okay @akshayasalvi, just for clarity sake are you volunteering to do this as part of the scope for https://github.com/Expensify/App/issues/5588, or do you think that this should be treated as a separate job?

[2021-12-10 21:10] roryabraham commented on #6663
Asked to try and get consensus [in slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1639170531038600)

[2021-12-10 21:10] mvtglobally commented on #6703
Starting QA

[2021-12-10 21:18] megankelso commented on #6552
I wonder if we need two logos though? I would prefer going back to the bug icon instead with just the wordmark on bottom. A side by side to see

<img width="631" alt="Screen Shot 2021-12-10 at 1 17 33 PM" src="https://user-images.githubusercontent.com/49413768/145642422-dc18ddfd-f9d9-4ced-88cf-f9cd359069fb.png">

[2021-12-10 21:24] roryabraham commented on #6326
Just to reiterate and confirm what @parasharrajat said above, this issue should not be considered complete until https://github.com/Expensify/App/issues/6518 is resolved as well.

[2021-12-10 21:28] mallenexpensify commented on #3855
One other thing, which I don't think is directly related to this. Can you test to see, if a user has a 2FA one-time password in 1Password, should that auto-fill on all platforms?  I've had issues with 1P and NewDot on iOS for many months, wondering if others are also having similar issues.  (I think I just got 1P and NewDot iOS working better except that I'm not getting the one-time password added

[2021-12-10 21:38] parasharrajat commented on #3855
Ok. I got you there @mallenexpensify. I will add that as well but just for the record not part of this issue.

About this https://github.com/Expensify/App/issues/3855#issuecomment-991252825,
It seems to be configured but If could share a video that would be helpful.

[2021-12-10 21:39] sidferreira commented on #6390
@parasharrajat which commit you used? I'm trying one where the inputs seems to work alright...

[2021-12-10 21:41] parasharrajat commented on #6390
@sidferreira  I will try to give you a video on Monday.

[2021-12-10 21:48] akshayasalvi commented on #6660
I’ll do it as a part of the scope from the previous work.

[2021-12-10 21:56] roryabraham commented on #6552
Cool, the 🐛 icon looks good to me!

[2021-12-10 21:59] roryabraham commented on #6660
Great, thanks! Feel free to submit a pull request whenever you're ready, and then before we merge it we'll just make sure to get the correct keyboard icon that our design team is making in the settings menu list item.

[2021-12-10 22:25] roryabraham commented on #6662
Turns out `hitSlop` can't extend past the parent view – so the most we can extend the pressability of this button is by a margin of 3 device pixels on each side.

[2021-12-10 22:29] roryabraham commented on #6662
It might make a bit of a difference, PR is [here](https://github.com/Expensify/App/pull/6708).

[2021-12-10 22:36] sidferreira commented on #6390
@parasharrajat I managed to reproduce it... The input for the workspace name uses `BaseExpensiTextInput`, to fix the emoji issue there, we need:

https://github.com/Expensify/App/blob/d827b9b9abdee6dd8cedb520ce51f38e39dccf3e/src/components/ExpensiTextInput/BaseExpensiTextInput.js#L175
this component needs a `height: 100%` (maybe a `flex: 1` works too), to fix the height measurement of the componen

[2021-12-10 23:30] mallenexpensify commented on #3855
If the 2FA/one-time-code isn't clearly called out in this issue, does $250 for increased scope seem fair?  Feel free to include in this PR or we can create a new issue.

For focus not advancing to the `Continue` button after an email address has been entered, he's a vid

https://user-images.githubusercontent.com/22508304/145653682-bc26876f-e1fe-435a-9b22-7f62d7aa6496.mp4

and here's what's showing

[2021-12-11 00:09] mallenexpensify commented on #6058
@michaelhaxhiu is working on the on/offline plan, more soon

[2021-12-11 00:09] mallenexpensify commented on #5766
@michaelhaxhiu is working on the on/offline plan, more soon. Assigning you too Hax so we can tag team this when the time is right

[2021-12-11 00:15] mallenexpensify commented on #3981
Removed `[HOLD PR #6095] ` since that PR closed 11 days ago.
https://github.com/Expensify/App/pull/6095

@kidroca #6095 hit production 11 days ago.  I see the above comment is from 9 days ago.  Have you been able to test to see if there is much difference?

@johnmlee101 Can you review this issue and updates @kidroca has provided and provide feedback and suggestions on next steps?  Thx

[2021-12-11 00:28] kbecciv opened #6709 "Error message ''A room with this name already exist'' isn't displayed after type the same name for room the Room Name input"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click "New Room" in the global create menu
2. Type test_room_name into the room name input and select a workspace. Click "Create Room".
3. Type t

[2021-12-11 00:28] OSBotify commented on #6709
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-11 00:38] kavimuru opened #6710 "Chat - Message that are bigger than 10240 characters does not appear without reload"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing #6673**

## Action Performed:
1. Launch the app and login
2. Open two different accounts and start a chat with each other
3. Write any m

[2021-12-11 00:39] OSBotify commented on #6710
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-11 00:41] luacmartins commented on #6116
I actually discussed this 1:1 with @marcaaron. Since nothing is broken and the solution at hand is really involved and hard to maintain, we will just close this for now.

[2021-12-11 00:41] #6116 closed

[2021-12-11 00:54] developvsn commented on #6691
### Proposal:

This problem is occurring because in android keyboard can't keep up to close before navigation is done.

Solution: We have to import `Keyboard `component from react-native and  in functions that carry out `Navigation.goBack()` have to close Keyboard — `Keyboard.dismiss()`.

Here:
https://github.com/Expensify/App/blob/d827b9b9abdee6dd8cedb520ce51f38e39dccf3e/src/pages/iou/IOUCurrency

[2021-12-11 01:53] kavimuru opened #6711 "Workspace settings - App's orientation does not change to Landscape"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing #6648**

## Action Performed:
1. Launch the app
2. Go to settings
3. Tap on a workspace
4. Change the orientation to landscape

## Expect

[2021-12-11 01:54] OSBotify commented on #6711
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-11 02:06] mountiny commented on #6710
I think this is quite edge case so it does not have to be a deploy blocker. Gonna remove the label and make this an External issue

[2021-12-11 02:11] mountiny commented on #6711
Removing deploy blocker as it does not seem very urgent. However, I have teated on staging and the I cant switch to landscape at any screen.

[2021-12-11 02:56] kbecciv opened #6712 "IOS/Android - Black screen is displayed when try to create room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open App and login with expensify account
2. Tap on Plus [+] and select "New Room" in the global create menu
3. Type test_room_name into the room

[2021-12-11 02:56] OSBotify commented on #6712
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-11 03:44] luacmartins commented on #6711
This is intentional after this PR https://github.com/Expensify/App/pull/6608. I think we can close this issue, unless not being able to change to landscape mode is blocking some functionality.

[2021-12-11 04:29] K4tsuki commented on #3981
How about cancelling this `Report_UpdateLastRead(parameters)` API Request when offline:
https://github.com/Expensify/App/blob/d827b9b9abdee6dd8cedb520ce51f38e39dccf3e/src/libs/API.js#L674-L678

checking offline by onyx NETWORK `isOffline` https://github.com/Expensify/App/blob/d827b9b9abdee6dd8cedb520ce51f38e39dccf3e/src/libs/Network.js#L71-L88

Then when network is reconnected: `fetchAllReports` i

[2021-12-11 04:54] mvtglobally opened #6713 "[HOLD for payment 2021-12-27] Keyboard shortcut Modal is drag-gable, inconsistent with other Modals - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to app
2. Login
3. initiate Keyboard shortcut Modal with 'command+?' on Mac or 'ctrl+?' on windows or Linux

## Expected Result:
Modal p

[2021-12-11 05:01] mvtglobally opened #6714 "[Reporting bonus paid] Attachment view shows image as left aligned. It should be horizontally centered - Reported by: @Prashant Mangukiya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Run web or desktop version
View already uploaded landscape image from chat list.
OR upload any landscape image (i.e. Choose image whose width larger

[2021-12-11 05:06] mvtglobally opened #6715 "Feature Request: Requested money list should be sorted by Date Descending - Reported by: @Prashant Mangukiya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.Navigate to app
2. Send multiple IOU requests to the same user
3. Open IOU details modal
4. Check  sorting of the requests

## Expected Result:
Re

[2021-12-11 05:13] mvtglobally opened #6716 "Workspace - Previous workspace details shown when navigating away after creation - Reported by: @Sahil Khan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to app
2. login with account that has at least 1 workspace
3. go to workspace details
4. click on "New Workspace"
5. Click on General Settings

[2021-12-11 05:20] mvtglobally opened #6717 "Workspace General Settings - Save button remain enabled although any information not changed within form - Reported by: @Prashant Mangukiya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run app on any platform
2. Go to any workspace
3. Click General Settings
4. Check Save button

## Expected Result:
Save button on this form shoul

[2021-12-11 05:23] mvtglobally opened #6718 "[HOLD for payment 2022-05-02] [$2000] Chat - On clearing a draft message from a chat, LHN list reshuffles - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Set  chat setting to "Most recent"
2. Select any chat that is not Pinned and has no draft from bottom of the LHN.
2. Add a draft message,.
3. Sw

[2021-12-11 06:23] PrashantMangukiya commented on #6715
#### Proposed Solution: (If considered as external)

We have to reverse `reportActions` within IOUTransactions.js file.
https://github.com/Expensify/App/blob/d827b9b9abdee6dd8cedb520ce51f38e39dccf3e/src/pages/iou/IOUTransactions.js#L74-L100

**Solution:** We have to reverse `this.props.reportActions` before rendering.  As `this.props.reportActions` not pure array so we can not use array.reverse().

[2021-12-11 06:32] PrashantMangukiya commented on #6717
@mvtglobally thanks, please correct my Github user name as  @PrashantMangukiya for reported by. (remove space between first and last name)

[2021-12-11 06:33] PrashantMangukiya commented on #6715
@mvtglobally thanks, please correct my Github user name as  @PrashantMangukiya for reported by. (remove space between first and last name)

[2021-12-11 06:33] PrashantMangukiya commented on #6714
@mvtglobally thanks, please correct my Github user name as  @PrashantMangukiya for reported by. (remove space between first and last name)

[2021-12-11 07:48] PrashantMangukiya commented on #6717
#### Proposed Solution: (If considered as external)

We have to set isDisabled props for `ExpensifyButton` within WorkspaceSettingsPage.js file
https://github.com/Expensify/App/blob/d827b9b9abdee6dd8cedb520ce51f38e39dccf3e/src/pages/workspace/WorkspaceSettingsPage.js#L127-L133

**Solution:**  We have set `isDisabled={isButtonDisabled}` props based on the form value changed as shown under:
[code]

[2021-12-11 08:17] mountiny commented on #6711
@luacmartins thank you for a heads up! Is there an official way to update QA tests so they test for not being able to turn to landscape instead? 😅

[2021-12-11 11:44] PrashantMangukiya commented on #6716
**I can not reproduce this within v1.1.20-0  Dev**
i.e. I think It is working as expected in latest version. Below is screen record.
Please share the exact step if anyone can reproduce this within latest dev version.

https://user-images.githubusercontent.com/7823358/145675027-40d927b8-1371-43c0-a878-3034839ef413.mp4

[2021-12-11 12:32] railway17 commented on #6326
Hi, @roryabraham , @parasharrajat
Please check the below video.
I have just tried to test again but still not sure what you are referring to about [#6518](https://github.com/Expensify/App/issues/6518).
As you can see, It is fully scrollable from top to bottom.
Actually, I created [pull request](https://github.com/Expensify/App/pull/6535) after enough tests.
If you think we have to fix it further,

[2021-12-11 12:36] thesahindia commented on #6716
Correct @PrashantMangukiya, this is now working fine as @mananjadhav has already made a PR for this.

[2021-12-11 13:17] hassamsohail commented on #6635
me just change your keyboard type is:   keyboardType="numeric"

[2021-12-11 13:48] hassamsohail commented on #6635
<TextInput
        style={styles.input}
        onChangeText={onChangeNumber}
        value={number}
        placeholder="useless placeholder"
        keyboardType="numeric"
      />
I change your keyboard type "numeric" your keyboard type is "alphabetic"

[2021-12-11 13:48] hassamsohail commented on #6635
<TextInput
        style={styles.input}
        onChangeText={onChangeNumber}
        value={number}
        placeholder="useless placeholder"
        keyboardType="numeric"
      />

[2021-12-11 16:59] kevinksullivan opened #6719 "Promote concierge / phone support in NewDot workspace v1"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create workspace
2. Navigate to any tab in the workspace menu

## Expected Result:
Following up on  https://github.com/Expensify/Expensify/issues

[2021-12-11 17:05] kevinksullivan commented on #6132
@rafaysaleem89 hired! @Santhosh-Sellavel can you apply as well, so I can make sure you get your reporting bonus when this is complete?

[2021-12-11 17:42] abecciv commented on #6669
@michaelhaxhiu I'm still able to reproduce in build 1.1.20-0, status are showing Offline(grey) in LHN.
[Video](Uploading Screen_Recording_20211210-212554_New Expensify.mp4…)

[2021-12-11 23:33] K4tsuki commented on #5766
### Chat ordering suggestion:
Based on [this](https://github.com/Expensify/App/issues/5766#issuecomment-941073694) and [this](https://github.com/Expensify/App/issues/3623#issuecomment-939275005) and other issue #5952, #3623. Wrong ordering [issue](https://github.com/Expensify/App/issues/3623#issuecomment-934684591)
If we use `timestamp` for ordering the chats, someone can tamper his `timestamp` an

[2021-12-12 02:39] K4tsuki commented on #5766
Or if we could show message created time, this could be simplified. We don't need  `sending message error` or `newer message is coming` scheme. We just automatically send the message to server. The displayed order of the message is kept by which is first served by server.
There will be a message that created later but coming first, this will be displayed above of the message that served later even

[2021-12-12 04:20] mvtglobally opened #6720 "[HOLD for payment 2022-03-08] [$500] Account details stuck in RHN when switching chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Click header in conversation with User B - their details open in Right Hand Nav (RHN)
2. Type command+k to open Search to open chat with User C

[2021-12-12 04:23] mvtglobally opened #6721 "Feature Request - Show external icon after email address within Workspace >> Pay Bill Screen - Reported by: @PrashantMangukiya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any workspace
2. Click Pay bills, It shows Pay bill screen.
3. That screen have Manage your bills section with email address as example.co

[2021-12-12 04:30] mvtglobally opened #6722 "Workspace - Wrong error message is being used/shown when delete request fails - Reported by: @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to app
2. Create few workspaces
3. Delete few workspaces back to back
4. observe the error

## Expected Result:
Clear error should display whe

[2021-12-12 07:17] K4tsuki commented on #6563
Proposal.

We forgot to add `prioritizePinnedReports: true` inside sideBarOptions in this code:
https://github.com/Expensify/App/blob/d827b9b9abdee6dd8cedb520ce51f38e39dccf3e/src/libs/OptionsListUtils.js#L689-L694

Adding `prioritizePinnedReports: true` resolve the problem for me.

[2021-12-12 09:16] PrashantMangukiya commented on #6721
#### Proposed Solution: (If considered as external)

We have to replace code line 57- 61 within WorkspaceBillsFirstSection.js file
https://github.com/Expensify/App/blob/d827b9b9abdee6dd8cedb520ce51f38e39dccf3e/src/pages/workspace/bills/WorkspaceBillsFirstSection.js#L57-L61

Solution: We have to replace 57- 61 with below code.
[code]

[2021-12-12 10:22] mountiny commented on #6711
Based on the Slack thread linked in the issue by Carlos, also [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1638475724148200?thread_ts=1638471596.142900&cid=C01GTK53T8Q), this is intentional and on phones, we should not be able to rotate to landscape anymore.

However, the rotation should be possible on tablets.

@kavimuru could you please update the testing instructions to make sure we

[2021-12-12 10:28] mountiny commented on #6710
cc @danieldoglas as it is related to the issue you worked on: https://github.com/Expensify/App/issues/3797

It should not work on production as the linked PR has been only deployed only to staging so far, but the issue body says it also happens in Staging.

[2021-12-12 10:34] mountiny commented on #6710
Sorry @NicMendonca for a ping, upon further investigation, this should not be external yet. This issue is about merged PR not behaving as expected.

[2021-12-12 11:38] parasharrajat commented on #6721
There is supposed to be a Copy icon instead of an External icon so this feature request is invalid. I saw someone raising a similar issue on Slack before this so this should be closed.

@PrashantMangukiya Could you please wait for issues to be triaged before proposing a fix?

[2021-12-12 11:45] hiteshagja commented on #6592
Closed PR. I will wait for your message @parasharrajat

[2021-12-12 11:53] parasharrajat commented on #6718
Hey @mvtglobally, you tagged the wrong person on the issue. My handler is @parasharrajat . Also, there are many issues like this. I would suggest using only Slack names and no tagging until you know the handle.  E.g. my slack name is `Rajat Parashar` and no use of `@`. It would at least not alert the wrong person. May be prepare a list if that helps you. Another thing could be that we all can add

[2021-12-12 12:59] parasharrajat commented on #6390
Thanks, @sidferreira for exploring it. Changing Height:100% seems reasonable but I doubt the padding change. It will affect the overall layout of the component.

But I am confused about the proposed changes. What are you saying?
1. Change the height and padding.
2. Change the height or padding.

Well, I am not yet sure of the best solution to fix it. I would have to dig into the code for that. But

[2021-12-12 14:31] mountiny commented on #6709
@TomatoToaster This is a regression from the New Room PR. I do not think this must be a deploy blocker as it does not break anything, but it would be good to investigate. The tester has copied the string name into the text input field, which is different way than what I could see on the videos in the PR where it was typed, so not sure if that could be the reason.

[2021-12-12 14:36] sidferreira commented on #6390
@parasharrajat the input has height 100%,  reducing the padding will increase the height for the text.

[2021-12-12 15:11] mountiny commented on #6703
I am demoting the `Workspace settings - app orientation` [issue](https://github.com/Expensify/App/issues/6711) from deploy blockers. It is a new and expected behaviour. Please, @mvtglobally could you update the testing so that we test the orientation change is possible on tablets, **but** we cannot change to landscape on mobile? Thank you!

Also I am removing the [Chat - Messages that are bigger t

[2021-12-12 15:12] OSBotify commented on #6709
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-12 17:49] davidcardoza commented on #6722
Screenshot of the error message received when the user attempts to delete a workspace, for reference below. @thienlnam Once we've confirmed why the error is occurring I can help adjust the copy.
![image](https://user-images.githubusercontent.com/6643649/145723483-ddc9998f-ccf6-4a9f-9e8d-59f7a75ecf49.png)

[2021-12-12 20:20] mountiny commented on #6709
PR up and ready

[2021-12-12 21:02] isagoico commented on #6703
**Regression** is finished!
Issues found:
1. https://github.com/Expensify/App/issues/6709 is failing https://github.com/Expensify/App/pull/6314
2. https://github.com/Expensify/App/issues/6710 - Not a deploy blocker
3. https://github.com/Expensify/App/issues/6711 - Expected behaviour on phones
4. https://github.com/Expensify/App/issues/6712 is failing https://github.com/Expensify/App/pull/6314

Tha

[2021-12-12 21:19] isagoico opened #6725 "[HOLD for payment 2022-01-11] New Chat Room - Letters are doubled when entering Room Name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with a expensifail account
2. Click on global create
3. Create new chat room
4. Start typing on room name

## Expected Result:
Characters

[2021-12-12 21:19] OSBotify commented on #6725
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-12 21:25] isagoico commented on #6703
We found this issue on Android as well when closing the regression run - https://github.com/Expensify/App/issues/6725. Looks like a Deploy Blocker

[2021-12-12 22:22] mountiny commented on #6712
Gonna take this over @tylerkaraszewski as my fix for other Deploy block should fix this as well, I hope.

The problem is that we have parsing the reportName for basic policy room incorrectly and it ends up being an empty string. Then [this line](https://github.com/Expensify/App/blob/ecce01202e51c4a39bbea913280a47ab7d4e0755/src/pages/home/HeaderView.js#L114) is false and nothing is shown in the Vie

[2021-12-12 22:22] mountiny commented on #6712
PR is in a review

[2021-12-12 22:52] mountiny commented on #6725
This is also related to https://github.com/Expensify/App/pull/6314 cc @TomatoToaster

[2021-12-13 00:17] jliexpensify commented on #6691
Posted!

Internal - https://www.upwork.com/ab/applicants/1470185909131399168/job-details
External - https://www.upwork.com/jobs/~0195d90c9e8e28435e

[2021-12-13 01:38] Christinadobrzyn commented on #6619
Hired @parasharrajat in Upwork 🎉

[2021-12-13 02:17] kbecciv opened #6726 "Web - Unable to search room after it has been created"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3. Click on Plus button and Click on New Room
4. On Room name type any

[2021-12-13 02:17] OSBotify commented on #6726
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-13 02:41] K4tsuki commented on #6562
I think `fetchActions` called by `didMount` only fetchs last 50 report actions. This is set by `CONST.REPORT.ACTIONS.LIMIT`.
If we edit or delete a message earlier than last 50 message while other users web is not active, that onyx message is not modified by the `fetchActions`.

If back end save `timespan` of report action when a user deletes or edits a message, I think it would be best if we have

[2021-12-13 02:45] K4tsuki commented on #6563
@parasharrajat ? Is it not elaborate?

[2021-12-13 02:48] K4tsuki commented on #6563
@parasharrajat? I am sorry, Is it not working?

[2021-12-13 04:51] mvtglobally opened #6727 "Feature request - Set character limit for workspace name - Reported by: @Sahil khan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login with newly created account
2. Click on "+" and create New workspace
3. Navigate to Workspace settings
4. Change name to 1000 char

## Expec

[2021-12-13 04:57] mvtglobally opened #6728 "Feature request - Before it's validated, allow to correct the phone number - Reported by: @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login
2. Navigate to Account > Profile
3. Enter a phone number (that isn't associated with an existing Expensify account) and send the validation

[2021-12-13 05:06] mvtglobally opened #6729 "[HOLD for payment 2021-12-28] Increase the box shadow of the Popover Menus in the app on Web|Desktop - Reported By: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to app
2. Go to chat
3. Click on any popover menu (e.g. add attachment or click on message to edit it)

## Expected Result:
Popover Menus shou

[2021-12-13 05:11] mvtglobally opened #6730 "Feature request - When creating NewRoom, the cursor should focus on Room Name field by default - Reported by: @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login
2. Click on "+" and select Create Room

## Expected Result:
When creating NewRoom, the cursor should focus on Room Name field by default

#

[2021-12-13 07:00] parasharrajat commented on #6563
@K4tsuki It does not work.

[2021-12-13 08:09] conorpendergrast commented on #6728
Looking at [the original Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1639228884097300), I think we should narrow the scope of this change to be: Before validating, allow removing the phone number.

The problem that we're looking at is: it's easy to enter the incorrect phone number, and while you can resend the validation SMS, you can't cancel the process and/or correct the phon

[2021-12-13 09:28] mountiny commented on #6726
I have added two more lines to the PR I already raised to fix other two blockers related to this component to fix this issue as well.

[2021-12-13 10:02] K4tsuki commented on #6563
@parasharrajat is it nor working at all?
Or I must also hide `IOUreport` with unsettled value
Or I must also must hide draft report?

[2021-12-13 10:50] mountiny commented on #6726
Actually, just noticed that this has also the `and unable to search` part, which is not solved in that PR, the linked PR only makes sure the tile name is shown, but one still cannot really search and find the room once you click away from it.

I will split this into two issues then.

[2021-12-13 10:52] mountiny opened #6731 "Room name is not shown in the header after creating a new room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3. Click on Plus button and Click on New Room
4. On Room name type any

[2021-12-13 10:53] OSBotify commented on #6731
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-12-13 10:55] mountiny commented on #6731
Sorry Scott for the Melvin ping, this issue should already be addressed in the aforementioned PR

[2021-12-13 10:57] mountiny commented on #6726
Alright, so I have updated this issue to be only about the inability to search the room after creating it and created separate deploy locker for the room name [here](https://github.com/Expensify/App/issues/6731) as their solutions are not completely connected and it would be better to have a separate PR to solve this as the PR mentioned above is already covering 3 issues (better for testing and gr

[2021-12-13 11:36] K4tsuki commented on #6563
@parasharrajat  Is it doesn't work at all? It works for me though.

[2021-12-13 12:33] parasharrajat commented on #6728
@conorpendergrast I already reported a similar issue a few months back which was https://expensify.slack.com/archives/C01GTK53T8Q/p1631912719416000. and It has some context as well.

[2021-12-13 12:46] zanyrenney commented on #6729
looks good to me.

[2021-12-13 12:57] ogumen commented on #6703
@mountiny from the accessibility perspective restricting the content view and operation to a single display orientation fails WCAG 2.1 SC 1.3.4

[2021-12-13 12:57] ogumen commented on #6711
@mountiny from the accessibility perspective restricting the content view and operation to a single display orientation fails WCAG 2.1 SC 1.3.4

[2021-12-13 13:03] mountiny commented on #6711
@ogumen ah, thank you for raising this issue. It has been a decision made by more people so i will need to discuss with them.

[2021-12-13 13:22] sketchydroide commented on #6720
this does sound like a bug, and I think we could have it as an external

[2021-12-13 13:24] sketchydroide commented on #6663
it seems we are still kinda tied on the votes for this, I do like @mallenexpensify suggestion of taking it completly to incentivize people to use the app to chat.

[2021-12-13 14:05] bfitzexpensify commented on #5754
7 days since deployment - ended the contract and paid you @AlfredoAlc. Thanks!

[2021-12-13 14:05] #5754 closed

[2021-12-13 14:07] bfitzexpensify commented on #5869
7 days since https://github.com/Expensify/App/pull/6271 (to fix https://github.com/Expensify/App/issues/5873) was deployed,  with no regressions. Given this also wasn't reproducible during KI tests, I think we're good to close this out now.

[2021-12-13 14:07] #5869 closed

[2021-12-13 14:08] parasharrajat commented on #6718
@bfitzexpensify
The behavior was that if you add a draft to a chat that is currently active.
1. Pencil should be added but no reordering should happen on the LHN.
2. Now when you clear the draft, pencil should go away but not reordering should happen on the LHN.
3. List will only reorder in 1 or 2 when you move to another chat.

Point 1 and 2 was added recently in via two issues cc: @mountiny  and

[2021-12-13 14:11] bfitzexpensify commented on #6718
Cool, thanks for the explanation, I understand what you mean now and can reproduce. Figure this is likely `External` but will let @cead22 confirm that.

[2021-12-13 14:14] kavimuru commented on #6711
@mountiny,  I have edited the steps. Also it works fine in iPad though.

https://user-images.githubusercontent.com/43996225/145828062-b2a9ed8f-08e5-415a-a2c9-e60213c38416.MP4

.

[2021-12-13 14:32] railway17 commented on #6326
Hi, @roryabraham , @parasharrajat
Could you please check my video and let me know if you have any feedback?
If not, we can close this issue with the Upwork job because it is already deployed in production.
Thank you

[2021-12-13 14:36] railway17 commented on #6518
I've attached my video in #6326 below.
https://user-images.githubusercontent.com/29966461/145676609-ea158234-146c-4e2b-8ea9-d25a1517c8ed.mp4
Actually, it is deployed in both staging and production, you can also check if you want.
If you think it is fixed, please close this issue.
Thank you.

[2021-12-13 14:43] mvtglobally opened #6733 "[HOLD for payment 2021-12-28] New Room - Translate Room visibility - Reported by: @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3.  Set language to Spanish
4. Click on Plus button and Click on New

[2021-12-13 14:59] mvtglobally opened #6734 "Profile Screen - Save button does not show loader while api call (save operation) in progress - reported by: @PrashantMangukiya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Use slow internet connection.
2. Go to Settings >> Profile
3. Change any field value (e.g. First name, Last name)
4. Click Save button
5. Save bu

[2021-12-13 15:18] puneetlath commented on #6729
cc @Expensify/design curious for your thoughts on this and if you agree we should change this.

[2021-12-13 15:25] pecanoro commented on #5462
@parasharrajat what do you think it's a fair price?

[2021-12-13 15:27] kidroca commented on #3867
Synced with `main` (1170 commits 🤯)
I've reverted the change to persist attachment requests to storage so that we can merge this as it was [approved](https://github.com/Expensify/react-native-onyx/pull/102#pullrequestreview-797147352), and once #6556 is merged we can just enable persisting attachment requests

[2021-12-13 15:36] parasharrajat commented on #5462
@pecanoro Sorry, which price?

[2021-12-13 15:43] K4tsuki commented on #6563
https://github.com/Expensify/App/blob/d827b9b9abdee6dd8cedb520ce51f38e39dccf3e/src/libs/OptionsListUtils.js#L502

`lodashOrderBy` is case sensitive, so to sort it case insensitively we callback `const sortedPinnedReports = lodashOrderBy( pinnedReportOptions, [ report => report.text.toLowerCase()], ['asc']);`

[2021-12-13 15:46] #6709 closed

[2021-12-13 15:46] #6712 closed

[2021-12-13 15:46] mananjadhav commented on #6733
*Proposal if made external*

The translation is missing in ‘WorkspaceNewRoomPage’ for ‘ExpensiPicker’. We should reference them then with translate and relevant language files.

[code]

and add relevant restricted and private keys to en.js and es.js

[2021-12-13 15:49] TomatoToaster commented on #6713
Lol this is such a goofy bug 😄 Good find @parasharrajat. This makes sense for external so I'm going to make it such.

[2021-12-13 15:57] Dal-Papa commented on #6692
I think this implies a good amount of investigation to implement the correct number of messages etc. Should this go through a design doc process or something lighter to discuss ? Bringing this up in `#expensify-open-source`

[2021-12-13 16:11] pecanoro commented on #6676
I am not sure if I am following. If we try to add the same user a second time, we should simply not allow the user to do it, right? Or maybe we should simply not allow inviting member when we are offline.

[2021-12-13 16:23] parasharrajat commented on #6676
Aha, got you.
I was saying that should we remove that user from the list. For example, you searched for a user and select one, and press invite. Then remove that user from the list. To continue will be disabled automatically. But it may not resolve the issue completely. user can press quickly to add the same user again.

But you are saying to just filter the invited users before adding them so tha

[2021-12-13 16:25] parasharrajat commented on #6692
My thoughts @Dal-Papa
1. We already record the unread messages count which should be used to show the number in the badge.
2. We already have logic to show the unread report status on the report so same should be used to just add a new badge.

[2021-12-13 16:35] mountiny commented on #6711
Thank you @kavimuru! I will bring up the accessibility issues in Slack to see what is our approach here and whether to revert this decision now knowing it breaks accessibility rules.

[2021-12-13 16:36] pecanoro commented on #5462
Oh sorry, maybe I didn't explain myself properly haha How much would you like it increased?

[2021-12-13 16:40] johnmlee101 commented on #6518
@kavimuru could this be re-tested and closed if resolved?

[2021-12-13 16:40] parasharrajat commented on #6471
Ok, thanks for the proposals guys.
Here are a few questions
@K4tsuki

Why do you think so? It seems you haven't understood the problem yet.

@mateusbra

It seems that it will work but I still have doubts about taking that path. There could be other (easier) ways of handling this.

[2021-12-13 16:42] stephanieelliott commented on #6694
Hey @parasharrajat, as the reporter of this issue you have first dibs on fixing it before I share it publicly on Upwork. If you want to complete this job, please submit a proposal here!

[2021-12-13 16:46] iwiznia commented on #6715
I don't think I agree with the problem. Most recent one is on the bottom, same as the chat messages.

[2021-12-13 16:47] parasharrajat commented on #6694
Sure, thanks. It is a quicker one so I can take it.
### Proposal

1. we have to trim the login input before validating it and sending it backend which is handled at https://github.com/Expensify/App/blob/15bb537ebf508559e81c32d664924b1dcf0be361/src/pages/signin/LoginForm.js#L104.

2. We should trim `this.state.login` before using it anywhere inside `validateAndSubmitForm()` function.

[2021-12-13 16:48] iwiznia commented on #6721
I agree with @parasharrajat.

[2021-12-13 16:49] luacmartins commented on #6691
@developvsn I had tried that solution before and it didn't seem to work, at least on my emulator. Does it work on your end?

[2021-12-13 16:51] danieldoglas commented on #6122
Changed to monthly for now.

[2021-12-13 16:51] iwiznia commented on #6727
There is no limit because I think the backed/API does not impose one. So, I don't think we should arbitrarily add one in the frontend.

[2021-12-13 16:53] mountiny commented on #6711
@ogumen Brought this issue up in [Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1639414351169700?thread_ts=1633106402.327800&cid=C01GTK53T8Q).

[2021-12-13 16:55] iwiznia commented on #6728
I agree with [this comment](https://expensify.slack.com/archives/C01GTK53T8Q/p1631918669419500?thread_ts=1631912719.416000&cid=C01GTK53T8Q). We should always try to think about the big picture. In this case is how to manage secondary logins (adding new ones, removing exiting ones, making a secondary login primary, etc).

[2021-12-13 16:58] parasharrajat commented on #5462
Well, that would be hard for me to tell. I can't arbitrarily tell a value. What does the internal SO say? I would say at least $500.

[2021-12-13 17:02] parasharrajat commented on #6729
Also, any example of shadow from the designer's eye would be best. I just added one for demo purposes in the attached images.

[2021-12-13 17:06] mountiny commented on #6725
It is also only happening only if you click by mouse on the emulator keyboard and not when you actually type using notebook keyboard 🤯

[2021-12-13 17:08] mountiny commented on #6726
Actually, we have found out that this is being worked on by @TomatoToaster. Since the policy rooms are still in beta, full functionality is not required. Internal issue [here](https://github.com/Expensify/Expensify/issues/176851)

[2021-12-13 17:12] TomatoToaster commented on #6725
Alright since this is behind a beta, I'm going to demote this from being a deployblocker, but I'll keep track of this bug as I'm working on this PR: https://github.com/Expensify/App/pull/6737

[2021-12-13 17:15] K4tsuki commented on #6471
@parasharrajat  yeah I misunderstood the problem. I thought the problem about marker not showing up on last unread message when navigating between room.

[2021-12-13 17:17] RGutu commented on #6691
@luacmartins Yep.But we think it depends on android processor or/and graphics card.We think that it will be a good idea to add some delay before navigation.It won't be observed by user, but transition back  will be smoother. Like that:

[code]

[code]

result:

https://user-images.githubusercontent.com/92646072/145857311-85a548fc-6416-4f23-b7ef-8f5e99630f23.mp4

 Can you please try this variant an

[2021-12-13 17:24] marktoman commented on #6213
@deetergp Where can I find the `Policy_CustomUnit_Update` API signature? Calling it with `policyID` and `unit` returns the following error:
[code]

[2021-12-13 17:26] luacmartins commented on #6691
That may be it.

I'll let either @parasharrajat or @mountiny take it from here since they are assigned to the issue. I just pitched in since I had tried your original proposed solution and still had issues on my end.

[2021-12-13 17:34] parasharrajat commented on #6691
To me, this issue does not seem worthwhile. navigating back should close the keyboard automatically. It is handled by `react-navigation`.
On the other hand, adding a delay just to close the keyboard is also not a good option. You don't know how much time does the OS takes to close the keyboard. IOS /Android both work differently, I bet this issue must not be happening in IOS.  I would say **do not

[2021-12-13 17:37] developvsn commented on #6691
(accidentally deleted message)
@luacmartins Yep.But we think it depends on android processor or/and graphics card.We think that it will be a good idea to add some delay before navigation.It won't be observed by user, but transition back  will be smoother. Like that:

confirmCurrencySelection() {
        setIOUSelectedCurrency(this.state.toggledCurrencyCode);
        Keyboard.dismiss();
        set

[2021-12-13 17:38] AndrewGable commented on #6714
I've had this happen to me, agree it's a bug and looks like it's an external one too.

[2021-12-13 17:40] parasharrajat commented on #6694
@stephanieelliott Proposal above.

[2021-12-13 17:44] developvsn commented on #6691
So, we also can check and make this changes only on Android?

[2021-12-13 17:47] shawnborton commented on #6301
I think the design team needs to create some mocks for the ideal flow and then we can perhaps post internally for alignment, and then get this assigned to a contributor. I'll add the Design label for assignment.

Some inspiration from other products:

![image](https://user-images.githubusercontent.com/2319350/145861815-01ac82f5-6215-4651-b31c-c12030fa12bd.png)

![image](https://user-images.githubu

[2021-12-13 18:09] chiragsalian commented on #6716
Yup, looks like this was resolved. Closing.

[2021-12-13 18:10] mvtglobally commented on #6703
@mountiny @roryabraham We got a new version. What blockers are we good to re-test now?

[2021-12-13 18:14] thesahindia commented on #6716
@chiragsalian, will i be compensated for reporting this issue?

[2021-12-13 18:18] manan commented on #6733
unsubscribe

On Tue, Dec 14, 2021 at 4:34 AM MelvinBot ***@***.***> wrote: