[2022-06-13 20:04] trjExpensify commented on #9252
Okay cool, I see what you're saying. Let's do it. 👍

[2022-06-13 20:06] marcochavezf commented on #9406
Applying `External` label

[2022-06-13 20:23] mallenexpensify commented on #9253
Similar issue happening to me, wondering if I should post a new bug.
- Open new.expensify.com in Safari on iOS
- Navigate to chat
- Hit `<` in upper left corner of chat
- Be send to sent to previous page instead of to LHN where I should be.

https://user-images.githubusercontent.com/22508304/173427038-068b364d-1743-44b2-981b-2c34304becb8.MP4

cc @kbecciv , @isabelastisser @mvtglobally, I _feel_ li

[2022-06-13 20:25] mallenexpensify commented on #8849
@adeel0202 please apply/accep the same job, if it states a higher price than the $250 for reporting I will adjust when I pay.  Thx

[2022-06-13 20:25] AndrewGable commented on #9204
@srikarparsi was able to figure this out and is updating documentation!

[2022-06-13 20:36] #9353 closed

[2022-06-13 20:37] marcaaron commented on #9353
User input should not be modified as per the Forms project.

[2022-06-13 20:37] marcochavezf commented on #9403
I noticed that other messaging apps have this functionality, and I think this feature could be a good minor UX improvement when a user is copying and pasting text in the chat box. Applying the `External` label.

[2022-06-13 20:38] adelekennedy commented on #8426
paid!

[2022-06-13 20:39] #8426 closed

[2022-06-13 20:40] lbaldy commented on #2727
Anyway, I am working on getting the forked version to work. Once ready I will update the https://github.com/Expensify/App/pull/9143

[2022-06-13 20:40] mallenexpensify commented on #9249
Hired @rushatgabhane for C+ and @sobitneupane for the job, bumped to `Weekly`

[2022-06-13 20:49] neil-marcellini commented on #9426
The problem is that the transition link from the OldDot mobile app is not URL encoded. Some of the transitions worked because the `exitTo` param didn't contain any characters that have to be URL encoded, but `workspace/new` does and so it was failing. I've got a simple fix on the way.

[2022-06-13 20:50] MTN718 commented on #9122
**Proposal Shane**

It's because of LoginKeyboardAvoidingView control when keyboard shows, password form move up. So to avoid it, change LoginKeyboardAvoidingView to View and then it doesn't move up Password Form

![image](https://user-images.githubusercontent.com/12084368/173442105-fae5f900-8297-4a93-8a25-ef4972a237c1.png)

To like this

![image](https://user-images.githubusercontent.com/12084368

[2022-06-13 20:55] mallenexpensify commented on #8455
hmm.... if there's potential for payment in the future (which it sounds like it is for this and others) I think a better option is to only leave the Contributor Manager assigned, and bump to `Monthly`, then we can 'kick the can down the road` until the refactor is done, then double check these before closing.

Otherwise we risk a situation where
- An issue like this is reported then closed
- Refac

[2022-06-13 20:56] mallenexpensify commented on #9370
Thanks @alex-mechler , unassigning since I/we reported and it's internal, no one is due compensation

[2022-06-13 20:56] parasharrajat commented on #2727
We are already planning to upgrade the app to latest RN 0.68. That should help in transition. https://github.com/Expensify/App/issues/8503#issuecomment-1152785723. But it is still in planning phase. I am not sure if someone is already working on that.

@mallenexpensify Would you be able to forward the discussion on the other issue? Let's see if that can be handled. Thanks.

[2022-06-13 20:58] parasharrajat commented on #7855
Still no update. I will look into this tomorrow. Otherwise, open this to the pool.

[2022-06-13 21:00] parasharrajat commented on #7121
Will take this up tomorrow.

[2022-06-13 21:02] kavimuru opened #9436 "Chat - JS console error appears when opening a particular chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Desktop App as login user [applausetester++115@applause.expensifail.com](mailto:applausetester++115@applause.expensifail.com)
2. Go to chat

[2022-06-13 21:03] marcochavezf commented on #9234
Thank you for the review @rushatgabhane, I was OOO sorry for the delay here. Assigning @liyamahendra 👍🏽

[2022-06-13 21:09] marcochavezf commented on #8356
Waiting for more proposals

[2022-06-13 21:13] rushatgabhane commented on #9122
@MTN718 we want the content to move out of the way of the virtual keyboard. Removing `LoginKeyboardAvoidingView` isn't a good idea.

[2022-06-13 21:14] marcochavezf commented on #9089
Hi @sobitneupane, did you create a PR to update `expensify-commons`? :)

[2022-06-13 21:31] flodnv commented on #9422
Strange, that's not what @mvtglobally said here: https://expensify.slack.com/archives/C01GTK53T8Q/p1653974980606659?thread_ts=1653202853.008229&cid=C01GTK53T8Q

[2022-06-13 21:44] JosueEchandiaAsto commented on #9341
GTAmericaExp-Regular is the font that the project is using.
We cannot force the installation of any font on the devices.

[2022-06-13 22:04] arielgreen commented on #8592
@mananjadhav

[2022-06-13 23:07] marcaaron commented on #9283
@mananjadhav can you help us move this along? Thanks.

[2022-06-13 23:15] arielgreen commented on #9339
@sobitneupane @mananjadhav check your Upwork inbox please

[2022-06-13 23:20] kavimuru opened #9437 "[HOLD] [$250] Chat - "1 New message" badge does not display when user is on the older messages and a new message arrives"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Sign into account A on the main device . Sign into account B on another device
3. In account A, s

[2022-06-14 00:09] JoshuaM1995 commented on #9246
Hello, @JmillsExpensify.

I applied through Upwork just now.

[2022-06-14 01:22] kbecciv opened #9438 "Chat - After specific formatted message is sent, new messages appears above it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with credentials
2. Open any chat and copy/paste specific formatted text from the "Additio

[2022-06-14 01:48] kbecciv opened #9439 "IPAD - Emoji - Emoji icon is disappeared when iPAD on landscape mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App and login with HT account
2. Open any chat and sent message
3. Return IPAD to landscape mode

## Expected Result:
Emoji icon should be

[2022-06-14 02:00] Harshdeepjoshi commented on #9417
## Proposal
### Problem
The issue is caused by a state `formError` as it is retaining its old value even after we revisit the password page and not updating every time  as intended here
https://github.com/Expensify/App/blob/0a33d883242c237a903cff5818c67341c7db966b/src/pages/signin/PasswordForm.js#L53-L57
### solution
every time the password login page is rendered , we should set the state `formErr

[2022-06-14 02:13] kadiealexander commented on #8663
@parasharrajat how's your research going?

[2022-06-14 02:14] kadiealexander commented on #8595
@frenkield could you please share an update here for the team?

[2022-06-14 02:27] mvtglobally commented on #9390
@roryabraham Regression is completed

Issues logged
https://github.com/Expensify/App/issues/9391
https://github.com/Expensify/App/issues/9403
https://github.com/Expensify/App/issues/9406
https://github.com/Expensify/App/issues/9407
https://github.com/Expensify/App/issues/9436
https://github.com/Expensify/App/issues/9437
https://github.com/Expensify/App/issues/9438
https://github.com/Expensify/App/

[2022-06-14 02:42] mollfpr commented on #9379
@luacmartins @rushatgabhane  I’ll look another solution without regex!

[2022-06-14 02:43] sobitneupane commented on #9331
Applied.

[2022-06-14 03:03] frenkield commented on #8595
Hi @kadiealexander. Most everything is working. I'll add some comments/questions to the pull request tomorrow. I believe these are the only outstanding technical issues:

1. The confirm button is correctly positioned on native and android-chrome. However, the solution doesn't work adequately on ios-safari.
2. The enter key doesn't behave as desired in certain situations. I think I may need to expl

[2022-06-14 03:15] kadiealexander commented on #8595
Thanks so much @frenkield!

[2022-06-14 04:06] aneequeahmad commented on #8292
### PROPOSAL

_**PROBLEM**_

After debugging i found that the input field is `auto-focused` before the component is mounted(Drawer state is changed and other stuff is done). And that's why there is this `content-off screen` issue.

_**SOLUTION**_

As we only `autoFocus` for `touch-screen` devices. A new state variable `shouldAutoFocus` (boolean) is used and it is set to `true` in `componentDidMoun

[2022-06-14 04:22] mvtglobally commented on #8158
Issue not reproducible during KI retests. (First week)

[2022-06-14 04:25] bfitzexpensify commented on #9407
Upwork job post [here](https://www.upwork.com/jobs/~0100ff4104b5292c8b)

[2022-06-14 04:31] mvtglobally commented on #8840
Issue not reproducible during KI retests. (First week)

[2022-06-14 04:32] mvtglobally commented on #8842
Issue not reproducible during KI retests. (First week)

[2022-06-14 04:33] mvtglobally commented on #8956
Issue not reproducible during KI retests. (Second week)

[2022-06-14 04:40] mvtglobally commented on #9229
During retest, team noticed the following. Is this expected as per new design?  https://utest-dl.s3.amazonaws.com/testRunStepMinAttachmentsResult/21462995/and_9229-1106.jpg?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1686717416&Signature=M7niYpBeC4TMH%2BgPiV4k2gTw6%2Fc%3D

[2022-06-14 04:42] mvtglobally commented on #6941
During re-tests issue seem to be still repro. See video  https://utest-dl.s3.amazonaws.com/testRunStepMinAttachmentsResult/21462506/and_6941-1106.mp4?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1686717736&Signature=8Y5%2FzDtfBTclBVqFo7jwvdbRtzQ%3D

[2022-06-14 04:44] mvtglobally commented on #9338
Issue not reproducible during KI retests. (First week)

[2022-06-14 04:51] thesahindia commented on #9229
It was designed this way and it's expected.
cc: @parasharrajat @Luke9389

[2022-06-14 04:58] dhairyasenjaliya commented on #9407
### Proposal

- here in IOUAmountPage in componentDidUpdate we are comparing current currency and updated currency if both are the same then we are just returning without focus, each and every time we go to request/send money this condition will remain true it will return without focus so we need to remove the conditional check from componentDidUpdate

https://github.com/Expensify/App/blob/0a33d88

[2022-06-14 05:11] MonilBhavsar commented on #8035
Thanks @jliexpensify! There's discussion going on [this](https://github.com/Expensify/App/issues/8455) similar issue regarding payment. Should we hold this for now?

[2022-06-14 05:21] MonilBhavsar commented on #8455
Coming form other [issue](https://github.com/Expensify/App/issues/8035) which will be closed by API refactoring. Following the consequences, I am 👍 to keep it open and bumped to Monthly.

[2022-06-14 06:05] MTN718 commented on #9122
What about add LoginKeyboardAvoidingView only TextInput for password? Currently it is covering logo, button and text(status)..

[2022-06-14 06:06] SumitDiyora commented on #9425
https://user-images.githubusercontent.com/98817464/173504788-83630e4e-5910-4dcb-a134-2810c075b205.mp4

[2022-06-14 06:06] #9425 closed

[2022-06-14 06:10] SumitDiyora opened #9440 "[Medium] Chrome+JAWS: Functionalities associated with Pin button is not announced by Screen Reader"
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Login with the credentials.
3. On the homepage, select any chat.
4. Navigate to the visually looking PIN button and select it located at the top right beside the 'Call' button.
5. Observe if the Screen reader is making any announcement.

## Expected Result:
After clicking on the visually looking Pin button or by sele

[2022-06-14 06:39] adeel0202 commented on #8849
@mallenexpensify I have applied, thanks.

[2022-06-14 08:23] parasharrajat commented on #8663
Updates on the PR. We are moving ahead.

[2022-06-14 09:17] liyamahendra commented on #9234
@marcochavezf I've already applied for the job on Upwork.

I've created [the PR](https://github.com/Expensify/App/pull/9441).

[2022-06-14 11:10] jliexpensify commented on #8035
Ah, good catch @MonilBhavsar - @Santhosh-Sellavel, the consensus in the other issue is:

 I'm happy to hold (I've just invited Santhosh atm), do we have an ETA for the fix?

[2022-06-14 11:59] parasharrajat commented on #8595
We can leave this one optionally.

[2022-06-14 12:15] parasharrajat commented on #8292
I do not understand your proposal @aneequeahmad.

How do you know this?

Which component? How can a input be autofocused if it is not mounted?

I don't think autoFocus has any effect of state changes. It is used at `componentDidMount` only. Changing its value value `componentDidMount` should not trigger autoFocus. Am I missing something?

[2022-06-14 12:15] parasharrajat commented on #9229
Yeah, it is expected as per my knowledge.

[2022-06-14 12:28] parasharrajat commented on #9407
@dhairyasenjaliya Thanks for the proposal but this is not a good solution. ComponentDidUpdate will fire many times and focus is a blocking operation which will hurt performance. More importantly, that `compoenentDidUpdate` logic was added specifically for currency change use-case.

[2022-06-14 12:28] adeel0202 commented on #8934
The fix for this issue has been deployed to production 25 days ago and it is not reproducible now, so I think we are good to close it. cc: @Justicea83
Also, I'm expecting the reporting bonus @laurenreidexpensify

[2022-06-14 12:52] aneequeahmad commented on #8292
Also this issue isn't only `mWeb - Safari` specific. It can also be reproduced on `mWeb - Chrome`.

[2022-06-14 13:00] aneequeahmad commented on #8292
@parasharrajat you also see the following comments in `componentDidUpdate`. Just for more clarity. The main solution is to focus the input when all the stuff is done like `animation, screen is focused etc`

[code]

[2022-06-14 13:07] thienlnam commented on #8361
It might be slightly more complicated and you will need to check if the report participants are still greater than 1 if you exclude these emails https://github.com/Expensify/App/blob/main/src/pages/NewChatPage.js#L63-L63

[2022-06-14 13:11] mdneyazahmad commented on #8292
@parasharrajat I also think the same that those events will not be accepted. But we have a way to know when the drawer is closed but that does not seem to work on our app. I tested it on the example app (react-navigation) it works there.

A state change event is fired always but it does not fire when we open a report. If we open the same report twice then it fires.

https://user-images.githubuserc

[2022-06-14 13:18] kbecciv opened #9444 "[HOLD for payment 2022-08-01] [$250] Android - When user tapped on the eye icon in password field the keyboard changes @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign out > Enter Email > Continue
2. Focus on password field
3. Check the keyboard it has a numbers row at the top.
4. Now tap on the eye, the ke

[2022-06-14 13:20] jliexpensify commented on #9307
Hired @mananjadhav and @JosueEchandiaAsto - thanks!

[2022-06-14 13:30] thienlnam commented on #9438
It seems to be stuck as an optimisticID, and does not refresh correctly with the correct reportActionID once it is sent

[2022-06-14 13:41] tgolen commented on #9058
I was able to reproduce this and implement a fix.

[2022-06-14 13:41] luacmartins commented on #9379
Thank you!

[2022-06-14 13:44] Julesssss commented on #9252
Awaiting proposals

[2022-06-14 13:51] liyamahendra commented on #8791
# Proposal

The Workspace screens are under the `SettingsModalStackNavigator` created using `createModalStackNavigator`. The proposal for the fix is to alter the `cardStyle` by making sure it expands to the full screen height width.

The fix is to alter the `navigationScreenCardStyle` as below:

[code]

[2022-06-14 13:53] thienlnam commented on #9438
I am pretty sure this can be external, would start investigation [here](https://github.com/Expensify/App/blob/0a33d883242c237a903cff5818c67341c7db966b/src/libs/actions/Report.js#L920-L1028)

[2022-06-14 14:05] aneequeahmad commented on #8292
@parasharrajat anything still wrong in my proposal ? Doesn't i identified the root cause ?

[2022-06-14 14:09] roryabraham commented on #9390
There's a new Android crash, but it's only happened once. I think it's probably a React Native bug, maybe only on Samsung devices (which seem to have a few issues with React Native TextInputs). It's pretty similar to [this issue](https://github.com/facebook/react-native/issues/30882). For now, I think we can just try to monitor the crash and see if it keeps happening or if we can get some reproduc

[2022-06-14 14:11] roryabraham commented on #9390
:shipit:

[2022-06-14 14:15] roryabraham commented on #4010
No update, and again unclear if there's going to be much need. I think the E/App calling project will use VoIP and not a local notification library. Going to close this out for now.

[2022-06-14 14:16] OSBotify opened #9449 "Deploy Checklist: New Expensify 2022-06-14"
**Release Version:** `1.1.77-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/9054
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9348
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9373
  - [x] QA

[2022-06-14 14:19] johnmlee101 commented on #9416
This is coming from
https://github.com/Expensify/App/blob/65f20e83d074927e3cb85e56928a9f18d6e556b8/src/libs/actions/Link.js#L42
since we don't have `?` in the URL so it wants to append more just as is.

[2022-06-14 14:21] thienlnam commented on #8126
Pinged the slack conversation, hoping to get some more input

[2022-06-14 14:22] flodnv commented on #9341
Thanks. Pardon my ignorance -- how does this work on other platforms / devices?
@mananjadhav what are you thoughts?

[2022-06-14 14:40] Julesssss commented on #4010
Keeping this as a low priority improvement

[2022-06-14 14:41] Julesssss commented on #4010
Leaving a link here to Rory's progress:

[this PR](https://github.com/Expensify/App/pull/3024), in case it's useful.
[These testing charts](https://github.com/Expensify/App/pull/3024#issuecomment-864299640) may be. The react-native-push-notification library used in that draft was abandoned, so I think we'll want to use
[Notfiee](https://notifee.app/react-native/docs/displaying-a-notification)
 ins

[2022-06-14 14:41] parasharrajat commented on #6941
Thanks for retesting.

[2022-06-14 14:42] mountiny commented on #9419
I am not sure if this is a bug at this moment, I think that if one deletes the comment and then refreshes we do not even send any information about the deleted comments to the front-end hence it makes sense it is not shown.

I think we should close this out as not a bug but a feature and if we decide to change this in future, we would need to make some backend changes too.

[2022-06-14 14:42] #9419 closed

[2022-06-14 14:52] parasharrajat commented on #8311
I will open the discussion on slack shortly...

[2022-06-14 14:53] roryabraham commented on #8937
This is still on hold for now, and I actually think we should close this and pay @Santhosh-Sellavel the reporting bonus.

As exciting as darkmode is, it needs to be its own project, for which the lion's share of the work will be on design's side. This issue just tells us that we should dynamically switch the app theme to match the OS theme. While I'd be _THRILLED_ to help implement darkmode, I don

[2022-06-14 14:53] roryabraham commented on #8937
@jliexpensify let's pay @Santhosh-Sellavel the reporting bonus and then close this out.

[2022-06-14 14:54] thesahindia commented on #9419
@mountiny, the chat doesn't get back to its place just after deleting the comment but it does go back after few seconds of refreshing the page, so I think this is a front end issue

[2022-06-14 14:54] trjExpensify commented on #9252
Upwork job here: https://www.upwork.com/jobs/~01f30fad98ca9b6c69

[2022-06-14 14:55] parasharrajat commented on #9252
This used to work.

[2022-06-14 15:00] Puneet-here commented on #9422
@mvtglobally, wasn't able to repro this issue, I can repro this issue with smaller videos and I was able to repro this on different android devices and different accounts.

[2022-06-14 15:07] thesahindia commented on #8927
@adelekennedy, the job is no longer available, can you please create a new one?

[2022-06-14 15:12] mountiny commented on #9419
@thesahindia I assume that is because the message is cached and after refreshing it takes some time to fetch the new data where the comment does not exist.

I am not sure if it is worth fixing right now. If we decide to do so later we should reopen this issue 🙌

[2022-06-14 15:20] sonialiap commented on #9413
I can replicate in web app 👍

[2022-06-14 15:25] JosueEchandiaAsto commented on #9341
@flodnv In webkit browsers (chrome, safari). the <option> tag can't be styled through CSS. This depends on the operating system.
In Firefox, some styles can be styled via CSS, for example: font-family can be assigned a custom font, but it depends on whether the font exists in the OS.

This is a list of <option> tag:
![Captura de Pantalla 2022-06-14 a la(s) 10 24 10](https://user-images.githubuserc

[2022-06-14 15:26] roryabraham commented on #9293
Nice! Crashlytics is only relevant to iOS/Android for now. Do you know if those apps ship with a source map?

[2022-06-14 15:27] SumitDiyora opened #9452 "[Medium] Chrome+JAWS: Status is not announced by Screen Reader"
## Action Performed:
1. Open Expensify account on Web.
2. Select any chat room in your list.
3. Tap the NEW (green plus) button on the bottom left of the screen.
4. Open the folder with the desired file on your computer.
5. Drag a photo from the folder to the chat room.
6. Notice that opened menu closed and user can drop file to the chat.
7. Observe the status of file sent is not announced by Scre

[2022-06-14 15:28] kidroca commented on #8061
I've tried `electronmon` with no configuration and though it did refresh on `main.js` changes, the changes weren't getting applied and I still had to restart electron manually

I think what was going on is that `electronmon` picked up the changes as `renderer` changes and just refreshed the window whereas it should have relaunched the `electron` process

`renderer` changes are picked up by Webpack

[2022-06-14 15:31] roryabraham commented on #9240
Looks like there no proposals yet – still interested @allroundexperts?

[2022-06-14 15:31] luacmartins commented on #9439
Ah amazing @thesahindia! Thanks for clarifying this! I'll close this issue then.

[2022-06-14 15:31] #9439 closed

[2022-06-14 15:39] allroundexperts commented on #9240
@roryabraham This requires more effort than the price indicated. I think this is worth at least $1000.

[2022-06-14 15:41] Julesssss commented on #9340
I would just close this. We probably have 0 users on this device and it's common for Android manufacturers to override default loading icons.

[2022-06-14 15:42] #9340 closed

[2022-06-14 15:55] MTN718 commented on #6941
@parasharrajat Is there any reason use ScrollView for Passform?

[2022-06-14 16:03] frenkield commented on #8595
Ok thanks, @parasharrajat. So on ios-safari the confirm button will be positioned just below the password field - the same as on web.

[2022-06-14 16:11] parasharrajat commented on #8595
No, I meant say that it is fine if button is not fixed at the bottom of the screen on MWeb safari when keyboard is open. On all other devices Button will be fixed bottom and float over keyboard. But button will always be at the bottom of the screen on all platforms.

[2022-06-14 16:20] frenkield commented on #8595
Ah sorry. So...
1. On ios-safari the confirm button will always be at the bottom of the screen.
2. And when the keyboard is open, the confirm button will be covered by the keyboard. So **the confirm button will not be visible when the keyboard is open on ios-safari**.

Is the the correct behavior, @parasharrajat?

[2022-06-14 16:21] kidroca commented on #9293
Source maps for iOS/Android should already be generated, the problem is even with source maps Firebase does not accept uploading a source map file, though stack traces can be decoded manually: https://github.com/invertase/react-native-firebase/issues/2327#issuecomment-847477220

So instead of trying to make Firebase work with source maps (show mapped sources) we can decode the stack trace and crea

[2022-06-14 16:28] parasharrajat commented on #6941
Yes, kind of.

[2022-06-14 16:31] parasharrajat commented on #8595
Yeah.

Actually this is a challenge we are trying to solve. So it is fine you are not able to find a solution to it.

[2022-06-14 16:32] frenkield commented on #8595
Ok thanks, @parasharrajat.

[2022-06-14 16:39] Beamanator commented on #8833
Making weekly again just to keep the old priority - this was completed in the linked PR (not sure why this didn't close)

[2022-06-14 16:39] #8833 closed

[2022-06-14 16:45] marcaaron commented on #9417
Since we are in the process of overhauling the API and error messaging by extension I think this should be on HOLD until the Authentication doc is finished.

[2022-06-14 16:55] Julesssss commented on #2545
Still held

[2022-06-14 16:56] MitchExpensify commented on #9410
This would be consistent but I'm not sure it adds much value, do you think this change is worth it in the name of consistency @michelle-thompson ?

[2022-06-14 17:03] MitchExpensify commented on #8031
Agree!

[2022-06-14 17:03] #8031 closed

[2022-06-14 17:17] kidroca commented on #9293
Feature request for `react-native-firebase` to use source maps for Crashlytics: https://invertase.canny.io/react-native-firebase/p/crashlytics-to-take-in-javascript-soucemap

[2022-06-14 17:20] MTN718 commented on #8126
still available submit proposal?

[2022-06-14 17:21] mdneyazahmad commented on #8292
@aneequeahmad When an animation is ongoing and you try to focus an element inside. Its' behavior is not consistent, it breaks the animation. This is the root cause and we are trying to find a solution such that we can focus at the exact time when the animation is complete and not looking for a workaround with `setTimeout`. I do not think that your proposal https://github.com/Expensify/App/issues/8

[2022-06-14 17:22] marcaaron commented on #8126
@MTN718 not at the moment. But you can look for issues with the **Help Wanted** label.

[2022-06-14 17:34] parasharrajat commented on #8031
Note: I was hired for this issue [here](https://github.com/Expensify/App/issues/8031#issuecomment-1073543793) and It was decided that this issue will be solve internally and [I will review it as C+](https://github.com/Expensify/App/issues/8031#issuecomment-1130571296). Also, I closed my PR for the same.

[2022-06-14 17:40] MTN718 commented on #8592
# **Proposal**

Current issue from Safari mobile web browser. Because of auto correct text not initializing on Virtual Keyboard when update TextInput.

### Solution

Add blur on Textinput when submit
Add focus on After submit done

![image](https://user-images.githubusercontent.com/12084368/173641057-24f76935-3d8b-48e5-b5b2-a659355bd0e1.png)

https://user-images.githubusercontent.com/12084368/1736

[2022-06-14 18:33] AndrewGable commented on #9293
@kidroca - Here are example issues that I am creating using real Firebase data: https://github.com/Andrew-Test-Org/Public-Test-Repo/issues

Can you confirm that these have the data we need to run the `npx metro-symbolicate` command?

[2022-06-14 18:37] michelle-thompson commented on #9410
Hmm, not sure what would be best here so adding Engineering label here!

[2022-06-14 18:52] OSBotify commented on #9449
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.77-2 :rocket:

[2022-06-14 19:22] michaelhaxhiu commented on #9240
Not sure how/why, but I missed the doubling timeline. Sorry that's on me. Doubling to $500.

[2022-06-14 19:26] #8423 closed

[2022-06-14 19:39] roryabraham opened #9457 "Populate chats from message center"
### Problem
NewDot mobile is prone to "ghost chats". They happen when:

1. Your phone is locked and in your pocket and you have a network connection.
1. You receive a push notification.
1. (At this point, what _ideally_ happens is that the app is woken in the background, the push notification is processed and saved in Onyx. All that code is implemented and in-place, but it's stringently regulated

[2022-06-14 19:40] roryabraham commented on #9457
This is internal because push notifications can't be tested by external contributors

[2022-06-14 19:44] kavimuru opened #9459 "[$4000] iOS - Sign in - Text entered inside the email address field is shaking"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to App
2. Start to enter any email address in the field

## Expected Result:

_Note: As this issue also exists in the react-native codebase, s

[2022-06-14 19:49] allroundexperts commented on #9240
@michaelhaxhiu This is because we have to write an un formatter just like we have a formatter for pasting right now.

[2022-06-14 19:56] michaelhaxhiu commented on #9240
@allroundexperts just a heads up, we'll arrive at the $1k price point in 1 week's time. No problem at all if you prefer to wait until then!

[2022-06-14 19:59] Julesssss commented on #9457
I can't speak for iOS here, but if a user opens the Android app by tapping a notification we can retrieve the app data from the Intent bundle. It seems that accessing the NotificationManagerService at app-open to read all notifications is NOT possible.

This doesn't solve for all cases, because the notification will only contain data for that specific chat. UNLESS we start sending all unread messa

[2022-06-14 20:00] rafecolton commented on #9240
From [this post](https://expensify.slack.com/archives/C01GTK53T8Q/p1655234737256499), I think we should support cmd + opt + shift + v to do the same thing, since it is a pretty common key sequence for paste and match style. Also noting this should be called `Paste and Match Style` and should be added below `Paste` in the `Edit` menu

[2022-06-14 20:02] michaelhaxhiu commented on #9240
@rafecolton feel free to update the GH for accuracy sake

[2022-06-14 20:30] johnmlee101 commented on #9263
Bump!

[2022-06-14 20:50] kavimuru opened #9461 "iOS - Close account - When entering email in the default contact method field it gets highlighted"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App and login with any account
2. Navigate to Settings > Security
3. Enter the email in the input and click/tap on "close account"

## Exp

[2022-06-14 20:56] asfandyarsheikh commented on #9252
Saw this on upwork. Is it good design practice to open a separate bottom sheet for emojis? Why not use a custom keyboard that allows emoji input via separate tab? Something like this https://wix.github.io/react-native-ui-lib/docs/components/keyboard/KeyboardAccessoryView

[2022-06-14 21:12] michaelhaxhiu commented on #8715
All are paid. Closing. Thanks for your assistance!

[2022-06-14 21:12] #8715 closed

[2022-06-14 21:17] NicMendonca commented on #9438
Job post: https://www.upwork.com/jobs/~01f94e0e8015da8eeb

[2022-06-14 22:05] mallenexpensify commented on #2727
@parasharrajat , are you referring to the _new_ plan for how to manage third-party repo issues?

[2022-06-14 22:07] mallenexpensify commented on #8455
Thanks @MonilBhavsar , I took over as CM (since we don't have a defined process yet), reopening and added the monthly label

[2022-06-14 22:49] parasharrajat commented on #2727
No, I meant about this issue https://github.com/Expensify/App/issues/8503#issuecomment-1152785723.

[2022-06-14 23:22] JosueEchandiaAsto commented on #9407
@parasharrajat

### Proposal

### Issue
The textField loses focus when the app goes to background.

### Fix
Using appstate listeners we can know exactly when it goes from background to foreground without affecting the current logic, nor creating loops.
Docs: https://reactnative.dev/docs/appstate
Commit: https://github.com/Expensify/App/commit/6f988d69e02dc3ec972a0d049cc84c0d57d16e02

### Result
ht

[2022-06-14 23:55] phuongpt commented on #8849
@chiragsalian Could you please create a forked version of
https://github.com/eXist-FraGGer/react-native-image-size
for Expensify?

[2022-06-15 02:10] conorpendergrast commented on #9444
Checking for [volunteers to triage](https://expensify.slack.com/archives/C03U7DCU4/p1655259023973889), as I do not have an Android device

[2022-06-15 02:46] mvtglobally commented on #9449
@roryabraham Regression is completed

Issues logged
https://github.com/Expensify/App/issues/9459
https://github.com/Expensify/App/issues/9461

[2022-06-15 05:36] JosueEchandiaAsto commented on #8929
@parasharrajat
### Proposal

### Issue
Extra space displayed when used non-quoted and quoted than non-quoted text. (Android and iOS)

### Fix
Scrollable elements in iOS have a bounce property, setting this to false disables this behavior.
`bounces={false}` to FlatList in PaymentMethodList.

Commit: https://github.com/Expensify/App/compare/main...JosueEchandiaAsto:Fix-Issue-8929

[2022-06-15 05:36] mananjadhav commented on #8592
@parasharrajat I don't have enough context on this and I can see you've been involved in this one. Would you mind taking up C+ on this one?

[2022-06-15 05:37] mananjadhav commented on #8846
@dharmik Do you have any updates for us?

[2022-06-15 05:38] mananjadhav commented on #8847
@bfitzexpensify This deployed to production 6 days ago but its title for the payment hasn't changed.

[2022-06-15 05:42] mananjadhav commented on #8286
@kadiealexander The PR was deployed to production 6 days back but its title isn't updated for the payment date.

[2022-06-15 05:42] dharmik commented on #8846
Will check it today.

[2022-06-15 05:42] mananjadhav commented on #7432
I am just setting up the workspace on the new machine. Old one crashed. I'll have these by tomorrow. Sorry for the delay.

[2022-06-15 05:44] mananjadhav commented on #7835
I haven't got time to check this. but I'll check if there's a way to stream S3 videos directly to `react-native-video`. I read somewhere it does support, need to verify it once.

@stitesExpensify Do we foresee large videos in the platform? Is it absolutely necessary for us to stream partial videos?

[2022-06-15 05:48] mananjadhav commented on #9090
Thanks for the PR @allroundexperts. Change looks fine. I'll test this today/tomorrow and update here.

[2022-06-15 05:51] kadiealexander commented on #8286
Weird!! Updated manually, thanks for catching that @mananjadhav.

[2022-06-15 05:56] parasharrajat commented on #8592
Yeah, sure.

[2022-06-15 05:59] parasharrajat commented on #8929
How is this related?

Also, I don't like the proposed solution l.

[2022-06-15 06:01] mananjadhav commented on #9409
@mvtglobally @muttmuure We're good to close this one as its a duplicate and being tracked there.

[2022-06-15 06:08] techievivek commented on #9354
Started a conversation on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1655272356939959) please feel free to jump in.

[2022-06-15 06:09] mananjadhav commented on #8929
@JosueEchandiaAsto I would agree with @parasharrajat.

And for uniformity with other screens, I would go ahead with @roryabraham's recommendation for the expected behaviour.

[2022-06-15 06:09] mananjadhav commented on #8592
@arielgreen Can you please assign @parasharrajat as C+ on this one?

[2022-06-15 06:11] MTN718 commented on #8592
Any feedback for my proposal?

[2022-06-15 06:13] parasharrajat commented on #8592
@MTN718 this a duplicate proposal.

[2022-06-15 06:15] MTN718 commented on #8592
So it's not solution for this issue?

[2022-06-15 06:17] MonilBhavsar commented on #8592
Assigned Rajat, oh no this is wrong. Please ignore

[2022-06-15 06:26] MTN718 commented on #8592
This is not available to post proposal?

[2022-06-15 06:27] mananjadhav commented on #9391
I agree with @mollfpr's analysis. @MonilBhavsar Do we know the expected behaviour here? Should we be showing Group chats but not the individual chats?

[2022-06-15 06:33] MonilBhavsar commented on #8592
No sorry, my bad. This is open for proposals.
But as @parasharrajat mentioned, your proposal seems similar to the one [we already received](https://github.com/Expensify/App/issues/8592#issuecomment-1140283813) and we don't want to go with that.

[2022-06-15 06:33] mananjadhav commented on #9341
Please give me time to check possible causes for FF. I vaguely we had set up `@font-face` and relative paths to the fonts in FF for other projects. Let still find some information and get back.

Thank you for your comments @JosueEchandiaAsto.

[2022-06-15 06:35] MTN718 commented on #8592
Ok But I have tried lots of ways to resolve this issue. But that's the only way to resolve this issue I have tried. :)

[2022-06-15 06:36] usmanghani127 commented on #9407
## Proposal

### Issue

https://github.com/Expensify/App/blob/d8e4adae05abbd45ca72fe5c80298686456e9e63/src/components/TextInput/BaseTextInput.js#L48-L62

The AppState listener is unnecessary here, because there is no need to dismiss a keyboard which is already disabled:

https://github.com/Expensify/App/blob/d8e4adae05abbd45ca72fe5c80298686456e9e63/src/components/TextInput/BaseTextInput.js#L274

#

[2022-06-15 06:47] thesahindia commented on #9123
@parasharrajat, on ubuntu I tried Noto Color Emoji and it's working. Can you give it a try?

[2022-06-15 06:50] jayeshmangwani commented on #8929
#### Proposal:

we have to remove the Button from the FlatList and need to add addPaymentMethod button wrapped in the FixedFooter component outside of the FlatList,

https://github.com/Expensify/App/blob/d8e4adae05abbd45ca72fe5c80298686456e9e63/src/pages/settings/Payments/PaymentMethodList.js#L238-L242

[code]

we can remove these lines from here, no need to push data for FlatList
    https://gith

[2022-06-15 07:03] MTN718 commented on #6941
I can't reproduce this issue

[2022-06-15 07:09] mananjadhav commented on #9283
@liyamahendra I understand that we might have to use `currentTarget`. Overall your proposal looks good but I have a few questions on your [proposal](https://github.com/Expensify/App/issues/9283#issuecomment-1146662330) before we finalize.

1. What does the body of `getClickedTargetLocation` look like for `web` and `native`. Can you share that please?
2. Are you suggesting we discard `getClickedEle

[2022-06-15 07:24] yashwant-dangi commented on #9252
**Proposal**

For the _EmojiPickerButton_ component, _onModalHide_ callback if we add a timeout of around 50-100 ms in the Interaction Manager then this issue can be resolved.

https://github.com/software-mansion/react-native-screens/issues/89#issuecomment-514935753

https://user-images.githubusercontent.com/43725028/173767631-25bdc0cc-9202-47d6-b41a-81bab7fc1b3d.mp4

[2022-06-15 07:35] liyamahendra commented on #9283
Thank you @mananjadhav for getting back on this!

1. New folder `src/libs/getClickedTargetLocation` with below two files (one for web & another one for native):
#### index.js
[code]

#### index.native.js
[code]

2. Yes because `getClickedElementLocation` ins't used inside `BasePaymentsPage` screen anywhere else.
3. Would you please share insights into how can I test `BaseKYCWall`. Then, I'll make

[2022-06-15 07:50] allroundexperts commented on #9283
@mananjadhav Whats wrong with my proposal?

[2022-06-15 07:55] liyamahendra commented on #9407
# Proposal

Since `componentDidUpdate` is called when the app returns to foreground, moving `this.focusTextInput();` to the top solves the issue:

[code]

@parasharrajat are you aware about the reason why we have the `if` check and what problem is solves?

[2022-06-15 08:14] SumitDiyora opened #9463 "[Med]: Chrome+Jaws: Screen reader: Heading level is not provided"
## Action Performed:
1. Login with the credentials to Expensify App
2. Click on the green (+) icon located at the bottom of the page.
3. Select Send Money, and a new dialog will appear
4. Navigate to "Send Money" text with Screen Reader by using arrow keys
5. Observe the reading announced by Screen Reader.

## Expected Result:
The "Send Money" should be announced as heading with a heading level

#

[2022-06-15 09:19] MonilBhavsar commented on #9239
Still on hold

[2022-06-15 09:26] bfitzexpensify commented on #8847
Thanks for letting me know! Updated the title to remind myself to process payment tomorrow.

[2022-06-15 10:38] SumitDiyora opened #9464 "[Med]: Chrome+Jaws: Screen reader: Visually list looking contents are not marked up as list programatically"
## Action Performed:
1. Login with the credentials to Expensify App
2. Click on the green (+) icon located at the bottom of the page.
3. Select Send Money, and a new dialog will appear
4. Navigate and Click to Rupee(currency) symbol link, and a dialog will appear containing various currencies.
5. Navigate to the Currency list and observe the reading announced by Screen Reader.

## Expected Result:

[2022-06-15 11:57] mdneyazahmad commented on #8292
@parasharrajat I have found the issue. The component is unmounted every time the report is changed so all subscriptions are also canceled.

There is some inconsistency between legacy and modern implementation of drawer. As said our app uses legacy implementation.

Modern Implementation:
- As soon as the open drawer action is dispatched, Its drawer state is immediately set to open and the animation

[2022-06-15 12:53] luacmartins commented on #9379
@JosueEchandiaAsto thanks for the proposal. However, I think your proposal looks quite similar to @mollfpr and it also seems to be missing some details of how we would remove `<br/>`, e.g. which files would be changes, which methods or functions would be used.

[2022-06-15 13:21] JmillsExpensify commented on #8501
@michaelhaxhiu Looks like https://github.com/Expensify/App/issues/8590 is in production now and nearly through the hold for the regression period. What do you think about taking this issue now? Did we end up resolving this, or should we take this issue off hold?

[2022-06-15 13:28] roryabraham commented on #9211
No update here

[2022-06-15 13:29] roryabraham commented on #9211
Actually going to HOLD this on https://github.com/Expensify/App/issues/9020

[2022-06-15 13:42] lbaldy commented on #2727
No matter what we do with the upgrade, I think it makes sense to open a Merge Request to Facebook already to keep the ball rolling.

@parasharrajat do you agree or do you think we should wait for our 7-day period test in E/App before we go to FB?

[2022-06-15 13:51] techievivek commented on #9354
Closing this as this is an expected behaviour of the CheckboxWithLabel component.

[2022-06-15 13:51] #9354 closed

[2022-06-15 13:52] JosueEchandiaAsto commented on #9379
@luacmartins
It's a similar solution, but more optimal, It's just one line in a file, using the replaceAll method.  Here is the commit with the detail:

[2022-06-15 14:03] rushatgabhane commented on #9379
@JosueEchandiaAsto it's very similar to this [proposal ](https://github.com/Expensify/App/issues/9379#issuecomment-1152879262)

As @luacmartins suggested, can you please look for some alternative approach? https://github.com/Expensify/App/issues/9379#issuecomment-1154111492

[2022-06-15 14:10] #9409 closed

[2022-06-15 14:11] kavimuru opened #9465 "Android - Chat - Badge "stg" is missing in the chat list"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the internal tester program New Expensify app
2. Login with any user

## Expected Result:
Must be marked "stg" badge in the sign in page and

[2022-06-15 14:14] aneequeahmad commented on #8292
@mdneyazahmad You're right about the root cause this is what i have said [here](https://github.com/Expensify/App/issues/8292#:~:text=drawer%20is%20closed%20but%20there%20is%20animation%20running%20that%20is%20not%20completed%20yet%20it%20needs%20some%20delay%20before%20focus%20is%20set).

I haven't proposed that `setTimeout` workaround should be used. I said `setTimeout` is already used in the cod

[2022-06-15 14:50] parasharrajat commented on #2727
That's what I was suggesting here.

[2022-06-15 15:13] sobitneupane commented on #9089
I will create it by tomorrow.

[2022-06-15 15:17] Luke9389 commented on #9427
After discussing this in the thread linked above, we've decided to strike number 2 from the list.

[2022-06-15 15:37] danieldoglas commented on #9411
Ok, this can be external

[2022-06-15 15:44] MitchExpensify commented on #9411
[Upwork job](https://www.upwork.com/ab/applicants/1537098751012495360/suggested)

[2022-06-15 15:55] parasharrajat commented on #8031
Yeah, you are correct. Thanks.

[2022-06-15 15:55] trjExpensify commented on #8851
@eVoloshchak, I've paid you for this.

@rushatgabhane & @adeel0202 I need you both to accept the offers to settle up here.

[2022-06-15 15:58] trjExpensify commented on #8851
Okay, @adeel0202 done! I'll close it out once @rushatgabhane accepts the C+ offer.

[2022-06-15 15:59] trjExpensify commented on #8851
All set here, closing!

[2022-06-15 15:59] #8851 closed

[2022-06-15 16:02] lbaldy commented on #2727
I opened a PR for Facebook: https://github.com/facebook/react-native/pull/34014

[2022-06-15 16:03] thesahindia commented on #8031
@MitchExpensify, the reporting compensation is also pending.

[2022-06-15 16:08] srikarparsi commented on #9408
changed to weekly, need to use the new API refactoring doc instead of just changing the front end.

[2022-06-15 16:10] trjExpensify commented on #8362
Settled up with @sobitneupane, @rushatgabhane & @adeel0202.

[2022-06-15 16:10] #8362 closed

[2022-06-15 16:11] laurenreidexpensify commented on #8929
I dunno why melvin thinks this is Daily

[2022-06-15 16:19] MitchExpensify commented on #8841
Doubling in that case @aldo-expensify and creating the job post again as Upwork closed it automatically - [New doubled Upwork post](https://www.upwork.com/jobs/~012b8d15ef12260c79)

[2022-06-15 16:28] MitchExpensify commented on #8031
Thanks for the heads up team! I have made a note to issue payment tomorrow as that will be 7 days since the fix was deployed [here](https://github.com/Expensify/App/pull/9060)

[2022-06-15 16:32] laurenreidexpensify commented on #8840
Payment has been issued. Thanks everyone :)

[2022-06-15 16:32] #8840 closed

[2022-06-15 16:38] tylerkaraszewski commented on #9412
Looks ok

[2022-06-15 16:40] laurenreidexpensify commented on #7915
Everyone has been paid. Hurrah 4 months later and we're finally done :) Well done everyone!

[2022-06-15 16:40] #7915 closed

[2022-06-15 16:43] kbecciv opened #9466 "[$500] IOS - VBA - Selected date is set incorrectly for date of birth field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login in App with any account
2. Create a New Workspace
3. Enable staging Web secure server in Account Preferences
4. Start entering data VBA

##

[2022-06-15 16:45] parasharrajat commented on #2727
@lbaldy Let's add the reproduction repo to the PR showing the real issue. You can also reuse samples from old issues.

[2022-06-15 16:51] kbecciv opened #9467 "Attachment - Unable to delete attachments and app area is greyed out after action"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Select any user
4. Click on Plus button and Add attachment
5. Attach any attachment

[2022-06-15 16:54] parasharrajat commented on #8929
@laurenreidexpensify As soon a new proposal is added, issues are moved to daily.

[2022-06-15 17:03] Santhosh-Sellavel commented on #8035
Applied for job @jliexpensify

[2022-06-15 17:09] Santhosh-Sellavel commented on #8520
Thanks for the invite @JmillsExpensify

[2022-06-15 17:15] JosueEchandiaAsto commented on #9413
### Proposal

### Issue
Both emoji picker and Chat history is scrolling simultaneously.

### Fix
When keyBoardEvent in EmojiPickerMenu capture a 'Arrow' event in needed a `preventDefault();`

https://github.com/JosueEchandiaAsto/App/blob/e98cf8e67fbfaa53e1e523f8503700b57412a158/src/components/EmojiPicker/EmojiPickerMenu/index.js#L136-L143

Commit: https://github.com/Expensify/App/compare/main...Jo

[2022-06-15 17:41] parasharrajat commented on #9389
I am fine to deal with this change in this issue. The main question is do we need this change. If yes, let's move forward.

[2022-06-15 17:47] parasharrajat commented on #8459
Any update @sobitneupane on the PR?

[2022-06-15 17:54] allroundexperts commented on #9287
@rushatgabhane My issue got closed. Can you review my proposal now?

[2022-06-15 17:54] parasharrajat commented on #9123
No change for me. what changes are you doing? I can try to follow the same.

[2022-06-15 18:00] parasharrajat commented on #6301
PR in requested changes state.

[2022-06-15 18:10] roryabraham commented on #9467
@madmax330 I broke this so I can fix it

[2022-06-15 18:21] marcaaron commented on #9407
Hmm I feel that this is not a real bug or one that needs to be prioritized right now... but maybe I am missing why it matters.

@bfitzexpensify @Gonals thoughts on just closing this?

[2022-06-15 18:22] aneequeahmad commented on #8292
@parasharrajat, I don't understand why we need state of drawer(closed) to focus the input. Isn't `componentDidMount` more reliable to use to allow the input to have focus ?

Also, we can use `ref` to focus the input if we don't want to use `state variable` to set focus. We can simply use this piece of code to set focus.

[code]

[2022-06-15 18:23] jliexpensify commented on #8035
@Santhosh-Sellavel - it looks like we'll pay once the issue is fixed, which should hopefully be in the coming weeks!

[2022-06-15 18:27] Santhosh-Sellavel commented on #8035
Not a problem, @jliexpensify!

[2022-06-15 18:36] parasharrajat commented on #8292
I am following the proposal and helping with queries.

I will test your proposal as well. Give me some time to process it. Thanks for your patience.

[2022-06-15 18:40] marcaaron commented on #9264
I looked at the linked solution, but it seems like it would briefly display something like `Not ?` instead of `Not amal@expensify.com?` in the cases where it would previously crash. Maybe better to just show nothing.

[2022-06-15 18:55] gladiator-1 commented on #7835
@mananjadhav You can play `S3` videos on Safari, `react-native-webview` or `react-native-video` without any issue.

https://user-images.githubusercontent.com/102553449/173901776-9a8c23e8-ca22-4afd-bb9d-60c6c2b5c2bb.mov

you can [test it](https://expensify-video.s3.us-east-2.amazonaws.com/test.Mp4?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKL%2F%2F%2F%2F%2F%2F%2F%2F%2

[2022-06-15 18:59] Puneet-here commented on #9412
### Proposal
We need to wrap `RoomHeaderAvatars` inside the tooltip https://github.com/Expensify/App/blob/0d6850a0929550301f63c292774872cb6f4d9008/src/pages/home/report/ReportActionItemCreated.js#L50

And we can get the tooltip text using `ReportUtils.getDisplayNamesWithTooltips(OptionsListUtils.getPersonalDetailsForLogins(participants, props.personalDetails))`
We don't wanna show tooltip for room

[2022-06-15 19:08] allroundexperts commented on #9411
@rushatgabhane Is it allowed to make a proposal before even a job is declared external?

[2022-06-15 19:13] rushatgabhane commented on #9411
As per [CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job) you can. But Expensify has the right to use your proposal without compensation if it isn't marked `External`.

[2022-06-15 19:14] allroundexperts commented on #9411
Gotcha. Thanks!

[2022-06-15 19:31] deetergp commented on #8927
Not overdue. We've accepted a proposal so setting it back to weekly.

[2022-06-15 19:32] NicMendonca commented on #8597
Still on hold

[2022-06-15 19:37] johnmlee101 commented on #4733
Where are we with this?

[2022-06-15 19:37] NicMendonca commented on #8665
@rushatgabhane @Tushu17 paid! ty!

[2022-06-15 19:54] thienlnam commented on #9238
Waiting for proposals

[2022-06-15 20:36] kidroca commented on #9293
Looks like Android sources have more usable stack traces than iOS
Sample ticket: https://github.com/Andrew-Test-Org/Public-Test-Repo/issues/276

![image](https://user-images.githubusercontent.com/12156624/173905088-297279d9-ccea-4458-a5d6-cb9fe2d99e02.png)

See how iOS has no line:column numbers only function names

Ticket top information - `main.jsbundle:196451:30 line 196451 shouldComponentUpdat

[2022-06-15 20:52] danieldoglas commented on #9342
Ok, I've tried again and could not simulate this. So I think we should close.

[2022-06-15 20:53] arosiclair commented on #9461
Not sure what the issue is here. Is there something stopping you from entering a full email? @mvtglobally

[2022-06-15 20:55] Gonals commented on #9270
Setting as external!

[2022-06-15 20:58] mvtglobally commented on #9461
@arosiclair, you can enter the email, but in the past it wasn't highlighted while typing. Not sure if this is a low issue or by design now.

[2022-06-15 21:00] AndrewGable commented on #9293
I might be able to improve iOS, can you try with this data? I pulled it directly from Firebase UI:

[code]

[2022-06-15 21:05] mallenexpensify commented on #9245
Thanks @rushatgabhane , bumped to `Weekly` for now

[2022-06-15 21:06] stitesExpensify opened #9470 "Refactor `deletePolicy` to change report names without calling `fetchAllReports`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2022-06-15 21:06] Gonals commented on #9407
Hmmm. I'd be ok with just closing this. I don't think I would consider it a bug as a user (and certainly not a relevant one)

[2022-06-15 21:08] mallenexpensify commented on #8710
I _think_ @sketchydroide is working on. also... onshore..

[2022-06-15 21:12] stitesExpensify commented on #9470
Sorry @strepanier03 no action to take here. I forgot to remove the label :)

[2022-06-15 21:14] mvtglobally commented on #9253
@mallenexpensify we are checking closed issues as well. But it has been on a off.
I will update shortly

[2022-06-15 21:16] Julesssss commented on #9088
Still still holding

[2022-06-15 21:24] mvtglobally commented on #9422
@flodnv Team members were able to repro and we added the video of the same. Hope this helps.
In the past the issue was with the bigger files only. Now it seems all videos are not loading

[2022-06-15 21:25] gladiator-1 commented on #7835
Yes, I think so because it works on Safari and IOS.

Yes, while we can't play our videos on Safari (as in the following video) we need backend changes because videos not working on Safari = not working on Desktop = not working on IOS.

https://user-images.githubusercontent.com/102553449/173927305-7c5d5823-3138-4a8c-8950-140c4986a06a.mov

note: [my repo](https://github.com/gladiator-1/App) is ready

[2022-06-15 21:33] mananjadhav commented on #9283
Thanks for the clarifying comments @liyamahendra. I am fine with your proposal but I feel we're making too many unwanted changes.  We can retain `getClickedElementLocation` and change the parameter to `target` as your function describes. Secondly, we simplify the `BasePaymentsPage` with just these changes as discussed in the above comments.

[code]
What I am recommending is, instead of removing al

[2022-06-15 21:44] lbaldy commented on #2727
@parasharrajat  thanks for the inputs. Updated the MR, added repro the PR is now following the required format. I guess we now have to wait.

[2022-06-15 21:44] mananjadhav commented on #8929
@jayeshmangwani While your solution does fix the button at the bottom, it breaks the Add Payment button event. The payment options are not visible.

![image](https://user-images.githubusercontent.com/3069065/173935161-88f62b8b-9d21-47d6-85e3-90da35648333.png)

[2022-06-15 21:58] JosueEchandiaAsto commented on #8929
@mananjadhav @parasharrajat Is it true. I didn't see @roryabraham's comment, can I elaborate another proposal with this additional comment?

[2022-06-15 22:55] mananjadhav commented on #7470
Sorry for the delay here @jayeshmangwani. I was OOO earlier and then had to change my machine.

While the change works as expected for most cases, but as @thesahindia pointed out, it doesn't fix the corners of the input and Android Chrome.

Here are the screenshots for your reference:

<img width="1484" alt="after-the-pr-001" src="https://user-images.githubusercontent.com/3069065/173955517-6807b05

[2022-06-16 00:28] bfitzexpensify commented on #9407
Yes, agreed. OK, closing it out.

[2022-06-16 00:28] #9407 closed

[2022-06-16 00:29] stephanieelliott commented on #9389
Cool. Yeah, I do think this feels sub-premium and is something we should change.

Posted to Upwork here: https://www.upwork.com/jobs/~0113a7f5cc68f234cc

@parasharrajat, can you review the proposal [here](https://github.com/Expensify/App/issues/9389#issuecomment-1151933481) when you get a chance?

[2022-06-16 00:35] stephanieelliott commented on #9329
Good point @parasharrajat. Hm, I'm not sure that this is something we need to fix l - I would actually expect anything ending in `.XXX` to become a link. Many apps do this, all in all it's pretty harmless.

@ctkochan22 what do you think? Personally I think we should not punt this but curious what you think?

[2022-06-16 00:56] rushatgabhane commented on #9413
@luacmartins I like @JosueEchandiaAsto's [proposal](https://github.com/Expensify/App/issues/9413#issuecomment-1156732163). Cause is explained and I can't think of anything that can go wrong.

🎀 👀 🎀 C+ reviewed

[2022-06-16 01:30] stephanieelliott commented on #8942
All paid, thank you!

[2022-06-16 01:30] #8942 closed

[2022-06-16 01:32] stephanieelliott commented on #9238
Increased to $500

[2022-06-16 03:04] Santhosh-Sellavel commented on #7968
Issue logged now #9415

[2022-06-16 03:07] Santhosh-Sellavel commented on #8791
Will review this later today.

[2022-06-16 03:24] kadiealexander commented on #8286
Payments:

- [ ] @aswin-s  - Paid $16,000. Thanks for your work!
- [ ] @mananjadhav - Have sent you an offer in Upwork, please let me know when you accept.
- [ ] @Santhosh-Sellavel  - Have sent you an offer in Upwork, please let me know when you accept.

[2022-06-16 03:47] jayeshmangwani commented on #7470
@mananjadhav Thanks for testing proposal,
I am trying to solve this issue for android

[2022-06-16 04:00] JmillsExpensify commented on #9466
Wow that's a pretty weird one. Upwork job here: https://www.upwork.com/jobs/~01becfc15be5bddc4b

[2022-06-16 04:02] kadiealexander commented on #7375
@parasharrajat any further thoughts on this? Otherwise, I'll double the price again :)

[2022-06-16 04:02] mananjadhav commented on #7470
Thank you @jayeshmangwani. And also the corner areas gap for the input.

[2022-06-16 04:04] JmillsExpensify commented on #8842
Regression period has passed and all contributors have been paid via Upwork. Closing out!

[2022-06-16 04:04] #8842 closed

[2022-06-16 05:23] techievivek commented on #9085
Not overdue.

[2022-06-16 05:46] thesahindia commented on #9123
I tried adding `Noto Color Emoji` font

https://user-images.githubusercontent.com/83179295/174000011-f87fc684-228b-4702-b003-f048fcaa443f.mp4

[2022-06-16 06:21] JosueEchandiaAsto commented on #8929
with @roryabraham's recommendation

### Proposal

### Issue
The button should just be outside the scrollview and anchored to the bottom of the page

### Fix
Commit: https://github.com/Expensify/App/commit/ee3bf75c4f693a56bb55c24356d81a2a82e8585f

First, we remove the following lines of code, so as not to have the 'Add payment method' button, additionally the conditional  `if (!this.props.shouldSho

[2022-06-16 06:30] mollfpr commented on #9379
@luacmartins @rushatgabhane

I haven't found anything that can solve this issue without using regex, but I have another proposal that I think it's a better way.

I've checked that when we send a chat, we parse the text with `replace` from `ExpensiMark`. So I think we better add a new rule to replace the line break with an empty string. We already do this for `pre`, so just add another one for `blo

[2022-06-16 06:40] JosueEchandiaAsto commented on #9379
@luacmartins @rushatgabhane

https://github.com/Expensify/App/issues/9379#issuecomment-1155862056

My proposal doesn't contain regex, it's a simple replaceAll.

I was checking if with styles it was possible to ignore the break that blockquote has but I couldn't find anything.

[2022-06-16 06:45] mananjadhav commented on #9283
@marcaaron I am reviewing this [proposal](https://github.com/Expensify/App/issues/8929#issuecomment-1157278273) for the [issue](https://github.com/Expensify/App/issues/8929)  where we're trying to get the "Add Payment Method" outside the flat list. If we were to do that, we might not need this issue to be fixed. The button will be docked at the button and the Popovermenu will always open above lik

[2022-06-16 07:08] mananjadhav commented on #8849
@chiragsalian Bump ^ I don't have permissions to create one.

[2022-06-16 07:18] mananjadhav commented on #9247
Sorry for the delay here, @allroundexperts looks good here. The `AdditionalDetailsStep` looks for this property for error messages and it isn't being passed at the moment.

Let me know what you think @AndrewGable.

Also a quick note, @allroundexperts, as per the [contributing guidelines](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md), you'll find the above statement. I can see of all

[2022-06-16 07:19] mananjadhav commented on #9331
@sobitneupane Do you have any PR for me to look at for this one?

[2022-06-16 07:20] mananjadhav commented on #9339
@sobitneupane Do you have any PR for me to look at for this one?

[2022-06-16 08:03] mananjadhav commented on #9341
Thanks for the insights @JosueEchandiaAsto.

@flodnv I spent some time digging into different approaches to solve this. @JosueEchandiaAsto is right, that the `option` tag doesn't inherit the page/parent font. We can set styles like bold, etc, but not `font-family`.

I tried multiple faces to force font and `@font-face`, etc. but none of them worked. I also checked other apps like Slack. They don't

[2022-06-16 08:33] parasharrajat commented on #9123
Not working for me. I am on Arch Linux. But I think this is fine as it is. As mentioned https://github.com/Expensify/App/issues/9123#issuecomment-1155416531, we will move away from Unicode to images in the future to achieve consistency.

@thesahindia Let me know your complete proposal so far.

[2022-06-16 08:34] parasharrajat commented on #7375
@kadiealexander No new thoughts yet.

[2022-06-16 08:50] rushatgabhane commented on #9287
@allroundexperts your proposal makes sense. You've given a reason why [wrapping `<RenderHTML>` inside `<Text>` is a problem.
](https://github.com/Expensify/App/issues/9287#issuecomment-1146893826)
[code]

Don't forget to take care of spacing (top margin) in the PR.

[2022-06-16 08:55] mananjadhav commented on #9247
Hi @thesahindia , thanks for the comment. Let me check and get back to you.

[2022-06-16 08:56] allroundexperts commented on #9466
@kbecciv @JmillsExpensify I'm not able to reproduce this.

https://user-images.githubusercontent.com/30054992/174033101-a85746c8-4e2c-4725-98ef-93a41ab226b5.mp4

[2022-06-16 09:11] bfitzexpensify commented on #8847
Alright, contracts all paid out. Thanks for the work here!

[2022-06-16 09:11] #8847 closed

[2022-06-16 09:37] MonilBhavsar commented on #9364
I think this is a "feature and not bug". Asked in slack [here](https://expensify.slack.com/archives/C03U7DCU4/p1655371955305509)

[2022-06-16 09:46] mananjadhav commented on #9247
Sorry for the miss from my side. You're right @thesahindia. I also checked if there's any small change or refactor that can be done with `FormHelper` to be able to reuse the props, but doesn't seem like an option. Additionally it doesn't cover `SSN4` and `SSN9` case. Good catch.

@AndrewGable Apologies for the back and forth. It seems @thesahindia's proposal is better and covers all the cases.

@a

[2022-06-16 11:42] ntdiary commented on #9253
# Proposal
Hi, does this issue still require external contributions?
Here is my suggestion if needed.

## Cause
This problem is because ReportScreen.js takes reportID, report, repostActions from the route params,
while the route is changed earlier than the openDrawer executed in web when using the browser's back button (similar to swipe backward).

initial path: /r/95869372
initial username: ntdia

[2022-06-16 12:13] kidroca commented on #9293
Can you also share App version from which the stack traces are coming from?
I was able to produce some mappings using 1.1.70-1 but they don't align with the original source

[2022-06-16 12:19] rushatgabhane commented on #9389
`0.12` would break form guidelines by modifying the user input.

So `.12` sounds good to me!

[2022-06-16 12:41] michaelhaxhiu commented on #8590
Ok so payment is due today. I'm seeing a regression here and so the payout structure would be:

- $500 for @allroundexperts
- $250 for @Santhosh-Sellavel
- $brownie points for @cead22 the bug reporter

[2022-06-16 12:50] mountiny commented on #9412
Thank @Puneet-here for the proposal, i am afraid though I agree with Rajat and this is not really a bug. There is the email already written below so I would say adding a tooltip there is not needed. It will be not visible after couple of messages too.

I will not close it yet and wait a day or so if anyone will feel different. Anyone feel free to leave a comment suggesting why this is bad UX or a

[2022-06-16 13:04] adeel0202 commented on #9412
I reported this bug because I could see tooltip while hovering over the avatars everywhere (i.e. the header, on LHN, and inside the chat) except for this preview avatar. However, if this is on purpose and you guys think this is not an issue then we can close this.

[2022-06-16 13:08] luacmartins commented on #9413
Agreed! @JosueEchandiaAsto your proposal looks good!

[2022-06-16 13:16] sketchydroide commented on #8710
I think we should put this on HOLD for now, the new API refactor will probably affect this, and fixing it would be a duplication of labor.

[2022-06-16 13:20] sketchydroide commented on #9421
@kbecciv thanks, that is on an Android, can you please test the same version on an iPhone as well.
That is what I tested on, they should behave the same, but just want to get as much data on this as possible

[2022-06-16 13:21] sketchydroide commented on #8348
@kavimuru and @kbecciv is this still something that is happening?

[2022-06-16 13:22] luacmartins commented on #9379
I like your [revised proposal](https://github.com/Expensify/App/issues/9379#issuecomment-1157285013) @mollfpr! It's consistent with what we already have. @rushatgabhane any concerns?

[2022-06-16 13:26] michaelhaxhiu commented on #8501
@JmillsExpensify nice timing 😃 .

Ok so - this is actually an obsolete bug report now, as far as I can see! The fix in #8590 changed the behavior of uploading images and now we don't show a blank white screen. [This PR fix](https://github.com/Expensify/App/pull/9346#issue-1263887504) has some videos of uploads to demonstrate.

I think we can close this now!

[2022-06-16 13:30] techievivek commented on #9436
Looks like this could be related to the [discussion](https://expensify.slack.com/archives/C01GTK53T8Q/p1654013143621589) that I started in Slack being said that I don't feel like this is something that is concerning as of now.

[2022-06-16 13:30] #9436 closed

[2022-06-16 13:31] sobitneupane commented on #8459
Updated the PR.

[2022-06-16 13:51] AndrewGable commented on #9293
Attaching a new one since I am not 100% confident that this is the same exact one:

[code]

Device
Model:iPhone XS
Orientation: Portrait
RAM free: 0 B
Disk free: 0 B

Operating System
Version:15.5.0
Orientation: Portrait
Jailbroken:No

Crash
Date:Jun 13, 2022, 5:42:51 PM
App version:1.1.62 (1.1.62.0)

[2022-06-16 13:54] NicMendonca commented on #8220
^^ same update

[2022-06-16 14:00] AndrewGable commented on #9466
@Expensify/applauseleads - Can you verify you can still recreate this issue?

[2022-06-16 14:20] #9412 closed

[2022-06-16 14:22] AndrewGable commented on #9253
In general: If an issue has the [`Help Wanted`](https://github.com/Expensify/App/labels/Help%20Wanted) label, then yes, it still is open for proposals and someone to work on it.

But yes, @mvtglobally can you provide an update for this one? Thanks!

[2022-06-16 14:50] rushatgabhane commented on #9379
That's because we run the parser only when editing or adding a new comment. So that's expected.
For old messages, there is a `<br>` before `<blockquote>`. That is how it's stored in Onyx and backend. We shouldn't modify the old messages or the way they're being read.

[2022-06-16 14:55] rushatgabhane commented on #9379
@luacmartins I agree as well! Looks good

[2022-06-16 15:23] ctkochan22 commented on #9329
Thats true, I just looked it up and there are a few sites that have the domain `.md`.

Whenever we chat about files, I usually wrap it in back-quotes, `something.md` which we offer. I think you two are right, we shouldn't classify this as a bug

[2022-06-16 15:26] #9058 closed

[2022-06-16 15:41] MitchExpensify commented on #7541
Am I right in saying that this is waiting a review [here](https://github.com/Expensify/App/pull/8782) from you @pecanoro ?

[2022-06-16 15:48] Santhosh-Sellavel commented on #7541
@MitchExpensify PR is in Review.

[2022-06-16 15:54] sobitneupane commented on #9339
Created PR.

[2022-06-16 16:09] JmillsExpensify commented on #9466
Putting the issue on [Hold] until we can reproduce.

[2022-06-16 16:23] mvtglobally commented on #9466
@JmillsExpensify @AndrewGable, We had 3 testers able to repro the issue. all 3 are from GMT+2 timezone.
We also validated that it wasn't next day for them so we believe its not  UTC <>EST timezone related.
we are not able to repro in US

[2022-06-16 16:43] kbecciv commented on #9391
@mananjadhav We also seen this issue with individual chat. Please let us know if we need a separate issue.

https://user-images.githubusercontent.com/93399543/174122777-8899dd8f-8ede-4d96-b000-c44a89cc076c.mp4

[2022-06-16 16:51] michaelhaxhiu commented on #8590
Awaiting confirmation from Chirag for this, as I'm alittle unsure about this regression 👆

[2022-06-16 16:53] mananjadhav commented on #9391
@kbecciv I am aware. @mollfpr also mentioned the same thing. We might not need a separate issue. Based on the expected behaviour, we might be able to address it here. Thanks for the ping.

[2022-06-16 16:55] michaelhaxhiu commented on #7618
This is still being figured out gradually. We will provide a game plan to move forward soon.

[2022-06-16 16:57] michaelhaxhiu commented on #8590
Got it, so it seems you are saying this was out of scope of C+ responsibility.

Did we make the necessary changes to our process to ensure we don't miss this testing step again?

[2022-06-16 16:57] parasharrajat commented on #8592
@dhairyasenjaliya This issue is mainly focused on fixing the issue on iOS web.

[2022-06-16 17:05] rushatgabhane commented on #9122
@MTN718 the footer should move up when keyboard is opened. But it shouldn't cause the things above it to move up.

<img width="471" alt="image" src="https://user-images.githubusercontent.com/29673073/174126555-c401029a-0cb1-41f8-bc39-0d54bcb0ab3d.png">

[2022-06-16 17:06] rushatgabhane commented on #9088
still still still holding

[2022-06-16 17:10] MTN718 commented on #9122
Ah yes that's no problem. Original code footer does not in KeyboardAvodingView. So we should be put footer in KeyboardAvodingView then. I will attach Video

[2022-06-16 17:18] rushatgabhane commented on #9254
Waiting on proposals

[2022-06-16 17:19] AndrewGable commented on #9466
That makes sense

[2022-06-16 17:29] parasharrajat commented on #8592
ok, Please report it on Slack then. But it is very likely that both of those will be fixed with single solution.

[2022-06-16 18:00] MTN718 commented on #9122
https://user-images.githubusercontent.com/12084368/174135958-8617fcb4-3cd2-4756-97d2-3a42940c2df9.mov

[2022-06-16 18:18] arielgreen commented on #9413
Great, @JosueEchandiaAsto @rushatgabhane @Tushu17 please check your Upwork notifications

[2022-06-16 18:52] TomatoToaster commented on #9410
I think it's worth fixing this - it's definitely a small visual change but it feels like it would look better. I'm not on the management team so I'll let an engineer from there review the proposals and confirm this is worth it.

[2022-06-16 19:01] mollfpr commented on #9379
@luacmartins @rushatgabhane PR on expensify-common is ON! 🚀

[2022-06-16 19:13] Santhosh-Sellavel commented on #8791
@liyamahendra
We should look for the steps to reproduce the issue locally.

Can share testing steps.

Please close your PR since your proposal is not accepted yet, thanks!

[2022-06-16 19:14] mountiny opened #9474 "[TEST] Testing issue turning back weekly"
Testing https://github.com/Expensify/Web-Expensify/pull/34008, please do not mind

[2022-06-16 19:18] mollfpr commented on #8126
## Recap
_**this issue is still reproducible**_

In our [slack conversation](https://expensify.slack.com/archives/C01GTK53T8Q/p1653068209660299), we agree to use the URL as a source of truth and we decide not to use the drawer tracker to make it simple.

The possible case will be handled:
- When the user opens the App from URL `/`, the LHN will be shown ✅
- When a user opens the App from the URL i

[2022-06-16 19:22] #9474 closed

[2022-06-16 19:37] chiragsalian commented on #8590
I feel like the issue caught by QA was out of the scope of the C+ responsibility since its quite the edge case.

Also technically even QA tested and cleared the PR without realizing any issue with it and later found the regression issue. Most likely from their checklist of complete app testing steps.

I'm not sure what can be done differently other than expecting our C+ to do the same regression t

[2022-06-16 19:54] roryabraham commented on #8937
Go away melvin, not overdue

[2022-06-16 20:00] adelekennedy commented on #7436
Onshore really messed these up for me:
[Internal](https://www.upwork.com/ab/applicants/1537524861651316736/job-details)
[External](https://www.upwork.com/jobs/~0191e9985342e0313c)

@adeel0202 hired you for the reporting bonus

[2022-06-16 20:01] luacmartins commented on #8722
Same as above!

[2022-06-16 20:01] adelekennedy commented on #6941
Still reviewing proposals

[2022-06-16 20:03] adelekennedy commented on #9244
@Harshdeepjoshi have you applied? I'd like to hire you!

[2022-06-16 20:03] kevinksullivan commented on #9234
@liyamahendra please apply to the job when you get a chance!

https://www.upwork.com/jobs/~01e74f3da7a543363a

[2022-06-16 20:06] kevinksullivan commented on #9403
Hm can I see a video of this happening in other chat apps? I am not able to reproduce in slack and am unfamiliar with this.

[2022-06-16 20:16] adelekennedy commented on #9437
[internal](https://www.upwork.com/ab/applicants/1537529407758827520/job-details)
[external](https://www.upwork.com/jobs/~01a69040ca38e9de85)

[2022-06-16 20:17] NicMendonca commented on #8158
@rushatgabhane @aneequeahmad paid - thanks!!

[2022-06-16 20:17] #8158 closed

[2022-06-16 20:28] MitchExpensify commented on #8031
Payments made and contract ended - Thanks @parasharrajat & @thesahindia!

[2022-06-16 20:41] #9449 closed

[2022-06-16 20:45] OSBotify opened #9480 "Deploy Checklist: New Expensify 2022-06-16"
**Release Version:** `1.1.78-8`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/9031
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9266
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9347
  - [x] QA

[2022-06-16 21:06] rushatgabhane commented on #9437
@marcaaron @marcochavezf I don't remember exactly but we were closing any notification related issues right?

[2022-06-16 21:11] liyamahendra commented on #8791
We should look for the steps to reproduce the issue locally.

The issue can’t be reproduced on local dev website because the iOS Smart Banner doesn’t show up for locslhost. I believe you’re aware about this?

What I meant to say with local testing is - running the staging website locally and applying the fix using developer tools.

The PR was only created so that we could do a quick testing on sta

[2022-06-16 21:14] rushatgabhane commented on #9122
@MTN718 I'm sorry that I wasn't clear about the expected behavior.

In this video there are two pages - email and password page. In both pages you can see that the footer moves up without moving the text inputs.

In email page, on opening the keyboard the text inputs don't move up. But in password page, on opening the keyboard the whole page shifts up a bit. This is the issue.

https://user-images

[2022-06-16 21:15] Christinadobrzyn commented on #9410
Created job in Upwork

Internal - https://www.upwork.com/ab/applicants/1537544134022590464/job-details
External - https://www.upwork.com/jobs/~01d76621dc2b371865

[2022-06-16 21:15] liyamahendra commented on #9234
@kevinksullivan I have already applied for this Upwork job. My name there Mahendra Liya and username is devappsc

[2022-06-16 21:20] marcaaron commented on #9437
Yep, thanks @rushatgabhane (not closing but they are on hold for now)

[2022-06-16 21:25] marcaaron commented on #8126
I don't know what `r/reports` is - not sure if we have a route like this. I think you just mean we are on a report and then refresh. Other than that, LGTM.

[2022-06-16 21:31] kidroca commented on #9293
Actually the mismapping resulted from the stack trace format

I'm not sure this stack trace format is valid:
[code]

What works is
[code]
e.g.
[code]

The way `metro-symbolicate` works is it looks for these `:line:col` pairs and replaces content original source
When it sees `199284:30:199284` it treats `30` as line and `199284` as column

---

Another thing that breaks mapping are lines like this

[2022-06-16 21:47] kidroca commented on #9293
I can submit a PR for the following functionality

`package.json` commands or `scripts` for:
- `sourcemap:ios` - create `.map` file for iOS (`main.jsbundle`)
- `sourcemap:android` - create `.map` file for Android (`index.android.bundle`)
    - alternatively, if we only need it after build (for artifacts) it can be copied from `android/`
-  `symbolicate` -  use it on a `.map` file and a piece of st

[2022-06-16 21:51] kavimuru commented on #8348
@sketchydroide We are not able to reproduce it again. But when it happens even uninstall and reinstall doesn't help.

[2022-06-16 22:37] conorpendergrast commented on #9444
@cristipaval was [able to reproduce it](https://expensify.slack.com/archives/C03U7DCU4/p1655372678656419?thread_ts=1655259023.973889&cid=C03U7DCU4)! Thanks so much!

[2022-06-16 23:21] michaelhaxhiu commented on #8590
Got it! Thanks for the context.

In that case, it seems like the feedback is for QA so they don't miss it next time. Sometimes our regressions are QAs fault, I think that's going to happen from time to time!

[2022-06-16 23:46] michaelhaxhiu commented on #8590
@allroundexperts is paid.

@Santhosh-Sellavel can you apply for [this upwork job](https://www.upwork.com/jobs/~01c71a8bbbf780421a)? the OG link expired

[2022-06-17 00:01] mollfpr commented on #8126
@marcaaron Yeah, it’s ‘/r/reportID’ 😅

[2022-06-17 00:28] aksoo5 commented on #9437
@marcaaron Why was the PR closed?

[2022-06-17 00:40] brianmuks commented on #8361
Thanks @thienlnam . I am on it !

[2022-06-17 02:38] kadiealexander commented on #9355
Price doubled! Get 'em in!

[2022-06-17 02:58] kadiealexander commented on #8286
Yay! Everyone is paid, thanks all!

[2022-06-17 02:58] #8286 closed

[2022-06-17 03:55] kadiealexander commented on #7962
@grvsood any updates here? :)

[2022-06-17 04:19] kadiealexander commented on #7375
Thanks Rajat! Doubled the price team, get your proposals in!

[2022-06-17 04:28] mollfpr commented on #8134
@stephanieelliott bump 😃

[2022-06-17 05:04] allroundexperts commented on #7375
# Proposal

Instead of trying to show popover menu as side mounted on native platform, we can keep it as it is and fix the the problem with menu item width.

## Solution

The following changes:
`https://github.dev/Expensify/App/blob/5f7ecce02299e9eca05112d8de1270063cb45dd0/src/components/AttachmentPicker/index.native.js#L311`
to:
[code]
`https://github.dev/Expensify/App/blob/d6a607324f84e654da2da6

[2022-06-17 05:06] parasharrajat commented on #7375
@allroundexperts We want to change the menu position as discussed above.

[2022-06-17 05:08] allroundexperts commented on #7375
So fixing bottom mount is not an option @parasharrajat ?

[2022-06-17 05:09] parasharrajat commented on #7375
I spent some time yesterday to look into the [issue](https://github.com/Expensify/App/issues/7375#issuecomment-1152363736) more. As said, problem is https://github.com/Expensify/App/issues/7375#issuecomment-1152367769.

So I have found a solution to it and I can complete the Old PR. I have it ready let me know if you want to push it.
cc: @kadiealexander @Julesssss.

[2022-06-17 05:12] allroundexperts commented on #7375
<img width="845" alt="Screenshot 2022-06-17 at 10 09 40 AM" src="https://user-images.githubusercontent.com/30054992/174229522-3582627d-0c5d-4a51-aca2-2ca7699ba9a0.png">
🙅

[2022-06-17 05:13] parasharrajat commented on #7375
The full button UI does not look good. Old. So a better solution would be to move it to the side in place.

[2022-06-17 05:20] MonilBhavsar commented on #9364
Closing this as we decided this is expected behaviour

[2022-06-17 05:20] #9364 closed

[2022-06-17 06:45] mananjadhav commented on #7835
Okay!! So you're saying, the S3 videos that you've tried are working fine on `iOS`, `Safari` and `Mac`, with partial download. The videos hosted by Expensify are the only ones not working. Is my understanding correct?

Let me review this on the weekend.

For the above change, you can fork and create a PR against `expensify-common`. After it is merged, we take the hash and update it `expensify/App

[2022-06-17 06:48] mananjadhav commented on #8846
Hi @dharmik, checking if you have an ETA for us on this one?

[2022-06-17 06:56] mananjadhav commented on #9391
@MonilBhavsar Bump ^

[2022-06-17 06:57] MonilBhavsar commented on #9391
I can't seem to reproduce the issue. Can anyone please tell If I'm holding something wrong?

https://user-images.githubusercontent.com/32012005/174242789-09e32507-f531-411e-95f0-9ef928161bc6.mov

[2022-06-17 07:24] GoEagles999 commented on #9437
Issue is related to `FloatingMessageCounter`. Scroll distance condition in `toggleFloatingMessageCounter` in `ReportActionsView.js` needs to be updated to allow for notifications to be shown when scroll offset is gt 200px.

[2022-06-17 07:24] Puneet-here commented on #7375
@parasharrajat, I think the blocking issue is getting solved as a different issue https://github.com/Expensify/App/issues/9283

[2022-06-17 07:39] mollfpr commented on #9391
As you can see after you create the chat group, we redirected to the reportID that just created. After we select another chat, the recent chat group we created is not on the list.

For case when refresh the page the chat group that missing is showing now, that’s because the page redirect to the chat that we just created.

[2022-06-17 07:45] mollfpr commented on #9391
The video on the description issue is shown on mWeb.

We use the back button to open the LHN and it takes the URL to the previous report ID which is the chat group that was just created.

[2022-06-17 07:56] parasharrajat commented on #7375
That one is handling web. This one will fix native.

[2022-06-17 08:19] parasharrajat commented on #9283
Good call @mananjadhav. Let's move the discussion to one issue. There is also this https://github.com/Expensify/App/issues/7375 issue where we are trying to fix the popover for Native devices, especially for Tablets.

But I think https://github.com/Expensify/App/issues/7375 is good as a separate issue it needs a few unrelated changes.

[2022-06-17 08:52] MonilBhavsar commented on #9391
I would say that is an expected behaviour. But chat appearing in LHN after refresh is definitely a bug.

Can you please tell which case. Is it only reproducible on mobile web?

[2022-06-17 08:55] MonilBhavsar commented on #9391
@kbecciv, issue details states that issue is reproducible on Web, iOS, Android, Desktop App, Mobile Web. Looks like issue is occurring on mobile web only. Could you please recheck. Thanks!

[2022-06-17 08:58] mollfpr commented on #9391
I believe it’s only mWeb (maybe on desktop too when it’s resized the screen to mobile layout), I’m not checking on native yet.

[2022-06-17 09:02] MonilBhavsar commented on #9391
Yes, thanks for looking and clarifying! Let's wait for response from QA team and we can move forward then.

[2022-06-17 10:27] mollfpr commented on #8126
@marcaaron @thienlnam @parasharrajat

On the desktop minimize to mobile layout, when we refresh the app what should be expected? Is showing the LHN or Report Screen?

This is when `defaultStatus` drawer is set to `close`.
https://user-images.githubusercontent.com/25520267/174280490-6eeb574e-6f8a-47ff-a331-ba536984662a.mov

[2022-06-17 11:02] gladiator-1 commented on #7835
Exactly, this is what I mean.

I did it [here](https://github.com/Expensify/expensify-common/pull/454), waiting for the merge.

[2022-06-17 11:12] mananjadhav commented on #7835
Ahh! Thank you. I am assuming directly posting the S3 URL, no Nodejs/PHP server in between.

[2022-06-17 11:39] michaelhaxhiu commented on #9122
Doubling price of job.

[2022-06-17 12:21] jliexpensify commented on #8937
Ah sorry, I must have missed this one. WIll spin up an Upworks job and pay now!

[2022-06-17 12:24] jliexpensify commented on #8937
Internal - https://www.upwork.com/ab/applicants/1537772930159931392/job-details
External - https://www.upwork.com/jobs/~01aea769533677b9b3

hired @Santhosh-Sellavel

[2022-06-17 12:28] rushatgabhane commented on #9122
@sobitneupane I'm sorry, I don't understand.
This is how it should look like https://github.com/Expensify/App/issues/9122#issuecomment-1133631246

[2022-06-17 12:55] MTN718 commented on #9122
## Proposal

Moving screen up because of this part of code (forget? button section)

![image](https://user-images.githubusercontent.com/12084368/174301361-76497cb8-0bd7-48f7-8fec-8170ff9ea714.png)

It makes keyboard avoiding section increase than username input section. So should be KeyboardAvodingSection should be cover only TextInput in Passwod Form like this

![image](https://user-images.github

[2022-06-17 12:57] OSBotify commented on #9480
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.78-0 :rocket:

[2022-06-17 12:58] tgolen commented on #8791
Since there were no answers to my questions here: https://github.com/Expensify/App/issues/8791#issuecomment-1125243282

As long as people agree with my logic, can we please just remove this banner?

[2022-06-17 13:03] gladiator-1 commented on #7835
If we are using the S3 pre-signed URL, this means our PHP server is only redirecting the request to this URL, what happens is :

1. The client sends a request to our PHP server "I need this file `test.mp4`".
2. Our PHP server send a request to the S3 "Could you create a pre-signed URL valid for a few minutes for this file `test.mp4`"
3. The S3 send the response ''Here is the URL `.......`'
4. Our

[2022-06-17 14:09] allroundexperts commented on #9355
# Proposal

## Issue
On web, ` Report.fetchChatReportsByIDs` gets called in the `ReportActionsView` file. On mobile, it's not getting called. As such, the thumbnails aren't getting updated.

## Solution
Replace the following:
https://github.com/Expensify/App/blob/ad72b525c35b8630481e66875400bd272f34fd95/src/pages/home/report/ReportActionsView.js#L133-L135
To:
[code]
This makes sure that we're alwa

[2022-06-17 14:50] rushatgabhane commented on #9122
@MTN718 Thanks for your proposal! But it does not match the expected behavior shown here https://github.com/Expensify/App/issues/9122#issuecomment-1133631246
If i'm missing something, please let me know

[2022-06-17 14:55] rahmanharoon commented on #8937
Is this issue is related with that yellow background on textinput?

[2022-06-17 14:56] MTN718 commented on #9122
@rushatgabhane
Footer is Moving in Android. But not IOS from original code without my change.
And I'm having a problem to record in Android But my code also moving Android footer too.

[2022-06-17 14:59] rushatgabhane commented on #9122
@MTN718 no that's okay, you don't need to add video for it

[2022-06-17 15:00] MTN718 commented on #9122
@rushatgabhane Ok Thanks. My solution will be work ?

[2022-06-17 15:11] parasharrajat commented on #9355
Hmm, What about the call that we make when the user selects a report on SearchPage `Report.fetchOrCreateChatReport`?

[2022-06-17 15:14] parasharrajat commented on #8126
It should behave as MWeb.

[2022-06-17 15:27] allroundexperts commented on #9355
That doesn’t return participant details.

On Fri, 17 Jun 2022 at 8:11 PM, Rajat Parashar ***@***.***>
wrote:

[2022-06-17 16:02] Julesssss commented on #8891
Closing as dupe

[2022-06-17 16:02] #8891 closed

[2022-06-17 16:29] Santhosh-Sellavel commented on #8937
No @rahmanharoon, it's about supporting night mode. This is not open for external work yet, please look at other [open jobs](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22).

[2022-06-17 16:40] marcaaron commented on #9437
Please propose solutions to issues that have the `Help Wanted` label, thanks.

[2022-06-17 16:43] Santhosh-Sellavel commented on #9410
Open for new proposals.

[2022-06-17 16:48] kavimuru opened #9485 "[HOLD for payment 2022-08-11] [$500] Chat - Safari - Drag & Drop - Little "+ copy" icon doesn't appear consistently on Safari"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into a valid account
3. Open any chat
4. Drag & Drop an image within the chat

## Expected Result:
The u

[2022-06-17 16:51] Tushu17 commented on #9411
I have made the PR

[2022-06-17 17:06] parasharrajat commented on #9355
I think that should be it. It should return the participant details as well. @mountiny What do you say? _Report.fetchOrCreateChatReport API is called when user creates a new Chat either from NewChat page or the Search Page. Should this return the participant details as well?_

I don't have much idea of the backend here.

[2022-06-17 17:13] parasharrajat commented on #9402
@JosueEchandiaAsto Thanks for the proposal. But as you are a new contributor and have already been assigned two 2 tasks, you will have to wait before applying to new tasks.

Contribution policy: https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#payment-for-contributions

[2022-06-17 17:16] thesahindia commented on #9123
### Updated Proposal

1. To fix the safari issue we can add `styles.textNoWrap` here

https://github.com/Expensify/App/blob/db27a3dc4a61c552b8e827819261310592ad7914/src/components/EmojiPicker/EmojiSkinToneList.js#L70

2. To fix the emoji color issue on windows and ubuntu we can replace the line 1421 with
[code]

https://github.com/Expensify/App/blob/1997b1cb6e55809fac2c578d6aaf5b1f9bc3e8a4/src/sty

[2022-06-17 17:20] Santhosh-Sellavel commented on #8791
I'm not sure but smart banners are like part of the deep linking feature.

[2022-06-17 17:20] JosueEchandiaAsto commented on #9402
@parasharrajat Both tasks have already been completed and have been merged. Do I need to complete any additional steps in those tasks?  ☹️

[2022-06-17 17:22] parasharrajat commented on #9123
@thesahindias's latest proposal looks good to me.

cc: @Beamanator

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-06-17 17:24] kbecciv commented on #9283
@parasharrajat @mananjadhav There is another issue which effecting the Add Payment Method and Delete button. Do you want us to create separate issue ?

https://user-images.githubusercontent.com/93399543/174348206-c9360efe-fdc7-46ae-a912-163d9b726b42.mp4

[2022-06-17 17:45] parasharrajat commented on #9402
Oh, I see. I will review your proposal shortly.

[2022-06-17 17:45] frenkield commented on #8595
Hi All. Everything is done but there are a couple small rendering issues on Android. Hopefully I'll have these resolved by Monday.

[2022-06-17 17:53] Santhosh-Sellavel commented on #8590
@michaelhaxhiu  Applied for the job!

[2022-06-17 17:53] tgolen commented on #8791
Can you explain that more, please?

- Why do we need a banner for deep links?
- Where are we using the deep links?
- Will they continue to work without deep links?

[2022-06-17 18:02] kbecciv opened #9487 "[PAY RUSHAT 14TH JUL] Search - App crashed after click on Search option for specific account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App and login with andreylazutkinutest@gmail.com/w323052760We
2. Click Search

## Expected Result:
The search result is visible after clic

[2022-06-17 18:03] OSBotify commented on #9487
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-06-17 18:05] kbecciv commented on #9487
This issue is reproduced only with 1 tester, credentials: andreylazutkinutest@gmail.com/w323052760We

[2022-06-17 18:23] Santhosh-Sellavel commented on #8791
Banner is used to help us show there is a native app installed available for use.

Check the below image this is our config for deeplink/applink. Taking out an example, consider user installs our app for the first time from the app store. Signs up using phone/email, now password setup link is sent. When the user taps the link from message/mail user is redirected back to our app as we listen to `se

[2022-06-17 18:35] JosueEchandiaAsto commented on #9238
@thienlnam

### Proposal

### Issue

It's showing the user their own timezone at #admin and #announce rooms

### Fix

This validation prevents the timezone from being displayed when the number of participants is greater than one.

https://github.com/JosueEchandiaAsto/App/blob/325b01990969362e16c21f5b35ad675ee333071a/src/libs/ReportUtils.js#L301-L308

The only thing missing is to avoid showing time

[2022-06-17 18:36] rushatgabhane commented on #9487
@pecanoro `ReportUtils.getChatRoomSubtitle()` is returning a `Number`.

https://github.com/Expensify/App/blob/5b0cd481c87e89772f7d21fdbad6bf815b495b15/src/libs/ReportUtils.js#L234

Which we're spreading over here.

https://github.com/Expensify/App/blob/5b0cd481c87e89772f7d21fdbad6bf815b495b15/src/libs/OptionsListUtils.js#L186-L187

We should either convert it to a string or make sure that it isn't

[2022-06-17 18:49] AndrewGable commented on #9293
We have total control of the stacktraces, so feel free to slice and dice it into what will work for iOS, then I can adjust our internal code to use the tweaked stacktrace.

Any code that needs to run locally when we receive the trace, you can just add to this PR and I will add it to our internal code.

[2022-06-17 18:54] NikkiWines commented on #8440
We haven't seen much action on this and with our impending API refactors we'll be modifying this logic - I think maybe we can close this out for now and re-assess after N7? cc: @robertjchen @MonilBhavsar since this is tied to the Authenticate API refactor.

[2022-06-17 19:01] flodnv commented on #9341
Thanks @mananjadhav. I posted in Slack about this https://expensify.slack.com/archives/C01GTK53T8Q/p1655492405932969 (which we should do when we have to make such big decisions)

[2022-06-17 19:01] michaelhaxhiu commented on #8590
All are paid.

[2022-06-17 19:01] #8590 closed

[2022-06-17 19:03] flodnv commented on #9422
Ok thanks. I guess I'll need to investigate to see if it's internal or external.

[2022-06-17 19:18] tgolen commented on #8791
OK, since it's not a requirement, and this is not something that we have a well-defined problem for, and I can argue against it (like I did in my original post), then it doesn't make any sense to keep it.

Ah, sorry, I mispoke here. What I meant was... "Will the deep links still work without the banner?"

[2022-06-17 19:21] #8382 closed

[2022-06-17 19:21] #8383 closed

[2022-06-17 19:21] #8384 closed

[2022-06-17 19:21] #8385 closed

[2022-06-17 19:21] #8387 closed

[2022-06-17 19:21] #8388 closed

[2022-06-17 19:21] #8389 closed

[2022-06-17 19:22] #8390 closed

[2022-06-17 19:22] #8392 closed

[2022-06-17 19:22] #8393 closed

[2022-06-17 19:22] #8395 closed

[2022-06-17 19:22] #8398 closed

[2022-06-17 19:22] #8400 closed

[2022-06-17 19:22] #8401 closed

[2022-06-17 19:22] #8402 closed

[2022-06-17 19:22] #8403 closed

[2022-06-17 19:22] #8406 closed

[2022-06-17 19:22] #8407 closed

[2022-06-17 19:22] #8408 closed

[2022-06-17 19:22] #8411 closed

[2022-06-17 19:22] #8413 closed

[2022-06-17 19:22] #8417 closed

[2022-06-17 19:22] #8418 closed

[2022-06-17 19:22] #8419 closed

[2022-06-17 19:22] #8428 closed

[2022-06-17 19:22] #8429 closed

[2022-06-17 19:23] #8430 closed

[2022-06-17 19:23] #8432 closed

[2022-06-17 19:23] #8433 closed

[2022-06-17 19:23] #8434 closed

[2022-06-17 19:23] #8435 closed

[2022-06-17 19:31] allroundexperts commented on #9355
@parasharrajat  If we go forward with changing the API, we'll still need to change the `fetchOrCreateChatReport` function so that it merges the participant details to the onyx key named `personalData`.

[2022-06-17 19:35] deetergp commented on #8927
I missed adding the weekly label

[2022-06-17 19:36] deetergp commented on #8927
Also, bumping @adelekennedy to re-add the job in Upwork so @thesahindia can start work on it.

[2022-06-17 19:46] michaelhaxhiu commented on #9061
Should this job double in value, or is @neil-marcellini taking it on? Curious where this stands.

[2022-06-17 20:39] arosiclair commented on #9461
I believe this is just behavior from the iOS keyboard not our app. I was able to reproduce this and can confirm this isn't impacting user's ability to type an email and close their account so I'll close this as not an issue.

[2022-06-17 20:39] #9461 closed

[2022-06-17 20:43] anjumdar7864 commented on #9270
Hi, as i understand the issue. when we do listing every row has unique key. so as i understand if key is coming from api then we have to get distinct keys. other than that if key is being set from loop variable then its loop variable issue. i am interested to fix this bug. i am FULL STACK developer and i have more than 5 years experience.

[2022-06-17 21:16] allroundexperts commented on #9438
# Proposal

## Issue
There are two reasons which are causing this issue:
1. `Network.post` request in `Report_AddComment` function returns promise that never resolves. The network tab shows the request to be successful with 200 code but the promise never resolves. This happens for requests that go into the sequential queue. This causes the following code to never run as the promise never resolves:

[2022-06-17 21:19] allroundexperts commented on #9352
@tgolen Shouldn't this be doubled?

[2022-06-17 21:32] mountiny commented on #9355
Hmm, i havent been able to look jnto this tight now, but that would mean this problem has been around for a while. Are we sure this is a bug which was here for a long time? There are couple of the avatar related problems recently so i am curious if they do not have connection.

[2022-06-17 21:38] allroundexperts commented on #9355
@mountiny I don't think that this is a bug in API. Adding `participantDetails` to the `fetchOrCreateChatReport` function response is more of a feature request than a bug. It was never there as far as I can see. @parasharrajat Correct me please if I'm wrong.

[2022-06-17 21:41] allroundexperts commented on #9352
@tgolen Also, how do I get past the onfido identify verification? It's always failing for me.
<img width="810" alt="Screenshot 2022-06-18 at 2 40 24 AM" src="https://user-images.githubusercontent.com/30054992/174404552-47afa14f-478f-4851-bb33-a318ce3a6444.png">

[2022-06-17 21:46] allroundexperts commented on #9254
@rushatgabhane Several of my issues are closed now. Please review my proposal!

[2022-06-17 21:48] rushatgabhane commented on #9254
@allroundexperts how will differentiate between web and mWeb?

[2022-06-17 21:54] allroundexperts commented on #9254
@rushatgabhane By using user agent, we can easily distinguish web from mWeb.

[2022-06-17 22:08] rushatgabhane commented on #9254
@allroundexperts with my very limited experience, i don't think that's very reliable. But I'm happy to be proven wrong.

Also, won't this disable external keyboards?

[2022-06-17 22:09] allroundexperts commented on #9254
@rushatgabhane It will. Isn't that what we need here?

[2022-06-17 22:12] rushatgabhane commented on #9254
oh you must have misread, we wanna disable the virtual keyboard and not external keyboard.
By external keyboard I mean those Hardware keyboards connected via bluetooth to tablets/mobiles

[2022-06-17 22:14] allroundexperts commented on #9254
If we need to allow external keyboard on mobile web, then I guess there's nothing we can do except to wait for Safari to improve its implementation of `inputMode`. As far as mobile web detection reliability is concerned, it's pretty reliable unless someone want's to explicitly meddle around with the user agent.

[2022-06-17 22:34] chiragsalian commented on #8849
I also don't have permissions to create one but i've created an issue so that the correct person can fork it.

[2022-06-17 22:47] mountiny commented on #9355
Alright, we are currently working on a big refactoring of the API and I have noted this problem in the relevant document and the person working on it cc @stitesExpensify. This is a low-priority issue and I think we should put it on HOLD until the refactorings are done and ideally include this fix in the refactorings.

The compensations for reporting and for a correct proposal we will use to fix th

[2022-06-18 03:28] JosueEchandiaAsto commented on #9270
### Proposal

### Issue

Invite button add user to workspace twice, navigates to the workspace page. When press the invite button twice.

### Fix

Each time you press the button, the invitation service is consulted.
So what we should do is disable the button after pressing the button.

For this we will add `isLoadingInviteToWorkspace` property, it will be a boolean that will return true if it is c

[2022-06-18 04:58] JosueEchandiaAsto commented on #8361
@thienlnam I created a method in this [proposal](https://github.com/Expensify/App/issues/9238#issuecomment-1159137959) that returns true if the session email is the only participant. With that I can fix the missing logic in this problem. Can I elaborate some proposal for this problem?

[2022-06-18 05:55] Santhosh-Sellavel commented on #8361
@JosueEchandiaAsto We already hired someone to do this job.

[2022-06-18 05:55] Santhosh-Sellavel commented on #8361
@brianmuks Any update on this?

[2022-06-18 07:08] YoucefBen47 commented on #9270
The fix for this issue should be simple. We create a piece of state and set it to false. We use this state to determin whether the button is disabled or not. Once the button is clicked we change the state from false to true and make the button disabled (unclickable).

[2022-06-18 10:00] Harshdeepjoshi commented on #9410
@Santhosh-Sellavel Please share your reviews on this [proposal](https://github.com/Expensify/App/issues/9410#issuecomment-1153862823).

[2022-06-18 12:03] b1tjoy commented on #9183
### PROPOSAL
### Problem
The second time render of `ReportActionItem` and the initialization steps of `Image` component cause avatar icon flickers.

**Why we have a second time render of `ReportActionItem`?**

When we click the message send button, we store the action to Onyx with `sequenceNumber` set to a generated number first, and then send to server.
https://github.com/Expensify/App/blob/5b0cd

[2022-06-18 13:52] liyamahendra commented on #9410
# Proposal

## Problem

The `Composer` is not having the `styles.borderColorFocus` assigned to it.

## Solution

- Add `highlightComposer: false,` to the state to keep track of whether the `Composer` is focused or not.
- Add `onFocus` and `onBlur` event handler to the composer to update the `highlightComposer ` state variable.
- Set the style on the `Composer` based on the `highlightComposer ` sta

[2022-06-18 17:22] Puneet-here commented on #9410
@Santhosh-Sellavel, can you review my [proposal](https://github.com/Expensify/App/issues/9410#issuecomment-1153738993) ?

[2022-06-18 17:32] mollfpr commented on #8841
### Proposal

https://user-images.githubusercontent.com/25520267/174448989-b9795d9c-d9a2-4b65-a6e7-68f133777a76.mp4

As you can see in the video above, I inspecting the history change. The first object is the current route, and after I select another chat, it adds a new history with the type `drawer` and the status is `open`. It's correct cause we toggle the drawer and the drawer will add or remov

[2022-06-18 17:41] Puneet-here commented on #9238
Sorry for being late here. In my proposal [here](https://github.com/Expensify/App/issues/9238#issuecomment-1141892408) (at second approach) I have given a proposal for this.

https://github.com/Expensify/App/blob/db27a3dc4a61c552b8e827819261310592ad7914/src/libs/ReportUtils.js#L308-L314

by this approach we will only show timezone when there's another user except you and we won't show timezone whe

[2022-06-18 18:06] liyamahendra commented on #6941
@parasharrajat like you shared I wasn't able to reproduce the issue. From the issue description, I anticipated the bug is when user clicks on the Password input field the screen **automatically** scrolls up.

But this comment, https://github.com/Expensify/App/issues/6941#issuecomment-1155413064 actually made the issue more clear.

@mvtglobally @parasharrajat can you review the attached screencast

[2022-06-18 18:24] liyamahendra commented on #9283
@mananjadhav and @parasharrajat I see https://github.com/Expensify/App/issues/7375 issue mentions about https://github.com/Expensify/App/issues/9283 and vice versa.

Since @mananjadhav reviewed my proposal to this issue, just wanted to check the status here. @marcaaron Do we plan to fix this or just close it?

[2022-06-18 20:10] danieldoglas commented on #7259
Still on hold.

[2022-06-18 22:06] lbaldy commented on #2727
Update:

The MR for Facebook (https://github.com/facebook/react-native/pull/34014 has) has been 'imported', this means it is running though their internal checks at Meta. There are two tasks at Meta that are failing but external contributors don't seem to have access to any details about that.

On top of that, I worked upgrading to the 'main' version from Expensify's fork. This isn't trivial, this

[2022-06-19 15:52] mananjadhav commented on #9283
@liyamahendra Lets wait, I've been testing the other proposal and it seems the issue of the overlap still exists even if we push the button on the bottom. So we might be able to solve them separately.

<img width="368" alt="image" src="https://user-images.githubusercontent.com/3069065/174489562-c91020e4-0c55-4a2f-a904-fbbed4977c8c.png">

@marcaaron Can you help us with the way forward?

[2022-06-19 15:56] mananjadhav commented on #9283
@kbecciv I am guessing the issue is that when the "Add Payments" popup is open, it doesn't show the "Delete Payment" on the first click. If thats the issue then yeah it would be separate issue.

[2022-06-19 16:00] b1tjoy commented on #9444
### PROPOSAL
### Problem
This issue can be reproduced on virtual device. When we tap on the eye, the keyboard suggestions show.

The `secureTextEntry` props of `TextInput` is `true` in `PasswordForm` component, `inputType` will [set to InputType.TYPE_TEXT_VARIATION_PASSWORD](https://github.com/facebook/react-native/blob/1b31d6bb582768ccbe92d3c1a9e43354a8c531e5/ReactAndroid/src/main/java/com/facebo

[2022-06-19 16:04] mananjadhav commented on #8929
@JosueEchandiaAsto Your updated proposal is in line with what is expected. Can you help with the following?

1. We're setting `bottom: this.state.anchorPostionBottom` to all the `Popovers`. Is it needed?
2. We're setting `anchorPositionBottom` to `null`. Any specific reason why?
3. We're updating only one `setPositionAddPaymentMenu` call to `setPositionAddPaymentMethod`, but not the others, why?
4

[2022-06-19 16:08] mananjadhav commented on #9090
@allroundexperts Do you have any updates for me on this one?

[2022-06-19 16:42] mananjadhav commented on #9238
Thanks for the proposals here.

Making the requirement a bit more clearer:
1. If there are two participants, you + 1 other participant, then show the timezone
2. More than 1 participants, other than you (so in all 2+) participants, then don't show the timezone
3. If you're the only participant in the room, don't show the timezone

@thienlnam Correct me if I am wrong.

@JosueEchandiaAsto I am tryin

[2022-06-19 17:10] allroundexperts commented on #9090
@mananjadhav Updated the PR.

[2022-06-19 18:31] Puneet-here commented on #9238
Oh sorry, you are correct @mananjadhav. I mixed that up with something else and didn't notice that we don't need to remove `hasMultipleParticipants` condition. Only filtering out our own email will do the job.

[2022-06-19 18:50] mananjadhav commented on #9238
Okay thanks for clarifying @Puneet-here. Let @thienlnam confirm the acceptance criteria. Rest your proposal looks good to me.

[2022-06-19 19:03] mananjadhav commented on #7432
Hi @pecanoro I had some issues with my new workstation and the last PR ended up having multiple unsigned commits. I've closed the old PR and raised a new one https://github.com/Expensify/App/pull/9490. Please review this (only difference between the old one and new one is that this PR is properly synced with latest `main`).

Thank you and @kadiealexander for your patience on this one. Appreciate y

[2022-06-19 19:08] JosueEchandiaAsto commented on #9238
@mananjadhav
Considering point 2 of the clarification, the code would look like this:
https://github.com/Expensify/App/blob/263738bf5e6025c13327a0a9fa454e54ae183d8c/src/libs/ReportUtils.js#L307-L314
should be removed has `hasMultipleParticipants`, because with the `hasOnlyOneRecipient` validation, the `hasMultipleParticipants` condition would be unnecessary.

By removing the `sessionEmail`, we are

[2022-06-19 19:15] mananjadhav commented on #9238
Thank you for the comment @JosueEchandiaAsto. You're right `reportParticipants.length ===1` would be needed. I totally missed the part because the default conversation chats never had 1 single person.

[2022-06-19 19:42] mananjadhav commented on #9122
@rushatgabhane trying to understand if this and https://github.com/Expensify/App/issues/6941 are related?

[2022-06-19 19:42] Puneet-here commented on #9238
Yeah I thought about it but I found that we have another condition `reportRecipient` so if we are the only user in the room and we filter out our own email, then `reportRecipient` will be false and no timezone will be shown.

[2022-06-20 05:43] Puneet-here commented on #9238
@mananjadhav, we also have to filter our own email here:
https://github.com/Expensify/App/blob/5b0cd481c87e89772f7d21fdbad6bf815b495b15/src/pages/home/report/ReportActionCompose.js#L471-L472
like this:
[code]
**Reason:** We show the timezone for `reportRecipient` and because our own email is in the participants so the `reportRecipient` will show our timezone instead of the other person.

[2022-06-20 09:31] sketchydroide commented on #9421
@kbecciv Bump

[2022-06-20 10:54] SumitDiyora opened #9491 "[High]: Chrome+JAWS : Screen reader: Role and label are not defined for "expand" control."
## Action Performed:
1. Using Chrome+JAWS, open URL: staging.new.expensify.com
2. Login with the credentials.
3. Navigate to the text field
4. Type 1 and press Shift+ Enter button, Type 2 and press Shift+ Enter button.
5. A "expand" (2 arrows indicating expand feature) control button will appear which is located on the left side of text-field  using the screen reader..
6. Navigate to the "expand"

[2022-06-20 11:43] rushatgabhane commented on #9352
@allroundexperts i'd suggest that you ask about it on slack too. it might help others when they come across a similar issue.

[2022-06-20 11:51] rushatgabhane commented on #9246
@JoshuaM1995 how's the PR looking? Please feel free to ask questions

[2022-06-20 11:54] rushatgabhane commented on #6154
@trjExpensify I think we should remove the `reviewing` label and double the issue for more 👀

[2022-06-20 11:59] michaelhaxhiu commented on #9406
Upwork job URL - https://www.upwork.com/jobs/~0170e1181be2b46bb0

[2022-06-20 12:02] rushatgabhane commented on #9234
Waiting on https://github.com/Expensify/App/pull/9476 to merge

[2022-06-20 12:03] parasharrajat commented on #6527
Still needed

[2022-06-20 12:07] michaelhaxhiu commented on #8307
Not reproducible for me either. Closing.

[2022-06-20 12:07] #8307 closed

[2022-06-20 12:11] michaelhaxhiu commented on #7916
Slack discussion is still hatching.

[2022-06-20 12:12] michaelhaxhiu commented on #2545
still holding on https://github.com/Expensify/App/issues/2985

[2022-06-20 12:18] michaelhaxhiu commented on #9341
@flodnv & @mananjadhav - Should we **hold on doubling the price of this job** this until we reach a verdict on how to style dropdown options in New Expensify?

[2022-06-20 12:23] NicMendonca commented on #9183
@rushatgabhane bump on review this proposal 👆

[2022-06-20 12:32] MTN718 commented on #9122
@rushatgabhane What about feedback for my solution?

[2022-06-20 12:35] NicMendonca commented on #9438
@mananjadhav bump on the proposal review 👆

[2022-06-20 12:40] 1810205045 commented on #9406
i think you are struggling with the loops

[2022-06-20 12:53] mananjadhav commented on #9438
I am going to be reviewing @allroundexperts's comments today. But I can't find any specific proposal here which describe what changes will be made and where.

[2022-06-20 12:59] allroundexperts commented on #9438
@mananjadhav Yes. WS is websockets. For other comments, the issue does not exist because the websocket response is being sent correctly.

[2022-06-20 13:04] michaelhaxhiu commented on #9406
@1810205045 can you clarify what you mean? Are you interested in taking this job? If so, please start by reading the [Contributing Guidelines document](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md).

[2022-06-20 13:07] mvtglobally opened #9494 "[$250] When using the app in spanish, the currency selector is not showing the currencies' symbol"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Select IUO
3. Click on currency selector
4. check Currencies display

## Expected Result:
When using the app in spanish, the currency

[2022-06-20 13:18] rushatgabhane commented on #9183
@b1tjoy that's a very well written investigation! I feel like I learnt a lot from reading it. Also, seeing you debug `react-native-web` makes me less afraid of it.

Agree!

Yeah, it doesn't look like that PR will fix our issue. `displayImageUri` will still be `null`, and the image component won't show in [step (5)](https://github.com/Expensify/App/issues/9183#issuecomment-1159452644)

https://gith

[2022-06-20 13:32] rushatgabhane commented on #9183
🎀 👀 🎀 C+ reviewed
@stitesExpensify I like @b1tjoy's [proposal](https://github.com/Expensify/App/issues/9183#issuecomment-1159452644).

The exact reason and evidence for it is explained, and I think we should go with solution # 1 because it's more closer to dealing with the root cause.

Solution # 2 might have some issues like [prefetching an image that's already in cache](https://github.com/facebo

[2022-06-20 13:34] Julesssss commented on #7375
I agree the full width does not look good. We should have updated the expected result too.

Please go ahead and push your fix!

[2022-06-20 13:35] Julesssss commented on #9252
Still awaiting proposals. @trjExpensify can you please double the job price? (I assume we double in UpWork as well as just updating the issue title?)

[2022-06-20 13:36] thesahindia commented on #9247
I have raised the PR only SSN case is left right now. I just wanted to confirm one thing before asking for the translation on slack.
We ask for 4 digits of SSN at additional details page but in some cases we change that field to ask for the full SSN, so should we add two different error message or should we use an error message that will fit on both?

[2022-06-20 13:38] Julesssss commented on #9270
Hi @JosueEchandiaAsto, thanks for the proposal.

I'm going to put this on hold for a bit as we're in the middle of refactoring our API (which changes your solution). Let's return to this in a couple of weeks.

[2022-06-20 13:39] rushatgabhane commented on #9254
@allroundexperts yeah, we should be mindful of external keyboards too especially since this issue itself is an edge case. Disabling external keyboards completely doesn't sound like the best idea. Please let me know if come up with an alternative approach

[2022-06-20 13:51] thesahindia commented on #9247
Found another bug. The keyboard type is wrong for the phone number field, we should be using `CONST.KEYBOARD_TYPE.PHONE_PAD`. Should I report it on slack or fix it here as we can just increase the job compensation.
![Screenshot_1655732894](https://user-images.githubusercontent.com/83179295/174616015-188110b7-19c6-4830-9eea-5c557d4d0d7e.png)

[2022-06-20 13:53] JmillsExpensify commented on #8356
Still waiting for more proposals.

[2022-06-20 14:08] jboniface commented on #9391
I'm putting `Reviewing` on so this stops going overdue if we're waiting for something

[2022-06-20 14:13] mvtglobally commented on #9480
@francoisl Android build is still not updated. We are just waiting for the Android to finish up this checklist

[2022-06-20 14:13] jboniface commented on #8541
Sorry, I think I must have missed a bunch of email notifications, since I have a lot of overdue with last activity on the same day (which I didn't see until now).

[2022-06-20 14:15] jboniface commented on #8541
@dharmik you can use this job to apply, the original one expired https://www.upwork.com/jobs/~016f4893b49ecbf949

[2022-06-20 14:17] #8501 closed

[2022-06-20 14:19] JmillsExpensify commented on #9246
Hired both @JoshuaM1995 and @rushatgabhane via Upwork and I've also assigned @JoshuaM1995 to this issue for clarity. Thanks all!

[2022-06-20 14:45] dharmik commented on #8846
@mananjadhav Below must be iOS specific file that you mean?
[code]

[2022-06-20 15:13] tgolen commented on #9494
@iwiznia Could you take a quick look at this one and recommend what the desired behavior should be?

[2022-06-20 15:14] parasharrajat commented on #7375
Thanks, I will do that asap.

[2022-06-20 15:16] jayeshmangwani commented on #7470
@trjExpensify sorry for the delay I have tried with different styling, but I think the root cause for the react-native-web is different, I have tried this issue by creating a new project for react-native-web, but that's working fine. so I am yet trying to figure it out for the web.

[2022-06-20 15:26] rushatgabhane commented on #9183
@b1tjoy I'm sorry, I didn't realize that you're already working on a different issue.

In the contributor guidelines it states:

You currently have two open PRs, please complete them before you can work on this issue.
cc: @stitesExpensify

[2022-06-20 15:45] iwiznia commented on #9494
Oh damn, you are right. Why the hell is CA$ in english and CAD in spanish?!?
I guess that's how the standard in spanish is defined and I don't think we should deviate from it, so we should do nothing and do not consider this a bug.
Thanks for investigating!

[2022-06-20 15:45] #9494 closed

[2022-06-20 15:48] parasharrajat commented on #9494
I am not sure how to handle this. Brower returns `CAD` for `CAD` in the Spanish locale.

[2022-06-20 15:53] parasharrajat commented on #7185
@ctkochan22 there is an issue only for partially added accounts. As per https://github.com/Expensify/App/issues/9085#issuecomment-1131489962, If you leave the bank account addition flow in the middle, the bank account is still shown in the dropdown, and adding it back will throw an error that this bank account already exists.

Take a look at the analysis on https://github.com/Expensify/App/issues/

[2022-06-20 15:56] trjExpensify commented on #9252
Yep, done! https://www.upwork.com/jobs/~01f30fad98ca9b6c69

[2022-06-20 15:57] trjExpensify commented on #9123
Melv, awaiting a review from @Beamanator!

[2022-06-20 16:17] mananjadhav commented on #9253
Are you guys been able to consistently reproduce this? I haven't been able to reproduce this on iOS Safari.

[2022-06-20 16:23] kavimuru commented on #9283
@mananjadhav "Delete payment" does show on the first click. Its about the overlapping of "Delete"
<img width="960" alt="001" src="https://user-images.githubusercontent.com/43996225/174644306-fb158fbd-ce7a-4bec-84ea-7f2c81370d63.png">

https://user-images.githubusercontent.com/43996225/174644319-0d84e81f-372c-4c7b-9832-58915a26f153.mp4

 button on "add payment" button. Attaching video and screensho

[2022-06-20 16:31] mananjadhav commented on #9283
Yeah this won't be a problem if the "Add Payment" button is moved to the bottom in #8929

[2022-06-20 16:35] Luke9389 commented on #9410
@liyamahendra's proposal is just restating @Puneet-here's from above.
Also @Santhosh-Sellavel can you give a written explanation (even just a short one) when you 👎 proposals, please?
Contributors need to know why their work is not accepted in order to improve.

[2022-06-20 16:55] cead22 commented on #8848
@mvtglobally thanks for the side by side!

I'm closing this for now, I think it's more important to focus on all the N7 docs and the performance for newer devices first, and the difference here is pretty small

[2022-06-20 16:55] #8848 closed

[2022-06-20 17:13] Beamanator commented on #9123
Sorry for the delay everyone, hired! 👍

[2022-06-20 17:31] parasharrajat commented on #2727
a works for me.

[2022-06-20 17:37] parasharrajat commented on #9402
@JosueEchandiaAsto Your proposal does not meet the requirements.

This spinner while loading the image is better to keep it.

Why should we keep the loader?

[2022-06-20 17:37] Beamanator commented on #9254
Hmm so just catching up - currently it looks like we already only show the numberpad buttons on mobile & mobile web - using this logic: https://github.com/Expensify/App/blob/2ec4a1c775b318a19c391b9cc29372274e48d805/src/pages/iou/steps/IOUAmountPage.js#L229-L234

Would we be able to just disable the text input if `canUseTouchScreen` is true in that page?

[2022-06-20 17:39] Beamanator commented on #9406
I think this is pretty low value, I don't think people will double tap "add attachment" often, and if they get to that page it should be very easy to navigate back & try to add an attachment again. Does anyone else think this is something that should be fixed / addressed at this point?

[2022-06-20 17:39] parasharrajat commented on #6527
I think it is time we do this. Onyx was already upgraded to IndexedDB and now we should have blob support to store files.

[2022-06-20 17:42] mvtglobally opened #9497 "[HOLD for payment 2022-09-26] [$250] User can't use , (comma) In spanish for decimals during IOU - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to setting > Workspace > Reimburse expenses page
2. Try using comma in the Rate input

## Expected Result:
User should be able to use comma, a

[2022-06-20 17:44] roryabraham commented on #7962
@grvsood I'm sorry, but I'm not sure I understand your question.

I tested your fix using https://github.com/ds300/patch-package instead of using a fork, so I didn't upgrade to the latest version. I just made the few changes in `node_modules` and created a patch. But maybe updating to the latest code is necessary?

Those require cycles look like the _might_ be red herrings to me, because the cycle

[2022-06-20 17:46] allroundexperts commented on #9254
@Beamanator For sure we can do that.

[2022-06-20 17:50] allroundexperts commented on #9254
@rushatgabhane If that is fine, then I can update my proposal.

[2022-06-20 17:52] JosueEchandiaAsto commented on #9402
@parasharrajat

This is the process:
1. You are requested to upload an image.
2. A thumbnail with opacity 0.6 is displayed.
3. Confirmation of successful upload is received and the list of chat messages is reloaded.
4. If any message is of type image, with the url we load the image.
5. A loading is displayed.
6. Loading the image hides the loading.

In step 3, when reloading the list of chat messa

[2022-06-20 17:53] deetergp commented on #7435
Still holding. Since @stitesExpensify's blocking issue is low priority, going to set this to monthly.

[2022-06-20 17:57] Santhosh-Sellavel commented on #9410
On @Harshdeepjoshi proposal,

Not on board with changing the component itself as it might cause unexpected regressions. So gave 👎

Sorry, somehow I missed @Puneet-here's comment!
@liyamahendra's Proposal is the same as Puneet's.

So I like @Puneet-here [Proposal](https://github.com/Expensify/App/issues/9410#issuecomment-1153738993) here. Looks good to me!
🎀 👀 🎀 C+ reviewed

cc: @Luke9389

[2022-06-20 17:58] thesahindia commented on #9247
Ohh good point, in android phone-pad we can use bracket and hyphens but it will be a problem in ios and as we are already using phone-pad at two places so we will need to do something about it.

[2022-06-20 18:00] parasharrajat commented on #9402
It would be best to achieve the expected results from this issue. let's see your proposal and we can analyze if it fits well.

[2022-06-20 18:02] JosueEchandiaAsto commented on #9402
@parasharrajat Of course yes, I implement it and send an update of the proposal. Thank you very much.

[2022-06-20 18:18] marcaaron commented on #8230
Still slowly working on the detailed implementation here, but slowed down a bit by the API Refactor conversations. Planning on picking this back up once the Report API PRs are merged.

[2022-06-20 18:35] Santhosh-Sellavel commented on #7917
@mdneyazahmad What's the current status of this issue, we have been on this for months. Can we speed this up?

[2022-06-20 18:38] Santhosh-Sellavel commented on #8888
Can we double this up or wait? @AndrewGable
cc: @kevinksullivan

[2022-06-20 18:50] francoisl opened #9500 "`GithubUtils.getStagingDeployCashData()` returned a deploy blocker issue in list of PRs"
## Action Performed:
1. We merged a [pull request](https://github.com/Expensify/App/pull/9496) that had the `CP staging label`
2. The action `createOrUpdateStagingDeploy` failed
     - It recognized a deploy blocker listed in the current [deploy checklist](https://github.com/Expensify/App/issues/9480) as a pull request. See logs here: https://github.com/Expensify/App/runs/6972270023?check_suite_fo

[2022-06-20 18:51] francoisl commented on #9500
Note that this is an issue with our Github deploy actions, but I think it should be able to be worked on externally too.

[2022-06-20 18:54] francoisl commented on #9480
Yep thanks, we're looking into this. I'll let you know when we have an update.

----

Also, I'm checking 9487 from the blockers list based on [this comment](https://github.com/Expensify/App/issues/9487#issuecomment-1160669706).

[2022-06-20 18:54] parasharrajat commented on #8595
@shawnborton It seems we discussed the design for the main scenario https://github.com/Expensify/App/issues/8595#issuecomment-1113477651 but missed the one where we are sending the attachment. On Send Attachment modal, there is another button Send. On the web, it looks fine as Confirm button is not sticky to the bottom. It stays next to the password input. But on mobileWeb and Android, what should

[2022-06-20 19:05] Santhosh-Sellavel commented on #8791
I'm not 100% sure. Because I was wondering about how the smart banner shows up as we don't have any implementation as said here -> https://developer.apple.com/documentation/webkit/promoting_apps_with_smart_app_banners

But based on this [thread](https://developer.apple.com/forums/thread/105129) and the below comment clears everything

<img width="1217" alt="Screenshot 2022-06-21 at 12 28 49 AM" sr

[2022-06-20 19:07] ctkochan22 commented on #7911
I don't think this is super pressing. I am hoping to do this still

[2022-06-20 19:14] tgolen commented on #9444
I got confirmation from @parasharrajat that it is OK to work on this one due to some of the confusing status of your other issues.

The proposal above looks OK to me 👍

[2022-06-20 19:17] Santhosh-Sellavel commented on #8841
@mollfpr Where did you mention earlier?

[2022-06-20 19:19] JoshuaM1995 commented on #9246
@rushatgabhane It's looking good. I'm going to test it tonight then submit it for code review if everything goes well.

[2022-06-20 19:24] Beamanator commented on #6438
Wow sorry for the delay! @mallenexpensify I added `Needs Reproduction` to see if we can get someone to help us **confirm** if the issue does exist on iPhone 12 mini - maybe we can use this label to indicate that we'll pay someone if they can provide accurate reproduction steps?

[2022-06-20 19:27] #9416 closed

[2022-06-20 19:31] #7820 closed

[2022-06-20 19:31] #8463 closed

[2022-06-20 19:31] #8464 closed

[2022-06-20 19:31] #8465 closed

[2022-06-20 19:34] parasharrajat commented on #8292
Need to review one proposal above. I will look into that tomorrow morning CST.

[2022-06-20 19:36] tgolen commented on #8791
Ah, that's interesting! That explains why it shows on some pages and not
others. I wish we could disable that :(

On Mon, Jun 20, 2022 at 1:05 PM Santhoshkumar Sellavel <
***@***.***> wrote:

[2022-06-20 19:42] parasharrajat commented on #6941
@liyamahendra Your video is not representing this issue. That scrolling is desired.

[2022-06-20 19:45] MTN718 commented on #6941
I think this issue is same as this #9122

And this is my proposal. It can resolve this issue too I think.

https://github.com/Expensify/App/issues/9122#issuecomment-1158844018

[2022-06-20 19:51] parasharrajat commented on #6941
Good Catch. But we do want the Main Continue button and forgot links to be above the keyboard.

[2022-06-20 19:51] JosueEchandiaAsto commented on #8929
@mananjadhav

You are right, it is not necessary

I have changed it in the update.

`setPositionAddPaymentMenu` is for all the menus that appear below the buttons.
`setPositionAddPaymentMethod` is only for the add payment method button because it should appear above it.

It was a way to prevent the menu from overlapping the button, in the update I have made this change so as not to touch the butto

[2022-06-20 19:53] MTN718 commented on #6941
then it makes move up logo and description text because its height different with email form height so when change screen, it moves up.

[2022-06-20 19:56] kbecciv commented on #8734
@Luke9389 Sorry, I missed your message.
Retested with latest build 1.1.78-1, default rooms are disappears after log out and log in again. Video attached

https://user-images.githubusercontent.com/93399543/174670106-e313e098-613f-4b05-9e14-ff91a74ba350.mp4

[2022-06-20 19:57] parasharrajat commented on #9122
@MTN718 brought my attention to this issue. Just want to add that this issue was not happening last time I checked (maybe two months back).

I will try to debug this one along https://github.com/Expensify/App/issues/6941 to see what could be wrong.

[2022-06-20 19:58] MTN718 commented on #9122
No it's happening i tested some days ago with @rushatgabhane. You can see video.

[2022-06-20 19:59] parasharrajat commented on #6941
Update: it seems that nobody is able to successfully reproduce this so far apart from the QA team. Based on the comments, I feel this exists within the APP.

I will try to debug this and share my analysis. I have couple of thoughts on why it might be happening.

[2022-06-20 19:59] pecanoro commented on #9329
I looked it up and it seems "md is the country code top-level domain (ccTLD) for Moldova.". If that is the case, let's close this then.

[2022-06-20 19:59] #9329 closed

[2022-06-20 20:11] allroundexperts commented on #9438
@mananjadhav As confirmed in this chat:
https://expensify.slack.com/archives/C01GTK53T8Q/p1655499310036769
We need to not worry about the promise not resolving. Instead we need to fix the websocket api call that is failing.

[2022-06-20 20:23] Gonals commented on #9465
Setting as internal, since external collaborators can't really access the staging environment, and monthly, since it is not a big deal.

[2022-06-20 20:24] marcaaron commented on #9438
I would vote to take this internal. I'm not sure there is anything we can do in the client to investigate why the push data is failing to send...

https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%2271e735df3f68f4c4-SJC%22)+AND+timestamp:[2022-06-20T19:21:22.807Z+TO+2022-06-20T21:21:22.807Z]&index=logs_expensify-017295

[2022-06-20 20:27] cead22 commented on #9402
I think the ideal experience should be
- User uploads image
- The user sees the thumbnail of the local right away
- **Note** if the user is online, the thumbnail should show with full opacity. The transparency should only appear if the user isn't online imo (cc @chiragsalian)
- The image never changes, we don't show a loading image/spinner, to the user uploading the image it should look as if it w

[2022-06-20 20:31] trjExpensify commented on #9123
@thesahindia - can you apply to the [job here](https://www.upwork.com/jobs/~01e88449b26be1fba2) please?

[2022-06-20 21:22] shawnborton commented on #8595
Hmm honestly I'm not too sure - it feels strange to have the send button docked to the bottom when the password input and confirm button are shown. Do you mind bringing this one to #expensify-open-source for more eyes and discussion?

[2022-06-20 21:44] chiragsalian commented on #9124
Melvin derping here. Shoo go away melvin. Issue is not overdue. PR is merged and on staging.

[2022-06-20 22:32] aldo-expensify commented on #8088
I did some more testing today and found out that outlook likes to add a bunch of `\n` in the email's html. The `\n` with `whitespace: pre` makes a lot of empty lines appear.

The proposed solution of avoid using `whitespace: pre` for message comings from emails handles well this case, so I'm sticking with that.

I updated the PR's descriptions and made them ready for review.

[2022-06-20 22:49] jliexpensify commented on #8937
Apologies @Santhosh-Sellavel - I was OOO. Have hired you, once accepted I'll pay out the bonus and close.

[2022-06-20 22:51] stitesExpensify commented on #8956
Not overdue, unreproducible

[2022-06-20 22:51] stitesExpensify commented on #8131
Stil focused on n7. IMO this is a monthly as it doesn't really affect functionality

[2022-06-20 22:51] stitesExpensify commented on #7420
No update, focused on n7

[2022-06-20 22:52] stitesExpensify commented on #8503
Thanks for volunteering @kidroca! There is still a lot of internal conversation happening around this, so I'll post an update when I have one 😄

[2022-06-20 22:53] ahmdshrif commented on #6941
@parasharrajat If this is the issue . I can reproduce it .

But @mvtglobally mentioned before it's happening automatically. That's why i say i can't repro it on any device .

https://user-images.githubusercontent.com/21364901/174686346-a8413616-120f-4513-95ee-0ee63bfea0ea.mp4

[2022-06-20 22:54] francoisl commented on #9480
We might have to wait a few more days for the new Android build.

For context, Google rejected the app saying that it didn't respect their Payments policy because we don't use Google Play's billing system. We believe they made a mistake, because their policy mandates that apps that use peer-to-peer payments should _not_ use their billing system. We filed an appeal and are waiting to hear back from

[2022-06-20 23:02] mollfpr commented on #8841
@Santhosh-Sellavel

[2022-06-20 23:48] Beamanator commented on #9254
Cool ya let's see if @rushatgabhane has any concerns with that approach 👍

[2022-06-21 00:13] chiragsalian opened #9503 "Add functionality Copy link for a report comment"
# Problem
Splitting comment linking [PR](https://github.com/Expensify/App/pull/8638/files) by moving the webpack files and copy link functionality to another issue.
We'll need a way to create proper dev URLs that will work on web, mobile and desktop and this issue will help with it.

# Solution
Moves the webpack and port related code from this [PR](https://github.com/Expensify/App/pull/8638/files)

[2022-06-21 00:19] rushatgabhane commented on #9254
@Beamanator I don't think that's a good idea. External keyboards for iPads, and keyboard for a touchscreen laptop won't work

[2022-06-21 02:59] jliexpensify commented on #8937
Paid, and closing!

[2022-06-21 02:59] #8937 closed

[2022-06-21 03:47] Beamanator commented on #9254
Interesting so the case we're talking about now is if the user has an external keyboard connected but the UI is showing the number pad input with buttons right? In that case we would want the user to be able to use their keyboard to type numbers instead of only being able to touch the number pad?

What about this: don't render an input at all when showing the number pad, and react to key press (nu

[2022-06-21 04:02] mvtglobally commented on #9124
Issue not reproducible during KI retests. (First week)

[2022-06-21 04:07] mvtglobally commented on #9352
Issue not reproducible during KI retests. (First week)

[2022-06-21 04:41] mvtglobally opened #9504 "Sent message not showing in chat for a minute or two after sending"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sent message
2. Backgrounded desktop app
3. Brought app back to foreground after a ~minute
4. Noticed that a message I sent didn't show
5. Waited

[2022-06-21 05:12] aldo-expensify commented on #9164
I asked for opinions in slack [here](https://expensify.slack.com/archives/C03TQ48KC/p1654886092308369). I'll try to put some work on this later this week

[2022-06-21 05:26] mvtglobally opened #9505 "[HOLD for payment 2022-12-08] [$1000] Try to copy and paste an emoji from Slack into the chat editor shows an error"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Slack
2. Copy any emoji
3. Paste Emoji in App

## Expected Result:
User should be able to paste

## Actual Result:
Try to copy and pa

[2022-06-21 05:36] mvtglobally opened #9506 "[$250] HEIC file types disappear when trying to send"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Drag>dropped an HEIC file into NewDot chat and sent
2. File showed it was starting to send
3. File disappeared :rabbit::tophat: (doesn't show at

[2022-06-21 06:05] JoshuaM1995 commented on #9246
@rushatgabhane I've created the PR here: https://github.com/Expensify/App/pull/9507

[2022-06-21 07:02] SumitDiyora commented on #9480
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - https://github.com/Expensify/App/pull/9226, https://github.com/Expensify/App/pull/9401, https://github.com/Expensify/App/pull/9445, https://github.com/Expensify/App/pull/9460, https://github.com/Expensify/App/pull/9462,https://github.com/Expensify

[2022-06-21 08:31] mdneyazahmad commented on #7855
Is this issue open for proposal?

[2022-06-21 09:30] mdneyazahmad commented on #7917
@Santhosh-Sellavel I do want to finish this asap. But we are stuck at handling ENTER for submitting the form as it creates secondary interaction. Could you please join discussion [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1654195847140899), [and here](https://expensify.slack.com/archives/C01GTK53T8Q/p1655778876155109) and help move forward.

Related PR:
1. https://github.com/Expensif

[2022-06-21 11:25] ntdiary commented on #9253
This can be always reproduced, but if your mobile phone has good performance, the time is very short.
maybe need to play it at 0.5x speed, after clicking the back button in the video.

https://user-images.githubusercontent.com/8579651/174787732-a7ce564d-c54a-470a-af23-8c499d0fdb54.mov

1. Ensure Clear all login information. Then create a new tab
2. Login.
3. Refresh page.
4. click another username

[2022-06-21 11:39] mananjadhav commented on #8846
Yes @dharmik thats right. Anything with `Platform.OS` will get moved to its platform specific file.

[2022-06-21 11:44] mananjadhav commented on #9238
@Puneet-here Quick question with your updated comment.
Whats the difference between the following lines:
[code]
and
[code]

[2022-06-21 12:53] kbecciv opened #9508 "[$250] IOS - On selecting edit or delete comment from the context menu an other context menu shows up for a brief moment @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. Open the context menu by long press on any message
3. Tap on edit comment or delete comment
4. Check another context menu

[2022-06-21 13:04] kbecciv opened #9509 "[HOLD for payment 2022-08-30] [$250] Web - Login container isn't in center @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to the login page
2. Decrease the screen size

## Expected Result:
Login container should be in the center

## Actual Result:
Login container

[2022-06-21 13:07] Puneet-here commented on #9238
We have to filter out our email at two places:
1. https://github.com/Expensify/App/blob/5b0cd481c87e89772f7d21fdbad6bf815b495b15/src/pages/home/report/ReportActionCompose.js#L471-L472
2. https://github.com/Expensify/App/blob/db27a3dc4a61c552b8e827819261310592ad7914/src/libs/ReportUtils.js#L308-L309
 We have `sessionEmail` variable available inside reportUtils.js so we can use that to filter out at

[2022-06-21 13:20] Julesssss commented on #5336
The DD is nearing completion. Will be implemented shortly

[2022-06-21 13:21] Julesssss commented on #8130
Still held, going to switch to monthly as it's unlikely to happen soon.

[2022-06-21 13:32] flodnv commented on #9341
Agreed, HOLDing!

[2022-06-21 14:03] kbecciv opened #9510 "[HOLD for payment 2022-10-20] [$1000] Web - Going from small to large screen and vice-versa clears the field for Email/Password input fields @daraksha-dk"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to website
2. Enter your email or password
3. Go from small screen to large screen or vice-versa
4. Input field will be cleared

## Expected R

[2022-06-21 15:10] arosiclair commented on #7014
Not sure why this wasn't auto-closed, but fixes were deployed to Auth last week!

[2022-06-21 15:10] #7014 closed

[2022-06-21 15:14] arosiclair commented on #7014
@kevinksullivan should have already been paid!

[2022-06-21 15:21] Santhosh-Sellavel commented on #8841
Okay cool, I thought you proposed elsewhere.

[2022-06-21 15:35] flodnv commented on #9418
Not overdue -- let's send it to upwork!

[2022-06-21 15:41] tgolen opened #9511 "Bug: Chat notification preference doesn't save properly for a chat type of `policyExpenseChat`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Be on the `policyExpenseChatpolicyExpenseChat` beta
1. Open a `policy expense` chat
2. Go to the report settings by clicking the report header
3.

[2022-06-21 15:42] tgolen commented on #9511
I know what the fix is for this, so I'm just going to implement it.

[2022-06-21 16:12] lbaldy commented on #2727
@parasharrajat

Here is a working version: https://github.com/lbaldy/ExpensifyApp/tree/bugfix/2727-upgrade-to-fork

Which uses this fork branch: https://github.com/lbaldy/expensify-fork-react-native/tree/bugfix/2727_on_0.66.4

I cannot open a PR, because we don't really want to merge it to E/react-native#main.

Ideally, if you could create a branch inside E/react-native from the v0.66.4 tag, after

[2022-06-21 16:13] trjExpensify commented on #7081
@mananjadhav are you going to post the vids with animations enabled/disabled here today for additional input from design? CC: @shawnborton & @michelle-thompson

[2022-06-21 16:19] brianmuks commented on #8361
@Santhosh-Sellavel I am pushing an update today. Sorry for the delay 😞 . I was having issues with the app it couldn't function properly. I think it had to do with the caching issues.

[2022-06-21 16:30] deetergp commented on #9287
@rushatgabhane I agree — @allroundexperts's proposal looks solid. Let's go with that one!

[2022-06-21 16:36] parasharrajat commented on #2727
Thanks for the suggestion @AndrewGable. I am also in favor of that if we are fine with the delay. We can handle this via https://github.com/Expensify/App/issues/8503#issuecomment-1152785723 https://github.com/Expensify/App/issues/2727#issuecomment-1154431164

[2022-06-21 16:37] Luke9389 commented on #8734
Huh, that looks like a video about 2FA... 😅

[2022-06-21 16:48] roryabraham commented on #8612
Sorry for the delay here @arielgreen. I'm going to suggest that we pay @b1tjoy for their time, then put this issue on HOLD. I think the best thing for us to do might be to try to create a tracking issue for all the problems we have with the `FlatList` component as a "wish list" to get fixed upstream.

[2022-06-21 16:51] roryabraham commented on #8503
Relevant discussion: https://expensify.slack.com/archives/C035J5C9FAP/p1655407547697249

[2022-06-21 17:01] roryabraham commented on #9415
You can close the modal by pressing `ESC`

[2022-06-21 17:18] arosiclair commented on #9415
I agree. I reproduced the issue but I think `ESC` is a good enough work around for anyone trying to navigate this way. Closing.

[2022-06-21 17:18] #9415 closed

[2022-06-21 17:29] kbecciv commented on #8734
@Luke9389 Lord, I'm sorry, updated correct video.

[2022-06-21 17:30] Luke9389 commented on #9410
Now that this is assigned I'm going to bump it down to weekly.

[2022-06-21 17:36] parasharrajat commented on #7855
Yup. This is open, I don't have enough time to research this. @mallenexpensify Could you please apply the Help wanted label? Thanks.

[2022-06-21 17:45] thesahindia commented on #9247
Posted about the error message [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1655749321017699).
@AndrewGable @mananjadhav, please share your thoughts on it.

@AndrewGable I think we should ask marketing team for the confirmation (also we need the translation after we decide the error message) so can you tag them in the [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p165574932

[2022-06-21 18:02] Christinadobrzyn commented on #9410
Hired in Upwork

- @Puneet-here for the fix
- @Santhosh-Sellavel as the C+ with a $250 bonus for reporting

[2022-06-21 18:10] Christinadobrzyn commented on #9332
Increased Job price to $500 - still waiting on proposals.

[2022-06-21 18:21] Beamanator commented on #9497
@kevinksullivan reassigning you b/c I think @joelbettner unassigned you on accident 😅

[2022-06-21 18:46] rushatgabhane commented on #9254
Exactly!

[2022-06-21 18:51] kbecciv opened #9513 "Web - Editing the last sent message does not update summary in LHN @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Send some message to any user on web.
3. Go offline (disconnect the wifi) etc.
4. Edit the message.

## Expect

[2022-06-21 18:52] chiragsalian commented on #8849
Yes looks like the fork was created here - https://github.com/Expensify/react-native-image-size
Does that look alright?

[2022-06-21 18:53] rushatgabhane commented on #9254
@Beamanator I'm in favor of closing this super edge case. You can easily close the keyboard by
- tapping anywhere outside the text input on iOS
- back button to hide the keyboard on Android.

[2022-06-21 18:55] Beamanator commented on #9406
Got a few people agreeing with me that this is low value, closing out

[2022-06-21 18:55] #9406 closed

[2022-06-21 18:55] mananjadhav commented on #8849
Yeah looks alright to me. @phuongpt Can you please raise a PR for this and update once done? We can now move forward with this one.

[2022-06-21 19:04] mananjadhav commented on #9247
Thanks for the ping @thesahindia. I also feel we should show different error messages, easier for the user to know what is to be fixed.

[2022-06-21 19:10] mdneyazahmad commented on #7855
## Proposal

### Resson:
https://github.com/Expensify/App/blob/9484115658340dd6db6b083fd652bc23630bd87e/src/pages/home/ReportScreen.js#L229

Inside this View (say ViewContainer), we have 3 components FullScreenLoadingIndicator, ReportActionsView and View (compose box inside this view) that renders based on some conditions.

- We are displaying either FullScreenLoadingIndicator or  ReportActionsVie

[2022-06-21 19:13] johnmlee101 commented on #9263
Where is this android version coming from? I got it working once I checked to see that it was coming from the beta branch of the play store (can't be a built version we hand out)
<img width="426" alt="image" src="https://user-images.githubusercontent.com/5258036/174879591-3e5c2838-b8d6-4f9f-8595-30a3415d8b19.png">

[2022-06-21 19:16] kavimuru opened #9517 "Desktop - Keyboard arrow keys doesn't work on New chat/Send money/Request money flow @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Desktop/Website
2. Open fab menu :green-plus-button: > New chat
3. Press Down/Up keys.

## Expected Result:
User should be able to choose a

[2022-06-21 19:19] mananjadhav commented on #7081
Yes @trjExpensify. I just resolved Conflicts and pushed again.

@shawnborton @michelle-thompson Its been a bit tricky to add Animation to here and some feedback from @parasharrajat's comment here https://github.com/Expensify/App/pull/8042#pullrequestreview-1006215818, I am attaching two videos - one with and one without animation.

I was thinking if we can avoid Animation on this one.

**With Anim

[2022-06-21 19:41] #8479 closed

[2022-06-21 19:41] #8484 closed

[2022-06-21 19:45] aldo-expensify commented on #8841
@mollfpr a couple of questions:

1. I'm guessing `isSmallScreenWidth` is checked using some hardcoded number of pixels?
2. Before, when `!hasDrawerhistory || currentState.type !== 'drawer'` was `false`, we didn't do anything. With your change, we would be pushing `history.push({type: 'route', name: newScreenName});` if that check is `false` (no matter the screen size), Is this intended?

[2022-06-21 19:47] arosiclair opened #9522 "Create a FullPageNotFoundView component"
[Spun out of this slack convo](https://expensify.slack.com/archives/C02HWMSMZEC/p1655833957774829)

**Problem**
Similar to our `<FullPageOfflineView />` (https://github.com/Expensify/App/pull/9165) we need a full page "not found" view to display when a user attempts to view a resource that doesn't exist or they have lost access to.

**Solution**
Create a `<FullPageNotFoundView />` component that r

[2022-06-21 19:58] michelle-thompson commented on #7081
@shawnborton it's more obvious when he's scrolling up through older comments.

I think it's worth adding the animation, especially for moments where it takes longer than a couple seconds to load content; the UI might look frozen otherwise.

[2022-06-21 20:05] mdneyazahmad commented on #7855
I do not have that option.

[2022-06-21 20:10] eVoloshchak commented on #9254
**Proposal:**
We can just remove the selection when we detect that browser window isn't visible.
We need to add the following to [IOUAmountPage.js](https://github.com/Expensify/App/blob/12e87447e0a1dcb5a8523e39865f559c6d6f3bb6/src/pages/iou/steps/IOUAmountPage.js#L71) `componentDidMount`
[code]
Result:

https://user-images.githubusercontent.com/9059945/174888398-58a15e44-b24d-4c94-804f-4270cc477ee

[2022-06-21 20:24] parasharrajat commented on #7081
Hmm, @mananjadhav any comments? I guess we will have to add new messages in place i.e. replace the loader UI with new messages without affecting the layout.

One possible way could be
1. Append the loader the messages list instead of the List footer. Apply the layout fade animations to the loader.
2. Now when new items are added, the loader will be removed automatically.

Not sure how feasible it

[2022-06-21 20:36] roryabraham commented on #9500
Got a PR up to fix this.

[2022-06-21 20:39] parasharrajat commented on #8595
Asked here https://expensify.slack.com/archives/C01GTK53T8Q/p1655843898715879

[2022-06-21 20:57] TomatoToaster commented on #8734
I think this makes sense to keep as internal. I'm not sure myself, _why_ this isn't working, but [these lines of code](https://github.com/Expensify/App/blob/02221439182ac91b423f0d5b929f20549def77df/src/libs/actions/Policy.js#L538-L543) should make it so that the user's client is subscribed to the policy member being removed and then should remove those default rooms. My hunch is that `defaultRoomC

[2022-06-21 20:58] roryabraham commented on #7925
Made some great progress on Android implementation last week, posted update [here](https://expensify.slack.com/archives/C035J5C9FAP/p1655407541640779)

[2022-06-21 21:01] #9500 closed

[2022-06-21 22:15] lschurr commented on #9513
Going to add Eng to check this.

[2022-06-21 22:23] bdt2019unicorn commented on #9466
**Upwork Proposal**

I think the problem is with the select datetime component. From the video, when the person select a date, the date goes back 1 day before. This happens because the app automatically convert the time to the standard US time.
That is the reason why the people in US could not make the same error because the conversion between US time to US time would not make any differences.

Th

[2022-06-21 22:28] stitesExpensify commented on #7470
Thank you for the update

[2022-06-21 22:47] kadiealexander commented on #9248
Assigning to @jliexpensify to facilitate payment as the 23rd is a public holiday in NZ.

[2022-06-21 22:51] iwiznia commented on #9508
Oh wow odd, yeah, looks like a bug to me!

[2022-06-21 23:22] michaelhaxhiu commented on #9487
I'm OOO starting tomorrow, going to re-assign to another CM 🙏

[2022-06-21 23:26] michaelhaxhiu commented on #9240
Doubling price to $1000

[2022-06-21 23:27] mallenexpensify commented on #6438
I've thought about (and discussed) before.  My gut is... if we can't reliably reproduce internally (and/or with QA) then it _seems_ like there's value in someone else being able to do so.  One issue I had with testing this a while back is that the price doubled a bunch.  So, for these, we should have the default be to not double and the edge be, double. If the issue is _important_.  What cha think

[2022-06-21 23:28] michaelhaxhiu commented on #9061
I think @neil-marcellini is taking this, so I'm reported `Help wanted`. If that's not true, please correct me.

[2022-06-22 00:26] aldo-expensify commented on #9243
I'll close this as I don't think this is a normal flow, and I think it may even cause to go back by mistake.

[2022-06-22 00:26] #9243 closed

[2022-06-22 00:27] aldo-expensify commented on #9243
Asked for some opinions here: https://expensify.slack.com/archives/C01SKUP7QR0/p1654133653822269

Feel free to reopen if you disagree...

[2022-06-22 01:10] aneequeahmad commented on #8592
@parasharrajat is this bug about the blue highlight(`blue border-color`) on text input after the message is sent ? I still dont understand the bug. It is on all platforms. Please help me understand the bug.

[2022-06-22 02:07] robertjchen commented on #8440
Agreed, our upcoming refactors should address this or at least make this moot. Closing this out for now.

[2022-06-22 02:19] dharmik commented on #8440
@robertjchen I already spent effort on this ticket and already raised PR and task already assign to me on upwork.

Can you help now what action have to apply on it.

[2022-06-22 02:23] robertjchen commented on #8440
Ah apologies- I didn't have the full context here. I'll followup on next steps and keep you posted 🤔

[2022-06-22 03:12] Santhosh-Sellavel commented on #9415
@arosiclair Issue is not about triggering cancel, focus should be set on 'Cancel' button while navigating with 'tab' or 'shift + tab'

cc: @luacmartins

[2022-06-22 03:26] adelekennedy commented on #8927
reopened! @thesahindia do you mind applying [here](https://www.upwork.com/jobs/~01232d0b68c48ee76c)?

[2022-06-22 03:32] adelekennedy commented on #9459
Posted:
[Internal](https://www.upwork.com/ab/applicants/1539451122830602240/job-details)
[External](https://www.upwork.com/jobs/~0153a66df54fa2768f)

[2022-06-22 03:40] phuongpt commented on #8849
@mananjadhav could you please review https://github.com/Expensify/App/pull/9526, thanks.

[2022-06-22 04:27] mananjadhav commented on #7081
Okay I get the thought process.  Appending the loader messages to the list sounds like a good idea. Catch would be to remove the loader items once we have the items. I could have say fixed number of skeleton loader row added on load more and then replace them once I have the items. Then the `Animation` could be added to each loader row so that the fade out is clearly visible.

Any thoughts on how

[2022-06-22 04:37] marktoman commented on #9240
## Proposal

1. We can trim all markdown formatting using `remove-markdown`. Alternatively, we can use the `strip-markdown` package or trim it ourselves.
[code]

Here is an example of manual trimming if we either cannot add a package or need more customization:
[code]

2. Add a new Paste and Match Style item to the desktop context menu by replacing this line https://github.com/Expensify/App/blob/0

[2022-06-22 04:45] Regaron commented on #9459
# Proposal

This is happening due to `defaultValue` in BaseTextInput being controlled. So removing the `defaultValue` solves it.

[2022-06-22 04:55] techievivek commented on #8589
Not sure if this is already being handled with offline support. @mvtglobally can you please re-test this. Thanks

[2022-06-22 05:04] Regaron commented on #9459
# Proposal

This is happening due to `defaultValue` being controlled in BaseTextInput. We can remove `defaultValue` prop and add `this.input.setNativeProps({text: this.state.value})` on BaseTextInput `componentDidMount`.

[2022-06-22 09:21] #9503 closed

[2022-06-22 13:05] NicMendonca commented on #9508
job post: https://www.upwork.com/jobs/~01dff267d3f1a00bf9

[2022-06-22 13:50] luacmartins commented on #6883
@parasharrajat how's the review going?

[2022-06-22 14:30] thesahindia commented on #9247
Cool. Now we just need the translation.
Asked [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1655908173483039?thread_ts=1655749321.017699&cid=C01GTK53T8Q).

[2022-06-22 14:33] thesahindia commented on #8927
Applied ✅

[2022-06-22 14:50] luacmartins commented on #9415
I agree with @roryabraham and @arosiclair here. As of now, we are making sure that 'tab' + 'shift + tab' is supported when navigating form inputs only. We do not support it everywhere else in the App yet.

[2022-06-22 16:16] Santhosh-Sellavel commented on #9415
@luacmartins  or @roryabraham  or @arosiclair

Cool for me, then if we are good to close #7968 too right?

Since this issue was an regression caused by #9093 I've added a comment there to put it on hold due until this one is fixed.

Can anyone of you share a comment on #7968 too, Thanks!

[2022-06-22 16:25] Beamanator commented on #9254
@rushatgabhane do you mind considering the proposal ^ before we decide if we should close this?

[2022-06-22 16:25] Santhosh-Sellavel commented on #8841
The proposal seems to be solving one, but I would like take more time on reviewing this one.
@aldo-expensify

[2022-06-22 16:55] mallenexpensify commented on #2985
Rory "Made some great progress on Android implementation last week, posted update [here](https://expensify.slack.com/archives/C035J5C9FAP/p1655407541640779)"
https://github.com/Expensify/App/issues/7925#issuecomment-1162353996

[2022-06-22 16:59] parasharrajat commented on #6883
I am still waiting on https://github.com/Expensify/App/issues/6883#issuecomment-1150357942 details. And some instructions to test the PR. Currently, PR is in a draft state.

[2022-06-22 17:02] parasharrajat commented on #8592
It must be clear from the above discussion. But yeah the issue is that the blue highlighted color is left on the composer after the message is sent.

This affects Mweb. There is another issue with iOS _but also it remains in text input with the auto-correct word in iOS (app)_ https://github.com/Expensify/App/issues/8592#issuecomment-1152926071

[2022-06-22 17:06] aldo-expensify commented on #8841
Thanks @Santhosh-Sellavel , I'll try testing it soon

[2022-06-22 17:17] kavimuru opened #9533 "Chat - Sending links google.com and http://www.google.com/ appears as http:// instead of https://"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #9471
## Action Performed:
1. Go to staging.new.expensify.com and login
2. Send links google.com and [www.google.com](http://www.google.com

[2022-06-22 17:19] mallenexpensify commented on #7648
@roryabraham or @rushatgabhane , can you provide a `tl,dr:` on:
1. Why this is such a big undertaking
2. Will this help on other parts of the site for navigating via arrow keys?
(I'm not asking cuz it's taking a bit but curious who it's a lot of work vs _just_ mimicking the use of tab and shift+tab for keyboard nav)

Also.. for other keyboard nav improvements for group chats, dropped this in #expe

[2022-06-22 17:24] mallenexpensify commented on #9249
On staging as of two hours ago

[2022-06-22 17:29] mallenexpensify commented on #9245
@deetergp do you have any feedback from @chiragsalian 's [question above](https://github.com/Expensify/App/issues/9245#issuecomment-1147818979)?

I think we need to figure that out before anything else, right?

[2022-06-22 17:41] Puneet-here commented on #9410
The PR is ready
cc: @Luke9389 @Santhosh-Sellavel

[2022-06-22 17:48] kbecciv opened #9535 "[$250] VBA - Each of the Workspace option setting is showing locked after refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing:** https://github.com/Expensify/App/pull/9490

## Action Performed:
1. Go to staging.new.expensify.com and go to settings
2. Enable Stag

[2022-06-22 18:09] kavimuru opened #9537 "iOS - Chat - Edit option does not appear when tap on links sent"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #9471
## Action Performed:
1. Launch App
2. Go to any chat > sent Send following links::
google.com
[www.google.com](http://www.google.com/

[2022-06-22 18:28] parasharrajat commented on #7121
It got slipped my mind. Running a few tests and merging main into for review. Thanks for the ping.

[2022-06-22 18:37] parasharrajat commented on #9459
@Regaron Would you mind putting up more light on your proposal? I am not able to pinpoint where exactly is the issue.
1. Where is this `defaultValue`? How is this causing the issue?

[2022-06-22 18:50] kavimuru opened #9539 "[$250] Web - Attachment - Attachment tag displayed in LHN after refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Go to any user and click on Plus button
4. Attach any jpg file
5. Click Send button

[2022-06-22 19:44] aldo-expensify commented on #9182
Melvin, PR is in review.

[2022-06-22 19:51] alex-mechler commented on #9535
For the first video, going outside of NewDot, making a change in OldDot, and having not reflect in NewDot without a refresh is a pretty edge case flow that we aren't looking to solve at this time. Going to remove it from the main issue to prevent confusion

The second video does seem like something we need to fix, since we should not be showing it on that list after we have selected delete. Should

[2022-06-22 20:06] tgolen commented on #9444
@stephanieelliott I think the next step here is to hire them in Upwork?

[2022-06-22 20:19] kbecciv opened #9541 "[Feature Request] Allow "pending" attachments to be deleted and downloaded before they are created in the server"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Go to any user and click on Plus button
4. Attach any jpg file
5. Click Send button

[2022-06-22 20:31] kbecciv opened #9542 "IOS - VBA - Keyboard is overlapping the company website filed under Company Information page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login in App
2. Go to Settings - Workspace - Connect bank account
3. Use credentials: user_good/pass_good
4. Select Wells Fargo and than Saving a

[2022-06-22 20:37] pecanoro commented on #9537
I can't reproduce the issue, I can edit it just fine.

[2022-06-22 20:44] virgil27 opened #9543 "IOS-Selecting edit/ delete comment from the context menu another cntxt menu shows up #9508 Expensify"
Hi,

I read your job description, and I can do your project with React native

If I could get more details about your project, I can also optimise your tasks.

Looking forward to hearing from you.

Best regards,
Ferat

If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensi

[2022-06-22 20:44] #9543 closed

[2022-06-22 20:47] amyevans commented on #9505
When pasted content is parsed as HTML and contains an image tag, we attempt to fetch the image(s) in [this block](https://github.com/Expensify/App/blob/main/src/components/Composer/index.js#L272-L301).

The fetch fails due to our strict Content Security Policy:
![failure-ex-1](https://user-images.githubusercontent.com/7277067/175132282-766ebe3c-9253-4d24-8783-1fbba812c4a7.png)

Note that the subdo

[2022-06-22 20:58] stitesExpensify commented on #9183
Not overdue, waiting for b1tjoy to finish their previous pr

[2022-06-22 21:34] marcaaron commented on #9541
I'm not sure there's any bug here and the behavior is expected. The option to download or delete is only available after the attachment is uploaded. That said, I think we can consider adding the ability to download or delete a "pending" attachment. Going to make this internal so that someone with cycles can investigate.

[2022-06-22 21:46] marcochavezf commented on #8311
Hi @parasharrajat! :) any update on this?

[2022-06-22 21:56] NikkiWines commented on #9537
I am unable to reproduce this on my iPhone (app version 1.1.78-7)

https://user-images.githubusercontent.com/16747822/175148706-a2e05872-d226-448b-bcc8-36b7111e84c6.MP4

[2022-06-22 21:57] pecanoro commented on #9537
Let's close it since we can't reproduce it!

[2022-06-22 21:57] #9537 closed

[2022-06-22 23:28] jliexpensify commented on #9287
Sent invites to @allroundexperts and @rushatgabhane

[2022-06-22 23:34] jliexpensify commented on #9487
@rushatgabhane I won't apply the exported label here, as it looks like we're just paying you $250 right? Please tag me in the Gh when you've accepted and I'll sort this out.

[2022-06-22 23:41] #8134 closed

[2022-06-22 23:55] trjExpensify commented on #9123
@thesahindia the job expired today, so I've reposted it [here](https://www.upwork.com/jobs/~01935f62be2a68928d) and invited you to it.

[2022-06-22 23:57] trjExpensify commented on #8915
Seems to have gone quiet here. I've [increased the price for the job](https://www.upwork.com/jobs/~01fcac73e3ce9fa2d7) on Upwork.

[2022-06-22 23:58] trjExpensify commented on #9252
Not overdue, Melv. Awaiting proposals.

[2022-06-23 02:09] greg-schroeder commented on #9517
I'm going to take your word for it that you are in fact pressing the arrow keys when nothing happens in the video 😆

[2022-06-23 02:19] JosueEchandiaAsto commented on #9508
### Proposal

### Issue

Another context menu shows up, when is hiding.

### Fix

You need to set true in `useNativeDriver` and `hideModalContentWhileAnimating` in the Modal component, if you don't want to change it for all modals you can just add it in PopoverWithMeasuredContent

https://github.com/Expensify/App/blob/3282de35957e68ba8712e0f0e4e7e92b5e665a14/src/components/Modal/index.ios.js#L6-L1

[2022-06-23 02:36] Regaron commented on #9459
https://github.com/Expensify/App/blob/b38693e78e955ff3c19ebe5681390f85d4c5b2d4/src/components/TextInput/BaseTextInput.js#L255

[2022-06-23 02:36] Regaron commented on #9459
https://github.com/Expensify/App/blob/b38693e78e955ff3c19ebe5681390f85d4c5b2d4/src/components/TextInput/BaseTextInput.js#L255

This line is making the input controlled. And controlled input seems to have the above mentioned problem.

[2022-06-23 04:18] mananjadhav commented on #8929
@JosueEchandiaAsto's proposal looks good. Some minor code quality can be fixed in the PR feedback cycle.

@roryabraham What are your thoughts?

🎀 👀 🎀
C+ reviewed

[2022-06-23 04:21] mananjadhav commented on #9283
@marcaaron The issue still exists even if we move the button to the bottom. @liyamahendra's proposal is good to go with the feedback https://github.com/Expensify/App/issues/9283#issuecomment-1156966917 here.

[2022-06-23 05:34] kaushiktd commented on #9123
We need to remove width from styles.emojiItem contains a width of 12.5% and I found that when adding width or increasing width is breaking it in safari.

So we need to remove the width from the below file on line#70
https://github.com/Expensify/App/blob/db27a3dc4a61c552b8e827819261310592ad7914/src/components/EmojiPicker/EmojiSkinToneList.js#L70

Need to remove width property from below file on lin

[2022-06-23 05:34] kaushiktd commented on #9535
For that when you have removed your bank account then maybe props is not getting
refreshed so it is showing still locked. We need to find whether the redux props value is getting
updated or not.

[2022-06-23 09:31] liyamahendra commented on #9283
@marcaaron @mananjadhav Please let me know if you guys would like me to raise a PR.

[2022-06-23 09:37] mananjadhav commented on #9283
@liyamahendra Please wait for the proposal to be accepted and to be hired (atleast here on GH). You can then start with the PR. Thank you for your patience.

[2022-06-23 09:40] SumitDiyora opened #9544 "[Medium]: Color Contrast: Insufficient color contrast for control."
## Action Performed:
1. Using Chrome, open URL: staging.new.expensify.com
2. Select any chat.
3. Click on any earlier attachment or Click on the grey colored plus icon and select "Add attachment",Upload any picture and click on send to upload attachment.
5. Click on the 'Download' icon.
6. Observe that the analyser reports that the contrast ratio is not sufficient.

## Expected Result:
The "Downlo

[2022-06-23 10:56] MehmetFaahem commented on #9487
<h1>Hey, I can solve your issue. Your Issue:  button component passing an wrong parameter or cannot passing a string. It might be solved by me</h1>

[2022-06-23 10:56] Julesssss commented on #9533
The links do redirect to https, but I see that we show the URL as http. I think this issue should have been raised in the PR which introduced it though. I'll link it now.

[2022-06-23 11:36] mdneyazahmad commented on #9459
## Proposal

To understand the issue better I created a bare minimum expo project and this issue also exists there. Android works fine but iOS has the issue. I think this is a bug in react native itself as the two platforms behave differently.

When we have text larger than the space available and explicitly set the curser in between and typing the cursor position does not change and it prepends t

[2022-06-23 11:59] mdneyazahmad commented on #7918
Not receiving any new thoughts on [Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1654195847140899). Can someone help me with the next step?

[2022-06-23 12:24] Santhosh-Sellavel commented on #9533
You may have tried with popular websites like google, they won't allow 'http://' urls.

Try 'http://google.com' in browser it would get automatically redirected to 'https://' site.

Same happens in this case too.

[2022-06-23 13:06] Julesssss commented on #9533
I agree the link works as expected, but it's not showing the correct URL in the tooltip.

[2022-06-23 13:40] trjExpensify commented on #9229
Paid @parasharrajat now. Closing.

[2022-06-23 13:40] #9229 closed

[2022-06-23 13:48] luacmartins commented on #9517
Maybe a regression from https://github.com/Expensify/App/pull/9473? @JosueEchandiaAsto @rushatgabhane

[2022-06-23 14:11] parasharrajat commented on #9229
@trjExpensify I have accepted the offer.

[2022-06-23 14:18] JosueEchandiaAsto commented on #9517
@luacmartins
Remove the change made in https://github.com/Expensify/App/pull/9473, this change is not associated, and only modifies the emojis menu. However we can replicate the logic of the emojis menu, to listen for arrow events and according to it remove or assign the focus on the contact list and the search bar.

https://user-images.githubusercontent.com/16966456/175319939-c6aefce8-98ae-4525-b

[2022-06-23 14:20] parasharrajat commented on #9459
Thanks, I will do some research and get back to you.

[2022-06-23 14:26] luacmartins commented on #9415
@Santhosh-Sellavel maybe I'm mistaken but the other issue seems to be different. I see that the Cancel button is focused, but pressing 'enter' still deletes the Workspace. I think we should fix that behavior.

[2022-06-23 14:30] kaushiktd commented on #9535
@Santhosh-Sellavel Can you please explain what you mean by making a proposal? I checked that examples link which shows a list of HOLD FOR PAYMENT tasks. If you can guide me, will be very helpful.

[2022-06-23 15:26] melvin-bot[bot] opened #9545 "[HOLD for payment 2022-09-23] [$500] 💥 Crash 💥 `DetailsPage`"
## Non-fatal Exception: JavaScriptError
### Cannot read property 'login' of undefined
### `main.jsbundle:240800:53 line 240800` `DetailsPage`
### Number of Crashes: 10

## Device Information
* **Platforms:** Android, iOS
* **App Versions:** `1.1.64.0`, `1.1.66.1`, `1.1.88.3`, `1.1.95.4`, `1.2.11-2`
* **Devices:** samsung SM-G950F 9, Apple iPhone11,8 15.4.1, Apple iPhone14,5 15.6.0, Apple iPhone11,

[2022-06-23 15:26] melvin-bot[bot] opened #9546 "💥 Crash 💥 `recheckNetworkConnection`"
## Non-fatal Exception: JavaScriptError
### undefined is not a function
### `main.jsbundle:123680:27 line 123680` `recheckNetworkConnection`
### Number of Crashes: 1

## Device Information
* **Platforms:** iOS
* **App Versions:** `1.1.49.1`
* **Devices:** Apple iPhone13,3 15.3.1

## Stacktraces
<details>
<summary>iOS 1.1.49.1</summary>

[code]
</details>

---
<details>
<summary>Internal Firebase I

[2022-06-23 15:26] melvin-bot[bot] opened #9547 "💥 Crash 💥 `shouldComponentUpdate`"
## Non-fatal Exception: JavaScriptError
### Cannot read property 'isOffline' of undefined
### `main.jsbundle:199426:30 line 199426` `shouldComponentUpdate`
### Number of Crashes: 4

## Device Information
* **Platforms:** iOS
* **App Versions:** `1.1.57.17`, `1.1.64.0`, `1.1.67.0`, `1.1.71.1`
* **Devices:** Apple iPhone13,2 15.5.0, Apple iPhone12,5 15.5.0, Apple iPhone11,2 15.5.0, Apple iPhone14,3

[2022-06-23 15:26] melvin-bot[bot] opened #9548 "[HOLD for payment 2022-08-30] [$500] 💥 Crash 💥 `render`"
## Non-fatal Exception: JavaScriptError
### Cannot read property 'isOffline' of undefined
### `main.jsbundle:232615:84 line 232615` `render`
### Number of Crashes: 9

## Device Information
* **Platforms:** iOS, Android
* **App Versions:** `1.1.57.17`, `1.1.64.0`, `1.1.68.0`, `1.1.88-13`, `1.1.92.0`
* **Devices:** Apple iPhone11,8 16.0.0, samsung SM-A326U1 11, Apple iPhone11,8 15.5.0, Apple iPad8,4

[2022-06-23 15:42] luacmartins commented on #9415
Ah I see! Since we can't select the Cancel button anymore I think it's ok to use 'Escape' to close the modal and 'Enter' to confirm deleting the Workspace. I'll leave a comment in the other issue.

[2022-06-23 16:00] adeel0202 commented on #7968
The actual issue was fixed almost a month ago as mentioned [here](https://github.com/Expensify/App/issues/7968#issuecomment-1136373415), so we can close it but I think I'm eligible for the reporting bonus.

[2022-06-23 16:12] rushatgabhane commented on #9517
@JosueEchandiaAsto thanks for the investigation!

@luacmartins #9473 isn't on production yet.
This issue is a duplicate of https://github.com/Expensify/App/issues/7648. We can safey close this!

[2022-06-23 16:17] parasharrajat commented on #9466
Ok, I see what is happening here. Thanks for your proposal @bdt2019unicorn.  I understood your general analysis. But you have to propose a solution that works with the codebase. In other workds, what would you do to solve this issue in our app?

[2022-06-23 16:25] roryabraham commented on #7648
Yes, the PR I have been working on implements arrow key navigation in many places on the site.

Because I chose to solve this class of problem almost everywhere in the app, it involves a large refactor of some of our most complex components.

[2022-06-23 16:30] stephanieelliott commented on #9444
Sorry for the wait, I've been out at a conference!

Upwork job is here: https://www.upwork.com/jobs/~01e107e5f916abe7ab

@b1tjoy please apply for the job in Upwork

[2022-06-23 16:34] amyevans commented on #9290
Was able to reproduce when trying again today

[2022-06-23 16:47] marcaaron commented on #9283
@liyamahendra Can you please summarize in a new comment the complete proposal?

[2022-06-23 16:50] rushatgabhane commented on #9254
It'll be very annoying for the text input to be blurred when you come back from a different tab on _WEB_. So we could add this listener on mWeb only using `isSmallScreenWidth`.

Also, so `document` doesn't exist on native so we'll have to create seperate files.

[2022-06-23 16:58] rushatgabhane commented on #9122
Interesting. I couldn't repro this issue because I had some text autofilled.

https://user-images.githubusercontent.com/29673073/175353758-5f46dbf2-0c83-4f18-9273-b0d6cb7d3658.mp4

[2022-06-23 17:03] rushatgabhane commented on #9122
Can you please dive deeper into the root cause? I think `git bisect` will be helpful because this issue isn't on production.

[2022-06-23 17:04] eVoloshchak commented on #9254
Sure thing

Ok, I'll create platform-specific files for the [TextInputWithCurrencySymbol.js](https://github.com/Expensify/App/blob/12e87447e0a1dcb5a8523e39865f559c6d6f3bb6/src/components/TextInputWithCurrencySymbol.js)

[2022-06-23 17:10] MTN718 commented on #9122
@rushatgabhane I have explained it's because of avoiding section height increasing when go password screen. I have tried reduce it and then it does not move up

[2022-06-23 17:15] rushatgabhane commented on #9122
It makes keyboard avoiding section increase than username input section. So should be KeyboardAvodingSection should be cover only TextInput in Passwod Form like this

@MTN718 I don't think it's because of that because it works fine in production. Please let me know if I'm missing something

[2022-06-23 17:17] rushatgabhane commented on #9254
@Beamanator the best possible solution is to fix it in chrome by adding a prop which makes the browser respect custom keyboards.

Anyway, this would be just a hack. I think this is a really minor edge case with an easy workaround.

[2022-06-23 17:18] MTN718 commented on #9122
@rushatgabhane How can i check production app for android/ios?

[2022-06-23 17:19] rushatgabhane commented on #9122
@MTN718 you can download it from the app store. Or checkout to the [production](https://github.com/Expensify/App/tree/production) branch

[2022-06-23 17:27] rushatgabhane commented on #9122
@marcaaron i'm sorry for the misunderstanding. This issue is reproducible on main and staging.

[2022-06-23 17:39] MTN718 commented on #9122
@rushatgabhane I just pull from production branch and try run on Android but still problem on production branch too. Let me add video

[2022-06-23 17:41] parasharrajat commented on #6883
Thank you @azimgd

[2022-06-23 17:44] rushatgabhane commented on #9122
@MTN718 if you'll checkout to this commit  https://github.com/Expensify/App/commit/bdb101a14bbd356a111f2e8e11755b058d1082be which was made 23 days ago, you won't be able to repro this issue.

[2022-06-23 17:46] MTN718 commented on #9122
You mean main branch?

[2022-06-23 17:50] parasharrajat commented on #9389
Allowing the user to enter `.12` Will be problematic. This is not a valid number and we can't modify the user input while he is typing.

I think we don't need to change this.

[2022-06-23 17:56] rushatgabhane commented on #9487
Apologies for the delay! Working on it.

[2022-06-23 18:07] MTN718 commented on #9122
I have checkout that commit and tried run on android. But it's same

![image](https://user-images.githubusercontent.com/12084368/175365516-eb3c05d0-86ec-4f70-b486-d01d7d24b7ab.png)

Let me add video

[2022-06-23 18:44] marktoman commented on #9240
@parasharrajat The shortcut is supported natively on the web and triggers the paste event. The trick is to distinguish a regular paste from a plain text paste. First two options are a bit hacky, but option C is reliable because the flag is always set before the paste event is invoked.

[2022-06-23 18:50] parasharrajat commented on #9240
I am testing on Firefox and it does not work but works on Chrome and I think on safari as well.

[2022-06-23 18:53] parasharrajat commented on #9240
IMO, we don't have to go through the hurdle of removing MD syntax. What if we just save two DataTypes in the clipboard while copying. `text/html` and `text/plain`. Currently app only saves `text/plain`.

[2022-06-23 18:57] marktoman commented on #9240
BTW you can expect `text/html` almost everywhere (Text Edit, Slack ...) for any copy, so this is not really indicative of the clipboard content. But the plain text paste strips them anyway and keeps only `text/plain`. Firefox is supported?

[2022-06-23 19:12] parasharrajat commented on #9332
@marktoman Would you please add diff instead of snippets it would be easier to see what exactly is changed?

[2022-06-23 19:19] thesahindia commented on #9123
Pushed the code but getting error because of fonts at ios. Tryna work on that now.
![Simulator Screen Shot - iPhone 13 - 2022-06-24 at 00 47 57](https://user-images.githubusercontent.com/83179295/175379977-ee59a104-7eb4-4022-9bc6-acc9b5137677.png)

[2022-06-23 19:19] stephanieelliott commented on #9389
Why is this not a valid number? `.12` is a fraction of a whole dollar (or relevant currency). There are definitely use cases where someone would create an IOU for an amount that is less than a whole dollar.

May be helpful to get additional opinions on this, I posted it to Slack for discussion: https://expensify.slack.com/archives/C01GTK53T8Q/p1656011822536519

@parasharrajat can you jump in that

[2022-06-23 19:21] marcaaron commented on #9283
Perfect, thanks!

[2022-06-23 19:33] marcaaron commented on #7081
I think we should maybe explore a solution like that in a follow up and do something temporary for now. Replacing the rows with chat messages sounds fairly complex to me and we should spend more time evaluating what it would take technically and possible alternatives before trying to code in the active PR.

[2022-06-23 20:07] parasharrajat commented on #7081
Sounds good. So then we can forget the enter/exit animation for the skeleton view used for loading more items. This can be handled in follow-up issues.

Let's do this and call it a day.

[2022-06-23 20:09] jayeshmangwani commented on #7470
@mananjadhav @stitesExpensify

Updates for the issue,

I tested a few cases with react-native-web and I found that when we wrap a view/textinput in the parent view with the borderWidth then we are getting a slight UI white space around the child, it doesn't matter if we pass the flex or width/height same as a parent there will be little white space around child view, and I am trying from several d

[2022-06-23 20:10] liyamahendra commented on #9283
@marcaaron I have applied for the job on Upwork. Have created the PR [here](https://github.com/Expensify/App/pull/9552)

[2022-06-23 20:34] parasharrajat commented on #7375
PR is created. But there is some delay before the menu is shown as coordinate calculations are done asynchronously. I will look into alternatives to remove the delay. I have already tried three different implementations but none of them removed the delay/ was most effective.
1. Pass ref and calculate position via `ref.measure`. Current PR.
2. Use `onLayout` to get coordinates and pass them instead

[2022-06-23 20:35] mallenexpensify commented on #7648
whoooohooo.. thanks @roryabraham (and @rushatgabhane ) keyboard nav and shortcuts FTW!!!

[2022-06-23 20:43] roryabraham commented on #9211
No update here, still on HOLD

[2022-06-23 20:44] roryabraham commented on #7582
No update here

[2022-06-23 20:45] roryabraham commented on #8597
Still on hold

[2022-06-23 20:51] jliexpensify commented on #9248
No regressions, paying @adeel0202 , @allroundexperts and @rushatgabhane $250 each today.

[2022-06-23 20:54] jliexpensify commented on #9248
@adeel0202 - having issues finding you in Upworks, can you link your profile please?

[2022-06-23 21:04] srikarparsi commented on #9408
commented on N7 doc to include this change, on hold until it's finished

[2022-06-23 21:09] rushatgabhane commented on #9487
@jliexpensify yes, sounds good! Accepted the offer.

Note that we might fix it at the backend

[2022-06-23 21:30] MitchExpensify commented on #9402
@JosueEchandiaAsto Am I right in understanding you are considering a proposal for this change?

[2022-06-23 21:34] mallenexpensify commented on #6438
yeah, we don't need to try to perfect it before testing. For this issue, should I:
1. Update the title with preface `[Needs Repro]`
2. Update the OP to reflect the deliverable (for $250) is consistently reproducible steps on on iPhone mini 12
3. Update #expensify-open-source to state this the new deliverable? (not sure this is _needed__

I opened a new job in Upwork (other was expired) and set the

[2022-06-23 21:40] rushatgabhane commented on #9487
@jliexpensify yeah, after that's resolved, we'll know if this needs to be fixed internally or externally.

I'll ping you once that's resolved.

[2022-06-23 21:41] marcochavezf commented on #9089
Forgot to add the `Reviewing` label here, but also seems this issue is still happening in QA https://github.com/Expensify/App/pull/9471#issuecomment-1164266575

[2022-06-23 21:44] JosueEchandiaAsto commented on #9402
@MitchExpensify Hello, I have been preparing another proposal but it is complicated to recover the local image when the image post-upload service is called again. At the moment, I am looking at other Issues.

[2022-06-23 21:55] MitchExpensify commented on #9402
Got it! Thanks for that context.

[2022-06-23 21:58] jliexpensify commented on #9487
@rushatgabhane - great, let me know! I'll hold off on payment for now until we work out what needs to be done and how much we need to pay you.

[2022-06-23 21:59] MitchExpensify commented on #9402
Price doubled!

[2022-06-23 22:18] rushatgabhane commented on #9183
@b1tjoy I understand that you have 2 pending tasks and none of them is your fault.

I see that you've been assigned to a 3rd issue - https://github.com/Expensify/App/issues/9444#issuecomment-1164628026
We'll move forward with this issue after https://github.com/Expensify/App/issues/9444 is closed.

I hope this adds some clarity

[2022-06-23 22:19] rushatgabhane commented on #6154
@trjExpensify gently bump ^^

[2022-06-23 23:05] MitchExpensify commented on #9539
[Upwork Issue](https://www.upwork.com/jobs/~012a7d8c9f7157e5b0)

[2022-06-23 23:52] yuwenmemon commented on #9509
Easily reproducible, making this a FirstPick

[2022-06-24 00:16] deetergp commented on #9245
@chiragsalian @mallenexpensify I've barely done any work with the Google Calendar API, so I honestly could not provide any context on how hard what you are trying to do might be. Just off the cuff, I don't think sending a calendar invite to anyone would be prohibitively difficult — inviting people to meetings is a big part of what online calendars are for, and I'd be shocked of Google didn't make

[2022-06-24 00:28] JosueEchandiaAsto commented on #6438
Hello, I saw the job posting on Upwork.
Here's my proposal.

### Proposal

### Issue
For incorporation date - Only month displayed is December, displayed day starts from 24 and displayed year starts from 2022
For Date Of Birth - Dates are completely missing

### Fix

This bug is replicable on all **iOS devices**, the way to replicate it is to configure the appearance of the cell phone in **dark mo

[2022-06-24 00:28] trjExpensify commented on #6154
Ah yes, sorry about that. I caught up with @chiragsalian about this issue as it's a good 100+ comments. It's pretty lengthy, we've had some great investigations so far, but there's quite a bit of context scattered throughout the issue. What would be great is if the C+ could update the OP with the latest information on where we're at, what solutions we're avoiding and any suggestions on how best to

[2022-06-24 03:43] kevinksullivan commented on #8888
Posted a fresh version of the job and doubled price.

https://www.upwork.com/jobs/~01570a3972089306b9

[2022-06-24 03:44] kevinksullivan commented on #9352
@mvtglobally just to be sure, we are no longer seeing this problem at all?

[2022-06-24 03:48] kevinksullivan commented on #9403
Closing unless someone can provide more context. Feel free to reopen if you have something!

[2022-06-24 03:48] #9403 closed

[2022-06-24 03:50] kevinksullivan commented on #9497
Just adding that we believe this already [exists for the send/request money flows](https://expensify.slack.com/archives/C01GTK53T8Q/p1655492009832279?thread_ts=1655491691.902889&cid=C01GTK53T8Q), so that code likely offers some guidance.

[2022-06-24 03:52] kevinksullivan commented on #9497
@thesahindia please apply for reporting. Thanks!

[2022-06-24 03:54] kevinksullivan commented on #9510
Hm I'm not able to reproduce this. @kbecciv are you?

https://user-images.githubusercontent.com/22508290/175458931-19549405-22f9-442c-b285-5afa50b7613f.mp4

[2022-06-24 04:00] mvtglobally commented on #9352
@kevinksullivan
We have another Ki check scheduled this weekend. I suggest we run and see update on Monday if it's still repro or no.

[2022-06-24 04:24] JosueEchandiaAsto commented on #9539
### Proposal

### Issue

Attachment tag displayed in LHN after sent the file

### Fix
After uploading the attached file, it is updating `lastMessageText`, ignoring that it is an attached file, that is why the text is wrong.
https://github.com/Expensify/App/blob/3757142611c84d9ffc59f86c29d1cd6f3db07f01/src/libs/actions/Report.js#L554
We need to add the missing logic so that when it is an attachment

[2022-06-24 04:53] MonilBhavsar commented on #9239
Still on hold

[2022-06-24 06:05] adeel0202 commented on #9248
@jliexpensify here is my Upwork profile: https://www.upwork.com/freelancers/~01d53b0b1ad52f0ef7

[2022-06-24 06:19] jliexpensify commented on #9248
@adeel0202 - invited, cheers! I'll pay once you accept.

[2022-06-24 06:27] jliexpensify commented on #9248
Everyone has been paid!

[2022-06-24 06:27] #9248 closed

[2022-06-24 07:20] ntdiary commented on #8719
# Proposal
## cause
The opening and closing of the soft keyboard will change the height of html(only in android), which will lead to dropdown backdrop repositioning. input blur event and dropdown opened event are happening together.

here is origin code video and image:

https://user-images.githubusercontent.com/8579651/175474103-a44e0c00-ac51-44f1-b72c-94c1a9751e1d.mp4

for debugging, change back

[2022-06-24 07:36] marktoman commented on #9240
We can have option C for everything Webkit-based (Safari, Vivaldi, Edge, etc.), and a fallback method for probably only Firefox, because it does not have any native plain-text paste functionality. Because Firefox has no menu item that would compete with our functionality, we are not hacky if we trigger it directly (option B) on such a platform.

[2022-06-24 08:56] #9517 closed

[2022-06-24 09:18] mananjadhav commented on #7081
Thanks @marcaaron and @parasharrajat for the direction. I'll update the changes and push the latest on the PR between today/tomorrow.

[2022-06-24 09:25] SumitDiyora opened #9557 "[High] JAWS+ Chrome: Error message is not announced by the screen reader."
## Action Performed:
1. Using JAWS+ Chrome, open URL staging.new.expensify.com
2. Select any chat from the page.
3. Click on the Call button and the Request a call page will appear.
5. Leave the form fields blank and click on the "Call me" button, a error message will appear as a nudge.
6. Observe if there is any screen reader announcement.

## Expected Result:
The error message should be announce

[2022-06-24 13:09] aqiftekhar commented on #8888
This link will help to fix this issue.
https://www.geeksforgeeks.org/react-js-error-boundaries/

[2022-06-24 13:22] kaushiktd commented on #9535
@Santhosh-Sellavel When we are adding a new bank detail, Plaid is redirected to Bank sever to authenticate, and we don't have any bank account listed in the Plaid account list.
We can't check it with test credentials because the backend API is returning the production server token, so it is not working.

Without adding any bank account we can't find why it is locked after even being removed. Is th