[2022-02-01 14:20] mananjadhav commented on #7489
Well I guess that works too.

[2022-02-01 14:21] sig5 commented on #7438
Was this fixed internally on the backend? I was in the process of submitting my PR, when I observed that the negative sign doesn't show up anymore.

[2022-02-01 14:26] mananjadhav commented on #7288
@iwiznia Can you please check this comment ? https://github.com/Expensify/App/issues/7288#issuecomment-1017321552

Especially the last recommendation.

cc - @rushatgabhane

[2022-02-01 14:39] thesahindia commented on #7399
This is also reproducible on mac.
cc: @neil-marcellini @mvtglobally

[2022-02-01 14:40] rushatgabhane commented on #7489
🎀👀🎀 C+ reviewed

@iwiznia I recommend that we hire @mananjadhav to fix this.

[Left to right URL naming](https://github.com/Expensify/App/issues/7489#issuecomment-1026889047) (subdomain then domain) seems the simplest, so I think we should go for that.
Let me know if you think otherwise as I don't have any strong opinions on this

[2022-02-01 14:45] okansahin commented on #7480
## Proposal

We can make it same look in every size with flex. We can do same thing to Send Button to fill height.

Here is what I'm talking about.

![Screen Shot 2022-02-01 at 17 42 51](https://user-images.githubusercontent.com/1966034/151989924-28e02bac-9323-4e7c-a28b-60bdc4038ffc.png)

![Screen Shot 2022-02-01 at 17 43 01](https://user-images.githubusercontent.com/1966034/151989938-d341ad40-8f5

[2022-02-01 14:46] aldo-expensify commented on #6931
Adding @MitchExpensify again as I removed him accidentally

[2022-02-01 14:49] mvtglobally commented on #7424
@kidroca any discoveries?

@AndrewGable @thienlnam, it has been 7 days since last deploy. Anything can be done to expedite or downgrade this issue?

[2022-02-01 14:51] shawnborton commented on #7475
The Chrome screenshot is the correct one. Notice how the small Expensify logo and footer text are at the bottom of the view - that's what we want.

[2022-02-01 14:53] sobitneupane commented on #7440
Sure. Thank You.

[2022-02-01 15:01] shawnborton commented on #7081
Actually wider screens is a great point. I think that strengthens the argument to not use an .svg for the actual placeholder shape, this way we can use a container for the fake text that can stretch as wide as we need it.

![yUvLoSStOB](https://user-images.githubusercontent.com/2319350/151993079-d4d9015e-13fc-4205-a16d-d4e6842ab87a.gif)

[2022-02-01 15:09] thesahindia commented on #7313
@tgolen, sorry for the delay but I didn't find any other solution for it.

[2022-02-01 15:20] mananjadhav commented on #7081
@shawnborton @Luke9389 @parasharrajat Wrt to the comment, do you want to explore solution 2 in this comment. https://github.com/Expensify/App/issues/7081#issuecomment-1019341453

The (not so good-looking) video I've attached with the proposal is pure `View` and `Text` to load the view.

[2022-02-01 15:30] rushatgabhane commented on #7480
@mateusbra @okansahin Appreciate your proposals :)

But this is the outcome that we're aiming for. Lemme know if you update your proposals to achieve this. Thanks!

<img width="436" alt="image" src="https://user-images.githubusercontent.com/29673073/151997713-25b0abe3-244e-451a-966e-8cd0920b4448.png">

[2022-02-01 15:30] shawnborton commented on #7081
That's what I am thinking, yeah.

[2022-02-01 15:44] rushatgabhane commented on #7470
@okansahin try the in built autofill on Android for the password page. It is the most easily visible.

To join #expensify-open-source, just email contributors@expensify.com with the subject `Slack Channel Invite` and include a link to your Upwork profile.

[2022-02-01 15:49] okansahin commented on #7480
@rushatgabhane I'm living some troubles to got the issues in this repo I think. :)

It's already like the image you have placed. (on iPhoneSE 1st generation.)  I'm confused, please help me.

![Screen Shot 2022-02-01 at 18 46 34](https://user-images.githubusercontent.com/1966034/152001516-c13bd186-b9c1-4d4a-a0f0-314ef21b17aa.png)

[2022-02-01 15:51] mananjadhav commented on #7475
**Proposal:**

We can add `height: 100vh` to `styles.signInPageWideLeftContainer` which is used in `SignInPageContent` below.

https://github.com/Expensify/App/blob/2c14f01af550f554bc1f488a35654c36b437ba65/src/pages/signin/SignInPageLayout/SignInPageContent.js#L35-L41

[2022-02-01 15:55] parasharrajat commented on #7476
So based on the discussion, we would like to block the RTL mode for the time being until we wish to support RTL.

Please submit updated proposals.

@ahmdshrif Where did `I18nManager` come from?

[2022-02-01 15:57] parasharrajat commented on #7477
@mdneyazahmad This will break out the design framework. Input are set to use 52px height.

What is the cause of this inconsistency on IOS? On which platforms are you able to reproduce this?

[2022-02-01 16:02] thesahindia commented on #7439
### Updated Proposal

To fix this we can add `!this.props.login.validatedDate && styles.mb0` on line 89
https://github.com/Expensify/App/blob/6356971b32c7b593ebcc2b768a65343607ebabbb/src/pages/settings/Profile/LoginField.js#L88-L91

we need to pass `small` in `Button` and on line 113 instead of `styles.createMenuText` we need to pass `styles.buttonSmallText`
https://github.com/Expensify/App/blob/6

[2022-02-01 16:04] parasharrajat commented on #7081
BUt SVG can expand as much as we want. They fill in the available space.

[2022-02-01 16:04] ahmdshrif commented on #7476
It come React-native .

Ok i will update and test it  .

[2022-02-01 16:08] MitchExpensify commented on #7140
Offer sent, final step is to accept and then I can issue payment. Thanks @rushatgabhane

[2022-02-01 16:11] rushatgabhane commented on #7480
@okansahin you're right, I can't reproduce this on `main` either.

[Not urgent] @puneetlath can you please let us know if you can still reproduce this on `main` since you reported the issue.

[2022-02-01 16:14] mananjadhav commented on #7081
Are also okay to explore adding a dependency? https://www.npmjs.com/package/react-content-loader Makes it reusable for future use cases and very small footprint.

[2022-02-01 16:15] parasharrajat commented on #7081
No extra processing. SVG runs on the UI layer.

But I would say, lets do whatever is easier.

[2022-02-01 16:15] rushatgabhane commented on #7140
@MitchExpensify done ✅
Sorry for the delay, missed the notification 😅

[2022-02-01 16:20] puneetlath commented on #7354
Hm, @adeel0202 I sent you a hiring offer for the job on Upwork. Can you link me your Upwork profile so that I can confirm it was sent to the right person.

[2022-02-01 16:22] tgolen commented on #7313
Hm, I just realized that this never got the `external` label on it, so the issue hasn't been going through the process. I'm still waiting for a good solution to this one.

[2022-02-01 16:23] parasharrajat commented on #7491
@adeel0202 Would like to propose a solution or should I review the existing ones?

[2022-02-01 16:24] adeel0202 commented on #7354
@puneetlath, here is my Upwork profile: https://www.upwork.com/freelancers/~01d53b0b1ad52f0ef7

[2022-02-01 16:25] adeel0202 commented on #7491
@parasharrajat, you can review the existing one.

[2022-02-01 16:27] mountiny commented on #7491
Updated the title so we do not forget to pay @adeel0202 for reporting the issue.

Let's not forget it is happening on both iOS and Android.

[2022-02-01 16:29] puneetlath commented on #7354
Whoops. I had sent a hiring offer to the wrong person 😅. Sent you the offer now!

[2022-02-01 16:29] neil-marcellini commented on #7399
To clarify, do you mean type a completely new username into the new chat input? Or do you mean create a new user and then type their name into the new chat input?

[2022-02-01 16:30] parasharrajat commented on #7491
@mateusbra I think we can just add a Boolean check with `_.isString`

[code]

Should that be enough?

[2022-02-01 16:33] adeel0202 commented on #7354
Got it and accepted it. Thanks 😄

[2022-02-01 16:35] mallenexpensify commented on #5946
Hired, @Santhosh-Sellavel , please let me know when you've accepted

[2022-02-01 16:37] thesahindia commented on #7399
Yes we just need to type a new username

[2022-02-01 16:42] luacmartins commented on #7495
Marking this as external.

[2022-02-01 16:44] NikkiWines commented on #5620
I don't know about the auto-posting, but based on our previous rules of "wait a week after deploying to prod and issue payment if there are no regressions" we would issue payment tomorrow as mentioned [here](https://github.com/Expensify/App/issues/5620#issuecomment-1022769335).

Looks like no one in slack has experienced this one either. Great job seeing this through @zoontek and thanks for all th

[2022-02-01 16:59] mateusbra commented on #7491
@parasharrajat I think it is, updated my proposal.

[2022-02-01 17:05] parasharrajat commented on #7491
Yeah, correct.

It should be like
[code]

[2022-02-01 17:10] puneetlath opened #7499 "Don't let users request call if blocked from Concierge"
If a user is blocked from chatting with Concierge they also shouldn't be able to request a call from a guide. We handle it at the API level [here](https://github.com/Expensify/Expensify/issues/194298), but let's also block them from requesting the call on the front-end.

[2022-02-01 17:14] rushatgabhane commented on #7485
Working on it. Will update in a few hours.

[2022-02-01 17:18] sobitneupane commented on #7496
**Reason**
Code block is wrapped by `<pre>` `</pre>` tags. And When new line is added `<br />` tag is also added. So, In turn, `</pre> <br />` tags get added in the html.
Here, `</pre>` tag changes the line and `<br />` add another line. So there is extra line.

**Proposal**
If we replace the tag `</pre> <br />` by `</pre>`, the issue will be solved. For this, we should add new rule in this.rules

[2022-02-01 17:23] mateusbra commented on #7491
Proposal updated again, also added IOS's screenshots

[2022-02-01 17:23] phivh commented on #7385
@laurenreidexpensify applied for the job on Upwork. (https://www.upwork.com/jobs/~014fa34661ee0b416d)
The PR will be submitted before 02/05.

[2022-02-01 17:24] NicMendonca opened #7500 "Unable to invite user via phone number to a Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Invite user from workspace
2. Enter Phone Number
3. Click Invite
4. Observe error message "an error occurred inviting user to workspace, please

[2022-02-01 17:28] zoontek commented on #5620
@NikkiWines I'm glad it solves your issue! Also, I never gained money with react-native-bootsplash / localize / permissions development and maintenance (except ~20$ per month with sponsors). It will be a first, thank you! 🙌

[2022-02-01 17:34] roryabraham commented on #7424
Talked with @thienlnam about this and we're going to demote it from deploy blocker to regular bug. Since we can't reproduce it, we won't be able to quickly fix it, and we don't want to continue holding up the deploy. Please add this to weekly KI retests.

Also, let's make this external and get more eyes on it? It seems likely that it's related to Onyx or network code, so seems like something in @k

[2022-02-01 17:36] roryabraham commented on #7395
https://github.com/Expensify/App/issues/7424 has been demoted from deploy blocker to bug, checking it off for now. Let's retest it weekly with other KI's please.

[2022-02-01 17:36] roryabraham commented on #7395
https://github.com/Expensify/App/issues/7412 was also demoted as well.

[2022-02-01 17:36] roryabraham commented on #7395
:shipit:

[2022-02-01 17:39] botify commented on #7293
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.33-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7333

If no regressions arise, payment will be issued on 2022-02-08. :confetti_ball:

[2022-02-01 17:39] botify commented on #7269
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.33-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7319

If no regressions arise, payment will be issued on 2022-02-08. :confetti_ball:

[2022-02-01 17:39] botify commented on #6767
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.33-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7355

If no regressions arise, payment will be issued on 2022-02-08. :confetti_ball:

[2022-02-01 17:39] botify commented on #3189
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.33-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6587

If no regressions arise, payment will be issued on 2022-02-08. :confetti_ball:

[2022-02-01 17:39] botify commented on #7315
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.33-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7368

If no regressions arise, payment will be issued on 2022-02-08. :confetti_ball:

[2022-02-01 17:39] botify commented on #6836
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.33-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7209

If no regressions arise, payment will be issued on 2022-02-08. :confetti_ball:

[2022-02-01 17:39] botify commented on #7261
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.33-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7367

If no regressions arise, payment will be issued on 2022-02-08. :confetti_ball:

[2022-02-01 17:39] MitchExpensify commented on #7140
Paid! Thanks again @rushatgabhane

[2022-02-01 17:39] botify commented on #3922
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.33-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7373

If no regressions arise, payment will be issued on 2022-02-08. :confetti_ball:

[2022-02-01 17:41] mountiny commented on #7491
Thank you for the review @parasharrajat. @mateusbra Feel free to create a PR. Thank you for working on this!

[2022-02-01 17:41] OSBotify opened #7504 "Deploy Checklist: New Expensify 2022-02-01"
**Release Version:** `1.1.33-4`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6556
  - [ ] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7099
  - [ ] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7218
  - [ ] QA

[2022-02-01 17:42] mateusbra commented on #7491
@mountiny May I send a proposal on upwork?

[2022-02-01 17:42] mountiny commented on #7491
Sure!

[2022-02-01 17:48] mateusbra commented on #7491
Proposal sent on upwork, once I'm hired I'll rise a PR

[2022-02-01 17:51] thesahindia commented on #7264
Ping for Upwork
cc @MitchExpensify

[2022-02-01 18:00] michaelhaxhiu commented on #7496
Posted the job to upwork and updated the GH to include the [job link](https://www.upwork.com/jobs/~01ac5957ca23f14a0c).

[2022-02-01 18:01] michaelhaxhiu commented on #7496
👋 hey rushat, it looks like @sobitneupane [left a proposal](https://github.com/Expensify/App/issues/7496#issuecomment-1027092496) right before this was posted to Upwork. Just wanted to highlight that in case it was missed!

[2022-02-01 18:12] puneetlath commented on #7480
Hm, yeah I can't either. I'll close. Thanks y'all!

[2022-02-01 18:12] #7480 closed

[2022-02-01 18:13] mvtglobally commented on #7504
Starting QA

[2022-02-01 18:46] kidroca commented on #7424
Just saw this getting deployed to production: https://github.com/Expensify/App/pull/7370#issuecomment-1027134833

it was related to infinite loading when null was set on Onyx affecting iOS and Android

It could be related, though I see that the issue is reported to be seen in staging and not prod

[2022-02-01 19:03] parasharrajat commented on #7476
Strange. RN docs do not have anything on this apart from a blog post.

Can't we do this via configuration files? Androidmanifest.xml and whatever is there for IOS.

Android has `android:supportsRtl`.

[2022-02-01 19:17] deetergp commented on #7432
I am 95% sure this is be something an external contributor could fix.

[2022-02-01 19:22] Luke9389 commented on #7081
After reading the code for this package, https://www.npmjs.com/package/react-content-loader, I would be OK with using it. It uses another package called ['react-native-svg'](https://github.com/react-native-svg/react-native-svg) to handle svgs in the native environment, and uses an `<svg>` tag for web.

I'm going to open this up for a few more opinions before moving forward. See you all on slack!

[2022-02-01 19:31] michaelhaxhiu opened #7510 "Update work bio in Comp tool for Michael Haxhiu"
user - mhaxhiu@expensify.com

## Actual result

I have updated my work bio at least 3 distinct times and saved it (most recently today around 11AM EST, after Lauren reached out). It keeps getting removed for some reason? At this point, I can't tell if it's saved or not. Can you please help me check @tgolen?

![image](https://user-images.githubusercontent.com/13206896/152037906-784f89cd-d39e-4ec4-b

[2022-02-01 19:33] michaelhaxhiu commented on #7510
@tgolen is it possible that mine saved, and it's just not showing up?

Lauren just mentioned she can see mine

[2022-02-01 19:33] #7510 closed

[2022-02-01 19:34] michaelhaxhiu commented on #7510
![image](https://user-images.githubusercontent.com/13206896/152038240-29ba2638-917e-4ce0-8afb-60649c7e9a0b.png)

[2022-02-01 19:39] michaelhaxhiu commented on #7425
Hmmm so if I'm following correctly, the user is able to access the password reset link twice? And it should expire after the first time it's visited?

Is that right or am I not following correctly, @kavimuru ?

[2022-02-01 19:46] michaelhaxhiu commented on #6032
Still unfolding.

[2022-02-01 19:56] MitchExpensify commented on #7491
@parasharrajat hired for eventual C+ payment
@mateusbra hired for eventual solution payment
@adeel0202 please also apply for eventual reporting payment - [Job](https://www.upwork.com/jobs/~019e998918fe382400) - Thank you!

[2022-02-01 20:10] MitchExpensify commented on #7264
Paid @thesahindia with reporting bonus!

For C+ payment I've invited you here @parasharrajat https://www.upwork.com/jobs/~0156510abd9a49118d

(Going forward I am making a point to invite C+, reporter, and assignee to the OG Upwork posting to avoid this reapplication/reusing of jobs when the OG post automatically closes which is something Upwork have said they cannot disable)

[2022-02-01 20:16] Santhosh-Sellavel commented on #5946
Accepted, thanks! @mallenexpensify

[2022-02-01 20:35] #7166 closed

[2022-02-01 20:42] kadiealexander commented on #7461
Posted to Upwork! https://www.upwork.com/jobs/~01e462f091c7f9eff2

[2022-02-01 20:46] SofiedeVreese commented on #7466
Ok perfect, I've hired you in Upwork @sobitneupane !

[2022-02-01 21:22] stephanieelliott commented on #7265
Gentle bump on this @parasharrajat, will you have the PR ready to push live soon?

[2022-02-01 21:24] luacmartins commented on #7391
Picking this one up!

[2022-02-01 21:26] NicMendonca commented on #7313
Upwork job: https://www.upwork.com/jobs/~01c95aae42da437db3

[2022-02-01 21:27] stephanieelliott commented on #7011
Paid out @CSFlorin!

@rushatgabhane this one was closed before hiring a C+. I created a new job so we can pay you out for C+ portion, can you apply to it when you get a sec? https://www.upwork.com/jobs/~017cf2593b424a57e5

[2022-02-01 21:30] rushatgabhane commented on #7011
Haha, thanks so much! @stephanieelliott

[2022-02-01 21:30] stephanieelliott commented on #7076
Yeah, I agree @puneetlath! I'll test and create a new issue, will link it and close this once I am done.

[2022-02-01 21:44] kadiealexander commented on #7432
Posted to Upwork https://www.upwork.com/jobs/~010dee2324de4cf53e

[2022-02-01 22:15] ahmdshrif commented on #7476
https://reactnative.dev/blog/2016/08/19/right-to-left-support-for-react-native-apps

React native have this blog post to support rtl . And we use the same to not support rtl .

I see here he add the native config to support rtl.  So i will add it also may be will need this config on some android or ios versions.

So adding this for

// in MainActivity.java
        I18nUtil sharedI18nUtilInstance =

[2022-02-01 22:20] mallenexpensify commented on #6877
Doubled price to $500 and created new job, old one had expired https://www.upwork.com/jobs/~0152b68b2bb7a2e6df

[2022-02-01 22:34] adelekennedy commented on #7495
Internal: https://www.upwork.com/ab/applicants/1488640967056285696/job-details
External: https://www.upwork.com/jobs/~0106064b8b3bac3030

@thesahindia hired you for the reporting bonus!

[2022-02-01 22:37] Luke9389 commented on #7081
Here's the slack convo I mentioned above: https://expensify.slack.com/archives/C01GTK53T8Q/p1643743784049659

We're OK with using `react-content-loader` 👍

[2022-02-01 22:39] adelekennedy commented on #7440
Job opened!
Internal: https://www.upwork.com/ab/applicants/1488642670849454080/job-details
External: https://www.upwork.com/jobs/~018482cb2a8452d640

@sobitneupane hired you!

[2022-02-01 22:39] Luke9389 commented on #7081
@parasharrajat, how would you like to do this? `react-content-loader` was @mananjadhav's idea. @mananjadhav are you still busy with other issues?

I think we still want a full proposal either way, that talks about using `react-content-loader`. Do you agree @parasharrajat ?

[2022-02-01 23:04] deetergp commented on #7494
Definitely something contributors could work on.

[2022-02-01 23:08] neil-marcellini commented on #7461
I'm going to wait until the slack conversation reaches a consensus to decide if this is a problem or not.

[2022-02-01 23:13] neil-marcellini commented on #7399
I was unable to reproduce on my dev environment on all platforms, even when typing a new username into the input. I was also unable to reproduce it on web production. I'm going to un-assign and let someone work on this who is able to reproduce it.

[2022-02-01 23:17] kidroca commented on #7434
`AbortController` cancels any requests that made it past `HttpUtils.xhr`
Remaining requests in our queue can be cleared like we already do here
https://github.com/Expensify/App/blob/2cdb7c30be70766b3c006a67153665d895ba83ac/src/libs/Network.js#L335-L337

[2022-02-01 23:36] K4tsuki commented on #6806
@roryabraham as you are engineering contributor manager, Here is my [proposal](https://github.com/Expensify/App/issues/6806#issuecomment-1024863575) for this problem.

There should be different treatment on intricate bug like this and clear bug like `padding is not centered, or button is not same width/height, etc`. It is just really frustrating after I am searching the cause of this bug for some

[2022-02-02 00:07] deetergp commented on #7201
Thanks, @mvtglobally! I'm going to close this one now.

[2022-02-02 00:07] #7201 closed

[2022-02-02 00:12] deetergp commented on #7084
Oh no, @kadiealexander, un-assigning you was completely by accident. I must have "unassigned everybody" around the same time the `External` label added you.

According to @mvtglobally this issue is no longer reproducible during the KI retests. Let's let it ride through next week and if that is still the case, I will close it.

[2022-02-02 00:15] jliexpensify commented on #7475
Posted!

Internal - https://www.upwork.com/ab/applicants/1488667310574927872/job-details
External - https://www.upwork.com/jobs/~01c643d020f7da589f

[2022-02-02 00:27] roryabraham commented on #7475
I'm not able to reproduce this issue. What version of macOS/Safari was used?

[2022-02-02 00:34] luacmartins commented on #7495
@thesahindia your proposal looks good!

[2022-02-02 00:59] rushatgabhane commented on #7485
Draft of my suggestion in this doc - https://docs.google.com/document/d/1TD8A-SQbBN2EsnF98cEib2wiERK68fux2P0LGSkobrg/edit

[2022-02-02 01:04] mallenexpensify commented on #6591
@K4tsuki can you apply for the job and confirm here once you have? https://www.upwork.com/jobs/~01342882f93e8ea651

[2022-02-02 01:10] mallenexpensify commented on #5620
Thanks @NikkiWines , I missed/forgot the previous comment :ohnothing:
Thanks for the fix @zoontek, it looks like payment was issued on December 14, 2021 for $8000, can you confirm you received?
![image](https://user-images.githubusercontent.com/22508304/152077532-b95e7aab-23f9-46ec-810c-d310fccce55b.png)

[2022-02-02 01:20] mallenexpensify commented on #5946
Paid, thanks @Santhosh-Sellavel

[2022-02-02 01:20] #5946 closed

[2022-02-02 01:27] parasharrajat commented on #7081
Yeah, package looks good to me it use SVG which is cool.

Let's give this opportunity to @mananjadhav . @mananjadhav could you please post a new proposal explaining bit and pieces as now it's clear on what should be done?

[2022-02-02 01:46] roryabraham commented on #6806
Hi @K4tsuki, I appreciate your work in investigating this issue. @tgolen is actually the engineering contributor manager for this particular issue, and I stand by his conclusion.

From my perspective, the alternate solution you added as an addendum to your original proposal is not equivalent to @aswin-s's proposal.

This simply does not contain sufficient detail for an engineering contributor mana

[2022-02-02 01:48] roryabraham commented on #7440
Not sure why @deetergp was assigned at this time, unassigning.

[2022-02-02 01:50] K4tsuki commented on #6806
All right thank you for your the explanation.

[2022-02-02 01:59] K4tsuki commented on #6591
@mallenexpensify I have applied to the upwork job, Thank you.

[2022-02-02 01:59] parasharrajat commented on #7440
Yeah, @sobitneupane 's proposal looks fine to me as well.
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-02 02:10] wenge8n commented on #7381
Thanks @JmillsExpensify I have accepted offer in Upwork.

[2022-02-02 02:12] parasharrajat commented on #7265
Yeah, I waiting on some other PR. It would be ready by End of the week.

[2022-02-02 02:18] parasharrajat commented on #7313
I agree with @tgolen 's evaluation. It feels like a bug from FlatList or Flat list may be facing performance issues thus the update on header position is getting delayed which is causing this bug.

`transformation` could be the solution to it but let's try to research more to find the cause of it. Then we can decide the proper way of handling this.

[2022-02-02 02:39] parasharrajat commented on #7476
I18nUtil sharedI18nUtilInstance = I18nUtil.getInstance();
sharedI18nUtilInstance.allowRTL(context, false);

I think we don't need this part after `adding android:supportsRtl="false" `

Apart from it, @ahmdshrif 's [proposal](https://github.com/Expensify/App/issues/7476#issuecomment-1027340351) looks good to me.

cc: @marcaaron

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-02 02:51] Christinadobrzyn commented on #7472
Hum, I'm not able to reproduce this either. Let me reach out to the team to see if anyone is able to reproduce this.

[2022-02-02 03:40] mvtglobally commented on #7500
@chiragsalian  Not sure if this is related, but SMS account creation is blocked and SMS users can't be added to policy and its expected
https://github.com/Expensify/Expensify/issues/189976

[2022-02-02 04:28] JmillsExpensify commented on #7059
I've just invited hired all relevant contributors to this job.

[2022-02-02 04:35] JmillsExpensify commented on #7380
Thanks for the quick turnaround!

[2022-02-02 04:43] aldo-expensify commented on #7398
so.. debugging and looking at the code, it seems like the popover to add payment methods appear if you don't have  a debit card and don't have a default bank account ([this check](https://github.com/Expensify/App/blob/ef91a04e0b8e9142604d97102aef5c275d0f31e3/src/components/KYCWall.js#L90)). Here @kavimuru only has paypal, so it looks like intended behaviour.

Also, to continue you will need to hav

[2022-02-02 04:43] JmillsExpensify commented on #7471
Issue looks good. I've created the Upwork job here: https://www.upwork.com/jobs/~017aa6537fe9abb9bb

[2022-02-02 05:34] parasharrajat commented on #7398
You can change this `this.props.userWallet.currentbalance` to `10000` for $100.

[2022-02-02 06:07] adeel0202 commented on #7491
@MitchExpensify, applied on Upwork for reporting. Thanks

[2022-02-02 06:23] hiteshagja commented on #6720
@parasharrajat

`currentstate` I get using new method which I have created.

`function getCurrentState(state) {
  return lodashGet(state, 'routes[0].state', {});
}`

[2022-02-02 07:34] parasharrajat commented on #6720
Ok. That part is actually confusing.
1. What is your meaning of `currentState`?
2. What lies under `lodashGet(state, 'routes[0].state', {});`? Which is `route[0]`?.

[2022-02-02 07:41] sobitneupane commented on #7399
I was also unable to reproduce.

[2022-02-02 07:53] sobitneupane commented on #7471
**Proposal**
Here, as MonilBhavsar has mentioned above, we need to reposition the cursor. For this we need to use onChange inplace of onChangeText in
https://github.com/Expensify/App/blob/ef91a04e0b8e9142604d97102aef5c275d0f31e3/src/components/RoomNameInput.js#L134
[code]
https://github.com/Expensify/App/blob/ef91a04e0b8e9142604d97102aef5c275d0f31e3/src/components/RoomNameInput.js#L94-L98
[code]

[2022-02-02 08:33] mdneyazahmad commented on #7496
## Proposal

## Reson:
@sobitneupane Got the correct reason for the issue.

## Solution

`react-native-render-html` provides DOM Tampering methods to process DOM nodes at parse time. https://meliorence.github.io/react-native-render-html/docs/guides/dom-tampering

[code]

## Result:
<img width="585" alt="Screenshot 2022-02-02 at 1 58 23 PM" src="https://user-images.githubusercontent.com/77761491/15

[2022-02-02 08:40] mananjadhav commented on #7081
I'll send in a proposal in a few hours.

[2022-02-02 08:42] mananjadhav commented on #7475
@roryabraham  Attached is the screenshot from my device.

![image](https://user-images.githubusercontent.com/3069065/152120616-ea93d2ac-842a-46ee-9456-c9ea6d15c31b.png)

[2022-02-02 09:15] mananjadhav commented on #6877
My proposal here covers the requirement https://github.com/Expensify/App/issues/6877#issuecomment-999732939

@parasharrajat Can help me confirm if I am missing anything.

Need clarifications on:

Is this available by default or the current proposal needs to add it?

We're saying the `setpassword` screen opens fine even if I am already logged in? Because if I do a password reset now? and I go to an

[2022-02-02 09:21] zoontek commented on #5620
Indeed, I never checked, but it seems paid.

[2022-02-02 09:27] mananjadhav commented on #3245
The first PR is completed - moving EmojiPicker as an independent component.

Quick question on triggers with Singleton.

1. I've made it as a singleton and that part is fine. But unlike ContextMenu, we need an element in the TextInput for the user to click. So I am creating two components - `EmojiPickerPopover` and `EmojiPickerAction` is that fine?

2. I am passing the prop `onEmojiSelected` as a

[2022-02-02 09:40] songlang1994 commented on #6931
@MitchExpensify Should I do anything for this?

[2022-02-02 09:45] murataka commented on #6836
![IMG_20220202_124338](https://user-images.githubusercontent.com/5358438/152130082-bd012fcf-db5d-4bc0-b533-490ad46232c6.jpg)

[2022-02-02 09:47] murataka commented on #6836
![rotated](https://user-images.githubusercontent.com/5358438/152130446-dbcfe7f7-da78-4f17-b422-38a17f89def8.jpg)

[2022-02-02 09:49] hiteshagja commented on #6720
1. currentstate is same state as in `navigationRef.current.dispatch((state) ...` (which we had previously in code). Here is most updated version of `getCurrentState`
`function getCurrentState(state) {
  return lodashLast(state.routes)['state'];
}`

2. Now I am not referring `route[0]` instead I am referring last/current route (as you can see in Point-1) ex. if `search` is last action performed by

[2022-02-02 09:58] mdneyazahmad commented on #7494
### Proposal

https://github.com/Expensify/App/blob/ef91a04e0b8e9142604d97102aef5c275d0f31e3/src/components/Avatar.js#L43-L46

[code]

<img width="356" alt="Screenshot 2022-02-02 at 3 23 51 PM" src="https://user-images.githubusercontent.com/77761491/152132056-deebebd2-9664-4a46-adb6-0e435f73bc10.png">

[2022-02-02 09:59] ahmdshrif commented on #6836
I want to mention 2 points here: -

1- in my pr, I am not resizing the width of the image. they have already resized it to be the width of the screen.
2- we have some discussion on pr on other solutions
if we disable the hardware acceleration this issue will not happen and we will not need to resize. (but that suggestion was rejected because we need hardware acceleration)

I just mention that may

[2022-02-02 10:01] murataka commented on #6836
@ahmdshrif , I agree with  your comments, could you open discussion on slack , and maybe we share conclusions here , to keep things simple 😄

[2022-02-02 10:06] murataka commented on #6836
https://expensify.slack.com/archives/C01GTK53T8Q/p1643796348343759

[2022-02-02 10:21] murataka commented on #6836
Is it the right way me to join the pr discussion to help on this ? I'm a bit confused.

[2022-02-02 10:32] sobitneupane commented on #7494
**Proposal**
Add backgroundColor in avatarNormal and avatarSmall in src/styles/styles.js solves the issue.
[code]

[2022-02-02 10:37] michaelhaxhiu commented on #2545
Luca & Rory are making gradual progress on the blocker GH. 🤞

[2022-02-02 11:16] rushatgabhane commented on #7485
Progress so far.

The doc is updated. The video demonstrates the **high responsiveness** and clipboard access. Basically, the cloud mac is as good as a local machine. A contributor can do all the initial macos setup using [this](https://pastebin.com/aUs22sSi) script.

I'll verify the doc after lunch, and add some finishing touches.

https://user-images.githubusercontent.com/29673073/152134356-af4a

[2022-02-02 11:21] parasharrajat commented on #6720
Why did you remove that code? It should have been more straightforward to pick the state from `navigationRef.current.dispatch((state) ` and run the code.

`lodashLast(state.routes)['state']` it does not seem valid. Could you test this? `routes` is an array.

[2022-02-02 11:29] mdneyazahmad commented on #7494
@sobitneupane is same as mine. I invest my time to find reason and the background colors used in the main header avatar. Also, I think the proposal is not the final implementation. It should state the reason and a possible solution. Please correct me if I am wrong.

[2022-02-02 11:32] parasharrajat commented on #3245
I think you should start with a single method `openEmojiPicker` and pass all the necessary props as a parameter to it.
and whenever user calls this method, you set the state with these params.

and use them when needed and reset them when Picker is hidden.

[2022-02-02 11:38] sobitneupane commented on #7494
Hello @mdneyazahmad, I had my solution ready and was waiting for `Help Wanted` label to be added. But before that, you posted your proposal. So, since my proposal was ready, I was compelled to press `Comment` button. It is up to the contributor+ and CME to take decision. I am okay with any decision they will take.

[2022-02-02 11:52] parasharrajat commented on #6877
I can only think one way. use a redirect param in the magic link which we can use to redirect the user to the same page where the user clicked forgot pass.

I think yes otherwise redirection will not work. Magin link will not open if a user is a login. You will have to copy that screen from Public routes to AuthScreens and then open that page over RHN. Maybe add a new route added for this if neede

[2022-02-02 11:59] parasharrajat commented on #7475
`height: 100vh` does this work for native @mananjadhav ?

[2022-02-02 12:26] mananjadhav commented on #7475
Well I checked in a few simulators and iOS simulator, I added this only for `signInPageWideLeftContainer` which has a condition `!props.isSmallScreenWidth`.

[2022-02-02 12:27] mananjadhav commented on #3245
Saw the same for context menu.

Any preferences here?

[2022-02-02 12:30] mananjadhav commented on #6877
I agree, that's the standard clean way. Will have to test on native once. But my question was is it available at the moment? Didn't understand when we say Possible means exists or doable.

Thanks for clarifying. I'll update the proposal to add these details.

[2022-02-02 12:37] Julesssss commented on #6836
@murataka please can you start again from the beginning of the contribution process. We can continue in the Slack thread for now. Once you have proposed the change we can create an issue and get started. but first, we need more information and more precise information.

Please re-read [these](https://github.com/Expensify/App/blob/main/HOW_TO_CREATE_A_PLAN.md) [docs](https://github.com/Expensify/Ap

[2022-02-02 12:48] NicMendonca commented on #7500
Yep, sorry! Going to close this.

[2022-02-02 12:48] #7500 closed

[2022-02-02 12:55] murataka commented on #6836
you mean no more proposals here ?

[2022-02-02 13:43] rushatgabhane commented on #7439
Sorry for the delay.
🎀👀🎀 C+ reviewed

@Beamanator I recommend @thesahindia's proposal.

[2022-02-02 13:49] parasharrajat commented on #7475
Will this work for iPAD?

[2022-02-02 13:53] okansahin commented on #7463
# Proposal

First I add picked file info to REPORT_ACTIONS collection to using local file path in ReportedActionItemFragment component.

https://github.com/Expensify/App/blob/ad87352530e8d3a73860a1921af07f9288aad87f/src/libs/actions/Report.js#L1098-L1099

[code]

https://github.com/Expensify/App/blob/ad87352530e8d3a73860a1921af07f9288aad87f/src/libs/actions/Report.js#L1162-L1164
[code]

And pass t

[2022-02-02 13:56] parasharrajat commented on #6877
Didn't understand when we say Possible means exist or doable.

No idea, better to ping on the same slack thread.

[2022-02-02 13:57] mananjadhav commented on #7081
**Revised Proposal**

1. We add `react-content-loader` as a dependency
2. We create a component `ChatGhostUI`
3. It'll have two files -> index.js and index.native.js
4. A simple snippet for the code would look like this:

[code]
4. For `index.js`, we'll have to import `import ContentLoader, { Rect, Circle } from 'react-content-loader/native'`

Here' I've used a basic

[2022-02-02 13:58] NicMendonca commented on #7148
Paid x3! Sorry for the delay @parasharrajat @rushatgabhane @sobitneupane! Thank you!

[2022-02-02 13:58] #7148 closed

[2022-02-02 14:07] parasharrajat commented on #7463
Thanks for the proposal @okansahin.

Questions:
1. > First I add picked file info to REPORT_ACTIONS collection to using local file path in ReportedActionItemFragment component.

Will this work on all platforms? Is a local path is available on the web?

2. > And maybe we can add a fade background to activity indicator because its hard to visible with some pictures.

That would be great,

[2022-02-02 14:09] mountiny commented on #7491
PR was merged 💪

[2022-02-02 14:17] parasharrajat commented on #3245
That's also me :wink:

looks good. The only thing is EmojiPickerAction will not be a component.

[2022-02-02 14:20] parasharrajat commented on #6908
I am tackling the navigation issues one by one as it is possible one indirectly solves the other. Thanks for your patience.

[2022-02-02 14:21] parasharrajat commented on #4612
I am tackling the navigation issues one by one as it is possible one indirectly solves the other. Thanks for your patience.

[2022-02-02 14:23] wahaj-47 commented on #7463
I was thinking instead of using the local path directly like I proposed we use the same approach used in the AttachementModal to display a preview. It should work on all platforms.

[2022-02-02 14:25] okansahin commented on #7463
Thank you @parasharrajat

No, its because Str.isImage check the extension of url, but web returns file uri something like blob:http://localhost:8080/2d9a77b1-8647-48ae-8994-1504a449c521

But without Str.isImage is okay on desktop, android, ios, web including safari, chrome, firefox.

I can handle it with any other condition.

I will add a faded rounded square background to it.

[2022-02-02 14:25] parasharrajat commented on #7463
@wahaj-47 There are a few questions for you https://github.com/Expensify/App/issues/7463#issuecomment-1026632472.

They will help me understand your proposal better. Let me know if you are planning to submit one. I can wait.

[2022-02-02 14:28] kbecciv opened #7516 "IOS - Long picture preview displayed blurred after sending it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Tap on any user and send the long attachment

## Expected Result:
Long picture should be visible for

[2022-02-02 14:34] parasharrajat commented on #7463
Maybe try checking the name instead.

[2022-02-02 14:38] okansahin commented on #7463
@parasharrajat

Yes, you completely right. I follow the next comments to have finish the task.

[2022-02-02 14:45] mananjadhav commented on #7475
I’ve tried flex and it doesn’t work. I’ve had this experience with Safari about 100%.

I didn’t check for iPad but I’ve used this previously which works on iPad as well as Desktop and mobile.

[code]

[2022-02-02 14:47] mananjadhav commented on #3245
Thats where my confusion is. I saw ContextMenu as a lib. But here I need the emoji icon within a View somewhere, so I’ll have to either create EmojiPicketAction as a component.

Or create a Pressable with Icon and EmojiPicketAction as lib.

[2022-02-02 14:55] kbecciv commented on #5022
**IOS/Android - Notification isn't received  while app is backgrounded**

## Action Performed:
1. Sign into account A on the Android app. Sign into account B on the web app.
2. Send a message from account B to account A. It should arrive normally.
3. Send a reply from account A to account B. It should arrive normally.
4. As user A, open a different chat, and background the app.
5. Wait an indeterm

[2022-02-02 15:01] parasharrajat commented on #3245
Yeah, the Main caller UI element will be a separate button/pressable. it will just call the action from the EmojiPicketAction as lib.

[2022-02-02 15:03] mananjadhav commented on #3245
Was keeping it in EmojiPicker. Thanks for clarifying. Will change.

[2022-02-02 15:04] Julesssss commented on #5022
Thanks @kbecciv, but this is being handled as a slightly different issue: https://github.com/Expensify/Expensify/issues/174061

[2022-02-02 15:04] #5022 closed

[2022-02-02 15:09] aldo-expensify commented on #7398
I think the steps in the PR are a bit off, it says that the button will be disabled when balance is below 0.30, but that is not the case:

<img width="522" alt="https://user-images.githubusercontent.com/87341702/152179080-4d9fcbfa-da5e-4770-ae13-46a843a19da7.png">

The button is disabled when the balance is below the fee:

<img width="522" alt="Screen Shot 2022-02-02 at 10 00 55 AM" src="https://u

[2022-02-02 15:10] kavimuru opened #7517 "Sign in - Wrong error message is displayed for incorrect 2FA"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log account with 2FA
3. Input correct email
4. Input correct password
5. Enter incorrect 2FA details

## Expected Result:
If I

[2022-02-02 15:10] #7398 closed

[2022-02-02 15:10] parasharrajat commented on #7475
Ok. I will try to reproduce the issue first and then test to see if your solutions work.

from iPad, I mean iPad native, not web.

[2022-02-02 15:12] parasharrajat commented on #7398
yeah, this is correct.

[2022-02-02 15:22] parasharrajat commented on #7081
Didn't understand this part?

How will you make sure that the UI screen is completely filled with loader irrespective of the height of the screen?

[2022-02-02 15:38] aldo-expensify commented on #7494
Adding @dylanexpensify again as I think he was unassigned by mistake

[2022-02-02 15:42] kavimuru opened #7518 "Payment - "Make default payment method" is disabled when PayPal.me is selected"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Add bank account and PayPal.me as payment methods

1. Go to https://staging.new.expensify.com
2. Click on Setting - Payment
3. Click o

[2022-02-02 15:51] johnmlee101 commented on #7517
We can either change the return code on the backend to no longer be `401` or we just make the error more ambiguous. I'll demote since its not a severe problem

[2022-02-02 16:04] aldo-expensify commented on #7309
Added @michaelhaxhiu again since I think he was removed by mistake

[2022-02-02 16:14] mananjadhav commented on #7081
Here's the working code.

[code]

What I'll need help with is, will the size of the placeholder be the same across devices or will change for small or medium devices? Accordingly, I can set sizes for the svgs

I meant `index.native.js`. Sorry typo. Instead of using `circ` and `rect`, we'll import `Circle and Rect` for native platforms.

[2022-02-02 16:21] alex-mechler commented on #7516
Given this is only happening on 1 platform, it's something related to that platforms frontend. Marking as external

[2022-02-02 16:22] neil-marcellini commented on #7461
After re-reading the slack conversation I think the consensus is that it is not a problem. If someone thinks strongly otherwise they can re-open the issue.

[2022-02-02 16:22] #7461 closed

[2022-02-02 16:38] kavimuru opened #7519 "Workspace - No option to create workspace via setting"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to newdot.com and login
2. Go to settings
3. Look for an option to create a workspace

## Expected Result:
User is able to create workspace fr

[2022-02-02 16:40] eVoloshchak commented on #6808
I remember being able to reproduce this issue a couple of weeks ago (site crashes not when creating a room, but when you try to send a message in a newly created room). However, now there is no option to create a new room
![Screenshot from 2022-02-02 17-36-46](https://user-images.githubusercontent.com/9059945/152197006-6488826c-1941-42bf-9553-a75abaef1bc2.png)
I'm guessing it was removed from the

[2022-02-02 16:42] kidroca commented on #3867
#6556 was merged

Created a PR to enable attachment persistence: #7520

[2022-02-02 16:46] luacmartins commented on #7519
This is intended as `New workspace` is only available through the "three dot" menu if you already have an existing Workspace.

[2022-02-02 16:46] #7519 closed

[2022-02-02 16:57] murataka commented on #4612
Just share it if we can be helpful on any part of your review. I would offer you to use the slack more actively while reviewing proposals, and dedicate to what you are currently doing. Sure you need to multitask for some reasons.

[2022-02-02 17:02] kbecciv opened #7521 "Payments - Failed to set a default payment method when entering correct password"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Prerequisite: Set the VBA in testing account
1. Launch the app
2. Log in expensifail account
3. Go to Setting - Payment
4. Tap on Verified Account
5

[2022-02-02 17:03] luacmartins commented on #7471
@sobitneupane your proposal looks good!

[2022-02-02 17:16] hiteshagja commented on #6720
I am sure it will work great as I was thinking the same as first place. But as I am not aware of all the use cases I didn't actually implement it.

I will also give it try in the morning.

[2022-02-02 17:22] rushatgabhane commented on #7496
👋 thanks :)

C+ reviewed 🎀👀🎀
@sobitneupane's [proposal](https://github.com/Expensify/App/issues/7496#issuecomment-1027092496) looks good. It fixes the root cause.

[2022-02-02 17:23] kbecciv commented on #7521
@mountiny I will retest the debit card issue and update you.

[2022-02-02 17:31] parasharrajat commented on #7081
Ok,

I think as far as we are using pixels the height will be the same for all devices.

We try to reduce the duplication in PR.

@mananjadhav 's latest proposals https://github.com/Expensify/App/issues/7081#issuecomment-1027966348 https://github.com/Expensify/App/issues/7081#issuecomment-1028106801 looks good to me.

cc: @Luke9389

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-02 17:34] kidroca commented on #3867
Found 2 problems around persisted attachments

### No loading animation/preview
You can see it on most of the videos on the PR #7520 (see web or mobile web)

1. Be offline
2. Select an attachment to be uploaded (preferable larger so it takes more time to upload)
3. Quit the app
4. Open the app again
5. Open the chat where the attachment was uploaded
6. Observe it's not there, and there's no indica

[2022-02-02 17:35] kbecciv commented on #7521
@mountiny  After using wrong password and submitting the form,  I see the following message: Incorrect Expensify password entered.

Uploading Screen_Recording_20220202-123043_New Expensify.mp4…

[2022-02-02 17:38] Beamanator commented on #7439
@rushatgabhane  Agreed! Hired 💪

[2022-02-02 17:39] parasharrajat commented on #6720
While you are testing the above scene @hiteshagja, could you please help me capture all types of navigation in our app? I will also prepare a list. But just to be sure we can cross-match both.

[2022-02-02 17:43] Beamanator commented on #7496
Nice, I agree @sobitneupane has a nice proposal 👍

@mdneyazahmad Next time please explain more about your code, why it's needed, maybe even why it's better than other proposals

[2022-02-02 17:45] rushatgabhane commented on #7485
The doc is ready. @Anthony highlighted that reemo is free only for personal use.

Changes made: use chrome remote desktop instead of reemo. It has the same performance, but it's initial setup is a bit more harder as it can't be done using a shell.

Shoutout to @kidroca for mentioning chrome remote desktop

[2022-02-02 17:48] luacmartins opened #7522 "[HOLD for payment 2022-03-02] Implement display character limit counter and hint on TextInput"
We should implement a character counter and hint to [TextInput](https://github.com/Expensify/App/blob/c2e34c1a3e318e9ec1fff94dd8f35fcdc07c4440/src/components/TextInput/BaseTextInput.js):

1. Add a `maxLength={Int}` prop. Defaults to null. Make sure this is passed down to RN's `TextInput` component.
2. Add a `hint="string"` prop. Defaults to an empty string.
3. Display the character counter and hin

[2022-02-02 17:54] Julesssss commented on #4264
No change

[2022-02-02 17:58] mvtglobally commented on #7504
Regression is completed.

No major blockers found so far. Few issues logged

- https://github.com/Expensify/App/issues/7516
- https://github.com/Expensify/App/issues/7517
- https://github.com/Expensify/App/issues/7518
- https://github.com/Expensify/App/issues/7521

[2022-02-02 18:00] mvtglobally commented on #7504
@sketchydroide this is ready for you to check

[2022-02-02 18:01] luacmartins opened #7523 "[HOLD for payment 2022-04-13] [HOLD for payment 2022-04-12] Audit forms and fix inconsistencies with focus, tab and shift + tab behavior 1/4"
We should audit all our forms and fix any inconsistencies with focus, tab, shift + tab and enter behavior. The expected behavior is as follows:

1. `Tab` navigates to the next input.
2. `Shift + tab` navigates to the previous input.
3. `Enter` submits the form.

**Note:** We should make sure that tabbing cycles through the form in an order that makes sense, usually top to bottom.

Here's a list of

[2022-02-02 18:08] luacmartins opened #7524 "[HOLD for payment 2022-05-20][$1000] - Audit forms and fix inconsistencies with modifying user input"
We should audit all our forms and fix any inconsistencies with modifying user input. The expected behavior is as follows:

1. User input should not be modified as they type.
2. User input that may include optional characters (e.g. `(, ), -` in a phone number) and should never be restricted on input, nor be modified or formatted on blur.
3. Instead we will format and clean the user input internally

[2022-02-02 18:19] sketchydroide commented on #7504
Thank you!

[2022-02-02 18:20] luacmartins commented on #7522
Actually, we might use Applause to do this audit for us. Removing the `External` label.

[2022-02-02 18:21] luacmartins commented on #7523
Actually, we might use Applause to do this audit for us. Removing the External label.

[2022-02-02 18:21] luacmartins commented on #7524
Actually, we might use Applause to do this audit for us. Removing the External label.

[2022-02-02 18:22] sketchydroide commented on #7504
:shipit:

[2022-02-02 18:22] mallenexpensify commented on #6301
Doubled job to $8000 - https://www.upwork.com/jobs/~01c68ed933432e239b
We also have a new .md file for "Create a Plan" that would be helpful to review, in conjunction with the above, if you're interested in proposing a solution.
https://github.com/Expensify/App/blob/main/HOW_TO_CREATE_A_PLAN.md

[2022-02-02 18:24] luacmartins commented on #7522
Oops, this one is still external! My bad!

[2022-02-02 18:24] botify commented on #7147
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.34-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7218

If no regressions arise, payment will be issued on 2022-02-09. :confetti_ball:

[2022-02-02 18:24] botify commented on #7012
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.34-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7388

If no regressions arise, payment will be issued on 2022-02-09. :confetti_ball:

[2022-02-02 18:25] botify commented on #7353
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.34-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7374

If no regressions arise, payment will be issued on 2022-02-09. :confetti_ball:

[2022-02-02 18:25] botify commented on #7329
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.34-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7423

If no regressions arise, payment will be issued on 2022-02-09. :confetti_ball:

[2022-02-02 18:25] botify commented on #7351
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.34-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7369

If no regressions arise, payment will be issued on 2022-02-09. :confetti_ball:

[2022-02-02 18:25] botify commented on #7181
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.34-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7223

If no regressions arise, payment will be issued on 2022-02-09. :confetti_ball:

[2022-02-02 18:25] botify commented on #7381
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.34-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7452

If no regressions arise, payment will be issued on 2022-02-09. :confetti_ball:

[2022-02-02 18:25] botify commented on #7316
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.34-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7364

If no regressions arise, payment will be issued on 2022-02-09. :confetti_ball:

[2022-02-02 18:25] botify commented on #7437
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.34-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7483

If no regressions arise, payment will be issued on 2022-02-09. :confetti_ball:

[2022-02-02 18:27] OSBotify opened #7528 "Deploy Checklist: New Expensify 2022-02-02"
**Release Version:** `1.1.35-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6412
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/7512
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/7551
  - [x] QA

[2022-02-02 18:31] luacmartins opened #7529 "Audit forms and fix inconsistencies with autofill behavior"
We should audit all our forms and fix any inconsistencies with autofill behavior. The expected behavior is as follows:

1. Forms should autofill information whenever possible i.e. they should work with browsers and password managers auto complete features.
2. As a best practice we should avoid asking for information we can get via other means e.g. asking for City, State, and Zip if we can use Goog

[2022-02-02 18:35] Luke9389 commented on #7081
@mananjadhav, Do you think you can make the svgs look more like the mockup that @shawnborton provided above?
I think the basic functionality looks good, just wanting to ensure we stick the landing.

[2022-02-02 18:37] shawnborton commented on #7081
Also happy to provide the elements in svgs if needed too, just let me know.

[2022-02-02 18:40] mateusbra commented on #7522
@luacmartins currently we have inlineErrors formatted this way:
![image](https://user-images.githubusercontent.com/56851391/152216895-1e76c590-eba2-49c2-931c-2d7485bf19d1.png)
 You think we should also change the behavior of inlineError styles to fit the provided images you gave us?(padding left)

[2022-02-02 18:49] luacmartins opened #7531 "[HOLD for payment 2022-03-22] Refactor CheckboxWithLabel to be compatible with Form"
With the implementation of our new [Form component](https://github.com/Expensify/App/pull/6412) we need to refactor [CheckboxWithLabel](https://github.com/Expensify/App/blob/main/src/components/CheckboxWithLabel.js) to be Form compatible. Here are the changes that need to be made:

1. An optional `isFormInput` prop.
2. If `isFormInput` is `true`, require a `inputID` prop. Use [getInputIDPropTypes]

[2022-02-02 18:57] bfitzexpensify commented on #7091
@parasharrajat thoughts on the above?

[2022-02-02 19:06] deetergp commented on #7494
I think `Clear assignees` and the `External` label auto assigner must have resolved in reverse order from when I did them.

[2022-02-02 19:29] mallenexpensify commented on #5125
Just ran into this issue again today and was frustrated, it was for the below.  In Slack, the text was added and the emoji wasn't, which seems like a good solution, at least to start so we can paste in text with emoji and the most important part will show

[2022-02-02 19:38] mallenexpensify commented on #5768
Doubled price to $500 and added the `Help Wanted` label.  https://www.upwork.com/jobs/~01cf54d816fc1b75c5

Per Bobby's comment above.

[2022-02-02 19:43] mallenexpensify commented on #5768
@parasharrajat want to be assigned as C+ for this issue?

[2022-02-02 19:50] OSBotify commented on #7528
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/$(< package.json jq -r .version) :rocket:

[2022-02-02 20:13] mallenexpensify commented on #7485
Thanks for the updates @rushatgabhane , it's easier to follow here than in the thread (mainly just because of volume of the discussion).

I reviewed [the doc](https://docs.google.com/document/d/1TD8A-SQbBN2EsnF98cEib2wiERK68fux2P0LGSkobrg/edit#), great job on the steps for Chrome Remote Desktop.

Is there more work/testing that's needed? We're planning to make macOS/iOS mandatory starting on Frida

[2022-02-02 20:17] Luke9389 commented on #7438
Oh, interesting. I just searched the issues in this repo, and it doesn't seem to be a dupe. Let me check out the git blame on the file to see if/where it's been addressed. We'll almost certainly pay you anyway for this one.

[2022-02-02 20:19] Luke9389 commented on #7438
Hmm, doesn't look like anyone's touched this file. Maybe it got fixed upstream?
Can you test again just to be sure?

[2022-02-02 20:32] Tabakharniuk commented on #7477
# Proposal

## Reason
User has changed accessibility setting (font scaling) on his device. Height of text input is fixed.

## Solution
There are 2 posible solutions:
1) "Expensive" - Ask designers to create layouts for scaled font size, and based on that modify styles for TextInput and Text components.
2) "Cheap" - Disable scaling for Text and TextInput components. Usually on my projects I use app

[2022-02-02 20:42] murataka commented on #4612
The external bug is at last been included in

`"@react-navigation/native": "6.0.8",`

. I think that bug solved  has many affect if not the root cause. It strongly suggest any reviewers to update package.json while reviewing any navigational issue, as this is external , and is a potential to cause false negatives .

[2022-02-02 20:44] roryabraham commented on #7528
:rocket: RORY_TESTING All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/$(< package.json jq -r .version) :rocket:

[2022-02-02 20:45] roryabraham commented on #7528
:rocket: RORY_TESTING All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.35-0 :rocket:

[2022-02-02 20:57] MitchExpensify commented on #6931
Weird, @songlang1994 I just looked again and now see the option to complete payment - **Sent!** Sorry for the delay

[2022-02-02 21:15] marcaaron commented on #7371
Working on this just haven't had time to test it.

[2022-02-02 21:17] sig5 commented on #7438
Well the code that concerns it uses `cachedtotal` which is basically `iouReport.total :`
https://github.com/Expensify/App/blob/7e6e7e87c11a031fee3ce5216e6f8ea2b250d1fb/src/components/ReportActionItem/IOUPreview.js#L114-L118
https://github.com/Expensify/App/blob/7e6e7e87c11a031fee3ce5216e6f8ea2b250d1fb/src/components/ReportActionItem/IOUPreview.js#L194-L197
The keys in onyx suggest that these are r

[2022-02-02 21:25] MitchExpensify commented on #6931
Also C+ payment has been sent and contract ended @parasharrajat , thank you!

[2022-02-02 21:25] #6931 closed

[2022-02-02 21:26] okansahin commented on #7334
### Proposal

I check and reproduce issue on mobile/desktop Safari. (iOS 15.2.1/Desktop Version 15.2 (17612.3.6.1.6)

In some research around a lot of people faces with this issue in React Native. (https://github.com/facebook/react-native/issues/25239), but in this codebase there is no problem with mobile devices.

Maybe we could resolve with overflow-anchor property(https://caniuse.com/?search=ov

[2022-02-02 21:31] MitchExpensify commented on #7491
Hired @adeel0202 ! Thanks

[2022-02-02 21:32] kursat commented on #7352
Hey @rushatgabhane, I couldn't find enough time to find a proper solution yet. Please let me work some more this weekend. Hopefully, I will send a proposal on Monday.

[2022-02-02 21:36] okansahin commented on #7463
@wahaj-47 Can you explain more about "use the same approach used in the AttachementModal"?

[2022-02-02 21:46] roryabraham commented on #4612
Of course they publish a release 1 day after we create our own fork 🙄

[2022-02-02 21:47] luacmartins opened #7535 "[HOLD for payment 2022-05-24] [$1000] [HOLD for payment after regression testing] Refactor Picker to be compatible with Form"
With the implementation of our new [Form component](https://github.com/Expensify/App/pull/6412) we need to refactor [Picker](https://github.com/Expensify/App/blob/main/src/components/Picker/index.js) to be Form compatible. Here are the changes that need to be made:

1. An optional `isFormInput` prop.
2. If `isFormInput` is `true`, require a `inputID` prop. Use [getInputIDPropTypes](https://github.

[2022-02-02 21:50] luacmartins opened #7536 "Refactor DatePicker to be compatible with Form"
With the implementation of our new [Form component](https://github.com/Expensify/App/pull/6412) we need to refactor [DatePicker](https://github.com/Expensify/App/blob/main/src/components/DatePicker/index.js) to be Form compatible. Here are the changes that need to be made:

1. An optional `isFormInput` prop.
2. If `isFormInput` is `true`, require a `inputID` prop. Use [getInputIDPropTypes](https:/

[2022-02-02 21:54] luacmartins opened #7537 "[HOLD for payment 2022-05-20] [$500] Refactor StatePicker to be compatible with Form"
With the implementation of our new [Form component](https://github.com/Expensify/App/pull/6412) we need to refactor [StatePicker](https://github.com/Expensify/App/blob/main/src/components/StatePicker.js) to be Form compatible. Here are the changes that need to be made:

1. An optional `isFormInput` prop.
2. If `isFormInput` is `true`, require a `inputID` prop. Use [getInputIDPropTypes](https://git

[2022-02-02 21:56] luacmartins opened #7538 "[HOLD for payment 2022-03-17] Refactor AddressSearch to be compatible with Form"
With the implementation of our new [Form component](https://github.com/Expensify/App/pull/6412) we need to refactor [AddressForm](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/AddressForm.js) to be Form compatible. Here are the changes that need to be made:

1. An optional `isFormInput` prop.
2. If `isFormInput` is `true`, require a `inputID` prop. Use [getInputIDPropTy

[2022-02-02 22:02] luacmartins commented on #7522
@mateusbra inline errors aligning with labels and input value is the design going forward.

[2022-02-02 22:22] #7371 closed

[2022-02-02 22:25] MitchExpensify commented on #7537
[Upwork Job](https://www.upwork.com/jobs/~01a7cdd5c46a6a7ca8)

[2022-02-02 22:32] marcaaron commented on #7077
@sig5 can we get an update on this one? If it's ready for re-review please leave a comment that says "Updated"

[2022-02-02 22:35] sig5 commented on #7077
Yes @marcaaron  I have updated it. I somehow missed pressing the re-review button. It is ready for review :D.

[2022-02-02 22:51] jboniface commented on #7497
posted here: https://www.upwork.com/jobs/~016dd77f2c8c2b27d0

[2022-02-02 22:51] marcaaron commented on #7220
This sounds good to me if the alternative is having both `isSmall` and `isLarge` as separate props.

Are there other examples?

[2022-02-02 22:54] jboniface commented on #7273
i paid manan but still need to pay rajat for c+

[2022-02-02 22:58] puneetlath commented on #7522
@luacmartins just to clarify, we just want a contributor to go ahead and implement these changes to our TextInput component right? I'm not quite sure I follow how Applause would be involved here.

[2022-02-02 23:03] luacmartins commented on #7522
Yes, correct. That comment was meant for another issue, sorry about the confusion!

[2022-02-02 23:04] puneetlath commented on #7522
Cool, no worries!

[2022-02-02 23:05] puneetlath commented on #7522
Since @parasharrajat is doing a bunch of work on consolidating our various `TextInput` components, it might make sense for him to include this. That seems like the least risky approach to me. @parasharrajat what do you think?

[2022-02-02 23:14] mountiny commented on #7334
Hi @okansahin! Thank you very much for your proposal and for looking into this. Linking that this is an issue for many more is valuable.

However, I am not so persuaded by the proposed solution. This would be changing the behaviour everywhere and feels a bit like a hack.

Since this issue is inconvenient but not so urgent, we would prefer to find a more general solution. I hope you understand!

[2022-02-02 23:40] Luke9389 commented on #7464
@mvtglobally, was this discussed in slack before this issue was made? If so would you mind linking me to it?
Seems like the type of thing that's going to warrant some discussion/mockup

[2022-02-02 23:43] okansahin commented on #7334
There is no hacky way at all. Unlike it's better practice. And doest change any behaviour except message's flatlist.

[2022-02-02 23:49] kakajann commented on #7538
Can I take this one? Instructions are clear, so I don't what can be proposed

[2022-02-02 23:51] NikkiWines commented on #7518
Looks good for UpWork 👍

[2022-02-03 00:00] mountiny commented on #7334
Of course "hacky" is a loose term, we can definitely discuss this approach in the open-source Slack channel what other engineers think of it! 😊 I will be out-of-office for the rest of the week unfortunately so I would ask in Slack next week!

[2022-02-03 00:05] jliexpensify commented on #7424
The title didn't fit into Upworks so I changed it to: "[Android] Infinite loading spinner appears when app left idle after signing out #7424 - Expensify"

I haven't edited the original title as I think it's got good details in it

Internal - https://www.upwork.com/ab/applicants/1489026995151515648/job-details
External - https://www.upwork.com/jobs/~018ebe269af28a4933

[2022-02-03 00:11] Luke9389 commented on #7438
This is a pretty rare case (that an issue is solved when we sit down to code it). It's never happened to me before (unfortunately 😄 ).

@kadiealexander and I spoke about it and we feel that it's fair to pay you anyway @sig5. 👍

[2022-02-03 00:17] kadiealexander commented on #7438
All paid!! Thanks for all your work on this one @sig5, sorry it wasn't able to be used!

[2022-02-03 00:17] #7438 closed

[2022-02-03 00:22] roryabraham commented on #7220
None that come to mind

[2022-02-03 00:41] luacmartins commented on #7391
No updates today! I'll try to get to it tomorrow!

[2022-02-03 01:52] sig5 commented on #7438
That's very generous of you Luke and Kadie! Would have loved to see my contribution here, but in the end, all we want is a perfect Application!

[2022-02-03 02:15] kevinksullivan commented on #7536
https://www.upwork.com/jobs/~015dde9db58cb60ea3

[2022-02-03 02:40] mallenexpensify commented on #5620
🎉 whoohooo 🎉
Thanks again for the help @zoontek !  Closing this 🐶 out

[2022-02-03 02:40] #5620 closed

[2022-02-03 02:54] mallenexpensify commented on #6877
@AndrewGable , can you help shine some light on "redirected to where they previously left off at the bank account dropdown menu" part [from here](https://github.com/Expensify/App/issues/6877#issuecomment-1026371826)?

For the proposal for this issue, this isn't part of the deliverable or consideration.  I was just pointing out there wasn't a downside with the existing tab because it'll remain sign

[2022-02-03 03:00] parasharrajat commented on #5768
@mallenexpensify That is fine. Thanks.

[2022-02-03 03:04] mallenexpensify commented on #7531
Job posted - https://www.upwork.com/jobs/~0149292882085e4138

[2022-02-03 03:07] mallenexpensify commented on #7352
@roryabraham should this job be doubled? I know @kursat said they're working on it but that shouldn't be a reason to not double because anyone can propose a solution and be hired

[2022-02-03 03:09] mallenexpensify commented on #5768
Done, @parasharrajat is Contributor-plus and will be reviewing incoming proposals

[2022-02-03 03:09] parasharrajat commented on #7091
@brianmuks Sorry I forgot to reply.

You are correct we are not comfortable setting it to `open`.  Secondly, `BaseDrawerNavigator` remounts every time when screen switches between mobile and Web view.

[2022-02-03 03:23] parasharrajat commented on #7522
Yeah, I can take it. And move this milestone to the top of the list so that it can be done early.

[2022-02-03 03:26] parasharrajat commented on #7220
We can take the Button component as an example. It has three Boolean props `small`, 'medium' and 'large'.

What Rory suggested above is to create a single prop `size` which will accept above mentioned values are strings.

[2022-02-03 03:39] mananjadhav commented on #7081
Yeah, that can be done. @shawnborton  If you can share the SVGs that'll be great. As you can see in the code @Luke9389, I just have to replace the SVG to make it work. We just have to ensure that SVGs have the width in percentages.

[2022-02-03 03:47] parasharrajat commented on #7463
@okansahin 's [proposal](https://github.com/Expensify/App/issues/7463#issuecomment-1027963336) looks good to me.

cc: @Julesssss

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-03 03:47] mananjadhav commented on #7464
I had reported this before this slack thread started https://expensify.slack.com/archives/C01GTK53T8Q/p1643388153631749 where we allow typing with `:`. If we're going ahead with typing then I don't think we should be enabled search. What do you think @Luke9389?

[2022-02-03 03:57] JmillsExpensify commented on #7518
Agreed, looks good. I've gone ahead and created the Upwork job here: https://www.upwork.com/jobs/~010fc399748d7fde51

[2022-02-03 03:59] JmillsExpensify commented on #5082
@mateomorris Just checking in. I'm ready to process the payment and close this issue when you're able to apply in Upwork. Thank you!

[2022-02-03 04:03] JmillsExpensify commented on #7095
Thank you! Hired on Upwork.

[2022-02-03 04:04] JmillsExpensify commented on #7270
Still waiting for contributors.

[2022-02-03 04:11] JmillsExpensify commented on #7471
@sobitneupane Make sure to apply for the job on Upwork when you get a chance. Same for @K4tsuki for reporting. Thank you!

[2022-02-03 04:12] sig5 commented on #7536
Can I take this up? The changes needed in the problem seem explanatory in the issue itself.

[2022-02-03 04:14] sig5 commented on #7537
The problem statement seems quite self-explanatory in regards of the changes needed. Can I possibly work on it? Thanks.

[2022-02-03 05:16] mvtglobally opened #7540 "Feature Request: Make the iOS app available for Apple Silicon Macs - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open iOS app with Apple Silicon Macs

## Expected Result:
We should support iOS app available for Apple Silicon Macs

## Actual Result:
iOS app N

[2022-02-03 05:19] mvtglobally opened #7541 "[HOLD for payment 2022-12-20] [$500] Accessibility - Text is clipped throughout the app when device font size is increased - Reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Increase device font

## Expected Result:
Test should be visible

## Actual Result:
Text is clipped throughout the app when device fo

[2022-02-03 05:27] mvtglobally opened #7542 "[HOLD for payment 2022-03-08] Extra space is being added in last name on request call page - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Request a call RHN

## Expected Result:
There should be no extra space between boxes

## Actual Result:
There is an extra

[2022-02-03 05:43] mvtglobally opened #7543 "Request a call - First and Last name picked incorrectly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Prerequisite - User has spaces in name or has name with 2 words
1. Open app
2. Navigate to Concierge chat
3. Click on Call to request a call

## Exp

[2022-02-03 05:49] mvtglobally opened #7544 "[HOLD for payment 2022-02-16] Room settings page Scrollbar is coming on the middle of the screen - Reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Create new room
3. Navigate to room settings
4. make your window vertically short

## Expected Result:
Scrollbar should fit the scree

[2022-02-03 05:59] mvtglobally opened #7545 "[HOLD for payment 2022-03-22] The delete/remove popup is not consistent in the app - Reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Settings > Workspace > Manage members and try to delete any member
3. Navigate to Settings > Payments and try to delete a

[2022-02-03 06:04] mvtglobally opened #7546 "[HOLD for payment 2022-03-22] Container for payment methods doesn't have padding on top and bottom - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Containers should have consistent padding
Make the vertical padding part of the component so it’s

[2022-02-03 06:19] parasharrajat commented on #7544
### Proposal
1.. We need to correct the style of https://github.com/Expensify/App/blob/9d6e07a0d3bb298d7edba16824efb95afc94f280/src/pages/ReportSettingsPage.js#L103.

2. Remove the marging and add padding to the content via `contentContainerStyles={styles.p5}`.

This will correct it.

[2022-02-03 06:22] mdneyazahmad commented on #7518
## Proposal

It looks like the paypal method is intentionally disabled not to make default payment method.

https://github.com/Expensify/App/blob/9d6e07a0d3bb298d7edba16824efb95afc94f280/src/pages/settings/Payments/PaymentsPage.js#L218

https://github.com/Expensify/App/blob/9d6e07a0d3bb298d7edba16824efb95afc94f280/src/pages/settings/Payments/PaymentsPage.js#L302-L316

If we remove this checks it w

[2022-02-03 06:24] hiteshagja commented on #6720
As expected it's working fine @parasharrajat

Here are the list of routes which I checked.
bank-account - working
settings - working
settings/profile - working
settings/preferences - working
settings/security - working
settings/security/closeAccount - working
settings/security/password - working
settings/about - working
settings/about/app-download-links - working
settings/payments - working
settin

[2022-02-03 06:30] parasharrajat commented on #6720
I will finish my testing and update you on the next steps. More importantly, It is necessary to get a consensus on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1643822111033669).

[2022-02-03 07:08] thesahindia commented on #7542
### Proposal
On line 211 we need to make it `(lastSpaceIndex + 1)` to get the expected output, because without the +1 we are skipping the space
https://github.com/Expensify/App/blob/9d6e07a0d3bb298d7edba16824efb95afc94f280/src/pages/RequestCallPage.js#L209-L212

[2022-02-03 07:36] phivh commented on #7385
Hi @deetergp @rushatgabhane I'm going to submit the PR, just want to make sure if we are able to wrap the condition by using `Platform` below instead of creating a new `.native.` file.

[code]

[2022-02-03 07:50] thesahindia commented on #7546
### Proposal
Here we are not using `PopoverMenu` which was used on other places. We can refactor our `AddPaymentMethodMenu` code to use the `PopoverMenu` like this -
[code]
or we can just add vertical padding.

[2022-02-03 07:53] wahaj-47 commented on #7463
### Proposal
We add the local uri in the REPORT_ACTION collection
https://github.com/Expensify/App/blob/ad87352530e8d3a73860a1921af07f9288aad87f/src/libs/actions/Report.js#L1098
[code]
https://github.com/Expensify/App/blob/ad87352530e8d3a73860a1921af07f9288aad87f/src/libs/actions/Report.js#L1163
[code]

Pass this prop to ReportedActionItemFragment.
https://github.com/Expensify/App/blob/ad87352530e

[2022-02-03 07:53] Beamanator commented on #7545
Should be workable externally 👍

[2022-02-03 08:13] MariaHCD commented on #7543
So as I understand it the issues here are:
1. If a user's name contains spaces and/or there are two names in either the first or last name, the name may not populate correctly in the request a call dialog: Examples:
- First name: `" Test`, last name: `Name "`

![Screen Shot 2022-02-03 at 11 49 42 AM](https://user-images.githubusercontent.com/12268372/152303230-e6a377fa-c6fc-4e1e-a2c5-7a77737e5ffe.

[2022-02-03 08:19] okansahin commented on #7463
Thank you @parasharrajat

Then I send proposal on Upwork. Thank you.

[2022-02-03 08:20] shawnborton commented on #7081
Here are the three different ghost text variations I used in the mockup:
![image](https://user-images.githubusercontent.com/2319350/152305677-154bf106-aa9b-4a91-a669-a75c79235384.png)

[Content Loading.zip](https://github.com/Expensify/App/files/7992858/Content.Loading.zip)

You'll have to make sure only certain parts of the graphic scale to fill the full available space like I showed above in [my

[2022-02-03 08:22] Christinadobrzyn commented on #7538
Posted to Upwork:

Internal post: https://www.upwork.com/ab/applicants/1489152064577056768/job-details
External post: https://www.upwork.com/jobs/~017024bc527586b94a

[2022-02-03 08:53] mananjadhav commented on #7081
and I am assuming we'll repeat them in the order of 2nd one, then the first and then the third one?

[2022-02-03 09:16] shawnborton commented on #7081
I think we would repeat them as a block with four fake messages in it like so:
![image](https://user-images.githubusercontent.com/2319350/152313947-809bf6a7-0e02-41c6-a642-16566ba23e15.png)

So that's:
- 1 line
- 2 lines
- 1 line
- 3 lines

Then we repeat that pattern over and over.

[2022-02-03 09:52] mateomorris commented on #5082
Thanks for the reminder @JmillsExpensify, just applied. I increased the proposal amount to account for the Hold (250) and for discovering the issue (250, don't think that was paid out before).

[2022-02-03 09:56] Julesssss commented on #7463
@okansahin I'm holding the assignment until the UpWork job is created and assigned, it shouldn't take long

[2022-02-03 10:01] Julesssss commented on #7463
Whoops, I blame Melvin as it didn't immediately comment and I thought we weren't yet ready. Please go ahead @okansahin 😄

[2022-02-03 10:03] okansahin commented on #7463
@Julesssss here is a job post that I sent a proposal. Will you open a new?

[2022-02-03 11:06] Julesssss commented on #7463
Hi @okansahin, please ignore my other message, I didn't see that issue. It's the correct one 👍

[2022-02-03 11:11] murataka commented on #4612
after

`"@react-navigation/native": "6.0.8",`

is merged by @roryabraham , The Back ⌘[ and Forward ⌘] shortcuts keys seems to be working as expected , also the RHN seems to work much better now . @parasharrajat  , can you test it and share what you think ? I may need to update my proposal in case you think any further action to be taken.

[2022-02-03 12:02] rushatgabhane commented on #7536
@sig5 how will you implement shouldSaveDraft?

[2022-02-03 12:06] rushatgabhane commented on #7385
@phivh let's create seperate files. That's the standard we follow https://github.com/Expensify/App#platform-specific-file-extensions

[2022-02-03 12:16] rushatgabhane commented on #7531
@thesahindia how will you implement shouldSaveDraft?

[2022-02-03 12:25] okansahin commented on #7463
@Julesssss Okay. I sent and wait to be accepted my proposal in Upwork.

[2022-02-03 12:27] MonilBhavsar commented on #7546
I liked the idea of adding it to general component and add storybook rules

[2022-02-03 12:34] sig5 commented on #7536
Hi @rushatgabhane, as far as I can observe, `shouldsaveDraft` is used to see if the form element needs to save value as the draft.
It is handled here.
https://github.com/Expensify/App/blob/4c48227a265040fca6077e743907583d04b63b47/src/components/Form.js#L144-L167
So adding a propType in the component along with a `defaultProp` should suffice to trigger it save in Onyx, which can be fetched next tim

[2022-02-03 12:51] stephanieelliott commented on #5987
PR https://github.com/Expensify/App/pull/6556 was merged.

[2022-02-03 13:03] stephanieelliott commented on #7462
Was able to reproduce this on iOS. Posted to Upwork: https://www.upwork.com/jobs/~0109b6b91df96f2613

[2022-02-03 13:15] laurenreidexpensify commented on #7535
https://www.upwork.com/jobs/~013e89828de19f7536

[2022-02-03 13:16] parasharrajat commented on #7462
@rushatgabhane I have a few questions.
What should be shown in the contextMenu? Do you expect to show the main menu the same as the message menu?
We don't have any specifc options for images for now.

[2022-02-03 13:18] parasharrajat commented on #4612
Sure, I can do that.

[2022-02-03 13:28] parasharrajat commented on #7537
@sig5  Do you have questions before we move forward? I would suggest to give it another look and ask questions if any.

Though, I have one :smile:

@luacmartins Does it need to be implemented as well or just define a prop for now?

[2022-02-03 13:38] sig5 commented on #7537
Hi @parasharrajat , Please correct me if I am wrong or misunderstanding the problem, But  I can observe, `shouldsaveDraft` is used to see if the form element needs to save value as the draft.
It is handled here.
https://github.com/Expensify/App/blob/4c48227a265040fca6077e743907583d04b63b47/src/components/Form.js#L144-L167
So adding a propType in the component along with a `defaultProp` should suff

[2022-02-03 13:39] parasharrajat commented on #7477
@Tabakharniuk Thanks for the proposal. You have found another related issue but we are not trying to fix it here. Mainly this issue is occurring for the normal text size we have on IOS.

Check the `y` and `g` in
![image](https://user-images.githubusercontent.com/24370807/152353128-ed1118af-70bf-4865-ba05-858e12e4a66a.png)

Also, I don't prefer both of the solutions you have suggested. I will discu

[2022-02-03 13:42] ogumen commented on #7528
The issue #7512 is not applicable for accessibility testing

[2022-02-03 13:44] parasharrajat commented on #7537
Yeah, that's correct.

I think we can proceed with your proposal @sig5  if you don't have any questions.

cc: @thienlnam

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-03 13:49] parasharrajat commented on #7462
Ok. Thanks for confirming.

[2022-02-03 13:54] parasharrajat commented on #7474
Both proposals are good but I like @mdneyazahmad 's proposal more as he pointed out the correct location where the change is needed.

@ahmdshrif :-1:  -1 for not noticing why we are using `import {RenderHTMLSource} from 'react-native-render-html'; `. If we go with your suggestion it will hurt chat list performance badly.

![image](https://user-images.githubusercontent.com/24370807/152355761-987d65

[2022-02-03 13:59] rushatgabhane commented on #7434
Thanks @kidroca for helping me understand this.

Is this done by passing the same signal to every request that we wanna abort on logout?

I don't think that's needed for this issue.

[2022-02-03 14:06] NicMendonca commented on #7482
Upwork job: https://www.upwork.com/jobs/~018b7b14a97b7747c9

[2022-02-03 14:06] parasharrajat commented on #5125
I will update the PR to store MD as of now. I was trying to manage the HTML yesterday but there are a few issues. So I think MD copy would be fine at least.

That is something needs to be build into the app. Slack usages images as emojis and our app use pure text emojies.

So we will have to add new code to manage that copy pasting. Unfortunately its not part of this issue. Let me know if you want

[2022-02-03 14:14] parasharrajat commented on #6235
Ping for
![Upwork](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

@kevinksullivan

[2022-02-03 14:26] ahmdshrif commented on #7474
yes, Mohamed does the same but from the correct place.  👌

I think here you will need this margin because we need space between the 2 paragraphs (assume them as 2 messages ).
if you delete it and  I suggest adding padding with the same value we use between messages 8 top and bottom as I do in my proposal .

[2022-02-03 14:26] kidroca commented on #7472
There was an issue deleting workspaces for the same version: https://github.com/Expensify/App/issues/7361

There was also an update v1.1.33-3 that seem to fix many issues: https://expensify.slack.com/archives/C01GTK53T8Q/p1643748804328889

Can you verify this is still reproducible on v1.1.33-3 - I can't recreate the problem

[2022-02-03 14:33] sig5 commented on #7537
I think I do not have any questions atm :D

[2022-02-03 14:35] parasharrajat commented on #7474
I see thanks for pointing out.

[2022-02-03 14:38] Tushu17 commented on #7273
@jboniface I've applied for reporting bonus can you check.

[2022-02-03 14:49] Tushu17 commented on #7435
@mateocole Yes, We allow usersto delete their account even if they have pending payments.

[2022-02-03 15:12] michaelhaxhiu commented on #7309
I'm sick and won't be able to address this today/tomorrow I'm afraid. Going to re-assign to `External` to trigger a new person, sorry for passing this hot potato 🥔

[2022-02-03 15:15] michaelhaxhiu commented on #7015
Yo, just commenting with some context to remove the `Overdue` label.

The PR is seeing progress! Rushat / manan / andrew are working on figuring out why the success growl is showing twice all of a sudden.

[2022-02-03 15:32] jboniface commented on #7273
@Tushu17 sorry, missed that. I got you now and can pay when you accept it.

[2022-02-03 15:37] jboniface commented on #7546
https://www.upwork.com/jobs/~01b3576094e5c938a1

[2022-02-03 15:45] kavimuru opened #7547 "[HOLD for payment 2022-05-03] iOS/ Android - VBA - Google address suggestion not displayed in the company info and Personal info page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the URL and login
2. Click get started in workspace to add bank account
3. In the company information page enter random number in the comp

[2022-02-03 15:47] luacmartins commented on #7531
@rushatgabhane thanks for raising the question! Saving draft is already implemented in the Form component's [onChange](https://github.com/Expensify/App/blob/main/src/components/Form.js#L159-L161) prop passed to the child. All we need to do is pass the `shouldSaveDraft` prop to the input and call `onChange` as described in the OP.

[2022-02-03 15:49] luacmartins commented on #7536
@sig5 you are correct! Passing the `shouldSaveDraft` and calling the `onChange` prop as described in the OP is all we need here!

[2022-02-03 15:51] kavimuru opened #7548 "VBA - No limit for the number of digits for SSN in the personal info page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensiafail account
3. Go to Setting - Preferences
4. Enable the Secure Staging Server
5. Go to any Workspace - Co

[2022-02-03 15:51] luacmartins commented on #7537
@sig5 comment is correct. We have already implemented that and should only need to pass `shouldSaveDraft` + call `onChange` in the input as described in the OP.

[2022-02-03 15:52] OSBotify commented on #7548
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-02-03 15:59] kavimuru opened #7549 "Android / iOS - After regaining network user is redirected from manage members page to LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensiafail account
3. Go to Setting - Members - Manage Members
4. Kill the internet connection
5. Click on invite

[2022-02-03 16:06] kavimuru opened #7550 "Android - First line of optional personal message is hidden in invite new members page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensiafail account
3. Go to Setting
4. Tap on any Workspace
5. Tap on Mange Members
6. Tap Invite

## Expected Re

[2022-02-03 16:06] tgolen commented on #7531
🟢  to hire @thesahindia

[2022-02-03 16:11] aldo-expensify commented on #7548
Confirmed that this is broken now

[2022-02-03 16:19] thesahindia commented on #7545
### Proposal
There are some other places where we are using `ConfirmModal`  we need to pass `danger` to them. The below one for example. https://github.com/Expensify/App/blob/e996efe7301387e07c89800119dfc2e8f578d925/src/pages/workspace/WorkspaceInitialPage.js#L207-L210

On Payments page we are using `ConfirmPopover` we can pass a `prompt ` to it and in `ConfirmPopover` we can use it like we do in

[2022-02-03 16:24] thesahindia commented on #7546
@Julesssss, yeah I agree.

Yes it's in the component by default we don't send it.

[2022-02-03 16:26] aldo-expensify commented on #7548
This was caused by [this PR](https://github.com/Expensify/App/pull/6412/files#diff-2b104b233eb98f5f85f4dd4160ecd7cc1d35a8c101006ad1269354d3a99af6b4R75), specifically by adding the `maxLength: PropTypes.number` in here  https://github.com/Expensify/App/blob/47ec8f4ae0598e55c4d75b275ef4feeec8f14d6e/src/components/TextInput/baseTextInputPropTypes.js#L49-L50

Because that prop is now there, it gets re

[2022-02-03 16:30] rushatgabhane commented on #7546
That's nice.

🎀️👀️🎀 C+ reviewed

@Julesssss let's go with @thesahindia's proposal.

[2022-02-03 16:30] jboniface commented on #7273
done!

[2022-02-03 16:30] #7273 closed

[2022-02-03 16:32] #7260 closed

[2022-02-03 16:32] rushatgabhane commented on #7536
Thanks @sig5, just wanted to verify if you understand the details.

🎀️👀️🎀 C+ reviewed
@Luke9389  I think @sig5 is good for this job.

[2022-02-03 16:34] rushatgabhane commented on #7536
Thanks @sig5, just wanted to verify if you understand the details.

🎀️ 👀️ 🎀 C+ reviewed

@Luke9389  I think @sig5 is good for this job.

[2022-02-03 16:37] puneetlath commented on #7518
@stitesExpensify it looks like you were the one that made it so that paypal couldn't be selected as a default payment method. Was there a specific reason for that?

[2022-02-03 16:41] rushatgabhane commented on #7497
<img src="https://user-images.githubusercontent.com/25876548/151969994-abf1e203-0aee-41bc-b50b-ba9e24149993.png" >

@sobitneupane
Yes that's the expected result. Excited for your proposal!

[2022-02-03 16:42] #7365 closed

[2022-02-03 16:57] rushatgabhane commented on #7538
🎀️ 👀️ 🎀 C+ reviewed

@kakajann is good to hire on this one.

cc: @marcochavezf

[2022-02-03 17:10] neil-marcellini commented on #7549
I was not able to reproduce this on my IOS simulator. But on my physical IOS device on production I found something very interesting. If you follow the steps and then press invite only once before hitting the back button, when you come back online you will be navigated back 1 screen, to the workspace screen. If you press invite twice you will be navigated back 2 screens when you come back online,

[2022-02-03 17:24] parasharrajat commented on #7549
The `navigation.goback()` callback is called on each API response which is received when the internet is back. This will be fixed soon in one of the other issues.

[2022-02-03 17:50] mvtglobally commented on #7543
@MariaHCD,
You are correct on # 1 _If a user's name contains spaces and/or there are two names in either the first or last name, the name may not populate correctly in the request a call dialog:_
Regarding # 2 There is an unknown` ¿ `upfront. It should not be there.

[2022-02-03 18:07] thienlnam commented on #7537
Sending it! @MitchExpensify could you please hire @sig5 ?

[2022-02-03 18:10] #7548 closed

[2022-02-03 18:38] kidroca commented on #7434
I guess, [yes](https://github.com/kidroca/Expensify.cash/blob/3dffba080ad6a51579675eb6cc3460467f7a3c42/src/libs/HttpUtils.js#L26-L31)
We have 1 `AbortController`, every request that is abortable would be hooked the same `AbortController.signal`

To identify abortable requests we can add data/parameters, similarly to what we do for `shouldRetry`
https://github.com/Expensify/App/blob/f228b1e4a5ffe63

[2022-02-03 18:41] thienlnam commented on #7082
This will likely require some internal changes first - I picked this up and will investigate what it will take to implement this

[2022-02-03 18:46] rushatgabhane commented on #7434
Really appreciate your patience on this one @kidroca, all things are clear. Thanks so much!

🎀👀🎀 C+ Reviewed

@tgolen I recommend @kidroca's [proposal ](https://github.com/Expensify/App/issues/7434#issuecomment-1026146212) .

[2022-02-03 19:00] stitesExpensify commented on #7518
Yeah, so your `default payment method` is really just what account your wallet is linked to for `pay with expensify` purposes.
PayPal is kind of it's own thing and doesn't work with our wallet because:
1. We can't deposit funds into PayPal accounts via transfer from wallet
2. We can't pull funds from your PayPal when you try to pay

So really having it be the default payment method just wouldn't m

[2022-02-03 19:06] rushatgabhane commented on #7485
I agree.

This was discussed on slack, so I'll put a TL;DR; for anyone who might read.

* Link [the doc](https://docs.google.com/document/d/1TD8A-SQbBN2EsnF98cEib2wiERK68fux2P0LGSkobrg/edit#) in contributing.md
* On Feb 4, make an announcement on expensify-open-source.
* After a few weeks and hopefully some feedback from contributors, create a .md file.

[2022-02-03 19:11] rushatgabhane commented on #7518
Ah okay, thanks for the info @stitesExpensify

In that case, we could do nothing, or remove the "Make default payment method" option.

[2022-02-03 19:16] rushatgabhane commented on #7307
@jliexpensify I think this job should be doubled because there has been no activity on it since 13 days.

[2022-02-03 19:18] rushatgabhane commented on #7268
not overdue, PR was merged 3 days ago.

[2022-02-03 19:18] roryabraham commented on #7528
Looks like https://github.com/Expensify/App/issues/7548 should be fixed by https://github.com/Expensify/App/pull/7551

[2022-02-03 19:19] roryabraham commented on #7528
Marking https://github.com/Expensify/App/pull/7458 off as a QA pass, but will continue to monitor.

[2022-02-03 19:26] rushatgabhane commented on #7140
@MitchExpensify I believe this issue can be closed since all parties have been paid

[2022-02-03 19:30] puneetlath commented on #7522
Ok sounds good. I'll add it as a milestone to our existing Upwork job for the `TextInput` refactor.

[2022-02-03 19:35] Luke9389 commented on #7464
I see what you're saying. They're pretty much the same feature. So that's a bit redundant. _But_ that might also be a good argument for having both. After all, we're going to have some sort of search view appear when `:` is pressed, right? It seems like building that would actually get us most of the way on this feature as well.

[2022-02-03 19:46] puneetlath commented on #7518
I think removing it in that case makes sense. And we just leave deleting as the only option.

[2022-02-03 19:48] rushatgabhane commented on #7518
Cool, @mdneyazahmad tag me if you post an updated proposal. Thanks for your patience!

[2022-02-03 19:52] Luke9389 commented on #7550
If you scroll up can you read the whole message?

[2022-02-03 19:54] Luke9389 commented on #7306
Good question! Thanks for the bump @laurenreidexpensify.
Nikka hasn't reached out yet about getting issues. I'll bring it to her.

[2022-02-03 20:51] kbecciv opened #7556 "Request/Split - RHN headers have undefined characters in Spanish"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Click the `+` icon in a Group DM
3. Enter an amount into the BNP and select the `Next` confirmation button
4. Verify that the n

[2022-02-03 21:11] luacmartins commented on #7391
This is the error that I see in the console:
![Screen Shot 2022-02-03 at 12 40 46 PM](https://user-images.githubusercontent.com/22219519/152429426-4231c3e6-5d17-4c9e-9dad-021bc5e3b12e.png)

Seems like we never delete the `bankAccoundID` key from `bankAccountList`

[2022-02-03 22:21] mvtglobally commented on #7528
Regression is completed.
Checking off https://github.com/Expensify/App/issues/7548 & https://github.com/Expensify/App/issues/7551

Issues logged which are still open
https://github.com/Expensify/App/issues/7556
https://github.com/Expensify/App/issues/7550
https://github.com/Expensify/App/issues/7549
https://github.com/Expensify/App/issues/7547
https://github.com/Expensify/App/issues/7543

[2022-02-03 22:39] anthony-hull commented on #7082
Agreed, I think you'd pass a public key to the back end when you setup biometrics and then sign a message using biometrics to do Authy things.

On logout delete from the keystore.
When authToken and refreshToken are expired, use biometrics to get a new authToken.
After first fail of biometrics let user re-try or logout or use username and password.

[2022-02-03 22:43] puneetlath commented on #7499
Not deployed yet.

[2022-02-03 23:00] JmillsExpensify commented on #5082
All checked out! Offer sent, will process as soon you accept and then we can close this issue. 😄

[2022-02-03 23:03] JmillsExpensify commented on #7518
Oh nice, great catch @puneetlath. I like that for now. Longer term, I'd like to see us review activity on this payment method, and depending on that, potentially deprecate the Paypal.me method entirely. Anyway, that's not for today in any case...

[2022-02-03 23:13] JmillsExpensify commented on #7471
Hired/invited all contributors for this job. 🙌

[2022-02-03 23:14] jliexpensify commented on #7307
According to the SO, I should check with @thienlnam - are we ok to double?

[2022-02-03 23:16] pecanoro commented on #7556
Sorry, those are not undefined characters, Spanish has opening exclamation and interrogation marks beside the closing one. There is no bug, so I am going to close the issue!

[2022-02-03 23:16] #7556 closed

[2022-02-03 23:17] JmillsExpensify commented on #7463
Hired assigned contributors associated with this job.

[2022-02-03 23:18] JmillsExpensify commented on #7381
Will hold on this issue pending regressions, per the message above. Circle back then.

[2022-02-03 23:18] adelekennedy commented on #7309
Hot potato received:
Internal: https://www.upwork.com/ab/applicants/1489377449143873536/job-details
External: https://www.upwork.com/jobs/~01ca89914dc9650e92

@parasharrajat hired you!

[2022-02-03 23:19] JmillsExpensify commented on #7334
@okansahin I wanted to check in on this one, as I'm behind in Slack. Were you able to find a consensus on this one, and if so, do you mind linking to the discussion? Thank you!

[2022-02-03 23:21] JmillsExpensify commented on #7012
Will hold on this issue pending regressions, per the message above. Circle back then.

[2022-02-03 23:22] adelekennedy commented on #7014
@parasharrajat and @tgolen the job is open but I'm holding on hiring anyone for the moment

[2022-02-03 23:28] K4tsuki commented on #7014
Important note in testing this issue is to split bill to currently active room chat.

[2022-02-03 23:50] okansahin commented on #7334
@JmillsExpensify no i didn't started a discussion @mountiny says to do this next week.

[2022-02-04 00:09] thienlnam commented on #7307
Yup, go for it @jliexpensify 👌

[2022-02-04 00:09] MitchExpensify commented on #7537
For sure! Can you please make a proposal on the [Upwork job](https://www.upwork.com/jobs/~01a7cdd5c46a6a7ca8) @sig5 ?

[2022-02-04 00:10] MitchExpensify commented on #7140
Yes, thank you!

[2022-02-04 00:10] #7140 closed

[2022-02-04 00:43] kadiealexander commented on #7146
Updates are in the PR :)

[2022-02-04 00:44] kadiealexander commented on #7378
Updates are in the PR :)

[2022-02-04 00:45] wenge8n commented on #7307
@rushatgabhane could you check my proposal again?
I think we can say this is a new feature rather than an issue.

[2022-02-04 00:52] marcaaron commented on #6967
This is still in review. Also dropping a note here that we identified an improvement and @ABee-Tech has agreed to do a small refactor and there will be a fee increase.

[2022-02-04 00:55] jliexpensify commented on #6872
@K4tsuki could you link me your Upworks profile please? Thanks!

[2022-02-04 00:59] jliexpensify commented on #7307
Price doubled to $500 - https://www.upwork.com/ab/applicants/1483987676649086976/job-details

[2022-02-04 01:00] mallenexpensify commented on #6967
👍, in the future @marcaaron will you mention the amount and tag the CM in the comment?  I updated the amount in the title to $500, I'm assuming that's the new total price, let me know if now. Since I've already hired @ABee-Tech , I don't think upping the job price in Upwork will make a difference.

[2022-02-04 01:24] K4tsuki commented on #6872
@jliexpensify I want  to divide the reward for the three of us: me, brianmuks and sobitneupane as I state above. So the reward  is divided into three.
Here is my upwork profile:
https://www.upwork.com/freelancers/~01bdd9e3a6f15042bd

Thank you.

[2022-02-04 01:57] kadiealexander commented on #7542
Upwork link: https://www.upwork.com/jobs/~017f7581c4c2006a85

[2022-02-04 02:18] marcaaron commented on #6872
@K4tsuki Unfortunately, we don't really have a system to facilitate this. If you want to share the fee then that is up to you, but we can only hire one person to complete the job.

[2022-02-04 02:23] LucioChavezFuentes commented on #7535
This issue looks self explanatory. May I take it as my task?

[2022-02-04 02:29] K4tsuki commented on #6872
@marcaaron all right, I will follow the system.
And will contact sobitneupane and brianmuks later.
Thank you.

[2022-02-04 02:31] Christinadobrzyn commented on #7082
I think this needs to go to Engineering after the triage

[2022-02-04 02:32] mallenexpensify commented on #7531
@thesahindia , please apply here.
https://www.upwork.com/jobs/~0149292882085e4138
Thanks

[2022-02-04 02:32] Christinadobrzyn commented on #7082
Hey @thienlnam if this looks good, can you add the External label so we can get this in Upwork as a job?

[2022-02-04 02:44] Christinadobrzyn commented on #7082
Sorry I think I'm confused, I posted my questions [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1643942551127159). I didn't think we created a GH/Upwork job for Feature Requests - so just checking with the team on what to do next.

[2022-02-04 02:48] Christinadobrzyn commented on #7439
Awesome!
Hired @rushatgabhane as the Contributor+ for this job.
@thesahindia is already hired since he reported it but we'll plan on a 250 bonus for reporting the issue at the end of the job!

[2022-02-04 02:51] Christinadobrzyn commented on #6876
Sounds good! @parasharrajat is already hired as the Contirbutor+ for this issue. He'll also get the $250 bonus for reporting this issue.

@K4tsuki what is your name in Upwork so I can hire you?

[2022-02-04 02:52] K4tsuki commented on #6876
@Christinadobrzyn here is my upwork profile:
https://www.upwork.com/freelancers/~01bdd9e3a6f15042bd

[2022-02-04 03:40] kakajann commented on #7550
I think it's expected behaviour of the input

[2022-02-04 04:02] parasharrajat commented on #7309
I would like to work on this.

Here is my preposal https://github.com/Expensify/App/issues/7309#issuecomment-1017946829.

[2022-02-04 04:39] Christinadobrzyn commented on #6876
Thanks @K4tsuki - sent you an offer! Thanks!

[2022-02-04 04:46] parasharrajat commented on #7542
Interesting issue.
@thesahindia

Why don't we use the first name and Lastname from personal details? We can fall back to displayName.

[2022-02-04 04:48] Christinadobrzyn commented on #7538
Hired @rushatgabhane as the Contributor+ and @kakajann for the job in Upwork!

[2022-02-04 06:10] sig5 commented on #7537
Done!

[2022-02-04 06:32] rushatgabhane commented on #7535
Sure, that'd be great. Looks like you're a new contributor, as a reminder make sure you go through [CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md).

You could also [#expensify-open-source slack channel](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#asking-questions) if you like.

🎀👀🎀 C+ reviewed
@LucioChavezFuentes wants to volunteer for this task.

cc: @

[2022-02-04 06:50] MariaHCD commented on #7543
Thanks for the clarification!

# 1 I actually think that the current logic we have implemented [here](https://github.com/Expensify/App/pull/3777) for populating the names in the request call dialog makes sense. I can't think of another way to populate the first and last names. Will get a second opinion on this.

# 2 I believe the `¿` is part of Spanish punctuation. Looking at [this PR](https://git

[2022-02-04 07:29] sobitneupane commented on #7542
**Proposal**
`myPersonalDetails` prop has firstName and lastName as well. So my proposal is to replace following lines of codes by:
https://github.com/Expensify/App/blob/9d6e07a0d3bb298d7edba16824efb95afc94f280/src/pages/RequestCallPage.js#L195-L216
[code]

[2022-02-04 07:42] mdneyazahmad commented on #7518
## Updated Proposal

Only show the button when `isPayPalMeSelected` is `false`. Remove disabled prop and styles on the button.

[code]
Also remove margin top when there is no any button on top or else it will have more spacing to the top.

[code]

## Result

<img width="371" alt="Screenshot 2022-02-04 at 1 04 58 PM" src="https://user-images.githubusercontent.com/77761491/152490682-46f8d7c6-ee36-40

[2022-02-04 07:43] mdneyazahmad commented on #7518
@rushatgabhane Updated my proposal.

[2022-02-04 08:03] Beamanator commented on #7543
Hmm @MariaHCD looking at the logic @jasperhuangg implemented in the PR you linked, I wonder why he's not using `myPersonalDetails.firstName` and `myPersonalDetails.lastName`? Do you think it makes sense to try to get those values first, then use `myPersonalDetails.displayName` as a backup?

[2022-02-04 08:06] MariaHCD commented on #7543
Thanks! That sounds fair. @jasperhuangg Any particular reason why we're splitting displayName over just using whatever is in the `myPersonalDetails.firstName` and `myPersonalDetails.lastName`?

[2022-02-04 08:09] rushatgabhane commented on #7518
Appreciate the speedy response!

🎀👀🎀 C+ reviewed

@puneetlath  I like @mdneyazahmad's [proposal](https://github.com/Expensify/App/issues/7518#issuecomment-1029729986).

[2022-02-04 08:11] murataka commented on #4612
Proposal

Previously,

I further examined the app , and we understood that , the root cause was the external navigation library is not working properly.

https://user-images.githubusercontent.com/5358438/151611960-92006884-7b2a-4a4c-8f61-3efdcb4ec657.png

Also , the root cause was definitely related to this library, and the bug was reproducible with the same error logs which we got from native.

A

[2022-02-04 08:15] thesahindia commented on #7542
@parasharrajat, checked the code and didn't find any reason. So yeah I guess we can use it.

[2022-02-04 08:15] MariaHCD commented on #7543
Updated the issue title and body to reflect what we've landed on: The main issue being that the first and last name does not always populate correctly on the Request a Call dialog.

[2022-02-04 10:57] eVoloshchak commented on #7482
I was able to reproduce this issue

https://user-images.githubusercontent.com/9059945/152510052-19888fc8-4aaa-46a2-aea2-ee6f0d6f3e58.mp4

I'm guessing the root cause is that we are calling `focus()` for `TextInput` right after it first mounted.
There is a [couple](https://github.com/tttstudios/react-native-otp-input/issues/24) of [issues](https://github.com/software-mansion/react-native-screens/is

[2022-02-04 11:17] sketchydroide commented on #7528
:shipit:

[2022-02-04 11:17] #7528 closed

[2022-02-04 11:22] OSBotify opened #7564 "Deploy Checklist: New Expensify 2022-02-04"
**Release Version:** `1.1.36-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6839
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7445
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7446
  - [x] QA

[2022-02-04 12:18] eVoloshchak commented on #7270
Unable to reproduce.
Is there something specific about the information you filled out on the previous screens?

https://user-images.githubusercontent.com/9059945/152527368-048a8f37-5362-4444-89ce-ea53674e157e.mp4

Offtop:
I've encountered a strange behaviour when trying to reproduce this issue: if you are on one of the steps for filling out the 'Personal information', pressing the close button on

[2022-02-04 12:41] rushatgabhane commented on #7270
@eVoloshchak likewise here, unable to reproduce.

I don't think so. Yes please, report it on slack.

[2022-02-04 12:43] rushatgabhane commented on #7270
@Beamanator let's close this issue if you can't replicate it either?

[2022-02-04 12:59] bfitzexpensify commented on #7543
Upwork post [here](https://www.upwork.com/jobs/~0123912193e51a11fd)

[2022-02-04 13:35] Beamanator commented on #7543
@sobitneupane I think you're right, I believe we can close this as the issue is pretty much exactly the same as #7542, but #7542 was reported by a contributor

[2022-02-04 13:35] #7543 closed

[2022-02-04 13:36] parasharrajat commented on #7543
I was going to say the same. Thanks @Beamanator

[2022-02-04 13:36] Beamanator commented on #7543
@bfitzexpensify feel free to delete the Upwork job you made for this 😅

[2022-02-04 13:51] parasharrajat commented on #7542
:eyes:

[2022-02-04 14:37] bfitzexpensify commented on #7543
Easy, done!

[2022-02-04 14:37] mananjadhav commented on #7081
@Luke9389 Any updates for me here ?

[2022-02-04 14:37] stephanieelliott commented on #7541
Posted to Upwork: https://www.upwork.com/jobs/~0112e443eaeff9eccf

@rushatgabhane as the reporter of the issue, you have first dibs on fixing it! Please post your proposal here if you have one. After 3 days, we'll open this up to other contributors.

[2022-02-04 15:13] OSBotify commented on #7564
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.36-0 :rocket:

[2022-02-04 15:22] rushatgabhane commented on #7541
Anyone coming across this, feel free to post a proposal.

[2022-02-04 15:35] tylerkaraszewski commented on #7544
Marking as external.

[2022-02-04 15:54] NicMendonca commented on #7413
@parasharrajat don't forget to apply to the job as well for C+. Thanks!

[2022-02-04 16:17] LucioChavezFuentes commented on #7535
Thank you for the opportunity! In a few moments I will send my request to be invited to slack channel. I plan to post an update on issue progress on Monday 7th Frebuary 2022, is that ok?

[2022-02-04 16:37] aswin-s commented on #6806
I've applied for the upwork job, but yet to hear back from anyone. Shall I go ahead and raise a PR?

[2022-02-04 16:47] LucioChavezFuentes commented on #7535
My bad, I will proceed if approval.

[2022-02-04 17:41] stephanieelliott commented on #7011
All paid up, thanks @rushatgabhane!

[2022-02-04 17:48] mananjadhav commented on #6873
@mallenexpensify Reminder for Upwork.

[2022-02-04 17:51] puneetlath commented on #7518
Yep, looks good to me too. @JmillsExpensify let's go ahead and hire @mdneyazahmad in Upwork please.

[2022-02-04 17:51] parasharrajat commented on #7542
Thanks for the proposal guys. I like @sobitneupane's proposal lets go with that. Don't forget to fall back to displayName.

cc: @luacmartins

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-04 17:53] tgolen commented on #6806
Yeah, I think you can go forward with the PR right away. I'm sure the UpWork stuff will get taken care of in the meantime.

[2022-02-04 17:58] JmillsExpensify commented on #7518
Sounds great! @mdneyazahmad please apply for the job when you get a chance. @rushatgabhane I've also just invited you to apply as well. Thanks all.

[2022-02-04 18:02] puneetlath commented on #7544
@deetergp I'll take this.

@parasharrajat your proposal seems good to me.

[2022-02-04 18:06] parasharrajat commented on #7382
cc: @jboniface

[2022-02-04 18:15] parasharrajat commented on #7544
Thanks. PR will be ready asap.

[2022-02-04 18:26] jboniface commented on #7382
@parasharrajat hired for $500 since you also proposed it, will help me not forget!

[2022-02-04 18:32] rushatgabhane commented on #7482
Thanks for the detailed investigation @eVoloshchak.

Do a state change that renders the input (e.g., conditionally rendering it), and immediately call ref.focus(). This will result in the focus not firing because the input is technically not ready on the setState callback, which causes the issue

That seems true and should help.

But take a look at this - I've added the 100ms workaround and there

[2022-02-04 18:41] parasharrajat commented on #5125
@Julesssss I just checked that [this part](https://github.com/Expensify/App/issues/5125#issuecomment-1011165112) is already done https://github.com/Expensify/App/blob/1d72a5e01ed6e0c0b500f7e0617d05eb8c05dee9/src/pages/home/report/ContextMenu/ContextMenuActions.js#L54-L63

I have closed my PR https://github.com/Expensify/App/pull/6537 as HTML pasting had issues. Also, we will not need changes from

[2022-02-04 18:55] thienlnam commented on #7082
Looks like Alex answered your questions but yeah this will be a CME issue and will not need an upwork issue

[2022-02-04 18:55] mananjadhav commented on #6883
@jasperhuangg Is there any progress here? If you're fine and like to make it External, I can help with this.

[2022-02-04 18:57] luacmartins commented on #7542
Thanks for the input @parasharrajat! I agree that @sobitneupane is better.

[2022-02-04 19:07] luacmartins commented on #7542
Sorry, I accidentally unassigned everyone 🤦 @sobitneupane please apply to the job in Upwork!

[2022-02-04 19:18] chiragsalian commented on #7547
I'm pretty sure this is purely front end so we can export the issue but before we do I was curious if you guys wanted to investigate since I see you've worked on this flow before, cc @luacmartins, @aldo-expensify or @Luke9389.

[2022-02-04 19:33] aldo-expensify commented on #7547
I also think this is `External`, this happened to me in IOS

I this the same as https://expensify.slack.com/archives/C01GTK53T8Q/p1643910543271239 and https://expensify.slack.com/archives/C01GTK53T8Q/p1642611684186800 ?

[2022-02-04 19:37] puneetlath commented on #6488
Whoops, this fell through the cracks. Raised it here: https://expensify.slack.com/archives/C01GTK53T8Q/p1644003436373099?thread_ts=1637784337.476700&cid=C01GTK53T8Q

[2022-02-04 20:05] luacmartins commented on #7547
I think @aldo-expensify is right and it's because we are rendering a `FlatList` in a `ScrollView`. We can mark this as `External`.

[2022-02-04 20:12] ahmdshrif commented on #7476
@parasharrajat  can we start pr here?

[2022-02-04 20:13] chiragsalian commented on #7547
Cool, marking as external.

[2022-02-04 20:19] kbecciv opened #7572 "mWeb/Safari - Security - Close account button hidden by keyboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open IOS app
2. Navigate to Settings >Security > Close account

## Expected Result:
''Close account'' button  should be fully visible

## Actual

[2022-02-04 20:21] Luke9389 commented on #7550
Yea.... I'm not convinced this is a problem. It makes sense for the user to be able to read a message from the top down when it's been auto-filled for them, but this feels pretty low priority to me.

[2022-02-04 20:25] kbecciv opened #7573 "[HOLD for payment 2022-05-20] [$4,000] Web - Workspace- New capability to set tracking rate and unit persists after page refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Add the VBA into your testing account
1. Launch the app
2. Log in with expensiafail account
3. Go to Setting
4. Select any Workspace
5

[2022-02-04 20:26] roryabraham commented on #7220
Yeah, this makes more sense to me. Since I couldn't find other examples for the time being, I would be fine doing nothing here 🤷 It's not really a problem we should prioritize atm.

[2022-02-04 20:28] roryabraham commented on #6079
Maybe we should gather our thoughts a bit and create a feature request in react-navigation?

[2022-02-04 20:29] tgolen commented on #7220
I like the idea, and as long as we can find an example of it in our code, then let's do it!

[2022-02-04 20:29] roryabraham commented on #6079
In the meantime @neil-marcellini I would recommend taking an easier route to fix this issue and going with [this simpler suggestion](https://github.com/Expensify/App/issues/6079#issuecomment-1026300333).

[2022-02-04 20:44] Luke9389 commented on #7081
Thanks for the bump @mananjadhav, you can make a PR.

Yea, I think given the month long discussion, multiple iterations of proposals, and your suggestion to use a package (that we're now going with) I think it makes sense to double the budget here to $500. @stephanieelliott

[2022-02-04 21:03] eVoloshchak commented on #7482
Yup, that clearly doesn't work.
But i cannot reproduce it on my phone
1. It is unclear what happens on video, am I correct in thinking that on the third secong keyboad disappears by itself? Or did you press/scroll on some element on the screen?

Yes, that's probably it, considering that TextInput has fixes for it [throughout](https://github.com/Expensify/App/blob/580c9dbb1d2cf364bdcb6d7b3c06560f35

[2022-02-04 21:10] neil-marcellini commented on #6079
@roryabraham I'm still having trouble installing a release build on my IOS device. I also tried following [these instructions](https://stackoverflow.com/c/expensify/questions/7311) but I wasn't sure if that actually install a production build.

[2022-02-04 21:18] kavimuru opened #7576 "[HOLD][$8000] - mWeb - Chat - Unable to scroll to the oldest message for a conversation with lot of messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Log in with any account
3. Open existing chat.
4. Verify scroll-ability within the chat.

## Expected

[2022-02-04 22:18] MitchExpensify commented on #7537
Thanks, hired @sig5 !

[2022-02-05 00:16] mvtglobally opened #7579 "[HOLD][$4000] Some One-to-One Chats not shown for the first time after signing in - reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign out
2. Sign in
3. Refresh the page

## Expected Result:
Chats in LHN to be properly ordered with most-recent chats at the top

## Actual Res

[2022-02-05 00:35] roryabraham commented on #7579
Slack context: https://expensify.slack.com/archives/C01GTK53T8Q/p1643997124984809

[2022-02-05 00:36] sakluger commented on #7383
It's pretty easy to just delete your current PayPal.me account and then add a new one. Because of that, I don't think we need to add a button to modify that account.

[2022-02-05 00:36] #7383 closed

[2022-02-05 00:40] kavimuru opened #7581 "IOU - User is taken to another chat after completing Request money flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Select a user (User A)from the LHN and complete IOU (Request money) flow
3. Go different chat (User B)and complete th

[2022-02-05 00:41] roryabraham commented on #6306
Still no update

[2022-02-05 00:50] roryabraham opened #7582 "Tighten up search results expectations"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem

There are a number of different types of chats and users, and it's not clearly documented anywhere the order in which those should appear when searching for

[2022-02-05 00:51] roryabraham commented on #7582
Going to make this internal for step 1 only, then will pass off to contributors.

[2022-02-05 00:51] mallenexpensify commented on #7579
Posted, made it $1000 because it's affecting many users and, if a user doesn't know about the bug, they're not receiving the chats https://www.upwork.com/jobs/~01a5ed8b70c6ccb18b

[2022-02-05 00:51] roryabraham commented on #6627
Created a follow-up: https://github.com/Expensify/App/issues/7582

[2022-02-05 00:51] #6627 closed

[2022-02-05 00:51] Luke9389 commented on #7400
not producible

[2022-02-05 00:55] mananjadhav commented on #3245
@parasharrajat @puneetlath PR1 is already reviewed. I've created two PRs from the first PR branch and raised them. We can review and merge them separately.

[2022-02-05 01:12] mallenexpensify commented on #6873
Thanks for the ping @mananjadhav , you're paid now.
@parasharrajat , I hired you, let me know when you accept and I'll pay for C+

[2022-02-05 01:20] sakluger commented on #7465
It's pretty easy to just delete your current PayPal.me account and then add a new one. Because of that, I don't think we need to add a button to modify that account. Thanks for the proposal, and feel free to comment if you still think this is needed!

[2022-02-05 01:20] #7465 closed

[2022-02-05 01:49] roryabraham commented on #7094
Sorry, have yet to get around to this. Hopefully next week...

[2022-02-05 02:36] kbecciv opened #7583 "IOS - App freezes when tapping on Global Create menu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create new Expensify account
2. Validate new account
3. Open Global Create Menu
4. Tap on Create a New Workspace

## Expected Result:
Tap global

[2022-02-05 02:48] mvtglobally opened #7584 "[HOLD for payment 2022-04-13] Feature Request: Add support for an image placeholder in chat - Reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Load big size image or any image on the slower network

## Expected Result:
Image placeholder should display. Something like a loadin

[2022-02-05 02:55] mvtglobally opened #7585 "[HOLD for payment 2022-03-24] Tablet landscape - It's difficult to select emoji in tablet - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app on IPad
2. Navigate to any chat
3. Select Emoji picker and try to pick emoji

## Expected Result:
On Tablets with touchscreen in landsca

[2022-02-05 04:52] mvtglobally opened #7586 "PAYMENT: 17 August Money requests are marked as paid if the other user deletes their account - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. - Request money from User X
2. - Delete the account of User X
3. - Now check it will show User X paid you

## Expected Result:
There should be cl

[2022-02-05 04:59] mvtglobally opened #7587 "[Hold] [$250] Feature request: Show a success growl on invite - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Settings>Workspace>Manage Members
3. Invite any user

## Expected Result:
Show a success growl on invite

## Actual Resul

[2022-02-05 05:17] mvtglobally opened #7588 "[HOLD] Feature request : We should show the time of edit when we hover over - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. navigate to any chat and send messages
3. Edit any message
4. Hover over to see timestamp

## Expected Result:
We should show the tim

[2022-02-05 05:21] mvtglobally opened #7589 "[Hold for payment 2022-02-14] Invite new member's personal message textinput is centered in iOS - Reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Settings>Workspace>Manage Members
3. Invite
4. Start typing in the custom message field

## Expected Result:
Message shou

[2022-02-05 07:24] thesahindia commented on #7587
### Proposal
We just need to call `Growl.show` if we get 200. For this we can add the code below and we need to pass  shouldGrowl argument as true in Invite function
[code]
https://github.com/Expensify/App/blob/2f1e15484edccc08908899ec3f5f5b5731c01929/src/libs/actions/Policy.js#L334-L340

we can do the same in removeMember function to show growl on removing member
https://github.com/Expensify/App/

[2022-02-05 09:31] rushatgabhane commented on #7482
@eVoloshchak there are 3 cases in the video

1. Edit report scrolls down 100%, keyboard opens up, and edit report is focused.
2. Edit report scrolls down 50%, keyboard opens up, but edit report loses focus so typing on keyboard does nothing.
3. Edit report scrolls down 50%, keyboard flashes and edit report focus is lost.

I hope this makes sense.

This doesn't help.

[2022-02-05 09:33] eVoloshchak commented on #7482
Ok, thanks for clarification
I'll try to investigate this a bit more on monday

[2022-02-05 13:04] kbecciv opened #7590 "[HOLD for payment 2022-03-02] IPAD -Attachment - Extra white line displayed in Preview page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in app
2. Tap on any conversation, click on the + button in the compose box
3. Click on add attachment
4. Upload a PDF file
5. Tap on the PDF

[2022-02-05 14:00] sobitneupane commented on #7542
Applied.

[2022-02-05 14:17] sig5 commented on #7537
Hey guys, I am coming across this error whilst adding the `StatePicker` to the storybook. Seems like a Transpilation error related to Flow. I am not sure how to tackle it.
[code]
This seems like a relevant issue: https://github.com/storybookjs/storybook/issues/10131
Can someone suggest changes on how to integrate Flow support for the storybook? ( Or tag someone? )

[2022-02-05 15:38] okansahin commented on #7516
### PROPOSAL

This caught my attention, and I got there is a ratio problem.

<img width="496" alt="Screen Shot 2022-02-05 at 18 02 55" src="https://user-images.githubusercontent.com/1966034/152647818-11765c7d-f449-4375-8ee3-4ce481adfe29.png">

I tracked down react-native-render-html library. And I tried to render html with their original <RenderHTMLConfigProvider> so blur is gone.

I compared it w

[2022-02-05 17:20] kbecciv opened #7591 "[HOLD for payment 2022-04-13] [HOLD for payment 2022-03-22] Android - Picture looks smaller in Preview page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Tap on any user
4. Tap on plus button and add attachment
5. Tap on Select from Gallery
6. Attach any

[2022-02-05 19:46] Viacheslav80 commented on #7497
### Proposal
Create new  PreRenderer.js  for HTMLRenderers. Inside:
[code]
/src/components/HTMLEngineProvider/HTMLRenderers/index.js :
[code]

https://user-images.githubusercontent.com/51112870/152656522-bbbcc63f-685a-4e00-b772-946eea641450.mov

[2022-02-06 11:32] parasharrajat commented on #7516
Holding this issue until #7382

[2022-02-06 11:43] mdneyazahmad commented on #7584
## Proposal

#### Proposing as I reported this issue

We need to add a loading state to track when the image is loaded. Image component accepts a prop `onLoadEnd` which is fired when the image is successfully loaded or it has failed. We set `loading` to `false` when it is fired. All changes are made in file `src/components/ImageWithSizeCalculation.js`.

[code]

Now, conditionally display the loadi

[2022-02-06 14:18] murataka commented on #7581
Duplicate : https://github.com/Expensify/App/issues/6912#issuecomment-1025987463

[2022-02-06 17:45] rushatgabhane commented on #7497
@NikkiWines sorry, I can't review this one. I'm not well 🤒

[2022-02-06 19:07] mountiny commented on #7491
This was deployed to production on Friday 2022-02-04. The wrong format of linking the PR has been used which caused that the automatic update has not happened.

[2022-02-06 23:06] mountiny commented on #7521
@kbecciv Thank you for retesting. This new video shows I think different scenario than when it was originally reported.

When it comes to the `Cannot validate at this time due to rate limit on maskedPAN` error in the originally reported issue, that seems to me still as a problem stemming from testing using this card very quickly in a row. Would you be able to retest with the correct password going

[2022-02-06 23:15] mountiny commented on #7585
I would like to point out that the video does not show iPad and iOS, but an Android tablet and it also feels like the tablet has quite a small screen. @Tushu17 could you please confirm a model of the table this was tested on and its screen size (viewport)?

For example, due to these design issues, we are not supporting landscape mode on phones. This screen seems smaller than 11inch iPad to me.

I

[2022-02-06 23:17] abecciv commented on #7521
@mountiny The reported issue is Failed to set default payment when entered correct password. Applause team are thinking this two issues have the same root of cause that's why I attached the screenshot with error message *Cannot validate at this time due to rate limit on maskedPAN*. Sorry for confusion.

[2022-02-06 23:20] kbecciv commented on #7521
@mountiny [@mountiny](https://github.com/mountiny) The reported issue is Failed to set default payment when entered correct password. Applause team are thinking this two issues have the same root of cause that's why I attached the screenshot with error message Cannot validate at this time due to rate limit on maskedPAN. Sorry for confusion.

[2022-02-06 23:29] mountiny commented on #7521
Ah, I see. Thank you for the clarification.

I _think_ I am quite sure that the cause for these two errors should not be the same. The one with maskedPAN comes from our own backend code, whereas the other one which simply says declined is coming from Stripe.

I think we should give this more tries to replicate since, in the case of the maskedPAN, this really should happen only if the same card is

[2022-02-06 23:37] SofiedeVreese commented on #7589
LGTM. Adding ENG.

[2022-02-07 02:38] Christinadobrzyn commented on #7472
@mvtglobally just a nudge, can you test this again? Thank you!

[2022-02-07 04:08] mvtglobally commented on #7425
@michaelhaxhiu , you are right. Original issue is about ability to access same password setup link twice

[2022-02-07 04:37] mvtglobally opened #7596 "[HOLD for payment 2022-05-02] [$1000] When you tap on any image/attachment and scroll, it fades - Reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. OPen app
2. Navigate to any chat with attachments
3. Click on attachment and scroll

## Expected Result:
Image should be visible

## Actual Resul

[2022-02-07 04:43] mvtglobally opened #7597 "[HOLD for payment 2022-02-22] When typing password, view password is disabled - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Settings>Security>Change password
3. Start typing password and click on Show password

## Expected Result:
User should be

[2022-02-07 04:47] mvtglobally opened #7598 "[$500] Uploading an SVG image ends up into an endless spinner - reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to any chat
3. Send SVG file
4. refresh

## Expected Result:
~~User should be able to upload and download files~~

3/3 edit:

[2022-02-07 07:18] mdneyazahmad commented on #6301
## Initial Proposal

I am proposing my initial approach to implement this feature. I need some more time to propose a detailed documentation. Here's the overview of what I will do.

### Steps
1. Create a separate page `ProfileAvatarEdit` and link it to `react-navigation`.
2. When user selects an image will navigate to this page, user edits and save it.

The `ProfileAvatarEdit` page will contain `I

[2022-02-07 07:59] ahmdshrif commented on #7597
# Proposal

this issue happened because we set the text input in scrollView

adding `keyboardShouldPersistTaps` to scrollView will solve this issue

https://user-images.githubusercontent.com/21364901/152747755-a79c62b9-dca0-4f7e-9b3a-45c88c9b3893.mov

[2022-02-07 09:42] laurenreidexpensify commented on #7597
https://www.upwork.com/jobs/~01bb6dd6da1c038a2d

[2022-02-07 10:49] parasharrajat commented on #7597
@ahmdshrif's [proposal](https://github.com/Expensify/App/issues/7597#issuecomment-1031171247) looks good to me. I don't see any reason where this will create a problem on this screen.

cc: @AndrewGable

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-07 11:09] Julesssss commented on #5125
Hi @parasharrajat, I'm a bit confused but it sounds like we don't need to make any changes?

Is this something that will be unused now? If so we should probably clear that up and then we can pay out the issue.

[2022-02-07 11:15] parasharrajat commented on #5125
Yeah, I am not able to find the fork as well.

[2022-02-07 11:23] Julesssss commented on #7573
Hi @kbecciv can you explain why we should not see the mileage tracking? I can't see any requirement for the rate to be hidden:

[2022-02-07 11:53] dylanexpensify commented on #7350
FYI Job posting was removed!

[2022-02-07 12:14] dylanexpensify commented on #7494
posting now!

[2022-02-07 12:15] dylanexpensify commented on #7494
Posted!

Internal: https://www.upwork.com/ab/applicants/1490660496674013184/job-details
External: https://www.upwork.com/jobs/~0136d8a7070419a57b

[2022-02-07 12:33] parasharrajat commented on #6301
Thanks for the proposal @mdneyazahmad.
As discussed [above](https://github.com/Expensify/App/issues/6301#issuecomment-1016740177), we want to implement the zoom/transform/rotate behavior as a custom component but not based on any third party lib.

Anyways, good luck with the attempt. I am eager to hear the full proposal in the [format](https://github.com/Expensify/App/issues/6301#issuecomment-1021

[2022-02-07 12:34] parasharrajat commented on #5125
I think we can close this now. @Julesssss

[2022-02-07 12:36] bfitzexpensify commented on #6470
Progress being made in https://github.com/Expensify/App/pull/7530

[2022-02-07 12:38] bfitzexpensify commented on #7317
No progress again for 7 days, doubling again to $1000. Upwork [job](https://www.upwork.com/jobs/~0140b54fd42619da64)

[2022-02-07 12:40] bfitzexpensify commented on #7477
Upping this to $500

[2022-02-07 12:55] kakajann commented on #7597
I've reported this issue a month ago!
https://expensify.slack.com/archives/C01GTK53T8Q/p1641098441367900

[2022-02-07 13:21] rushatgabhane commented on #7494
🎀👀🎀 C+ reviewed

I like @sobitneupane's [proposal](https://github.com/Expensify/App/issues/7494#issuecomment-1027794991). Adding background color in `styles.js` is more cleaner.

cc: @AndrewGable

[2022-02-07 13:35] parasharrajat commented on #7597
I see @kakajann. Slack thread does not indicate any reason for blocking it. It seems that it was misinterpreted by the QA team. leaving this part to @laurenreidexpensify

[2022-02-07 14:25] Julesssss commented on #7376
Still discussing[ in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1644243887888499?thread_ts=1643287755.073400&cid=C01GTK53T8Q). Looks like we're close to a decision though.

[2022-02-07 14:51] kakajann commented on #7590
# Proposal
This diff will solve this issue
[code]

Here is the result:
| Before | After |
|--------|-------|
|![Screen Shot 2022-02-07 at 7 45 44 PM](https://user-images.githubusercontent.com/11542415/152811109-7bb48704-8766-4fbd-87dc-2fea9017894f.png)|![Screen Shot 2022-02-07 at 7 45 51 PM](https://user-images.githubusercontent.com/11542415/152810904-d845920d-af72-4f74-8705-1d60ebb08bec.png)|

[2022-02-07 15:12] kavimuru commented on #7573
Hi @Julesssss

As per #6839 "set tracking rate and unit" option should appear in ""Reimburse expenses" page. It appears if the account does not have VBA added, and if the account has VBA it does not appear in ""Reimburse expenses" page and appears for a brief moment when refreshing the page. So expected and actual results should be corrected. Attaching a new video here with accounts which has VBA

[2022-02-07 15:15] Julesssss commented on #7376
@parasharrajat would you mind reviewing the updated description please?

[2022-02-07 15:16] Tushu17 commented on #7585
Hi @mountiny, here's a screenshot of iPad(11 inch)
the issue is for mWeb(iPad, Tablet)
![image](https://user-images.githubusercontent.com/89839952/152815724-4dafcbe4-6da9-4710-8963-10977793f216.png)

[2022-02-07 15:21] Julesssss commented on #7573
Okay, thanks for explaining. I'm having an unrelated issue adding a VBA account currently, but I think we can start to review proposals.

[2022-02-07 15:35] mountiny commented on #7585
Thank you @Tushu17.

I think we should definitely look into this problem and try to solve it as for tablets this screen orientation is the most popular I would say.

Potential solutions could be:
- Make sure the keyboard closes when selecting the emoji on screens small enough that we know this problem would occur
    - This is probably not an ideal solution since we are making it harder for the us

[2022-02-07 15:36] parasharrajat commented on #7376
Looks good to me

[2022-02-07 15:58] stitesExpensify commented on #7535
Go for it @LucioChavezFuentes! Please apply for the job on Upwork and then @laurenreidexpensify will accept you

[2022-02-07 16:06] mvtglobally commented on #7564
@roryabraham
Regression is completed
Issues logged
https://github.com/Expensify/App/issues/7572
https://github.com/Expensify/App/issues/7573
https://github.com/Expensify/App/issues/7576
https://github.com/Expensify/App/issues/7581
https://github.com/Expensify/App/issues/7583
https://github.com/Expensify/App/issues/7590
https://github.com/Expensify/App/issues/7591

[2022-02-07 16:07] thesahindia commented on #7585
### Proposal
I think we can show the emoji picker menu like we do on the app and for this we can use `canUseTouchScreen( )` instead of `isSmallScreenWidth` inside `Popover` it will also make the popovers consistent as currently the popovers on app and mWeb are different in tablet. Ex:-

**App**
<img width="960" alt="Screenshot 2022-02-07 at 9 31 21 PM" src="https://user-images.githubusercontent.co

[2022-02-07 16:16] mountiny commented on #7585
@thesahindia Thank you for the proposal. How would it behave when typing a text, choosing an emoji and then typing again. I am afraid the transitions/animations between these might be too sluggish and it might not look the best.

Also on the screenshot provided the text user is composing is not visible. I believe we should make sure the text will be visible when choosing the emoji. But I understan

[2022-02-07 16:28] kevinksullivan opened #7601 "Don't show `Transfer balance` option when current balance of Wallet = $0"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to account with a Wallet that has a current / available balance of $0
2. Go to Settings > Payments
3. Verify balance shown in UI is $0

##

[2022-02-07 16:39] thesahindia commented on #7585
Yeah I agree, the text should be visible. Currently our emoji picker hides the compose field. Should we log this as an other issue as it is not only for tablet?
here's a vid of ios app:-

https://user-images.githubusercontent.com/83179295/152830804-89911bc5-028c-494b-a46a-8c8422d9f207.mov

[2022-02-07 16:46] mountiny commented on #7585
@thesahindia ah, I see. As I use the in-built emoji picker I have never noticed this. No, I would say it is something we can discuss in future but since it is already hiding the text on mobile, we should be fine with doing similar thing on ipad too.

Another difference is that there is no search field on mobile, which means there is no keyboard needed which would solve the issue of the small table

[2022-02-07 16:48] kevinksullivan opened #7602 "[HOLD for payment 2022-03-08] Change `Issue corporate cards` to `Issue cards` in Workspace editor"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create workspace
2. Go to workspace menu

## Expected Result:
See `Issue corporate cards` tab

## Actual Result:
Tab should be named `Issue cards

[2022-02-07 16:55] michaelhaxhiu commented on #7425
@kavimuru I have another follow up question on the Expected Result:

Is this a real page we have today? Or are we requesting that we create a new page that shows this message?

[2022-02-07 17:02] tgolen commented on #6941
@BalogunofAfrica Can you provide an update on the status of that fix being incorporated into React-Native?

[2022-02-07 17:02] luacmartins commented on #7199
The input in `LoginForm` remains focused after transitioning to either `PasswordForm` or `ResendValidationForm`, thus the active keyboard. Is the expected behavior to keep the keyboard active when transitioning to `PasswordForm` but dismiss it when transitioning to `ResendValidationForm`? Or should we always dismiss the keyboard on both transitions?

[2022-02-07 17:09] rushatgabhane commented on #7199
Yes this is the expected behavior.  Keyboard should stay active when transitioning to PasswordForm, but it should be dismissed when transitioning to ResendValidationForm

[2022-02-07 17:25] roryabraham commented on #7564
Great, looks like we've got no deploy blockers on this checklist. I'm going to make sure that the internalQA is completed, then hopefully we can run a production deploy here soon.

[2022-02-07 17:37] kidroca commented on #6059
I've just stumbled on this in the Network tab (web/desktop):
![image](https://user-images.githubusercontent.com/12156624/152840274-89316256-6e51-4c80-8285-155fb19ea519.png)

These calls originate from: `webpack:///./node_modules/@react-native-community/netinfo/lib/module/internal/internetReachability.js`
![image](https://user-images.githubusercontent.com/12156624/152841115-f7da4ba9-5ea6-41a8-b6e6-

[2022-02-07 17:53] LucioChavezFuentes commented on #7535
Thank you! I submitted my proposal on Upwork. I plan to finish the issue on Wednesday, 9th February.

[2022-02-07 18:11] deetergp commented on #5897
Where are we at with this? Is it still an issue?

[2022-02-07 18:13] roryabraham commented on #7564
Finished internal QA on https://github.com/Expensify/App/pull/7534, going to run a production deploy now.

[2022-02-07 18:13] roryabraham commented on #7564
:shipit:

[2022-02-07 18:13] #7564 closed

[2022-02-07 18:21] AndrewGable commented on #7494
👍 - Sounds good

[2022-02-07 18:24] botify commented on #7495
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.36-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7513

If no regressions arise, payment will be issued on 2022-02-14. :confetti_ball:

[2022-02-07 18:24] botify commented on #7077
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.36-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7445

If no regressions arise, payment will be issued on 2022-02-14. :confetti_ball:

[2022-02-07 18:24] botify commented on #6213
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.36-0 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6839

If no regressions arise, payment will be issued on 2022-02-14. :confetti_ball:

[2022-02-07 18:26] OSBotify opened #7608 "Deploy Checklist: New Expensify 2022-02-07"
**Release Version:** `1.1.37-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/7460
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7509
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7558
  - [x] QA

[2022-02-07 18:36] parasharrajat commented on #5897
I think it is. I will try to find a solution to this problem.

[2022-02-07 18:37] mallenexpensify commented on #7579
Lot of discussion going on in the[ most-recent Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1643997124984809).  Thanks @murataka and @kidroca for the help!

I found that -  on desktop, staging, version 1.1.36-0 - If I quit the app after signing out, when I signed back in, the chats were loading quickly and in the correct order (at least, the majority of the time, I did a dozen t

[2022-02-07 18:45] #7199 closed

[2022-02-07 19:06] anthony-hull commented on #4737
@kadiealexander  Should I have had a reporting bonus for this issue?

[2022-02-07 19:11] iwiznia commented on #7489
Looks good but let's first define:

What exactly are you not sure about?

[2022-02-07 19:17] mananjadhav commented on #7489
`LongTermsForm` component uses `CONST.NEWDOT` which is set as `new.expensify.com`. We also have `NEW_EXPENSIFY_URL` which will have `https://new.expensify.com`. So should we be keeping the `CONST.NEWDOT` as is or change it to `NEW_EXPENSIFY_URL`.

[2022-02-07 19:21] adelekennedy commented on #7309
@parasharrajat you're hired for the reporting bonus and assigned here - @iwiznia anything you need to review before @parasharrajat starts working on this?

A note for myself that you will be paid the hiring and reporting bonus for this issue

[2022-02-07 19:28] michaelhaxhiu commented on #7496
@sobitneupane can you leave a proposal on [the upwork job](https://www.upwork.com/jobs/~01ac5957ca23f14a0c) so I can hire you there?

[2022-02-07 19:30] yuwenmemon commented on #7581
Dupe - closing!

[2022-02-07 19:30] #7581 closed

[2022-02-07 19:34] OSBotify commented on #7608
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.37-0 :rocket:

[2022-02-07 19:38] trjExpensify commented on #6213
👋 I just tested this and I think we have a problem, @marktoman & @deetergp. The default IRS rate for newly created policies should be `0.585`:

![image](https://user-images.githubusercontent.com/16232057/152856671-dd948963-23f2-4484-b870-49ec7e1a0db7.png)

Whereas in NewDot this appears as `58.50`:

![image](https://user-images.githubusercontent.com/16232057/152856934-5c499c49-45f2-4fc9-8a4f-45294

[2022-02-07 19:55] AndrewGable commented on #6877
I don't think redirecting to the bank account dropdown menu is possible, but I do not know if it's currently implemented or not.

[2022-02-07 19:58] trjExpensify commented on #6213
Removing the `Awaiting payment` label until a fix is up for this, also moved the issue back to `Daily` as this is on production and going to cause confusion.

For the PR sent to fix it, I think we should add the `CP Staging` label. Curious for your thoughts on that too, Scott.

[2022-02-07 19:58] rushatgabhane commented on #7489
We're using `NEWDOT` in only one place. We shouldn't change it to NEW_EXPENSIFY_URL because all other links in this page don't have https.

<img width="329" alt="image" src="https://user-images.githubusercontent.com/29673073/152860189-e8f223b1-a83e-4409-a23d-a0e38a5e3571.png">

https://github.com/Expensify/App/blob/6976b4a019eb85284e85240e2b43201a3ae28947/src/pages/EnablePayments/TermsPage/LongTer

[2022-02-07 20:03] mananjadhav commented on #7489
My thought was add a util: `getRelativeUrl(url)` with `url.replace(/(^\w+:|^)\/\//, '')` and then use `NEW_EXPENSIFY_URL`.

[2022-02-07 20:03] parasharrajat commented on #6720
@hiteshagja  Ok. It seems to work well. But I was thinking as Rory suggested on slack to get the Drawer Route and reset the state without losing history would be more future-proof. If you think that is a better approach, could you please try that and tell me if that works.

Otherwise, I am Ok with the current [solution](https://github.com/Expensify/App/issues/6720#issuecomment-1028153457).

[2022-02-07 20:10] kavimuru opened #7609 "mWeb - Chat - New Group with long emails display goes beyond borders"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot
2. Create a group with few long emails
3. Navigate to group chat

## Expected Result:
User should be clearly able to see emails and u

[2022-02-07 20:17] puneetlath commented on #7588
Responded in slack to get a better sense of the value in this before going forward.

[2022-02-07 20:25] mananjadhav commented on #7317
**Proposal**
I'll add a `keyboard` handler to `BasePopoverMenu`. Can be optionally added by a prop so that Keyboard events are listened only based on the prop say `allowKeyboardMovement`.

1. We store the active menu in the state: `this.state = { activeMenuIndex: -1 }`
2. On `componentDidMount`, we set up the events
[code]

3. We add `cleanUpHandlers`, which will remove keyboard handlers on compon

[2022-02-07 20:43] mananjadhav commented on #7475
I checked it throws an error in iPad Native. I checked few other classes, and none of them seem to work. Should we implement `100vh` along with `index.web.js` platform-specific designs?

[2022-02-07 20:53] AndrewGable commented on #7597
Proposal sounds good to me 👍

[2022-02-07 21:02] mananjadhav commented on #6808
Unable to reproduce. Is this still an issue?

[2022-02-07 21:28] luacmartins commented on #7589
The issue is that the input is not "expanding" to the container height. We can see it if we add a border to it. It's affecting other places that use multiline inputs, e.g. `Profile > Security > Close account`. I'll put up a fix now.

<img width="386" alt="Screen Shot 2022-02-07 at 5 54 46 PM" src="https://user-images.githubusercontent.com/22219519/152874734-3f84e05d-8861-405a-8da0-62279ebdb57e.png

[2022-02-07 21:30] mallenexpensify commented on #7584
Job posted https://www.upwork.com/jobs/~018c2e439c0f0663e4
@rushatgabhane can you review @mdneyazahmad 's proposed solution above? (or.. if you're out, unassign yourself and ping @mountiny to ask to review)
https://github.com/Expensify/App/issues/7584#issuecomment-1030815511

[2022-02-07 21:44] iwiznia commented on #7309
Proposal looks good, we can keep this issue to track the reporting

[2022-02-07 21:46] iwiznia commented on #7489
This sounds reasonable to me

But is that on purpose? Why wouldn't we want to use https in all links?

[2022-02-07 21:51] mananjadhav commented on #7489
Reading `https://`, etc. is not reader-friendly?

[2022-02-07 21:53] mananjadhav commented on #7307
@rushatgabhane Upon further testing, I found that for me all the images are always stored in the Files and not in Photo Gallery. I am using iPhone 12, iOS 15.2.1. Can you share your version?

I've tried the same on iOS Simulator and it ends up saving in Documents only. At the first attempt, even I feel we should use:  [react-native-cameraroll](https://github.com/react-native-cameraroll/react-nativ

[2022-02-07 22:00] iwiznia commented on #7489
🤷 let's just use the one with https, I don't think it's a big deal.
Anyway, @laurenreidexpensify let's hire @mananjadhav please

[2022-02-07 22:26] roryabraham commented on #7352
Yep, let's double this one.

[2022-02-07 22:36] kevinksullivan opened #7613 "Set default wallet payment method when one card/account exists"
# Problem

Coming from [this conversation](https://expensify.slack.com/archives/C02NZ2HGJAZ/p1643834892220039?thread_ts=1643638216.390969&cid=C02NZ2HGJAZ), a user is forced to pick the bank account/card they want to transfer their balance to, even when they only have one bank account/card associated with their Expensify account. This is an unnecessary step in the likely situation where they want t

[2022-02-07 22:45] marcaaron commented on #7613
Technically this is a few issues - but I'll use this one to track them:

- [ ] Make sure to set a default automatically whenever it is added (back end change)
- [ ] Only show a default badge when there are more than 1 payment methods (front end change)
- [ ] Skip account selection screen when there is only one option (front end change)

[2022-02-07 22:48] marktoman commented on #6213
Also, when I change it to 0.585 we revert it back to two decimals in the UI (0.58):
Should I change the correction to 3 decimal places?

The other errors do not seem to be related to this issue. After creating a new workspace, I receive the wrong number prior to touching it in any way:
![image](https://user-images.githubusercontent.com/47689923/152884508-d8218519-dbb8-497a-88b2-0f3c2afa2ef0.png)

[2022-02-07 23:05] murataka commented on #7361
@kidroca , I was able to fill the OnyxDB, and everything, including chrome crashed, chrome also has gone to eternity. this causes many issues ...

[2022-02-07 23:11] kavimuru opened #7616 "Workspace - User A page is crashed instead of log out when User B creates a workspace from OldDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing #7509**
## Action Performed:
1. Open an incognito window and go to expensify.com
2. Sign in to expensify.com as a brand new user (User A)

[2022-02-07 23:18] kavimuru opened #7617 "Web - Workspace - Several workspaces are created for the non validated user B account after sign out from user A"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing #7509**
## Action Performed:
1. Open an incognito window and go to expensify.com
2. Sign in to expensify.com as a brand new user (User A

[2022-02-07 23:30] mallenexpensify commented on #6873
Paid @parasharrajat !

[2022-02-07 23:30] #6873 closed

[2022-02-07 23:33] kavimuru opened #7618 "[HOLD] mWeb - Chrome start page opens tapping back button from chat window"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/[](javascript:)
and sign in
2. Tap the Search button and search any user to start a new chat
3. Tap the B

[2022-02-07 23:33] mallenexpensify commented on #7352
Doubled price to $500 - https://www.upwork.com/jobs/~0104b0a207be0dbbcb

[2022-02-07 23:35] roryabraham commented on #6720
[As stated in slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1644271807451349?thread_ts=1643822111.033669&cid=C01GTK53T8Q) I am okay with the current solution but want to make sure we test the OldDot -> NewDot transition (where we might not push `HOME` as first route

[2022-02-07 23:39] kavimuru opened #7619 "mWeb - Both User A and User B are logged in to NewDot instead of User A logged out when creating a workspace for User B"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**issue was found when executing #7509**

## Action Performed:
1. Open an incognito window and go to expensify.com
2. Sign in to expensify.com as a brand new user (User A

[2022-02-07 23:45] deetergp commented on #6213
@marktoman I guess we need to allow for the possibility of three decimal places, but only show two when there isn't an expressly stated third decimal.

[2022-02-08 00:30] kevinksullivan commented on #7536
FYI @sig5 I hired you for the job in upwork.

[2022-02-08 00:46] jliexpensify commented on #7583
Posted!

Internal - https://www.upwork.com/ab/applicants/1490849443536437248/job-details
External - https://www.upwork.com/jobs/~016d56e1d46aab68a8

[2022-02-08 01:17] kevinksullivan commented on #6806
Hired @aswin-s !

[2022-02-08 01:23] conorpendergrast commented on #7540
Checking for more perspectives in [the Open Source channel in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1644283290038249?thread_ts=1643129310.403700&cid=C01GTK53T8Q)!

[2022-02-08 01:50] AndrewGable commented on #7026
I'll look into this one very soon!

[2022-02-08 02:24] Tabakharniuk commented on #6301
https://user-images.githubusercontent.com/44551710/152904375-1a9a0da6-94e1-4f57-a165-e7bdc537990e.mp4

Full video: https://www.loom.com/share/98a0c44dad25484db5392207d31d308f ⬅

⚠️ After recording I've noticed that rotate button rotates clockwise instead anti-clockwise. This problem will be fixed in the final version.

## Offline support
All action related to Avatar edition (image pick, zoom, rota

[2022-02-08 02:36] kadiealexander commented on #4737
Hey Anthony! The reporting bonus came into effect in September last year, a few weeks after this issue was raised. ([Link to Slack post](https://expensify.slack.com/archives/C01GTK53T8Q/p1630447493236300)). The post is clear about issues raised before this date not qualifying for the reporting bonus, but if you think this should be reassessed for this issue please raise the question in #expensify-

[2022-02-08 02:51] SofiedeVreese commented on #7589
I'll need to add an internal label so we can pay out the contributor who reported this!

[2022-02-08 02:53] SofiedeVreese commented on #7589
Hey @JmillsExpensify looks like you've been assigned as CM. This issue was reported by an external contributor. It's been fixed but we'll want to pay out the reporting bonus most likely.

[2022-02-08 03:18] rushatgabhane commented on #7584
@mdneyazahmad I was thinking of keeping the dimensions of loading box same as the image, so it doesn't resize. But I don't think we can do that before the image has loaded.

[2022-02-08 03:19] parasharrajat commented on #6301
Thanks for the proposal @Tabakharniuk It looks very good. Let's get to the technicals now.
1. How will implement this in our app?
2. What will be the flow for a feature?
3. Where will you hook this in our app? I think there are two places mostly that require avatar uploading.
4. What are the hidden challenges?
5. Do you have questions for us?

This can be done if you are hired for the job so hold

[2022-02-08 03:25] mdneyazahmad commented on #6301
Agree with @Tabakharniuk proposal. If I am not wrong, we also have to setup expo packages.

[2022-02-08 03:28] parasharrajat commented on #7317
@mananjadhav 's Proposal looks good to me. I like that it is generic and can be applied to other menus easily.

A few points:
1. Menu should be highlighted with a blue border to indicate focus like TextInput.

cc: @puneetlath

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-08 03:32] rushatgabhane commented on #7584
@mdneyazahmad what's  `styles.dNone` and why do we need it?

[2022-02-08 03:35] parasharrajat commented on #6912
No, Update. Still holding...

[2022-02-08 03:35] mananjadhav commented on #6301
@parasharrajat Are we open for third party libraries and especially Expo ? If we are allowing expo then I feel https://github.com/Expensify/App/issues/6301#issuecomment-1014639018 is better ?

[2022-02-08 03:41] mvtglobally commented on #7609
potentially related to https://github.com/Expensify/App/pull/7453

[2022-02-08 03:48] parasharrajat commented on #6720
Based on the slack thread, it can't be tested on NetDot dev. so @chiragsalian Could you please test that on the PR?

and @hiteshagja Please add the QA steps for this check as well.

I am ok with @hiteshagja taking this job and implementing this [solution](https://github.com/Expensify/App/issues/6720#issuecomment-1028153457).

cc: @chiragsalian

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-08 03:52] JmillsExpensify commented on #5082
Payment processed and contract closed. Thank you!

[2022-02-08 03:52] #5082 closed

[2022-02-08 03:54] parasharrajat commented on #6301
I am ok with only image manipulation (cropping) but not with using a third-party lab to manage the Transformation. I think cropping will require some native solutions. But if we can do that via custom code that would also be great.

[2022-02-08 03:56] rushatgabhane commented on #7307
IIRC, it was v1.1.26-1 on a physical iPad, iOS 12.5.5.

Anyway, looks like all images for me are saved in Documents.

[2022-02-08 03:57] mdneyazahmad commented on #6301
@parasharrajat My solution is exactly what you are recommending. We will be using any third party library just to manipulate the image. If you go with `expo-image-manipulator`. We also need to setup our repository with `expo` managed project.

[2022-02-08 04:00] parasharrajat commented on #6301
Could we please wait for technical details? I am happy to hear all the proposals whatever they are. But yeah `expo-image-manipulator` has more features than we need.

[2022-02-08 04:03] mdneyazahmad commented on #6301
I have 1 more question. Can we use `react-native-guesture-handler` and `react-native-reanimated`. We already have it installed in our project?

[2022-02-08 04:05] rushatgabhane commented on #7307
@thienlnam I'm unassigning myself, please review this [proposal](https://github.com/Expensify/App/issues/7307#issuecomment-1017084477).

[2022-02-08 04:05] mvtglobally opened #7621 "App makes wrong request - reported by MURATAKA"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app ( https://new.expensify.com/r/XXXXXX ) XXXXXX is an existing report

## Expected Result:
No request before react router is initializ

[2022-02-08 04:06] parasharrajat commented on #6301
I think yes.

[2022-02-08 04:08] #6235 closed

[2022-02-08 04:09] mdneyazahmad commented on #7584
If we conditionally render the image then, `Image` will not be mounted and hence `onLoadEnd` will never be fired. `styles.dNone` will make it disappears but it will be there.

[2022-02-08 04:10] mvtglobally opened #7622 "Getting error on some pages in ios - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create NewDot account, verify
2. Create Workspace
3. Start add VBA flow
4. In Company information step, type something in the "Company Address" f

[2022-02-08 04:16] mvtglobally opened #7623 "Pressing enter/return on request call page is calling onPress function - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Workspace then general settings
2. Go to Get assitance page
3. Click on Request a setup Call
4. Select any field and press Enter/Return

##

[2022-02-08 04:18] mvtglobally opened #7624 "[HOLD for payment 2022-03-02] When you create a new room with visibility “private” it says there are 0 members"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to "+" > "New Room"
3. Select type Private and create

## Expected Result:
Room owner should count as member too

## Actual

[2022-02-08 04:19] kadiealexander commented on #7542
Sent you an offer in Upwork @sobitneupane, thanks!!

[2022-02-08 04:19] mananjadhav commented on #7307
**Proposal**

Based on my comment, all my images are always downloaded into Documents directory. https://github.com/Expensify/App/issues/7307#issuecomment-1031969238

My recommendation is to use `react-native-cameraroll` library as it allows you to access the appropriate Photo gallery in iOS.

Move the following logic to a separate function:
https://github.com/Expensify/App/blob/bf652633552c287a23

[2022-02-08 04:24] rushatgabhane commented on #7584
I understand. By styles.dNone you mean `display: none`?
Because I can't find dNone anywhere

[2022-02-08 04:24] mvtglobally opened #7625 "[HOLD for payment 2022-05-20] Wrong welcome message for deleted #admins/#announce rooms - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new workspace
2. Navigate to #admins or #announce rooms
3. Delete Workspace
4. Check room Welcome message

## Expected Result:
There sho

[2022-02-08 04:28] mdneyazahmad commented on #7584
Yes, It is `display: none`. Sorry, for misunderstanding.

https://github.com/Expensify/App/blob/78d6e68705ba5b986650cc93187f56f553d1bc23/src/styles/utilities/display.js#L11-L23

[2022-02-08 04:28] mvtglobally opened #7626 "[HOLD for payment 2022-03-02] After you transfer your balance the wallet page doesn't automatically update"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. From account A transfer balance to Account B
2. Login to account B and check balance
3. Refresh

## Expected Result:
Account balance should updat

[2022-02-08 04:35] MitchExpensify commented on #7624
This also applies impacts "Restricted" rooms too fwiw

[2022-02-08 04:35] Christinadobrzyn commented on #7591
Testing this on an iPhone - newdot v1.1.37-0

Action Performed:

- Launch the app
- Log in with any account
- Tap on any user
- Tap on plus button and Add Attachment
- Tap on Select from Gallery
- Attach any picture from Gallery
- Tap Send
- Tap on attachment again

<img src= "https://user-images.githubusercontent.com/51066321/152917663-6c9b038f-fd77-4287-a861-ec47db0699aa.gif" width="250" height=

[2022-02-08 04:38] mvtglobally commented on #7472
@Christinadobrzyn, sorry, somehow this issue alert kept getting into spam :(
I am not able to reproduce the issue. Tried Web/Desktop and Native app

[2022-02-08 04:47] Christinadobrzyn commented on #7591
Posted job in Upwork

Internal job post - https://www.upwork.com/ab/applicants/1490909932279709696/job-details
External job post - https://www.upwork.com/jobs/~0182049ebba1b31657

[2022-02-08 04:51] Christinadobrzyn commented on #7472
Thank you @mvtglobally! Not a worry! I think we can close this for now as it sounds like the issue is not reproducable.

[2022-02-08 04:52] #7472 closed

[2022-02-08 05:07] mvtglobally commented on #7464
@Luke9389 As per new process, if there is no feedback from Expensify, I log the issue once 7 days passed for the Triage team to review.

[2022-02-08 05:26] mvtglobally commented on #6675
Issue not reproducible during KI retests. (Third week) Closing

[2022-02-08 05:26] #6675 closed

[2022-02-08 05:28] mvtglobally commented on #7181
Issue not reproducible during KI retests. (First week)

[2022-02-08 05:30] mvtglobally commented on #7261
Issue not reproducible during KI retests. (Second week)

[2022-02-08 05:31] hiteshagja commented on #6720
@parasharrajat

Thank you for the update.

So shall I raise the PR today?

[2022-02-08 05:32] mvtglobally commented on #7293
Issue not reproducible during KI retests. (Second week)

[2022-02-08 05:33] mvtglobally commented on #7399
Issue not reproducible during KI retests. (First week)

[2022-02-08 05:34] hiteshagja commented on #6720
@parasharrajat

Thank you for the update.

So shall I raise the PR today?

[2022-02-08 05:37] mvtglobally commented on #7084
Issue not reproducible during KI retests. (Second week)

[2022-02-08 05:39] mvtglobally commented on #7267
Issue not reproducible during KI retests. (Third week)

[2022-02-08 05:42] mvtglobally commented on #7329
Issue not reproducible during KI retests. (First week)

[2022-02-08 05:43] parasharrajat commented on #6720
Please wait for @chiragsalian's review.

[2022-02-08 05:47] hiteshagja commented on #6720
Ok

[2022-02-08 06:35] ahmdshrif commented on #7591
I can't reproduce this on android,
may this image you test is small size

![Screen Shot 2022-02-08 at 8 30 52 AM](https://user-images.githubusercontent.com/21364901/152931442-e3b13a66-b35d-4625-bf61-aa083afeed62.png)

[2022-02-08 06:55] ahmdshrif commented on #7591
i think this can happen in case of image width less that screen width .  and from my point view this is normal behavior

but if you decided to continue with issue .

I will propose this.

in https://github.com/Expensify/App/blob/main/src/components/ImageView/index.native.js#L69-L73

[code]

will resize the image to have screen width

[2022-02-08 07:22] ahmdshrif commented on #7541
# Propsal

we can disciple font scaling

[code]
[code]

![Screen Shot 2022-02-08 at 9 19 09 AM](https://user-images.githubusercontent.com/21364901/152937297-1831a1c9-72e5-495c-99b9-512f9ea94e67.png)

[2022-02-08 07:41] Tushu17 commented on #7623
### Proposal
We need to pass `pressOnEnter` in `Button`
https://github.com/Expensify/App/blob/78d6e68705ba5b986650cc93187f56f553d1bc23/src/pages/RequestCallPage.js#L352-L356

[2022-02-08 08:38] rushatgabhane commented on #7584
🎀👀️🎀 C+ reviewed

@mountiny I like @mdneyazahmad's [proposal](https://github.com/Expensify/App/issues/7584#issuecomment-1030815511).

[2022-02-08 08:41] anthony-hull commented on #4737
no worries! thanks for the info :)

[2022-02-08 08:56] Beamanator commented on #7270
Hmm yeah I'm also unable to reproduce, @kavimuru will you please check this again and close if it's not still an issue? Maybe it got fixed somewhere recently 🤷

[2022-02-08 09:14] Beamanator commented on #6808
True I'm also not able to reproduce anymore. I will close.

@eVoloshchak You can create a brand new user with a very similar email address like myemail+1@gmail.com and myemail+2@gmail.com for testing, if you want - then you can invite them to the workspace

[2022-02-08 09:14] #6808 closed

[2022-02-08 09:26] dylanexpensify commented on #7145
Sent the offer @K4tsuki !

[2022-02-08 09:39] K4tsuki commented on #7145
@dylanexpensify I have accepted the offer. Thank you.

[2022-02-08 09:43] dylanexpensify commented on #7145
Payment sent, contract ended, and job closed!

[2022-02-08 09:43] rushatgabhane commented on #7591
Attach any picture from Gallery
Tap Send
Tap on attachment again

Hmm, I've followed these steps but I can't repo this bug.

https://user-images.githubusercontent.com/29673073/152958718-29efaba4-3543-4d45-b027-e88da6ee85c2.mp4

[2022-02-08 09:50] rushatgabhane commented on #7591
@ahmdshrif Thanks for your proposal but let's first try to replicate the bug. Or there is no way to verify the fix

[2022-02-08 09:55] rushatgabhane commented on #7541
@ahmdshrif I don't think restricting font size is a good idea. It's very common for people to want a larger font for the ease of reading.

[2022-02-08 10:34] sobitneupane commented on #7542
Accepted offer. I will be submitting PR before Feb. 11.

[2022-02-08 10:37] sobitneupane commented on #7496
Sent a proposal.
I will be submitting PR before Feb. 10.

[2022-02-08 11:00] Tabakharniuk commented on #6301
## How will implement this in our app? It is important that it works on all platforms that we support.
I am planning to create new files inside `App/src/components/AvatarCropModal `with a names `index.js,` `components/RotateButton.js`, `components/Slider.js` and `components/ImageCropView.js`.

Inside index.js I will write  functions using reanimated api to limit/validate zoom, pan gesture And to c

[2022-02-08 11:08] mananjadhav commented on #6301
**Proposal**

Because of the above comment, I created this in a Google doc. Let me know if it is fine or you want me to copy it here.

https://docs.google.com/document/d/1sHOvmfMmJWfaoKZHnl1RtqBZM9tJCjG60AFN4jDaWDc

[2022-02-08 11:16] trjExpensify commented on #6213
👍

On Expensify.com we allow for 4 decimal places, so I think we should do the same here as there will likely be a reason for that in the history of this feature (IIRC, some international territories set their mileage rate allowances at 4 decimals).

As for this, maybe @deetergp has an inclination as to what's up here? Just to clarify as well though, setting `58.50` as the `rate` in the workspace

[2022-02-08 11:22] ahmdshrif commented on #7591
As i expext this happens when we have small image

![Screenshot_20220208-132033_New Expensify.jpg](https://user-images.githubusercontent.com/21364901/152977353-950ee112-a386-4934-80ca-d4d63e8e3461.jpg)

[2022-02-08 11:26] Tabakharniuk commented on #6301
@parasharrajat No problem here. As I mentioned above:

[2022-02-08 11:27] trjExpensify commented on #7470
@okansahin are you planning to submit a proposal for this job, and if so, do you want to then apply for it on Upwork [here](https://www.upwork.com/jobs/~01909f315eb8bc7426)?

[2022-02-08 11:28] anthony-hull commented on #6301
What about using an implementation of Canvas on native?
https://www.npmjs.com/package/react-native-canvas
Then you could do all the image manipulation there on all platforms and save it out of the canvas.
Might be some performance hits on it being all implemented in JS though.

[2022-02-08 11:29] trjExpensify commented on #7274
@mvtglobally were you able to reproduce this again?

[2022-02-08 11:30] mananjadhav commented on #6301
I've used react-native-canvas and it is generally not maintained very well + a lot buggy.

[2022-02-08 11:31] anthony-hull commented on #6301
Good to know. Probably not the best idea then!

[2022-02-08 11:32] trjExpensify commented on #6154
Reviews ongoing, Melvin. PR marked as ready for re-review again today.

[2022-02-08 11:36] mountiny commented on #7584
Great job guys! Nice feature! @rushatgabhane thank you for the review.

@mdneyazahmad please, feel free to submit a PR! Thank you!

[2022-02-08 11:41] mountiny commented on #7267
What is the general rule for KI retests? At what point are we happy to close the issue? @mvtglobally  Thank you :)

[2022-02-08 12:06] okansahin commented on #7470
@trjExpensify I reproduce this gap only on android's login screen(it's not reproducible in adding payment card screen) when password is visible. If you confirm that, I will try to find a way. Otherwise could you give me exact version/device which this gap is reproducible?

[2022-02-08 12:09] rushatgabhane commented on #7470
@okansahin cool, I'll update you on that within 30 mins

[2022-02-08 12:13] kakajann commented on #7538
Just noticed AddressForm has 1 `AddressSearch`, 2 `TextInput`, 1 `StatePicker`.

Are you guys sure it should be refactored as per the requirements above?

[2022-02-08 12:21] rushatgabhane commented on #7470
@okansahin I agree.

[2022-02-08 12:24] okansahin commented on #7470
Thank you @rushatgabhane

I will look up to it, and let you know that I can fix or not.

[2022-02-08 12:40] ahmdshrif commented on #7547
I try to flow the sreps but can't get the page mention .

https://user-images.githubusercontent.com/21364901/152988773-e0daf31e-ea69-47ef-bdd8-50030db269f2.mp4

[2022-02-08 12:46] mananjadhav commented on #7547
**Proposal**

I've checked the `GooglePlacesAutoComplete` documentation and we've done all they've mentioned and it still gives the error. The issue is that the `FlatList` scroll and the parent `ScrollView` is in the same direction. There have been work around mentioned to created a VirtualizedView container with `FlatList`, but I would recommend adding a nested `ScrollView` in different scroll di

[2022-02-08 12:56] luacmartins commented on #7538
We will need to refactor `AddressSearch` and make sure that the remaining inputs don't go through any regression. It's probably best to wait for `TextInput` and `StatePicker` to be refactored first.

[2022-02-08 12:57] mvtglobally commented on #7267
@mountiny typically we close after third no-repro.
But in case of the "external" label and when comments have some fix mentioned, there is typically payment involved, so I wait another week (to process payments if any). If you think this is good  to close, let me know

[2022-02-08 12:59] kakajann commented on #7538
Should I refactor the `AdressSearch`?

[2022-02-08 13:05] mvtglobally commented on #7274
Issue not reproducible during KI retests. (Second week)
One of the testers had issue with not getting notifications, I just retested and not able to reproduce. @trjExpensify

[2022-02-08 13:19] thesahindia commented on #7625
### Proposal
We can add a function in [ReportWelcomeText.js](https://github.com/Expensify/App/blob/main/src/components/ReportWelcomeText.js#L72) which will return welcome text for rooms based on `ReportUtils.isArchivedRoom(props.report)`
if `ReportUtils.isArchivedRoom(props.report)` is true we will show the welcome text for deleted room and if it's false we will show the welcome text that we are s

[2022-02-08 13:24] zanyrenney commented on #7626
triage complete -- looks like they already tagged with eng, so not reapplying the label again now.

[2022-02-08 13:33] #7267 closed

[2022-02-08 14:09] bfitzexpensify commented on #7269
Paid out all contracts. All done!

[2022-02-08 14:09] #7269 closed

[2022-02-08 14:26] parasharrajat commented on #6908
Still holding this... Handling navigational issues one by one.

[2022-02-08 15:05] michaelhaxhiu commented on #7496
hired on upwork

[2022-02-08 15:09] aldo-expensify commented on #7622
Duplicate of https://github.com/Expensify/App/issues/7547

[2022-02-08 15:09] #7622 closed

[2022-02-08 15:15] puneetlath commented on #7293
Paid!

[2022-02-08 15:30] parasharrajat commented on #7497
Taking over from @rushatgabhane as C+.

@sobitneupane I am interested to hear your proposal.

[2022-02-08 16:04] bfitzexpensify commented on #5125
Re-hired you @parasharrajat (job had closed). Will pay out once you accept.

[2022-02-08 16:04] #5125 closed

[2022-02-08 16:27] mananjadhav commented on #7547
Okay let me correct, some additional styling to ensure that the view doesn't overflow.

https://user-images.githubusercontent.com/3069065/153030810-3b7c2a83-6bf6-4687-991c-92f4d480530f.mov

[2022-02-08 16:42] mallenexpensify commented on #7315
@parasharrajat , hired you in Upwork, let me know when you've accepted.  Payment will be $500, $250 for reporting and fix.

[2022-02-08 16:47] puneetlath opened #7629 "Choose a cross-platform notification sound"
New Expensify doesn't have a notification sound for when a new chat/alert comes in. We should add one so that when users have sound on they get a notification sound along with their push notification. The sound we choose will be implemented cross-platform on all devices. It's probably worth holding a discussion in #design or #expensify-open-source about the qualities we want in our notification so

[2022-02-08 16:47] puneetlath commented on #6488
Closing in favor of this issue to first choose the notification sound we want: https://github.com/Expensify/App/issues/7629

Thanks to everyone who weighed in here!

[2022-02-08 16:48] puneetlath commented on #7076
@stephanieelliott bump.

[2022-02-08 16:50] puneetlath commented on #7185
Checking on whether this has been deployed, since the PR happened in the expensify-common repo.

[2022-02-08 16:52] puneetlath commented on #7624
@MitchExpensify I didn't experience this when I created a restricted room. Are. you seeing it when you do?

[2022-02-08 16:55] MitchExpensify commented on #7624
Yes
![image](https://user-images.githubusercontent.com/36425901/153036247-58869192-3ab0-44c8-98ae-71117cde19c8.png)
![image](https://user-images.githubusercontent.com/36425901/153036351-1e154168-da00-4823-a704-bd0e6465441c.png)

User: Mitch+48962936@miamimitch.org

[2022-02-08 16:55] mallenexpensify commented on #7315
Paid

[2022-02-08 16:56] TomatoToaster commented on #7572
I have a feeling that this is a limitation of how the keyboard works in safari mWeb, but I'm not entirely sure. I'll ask somewhere to double check if we want to fix this.

[2022-02-08 16:57] parasharrajat commented on #7376
@Julesssss I see that a new issue has been created https://github.com/Expensify/App/issues/7613#issuecomment-1032011826 which is also trying to fix this. I think we close this issue. I should be eligible for reporting bonus here.

[2022-02-08 16:57] mallenexpensify commented on #3189
Thanks @anthony-hull for the help and persistence with this issue. Paid in Upwork, $500 - $250ea for reporting and the fix

[2022-02-08 16:57] flodnv commented on #7621
@murataka thanks for the report! Can you clarify why you think we should fix this?
cc @roryabraham

[2022-02-08 16:58] bondydaa commented on #7626
Hmm I'm not super familiar with this code to know off hand if this is a client issue (maybe onyx isn't being updated properly) or an API issue (maybe we're not returning the updated balance properly) so I can't tell if this is external or not. I'll take a look and see what I can find out.

[2022-02-08 16:59] pecanoro commented on #7619
@kavimuru I am a bit confused about the steps, so you are saying that userB should be logged into expensify.com and userA should stay connected to new.expensify.com? And what it is happening is that userA is logged out from new.expensify.com?

[2022-02-08 17:07] anthony-hull commented on #6890
Should this issue be closed and payment issued? the other issue the PR closes was paid today.

[2022-02-08 17:09] parasharrajat commented on #7547
Can we just apply these nested scroll views to the Address Field to reduce the scope?

[2022-02-08 17:10] mananjadhav commented on #6891
I can see https://github.com/Expensify/App/issues/6872 is merged. I'll check this update and see if my issue gets resolved with this.

[2022-02-08 17:12] tgolen opened #7630 "App hangs when loading on web/desktop due to infinite loop"
# Problem
For some people (@joekaufmanexpensify @luacmartins) when they load App, the code goes into a seemingly infinite loop that hangs the browser for a long time.

![image](https://user-images.githubusercontent.com/1228807/153035479-d560a4ae-1d76-445c-8dc8-c1960bab7667.png)

# Why is this important?
It makes the app unusable

# Solution
Determine what is causing the loop and find a way to fix

[2022-02-08 17:13] tgolen commented on #7630
I am able to determine that the long loop happens here: https://github.com/Expensify/App/blob/47ec8f4ae0598e55c4d75b275ef4feeec8f14d6e/src/libs/actions/Report.js#L446

The method `PersonalDetails.getFromReportParticipants(simplifiedReportsList)` is called once, but the method inside of `.then()` is called repeatedly over and over again in this loop.

This code was recently refactored in https://gi

[2022-02-08 17:13] parasharrajat commented on #6891
I think it won't be fixed. we restricted the changes to only required for that issue.  So let's wait for #7318 now. I had the same issue and I have applied the fix.

[2022-02-08 17:15] mananjadhav commented on #7547
Yeah, can be done.  This needs to be done in `AddressSearch`.

[code]

[2022-02-08 17:17] adeel0202 commented on #6890
@anthony-hull, I'm not compensated for reporting the issue. @chiragsalian, will I be compensated?

[2022-02-08 17:17] parasharrajat commented on #7547
Ok. Makes sense. @mananjadhav's [proposal](https://github.com/Expensify/App/issues/7547#issuecomment-1032861256) looks good to me.

cc: @roryabraham

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-08 17:18] tgolen commented on #7261
Unfortunately, it looks like this has led to another regression: https://github.com/Expensify/App/issues/7630 so I am reverting the PR again for now.

[2022-02-08 17:20] TomatoToaster commented on #7572
Ah ok I see on iOS though that it fully brings the button up, it's a much better experience. Going to mark this as external and see if someone has a solution for this.

[2022-02-08 17:24] murataka commented on #7621
Unessential requests made to the server may have several consequences. Why not prevent them .. e.g. when we have 1.000.000 active users, there will be N*1.000.000  errors caused by these. No need to give further examples...

It appears on production, and some users may report that to concierge, which will be a waste of resources of support team.

I wonder why you needed all those explanation 😕

[2022-02-08 17:25] Julesssss commented on #7376
Sounds good. Do you want to raise that on the linked issue and link back to this comment? That should be enough I think.

[2022-02-08 17:35] parasharrajat commented on #6301
Thanks for your proposals. I will review them as soon as possible. It is a big feature so I don't want to miss important steps and clarify as much as possible. I am sure that everyone has put a lot of effort into this (including me I had also created a demo component from existing functionality but not posted here).  I would request you to be patient during the review process.

[2022-02-08 17:37] parasharrajat commented on #7376
@Julesssss  Do you think I am eligible for reporting bonus here? I reported this 20 days back but it was known internally then I am fine with it.

That issue has a TODO for this so I don't feel necessary to mention it.

[2022-02-08 17:40] parasharrajat commented on #7621
This is the first request made from the browser to the server which serves the first HTML document and then JS is loaded and the Router is initialized. I can't imagine how will the server serve the app without that. Do you have a suggestion?

[2022-02-08 17:41] bondydaa commented on #7626
alrighty looks like the API doesn't return anything back to the client https://github.com/Expensify/Web-Expensify/blob/5988e0dc06223c766c5f57b4eea4773963802654/api.php#L2279-L2280

Personally I think we probably should just update the API to return the remaining balance so that we don't have to then just make another call to the API to get the balance but 🤷 seems like it was built this way on purp

[2022-02-08 17:44] bondydaa commented on #7626
looks like it was added in this PR https://github.com/Expensify/App/pull/6878

[2022-02-08 17:44] parasharrajat commented on #7626
Oh, yeah. You are correct. I added this code and this should be `currentBalance`.

[2022-02-08 17:46] parasharrajat commented on #7626
###Proposal
1. Change the https://github.com/Expensify/App/blob/56c97f49cfce317bdad67e122fd5ef6368583350/src/libs/actions/PaymentMethods.js#L203 to set `currentBalance` to `0`.

This fixes the linked issue.

[2022-02-08 17:46] #7616 closed

[2022-02-08 17:48] murataka commented on #7621
None of my previous projects had the same behavior. So you can be sure this is something we can handle, there might be many approaches which may be preferred to the other. I shall leave those decisions to engineering team for now .

[2022-02-08 17:49] sobitneupane commented on #7630
I am also facing the same issue. But my branch doesnot have changes from  https://github.com/Expensify/App/pull/7453

[2022-02-08 17:55] flodnv commented on #7621
To clarify, what would users report to concierge?

I'm only trying to judge the priority needed on this, thank you for your help.

[2022-02-08 18:01] sobitneupane commented on #7630
I was also facing similar issue few hours back. But My branch does not have changes from https://github.com/Expensify/App/pull/7453.

[2022-02-08 18:01] murataka commented on #7621
1. I don't think fixing this will take more than 1-2 hours to have a proper solution for that one.
2. It's more difficult to understand what further problems it causes, foreseeing those would take more effort than fixing this bug.

That is of course for my own working conditions on my own projects for similar bugs, but maybe will help to have a decision on priority.

[2022-02-08 18:05] murataka commented on #7621
When using financial apps, there are always some users opening console to see if the site / bank is safe enough to understand if the tech team is powerful behind it. Those error logs are most of the time helpful for my decisions to (not) continue using the app. I don't think I'm single on that.

[2022-02-08 18:06] LucioChavezFuentes commented on #7535
I had an issue rendering `Picker` component inside `Form.stories.js`. But I fix it by installing `@storybook/addon-react-native-web` as devDependency and add it on `.storybook\main.js` on `addons` array. The problem was related to `No loader found for this type of file` and it is documented in storybook, more info: [https://github.com/storybookjs/addon-react-native-web/blob/main/README.md#common-i