[2022-03-10 23:02] botify commented on #7463
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.41-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7874

If no regressions arise, payment will be issued on 2022-03-17. :confetti_ball:

[2022-03-10 23:02] botify commented on #7489
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.41-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7662

If no regressions arise, payment will be issued on 2022-03-17. :confetti_ball:

[2022-03-10 23:02] botify commented on #7585
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.41-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7851

If no regressions arise, payment will be issued on 2022-03-17. :confetti_ball:

[2022-03-10 23:02] botify commented on #7669
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.41-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7876

If no regressions arise, payment will be issued on 2022-03-17. :confetti_ball:

[2022-03-10 23:06] OSBotify opened #8074 "Deploy Checklist: New Expensify 2022-03-10"
**Release Version:** `1.1.42-4`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/7530
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7660
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7677
  - [x] QA

[2022-03-10 23:12] JmillsExpensify commented on #7463
Ah interesting, it looks like Jules and I aligned payment to the first PR, not the second one.

[2022-03-10 23:22] okansahin commented on #7463
Ah, may it was my fault. I asked for a regression period from @Julesssss

I thought it was production deploy but now I see it is staging. I'm sorry about that. I follow the issue to fix if any trouble.

@Julesssss I am really sorry to make confused you too.

[2022-03-10 23:56] thienlnam commented on #8074
Checked off #7873, statements don't work on staging so will need to be tested on prod.  This isn't used yet

[2022-03-11 00:11] mallenexpensify opened #8077 "Test issue to see if unassigned issues with `Engineering` and `Daily` labels get posted to #engineering"
Test issue, ignore

[2022-03-11 00:13] mallenexpensify commented on #8077
Sorry @flaviadefaria and @robertjchen , need to assign then assign to test, please ignore this

[2022-03-11 00:14] mountiny commented on #7806
Sorry Jeremy, I have double checked and [seems](https://expensify.slack.com/archives/C01SKUP7QR0/p1642709457220900) like it is intentional to not have these issues exported. False alarm :)

[2022-03-11 00:15] mountiny commented on #7584
@mdneyazahmad How is it looking? It has been already a week since the regression so we might consider making this issue available for other contributors. You are currently assigned to this one, but it seems like there is not much progress being made.

Should we release to the pool so more contributors can help and potentially find the problem here?

[2022-03-11 00:28] roryabraham commented on #7861
Internal PR deployed to staging. The staging API should now return a `ReportSummary` from the `CreateChatReport` endpoint.

[2022-03-11 00:39] mallenexpensify commented on #6967
@ABee-Tech and @parasharrajat paid $750/each

[2022-03-11 00:39] #6967 closed

[2022-03-11 00:59] mallenexpensify commented on #8044
Posted https://www.upwork.com/jobs/~01219455343a1a0b18
@rushatgabhane can you review @Tushu17 and @mdneyazahmad 's proposals above please? Thx

[2022-03-11 01:11] kevinksullivan commented on #7968
Job posted. @adeel0202 feel free to apply for the reporting bonus!

https://www.upwork.com/jobs/~01f9c098c1c6835ed2

[2022-03-11 01:22] Christinadobrzyn commented on #8030
Job posted in Upwork

Internal posting - https://www.upwork.com/ab/applicants/1502092044206276608/job-details
External posting - https://www.upwork.com/jobs/~0102948bb2f2326aae

[2022-03-11 01:24] rushatgabhane commented on #8044
Discussion regarding which / if any inputs should show the character limit in this [slack 🧵](https://expensify.slack.com/archives/C01GTK53T8Q/p1646961647421709?thread_ts=1646441755.608789&cid=C01GTK53T8Q)

[2022-03-11 01:54] Regaron commented on #7598
I've pasted here the response from backend for more clarity:
[code]

[2022-03-11 02:16] roryabraham commented on #7798
I can't validate this atm because of https://expensify.slack.com/archives/C01GTK53T8Q/p1646964936524219

[2022-03-11 02:34] roryabraham commented on #7798
I just removed the `Help Wanted` label and will wait for a PR. @laurenreidexpensify feel free to hire @parasharrajat for this on upwork.

[2022-03-11 02:35] shawnborton commented on #7541
Nice, that's looking pretty good. How about for inputs/select menus/etc? I'd also be curious to see deeper parts of Settings and the Workspace editor with this as well.

[2022-03-11 03:21] OSBotify commented on #8074
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.42-3 :rocket:

[2022-03-11 03:33] Christinadobrzyn commented on #7185
This job should have a price increase but the original job is closed.

Create a new job - https://www.upwork.com/ab/applicants/1502124533147897856/job-details

@parasharrajat will it mess up anything for you if I cancel your contract on the old job and hire you for the new one so I can increase the price?

[2022-03-11 03:34] Christinadobrzyn commented on #7962
Price increase $500!

[2022-03-11 05:06] mvtglobally opened #8088 "Formatting of email responses in NewDot isn't pretty"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
[@greeny](https://expensify.slack.com/team/U044D2MA9) was sending messages back/forth to a business partner

## Expected Result:
When the partner re

[2022-03-11 05:18] jliexpensify commented on #8046
Posted!

Internal - https://www.upwork.com/ab/applicants/1502151857124605952/job-details
External - https://www.upwork.com/jobs/~01946a2d2115e64edc

[2022-03-11 05:21] jliexpensify commented on #8046
Adding @kadiealexander to help keep an eye on my GH's as I'll be OOO next week

[2022-03-11 05:21] jliexpensify commented on #7964
Adding @kadiealexander to help keep an eye on my GH's as I'll be OOO next week

[2022-03-11 05:21] jliexpensify commented on #7858
Adding @kadiealexander to help keep an eye on my GH's as I'll be OOO next week

[2022-03-11 05:22] jliexpensify commented on #7688
Adding @kadiealexander to help keep an eye on my GH's as I'll be OOO next week

[2022-03-11 05:24] jliexpensify commented on #7669
Adding @kadiealexander to help keep an eye on my GH's as I'll be OOO next week.

[2022-03-11 05:25] jliexpensify commented on #7596
Adding @kadiealexander to help keep an eye on my GH's as I'll be OOO next week

[2022-03-11 05:26] jliexpensify commented on #7486
Adding @kadiealexander to help keep an eye on my GH's as I'll be OOO next week

[2022-03-11 05:26] jliexpensify commented on #7475
Adding @kadiealexander to help keep an eye on my GH's as I'll be OOO next week

[2022-03-11 05:26] mvtglobally opened #8089 "[HOLD for payment 2022-05-24][$1000] Native Apps - There is an extra space above codeblocks in android and IOS - reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send codeblock with message above and below:
    Here is come code
[code]

## Expected Result:
Same output in all platforms.

## Actual Result:
E

[2022-03-11 05:27] jliexpensify commented on #6965
Adding @kadiealexander to help keep an eye on my GH's as I'll be OOO next week

[2022-03-11 05:30] mvtglobally opened #8090 "Closing the browser when profile picture upload is in progress and opening the app again results in infinite loader on the profile page - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings > profile
2. Upload a new profile photo
3. Close the browser/ kill the app before the photo uploads
4. Open the app again
5. Go to

[2022-03-11 06:20] ctkochan22 commented on #7642
A similar issue with the same console error was fixed recently: https://github.com/Expensify/App/pull/7907

Can we double check if this is still happening?

Also @mvtglobally, you mentioned that this is reproducible -- https://github.com/Expensify/App/issues/7642#issuecomment-1047397439 What are those reproduction steps?

[2022-03-11 06:33] adeel0202 commented on #8090
@mvtglobally, this issue occurs on all devices.

[2022-03-11 06:35] adeel0202 commented on #7968
@kevinksullivan, applied on Upwork for reporting bonus, thanks.

[2022-03-11 06:44] parasharrajat commented on #6301
Waiting for the [questions](https://github.com/Expensify/App/issues/6301#issuecomment-1060874760)...

[2022-03-11 07:11] mollfpr commented on #8046
## Proposal

Updating how comments are sent in `IOUModal` will make users can send markdown format to API. But the problem is not only in the form but I think also in API handling the comment. After we send the request money from `CreateIOUTransaction` command with parsed HTML comment, when we fetch again the latest data, the comment we sent with parsed HTML I think it's got decoded to regular tex

[2022-03-11 07:18] parasharrajat commented on #8030
I don't understand the proposed change. @K4tsuki Could you please explain what is the matching rules for the suggested Regex?
Exected Change would be disallowing starting and trailing spaces. Middle spaces are fine.

[2022-03-11 07:39] ahmdshrif commented on #7352
@rushatgabhane  the regex fails because it's not the true way to handle this I can do some changes to handle the case of blood text but expect to fail on other cases we do not try it.

the problem is we do not handle the case of mapping block.
by block, I mean div for example. since it can be used as a new line comment also can be used as block .

I do many tests on when the div can be a newline.

[2022-03-11 08:10] parasharrajat commented on #8046
@mountiny This seems to be expected behavior. I don't think comments are needed to be Rich Text. Could you please confirm if we need this change?

[2022-03-11 08:11] parasharrajat commented on #7185
@Christinadobrzyn Nope. You can cancel the contract and send the new offer.

[2022-03-11 09:36] K4tsuki commented on #8030
@parasharrajat I think the expected changes is to disallow spaces in password (in middle, front or end, anywhere).

[2022-03-11 09:44] K4tsuki commented on #8090
@adeel0202 Are you want to make proposal for this? Am I allowed to post a proposal if you don't want to make a proposal?

[2022-03-11 09:52] parasharrajat commented on #8030
I will confirm this. Spaces in the middle of passwords are good to have.

[2022-03-11 09:52] adeel0202 commented on #8090
Sure @K4tsuki, you can submit your proposal.

[2022-03-11 10:22] K4tsuki commented on #8090
@adeel0202 thank you.

#### proposal

We could add:

`PersonalDetails.setPersonalDetails({avatarUploading: false});`

In constructor of `ProfilePage`:

https://github.com/Expensify/App/blob/c26e41573c6b6ea91abef85afc173ba6ecc4cd2c/src/pages/settings/Profile/ProfilePage.js#L71

<br />

Or if we only need to change local data then:

`PersonalDetails.mergeLocalPersonalDetails ({avatarUploading: false

[2022-03-11 11:20] parasharrajat commented on #7858
Ok. I found a few issues during working on the PR. None of the proposals are working as expected. I tested @kakajann 's changes are well. it works but does not interfere with native cursor placement. I saw google's login form and it has the same behavior. Sorry but I don't have any other solution for now.

we can use controlled selection but that is going to create problems as our input is not con

[2022-03-11 11:24] dylanexpensify commented on #8051
Reassigning as I'm OOO next week!

[2022-03-11 11:25] dylanexpensify commented on #8051
Thanks Adele! Will pick this up when I come back from OOO!

[2022-03-11 11:26] dylanexpensify commented on #7967
Reassigning as I'm OOO next week! Thanks Kadie! I'll pick this up when I'm back!

[2022-03-11 11:26] dylanexpensify commented on #7950
Reassigning as I'm OOO next week! Thanks Lauren! I'll pick this up when I'm back!

[2022-03-11 11:27] dylanexpensify commented on #7840
Reassigning as I'm OOO next week! Thanks Nicole! I'll pick this up when I'm back!

[2022-03-11 11:30] dylanexpensify commented on #7840
@rushatgabhane @mollfpr @mananjadhav sent you each an offer in Upwork!

[2022-03-11 11:31] dylanexpensify commented on #7523
Reassigning as I'm OOO next week! Thanks Hax! I'll pick it up when I'm back!

[2022-03-11 11:32] dylanexpensify commented on #7434
Reassigning as I'm OOO next week! Thanks Tom for handling the payment if no regressions! 🙇

[2022-03-11 11:32] dylanexpensify commented on #7081
Reassigning as I'm OOO next week! Thanks Steph! I'll pick it up when I'm back!

[2022-03-11 12:03] michaelhaxhiu commented on #7128
Woooooot

[2022-03-11 12:13] barun1997 commented on #7962
Hi, I just reproduced this bug and found the root cause.

It is to do with the file name. I tried uploading a PDF with a space in its name, and it didn't show me a preview. (case in point, first video).

This is because of the `sourceURL` that is given to `PDFViewer` (https://github.com/Expensify/App/blob/c26e41573c6b6ea91abef85afc173ba6ecc4cd2c/src/components/PDFView/index.native.js#L34-L37): fil

[2022-03-11 12:15] parasharrajat commented on #7128
Haha. PR merged 20 days ago and payment on 17.. Not bad...:rofl:

[2022-03-11 12:18] michaelhaxhiu commented on #7015
Sorry for the delay, can't believe I missed this! Payment dispersed for both.

[2022-03-11 12:18] #7015 closed

[2022-03-11 12:49] hvbeladiya149 commented on #7424
Hello,
Here is my Solution:

There shouldn't be the loading of a lot of data at a time and should be pagination or you can spread the single API calling in blocks of APIs.

Need to handle the APIs call because there is something did wrong on the server-side and API returns the false response in the cache block, so in this case, App should hide the loader and display the error page or dialog.

[2022-03-11 12:56] MonilBhavsar commented on #8035
Looks like this is happening as we're fetching reports after deleting a workspace. Should we only fetch if we are successful in deleting a policy? The idea is to show deleted chatrooms associated with policy, right?

https://github.com/Expensify/App/blob/c26e41573c6b6ea91abef85afc173ba6ecc4cd2c/src/libs/actions/Policy.js#L184

@neil-marcellini thoughts?

[2022-03-11 13:04] michaelhaxhiu commented on #7308
Waiting for this PR to go to production, and then I'll pay Rajat $250 for reporting this bug + close this GH.

[2022-03-11 13:08] mountiny commented on #7768
Haven't been able to look into reproducing this issue but just commenting [this](https://github.com/Expensify/App/pull/7929#discussion_r824370460) here in case it could be related by any chance.

[2022-03-11 13:19] parasharrajat commented on #7424
@kidroca It does not matter much. you can add those props. I was just thinking that these props may not be needed apart from this page.

---

Thanks, @hvbeladiya149 for your interest. I am trying to understand your proposal but it lacks the necessary details. It is hard to tell which API are you talking about and which part of the app is causing this issue. How does this API(unknown) cause the pro

[2022-03-11 13:45] trjExpensify commented on #8033
Oh, hm.. @TomatoToaster has this been fixed then? CC: @Santhosh-Sellavel

[2022-03-11 13:48] parasharrajat commented on #7962
Nice catch @barun1997. Could you please use decodeURIComponent for this purpose?

I like @barun1997's proposal. Let's go with it.

cc: @roryabraham

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-03-11 14:14] barun1997 commented on #7962
@parasharrajat yup will do!

[2022-03-11 14:34] kavimuru opened #8092 "Workspace - Manage members - All the avatar icons are looking same in search screen to invite new members"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in with any account
2. Go to Setting
3. Tap on any Workspace you have in your account
4. Go to Manage Members
5. Tap the I

[2022-03-11 14:48] blacknight3 commented on #7352
@rushatgabhane  `fixReverseHTML()` function does the following :

**1. Arrange HTML elements z-index ascending**
when I try to copy these lines `line1 line2 line3` I get it in a reversed order `line 3line 2line 1`, so first I have to arrange HTML elements z-index ascending to get it in the correct order. I use Expensify version 1.1.30-3

https://user-images.githubusercontent.com/100511864/15785668

[2022-03-11 14:58] parasharrajat commented on #8030
Discussion here https://expensify.slack.com/archives/C01GTK53T8Q/p1647007080328159

[2022-03-11 15:09] parasharrajat commented on #7475
I am using v14.1.1. Safari: 14.0.3 has [0.24% market share](https://caniuse.com/usage-table).

[2022-03-11 15:13] kbecciv opened #8094 "New Group - Group chat - When searching for a new user to add, user name is duplicated"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Sign into a valid account
3. Tap the green "Plus" icon on the bottom right
4. Tap "New Group"
5. Search for an

[2022-03-11 15:14] OSBotify commented on #8094
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-11 15:17] mollfpr commented on #7853
@rushatgabhane The blue border appear from attribute `data-focusvisible-polyfill` and this set from keydown event. As you can see from the screenshot, there's a file called `modality.js` from the `react-native-web` package.

<img width="638" alt="Screen Shot 2022-03-11 at 21 11 45" src="https://user-images.githubusercontent.com/25520267/157885313-438823ed-1d81-495c-b863-6c87fca96c16.png">
<img wid

[2022-03-11 15:20] michaelhaxhiu commented on #8030
Depending on what we decide here, let's be sure to update the GH body/title accordingly. Right now it reads as though we want `no spaces` whatsoever.

[2022-03-11 15:27] OSBotify commented on #8074
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8058) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.42-4` :rocket:

[2022-03-11 15:27] OSBotify commented on #8074
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.42-4 has been deployed to staging :tada:

[2022-03-11 15:36] mdneyazahmad commented on #7971
### Proposal

https://github.com/Expensify/expensify-common/blob/f77bb4710c13d01153716df7fb087b637ba3b8bd/lib/ExpensiMark.js#L52

When number of `back tick` is in `2n`. It has 2n pair of `<code></code>` and text content for this html will be `empty` string. When we send this message it is optimistically added to the `message list` and the `api` request is made that produces an error. The reason it

[2022-03-11 15:36] kavimuru opened #8097 "Payment - Preview is not shown when deleting paypal.me payment method"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing #8025**

## Action Performed:
1. Open app in mobile/ use expensify in desktop web and decrease the screen size
2. Go to Settings -> Payme

[2022-03-11 15:37] OSBotify commented on #8097
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-11 15:48] bfitzexpensify commented on #8061
Upwork [job](https://www.upwork.com/jobs/~01159c5374ea1ca12c) created + offer sent. Switching to weekly.

[2022-03-11 16:44] neil-marcellini commented on #8035
To fix the loading delay when deleting a workspace is successful, we should do an optimistic update, and assume that all rooms in the workspace will be marked as deleted. Then, in the background, we should fetch all reports / rooms again and make sure that the response is successful. If the response fails, we should notify the user that we were unable to delete their workspace and we should restor

[2022-03-11 17:08] AndrewGable commented on #6306
Agree with all the above in regards to making the NewDot shift, if we want to keep it on GitHub actions we can use [`schedule`](https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule). I would think we could bump all existing builds by 5% M-F on Android. For iOS the "bumping" happens automatically.

However, I do think we really need to invest more into crashalyt

[2022-03-11 17:13] justinpersaud commented on #7991
gpg and asc should be fixed when the PR gets to production. I'll wait for those one to go out and then look at svg and heic if those are still an issue.

[2022-03-11 17:19] kavimuru opened #8098 "Room details - Chair icon is missing when tap room name to view the details"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in expensifail account
2. Tap on any room created or Open Default Room (#admins and #announce) Settings.
3. Check chair ic

[2022-03-11 17:29] johnmlee101 commented on #8030
What is the disadvantage to allowing spaces (trailing, leading, or not) in passwords?

[2022-03-11 17:29] Julesssss commented on #8098
CC @TomatoToaster

[2022-03-11 17:39] roryabraham commented on #7798
PR merged – as a reminder @laurenreidexpensify since @parasharrajat submitted the PR to fix this issue he's not eligible for the C+ reward for the issue as well, as stated our C+ guidelines:

[2022-03-11 17:41] JmillsExpensify commented on #4114
Oh I love working on this one. Jumping in now.

[2022-03-11 17:45] francoisl commented on #8098
Oh but that was the revert because we had this weird situation where `OptionsListUtils.getAvatarSources` was missing, right? Shouldn't we revert the revert now basically?
I'll run some quick tests locally.

[2022-03-11 17:46] roryabraham opened #8099 "No way to retry just one platform deploy"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem
If the `platformDeploy.yml` workflow fails on just one platform, and we fix the issue and want to retry the build on just that one platform, there is no way

[2022-03-11 17:46] JmillsExpensify commented on #7463
No worries! I'm going to go ahead and update the issue with the updated date so that we don't forget. I'll go ahead and close it out if we get through the regression period and no issues.

[2022-03-11 17:49] roryabraham commented on #8099
The main [limitations](https://docs.github.com/en/actions/using-workflows/reusing-workflows#limitations) we'll need to be wary of are:

- Reusable workflows can't call other reusable workflows. (shouldn't be a problem in this case, but currently would prevent us from fully deprecating `triggerWorkflowAndWait`)
- Any environment variables set in an env context defined at the workflow level in the c

[2022-03-11 17:53] francoisl commented on #8098
Oh, but it was already cherry-picked about an hour ago https://github.com/Expensify/App/pull/8058#issuecomment-1065286601. It's fixed for me on 1.1.42-4, so let's rerun this just to confirm.

[2022-03-11 17:55] mountiny commented on #8097
Except of the issue which is already linked (which I am not sure if is causing this problem), there is also [this PR](https://github.com/Expensify/App/pull/7847) which made changes to this:
https://github.com/Expensify/App/blob/d05c56eb375b4d9042dce964022cdc87fed271c8/src/pages/settings/Payments/PaymentsPage/BasePaymentsPage.js#L228

so it _might_ be causing the `anchorPositionTop` to not be zero

[2022-03-11 18:02] marcochavezf commented on #7079
No update this week, coming from OOO. One pending item is the configuration of authorized javascript origins in GCP for web. Seems it's safe ([slack convo](https://expensify.slack.com/archives/C03TQ48KC/p1645227154551739)) to include localhost as authorized origin to test Google Sign-in locally because we're only retrieving the email user from the Google API (non-sensitive scope).

[2022-03-11 18:25] NikkiWines commented on #8094
I can reproduce this on dev, looking for what might have introduce this bug now 🕵️‍♀️

[2022-03-11 18:26] mountiny commented on #8046
Asked [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1647023147698389). Thanks! I agree it does not make much sense, but lets see

[2022-03-11 18:26] mountiny commented on #8046
@mollfpr thank you for the proposal! Sorry for the confusion, we will clarify it in Slack hopefully.

[2022-03-11 18:29] NikkiWines commented on #8094
Looks like https://github.com/Expensify/App/pull/7530, which was it was just deployed to staging - confirming now

[2022-03-11 18:29] roryabraham commented on #8061
@bfitzexpensify Since @kidroca works on an hourly basis we won't need a specific upwork job for this, so I went ahead and unassigned you here.

[2022-03-11 18:34] thienlnam commented on #7950
Going to go ahead and close this then until we run into performance issues again

[2022-03-11 18:37] NikkiWines commented on #8094
Merge commit for https://github.com/Expensify/App/pull/7530 is `80b7467fdfc5610259b3a7be33e5f603309c4be7`

Checked out the merge commit prior to it `502412163a971e14f21e8cf18ebf2a3a6af25659` and confirmed the bug wasn't present.

![Screen Shot 2022-03-11 at 10 31 43](https://user-images.githubusercontent.com/16747822/157930407-b2ab1d57-b189-4cc7-9b67-612ef45c4720.png)

cc: @AndrewGable @parasharra

[2022-03-11 18:37] danieldoglas commented on #7941
@marcaaron Just adding to the discussion that [this](https://expensify.slack.com/archives/C03TQ48KC/p1643050770344800) might also be related to the slow while initializing the app.

[2022-03-11 18:41] thienlnam commented on #7523
The focus trapping will affect all of these forms though instead of holding on that, I think we should have contributors audit these forms in parallel and then make another issue that goes through each of the forms and adds focus trapping.  Thoughts @luacmartins?

[2022-03-11 18:47] adelekennedy commented on #8051
@mdneyazahmad do you mind applying to the role in [upwork](https://www.upwork.com/jobs/~01466c5a04465e487c), I can't find you for some reason!

[2022-03-11 18:47] francoisl commented on #8092
@marcochavezf any chance this could have to do with https://github.com/Expensify/App/pull/7852?

[2022-03-11 18:57] kbecciv opened #8100 "Windows - Missing Emoji icon in the input box for the touch screen laptop."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with andreylazutkinutest+qqq2gmail.com
3. Open any chat

## Expected Result:
Emoji icon is displayed an

[2022-03-11 19:02] Phantom-2 commented on #7644
### Proposal
In src/components/TextInputFocusable/index.js delete these lines
[code]

[2022-03-11 19:21] francoisl commented on #8098
Yeah this definitely looks fixed on v1.1.42-4, closing.

[2022-03-11 19:21] #8098 closed

[2022-03-11 19:22] isagoico opened #8101 "[$8,000] When entering a url directly in browser on web, user is navigated away from the app on first interaction - Reported by: @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a incognito window and navigate to New Expensify. Log in and close the tab.
2. In the new tab open one of these links:
  https://staging.new

[2022-03-11 19:28] luacmartins commented on #7523
I agree! Let's stick to auditing the forms for now. We might be changing the way the RHN is displayed soon anyways.

[2022-03-11 19:29] mountiny commented on #8101
For someone who will look into this: I think this might be related to the modal (new chat or search are the RHN) and when we select something from there, the navigation is trying to look back in the history of the browser (if I remember correctly), but since it is a fresh window, there is nothing.

Also cc @parasharrajat as this might be added to the Navigation master tracking issue.

[2022-03-11 19:37] luacmartins opened #8102 "isPolicyExpenseChat is declared twice in ReportDetailsPage"
## Problem
`isPolicyExpenseChat` is declared twice in ReportDetailsPage.

## Why is this important
Prevents app from crashing

## Solution
Remove one of the declarations

[2022-03-11 19:37] adelekennedy commented on #7912
Not overdue - just doubled the issue 4 days ago

[2022-03-11 19:37] thienlnam commented on #7523
@Santhosh-Sellavel Please proceed with the form audits

[2022-03-11 19:38] parasharrajat commented on #8101
Hmm. Based on @mountiny explanation, I feel this is not a issue. It is just how browser history works.

[2022-03-11 19:53] mountiny commented on #8101
Well it is an issue because the user is not clicking `back`, they select the chat they want to open, but I think the Navitiogation we use for the modal under the hood goes back in history which might be causing this.

But I can be wrong.

Nonetheless, the scenario on the shared video is a bug in my opinion.

[2022-03-11 19:54] imcvampire commented on #7968
A solution for fixing this problem is tracking the selected button in React and overriding the default behaviour of the `enter` key in React based on the current selected button.

[2022-03-11 19:54] ahmdshrif commented on #8101
@parasharrajat My first thought about this . We use goback  when we in LHN since we assumed the main is the first screen. In all navigation helper function

So We need to push the main to history if we start on other page . Or we need to change go back to check if the back function is a page on the website .

Also the issue not happen because we not have history.
 If we open google for example the

[2022-03-11 20:00] Santhosh-Sellavel commented on #7968
Hi @imcvampire,
First, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) to understand our process.

And also go through these closed issues [here](https://github.com/Expensify/App/issues?q=is%3Aclosed+label%3A%22Awaiting+Payment%22) for reference.

When you are ready make a proper proposal with the code changes that will address this i

[2022-03-11 20:02] Santhosh-Sellavel commented on #8032
@stitesExpensify should we add wait for copy label here?

[2022-03-11 20:06] #8102 closed

[2022-03-11 20:15] thesahindia commented on #8100
I think my [PR](https://github.com/Expensify/App/pull/7851) is responsible for this.

[2022-03-11 20:20] thienlnam commented on #7623
Same as above, @jboniface could we get this bounty doubled please?

[2022-03-11 20:23] jboniface commented on #7623
@thienlnam oh, sorry, yeah, I usually only do it when it goes overdue so didn't see this.

[2022-03-11 20:24] Santhosh-Sellavel commented on #7523
- [ ] [AddPlaidBankAccount.js](https://github.com/Expensify/App/blob/main/src/components/AddPlaidBankAccount.js)
- [ ] [ACHContractStep.js](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/ACHContractStep.js)
- [ ] [BankAccountStep.js](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/BankAccountStep.js)
- [ ] [CompanyStep.js](https://github.com/Exp

[2022-03-11 20:30] parasharrajat commented on #8101
Sorry, My bad. Didn't do everything on Mobile. Yes, this is an issue. and it seems @ahmdshrif has a good explanation of it.

[2022-03-11 20:32] Santhosh-Sellavel commented on #7523
[AddPlaidBankAccount.js](https://github.com/Expensify/App/blob/main/src/components/AddPlaidBankAccount.js)

https://user-images.githubusercontent.com/85645967/157957633-e5282109-2ed7-477d-8876-21a3b0caee10.mov

1. Focus on to eye symbol is the issue here right? @luacmartins
Everything else LGMT

[2022-03-11 20:35] Santhosh-Sellavel commented on #7523
[BankAccountStep.js](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/BankAccountStep.js)
No issues, LGTM

https://user-images.githubusercontent.com/85645967/157958499-48fa822f-9c92-4618-b91c-3aa9a2ac01ba.mov

[2022-03-11 20:35] mountiny commented on #8101
No worries!

[2022-03-11 20:38] marcochavezf commented on #8045
Applying the `External` label. I think a contributor can access these features by just [overriding the canUseAllBetas function](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#working-on-beta-features) locally.

[2022-03-11 20:38] Santhosh-Sellavel commented on #7523
[Password form](https://github.com/Expensify/App/blob/main/src/pages/signin/PasswordForm.js)
Except - Show Password eye symbol, everything else LGTM

https://user-images.githubusercontent.com/85645967/157958975-33112962-d3b3-4980-b35f-d73c673114ea.mov

[2022-03-11 20:41] marcaaron commented on #7941
Hey @danieldoglas, mind summarizing what aspect of that discussion relates to to slowness? Didn't quite understand, thanks!

[2022-03-11 20:43] mallenexpensify commented on #8077
https://expensify.slack.com/archives/C03SSAQ7P/p1646936192403279
It didn't show up here, going to leave open for a bit...

[2022-03-11 20:45] quinthar commented on #7941
That sounds like a pretty serious amount of maintenance, what would you
think of taking a server down, applying this change and then timing the
queries?  It seems like we can run both queries back to back a few times
and verify

On Fri, Mar 11, 2022, 12:42 PM Marc Glasser ***@***.***>
wrote:

[2022-03-11 20:50] Santhosh-Sellavel commented on #7523
[CompanyStep.js](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/CompanyStep.js)

Everything LGTM.

Except, not sure on this Date Field, focus changes to `dd` to `mm` to `yyyy`

## TAB till the end of the form
https://user-images.githubusercontent.com/85645967/157959549-06760eba-abce-4ff1-bfd6-9e19f1dead05.mov

## SHIFT + TAB till top of the form & Enter
https://user-imag

[2022-03-11 21:00] mountiny commented on #8100
This is a regression from a PR where I was CME so I have assigned it to myself and a contributor who worked on it. cc @rushatgabhane

Let's discuss in the PR how to fix it https://github.com/Expensify/App/pull/7851/files#r825096050

I guess there is no perfect solution here and we just need to take some breakpoints ideally not making new ones and accept it will not be great UI everywhere, but the

[2022-03-11 21:00] mountiny commented on #8100
As this is regression, I have unassigned you, sorry for confusion 😄

[2022-03-11 21:00] Santhosh-Sellavel commented on #7523
[ACHContractStep.js](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/ACHContractStep.js)

Issue
1. With checkbox focused pressing enter submits the form & also inverts the checkbox selection.
Everything else LGTM.

### TAB & SHIFT + TAB Cycle Without `Somebody else owns more than 25% of` Form
https://user-images.githubusercontent.com/85645967/157962722-ef0747d4-c205-480c-

[2022-03-11 21:04] parasharrajat commented on #7623
I got a notification and I saw there are no proposals based on the required changes so I would like to propose one.

### Proposal.

Based on requirements, we have to prevent the back buttons from firing the callback when those screens are not active and Pressing enter on the Request call page should request it.

To achieve this,
1. use `withNavigationFocus` on the Button component. It will give a

[2022-03-11 21:11] danieldoglas commented on #7941
@marcaaron , we're discussing that in the open-source channel. https://expensify.slack.com/archives/C01GTK53T8Q/p1647032346220759

But that's mainly from the App perspective, not from Auth only.

[2022-03-11 21:15] danieldoglas commented on #7941
@quinthar I agree that it would be interesting to test that in prod. But I don't have access to it.

@flodnv @iwiznia @johnmlee101 do any of you want to try it?

I have the queries here.

[code]

[2022-03-11 21:21] Santhosh-Sellavel commented on #7523
Hi @thienlnam @luacmartins,

I posted a separate comment for each form and posted my thoughts specific to that form like what I felt was an issue and specific questions too. In each form's screen recording, I perform `TAB` until focus reaches the END of the form & `SHIFT + TAB` until the focus reaches the top of the form finally `ENTER` to submit the form.

I have a couple of questions to clarify

[2022-03-11 21:25] Santhosh-Sellavel commented on #8006
Reviewing Proposals now

[2022-03-11 21:29] mountiny commented on #8100
Closing this in favour of reopening the OG issue https://github.com/Expensify/App/issues/7585

[2022-03-11 21:29] #8100 closed

[2022-03-11 21:30] mountiny commented on #7585
@thesahindia is working on a fix PR to update the behaviour a bit as QA caught some case which we would like to avoid 🙌

[2022-03-11 21:35] parasharrajat commented on #8094
Nope. It is not a regression. It is missed case from my PR https://github.com/Expensify/App/pull/7986.

[2022-03-11 21:36] rushatgabhane commented on #7623
@thienlnam all yours, unassigning myself because Rajat doesn't need a C+ review

[2022-03-11 21:39] rushatgabhane commented on #8034
pr on hold

[2022-03-11 21:44] kavimuru opened #8107 "Web - Refreshing the page after resizing the screen opens connect to bank account page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing PR #8041

## Action Performed:
1. Go to settings
2. Open any workspace
3. Go to connect bank account
4. Go to connect manually
5. Go to 2nd

[2022-03-11 22:12] Santhosh-Sellavel commented on #8006
@mateusbra
Can you update your proposal, without using `this.props.fileName` that does not make any sense. Also after copying the email, on pasting the value. Ex: It should be `adf@mail.com` not `mailto:adf@mail.com`.

[2022-03-11 22:28] K4tsuki commented on #7352
@rushatgabhane I thought we have library with html styling awareness to convert html with styling to markdown, but actually we make our own converter. At this rate if something changes in `ReportActionItem`or component inside it then we must modify the converter. So, it will not be one time solution to fix current and future change of `ReportActionItem`.

[2022-03-11 22:41] neil-marcellini commented on #8107
I was able to reproduce this with these steps:
1. Load the homepage
2. Go to Settings > Preferences and turn on Use Secure Staging Server
3. Go to Settings > Workspace > Connect Bank Account > Connect online with Plaid and enter the test account info
4. Select "Plaid Savings"
5. Notice that the URL is https://staging.new.expensify.com/bank-account/BankAccountStep
6. Refresh the page and you will b

[2022-03-11 22:41] nickmurray47 commented on #8090
@adeel0202 since it seems you were the one that originally reproduced the bug, I'm having trouble reproducing the bug on my end even while throttling my internet connection. Are you throttling your internet connection and how fast is your connection?

Thanks!

[2022-03-11 23:45] NikkiWines commented on #8094
Dropping to a daily since the fix PR has been merged

[2022-03-12 00:04] kavimuru opened #8108 "Web - Payments - Error message appears on clicking "Save and Continue" in additional details form"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing PR #8017**

## Action Performed:
1. Navigate to /settings/payments/enable-payments
2. Enter information in all fields
3. Tap on "Save & C

[2022-03-12 00:10] kavimuru opened #8109 "iOS - Workspace - Unable to see searched user, missing "Done" button in keyboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in with expensifail account
2. Tap on Setting
3. Tap on Any Workspace
4. Go to Manage users
5. Tap Invite
6. Start type an

[2022-03-12 00:10] osama256 commented on #7541
@shawnborton  here how inputs / pickers look like in default and largest font size mode.

 I'm not finished yet, after I finished I will send you the complete code and get your feedback/update you want.

![Simulator Screen Shot - iPhone 8 - 2022-03-11 at 15 51 17](https://user-images.githubusercontent.com/51829206/157993576-d8b6aa00-d498-4e6b-941e-a0beb4f7ad52.png)

![Simulator Screen Shot - iPhon

[2022-03-12 01:21] K4tsuki commented on #8062
@pecanoro I have tried other browsers (Opera that use blink engine and Midori browser that use webkit), but  they works as expected (I tested it  3 - 5 times on each browser).
I can confirm this issue happens only in Firefox.

[2022-03-12 02:10] kbecciv opened #8110 "[HOLD for payment 2022-04-12] [$250] Android - Emoji- Emoji is selected only on second tap"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with account and select user
3. On Input box - tap on emoji icon
4. Tap on any emojis

## Expected Result:
Emoji is sele

[2022-03-12 04:28] Regaron commented on #7777
# Proposal

The jumping might be caused by the layout shifts while hiding keyboard when going back to ``Chat Screen``.
As we always go back to the chat screen after pressing the button regardless of success or failure of the action performed. We can immediately hide the keyboard on button press using ``Keyboard.dismiss()`` so that the keyboard will already be hidden when we go back.

[2022-03-12 05:11] Regaron commented on #7777
# Proposal

The jumping might be caused by the layout shifts while hiding keyboard opened for ``What's it for? `` input, when going back to ``Chat Screen``.

As we always go back to the chat screen after pressing the button regardless of success or failure of the action performed. We can immediately hide the keyboard on button press using ``Keyboard.dismiss()`` so that the keyboard will already be

[2022-03-12 06:04] mdneyazahmad commented on #7584
@mountiny I am sorry for not being responsive here and thanks for you patience.  The culprit seems to be `display: none` it' behaviour is not consistent across all platform. it seems like `onLoadEnd` is not fired when `display` is `none` on `ios` other platforms works fine.

### Solution

The reason I used `display: none` was it takes space equal to default `width` and `height` and `ActivityIndica

[2022-03-12 07:23] adeel0202 commented on #8090
@nickmurray47 when I reported the bug, you didn't need to press the `Save` button, just choosing a photo would start uploading it and you would see the loader (please check the video attached above). Secondly, try choosing a photo with a bigger size, and after pressing `Save`, close the browser instantly and open it again. You won't see the infinite loader on the Settings page but on the Profile p

[2022-03-12 10:26] mdneyazahmad commented on #7905
## Updated Proposal

The reason I used `display: none` was it takes space equal to `width` and `height` and `ActivityIndicator` was not there in the `center`. Now, we will overlay another `View` positioned absolute so that the `Image Component` will be hidden below the `ActivityIndicator` and When Image loads ends it will remove the overlay component.

https://github.com/Expensify/App/blob/34e2d3e

[2022-03-12 10:38] ahmdshrif commented on #7841
Hi @nickmurray47  can you please add external lable to open reporting job for me .

Thanks

[2022-03-12 11:53] zoontek commented on #7925
@roryabraham I took a bit of time on this one, made a deep dive in the code to understand it better (as I find the documentation not that clear)

[code]

Scroll is correctly preserved since the first entirely visible view is indeed at index >= 0:

https://user-images.githubusercontent.com/1902323/157931513-0dbb6dcd-fda3-49cd-96c1-c589c062a2e4.mp4

Now with `autoscrollToTopThreshold`. As we can see

[2022-03-12 12:27] mollfpr commented on #7968
## Proposal

Remove `pressOnEnter` from the button confirm will prevent to create Enter keydown listener.
https://github.com/Expensify/App/blob/34e2d3eacfb80356b1906869d87cb0f43b012287/src/components/ConfirmContent.js#L69-L74
[code]

### Chrome
https://user-images.githubusercontent.com/25520267/158017842-c1f1f0c7-e4fd-45d9-a11b-ea3bca8c8fd3.mov

### Desktop
https://user-images.githubusercontent.co

[2022-03-12 14:30] mollfpr commented on #7729
## Proposal

Inside `BaseTextInput` if there's a label `View` will added with style `position: absolute` for label text background. In the meantime, our text input has the same level as the label text background View. By removing the position style of label text background, our text input will have the same position as the label so there's will not any `View` covering our text input and our text i

[2022-03-12 14:37] kavimuru opened #8113 "iOS/ Android - Account creation - Blank page after setting the password"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. In the email field, enter a email address for a new account
2. Press continue
3. Navigate to the email inbox of the account and open the validati

[2022-03-12 14:38] OSBotify commented on #8113
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-12 14:56] parasharrajat commented on #7729
Thanks for the proposal @mollfpr But I think it will create one problem where when we click on the label the input loses focus and reapply it.

This was the initial design on TextInput but due to the above problem, we made it absolute.

[2022-03-12 15:07] parasharrajat commented on #7905
Ok, so we can see the loader for a momemnt even after the image is loaded. Why so? It was my question. I thought you used dNone to overcome this.

[2022-03-12 15:10] parasharrajat commented on #7991
There is one bug for SVG images. When we upload SVG. it says PDF: file not supported and jsonCode: 666 which is wrong.

[2022-03-12 15:11] parasharrajat commented on #6720
I think we are good for payment. Nobody is facing that issue again.

[2022-03-12 15:15] mdneyazahmad commented on #7905
@parasharrajat `dNone` behaviour is not consistent across all platform on `ios` when `dNone` is it does not fire `onLoadEnd`. And the reason `ActivityIndicator` appears then is, that was still not loaded fully. When you load a large image it is downloaded in chunks and is displayed and on top of it the `indicator`. The loader disappears only when it is fully loaded. If you want we can fix it, and

[2022-03-12 15:22] Regaron commented on #7598
Working on this issue, I found another case of unhandled error for file upload when the file being uploaded is less than 2 bytes. Currently minimum file size is not being checked on frontend and also the error thrown by backend is not handled which caused empty rectangular box to appear until the corresponding chat was reloaded.

[2022-03-12 15:51] Tushu17 commented on #8092
Is this eligible for reporting bonus as I had reported this on slack
(https://expensify.slack.com/archives/C01GTK53T8Q/p1646946937452509)

[2022-03-12 18:27] parasharrajat commented on #8092
I don't think so It was created before you reported one and more importantly this falls under the current QA list as changes are not yet on PROD.

[2022-03-12 18:38] parasharrajat commented on #7905
@mountiny can help to decide this part. But I am good with the [proposal](https://github.com/Expensify/App/issues/7905#issuecomment-1065857864).

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-03-12 20:49] Tushu17 commented on #8092
No I had reported this before it got logged however I think that doesn't matter now because of the second point.

 Thanks for the heads up, I didn't know about it.

[2022-03-12 23:27] kbecciv opened #8114 "[$250] Login - Unable to login back after 1hr when the account is locked"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open http://staging.new.expensify.com
2. Enter a new email address
3. Tap on the magic link and start to create a new password
4. Tap on 'Set Pas

[2022-03-13 02:01] mollfpr commented on #7729
## Proposal 2

Another proposal here cc @parasharrajat
Adding `scroll-padding-top` to text input when has a label and is multiline to define offset equal to text input padding-top.

[code]
https://github.com/Expensify/App/blob/34e2d3eacfb80356b1906869d87cb0f43b012287/src/components/TextInput/BaseTextInput.js#L246-L263
[code]

### Web
https://user-images.githubusercontent.com/25520267/158041503-20d

[2022-03-13 02:03] kbecciv opened #8115 "[HOLD for payment 2022-05-26] [$1000] iOS/ Android - Attachment - Image looks cropped In the Preview page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app
2. Go to a chat
3. Click on the "+" sign
4. Select add Attachment
5. Select a screenshot (mad from your phone)

## Expected Result:

[2022-03-13 02:04] OSBotify commented on #8115
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-13 02:40] kbecciv commented on #8100
@mountiny Also Ipad7 has the same issue as well.

[2022-03-13 05:06] mollfpr commented on #8033
**The problem does not appear in the latest `main` branch. But the code that will make this happen again is still there.**

### Proposal

This happen because the object `policy` have posibility to return null. We need add some condition to check if `policy` null we return false.
https://github.com/Expensify/App/blob/34e2d3eacfb80356b1906869d87cb0f43b012287/src/pages/ReportSettingsPage.js#L156
[cod

[2022-03-13 06:14] phivh commented on #8097
@mountiny the changes that I did only kept the position of the menu while the window resize on the desktop which was the same logic to set position before. Nothing changed in the menu UI or show/hide logic.

https://github.com/Expensify/App/blob/d05c56eb375b4d9042dce964022cdc87fed271c8/src/pages/settings/Payments/PaymentsPage/BasePaymentsPage.js#L93-L105

I thought the payment preview was only sho

[2022-03-13 09:27] phivh commented on #7715
### Proposal
There is a solution that we can detect that touchable feature in window.
Ref: https://hacks.mozilla.org/2013/04/detecting-touch-its-the-why-not-the-how/
1. Add a condition that detects touch device or not.
[code]
2. Add more conditions in this line
https://github.com/Expensify/App/blob/6ef2e519d1ecf5b0e6db3f5498e24c7e50e9f21b/src/pages/home/report/ReportActionCompose.js#L343
[code]
3.

[2022-03-13 12:45] mountiny commented on #8097
@phivh Thank you very much for looking into this 🙇

[2022-03-13 16:47] mountiny commented on #8100
@kbecciv On ipad  landscape it is expected behaviour. There is a native emoji keyboard which users would most likely use.

[2022-03-13 16:57] kbecciv opened #8116 "Login - App is crashing when try to log in with High Traffic Account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with account applausetester+1226abb@applause.expensifail.com/Feya86Katya

## Expected Result:
Able to l

[2022-03-13 17:51] parasharrajat commented on #8033
We mostly try to fix the root cause of the problem before patching the code. I will wait to see more proposals that can identify why this line creates an issue and works sometimes.

[2022-03-13 17:58] parasharrajat commented on #7715
I do not understand this proposal. `VirtualKeyboard.shouldAssumeIsOpen()` fallbacks to touch devices to assume if the virtual keyboard is open and you are adding another condition that reverses that.

On the other hand, userAgent matching is not a bulletproof technique. Let's use feature detection instead.

[2022-03-13 18:25] parasharrajat commented on #7729
Support seems fine. https://caniuse.com/?search=scroll-padding-top

Do you see any other way? But I feel like not many users will be affected by this bug so looks good to me.

I think we can proceed with @mollfpr 's latest [proposal](https://github.com/Expensify/App/issues/7729#issuecomment-1066005021) .

cc: @Julesssss

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-03-13 18:35] mountiny commented on #7905
All seems good, but I am not sure if I understand this sentence:

![image](https://user-images.githubusercontent.com/36083550/158073998-a29d1115-716a-43b9-bf8f-b4bcb4d6db3c.png)

The loader disappears when the image is fully loaded, the image will be displayed when fully loaded. What is the difference between these two options? 😄 Thank you!

[2022-03-13 21:56] mateusbra commented on #8007
@Santhosh-Sellavel updated my proposal fixing this edge case https://github.com/Expensify/App/issues/8007#issuecomment-1064311667

[2022-03-13 23:37] kadiealexander commented on #7462
@ahmdshrif could you please share an update on where things are at?

[2022-03-14 00:09] kadiealexander commented on #7967
Doubled the job price!

[2022-03-14 00:20] rushatgabhane commented on #7967
@kadiealexander Opps, I forgot to mention this explicitly.

This issue doesn't need to be doubled because @thesahindia's PR https://github.com/Expensify/App/pull/7850 fixed it (unintentionally).

[2022-03-14 00:28] rushatgabhane commented on #7967
@thesahindia umm, I don't think that's a good idea. What will happen when there are multiple options.
Besides there's some work being done adding keyboard navigation to this menu. So we don't need to worry about it.

[2022-03-14 00:54] mollfpr commented on #7729
@parasharrajat We can use the shorthand ‘scroll-padding’ instead the long hands ‘scroll-padding-top’. In [here](https://css-tricks.com/almanac/properties/s/scroll-padding/#aa-syntax) it’s says using the shorthand version for maximum browser support.

[2022-03-14 01:12] #7967 closed

[2022-03-14 01:17] rushatgabhane commented on #8044
🎀 👀 🎀 C+ reviewed

@mountiny I recommend @Tushu17's [proposal](https://github.com/Expensify/App/issues/8044#issuecomment-1063683732). Because we're in favor of **not** displaying the limit ([slack 🧵](https://expensify.slack.com/archives/C01GTK53T8Q/p1646961647421709?thread_ts=1646441755.608789&cid=C01GTK53T8Q))

[2022-03-14 01:23] rushatgabhane commented on #7909
@mallenexpensify please consider doubling this issue for more 👀. No proposals since 12 days

[2022-03-14 01:28] rushatgabhane commented on #7903
@marcaaron we've reached a consensus to close this issue in this [slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1646688131651249?thread_ts=1646419564.724909&cid=C01GTK53T8Q).

[2022-03-14 02:22] kakajann commented on #7858
Just noticed my previous proposal has a glitch that interferes with native cursor placement as @parasharrajat said.
Here's what it means:
| The issue | After my first proposal |
|---------------------|-------------------------|
| https://user-images.githubusercontent.com/11542415/158093205-fd901b24-f063-45d2-8040-0bd0ff009e11.mov | https://user-images.githubusercontent.com/11542415/158093306-8c204

[2022-03-14 03:51] mvtglobally commented on #8074
Deploy Blockers
https://github.com/Expensify/App/issues/8113
https://github.com/Expensify/App/issues/8097
https://github.com/Expensify/App/issues/8094
https://github.com/Expensify/App/issues/8092

Comments
https://github.com/Expensify/App/pull/7660#issuecomment-1066289008 is failing
https://github.com/Expensify/App/pull/7850 is partially blocked by #7768 on IOS, but overall PR pass, checking off
h

[2022-03-14 04:04] Christinadobrzyn commented on #8045
Job posted in Upwork -

Interna posting: https://www.upwork.com/ab/applicants/1503218660296941568/job-details
External posting: https://www.upwork.com/jobs/~015f76f91911d63c57

[2022-03-14 04:07] mvtglobally opened #8118 "Filename in pdf not being preserved when downloading"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Upload a pdf with an easy-to-remember file name
2. Download the pdf after you've uploaded it

## Expected Result:
The file name to stay the same

[2022-03-14 04:17] mvtglobally opened #8119 "[HOLD for payment 2022-05-25] [$1000] Image does not zoom where you click, but at the different area"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Send large image
3. Open image
4. Scroll to the bottom or any other specific area and hit zoom

## Expected Result:
Image should

[2022-03-14 04:20] mvtglobally opened #8120 "Android - VBA - Save button not appear correctly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1- Add bank account manually to workspace.
2- Enter any data and save to have some error
3- Try to focus any input

## Expected Result:
Save button

[2022-03-14 04:27] mvtglobally opened #8121 "Invoices from workspace view redirect to OldDot app - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Make sure that you have both the New Expensify and Expensify apps installed.
2. Open the New Expensify app in mobile.
3. Create a workspace if yo

[2022-03-14 04:30] mvtglobally opened #8122 "[Payment due May 31] [$2000] iPad - Login form position should be a little lower in tablets - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open :expensify: on tablet
2. Go to the login page

## Expected Result:
Login form position should be a little lower

## Actual Result:
There's i

[2022-03-14 04:33] mvtglobally opened #8123 "Android - Dropdown arrow overlaps with text in language picker on login page - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open :expensify:  on android
2. Go to login page
3. Check language picker at the bottom

## Expected Result:
Dropdown arrow shouldn't overlap

##

[2022-03-14 04:36] mvtglobally opened #8124 "[$2000] No error displayed using invalid set password link from email - reported by @K4tsuki"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign out
2. Open https://new.expensify.com/setpassword/1138003/ULXLJCUMX I got from email
3. verify application doesn't show invalid link error i

[2022-03-14 04:46] mvtglobally opened #8125 "Sent/Requested money Message disappears from LHN after refresh - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Choose a contact > Send a text message
 2. Actions > Send/Request money from the same contact
 3. Refresh the page
 4. Wait for sometime

## Exp

[2022-03-14 04:50] mvtglobally opened #8126 "[$500] Page goes to home screen if press chat and refresh the page - reported by @phivh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the URL https://staging.new.expensify.com/
2. Log in with any account.
3. Open any chat
4. Refresh the page

## Expected Result:
After pag

[2022-03-14 04:52] mvtglobally opened #8127 "[HOLD for payment 2022-04-27] [$500] Pdf preview is not in centered - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to Chat
 2. Try sending the pdf given in thread
 3. See if it's in center

## Expected Result:
Preview should be in center.

## Actual Result

[2022-03-14 04:55] mvtglobally opened #8128 "[HOLD for payment 2022-05-02] [$1000] Onfido Personal Information page doesn't scale/scroll based on window size - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to workspace> connect Bank
 2. Choose plaid or manually fill the bank details
 3. Fill company details and save
 4. Fill personal details and

[2022-03-14 05:14] mvtglobally opened #8129 "Clicking on X to exit room details takes user to LHN - reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open up a shared room on newdot
2. Click on the room name to view the room `Details`
3. Click on `X` button to exit the `Details` page

## Expect

[2022-03-14 05:18] mvtglobally opened #8130 "User detected as having password after visit setpassword link without setting the password - reported by @K4tsuki"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Register an email account and receive setpassword link in browser A
2. Open the link in new tab in browser A, do nothing and don't set a password

[2022-03-14 05:20] mvtglobally opened #8131 "No scroll bar on compose box - reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a chat
2. Type 10-20 lines

## Expected Result:
There should be a scroll bar when content overflows.

## Actual Result:
There is no scroll b

[2022-03-14 05:23] mvtglobally opened #8132 "[HOLD facebook/react-native#37397][$1000] Back ticks aren't centered vertically"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send few messages with back ticks

## Expected Result:
Back ticks should be centered vertically

## Actual Result:
Back ticks aren't centered ver

[2022-03-14 05:33] mvtglobally opened #8133 "[HOLD for payment 2022-05-20][$250] One of the popup modal options is highlighted by default when shown on click - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open New Dot Web App or Desktop App
2. Go to any user chat click on :heavy_plus_sign:  ,
3. Go to Settings -> Profile -> Click on camera icon
4.

[2022-03-14 05:35] mvtglobally opened #8134 "[HOLD for payment 2022-06-16] [$1000] Last message text in LHN includes text and no space above quoted text"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Receive quoted text and non quoted text in a single message
2. View LHN

## Expected Result:
We should see the first line of the last message.

#

[2022-03-14 05:49] mvtglobally opened #8135 "Main chat composer not visible on mobile web"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Download and install the mobile app
2. Sign in to New Expensify on mobile web. There will be a banner that says Open in the New Expensify App
3.

[2022-03-14 06:12] parasharrajat commented on #7858
Do you have a proper explanation of why
settimeout is needed? I could have used the same with my changes but it is still a hack. More importantly have you tested your solution across browsers and what will be it's effect on native.

[2022-03-14 06:15] hvbeladiya149 commented on #7424
I have guessed there is an APIs issue, which is the API is causing this issue that I can't say without reviewing the code.

I am suggesting the logic in catch block, During the API call if the compiler is going into the catch block then there should be callBack to hide the Loader or General Error screen. So the app would not look as stuck.

[2022-03-14 06:16] parasharrajat commented on #7729
Ok. But still I am asking any other solution that is not dependent on scroll-padding.

[2022-03-14 06:24] kakajann commented on #7858
I don't but after the hours of research, it's only way to solve this issue.

Tested on Chrome (latest), Safari (Latest).

As I mentioned earlier, the issue is related with Web. Native side won't be affected with this code changes.

[2022-03-14 06:26] mollfpr commented on #7729
@parasharrajat cannot think any other way 😅

[2022-03-14 08:32] Justicea83 commented on #8135
Can't reproduce the error

[2022-03-14 08:45] ahmdshrif commented on #7462
@kadiealexander it's in review

[2022-03-14 08:51] wahaj-47 commented on #8045
I am not sure how to perform the actions listed because I never get the onfido step. canUseAllBetas() is returning true.

[2022-03-14 09:09] wahaj-47 commented on #8045
And also if the user is entering birthdate, then he shouldn't be able to select future dates in the first place. However in the video the user only sees future dates.

[2022-03-14 09:20] MariaHCD commented on #8047
Posted in [#product](https://expensify.slack.com/archives/C03U7DCU4/p1647249615202189)!

[2022-03-14 09:51] Julesssss commented on #7737
Doubled bounty. Still awaiting proposals

[2022-03-14 10:05] laurenreidexpensify commented on #7586
@marcochavezf am making this a monthly until you are actively working on it 👍🏽

[2022-03-14 10:22] mollfpr commented on #8033
@parasharrajat It's because there are some `policy` from onyx which `ONYXKEYS.COLLECTION.POLICY` has some key with a null value. The null value could be from deleting the policy.

https://github.com/Expensify/App/blob/9dbfbf17719a6d8ffb60dfc268c8ba3dfb0ce8bd/src/libs/actions/Policy.js#L142-L153

<img width="1505" alt="Screen Shot 2022-03-14 at 16 59 27" src="https://user-images.githubusercontent.c

[2022-03-14 10:28] mountiny commented on #7869
@TomatoToaster The QA seems to reproduce this issue on production and staging still. Relevant comments [here](https://github.com/Expensify/App/pull/7929#issuecomment-1065413106) and [here](https://github.com/Expensify/App/pull/7929#issuecomment-1066294732).

[2022-03-14 10:29] barun1997 commented on #7962
Hi guys, should I start working on this?

[2022-03-14 10:29] mountiny commented on #7869
not overdue

[2022-03-14 10:30] mountiny commented on #8044
@rushatgabhane Thank you very much!

[2022-03-14 10:31] kidroca commented on #7935
Hey @thienlnam I had a quick chat with @marcaaron last week and it seems it would be best to put this issue on hold or close it.
The new write queue is being planned and should be implemented soon covering persisted requests

[2022-03-14 10:48] parasharrajat commented on #7962
Did you get a chance to look at the Contribution.md guidelines? Maybe that helps. In short, you will be assigned to this issue before you can start. Also hired on Upwork.

[2022-03-14 10:52] mountiny commented on #8044
@Tushu17 Feel free to raise a PR :)

[2022-03-14 11:04] parasharrajat commented on #8033
Ok, I see. Did you run some actions which resulted in this Onyx state or does it already has null values?

But that said, I have already faced this issue earlier and I know that https://github.com/Expensify/App/issues/8033#issuecomment-1066027512 fixes this crash as suggested earlier https://expensify.slack.com/archives/C01GTK53T8Q/p1643191135467000

I would be curious to know why are we storing n

[2022-03-14 11:05] parasharrajat commented on #8033
Also, I like to point out that I reported this issue a month back from this issue https://expensify.slack.com/archives/C01GTK53T8Q/p1643191135467000. And there was a +1 on that. I don't why it wasn't ported to GH. cc: @trjExpensify

[2022-03-14 11:15] MariaHCD commented on #8047
Looks like the consensus is to create a closed account for the recipient. Here's what I think the code changes will look like:

**Web-E:**
Add the following code [here](https://github.com/Expensify/Web-Expensify/blob/bc0f1c7c593010effc0d476fec01e6f0d71967a4/lib/ReportAPI.php#L3365-L3366) to create the closed account:

[code]

**Auth:**
Throw [here](https://github.com/Expensify/Auth/blob/main/auth/

[2022-03-14 11:20] trjExpensify commented on #8033
Looking at that original convo @parasharrajat, Applause and Aldo weren't able to reproduce it with the steps provided?

[2022-03-14 11:21] parasharrajat commented on #8033
Yeah, same as this one. It is also not reproducible.

[2022-03-14 11:26] parasharrajat commented on #7858
Thanks for the info. In reality, looking at the google sign-in form, I feel like this is not worth solving. But I will check the native app to see if that needs fixing the same problem.

Other than that I will wait for @marcochavezf  to decide the worth of this issue before finalizing.

[2022-03-14 11:30] parasharrajat commented on #8045
Thanks, @wahaj-47. I agree steps are not clear. I think we need this https://github.com/Expensify/App/issues/8045#issuecomment-1062416328.

Can I and @wahaj-47 have access to these?

[2022-03-14 11:36] trjExpensify commented on #8033
So you don't think this is the cause of the issue? 😕

[2022-03-14 12:16] mdneyazahmad commented on #7792
## Proposal

`ReportScreen` uses this function to get the current `reportID`.

https://github.com/Expensify/App/blob/6a3759b82b858b20490b5a4dd8e91a9ebe448586/src/pages/home/ReportScreen.js#L85-L88

When the report is switched, it is updated in the `onyx` with key ` ONYXKEYS.CURRENTLY_VIEWED_REPORTID (currentlyViewedReportID)`

https://github.com/Expensify/App/blob/6a3759b82b858b20490b5a4dd8e91a9eb

[2022-03-14 12:20] mdneyazahmad commented on #7792
Second option will be to use `ReactContext` to pass `currentlyViewedReportID` and update it. However, I personally like the above mentioned way.

[2022-03-14 12:23] parasharrajat commented on #8033
I need some time before I can jump on the code and validate that. But I was referring to it before the proposal was posted. Anyways, I am fine with it just wanted to point out that previous report.

[2022-03-14 12:33] flodnv commented on #8122
What do you propose the solution to be exactly @megankelso ? It's not 100% clear to me after reading the Slack thread.

[2022-03-14 12:34] Julesssss commented on #7729
Thanks both. I agree this seems like a reasonable solution, the filtered view on `canIUse` only shows IE as unsupported 👍

[2022-03-14 13:12] mollfpr commented on #7729
@Julesssss applied to Upwork, thank you!

[2022-03-14 13:16] adeel0202 commented on #7967
@kadiealexander, am I not eligible for the reporting bonus?
cc: @rushatgabhane

[2022-03-14 13:49] phivh commented on #7777
## Proposal

We can check if the virtual keyboard is opening then we add dismiss for it in`componentWillUnmount`
File locate need to add: https://github.com/Expensify/App/blob/main/src/components/IOUConfirmationList.js

[code]
If Regaron's proposal is legal to do please go ahead with him.  I saw he is still in progress with his first PR.

[2022-03-14 13:55] parasharrajat commented on #7869
Sorry for the delay, PR should have been ready by now but I didn't get time to work on the weekend. I will push the PR soon.

[2022-03-14 13:59] parasharrajat commented on #7768
Sorry for the delay, PR should have been ready by now but I didn't get time to work on the weekend. I will push the PR soon.

[2022-03-14 14:03] mollfpr commented on #8033
In that browser, yes. but the account that I use above is a newly created.

[2022-03-14 14:04] thesahindia commented on #8031
I like the 2nd option. 1st option is good but there is a drawback. If the user is in the middle of editing and navigates to some other chat then the changes he made will get discarded.

[2022-03-14 14:07] bfitzexpensify commented on #7576
Another little while without movement - bumping to $2000

[2022-03-14 14:09] parasharrajat commented on #8033
Oh... Are you able to reproduce this after refresh? Do you see similar keys for policies in both accounts?

I will try that out. Thanks for the info.

[2022-03-14 14:20] bfitzexpensify commented on #7971
@Santhosh-Sellavel please take a look at these ^ proposals when you get a chance - thanks!

[2022-03-14 14:20] parasharrajat commented on #7007
Any update @thesahindia on the PR?

[2022-03-14 14:28] jboniface commented on #7675
on staging

[2022-03-14 14:44] kbecciv opened #8138 "Web - Split bill - Can't delete split bill but can delete a request money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Click on +
3. Click on split bill
4. Choose an amount
5. Click next
6. Choose contact
7. Click on spli

[2022-03-14 14:51] parasharrajat commented on #8033
Gotcha. It is more involved than I thought :cry:

[2022-03-14 15:14] parasharrajat commented on #6584
All PR merged. Waiting for issues to popup :stuck_out_tongue_winking_eye:

[2022-03-14 15:33] lschurr commented on #8119
I reproduced this as well. It seems to work fine with smaller images, but larger ones it zooms to a random area on the photo.

[2022-03-14 15:33] kbecciv commented on #8138
@Beamanator I re-tested in latest build 1.1.42.4, this issue reproduce for the specific account: adi.fryder@gmail.com) / 1020304050Aa

[2022-03-14 15:42] megankelso commented on #8122
This is the proposed solution!

<img width="834" alt="ipad-signin (1)" src="https://user-images.githubusercontent.com/49413768/158208049-2ba8ea21-afdc-431f-8b5f-b26ba4f41d59.png">

[2022-03-14 15:42] thesahindia commented on #8138
I think we already have an issue open for this, can you check https://github.com/Expensify/App/issues/7014

[2022-03-14 16:05] mvtglobally commented on #7274
@trjExpensify
Issue is still repro, that's why we didn't close it

https://utest-dl.s3.amazonaws.com/testRunStepMinAttachmentsResult/18757968/VID-20220312-WA0050.mp4?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1678809788&Signature=eOxWe1%2BJ2LAA0Vru7G23rqdRGFs%3D

[2022-03-14 16:06] parasharrajat commented on #7598
@Expensify/marketing Can we please get confirmation on the copy https://github.com/Expensify/App/issues/7598#issuecomment-1063628157 and its translations?

[2022-03-14 16:23] MonilBhavsar commented on #8089
Looks like `<Text>` component is occupying more than half of height of `<ReportActionItemGrouped>` component

<img width="360" alt="Screenshot 2022-03-14 at 9 44 26 PM" src="https://user-images.githubusercontent.com/32012005/158215134-f30a9d9b-5bab-46c8-b13b-3d5ea30fc5f5.png">

Not blocking anything and occurs on iOS/Android, so low priority

[2022-03-14 16:30] pecanoro commented on #8062
@K4tsuki I will add you as the reporter of the bug since you mentioned it a while ago then.

[2022-03-14 16:35] johnmlee101 commented on #8110
K reproduced. Opening this up to external. I'm guessing it has to do with focus of the picker

[2022-03-14 16:41] sobitneupane commented on #8129
Will post solution as the reporter of this issue if considered **external**.

[2022-03-14 16:44] luacmartins commented on #7523
https://github.com/Expensify/App/issues/7523#issuecomment-1065495907 - I think we should keep the focus on the show password button for accessibility. Could we make it more obvious though? I feel like the left border seems off.

https://github.com/Expensify/App/issues/7523#issuecomment-1065520027 - Hmm I think we should toggle the checkbox on "Enter" when it has focus, instead of submitting the fo

[2022-03-14 16:44] laurenreidexpensify commented on #8123
@thesahindia can you please send a video if you can still repro this and if your steps were different to mine?

[2022-03-14 16:48] thesahindia commented on #8123
@laurenreidexpensify, It's on the login page.
<img width="357" alt="Screenshot 2022-03-14 at 10 16 58 PM" src="https://user-images.githubusercontent.com/83179295/158220716-b48a699a-d5b7-4b69-ad02-518c3cc9007e.png">

[2022-03-14 16:55] Justicea83 commented on #7820
Eslint FunctionExpressions do not support JSDocs yet

[2022-03-14 17:01] Beamanator commented on #8138
Aah great find @thesahindia - thanks! closing this one

[2022-03-14 17:05] TomatoToaster commented on #7869
As far as I can tell, this seems to be an issue where the passover prompt doesn't end up showing up after being clicked here: https://github.com/Expensify/App/blob/d05c56eb375b4d9042dce964022cdc87fed271c8/src/pages/settings/Payments/PaymentsPage/BasePaymentsPage.js#L316-L324

There must be another issue causing this if this is only happening on iOS but I'm not sure why this is happening. I think t

[2022-03-14 17:15] parasharrajat commented on #7715
It already does that. Let's work on the other request first. Thanks.

[2022-03-14 17:17] parasharrajat commented on #7869
This is a duplicate of #7768

[2022-03-14 17:17] kavimuru commented on #8113
@pecanoro  Not able to reproduce on our end too in 1.1.42-4 build.

[2022-03-14 17:21] deetergp commented on #7738
The PR for this has been merged 🎉

[2022-03-14 17:22] mountiny commented on #7869
I thought they are very similar, I will assign this to myself then, but I wont close it yet and wait to see if this wont be reproducible on iOS.

[2022-03-14 17:25] yuwenmemon commented on #8116
@kbecciv can you try again one more time today to make sure it wasn't a temporary performance issue?

[2022-03-14 17:45] madmax330 commented on #8097
Slack thread summary, this is already how it is on production and seemed to have been introduced by this PR: https://github.com/Expensify/App/pull/7741

Since it's on prod it shouldn't block the deploy, but we should fix the preview once we determine how it should be.

[2022-03-14 17:46] chiragsalian commented on #8094
CP-ing the [PR](https://github.com/Expensify/App/pull/8106) to staging since the issue is a deploy blocker.

[2022-03-14 18:08] thienlnam commented on #7935
Makes sense to me, do you have a link for the write queue issue? I'll close this and add it to the other issue to make sure it covers persisted requests

[2022-03-14 18:08] #7935 closed

[2022-03-14 18:12] danieldoglas commented on #8126
Seems like something related to the router.

[2022-03-14 18:13] laurenreidexpensify commented on #8126
@NicMendonca I'm out for a couple days, wanted to make sure someone picks this up before then - just saw this was I was logging off for day 😅

[2022-03-14 18:24] thienlnam commented on #7917
Still waiting on a volunteer to audit the forms

[2022-03-14 18:38] flodnv commented on #8122
Thanks! I find it a bit weird for some reason but it's alright :)

[2022-03-14 18:44] megankelso commented on #8122
Curious to know what you'r finding weird about it? I personally thought the graphic should be on top and the form on bottom, but with the keyboard coming up on the bottom of the screen I think this makes more sense.

[2022-03-14 18:47] flodnv commented on #8122
I think both options are weird to me, because the screen is split in 2. I'm not a tablet user though, maybe if I was I wouldn't find it that weird.

[2022-03-14 18:56] rushatgabhane commented on #7584
@mountiny [this](https://github.com/Expensify/App/issues/7584#issuecomment-1065823073) looks fine to me.

[2022-03-14 19:03] alex-mechler commented on #8134
This mostly looks good to me, but I don't know how much I agree with the Expected Result here. I think we would show the first line of the last message, as its a preview of the last message, so sending the last thing in that message does not make a ton of sense to me. Will mention in the slack thread.

[2022-03-14 19:05] chiragsalian commented on #8094
The fix for this has been CP-d to staging. Can you retest @kbecciv.

[2022-03-14 19:07] mountiny commented on #7584
@rushatgabhane Thank you!

@mdneyazahmad Thanks! Since you are already assigned, feel free to create the PR and we will need to make sure to properly test the regression we experienced last time.

[2022-03-14 19:15] NicMendonca commented on #8126
Upwork job: https://www.upwork.com/jobs/~01c09e65fbbdd4bb12

[2022-03-14 19:18] nickmurray47 commented on #8047
Awesome, thanks for that @MariaHCD! Feel free to tag me in review too!

[2022-03-14 19:27] #8113 closed

[2022-03-14 19:29] chiragsalian commented on #8074
Checking off
1. https://github.com/Expensify/App/pull/7929 - The delete part of the issue is not a blocker as it happens on production as well. its currently tracked [here](https://github.com/Expensify/App/issues/8097) and [here](https://github.com/Expensify/App/issues/7768)
2. https://github.com/Expensify/App/pull/8025 - The basic issue of the PR has been resolved. The delete paypal part is anoth

[2022-03-14 19:31] rushatgabhane commented on #7729
@parasharrajat no, it doesn't have this issue.

[2022-03-14 19:33] johnmlee101 commented on #8030
Are you saying our implementation today trims spaces?

[2022-03-14 19:40] trjExpensify commented on #7274
Okay, got it. Thanks! Did I miss a process change somewhere whereby we only comment if it's _not_ reproducible in the weekly KI tests now?

@Julesssss I wonder whether this is something we'll solve with the offline project now actually anyway? 🤔 If not, let me know and I'll add a new job to Upwork at $1k.

[2022-03-14 19:42] mvtglobally commented on #8074
https://github.com/Expensify/App/pull/8049 - checking off, I missed to checkmark
https://github.com/Expensify/App/pull/8058 - is pass on all but Desktop
1.1.42-4 is not yet available on Desktop.

[2022-03-14 19:44] michaelhaxhiu commented on #8122
Okie so... seems like we feel good with the proposed mock, and I can post the job to upwork?

Fwiw, I think this version looks much better than the current version with the left/right content.

[2022-03-14 19:53] MitchExpensify commented on #8062
[Upwork Job](https://www.upwork.com/jobs/~01b1f2774a77de0bf7)

Please make a proposal @K4tsuki so I can pay eventual reporting bonus, thanks!

[2022-03-14 20:01] rushatgabhane commented on #7385
PR in staging

[2022-03-14 20:11] mountiny commented on #6718
@kevinksullivan Could we double the price here again, please? 😊

[2022-03-14 20:19] luacmartins commented on #7536
Still weekly!

[2022-03-14 20:20] alex-mechler commented on #8134
Updated the `Expected` based on the slack thread https://expensify.slack.com/archives/C01GTK53T8Q/p1647284812200829?thread_ts=1646654742.446119&cid=C01GTK53T8Q

Ready to be handled externally

[2022-03-14 20:26] kevinksullivan commented on #6720
Offer sent @hiteshagja and @parasharrajat . Once you accept I'll get this payment taken care of!

[2022-03-14 20:27] kadiealexander commented on #7967
@adeel0202 the contributing guidelines state:

As this job was not implemented and nothing was deployed related to this issue, the reporting bonus does not apply here. The reporting bonus will apply to the issue that the PR is associated with (https://github.com/Expensify/App/issues/7545) which is coincidentally also one you reported. 😊

[2022-03-14 20:27] mountiny commented on #8046
As thought, sorry @mollfpr, we will not proceed with fixing this as it is expected behavour. Users are not supposed to write markdown to the payment note field so it is not a big problem it does not show with styling.

@kadiealexander or @jliexpensify could we please close this job out in Upwork? Thank you very much 🙇

[2022-03-14 20:27] #8046 closed

[2022-03-14 20:29] mateusbra commented on #8006
proposal updated!=

[2022-03-14 20:29] kevinksullivan commented on #8127
@thesahindia please apply when you get a chance!

[2022-03-14 20:37] parasharrajat commented on #7925
@Sarveshwins Sorry but requirements mention that this issue needs to be fixed on react-native source.

[2022-03-14 20:38] Julesssss commented on #7274
Nah, lets open an issue as A) this should be fixed sooner rather than later, and B) I doubt this would be included in that DD

[2022-03-14 20:51] #8092 closed

[2022-03-14 20:52] kadiealexander commented on #8115
@timszot were you able to work out which PR affected this?

[2022-03-14 21:08] marcochavezf commented on #8045
Oh then for this case seems betas should be enabled from backend

Sure, which are the emails that you guys use for testing?

[2022-03-14 21:11] parasharrajat commented on #8045
rparashar+1@hrgdev.com

[2022-03-14 21:14] parasharrajat commented on #7925
@zoontek I can't access mentioned repo.
![image](https://user-images.githubusercontent.com/24370807/158262399-e7bd57ba-5ef9-4db4-a15b-e5b4ad7b1d1b.png)

[2022-03-14 21:16] zoontek commented on #7925
@parasharrajat Sorry, I changed visibility to public.

[2022-03-14 21:17] justinpersaud commented on #7991
SVG isn't supported by our library we're using to do the conversion right now. It seems like it's possible to add, but the work to get it done is a bit more involved. We could omit thumbnails for svg and just allow them to be downloaded as a workaround.

[2022-03-14 21:24] chiragsalian commented on #8074
Checking off https://github.com/Expensify/App/pull/7949 since it was [internally tested](https://github.com/Expensify/App/pull/7949#issuecomment-1067282458).

[2022-03-14 21:25] kbecciv commented on #8094
Sure, we are going to test the CPs right now. Thank you @chiragsalian

[2022-03-14 21:30] kbecciv commented on #8116
@yuwenmemon Retested with latest build 1.1.42.5 and still reproduced the issue.

https://user-images.githubusercontent.com/93399543/158264573-af28d138-31f4-4bcf-86ac-c8439026e054.mp4

[2022-03-14 21:36] luacmartins commented on #8121
So from the Slack thread, the expected behavior is in both cases, with and without the OldDot app installed:

1. Open OldDot web
2. Verify that the user is signed in
3. If `Send invoice` is tapped, verify a new invoice is created
4. If `View all invoices` is tapped, verify that we can see all invoices (yes, the layout is broken but as discussed in Slack this is not a concern right now)

From my te

[2022-03-14 21:43] marcochavezf commented on #7858
I think it'd be great if `setNativeProps` worked as expected and the problem with the `setTimeout` is the blink in the cursor that happens in a fraction of time (some users could perceive it as a bug), which is the product of forcing the cursor placement after the browser focus event. I agree with @parasharrajat, I think this is not a real problem for the end-user.

@jliexpensify could you remove

[2022-03-14 21:48] marcochavezf commented on #7586
Thanks @laurenreidexpensify, yeah I think makes sense because it's an edge case that doesn't impact most of the users but it's worth to be fixed.

[2022-03-14 22:04] mallenexpensify commented on #7909
Price doubled to $500 https://www.upwork.com/jobs/~017f47eb7070f5ad02
Thanks @rushatgabhane

[2022-03-14 22:08] parasharrajat commented on #7991
I think it's fine to leave svgs. There is another issue where we are blocking this file upload. Do you think you can share the supported file extensions so that we can add that on UI. https://github.com/Expensify/App/issues/7598#issuecomment-1067218277

[2022-03-14 22:09] zsgreenwald commented on #8088
On it!

[2022-03-14 22:12] mallenexpensify commented on #8044
Hired @Tushu17 in Upwork. @rushatgabhane , can you apply too please?
https://www.upwork.com/jobs/~01219455343a1a0b18

[2022-03-14 22:13] rushatgabhane commented on #8044
Done, thanks!

[2022-03-14 22:20] kevinksullivan opened #8146 "Remove `Save` button on default rooms settings"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Join `defaultRooms` beta
2. See default room - either #announce or #admins
3. Click room avatar
4. Click settings

## Expected Result:
There shou

[2022-03-14 22:21] kevinksullivan commented on #8146
CC @Expensify/design @trjExpensify  want to make sure you're all good with this change too!

[2022-03-14 22:26] Luke9389 commented on #8114
@kbecciv, out of curiosity, did you do a hard refresh on the sign-in page between steps 9 & 10 above?

[2022-03-14 22:28] trjExpensify commented on #8146
Yep agreed, as you can't edit the name of a default room.

[2022-03-14 22:31] kidroca commented on #7935
No link yet, but the Offline First MVP design in slack, I think this is the relevant sub thread: [Sequential Offline Persisted WRITE Requests ](https://expensify.slack.com/archives/C01GTK53T8Q/p1646675971197119)

[2022-03-14 22:31] shawnborton commented on #8146
cc @parasharrajat I think we were working together on this kind of input recently? Anyways I agree in that we should get rid of the save button, but I think I would also use a style more like the bottom example in terms of how to display this since it is read-only:

<img width="473" alt="image" src="https://user-images.githubusercontent.com/2319350/158271680-908d0234-5a16-4533-a02a-8d1d532b18cf.pn

[2022-03-14 22:34] kevinksullivan opened #8147 "[HOLD for payment 2022-03-31] Update avatars for #announce and #admins default rooms"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Add account to `defaultRooms` beta
2. Search for a default room - either #announce or #admins
3. See avatar

## Expected Result:
Avatars should b

[2022-03-14 22:35] kevinksullivan commented on #8147
Well would ya look at that @trjExpensify 😀 !

[2022-03-14 22:40] kadiealexander commented on #8115
Posted to Upwork!

External: https://www.upwork.com/jobs/~01fe2aa229cf3ecd0d
Internal: https://www.upwork.com/ab/applicants/1503501207937069056/job-details

[2022-03-14 22:40] marcaaron commented on #7912
🦗

[2022-03-14 22:42] marcaaron commented on #7598
@SofiedeVreese I only speak bad English sorry :D

[2022-03-14 22:53] rosegrech commented on #7598
Per this [SO,](https://stackoverflow.com/c/expensify/questions/10316) we should post it in #espanol Slack. Would just like to get final on the Eng version first.

[2022-03-14 22:56] marcaaron commented on #7903
Sounds good thanks

[2022-03-14 22:56] #7903 closed

[2022-03-14 22:57] marcaaron commented on #7950
Linked PRs to fix this are not merged yet so gonna reopen this and assign myself.

[2022-03-14 23:01] kadiealexander commented on #7858
@marcochavezf closed! We hired @parasharrajat for the reporting bonus, should I cancel this contract as well?

[2022-03-14 23:10] parasharrajat commented on #7925
First, sorry for the delay. I was trying to set up the project on limited connectivity and trying to get grip on the problem.

Well! The Rn docs are really bad. I have a few questions. What should be the correct behavior of `autoscrollToTopThreshold`. When this is 0 and we prepend a new item the list should scroll and show that item. right? Following that when `autoscrollToTopThreshold is 37`, pre

[2022-03-14 23:15] parasharrajat commented on #7858
I would request to wait for a day. There are some new changes to the TextInput and I would like to test my proposal over that.

[2022-03-14 23:17] K4tsuki commented on #8030
@johnmlee101 yes. For example in login page, add space at the beginning of your current password, then you will be able to login.
I don't know how password stored database, but I think there are trimming space process in setpassword and login scheme.

[2022-03-14 23:19] mallenexpensify commented on #7584
@mdneyazahmad can you apply to Upwork job here? https://www.upwork.com/jobs/~01c689e49c8567de30
I had to create a new job, the other one was expired

[2022-03-14 23:20] parasharrajat commented on #8146
Yeah, So the Attached screenshot on the issue details is old. New Style is already merged but not yet available on PROD.

To reflect the read-only input, we have a grayish background color and the rest of the input is the same. This is the same for all inputs in the App.

But instead of trying to keep the same input design as the last one on this image, I suggest we use the normal Header and detai

[2022-03-14 23:30] shawnborton commented on #8146
I think I disagree with your comment about the header style. I know it's still a bit of a work in progress, but we are actively trying to update our inputs to the style that I shared above.

[2022-03-14 23:51] pecanoro commented on #7980
@mdneyazahmad Any updates?

[2022-03-15 00:02] kadiealexander commented on #7596
Doubled the price!

[2022-03-15 00:11] trjExpensify commented on #8147
My, my.. issue looks good! I'll keep myself assigned for the CM piece anyhow, once Bondy has given it the all clear and adds the `External` label.

[2022-03-15 00:12] nickmurray47 commented on #8146
@parasharrajat if you were working on a similar issue, do you mind linking me the PR?

Correct me if I'm wrong it sounds like the update here will not be for the "Save" button, but just around the header style.

[2022-03-15 00:15] trjExpensify commented on #8118
@thienlnam - looking at the [linked issue](https://github.com/Expensify/App/issues/6751), it doesn't seem like we actually changed this in the first place for download. Only the filename in the preview text on upload.

Just checking.. from the [original slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1639600067286300?thread_ts=1639445506.216300&cid=C01GTK53T8Q), can this actually b

[2022-03-15 00:18] trjExpensify commented on #7274
Sounds good. New post at $1k on Upwork here: https://www.upwork.com/jobs/~01af0dfa02aa00593f

[2022-03-15 00:18] shawnborton commented on #8146
Yeah apologies for the confusion, I kind of distracted from the original post here. I think we need to remove the Save button, and then furthermore I am suggesting that we change the style of the input when it is read-only.

[2022-03-15 00:20] chiragsalian commented on #6877
Took the discussion to [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1647303519841519).

[2022-03-15 00:22] mallenexpensify commented on #7855
Doubled price to $1000
https://www.upwork.com/jobs/~0123ca18d28a1410b6

[2022-03-15 00:25] shawnborton commented on #8146
Looking at a recent mockup, I think all of these small headers can be removed as they are redundant:
<img width="383" alt="image" src="https://user-images.githubusercontent.com/2319350/158282356-d4aa0d8e-20f3-438f-93f7-b4eba85f08f9.png">

The bottom "Workspace" should look like the disabled input style I am suggesting in my post above.

[2022-03-15 00:28] kadiealexander commented on #7486
Doubled the price! 💵

[2022-03-15 00:47] NikkiWines commented on #7497
Oops - looks like this needs some labels updated

[2022-03-15 00:50] thienlnam commented on #8118
Yeah it looks like this has always been some random generated download string.  From a first pass, this should be able to be done externally. It seems like we'd just need to pass in the desired filename into the download method

[2022-03-15 00:51] nickmurray47 commented on #8146
got it, seems like a small enough issue that I can just whip up a quick PR and will tag you in it for style check when it's ready @shawnborton

[2022-03-15 00:56] shawnborton commented on #8146
Sounds great, thanks!

[2022-03-15 01:05] SofiedeVreese commented on #7375
Reassigning CM to @kadiealexander.

[2022-03-15 01:07] SofiedeVreese commented on #7905
Reassigning to CM @kadiealexander

This one has a few active discussions around solutions.

[2022-03-15 01:08] SofiedeVreese commented on #7598
Reassigning to CM @kadiealexander

This one will need to be posted in #espanol, once we agree on the English version.

[2022-03-15 01:18] mountiny commented on #7905
@mdneyazahmad @parasharrajat Could you please help me to understand what is the question/decision to be made here? 😄

Would you be able to rephrase this? Thank you very much!

[2022-03-15 01:24] mdneyazahmad commented on #7905
@mountiny When the image is large in size. It is downloaded in chunks (part of image)  and displayed on screen. And there will be a loader on top of it. Once the image is fully downloaded. We will remove the loader.

I was asking about, we can wait for the image to be fully downloaded until then there will be a loader.

[2022-03-15 01:25] mountiny commented on #7905
Yep, thanks! Updated my comment there just now 😅 havent seen the spinner over the image previously.

[2022-03-15 01:28] mdneyazahmad commented on #7905
Do we also need to do the same on native platform? There is a small thumbnail until it loads.

[2022-03-15 01:34] roryabraham commented on #7861
Internal PR deployed to production. @kidroca this should be ready for an E/App PR

[2022-03-15 01:40] mountiny commented on #7905
@mdneyazahmad I would say we can show the spinner over the thumbnail and hide it again once fully loaded 👍

[2022-03-15 01:56] kadiealexander commented on #6965
@sobitneupane any updates on the above? :)

[2022-03-15 02:01] kadiealexander commented on #7905
@mdneyazahmad could you please confirm your Upwork username so I can hire you for the job? Thanks!

[2022-03-15 02:24] conorpendergrast commented on #8124
Interesting! Reproduced now

[2022-03-15 02:37] Christinadobrzyn commented on #8128
I don't think this is related to our "accessibility" initiative. But yeah this does get a little annoying with a small window. I don't see any other GH related to this so sending to Eng for review.

![2022-03-15_10-35-17 (1)](https://user-images.githubusercontent.com/51066321/158294716-043dfbd0-22c1-48b3-970e-e68f225d2112.gif)

[2022-03-15 03:06] mvtglobally commented on #8074
#8106 is pass checking off #8094
Checking off #8097 & #8115 as its no longer a blocker

Only outstanding
https://github.com/Expensify/App/issues/8092 - we didn't get CP yet
https://github.com/Expensify/App/pull/7660#issuecomment-1066289008 - Should we checkoff since original issue is in prod and no fully fixed?

[2022-03-15 03:32] Christinadobrzyn commented on #8119
Job posted in Upwork:

Internal posting - https://www.upwork.com/ab/applicants/1503574726373023744/job-details
External posting - https://www.upwork.com/jobs/~01bed7c6f13bdef30a

[2022-03-15 03:36] rushatgabhane commented on #8119
Sorry I don't have the bandwidth for this one.
cc: @mananjadhav feel free to take this from me

[2022-03-15 03:43] Christinadobrzyn commented on #7185
Done! Thanks, @parasharrajat.

Looks like we're still waiting on proposals to fix the issue.

[2022-03-15 03:53] mananjadhav commented on #8119
Sure @rushatgabhane.  @Christinadobrzyn can you assign this one to me for C+?

[2022-03-15 03:53] rushatgabhane commented on #8119
@mananjadhav Thanks 🙇‍♂️

[2022-03-15 04:03] mvtglobally commented on #7185
Issue not reproducible during KI retests. (Third week)
Original issue is no longer repro.
@Christinadobrzyn  Should we update the steps to reflect the new issue we are trying to fix, or close this and open a new issue for this? https://github.com/Expensify/App/issues/7185#issuecomment-1055853896

[2022-03-15 04:05] mvtglobally commented on #6669
Issue not reproducible during KI retests. (First week)

[2022-03-15 04:08] mvtglobally commented on #7326
Issue not reproducible during KI retests. (Second week)

[2022-03-15 04:10] mvtglobally commented on #7617
Issue not reproducible during KI retests. (First week)

[2022-03-15 04:11] stephanieelliott commented on #8134
Posted to Upwork: https://www.upwork.com/jobs/~017fecd4f1b010dc8e

[2022-03-15 04:11] mvtglobally commented on #7687
Issue not reproducible during KI retests. (Third week) Closing

[2022-03-15 04:11] #7687 closed

[2022-03-15 04:14] mvtglobally commented on #7780
Issue not reproducible during KI retests. (First week)

[2022-03-15 04:15] mvtglobally commented on #7885
Issue not reproducible during KI retests. (First week)

[2022-03-15 04:15] mvtglobally commented on #7919
Issue not reproducible during KI retests. (Second week)

[2022-03-15 04:19] stephanieelliott commented on #8129
Was able to reproduce, I think this weird behavior and solving would be valuable. Passing on to Engineering for further review!

[2022-03-15 04:24] stephanieelliott commented on #7081
PR https://github.com/Expensify/App/pull/8042 is up and going through internal review!

[2022-03-15 04:32] mvtglobally opened #8150 "[HOLD on #7925] Unable to scroll up occasionally"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Using trackpad scroll up in NewDot

## Expected Result:
It would continue to scroll til I got to the beginning of chat history

## Actual Result:

[2022-03-15 04:45] mvtglobally opened #8151 "Future dates in DOB date picker are not disabled. It is disabled for Incorporation Date"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to workspace > Connect Bank Account
2. Choose any option > Go to company step
3. Check Incorporation Date  field date picker
4. Go to Personal

[2022-03-15 04:47] mvtglobally opened #8152 "[HOLD for payment 2022-05-20] Show confirmation screen after changing password - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to Settings > Security > Change password
 2. Fill the passwords.
 3. Save.

## Expected Result:
 It should show a success screen
 ![image - 2

[2022-03-15 04:59] joelbettner commented on #8129
Looks like it has what it needs to be worked on. I don't have the bandwidth to take it on.

[2022-03-15 05:20] robertjchen commented on #8031
Got it, that makes sense- it should mirror the behavior on the desktop version (which is working properly, just not on mobile). This is clear to me now, apologies for any initial confusion!

So, the report/proposal here is to address the issue where the composer disappears when switching to other chats on mobile 👍  Thanks again for the report- going to add the `External` label for the next step of

[2022-03-15 07:01] wahaj-47 commented on #8045
wahajhssn+test AT gmail.com

[2022-03-15 08:21] adeel0202 commented on #7967
Got it, thanks for clarifying @kadiealexander

[2022-03-15 08:23] adeel0202 commented on #7737
@Julesssss, I think the price is still $250 on Upwork 👀

[2022-03-15 08:31] Beamanator opened #8153 "Test issue for k2 updates"

[2022-03-15 08:32] Beamanator commented on #8153
Sorry @bfitzexpensify I'm just testing things here (related to https://github.com/Expensify/Expensify/issues/190841) so I'm unassigning you :D

[2022-03-15 08:36] Beamanator commented on #8153
Sorry @Santhosh-Sellavel this is just a test issue for some internal tool updates I'm working on, don't worry about reviewing anything here 👍

[2022-03-15 08:40] Beamanator commented on #8153
Tests passed, closing 👍

[2022-03-15 08:40] #8153 closed

[2022-03-15 09:39] Julesssss commented on #7737
@MitchExpensify would you mind updating the job price? Ta

[2022-03-15 10:49] trjExpensify commented on #8118
Okay cool, sounds good. Issue on Upwork here: https://www.upwork.com/jobs/~01e2fb27d98dc0b7c2

[2022-03-15 11:00] MonilBhavsar commented on #8035
Not overdue, coming back

[2022-03-15 11:06] MitchExpensify commented on #8031
[Upwork Job](https://www.upwork.com/jobs/~01e3f91f64336faaee)

[2022-03-15 11:10] MitchExpensify commented on #7737
Done! Thanks @Julesssss

[2022-03-15 11:13] thesahindia commented on #8118
### Proposal
Need to pass `fileName` in `fileDownload` -
https://github.com/Expensify/App/blob/3696074348ee1e3be83f0b5ec5d7d2590d589a73/src/components/AttachmentModal.js#L165-L165

[2022-03-15 11:33] mountiny commented on #8151
@luacmartins Coming from the Slack thread, there was not more people who chimed in. As you worked on the Forms overhaul, you probably have the best idea about how we want to proceed with the forms in future.

Would you say then we would want to enable future dates, but throw error? We would need to do the validation (if it does not exist yet internally in backend)

[2022-03-15 11:35] mountiny commented on #8151
Although I feel like in this case we could go with disabling it in front end. We should still make sure we have validation steps that catch bugs or bad actors, but it seems like there should be no case when users will want to add future data, so so no reason to actually allow them to.

I can be persuaded differently though 😄

[2022-03-15 11:40] Julesssss commented on #8130
Cool, it's not super critical but let's get it resolved.

[2022-03-15 11:58] mdneyazahmad commented on #8126
I reported this issue earlier but it did not get any response then https://expensify.slack.com/archives/C01GTK53T8Q/p1643463262081129

[2022-03-15 12:03] trjExpensify commented on #7780
Waiting for the PR to hit prod, Melvin.

[2022-03-15 12:04] mdneyazahmad commented on #8122
I personally think the footer content should be at the very bottom and not the graphics. May be, we can completely remove the graphics (like mobile).

[2022-03-15 12:32] Beamanator commented on #8031
Hmm unable to reproduce on mobile web (chrome), latest version - I'll try android

[2022-03-15 13:03] JmillsExpensify commented on #8133
Hmm, that's odd. Agree that we shouldn't be highlighting any of the options in the dropdown.

[2022-03-15 13:06] SumitDiyora commented on #7883
Checked all PRs and added comments to all PRs where accessibility issues were found without the Android platform (due to build issues on Android).
The non-applicable PRs are - https://github.com/Expensify/App/pull/7692 https://github.com/Expensify/App/pull/7693 https://github.com/Expensify/App/pull/7695 https://github.com/Expensify/App/pull/7696 https://github.com/Expensify/App/pull/7698 https://g

[2022-03-15 13:22] trjExpensify commented on #7885
Waiting on a prod deploy to start the counter (anticipating a ping from Melvin!).

[2022-03-15 13:36] parasharrajat commented on #8126
Sorry but based on the Slack thread it was reported before your report.

[2022-03-15 13:43] robertjchen commented on #5059
no update

[2022-03-15 13:56] kavimuru opened #8154 "Android / iOS - Chat - Code markdown with long text is going over the edge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Tap on any chat
4. Use Code markdown with link ( example: `[https://platform.utest.com/testcycles/35

[2022-03-15 14:01] kavimuru opened #8155 "iOS - Chat - Markdown with italic inside link is not working in IOS"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Tap on any chat
4. Use Italic markdown with link inside ( example: _google.com_)

## Expected Result

[2022-03-15 14:05] aldo-expensify commented on #8152
@mvtglobally 👋 is this expected feedback:

<img src="https://user-images.githubusercontent.com/43995119/158308399-5e17384e-b375-438c-9a6d-25a80857a282.png" width="300">

because growls are really like this:

<img width="443" alt="Screen Shot 2022-03-15 at 10 05 15 AM" src="https://user-images.githubusercontent.com/87341702/158395447-7fcb16d1-ac2f-4cd2-9a29-54a31e1f7d3f.png">

[2022-03-15 14:14] kavimuru opened #8156 "Web - VBA - "X" icon isn't centered for the date picker field under Company and Personal info"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/[](javascript:)

2. Log in with expensifail account
3. Go to Settings - Performances - Enable the Secure

[2022-03-15 14:38] kavimuru opened #8157 "[$2000] mWeb -Split Money -Split button is not floating when you split between another user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/[](javascript:)

2. Log in with any account
3. Tap on FUB menu
4. Tap on Split
5. Select only one user fo

[2022-03-15 14:39] parasharrajat commented on #7768
PR changes are ready. But I trying out a new RN version before creating the PR.

[2022-03-15 14:48] kavimuru opened #8158 "[HOLD for payment 2022-06-16] [$1,000] mWeb - Split Money - First digit of split amount is cut off"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/[](javascript:)
2. Log in to account applausetester+0707abb@applause.expensifail.com/Feya87Katya
3. Tap o

[2022-03-15 15:00] kavimuru opened #8159 "[Hold] mWeb - Emojis - Change default skin tone option is not attached to the bottom when used fingers to move"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/[](javascript:)

2. Log in with any account
3. Tap on any user
4. Tap on emojies by input box
5. Use fing

[2022-03-15 15:00] thesahindia commented on #7007
I have asked some questions related to the PR, can you share your views on it. Here's the slack [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1647354437321589)
cc: @marcaaron

[2022-03-15 15:01] johnmlee101 commented on #8154
Closing to consolidate. @kavimuru if you want to add the extra info if applicable to the issue!

[2022-03-15 15:01] #8154 closed

[2022-03-15 15:01] aldo-expensify commented on #7856
@roryabraham , do you happen to know where do we serve the `version.json` from? I think we may just be missing to respond with a header like `cache-control: no-store` or `cache-control: no-cache` ([more info)](https://www.cloudflare.com/learning/cdn/glossary/what-is-cache-control/)

[2022-03-15 15:27] bondydaa commented on #8147
👍 seems straight forward, throwing external on this one

[2022-03-15 15:30] kidroca commented on #7856
`version.json` is part of the web bundle (together with index.html, scripts and all other assets)
I guess it's hosted the same way/place where index.html is placed

Instead of trying to set cache control, why not make the logic that fetches the file ignore cache and always request from network - the request seems to be made periodically or when you switch to another tab

[code]

[2022-03-15 15:35] Santhosh-Sellavel commented on #8118
@mdneyazahmad Proposal https://github.com/Expensify/App/issues/8118#issuecomment-1067943570 LGTM!

There is one more case that is not specific to this issue (i.e. not just), spaces in the filename are trimmed out in the downloaded file. Can we handle this one separately or along with this issue?

@thienlnam Let me know your thoughts on this, thanks!

[2022-03-15 15:45] Santhosh-Sellavel commented on #8031
@Beamanator Able to reproduce in mWeb

https://user-images.githubusercontent.com/85645967/158416332-14777a7e-6080-41fb-a308-b6b3c6043e4c.MOV

[2022-03-15 15:46] kidroca commented on #7861
Yes, it's now possible to create and save simplified report here:

https://github.com/Expensify/App/blob/75c7986c1b3fcb1683c42adc2a0079ddc58e0b2d/src/libs/actions/Report.js#L946-L947

[code]

[2022-03-15 15:51] Santhosh-Sellavel commented on #8007
@mateusbra I'll review it. In the future always submit an updated proposal in a new comment. Historically, it would make us easier to understand the issue's progress!

[2022-03-15 15:54] luacmartins commented on #8151
I agree that we should move forward with disabling future dates and "setting up the customer for success" here. I agree that we should keep the validation checks. We are already doing those in the [frontend](https://github.com/Expensify/App/blob/c1bb574571e70b5dfba98f05af67a5246c5f1052/src/pages/ReimbursementAccount/RequestorStep.js#L106-L115) and [backend](https://github.com/Expensify/Web-Secure/

[2022-03-15 15:57] mateusbra commented on #8007
Ok, I thought editing would be cleaner for the history.

In the future I'll do it so.

[2022-03-15 15:58] mountiny commented on #8151
@luacmartins Perfect, thank you so much!

[2022-03-15 15:58] Santhosh-Sellavel commented on #8007
@mateusbra Can you resubmit your proposal in a single comment and also explain what this below code does.
[code]

[2022-03-15 16:02] thesahindia commented on #8151
### Proposal
need to pass `maximumDate={new Date()}` in `DatePicker`
https://github.com/Expensify/App/blob/3696074348ee1e3be83f0b5ec5d7d2590d589a73/src/pages/ReimbursementAccount/IdentityForm.js#L91-L96

[2022-03-15 16:02] #8107 closed

[2022-03-15 16:19] luacmartins commented on #8121
Hmm I wonder if this is happening on android only then? Regardless, I'll mark this as external.

[2022-03-15 16:25] Santhosh-Sellavel commented on #8032
@stitesExpensify I think we should add waitingForCopy label for this issue based on the discussion  [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1645736648234169)

[2022-03-15 16:30] Santhosh-Sellavel commented on #8121
I believe handling should be done on the oldDot Web client or in oldDot Android app. To ignore these URLs in the deep linking.

OldDot is handled internally right?

@luacmartins

[2022-03-15 16:31] roryabraham commented on #8135
Actually, I think we really just need to revert https://github.com/Expensify/App/pull/6413, which never really worked as expected.

[2022-03-15 16:42] roryabraham commented on #8061
Closed the Upwork job

[2022-03-15 16:43] Santhosh-Sellavel commented on #7523
The checkbox is getting selected & immediately form also gets submitted!

I believe using the "Space" key would make the most obvious choice to toggle between selections in the checkbox.  That’s the commonly used way.

Play with checkbox here -> https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox

[2022-03-15 16:46] kidroca commented on #8004
@roryabraham
This PR https://github.com/Expensify/App/pull/8160 make it possible to build 2 (or more) architectures and host them at
- x64: `/NewExpensify.dmg` (same as before)
- arm64: `/NewExpensify-arm64.dmg` (new)

Or we can remove the arm64 version if you want to

[2022-03-15 16:46] roryabraham commented on #8133
This can be external but is low priority so I'm making it a monthly.

[2022-03-15 16:59] bfitzexpensify commented on #8097
Upwork post [here](https://www.upwork.com/jobs/~018b3ec5f435f559e0)

[2022-03-15 17:07] phivh commented on #7777
@pecanoro @rushatgabhane Could you guys take a look into the proposal?

[2022-03-15 17:11] Gonals commented on #8131
Setting as external. I think this could be a monthly issue, though, as the functionality works fine and it feels like a minor UI issue (maybe we don't even need the scrolling bar at all, I think there are other chat apps without it)

[2022-03-15 17:15] marcaaron commented on #7007
Hmm sorry, what's your question exactly @thesahindia ?

[2022-03-15 17:17] jboniface commented on #8151
job: https://www.upwork.com/jobs/~012490be37ef1d4dec

[2022-03-15 17:26] thesahindia commented on #8097
### Proposal
We show the preview if `isPopoverBottomMount` is true, if we wanna show the payment preview in all the cases then we can just remove this check
https://github.com/Expensify/App/blob/3696074348ee1e3be83f0b5ec5d7d2590d589a73/src/pages/settings/Payments/PaymentsPage/BasePaymentsPage.js#L305-L309

also we aren't using `isPopoverBottomMount` anywhere else so I think we can also remove it f

[2022-03-15 17:31] chiragsalian commented on #8074
Alright so let's check out where we stand,
1. https://github.com/Expensify/App/pull/7660 - Is the issue on both prod and staging? If so then can you check the item and create a follow up issue so that it can be investigated later as it doesn't need to hold off deploy. If its only on staging let me know and i'll revert the PR and check it off the checklist so that the author can work
2. https://git

[2022-03-15 17:32] Santhosh-Sellavel commented on #8097
@marcaaron
Showing preview would look redundant, as the popup is close to the selected payment method.
<img width="380" alt="Screenshot 2022-03-15 at 10 58 58 PM" src="https://user-images.githubusercontent.com/85645967/158436655-2a422320-d44b-47ef-9ff3-52953826efa8.png">

Can you confirm on this do we need this change?

[2022-03-15 17:34] Santhosh-Sellavel commented on #8097
@marcaaron
If we need this change we are good to go with @thesahindia proposal https://github.com/Expensify/App/issues/8097#issuecomment-1068253075

🎀👀🎀 C+ reviewed

[2022-03-15 17:35] sobitneupane commented on #6965
Yes. The issue still exists.
But this time prefix is 1 px below textinput in web and android but 1 px above in IOS.
<img width="135" alt="Screen Shot 2022-03-15 at 22 50 10" src="https://user-images.githubusercontent.com/25876548/158432787-434cf8de-78c4-493d-a1a4-642c5b19b0d1.png">
**IOS**
<img width="135" alt="Screen Shot 2022-03-15 at 23 06 42" src="https://user-images.githubusercontent.com/2587

[2022-03-15 17:44] adeel0202 commented on #8090
Please check the web screen capture. The bug is on both staging and production.

https://user-images.githubusercontent.com/13783842/158439023-cf832530-24cd-4b22-ae8b-3af63f889ff1.mp4

[2022-03-15 17:49] thesahindia commented on #7007
1. We have changed the error message for invalid phone number at some places and  `AddSecondaryLoginPage.js` is left. It shows the error from the backend and I think we don't really need to change the error message here as the error message is fine on this one. It says: `I couldn't validate the phone number, please try again with the country code (e.g. +15005550006)` so should I leave this one?

2

[2022-03-15 17:57] TomatoToaster commented on #8074
Can check off #7852 as per this comment:
https://github.com/Expensify/App/pull/7852#issuecomment-1068283776

[2022-03-15 17:59] aldo-expensify commented on #7856
Oh, interesting, I didn't know we could do that from the front-end. Some examples on how to do it: https://stackoverflow.com/questions/29246444/fetch-how-do-you-make-a-non-cached-request

I'll add `External` since it seems like it can be done in the App!

[2022-03-15 18:01] stitesExpensify commented on #8032
Hey sorry I've been sick the last week. Waiting for copy makes sense to me!

[2022-03-15 18:05] Santhosh-Sellavel commented on #7971
@AndrewGable

@K4tsuki proposal https://github.com/Expensify/App/issues/7971#issuecomment-1063637714
Solves the issue but this looks like a hack or workaround to me.

@mdneyazahmad proposal also has addresses the issue, but lookbehinds were used in regex.
I see [here](
https://github.com/Expensify/expensify-common/blob/f77bb4710c13d01153716df7fb087b637ba3b8bd/lib/ExpensiMark.js#L48-L53) in the com

[2022-03-15 18:06] mvtglobally commented on #8074
@chiragsalian
1. Will check #7660 in PROD and update in few min.
2. Can you check off #7937. I checked it off few times already, I have no idea why its not saving it. It is pass. no blockers
![Screen Shot 2022-03-15 at 2 04 29 PM](https://user-images.githubusercontent.com/43995119/158443100-e6d0a62f-5b10-4b1a-a951-1b48e7824988.png)
4. Will wait for CP to validate and update

[2022-03-15 18:07] NikkiWines commented on #8124
Oh interesting, I actually experienced this yesterday while [testing out a different bug](https://expensify.slack.com/archives/C01GTK53T8Q/p1647281953734039?thread_ts=1647270733.031429&cid=C01GTK53T8Q)

https://user-images.githubusercontent.com/16747822/158443313-1afc964c-ba2e-4698-a8ea-d9908e7fc7fd.mp4

Either way, this looks good for UpWork I think since I doubt we've changed anything in the bac

[2022-03-15 18:13] azimgd commented on #7925
The answer is `<=` comparison operator:
[code]

Where fix for this would be:
[code]

[2022-03-15 18:18] Santhosh-Sellavel commented on #8118
@thienlnam

@thesahindia used `fileName` and it produced the wrong result for me. It saves the file with the wrong extension

<img width="790" alt="Screenshot 2022-03-15 at 11 46 39 PM" src="https://user-images.githubusercontent.com/85645967/158444955-be187402-dd7c-447a-8b6c-1963929bb810.png">

@mdneyazahmad used `this.props.originalFileName` for file name. Which saved the file with the right exte

[2022-03-15 18:19] chiragsalian commented on #8074
https://github.com/Expensify/App/issues/8092 - Code is live on staging on version 1.1.42-6.

[2022-03-15 18:23] chiragsalian commented on #8074
Oh hah, my edits are not saving as well. Okay i'll just consider it as a pass.

[2022-03-15 18:23] LucioChavezFuentes commented on #7486
Hello, what 'LHN' means? Thank you!

[2022-03-15 18:24] thienlnam commented on #8088
Yeah, not much we can do here unless we try to strip it ourselves which leads to endless things we'd have to account for.  Since mailgun email stripping has been unreliable we can look into using another library for this except we'd need to test multiple platforms to make sure it works and isn't stripping out text content

[2022-03-15 18:25] Beamanator commented on #7486
Good question! LHN = Left Hand Navigator

[2022-03-15 18:28] thienlnam commented on #8118
Cool, thanks for the clarification - agree with your choice then 🟢  for hiring @mdneyazahmad

[2022-03-15 18:31] Santhosh-Sellavel commented on #8118
@mdneyazahmad Proposal https://github.com/Expensify/App/issues/8118#issuecomment-1067943570 LGTM!
🎀👀🎀 C+ reviewed

Then let's assign it to @mdneyazahmad
cc: @trjExpensify

[2022-03-15 18:38] justinpersaud commented on #7856
Sorry, I missed the ping here somehow, but I agree with what's said. If you don't want this to be cached, let's update the headers on the object and the CDN (Cloudflare) should honor that.

[2022-03-15 18:44] osama256 commented on #7541
we can do it easily.

yes, here how it looks like

https://user-images.githubusercontent.com/51829206/158448846-cd15ce04-79d2-4c21-a2a2-f6374457bf7d.mov

[2022-03-15 18:45] roryabraham commented on #7625
Sorry for the delay here and thanks for the patience @thesahindia. Your proposal looks good to me.

Separately, I personally would prefer to see the use of `RenderHTML` and a translation like this:

[code]

Rather than having `beginningOfChatHistoryPrivatePartOne` and `beginningOfChatHistoryPrivatePartTwo`. I get that there is some overhead with using `RenderHTML` instead of plain `Text` component

[2022-03-15 18:48] roryabraham commented on #7856
@justinpersaud It sounds like you're saying we should handle this in Cloudflare rather than in the front-end, is that correct? In that case this would need to be handled internally, presumably via a PR to https://github.com/Expensify/Cloudflare-Workers

[2022-03-15 18:58] thesahindia commented on #8135
@roryabraham, is this eligible for reporting? I had reported this earlier [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1643834112094909).
Couldn't find any other report so don't know if it was reported before.

[2022-03-15 19:02] adelekennedy commented on #8109
[Internal](https://www.upwork.com/ab/applicants/1503808685128294400/job-details)
[External](https://www.upwork.com/jobs/~017998d84fb741071c)

[2022-03-15 19:06] rushatgabhane commented on #8151
🎀 👀 🎀 C+ reviewed

@thesahindia's proposal looks good to me.
cc: @mountiny

[2022-03-15 19:09] mallenexpensify commented on #7270
D'oh, just updated the title to $2k and [dropped in #expensify-open-source](https://expensify.slack.com/archives/C01GTK53T8Q/p1647371313143049) but now seeing it's been 8 days since the last double. Let's see if we get any action the next couple days

[2022-03-15 19:11] mallenexpensify commented on #7727
Raised price to $2000

[2022-03-15 19:16] rushatgabhane commented on #8151
🎀 👀 🎀 C+ reviewed

@thesahindia's proposal looks good to me. We're already showing an error if age is less than 18.
cc: @mountiny

[2022-03-15 19:24] roryabraham commented on #7776
Looks like this issue might've been accidentally skipped during KI retests?

[2022-03-15 19:27] roryabraham commented on #6863
This is a pretty rare edge case that requires some human error to reproduce it (i.e: begin a CP but don't finish it). Going to move this to monthly and send it back to the pool for now. Would still be good to fix someday.

[2022-03-15 19:28] roryabraham commented on #7094
No update

[2022-03-15 19:28] thesahindia commented on #8109
### Proposal
1. Need to pass `returnKeyType="done"` to the `TextInput`
https://github.com/Expensify/App/blob/3696074348ee1e3be83f0b5ec5d7d2590d589a73/src/components/OptionsSelector.js#L220-L225

2. I had reported this but it was decided that we leave it as it is, if we want to change this we can do this by removing `KeyboardAvoidingView` because of this the button and text area won't show get in t

[2022-03-15 19:33] Santhosh-Sellavel commented on #8109
@thesahindia Can you point us to thread were you reported this?

[2022-03-15 19:33] roryabraham commented on #7856
Yeah, let's do that for now 👍  this file is fetched very infrequently – only every [8 hours](https://github.com/Expensify/App/blob/8c5b412466beaadc27a28a08cbf584cae7286529/src/libs/checkForUpdates.js#L3).

We do [purge cloudflare caches when we deploy an new version](https://github.com/Expensify/App/blob/bd9cf2705bdfbdb37f90765afc22d2ce581a711f/.github/workflows/platformDeploy.yml#L338-L348), but

[2022-03-15 19:35] roryabraham commented on #8135
Actually I think this is not eligible for reporting simply because it's a regression we identified a long time ago and forgot to fix. That's probably why @parasharrajat marked it as a duplicate in Slack. I'll handle the revert myself as soon as I have a few spare cycles.

[2022-03-15 19:36] thesahindia commented on #8109
Yeah sure, https://github.com/Expensify/App/issues/6594#issuecomment-989335741

[2022-03-15 19:38] roryabraham commented on #7820
Sorry @Justicea83, any chance you can expand on what you mean by your last comment?

[2022-03-15 19:39] thesahindia commented on #8135
Ah cool, thanks for the clarification 😃 .

[2022-03-15 19:41] roryabraham commented on #7962
Thanks for the investigation @barun1997, your proposal looks good to me 👍

[2022-03-15 19:44] roryabraham commented on #7462
Sorry, the delay here is on me. Catching up now...

[2022-03-15 20:06] michaelhaxhiu commented on #7545
Deployed to staging, and waiting on production deploy next.

[2022-03-15 20:17] kbecciv opened #8166 "Android - New Room - Doubling the room name when using capital letters"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Tap on Fub menu
4. Tap on New Room
5. User hello than Capital letter R for room name

## Exp

[2022-03-15 20:18] #8074 closed

[2022-03-15 20:21] botify commented on #7780
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7946

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:21] botify commented on #7546
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7677

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:21] botify commented on #7913
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7949

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:21] botify commented on #7591
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7660

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:21] botify commented on #5768
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7986

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:21] botify commented on #7091
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7801
- https://github.com/Expensify/App/pull/8067

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:22] botify commented on #7545
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7850

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:22] botify commented on #7325
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8028

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:22] botify commented on #7972
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8025

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:22] botify commented on #7885
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8008

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:22] botify commented on #7738
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8022

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:22] OSBotify opened #8170 "Deploy Checklist: New Expensify 2022-03-15"
**Release Version:** `1.1.43-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/7813
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7920
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7931
  - [x] QA

[2022-03-15 20:22] botify commented on #7963
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8041

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:22] botify commented on #7842
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8037

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:22] botify commented on #7531
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7750
- https://github.com/Expensify/App/pull/8069

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:22] botify commented on #7965
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.42-6 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/8064

If no regressions arise, payment will be issued on 2022-03-22. :confetti_ball:

[2022-03-15 20:46] parasharrajat commented on #6965
Ok original issue is gone. So I think this should be closed now but if we want to tackle new issue that sobhit mentioned.

Same question applies to all proposals. Why paddingBottom in Android is not equal to paddingBottom on iOS? It may be DPI of the device. For example, because iPhone has high pixel ratio it is possible that iPhone is taking less space in same pixels. If so, why only TextInput ar

[2022-03-15 20:50] parasharrajat commented on #7486
To clarify the problem, we have to fix tooltips in a way that the same solution is automatically applied to all places in the app where applicable.

[2022-03-15 21:00] mountiny commented on #6965
Alright, I see it is different problem now which might have a different cause. I am not sure what fixed it, but I believe we should still compensate @CamilaRivera for remorting this.

@kadiealexander Would you be able to pay out @CamilaRivera for reporting this since it was fixed.

@sobitneupane Can you collect data about this new problem and specify it clearly to create BUG report which you can p

[2022-03-15 21:00] mallenexpensify commented on #7648
@roryabraham should @rushatgabhane be compensated additionally for the work reviewing the new PR https://github.com/Expensify/App/pull/8059

[2022-03-15 21:13] rushatgabhane commented on #7648
For transparency, during review of original PR, I missed that bug in the first place.

[2022-03-15 21:15] NicMendonca commented on #8158
Upwork job: https://www.upwork.com/jobs/~01175a4deca6e9f963

[2022-03-15 21:15] mountiny commented on #7486
@Beamanator Do you think we should get the Design team in here now so they can create a mock up already before implementation so it is easier for contributors too?

[2022-03-15 21:16] mountiny commented on #8151
Thanks @rushatgabhane!

@thesahindia Feel free to submit the PR.

[2022-03-15 21:17] mountiny commented on #8101
Not overdue, Dylan was ooo and it got assigned over weekend. Assigning again.

[2022-03-15 21:30] aldo-expensify commented on #7856
Hum, I think we download the file every time the app goes to the background

https://user-images.githubusercontent.com/87341702/158475950-cdec1ad1-70a5-463c-a79c-fe9b29f37028.mov

[2022-03-15 21:32] aldo-expensify commented on #7856
Just adding some info... I think if the server replies with `Cache-Control:  no-store`, the browser is not supposed to use any cache (including disk), so I think this can be solved in either the front or the back.

[2022-03-15 21:35] chiragsalian commented on #7185
I'll defer to @Christinadobrzyn preference, but my vote would be to close this issue and open a new issue so that its just cleaner to focus on.

[2022-03-15 21:38] rushatgabhane commented on #8147
Hmm, I spent too much time thinking if we can do this in a cleaner way.

[2022-03-15 21:39] rushatgabhane commented on #8147
🎀 👀 🎀 C+ reviewed

@stitesExpensify I like @thesahindia's [proposal](https://github.com/Expensify/App/issues/8147#issuecomment-1068148639).

[2022-03-15 21:46] parasharrajat commented on #7768
Well. No luck. We are already using RN 0.66.4 version. And RN changelog does not talk about any related issue. I have created the PR. I will attach screenshots and mark is ready.

[2022-03-15 21:56] rushatgabhane commented on #7352
@ahmdshrif thanks!
From what I understand,  you're adding `[block]` to keep track of indexes to add `'\n'`, because you'll lose them after `Str.stripHTML()`.

But.. `Str.stripHTML()` doesn't remove `'\n'`. So why not add it instead of `[block]` in the first place?

[2022-03-15 21:56] shawnborton commented on #7541
Cool, I think this looks pretty good to me. So what are next steps here to get this in motion? Do you need to re-state your proposal based on some of these recent learnings? cc @pecanoro

[2022-03-15 21:57] OSBotify commented on #8170
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.43-1 :rocket:

[2022-03-15 21:59] parasharrajat commented on #7858
No luck.

[2022-03-15 22:06] ahmdshrif commented on #7352
Because not all blocks will mapped to '/n'
The condition here is we have word between blocks (word not spacess or html tag)

[2022-03-15 22:19] rushatgabhane commented on #7541
Thanks so much @shawnborton!

[2022-03-15 22:22] rushatgabhane commented on #7541
@osama256 could you please re-state your proposal. It doesn't have to be detailed, a few bullet points are enough. Thanks!

[2022-03-15 22:27] JmillsExpensify commented on #7059
@parasharrajat You should be set now. Let me know if I missed something though!

[2022-03-15 22:56] rushatgabhane commented on #7352
@blacknight3 thanks for explaining your proposal, but it breaks when copying text from top to bottom

https://user-images.githubusercontent.com/29673073/158485560-9d5a7e36-0269-4c56-bf66-758de2351808.mov

[2022-03-15 23:06] luacmartins commented on #7523
Hmm if we are using "Space" to toggle the checkbox, then pressing "Enter" should submit the form and I'd think that this is expected?

Yes, that makes sense. We should add that if it's not currently a feature.

[2022-03-15 23:14] luacmartins commented on #6883
Still looking for contributors

[2022-03-15 23:17] rushatgabhane commented on #7352
@ahmdshrif we have an extra line breaker when copying italic text

https://user-images.githubusercontent.com/29673073/158487665-e480fb9d-4c0e-4001-8797-3f9a458e3f32.mov

[2022-03-15 23:18] NicMendonca commented on #7792
@rushatgabhane bump ☝️

[2022-03-15 23:29] K4tsuki commented on #8090
@nickmurray47 @adeel0202 yes, I can reproduce this bug, here is the video:

https://user-images.githubusercontent.com/1313124/158488650-c88160e9-48d8-45f8-845d-67705b9e5c9f.mp4

[2022-03-15 23:42] marcochavezf commented on #8045
Thanks, both added

[2022-03-15 23:58] mallenexpensify commented on #8130
Job posted!
https://www.upwork.com/jobs/~012cfd3094fafb0057

[2022-03-15 23:59] mnm967 commented on #8158
My proposal for fixing the issue as an external contributor from Upwork:

The error occurs on the text when you return/enter the page, however if you enter a key, the text returns to normal once again. By using setState to set the amount equal to itself in the componentDidMount, it should re-render the page before the user even sees it and fix the issue. Additionally, using setState in componentDi

[2022-03-16 00:04] marcochavezf commented on #7858
😞 thanks @parasharrajat, I was also playing with cursor placement in other sites and seems it's not a problem on web.

@kadiealexander Yeah, I asked internally and we can't pay anyone if a solution wasn't implemented. Feel free to close the issue once the contract is canceled, thanks

[2022-03-16 00:07] trjExpensify commented on #8156
I wonder whether we need this icon in the field at all? @kevinksullivan @shawnborton, can you recall why this was added instead of just expanding the date picker when you click/tap the field?

[2022-03-16 00:21] trjExpensify commented on #8118
Yep, @mdneyazahmad can you apply to the upwork job here please: https://www.upwork.com/jobs/~01e2fb27d98dc0b7c2

[2022-03-16 00:25] kavimuru opened #8175 "Workspace name is not shown in the modal header for connect to bank account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #8065
## Action Performed:
1. Go staging.new.expensify.com and login
2. Go to workspace > bank account

## Expected Result:
Verify that the

[2022-03-16 00:25] OSBotify commented on #8175
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-16 00:39] K4tsuki commented on #8124
@NikkiWines There is no assigneed people for this issue.

#### proposal:

Need back end change:
Currently we cannot be sure if validation link is expired or not until user set password:

https://github.com/Expensify/App/blob/8ea8177869f22f7aa750470d1d0b54d9e379cd7a/src/pages/SetPasswordPage.js#L107

For sign up user, `setpassword link` / validation link is checked by sending:

https://github.com/E

[2022-03-16 00:45] NikkiWines commented on #8124
Oh oops, thanks for the heads up @K4tsuki - I accidentally unassigned @Christinadobrzyn

[2022-03-16 00:51] rushatgabhane commented on #8158
Looks like it's a mWeb safari only problem.

@mnm967 hmm that didn't quite fix it

https://user-images.githubusercontent.com/29673073/158495537-923905cb-d649-4705-90cb-6ce5fa8553cc.mov

[2022-03-16 00:57] sbendary25 commented on #8158
I managed to recreate the bug on iOS Chrome as well. Doesn't seem isolated to safari

[2022-03-16 01:02] mallenexpensify commented on #8132
Posted https://www.upwork.com/jobs/~012344f1febdbac925

[2022-03-16 01:05] stitesExpensify commented on #8147
I also like the proposal! @thesahindia I also agree that functions is the way to go here.

Feel free to apply on upwork Sahil!

[2022-03-16 01:06] K4tsuki commented on #7971
@Santhosh-Sellavel What is the expected behavior here?

Also there is related issue https://github.com/Expensify/App/issues/7970
Should we reference on Github for back tick behavior? I think we need many test for back tick or expensify mark.
We could reference or use this library https://github.com/markedjs/marked for parsing the mark down.

[2022-03-16 01:31] LucioChavezFuentes commented on #7486
# Proposal

 We just need to do the following:
1. Insert `maxWidth: desiredWidth` on `tooltipWrapperStyle` inside `getTooltipStyles.js`

**inside getTooltipStyles.js**
![image](https://user-images.githubusercontent.com/48106652/158496801-16409092-ffd7-41ad-a6e3-f3d5c614d6c3.png)

---

2. Add the amount of lines will fit according to desired height  on `TooltipRenderedOnPageBody`'s `Text` .

**insi

[2022-03-16 01:38] marcaaron commented on #2727
Still waiting

[2022-03-16 01:39] marcaaron commented on #7613
Looks like all related PRs are done here.

[2022-03-16 01:39] #7613 closed

[2022-03-16 01:40] shawnborton commented on #8156
I actually think this is a native control, and technically it is centered because the actual text input part of the overall input sits lower and below the small label above it. I vote we close this and do nothing.

[2022-03-16 01:59] Christinadobrzyn commented on #8124
Posted job in Upwork:

Internal posting - https://www.upwork.com/ab/applicants/1503913194252062720/job-details
External posting - https://www.upwork.com/jobs/~017bbe06765188f815

[2022-03-16 02:07] Christinadobrzyn commented on #8119
NP @mananjadhav! Whoops sorry I didn't realise adding you to this GH would assign you to the job. My bad - removing you for now.

I'm going to hold off on hiring the C+ until we choose the person who will fix the issue just in case the Upwork job closes and I need to create a new one. But I'll make sure to add you!

[2022-03-16 02:12] Christinadobrzyn commented on #7962
Hired @barun1997 in Upwork for the fix and @parasharrajat as the C+

[2022-03-16 02:14] Christinadobrzyn commented on #7917
Price increase to $500

[2022-03-16 02:49] Christinadobrzyn commented on #7185
I agree, let's close this and open a new issue with what needs to be fixed. Feel free to assign it to me as the CM!

[2022-03-16 02:55] parasharrajat commented on #7486
Let's get the design specs first.

[2022-03-16 03:02] mollfpr commented on #8175
1. I think it makes sense because a connecting bank account is for the account not for the workspace
2. There's no policy ID applied in the route so there's no way our hoc `withFullPolicy` will give the workspace data

[2022-03-16 03:46] stephanieelliott commented on #8129
@joelbettner does this need to be worked on internally, or can this be assigned to an external contributor?

[2022-03-16 04:03] kevinksullivan commented on #8121
@Santhosh-Sellavel hired for the reporting issue. Please accept and I'll pay that out. Thanks!

[2022-03-16 05:51] mateusbra commented on #7727
### PROBLEM

The main issue here is that when we are searching for new reports, we just ignore the report to be read because we assume that it's will be overwritten on the future, so its outdated here:
https://github.com/Expensify/App/blob/7919e24c808dea9dedfe4a2d513365cf092cc1e1/src/libs/actions/Report.js#L1240-L1242

Flow example:
1. User 1 sends few messages to user 2.
2. User 2 triggers `fetch

[2022-03-16 06:10] thesahindia commented on #8147
Done ✅

Looks like we don't have these icons right now. @kevinksullivan, can you please share the SVGs here?

[2022-03-16 06:36] NikkiWines commented on #7487
Not overdue. Putting this as a monthly for now

[2022-03-16 07:50] Stutikuls commented on #7954
Checked all PRs and added comments to all PRs where accessibility issues were found without the Android platform (due to build issues on Android) only one issue is left and have query on https://github.com/Expensify/App/pull/7864
The non-applicable PRs are - https://github.com/Expensify/App/pull/7594, https://github.com/Expensify/App/pull/7662, https://github.com/Expensify/App/pull/7701, https://g

[2022-03-16 09:21] mdneyazahmad commented on #8118
@trjExpensify applied

[2022-03-16 09:25] mdneyazahmad commented on #8131
@Gonals `web`, `desktop`, `ios` have scrollbar except `android`.

[2022-03-16 11:20] Beamanator commented on #8005
@Santhosh-Sellavel to be clear, are you thinking this issue will be resolved once the room features are out of beta? If yes can you explain why?

Also @K4tsuki thanks so much for your ideas so far, are you able to reproduce the issue regularly? If so, I assume you've tested your proposal with the reproduction steps and you're not seeing the issue anymore with your proposed changes?

[2022-03-16 11:31] Beamanator commented on #7486
Hey @michelle-thompson ! Would you mind giving us your thoughts on what a tooltip should look like, specifically when there's multiple participants in a group chat? (see OP)

[2022-03-16 11:35] sketchydroide commented on #8128
I think this sounds like an external, @marcaaron it seems your worked on the this step, what do you think?
For me it feels like some sort of style that could be adjusted, but this is not my strong suit.

[2022-03-16 11:44] thesahindia commented on #7625
Yeah @roryabraham, makes sense to me. So, should I go with `renderHTML` approach or the one we have right now.

[2022-03-16 11:44] Beamanator commented on #8031
@Santhosh-Sellavel thanks for the vid, what platform & version are you on?

I just tried on Android, in Chrome browser, v1.1.42-6 and still couldn't reproduce 😅

[2022-03-16 11:46] Beamanator commented on #8031
Waiting on proposals 👍

[2022-03-16 11:48] Beamanator commented on #8031
I guess the interesting thing is:
1. In web (and Desktop, I assume), when you edit a comment the ReportActionCompose is still showing
2. In mobile (and mobile web), when you edit a comment the ReportActionCompose disappears even for the chat you're editing

I am guessing this is due to a recent PR, let's see if we can nail that down

[2022-03-16 11:57] mateusbra commented on #8007
### PROPOSAL
We should add to searchTerms the `personalDetail.login` excluding all "." from it:
Adding:
[code]
To:
https://github.com/Expensify/App/blob/6e83f4a1fc4a2087574d53b7fbc07c9234645393/src/libs/OptionsListUtils.js#L174-L178

We must also do the same on searchbox to ignore Dots:

https://github.com/Expensify/App/blob/2d53b690ad49511f6fced8ec998a2d1cdac0e090/src/libs/OptionsListUtils.js#L32

[2022-03-16 11:58] thesahindia commented on #8031
@Beamanator, I think this is expected, info about it is in https://github.com/Expensify/App/issues/7265

[2022-03-16 12:03] Beamanator commented on #8031
Aha thank you @thesahindia !

@parasharrajat could this issue be a regression of your PR https://github.com/Expensify/App/pull/7390?

[2022-03-16 12:13] parasharrajat commented on #8031
Yeah, this is a side-effect from #7390. But I just enabled the flag which was missing from the code. This means this functionality wasn't developed correctly and it had this bug.

Let me check this issue quickly...

[2022-03-16 12:32] parasharrajat commented on #8031
### Proposal

1. In ReportScreen's `componentWillUnmount` call `toggleReportActionComposeView(true, true)`. It will remount the Composer when user closes the report.

The best behavior would be option 1. Where we remount the composer on each report change.

[2022-03-16 12:41] 3braintechnologies commented on #6720
Thank you, I have accepted @kevinksullivan

[2022-03-16 12:49] kbecciv opened #8177 "Android - Connect bank account - App is crashed after selecting Save & Continue button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the test app and log in with a applause.expensifail account (that does not have any bank account already added)
2. Enable staging Web secure

[2022-03-16 12:49] OSBotify commented on #8177
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-16 13:11] K4tsuki commented on #8005
@Beamanator

Yes, I can reproduce it regularly. Even before the issue is posted I already have this issue (I am assuming the source of my bug is same as this issue).

I have tested it and it solves this issue, here is the video:

https://user-images.githubusercontent.com/1313124/158597146-a4c70028-a3d7-4fcd-8956-8b93c4a821d0.mp4

Left tab is production release new expensify and right tab  is my lo

[2022-03-16 13:22] Santhosh-Sellavel commented on #8121
@kevinksullivan Done thanks!

[2022-03-16 13:22] parasharrajat commented on #8130
Ok. It seems that this issue requires some implementation changes. If we do what @K4tsuki suggested above, we won't have the token to run the API call. There is a logic to reset the password without AuthToken which is used for signed-in users to change passwords but I don't know what is the security implications and backend architecture for this.

Visiting the URL should validate the email immedia

[2022-03-16 13:27] kavimuru opened #8178 "[$250] Member invited while offline is not appearing in list until goes back to online"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to staging and login to new account
2. Create Workspace
3. Navigate to the Workspace editor > Manage members page
4. Click on invite and

[2022-03-16 14:09] kbecciv opened #8179 "Web - Endless spinner is displayed when try to open Stories"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Stories on Staging Web app via https://staging.new.expensify.com/docs/index.html

## Expected Result:
Stories should open and no console err

[2022-03-16 14:11] blacknight3 commented on #7352
@rushatgabhane it seems a browser issue because this code works fine on chrome [linux] but doesn't work on firefox [linux].

### updated proposal
in src/libs/SelectioonScraper/index.js
[code]
this code works on both firefox [linux] and chrome [linux], also it can skip the italic issue

https://user-images.githubusercontent.com/100511864/158608930-4d4b79df-f100-4a0f-a0fb-e7238684ad41.mp4

.

[2022-03-16 14:13] Santhosh-Sellavel commented on #8005
Yes, I should have explained why, sorry I missed out earlier.

The issue occurs due to messages received in default or user-created rooms. Look at the attachments below with/without beta for the room feature. Notification count in the header doesn’t make sense only when the user does not have the beta. So I believe when the room features are out of beta, this issue becomes invalid.

#### If room b

[2022-03-16 14:24] stitesExpensify commented on #8147
cc @Expensify/design do these icons exist yet?

[2022-03-16 14:36] Santhosh-Sellavel commented on #7971
I am not sure what's expected here.

But, I played around with slack/GH.

two backticks are shown as  ``

But typing more than two backticks continuously opens up a code block in both GH & Slack

#### Git
https://user-images.githubusercontent.com/85645967/158614258-d2a6e3a7-e5d7-4cf6-89a7-eceeed400364.mov

#### Slack
https://user-images.githubusercontent.com/85645967/158614538-ac1b52b2-38b2-418f-9

[2022-03-16 14:49] kavimuru opened #8180 "iOS - Workspace chat - Text isn't center aligned for new Workspace chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log into an expensifail account which is Admin account
3. Create a workspace
4. Go to settings and invite a couple users
5. Sea

[2022-03-16 14:51] Beamanator commented on #8031
If we do that, what if the user:
1. Starts editing a comment (so the ReportActionCompose is hidden in that chat)
2. Navigates to a new chat (now ReportActionCompose should show)
3. Navigates back to the original chat

In this case wouldn't ReportActionCompose be showing, along with the comment being edited?

[2022-03-16 14:56] Santhosh-Sellavel commented on #8005
@Beamanator

The idea of creating ONYXKey for LHN is a bad idea, so big NO!

I am interested in listening more about this idea.
<img width="821" alt="Screenshot 2022-03-16 at 8 22 44 PM" src="https://user-images.githubusercontent.com/85645967/158619070-a79e1d12-b009-46c3-8c17-907a0942206a.png">

@K4tsuki could you elaborate more about this one?

[2022-03-16 15:01] OSBotify commented on #8180
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-16 15:18] K4tsuki commented on #8005
@Santhosh-Sellavel
We could add

[code]

Below:

https://github.com/Expensify/App/blob/7919e24c808dea9dedfe4a2d513365cf092cc1e1/src/libs/UnreadIndicatorUpdater/index.js#L40-L42

<br />

It filters out default rooms for users who cannot use default rooms yet because of beta.

[2022-03-16 15:20] michaelhaxhiu commented on #8122
Job post - https://www.upwork.com/jobs/~0122e7f846be620b67

[2022-03-16 15:20] parasharrajat commented on #8031
Yeah. It will but as soon as the user clicks on the message edit box, the composer hides which is normally happening when you edit a message.

[2022-03-16 15:34] K4tsuki commented on #8177
Maybe related to this PR https://github.com/Expensify/App/pull/8065

[2022-03-16 15:43] LucioChavezFuentes commented on #7486
I will stick to design specs and change my proposal accordingly but I just want to give an idea:

we can also add `...styles.textAlignCenter` inside `tooltipTextStyle`

[code]
to make the `Tooltip`'s box look like:

![image](https://user-images.githubusercontent.com/48106652/158627856-1ea1910b-b94b-4d14-aa4b-37343ff74493.png)

[2022-03-16 15:43] mollfpr commented on #8110
## Proposal

The issue is happen because the keyboard is still visible after the modal show, show the first press is for dismissing the keyboard then the second press is for selecting emoji.

My solution is to dismiss the keyboard when emoji button is pressed to open emoji modal.
https://github.com/Expensify/App/blob/7919e24c808dea9dedfe4a2d513365cf092cc1e1/src/components/EmojiPicker/EmojiPickerBu

[2022-03-16 16:21] tgolen commented on #8110
@mollfpr Thank you for the proposal! It looks mostly good to me, but I did have a question.

From watching your video, it doesn't look to me like the keyboard is open before the modal opens, so then why does the keyboard need to be dismissed?

[2022-03-16 16:32] roryabraham commented on #7582
Have to punt again 😞

[2022-03-16 16:37] trjExpensify commented on #8156
Oh okay, that makes sense then if it's a native control. I'll just go ahead and close this.

[2022-03-16 16:37] #8156 closed

[2022-03-16 16:38] Santhosh-Sellavel commented on #8006
@mateusbra

It's item 4, not item 3. Because you added a new step 3. This is why I recommend writing an updated proposal in a new comment.

[2022-03-16 16:38] Santhosh-Sellavel commented on #8006
@marcochavezf

So far @mateusbra [proposal](https://github.com/Expensify/App/issues/8006#issuecomment-1059522375) looks good to me.

🎀👀🎀 C+ reviewed

But here,

I suggest using generic prop name instead of `fileName` like `anchorText` or `displayName` or `displayLabel`. To avoid repeating the same value in two props. Please post your thoughts on this.

[2022-03-16 16:41] Santhosh-Sellavel commented on #8005
@Beamanator

[2022-03-16 16:50] MitchExpensify commented on #8157
[Upwork Job](https://www.upwork.com/jobs/~011a445ccd67708354)

[2022-03-16 16:52] shawnborton commented on #8147
I can grab this one. I think the room icons are provided as full square svgs? @stitesExpensify can you share here what the existing room icon looks like, then I will provide new ones? I think we had previously chatted about making them all use a dark background so perhaps we can make that change here too.

[2022-03-16 17:03] parasharrajat commented on #8157
We can't fix these types of issues on Safari MWeb. I think there have been many reports for such issues thus this is probably the best time to take a note somewhere.

[2022-03-16 17:09] mateusbra commented on #8006
I agree with that, using a generic prop name is better than having two different props that does the same.

[2022-03-16 17:09] mallenexpensify commented on #7579
@kidroca I was planning to double this job, any reason I shouldn't because of #8053 linked above?

[2022-03-16 17:12] mallenexpensify commented on #7678
@parasharrajat , if the PR is on hold then I should put this issue on hold too... right?

[2022-03-16 17:14] mallenexpensify commented on #7835
Doubled price to $1000 https://www.upwork.com/jobs/~0103b194cebb2bdef4

[2022-03-16 17:15] ahmdshrif commented on #7678
it merged and deploy to stage today https://github.com/Expensify/App/pull/7920#issuecomment-1068496555
 I also apply for the  job but it get closed

[2022-03-16 17:30] rushatgabhane commented on #7777
Hmm, I can't repro this bug.

https://user-images.githubusercontent.com/29673073/158651502-ef3f9815-19d3-47df-b2cb-8d4d2b61fc58.mov

[2022-03-16 17:35] rushatgabhane commented on #7792
Thanks for the bump!

[2022-03-16 17:40] stitesExpensify commented on #8147
@thesahindia you can take it from here with shawn :)

[2022-03-16 17:44] trjExpensify commented on #8147
https://github.com/Expensify/App/issues/8147#issuecomment-1068772423 - Hired on Upwork, assigning you the issue @thesahindia. 👍

[2022-03-16 17:44] mollfpr commented on #8126
## Proposal

Make the drawer `defaultStatus` to `closed` on mWeb will prevent LHN to show. To make sure that this only applied to mWeb I add some condition below.
[code]
https://github.com/Expensify/App/blob/7919e24c808dea9dedfe4a2d513365cf092cc1e1/src/libs/Navigation/Navigation.js#L81-L86

## Result

https://user-images.githubusercontent.com/25520267/158653896-ed899368-1c60-4eb4-8a90-2eb4cbaf2948

[2022-03-16 17:54] shawnborton commented on #8147
Great, here are the updated icons: [Expensify-RoomIcons.zip](https://github.com/Expensify/App/files/8267309/Expensify-RoomIcons.zip)

[2022-03-16 17:55] kidroca commented on #6927
There's another way to make the Desktop app much smaller

By making web comply with Progressive Web App (PWA) standards, Chrome would allow you to install the website as a Desktop App: https://caniuse.com/web-app-manifest

By default the app is kept up to date the same way a website is - when you launch/refresh you see the updated version

https://user-images.githubusercontent.com/12156624/1586542

[2022-03-16 18:01] parasharrajat commented on #7678
Sorry, I forgot to comment on the issue as well. @ahmdshrif is correct PR is merged now. This is no more on hold.

[2022-03-16 18:03] mananjadhav commented on #7432
Sorry for not being clear. But that's right, This is what I meant.

[2022-03-16 18:04] trjExpensify commented on #7862
Pulling a couple of things out of the [Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1644597095180509)..

- Is it only the attachments on a given message/thread, or could you cycle through all attachments across all messages in a chat?

We don't have threads yet, and similarly one message is one attachment, so cycling through all attachments across all messages in a chat seems to

[2022-03-16 18:06] parasharrajat commented on #8126
Thanks for the proposal @mollfpr. Could you please tell me what the would be the output of? LHN or report screen?
1. Open the App via localhost:8080 URL.
2. Do 1 and refresh.
3. Do 1 and click on any report, refresh the page.
4. Open the app via localhost:8080/r/anyreportid
5. Do 4 and refresh the app.
6. Do 4 and use the back arrow to go back to LHN and refresh the app.

[2022-03-16 18:09] kidroca commented on #7579
I think the PR might actually fix the issue, we observed similar issue while testing and they should be resolved now
- #8053

@marcaaron I think maybe the chats in LHN here are not appearing because of the cache bug that happens in `Onyx.mergeCollection`

Maybe we should put this ticket on hold because it's likely the PR will fix it

[2022-03-16 18:10] tylerkaraszewski commented on #8108
This is not obviously external. I am going to leave it internal for now.

[2022-03-16 18:18] roryabraham commented on #7856
Oh yes you are 100% correct: https://github.com/Expensify/App/blob/18be748d9473a18addc9d37669dbb66927338c8a/src/setup/platformSetup/index.website.js#L47-L53

[2022-03-16 18:19] mollfpr commented on #8126
@parasharrajat

1. It's open the recent report screen
2. It's staying on the report screen
3. Number 1 shows the recent report screen, so I press the back button and select another report list. After refresh is shown the recent report screen.
4. It's open the report screen from the attached reportID in the route
5. Still stay the recent report screen after refresh
6. Show the latest report screen

[2022-03-16 18:22] thienlnam commented on #8088
Yup those options are correct, I think option 2 would actually be worthwhile to do

It's been a while so I might not be remembering correctly, but IIRC stripping whitespace messed up the email formatting inside the email and made (yahoo?) emails look especially bad.  I think we had this enabled at one point but decided to revert it.

Yeah this could help a bit, though it looks like in the linked i

[2022-03-16 18:25] pecanoro commented on #7980
@mdneyazahmad Could you provide an update soon? Otherwise, I am afraid we will have to terminate the contract.

[2022-03-16 18:26] parasharrajat commented on #8126
Could you please use `LHN` or `report screen` words in your prev reply? It is hard to understand what are you referring to.

[2022-03-16 18:29] kavimuru opened #8183 "Workspace chat - Newly added member is not appearing in search result for workspace chat until relaunched or refreshed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #7957
## Action Performed:
1. Launch the app and login as admin of a workspace with members
2. Go to workspace > members > invite a member
3. S

[2022-03-16 18:34] tgolen commented on #8110
Ah, OK. That sounds good. Thank you!

I'm not too excited about changing the `setTimeout()` but it seems like that hack is still going to be there for a while, so I don't have any other suggestions.

🟢  to hire @mollfpr with that proposal @kevinksullivan

[2022-03-16 18:36] mollfpr commented on #8126
@parasharrajat updated ^

[2022-03-16 18:41] parasharrajat commented on #8126
Ok. Thanks.
The output should be:
1. LHN.
2. LHN.
3. Report screen.
4. Report screen.
5. Report screen.
6. LHN.

[2022-03-16 18:53] mollfpr commented on #8126
If the route is ‘REPORT_WITH_ID’ it should show the ‘report screen’ right? Even after you enter the base url with logged in account will redirect you to route ‘REPORT_WITH_ID’. 🤔

[2022-03-16 18:53] OSBotify commented on #8183
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-16 18:54] parasharrajat commented on #7925
@azimgd I was trying out your example and It was very confusing due to all the color changes and also, indexes on the item change. Could you please simplify it so that assigned indexes don't change and we can clearly see the newly added items?

It seems that list is scrolling when `minIndexforVisible: 0` on each prepend.

[2022-03-16 18:59] parasharrajat commented on #8126
Yup. That is an issue. Currently, navigation is configured in a way that it always loads the report screen. we need a way to keep the user on LHN when user was on LHN before refreshing and vice-versa.

[2022-03-16 19:06] mollfpr commented on #8126
Any background story why the app redirect us to ‘REPORT_WITH_ID’ route in the first place?

[2022-03-16 19:07] mountiny commented on #7584
Hi @mdneyazahmad, just wanted to bump this one, I realize it has not been the easiest of problems to solve for you since you were unable to reproduce the regression, however, as you are active on other issues, I would like to point out that it is expected that once you are assigned to some issue to solve it, that issue should be your priority over making proposals to other jobs.

I hope all is goo

[2022-03-16 19:10] muttmuure commented on #8125
This isn't overdue

[2022-03-16 19:15] chiragsalian commented on #8170
Hi there, i was wondering if there was any status update on the checklist items. Mostly to get an estimation of when the first pass would be completed?

[2022-03-16 19:21] parasharrajat commented on #8126
WE load Drawer on Home route `/r` which will always load the first screen which is report screen `/r/id`. DefaultStatus controls whether we want to see closed(report screen) or opened(LHN). As you see the situation here is different we need to dynamically control this status.

[2022-03-16 19:28] rushatgabhane commented on #7792
@mdneyazahmad your proposal looks good. I'm curious if this is dead code, if not please elaborate on cases where it's needed. Thanks!

[code]

[2022-03-16 19:31] marcaaron commented on #7821
Just curious, but why are we doing this? I'm not following..

Does something bad happen if you do not call `super(props)` and don't need to access `this.props` or `this.state`?

Let's also make sure that any non-react class constructors are not subject to this rule.

[2022-03-16 19:33] rushatgabhane commented on #7853
@mollfpr nice! I see that it's returning early if `Tab` isn't pressed. So why are we still getting the blue border after pressing any letter?

[2022-03-16 19:39] roryabraham commented on #8177
Going to try to take a crack at this issue

[2022-03-16 19:42] nickmurray47 commented on #8177
@roryabraham let me know if you need any help digging, too, I'm familiar with how our Plaid flow is supposed to work

[2022-03-16 19:52] roryabraham commented on #8177
Yeah @nickmurray47 more eyes would be great to get this resolved as fast as possible!

[2022-03-16 20:00] nickmurray47 commented on #8177
FYI I don't have a physical Android device, so not sure if it's possible for me to test Android staging myself?

[2022-03-16 20:00] roryabraham commented on #8177
I don't either, going to see if we can reproduce on dev

[2022-03-16 20:01] roryabraham commented on #8177
You can make the dev app communicate with staging or production APIs too if you want

[2022-03-16 20:05] chiragsalian commented on #8183
Not a blocker since the feature is being built with different parts. Its a good issue to capture though but definitely not a blocker as the test condition mentioned here is outside the testing steps of the issue,
https://github.com/Expensify/App/pull/7957

So not a deploy blocker. Finally there is an open issue investigating this so we can close this out as its pretty much a dupe.
https://github.c

[2022-03-16 20:05] #8183 closed

[2022-03-16 20:06] jboniface commented on #7623
@thienlnam can we proceed?

[2022-03-16 20:07] jboniface commented on #7644
increasing bounty

[2022-03-16 20:11] jboniface commented on #8108
[job posted](https://www.upwork.com/jobs/~0185046d0ebb5048e4)

[2022-03-16 20:11] Phantom-2 commented on #8132
### Proposal
in src/styles/styles.js
[code]
![Simulator Screen Shot - iPhone 13 - 2022-03-16 at 13 11 28](https://user-images.githubusercontent.com/100276440/158681853-8c97c04f-ef91-4732-8e55-6057af24b970.png)

[2022-03-16 20:13] jboniface commented on #8108
Oops, I didn't realize this was flagged internal (I didn't actually realize Contributor Managers were auto assigned to Internal issues?)

[2022-03-16 20:15] luacmartins commented on #8175
I can take a look at this one @tylerkaraszewski!

[2022-03-16 20:15] thienlnam opened #8185 "[HOLD for payment 2022-05-20]Deep Link to the Statements page from a link"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps
1. From an email or external source, click on the link new.expensify.com/statements/202202/
2. Notice on mobile devices

[2022-03-16 20:16] mountiny commented on #8108
@jboniface This should not be `Internal` per the current use of the label. There is nobody to pay for reporting this issue. However, we would like to make sure this gets fixed so maybe we should triage Engineering again.

[2022-03-16 20:18] luacmartins commented on #8175
Removing the deploy blocker label since this feature is still a WIP.

[2022-03-16 20:19] jboniface commented on #8108
@mountiny so the problem is that the label should not have been applied? maybe we should clarify the description for the label? possible the name as well? like `Internal - Reported By Contributor`

[2022-03-16 20:20] jboniface commented on #8108
@mountiny also can you point to where we changed the usage for this label? it used to just mean "requires an internal engineer"

[2022-03-16 20:21] chiragsalian commented on #8170
I tried to check off these deploy blockers but GH is derping on me, consider them checked off,
https://github.com/Expensify/App/issues/8094
https://github.com/Expensify/App/issues/8175
https://github.com/Expensify/App/issues/8183

[2022-03-16 20:24] #8175 closed

[2022-03-16 20:28] thienlnam commented on #7623
My bad, missed this - for next time @rushatgabhane you can still review C+ proposals, the process would just be the same as reviewing any other proposal

[2022-03-16 20:29] thienlnam commented on #7623
Yup, @parasharrajat's proposal looks good 🟢

[2022-03-16 20:32] mountiny commented on #8108
@jboniface Yeah, it has been discussed couple of times now to change the Triage process as the Internal label is misleading and also if the issue is not External, then it can dissapear to nowhere. There is a tracking issue [here](https://github.com/Expensify/Expensify/issues/201186) where we plan what to do, it still needs to be discussed so we nail the process.

The functionality has been added 3

[2022-03-16 20:33] luacmartins commented on #8180
I can take a look at this one @robertjchen!

[2022-03-16 20:33] luacmartins commented on #8180
I'm removing the deploy blocker label since this feature is still a WIP.

[2022-03-16 20:35] chiragsalian commented on #8170
- https://github.com/Expensify/App/issues/8180 is checked off too.

[2022-03-16 20:37] jboniface commented on #8108
yeah, this seems confusing

[2022-03-16 20:44] jboniface commented on #8108
@mountiny i filed an issue for the immediate problem. the internal label should always be applied for internal issues but it should only auto-assign a CM when it sees reported by in the title.

[2022-03-16 20:45] mdneyazahmad commented on #7584
@mountiny I am sorry for being late here. I was creating a pr and I got issue with mobile web (testing) in my machine. I just don't know why Safari (ios simulator) can not open `localhost:8080` I can still open `localhost:9000` but that is the old one. I also asked on Slack if somebody can help https://expensify.slack.com/archives/C01GTK53T8Q/p1647430519293939

[2022-03-16 20:46] roryabraham commented on #8177
Saw this after PlaidLink was completed:

![image](https://user-images.githubusercontent.com/47436092/158687893-a1244d1c-af5f-4888-b466-015f91c4352f.png)

[2022-03-16 20:47] roryabraham commented on #8177
Yep, as expected found the cause:

![image](https://user-images.githubusercontent.com/47436092/158688087-f5eee260-5752-406f-b605-74a46cacf8a5.png)

Going to have a fix up for CP momentarily. Crashlytics was very useful in this case.

[2022-03-16 20:58] marcochavezf commented on #8006
Thanks @Santhosh-Sellavel! Assigning @mateusbra

[2022-03-16 21:03] mateusbra commented on #8006
Applied on Upwork, once I'm hired I'll rise a PR.

[2022-03-16 21:07] rushatgabhane commented on #7727
on it ☝️

[2022-03-16 21:08] rushatgabhane commented on #7352
@ahmdshrif it's not copying line breakers from vscode, are you able to fix that?

[2022-03-16 21:14] rushatgabhane commented on #7352
@blacknight3 sorry but your proposal seems like a hack, and It's very similiar to https://github.com/Expensify/App/issues/7352#issuecomment-1020288547
Please correct me if I'm wrong

[2022-03-16 21:14] #8177 closed

[2022-03-16 21:16] mallenexpensify commented on #6877
Not doubling, lot of discussion in link above

[2022-03-16 21:16] roryabraham commented on #8170
The fix to https://github.com/Expensify/App/issues/8177 was just merged.

[2022-03-16 21:19] roryabraham commented on #8004
Assigned @kidroca since he's got a PR up. I just need to finish reviewing and test it out.

[2022-03-16 21:23] roryabraham commented on #7821
I actually just created this issue because it was one of the lint rules specified in [this doc](https://docs.google.com/document/d/1G-WFzlsc0wqxgbhs8ejP0Ry-vechEIrlKj1FIdaTf20/edit#bookmark=id.2tqa3d6m49um)

Not that I know of.

[2022-03-16 21:24] roryabraham commented on #7821
I would think that example would be fine

[2022-03-16 21:26] OSBotify commented on #8170
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8186) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.43-2` :rocket:

[2022-03-16 21:26] OSBotify commented on #8170
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.43-2 has been deployed to staging :tada:

[2022-03-16 21:43] srdjanrist commented on #7375
Thanks for waiting for me @parasharrajat . I have updated the PR with a few commits. So you can check them.

[2022-03-16 22:32] ahmdshrif commented on #7352
@rushatgabhane  yes get it the trim function skip the new line.
so it fixed by this line `            if (splitText[index].trim()||splitText[index].match(/\n/)) {        `

[code]

I also note we have a new line at the end also add some code to fix it

check the final version here https://github.com/ahmdshrif/expensify-common/blob/main/lib/ExpensiMark.js

I will clean up the code more when I get h

[2022-03-16 22:59] rushatgabhane commented on #7352
Okay sounds good. Here are some edge cases.

https://user-images.githubusercontent.com/29673073/158704476-9bb0a373-d0dd-42b8-a6f3-d836f9a9056e.mov

@roryabraham I'd love your opinion on @ahmdshrif's approach. It seems like we're gonna have too many cases to test, and debuging the code later on won't be easy. Here's the diff for you - https://github.com/Expensify/expensify-common/compare/main...ahm

[2022-03-16 23:03] rushatgabhane commented on #7644
Latest proposal review here - https://github.com/Expensify/App/issues/7352#issuecomment-1069723246

[2022-03-16 23:12] mountiny commented on #7584
Thanks for the message. That is alright and I am sorry you are having problems with your setup. Ideally, try to write as accurately as possible the steps you have taken to run it and what errors/logs you see in Slack so others can try to reproduce. Please, try to keep the communication more active.

Thank you for your efforts here!

[2022-03-16 23:13] kadiealexander commented on #6965
@CamilaRivera could you please apply on Upwork [here](https://www.upwork.com/jobs/~019aff2c6e1dee0d89) so we can pay you the reporting bonus? Thanks!

[2022-03-16 23:24] kadiealexander commented on #7858
Contract ended, thanks to everyone for their input here!

[2022-03-16 23:24] #7858 closed

[2022-03-16 23:26] mountiny commented on #8108
@jboniface thanks, I see where the problem is, I will make it a `FirstPick` issue for one of the new hires 🙇

[2022-03-16 23:35] NikkiWines commented on #4612
Not overdue, just waiting on proposals

[2022-03-16 23:42] ahmdshrif commented on #4612
Mmm .. what do you think about my proposal here

https://github.com/Expensify/App/issues/4612#issuecomment-1026774299

[2022-03-17 00:38] rushatgabhane commented on #7623
@thienlnam sure but, I guess I'll need to explicilty ask for that.

[2022-03-17 01:56] Christinadobrzyn commented on #7185
@mvtglobally can you link the new issue to this one when it's created? Then I'll close this one.

Also, @parasharrajat, I can pay you for the work on this one, when you have a moment, can you mind accepting my offer in Upwork?

[2022-03-17 02:04] marcaaron commented on #7821
Ah thanks for the context. Not sure if it is a big problem, but I have definitely been confused once or twice when trying to access `this` inside a component constructor when I forgot to call `super(props)` (though I thought maybe React will warn very obviously in the JS console if you do this).

[2022-03-17 02:07] marcaaron commented on #7821
I guess I'd like to just clarify which exact cases are problems for us...

In your examples @roryabraham it sounds like setting an instance variable would be fine without a call to `super()`, but setting state would not be. But I don't quite understand why. @Justicea83 do you know?

[2022-03-17 02:13] mallenexpensify commented on #7678
New Upwork job created https://www.upwork.com/jobs/~01ed28e9d59cefbbd0

[2022-03-17 02:14] Santhosh-Sellavel commented on #8180
@luacmartins ping for reporting bonus!

[2022-03-17 02:19] mallenexpensify commented on #8006
Hired @mateusbra , @Santhosh-Sellavel can you apply too please for Contributor+? https://www.upwork.com/jobs/~01f207936302328d06

[2022-03-17 02:22] Santhosh-Sellavel commented on #8006
Done! @mallenexpensify

[2022-03-17 02:25] marcaaron commented on #7727
I feel it needs to be said that this code could use a refactor. Maybe it _should_ be made internal? @mallenexpensify any idea how many issues we have related to "read" status we have out right now?

There's [this one](https://github.com/Expensify/App/pull/6764) that @mateusbra has been working with @parasharrajat for months and honestly it just feels like if an issue like that is taking 3+ months

[2022-03-17 02:27] marcaaron commented on #7579
Sounds good to me.

[2022-03-17 02:59] kadiealexander commented on #7688
@Santhosh-Sellavel, could you please provide an update on this issue?

[2022-03-17 02:59] parasharrajat commented on #4612
My bad. Forgot to leave a review for your proposal @ahmdshrif. Do you mind writing a single post explaining your approach to the problem? I saw your code but it is not clear enough.

1. What do you think the problem is? Are you clear about the expected behavior here?
2. What is causing this issue? And how it is doing that?
3. Break down the issues into steps and try to solve each separately instea

[2022-03-17 03:06] rushatgabhane commented on #7727
Sounds good. We also have this from slack: [unread bold in LHN is not going away, even if I am in that chat](https://expensify.slack.com/archives/C01GTK53T8Q/p1647467584945749)

[2022-03-17 03:06] kadiealexander commented on #7475
@roryabraham this isn't reproducible on the latest Safari version (see my tests below), but is on older Safari versions. Rajat brought up a good point that older versions of Safari have a very small market share and this issue can be resolved by updating their browser version. With that context in mind, do you still think this is worth a fix?

Chrome Version 101.0.4929.5:

![image](https://user-im

[2022-03-17 03:08] parasharrajat commented on #7727
Yup. I do agree with refactoring the code. I can see that a lot of code is responsible for marking the messages read and different functions are setting new line indicator. It has become quite complex to see the exact flow of information that is used to set the unread count. ReportActionsView has become a mess to manage unread/read behavior.

On https://github.com/Expensify/App/pull/6764, we never

[2022-03-17 03:19] parasharrajat commented on #7185
@Christinadobrzyn Thanks for the good gesture. I would like to solve this issue in exchange for the payment. Please give me 2 days to prepare a proposal and PR. And as I am aware of the problem, I don't think I need a new issue.

[2022-03-17 04:05] mdneyazahmad commented on #7584
@mountiny I posted the steps with a video.

[2022-03-17 04:28] mateusbra commented on #7727
It seems like many times we don't consider the flow of when user could be offline or when we are loading data from API,
As an external contributor I feel it should be redesigned/refactored and agreed with:

[2022-03-17 04:35] MonilBhavsar commented on #7770
WIP

[2022-03-17 04:42] mvtglobally commented on #8170
#8065 checking off as [8175](https://github.com/Expensify/App/issues/8175) is not a blocker
Issues logged
Issues https://github.com/Expensify/App/issues/8179 found when running https://github.com/Expensify/App/pull/7984
https://github.com/Expensify/App/issues/8179

[2022-03-17 04:51] mdneyazahmad commented on #7792
@rushatgabhane  `BaseDrawerNavigator` is designed to accept multiple screens but it has only 1. We can pass `screen` component to `Drawer.Screen` in two ways either prop `component` or render as children.

In this case we need to pass some custom props to screen. Therefore, we render it as children and pass the required props. Right now, the other option is not used. May be, in future if we add mo

[2022-03-17 06:08] Christinadobrzyn commented on #4264
(I want to remove the Overdue label)  - @Julesssss or @kidroca can you provide an update on the next steps for this job? thanks!

[2022-03-17 06:13] mvtglobally opened #8197 "[HOLD for payment 2022-05-20] Feature Request: Add the ability to view profile pictures in full screen/larger size by clicking/tapping on them"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
[@garrett](https://expensify.slack.com/team/U03TETAKW) has what looks like an old timey phone and maybe some sort of necklace on in his picture, but I just c

[2022-03-17 06:17] mvtglobally opened #8198 "1px grey line on Safari mobile web (separating safe area)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and check header

## Expected Result:
no lines should display on top

## Actual Result:
1px grey line on Safari mobile web (separating s

[2022-03-17 06:24] mvtglobally opened #8199 "Prod Deploy Botify post is missing a version"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Wait for any prod deploy
2. Check Slack Botify update

## Expected Result:
Slack update should include PROD build version

## Actual Result:
Slac

[2022-03-17 06:29] mvtglobally opened #8200 "[HOLD][$8,000] Messages are not marked as read"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Wait for any Chronos message
2. Read the message and check LHN
3. Receive chats from other users
4. Read the message and check LHN

## Expected R

[2022-03-17 06:35] mvtglobally opened #8201 "newDot becomes unresponsive randomly when switching chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a chat
2. Disconnect from the internet
3. Click on a different chat
4. Connect to internet (wait till it actually connects, confirm that by

[2022-03-17 06:42] mvtglobally opened #8202 "mWeb - TextInput is not visible when user starts typing in Safari"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Start typing

## Expected Result:
User should be able to see the composer when typing

## Actual Result:
user is unable to see t

[2022-03-17 06:42] OSBotify commented on #8202
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-03-17 06:48] mvtglobally commented on #8202
@roryabraham. is this same as your issue https://github.com/Expensify/App/issues/8135?
Its not repro in PROD, so for now I logged to track it, but we can close if you are already taking care of it.

[2022-03-17 07:43] rushatgabhane commented on #7792
Okay, thanks for explaining that! I highly doubt we'll use more screens in LHN, the current design uses RHN for everything.
So I'm sure we can remove it.

[2022-03-17 07:47] rushatgabhane commented on #7792
🎀 👀 🎀 C+ reviewed

@Beamanator I recommend @mdneyazahmad's [proposal](https://github.com/Expensify/App/issues/7792#issuecomment-1066716519).

[2022-03-17 08:31] Justicea83 commented on #7821
Yeah you're right, am factoring that in now

[2022-03-17 08:33] Beamanator commented on #7486
Nice idea @michelle-thompson !

Yes this should definitely be possible, so there isn't that extra whitespace (bluespace haha) on the right of the tooltip.

One quick clarification question: Should there be a maximum number of emails shown in the tooltip? Like if we have 20 people in a group do we want the tooltip to show all 20 people?

[2022-03-17 09:23] Beamanator commented on #8005
Let's put this idea on hold for a little bit since we're discussing a few things internally - we'll get back to reviewing proposals soon!

[2022-03-17 09:26] Beamanator commented on #7792
I like it too - hiring!

[2022-03-17 09:28] Beamanator commented on #8031
@parasharrajat do you mind testing it and throwing in a short vid to explain what you mean? If I'm understanding correctly the `ReportActionCompose` will still be showing (in step 3 above) but it will hide if the user clicks in the comment-edit box, which seems like it would result in a weird user experience, maybe I don't understand completely?

[2022-03-17 09:39] ahmdshrif commented on #7352
I believe the hard task is done now and we have a few steps to finish.
we will add some test cases related to all tags that we map

but for the case you mention here, it's already happened on prod and that's something that needs to fix from the `modifyTextForQuote`  first.

https://user-images.githubusercontent.com/21364901/158779904-3158688c-fa9c-469a-ada2-095cfc3541e7.mov

I can work on it but s

[2022-03-17 09:44] MariaHCD commented on #8047
PRs are in review!

[2022-03-17 10:08] Beamanator commented on #7270
Not overdue, waiting for proposals :D

[2022-03-17 10:51] kidroca commented on #4264
I think the issue is now blocked by the planned networking changes and receiving data through Pusher

We then have to decide how background updates work
- API sends background push -> device tries to resync
- or device does some resync work each time a notification arrives

And decide how the update logic works
- make background sync an exception case and use HTTP responses in order to complete a

[2022-03-17 10:53] trjExpensify commented on #7862
Nice, works for me! 👍

[2022-03-17 11:52] azimgd commented on #7925
@parasharrajat

Just want to make sure you run `npx patch-package`, which applies the patch into `node_modules/react-native/React/Views/ScrollView/RCTScrollView.m`

- Indexes are not changed, each new block has `10` items on **append** and **prepend** starting from `1..10`
- Actual requirement is that we don't want to show new items whenever `self->_contentView.subviews.count ` changed, and the sc

[2022-03-17 11:52] nkuoch commented on #8201
cc @tgolen as this is related to your `[Proposal] Make App a True Offline First Application`