[2021-09-16 04:39] JmillsExpensify commented on #5082
Holding per Kadie's message

[2021-09-16 04:40] JmillsExpensify commented on #3921
Requested changed updated in the linked PR.

[2021-09-16 04:40] kadiealexander commented on #4491
Hi @aman-atg, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 04:46] kadiealexander commented on #4545
Hi @parasharrajat, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 04:47] kadiealexander commented on #4612
Hi @parasharrajat, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 04:48] meetmangukiya commented on #5027
@roryabraham even the current implementation would be returning `open`. I tried it as well, and that doesn't fix it.
[code]

[2021-09-16 04:49] kadiealexander commented on #4629
Hi @MTN718, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 04:59] kadiealexander commented on #4678
Hi @MirFahad58, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 05:01] kadiealexander commented on #4690
Hi @Santhosh-Sellavel, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 05:04] MirFahad58 commented on #4678
@kadiealexander  ok thanks i will wait for that.

[2021-09-16 05:06] kadiealexander commented on #4273
Hi @kidroca, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 05:09] kadiealexander commented on #4264
Hi @mananjadhav, I've placed this issue on hold as per [this update](https://expensify.slack.com/archives/C01GTK53T8Q/p1631754482374800), as we are prioritising issues related to a feature release scheduled for 9/24. As an apology for the delay, we will add a $100 bonus as a thank you for waiting.

[2021-09-16 06:34] kadiealexander commented on #5247
Will leave this for @stitesExpensify to decide :)

[2021-09-16 06:49] MariaHCD commented on #5290
cc: @Julesssss I think this may be related to https://github.com/Expensify/App/pull/5251

[2021-09-16 08:22] laurenreidexpensify commented on #5235
https://www.upwork.com/jobs/~0139b28944911a9784

[2021-09-16 09:49] Julesssss commented on #5290
Thanks, I think you're right -- but have no idea why this wasn't seen during development 😕

[2021-09-16 10:10] kidroca commented on #4273
@kadiealexander
Totally understandable, no need to apologize

[2021-09-16 10:16] Beamanator commented on #4211
@parasharrajat that sounds great, thanks! I assigned you this issue, I think we can move forward with this even though this is on hold since it's external to our repo

[2021-09-16 10:18] mananjadhav commented on #5247
Thanks. Just to add, I am not expecting a separate Job posting for this one :)

[2021-09-16 11:16] NikkiWines commented on #4612
MevlinBot this isn't overdue

[2021-09-16 12:09] kidroca commented on #4273
What I've discovered so far:
Sometimes when you scroll up you set yourself on a path to experience various bugs related to unread messages:
- the current issue where you see a badge with 100 messages when there's only one
- the linked issue where marking a message as unread would should an incorrect count
- being briefly offline can sometimes trigger incorrect unread messages (I don't think this i

[2021-09-16 12:55] Julesssss commented on #5290
I will deal with this after I resolve this other deployBlocker: https://github.com/Expensify/App/issues/5291

[2021-09-16 12:59] Beamanator commented on #5265
Looks like we're putting this one on hold, I'll review proposals once we take this off hold

[2021-09-16 13:35] Julesssss commented on #5291
Okay, I can reproduce this on Android. iOS Web and Desktop are fine. As the user is not blocked from sending PDFs and it only occurs on one platform I'm removing the deployBlocker label.

[2021-09-16 13:36] Julesssss commented on #5279
Checking off #5291 as it only occurs on one platform and doesn't block the user from sharing PDF files.

[2021-09-16 13:41] Julesssss commented on #5291
Viewing a previously shared attachment works fine, when sending an attachment you are able to scroll for about a second, and then it becomes slow and janky.

[2021-09-16 13:43] mountiny commented on #4888
As per a discussion in Slack here and in a light of new findings about this problem (as it might get very messy and the solution  might not be platform-agnostic), we have decided to do nothing about this as this problem is not considered to be a blocker and instead wait for a more complex solution with `:colon-coded:` emojis, which is in progress internally.

I will follow up with details how to h

[2021-09-16 13:50] mountiny commented on #5166
Alright, as there has been no new proposals added, I am happy to proceed with @meetmangukiya proposal.

@mallenexpensify I know this is on hold, ubt I think @meetmangukiya should be good to start work on this and testing properly so they have a PR ready once we take issues off `n6-hold`. @meetmangukiya feel free to apply for the job on Upwork and @mallenexpensify can you please hire Meet? Thank yo

[2021-09-16 13:52] Julesssss commented on #5291
I can't see any recent change which would have introduced this. [This PR](https://github.com/Expensify/App/pull/4769) from a month ago fixed PDF pan and zoom and may have been the cause.

It was originally [fixed here](https://github.com/Expensify/App/issues/3247#issuecomment-856404150) by @rdjuric,  so maybe you would like to look into this issue too, once I make it external?

[2021-09-16 13:55] Julesssss commented on #5242
I'm going to just create a new one, so the comments don't cause confusion.

[2021-09-16 13:55] mountiny commented on #5191
Adding `Reviewing` label, the PR has been reviewed and is ready to be merged once we are out with N6

[2021-09-16 14:14] thesahindia commented on #5287
### Proposal
We need to make changes few changes [here](https://github.com/Expensify/App/blob/main/src/components/CommunicationsLink.js)
Currently, for small screens the email is only pressable.
We can choose to have the email pressable for both small and big screens or we can preserve the current behaviour.

Solution without changing the current behaviour for small screens:
[code]

[2021-09-16 14:16] Julesssss opened #5295 "[HOLD for payment 2021-11-04] Don't allow attendee deselection from the bill-split confirmation page"
CC @trjExpensify

## Action Performed:
1. Launch the app and login
2. Click + > Split bill
3. Enter amount and click next
4. Select two attendees and click next
5. Land at the confirmation page

## Expected Result:
You **should not be able** to deselect attendees from this flow. But this should be possible if you split from within a group chat!

## Actual Result:
You **are able** to deselect atten

[2021-09-16 14:18] Julesssss commented on #5242
Closing this. It will be fixed via [this alternative change](https://github.com/Expensify/App/issues/5295).

[2021-09-16 14:18] #5242 closed

[2021-09-16 14:25] anthony-hull commented on #4743
@AndrewGable  the issue is still occurring

[2021-09-16 14:25] parasharrajat commented on #5287
Duplicate cc @Santhosh-Sellavel

[2021-09-16 14:27] parasharrajat commented on #5265
@Beamanator I think this should be processed now as this is crashing the app and making it unusable for Opera or Edge.

[2021-09-16 14:28] Beamanator opened #5296 "[HOLD] [iOS] Figure out why setTimeout is needed when viewing SidebarScreen on load, replace with better solution"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Remove `setTimeout` from [this code](https://github.com/Expensify/App/blob/main/src/pages/home/sidebar/SidebarScreen.js#L84-L86)
1. Set [`isActiv

[2021-09-16 14:32] trjExpensify commented on #5066
Paid 👍

[2021-09-16 14:32] #5066 closed

[2021-09-16 14:32] Beamanator commented on #5265
@parasharrajat thanks for bringing this back up, good point, let's get this fixed. @kadiealexander I think we can take this off hold since it's pretty critical for Microsoft Edge users (& probably Opera too).

[2021-09-16 14:33] anthony-hull commented on #4743
The green style has been removed so there is no change in stylings

[2021-09-16 14:35] Beamanator commented on #5265
@parasharrajat please move forward with your PR, I'll assign this to you 👍

@Hanaffi thanks for your proposal, we try not to use 3rd party libraries as much as possible so I'd like to not introduce https://github.com/arasatasaygin/is.js. Your function for checking the agent looks a bit complex so I'd like to make minimal changes to fix this small issue

[2021-09-16 14:37] Santhosh-Sellavel commented on #5287
Thanks, mate @parasharrajat.

cc: @kavimuru @marcochavezf
this is a Duplicate of #4905 It will be handled there, Kindly close this.

Status of  #4905
Currently, the issue is put on the `n6-hold` label due to an internal release priority till Sep 24 or later.

Thanks

[2021-09-16 14:40] PrashantMangukiya commented on #5066
@trjExpensify Received thanks.

[2021-09-16 14:44] iwiznia commented on #5266
I think that will definitely break things, since not all our buckets have cloudfront distribution, have they?

Also, seems like [this](https://github.com/Expensify/Web-Expensify/blob/e05ce8ee38647c7266108828b79a24d2ce112f2b/lib/S3Bucket/BaseClass.php#L269) is what we want, no? Can we add that constant to the class that needs it without affecting all the rest>

[2021-09-16 14:47] kidroca commented on #2985
Yep, but I think "scroll jumping" is a problem we need to solve anyway
Unidirectional lists have this problem when you append more items in the "rear" end of the list (depends on inverted)
Removing or adding items to a list would also cause this issue
Even the bi-directional list has this problem when the conditions are right 😭

[2021-09-16 14:49] kidroca commented on #4273
### being briefly offline can sometimes trigger incorrect unread messages
1. Log in
2. Go to a chat with more than 50 messages
3. Scroll up to load past messages
4. Become offline
5. Switch to another chat and back a few times
6. In the end go to a different chat and resume connectivity
7. Observe after connectivity is regained you have many unread messages, when there aren't any new messages

htt

[2021-09-16 14:56] MitchExpensify commented on #4941
Hired @Santhosh-Sellavel !

[2021-09-16 15:04] OSBotify commented on #5289
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-16 15:06] mountiny commented on #4888
As discussed before, we will not proceed with solving this particular issue as it would be merely a temporary fix.

Thank you very much for your time and help working on this @mananjadhav and @parasharrajat.

@mallenexpensify could you please pay Manan on Upwork and we can then close this issue once paid!

[2021-09-16 15:11] iwiznia commented on #5289
Oh, we reverted the PR, I think you tested before that, so can you retest this @kavimuru and if all looks good close this issue?

[2021-09-16 15:16] Julesssss commented on #5034
I just ran into this on staging:

- I was signed in to `jules@expensify.com` and in a second browser tab I signed out
- In the second browser I signed in to jules+2@expensifail.com``
- After about 8 minutes of testing VBA flow, Mitch send a message to `jules@expensify.com`, but it appeared as a new chat in the second browser tab

![Screenshot 2021-09-16 at 16 09 35](https://user-images.githubuserc

[2021-09-16 15:16] parasharrajat commented on #5265
@Beamanator PR is up. Thanks

[2021-09-16 15:21] Julesssss commented on #5068
Please go ahead. @MitchExpensify please hire Rajat on UpWork 👍

[2021-09-16 15:23] mananjadhav commented on #5191
Thanks @mountiny

[2021-09-16 15:24] mananjadhav commented on #5185
**Updated Proposal:**

Apologies for the delay. Took a little while for the long proposal. Here's my updated proposal including the updated implementation:

1. We still modify the `HeaderWithCloseButton` with additional props: `shouldShowCloseButton` and add a `moreOptionsComponent` (renamed ThreeDots from previous proposal to MoreOptions)
2. We'll create 2 components: `WorkspaceHeader` and `Works

[2021-09-16 15:26] justinpersaud commented on #5266
Right, not all of our buckets have cloudfront distributions.

To be clear, this URL format already works without a cloudfront distribution: https://concierge-responses-expensify-com.s3.amazonaws.com/

I mean, technically it looks like we could add that constant to the class, but it's technically not correct? I think it would fix the URL format we want, but it's not actually using Cloudfront in thi

[2021-09-16 15:30] iwiznia commented on #5233
There already exists an [isLoading](https://github.com/Expensify/App/blob/df1f98ab7d2897e891f950b1352ba84f175f334d/src/pages/signin/ResendValidationForm.js#L104) property, so you can't add another one. There must be some bug in the current implementation that we need to fix.

[2021-09-16 15:41] Julesssss commented on #5290
I was blocked for a while by Onfido, but managed to pass the check using an iPhone. Unable to reproduce this bg on staging, version `v1.0.99-1`:

https://user-images.githubusercontent.com/10736861/133642715-742ba781-dcc9-4013-8d81-b95ad7cb119f.mov

[2021-09-16 15:41] Julesssss commented on #5290
Mabe it's unique to safari

[2021-09-16 15:54] Julesssss opened #5299 "Unable to complete the Onfido check on Android browsers"
CC @MitchExpensify
___

NOTE: We have recent reports with more info (for example, using the Brave browser), please can [these](https://github.com/Expensify/App/issues/5299#issuecomment-2433771547) be [read](https://github.com/Expensify/App/issues/5299#issuecomment-2366772760) before testing, thanks!

## Action Performed:
- Create a workspace
- Tap 'Get Started'
- Add a bank acocunt, using credenti

[2021-09-16 15:54] Julesssss commented on #5299
This is on Onfido's side, I think we need to confirm, then reach out to them and raise a bug.

[2021-09-16 16:07] PrashantMangukiya commented on #5295
### Proposed Solution

We have to pass one prop that indicates that it is group split or not. So based on that we can disable interactivity on IOUConfirmationList.js screen. I will suggest to update code as shown below.

/src/pages/iou/IOUModal.js add below code
[code]

src/pages/iou/steps/IOUConfirmPage.js add below code
[code]

Within src/components/IOUConfirmationList.js add below code
[code]

[2021-09-16 16:11] jboniface commented on #5295
@Julesssss should this be on n6-hold?

[2021-09-16 16:18] Julesssss commented on #5295
Added.

[2021-09-16 16:44] MitchExpensify commented on #5290
I was able to reproduce on staging on Safari by following #1 inthe [SO](https://stackoverflow.com/c/expensify/questions/342/525#525) except I copied @Julesssss and did not use REAL credentials in the personal info step:
![image](https://user-images.githubusercontent.com/36425901/133652008-90a13f99-b625-4482-ac76-7cf1fc79b320.png)

Interestingly, when I exited the flow I saw the expected Concierge

[2021-09-16 16:45] chiragsalian commented on #5287
Yup this is a dupe, closing issue.

[2021-09-16 16:45] #5287 closed

[2021-09-16 16:47] chiragsalian commented on #4905
Ah yup, yes that proposal looks good to me. Guess we're waiting now for the n6-hold to be lifted.

[2021-09-16 16:50] francoisl commented on #5286
I can reproduce this on production, so I don't think it needs to be a deploy blocker? Going to test again with different accounts to make sure.

[2021-09-16 16:56] deetergp commented on #4115
Holding for N6

[2021-09-16 16:58] francoisl commented on #5286
I can reproduce in production, so I'm going to remove the deploy blocker label and we can make this a regular issue to fix.

[2021-09-16 16:58] isagoico commented on #5289
PR revert was a pass! Closing the issue 🎉

[2021-09-16 16:58] #5289 closed

[2021-09-16 16:59] francoisl commented on #5279
I removed the deploy blocker label from https://github.com/Expensify/App/issues/5286 because it's also happening in production, doesn't look like a new bug.

[2021-09-16 17:02] bondydaa commented on #5286
thanks for taking a look Franc, tossing to the pool

[2021-09-16 17:13] Julesssss commented on #5290
Thanks, @MitchExpensify! I suggest we revert this PR while I figure out how to reproduce on dev.

[2021-09-16 17:28] michaelhaxhiu commented on #4902
Looks like this went to production. Provided there are no regressions, the payout is due on Sept 23

[2021-09-16 17:31] Julesssss commented on #5290
Raised a [revert PR here](https://github.com/Expensify/App/pull/5301), I'll try to reproduce this and fix locally tomorrow.

[2021-09-16 17:32] Julesssss commented on #5279
In order to resolve https://github.com/Expensify/App/issues/5290, I have raised a [revert PR here](https://github.com/Expensify/App/pull/5301). Once this is merged and on the deploy Checklist, I will mark #5290 off the list.

[2021-09-16 17:35] ctkochan22 commented on #5088
I just tested it, and it seems like we are good.

[2021-09-16 17:39] roryabraham commented on #5027
I think this is a good idea, but should maybe only be used in cases when `getDefaultDrawerState` can't give us the expected behavior? @marcaaron what do you think?

Before we settle on a solution, I think it would be valuable to lay out a table various scenarios and whether the drawer should be open and closed. Something like this?

|_Scenario_|_Desired drawer state_|
|----------|-----------------

[2021-09-16 17:44] aldo-expensify commented on #5034
![Screen Shot 2021-09-16 at 10 44 00 AM](https://user-images.githubusercontent.com/87341702/133659839-e8d6c927-1741-4813-81c2-abb3bf5ef7fc.png)

I tried again these steps, with new accounts, with old accounts, randomly switching between many accounts and I wasn't able to reproduce the problem a single time today. 🤷

[2021-09-16 17:52] isagoico commented on #5008
We were able to reproduce the issue in latest build

https://user-images.githubusercontent.com/44479856/133655831-9bfce80b-3e40-48b1-84d2-b610b4b7fd38.mp4

[2021-09-16 17:53] aldo-expensify commented on #2642
Could we flag some keys in Onyx so some of them require to be authenticated to be merged and some others not? I was thinking that on `Onyx.init`, just like we pass `safeEvictionKeys`, we define a set of keys that can only be merged if the user is authenticated. Then, each time we will merge, we would have to check this.

[2021-09-16 17:59] parasharrajat commented on #5008
Good Thanks @isagoico, I will look closely. Maybe come up with follow up questions.

[2021-09-16 18:22] parasharrajat commented on #2642
My two cents:

Is authenticated related to Onyx? **No**. Onyx is just a storage layer so we can't link that with authentication.

Neither making `Onyx.write` cancellable is effective as It just going to be an extra layer(side-effect) above `Onyx.set` to check the authentication before writing. We would need to instruct each operation if it has a dependency on authentication.

Also making promises

[2021-09-16 18:34] stitesExpensify commented on #5247
I wouldn't consider it a regression because it never worked in the first place. I'd say this is more of an easy bug fix that should have a small job

[2021-09-16 18:37] marcaaron commented on #5034
Sounds to me like we did not unsubscribe from Pusher.

[2021-09-16 18:39] JmillsExpensify opened #5303 "[iOS] Global create is open on account creation/sign-in, but isn't visible"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new account
2. When you sign in, Global create is open but invisible
3. If you close Global Create and re-open, it shows up

<img width=

[2021-09-16 18:46] ctkochan22 opened #5304 "Alignment is off for City field in requestor step on iOS"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Add a bank account via `/bank-account`.
2. Get to requestor step, you should see a mis-alignment

![image](https://user-images.githubusercontent.

[2021-09-16 18:59] kidroca commented on #4273
@kadiealexander
I don't want to bother you, but maybe you can consider prioritizing this ticket as well as it's the root of few or even several issues related to unread message count or the app incorrectly interpreting that there are such.

Published a PR about it with 6 line changes and should be easy to review and see from the change alone that it's unlikely to cause a regression
Whatever is dec

[2021-09-16 18:59] isagoico opened #5305 "Blank screen displayed after login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log out of New Expensify
2. Log back in with the same account

## Expected Result:
User is able to log in

## Actual Result:
Blank screen display

[2021-09-16 19:00] OSBotify commented on #5305
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-16 19:14] marcaaron commented on #5305
I'm not sure what PR is causing this but it seems clear from the error message in the JS console that we are trying to access a value before an Onyx.connect() callback has set the value:

https://github.com/Expensify/App/blob/50cb8d4f1212e0cf65435ae1a8d34bfa1548c072/src/libs/DateUtils.js#L13-L19
https://github.com/Expensify/App/blob/50cb8d4f1212e0cf65435ae1a8d34bfa1548c072/src/libs/DateUtils.js#L3

[2021-09-16 19:23] kidroca commented on #5305
In that case can we change the code to

[code]

Or maybe even

[code]

[2021-09-16 19:35] marcaaron opened #5306 "When failing to create a policy the app will crash due to bad property access"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

Coming in from https://github.com/Expensify/App/pull/4481#pullrequestreview-755856892

Try to create a workspace and it fails for some reason (I di

[2021-09-16 19:36] mallenexpensify commented on #5305
Happening to me on staging.new.expensify.com, when I refresh and hard refresh, it **doesn't** fix it.  When I 'command+k' to open chat switch/search, I see names but when I click names 'nothing happens'.
![image](https://user-images.githubusercontent.com/22508304/133674853-f1cb2026-2e58-428f-b500-a5bf277e8f15.png)

https://user-images.githubusercontent.com/22508304/133674908-47e875a2-f5b9-46f6-864

[2021-09-16 19:37] kidroca commented on #2642
I agree that we shouldn't handling auth in Onyx as we're increasing complexity and add other cases to worry about

But cancelling a promise would settle it pretty good too => in the rejected state 🤣

I think the root problem is "scheduling" a write and then having no control about it, and specifically for the log out - we should be able to cancel any remaining requests and clear the network queue

[2021-09-16 19:38] deetergp commented on #2734
Heya, @anthony-hull, have you made any progress with this issue?

[2021-09-16 19:38] luacmartins commented on #5285
Following up on this issue. I didn't manage to reproduce the issue @kevinksullivan had, but it seems that reverting the PRs [resolved the issue](https://expensify.slack.com/archives/C020EPP9B9A/p1631817678396200?thread_ts=1631749275.291700&cid=C020EPP9B9A), so I think we can close this issue 🎉

The Clearbit exception being thrown [here](https://github.com/Expensify/Web-Expensify/blob/576c72e2325ca

[2021-09-16 19:38] #5285 closed

[2021-09-16 19:39] marcaaron commented on #5306
@kevinksullivan This kind of feels like a possible N6 blocker, but I didn't catch why the response failed so unsure if it's worth prioritizing. Basically something in this API command throws when trying to create a free policy and then the app crashes and we should make sure this is not possible + add better error handling for this flow.

https://github.com/Expensify/Web-Expensify/blob/b8233a0d4c0

[2021-09-16 19:53] chiragsalian commented on #5185
Cool, the updated plan looks good to me. Some thoughts though, it feels like the `WorkspaceOptionsMenu` is a nice opportunity to set it up in a reusable manner. How about we create it as `PopupMenu` which accepts any icon. Then for this solution when you call `HeaderWithCloseButton`  pass a prop like `shouldShowThreeDotsButton` (similar to what you have but I think I like ThreeDotsButton since its

[2021-09-16 19:54] mallenexpensify commented on #5021
@puneetlath can you review when you have time please?

[2021-09-16 19:55] mallenexpensify commented on #3981
Possibly related.... I occasionally send a user a message then THAT same message will show as unread in LHN, even though I was the one to send and the user hasn't replied.

[2021-09-16 19:59] mallenexpensify commented on #2713
This seems to be happening semi-regularly.  I'll post more here when it does.
The issue I have right now is...
Was on unstable internet this morn that was slow, spotty and occasionally cut out.  Sent a message to Monte, `What's your morn looking like?`, and it got 'stuck' at the bottom. Even after clearing cookies and storage and signing back in, the message is still stuck at the bottom

[2021-09-16 20:07] isagoico commented on #5279
Regression is finished!
Issues found:
1. https://github.com/Expensify/App/issues/5291
2. https://github.com/Expensify/App/issues/5286
3. https://github.com/Expensify/App/issues/5290 - Is failing PR #5251
4. https://github.com/Expensify/App/issues/5289

Comments added in PRs:
1. https://github.com/Expensify/App/pull/5216#issuecomment-921061642
2. https://github.com/Expensify/App/pull/5244#issuecomm

[2021-09-16 20:09] kidroca commented on #5305
@mallenexpensify I think you're hitting a different issue as at least you see the LHN and can invoke it, while for the current issue we're stuck on a white screen and can't do the things you're able to do

[2021-09-16 20:23] mallenexpensify commented on #5305
Thanks @kidroca , I'll follow along here and, once this issue closes, if I can reproduce my specific issue I'll create a new GH

[2021-09-16 20:26] kidroca commented on #5305
Alright I've pushed a PR, I've tested web, mWeb and Android, but I don't have access to a mac ATM It would be great if someone can review and try it out there, otherwise I'll be able to tomorrow 😞

[2021-09-16 20:29] justinpersaud commented on #5266
@kadiealexander I think we can remove the n6-hold on this? This issue _only_ affects staging, because this content policy is only enabled there for testing before we get to production.

Alternatively, I can just permit the s3 domain for now since it's only on staging until I come up with a better solution to implement.

[2021-09-16 20:37] anthony-hull commented on #2734
Yes I'm waiting for a PR review.
I messaged the assigned staff member yesterday to let them know it's ready.

[2021-09-16 21:00] isagoico opened #5309 "Extra empty spaced is displayed for messages sent from via email"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Answer a message via email
2. Check the message in New Expensify

## Expected Result:
Message should be displayed without extra space.

## Actual

[2021-09-16 21:14] luacmartins commented on #5305
Taking a look at this. Should we CP this to staging once approved?

[2021-09-16 21:36] isagoico opened #5310 "[HOLD for payment 2021-11-22] iPad - Text expands when changing to landscape mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send a code block text like `hola`
3. Change iPad orientation to landscape

## Expected Result:
Orientation should

[2021-09-16 21:39] kadiealexander commented on #4273
Checking with the team on this one @kidroca, will let you know!

[2021-09-16 21:43] kadiealexander commented on #5266
Checked [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1631828310344000?thread_ts=1631574904.303900&cid=C01SKUP7QR0) and it seems we're all in agreement, removing!

[2021-09-16 21:49] kadiealexander commented on #4273
@kidroca the team agrees! Removing the hold on this one, please proceed with the fix.

[2021-09-16 21:55] marcochavezf commented on #5232
I was able to reproduce it once (missing concierge avatar in the screenshot), and I found out the `icons` property is `undefined` for the `OptionRow` that corresponds to the concierge avatar (the other rows have a URLs array in the `icons` property). More investigation is needed to determine why sometimes `icons` property is `undefined`.
![Screen Shot 2021-09-16 at 16 25 34](https://user-images.gi

[2021-09-16 22:28] deetergp commented on #5310
Nice find! I can confirm it happens when going from landscape to portrait as well. Also happens on iPhone.

[2021-09-16 22:44] AndrewGable commented on #5305
Yes, let's CP the fix

[2021-09-16 22:51] AndrewGable commented on #4743
Ok- So the text size is still a bug?

[2021-09-16 22:52] luacmartins opened #5312 "Remove `requireCertainty` param from isFromPublicDomain API call"
## Problem
Coming from [this thread](https://expensify.slack.com/archives/C020EPP9B9A/p1631765876317300?thread_ts=1631749275.291700&cid=C020EPP9B9A), we currently check public domains with `requireCertainty=true`, which throws a Clearbit exception if the domain is not found in the common domain list or bedrock cache. In the meantime, we assume that users have a public domain.

## Why is this impor

[2021-09-16 22:57] luacmartins commented on #5305
Cool, merged with `Cp Staging` label https://github.com/Expensify/App/pull/5307

[2021-09-16 22:58] mallenexpensify commented on #3743
So close https://github.com/Expensify/App/issues/3737#issuecomment-918991976
but... we're on hold for N6 for a week-ish so we likely have a lil while longer to wait.

[2021-09-16 23:00] mallenexpensify commented on #3381
Since we've got the N6 hold for a week-ish, gonna wait to check in on an update

[2021-09-16 23:12] luacmartins commented on #4892
I think that's a good solution and less distracting for the user. Does that mean that any updates to the button only take effect when a user closes the rightpane and not while typing or advancing to next steps?

[2021-09-16 23:19] stitesExpensify opened #5315 "test"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2021-09-16 23:21] #5315 closed

[2021-09-16 23:51] mallenexpensify commented on #5166
Hired @meetmangukiya in Upwork!

[2021-09-17 00:34] francoisl commented on #5305
The fix was deployed, @isagoico could you try again please?

[2021-09-17 00:54] aldo-expensify commented on #5309
Those two `--` seem to be the culprit. When I click reply in gmail, I can see under the quoted message those two `--` which end up getting included in the message.

![Screen Shot 2021-09-16 at 5 52 06 PM](https://user-images.githubusercontent.com/87341702/133706823-0f938f05-2c41-4baf-ba00-c85edb9d5563.png)

[2021-09-17 01:22] isagoico commented on #5305
I was unable to reproduce this issue on my side 🤯 @AndrewGable can you take care of the retest since you were able to repro consistently?

[2021-09-17 01:24] kadiealexander commented on #5296
Upwork job: https://www.upwork.com/jobs/~01e9442bc5ff417a90

[2021-09-17 01:51] rafecolton commented on #5309
I don't see the `--` in the output in chat. I also don't have a signature on my email fwiw

[2021-09-17 02:14] ctkochan22 commented on #5303
Reproduced while testing fix for https://github.com/Expensify/Expensify/issues/177787#issuecomment-921377044

![image](https://user-images.githubusercontent.com/12980144/133713232-33eeb224-3453-4288-97bf-171df306b196.png)

Reproduction step:
1. Do not do anything on old dot. I just created a user via the clitools
2. Log into new dot ios directly

When i selected "buisiness" then "expensify card" v

[2021-09-17 02:25] aldo-expensify commented on #5309
In my case, Gmail adds `--` before the signature when the signature is placed under the quoted message.

![Screen Shot 2021-09-16 at 6 01 10 PM](https://user-images.githubusercontent.com/87341702/133707291-72bf8803-e24d-4ad4-bc90-e8ed0af983e3.png)

If I remove the signature, the message arrives fine:

![Screen Shot 2021-09-16 at 7 21 57 PM](https://user-images.githubusercontent.com/87341702/133714

[2021-09-17 02:26] aldo-expensify commented on #5309
In the chat you get just a bunch of empty lines at the end without `--`?

[2021-09-17 02:30] aldo-expensify commented on #5309
I marked this as `internal` because I would think the best place to fix is is where we process the received email to convert it to a chat message.

[2021-09-17 02:38] nhanth1012 commented on #5296
@Beamanator
I think it will be fixed in this way.

 ` if (!hasFreePolicy) {
                // For some reason, the menu doesn't open without the timeout
                setTimeout(() => {
                    this.toggleCreateMenu();
                }, 200);
            }`

`!hasFreePolicy & this.toggleCreateMenu();`

Thanks.

[2021-09-17 02:46] rafecolton commented on #5309
Yes an empty line no `--`

[2021-09-17 02:50] Christinadobrzyn commented on #5286
I think this needed to be [paused](https://expensify.slack.com/archives/C01SKUP7QR0/p1631574904303900) in favour of focusing on N6 projects. Added N6 hold the label. adding a weekly label to work on this in a week.

[2021-09-17 03:22] Christinadobrzyn commented on #5286
I think this needed to be paused in favour of focusing on N6 projects. Added N6 hold the label. adding a weekly label to work on this in a week.

Update: talking this over with Kadie, I think I can create the job in Upwork just no PR deployment until after N6.

[2021-09-17 03:34] Christinadobrzyn commented on #5286
Hey @bondydaa can I have your opinion if this GH should remain separate from this?

https://github.com/Expensify/App/issues/5113

I also saw this was deployed, do you think it might be causing this issue?

https://github.com/Expensify/App/issues/4507

[2021-09-17 04:50] ctkochan22 commented on #5303
I bet it has something to do with why we need a timeout on this line: https://github.com/Expensify/App/blob/09e2d941c17e6cea48e93210be4e27fff9ece502/src/pages/home/sidebar/SidebarScreen.js#L84-L86

[2021-09-17 05:39] mananjadhav commented on #4559
**Updated Proposal**

Extending the function mentioned above `addToFrequentAndRecent` (probably `addEmojiToFrequentlyUsed` is a better name) https://github.com/Expensify/App/issues/4559#issuecomment-910726330 along with the props handling, I'll add the following.

I'll create a new file as EmojiPickerMenu/utils.js and add three functions to it:

[code]

In the `EmojiPicker/index.js` and `EmojiPick

[2021-09-17 05:42] mananjadhav commented on #5185
@chiragsalian I am fine with the approach of having `HeaderWithCloseButton` and making a generic `PopupMenu` too if that will have more use-cases to handle :)

[2021-09-17 05:57] ctkochan22 commented on #5303
@Beamanator do you have an idea? I see you are familiar with this area

[2021-09-17 07:15] Beamanator commented on #5296
@nhanth1012 please add more detail and explanation to your proposal. Why do you think that will fix the issue?

Also, are you recommending replacing the entire if-statement with `!hasFreePolicy && this.toggleCreateMenu();`? This doesn't follow our style guidelines, and I don't believe it will help us because the `setTimeout` is the only way we got this to work without changing code elsewhere

[2021-09-17 07:28] nhanth1012 commented on #5296
@Beamanator
I think you want me to remove the `setTimeout` from the code. right?
Of course, I will consider your suggestion carefully.

[2021-09-17 08:30] Beamanator commented on #5296
@nhanth1012 Ideally yes, **or** if `setTimeout` is absolutely necessary here, we would like to know _why_ and document it. Thanks 🙏

[2021-09-17 10:25] Julesssss commented on #5295
Thanks for the proposals. I think @Santhosh-Sellavel's is a simpler solution as we're reusing the `this.props.hasMultipleParticipants` prop.

However, I'm not sure about this part. Wouldn't this still be necessary for the 'launch bill split from group chat' flow?

[2021-09-17 10:27] Beamanator commented on #5303
I'm the one who merged in this `setTimeout` since I couldn't find a better solution 😅

I created another issue to get contributor ideas why `setTimeout` was needed and how to replace it: https://github.com/Expensify/App/issues/5296

I'll try Marc's idea here: https://github.com/Expensify/App/pull/5214#issuecomment-920172507

[2021-09-17 10:59] iwiznia commented on #5266
True, we can either rename the constant or really now that I look at it, we can change [this](https://github.com/Expensify/Web-Expensify/blob/e05ce8ee38647c7266108828b79a24d2ce112f2b/lib/S3Bucket/BaseClass.php#L271) to use `static::` and override the `S3_DOMAIN` constant, which is technically more correct.

[2021-09-17 11:02] PrashantMangukiya commented on #5295
We need expected result as under:

**Flow1:** When flow initiated via
Click + > Split bill,
Enter amount and click next,
Select two attendees and click next,
Land at confirmation page.  **So in this case it should Not Allow to deselect attendees.**

**Flow2:** Flow init from Group Chat
i.e. Click + button **at left of text box in group chat,**
Select Split Bill (when Group chat) (Otherwise Request

[2021-09-17 11:04] iwiznia commented on #5312
Can you give me a bit more context on what exactly we use this information for and what it is blocking users from doing? It seems that we call this right after user logs in and that we retry it (to get the updated data) when it fails.

[2021-09-17 11:51] Beamanator commented on #5303
Here's what happened when I tried @marcaaron 's idea, and the changes I made:

Workflow:

1. Open app on iOS, iPhone 12, version 14.5
2. Sign up with brand new account
3. Validate account using CLI
4. Log in with new account
5. Global create didn't open (no X either)

Code changed & logs added:

1. All code changes recommended here: https://github.com/Expensify/App/pull/5214#issuecomment-920172507

[2021-09-17 12:20] mountiny commented on #4888
@mallenexpensify bump on this one, please, if you get around to it  🚀 Thank you very much 🙏

[2021-09-17 13:31] kidroca commented on #5303
@Beamanator
You get `false` in componentDidUpdate because `componentDidMount` sets it to `false`

[code]

So it's initially `true` during `componentDidMount`  and entered the above flow

---

I've deliberately altered this to force a `true` condition

#### src/libs/actions/NameValuePair.js
[code]

---

It's seems it might have to do with the other expression `const hasFreePolicy = _.chain(this.pro

[2021-09-17 13:32] laurenreidexpensify commented on #4126
This is still on hold

[2021-09-17 14:03] Beamanator commented on #5303
@kidroca yeah sorry my notes may not have been super clear, I ended up stripping most of the stuff in `componentDidMount` and moving it to `componentDidMount`, as suggested as a possible solution [here](https://github.com/Expensify/App/pull/5214#issuecomment-920172507)

Here's a branch with what I was testing: https://github.com/Expensify/App/tree/beaman-investigatingGlobalCreateFishyness

Note: A

[2021-09-17 14:10] jboniface commented on #4487
paid

[2021-09-17 14:10] #4487 closed

[2021-09-17 14:26] mananjadhav commented on #4487
@jboniface Did we decide not to increase the budget? I received 250$ only on Upwork

[2021-09-17 14:30] kidroca commented on #5303
What I've found out is that without the `setTimeout` the modal won't appear (ios), a similar issue we had with the attachment picker
It seems to be a known issue with iOS and Modals, but when I tried to recreated it in a standalone expo snack it didn't happen and the modal always appeared (I'm talking about the issue with the attachment picker).
So this might be something that we're doing as we ha

[2021-09-17 14:40] Julesssss commented on #5290
Hmm, this might actually be a duplicate of [this issue](https://github.com/Expensify/Expensify/issues/175776). Trying to verify.

[2021-09-17 14:47] jboniface commented on #4487
Ah, shoot, I didn't scroll up. I'll send you another contract, just a sec.

[2021-09-17 14:48] kevinksullivan opened #5319 "Fix alignment of hyperlink in ValidateStep message within VBA flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create workspace
2. Go through VBA flow with [test credentials in (1)](https://stackoverflow.com/c/expensify/questions/342/525#525)
3. Arrive at

[2021-09-17 14:51] jboniface commented on #4487
ok, sent

[2021-09-17 14:52] kevinksullivan commented on #5074
Going to make a judgment call, and say let's drop the step counter from the first part of add bank account, like you originally had it @marcochavezf .

[2021-09-17 15:04] MitchExpensify commented on #5265
Holding on making externals for n6-hold

[2021-09-17 15:05] MitchExpensify commented on #5068
Hired!

[2021-09-17 15:11] kevinksullivan opened #5321 "[HOLD for payment 2021-10-07] Use number pad keyboard when field input will only include numbers in VBA flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem

The keyboard does not "match" certain fields that should only include numbers within the VBA flow, which requires users to tap through to numbers within their

[2021-09-17 15:16] Julesssss commented on #5290
Struggling to verify this locally. Even though I think the UI changes have not triggered this regression I think to help with debugging we should merge the revert. This will mean that we can test [this issue](https://github.com/Expensify/Expensify/issues/175776) repeatedly on staging.

[2021-09-17 15:18] kidroca commented on #5303
@Beamanator
The code changes work for me in that they raise the `true` flag in the `componentDidUpdate` method
But due to the lack of `setTimeout` I only see the (x) button while the modal is invisible

One of the reasons you don't get the value in `componentDidUpdate` is because that's not the only `Onyx` connection that this component is using - the component won't mount until the keys `betas`,

[2021-09-17 15:20] jboniface commented on #5092
paid

[2021-09-17 15:20] #5092 closed

[2021-09-17 15:20] isagoico commented on #5279
Checking off https://github.com/Expensify/App/pull/5216#issuecomment-921868290

[2021-09-17 15:30] Julesssss commented on #5290
Closing this issue as we are fairly certain that the issue was already occurring [here](https://github.com/Expensify/Expensify/issues/175776). [Slack discussion](https://expensify.slack.com/archives/C020EPP9B9A/p1631839963445700).

[2021-09-17 15:30] #5290 closed

[2021-09-17 15:31] kidroca commented on #5303
Here's a non `setTimeout` based solution, though it's against the Expensify, "no Promise" policy, but I think it shows a use case where it's favorable to have the option to use Promises

Make `NameValuePair` methods async

[code]

Here's a full diff:
https://github.com/Expensify/App/compare/main...kidroca:kidroca/global-create-fishyness
This way handling is much simple and runs only once. You don'

[2021-09-17 15:37] kidroca commented on #5303
To prove there's some weird bug with the Modal on iOS you can force the Modal to be open right from the start

#### src/pages/home/sidebar/SidebarScreen.js
[code]

Refresh and you'll end up with this:
![image](https://user-images.githubusercontent.com/12156624/133815643-29a0b3b9-77eb-45ad-9f62-b90f3a7781ef.png)

[2021-09-17 15:37] isagoico commented on #5279
Checking off https://github.com/Expensify/App/pull/5307#issuecomment-921892586 and https://github.com/Expensify/App/issues/5305 since they were tested and it was a pass 🎉

[2021-09-17 15:38] isagoico commented on #5305
Removing the deploy blocker here since @AndrewGable confirmed he was able to login without blank screens https://github.com/Expensify/App/pull/5307#issuecomment-921892586

[2021-09-17 15:42] Julesssss commented on #5299
CC @kevinksullivan, maybe I should have created this as an Internal issue?

[2021-09-17 15:43] parasharrajat commented on #5265
Sure @MitchExpensify but PR for this is just merged as we thought this issue is a priority.

[2021-09-17 15:50] Julesssss commented on #5299
The Onfido SDK doesn't have any issues which match my bug, so I'm going to record the failure and open a new issue.

[2021-09-17 15:51] ctkochan22 commented on #5303
Ooo interesting. Let me test this out locally (sorry just catching up)

[2021-09-17 15:51] michaelhaxhiu commented on #4541
Paid 🎬

[2021-09-17 15:51] #4541 closed

[2021-09-17 15:52] Julesssss commented on #5279
#5290 has been resolved as it was already occuring.

[2021-09-17 15:59] puneetlath commented on #5021
Sorry for the delay. Let's go ahead and hire @Santhosh-Sellavel and go forward with his proposal. Thanks!

[2021-09-17 16:03] mananjadhav commented on #4487
Applied

No worries. Thanks

[2021-09-17 16:03] puneetlath commented on #5184
So perhaps one solution would be to:
- set a max-length that takes into account the possibility of parenthesis/dashes/etc
- only allow numbers and specific symbols
- use the `Str.isValidPhone` to do a client-side validation that it is a valid phone number

[2021-09-17 16:17] puneetlath commented on #4323
Paid!

[2021-09-17 16:17] #4323 closed

[2021-09-17 16:17] michaelhaxhiu commented on #4623
Paid 🎬

[2021-09-17 16:17] #4623 closed

[2021-09-17 16:28] thesahindia commented on #5321
### Proposal
Adding `keyboardType={CONST.KEYBOARD_TYPE.PHONE_PAD}` on the respective `ExpensiTextInput(s)` should fix this issue.

[2021-09-17 16:30] jboniface commented on #4487
all set!

[2021-09-17 16:32] michaelhaxhiu commented on #2545
Rory is making good progress on bi-directional scrolling, and working with Kidroca on https://github.com/Expensify/App/issues/2985

[2021-09-17 16:43] justinpersaud commented on #5266
🤦🏽

I think I was barking up the wrong tree

We are using this WYSIWYG editor lib for uploading into s3

https://github.com/Expensify/Web-Expensify/blob/18b03abf8c7b23beb91d4e420b64a6f7dc020bba/lib/ChatBot/API.php#L1630-L1646

[2021-09-17 16:45] kidroca commented on #4273
I've tested on all platforms and updated the PR with videos for all of them.
The PR is ready for review.

[2021-09-17 17:17] ctkochan22 commented on #5303
Still trying to grasp the issue. If i'm following your logic correctly, @kidroca , you're saying it doesn't run componentDidMount() until the ONYX keys are loaded. So it defaults to `defaultProps.isFirstTimeNewExpensifyUser` which is not set yet?

[2021-09-17 17:21] chiragsalian commented on #5185
Cool we can wait for @kevinksullivan to answer some of your questions but he might be a little busy at the moment working on n6 stuff so I'm unsure when he can get to this. Either way, the proposal sounds good to me 👍
From my perspective, @kevinksullivan can hire you (@mananjadhav) on Upwork and you can create the PR.

[2021-09-17 17:22] marcaaron commented on #5303
I think Peter is saying this isn't a React lifecycle problem, but maybe a bug with `react-native-modal` on iOS? i.e. it still won't open even with a hardcoded value of `isVisible={true}`.

[2021-09-17 17:33] kidroca commented on #5303
Correct.
This is only a problem with the code that sets `initWithStoredValues: false` and moves the logic to  `componentDidUpdate`

To make that work correctly we'll want to remove `initWithStoredValues: false` and handle the `isFirstTimeNewExpensifyUser` in both `didMount` and `didUpdate`, and even then we'll probably still have the problem

---

Judging by the problem description, the "existing"

[2021-09-17 17:43] parasharrajat commented on #5303
I don't think it's true. https://snack.expo.dev/@parasaharrajat/react-native-modal-example

Check the Snack. It works great.

[2021-09-17 17:43] kidroca commented on #5303
Yes, I've seen others have the problem opening a modal as soon as another modal closes, which results in a similar experience - `isPopoupVisible` would be `true` while there would be no modal on screen
But I couldn't recreate it in a standalone environment to submit a bug for `react-native-modal` so it might be on us

[2021-09-17 17:43] parasharrajat commented on #4484
@kadiealexander Any update for Upwork?

[2021-09-17 17:45] MitchExpensify opened #5323 "Cannot sign in to New Expensify with new account after setting password"
[Slack thread](https://expensify.slack.com/archives/C020EPP9B9A/p1631896101008200)
[/expensify tracking issue](https://github.com/Expensify/Expensify/issues/177900)
___

## Action Performed:
1. Sign up to New Expensify on iOS (v. 1.0.99.2)
2. Click validation link in email
3. Set New Expensify password

## Expected Result:
Land on the New Expensify home screen after setting password

## Actual Res

[2021-09-17 17:50] tgolen commented on #4507
It's OK melvin. It's not overdue

[2021-09-17 17:56] justinpersaud commented on #5266
I'm not sure how to fix that yet because the URL is being constructed by a third party library we're using.

In the interim, I've updated the policy to permit the content being blocked here so I'm not affecting anything further with testing on staging for new.dot while I come with a long term fix.

@iwiznia since this is an area I'm not very familiar with, do you have a suggestion on how to procee

[2021-09-17 18:05] marcochavezf commented on #5074
@kevinksullivan I added that change and updated the screenshots in the [PR](https://github.com/Expensify/App/pull/5255)

[2021-09-17 18:05] puneetlath commented on #5303
I just tried this flow while testing and the global create modal was open for me by default on iOS v1.0.99.2 FYI.

![IMG_2249](https://user-images.githubusercontent.com/1371996/133833992-598a14d7-b240-4fce-bf23-d90a0a550e77.PNG)

[2021-09-17 18:18] MitchExpensify opened #5324 "No validation link & endless "Resend Link" spinner when signing up to New Expensify on iOS"
[Slack thread ](https://expensify.slack.com/archives/C020EPP9B9A/p1631896101008200)

## Action Performed:
1. Sign up to New Expensify on iOS (v. 1.0.99.2)
2. Check email
3. Click "Resend Link"

## Expected Result:
Receive a validation link when signing up or when clicking "Resend Link"

## Actual Result:
No validation email and endless spinner when

**Example 1** mitch+222@mitch90210.com:
![image]

[2021-09-17 18:45] kidroca commented on #5303
Yes, the current logic works -  for some users the delay from `setTimout` is enough - no issue, for other it's not - bug, the modal does not appear

[2021-09-17 18:50] MitchExpensify opened #5326 "[HOLD for payment 2021-09-28] Add an Edit Icon to Workspace Avatar"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

___

## Problem:

It is not obvious that a workspace name and icon can be edited by clicking the workspace avatar in the workspace configuration screen:
![image](https://use

[2021-09-17 18:58] MitchExpensify commented on #5326
This is an existing pattern that can be copied exactly. Its also a straightforward change that doesn't need Triaging. Labelling external and removing triage assignment.

[2021-09-17 19:07] marcaaron commented on #5324
Just a thought, but not getting a link when signing up is one thing.
An endless spinner when we press "Resend link" could be a different thing entirely.

[2021-09-17 19:11] parasharrajat commented on #5326
### Proposal
1. We already have everything set up correctly. We just need to add the static Icon.
we will add a new sibling icon here https://github.com/Expensify/App/blob/f20deb8a4b33e2e0f05c3e46bb349d07e07bfa19/src/pages/workspace/WorkspaceSidebar.js#L108
[code]

 I don't prefer using the `AvatarWithImagePicker` as it contains a lot of unnecessary code such as AttachmentPicker atc.

[2021-09-17 19:22] arielgreen commented on #5250
Sent offer

[2021-09-17 19:22] marcaaron commented on #5324
Ok so I did some testing here...

**Local dev build from `main` + production API (which all staging & production builds use) on iPhone 8**

- Had no issues getting a validate email at all.
- Pressed "Resend link" twice and did not see an endless spinner either time.
- Got the "Link has been re-sent" text that went away after a while in both cases.
- New links showed up in my inbox fine.

I have us

[2021-09-17 19:22] arielgreen commented on #4911
On hold, not overdue.

[2021-09-17 19:27] JmillsExpensify commented on #5321
Looks great!

[2021-09-17 19:27] MitchExpensify opened #5327 "Add out of date validation link error with resend link option"
[Slack thread. ](https://expensify.slack.com/archives/C020EPP9B9A/p1631905368088000?thread_ts=1631904250.071900&cid=C020EPP9B9A)

### Problem:

When clicking an out of date account validation link and attempting to set a password it is entirely unclear why your "Set Password" password submission is doing nothing because you are using an out of date link. This is your view when unsuccesfully trying

[2021-09-17 19:28] marcaaron commented on #5324
Might also be worth noting that I am having the same issue on staging web, but there we don't even show an error ☹️

![2021-09-17_09-28-09](https://user-images.githubusercontent.com/32969087/133843374-54e2a39b-4a8b-4ecc-be06-a0312ea2c67e.png)

[2021-09-17 19:29] JmillsExpensify commented on #5321
Upwork job is here: https://www.upwork.com/jobs/~010b5eef0fab29284e

[2021-09-17 19:32] MitchExpensify commented on #5327
@michelle-thompson I'm thinking we'd add this error in red above Set Password. Similar to how we do in the VBA flow below but curious for your thoughts and the necessary mock up to move this along

![image](https://user-images.githubusercontent.com/36425901/133843772-f4d90bb5-4cc6-46f1-9bdd-406406d52189.png)

[2021-09-17 20:04] MitchExpensify commented on #5327
We actually already have an error message that we can use. We just didn't send it.  It does not have a resend link option though

![image](https://user-images.githubusercontent.com/36425901/133847166-065d81cb-d9fa-4b54-b7bb-5834d417ef5d.png)

[2021-09-17 20:14] marcaaron opened #5328 "Unable to set password or validate via New Expensify if "Resend link" is tapped"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Signed up for a new account with email on a private domain via New Expensify on iOS (`main` branch and also tested against production)
2. Press R

[2021-09-17 20:46] MitchExpensify commented on #5327
This is actually a much more fundamental issue that Marc identified [here](https://expensify.slack.com/archives/C020EPP9B9A/p1631909420115600?thread_ts=1631904250.071900&cid=C020EPP9B9A). Lets focus on that before updating messaging for out of date links. That problem may not be a real one once that issue ids fixed so lets solve it then if we experience it.

[2021-09-17 20:46] #5327 closed

[2021-09-17 21:03] MitchExpensify opened #5331 "[HOLD for payment 2021-09-28] Do not highlight the Expensify Card tab when creating a workspace on iOS and Android"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create Workspace on mobile
2. Land on Workspace menu with `Expensify Card` tab selected

## Expected Result:
Since mobile only shows the Workspac

[2021-09-17 21:04] MitchExpensify commented on #5331
This could be a good external candidate

[2021-09-17 21:16] marcaaron commented on #5328
Looking into this and currently able to reliably reproduce locally. Back with more info soon.

[2021-09-17 21:26] kevinksullivan opened #5332 "Change PO box message beneath Company Address field in VBA flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create workspace
2. Select `Get Started` in workspace
3. Go through VBA flow up to Company Information

## Expected Result:
The out of field mess

[2021-09-17 21:31] MitchExpensify opened #5333 "[HOLD for payment 2021-10-05] Fix alignment of button text in the Workspace Expensify Card tab on mobile"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create workspace
2. Enter Expensify Card tab
3. See the "Get Started" and "Help" buttons are not properly aligned on the vertical axis:

<img wid

[2021-09-17 21:37] adelekennedy commented on #5030
@akshayasalvi paid you through Upwork and ended the contract, the job is now closed!

[2021-09-17 21:37] #5030 closed

[2021-09-17 21:55] parasharrajat commented on #5331
I know it's not yet external but I believe it would be so I have a great idea to make it future proof and Valid app-wide so that the same logic can be applied anywhere in the app.

I proposed a solution https://github.com/Expensify/App/issues/5235#issuecomment-919596404 to fix https://github.com/Expensify/App/issues/5235.

I would like to extend that proposal.

### Extended part.

1. When we have

[2021-09-17 22:07] isagoico opened #5336 "IOU history not displayed when tapping on LHN badge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. If you don't have already, create an IOU Transaction with any user.
2. Now send some random messages to that user more than 30 or 35. You can qu

[2021-09-17 22:18] isagoico opened #5337 "Desktop - App showed offline status with an active internet connection"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
I will add here what @mallenexpensify experienced since I was unable to reproduce on my side:

## Expected Result:
App should show online if there's

[2021-09-17 22:24] isagoico opened #5339 "Log in - Incorrect error message displayed when using a invalid phone number"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to log in page
2. Enter several numbers in log in field
3. Press continue

## Expected Result:
There should be a message about an invali

[2021-09-17 22:32] Jag96 commented on #5321
@kevinksullivan it looks like we ask for hyphens for `Incorporation Date` in the field label seen below, I think we should use a different keyboard type for that one.

![image](https://user-images.githubusercontent.com/3981102/133860058-1d3bc1f1-51df-4f81-bf31-7bfba35ac525.png)

@thesahindia your proposal makes sense for the fields except for `Incorporation Date` since there is no hyphen. Can you

[2021-09-17 22:41] marcaaron commented on #5328
Ok,  here's what I found...

1. When we tap the link we call `ResendValidateCode` which triggers the email notification to be queued in Auth and we add a validateCode [here](https://github.com/Expensify/Auth/blob/56528e436737492d8291ea378f41b20849589b0e/auth/command/ResendValidateCode.cpp#L84-L85)
2. Then looks like a short time after that `GetAccountValidateCode` (whatever that is) runs and overw

[2021-09-17 23:30] roryabraham commented on #5279
@marcaaron Can you confirm if we are good to check https://github.com/Expensify/App/pull/5330 off on the checklist? Judging by [this comment](https://github.com/Expensify/Expensify/issues/177843#issuecomment-922129826) it looks like we are good there?

[2021-09-17 23:31] mallenexpensify commented on #5337
@chiragsalian can you see if you can magically reproduce? If no, can you add the 'needs reproduction' label and we'll hang tight to see if we can get steps?

[2021-09-17 23:42] marcaaron commented on #5328
Won't be able to get to this today but that investigation should be enough for someone to go off of.

[2021-09-17 23:43] marcaaron commented on #5279
Yep tested fine for me.

[2021-09-17 23:43] anthony-hull commented on #4743
No the bug is gone :)

[2021-09-17 23:46] JmillsExpensify opened #5340 "Use default OS date picker for date fields"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem

The keyboard does not "match" certain fields that should only include dates within the VBA flow, which requires users to tap through to numbers within their k

[2021-09-17 23:52] mallenexpensify commented on #5168
Doubled price to $500

[2021-09-17 23:59] Jag96 commented on #5323
I'm unable to reproduce this on a gmail account, I get taken into the app fine after setting the password. I also tried on an expensifail account which threw an error that wasn't caught on the front end, but it looks like that will be handled by https://github.com/Expensify/App/issues/4737.

Trying to reproduce this on dev.

[2021-09-18 00:00] parasharrajat commented on #5168
How can I test adding a bank account? @stitesExpensify.

[2021-09-18 00:04] mallenexpensify commented on #5310
Posted! https://www.upwork.com/jobs/~0191e5ec5589e5eeac
Adding n6-hold label, we won't be merging this code for a week.

[2021-09-18 00:06] parasharrajat commented on #5159
I will push the PR after the hold is over.

[2021-09-18 00:07] roryabraham commented on #2985
Getting pretty close to a working POC implementation of a bidirectional scrolling list via recyclerlistview. Was hoping to get it working by EOD today but there are still a couple (hopefully minor) bugs I need to address with the current implementation.

- forked [recyclerlistview](https://github.com/Flipkart/recyclerlistview/pull/647)
- [Example RN app](https://github.com/roryabraham/RecyclerList

[2021-09-18 00:09] mallenexpensify commented on #4888
Thanks @mananjadhav , paid in Upwork, closing...

[2021-09-18 00:09] #4888 closed

[2021-09-18 00:09] Jag96 commented on #5323
I'm now unable to reproduce this one, going to unassign since I'm heading out and cc @marcaaron and @ctkochan22 in case they have any thoughts here. I'll pick this back up next week if nobody grabs it by then.

[2021-09-18 00:11] JmillsExpensify commented on #5303
Yeah in testing I've gotten global create to open flawlessly, but then others not. It's just still spotty.

[2021-09-18 00:11] mallenexpensify commented on #5021
@Santhosh-Sellavel , can you apply at https://www.upwork.com/jobs/~0118968e3cb1d7b3c5
then add a comment here so I can hire you? Thanks

[2021-09-18 00:33] marcaaron commented on #5323
also logging off for the weekend, but wanted to add I had zero issues signing up for an account and validating a non public domain locally (used `expensifail.com`). after setting a password I logged in fine.

[2021-09-18 00:39] MitchExpensify commented on #5323
I think this is too spotty to be considered a blocker at this point

[2021-09-18 01:00] chiragsalian commented on #4899
Started working on this today. i was playing around with `Parsedown` to see if it would help us in this scenario. It has some limitations and as I continued working on it there is a chance we don't even need it. So basically i'm trying to understand our usecase, from the issue description it talks about markdowns i.e., special characters like `**` or `~~` to determine the formatting. But from the

[2021-09-18 01:33] MitchExpensify commented on #5324
Marc was unable to replicate this and created a separate issue here for the validate link issue https://github.com/Expensify/App/issues/5328#

[2021-09-18 01:35] rushatgabhane commented on #5168
@parasharrajat are you running into CORS error when adding a bank account?

[2021-09-18 01:56] Luke9389 commented on #5159
cool, thanks @parasharrajat 👍

[2021-09-18 02:35] nhanth1012 commented on #5303
@JmillsExpensify
This issue is still on working?
May I try to find the solution now?

[2021-09-18 04:06] PrashantMangukiya commented on #5333
At this position same button shows different label depending on the flow i.e. **Add email, Manage cards, Finish setup, and Get started**  etc.  So once we make it center it shows button with all above label in center because common button used for different operation.

At present on large screen this button shows left, **better to keep it left for large screen**.  We should **set it centre for  if

[2021-09-18 04:39] PrashantMangukiya commented on #5332
We have to add style within  src/pages/ReimbursementAccount/CompanyStep.js at line 195

Current Style
https://github.com/Expensify/App/blob/5cea12c78229d8e03bac7771b495d533161e0ece/src/pages/ReimbursementAccount/CompanyStep.js#L195

We have to add  styles.ml3  it looks ok
[code]

We can fine tune styles.ml2  .ml3  .ml4 depending on exact alignment we need as shown under.

**Applied styles.ml2**  (

[2021-09-18 07:45] nikdev15 commented on #5233
@iwiznia You can set a setTimeout function and specify the amount of time for which the state isLoading is true or make a server-side component to handle the resend link action and check if the email has been sent and return JSON data to the frontend of the app. The JSON data will have props where if the action performed by this route is successful we can set the state isLoading as false which wil

[2021-09-18 08:26] Beamanator commented on #5265
Yeah @MitchExpensify this "blank page" was really the app crashing, so I merged this fix as it's very small & could be considered a deploy blocker since the app easily would break on Microsoft Edge and Opera browsers

[2021-09-18 08:26] Beamanator commented on #5265
Yeah @MitchExpensify this "blank page" was really the app crashing, so I merged this fix as it's very small & could be considered a deploy blocker since the app easily would break on Microsoft Edge and Opera browsers

[2021-09-18 10:04] Beamanator commented on #5091
Change should be live on Production! @thesahindia feel free to work on a PR and submit when you have time, but as mentioned above we won't be merging this until the `n6-hold` is removed 👍

[2021-09-18 13:47] PrashantMangukiya commented on #5319
#### If considered as external, this could be solution:

We have to change line 232-234 from below code:
https://github.com/Expensify/App/blob/5cea12c78229d8e03bac7771b495d533161e0ece/src/pages/ReimbursementAccount/ValidationStep.js#L230-L236

**Method 1:**  Adjust iOS/Android bottom margin. Not accurate. (I will not suggest)
[code]

**Method 2:**  Change `<TextLink>` to `<Text>` (Suggested)
Align

[2021-09-18 14:48] Santhosh-Sellavel commented on #5321
@Jag96
## Proposal
We need to use `keyBoardType`
### For fields DOB, Incorporation  Date  -
iOS - `numbers-and-punctuation`
Android - `numeric` or `phone-pad`

We can write a new method `getDateKeyboardType` in `libs` folder to get approritate keyboardType for platforms.
Like we already do for [getEmailKeyboardType]( https://github.com/Expensify/App/tree/main/src/libs/getEmailKeyboardType)
Or even

[2021-09-18 15:26] roryabraham commented on #5303
No substantial update from me – I tried upgrading `@react-navigation/drawer` to `^6.1.4` and that did not fix the issue. I also confirmed that the `isVisible` prop of the `ReactNativeModal` component is successfully being changed from `false` to `true`, so I don't think that this is really a react lifecycle issue. Still don't know why the modal is not visible, nor do I understand what race conditi

[2021-09-18 15:37] kevinksullivan opened #5341 "Auto-fill company website using user's domain, remove https:// requirement"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem

The company website field must lead with `https://` , otherwise the step will return an error. While we auto-populate the company website field with this, a u

[2021-09-18 16:01] MitchExpensify commented on #5182
Keeping open until it hits prod

[2021-09-18 16:42] MitchExpensify opened #5342 "Tidy Personal Information Step Terms & Regulations"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem:

On new.expensify.com/bank-account/personal-information, the financial regulation disclosure ("Financial regulation and bank rules require us to validate th

[2021-09-18 16:50] marcaaron commented on #5341
Forcing `https://` to be uneditable sounds a little complicated to me + assumes everyone uses `https` which is false for a surprising number of websites.

I think a third alternative solution would be to:

- Just allow urls without the protocol to pass the validation e.g. `test.com` instead of `http://test.com`
- Just append an `http://` (not `https://`) to any urls that are missing the protocol w

[2021-09-18 16:51] MitchExpensify opened #5343 "Fix Additional Information Text Margin"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem

The margin/padding of the Additional Information text is running right up to the screen edge on iOS (likely on Android too)

![image](https://user-images.gi

[2021-09-18 16:58] MitchExpensify opened #5344 "Fix Privacy link on Invite People page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem:

The placement of the Privacy link on new.expensify.com/workspace/invite is not aesthetically pleasing. Internal Slack convo [here](https://expensify.slack.

[2021-09-18 17:19] MitchExpensify commented on #5265
Thanks for catching me up!

[2021-09-18 17:57] mountiny commented on #5326
I can step into this as CME since we want to have this Polish done asap.

You are right @parasharrajat, we even had the pencil icon in there previously, but then decided to remove it. What a U-turn 😅

I like your proposal, it is simple and does what we need. Feel free to create a PR for this, however, bear in mind we will most likely create the Upwork job no sooner than on Monday and that is when

[2021-09-18 18:23] MitchExpensify commented on #5326
[Upwork job](https://www.upwork.com/jobs/~01b15c840d3563a93c)

[2021-09-18 18:27] mountiny commented on #5326
@parasharrajat Things moved faster, if you are interested, create a proposal in Upwork and Mitch will hire you! Feel free to create the PR and I am looking forward reviewing it :)

[2021-09-18 22:04] parasharrajat commented on #5326
@mountiny I meant this as tooltip.
![Screenshot 2021-09-19 03:34:01](https://user-images.githubusercontent.com/24370807/133909688-1ef9d513-ed7c-4e61-ad0e-0be3dd7aeb20.png)

[2021-09-18 22:17] mountiny commented on #5326
@parasharrajat I know what you meant, I thought the screenshot will help us decide :)

I would add the tooltip in there, it helps with accessibility. Have you submitted a proposal for the job on Upwork so Mitch can hire you? 🙇🏼‍♂️

[2021-09-18 22:17] LucasBruzzone commented on #5326
@parasharrajat Forgive me for asking, but isn't it a mobile application? You won't have a cursor to have a tooltip on it right? 😅

[2021-09-18 22:39] parasharrajat commented on #4911
As per research, rendering Views in Text has many issues thus `react-native-render-html` has also pointed this in its documentation.

1. Due to the recent change to URLs to show a different context menu #3931 , we have to use `PressableWithSecondaryInteraction` which created a block inside the normal flow.

2. It's hard to find a solution and the lib maintainer has also pointed out this to me. I w

[2021-09-18 22:41] parasharrajat commented on #5326
@LucasBruzzone If you are a contributor, please refer to the readme (hope it answers a lot of questions like these).

For this particular, its cross-platform app and tooltip's are for the web.

[2021-09-19 00:28] parasharrajat opened #5347 "[HOLD for payment 2021-11-04] Add Instant tooltip & add tooltip to absolute positioned icons."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
cc: @mountiny

This issue is created based on the discussion [here](https://github.com/Expensify/App/pull/5346#issuecomment-922385906).
1. It will add support for Instant

[2021-09-19 11:14] thesahindia commented on #5321
I think we can just leave it as it is for now it is already being handled [here](https://github.com/Expensify/App/issues/5340)

[2021-09-19 19:14] MitchExpensify commented on #5326
Hired in Upwork @parasharrajat !

[2021-09-19 19:41] mountiny commented on #5347
Taking this issue on as we have already discussed this with Rajat in previous issue.

@parasharrajat Can you please write up a formal proposal?

I think this issue is not so important in terms of our deadline so I would say feel free to work on this, but we would not merge it before 9/24 most likely (unless we will decide we want this in the app). As it is a bit larger UI change, I would prefer to

[2021-09-19 19:53] MitchExpensify commented on #5265
[Upwork job](https://www.upwork.com/jobs/~0132d157a6635cd4ec) created and hired @parasharrajat

[2021-09-19 20:54] kevinksullivan commented on #5333
Hm @MitchExpensify should the button be centered? On web it isn't, so I am curious why it should be for a smaller screen?

![image](https://user-images.githubusercontent.com/22508290/133942714-b884436c-52d2-421b-b968-d1a4469a6a31.png)

[2021-09-19 21:00] kevinksullivan opened #5348 "Do not show the Expensify Card tab as selected when users open a Workspace on mobile"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create Workspace on mobile
2. Land on Workspace menu with `Expensify Card` tab selected

## Expected Result:
Since mobile only shows the Workspac

[2021-09-19 21:17] parasharrajat commented on #5348
@kevinksullivan https://github.com/Expensify/App/issues/5331 will handle this issue as well. It's better to just update the description for that.

[2021-09-19 21:19] kevinksullivan commented on #5341
Let's hold off until we [figure out](https://expensify.slack.com/archives/C020EPP9B9A/p1632086343209900?thread_ts=1631899958.039400&cid=C020EPP9B9A) why we're requiring this in the first place.

[2021-09-19 21:46] MitchExpensify commented on #5348
Centralizing here #5331

[2021-09-19 21:46] #5348 closed

[2021-09-19 21:48] MitchExpensify commented on #5331
[Upwork job](https://www.upwork.com/jobs/~01c0243e4e63a32258)

[2021-09-19 21:49] kevinksullivan commented on #5306
Hm I have not seen this one yet. Was there any unique steps you took to get here @marcaaron ? Also, when you say the app crashes, it completely closes out, right? So what would error handling look like in this context?

[2021-09-19 21:57] kevinksullivan commented on #4892
yeah, that is what I'm thinking. @shawnborton curious if you like that approach too? TLDR is [here](https://github.com/Expensify/App/issues/4892#issuecomment-920503308).

[2021-09-19 22:09] kevinksullivan commented on #5239
going to loop in @Expensify/design for this one. Any ideas on the icon we give chronos?

[2021-09-19 22:23] kevinksullivan opened #5349 "[HOLD for payment 2021-09-28] Number pad at ValidateStep has no option to add a decimal point"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create workspace
2. Enable card by going through VBA flow
3. Get to ValidateStep

## Expected Result:
The number pad should have the ability to a

[2021-09-19 22:24] kevinksullivan commented on #5349
Keeping internal for urgency.

[2021-09-19 22:24] Hanaffi commented on #5265
@MitchExpensify Hi, I was wondering If I would get paid for figuring out the issue?
According to Proposing a job that **Expensify hasn’t posted** in your Contribution guide

[2021-09-19 22:38] kadiealexander commented on #4484
Sorry @parasharrajat, timezones meant this fell on my weekend! I've paid this now. 💸

[2021-09-19 23:04] #4484 closed

[2021-09-20 02:11] MitchExpensify commented on #5349
Rajat has already submitted a PR so we'll review that and potentially make external if @Dal-Papa agrees it looks good upon review!

[2021-09-20 06:31] ctkochan22 commented on #5323
Haven't been able to reproduce yet. But if you want to follow the production flow on dev/sim. Here are the steps:

1. Get iOS simulator running, along with your ngrok magic
2. Create a new account
    <img src="https://user-images.githubusercontent.com/12980144/133942657-874c69e2-aa50-4d72-ade3-690844fdd977.png" height="500">
3. Run your bedrocksql, and update the job `"SetCashPassword"` so that t

[2021-09-20 06:49] MonilBhavsar commented on #5333
I think there is misunderstanding, @MitchExpensify meant alignment of Button text and not whole button. The `Get started` text is not vertically aligned and _slightly_ above vertical axis.

[2021-09-20 07:02] Christinadobrzyn commented on #4819
7 days since PR deployed - paid @dklymenk in Upwork (including $250 bonus for finding and fixing the bug) and closed the job.

[2021-09-20 07:02] #4819 closed

[2021-09-20 07:05] Christinadobrzyn commented on #5008
Looks like we're still waiting on proposals for this! Doubled the price to $1000

[2021-09-20 07:13] Christinadobrzyn commented on #4668
Hey @Santhosh-Sellavel  - following up on payment for reporting this issue. Just some background on why this issue was closed. Before you reported this, this fix was already being worked on, internally, between our eng team and design team. This is an example of why we’re now asking contributors to post a proposal in #expensify-open-source and wait for our eng team/QA team to review it to make sur

[2021-09-20 07:15] Christinadobrzyn commented on #4775
Making a note to myself to hire @Santhosh-Sellavel for reporting this related [issue](https://github.com/Expensify/App/issues/4668) when this proposal is off hold.

[2021-09-20 10:37] akshayasalvi commented on #5184
Sure that could work.

[2021-09-20 10:55] kidroca commented on #5303
I've made a couple of more experiments that reduce the scope to using a `Modal` here:
https://github.com/Expensify/App/blob/df229d1f7c6933ce5efcfde4b77ddf89c219acbb/src/libs/Navigation/AppNavigator/MainDrawerNavigator.js#L49

I've imported `react-native-modal` directly and replaced the `<PopoverMenu />` with `<Modal isModalVisible={true}>{/* some sample content */}</Modal>` and the modal would sti

[2021-09-20 10:57] Beamanator commented on #4981
Ok thinking about this again, I think I can edit PullerBear to not be assigned if the PR is in a draft state. If that works, scenario 1 above won't be an issue. Will look into this this week, time permitting

[2021-09-20 11:21] Beamanator commented on #5265
@Hanaffi yes you should get paid for reporting the issue! I believe @MitchExpensify already has that under control :D And I also believe you will get paid at the same time as the person fixing the issue (Rajat)

[2021-09-20 11:36] parasharrajat commented on #5303
@kidroca I spent some time yesterday figuring out this. It seems that isVisible prop is not being passed to the Modal for Popovermenu on load. It was strange experience. I debugged Modal component and props.visible was never true for this case. May be yes it has to do with Drawer but I haven't looked at that yet.

[2021-09-20 11:52] michelle-thompson commented on #5239
Maybe something like this?
![image](https://user-images.githubusercontent.com/43361905/133997458-f03efa13-0679-402d-b2bc-0fbf7e24c1ba.png)

Also tried replicating our current Chronos bot design, but feels a little too detailed at such a small size to me.
![image](https://user-images.githubusercontent.com/43361905/133997659-1614946e-3fe0-48bb-afa1-b97d80282489.png)

[2021-09-20 11:56] kidroca commented on #5303
@parasharrajat

It is being passed, there are other modals that are rendered besides the one we're discussing, you'll be getting `isVisible: false` because of them. So if you're just logging something  (or breaking in the debugging) out from `src/components/Modal/BaseModal.js` it would of course log `false` for the closed modals

I've just double checked and `isVisible` is passed correctly to the

[2021-09-20 12:10] parasharrajat commented on #5239
I like the second one.

[2021-09-20 12:15] parasharrajat commented on #5303
I made sure to test this scene, but `react-native-modal` instance is not receiving `isVisible:true` for the FAbMenu modal on load. Yeah, `baseModal` is correctly seeing true for isVisible prop.
Then I directly passed true to `react-native-modal` instance in BaseModal but isVisible was not passed `true` for a single render.

I tried reducing the render to minimal but I found that it's not affected

[2021-09-20 12:21] #5339 closed

[2021-09-20 12:31] Hanaffi commented on #5265
@Beamanator Thanks for clarification :D

[2021-09-20 12:43] iwiznia commented on #5266
Oh, no idea, have not worked with Froala at all.

[2021-09-20 13:01] Beamanator commented on #4981
Hmm from these GH docs ([Draft Pull Requests](https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests#draft-pull-requests)), it seems like `CODEOWNERS` shouldn't be respected when a PR is created in a draft state 🤔

[2021-09-20 13:03] Santhosh-Sellavel commented on #4668
@Christinadobrzyn Thanks for the update!

[2021-09-20 13:04] puneetlath commented on #5184
Ok great. And can you share your proposal at a high level for how you would handle each of the requirements?

[2021-09-20 13:06] iwiznia commented on #5233
I don't follow what you are proposing. Why is the existing isLoading property not working as expected?

[2021-09-20 13:16] Beamanator commented on #4981
Ok after a bit more thinking, since `CODEOWNERS` will **always** request `@Expensify/pullerbear` as a reviewer once the PR is in a "ready for review" state (either when first created or after initially converted from Draft to "ready for review"), I can't think of a scenario when an engineer WON'T already be assigned to review.

- If PullerBear finds a CME, they'll be assigned.
- If PullerBear does

[2021-09-20 13:29] kevinksullivan commented on #5333
Ah, got it. Thanks for clarifying @MonilBhavsar

[2021-09-20 13:29] akshayasalvi commented on #5184
In extension to what I've mentioned in this comment https://github.com/Expensify/App/issues/5184#issuecomment-917120702

Here's what I'll add.

1. We should add `keyboardType={CONST.KEYBOARD_TYPE.NUMERIC}` to `ssn`, `taxIDNumber`.

2. For phone numbers, we'll use `keyboardType={CONST.KEYBOARD_TYPE.PHONE_PAD}` to allow special symbols.

3. It seems `Str.isValidPhone` only allows number values and n

[2021-09-20 14:01] equationalapplications commented on #5008
I am not able to find Chronos in the chat search still running on my localhost

https://user-images.githubusercontent.com/65428263/134015518-8f149413-ea00-4fd9-8209-111c4a4a99c4.mp4

.

[2021-09-20 14:06] equationalapplications commented on #5008
Also, I cannot add a test account from the development web server on localhost

https://user-images.githubusercontent.com/65428263/134016241-e3f950fc-6354-490f-bb85-24eaba73005f.mp4

.

[2021-09-20 14:17] mananjadhav commented on #4544
@sonialiap @chiragsalian I guess I wasn't paid for this one. Can you help me confirm?

[2021-09-20 14:19] michaelhaxhiu commented on #4678
I added the $100 as a milestone to the Upwork job.

[2021-09-20 14:20] mananjadhav commented on #4226
Are we still tracking this or decided to close it?

[2021-09-20 14:29] mananjadhav commented on #4609
@mallenexpensify Not able to reproduce this in my iPhone 11 now. We've reduced the height of the Emojpicker in landscape mode with https://github.com/Expensify/App/issues/4541.

If nobody else is able to reproduce then we're good to close this?

[2021-09-20 14:34] mananjadhav commented on #5234
@kadiealexander Is this PR merge also delayed with the `n6` release?

[2021-09-20 14:36] mananjadhav commented on #5185
Will wait for @kevinksullivan's response for this one.

[2021-09-20 14:38] michaelhaxhiu commented on #4398
Paid 🎬 .

[2021-09-20 14:54] parasharrajat commented on #4609
This seems a duplicate issue and It was already worked in $4541. @mananjadhav you should be good to close this as nobody is assigned and you are the owner.

[2021-09-20 14:57] MonilBhavsar commented on #5333
No worries, The issue is only reproducible on iOS and Android device. Can't reproduce on Mobile screen on web.

[2021-09-20 15:00] mananjadhav commented on #5233
I am not sure if this and https://github.com/Expensify/App/issues/5324 are related

[2021-09-20 15:10] parasharrajat commented on #5333
### Proposal
1. We use large button styles for `Get Started` button. But `Lineheight` is wrong here. It is set to `18px` for `Fontsize` of `17` which is not correct. we don't need the `lineheight`. If we remove then it's vertically centered but I am not sure what would be the side-effects of it as this button is used everywhere in the app.

2. So another way would be to set a correct lineheight. b

[2021-09-20 15:16] iwiznia commented on #5233
hmmmm true, they look like the same issue, no?

[2021-09-20 15:16] Beamanator commented on #4981
@kadiealexander I'm removing `n6-hold` from this issue b/c this change is purely internal, and only relates to how pull request reviewers are automatically assigned :)

[2021-09-20 15:19] shawnborton commented on #5333
Hmm I feel like we should just be able to use the standard button component we use elsewhere right? Basically this particular button shouldn't be an exception. For large buttons, the font size is actually 15px and the line height is 20px (I think?), but the overall button height is 52px. As long as the text is vertically centered within that area, we're good.

[2021-09-20 15:21] parasharrajat commented on #5333
Yeah, It should be affecting every large button in the app. large button is set to 17px font size and ligne height of 18px in the app.
Should I make it to 15px font and line-height of 20 then?

[2021-09-20 15:22] isagoico commented on #4861
Issue not reproducible during KI retests. (Fixed 🎉)

[2021-09-20 15:22] shawnborton commented on #5333
I think so, yes.

[2021-09-20 15:25] justinpersaud commented on #5266
posted in #engineering-chat for some feedback https://expensify.slack.com/archives/C03TQ48KC/p1632150730436900

[2021-09-20 15:25] parasharrajat commented on #5333
Interesting code speaks a different language.
[code]

Every large text in-app is using `fontSizeLarge`.

[2021-09-20 15:28] shawnborton commented on #5333
I think 17 is mostly used for the page title, for example the `Split $20` in this quick screenshot:
![image](https://user-images.githubusercontent.com/2319350/134029237-ffff600f-0baf-4e58-832f-37e582dd5d0e.png)

15 is generally the standard size we should be using for all text.

[2021-09-20 15:29] parasharrajat commented on #5233
We should divide them into two where #5324 handles the backend part `Validation link is not received`. but that could be a side-effect of this issue so it's better to handle this first.

[2021-09-20 15:32] isagoico commented on #4867
https://github.com/Expensify/App/issues/5286

[2021-09-20 15:32] isagoico commented on #5027
https://github.com/Expensify/App/issues/5286

[2021-09-20 15:32] isagoico commented on #5011
https://github.com/Expensify/App/issues/5286

[2021-09-20 15:33] isagoico commented on #4994
Issue reproducible during KI retests.

[2021-09-20 15:34] isagoico commented on #4993
Issue reproducible during KI retests.

[2021-09-20 15:35] isagoico commented on #4995
Issue reproducible during KI retests.

[2021-09-20 15:35] isagoico commented on #5102
Issue reproducible during KI retests.

[2021-09-20 15:36] isagoico commented on #5106
Issue reproducible during KI retests.

[2021-09-20 15:37] shawnborton commented on #5343
I think it should look like this - thoughts?
![image](https://user-images.githubusercontent.com/2319350/134030653-a9aeb82d-5cfb-44bd-900a-94ad5b9ae4eb.png)

[2021-09-20 15:38] isagoico commented on #5113
Issue reproducible during KI retests.

[2021-09-20 15:38] isagoico commented on #5188
Issue reproducible during KI retests.

[2021-09-20 15:38] isagoico commented on #5286
Issue reproducible during KI retests.

[2021-09-20 15:39] shawnborton commented on #5332
Personally I don't think this is an issue, I think the text is fine where it is and we designed it to look like it currently does. I think it will look better without parentheses though.

[2021-09-20 15:39] nikdev15 commented on #5233
@iwiznia The isLoading property is set to true when the resend button is clicked which will start the loading action. As it is not set to false again the isLoading property is always true and the loading action takes place infinitely. We should add a function that will set the isLoading property to false after a specified amount of time to stop the loading action.

[2021-09-20 15:40] isagoico commented on #2499
https://github.com/Expensify/App/issues/5291 - @Jules / @jason - Reproducible

[2021-09-20 15:41] isagoico commented on #4855
Issue reproducible during KI retests.

[2021-09-20 15:41] isagoico commented on #4997
Issue reproducible during KI retests.

[2021-09-20 15:41] isagoico commented on #5291
Issue reproducible during KI retests.

[2021-09-20 15:42] isagoico commented on #4754
Issue reproducible during KI retests.

[2021-09-20 15:43] michaelhaxhiu opened #5353 "This is a test"
Test

[2021-09-20 15:44] shawnborton commented on #5347
Ah I simply mentioned that I noticed another app that did instant tooltip launching after at least one tooltip had been launched. Not necessarily suggesting we need to do the same here, but it might be a nice-to-have.

[2021-09-20 15:45] isagoico commented on #5103
Issue not reproducible during KI retests.

[2021-09-20 15:45] isagoico commented on #5159
Issue reproducible during KI retests.

[2021-09-20 15:45] shawnborton commented on #4892
That works for me.

[2021-09-20 15:46] michaelhaxhiu commented on #5353
Tested with @PrashantMangukiya

Thanks bro

[2021-09-20 15:46] #5353 closed

[2021-09-20 15:50] puneetlath commented on #5184
Sounds good. @SofiedeVreese can you go ahead and hire @akshayasalvi in Upwork please?

[2021-09-20 15:50] iwiznia commented on #5233
ok, got it.

I agree with this, but not with:

We should be able to set it to false when the request times out or fails, no? Why a set time instead of when we know the action failed?

[2021-09-20 15:50] parasharrajat commented on #5333
You are correct. This large text is used for Headers only. Then we should update the button to use the 15px and 20 height.
I will also rename the variable so that it does not confuse others.

[2021-09-20 15:51] mountiny commented on #5347
No worries. I agree it is nice-to-have and Rajat quickly found a solution for it so it is worthy update. However, not a priority for n6 for sure.

[2021-09-20 15:57] mananjadhav commented on #5233
I tried looking at a quick resolution for this but didn't find it. I had checked we're using `account.loading` prop for `isLoading` in `Button`.

I had also checked that  all the three functions `reopenAccount`, `resendValidationLink` and `resetPassword`  have a finally block which sets `loading: false`.

[2021-09-20 15:59] mananjadhav commented on #4995
I'll have my changes pushed by tomorrow.

[2021-09-20 16:00] roryabraham commented on #5279
Is this checklist blocked on the verification code bug for switching between E.com and NewDot?

[2021-09-20 16:01] parasharrajat commented on #5027
I did a quick research.
This is how the app works now.

1. First we open the main page using /r/ route which first opens the Drawer screen and then a redirect happens to load the report thus. Drawer main page is shown.

2. Now when you reload the app the Url is not `/r/` instead `/r/someid` which is matched with the screen in the drawer thus the screen rendered by navigation lib is the report scre

[2021-09-20 16:01] roryabraham commented on #4897
Not sure that this really needs to be on hold, because it's already been deployed to staging.

[2021-09-20 16:03] equationalapplications commented on #5008
Also, I cannot find Chronos in new.expensify.com in the browser.
![Screenshot_20210920-115948](https://user-images.githubusercontent.com/65428263/134035097-bd3b7793-1948-471e-a8d4-32a43c777bad.png)

[2021-09-20 16:05] isagoico commented on #5279
Yes, we were unable to complete QA for https://github.com/Expensify/App/pull/5244

[2021-09-20 16:21] roryabraham commented on #5331
Heads-up, we went out-of-order here and created an Upwork job before this was marked as External by a CME. Fortunately, this can be worked on externally and @parasharrajat's proposal looks good so we can move forward with it. @adelekennedy feel free to hire @parasharrajat for the already-created Upwork job [here](https://www.upwork.com/jobs/~01c0243e4e63a32258).

[2021-09-20 16:37] roryabraham commented on #5303
I saw the `isVisible` prop being passed correctly to the `react-native-modal` from the `SidebarScreen` -> `PopoverMenu` -> `BasePopoverMenu` -> `ReactNativeModal`. So I think @kidroca is correct that `isVisible` is being passed correctly and that there's some race condition at play with the `drawerContent`.

[2021-09-20 16:39] roryabraham commented on #5303
Tried simply wrapping the `SidebarScreen` with `DrawerContentScrollView` as suggested by the docs [here](https://reactnavigation.org/docs/drawer-navigator/#providing-a-custom-drawercontent) but that didn't solve the problem.

[2021-09-20 16:41] marcaaron commented on #5306
I didn't experience any bug so I don't have a reproduction, it's just something I noticed that **must** be cleaned up.  If something does go wrong then my guess would be the app would crash (I don't have time to verify this right now). As long as this API returns a jsonCode 200 we won't have anything to worry about (but I'm pretty sure it can return other codes).

[2021-09-20 16:44] flodnv commented on #5328
Sorry @SofiedeVreese I fat fingered that...

[2021-09-20 16:54] isagoico opened #5355 "[HOLD for payment 2021-11-04] Log in - Forgot link in the Password page takes full width and the white area is also clickable"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Enter an email
3. Tap on the area next to "Forgot?"

## Expected Result:
Area should not be clickable.

## Actual Result:
Forgot link

[2021-09-20 16:56] shawnborton commented on #5342
One idea is to make it another checkbox:
![image](https://user-images.githubusercontent.com/2319350/134042691-b74596ae-0b24-41f3-9213-0997466965a2.png)

Otherwise I think it's basically fine as it is with just some formatting love:
![image](https://user-images.githubusercontent.com/2319350/134042799-07bb50d8-5758-4ee5-b0a0-1b79369d102b.png)

[2021-09-20 16:59] parasharrajat commented on #5235
The proposal [here](https://github.com/Expensify/App/issues/5331#issuecomment-922102573) will also fix this issue but that solution only works for the WorkspaceSidebar.

On the other hand, https://github.com/Expensify/App/issues/5235#issuecomment-919596404 suggests a generic solution that will be immediately applied to any part of the app. it is useful when we want to embed child screens in the pa

[2021-09-20 16:59] akshayasalvi commented on #5355
Thanks for posting this. I experienced it and reported this. I've also posted a solution in the slack thread. https://expensify.slack.com/archives/C01GTK53T8Q/p1632141954430600?thread_ts=1632141890.430100&cid=C01GTK53T8Q

**Proposal**

In the `PasswordForm`, the TouchableOpacity takes the full-width. We already use `changeExpensifyLoginLinkContainer` style for the `Go Back` link. We could do the s

[2021-09-20 17:01] parasharrajat commented on #5303
I ran a debugger over the `react-native-modal` and the logic inside never ran where we are checking `props.isvisible` is true in the onLoad scene.

I removed the nested props and directly set the isVisible true in BaseModal and the result was the same.

I am not what could be the reason that reacts is not passing that prop correctly.

[2021-09-20 17:03] mountiny commented on #5355
@akshayasalvi Thank you for bringing this up and proposing the solution as well.

I have added External label, but please bear in mind you might encounter long delays now as we are working hard to polish the App core features and this is not a blocker. I like you solution, so I would be happy to hire you for this job, once it will be posted. Apologies for the delay and thank you for understanding!

[2021-09-20 17:05] akshayasalvi commented on #5355
Thanks a lot for informing @mountiny. Will wait for the cooling period :)

[2021-09-20 17:06] parasharrajat commented on #5331
PR is up. there was no N6-hold so I thought its urgent. It also solves https://github.com/Expensify/App/issues/5235#issuecomment-923107457.

[2021-09-20 17:10] parasharrajat commented on #4994
No engineer is assigned here.

[2021-09-20 17:11] roryabraham commented on #5303
Maybe we have to make sure the progress has settled before opening the Modal

Was trying this, but ran into an issue where this prop just isn't present: https://github.com/react-navigation/react-navigation/issues/9878

[2021-09-20 17:15] aldo-expensify commented on #5028
Updated PR with main - resolve conflicts

[2021-09-20 17:17] chiragsalian commented on #5337
Yeah I'm not sure how to reproduce just yet. App seems fine to me. Maybe some corrupted localStorage data. Hard to tell atm so i'll apply the label and demote it until we get more reports or reproduction steps.

[2021-09-20 17:26] nikdev15 commented on #5233
Although there is a block that sets the loading prop to false it is not being executed. @iwiznia I have sent the solution to your personal Hotmail account.
Best Regards,
Nikhil Isaac M

[2021-09-20 17:27] mountiny opened #5356 "Change Assignee copy in Workspace settings to `Select all`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Coming from Slack thread [here](https://expensify.slack.com/archives/C020EPP9B9A/p1632154896296600).

We decided to change the `Assignee` word on `/workspace/<policy-id>

[2021-09-20 17:30] mananjadhav commented on #5233
@nikdev15 Quick note from a fellow contributor. Generally all jobs/issues are discussed on GH/Slack Open source channel. Refer to this [Contributing Guidelines](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md). Shoot a comment if you have any questions on the process, would be happy to help :)

[2021-09-20 17:41] roryabraham commented on #5303
In the meantime, can we maybe fix this more consistently by just increasing the timeout to 1500 ms or something? AFAICT that wouldn't result in a very adverse effect in the UX – when you open the app for the first time, 1.5 seconds later the global create menu opens. This is prettymuch the effect we want, and the minor delay likely isn't going to have an effect on usability. This one-time action i

[2021-09-20 17:59] kidroca commented on #5303
I think if we're in a hurry and it wont hurt UX, it'll be ok for the moment
I've tried different things, but nothing helped, like:
- removing `mode="modal"` from `AuthScreens`
- adding `detachInactiveScreens={false}` to `BaseDrawerNavigator`

We should at least change the logic for the check to be **inside** the `setInterval` e.g.

[code]

This way we're using the latest `isFirstTimeNewExpensifyUs

[2021-09-20 18:00] parasharrajat commented on #5303
Yeah, an average delay should be added as it does not feel good when using the first time, active modal was shown instead it should animate before the user.

[2021-09-20 19:12] bondydaa commented on #5279
checking off https://github.com/Expensify/App/pull/5244 because we reverted it on https://github.com/Expensify/App/pull/5360 so we could unblock this checklist

[2021-09-20 19:12] Jag96 commented on #5279
https://github.com/Expensify/App/pull/5244 has been reverted in https://github.com/Expensify/App/pull/5360, CPing to staging. Once its on staging I'll check it off the list and move forward w/ the deploy.

[2021-09-20 19:18] luacmartins commented on #5343
Look good! Putting up a PR now.

[2021-09-20 19:22] iwiznia commented on #5233
Yep, what @mananjadhav said. Please post the solution here.

[2021-09-20 19:22] parasharrajat commented on #5008
Finally, the solution is found.

### Proposal
1. Li items are extending beyond the parent width and trying `flexShrink:1` which was suggested from Lib was not working as the container was allowing unrestricted width.

To fix this we have to restrict the container's width and then respectively `ul` tags.

We have to add styles for **ul & ol** in
https://github.com/Expensify/App/blob/0a3da2e0bebf510

[2021-09-20 19:26] johnmlee101 commented on #5008
Looks good to me @parasharrajat !

[2021-09-20 19:26] johnmlee101 commented on #5008
cc @Christinadobrzyn

[2021-09-20 19:34] adelekennedy commented on #5331
@parasharrajat hired you in Upwork!

[2021-09-20 19:38] parasharrajat commented on #5331
@adelekennedy I think `helpWanted` can be removed now and I can be assigned to this.

[2021-09-20 19:58] parasharrajat commented on #4211
No activity on the issue: https://github.com/react-navigation/react-navigation/issues/9936.
Feature request: https://react-navigation.canny.io/feature-requests/p/allow-disabling-backhandler-subscription-in-drawerview

[2021-09-20 20:30] Jag96 commented on #5303
Agreed, this seems like the easiest fix right now

+1 as well

I agree adding some onboarding indications could make the UX better here, but I think the 1500ms will work for now.

[2021-09-20 20:35] Jag96 commented on #5279
Staging deploy was a success, checking off https://github.com/Expensify/App/pull/5360. Looks like there aren't any blockers left here so going to close and proceed w/ the prod deploy!

:shipit:

[2021-09-20 20:35] OSBotify commented on #5279
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2021-09-20 20:38] Jag96 commented on #5279
:shipit:

[2021-09-20 20:38] #5279 closed

[2021-09-20 20:41] aldo-expensify commented on #5309
I understand that we process the received emails with this function [parseEmailHTMLContent](https://github.com/Expensify/Web-Expensify/blob/81d8709d59c088bd259a54f7f8c29769c961b0e1/lib/EmailUtils.php#L132)

In the case of gmail with signature, we remove the signature [here](https://github.com/Expensify/Web-Expensify/blob/81d8709d59c088bd259a54f7f8c29769c961b0e1/lib/EmailUtils.php#L215-L219). The r

[2021-09-20 20:41] botify commented on #4861
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.0.98-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pulls/5169\n

If no regressions arise, payment will be issued on 2021-09-27. :confetti_ball:

[2021-09-20 20:41] botify commented on #5047
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.0.98-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pulls/5214\n

If no regressions arise, payment will be issued on 2021-09-27. :confetti_ball:

[2021-09-20 20:42] botify commented on #5103
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.0.98-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pulls/5199\n

If no regressions arise, payment will be issued on 2021-09-27. :confetti_ball:

[2021-09-20 20:42] botify commented on #5115
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.0.98-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pulls/5192\n- https://github.com/Expensify/App/pulls/5243\n

If no regressions arise, payment will be issued on 2021-09-27. :confetti_ball:

[2021-09-20 20:42] OSBotify opened #5368 "Deploy Checklist: New Expensify 2021-09-20"
**Release Version:** `1.1.0-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/5112
- [x] https://github.com/Expensify/App/pull/5118
- [x] https://github.com/Expensify/App/pull/5155
- [x] https://github.com/Expensify/App/pull/5211
- [x] https://github.

[2021-09-20 20:42] botify commented on #4543
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.0.98-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pulls/5039\n

If no regressions arise, payment will be issued on 2021-09-27. :confetti_ball:

[2021-09-20 20:42] botify commented on #4971
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.0.98-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pulls/5190\n

If no regressions arise, payment will be issued on 2021-09-27. :confetti_ball:

[2021-09-20 21:09] roryabraham commented on #5296
I think that a valuable next-step for this issue would be to take some lessons/evidence from [this issue](https://github.com/Expensify/App/issues/5303) and submit a detailed bug report to react-navigation with a minimal reproduction of the issue. From there, we can see what activity the issue generates/whether the maintainers pick it up or whether we should investigate the possibility of submittin

[2021-09-20 21:10] roryabraham commented on #5303
Noticing a lot of people are assigned to this issue, but I'm going to submit a pull request to increase the timeout. Please DM me if you're already working on this.

[2021-09-20 21:22] kadiealexander commented on #5234
Thanks for checking @mananjadhav, yes this is on hold. Please feel free to proceed but it won't be merged, and we'll provide a $100 bonus on this job for the wait.

[2021-09-20 21:45] kadiealexander commented on #4678
@MirFahad58 to clarify, you can feel free to work on this and submit it for review, we just are unable to merge any changes until after 9/24. 😊

[2021-09-20 21:47] mountiny commented on #5356
PR is in review

[2021-09-20 21:57] roryabraham commented on #4977
No update here

[2021-09-20 22:00] chiragsalian commented on #4544
Looks like @sonialiap, is OOO today. Sonia when you get the chance can you pay manan on Upwork.
@mananjadhav, if there hasn't been any update in 2 days feel free to ping again and I'll notify the team to ensure you get paid.

[2021-09-20 22:04] roryabraham commented on #5183
The [fix for this](https://github.com/Expensify/App/pull/5208) was + deployed to production. cc @mountiny it seems like maybe the deploy comment for issues messed up here and skipped this guy?

Anyways, let's start the 7-day regression timer.

[2021-09-20 22:15] mountiny commented on #5326
Deployed to to STAGING! Something is broken about the links it seems like.

[2021-09-20 22:26] chiragsalian commented on #5193
From what i can tell the image obtained from the server is the correct size, its just when we scale it down [here](https://github.com/Expensify/App/blob/a0ca78c66464e8f2064ab0dfbc43a8b6549d7090/src/components/ImageView/index.native.js#L108-L119) we seem to loose image quality. We could always load an image with 100% width as the parent and allow the height to be scrolled. This could solve the prob

[2021-09-20 22:32] mountiny commented on #5103
This has been a bug, caused by today's deploy. Updated the title back to what it was 🙇

[2021-09-20 22:33] mountiny commented on #4971
This is a bug, caused by today's deploy and some weird GH API behaviour. Updated the title back to what it was 🙇

[2021-09-20 22:34] mountiny commented on #4543
This message is a bug, caused by today's deploy and some weird GH API behaviour. Updated the title back to what it was 🙇

[2021-09-20 22:35] mountiny commented on #5115
This message is a bug, caused by today's deploy and some weird GH API behaviour. Updated the title back to what it was 🙇

[2021-09-20 22:36] mountiny commented on #5047
This message is a bug, caused by today's deploy and some weird GH API behaviour. Updated the title back to what it was 🙇

[2021-09-20 22:37] mountiny commented on #4861
This message is a bug, caused by today's deploy and some weird GH API behaviour. Updated the title back to what it was 🙇

[2021-09-20 22:40] isagoico commented on #5368
Starting QA

[2021-09-20 23:04] Jag96 commented on #5368
Cherry-picking https://github.com/Expensify/App/pull/5369 to staging, will update the list once its done

[2021-09-20 23:04] mountiny commented on #5183
@roryabraham You are right, but seems like it wasn't related to the new changes but again to that weird discrepancy when Github API returned not the latest, but second latest release. Internal link [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1632177953363600).

The comment was left for example [here](https://github.com/Expensify/App/issues/5103#issuecomment-923281616) on issue from pr

[2021-09-20 23:15] AndrewGable commented on #4743
Ok great, thanks for confirming!

[2021-09-20 23:22] Jag96 commented on #5368
Checking off https://github.com/Expensify/App/pull/5357

![image](https://user-images.githubusercontent.com/3981102/134089203-83b711ae-7a03-402a-9525-b5335ad8f677.png)

[2021-09-20 23:26] SofiedeVreese commented on #5184
Hey @akshayasalvi looks like I haven't received a proposal from you in Upwork yet. Would you be able to submit your proposal there too so I can hire you via Upwork? Thanks! 🙌

[2021-09-20 23:59] marcochavezf commented on #5232
Created a [PR](https://github.com/Expensify/App/pull/5381) and is ready for review 👍🏽

[2021-09-21 00:17] MitchExpensify commented on #5303
No closed Botify

[2021-09-21 00:27] mallenexpensify commented on #5021
@Santhosh-Sellavel can you apply at https://www.upwork.com/jobs/~0118968e3cb1d7b3c5 so I can hire you? thx

[2021-09-21 00:32] mallenexpensify commented on #4417
@aman-atg and @Anass-ABEA , you should both be paid in Upwork, thanks for the help!

[2021-09-21 00:32] #4417 closed

[2021-09-21 00:34] luacmartins commented on #5035
Issue deployed to prod 7 days ago. Closing.

[2021-09-21 00:34] #5035 closed

[2021-09-21 00:41] arielgreen commented on #4507
Paid.

[2021-09-21 00:41] #4507 closed

[2021-09-21 00:43] roryabraham commented on #5303
Why no closed?

[2021-09-21 00:44] Luke9389 commented on #5158
We will loop back around to this after the n6-hold is lifted

[2021-09-21 01:12] MitchExpensify commented on #5303
I thought we closed when the PR hit production

[2021-09-21 01:36] kavimuru opened #5382 "Workspace - Manage cards button is not responding"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any expensifail account
3. Go to Workspace
4. Select the Expensify Card
5. Click on Manage cards button
## Expected

[2021-09-21 01:38] MitchExpensify commented on #4775
Not overdue

[2021-09-21 01:38] MitchExpensify commented on #4545
Not overdue

[2021-09-21 01:50] kavimuru opened #5383 "VBA flow - Different error message modal appears for choose an account field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #5219
## Action Performed:
1. Navigate to /bank-account/new
2. Select "Log into your bank"
3. Enter plaid test credentials (Bank: Chase, Us

[2021-09-21 02:42] mananjadhav commented on #4544
Thanks for the update @chiragsalian.

[2021-09-21 02:44] aldo-expensify commented on #5324
I was able to make this happen once in my local dev with the IOS simulator..

https://user-images.githubusercontent.com/87341702/134103165-5c219970-5c45-45ca-9c21-1aed049e07c4.mov

My suspicions are that we are trapped re-queuing the request to get a new validation code here:

https://github.com/Expensify/App/blob/986c5213932cf544c2e9c486abf05c43bc1413f9/src/libs/Network.js#L184-L189

because the

[2021-09-21 02:51] akshayasalvi commented on #5184
@SofiedeVreese Done.

[2021-09-21 02:55] mateocole commented on #5299
@Julesssss would this issue be used to track the status and update info as we receive it from Onfido? Or, is there actions a member of engineering should be assigned to this to follow up on?

[2021-09-21 04:04] kevinksullivan opened #5384 ""Forgot" password link in NewDot is broken"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Enter email into NewDot sign in screen
2. Select "forgot"
3. Select the link in email
4. Enter new password

## Expected Result:
The new password

[2021-09-21 04:08] sophiepintoraetz commented on #5384
@kevinksullivan - confirming that this is happening across all platforms?

[2021-09-21 04:17] kevinksullivan commented on #5384
No, this is only happening on NewDot @sophiepintoraetz .

[2021-09-21 04:23] roryabraham commented on #5303
For external contributors we close the issue 7 days after the fix has been deployed to production. For internal contributors we generally close it right away (and reopen if the PR fails QA)

[2021-09-21 04:29] sophiepintoraetz commented on #5384
Sorry, let me clarify - yes new dot but newdot on iOS/web/desktop, etc

[2021-09-21 05:08] JmillsExpensify commented on #5341
Ok so coming back to this one, I kinda wonder if we should instead be following a different route entirely. Basically, for any user that goes down the VBA flow:

 - If the user's primary login is a private domain, then don't show them the website field. Instead, parse out the lastPart of their email and store their domain for Stripe's website parameter.
  - If the user's primary login is a public

[2021-09-21 05:13] JmillsExpensify commented on #5291
Whoops, I've been in the trenches of N6. Just posted to Upwork: https://www.upwork.com/jobs/~01b0af8ac91b6afc7b

[2021-09-21 05:16] JmillsExpensify commented on #5321
@Jag96 I agree with @thesahindia. We already have a separate issue for that one

[2021-09-21 05:16] JmillsExpensify commented on #5082
Still holding per Kadie's message

[2021-09-21 05:17] JmillsExpensify commented on #3922
Still holding per the N6 hold label.

[2021-09-21 05:18] JmillsExpensify commented on #3921
Holding per the N6 hold label.

[2021-09-21 05:20] nikdev15 commented on #5233
@mananjadhav thank you for letting me know. I have seen in the code that the loading prop is set by the finally() function, this does not execute because a finally() function does not get executed without a try and catch block. Ultimately the loading prop is never set to false and the loading action continues infinitely until the page is refreshed. I would implement the try and catch block first,

[2021-09-21 05:50] Christinadobrzyn commented on #5286
Asked Kadie to review the other language GHs to see if they might overlap - decided this issue is different.

Created job in Upwork

Internal posting - https://www.upwork.com/ab/applicants/1440191403556229120/job-details
External posting - https://www.upwork.com/jobs/~01010f498566c1d09e

[2021-09-21 06:22] Christinadobrzyn commented on #5008
Awesome! Hired @parasharrajat in Upwork.

[2021-09-21 06:40] mananjadhav commented on #5233
Can you show an example? I was trying this https://jsfiddle.net/bon0utsr/ and it did call the `finally` block without `try and catch`

[2021-09-21 07:25] aman-atg commented on #4417
@mallenexpensify, Can you see if the bonus is paid for this one.

[2021-09-21 07:27] MariaHCD commented on #5383
I believe this is expected behaviour according to [this](https://github.com/Expensify/Expensify/issues/176726) issue, error modals were replaced with messages shown in the right pane of the VBA flow

[2021-09-21 07:27] #5383 closed

[2021-09-21 08:46] Dal-Papa commented on #4997
Was OOO last week, will provide an update soon.

[2021-09-21 08:46] Dal-Papa commented on #5188
Was OOO last week, will provide an update soon.

[2021-09-21 09:05] shawnborton commented on #5344
Maybe we could do something like this?
![image](https://user-images.githubusercontent.com/2319350/134143464-5c2d1a31-fcc3-4870-a0ba-bbf49b8062db.png)

[2021-09-21 11:04] iwiznia commented on #5233
Yeah, @mananjadhav is right, I don't think that's the problem.

[2021-09-21 12:27] mountiny opened #5385 "Update Workspace Help button copy to 'Call' to match OldDot"
# Problem
In Concierge messages, we refer to guide calls button as Call and Help depending on if the message is aimed to OldDot or NewDot. However, the messages are visible on both platforms causing confusion.

For context, check [this issue](https://github.com/Expensify/Expensify/issues/176355) and specifically, [this comment](https://github.com/Expensify/Expensify/issues/176355#issuecomment-9234

[2021-09-21 12:32] #5188 closed

[2021-09-21 12:37] mountiny commented on #5385
Being reviewed.

[2021-09-21 12:57] trjExpensify commented on #5340
Upwork issue here: https://www.upwork.com/jobs/~0123ace70fab645970

[2021-09-21 13:28] #5385 closed

[2021-09-21 13:28] UHaider commented on #5340
We can use **DateTimePicker** from '@react-native-community/datetimepicker', instead of TextInputWithLabel.

[2021-09-21 13:30] NicMendonca commented on #4896
Paid!

[2021-09-21 13:30] #4896 closed

[2021-09-21 14:13] mountiny commented on #5355
I will add `Weekly` label for now and we should be able to sort this out next week 🎉

[2021-09-21 14:38] nikdev15 commented on #5340
Proposal
We can install a react-native npm package` react-native-date-picker` (https://www.npmjs.com/package/react-native-date-picker)  and use the date-picker to set it as the default date-picker across both android and ios platforms as it works in both. We can easily add the date picker to any number of pages wherever it is required and customize it according to our need, eg. we can also use the

[2021-09-21 14:50] puneetlath opened #5388 "Improve error message when incorrect validation amounts are used"
## Action Performed:
1. Create a new workspace
2. Sign up for the Expensify Card
3. Add a bank account
4. Reach the stage of entering your three validation amounts
5. Enter the wrong amounts
6. See the error below

![image](https://user-images.githubusercontent.com/1371996/134193120-83b74db3-0d87-4344-b16a-bef4661788dc.png)

## Expected Result:
Ideally the error would have a clearer message. It's

[2021-09-21 15:37] mallenexpensify commented on #4357
Paid @Santhosh-Sellavel with bonus, apologies for delay, our new automated update messages should prevent this in the future.

[2021-09-21 15:37] #4357 closed

[2021-09-21 15:38] mallenexpensify commented on #4941
Paid @Santhosh-Sellavel with bonus in Upwork, thanks!

[2021-09-21 15:38] #4941 closed

[2021-09-21 15:41] isagoico commented on #5319
This is also reproducible in other hyperlinks around the app (Only on Android)

## Android - Links - Links are not aligned with text.

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go to Concierge

## Expected Result:
Links are rendered on the same line as text.

## Actual Result:
Links are not aligned with text. This can bee seen in any hyperlinked text around the app.

##

[2021-09-21 15:45] isagoico opened #5389 "Log in - Error message doesn't disappear when editing the email or phone number"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed
1. Go to staging.expensify.cash
2. Enter invalid email format or phone number
3. Verify the error message appears
4. Delete the text inside the field

[2021-09-21 16:54] thienlnam commented on #4899
My bad, my comment about parsing emails into markdown was not accurate

We already do this mostly, we get HTML from emails but have to strip them of quoted content and images (since we process those separately and not inline) [here](https://github.com/Expensify/Web-Expensify/blob/b8233a0d4c05d6efcb1d58928f04532ba472cd88/lib/EmailUtils.php#L132-L132).

Quoted content being stripped is expected for

[2021-09-21 17:01] alex-mechler commented on #5336
This issue is an n6-hold, so I'm going to drop the priority to weekly for now. After its off hold, I'll check back and see if it can go external

[2021-09-21 17:06] OSBotify commented on #5384
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-21 17:13] jasperhuangg commented on #5319
Hey! Sorry, plate super full lately with User-Created Policy Rooms and midterm season fast approaching.

This issue looks totally doable by an external contributor. Specifically, I like @PrashantMangukiya's second solution 👍

[2021-09-21 17:13] jasperhuangg commented on #5319
@puneetlath Please let whoever is working on this know to request me for review!

[2021-09-21 17:14] thienlnam commented on #5382
Removing N6 hold since this is relevant to N6

[2021-09-21 17:16] isagoico commented on #5368
**Regression** is finished!
Issues found:
1. https://github.com/Expensify/App/issues/5383
2. https://github.com/Expensify/App/issues/5382
3. https://github.com/Expensify/App/issues/5389

**PRs** are finished too.
No comments added.

https://github.com/Expensify/App/issues/5384 is blocking the "Forgot?" password flow.

Thanks!

[2021-09-21 17:16] Jag96 commented on #5321
Sounds good, @thesahindia your proposal looks good then, feel free to start on a PR once you've been hired in Upwork. @JmillsExpensify let's hire @thesahindia for this one.

[2021-09-21 17:23] kevinksullivan commented on #5382
I am almost certain this is tied to @iwiznia 's cross-linking [GH](https://github.com/Expensify/Expensify/issues/177739#) and this is a known issue that shouldn't block deploy?

[2021-09-21 17:24] kevinksullivan commented on #5382
I am almost certain this is tied to @iwiznia 's cross-linking [GH](https://github.com/Expensify/Expensify/issues/177739#) and this is a known issue that shouldn't block deploy?

[2021-09-21 17:25] Jag96 commented on #5382
Agreed, this is related to that GH. Going to close this since its a dupe, def not a blocker rn.

[2021-09-21 17:30] kevinksullivan commented on #5384
More context on this one [here](https://expensify.slack.com/archives/C020EPP9B9A/p1632243888131300?thread_ts=1631926252.186300&cid=C020EPP9B9A)

This is a weird one, because I can reproduce on prod for kevin@expensify.com, but on other accounts I do not have this issue on prod...

[2021-09-21 17:33] MitchExpensify opened #5392 "Global create opening in workspace configuration screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign up to OldDot using a new domain/account (a domain not used before)
2. Select "Business"
3. Select "Expensify Card" > Submit
4. See Global Cr

[2021-09-21 17:35] marcaaron commented on #5384
Yes but we know this is broken on staging and it's clear why from looking at the [changes here + comment](https://github.com/Expensify/App/pull/5218/files#r712306088) from Florent.

[2021-09-21 17:38] mananjadhav commented on #4885
@jboniface is this payment as well on hold due to n6 ?

[2021-09-21 17:39] mananjadhav commented on #4486
@MitchExpensify is this payment as well on hold due to n6?

[2021-09-21 17:41] jasperhuangg commented on #5125
Plate is full with User-Created Policy Rooms stuff and midterm season approaching, going to unassign myself for the time being.

[2021-09-21 17:42] thesahindia commented on #5321
Hey @JmillsExpensify, I think this job is for an another issue:https://github.com/Expensify/App/issues/5303

[2021-09-21 17:44] jboniface commented on #4885
@mananjadhav nah it already deployed, I just missed it. I'll pay now.

[2021-09-21 17:46] #4885 closed

[2021-09-21 17:48] roryabraham commented on #4379
Just realized that, while I fixed the bigger related bug, I never actually came back to fix this one. Should be a pretty quick-and-easy fix.

[2021-09-21 17:59] bfitzexpensify commented on #5125
I'll reassign this on Monday once we're past the hold.

[2021-09-21 18:06] Jag96 commented on #5384
It sounds like the simple fix here is to just check the response from `API.ValidateEmail`, and if we get the expected 405 just call `Session.setPassword` like we were doing before. Going to look into that.

[2021-09-21 18:10] thienlnam commented on #3867
Pinged for reviews but n6 deadline is taking priority - going to ping about this again next week

[2021-09-21 18:10] thienlnam commented on #3419
PRS are approved and ready to merge but holding for n6

[2021-09-21 18:24] Hanaffi commented on #5389
# Propsal
We can check if the input is empty string, Just reset the errors to empty again.

Two possible ways:
1. Add condition to the onChangeText function https://github.com/Expensify/App/blob/fc37f6d42bd1133b32f7a8609b35cef64c2c9afa/src/pages/signin/LoginForm.js#L86
2. Add a componentDidUpdate method.

[2021-09-21 18:29] Beamanator commented on #5392
Latest Slack thread [here](https://expensify.slack.com/archives/C020EPP9B9A/p1632239606103600).

Basically it's pretty easy to reproduce in dev, and was determined that currently there shouldn't be any race condition weirdness with one possible solution (@marcaaron 's PR: https://github.com/Expensify/App/pull/5394/files).

However, @TomatoToaster is working on changing some of the flow so we're pl

[2021-09-21 18:31] marcaaron commented on #5384
Could also maybe use `GetAccountStatus` to check if we are already validated. Unless `ValidateEmail` sends back the reason why it failed.

[2021-09-21 18:33] aldo-expensify commented on #5324
Another possible way to get the `isQueuePaused` set to `true` without pausing it:

https://github.com/Expensify/App/blob/986c5213932cf544c2e9c486abf05c43bc1413f9/src/libs/API.js#L57-L64

It is very common for `paramenters.authToken` to be missing, but we normally have it available in [`authToken`](https://github.com/Expensify/App/blob/986c5213932cf544c2e9c486abf05c43bc1413f9/src/libs/API.js#L17-L2

[2021-09-21 18:41] Jag96 commented on #5384
https://github.com/Expensify/App/pull/5116 also looks like it has some improvements, so looking at that as well to see if I can minimize the conflicts.

[2021-09-21 18:44] marcaaron commented on #5324
If this isn't easily reproducible then maybe it's not a blocker? Should we just hold this issue

[2021-09-21 18:49] aldo-expensify commented on #5324
I agree with that, I haven't been able to reproduce this in a real use case.

[2021-09-21 18:50] aldo-expensify commented on #5324
yes, looks like a duplicate.

[2021-09-21 18:55] marcaaron opened #5395 "Unable to pass Onfido on web with Washington State Driver's License"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go through VBA flow and upload driver's license

## Expected Result:
1. Onfido accepts the driver's license

## Actual Result:
1. And error pops

[2021-09-21 18:57] marcaaron commented on #5395
It would be good to have someone test if this is affecting all state driver's licenses and not just my own

cc @kevinksullivan if this is broken for everyone then I'd _think_ this would be a blocker.

[2021-09-21 19:12] MitchExpensify commented on #5233
Closing in favor of https://github.com/Expensify/App/issues/5324

[2021-09-21 19:12] #5233 closed

[2021-09-21 19:20] marklouisdeshaun commented on #5197
The issue is on hold, not overdue. Commenting to remove the label.

[2021-09-21 19:33] chiragsalian commented on #4785
Yes i updated it. Once its off n6-hold feel free to bring it back to daily if needed.

[2021-09-21 19:40] michelle-thompson commented on #5239
Thanks Shawn! If we take the emoji and make it a bot, we'd have something like this (and the face is centered):
![image](https://user-images.githubusercontent.com/43361905/134236730-92d06741-b63e-4ed1-ad61-8d6e44ddc9c9.png)

[2021-09-21 19:53] luacmartins commented on #5344
I think this looks good (see screenshots below)! @shawnborton any comments?

![Simulator Screen Shot - iPhone 12 - 2021-09-21 at 13 50 35](https://user-images.githubusercontent.com/22219519/134238236-2081532b-f740-488f-ab2f-ea56832f54e4.png)
![Screen Shot 2021-09-21 at 1 50 33 PM](https://user-images.githubusercontent.com/22219519/134238255-d96e1be2-9e7a-4322-95c1-04b23b217228.png)

[2021-09-21 19:58] isagoico opened #5397 "Back arrow is not aligned with modal content"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to settings > About

## Expected Result:
Back arrow should be aligned with the content in the modal.

## Actual Result:
Back arrow is no

[2021-09-21 20:02] Jag96 commented on #5384
Draft PR is here: https://github.com/Expensify/App/pull/5398. Working on testing rn

[2021-09-21 20:02] shawnborton commented on #5397
I think this is fine and is intended - the hit area of the back arrow is left-aligned with the content below.

[2021-09-21 20:04] shawnborton commented on #5344
Looks good! Just want to confirm that the link text is using our fotSizeLabel (13) and that the icon next to it is 16x16?

[2021-09-21 20:06] shawnborton commented on #5239
Nice! I definitely like the head centered more, but I don't feel strongly about using the emoji face or the face you had before. Do you have a preference? I also wonder if there is a slightly more expressionless option? As weird as that sounds... something that does feel a bit more robotic? Just to see for comparison... like if the mouth was more of a straight line or something?

[2021-09-21 20:08] isagoico opened #5399 "Payments - Growl has incorrect message when removing a paypal account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to payments
2. Add a Paypal.me
3. Click on Paypal option
4. Delete the Paypal.me and save the changes.

## Expected Result:
There's a gr

[2021-09-21 20:17] luacmartins commented on #5344
Correct!

[2021-09-21 20:27] johnmlee101 commented on #4733
Still on hold for N6

[2021-09-21 20:29] michelle-thompson commented on #5239
Sure thing, here's a stoic bot, hehe:
![image](https://user-images.githubusercontent.com/43361905/134242931-3e2c63ba-d5a0-4048-b4ae-e71db13c85fe.png)

[2021-09-21 20:29] thienlnam commented on #4899
I was chatting with @chiragsalian about this 1:1 but I don't think we should support markdown entered in emails like the issue description mentioned.  Instead, they should just use the included formatting that email providers allow.  I think this Problem/Solution to this would be:

Problem: Formatting used in emails is not being formatted correctly in the app
Solution: Add support for <b> and <str

[2021-09-21 20:41] aldo-expensify commented on #5324
I was able to replicate this again by chance, and now I think I know a little better how to replicate it.

I had a debugger in the function `pauseRequestQueue` and when logging out, it stopped there:

![Screen Shot 2021-09-21 at 1 16 10 PM](https://user-images.githubusercontent.com/87341702/134241431-7d71e5e9-4ba4-4a6a-9921-34ab5036bc8b.png)

Looking at the stack, I see that we are calling it from

[2021-09-21 20:43] NicMendonca commented on #5162
Still on hold

[2021-09-21 20:49] #5384 closed

[2021-09-21 20:50] luacmartins commented on #5089
PR deployed to prod 8 days ago. Has this been paid?

[2021-09-21 20:59] shawnborton commented on #5344
Love it, thanks for the speedy and quality work as always!

On Tue, Sep 21, 2021 at 10:17 PM Carlos Martins ***@***.***>
wrote:

[2021-09-21 21:05] isagoico opened #5403 "[HOLD for payment 2021-11-04] Payments - Paypal.me - Cursor pulse should be at end of username"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

https://www.upwork.com/jobs/~01d0d26eee8c5ec919
___

## Action Performed:
1. Navigate to Payments
2. Set a Paypal.me username
3. Save
4. Click on the Paypal option to edit

[2021-09-21 21:23] Jag96 commented on #5323
https://github.com/Expensify/App/pull/5398 should handle this, so going to close. If this happens again we can reopen.

[2021-09-21 21:23] #5323 closed

[2021-09-21 21:35] isagoico opened #5405 "[HOLD for payment 2021-12-06] Own messages are marked as unread when opening the app in another device"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. I use Expensify on device "A"
2. Sent a bunch of messages from account "A"
3. Stopped using device "A" (exited app)
4. Started using device "B"

[2021-09-21 21:43] AndrewGable commented on #5310
@AlfredoAlc - Can you elaborate as to why this code was added and verify removing it doesn't break something else?

[2021-09-21 21:51] marcaaron commented on #5397
Agree. Doesn't seem like there's anything to fix here.

Are we just creating issues out of all Slack threads? I thought there had to be some consensus among Expensify staff that something was worth fixing before creating the issue in GH. But I don't know for sure. Closing this either way.

[2021-09-21 21:55] roryabraham commented on #5239
Happy bot > stoic bot

[2021-09-21 22:03] Jag96 commented on #5368
@isagoico https://github.com/Expensify/App/pull/5398 has been added to fix the deploy blocker, can we get a retest for https://github.com/Expensify/App/issues/5384?

[2021-09-21 22:11] marcaaron commented on #5328
This issue is fixed now.

[2021-09-21 22:11] #5328 closed

[2021-09-21 22:24] #5303 closed

[2021-09-21 22:30] Jag96 commented on #4355
Still held on n6, clearing overdue label

[2021-09-21 22:42] MitchExpensify commented on #5332
I agree with @shawnborton here. Good to close @kevinksullivan ?

[2021-09-21 22:42] isagoico commented on #5397
No, I create issues I'm able to reproduce and look like potential bugs. For next visual issues like this one I will tag @shawnborton before opening the ticket.

[2021-09-21 22:48] #4660 closed

[2021-09-21 22:50] MitchExpensify commented on #5343
Not on staging

[2021-09-21 22:55] MitchExpensify commented on #5356
Not on staging- reopening

[2021-09-21 23:22] marcaaron commented on #5034
Alright so I reproduced this and definitely is related to multiple tabs. If we sign out of a second tab the other tab that should be syncing doesn't unsubscribe from the private user channel.

I think this is basically a [incomplete implementation here](https://github.com/Expensify/App/pull/5190/files) because we are not cleanly signing out the user if the `authToken` has been unset. The `authToke

[2021-09-21 23:39] marcaaron commented on #5397
Ok sorry I must have made that other part up in my head 🙃

[2021-09-21 23:41] #5368 closed

[2021-09-21 23:44] botify commented on #4855
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.0-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pulls/5155\n- https://github.com/Expensify/App/pulls/5155\n

If no regressions arise, payment will be issued on 2021-09-28. :confetti_ball:

[2021-09-21 23:44] botify commented on #4645
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.0-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pulls/5320\n

If no regressions arise, payment will be issued on 2021-09-28. :confetti_ball:

[2021-09-21 23:44] botify commented on #5326
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.0-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pulls/5346\n

If no regressions arise, payment will be issued on 2021-09-28. :confetti_ball:

[2021-09-21 23:44] botify commented on #5331
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.0-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pulls/5354\n

If no regressions arise, payment will be issued on 2021-09-28. :confetti_ball:

[2021-09-21 23:44] OSBotify opened #5410 "Deploy Checklist: New Expensify 2021-09-21"
**Release Version:** `1.1.1-8`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/5186
- [x] https://github.com/Expensify/App/pull/5358
- [x] https://github.com/Expensify/App/pull/5359
- [x] https://github.com/Expensify/App/pull/5363
- [x] https://github.

[2021-09-21 23:49] mallenexpensify commented on #4226
@NikkiWines can you help me 'unstick' this issue?  From @aman-atg above

I've explained it here https://github.com/Expensify/App/issues/4226#issuecomment-889673883

If we think this is valuable enough I'd like to try to get it fixed soon (after N6 hold is released which should be Monday.

[2021-09-21 23:52] mallenexpensify commented on #4609
Gonna close cuz of #4541, if needed, we can reopen.

[2021-09-21 23:52] #4609 closed

[2021-09-22 00:01] mallenexpensify commented on #4417
Good catch @aman-atg , apologies for missing it.  Bonus paid in Upwork for reporting the issue.

[2021-09-22 00:11] AlfredoAlc commented on #5310
This style is used in the [`WrappedText`](https://github.com/Expensify/App/blob/1901df375c91eef883f455caf8b5dadeddb9bf9f/src/components/InlineCodeBlock/WrappedText.js#L38-L70) component only for native apps(in the case of this change only ios), to render the `code block` container styling.

I will attach some screenshots to compare how it renders with and without the `margin`.

<img width="2048" a

[2021-09-22 00:26] parasharrajat commented on #5310
Nice catch it is possible that that margin is causing the issue but could you please check the multi line text with inline code blocks in it. Use code blocks that fit in a line and code blocks that wrap multi line in a single paragraph. Lets see what is the result.

Moreover, styling should not have such side-effects. This issue should be fixed either in react native render html lib or logic where

[2021-09-22 00:37] roryabraham commented on #2985
POC is done, check out the work done in the forked repo [here](https://github.com/Flipkart/recyclerlistview/pull/647) and the example app [here](https://github.com/roryabraham/RecyclerListViewExample) 🎉

I'm going to bring my findings to Slack, but if we get consensus that we want to move forward with this solution, then the next steps would be:

1. Fork https://github.com/Flipkart/recyclerlistvie

[2021-09-22 00:38] AlfredoAlc commented on #5310
@parasharrajat Actually, with multi line text it is more noticeable the change of `margin`.
<img width="2048" alt="Screen Shot 2021-09-21 at 17 35 54" src="https://user-images.githubusercontent.com/53409604/134265355-e7e3382d-c3c3-4754-a3d2-61167c44b2a3.png">

[2021-09-22 00:41] roryabraham commented on #2985
Skeleton data placeholder
And start a request to fetch data about this item, actually a page of items (like we currently do). The data is merged in Onyx which triggers the <Skeleton /> item to be replaced with the actual ActionItem

I like this idea. Right now, my implementation will just display a header/footer + block scrolling, but we could pretty easily implement support for a `Skeleton` compo

[2021-09-22 00:45] parasharrajat commented on #5310
<pre>
Let's try this message with `inline code` & big blocks that `wrap multiple lines containing multiple code blocks`. You would see the difference.
</pre>

Could you please paste this text?

[2021-09-22 01:00] luacmartins commented on #5342
I'm a bit stuck on this one. Due to React Native quirks, I manage to accomplish only one of the following:

1. Links are vertically aligned with surrounding text, but are not inline.
![Screen Shot 2021-09-21 at 4 50 19 PM](https://user-images.githubusercontent.com/22219519/134265410-5e4dfc14-142c-41b0-b85f-5b280de0fcff.png)

2. Links are inline, but not vertically aligned with surrounding text.
![

[2021-09-22 01:09] AlfredoAlc commented on #5310
Yes, now I see the difference. I saw that for android is working fine and there is a`height` of 20 instead of 18 set in ios. I attached screenshots comparing removing the `margin` and changing the `height` to 20.
<img width="2048" alt="Screen Shot 2021-09-21 at 18 01 45" src="https://user-images.githubusercontent.com/53409604/134267416-c74e6691-0df9-4fbc-94db-f180fd1f1460.png">

Also, if the `marg

[2021-09-22 01:39] parasharrajat commented on #5310
Thanks for testing it. It is just that we need to test different combinations and adjust this so that everything looks fine.

If your solution fixes this issue and does not break the rendering of inline code blocks then its good.

But I know somewhere that CSS| Styles should not break the layout. (Now there are two things that must be causing the issue, Either `react-native-render-html` is not wor

[2021-09-22 01:45] parasharrajat commented on #5405
https://github.com/Expensify/App/pull/4887 Or https://github.com/Expensify/App/pull/5155 could be the cause.

[2021-09-22 01:46] mananjadhav commented on #5247
PR under review

[2021-09-22 01:53] AlfredoAlc commented on #5310
I am leaning toward an issue with `react-native-render-html` as well, since `WrappedText` component is within the renderer of [`RenderHTMLConfigProvider`](https://github.com/Expensify/App/blob/a9af6e0ebf91a4bccff8c9f7a15de667e88ff68e/src/components/HTMLEngineProvider/BaseHTMLEngineProvider.js#L265-L273)

[2021-09-22 02:33] parasharrajat commented on #5286
https://github.com/Expensify/App/pull/4789 & https://github.com/Expensify/App/pull/5019 are the two PRs that implement this behaviour to preserve the Locale on Login/logout.

I think we are missing a check for the beta for both changes done here. `!Permissions.canUseInternationalization(betas)`

https://github.com/Expensify/App/blob/a9af6e0ebf91a4bccff8c9f7a15de667e88ff68e/src/libs/Navigation/AppN

[2021-09-22 03:02] Luke9389 commented on #4656
N6 freeze Melvin

[2021-09-22 03:29] Christinadobrzyn commented on #5106
Not overdue, I'm tracking this

[2021-09-22 04:25] JmillsExpensify commented on #5341
Nice yeah that's a really good call. You're right, that is better.

[2021-09-22 05:14] kevinksullivan opened #5411 "Change "card" to "Card" in Expensify Card tab of the workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create workspace

## Expected Result:
The copy to say "Expensify Card"

## Actual Result:
The copy says "Expensify card" with a lowercase "c"

![

[2021-09-22 06:44] PrashantMangukiya commented on #5389
### If issue considered as External, this will be solution:

We have to update code within /src/pages/signin/LoginForm.js as under:

[code]
Below is screen record, that shows how It works after update:

#### Web

https://user-images.githubusercontent.com/7823358/134293408-a44a9826-3da7-4456-863e-2b50582ccc62.mov

#### Desktop

https://user-images.githubusercontent.com/7823358/134293700-8d3d38ea-76

[2021-09-22 08:29] shawnborton commented on #5239
Haha, fair point - thanks for exploring. So at this point, I can see where the more robotic version feels a little nicer, but the clock version feels a little more appropriate. I guess overall I don't feel super strongly so I'd be curious what others think. Michelle - which is your favorite?

[2021-09-22 08:35] Viacheslav80 commented on #4867
Hi! How i can reproducible this Issue? It's work fine on simulator (iOS 13.7, iOS 14.5) in mSafari

[2021-09-22 08:48] michelle-thompson commented on #5239
Yeah, agree that clock feels most identifiable/relevant. So my vote is for that one.
![image](https://user-images.githubusercontent.com/43361905/134312195-3a376fde-b1e4-4009-93e2-60ef89704bc4.png)

[2021-09-22 08:49] shawnborton commented on #5239
Sweet! What might that look like if we scaled up the icon size a bit?

[2021-09-22 09:10] michelle-thompson commented on #5239
Yup, so here's a couple sizes to compare.
![image](https://user-images.githubusercontent.com/43361905/134315949-b8a25b3e-d52d-4cba-8d85-b183f48b0d49.png)

I'm thinking 24x24 feels right, curious what you think?

[2021-09-22 09:16] shawnborton commented on #5239
I can get down with 24x24, but I think I actually prefer the larger size? Maybe seeing it next to one of our default avatars might help too?

[2021-09-22 09:23] michelle-thompson commented on #5239
Ahh yeah, I can see what you're saying
![image](https://user-images.githubusercontent.com/43361905/134318107-c8881785-4b64-4b8b-9d8b-4ebe096f5c4b.png)

[2021-09-22 09:31] shawnborton commented on #5239
Yup, definitely feels more balanced. The last request would be to see the clock icon pushed down by just a pixel or two. I know I previously wanted to see the face centered up, but I wonder if pushing it down just a hair will make it still feel optically centered given the stuff going on at the top of the clock?

[2021-09-22 09:37] michelle-thompson commented on #5239
Sure thing, how's this looking?
![image](https://user-images.githubusercontent.com/43361905/134320208-13625552-a7ab-4570-89f6-01dca9817e48.png)

[2021-09-22 09:39] shawnborton commented on #5239
Okay yeah, I think that's the winner. What do you think? Thanks for your patience with the back and forth on this one!

[2021-09-22 09:46] michelle-thompson commented on #5239
No problem! I'm happy with this too, and I agree it looks more optically centered now. Since this is technically off-center, is this something that should accounted for in the SVG? In other words, this is one pixel above center. Should I move it up one pixel so that Engineering just centers it within the avatar?

[2021-09-22 09:52] parasharrajat commented on #5239
Usually, the whole avatar will be a png or so including the bg color.

[2021-09-22 10:00] shawnborton commented on #5239
Yup - what Rajat said. I think for avatars you would just provide the entire 40x40 avatar as a square, including the BG color.

[2021-09-22 10:03] michelle-thompson commented on #5239
Ahh okay, cool. In that case, here are the PNGs:
[chronos avatar.zip](https://github.com/Expensify/App/files/7209710/chronos.avatar.zip)

[2021-09-22 10:13] thesahindia commented on #5411
### Proposal

Replacing "card" with "Card" on this [line](https://github.com/Expensify/App/blob/a9af6e0ebf91a4bccff8c9f7a15de667e88ff68e/src/languages/en.js#L607) will fix the issue

[2021-09-22 10:16] thesahindia commented on #5089
Not yet.
cc: @kevinksullivan

[2021-09-22 10:28] parasharrajat commented on #5239
Now, someone needs to just update the https://github.com/Expensify/App/blob/a9af6e0ebf91a4bccff8c9f7a15de667e88ff68e/src/libs/OptionsListUtils.js#L72 to return this image for Chronos Email.

[2021-09-22 11:17] shawnborton commented on #5239
I think you can actually just spit out a 40x40 svg! You might need to open it in Illustrator after exporting from Figma, and then re-save in Illustrator.

[2021-09-22 11:28] michelle-thompson commented on #5239
Okay, here's the SVG:
[chronos-avatar.svg.zip](https://github.com/Expensify/App/files/7210237/chronos-avatar.svg.zip)

[2021-09-22 11:32] iwiznia commented on #5286
Yes. Someone removed the beta (incorrectly) and re-added it later and maybe they forgot to re-add it here.

[2021-09-22 11:41] kidroca commented on #5405
These PRs are not the cause
- #4874 have no effect on `updateLastReadActionID`, it only changes the marker handling
- #5155 Involves `updateLastReadActionID` for `componentDidMount` but it was already called per each mount before the change
- the issue is reproducible on prior commits

The bug comes from the call to `ReportActionView.componentDidMount` which would also call `updateLastReadActionID

[2021-09-22 11:59] kidroca commented on #5405
New more specific steps to recreate - looks like the issue would happen only when the same report is loaded when you start the app - you have to had ended the app on the same Report on both platforms for this to happen - the issue won't happen if you don't start on the same report for both devices.

https://user-images.githubusercontent.com/12156624/134339344-6e4fdcad-ecba-4370-aed0-84c7547db10a.m

[2021-09-22 13:15] parasharrajat commented on #5286
Just adding Beta check should be enough to fix this issue as this happening when you switch between accounts with or without beta access.

[2021-09-22 13:26] isagoico commented on #5410
Starting QA

[2021-09-22 14:23] puneetlath commented on #4971
Paid!

[2021-09-22 14:23] #4971 closed

[2021-09-22 14:33] parasharrajat commented on #5349
Oh, nice. @MitchExpensify Please tag me if you are planning to make it external.

[2021-09-22 14:39] laurenreidexpensify commented on #5079
Doubling fee now

[2021-09-22 14:58] johnmlee101 commented on #2734
Do we think that this should also be on hold due to `N6`?

[2021-09-22 15:04] kidroca commented on #4549
Run some benchmarks on Android, it seems it's almost unaffected by the `withWindowDimensions` HOC

#### Setup
- Device: Samsung Galaxy S7 Edge (2016)
- OS: Android 8.0
- hash: https://github.com/Expensify/App/commit/ef46b127097a06c75f254684bf7d3c6df2cd0703
- build: Android release build (bundled to byte code)

#### Before
  | Run 1 | Run 2 | Run 3 | Run 4 | Run 5 | Run 6 | Run 7 | Run 8 | Run 9 |

[2021-09-22 15:05] kidroca commented on #4549
I'm closing this one
We can reopen if we find anything new

[2021-09-22 15:05] #4549 closed

[2021-09-22 15:17] puneetlath commented on #2734
Yes, I think we should hold merging it until n6 is released. We can still approve it, but I think we should hold merging. And we'll provide @anthony-hull with the bonus as compensation for the delay.

[2021-09-22 15:46] #5388 closed

[2021-09-22 15:55] isagoico commented on #5382
Reopening this issue and adding the deploy blocker label since this is failing PR https://github.com/Expensify/App/pull/5359

![image](https://user-images.githubusercontent.com/44479856/134378486-62b9be8f-6e19-41b4-8263-6205815aacfc.png)

CC @iwiznia

[2021-09-22 15:55] OSBotify commented on #5382
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-22 16:00] parasharrajat commented on #5382
Seems like CORS is getting in the way again.
![](https://res.cloudinary.com/practicaldev/image/fetch/s--zk13mVJ4--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/v2z4hl5tzda00brhggpr.jpg)

[2021-09-22 16:16] parasharrajat commented on #4861
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2021-09-22 16:17] parasharrajat commented on #5103
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2021-09-22 16:30] mountiny commented on #5183
Updating the title and adding appropriate label, because of the faulty script. Although it seems it has not been exported, or we just forgot to add a label here due to urgency. We will definitely get to it after our deadline on Friday, @PrashantMangukiya please apologies for any inconveniences which could occur with this 🙌

[2021-09-22 16:32] mountiny commented on #4906
Updating the title here, this has been deployed to **production** on 20th September, but the script did not work as expected. Apologies for that.

[2021-09-22 16:39] mountiny commented on #4816
The PR has been deployed to production on Monday 20th September. Updating the title appropriately 🙌

[2021-09-22 16:40] mountiny commented on #4897
The PR has been deployed to production on Monday 20th September. Updating the title appropriately 🙌

[2021-09-22 17:01] parasharrajat commented on #5239
Let's finish this.

[2021-09-22 17:06] luacmartins commented on #5342
I put up a PR to fix this for now and I will explore other solutions to add the hover/pressed effects back.

[2021-09-22 17:09] isagoico opened #5418 "[HOLD for payment 2021-11-05] Payments - Selecting "Add PayPal.me" modifies the existing PayPal.me username"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. On a user with a existing Paypal.me username set up
2. Navigate to Payments
3. Click on add payment method
4. Click on Paypal option.

## Expecte

[2021-09-22 17:09] MitchExpensify commented on #5047
payment made in Upwork

[2021-09-22 17:10] mountiny commented on #5265
The PR has been deployed to production. This did not work, because we have forgotten to add `Exported` label to this issue when the Upwork job was created. That is requirement for the `AwaitingPayment` label to be added. We might look into updating this behaviour.

[2021-09-22 17:14] mountiny commented on #5349
Since the solution was implemented, then we should pay you for this. Sorry if there will be any delay with this as the process has been a bit unusual 🙌

[2021-09-22 17:16] marklouisdeshaun commented on #5103
The contributor has been paid, the contract has been completed and the job has been closed in Upwork. Thanks @parasharrajat !

[2021-09-22 17:16] #5103 closed

[2021-09-22 17:16] mountiny commented on #5349
@dylanexpensify Could you please create Upwork job for this issue when you will have time? Thank you very much 🙇

We have bypassed classic process here in interest of urgency 😬 so catching up and making ure Rajat gets paid for his solution.

[2021-09-22 17:18] isagoico commented on #5410
https://github.com/Expensify/App/issues/5382#issuecomment-925061294 is failing PR https://github.com/Expensify/App/pull/5359

[2021-09-22 17:23] shawnborton commented on #5333
That sounds good to me, yup. Most importantly, small buttons should be 28px tall and the text should appear vertically centered.

[2021-09-22 17:33] MitchExpensify commented on #4486
Payment is not on hold, thanks for the bump @mananjadhav. One clarification before I do, did you report the original issue?

[2021-09-22 17:38] thienlnam commented on #5382
cc @iwiznia this looks like its from the PR that was recently merged?

[2021-09-22 17:41] iwiznia commented on #5382
Yes, this should be fixed by the PRs in this issue https://github.com/Expensify/Expensify/issues/177739

What should I do? CP it or unblock the deploy, leaving this broken (as it is) till the next deploy?

[2021-09-22 17:41] michaelhaxhiu commented on #5333
I noticed a similar issue of text alignment in the [📞 Help] button. Should we fix that as a part of this too?

<img width=300 src=https://user-images.githubusercontent.com/13206896/134394071-0a0870a3-cdf9-4c4c-ad4b-f6e1eb45e4f5.png>

[2021-09-22 17:46] aldo-expensify commented on #5306
I did a small test hardcoding a throw in https://github.com/Expensify/Web-Expensify/blob/b8233a0d4c05d6efcb1d58928f04532ba472cd88/lib/PolicyAPI.php#L42

[code]
<img src="https://user-images.githubusercontent.com/87341702/134394377-c2ff80a6-f1a3-4a8e-b4c8-9f43b7bb2626.png">

Good news is the app doesn't fully crash, at least with this kind of error because it is handled by this code:

https://githu

[2021-09-22 17:49] michaelhaxhiu commented on #5333
Let me know if we agree with that, and I can:

1. Re-name this GH to `Fix alignment of "Get Started" and "Help" button text in the Workspace Expensify Card tab on mobile`
2. Post the job to Upwork

[2021-09-22 17:53] parasharrajat commented on #5333
Yeah, I will fix the button permanently for all modes, normal, small, large, etc.

[2021-09-22 17:54] michaelhaxhiu commented on #5333
Oh sweet if you are going to fix the button text / class across the board then we are probably good with the current title.

[2021-09-22 18:05] michaelhaxhiu commented on #5333
Cleaned up the GH a little and posted the job to Upwork [here](https://www.upwork.com/jobs/~01e5f92bebfeced9e3).

[2021-09-22 18:25] mananjadhav commented on #4486
That’s right. I had reported this issue.

[2021-09-22 18:34] kavimuru opened #5421 "VBA - "c " is not capitalized in Save & Continue button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Click on deeplink https://staging.new.expensify.com/bank-account/contract
4. Verify "Save an

[2021-09-22 18:39] marcaaron commented on #5306
Hmm but we are still accessing a property that doesn't exist. Looks like you tested this on web @aldo-expensify, can you try to verify what happens on a mobile [release build](https://stackoverflow.com/c/expensify/questions/7311)? I think it will crash.

[2021-09-22 18:43] #4486 closed

[2021-09-22 18:46] bfitzexpensify commented on #5405
Upwork [posting](https://www.upwork.com/jobs/~014cb06e43586869d3)

[2021-09-22 18:50] kavimuru opened #5422 "mWeb/Chrome - Chat -Longer emails are shown cutoff in the details page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Log in with any account
3. Select user with long email
4. Click on user Profile

## Expected Result:

[2021-09-22 18:56] aldo-expensify commented on #5306
Yep, I tested on web, I'll test on mobile.

[2021-09-22 18:58] #4997 closed

[2021-09-22 19:09] tylerkaraszewski commented on #5418
Should we just remove the option to add a `paypal.me` method if there already is one?

[2021-09-22 19:12] roryabraham commented on #4629
Still on hold

[2021-09-22 19:14] stephanieelliott commented on #4910
This is on hold while we prioritize N6 issues.

[2021-09-22 19:21] kavimuru opened #5423 "VBA - Web - Error message in company info is appearing in two lines"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com/bank-account/company
2. Fill in all the fields and leave password field empty
3. Click Save & Continue

## Expect

[2021-09-22 19:25] kidroca commented on #2985
The example app does not used the forked version of the Recycler - no `onStartReached`
I'm not sure what will happen when we start to use dynamic size items, ATM it seems to be set to `50`. I know there's an override prop that would let the Recycler handle it, but wouldn't that mess with the `onStartReached` logic?
Excuse me if I'm being a PITA here 🐈‍⬛

[2021-09-22 19:56] aldo-expensify opened #5424 "Attaching file without extension is rejected with no feedback for the user, loading spinner gets stuck"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a chat
2. Click `+` button next to "Write something..." and click "Add attachment"
![Screen Shot 2021-09-22 at 12 50 26 PM](https://user-ima

[2021-09-22 19:56] yuwenmemon commented on #5195
No updated

[2021-09-22 19:58] AndrewGable commented on #4867
Can you confirm whether you can reproduce this on a physical device but not simulator?

[2021-09-22 20:07] MitchExpensify commented on #4771
Not overdue, on hold

[2021-09-22 20:20] tgolen commented on #4690
It's OK, Melvin. It's on HOLD

[2021-09-22 20:21] marcaaron commented on #5392
Hmm so this is actually really tricky to solve now because of the latest changes.

Basically when the Sidebar loads we need to know if we have a free policy, but we might not have created one yet.

Before the most recent changes we were only redirecting _after_ the policy was created. But now the sidebar loads (inside the `MainDrawerNavigator`) at the _same time_ as the `LoginWithShortLivedTokenPa

[2021-09-22 20:23] roryabraham commented on #2985
Oh yeah sorry, forgot to mention this... check out the `release-local` npm script in `package.json` – that's how I was developing locally. Bit of a pain but it works.

So `RecyclerListView` _does_ work with dynamic size items, albeit with a performance cost, and I think we should be okay. But I haven't actually tested. It's a good idea to edit my example app to provide random-height list items and

[2021-09-22 20:23] iwiznia commented on #5382
ok, this _should_ be fixed, although tests are ongoing

[2021-09-22 20:33] #5395 closed

[2021-09-22 20:35] jasperhuangg commented on #5418
@tylerkaraszewski

Yup, I think we should remove the option to add a PayPal.me if there is one, and instead allow modifying the PayPal.me username by directly clicking the thing outlined in green:
![image](https://user-images.githubusercontent.com/44479856/134389688-80c40f88-e411-4709-97c9-1b48fb84bf28.png)

cc @isagoico

[2021-09-22 20:37] marcaaron commented on #5392
Probably a better way to fix this would be to stop triggering the modal to open via the `SidebarScreen` in `componentDidMount()` entirely and instead do it programmatically (unsure if there's a clear reason why it should be there vs. somewhere like `Expensify.js`), but that's going to be more complicated than referring to the navigation state.

[2021-09-22 20:40] TomatoToaster commented on #5392
Ah wait are you seeing it `workspace/new` as well? I only saw it with `workspace/12312/card` when I was transitioning from the existing policy. Is the invalid workspace closing bug also happening for if you hit `localhost:8080/workspace/new`?

[2021-09-22 20:46] johnmlee101 commented on #5423
Hey @kavimuru Can you please flesh out this issue?

[2021-09-22 20:51] marcaaron commented on #5392
Yeah global create thing pops open for `workspace/new` because we are creating it via New Expensify and the sidebar may load before that happens e.g. if it takes longer than 1.5 seconds to create the policy.

[2021-09-22 21:01] TomatoToaster commented on #5392
Ahh wait sorry I'm getting this discussion and the inconsistent InvalidWorkspace thing mixed up. Ignore what I said there.

This is kind of hacky behavior on top of hacky behavior, but one thing we could do is set [this NVP](https://github.com/Expensify/App/pull/5244/files#diff-9b9fee594bc95324fa21caa02ac4d6d9692ce460c56587ff9aea35893fb3dde2L35) for the user while we're doing the transition in Log

[2021-09-22 21:02] kidroca commented on #5392
It makes sense to me to move the `isFirstTimeNewExpensifyUser` out of the SidebarScreen and pass a prop to trigger the create menu to open when it has to, or save a ref somewhere so that it can be triggered like `SidebarScreen.toggleCreateMenu()`

[2021-09-22 21:06] roryabraham commented on #5421
This is technically N6 polish so doesn't necessarily need to be on hold, but literally such a simple change that it's not worth sending through the Upwork pipeline.

[2021-09-22 21:08] kidroca commented on #5392
It just that the logic should be synchronised to have the `firstTimeUser` check and the `policy` check as well as trigger the create menu no sooner than `1500ms` (to avoid the modal bug)

e.g. something like

[code]

[2021-09-22 21:14] marcaaron commented on #5392
@TomatoToaster Oh hmm so basically set them as "not a first time user"? That could work, but creates a weird condition where we must block navigating until after the NVP has been set + also block on the two API calls @kidroca is calling out.

Either way I think we'll have to reorganize the code after, but looking at the route works for now.

[2021-09-22 21:16] AndrewGable commented on #4892
So do we wait to merge this until after N6 per the label?

[2021-09-22 21:19] luacmartins commented on #4892
I believe so.

[2021-09-22 21:32] MitchExpensify commented on #4892
Yes lets hold!

[2021-09-22 21:53] kidroca commented on #5340
The date related components in `react-native` are deprecated in favour of external libraries
It seems there are no libraries that offer `web` support: https://reactnative.directory/?search=datepicker
I guess it will be fine to fall back to a text field (the field we currently use) for `web/desktop`.

I think the dev team is looking for a solution where we build a `DatePicker` component, even if it

[2021-09-22 21:54] aldo-expensify commented on #5306
Followed steps to test [release build](https://stackoverflow.com/c/expensify/questions/7311), same behaviour, I can see the growl:

https://user-images.githubusercontent.com/87341702/134426865-4f9bfe01-5e3b-4961-b90f-b8fc2b237c53.mov

Are you saying that it is possible for the `response` variable to be equal to `null`? Do you know under which conditions this can happen?

I see that there is no `ca

[2021-09-22 22:02] luacmartins opened #5428 "Do not save user password in `reimbursementAccountDraft`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

cc @aldo-expensify
Introduced here https://github.com/Expensify/App/pull/5073

## Action Performed:
1. Login to an account with a Workspace and without Expensify Cards.

[2021-09-22 22:07] Jag96 commented on #4861
Paid!

[2021-09-22 22:07] #4861 closed

[2021-09-22 22:54] Jag96 commented on #5410
@isagoico can we get a retest for #5382/#5359? It sounds like it should be fixed: https://github.com/Expensify/App/issues/5382#issuecomment-925301780

[2021-09-22 23:02] Santhosh-Sellavel commented on #5418
@jasperhuangg  wont Add payment method option be weird now? Without any options?

[2021-09-22 23:10] jasperhuangg commented on #5418
Well just hide it if there are no options right?

[2021-09-22 23:13] Santhosh-Sellavel commented on #5418
Yes, correct we will just hide it.

[2021-09-22 23:18] Jag96 commented on #5410
Nevermind, just tested and it looks like this is still broken

![image](https://user-images.githubusercontent.com/3981102/134434353-59be9156-88c8-459c-890a-03b21a308d17.png)

[2021-09-22 23:32] kidroca commented on #5337
Did a bit of a research and it seems it's related to this: [Issue 678075: navigator.onLine returns false even though there is internet connectivity](https://bugs.chromium.org/p/chromium/issues/detail?id=678075)
We use this field during connection change events to determine the online/offline state.

There are multiple reports experiencing the issue on a mac - when networks are changed, after sleep

[2021-09-22 23:37] kavimuru commented on #5423
@johnmlee101  Sorry about that. Added the details to the issue.

[2021-09-22 23:43] isagoico opened #5431 "User is able to change the password after entering incorrect information in the confirm password field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Navigate to settings by clicking on the user avatar over LHN
4. Click on change password
5. Enter co

[2021-09-22 23:47] isagoico commented on #5410
Regression is finished!
Issues found:
1. https://github.com/Expensify/App/issues/5423
2. https://github.com/Expensify/App/issues/5422
3. https://github.com/Expensify/App/issues/5421
4. https://github.com/Expensify/App/issues/5431

PRs are finished too:
1. #5382 (comment) is failing PR #5359

Thanks!

[2021-09-22 23:54] Jag96 commented on #5431
This should be fixed by https://github.com/Expensify/App/pull/5130#issuecomment-917251774 so going to close this one

[2021-09-22 23:54] #5431 closed

[2021-09-22 23:55] mallenexpensify commented on #5337
Chrome @kidroca

[2021-09-22 23:57] aldo-expensify commented on #5424
Re-tested this, it seems like in production it was just taking a long time and in my local I have something miss-configured.

[2021-09-22 23:57] #5424 closed

[2021-09-22 23:58] Jag96 commented on #5423
I agree with the n6-hold, this is polish

[2021-09-23 00:00] aldo-expensify commented on #3623
This is still happening: https://expensify.slack.com/archives/C01GTK53T8Q/p1632266047028300

[2021-09-23 00:01] mallenexpensify commented on #3623
https://expensify.slack.com/archives/C01GTK53T8Q/p1632266047028300
This has come back again for both Mills, I and and I suspect, others.  Reopening since it's an issue, added `Needs Reproduction` label.  From me in Slack thread

[2021-09-23 00:26] parasharrajat commented on #5418
Watch out! I have already removed paypal from these options in https://github.com/Expensify/App/pull/4177#issuecomment-917226851.

PR is under review thus this would be duplicate work. It was removed days ago  even before this issue was reported.

[2021-09-23 00:27] Luke9389 commented on #4905
still n6-frozen

[2021-09-23 00:44] mateocole commented on #5299
Okay sounds good!

[2021-09-23 01:19] Santhosh-Sellavel commented on #5418
This comment is about not allowing wallet transfer to Paypal, not removing Paypal from Add Payment Methods.

@parasharrajat I just checked out your branch.  this issue is not handled in PR #4177, I verified it in look image below.
<img width="1433" alt="Screenshot 2021-09-23 at 6 23 55 AM" src="https://user-images.githubusercontent.com/85645967/134440579-efbec6ae-0fa7-4847-afb5-7280193b769b.png">

[2021-09-23 01:31] Santhosh-Sellavel commented on #5021
cc: @mallenexpensify  Sorry for the delay, applied for the job. Assign this issue to me, I'll submit PR after n6-hold is removed. Thanks!

[2021-09-23 01:41] #5421 closed

[2021-09-23 01:57] parasharrajat commented on #5418
In the next comments I have asked question to either remove it or disable it. But either of those should be sufficient to cover this issue.

That PR is still in progress and I waiting to get answers and finish it.

[2021-09-23 02:12] Santhosh-Sellavel commented on #5418
@parasharrajat

I saw the follow up comments, remove paypal option question alone was not answered there.

So there is no clear answer regarding remove paypal option from add payment methods. Let's wait for @stitesExpensify to answer this question.

[2021-09-23 03:04] kevinksullivan commented on #5382
Noting that I ran into this even after all PRs fro the above issue deployed, so we'll need to look into this.

https://expensify.slack.com/archives/C03TQ48KC/p1632365194126500?thread_ts=1632344718.095600&cid=C03TQ48KC

[2021-09-23 08:09] #5392 closed

[2021-09-23 08:16] iwiznia commented on #5382
Seems we need a web deploy to fix this https://expensify.slack.com/archives/C03TQ48KC/p1632377084147000?thread_ts=1632344718.095600&cid=C03TQ48KC

[2021-09-23 08:20] dylanexpensify commented on #5142
not overdue

[2021-09-23 08:40] dylanexpensify commented on #5349
@mountiny on it!

[2021-09-23 08:43] dylanexpensify commented on #5349
Is there a job already created for this pay out? Or do I need to create one?

[2021-09-23 10:06] iwiznia commented on #5382
Just tested this and it works now

[2021-09-23 10:06] #5382 closed

[2021-09-23 10:18] kidroca commented on #5337
I think it's something external like the Chrome related issue I've share in my previous comment

I've traced the code that would set and unset our "offline state" and couldn't find anything that might cause this besides the `navigator.onLine` field we rely on. The field is provided by the environment and Expensify.App has no control over it beside being able to read it.

The `net-info` library we

[2021-09-23 10:42] #5428 closed

[2021-09-23 11:48] mountiny commented on #5349
@dylanexpensify From the conversation above, I dont think there was a job created. Also no `Exported` label, which should be added if the job would be on Upwork.

[2021-09-23 11:54] dylanexpensify commented on #5349
Thanks @vitHoracek posting now to get @parasharrajat hired for it

[2021-09-23 11:57] dylanexpensify commented on #5349
Internal: https://www.upwork.com/ab/applicants/1441008571879522304/job-details
External: https://www.upwork.com/jobs/~01508d5d6e971d2ff8

@parasharrajat can you please apply 😄

[2021-09-23 12:25] dylanexpensify commented on #5349
@parasharrajat hired!

[2021-09-23 12:52] mountiny commented on #5411
PR is up and waiting for a review.

@thesahindia Apologies, this is being urgent, so we did not want to wait for anything.

[2021-09-23 12:55] thesahindia commented on #5411
No worries, it was a simple typo

[2021-09-23 13:02] ogumen opened #5445 "[high] Color Contrast: Many Pages: White text against green background fails contrast ratio"
## Action Performed:
1. Using Chrome, open https://staging.new.expensify.com/
2. Measure the color contrast ratio of the white "Continue" text against green button background.
## Expected Result:
The contrast ratio of the text against the background should be at least 4.50:1 for small text and 3.00:1 for large text (14pt bold or 18 pt+).
## Actual Result:
This is a small text (13px=9.75pt). The wh

[2021-09-23 13:15] mountiny commented on #5332
I will go ahead and close this as per Mitch's and Shawn's it is not so important and so it does not distract us from the crucial polish issues 🙌

[2021-09-23 13:16] mountiny commented on #5332
Thank you for the proposal @PrashantMangukiya 🙇

[2021-09-23 13:24] ogumen opened #5446 "[med] JAWS+Chrome: Many Pages: Multiple elements announced without button role"
## Action Performed:
1. Using JAWS + Chrome, open the site https://staging.new.expensify.com/
2. Once you're on the landing page, provide an email and activate the button 'continue'.
3. Once the email verification page opens, press Tab key to focus the button 'not given email address?'.
4. Note how the element is announced.

## Expected Result:
Since this is an interactive element, it should be an

[2021-09-23 13:33] ogumen opened #5447 "[med] Color: Many Pages: Only color is used to distinguish links on the page"
## Action Performed:
1. Using Chrome, open https://staging.new.expensify.com/
2. Tab to focus the "privacy policy", "terms of service" or "licenses" links.
3. Notice if the links have any other visual cues besides color to be distinguished from surrounding text.

## Expected Result:
Color should not be the only way to differentiate the link from the surrounding text. There should be additional cue

[2021-09-23 13:46] ogumen opened #5448 "[med] Zoom: Many Pages: Some content and links missing at 200% zoom"
## Action Performed:
Prerequisite: the initial browser zoom level is 100%.
1. Using Chrome, open https://staging.new.expensify.com/
2. Enter a valid email address into the "Phone or Email" field.
3. Tab to focus the "Continue" button and press Enter key.
4. Increase the zoom level of the page to 200% from browser settings or by pressing Ctrl with "+" keys 5 times.
5. Observe if the “the code" and

[2021-09-23 13:54] ogumen opened #5449 "[low] HTML Validator: Many Pages: The page title does not describe the page purpose"
## Action Performed:
1. Using Chrome, open https://staging.new.expensify.com/
2. Enter a valid email address into the "Phone or Email" field and click on "Continue" button.
3. Inspect the source code and verify if the page title describes its purpose.

## Expected Result:
The page title should be unique and should describe the page purpose, e.g. "Expensify cash - Email verification" or similar.

#

[2021-09-23 14:02] ogumen opened #5450 "[low] JAWS+Chrome: Many Pages: The main region is not marked up semantically"
## Action Performed:
1. Using JAWS+Chrome, open https://staging.new.expensify.com/
2. Press Q key to navigate to the main landmark and verify the announcement.

## Expected Result:
The main landmark of the page needs to be marked up semantically, the focus should move to the main landmark once pressing the Q key.

## Actual Result:
"There is no main region on this page" message is announced by the

[2021-09-23 14:24] ogumen opened #5451 "[med] HTML Validator: Many Pages: Multiple text fields are not associated with their labels"
## Action Performed:
1. Using Chrome, open the site https://staging.new.expensify.com/
2. Inspect the source code of the "Phone or Email" text field.
3. Notice if the visual label is associated programmatically with the text field.

## Expected Result:
The visual field label should be associated programmatically with the text field.

## Actual Result:
The visual label is not associated programmati

[2021-09-23 14:44] ogumen opened #5452 "[med] Keyboard Navigation: Many Pages: Invisible button is focused with Tab key"
## Action Performed:
Prerequisites: the screen reader is enabled to show the issue clearly.
1. Using JAWS+Chrome, open https://staging.new.expensify.com/
2. Press Tab key to focus the "Phone or Email" text field.
3. Note what element is focused and announced just before the field.

## Expected Result:
Only visible elements should be focused.

## Actual Result:
An invisible button is focused and an

[2021-09-23 15:26] michaelhaxhiu commented on #4902
Paid. 🎬

[2021-09-23 15:26] #4902 closed

[2021-09-23 15:30] stitesExpensify commented on #5418
I think we should wait on this because otherwise we'll do some work that doesn't need to be done. We're about to merge a PR for adding a debit card which you can have unlimited of so we will never not have options in the "Add payment method" dropdown and therefore no need to hide it.

@Santhosh-Sellavel is correct here. We still want paypal as an option here because you can send money _from_ paypa

[2021-09-23 15:52] Santhosh-Sellavel commented on #5418
Thanks @stitesExpensify for clarity. I agree with you here Let's wait for the PR to get merged.

[2021-09-23 16:07] Jag96 commented on #5410
Looks like #5382/#5359 is now working 🎉  @isagoico we should be good to continue with QA now!

[2021-09-23 16:08] Santhosh-Sellavel commented on #4690
Assign this issue to me @tgolen when you can, thanks!

[2021-09-23 16:16] luacmartins commented on #5312
I looked into this a bit more and here's what I found.

1. We call `User_isFromPublicDomain` whenever a user logs in or refreshes the app.
2. We are only using this information when a user tries to add a verified bank account `Settings > Workspace > Expensify Card > Get started`.
3. The API call will throw an exception when we need to reach out to Clearbit for certainty and we try again after 10 m

[2021-09-23 16:24] stitesExpensify commented on #5399
I personally think this is a non-issue that will be fixed by a combo of https://github.com/Expensify/App/issues/5418 (which will not let you edit your paypal anymore) and https://github.com/Expensify/Expensify/issues/169126 (which will let you delete your paypal with a button rather than by just emptying it out)

[2021-09-23 16:24] #5399 closed

[2021-09-23 16:40] isagoico commented on #5410
@Jag96 Can you verify which PRs have already been QA from these (since all3 are the same flow):
1. https://github.com/Expensify/App/pull/5396
2. https://github.com/Expensify/App/pull/5425
3. https://github.com/Expensify/App/pull/5430

We were told to hold on QA here https://github.com/Expensify/App/pull/5396#issuecomment-925307265

We're testing https://github.com/Expensify/App/pull/5443 at the mo

[2021-09-23 16:41] ogumen opened #5455 "[med] Keyboard Navigation: Many Pages: Links have no visible focus indicator"
## Action Performed:
1. Using Chrome, open https://staging.new.expensify.com/
2. Press Tab key to focus the links 'the code' and 'open jobs'.
3. Note if the links have a visible focus indicator.
## Expected Result:
The links 'the code', and 'open jobs' must have a visible focus indicator.

## Actual Result:
The links 'the code', and 'open jobs' have no visible focus indicator.

HTML:
`<span class=

[2021-09-23 16:49] flodnv commented on #5312
Yes

[2021-09-23 16:51] isagoico commented on #5410
Also, @iwiznia should we test https://github.com/Expensify/App/pull/5359 again?

[2021-09-23 17:00] parasharrajat commented on #5422
We need to use `maxWidth: 100%` on the `Pressable` here https://github.com/Expensify/App/blob/ab25a02c2861f4fe761b7f5aa8f218a4b4ad85d1/src/components/CommunicationsLink.js#L38

It will fix this issue.

[2021-09-23 17:02] #5344 closed

[2021-09-23 17:10] tgolen commented on #5333
Sounds like @parasharrajat is on top of this one, so 🟢 on his proposal.

[2021-09-23 17:12] isagoico commented on #5410
Left a comment in this PR https://github.com/Expensify/App/pull/5443#issuecomment-926001795

[2021-09-23 17:23] Santhosh-Sellavel commented on #5399
@stitesExpensify we can edit by just tapping on already added paypal method (Without using add payment method)

[2021-09-23 17:25] Santhosh-Sellavel commented on #5399
Delete button is best fix here for removal, was the internal issue created already?

[2021-09-23 17:26] ogumen opened #5458 "[low] JAWS+Chrome: Many Pages: Visual headings are not announced as such"
## Action Performed:
Prerequisites: the user is not logged in.
1. Using JAWS+Chrome, open https://staging.new.expensify.com/
2. Press H key to navigate through the headings.
3. Note what headings the page has.

## Expected Result:
Visually the 'Split bills and chat with friends' text looks like a heading, so it should be also announced as heading level 1.

## Actual Result:
The 'Split bills and ch

[2021-09-23 17:41] Jag96 commented on #5410
Thanks for the link, @MitchExpensify is going to QA those 3 to confirm

[2021-09-23 17:48] deetergp commented on #5340
Since the description for this issue deals specifically with iOS & Android, then going with @nikdev15's proposal seems like it would be the right choice since it makes use of the OS native date/time pickers. But @kidroca is right, a combined `DatePicker` component that returns the same return type across all platforms would be ideal, and a `Date` object would give the greatest amount of flexibilit

[2021-09-23 18:10] ogumen opened #5459 "[med] JAWS+Chrome: About: Several links announced without link role"
## Action Performed:
Prerequisites: the user is logged in.

1. Using JAWS+Chrome, open https://staging.new.expensify.com/
2. Navigate to Settings > Profile > About.
3. Press Tab key to focus the links 'View the code' and 'View open jobs'.
4. Note how the elements are announced.

## Expected Result:
The links should be announced with the link role.

## Actual Result:
The elements open a new page bu

[2021-09-23 18:23] ogumen opened #5460 "[med] Reflow: Many Pages: Some content and links missing at 400% zoom"
## Action Performed:
1. Using Chrome, open https://staging.new.expensify.com/
2. Enter a valid email address into the "Phone or Email" field.
3. Tab to focus the "Continue" button and press Enter key.
4. Increase the zoom level of the page to 400% from browser settings or by pressing Ctrl with "+" keys 8 times.
5. Observe if the “the code" and "open jobs” links, and all relevant content from the r

[2021-09-23 18:23] Jag96 commented on #5410
Checked off #5396 #5425 #5430

[2021-09-23 18:26] mallenexpensify commented on #5021
Hired and assigned @Santhosh-Sellavel! Feel free to submit the PR even with the `n6-hold` label, the Contributor Manager Engineer (CME) will might put it on hold but we anticipate the N6 hold being removed very soon.

[2021-09-23 18:28] isagoico commented on #5410
Checking off https://github.com/Expensify/App/pull/5443#issuecomment-926048131

[2021-09-23 18:30] ogumen opened #5461 "[med] Zoom: Many Pages: Zooming is disabled on multiple pages"
## Action Performed:
1. Using Chrome, open https://staging.new.expensify.com/
2. Inspect the source code of the page and check if the zooming is not disabled.

## Expected Result:
Zooming and scaling must not be disabled.

## Actual Result:
The value of the "user-scalable" attribute is set to "no" in the source code, preventing users from zooming.

HTML:
`<meta name="viewport" content="width=devic

[2021-09-23 18:33] kevinksullivan commented on #5089
Sorry, paying now!

[2021-09-23 18:38] isagoico opened #5462 "[HOLD for payment 2021-12-15] Text inputs - Further improve the text inputs design"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any page in the app that has a text input (or several, for example: staging.new.expensify.com/bank-account/new)

## Expected Result:

[2021-09-23 18:39] #5089 closed

[2021-09-23 18:41] isagoico commented on #4273
@iwiznia was able to [reproduce](https://expensify.slack.com/archives/C01GTK53T8Q/p1632420935051000) the negative notification just now

![image](https://user-images.githubusercontent.com/44479856/134565042-de3d0760-a3bf-48e8-be48-87b3fcb5b891.png)

[2021-09-23 18:47] ogumen opened #5463 "[med] JAWS+Chrome: Many Pages: The required fields are not marked as required"
## Action Performed:
1. Using JAWS+Chrome, open https://staging.new.expensify.com/
2. Press Tab key to focus the 'Enter your phone or email' field.
3. Note if the field is visually marked or announced as required.

## Expected Result:
The required fields should be visually marked as required with the asterisks next to the field labels and the legend explaining the meaning of the asterisk either at

[2021-09-23 18:51] iwiznia commented on #5410
Yep

[2021-09-23 18:52] stitesExpensify commented on #5399
Yep! I've got a WIP PR at the moment

[2021-09-23 18:57] parasharrajat commented on #5333
PR is up as It is not on N6-hold.

[2021-09-23 19:05] ogumen opened #5465 "[med] JAWS+Chrome: Email verification: Confirmation message 'link has been resent' not announced"
## Action Performed:
1. Using JAWS+Chrome, open https://staging.new.expensify.com/r/78379550.
2. Press Tab key to focus the 'Enter your phone or email' field and provide a valid email address.
3. Press Tab key to focus the 'Continue' button and press Enter key.
4. Press Tab key to focus the link 'Resend link' and press Enter key to activate it.
5. Note what is displayed and announced.

## Expected

[2021-09-23 19:07] #5088 closed

[2021-09-23 19:12] Jag96 commented on #2499
Still low priority

[2021-09-23 19:18] parasharrajat commented on #5462
* Select the input to have two outer and inner borders and I disabled the Inner one but the outer border is causing the extra height. So we should enable inner and disable outer.
* Input has this box model
![Screenshot 2021-09-24 00:46:01](https://user-images.githubusercontent.com/24370807/134569738-f63255ec-c2fe-4111-b068-d89f9da0ff5b.png)
This seems to be correct except the border is 0.8px.

[2021-09-23 19:24] ogumen opened #5467 "[med] Color Contrast: Many Pages: Blue text over white background fails contrast ratio"
## Action Performed:
1. Using Chrome, open https://staging.new.expensify.com/
2. Press Tab key to focus the 'terms of service' link and press Enter key.
3. Measure the color contrast ratio of any blue link against white background.

## Expected Result:
The contrast ratio of the text against the background should be at least 4.50:1 for small text and 3.00:1 for large text (14pt bold or 18 pt+).

##

[2021-09-23 19:24] marcaaron commented on #5410
Fix for #5359 is -> https://github.com/Expensify/App/pull/5466

[2021-09-23 19:28] #5411 closed

[2021-09-23 19:38] chiragsalian commented on #4737
On n-6 hold melvin. Shoo.

[2021-09-23 20:05] stitesExpensify commented on #5168
Just so you know, I'm trying to figure this out for you. We have some test bank accounts we use internally, but I'm not sure if I'm allowed to post them publicly on GH. I'll get back to you as soon as possible

[2021-09-23 20:29] mallenexpensify commented on #4515
@parasharrajat , thanks for the patience, it took me a lil bit to understand the issue, I was able to reproduce on Chrome - staging.  I also noticed it happens for the change password screens and request money.
![image](https://user-images.githubusercontent.com/22508304/134579202-b90d877a-006c-40a7-b00e-9863ad9d2dfe.png)
![image](https://user-images.githubusercontent.com/22508304/134579210-3a38e93

[2021-09-23 20:37] parasharrajat commented on #4515
It basically happens to every input in the app.

[2021-09-23 20:40] parasharrajat commented on #5168
DM's are always active. Thanks for looking into my request. It would be also helpful in testing the Transfer balance feature.

[2021-09-23 21:18] mallenexpensify commented on #3981
Just happened to me - I closed the lid on my comp (macbook pro) to put it to sleep, opened it up 5-10 mins later, noticed a message that I sent to Jeremy yesterday was highlighted as unread.

[2021-09-23 21:28] #5028 closed

[2021-09-23 21:33] sophiepintoraetz commented on #3981
Yeah this is still occurring on a regular basis for me.

[2021-09-23 21:35] mallenexpensify commented on #3981
@sophiepintoraetz (who I still think is in a different time zone), when it happens again, can you see if it might be related to closing or putting your comp to sleep? or.. when it wakes up?  Thanks

[2021-09-23 22:26] #5232 closed

[2021-09-23 22:36] justinpersaud commented on #5266
No further update yet. still need to figure this out

[2021-09-23 22:38] roryabraham commented on #4379
New PR is up

[2021-09-23 22:49] Jag96 commented on #5410
Ok, @isagoico we should be good to do a retest of https://github.com/Expensify/App/pull/5359, and run QA on the newly added PRs

[2021-09-23 22:49] tgolen commented on #4690
Assigned!

[2021-09-23 23:26] Jag96 commented on #5410
Checking off #5186 per https://github.com/Expensify/App/pull/5186#issuecomment-926232956

[2021-09-23 23:35] Jag96 commented on #5410
@kevinksullivan and I confirmed the others are working as well! Checking them off and shipping 🚀

[2021-09-23 23:35] Jag96 commented on #5410
:shipit:

[2021-09-23 23:35] #5410 closed

[2021-09-23 23:39] OSBotify opened #5477 "Deploy Checklist: New Expensify 2021-09-23"
**Release Version:** `1.1.2-7`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/5186
- [x] https://github.com/Expensify/App/pull/5270
- [x] https://github.com/Expensify/App/pull/5316
- [x] https://github.com/Expensify/App/pull/5381
- [x] https://github.

[2021-09-23 23:44] JmillsExpensify commented on #5082
Still holding

[2021-09-24 01:53] Christinadobrzyn commented on #5286
@marcaaron sorry to ask but am I correct that this is the [PR](https://github.com/Expensify/App/pull/5019) for this fix and it was deployed over 7 days ago?

Do we need to wait for something else to be deployed/fixed/completed before we pay @parasharrajat and close this?

[2021-09-24 01:57] Christinadobrzyn commented on #4264
Not overdue - on hold

[2021-09-24 04:32] MonilBhavsar commented on #4209
@isagoico were you able to see this again?

[2021-09-24 07:19] nikdev15 commented on #5340
@deetrgrp I have understood that you need a component that returns the same type across all platforms. The way to do it is we can implement the OS native date picker and store it as a value in a variable. As @kidroca mentioned that the button component works with a string, we can `override the variable to  JSON` format and then` use .Stringify() method `to convert it into a string. All of this wil