[2022-10-17 22:32] OSBotify commented on #11920
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11939) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.17-4` :rocket:

[2022-10-17 22:42] youssef-lr commented on #11189
Still working on this. Was OOO.

[2022-10-17 22:45] marcochavezf commented on #11865
Hmm I think this is the default behavior for inputs on Android because the text is also underlined in other fields. Also if you type a number first the text is not underlined.

[2022-10-17 22:46] marcochavezf commented on #11865
Yup, tested on other apps (like Airbnb, Whatsapp, and Gmail) and the behavior is the same. Closing it

[2022-10-17 22:46] #11865 closed

[2022-10-17 22:47] youssef-lr commented on #11109
I could not reproduce this one again. Will close this out.

[2022-10-17 22:47] #11109 closed

[2022-10-17 22:52] alex-mechler commented on #11922
Are there any logs errors when this happens? Its possible that this is a bug and not a new feature

[2022-10-17 22:57] marcochavezf commented on #11695
Hi @eVoloshchak, yeah that's the idea. It will be great if the proposal includes the solution for this specific case and also includes all the possible places that need to be fixed with that solution. I think it will be worth increasing the price since the scope has been expanded, what do you think @trjExpensify?

[2022-10-17 23:12] roryabraham commented on #11879
Put a PR up for this

[2022-10-17 23:15] sakluger commented on #11840
Thanks for the bump @Julesssss. I am creating the UpWork job, but please bear with me as I am new to the process.

[2022-10-17 23:24] sakluger commented on #11840
@Tushu17 @thesahindia I sent you the offer in the Upwork job: https://www.upwork.com/jobs/~01d12df3246d798d2d

[2022-10-17 23:26] chiragsalian commented on #11845
I can reproduce the issue on staging but not on dev. From the network request it looks like the issue is something related to persisted requests and may not necessarily be an issue with the code around rate and unit. Either way, I'm thinking of waiting to see if the next deploy just solves this issue. Demoting it to weekly till then.

[2022-10-17 23:31] neil-marcellini commented on #11236
@shawnborton @trjExpensify Do we want punctation at the end of the error messages and if so what should it be? We are not very consistent in general. I don't think we want punctuation unless there are multiple sentences. Agree or no?

1.
[code]
2.
[code]
3.
[code]

[2022-10-17 23:35] #10524 closed

[2022-10-17 23:36] roryabraham commented on #11915
WIP PR: https://github.com/Expensify/App/pull/11944

[2022-10-17 23:36] OSBotify commented on #11920
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.17-4 has been deployed to staging :tada:

[2022-10-17 23:39] OSBotify commented on #11920
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.17-3 :rocket:

[2022-10-17 23:51] AndrewGable commented on #11352
Agree with @thesahindia's [comment here](https://github.com/thesahindia), I'd suggest @aimane-chnaif.

[2022-10-17 23:58] dangrous commented on #11800
Hey @mollfpr (and @thesahindia)! So I think you're correct as to what's causing the issue. However, generally, we try to avoid using `makeRequestWithSideEffects` as much as possible, since it follows our attempted pattern of making every API call self-contained, and using it here would add clutter. Is there another way you can think of to avoid that error?

You probably got here but it looks like

[2022-10-18 00:04] chiragsalian commented on #9971
While working on the red brick road testing for another issue i just remembered that with the changes here whats best for showing the red dot. Currently on production its like this,
![image](https://user-images.githubusercontent.com/14356145/196305506-09bad7d1-40f5-4248-a426-a158fe89b29a.png)

 Should we just show the red dot on the left of the avatars here?
![image](https://user-images.githubuser

[2022-10-18 00:12] roryabraham commented on #11915
PR ready for review. I'm choosing not to CP it so that it gets to undergo a full regression suite.

[2022-10-18 00:12] roryabraham commented on #11867
Taking this over because I have a [fix](https://github.com/Expensify/App/pull/11944) ready for review.

[2022-10-18 00:30] tienifr commented on #11427
Hi @rushatgabhane and @shawnborton. Sorry about some issue of my latest comment. I have some update for my proposal please check again

## Updated Proposal

### Solution

1) We have a field to check whether user set their password or not using props.user.validated.
I will follow design in ticket to add the text remind user to validated account and the button to resend the validation link to their

[2022-10-18 00:48] roryabraham commented on #10962
Put up [this PR](https://github.com/Expensify/App/pull/11945) to glean the performance benefits from recent upgrades made in Onyx.

[2022-10-18 00:55] mallenexpensify commented on #11274
Thanks @mvtglobally I added the label and unassigned you.  Please triage @jliexpensify

[2022-10-18 01:00] mallenexpensify commented on #10107
@parasharrajat when do you do so, will you drop the link in here (for internal or #expensify-open-source post), thanks.

[2022-10-18 01:03] luacmartins commented on #6883
https://github.com/Expensify/react-native-key-command/pull/4 in review

[2022-10-18 01:04] mallenexpensify commented on #11589
Job created!!
https://www.upwork.com/jobs/~012d0f5ce31935509e

[2022-10-18 01:09] mallenexpensify commented on #8130
@mvtglobally can you set this up for weekly checks to see if you're still able to reproduce?

@Julesssss is https://github.com/Expensify/Expensify/issues/209906 something we want to prioritize?

[2022-10-18 01:50] kbecciv opened #11946 "[$250] Android - Attachment - The image is appeared only after reload the app if sent it while offline."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App and login
2. Go to any chat
3. Disable the internet connection in the device
4. Navigate to a chat and upload an at

[2022-10-18 01:53] kbecciv opened #11947 "[$250] Close account - When closing account, there is no focus in the input field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. . Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to Settings >Security
4. Tap "Close account"

#

[2022-10-18 01:57] kbecciv opened #11948 "[HOLD #11768] [$1000] Login - After creating a new account the user is not brought to Concierge conversation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to https://staging.new.expensify.com/
2. In the email field, enter a gmail email address for a new account
3. Press c

[2022-10-18 02:01] kavimuru opened #11949 "[$250] BUG: When a new message arrives while drafting a message in the compose field, field gets cleared"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open ND and login as account A
2. Start composing a message to any user Account B
3. Send a message from the account B

## Exp

[2022-10-18 02:02] kbecciv opened #11950 "[$250] Android/IOS - Chat - After sent the message the composed box is not focused and cursor is not appear."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Select any user
4. Send message

## Expected Result:
After sent the message the c

[2022-10-18 02:05] kbecciv opened #11951 "[$1000] iOS - Unread LHN - Unread username unbolded after minimize or open command center"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run NewDot App
2. Open LHN and receive new msg while focused on the tab
3. Minimize App or open Command center few times

## E

[2022-10-18 02:25] kavimuru opened #11952 "BUG: Mweb - Amount digit in send money page is not aligned with currency text when any digit is entered reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open app in IOS mWeb (Google chrome).
2. Click on + icon (green) > split bill.
3. Enter any digit(enter 0 for clear effect).

[2022-10-18 02:28] varshamb commented on #11947
### Proposal

add autoFocus={true} in textinput on CloseAccountPage

[2022-10-18 02:35] kavimuru opened #11953 "[HOLD #12046] Feature Request : not hide Keyboard when click on chat with your specialist reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
Keyboard hides click on chat with your specialist

## Solution:
We should not hides Keyboard  click on chat with your specialist

## Conte

[2022-10-18 02:51] kavimuru opened #11954 "[HOLD #11321] Bug: Website become choppy while dealing with large text reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open Website/App
2. Go to chat
3. Send a message of 60000 characters
4. Try to edit & save that message.

## Expected Result:

[2022-10-18 02:53] mollfpr commented on #11921
@alexpensify Could you try to send a message and double/triple tap on empty space chat to highlight the text then copy with `cmd+c` or `ctrl+c`?

https://user-images.githubusercontent.com/25520267/196324722-81d55ece-dfe0-42e6-aa05-a78346de2cd9.mov

[2022-10-18 02:56] HassenBenHadjHassen commented on #11261
You could only Keep the name instead of showing the entire name@xx.com
it's a very easy fix

[2022-10-18 02:59] kavimuru opened #11955 "BUG: LHN is showing HTML tags for messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to a DM
2. Type several words
3. Press shift + return on your keyboard to start a new line
4. Type several more word

[2022-10-18 03:13] jliexpensify commented on #11274
I'm on v1.2.17-4 and can't replicate this. I asked @kadiealexander to try on 1.2.12 and she couldn't either.

@gadhiyamanan what version are you on?

[2022-10-18 03:19] gadhiyamanan commented on #11274
@jliexpensify I am using v1.2.12-4(production) and able to reproduce it https://user-images.githubusercontent.com/54790231/196327734-957b11bb-e14c-4729-83a3-0dee307cee40.mp4

[2022-10-18 03:24] gadhiyamanan commented on #11274
Able to reproduce on v1.2.17-4
https://user-images.githubusercontent.com/54790231/196328414-c3198f45-72b0-4267-ad66-30ab3b07343e.mp4

[2022-10-18 03:26] roryabraham commented on #11877
Got a PR up for most of our usages of `set-output`, but not necessarily all the usages in the community actions we're using.

[2022-10-18 03:27] roryabraham commented on #11524
Still on HOLD, making this a weekly for now.

[2022-10-18 03:30] roryabraham commented on #11680
No update for now but there's a milestone [here](https://github.com/necolas/react-native-web/milestone/19). Going to make this a monthly while we're waiting.

[2022-10-18 03:31] roryabraham commented on #4629
Still on HOLD, reassigning to @Beamanator

[2022-10-18 03:33] kadiealexander commented on #11274
HI Manan! Could you please share the following information to help us narrow this down?

 - Device model and OS
 - Browser used
 - Staging or production?

[2022-10-18 03:33] hungvu193 commented on #11797
@Santhosh-Sellavel Since we are using @svgr/webpack as a loader for web and all these breaking changes for the command line tool, template, @svgr/core which we didn't use in our application, we only need to update the version in package.json.

[2022-10-18 03:36] kadiealexander commented on #11274
@gadhiyamanan I'm reasonably sure this is intended behaviour. You're marking all messages below that message as unread, and the rest of the messages below the deleted message are still unread even if one gets deleted.

If you mark the last message as unread and then delete it, the bolding disappears because all unread messages are now removed.

[2022-10-18 03:41] roryabraham commented on #11291
PR merged 🚀

[2022-10-18 03:43] jliexpensify commented on #11274
I agree with Kadie - I don't think this is an issue.

[2022-10-18 03:46] gadhiyamanan commented on #11274
I think in that case we should not remove  "New" green line it should pass to next message

@jliexpensify @kadiealexander

[2022-10-18 03:53] jliexpensify commented on #11274
I think we should remove "New" as you're only marking one message as Unread and removing it: hence there aren't new messages to read.

In your first video, if you marked all 3 messages as Unread and removed one, then the "New" line should stay.

[2022-10-18 04:03] gadhiyamanan commented on #11274
Right now "New" line disappears
https://user-images.githubusercontent.com/54790231/196332814-6f8850e1-a1b3-455f-aa24-5564eefbb8c8.mp4

[2022-10-18 04:19] jliexpensify commented on #11274
@gadhiyamanan - you're just marking one unread message in that above video, right? If so, that seems correct - in terms of the "new" line disappearing.

If you mark 3 messages (one after another) and delete the first one, then the "new" line should remain.

[2022-10-18 04:57] sobitneupane commented on #11863
@Uros787 This issue mainly occurs in iOS physical device and not simulator. So, we should be able to attach video from physical device in the PR. I don't think we can go forward with your proposal if you will not be able to do so.

cc: @ctkochan22

[2022-10-18 05:32] sobitneupane commented on #11671
@tjferriss As suggested earlier, we want `listenForReportChanges` to handle updating of the read/unread count. Since report is being changed, `throttledUpdatePageTitleAndUnreadCount();` should be called through `listenForReportChanges`.

[2022-10-18 05:39] sobitneupane commented on #11671
@fedirjh Your proposal steps 2-5 look convincing.

But in step 1, It is better to find a way to update unread `updateUnread` through `listenForReportChanges` >  `throttledUpdatePageTitleAndUnreadCount` > `updateUnread` if possible.

[2022-10-18 06:31] MariaHCD commented on #11929
We're investigating this here: https://github.com/Expensify/Expensify/issues/234337

[2022-10-18 06:49] techievivek commented on #11493
@roryabraham had a look at it during our sync and my [Web-E PR](https://github.com/Expensify/Web-Expensify/pull/33495) indeed caused this regression. Here is what I changed that caused the regression.

[code]

I will put a PR today fixing it today.

[2022-10-18 07:00] chauchausoup commented on #11486
Issue:

`whiteSpace: 'nowrap'` is creating a single line tooltip in Chat section especially for URLs. We can remove it but to my investigation we can see changes in two areas.
1. pin/Unpin section in chat Report header section
2. Copy to Clipboard/ Copied in Reimburse expenses

Solution:
We can add numberOfLines ={1} in both of the above fields once we remove whiteSpave: 'nowrap' from getToolTipSt

[2022-10-18 07:04] chauchausoup commented on #11486
**Issue**:

whiteSpace: 'nowrap' is creating a single line tooltip in Chat section especially for URLs. We can remove it but to my investigation we can see changes in two areas.

pin/Unpin section in chat Report header section
Copy to Clipboard/ Copied in Reimburse expenses

**Solution**:
We can add numberOfLines ={1} in both of the above fields once we remove whiteSpave: 'nowrap' from getToolTipS

[2022-10-18 07:29] techievivek commented on #11885
This indeed is a problem. Once we expand the compose box, we can no longer scroll.

[2022-10-18 07:46] kidroca commented on #11724
Ok, this makes sense, and unlike now, you would be able to have a linter running while developing android/ios as well

[2022-10-18 09:03] hungvu193 commented on #11283
<b>Proposal</b>
I think this problem here because after press, the checkbox still have the focus.

<b>Solution</b>
Remove focus if it's unselected, also update the focus style condition in Checkbox.js file:

[code]

[code]

Here's the result:
https://user-images.githubusercontent.com/16502320/196386582-b60b8331-60fa-471a-881f-dc487cc857c5.mov

[2022-10-18 09:05] sobitneupane commented on #11486
So, the problem lies in those `Tooltip` where the tooltip text is being changed with user interaction. As mentioned by @chauchausoup, pin/unpin and Copy to clipboard/copied are tooltips being changed with user interaction. (We should look for other such cases if any.)

The ideal solution would be to update [wrapperWidth](https://github.com/Expensify/App/blob/363d98fd3a3567c102c5359ba5257c67f95c60d

[2022-10-18 09:08] mollfpr commented on #10824
### Proposal

I found the answer to this. Is set from RNW on `UIManager.focus` from `ModalFocusTrap`. The comment about setting `tabindex=-1` is:
[code]

Also on Firefox when we open second time the uploaded PDF and try to scroll with the arrow key, we need to click twice to make it work.

https://user-images.githubusercontent.com/25520267/196378126-47aaefa5-6922-47ce-b29f-44c147735251.mov

https:

[2022-10-18 09:12] muttmuure commented on #11687
I'm not sure if we have chosen deliberately to not store the accepted terms and conditions, because we need the customer to agree to the terms at a certain time

[2022-10-18 09:17] muttmuure commented on #11687
@kavimuru I think we aren’t storing the value in the terms and conditions checkbox as a draft seems to be a deliberate decision we’ve made, and not a bug.

Customers always have to opt into terms & conditions, and, under this proposal, those terms & conditions may have been different at the time we stored the draft which puts us in an awkward position if they don’t like terms of service changes.

[2022-10-18 09:38] flodnv commented on #11632
Yes, as per the bot reapplying the daily label :)

On Mon, Oct 17, 2022, 16:28 Jules ***@***.***> wrote:

[2022-10-18 09:53] parasharrajat commented on #11687
@muttmuure I agree with what you said. but there is a bug in the code which prevent any checkboxes from being stored as a draft. I looked at the code and it seems that the code is configured to save the draft for the checkbox as well. But due to the bug, it is not saving the draft value.

I reported this issue to fix that bug. We can leave the terms and conditions checkbox out of the draft but we

[2022-10-18 09:54] thesahindia commented on #11840
Accepted. Thanks!

[2022-10-18 10:06] flodnv commented on #11667
Is this issue only on iOS?

[2022-10-18 10:07] flodnv commented on #11590
Maybe related...? https://github.com/Expensify/App/issues/11667

[2022-10-18 10:41] Beamanator commented on #11946
It would be nice to know if the logs show a Pusher message arriving to the front-end. If not, this could be an `Internal` issue.

[2022-10-18 10:45] parasharrajat commented on #11283
It could be a solution but I don't know what kind of side effects it will bring with it. I think it would be good if this problem can be fixed with style refactoring and without changing the behavior. (we should keep in mind that the solution is going to affect all checkboxes in the app) Let's see if we have better solutions.

[2022-10-18 10:47] thesahindia commented on #11632
Thanks, will remember next time.

[2022-10-18 11:00] MonilBhavsar commented on #11874
Draft PR is up, working on tests now

[2022-10-18 11:02] tienifr commented on #11632
@Julesssss Could you please send the Upwork link that I can apply to? thanks

[2022-10-18 11:04] tienifr commented on #11737
@thienlnam Could you please send the Upwork link that I can apply to? thanks

[2022-10-18 11:07] parasharrajat commented on #11667
No proposals

[2022-10-18 11:07] MonilBhavsar commented on #11471
Hmm, I'm not also able to reproduce now.
@kbecciv could you please confirm if this issue is still reproducible. Thank you!

[2022-10-18 11:10] #8734 closed

[2022-10-18 11:10] mvtglobally commented on #9391
Issue not reproducible during KI retests. (Second week)

[2022-10-18 11:11] parasharrajat commented on #11823
I was suggesting that we check if the entered node is the same as `CONST.REPORT.DROP_NATIVE_ID`, only the call the `onDragenter` and so on for the leave event. That seems like a better approach to me.

Can you please share something where I can read about the `counter` based approach?

[2022-10-18 11:11] mvtglobally commented on #9620
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:11] mvtglobally commented on #8292
Issue not reproducible during KI retests. (Second week)

[2022-10-18 11:13] mvtglobally commented on #9510
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:14] mvtglobally commented on #10093
Issue not reproducible during KI retests. (Third week) Closing

[2022-10-18 11:14] #10093 closed

[2022-10-18 11:14] mvtglobally commented on #10282
Issue not reproducible during KI retests. (Second week)

[2022-10-18 11:15] mvtglobally commented on #10356
Issue not reproducible during KI retests. (Third week) @tgolen @MitchExpensify  Are we ok to close this?

[2022-10-18 11:15] mvtglobally commented on #10555
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:16] mvtglobally commented on #10608
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:16] mvtglobally commented on #10609
Issue not reproducible during KI retests. (Second week)

[2022-10-18 11:17] mvtglobally commented on #10698
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:17] mvtglobally commented on #10928
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:18] mvtglobally commented on #10663
Issue not reproducible during KI retests. (Fourth week) Are we ok to close?

[2022-10-18 11:18] mvtglobally commented on #10731
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:18] hungvu193 commented on #11283
Currently we always set the focus is true, when ever we press the checkbox, I think that's necessary and that's why this issue happen, I believe the way we change the focus of the checkbox can affect other component.

[2022-10-18 11:19] mvtglobally commented on #10735
Issue not reproducible during KI retests. (Second week)

[2022-10-18 11:19] mvtglobally commented on #10767
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:19] mvtglobally commented on #10830
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:20] mvtglobally commented on #10975
Issue not reproducible during KI retests. (Fourth week)

[2022-10-18 11:21] mvtglobally commented on #11061
Issue not reproducible during KI retests. (Third week)

[2022-10-18 11:21] MonilBhavsar commented on #9391
@mvtglobally, I think the issue was occurring on Mobile web.

[2022-10-18 11:21] mvtglobally commented on #11063
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:22] mvtglobally commented on #10283
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:22] mvtglobally commented on #10442
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:22] mvtglobally commented on #10625
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:23] mvtglobally commented on #10847
Issue not reproducible during KI retests. (Fifth week) Are we ok to close this issue?

[2022-10-18 11:23] mvtglobally commented on #11187
Issue not reproducible during KI retests. (Second week)

[2022-10-18 11:24] mvtglobally commented on #11228
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:24] mvtglobally commented on #11246
Issue not reproducible during KI retests. (Second week)

[2022-10-18 11:24] varshamb commented on #11283
Will this work?

https://github.com/Expensify/App/issues/11283#issuecomment-1258248217

[2022-10-18 11:24] mvtglobally commented on #11074
Issue not reproducible during KI retests. (Second week)

[2022-10-18 11:25] mvtglobally commented on #11148
Issue not reproducible during KI retests. (Third week) Closing

[2022-10-18 11:26] mvtglobally commented on #11199
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:26] mvtglobally commented on #11216
Issue not reproducible during KI retests. (Third week) Closing

[2022-10-18 11:26] #11216 closed

[2022-10-18 11:26] mvtglobally commented on #11235
Issue not reproducible during KI retests. (Second week)

[2022-10-18 11:27] mvtglobally commented on #11262
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:28] mvtglobally commented on #11462
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:28] mvtglobally commented on #11470
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:28] hungvu193 commented on #11283
This won't work with the case we selected all the user and the `Select All` checkbox will be checked, in this case `Select All` checkbox won't have the border because it was focused.

[2022-10-18 11:29] mvtglobally commented on #11507
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:29] mvtglobally commented on #11511
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:29] mvtglobally commented on #11513
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:30] mvtglobally commented on #11526
Issue not reproducible during KI retests. (Second week)

[2022-10-18 11:30] mvtglobally commented on #11646
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:30] mvtglobally commented on #11772
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:31] mvtglobally commented on #11753
Issue not reproducible during KI retests. (First week)

[2022-10-18 11:46] Beamanator commented on #11889
Thanks for confirming, @kbecciv! It also looks like those steps in TestRail were the desired result when implementing the `RestartBankAccountSetup` here: https://github.com/Expensify/App/pull/9831

Making `External` since this most likely is a front-end redirect issue and can be worked by contribs

[2022-10-18 11:48] Beamanator commented on #11708
Makes sense to me 👍

[2022-10-18 11:51] youssef-lr commented on #11490
This has been fixed. Closing!

[2022-10-18 11:51] youssef-lr commented on #11526
This has been fixed. Closing!

[2022-10-18 11:51] #11526 closed

[2022-10-18 11:51] Beamanator commented on #11693
I think you're right @mollfpr - sounds like a different part of the codebase 👍

[2022-10-18 12:05] Beamanator commented on #11778
mooost likely this is due to the fact that Pusher isn't sending messages, due to hitting an API quota limit

[2022-10-18 12:05] Beamanator commented on #11778
Putting on hold till we figure out if that's the problem (I can reproduce this error in dev)

[2022-10-18 12:12] luispdev0328 commented on #11760
This issue needs to be fixed yet?

[2022-10-18 12:21] NicMendonca commented on #11314
Still open to proposals

[2022-10-18 12:25] NicMendonca commented on #11059
@mananjadhav ☝️

[2022-10-18 12:30] parasharrajat commented on #11760
@tgolen Could you please check the Firebase console whether this is still happening?

[2022-10-18 12:31] michaelhaxhiu commented on #10884
Doubling

[2022-10-18 12:32] luispdev0328 commented on #11192
I could reproduce this issue when send an attachment, too.

https://user-images.githubusercontent.com/115640297/196430132-1a79f6ad-ba86-44cc-8b60-9abff9d2827f.mp4

Do you need my proposal yet?

[2022-10-18 12:38] parasharrajat commented on #11283
I thought I left a comment on your proposal @varshamb. Apologies for that. I will share the feedback in some time and @hungvu193 I will run some tests on your solution as well. Meanwhile, I would suggest your try https://github.com/Expensify/App/issues/11283#issuecomment-1282189428.

Can we try to combine the styles of view with `Pressable` on the Checkbox component?

here it looks to me
1. When w

[2022-10-18 12:45] #10663 closed

[2022-10-18 12:47] #10224 closed

[2022-10-18 12:55] mananjadhav commented on #11192
@luispdev0328 Yes its the same component so solving it once, will solve at both the places.  Yes is it open for proposals. Feel free to send one for review.

[2022-10-18 12:55] iwiznia commented on #11935
This is not a bug, that's exactly how it should work. You press UP to edit your last message

[2022-10-18 12:55] #11935 closed

[2022-10-18 12:59] parasharrajat commented on #8292
the other issue is on now put on HOLD https://github.com/Expensify/App/issues/9253#issuecomment-1270575168.

[2022-10-18 13:03] parasharrajat commented on #10609
let's remove the help wanted and External labels.

[2022-10-18 13:03] tgolen commented on #10273
I haven't had the chance to progress on the PR this week due to allocations.

[2022-10-18 13:08] parasharrajat commented on #11856
@bondydaa let's re-apply the engineering label so that someone is assigned to it. Seems important to me.

[2022-10-18 13:10] vladamx commented on #11823
Yes, its cleaner but it does not work; For dragleave, you can not apply !== CONST.REPORT.DROP_NATIVE_ID because it will keep firing for child elements.

Related read for the discussion:
https://stackoverflow.com/questions/7110353/html5-dragleave-fired-when-hovering-a-child-element

I checked, and it actually works on Firefox now as well.

Alternative approaches like pointer events none seems like

[2022-10-18 13:12] parasharrajat commented on #11823
Thanks for sharing. I will go though it and then decide.

[2022-10-18 13:13] zanyrenney commented on #11809
Been OOO.

[2022-10-18 13:13] iwiznia commented on #11236
Good question. I don't think there's guidelines about that here https://stackoverflow.com/c/expensify/questions/7025/7026#7026, so we should decide and update that.

[2022-10-18 13:15] parasharrajat commented on #11101
@jliexpensify Let's double it.

Waiting for proposals.

[2022-10-18 13:26] mvtglobally commented on #11920
@Julesssss  Regression is almost completed

and you are right, PR https://github.com/Expensify/App/pull/10994 is failing due to https://github.com/Expensify/App/issues/11929

[2022-10-18 13:33] Justicea83 commented on #11948
I was able to reproduce this on staging when when the width of the viewport is at most 800*915. This is an external fix

[2022-10-18 13:36] kbecciv commented on #11391
@JmillsExpensify @AndrewGable QA team is discovered the same issue in Android on build 1.2.17.0

https://user-images.githubusercontent.com/93399543/196445157-1d5f16b6-780d-483d-982b-c45e041fd044.mp4

[2022-10-18 13:40] JmillsExpensify commented on #11311
Checking on 1.2.16-5. Report back shortly.

[2022-10-18 13:40] alexpensify commented on #11921
I'm still unable to replicate it. I followed the new steps to select the white space and input `cmd+c` and was successful to copy. Assigning it to Engineering for another review.

[2022-10-18 13:41] alexpensify commented on #11921
Here are screenshots from my test via the web app:

![image](https://user-images.githubusercontent.com/8107070/196446466-08a883b2-ea91-4c60-9b46-6b46c16b2f4a.png)

![image](https://user-images.githubusercontent.com/8107070/196446503-8c0303fb-f800-41a7-8d07-98dc929b79fc.png)

[2022-10-18 13:49] fedirjh commented on #11671
@sobitneupane here is an updated Proposal
## Proposal

### 1. **Changes in [UnreadIndicatorUpdater/index.js](https://github.com/Expensify/App/blob/363d98fd3a3567c102c5359ba5257c67f95c60d0/src/libs/UnreadIndicatorUpdater/index.js#L42)**
we can get the `key` already , we can remove the `report` from `reports` when it's cleared
[code]
### 2. **Changes in [SignInRedirect.js ](https://github.com/Expens

[2022-10-18 13:50] JmillsExpensify commented on #11311
I ended up checking on 1.2.17-4. I *think* this might have happened the first time, but then I couldn't reproduce the second and third time. @trjExpensify do you mind double checking this and see if you can reproduce the first time (essentially before we cache the chat history).

[2022-10-18 13:50] puneetlath commented on #11157
All paid. Thanks everyone!

[2022-10-18 13:50] #11157 closed

[2022-10-18 13:51] kbecciv opened #11960 "Android - Login - User is not able to login after logout in offline mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Logged in the app, Put your device in Airplane mode(Wi-Fi off)
2; Tap in profile Icon
3 .Tap settings then Sign out
4. Turn ai

[2022-10-18 13:53] tienifr commented on #11844
#Proposal
##Problem
On iOS function `onContentSizeChange` returns incorrect height when we use paddingHorizontal. I believe it's the problem of React Native.
Pls check the evidence:

https://user-images.githubusercontent.com/113963320/196440389-7ae3ec93-87b7-4c5d-b2c5-6b29a3fad449.mp4

##Solution
in https://github.com/Expensify/App/blob/main/src/components/Composer/index.ios.js
we'll override `pad

[2022-10-18 13:55] trjExpensify commented on #11311
Yeah, I can reproduce it:

<img width="1199" alt="image" src="https://user-images.githubusercontent.com/16232057/196449916-96a5f4f2-69d1-4927-9116-cb073494b2db.png">

[2022-10-18 13:57] JmillsExpensify commented on #11311
Ok cool. Yeah I thought I was seeing double. This still happens to me too, but only the first time for that person. Screenshots below.

When I was offline (step 9)
<img width="787" alt="Screen Shot 2022-10-18 at 09 44 45" src="https://user-images.githubusercontent.com/1127863/196450356-c1e922c0-6e3d-4c44-80b5-5c743b3f7bc0.png">

Then after coming back online, I the message I sent online finally sh

[2022-10-18 14:06] gadhiyamanan commented on #11207
bump @marcaaron  @jasperhuangg ^^

[2022-10-18 14:07] trjExpensify commented on #11236
^^ judging by these examples in the SO we do use punctuation.

I agree it should be consistently applied though and to get a hip check from marketing on this is. Doza is assigned, but cc'ing a couple of others as well @joaniew @GabiHExpensify

[2022-10-18 14:16] sobitneupane commented on #10290
Looks like we already have few proposals:
https://github.com/Expensify/App/issues/10290#issuecomment-1234768885
https://github.com/Expensify/App/issues/10290#issuecomment-1265925665
https://github.com/Expensify/App/issues/10290#issuecomment-1280776283

Will review them tomorrow(Wednesday) morning NPT.

[2022-10-18 14:19] tgolen commented on #11330
The proposal from @rawalyogendra is more what I was looking for, so that one is my preference.

[2022-10-18 14:24] tgolen commented on #10356
@akshayasalvi are you still working on this? What is the status of your PR? Can you still reproduce the original problem?

[2022-10-18 14:24] dylanexpensify commented on #11908
Reviewing now!

[2022-10-18 14:28] shawnborton commented on #11236
I agree with Neil - using no punctuation when one sentence makes sense to m, and then we'd use punctuation for multiple

[2022-10-18 14:33] kbecciv opened #11961 "IOS - Chat - Chat conversation is shifted and Fub menu partially visible after Take a picture and sent it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with any account
2. Select any user
3. Tap on Plus button - Add attachment
4. Select Take a Photo option
5. Take a phot

[2022-10-18 14:35] shawnborton commented on #11427
Thanks for the updated video! I think that makes sense to me. I see that you are re-using the component from the login screen, which I think is fine. But at the same time, I don't know that we need to include the avatar + email inside of the rightDocked modal. So perhaps we could take that part out if it's easy? Otherwise happy to keep it there so we just reuse the component.

[2022-10-18 14:36] JmillsExpensify commented on #9239
Bump on @Puneet-here's comment.

[2022-10-18 14:39] shawnborton commented on #9971
That makes sense to me - though i think I would put the red dot to the right of the avatars so that the red dot is always in the same spot near the arrow?

[2022-10-18 14:41] kbecciv commented on #11471
@MonilBhavsar Checking with team, will update you shortly

[2022-10-18 14:44] kbecciv commented on #11808
@ctkochan22 Checking with Team, will update you shortly

[2022-10-18 14:45] michaelhaxhiu commented on #2545
Doubling price to $1000, and re-surfacing this comment:

[2022-10-18 14:45] tgolen commented on #11760
It looks like it only happened twice and the last time was on Oct 12.

[2022-10-18 14:55] trjExpensify commented on #8503
Niceee! 🚀 Let's link those in the OP - I've added them both.

Yeah, I agree with this sentiment.

[2022-10-18 14:56] JmillsExpensify commented on #8503
Totally, the more C+ the merrier to make sure this is smooth.

[2022-10-18 15:06] tgolen commented on #11776
I've added a HOLD to this and added it to the tracking issue: https://github.com/Expensify/App/issues/10273

[2022-10-18 15:09] srikarparsi commented on #10847
keeping the issue open for payment on the 20th

[2022-10-18 15:12] kavimuru commented on #11822
@dangrous Sorry for the late reply. I have edited the title and steps.

[2022-10-18 15:20] fedirjh commented on #11486
@sobitneupane any feedback here https://github.com/Expensify/App/issues/11486#issuecomment-1279204962 ?
also there is an issue with https://github.com/Expensify/App/issues/11486#issuecomment-1281906591 , if we consider that tooltip text should wrap to max 3 lines , if url is longer it will only wrap to 2 lines

![Screenshot from 2022-10-18 16-07-29](https://user-images.githubusercontent.com/368690

[2022-10-18 15:22] tgolen commented on #11858
Added to master tracking issue https://github.com/Expensify/App/issues/10273

[2022-10-18 15:24] hungvu193 commented on #11283
@parasharrajat  Also I wanna report another issue, after press the checkbox to select, then press again to unselect, move to another tab and back again, the checkbox will be focused again (with the blue border), this only happen in Chrome. I checked the code and saw that the function `onFocus` is called every time the tab's focused. To fixed that we need to change the `onFocus` function to:

[code

[2022-10-18 15:24] JmillsExpensify commented on #11321
Aren't we already working on resolving this issue with [this PR](https://github.com/Expensify/App/pull/11684)?

[2022-10-18 15:24] kavimuru commented on #11312
@aldo-expensify Issue is fixed with` Cmd + Opt + Shift + V`

https://user-images.githubusercontent.com/43996225/196473909-a7d367df-f302-4a48-b5c2-1335e19273ad.mp4

[2022-10-18 15:33] kavimuru opened #11962 "[$250] BUG: when flipping between chats, the composer box is gone and only the skeleton UI shows."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to ND and login
2. Open any chat
3. Switch between chats

## Expected Result:
Composer window should not disappear

## Actu

[2022-10-18 15:40] Puneet-here commented on #8130
Hi @mallenexpensify, I think the issue got resolved (have tested it). Also, just wanted to confirm if it is eligible for any compensation since I had proposed a change earlier which was [approved](https://github.com/Expensify/App/issues/8130#issuecomment-1112504362) but we didn't get the chance to Push the PR due to backend [dependency](https://github.com/Expensify/App/issues/8130#issuecomment-112

[2022-10-18 15:40] trjExpensify commented on #11461
Yep, makes sense. Updated the title to reflect what PR it's held on.

[2022-10-18 15:41] JmillsExpensify commented on #11189
Going to start profiling this in the weekly WAQ update since I think it's important polish.

[2022-10-18 15:42] ryanldonato commented on #5671
@dangrous just going to make one small tweak to the copy:

Draft: Drafts
Pinned: Chat Pinned

If there are multiple drafted messages will they all appear in LHN like they do in slack?

[2022-10-18 15:49] hungvu193 commented on #11812
I can only reproduce this on my xiaomi phone, I can't reproduce it on simulator Pixel 4, Pixel XL (android 12).

[2022-10-18 15:49] arielgreen commented on #11061
Closing.

[2022-10-18 15:49] #11061 closed

[2022-10-18 15:50] eVoloshchak commented on #11801
@mollfpr's proposal looks good to me, works on mWeb correctly

🎀👀🎀 C+ reviewed!
cc: @marcochavezf
The better approach would be to figure out how to disable onScroll callback when selecting an option, but I doubt that's viable

[2022-10-18 15:52] kavimuru opened #11963 "BUG - Updating last name with comma will save and then default back to an old saved last name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to NewDot
2. Go to profile and change last name with a comma
3. Name is changed and reflected in the profile and in the

[2022-10-18 16:02] sobitneupane commented on #11486
@fedirjh Your question is already answered here https://github.com/Expensify/App/issues/11486#issuecomment-1280178507 . There are many edge cases that should be considered.
With your proposed solution:
<img width="300" alt="Screen Shot 2022-10-18 at 21 38 01" src="https://user-images.githubusercontent.com/25876548/196481851-967e865b-6aeb-48f0-a3da-ecb56a70289e.png">
<img width="505" alt="Screen Sh

[2022-10-18 16:04] luacmartins commented on #11049
Yes, closing

[2022-10-18 16:04] #11049 closed

[2022-10-18 16:11] bondydaa commented on #11856
that's not exactly how our system works. the person assigned to triage (me) can chose to keep assigned if they're going to work on it or send it to our engineering pool for it to be picked up. The engineering label isn't a "you must do this" it just annoys other engineers when they have to context switch, see it's been triaged, unassign themselves again. It's marked as a daily, which I think is th

[2022-10-18 16:15] bondydaa commented on #11951
hmm strange! tossing to the pool, I don't think this need to be a daily but def isn't great UX.

[2022-10-18 16:17] parasharrajat commented on #11908
@Puneet-here either customize the `DotIndicatorMessage` completely to fit here or create a new simple component for the same.

![image](https://user-images.githubusercontent.com/24370807/196486261-ee67491c-65bb-4eee-bd1a-63733b3517b0.png)

To me, this issue is exported first and completely focuses on the styling and mentioned the requirements so it should be done as part of it.

[2022-10-18 16:17] kavimuru opened #11964 "[$250] Android - Secondary Log in - An endless spinner when trying validate the secondary login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to NewDot with any account
2. Log into OldDot with the same account and add a Secondary Login from Account Settings
3.

[2022-10-18 16:22] mallenexpensify commented on #10585
Reopening to pay @aneequeahmad for reporting (instead of opening a new GH)
https://expensify.slack.com/archives/C01GTK53T8Q/p1661446815440409

<img width="480" alt="image" src="https://user-images.githubusercontent.com/22508304/196486903-564fd614-76d1-409b-a674-e2086b7b6bb5.png">
<img width="366" alt="image" src="https://user-images.githubusercontent.com/22508304/196486915-56bb2468-bdb7-4ac1-9c2f-

[2022-10-18 16:45] parasharrajat commented on #11856
Ok, I see.

[2022-10-18 16:48] dangrous commented on #11822
No worries! With the updates, this is definitely happening. Seems like something that can be worked on externally, and will switch to weekly.

[2022-10-18 16:51] stitesExpensify commented on #11787
I am unable to reproduce this.

https://user-images.githubusercontent.com/42391420/196494655-17633812-c666-420e-a787-a06ea1b6395a.mp4

[2022-10-18 16:53] dangrous commented on #5671
@ryanldonato Yep! Each chat with a draft will have this draft symbol on it (and therefore will be read out on the screen reader). As for the copy, my only question - since this is only read out by a screen reader - will that sound weird to just say "drafts"? I'm worried it'll sound like it's ONLY the drafts, or alternately a button to click on to view drafts, or something like that.

For reference

[2022-10-18 16:59] adeel0202 commented on #11787
@stitesExpensify please follow the steps mentioned or follow the videos attached. You have to select the date from calendar that shows after clicking on the calendar icon, instead of entering the date manually.

[2022-10-18 16:59] marcochavezf commented on #11892
Oh interesting it only happens in mWeb (no native app installed). Yeah it can be external. FWIW this issue is not related to the help.expensify.com site, the problem is that for some reason https://new.expensify.com/concierge is not opening the Concierge report correctly only on mWeb (only if the user is logged in).

[2022-10-18 17:01] mallenexpensify commented on #11953
Checking on internally here https://expensify.slack.com/archives/C07F03W66/p1666112472276209?thread_ts=1665510343.387969&cid=C07F03W66

[2022-10-18 17:03] neil-marcellini commented on #11964
Weird, where did we get these reproduction steps from? Do we support validating a secondary login on NewDot?

[2022-10-18 17:05] mallenexpensify commented on #9370
Pretty sure this will be fixed once we deprecate sequence numbers.

[2022-10-18 17:07] kavimuru opened #11966 "[$250] BUG: First name invisible on Android Chrome"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Sign in with any account
2. Click your avatar in the header, click Profile
3. Enter your first name

## Expected Result:
Firs

[2022-10-18 17:08] mallenexpensify commented on #11954
Checking in the Slack thread to see if there's another issue similar to this, I couldn't find while searching issues in E/App though https://expensify.slack.com/archives/C01GTK53T8Q/p1666112879921489?thread_ts=1665756926.532669&cid=C01GTK53T8Q

[2022-10-18 17:11] ryanldonato commented on #5671
@dangrous thanks for the context! I agree with you, let's go with:

Drafts: `Drafted Message`
Pinned: `Chat Pinned`

[2022-10-18 17:12] mallenexpensify commented on #11493
Thanks @techievivek , I added a [comment on the RCA sheet](https://docs.google.com/spreadsheets/d/1u73RE8J1DdX3mDohV1RXgulF6_cke3N_a15Sk-UUdQo/edit#gid=0&range=C7) asking you to fill out the [RCA template](https://docs.google.com/document/d/1UwXfA4ggO2h0XQJQlMEEQjT3zSphhSt12lpvuGSSFtw/edit?usp=sharing) once this is fixed.

[2022-10-18 17:13] jasperhuangg commented on #11921
Can repro on both staging and production. Going to investigate

[2022-10-18 17:15] mallenexpensify commented on #11490
hehe, it was an issue where Puneet, a contributor, was initially inc. as the reporter but Puneet, who works here, was the one who posted the bug.  Closing

[2022-10-18 17:16] kbecciv commented on #11471
@MonilBhavsar Issue is still reproduced with build 1.2.17.4

https://user-images.githubusercontent.com/93399543/196500038-c8ff1eac-6052-48e9-9849-50921e336efd.mp4

[2022-10-18 17:19] mallenexpensify commented on #11490
@youssef-lr this is an edge case issue where the `External` label was added then removed. While the job was `Help Wanted`, @tienifr submitted[ the proposal above](https://github.com/Expensify/App/issues/11490#issuecomment-1271327026).   Since they weren't hired they're technically not due compensation but, if you referenced their code when working on your fix, we should compensate them.  Did you?

[2022-10-18 17:22] kbecciv commented on #11808
@ctkochan22 Team can not reproduce this in a fresh expensifail and gmail accounts
 -applausetester+101822abb@applause.expensifail.com)/Feya86Katya

But still repro with both below accounts which listed in bug report:
applausetester+pd1005@applause.expensifail.com
applausetester+0901abb@applause.expensifail.com
applausetester+1014pronin@applause.expensifail.com/Pronin1234

https://user-images.githu

[2022-10-18 17:22] arielgreen commented on #8846
Paid.

[2022-10-18 17:22] #8846 closed

[2022-10-18 17:22] youssef-lr commented on #11490
@mallenexpensify this was fixed in Web-E. We didn't end up changing code in App.

[2022-10-18 17:24] mallenexpensify commented on #11490
Thanks @youssef-lr !  Thanks @tienifr for submitting the proposal as well. closing... again.

[2022-10-18 17:24] #11490 closed

[2022-10-18 17:26] NikkiWines commented on #10893
@Santhosh-Sellavel good point, we'd need a solution that works for any link that a user would open in a browser

[2022-10-18 17:30] AndrewGable commented on #11588
👍

[2022-10-18 17:33] chiragsalian commented on #11646
Closing issue since the linked PR is on production.

[2022-10-18 17:34] mallenexpensify commented on #8130
@Julesssss , before diving in to try to suss out potential payments.  Did you reference any of the code from @Puneet-here 's proposal (or others) when working on the backend fix that (apparently) fixed this issue?

[2022-10-18 17:37] miljakljajic commented on #11762
[Job posted to Upwork.](https://www.upwork.com/ab/applicants/1582425449665380352/job-details)

[2022-10-18 17:41] joekaufmanexpensify commented on #11850
Okay I was able to reproduce. Added some more detail to repro steps in OP.

![2022-10-18_13-38-55 (1)](https://user-images.githubusercontent.com/54866469/196505067-f1014c73-c960-4257-a5e0-974a777b9184.gif)

[2022-10-18 17:43] mallenexpensify commented on #11321
@sobitneupane , do you think the fix for this will also fix https://github.com/Expensify/App/issues/11954?

[2022-10-18 17:48] shawnborton commented on #11334
Makes sense to me!

[2022-10-18 17:49] grgia commented on #11731
I can reproduce this, the keyboard automatically closes while searching for users- only happens after you have searched/added the first user in the group. After that, I can only type 1-3 letters before the keyboard automatically closes

[2022-10-18 17:51] sonialiap commented on #11851
I can reproduce following the steps in the OP 👍

[2022-10-18 17:51] zanyrenney commented on #11454
https://www.upwork.com/jobs/~01ccec92f2ed873595 job created - please apply @dhairyasenjaliya

[2022-10-18 17:52] stitesExpensify commented on #11787
@eVoloshchak what do you think of @Puneet-here's proposal?

[2022-10-18 17:53] mananjadhav commented on #11079
Accepted @adelekennedy

[2022-10-18 17:54] mananjadhav commented on #8846
@arielgreen The C+ payment is pending for this one.

[2022-10-18 17:54] grgia commented on #11731
This is not reproducible on mobile app, only on mobile web (safari)

[2022-10-18 17:58] ntrepanier commented on #11893
I was unable to reproduce this on my iPad Chrome browser. Can you clarify what device and browser you are using?

[2022-10-18 17:59] kbecciv opened #11968 "Web - Chat - Composed box is not sticked to the bottom when user is using collapse and expend options."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Go to any chat
4. Use Shift +Enter key a couple times to go to n

[2022-10-18 18:11] tienifr commented on #11584
@eVoloshchak sorry, I don't catch on your mean
1. I'm updating the logic for `scrollToIndex` not `scrollToBottom`
2. We're implementing `invertedWheelEvent` in our project and FlatList in `react-native-web` works well,  so I don't think we should change the inverted lists inside of the package itself

[2022-10-18 18:17] grgia commented on #11311
Tested again and I can reproduce on staging desktop `v 1.2.16-5 ` with a user that Device A has chatted with- Ican also reproduce more than once!

[2022-10-18 18:19] PauloGasparSv commented on #11796
Getting a blank screen now instead of the error, debugging it locally (just finished setting web-scure up with php 8.1)! Not sure what the cause is yet.

<img width="449" alt="image" src="https://user-images.githubusercontent.com/6564265/196512296-31287f80-b512-4081-9012-6e29b6a9dadb.png">

[2022-10-18 18:21] dhairyasenjaliya commented on #11454
@zanyrenney milestone received but need to close job as complete on upwork

[2022-10-18 18:23] adelekennedy commented on #11079
@Puneet-here nearly missed the reporting bonus - will you apply as well?

[2022-10-18 18:23] mananjadhav commented on #10888
We can work with Solution 1. I was also a bit concerned with the note that was mentioned in the component. Should we go ahead with Solution 1 then?

[2022-10-18 18:24] mananjadhav commented on #11059
Thanks for the bump @michelle-thompson. Sorry I didn't get a notification.  Other drawers should be at 300 with the default value, and the Skeleton UI animation is at 100.

[2022-10-18 18:30] neil-marcellini commented on #11850
I think we should keep this internal because it has to do with our network request queues / API.

If I send 4 messages in a chat while offline, sign out, refresh, and then go back online I see those requests fail. When I sign back in I have lost those messages, which is not good. It seems to me that we should save those requests and retry them when we log back in to that account. IDK if that's our

[2022-10-18 18:31] #5650 closed

[2022-10-18 18:31] #5651 closed

[2022-10-18 18:31] #5652 closed

[2022-10-18 18:31] #5653 closed

[2022-10-18 18:31] #5656 closed

[2022-10-18 18:31] #5657 closed

[2022-10-18 18:31] #5658 closed

[2022-10-18 18:31] #5659 closed

[2022-10-18 18:31] #5670 closed

[2022-10-18 18:31] #5672 closed

[2022-10-18 18:31] #5673 closed

[2022-10-18 18:31] #5674 closed

[2022-10-18 18:31] #5675 closed

[2022-10-18 18:31] #5676 closed

[2022-10-18 18:31] #5678 closed

[2022-10-18 18:31] #5679 closed

[2022-10-18 18:31] #5680 closed

[2022-10-18 18:31] #5681 closed

[2022-10-18 18:31] #5682 closed

[2022-10-18 18:31] #5683 closed

[2022-10-18 18:31] #5685 closed

[2022-10-18 18:32] #5503 closed

[2022-10-18 18:32] #5506 closed

[2022-10-18 18:32] #5511 closed

[2022-10-18 18:32] #5512 closed

[2022-10-18 18:32] #5516 closed

[2022-10-18 18:32] #5519 closed

[2022-10-18 18:32] #5520 closed

[2022-10-18 18:33] #5527 closed

[2022-10-18 18:33] #5528 closed

[2022-10-18 18:33] #5529 closed

[2022-10-18 18:33] #5530 closed

[2022-10-18 18:33] #5533 closed

[2022-10-18 18:33] #5646 closed

[2022-10-18 18:33] #5647 closed

[2022-10-18 18:33] #5648 closed

[2022-10-18 18:33] #5649 closed

[2022-10-18 18:34] #5446 closed

[2022-10-18 18:34] #5447 closed

[2022-10-18 18:34] #5448 closed

[2022-10-18 18:34] #5449 closed

[2022-10-18 18:34] #5451 closed

[2022-10-18 18:34] #5452 closed

[2022-10-18 18:34] #5455 closed

[2022-10-18 18:34] #5458 closed

[2022-10-18 18:34] #5459 closed

[2022-10-18 18:34] #5461 closed

[2022-10-18 18:34] #5463 closed

[2022-10-18 18:34] #5465 closed

[2022-10-18 18:34] #5467 closed

[2022-10-18 18:34] #5493 closed

[2022-10-18 18:34] #5496 closed

[2022-10-18 18:34] #5499 closed

[2022-10-18 18:34] #5502 closed

[2022-10-18 18:34] #5505 closed

[2022-10-18 18:34] #5526 closed

[2022-10-18 18:34] #5445 closed

[2022-10-18 18:36] parasharrajat commented on #11904
There is an internal issue #11680 which is going to fix it. Thus this is kind of duplicate.

[2022-10-18 18:36] mananjadhav commented on #11815
I haven't been able to get both the proposals working.  @mollfpr proposal works for me but I feel switching the avatar colors from offline to online is not a good experience.

I am wondering if while the user is added offline, we should show a greyed avatar only and then when it switches online, it could load from internet (user's actual dp or fallback to one of the colored avatars)

[2022-10-18 18:37] Puneet-here commented on #11079
I have applied to the job. Thank you.

[2022-10-18 18:40] sakluger commented on #11904
Thanks @parasharrajat - if this is a duplicate, do you recommend closing this one?

[2022-10-18 18:45] neil-marcellini commented on #11851
Looks like a legit problem that an external contributor could fix.

[2022-10-18 18:47] shawnborton commented on #11059
Cool, I think what we have in the video above would be good to go then.

[2022-10-18 18:47] michaelhaxhiu commented on #11904
@parasharrajat do you think we ought to pay a reporting bonus for this when the internal issue is resolved? cc @roryabraham since you are assigned to the internal issues.

IMO this doesn't get paid and closed until we decide if (1) it's a tue duplicate or not and (2) the problem is actually fixed.

[2022-10-18 18:47] puneetlath commented on #11888
Hm, I'm assuming that if the message is in the LHN then it is in Onyx so it should be showing in the chat as well. So this does indeed seem like a bug to me.

[2022-10-18 18:49] eVoloshchak commented on #11584
I was talking about [this](https://github.com/Expensify/App/blob/7b21103bb56eb0cf3fc1561715613d2a16c3255f/src/libs/ReportScrollManager/index.js#L14) function, but yes, I can see that your implementation calls `scrollToBottom` inside of it

Oh cool, didn't notice it. In that case your fix seems like the best solution. We essentially need to correctly calculate the offset to the first unread message

[2022-10-18 18:50] alex-mechler commented on #11922
Looks like there is no console errors from my limited testing. Seems useful that we would show / do anything other than an infinite loader here, but I'm not sure what yet. Doing some more digging / exploring before continuing

[2022-10-18 18:51] puneetlath commented on #6863
This isn't a bug that a user would experience, so I'm going to slap the `NewFeature` label on it and unassign.

[2022-10-18 18:52] puneetlath commented on #9245
I'm going to close this for now. Doesn't seem urgent and no one has taken it on yet. Feel free to reopen if you disagree.

[2022-10-18 18:52] parasharrajat commented on #11904
So this was reported on Aug 23 and we created an internal issue on https://github.com/Expensify/App/issues/8503#issuecomment-1261334274.

Seems like eligible for reporting bonus.

[2022-10-18 18:55] zanyrenney commented on #10525
wait @luacmartins should this still be on hold? if so - why?

[2022-10-18 18:55] adeel0202 commented on #11436
There is a change in the bug. Now pressing the delete button multiple times shows a red dot on avatar.
cc: @kavimuru

https://user-images.githubusercontent.com/13783842/196519262-dafee962-bb8a-466d-86eb-8b413c6e824f.mp4

[2022-10-18 18:56] ntrepanier commented on #11893
Yep. Charged my phone and was able to reproduce on there.

[2022-10-18 18:57] mountiny commented on #11073
@MitchExpensify for your interest I think this should be on hold for https://github.com/Expensify/App/pull/11439 and then retest once that PR is done and continue with fix if the issue still prevails

[2022-10-18 18:58] mananjadhav commented on #11848
Good idea @aldo-expensify

[2022-10-18 19:05] Puneet-here commented on #11383
I think it same as https://github.com/Expensify/App/issues/11382 and only happens at older versions.

[2022-10-18 19:06] michaelhaxhiu commented on #9391
Doubling this, we still want to fix it and it's a bug

[2022-10-18 19:07] zanyrenney commented on #10620
This is not reproduceable on staging - just tested refreshing and the send money request is still there:
<img width="1403" alt="2022-10-18_20-05-33" src="https://user-images.githubusercontent.com/56830058/196521584-f3738835-fab8-41f7-a10e-8a38e52d93b7.png">

[2022-10-18 19:07] michaelhaxhiu commented on #9391
Wait actually - @MonilBhavsar I initially read this wrong, thought you reproduced. Let me try before I double it.

[2022-10-18 19:07] grgia commented on #11311
As for a user I have never chatted with, I:
1. Went offline on Web
2. Sent a message from mobile from a new account
3. Went back online on Web, no update to LHN
4. Went offline on Web a second time
5. Sent a second message from mobile to new account
6. Back online on web, LHN is bold with new chat
7. Offline once more on web, open bold chat. New message is loaded, but only the second message sent.

[2022-10-18 19:12] Puneet-here commented on #10620
Hi @zanyrenney, the iou message disappears at the LHN (preview of message) not from the chat.

[2022-10-18 19:13] pecanoro commented on #11732
@vladamx It could be an option, but it seems a bit overkill since I am not sure how often that happens, but I don't have a strong opinion. @marcaaron @mananjadhav what do you think?

[2022-10-18 19:14] michaelhaxhiu commented on #10428
@hellohublot can you apply for the job here please?
https://www.upwork.com/jobs/~012d711651e4b80661

[2022-10-18 19:18] lschurr commented on #11844
Looks like a proposal has been added for review @parasharrajat

[2022-10-18 19:19] zanyrenney commented on #10587
@neil-marcellini it looks like we landed on doing nothing for now. Please can you confirm your thoughts as you said hold until we decide in slack... Thanks!

[2022-10-18 19:19] zanyrenney commented on #10587
oops! didn't mean to close with that comment.

[2022-10-18 19:22] CortneyOfstad commented on #9417
Unable to recreate this on my side. Is this still happening @mvtglobally? Please reopen if you continue to see the error/issue on your side!

[2022-10-18 19:22] #9417 closed

[2022-10-18 19:25] parasharrajat commented on #11844
@tienifr's proposal sounds legit. But they mentioned that this is an issue with RN. Should we try to fix it upstream on RN? @lschurr

[2022-10-18 19:25] abekkala commented on #5536
I was still able to reproduce this.

[2022-10-18 19:26] CortneyOfstad commented on #10248
@marcaaron Just checking to see if this is still occurring, or if this can be closed? Thanks!

[2022-10-18 19:26] mananjadhav commented on #11059
Okay thanks for the comment @shawnborton. @Uros787 Your proposal here https://github.com/Expensify/App/issues/11059#issuecomment-1273160490 looks fine. While it is missing some details on the actual changes, the expected behavior looks good and we can work out the kinks in the PR.

@shawnborton You being the CME, I guess you'll have to assign the job.

🎀 👀 🎀 
C+ reviewed

[2022-10-18 19:27] CortneyOfstad commented on #10232
@kbecciv Hello! Just doing some GH clean-up and wanted to see if this issue was still occurring? If so, let me know and I can continue troubleshooting from a Triage perspective. Thanks!

[2022-10-18 19:27] shawnborton commented on #11059
@NicMendonca all you!

[2022-10-18 19:27] michaelhaxhiu commented on #9391
Reproduced with ease - in the final moment of the video, notice how the group chat with Jason M & Jason Li quickly disappears. That's the bug right there.

https://user-images.githubusercontent.com/13206896/196525288-b3a9b3a3-b417-4cf3-9ebb-6b8039d3e3b4.MP4

[2022-10-18 19:29] CortneyOfstad commented on #10232
Sorry @tylerkaraszewski! Was in the wrong GH tab — PLEASE IGNORE!

[2022-10-18 19:30] mananjadhav commented on #11732
Agree with you @pecanoro.  I don't think we should retain the login into a persistent storage.

[2022-10-18 19:34] puneetlath commented on #11844
I think we should create a PR for it both in our RN fork and upstream.

[2022-10-18 19:43] parasharrajat commented on #11844
Ok, @tienifr Let's try to find a solution to fix it upstream on RN.

[2022-10-18 19:47] luacmartins commented on #10525
@zanyrenney this was part of N7: Manual Requests which is currently on hold. That being said, I'd be down to removing the hold and have this done pre Manual Requests so that we can reduce the scope of that project.

I think this should be internal though as it might involve API changes. cc @roryabraham since you showed some interest in working on this.

[2022-10-18 19:47] mountiny commented on #10376
@Beamanator @michaelhaxhiu  looking through this issue I am confused what exactly is the goal. AFAIK my name in NewDot has Emoji in it so this works. If this is mean to be feature request to add a Slack-like status option with maybe an emoji AND a status text.

We should probably update the body to clearly state what the goal here is or close this one out. Thanks for help!

[2022-10-18 19:59] JmillsExpensify commented on #11955
Going to take this one from you @muttmuure as I'm going to re-test now.

[2022-10-18 20:01] JmillsExpensify commented on #11955
Hmmm, this is super odd. I'm not sure if this was a fluke, but I'm unable to reproduce this issue on 1.2.17-4. Closing but I'll re-open if I notice it shows up again.

[2022-10-18 20:01] #11955 closed

[2022-10-18 20:07] mountiny commented on #11815
@shawnborton Would you be able to help us decide on the look of the default avatar here? If user is invited to a policy offline, we currently dont show any avatar, which is a bug. I think we should be good y showing a grew default avatar in this case as that align with the offline optimistic nature.

Would you be bale to confirm this? Dont wanna make some assumption here which we would have to cha

[2022-10-18 20:09] mananjadhav commented on #10352
Based on the screenshots and the expected behavior, I am still inclined to go with @aimane-chnaif's proposal. https://github.com/Expensify/App/issues/10352#issuecomment-1279529089

@Gonals All yours.

🎀 👀 🎀 
C+ reviewed

Thanks for the patience @aimane-chnaif and @ahmdshrif.

[2022-10-18 20:09] gohar95 commented on #11415
I am having a look atht e code

[2022-10-18 20:10] johncschuster commented on #10506
It looks like this is still reproducible. I'm going to apply the `Engineering` label.

@marcaaron, do you feel this issue should still be on HOLD?

[2022-10-18 20:14] lschurr commented on #11892
Posted job.

https://www.upwork.com/ab/applicants/1582465027628163072/job-details
https://www.upwork.com/jobs/~0175ba72296e865638

[2022-10-18 20:17] johncschuster commented on #10417
This is still reproducible. I attempted to rename a Workspace room and click `Enter`, but the name didn't update. It only updated when I clicked the `Save` button.

@marcochavezf, do you feel this issue should still be on hold?

[2022-10-18 20:20] mananjadhav commented on #11330
Sorry it took a bit longer to review. @tgolen I am inclined too with @rawalyogendra's proposal. But as @rawalyogendra also mentioned, with their proposal, it'll jump the active chat to the top, the moment we type a single letter in the composer. Are we okay with that behavior?

@bernhardoj I don't think this is an efficient solution to store these history. Are you suggesting that all the chats wil

[2022-10-18 20:21] #11785 closed

[2022-10-18 20:21] roryabraham commented on #6306
Marking this as a new feature

[2022-10-18 20:21] kavimuru opened #11969 "[$250] BUG: Chat composer doesn't auto-focus after expanding/collapsing it on the web reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat
2. Type multiple lines
3. Click on expand icon

## Expected Result:
Chat composer is auto-focused

## Actual R

[2022-10-18 20:22] shawnborton commented on #11815
I'm cool with using a gray avatar when the user is offline. I think we already have that asset in the repo as well.

[2022-10-18 20:25] mountiny commented on #11969
Taking this on as I was involved in the slack thread, making it external

[2022-10-18 20:26] roryabraham commented on #11904
Fair's fair – @aneequeahmad beat me to reporting this so I agree with @parasharrajat's last message.

[2022-10-18 20:26] mountiny commented on #11969
Sorry for the ping Aldo

[2022-10-18 20:28] kbecciv commented on #10232
@CortneyOfstad Issue is still reproduced in build 1.2.17.4

https://user-images.githubusercontent.com/93399543/196537185-1d86a655-a569-4603-ab81-cc3f71903136.mp4

[2022-10-18 20:32] JmillsExpensify commented on #11969
<img width="769" alt="Screen Shot 2022-10-18 at 16 31 12" src="https://user-images.githubusercontent.com/1127863/196537749-50547ab7-bfc3-4b40-85d5-30a1d32b387d.png">

Yes, definitely reproducible. Those reproduction steps look good. That said, I think this bug is a duplicate, let me try to find the existing issue. Be back.

[2022-10-18 20:33] yuwenmemon commented on #11910
Policy is getting created and stored with no name:
<img width="1601" alt="Screen Shot 2022-10-18 at 1 33 36 PM" src="https://user-images.githubusercontent.com/4741899/196538210-9acedba4-e09f-4aec-b7f6-1d09dd77ab3a.png">

[2022-10-18 20:36] kavimuru opened #11970 "[HOLD] BUG: [mweb-safari] keyboard remains open while navigating back to LHN using fingers from right to left reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Action performed:
2.  Open any conversation
3.  Open keyboard
4.  Close chat by swiping from left to right

## Expected Resul

[2022-10-18 20:38] mountiny commented on #11815
Thanks

[2022-10-18 20:40] JmillsExpensify commented on #11969
Ok so coming from this [Slack discussion](https://expensify.slack.com/archives/C01GTK53T8Q/p1666123989112829?thread_ts=1666120490.919469&cid=C01GTK53T8Q), the placement of the compose box is not the real issue that we're fixing. That will be resolved by other PRs that are already in motion.

Instead, this issue is solely focused on the fact that you lose focus when auto-expanding. Contributors: pl

[2022-10-18 20:41] johncschuster commented on #10518
I'm going to close this per [this conversation](https://expensify.slack.com/archives/C01GTK53T8Q/p1666117401531069?thread_ts=1666110643.035949&cid=C01GTK53T8Q).

[2022-10-18 20:41] mountiny commented on #11969
Here is the issue which is similar but it related to the [composer position](https://github.com/Expensify/App/issues/11968)

[2022-10-18 20:41] #10518 closed

[2022-10-18 20:43] JmillsExpensify commented on #11969
Upwork job is here: https://www.upwork.com/jobs/~01b99868abe1a264ac. We're open for proposals. @adeel0202 please make sure you apply as reporter.

[2022-10-18 20:44] slafortune commented on #11737
@tienifr  - here ya go!  https://www.upwork.com/ab/applicants/1582472084181204992/suggested

[2022-10-18 20:47] kavimuru opened #11971 "Bug: After choosing the bank account the password input doesn't get auto focused reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to settings > payments > add payment method > bank account
2. Select Fidelity
3. Use `user_good` & `pass_good` > go throug

[2022-10-18 20:53] yuwenmemon commented on #11910
Ah we're even just sending it as the string, "undefined"
<img width="623" alt="Screen Shot 2022-10-18 at 1 53 29 PM" src="https://user-images.githubusercontent.com/4741899/196542692-6c295b7c-e7b6-44b8-acd8-cf6783b0b3e5.png">

[2022-10-18 21:00] pecanoro commented on #7918
Still waiting on https://github.com/Expensify/App/pull/10965

[2022-10-18 21:00] mountiny commented on #11969
Thank for the message @aimane-chnaif, I confirmed the first issue was reported [before this one](https://expensify.slack.com/archives/C01GTK53T8Q/p1661857234117209) so the reporting bonus should also go that way. Thanks everyone

[2022-10-18 21:00] #11969 closed

[2022-10-18 21:02] ahmdshrif commented on #10352
sorry @mananjadhav   but I think you didn't get the point from my [comment](https://github.com/Expensify/App/issues/10352#issuecomment-1281317598) here about the effect of the other models??

@aimane-chnaif changed the style of the base modal, not that AttachmentModal only. so every component used it will be affected.

form the style [here](https://github.com/Expensify/App/blob/a1e02ebbd0bf249872e

[2022-10-18 21:04] kavimuru opened #11972 "Bug: In safari, Emoji box become blank if we Scroll fast reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open Website in safari browser
2. Go to chat
3. Open emoji box
4. Scroll fast using mouse scroller/Track pad.

## Expected Re

[2022-10-18 21:06] bfitzexpensify commented on #11949
Upwork job is [here](https://www.upwork.com/jobs/~01b9737568fafa446e)

[2022-10-18 21:10] chiragsalian commented on #9971
Actually coming back to this, so shawn is it possible to provide mockups of how you want this to look with and without the red dot. Ideally, I would like things to be in the same place but I wanted to confirm the expectation. Will the avatars move a little left when there is a red dot and then move back more right when there is no red dot? Or were you thinking of static positions?

[2022-10-18 21:15] ahmdshrif commented on #10352
sorry @aimane-chnaif my bad. I am losing this point because of many changes. in our conversation.

[2022-10-18 21:18] stitesExpensify commented on #11929
Looks like this is broken on production given @MariaHCD comment [here](https://github.com/Expensify/Expensify/issues/234337#issuecomment-1281878297). If that's the case, can you please close this issue when you get on tomorrow?

[2022-10-18 21:23] Luke9389 commented on #10888
Lets try it and see if it breaks :)

[2022-10-18 21:34] Puneet-here commented on #11971
### Proposal
It was meant to be auto focusable for web and desktop but because of importing mistake it doesn't work. We are importing native file and At native we always return false
https://github.com/Expensify/App/blob/555a6794cc83eac83ebab5ab63f692192c77a8c7/src/pages/AddPersonalBankAccountPage.js#L25
We pass canFocusInputOnScreenFocus() here https://github.com/Expensify/App/blob/555a6794cc83ea

[2022-10-18 21:34] Puneet-here commented on #11971
### Proposal
It was meant to be auto focusable for web and desktop but because of importing mistake it doesn't work. We are importing native file and At native we always return false
https://github.com/Expensify/App/blob/555a6794cc83eac83ebab5ab63f692192c77a8c7/src/pages/AddPersonalBankAccountPage.js#L25
We pass canFocusInputOnScreenFocus() here https://github.com/Expensify/App/blob/555a6794cc83ea

[2022-10-18 21:37] Luke9389 commented on #9734
OH! huh. Weeeird. I coulda sworn someone commented that this was off hold.

My bad!

[2022-10-18 21:39] kavimuru opened #11973 "[HOLD for payment 2022-11-07] [$250] Bug: Android- Firefox the date picker label and placeholder overlaps reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open expensify in Firefox browser on android mobile
2. Go to settings > Workspace > Connect bank account
3. Choose any option

[2022-10-18 21:42] thesahindia commented on #11415
Take your time and feel free to propose a solution here.

[2022-10-18 21:43] marcochavezf commented on #11317
Ah I think this is a different issue, and probably requires some discussion.

In the PR we're navigating from the Workspace menu to Connect bank account, where in that case we show the page with the buttons `Continue with setup` and `Start over` which is correct. But here we're navigating back from step 1 to the page `Streamlined payments` when we should navigate directly to the page with the butt

[2022-10-18 21:43] slafortune commented on #11372
https://www.upwork.com/ab/applicants/1582487212083625984/job-details

[2022-10-18 21:44] stitesExpensify commented on #9470
we're _almost_ ready for this!

[2022-10-18 21:45] trjExpensify commented on #9734
Ha, all good!

[2022-10-18 21:46] slafortune commented on #11471
https://www.upwork.com/ab/applicants/1582488161449332736/job-details

[2022-10-18 21:49] Puneet-here commented on #11317
Yes, correct 💯

[2022-10-18 21:59] pecanoro commented on #11728
I think this has worked this way forever so I am not sure if it's worth fixing it, but I am going to reach out to the rest of the team and I will come back to export it or close it.

[2022-10-18 22:00] roryabraham commented on #11085
This is on HOLD so going to assign @Beamanator (master of the tracking issue) and move it to be a monthly

[2022-10-18 22:04] chiragsalian commented on #7862
Any update for us @JediWattson. The PR is pretty close to the finish line.
Reminder of our [contribution guidelines](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) once again,

More than a week has passed with no commits on the PR or any update here so it's hard to tell if you are actively working on the issue.

[2022-10-18 22:05] shawnborton commented on #9971
This is exactly what I was thinking. Happy to provide a mock if needed, but I think with flexbox you would just add the red dot inbetween avatars and the right arrow, all vertically middle-aligned.

[2022-10-18 22:07] AndrewGable commented on #11711
PR was merged, however, we had a lot of testing to confirm a few questions:
1. Does the PR work?
2. Can we get the "Large Runners" working?
3. Do the "Large Runners" speed things up?
4. Do the "Large Runners" have KVM support to allow hardware acceleration?

[2022-10-18 22:10] AndrewGable commented on #11711
After testing via this PR:
1. PR works, but required some small edits I made here: https://github.com/Expensify/App/pull/11936
2. Large runners work!
3. Large runners seem to speed up most things, but not the tests.
4. Large runners do not seem to have kvm support out of the box, but @hannojg might be able to enable them. We will discuss further.

[2022-10-18 22:11] chiragsalian commented on #9971
okay sounds good, i'll try that out.

[2022-10-18 22:13] thesahindia commented on #11525
No, I was just asking if we should use `Keyboard.dismiss()` as @Uros787 proposed or if we should find the reason this occurs and solve the root cause.

[2022-10-18 22:16] roryabraham commented on #11275
Confirmed that this is reproducible:

<img width="1787" alt="image" src="https://user-images.githubusercontent.com/47436092/196555365-dcca3794-219a-41bf-9560-0fdac72c8895.png">

[2022-10-18 22:18] thesahindia commented on #11525
Since it's an easy fix, I don't have any problem with the use of `Keyboard.dismiss`.

@Uros787's [proposal](https://github.com/Expensify/App/issues/11525#issuecomment-1273728853) will solve the issue. Let's move forward.

C+ reviewed 🎀👀🎀

[2022-10-18 22:18] mallenexpensify commented on #11403
@thesahindia @mananjadhav @tsa321 are you able to reproduce? If so, I'll double the price of the job

[2022-10-18 22:19] kevinksullivan commented on #11589
Offer is out @vladamx ! Let me know when you'e accepted.

[2022-10-18 22:21] vladamx commented on #11589
@kevinksullivan Is reporting bonus separate payment on top of job offer(250)?

[2022-10-18 22:22] mallenexpensify commented on #11354
Didn't find much on my accessibility hunt.  Regardless of potential accessibility guidelines, tabbing to a box then clicking enter should be an option so we should fix this.  I doubled the price to $500 https://www.upwork.com/jobs/~0191c6efcfb886e0cf

[2022-10-18 22:27] kevinksullivan commented on #10975
Hired @chauchausoup . Please accept and let me know when you've done so!

[2022-10-18 22:27] #11235 closed

[2022-10-18 22:29] jliexpensify commented on #11101
Doubled - https://expensify.slack.com/archives/C01GTK53T8Q/p1666132117833109

[2022-10-18 22:29] tjferriss commented on #11771
Upworks job posting is live https://www.upwork.com/jobs/~01b4d1935870536df3

Internal posting - https://www.upwork.com/ab/applicants/1582498976580591616/job-details

[2022-10-18 22:30] jliexpensify commented on #11312
Great, closing as per @aldo-expensify 's recommendation!

[2022-10-18 22:31] jliexpensify commented on #11312
Upworks job removed.

[2022-10-18 22:31] #11312 closed

[2022-10-18 22:33] tjferriss commented on #11513
Upworks job is posted - https://www.upwork.com/jobs/~01cf6e5fdde2aef351

Internal link https://www.upwork.com/ab/applicants/1582499881623302144/job-details

[2022-10-18 22:37] zanyrenney commented on #11454
Paid!

[2022-10-18 22:46] adelekennedy commented on #11930
@mountiny was able to reproduce [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1666132584850749?thread_ts=1663088510.944699&cid=C01GTK53T8Q)! I think this a real one

[2022-10-18 22:48] marcochavezf commented on #11801
Thanks for the review @eVoloshchak and for the proposal @mollfpr! A few comments about the proposal:

- I noticed `keyboardDismissMode` is removed, and [historically](https://github.com/Expensify/App/pull/6272/files) had the value `on-drag`. Do we test it in other places where `OptionsList` is used? I'm a bit worried that this could cause a regression, but if it's working fine in other places or w

[2022-10-18 22:51] mollfpr commented on #11693
@tjferriss Applied, thank you!

[2022-10-18 22:52] marcochavezf commented on #11731
Hey guys, this issue was also reported twice, should we close the other [one](https://github.com/Expensify/App/issues/11801)?

[2022-10-18 23:04] Santhosh-Sellavel commented on #11797
@flodnv

@hungvu193 proposal looks good to me.

C+ Reviewed.
👀 🎀 👀

Seems we need to update another library also, `react-native-svg-transformer`'s library dependency libraries `css select` uses `nth-check@1.0.2`

[code]

[2022-10-18 23:12] tsa321 commented on #11403
@mallenexpensify based on the title of this issue this issue triggered after clicking eye icon,
and actually it is not only triggered by clicking eye icon but triggered by actions, it is explained in @thesahindia [comment](https://github.com/Expensify/App/issues/11403#issuecomment-1279532017).

For this particular eye icon click, the problem is solved but not for other actions.
So need designer Us

[2022-10-18 23:16] Santhosh-Sellavel commented on #7968
@mdneyazahmad

When `Enter` is pressed behavior we need to perform the delete action and `ESC` to dismiss the modal. So NO

Can you TLDR What will be the behavior here?

I disagree here, this is confirmation screen for a destructive operation, so it makes sense to focus the destruction action, plus we always have a `ESC` to cancel the action.

[2022-10-18 23:18] Santhosh-Sellavel commented on #7968
@mollfpr

I'm not sure this is the right approach, and at the same time, I feel it's unnecessary to keep track of ids. So NO!

@stitesExpensify your thoughts on [this](https://github.com/Expensify/App/issues/7968#issuecomment-1279723391)?

[2022-10-18 23:19] Santhosh-Sellavel commented on #10731
@christianwen Did you check this?

[2022-10-18 23:21] marcochavezf commented on #10417
Hmm I put it on hold because we had the `Save` button beside the Room name input field, but seems it's no longer the case:

<img width="381" alt="Screen Shot 2022-10-18 at 18 15 40" src="https://user-images.githubusercontent.com/6829422/196562388-12538f4d-632a-4501-8ca2-8b85e25c7cd7.png">

@trjExpensify @JmillsExpensify could you confirm this button was removed in the Room chats?

If so I think it

[2022-10-18 23:21] roryabraham commented on #10525
I definitely feel passionate that we should make this change and agree it doesn't need to be on hold, though it would probably be irresponsible of me to self-assign this right now 😞

[2022-10-18 23:24] roryabraham commented on #9999
I didn't really have anything major planned for the checklist other than removing some outdated naming (i.e: replace `StagingDeployCash` with `DeployChecklist`, and `LockCashDeploys` with `LockDeploys`)

[2022-10-18 23:26] tsa321 commented on #11330
@mananjadhav in my proposal there is an option to passing this variable as parameter. So this variable will not be outside of the function.

I have updated my solution above.

and yes the more efficient solution is of course better than my proposal.

In my proposal, draft will not move up immediately after user making a draft.
And if user remove draft the chat is placed at the top region (draft se

[2022-10-18 23:31] roryabraham commented on #4656
Just throwing this out there ... we have [this issue](https://github.com/Expensify/App/issues/8503) to enable the new architecture. Part of that architecture, maybe less-talked-about than the new [Fabric renderer](https://reactnative.dev/architecture/fabric-renderer), is called [TurboModules](https://reactnative.dev/docs/next/the-new-architecture/pillars-turbomodules). With the traditional React N

[2022-10-18 23:35] neil-marcellini commented on #10587
I don't think we have talked about it anymore since then. I don't see anything from a quick Slack search. We could close this or make it Monthly again.

[2022-10-18 23:37] alex-mechler commented on #11922
Okay, after digging in more, properly loading the details for the user in this case would be quite a large amount of internal API work, so lets stick with showing an error growl and closing the modal.

Sending this external

[2022-10-18 23:52] christianwen commented on #10731
@Santhosh-Sellavel will do today

[2022-10-18 23:54] dangrous commented on #11893
@ntrepanier does your phone also pop up the link once you report the bug? The simulator doesn't show the copy URL popup, but also doesn't when I go to concierge (it just never shows up at all). Just getting a sense of whether this is a simulator issue or if it's another aspect of the actual bug

[2022-10-18 23:59] Santhosh-Sellavel commented on #8661
On Hold

[2022-10-19 00:02] johncschuster commented on #10417
The button hasn't been removed. I think you're just looking at a settings page that you do not have permission to change. When I tested earlier, the button to change the name of the room was still present.

[2022-10-19 00:16] alexpensify commented on #11778
For now, I won't take any action and will hold on uploading to Upworks.

[2022-10-19 00:24] alexpensify commented on #11894
Assigning to Engineering, I'm unable to replicate but let's see if someone else can.

![image](https://user-images.githubusercontent.com/8107070/196569082-b46c6eb7-5022-4def-a0d1-dfc7d9ffb776.png)

[2022-10-19 00:46] roryabraham commented on #11666
PR updated and still in review

[2022-10-19 00:52] mallenexpensify commented on #11643
@de

[2022-10-19 01:11] chauchausoup commented on #11486
https://user-images.githubusercontent.com/34975245/196573868-62d3d7e3-53c9-4ffc-9b62-acf9e2a0ac54.mov

Working fine in here.

[2022-10-19 02:09] MitchExpensify commented on #11133
Getting to this tomorrow

[2022-10-19 02:18] Christinadobrzyn commented on #11246
going to send this to eng to see if we need to keep it open. Sounds like it hasn't happened for a few weeks so maybe closing for now?

[2022-10-19 02:31] sobitneupane commented on #11321
Both the issues are related to long text and looks like we already have a [ PR](https://github.com/Expensify/App/pull/11684) up for improving input performance. So, I suggest holding both the issues.

cc: @Beamanator @mallenexpensify

[2022-10-19 02:35] mananjadhav commented on #10428
@michaelhaxhiu fyi, I've also applied to the link for C+

[2022-10-19 02:36] mananjadhav commented on #10738
PR is reviewed and approved from my side. Should be close to merge soon.

@puneetlath @luacmartins Quick bump on the PR.

[2022-10-19 02:39] conorpendergrast commented on #11584
Great! @srikarparsi Are you happy here too? If so, I'll hire via Upwork ([this process](https://stackoverflow.com/c/expensify/questions/7676))

[2022-10-19 02:43] mananjadhav commented on #11543
@bernhardoj Let me know once it is ready for the next round of review. I can see some comments are not resolved yet. Also can you sync with the latest `main` branch?

[2022-10-19 02:45] mananjadhav commented on #11693
@tjferriss fyi, I've applied to the same link for C+.

[2022-10-19 02:45] Christinadobrzyn commented on #11245
I think this was assigned the wrong way, should have gone to triage and then eng. Asking [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1666147427523899) to make sure I'm not missing a workflow change. Sending to eng to determine if we can close or make external.

[2022-10-19 02:46] mananjadhav commented on #11815
@Uros787 Your last proposal is similar to @mollfpr 's proposal.

Anyway I prefer to set the default value when we set the object.  I am fine with @mollfpr's proposal [here](https://github.com/Expensify/App/issues/11815#issuecomment-1279882632) with the value to set `greyed` avatar.

[2022-10-19 02:47] Christinadobrzyn commented on #11262
I think this was assigned the wrong way - should have gone first to triage and then to Eng. I'm asking [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1666147427523899) just to make sure there isn't a workflow change that hasn't been updated in this triage [SO](https://stackoverflow.com/c/expensify/questions/4749).

[2022-10-19 02:55] tienifr commented on #11427
@shawnborton  Sure can, but I think we should keep it there to make our code clearer (just reuse the component). Please let me know what you think so I can make the PR. Thanks

[2022-10-19 02:58] mollfpr commented on #11801
On native `keyboardDismissMode="on-drag"` is replaced with `onScrollBeginDrag` but for web `onScrollBeginDrag` is not available while `keyboardDismissMode="on-drag"` is also dismiss the keyboard when we scroll the view programmatically. My proposal is mimicking the `onScrollBeginDrag` usage on native to dismiss the keyboard only when the user is doing the scroll. I also try the proposal on `IOUPar

[2022-10-19 03:07] conorpendergrast commented on #11810
Didn't get to this before I went OoO, reassigning!

[2022-10-19 03:24] dhairyasenjaliya commented on #11354
**Proposal**

- Continuing on the previous proposal as I mentioned we shouldn't wrap nested `<Text>`
- So I do find one more subtle way to handle this one we can add `onKeyDown` to the `<Text>` and listen to the `Enter` event once the user press enter we should open the form page

- Creating `handleKeyDown` function

[code]

- Adding it to `<TextLink>` component

[code]

**Result**

https://user-i

[2022-10-19 03:29] johncschuster commented on #9239
Sorry team, I was behind here. Let me get caught up and get it settled.

[2022-10-19 03:31] michaelhaxhiu commented on #10428
@mananjadhav I had a feeling you'd do it without a nudge 😄

[2022-10-19 03:33] michaelhaxhiu commented on #10428
Waiting on you both to accept again (damn you upwork)

[2022-10-19 03:47] mananjadhav commented on #10428
@michaelhaxhiu For some reason I am unable to accept the offer

<img width="820" alt="image" src="https://user-images.githubusercontent.com/3069065/196593149-5270ba17-699b-42fd-a09b-f488eefc6671.png">

[2022-10-19 04:12] chauchausoup commented on #10975
@kevinksullivan done.

[2022-10-19 04:16] tsa321 commented on #9391
### Proposal

Based on discussion above to hide empty report, my proposal is to add a parameter `shouldReturnEmptyReport` in `shouldReportBeInOptionList()` function, then filter empty report there.
This parameter is needed because `shouldReportBeInOptionList()` function is used by LHN sidebar [which doesn't want to show empty report] and also by search or new chat right sidebar [which require empt

[2022-10-19 04:21] Christinadobrzyn commented on #11276
I can't replicate this on the desktop app (Version 1.2.11-4 (1.2.11-4) or iOS mobile app (v1.2.15). I don't know if this is still an issue. Going to send to eng to get their take.

Example of what I see on mobile app:

<img src="https://user-images.githubusercontent.com/51066321/196596549-0bff453c-a4f6-4a5c-a8c8-05d5fb9dbea5.gif" width="250" height="450" />

[2022-10-19 04:24] MonilBhavsar commented on #11471
Thanks!
Yes, reproducible with request money flow. Waiting for proposals...

[2022-10-19 04:27] dhairyasenjaliya commented on #11471
@MonilBhavsar https://github.com/Expensify/App/issues/11471#issuecomment-1271544517 this proposal is for request money flow can you confirm @mananjadhav

[2022-10-19 04:43] MonilBhavsar commented on #11968
Thanks! Keeping it on HOLD then

[2022-10-19 04:48] mananjadhav commented on #11471
@MonilBhavsar Just for request flow, I shortlisted a proposal if you check the comment [here](https://github.com/Expensify/App/issues/11471#issuecomment-1273743342)

[2022-10-19 05:18] Puneet-here commented on #10417
@marcochavezf, names for default rooms (#admin, #annouce) can't be changed so the page doesn't have the save button. You will have to create a room through by selecting new room option at fab menu and you will see the save button when you go to the settings for that room.

[2022-10-19 05:27] Puneet-here commented on #11133
Hi @MitchExpensify, all the other issues like this are being tracked at https://github.com/Expensify/App/issues/11111 because there's a highly chance that they all will be fixed by one solution. We can add this there and close it.

[2022-10-19 05:38] Christinadobrzyn commented on #11275
@roryabraham Just catching up here, do we want this job to go external?

[2022-10-19 05:44] MonilBhavsar commented on #11471
Thanks, had a look.
When we request from a completely new account, the transition still happens, but I think that is because of a new reportAction is added at that moment.

[2022-10-19 05:50] Christinadobrzyn commented on #11319
I'm getting a grey avatar when testing this on iOS mobile v 1.2.17.

![RPReplay_Final1666158334 (1)](https://user-images.githubusercontent.com/51066321/196607301-7d093ac6-fd4f-4461-a186-d6bf904f88ce.gif)

So I think this is related to this GH: https://github.com/Expensify/App/issues/10704 or this GH https://github.com/Expensify/App/issues/11425

Sending to eng for a buddy check.

[2022-10-19 05:54] roryabraham commented on #11879
Reopening until after our next deploy happens so we can verify it continues to work as expected.

[2022-10-19 05:57] roryabraham commented on #11372
@slafortune It looks like you may have been a bit over-eager to create an Upwork job for this 🙂

We only create Upwork jobs for issues that have been labelled `External`. This particular issue is on HOLD, so let's take the Upwork job down for now. Thanks!

[2022-10-19 06:00] roryabraham commented on #11275
I'm not sure if the error is in `react-navigation` or in `reanimated`, but it's one of those (not `E/App`). I think the error is most likely actually in `react-navigation`.

[2022-10-19 06:01] roryabraham commented on #11275
With a little bit of digging it should be pretty easy to track down. Probably some API change in `Reanimated` that `react-navigation` has yet to adapt to.

[2022-10-19 06:22] hungvu193 commented on #11732
Lemme know when I can create a PR for this issue :)

[2022-10-19 06:23] Christinadobrzyn commented on #11342
If I understand, are you saying there's a delay in seeing the response after awakening from sleep?

Testing the steps in the OP on the desktop app v.2.16-5 (1.2.16-5).

### Action Performed

- NewDot desktop open to chat with User A
- Put computer to sleep
- User A sends new chat/s
- Awaken computer from sleep

I see the last message from the user but there is a delay. Here's a video.

![2022-10-1

[2022-10-19 06:25] Christinadobrzyn commented on #11342
I'm not really sure what to search in the Expensify/App repo for other reports of this but I assume this is related to offline? sending to eng.

[2022-10-19 06:27] Christinadobrzyn commented on #11342
Actually going to unassign eng until we know this is the issue.

[2022-10-19 06:42] roryabraham commented on #11433
Yep, sounds fine to me 👍🏼

[2022-10-19 06:44] roryabraham commented on #11783
This seems plausible. Can you replicate the issue if you actually turn off your WiFi instead of using the chrome dev tools?

[2022-10-19 06:48] roryabraham commented on #8503
This was done in [this PR](https://github.com/Expensify/react-native/pull/32) and our bidirectional pagination features have been upgraded to work with Fabric. All that's left to check this item off is upgrading `E/App` to version `0.70.5` of our fork.

[2022-10-19 06:58] MariaHCD commented on #11660
The fix was already deployed to production: https://github.com/Expensify/Auth/pull/7110#issuecomment-1273325675

@kavimuru Could you retest?

[2022-10-19 06:59] sobitneupane commented on #10290
@aimane-chnaif's [proposal](https://github.com/Expensify/App/issues/10290#issuecomment-1265925665) looks convincing. He is proposing to extend an existing logic (used for Save button and Cancel button) to emoji button as well. So, for consistency I am tilted towards his proposal.

But @aimane-chnaif few queries:

- Why is this issue existent only on mWeb and not on native apps?
- What is the affec

[2022-10-19 07:04] techievivek commented on #8589
Will try reproducing this once I have some time on my hand.

[2022-10-19 07:32] bernhardoj commented on #11543
I have pulled the latest changes from main and commit the newest changes. Kindly review it again. Thanks!

[2022-10-19 07:48] hannojg commented on #8503
Fixed the tests on the REA 3 PR, should be good now:
https://github.com/Expensify/App/pull/11567

[2022-10-19 07:59] smrutiparida commented on #11561
Hi

I was thinking to try this with Firebase config. Are we looking for a proposal beyond above.

[2022-10-19 08:00] dylanexpensify commented on #7917
@parasharrajat @mdneyazahmad  any updates?

[2022-10-19 08:49] mdneyazahmad commented on #7917
Under review https://github.com/Expensify/App/pull/10965

[2022-10-19 09:06] Justicea83 commented on #11272
`OpenReport` refactorings is still a work in progress

[2022-10-19 09:17] Julesssss commented on #10735
Lets await a couple more re-tests just to be sure

[2022-10-19 09:24] Julesssss commented on #11930
Confirmed, opening up to contributors

[2022-10-19 09:36] Julesssss commented on #9250
Proposal still needs review.

[2022-10-19 09:37] Julesssss commented on #11389
@puneetlath could we please double the bounty? Thanks!

[2022-10-19 09:38] Julesssss commented on #11825
Awaiting contributors

[2022-10-19 09:39] madmax330 commented on #5536
I don't know if this is actually a good improvement tbh. If you log out and had a draft I don't think the expectation is that it should still be there IMO.
If you close your browser an open it sure, but if you log out it makes sense to delete the draft IMO

[2022-10-19 09:55] Julesssss commented on #8130
Hey @mallenexpensify. The internal issue has remained untouched since it was opened, so I believe it was an unrelated fix. We could payout for raising the bug, but I don't think any part of the 8k bounty was completed IMO.

[2022-10-19 10:05] sketchydroide commented on #9973
looking today to see if there is any other peolpe complaining, or if we could update the library.
Another Solution is making this an external and see if someone knows more about this.

[2022-10-19 10:07] sketchydroide commented on #9941
@parasharrajat any update on this?

[2022-10-19 10:09] tsa321 commented on #11330
Or for much cleaner code, we can move  this `shouldReorder` logic into `SidebarLinks.js`. So we don't touch `SidebarUtils.js` file.

[2022-10-19 10:22] Puneet-here commented on #8130
True, I just tested and found that  the logic of validation has changed, now when we open the magic link the account doesn't get validated unless we set the password and because of it we don't see this issue anymore.

[2022-10-19 10:27] Beamanator commented on #11393
Still on hold, making progress on image improvements, see tracking issue

[2022-10-19 10:29] sobitneupane commented on #10290
@aimane-chnaif I tested it and `onBlur` is being called on native. And `toggleReportActionComposeView()` is also being triggered but cancel and save button are clickable unlike mWeb.

[2022-10-19 10:37] isabelastisser commented on #11730
I was able to reproduce:

https://user-images.githubusercontent.com/31258516/196668634-4487633c-1044-46bb-b643-b91d53f09a73.mp4

[2022-10-19 10:43] isabelastisser commented on #11703
Reviewing this now.

[2022-10-19 10:57] parasharrajat commented on #11561
Any proposal is accepted that fixes the issue.

[2022-10-19 10:59] parasharrajat commented on #9941
The new PR is not yet merged https://github.com/software-mansion/react-native-reanimated/pull/3559.

[2022-10-19 10:59] isabelastisser commented on #11703
Hi @kavimuru, I'm unable to reproduce:

https://user-images.githubusercontent.com/31258516/196672271-fca4f2f3-19da-46c9-b8e0-a6e4123a35ed.mp4

[2022-10-19 10:59] #11703 closed

[2022-10-19 11:12] tienifr commented on #11844
ok, sure

[2022-10-19 11:14] sketchydroide commented on #11920
The last Item was fixed by the [PR here](https://github.com/Expensify/Web-Expensify/pull/35194#issuecomment-1283836876)

[2022-10-19 11:14] sketchydroide commented on #11920
:shipit:

[2022-10-19 11:15] OSBotify commented on #11920
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-10-19 11:15] OSBotify commented on #11920
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-10-19 11:16] sketchydroide commented on #11920
:shipit:

[2022-10-19 11:16] #11920 closed

[2022-10-19 11:19] OSBotify opened #11979 "Deploy Checklist: New Expensify 2022-10-19"
**Release Version:** `1.2.18-10`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/11150
- [x] https://github.com/Expensify/App/pull/11608
- [x] https://github.com/Expensify/App/pull/11640
- [x] https://github.com/Expensify/App/pull/11665
- [x] https://g

[2022-10-19 11:30] michaelhaxhiu commented on #10428
@hellohublot has been paid

[2022-10-19 11:31] isabelastisser commented on #11726
hey @marcaaron is there anything for me to do here? I reviewed the issue and your comments, and it seems like we're taking this internally, and the payment in Upwork will only need to be made _if we deploy an associated Pull Request to production._

Unassigning myself.

[2022-10-19 11:35] christianwen commented on #10731
@Santhosh-Sellavel I seem to see the cause of it but since this is a new code part, I'll need a bit more time to find the solution, will update tomorrow
thanks

[2022-10-19 11:54] isabelastisser commented on #11650
Hey @tgolen , I'm still getting familiar with this process, so do I still need to create an Upwork job and assign it to @aimane-chnaif ? It looks like this has been done [here](https://github.com/Expensify/App/issues/11650#issuecomment-1277979149), but I wanted to confirm. Thanks!

[2022-10-19 12:12] muttmuure commented on #11687
Copying this point as next steps:

1. fix saving of draft values for checkbox (so any checkbox that wants to save draft, it should work)
2. remove draft value for terms and conditions checkbox

[2022-10-19 12:12] hannojg commented on #11321
Hey guys, I have already tested with @quinthar manually if https://github.com/Expensify/App/pull/11684 fixes this issue. Unfortunately, it doesn't.

Up until today i wasn't able to reproduce that issue myself. @Beamanator you said you were able to reproduce the issue with a Pixel 4 simulator, that sounds great. Can you share the specs?

I really would like to fix this bug, but def need a reproduct

[2022-10-19 12:15] parasharrajat commented on #11687
@muttmuure I think you forgot to reopen this.

[2022-10-19 12:16] CortneyOfstad commented on #10248
@marcaaron appears to be OoO. Closing until they return.

Feel free to reopen if issue is still occurring!

[2022-10-19 12:16] #10248 closed

[2022-10-19 12:17] muttmuure commented on #11901
I've not been able to reproduce this bug.

[2022-10-19 12:23] Beamanator commented on #11778
Ya I can't reproduce this anymore in dev or staging, I'll close for now, can reopen if someone can reproduce

[2022-10-19 12:24] Beamanator commented on #11334
Looks good to me!

[2022-10-19 12:28] muttmuure commented on #11951
I think this needs the External label, we've engineering reviewed and triaged out of order

[2022-10-19 12:40] mvtglobally commented on #11132
@mallenexpensify @mallenexpensify I was checking with the team on the same. There is a tricky way to download PROD build on Android with the same device as you have staging. Currently we all see STG
Since all our testers are already getting BETA (STG) builds, not sure this result is accurate.
Is there any chance you can ask someone in Expensify internally who DOES NOT have staging build to downloa

[2022-10-19 12:45] muttmuure commented on #11951
I'm getting an error when I try to post to Upwork. I've raised it in #bugzero https://expensify.slack.com/archives/C01SKUP7QR0/p1666183255766669

[2022-10-19 12:51] muttmuure commented on #11903
I'm not able to reproduce this

[2022-10-19 12:57] parasharrajat commented on #7916
PR is under review.

[2022-10-19 12:58] muttmuure commented on #11902
I've reported this [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1666184222105079)

[2022-10-19 12:59] muttmuure commented on #11902
This should be weekly because we can't add engineering until we reproduce the problem

[2022-10-19 12:59] bernhardoj commented on #11330
@mananjadhav Thanks for the feedback. Here is my updated Proposal

### **Updated Proposal**
The same concept from my previous proposal that we need to know whether the previous report is a draft or not. By taking all considerations, we can make use of `componentDidUpdate()` inside `SidebarLinks.js` to get the previous reports.

Here is the code changes of
_**SidebarLinks.js**_
[code]

And there is

[2022-10-19 13:02] Beamanator opened #11982 "App crashes when navigating to Room details, participants, and settings pages with account that doesn't have access"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a room, open the details page
2. Copy the URL
3. Log out
4. Log in as an account that doesn't have access to that

[2022-10-19 13:05] muttmuure commented on #11951
Just needed to wait a little bit and now it's posted

[2022-10-19 13:07] isabelastisser commented on #11856
I was able to reproduce it:

https://user-images.githubusercontent.com/31258516/196699559-4ca2c578-6a6e-4972-af78-21805c47d86d.mp4

[2022-10-19 13:14] sobitneupane commented on #11671
@fedirjh Your latest proposal looks promising. Have you tested it on other different scenarios where unread indicator is updated?

 @CortneyOfstad As Marc is OoO for a week (https://github.com/Expensify/App/issues/11671#issuecomment-1280072219), we need new CME here.

[2022-10-19 13:14] michaelhaxhiu commented on #11337
Price remains where it is, and job is still open to any

[2022-10-19 13:15] sketchydroide commented on #10585
I don't know why this is still set as deploy blocker, this is to old to be one, removing

[2022-10-19 13:15] sketchydroide commented on #11979
https://github.com/Expensify/App/issues/10585 checked, to old to be blocker over a month and a half, weird.

[2022-10-19 13:22] kbecciv opened #11983 "Android - Chat - Blank page is displayed when navigate to any chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Navigate to any chat

## Expected Result:
Chat conversation should be displayed

[2022-10-19 13:23] #11454 closed

[2022-10-19 13:23] OSBotify commented on #11983
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-19 13:26] mateocole commented on #11786
@roryabraham It looks like in lieu of that convo and building towards whatsapp quality vs slack for now, we are not going to support markdown at the moment, is that correct?

[2022-10-19 13:31] shawnborton commented on #11427
Thinking back on this, I think it would make sense to remove the avatar + username but keep the text below it. So let's proceed like that - thanks!

[2022-10-19 13:32] muttmuure commented on #11902
Hm, can't reproduce

[2022-10-19 13:36] michaelhaxhiu commented on #10428
@mananjadhav just invited you to the new job. Let's try that

[2022-10-19 13:39] mollfpr commented on #9391
@mananjadhav I can't reproduce this on production `v1.2.17-4`. Now the empty report is shown in LHN. Could you confirm this?

[2022-10-19 13:43] iwiznia commented on #11952
[code]

I am confused, is this issue reproducible or not?

[2022-10-19 13:45] mananjadhav commented on #10428
Sent proposal @michaelhaxhiu

[2022-10-19 13:49] puneetlath commented on #11345
Let's go ahead and close this. If it happens again it'll reopen.

[2022-10-19 13:49] #11345 closed

[2022-10-19 13:57] Beamanator commented on #10232
I can reproduce in staging! The weird thing is, when I searched through lots & data returned by `OpenApp` I saw `"isFirstTimeExpensifyUser": "true"` - I wonder if the problem is that there's just soooo much data coming back in that command?

cc @luacmartins I wonder if you have an idea what's going on here since you've worked a lot on `OpenApp` I think?

[2022-10-19 13:57] puneetlath commented on #11389
Updated to $500!

External upwork job: https://www.upwork.com/jobs/~01c664c9b077916369
Internal upowrk job: https://www.upwork.com/ab/applicants/1582732633604943872/job-details

[2022-10-19 13:57] Beamanator commented on #10232
Marking `Internal` b/c this could definitely be related to our API side code

[2022-10-19 13:58] puneetlath commented on #11768
Reached out to React Navigation library owner, but haven't heard back. Will follow up again this week as well as with perhaps some others.

[2022-10-19 14:01] puneetlath commented on #11595
Still expecting to get to this this week.

[2022-10-19 14:03] Beamanator commented on #11321
Hey @hannojg ! Yes I'll re-test on the Pixel 4 simulator and keep you posted :D

Hmm how can I find this file? 😅

[2022-10-19 14:08] Beamanator commented on #11321
Looks like Github doesn't support those `.ini` file format, I can upload to Google Drive or Slack

[2022-10-19 14:09] hannojg commented on #11321
@Beamanator Usually your emulators are stored in your home directory under the following path:

`.android/avd/YOUR_EMULATOR_NAME.avd/config.ini`

in addition to that your `.android/avd/YOUR_EMULATOR_NAME.ini` file would be interesting!

Oh yeah sure, or you just create a code comment with \`\`\` and post it here as text 😊

[2022-10-19 14:12] trjExpensify commented on #11451
Bump @roryabraham on the steps to reproduce this: https://github.com/Expensify/App/issues/11451#issuecomment-1263540806

[2022-10-19 14:13] mountiny commented on #9999
Alright, I think from the bugZero perspective, we can close this one out. The issue got created when we were trying to add a new feature to the checklist and it revealed how easy it is to miss something in the complicated code. However, we havent had issues with the checklist for a long time or needs to change it so I think we could close this now and if there would be any new bigger changes requi

[2022-10-19 14:13] #9999 closed

[2022-10-19 14:14] Beamanator commented on #11321
Note: On the simulator, after smashing the keyboard for a while and experiencing the app pretty much hanging, if I close the report, navigate to another, then navigate back, it didn't seem slow anymore. The video from my test didn't save 🙃 so I'll try again in a bit

Here's the `config.ini` file:

[code]

[2022-10-19 14:15] Beamanator commented on #11321
And here's my `Pixel4.ini` file:

[code]

[2022-10-19 14:16] puneetlath commented on #9999
Sounds good to me.

[2022-10-19 14:18] abekkala commented on #11895
I was able to to recreate the same outcome.

[2022-10-19 14:20] hannojg commented on #11321
Thx! may i ask on which OS your computer is on? (if its macOS, are you running on an M1?)

[2022-10-19 14:20] puneetlath commented on #9091
I think I would consider this a new feature. It's not a bug per-se. So I'm going to make it a weekly new feature and unassign.

[2022-10-19 14:20] Beamanator commented on #11321
https://user-images.githubusercontent.com/3885503/196717445-590c1d88-8c87-4076-9b2a-38fcd9df1d4c.mov

Sure thing, yes I'm on a macOS (12.6), Chip: M1 Max

[2022-10-19 14:21] michaelhaxhiu commented on #10428
Both paid.

[2022-10-19 14:21] #10428 closed

[2022-10-19 14:23] iwiznia commented on #11884
@kavimuru so did this work?

[2022-10-19 14:24] OSBotify commented on #11979
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11942) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.18-2` :rocket:

[2022-10-19 14:25] parasharrajat commented on #11101
I was looking into the Lib methods and It says that we can use the correct path to store the file in external storage directly. Why do you are preferring `MediaStore`? There are some details https://github.com/RonRadtke/react-native-blob-util#android-media-scanner-and-download-manager-support which talks about media scanning. I haven't tested it but will this not work and Why?

And when `addAndroi

[2022-10-19 14:36] dylanexpensify commented on #11908
Upwork: https://www.upwork.com/jobs/~01f4b150900a44d8e0

[2022-10-19 14:38] pecanoro commented on #11728
Ok, we agreed we should fix it, so assigning external1

[2022-10-19 14:41] bernhardoj commented on #11330
@mananjadhav Thanks for the feedback. Here is my updated proposal.

### **Updated Proposal**
I still using the similar approach, which is to store the previous reports as history, but now we store it in **SidebarLinks.js**. We will update the previous report every time user clicked a different chat, and we pass this previous report to `getOrderedReportIDs()`.

[code]

And on **SidebarUtils.js**, d

[2022-10-19 14:50] pecanoro commented on #11245
@Julesssss I was going to add External but I see you added FirstPick, do you want to leave it internal?

[2022-10-19 14:54] tsa321 commented on #7968
@Santhosh-Sellavel any advice for [my proposal](https://github.com/Expensify/App/issues/7968#issuecomment-1278399100) ? I have replied your comment about the first problem [above](https://github.com/Expensify/App/issues/7968#issuecomment-1279599729).

[2022-10-19 15:00] puneetlath commented on #7572
Assigning over to @JmillsExpensify since this is part of the Keyboard project.

[2022-10-19 15:03] mollfpr commented on #11982
### Proposal
The issue occurred when the `report` from Onyx return `undefined on `ReportDetailsPage`, `ReportParticipantsPage` and `ReportSettingsPage`.

**Solution**
Creating a HOC to get the `report` data from Onyx will navigate to the home page if the `report` data is not available. Then updating of the above 3 pages to use the HOC.

[code]

[code]

**Result**

https://user-images.githubusercon

[2022-10-19 15:06] mountiny commented on #4656
@roryabraham I feel like this issue live kind of in vacuum. Should we either make this a tracking issue for PRs/issues which are aimed to improve the app loading time or I think we might want to close this one out as Margelo already addressed some boot up changes and we might want to go in a direction of creating a specific issues for specific problems (similar as you have linked above - enable fa

[2022-10-19 15:09] Julesssss commented on #11245
I think it needs to be internal right? As the change would occur in OldDot?

[2022-10-19 15:09] puneetlath commented on #9703
Assigning over to @mallenexpensify since this is part of https://github.com/Expensify/App/issues/10894

[2022-10-19 15:10] Santhosh-Sellavel commented on #7968
Can you rephrase it's confusing? https://github.com/Expensify/App/issues/7968#issuecomment-1279599729

[2022-10-19 15:12] Justicea83 commented on #11454
Thanks Zany

[2022-10-19 15:15] mountiny commented on #11561
Correct, but ideally we prefer to solve this without adding new packages.

[2022-10-19 15:16] pecanoro commented on #11245
Omg, you are right, I guess I am not fully awake yet lol

[2022-10-19 15:18] muttmuure commented on #11951
The job is here https://www.upwork.com/jobs/~01b43085bb2505c069

[2022-10-19 15:21] muttmuure commented on #11731
Job is [here](https://www.upwork.com/jobs/~01f1aaaefeb1b37071)

[2022-10-19 15:26] muttmuure commented on #11801
Since this one is getting more proposals I've closed the other and updated the job posting.

The job is posted here: https://www.upwork.com/jobs/~01f1aaaefeb1b37071

[2022-10-19 15:29] muttmuure commented on #11710
Job is here, sorry for the delay I was ooo most of last week: https://www.upwork.com/jobs/~011043b676c61cbec4

[2022-10-19 15:31] Puneet-here commented on #11710
Jumped the process a little and pushed the PR just now.

[2022-10-19 15:31] mountiny commented on #11815
@mollfpr Feel free to raise the PR

Thanks @mananjadhav for the review.

[2022-10-19 15:33] Puneet-here commented on #11710
Applied to the job.

[2022-10-19 15:34] muttmuure commented on #11735
Job posting is [here](https://www.upwork.com/jobs/~01a310de34481c6c63)

[2022-10-19 15:35] OSBotify commented on #11979
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.18-2 has been deployed to staging :tada:

[2022-10-19 15:40] tsa321 commented on #7968
@Santhosh-Sellavel when confirm modal appear, the `cancel button` has focus (you can see with `console.log(document.activeElement)`) to detect which element has focus. [This is the second problem, the `cancel button` has focus instead of `remove button` when confirm modal appear].

The first problem is: even though the `cancel button` has focus, pressing `enter` will remove the workspace.
Pressing

[2022-10-19 15:42] muttmuure commented on #11710
Awesome, offer sent

[2022-10-19 15:44] muttmuure commented on #11801
Done

[2022-10-19 15:44] mdneyazahmad commented on #11192
## Proposal

https://github.com/Expensify/App/blob/c3a0129ee0b1e6fb524e65bf15361624d71d9a14/src/components/ImageView/index.js#L52-L60

`document.addEventListener('mousemove', this.trackMovement.bind(this)); ` the reference to listener is not preserved here so when `document.removeEventListener('mousemove', this.trackMovement.bind(this)); ` is called it does nothing because that is not the actual r

[2022-10-19 15:46] cead22 commented on #11820
I'm actually not sure if we should hardcode the emoji, or fix whatever logic should be rendering it. But it seems reproducible so going to send to Demolition. If you think this should be fixed by contributors feel free to assign to them

[2022-10-19 15:46] aneequeahmad commented on #10585
oops,  i  applied to the job offer here, apologies.

@mallenexpensify  Just accepted the offer on Upwork, Thanks for opening the issue and sending me the job offer.

[2022-10-19 15:50] Puneet-here commented on #11820
@cead22, we are using emoji at all the places, I think we used alias by mistake.
Here in the english copy we are using the emoji
https://github.com/Expensify/App/blob/ca501d965217c42ddc30f3516c1db7c10361c461/src/languages/en.js#L213
we need to use the same at es.js instead of ` :tada: `
https://github.com/Expensify/App/blob/ca501d965217c42ddc30f3516c1db7c10361c461/src/languages/es.js#L213

[2022-10-19 15:57] tsa321 commented on #11667
Related to https://github.com/Expensify/App/issues/11330, In  the issue, there is a discussion to immediately move the report with recently made draft to move up.
If report already at the top section/draft section, the report will move down immediately if draft is removed.

If this behavior accepted, the this issue will be resolved too. But there is still ongoing discussion there.

[2022-10-19 16:03] arosiclair commented on #11950
Can't run iOS current, but repro'd in Android v1.2.16-5. Marking External

[2022-10-19 16:04] Santhosh-Sellavel commented on #4324
No on the final stage, close to merging.

[2022-10-19 16:05] luacmartins commented on #10232
@Beamanator I did some quick debugging and the issue is that we no longer set the `IS_LOADING_POLICY_DATA` key in OpenApp, so [this promise](https://github.com/Expensify/App/blob/ca501d965217c42ddc30f3516c1db7c10361c461/src/libs/actions/Welcome.js#L31-L35) never resolves and we don't show the FAB menu. We have a [PR](https://github.com/Expensify/App/pull/11627) that should fix this

[2022-10-19 16:21] varshamb commented on #11973
### Proposal
We need to set true for web.

https://github.com/Expensify/App/blob/ca501d965217c42ddc30f3516c1db7c10361c461/src/components/DatePicker/index.js#L71-L72

[2022-10-19 16:25] MitchExpensify opened #11991 "#admins rooms tied to Collect or Control policies not showing in search or LHN for assigned Guides"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Note: ([How do I test 121 assigned guides on dev?](https://stackoverflow.com/c/expensify/questions/14339))
1. Non paying user cre

[2022-10-19 16:28] tjferriss commented on #11963
Able to reproduce, passing to engineering.

[2022-10-19 16:34] MitchExpensify commented on #11991
cc @alex-mechler for thoughts on this as he is one of the closest to the code

[2022-10-19 16:35] ntrepanier commented on #11914
I'm OOO for the next couple days driving home so I'm reassigning so this gets looked at properly.

[2022-10-19 16:39] youssef-lr commented on #10364
We seem to create thumbnails for text files too, I think we should limit creating thumbnails to PDFs and images only. I will keep this assigned to me as I'm working on file uploads. I will also post in slack for some input about what types we wanna create thumbnails for.

[2022-10-19 16:39] ntrepanier commented on #11972
Reassigning since I'm swamped from vacation and I'm ooo to drive home for the next couple of days.

[2022-10-19 16:40] tjferriss commented on #11429
I'm not able to reproduce this on web staging (v1.2.18-2) or on my iPhone app (v1.2.15-3). I am successfully taken back to the previous step. Are we sure this is still broken?

[2022-10-19 16:41] parasharrajat commented on #11101
Ok, Thanks. One more thing, Can you please show me a video of the location where files are downloaded? Try with an image and a PDF.

[2022-10-19 16:42] parasharrajat commented on #11950
We can close this one then if duplicate.

[2022-10-19 16:42] tjferriss commented on #11420
I was able to reproduce this on webs staging (v1.2.18-2). Looks like the issue is still here.

[2022-10-19 16:45] parasharrajat commented on #11667
Thanks for linking that @tsa321. We will keep tracking that.

[2022-10-19 16:46] tjferriss commented on #11438
I'm not able to reproduce this one on web staging (v1.2.18-2). I'm navigating the emoji selector with the keyboard and can select one emoji at a time.

[2022-10-19 16:51] ntrepanier commented on #11922
Based on what @alex-mechler said above. I agree that this isn't really worth fixing at this point. As it's a feature request and not a bug, I'm going to go ahead and close it. Feel free to re-open if you disagree.

[2022-10-19 16:56] parasharrajat commented on #11823
Ok, I think we can proceed with the @vladamx's [proposal](https://github.com/Expensify/App/issues/11823#issuecomment-1279864525).

cc: @roryabraham

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-10-19 17:00] parasharrajat commented on #11823
@shawnborton Could you please share the assets for the task and tell us what is the font size for the `Drop to upload` ?

[2022-10-19 17:02] aldo-expensify commented on #11487
@CortneyOfstad I understand that the vote resolved to do option 1️⃣  which would be to remove the hyperlink from the email when on mobile to have consistency across platforms. The next steps would be:

- Create the Upwork job
- @Santhosh-Sellavel has to review the proposed solutions. I think the only one to review is @Puneet-here solution [here](https://github.com/Expensify/App/issues/11487#issuec

[2022-10-19 17:03] Puneet-here commented on #11429
Hi @tjferriss, it's still reproducible. You have to repro this on Android and you will need to press native back button.

[2022-10-19 17:04] abekkala commented on #11921
@NikkiWines Can I get your opinion if your [GH here](https://github.com/Expensify/App/issues/11131) would also fix this one?

[2022-10-19 17:05] abekkala commented on #11131
@NikkiWines do you think when this fix is out it will also resolve the one I've noted above?

[2022-10-19 17:07] parasharrajat commented on #7185
@Christinadobrzyn Any update for me?

[2022-10-19 17:10] thesahindia commented on #11131
Hey @abekkala, that's a different issue and won't be fixed by it.

[2022-10-19 17:11] parasharrajat commented on #11101
Ok, Thanks.  @aimane-chnaif 's [proposal](https://github.com/Expensify/App/issues/11101#issuecomment-1283271264) looks good to me.

cc: @thienlnam

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-10-19 17:13] kbecciv opened #11994 "Android - Security - User needs to tap twice on "Close" button to close the account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go to Setting - Security
4. Tap Close Account
5 Enter email address
6. Tap Close

[2022-10-19 17:13] MitchExpensify commented on #11133
Cool, this isn't reproducible on desktop web for what it is worth

[2022-10-19 17:20] parasharrajat commented on #11844
If this issue exists on Native iOS, then we can apply the workaround. Otherwise, a fix in RN is preferred.

[2022-10-19 17:29] chiragsalian commented on #7185
Hi @Expensify/contributor-management, can someone help out with the payment here?

[2022-10-19 17:30] kbecciv opened #11995 "IOS/Android - IOU - Error page is displayed after tap the iOU badge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Open the test app and sign in to any account
3. Navigate to chat with any user
4. Complete the request money

[2022-10-19 17:32] abekkala commented on #11921
confirmed this one is unique and won't fix with that one

[2022-10-19 17:33] sakluger commented on #11810
Reproduced in prod in an incognito window.

[2022-10-19 17:37] gadhiyamanan commented on #11994
**Proposal**

add `keyboardShouldPersistTaps="handled"` prop to ScrollView https://github.com/Expensify/App/blob/ca501d965217c42ddc30f3516c1db7c10361c461/src/pages/settings/Security/CloseAccountPage.js#L74-L80

[2022-10-19 17:49] neil-marcellini commented on #11236
Thoughts on the error punctuation @joaniew @GabiHExpensify @davidcardoza? I would like to give the contributor a decisive answer and get their PR merged.

[2022-10-19 17:50] eVoloshchak commented on #11801
I've tested it in other places, it mimics the previous behavior, so as long as all we need is to dismiss the keyboard on scroll, I think we're good
I'm not sure what's the correct behavior for each of the screens that use `OptionsList`, this one, for example, dismisses the keyboard after the user was selected, while this is not the case for the search screen.

https://user-images.githubusercontent

[2022-10-19 17:51] stitesExpensify commented on #11820
Yep I think it was just a copy/paste gone wrong. I'll make a quick pr

[2022-10-19 17:51] MitchExpensify commented on #11991
Asked if this is a fire here - https://expensify.slack.com/archives/C03U7DCU4/p1666201675400019

[2022-10-19 17:56] davidcardoza commented on #11236
+1 to no punctuation. The copy should read as - `Please provide your first name`

[2022-10-19 17:57] mountiny commented on #10587
Checked in with Zany on this one, it is an old issue and not reproducible in staging/prod anymore so we are good to close it 🎉

[2022-10-19 17:57] #10587 closed

[2022-10-19 17:57] ctkochan22 commented on #11496
@Justicea83 I see that the reviewing label is applied, but I do not see any issues link this issue that will fix it. Can you do that please?

[2022-10-19 17:57] zanyrenney commented on #10587
Asked Vit to doublecheck on Dev as I don't have access.

[2022-10-19 17:59] roryabraham opened #11997 "Add better performance metrics to Grafana"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

See [this predesign](https://expensify.slack.com/archives/C01GTK53T8Q/p1666203371577229) for some additional context.

### Problem
We've got a sort of

[2022-10-19 18:00] Justicea83 commented on #11496
This is [the PR](https://github.com/Expensify/App/issues/11496) that fixed this. It should be closed out by now, since the PR hit production.

[2022-10-19 18:01] Puneet-here commented on #11820
Can I raise the PR we just need to make the change like proposed [here](https://github.com/Expensify/App/issues/11820#issuecomment-1278032652)

[2022-10-19 18:01] kavimuru opened #11998 "BUG: Selecting a new chat from should provide grey background feedback reported by @chauchausoup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Go to new chat modal after pressing the green plus button.
Press any of the below mentioned chat profiles.

## Expected Result:
G

[2022-10-19 18:02] CortneyOfstad commented on #11398
Helping Stevie with this and here is a recording of the issue from my NewDot:

![2022-10-19_13-00-38 (1)](https://user-images.githubusercontent.com/10926327/196769465-9444728f-8b3b-4621-a1e6-56a03c58079b.gif)

[2022-10-19 18:02] ctkochan22 commented on #11728
Looks good @jliexpensify lets hire @Puneet-here

[2022-10-19 18:07] stitesExpensify commented on #11820
Go for it! We'll need to make an external job and stuff though

[2022-10-19 18:08] stitesExpensify commented on #11820
@davidcardoza can you make an upwork job for @Puneet-here please?

[2022-10-19 18:11] ntrepanier commented on #11998
OOO for the next couple of days. Reassigning.

[2022-10-19 18:11] kbecciv opened #11999 "Safari - "Paste as plain text" command is not in the context menu (right button click)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a chat app that supports Markdown (For example: Slack)
2. Copy the text with markdown and navigate back to NewDot

[2022-10-19 18:13] srikarparsi commented on #11584
yup this looks good to me as well, assigning @tienifr to the issue

[2022-10-19 18:18] slafortune commented on #11398
@kavimuru  - I was not able to reproduce this on mobile as shown below
Andriod 12
Galaxy Z Flip4

https://user-images.githubusercontent.com/11725910/196771741-fa140fcb-dd8e-4850-94b5-c73fa8369b6b.mp4

Also shown above, command+ does zoom until it hits the page width set.

Applying the engineering label to get a consensus if that is the expected behavior.

[2022-10-19 18:18] parasharrajat commented on #11820
Do we need C+ for this? Please unassign me if not needed.

[2022-10-19 18:18] kbecciv opened #12000 "Web-Workspace -After renamed the workspace, you need to refresh the page to see the new name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with new account
3. Click on the "Global action">New workspace
4. Rename

[2022-10-19 18:18] grgia commented on #11311
I've been messing around with this, but I haven't been able to tweak the steps to get it to reliably reproduce. There's definitely something here, because it does occasionally happen, but most of the time both LHN and the chat history are being updated when a new chat is received

[2022-10-19 18:19] OSBotify commented on #12000
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-19 18:25] alex-mechler commented on #11991
1:1'd Puneet, taking this over since I think i know what is happening here

[2022-10-19 18:27] jayeshmangwani commented on #11728
@kavimuru I [reported](https://expensify.slack.com/archives/C01GTK53T8Q/p1656619624743589) this 3 months ago, can you please check this once?

[2022-10-19 18:27] aldo-expensify commented on #11487
@CortneyOfstad please HOLD, I'm asking @JmillsExpensify opinion since @Santhosh-Sellavel still thinks it may be better to do nothing.

[2022-10-19 18:27] tienifr commented on #11427
@shawnborton Thanks for your comment. I changed the PR https://github.com/tienifr/App/pull/8.

https://user-images.githubusercontent.com/113963320/196773324-382d665e-4f67-423b-b947-0a35cfae3e35.mp4

@rushatgabhane because we're still discussing, I just want to ensure everything is ok before I create the PR on E/App repo.
Pls help me check the PR https://github.com/tienifr/App/pull/8.

As https://g

[2022-10-19 18:29] neil-marcellini commented on #11995
Nothing in the recent PR list is jumping out to me as a likely culprit, so I'm going to run this locally and see if I can spot the problem in the logs.

[2022-10-19 18:29] dangrous commented on #11893
Hm, weird! May be a simulator issue then, which is annoying for testing. Still, the bug definitely exists - it's something to do with [this line](https://github.com/Expensify/App/blob/4dc7fef0ec778be71114898bdf7d56ed363bee0a/src/pages/settings/AppDownloadLinks.js#L88) and the function it calls; my guess is because it is trying to pop up a context menu in place for web that it doesn't know how to h

[2022-10-19 18:31] shawnborton commented on #11427
Video looks good, thanks!

[2022-10-19 18:34] mountiny commented on #11950
Closing this out as a duplicate, thank you for the message @aimane-chnaif I have commented in the relevant PR to hopefully speed it up https://github.com/Expensify/App/pull/11944

[2022-10-19 18:34] #11950 closed

[2022-10-19 18:34] grgia commented on #11963
I don't think this is a bug, it's a result of sanitizing inputs for the DB. I'm going to go ahead and close this out since commas aren't allowed in legal names anyways

[2022-10-19 18:34] #11963 closed

[2022-10-19 18:36] eVoloshchak commented on #11636
@1notchdev, it was deployed to production 5 days ago. As per [CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#payment-for-contributions)

[2022-10-19 18:38] kavimuru opened #12001 "[$250] BUG: [attachment] message still being shown even after attachment being deleted reported by @chauchausoup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. go to chat
2. upload an unsupported attachment
3. go back to LHN

## Expected Result:
you shouldn’t see [attachment] message

[2022-10-19 18:41] chiragsalian commented on #8661
Yes, I think it's still on HOLD for https://github.com/Expensify/App/issues/7860. Looks like a big project but we feel like it would solve the problem here with proper code vs us doing some hacky workarounds until that goes live.

[2022-10-19 18:44] srikarparsi commented on #11315
yup, we can pay and close the job. It did end up getting deployed to ios and android.

[2022-10-19 18:50] neil-marcellini commented on #11995
Hmm I tried running iOS staging locally against the staging server and I can't reproduce there.

[2022-10-19 18:50] chiragsalian commented on #11319
I can't reproduce either on staging. I tested on ios on staging.
I tried those steps i.e., I went to 3 different group chats, clicked on the header, and for all of them I see the profile icon.

Can you retest on web on staging @mvtglobally, after deleting indexed data, with console open and checking for any console errors?

[2022-10-19 18:51] Puneet-here commented on #11820
@stitesExpensify, I have raised the [PR](https://github.com/Expensify/App/pull/12002).

[2022-10-19 18:52] chiragsalian commented on #7862
Looks like there is movement on the PR. Thanks @JediWattson. Let us know if you've got any questions. Excited to see this through.

[2022-10-19 18:55] michaelhaxhiu commented on #10442
Excellent, thanks for the check @mvtglobally. I'll prep payment.

1. @kakajann is already hired via https://www.upwork.com/jobs/~01eda72888fdccc636, but that job link expired and so I'll make a new one for @Santhosh-Sellavel to apply to below:

2. @Santhosh-Sellavel can you apply to this new job - https://www.upwork.com/jobs/~014caa50546908ac6a

[2022-10-19 18:59] mallenexpensify commented on #10894
:whoohooo: just scored me 17 open issues to BZ! 🏅
Need to develop a process for this and add/update SO.  Will do soon

[2022-10-19 19:01] eVoloshchak commented on #11354
I like @dhairyasenjaliya's proposal!
Not wrapping `Text` in another `View` is perfect, this would yield problems on native.
I think we can shrink down the code by using the same function for `onPress` and `onKeyDown`, so `TextLink` ends up looking something like this

[code]

🎀👀🎀 C+ reviewed!
cc: @mallenexpensify

[2022-10-19 19:02] dangrous commented on #11245
Grabbing this, it looks like the function to open new dot can't find `App` [here](https://github.com/Expensify/Web-Expensify/blob/fd2b4022de5962267f2fdf410c20824216ca248c/homepage/js/signin.jsx#L1290) and so that's why it's not doing anything. That's [added as a global variable](https://github.com/Expensify/Web-Expensify/blob/fd2b4022de5962267f2fdf410c20824216ca248c/homepage/js/signin.jsx#L1), tho

[2022-10-19 19:03] mountiny commented on #11962
This can definitely be external issue, the UI jumps are not great, lets make sure it is spotless

[2022-10-19 19:10] slafortune commented on #11372
Ah Shoot!  Yes, you are correct!  I removed it!  Also, way over-eager because I agree the back arrow should get you back to the previous page and selecting the X does close out the open attachment as expected.  What I was able to reproduce was on iPhone mobile web the back arrow locks up the app when an attachment is open.  But not true if you first close the attachment with the X.

https://user-i

[2022-10-19 19:13] neil-marcellini commented on #11995
I found some [logs](https://www.expensify.com/_devportal/tools/logSearch/#sort=asc&size=10000&query=blob%3A%22%5BalXt%5D%22%20AND%20email%3A%22neil%40expensify.com%22%20AND%20timestamp%3A%5B2022-10-19T00%3A00%20TO%202022-10-20T23%3A59%5D) of the error happening on my physical device. Now I should be able to identify the problem.

[2022-10-19 19:14] adelekennedy commented on #11930
[internal](https://www.upwork.com/ab/applicants/1582812256669855744/job-details)
[external](https://www.upwork.com/jobs/~01b6b1ff9794f23e74)

[2022-10-19 19:14] johnmlee101 commented on #11496
That links to this issue 😅

[2022-10-19 19:15] abekkala commented on #11822
https://www.upwork.com/ab/applicants/1582812257322721280/job-details

https://www.upwork.com/jobs/~012285a32f32921c68

[2022-10-19 19:25] slafortune commented on #11379
@aimane-chnaif are you able to still reproduce this?  I was not.

[2022-10-19 19:28] thesahindia commented on #9408
@srikarparsi, it's still reproducible. It was just reported [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1666204335556309)
cc: @adeel0202

[2022-10-19 19:34] slafortune commented on #11383
Can't reproduce
iOS 16
https://user-images.githubusercontent.com/11725910/196786402-c4c9beee-a50a-41c3-b307-0ec6346203d8.MP4

[2022-10-19 19:34] #11383 closed

[2022-10-19 19:45] Santhosh-Sellavel commented on #11487
This can come off hold @CortneyOfstad.

@Puneet-here Can you submit an updated proposal again please include a screenshot before and after the new change.

Thanks!

cc: @aldo-expensify

[2022-10-19 19:47] CortneyOfstad commented on #11487
@Santhosh-Sellavel Sounds good! I'll get the Upwork job created right away tomorrow morning 👍 Thanks for the heads up!!

[2022-10-19 19:49] Santhosh-Sellavel commented on #10283
@neil-marcellini
At a glance, I too feel the same. I'll review this possibly by Friday.

[2022-10-19 19:52] neil-marcellini commented on #11995
It's really hard to tell where the problem with `'actionName'` is coming from since we use it in quite a few places. It's also odd that nothing on the IOUDetailsModal page seems to access actionName, it all comes from the ReportScreen.

Idk why I can't reproduce the error on dev.

[2022-10-19 19:56] deetergp commented on #11330
The behavior of @rawalyogendra's proposal is how I'd expect it to work and has the advantage of being very simple.

[2022-10-19 20:00] stitesExpensify commented on #11820
Not needed IMO. Thanks @parasharrajat

[2022-10-19 20:04] alexpensify commented on #11825
@Julesssss - Based on your last response, should I hold on creating the job in Upworks?

[2022-10-19 20:07] mvtglobally opened #12004 "[HOLD App PR#12181] [$1000] [BUG] Pay with Expensify is NOT selecting ACH automatically"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login
2. Set your default payment method in Settings > Payment
3. Get IOU from another user
4. Click Pay in chat
5. Note the

[2022-10-19 20:07] amyevans commented on #11687
Reproduced, and I agree with the next steps [here](https://github.com/Expensify/App/issues/11687#issuecomment-1283914739). Adding `External`.

[2022-10-19 20:12] michaelhaxhiu commented on #12004
@ntrepanier can you please prioritize this one, as it was initially missed by mistake (in our bug reporting flow)? Refer to the slack thread above for context.

[2022-10-19 20:17] slafortune commented on #11404
Unable to reproduce this on iOS16 - and latest version of Chrome -

https://user-images.githubusercontent.com/11725910/196794915-82cd27ef-fa95-43e0-bb30-7df812296f1e.MP4

[2022-10-19 20:17] #11404 closed

[2022-10-19 20:17] grgia commented on #11783
I sent an issue report to google, closing for now.

[2022-10-19 20:17] #11783 closed

[2022-10-19 20:20] deetergp commented on #11999
@kbecciv Are you saying that "Paste as plain text" used to be an option but no longer appears?

[2022-10-19 20:32] techievivek commented on #10347
Hi, @shawnborton can you please confirm if this is an issue that we would like to fix?

[2022-10-19 20:39] kavimuru opened #12005 "[HOLD for payment 2022-11-24] [$250] Bug: Safari- RHN leaves empty space at the bottom after closing the 2nd tab reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open new.expensify.com in safari browser
2. Open another tab
3. Open settings page in NewDot
4. Close the other tab

## Expec

[2022-10-19 20:43] shawnborton commented on #10347
I think it would make sense for the scroll bar portion to sit on top of the content and not add the extra space on the right. @Julesssss thoughts on this one? Tagging you since this is Android specific.

[2022-10-19 20:43] neil-marcellini commented on #11995
I'm asking for some help in Slack now.

[2022-10-19 20:56] alexpensify commented on #11825
Disregard my last comment, I'll work on the job posting later this week.

[2022-10-19 20:57] kevinksullivan commented on #11522
@Santhosh-Sellavel @ctkochan22 so is this one internal then?

[2022-10-19 20:57] kbecciv opened #12006 "Web - Chat - Unable to scroll to the beginning of a conversation with a user who has a lot of messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in an account andreylazutkinutest+123@gmail.com/w323052760We
3.Scroll to start a conver

[2022-10-19 21:01] michaelhaxhiu commented on #10107
Would be good to get a small update here before EOW if possible 🙏

[2022-10-19 21:05] parasharrajat commented on #10107
I will update it tomorrow. Haven't forgotten it.

[2022-10-19 21:07] kbecciv opened #12007 "[HOLD #12259][Image] Android app & mWeb/Safari - Profile - The default avatar changes after removing the avatar image"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to Settings->Profile
4. Remove the avatar image

[2022-10-19 21:10] chiragsalian commented on #9971
okay, how does this look. Can you check if the alignments are good. Two screenshots, one without redbrick and one with,

Web - Without red brick,
![image](https://user-images.githubusercontent.com/14356145/196804490-ba9793c7-2d7d-428a-b831-3cff24cd48b2.png)

Web - With red brick,
![image](https://user-images.githubusercontent.com/14356145/196802610-4e033730-ef18-4a8e-a2b9-ea5fd926cce6.png)

Mobile

[2022-10-19 21:11] fedirjh commented on #11671
@sobitneupane this change was made by @marcaaron https://github.com/Expensify/App/pull/10739/commits/211bd86236e5ccea86102cb25a8e452e86f5186a , i think the correct design is that title indicator is updated on report change only from the subscriber callback , not on state change , this will cause performance issue as it will fire on every state change (including route change)

[2022-10-19 21:11] mvtglobally commented on #11979
Team is still working on the regression.

Summary so far
Blockers
https://github.com/Expensify/App/issues/11983
 https://github.com/Expensify/App/issues/11995
 https://github.com/Expensify/App/issues/12000

PRs
PR https://github.com/Expensify/App/pull/11640 is blocked on IOS and Android due to https://github.com/Expensify/App/issues/11796
PR https://github.com/Expensify/App/pull/11699 is failing d

[2022-10-19 21:11] deetergp commented on #11697
I re-applied the External label so we'd get a CM/BugZero assignee

@hannojg Did you ever find out where the slowdown was coming from?

[2022-10-19 21:11] MarkCSmith commented on #11433
@roryabraham Thanks!  I applied on UpWork and I should have a PR ready on Friday, 21 October 2022.

[2022-10-19 21:12] roryabraham commented on #11997
I also think we agreed to nix Frustration Index because it's more complex and less actionable than other metrics here

[2022-10-19 21:13] MitchExpensify commented on #11195
Hired @chauchausoup, thanks for sharing the working link @mallenexpensify !

[2022-10-19 21:13] mallenexpensify commented on #11342
The issue is that LHN isn't updating.  I've also had it where chats take a while to load in LHN but lets keep that separate.  It happens to me regularly, surprised it doesn't for others. I'm going to trash NewDot and open a fresh version to see if that maybe helps

[2022-10-19 21:13] youssef-lr commented on #10148
@mallenexpensify @dylanexpensify sorry guys I missed this! I think this is different from the issue I worked on and is exclusive to iOS and Android due to React Native as explained [here](https://github.com/Expensify/App/issues/10148#issuecomment-1248101508), it seems like it's a little bit tricky to fix without resorting to using timers. I will look into it further this week.

[2022-10-19 21:13] parasharrajat commented on #7375
Oops, was this monthly, I didn't get a notification. Looks like both PRs are merged. I will analyze the current state and update the PR accordingly asap.

[2022-10-19 21:14] kbecciv opened #12008 "Workspace editor - 'Save' button is not grayed out while offline after changing the name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot Desktop App
2. Turn the network off
3. Try to rename the WS and click on the save button

## Expected Result:
 The

[2022-10-19 21:18] mountiny commented on #12006
this is not a new problem, I think we need to improve how we are fetching the chat messages and loading/showing it in the app. Seems like at certain point it stops being reliable.

[2022-10-19 21:19] mountiny commented on #12006
Adding autoassigner triage for a bug zero team member. this has already been triaged, but I have to drop it to focus on other priorities.

[2022-10-19 21:19] kbecciv opened #12009 "IOS - New Chat - Chat - Nothing happens when tapping on user from the searching list."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App and login
2. Tap New Chat from FAB
3. Enter email e.g. rybkina@gmail.com
4. Tap on user

## Expected Result:
Chat w

[2022-10-19 21:20] OSBotify commented on #12009
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-19 21:20] kavimuru opened #12010 "BUG: Web/Safari - Opening the protect PDF modal and pressing TAB doesn’t focus on download/close button reported by @dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any conversation
2. Send Protected PDF (if required)
3. Open Protected PDF
4. Press TAB key
5. Notice it will directly

[2022-10-19 21:26] MitchExpensify commented on #11063
I am unable to reproduce this

[2022-10-19 21:31] shawnborton commented on #9971
I think that looks pretty good to me! Perhaps the badge/red dot could be 4px closer to the arrow though?

[2022-10-19 21:31] neil-marcellini commented on #11995
I found out that I wasn't actually pointing my dev environment to staging because our env.staging file is out of date and still points to the production api. However, after making that change I still can't reproduce. My next step is to try running from dev on my physical device or maybe running a release build as well.

[2022-10-19 21:32] jliexpensify commented on #11315
Everyone is paid and job removed from Upworks. Thanks!

[2022-10-19 21:32] #11315 closed

[2022-10-19 21:40] jamesdeanexpensify commented on #9971
I was looking back at the proposed copy for [this screen](https://github.com/Expensify/App/issues/9971#issuecomment-1281511248), and I'm wondering if the suggestion below is still accurate and a bit more succinct? Assuming mostly admins will create workspaces, at least to start...

[2022-10-19 21:40] Puneet-here commented on #11730
`WorkspaceReimburseView` is a child of `WorkspacePageWithSections` which contains a header
https://github.com/Expensify/App/blob/b1e0bd64b6d99ba626f1fd9490a0a17bb729051c/src/pages/workspace/reimburse/WorkspaceReimbursePage.js#L25-L33

At `WorkspaceReimburseView` we check if `this.props.policy` is empty (it will be empty when it's deleted) and showing `FullPageNotFoundView ` which has it's own head

[2022-10-19 21:40] MitchExpensify commented on #11051
I am unable to reproduce this, the closed account shows ins in Details:
<img width="1412" alt="image" src="https://user-images.githubusercontent.com/36425901/196809969-541439df-9f6c-4312-8041-84f223b04057.png">

[2022-10-19 21:41] #11051 closed

[2022-10-19 21:42] dangrous commented on #12009
Hm, I'm not able to reproduce. Looking into it, and will ask around as well.

[2022-10-19 21:43] Puneet-here commented on #11414
No need to update the proposal, right? We are going to keep the error below the button, correct me if I misinterpreted.

[2022-10-19 21:45] kbecciv opened #12012 "Workspace - Reimburse expenses- Rate equals 0 is displayed after offline changes on Reimbursement page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/ and login with expensifail account
2. Create a workspace (or it could be existing one

[2022-10-19 21:46] OSBotify commented on #12012
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-19 21:47] chiragsalian commented on #9971
Sure, I moved the red dot 4px closer to the arrow. It looks like this,
![image](https://user-images.githubusercontent.com/14356145/196810694-1f3121b8-162f-431e-b14e-7d1f0adce21d.png)

Cool. I'm not sure of the copy so I'll let @NickTooker weigh in while i build that screen.

[2022-10-19 21:47] kbecciv commented on #11633
@johnmlee101 QA team is experienced the same issue on build 1.2.18.2

https://user-images.githubusercontent.com/93399543/196811127-eeb184b0-342f-4847-908e-13d2bfeef10f.mp4

[2022-10-19 21:48] shawnborton commented on #9971
Sweet, that looks great to me - thanks Chirag!

[2022-10-19 21:49] jliexpensify commented on #11728
@parasharrajat - I think you could make a call here, but it feels like @jayeshmangwani should get the Reporting fee, and @Puneet-here should get the PR fee.

[2022-10-19 21:51] neil-marcellini commented on #12009
I'm able to reproduce on my physical iOS device on staging.

https://user-images.githubusercontent.com/26260477/196811635-70d8bb83-249c-46a3-b58f-169d9e9fb1fc.mov

[2022-10-19 21:52] MitchExpensify commented on #11111
I'm a little confused on what to do with this collection of issues. Mind pointing me in the right direction @mallenexpensify ?

[2022-10-19 21:54] parasharrajat commented on #11728
Seems so.

[2022-10-19 21:56] JmillsExpensify commented on #4656
@mountiny Agreed. I'll go ahead and link this one to the existing [tracking issue](https://github.com/Expensify/App/issues/10962).

[2022-10-19 21:56] dangrous commented on #12009
Thanks @neil-marcellini! I will investigate.

[2022-10-19 21:57] Puneet-here commented on #11728
Yes, It's fine by me, since it was a dupe.

[2022-10-19 21:57] MitchExpensify commented on #11099
I can reproduce this. Following [these instructions](https://expensify.slack.com/archives/C01GTK53T8Q/p1666110686295819?thread_ts=1666110643.035949&cid=C01GTK53T8Q) I'm labelling Engineering

[2022-10-19 21:59] kbecciv opened #12014 "iOS - Attachments - Not possible to attach photo from the Gallery which was taken with Live mode off"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Preconditions: Settings --> Camera --> Formats --> should be set to "High Efficiency"
1. Open Native iOS Camera App
2. Turn off t

[2022-10-19 22:00] MitchExpensify commented on #11207
Asked for Android reproduction help here https://expensify.slack.com/archives/C01GTK53T8Q/p1666216792881779

[2022-10-19 22:00] JmillsExpensify commented on #7572
Thanks, I added this to the related tracking issue and I've put this issue on hold. I'll work on retesting everything once Tim's PRs hit staging.

[2022-10-19 22:01] jliexpensify commented on #11728
Posted:

- Internal https://www.upwork.com/ab/applicants/1582854050876055552/job-details
- External https://www.upwork.com/jobs/~01fa637bc66f289807

Everyone has been invited, thanks!

[2022-10-19 22:03] srikarparsi commented on #9408
interesting, thanks for the heads up, reopening

[2022-10-19 22:03] MitchExpensify commented on #11135
@thesahindia kindly tried to reproduce and was not able - closing

[2022-10-19 22:04] kbecciv opened #12015 "Web - Workspace - Message sent from admin in the workspace chat does not appear in employee account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
and login with expensifail account
2. Create a workspace
3. Invite another member tha

[2022-10-19 22:04] MitchExpensify commented on #11207
@thesahindia kindly stepped in to reproduce and was unable to - Closing

[2022-10-19 22:05] MitchExpensify commented on #11135
Unable to reproduce - closing

[2022-10-19 22:05] #11135 closed

[2022-10-19 22:06] jliexpensify commented on #11274
Ok, I'm going to close this one as I don't think it's a bug (cc @kadiealexander as she confirmed this too). Feel free to re-open with further discussion if you disagree!

[2022-10-19 22:06] #11274 closed

[2022-10-19 22:06] neil-marcellini commented on #11995
I need to update Xcode before I can run on my physical device and that's taking quite a while to download. I asked in #deployer if anyone can help test by running locally on a physical device and getting logs.

I ran a release build on the simulator and I didn't have any problems.

[2022-10-19 22:07] MitchExpensify commented on #11073
On Vit's rec, putting on hold and will keep an eye on https://github.com/Expensify/App/pull/11439 and retest once that fix is live

[2022-10-19 22:10] jliexpensify commented on #11101
Cool, @thienlnam - tag me once you approve and I'll hire. Cheers!

[2022-10-19 22:15] michaelhaxhiu commented on #12004
Note for the C+ that gets assigned, this GH should include a Root Cause Analysis (RCA) investigation since it's clearly a regression.

[2022-10-19 22:19] MitchExpensify commented on #11133
This is not reproducible on mobile either for me - Closing

[2022-10-19 22:19] #11133 closed

[2022-10-19 22:19] roryabraham commented on #11879
This is working

[2022-10-19 22:19] #11879 closed

[2022-10-19 22:20] sakluger commented on #11632
Upwork job posting: https://www.upwork.com/jobs/~011b81a6da237bb2ea

[2022-10-19 22:30] MitchExpensify commented on #11914
@neil-marcellini when you say "Verify that the input is grayed out" in step 8, where are you referring to? I see the input is not grayed after sacing in this example if you are referring to the text field input:

Verify that the input is grayed out:

<img width="477" alt="image" src="https://user-images.githubusercontent.com/36425901/196816784-c7205c42-db4d-43fd-ad7f-8dd19f0ec525.png">

[2022-10-19 22:30] trjExpensify commented on #11797
Cool, so once @Gonals gives this the all clear. I'll send the offer!

[2022-10-19 22:31] MitchExpensify commented on #11972
I am unable to reproduce this - Closing

[2022-10-19 22:31] #11972 closed

[2022-10-19 22:34] albrimpaqarizi commented on #11389
Hello!

Just add the `autoComplete="off"` in form element

[2022-10-19 22:37] aldo-expensify commented on #11812
I have a xiaomi phone, I'll try to repro today or tomorrow the latest

[2022-10-19 22:37] joaniew commented on #11346
Do we need multiple inputs here? Is there a character limit or number we're aiming for when we say its too long/short?

Maybe a simple "How can I help?"

[2022-10-19 22:40] sophiepintoraetz commented on #11776
@tgolen - new to the BZ (old contributor) process - what's the best practise managing issues that are on hold? Do we still need to source proposals?

[2022-10-19 22:44] #11991 closed

[2022-10-19 22:46] trjExpensify commented on #11687
Job is on Upwork here: https://www.upwork.com/jobs/~011127e7b46973fc12

[2022-10-19 22:51] roryabraham commented on #11823
Okay, I'm a little concerned that the solution will not work cross-platform because of the use of `ReactDOM.createPortal`, but @vladamx has acknowledged that ensuring that there are no mobile regressions in the PR is part of the scope, so that resolves my concern.

[2022-10-19 22:52] MitchExpensify commented on #11962
[Upwork Job](https://www.upwork.com/jobs/~017c35805f24784310)

[2022-10-19 22:54] MitchExpensify commented on #12010
How do you send a protected PDF exactly @kavimuru ?

[2022-10-19 22:55] OSBotify commented on #11979
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12013) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.18-3` :rocket:

[2022-10-19 22:55] neil-marcellini commented on #11995
Still waiting on Xcode.

[2022-10-19 22:55] kavimuru commented on #12010
@MitchExpensify  Added using add attachment from the compose box.

[2022-10-19 22:56] MitchExpensify commented on #11423
Any update here?

[2022-10-19 22:56] kbecciv opened #12018 "[HOLD for payment 2022-12-15] [$500] Login - Clicking the eye icon moves the cursor to the beginning"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Enter an email address
3. Press continue
4. Enter the password
5. Click to the

[2022-10-19 22:57] thesahindia commented on #11994
The refactor will be done at https://github.com/Expensify/App/issues/11341

[2022-10-19 23:00] chiragsalian commented on #9971
Shawn, does this look alright for the empty workspace page?
![image](https://user-images.githubusercontent.com/14356145/196819861-379a1ec2-e581-4215-a3c7-4ef654317ca1.png)

I feel like the subtitle is too close to the title, but i haven't changed it and just used the default values from the existing component. Let me know if you prefer I leave it like this or would prefer me to add some padding/ma

[2022-10-19 23:02] kbecciv opened #12019 "Web - Workspace - Workspace chat doesn't show added member"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/ and login with any account
2. Create a new workspace
3. Invite 1 more member
4. Refre

[2022-10-19 23:03] shawnborton commented on #9971
I agree with you, let's add maybe 4 or 8 more pixels in between title and body text to that main component.

[2022-10-19 23:07] trjExpensify commented on #8459
The blocker has been worked through, so @sobitneupane will you be able to get the necessary changes in place this week so we can put this back in review? 🙏

[2022-10-19 23:07] johncschuster commented on #9239
Job posting is here:
https://www.upwork.com/jobs/~013e47108e87e1c6b7

@Puneet-here can you apply to it so I can pay it out?

[2022-10-19 23:09] chiragsalian commented on #9971
Done, this is margin-bottom 8,
Web -
![image](https://user-images.githubusercontent.com/14356145/196820789-c1fc49b3-a0df-44d6-9fb5-3fd4fdf84127.png)

Mobile -
![image](https://user-images.githubusercontent.com/14356145/196821238-a939e948-3d3a-4eb4-9bc0-79fcf600c937.png)

I've updated the component vs having a different style just for this one. I think its fine since previous usages of the same com

[2022-10-19 23:10] shawnborton commented on #9971
Nice, that looks good to me.

[2022-10-19 23:15] kbecciv opened #12020 "[$500] LHN - All chats disappear if user is added to workspace while on setting page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/ on 2 devices, web and mweb, login with different accounts
2. On mWeb device open Sett

[2022-10-19 23:28] neil-marcellini commented on #11707
Same

[2022-10-19 23:31] JmillsExpensify commented on #9091
I think that if no one is going to assign themselves to this issue, we should just close it. Doing that now, so for anyone that wants to re-open please assign yourself.

[2022-10-19 23:31] #9091 closed

[2022-10-19 23:32] JmillsExpensify commented on #6863
Since this is a new feature and no one is assigned, I'm going to close the issue. Anyone that wants to re-open please assign yourself when doing so.

[2022-10-19 23:32] JmillsExpensify commented on #10232
I'll assign myself them and keep track of the related PR.

[2022-10-19 23:33] #11643 closed

[2022-10-19 23:33] neil-marcellini commented on #10824
@Santhosh-Sellavel what do you think of the proposal above?

[2022-10-19 23:33] ctkochan22 commented on #12000
This is reproducible on prod. Not a deploy blocker

[2022-10-19 23:34] JmillsExpensify commented on #10525
@luacmartins Did you mean to un-assign @zanyrenney?

[2022-10-19 23:34] JmillsExpensify commented on #10525
Asking because I don't think we should have any un-assigned issues in this repo anymore.

[2022-10-19 23:36] JmillsExpensify commented on #11726
I'll assign myself and try to find someone to take this one.

[2022-10-19 23:38] luacmartins commented on #10525
@JmillsExpensify Yes, I unassigned because this is an internal engineering job. What process should I follow for internal issues?

I also see that a bug label was added, but there's nothing wrong with the code. This is just a refactor.

[2022-10-19 23:38] roryabraham commented on #5536
I think there's pretty widespread demand for this. It's also not just when you log out, but syncing drafts across devices too. i.e: I start typing up a long draft on my mobile during lunch, then I come back and can finish it up and send it out

[2022-10-19 23:39] roryabraham commented on #5536
Just got reported again today: https://expensify.slack.com/archives/C01GTK53T8Q/p1666216353599709

[2022-10-19 23:40] strepanier03 commented on #11636
Thank you @eVoloshchak for linking that. I'll remember to review that .md next time as I'd reached out internally for help understanding what action I could take here.

[2022-10-19 23:40] ctkochan22 commented on #12000
Looks like the workspace name is reverting after we get the message:
<img width="1121" alt="image" src="https://user-images.githubusercontent.com/12980144/196824573-952f142c-cd61-4170-b93e-3fb3e8f23676.png">

[2022-10-19 23:42] luacmartins commented on #11126
I'll take a look at this tomorrow!

[2022-10-19 23:43] luacmartins commented on #10216
Gonna try to reproduce this again since we updated Onyx to the latest version

[2022-10-19 23:43] luacmartins commented on #8497
I'll take a look this week!

[2022-10-19 23:43] roryabraham opened #12021 "[HOLD][Tracking] NewDot Deploy Improvements"
This is a tracking issue for a number of different NewDot deploy bugs and new features:

**TODO:**
- https://github.com/Expensify/App/issues/9905
- https://github.com/Expensify/App/issues/6863
- https://github.com/Expensify/App/issues/4379
- https://github.com/Expensify/Expensify/issues/195693
- https://github.com/Expensify/App/issues/9725
- https://github.com/Expensify/App/issues/9726
- https://g

[2022-10-19 23:47] kbecciv commented on #12000
We used Deploy Blocker label, because we can not reproduce it in production

[2022-10-19 23:48] kavimuru opened #12022 "BUG: default avatar different for new chat and In LHN reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. click on :green-plus-button: icon
2. select new chat
3. search for random new user ( like [g1@gmail.com](mailto:g1@gmail.com)

[2022-10-19 23:53] kavimuru opened #12023 "BUG: Dev - npm install produces diff on clean branch reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. git checkout tmp
2. npm install

## Expected Result:
There should be no difference as there is no changes made on the branch

[2022-10-19 23:55] roryabraham commented on #11786
Yeah, I think the consensus here was `:donothing:`

[2022-10-19 23:55] #11786 closed

[2022-10-19 23:57] Luke9389 commented on #10888
Yup! Go ahead @aimane-chnaif

[2022-10-20 00:02] roryabraham commented on #10962
Removing https://github.com/Expensify/App/issues/4656 and instead replacing it with https://github.com/Expensify/App/issues/11997, which will provide us with clear metrics that we can point to when we want to know if we need to improve. The deliverables there are more clear and should help align us on how to make performance improvements.

[2022-10-20 00:04] roryabraham commented on #11997
Beyond just sending these metrics to a remote server, I think it would also be helpful to log these metrics locally to make it easier to benchmark individual PRs.

[2022-10-20 00:15] isabelastisser commented on #11131
Reviewing this now.

[2022-10-20 00:21] OSBotify commented on #11979
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.18-3 has been deployed to staging :tada:

[2022-10-20 00:32] kavimuru opened #12024 "BUG: Draft/pencil icon doesn't go away for the room that has been archived reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create a workspace if doesn't exist
2. Go to that workspace's announce room
3. Type something but don't send it to create a d

[2022-10-20 00:40] isabelastisser commented on #11131
Internal job posting: https://www.upwork.com/ab/applicants/1582893872918482944/job-details

External job posting: https://www.upwork.com/jobs/~014d8d5232f2ca4ab3

[2022-10-20 00:47] kavimuru opened #12025 "[PAID] [$1000] Bug: Tooltip gets stuck on the page reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Decrease the screen size
2. Hover over any contact at chat navigator
3. When the tooltip appears open the chat
4. Hover at ba

[2022-10-20 00:52] kavimuru opened #12026 "Bug: You can't search a room with names like "x.y" reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create a workspace > Rename it to "x.y"
2. Search the room by typing "x.y"

## Expected Result:
You should see the room

## A

[2022-10-20 01:02] arielgreen commented on #8311
@parasharrajat update please?

[2022-10-20 01:08] dangrous commented on #12009
Okay after investigating with @thienlnam on the latest builds, it seems like this issue is no longer an issue (tried simulator ios, simulator android, desktop, web, and physical ios). If it keeps coming back we can definitely look into it more, but for now closing since it's not consistently reproducible.

[2022-10-20 01:09] kavimuru opened #12027 "[$1000] Bug: #announce room not visible when added to a workspace, must refresh the page reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login with account A > Create a workspace "Abc"
2. Invite account B
3. Login with account B at a new browser
4. Search announ

[2022-10-20 01:29] kavimuru opened #12028 "[HOLD for payment 2022-11-29] [$1000] BUG: The text inside the composer input and the menu on the settings page got highlighted when triple-click on the last report chat reported by @mollfpr"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to the composer input and type something
2. Triple-click to highlight the text of the last report chat
3. Click the accoun

[2022-10-20 01:44] sakluger commented on #11889
I can't reproduce this one. @kbecciv Could you please clarify how far I need to go in the connect bank flow, and which bank you used to trigger the issue?

[2022-10-20 01:50] AndrewGable commented on #11711
**Problem**: We are trying to configure cloud machines to run an emulator very quickly to run performance tests. However:

**Solution**: Skip running the tests on emulators on CI machines and run the tests on physical devices via AWS Device Farm.

I'm still validating this idea is possible, but I've confirmed we can at least start the tests via AWS Device Farm. I think the real question will be if

[2022-10-20 01:53] kbecciv opened #12029 "LHN - #announce room and that workspace policy chat didn't get archived after Delete the Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition:
- 2 accounts are needed for the following tests, 1 Admin and 1 user
- With one of the accounts, log in, create a wo

[2022-10-20 02:10] thienlnam commented on #12012
Okay, it actually seems like the keys are intentional so that is fine.  I'm a little confused on how it's being set to null though.  This is the order of responses that happens when you go back online after editing the custom units offline.

<img width="488" alt="Screen Shot 2022-10-20 at 11 08 16 AM" src="https://user-images.githubusercontent.com/30609178/196839410-c2fed540-6674-4970-86d2-255f2a8

[2022-10-20 02:17] Nodirbek75 commented on #11970
This issue can be solved by adding listener "beforeRemove" and inside function closing keyboard manually.

[2022-10-20 02:18] mollfpr commented on #9391
@michaelhaxhiu Yes I did. I’m on `v1.2.18-3` and following the step as you. But still couldn’t repro the group chat disappear.

https://user-images.githubusercontent.com/25520267/196840428-971d8b0e-0227-47dc-918e-af477abf19f9.mp4

[2022-10-20 02:52] varshamb commented on #10587
This is still reproducible in staging and prod so I think this should not be closed.

## Prod Web

https://user-images.githubusercontent.com/111683206/196844431-3078abf0-10a2-4070-9aeb-f50c3525fe44.mov

### Consider my Proposal: https://github.com/Expensify/App/issues/10587#issuecomment-1228632033

cc: @neil-marcellini @zanyrenney

[2022-10-20 02:56] aneequeahmad commented on #10587
This is reproducible on latest staging and production

https://user-images.githubusercontent.com/36359331/196845383-7842c480-7c71-46ca-b3de-a6f3918ca86d.mov

[2022-10-20 03:04] akshayasalvi commented on #10356
Yes @tgolen I am working on it. I haven't been able to sync the main branch because it results in conflicts every time. I am just updating the final emoji list, keep a copy and then update it. I'll raise the full PR by tomorrow.

[2022-10-20 03:06] gadhiyamanan commented on #11207
@MitchExpensify am i eligible for reporting because at the time of reporting it reproduced and it's handled internally

[2022-10-20 03:07] thienlnam commented on #12012
Out of the staging changes that could have impacted this, we might have uncovered some bugs due to the new onyx changes https://github.com/Expensify/App/pull/11945 due to merge being faster, otherwise nothing else is sticking out.

I was able to get this to work by removing this line [Expensify/Web-Expensify@fc8ad87/lib/AppInit.php#L211-L212](https://github.com/Expensify/Web-Expensify/blob/fc8ad87

[2022-10-20 03:11] thienlnam commented on #11101
Thanks for making those proposal updates 🟢

cc @jliexpensify We're ready for a hire once they apply to the job

[2022-10-20 03:18] jliexpensify commented on #11101
Hired Rajat and sent an invite to @aimane-chnaif

[2022-10-20 03:48] chauchausoup commented on #11962
Is this issue related to removing the react-content-loader module ?
If that is the case then we can remove the implementation from here: https://github.com/Expensify/App/blob/fbf0334713e7e8d73507e30a8b12c941d9b46670/src/components/ReportHeaderSkeletonView.js#L4
But personally I don't think that it is a good idea to remove the skeleton view as it is the industry practice to keep such UX implementat

[2022-10-20 04:20] Babur171 commented on #11970
You can use KeyboardAvoidingView in scrollView. Then you solve this issue

[2022-10-20 04:21] sobitneupane commented on #8459
PR ready for review.

[2022-10-20 04:23] chauchausoup commented on #11962
Issue:
Issue is caused due to ReportFooter component being wrapped along with the ReportActionsView here at:
https://github.com/Expensify/App/blob/fbf0334713e7e8d73507e30a8b12c941d9b46670/src/pages/home/ReportScreen.js#L297
that is rendered by a conditional logic to check the Loading effect in the app.

Solution:
We can simple take the ReportFooter component and keep it outside the conditional wra

[2022-10-20 04:30] chauchausoup commented on #11961
Issue seems confusing to me. Do you mean the uploaded attachment is rotated 90 degrees ?

[2022-10-20 04:34] chauchausoup commented on #11951
I think this issue was reported first in here by me : https://github.com/Expensify/App/issues/11514

[2022-10-20 04:35] chauchausoup commented on #11514
@mountiny similar issue is being recognized by internal testers too in here: https://github.com/Expensify/App/issues/11951

[2022-10-20 04:59] dhairyasenjaliya commented on #12024
**Proposal**

- Reason why the pencil icon doesn't go away because we never add any validation to check if the room is archived or not
- Based on the status we can show/hide the pencil icon
- Here we need to add one more validation like bwlo

[code]

**Result**
<img width="1435" alt="Screenshot 2022-10-20 at 10 27 47 AM" src="https://user-images.githubusercontent.com/47522946/196860009-c94ccceb-50

[2022-10-20 05:04] Christinadobrzyn commented on #11342
Cool! Can you get a video of what is happening so I can try to replicate it @mallenexpensify?

[2022-10-20 05:07] Christinadobrzyn commented on #11293
Since this is on hold until https://github.com/Expensify/Expensify/issues/227234 is resolved, going to move this to weekly

[2022-10-20 05:14] kadiealexander commented on #9620
@roryabraham Both applause and I are unable to reproduce this, and it's been on hold forever. Do you think we should close it for now?

[2022-10-20 05:15] dhairyasenjaliya commented on #11354
yeah was planning for the same since both are the same function thanx for the further input :)

[2022-10-20 05:16] techievivek commented on #11973
This can be worked on externally and also @varshamb has already put in a proposal that needs a review.

[2022-10-20 05:16] Christinadobrzyn commented on #11275
Job created in Upwork:

Internal posting: https://www.upwork.com/ab/applicants/1582963753329188864/job-details
External posting: https://www.upwork.com/jobs/~01e7b7f771b0a1a9a1

[2022-10-20 05:34] techievivek commented on #11493
The PR is up but based on the [discussion](https://expensify.slack.com/archives/C01GTK53T8Q/p1666197911647179?thread_ts=1666109949.817589&cid=C01GTK53T8Q) here I am not sure if we are going to fix this.

[2022-10-20 05:51] #11994 closed

[2022-10-20 05:53] hannojg commented on #11697
Not yet. Most likely from calls to onyx which in general often cause a lock of the JS thread. Will look again into that issue more in depth in the coming days

[2022-10-20 06:01] kadiealexander commented on #11961
Posted to Upwork:
https://www.upwork.com/jobs/~019638fe179bb97460
https://www.upwork.com/ab/applicants/1582975104337997824/job-details

[2022-10-20 06:05] tienifr commented on #11427
@rushatgabhane @shawnborton  I just created PR for this issue, please help to check:https://github.com/Expensify/App/pull/12032

[2022-10-20 06:14] hannojg commented on #11997
Oh yeah, very interested, will add this to my tasks 💪

[2022-10-20 06:16] mvtglobally commented on #11979
@sketchydroide
Regression is completed

Blockers
https://github.com/Expensify/App/issues/11633
 https://github.com/Expensify/App/issues/11983
 https://github.com/Expensify/App/issues/11995
 https://github.com/Expensify/App/issues/12000
 https://github.com/Expensify/App/issues/12009
 https://github.com/Expensify/App/issues/12012

 PRs
PR https://github.com/Expensify/App/pull/11640 is blocked on IOS

[2022-10-20 06:25] thesahindia commented on #11951
I don't see any similarities. It's a different issue.

[2022-10-20 06:26] chauchausoup commented on #11930
I think we can make use of [PopoverMenu](https://github.com/Expensify/App/blob/main/src/components/PopoverMenu/popoverMenuPropTypes.js) instead of Popover component in this section. The initial component already have Keyboard listeners embedded in it.

[2022-10-20 06:34] hungvu193 commented on #11797
Cool. My upwork email is hungvv193@gmail.com

[2022-10-20 06:37] thesahindia commented on #12024
Actually we had a ticket for this: https://github.com/Expensify/App/issues/9408 but it was closed ( not sure if it was actually fixed )
I think we should close this one as #9408 is open again.

@adeel0202, I am not sure about the reporting compensation. Feel free to comment at #9408 to ask about the eligibility when the things are in motion.

[2022-10-20 06:39] dhairyasenjaliya commented on #9408
**Proposal**

- Reason why the pencil icon doesn't go away because we never add any validation to check if the room is archived or not
- Based on the status we can show/hide the pencil icon
- Here we need to add one more validation like below

https://github.com/Expensify/App/blob/0c5642ff79fa174bdefb8033625882be71792596/src/components/LHNOptionsList/OptionRowLHN.js#L197-L201

[code]

**Result**
<

[2022-10-20 06:40] hungvu193 commented on #11797
Cool, just let me know then I'll apply.

[2022-10-20 06:50] techievivek commented on #11885
Passing it to external contributors to have a look. My guess is it is some styling issue.

[2022-10-20 07:03] thesahindia commented on #11885
Will be fixed by https://github.com/Expensify/App/pull/11608

[2022-10-20 07:04] chauchausoup commented on #11930
Also the issue is found on `About section --> Copy To Clipboard `Popover.

[2022-10-20 07:14] Puneet-here commented on #9239
Applied just now.

[2022-10-20 07:14] techievivek commented on #11885
I am keeping it on HOLD because I can see that the PR above will fix this issue. Sorry for the pings.

[2022-10-20 07:21] sakluger commented on #11840
This isn't overdue.

[2022-10-20 07:30] thienlnam commented on #11866
@kavimuru Are you able to update this testrail?

[2022-10-20 07:41] madmax330 commented on #5536
Alright, then I think this part can be external, we just need to not clear the draft key in onyx when we log out. Don't know if we have a process for that already, might warrant a pre-design or something to make sure we generalize it not just for this key, but any key we want to persist post logout

[2022-10-20 07:52] thesahindia commented on #11840
@sakluger, we can close the contract and this issue.

[2022-10-20 08:03] tienifr commented on #11844
@parasharrajat yes, It just happens on Native iOS. What do you think about my solution above?

https://user-images.githubusercontent.com/113963320/196891413-eee254e2-91f2-44c9-9691-089a0fb41af0.mp4

[2022-10-20 08:15] mdneyazahmad commented on #10663
@mananjadhav my understanding is that both issues are same. You can revert the [PR](https://github.com/Expensify/App/pull/11714) and remove the focus, and verify that both issues are no longer reproducible, and the animation is not different. This is the root cause as stated in my [proposal](https://github.com/Expensify/App/issues/10663#issuecomment-1249383851).

https://github.com/Expensify/App/b

[2022-10-20 08:22] dylanexpensify commented on #10148
Thanks @youssef-lr! Thoughts on moving this to weekly @AndrewGable @rushatgabhane?

[2022-10-20 08:22] dylanexpensify commented on #9181
No updates - waiting for more proposals. @parasharrajat should we double?

[2022-10-20 08:47] dylanexpensify commented on #7917
Thanks @mdneyazahmad !

[2022-10-20 09:13] mollfpr commented on #11800
@dangrous Thanks for the feedback!

Yeah I guess you're right about `Report.subscribeToReportTypingEvents(this.props.report.reportID);` is causing the issue.

How about we call `Report.subscribeToReportTypingEvents(this.props.report.reportID);` after `this.props.report.pendingFields.addWorkspaceRoom` value is null?

Since the optimistic data is set to `addWorkspaceRoom: "add"` and the success data

[2022-10-20 09:18] Julesssss commented on #11245
Afraid not @dangrous, but I think your initial guess is on the right track.

[2022-10-20 09:26] thienlnam commented on #10190
Not a priority

[2022-10-20 09:27] Julesssss commented on #11389
Lol, yep that sounds simple enough 😄

Would you like to work on this PR @albrimpaqarizi? Your message doesn't quite seem like a proposal so I just wanted to check before assigning this to you.

[2022-10-20 09:28] tienifr commented on #11584
Thanks @srikarparsi , I applied to the job and the PR will be ready by October 21

[2022-10-20 09:29] Julesssss commented on #12018
Yep, I can reproduce. @kbecciv would you mind re-uploading a video? I think you uploaded a different bug, so I removed it.

[2022-10-20 09:36] tienifr commented on #11737
Thanks @slafortune, I applied to the job and the PR will be ready by October 21

[2022-10-20 09:38] mdneyazahmad commented on #7968
@Santhosh-Sellavel

https://user-images.githubusercontent.com/77761491/196912251-17ef9d9a-8925-4af5-bd4f-acac22119877.mp4

https://user-images.githubusercontent.com/77761491/196912040-aa9fd81b-1f7d-4c69-a9e1-1db477c934ed.mp4

This is the result after apply my fix. You can see that focus is always set to either of the two button, and the button itself handles the enter press. Therefore, there is no

[2022-10-20 09:39] tienifr commented on #11632
Thanks @sakluger, I applied to the job and the PR will be ready by October 21

[2022-10-20 09:41] Julesssss commented on #11493
Thanks @techievivek, yep I'd say we should just close this. We decided to continue showing notifications on all platforms for the moment.

[2022-10-20 09:43] Julesssss commented on #11930
Awaiting proposals

[2022-10-20 09:44] #11840 closed

[2022-10-20 09:52] smrutiparida commented on #11561
**** Proposal

1. First, I moved the of the URLs based on security and environment value lib/Environment files

<img width="893" alt="Screen Shot 2022-10-20 at 15 07 30" src="https://user-images.githubusercontent.com/5945400/196915350-94d0b3ed-4713-4db4-98b9-ed842b36a457.png">

2. Second, basic implementation of returning the URLs based on environment value
<img width="813" alt="Screen Shot 2022-1

[2022-10-20 09:58] Beamanator commented on #11889
I was able to reproduce, it looks like to answer your question:
- Bank = Fidelity, Checking
- How far = Personal Information

[2022-10-20 10:04] Beamanator commented on #10376
Oh yeah, emojis seem to be working totally fine now 😅

[2022-10-20 10:08] Beamanator commented on #10232
Aah nice thanks for the link @luacmartins 👍

[2022-10-20 10:11] Beamanator commented on #11063
@MitchExpensify I reproduced with the image provided in the OP:

![Transparent](https://user-images.githubusercontent.com/3885503/196921487-45bf3d63-7e42-4f4c-83d1-e8b40e519bf6.png)

I reproduced in web, production

[2022-10-20 10:12] Beamanator commented on #11063
Assigning myself too & making `Weekly` since this is on hold for the image enhancements

[2022-10-20 10:17] Julesssss commented on #12018
Oh, thanks for linking! While I agree with most of that discussion we've recently decided to try fixing each and every bug we encounter. For that reason, I think we should reopen this and see what sort of proposals we receive.

If the solution is very convoluted, then maybe it would be preferable to just default to the end, given that mobile and some web browsers do this by default.

[2022-10-20 10:30] sketchydroide commented on #11633
It seems this is already happening in Prod removing blocker

[2022-10-20 10:31] sketchydroide commented on #11633
Is this a regression @johnmlee101? I set it as daily, as it's not a blocker

[2022-10-20 10:32] sketchydroide commented on #11979
checking #11633, it's already in prod so not a blocker.

[2022-10-20 10:39] sketchydroide commented on #11983
Can't reproduce this anywhere. Not with this account. Asking to see if anyone else can.

[2022-10-20 10:44] Julesssss commented on #11983
Unable to reproduce on Android `1.2.18-2`. We should keep it open, but can probably remove the blocker

[2022-10-20 10:45] sketchydroide commented on #11983
No one was able to reproduce, it might have been a connection issue, removing blocker, but lieaving it open to see if it happens again

[2022-10-20 10:47] sketchydroide commented on #11979
checking https://github.com/Expensify/App/issues/11983, hard to reproduce, maybe connection issue. not a blocker

[2022-10-20 10:48] Justicea83 commented on #11983
I was able to reproduce this when I connected the android emulator to staging, I realized that after selecting a pronoun and setting checking the use default timezone checkbox, everything was working fine. This bug is related to a PR that worked on profile details. I'll investigate more

PS: I hadn't pulled the latest version of main, so I guess this bug has been here for sometime.

https://user-i

[2022-10-20 10:48] sketchydroide commented on #11995
This seems like a blocker, was able to reproduce, will ask in #deployer for help, will take a look as well

[2022-10-20 10:51] Justicea83 commented on #11983
Trying to reproduce on prod now

[2022-10-20 10:53] sketchydroide commented on #11979
checking https://github.com/Expensify/App/issues/12000, was reproduced in Prod by @ctkochan22.
@mvtglobally how is this blocking https://github.com/Expensify/App/pull/11699? Let me know if that is still a problem

[2022-10-20 10:58] sketchydroide commented on #12009
I was able to reproduce, then restarted the app, and now I'm not, this was like seconds appart.
Not sure how we can try to fix this. and I'm not sure if this is a blocker.

[2022-10-20 11:05] sketchydroide commented on #11979
@thienlnam removed the blocker for https://github.com/Expensify/App/issues/12012 so checking that one as well

[2022-10-20 11:06] Justicea83 commented on #11983
I couldn't reproduce this on my account after using the same profile settings as `applausetester+0901abb@applause.expensifail.com`

[2022-10-20 11:18] parasharrajat commented on #11561
All config should be in `Config.js` file. The environment will only give us env info.

[2022-10-20 11:23] parasharrajat commented on #4733
Waiting for proposals for some days

[2022-10-20 11:28] parasharrajat commented on #8311
Will be back on it on Friday/Saturday.

[2022-10-20 11:30] parasharrajat commented on #11844
The video does not show the native iOS app. It is still RN. I meant to say to try it on Native iOS app.

[2022-10-20 11:31] parasharrajat commented on #9181
No opinion on this.

[2022-10-20 11:33] Justicea83 commented on #11983
I was able to reproduce this ONLY on `applausetester+0901abb@applause.expensifail.com`

[2022-10-20 11:37] flodnv commented on #10523
No update, this week I've been swamped by other daily priorities.

[2022-10-20 11:40] Justicea83 commented on #11995
Taking a look as well

[2022-10-20 11:42] miljakljajic commented on #12023
I'm not sure how this was assigned (I'm OOO 0%) - I'll look into that when I'm back, but re-assigning for now

[2022-10-20 12:20] flaviadefaria commented on #10699
I wasn't able to reproduce this so adding the `needs reproduction` label.

![image](https://user-images.githubusercontent.com/80457174/196946585-d94b03de-4e5b-4006-b671-88f7d8538e97.png)

[2022-10-20 12:21] parasharrajat commented on #10262
Update on Friday/Saturday.

[2022-10-20 12:22] Puneet-here commented on #10620
bump @zanyrenney

[2022-10-20 12:25] NicMendonca commented on #8236
I doubled the price: https://www.upwork.com/jobs/~01431147666a4d1359

But @Luke9389 @Santhosh-Sellavel let me know if we should close this (based off the `not a priority` label)

[2022-10-20 12:27] Justicea83 commented on #11995
I think this may be due to the PHP 8.1 upgrade. I saw some CP'ed fixes from @iwiznia [here](https://github.com/Expensify/Web-Expensify/pull/35171/files).

[2022-10-20 12:28] Justicea83 commented on #11995
Can someone test the staging build with the current production API, to see if this issue is reproducible?

[2022-10-20 12:36] NicMendonca commented on #10414
doubled price: https://www.upwork.com/jobs/~01f21a08ef50dd0283

[2022-10-20 12:37] Justicea83 commented on #11995
This might be related

https://user-images.githubusercontent.com/26106822/196950499-918249cd-af0c-4954-86ac-4761c48c03b4.mp4

[2022-10-20 12:40] Justicea83 commented on #11983
After further investigations, I realized this maybe as a result of the PHP 8.1 Upgrade, testing again with the prod api

[2022-10-20 12:41] JmillsExpensify commented on #11449
@mallenexpensify Shouldn't we issue payment and close this one out?

[2022-10-20 12:57] laurenreidexpensify commented on #12024
Agree thanks @thesahindia 👍

[2022-10-20 12:57] #12024 closed

[2022-10-20 13:02] kbecciv commented on #12018
@Julesssss Video is attached, sorry for missing it.

[2022-10-20 13:09] parasharrajat commented on #11283
@tsa321 Does not look the UI we want?
![image](https://user-images.githubusercontent.com/24370807/196957214-d0000cca-894c-4811-b041-b0d652de335a.png)

@varshamb your proposal disabled the focus blue border on tab-navigation.