[2022-11-09 14:33] Gonals commented on #10525
Great, I'll grab it, then!

[2022-11-09 14:34] kbecciv opened #12592 "[$250] Android narrow/low pixel tablets - Chat - The FAB button disappears or is covered by the keyboard in horizontal"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12345

## Action Performed:
1. Open the App
2. Login with any account
3. Go to

[2022-11-09 14:35] dangrous commented on #11800
The PR has been merged into prod (not sure why we didn't get the notification here. But the 7 day clock can start, and looks like from that ^ we're off to a good start.

[2022-11-09 14:40] thesahindia commented on #12045
I will look into it in a few hours.

[2022-11-09 14:43] sketchydroide commented on #9973
not sure why it would add you @luacmartins since I can already handle the External?

[2022-11-09 14:45] kbecciv opened #12594 "[HOLD for payment 2023-02-08] Chat - Concierge chat links opening in OldDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12376

## Action Performed:
1. Create a brand new account
2. Create a workspac

[2022-11-09 14:50] JmillsExpensify commented on #8364
I agree with this. Great point.

[2022-11-09 14:50] dylanexpensify commented on #11800
@thesahindia @mollfpr can you both please apply to the above upwork job? 🙇

[2022-11-09 14:54] sketchydroide commented on #8364
In all honesty I think the button should no be visible is there are no changes to save, if there is no action the user can take, then there should be no action visible. So the rule of no button never being disabled would work.
As it is, and the button looking active it breaks Apple rules (not much and I don't think they will say anything, but we never know).
I think if we are making changes to thi

[2022-11-09 14:58] Someone-here commented on #12018
Is it essential to remove setTimeOut from the solution?

[2022-11-09 14:59] kbecciv opened #12595 "Connect Bank Account - Page directed to the Workspace Setting after use "Back" button under Test Transactions Page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Create Workspace if you don't have one
4. Go to Settings- WS - C

[2022-11-09 15:18] lschurr commented on #12298
Price doubled - https://www.upwork.com/jobs/~01cdae73aeb040edd9

[2022-11-09 15:21] lschurr commented on #11844
Price doubled to $1000 - https://www.upwork.com/jobs/~01ed68566e162a7e9b

[2022-11-09 15:32] mollfpr commented on #11800
@dylanexpensify Applied, thank you!

[2022-11-09 15:32] Tushu17 commented on #10364
@sakluger Bump.

[2022-11-09 15:34] MariaHCD commented on #11850
WIP PR here: https://github.com/Expensify/App/pull/12596

[2022-11-09 15:37] hungvu193 commented on #12595
<b>Proposal</b>
In our current code we are go back when press back in ValiationStep:
https://github.com/Expensify/App/blob/17f7a0ac9dbfd43ff60c0f681e77ef3fffbe3df2/src/pages/ReimbursementAccount/ValidationStep.js#L126
<b>Solution</b>
Instead of `goBack`,  we move the user to the previous page, to do that we need to update the `onBackButtonPress` function in `ValidationStep.js`.
[code]

[2022-11-09 15:43] miljakljajic commented on #12046
Thanks Matt, I'll handle in the meanwhile. @sobitneupane, looking forward to your review of @tienifr 's proposal when you're ready.

[2022-11-09 15:53] tgolen commented on #10273
Yeah, it looks like it should be linked to this issue. I'll add it

[2022-11-09 15:56] tgolen commented on #12557
I think this is a duplicate of https://github.com/Expensify/App/issues/10609 which was closed because it was no longer reproducable. I think if we can consistently reproduce this in some fashion, then we should reopen the original issue.

[2022-11-09 16:02] WestDon commented on #12554
**Proposal**

Instead of a blur that breaks copy, we can just add, or remove the style. Method onKeyUp needs to restore default Tab focus highlight behaviour.

[code]

[2022-11-09 16:06] mountiny commented on #11561
Seems fair to me, can we update the price to 500 or handle this by the extra bonus? @MitchExpensify

[2022-11-09 16:11] kavimuru opened #12597 "Chat - System redirected you to LHN, NOT to the chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #12169
## Action Performed:
1. Open two sessions one as User A and one as User B
2. Make sure User B is navigate to the chat

[2022-11-09 16:13] thesahindia commented on #11800
Done!

[2022-11-09 16:14] kavimuru opened #12598 "[$1000] No new marker if tab opened via link to the specific chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #12169
## Action Performed:
1. Open two sessions one as User A and one as User B
2. Make sure User B is navigate to the

[2022-11-09 16:15] lschurr commented on #7467
I wasn't able to reproduce this. Opening a chat with someone I haven't chatted with before worked fine. Adding eng for another set of eyes.

[2022-11-09 16:16] kbecciv opened #12599 "iOS - Chat - Text in compose box is not centered"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Open any conversation
4. Write something

## Expected Result:
Text in compose box

[2022-11-09 16:18] kavimuru opened #12600 "Display Name - The name updates on the second device only after refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #12142

## Action Performed:
1. Navigate to http://localhost:8080/settings/profile/display-name
in two devices (or a normal

[2022-11-09 16:21] parasharrajat commented on #4733
@lbaldy This is not working completely fine.
![Screenshot 2022-11-09 21:50:04](https://user-images.githubusercontent.com/24370807/200883868-3a34f4c7-8131-4407-94da-9f31bbd5b5b7.png)

As you can see that when we mix the text with the inline code block, it is not placed correctly.
Also for the only inline code block, the wrapping is reaching the edge but it should be inside the message container.

[2022-11-09 16:23] iwiznia commented on #11415
Still waiting for proposals

[2022-11-09 16:23] joelbettner commented on #12512
Yes, I believe this can be worked on by an external contributor.

[2022-11-09 16:24] AndrewGable commented on #11711
Ok @hannojg we have a working PR! https://github.com/Expensify/App/pull/12320#issuecomment-1309004239

However, I am seeing some "false positives" reported. Do you have any ideas on how to solve? I am running on basically the same branch to compare against each other.

[2022-11-09 16:25] AndrewGable commented on #11711
Should we be throwing out any outliers? (I need to look at the code and see if it's already doing that) This specific one looks like it had a test take 5x too long and throw things off.

<img width="765" alt="Screenshot 2022-11-09 at 9 24 33 AM" src="https://user-images.githubusercontent.com/2838819/200885068-0d7b372b-f9d0-4720-921e-235446cad75d.png">

[2022-11-09 16:25] kzhein commented on #12210
Thanks! I have sent a [pull request](https://github.com/Expensify/App/pull/12601) and applied the job in Upwork.

[2022-11-09 16:36] puneetlath commented on #11352
@thesahindia could you help with identifying the PR where the bug was introduced?

[2022-11-09 16:41] Someone-here commented on #12018
Ok, I removed setTimeOut, and even removed the manual selection. Turns out that if we change the state for the password right in the onMouse down rather than onPress, that solves the problem on web.

![check](https://user-images.githubusercontent.com/77237602/200887955-8f3a8594-7518-4b98-9a0a-4c78532adb45.png)

https://user-images.githubusercontent.com/77237602/200888208-2e8bc1ed-d701-4b99-bc45-aa

[2022-11-09 16:45] michaelhaxhiu commented on #11415
Just a note - I plan to drive some discussion today concerning 💥 GHs, so we can actually solidify a viable process for moving these forward.

[2022-11-09 16:47] Julesssss commented on #11632
Bumping for payment (to remove the outdated label)

[2022-11-09 16:47] JmillsExpensify commented on #12283
Nice, yeah agreed. I think one is also a duplicate as well though. Let me try to find this issue, this is related to changes to the attachment flow, where everything is running through Web-PDFs.

[2022-11-09 16:47] mvtglobally commented on #12563
Regression is completed. I am sending summary in a few

[2022-11-09 16:50] JmillsExpensify commented on #12512
cc @youssef-lr I am kind of thinking that we need to have someone holistically approach all these attachment uploads cases. What do you think about us creating one central issue for all the remaining bugs and improvements we need to make? I'm happy to get it started.

[2022-11-09 16:50] neil-marcellini commented on #11895
I'm going to remove help wanted since it's an internal demolition issue. I found this while looking for WAQ bugs to work on.

[2022-11-09 16:55] JmillsExpensify commented on #10907
I think this issue is a potentially a dupe still. More discussion happening in #12283.

[2022-11-09 16:56] JmillsExpensify commented on #10907
That said, I'm not clear why the hold is related to the imagine improvements tracking issue. Can someone help clarify how we landed there? I'm not following in the scrollback.

[2022-11-09 16:57] JmillsExpensify commented on #11189
Still working through bugs related to this new feature.

[2022-11-09 17:00] parasharrajat commented on #10262
What is IME?

Good catch about the secure context. I completely missed that.  In short, I would say that `navigator.clipboard.write` does not serve our purpose. Due to sync pasting being deprecated, we are using it.

I don't like the second option, it is confusing.

But I am curious why `navigator.clipboard.write` breaks the formatting. Do you any details on this?

[2022-11-09 17:04] kevinksullivan commented on #12580
Asking whether this is already being handled in another GH [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668013421324619?thread_ts=1667940506.846659&cid=C01GTK53T8Q).

[2022-11-09 17:08] AndrewGable commented on #11711
Next steps:
- [ ] Figure out how to prevent false positives
- [ ] Increase speed of test
     - First APK takes ~17 minutes to build
     - Second APK takes ~7 minutes to build
     - Tests take ~15 minutes, only ~3 minutes of that time is the actual test running. I asked AWS for our options here.

[2022-11-09 17:11] marcaaron commented on #11726
I think it would be fine to add a test cases for the steps in the PR. There are four test cases and I'm not sure if any of them are covered by the existing test case.

[2022-11-09 17:12] neil-marcellini commented on #12143
The web fix was deployed to production and QA confirmed it's not reproducible so I'm closing this.

[2022-11-09 17:12] JmillsExpensify commented on #11726
Ok cool, I'll take this part then. Anything else if the checklist you think we should fill out from a CME perspective? I think the testing scripts was all that applied?

[2022-11-09 17:13] MariaHCD commented on #11850
@joekaufmanexpensify @JmillsExpensify Could you confirm/improve the copy:

<img width="1105" alt="Screen Shot 2022-11-09 at 9 11 56 PM" src="https://user-images.githubusercontent.com/12268372/200895909-1a9a494e-f31d-498c-ad11-ee4b8d00f819.png">

[2022-11-09 17:13] miljakljajic commented on #12237
Thank you, @TwizzyIndy. I've gone ahead and hirred you for this job in Upwork. Looking forward to seeing the PR.

[2022-11-09 17:14] neil-marcellini commented on #10283
@johncschuster let's close this out, lmk if you have questions about the checklist https://github.com/Expensify/App/issues/10283#issuecomment-1300947871.

[2022-11-09 17:14] kevinksullivan commented on #12428
@0xmiroslav I see what you're saying now. I misread your reproduction steps in [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1667406681481269), as if they implied you should be able to access the page in (5) before logging in.

Thanks for explaining further, that's all I was asking for. FYI everyone on our team knows what a deeplink is 😉 .

[2022-11-09 17:16] kevinksullivan commented on #12428
https://www.upwork.com/jobs/~0157c3b18be3398b9d

[2022-11-09 17:17] neil-marcellini commented on #12000
@ctkochan22 may I work on this one?

[2022-11-09 17:18] kevinksullivan commented on #12580
Duplicate as discussed in slack ^

[2022-11-09 17:18] #12580 closed

[2022-11-09 17:19] kevinksullivan commented on #12580
Being discussed in https://github.com/Expensify/App/issues/12283#issuecomment-1308495045, for reference.

[2022-11-09 17:22] ctkochan22 commented on #12000
Ugh yes. I want it but you should if you have the bandwidth.

As I mentioned, I believe the report name is being updated with the oudated name when we send the follow up guide message: "Chat with your specialist..."

[2022-11-09 17:24] kevinksullivan commented on #12122
All set! Thanks everyone.

[2022-11-09 17:24] #12122 closed

[2022-11-09 17:26] lbaldy commented on #4733
@parasharrajat thanks for your review. I'll investigate and come back to you once I get a fix for these issues.

[2022-11-09 17:26] neil-marcellini commented on #12143
@0xmiroslav I will re-assign @NicMendonca to handle the compensation if it's available.

[2022-11-09 17:27] neil-marcellini commented on #12000
Thanks! I'll see if I can still reproduce the issue now that the changes in [this PR](https://github.com/Expensify/Web-Expensify/pull/35388) to push the updated workspace name are on production. I'll let you know if I have any questions.

[2022-11-09 17:29] kevinksullivan commented on #9250
It wasn't on hold, we were [waiting on review](https://github.com/Expensify/App/issues/9250#issuecomment-1270491967) originally, so it didn't seem like we should continue doubling if the existing proposal would solve the problem CC @parasharrajat

[2022-11-09 17:30] ctkochan22 commented on #12000
Cool I had some issues getting guides to work to successfully get that message sent in my local dev. But you should be able to just test if you can reproduce on prod/staging

[2022-11-09 17:33] JmillsExpensify commented on #12000
This should have a BZ member on it. I just re-applied the label to get assignment.

[2022-11-09 17:39] fedirjh commented on #10202
@Santhosh-Sellavel if it's the case then this due to `composerSizeButton` marginBottom which make the composer height = 76px (for 3 lines input) ,on iOS the input height equals to numberOfLines x lineHeight (3x20px) + 10px padding (top+bottom) totaling 70px and as the input `alignSelf: 'center' ` it will add 3px padding to top and bottom to match the current height (76px)

#### Fix
remove the padd

[2022-11-09 17:42] henriquefalconer commented on #12554
### Proposal

The `Pressable` component inside [src/components/PressableWithSecondaryInteraction/index.js](https://github.com/Expensify/App/blob/f654cc13794aa749a29b6561bad94d80a9580fd4/src/components/PressableWithSecondaryInteraction/index.js), when processed by `react-native-web`, is rendered as a `div` with the default HTML attribute `tabindex="0"`.
[code]

The `tabindex` attribute makes the `d

[2022-11-09 17:52] aldo-expensify commented on #11487
Friendly bump @Puneet-here , when do you think we can have a PR?

[2022-11-09 17:54] parasharrajat commented on #12554
Both are interesting solutions. Resetting the style is a good idea but very hacky.

@henriquefalconer Correct, we are migrating to the fabric so we can't use `setNativeProps`. I also think we should not deep into workarounds for this issue. If you think that we should add a new feature to RN-web. I would say your propose that on the RN-web and let's see what the maintainer has to say.

I will pref

[2022-11-09 17:58] parasharrajat commented on #7853
Because of this issue's PR, we are facing a new issue https://github.com/Expensify/App/issues/12554.

Is it really important to fix this blue border behavior? I checked with chrome and Chrome by default does that. There are complex solutions to fix the new bug but I still think the solution in [PR](https://github.com/Expensify/App/pull/8443) is very unstable. It can have unknown side-effects.

My

[2022-11-09 18:02] parasharrajat commented on #9250
Really confusing but I agree there is a proposal that needs review. I will pick this up tomorrow.

[2022-11-09 18:05] Puneet-here commented on #11487
Really sorry I missed the notification. I will raise the PR today.

[2022-11-09 18:08] s77rt commented on #12046
### Proposal
I think the best way to fix this is by fixing Concierge messages to adapt with the new expensify
But if you insist to support the old messages given they have only one format which is having the report id in the GET parameter `reportID` (no matter the url, to support other cases than newdotreport), here is my proposal
[code]

#### Platform
I think this issue effects all platforms

htt

[2022-11-09 18:09] mvtglobally commented on #12563
@yuwenmemon

PR #11720 is failing https://github.com/Expensify/App/issues/12573. Repro in prod checking off
PR #12142 is failing https://github.com/Expensify/App/issues/12600
PR #12153 #12490 PROD QA. Ok to check off?
PR #12169 is failing https://github.com/Expensify/App/issues/12598 & https://github.com/Expensify/App/issues/12597
PR #12345 is failing due to https://github.com/Expensify/App/issues

[2022-11-09 18:12] joekaufmanexpensify commented on #12487
PR still on staging. 7 day payment pending period will begin as soon as it's on prod.

[2022-11-09 18:13] shawnborton commented on #12443
@Luke9389 thinking more on this, I think we can probably follow up with a separate PR for New Kansas. Thoughts on that?

[2022-11-09 18:13] aldo-expensify commented on #11487
Thanks!

[2022-11-09 18:25] thesahindia commented on #11555
I believe it was fixed since I wasn't able to repro this a week ago but I am seeing this issue again. It's too minor now.

https://user-images.githubusercontent.com/83179295/200911113-b234b2b1-9725-4242-bc1a-c265e855f9db.mov

[2022-11-09 18:26] roryabraham opened #12603 "[HOLD for payment 2024-03-29] [HOLD for payment 2024-03-26] [$250] [Feature] RNW Image: Add support for http properties in source"
## Problem:

Adding headers to images works in React native, but when this gets converted to Web & Desktop code (via `react-native-web`) it doesn't work - see https://github.com/necolas/react-native-web/issues/1019

## Solution:

Fix this, since we're planning to start sending `encryptedAuthToken` in chat report image requests via header!

cc @kidroca since you've accepted the challenge to take th

[2022-11-09 18:28] roryabraham commented on #11877
This is not a bug, going to remove you and the bug label

[2022-11-09 18:33] mvtglobally commented on #12563
just 2 outstanding items  - to summarize
PR https://github.com/Expensify/App/pull/12153 https://github.com/Expensify/App/pull/12490 PROD QA. Ok to check off? PR https://github.com/Expensify/App/pull/12374 is failing due to https://github.com/Expensify/App/issues/12590. It's Not repro in prod, but because this is new due to PR we didn't add deploy blocker label

[2022-11-09 18:38] MitchExpensify commented on #11561
Updated the price as I'm less likely to forget that way :D

[2022-11-09 18:44] hannojg commented on #11711
Outliers are already removed, yes. I think it will be most worth investigating why those long times are happening. Maybe it's waiting for an API call something. Will investigate as well ✌️

[2022-11-09 18:48] AndrewGable commented on #11711
I see that we are using a fixed number of outliers (8 total, 4 on each side), I am going to try looking at an alternative filter via IDR, e.g. https://stackoverflow.com/a/45804710/1858217

Agree we probably should understand why the outlier exists too.

[2022-11-09 18:51] yuwenmemon commented on #12563
Yeah, good to check off 👍

[2022-11-09 18:55] yuwenmemon commented on #12590
I already fixed this with https://github.com/Expensify/Web-Expensify/pull/35507- closing!

[2022-11-09 18:55] #12590 closed

[2022-11-09 18:55] yuwenmemon commented on #12563
@mvtglobally I just CP'd a fix for this about an hour ago - can we retest and check off if it's passing?

[2022-11-09 18:58] michaelhaxhiu commented on #7916
Noticed that PR was closed yesterday. This seems to be taking quite a while to complete. Is that mainly because this is harder, or what's slowing it down?

Commented on the PR too asking for a rough ETA of completion @mdneyazahmad 🙏

[2022-11-09 19:00] kbecciv opened #12605 "[Hold #219254] iOS - Push notification leads to blank screen if the app not running at the background"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Kill the App (dismiss App's card)
2. Sent message to the user
3. Tap on the notification

## Expected Result:
The user should

[2022-11-09 19:08] michaelhaxhiu commented on #9391
Thanks for bump @arielgreen - working on it!

[2022-11-09 19:10] joekaufmanexpensify commented on #2727
Just assigned this issue, and it seems like all that needs to be done here is pay @parasharrajat as soon as they accept the job.

[2022-11-09 19:11] joekaufmanexpensify commented on #11916
Same.

[2022-11-09 19:28] michaelhaxhiu commented on #9823
I am requesting a buddy check in #expensify-open-source **[here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668021625388299?thread_ts=1667941166.176039&cid=C01GTK53T8Q)**. @parasharrajat you may be able to unblock my question 🤓

[2022-11-09 19:28] kbecciv commented on #11961
This is IOS app issue only.
Phone model: IPhone 8/14.2

[2022-11-09 19:34] Luke9389 commented on #12443
I think that'd be fine!   The Help Site should probably hold til all 3 are done since its external. Do you agree?

[2022-11-09 19:35] thesahindia commented on #11951
It's really strange, I was able to repro this in the morning (on android and ios both) but I can't repro it anymore.
@kbecciv, can you test this again?

[2022-11-09 19:37] neil-marcellini commented on #12511
I agree, it looks good. We will also need to update the package.json once the expensify-common PR is merged.
https://github.com/Expensify/App/blob/077304b160fd84f8e4fb61d215420e156639eba5/package.json#L70

[2022-11-09 19:37] NikkiWines commented on #12435
Yep, sounds good. Agreed we want to fix console errors. @NicMendonca can you hire @0xmiroslav for this role, please? Thanks!

[2022-11-09 19:40] shawnborton commented on #12443
I think it would be fine if the help site uses Expensify Neue for headlines for the time being.

[2022-11-09 19:43] kidroca commented on #11817
`Waiting for Copy`

Hey guys can you review the sample screenshots and video in the PR and if you like it please provide the actual texts you'd like to appear in these dialogs
- https://github.com/Expensify/App/pull/12607 (see Desktop screenshots and attachments)

[2022-11-09 19:45] NikkiWines commented on #12433
Unassigning myself since looks like @youssef-lr has a fix for this 👋

[2022-11-09 19:46] abekkala commented on #11822
@eVoloshchak @dangrous  can I get a quick update here?

[2022-11-09 19:48] shawnborton commented on #12256
Yup agree, that was just an oversight on my part regarding the timezone.

[2022-11-09 20:01] shawnborton commented on #12441
iOS Images: [iOS Images.zip](https://github.com/Expensify/App/files/9974713/iOS.Images.zip)

[2022-11-09 20:01] JmillsExpensify commented on #12423
Closing this out per the discussion [in Slack](https://expensify.slack.com/archives/C01SKUP7QR0/p1668016773579309).

[2022-11-09 20:01] #12423 closed

[2022-11-09 20:02] JmillsExpensify commented on #12317
Closing this out per the discussion [in Slack](https://expensify.slack.com/archives/C01SKUP7QR0/p1668016773579309).

[2022-11-09 20:02] JmillsExpensify commented on #11658
Closing this out per the discussion [in Slack](https://expensify.slack.com/archives/C01SKUP7QR0/p1668016773579309).

[2022-11-09 20:02] #11658 closed

[2022-11-09 20:04] JmillsExpensify commented on #11529
Heads up, we're not supposed to increase crashes past $500, though given the amount of crashes, I'm personally fine that ya'll keep raising until we get a fix in.

[2022-11-09 20:05] JmillsExpensify commented on #11495
Closing this out per the discussion [in Slack](https://expensify.slack.com/archives/C01SKUP7QR0/p1668016773579309).

[2022-11-09 20:05] #11495 closed

[2022-11-09 20:05] JmillsExpensify commented on #11415
Closing this out per the discussion [in Slack](https://expensify.slack.com/archives/C01SKUP7QR0/p1668016773579309).

[2022-11-09 20:05] #11415 closed

[2022-11-09 20:07] JmillsExpensify commented on #10875
Closing this out per the discussion [in Slack](https://expensify.slack.com/archives/C01SKUP7QR0/p1668016773579309).

[2022-11-09 20:07] #10875 closed

[2022-11-09 20:07] neil-marcellini commented on #12000
Yep, I'm still able to reproduce this issue. You don't need to use a brand new account, but it must have 0 workspaces. Next I will reproduce the issue on dev and figure out exactly why the concierge message is sending an outdated room name.

@ctkochan22 for reference here's an SO on [how to set up 121 assigned guides on dev](https://stackoverflow.com/c/expensify/questions/14339).

https://user-ima

[2022-11-09 20:13] trjExpensify opened #12609 ""Crash" issues - clean-up and next steps"
Coming from [this discussion](https://expensify.slack.com/archives/C01SKUP7QR0/p1668016773579309).

- [ ] Only open a "crash" issue after it happens more than `10` times
- [ ] For existing crashes logged, update the reopen logic to see if the crash count is less than 10 before reopening
- [ ] Remove the $500 price cap on crash issues
- [ ] Implement source maps to aid with investigating these issu

[2022-11-09 20:16] Puneet-here commented on #11487
I have raised the PR.

[2022-11-09 20:17] strepanier03 commented on #11321
Latest on this in Slack [HERE](https://expensify.slack.com/archives/C01GTK53T8Q/p1667868583336109)

<img width="410" alt="2022-11-09_12-15-35" src="https://user-images.githubusercontent.com/10925636/200932797-b2430c8e-e0fa-4603-a635-92693c676b2a.png">

[2022-11-09 20:18] abekkala commented on #11895
oh yeah, thanks for noticing that @neil-marcellini !

[2022-11-09 20:21] AndrewGable commented on #11711
Both https://github.com/Expensify/App/pull/12320#issuecomment-1309250069 and https://github.com/Expensify/App/pull/12320#issuecomment-1309327702 are using the new IQR method and the results look to have less outliers. Thoughts @hannojg ?

[2022-11-09 20:21] JmillsExpensify commented on #11463
Removing Lauren since we're consolidating keyboard issues under one BZ. cc @tgolen

[2022-11-09 20:27] arielgreen commented on #12431
https://www.upwork.com/jobs/~01b26e7b27740b8448

[2022-11-09 20:36] mvtglobally commented on #12563
@yuwenmemon issue is resolved on all but iOS. Not sure if iOS needs a build push to resolve the cache. ![Uploading 200936071...]

[2022-11-09 20:49] yuwenmemon commented on #12563
@mvtglobally Just tested on my own on staging iOS and it's looking like it passed so checking it off!

[2022-11-09 20:49] yuwenmemon commented on #12563
:shipit:

[2022-11-09 20:49] #12563 closed

[2022-11-09 20:52] pecanoro commented on #11817
@danielrvidal Can you check @kidroca PR and review the copy in the screenshots to make sure it's fine and we don't need to change it?

[2022-11-09 20:52] OSBotify opened #12615 "Deploy Checklist: New Expensify 2022-11-09"
**Release Version:** `1.2.26-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/12463
- [x] https://github.com/Expensify/App/pull/12479
- [x] https://github.com/Expensify/App/pull/12484
- [x] https://github.com/Expensify/App/pull/12489
- [x] https://gi

[2022-11-09 20:58] slafortune commented on #11414
Checking [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1668008095764599)

[2022-11-09 20:59] kavimuru opened #12616 "[$250] Workspace - `That page is nowhere to be found` error message appears for a brief moment reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to settings > Workspaces
2. Select a workspace
3. Copy the URL
4. Sign out > paste the URL and press enter
5. Now lo

[2022-11-09 21:00] thesahindia commented on #11352
I think https://github.com/Expensify/App/pull/9800

[2022-11-09 21:07] NicMendonca commented on #9818
bump @Santhosh-Sellavel on this proposal ☝️

[2022-11-09 21:07] bfitzexpensify commented on #12543
Upwork job [here](https://www.upwork.com/jobs/~01dbec84cadc944831)

[2022-11-09 21:07] AndrewGable commented on #11711
1. Still discussing with AWS contact about how to speed device farm up
2. Still waiting on internal configuration of larger computer to speed up APK build time

I'll circle back here when we have any new details.

[2022-11-09 21:09] JmillsExpensify commented on #12578
Assigning myself as part of the broader emoji initiative.

[2022-11-09 21:11] JmillsExpensify commented on #10905
@jliexpensify Just wanted to circle back and make sure you've gone through the linked BZ checklist?

[2022-11-09 21:14] JmillsExpensify commented on #10729
Nice work getting this merged! I'll circle back in the coming days when the regression period has ended.

[2022-11-09 21:15] puneetlath commented on #12004
@MariaHCD would you be able to help me out with figuring out which PR caused the bug?

[2022-11-09 21:16] puneetlath commented on #12428
For when it comes time to do the RCA checklist, @aimane-chnaif brought up that this was likely caused by [this PR](https://github.com/Expensify/App/pull/12089).

[2022-11-09 21:19] AndreasBBS commented on #12325
I just discovered a strange behavior in the Android app that I'm trying to understand if it was causes by my changes. It's why it's taking me a while to make the PR. I want to make sure I don't create another problem trying to solve. Thanks for your patience.

[2022-11-09 21:23] eVoloshchak commented on #12018
In my personal experience, it will be much faster to install linux as a second system, windows is _**tricky**_

[2022-11-09 21:29] JmillsExpensify commented on #12609
Should we throw a `Bug` label on this, on someone assign themself? I'm thinking yes since some of those todos are BZ tasks.

[2022-11-09 21:30] melvin-bot[bot] opened #12617 "[$250] Investigate: 💥 Crash 💥 `anonymous`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: JavaScriptError
### Failed to call into JavaScript module method AppRegistry.runApplication(). Module has not been registered as callable. Registered callable JavaScript modules (n = 11): Systrace, JSTimers, HeapCapture, SamplingProfiler, RCTLog, RCTDeviceEventEmitter, RCTNativeAppEve

[2022-11-09 21:36] roryabraham commented on #12235
Assuming no update here, which is fine. I think @kidroca has a few other higher priority issues

[2022-11-09 21:41] alexandermendes commented on #12431
# Proposal

The issue is that the `Button` below uses the `pressOnEnter` prop, which calls the `onPress` callback when the enter key is pressed. The reason it doesn't fire the first time is because the button is disabled until an amount has been entered.

https://github.com/Expensify/App/blob/ed864876a097a9cfd382330ac99d3c2b1b88dae1/src/pages/iou/steps/IOUAmountPage.js#L282-L289

The issue can als

[2022-11-09 21:42] trjExpensify commented on #12609
I don't think it's a `bug` really, it's a process improvement.

I'll assign myself anyway and take on this one:

[2022-11-09 21:45] roryabraham commented on #11817
For a bit more context @danielrvidal, right now if an update is available we'll show a modal with:

- title: "Update app"
- content: "A new version of this app is available.
Update now or restart the app at a later time to download the latest changes."
- submit button: "Update app"
- cancel button: "Cancel"

What we need now is to decide what to show the user if we check for an update and one is n

[2022-11-09 21:46] puneetlath commented on #9137
Yep, this is an internal issue I'm working on. The problem is that when we add someone to a policy, they also get shared on certain reports (i.e. the #announce channel). The problem is that when they are shared on the report, we don't push an update to the clients with the updated participants list for that report. So I'm going to update the API to push that to the clients. Should have a PR up by

[2022-11-09 21:47] LLPeckham commented on #12255
Just about done! Chatting last tweaks [here.](https://expensify.slack.com/archives/C03SSAQG5/p1668030348211029?thread_ts=1667858930.911229&cid=C03SSAQG5)

[2022-11-09 21:49] yrshva commented on #12428
it gets on Navigation.dismissModal() in withReportOrNavigateHome, which does navigateBackToRootDrawer and doesn't enter any ifs

[2022-11-09 21:51] roryabraham commented on #9725
No update

[2022-11-09 22:05] OSBotify commented on #12615
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.26-0 :rocket:

[2022-11-09 22:08] shawnborton commented on #7853
I would be fine with your suggestion @parasharrajat

[2022-11-09 22:12] michaelhaxhiu commented on #10263
@MonilBhavsar We could use some input from you on this question to move forward in assessing the existing proposals. If you are stuck or want buddy checks - I think #expensify-open-source is the best place.

[2022-11-09 22:15] NicMendonca commented on #9818
I am about to go OOO for a week, so re-assigning.

[2022-11-09 22:16] NicMendonca commented on #10414
I am about to go OOO for a week, so re-assigning.

[2022-11-09 22:17] NicMendonca commented on #11730
I am about to go OOO for a week, so re-assigning.

[2022-11-09 22:17] NicMendonca commented on #12143
I am about to go OOO for a week, so re-assigning.

[2022-11-09 22:20] NicMendonca commented on #12435
@0xmiroslav please apply for the job [here ](https://www.upwork.com/jobs/~01449e67e1aa0a0f9d)

[2022-11-09 22:20] NicMendonca commented on #12523
I am about to go OOO for a week, so re-assigning.

[2022-11-09 22:21] neil-marcellini commented on #12000
I'm having trouble reproducing this issue on dev. I looked at the console logs on staging and I found that NewDot is receiving a Pusher event with the outdated report name after it receives the event with the updated report name.
I believe that this problematic push event is coming from Policy.create [here](https://github.com/Expensify/Web-Expensify/blob/cf6e14ae37542719cee69641b9fdd1b3b3c2954a/li

[2022-11-09 22:30] kavimuru opened #12618 "The next message is getting "unread" when you mark a message as "unread" and refresh the page reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to a chat
2. Send two messages
3. Right click on the first message and click Mark as unread
4. Navigate to another c

[2022-11-09 22:32] huzaifa-99 commented on #11916
Seems like notifications are not supported on android at the moment? @joekaufmanexpensify @Gonals
https://github.com/Expensify/App/blob/ed864876a097a9cfd382330ac99d3c2b1b88dae1/src/libs/Notification/LocalNotification/index.native.js#L1-L5

[2022-11-09 22:42] abekkala commented on #11822
eVoloshchak and furkanuzundev have been hired via Upwork

[2022-11-09 22:45] melvin-bot[bot] opened #12620 "[$250] Investigate: 💥 Crash 💥 `io.invertase.firebase.crashlytics.ReactNativeFirebaseCrashlyticsModule$1.run`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.RuntimeException
### Crash Test
### `ReactNativeFirebaseCrashlyticsModule.java line 83` `io.invertase.firebase.crashlytics.ReactNativeFirebaseCrashlyticsModule$1.run`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.25-0`
* **Devi

[2022-11-09 22:45] trjExpensify commented on #8364
Yeah, this page won't exist soon enough. Do you agree with minimally doing the below, like we will on the workspace > general settings page?

[2022-11-09 22:48] maddylewis commented on #12043
is someone able to provide a rundown of where we are with this one? are we moving forward with an existing proposal? or, deprioritizing this one?

lmk - thanks!

[2022-11-09 22:48] conorpendergrast commented on #11584
Fantastic, thanks @eVoloshchak !

[2022-11-09 22:51] neil-marcellini commented on #12000
Yep that's definitely the issue, if you wait until the policy creation push event comes back before updating the workspace name then it works fine. I'm not really sure what to do to fix this, because we don't have control over which pusher event will reach the client first.

We could prevent the user from updating the workspace general settings until they have received the policy creation pusher r

[2022-11-09 22:54] AndrewGable commented on #11711
FYI I tested 30 vs 15 iterations:
* 30 iterations: total time ~44.5 minutes, test time ~14.5 minutes on test
* 15 iterations: total time ~48.5 minutes, test time ~10 minutes on test

[2022-11-09 22:58] kavimuru opened #12621 "VBA - Selecting Chase bank directs to First Platypus Bank"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to https://staging.new.expensify.com/
2. Go to Settings > Workspace > Connect bank account > Connect online with Plaid
3.

[2022-11-09 23:06] joekaufmanexpensify commented on #11850
I feel like it could be nice to make it a bit lighter, perhaps something like `Watch out! You'll lose anything you did while offline if you sign out.` or something like that.

[2022-11-09 23:07] grgia commented on #12259
Do we have the files ready for this?

[2022-11-09 23:09] joekaufmanexpensify commented on #11850
I'm also curious, is the confirmation dialog in the middle of the screen like that standard? For example, when deleting a payment method, the confirmation dialog is completely within the right pane:

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/54866469/200961432-4cbb2778-38cb-4d51-a87f-80c624809952.png">

I also feel like we might want to make the `Sign out` button

[2022-11-09 23:10] shawnborton commented on #12259
The characters, yes. For the default workspace avatars, how do you think we should handle those? We could essentially just create an avatar for each starting letter of the alphabet/numbers, or we could do it dynamically via text. If we go the dynamic route, we'd need to wait until New Kansas is available though.

[2022-11-09 23:10] marcaaron commented on #12617
This is most likely a false positive from me testing.

[2022-11-09 23:10] marcaaron commented on #12617
https://github.com/Expensify/App/pull/12611

[2022-11-09 23:10] huzaifa-99 commented on #11695
I believe there won't be a lot of payment methods to render here so maybe @gadhiyamanan suggestion of using `_map` instead of `FlatList` would work.

Thoughts @eVoloshchak

[2022-11-09 23:11] marcaaron commented on #12620
This is me testing -> https://github.com/Expensify/App/pull/12611

[2022-11-09 23:11] #12620 closed

[2022-11-09 23:11] #12617 closed

[2022-11-09 23:14] kavimuru opened #12622 "[$250] Android - Compose box shifts to the top when the keyboard opens"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Go to any chat
3. Tap the compose box

## Expected Result:
Proper padding should be there between keyboard and com

[2022-11-09 23:22] shawnborton commented on #12259
Yeah, I was thinking that instead of doing all color combinations with each starting letter, we would just assign one color combo for A, one color combo for B, one color combo for C, etc etc... this way we'd only end up with like 26 alphabetical workspace avatars and then 10 numerical ones?

Agree that I don't think we support SVGs as avatars right now, @NikkiWines looked into this briefly and we

[2022-11-09 23:27] neil-marcellini commented on #12000
I [posted in Slack](https://expensify.slack.com/archives/C03TQ48KC/p1668036419585519) for feedback on possible solutions.

[2022-11-09 23:28] henriquefalconer commented on #12554
### Updated proposal

As requested, here's an alternate and simpler solution for this task.

I propose changing the `Pressable` component inside [src/components/PressableWithSecondaryInteraction/index.js](https://github.com/Expensify/App/blob/f654cc13794aa749a29b6561bad94d80a9580fd4/src/components/PressableWithSecondaryInteraction/index.js) into a `TouchableWithoutFeeback` component. It has all `P

[2022-11-09 23:29] grgia commented on #12259
That makes it easy! Although looking at it right now I think the current workspace icon might be an SVG

[2022-11-09 23:30] Santhosh-Sellavel commented on #10729
@mollfpr bump

[2022-11-09 23:38] cowboycito commented on #10893
@Santhosh-Sellavel please take a look at the [iss-10893/desktop-deeplink](https://github.com/cowboycito/App/tree/iss-10893/desktop-deeplink) branch. The POC code is there. Let me know if you have any questions or ideas for improvements.

[2022-11-09 23:38] Santhosh-Sellavel commented on #10202
Have a look at iOS mWeb screenshot top padding is not equal as bottom padding

[2022-11-09 23:40] shawnborton commented on #12259
Oh sweet, that would be rad.

[2022-11-09 23:42] sophiepintoraetz commented on #12605
Yep - i'm able to reproduce this

https://user-images.githubusercontent.com/42940078/200965507-d70fada7-6617-4543-a07b-d526351c62ff.MP4

[2022-11-09 23:43] shawnborton commented on #12442
@Luke9389 here is a big batch of new icons you can get started with: [New Icons.zip](https://github.com/Expensify/App/files/9975953/New.Icons.zip)

You may have to adjust some file names, etc. I'm also still waiting on a few more and I'll drop them here as soon as I have them. Let me know what else you run into as well!

[2022-11-09 23:44] s77rt commented on #12026
### Proposal
[code]

### Explanation
The main problem with the previous solutions and the existing one is that the original searchValue is being overwritten and completely lost. The better approach is to add more searchValues and keeping the original.

Following my proposal, in the isSearchStringMatch function, searchWords contains the original searchValue and other derived search values. those de

[2022-11-09 23:44] francoisl opened #12623 "[TEST - IGNORE] Internal QA issue"
Blank `Bug` issue for internal QA of https://github.com/Expensify/Web-Expensify/pull/35370, please ignore.

[2022-11-09 23:44] francoisl opened #12624 "[TEST - IGNORE] Internal QA issue"
Blank `Bug` issue for internal QA of https://github.com/Expensify/Web-Expensify/pull/35370, please ignore.

[2022-11-09 23:51] francoisl commented on #12623
Great success

[2022-11-09 23:51] #12623 closed

[2022-11-09 23:51] francoisl commented on #12624
Internal QA worked, we can close this.

[2022-11-09 23:51] #12624 closed

[2022-11-09 23:58] Santhosh-Sellavel commented on #10893
Thanks, @cowboycito!

[2022-11-10 00:04] Santhosh-Sellavel commented on #10907
Checkout this thread https://expensify.slack.com/archives/C01GTK53T8Q/p1665144993297869?thread_ts=1664819628.960309&cid=C01GTK53T8Q

[2022-11-10 00:05] strepanier03 commented on #12508
That's what I was thinking @Gonals, the behavior on the page seem appropriate considering no scroll is needed.

I will toss external on this and get the job made. Thank you for helping me here!

[2022-11-10 00:10] strepanier03 commented on #12508
Internal Upwork job: https://www.upwork.com/ab/applicants/1590496858216435712/suggested

----

Public job posting: https://www.upwork.com/jobs/~0145c9a4f39844c843

[2022-11-10 00:14] parasharrajat commented on #12554
Awesome @henriquefalconer that looks more reasonable to do. I will test it just to be sure first. https://github.com/Expensify/App/blob/f654cc13794aa749a29b6561bad94d80a9580fd4/src/components/PressableWithSecondaryInteraction/index.js is deeply involved in many things.

[2022-11-10 00:15] parasharrajat commented on #12508
No proposals.

[2022-11-10 00:17] strepanier03 commented on #11973
@varshamb - All done and paid as well. Thank you everyone for the hardwork!

[2022-11-10 00:17] #11973 closed

[2022-11-10 00:24] ctkochan22 commented on #12268
Sorry @trjExpensify going to go back on what I said, and bring this back internal.

My reasoning is as a rule of thumb, we always should have error catches as far server-side as possible and in each layer. Auth is ideal. Then PHP. Then client-side.

I'm going to add a catch PHP side, and we'll return an error.

@trjExpensify How do you think we should handle this error? Do you happen to know what

[2022-11-10 00:24] strepanier03 commented on #11863
Sounds like we're in agreement that fixes to the search page would be a separate issue. Perhaps you'd be willing to report this in [#expensify-open-source](https://expensify.slack.com/archives/C01GTK53T8Q/p1668039635171349) @Uros787 or @sobitneupane so that a bug GH can be made by someone with the ability to recreate and describe the behavior?

[2022-11-10 00:29] parasharrajat commented on #10015
This is back.

[code]

[2022-11-10 00:31] strepanier03 commented on #12238
Sounds perfect, thank you for taking care of those. Feel free to post them in a new comment here and I'll happily add the links to the checklist message.

[2022-11-10 00:33] parasharrajat commented on #12271
Investigated this one, it seems like root cause might be same. We are tackling the `SetHTML` function in the other issue. It is good to know on more bug caused by the same `navigator.clipboard.write`.

@b1tjoy This might be related to https://github.com/Expensify/App/issues/10262.

[2022-11-10 00:36] parasharrajat commented on #8311
Currently being reviewed.

[2022-11-10 00:37] alexpensify commented on #12571
@AndrewGable - Assigning External, but can you verify if this is a feature or a bug? Thanks!

[2022-11-10 00:42] tienifr commented on #12276
@MitchExpensify Thanks, I've applied to the job, the PR will be ready by November 12

[2022-11-10 00:46] railway17 commented on #11951
It's able to be reproduced if you go through `Report page > back to LHN > send message from another device  > minimize > open`.
If user entered into Report page,  `unsubscribeVisibilityListener` listener will be created in the componentDidMount.
But it will not be unsubscribed when go back to LHN page as I mentioned.
Because of it, issue would be produced

[2022-11-10 00:46] jasperhuangg commented on #12237
I'll take this one over, since I incorrectly accepted @TwizzyIndy proposal, sorry. The logic for this one is actually more complex than I had originally anticipated so I'll try to tackle this one myself.

[2022-11-10 00:49] Christinadobrzyn commented on #12271
Thanks @parasharrajat, I think we should probably hold this until https://github.com/Expensify/App/issues/10262 is resolved to see if that fixes this issue. Let me know if there's a better option.

[2022-11-10 00:52] parasharrajat commented on #12271
Good call @Christinadobrzyn.

[2022-11-10 00:55] neil-marcellini opened #12629 "BUG: Chat Report shown instead of room title when created offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Sign in with any account
2. Create a workspace if needed
3. Go offline
4. Create a room with a specific name

## Expected Res

[2022-11-10 00:59] Luke9389 commented on #8236
OK I think this proposal looks good. After seeing the before and after, it looks like it works just fine. Are you good with this @Santhosh-Sellavel?

[2022-11-10 01:01] #11272 closed

[2022-11-10 01:09] Santhosh-Sellavel commented on #12543
Started a thread [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1667957767790409)

[2022-11-10 01:12] trjExpensify commented on #12268
Cool, switched the label.

Yep, let's follow the guidelines for form alerts: https://github.com/Expensify/App/blob/main/contributingGuides/FORMS.md#form-alerts

We largely have what we need here:

<img width="372" alt="image" src="https://user-images.githubusercontent.com/16232057/200976069-524583ea-b6f6-4c7e-a798-a8e8add463f1.png">

[2022-11-10 01:13] alexpensify commented on #11825
I'll check the status on 11/16.

[2022-11-10 01:18] Luke9389 commented on #12442
Oh great! Thanks

[2022-11-10 01:25] Luke9389 commented on #12443
OK one other thing is that the new "logo" of expensify help looks like this:

<img width="232" alt="Screen Shot 2022-11-09 at 5 24 47 PM" src="https://user-images.githubusercontent.com/49007721/200977601-604ccff3-8bdf-424a-b37b-0ab8579c325b.png">

If you made an svg out of that, I could use it, or I could have that "Help" part be in Expensify Neue as well.

[2022-11-10 01:28] Luke9389 commented on #12443
I'm just realizing that I think I'll need `.eot` files for Expensify Mono and Expensify Neue as well.

[2022-11-10 01:44] shawnborton commented on #12443
I think I already added the new help site logo to the Help Site issue.

Curious why you need .eot files? It's pretty standard to just use woff files for web/mWeb.

[2022-11-10 01:47] Santhosh-Sellavel commented on #8236
I feel this is more like a workaround.

As explained [here](https://github.com/Expensify/App/issues/8236#issuecomment-1261420574)

We are already calling ` StatusBar.setTranslucent(true)` [here](https://github.com/Expensify/App/blob/9e3a5abef512f7bb7c56993aa3f8474d788f1e5b/src/components/CustomStatusBar/index.android.js#L12)
https://github.com/Expensify/App/blob/9e3a5abef512f7bb7c56993aa3f8474d788

[2022-11-10 02:03] Santhosh-Sellavel commented on #8236
Are there any other issues or supporting docs to understand this better, why should we do this?

[2022-11-10 02:25] Luke9389 commented on #12443
Oh sick! Sorry bout missing that. I see those now.

Honestly, I don't really know anything about font file types n' stuff.

But I do see that we have [an .eot reference for every font in the app](https://github.com/Expensify/App/blob/main/assets/css/fonts.css#L8). Idk, if we need these exactly, but I'm assuming we do bc they're there. I dunno.

You know more about this than me so lmk what you thin

[2022-11-10 02:33] marcochavezf opened #12630 "[TEST] QA'ing updated BugZero checklist"
QA'ing https://github.com/Expensify/Web-Expensify/pull/35451

[2022-11-10 02:52] shawnborton commented on #12443
I think Android and iOS end up using .otf font files, so we should be good there.

Then for web/mWeb, yeah - let's try to only use woff files and see what happens.

[2022-11-10 03:13] mollfpr commented on #10729
@Santhosh-Sellavel

https://github.com/Expensify/App/issues/12400#issuecomment-1308050178 in this test you using `CompanyStep` where we haven't refactored this form to use `Form.js`.
https://github.com/Expensify/App/blob/9e3a5abef512f7bb7c56993aa3f8474d788f1e5b/src/pages/ReimbursementAccount/CompanyStep.js#L193
https://github.com/Expensify/App/blob/9e3a5abef512f7bb7c56993aa3f8474d788f1e5b/src/page

[2022-11-10 03:31] danielrvidal commented on #11817
@roryabraham that looks a little different than the video in @kidroca linked video but I assume that is okay. I think the text you highlighted above looks great so am 👍 to that!

[2022-11-10 04:23] JmillsExpensify commented on #11850
Another alternative could be: `Are you sure? You'll lose any offline changes if you sign-out.`

[2022-11-10 04:28] amyevans commented on #12432
I spent some time with this today and can reliably reproduce locally with the following steps:

1. Create two IOU requests
2. Cancel both of them
3. Create another IOU request
4. Observe error in console

To fix the Onyx error (`An error occurred while applying merge for key: reportIOUs_XYZ Error: TypeError: Cannot convert undefined or null to object`), we need to call the Onyx `set` method instea

[2022-11-10 04:32] JmillsExpensify commented on #10907
Yikes, that's a chain of issues that are all held on each other. Wow this is a mess.

[2022-11-10 04:34] JmillsExpensify commented on #12317
Haha this is going to fun Melvin. tl;dr this isn't a priority and no action is needed. I would recommend removing the Upwork job and removing the price from this issue as well.

[2022-11-10 04:44] JmillsExpensify commented on #12609
Ok cool. Mainly I think someone from BZ should assign themselves.

[2022-11-10 04:44] JmillsExpensify commented on #10525
Nice, yeah not urgent.

[2022-11-10 04:47] tienifr commented on #12276
Hi @mananjadhav I just created a PR for this issue https://github.com/Expensify/App/issues/12151, please help to review it. Thanks

[2022-11-10 04:50] JmillsExpensify commented on #11807
Would you like some BZ assist on this issue? Let me know and I'll add myself.

[2022-11-10 04:53] JmillsExpensify commented on #10765
Thanks! Also let's get real. I just tested this issue, and like Applause, I can't reproduce any longer. @Santhosh-Sellavel @advaitasol9 can either of you?

[2022-11-10 04:53] JmillsExpensify commented on #12308
Can someone on this issue re-test and see if they get the same result as Applause?

[2022-11-10 04:57] JmillsExpensify commented on #12014
Ok, I just re-tested and we're talking about this same issue in multiple places. This is a dupe of https://github.com/Expensify/App/issues/12459. I'm closing this issue.

[2022-11-10 04:57] #12014 closed

[2022-11-10 04:59] JmillsExpensify commented on #11341
I don't agree with that ^^^. I'm still able to reproduce this issue.

[2022-11-10 05:02] JmillsExpensify commented on #10615
This is still a sporadic issue. Keeping the issue open and on hold.

[2022-11-10 05:03] JmillsExpensify commented on #7925
Btw, comment linking is on the horizon at this point. Internal design is happening.

[2022-11-10 05:04] Christinadobrzyn commented on #12621
- I can reproduce this
- The Slack [chat](https://expensify.slack.com/archives/C01GTK53T8Q/p1666230207938749), sounds like First Platypus bank is the Plaid sandbox account
- This only happens in staging and not production
- [Dev: Connect to bank account is not opening Sandbox page on dev server, redirects to real bank website reported by @parasharrajat](https://github.com/Expensify/App/issues/1231

[2022-11-10 05:24] #12317 closed

[2022-11-10 05:42] kadiealexander commented on #11321
See above, not overdue.

[2022-11-10 06:08] kadiealexander commented on #9809
Price doubled!

[2022-11-10 06:09] kadiealexander commented on #7375
Price doubled!

[2022-11-10 06:35] smrutiparida commented on #12492
The issue seems to be introduced in Electron 20 https://github.com/electron/forge/issues/2931

[2022-11-10 06:41] MariaHCD commented on #12004
@puneetlath It was due to this backend change: https://github.com/Expensify/Web-Expensify/pull/34592

The format of the bank account data in Onyx changed but the corresponding [model](https://github.com/Expensify/App/blob/main/src/libs/models/BankAccount.js) in the App was not. cc: @Justicea83

There was also a RCA [here](https://github.com/Expensify/Expensify/issues/234321) but we didn't catch th

[2022-11-10 06:49] thesahindia commented on #11951
Still no luck.
https://user-images.githubusercontent.com/83179295/201019649-54e31de1-c7d7-42b0-9553-001134cadfd5.mp4

[2022-11-10 07:15] railway17 commented on #11951
@thesahindia
Are you referring, you got another issue if you use my above change? 🤔

[2022-11-10 07:46] conorpendergrast commented on #11515
Reproduced on iOS 16.0.3, with NewDot v1.2.26-0.

Video recording of that. Volume off unless you want to list to great music.

https://user-images.githubusercontent.com/5802477/201030055-f5ffe197-19de-4c45-8a6c-e31f005bd5d0.MP4

[2022-11-10 07:53] conorpendergrast commented on #11584
Just writing down for myself that these steps are taken in order, so I'll be paying via UpWork ([this process](https://stackoverflow.com/c/expensify/questions/7582)) once steps 1 to 4 are done

[2022-11-10 08:01] wildan-m commented on #12028
### Proposal

I've tried to compare the DOM between `1.2.15-1` and `1.2.15-2`.

Here is the result

<img width="1353" alt="Screen Shot 2022-11-10 at 14 25 27" src="https://user-images.githubusercontent.com/11847279/201030288-ee5d625e-2faa-45ce-9bea-071495e5615e.png">

What makes the issue occur is when the drawer adds `user-select: none` to `sidebar` and `reportScreen` wrapper.

I've tried to comp

[2022-11-10 08:03] conorpendergrast commented on #12480
**The job:**

- Internal job posting: https://www.upwork.com/ab/applicants/1589438303439740928/job-details
- External job posting: https://www.upwork.com/jobs/~0123bb377c6009399a

Ok, I'm following [this process](https://stackoverflow.com/c/expensify/questions/7676) to hire via Upwork. I'm hiring:

- [x] The Contributor+: @parasharrajat
- [x] The contributor fixing the issue: @0xmiroslav

[2022-11-10 08:16] conorpendergrast commented on #12595
- [x] The bug is not a duplicate report of an existing GH (close the GH and add any novel details to the original GH instead).
- [ ] The bug is reproducible, following the reproduction steps - > Stuck on this, [getting help](https://expensify.slack.com/archives/C01SKUP7QR0/p1668068189490209) with the test VBA.

[2022-11-10 08:18] sobitneupane commented on #12438
Hello @hungvu193, Thanks for your [updated proposal.](https://github.com/Expensify/App/issues/12438#issuecomment-1304834799)

Can you please point out  where you are proposing those changes with github permalink. I cannot find `<TouchableOpacity ` portion in the code base or you might have made changes more than code diff in your proposal.

And since your are proposing to remove `InteractionManage

[2022-11-10 08:24] wildan-m commented on #11921
### Proposal
Seems this issue has the same fix with #12028
Please review it:
https://github.com/Expensify/App/issues/12028#issuecomment-1309908376

[2022-11-10 08:29] MonilBhavsar commented on #12075
When user adds VBBA by going to Workspace > Connect Bank account.
We display that bank account in Payments Page (Profile > Payments) and on tapping that account, an option to make it a default payment method. But we have a backend validation where we can't set business bank account as default method.
We can fix this by not displaying "Make default payment method" in Payments page for Business Bank

[2022-11-10 08:40] Gonals commented on #12432
I haven't dug a lot into the code, but I think the key here is that there's only ever one active IOU report in a chat.
What I believe is happening is that, when we delete the requests, the IOUReport gets deleted in the backend, but the frontend is not informed and keeps trying to use it. This should be the cause of both issues, so I don't think modifying [this line](https://github.com/Expensify/We

[2022-11-10 08:42] hungvu193 commented on #12438
I created a path here, you can apply it.
[code]

[2022-11-10 09:02] sobitneupane commented on #12046
@s77rt
Thanks for your proposals.

@s77rt Your [proposal](https://github.com/Expensify/App/issues/12046#issuecomment-1309165142) is similar to @tienifr's [proposal](https://github.com/Expensify/App/issues/12046#issuecomment-1307085397).

[2022-11-10 09:04] WestDon commented on #12046
Why you don't review my proposal?

[2022-11-10 09:10] MariaHCD commented on #11850
@joekaufmanexpensify Isn't that a menu list vs a confirmation dialog?

I've tweaked the dialog to show the sign out button as red:

![Screen Shot 2022-11-10 at 1 10 12 PM](https://user-images.githubusercontent.com/12268372/201048657-dddcf0ef-82e4-49b0-ae66-90a1f12129c4.png)

I'm onboard with `Are you sure? You'll lose any offline changes if you sign-out.`, if everyone agrees.

[2022-11-10 09:11] thesahindia commented on #11951
No, I am seeing this issue on production as well.

[2022-11-10 09:13] sobitneupane commented on #12046
@WestDon I nearly missed it.

Thanks for your proposal.

But your proposal is not complete.

You have stated

You didnot propose how to do it.

[2022-11-10 09:17] WestDon commented on #12046
- Your proposal should include a technical explanation of the changes you will make. You are not required to submit the final solution or code along with your proposal.
From Upwork Job Post, I hope missed part belongs to the final solution

[2022-11-10 09:22] sobitneupane commented on #12046
You must be a new contributor. Please go through the [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md). You can find other open jobs [here](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22).

[2022-11-10 09:25] railway17 commented on #11951
@thesahindia
One question.
Do you think Onyx data can be updated by logging into the console?
I thought all of the onyx data is changed by logging: `[Onyx] set() called for key: ${key}`.
But I've noticed that onyx data is changed without logging.
Who can give me a full answer to my question regarding Onyx?

[2022-11-10 09:29] mountiny commented on #12355
We have not been able to reproduce this issue in staging and production anymore. The values save correctly, although in some testing tries the old values flickers/appears temporarily in the product before the correct saved values settle.

This is most likely related to order of the read/write requests which go to the server once we get online https://github.com/Expensify/App/pull/12219

[2022-11-10 09:29] #12355 closed

[2022-11-10 09:32] sobitneupane commented on #12046
@tienifr Thanks for your proposal.

But I cannot reproduce this issue any longer. @miljakljajic Are you able to reproduce this issue?

[2022-11-10 09:34] mollfpr commented on #11982
Thanks for pointing it out @aimane-chnaif

I just did some investigation and we probably miss the fact that we should fetch the report data on the `withReportOrNavigateHome` when the report is not available because we directly go to the detail page.
https://github.com/Expensify/App/blob/599f1b9c806cfb612b74a3b9378f0d988d29b889/src/pages/home/ReportScreen.js#L165-L176
https://github.com/Expensify/A

[2022-11-10 09:38] thesahindia commented on #11951
I was only able to repro this issue by using `Mark as Unread`. I think the solution should work for `Mark as Unread` case too.

You can ask Onyx related questions at `#expensify-open-source`

[2022-11-10 09:39] nkuoch commented on #12371
Closing then. Let's reopen if it occurs again.

[2022-11-10 09:39] #12371 closed

[2022-11-10 09:39] railway17 commented on #11951
Yes, I agree with it and still debugging for it 😓

Thank you

[2022-11-10 09:54] WestDon commented on #12046
Fixed here https://github.com/Expensify/App/commit/a4f2f0beaf71732fd1ebed4e08a6b0a4a30903c8
This is the not better solution and I can imagine new bugs with this one
`const reportID = attrHref.split('newdotreport?reportID=').pop();`
This is much better -
`const reportID = new URLSearchParams(internalExpensifyPath.split("?")[1]).get("reportID");`

[2022-11-10 09:58] sobitneupane commented on #12046
The issue is already fixed and no longer reproducible. Fixed by https://github.com/Expensify/App/pull/12376

cc: @miljakljajic @ctkochan22

[2022-11-10 10:04] s77rt commented on #12046
Indeed, it's fixed now, but the fix contains repeated code
and does not handle other cases such as:
https://www.expensify.com/newdotreport?anotherParam=test&reportID=1995612822050952&anotherParam=test2

[2022-11-10 10:07] sobitneupane commented on #12046
@s77rt Can you provide some instances where such cases are possible? I don't think it is likely.

[2022-11-10 10:16] iwiznia commented on #12609
There's already an issue for the source maps https://github.com/Expensify/App/issues/9293
Not sure if we want to close that out or remove that part from this isssue.
FWIW I think adding the source map should be the first step, because without it, some crashes are impossible to diagnose.

[2022-11-10 10:19] dylanexpensify commented on #12042
Working through steps on checklist

[2022-11-10 10:20] dylanexpensify commented on #9848
checking on crash doubling logic then will come back

[2022-11-10 10:21] dylanexpensify commented on #9181
We need:
- @parasharrajat to review proposal as it seems this is still occurring
- hire contributor, and move forward with a fix

[2022-11-10 10:24] MariaHCD commented on #11850
Looking into the second aspect of this: `Clear their request queue (meaning whatever action the user attempted while offline before signing out is lost).`, I see that we already clear the queue upon sign out [here](https://github.com/Expensify/App/blob/599f1b9c806cfb612b74a3b9378f0d988d29b889/src/libs/actions/SignInRedirect.js#L64-L67) or I am missing something?

Also, I tried to reproduce the iss

[2022-11-10 10:25] s77rt commented on #12046
I don't know any other cases where such links are used but that does not mean they don't exists, also the user can manually add such parameters (for whatever reason), also sometimes more parameters get added by tracking mechanisms

[2022-11-10 10:29] MonilBhavsar commented on #10263
I would vote for inhouse component over package, if it fixes the issue. We can go with package if implementation is complex. In this case it would be handling touched or longPress event on text input, no? Happy to discuss fors and against of using package vs custom component in this case. Please share your thoughts.
And if we go with that package, let us make sure it follow some rules that it is a

[2022-11-10 10:46] #12280 closed

[2022-11-10 10:57] Julesssss commented on #12622
Part of the Keyboard issue grouping. @JmillsExpensify

[2022-11-10 10:59] Julesssss commented on #12622
Hey @kavimuru, was the team not able to reproduce this issue?

[2022-11-10 11:01] dylanexpensify commented on #12598
cc @marcaaron curious for your eyes on this given [this PR](https://github.com/Expensify/App/pull/12169)

[2022-11-10 11:18] Julesssss commented on #12308
I can't get to this today, will do at the next overdue ping

[2022-11-10 11:22] isabelastisser commented on #11730
Hey @Puneet-here , can you please provide an update on your progress? Thanks!

[2022-11-10 11:30] Julesssss commented on #10202
I'm on the fence about this final fix. I think it's fine to have slightly different padding on iOS mWeb between 1/2/3 lines personally. But, if the above fix works without introducing new issues, lets include that too 👍

[2022-11-10 11:41] flaviadefaria commented on #12018
Based on this comment I'll try to reproduce this again to see if it's still an issue.

[2022-11-10 11:43] flaviadefaria commented on #12355
Closed the UW post!

[2022-11-10 11:43] trjExpensify commented on #12609
It's linked to this issue in the OP.

[2022-11-10 11:58] iwiznia commented on #11658
FYI if the error is still happening, melvin will reopen it

[2022-11-10 12:15] isabelastisser commented on #11688
Not overdue, waiting for @eVoloshchak to review it.

[2022-11-10 12:15] isabelastisser commented on #10347
No overdue, waiting for proposals.

[2022-11-10 12:16] eVoloshchak commented on #11584
The PR that introduced the bug has been identified. Link to the PR: https://github.com/Expensify/App/pull/4603
`The issue exists from the creation of the component, probably just an edge case that wasn't tested (or  Mark as unread functionality didn't exist at the time)`

The offending PR has been commented on, pointing out the bug it caused and why, so the author and reviewers can learn from the

[2022-11-10 12:25] eVoloshchak commented on #11695
@huzaifa-99, that's a great point actually!
If the list isn't overflowing the screen, there will be no performance difference between `flatList` and a simple list generated by `map`

@gadhiyamanan, are you still interested in working on this issue? If so, could you please update your proposal listing the screens that also need this fix?

It will be great if the proposal includes the solution for t

[2022-11-10 12:30] eVoloshchak commented on #11916
@huzaifa-99, it seems like only the local notifications are disabled, push notifications should be working (judging by the code)

The alternative is a **Local notification** that is directly triggered by the mobile app, locally (ie: not coming from a remote server but coming from your own device). These local notifications are usually scheduled when you quit a mobile app (and then triggered few ho

[2022-11-10 12:30] laurenreidexpensify commented on #12616
https://www.upwork.com/jobs/~01d19e142ce5b9a8ec

[2022-11-10 12:40] gadhiyamanan commented on #11695
other pages are having scrolling issues on mWeb while mobile has on landscape mode and as per [slack discussion ](https://expensify.slack.com/archives/C01GTK53T8Q/p1666959007327629?thread_ts=1666928166.032089&cid=C01GTK53T8Q) it's not worth fixing for now

cc: @eVoloshchak

[2022-11-10 12:42] sonialiap commented on #9505
Price increased

[2022-11-10 12:45] s77rt commented on #12571
### Proposal
[code]

### Details
Conditions that are based on the keyboard are tricky and hard to implement
The safest and the closest things to do is to relay on the user agent.
- Using the window size will fail for small browser windows (this issue)
- Using the touch screen feature will fail for laptops that have touch screen support (@0xmiroslav)

- Using the user agent will cover both issues l

[2022-11-10 12:46] ma3ve commented on #12616
Proposal:
The issue might be because the error message defaults when you are not authenticated. so until the authentication data is fetched, we will be shown the error message. so to solve this, we need to add a conditional check for if the authentication data is being fetched. if it is being fetched then don't show the error.

[2022-11-10 12:52] MonilBhavsar commented on #11423
I think this was missed and not a regression by any PR. @rushatgabhane thoughts?

[2022-11-10 12:53] laurenreidexpensify commented on #12026
@rushatgabhane what you think?

[2022-11-10 12:59] kbecciv commented on #12131
Issue is reproduced with build 1.2.26.0

https://user-images.githubusercontent.com/93399543/201097896-927cfdb2-533c-4c20-a840-9130233ae8fb.mp4

[2022-11-10 13:00] eVoloshchak commented on #12238
The PR that introduced the bug has been identified. Link to the PR: https://github.com/Expensify/App/pull/2926
`This has been existing since the creation of the AboutPage`

The offending PR has been commented on, pointing out the bug it caused and why, so the author and reviewers can learn from the mistake. Link to comment: https://github.com/Expensify/App/pull/2926#issuecomment-1310241315

A disc

[2022-11-10 13:09] hannojg commented on #11321
Hey guys, going to continue looking for a fix today. So we just know the cause of the issue, but don't have a fix yet.
Working on it 😼 😊 !

[2022-11-10 13:15] MariaHCD commented on #11895
Not sure about the expected behavior when an admin deletes a workspace. From [this refactor PR](https://github.com/Expensify/App/pull/10491), I see that the workspace chats are archived but still shown in the LHN.

Asked in Slack here: https://expensify.slack.com/archives/C03TQ48KC/p1668086036201419

[2022-11-10 13:16] flaviadefaria commented on #12517
Confirming in the Slack thread if we should close this (as per the Slack discussion linked).

[2022-11-10 13:23] s77rt commented on #12571
I'm not familiar with that component enough to give you my thoughts on that. But in general if compA is implemented in the wrong way does not mean that all follow components must be implemented that wrong way, eventually we will have to fix them all.
I think using `canUseTouchScreen()` for mobile detection is not ideal because as the name suggests, it will tell you if that device has a touch scree

[2022-11-10 13:26] mananjadhav commented on #11059
@NicMendonca  @miljakljajic  This is due payment but I am not sure what happened here with the tags and reassignment?

[2022-11-10 13:26] mananjadhav commented on #11086
@deetergp Quick bump on this

[2022-11-10 13:37] laurenreidexpensify commented on #10950
Still waiting on @Abdallah-Ahmed-moh to apply in Upwork, everyone else has been paid

[2022-11-10 13:40] puneetlath commented on #12605
@Julesssss would this be part of the notifications project?

[2022-11-10 13:40] tienifr commented on #11515
@conorpendergrast can u see the conversation marked as unread after killing the app and open agin?

[2022-11-10 13:43] miljakljajic commented on #11059
Thank you, Manan. Uros was already hired for the job, so he has been paid. Awaiting your approval of the offer and I'll pay you for your contribution immediately.

[2022-11-10 13:47] kbecciv commented on #11778
Issue is reproduced with build 1.2.26.0

https://user-images.githubusercontent.com/93399543/201108434-b3de8b40-7895-414b-b4bc-030fdc109d0e.MP4

[2022-11-10 13:51] parasharrajat commented on #11584
Not a regression but a new feature.

[2022-11-10 13:53] CortneyOfstad commented on #12015
Okay, going to close this as it is not reproducible. We can reopen if that changes, or a new proposal can be created 👍

[2022-11-10 13:53] #12015 closed

[2022-11-10 13:54] puneetlath commented on #11982
@mollfpr can you post that solution over on https://github.com/Expensify/App/issues/12428 since the PR is already done for this issue?

[2022-11-10 13:54] parasharrajat commented on #12238
Again, this is not a bug or regression but a new feature. This never existed in th app.

We should make clear distinction between regressions and new features. If you are not sure please reach out to the public channel or ask the author whom you think added this.

[2022-11-10 13:55] CortneyOfstad commented on #12245
Reassigning engineering to see if we can get this reproduced, as I am coming up empty.

[2022-11-10 13:55] Santhosh-Sellavel commented on #10729
@mollfpr  How to test this `IdentityForm` against the same issue, Should we have to wait until `RequesterStep` is complete?

[2022-11-10 13:57] #12517 closed

[2022-11-10 13:59] kavimuru opened #12635 "[$1000] Skeleton UI is displayed when clicking on any chat reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Click on any chat

## Expected Result:
Chat should be loading instantly

## Actual Result:
Skeleton UI appears

##

[2022-11-10 13:59] eVoloshchak commented on #12238
Will do, thank you

[2022-11-10 14:05] mollfpr commented on #11982
@puneetlath Yup will do it shortly, thanks!

[2022-11-10 14:05] Beamanator commented on #11229
Discussed a few things 1:1, I think we're ready to move forward reviewing proposals right @parasharrajat ?

[2022-11-10 14:06] mananjadhav commented on #11059
Applied @miljakljajic. Any action pending from my side here @miljakljajic?

[2022-11-10 14:12] Beamanator commented on #10830
Looks like it's possible this isn't reproducible anymore which would be nice 😅 Let's confirm one more week or someone else can test before closing

[2022-11-10 14:17] miljakljajic commented on #11059
Thank you - job is now closed, both of you have been paid.

[2022-11-10 14:17] #11059 closed

[2022-11-10 14:18] mollfpr commented on #10729
@Santhosh-Sellavel IMO we shouldn't. This refactoring doesn't impact the `inputRefs` state of `Form.js`.

The current implementation of `onFixTheErrorsLinkPressed` is to get the input refs from the order of key in `this.state.errors`.

This issue https://github.com/Expensify/App/issues/12400 occurred because on the validation function of `BankAccountManualStep` the first to validate is the `accoun

[2022-11-10 14:19] Beamanator commented on #10792
No longer on hold since we can now accept auth tokens in the `header` of image requests!

[2022-11-10 14:19] #12036 closed

[2022-11-10 14:21] parasharrajat commented on #11229
Yeah, give me like 2 hours. Not started working yet.

[2022-11-10 14:22] puneetlath commented on #11427
Sounds good. @tienifr @rushatgabhane sent you both hiring offers in upwork.

[2022-11-10 14:31] thesahindia commented on #12028
Awesome! We can implement this.
But can you please add explanation about how `userSelect` property is affecting the behaviour and why using `userSelect: 'auto'` fixes it.

[2022-11-10 14:37] stephanieelliott commented on #12600
Hey @francoisl, any insight on whether this can be handled externally or internally? Seeing as it is related to page refreshing I'm wondering if this might be a server side change.

[2022-11-10 14:41] joekaufmanexpensify commented on #11850
Yeah I guess it is more of a menu there. I was thinking of it as a confirmation as I associate clicking on the payment method as deleting it. More so, I am just curious if this is dialog is consistent with how we handle confirmation dialogs in other places in the app (which I am not too familiar with). If it is, then I think it makes sense!

I'm good with this!

[2022-11-10 14:41] Beamanator commented on #8364
FYI there's 5 new pages that are being built (push-to-page style) to replace the Profile page. They are:
1. display name: https://github.com/Expensify/App/pull/12142 (in staging)
2. timezone pages: https://github.com/Expensify/App/pull/12201 (@cristipaval taking over)
3. pronouns page: https://github.com/Expensify/App/pull/12301 (still some outstanding implementation discussions)
4. contact method

[2022-11-10 14:43] bfitzexpensify commented on #12542
Upwork job [here](https://www.upwork.com/jobs/~0121202609b7f260c8)

[2022-11-10 14:45] Beamanator commented on #11063
@JmillsExpensify good question! Currently it looks like we block `.svg` images from being uploaded as avatars here: https://github.com/Expensify/App/blob/0c65dbef1e97c6b811760b97e32a566e26b2e000/src/CONST.js#L30

I'm definitely willing to try to support `.svg` if we want though!

[2022-11-10 14:45] Santhosh-Sellavel commented on #10729
@mollfpr  I believe you miss understood, I'm  not saying to put 12400 on hold until.

I am asking, to test this  'IdentityForm' we should wait until 'RequestorStep' to test whether this works as expected or not against the issue as we didn't complete RequesterStep which uses Identity Form.

[2022-11-10 14:45] thesahindia commented on #11341
I just tested and it's fixed now but since we are refactoring this page to use `Form`, let's change the description and test that everything works correctly after the refactor.

[2022-11-10 14:52] dangrous commented on #12198
Will review shortly - thanks @mollfpr! All yours @Santhosh-Sellavel if you can get to it first.

[2022-11-10 15:00] kbecciv opened #12637 "[$250] Workspace - Invite new member - 403 error message in console"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12551

## Action Performed:
1. Launch the app
2. Login with any account
3. Go

[2022-11-10 15:00] MitchExpensify commented on #11529
Thanks for the reminder @JmillsExpensify !

[2022-11-10 15:02] mollfpr commented on #10729
@Santhosh-Sellavel Ahh sorry!

[2022-11-10 15:03] Karim-30 commented on #12188
@roryabraham This will work If the writing cursor is at the end of the text but won’t if it is in the middle.

i.e: Lets assume that our hidden component looks like this :

[code]

Now if the text inside the composer is `Fewfefwef : fdsfdsfds` and the cursor is next to `wef :` in this case, and depending on what is happening in `onSelectionChange` method the `hiddenText` should be `Fewfefwef :` an

[2022-11-10 15:05] daraksha-dk commented on #12555
@kavimuru I think you forgot to add `AutoAssignerTriage` tag here.

Got the approval here: https://expensify.slack.com/archives/C01GTK53T8Q/p1668006728010219?thread_ts=1666716588.685909&cid=C01GTK53T8Q

[2022-11-10 15:05] kbecciv opened #12638 "[$250] Chat - The system redirected to the Concierge chat after clicking on the "X" for closing error message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App and login
2. Disable the internet connection in the device
3. Click on the green + button -> Click on the "New Ch

[2022-11-10 15:10] s77rt commented on #12616
### Proposal
[code]

### Details
The fix is make sure the app is loaded before displaying the `FullPageNotFoundView` so we can act based on the real collected data.
PS: The fix should be applied on other pages as well such as WorkspaceSettingsPage, WorkspaceInvitePage, etc.

#### Plus:
With the proposed fix, the name of the workspace will appear empty, then it will be populated. We can fix that by

[2022-11-10 15:11] Santhosh-Sellavel commented on #10729
So we have to wait right?

[2022-11-10 15:12] kbecciv opened #12639 "[$250] IOS - Chat - After pasting any emoji in the middle of the text additional spaces get added"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12529

## Action Performed:
1. Open the App and login
2. Go to any chat
3. Typ

[2022-11-10 15:14] parasharrajat commented on #10830
It seems like the root cause of this might be the keyboard closing feature on scroll. A feature was added on this page where when user scrolls the list, keyboard is closed for the user to see the full list.

It may be possible that the list is scrolling while you are typing. But AFAIK, it reacts to user interactions not programmatic scrolls.

[2022-11-10 15:17] mollfpr commented on #10729
@Santhosh-Sellavel Let’s ask @neil-marcellini and @luacmartins

[2022-11-10 15:17] kbecciv opened #12640 "[$250] mWeb/Safari - Log in - The cursor does not focus on the password input field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.Go to https://staging.new.expensify.com/
2. Enter the email on the email field
3. Click continue

## Expected Result:
The curso

[2022-11-10 15:23] kbecciv opened #12641 "Android - Attachments - Mark as unread option doesn't work if you just attached the photo from Gallery"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Attach any photo
4. Hold your finger by the attachment
5. Select option " Mark as

[2022-11-10 15:25] Julesssss commented on #8236
@aimane-chnaif you're about 80% there with your proposals. I was going to edit your proposal, but I ended up implemented the fix while debugging the issue.

Native Android uses two Activities. Each Activity has a Theme, and the BootSplash theme is being modified by the `StatusBar.setTranslucent(true)`, as you pointed out:
- BootSplashActivity | BootTheme --> shows the splash screen on launch
- Mai

[2022-11-10 15:27] Beamanator commented on #11334
Closing - looks like this was paid out, fix has been in production for 2 weeks w/out regression 👍

[2022-11-10 15:27] #11334 closed

[2022-11-10 15:36] railway17 commented on #11951
@thesahindia
Which channel do I need to use to ask the API command problem?
Need to ask in the `#expensify-open-source` channel through slack?

[2022-11-10 15:51] greg-schroeder commented on #12430
Will review today

[2022-11-10 15:56] kbecciv opened #12643 "Log in - Set Password button isn't responding for 2FA account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Input email with existing Two Factor Authentication and click Continue
3. Click Fo

[2022-11-10 16:00] kbecciv opened #12644 "Log in - There’s No message saying that a Magic Link has been sent to the email address"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. In the email field enter a email that has an active Expensify account and click on

[2022-11-10 16:02] trjExpensify commented on #12283
So this issue can be closed can it, if it's being taken care of elsewhere?

[2022-11-10 16:03] Beamanator commented on #12603
Removing `Help Wanted` since @kidroca is gathering some thoughts & plans to get going on this. I'll assign him once he posts in this issue 😅

[2022-11-10 16:03] kbecciv commented on #12644
QA team is failing step 5. Verify there’s a message saying that a Magic Link has been sent to the email address in TestRail

![image](https://user-images.githubusercontent.com/93399543/201144824-b814aef3-5cbc-4332-b5e2-75f834e66821.png)

[2022-11-10 16:04] trjExpensify commented on #10907
Trying to understand all of this.

1. This issue is held on #9402, because apparently when we get rid of `Uploading Attachment...` this problem goes away. **Is that true?** CC: @chiragsalian @michaelhaxhiu
2. #9402 is held on #10894 because that's the main issue for the broader image improvements in App. CC: @Beamanator
3. #12283 is not held on anything, and two bugs are being discussed within it:

[2022-11-10 16:06] JmillsExpensify commented on #10907
Great summary, for 3 I think we need to clarify if the crash in your first bullet point is in fact the exact same crash in this issue. The error in the second bullet is not related, so I'm going to remove that from your summary.

[2022-11-10 16:08] kbecciv opened #12645 "Log in - Avatar with user's email are very close to each other"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.Go to https://staging.new.expensify.com/
2. In the email field enter a email that has an active Expensify account and click on

[2022-11-10 16:09] JmillsExpensify commented on #10907
Or rather, I won't remove it from your summary. We shouldn't focus on 3.b, because it's not the reason that this issue is potentially connected to that one. The crash is the only (and potential) reason this issue _might_ be connected with that one.

[2022-11-10 16:10] JmillsExpensify commented on #12635
Taking this one, because this is a pretty bad regression and I'd like to raise the price to $1000 immediately.

[2022-11-10 16:14] JmillsExpensify commented on #12635
Calling all contributors, we need your help resolving this performance regression! Upwork job is here: https://www.upwork.com/jobs/~01d434cec2c2807231. Compensation starts at $1,000.

[2022-11-10 16:15] trjExpensify commented on #10907
Sorry, I'm also trying to determine if we close https://github.com/Expensify/App/issues/12283 because it's about two bugs being taken care of elsewhere. One of those here, one of those somewhere else you referenced. I asked the Q [here](https://github.com/Expensify/App/issues/12283#issuecomment-1310521118).

[2022-11-10 16:16] michaelhaxhiu commented on #12266
Still waiting for interest. Contemplating making this $1k bounty sooner rather than later.

[2022-11-10 16:17] JmillsExpensify commented on #12635
@dangrous Can you take at look at this issue and the related [Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1668015943860829). We need to figure out a couple of things, though I'm keeping the `external` label on this issue until we rule that out.

 - Any theories as to how this regression got introduced?
 - Do you think `external` is appropriate, or do we need to take internal?

[2022-11-10 16:21] sketchydroide commented on #8710
I think we should mantain this as internal for now, I need to go investigate the entire process again, as things have changed quite a lot since this was created, but my feeling for now it that if this has not been fixed in the mean time, it will probably be some sort of API refactor.
The way 1:1:1 work should send a push to all parties envolved, and do the Onyx update.
Because I think this will pr

[2022-11-10 16:24] trjExpensify commented on #10907
Yes, I think it is. https://github.com/Expensify/App/issues/10907#issuecomment-1264976783 this comment shows the crash above, and the repro steps are exactly the same as in #12283. If you agree with that, and the answer to 3b. is that the Web-PDF thing is being handled elsewhere, we should close that issue.

Once Chirag confirms my ask for 1, we can decide whether this comes off hold or if it stil

[2022-11-10 16:24] eh2077 commented on #11093
**Proposal**

Hi there,

I'd like to propose a solution by improving the onBlur handling of Composer. The key idea is to filter the blur event triggered by pressing expand/collapse icon and set focus back to the input. One trick worth mentioning is that we should trigger `.focus()` immediately after the handling of expand/collapse click on iOS platform.

The change of onBlur handling will be like

[2022-11-10 16:33] JmillsExpensify commented on #10907
Awesome, as mentioned twice in https://github.com/Expensify/App/issues/10907, I think that one is a duplicate of the crash. However, I'm not confident that we have another issue for the RBR error. In fact, the RBR error was already duplicated and closed in https://github.com/Expensify/App/issues/12580. Let's keep https://github.com/Expensify/App/issues/12283 focused on the RBR issue. I'll update t

[2022-11-10 16:33] LLPeckham commented on #12255
@shawnborton - I think we're good to go with the latest changes in [the doc ](https://docs.google.com/document/d/1SRLWycdfGV994kl1LuyWlib1GlwSKMl_W_Z43EKw4VI/edit)(and as seen in your mock [here](https://expensify.slack.com/archives/C03SSAQG5/p1668031563016749?thread_ts=1667858930.911229&cid=C03SSAQG5))

You can find all the slides with their corresponding titles and blurbs, as well as the updated

[2022-11-10 16:37] trjExpensify commented on #8364
Ah nice, so those are in the works. Do you agree with do nothing then and close this issue?

[2022-11-10 16:44] iwiznia commented on #11808
Is this only reproducible from that one account?? If so, we would need to make this internal.

[2022-11-10 16:45] JmillsExpensify commented on #12283
Updated this issue to remove the duplicate discussion around the crash. That's handled in https://github.com/Expensify/App/issues/10907 moving forward. This issue is now focused on the on the "Unsupported PDF format" RBR error message moving forward.

[2022-11-10 16:45] JmillsExpensify commented on #12283
Separately, @youssef-lr still would like confirmation if you are aware of this issue or working on any PRs elsewhere that resolve this?

[2022-11-10 16:49] thesahindia commented on #12571
@AndrewGable, I am not sure what we should be done here but we have https://github.com/Expensify/App/issues/6883 to allow using keyboard shortcuts on native devices. I think we should close this issue and leave this to https://github.com/Expensify/App/issues/6883 since it will also revert https://github.com/Expensify/App/pull/6881 which added this logic.

[2022-11-10 16:51] mananjadhav commented on #12571
Thanks for the comment @thesahindia. I was just finding the link because I knew we had a task for keyboard shortcuts to work on native devices. @alexpensify @AndrewGable  I think we can close this in the favour of the linked issue, or atleast put it on Hold.

[2022-11-10 16:52] mollfpr commented on #11801
@muttmuure Applied to the job, thanks!

[2022-11-10 16:53] MitchExpensify commented on #12010
Waiting on proposals! [Bumped thread here](https://expensify.slack.com/archives/C01GTK53T8Q/p1668099175110039?thread_ts=1666150625.899149&cid=C01GTK53T8Q)

[2022-11-10 16:57] hungvu193 commented on #12638
<b>Proposal</b>
https://github.com/Expensify/App/blob/c2e4ab25a9b2b7d47004d7b323116f32c181a189/src/pages/home/report/ReportActionItemCreated.js#L46
Currently we always go to `Concierge` chat after press Close.
<b>Solution</b>
To navigate away from this conversation, we need to check the error then decide to go to Concierge or goBack in `ReportActionItemCreated.js`.
[code]

[2022-11-10 16:58] parasharrajat commented on #11982
Let's hold the payment for this issue until I have reviewed the suspected regression. If this really caused https://github.com/Expensify/App/issues/12428 then payment will be made after that is fixed.

[2022-11-10 17:01] mananjadhav commented on #10352
@Christinadobrzyn I can say we never design the AttachmentView for iPad. Hence, the fix was to also refactor the component to remove all the padding. Do you still need the PR?

[2022-11-10 17:03] MitchExpensify commented on #10262
Doubled and created a new [Upwork Job](https://www.upwork.com/jobs/~01a97cccfd627cb0ad)

[2022-11-10 17:06] mananjadhav commented on #12276
I am going to review this one in a while

[2022-11-10 17:09] mananjadhav commented on #11463
Thanks for the comments @flodnv @JmillsExpensify. This statement was critical to get aligned on the expected output.

---

Waiting for proposals.

[2022-11-10 17:11] mananjadhav commented on #11697
@maddylewis Still waiting on proposals.

[2022-11-10 17:14] stitesExpensify commented on #7968
Gotcha, thanks for the clarification.

What do you think about removing the global listener all together?

[2022-11-10 17:14] joekaufmanexpensify commented on #2727
Job still needs to be accepted before this can be paid.

[2022-11-10 17:15] joekaufmanexpensify commented on #11916
Awaiting proposals.

[2022-11-10 17:17] eh2077 commented on #11093
Hi @aimane-chnaif, I just added a video about editing text on iOS for your information

https://user-images.githubusercontent.com/117511920/201162555-79d9be23-a36f-4d45-98ba-d832195cb758.mp4

[2022-11-10 17:17] parasharrajat commented on #12554
Ok, I tested it. It seems to work great .

@henriquefalconer's [proposal](https://github.com/Expensify/App/issues/12554#issuecomment-1309534644) looks good.

cc: @puneetlath

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-11-10 17:20] JmillsExpensify commented on #8364
Oh nice, this sounds like a really good plan btw.

[2022-11-10 17:20] kidroca commented on #11817
@roryabraham
What you're sharing is for when an update was downloaded and we inform the user that they can apply it

This content does not make sense for "Check for Update", because the update is still being downloaded - we just give quick feedback whether update exist (and we immediately start downloading it)

1. User selects "Check for Update"
2. We make a quick check and inform the user of the

[2022-11-10 17:22] JmillsExpensify commented on #8364
So what's the story on removing the custom option? Are we removing that in this PR? Or is that being separated off to it's own distinct project? I think latter is probably the most logical at this point, though wanted to confirm. cc @zanyrenney (I tried to find Ted Harris via his username but nothing was coming up).

[2022-11-10 17:27] yuwenmemon commented on #12615
Yes, done!

[2022-11-10 17:29] yuwenmemon commented on #12615
Looking into this one!

[2022-11-10 17:36] Delgee commented on #12542
### Proposal
### Root cause
This issue is a race condition that happens when you change the unit before the rate change response is returned.
It should not be an issue in normal cases since the server will respond before human input. But there is a debouncer with 1 second added to the "rate" Input so it gives the "unit change" selectbox 1 second of a headstart.
### Solution 1
Just add another debo

[2022-11-10 17:37] JmillsExpensify commented on #11341
I also just tested and it's fixed now. Disregard above, thanks!

[2022-11-10 17:38] dangrous commented on #12635
Will investigate!

[2022-11-10 17:38] yuwenmemon commented on #12615
@marcochavezf will handle checking https://github.com/Expensify/App/pull/12552 on staging 👌

FYI we're not deploying today because of the earnings call! But I will hopefully get the checklist into a place where we can `:shipit:` tomorrow morning first thing.

[2022-11-10 17:39] JmillsExpensify commented on #11063
Ok yeah it's come up in a couple of contexts, in https://github.com/Expensify/App/issues/12264 most recently. It's fine if it's a separate project. I'm not clear why we block that file type in the first place.

[2022-11-10 17:40] JmillsExpensify commented on #11850
Fine with whatever on the copy side!

[2022-11-10 17:43] kidroca commented on #12603
Hey guys, the linked ticket actually had a PR and it looks like it was almost merged: https://github.com/necolas/react-native-web/pull/1470/files

As you can see it change a bit too much

There are a few things that I'd like to do differently
1. Start by adding support for headers - so nothing about supporting POST (yet)
2. Don't change `ImageUriCache` (yet) - the existing PR uses everything in th

[2022-11-10 17:52] JmillsExpensify commented on #12574
@muttmuure This one has come up in a couple of contexts. Let's triage this and get the process started.

[2022-11-10 17:55] maddylewis commented on #12143
@neil-marcellini - just catching up here!

is the outstanding request here to pay $250 to @0xmiroslav for this bug fix?

[2022-11-10 18:02] JmillsExpensify commented on #11658
Yes, also discussed in the linked thread.

[2022-11-10 18:05] conorpendergrast commented on #11515
Ok, so today, with the exact same setup (iOS 16.0.3, with NewDot v1.2.26-0) I **could not reproduce**. It correctly showed as unread when I killed the app (recording below) and reopened, and when I just closed the app and reopened (not in the recording below).

That is confusing

https://user-images.githubusercontent.com/5802477/201172624-f369b830-5c9f-4bcb-8247-211c7bda1415.MP4

[2022-11-10 18:07] neil-marcellini commented on #11236
Friendly bump @davidcardoza

[2022-11-10 18:07] JmillsExpensify commented on #10409
Updated to weekly given the hold.

[2022-11-10 18:11] JmillsExpensify commented on #11236
Upwork job is here: https://www.upwork.com/jobs/~0191ce65e423231f48. @sobitneupane and @Tushu17 can both of you apply and we'll get this handled for you asap. Thanks!

[2022-11-10 18:13] JmillsExpensify commented on #11914
We should consider taking this one internal, as it's blocking a test script from being added to TestRail. In the meantime, maybe doubling the price again will help encourage contributor proposals!

[2022-11-10 18:14] dangrous commented on #12635
Just putting the info I found so far here as well as in Slack:

This appears to be caused not by any slow responses from the API, but from a long delayed call to the API - `AuthenticatePusher` is sent about 3-4 seconds (on web) after the previous API call, and possibly never on iOS. Either `OpenReport` is not called until after that response is returned, or it's called at the same time (but theref

[2022-11-10 18:15] Pujan92 commented on #12431
### **Proposal**

We can use prop `onSubmitEditing` on `TextInput` to determine whether enter is pressed from the text input or not, in the case when it is pressed when the user is focused within the text input we can take the button ref and execute `onPress` of it.

In the `BaseTextInput.js` file, we can add prop assignment and with the prop chain we can get notify in the caller component.
`onSub

[2022-11-10 18:16] muttmuure commented on #11966
I just got access to Test Rail so I can try to reproduce this tomorrow

[2022-11-10 18:17] #12630 closed

[2022-11-10 18:18] JmillsExpensify commented on #11236
@sobitneupane Offer sent.

[2022-11-10 18:19] michaelhaxhiu commented on #10907
I could use help from Chirag to assess #1, because I spent about 20 min reading through that GH again and feel incredibly unclear on what's going on. I know we intend to remove `Uploading Attachment...` but I do not know if that will jointly resolve the issue of image uploads working without flashing / flickering.

[2022-11-10 18:20] JmillsExpensify commented on #11236
We're down to @Tushu17. Let us know when you're online and we can handle. Thanks all!

[2022-11-10 18:22] PauloGasparSv commented on #12123
Still no updates. Asked if someone could take this over [yesterday on engineering-chat](https://expensify.slack.com/archives/C03TQ48KC/p1668022345280149) because I still couldn't find time to work on this : /

[2022-11-10 18:24] neil-marcellini commented on #12143
@maddylewis, @0xmiroslav [identified](https://github.com/Expensify/App/issues/12143#issuecomment-1293973854) that the problem was on the back end and I fixed the problem myself. He pointed me in the right direction. Does he deserve any payment?

[2022-11-10 18:28] Tushu17 commented on #11236
@JmillsExpensify Okay, I've applied for the job.

[2022-11-10 18:29] michaelhaxhiu commented on #10893
@cowboycito we'll aim to give a confirmation on next steps in the next 1-2 days. I'm sure @Santhosh-Sellavel is already moving on it :) And then @NikkiWines can give the approval and we move forward.

[2022-11-10 18:30] neil-marcellini commented on #9581
Hi @abekkala, sure I'll give you an update. For quite a while this issue was on hold because this form contains other forms within it, and those needed to be refactored first. That is done now, so we are reviewing a proposal from @mollfpr. Once @Santhosh-Sellavel and I give the thumbs up he will put up a PR for us to review. The form refactor requires a lot of changes as you can see, so it takes a

[2022-11-10 18:31] abekkala commented on #9581
Thanks @neil-marcellini  - I'll wait for the 👍  to take the hiring actions in Upwork.

[2022-11-10 18:32] JmillsExpensify commented on #11236
Thanks, offer sent just now.

[2022-11-10 18:32] cowboycito commented on #10893
Just a quick note. I literally just noticed that the solution in the POC branch is trying to open the app when you open it on iOS web. That would for sure be fixed in the final solution, just need to investigate the issue a little bit more.

[2022-11-10 18:34] puneetlath commented on #10364
Paid! Thanks for your patience and thanks for the bug report.

[2022-11-10 18:34] #10364 closed

[2022-11-10 18:34] Tushu17 commented on #11236
Offer accepted. Thank you.

[2022-11-10 18:36] JmillsExpensify commented on #11236
Everyone is paid out. Thanks again everyone and sorry for the delay! ❤️

[2022-11-10 18:36] #11236 closed

[2022-11-10 18:36] Beamanator commented on #11063
Aah interestingggg, I'm happy to make it another issue in my tracker, though maybe a bit lower priority

[2022-11-10 18:36] parasharrajat commented on #11229
Ok, we decided to move with this solution for now. There are a few things that should be improved in the proposal.

1. Move `componentDidUpdate` conditions into a function and break the condition into smaller ones and comment about each check over them.
2. Rest there are some naming concerns but we will tackle those in PR.

@aimane-chnaif [proposal 1](https://github.com/Expensify/App/issues/11229#

[2022-11-10 18:37] maddylewis commented on #12143
thank you for that context! let me confirm :)

[2022-11-10 18:38] neil-marcellini commented on #10729
My understanding is that to test a solution to this issue https://github.com/Expensify/App/issues/12400, we need a form that uses IdentityForm. Is that indeed the problem in question? Could we use Storybook to test IdentityForm in isolation? If not then it sounds like we will have to hold https://github.com/Expensify/App/issues/12400 on https://github.com/Expensify/App/issues/9581.

[2022-11-10 18:39] parasharrajat commented on #11093
Thanks for the notes @aimane-chnaif. @eh2077 Please check the old discussion for existing challenges and issues.

[2022-11-10 18:40] Puneet-here commented on #11820
@davidcardoza, I have accepted the offer.

[2022-11-10 18:44] abekkala commented on #11921
@jasperhuangg @sobitneupane
If you approve of the above proposal just give me a quick thumbs ups and I'll start the hiring steps in Upwork

[2022-11-10 18:45] maddylewis commented on #12143
great news @0xmiroslav - you do get a reporting bonus of $250 for correctly identifying a bug/proposing a fix.

I will get that payment out to you asap and then post in this issue once that's complete!

[2022-11-10 18:47] ctkochan22 commented on #12046
@s77rt if you have an example where this is an issue or proof that this can be exploited, let us know!

Otherwise, I'm going to close this out

[2022-11-10 18:49] abekkala commented on #12240
@aldo-expensify can you let me know where we're at here? Do you need the `help wanted` label re-applied?

[2022-11-10 18:50] puneetlath commented on #12603
I added the `NewFeature` label since _I believe_ this is new functionality, not a bug with existing functionality. And I demoted to weekly as a result. @Beamanator If that's incorrect, let me know!

[2022-11-10 18:50] Beamanator commented on #11341
Updated OP & title to reflect new goal for this issue & PR

[2022-11-10 18:51] trjExpensify commented on #11921
If the fix for this is going to be coming in the same PR as the one for #12028, then we should combine C+ reviewers and issues.

[2022-11-10 18:52] abekkala commented on #12511
@neil-marcellini  can I confirm that we're waiting for the proposal in Upwork before I can do the hiring task?

[2022-11-10 18:53] thesahindia commented on #12046
I think it's eligible for reporting compensation? Can we reopen?

[2022-11-10 18:54] kbecciv commented on #12448
Issue is still reproduced with build 1.2.26.0

https://user-images.githubusercontent.com/93399543/201181863-a1f9acb9-6917-4ac8-a93e-9ac8f94261cb.mp4

[2022-11-10 18:55] trjExpensify commented on #11229
Cool, so the "we" in this I presume means it's approved by @Beamanator as well at this point yeah? Let me know, and I'll get going on the job offer.

[2022-11-10 19:00] Beamanator commented on #12603
@kidroca thanks for the outline of your plan, sounds great to me 👍 I also don't understand _why_ we would need to cache post requests (or if it's a good idea) so it sounds like that's something we don't need to worry about, they can implement that themselves if they want 🤷

Just to be clear, will you make a PR in the main project **and** in our fork?

[2022-11-10 19:01] Beamanator commented on #12603
@puneetlath that makes sense to me 👍 It's technically a bug, but we haven't used that functionality in the past so it didn't affect us - so it's kinda 1/2 1/2 :D

[2022-11-10 19:02] trjExpensify commented on #10792
Okay cool, so what's the game plan? Did @Szymon20000 have a draft PR for this that we're proceeding with now?

[2022-11-10 19:03] Beamanator commented on #11229
Agree with @parasharrajat 👍  And yes, your spidey-senses were correct @trjExpensify 😉

[2022-11-10 19:05] trjExpensify commented on #11695
@gadhiyamanan this issue exists in portrait mode? CC: @sobitneupane from [here](https://github.com/Expensify/App/issues/11695#issuecomment-1274010949).

That's not true over the long term. This list and `Payments` page will grow, so we should be mindful of that.

[2022-11-10 19:06] lschurr commented on #7467
@kbecciv - are you able to reproduce this?

[2022-11-10 19:10] kbecciv commented on #7467
@lschurr Let me check with team and I will get back to you shortly.

[2022-11-10 19:11] trjExpensify commented on #11229
Cool, so the job is [here](https://www.upwork.com/jobs/~01b928d306b8cb15bd) and I've sent you the offer @aimane-chnaif, and @parasharrajat for C+.

Look forward to the PR! 🚀

[2022-11-10 19:11] thomas-coldwell commented on #10792
Hey @trjExpensify - I've just been combining the areas where @Szymon20000 setup fast image and adding in the auth token headers based on PoC PR from @Beamanator. I will create a PR for this and link it here 🙌

[2022-11-10 19:12] davidcardoza commented on #11820
Paid.

[2022-11-10 19:12] AndrewGable commented on #11048
Still waiting on proposals

[2022-11-10 19:12] AndrewGable commented on #9293
Working on this now.

[2022-11-10 19:13] dangrous commented on #12635
@mollfpr This could potentially be a regression from https://github.com/Expensify/App/pull/12365 so wanted to see if you had any thoughts!

[2022-11-10 19:13] davidcardoza commented on #11796
@PauloGasparSv Could those go to an external contributor? I can create an Upwork post if so.

[2022-11-10 19:16] neil-marcellini commented on #12511
I think you should be on [this SO step](https://stackoverflow.com/c/expensify/questions/7676#:~:text=If%20you%20don%27t%20see%20any%20proposals%2C%20click%20Invite%20Freelancers%20%2C%20click%20My%20Hires%20%2C%20search%20for%20the%20contributor.)?

[2022-11-10 19:21] Beamanator commented on #10792
I was working on responding and trying to find your GH handle @thomas-coldwell 😅 Seems like the standard `@` search doesn't let me find you easily somehow :'(

[2022-11-10 19:22] mananjadhav commented on #12616
Thanks for the proposal @s77rt.  I agree with your analysis.

I am wondering if this check should be at `FullPageNotFoundView` page itself? What do you think @Beamanator? That way it is fixed across all the pages. We can fallback to show a loader when `isLoadingInitialAppData` is true?

[2022-11-10 19:22] trjExpensify commented on #10792
Oh, amazing! Okay cool, let's co-assign this issue to you then @thomas-coldwell. :)

[2022-11-10 19:31] Beamanator commented on #12616
@s77rt Thanks for the analysis!

@mananjadhav I like this idea as well, I think it makes sense to apply this "fix" across all pages using `FullPageNotFoundView` - I want to get @Expensify/design 's opinion as well, though it looks like @shawnborton is OOO till Nov 17th

@laurenreidexpensify would you mind double-checking the proposed solution? Basically what you can see in the videos in [this post

[2022-11-10 19:33] PauloGasparSv commented on #11796
Sorry but even after investigating I can't say for sure @davidcardoza! I think this should be kept as internal for now.

[2022-11-10 19:33] aldo-expensify commented on #12022
Just noticed that there are some issues assigned to @ntrepanier , reapplying the `AutoAssignerTriage`!

[2022-11-10 19:35] aldo-expensify commented on #12289
Reapplying the `AutoAssignerTriage` because @ntrepanier was assigned

[2022-11-10 19:37] aldo-expensify commented on #11848
@abekkala can you help me with this question: https://github.com/Expensify/App/issues/11848#issuecomment-1304611366 🙏

[2022-11-10 19:37] parasharrajat commented on #8311
Ok, let's discuss your proposal @b1tjoy. There are a few regression happening here but we can ignore those for now.

Questions:
1. Why do we need to show popover on the `PreRenderer`?
2. You have shown the code but didn't explain why for each piece.

It works for me. Reason for adding this https://github.com/Expensify/App/issues/7497#issuecomment-1107902715.

3. Did you add the custom popover open

[2022-11-10 19:37] johncschuster commented on #11433
Just catching up on this! It looks like we're waiting on a final review from you, @roryabraham. Can you prioritize reviewing this PR so we can close this one out?

[2022-11-10 19:38] Beamanator commented on #8364
@twisterdotcom likes to be sneaky with his GH username 😉

I like this idea, implementing the page w/out the custom pronoun till we figure out exactly what we want to do there - this way we can implement the Pronouns page quite quickly 👍

[2022-11-10 19:41] thesahindia commented on #11951
Yep. If you haven't already joined the channel, you can request by sending an email at [contributors@expensify.com](mailto:contributors@expensify.com).

[2022-11-10 19:42] johncschuster commented on #11502
Thanks for the heads up, @mallenexpensify! I'll keep this one going strong.

[2022-11-10 19:42] aldo-expensify commented on #12240
Oh yes, you are right, this should have the `help wanted` label.. we haven't assigned this to a contributor, @thesahindia is the C+

[2022-11-10 19:43] trjExpensify commented on #11797
Updated the title because Melv didn't do it. On hold for payment on the 15th after the prod deploy.

[2022-11-10 19:43] JmillsExpensify commented on #12578
Now that I've added myself haha, let me test this issue and keep it moving forward.

[2022-11-10 19:45] JmillsExpensify commented on #12578
Well shoot, as soon as I say that, I look at the issue and I can't test this because it's an Android issue and I have no dev/real device. That said, this is a crash, so we should have a corresponding issue automatically created via Firebase. I'm going to search the repo now to see what's up.

[2022-11-10 19:46] kavimuru opened #12649 "[HELD on regression test checklist] [$250] [mWeb] keyboard type wrong on login page reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. open login page
2. click on phone or email
3. check keyboard type

## Expected Result:
should show email keyboard

## Actual

[2022-11-10 19:49] Beamanator commented on #11576
FYI we now may go with the current Pronouns design & open a new, separate project for redesigning the page & deciding what kind of "custom pronoun selector / creator" we want to implement ([discussion](https://expensify.slack.com/archives/C01GTK53T8Q/p1668109710032789?thread_ts=1666881832.702589&cid=C01GTK53T8Q))

[2022-11-10 19:50] s77rt commented on #12635
@dangrous
I think this is due to OpenApp delay, so maybe it's indeed internal?

One thing i can add is this (not related to the issue):
[code]
initially isLoadingInitialAppData will be undefined and !undefined is true which is not the desired results. Comparing with false is safer.

[2022-11-10 19:50] JmillsExpensify commented on #12578
In terms of likely candidates, I think this crash most closely mimics the reproduction steps. @cristipaval mind giving this a closer look? This is the [search query](https://github.com/Expensify/App/issues?q=is%3Aissue+investigate+crash+in%3Atitle+) for the automatically created Firebase issues, and then you can toggle on closed to find this crash in particular.

[2022-11-10 19:55] marcaaron commented on #12361
Still waiting

[2022-11-10 19:56] marcaaron commented on #12361
@eVoloshchak are you able to please update these issues when the `Overdue` label gets applied and no proposals are in?

[2022-11-10 20:00] eVoloshchak commented on #12361
Sure, will do

[2022-11-10 20:02] JmillsExpensify commented on #11192
@roryabraham I know sequence numbers is higher priority, though this PR is a good one to help move forward when you're able.

[2022-11-10 20:04] s77rt commented on #12635
Changing the chat will also trigger the skeleton but the chat gets loaded normally after calling OpenReport
I'm unable to consistently reproduce the reported issue. I was only able to reproduce it with the case of delayed OpenApp response and just few times

[2022-11-10 20:11] ctkochan22 commented on #12046
Oh sure

[2022-11-10 20:15] Puneet-here commented on #12378
@puneetlath, I am still able to reproduce. This is only reproducible when you search a user by going to the search page using the search icon. If you create a new chat using new chat options it works.

[2022-11-10 20:16] kavimuru opened #12650 "[$250] [mWeb] - Profile- long pressing checkbox label for timezone gets unfocused on its own after few seconds reported by @daraksha-dk"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app > Go to Profile
2. Press and hold the checkbox label
3. Focus will be lost on its own and no action will be taken

[2022-11-10 20:20] thesahindia commented on #8719
Bump @adelekennedy ^

[2022-11-10 20:27] kavimuru opened #12651 "[$250] [Bug] Details - Time is not updated in the details page if it's left open reported by @jayeshmangwani"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login with user A
2. navigate to any chat with user B
3. Press on user B profile icon
4. Check the Local time for user B
5. W

[2022-11-10 20:29] slafortune commented on #11414
@Puneet-here  - Yes, we will also compensate with a $250 bonus for that additional fix 👍

[2022-11-10 20:40] adelekennedy commented on #8719
@thesahindia whoops! Hired you fro the reporting bonus

[2022-11-10 20:44] thesahindia commented on #8719
Thanks, accepted!

[2022-11-10 20:46] thesahindia commented on #12046
Thanks!

@miljakljajic, I have applied to the job [here](https://www.upwork.com/jobs/~012cd3bc0f58a4991e). Please settle this up when you get time.

[2022-11-10 20:52] Puneet-here commented on #11414
Thank you🎉

[2022-11-10 20:54] kavimuru opened #12652 "There is an extra outer border on a protected pdf in chat reported by @huzaifa-99"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Send a protected pdf in any chat (a protected pdf sample is attached: Pass Ccccccc11)
2. Notice it has an extra outer border

[2022-11-10 20:58] Luke9389 commented on #12443
Ok I just did some reading and it looks like `.eot` is really only supported/used in Internet Explorer.

I know you're OOO, and we can just add them later. For now I'll continue w the PR.

[2022-11-10 21:01] thesahindia commented on #12652
Dupe https://github.com/Expensify/App/issues/11520

[2022-11-10 21:02] kbecciv commented on #11068
Issue is not reproduced on Web nor Desktop app, build 1.2.26.0

https://user-images.githubusercontent.com/93399543/201205045-48c7d8a7-1bfa-4c0f-8fa5-28b41c63c1dc.mp4

https://user-images.githubusercontent.com/93399543/201205102-40af7462-cd48-4b92-bab9-5718827401a0.mp4

[2022-11-10 21:03] marcaaron commented on #11768
Left a [summary](https://expensify.slack.com/archives/C01GTK53T8Q/p1668109720905119) on where this is at in `#expensify-open-source` today.

It seems like the two things left to resolve are:

- Should UP and DISMISS actions add items to the navigation history?
- Should we be able to go “forward” on native?

I think once we have some clear direction there we can put this down into a doc and send ou

[2022-11-10 21:04] kavimuru commented on #12652
Dupe #11520

[2022-11-10 21:04] #12652 closed

[2022-11-10 21:04] kbecciv commented on #7467
Issue is not reproduced, build 1.2.26.0

https://user-images.githubusercontent.com/93399543/201205433-73f14442-1992-455c-b721-72814b3a026d.mp4

https://user-images.githubusercontent.com/93399543/201205440-b3fc8166-4305-4ec3-b0c3-9caa28273d0b.mp4

[2022-11-10 21:07] adelekennedy commented on #11930
we just hit the doubling mark

[2022-11-10 21:09] kavimuru opened #12653 "Room name does not support special characters"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Proposal:
Update our rooms names to allow both dash - and underscore _ instead of just underscore as they do now. And also update our default when

[2022-11-10 21:22] mananjadhav commented on #12276
@kavimuru @tienifr Quick question, are you still able to reproduce this?

https://user-images.githubusercontent.com/3069065/201206250-62387a82-6a15-471b-b606-dce7d9bb64ef.mov

[2022-11-10 21:23] kavimuru opened #12654 "Focus not set to the right side modal when opened reported by @huzaifa-99"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open the right side modal (navigate to settings it will open the modal)
2. Try tabbing
3. Notice the focus is not automatical

[2022-11-10 21:25] Puneet-here commented on #12653
### Proposal

Change the regex
`[^a-zA-Z\d_-]/g`
https://github.com/Expensify/App/blob/5401816f3781da2db128781ab92084ffffc589c8/src/components/RoomNameInput.js#L62

[2022-11-10 21:27] mananjadhav commented on #12291
@jasperhuangg @sakluger The last I could trace the changes was creation of `SettlementButton` in this [PR](https://github.com/Expensify/App/pull/6651). We've set `buttonOptions` in the constructor since the beginning and hence it wouldn't have refreshed the code. Now I am not sure if we had this code in some other component before this.

@jasperhuangg do you have the information on this?

[2022-11-10 21:28] aldo-expensify commented on #12567
@lschurr added you back because I think we need to handle the C+ @thesahindia review in the [PR](https://github.com/Expensify/App/pull/12579)

[2022-11-10 21:35] joekaufmanexpensify commented on #12618
Reproduced on web production:

![2022-11-10_16-23-06 (1)](https://user-images.githubusercontent.com/54866469/201210821-480ed02f-2536-4e0d-baff-b1b862c67f24.gif)

[2022-11-10 21:36] joekaufmanexpensify commented on #12618
Passing to engineering for confirmation that this can be external prior to making upwork job!

[2022-11-10 21:38] cristipaval commented on #12578
I tested on 2 Samsung phones and on the emulator. I tested on dev with the latest main.
The App doesn't not crash but the cursor moves weird.

https://user-images.githubusercontent.com/18078393/201210919-e4211f8b-1ca1-43af-8a8d-04a8129a0cb3.mp4

[2022-11-10 21:43] joekaufmanexpensify commented on #12581
Expected behavior here is not entirely clear to me. Closing pending solution/clarity in[ this thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1668116607125399?thread_ts=1667947885.714449&cid=C01GTK53T8Q).

[2022-11-10 21:44] #12581 closed

[2022-11-10 21:45] JmillsExpensify commented on #12653
Not a bug, this is a design decision. Closing

[2022-11-10 21:45] #12653 closed

[2022-11-10 21:46] adelekennedy commented on #9253
reassigning - I'm going ooo next week

[2022-11-10 21:46] JmillsExpensify commented on #12653
Ah sorry I see now this doesn't have a `bug` label on it. I personally think we should put a freeze on all new features for WAQ so I'm keeping this closed.

[2022-11-10 21:50] adelekennedy commented on #9253
@strepanier03 reassigning to you while I'm ooo next week

[2022-11-10 21:51] JmillsExpensify commented on #12653
@puneetlath feel free to re-open if you'd like. I think my concern is that any person working on a new feature isn't solving bugs. And we have a mountain of bugs in this repo that we need to maintain focus on for the duration of WAQ.

[2022-11-10 21:51] adelekennedy commented on #9459
@abekkala I'm mostly ooo next week - reassigning this!

[2022-11-10 22:00] deetergp commented on #11086
I think we should just not wait for the `Copied` message. If the popup menu is there to receive the message, then great, but if the user has chosen to delete the message—and we have a modal to prevent accidental deletions—then we should do what the user wants and delete the message.

Thoughts, @muttmuure?

[2022-11-10 22:00] parasharrajat commented on #8311
Please do compare the rendering costs. IMO, ReportActionItemData context will trigger more renders. I believe the current will not as method definition will never change.

Let me know when you have updated your proposal.

[2022-11-10 22:02] gadhiyamanan commented on #12649
**Proposal**

use `CONST.KEYBOARD_TYPE.EMAIL_ADDRESS` instead of `getEmailKeyboardType()` and remove `getEmailKeyboardType()`
https://github.com/Expensify/App/blob/599f1b9c806cfb612b74a3b9378f0d988d29b889/src/pages/signin/LoginForm.js#L180

"*OR*"

change keyboard type in the below file from `default` to ` email-address ` and remove [index.native.js](https://github.com/Expensify/App/blob/main/src/

[2022-11-10 22:10] Dima-Kevanishvili commented on #12361
I actually wanted to propose on this bug, but I failed to come up with the solution, but I think I found the issue.
This is actually reproducible in Web version too. On the first open of chat the emoji picker won't show up.
The problem is that it actually does show up, you just can't see it. if you change the css styles for the reporter view to not have flex styles:
[code]
you can see this happeni

[2022-11-10 22:12] Beamanator commented on #11778
Woah that's really weird that the setting switched back & forth many times after waiting a while 🤔

[2022-11-10 22:13] eVoloshchak commented on #12319
PR was deployed to production

[2022-11-10 22:16] Beamanator commented on #11778
Hmm I'm not able to reproduce on Android, @kbecciv which device are you using? I'm Android, Samsung galaxy A71, App version v1.2.26-0

[2022-11-10 22:26] deetergp commented on #12276
Oh, hmm… Nice catch, @mananjadhav. Confirmed that the infinite spinner no longer happens anymore in `main` in web.

[2022-11-10 22:33] lschurr commented on #7467
Great, going to close. Thanks!

[2022-11-10 22:33] #7467 closed

[2022-11-10 22:36] lschurr commented on #12567
Hm, so do we need a job posting for this in Upwork @aldo-expensify?

[2022-11-10 22:51] JmillsExpensify commented on #12308
I just tried testing but I got an error trying to get past Onfido.
![IMG_1818263A2EC5-1](https://user-images.githubusercontent.com/1127863/201222658-3880a049-1818-4774-96da-f9a0a174a42a.jpeg)

[2022-11-10 22:56] Luke9389 commented on #11914
Once I'm done with my current bug, I'll come back if this one is still up for grabs.

[2022-11-10 23:13] tylerkaraszewski commented on #12131
Lol, immediately overdue. Not looked at yet.

[2022-11-10 23:28] shannonmccallexfy commented on #12381
Reviewed doc!

[2022-11-10 23:28] #12381 closed

[2022-11-10 23:28] adelekennedy commented on #10693
my first checklist!

[2022-11-10 23:29] AndrewGable commented on #9293
Made good progress on the API side of things, but running into issues when decoding. @kidroca or @roryabraham if you spot something, let me know...

1. Using this source map from `1.2.24.0` found here: https://github.com/Expensify/App/actions/runs/3395575377
2. I unzip it in App, get `main.jsbundle.map`
3. I use the stack trace from this issue: https://github.com/Expensify/App/issues/10907 and sam

[2022-11-10 23:30] shannonmccallexfy commented on #12251
I have read and reviewed this design doc

[2022-11-10 23:38] adelekennedy commented on #9941
@parasharrajat going through my issues before ooo, what are next steps?

[2022-11-10 23:38] fedirjh commented on #10202
@Santhosh-Sellavel how can you tell it's not equal ? take a look here the padding is consistent

https://user-images.githubusercontent.com/36869046/201227978-d4582250-9be0-4f48-b9a2-ee976e2c8b5d.mov

[2022-11-10 23:39] adelekennedy commented on #10830
reassigning to @kevinksullivan to bug sit while I'm ooo

[2022-11-10 23:40] adelekennedy commented on #11126
reassigning to you @johncschuster while I'm ooo!

[2022-11-10 23:42] adelekennedy commented on #11930
@isabelastisser reassigning to you while I'm gone to keep it doubling!

[2022-11-10 23:43] adelekennedy commented on #12315
So should we take a gamble on making this external or keep it internal @stitesExpensify @marcaaron?

[2022-11-10 23:44] adelekennedy commented on #12576
ty @aimane-chnaif closing this

[2022-11-10 23:44] #12576 closed

[2022-11-10 23:44] stitesExpensify commented on #12315
I'm thinking we can make it external and see if we get some proposals

[2022-11-10 23:44] adelekennedy commented on #12599
about to go ooo - assigning you @maddylewis

[2022-11-10 23:45] adelekennedy commented on #12645
@michaelhaxhiu lucky you - I'm about to go ooo and don't want this blocked on me

[2022-11-10 23:47] aldo-expensify commented on #12567
hehe, I'm a bit lost too, but I think:

- @thesahindia should be assigned to this issue because he is the C+ that reviewed the PR
- An Upwork job posting should be created to pay @thesahindia

@Beamanator is this correct?

[2022-11-10 23:49] Christinadobrzyn commented on #11275
Awesome! Thanks @parasharrajat - good to go with a reporting bonus based on this [chat](https://expensify.slack.com/archives/C01SKUP7QR0/p1667979039442149).  I hired you in Upwork for this job so I can pay the reporting bonus.

[2022-11-10 23:49] Beamanator commented on #12567
Kinda looks like a decent amount of people are still unclear how this works :D https://expensify.slack.com/archives/C01SKUP7QR0/p1668104342206089

[2022-11-10 23:51] fedirjh commented on #10202
@Julesssss me too .

https://user-images.githubusercontent.com/36869046/201228844-b93ff00a-88ea-43bc-a6e2-14009c259040.mov

As the `composerSizeButton` appears on 3 lines , removing the bottom margin won't create any issue

[2022-11-10 23:52] davidcardoza commented on #12319
@iwiznia Am I good to go processing payment?

[2022-11-10 23:53] Christinadobrzyn commented on #10352
@mananjadhav that might be a question for @Gonals
@aimane-chnaif what do you think is fair compensation for the work you've done - I can discuss with our team.

[2022-11-11 00:11] fedirjh commented on #10202
@Santhosh-Sellavel as I stated before `composerSizeButton` add extra `6px` which converts to input height increase , here the demo shows input height = `40px` for 2 lines and `66px` for 3 lines , check the demo here

https://user-images.githubusercontent.com/36869046/201232038-f655babf-cb14-4452-83de-a2a0e04cf7ba.mov

[2022-11-11 00:17] davidcardoza commented on #12650
I was able to reproduce this on mWeb. Sending off for engineering review.

[2022-11-11 00:18] davidcardoza commented on #12650
@flodnv I assume this can go out to an external contributor? Let me know and I will get a job post up.

[2022-11-11 00:18] jliexpensify commented on #12592
Reassigning to Kadie as I'm about to head OOO

[2022-11-11 00:21] francoisl commented on #12621
Yes this is normal, First Platypus Bank is a sandbox (test) bank from Plaid (see https://plaid.com/docs/sandbox/institutions/) and our staging servers are configured to connect to Plaid's sandbox API ([internal ref](https://github.com/Expensify/Salt/blob/cf14b63bb8a/www/files/www-config.php.template#L1988))

You should be able to connect to the real bank by disabling the "Use staging server" optio

[2022-11-11 00:21] #12621 closed

[2022-11-11 00:29] AndrewGable commented on #11711
@rafecolton enabled the large runners again for us, seeing how fast the tests are now 🚀

[2022-11-11 00:32] ctkochan22 commented on #12268
The error will look a little different because its an error being returned form the php side.

<img width="997" alt="image" src="https://user-images.githubusercontent.com/12980144/201234499-c99ab315-e6cd-4638-aea3-40a90698a08c.png">

Following how the code in the Form works at the moment.

[2022-11-11 00:37] aldo-expensify commented on #10792
I got assigned as a reviewer to the [PR](https://github.com/Expensify/App/pull/12648), a few of questions:

- Should I care about the checks not passing for verified signature in the commits?
    <img width="400" alt="image" src="https://user-images.githubusercontent.com/87341702/201234901-2814a60b-5fe4-4428-b029-ca29b92214c2.png">
- Should we get a C+ to review this?
- Does the requirements for t

[2022-11-11 00:39] roryabraham commented on #10792
The PR will not be mergeable without signed commits. @thomas-coldwell will have to retroactively sign those commits.

I think so, yes

Yes, absolutely. The PR affects cross-platform components.

[2022-11-11 00:40] trjExpensify commented on #12268
Got it. It would be better if that was in-line to the field in error really.

[2022-11-11 00:43] richdev1124 commented on #11930
@adelekennedy I reproduced issue, may I work for this issue too?

[2022-11-11 00:45] ctkochan22 commented on #12268
Yeah, I'm trying to see if I can make that happen. Currently I only know how to do that as a pending error, meaning the user would have to click an "x" to get rid of it. Which I don't like.

There must be a way

[2022-11-11 00:48] Santhosh-Sellavel commented on #9581
Will review it today!

[2022-11-11 00:50] neil-marcellini commented on #12000
In that discussion we decided that this needs a design doc. I started the project process today, designing in private, and I made a lot of good progress. I started [this tracking issue](https://github.com/Expensify/Expensify/issues/242444) as well and this issue will need to hold on it.

[2022-11-11 00:50] Santhosh-Sellavel commented on #12431
@arielgreen I can't get to this sooner, so unassigning! Please other C+, thanks!

[2022-11-11 00:50] trjExpensify commented on #12268
When there's a will, there's a way. 😉

[2022-11-11 00:53] Santhosh-Sellavel commented on #7968
Fine for me, but let's check the design/product team! As this could be a show stopper, as pressing enter will no longer perform an action. Are we taking about removing it every where or just here?

[2022-11-11 00:55] Santhosh-Sellavel commented on #12283
Thanks, @JmillsExpensify, now its more clear!

[2022-11-11 00:56] AndrewGable commented on #11711
Large runner results:
1. First APK took ~9 minutes (compared to ~17 minutes to build)
2. Second APK took ~4 minutes (compared to ~7 minutes to build)
3. Tests take about ~14 minutes (compared to ~15 minutes)

Total time ~30 minutes vs ~45 minutes

[2022-11-11 01:01] trjExpensify commented on #8364
Circling back to this issue. Do we agree to close it and not make any changes in the interim given that the re-design to pronouns is on its way?

[2022-11-11 01:02] trjExpensify commented on #8459
Where are we at here? It's almost Friday, again.. 😅

[2022-11-11 01:04] davidcardoza commented on #12000
@neil-marcellini Should the conversation move on to the tracking issue if this issue is planned to go through the design doc process - or is there a reason to keep both open?

[2022-11-11 01:06] Beamanator commented on #8364
Agree 👍 (close b/c we won't have a save button soon)

[2022-11-11 01:07] trjExpensify commented on #8364
Perfecto, thank ya'll!

[2022-11-11 01:07] #8364 closed

[2022-11-11 01:07] sobitneupane commented on #11921
@trjExpensify It is likely that the same PR will solve both the issues.

[2022-11-11 01:15] Santhosh-Sellavel commented on #12400
Sorry for the delay, @ctkochan22.
Both proposals are working!
But I like @0xmiroslav's proposals, here!
C+ Reviewed
🎀 👀 🎀

[2022-11-11 01:18] ctkochan22 commented on #12400
Cool thanks team. @zanyrenney lets hire @0xmiroslav

[2022-11-11 01:19] roryabraham commented on #9020
We could, but I like keeping it open as a monthly for now. I also think that implementing this will be a bit simpler once [this proposal](https://expensify.slack.com/archives/CC7NECV4L/p1666999594932679) is implemented

[2022-11-11 01:22] Beamanator opened #12658 "Allow SVG images to be uploaded as avatars (user & workspace)"
Coming from: https://github.com/Expensify/App/issues/11063#issuecomment-1310655579

[2022-11-11 01:22] roryabraham commented on #12189
Was chatting a bit with @JmillsExpensify and I think it might be a good idea to put this on HOLD so we can have a broader discussion about search features. I know emojis are the case-study here, but it's probably wise to take a step back here, evaluate our current and future needs, then design a performant, hopefully future-proof solution for search that will scale to meet our needs beyond just em

[2022-11-11 01:28] fedirjh commented on #10202
@Santhosh-Sellavel

#### 1 line

https://user-images.githubusercontent.com/36869046/201236051-654d00bc-d3a7-4d37-a9ec-75552f27ab6f.mov

#### 2 lines

https://user-images.githubusercontent.com/36869046/201240014-cfbfdc13-08f9-4dc3-bafe-2c40c2860651.mov

[2022-11-11 01:33] strepanier03 commented on #12508
I am out of the office tomorrow. If there is an urgent need on this GH from a BugZero team member, please post in #expensify-open-source for assistance.

[2022-11-11 01:33] Beamanator commented on #10894
Current top priority issues for this proj:
- https://github.com/Expensify/App/issues/10792
- https://github.com/Expensify/App/issues/12603
- https://github.com/Expensify/App/issues/11063

[2022-11-11 01:34] strepanier03 commented on #12151
@tienifr - Just a friendly bump to response to the comment from @eVoloshchak [here](https://github.com/Expensify/App/issues/12151#issuecomment-1308737280). Thanks

I am out of the office tomorrow. If there is an urgent need on this GH from a BugZero team member, please post in #expensify-open-source for assistance.

[2022-11-11 01:35] strepanier03 commented on #11863
Thank you @sobitneupane for reporting this.

@ctkochan22 and @sobitneupane - Does this mean we are accepting the proposal from @Uros787?

I am out of the office tomorrow. If there is an urgent need on this GH from a BugZero team member, please post in #expensify-open-source for assistance.

[2022-11-11 01:38] alexpensify commented on #12637
I see the Console response but I still can invite the user.

![image](https://user-images.githubusercontent.com/8107070/201243374-e22f959f-3a98-428d-9799-af6ed67f2671.png)

Assigning to engineering for extra eyes if we need to fix.

[2022-11-11 01:41] sobitneupane commented on #11863
Rather than increasing debounce time, we should optimize performance of search functionality and OptionList. Performance of OptionList is being optimized internally. It is being discussed [here](https://expensify.slack.com/archives/C049HHMV9SM/p1668110448762599).

Discussion: https://expensify.slack.com/archives/C049HHMV9SM/p1668110448762599

[2022-11-11 01:42] strepanier03 commented on #9253
Taking this over for @adelekennedy but I'm not sure what the status is or what is meant to be doing. @adelekennedy next time you reassign a GH it might be a good idea to leave a couple sentence update for the person taking it over.

Doesn't appear there is anything actionable on my end for today so I'll dig into this on Monday and get caught up on the discussion for why this is on hold.

[2022-11-11 01:43] fedirjh commented on #10202
@Santhosh-Sellavel i think that padding is fine here , i may refer to [Textarea Baseline inconsistency](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea#baseline_inconsistency) : The HTML specification doesn't define where the baseline of a <textarea> is, so different browsers set it to different positions.

[2022-11-11 01:43] strepanier03 commented on #8236
I am out of the office tomorrow. If there is an urgent need on this GH from a BugZero team member, please post in #expensify-open-source for assistance.

[2022-11-11 01:45] strepanier03 commented on #12238
I am out of the office tomorrow. If there is an urgent need on this GH from a BugZero team member, please post in #expensify-open-source for assistance.

[2022-11-11 01:45] strepanier03 commented on #12238
Oops, didn't meant to close that, sorry!

[2022-11-11 01:46] Santhosh-Sellavel commented on #10202
Thanks, @fedirjh this shows some clarity. Selection layer is not centered properly
These changes should be enough looks https://github.com/Expensify/App/issues/10202#issuecomment-1307930393

<img width="376" alt="Screenshot 2022-11-11 at 7 14 35 AM" src="https://user-images.githubusercontent.com/85645967/201244043-cab00546-f368-401d-9fa2-d90b0cd70e2e.png">

As this already looks good, thanks!
cc:

[2022-11-11 01:46] strepanier03 commented on #11954
Still held for now. Will check in Monday when I'm back online.

I am out of the office tomorrow. If there is an urgent need on this GH from a BugZero team member, please post in #expensify-open-source for assistance.

[2022-11-11 02:11] JmillsExpensify commented on #10894
Hugely helpful. Keep these kinds of hit lists coming!

[2022-11-11 02:14] JmillsExpensify commented on #10792
@trjExpensify Took the WAQ project off hold, yo.

[2022-11-11 02:16] alexpensify commented on #12571
Closing this in favor of the other issue listed here.

[2022-11-11 02:16] #12571 closed

[2022-11-11 02:17] sophiepintoraetz commented on #12324
@gadhiyamanan - did you have a proposal for how we can fix this?

[2022-11-11 02:18] tienifr commented on #12276
I can't reproduce anymore

[2022-11-11 02:24] JmillsExpensify commented on #11063
Added this project to WAQ - in progress

[2022-11-11 02:26] JmillsExpensify commented on #12264
Circling back on the SVG convo above, we're going to work on that on in https://github.com/Expensify/App/issues/12658.

[2022-11-11 02:29] JmillsExpensify commented on #12189
@stitesExpensify This is probably perfect timing for you, now that the LHN API refactor is wrapped up. There isn't any immediate urgency for emoji search, so it'd be good to make sure where ever we land approximates the use cases we'll need across chats, requests, card transactions, attachments and similar biz/consumer use cases.

[2022-11-11 02:30] arielgreen commented on #10888
@Luke9389 update please

[2022-11-11 02:31] kavimuru commented on #12276
@mananjadhav Not able to reproduce any more.

https://user-images.githubusercontent.com/43996225/201249787-c5045572-1823-4393-a8f5-403121a0c006.mp4

[2022-11-11 02:32] yuwenmemon commented on #12615
Okay, I think we are far enough away from the earnings call.

[2022-11-11 02:32] yuwenmemon commented on #12615
:shipit:

[2022-11-11 02:32] #12615 closed

[2022-11-11 02:33] JmillsExpensify commented on #9020
Ok, cool. Thinking more on this, you're right. We still need to do this. I was also probably too wrapped up in the specific implementation of boolean offline status, and where it fits. Assigning myself as well to keep it top of mind.

[2022-11-11 02:35] OSBotify opened #12662 "Deploy Checklist: New Expensify 2022-11-11"
**Release Version:** `1.2.27-4`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/11751
- [x] https://github.com/Expensify/App/pull/12157
- [x] https://github.com/Expensify/App/pull/12181
- [x] https://github.com/Expensify/App/pull/12282
- [x] https://gi

[2022-11-11 02:36] sophiepintoraetz commented on #12082
@Julesssss - am I correct in that we're waiting on steps to reliably produce the error in order to solicit proposals?

[2022-11-11 02:38] JmillsExpensify commented on #11711
Nice improvement!

[2022-11-11 02:44] JmillsExpensify commented on #12283
Also an update on this issue: It's pretty tricky. I tested two flows, and received a different result each time. Basically, if you follow the testing flow on mWeb, you receive no error. It's also possible to see the (HEIC) attachment after upload. However, if you test on native iOS, then the reproduction steps above produce the error. That makes me think that we're doing some combination of file p

[2022-11-11 02:58] JmillsExpensify commented on #12000
I think we should keep both open. I added this issue to the tracker.

[2022-11-11 03:01] wildan-m commented on #12028
@thesahindia

I've created a codepen to create a similar issue:
https://codepen.io/wildanmuhlis2/pen/KKeWGQr?editors=1000

That codepen is not precisely the same, but close enough.

Result In Chrome: (Chromium Based/Webkit)
<img width="212" alt="image" src="https://user-images.githubusercontent.com/11847279/201250959-f5b1398a-4527-45d0-b636-097a46ae5456.png">

Result in Safari: (Webkit)
<img width

[2022-11-11 03:16] hungvu193 commented on #12651
<b>Proposal</b>
In our current `DetailPage.js`, we only calculated the time inside render function, that's why the time's only updated when the component is rendered and rerendered.
<b>Solution</b>
We have 2 solutions here, force component to re-render every certain time or calculate the time again after certain time.
I will provide the code for the second solution:
[code]

[2022-11-11 03:17] sophiepintoraetz commented on #11590
This issue isn't reproducible for me anymore - i think https://github.com/Expensify/App/issues/11330 fixed this. @eVoloshchak @chauchausoup or @kavimuru - can you?

[2022-11-11 03:21] mollfpr commented on #12635
@dangrous

I think the skeleton view loader is not depending on the `AuthenticatePusher` response.

We use `!this.isReportReadyForDisplay()` to show the skeleton view. The `isReportReadyForDisplay` value depends on `isLoadingInitialAppData` which is from the `OpenApp` success response and `isTransitioning` where the report data load from the `OpenReport` success response.
https://github.com/Expens

[2022-11-11 03:44] OSBotify commented on #12662
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.27-0 :rocket:

[2022-11-11 04:08] mateocole commented on #12582
Moved to hold

[2022-11-11 04:18] JmillsExpensify commented on #9293
Adding this to WAQ based on recent discussion.

[2022-11-11 04:23] JmillsExpensify commented on #12578
That's super helpful! Ok we actually have several cursor issues in the /App repo, so I'll circle back tomorrow and see if this already exists. If it does, as I vaguely remember seeing something somewhere, then I will close. If not, then I'll update this issue to focus away from the crash and more so the cursory.

[2022-11-11 04:24] JmillsExpensify commented on #10824
I'll have to circle back to this one tomorrow. I'm finishing my day.

[2022-11-11 04:24] JmillsExpensify commented on #11726
Still haven't gotten to this one, though on my list.

[2022-11-11 04:26] JmillsExpensify commented on #12289
Alright, I will circle back to this one tomorrow. I want to test and update the reproduction steps before I triage this one.

[2022-11-11 04:54] mananjadhav commented on #12635
My take here:

The issue is happening due to `isLoadingInitialAppData`  being true and hence `isReadyForDisplay` is false.

Because I am not able to consistently reproduce this on Web, I haven't debugged the API response. But the `OpenApp` API is returning 407 (NOT_AUTHENTICATED), which _should probably_  get into `failureData` of the API call.

I saw this part in`SaveResponseInOnyx`.

[code]

Log

[2022-11-11 05:34] kidroca commented on #12603
Yes, I'll do that

[2022-11-11 05:52] sobitneupane commented on #12438
@hungvu193 As mentioned before, it recreates https://github.com/Expensify/App/issues/7768 issue.

https://user-images.githubusercontent.com/25876548/201272560-ee4e6bb4-2e6b-44e3-914d-d13808f00641.mov

[2022-11-11 06:35] mananjadhav commented on #10356
@MitchExpensify I am already hired for this job with this [link](https://www.upwork.com/nx/wm/workroom/31566647/overview). When I click on the link you've shared it says Job no longer available.

I am guessing it's the same link, but still fyi.

[2022-11-11 07:33] mollfpr commented on #12635
### Proposal
I can reproduce this with a high-traffic account **_applausetester+0704sveta@applause.expensifail.com_**. The issue workarounds don't resolve the issue.

I think it's a regression from https://github.com/Expensify/App/pull/12169 where we update the Onyx response data first then the success data.
https://github.com/Expensify/App/blob/ae385f9f676ba1527cf44fa5ec658072ba070113/src/libs/Mi

[2022-11-11 07:33] jayeshmangwani commented on #11695
# Updated Proposal

@eVoloshchak we are using FlatList for the PaymentMethodList so the payment list is scrollable, so rather than creating another scrollable view let's just use the ListHeaderComponent prop of the FlatList for the wallet amount and payment methods title

 1. we have to create a prop in the PaymentMethodList page for ListHeaderComponent

https://github.com/Expensify/App/blob/ae385

[2022-11-11 07:44] Christinadobrzyn commented on #11293
Still on hold waiting for - https://github.com/Expensify/Expensify/issues/227234

[2022-11-11 07:46] hungvu193 commented on #12438
@sobitneupane My bad, just tested on mobile and realized that's the limited of `react-native-modal`.
Here's my updated proposal. Tested on chrome, mobile, chrome, safari mobile
[code]

[2022-11-11 07:50] flodnv commented on #11892
@rushatgabhane can you review the PR please?

[2022-11-11 08:27] conorpendergrast commented on #11584
Ok, I've posted a recommended regression test ([internal channel link](https://expensify.slack.com/archives/C01SKUP7QR0/p1668154421465549)) and have posted the proposal to **not** add anything else to test for this ([#contributor-plus link](https://expensify.slack.com/archives/C02NK2DQWUX/p1668155104493619)).

Last step now, to pay [the three people we hired](https://github.com/Expensify/App/issue

[2022-11-11 08:48] conorpendergrast commented on #11584
All paid, and all set here. Thanks all!

[2022-11-11 09:24] mountiny commented on #12292
Will try to look into this today

[2022-11-11 09:25] tienifr commented on #12151
Hi @eVoloshchak We are using buildOptimisticChatReport in 8 places

In /Expensify/App/src/libs/ReportUtils.js
1. line 901: announceChatData  (for creating workspace )
2. line 917: adminsChatData  (for creating workspace )
3. line 929: expenseChatData   (for creating workspace )
(But after using buildOptimisticChatReport in 3 above places, we update directly to Oynx and don't update pendingField an

[2022-11-11 09:43] flodnv commented on #11515
I updated my Android app to NewDot v1.2.25 and I also cannot reproduce.

[2022-11-11 09:59] thesahindia commented on #12045
I was able to repro this every single time.

Just a note that sometimes you won't see the blank page just after deleting the workspace. You will need to switch to another chat and navigate back to the archived room (or maybe also reload the page)

[2022-11-11 10:09] mountiny commented on #11908
@dylanexpensify lets not forget to increase the bounty here for $750 given @0xmiroslav had to work on this one a bit more. Not sure how you keep track of these, maybe update a title

[2022-11-11 10:13] mountiny commented on #12189
I am not sure if the search logic we decide on here can influence much the search within the whole. We plan to use sqlite features/ sqlite search for that once logrock proves the concept 🤔  unless I am misunderstanding something here.

[2022-11-11 10:37] Julesssss commented on #12605
Oh, pretty sure this is a regression -- a RCA and testing older versions should locate the regression here. Will discuss this with Andrew though.

[2022-11-11 10:39] Abdallah-Ahmed-moh commented on #10950
Ok i have apply on upwork on the new post..

[2022-11-11 10:42] mountiny commented on #11854
Still no response from the maintainer. If nothing comes up til next week, I think we should try to use patch using that PR. Maintaining our fork might be overkill for this one PR.

[2022-11-11 10:43] s77rt commented on #12045
@thesahindia can you delete the stored database (Onyx) then try again?

[2022-11-11 10:43] zanyrenney commented on #12482
I'm ooo but this doesn't seem urgent so will get to it when I am back on Monday.

[2022-11-11 10:43] Julesssss commented on #11930
@richdev1124 you'll need to submit a proposal first, and then get selected. Please see our [Contributing](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) guides for more help.

[2022-11-11 10:46] zanyrenney commented on #12058
How is the review going @parasharrajat

[2022-11-11 10:47] zanyrenney commented on #10767
Will get to payment on Monday, I'm ooo / been unwell fyi @thienlnam

[2022-11-11 10:48] sketchydroide commented on #9580
this is being reviewed and worked on right now.

[2022-11-11 10:49] iwiznia commented on #12637
I can't reproduce this, @kbecciv can you share the full console error message (preferrably as text, since it has a huge URL in it)? The one you shared is truncated.
My guess is that it has something to so with the avatar image...

[2022-11-11 10:49] sketchydroide commented on #11818
@davidcardoza I think no regressions were found, so I think we are good to follow with the payment.

[2022-11-11 10:50] iwiznia commented on #12637
Oh, also, @alexpensify can't reproduce either (the console messages there are different than the OG post)

[2022-11-11 10:50] Julesssss commented on #12082
@kavimuru would you mind retesting and determining whether it's occurring on all accounts or just under specific circumstances? As we're not able to reproduce. Thanks

[2022-11-11 10:52] iwiznia commented on #12319
No, do what Melvin says.

[2022-11-11 10:57] Dima-Kevanishvili commented on #12650
### **Proposal**
Add `onLongPress` to checkboxes and currency button.
[code]
[code]
[code]
Code above also adds state instead of straight up variable, because long pressing added a problem where the checkbox wouldn't switch the first time.

I also found a bug that the timezone checkbox doesn't actually persist over a refresh, seems like there's not api calls called when toggling it. Would this be

[2022-11-11 11:00] thesahindia commented on #12045
Still reproducible.

[2022-11-11 11:09] smrutiparida commented on #12508
The below issue looks similar to the one disccused
https://github.com/facebook/react-native/issues/32145
https://github.com/software-mansion/react-native-reanimated/issues/2370
https://github.com/software-mansion/react-native-reanimated/issues/2364

They were resolved as fixed in PR https://github.com/software-mansion/react-native-reanimated/pull/2404

As we are in the RN version > 0.65 and react-

[2022-11-11 11:18] sobitneupane commented on #11277
Waiting for proposal.

[2022-11-11 11:23] sobitneupane commented on #12438
@hungvu193  We don't encourage use of `setTimeout `. Will you be able to find a solution without use of setTimeout?

And the other thing, the solution does not match our expected output:

[2022-11-11 11:28] hungvu193 commented on #12438
There is another solution that make paylist didn't rerender when the modal's show, I will try and update my proposal.

[2022-11-11 11:29] muttmuure commented on #11086
I agree with @deetergp - the button should be doing what it says it does, and we give a fair warning.

[2022-11-11 11:33] mananjadhav commented on #11086
Okay thanks for the comment. In that case I am fine with @Pujan92's proposal [here](https://github.com/Expensify/App/issues/11086#issuecomment-1305983329).

@deetergp All yours.

🎀 👀 🎀 
C+ reviewed

[2022-11-11 11:36] flaviadefaria commented on #12492
@kbecciv @Luke9389 what are your thoughts on the solution @smrutiparida posted above?

[2022-11-11 11:36] muttmuure commented on #11710
@Tushu17 has been paid and everyone's contract has ended. Closing out

[2022-11-11 11:36] #11710 closed

[2022-11-11 11:40] muttmuure commented on #11951
Looks like we had a lot of great discussion yesterday! @railway17 and @thesahindia - think we can get a working proposal today? There's $1000 in it for ya! 😉

[2022-11-11 11:42] railway17 commented on #11951
😉
It's almost fully investigated.
I think I can submit updated proposal today

[2022-11-11 11:48] laurenreidexpensify commented on #12616
The blank page sounds reasonable, but does that just hide the underlying issue instead of directly addressing it?

[2022-11-11 11:55] mananjadhav commented on #12616
I was going to recommend a spinner instead of a blank page and it is only going to be temporary.

[2022-11-11 12:16] MariaHCD commented on #11068
Thanks for confirming, @kbecciv. Looks like the issue is happening on mobile but not on web or desktop. Not sure what could be causing the discrepancy between mobile and web platforms since the information entered on mobile matches the data in the [SO](https://stackoverflow.com/c/expensify/questions/342) to create a verifying bank account. I think we're good to apply the engineering label again he

[2022-11-11 12:29] trjExpensify commented on #11854
Sounds good!

[2022-11-11 12:41] daraksha-dk commented on #12616
**Proposal**

To display a loading indicator a I propose these changes

[code]
at https://github.com/Expensify/App/blob/main/src/components/BlockingViews/FullPageNotFoundView.js

[2022-11-11 13:08] trjExpensify commented on #12599
Yep, this is a dupe, closing.

[2022-11-11 13:08] #12599 closed

[2022-11-11 13:11] trjExpensify commented on #10202
Awesome!! @fedirjh - I've sent you the job offer on Upwork! Please accept, and let us know the ETA of when we should expect a PR for this? 🚀

[2022-11-11 13:21] AmanuelAsfaw commented on #11701
Very sorry for being too late to respond, I clone the source code from git
and try to test from my local machine but when I try to run a command for
web `npm run web` it doesn't work for me. I corrected my npm(8.11.0) and
node(16.15.1) version but it still does not work for me.

I see a helper component which is a HOC to solve this problem in your
source code
https://github.com/Expensify/App/blob/

[2022-11-11 13:30] Karim-30 commented on #12188
I totally agree.

@mananjadhav The `ArrowUp`, `ArrowDown`, `Enter` and `Escape` all work in [this proposal](https://github.com/Expensify/App/issues/12188#issuecomment-1301705641), as you can see I selected the `:eyes:` emoji using the keyboard in the first video, we only added some logic in [triggerHotkeyActions](https://github.com/Expensify/App/blob/1e30fb51097392bfce6c45a9b635714b238e1449/src/pa

[2022-11-11 13:33] kavimuru opened #12665 "121 Emails not populating in NewDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. 121 emailed me directly.
2. Nothing showed up in NewDot, despite my email always doing this when ANYONE emails me.
3. Tried to

[2022-11-11 13:33] MonilBhavsar commented on #11810
Proposal looks good to me 👍

[2022-11-11 13:34] miljakljajic commented on #11851
Doubled to 1000.

[2022-11-11 13:39] kavimuru commented on #10091
@flodnv It is still reproducible with longer emails. Reopening this issue

https://user-images.githubusercontent.com/43996225/201351922-54d12274-88d4-4829-ada9-81d518c7e03a.mp4

[2022-11-11 13:40] MonilBhavsar commented on #11810
@tienifr left some comments on your proposal/PR after initial review

[2022-11-11 13:50] michaelhaxhiu commented on #10263
Asking internally for buddy check here - https://expensify.slack.com/archives/C03U7DCU4/p1668174580005129?thread_ts=1658993183.315469&cid=C03U7DCU4

[2022-11-11 13:54] jayeshmangwani commented on #11889
I think this issue has been solved now, I am not able to reproduce this on latest staging

[2022-11-11 14:06] slafortune commented on #11398
Doubled!

[2022-11-11 14:06] thesahindia commented on #12431
Thanks for the proposals everyone but I don't think we are focusing on accessibility right now. I will start a discussion on this.

[2022-11-11 14:08] thesahindia commented on #12654
This is a duplicate of https://github.com/Expensify/App/issues/5516

P.S. We aren't focusing on accessibility right now.

[2022-11-11 14:13] s77rt commented on #12010
### Proposal
[code]

### Details
There are two issues:
1. The main issue is introduced by #8443 to fix #7853 However the fix is not that effective, you can still get the focus border using TAB key. Besides it causes more issues specially on Safari. That's why I removed the onKeydown event listener
2. The second is more related to how Safari handles TAB and focus. After the first fix, you will be a

[2022-11-11 14:16] kbecciv opened #12666 "Android - Chat - App is crashed after sent the message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go to any chat and send the message

## Expected Result:
Message should be send

[2022-11-11 14:17] OSBotify commented on #12666
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-11 14:25] miljakljajic commented on #12046
Thank you! Once you accept my offer, I can make the payment.

[2022-11-11 14:26] alexandermendes commented on #12431
Fair enough, although if that does end up being the case it might be worth questioning why the issue was created 8 days ago and the external label added 2 days ago. Takes up people's time obviously to dig in and come up with solutions, might indicate a tweak in processes being needed!

[2022-11-11 14:27] kavimuru opened #12667 "Removing a new chat participant from selected members using tab adds the previous removed chat participant removed via tab reported by @huzaifa-99"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Click on the plus icon and select new group chat
2. On the group chat creation menu select 3 users with Tab key
3. Then Shift

[2022-11-11 14:33] abekkala commented on #9459
Hmm - just assigned. Not overdue MELVIN!

[2022-11-11 14:40] abekkala commented on #11848
@aldo-expensify hmm - it looks like Nicole didn't create an Upwork job for this? Is that correct? I'm not seeing any Upwork links in here.
Before I can hire and then pay there should have been an Upwork job posting for this, no?

Having just been thrown into this I want to make sure I understand where, in the process, this is right now.

Do I have it correct that this was confirmed to be an `Exter

[2022-11-11 14:41] Someone-here commented on #12018
This is fixed on chrome, in the last comment by me. Since I don't own a macbook would someone like to collaborate with me to find a solution for iOS as well?

[2022-11-11 14:42] thesahindia commented on #12046
@miljakljajic, accepted!

[2022-11-11 14:48] thesahindia commented on #12047
@kadiealexander, It is reproducible.

https://user-images.githubusercontent.com/83179295/201364338-3699e6f7-3623-46da-b2eb-90e28ee82429.mov

[2022-11-11 14:49] sobitneupane commented on #12010
@s77rt Thanks for your proposal.

Few Questions:
-> Does your proposal recreate https://github.com/Expensify/App/issues/7853 issue?
-> Does [this proposal](https://github.com/Expensify/App/issues/12058#issuecomment-1307500529) on [the other issue](https://github.com/Expensify/App/issues/12058) handle Safari problem as well?

[2022-11-11 14:52] puneetlath commented on #9270
@Julesssss should this still be on hold?

[2022-11-11 14:53] kavimuru opened #12668 "[$500] [HOLD for payment 2023-09-07] - Group chat - Selecting a user with tab adds the first user in the list as well reported by @huzaifa-99"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Click on the plus icon and select new group chat
2. On the group chat creation menu, Tab to a user after the first user (lets

[2022-11-11 14:54] miljakljajic commented on #12046
Paid, closed!

[2022-11-11 14:54] #12046 closed

[2022-11-11 14:57] joekaufmanexpensify commented on #11916
[Price doubled. ](https://www.upwork.com/jobs/~015db26f2a7ffd51f3) bumped in slack.

[2022-11-11 14:57] abekkala commented on #12511
Ah got it.
The three have been hired via Upwork

[2022-11-11 14:59] kavimuru commented on #11795
#12668

[2022-11-11 15:01] s77rt commented on #12010
@sobitneupane

Yes, the proposed fix does more harm than good. And as i said it's not effective, you can bypass the fix simply by pressing TAB.

Yes, the second issue is caused by how Safari works, this is a very known behaviour on Safari. Possible fixes:
1. (require user interaction) simply use Option+TAB instead of TAB
2. (require use interaction) https://ebay.gitbook.io/oatmeal/help/fix-safari-

[2022-11-11 15:02] puneetlath commented on #11427
All paid. Thanks everyone!

[2022-11-11 15:02] #11427 closed

[2022-11-11 15:05] joekaufmanexpensify commented on #11850
PR is in draft.

[2022-11-11 15:05] joekaufmanexpensify commented on #2727
Same.

[2022-11-11 15:06] mountiny commented on #12281
@kbecciv @kavimuru Could you please retest this in staging Android? Seems like a C+ tried this and wasnt able to repro anymore https://github.com/Expensify/App/pull/12369#issuecomment-1311795606

[2022-11-11 15:10] mananjadhav commented on #11848
@abekkala You're right. I guess the Upwork wasn't created. will you be able to create one and help here? The contributor was assigned the job [here](https://github.com/Expensify/App/issues/11848#issuecomment-1297425663), but we missed to take actions on Upwork.

[2022-11-11 15:10] joekaufmanexpensify commented on #12618
Pending confirmation of being an external issue.

[2022-11-11 15:11] sobitneupane commented on #12010
@s77rt It is an expected behavior https://github.com/Expensify/App/issues/7853#issuecomment-1054398902:

Fix of this issue should not recreate the other issue.

[2022-11-11 15:11] isabelastisser commented on #11354
Reviewing this by EOD.

[2022-11-11 15:12] isabelastisser commented on #12267
Not overdue, waiting for @roryabraham to review the proposal.

[2022-11-11 15:23] michaelhaxhiu commented on #9391
After discussing more internally, we feel the expected results are not ideal:

- In focus mode, if you create a group chat and navigate away from it (or refresh) then it shouldn't be retained in the LHN.
- It should only remain in the LHN while it’s the active chat (i.e. you didn't click away or refresh).

[2022-11-11 15:25] aitoraznar commented on #7375
Proposal

The issue is because the parent component of the Menu Items have a fixed width for non "isSmallScreenWidth".
The solution consists in giving to that parent component a style prop "width" with a 100% value and also another small change to cover the Desktop case.

I already have a working solution that only changes 2 lines.

[2022-11-11 15:35] dangrous commented on #12666
Was able to reproduce locally when pointing to the staging server.

Interestingly, not when pointed to my local dev environment. Not sure if that's useful information or not, tbd.

Will start looking through the checklist to see what might be the culprit.

[2022-11-11 15:39] dangrous commented on #12666
Looks like this is the error that's being thrown in the logs on the crash:

[OOPS!] API threw InvalidArgumentException - f862e02c8f5ff3962f0c8b69a4a8cbfc ~~ exceptionMessage: 'Invalid Push_Channel Parameters' exceptionFile: '/git/releases/expensify.com/76fb8d8/lib/Push/Channel.php' exceptionLine: '140' exceptionCode: '500'

[2022-11-11 15:39] s77rt commented on #12010
The discussion on #7853 is conflicting.
You either use both TAB and SHIFT or you don't.
SHIFT is also used select a message, example TAB+SHIFT to select the previous message.

- Use TAB and SHIFT:
remove the onKeyDown event listener

- Don't use TAB and SHIFT:
apply a style to PressableWithSecondaryInteraction
`style={styles.noSelect}`

Not every issue is a valid issue, and not every fix is a vali

[2022-11-11 15:42] muttmuure commented on #11966
I don't have an android so I'm not sure how I can reproduce this. I'm asking Hax

[2022-11-11 15:50] dangrous commented on #12666
Potential PRs (after removing the clearly unrelated ones):

https://github.com/Expensify/App/pull/12157
https://github.com/Expensify/App/pull/12604
https://github.com/Expensify/App/pull/12606

[2022-11-11 15:52] mollfpr commented on #9391
@michaelhaxhiu On the web should the group chat remain in the LHN after refresh? Because we still in the active chat and the report screen is still showing.

[2022-11-11 16:00] eVoloshchak commented on #11314
@Gonals, are we good to go with @Uros787's [proposal](https://github.com/Expensify/App/issues/11314#issuecomment-1273877298)?

[2022-11-11 16:01] dangrous commented on #12666
Here's the error from the android side (finally got Flipper working!) tldr - `java.lang.ArrayIndexOutOfBoundsException` don't quite know where/why though
[code]

[2022-11-11 16:02] eVoloshchak commented on #11688
@isabelastisser, reviewing the PR shortly
I think @tienifr isn't assigned to this GH job yet

[2022-11-11 16:03] s77rt commented on #7853
+1 for the revert

[2022-11-11 16:05] Julesssss commented on #12245
Let's close, and reopen if it is reproducible again. There must be some additional steps we're missing

[2022-11-11 16:05] #12245 closed

[2022-11-11 16:06] fedirjh commented on #10202
Thanks @trjExpensify , Offer accepted and #12669 created

[2022-11-11 16:08] eVoloshchak commented on #11964
Not overdue, the discussion is in progress on whether to use the drawer navigator

[2022-11-11 16:10] trjExpensify commented on #9391
Yeah, it should remain after a refresh because it's still your active chat.

[2022-11-11 16:11] trjExpensify commented on #10202
Awesome! Over to you @Santhosh-Sellavel!

[2022-11-11 16:12] mananjadhav commented on #9391
But then in mobileWeb, even if we refresh with the active Chat, it'll show LHN only. In that case, what is the expected behaviour? To show the empty group chat?

[2022-11-11 16:12] eVoloshchak commented on #12018
I can test your branch on iOS if you already have a solution
If not, I can recommend using macOS instances, we have a handy guide: [TESTING_MACOS_AND_IOS.md](https://github.com/Expensify/App/blob/main/contributingGuides/TESTING_MACOS_AND_IOS.md)

[2022-11-11 16:13] eh2077 commented on #11093
@aimane-chnaif Thanks for pointing that out. I'll learn more from the old discussions.

[2022-11-11 16:14] mollfpr commented on #9391
In my understanding, it should be removed? But I'm curious about the above confirmation.

[2022-11-11 16:15] mananjadhav commented on #9391
That's where most discussion happened when we start tracking the issue. So yeah I would like a formal confirmation on this wrt to mobile platforms.

[2022-11-11 16:18] eVoloshchak commented on #12246
Not overdue, waiting for proposals

[2022-11-11 16:21] mollfpr commented on #10729
I could create a storybook component for IdentityForm that use the `Form.js` but holding this until https://github.com/Expensify/App/issues/9581 passed is a good idea.

[2022-11-11 16:23] roryabraham commented on #7284
Typically GitHub Actions stuff is handled internally, but in this case I think it might be fine to make external, especially since there's a pretty clear implementation plan above ^

[2022-11-11 16:25] aitoraznar commented on #7375
**Proposal**

The issue is because the parent component of the Menu Items have a fixed width for non "isSmallScreenWidth" gigen by the "createMenuContainer" style.
The solution consists in giving a full width to the parent of the menu items in the case of a native device. Also taking into account the special case for the SidebarMenu in native menu.

I already have a working solution that only has

[2022-11-11 16:25] kbecciv opened #12670 "Connect Bank Account - Endless loading is shown when navigate to Connect Bank Account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR** https://github.com/Expensify/App/pull/12634

## Action Performed:
Precondition: Add VBA in Web for your testing

[2022-11-11 16:25] roryabraham commented on #7284
It's weird that this assigned @iwiznia, since I was already assigned to the issue so should've been an eligible CME. Unassigning you @iwiznia!

Also going to remove the C+ review on this issue and PR. Because they can't really test the PR anyways, it's just not as valuable

[2022-11-11 16:26] eVoloshchak commented on #12361
@Dima-Kevanishvili, thank you for sharing this!

I can reproduce it on `google.com`, so probably even a bigger issue than just `react-native-web`

<img width="861" alt="image" src="https://user-images.githubusercontent.com/9059945/201385372-4e929c01-f54f-4b79-90bf-ee03036666cf.png">

I wonder if this was present in previous macOS versions...

[2022-11-11 16:26] kbecciv commented on #12670
Checked in IOS production app and works fine, evidence attached

https://user-images.githubusercontent.com/93399543/201385513-7098ed42-30cb-4df7-acb6-808c0bd41e0f.MP4

[2022-11-11 16:26] kavimuru opened #12671 "Chat - Group DM with random names created and error message appears when selecting a existing /new user by search"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Click search and select any user

## Expected Result:
User taken to DM chat with the user

## Actual Res

[2022-11-11 16:27] hungvu193 commented on #12438
@sobitneupane
<b>Updated Proposal</b>
In `PaymentMethodList` there are 2 fields to decide the way the field's selected: `isAddPaymentMenuActive` and `actionPaymentMethodType` and they depend on the the visible of three modals (Delete, Confirm, Password Modal). So when we clicked on a row, DeleteModal 's showed, we click the `Delete` button, DeleteModal hide and in blink of an eye there were no vis

[2022-11-11 16:27] OSBotify commented on #12671
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-11 16:28] parasharrajat commented on #12428
I will review the proposal in few hours.

[2022-11-11 16:32] mountiny commented on #12292
Testing locally I think this needs to be internal. We have changed how the paypal address is saved and I guess something does not line up with where/how the data is saved and then it is not retrieved correctly.

[2022-11-11 16:32] joekaufmanexpensify opened #12672 "[hold for #11850] Warn about loss of un-synced data when 2FA enabled at domain level"
# Context
Per this [discussion](https://expensify.slack.com/archives/C048ZLJ78P5/p1667496802620869?thread_ts=1667337295.224049&cid=C048ZLJ78P5), we're currently working on removing passwords from both Expensify applications, including NewDot. While discussing that implementation, we realized that there are some interesting offline first 2FA considerations.

Specifically as when an admin enables 2F

[2022-11-11 16:32] mountiny commented on #12292
Removing the hold. @marcochavezf would you have some time/ willingness to look into this next week?

[2022-11-11 16:39] eVoloshchak commented on #11916
@Uros787 I was able to receive notifications in production version of the app, but wasn't able in DEV. Probably has something to do with the env

[2022-11-11 16:41] thesahindia commented on #12028
What I was trying to understand is why `user-select: none` is causing this issue just to be sure about the root cause, I tested this at codepen and now I don't have doubts about it.

@wildan-m, can you please test that your solution will work on all platforms?

[2022-11-11 16:45] melvin-bot[bot] opened #12673 "[$250] Investigate: 💥 Crash 💥 `com.onfido.android.sdk.capture.ui.camera.view.CameraSourcePreview.stopRecording`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.NullPointerException
### Attempt to invoke virtual method 'void com.onfido.android.sdk.capture.ui.camera.view.CameraSource.stopVideo()' on a null object reference
### `???` `com.onfido.android.sdk.capture.ui.camera.view.CameraSourcePreview.stopRecording`
### Number of Crashes: 1

[2022-11-11 16:51] roryabraham commented on #12234
PR almost done, but @rushatgabhane caught a style bug that we'll need to address

[2022-11-11 16:52] kbecciv opened #12674 "Chat - Some emoji appear in chat as 2 separate pictures"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open https://staging.new.expensify.com/and login
2. Open any chat
3. Send emoji like 'face-in-clouds' and 'face-exhaling'

##

[2022-11-11 16:54] abekkala commented on #11848
ok, I'll create the Upwork job and then hire yourself and @0xmiroslav

[2022-11-11 16:55] roryabraham commented on #12261
I personally haven't invested any time into this yet, but I'm definitely excited to work on it when the time is right. @shawnborton keep me posted on next steps and let me know how I can help!

We'll also want keep an eye on [this absolutely monstrous PR](https://github.com/lottie-react-native/lottie-react-native/pull/910) to add new architecture support in Lottie

[2022-11-11 17:00] abekkala commented on #11848
https://www.upwork.com/ab/applicants/1591112720305827840/job-details
https://www.upwork.com/jobs/~0130f6fcd09160c648

Posted and hiring done

[2022-11-11 17:04] eVoloshchak commented on #12361
Can confirm, works fine with a simple `HTML` form. Interesting stuff

I have the same behavior on 13.0, so probably not the OS version

[2022-11-11 17:04] jayeshmangwani commented on #11277
@gadhiyamanan can you please check this issue one more time from the latest main branch? for me, this issue happening in the play store build but not in the latest main branch

[2022-11-11 17:05] AndrewGable commented on #11711
I still worry this is too long to roll out in it's current iteration, our current tests run in under 5 minutes. I don't think we can expect to run these tests in that time, but I think we need to get them under a certain amount of time or increase their value.

[2022-11-11 17:10] marcaaron commented on #12022
I would recommend we not fix this. It's not really a "bug" and an intentional behavior that we've had for a long time. If there's no avatar to use a random avatar is generated. The fact that it is changing color doesn't feel like a real problem we need to solve and fixing it brings very little value.

[2022-11-11 17:10] abekkala commented on #11848
oh no - one should have been you and another for mananjadhav

[2022-11-11 17:12] mananjadhav commented on #11848
@abekkala No worries, I've applied for the Upwork job.

[2022-11-11 17:12] Someone-here commented on #12266
I did some digging and found out that the thing causing the problem, the root cause is the prop `isDrawerOpen`. Whenever this is true, the message screen loses focus when the window shrinks and when this is false, everything works correctly.

[2022-11-11 17:12] abekkala commented on #11848
Fixed! Sorry about that!

[2022-11-11 17:17] kbecciv opened #12675 "Request a call - User receives two error messages after inputting an invalid number & deleting"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the New Expensify App
2. Sign into a valid user with a workspace
3. Tap on Profile > Workspace > "?" icon
4. Tap on Reque

[2022-11-11 17:19] kbecciv commented on #9179
Issue is reproduced with build 1.2.27.0

https://user-images.githubusercontent.com/93399543/201394609-b5d3ccc2-7f66-4b15-8c66-35ec426f7bc9.mp4

[2022-11-11 17:20] parasharrajat commented on #12058
Checking now...

[2022-11-11 17:20] varshamb commented on #11914
@neil-marcellini @Luke9389 @parasharrajat
I am trying to reproduce the BUG. After doing Step 7, the input is grayed out (50% opacity) and this is expected result. Can you please help me to understand the bug.

https://user-images.githubusercontent.com/111683206/201394320-261e13ba-59d0-4e18-8484-10f73ceba7e9.mov

[2022-11-11 17:23] muttmuure commented on #11787
Everyone has been paid, closing out. Great work everyone.

[2022-11-11 17:23] #11787 closed

[2022-11-11 17:26] thesahindia commented on #12675
Doesn't look like a bug to me.

[2022-11-11 17:27] parasharrajat commented on #11914
I am also confuse a bit here. what does the workspace settings page has to do with Room renaming?

And when should this happen? after which step?

cc: @neil-marcellini

[2022-11-11 17:28] trjExpensify commented on #12675
Same. I'm confused how this is a bug? They didn't clear the invalid input fully and resubmit the form, so the error message remained?

[2022-11-11 17:34] michaelhaxhiu commented on #12266
@Someone-here that's an exciting lead, but we'll need you to frame it into a proposal. Did you have a chance to read this firstly? https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md

Within that page is a subsection about making proposals. Take a look if you have a moment.

[2022-11-11 17:35] marcaaron commented on #11948
We are discussing deprecating the drawer navigator so this should not be a problem in the future. I'd suggest we do nothing for now and close this issue or put it on hold and add it to the long list of bugs related to the drawer navigator.

[2022-11-11 17:37] Someone-here commented on #12266
Yes @michaelhaxhiu, thank you for your concern. I am aware of the the proposal workflow. I was just wondering the exact use of `isDrawerOpen` prop and once I figure that out, I will draft it into a proposal.

[2022-11-11 17:44] kbecciv opened #12676 "[HOLD] Restricted access - Redirection does not work"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Navigate to each of the following links
https://stag

[2022-11-11 17:46] dangrous commented on #12666
Not really making much progress here, have posted in #eng-chat to see if I can find some help!

[2022-11-11 17:46] kbecciv commented on #12676
QA team is Failing steps in TestRail https://expensify.testrail.io/index.php?/tests/view/2936076

[2022-11-11 17:47] mananjadhav commented on #11848
No worries. @abekkala, accepted the offer on Upwork.

[2022-11-11 17:49] thesahindia commented on #12675
Correct, let's close this?

[2022-11-11 17:49] trjExpensify commented on #12675
Yup, closing!

[2022-11-11 17:49] #12675 closed

[2022-11-11 17:52] AndrewGable commented on #9293
Ah OK I see from [the PR](https://github.com/Expensify/App/pull/9641):

So seeing some better results with this command:

[code]

[2022-11-11 17:56] jasperhuangg commented on #12291
Hmm it looks like that PR creates the settlement button using the constructor, it didn't necessarily introduce the bug, we just weren't aware of the bug when that PR went out and didn't know that was something we needed to test for. That being said, since that's the only PR that's related let's use that one. @mananjadhav

[2022-11-11 17:57] aldo-expensify commented on #11848
Thanks for sorting it out :)

[2022-11-11 17:57] wildan-m commented on #12028
@thesahindia
I've found chromium code that causes and might fix this behavior:
https://github.com/chromium/chromium/commit/31a47fcc693beef11e18e442342d156f296c3559

It's committed 16 days ago. It might be merged into chrome but I'm not sure when.

Forgot to add `WebkitUserSelect: auto` for Safari:

[code]

I've tested it on the web (chrome, FF, Safari), and desktop and the result is OK.
In Android

[2022-11-11 17:58] jasperhuangg commented on #12291
@sakluger If you comment on the PR, just make sure you mention something about how we should sure that all reusable components react accordingly to any prop updates.

[2022-11-11 17:59] mananjadhav commented on #12291
Honestly, this has been my dilemma for a few issues. Thanks for helping out here.

[2022-11-11 18:05] trjExpensify commented on #12665
@danielrvidal @flaviadefaria @techievivek @yuwenmemon - what's the expected behaviour here?

1. lead emailed a guide directly on their teamDot email address
2. The message didn't show in their NewDot DM with the customer

[2022-11-11 18:06] yuwenmemon commented on #12665
That's to be expected, yes. The emails simply go to the guide's gmail inbox.

[2022-11-11 18:12] hungvu193 commented on #12244
@sakluger Can you accept my application?

[2022-11-11 18:15] Beamanator commented on #11889
Ooh that's very good to know, I'll test this as well thanks for the heads up @jayeshmangwani

[2022-11-11 18:17] marcaaron commented on #12022
@aldo-expensify I think this is related to the change here https://github.com/Expensify/App/pull/11400

The server is still sending a md5 hash

https://github.com/Expensify/Web-Expensify/blob/03510d77cd89d1cd6311bd9189e4c4306d97612b/lib/User/Utils.php#L327-L333

But in the client we are doing something else so the avatar colors change now.

[2022-11-11 18:20] aldo-expensify commented on #12022
@marcaaron you are totally right, good finding!

[2022-11-11 18:20] Beamanator commented on #11889
Ok I agree this isn't reproducible anymore, time to close!

[2022-11-11 18:20] #11889 closed

[2022-11-11 18:22] thesahindia commented on #8005
Bump @adelekennedy

[2022-11-11 18:22] aldo-expensify commented on #12022
I think this may be the equivalent function in php: https://stackoverflow.com/a/15702546/16434681

[2022-11-11 18:23] parasharrajat commented on #9823
In discussions on the Slack. Close to conclusion.

[2022-11-11 18:24] parasharrajat commented on #11354
Bump @eVoloshchak https://github.com/Expensify/App/issues/11354#issuecomment-1304136387

[2022-11-11 18:27] JmillsExpensify commented on #12025
@laurenreidexpensify Wanted to make sure you have visibility on the regression in the linked PR. Let's wait for that to play out until the BZ checklist is filled out.

[2022-11-11 18:30] Beamanator commented on #12616
@mananjadhav I think it would be nice to see what a spinner would look like before agreeing it's a better solution - you 100% could be right but let's see first :D Maybe @daraksha-dk can show what their proposal would look like with a video?

@laurenreidexpensify I think there's no real "underlying issue" here that we're "avoiding fixing" - it's just a situation where the app is logging in and imm

[2022-11-11 18:34] puneetlath opened #12678 "Room name doesn't register special characters instead of throwing error"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps
1. Choose `New Room` from the create menu
2. Type in a special character (e.g. `!` or `.` in the roo

[2022-11-11 18:34] puneetlath commented on #12678
@lschurr I'll fix this.

[2022-11-11 18:37] s77rt commented on #12010
### Proposal (Updated)
[code]

### Details (Updated)
The issue #7853 addresses only SHIFT key but it actually applies to every key. I would say #7853 is a valid issue after all. However the proposed fix on #8443 is problematic.
In my updated proposal, instead of doing anything that affects accessibility, my solution is based on CSS. I have added a new state isFocusableVisible, if it's true then we

[2022-11-11 18:37] thienlnam commented on #11737
cc @slafortune Looks like we're missing some payments here

[2022-11-11 18:37] dangrous commented on #12666
It is indeed https://github.com/Expensify/App/pull/12606 - something about [changing the zindex of chats](https://github.com/Expensify/App/pull/12606/files#diff-9ac76d645ad53156c86195c1a8f5adb3bb9b71f78351e43c4e1b6d6896921c4eR169) isn't playing nicely with Android.

Tried removing that line and the crash doesn't seem to happen. Obviously that's not a good solution, though, so have reached out to @

[2022-11-11 18:38] thienlnam commented on #12208
Waiting for proposals, cc @davidcardoza could we double this issue?

[2022-11-11 18:38] aldo-expensify commented on #12359
Waiting for some clarifications

[2022-11-11 18:39] parasharrajat commented on #12058
Ok, this bug is occurring on the Firefox Mac but Firefox linux is working fine. :confused:.

[2022-11-11 18:39] AndrewGable commented on #9293
[Discussing internally](https://expensify.slack.com/archives/C094TGUTZ/p1668191890936699?thread_ts=1668189979.843489&cid=C094TGUTZ) but sounds like we need to configure our API to run this command further than we initially expected. Working on it!

[2022-11-11 18:40] roryabraham commented on #12666
@dangrous Great job triaging this, I'll start working on a fix now

[2022-11-11 18:40] roryabraham commented on #12666
Keeping you assigned so you get your GH points 😉

[2022-11-11 18:42] s77rt commented on #12616
@Beamanator
I think @daraksha-dk proposal's is not substantively different from mine, is it?

[2022-11-11 18:43] daraksha-dk commented on #12616
This is how it will look like

https://user-images.githubusercontent.com/71884990/201409359-ab512d16-153c-493d-8716-e862a2b86e33.mov

[2022-11-11 18:45] s77rt commented on #7853
I think my proposal here https://github.com/Expensify/App/issues/12010#issuecomment-1312059021 would be better than a revert. It fixes the original issue and does not cause weird behaviour.

[2022-11-11 18:46] huzaifa-99 commented on #12058
which distro did you try?

[2022-11-11 18:48] parasharrajat commented on #12058
Arch Linux
---

Ok, I think we can go with @huzaifa-99 's [proposal](https://github.com/Expensify/App/issues/12058#issuecomment-1307500529).  As the change is applied to this particular text which does not wrap on any platform, it will work fine.

I think there is no need to revert the https://github.com/Expensify/App/pull/12034. It will be useful for `TextLink Context`.

cc: @roryabraham

:ribbon

[2022-11-11 18:49] s77rt commented on #12058
@huzaifa-99
is it required to wrap in a `View`?

[2022-11-11 18:51] ctkochan22 commented on #12268
So we are discussing how to do inline here: https://expensify.slack.com/archives/C03TQ48KC/p1668128270722689
- Seems like a new PR could allow us to add inline errors - https://github.com/Expensify/App/pull/11465

In the meantime, this is the Web PR to get it fixed: https://github.com/Expensify/Web-Expensify/pull/35548

[2022-11-11 18:51] parasharrajat commented on #7853
This will be reverted as part of https://github.com/Expensify/App/issues/12554. We have found a better solution.

[2022-11-11 18:53] parasharrajat commented on #12010
Heads up, we are fixing the Tab key focus on `Enter password` link in https://github.com/Expensify/App/issues/12058#issuecomment-1312066971.

cc: @sobitneupane

[2022-11-11 18:54] s77rt commented on #12554
Won't the @henriquefalconer proposal's remove the tabbing functionality? We can't tab thought messages?

[2022-11-11 18:55] LucioChavezFuentes commented on #7860
Update: I managed to run the updated VirtualizedList on Web and test it with my proposal. I confirm the issue still exists with the new refactor and my proposal (with minor changes) still applies to fix the issue. It works great! I want to make tests on native platforms just to make sure I don't break something there. Also, I am working to reproduce this issue with minimal code in a sandbox so I c

[2022-11-11 18:55] parasharrajat commented on #12554
I think checked that. let me do that again.

[2022-11-11 18:55] JmillsExpensify commented on #12616
@laurenreidexpensify My two cents is that the spinner is superior. I think the app looks broken even with a blank page.

[2022-11-11 19:01] huzaifa-99 commented on #12058
@s77rt yup, otherwise

![Screenshot 2022-11-11 at 11 57 48 PM](https://user-images.githubusercontent.com/68777211/201411740-1b3f1ec0-2a2a-4a9a-b71c-27c0bb9a2040.png)

Basically we have to render in a single row (wrapped in a View with flexDirection of row)

[2022-11-11 19:01] JmillsExpensify commented on #11914
We're missing the word **room** in the expected/actual result, but that's the meaning as it's also the language used in the reproduction steps.

[2022-11-11 19:02] s77rt commented on #12058
I meant something like this
[code]

[2022-11-11 19:03] JmillsExpensify commented on #11914
The reason that this should happen is that the app is offline in this state, and this is a "pending action" which cannot be saved until the app comes back online. Here's another example for the workspace settings page, simply because I have that mock handy. Notice the second input? That's what we should be going for.

![image](https://user-images.githubusercontent.com/1127863/201412244-3d09fdeb-36

[2022-11-11 19:03] #12671 closed

[2022-11-11 19:04] huzaifa-99 commented on #12058
@s77rt something similar already proposed [here](https://github.com/Expensify/App/issues/12058#issuecomment-1302344519) but this would not as suggested by @parasharrajat [here](https://github.com/Expensify/App/issues/12058#issuecomment-1302662198)

[2022-11-11 19:05] JmillsExpensify commented on #11711
Totally. So what do you think that number is out of curiosity? 10? 15? Something else?

[2022-11-11 19:08] JmillsExpensify commented on #11277
Unfortunately don't have a way to test Android at the moment, so I'll have to rely on someone else jumping in to help confirm if this is still reproducible.

[2022-11-11 19:11] JmillsExpensify commented on #12261
Ha @shawnborton what a coincidence. Check out the reviewer on that linked PR!

[2022-11-11 19:13] AndrewGable commented on #11711
If we are going to run it on every commit, I think ~10 minutes would be OK. I don't know if it's realistic we will ever be able to speed these tests up that much so I think we might have to do something "out of the box".

One idea is we could run these tests on merge, then report the results back to the PR. If they introduce a performance regression then we could revert the PR, or something simila

[2022-11-11 19:15] JmillsExpensify commented on #12292
Thanks for circling back on this one @vitHoracek. @marcochavezf let me know if next week isn't realistic and I can try to find someone else to look into it.

[2022-11-11 19:15] s77rt commented on #12554
@parasharrajat
Can you upload a video?
I can't tab from my side

[2022-11-11 19:18] JmillsExpensify commented on #11711
I would love to have the most coverage possible, so this is an ideal place to start. Given that time between merge and QA is most cases, the 10 min "delay" also feels OK. In any case, not the real decision maker in this department. 😄

[2022-11-11 19:20] Someone-here commented on #12018
Okay, I tested on ios using snack https://snack.expo.dev/CPp4q2OGd and it is just native behavior for the cursor to go to the end. Even if we want to fix this, we would need a work-around from this which would require having a separate selection state and also setTimeOut because there is no react lifecycle hook that can update the selection state predictably after the component updates.

If we dec

[2022-11-11 19:21] roryabraham commented on #12666
I'm pretty sure that this is a bug in React Native, but because this is an hourly we can't really afford to fix it upstream right now, so we need a temporary workaround. Here are the first things I would suggest that we try:

1. Try just `zIndex={index + 1}`
1. If that doesn't work, try passing `removeClippedSubviews={false}` to the FlatList

Then, with lower priority, I can try to make a minimal

[2022-11-11 19:22] Beamanator commented on #12616
I think I agree, it is quite nice to have _something_ there - what about a skeleton view thing instead of a spinner? 🤔 I

[2022-11-11 19:23] JmillsExpensify commented on #12616
Now we're talking! That's a super great idea. It's easy to default to spinner, but even that can be improved upon.

[2022-11-11 19:24] ctkochan22 opened #12684 "Remove all uses of FetchFreePlanVerifiedBankAccount"
Replaced all the uses of FetchFreePlanVerifiedBankAccount in app for the API Refactors: https://github.com/Expensify/Expensify/issues/226858

Now remove all the unused code and tests