[2022-02-16 11:49] sobitneupane commented on #7764
**Proposal:**
Return isLastMessageDeleted from `getSimplifiedReportObject()` in src/libs/actions/Report.js and use it in src/libs/OptionsListUtils.js in the following way:
https://github.com/Expensify/App/blob/a98df645420cdb9cdcdc7977bb3daffbe0c0c883/src/libs/OptionsListUtils.js#L229-L231

[code]

[2022-02-16 11:50] adeel0202 commented on #7545
Yes, of course, @michaelhaxhiu. I just wanted to make sure that the previous job was not expired. Now that I know it is just an error, I'm going to reject the second job. Thank you.

[2022-02-16 11:52] adeel0202 commented on #7545
Declined the second offer, @michaelhaxhiu.

[2022-02-16 11:59] dylanexpensify commented on #7523
Sounds great! Will get on this now @luacmartins !

[2022-02-16 12:04] kidroca commented on #7772
Seems like the user being offline is not getting detected and is related to:
- https://github.com/Expensify/App/issues/6059

Report comments are only going to be persisted if we know we're offline
Since they are not, they are getting lost (like any other non persisted request) when we refresh

Solving the ticket above and making sure internet connectivity is detected correctly would solve the curr

[2022-02-16 12:12] kidroca commented on #7772
I don't think this is deploy blocker
- code around Network connectivity detection hasn't been changed recently
- network related packages (net-info) haven't been changed recently

Also it's stated that the bug is already on PROD: _"This also happens on prod build"_

[2022-02-16 12:41] dylanexpensify commented on #7523
discussing in slack best way to approach posting this issue on upwork!

[2022-02-16 13:17] MonilBhavsar commented on #7770
Thanks @parasharrajat!

[2022-02-16 13:29] parasharrajat commented on #7712
Could you please try to solve it change handler? There are many cases where the onBlur approach will not work.

[2022-02-16 13:31] kakajann commented on #7712
Could you provide any case?

[2022-02-16 13:36] parasharrajat commented on #7712
When a user types a value on Android and does not blur. After some time, He closes the app. Blur will be fired but there won't be enough time for the API call to complete.

[2022-02-16 13:48] kakajann commented on #7712
I see, makes sense.

Then we can keep this throttled function alongside `onBlur` https://github.com/Expensify/App/blob/394c301384ad3086fc13461bfe724deba65b344a/src/pages/workspace/reimburse/WorkspaceReimburseNoVBAView.js#L105-L106

How does that sound?

[2022-02-16 13:49] thesahindia commented on #7764
Aren't we removing [comment deleted] in https://github.com/Expensify/App/issues/7646 ?
cc: @parasharrajat @Julesssss

[2022-02-16 13:58] kbecciv opened #7773 "Send Money - "Delete comment" appears instead of sent $ money in LHN after refresh the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Open a chat with any user
4. Click the "+" button and then "Send money"
    <img width="429" alt="Sc

[2022-02-16 14:06] Beamanator commented on #7095
Assigning @K4tsuki to the issue for future job tracking :D (don't mind me 😅)

[2022-02-16 14:15] parasharrajat commented on #7712
I am sorry. I didn't understand. Where will you call the throttled method? I would suggest that you share a updated proposal.

[2022-02-16 14:17] thesahindia commented on #7585
### Updated proposal
We can add a ternary like below-
[code]
https://github.com/Expensify/App/blob/a98df645420cdb9cdcdc7977bb3daffbe0c0c883/src/pages/home/report/ReportActionCompose.js#L569-L574

[2022-02-16 14:39] parasharrajat commented on #7769
Investigating. ETA: 4-6 hours

[2022-02-16 14:44] flodnv commented on #7745
I am not sure if what we're adding in N7 will support this, but I agree with the overall direction.

[2022-02-16 14:57] laurenreidexpensify commented on #7739
@sobitneupane can you confirm if this happening only on Web app or across all platforms

[2022-02-16 15:03] kavimuru opened #7774 "Web - VBA - Unable to enter date in company info and personal info page using date picker or manually"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to the add bank account modal
2. Verify the Add bank account modal is displayed with 2 options to add bank accounts
3. Select the log in

[2022-02-16 15:15] kbecciv opened #7775 "mWeb - Connect bank - Error page loaded after select any field on the Company Information page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com and sign in with new applause.expensifail account
2. Select to Create a New Workspace at Global Create Me

[2022-02-16 15:16] OSBotify commented on #7775
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-02-16 15:39] pecanoro commented on #7619
If not, I guess I can add the needs reproduction label, but it was working fine using Chrome on my android phone.

[2022-02-16 15:53] kakajann commented on #7712
Updated my proposal

[2022-02-16 15:53] kavimuru opened #7776 "Desktop - IOU - Requestor user does not appear in LHN When login to settle IOU"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login as User A
2. Search for a User B which does not have any past IOU with User A
3. Complete request money flow
4. Login as User

[2022-02-16 15:54] OSBotify commented on #7776
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-02-16 15:59] kbecciv opened #7777 "[$500] IOS - App jumped after request the money from user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in with any account
2. Tap on any user
3. Tap on plus button
4. Select Request Money
5. Put amount and tap Continue

## Ex

[2022-02-16 16:03] kavimuru opened #7778 "IOS - Request Money- chat page jumps after request the money from user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in with any account
2. Tap on any user
3. Tap on plus button
4. Select Request Money
5. Put amount and tap Continue

## Ex

[2022-02-16 16:04] #7778 closed

[2022-02-16 16:04] sobitneupane commented on #7739
@laurenreidexpensify Issue exists across all platforms.

[2022-02-16 16:04] kavimuru commented on #7778
Already reported https://github.com/Expensify/App/issues/7777

[2022-02-16 16:10] Julesssss commented on #7764
Yes, good spot.

It's not certain that we'll prioritize that improvement internally though. I think we should just make this change anyway for now.

[2022-02-16 16:14] parasharrajat commented on #7764
Oh. Sorry, I thought it is a regression so I tagged Sobit.

[2022-02-16 16:14] Julesssss commented on #7646
If anyone picks this up within the next couple of days and manages to make progress, please close out [this external bugfix issue](https://github.com/Expensify/App/issues/7764) that would become redundant.

I left it open for now as it is not obvious that A) Someone will find time to prioritize this change internally, and B) that it is a simple change to make

[2022-02-16 16:15] neil-marcellini commented on #7774
👀

[2022-02-16 17:00] neil-marcellini commented on #7774
In BaseTextInput.js when [setValue](https://github.com/Expensify/App/blob/f7b24d795e7e25a7aa2039a3bda5653dc6da9d79/src/components/TextInput/BaseTextInput.js#L122) is called the value is undefined. I tried reverting #7722 and #7721 locally but that didn't fix it. I'll ask in Slack to see if anyone else has more context.

[2022-02-16 17:03] kbecciv opened #7779 "Domain group- Unable to request money from the user which is part of domain group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.expensify.com/[](javascript:)
2. Log in with expensifail account (admin account) - (applausetester+0707abb@applause.expensi

[2022-02-16 17:08] chiragsalian commented on #7715
Friendly bump, any update to my question above @kbecciv? 🙂

[2022-02-16 17:15] kbecciv opened #7780 "[HOLD for payment 2022-03-22] Reimburse expenses - Currency rate under track distance have been changed only after closing the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with expensifail account
2. Go to any Workspace
3. Click Reimburse expenses
4. Check your rate (UAH)
5. In the section "General settings"

[2022-02-16 17:43] kbecciv opened #7781 "Sign out - Error message appears after sign out from account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with applausetester+ihchat4@applause.expensifail.com account
3. Log out with applausetester+ihchat4@applause.expensifail

[2022-02-16 17:50] neil-marcellini commented on #7774
I'm still trying to figure out where this.value gets set to undefined on the BaseTextInput.

[2022-02-16 17:55] kidroca commented on #7324
Handling file pasting via Ctrl + C, Ctrl + V is not yet implemented in firefox. It's proposed here: https://github.com/mozilla/standards-positions/issues/484

TLDR: When the technology gets standardized this feature would work, with little or no change on our side

---

It's not possible to use the ClibpardAPI either. Firefox can only write to the clipboard but cannot read from it:
https://caniuse

[2022-02-16 17:57] laurenreidexpensify commented on #7597
Also pay @kakajann $250 for the original bug report a month earlier that never got committed to GH

[2022-02-16 17:59] parasharrajat commented on #7774
It is a possible regression from my PR https://github.com/Expensify/App/pull/7318. I am trying to fix it https://github.com/Expensify/App/issues/7769.

[2022-02-16 18:03] parasharrajat commented on #7775
It is a possible regression from my PR https://github.com/Expensify/App/pull/7318. I am trying to fix it https://github.com/Expensify/App/issues/7769. I will share update in an hour.

[2022-02-16 18:21] parasharrajat commented on #7774
@neil-marcellini Could you please this issue on https://github.com/Expensify/App/pull/7782 branch? I can follow the VBA flow.

[2022-02-16 18:43] parasharrajat commented on #7091
#### Proposal

After debugging I found out that changing the `defaultStatus` on [Base](https://github.com/Expensify/App/blob/a98df645420cdb9cdcdc7977bb3daffbe0c0c883/src/libs/Navigation/AppNavigator/BaseDrawerNavigator.js#L42) causes the navigation to break.

it is happening when we remount the navigator and change the `defaultStatus`. `defaultStatus` is supposed to be a first-time value (not cont

[2022-02-16 18:54] parasharrajat commented on #7379
I need translations for these:

1. Primary login
2. Enter your primary login

[2022-02-16 18:59] neil-marcellini commented on #7774
I can't either, but I've been just navigating to [/bank-account/company](http://localhost:8081/bank-account/company) which is where the problem occurs.

[2022-02-16 18:59] thienlnam commented on #7082
Wow melvinbot spam, putting this on a weekly while we hash out the authentication details internally

[2022-02-16 19:13] tylerkaraszewski commented on #7768
Seems like an issue to fix. Probably doable by an external contributor.

[2022-02-16 19:19] marcochavezf commented on #7772
Thanks for that @kidroca! Yeah, this is not blocker, I'm going to close the ticket because the issue is already being addressed in the issue that @kidroca linked.

[2022-02-16 19:19] #7772 closed

[2022-02-16 19:23] mvtglobally opened #7784 "Changing or Adding firstName or lastName in profile page removes the profile photo - reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Provide with avatar
1. Go to profile page.
2. Change or Add firstName or lastName
3. Click on Save Button

## Expected Result:
Changing displayName

[2022-02-16 19:24] OSBotify commented on #7784
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-02-16 19:29] mvtglobally commented on #7784
Some users are able to repro in PROD as well. Removing Deploy blocker label
regression from https://github.com/Expensify/App/pull/7366

[2022-02-16 19:30] kevinksullivan commented on #7602
Job created and invited @parasharrajat

https://www.upwork.com/jobs/~0127446cd70f96ceac

[2022-02-16 19:30] #7643 closed

[2022-02-16 19:31] NikkiWines commented on #7784
I experienced this the other day actually on staging - looking into the origin now

[2022-02-16 19:32] kevinksullivan commented on #7602
@parasharrajat invited to job!

[2022-02-16 19:35] kevinksullivan commented on #7644
@stephanieelliott I am going OOO so I am reassigning. Job is created, just need to hire and payout when the time comes!

[2022-02-16 19:37] mananjadhav commented on #7784
On it.

[2022-02-16 19:57] NikkiWines commented on #7784
@mananjadhav I think there's a simpler solution than what you implemented - working on something now.

[2022-02-16 20:04] iwiznia commented on #7309
Not overdue Melvin

[2022-02-16 20:05] mananjadhav commented on #7784
Ohh okay, I've raised a PR with the fix. Getting screenshots in place.

[2022-02-16 20:05] NicMendonca commented on #6883
Hi @mananjadhav 👋  ☝️  Are you still committed to working on this?

[2022-02-16 20:06] thienlnam commented on #3867
We should be live with this already and can close this right? @kidroca

[2022-02-16 20:15] mananjadhav commented on #6883
Thanks for the ping. I won't be able to soon.  If somebody doesn't pick in a week, then I'll check again.

I'll share my progress so far if it helps anyone. There are three parts to the implementation.
1. Enabling views/shortcut modal etc in all devices
2. At the moment, the keyboard shortcut map is created after the shortcut is registered, I feel we can create it purely from the `CONST` file.
3.

[2022-02-16 20:24] tgolen commented on #7531
Not overdue, decreasing priority.

[2022-02-16 20:27] stitesExpensify commented on #7470
Hi @okansahin any update here?

[2022-02-16 20:27] justinpersaud commented on #5266
Same -- need to revisit CSP, being handled in https://github.com/Expensify/Expensify/issues/171938

[2022-02-16 20:27] stitesExpensify commented on #6876
PR is up but there is an issue with iOS

[2022-02-16 20:28] mountiny commented on #6908
@parasharrajat any updates on this one? Would the solution you discussed previously help with this problem too?

[2022-02-16 20:36] parasharrajat commented on #6908
This is the current item on my list https://github.com/Expensify/App/issues/7363 so soon I will update you.

[2022-02-16 20:39] mountiny commented on #7363
Assigned Rajat

[2022-02-16 20:43] MitchExpensify commented on #7669
Sorry for the delay, team! Got caught up elsewhere

Mocks were a great call because as I went to make them I realize the OG solution may not be best.

What do we think about having the descriptive text for Visibility settings below the field like this?:

<img width="301" alt="image" src="https://user-images.githubusercontent.com/36425901/154353563-231912e4-324b-413e-a467-7be39d2b10ee.png">

The te

[2022-02-16 20:57] kbecciv commented on #7715
@chiragsalian Yes, I am consistently reproduce this issue, no shift key was held for this action.

[2022-02-16 21:09] iwiznia commented on #7688
@mdneyazahmad 👎 on your proposal. Either the SMS regex is wrong and we should update it OR there's really some valid cases of 3 digits phone numbers.

[2022-02-16 21:11] kbecciv opened #7786 "Web - Page with error message(crashed) when selecting Settings button from room details"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login with any applause account
2. Tap on Fub menu - Select New Room
3. Create a new room
4. Select on name of the room to view the

[2022-02-16 21:12] parasharrajat commented on #7688
I think 911 :robot:

[2022-02-16 21:13] kbecciv commented on #7182
@TomatoToaster assigned https://github.com/Expensify/App/issues/7786

[2022-02-16 21:15] parasharrajat commented on #7786
It could be due to my PR and please test it if this is fixed on https://github.com/Expensify/App/pull/7782 then please add this issue to that PR as well.

[2022-02-16 21:28] parasharrajat commented on #7308
This needs to be exported for reporting bonus. I am happy to fix it under https://github.com/Expensify/App/issues/6584. Randomly picking cc: @michaelhaxhiu as no one is assigned.

[2022-02-16 21:34] parasharrajat commented on #6967
Requested changes on the PR...

[2022-02-16 21:53] puneetlath commented on #7669
Ok cool. That seems like a better approach to me. @Expensify/design what do you think?

[2022-02-16 22:06] puneetlath commented on #7477
Some discussion happening here: https://expensify.slack.com/archives/C01GTK53T8Q/p1644858369174839

[2022-02-16 22:35] alex-mechler commented on #7436
Started to dig in, but am running into CORS issues while trying to work on this, as manually adding is not an option in the sandbox version of Plaid

[2022-02-16 22:37] NikkiWines commented on #7784
@mvtglobally is there a known bug about the `Save` button coloring being inconsistent and not aligned with the enabled/disabled state? Noticed it while testing https://github.com/Expensify/App/pull/7785 and looks like it's been around for a while now maybe?

Here are some videos showing the inconsistency:
![image](https://user-images.githubusercontent.com/16747822/154369049-539c9ce8-4d58-4199-b001

[2022-02-16 22:42] parasharrajat commented on #7325
Taking over from @rushatgabhane as C+. It looks like it is stalling for no reason.  cc: @kevinksullivan

I tested @K4tsuki's proposal and it seems to work on firefox and chrome.  One strange thing that I noticed on chrome was that it also selected the address on the address bar after a tab is focused.

I will test it on safari as well.

[2022-02-16 22:45] chiragsalian commented on #7715
Hmm weird, I cannot reproduce. Anyway no worries i'll open it up to contributors that can test and figure out the problem.

[2022-02-16 22:49] kadiealexander commented on #7487
Increased the job price to $500 💸💸💸

[2022-02-16 23:09] michaelhaxhiu commented on #7308
@parasharrajat https://www.upwork.com/jobs/~01a4c8aadd3c3f0685

[2022-02-16 23:10] michaelhaxhiu commented on #7308
You will be paid for the fix in https://github.com/Expensify/App/issues/6584, correct? So this will just be the $250 reporting bonus based on what I'm seeing!

[2022-02-16 23:11] neil-marcellini commented on #7469
I tested this locally on my IOS device with iMessage turned off, but I couldn't get the message to split. Below is the exact sms message that was sent and it is 226 characters, which is over the 160 character limit. According to [Twilio](https://www.twilio.com/docs/glossary/what-sms-character-limit) most modern phones re-combine the message before displaying it.

I sent this message to the android

[2022-02-16 23:12] parasharrajat commented on #7308
So I am refactoring the same component as part of #6584 so I am happy to fix this on that and thus you are correct. Thanks.

[2022-02-16 23:19] SofiedeVreese commented on #7764
To reconfirm, this is not a regression and should be pushed externally?

[2022-02-16 23:31] michaelhaxhiu commented on #7308
cool crystal clear 💎

[2022-02-16 23:32] michaelhaxhiu commented on #7308
thanks for offering to do that also, @parasharrajat

[2022-02-16 23:47] alex-mechler commented on #7779
It looks like we are failing to find the IOU report, but I'm not seeing any errors in the logs. Dropping to pool

[2022-02-16 23:54] alex-mechler commented on #7779
@kbecciv Can you get a screenshot of the network request for `GetIOUReport` when you attempt this? The logs arent being a ton of help here

[2022-02-17 00:15] kbecciv opened #7788 "IPAD - By dragging down the attachment in Preview page, it separated the part of header"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in with any account
2. Tap on any user
3. Tap on plus button
4. Select Add Attachment
5. Attach the PDF and Send it
6. Tap

[2022-02-17 00:21] marcaaron commented on #7469
Looks like an Android phone to me.

[2022-02-17 00:26] neil-marcellini commented on #7469
Agreed. I'm wondering if it's an older model. I'll ask in Slack if someone with an android phone can try to reproduce this.

[2022-02-17 00:27] mvtglobally commented on #7786
@parasharrajat are you saying your fix is ready? What's the ticket ID?

[2022-02-17 00:33] aldo-expensify commented on #7773
The [report prop](https://github.com/Expensify/App/blob/671a2e980a2fdd5c92b244363d4c31c5759282bb/src/libs/actions/Report.js#L171) had the following value in my case:

[code]

Since there is no `report.lastActionMessage.html`, the variable `lastActionMessage` gets initialized to `''` [here](https://github.com/Expensify/App/blob/671a2e980a2fdd5c92b244363d4c31c5759282bb/src/libs/actions/Report.js#L17

[2022-02-17 00:37] thienlnam commented on #7091
Thanks for the proposal and the comment @parasharrajat. I've looked over your proposal and it looks good, and I agree that @brianmuks was close to finding the solution and had an investigation that proved useful to your proposal.  With that being said, @parasharrajat You have the 🟢  from me to start on the PR and @brianmuks we're discussing a compensation for your efforts towards the solution

[2022-02-17 00:39] aldo-expensify commented on #7773
Updated instructions with simpler steps

[2022-02-17 00:41] MitchExpensify commented on #7645
Upwork job invites set to both @mananjadhav and @parasharrajat

[2022-02-17 00:42] brianmuks commented on #7091
@thienlnam thanks for your consideration.

[2022-02-17 00:45] thienlnam commented on #7424
Let's double it - though it would be good to see if this is still happening in latest builds.  cc @mvtglobally

[2022-02-17 00:46] MitchExpensify commented on #7545
Yeah, sorry this was caused by a weird Upwork pattern where you go to hire someone for one job but it autofills the most recent job (this one in this case) when sending the offer. Thank you both for catching it and resolving the issue!

[2022-02-17 00:50] thienlnam commented on #5768
Ah yeah, missed the proposal with all the discussion but you did a proposal first and it encapsulates the fixes needed for this issue.

🟢  to hire @parasharrajat for the job

[2022-02-17 00:53] aldo-expensify commented on #7773
Oh, it broke because of change in Web-E

[2022-02-17 00:55] MitchExpensify commented on #7738
[Upwork Job](https://www.upwork.com/jobs/~015896f1cdf115bfcf)

[2022-02-17 00:56] aldo-expensify commented on #7773
was it reported by a contributor?

[2022-02-17 00:59] NikkiWines commented on #7784
oh also @mvtglobally globally the PR to resolve this has been merged, not sure if there's more to be done since this isn't a deploy blocker anymore

[2022-02-17 01:37] megankelso commented on #7669
I think this works well!

[2022-02-17 01:52] #7182 closed

[2022-02-17 01:58] mvtglobally commented on #7773
@aldo-expensify NOT reported by a Contributor. Our team noticed it and @joekaufmanexpensify raised it as well in Slack

[2022-02-17 02:04] mvtglobally commented on #7784
@NikkiWines i will double check the Slack treads as well on Save button, but saw this https://github.com/Expensify/App/issues/5445 accessibility issue. Not sure if you are referring to the same

[2022-02-17 02:06] mvtglobally commented on #7424
@thienlnam team was able to repro during this Weekend KI check. I will ask to check on the most current build and update

[2022-02-17 02:25] roryabraham commented on #2985
Made a lot of progress in [this messy draft PR](https://github.com/facebook/react-native/pull/33094) towards implementing bidirectional scrolling directly in React Native's FlatList. I honestly think that the remaining bugs are related to the implementation of the `maintainVisibleContentPosition` prop in the native layer more than any JS code.

[2022-02-17 02:25] LucioChavezFuentes commented on #7535
Update, I only need to test my `Picker` on IOS and Mac, I am currently creating a Mac mini M1 instance on Scaleway.

[2022-02-17 02:31] kbecciv commented on #7779
@alex-mechler Sure, please attached. If you need credentials: applausetester+0707abb@applause.expensifail.com/Feya86Katya
<img src="
![image (9)](https://user-images.githubusercontent.com/93399543/154393377-7e9a9b78-2936-4636-a9b2-6b1c1249fb1c.png)
" width="40%" height="40%">

[2022-02-17 02:45] jliexpensify commented on #7773
@aldo-expensify - no need to create a job in Upworks right? Is this being handled internally?

[2022-02-17 02:48] jliexpensify commented on #6872
@parasharrajat @pecanoro - just wondering: am I good to pay this one? It looks like there was a failure on the iOS end

![image](https://user-images.githubusercontent.com/30815269/154395083-0b6503db-4589-4443-b396-eb5e0a6923ca.png)

[2022-02-17 03:41] kadiealexander commented on #7352
Doubled price to $1000 - https://www.upwork.com/jobs/~0104b0a207be0dbbcb

[2022-02-17 03:48] Christinadobrzyn commented on #7768
Created job post in Upwork

• Internal post - https://www.upwork.com/ab/applicants/1494155927379894272/job-details
• External post - https://www.upwork.com/jobs/~01041a83a6ab91e727

[2022-02-17 04:01] roryabraham commented on #6863
No update

[2022-02-17 04:01] roryabraham commented on #7582
No update here

[2022-02-17 04:02] roryabraham commented on #7094
Still no update 😕

[2022-02-17 04:09] roryabraham commented on #7759
Whoa, lots of deploy blockers 😬

[2022-02-17 04:21] roryabraham commented on #7776
Attempted to reproduce this by sending a request from user A on web to user B on desktop, and that didn't work. I'll try to reproduce on desktop only.

[2022-02-17 04:23] Viacheslav80 commented on #7497
@jboniface Done.

[2022-02-17 04:28] roryabraham commented on #7776
Yep, not able to reproduce this on dev.

[2022-02-17 04:29] roryabraham commented on #7776
Not able to reproduce on staging either.

[2022-02-17 04:29] roryabraham commented on #7759
I was not able to reproduce https://github.com/Expensify/App/issues/7776 on any platform. Can we please retest?

[2022-02-17 04:37] mvtglobally commented on #7759
@roryabraham  Will check and confirm

[2022-02-17 05:08] mateocole commented on #7625
By design, if a room is deleted we will still want to maintain all conversation in this room and leave it as is.

To clarify, are you saying the expected result for a deleted room with no chat history should say something like "nothing to see here" if there was no chat history?

[2022-02-17 05:11] mateocole commented on #7734
Can you add screenshots or a video recording to illustrate as an example

[2022-02-17 05:28] mvtglobally opened #7790 "Android - Number pad input lags - reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Start IOU request
3. Type any number

## Expected Result:
Numbers should be immediately displayed

## Actual Result:
 For some small

[2022-02-17 05:36] mvtglobally opened #7791 "[HOLD for payment 2022-03-22] Hide Invite & Leave Buttons on the Workspace's announce or admins room details - Reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. If you don't have any workspace, Create one use  :green-plus-button: button -> New Workspace
2. Now Open #announce Room or #admin Room chat for

[2022-02-17 05:41] mvtglobally opened #7792 "[HOLD for payment 2022-05-20] [$500] Highlighted contact in LHN changes if you open a different chat in another tab - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open a chat in tab 1
2. Open a different chat in tab 2
3. Check the highlighted contact in LHN of tab 1

## Expected Result:
Highlighted contact

[2022-02-17 05:45] ABee-Tech commented on #6967
@mallenexpensify @marcaaron So, do doubling the fee means doubling the total amount [$500] which I get for finding the issue [$250] and proposal [$250]? Or, only for proposal one only. And, also if you don't mind would you reevaluate the compensation? As it has been more than a month working on the PR. Applied more reusable codes. Can it be increased? It's okay if you reject the request for reeval

[2022-02-17 05:48] mvtglobally opened #7793 "Current password field does not have any validation - reported by @dharmik"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login
2. Click on Settings
3. Click on Security
4. Click on Change Password
5. Start typing current password field

## Expected Result:
Current p

[2022-02-17 05:53] mvtglobally opened #7794 "Feature Request: Add "Are you sure you want to Sign Out?" popup - reported by @dharmik"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Click on Settings > Sign out

## Expected Result:
Popup should appear
Are you sure you want to Sign Out?
Yes Or No

## Actu

[2022-02-17 05:57] mvtglobally opened #7795 "Show IOU Preview on chat when request money using split bill - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Request money through Split Bill
2. Check IOU preview

## Expected Result:
User should be able to see details

## Actual Result:
Details are not

[2022-02-17 06:01] SofiedeVreese commented on #7792
Issue looks good. Adding ENG.

[2022-02-17 06:04] mvtglobally opened #7796 "Long click on hyper link at bottom it display some background shadow - reported by @dharmik"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open app
2. Long press on any link in the footer

## Expected Result:
Long press that background shadow must not be there

## Actual Result:
Lon

[2022-02-17 06:10] mvtglobally opened #7797 "Feature Request - Add ability to hide keyboard on IOS - reported by @dharmik"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Click on message field to open keyboard
3. Try to hide keyboard

## Expected Result:
user should have a way to close keyboard

#

[2022-02-17 06:10] mananjadhav commented on #7547
I did check the `nestedScrollEnabled` earlier but it didn't work.

I understood what you meant here,

We could probably decide based on the direction of the `FlatList` prop.

If we're fixing it upstream, I guess we'll also have to check if `isRowScrollable` flag works as expected as each row in the lib's FlatList is also a ScrollView.

[2022-02-17 06:15] mvtglobally opened #7798 "Keyboard is hidden after user send message with send button in mobile web - reported by @K4tsuki"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to any room in mobile web
2. Send a message by pressing send button
3. Onscreen keyboard disappear / hidden

## Expected Result:
Onscre

[2022-02-17 06:24] mvtglobally opened #7799 "Unable to save edited Room Name with Enter in Room Settings Page - reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to Rooms Details Page.
2. Settings
3. Change Room Name
4. Press Enter

## Expected Result:
Room Name should be saved when hit enter

## Actua

[2022-02-17 06:37] sobitneupane commented on #7799
**Proposal:**
Adding pressOnEnter in Button solves the issue.
https://github.com/Expensify/App/blob/18ff4f8f965d4279711d8d80c0ef77d86a1ea829/src/pages/ReportSettingsPage.js#L138-L151
[code]

[2022-02-17 06:41] parasharrajat commented on #6872
Yeah, @jliexpensify It is deployed. That was some other glitch.

[2022-02-17 06:43] parasharrajat commented on #7786
Yeah, that comment was for assignee.

[2022-02-17 07:09] roryabraham commented on #2985
I went ahead and cleaned up what I've got so far: https://github.com/Expensify/react-native/pull/7. Bumping this to weekly. I've also been talking with @azimgd and would like to create an Upwork job so that he can spend some time trying to tackle the TODOs listed in the PR.

[2022-02-17 07:20] roryabraham commented on #7178
Interestingly, this became much easier with the paradigm shift introduced in https://github.com/Expensify/App/issues/7166. Since the app's `PATCH` version is only bumped when a PR is first created, that means the `BUILD` version is only bumped when we CP a PR.

[2022-02-17 07:22] roryabraham commented on #7178
Whoops, actually that's not true – the `BUILD` version will also be bumped when any PR is merged while the checklist is unlocked.

[2022-02-17 07:36] roryabraham opened #7800 "Rename the StagingDeployCash, LockCashDeploys, and DeployBlockerCash labels"
## Problem
The New Expensify platform used to be called Expensify.cash. There are still some remnants of the old platform name lingering in this repo. A notable example is in the deploy code and processes. We've got three labels:

- `StagingDeployCash`
- `LockCashDeploys`
- `DeployBlockerCash`

That should no longer reference the old product name.

## Why this is important
I'll admit this is a low

[2022-02-17 07:55] thesahindia commented on #7625
@mateocole, I meant we should show a different message for deleted rooms currently it says `This is the beginning of the private #announce (deleted) room, invite others by @mentioning them.` But the room is deleted so we can't invite people people so it seems incorrect.

[2022-02-17 08:00] thesahindia commented on #7625
@mateocole, I meant we should show a different message for deleted rooms currently it says `This is the beginning of the private #announce (deleted) room, _invite others by @mentioning them_.` But we can't invite anyone in the deleted room.

[2022-02-17 08:17] parasharrajat commented on #7799
I blocked this change on this page https://github.com/Expensify/App/pull/7098/files/7191f3a4ff34645dea8ac5511cc8d60caead995b.

Save is not CTA and thus Enter should not trigger update.

[2022-02-17 08:27] parasharrajat commented on #7797
When you drag the composer down, the keyboard is closed.

[2022-02-17 09:18] shawnborton commented on #7669
Works for me too!

[2022-02-17 09:34] rushatgabhane commented on #7669
Thanks for the mockup!
@puneetlath let's go ahead with @thesahindia's [proposal ](https://github.com/Expensify/App/issues/7669#issuecomment-1034541987) then? Because it's same as the mockup

[2022-02-17 09:36] roryabraham commented on #7759
:clap: Heads up @Expensify/applauseleads :clap:\nA [new pull request](7802) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version \`1.1.39-2\` :rocket:

[2022-02-17 09:46] roryabraham commented on #7759
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](7802) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.39-2` :rocket:

[2022-02-17 09:47] roryabraham commented on #7759
:rocket: All set?…You bet! https://github.com/Expensify/App/releases/tag/1.1.39-1 has been deployed to staging :rocket:

[2022-02-17 10:06] roryabraham commented on #7178
Got a draft PR almost completely ready, but having an issue with our new linter.

[2022-02-17 10:17] rushatgabhane commented on #7352
Nope.

@kursat please let us know if you have any updates, thanks ^^

[2022-02-17 11:30] Julesssss commented on #7764
It could be, but I haven't been able to confirm.

Regardless it can be made external

[2022-02-17 12:25] rushatgabhane commented on #7016
@jboniface Applied! Let's close the issue

[2022-02-17 13:12] #7016 closed

[2022-02-17 13:54] kavimuru commented on #7777
@danieldoglas At the timeline 0.10 sec in the video attached, there's weird jerk after completing IOU and returning back to chat again.

[2022-02-17 15:32] JmillsExpensify commented on #7095
All contributors paid out now that the regression period has passed. Thank you!

[2022-02-17 15:32] #7095 closed

[2022-02-17 15:33] aldo-expensify commented on #7773
@jliexpensify nop, no need to create job in Upworks.

[2022-02-17 15:37] JmillsExpensify commented on #7463
Woo! Now it's just a question of time. I'll circle back for payment following the regression period.

[2022-02-17 15:38] JmillsExpensify commented on #7518
Linked PR is currently on staging. We'll hit production and enter the regression period soon.

[2022-02-17 15:38] okansahin commented on #7470
Hello @stitesExpensify sorry for delay. I was busy with my other tasks.

@rushatgabhane when I reviewed the DOM I detected this gap occurs in Add Debit Card screen too. If you want to reproduce this everytime, please set password input visible before autofill.

The real problem is line-height. BaseTextInput's default line-height is 20, I set it to 25 to seeing this clearly. Somehow android's autof

[2022-02-17 15:39] JmillsExpensify commented on #7670
Linked PR has made it to staging. We'll be entering the regression period soon!

[2022-02-17 15:40] JmillsExpensify commented on #7726
Cool, that sounds about right. Leaving it in the pool and then I'll check back in next week.

[2022-02-17 15:54] JmillsExpensify commented on #7796
Upwork job posted here: https://www.upwork.com/jobs/~015ff255431a5786a4

[2022-02-17 16:10] rushatgabhane commented on #7585
🎀️👀️🎀️ C+ reviewed

@mountiny I like @thesahindia's [proposal](https://github.com/Expensify/App/issues/7585#issuecomment-1041536740).

[2022-02-17 16:20] parasharrajat commented on #7796
@JmillsExpensify I think a lot of process steps got skipped. This is not triaged yet.

[2022-02-17 16:21] iwiznia commented on #6213
This added a few regressions. See [here](https://github.com/Expensify/App/pull/6839#discussion_r809230582).
@marktoman can you fix them?
@trjExpensify please hold on payment till the fixes are deployed.

[2022-02-17 16:35] JmillsExpensify commented on #7796
Oh yeah I see what you mean. I'm so used to the External label for this repo but I was assigned for triage.

[2022-02-17 16:47] madmax330 commented on #7788
Looks like this is native scrollView behavior. Not sure we can fix this

[2022-02-17 16:50] puneetlath commented on #7669
Agreed. @jliexpensify let's go ahead and hire @thesahindia please!

[2022-02-17 16:56] puneetlath commented on #7185
Increasing to $500.

[2022-02-17 16:59] mountiny commented on #7585
@thesahindia Could you apply for the job please.

2 things to think about:
- could we use the isDisabled props? What does it do exactly?
- how will this solution behave in tablet portrait? Not sure if we want to disable it from there too. Additionally, if we keep it for portrait, let's make sure that if user turns the emojipicker on in portrait and then changes the orientation, the emojipicker wil

[2022-02-17 17:00] puneetlath commented on #7544
Paid!

[2022-02-17 17:00] #7544 closed

[2022-02-17 17:07] thesahindia commented on #7585
It makes the emoji picker disabled so the user can see the emoji picker option in compose box but it won't work on clicking.

Will update you on this.

[2022-02-17 17:17] mountiny commented on #7585
Gotcha, I see.

@kevinksullivan would you be able to double-check the Upwork job link for @thesahindia! Thank you very much :)

[2022-02-17 17:34] neil-marcellini commented on #7617
This one looks really interesting. I'll start investigating.

[2022-02-17 17:47] parasharrajat commented on #7185
### Proposal
1. First we store the new error which gets from API. To do that we will check if `response.title === 'BanK account already exits`.
2. Then we update the Onyx date to store error for chooseAccount field
[code]
3. Then in the component we update this to pass a new error translate key to this function https://github.com/Expensify/App/blob/18ff4f8f965d4279711d8d80c0ef77d86a1ea829/src/comp

[2022-02-17 18:02] isagoico commented on #7763
@iwiznia This is a new feature in a PR. This issue is failing QA for PR https://github.com/Expensify/App/pull/7577.
Reopening the issue.
CC @parasharrajat

[2022-02-17 18:11] bondydaa commented on #7795
this isn't a bug it's a feature request. as far as i know this is how we want to render the text.

[2022-02-17 18:11] #7795 closed

[2022-02-17 18:42] mountiny commented on #7585
Somoene will help us here I am sure :)

[2022-02-17 18:52] iwiznia commented on #7763
This input does not have any limit, so I don't see why we would show the counter. Can you explain?

[2022-02-17 18:56] adelekennedy commented on #7014
@parasharrajat @tgolen any changes here?

[2022-02-17 18:58] neil-marcellini commented on #7617
I wasn't able to reproduce the same behavior shown in the video in the issue description, but 2 workspaces are still being created. The same behavior occurs on production. Since the expected behavior is that one workspace is created, I'll keep looking into this.

https://user-images.githubusercontent.com/26260477/154551369-66fbc52a-b32e-4faf-b4fc-0fb8678237f9.mov

[2022-02-17 19:00] parasharrajat commented on #7014
I am not too sure about this Split billing feature implementation. So I asked Toglen to help here.

[2022-02-17 19:19] michaelhaxhiu commented on #7585
Taking over for Kevin since he's OOO! He made the upwork job actually - just seems like mistakenly didn't paste it in the GH body. I added it just now!

https://www.upwork.com/jobs/~01a1ebe114edb576b2

@thesahindia can you try now?

[2022-02-17 19:29] laurenreidexpensify commented on #7798
https://www.upwork.com/jobs/~012a764a955a9354d3

[2022-02-17 19:34] talhatanveer333 commented on #7796
Proposal:
We just have to wrap a TouchableWithoutFeedback around it. In this way, we can add another layer to it for consistent performance.

<TouchableWithoutFeedback>
        <Text>Terms of Service</Text>
</TouchableWithoutFeedback>

[2022-02-17 19:35] kidroca commented on #7434
Pull Request Ready: https://github.com/Expensify/App/pull/7805

@dylanexpensify I've been hired on Upwork, could you assign me to the ticket as well

[2022-02-17 19:40] roryabraham commented on #7798
I have a feeling this might be more trouble than it's worth. Dealing with the virtual keyboard's disobedience on mobile safari is always a pain.

[2022-02-17 19:43] LucioChavezFuentes commented on #7535
Guys I still haven't tested `Picker` inside `Form` besides on Storybook. Is there a `Form` component used somewhere in the App? I can not find page where `Form` is being used besides Storybook.  Should I create a dummy page with `Form` to test?

[2022-02-17 19:53] puneetlath commented on #7185
I agree for any error we don't specifically handle we should just show the server error. But I think we should use the new pattern of showing the error above the `save and continue` button instead of as a growl. I believe we are moving away from growls for any form validation.

The rest of the proposal sounds good to me 👍🏾.

[2022-02-17 19:54] rushatgabhane commented on #7535
@LucioChavezFuentes it's a WIP, so form isn't being used anywhere as of now.

I guess you can just pass `isFormInput` prop to the picker in Profile Page.

[2022-02-17 20:04] AndrewGable commented on #7796
I agree I am not sure I see the bug here, looks to be working as expected?

[2022-02-17 20:05] deetergp commented on #7385
Not overdue, code review is ongoing. Should have added the label to ward off @MelvinBot's passive aggression.

[2022-02-17 20:05] adelekennedy commented on #7572
Oh just seeing this - did you mean to unassign me @TomatoToaster or should I open a job for this?

[2022-02-17 20:09] parasharrajat commented on #7185
I am not yet familiar with it but let me check.

[2022-02-17 20:16] parasharrajat commented on #7733
This is feature that we have build into the app.

[2022-02-17 20:19] pecanoro commented on #7671
@mateusbra's solution is perfect for this then, feel free to apply in Upwork.

[2022-02-17 20:37] mvtglobally commented on #7759
Regression is completed
https://github.com/Expensify/App/pull/7577 is failing https://github.com/Expensify/App/issues/7763
https://github.com/Expensify/App/issues/7776 is still reproduced by the team

Deploy Blockers still open
 https://github.com/Expensify/App/issues/7774
 https://github.com/Expensify/App/issues/7775
 https://github.com/Expensify/App/issues/7776

 Other Issues logged
 https://git

[2022-02-17 20:39] rushatgabhane commented on #7482
@marcaaron I came across the same issue which was created earlier https://github.com/Expensify/App/issues/4345

The consensus was to close the issue. Because

Imagine, you press edit on a message and the then message will scroll to the bottom and in the meantime, the whole layout will shift up due to the keyboard. How bizarre will that look?

Let's close this issue if it's okay by you?

[2022-02-17 20:43] parasharrajat commented on #7325
Ok, I tested it it works on Safari too..
@kevinksullivan Could you please assign me for C+?

@K4tsuki's [proposal](https://github.com/Expensify/App/issues/7325#issuecomment-1018246527) works well and fixes the issue on firefox.

cc: @Jag96

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-17 21:01] iwiznia commented on #7686
This issue should've not been created as standalone, since this was really a regression added by https://github.com/Expensify/App/pull/6839 and thus @marktoman should've fixed it as part of their issue.
Not much we can do now, just pointing it out.

[2022-02-17 21:04] mountiny commented on #6965
Still waiting for proposals here. Not very urgent.

[2022-02-17 21:22] thesahindia commented on #7585
@michaelhaxhiu, done ✔️

[2022-02-17 21:30] AndrewGable commented on #7796
Got it - So we should have no shadow on long press on mobile because there is no hover feedback for web? That makes sense if so!

[2022-02-17 21:44] alex-mechler commented on #7779
Can confirm this has to be done externally, looks like something about how we are calculating if a user can send that IOU isnt working. [Logs here](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%226df20d487c50984f-SJC%22)+AND+timestamp:[2022-02-17T20:19:05.079Z+TO+2022-02-17T22:19:05.079Z]&index=logs_expensify-015423). Dropping to pool

[2022-02-17 21:47] JmillsExpensify commented on #7796
Let's see what @shawnborton thinks before moving forward.

[2022-02-17 22:57] rushatgabhane commented on #7420
Really sorry for the late reply, I missed this one.
@stitesExpensify My assumption: when an account is closed, all IOU requests (inc cancelled) are deleted on the server side.
Only the report (chat) history is preserved.

One solution could be to remove IOU preview from all reports of the deleted account.

https://user-images.githubusercontent.com/29673073/154583699-52fe267d-1151-4020-af8f-ea980ff

[2022-02-17 23:11] MitchExpensify commented on #7799
Yes, I'm not sure this is needed. Closing for now

[2022-02-17 23:11] #7799 closed

[2022-02-17 23:19] jliexpensify commented on #6872
Cheers, paying now:

- @K4tsuki $250
- @parasharrajat $250

Will close once done

[2022-02-17 23:55] kadiealexander commented on #7432
@mananjadhav please don't forget to apply via upwork!

[2022-02-17 23:57] sophiepintoraetz commented on #7793
Clarifying with @dharmik [in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1645142237859819?thread_ts=1643910277.033719&cid=C01GTK53T8Q)

[2022-02-18 00:10] SofiedeVreese commented on #6301
Hey @parasharrajat just wanting to follow up on this one? Thank you!

[2022-02-18 00:16] mvtglobally opened #7806 "Android - App does not open - reported by @murataka"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Install Android app
2. Open the app

## Expected Result:
App should open

## Actual Result:
App crashes
Device: Android 5.0.1 LenovoPad TB3-710F

[2022-02-18 01:26] thienlnam commented on #7537
Looks like we're holding on https://github.com/Expensify/App/issues/7535 before starting this

[2022-02-18 03:16] SofiedeVreese commented on #7764
Pushed to Upwork: https://www.upwork.com/jobs/~014083d785aaa36749

[2022-02-18 03:25] mateusbra commented on #7671
Proposal submitted on UpWork. Once I'm hired I'll rise a PR ASAP.

[2022-02-18 05:43] mvtglobally opened #7808 "You can send messages to no one - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat on web desktop
2. change any number on the id from url
3. Send some messages

## Expected Result:
Some error should display that pa

[2022-02-18 05:46] mvtglobally opened #7809 "Redundant Names on the User Details Pages. Message button also includes the user name - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open Any Chat
2. Navigate to User Details by tapping on the Header
3. You can find Username, Email, etc.
4. Also, there is Message Button action

[2022-02-18 06:04] mvtglobally opened #7810 "Focus mode styles not apply without refresh - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Add some draft messages to all conversation you have or have new messages on them . To be includ in focus mode .
2. Change the mode to focus mode

[2022-02-18 06:10] mvtglobally opened #7811 "Desktop - App is crashing when select Priority mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Add few drafts to the different treads
3. Navigate to Settings > Preferences > Choose Focus mode

## Expected Result:
App should not

[2022-02-18 06:11] mvtglobally commented on #7759
Just added 1 more deploy blocker. https://github.com/Expensify/App/issues/7811

[2022-02-18 06:11] OSBotify commented on #7811
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-02-18 07:08] conorpendergrast commented on #7810
Reproduced; the specific problem is that if you have any draft messages in `#focus` mode, and then switch to `Most recent` all recent chats are not shown in the sidebar (as you'll see from the recording above!)

[2022-02-18 07:37] sobitneupane commented on #7809
**PROPOSAL**
If this is something we want to do, we can achieve it by removing `${details.displayName}` from title in MenuItem.
https://github.com/Expensify/App/blob/4b04f7371745e145ad8e93e2d28434fb7708bd17/src/pages/DetailsPage.js#L156-L162
[code]

[2022-02-18 08:20] sobitneupane commented on #7768
It looks like it has something to do with ConfirmPopover opening before the DeleteMenu Popover is closed.
https://github.com/Expensify/App/blob/4b04f7371745e145ad8e93e2d28434fb7708bd17/src/pages/settings/Payments/PaymentsPage/BasePaymentsPage.js#L318-L324
This solves the issue but it might not be the best thing to do. It might help someone to find the solution.
[code]

[2022-02-18 08:36] shawnborton commented on #7796
Just to confirm, this only happens when you long-tap? Just a simple tap doesn't launch the bg color right? I kind of think this is fine as it is. I suppose we could even actually keep the behavior but specify the background color we want.

[2022-02-18 08:40] shawnborton commented on #7350
I had something similar happen on desktop but what happened was that I updated the app, and then when the app reloaded, it was a white screen. I then pressed command + R to refresh and I got a screen full of strange characters. After I quit the app and restarted, it launched as normal.

[2022-02-18 09:28] parasharrajat commented on #6301
Thanks @SofiedeVreese. I was busy some stuff. I will review the proposals soon. ETA - 2 days.

[2022-02-18 11:38] Julesssss commented on #7763
Hi @isagoico, I'm going to close this and mark it off the list as this is expected behaviour.

[2022-02-18 11:38] #7763 closed

[2022-02-18 11:41] Julesssss commented on #7759
I'm checking off #7577 as [we do not think](https://github.com/Expensify/App/issues/7763#issuecomment-1044381500) #7763 is a bug, but expected behavior.

[2022-02-18 12:14] Julesssss commented on #7776
Reducing the priority and removing deployBlocker label for now.

[2022-02-18 12:15] Julesssss commented on #7759
For #7776 I removed the deployBlocker label as we're not able to reproduce on Desktop staging or dev.

[2022-02-18 12:40] michaelhaxhiu commented on #7585
Hired you both (reporter and assignee) - let's get this party started.

[2022-02-18 12:46] michaelhaxhiu commented on #7587
damn, this slipped past my radar with the `weekly` label! Just posted the job now and added link to GH body - https://www.upwork.com/jobs/~01f29d6f9cd89ab2a3

[2022-02-18 13:13] parasharrajat commented on #7809
This is a no issue.

[2022-02-18 13:21] parasharrajat commented on #7587
Please hold this issue. We are changing the Invite page behavior in https://github.com/Expensify/App/pull/7595. Thus It may not necessary to show the growl or it is possible that the the message in growl will change.

[2022-02-18 13:22] rushatgabhane commented on #7587
Nice eye @parasharrajat, will hold.

[2022-02-18 13:24] rushatgabhane commented on #7128
Woah, looks like no one is assigned to this.
@michaelhaxhiu would be fantastic if you could get this sorted.

[2022-02-18 13:31] parasharrajat commented on #7128
Missed that. Sorry. Some android devices use vibrations and `enableFeedback` is generic.

[2022-02-18 13:37] rushatgabhane commented on #7128
@parasharrajat this was recently added in the [style guide](https://github.com/Expensify/App/blob/main/STYLE.md#boolean-variables-and-props)

[2022-02-18 14:03] JmillsExpensify commented on #7796
This is super minor stuff, to be clear. That said, we also approach the links differently on OldDot versus NewDot. On desktop, OldDot changes color to provide feedback, whereas NewDot is static (no feedback). Then on mobile, long tapping the homepage link on OldDot uses the existing background, whereas on NewDot we use a grey background. So really whatever we do, we should probably make it consist

[2022-02-18 14:04] JmillsExpensify commented on #7796
Another matter entirely is whether this is important enough to do anything. I originally thought this was good for consistency, but I also could see the argument that this is so minor and we have more important pursuits that we can also choose to close the issue.

[2022-02-18 15:00] rushatgabhane commented on #7738
Hmm, @deetergp I don't have the bandwidth to review this right now. Feel free to take this

[2022-02-18 15:12] Julesssss commented on #7759
I tried verifying a [potential fix](https://github.com/Expensify/App/pull/7782) for #7769 & #7774, but I've had a whole heap of problems. it looks like the issue itself will resolve the blocker though. I have asked for help with testing in #engineering-chat

[2022-02-18 15:29] shawnborton commented on #7796
I like the idea of treating long-press on mobile/tablets the same as :hover on desktop, and then aligning the desired effect between both behaviors.

[2022-02-18 15:31] laurenreidexpensify commented on #7306
Upping price to $500

[2022-02-18 15:36] laurenreidexpensify commented on #6669
Does it still need to be on hold though?

[2022-02-18 15:37] laurenreidexpensify commented on #5768
Let's go @parasharrajat 🙌🏽

[2022-02-18 15:38] K4tsuki commented on #7288
Okay

[2022-02-18 15:41] sobitneupane commented on #7481
Waiting for payment.

[2022-02-18 17:13] ctkochan22 commented on #7810
Looks like its a bit of a regression introduced recently.

Relevant files:
- `NVP_PRIORITY_MODE`

[2022-02-18 17:27] parasharrajat commented on #7768
### Proposal

This is a nasty bug with RN. It is somehow related to Modals. There are many related issues open to RN. Maybe upgrading the RN version will solve it. But I don't think that upgrading RN would be a safe or easier option. it could break many dependencies.

When two modal instances are opened at the same time then App freezes in React Native. Basically, all of the apps are functioning b

[2022-02-18 17:35] michaelhaxhiu commented on #7128
Oh wow this GH has been dormant for a about 1 month! Let's get it back on track asap.

[2022-02-18 17:36] marcaaron commented on #7811
So it is not reproducible with these steps or it is? Are there more detailed steps?

That didn't result in the bug on web or desktop so I'm going to remove the deploy blocker.

[2022-02-18 17:37] marcaaron commented on #7811
There are logs that we can look at to see what maybe happened here. But only if we know what email was used.

[2022-02-18 17:37] michaelhaxhiu commented on #7128
Technically, engineering should confirm if this is eligible for `external` before I export this to upwork. But me + @parasharrajat know it's eligible for sure, so skipping that step :)

[2022-02-18 17:43] marcaaron opened #7816 "Ask for the affected user email in the standard issue template"
# Problem

When bugs are reported on staging or production we sometimes need to know what the mail of the affected user is so we can check logs. The standard issue template does not ask for this so any engineer triaging the issue has to ask whoever reported it so they can then check logs.

# Why is this important?

Not requiring the email slows down our ability to triage and identify bugs (sometim

[2022-02-18 18:07] mvtglobally commented on #7811
@marcaaron  can you check applausetester+mvtutest@applause.expensifail.com
You can check times around 12amEST to 1.15am EST

[2022-02-18 18:07] michaelhaxhiu commented on #7128
@parasharrajat i made the total $500 to combine the reporting/solving payout - https://www.upwork.com/jobs/~018e9ffdd15bd37956

[2022-02-18 18:09] michaelhaxhiu commented on #7128
@NikkiWines heads up this GH was dormant for a while and I stepped in to help get it on track! So far @parasharrajat left a solution proposal above

lol @parasharrajat you are assigned for so many parts of this GH haha 😆

![image](https://user-images.githubusercontent.com/13206896/154738522-90ceee82-c7ea-41b2-bf18-faba9df71c03.png)

[2022-02-18 18:15] parasharrajat commented on #7128
Haha, not my fault.
![image](https://user-images.githubusercontent.com/24370807/154739427-305c1edc-da85-40ee-b041-86924d726b6d.png)

[2022-02-18 18:17] parasharrajat commented on #6908
Still digging this one.

[2022-02-18 18:31] GabiHExpensify commented on #7629
great idea @shawnborton to include this in the alto design engagement. can we close out this GH then and just use the other one @JmillsExpensify created?

[2022-02-18 18:50] neil-marcellini commented on #7617
So far from debugging I've found that [componentDidMount](https://github.com/Expensify/App/blob/0dda84ddc7c98f018c69e2afc428f32a7814eb32/src/pages/LogInWithShortLivedTokenPage.js#L55) for LogInWithShortLivedTokenPage is called 3 times. The first time the request email is not equal to the session email so the session is signed out and signed back in with the short lived auth token. The second time

[2022-02-18 18:52] mananjadhav commented on #7808
I had reported this earlier and the core issue is to fix the invalid URL/report ID page load. Here's an existing issue reported earlier to fix it - https://github.com/Expensify/App/issues/5897

[2022-02-18 19:04] francoisl commented on #7794
Thanks for the suggestion! As it was discussed in [this Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1643910673108429) yesterday, we're not going to proceed with this change at the moment.
I left the thread open for a bit to give a chance to everyone to chime in, and it seems like no one else has anything to say anymore, I'm going to close this.

[2022-02-18 19:04] #7794 closed

[2022-02-18 19:15] NikkiWines commented on #7128
Nice, @parasharrajat's proposal [here](https://github.com/Expensify/App/issues/7128#issuecomment-1010169132) looks good 👍

[2022-02-18 19:17] michaelhaxhiu commented on #7128
@parasharrajat go ahead and apply for the job in upwork when you are ready

[2022-02-18 19:18] marcaaron commented on #7811
Thanks!

Here's the logs but there's not much to go off of...
![2022-02-18_09-16-10](https://user-images.githubusercontent.com/32969087/154747603-f08aaa2f-73a6-48bf-9b37-e84cb9455da0.png)

https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%226df50b92ca8632d9-SJC%22)+AND+timestamp:[2022-02-18T05:02:12.357Z+TO+2022-02-18T07:02:12.357Z]&index=logs_expensify-015431

Going to leav

[2022-02-18 19:19] stephanieelliott commented on #7688
Google tells me that the minimum number of digits for a phone number is 4. 911, 311, 411, etc. are actually considered "special dialing codes", they are not actually phone numbers so I am not so sure there is a valid use case for anything less than 4.

I guess this points to the SMS regex being wrong, @iwiznia do we need to update this issue to clarify that?

[2022-02-18 19:40] marcaaron opened #7818 "Stack traces are not showing up in logs when hit from the error boundary"
# Problem

Stack traces are not showing up in logs when hit from the error boundary

# Solution

Think we can just wrap them in JSON.stringify to fix. not sure why they do not show up correctly on the log server but discussing [here](https://expensify.slack.com/archives/C03TQ48KC/p1645212279081219).

[2022-02-18 19:41] stephanieelliott commented on #7644
Hey @rushatgabhane, just wanted to confirm - does this mean we want to move forward with @ahmdshrif's proposal?

[2022-02-18 19:44] iwiznia commented on #7688
Sure why not.

[2022-02-18 20:17] jboniface commented on #7324
@parasharrajat what are your thoughts on this? should I keep looking for a contributor to implement?

[2022-02-18 20:19] parasharrajat commented on #7324
Nope, it's not worth it.

[2022-02-18 20:33] stitesExpensify commented on #7324
I agree, let's just close it for now.

[2022-02-18 20:37] #7324 closed

[2022-02-18 21:43] roryabraham commented on #7403
I don't recall seeing this recently.

[2022-02-18 21:48] AndrewGable commented on #7403
Ok let's reopen when if and when it happens again

[2022-02-18 21:48] #7403 closed

[2022-02-18 22:03] NicMendonca commented on #6471
Still being worked on. Latest update [here](https://github.com/Expensify/App/pull/6764#issuecomment-1044205995).

[2022-02-18 22:17] roryabraham commented on #7475
I am still unable to reproduce this 😕

[2022-02-18 22:34] Luke9389 commented on #7464
@mananjadhav if you'd like to work on this, please bring it up in slack and tag me.

[2022-02-18 22:35] Luke9389 commented on #4656
The main update is that we've outsourced performance to a group that will be working with us starting in April.

[2022-02-18 22:50] marcochavezf commented on #7079
Update:
- The Google SignIn has been implemented for iOS and Android and it's working fine locally.
- I implemented the Google SignIn on Desktop using the google-auth-library-nodejs library. I tried using first the same approach used on web, but I was having issues with Electron (https://expensify.slack.com/archives/C01GTK53T8Q/p1644432240338919). Also, I found out the web library hasn't been offi

[2022-02-18 23:18] roryabraham opened #7820 "New lint rule: make sure all props have JSDoc-style comments."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Write some code that introduces a prop without a comment and run the linter.

## Expected Result:
The linter should complain that the new prop does

[2022-02-18 23:23] roryabraham commented on #7820
Expanding on this a bit, here are some examples of code that should trigger the linter:

[code]

[code]

And this code should pass:

[code]

[2022-02-18 23:25] roryabraham opened #7821 "New lint rule: all constructors in React components should accept props"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Write code for a React class component that has a constructor which does not accept props or call the `super` constructor with those props.

## Expe

[2022-02-18 23:29] roryabraham commented on #7821
These examples should not cause the linter to complain:

[code]

[code]

This example should cause the linter to complain:

[code]

[2022-02-18 23:33] roryabraham opened #7822 "[HOLD for payment 2022-09-16] [$500] New Lint Rule: DisplayName property"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Write a functional component but don't set the `displayName` property OR write a class component and set the `displayName` property.

## Expected Re

[2022-02-18 23:42] roryabraham opened #7823 "New Lint Rule: No unnecessary /index in imports"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Add an import that ends in `/index`.

## Expected Result:
Linter should complain – `/index` is never necessary at the end of an import statement.

#

[2022-02-19 00:24] roryabraham opened #7824 "New PR Check: Validate that all translation files have the same shape"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

This is an idea I had to help improve app stability a bit.

## Action Performed:
Change one translation file object key but not all the others.

## Expected Result:
This

[2022-02-19 00:31] roryabraham commented on #7824
We could also validate that there are no duplicate values (which would mean that the value of the translation is not only duplicated in one file, but the values at those same paths are duplicates _all_ translation files).

[2022-02-19 00:36] parasharrajat commented on #7824
I think there is one lint check to check if the translation is added in all files. https://github.com/Expensify/App/blob/05bf7423ffb92e596ef6dea4444619b2faf9319c/tests/unit/TranslateTest.js#L59

[2022-02-19 00:39] roryabraham commented on #7824
Gotcha, so the main idea I created in this issue for already exists (using the English translation as the main source of truth) 👍

[2022-02-19 00:40] roryabraham commented on #7824
We could still ensure that there are no duplicates and validate all usages of the `translate` function.

[2022-02-19 07:00] kidroca commented on #6059
PR is ready: https://github.com/Expensify/App/pull/7825

[2022-02-19 12:02] sobitneupane commented on #7481
@stephanieelliott I am also the reporter of this issue. I am paid for the solution but not for reporting.

[2022-02-19 13:16] mountiny commented on #7481
Gonna reopen this issue just so we do not lose track. Sorry for any inconvenience @sobitneupane 🙏

[2022-02-19 16:10] parasharrajat commented on #7712
We can go with @kakajann 's proposal. I am still not sure of the final result but we can tweak the changes in the PR review.

cc: @pecanoro

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-19 16:11] parasharrajat commented on #7379
Bump for translations :arrow_up:

[2022-02-19 16:55] mananjadhav commented on #7668
@parasharrajat @NikkiWines Need some help.  Disabling "New Room" from the Popup menu works fine. But the New Room modal can be opened by entering "<url>/workspace/new-room". What is the expected behavior here, can you confirm? Should it redirect to home? I'll fix this one too for full coverage.

[2022-02-19 17:07] parasharrajat commented on #5768
I have a question @thienlnam

I proposed two options and here are the results of how they will look.
| 1| 2|
|-------|--------|
|![image](https://user-images.githubusercontent.com/24370807/154810921-b48ba250-6d87-435c-ac52-d11e56c8021b.png)|![image](https://user-images.githubusercontent.com/24370807/154811029-b3b69226-de32-4d89-bf14-8711311c6412.png)|

Which makes more sense?
1. Should we show `no

[2022-02-19 17:16] parasharrajat commented on #7668
This is a good point. I have been thinking about guarding the routes. My plan is to add Route Guards to Routes so that we can control accessible routes. We can do all sorts of actions from Route guards.
1. Show a growl.
2. Redirect.

But this is not supported natively in R-navigation. It would take some considerable time to figure out the code.

For now, IMO I say we do nothing. The user can't do

[2022-02-19 18:04] JalalMitali commented on #7738
hello team, I have fixed this and I am ready to submit a pull request for review!

[2022-02-19 18:07] mananjadhav commented on #7668
Makes sense. PR raised.

[2022-02-19 18:44] rushatgabhane commented on #7738
Hi @JalalMitali, I'd recommend you to take a look at https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job

Feel free to submit a proposal, or ask any questions.
Thanks!

[2022-02-19 19:04] JalalMitali commented on #7738
### Proposal
what I did was I wrapped the multiline input text within a view and from that view I used the _onlayout_ React Native call back function to get the height of the initialized multiline input while keeping the min height as it is.
I had to first add a state variable  called firstRender to eliminate the need for resizing again ( height  only ) through using an if statement and after chec

[2022-02-19 19:14] JalalMitali commented on #7738
can you please let me know what is next ?

[2022-02-19 19:16] MitchExpensify commented on #7264
Paid, thanks everyone. Closing

[2022-02-19 19:16] #7264 closed

[2022-02-19 19:29] JalalMitali commented on #7738
dear @rushatgabhane I just applied for the job on upwork and I am ready to submit a pull request when needed I am done with the code already I have no problem with that :)

[2022-02-19 20:07] rushatgabhane commented on #7738
If your solution proposal is accepted, Expensify will hire you on Upwork and assign the GitHub issue to you.

@JalalMitali again, this document explains the whole process. https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job

[2022-02-19 20:11] JalalMitali commented on #7738
@rushatgabhane, thank you so much I will pause here dear and sorry for any inconvenience, this is only because it s my first time contributing to your project :)

[2022-02-19 20:16] rushatgabhane commented on #7738
Oh no, that's no problem. I really appreciate you asking questions. I'd recommend that you join Expensify's opensource slack channel. Details [here](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#asking-questions). Cheers!

[2022-02-19 20:39] parasharrajat commented on #6912
@Expensify/applause Is this issue still reproducible? If yes, can I get fresh reproduction steps?

[2022-02-19 22:52] JalalMitali commented on #7352
hello, I was looking in the code trying to fix it but I could not find where the chat room fragment is located I found "copytexttoclipboard.js" but it seems like it had nothing to do with this am I right please correct me thank you!

[2022-02-19 22:59] JalalMitali commented on #7738
@rushatgabhane thank you I did ask to join also I updated my proposal to show some screenshots :)

[2022-02-20 04:44] mvtglobally opened #7832 "[HOLD for payment 2022-03-22] Always display timezone of the other person in the chat window - Reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Any User Chat with the same timezone as yours.  OR (Create two test accounts User A & B with the same timezone settings. And Open User B's c

[2022-02-20 04:53] mvtglobally opened #7833 "Creating a workspace when offline is not displaying any feedback - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Turn off your internet
2. Click on :green-plus-button:
3. Click on New workspace

## Expected Result:
User should be notified about success or fa

[2022-02-20 04:57] mvtglobally opened #7834 "Feature Request: Add ability to input/insert multiple/many emojis at once in emoji picker - reported by @K4tsuki"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Click on Emoji picker
3. Select multiple emojis at once

## Expected Result:
User should have ability to input/insert multiple/m

[2022-02-20 04:59] mvtglobally opened #7835 "[$16000] Feature Request: App should play the uploaded videos inline - reported by @murataka"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Send a video file
3. Try to play video in chat

## Expected Result:
App should play the uploaded videos inline

## Actual Result

[2022-02-20 05:07] mvtglobally opened #7836 "When clicking the password reset link on the web, you aren’t automatically signed out of any new.dot accounts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign in to account
2. Generate Password rest link from another account
3. Navigate to email and click on password reset link

## Expected Result:

[2022-02-20 05:12] mvtglobally opened #7837 "[$1000] Visiting room by pasting URL, doesn't read messages - reported by @K4tsuki"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Close all Expensify browser tabs.
2. Send a message to a room using other device
3. Visit the room directly by url (for example [new.expensify.co

[2022-02-20 05:15] mvtglobally opened #7838 "The margin between ToS checkbox and its error message is way more than the other fields - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Settings > Payments > Add Payment method > Debit card
2. Press Save without filling the form

## Expected Result:
The ToS checkbox and its

[2022-02-20 05:18] mvtglobally opened #7839 "No error message is being displayed if the user doesn't accept the ToS on Connect bank account page - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to Settings
2. Go to a workspace > Connect bank account > Connect manually
3. Press Save without accepting the ToS

## Expected Result:
The er

[2022-02-20 05:45] mvtglobally opened #7840 "[HOLD for payment 2022-03-24] Feature Request: Add workspace name as subtitle in individual modal screens - reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create workspace
2. Navigate to Settings and click through different screens (such as "Reimburse receipts", "Pay bills", "Manage members", etc.)

[2022-02-20 05:57] mvtglobally opened #7841 "User is navigate to main screen instead of previous step after deleting workspace - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. Open Settings> select workspace
3. Delete workspace

## Expected Result:
User should navigate to Settings screen after de

[2022-02-20 06:01] adeel0202 commented on #7838
### Proposal (If considered external)

We can remove the margin below the checkbox by removing `styles.mb4` on `line 307`
https://github.com/Expensify/App/blob/d9355db0e9685021c3be1debca3c43751ad2d759/src/pages/settings/Payments/AddDebitCardPage.js#L307

**Result**
![Simulator Screen Shot - iPhone 13 - 2022-02-14 at 16 24 03](https://user-images.githubusercontent.com/13783842/154830652-b01057aa-04

[2022-02-20 06:05] mvtglobally opened #7842 "[HOLD for payment 2022-03-22] Styling on storybook sidebar in mWeb is broken - reported by @sig5"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Run storybook on mWeb  https://staging.new.expensify.com/docs/index.html
2. Check Sidebar

## Expected Result:
User should be readable. The

[2022-02-20 06:11] mvtglobally opened #7843 "If I tap the chat with X I am taken to a "random" chat, not the one with X"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open any chat
2. Navigate to user in LHN
3. Open user details and click "Message X"

## Expected Result:
When click "Message X" user should be na

[2022-02-20 06:15] mvtglobally opened #7844 "[HOLD for payment 2022-05-20][$1000] Feature Request: Show link when hover over hyperlink"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to chat
2. Send any text hyperlinked
3. Hover over or hard press over link

## Expected Result:
Some tool tip displayed so that, when th

[2022-02-20 06:16] adeel0202 commented on #7839
### Proposal (If considered external)

We can add the error in languages files like this
`acceptedTerms: 'You must accept the Terms of Service to continue',` in `en.js`
and `acceptedTerms: 'Debes aceptar los Términos de servicio para continuar',` in `es.js`

We can then make the following changes in `BankAccountStep.js` to add the checkbox error text

Add `hasAcceptedTerms: 'bankAccount.error.acce

[2022-02-20 08:25] sobitneupane commented on #7494
@rushatgabhane I found console error in the PR https://github.com/Expensify/App/pull/7742 so have raised a complementary PR https://github.com/Expensify/App/pull/7845 to fix the issue.
SORRY for inconvenience.

[2022-02-20 09:09] sobitneupane commented on #7844
**PROPOSAL**
To achieve this we need to make some changes in src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.js
https://github.com/Expensify/App/blob/d9355db0e9685021c3be1debca3c43751ad2d759/src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.js#L54-L70

[code]
**Output:**
<img width="1440" alt="Screen Shot 2022-02-20 at 14 53 40" src="https://user-images.githubuserconten

[2022-02-20 09:16] mananjadhav commented on #7840
Writing a quick proposal as I posted this feature request.

In `WorkspacePageWithSections`, we pass workspace name to the `subtitle` Prop of `HeaderWithCloseButton` here https://github.com/stardev115/Expensify/blob/9d6e07a0d3bb298d7edba16824efb95afc94f280/src/pages/workspace/WorkspacePageWithSections.js#L75

[2022-02-20 09:40] sobitneupane commented on #7841
**PROPOSAL**
To solve this issue, we should make some changes in /src/libs/actions/Policy.js
https://github.com/Expensify/App/blob/d9355db0e9685021c3be1debca3c43751ad2d759/src/libs/actions/Policy.js#L169-L190
[code]

[2022-02-20 10:53] ahmdshrif commented on #7644
@rushatgabhane
this is the final proposal that fix the extralines

[code]

[2022-02-20 11:49] ahmdshrif commented on #7352
it's related to https://github.com/Expensify/App/issues/7644#issuecomment-1046210899

@rushatgabhane  when we copy we parse the copy HTML to markdown so we again use this function
https://github.com/Expensify/expensify-common/blob/main/lib/ExpensiMark.js#L197

which have some issues so I want to add these lines to support the correct copy here.

[code]

https://user-images.githubusercontent.com/21

[2022-02-20 11:59] JalalMitali commented on #7352
hello me too I was checking #3983 (https://github.com/Expensify/App/issues/3983)
it has to do with  html to markdown parsing :)

[2022-02-20 12:38] ahmdshrif commented on #7841
# proposal

we need to change
https://github.com/Expensify/App/blob/d9355db0e9685021c3be1debca3c43751ad2d759/src/libs/actions/Policy.js#L186-L187
with

[code]

make it go back better than go to  setting  since maybe we apple to  open the workspace from another page
and on this case, we will expect to go to the previous page, not the setting screen.

[2022-02-20 14:51] parasharrajat commented on #7844
This is an extra feature. it could be good to have but I don't it is needed at this stage.

[2022-02-20 14:54] parasharrajat commented on #7832
This is not a bug.

[2022-02-20 15:26] Varanu commented on #7623
## Proposal

I would suggest a method which uses React SyntheticEvent ```onKeyPress={this.handeKeyPress}``` and pass it as a prop to the ```<TextInput/>``` and ```<FullNameInputRow/>``` components. The function will not do anything if a key, other than ```Enter/Return``` is pressed and it will trigger the ```onSubmit()``` function which is used for **Call Me** button.

### ```RequestCallPage.js```

[2022-02-20 16:08] mountiny commented on #7059
Review is hopefully coming to an end, great and patient work there @mananjadhav.

[2022-02-20 16:15] mountiny commented on #7521
Haven't been able to look into this, other priorities took over.

[2022-02-20 17:53] JalalMitali commented on #6912
I just tried and I cant see this problem I have 3 chats :)

[2022-02-20 18:16] JalalMitali commented on #6876
### Proposal :
In TextInputFocusable/index.android.js I added the style :
`{height: Platform.OS == 'android' ? 40 : 20}`
and it currently seems to be working :)

[2022-02-20 20:19] mountiny commented on #7521
I have started a PR internally which should help with clarifying the error messages a bit.

Next PR would also need to be in App where we need to update [this action](https://github.com/Expensify/App/blob/a7b6e6bb20c6a7f988bef9b19ec5a4c89f86c155/src/libs/actions/PaymentMethods.js#L91-L119) to handle the error messages.

cc @stitesExpensify

[2022-02-20 20:55] JalalMitali commented on #6876
### Proposal :
1. add a state variable selection initialized with start set to 0 and end set to 0 instead of comment
2.`onSelectionChange={(e) => this.setState({selection: e.nativeEvent.selection})}` in index.android.js instead of Report Action Compose.
3. comment the selection in Report Action Compose.
4. that is it!
5. I am not sure if this is what you need or there is another use for comment yo

[2022-02-20 21:29] SofiedeVreese commented on #7840
Issue LGTM, adding Engineering.

[2022-02-20 21:30] SofiedeVreese commented on #7840
Whoops, adding Luke back in, Melvinbot accidentally removed us both when I only wanted to remove my assignment.

[2022-02-20 23:39] K4tsuki commented on #7834
Should we display selected emojis at the top or top part of emoji picker?

[2022-02-21 03:55] kadiealexander commented on #7844
Agree, but if it's an easy fix I say we go for it. @mallenexpensify is right that it poses a small security risk to click on a link when you're not sure of the destination.

[2022-02-21 05:05] aswin-s commented on #7462
**Reason:**

Image thumbnail is wrapped with in a TouchableOpacity, which captures all touch events at thumbnail level.
https://github.com/Expensify/App/blob/ddae43334629449e1cd4a9296fa18b234d7ccd94/src/components/HTMLEngineProvider/HTMLRenderers/ImageRenderer.js#L47-L64

Context menu is opened via `longPress` action defined at ReportActionItem level, which is a parent component to `ImageRenderer`

[2022-02-21 07:13] okansahin commented on #7470
Any review on my proposal? Because I have free time right now and want to seize on time, if there is any trouble. @stitesExpensify @rushatgabhane

[2022-02-21 07:27] Beamanator commented on #6669
I would say hold is appropriate b/c we don't want proposals on this issue yet - I will also drop the priority to monthly for now

[2022-02-21 08:47] rajscet opened #7848 "Not able to run the project- M1 chip"
5-duplicate-symbols-for-architecture-x86-64

![Screenshot 2022-02-21 at 2 16 12 PM](https://user-images.githubusercontent.com/6961313/154919579-0db23e30-6494-4e98-baff-bf1140624369.png)

[2022-02-21 09:07] shawnborton commented on #7629
That works for me.

[2022-02-21 09:15] parasharrajat commented on #7844
Then I don't think a tooltip is best suited bfor this. Like other websites, hovering over the link the browser should show the link address on the cornor of the browser.

But this is not happening in our app so we should do that even though we are planning to show tooltip.

[2022-02-21 09:18] zanyrenney commented on #7806
I don't have an andriod so can't test this one myself but from the video looks like we can reproduce so assigning engineering.

[2022-02-21 09:20] Gonals commented on #7739
Added tags!

[2022-02-21 09:37] okansahin commented on #7848
Hello @rajscet, if you are using yarn instead of npm. Please try to use npm.

[2022-02-21 09:48] parasharrajat commented on #6891
Yeah

[2022-02-21 09:58] mananjadhav commented on #7432
@kadiealexander Applied.

@pecanoro Can the VBA flow be tested locally?

[2022-02-21 10:00] rushatgabhane commented on #7432
@mananjadhav yep

[2022-02-21 10:11] mananjadhav commented on #7432
Thanks for responding @rushatgabhane. I had checked and it gave me a CORS error. Any steps?

[2022-02-21 10:14] rushatgabhane commented on #7432
You won't get the CORS error on desktop, and native apps.
For web, just use this extension https://chrome.google.com/webstore/detail/cors-unblock/lfhmikememgdcahcdlaciloancbhjino?hl=en

[2022-02-21 10:15] mananjadhav commented on #7432
Thanks appreciate it.

[2022-02-21 11:26] trjExpensify commented on #6213
Hey all, back from OoO. Just to confirm, we're still waiting on [this PR](https://github.com/Expensify/App/pull/7639) to hit prod for the regression period to count (and the `Awaiting payment` label will be added?)

[2022-02-21 11:29] Beamanator commented on #5296
Not top priority still

[2022-02-21 11:30] trjExpensify commented on #7274
Back from OoO. Will wait for @mvtglobally, but I presume this won't be reproducible during KI retests for the third week and will be closed out.

[2022-02-21 11:45] trjExpensify commented on #7739
Job is on upwork here: https://www.upwork.com/jobs/~01555eaa1328846469

[2022-02-21 11:51] trjExpensify commented on #7833
Do we need to provide feedback here, if we're moving away from the growl pattern? CC: @JmillsExpensify @shawnborton?

[2022-02-21 12:03] koushal141 commented on #7738
**Proposal from Upwork**

Hi,
The textinput is increasing its height because you must have included a prop multiline={true} but have set it's height manually via stylesheet rather than using a prop. This is a quick fix imo. We just need to add another prop to the input field for a fixed height.

[2022-02-21 12:04] shawnborton commented on #7833
I don't think we're necessarily getting rid of the growl pattern entirely, just trying to avoid it when we can. I think in a case like above, it makes sense that the growl provides feedback that an action can't be taken because you are offline.

[2022-02-21 12:13] koushal141 commented on #7591
**Proposal from Upwork**

I think this is happening because of faulty styling or because there's no resizeMode specified.

I can fix this in no time. Please reach out.

[2022-02-21 12:39] sketchydroide commented on #7844
I think for now let's show the tooltip, this is what slack seems to do, and for the rest of the none web based platforms I think it makes more sense.

[2022-02-21 12:40] sketchydroide commented on #7844
😄 @mallenexpensify you have been chosen I was goint to tag you, but seems like it is no longer necessary

[2022-02-21 12:49] JalalMitali commented on #6908
the only fix I could come up with was to remove navigation.closedrawer()

[2022-02-21 13:05] CortneyOfstad commented on #7838
Sorry, was out last week sick — updating now!

[2022-02-21 13:28] JalalMitali commented on #7738
@koushal141 that is what I did but instead of setting a fixed height initially I did it after render check my proposal :)

[2022-02-21 13:37] parasharrajat commented on #6908
Thanks for your thoughts @JalalMitali. I already have my conclusion which I will share shortly.

[2022-02-21 13:39] JalalMitali commented on #6908
@parasharrajat awesome :)

[2022-02-21 13:45] parasharrajat commented on #6912
I have researched this one over the weekend and I have some theory but I am collecting some data to validate it. Overall, I was not able to reproduce this issue since the start but I have a feeling that it exists. I have asked for new steps and QA to retest it.

[2022-02-21 14:55] rushatgabhane commented on #7485
I'm awaiting feedback from some contributors who have used the doc to test some PRs.
[slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1645374316396899)

[2022-02-21 15:02] puneetlath commented on #7806
@mvtglobally is this for all android or just this device?

[2022-02-21 15:10] rushatgabhane commented on #7768
@mountiny Rajat doesn't need a C+ review, unassigning myself.

[2022-02-21 15:19] rushatgabhane commented on #7764
@Julesssss there's already a PR out which makes this issue redundant, and it's like 99% done.

I suggest that we wait for https://github.com/Expensify/App/pull/7711 to merge.

[2022-02-21 15:21] flaviadefaria commented on #7837
Makes sense to fix this. I also tested in Slack and after a few seconds in the room, the conversation is "marked as read" and the room name is no longer flagged in bold.

[2022-02-21 15:21] rushatgabhane commented on #7636
@mdneyazahmad gentle bump ^^

[2022-02-21 15:23] dylanexpensify commented on #7636
@mananjadhav yes definitely! Apply and I'll send offer 😄

[2022-02-21 15:27] murataka commented on #7806
@puneetlath , as i am on mac os m1 , was not able to test with old api-sdk s. i don't think it is the device, but the sdk version. i think android 5.0.1 is the second minimum if not the smallest which new expensify supports. the device does not have problems opening the app as long as i can download it from playstore normally. i added the device version for informational purposes.

[2022-02-21 15:30] rushatgabhane commented on #7494
@sobitneupane thanks for noticing and making the changes!

[2022-02-21 15:41] mananjadhav commented on #7636
Thanks @dylanexpensify, apply to the same Upwork job?

[2022-02-21 15:42] rushatgabhane commented on #7636
If it's still open, apply to the same job :)

[2022-02-21 15:50] parasharrajat commented on #7768
I am very busy but I would like to test this via upgrading the RN version. Upgrading RN could be challenging.  If this is an urgent issue, then I am happy to go with the above fix but I think we should wait till I test it on the newer RN version.

[2022-02-21 15:53] nbhargava commented on #7688
### Proposal
Update the E164 regex constant in https://github.com/Expensify/expensify-common/blob/main/lib/CONST.jsx so that only minimum 4-digit numbers are accepted by calls to `Str.isValidPhone`.

[code]

[2022-02-21 16:05] laurenreidexpensify commented on #7621
We're going to follow @parasharrajat's advice here and close this one out 👍🏽

[2022-02-21 16:05] #7621 closed

[2022-02-21 16:13] iwiznia commented on #7832
I know this is on purpose and we don't display the timezone if they are the same. But to me as a user, it looks broken. I don't know if the other person is in my same timezone or not. I rather see the timezone in every chat.

[2022-02-21 16:30] isagoico commented on #6912
We were able to reproduce this on our side on Mac 10.15.7 / Chrome Version 98.0.4758.80
1. Request money from user 1
2. Repeat request with different user 2
After second request user redirect to user 1 conversation.

https://user-images.githubusercontent.com/44479856/154994723-bcaa79f2-0c56-4237-9daa-42be03262f4e.mp4

[2022-02-21 16:33] kidroca commented on #3867
@thienlnam I think we have the bare minimum if that's enough I guess we can close

I've pointed out [2 problems](https://github.com/Expensify/App/issues/3867#issuecomment-1028183382) using the feature the way it is right now

[2022-02-21 16:38] Julesssss commented on #7764
I did see that but it didn't seem too close to completion previously. But yeah, as this still hasn't been assigned lets close it

[2022-02-21 16:38] #7764 closed

[2022-02-21 16:41] kidroca commented on #7666
Any updates here?
Nobody had reported duplicate messages being received on slack or in this issue

Are there logs suggesting it might be happening?
- `A retrieable request failed` (command name, retry count, error message)
- `Request was retried too many times with no success. No more retries left`

It would probably help if we see the history leading to these logs

[2022-02-21 16:58] dylanexpensify commented on #6060
hold

[2022-02-21 17:00] mallenexpensify commented on #2713
Thanks for commenting @kidroca , I'll reopen

[2022-02-21 17:01] dylanexpensify commented on #7523
not overdue - going to post tomorrow by breaking this up into smaller bites instead of milestones

[2022-02-21 17:14] mallenexpensify commented on #6391
I don't think I've seen for a while, let's close for now and reopen later, if needed

[2022-02-21 17:14] #6391 closed

[2022-02-21 17:28] mallenexpensify commented on #6890
OK... so, this issue is about getting stuck and other is about improving UX.  That makes it sound like this is eligible for compensation. I've created a job for $250, can you apply here https://www.upwork.com/jobs/~01fd4ccce6000a9c6f and comment in this GH once you've done so?

[2022-02-21 17:42] mananjadhav commented on #7739
@sobitneupane You might have to update the proposal to handle attachments. Images have `<img>` tag but attachments start with `<a href`.

[2022-02-21 17:45] mallenexpensify commented on #6967
@ABee-Tech , the doubling is specific to fixing the issue.  So, currently for this, you're set to receive $500 for the fix plus $250 for reporting, $750 in total. As for increasing the compensation for the fix, the main reasons for that would be if there was increased scope, where additional work was needed outside of the specific bug reported in the OP.  Do you think there was?  If not, outside o

[2022-02-21 17:45] parasharrajat commented on #7739
Thanks for the input @mananjadhav. It is valid to point.

[2022-02-21 17:46] mallenexpensify commented on #2985
I assigned myself as the CM since I've been following along.  @roryabraham , for the Upwork job, is there a specific deliverable I should mention? A specific amount, or hourly?

[2022-02-21 17:49] michaelhaxhiu commented on #7715
I also cannot reproduce this bug, and that's typically a mandetory step for me as a contributor manager before externally assigning this job.

In order to proceed, I think we need more context on how to reproduce this issue. I followed steps under "Action Performed" and whenever I hit `enter` it always sends the message exactly as expected.  @kbecciv sorry to ping you again but any chance you can

[2022-02-21 18:01] JmillsExpensify commented on #7730
Adding the `engineering` label so we can get a review on @K4tsuki's proposal.

[2022-02-21 18:23] parasharrajat commented on #6908
Over the weekend, I found some interesting results from the debugging. This is a very strange issue.
`navigate.closeDrawer` removes the history from the drawer navigation state if the history contains a drawer status Which will just take you back to the main drawer.

Sometimes, Only close drawer action is fired, and sometimes, closeDrawerAction is followed by our RESET action (which is used to nav

[2022-02-21 18:30] iwiznia commented on #7784
Just experienced this but I did not change my name, I just changed my pronouns.

[2022-02-21 18:30] joelbettner commented on #7837
Yeah, this should definitely be fixed. Un-assigning myself and labeling as external.

[2022-02-21 18:35] parasharrajat commented on #7730
@K4tsuki 's proposal LGTM.

cc: @puneetlath

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-21 18:45] NikkiWines commented on #7784
@iwiznia there's a PR merged to fix this but it's not on staging yet

[2022-02-21 18:47] stitesExpensify commented on #4547
No update, getting to this soon though

[2022-02-21 18:47] stitesExpensify commented on #4324
No update, getting to this soon though

[2022-02-21 18:50] stephanieelliott commented on #7481
Oop, sorry for the wait, reporting bonus paid @sobitneupane!

[2022-02-21 18:50] #7481 closed

[2022-02-21 19:38] twisterdotcom commented on #7379
@bondydaa we're deprecating the terminology `Primary login` on newDot, so this should actually read something different, but we've not nailed it down yet. @parasharrajat can we HOLD this issue for a day or so until we confirm what we're going with?

[2022-02-21 19:42] puneetlath commented on #7730
Yep, agreed. Simple and straightforward. Let's do it.

[2022-02-21 19:45] parasharrajat commented on #7379
Sure. PR is still in draft. I am in no hurry.

[2022-02-21 20:00] #4129 closed

[2022-02-21 20:01] parasharrajat commented on #6301
Coming back to this by tomorrow.

[2022-02-21 20:01] michaelhaxhiu commented on #7128
Easy now, melvie... Rajat last updated his PR 2 days ago.

[2022-02-21 20:31] rushatgabhane commented on #7644
No, not yet

[2022-02-21 20:50] mallenexpensify commented on #7835
Sorry @parasharrajat and @marcochavezf , I got ahead of myself.   I thought I was assigned as Triage and not CM. Moving along to Engineering / @Gonals now.

[2022-02-21 20:57] sonialiap commented on #7808
Closing in favor of https://github.com/Expensify/App/issues/5897

[2022-02-21 20:57] #7808 closed

[2022-02-21 21:01] parasharrajat commented on #7844
But still Tooltips are only web thing.

[2022-02-21 21:03] anthony-hull commented on #6890
Thank you Matt! I've done so

[2022-02-21 21:09] sonialiap commented on #7832
I don't think I've ever seen any chat/email systems display sender's timezone on the message timestamp. If we were to be the first to do that, it would be confusing to users since there isn't a precedent for this.

Currently we show the message timestamp in your timezone. If the other person in the chat is in a different timezone then their timezone is displayed at the bottom of the window.

Victo

[2022-02-21 21:21] mallenexpensify commented on #7844
Full circle!  @parasharrajat is there another term we should use to denote what we're calling/considering a tooltip on Desktop?
![image](https://user-images.githubusercontent.com/22508304/155026604-50df8682-5245-47ad-a671-9f9b06c41518.png)

We definitely want a mobile/app option too, right now there is no way to know where a hyperlink will send you.
![IMG_5DAA83E20312-1](https://user-images.github

[2022-02-21 21:25] parasharrajat commented on #7844
Sorry for the confusion @mallenexpensify. Tooltip works on both web and desktop but not on the native apps (Android|IOS).

[2022-02-21 21:33] mountiny commented on #7768
@parasharrajat I dont think this is very urgent in terms of production since this should still be in beta. What would be your ETA for trying to update RN?

[2022-02-21 21:36] mountiny commented on #6908
@hiteshagja it has been a while since your proposal, can you please confirm you would like to take this job?

[2022-02-21 21:40] mvtglobally commented on #7715
@michaelhaxhiu I understand that you may have an issue reproducing the issue. It is not repro on MacOS. We have multiple users who are facing this and it seems to be Device specific.
E.g every user with ASUS laptop is able to see it.

[2022-02-21 21:55] TomatoToaster commented on #7786
I'm not able to recreate this on staging @mvtglobally are you able to still reproduce this?

How many users are in the workspace where this error happens?

[2022-02-21 21:58] mountiny commented on #6718
@parasharrajat I know you are busy, but any timeframe for this review? You can let me know if you cant review this one, it is fine, very understandable.

[2022-02-21 22:07] parasharrajat commented on #6718
I will now. I will have to add some kind of webhook for reminders... things get lost until
![image](https://user-images.githubusercontent.com/24370807/155031703-56559163-59fc-4d3b-a67b-82cb6c56b6fb.png)

[2022-02-21 22:11] iwiznia commented on #7833
IMO we should close this. There's an initiative to approach offline work holistically and this (among a ton of other things) will get fixed there.

[2022-02-21 22:20] mountiny commented on #7768
I _think_ we can wait for you to try to update the RN version, it could be beneficial in other ways too and as mentioned this bug is still behind beta, so hopefully no problem. If it would become a bigger problem, we have a solution to deploy if the need be.

[2022-02-21 22:24] mountiny commented on #6718
Haha, Melvinbot is here for that.

[2022-02-21 22:32] parasharrajat commented on #6718
Ok. I looked at the proposal. I agree it is far better than the previous one but only if it works. @mountiny Could you please help me with the list of changes when the sidebar link should not update? I can't quite remind that. You have been involved in this change since the start so maybe you have it handy.

Questions: @K4tsuki

1. When a new message arrives, the report becomes unread. It should b

[2022-02-21 22:36] parasharrajat commented on #7715
@mvtglobally In any case Do those laptops have a touch screen?

[2022-02-21 22:39] JmillsExpensify commented on #7833
Yeah timely. Let's close this in light of a more holistic approach to offline.

[2022-02-21 22:39] trjExpensify commented on #7833
Yeah, given the thread in N7. I _think_ we'd land on no feedback here right as we queue the workspace to be created for when they come back online?

[2022-02-21 22:41] puneetlath commented on #7806
Ah ok. If this still needs reproducing I'm going to unassign and we can get someone assigned when we have consistent reproduction steps.

[2022-02-21 22:43] parasharrajat commented on #6912
Waiting for some data from the team before running some tests...

[2022-02-21 22:47] mvtglobally commented on #7715
@parasharrajat i can ask others, but my laptop has a touchscreen where I can repro the issue

[2022-02-21 22:51] parasharrajat commented on #7308
@shawnborton I am planning to merge this TextinpuT(attached on the screenshot) In our usual TextInput. I have some questions about the design. I would be glad if you could help here. Thanks.
1. What should happen to the label? Should I keep it above the input for when there is a prefix?
2. What about the height of the input? Should it be small like this or normal as per TextInput?

[2022-02-21 22:56] parasharrajat commented on #7715
Gotcha. Ok, I can see which PR caused it and why?

This is the culprit code https://github.com/Expensify/App/blob/6ef2e519d1ecf5b0e6db3f5498e24c7e50e9f21b/src/pages/home/report/ReportActionCompose.js#L343.

Although, the last commit is mine :smile_cat:. But this change was originally added https://github.com/Expensify/App/pull/7355 .

In Short, if a device has a touch screen Enter to submit shortc

[2022-02-21 22:59] mountiny commented on #6718
Of course!

I _think_ the order is:
1. Pinned
2. IOUs
3. Unread messages
4. Draft (if created and report was changed)
5. Other messages

Reorder:
- when you pin/unpin
- when a new message arrives/ when you get IOU
- when you send a message/create IOU
- when you change reports
    - this is when the draft in the current message should show up in LHN

Do not reorder:
- when you start typing and you

[2022-02-21 23:01] parasharrajat commented on #6718
That should be it. Thanks.

[2022-02-21 23:02] mallenexpensify commented on #6890
Hired @anthony-hull , let me know when you accept and I'll pay ya

[2022-02-21 23:03] parasharrajat commented on #7014
@tgolen Do you want to pitch in? Thanks

[2022-02-21 23:04] adelekennedy commented on #7440
It looks like it was deployed to [staging 6 days ago ](https://github.com/Expensify/App/pull/7552#issuecomment-1040704801)-pay out tomorrow

[2022-02-21 23:06] mountiny commented on #7585
PR is up, adding Reviewing label 🙌

[2022-02-21 23:14] puneetlath commented on #7640
Hm, I just tried again and this no longer seems to be an issue, so going to close.

@Beamanator for future reference, I think when triaging E/App issues you should make the determination of whether it's internal or external and apply the label. Otherwise the issue will just go into the ether.

[2022-02-21 23:14] #7640 closed

[2022-02-21 23:21] rushatgabhane commented on #7688
Hmm I'm not sure about this one. What's our goal here?

The frontend will allow a split request for `+11234`, but the server will return error.
So changing the regex to allow 4 digits and above doesn't really add much value.

@iwiznia Do we wanna
A) Only allow proceeding with numbers that are valid. (This will require help of some lib like [google/libphonenumber](https://github.com/google/libphone

[2022-02-21 23:21] SofiedeVreese commented on #7598
@mananjadhav just wanting to bump @parasharrajat 's comment/question above. Ty!

[2022-02-21 23:21] parasharrajat commented on #7679
No update...I haven't discussed this. I don't understand the issue here. It seems to work fine from the video. And I don't know what should be discussed for this on slack. cc: @bfitzexpensify

When we deselect a user from the list and there is some search text in the input. you should see the search results. Right?

[2022-02-21 23:26] nbhargava commented on #7688
Also happy to add in libphonenumber (or something equivalent) if that's what folks feel is the right move here!

[2022-02-21 23:28] #6872 closed

[2022-02-21 23:28] jliexpensify commented on #7773
Cheers Aldo, going to unassign myself!

[2022-02-21 23:30] jliexpensify commented on #7669
Apologies, I was out of office - hired!

[2022-02-21 23:34] iwiznia commented on #7784
Cool cool, was just making sure it solved all cases and not just the one in the description

[2022-02-21 23:37] rushatgabhane commented on #7688
Hi @nbhargava, thanks so much for your proposal. I'll update you on it.

Feel free to take a look at other issues, and join [`#expensify-open-source` slack channel](https://github.com/rushatgabhane/Expensify-App/blob/main/CONTRIBUTING.md#asking-questions).

[2022-02-21 23:46] PauloGasparSv commented on #7792
Still working on this issue, need a little more time because I'm still a beginner at the project : )

[2022-02-22 00:29] LucioChavezFuentes commented on #7535
Update. I finished my M1 instance config and making final tests on iOS and Desktop Mac. Also I made a draft pull request and I am updating its description. I hope to request review soon.

[2022-02-22 00:33] LucioChavezFuentes commented on #7535
By the way on Mac Desktop I am having trouble with `CORS` when I am trying to Login. It is the only platform it is hapenning. I have no `.env` file. Any suggestions?

[2022-02-22 00:52] rushatgabhane commented on #7535
@LucioChavezFuentes Try merging `main` from upstream, and.. this might help -
https://expensify.slack.com/archives/C01GTK53T8Q/p1645453411960439?thread_ts=1645453411.960439&cid=C01GTK53T8Q

[2022-02-22 00:55] rushatgabhane commented on #7535
Oops, looks like I unassigned myself by mistake 🫠

[2022-02-22 01:35] mdneyazahmad commented on #7688
As the server also validates the phone number, maybe we can use the same `validator` function that is used on the server. This way we can ensure when a number is validated the client side. It will be accepted. If these two validator (client and server) implements different logic, we may have error for some of the input (phone no).

[2022-02-22 01:50] kadiealexander commented on #7642
[This has been added to the KI retest list.](https://expensify.slack.com/archives/C01GTK53T8Q/p1645414449382989?thread_ts=1645406731.267579&cid=C01GTK53T8Q)

[2022-02-22 03:26] mvtglobally commented on #7261
@tgolen I might've misunderstood the discussion. I thought the main issue is fixed and there is some additional case which still needs to be resolved.
Original issue is still not repro - Fourth week. Maybe another PR fixed the problem. Should we close this then?

[2022-02-22 03:28] mvtglobally commented on #7185
Issue not reproducible during KI retests. (First week)

[2022-02-22 03:29] mvtglobally commented on #7263
Issue not reproducible during KI retests. (Second week)

[2022-02-22 03:30] mvtglobally commented on #7399
Issue not reproducible during KI retests. (Third week) Closing

[2022-02-22 03:30] #7399 closed

[2022-02-22 03:31] mvtglobally commented on #7412
Issue not reproducible during KI retests. (Third week) Closing

[2022-02-22 03:31] #7412 closed

[2022-02-22 03:33] mvtglobally commented on #7413
Issue not reproducible during KI retests. (First week)

[2022-02-22 03:35] mvtglobally commented on #7400
We are blocked from reproducing due to the Crash (Second week)

[2022-02-22 03:36] mvtglobally commented on #7518
Issue not reproducible during KI retests. (First week)

[2022-02-22 03:37] ABee-Tech commented on #6967
Here is the link to the proposal: https://github.com/Expensify/App/issues/6967#issuecomment-1007176416

I think I have done more work than needed due to some of the merge conflicts on the way and extra changes like change in form behavior and work on other pages than I told to work on. I will explain the things I have worked on within (2022/01/09 to 2022/02/20) 43 days:
1) as on proposal
file work

[2022-02-22 03:38] mvtglobally commented on #7550
Issue not reproducible during KI retests. (First week)

[2022-02-22 03:38] ABee-Tech commented on #6967
@mallenexpensify Thank you for asking. I have mentioned above how I think increase would be warranted.

[2022-02-22 03:41] mvtglobally commented on #7583
Issue not reproducible during KI retests. (Second week)

[2022-02-22 03:42] mvtglobally commented on #7590
Issue not reproducible during KI retests. (First week)

[2022-02-22 03:43] mvtglobally commented on #7686
Issue not reproducible during KI retests. (First week)

[2022-02-22 03:45] mvtglobally commented on #7642
We are able to reproduce it, Just FYI

[2022-02-22 03:48] mvtglobally commented on #7776
Issue not reproducible during KI retests. (First week)

[2022-02-22 03:52] mvtglobally commented on #7811
Issue not reproducible during KI retests. (First week)

[2022-02-22 04:04] mvtglobally opened #7853 "[HOLD for payment 2022-04-13] [$250] When you click on a message and then press SHIFT a blue border appears - reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. click on any message and press SHIFT

## Expected Result:
Border should not appear.

**Remove the behavior where shift +

[2022-02-22 04:15] mvtglobally opened #7854 "[HOLD for payment 2022-03-17] Compose box height increases much more than expected - reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Type a message with 20-30 lines

## Expected Result:
Text box should cap at some number similar as app

## Actual Result:
Compos

[2022-02-22 04:30] ctkochan22 commented on #7810
Still looking

[2022-02-22 04:39] mvtglobally opened #7855 "[$2000] When quickly switching between chats, sometimes the bottom chat input disappears"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Account with many chats
1. Navigate through chats in LHN
2. Note Chat input display

## Expected Result:
Chat input should always display

## Actual

[2022-02-22 04:44] mvtglobally opened #7856 "[HOLD for payment 2022-04-13] The version check made when you switch to a different tab returns cached result - reported by @kidroca"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Have New Dot open before an update is published
2. After an update is published refresh the app
3. Note you are on now on the latest version
4. S

[2022-02-22 04:51] mvtglobally opened #7857 "Feature request: Specify type of the attachment with the icon - reported by @ahmdshrif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. send different types of attachments
3. check how attachments display in chat

## Expected Result:
We need to specify the type of

[2022-02-22 04:57] mvtglobally opened #7858 "Clicking on the label area puts the cursor at the start of text - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any Input (e.g. First name on Profile page).
2. Click on the label area above the name text.

## Expected Result:
Cursor should be placed at

[2022-02-22 05:03] sobitneupane commented on #7739
Thanks @mananjadhav
**Updated Proposal:**
[code]
I have also updated the [proposal](https://github.com/Expensify/App/issues/7739#issuecomment-1039006452)

[2022-02-22 05:03] mvtglobally opened #7859 "[HOLD][$4000] [Needs reproduction] Incoming messages are not moving the conversation to the top of the sidebar"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login with account A, account B & Account C on different devices or browsers
2. Send few messages from Account B to Account A
3. Send few message

[2022-02-22 05:08] mvtglobally opened #7860 "[$16000] Pagination seems broken for chats (please see #12054)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to chat with Chronos
2. Scroll through multiple messages and check pagination

## Expected Result:
Messages should load without any issu

[2022-02-22 05:11] mvtglobally opened #7861 "A request to create Concierge chat is always being made - reported by @kidroca"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Refresh page or login
2. Observe network request
3. See a request for CreateChatReport with a payload of your email and concierge

## Expected Re

[2022-02-22 05:25] mvtglobally opened #7862 "Feature Request: We should be able to cycle between opened media in a chat - reported by @sig5"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
It will be a nice UX touch for the user, adding convenience while finding an old media file.

## Solution:
Add an option to cycle between media when opened v

[2022-02-22 07:35] mdneyazahmad commented on #7636
I missed it as it was not assigned to me and it does not show on the list. Thanks @rushatgabhane for reminding me.

[2022-02-22 07:35] mdneyazahmad commented on #7636
I applied for the job from Upwork @dylanexpensify

[2022-02-22 08:02] dylanexpensify commented on #7636
Offers sent @mananjadhav and @mdneyazahmad !

[2022-02-22 08:38] shawnborton commented on #7308
- I think the height of this input should be just like other text inputs (52px)
- I think in this case, we could try having a floating label that says "Room name" and remove the label above the input that we currently have. But I think it might look cleaner to not use a floating label. What do you think?

[2022-02-22 08:58] koushal141 commented on #7487
Are you guys using any form of caching of the messages on the front-end? If not this looks like an issue with the backend. What is your tech stack for the backend?

[2022-02-22 09:22] JalalMitali commented on #7288
Hello @K4tsuki is this fixed just yet ?

[2022-02-22 09:37] anthony-hull commented on #6890
Done!

[2022-02-22 10:40] K4tsuki commented on #7288
@JalalMitali Fixed what? I am making the PR?

[2022-02-22 10:43] JalalMitali commented on #7288
@K4tsuki oh sorry for misunderstanding :)

[2022-02-22 10:44] Gonals commented on #7835
This would be pretty cool! I'm setting it as monthly, since it isn't a priority

[2022-02-22 11:28] rushatgabhane commented on #7738
🎀️👀️🎀️ C+ reviewed

@deetergp I like @thesahindia's [proposal](https://github.com/Expensify/App/issues/7738#issuecomment-1038880772).
It should keep the UI consistent between different device font sizes. Also, this issue isn't happening anywhere else.

[2022-02-22 11:44] ahmdshrif commented on #7810
the platform here is all,  not web only.

I still reproduce it on main. and production also.
 make sure to add a draft message to all reports you have then change the priority mode

[2022-02-22 11:56] rushatgabhane commented on #7470
@okansahin That makes sense to me, and thanks for the exact repro steps.

That seems like a hacky fix. Why not get rid of lineHeight entirely?

[2022-02-22 12:02] okansahin commented on #7470
@rushatgabhane Yes! Actually, my suggestion is this. But I didn't suggest it because you could tell me that it will affect so many TextInputs. I can figure out which views could be affect and set it with padding way and test and show all affected TextInputs.

[2022-02-22 12:09] Beamanator commented on #7640
Huh if our engineers aren't picking up unassigned E/App issues (like we do for E/E) that's not ideal right? Let's discuss internally and see if we can make the process clearer (maybe you're right the triaging engineer should always determine internal vs external?)

[2022-02-22 12:45] kidroca commented on #6876
This issue was brought for feedback on slack: https://expensify.slack.com/archives/C01GTK53T8Q/p1645191589301989 and since it's accepting proposals again (_help wanted_ label) here's mine:

#### Problem:
Controlled selection (a selection that is set and updated on props) is getting in the way of React to update the selection from user interactions

#### Solution: Switch to uncontrolled selection
S

[2022-02-22 12:49] rushatgabhane commented on #7463
Heads up, we discovered a regression while testing https://github.com/Expensify/App/pull/7723 - Image preview placeholder doesn't appear when uploading the image by drag and drop.

https://user-images.githubusercontent.com/29673073/155135495-f4410d0d-be0f-40b2-ad74-2b1d83baa127.mp4

Thanks to @okansahin for connecting the dots and they already have a fix for it. https://github.com/okansahin/App/co

[2022-02-22 12:49] NicMendonca commented on #7809
Thanks for your input everyone!

[2022-02-22 12:49] #7809 closed

[2022-02-22 12:57] K4tsuki commented on #7288
@JalalMitali okay, no problem.

[2022-02-22 13:01] okansahin commented on #7463
I also added new prop and it's comment to PropTypes.

https://github.com/Expensify/App/issues/7463#issuecomment-1047763484

Do I create new follow-up PR?

[2022-02-22 13:05] luacmartins commented on #7529
Great work @neil-marcellini! Thanks for auditing all the forms. Do you wanna work on a fix for those two forms? If not, we should create issues for them and assign them out to contributors.

I think this is fine.

[2022-02-22 13:09] kidroca commented on #7861
### Problem

`ReportUtils.isConciergeChatReport(report)` used here expects a `simplifiedReport` object

https://github.com/Expensify/App/blob/58f0168373e022440a01a966a0bae772f01dda1e/src/libs/actions/Report.js#L1035-L1044

`returnedReports` are coming from `fetchChatReportsByIDs`
https://github.com/Expensify/App/blob/58f0168373e022440a01a966a0bae772f01dda1e/src/libs/actions/Report.js#L1029-L1031

[2022-02-22 13:22] luacmartins commented on #7678
@parasharrajat Sorry for the late response. I was ooo for most of last week! I like your suggestion and think we should move forward with it. Thanks for the suggestion!

[2022-02-22 13:32] luacmartins commented on #7535
I deleted the last comment from Melvin since I just reassigned @rushatgabhane as C+ to this issue.

[2022-02-22 13:46] rushatgabhane commented on #7535
Thanks!

[2022-02-22 15:05] parasharrajat commented on #6876
Sorry guys for the wrong impression. @K4tsuki is already hired for this job and PR is in review.

[2022-02-22 15:08] parasharrajat commented on #7739
@sobitneupane What if we do this?
[code]

[2022-02-22 15:19] parasharrajat commented on #7463
Thanks, @rushatgabhane. I didn't notice that during the PR or proposal review. Yeah @okansahin Please create a follow-up. I have seen your [changes](https://github.com/Expensify/App/compare/main...okansahin:okansahin/feature/upload-image-preview-placeholder).

I would suggest using source property on file and pass it from https://github.com/Expensify/App/blob/58f0168373e022440a01a966a0bae772f01dda

[2022-02-22 15:23] sobitneupane commented on #7739
@parasharrajat. Nice idea. I have tested it and looks like it will do the job.

[2022-02-22 15:38] kakajann commented on #7597
@laurenreidexpensify Just submitted

[2022-02-22 15:53] parasharrajat commented on #7739
Ok. let's go with this then. I am fine with @sobitneupane taking this task and following this [suggestion](https://github.com/Expensify/App/issues/7739#issuecomment-1047892492)>

cc: @Luke9389
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-22 15:59] okansahin commented on #7463
Thanks @parasharrajat for your advice.

Is it okay to create new PR?

https://github.com/okansahin/App/commit/518f73416b498b859ce9d26e3be7f2c4638afeef

[2022-02-22 16:01] puneetlath commented on #7007
Not overdue. PR ongoing.

[2022-02-22 16:02] puneetlath commented on #7522
Awaiting production deploy.

[2022-02-22 16:03] puneetlath commented on #7576
Bumped to $500.

[2022-02-22 16:07] puneetlath commented on #7590
Not overdue. Awaiting production deploy.

[2022-02-22 16:10] iwiznia commented on #7832
I have no idea where some people are or if where they are it's the same time zone as where I am. I went to a chat and wanted to know if they could be online based on their time and did not see it there, to me it looked like a bug because all other chats seemingly have it.
So yeah, I think we should always show the other user's timezone, no matter if they are in the same timezone as you or not.

[2022-02-22 16:10] bfitzexpensify commented on #7516
Same update.

[2022-02-22 16:14] puneetlath commented on #3245
This actually has 3 PRs so not ready to pay yet.

[2022-02-22 16:22] parasharrajat commented on #7308
I am curious. How will it look with the floating label over the prefix and input area?

Are you suggesting that we just use the placeholder?

Here is a bad example..
![image](https://user-images.githubusercontent.com/24370807/155174443-6a19cd96-aa28-4a84-98f4-2257df0862c3.png)

[2022-02-22 16:30] puneetlath commented on #7185
@parasharrajat I just verified in [this thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1645128841780359).

For any server error we aren't handling, we'll want to display it above the submit button.

![image](https://user-images.githubusercontent.com/1371996/155175787-3536d968-a71e-4bf1-a6bb-0337e82172c8.png)

[2022-02-22 16:31] mananjadhav commented on #7739
@parasharrajat @sobitneupane Please note this is also used in LHN list with `lastMessageText`

[2022-02-22 16:33] parasharrajat commented on #7739
Thanks need to be updated as well. I mean all the places we check attachment needs to be updated.

[2022-02-22 16:38] parasharrajat commented on #7185
Thanks, @puneetlath I got that. This change will show the error at the same location. It saves the error which goes directly here https://github.com/Expensify/App/blob/4b04f7371745e145ad8e93e2d28434fb7708bd17/src/components/FormAlertWithSubmitButton.js#L102 via `ReimbursementAccountForm` which is used for VBA flow.

[2022-02-22 16:39] parasharrajat commented on #3245
@mananjadhav Let me know when you have update the PR 3.

[2022-02-22 16:41] parasharrajat commented on #7463
Yup. Go ahead.

[2022-02-22 16:42] mvtglobally commented on #7759
How are we looking on the possibility to get a new build today?

[2022-02-22 16:49] neil-marcellini commented on #7617
I probably should have updated this on Friday before heading out. I did a lot of debugging and I found the pattern of network requests to be Delete, Create, Create, Delete, Create. I don't understand why the session expires when the last login is successful.

[2022-02-22 17:07] sonialiap commented on #7832
Made some tweaks to the original post

[2022-02-22 17:18] neil-marcellini commented on #7469
We decided in this [slack conversation](https://expensify.slack.com/archives/C01GTK53T8Q/p1645057672937059) that this is the expected behavior for some phones and carriers, so I'm going to close this issue.

[2022-02-22 17:18] #7469 closed

[2022-02-22 17:20] Santhosh-Sellavel commented on #7832
## Proposal
Here is the restriction we make to hide the other user's time, removing this check would be enough to handle this one.
https://github.com/Expensify/App/blob/58f0168373e022440a01a966a0bae772f01dda1e/src/libs/reportUtils.js#L230

[2022-02-22 17:42] rushatgabhane commented on #7623
Hi @Varanu, thanks for your proposal. We're looking for proposals which prevent `pressOnEnter` for backgrounded pages.

[2022-02-22 17:57] neil-marcellini commented on #7860
I was able to reproduce this on Web and Desktop, particularly if I scrolled up quickly. As shown in the video, this occurs on any chat, not just with Chronos.

[2022-02-22 18:06] neil-marcellini commented on #7529
Yeah I would like to work on a fix. Should I fix it as is or use the new form component to fix it?

[2022-02-22 18:07] mdneyazahmad commented on #7854
## Proposal

https://github.com/Expensify/App/blob/2bc5c843d7d200fb2830947f910fe24f07594d9b/src/pages/home/report/ReportActionCompose.js#L554

Conditionally set `maxLines` if the width of the window is small set it a lower value say (4).

[code]

[2022-02-22 18:25] AndrewGable commented on #7857
I don't think this is a super valuable feature request, closing. Please reopen if you disagree.

[2022-02-22 18:25] #7857 closed

[2022-02-22 18:44] luacmartins commented on #7529
Form inputs are not refactored yet, so this will have to be fixed using the old forms.

[2022-02-22 18:45] mananjadhav commented on #3245
I've merged the latest main to the PR 3, solving two issues:
1. Cursor not coming to the edit comment
2. Flicker on positioning the EmojiPicker when it shows up.

[2022-02-22 19:05] thienlnam commented on #3867
👍  Will keep this open until we resolve those issue

[2022-02-22 19:07] rushatgabhane commented on #7352
@ahmdshrif since you're modifying the same rule in #7644,
could you please post an updated proposal which combines both for better clarity?

[2022-02-22 19:08] rushatgabhane commented on #7644
could you please post an updated proposal which combines both for better clarity?

Posting it here too for better visibility.

[2022-02-22 19:11] #7818 closed

[2022-02-22 19:18] trjExpensify commented on #7862
Oh, this is cool! What are we thinking in terms of the UI for the controls for this? We should probably loop in design before moving this on to further, so I'm adding the `design` label for now and dropping the priority to `weekly`. After which, we can update the OP.

In the meantime, here are some quick thoughts:

- When the member is on the most recent attachment in the chat, there's only a left

[2022-02-22 19:19] ahmdshrif commented on #7352
@rushatgabhane  this is work for both.

[code]

[2022-02-22 19:49] iwiznia commented on #7688
IMO we should not include libphonenumber of similar, since the backend already does the checks. I think the best way forward here is to ensure we are handling the server error properly. Having said that, anyone knows what exactly the error we are returning is?

[2022-02-22 20:02] tgolen commented on #7666
I haven't ever seen this happen again. Here are the occurrences of those logs in the last 7 days:

![image](https://user-images.githubusercontent.com/1228807/155209374-dbf1d683-d792-4299-a97c-e256685a164b.png)

Looks like that exploded around `February 21st 2022, 15:55:00.000`. Here is a more zoomed in look at that time period:
![image](https://user-images.githubusercontent.com/1228807/155209559-7

[2022-02-22 20:05] tgolen commented on #7781
Hm, there must be something more going on here. Is it only related to that account? Does it happen to other accounts? Does that same account fail on another device?

[2022-02-22 20:09] mallenexpensify commented on #7579
@AndrewGable @parasharrajat , I'm planning to double the price of this, any reason I shouldn't?

[2022-02-22 20:11] tgolen commented on #7014
Sorry! I've been out of town for a few days. Here is the backend code for these messages:

![image](https://user-images.githubusercontent.com/1228807/155210827-179c7b07-fab1-45b6-b0b8-913a20bf2e63.png)

The `switch` statement is being done on `['message']['type']`. I think what I would first check is to see if the front-end is sending two messages with the `split` message type. This will help to d

[2022-02-22 20:12] tgolen commented on #7261
I think at this point, we should just close the issue. There is nothing more to do. Thanks for your help!

[2022-02-22 20:12] #7261 closed

[2022-02-22 20:12] timszot commented on #7759
@mvtglobally Looking into the three remaining blockers, looks like there is one PR that should fix it, getting that moving today!

[2022-02-22 20:14] rushatgabhane commented on #7688
Yeah, I agree. We should do something like this
<img src="https://user-images.githubusercontent.com/29673073/155211563-07502ebe-2bac-4278-b1f6-2673b307b191.png" height=100>

Here's the error for API command: `POST CreateChatReport`

[code]

[2022-02-22 20:14] pecanoro commented on #7853
@michelle-thompson @shawnborton  tagging you both before I assign external to verify what's the desired behaviour here, we don't want that blue border at all, right?

[2022-02-22 20:14] puneetlath commented on #4324
Proposed UX here: https://expensify.slack.com/archives/C01GTK53T8Q/p1643388153631749?thread_ts=1643388153.631749&cid=C01GTK53T8Q

[2022-02-22 20:16] rushatgabhane commented on #7688
@mdneyazahmad @nbhargava feel free to submit an updated proposal ^^

[2022-02-22 20:17] parasharrajat commented on #7853
That blue border indicates the focused item via Tab navigation.

[2022-02-22 20:19] thienlnam commented on #5768
Great question, though more suited for the design team - cc @Expensify/design

[2022-02-22 20:20] puneetlath commented on #7185
Ah, ok I see. Ok cool, let's do it 👍🏾

[2022-02-22 20:21] rushatgabhane commented on #7669
@thesahindia let's get the party started!

[2022-02-22 20:28] parasharrajat commented on #7091
Update: I think the solution that I found is sufficient. It does not work on the Desktop. I will debug more. But for now, I retract my [review](https://github.com/Expensify/App/issues/7091#issuecomment-1042013769).

[2022-02-22 20:31] AndrewGable commented on #7579
Go for it

[2022-02-22 20:42] trjExpensify commented on #6213
Oh, @marktoman @deetergp. Did we lose the currency symbol (e.g `$`) along the way somewhere inside the `rate` field like here in the [OP mockup](https://github.com/Expensify/App/issues/6213#issue-1045037911) and the video from the proposal [here](https://github.com/Expensify/App/issues/6213#issuecomment-961475585)? 🤔

[2022-02-22 20:47] michaelhaxhiu commented on #6032
Doc is nearly ready, just been busy with keeping up in some major internal discussions and chores/teams. No deadline on this so nothing to worry about!

[2022-02-22 20:54] rushatgabhane commented on #7352
@ahmdshrif **_visit this file_** and try copying these lines.
https://github.com/Expensify/App/blob/403fc28984e9d96f3127257a3dc3ac6e66a75cd6/src/components/TextInputFocusable/index.js#L14-L16

I'm getting 2 line breaks instead of 1.
[code]

[2022-02-22 21:00] rushatgabhane commented on #7644
@ahmdshrif small issue 😅 **_visit this file_** and try copying these lines.
https://github.com/Expensify/App/blob/403fc28984e9d96f3127257a3dc3ac6e66a75cd6/src/components/TextInputFocusable/index.js#L14-L16

I'm getting 2 line breaks instead of 1.
[code]

I think listing all the cases, and how your fix handles each case would be a good idea (easy to debug then).

[2022-02-22 21:18] marktoman commented on #6213
@trjExpensify  It shows the currency when the field is blank. The text field component supports the main label (currently Rate) and the blank field label, but not a prefix label (meaning adding a prefix would interfere with the value itself).

[2022-02-22 21:23] johnmlee101 commented on #5987
Sounds good! Let's do this separately. I have to unassign myself at the moment since I'm no longer part of the CME team.

[2022-02-22 21:23] johnmlee101 commented on #7780
Seems like an easy fix! Opening up

[2022-02-22 21:26] pecanoro commented on #7853
@parasharrajat Ohh gotcha, but the behavior is a little buggy, isn't it? Like when you hover another element it does disappear only partially.

[2022-02-22 21:30] trjExpensify commented on #7833
Cool, closing this out.

[2022-02-22 21:30] #7833 closed

[2022-02-22 21:44] jboniface commented on #7546
looks like there's an impasse and discussion happening in slack

[2022-02-22 21:47] jboniface commented on #7075
@sobitneupane can you apply to the job [here](https://www.upwork.com/jobs/~011a76adda15eb26c4)?

[2022-02-22 21:49] jboniface commented on #7838
job post is [here](https://www.upwork.com/jobs/~01385fba3fd7f5673e)

[2022-02-22 21:52] mallenexpensify commented on #5892
No update...

[2022-02-22 21:59] stitesExpensify commented on #7588
Makes sense to me that this should be a feature. Obviously we'll have to do some backend work though so let's hold off on this for now until we've done that

[2022-02-22 22:00] stitesExpensify commented on #7146
This is stuck on staging for now.

[2022-02-22 22:06] timszot commented on #7759
@mvtglobally the [PR](https://github.com/Expensify/App/pull/7782) to clear the blockers is merged and added to the list. Can you please get things re-tested and then we can push this deploy out!

[2022-02-22 22:11] luacmartins commented on #7678
I'll move this to Weekly while @ahmdshrif works on it.

[2022-02-22 22:14] mallenexpensify commented on #7844
Job posted - https://www.upwork.com/jobs/~01f57f9d1472302ddc
@tgolen , can you review @sobitneupane 's proposal above https://github.com/Expensify/App/issues/7844#issuecomment-1046194797

Also, for the [lower part of this comment](https://github.com/Expensify/App/issues/7844#issuecomment-1047237439), do you think we should address that here?

[2022-02-22 22:35] mallenexpensify commented on #7835
Job posted https://www.upwork.com/jobs/~0103b194cebb2bdef4

[2022-02-22 22:37] mvtglobally commented on #7759
Working on it

[2022-02-22 22:44] puneetlath commented on #7524
Upwork job: https://www.upwork.com/jobs/~01021ef3f081c4d737

[2022-02-22 22:44] mallenexpensify commented on #7579
Price doubled to $2000

[2022-02-22 22:55] mallenexpensify commented on #6890
@anthony-hull , paid ya $250

[2022-02-22 22:55] #6890 closed

[2022-02-22 22:58] mallenexpensify commented on #3981
@johnmlee101 can you go ahead and do this plz

[2022-02-22 23:01] mvtglobally commented on #7759
Checking off the following as they are no longer blockers https://github.com/Expensify/App/issues/7772#issuecomment-1042067996, https://github.com/Expensify/App/issues/7811, https://github.com/Expensify/App/issues/7784,

[2022-02-22 23:12] kadiealexander commented on #7642
Thanks Maria!

@roryabraham should we go ahead and get this on Upwork since it's reproducible?

[2022-02-22 23:20] NicMendonca commented on #7792
@PauloGasparSv just to confirm, you won't be working on this issue and should be posted in Upwork for a contributor to work on?

[2022-02-22 23:28] parasharrajat commented on #7853
I agree that is buggy indeed. But I would say that should be fixed for all elements in the app that have this issue. Also, this should be  task under accessibility.

But IMO this issue is irrelevant to that bug.

[2022-02-22 23:33] aldo-expensify commented on #7859
@mvtglobally from looking at the code, I think this is like this by design. The "Hi name" conversation doesn't go above "Maria" because there is a pending debt and that makes it higher priority in the list.

Related code:

https://github.com/Expensify/App/blob/c0ea782bacf59ed76b7e865e10dbca981b530307/src/libs/OptionsListUtils.js#L702-L722

[2022-02-22 23:33] roryabraham commented on #7642
Yeah, let's move it to upwork.

[2022-02-22 23:34] mvtglobally commented on #7859
@marcaaron since you reported this. Can you please check the above applies to your specific scenario as well?

[2022-02-22 23:35] kbecciv opened #7868 "Payments - Error message appears when making a bank account as a default payment met"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com and login with Beta account
2. Go to the payments page.
3. Click any existing payment method to set it to default

[2022-02-22 23:37] roryabraham commented on #7440
@adelekennedy We unfortunately need to wait until it's been deployed to _production_ for 7 days before paying out.

[2022-02-22 23:51] kbecciv opened #7869 "IOS - App is freezing after tap on "Make default payment method""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App and login with expensifail account
2. Go to the Payments page.
3. Click any existing payment method to set it to default
4. Click set

[2022-02-22 23:59] SofiedeVreese commented on #7466
Ok seems like no regressions, getting ready to pay this one out!

[2022-02-23 00:02] roryabraham commented on #7861
Hmmm looking at [this code](https://github.com/Expensify/App/blob/75c7986c1b3fcb1683c42adc2a0079ddc58e0b2d/src/libs/actions/Report.js#L1030-L1033) I think we might have to also make `fetchOrCreateChatReport` return a simplified report object if we were to make `fetchChatReportsByIDs` return a list of simplified report objects. So let's make `ReportUtils.isConciergeChatReport` work with simplified

[2022-02-23 00:10] SofiedeVreese commented on #7466
Paid out @sobitneupane , added @kakajann to Upwork job to pay out reporting bonus.

[2022-02-23 00:14] mallenexpensify commented on #7642
Posted to Upwork since I was reviewing this. @kadiealexander , leaving you assigned as CM https://www.upwork.com/jobs/~011c3d7b7ee5f47ac1

[2022-02-23 00:23] #7178 closed

[2022-02-23 00:37] OSBotify commented on #7759
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/7802) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.39-3` :rocket:

[2022-02-23 00:37] OSBotify commented on #7759
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.39-3 has been deployed to staging :tada:

[2022-02-23 00:46] kadiealexander commented on #7642
Thanks Matt! I had it on the list but customers came first today so far!

[2022-02-23 01:00] marcaaron commented on #7859
I don't know what is being reported in this issue, but the sidebar inconsistencies I'm seeing are DRASTIC. A message that I got seconds ago will appear super far down the list of chats in the default mode.

[2022-02-23 01:19] kbecciv opened #7872 "Android - Payments - Unable to remove the verified bank account under Payments, error message appears."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Add VBA into your beta account
1. Launch the app and login with Beta account
2. Go to the payments page.
3. Tap on VBA payment method

[2022-02-23 01:40] LucioChavezFuentes commented on #7535
Guys, I made the request for a review to my [pull request]https://github.com/Expensify/App/pull/7807. Please, check my changes.
I keep an eye about the [pull request on @react-native-picker/picker] and see if future changes should be made in case this library gets updated.

[2022-02-23 01:57] aldo-expensify commented on #7859
I'll have a look again and see if I can reproduce it the problem

[2022-02-23 02:49] aldo-expensify commented on #7859
I'm failing to reproduce the problem... what I did:

- Use account A to chat to multiple accounts
- Log in into the other accounts and send message to A
- Didn't see conversations in wrong order at any time

[2022-02-23 02:57] mateusbra commented on #7780
### PROPOSAL
When we update policy we have to change costumUnit:
https://github.com/Expensify/App/blob/f45b134d9e206b5252cb0eb71f7d7261cfc921be/src/pages/workspace/WorkspaceSettingsPage.js#L92-L101
We will change to:
[code]

[2022-02-23 03:26] sobitneupane commented on #7075
Applied.

[2022-02-23 03:27] stephanieelliott commented on #7839
This is reproducible on iOS.

[2022-02-23 03:35] stephanieelliott commented on #7573
Price 2x'd to $500

[2022-02-23 03:38] stephanieelliott commented on #7541
2x'd price to $500

[2022-02-23 03:39] stephanieelliott commented on #7462
Hey @parasharrajat, any feedback on the proposal above?

[2022-02-23 03:42] stephanieelliott commented on #7265
All paid up!

[2022-02-23 03:42] #7265 closed

[2022-02-23 03:43] stephanieelliott commented on #7081
Hey @mananjadhav checking in on this - do you have an ETA when you will be able to take this PR out of draft status and submit it?

[2022-02-23 04:00] mananjadhav commented on #7081
Thanks for the bump. There is a bug that I am resolving when the transition happens from Ghost Screen to Messages. Rest all is done. Should have the PR by tomorrow.

[2022-02-23 04:00] mateusbra commented on #7671
@jboniface did you received my proposal?

[2022-02-23 04:05] kadiealexander commented on #7832
Posted to Upwork: https://www.upwork.com/jobs/~01fb9158fbedf74de3

[2022-02-23 04:20] mvtglobally commented on #7759
@timszot, Multiple new issues found while validating https://github.com/Expensify/App/pull/7782. None seem to be blockers, but pls double check. PR is failing due to the same
https://github.com/Expensify/App/issues/7868
https://github.com/Expensify/App/issues/7869
https://github.com/Expensify/App/issues/7872

[2022-02-23 04:22] koushal141 commented on #7832
**Proposal from Upwork**

Hi!
This seems like it's not a bug, but the way the front end is coded.
I.e:- When time zones match render time at the top and when they are different, render it at the bottom.

This can be fixed by merging the different timezone logic from bottom with the one at the top.

Eg: { timezoneOfUser1==timezoneOfUser2? <Render Local Time/> : <Render International Time/>}

Or rem

[2022-02-23 05:51] mim1192 commented on #7835
you mean sequence of video is not correct .

[2022-02-23 06:58] Christinadobrzyn commented on #7591
Hi @koushal141 - thank you for submitting a proposal to fix this! We currently have a contributor hired for the fix but we'd love it if you wanted to take a peek at our other open jobs in Upwork [here](https://www.upwork.com/nx/jobs/search/?q=Expensify%20React%20Native&sort=recency) or search our GH repo [here](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%2

[2022-02-23 07:02] Christinadobrzyn commented on #7638
Increased job price to $500 - https://www.upwork.com/jobs/~0164d759ed24b6bd3d

[2022-02-23 07:07] koushal141 commented on #7591
I'll do that. Thanks!

[2022-02-23 07:09] rushatgabhane commented on #7835
@mim1192 umm no, we just need video playback.

[2022-02-23 07:20] koushal141 commented on #7835
**Proposal from Upwork**

Hi there!
I can implement an inline video player in chats, but since this is react native, am not sure if I can implement it in web or desktop.

But I can implement it for Android and iOS devices. On other devices it'll fallback to the default behaviour of download option.

[2022-02-23 07:22] rushatgabhane commented on #7835
@koushal141 we need it to work on all platforms. But sure, post a detailed proposal. Maybe we can build up on it.

[2022-02-23 07:26] koushal141 commented on #7835
Ofcourse! I understand, am not saying it can't be done. Am just saying since it's cross platform, there might be a possibility it might not work on desktop. But I'll try my 100% to get it working on all platforms.

Should I send the proposal here or on Upwork?

[2022-02-23 07:31] rushatgabhane commented on #7835
Here is fine. Also, I'd suggest you to go through [Contributing.md](https://github.com/Expensify/App/blob/f45b134d9e206b5252cb0eb71f7d7261cfc921be/CONTRIBUTING.md) before proceeding, thanks!

[2022-02-23 07:35] ctkochan22 commented on #7810
Ah right. As long as you have a draft message. I think I have a lead on where its happeing

[code]

[2022-02-23 07:37] Beamanator commented on #7573
@Julesssss it looks like you're still not assigned 😅 I'll assign you if another week goes by 😈

[2022-02-23 07:41] #7816 closed

[2022-02-23 07:52] K4tsuki commented on #6718
For unread message it still can be updated, because I am tracking all `maxSequenceNumber` in `getReportsStatistic`. But for other data for example report name, personal details, icons, etc it is not being updated correctly. So I am back to returning `true` at the end of `shouldReorder` function and keep calling on `SidebarLinks.getRecentReports(nextProps)` by default.

<details> <summary> getRepor

[2022-02-23 08:02] Christinadobrzyn commented on #7439
No regressions so...

Paid @thesahindia for the job + $250 reporting bonus
Paid @rushatgabhane $250 as the C+

[2022-02-23 08:02] #7439 closed

[2022-02-23 08:11] Beamanator commented on #7856
This looks like something that can be worked externally 👍

[2022-02-23 09:03] laurenreidexpensify commented on #7597
Okay @kakajann paid 👍🏽

[2022-02-23 09:03] #7597 closed

[2022-02-23 10:22] Justicea83 commented on #7386
@shawnborton please how long do you want the textarea to be?

<img width="375" alt="Screenshot 2022-02-23 at 10 20 06 AM" src="https://user-images.githubusercontent.com/26106822/155300645-23a9b6b4-3660-49fe-9f05-15652e1f1e0a.png">
?

[2022-02-23 10:51] mateusbra commented on #7837
maybe duplicate of https://github.com/Expensify/App/issues/6471

[2022-02-23 11:16] kakajann commented on #7466
@SofiedeVreese can you give me a link to apply to the job

[2022-02-23 11:20] Julesssss commented on #7573
I was so focused on writing that comment that I forgot to assign myself 😅

[2022-02-23 11:24] Gonals commented on #7375
Ah damn! Yeah, I think this is a good candidate for external

[2022-02-23 11:52] Julesssss commented on #7872
We're blocking this in the backend, probably for a specific reason. I'm asking internally to see if we need a better error message instead here...

[2022-02-23 12:09] luacmartins commented on #7838
@adeel0202 Your proposal looks good, but I see that we are inconsistently applying styles to `CheckboxLabel` across the app. Could we go through all usages of `CheckboxLabel` and make sure that all styles are the same (I only see 11 usages)?

@Expensify/design what is the correct margin to be used here?

[2022-02-23 12:50] Julesssss commented on #7872
Hi @kbecciv, do you remember which email was used to test this?

[2022-02-23 12:53] kidroca commented on #7861
Isn't the idea of the simplified report object to save us from having additional logic on functions working with reports?
Having to deal with the same thing in 2 different ways is something that we can avoid
All the functions in `ReportUtils` are expecting simplified reports why change that now
We store simplified reports in Onyx

IMO we should create simplified reports as soon as we fetch data an

[2022-02-23 13:07] kidroca commented on #7861
I've investigated why we're not creating a simplified report object for `fetchOrCreateChatReport`
https://github.com/Expensify/App/blob/75c7986c1b3fcb1683c42adc2a0079ddc58e0b2d/src/libs/actions/Report.js#L931-L938

We're only saving the `reportID` to Onyx, because the returned structure does not match the one from `GetReportSummaryList`
https://github.com/Expensify/App/blob/75c7986c1b3fcb1683c42ad

[2022-02-23 13:59] kidroca commented on #7666
Thanks for the info @tgolen

`error: 'Failed to fetch'` happens when you're offline so it's an expected case for a retry.
It looks like Network is not realising it's offline and keeps retrying the requests until there are no more retries
This PR should help with realising we're offline when such error happens and pause the queue:
- https://github.com/Expensify/App/pull/7825

I don't know who uses

[2022-02-23 14:12] kidroca commented on #7666
I have a theory that the Desktop app caused the 100s of message

See the code here: https://github.com/Expensify/App/blob/853db572e36748541ec6c809d12a3ff2b61be8b5/desktop/main.js#L161-L190

Particularly lines that set `access-control-allow-origin`
[code]

The code [was merged](https://github.com/Expensify/App/pull/7665) on 10th February - last date anyone reported the issue happening to them

I wo

[2022-02-23 14:21] kbecciv commented on #7872
Hello @Julesssss, tester login credentials: applausetester+1226abb@applause.expensifail.com and Password: Feya86Katay

[2022-02-23 14:48] aldo-expensify commented on #7859
@mvtglobally can you reproduce this problem without using accounts that have pending IOU?

[2022-02-23 14:53] parasharrajat commented on #7838
I agree. @adeel0202 's approach is correct but we have to modify every page to have the same margin for checkboxes.
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-23 15:18] jboniface commented on #7671
yep, thanks!

[2022-02-23 15:21] parasharrajat commented on #6718
What is `draftActive` variable? I think you are tracking the report draft status but this. Something; like when user add/remove the draft you use this variable. Right?

If so, this is a bad approach as the sidebar is not related to Report that is currently open. You are trying to mix states between components. This is considered a bad pattern. On the other hand, the stats technique is fine.

I am

[2022-02-23 15:23] parasharrajat commented on #7832
I like @Santhosh-Sellavel 's proposal.

cc: @chiragsalian

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-23 15:25] mateusbra commented on #7638
### REASON
We are not handling the session error within [SignInPage.js](https://github.com/Expensify/App/blob/main/src/pages/signin/SignInPage.js) page, we are trying to show resend link form when user try to create account with phone number.

the reson for we get a 404 error is because after:
https://github.com/Expensify/App/blob/853db572e36748541ec6c809d12a3ff2b61be8b5/src/libs/actions/Session/i

[2022-02-23 15:26] mvtglobally commented on #7759
Checking off #7774,7775 they no longer reproducible

[2022-02-23 15:32] puneetlath commented on #7640
Started a discussion here: https://expensify.slack.com/archives/C03TQ48KC/p1645630309249429

[2022-02-23 15:34] TomatoToaster commented on #7869
So this looks like it had to do with the password input not rendering correctly after selecting the payment method
<img width="348" alt="image" src="https://user-images.githubusercontent.com/19364431/155351473-ad57dade-f435-4a1d-b3e2-ce69cca30ddf.png">

@parasharrajat your PR fixed this perfectly so I'm going to add this to the list of fixed issues in your PR and close this issue.

[2022-02-23 15:36] TomatoToaster commented on #7786
I still can't recreate this one so I think some other change might have fixed it? It doesn't seem to be linked to the `undefined` crash because this still works for me on staging. I'm going to close this but if it crops up again feel free to reoopen.

[2022-02-23 15:36] #7786 closed

[2022-02-23 15:52] luacmartins commented on #7838
Thanks for the review @parasharrajat! Cool, just waiting on confirmation from the design team before we move on.

[2022-02-23 15:57] parasharrajat commented on #7462
Sorry, I was sleepy when I reviewed it so couldn't leave a comment.

@aswin-s

I don't see how will you do that in your proposal.

It will create more challenges. Do we want to make the attachment URL accessible? I think no. As attachments are related to reports. It would need to be sub root of the report.  I don't think this is a good approach.

---

There are other ways. You can take a look at `

[2022-02-23 16:05] parasharrajat commented on #7844
@sobitneupane Can we please drill down in the `AnchorForCommentsOnly` to show the tooltip? `AnchorForCommentsOnly` is multipurpose. The tooltip should be added to the closest native node.

@mallenexpensify I agree, we if we want to show the URL on mobile, we can show that over the Copy to clipboard context item in the popup menu.

[2022-02-23 16:06] parasharrajat commented on #7185
PR will be ready by Monday.

[2022-02-23 16:20] kevinksullivan commented on #7854
@SofiedeVreese going OOO starting tomorrow so reassigning to avoid being a bottleneck here!

[2022-02-23 16:27] mallenexpensify commented on #7844
sorry @parasharrajat , forgot you were assigned as C+ :ohnothing:   Let's see if we can tackle both mobile and web/desktop via this issue

[2022-02-23 16:32] parasharrajat commented on #7325
@chiragsalian My review https://github.com/Expensify/App/issues/7325#issuecomment-1043411720

[2022-02-23 16:36] timszot commented on #7759
OK, let me make sure I've got this straight....

It looks to me that we have 4 items on this checklist to finish up:

PR: https://github.com/Expensify/App/pull/7782
- This was cherry picked yesterday to fix the [three deploy blocker issues](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3ADeployBlockerCash)
- One of those blocker issues is in this checklist: https://github.co

[2022-02-23 16:36] parasharrajat commented on #7844
Do you prefer the tooltip on Mobile or fine with showing the link on the popup menu ?

[2022-02-23 16:43] mallenexpensify commented on #6591
Waiting for @parasharrajat to review the PR

[2022-02-23 16:45] mvtglobally commented on #7759
@timszot We are blocked to check https://github.com/Expensify/App/issues/7769 because of the error https://github.com/Expensify/App/issues/7868. We are unable to make any payment default at this time.

[2022-02-23 16:45] mateusbra commented on #7638
Thank you @parasharrajat. I think that could work, I'll make these changes and update my proposal.

[2022-02-23 16:49] iwiznia commented on #6676
@parasharrajat asked me for a spanish translation of `You appear to be offline. Pending invitations will send when you are online.`, but I am not convinced that `pending invitations` is the right copy for this. I would use something like: `You appear to be offline. The people you have invited will be added to the workspace when you are online.`. Thoughts @Expensify/marketing?

[2022-02-23 16:51] parasharrajat commented on #6591
I will do it soon. I am trying to test two related PRs combined.

[2022-02-23 16:53] timszot commented on #7868
@parasharrajat This is related to your PR #7782 that was merged yesterday. Can you take a look here please?

[2022-02-23 16:56] parasharrajat commented on #7868
Ok. Thanks. I will debug this. It does not seem related to that change as I also used to get to before that regression on my account. I will update you shortly as this is ![image](https://user-images.githubusercontent.com/24370807/155367967-fe1c5cb3-0fbe-4b9b-ad21-a07e559e5dc3.png)

[2022-02-23 16:59] Julesssss commented on #4264
Hey @mananjadhav, how is this looking?

[2022-02-23 16:59] rushatgabhane commented on #7666
Looks like that's @thesahindia from [this slack message](https://expensify.slack.com/archives/C01GTK53T8Q/p1645635111267529?thread_ts=1645622094.588919&cid=C01GTK53T8Q).

[2022-02-23 17:16] kidroca commented on #7666
Yes, reverting the code
But it didn't recreate the issue.
It resulted in a lot of (all) requests getting retried, but now stopping at the 10th try, and the receiving end didn't receive my messages

Yet the Desktop app worked for a long time with no CORS problems and without the mentioned changes
So perhaps a backend change was made around the same time that made them necessary 🤷
Something around `

[2022-02-23 17:21] mallenexpensify commented on #7584
This is moving along

[2022-02-23 17:22] mountiny commented on #7584
Merged just today! 🎉

[2022-02-23 17:36] thesahindia commented on #7666
Yes I use that email.

[2022-02-23 17:39] mallenexpensify commented on #4612
@parasharrajat will get to soon

[2022-02-23 17:40] marcaaron commented on #7811
No, it does not seem related to drafts for me. I think these are two separate issues.

[2022-02-23 17:41] roryabraham commented on #4379
Note to self, the comments from https://github.com/Expensify/App/pull/7802 also won't work with a manual CP

[2022-02-23 17:42] marcaaron commented on #7811
Sorry ignore previous comment. I can't repro this. Let's wait until the log fix is live and then we will have more information about what is going wrong. Please make sure to share the tester email the next time someone experiences this.

[2022-02-23 17:49] marcaaron commented on #7077
Looks like the fix for this is still on staging.

[2022-02-23 17:53] jamesdeanexpensify commented on #6676
Maybe we could say (slight tweaks):

[2022-02-23 17:59] chiragsalian commented on #7325
Awesome. Thank you for that post rajat.
Oh hah, i love a clean and simple solution.

Feel free to create the PR @K4tsuki.

[2022-02-23 18:05] kevinksullivan commented on #6806
Offer sent @parasharrajat , will get that paid once you accept.

[2022-02-23 18:13] roryabraham commented on #7666
I think there might be something to @kidroca's theory, but I'm not really sure. The code @kidroca referenced above fixed a CORS issue on desktop – maybe before that CORS issue was fixed, we were blasting `Report_AddComment` requests. It might make sense that if we got a response (meaning that we are online), but the request still failed due to CORS, then we'd just retry the request because the err

[2022-02-23 18:22] iwiznia commented on #7868
Given this, I doubt this is a deploy blocker.

[2022-02-23 18:24] iwiznia commented on #7868
@kbecciv I need the user's email to be able to get logs and try to determine if this can be worked on by an contributor or not. Can you give me the email of the user you used and an approximate date and time (including time zone) when the test was done?
Also, do we not include the user's email and other relevant data as part of the issue template??

[2022-02-23 18:25] NikkiWines commented on #6807
Not overdue, waiting for proposals

[2022-02-23 18:29] Phantom-2 commented on #7541
**Proposal** <hr /> we can remove the Height and the line-height from styles.js and the problem will be solved

in src/styles/styles.js
[code]
[code]
[code]
[code]
[code]

in src/components/Textinput/styleConst.js
[code]

[2022-02-23 18:30] kbecciv opened #7877 "Android - Slow response times with the High traffic account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with the High traffic account (applausetester+1226abb@applause.expensifail.com)
3. Navigate to Setting and select any op

[2022-02-23 18:37] #6806 closed

[2022-02-23 18:38] roryabraham commented on #7776
Making this a weekly and monitoring KI retests.

[2022-02-23 18:40] sobitneupane commented on #7844
If we want to show tooltip both in desktop and web app, we should add `<Tooltip>` around
https://github.com/Expensify/App/blob/87230549a3d9c299f7abbc98012f4143383c2c19/src/components/AnchorForCommentsOnly/BaseAnchorForCommentsOnly/index.js#L72-L85

If we want to show tooltip only in desktop, we should add a new file index.desktop.js with the codes in index.js with above change.

Showing url in pop

[2022-02-23 18:43] mateusbra commented on #7638
@parasharrajat proposal updated

[2022-02-23 18:49] eVoloshchak commented on #7524
I would like to complete this task.
Not sure posting whole code is possible in this case, so I'm doing to explain the algorithm I would use to complete the job:
1. Navigate to a form in code editor as well as find it in an app on an actual device
2. Find all `TextInput'`s inside the form and it's children
3. For every `TextInput` inspect it's `onChangeText` method to see if user's input is being m

[2022-02-23 18:50] roryabraham commented on #7769
@Beamanator Any update on this issue? I know @parasharrajat has worked on this some, but as the internal assignee it's your responsibility to resolve this hourly deploy blocker with as much urgency as possible.

We have not deployed NewDot in more than a week, and this is the last deploy blocker.

[2022-02-23 18:57] hiteshagja commented on #6908
@mountiny Yes, Shall I raise PR?

@parasharrajat I also did lot of digging in this issue but never come to any conclusion. I tried different react-navigation version i.e. 5.x to verify the issue. Also tried the same kind of navigation structure in entirely new app. But nothing I come to conclude.

[2022-02-23 18:58] kbecciv commented on #7868
@iwiznia Here is  the email user - applausetester++2501mn@applause.expensifail.com and an approximate date and time is 02/22/22 at 5:02 PM EST.

[2022-02-23 19:02] parasharrajat commented on #7868
Ok, I tested it. This error is not a regression my PR. https://github.com/Expensify/App/issues/7769 was a regression from the PR which I already solved and it is now on staging.

This seems like a backend error.

[2022-02-23 19:03] parasharrajat commented on #7769
I have fixed this issue @roryabraham PR was pushed 7 days back https://github.com/Expensify/App/pull/7782.

[2022-02-23 19:05] parasharrajat commented on #7844
Do you see any other way to show the URL on Mobile @sobitneupane ?  Holding proposal review until we finalize the changes that need to be done for
1. Native?
2. Web & Desktop ( Tooltip)

[2022-02-23 19:06] mountiny commented on #6908
Yes, go ahead, please! 🙇

[2022-02-23 19:10] parasharrajat commented on #7524
@rushatgabhane Do you mind taking over?

[2022-02-23 19:10] #7774 closed

[2022-02-23 19:10] #7775 closed

[2022-02-23 19:14] chiragsalian commented on #7832
Yup it lgtm too.

Feel free to create the PR @Santhosh-Sellavel.

[2022-02-23 19:19] parasharrajat commented on #7638
There are a few things that you missed.
1. Do not update `ResendValidationForm`. That exists for a different purposes. Create a new component.

Why do you need it? Seems unnecessary. Just don't clear the user email.

And handle the logic to render the new component in LoginForm.

[2022-02-23 19:21] iwiznia commented on #6676
I like @jamesdeanexpensify's version a bit better, though I would remove the `!` from it, it's not that alarming that the request will be sent later 😉

If we are going with that one, the spanish version would be:

[2022-02-23 19:21] nickmurray47 commented on #7877
Info looks all there and it seems to me like this could very well be a rendering issue within the Android app. I'm not too familiar with how we can optimize things with RN, so going to tag @roryabraham who might have a clearer idea and will also add `Internal` to take some contributor thoughts.

[2022-02-23 19:23] parasharrajat commented on #6676
cc @K4tsuki Please update those as per :arrow_up:

[2022-02-23 19:33] parasharrajat commented on #4612
Update: This one is close. This is next on the list. I have already reviewed the initial proposals But I need to understand the new suggested changes.

[2022-02-23 19:35] iwiznia commented on #7868
Thanks @kbecciv!

Logs for the request are [here](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id%3A(%226e1be73478732d2a-DEN%22)%20AND%20timestamp%3A%5B2022-02-22T22%3A13%3A07.332Z%20TO%202022-02-23T00%3A13%3A07.332Z%5D&index=_all). The error in question is:

Seems we throw that error when the wallet bank account used is not in OPEN state. I checked and indeed the bank accou

[2022-02-23 19:38] nickmurray47 commented on #7841
@ahmdshrif @sobitneupane appreciate the proposals but letting both of you know that this particular issue didn't follow our standard practice. We only accept contributor proposals on issues that are marked as `External` and/or `Help Wanted`. Please let me know if you have any questions and feel free to ask in our Slack channel, too!

[2022-02-23 19:39] pecanoro commented on #7541
@shawnborton I feel like someone from the design team should review any proposal here since there are many options to solve it but I am not sure if it would mess up with the general design. Should I assign the label to assign someone automatically or does someone review the CSS changes in the team more specifically?

@Phantom-2 Could you link a video/screenshot of how that change would look it for

[2022-02-23 19:39] parasharrajat commented on #7759
https://github.com/Expensify/App/issues/7769 is fixed by  https://github.com/Expensify/App/pull/7782.

To https://github.com/Expensify/App/pull/7782, the app should not crash.

https://github.com/Expensify/App/issues/7868 was present on main since the past few versions and I don't think it is a deploy blocker. Also, I think this is behind beta.

[2022-02-23 19:45] ctkochan22 commented on #7811
Looking into this here: https://github.com/Expensify/App/issues/7810

[2022-02-23 19:46] murataka commented on #4612
@parasharrajat , I think it should be helpful to create a discussion on slack , for at least me , to clarify   the last changes and what they are doing , especially at customactions.js , the dispach calls. Also it would be helpful if anyone enlighten me about what they are really doing .  I am unable to understand those calls deeply, but just trying to guess , but I see that you are beyond me on t

[2022-02-23 19:52] parasharrajat commented on #4612
I am trying to find solutions for other issues on that list. You can see the updates on those issues. If I find something that needs attention, I will open a discussion on slack and involve you.

Sure, I will be happy to help you with the CustomActions based on your proposed changes.

[2022-02-23 19:57] roryabraham commented on #7759
@mvtglobally We discussed internally and we don't want to open the floodgates to more pull requests, as that will likely only increase the time until the next deploy. We want to get the deploy out ASAP as all the contributors with PR's in this checklist are waiting for their work to be deployed to production so they can be compensated.

[2022-02-23 20:01] danieldoglas commented on #7777
Ok, setting this as External since we won't need any changes on backend to fix it.

[2022-02-23 20:04] johnmlee101 commented on #7517
no update

[2022-02-23 20:04] thienlnam commented on #7413
Changes are merged, awaiting regression period for payment

[2022-02-23 20:05] JmillsExpensify commented on #7727
Still waiting on volunteers

[2022-02-23 20:08] Luke9389 commented on #6069
I think this should be closed. There just hasn't been a consensus that this is a problem. Thoughts @MitchExpensify ?

[2022-02-23 20:08] Luke9389 commented on #7749
This is getting fixed elsewhere.

[2022-02-23 20:08] #7749 closed

[2022-02-23 20:14] tgolen commented on #7735
Can you please try again @0x41-li ? I think the betas have a 4 hour cache

[2022-02-23 20:15] chiragsalian commented on #7715
@michaelhaxhiu, did you post this job in upwork? If not please do. Looks like it's specific to touchscreen devices.

@parasharrajat, thanks for the find. I'm not sure if the last statement is a solution. Either way, can you explain where you'll be adding the code and what would it be for clarity. Additionally, I was curious if this is something you can test or not? Worst case we can still push out

[2022-02-23 20:15] tgolen commented on #7434
This is being worked on and a PR has been submitted

[2022-02-23 20:18] michaelhaxhiu commented on #7618
Job value moving up to $500 since 1 week and no takers.

[2022-02-23 20:24] mateusbra commented on #7638
proposal updated again

[2022-02-23 20:25] mateusbra commented on #7638
We need it to keep button spinner loader and to keep on LoginForm(don't show ValidationLinkForm)

[2022-02-23 20:28] mateusbra commented on #7638
@parasharrajat if we don't use it and keep with the logic we currently use we end up with this:

https://user-images.githubusercontent.com/56851391/155402770-886e00c2-b841-45e4-85ba-7e009221b251.mp4

[2022-02-23 20:29] parasharrajat commented on #7715
I haven't proposed anything yet https://github.com/Expensify/App/issues/7715#issuecomment-1047280722 is an explanation of the root cause.

### Propose.
I don't see any solution that allows us to detect that the user is using an external keyboard so we will have to detect that the user is on desktop.
Possible options.
2. dimensions check.
3. UserAgent check.
4. feature detection.

I will try to fin

[2022-02-23 20:34] chiragsalian commented on #7715
Cool, thanks for clarifying. I'll bump this down to weekly since i don't feel like its a daily. If anyone disagrees feel free to bump it up.

[2022-02-23 20:35] JmillsExpensify commented on #7380
Jumping in to processes contributor payments. I'll close the issue when that step is complete for all contributors.

[2022-02-23 20:37] michaelhaxhiu commented on #7715
done

 https://www.upwork.com/jobs/~01e9d1a86d39175b4d

[2022-02-23 20:41] parasharrajat commented on #7638
I saw its purpose but I meant to say It may be not needed. Just need to tweak checks here https://github.com/Expensify/App/blob/853db572e36748541ec6c809d12a3ff2b61be8b5/src/pages/signin/SignInPage.js#L61-L83

So that it does not show those forms based on `blocked:Boolean`. Then when the block shows the new form. Do you think that will work?

[2022-02-23 20:42] #7380 closed

[2022-02-23 20:42] kidroca commented on #7666
Thanks @roryabraham, @tgolen, I've managed to recreated it with the Desktop app
It didn't work the first time I tried because my auth token was old. I couldn't tell because everything was getting masked by CORS errors
Since then I've build the same Desktop version but with a fresh auth token and voila

https://user-images.githubusercontent.com/12156624/155399509-7f804d08-0dc9-4e94-a48e-21e70106f3e

[2022-02-23 20:42] JmillsExpensify commented on #7380
All contributors, let me know if you have any issues with payments. Thank you!

[2022-02-23 20:44] timszot commented on #7759
Alright, tested the default payment option on iOS 1.1.39-3 and it worked

[2022-02-23 20:44] kidroca commented on #7666
Just to be clear: there are no CORS issues at the moment
I'm sharing these materials because I think we can move the handling of this header to the backend

This would allow us to whitelist the following domains and get rid of the proxy server:
- localhost
- *.expensify.com
- app://
- etc...

[2022-02-23 20:45] timszot commented on #7759
We should be all clear! :shipit:

[2022-02-23 20:46] OSBotify commented on #7759
This issue either has unchecked QA steps or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-02-23 20:46] parasharrajat commented on #7727
@JmillsExpensify Exported label is missing from this one.

[2022-02-23 20:47] JmillsExpensify commented on #7727
Thank you

[2022-02-23 20:48] michaelhaxhiu commented on #7759
Just to be 100% sure I'm following, we have no remaining deploy blockers?

[2022-02-23 20:49] timszot commented on #7759
Correct, the last blocker was https://github.com/Expensify/App/issues/7769 which was fixed by https://github.com/Expensify/App/pull/7782

[2022-02-23 20:50] timszot commented on #7759
:shipit:

[2022-02-23 20:50] #7759 closed

[2022-02-23 20:51] timszot commented on #7769
tested and confirmed

[2022-02-23 20:51] #7769 closed

[2022-02-23 20:52] michaelhaxhiu commented on #7759
gracias :) well done

On Wed, Feb 23, 2022 at 4:50 PM Tim Szot ***@***.***> wrote:

--
Michael Haxhiu

[2022-02-23 20:52] botify commented on #7413
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7571
- https://github.com/Expensify/App/pull/7571

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:52] botify commented on #7440
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7552

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:52] botify commented on #7471
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7661

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:53] botify commented on #7670
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7692

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:53] botify commented on #7666
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7673

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:53] botify commented on #6213
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7639

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:53] botify commented on #7382
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7600

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:53] botify commented on #7146
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7387

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:53] botify commented on #7268
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7700

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:53] botify commented on #7496
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7700

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:53] botify commented on #7686
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7718

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:53] botify commented on #7624
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7720

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:53] botify commented on #7590
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7716

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:53] botify commented on #7474
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7592

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:53] botify commented on #7626
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7681

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:54] botify commented on #7704
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7740

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:54] botify commented on #7518
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.39-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7741

If no regressions arise, payment will be issued on 2022-03-02. :confetti_ball:

[2022-02-23 20:54] OSBotify opened #7883 "Deploy Checklist: New Expensify 2022-02-23"
**Release Version:** `1.1.40-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/7098
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/7459
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/7565
  - [x] QA

[2022-02-23 20:54] michaelhaxhiu commented on #7352
👋  should the price of this job double again today @kadiealexander ?

[2022-02-23 21:01] michaelhaxhiu commented on #6912
So this issue is still un-assigned right now as far as I can see, right? Mind providing a link to what we are waiting on right now @parasharrajat?

I'm trying to discern if this hold should be on hold for some reason, or doubling in value this week.

[2022-02-23 21:07] parasharrajat commented on #6912
I don't feel this needs doubling this week. I will update you next week on the status. I haven't completed my testing and it's not on hold now. I am debugging this. I have some data but am not yet ready to be shared.

[2022-02-23 21:08] michaelhaxhiu commented on #6912
Thanks for sharing the context, that's helpful!

[2022-02-23 21:08] kadiealexander commented on #7352
@michaelhaxhiu Our engineers have advised not to double the price yet in this instance. :)

[2022-02-23 21:09] michaelhaxhiu commented on #7579
@mallenexpensify should this GH have the `Helped wanted` label?

[2022-02-23 21:15] roryabraham commented on #7352
@ahmdshrif it seems like you're pretty close to the core issue here, but we're just lacking a complete proposal including the context for your changes. Why would we have double div tags, and why would we remove those from the markdown?

Furthermore, it looks like your solution preserves only _one_ newline, but not messages that have multiple newlines in a row.

[2022-02-23 21:29] mallenexpensify commented on #7579
Yes, weird that it got removed when I assigned myself after Nicole to keep 👀 on the issue while I was out. Asking Vit about, he might have worked on the `Help Wanted` label

[2022-02-23 21:50] tgolen commented on #7666
Cool, thanks for that info! This is the backend code for the CORS header:

![image](https://user-images.githubusercontent.com/1228807/155414562-794a34a9-b9cf-49d8-afaa-6ad9be6fe23c.png)

So, maybe we should just ad `app://` to that? Isn't that a protocol though, not the host? PHP is doing things with the host there.

[2022-02-23 21:53] trjExpensify commented on #6213
Oh, hm. That's pretty hidden as there's always a default rate populated. @Julesssss @marcaaron @iwiznia, won't we need to be able to support a prefix label in the text field for N7?

[2022-02-23 21:56] Phantom-2 commented on #7541
@pecanoro Sure

https://user-images.githubusercontent.com/100276440/155415401-4bbe4149-9e4f-4efe-b721-9e9104cc6287.mp4

[2022-02-23 21:56] trjExpensify commented on #7779
To clarify, this has to be done _`internally`_ 😅

[2022-02-23 22:04] JmillsExpensify commented on #7463
Holding on payment until we get the most recently linked PR merged.

[2022-02-23 22:07] alex-mechler commented on #7779
Yes, this has to be done internally.

[2022-02-23 22:09] mateusbra commented on #7638
@parasharrajat it won't work because:
1. We need the spinner loader appearing till the end of the SignUp request, if we don't use the `creatingAccount` prop, it will stop the spinner loader before it should.
2. We perform 2 Api requests(getAccountStatus,SignUp). We get the same response from getAccountStatus for email/phones. So there's no way to identify what we should render yet, we need to wait

[2022-02-23 22:11] OSBotify commented on #7883
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.40-0 :rocket:

[2022-02-23 22:16] iwiznia commented on #6213
I don't know what a prefix label is.

[2022-02-23 22:16] puneetlath commented on #7524
Yes, we should do this on every blur.

[2022-02-23 22:19] mallenexpensify commented on #6069
It's 100% a problem, when I type `cmd+k` and start typing a name, it doesn't show what I've typed.  It often takes a character or three. This is me typing `james`
<img width="406" alt="image" src="https://user-images.githubusercontent.com/22508304/155418349-cfa925a3-63fd-4c4f-b078-07df45792a8f.png">

And this is `isabella`
<img width="362" alt="image" src="https://user-images.githubusercontent.com

[2022-02-23 22:21] SofiedeVreese commented on #7375
Assigning myself as External.

[2022-02-23 22:25] JalalMitali commented on #7352
I thought this one is solved may you clarify for me what is still needed please ?

[2022-02-23 22:33] roryabraham commented on #7877
Personally, I think this issue is a bit too broad to be useful, and we should just close it. Not saying that performance on Android isn't an issue, but just saying for the sake of external issues we should keep them more focused on more distinct deliverables.

FWIW, we've hired a group of specialized React Native contributors who are going to be focused on improving performance, which suffers the

[2022-02-23 22:33] #7877 closed

[2022-02-23 22:35] eVoloshchak commented on #7524
But if we are not updating the UI, what are we using this check for?

[2022-02-23 22:37] SofiedeVreese commented on #7466
Ok that's also paid out now @kakajann.

Closed job in Upwork.
Closing this GH.

[2022-02-23 22:37] #7466 closed

[2022-02-23 22:41] SofiedeVreese commented on #7375
Posted on Upwork: https://www.upwork.com/jobs/~0112ee5bb8a9f27309

[2022-02-23 22:42] roryabraham commented on #7861
Ah yes, this is because we have separate entities in our back end for full `Report` and `ReportSummary` objects. So you're probably seeing a `Report` entity instead of a `ReportSummary` entity there.

Okay, I'm fine with this approach – I was just trying to suggest the simplest way to solve the issue without introducing scope creep and risking breaking anything else. But if you feel strongly about

[2022-02-23 22:52] SofiedeVreese commented on #7854
Posted on Upwork:
https://www.upwork.com/jobs/~0112822514be6ede5b

[2022-02-23 22:59] Tabakharniuk commented on #6301
@parasharrajat any updates on this issue?

[2022-02-23 23:00] iwiznia commented on #6213
Oh, I see. I assume we will need it if we want to show the currency like that in an amount input.
Having said that, can we achieve this by adding the `$` character to the input's value and then not allowing the user to delete it? (thought that can still be weird for things like selecting the contents of the input)

[2022-02-23 23:02] parasharrajat commented on #7638
I got it then we can simply use `Onyx.merge(ONYXKEYS.ACCOUNT, {loading: true}); ` again.  Session is not the correct key to store that.

Apart from it, we can dry Both the new component and `ResendValidationForm`. If they are mostly the same just rename `ResendValidationForm` to something more suitable for both purposes.

Rest, I am fine with @mateusbra 's proposal.

cc: @Luke9389

:ribbon: :eyes:

[2022-02-23 23:02] pecanoro commented on #7541
Hmm, I think when removing the line heights, the style breaks a bit for the placeholders since they are supposed to look like this:

<img width="263" alt="New Expensify 2022-02-23 18-00-45" src="https://user-images.githubusercontent.com/6474442/155424181-96646486-ef74-4f0f-aca6-9083d4805984.png">

[2022-02-23 23:03] iwiznia commented on #7854
@mdneyazahmad that sounds good. Please do some tests when working on the PR to determine the best number of lines.
@SofiedeVreese let's hire @mdneyazahmad
@parasharrajat removing you as C+ since I already approved the proposal.

[2022-02-23 23:03] kidroca commented on #7666
The current code adds this
https://github.com/Expensify/App/blob/853db572e36748541ec6c809d12a3ff2b61be8b5/desktop/main.js#L176

It shouldn't be prefixed with `https`

Buuut it also changes the origin sent by the request (I geuss `$host`) so it won't work unless we revert that
https://github.com/Expensify/App/blob/853db572e36748541ec6c809d12a3ff2b61be8b5/desktop/main.js#L167

Also maybe there's som

[2022-02-23 23:06] kidroca commented on #7666
@NicMendonca, @tgolen
I'm sorry but I submitted the https://github.com/Expensify/App/pull/7673 before there was an Upwork job and never applied for it

I've tracked any work around this ticket (including recreating the problem in Desktop today) in my hourly contract referencing this issue

[2022-02-23 23:12] SofiedeVreese commented on #7854
@mdneyazahmad feel free to apply for the role via the job link [here](https://www.upwork.com/jobs/~0112822514be6ede5b) !

[2022-02-23 23:15] parasharrajat commented on #6301
Yeah, I am coming back to it. Give me a few hours to analyze. Although, there are not many questions I just want to be sure we are not missing steps.

At this stage, you can help with this one?
1. How are you taking the dimensions of the canvas area?
2. What if the uploaded image is smaller than that canvas area?

@Tabakharniuk You mentioned using custom logic which is the desired requirement and

[2022-02-23 23:18] parasharrajat commented on #7375
@srdjanrist I don't understand the purpose of your proposed change. Could you please explain what will this prop do?

[2022-02-23 23:27] tgolen commented on #7666
@NicMendonca Can you close the upwork job, please?

Maybe to fix the host/origin problem, the PHP code can also look at HTTP_REFERRER to see if it contains `app://`. So it would look more like this:

[code]

We would have to change this too:
[code]

[2022-02-23 23:27] kidroca commented on #7861
Sorry there was a typo: we can't create a simplified report out of the data fetched in `fetchOrCreateChatReport`
It's neither a full report or a summary
![image](https://user-images.githubusercontent.com/12156624/155426309-a65ce4d8-9f11-4b52-ba8c-8d5246bb4b3c.png)

I think we should either
- receive a compatible report there
- or fetch the full report using `fetchChatReportsByIDs` and the ID of th

[2022-02-23 23:31] kidroca commented on #7666
Well just so you know both the referrer and origin are overridden here, so if you do decide to take this to the backend we should unset them on Desktop (which can happen after the server is updated)

https://github.com/Expensify/App/blob/853db572e36748541ec6c809d12a3ff2b61be8b5/desktop/main.js#L167-L169

[2022-02-23 23:43] NicMendonca commented on #7792
Upwork job: https://www.upwork.com/jobs/~015c7e8ebff980d7e0

[2022-02-23 23:46] kavimuru opened #7884 "Hovering over room avatar no tool tip is displayed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue was found when executing #7459**
## Action Performed:
1. Open the app and login
2. Create a workspace and members to it
2. Create a room in the workspace created

[2022-02-23 23:51] kavimuru opened #7885 "[HOLD for payment 2022-03-22] Room - User not taken back to details page clicking back from members page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a "New Room" via the floating "+" icon
2. Click the room header to access the Details right hand pane
3. Click Members and click Back.

##

[2022-02-23 23:57] Christinadobrzyn commented on #6908
New Job posting b/c the old one expired:

Internal: https://www.upwork.com/ab/applicants/1496634686562553856/job-details
External: https://www.upwork.com/jobs/~01dfe99520746004e8

@hiteshagja will you please confirm this is your [Upwork profile](https://www.upwork.com/freelancers/~01fbce48fe3ff0c364?viewMode=1) so I can hire you? Thank you!

[2022-02-24 00:00] jkgaming88 commented on #7375
Hello,

Not seeing code it is hard to see a problem and fix it but I do have a couple of possible solutions. Try setting the button width to Dimensions.get('window').width. Another solution is creating a pressable with a view component inside. Make the view component the size you want. Then when you click the pressable change the view's background color.  I would love to help but without code it's