[2022-01-02 00:33] puneetlath commented on #6719
@kevinksullivan to confirm, you want the request call page to have the exact same functionality on new dot that it does on old dot? From what I can see, there are a handful of things the old dot page that the new dot page doesn't:
- the optional "extension" field
- dynamic messaging in the gray text based on:
- if it's a weekend:

- if it's not a weekend, then it tells you the current wait time

T

[2022-01-02 11:20] parasharrajat commented on #6872
Ok. Sorry for the delay. We are not ready to make BaseExpensiInput Controlled. @sobitneupane I understood your proposal but we can't do that do you have any other approach to solve this issue.
Can we try with `ref.clear()` as the last resort or trigger an update on the input so that it clears the input automatically?
Or Do you think of a way so that `BaseExpensiInput` can be improved by making it

[2022-01-02 12:16] mdneyazahmad commented on #6427
## Proposal

I will create a function to get decimal symbol used in the current locale. We can attach this function in the LocaleProvider.

[code]

## 1. src/pages/iou/steps/IOUAmountPage.js

It won't make any changes in the current state. It is just to show the formatted number in the ui, internally we will have our numbers in the us locale.

[code]

[code]

## 2. src/components/BigNumberPad.js

[2022-01-03 03:22] akshayasalvi commented on #5079
@iwiznia PR is updated with all the changes and I am testing. I have been able to test on web and mobile web only.

I am very sorry for the delay

[2022-01-03 05:40] Beamanator commented on #6911
Thanks @sobitneupane 👍 Just so you know, some Expensify employees are on vacation due to the holiday season so if you experience any delays, feel free to ping us here :)

[2022-01-03 09:01] eVoloshchak commented on #6470
1. We add `shouldFocusOnSelectRow` to `OptionsSelector` on [NewChatPage](https://github.com/Expensify/App/blob/d012bea6850bab9010e15d66d5b81220d569022c/src/pages/NewChatPage.js)
2. Inside [OptionsSelector](https://github.com/Expensify/App/blob/96ba12da431936b19c80eb895f9531ee44039e71/src/components/OptionsSelector.js#L195) we introduce a new variable, for now I will call it `this.lastBlurTimestamp

[2022-01-03 09:51] mountiny commented on #6841
Waiting for a copy.

[2022-01-03 09:54] mountiny commented on #6965
I think Jason is OOO today yet so tomorrow we should be good to go.

[2022-01-03 10:14] robertjchen commented on #5059
No update here, still under discussion coming into the new year 👍

[2022-01-03 10:15] parasharrajat commented on #6470
can't we use https://reactnative.dev/docs/0.63/textinput#selecttextonfocus

500 ms is a big time span I would say 100 is good to determine that the user clicked away to the row from the seachbox. **But we don't need it**.

Lets use the related target property of onBlur and determine that the focus moved from search to SelectRow.

[2022-01-03 11:16] MariaHCD commented on #6389
Hey, @anthony-hull! Just catching up on the [issue](https://github.com/Expensify/App/issues/6890) linked above, it sounds like this issue is the same and the fix will be handled as part of https://github.com/Expensify/App/pull/6587? Let me know!

[2022-01-03 11:17] sketchydroide commented on #6663
still no change, holiday season did not help, lets see if we have any movement this week

[2022-01-03 11:45] anthony-hull commented on #6389
Yes you're correct :) I'm just waiting for another PR to merge!

[2022-01-03 11:56] MariaHCD commented on #6389
Great, thanks for confirming! I believe we can close this issue out, then.

[2022-01-03 11:56] #6389 closed

[2022-01-03 11:58] anthony-hull commented on #6389
If this closes out do I still get the bonus for reporting when the other issue closes? As the other issue is the duplicate.

[2022-01-03 12:49] MariaHCD commented on #6389
Great question, I'll just confirm with a colleague on this and get back to you asap.

[2022-01-03 13:55] sobitneupane commented on #6911
Sure. Thank You.

[2022-01-03 14:33] NicMendonca commented on #6471
PR still `open`

[2022-01-03 14:35] NicMendonca commented on #5699
@Jag96 should I be closing this job in Upwork?

[2022-01-03 14:51] parasharrajat commented on #6471
No update on PR since 4 days.

[2022-01-03 15:08] bfitzexpensify commented on #6492
Progress being made in https://github.com/Expensify/App/pull/6899, Melv

[2022-01-03 15:12] mananjadhav commented on #6873
Hi @parasharrajat, here you go.

**Updated Proposal**

1. I'll create a component `TextWithEllipses` (or suggest a better name) which shall take two props `leadingText` and  `trailingText`.
2. It'll have two `Views` split by `...`. The first `View` and `Text` will have ellipsis with `flex-shrink: 1`. The second `View` with `flex-shrink: 0`.
3. In `HeaderWithCloseButton`, we'll add the prop as `sub

[2022-01-03 15:38] aldo-expensify commented on #6929
Adding external label to get help from the people that handle that kind of thing :)

[2022-01-03 15:41] aldo-expensify commented on #6929
Removed this as a "deploy blocker" because the solvable part of this issue has been solved by @parasharrajat . The remaining issue in Safari + mobile is not fixable according to @parasharrajat ([see here](https://github.com/Expensify/App/issues/6929#issuecomment-1002730763))

Added 'External' label to get someone who can answer @parasharrajat [here](https://github.com/Expensify/App/issues/6929#iss

[2022-01-03 15:45] parasharrajat commented on #6873
Sounds good. We can look into the naming during the PR review.

@mananjadhav 's proposal looks good.

cc: @Julesssss
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-03 15:54] mvtglobally commented on #6920
@francoisl  Are we good to check off #6811 since #6931 is no longer a blocker?
It would be great if we can close this checklist today and get a new deploy to QA.

[2022-01-03 16:09] sobitneupane commented on #6872
We can clear the input when the row is selected by using `ref.clear()` in OptionsSelector.js.

[code]

But for this to work we should also remove `value={this.value}` from BaseExpensiTextInput.js. And I don't think it will have major impact on any component using ExpensiTextInput as it is expected to be uncontrolled by other components as well.
[code]

[2022-01-03 16:17] mananjadhav commented on #6891
Well, so far I've always been entering quickly with the keyboard than selecting from a dropdown.

[2022-01-03 17:00] tgolen commented on #6779
Looks good! Thank you. 🟢 to get hired for this and move forward.

[2022-01-03 17:15] mvtglobally opened #6979 "Feature: Create Windows App - Reported by @kidroca"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app on any exiting platform
2. Navigate to Settings>About>App download links
3. Download Windows app

## Expected Result:
User should be abl

[2022-01-03 17:30] K4tsuki commented on #6912
#### proposal

I think the problem is `navigateBackToRootDrawer` inside `CustomActions.pushDrawerRoute`

https://github.com/Expensify/App/blob/a87b53c273be288bdc887d618973404ba01ea22b/src/libs/Navigation/CustomActions.js#L98-L100

I think we shouldn't do other navigation beside returning navigation actions in `CustomAction pushDrawerRoute`.

<br />

We could do `navigateBackToRootDrawer` right bef

[2022-01-03 17:37] marcaaron commented on #6912
Any reason for this conclusion? Definitely open to hearing proposals for how to fix this and am happy to hear we have found a solution, but we should be able to explain what is happening as well. Every time this code is modified something else breaks.

[2022-01-03 17:39] rosegrech opened #6980 "[HOLD for payment 2022-01-27] Update copy used in ValidationStep when bank account is verifying"
# Problem
From this [GH](https://github.com/Expensify/App/issues/6900),  noticed some punctuation items that should be corrected.  See the solution for the deets.

# Solution

In this screenshot, there seem to be some small punctuation issues to address:

![image](https://user-images.githubusercontent.com/32204375/147701724-667812a5-3d6a-44a7-acac-646e2a53d246.png)

- We use "!" 3x times which we

[2022-01-03 17:41] marcaaron commented on #6873
I don't quite understand the solution. Why are we specifying strings parts to do the truncating? Shouldn't it be determined by the length of the passed string and width of the window?

[2022-01-03 17:43] marcaaron commented on #6873
https://reactnative.dev/docs/text#ellipsizemode

[2022-01-03 17:48] mananjadhav commented on #6873
The problem with `ellipsizeMode` is that it doesn't work on Web, Desktop, and Mobile Web. I proposed a solution that we already are using in another component.

[2022-01-03 17:48] francoisl commented on #6920
@mvtglobally Yes looks like it. Also, I see that there are other issues that are still marked as deploy blockers above, but had their blocker label removed since they were added, namely:

- https://github.com/Expensify/App/issues/6929
- https://github.com/Expensify/App/issues/6941

And then, https://github.com/Expensify/App/issues/6932 is confirmed to be fixed, so it would mean all deploy blockers

[2022-01-03 17:48] jboniface commented on #6565
hired, with the 250 reporting bonus included in base cost for the job

[2022-01-03 17:51] chiragsalian commented on #6890
Neat, assigning issue over to you.

[2022-01-03 17:57] marcaaron commented on #6873
Oh right, because middle truncation is what we want to do. Ok, looks like people have been debating whether to add this to the CSS standard for a long time.

[2022-01-03 17:57] mdneyazahmad commented on #6980
## Proposal

We need to make these changes.

1. Remove ! mark from the end
https://github.com/Expensify/App/blob/a87b53c273be288bdc887d618973404ba01ea22b/src/languages/en.js#L652

2. No change
https://github.com/Expensify/App/blob/a87b53c273be288bdc887d618973404ba01ea22b/src/languages/en.js#L796

3. Add .(period) in the end
https://github.com/Expensify/App/blob/a87b53c273be288bdc887d618973404ba01e

[2022-01-03 18:00] puneetlath commented on #3245
Great! Looks like you weren't assigned, so I've gone ahead and assigned you @mananjadhav.

[2022-01-03 18:00] rosegrech commented on #6980
Yup and additionally this copy change for the first screenshot:

[2022-01-03 18:14] mvtglobally commented on #6920
Checking off
#6811 & #6931 as deploy blocker was removed
#6929 https://github.com/Expensify/App/issues/6929#issuecomment-1004177352
#6941 https://github.com/Expensify/App/issues/6941#issuecomment-1003236050

[2022-01-03 18:15] mvtglobally commented on #6920
all blockers have been resolved.
This is the only pending item  #4329 - Internal QA

[2022-01-03 18:23] francoisl commented on #6920
Internal QA done for https://github.com/Expensify/App/pull/4329

[2022-01-03 18:24] marcaaron commented on #6967
Hey, @ABee-Tech! Thanks for the help here. I closed the linked PR because you are not yet assigned to the issue. Please wait to be assigned before opening a PR as this is still an active discussion.

[2022-01-03 18:27] francoisl commented on #6920
:shipit:

[2022-01-03 18:32] thienlnam commented on #6763
No update here

[2022-01-03 18:34] thienlnam commented on #6722
@davidcardoza Not sure, but I think this would be a more accurate SO for paying a contributor https://stackoverflow.com/c/expensify/questions/7582

[2022-01-03 18:34] thienlnam commented on #6722
The reporting bonus is $250 though

[2022-01-03 18:35] marcaaron commented on #6967
@abdullahkhan70 hid your proposal because it is incorrect and contains a lot of code examples that don't seem relevant. Maybe take some time to look at issues in the repository to get a feel for what we are expecting.

@ABee-Tech @parasharrajat Thanks for the discussion and we could do that solution, but it feels like we are missing something. Could we ask why we are disabling the submit behavior

[2022-01-03 18:41] parasharrajat commented on #6967
Yeah, I agree with Marc if we want to make this consistent. I initially thought that button was disabled intentionally.

@ABee-Tech Could you please post a new proposal based on the pointers mentioned by Marc. You can take other pages for reference.

[2022-01-03 18:44] thienlnam commented on #6772
Sure, let's move forward with that

[2022-01-03 18:47] francoisl commented on #6920
Going to rerun this, hoping that it fixes https://expensify.slack.com/archives/C03V9A4TB/p1641234691374100

[2022-01-03 18:47] francoisl commented on #6920
:shipit:

[2022-01-03 18:53] thienlnam commented on #5142
Just merged the PR - now waiting on the regression period (7 days)

[2022-01-03 18:59] #6622 closed

[2022-01-03 19:06] tgolen commented on #6826
Looks like this issue is just waiting to get deployed since the PR is done and merged. Not sure why it went overdue.

[2022-01-03 19:07] tgolen commented on #6806
@emilmarkmanuel any update on this? If not, then it would be great to see more proposals.

[2022-01-03 19:15] francoisl commented on #6920
:shipit:

[2022-01-03 19:38] kevinksullivan commented on #6891
Looks like you're leading the charge already @mallenexpensify so I'm going to take myself off this one.

[2022-01-03 19:54] marcaaron opened #6990 "Fix inconsistent translation key naming"
# Problem

Translation key names are inconsistently applied.

Sometimes we use an English phrase to repeat the exact text (which may change over time):

https://github.com/Expensify/App/blob/16942b556afe3250f06ac429b2ebebdbce2e0b8a/src/languages/en.js#L122

Other times we use a generic name or something misleading

https://github.com/Expensify/App/blob/16942b556afe3250f06ac429b2ebebdbce2e0b8a/src/

[2022-01-03 19:57] Jag96 commented on #6891
We had previously done this, but changed the implementation after multiple discussions ([see here](https://github.com/Expensify/App/pull/5940#discussion_r736072894)), so I don't think we should automatically alter the user's input.

I'm not sure about separating the input into two different fields and using a date picker, I think entering this information is easier to manually type since it's just

[2022-01-03 20:19] chiragsalian commented on #6990
Yeah, I personally don't mind if the label repeats the copy because `iOUConfirmationList.whatsItFor` describes the copy imo.
But `welcomeText.welcome` and `welcomeText.welcomeBack` does not describe the copy and is redundant. Its like the first words of the copy was used in the variable name rather than the parts that are relevant.

As i think about this a lot of copy is well plain text so "how th

[2022-01-03 20:20] Jag96 commented on #5699
@NicMendonca I think we should hire @parasharrajat for this one since technically this isn't a dupe.

[2022-01-03 20:27] mananjadhav commented on #6891
Ohh thanks for the discussion thread. Did we decide not to add because we didn't want to manipulate user input or it was inconsistent when deleting?

Other placeholder text separators like `-` don't have consistency with `iOS` and `Android`. Here's a quick reference, https://lefkowitz.me/visual-guide-to-react-native-textinput-keyboardtype-options/

Sure, will update the proposal based on the feedb

[2022-01-03 20:32] mananjadhav commented on #6873
That's right. Are you fine with the proposed solution https://github.com/Expensify/App/issues/6873#issuecomment-1004158725 ?

[2022-01-03 20:36] kevinksullivan commented on #6725
Hired on upwork @CamilaRivera .

[2022-01-03 20:54] mananjadhav commented on #6907
@mountiny Any updates for me here?

[2022-01-03 20:57] mountiny commented on #6907
@mananjadhav Thank you for the ping and apologies for the delay here. I had a draft here and forgot to post. Shame on me.

I agree with Rajat and feel free to start the PR. Your proposal covers the most ground. Thank you for the proposal, can you please apply for the upwork job and ping Mitch here once you do so? Thank you:)

@MitchExpensify  Can you please hire @mananjadhav for this job? Thank yo

[2022-01-03 21:02] mananjadhav commented on #6907
No problem @mountiny  😄 Will submit the PR.

@MitchExpensify applied on Upwork

[2022-01-03 21:24] Jag96 commented on #6891
No problem! It was because we didn't want to manipulate user input

Is it possible to update the keyboardType with a custom layout? That could be another option, so we could either:

1. Split the field into 2 fields and use a datepicker/dropdown for each
2. Use a custom keyboardType for this (not sure what this entails)
3. Update the placeholder to be `MMYY` instead of `MM/YY`
4. Other options?

[2022-01-03 21:32] mananjadhav commented on #6891
I was also inclined to option 3, change the placeholder to `MMYY`. Simple and reduces the whole confusion.

Afaik, it will be too complex for such a trivial task.

[2022-01-03 21:36] iwiznia commented on #6966
As I said in slack, I disagree with this change. I don't think we should update this.

[2022-01-03 21:36] mananjadhav commented on #6907
PR submitted

[2022-01-03 22:06] jliexpensify commented on #6965
Posted and invited @CamilaRivera!

Internal - https://www.upwork.com/ab/applicants/1478125332368375808/job-details
External - https://www.upwork.com/jobs/~019aff2c6e1dee0d89

[2022-01-03 22:07] jliexpensify commented on #6921
Invite sent to @mananjadhav - apologies, have been OOO until today!

[2022-01-03 22:09] mountiny commented on #6965
Wohoo thank you @jliexpensify! Assigning @CamilaRivera

[2022-01-03 22:10] mananjadhav commented on #6921
@jliexpensify No worries. Applied.

[2022-01-03 22:30] Luke9389 commented on #6130
Haven't been able to loop back around to this just yet

[2022-01-03 22:38] NikkiWines commented on #6676
Hmm, I wonder if we might just re-use the `You appear to be offline` notification and prevent the user from inviting those users until they're back online.

![Screen Shot 2022-01-03 at 17 36 11](https://user-images.githubusercontent.com/16747822/147987806-d4b84ff1-9b1f-4e24-8f01-98730885efbd.png)

However, if we want to go the route of still allowing users to go through that action I agree we shou

[2022-01-03 22:44] mallenexpensify commented on #6947
Job posted - https://www.upwork.com/jobs/~0109d9de5d37664776

@parasharrajat can you review @mananjadhav 's proposal above please?
https://github.com/Expensify/App/issues/6947#issuecomment-1002798020

[2022-01-03 22:53] #6932 closed

[2022-01-03 22:56] marcaaron commented on #6990
If we apply that verbose thinking we would end up with something like this:

[code]

?

And maybe distilling that down we are saying something like...

[2022-01-03 22:59] marcaaron commented on #6873
Gonna leave this one for @Julesssss

[2022-01-03 23:00] NikkiWines commented on #6676
An alternative UI change might be to grey-out pending members and update the offline message to indicate that pending members will be added later.

![Screen Shot 2022-01-03 at 18 00 02](https://user-images.githubusercontent.com/16747822/147989524-b0be608f-820c-4c3b-ae43-a0a8e0acc140.png)

cc: @Expensify/design you might have some opinions on how to handle this. Relevant slack conversation [here](h

[2022-01-03 23:01] chiragsalian commented on #6990
Yeah i honestly like those verbose key names a lot more. I don't mind its redundancy and would rather have it redundant and more verbose than just ambigious keys.

I like the way you phrase it in the distilling it down section.

[2022-01-03 23:11] jliexpensify commented on #6772
Hi @srdjanrist - could you confirm your name in Upworks? I'm trying to hire you but am having some issues finding you. Cheers!

[2022-01-03 23:16] MitchExpensify commented on #6907
Hired in Upwork @mananjadhav !

[2022-01-03 23:25] srdjanrist commented on #6772
Hey @jliexpensify. My upwork account is: https://www.upwork.com/freelancers/~01259b97b8cb9a1031

[2022-01-04 00:35] parasharrajat commented on #6947
I am sorry But there is nothing to review. @mananjadhav has already raised a PR which was merged and we wait for the regression period to be over and then release the payment. @mallenexpensify .

Another important note is that this issue was originally reported by Marc https://github.com/Expensify/App/issues/6889#issuecomment-1002753705

[2022-01-04 00:40] parasharrajat commented on #6891
I don't feel good about option 3. If something is simple, it does not mean that we should choose that over UX. MM and YYYY are different units and should be separated with something in the UI. Though, we can do anything via code but we should follow the common pattern around the users to fill their credit card details, and thus month and year should always be considered separate input values.

[2022-01-04 00:47] mallenexpensify commented on #6663
Removed your assignment @sketchydroide and swapped to Monthly since it doesn't appear this issue has a lot of support

[2022-01-04 00:56] mallenexpensify commented on #6911
Hired @sobitneupane in Upwork!

[2022-01-04 01:02] stephanieelliott commented on #5987
Sounds like we are still testing the PR, not overdue.

[2022-01-04 01:10] francoisl commented on #6920
:shipit:

[2022-01-04 01:13] botify commented on #6565
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-8 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6809

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 01:13] botify commented on #6823
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-8 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6809

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 01:13] botify commented on #6826
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-8 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6880

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 01:13] botify commented on #6760
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-8 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6835

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 01:13] botify commented on #6613
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-8 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6840

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 01:13] botify commented on #6874
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-8 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6898

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 01:13] botify commented on #6285
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-8 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6811

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 01:13] botify commented on #6693
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-8 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6832

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 01:13] botify commented on #6947
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-8 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6949

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 01:14] mallenexpensify commented on #6947
oooof, confusing.  @Jag96 can you review for a sanity check? I think the issue is that @mananjadhav submitted the PR before being hired and assigned to this issue.  If @mananjadhav should be considered hired for this can you assign @Jag96 ?

[2022-01-04 01:21] kevinksullivan commented on #6808
Job posted, though it wasn't let me update the price from $250 to $500, but I will keep that in mind for payment. @thesahindia can you apply for the job so I can add you for the reporting bonus? Thanks!

[2022-01-04 01:27] Jag96 commented on #6947
Yup, looks like this issue was filed first, then https://github.com/Expensify/App/issues/6948 was created as a deploy blocker, then @mananjadhav created the PR to fix https://github.com/Expensify/App/issues/6948 before it was triaged.

https://github.com/Expensify/App/issues/6948 is closed, and the feedback was given and received [above](https://github.com/Expensify/App/issues/6947#issuecomment-10

[2022-01-04 01:44] kevinksullivan commented on #5159
Ah, hm. I figured the job was covered before I was assigned [here](https://github.com/Expensify/App/issues/5159#issuecomment-952452043). Sorry for the confusion @parasharrajat ! Here is the job:

https://www.upwork.com/jobs/~01d52e22ab0cfdfe5a

I just sent you an invite. Will get you paid once you accept!

[2022-01-04 01:46] mallenexpensify commented on #6947
Thanks @Jag96 , to make sure I have the payment date right, which PR am I basing the '7 days without regression' on? This one? https://github.com/Expensify/App/pull/6949

[2022-01-04 01:47] kevinksullivan commented on #6719
@puneetlath yes I think we should add these to NewDot. The callback time was [recently added](https://github.com/Expensify/Expensify/issues/179284) to OldDot, but it would be great to make that consistent in NewDot as well. We could always spin up a separate GH for that as well @puneetlath ?

[2022-01-04 01:53] mallenexpensify commented on #6874
Did a quick-test and it seems to be working properly, thanks @aswin-s for the help, I'll be issuing payment on 1-11, assuming there are no regressions

[2022-01-04 02:21] francoisl commented on #6920
Sorry for the multiple reopens, we're trying to fix various issues with the deploy today. That last one mostly worked, but there was an issue with creating a new deploy checklist because the release version in the original message of this issue was wrong. I'm going to change it to `1.1.24-8` and close again.

[2022-01-04 02:23] francoisl commented on #6920
:shipit:

[2022-01-04 02:23] #6920 closed

[2022-01-04 02:25] botify commented on #6725
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-19 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6916

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 02:25] botify commented on #6947
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-19 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6949

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 02:25] botify commented on #6922
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-19 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6954

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 02:25] botify commented on #6825
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-19 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6905

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 02:25] botify commented on #6911
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-19 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6976

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 02:25] botify commented on #6921
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-19 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6973

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 02:25] botify commented on #5142
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-19 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6732
- https://github.com/Expensify/App/pull/6732

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 02:25] botify commented on #4737
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-19 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/5150

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 02:25] botify commented on #6907
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-19 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6993

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 02:25] botify commented on #6759
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-19 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6819

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 02:26] botify commented on #5620
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.24-19 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6950

If no regressions arise, payment will be issued on 2022-01-11. :confetti_ball:

[2022-01-04 02:29] OSBotify opened #7005 "Deploy Checklist: New Expensify 2022-01-04"
**Release Version:** `1.1.25-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/5150
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6732
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6770
  - [x] QA

[2022-01-04 02:38] Jag96 commented on #6947
@mallenexpensify yes I would use that PR

[2022-01-04 03:04] Jag96 commented on #7005
Putting a HOLD on this checklist, staging and production are still not up to date with 1.1.24-20 so we'll need to sort that out before QA can be run. cc @Expensify/mobile-deployers

[2022-01-04 03:06] mvtglobally commented on #7005
@Jag96, please ping me once it ready. We will only be able to start tomorrow morning as it's late now anyway.

[2022-01-04 03:36] mvtglobally commented on #6518
Issue not reproducible during KI retests. (Third week) Should we close this @johnmlee101?

[2022-01-04 03:38] mvtglobally commented on #6675
Issue not reproducible during KI retests. (Second week)

[2022-01-04 03:45] mvtglobally commented on #6613
@thienlnam we are logging a new issue potentially related to this PR. I will post the link in a bit.
Current issue not reproducible during KI retests. (First week)

[2022-01-04 03:48] mvtglobally commented on #6790
Issue not reproducible during KI retests. (Second week)

[2022-01-04 03:49] mvtglobally commented on #6792
Issue not reproducible during KI retests. (Third week) Closing

[2022-01-04 03:49] #6792 closed

[2022-01-04 04:05] mvtglobally opened #7007 "[HOLD for payment 2022-05-23] [$250] Auto-handle phone number format by stripping any parentheses/dashes on submit - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Settings > Workspace > Connect bank account
3. Proceed with VBA flow to Company information page
4. Enter phone number in

[2022-01-04 04:06] jliexpensify commented on #6944
Posted!

Internal - https://www.upwork.com/ab/applicants/1478215885127532544/job-details
External - https://www.upwork.com/jobs/~01d8e808cb5f2ab235

@nkuoch - done! No need to remove the Contributor Manager (i.e. me) next time: they can stay assigned to the issue for the duration of it.

I'll update the Upworks job name and GH issue once @shawnborton weighs in with the button vs growl debate.

[2022-01-04 04:14] jliexpensify commented on #6900
Hello, taking over from Lauren here! Just wondering if you wanted me to hire anyone? Cheers! cc @marcaaron @parasharrajat

[2022-01-04 04:17] kbecciv opened #7008 "[HOLD for payment 2022-01-25] Android - App crashed after removing all permissions"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch app in an Android device.
2. Open a conversation with an attachment in it.
3. Tap on the attachment to view it in Attachment view
4. Tap on

[2022-01-04 04:18] mvtglobally opened #7009 "[HOLD for payment 2022-01-17] Copy to clipboard on IOU settlement transactions, have generic "Settled elsewhere" - Reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Account A Requests IOU from Account B
3. As Account B select Pay > Settle elsewhere
4. Hover over the message and right click
5. Copy

[2022-01-04 04:19] mvtglobally commented on #6613
https://github.com/Expensify/App/issues/7008

[2022-01-04 04:49] mvtglobally opened #7010 "[$500] Different behavior for mobile and mWeb when user opens an attachment and tries to go back - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app on mobile app
2. Send a message with an attachment
3. Click on the attachment to preview
4. Hit back button
5. Repeat steps on the same

[2022-01-04 04:51] mananjadhav commented on #7009
I reported this and hence I am recommending a solution.

For the `copyToClipboard` action in `ContextMenuActions`, we update the `shouldShow` with the following check.

[code]

[2022-01-04 04:57] mvtglobally opened #7011 "[HOLD for payment 2022-02-01] Running node run web after initial repo setup errors out if you haven't had the ./dist folder - Reported by @CSFlorin"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Run` node run web` after initial repo setup

## Expected Result:
No error should display after user runs` node run web` after initial repo setup

[2022-01-04 05:04] mananjadhav commented on #6947
Team, apologies for the confusion! 😥

[2022-01-04 05:11] mvtglobally opened #7012 "[HOLD for payment 2022-02-09] Attachment modal ui freeze/unfreeze when long height image displayed - reported by @PrashantMangukiya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Upload long image
3. Try to zoom, move image around, etc.

## Expected Result:
User should be able to zoom, move image around

## Act

[2022-01-04 05:21] mvtglobally opened #7013 "[HOLD for payment 2022-01-17] Bank account zip field has a character limit but debit card field has no limit - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Settings > Payments > Add payments method
3. Select Debit card
4. Enter more than 5 char in ZIP field
5. Enter more than

[2022-01-04 05:26] mvtglobally opened #7014 "After splitting bills with someone, user is not able to cancel it - Reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Split bill with any user
3. Navigate back to chat and try to cancel it
4. Kill the app or refresh browser
5. Navigate to same chat an

[2022-01-04 05:32] aswin-s commented on #7008
This issue is unrelated to #6613.

The crash is caused due to view state is not being persisted across activity restarts when permission is changed.

[2022-01-04 05:33] aswin-s commented on #7008
Original crash log.
![image](https://user-images.githubusercontent.com/6880914/148013869-79cf6fb7-0e89-4c47-9939-bde51ff3cb45.png)

It seems like react-native-screens was not properly configured for android.
https://github.com/software-mansion/react-native-screens#android

[code]

[2022-01-04 05:35] aswin-s commented on #6613
@mvtglobally Linked issue is unrelated to the current PR. I've posted the reason & fix for the bug in #7008

[2022-01-04 05:39] mvtglobally opened #7015 "[HOLD for payment 2022-03-08] Feature request - Change the profile picture (api call) on click of the Save button - reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. Navigate to Profile > click on avatar to edit
3. Upload any picture and hit Save
4. Check API calls
5. Navigate to Workspace >  click

[2022-01-04 05:46] mvtglobally opened #7016 "[HOLD for payment 2022-02-09] The password input element doesn't get fully highlighted when using auto-fill - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Enter valid user name and manually enter password
3. Reopen app
4. Enter valid username with saver password
5. Select to pre-fill pas

[2022-01-04 06:35] K4tsuki commented on #6912
https://reactnavigation.org/docs/navigation-prop/#advanced-api-reference

Stated:

Dispatch function:

There is no clear `not allowed` or `forbidden` message on documentation on calling other navigation actions inside `dispatch`. But I think react-navigation treated it as single navigation action (or maybe only focusing on how navigation state will be updated).
In CustomActions examples, there is

[2022-01-04 07:06] thesahindia commented on #7013
### Proposal
we need to add `maxLength={CONST.BANK_ACCOUNT.MAX_LENGTH.ZIP_CODE}` below -
https://github.com/Expensify/App/blob/036d1f3ea19d4372da2fd7239771b7148cfe6bb3/src/pages/settings/Payments/AddDebitCardPage.js#L252-L256

[2022-01-04 07:09] MariaHCD commented on #6389
Hey, @anthony-hull! Just double checked this for you. Since this issue did not actually identify the root cause of the bug and the issue was not fixed here, no reporting bonus will be paid out for this issue, unfortunately.

[2022-01-04 07:09] K4tsuki commented on #6908
#### proposal

This is similar to #6912

My proposal is similar to my [previous](https://github.com/Expensify/App/issues/6912#issuecomment-1004244650).

By  pull out `navigateBackToRootDrawer` from `pushDrawerRoute` and place it similar to my previous proposal.

This solve problem for me.
`

[2022-01-04 07:28] Beamanator commented on #6913
Sorry for the delay assigning you to this job @CamilaRivera 😅

[2022-01-04 09:09] shawnborton commented on #6944
I don't think we need a delete button. I think it will be obvious for the user that if they clear that input, they are removing their PayPal.me login. They are essentially taking voluntary action to remove their own username, so I think that will be good enough.

[2022-01-04 09:20] mananjadhav commented on #6944
Okay I’ll update the proposal.

[2022-01-04 09:32] shawnborton commented on #6676
I like the approach you outlined above.

[2022-01-04 09:33] thesahindia commented on #7016
### Proposal
to fix this we just need to absolutely position the eye icon.
This is how it will look -

<img width="465" alt="autofill" src="https://user-images.githubusercontent.com/83179295/148031351-44495dd7-f64c-465a-a77e-1080161e0463.png">

for password manager this is how it will look like  -
<img width="452" alt="Screenshot 2022-01-04 at 3 02 23 PM" src="https://user-images.githubusercontent

[2022-01-04 09:47] anthony-hull commented on #6389
ok! thanks :)

[2022-01-04 10:37] mountiny commented on #6790
Retests showing this is not reproducible. Closing for now.

[2022-01-04 10:37] #6790 closed

[2022-01-04 11:13] ABee-Tech commented on #6967
Okay @marcaaron @parasharrajat , I got it and found a solution for this. If there are any questions or fix of this solution, please feel free to ask or suggest:

### Proposal:
The error on the form is not handled correctly. There was only one state called `error` which is the string just to show error for Room Name field. So, I thought of making it object instead of string to make us allow to pass

[2022-01-04 11:18] mananjadhav commented on #6967
Now that we're changing the requirement, are we still going with @ABee-Tech's new proposal? or is it open to evaluating other proposals?

[2022-01-04 11:38] parasharrajat commented on #6967
@mananjadhav it is open to all proposals but @ABee-Tech gets the first dibs.

If you look closely we use separate state variables for errors. It is a fairly simple form so we can do that, please.

**Could you please read the style guide of the project and update your proposal to comply with that.**

[2022-01-04 11:43] parasharrajat commented on #6676
The plan sounds good but we have a problem. We don't queue the requests for invitations. So when users will be online no further requests will be sent for invited users.

This could be an indication that we should hold this issue like the other offline issues.

Also, we need to store the pending invitation information in the policy data. So this issue requires planning.

[2022-01-04 11:45] parasharrajat commented on #6908
I agree the root cause of #6912 is similar to this one. And a discussion is happening on that issue....

[2022-01-04 11:45] Julesssss commented on #2545
Still waiting on the above

[2022-01-04 11:55] parasharrajat commented on #6900
I am still not sure what is decided for the header text. it seems we are still discussing but as we only need to change the text for it.

I think @PrashantMangukiya 's proposal is good https://github.com/Expensify/App/issues/6900#issuecomment-1002108287.

cc: @marcaaron
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-04 12:17] mountiny commented on #6908
Let's keep it in one place then. If anyone comes across this issue, please see [this issue](https://github.com/Expensify/App/issues/6912) and discuss solutions there as it will most likely solve this too.

[2022-01-04 12:20] Julesssss commented on #6132
Just got back from OOO, reviewed & merged the PR.

[2022-01-04 12:55] mountiny commented on #6841
Friendly bump @davidcardoza 👋

[2022-01-04 12:59] K4tsuki commented on #6676
Actually the requests is queued. What do you mean by not queued? Even if user close the tabs or browser when they are offline, there is already `{persist: true}` facility to persist the queue in local storage.

[2022-01-04 12:59] parasharrajat commented on #5894
@roryabraham What do you think should we do this? Preventing scroll is fine but I am not sure about adding bottom padding. I can't imagine the UI without trying out this solution. Do you think we should give it a try?

[2022-01-04 13:05] parasharrajat commented on #6676
Aha, @K4tsuki Could you please show me where MemberInvite requests are being persisted? I may have overlooked it.

[2022-01-04 13:07] parasharrajat commented on #6872
Could you please explain it to me Why?

[2022-01-04 13:29] sketchydroide commented on #7009
Ok this seems like and external, moving on

[2022-01-04 13:34] sobitneupane commented on #6872
It should be removed because value = {this.value} will reset the value if not removed.

And It should not impact other components using it because this value is being used to take input from the parent component but as we are using class variable instead of state variable, value is not being updated.

[2022-01-04 13:35] mananjadhav commented on #6944
**Updated Proposal**

Extending the proposal from https://github.com/Expensify/App/issues/6944#issuecomment-1003298698.

[code]

For the `Growl`,  there are two approaches:
1. Update `addPayPalMePage.growlMessageOnSave` as `Your PayPal username was successfully updated`  - Probably generic message for adding, updating and delete.

2. Check if it is a delete operation, then show `deleted` message.

[2022-01-04 14:02] parasharrajat commented on #6944
This is not yet exported but I guess it is going to be so I am reviewing the proposal.

Adding isEmpty check to isValid could be confusing for someone looking at the code. I think it is better to divide those into two variables. What do you think?

   growlMessageKey = `addPayPalMePage.growlMessageOnRemove`;
}

didn't get this... is this the correct condition?

Also, as a small piece of advice, It

[2022-01-04 14:04] parasharrajat commented on #6872
So if we remove this how are we supposed to pass the value to `ExpensiTextInput`. just trying to understand your idea.

[2022-01-04 14:06] Julesssss commented on #6873
Caught up with the conversations and the proposal makes sense.

[2022-01-04 14:16] mananjadhav commented on #6944
Sure can do.

Sorry yeah, you're right. I was supposed to add `!` but I have updated with `_isEmpty` check.

[2022-01-04 14:23] sobitneupane commented on #6872
No, we won't be able to pass value from parent component to `ExpensiTextInput` (as we are expecting it to be uncontrolled).

[2022-01-04 14:24] Julesssss commented on #6891
I don't believe it's possible to have a custom keyboard type on Android, the best we could do is to ignore the input of certain chars at the Component level. I agree with @parasharrajat that option 3 isn't great, I also don't really like option 1 as it will slow down user input.

One solution I haven't seen yet would be to have two distinct inputs for month and year. This allows us to avoid datepi

[2022-01-04 14:27] kbecciv opened #7023 "[HOLD for payment 2022-01-25] Android/Chrome - Double keyboard appears after Split/ Request Money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Tap on Green Plus button
4. Tap on Split/Request money

## Expected Result:

[2022-01-04 14:27] mananjadhav commented on #6891
Few comments above mention split it into two different fields, except going with dropdown/datepicker than `TextInput`

[2022-01-04 14:33] mananjadhav commented on #6891
Got it. Makes sense

[2022-01-04 14:41] Julesssss commented on #6889
Just caught up. [This summary](https://github.com/Expensify/App/issues/6889#issuecomment-1001871710) is correct, thanks all!

[2022-01-04 14:52] Julesssss commented on #6931
I agree that sounds like a better solution than to completely ignore the input 👍

[2022-01-04 15:04] kursat commented on #6876
Hey @parasharrajat, I was dealing some personal problems, I totally forgot about this. So sorry about the absurd delay.

The only component that sets selection is ReportActionCompose. To keep selection setting feature we can manage selection state in `TextInputFocusable` component. And by setting another ref for `TextInputFocusable` itself, we can set selection state programmatically.

src/compone

[2022-01-04 15:05] NikkiWines commented on #6235
Just a note that the list does not disappear if you a list item (in the video I press tab 2x, so I should be focused on the second address)

https://user-images.githubusercontent.com/16747822/148078846-9a7d6ac2-abbe-492c-94fa-1f9cfdaba06d.mov

Looks like it's been 18 days nowm with no response. I think we should proceed with the route described [here](https://github.com/Expensify/App/issues/6235#i

[2022-01-04 15:05] mananjadhav commented on #6931
@Julesssss @parasharrajat Let's take a few examples and correct wherever you feel it is wrong:

1. 2,7979   => 27979 (Guessing here we won't take substring)
2. *2021*   => 2021
3. *20-12-2021*   => 2021
4.  a,27,2avf.  => 272
5.  ahu2869dvbj289  => 286
6.   29.29 => 29.29
7.   aaa29.290aa => 29.290

[2022-01-04 15:13] aldo-expensify commented on #6931
@mananjadhav

Why

4. ahu2869dvbj289 => 286 and not 2869
4. 2021ab => 20 and not 2021

[2022-01-04 15:24] mananjadhav commented on #6931
@aldo-expensify You're right for 5, I've corrected but 8 GH did a markdown render. Updated as code text. Please check.

[2022-01-04 15:27] parasharrajat commented on #6876
Great thanks. I see. If we are able to migrate from selection prop to `this.textInput.setSelection` API then I would love that solution. But I need to look at the code to analyze it before we proceed. It is going to be a big change. Better to involve @marcaaron.
we are looking to make these fully uncontrolled and this could be a good initiative.

[2022-01-04 15:33] Julesssss commented on #6931
The logic sounds good to me. The only example missing was the original error: `*2021*` => 2021

[2022-01-04 15:33] K4tsuki commented on #6676
In this line we could persist API request by:

https://github.com/Expensify/App/blob/691dda2c853394a2c8f86dba55a5680842daf516/src/libs/Network.js#L181-L183

adding parameter `{persist: true}` on API request data.
<br />
For invite member, could be add in here:

https://github.com/Expensify/App/blob/691dda2c853394a2c8f86dba55a5680842daf516/src/libs/API.js#L907-L913

[2022-01-04 15:35] K4tsuki commented on #6562
@NikkiWines Is this issue is fixed? I cannot see that pull request.

[2022-01-04 15:35] NikkiWines commented on #6562
Yes, this issue should resolved by that PR

[2022-01-04 15:39] parasharrajat commented on #6931
Hmm, I agree. `.` and `,` are a little complicated scene. I guess it would be better to parse `.` or `,` based on the locale. If locale allows them in number then parse those. If this sounds complicated, let's just take then strings only. e.g. `2,021 => 2`

[2022-01-04 15:39] akshayasalvi commented on #7023
Related to my PR. https://github.com/Expensify/App/issues/6285 Checking.

[2022-01-04 15:42] parasharrajat commented on #6931
There is an issue where the proposal is implementing those so we can make use if that https://github.com/Expensify/App/issues/6427#issuecomment-1003589574

[2022-01-04 15:43] parasharrajat commented on #6427
@Luke9389 @iwiznia  Awaiting comments https://github.com/Expensify/App/issues/6427#issuecomment-1003364632

[2022-01-04 15:43] mananjadhav commented on #6931
Again it was added but GH markdown changed it to italic.

I am not sure if we should be treating them as strings, because pasting from excel etc. will have commas.

If you guys can help me define the scope and I'll update the proposal.

[2022-01-04 15:45] K4tsuki commented on #6562
I have tested it on staging. It works.

[2022-01-04 15:49] parasharrajat commented on #6676
Exactly, it's not there and we might have to add that.

[2022-01-04 15:49] kursat commented on #6876
Happy to help! You can experiment on this fork if it helps: https://github.com/kursat/App/tree/proposal-6876

[2022-01-04 15:52] parasharrajat commented on #6891
I agree, adding a date picker was an optional suggestion _we **can** use DatePicker and only allow a month or a year based on the input type._

Let's get this consensus on Slack before we finalize it. cc: @Julesssss

[2022-01-04 15:57] danieldoglas commented on #6710
@mvtglobally please tell me if this continues happening. I'm changing it to monthly for now.

[2022-01-04 16:01] akshayasalvi commented on #6285
@parasharrajat  @tgolen There's an issue with this PR and I need some help. https://github.com/Expensify/App/issues/7023 linked issue shows two keyboards in `Android Chrome`.

It seems that `inputmode` is not working as expected with `keyboardType` for `react-native-web`.`TextInput` component. There is no handling for `inputMode`, and our `inputmode/inputMode` gets ignored.

https://github.com/nec

[2022-01-04 16:05] parasharrajat commented on #6285
Sorry, I was not a reviewer of the PR.` inputMode` is a browser attribute an RN-web only supports props that are part of native RN spec. So you would have to use `setNativeProps` to set this. It can't be passed as `inputMode` prop. Try that and let me know if that does not work.

[2022-01-04 16:11] tgolen commented on #7014
Sounds like a very good bug that we should be able to fix.

[2022-01-04 16:21] mdneyazahmad commented on #6427
@parasharrajat As I proposed in my proposal https://github.com/Expensify/App/issues/6427#issuecomment-1003706648 Maybe, this can solve this issue.

1. Display Number
We will store all number in us locale, because Intl.NumberFormat can be used to convert all us locale based number to other.

2. Get number from keyboard ui
We will display the localized number in the numberpad however it will have va

[2022-01-04 16:26] roryabraham commented on #6863
We've seen similar problem that suggests a similar solution to this, namely: "Only update the app version on the `StagingDeployCash` once the tag has been created _and_ pushed"

[2022-01-04 16:39] mvtglobally commented on #7005
@Jag96 @roryabraham  Are we ok to start QA?

[2022-01-04 16:42] roryabraham commented on #7005
Not yet – I've [proposed a plan](https://github.com/Expensify/Expensify/issues/190613#issuecomment-1004948994) but because I was ooo for all the deploy failures yesterday I want to get a 👍 from @francoisl or @Jag96 before proceeding, to make sure I'm not missing something.

[2022-01-04 17:15] tgolen commented on #5011
Hm, I'm not really able to reproduce this. I think there is a little buginess though that I noticed with the ordering of messages when you send an unknown command to Chronos.

https://user-images.githubusercontent.com/1228807/148097500-04fb41db-bcd4-43c0-93f6-ce8cccdb264e.mp4

It looks like the Chronos reply goes above my message, then reorders itself to be below my message. I'm going to investiga

[2022-01-04 17:23] adelekennedy commented on #7014
good 🐛

Internal: https://www.upwork.com/ab/applicants/1478415157358469120/job-details
External: https://www.upwork.com/jobs/~019ac6811e8ae16953

[2022-01-04 17:29] tgolen commented on #5011
Hm, I'm not able to reproduce locally. I think it's got to be some kind of timing issue. The push message with the Chronos response happens before the push message for my new comment. I think this is OK and I'm just going to close this for now.

[2022-01-04 17:29] #5011 closed

[2022-01-04 17:42] tgolen commented on #6761
OK, cool. I'm just going to close this for now then.

[2022-01-04 17:42] #6761 closed

[2022-01-04 17:54] mdneyazahmad commented on #6931
Solution:
It may help. We can further process the number to fit into our requirements.

[code]

[2022-01-04 18:00] mdneyazahmad commented on #6931
We can select first n digits and parse it with this function.

[2022-01-04 18:07] mallenexpensify commented on #5142
@thienlnam sanity check... before the issue, when you pasted a url into NewDot it didn't auto-hyperlink, you'd have to include markdown.   Now, after this PR/issue, when you paste a link in, it's auto-hyperlinked? and.. it doesn't show the markdown it used to ?

[2022-01-04 18:07] thienlnam commented on #7013
Proposal looks good, we can keep the constant the same since they are both for address zip codes

[2022-01-04 18:32] jasperhuangg commented on #7011
@mvtglobally Can you check with @CSFlorin if it works if they use `npm run web` instead of `node run web`? I'm not very familiar with this but that's the one thing that stands out to me.

@stephanieelliott This may not need to be exported if @CSFlorin was using the wrong command.

[2022-01-04 18:34] Jag96 commented on #7005
All platforms are now updated, we're good to start QA @mvtglobally!

[2022-01-04 18:51] marcaaron commented on #3381
cc @kidroca as we are discussing a possible regression here https://expensify.slack.com/archives/C01GTK53T8Q/p1641320742022500?thread_ts=1641315371.490700&cid=C01GTK53T8Q

[2022-01-04 18:59] davidcardoza commented on #6841
Can you change "We need that to complete this verification" to "We need access to complete verification." All looks good otherwise.

[2022-01-04 19:01] thienlnam commented on #5142
Chatted with @mallenexpensify 1:1

It looks like the fix is not working correctly - it does hyperlinks well but for other markdown options it does not work as expected

Sent text:
<img width="395" alt="Screen Shot 2022-01-04 at 11 00 34 AM" src="https://user-images.githubusercontent.com/30609178/148110025-02913072-e59c-4957-89a9-ab039a6957d7.png">

When copied and pasted:
<img width="334" alt="Scr

[2022-01-04 19:03] mountiny commented on #6841
Of course! Thank you David! 🙌

[2022-01-04 19:11] mallenexpensify commented on #5620
@NikkiWines do you know when this will be live in the next iOS app update?  I can't remember our process or timeline for iOS updates.

[2022-01-04 19:12] mvtglobally commented on #7005
Starting QA

[2022-01-04 19:19] mallenexpensify commented on #6947
No worries @mananjadhav we got it figured out. i think part of the confusion was based on the urgency of the deploy blocker, thanks for helping with that.
Title us updated to correctly reflect payment date (if no regressions)

[2022-01-04 19:21] Jag96 opened #7026 "Ping deployers if PR is merged with failing lint rules"
## Action Performed:
1. Merge PR
2. Deploy PR to staging, PR fails lint

## Expected Result:
Confirm that lint passes before attempting staging deploy

## Actual Result:
Staging is broken

The issue occurred in https://github.com/Expensify/App/pull/6819#issuecomment-1004482601, we should investigate a way to prevent deploying code w/ failing lint to staging/production and ping mobile deployers.

[2022-01-04 19:25] mallenexpensify opened #7027 "Payment for vulnerability reporting"
Creating this E/App issue to compensate a contributor for reporting a vulnerability.  Internal link - https://github.com/Expensify/Expensify/issues/185970

Payment amount is $250

https://www.upwork.com/jobs/~013e8dcfe7ee6bc34f

[2022-01-04 19:28] alex-mechler commented on #7012
This doesnt look frozen, it looks more like we cannot move the image unless it is zoomed, like mentioned in the report

This is purely on the client side, so this should be able to go external.

[2022-01-04 19:34] chiragsalian commented on #5337
Sure I don't mind tackling this issue. The issue is only reproducible on android phones and you cannot reproduce it on iPhones so i can't really test on my end. So yeah @kidroca if you would like feel free to go ahead and implement `isInternetReachable` and let us know if it works any better while testing with an android phone.

[2022-01-04 19:42] mallenexpensify commented on #6913
@CamilaRivera can you apply to the job in Upwork? https://www.upwork.com/jobs/~01cfaafbf8184740e9
@Tushu17 I hired you for reporting the issue, you'll be paid at the same time as Camila, 7 days after the code is deployed to production, assuming there are no regressions.

[2022-01-04 20:01] NicMendonca commented on #7009
Upwork job link: https://www.upwork.com/jobs/~018e7711962b3deaa1

[2022-01-04 20:05] marcaaron commented on #6876
Would like to clarify some things about this proposal to be sure I understand.

Is this a good description of the problem and solution?

- `TextInput` won't re-render when the `selection` prop changes
- So we should force it to re-render by manually setting the selection state

If so, this seems like a workaround and ideally, we would get it fixed at the `react-native` level or at the very least o

[2022-01-04 20:09] iwiznia commented on #6427
If you are referring to the comment you see in the chat after doing the request, which is generated in the server, then no.

I don't like @songlang1994's proposal of putting the decimal and thousand separator in the translation files, mostly because they are already defined inside Intl.NumberFormat. The proposal from @mdneyazahmad is a bit better, but kind of odd too, I would recommend using [`for

[2022-01-04 20:28] marcaaron commented on #6980
Hey @rosegrech seems like we already have an issue for the header text here https://github.com/Expensify/App/issues/6900

Can we change this issue so that the other changes you are suggesting get addressed separately? We now have two issues that are both proposing similar changes.

[2022-01-04 20:30] marcaaron commented on #6900
Thanks, we're still waiting for copy so there's nothing to do for now.

[2022-01-04 20:33] thesahindia commented on #7007
### Proposal
using the below function, we can remove the special characters from the phone number and avoid the error that we are getting right now
[code]
the submit function will look like this -
[code]

[2022-01-04 20:37] parasharrajat commented on #6876
I was thinking that it could be a good opportunity for us to drop the selection prop which makes it controlled. We only require setting the selection when we want to place the emoji so if we can do it directly via API then I think that is better.

[2022-01-04 20:41] NikkiWines commented on #5620
There was some weirdness with the last deploy (check out #deployers for more context) so I'm not entirely sure, sorry!

[2022-01-04 20:41] rosegrech commented on #6980
sure thing. I have no clue what to call it though which is why I used similar text but have the beginning different

[2022-01-04 20:42] marcaaron commented on #6967
@ABee-Tech yes, that is the basic idea - but we should follow the example in [`AddDebitCardPage.js`](https://github.com/Expensify/App/blob/main/src/pages/settings/Payments/AddDebitCardPage.js) as it shows in detail how errors are handled, which components to use etc. Let me know if that makes sense and will be easy to adapt for the New Room form or if there are any other questions.

[2022-01-04 20:45] marcaaron commented on #6980
gotchu!

[2022-01-04 20:48] Asha20 commented on #7027
@mallenexpensify Hi, I've applied for the job.

[2022-01-04 20:53] parasharrajat commented on #7009
@mananjadhav Proposal sounds good.

cc: @thienlnam
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-04 20:53] marcaaron commented on #6876
Got it. Just to make sure I understand the point of view, why this is better?

Are there bug reports for these with reproductions? Is there a known connection between passing a `selection` prop and seeing the "cursor jump"?

[2022-01-04 20:53] roryabraham commented on #6675
Actually going to send this back to the pool because it _might_ fix itself when we roll out offline-first image support. In the meantime, we'll see if it keeps popping up. It was mentioned in slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1641328411035200).

[2022-01-04 21:02] marcaaron commented on #6912
Cool. Thanks for looking into it!

To give some background here, we have done the custom navigate method to try and get various things to work for our web implementation of `react-navigation`. At this point, it has led to some pretty tricky code. So, I feel more comfortable accepting proposals that clearly explain why a fix will do what we want and show a good understanding of how the current code

[2022-01-04 21:03] NikkiWines commented on #7016
Looks good for upwork, applying External label

[2022-01-04 21:04] parasharrajat commented on #6876
Using selection prop will make it controlled and if use API  it will remain uncontrolled. I think that would be better performance-wise.

I haven't reported it yet. I will do that.

It is just a hunch. I haven't debugged this yet.  Due to the jump that happens when we move the cursor and cursor positioning is directly related to selection, I believe that is the cause. I will report it and then we

[2022-01-04 21:16] marcaaron commented on #6876
Oh right, because the same can be observed with a controlled `value` prop? That could be! I haven't observed any performance issues with the `selection` prop but it can probably be tested before making a decision. Using a controlled `value` definitely feels slow, is the same true for `selection`? Maybe we can test and figure that out as part of this issue.

[2022-01-04 21:25] mountiny commented on #6711
@kavimuru We have come to [conclusion](https://expensify.slack.com/archives/CNKBZSQ07/p1639415932028200) we will keep it as is, therefore on mobile, we will only have portrait. On tablet, we will have both portrait and landscape.

We might come back to this issue later. cc @AndrewGable

[2022-01-04 21:26] CSFlorin commented on #7011
@jasperhuangg I confirmed the same thing happens with `npm run web`. To reproduce for yourself, you may clone the repo, follow steps to set up in README.md, and run that command. I expect the same across systems.

[2022-01-04 21:29] mountiny commented on #6711
Gonna close it for now, feel free to reopen anytime.

[2022-01-04 21:29] #6711 closed

[2022-01-04 21:30] mountiny commented on #6718
Still waiting for proposals 👀

[2022-01-04 21:34] jasperhuangg commented on #7011
@stephanieelliott on second thought this should be good for an external contributor to tackle since @CSFlorin was able to confirm!

[2022-01-04 21:45] johnmlee101 commented on #6518
Let's do it!

[2022-01-04 21:45] #6518 closed

[2022-01-04 22:10] kavimuru opened #7029 "Password setup - Password field is cleared when refocussing again to enter a numeral"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #6905
## Action Performed:
1. Launch the app
2. Enter a new email address
3. Click the link from the email
4. Enter asdfasdF in password fi

[2022-01-04 22:34] thienlnam commented on #7009
🟢  on your proposal

[2022-01-04 22:38] kavimuru opened #7030 "Password setup - Message is different when redirected to the magic link page after entering invalid validation code"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #5150

## Action Performed:
1. Go to the login page and enter the email/phone
2. Select Forgot option
3. Update the code to any invalid cod

[2022-01-04 22:39] OSBotify commented on #7030
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-04 22:41] AndrewGable commented on #7026
I have a few questions:
* Should we run all the PR checks, not just lint?
* Could we create a deploy blocker issue instead of just pinging a channel? This would hopefully stop a deploy?

[2022-01-04 23:06] mallenexpensify commented on #6873
@mananjadhav can you please apply here and I'll hire ya?
https://www.upwork.com/jobs/~01dec90796e410ac17

[2022-01-04 23:11] mallenexpensify commented on #6059
Reopening this in favor of trying to fix this issue which is more common than the similar issue here #5337 .  Reasoning here
https://github.com/Expensify/App/issues/5337#issuecomment-1002762626

[2022-01-04 23:15] mallenexpensify commented on #6059
Created a new Upwork job, doubled price to $500
https://www.upwork.com/jobs/~01cc84a0bf57e59bb5

[2022-01-04 23:15] mallenexpensify commented on #5337
I reopened the other issue, created a new Upwork job for it and doubled the price to $500.

I proposed we close this issue, @chiragsalian do you agree?

[2022-01-04 23:25] francoisl commented on #7030
I think this is fine – the error message was updated in the Pull Request in [this commit](https://github.com/Expensify/App/commit/cf0fe9015660ca5d1a551eb475e08b40c033e3ba) after the PR was submitted, but the QA steps were not updated to use the updated message.

The message you got matches what was merged in the PR (https://github.com/Expensify/App/pull/5150/files#diff-22037c1e4dbdea8803b450b3fce0

[2022-01-04 23:25] #7030 closed

[2022-01-04 23:27] OSBotify commented on #7030
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-04 23:27] kbecciv opened #7032 "Workspace - Unable to invite a member in a newly created account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click the Profile image to open settings for new created account
2. Navigate to any Workspaces
3. Go to Members >Manage Members
4. Invite any ema

[2022-01-04 23:48] Jag96 commented on #6836
Does this affect the way that smaller images show up? Or does it only re-size if the image is larger than one of those values (2000/8000)?

[2022-01-04 23:54] davidcardoza commented on #6722
I created an [upwork post](https://www.upwork.com/jobs/~016e28532761645fe9). I am waiting for @mvtglobally to apply to pay the $250 standard rate for reporting a bug.

[2022-01-04 23:56] davidcardoza opened #7033 "Payment for bug reporting #6722"
Creating this E/App issue to compensate a contributor for reporting a vulnerability. Internal link - Expensify/Expensify#6722

Payment amount is $250

https://www.upwork.com/jobs/~016e28532761645fe9

[2022-01-05 00:04] chiragsalian commented on #5337
Sure, closing this one out.

[2022-01-05 00:04] #5337 closed

[2022-01-05 00:17] mallenexpensify commented on #7027
Thanks @Asha20 , I hired you.  Can you accept the offer then confirm in a post here and I'll pay?

[2022-01-05 00:46] mvtglobally opened #7034 "PR #32708 Test issue - Ignore it issue reported by"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2022-01-05 00:48] #7034 closed

[2022-01-05 01:04] stitesExpensify commented on #6944
:wave: I agree with @Santhosh-Sellavel (and past me :smile:). I don't think we need to do anything here. Default/Delete will fix this issue very soon :tm:

[2022-01-05 03:07] akshayasalvi commented on #6285
I tried on the emulator it isn't working. I'll try to test on a real device.

[2022-01-05 03:51] mananjadhav commented on #6873
Done @mallenexpensify

[2022-01-05 04:45] K4tsuki commented on #6059
# proposal

Actually App have reliable internet connection detection in `PusherConnectionManager`.
We could inject `NetworkConnection.setOfflineStatus();`

in `Pusher.registerSocketEventCallback`:

https://github.com/Expensify/App/blob/9f3dc928acb6bddf72c851ee8332cc628f86010a/src/libs/PusherConnectionManager.js#L24-L39

When `disconnected` or `error` event came we set `setOfflineStatus` to true. w

[2022-01-05 05:25] ABee-Tech commented on #6967
@marcaaron Yes, I can follow the example in [`AddDebitCardPage.js`](https://github.com/Expensify/App/blob/main/src/pages/settings/Payments/AddDebitCardPage.js). @parasharrajat can you look at that file? On that file, the errors are saved as I mentioned on proposal i.e. as an object instead of separate state variables. Which one is correct can you clarify please? And can you show me in which line o

[2022-01-05 06:00] mvtglobally opened #7035 "[HOLD for payment 2022-01-27] Feature Request: Change emoji navigation with arrow keys"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to any conversation and open emoji picker
3. When typing in the emoji search box, when there are no characters in front of t

[2022-01-05 06:04] mvtglobally opened #7036 "[HOLD for payment 2022-01-19] When you click into a given page in a Workspace and then click back out, the page is still highlighted"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to workspace
3. Click any page and navigate back out

## Expected Result:
Since user is back to the main page, selected page

[2022-01-05 06:09] mvtglobally opened #7037 "[HOLD for payment 2022-01-25] Update `Invite` and `Remove` to medium sized buttons on the Manage Members page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on the account avatar
2. Click on the workspace name to navigate to the workspace settings
3. Click on `Manage members` to navigate to the

[2022-01-05 06:40] Beamanator commented on #7036
I can reproduce too 👍 This seems like a regression, I doubt it was always like this - I'll look around & ask around to see if I can figure out where it came from

[2022-01-05 07:26] thesahindia commented on #6722
@davidcardoza, Applied. Thanks.

[2022-01-05 07:37] Beamanator commented on #7036
Ok looks like this started way back here: https://github.com/Expensify/App/pull/4382 - when the workspace pages were full screen. When we added lots more workspace pages & probably made the settings only partial-page here (https://github.com/Expensify/App/pull/5642), we kept the active-page code. This can definitely be done externally, it would be nice if we could get a new contributor to work on

[2022-01-05 07:57] dklymenk commented on #6592
Hello, I have an active application to this job on Upwork. Waiting for the offer.
![DeepinScreenshot_select-area_20220105105441](https://user-images.githubusercontent.com/64093836/148180829-76c7daa0-1e77-4eec-9564-9710428e4349.png)

I should be able to submit a PR for review in 2-3 days after getting an offer on Upwork. Thanks.

[2022-01-05 08:03] HellaPidgin commented on #7014
1. Open app
2. Split bill with any user
3. Carefully walkthrough the state and make splitting bill is canceled.
4. PR

[2022-01-05 09:19] shawnborton commented on #7037
So I think @mananjadhav is already adding the medium sized button in his PR, now we just need to implement it in this particular area of the App.

[2022-01-05 09:21] mananjadhav commented on #7037
Yeah, I've added https://github.com/Expensify/App/pull/6856. Can we also have a few other areas mentioned so that I send in a proposal to club them into a single PR?

[2022-01-05 09:22] shawnborton commented on #7037
The workspace invite page might be the only area I can think of for now...

[2022-01-05 09:36] dklymenk commented on #7029
I wasn't able to reproduce the issue on mWeb with safari, but I was able to reproduce it with core react native `TextInput`. Simply adding `secureTextEntry` prop causes this behaviour to occur. I have also downloaded a few apps and from the store and noticed that a lot of apps - instagram, facebook, spotify, tiktok, snapchat, pokemon go - all have this issue. The list includes both react apps and

[2022-01-05 10:03] kidroca commented on #6059
How come one is more reliable than the other?
`isInternetReachable` performs an internet request while Pusher is only connecting to the Pusher service.
Having the app in the background would disconnect from pusher, making you "offline", then when focused again, there would be some time to re-connect to pusher and be online "again" (e,g, auth token refresh -> reconnect to pusher)

We can use certai

[2022-01-05 10:11] thesahindia commented on #7036
### Proposal
removing the `isActive` property from menuItems will solve this issue.

https://github.com/Expensify/App/blob/580c9dbb1d2cf364bdcb6d7b3c06560f35b3ac6d/src/pages/workspace/WorkspaceInitialPage.js#L79-L128

[2022-01-05 10:18] kidroca commented on #6491
The reason for loading messages one by one when you scroll up is

https://github.com/Expensify/App/blob/2b7d6d0a4171319a9328dca14bcd5023a5352a94/src/components/InvertedFlatList/BaseInvertedFlatList.js#L154
[VirtaulizedList#maxToRenderPerBatch](https://reactnative.dev/docs/virtualizedlist#maxtorenderperbatch) (FlatList inherits those props)

The "virtual window" only keeps a certain count of "scree

[2022-01-05 10:18] trjExpensify commented on #5875
Cool, thanks for the heads up! I've gone ahead and cancelled the Upwork contract to close that out. 👍

[2022-01-05 10:24] kidroca commented on #6491
Related ticket: https://github.com/Expensify/App/issues/2629

Possible improvements from changing the virtualization config:
- Chat works the same way or faster while consuming significantly less memory
- Scrolling to the past is faster

[2022-01-05 10:28] trjExpensify commented on #6213
👋 Asked for an update on the PR directly, Melvin. It would be great to get this squared away this week, as it has been 2 months since we opened the issue.

[2022-01-05 10:44] K4tsuki commented on #7014
#### Proposal

I am pretty sure this is server problem.
After user create a split request, Pusher receive two event  `REPORT_COMMENT`. Both contains same value: "split..."
There should be a new `REPORT_COMMENT` that say "Requested ....."
Even on targeted user on split bill, if the room is active, there is no "requested..." message.

[2022-01-05 10:47] Beamanator commented on #5781
Moving back up to `Weekly` and unassigning in case someone else can pick this up - seems like a good idea and some extra thoughts have been moving around in slack (thread in [this comment](https://github.com/Expensify/App/issues/5781#issuecomment-970543172))

[2022-01-05 10:50] kursat commented on #5142
Hey @thienlnam, @mallenexpensify,

I am not able to reproduce issue on rev. 580c9dbb or on https://staging.new.expensify.com. Tried both on Firefox and Chrome on Ubuntu 20.04.3 LTS. Also checked context menus both Android and Web versions.

Can you provide details about the issue? What was the copying method? What's your environment?

[2022-01-05 10:52] Asha20 commented on #7027
@mallenexpensify Sure thing! It's done.

[2022-01-05 11:01] kidroca commented on #3381
Added some more comments on slack to explain what's happening and why

[2022-01-05 11:15] sobitneupane commented on #7036
**Proposal**
Making following change to WorkspaceInitialPage.js will solve the issue.
[code]

[2022-01-05 11:26] parasharrajat commented on #7014
@HellaPidgin Could you please explain How will you do that? Where is the problem?

@K4tsuki  Would you mind explaining how this is related to the current issue?

[2022-01-05 11:30] parasharrajat commented on #6491
I agree with @kidroca It's` maxToRenderPerBatch={1} ` I asked this question a few days back. How is this giving us a performance boost? I think batching the render will have better performance.

[2022-01-05 11:55] MariaHCD commented on #7029
Thanks for the input, @dklymenk! Looks like this is the default behaviour on iOS when the property `secureTextEntry` is set. https://github.com/facebook/react-native/issues/9148

I'm inclined toward scrapping this issue as it seems like it has a limited user impact and trying to find a workaround might be more effort than it's worth. Getting a second opinion here!

[2022-01-05 12:01] trjExpensify commented on #6154
HNY, @parasharrajat! What's the latest here?

[2022-01-05 12:02] MariaHCD commented on #7029
Got a second opinion from @Beamanator, we both agree that since this is standard behavior on iOS, it wouldn't be worth trying to fix this. Closing!

[2022-01-05 12:02] #7029 closed

[2022-01-05 12:07] parasharrajat commented on #6967
@ABee-Tech
Overall, the point was this is fairly a simple form with just three inputs and we can directly keep the errors in the state. But both ways work.

This is for the code changes you have proposed. We don't use ternaries like that. And you can follow ` AddDebitCardPage.js` page.

[2022-01-05 12:13] trjExpensify commented on #7036
Exported the job to Upwork here: https://www.upwork.com/jobs/~0178e910d1a86795eb

[2022-01-05 12:16] parasharrajat commented on #6154
We should be good to go here @trjExpensify

[2022-01-05 12:23] trjExpensify commented on #7037
Yeah, I think that's the only place I can think of too.

If the button is being added in another PR, shall we update the OP of this one then? It sounds like this is just about implementing it on the `Manage members` page as a follow-up, right?

[2022-01-05 12:24] parasharrajat commented on #6836
I didn't find any information about resizing the image that fixes this issue. That issue talks more about the size of the image file.  How did you reach to that conclusion @ahmdshrif ?

[2022-01-05 12:24] dylanexpensify commented on #6807
back from OOO. Working on this now

[2022-01-05 12:28] dylanexpensify commented on #6807
Posted!

Internal: https://www.upwork.com/ab/applicants/1478704515809452032/job-details
External: https://www.upwork.com/jobs/~010f511ed58f3f9c4a

[2022-01-05 12:32] shawnborton commented on #7037
Yup, I agree with that.

[2022-01-05 12:34] mananjadhav commented on #7037
**Proposal**

The small fix is to update the type in the `Button` component of `WorkspaceMembersPage`.

https://github.com/Expensify/App/blob/fbb4674521536923ee83c6e3f093fbe6bc029f9f/src/pages/workspace/WorkspaceMembersPage.js#L275-L289

[code]

[2022-01-05 12:37] dylanexpensify commented on #6060
not overdue, on hold

[2022-01-05 12:38] Beamanator commented on #7036
@rushatgabhane would you mind commenting in this issue so I can assign you to help review proposals as a Contributor-plus?

[2022-01-05 12:46] #6361 closed

[2022-01-05 13:05] mananjadhav commented on #7035
Proposal:

https://github.com/Expensify/App/blob/fbb4674521536923ee83c6e3f093fbe6bc029f9f/src/pages/home/report/EmojiPickerMenu/index.js#L180-L183

Change the if condition to:
[code]

I am working on this https://github.com/Expensify/App/pull/6977 and have moved the location/renamed files, etc. for the EmojiPicker. I can take this up as a follow-up PR and add the feature.

cc - @mallenexpensify

[2022-01-05 13:41] Santhosh-Sellavel commented on #5875
Sorry late here,

I think I am eligible for a reporting bonus here because when I found this issue it was a valid one.  Also, it seems later it was fixed internally.

Any thoughts?

cc: @chiragsalian @trjExpensify

[2022-01-05 13:59] parasharrajat commented on #6699
Ok. Looks like it is fixed, I can't reproduce the message replication. So we should be good to just trim the message.

@K4tsuki 's [proposal](https://github.com/Expensify/App/issues/6699#issuecomment-995582748) looks good to me.

cc: @Julesssss

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-05 14:39] mananjadhav commented on #7015
**Proposal**

I reported this and hence I am recommending  a solution.

Changes will be in `ProfilePage.js`. We are directly calling `PersonalDetails.setAvatar` on image change.

1. We'll add two variables in state: `avatarPreviewURL` and `avatarFile`.
2. For `onImageSelected` and `onImageRemoved` we remove the existing function calls and just update/remove the state.
3. In `updatePersonalDetails`

[2022-01-05 14:46] trjExpensify commented on #7037
OP updated.
Upwork job here: https://www.upwork.com/jobs/~01c323c4970d8150aa

[2022-01-05 14:50] rushatgabhane commented on #7013
Could you please assign me the issue?

Ref: https://expensify.slack.com/archives/C02NK2DQWUX/p1641386196099800

[2022-01-05 14:51] trjExpensify commented on #6154
As in, good to close this out or proceed with moving it to Upwork? 😅

[2022-01-05 14:55] rushatgabhane commented on #7036
@Beamanator Here, thanks

[2022-01-05 15:01] Beamanator commented on #7036
Great! Assigned you to help review, @rushatgabhane - hopefully this will be automated starting tomorrow :D

[2022-01-05 15:04] parasharrajat commented on #6154
Sorry, I meant you can post it to Upwork now. We need more work for this to work properly. Thanks. @trjExpensify

[2022-01-05 15:06] parasharrajat commented on #7037
If I am not mistaken , this can only be taken after https://github.com/Expensify/App/pull/6856 is merged. Right.

But as only Manan has proposed and he is also handling https://github.com/Expensify/App/pull/6856. I think I am good with @mananjadhav 's proposal. He can take it up after https://github.com/Expensify/App/pull/6856.

cc: @roryabraham
:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-05 15:10] NicMendonca commented on #6779
@thesahindia hired!

[2022-01-05 15:12] NicMendonca commented on #5699
@parasharrajat sent you the job in Upwork, thank you!

[2022-01-05 15:14] NicMendonca commented on #7009
@mananjadhav hired!

[2022-01-05 16:20] rushatgabhane commented on #7036
@thesahindia What do you plan to do with `isFocused` which is a required prop?

[2022-01-05 16:45] thesahindia commented on #7036
@rushatgabhane,
I think we can remove both `withNavigationFocus` and `isFocused` from that file and do the clean-up since now the focused logic is not needed

[2022-01-05 16:53] davidcardoza commented on #6722
Payment sent, closing.

[2022-01-05 16:53] #6722 closed

[2022-01-05 16:55] davidcardoza commented on #7033
Payment sent.

[2022-01-05 16:55] #7033 closed

[2022-01-05 17:49] rushatgabhane commented on #7036
🎀👀🎀 C+ reviewed
@Beamanator I recommend @thesahindia 's proposal.

Because there is no double side nav drawer for this view. So we can't see focused menu when we click on it anyway.
We can remove the focus entirely.

[2022-01-05 17:55] marcaaron commented on #6967
The errors _are_ in the `state` ?

https://github.com/Expensify/App/blob/117995fb2b05c290c85990d5c35974c330d792ba/src/pages/settings/Payments/AddDebitCardPage.js#L60

+1 to keep the errors in the state as an object.

There are other cases where we save them in device storage, but we will be moving away from that practice in the near future.

No style guidance for this yet, but we should have some

[2022-01-05 17:58] marcaaron commented on #6491
Open to experimenting with these values to see if there are improvements for different platforms by tweaking them.

IIRC the `maxToRenderPerBatch={1}` gave the best looking performance for desktop/web at the time and in my opinion - but a lot of changes have been made since then so perhaps a better configuration would serve Android specifically.

[2022-01-05 18:11] Beamanator commented on #7036
I agree! Let's go with @thesahindia 👍

[2022-01-05 18:30] chiragsalian commented on #6720
Still waiting on proposals

[2022-01-05 18:32] deetergp commented on #5897
No updates. Since this is apparently not a priority, I'm going to bump it down to Monthly.

[2022-01-05 18:37] mallenexpensify commented on #3189
@anthony-hull do you have an update on progress?  We recently [updated our CONTRIBUTING.md ](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#:~:text=Daily%20updates%20on,original%20contract%20terminated.)to include details on expected timeliness of working on issue .

Just wanna make sure the PR will be submitted soon.

[2022-01-05 18:41] parasharrajat commented on #7037
Also, I think this button can also be replaced https://github.com/Expensify/App/pull/6958

[2022-01-05 18:45] shawnborton commented on #7037
Good catch, I agree Rajat.

[2022-01-05 18:49] anthony-hull commented on #3189
thanks!
I'm working on this tonight and tomorrow, I updated the linked PR earlier this evening. I hope to have it ready for review tomorrow

[2022-01-05 18:56] thienlnam commented on #3419
Looks like this got lost in the sea of holds
The web and auth PRs have been merged a while ago
- https://github.com/Expensify/Web-Expensify/pull/31895
- https://github.com/Expensify/Auth/pull/5926

The internal side of this is complete, do we still want to move forward with this? @laurenreidexpensify
If so, we can make this external (or maybe create a new issue) for it

[2022-01-05 18:59] deetergp commented on #6769
Reviewed, approved, & merged.

[2022-01-05 19:00] mananjadhav commented on #7037
Thanks for highlighting @parasharrajat. Will update that too

[2022-01-05 19:02] thienlnam commented on #7013
@thesahindia Are you assigned to the upwork job yet?

[2022-01-05 19:04] thesahindia commented on #7013
@thienlnam, applying for the job now.

[2022-01-05 19:09] MitchExpensify commented on #6893
Not overdue

[2022-01-05 19:28] bondydaa commented on #7035
sending to the pool

[2022-01-05 19:52] chiragsalian commented on #5875
Hi @Santhosh-Sellavel, yes I believe so. My bad on closing the issue and missing that. I'll reopen and let @trjExpensify handle the payment details.

[2022-01-05 19:56] mananjadhav commented on #7035
@bondydaa @johncschuster Nobody’s assigned to the issue after being unassigned

[2022-01-05 20:02] mountiny opened #7041 "[TEST] Dummy issue issue reported by @mountiny"
This is a dummy issue to test [webhook feature](https://github.com/Expensify/Web-Expensify/pull/32724). Do not mind please.

[2022-01-05 20:03] mountiny commented on #7041
Nothing should happen now.

[2022-01-05 20:03] mvtglobally commented on #7005
Regression is almost done

Checking off #6905 as issue #7029 is closed
Checking off #5150 as #7030 is closed

Can I check off #6993 as #7032 is repro in PROD?

Issues reported
https://github.com/Expensify/App/issues/7032
https://github.com/Expensify/App/issues/7030
https://github.com/Expensify/App/issues/7023
https://github.com/Expensify/App/issues/7008

[2022-01-05 20:04] mountiny commented on #7041
Now updating the title to include the `issue reported by` part and the Internal label should assign CM.

[2022-01-05 20:05] mountiny commented on #7041
Works! @jliexpensify sorry for the ping here, just testing.

[2022-01-05 20:05] #7041 closed

[2022-01-05 20:07] thienlnam commented on #7013
My bad, I should have checked before merging but next time please hold off on submitting a PR until you are assigned on the job.  That way, we can make sure you get compensated for the work you provide

[2022-01-05 20:13] francoisl commented on #7005
I can't reproduce the issue on staging nor production at the moment, but I might be doing something wrong, I'll try from another account. Either way yeah I think we can check it off, the issue is assigned to an engineer for triage.

[2022-01-05 20:25] mallenexpensify commented on #7027
Thanks @Asha20 , you're paid!

[2022-01-05 20:25] #7027 closed

[2022-01-05 20:27] iwiznia commented on #6427
Oh, I think I missed that one, sorry. Did not even think about other numbers like arabic.
I think that proposal is good, but will let @parasharrajat and @Luke9389 have the final say, since they are assigned.

[2022-01-05 20:28] thesahindia commented on #7013
@thienlnam, will remember the next time.

[2022-01-05 20:40] mvtglobally commented on #7005
@francoisl checked off. #7032 is happening only with a brand new accounts.

Other than that, we should be good to deploy

[2022-01-05 20:41] parasharrajat commented on #6427
Thanks for the input @iwiznia.

Based on this, We won't update the message that is coming from the backend in https://user-images.githubusercontent.com/43996225/143068980-41848fd5-bc85-4b2b-9a6b-1315610211ff.jpg.

But some parts of it can be localized such as IOU Preview and Header of Split Page. @songlang1994 your proposal is good for BigNumberpad but could you please add more details for these c

[2022-01-05 20:45] francoisl commented on #7005
Got it, thanks! I'm going to check off the remaining Accesbility checkboxes and `:shipit:`

[2022-01-05 20:46] francoisl commented on #7005
:shipit:

[2022-01-05 21:03] jboniface commented on #7016
job posted: https://www.upwork.com/jobs/~016e11e755669a7e5c

[2022-01-05 21:05] francoisl commented on #7005
Deploy failed because of an issue that's being looked at [here](https://expensify.slack.com/archives/C03V9A4TB/p1641415688476900), we'll need to rerun this.

[2022-01-05 21:34] stephanieelliott commented on #6824
Paid in Upwork!

[2022-01-05 21:34] #6824 closed

[2022-01-05 22:13] mananjadhav commented on #6552
@roryabraham I was wondering if we could bump the budget for this one a bit? Earlier I didn't foresee the refresh logic and spent some decent time to get different ways to get a reliable solution. While none of them is a part of the PR and ended up using feedback from the slack channel, coming to that conclusion with different test scenarios took some effort.

[2022-01-05 22:19] ahmdshrif commented on #6836
@Jag96  this is the max-width and max-height, it only affects the image more than the threshold we provide.

@parasharrajat  the conclusion comes from some searches and tests.   the small Image did not have the issue and the big image had the issue so if we resize the big image the issue is solved.
and buting this approach in test it works.

I know this is a workaround but I think the real solutio

[2022-01-05 22:27] parasharrajat commented on #6836
Ok. Another question would be Will downsizing the image blur it or will it affect the image visually? If the Answer is No, Then I think we can adopt this solution as app crash is a critical issue.

cc: @thienlnam

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-05 22:30] AndrewGable commented on #6979
I believe we decided we were not going to move forward with supporting Windows for users for the time being, but we are open to suggestions on how to improve development of the application while using Windows.

[2022-01-05 22:40] rushatgabhane commented on #7016
@thesahindia I just wanna confirm if your proposal works on mobile too?

[2022-01-05 23:04] thienlnam commented on #5142
We're testing this on production since the PRs have been deployed there.

Currently testing on Chrome on a Mac V11.6

Tested with copying using the context menu
<img width="60" alt="Screen Shot 2022-01-05 at 3 03 33 PM" src="https://user-images.githubusercontent.com/30609178/148302153-98bee104-a47c-4d8f-88dd-4de6e59b89cf.png">

and using CMD + V to paste

as well as copying using CMD + C and using

[2022-01-05 23:25] davidcardoza commented on #6722
Payment was made now, sorry that was my first time using Upwork.

[2022-01-05 23:33] Luke9389 commented on #6427
First of all, I'd like to thank @songlang1994 for helping us clear this up in [this comment](https://github.com/Expensify/App/issues/6427#issuecomment-1002950968).

@parasharrajat has a good point. So far, we haven't addressed how we will localize numbers that are coming from the back-end. I'm assuming @songlang1994 would want to use `LocaleDigitUtils` for this.

@songlang1994, would you be willin

[2022-01-05 23:35] francoisl commented on #7005
:shipit:

[2022-01-05 23:35] #7005 closed

[2022-01-05 23:37] botify commented on #6132
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.25-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6770

If no regressions arise, payment will be issued on 2022-01-12. :confetti_ball:

[2022-01-05 23:41] OSBotify opened #7051 "Deploy Checklist: New Expensify 2022-01-05"
**Release Version:** `1.1.26-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6737
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6837
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6838
  - [x] QA

[2022-01-05 23:50] ahmdshrif commented on #6836
@parasharrajat  by SDK I mean the react-native-image-picker SDK.

I think the big image will have some quality downgrade it's relative to its size since more big images more a quality downgrade. you can see this effect in a video on the proposal. I do the same test with WhatsApp and I find it downgrades the quality with the same quality I get in the video.

[2022-01-06 00:27] Luke9389 commented on #7016
The images from [this proposal](https://github.com/Expensify/App/issues/7016#issuecomment-1004652794) with overlapping symbols look a little janky right? Not sure if I'm down for this route.

[2022-01-06 00:29] mvtglobally commented on #7051
Starting QA

[2022-01-06 00:42] Jag96 commented on #7026
I like both of those ideas. Creating a deploy blocker issue to prevent deploys seems like a nice improvement. For running additional checks I think e2e might be overkill but adding lint/unit tests/verify podfile seem like good checks to have. I'm thinking these would happen before we create a new version in the preDeploy.yml workflow, but I'll confirm that's the best spot for these.

[2022-01-06 00:49] textninja commented on #7016
This isn't a serious proposal, as it is platform specific and may have undesirable performance tradeoffs, but to work around the password manager space conflict issue described in @thesahindia's proposal, I found that updating **BaseTextInput** to  poll for the **:-webkit-autofill** selector worked well in my test environment for webkit browsers specifically. I have yet to get `npm run ios` to wor

[2022-01-06 00:53] stitesExpensify commented on #7010
Yep definitely a bug. @thesahindia do you want to propose a solution?

[2022-01-06 00:54] stitesExpensify commented on #6893
Making this weekly while it is being worked on

[2022-01-06 01:12] textninja commented on #7016
There's a great discussion about the password manager / eye overlap issue in this WordPress issue: https://core.trac.wordpress.org/ticket/48222

A workaround proposed in that thread was to place the eye icon underneath the input, right aligned, along with the text "Show password" or "Hide password" depending on state.

[2022-01-06 01:45] puneetlath commented on #6488
What's our current think on the direction to go here? Do we need to add a sound on all platforms?

[2022-01-06 02:06] mallenexpensify commented on #6699
@K4tsuki can you apply here please? https://www.upwork.com/jobs/~01307efa2992ecde35

[2022-01-06 02:10] mallenexpensify commented on #6967
Hired @ABee-Tech in Upwork.  @parasharrajat can you apply for C+ please https://www.upwork.com/jobs/~0167335f0a64da17cb

[2022-01-06 02:13] mallenexpensify commented on #6720
Doubled price to $500
https://www.upwork.com/jobs/~01a963dd5b4b61ac01

[2022-01-06 02:46] bondydaa commented on #7035
is sending to the engineering pool no longer an option?

I guess external is probably fine but for new feature requests I think letting this go to the pool and have someone who's more involved in new dot review is better than me just willy nilly saying sure go for without any context.

[2022-01-06 02:49] bondydaa commented on #7035
posted about this in engineering-chat to see if someone more familiar with new dot wants to review first

[2022-01-06 02:59] K4tsuki commented on #6699
Thank you, my upwork account is https://www.upwork.com/freelancers/~01bdd9e3a6f15042bd

[2022-01-06 03:40] kbecciv opened #7055 "Room - App crashed in IOS after tap on Room name to view details after creating a Policy Room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue was found when executing #6737

## Action Performed:
1. Launch the app and login
2. Tap the global create + button  and choose New Room
3. Name it something and se

[2022-01-06 03:41] OSBotify commented on #7055
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-06 03:44] mvtglobally commented on #7055
@pecanoro We made it a deploy blocker since the IOS crash is only repro in Staging, while Blank page in other requirements is repro in Prod today

[2022-01-06 04:15] ABee-Tech commented on #6967
And one last question before I send my proposal. Do I have to update src/languages/en.js for new error messages?

[2022-01-06 04:16] ABee-Tech commented on #6967
@parasharrajat @marcaaron And one last question before I send my proposal. Do I have to update src/languages/en.js for new error messages?

[2022-01-06 04:22] rushatgabhane commented on #7016
Thanks for your input @textninja, I'm not sure what to do here. Discussing on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1641441475010400?thread_ts=1640198971.467800&cid=C01GTK53T8Q)
1. Ignore this bug or
2. Eye icon under the input.

[2022-01-06 04:23] rushatgabhane commented on #7016
I agree, overlapping kinda looks janky. Let's not do that.

[2022-01-06 04:24] jliexpensify commented on #6944
@stitesExpensify - Are you happy for me to close the Upworks job?

Also does @mananjadhav get a bonus for reporting?

[2022-01-06 05:56] mvtglobally opened #7056 "[HOLD for payment 2022-01-21] Wrong regex is being used for account number which allows alphabets on web/desktop - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to settings > Workspace > Add bank account
3. Proceed to the manual flow
4. Enter IBAN

## Expected Result:
No error appear

[2022-01-06 06:01] mvtglobally opened #7057 "Feature Request: Form error to be in view when the keyboard is up when logging in - Reported by @anthony-hull"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and enter valid email
2. On the password field, enter invalid password

## Expected Result:
Form error to be in view when the keyboard i

[2022-01-06 06:04] mvtglobally opened #7058 "[HOLD for payment 2022-01-25] Password field is pre-filled with the text entered on the previous screen - Reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Kill the app if already opened (you should be logged out)
2. Open the app again (sometimes you see the keyboard already opened itself even if you

[2022-01-06 06:11] mvtglobally opened #7059 "[HOLD for payment 2022-03-08] Feature Request: Add a tooltip to Avatars in the LHN - Reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Hover over the list of names in LHN

## Expected Result:
Tooltip should appear with the details

## Actual Result:
Nothing happens on

[2022-01-06 06:13] hiteshagja commented on #6720
@parasharrajat

Here is my **proposal**
![image](https://user-images.githubusercontent.com/5493716/148336942-1b0d1f27-50ab-4708-a9fb-93ee92d2c732.png)

changed `navigateBackToRootDrawer()` function as I find this meaningful and have done no change in `CustomActions.pushDrawerState`

[2022-01-06 06:17] mvtglobally opened #7060 "[HOLD for payment 2022-01-25] Category names in EmojiPicker are not translated - Reported by @mananjadhav"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Set language to spanish
3. Check emoji picker in any chat
4. Note category names

## Expected Result:
Category names in EmojiPicker s

[2022-01-06 06:36] mananjadhav commented on #7060
Proposing the solution as I've reported and I am also working on other EmojiPicker issues.

1. We need to update all the code for headers in `assets/emojis.js` with their translation keys.
2. Add the key-value pairs in `en` and `es` files under `emojiPicker` section with headers
[code]

3. In `EmojiPicker` component, where we have the header being rendered.

https://github.com/Expensify/App/blob/5

[2022-01-06 07:33] thesahindia commented on #7056
### Proposal
we need to add another regex for US bank accounts to use only numbers and we have to use it instead of `IBAN`

question: What should be the min-max for this input? (is it 4-17 digits for US bank accounts?)

https://github.com/Expensify/App/blob/580c9dbb1d2cf364bdcb6d7b3c06560f35b3ac6d/src/pages/ReimbursementAccount/BankAccountStep.js#L91

[2022-01-06 07:40] kursat commented on #5142
Its working on following env:

Chrome: Version 97.0.4692.71 (Official Build) (x86_64)
MacOS: 10.15.7 (19H1615)

https://user-images.githubusercontent.com/1279379/148338723-df6d14b2-2f35-46c6-94ae-7d22be777b0f.mp4

Also tried with hover menu which I noticed after shooting the video.

Currently this is what i got but I'll try to find a way to test on newer versions of mac.

[2022-01-06 08:13] Beamanator commented on #6669
Not overdue, still on hold for internal offline discussions

[2022-01-06 08:32] dylanexpensify commented on #6592
Sorry for the delay on this, I was OOO! Offer just sent @dklymenk !

[2022-01-06 08:57] jasperhuangg commented on #7060
@mananjadhav has a good solution!

[2022-01-06 10:32] songlang1994 commented on #6427
The messages from API are actually TEXT rather than numbers. So I think the localization process should be taken care of by the server.

BTW, `IOUPreview` re-format the amount TEXT by replacing brackets which may not be a nice way. It might be better to contact the back-end team and ask them to handle it.

[code]

<img width="499" alt="iou-components" src="https://user-images.githubusercontent.com

[2022-01-06 10:45] anthony-hull commented on #6492
this should be merging today 🤞

[2022-01-06 10:56] sketchydroide commented on #7058
Hmm, it would seem that the password field is being set as active straigth away, hence why it pops up, and whatever you write is set as the password.

[code]

I think both `showLoginForm` and `ShowPasswordForm` are true, and since the Field for the password in `PasswordForm` has autoFocus it focus straight into the password field without showing it.

@tgolen you seem familiar with this code what d

[2022-01-06 12:37] parasharrajat commented on #3455
@Jag96 This should have been resolved now. We upgraded RN-web.

[2022-01-06 13:01] michaelhaxhiu commented on #5994
No update

[2022-01-06 13:02] michaelhaxhiu commented on #6032
I didn't get a draft finished before OOO, that was a little too lofty of a goal (apologies!). I will be prioriting this as my #1 focus though now that I'm back!

[2022-01-06 13:30] K4tsuki commented on #6059
https://github.com/pusher/pusher-js#react-native

So pusher is using NetInfo under the hood, but their implementation on using this NetInfo is more reliable and more correct than current our implementation on using this NetInfo (As you can see there is many bugs around offline and online state of the Apps).
Their library is used by many packages and by many users, it is more mature.

Have you seen

[2022-01-06 13:50] parasharrajat commented on #6836
Ok. Thanks for pointing that out. As far as, we can zoom in on the image and clearly see the information, I am good with that.

@Jag96  Over to you.

[2022-01-06 14:04] parasharrajat commented on #6488
I think it's a good question to raise on the Public slack channel.

[2022-01-06 14:30] K4tsuki commented on #6836
In telegram, the image is sends as file/document and let other applications open it properly.

[2022-01-06 14:40] parasharrajat commented on #6427
yeah, IOUQuote is populated from the backend and we can skip that for now. But we can still change the IOUPreview amount and currency. Look at the IOUBadge for this.

And there is one more screen that needs to be localized the header of
![image](https://user-images.githubusercontent.com/24370807/148399409-708b4dce-3d9a-441c-9a7f-4575b5c75143.png)

It would be great if you can submit a finalized pr

[2022-01-06 14:56] trjExpensify commented on #7037
I've sent the offer on Upwork, Manan. Let's update the title to note the issue it's held on as well for the time being.

[2022-01-06 14:56] stephanieelliott commented on #7011
Job is on Upwork here: https://www.upwork.com/jobs/~01bd37d23f5bb554fd

@CSFlorin, as the reporter of this issue, you have first dibs on fixing it! Please post your proposal here if you have one.

[2022-01-06 14:57] trjExpensify commented on #7036
Hired on Upwork 👍

[2022-01-06 15:01] roryabraham commented on #6491
Just throwing something out there – I'm currently working on switching us from FlatList to RecyclerListView for the main chat component, so I don't think now is a good time to work on optimizing the FlatList implementation we have.

[2022-01-06 15:06] roryabraham commented on #7037
Sorry for the delay here. I'll work on reviewing #6856 as soon as I can.

[2022-01-06 15:07] stephanieelliott commented on #6877
This is still being discussed in the Slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1640792952211900). Based on where the discussion is now, this job is likely to change so let's hold off on any more proposals for now.

[2022-01-06 15:13] parasharrajat commented on #6491
OMG, It's used by Flipkart. I can say it would be fast undoubtedly. Awesome @roryabraham. Could you please tag me on the PR? I would like to observe the development and learn.

[2022-01-06 15:16] parasharrajat commented on #5142
It should be platform agnostic. Maybe we are missing some step here.

[2022-01-06 15:20] parasharrajat commented on #6720
@hiteshagja , I have no idea what are you proposing. Could you please take other proposals as examples and write a proper proposal so that I can analyze it.

[2022-01-06 15:36] roryabraham commented on #6491
Yeah, all my work has been local so far but I'll tag you in the PR.

[2022-01-06 15:37] rushatgabhane commented on #3455
Wohoo! This issue is resolved and can be closed.
But yeah console errors are a thing now.

https://user-images.githubusercontent.com/29673073/148408049-9190e0b7-95f0-4538-a6f1-87c62b2aabe9.mp4

[2022-01-06 15:42] anthony-hull commented on #7016
How about tweaking the design a little:

![image](https://user-images.githubusercontent.com/47184118/148408646-6cb68114-9147-4010-bc06-258165a22e1d.png)

![image](https://user-images.githubusercontent.com/47184118/148408963-758ac14c-816c-4719-99dc-9113a4e0600f.png)

@shawnborton

[2022-01-06 15:51] TomatoToaster commented on #6726
This should be fixed as of [this PR](https://github.com/Expensify/App/pull/6737) for new Workspace Chats

[2022-01-06 15:55] anthony-hull commented on #6890
working on this this evening along inside my other related PR

[2022-01-06 16:00] parasharrajat commented on #6967
Good question. But it seems that we already have most of the common errors so you can reuse them. In case we need any, you will create new messages and we will help you select the correct message statement.

[2022-01-06 16:41] dylanexpensify commented on #6941
Posted!

Internal: https://www.upwork.com/ab/applicants/1479130971492720640/job-details
External: https://www.upwork.com/jobs/~0164aa12c19f98b6a6

[2022-01-06 16:44] marcaaron commented on #6491
Just curious, but if we only just forked `react-native-web` [here](https://github.com/Expensify/App/issues/3381) are we going to undo that change if we succeed at switching us from `FlatList` to `RecyclerListView`? Not knowing what the progress is with the flipkart stuff it looks like `FlatList` optimizations are still on the table.

[2022-01-06 16:45] hiteshagja commented on #6720
@parasharrajat

**Root Cause**
Navigation `state` that is being referred in `CustomActions.js > navigateBackToRootDrawer() > navigationRef.current.dispatch((state) => {...})` is current state and has no information about all routes opened in UI  i.e. `Home (Report Screen) => Details => Search`.

**Proposal**

What I propose here is, using `navigationRef.current.getRootState()` state which is navig

[2022-01-06 16:51] trjExpensify commented on #6154
Nice! Posted to Upwork here: https://www.upwork.com/jobs/~01d80641693bce80a7

[2022-01-06 17:09] parasharrajat commented on #7014
Investigating the issue....

[2022-01-06 17:44] kbecciv opened #7063 "IOU- Console error displayed when Split/Request Money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Click on Green Plus button and select Request/Split Money
4. Finish your Re

[2022-01-06 17:58] kbecciv opened #7064 "mWeb Safari - IOU - Cursor does not autofocus in Request money page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Tap on Green Plus button
4. Tap on Split/Request money

## Expected Result:

[2022-01-06 18:15] BalogunofAfrica commented on #6941
This is a current issue with React Native, the behavior of KeyboardAvoidingView component is somewhat spooky, there is a PR addressing that and it has already been merged, check it out here: https://github.com/facebook/react-native/pull/31402 .

This should be out in the next release according to the author of the PR: https://twitter.com/mrousavy/status/1468891327286890504?t=7ldrxjjKbHt65bmUgIC84A

[2022-01-06 18:18] thienlnam commented on #5142
Huh, I retested this morning and it is working as expected - maybe the deploy didn't uninstall on prod until recently.  Either way, all good here - thanks for confirming!

[2022-01-06 18:18] francoisl commented on #7055
@TomatoToaster any idea what could be causing this, in regards to https://github.com/Expensify/App/pull/6737?

[2022-01-06 18:24] Tushu17 commented on #6767
Bump @jasperhuangg

[2022-01-06 18:27] tgolen commented on #6941
Thanks, @BalogunofAfrica! I think the best long-term solution here would be to wait until that fix is released and we look to upgrade. Would you want to hang around for that and write a proposal for upgrading React Native?

[2022-01-06 18:27] Jag96 commented on #7063
We've been ignoring these errors, asked in [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1641334519042500) to confirm we don't want to take any action on these.

[2022-01-06 18:28] #3455 closed

[2022-01-06 18:30] tgolen commented on #7058
Hm, sounds like an interesting investigation. I agree with `external`. Let's get it over there and see if someone can find a more definitive root cause of the problem. Off the top of my head, I don't know why both `showLoginForm` and `showPasswordForm` would be `true`. But I also haven't looked at that code in a while.

[2022-01-06 18:34] BalogunofAfrica commented on #6941
Yeah that's fine by me @tgolen

[2022-01-06 18:48] jasperhuangg commented on #6767
Ahh I finally understand what you mean

Next time it would be helpful to include a video recording with the issue to prevent confusion.

https://user-images.githubusercontent.com/31285285/148434758-e05d47a4-c3ca-410f-93d5-1d8f03d24769.MOV

I see that this behavior doesn't happen for native iOS (hitting return gives you a new line). Are we going to change the behavior of mobile web to match that of

[2022-01-06 19:25] Jag96 commented on #7063
This should be fixed when https://github.com/Expensify/App/pull/6914 is deployed to staging so going to close this. Will reopen if the issue persists.

[2022-01-06 19:25] #7063 closed

[2022-01-06 19:28] #6979 closed

[2022-01-06 19:38] kidroca commented on #6059
`isInternetReachable` doesn't have to make a request on the platforms that have a native way of knowing whether they have internet access
But if it does have to make request it's [configured here](https://github.com/react-native-netinfo/react-native-netinfo#netinfoconfiguration):

If the Pusher team can make Net Info work for them it only proves we're not using it the best way
A solution that work

[2022-01-06 19:46] kidroca commented on #6059
This might sound a bit radical alternative but

Why just simply never be offline 😅
Or rather, indicate to users they might be offline (like we do), but don't block any requests because of it - when requests fail they can be put back to the queue for a retry

[2022-01-06 19:46] Luke9389 commented on #6427
We're hoping to do localization entirely on the front end. @songlang1994, would you be willing to post the exact response the server is giving? Is it literally returning "Requested HK$12.88 from Test"? If so, maybe we should change the return to be an object, like
[code]

That way the front end can localize it more easily.

[2022-01-06 19:48] Luke9389 commented on #6427
Yep, I'm in the same boat as @parasharrajat. I'm ready to give the green light to @songlang1994 once a final proposal with all front end screens is submitted. It's OK to skip `IOUQuote` for now. It's a bit out of scope for this issue.

[2022-01-06 19:52] bfitzexpensify commented on #7058
Upwork job is [here](https://www.upwork.com/jobs/~01c18f15bbd1e0c0ff)

@adeel0202 can you apply for the reporting bonus [here](https://www.upwork.com/jobs/~0130f03fa6a8e80ca0) - thank you!

[2022-01-06 19:55] kidroca commented on #6491
Even if we eventually give up on the FlatList, these tweaks `maxToRenderPerBatch`, `windowSize` and `updateCellsBatchingPeriod` are a low hanging fruit that would be a day's work 🤞

[2022-01-06 19:56] mallenexpensify commented on #6699
Hired both @K4tsuki and @parasharrajat, both for $500 (Rajat is $250 for reporting and $250 for C+)

[2022-01-06 19:59] mallenexpensify commented on #5620
Planning to pay on 2022-01-11 if there are no regressions

[2022-01-06 20:06] TomatoToaster commented on #7055
Looking into this now, trying to recreate locally 👀

[2022-01-06 20:12] adeel0202 commented on #7058
@bfitzexpensify, applied for reporting. Thank you.

[2022-01-06 20:14] francoisl commented on #7055
I can't reproduce on `main`, going to try from `1.1.26-0` specifically.

![image](https://user-images.githubusercontent.com/2229301/148445366-fa85e2d5-0694-4db6-aa56-506dc9ee8b1e.png)

[2022-01-06 20:17] puneetlath commented on #6908
Commenting here as it seems more relevant to this issue than the other. Just as an FYI, the `report a bug` button does seem to work the second time you use it. So it ends up working every other time in practice (video [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1641323776029200)). And I found that reversing the order of [these two lines](https://github.com/Expensify/App/blob/main/src/

[2022-01-06 20:41] kevinksullivan commented on #6059
Still in planning, not overdue.

[2022-01-06 21:02] Luke9389 commented on #7016
I'm a fan of this design change @anthony-hull, very clever.

[2022-01-06 21:13] kbecciv opened #7066 "Password - Error message not displayed for incorrect old password"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Click Profile icon > Security > Change password
3. Enter incorrect current password ( Meeting all requirement)
4. Ent

[2022-01-06 21:21] puneetlath opened #7067 "Update request a call page functionality to match Old Dot"
The request a call modal on Old Dot has some functionality that isn't there on New Dot. Let's add it to bring feature parity:

- Extension field
- Dynamic messaging in subtext based on when the call is requested and current wait time
- API call to get current wait time

Because of the new API call, this will need to be internal.

Current New Dot:
![image](https://user-images.githubusercontent.com/

[2022-01-06 21:22] puneetlath commented on #6719
Cool. GH for updating request a call modal is here: https://github.com/Expensify/App/issues/7067

[2022-01-06 21:25] anthony-hull commented on #7016
thanks @Luke9389!

I propose for this approach to add left padding to the Pressable so that the touchable area increases with the visual area:
https://github.com/Expensify/App/blob/7a4354b3879b5ca12e2d2394b2404074358f3389/src/components/TextInput/BaseTextInput.js#L196-L207
And adding the border radius overrides and right border to TextInputWithName when secureTextEntry is true:
https://github.com/

[2022-01-06 21:33] kevinksullivan commented on #3419
Hm, I actually don't think we should follow through with this one, for a few reasons:
1. The user profile is growing to show more information as part of the [Account settings doc](https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit), so this will be buried.
2. We are now using the same chat pattern for business cases, which may mean we want to pivot on this design

[2022-01-06 21:37] kbecciv opened #7068 "[HOLD for payment 2022-01-27] IOU - Zeros can be used indefinitely"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Click FAB + > Split bill
3. Enter many zeros

## Expected Result:
Number zero must be limited

## Actu

[2022-01-06 21:37] JmillsExpensify commented on #3419
Yeah agree with @kevinksullivan. In addition to his reasoning, I'd add: think we're actively moving away from these kinds of dedicated "lists" in product. Even more so, we've recently decided in N7 to punt building a similar-looking page for todos that would serve an analogous function. +1 to not move forward, though thanks so much @thienlnam for all your hard work!

[2022-01-06 21:51] anthony-hull commented on #7057
I propose the simplest solution of wrapping LoginForm and SiginForm in <KeyboardAvoidingView behavior="height">
https://github.com/Expensify/App/blob/0e22b55075b0197c47ea2423b21cf56655a4f574/src/pages/signin/SignInPage.js#L84-L95

However in the slack thread linked marc suggested we could look at a common way of handing this repeated form logic.

[2022-01-06 22:03] joelbettner commented on #7015
This has the info it needs to be worked on. I'm not sure how necessary it is though. I'll leave that up for someone else to decide...

[2022-01-06 22:10] anthony-hull commented on #3189
I haven't managed to finish the PR today.
I don't foresee any blockers for getting it finished tomorrow.
Currently I'm working through the edge cases listed in my tests.

[2022-01-06 22:16] bondydaa commented on #7066
if you use a different new password and an incorrect old password is it the same message?

[2022-01-06 22:22] NicMendonca commented on #7010
Upwork job post: https://www.upwork.com/jobs/~0167b446c2be6b25f4

[2022-01-06 22:31] thienlnam commented on #3419
👍 Sounds good to me! I will go ahead and create PRs to revert the changes made

[2022-01-06 22:31] #3419 closed

[2022-01-06 23:07] mallenexpensify commented on #5620
I got stuck on Splash screen today :(
v 1.1.24 , most recent production version

[2022-01-06 23:40] francoisl commented on #7051
A fix for the blocker https://github.com/Expensify/App/issues/7055 was CPed to staging ([fix](https://github.com/Expensify/App/pull/7065)), can you please test it again?

[2022-01-06 23:41] K4tsuki commented on #6059
A solution that works doesn't automatically make it the best.
If a simple solution like switching to isInternetReachable works I would prefer it

No it is  not simple solution. I think there is something wrong with our usage on NetInfo. It is  not just adding check on `isInternetReachable`. Something  is wrong with current implementation. I think the more simpler solution is to depend on currently

[2022-01-06 23:42] mallenexpensify commented on #3455
Is any compensation due for this issue?

[2022-01-06 23:45] mallenexpensify commented on #3189
Thanks for the update @anthony-hull !

[2022-01-06 23:51] zoontek commented on #5620
Ok, I will definitively pushing a hybrid version which use the v4 on iOS and the v3 on Android then.

[2022-01-07 00:13] NikkiWines commented on #5620
I also got stuck today after upgrading to 1.1.26-0 at 23:21 UTC

[2021-01-06logs.log](https://github.com/Expensify/App/files/7825411/2021-01-06logs.log)

Other logs from around that time show that the 3 API calls show in ^^ logs (`User_GetBetas` and `Get` (for retrieving `personalDetailsList`, and `[account, loginList, nameValuePairs]`) all returned 407 due to an expired authtoken. I hadn't been u

[2022-01-07 00:24] rushatgabhane commented on #7016
@anthony-hull Awesome
Increase left padding. Add border when secureTextEntry is true. Sounds good.

I don't think that's necessary. The function will be used only once. You could new line them I guess.

[2022-01-07 00:27] rushatgabhane commented on #7016
🎀👀🎀 C+ reviewed.

@Luke9389
Visual issue and @anthony-hull's design is very clean. Let's go with that.

[2022-01-07 00:42] rushatgabhane commented on #3455
Hmm, issue reporting bonus? Depends on if it works retroactively.

[2022-01-07 00:44] mallenexpensify commented on #3455
@rushatgabhane if you reported a bug or feature request that got fixed internally or externally, and you were the first to report it, I think you're eligible for the reporting bonus (even if it's many months old). Sound good @Jag96 ?

[2022-01-07 01:53] Enragedsaturday commented on #7058
**Proposal**
The PasswordForm component is focusing the TextInput on mount. This happens after the LoginForm component has mounted pulling focus to the hidden element. Removing the componentDidMount function from the PasswordForm compenent resolves the issue. The  componentDidMount only serves the purpose to focus the element and does not effect the app in an other way. *Tested and working*

[2022-01-07 03:28] kbecciv commented on #7066
@bondydaa When I used a different new password and an incorrect old password, error message displayed as "Your password changes could not be saved because the old password entered is incorrect."

![password](https://user-images.githubusercontent.com/93399543/148486311-684cd5bc-4651-433b-a546-a579ef6c34f5.png)

[2022-01-07 03:46] adelekennedy commented on #7060
**Internal**: https://www.upwork.com/ab/applicants/1479297672804737024/job-details
**External**: https://www.upwork.com/jobs/~01d9f9b3536a1773f7

@mananjadhav I hired you for reporting the issue!

[2022-01-07 03:55] jliexpensify commented on #6836
Hi @ahmdshrif - I'm having some trouble finding you on Upworks, could you link me your profile? Cheers!

[2022-01-07 03:56] rushatgabhane commented on #7058
### Background
Both login and password form are mounted because it's needed for password managers to work.
https://github.com/Expensify/App/blob/30118b75ba9693ee5518464c8d7073a9c6883b19/src/pages/signin/SignInPage.js#L95-L98

### Coming to the proposal.
The only place where focus on component mount is slightly useful - relaunch app on password page.
But that doesn't work for me on Android. (keyboa

[2022-01-07 04:02] CamilaRivera commented on #6965
@mountiny Sorry for the delay. I implemented what I proposed above `alignItems: 'flex-start'` but noticed that I didn't work for all platforms.

I tried some alternatives, and the best I could find:
- Use lineHeight with an exception on the number for IOS.
- Remove some unnecessary styles for the Android variant.

I'll leave a PR showing the changes so you can try it out if you want: https://githu

[2022-01-07 04:11] rushatgabhane commented on #7058
🎀👀🎀 C+ Reviewed

@marcochavezf
I recommend @Enragedsaturday's proposal because it fixes the root cause. It has an acceptable limitation of not focusing password field on relaunch. More details [above](https://github.com/Expensify/App/issues/7058#issuecomment-1007120903).

[2022-01-07 04:58] hiteshagja commented on #6908
**Reason**

In current scenario when user clicks on `Report a bug`, `navigateToConciergeChat()` method calls

which will call following lines of code inside that method
`Navigation.navigate(ROUTES.getReportRoute(conciergeChatReportID));
Navigation.closeDrawer();`

Here what I assume is `Navigation.closeDrawer()` interrupts the execution of  `Navigation.navigate(ROUTES.getReportRoute(conciergeChatR

[2022-01-07 04:58] mvtglobally opened #7074 "[HOLD for payment 2022-01-27] [HOLD for payment 2022-01-25] Food & Drink emojis and currently they are categorized in Animals & Nature - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to any chat
3. Click on Emoji picker
4. Scroll to food emojis

## Expected Result:
Food & Drink  emojis should have its own

[2022-01-07 05:06] mvtglobally opened #7075 "[HOLD for payment 2022-03-08] Android - Status bar color is not same as the main background color - reported by Neyaz Ahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Check the top bar

## Expected Result:
Top bar should be same color as background

## Actual Result:
There is a slight difference in

[2022-01-07 05:11] mvtglobally opened #7076 "mWeb Safari - There is no date picker icon and month and year cant be edited individually - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. In Safari browser on mobile, go to new.expensify.com
2. Navigate to Settings >Workspace >Add bank account
3. Proceed through VBA flow to Company

[2022-01-07 05:27] mvtglobally opened #7077 "[HOLD for payment 2022-02-14] FEATURE REQUEST: Update the empty state of a chat to be center aligned and show persistently"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Start a chat with a new user

## Expected Result:
Show the "room header" only.  When you start chatting, the room header (including a

[2022-01-07 05:39] mvtglobally opened #7078 "Feature request: we should have some functionality for auto spacing in debit card number - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to Settings > Payments > Add a debit card
3. Enter Card number

## Expected Result:
There should be spacing when entering ca

[2022-01-07 05:52] mvtglobally opened #7079 "FEATURE REQUEST: Add Google/Apple sign in on New Dot, like we have on Old Dot"
Design doc: https://docs.google.com/document/d/1W0hCQbcvcFIH1mlbSElovXKNaP_FK9J3MU3ESzH-y34/edit#

Pre-design: https://expensify.slack.com/archives/C01GTK53T8Q/p1678126175371849

Technical pre-design: https://expensify.slack.com/archives/C01GTK53T8Q/p1680016894091629

If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING

[2022-01-07 05:54] thesahindia commented on #7074
### Proposal
We need to add this before line 3618 -
[code]
https://github.com/Expensify/App/blob/667570caf12bfa2e083072a07dcc0af3959fb3b0/assets/emojis.js#L3618-L3623

and we need to add this before line 4368
[code]
https://github.com/Expensify/App/blob/667570caf12bfa2e083072a07dcc0af3959fb3b0/assets/emojis.js#L4368-L4385

[2022-01-07 05:57] mvtglobally opened #7080 "[HOLD] FEATURE REQUEST: Add “remember this device for 30 days” functionality for 2FA code on New Dot like we do on Old Dot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Sign in with 2FA enabled account
3. Select “remember this device for 30 days”

## Expected Result:
User should be able to remember de

[2022-01-07 06:02] mvtglobally opened #7081 "[HOLD for payment 2022-08-11 - Reminder to add bonus] Add skeleton UI to chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Make sure you are on a slow connection (e.g. 3G)
3. Open a new chat

## Expected Result:
There should be some identifier that chat is

[2022-01-07 06:19] mvtglobally opened #7082 "FEATURE REQUEST: Allow re-authentication with face ID or fingerprint"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Login with device supporting Face ID or fingerprint
3. Select to enable Face ID or fingerprint login
4. Log out
2. Try to re-login wi

[2022-01-07 06:21] mvtglobally commented on #7051
Regression is almost done. We are retesting fix and I will update whole checklist in the morning EST

[2022-01-07 06:39] ABee-Tech commented on #6967
@marcaaron @parasharrajat I think I will go with errors as an object like in `AddDebitCardPage.js`. Because it will maintain consistency.

### So, Here is my proposal:
1.	Add validate() function and transfer validation error handling from `checkAndModifyRoomName()` to `validate()` function:
[code]
I may need help finding these error message statements:
i. Please select a workspace.
ii. Please sele

[2022-01-07 07:09] sobitneupane commented on #7059
**Proposal:**
One way is to add Tooltip in OptionRow.js. It will solve the issue both for sidebarlink in LHN and also for search results in RHN.
[code]
The other way is to add Tooltip in MultipleAvatars.js. This way will be appropriate if we want to show tooltip for all the use cases of MultipleAvatrars.

[2022-01-07 07:15] sig5 commented on #7068
**Proposal:**
We need to modify the regex rules to disallow multiple leading zeroes on a number (Multiple zeroes in the beginning of an amount will stay as a single zero)
Changes:
1. Change **validateAmount** function in I**OUAmount.js** .
2. Modify the regex string to not allow multiple leading zeroes in an amount using `(?!0{2,})`

[2022-01-07 07:37] mananjadhav commented on #7059
**Proposal**

I reported this, and I am proposing a solution pending 1 comment to clarify:

1. Add a tooltip prop to `MultipleAvatar`
2. Wrap the `<View>` with `<Tooltip text={props.tooltip}>`
3. Set this tooltip prop to `HeaderView`, `OptionRow`,  and if required in `IOUPreview` as well

If it has to be enabled only for Multiple participants (which I don't recommend), then we should add `tooltipE

[2022-01-07 07:51] songlang1994 commented on #6427
@Luke9389 Yes. The data from server related to `IOUQuote` is

[code]

<details>
<summary>Click to expand the full response</summary>

[code]
</details>

[2022-01-07 08:28] songlang1994 commented on #6427
@parasharrajat `IOUBadge` and the header you mentioned above has been localized already. So the last place that we need to localize is `IOUPreview`. This is a finalized proposal base on [this proposal (v2)](https://github.com/Expensify/App/issues/6427#issuecomment-1003589574). In this proposal I will improve:

1. Localize `amount` in `IOUPreview`.
1. Add cache in `LocaleDigitUtils` to optimize the

[2022-01-07 08:46] shawnborton commented on #7016
Sorry for the late feedback - I don't think I like the small border. Can we go back to where we had it just floating in the input before? This way it will look consistent with other inputs like dropdowns or calendar pickers. Thanks!

[2022-01-07 09:00] shawnborton commented on #7081
Following this one, I'd love to mock something up for this.

[2022-01-07 09:31] mananjadhav commented on #6780
@puneetlath Do you have any updates for me here ?

[2022-01-07 09:44] phivh commented on #7010
### My proposal:
There is a code block that shows the image thumbnail until the image is loaded. From my point of view, it could show `ActivityIndicator` for better UX on the mobile app.

**File**: `src/components/ImageView/index.native.js`

**Before:**
[code]

**After**
[code]
Review:

https://user-images.githubusercontent.com/5449119/148524767-f71dd578-470e-4650-a9cf-1ba453c568f7.mp4

[2022-01-07 10:11] mananjadhav commented on #7081
Are we planning to add a shimmering effect or some placeholders here?

[2022-01-07 10:12] anthony-hull commented on #7016
There are downsides to it floating in the input. [If you scroll up](https://github.com/Expensify/App/issues/7016#issuecomment-1004652794), that implementation will cause overlapping icons from password managers.

I just looked at TextNingas link and that thread has a great spread of the different options and how they might look:

[2022-01-07 10:13] shawnborton commented on #7016
Got it, then I'd say you could keep your current implementation but just remove the border?

[2022-01-07 10:28] mananjadhav commented on #7074
**Proposal**

Just need to add `Food & Drinks` header just before `grape fruit` emoji. We also need to add `5` `EMOJI_SPACER` before the header and `7` `EMOJI_SPACER` after the header for adjusting the spaces.

But honestly what I would recommend is instead of manually adjusting such spaces we should remove all `EMOJI_SPACER` from emojis.js and dynamically add them. I had already added `getDynamic

[2022-01-07 11:54] parasharrajat commented on #6967
Thanks @ABee-Tech. This is comprehensive and looks good. You are already hired for this issue. You can submit the PR now or after hired on upwork.

[2022-01-07 12:01] sobitneupane commented on #7012
**Reason**
While setting image height and width, we have only checked whether imageWidth is greater than windowWidth or not in
https://github.com/Expensify/App/blob/7af06bcc0a05edc3f38febb7967814a60604a56b/src/components/ImageView/index.native.js#L64-L73
To solve this issue, we must also check whether imageHeight is greather than windowHeight or not.

**Proposal**
We should replace
[code]

[2022-01-07 12:22] kidroca commented on #6059
If there's something wrong with our side we should fix it, or do you mean we should stop using `NetInfo` altogether and replace existing logic with Pusher connected/disconnected events?

Our entire usage of `NetInfo` is this

https://github.com/Expensify/App/blob/7af06bcc0a05edc3f38febb7967814a60604a56b/src/libs/NetworkConnection.js#L59-L62

### Proposal:

1. Switch that to `isInternetReachable` a

[2022-01-07 13:14] anthony-hull commented on #7082
isn't it usual to clear face id when you logout? how else would you log in with another account or remove your login?

face id is used to re-auth if your session has expired or if you set an app to lock when it loses focus for x amount of time.

[2022-01-07 13:17] parasharrajat commented on #6908
Interesting theory, @hiteshagja.

But `Navigation.closeDrawer();` was added 6 months back and we faced this issue in Nov so I don't think this is the case. But do you see why this is creating the issue now?

I feel that https://github.com/Expensify/App/issues/6912 is also caused by the same root cause. let's try to debug more and see what has changed.

[2022-01-07 13:29] robertjchen commented on #6901
@Expensify/design Any thoughts on what needs to be improved here? 🙏

[2022-01-07 13:31] mountiny commented on #6908
@puneetlath Thank you very much for sharing the observation! This might be helpful for debugging.

I agree with @parasharrajat, @hiteshagja although your solution might fix this issue, we know it should be related to something else underneath (since this problem did not exist before). We should I am to find the root cause rather than workaround (since it is not complete blocker).

[2022-01-07 13:39] shawnborton commented on #6901
I agree with you, let's hide the name of the sender and make sure the location of the chat view doesn't change scroll position. Is that possible? Basically mimic what Slack is doing in this case.

[2022-01-07 13:53] mountiny commented on #6965
Thank you for the message, I will have a look at the PR @CamilaRivera

[2022-01-07 13:56] zmays commented on #6154
I've reproduced this bug, and believe the culprit is this code here:

[code]

To fix I'd add logic to updateAmountNumberPad that would figure out either:
- where the cursor is, and slice from that index, or
- what numbers are highlighted, and slice all of those

[2022-01-07 14:05] rushatgabhane commented on #7060
🎀👀🎀 C+ Reviewed

@stitesExpensify
Let's go with @mananjadhav's proposal.

[2022-01-07 14:22] parasharrajat commented on #6059
Thanks, @K4tsuki and @kidroca for putting up a great discussion. I have a few questions for both of you but I am not a subject matter expert for this.

@K4tsuki, I agree with Peter that the pusher can get disconnected on the backend and how will we continue to sync the background data?

Their library is used by many packages and by many users, it is more mature.

How can you say that their impleme

[2022-01-07 14:25] parasharrajat commented on #6154
Thanks, @zmays, I agree with your plan but could you please share some technicals on How are you planning to achieve this?

    where the cursor is, and slice from that index, or
    what numbers are highlighted, and slice all of those

[2022-01-07 14:27] parasharrajat commented on #6154
LOL, @rushatgabhane Sorry, you take it up. Didn't see the assignee.

[2022-01-07 14:41] rushatgabhane commented on #6154
Haha np 😂
Yes, please share the details Rajat has asked on this.

You might have to use selection and onSelectionChange props of TextInput. But it causes the cursor to jump around if not done properly. So yeah, the exact logic is important here.

[2022-01-07 14:47] ABee-Tech commented on #6967
Okay thank you.

[2022-01-07 14:52] johncschuster commented on #7081
Is this feature request still in the planning phase? If so, I'm not sure it would be appropriate to triage this to engineering right now.

[2022-01-07 15:02] parasharrajat commented on #7010
First of all, _Same behavior should be across platforms_ does not tell at all what is the expected behavior. Could we please pay more attention while creating the issue or during issue triaging? cc: @mallenexpensify @NicMendonca

---
@phivh I think you misunderstood the issue.

which says that we want the user to land on Chat page for both Native Mobile and Mobile web.

[2022-01-07 15:06] mvtglobally commented on #7078
Closing. I misunderstood the feedback

[2022-01-07 15:06] #7078 closed

[2022-01-07 15:30] trjExpensify commented on #7008
Job posted to Upwork: https://www.upwork.com/jobs/~01175e803854a62ae4

[2022-01-07 15:33] NicMendonca commented on #7068
Upwork job post: https://www.upwork.com/jobs/~011baceaff34a92e10

[2022-01-07 15:36] kavimuru commented on #7055
@TomatoToaster Issue is still reproducible in all the environments in the build 1.1.26 -1. PR #7065 is failing still.
Note: If the New room created in another workspace where user is a member then it works fine. Attaching the video too

https://user-images.githubusercontent.com/43996225/148567251-80c4cc7b-0caf-4d1d-8327-1c2bb8060279.mp4

.

[2022-01-07 15:37] aswin-s commented on #7008
@rushatgabhane @pecanoro I've posted the reason for the crash & how to fix [above](https://github.com/Expensify/App/issues/7008#issuecomment-1004540277). This was incorrectly tagged as a possible regression from one of my earlier PRs. That's why I had pitched in quite early.

[2022-01-07 15:40] pecanoro commented on #7008
@aswin-s Thanks for the insight! Go ahead with the proposed solution, @trjExpensify will send the job offer in Upwork!

[2022-01-07 15:45] stitesExpensify commented on #7060
Yep I agree! Proposal looks good :smile:

[2022-01-07 15:54] TomatoToaster commented on #7055
Hmm I see, thanks for the video! I'm able to recreate this too. But it seems like it works AFTER you've crashed and log back into the app right? I've got it to show me a policy room with 0 members that way.

This is how it should look for empty members:
![image](https://user-images.githubusercontent.com/19364431/148569358-d66ccf24-40e5-41fd-b4d5-beafdc41692a.png)

Like it seems like the specific b

[2022-01-07 16:05] mvtglobally commented on #7051
Regression is done.
Issue logged #7055. It was not fixed with the CP.

@francoisl  Since #7055 has been downgraded from DeployBlocker to Daily issue, Can we check off #6737 ?

[2022-01-07 16:08] trjExpensify commented on #7008
Awesome! @aswin-s can you apply to the job on Upwork and then I'll hire you and start the contract. 👍

[2022-01-07 16:12] tgolen commented on #6941
OK, cool. I'm going to set this to `monthly` and we can revisit this in a bit.

[2022-01-07 16:20] bondydaa commented on #7066
Ah I see what's going on here.

In Auth we check if the new password is different first https://github.com/Expensify/Auth/blob/fbe360030da875a10441ebc088213d93759c5f3c/auth/command/ChangePassword.cpp#L51 before we check if the "current password" is correct: https://github.com/Expensify/Auth/blob/fbe360030da875a10441ebc088213d93759c5f3c/auth/command/ChangePassword.cpp#L61

So that's why that error

[2022-01-07 16:26] tgolen commented on #7058
🟢 on @Enragedsaturday's proposal. Thanks for taking a closer look at it @rushatgabhane!

[2022-01-07 16:35] parasharrajat commented on #7068
Thanks for the proposal @sig5 . Could you please tell me how well is the support for negative lookahead in js?

[2022-01-07 16:42] kidroca commented on #6059
Something I said might have thrown you off I never suggested any kind of polling

`NetInfo` is not constantly running `internetReachability` - only when it has to. And if it can - it will use native capabilities to determine whether internet is reachable

Yes - stick with `NetInfo` it does exactly that - `isInternetReachable` uses native APIs and only performs a reachability request when such APIs

[2022-01-07 16:47] kbecciv opened #7084 "Android - Room- Room chat logo appears after add attachment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with expensifail account
3. Tap on Fub menu - Room
4. Name the room and select workspace
5. Tap create room
6. After room

[2022-01-07 16:55] parasharrajat commented on #6059
Oh, great. I see what you mean now. To me, this seems a good approach to what @kidroca has proposed.

Depending on the Pusher socket connection maybe not be the best way to handle this especially when it also usages NetInfo. There could be more layers around the Pusher socket. Another reason is we should not rely on third-party servers when we have native solutions.

@kidroca Have you done some te

[2022-01-07 16:57] parasharrajat commented on #7068
Ok, this regex change will prevent more than two 0 as decimal parts.  If so, I don't feel it creates some problem.

[2022-01-07 16:59] kidroca commented on #3981
One more ➕ for addressing this on the backend would be accidentally introduced bugs like loading a conversation from the middle would not cause everything past that point to be considered unread

We should be able to say (to the backend)
- "mark everything up to this comment as read" and it's read anyway it'll just do nothing
- "mark this comment as unread" then and only then it would mark everyth

[2022-01-07 17:01] sig5 commented on #7068
This will ensure that no more than one trailing zeroes is appended at the beginning of an amount, The values after decimals are unaffected. Also, the current version only accepts amounts up to 2 decimal values (e.g 250.56, 250.00 etc).

[2022-01-07 17:05] parasharrajat commented on #7068
Oh sorry. I mean the number before the decimal.

[2022-01-07 17:06] parasharrajat commented on #7068
Ok, Sounds good. I like @sig5 proposal.

cc: @Julesssss

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-07 17:10] zmays commented on #6154
Still got one bug (and the code is messy), but this is pretty close:

new state:
[code]

new props for TextInput
[code]

new methods:

[code]

Summary:

- track cursor selections, set sane default if they never touch the cursor
- when backspacing create new string and set new cursor position
- when typing also set new cursor position
- if cursor is at front of the input, don't backspace

The bug I

[2022-01-07 17:21] mvtglobally commented on #7051
Other than the issue above, we should be able to close this checklist

[2022-01-07 17:29] mananjadhav commented on #7060
@stitesExpensify Anything else needed from me to be assigned this?

[2022-01-07 17:41] adelekennedy commented on #7060
@mananjadhav I don't think so! You're already hired for the job in Upwork and I've assigned you here - just noting for myself that you'll be paid the $250 reporting bonus on top of the project rate of $250!

[2022-01-07 17:46] parasharrajat commented on #6713
@mallenexpensify, I am still awaiting payments for this. I canceled the previous offer. Could you please help me apply again? I can't apply again for the same job.

[2022-01-07 18:00] kidroca commented on #6059
I did some time ago before the ticket was closed, and manage to recreate. But I haven't tested whether `isInternetReachable` would fix the problem, I didn't know it existed back then
This reminded me that for the Desktop App, we're actually not using `NetInfo` but a simple stub that just using `navigator.onLine`

https://github.com/Expensify/App/blob/431b60d09f4e41c7532707454625dbe2c3c22c21/src/li

[2022-01-07 18:15] thienlnam commented on #7082
Yeah, I was thinking we could either
1. Tie faceID to an account (Not sure how this works) but then if they try to log in with the email again, we use faceID
2. Clear faceID when the user logs out and only use faceID / touchID to re-auth if the authToken expires (like you mentioned)

[2022-01-07 18:23] parasharrajat commented on #6059
I agree, we should use the native electron package if we have one. They must be using OS-level APIs to determine that and thus I believe it should work.

we can quickly try and see if that works.

[2022-01-07 18:29] Jag96 commented on #3455
Yeah that sounds good to me! @rushatgabhane I'll create an Upwork job and hire you for this one.

[2022-01-07 18:34] puneetlath commented on #7056
Upwork job is here: https://www.upwork.com/jobs/~01a104e8cf7c738d4c

@thesahindia based on [this post](https://stackoverflow.com/questions/1540285/united-states-banking-institution-account-number-regular-expression), it seems 4-17 digits.

[2022-01-07 18:37] #4977 closed

[2022-01-07 18:38] puneetlath commented on #7007
Upwork job is here: https://www.upwork.com/jobs/~01e285df2aaa09959a

[2022-01-07 18:49] francoisl commented on #7055
Sounds good to me. For the record, the beta flag is `defaultRooms`, and there is no one other than internal testers on this beta yet.
Let's maybe double-check that the crash doesn't occur for accounts that are not on the beta first?

[2022-01-07 18:54] parasharrajat commented on #7007
@thesahindia Where will you do these changes?

[2022-01-07 18:55] puneetlath commented on #7081
@johncschuster it seems like we have agreement in the slack thread to go forward with it.

[2022-01-07 18:57] neil-marcellini commented on #7067
Puneet kindly gave me this issue.

[2022-01-07 19:00] thesahindia commented on #7074
@mananjadhav, I think your proposal is almost the same as mine except it's missing one crucial thing.
And I think changing the current way of adding `EMOJI_SPACER` could be a suggestion but it's not related to the issue itself.

[2022-01-07 19:04] thesahindia commented on #7007
Sorry, forgot to add that!

This is the file I'm referring : https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/CompanyStep.js

[2022-01-07 19:09] rushatgabhane commented on #7058
Sure thing

[2022-01-07 19:11] mananjadhav commented on #7074
What's that?

Indeed, but creating issues for a dev function doesn't make sense. Hence, generally, I've pushed such enhancements as a part of any feature development. For instance, we removed hardcoded emoji header indices when we worked on frequently used emojis.

[2022-01-07 19:13] rushatgabhane commented on #3455
Done, thank you!

[2022-01-07 19:14] luacmartins opened #7085 "Accessing the AddDebitCard page on Android throws an error"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to `Settings > Payments > Add payment method > Debit card` on Android
2. Verify the error below:
![Screenshot_1641582319](https://user-i

[2022-01-07 19:17] thesahindia commented on #7074
and we need to add this before line 4368
[code]

Yes, and I just think that you could've just shared the suggestion instead of duplicating already existing proposal.

[2022-01-07 19:19] marcochavezf commented on #7023
I was able to reproduce this issue in mWeb. I'm going to label it as `External` and `Weekly` because it's only happening in mWeb and not in the mobile app (at least on Android).

[2022-01-07 19:21] mananjadhav commented on #7074
Don't worry I won't be anyway taking up/getting the job if the proposal is duplicated 😃

[2022-01-07 19:24] Jag96 commented on #3455
Paid!

[2022-01-07 19:27] mananjadhav commented on #7074
@thesahindia  I've updated the proposal to only my recommendation. Hope this helps.

[2022-01-07 19:36] francoisl commented on #7051
Yes thanks, sounds good. Let's check off #6737 as you suggested.

We typically avoid doing production deploys on Friday, so I'll leave a note for next week's deployer that this is good to go.

[2022-01-07 19:44] johncschuster commented on #7081
Sweet! In that case, I shall triage the thing. Thanks, @puneetlath!

[2022-01-07 19:56] marcochavezf commented on #7079
This issue should be internal because it will require checking the implementation of Google/Apple of OldDot to make it compatible with the corresponding Web-E commands.

[2022-01-07 20:11] stitesExpensify commented on #7010
IMO the expected behavior is that the user ends up back at the chat. Do you agree @NicMendonca ?

[2022-01-07 20:14] #7085 closed

[2022-01-07 20:25] luacmartins opened #7087 "Add payment page throws error on iOS"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app on iOS.
2. Navigate to `Setttings > Payments`
3. Notice the error below:

![Simulator Screen Shot - iPhone 13 - 2022-01-07 at 12 5

[2022-01-07 20:30] stitesExpensify commented on #7074
Thank you for noticing this and creating the issue @thesahindia.

@mananjadhav do you know if this was a regression? I thought everything was categorized correctly at one point..

Regardless, I agree that dynamic spacing is a good improvement so that every time we add/remove emojis we don't need to manually change the amount of spaces in the whole file.

[2022-01-07 20:57] JmillsExpensify commented on #3921
Ah I must have missed this one right before heading on for the holidays. Closing out and providing a bonus for the delay on my part.

[2022-01-07 20:57] #3921 closed

[2022-01-07 20:59] JmillsExpensify commented on #3922
@stitesExpensify Awesome! Should we go ahead and update the remaining todos within the OP as well?

[2022-01-07 21:01] JmillsExpensify commented on #5082
Looks like we're waiting on an approval in the linked PR. Staying the course until then!

[2022-01-07 21:02] JmillsExpensify commented on #6947
Thanks @mallenexpensify. I'll come back to this issue to handle payment as noted in the title.

[2022-01-07 21:02] JmillsExpensify commented on #6980
Sorry for the delay! Catching on my next steps now.

[2022-01-07 21:13] mvtglobally commented on #7051
Checking off #6737 and Thanks! We appreciate the breather :)

[2022-01-07 21:15] JmillsExpensify commented on #6980
Issue looks good with Marc's suggestion (e.g. clarifying the updates outside the header). I've also posted the job to Upwork here: https://www.upwork.com/jobs/~0128c8d14a0f1522c5.

[2022-01-07 21:19] JmillsExpensify commented on #7012
Thanks for the video! Super helpful. Posting to Upwork now and we'll get a reviewer on this as well!

[2022-01-07 21:21] parasharrajat commented on #6713
@mallenexpensify Bump.

[2022-01-07 21:22] JmillsExpensify commented on #7012
Upwork is here: https://www.upwork.com/jobs/~0139e45ab43993899b.

[2022-01-07 21:24] JmillsExpensify commented on #7035
Hmm, yeah I agree with @mvtglobally. Posting to Upwork shortly.

[2022-01-07 21:27] JmillsExpensify commented on #7035
Upwork job is here: https://www.upwork.com/jobs/~016537449e7470b466

[2022-01-07 21:27] parasharrajat commented on #7012
Nice catch @sobitneupane. The proposal looks good.

cc: @deetergp

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-01-07 21:39] luacmartins commented on #7035
@mananjadhav your proposal looks good!

[2022-01-07 21:39] anthony-hull commented on #6492
had been approved, waiting for it to merge

[2022-01-07 21:54] rushatgabhane commented on #7035
Yup, @mananjadhav's proposal looks good.

[2022-01-07 22:01] parasharrajat commented on #7007
Ok, Thanks for linking. I think we should update all of over phone input to behave the same. So Could you please list down the places where we have a phone input and create a component for phone input and use it in all places?

let me know if you have any questions.

[2022-01-07 22:02] anthony-hull commented on #6890
I have an issue that if you have already called ValidateEmail, the error doesn't have the email.

Also we have to call changePasswordAndSignIn in the new user UX with an authToken. API.ChangePassword doesn't return the account email so we wouldn't be able to get it from there either.

[2022-01-07 22:09] stitesExpensify commented on #6944
Yes, I think that the upwork job can be closed. WRT payment, since there isn't an exact issue for deleting payment methods on /app (it's only on /expensify) we should pay for the reporting.

I'll create a new issue to prevent any future confusion.

[2022-01-07 22:10] stitesExpensify commented on #3922
Sure, that makes sense to me! I'll update it.

[2022-01-07 22:23] anthony-hull commented on #3189
I encountered extra complexity. I will carry on working on this tomorrow
I also have an outstanding issue with another issue that this PR will also close which needs to be answered. I can carry on with the rest of the functionality without this input however

[2022-01-07 22:25] rushatgabhane commented on #7008
[Makes sense. ](https://github.com/Expensify/App/issues/7008#issuecomment-1004540277)Thanks for the deets @aswin-s!

[2022-01-07 22:36] mvtglobally opened #7089 "Quick cancel on edit message, re-opens edit text area - Reported by @kursat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Send any message
3. Go back to the message and edit
4. Quickly hit Cancel

## Expected Result:
User should see the edit window cancel

[2022-01-07 22:46] rushatgabhane commented on #6980
@mdneyazahmad I believe you need to make the same changes for `es.js` too?
Does spanish punctuation work the same way?

Otherwise, the proposal is fine.

[2022-01-07 22:50] parasharrajat commented on #7023
### Proposal
1. Use Textinput.setnativeProps to set the `inputMode:none` instead of directly passing the inputMode prop.`inputMode` is not a valid prop instead, a browser attribute. Thus we have to manually set it on the https://github.com/Expensify/App/blob/3cd9f1b54129bc053e7a9d83ae1a307cea0324a8/src/pages/iou/steps/IOUAmountPage.js#L212.

We will have to create a .web.js varaint which sets the

[2022-01-07 22:58] mvtglobally opened #7091 "Back arrow on chat doesn't work after decreasing the browser size - Reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to any chat
3. Resize browser window to mobile view

## Expected Result:
User should be able to use Back button

## Actual R

[2022-01-07 23:04] mvtglobally opened #7092 "Password doesn't autofill when using lastpass and the autofill icon disappears - Reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Add NewDot credentials to Lastpass.
2. In login page, click the lastpass icon and autofill.
3. Click continue.

## Expected Result:
User should s

[2022-01-07 23:07] nickmurray47 commented on #7092
Has this always been the case? I'm not quite sure this is newly broken or just something that was never implemented. Would you happen to know @mvtglobally? Will post in Slack channel to ask otherwise.

[2022-01-07 23:09] mvtglobally commented on #7092
@nickmurray47 we do not specifically test for 3rd party password management tools during QA. The regular Chrome autofill or IOS app autofill works fine for me.

[2022-01-07 23:10] nickmurray47 commented on #7092
ok, good to know! I am putting it as a weekly issue then. This can almost be external but I'm interested in taking a look later first.

[2022-01-07 23:11] rushatgabhane commented on #7092
This was working when @parasharrajat fixed it in a PR about a month ago.
https://github.com/Expensify/App/pull/5275#issuecomment-962638461

[2022-01-07 23:18] rushatgabhane commented on #7056
🎀👀🎀 C+ reviewed.

Regex matches any number of length 4-17 both inclusive. @thesahindia's proposal looks good.
cc: @puneetlath

[2022-01-07 23:20] nickmurray47 commented on #7092
Interesting ah, so it did break. Thanks @rushatgabhane.

[2022-01-07 23:26] ahmdshrif commented on #6836
hi @jliexpensify  yes I checked my Upwork account it gets suspended for id verification.  I do this step.
it should Reactivate in one business day .

but I can start work on PR until it activates again.

[2022-01-07 23:40] #7087 closed

[2022-01-07 23:40] Enragedsaturday commented on #7058
@rushatgabhane @tgolen already submitted a pr, however changing componentDidMount to```
 componentDidMount() {
        if (!this.input || !this.props.isVisible) {
            return;
        }
        this.input.focus();
    }
[code]

[2022-01-08 00:02] adelekennedy commented on #7023
Internal: https://www.upwork.com/ab/applicants/1479604090355458048/job-details
External: https://www.upwork.com/jobs/~010d17926b3b28b612

[2022-01-08 00:04] adelekennedy commented on #7023
@chiragsalian and @parasharrajat opened the job for proposals, I see @parasharrajat you already have a potential solution 🎉

[2022-01-08 00:06] kursat commented on #7089
## Proposal

We need to cancel debounce on `deleteDraft` like in `publishDraft`.

Please see:
https://github.com/kursat/App/commit/aabe17fa6934b0094f26e14f99c3d8ee145428ef

[2022-01-08 00:09] parasharrajat commented on #7058
Thanks, @Enragedsaturday for paying attention. This seems the correct solution to me https://github.com/Expensify/App/issues/7058#issuecomment-1007821881.

we can't drop the `componentDidMount`.

[2022-01-08 00:37] Luke9389 commented on #7016
Ok, you've got the 🟢 green light 🟢 @anthony-hull. Thanks for the proposal, and thanks to @rushatgabhane for being the acting Contributor+ on this issue. I'll see you both on the PR 👍

[2022-01-08 00:57] deetergp commented on #7084
This definitely seems like something an external contributor could work on.

[2022-01-08 01:50] rushatgabhane commented on #7058
Agree!

[2022-01-08 02:04] Enragedsaturday commented on #7058
Will do, I'll cancel the current pr and resubmit with both fixes.

[2022-01-08 02:05] parasharrajat commented on #7058
I think you can update the existing PR and no need to cancel it.

[2022-01-08 02:33] parasharrajat commented on #7084
#### Proposal
1. So I found out that we recently change the icons on report data to have `[' ']` for chat rooms. https://github.com/Expensify/App/commit/02918f0fbf3f5f3c5804ca1375b82ee1236aa003. I basically do not understand the purpose of this. cc: @TomatoToaster .

In the same PR, we updated the EmptyStateAvatar https://github.com/Expensify/App/blob/e5f44024539e9276adfa6815a2682a3e04f3bf14/src/c

[2022-01-08 03:03] Enragedsaturday commented on #7058
Will do. I can open a separate issue if needed but it seems relevant here since we are dealing with autofocus. The !canFocusInputOnScreenFocus() is only present on the login form and prevents the autofocus on touch screen devices. It seems counterintuitive to this whole issue/pr?

[2022-01-08 03:06] Enragedsaturday commented on #7058
PR updated based on current guidance.

[2022-01-08 04:27] mananjadhav commented on #7074
I checked the history and couldn't find `Food & Drinks` as the header. I also checked our original data source https://github.com/amurani/unicode-emoji-list/, it is missing there as well, guessing hence we've missed it here.

[2022-01-08 04:32] mananjadhav commented on #7035
I am working on #6977 PR, can I combine this one in that PR?

[2022-01-08 05:48] mvtglobally opened #7093 "[HOLD for payment 2022-01-21] Can't submit the changes by pressing 'Enter' key on profile & Phone number page - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. Navigate to Settings > Profile
3. Make any changes in the profile and hit "Enter" key (nothing happens)
4. Select "Add phone number"

[2022-01-08 05:54] mvtglobally opened #7094 "Locked account is not unlocked after 1 hr as per message - Reported by @PrashantMangukiya @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Try to login with invalid passwords many times until you get "account was blocked" message
3. As per message,  wait an hour and try a

[2022-01-08 06:07] mvtglobally opened #7095 "[HOLD for payment 2022-02-16] Member list of workspace is not in sync across device after removing member - Reported by @K4tsuki"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app on 2 devices or browsers
2. Login with the same account on both
3. Navigate to Settings > Workspace >Members
4. On one device delete 1 m

[2022-01-08 06:57] sig5 commented on #7077
**Proposal**

We can change the following lines in **ReportActionsView.js**

https://github.com/Expensify/App/blob/60671001cc6e01cda69d8fcffd7e8eec13fb0f75/src/pages/home/report/ReportActionsView.js#L548-L560

https://github.com/Expensify/App/blob/60671001cc6e01cda69d8fcffd7e8eec13fb0f75/src/pages/home/report/ReportActionsView.js#L578-L600

Since we want to show the header irrespective of if the c

[2022-01-08 08:03] sobitneupane commented on #7093
**Prosposal**
We should add pressOnEnter props in following two buttons to solve the issue.
https://github.com/Expensify/App/blob/60671001cc6e01cda69d8fcffd7e8eec13fb0f75/src/pages/settings/Profile/ProfilePage.js#L274-L280

https://github.com/Expensify/App/blob/60671001cc6e01cda69d8fcffd7e8eec13fb0f75/src/pages/settings/AddSecondaryLoginPage.js#L150-L156

[2022-01-08 08:12] thesahindia commented on #7093
### Proposal
I reported this issue so proposing a solution to fix this.
We need to pass `pressOnEnter` in `Button` on Secondary login page and Profile page

[2022-01-08 09:41] ahmdshrif commented on #6836
hi @jliexpensify I already submit the proposal to Upwork
my Upwork profile https://www.upwork.com/freelancers/~0143a705fba636cfd8?s=996364627857502209

[2022-01-08 15:36] zoontek commented on #5620
As the issue still exists and the `hide` method is correctly called, I embedded a slimmed-down version of the module in your codebase.

iOS module is based on `react-native-bootsplash` v4 (meaning it uses `RCTRootView.loadingView` instead of a `UIViewController`), Android module is based on v3 (meaning it **doesn't use** the new SplashScreen API).

But, as opposed to the "full" module, this one is

[2022-01-08 15:49] parasharrajat commented on #7077
@sig5 This issue is not yet triaged. Could you please wait before proposing?

[2022-01-08 16:21] sig5 commented on #7077
Sorry. Did it in a jiffy. Will do!

[2022-01-08 18:34] songlang1994 commented on #6931
I think the root cause is in `TextInputFocusable`. It added a `onPaste` event handler into `TextInput` and prevent the defalt pasting behavior from it. The specific steps for this issue are:

1. User copies the text `"67"` from the Note app on MacOS.
2. System clipboard stores it as `{ type: "text/html", value: "<strong>67</strong>" }`.
3. User pastes it into Expensify app then it will be transfor

[2022-01-08 19:27] parasharrajat commented on #6931
Great find @songlang1994. I am currently not sure why `TextInputFocusable` was used for this but I will get back to you on this.

[2022-01-08 19:43] rushatgabhane commented on #6154
Hey @zmays, thanks for the details.
Apart from the bugs you've mentioned, I could find this cursor jumping bug when you type fast.

https://user-images.githubusercontent.com/29673073/148657516-1bf52d95-c748-494b-a5af-6c49ac0021aa.mp4

After you're able to find a fix for these bugs, please update your proposal.

Friendly reminder to check out [STYLE.md](https://github.com/Expensify/App/blob/main/ST

[2022-01-08 19:43] rushatgabhane commented on #6154
Hey @zmays, thanks for the details.
Apart from the bugs you've mentioned, I could find this cursor jumping bug when you type fast.

https://user-images.githubusercontent.com/29673073/148657516-1bf52d95-c748-494b-a5af-6c49ac0021aa.mp4

After you're able to find a fix for these bugs, please update your proposal.

Friendly reminder to check out [STYLE.md](https://github.com/Expensify/App/blob/main/ST

[2022-01-08 22:59] puneetlath commented on #7056
Looks good to me too! @thesahindia I invited you to the job in Upwork.

[2022-01-09 02:15] TomatoToaster commented on #7084
@parasharrajat It has been the case for a while that chatRooms like defaultRooms used `['']` for their reportIcons

[Chat rooms](https://github.com/Expensify/App/blob/main/src/libs/reportUtils.js#L105-L113) always use the default lounge chair icon (or the archived icon if they are archived) that's why they never need to look at personalDetails of their members. I added that line because for privat

[2022-01-09 02:46] mdneyazahmad commented on #6980
@rushatgabhane I updated the proposal to include the respective changes in ```es.js``` too. I am not confident about the changes. Maybe someone else who knows Spanish language can help us move forward.

[2022-01-09 05:47] K4tsuki commented on #6059
Testing something, please wait. Thank you.

[2022-01-09 06:38] CSFlorin commented on #7011
Thanks @stephanieelliott and @jasperhuangg

My proposal is in config/webpack/CustomVersionFilePlugin.js to do:

[code]

where we first make any directories in the path if they don't exist and then make the file.

[2022-01-09 15:28] parasharrajat commented on #6872
Sorry for the delay, I will share this internally to get more eyes.

[2022-01-09 16:27] anthony-hull commented on #3189
I resolved the above issue. But I have a new outstanding question in the PR.

[2022-01-09 18:29] kakajann commented on #7091
@parasharrajat I think this issue is a side effect of this PR https://github.com/Expensify/App/pull/6356

[2022-01-09 18:29] anthony-hull commented on #6890
I have resolved this :)

[2022-01-09 18:38] parasharrajat commented on #7091
Ok. Thanks for pointing out @kakajann. Let this be triaged and we can find a solution.

[2022-01-09 18:44] anthony-hull commented on #7016
![image](https://user-images.githubusercontent.com/47184118/148696055-2e9b11d9-aabc-417d-a7dd-29182a03f450.png)

![image](https://user-images.githubusercontent.com/47184118/148696070-a4ec8f3e-64c1-4e6c-b08e-445a5804f9dd.png)

This is without the border

[2022-01-09 18:50] anthony-hull commented on #7016
Should have the linked PR finished tomorrow

[2022-01-09 18:52] rushatgabhane commented on #7016
Thanks!

[2022-01-09 19:08] rushatgabhane commented on #6980
@mdneyazahmad pretty sure there's a period after Gracias.
Asked on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1641755140217200) for verifying Spanish punctuation.

[2022-01-09 23:38] jliexpensify commented on #6944
Thanks for confirming @stitesExpensify .

Will close Upworks issue and pay @mananjadhav a $250 bonus for reporting.

[2022-01-09 23:46] kadiealexander commented on #7084
@deetergp did you mean to remove me from assignment here?

[2022-01-10 00:22] mountiny commented on #6965
Still discussing in the PR how to proceed with it, the proposed solution had side-effect and the raised solution is a bit hacky which we try to avoid to keep our codebase clean. I will update accordingly.

[2022-01-10 03:17] mananjadhav commented on #6944
Done @jliexpensify

[2022-01-10 03:36] jliexpensify commented on #6944
Paid and closed job!

[2022-01-10 03:36] #6944 closed

[2022-01-10 04:02] Christinadobrzyn commented on #6912
Just checking on this - @parasharrajat and @marcaaron - can you confirm we're still reviewing proposals for this job?

[2022-01-10 04:11] rushatgabhane commented on #7007
@thesahindia I'm interested in this regex `NUMBERS_WITHOUT_SPECIAL_CHARS`, could you please comment it here?

Asking because you're sending it to the API, and it may not work for numbers with an extension. (Seen phone extensions mentioned in #7067 )
cc: @parasharrajat

[2022-01-10 04:21] Christinadobrzyn commented on #6908
Increased job price to $500 - looks like we're still reviewing proposals.

[2022-01-10 04:31] parasharrajat commented on #6912
Yeah @Christinadobrzyn.

[2022-01-10 04:31] Christinadobrzyn commented on #6876
Raised the [Upwork job](https://www.upwork.com/ab/applicants/1473877014903103488/job-details) price to $500. It looks like we're still reviewing proposals correct @parasharrajat?

[2022-01-10 04:37] parasharrajat commented on #6876
We have a proposal but I need to rigorously review it before we can proceed. @Christinadobrzyn

[2022-01-10 05:04] Christinadobrzyn commented on #5875
Quick follow up on an email sent to contributors@ - It looks like we hired @mateomorris for this job in Upwork, @trjExpensify can you make sure to pay him when closing this [job](https://www.upwork.com/ab/applicants/1451273251751464960/hired)?

[2022-01-10 05:38] parasharrajat commented on #7084
Thanks for the context @TomatoToaster.

I was planning to clean up the code.

[2022-01-10 06:13] Christinadobrzyn commented on #6912
Increased [Upwork job](https://www.upwork.com/jobs/~01b794160880fbf187) price to $500 - collecting proposals.

[2022-01-10 06:59] parasharrajat commented on #6876
@kursat I checked your proposal. It has an issue. Sometimes, when we manually move the cursor to someplace and then add another emoji. Emoji is added back to the previous position and the cursor will remain there even if we try to drag it to another location.

Could you please prepare a final proposal with all the steps? Also, test the cursor placement carefully.

And What do you think about https

[2022-01-10 08:01] parasharrajat commented on #7084
I tested the solution but It seems to be that LHN Is getting the `icons` property but ReportScreen and HeaderView do not.
A possible theory is that due to https://github.com/Expensify/App/blob/60671001cc6e01cda69d8fcffd7e8eec13fb0f75/src/libs/actions/PersonalDetails.js#L162 , icons are not updated at all on the report data as the participant's list is empty.

LHN calls getOptions where you added c

[2022-01-10 10:08] dylanexpensify commented on #7074
Posted!

Internal: https://www.upwork.com/ab/applicants/1480481665394843648/job-details
External: https://www.upwork.com/jobs/~01bacbeab1b11e4bfa

[2022-01-10 10:23] K4tsuki commented on #6059
I have done some testing...

On android:
1. The slow to connect on pusher-js is from the interval of offline polling. The interval is long, but  there is no configuration option to change this. Even if we set  the app status to online, then reconnect happens and all reports have been fetched again after reconnect, If pusher  start slower (15000 and increasing on default pusher js configuration), t

[2022-01-10 14:10] parasharrajat commented on #7074
Hmm... Tough call. I would differently recommend dynamic spacing and it's a nice clean-up.
But I see that @mananjadhav you didn't specify adding a new category `Food & Drink` in the emoji file. But that is understood :nerd_face:.

Based on the weightage, Manan has proposed a nice improvement to the code for a long-term basis and it saves space. I like @mananjadhav proposal.  @thesahindia you have

[2022-01-10 14:52] NicMendonca commented on #7068
@sig5 hired!

[2022-01-10 14:52] mvtglobally opened #7103 "[HOLD for payment 2022-01-27] Number of rows of text input is being miscalculated while editing message on Firefox - Reported by @kursat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app on Firefox
2. Type any message with few rows and send
3. Select to edit the message

## Expected Result:
Text input should be matching t

[2022-01-10 14:56] mvtglobally commented on #7051
@Jag96 whenever you are good to go, this 🚀  is ready.

[2022-01-10 15:28] tgolen commented on #3981
Yeah, I am still in favor of fixing it on the backend as well. I think this
API endpoint is just confusing and complex and splitting it apart would
simplify things. I'd like to propose that we do this in stages:

1. Create brand new endpoints for each functionality
2. Update App to use the new endpoints
4. Deprecate the old endpoint and return an error plus also log if it's
ever called
3. Remove t

[2022-01-10 15:34] thesahindia commented on #7007
@rushatgabhane, sure.
[code]
These are the places where we have a phone input -
1. RequestCallPage
2. AdditionalDetailsStep
3. CompanyStep
4. AddSecondaryLoginPage

cc: @parasharrajat

[2022-01-10 15:38] NicMendonca commented on #7010
Yep, I agree with that 👍

[2022-01-10 15:46] parasharrajat commented on #7007
Thanks for sharing @thesahindia. Could you please share a proposal on how are you planning to solve this issue?

[2022-01-10 16:16] stitesExpensify commented on #7074
I agree with @parasharrajat. @mananjadhav you can go ahead and apply to the job!

[2022-01-10 16:28] songlang1994 commented on #6720
Currently "Cmd+K" and "Cmd+Shift+K" are subscribed in `AuthScreens.js` which means users can use  them anytime. But sometimes it may not be the behavior that users really expected.

For example, if a user is previewing an attachment and accidentally hits "Cmd+K", RHN will render on the behind of `AttachmentModal` but it seems to make no sense for users.

<img width="1122" alt="rhn-renders-behind-m

[2022-01-10 16:44] mallenexpensify commented on #4612
Doubled price to $2000 https://www.upwork.com/jobs/~01a4e8881ff6937bae
This job is open to proposals, @parasharrajat is currently assigned as the contributor-plus

[2022-01-10 17:11] parasharrajat commented on #6720
Hey, @songlang1994 Thanks for the proposal. I see that you have some suggestions. Could you please discuss these on Slack?
Determining the right user flow could be a different issue but we are focused to solve the current problem at hand.

Changing the App behaviour is a big change and require substantial planning so if you feel we should do that, you can raise the discussion on slack. Thanks.

[2022-01-10 17:27] stephanieelliott commented on #7011
Thanks! Added the Exported label to get a review of this proposal.

[2022-01-10 17:29] luacmartins commented on #7035
Sure, that's fine. Just make sure to link this issue there as well.

[2022-01-10 17:30] kursat commented on #7103
## Proposal

### Cause

getNumberOfLines function in file `src/components/TextInputFocusable/index.js` calculates NoL wrong. Cause of this is:

When overflow is hidden, scrollHeight of dom returns clientHeight in firefox. Please see: https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollHeight. In chrome we get scrollHeight as 20 but in firefox we get it as 72.

### Solution
We need to se

[2022-01-10 17:32] rushatgabhane commented on #7035
I'm  really sorry, missed this.

[2022-01-10 17:33] rushatgabhane commented on #7035
I'm really sorry, I missed this.

@mananjadhav
That PR seems huge. I'd prefer if you create a new PR so it's easy to review and revert in case of regressions.

[2022-01-10 17:36] stephanieelliott commented on #5987
Hey @roryabraham are you still working on testing the PR? https://github.com/Expensify/App/pull/6556

[2022-01-10 17:39] mananjadhav commented on #7035
No problem. I’ll finish that one by tomorrow and probably keep this on hold?

[2022-01-10 17:43] sig5 commented on #7068
**Suggestion**
I would like to add that as per the current proposal, Since `$ 02500.00` might not look good to the user, we can just update the value of an amount to not have trailing zero if it's not fractional i.e `$ 02500.00` gets converted to `$ 2500` instantaneously whereas `$ 0.05` stays unchanged.

*Additional Changes* :
1. Add a function **removeTrailingzero** .It will test the string with

[2022-01-10 17:45] rushatgabhane commented on #7035
Sounds good

[2022-01-10 17:46] parasharrajat commented on #6931
Ok, I researched the code a bit and found no apparent reason to use the `TextInputFocusable`. It seems the main motive was to remove the outline from it. So we can clean this up.

What would be the paste values for [these strings](https://github.com/Expensify/App/issues/6931#issuecomment-1004888238) when pasted on Android|IOS|web? @songlang1994 .
___

Code does not respect localization in case of

[2022-01-10 17:46] chiragsalian commented on #7032
Shall look into this today

[2022-01-10 17:53] parasharrajat commented on #7068
@sig5  We don't need to worry about that. It does not seem like an issue to me.

[2022-01-10 17:57] sig5 commented on #7068
Okay @parasharrajat . Thanks!

[2022-01-10 17:58] anthony-hull commented on #3189
still pending input on question

[2022-01-10 18:00] puneetlath commented on #7093
Upwork job is here: https://www.upwork.com/jobs/~0133553ac0051c6374

[2022-01-10 18:11] stephanieelliott commented on #5620
^^ Just adding you to the issue, no action needed! I think this step was missed earlier the process.

[2022-01-10 18:12] thesahindia commented on #7007
@parasharrajat

I had one question regarding this request.
Since, we are only stripping or ignoring the value from the `phone input` just before submitting the form.
And the phone input will still have the same value as it is [eg : (202)888-1122 ] .. No change is being made.
So, how is creating another component for phone Input will help since the functionality remains the same.

I think to have t

[2022-01-10 18:16] jasperhuangg commented on #7060
@mananjadhav Feel free to request me for review once the PR is up!

[2022-01-10 18:29] parasharrajat commented on #7007
Yeah, the plan was to keep the same phone input format for all the places, same validations, and format, etc.

One way of doing this would be:
1. Create a PhoneInput component that does the following:
  a) Allow the user to type the phone with braces and other special chars.
  b) sets the parent component's state with only the phone number and no special chars.
  c) sets the parent component's sta

[2022-01-10 18:36] Jag96 commented on #7051
:shipit:

[2022-01-10 18:36] #7051 closed

[2022-01-10 18:38] rushatgabhane commented on #7093
Confirmed that pressing `enter` in dropdown menus for preferred pronoun and  timezone doesn't trigger save.

Lets' go with @thesahindia's proposal since they reported the issue.
cc: @puneetlath

[2022-01-10 18:39] botify commented on #6760
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.26-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6837
- https://github.com/Expensify/App/pull/6838

If no regressions arise, payment will be issued on 2022-01-17. :confetti_ball:

[2022-01-10 18:39] botify commented on #6779
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.26-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7022

If no regressions arise, payment will be issued on 2022-01-17. :confetti_ball:

[2022-01-10 18:39] botify commented on #7013
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.26-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7039

If no regressions arise, payment will be issued on 2022-01-17. :confetti_ball:

[2022-01-10 18:39] botify commented on #6769
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.26-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6975

If no regressions arise, payment will be issued on 2022-01-17. :confetti_ball:

[2022-01-10 18:39] botify commented on #7009
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.26-1 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7045

If no regressions arise, payment will be issued on 2022-01-17. :confetti_ball:

[2022-01-10 18:41] OSBotify opened #7108 "Deploy Checklist: New Expensify 2022-01-10"
**Release Version:** `1.1.27-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6899
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6914
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6969
  - [x] QA

[2022-01-10 18:44] mountiny commented on #6965
This issue is again up for grabs. The proposed solution above did not work as expected and the solution which fixed the issue involved a bit "hacky" workaround with changing paddings, which is not great and turns the codebase to the black box.

We would like to find a more general solution. The problem might lay in the RN code. It seems like the text input component renders with slightly different

[2022-01-10 18:46] rushatgabhane commented on #7093
@sobitneupane That's not a big deal, thanks for your proposal though!

[2022-01-10 18:56] mvtglobally commented on #7108
Starting QA

[2022-01-10 19:09] Jag96 commented on #5699
PR still in the works here: https://github.com/Expensify/App/pull/6971

[2022-01-10 19:22] parasharrajat commented on #5699
Just trying to get screenshots of Mac...

[2022-01-10 19:25] Luke9389 commented on #6563
Sure will! I'll be getting to this today.

[2022-01-10 19:48] #6710 closed

[2022-01-10 19:51] thesahindia commented on #7013
@dylanexpensify, I have applied to the job on upwork. Can you hire me please.

[2022-01-10 20:38] Jag96 opened #7111 "Android build failing after RN upgrade"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Run the deploy

## Expected Result:
Android builds successfully

## Actual Result:
Fastlane failed with the following error:
[code]

Original thread

[2022-01-10 20:38] OSBotify commented on #7111
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-01-10 20:59] bfitzexpensify commented on #7091
Upwork posting [here](https://www.upwork.com/jobs/~017843c80a93629ac7)

Reporting job [here](https://www.upwork.com/jobs/~014aca95871441706f) @Tushu17

[2022-01-10 21:15] Jag96 commented on #7111
Looks like setting the `noop` version for Flipper for release builds will fix the issue:

[code]

Still looking into what actually caused this error just to confirm there aren't any other steps required for this fix.

The error specifies
[code]

But that package didn't change in our project during the upgrade: https://github.com/Expensify/App/pull/6914/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9

[2022-01-10 21:51] iwiznia commented on #7076
So, is this only broken in safari? Seems chrome is working properly?

[2022-01-10 21:51] rushatgabhane commented on #7011
🎀👀🎀 C+ reviewed
I like @CSFlorin's proposal.
It fixes the issue, recursive strategy is needed, and yeah all the errors are handled properly.

cc: @Jag96

[2022-01-10 21:54] parasharrajat commented on #5894
@roryabraham Any thoughts?

[2022-01-10 22:00] iwiznia commented on #7066
I would not worry much about i18n right now, we can worry about it when we actually prioritize launching an internationalized app

[2022-01-10 22:37] luacmartins commented on #7015
Re-adding External label so a CM team member can create the job on Upwork and continue triage.

[2022-01-10 22:58] luacmartins commented on #7064
I couldn't reproduce this on the emulator, but it's reproducible on a physical device. This is a browser limitation since Apple

[2022-01-10 23:40] JmillsExpensify commented on #7095
Triaged to Upwork here: https://www.upwork.com/jobs/~01efce87841052f2c9

[2022-01-10 23:41] trjExpensify commented on #7008
Sent you the offer on Upwork, @aswin-s. 👍

[2022-01-10 23:54] #7111 closed

[2022-01-10 23:54] K4tsuki commented on #7095
#### proposal

This function isn't updating workspace members correctly, this line maybe should use `Onyx.set` not `Onyx.merge`. And policy data should be adjusted for `Onyx.set`

https://github.com/Expensify/App/blob/149ed21c36839a53ab4ce16c4b5b505ef792a2e6/src/libs/actions/Policy.js#L226

But in slack Marcaaron mention some `Onyx.merge` behavior issues. If by using `Onyx.merge` with proper usage

[2022-01-11 00:00] luacmartins commented on #6661
Picking this one up!

[2022-01-11 00:06] kavimuru opened #7116 "Workspace - Book Travel- User not redirected to concierge DM"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Focus on different chat other than Concierge
3. Click settings > Workspace
4. Click on the `Book travel` row from the

[2022-01-11 01:26] mallenexpensify commented on #7080
Checking with Puneet in thread https://expensify.slack.com/archives/C01GTK53T8Q/p1641864381267100?thread_ts=1641509655.060100&cid=C01GTK53T8Q

[2022-01-11 01:48] mallenexpensify commented on #6713
Please apply here @parasharrajat https://www.upwork.com/jobs/~01e953329d9d0e2915

[2022-01-11 02:19] luish00 commented on #7093
i think that you need add event `onSubmitEditing` to`TextInput` phone  on `./pages/settings/AddSecondaryLoginPage.js`

[2022-01-11 03:38] Christinadobrzyn commented on #6661
Thanks @luacmartins - to confirm, are you going to work on this or should it be posted in Upwork? I can take this on as the triager if you want me to post the job in Upwork.

[2022-01-11 03:38] mvtglobally commented on #2499
Issue not reproducible during KI retests. (Fourth week). It seems very inconsistent. Should we close this?

[2022-01-11 03:39] mvtglobally commented on #6726
Issue not reproducible during KI retests. (First week)

[2022-01-11 03:44] mvtglobally commented on #6613
Issue not reproducible during KI retests. (First week)

[2022-01-11 03:48] luacmartins commented on #6661
I’ll work on this one! No need to post it on Upwork.

[2022-01-11 03:56] rushatgabhane commented on #7093
Hi @luish00 thanks for your input! Using `pressOnEnter` is a cleaner solution.
And a proposal that works has already been accepted.

[2022-01-11 04:01] mvtglobally commented on #6725
Issue not reproducible during KI retests. (First week)

[2022-01-11 04:04] mvtglobally commented on #6836
Issue not reproducible during KI retests. (First week)

[2022-01-11 04:07] mvtglobally commented on #5159
Issue not reproducible during KI retests. (Fourth week)

[2022-01-11 04:24] adelekennedy commented on #7014
@parasharrajat any thoughts on the proposal above? I want to confirm before I double the issue!

[2022-01-11 04:42] mvtglobally commented on #6931
Issue not reproducible during KI retests. (First week)

[2022-01-11 05:23] mvtglobally opened #7121 "Feature request - Prevent Chat edit options keep changing on scroll - Reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to any chat with multiple messages
3. Scroll through the chat messages

## Expected Result:
Edit options should only be acti