[2021-09-03 21:28] luacmartins commented on #5035
Ah I see what you mean. So, we would do something like this?

`routingNumber: props.draftReimbursementAccount.routingNumber || props.achData.routingNumber || ''`

In that case, what I said before wouldn't be a problem.

That's a really good point! We could argue either way. If the user intentionally stops the flow, they would expect to see `achData`. However, we could also argue that "stop in the

[2021-09-03 21:33] marcaaron commented on #5035
Yeah I think I mostly agree that the user would expect to see whatever they were editing before they got interrupted and not just whatever we managed to save in the server so in that case we'd do:

- try to use the draft first if it exists
- then use the values in `achData` if we have those

👍

But one caveat here is that once we've saved that data to the server... it doesn't feel like we'd need t

[2021-09-03 21:38] tylerkaraszewski commented on #4490
This seems fairly trivial. And not really that important, but if we do it in the rest of the app, then consistency is nice. Sure, go ahead.

[2021-09-03 21:46] tgolen commented on #5066
Cool, I think that's solid now. Thanks! @trjExpensify I will let you take over from here, but the proposal has my 🟢  (please don't work on it yet @parasharrajat )

[2021-09-03 21:49] mallenexpensify commented on #5021
Upwork job posted https://www.upwork.com/jobs/~0118968e3cb1d7b3c5
@puneetlath can you review @Santhosh-Sellavel 's [proposal above](https://github.com/Expensify/App/issues/5021#issuecomment-911959111)?

@Santhosh-Sellavel it might not be til Tuesday til this happens because of the weekend and Monday is a holiday.

Whomever ends up working on this, I've seen this issue addressed a few times, in a f

[2021-09-03 21:51] PrashantMangukiya commented on #5066
Hi @tgolen, Thanks.  Just to clarify that there is not any proposal yet from parasarrajat, did you mean green signal to my proposal? my github id is @PrashantMangukiya as I posted proposal above.

[2021-09-03 21:53] luacmartins commented on #5035
Awesome! I'm on board with always showing the latest draft.

I think that would be step 5 from my original approach. We would clear those key/value pairs throughout the flow and finally delete the key when completing the last step.

[2021-09-03 21:58] isagoico commented on #4995
@Jag96 This was raised as part of our internal QA that's why there's no slack thread linked in this one.

[2021-09-03 22:02] MitchExpensify opened #5072 "Update the first message Concierge sends new users"
**Problem:**
[Slack thread.](https://expensify.slack.com/archives/C020EPP9B9A/p1630694564167500)
The first message Concierge sends users does not orientate them or provide helpful guidance:

"Hey there, I'm Concierge! If you have any questions about Expensify, you can always chat with me here. I'm happy to help!"

![image](https://user-images.githubusercontent.com/36425901/132069629-a21b545b-8738-

[2021-09-03 22:06] tgolen commented on #5066
Sorry, yes. My bad! I'll edit my post

[2021-09-03 22:12] mallenexpensify commented on #4491
Couple things...
@Beamanator can you take a peek to see if anything has changed the past 3 weeks that would affect this issue?
I also raised a couple questions here https://expensify.slack.com/archives/C01GTK53T8Q/p1630706859431000?thread_ts=1628517367.106600&cid=C01GTK53T8Q

@aman-atg , hoping to take this off hold by Tues, just need to make sure I'm doing everything _right_ since this is a featu

[2021-09-03 22:12] Luke9389 commented on #5028
I agree with the `Daily` label here. I'm working on a separate N6 feature (design doc) so I'm gonna drop this so someone else can pick it up.

[2021-09-03 22:13] stitesExpensify commented on #3922
This is in review, I added comments and they are being resolved

[2021-09-03 22:16] kidroca commented on #4273
In the mean time here are consistent steps to reproduce the issue

#### Web
1. Have a chat with more than 50 messages
2. Scroll to the past
3. Open a new tab of Expensify

https://user-images.githubusercontent.com/12156624/132069645-cc529369-0b85-424d-a4b8-fa3dce04f998.mp4

#### Desktop
1. Have a chat with more than 50 messages
2. Scroll to the past
3. Reload the app (Cmd + R)

https://user-images

[2021-09-03 22:17] Luke9389 commented on #4905
@parasharrajat can you point me in the right direction to where this design decision was made?

[2021-09-03 22:20] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-03 22:20] adelekennedy commented on #4518
@akshayasalvi has been paid, the contract has been completed, and the Upwork post has been closed!

[2021-09-03 22:20] #4518 closed

[2021-09-03 22:24] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-03 22:24] botify commented on #4972
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-03 22:25] #4404 closed

[2021-09-03 22:34] MitchExpensify opened #5074 "Add a progress bar to the VBA flow in NewDot."
### Problem:

It is not clear that a number of steps need to be completed, and plenty of information provided, throughout the VBA connection flow in NewDot. This lack of expectation setting could cause users to become unmotivated without a clear end in sight to the requests for information.

### Solution:

Introduce a progress bar that sets appropriate expectations when completing the VBA flow in

[2021-09-03 22:38] adelekennedy commented on #4906
@Santhosh-Sellavel I just hired you in Upwork for this issue!

[2021-09-03 22:39] isagoico opened #5075 "Error appears after enter test credentials on Plaid modal"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Issue is failing PRs https://github.com/Expensify/App/pull/4962 and https://github.com/Expensify/App/pull/5029 (CC @marcaaron)

## Action Performed:
1. With the app inst

[2021-09-03 22:40] OSBotify commented on #5075
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-03 22:44] isagoico opened #5076 "Forgot password - Validate Code is likely expired error not handled"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and enter email
2. In password page tap forgot password
3. Tap the magic link and setup password changing the URL to include stagi

[2021-09-03 22:46] marcaaron commented on #5075
Is this only happening on Android? It was working fine for me and now suddenly isn't on staging. Since no customers are using this yet we can either revert this or merge it anyway. I'll leave this up to deployers to decide as it's Friday and I don't know if there are plans to deploy a release build or not.

[2021-09-03 22:49] adelekennedy commented on #5030
Created a job in Upwork!

Internal: https://www.upwork.com/ab/applicants/1433924712138452992/job-details
External: https://www.upwork.com/jobs/~0193c7ce2cc67ec805

[2021-09-03 22:49] isagoico commented on #5046
Regression is finished!
Issues found:
1. https://github.com/Expensify/App/issues/5075
2. https://github.com/Expensify/App/issues/5076

Comments left in PRs:
1. https://github.com/Expensify/App/pull/4939#issuecomment-912841421
2. https://github.com/Expensify/App/pull/5012#issuecomment-912615155

[2021-09-03 22:54] isagoico commented on #5075
I was only able to check on Android app since iOS bank-account/new link is redirecting to mWeb (mentioned here https://github.com/Expensify/App/pull/5029#issuecomment-912829890) I asked a tester to check on iOS with the new link and will let you know the results.

On the deploy release I think @roryabraham can answer that :)

[2021-09-03 23:03] isagoico commented on #5046
Regression is finished!
Issues found:
1. https://github.com/Expensify/App/issues/5075
2. https://github.com/Expensify/App/issues/5076
3. https://github.com/Expensify/App/issues/5069

Comments left in PRs:
1. https://github.com/Expensify/App/pull/4939#issuecomment-912841421
2. https://github.com/Expensify/App/pull/5012#issuecomment-912615155

Internal QA:
1. https://github.com/Expensify/App/pull/46

[2021-09-03 23:13] isagoico commented on #5075
Same error is reproduced in iOS
![image](https://user-images.githubusercontent.com/44479856/132073332-45d87432-39a6-47e1-baeb-e1f31382c8db.png)

[2021-09-03 23:28] roryabraham commented on #5075
Given that:

1. This is not yet a user-facing feature
1. Before the offending PRs, the modal just wasn't rendering at all (so it's not really broken any worse than it was before)

I think we can demote this from deploy-blocker to regular bug.

[2021-09-03 23:28] MitchExpensify opened #5079 "[$250] Add a Welcome step to the set password sign in flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

### Problem:

When a user sets their New Expensify password we do not prompt them to make sure their name and profile picture are added.

### Solution:

When new account

[2021-09-03 23:38] kevinksullivan opened #5081 "Change "Requestor Information" to "Personal Information" and make requirements clearer in VBA flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem

The "Requestor Information" step of the VBA flow has a few opportunities to improve:

- "Requestor Information" does not immediately clarify that we want som

[2021-09-03 23:40] isagoico opened #5082 "[Hold for payment 2022-01-27] Add aria-role and aria-label to Terms of Service and Privacy Policy"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to settings
2. Click on about
3. Using the navigation keys, try to click on Terms of Service or Privacy Policy

## Expected Result:
User

[2021-09-03 23:43] roryabraham commented on #5046
:shipit:

[2021-09-03 23:43] #5046 closed

[2021-09-03 23:44] AndrewGable commented on #4545
@parasharrajat - Is your proposal here: https://github.com/Expensify/App/issues/4545#issuecomment-901944215 up to date? Would you like to work on this issue? I can review it if so.

[2021-09-03 23:47] OSBotify opened #5086 "Deploy Checklist: New Expensify 2021-09-03"
**Release Version:** `1.0.94-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/4653
- [x] https://github.com/Expensify/App/pull/4789
- [x] https://github.com/Expensify/App/pull/4886
- [x] https://github.com/Expensify/App/pull/4986
- [x] https://github

[2021-09-03 23:49] marcaaron commented on #5075
So... I'm stumped on this one. But here's what I can say about it:

- I re-tested on dev build + also with staging env variables and it works... totally fine
- Staging web works.. well, fine
- Built a release build for Android and it works... fine
- Went back to try the Play Store beta again and... `Internal error occurred`

And that's my cue... have a good weekend everyone 😃

[2021-09-03 23:59] isagoico opened #5087 "Magic link - Resend link button can be clicked several times in a row"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to New.Expensify.com
2. On the email field enter a valid email
3. Click on Forgot?
4. Click on the resend link several times.

This can

[2021-09-04 00:00] kevinksullivan opened #5088 "Link in "Complete your bank account setup" message is not pointing to the correct step"
(I think this should be made internal due to the #urgency of the issue)

## Action Performed:

1. Create workspace
2. Select Get Started in workspace
3. Go through VBA setup using the [test credentials in (2)](https://stackoverflow.com/c/expensify/questions/342/525#525), and arrive at Validate step
4. Receive message from concierge that should link to the relevant step, which in this case, should

[2021-09-04 00:02] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199734951) to production by @roryabraham in version: 1.0.93-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 00:02] botify commented on #5048
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199734951) to production by @roryabraham in version: 1.0.93-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 00:02] botify commented on #4036
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199734951) to production by @roryabraham in version: 1.0.93-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 00:02] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199734951) to production by @roryabraham in version: 1.0.93-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 00:02] botify commented on #4616
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199734951) to production by @roryabraham in version: 1.0.93-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 00:02] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199734951) to production by @roryabraham in version: 1.0.93-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 00:02] botify commented on #4978
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199734951) to production by @roryabraham in version: 1.0.93-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 00:02] botify commented on #4785
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199734951) to production by @roryabraham in version: 1.0.93-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 00:03] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199734951) to production by @roryabraham in version: 1.0.93-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 00:03] botify commented on #4959
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199734951) to production by @roryabraham in version: 1.0.93-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 00:03] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199734951) to production by @roryabraham in version: 1.0.93-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 00:03] botify commented on #4856
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199734951) to production by @roryabraham in version: 1.0.93-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 00:06] kevinksullivan opened #5089 "[HOLD for payment 2021-09-20] [HOLD for payment 2021-09-20] Workspace avatar color is mismatched"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a workspace
2. View the workspace color in user settings
3. View the workspace color in the workspace menu

## Expected Result:
The defaul

[2021-09-04 00:11] isagoico opened #5090 "Some attachments are failing to upload and there's no feedback to the user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to a conversation
2. Upload a file (this has been reproducible with .mov and .docx so not sure if that helps with the reproduction)

##

[2021-09-04 00:32] isagoico opened #5091 "[HOLD for payment 2021-11-04] Fake growl about changes being made in profile is displayed when saving a name that's over 50 characters long"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to settings > Profile
2. Change the first or last name to something over 50 characters
3. Save the changes
4. Refresh the page

## Expec

[2021-09-04 00:34] MitchExpensify commented on #5047
[Upwork job](https://www.upwork.com/jobs/~012f6bf2ece59e31fc)

[2021-09-04 00:51] isagoico opened #5092 "[HOLD for payment 2021-09-17] Image preview is blurry when uploading a long image (pay on 9/17)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Upload this [image](https://user-images.githubusercontent.com/44479856/132076653-b5044644-432c-4000-9ad6-27aa447b7e

[2021-09-04 01:01] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199737879) to staging by @Luke9389 in version: 1.0.93-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 01:01] botify commented on #4972
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199737879) to staging by @Luke9389 in version: 1.0.93-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 01:01] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199737879) to staging by @Luke9389 in version: 1.0.93-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 01:01] botify commented on #4785
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199737879) to staging by @marcaaron in version: 1.0.93-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 01:01] botify commented on #4507
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199737879) to staging by @tgolen in version: 1.0.93-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 01:01] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199737879) to staging by @tgolen in version: 1.0.93-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 01:01] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199737879) to staging by @roryabraham in version: 1.0.93-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 01:01] botify commented on #5048
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1199737879) to staging by @roryabraham in version: 1.0.93-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-04 01:02] timszot commented on #5047
I'm still ooo. Not sure why this was assigned to me

[2021-09-04 01:48] parasharrajat commented on #4545
Yes that is up-to-date.

[2021-09-04 04:35] akshayasalvi commented on #4518
Thank you @Julesssss and @adelekennedy

[2021-09-04 04:38] PrashantMangukiya commented on #5091
Here is my suggestion,

Within ProfilePage.js file we have to add firstname lastname max chars validation within updatePersonalDetails() function before line 170 (i.e. before setPersonalDetails call ). If firstname, lastname validation failed then we will show growl message and return.

https://github.com/Expensify/App/blob/6cd518e81fb60415ba8d4d4a659fdc5dfa95b6fd/src/pages/settings/Profile/Profil

[2021-09-04 04:51] mananjadhav commented on #4888
@tgolen  This particular line checks if the text contains Emoji. If it doesn't then it proceeds for showing the attachment Popup. Hope this clarifies.

@tgolen @mountiny Can you help me clarify this one? The text will still not be pasted for Text + Image combination.

[2021-09-04 05:17] thesahindia commented on #5089
### Proposal
We are passing some styles for icons [here](https://github.com/Expensify/App/blob/main/src/pages/settings/InitialPage.js#L155) for the MenuItems which results in **Green** background for Workspace Avatar. However, at other two places ( Workspace Page & Edit Workspace Page) we are using `fill={themedefault.icon}` for the Workspace Icon.
We can use `fill={themedefault.iconSuccessful}` t

[2021-09-04 05:59] thesahindia commented on #5091
Hi there, the above proposal looks great and working as expected. But just in case if we want a different solution. I'm adding mine.

Inside [setPersonalDetails function](https://github.com/Expensify/App/blob/main/src/libs/actions/PersonalDetails.js#L214), instead of optimistically updating the profile details, we can wait for the API completion and show success & error growl based on the jsonCode

[2021-09-04 06:16] mananjadhav commented on #4928
I've been getting this in localhost with the latest pull. Existing logged-in sessions are affected. Fresh login in a new browser or incognito worked fine. Clearing local storage also works.

![image](https://user-images.githubusercontent.com/3069065/132084717-23a75655-2250-4932-894e-7e68bfbec050.png)
[mj-expensify-localstorage.txt](https://github.com/Expensify/App/files/7109291/mj-expensify-locals

[2021-09-04 06:50] PrashantMangukiya commented on #5091
Hi @thesahindia , your solution also looks good, but some confusion from my side as under:

If api will not return response.message in localised language then in case of error it will show error message in english, I am not sure that server side api will return error in localised language or not. If api will return localised language message then it is ok.

Other major problem with changing setPer

[2021-09-04 07:13] MTN718 commented on #4629
Yes IOS copy base64 image to clipboard No problem. But Android not support is problem on our project. How to resolve it?

[2021-09-04 08:02] PrashantMangukiya commented on #5087
### Proposed Solution

We have to update logic within src/pages/signin/ResendValidationForm.js file.

i..e Set state variable named **allowResendLink: true**  So when Resend link button tapped we have to set allowResendLink: false within validateAndSubmitForm() block, and after 5 seconds time out we have to set allowResendLink: true (Timeout block already there, so we have to add allowResendLink:

[2021-09-04 08:13] thesahindia commented on #5091
Hi @PrashantMangukiya, Thank you for looking into the solution and giving remarks!
Both of the points are valid and I'll try to reply to them.

To show the translated version of the message, we can either use `jsonCode` or `message` of the response and based on that we can set correct message
An example where this is implemented:
https://github.com/Expensify/App/blob/6cd518e81fb60415ba8d4d4a659fdc

[2021-09-04 08:35] PrashantMangukiya commented on #5091
Hi, @thesahindia I got it. Thanks for the message.

[2021-09-04 08:43] PrashantMangukiya commented on #5087
Other possible solution I thought is to disable "Resend link" button during 5 seconds timeout period, but it will change ui behaviour, and disabled button does not look good for 5 seconds. Also disable button feels to user that something is stuck and ui is not responding etc. i.e. Overall user experience was not good if we disable "Resend link" button. So I suggested the above solution.

[2021-09-04 09:12] MirFahad58 commented on #4678
Ok, I got it no more questions.

[2021-09-04 09:17] PrashantMangukiya commented on #5082
### Proposed Solution:

We have to set **accessible** and **accessibilityLabel** for terms of service and privacy policy link within src/pages/settings/AboutPage.js

At present accessible and accessibilityLabel not added as shown code below:
https://github.com/Expensify/App/blob/6cd518e81fb60415ba8d4d4a659fdc5dfa95b6fd/src/pages/settings/AboutPage.js#L130-L133

https://github.com/Expensify/App/blo

[2021-09-04 09:32] mateomorris commented on #5082
**Proposal**

After taking another look, it turns out there's an existing component we can use instead which includes the aria-role. And since the link text is descriptive, `aria-label` is redundant: "The aria-label attribute provides a way to place a descriptive text label on an object, such as a link, when there are no elements visible on the page that describe the object" [w3.org](https://www.w

[2021-09-04 10:12] PrashantMangukiya commented on #5082
Hi @mateomorris , your solution also looks good. One thing I notice is that whenever we use TextLink component as per your suggestion it shows  pipe at left and right of text. If we add accessibilityLabel to Text component as per my solution, it shows box around the text, i.e. similar to shows box around close and back button on that page when tabbing. i.e. Both approach have same result but some

[2021-09-04 10:47] mateomorris commented on #5082
@PrashantMangukiya I noticed that, but in this case it's still better to use TextLink because it renders to an anchor tag as opposed to a span (i.e. it's accessible to both keyboard and screenreader users). A compromise would be to add `accessibilityRole="link"`, but accessibility-wise it's always preferable to use native web elements whenever possible.

[2021-09-04 12:39] MTN718 commented on #4355
![image](https://user-images.githubusercontent.com/12084368/132094704-de4edefb-e92a-4262-831b-93cb3fadba4a.png)
I will create new method on forked react-native-haptic-feedback. As you can see image, we can change duration value for android and for IOS, we will use soft.

![image](https://user-images.githubusercontent.com/12084368/132094731-8840daa4-4451-484e-a7c2-75602c6775c0.png)

[2021-09-04 13:38] akshayasalvi commented on #4737
@chiragsalian Can you help how I can test this flow in Mobile App and Desktop App? Clicking on the link redirects to mobile website and the website.

[2021-09-04 14:44] akshayasalvi commented on #5087
Thanks for accepting the raised issue.

**Proposal**

I feel this page can be improved a bit with the UX. While we can close this with a basic `disableResend` flag, the user won't know why is he not allowed to click the button again. I feel we should add a resend countdown and enable the button after the countdown is over.

Inside, `ResendValidationForm` we do the following:

[code]

And add trans

[2021-09-04 16:16] PrashantMangukiya commented on #5092
### Proposed Solution:

Whenever  we upload image there is a corresponding thumbnail generation logic is there at server side. So server side thumbnail generation logic is designed in such a way that, it will cap thumbnail width or height to max 1024px. (I can say this based on the various image I uploaded for testing and analysed generated thumbnail size).

So any image dimension fall into three

[2021-09-04 18:19] dklymenk commented on #2430
Hello, the issue can be closed. The upwork contract is completed and I have received the payment. Thanks.

[2021-09-05 04:51] ZaydImr commented on #5030
Adding a test will fix it

[2021-09-05 12:38] mananjadhav commented on #5089
My recommendation would be the other way around. We should update the color to grey as the other Menu Items are in grey. Unless we want to highlight it for some reason.

Update style.js
[code]

![image](https://user-images.githubusercontent.com/3069065/132127077-85071b4d-ec91-455d-9bd1-f133b7e1e0f8.png)

[2021-09-05 17:35] laurenreidexpensify commented on #5089
I'm still OOO - reassigning

[2021-09-05 23:09] isagoico commented on #3297
I was unable to reproduce this issue anymore in Android (It finally worked as expected 🎉)

[2021-09-05 23:16] isagoico commented on #4623
Issue reproducible during KI retests

[2021-09-05 23:16] isagoico commented on #4861
Issue reproducible during KI retests

[2021-09-05 23:16] isagoico commented on #4867
Issue reproducible during KI retests

[2021-09-05 23:16] isagoico commented on #5069
Issue reproducible during KI retests

[2021-09-05 23:16] isagoico commented on #5040
Issue reproducible during KI retests

[2021-09-05 23:16] isagoico commented on #5027
Issue reproducible during KI retests

[2021-09-05 23:16] isagoico commented on #5011
Issue reproducible during KI retests

[2021-09-05 23:16] isagoico commented on #4994
Issue reproducible during KI retests

[2021-09-05 23:16] isagoico commented on #4993
Issue reproducible during KI retests

[2021-09-05 23:16] isagoico commented on #4995
Issue reproducible during KI retests

[2021-09-05 23:17] isagoico commented on #4853
Issue not reproducible during KI retests. Also, tester who raised the issue confirmed he was unable to reproduce this anymore.

[2021-09-05 23:19] isagoico commented on #2499
Issue reproducible during KI retests

[2021-09-05 23:19] isagoico commented on #4855
Issue reproducible during KI retests

[2021-09-05 23:19] isagoico commented on #4997
Issue reproducible during KI retests

[2021-09-05 23:20] isagoico commented on #4754
Issue reproducible during KI retests

[2021-09-05 23:20] isagoico commented on #4864
Issue not reproducible during KI retests (Fixed 🎉)

[2021-09-06 00:56] kadiealexander commented on #4870
Hi @akshayasalvi, the team decided instead of dealing with this separately, we will add a $100 bonus to the initial Upwork post [here](https://github.com/Expensify/App/issues/4601) for the additional work you did here. Thanks again!!

[2021-09-06 00:56] #4870 closed

[2021-09-06 01:28] michaelhaxhiu commented on #4623
Quick summary:
- This GH will be resolved via https://github.com/Expensify/App/pull/4456#issuecomment-903328156, which is assigned to @mananjadhav.
- Right now we are awaiting Brandon Stites to review the PR (above), so the updates can be deployed.
- Once that PR is closed, we can test to make sure flag emojis are working properly. At that point, we start the 7 day countdown for payment.

If any i

[2021-09-06 02:08] michaelhaxhiu commented on #4499
@roryabraham quick bud check -- this botify chart makes me believe that iOS isn't ready for deploy, which means we shouldn't start the 7 day payment countdown? Is that accurate?

I'd like to make sure I understand for future cases.

[2021-09-06 02:43] michaelhaxhiu commented on #4855
@meetmangukiya any update on this one?

[2021-09-06 02:45] michaelhaxhiu commented on #4541
Update: @mananjadhav made a PR and is working through the Deploy Checklist items, which seems to be on track :). Looks on track for finalization this week.

[2021-09-06 02:47] michaelhaxhiu commented on #2545
Rory started working on https://github.com/Expensify/App/issues/2985 and will post an update sometime early this week.

[2021-09-06 03:09] akshayasalvi commented on #4870
Thank you @kadiealexander. Appreciate it

[2021-09-06 03:30] mananjadhav commented on #4499
@michaelhaxhiu @roryabraham  fyi, this PR primarily has an impact on Desktop and Web.

[2021-09-06 05:10] dklymenk commented on #5034
Hello, I would be interested in this issue, however I don't really understand how this might happen.

The entire onyx store is basically wiped on logout (with the exception of a few keys) and then rebuilt from scratch by fetching new data on next login, so I don't see how this is even possible.

Btw, what's Expensifail? Is it a codename for staging?

[2021-09-06 06:21] dklymenk commented on #4819
The issue has seen no discussion last week, so I opened a PR with my best take on it.

I have no env setup for windows testing, so it would be nice if someone was to validate the PR on windows.

Thanks.

[2021-09-06 06:38] meetmangukiya commented on #4855
@michaelhaxhiu @Jag96 Yes, I think this is happening because we are always marking it as read on `componentDidMount`. So whenever we open the app, the last active report will always get marked as read.

https://github.com/Expensify/App/blob/8a5cf2d190e8e259a1bcb4090fcb437e42f78dbe/src/pages/home/report/ReportActionsView.js#L131

This should be fixed by only calling the function when the drawer is

[2021-09-06 06:59] meetmangukiya commented on #4273
I think I might have an alternate theory that can complement @kidroca and both of these could be occurring at the same time amplifying the effect as well. Although not sure if this would be considered a feature, maybe it is or it could be?

1. Open the desktop app, minimize it or close it, not quit it.
2. Open the web app or mobile app or any platform. To observe, we need to have 2 platforms open.

[2021-09-06 09:12] Julesssss commented on #4264
Hi @mananjadhav, I have asked in [Slack here](https://expensify.slack.com/archives/C01GTK53T8Q/p1630919241473800).

Thankfully iOS is the simpler platform to implement, so I am happy to manually test iOS for you if necessary.

[2021-09-06 09:20] pROFESOR11 commented on #5008
Hi @kavimuru ,
What exactly is `expensifail` account and how can I login with that?
I guess I need to login with that specific account to be able to reproduce the issue.

[2021-09-06 09:29] Julesssss commented on #3921
Hi @rdjuric, have you had the chance to review the feedback yet?

[2021-09-06 09:35] trjExpensify commented on #4867
Still no applications.

[2021-09-06 09:46] trjExpensify commented on #5066
Updated the issue title to be a tad more reflective of the scope here. Upwork job can be found [here](https://www.upwork.com/jobs/~01c46bee71798ea0e6), @PrashantMangukiya I've invited you to the job for ease, so feel free to apply and we'll then assign this issue to you. Thanks!

[2021-09-06 10:22] PrashantMangukiya commented on #5066
Hi @trjExpensify, Thank you for the invitation. I applied for the job. Kindly assign me.

[2021-09-06 10:24] trjExpensify commented on #5066
Yup, sent you the offer. Once accepted, I'll assign it over to you. 👍

[2021-09-06 10:27] PrashantMangukiya commented on #5066
@trjExpensify, Just accepted. Thank you.

[2021-09-06 11:30] sketchydroide commented on #5040
Ok closing this, this seems intentional, if this becomes an issue we can change it very easily and we can reopen this GH
Thank peoples!

[2021-09-06 11:30] #5040 closed

[2021-09-06 11:33] MonilBhavsar commented on #4928
@mananjadhav, Can you please mention the steps to reproduce this, Do you see this in any specific version?
Thanks for linking log, It's of much help, We can clearly see that `accountID` is missing from session data and that's what causing the error.

[2021-09-06 11:46] flodnv commented on #5071
I can take this! A few notes...

Are we sure we want to get rid of [the randomized `%hello%` macro](https://github.com/Expensify/Web-Expensify/blob/400540d3b6eaeb21fc8888f56721683ea3b6d637/notifications/SetCashPassword.txt#L1)? IIRC we wanted almost all emails to have this.

Let's get this checked by the copy team 🙃

[2021-09-06 12:10] HorusGoul commented on #3844
Done! I just confirmed that it works in production:

![photo_2021-09-06_14-06-34](https://user-images.githubusercontent.com/6759612/132215297-408036c4-ced5-41f6-bf6d-f7a362e43663.jpg)

[2021-09-06 12:10] #3844 closed

[2021-09-06 12:49] Gonals commented on #5069
We should look into this. Setting as weekly and sending to the pool!

[2021-09-06 13:32] Beamanator commented on #5090
Seems similar to this: https://github.com/Expensify/Expensify/issues/145368#issuecomment-907329111

[2021-09-06 13:36] Beamanator commented on #4163
Good question @aman-atg - as @mallenexpensify posted in #expensify-open-source [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1630447493236300):

[2021-09-06 13:53] Dal-Papa commented on #4997
Bump to @parasharrajat otherwise this might be a `:donothing:` since it's at the library level.

[2021-09-06 13:58] pROFESOR11 commented on #4899
### Proposal

I've been working on this issue for a while, and I wanted to share what I've got so far. If my proposal is accepted, I'd be happy to submit a PR.

As a starting point, I had to distinguish messages coming from the email replies and the application itself.
I've investigated incoming `html` values from email replies:
- If user replies via mobile app, then `html` ends with `</div><div><

[2021-09-06 14:17] isagoico commented on #5086
Starting QA!

[2021-09-06 14:37] aman-atg commented on #4163
Thanks for clarifying.

[2021-09-06 14:46] Beamanator commented on #4211
Ok so let's go with this:
1. Try to re-open the React-Navigation issue: https://github.com/react-navigation/react-navigation/issues/9511
    - Post in the issue why https://reactnavigation.org/docs/preventing-going-back/ doesn't work for our case
    - Maybe submit a PR with our recommended change, as this could speed things along
2. If the above issue gets merged into their main repo, use the cha

[2021-09-06 15:01] MelvinBot opened #5100 "My test issue title September 2021"
Hello and welcome to this month's edition of *CAP software*.

## :mega: The process has changed, so please read up!

What I need from you:
1. Go to the [CAP Software spreadsheet](https://docs.google.com/spreadsheets/d/1gZ9HPyq3jtVYoiHgKAkabaqSDhKb1zqv0gNhaPj17os)
2. For each project
    1. In column K highlighted in green, ADD your full name and the percentage of time you spent Phase 1 (phases are

[2021-09-06 15:02] #5100 closed

[2021-09-06 15:04] #4929 closed

[2021-09-06 15:05] botify commented on #4929
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-06 15:14] mananjadhav commented on #4264
Okay, I struggled with the release setup of iOS over the weekend with some other issues. I'll be starting back to it by tomorrow. Thanks 👍

[2021-09-06 15:15] mananjadhav commented on #4928
Honestly, there isn't anything special I did. I just took the latest pull to my fork mananjadhav/App and then to my local with the existing session on.

[2021-09-06 15:28] Julesssss commented on #3737
Okay, the backend PR is once again in review.

[2021-09-06 15:55] Beamanator commented on #4491
I just re-tested in staging and dev, and I see this is still happening (modal closing on save) so I'd say we can take this off hold and move forward 👍

[2021-09-06 16:09] adelekennedy commented on #5030
Not overdue

[2021-09-06 16:16] PrashantMangukiya commented on #5066
Hi, @trjExpensify  Pull request #5101 submitted and ready for review.

[2021-09-06 16:26] pecanoro commented on #5030
The proposal is good, I am not sure if I would add the constant though, it seems a bit overkill. However, besides that, it looks good.

[2021-09-06 16:31] mallenexpensify commented on #5079
@MitchExpensify I thought the plan for NewDot was to minimize the steps to use to app to the bare minimum, then to only add requirements when they're _needed_.  My take is.. even step, click, pass field, name, phone... is a barrier to entry.  Or.. with every step we'll have more people dropping off who don't follow through. Is there a discussion about the 'need' for this that you can link to?

[2021-09-06 16:54] Santhosh-Sellavel commented on #5047
## Proposal
When the user signs up for the first time in here, `accountExists` is updated in ONYX with `ACCOUNT` key
https://github.com/Expensify/App/blob/b3421ceba196e5e2dd57b3fcbd4b30721650558c/src/libs/actions/Session.js#L123-L125

We could map the state from `ONYXKEYS.ACCOUNT`  to props of the  `SidebarScreen.js` component using `withONYX`
The in this block,
https://github.com/Expensify/App/bl

[2021-09-06 17:01] MitchExpensify commented on #5079
Fair point @mallenexpensify, heres the original convo if you could raise that concern there https://expensify.slack.com/archives/C020EPP9B9A/p1630694459165400

[2021-09-06 17:21] kavimuru opened #5102 "[HOLD for payment 2021-11-04] Request / Split money - Cursor autofocus not regained after changing the currency"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the desktop app and login
2. Click the + icon in LHN and choose either request or split money
3. Click the currency and choose any other c

[2021-09-06 18:05] mallenexpensify commented on #4747
Paid in Upwork, included bonus for reporting the issue

[2021-09-06 18:05] #4747 closed

[2021-09-06 18:08] mallenexpensify commented on #4407
Paid in Upwork, inc. bonus for reporting this issue

[2021-09-06 18:08] #4407 closed

[2021-09-06 18:34] MitchExpensify commented on #5071
Yes, lets leave [the randomized %hello% macro](https://github.com/Expensify/Web-Expensify/blob/400540d3b6eaeb21fc8888f56721683ea3b6d637/notifications/SetCashPassword.txt#L1) in place! Updating OP

[2021-09-06 18:37] MitchExpensify commented on #5088
cc @ctkochan22 @TomatoToaster ([Slack](https://expensify.slack.com/archives/C020EPP9B9A/p1630765306326400?thread_ts=1630717923.321900&cid=C020EPP9B9A))

[2021-09-06 18:49] mallenexpensify commented on #5079
Expanded ~rant~ reasoning https://expensify.slack.com/archives/C01GTK53T8Q/p1630952654016000

[2021-09-06 19:05] kavimuru opened #5103 "[HOLD for payment 2021-09-22] iOS - Chat- Menu options after selecting add attachment is not translated to Spanish"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with a applause.expensifail account
2. Navigate to Settings > Preferences
3. Set the language to Spanish
4. Tap on any chat
3. Tap on + si

[2021-09-06 19:10] mallenexpensify commented on #4163
Actually... since this issue is still open and because @aman-atg has contributed to the issue, I think they should be paid. @aman-atg can you apply for the job here https://www.upwork.com/jobs/~0186891d4078a90470
@dylanexpensify when you pay @Santhosh-Sellavel for the job can you also pay @aman-atg $250 for reporting the issue, and confirm with a post in this issue that both have been paid? Thx

[2021-09-06 19:15] kavimuru opened #5104 "Settings - Bank Name is not saved when adding bank account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #4653
## Action Performed:
1. Launch the app and login
2. Add a chase account by navigating to /bank-account/new
3. Click settings > Paymen

[2021-09-06 19:16] OSBotify commented on #5104
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-06 19:21] thesahindia commented on #4498
Hi @JmillsExpensify, any updates on the Upwork? Thanks.

[2021-09-06 19:44] kavimuru opened #5105 "Workspace - Clicking Manage cards takes user to 404 page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with expensifail account
3. Go to any Workspace
4. Click on Manage Cards
## Expected Result:
Cl

[2021-09-06 19:45] OSBotify commented on #5105
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-06 19:51] kavimuru opened #5106 "Chat- Incorrect unread messages shown in green badge after "marked as unread" for any message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Go to any user conversation
4. Scroll to the top 10-15 messages and select

[2021-09-06 19:52] mallenexpensify commented on #2430
Thanks @dklymenk , closing..

[2021-09-06 19:52] #2430 closed

[2021-09-06 20:27] kavimuru opened #5113 "Profile - Corresponding pronoun in Spanish is not displayed when switching language"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Click settings > profile
3. Change preferred pronouns to Call me by name and save
4. Click back arrow
5. In preferenc

[2021-09-06 20:33] trjExpensify commented on #4899
Thanks, @pROFESOR11! @roryabraham is out for Labor Day in the US, so we'll come back to you with feedback after the vacation likely tomorrow or the next day.

[2021-09-06 20:35] trjExpensify commented on #4660
Hired you on Upwork, @kakajann. @thienlnam I've popped you on the linked PR to review.

[2021-09-06 20:42] mallenexpensify commented on #4491
@Beamanator can you confirm this is an issue that can be worked on by a contributor by adding the `External` label?

[2021-09-06 20:48] mallenexpensify commented on #4210
I created a new job in Upwork, @AlfredoAlc , you you please apply there and confirm here when you have? If your name shows differently than `Alfredo A`, please share it.  Once done I'll pay $250
https://www.upwork.com/jobs/~0139053ca72f539195

[2021-09-06 20:50] mallenexpensify commented on #4615
Waiting for feedback from my previous comment

[2021-09-06 21:05] MitchExpensify commented on #5068
Chatting internally on this

[2021-09-06 21:09] MitchExpensify commented on #5081
I assume you are also proposing a URL change to this step too @kevinksullivan ? (Currently /requestor)

[2021-09-06 21:17] mallenexpensify commented on #5021
@puneetlath should be able to get to this tomorrow or Wed

[2021-09-06 21:26] MitchExpensify commented on #4748
Not overdue

[2021-09-06 21:27] MitchExpensify commented on #5031
Not overdue

[2021-09-06 21:33] AlfredoAlc commented on #4210
@mallenexpensify I already applied on Upwork, my name on upwork shows Alfredo Alcantara

[2021-09-06 21:43] MitchExpensify commented on #4775
this seems like a good external candidate. Please share any proposals here and we'll get you hired for the Upwork job cc @kakajann @Santhosh-Sellavel

[2021-09-06 21:47] MitchExpensify commented on #4775
[Upwork job](https://www.upwork.com/jobs/~01d6c7ecc2016ad50f)

[2021-09-06 21:55] MitchExpensify commented on #5068
Hey @thesahindia thanks for reporting this bug!
Matt Allen 🐰
Today at 2:08 PM
Can you add a comment that says we recently updated the process for posting bugs? Link to [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1630447493236300). Let me know if you  need an invite to the Slack channel.

[2021-09-06 22:01] kadiealexander commented on #4737
Begone, Melvinbot. @chiragsalian should be back after Labor Day to help with this @akshayasalvi, sorry for the delay!

[2021-09-06 23:24] isagoico commented on #5104
This is only reproducible when adding a new bank account. Bank accounts added before the PR change show the correct bank icon.
![image](https://user-images.githubusercontent.com/44479856/132265340-02941e61-e4d1-4d1f-90ca-2b3c7c973e9d.png)

[2021-09-06 23:26] isagoico commented on #5086
Issues found:
1. https://github.com/Expensify/App/issues/5104

[2021-09-07 00:15] isagoico opened #5115 "[HOLD for payment 2021-09-27] IOU - Modal is shifted to the left when entering a long amount number"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to NewDot
2. Click on request money
3. Enter an amount of over 15 numbers

## Expected Result:
Modal should stay on the visible area of

[2021-09-07 01:10] PrashantMangukiya commented on #5103
### Proposed Solution

**Here is the problem:** We are preparing menu item data at component load (within constructor), but whenever language changed we are not taking care for language change. i.e. we need to refresh menu item data within src/components/AttachmentPicker/index.native.js whenever language changed.

Below is current code for constructor:
https://github.com/Expensify/App/blob/b3421ce

[2021-09-07 01:20] Christinadobrzyn commented on #4264
Hired @mananjadhav in Upwork for this! 🎉

[2021-09-07 01:24] ctkochan22 commented on #5105
Just looking at this now, not sure where this is caused yet. But its strange that the URL is this:
![image](https://user-images.githubusercontent.com/12980144/132270387-f39f3ee3-2207-40e7-9415-1e7123ba9963.png)

And this is the only pr where we may have changed where we re-direct to? The strange bit in the middle `/v/ASDF.../`

https://github.com/Expensify/App/pull/4789/files#diff-7ba339cca3eda747

[2021-09-07 02:56] akshayasalvi commented on #5030
Can do without the const

[2021-09-07 03:10] Santhosh-Sellavel commented on #4775
## Initial Proposal
We could reuse the code from [IOUParticipantsSplit.js ](https://github.com/Expensify/App/blob/main/src/pages/iou/steps/IOUParticipantsPage/IOUParticipantsSplit.js)

In [WorkspaceInvitePage](https://github.com/Expensify/App/blob/main/src/pages/workspace/WorkspaceInvitePage.js) which is currently.

Need to modify few lines as per our need here.

Let's pause here.

@MitchExpensify

[2021-09-07 03:15] Santhosh-Sellavel commented on #4775
One clarification will I get a bonus for this since issue #4668 which I raised was closed. And we are proceeding with this one. And changes I suggest in there are already implemented now.
<img width="386" alt="Screenshot 2021-09-07 at 8 44 19 AM" src="https://user-images.githubusercontent.com/85645967/132278696-b9c8130e-a7c6-4214-9f51-c4ed208ad6c1.png">

Thanks!

[2021-09-07 04:09] akshayasalvi commented on #5115
**Proposed Solution**

If we know that we're going to have a max value for the amount then we should add a maxLength  property to the amount field. I added 14 and it worked fine. Then basically it didn't messed up the alignment of the the button as well.

[code]

[2021-09-07 04:14] akshayasalvi commented on #4737
Okay thanks.

[2021-09-07 04:17] mananjadhav commented on #4526
@tgolen Is this safe to close? or add some label? It is deployed to production already as the comment on the PR

[2021-09-07 04:22] mananjadhav commented on #4323
PR is updated and should get merged by today/tomorrow.

[2021-09-07 05:32] ctkochan22 commented on #5088
This will be gone if we get rid of double check/pseudo error messages here I realise: https://github.com/Expensify/Expensify/issues/176431#issuecomment-914000119

[2021-09-07 08:02] Beamanator commented on #5091
Sorry for the delay y'all, this looks like a nice external issue so I'm going to begin reviewing proposals 👍

[2021-09-07 09:23] HorusGoul commented on #5113
The pronouns field allows you to enter anything, but we offer a few of them so the user can select them more easily instead of having to type them. To know whether the user has selected one of the predefined options, we compare what we have stored in the field and each predefined option. If no one matches, we assume it's custom, and that's because we stored the "Call me by my name" using the Engli

[2021-09-07 09:26] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-07 09:42] rdjuric commented on #3921
@Julesssss Sorry, looking into it now! Thanks.

[2021-09-07 09:56] Julesssss commented on #4775
We need to await the design before accepting any proposals here.  CC @michelle-thompson

One problem I see is that our previous usages of the OptionsSelector Component extend to the full page. In this case, we might need to reduce the height to include the personal message field. Another problem is that the component will extend infinitely as the user selects users to invite, further hiding the pe

[2021-09-07 10:00] Julesssss commented on #4775
I think you have a reasonable claim to that bonus, but I don't think this is the right issue to claim the bonus on. Your initial proposal was to include a hint in the input field and as this was added as a part of [this issue](https://github.com/Expensify/App/issues/4646) I think you should raise this point there instead.

[2021-09-07 10:04] Beamanator commented on #5091
Thanks for your proposals @thesahindia and @PrashantMangukiya !

I found [this conversation in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1630464741247400) which covers this situation. Since we have a unique error message that needs to be thrown only in this case, I will make a back-end change to throw this new `jsonCode` (I'll post here when I know what that code will be) so it can

[2021-09-07 10:08] Julesssss commented on #4759
@arielgreen this can be paid today 🎉

[2021-09-07 10:11] NikkiWines commented on #4993
Based on Rory's comment [here](https://github.com/Expensify/App/issues/4993#issuecomment-910837371) seems like we should have already hired @parasharrajat for this one? If we haven't yet, @MitchExpensify can you hire him now?

[2021-09-07 10:31] thesahindia commented on #5068
Hi @MitchExpensify, Sorry for the misunderstanding but I'm well aware of the updated process.

And I was asked to open the issue on Github itself to save time (clearly, that didn't go very well 😀  )

https://github.com/Expensify/App/pull/4789#issuecomment-912752764
https://github.com/Expensify/App/pull/4789#issuecomment-912758788
https://github.com/Expensify/App/pull/4789#issuecomment-912774636

c

[2021-09-07 10:37] thesahindia commented on #5091
Thanks @Beamanator, I will wait for the back-end changes.

[2021-09-07 11:12] kidroca commented on #4273
I think whatever problems there are with this issue, the root is the incorrect `maxSequenceNumber` that is saved
I've just listed the simplest way to recreate by scrolling up and restarting, but this can be combined in a lot of different and more complex flow
1. It's very probable users will scroll some chat to the past, even just a tiny bit is enough. This sets them on a path to (maybe) experienc

[2021-09-07 11:16] sketchydroide commented on #5103
I cannot replicate this on my iPhone, the same version running (1.0.94-0).

[2021-09-07 11:22] Beamanator commented on #4491
@aman-atg I like your proposal except I think it's missing one small things: What exact text do you plan to show in the success growl? I think Horus recommended something in Slack :)

[2021-09-07 11:47] PrashantMangukiya commented on #5103
I tested v1.0.94-0 on iOS Simulator. I can re-produce this issue. Below is screen recording.

https://user-images.githubusercontent.com/7823358/132339136-f38c87b9-1657-489f-b020-ca18ca43898a.mov

[2021-09-07 11:47] michaelhaxhiu commented on #4499
Yep understood as this relates to tooltips that appear upon mouse hover over - that's why I'm a little bit unsure how to handle the botify error (i.e. does it matter)?

[2021-09-07 11:52] Beamanator commented on #5047
Hmm @Santhosh-Sellavel your idea sounds good except for one thing: The solution in the issue description says:

The bolded part is missing from your proposal, I believe. If a user already created their account on E.com, `accountExists` will be `true` when logging in
<img width="760" alt="Screen Shot 2021-09-07 at 1 12 54 PM" src="https://user-images.githubusercontent.com/3885503/132340059-f85775da

[2021-09-07 12:00] robertjchen commented on #5059
Interesting find! I think this is waiting on the discussion here: https://github.com/Expensify/App/issues/4214#issuecomment-909484313 for prioritization before we move forward? We'll followup here after that gets ironed out!

[2021-09-07 12:40] sketchydroide commented on #5103
I added the external, I can't replicate, please @marklouisdeshaun try to replicate if possible.
I also asked in engineering-chat for more people to try to replicate, at the moment no one did yet https://expensify.slack.com/archives/C03TQ48KC/p1631013560315700

[2021-09-07 13:15] Beamanator commented on #4981
It looks like the GitHub webhook event `pull_request`, with action `ready_for_review` is sent when a draft PR is marked "Ready for review". I think we have two methods of attack:
1. This event can re-request `PullerBear` as a reviewer, which will try again to find a CME on a related issue. If a linked issue isn't found or if we can't find a CME on a linked issue, a new `Engineer` will be requested

[2021-09-07 13:17] parasharrajat commented on #4816
I am on vacation. back on 8.

[2021-09-07 13:18] Beamanator commented on #4981
Changing to Weekly since we are correctly assigning CMEs, this issue is just to "try again" when PRs are moved from draft -> ready for review

[2021-09-07 13:19] parasharrajat commented on #4211
I am on vacation. back on 8.

[2021-09-07 13:20] parasharrajat commented on #4612
I am still have to dig more into this. I will update soon

[2021-09-07 13:21] parasharrajat commented on #4484
I am on vacation. back on 8.

[2021-09-07 13:31] parasharrajat commented on #4861
I am on vacation. back on 8.

[2021-09-07 13:39] Beamanator commented on #4211
Enjoy! Take your time responding :)

[2021-09-07 13:39] parasharrajat commented on #4993
I am on vacation. back on 8.

[2021-09-07 13:43] parasharrajat commented on #5104
Seems like it was missed from #4653 so it should ne handled as part of it.

[2021-09-07 13:45] shawnborton commented on #4775
Before we get this on Upwork, I think we should nail down the design first. Does anyone agree?

[2021-09-07 14:19] OSBotify commented on #4985
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-07 14:19] OSBotify commented on #5015
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-07 14:23] #5015 closed

[2021-09-07 14:23] #4985 closed

[2021-09-07 14:43] mountiny commented on #4615
@mallenexpensify Yes, that is expected behaviour I would say.

Honestly, I am not totally sure what would be the best way to approach this. Let's say we would reorder the LHN on choosing some other chat. If it would be chat which is located above the draft chat, we would see shift at time of clicking to the new message (because the one we clicked on would be shifted one below).

I think this would

[2021-09-07 14:55] kakajann commented on #4775
Just a suggestion. 2 screens would be good to solve this issue.

### 1st screen:
- `OptionsSelector` to select users.
- Next `button`.

### 2nd screen
- Preview selected Users.
- Personal message `input`.
- Invite `button`.

[2021-09-07 15:11] tgolen commented on #4888
I'm going to discuss with @mallenexpensify and @mountiny in order to get a better idea of the problem so that I can more accurately answer your questions and grade the proposal. Thanks for being patient on this!

[2021-09-07 15:11] marklouisdeshaun commented on #5103
I also cannot replicate this. When I tried on my iPhone Xs with iOS 14.7.1, running v1.0.93-1, the Spanish translations were there.

[2021-09-07 15:15] PrashantMangukiya commented on #5102
### Proposed Solution

We have to add code within src/pages/iou/steps/IOUAmountPage.js

At present we are focusing text input during component did mount as shown below.

https://github.com/Expensify/App/blob/8d9f663431e80f75516b17a0b4425c78b0a81249/src/pages/iou/steps/IOUAmountPage.js#L83-L92

**Approach 1:** Add component did update method. If currency code changed during component did update we

[2021-09-07 15:20] tgolen commented on #4819
None of us have windows environments either, so I think we are OK with just trying out best. Thanks!

[2021-09-07 15:22] tgolen commented on #4526
Yeah, I think this is OK to closed since it went to production. The reason it wasn't automatically closed was because in the PR description, it needs the full URL to the GH issue:

![image](https://user-images.githubusercontent.com/1228807/132370469-326bbd0a-8daf-44e2-b45f-fc1999b947fe.png)

[2021-09-07 15:22] #4526 closed

[2021-09-07 15:23] parasharrajat commented on #3952
Seems like botify has marked the wrong date. PR has deployed to production 8 days back and payment should be released today. According to the bot, payment should be released tomorrow.

[2021-09-07 15:24] tgolen commented on #5068
@MitchExpensify I figured we could skip a couple of steps and save some people some time by just posting it straight here. Sorry for the confusion.

[2021-09-07 15:29] sketchydroide commented on #5103
I will try to replicate this on the simulator, but we should try to get a couple more people from expensify try to replicate this

[2021-09-07 15:34] PrashantMangukiya commented on #5103
Hi Guys, I just installed **v1.0.93-1** from app store. I can reproduce issue within my **iPhoneXsMax**  **iOS 14.6**

Below is screen recording from real device. I reduced quality to 480p because GH not allow max 10MB file.

https://user-images.githubusercontent.com/7823358/132371806-9a9b14ae-637b-45d0-ab9a-8807117a123a.mov

[2021-09-07 15:37] michelle-thompson commented on #5074
We could do a very minimal progress bar at the top, like this:
![image](https://user-images.githubusercontent.com/43361905/132372782-b6d9ccc0-a38a-4e7f-8865-8f27317d8b4f.png)

cc @shawnborton for his thoughts here too

[2021-09-07 15:40] kevinksullivan commented on #5088
This is still relevant, explained [here](https://github.com/Expensify/Expensify/issues/176431#issuecomment-914415636).

[2021-09-07 15:41] puneetlath commented on #2734
Hi @anthony-hull. Just checking in again to see how this is going 😄.

[2021-09-07 15:49] Santhosh-Sellavel commented on #4646
As @Julesssss confirmed that the changes I proposed in #4668 were taken and implemented along with issue. Will I get a bonus?
Please clarify @Christinadobrzyn  Thanks!

[2021-09-07 15:57] mananjadhav commented on #4888
Sure. Thanks a lot. I can then accordingly update the proposal to accommodate any new changes

[2021-09-07 15:58] meetmangukiya commented on #4615
If we were to to want to implement this I suppose we could add a `shouldComponentUpdate` that will do some smart diffing in previous and new props to see if any new drafts, and if they are for current report, etc. and respectively return.

[2021-09-07 16:04] sketchydroide commented on #5103
I can also not replicate it with the appstore version. 1.0.93-1.
There is clearly something wrong as QA and Prashant can see it happen, I'm just unsure on what the solution is, the proposed solution seems reasonable, but the discrepance of some people not being to replicate it worries me a bit. Also I would like to find someone that can replicate it, so we can test the fix.

[2021-09-07 16:11] PrashantMangukiya commented on #5102
**Hi, I also found another issue for this text input in web version. This is different issue but related to text input on this page so I am sharing information here. So QA/Engineer team can create another issue If need to propagate further.**

**As we type certain number sometimes cursor  disappears from text input.** What I understood is that as we type certain character it grow text input width,

[2021-09-07 16:16] Santhosh-Sellavel commented on #5047
@Beamanator
I get your point, I think I might need a little help here from the backend about the first new Expensify session.

For most users,
I see the following options to do get a hook if there are no reports when we create a chat. Or when we have a concierge alone(It may show on every login).

I think it's better to get help from the backend to ensure it happens only once.

[2021-09-07 16:31] kevinksullivan commented on #4110
Paid @mananjadhav .

@kavimuru I created another identical post so that I could hire/pay you for finding the issue here:

https://www.upwork.com/jobs/~016b8f2d31f04b0ec0

Can you please apply so I can hire/pay you?

@marklouisdeshaun noting for future reference, we recently changed the process to hire both the person who identifies the issue and the person who solves the issue, if they are differe

[2021-09-07 16:34] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-07 16:34] botify commented on #4660
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-07 16:39] kevinksullivan commented on #5081
Updated the OP to incorporate that change @MitchExpensify . Is this going to be external or internal?

[2021-09-07 16:45] arielgreen commented on #4448
Paid. @Santhosh-Sellavel I also added the bonus you receive for reporting AND fixing the issue to the total.

[2021-09-07 16:45] #4448 closed

[2021-09-07 16:54] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-07 16:57] parasharrajat commented on #4646
I fixed 4 things in one. Should I also ask for bonus for extra issues? :) :--) But I don't want it as I fixed all issues that I found with inviting logic (this issue is linked with inviting part).

1. Block system users from inviting into Workspace. (this issue).
2. Fix a mistake where users can invite existing multiple users.
3. Fix users can invite existing users with phone number login.
4. Fix

[2021-09-07 16:58] arielgreen commented on #4163
@Santhosh-Sellavel this is paid, thanks :)

@aman-atg once you accept the offer in Upwork, I'll issue the bonus payment.

[2021-09-07 17:00] aldo-expensify commented on #5031
Not overdue

[2021-09-07 17:00] adelekennedy commented on #5030
@akshayasalvi just hired you in Upwork!

[2021-09-07 17:00] aldo-expensify commented on #4785
Working on the Company step to show all errors together

[2021-09-07 17:02] botify commented on #5066
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-07 17:03] deetergp commented on #4357
@parasharrajat Can you elaborate on your earlier comment for @Santhosh-Sellavel?

[2021-09-07 17:03] aldo-expensify commented on #4748
Should we close this? Botify shows that IOS deploy failed, but since that was a while ago, I guess there were other deploys after that including this? I tested in `new.expensify.com` and it seems to be fixed there.

[2021-09-07 17:08] marcaaron commented on #5075
Took another look today and I have verified that:

1. Non-sandbox bank connections should work fine on production
2. Probably there's some issue with our token endpoint and we are getting rate limited as described [here](https://stackoverflow.com/questions/57684362/how-can-i-resolve-the-following-plaid-api-error-internal-error-occurred)

@kevinksullivan @MitchExpensify do you guys think this is wo

[2021-09-07 17:14] arielgreen commented on #4864
Paid! Thanks for your work on this, @thesahindia.

[2021-09-07 17:14] #4864 closed

[2021-09-07 17:16] arielgreen commented on #4759
Paid + bonus for reporting, thanks for your work here @parasharrajat!

[2021-09-07 17:16] #4759 closed

[2021-09-07 17:21] PrashantMangukiya commented on #5103
I also installed app store **v1.0.93-1** to my family member's iPhone. I can reproduce it within **iPhone6Plus**  **iOS 12.5.4**  Just sharing it so it will helpful to QA and Engineering team.

Below is screen recording from iPhone6Plus (iOS 12.5.4)

https://user-images.githubusercontent.com/7823358/132385157-b3b01900-7a1f-45f0-9dcb-15f08dfc1c36.mov

[2021-09-07 17:24] arielgreen commented on #4163
Paid Aman, closing this out.

[2021-09-07 17:24] #4163 closed

[2021-09-07 17:28] marcaaron commented on #5075
Did some more testing + looking at logs and noticed that we are actually using the `production.plaid.com` API endpoint ([logs](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%22DXkncM%22)+AND+timestamp:[2021-09-07T16:18:08.190Z+TO+2021-09-07T18:18:08.190Z]&index=logs_expensify-012436)) while using the staging version of the app.

However, the staging version of the app _sh

[2021-09-07 17:30] bondydaa commented on #5115
15 digits would be 900 billion max, currently the richest person in the world is Jeff Bezos with an estimated 177 billion and while I do hope we eventually have Mr Bezos using expensify to settle up his IOUs I don't think 15-20 digit numbers are going to be super common use case here so I think I agree we should just add a `maxLength` attribute here and be done with it.

[2021-09-07 17:30] parasharrajat commented on #4500
Neither I recieved the job offer nor I got paid for reporting the issue and submitting the PR. Would someone like to clarify what's up with this issue?

[2021-09-07 17:32] bondydaa commented on #5115
i don't think this needs to be a daily so once the job is created we could move this to weekly or monthly.

[2021-09-07 17:32] Santhosh-Sellavel commented on #5104
@stitesExpensify Can you help me out here need the bank name from the response to reproduce/fix the issue thanks!

[2021-09-07 17:36] marcaaron commented on #5075
Alright, now I just think maybe this has never worked and we haven't tested it on native. I'm pretty sure we are not using the "staging" environment variables for these builds. @AndrewGable or @Jag96 do either of you guys know?

[2021-09-07 17:39] AndrewGable commented on #5075
Yes, I agree. I think TestFlight and Google Play Beta use production end points because we do not build another version, we just move them from TestFlight to production, changing the end points would require a new build

[2021-09-07 17:39] isagoico commented on #5115
Maybe countries with high inflations might be affected by this, e.g Venezuela, currently 1$ is equal to 4.200.000 Bs. So having an IOU of 1000$ would be 4.200.000.000 Bs. It still doesn't reach the 14 digit mark so I agree with Bondy that this will not be a common issue.

[2021-09-07 17:43] bondydaa commented on #5115
Yeah that crossed my mind too but for the time being I believe IOUs can
only be in USD. Though something might have changed there that I might have
missed so if we think it might be more common then maybe style changes are
needed.

On Tue, Sep 7, 2021 at 11:39 AM Isabella Goicoechea <
***@***.***> wrote:

[2021-09-07 17:43] marcaaron commented on #5075
Ah ok that makes so much sense thanks for verifying. Mystery solved! I thought I had broken this 😄

It does seem like we're able to detect that we are in the "staging" environment (judging from the `STG` header badge) so maybe we can have secure calls switch to the staging server in these cases. Will spin something up for that.

[2021-09-07 17:46] Jag96 commented on #5075
Yeah, you can check `getEnvironment` and `betaChecker` to see how we handle the badges, I think using the same logic would be the best way to handle that using existing code.

[2021-09-07 17:51] deetergp commented on #5070
Nothing I love more than being assigned an already-overdue issue! 😅 As @roryabraham mentioned earlier, this is definitely internal and deals with our webhook integration with Github.

[2021-09-07 17:53] Julesssss commented on #4646
@Santhosh-Sellavel just to clarify, I didn't confirm that the changes you suggested were taken and implemented. I said that you have a good argument for it and that you should bring it up in this issue.

[2021-09-07 17:58] shawnborton commented on #5074
I wonder if a more subtle and information approach would be to just use a small subheader below the modal title? Something like this:
![image](https://user-images.githubusercontent.com/2319350/132389870-e41934b5-17d1-4db9-a04a-bf46ab40faf6.png)

[2021-09-07 18:00] isagoico commented on #5115
That's not correct. At the moment IOUs can be in any currency available in the currency list.

![image](https://user-images.githubusercontent.com/44479856/132390075-8cb5a46e-d327-422e-ba27-d84654dd78d9.png)

[2021-09-07 18:05] AndrewGable commented on #3855
👍 - @kevinksullivan can we move forward with @parasharrajat? Thanks!

[2021-09-07 18:07] bfitzexpensify commented on #3952
Agreed. Paid you out via Upwork @parasharrajat and ended the contract. Closing this one out.

[2021-09-07 18:07] #3952 closed

[2021-09-07 18:12] bfitzexpensify commented on #4517
Deployed 7 days ago, no issues, paid out and ended the contract. Thanks @dklymenk!

[2021-09-07 18:12] #4517 closed

[2021-09-07 18:12] Santhosh-Sellavel commented on #4646
@Julesssss Updated my comment accordingly, Since you pointed this issue out, I thought you were aware that changes I proposed were done in this issue. Sorry for the misunderstanding!

[2021-09-07 18:17] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-07 18:18] marcaaron commented on #5075
I guess thinking more on this though... is the intention of having a beta version of the app that things like setting up a bank account would work as they do in production? I'm not sure who has access to this beta - but if I was a random public beta tester (or even an internal one) I might be confused about why the app isn't letting me set up a bank account (and the answer would be because we are

[2021-09-07 18:19] MTN718 commented on #3901
@NicMendonca Issue resolved?

[2021-09-07 18:21] AndrewGable commented on #5075
Yes, I believe that is the intention.

[2021-09-07 18:26] marcaaron commented on #5075
Got it. Maybe we can add a toggle in settings to switch to the staging secure server? I know there was some discussion about always having staging use the production endpoints. But it makes testing these flows with test credentials impossible. Just not sure how desperate we are to get this working. Will wait for @MitchExpensify @kevinksullivan to chime in before doing anything else.

[2021-09-07 18:28] AndrewGable commented on #5075
How do we test this on old.expensify?

[2021-09-07 18:30] kevinksullivan commented on #4110
Ah, and @kavimuru is with applause. Sorry for the confusion! Closing out the other job and this issue.

[2021-09-07 18:30] #4110 closed

[2021-09-07 18:37] muttmuure commented on #4690
Sorry I was OOO - it's an interesting proposal and makes sense esp. because it uses existing functionality in the new chat/group feature.

I'm not sure what this touches on the back end so I'll defer to engineering to discuss here.

[2021-09-07 18:41] marcaaron commented on #5075
On the staging website we just use the staging secure server.

On Mobile-Expensify we hit [this page](https://github.com/Expensify/Web-Expensify/blob/15eb6c35e3d41acf1f921aadad8b6a53cd7eb2e5/mobile/secureIframe.php#L26-L27) and would be staging or prod based on [this](https://github.com/Expensify/Mobile-Expensify/blob/357c650031390afb37b55c8917f5ec08964224fd/app/page.import.js#L47-L48) which ultim

[2021-09-07 18:42] arielgreen commented on #4816
@MitchExpensify reassigned to you, this should remain assigned for the duration of the issue.

[2021-09-07 18:51] michelle-thompson commented on #5074
Oh yeah, I like that approach more!

[2021-09-07 19:06] michelle-thompson commented on #4896
Adjusting the size sounds great! Doesn't look anything is needed from Design here, so gonna add the External label.

[2021-09-07 19:10] thienlnam commented on #3381
Had a discussion with @azimgd 1:1 while we try to figure out next steps forward on this issue.  To sum it up, the biggest issue with with making the changes in RN right now are that there's a [bug](https://github.com/facebook/react-native/issues/25239) where we're not able to prepend new items into Flatlist without having it scroll automatically on native devices.

Additionally, the deliverable wo

[2021-09-07 19:17] NicMendonca commented on #4664
paid & ended contract (sorry for the 1 day delay!)

[2021-09-07 19:17] #4664 closed

[2021-09-07 19:45] michaelhaxhiu commented on #4902
@dklymenk was this an issue you self discovered and reported?

Upwork job link is here - please drop a proposal and I'll hire you!

[2021-09-07 19:48] AndrewGable commented on #4545
@parasharrajat - Sounds good. I've looked into the issue a bit more and agree with your solution. @MitchExpensify can you hire @parasharrajat please? Thanks.

[2021-09-07 19:51] michaelhaxhiu commented on #4559
@NikkiWines should we assign @stitesExpensify so it's clear he's going to review this? Or were you planning to stay assigned and have Brandon give a buddy check?

[2021-09-07 19:58] stitesExpensify commented on #4559
Assigned myself since I will def be involved on this. Up to @NikkiWines if she wants to stay assigned :)

[2021-09-07 20:01] kevinksullivan commented on #5047
Sorry for the late notice here @Santhosh-Sellavel . We concluded internally that we aren't set on this as a final solution, so we're going to close this for now.

[2021-09-07 20:07] isagoico opened #5125 "Markdown - Copied text (with markdown) does not show the formatting when pasted"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send several messages each with a different markdown (bold, strike, italic, and hyperlink)
2. Copy and paste each of the messages in compose box

[2021-09-07 20:10] Jag96 commented on #5125
From the [slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1630818514450000), I don't think this is a regression and I believe it falls under item 3 of [this comment](https://github.com/Expensify/App/pull/4009#issuecomment-879534328), so we can let this go through the normal process.

[2021-09-07 20:14] mananjadhav commented on #5125
**Proposal**

The solution would be to convert the copied text to `markdownText`.

In `ContextMenuActions.js`, we update the `onPress` event for 'Copy to Clipboard'

![image](https://user-images.githubusercontent.com/3069065/132405158-fd631d58-549e-4d78-9e7e-730c7e8a6fde.png)

https://user-images.githubusercontent.com/3069065/132405228-a4182fb0-28a3-45da-8e08-8a30908442cc.mp4

[2021-09-07 20:21] kevinksullivan commented on #4616
Waiting for 7 days after deploying to prod + no regressions to pay.

[2021-09-07 20:23] michaelhaxhiu commented on #4559
I <3 nikki but she's been helping with NL delivery today, so let's keep assigned to you Brandon.

[2021-09-07 20:25] kevinksullivan commented on #5089
Posted - https://www.upwork.com/jobs/~0157a781e62e9922bf

[2021-09-07 20:50] michaelhaxhiu commented on #4902
Hired and updated price to $500 (to include bonus for self discovery).

[2021-09-07 20:51] #4748 closed

[2021-09-07 20:51] michaelhaxhiu commented on #4902
Done @stitesExpensify - will leave the next steps of reviewing the PR to you and @dklymenk

[2021-09-07 20:53] kevinksullivan commented on #3855
@parasharrajat can you submit an application so I can hire you?

https://www.upwork.com/ab/applicants/1426160653988712448/job-details

[2021-09-07 20:54] akshayasalvi commented on #5115
Considering that the issue is uncommon, I suggested the `maxLength` fix rather than the style change in the `IOUModal` and related child components.

[2021-09-07 21:38] stitesExpensify commented on #5104
Hmm why was the chase icon showed for @isagoico and not for @kavimuru though? It should always show the chase icon right? I think the bank account showing as `alberta bobbeth charleson` is correct. It's just the name of the account

[2021-09-07 21:39] stitesExpensify commented on #5104
I just added a new account and it has the chase icon so we should be good here right? @kavimuru did you test this on staging or prod?

[2021-09-07 21:41] Jag96 commented on #4995
I think for this one we should keep the same convention from https://github.com/Expensify/App/pull/5093, where:
1. Initially, the `passwordPage.newPasswordPrompt` message shows with grey text, even when the user hasn't typed anything
2. When the user starts typing, the `passwordPage.newPasswordPrompt` message shows w/ formError styles
3. Once the requirements are met, the `passwordPage.newPassword

[2021-09-07 21:43] isagoico commented on #5104
I'm not sure 🤔 We will retest this and let you know the results.

[2021-09-07 21:44] stitesExpensify commented on #5104
thanks!

[2021-09-07 21:47] isagoico commented on #5104
@stitesExpensify I'm currently blocked from loading `/bank-account/new` 😟 This is displayed in console.

![image](https://user-images.githubusercontent.com/44479856/132415144-086c0d58-b34c-4ea6-850d-35ab73822729.png)

[2021-09-07 21:48] jasperhuangg commented on #5125
@mananjadhav Your solution looks good to me! Let me get in touch with someone to get you a job posted on Upwork; feel free to submit a PR and request me for review when that happens!

[2021-09-07 21:50] mananjadhav commented on #4995
@Jag96 If you see my proposal https://github.com/Expensify/App/issues/4995#issuecomment-911916821 it does exactly the same.

I proposed two changes in the code:
1. Remove `this.state.isPasswordRequirementsVisible` check so that the hint is always visible
2. Add `!this.isValidPassword() && styles.formError` in styles so that formError style is shown when the password is invalid.

I hope it matches

[2021-09-07 21:51] jasperhuangg commented on #5034
@dklymenk Expensifail is just a domain we use for testing accounts, it's not really relevant here. I also don't really understand how this is possible, but I guess that's why we need to investigate.

[2021-09-07 21:53] mananjadhav commented on #5125
Thanks @jasperhuangg I'll do that.

[2021-09-07 21:53] jasperhuangg commented on #4910
Demoting to a weekly since this seems like an uncommon edge case.

[2021-09-07 21:55] stitesExpensify commented on #5104
Yeah that seems like a separate issue 😅 I had to add it through e.com

[2021-09-07 21:56] johnmlee101 commented on #4911
Oh! I think everything above looks good and should be good to toss this out for external contributions. I believe its contained to just long links if I'm not mistaken?

[2021-09-07 21:58] isagoico commented on #5104
I'll try adding the account from e.com. Also, that issue looks like a deploy blocker since it's not reproducible in prod. Opening the issue.
![image](https://user-images.githubusercontent.com/44479856/132416154-8e2be4e5-6439-4f99-9b66-a8075d90397e.png)

[2021-09-07 21:59] kevinksullivan commented on #4926
Validated that this happens and posted https://www.upwork.com/jobs/~01cca080514047d3d9

[2021-09-07 22:01] isagoico commented on #5104
It worked if I added the bank account via e.com. I did try adding it via NewDot and had the same behaviour as in the original comment.

@stitesExpensify can we mark this and the PR as pass?

![image](https://user-images.githubusercontent.com/44479856/132416381-52160d95-ddaa-4b1e-879d-68d63b8dcce1.png)

[2021-09-07 22:04] isagoico opened #5126 "Bank-Account - Unable to use the log into your bank option"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to /bank-account/new
2. Select the log in to your bank account option

## Expected Result:
Modal to select the bank account and log in s

[2021-09-07 22:04] kevinksullivan commented on #5026
Posted - https://www.upwork.com/jobs/~017df793db7d6ebcfe

[2021-09-07 22:05] stitesExpensify commented on #5104
hmm well it seems like we won't be able to figure this out until the other issue is fixed then haha. Thanks for looking into it!

[2021-09-07 22:05] OSBotify commented on #5126
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-07 22:11] johnmlee101 commented on #5082
Hey all, love the proactiveness here. Going to mark as external and review the two proposals.

[2021-09-07 22:15] johnmlee101 commented on #5082
I'm leaning towards @mateomorris 's implementation since TextLink already has the accessibilityRole defined as part of the component, so we don't have to add new attributes to do the same thing. However, the only downside is the weird piping highlighting, but I think that all TextLinks deal with that today? So it seems like a larger issue that should be addressed with that component, rather than t

[2021-09-07 22:15] johnmlee101 commented on #5082
Both implementations are great, and I appreciate you both coming up with solutions early on!

[2021-09-07 22:26] MitchExpensify commented on #5074
Love that @shawnborton

[2021-09-07 22:26] Jag96 commented on #4995
@mananjadhav it looks like your proposal results in the initial state of the message being shown w/ formError, rather than it starting off grey and only showing w/ formError once the user starts typing:

![image](https://user-images.githubusercontent.com/3981102/132418409-4adb75c8-d7c0-4f43-9688-77b50f13a395.png)

[2021-09-07 22:38] mananjadhav commented on #4995
You're right @Jag96.

**Updated Proposal**
Extending the proposal in the comment (https://github.com/Expensify/App/issues/4995#issuecomment-911916821), I'll update the check for the form style with the following:

[code]

We would still remove the `isPasswordRequirementsVisible` as it won't be used.

and we can move `this.state.newPassword && !this.isValidPassword()` check into a function say `isI

[2021-09-07 22:43] luacmartins commented on #5089
@Expensify/design do we have a preference for the `Workspace` icon color here?

[2021-09-07 22:45] Jag96 commented on #4995
@mananjadhav that sounds good to me, I like the improvement of moving the state check into a new `isInvalidPassword` function! @puneetlath can you please hire @mananjadhav for this job once you create the Upwork post? @mananjadhav feel free to get started on a PR once you've been hired in Upwork.

[2021-09-07 22:50] shawnborton commented on #5089
I like the idea of keeping it green for now, to match the global create menu.

[2021-09-07 22:51] isagoico opened #5127 "Attachments - .pages file is converted to PDF"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send a .pages file

## Expected Result:
.pages file should be sent with the same file format

## Actual Result:
Sen

[2021-09-07 23:02] PrashantMangukiya commented on #4995
Hi @Jag96 and @puneetlath  I already suggested this condition from beginning that  shows code as under,  As you can see within https://github.com/Expensify/App/issues/4995#issuecomment-912573194

[code]

Should I submit updated proposal from my side based on the suggested steps mentioned in https://github.com/Expensify/App/issues/4995#issuecomment-914647313 ?  If already decided to go within other

[2021-09-07 23:03] rushatgabhane commented on #4355
Hi, I just got relieved of my obligation so I can take this issue if you like.

## Proposal
Looks like we're gonna be using `react-native-haptic-feedback`.

For iOS: `react-native-haptic-feedback` already has the [selection ](https://developer.apple.com/design/human-interface-guidelines/ios/user-interaction/haptics/#selection)method for iOS implemented [(source)](https://github.com/junina-de/react

[2021-09-07 23:05] mallenexpensify commented on #4904
@Santhosh-Sellavel , @alex-mechler is out til tomorrow.  I bumped to weekly since this likely isn't a 'quick fix' type issue.
[This Slack post ](https://expensify.slack.com/archives/C01GTK53T8Q/p1630857084456400)is also related to second logins.

Alex, at a high level, do issues involving secondary logins need to be worked on internally?

[2021-09-07 23:06] marcaaron commented on #5075
Just following up here. Ended up implementing something similar to what we have in Mobile-Expensify and hid it in the user preferences here:

![2021-09-07_13-01-18](https://user-images.githubusercontent.com/32969087/132421260-75fc1693-25ab-4672-9080-6dd612ee3ead.png)

It should only show on the Google Play / Test Flight versions of the app as it's using the environment checker + basically just for

[2021-09-07 23:07] Jag96 commented on #4995
@PrashantMangukiya your initial proposal did have that included, but it was also hiding the message after the user went to the confirm field. Both initial proposals didn't match the behavior posted in [this comment](https://github.com/Expensify/App/issues/4995#issuecomment-914647313) (because the ideal behavior wasn't listed initially), so in this case, I gave the job to @mananjadhav since he post

[2021-09-07 23:10] PrashantMangukiya commented on #4995
Hi @Jag96 Thanks for the updates. Its ok no problem. I will not submit updated proposal now. @mananjadhav congrats..

[2021-09-07 23:11] puneetlath commented on #4995
Done!

[2021-09-07 23:16] rushatgabhane commented on #4355
Hi, I just got relieved of my obligation so I can take this issue if you like.

## Proposal
Looks like we're gonna be using `react-native-haptic-feedback`.

### For iOS:
`react-native-haptic-feedback` already has [selection ](https://developer.apple.com/design/human-interface-guidelines/ios/user-interaction/haptics/#selection), which is the desired method implemented. ([source](https://github.com/

[2021-09-07 23:17] arielgreen commented on #4911
Posted to Upwork here: https://www.upwork.com/jobs/~0113b0cbb1016c18de

[2021-09-07 23:18] puneetlath commented on #5021
Sorry, just to clarify, how is this issue different than https://github.com/Expensify/App/issues/4723?

[2021-09-07 23:18] kevinksullivan commented on #5074
I think that makes sense too, given the small space we're working with. Also, for the time being at least, there are only 5 steps, so let's make sure we use 5 instead of 6. Unlike the OldDot flow shown below, there will not be an "Enable" step yet, since every user adding a VBA on NewDot is doing so to enable the Expensify Card.

![image](https://user-images.githubusercontent.com/22508290/13242208

[2021-09-07 23:21] mallenexpensify commented on #4904
Also... I did this test today which I imagine will be common for users.
- Test account requests money from my personal/secondary login email.
- Once request is sent, my work/primary email shows and not my personal email
-

[2021-09-07 23:26] mallenexpensify commented on #5127
@kadiealexander added you as CM because we need to pay @akshayasalvi for reporting the issue once it is closed.
No action needed til then

[2021-09-07 23:28] shawnborton commented on #5074
Sounds good!

[2021-09-07 23:28] luacmartins commented on #5089
@thesahindia your proposal looks good. It's just worth mentioning that we already have a style for that `iconSuccessFill` though. You can put up a PR for it.

[2021-09-07 23:29] shawnborton commented on #5075
Here for the design eyes - can we get some more padding below the language selector and above the test preferences section? Thanks!

[2021-09-07 23:29] shawnborton commented on #5075
Also I think the switch and the label to the left should be vertically centered.

[2021-09-08 00:03] Jag96 commented on #5076
@jliexpensify good call, updated!

[2021-09-08 00:06] Jag96 commented on #4855
@meetmangukiya that solution looks like it works, and I don't see any obvious regressions from that change, your proposal looks good to me. @michaelhaxhiu we're good to hire @meetmangukiya for this one! @meetmangukiya feel free to get started on a PR!

[2021-09-08 00:09] parasharrajat commented on #4997
I am on vacation. Back on 8.

[2021-09-08 00:11] #4497 closed

[2021-09-08 00:13] jliexpensify commented on #5076
Posted:

Internal - https://www.upwork.com/ab/applicants/1435395558473867264/job-details
External - https://www.upwork.com/jobs/~017c7eb541afb745c2

[2021-09-08 00:16] akshayasalvi commented on #5076
Is this duplicate of https://github.com/Expensify/App/issues/4737#issuecomment-913976699

[2021-09-08 00:19] akshayasalvi commented on #5018
@mallenexpensify Will this also require similar External action like you did for #5127 ?

[2021-09-08 00:19] Jag96 commented on #5076
Ah, good catch @akshayasalvi! Yes, I think we can close this one then since it's a dupe. @jliexpensify can you please close out the Upwork job?

[2021-09-08 00:19] #5076 closed

[2021-09-08 00:26] Jag96 commented on #5026
@akshayasalvi good find, your proposal (without updating the margin since it's already in progress) looks good to me! @kevinksullivan we're good to hire @akshayasalvi for this job, @akshayasalvi feel free to get started on a PR once you're hired in Upwork!

[2021-09-08 00:26] kevinksullivan opened #5128 "Chjange"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2021-09-08 00:33] marcaaron commented on #4857
Alright so I still **can't reproduce this** but have some new information.

Initially I was sold on the theory that it happens because we are calling `fetchAllReports()` multiple times. I tested this out by just copying and pasting it a bunch of times and then setting a password on an account that has never signed in via NewDot and was able to emulate what would happen if we did call this method m

[2021-09-08 00:34] kevinksullivan opened #5129 "Change "Beneficial Owners" to "Additional Information" in VBA flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem

Following up on [this thread](https://expensify.slack.com/archives/C020EPP9B9A/p1630695869197400) on the VBA flow regarding the Beneficial Owners step:

![ima

[2021-09-08 00:36] kevinksullivan commented on #5129
Actually, since this is a copy change I'm going to take to e/e

[2021-09-08 00:36] #5129 closed

[2021-09-08 00:38] mallenexpensify commented on #4210
Hird @AlfredoAlc in Upwork!

[2021-09-08 00:41] Jag96 commented on #4663
Fix has been on production for 7 days without regression, paid + bonus!

[2021-09-08 00:41] #4663 closed

[2021-09-08 00:55] mallenexpensify commented on #4615
Posted in Slack, let's see what others think
https://expensify.slack.com/archives/C01GTK53T8Q/p1631062473055500

[2021-09-08 01:03] mallenexpensify commented on #5090
Unassigned Ioni, he's out this week, lucky you @roryabraham!

[2021-09-08 01:03] thienlnam commented on #4210
@kavimuru could you please give this a re-test?  You'll have to try with newly uploaded profile images instead of existing ones

[2021-09-08 01:23] marcaaron commented on #4857
Haha so this one just keeps getting more fun :) Have been scanning the logs looking for why a report might be inaccessible and then noticed that the particular report Kevin tries and fails to access with `kevin@citybiking.us` is actually the group DM between myself, Kevin, and Mitch.

Which makes me think that this is very likely caused by old data sticking around in Onyx. Here's how it might go:

[2021-09-08 01:24] kavimuru commented on #4210
@thienlnam I uploaded a new profile image, and not able to reproduce this issue in 1.0.94-0

https://user-images.githubusercontent.com/43996225/132430754-9aa69bed-63d2-41fa-a394-007da865d648.MP4

[2021-09-08 01:29] Santhosh-Sellavel commented on #5021
@puneetlath it same there is some PR/issue mixup in #4723. Triage was not done properly so raised as a new one!

[2021-09-08 01:31] kevinksullivan commented on #5071
I stepped in as copy person for this one and made a few changes:
- Removed all other URLs aside from the validation link, because it gets confusing seeing a bunch of URLs when ultimately there is one CTA
- Removed "New", since this user has signed up for Expensify, and they are validating their account across both platforms. I don't think we need to specify this here.

[2021-09-08 01:36] #5128 closed

[2021-09-08 03:33] Christinadobrzyn commented on #4273
not overdue- working on a solution

[2021-09-08 03:35] kadiealexander commented on #5127
Created Upwork post here (https://www.upwork.com/jobs/~01faa456dd6469dae6)and sent an offer to @akshayasalvi, will pay once the issue is resolved. 😊

[2021-09-08 03:37] kadiealexander commented on #5018
@mallenexpensify if we decide payment is required for both, assign me and I'll arrange this through the same Upwork post as #5127.

[2021-09-08 04:27] ctkochan22 commented on #5088
For this one, it says you made it to the validate step?

The video makes it seem that bank account only made it to the VERIFYING state. And the code suggests that message is due to a Requestor error

[2021-09-08 04:29] kadiealexander commented on #4696
Paid with bonus today (7 days after deployment to production).

[2021-09-08 04:29] #4696 closed

[2021-09-08 05:07] JmillsExpensify commented on #5074
Oh, I love the small subheader below the modal title! ❤️

[2021-09-08 05:11] ctkochan22 commented on #5088
I say this because I wanted to know, what happens if you refresh your page? Or view the bank account form old dot, is it still in validate?

Going to look into the logs and the account.

[2021-09-08 05:21] mananjadhav commented on #4264
I ran their demo example and it looks okay. I'll now start with Expensify and close it by the weekend. Should have something to test by then with Android.

[2021-09-08 05:41] Christinadobrzyn commented on #4646
PR is merged for over 7 days - paid @parasharrajat for the job. Thanks! 🎉

[2021-09-08 05:41] Christinadobrzyn commented on #4646
@Santhosh-Sellavel - thanks for raising the question about getting paid for this related [issue](https://github.com/Expensify/App/issues/4668). I will reach out to my team about this and follow up with you in issue https://github.com/Expensify/App/issues/4668.

[2021-09-08 05:51] #4646 closed

[2021-09-08 05:56] meetmangukiya commented on #4911
I am able to fix this by commenting out the `lineHeight` css in `baseFontStyle` https://github.com/Expensify/App/blob/1f332a6ca3bac8fa3b747a0348a9af40c8a60cfa/src/styles/styles.js#L2133 not sure why. We could do that unless we have any reason to hardcode to 20 and not use the default `lineHeight`.

## Proposal
Remove `lineHeight` styling from `baseFontStyle`. https://github.com/Expensify/App/blob/

[2021-09-08 06:00] MonilBhavsar commented on #5126
It's not reproducible on dev, but can see on staging for same version. Looking into it

[2021-09-08 06:11] JmillsExpensify commented on #4498
Yes, closed out on Upwork. Please message me if you have any other questions! I'm also going to close this issue out since it's still open due to an iOS deploy issue not related to this PR.

[2021-09-08 06:11] #4498 closed

[2021-09-08 06:14] JmillsExpensify commented on #5082
@mateomorris Upwork job posted here! https://www.upwork.com/jobs/~015732100d25e1724d

[2021-09-08 06:18] JmillsExpensify commented on #4744
Closed out the Upwork job, as PR has been merged for 7 days and no specific issues with this PR. Thank you @akshayasalvi!

[2021-09-08 06:18] #4744 closed

[2021-09-08 06:20] parasharrajat commented on #5125
I don't think we should do this. More here https://expensify.slack.com/archives/C01GTK53T8Q/p1631081985061300?thread_ts=1630818514.450000&cid=C01GTK53T8Q

[2021-09-08 06:22] JmillsExpensify commented on #4505
Let's close the issue for now and we can revisit if it's still an issue in the future. Thanks everyone!

[2021-09-08 06:22] #4505 closed

[2021-09-08 07:09] MonilBhavsar commented on #5126
Looks like we updated CSP and may be that caused this issue, Asked in [this](https://expensify.slack.com/archives/C094TGUTZ/p1630612125314200) slack thread for confirmation from infra team

[2021-09-08 07:09] Christinadobrzyn commented on #4625
7 - day regression phase complete - paid @kakajann in Upwork - closed the job in upwork.

Closing this 🎉

[2021-09-08 07:09] #4625 closed

[2021-09-08 07:29] akshayasalvi commented on #4744
Thank you @JmillsExpensify

[2021-09-08 08:21] parasharrajat commented on #4500
cc: @kadiealexander Out of nowhere. Sorry.

[2021-09-08 09:04] thesahindia commented on #4498
Thanks @JmillsExpensify, and it looks like no bonus is paid for this issue. Can you please check.

[2021-09-08 09:33] MitchExpensify commented on #5081
Let's go internal! Easy fix and quicker for us to grab

[2021-09-08 10:00] parasharrajat commented on #4669
@dylanexpensify Any update for me on the Upwork job?

[2021-09-08 10:02] pecanoro commented on #5106
I tested it and in my case, I always get an extra one, so I can reproduce it. Assigning external label.

[2021-09-08 10:30] mountiny commented on #4888
As per discussion with @tgolen in Slack, I will take over this issue as CME 🎉  (one of my first, excited to work with you @mananjadhav 😊 )

We have clarified internally, what the problem was and as of now, we are kind of forced to choose not ideal solution _now_ just to make copy/pasting work (as more complex solution is being worked on for next versions of the app)

Since currently we are not sup

[2021-09-08 10:36] anthony-hull commented on #2734
Yeah sorry I'm on holiday until Monday :)
I have the code ready just still need to test on Android and Desktop

[2021-09-08 11:11] Hanaffi commented on #4971
# Proposal
It would be great to pass signals between tabs. There are a couple of methods, I want to tell you about using localStorage.
You can attach a listener to a storage event (fired when storage item is changed) and send a logout-event signal.

`localStorage.setItem('logout-event', 'logout' + Math.random());`

Every other tab will get it with a listener.

[code]

We could also make an ajax re

[2021-09-08 11:20] mananjadhav commented on #4888
Thanks, @mountiny in taking this time and making an evaluated decision. I just have to strip some code from my previous proposal. The rest of it will work anyway. I'll update my proposal within a few hours

[2021-09-08 11:28] Julesssss opened #5132 "Chat report disappears from LHN when user settles an IOU"
CC @trjExpensify

When a user settles an IOU, the chat report disappears from the LHN (and appears at the very bottom of the LHN list).

https://user-images.githubusercontent.com/10736861/132501344-14504db7-4af9-453b-abdf-92c96ea22969.mov

___

## Action Performed:
- As user A, create an IOU request with user B
- As user B, navigate to the IOU Details page and settle the IOU

## Expected Result:
-

[2021-09-08 11:30] Julesssss commented on #5132
Hey @isagoico, is this something that we specifically test for? Perhaps we don't have a test case for this as we don't expect it to ever disappear? 😄

[2021-09-08 12:21] #5126 closed

[2021-09-08 12:40] mananjadhav commented on #5125
@jasperhuangg  @Jag96  Before I start on this, I would recommend checking @parasharrajat's proposal. It seems there's some old discussion and both are in different directions. You guys can evaluate which one to go ahead and then accordingly one of us will submit the PR.

[2021-09-08 13:23] aman-atg commented on #4491
@Beamanator, I went through the slack-thread but I don't think anything was recommended regarding the wording.

I think `Your workspace was successfully saved` looks good.
For profile it's `Your profile was successfully saved`

[2021-09-08 13:37] mountiny commented on #5092
@PrashantMangukiya Hi 👋 that is an amazing investigation and description of the problem.

I believe considering **_Solution 1_** should be good enough, but there is one thing I would want us to consider as well. We are now talking about hypothetical and extreme dimensions, but in case of extremely tall image (ie. screenshot of entire long page), we could end up with very narrow image preview, whic

[2021-09-08 13:46] PrashantMangukiya commented on #5092
Hi @mountiny Thank you for the message.

I think what you suggest 40px min width cap is a good point. Not sure why I missed that point after doing this details level research. Any way good catch from your side.

Let met update my proposal to incorporate it. I will update you as soon as incorporated within few minutes. So you can proceed further to post job on Upwork. Thank you.

[2021-09-08 13:53] mananjadhav commented on #4888
@mountiny Glad to be working with you.

**Updated Proposal**
Here's what is expected now:
1. A single Image/File/Emoji will be handled as an attachment along with the current popup and then Send button
2. A combination of Text + Image/Emoji will retain the text portion only. We'll strip the image/emoji part from the message.

Here's what I'll propose, in `TextInputFocusable`

[code]

Basically, th

[2021-09-08 14:04] mountiny commented on #5092
@PrashantMangukiya Great! Thank you!

After watching the screenshare video once more, I have noticed the picture has still been kind of blurry. I am not sure if it is the picture itself. Could you please make sure with some different sharp image, that this proposed solution works as expected and share a screenshot of the thumbnail and the original picture too. Possibly comparison between thumbnail

[2021-09-08 14:11] isagoico commented on #5132
🤯 it's not something that we specifically test for as normally the tester would not have to navigate away from the conversation when testing IOU (It's usually tested using 2 devices or 2 windows) But I'll ask if someone has noticed this during testing.

[2021-09-08 14:19] isagoico commented on #5104
@stitesExpensify I tested this again (since https://github.com/Expensify/App/issues/5126 was fixed) and got the same behaviour. Interestingly I did see the Chase icon for a few seconds and then it changed to the default icon. I'll try to get it on video

![image](https://user-images.githubusercontent.com/44479856/132526611-aed09077-369c-4e66-8cd9-cc3f65c8311e.png)

[2021-09-08 14:25] flodnv commented on #5071
Thanks @kevinksullivan ! I assume we will change this again for n8?

[2021-09-08 14:26] PrashantMangukiya commented on #5092
@mountiny Thank you for the message.

Sample image used to reproduce this issue consist text based information so when thumbnail generated at server side blur may be introduce due to text info within image. But we can not do assumption, So let me do some more detail investigation and make sure there is not any hidden issue other place  and thumbnail is rendering as expected size.

I will also do t

[2021-09-08 14:31] flodnv commented on #5071
`Your magic sign in link for new.expensify.com` is the current subject. I am changing it to `Your magic sign in link for Expensify`. LMK if you want something else.

[2021-09-08 14:35] flodnv commented on #5071
PR is up

[2021-09-08 14:44] MonilBhavsar commented on #4209
I found the issue, working on it.

[2021-09-08 14:46] bfitzexpensify commented on #5092
@PrashantMangukiya Job post on Upwork is [here](https://www.upwork.com/ab/applicants/1435302404640989184/job-details).

[2021-09-08 14:55] TomatoToaster commented on #3245
Still haven't gotten to it, but not a priority I'd still say.

[2021-09-08 14:58] PrashantMangukiya commented on #5092
@bfitzexpensify I can not see job although logged in to upwork. It shows below screen. It looks like this is internal/private job etc. Can you invite me on this job, may be it solve the problem. My upwork profile is https://www.upwork.com/freelancers/~01c718889ed7821f82

<img width="1092" alt="Screenshot 2021-09-08 at 8 22 33 PM" src="https://user-images.githubusercontent.com/7823358/132533061-c94

[2021-09-08 15:02] Beamanator commented on #4491
I was thinking we could use Horus's recommendation to "follow the same behavior as the Edit Profile screen", but it would be nice to get @shawnborton 's opinion before we go for anything :D

[2021-09-08 15:08] MitchExpensify commented on #5068
Got it! Thank you both for clarifying.

[2021-09-08 15:16] isagoico opened #5134 "Remove option to split bills in rooms"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a #announce room
2. Click on the attachment button

## Expected Result:
There should not be an option for splitting bills.

## Actual

[2021-09-08 15:17] MitchExpensify commented on #5068
Making external myself!

[2021-09-08 15:21] MitchExpensify commented on #5068
[Upwork job](https://www.upwork.com/jobs/~01010370070cce8ed0)

[2021-09-08 15:22] MTN718 commented on #3901
@NicMendonca @roryabraham any update on upwork?

[2021-09-08 15:26] MitchExpensify commented on #4993
Hired!

[2021-09-08 15:26] bfitzexpensify commented on #5092
Ah you're right! Sorry about that — [here](https://www.upwork.com/jobs/~018779cfcb77693e6d) is the right link.

[2021-09-08 15:28] MitchExpensify commented on #4816
Ah whoops, thanks for reassigning! Noted

[2021-09-08 15:31] MitchExpensify commented on #4545
Hire offer sent @AndrewGable!

[2021-09-08 15:44] MitchExpensify commented on #4500
Hey @parasharrajat ! Sorry for the delay, Lauren is out of office right now. I can jump in :)

Hire offer sent, please accept and I will pay for job completion. To confirm, did you identify this issue? It appears so but just making sure

[2021-09-08 15:46] MitchExpensify commented on #5106
[Upwork job](https://www.upwork.com/jobs/~01e0125ae25005c3b7)

[2021-09-08 15:52] roryabraham commented on #5126
Confirmed that this is fixed on staging, checking it off on the checklist.

[2021-09-08 15:53] roryabraham commented on #5086
Confirmed that https://github.com/Expensify/App/issues/5126 is fixed on staging, checking it off on the checklist.

[2021-09-08 15:59] kidroca commented on #5106
I think this is related to #4273 and the problem I've found with scrolling up: https://github.com/Expensify/App/issues/4273#issuecomment-912536342

The steps to recreate are pretty much the same: https://github.com/Expensify/App/issues/4273#issuecomment-912840009, with the addition of marking a comment as unread

[2021-09-08 16:00] roryabraham commented on #5104
So this issue clearly shows that https://github.com/Expensify/App/pull/4653 did not work as expected, but that said it's not technically a "regression", because the result (not showing bank account logos) is basically the same as what we had before. Therefore I'm not going to treat this as a deploy blocker, but we should not consider https://github.com/Expensify/App/issues/4398 as completed until

[2021-09-08 16:01] roryabraham commented on #4398
Hey y'all, just dropping in to note that https://github.com/Expensify/App/issues/5104 demonstrates that the PR for this issue did not work as expected. While it's not technically a regression, we should stay any payment for this issue until after https://github.com/Expensify/App/issues/5104 has been resolved.

[2021-09-08 16:03] harshmanwani commented on #5106
I reproduced it on stage and this looked like a similar problem I had received in a previous project.

The count is wrong due to the index we are splicing it from in the chat message list. or if that's not the case, probable the issue in the looping over function.

Sending a proposal on the Upwork listing to work on the fix right away.

[2021-09-08 16:03] roryabraham commented on #5086
Neither https://github.com/Expensify/App/pull/4653 nor https://github.com/Expensify/App/issues/5104 passed QA, but they will not be treated as deploy-blockers at this time. So I'm checking them off.

[2021-09-08 16:04] adelekennedy commented on #4673
@thesahindiahas been paid via Upwork, the contract has been completed and the job is closed!

[2021-09-08 16:04] #4673 closed

[2021-09-08 16:05] roryabraham commented on #5105
@cead22 Do you have any insights as to what may have gone wrong here? This is the last deploy blocker for New Expensify atm.

[2021-09-08 16:13] michaelhaxhiu commented on #4398
@Santhosh-Sellavel may I ask what amount you would consider fair for the time invested thus far?

Thanks for the update @roryabraham.

[2021-09-08 16:13] johnmlee101 commented on #5134
I... believe that this should check `isDefaultRoom` around https://github.com/Expensify/Expensify.cash/blob/b8a3a578ec6d83834520c2bd933e4d38ed63a272/src/pages/home/report/ReportActionCompose.js#L519-L532

Should be a super easy fix. Tossing to external.

[2021-09-08 16:14] roryabraham commented on #4748
The #deployer slack room is a good place to ask deploy-related questions such as this. In the case of [this deploy comment](https://github.com/Expensify/App/issues/4748#issuecomment-909794115), we were able to finish deploying `1.0.90-2` to production manually. So yeah this was deployed on all platforms 8 days ago.

[2021-09-08 16:16] ctkochan22 commented on #5105
I think its this PR: https://github.com/Expensify/App/pull/4789

1. Manage card button is here - https://github.com/Expensify/App/blob/18031207e59c033c2343afd2f3dbedffb1cdba24/src/pages/workspace/WorkspaceCardPage.js#L96
2. Runs `openSignedInLink()` here - https://github.com/Expensify/App/blob/18031207e59c033c2343afd2f3dbedffb1cdba24/src/pages/workspace/WorkspaceCardPage.js#L107
3. And in this [PR

[2021-09-08 16:16] thienlnam commented on #4210
Awesome! @mallenexpensify task is considered completed, feel free to close the issue after paying it out.

[2021-09-08 16:19] ctkochan22 commented on #5105
@tgolen as the reviewer can you buddy check me here?

[2021-09-08 16:22] parasharrajat commented on #4500
I submitted the PR which solved this issue but multiple issues were found with Onyx afterward thus a decision was taken to revert to another PR which caused all of those issues thus my PR became unnecessary and thus was also reverted. But PR did solve the issue.

[2021-09-08 16:26] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-08 16:26] botify commented on #4484
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-08 16:26] roryabraham commented on #5105
Is the problem with the URL just that it's missing `?` between the `validateCode` and `exitTo`?

[2021-09-08 16:29] tgolen commented on #5105
I think that's it, Rory. Yep! Looks like that was a bug introduced when the logic was moved out of `ROUTES.js`

[2021-09-08 16:30] ctkochan22 commented on #5105
ahh yep that looks like its it. So should we just fix it then instead?

[2021-09-08 16:32] ctkochan22 commented on #5105
Looks like we were missing the `/` originally: https://github.com/Expensify/App/pull/4789/files#diff-fed84caebc7e71b17fe9ac17cd04c5ec5aa8ce8a9f2ddc2ad33eb77253560a2eL91

[2021-09-08 16:35] johnmlee101 commented on #4911
I'm curious @meetmangukiya do you know why commenting that out fixes the issue? Is there another way for us to make sure word wrapping with urls works well?

[2021-09-08 16:43] deetergp commented on #4115
Still no internal takers on https://github.com/Expensify/Expensify/issues/173677. I may pick it up before week's end if nobody beats me to it.

[2021-09-08 16:50] tgolen commented on #5105
Hm, I still think it's missing the `?`.

Before:
`const exitToURL = exitTo ? `?exitTo=${exitTo}` : '';`

After:
`const exitToURL = url ? `exitTo=${url}` : '';`

[2021-09-08 16:55] Jag96 commented on #5125
@parasharrajat brings up a great point, I agree that we don't want to create copy/paste issues for pasting outside of the app.

From the slack thread:

Both Android and IOS understands MIME Types same as web. This will allow pasting html into gmail and text on Whatsapp (it does not take html AFAIK).
We will have to extend the https://www.npmjs.com/package/@react-native-community/clipboard lib to a

[2021-09-08 16:56] stitesExpensify commented on #5104
I just tested this and I think that https://github.com/Expensify/App/issues/4398 is actually working as intended. The problem is that when adding the bank via newDot we are not saving the bankName anywhere. If the bankName exists, then the PR works fine.

[2021-09-08 16:58] PrashantMangukiya commented on #5092
Hi @mountiny ,

I did more investigation on this issue using extra long color image. Here is [Sample1](https://user-images.githubusercontent.com/7823358/132546765-0e41feb9-a06f-49c4-b3ba-2d52e96f87ae.jpg) and [Sample2](https://user-images.githubusercontent.com/7823358/132547127-bd3f124b-955e-4288-b915-02a30353f10c.jpg) image used for this. I will suggest to  @mountiny, @isagoico, and @bfitzexpensi

[2021-09-08 17:01] mallenexpensify commented on #4435
Paid @parasharrajat in Upwork

[2021-09-08 17:01] #4435 closed

[2021-09-08 17:03] mallenexpensify commented on #2682
Gonna close this since it's a few months old

[2021-09-08 17:03] #2682 closed

[2021-09-08 17:03] NicMendonca commented on #3901
paid!

[2021-09-08 17:03] #3901 closed

[2021-09-08 17:04] mallenexpensify commented on #3743
Getting closer... https://github.com/Expensify/App/issues/3737#issuecomment-913728569

[2021-09-08 17:05] ctkochan22 commented on #5105
:face-palm: yeah that was it.

When i'm getting it tested locally, its directing me to secure.expensify.com. But thats got to be some weird local config issue right? The code makes no sense that it would point there:
![lDnhiXjczz](https://user-images.githubusercontent.com/12980144/132553322-d72c5cd2-a279-45d2-98a7-a068b78663d9.gif)

[2021-09-08 17:07] Julesssss commented on #4007
I have just built the release build and have started my review, again sorry for the delay here 😔

[2021-09-08 17:08] mallenexpensify commented on #4111
This job is completed. Paid @aman-atg  in Upwork

[2021-09-08 17:08] #4111 closed

[2021-09-08 17:09] joelbettner commented on #5027
Sorry. I was OOO the past two days. This looks like it has what it needs to be worked on, and can be worked on by an external contributor.

[2021-09-08 17:11] mallenexpensify commented on #4210
Paid @AlfredoAlc in Upwork! Thanks for the help

[2021-09-08 17:11] #4210 closed

[2021-09-08 17:14] mallenexpensify commented on #4325
Forgot to close last week...

[2021-09-08 17:14] #4325 closed

[2021-09-08 17:14] PrashantMangukiya commented on #5134
@isagoico, @johnmlee101 I am not able to search announce room from new chat window. Can any one guide me how to add announce room, So I can reproduce this issue. Thank you for your time in advanced.

[2021-09-08 17:15] tgolen commented on #5105
Yeah, sounds like maybe some of your config files don't have the right settings. Sorry,  I'm having some issues hunting down the constant for those URLs, but I think that's all it is.

[2021-09-08 17:16] joelbettner commented on #5102
@PrashantMangukiya I think the second solution you have to the problem is the easiest to follow.

I'll label this as External.

[2021-09-08 17:17] mallenexpensify commented on #4308
Forgot to close....

[2021-09-08 17:17] #4308 closed

[2021-09-08 17:17] stitesExpensify commented on #4398
I disagree that this did not work as expected. The problem is how we are saving bank accounts. If the bankName is actually in the saved bank account data we show the icon, otherwise we show the default.

In the case Rory linked there is no bank account name saved, so the default bank icon is expected.

[2021-09-08 17:18] mallenexpensify commented on #4417
Dropped note in PR

[2021-09-08 17:19] #4434 closed

[2021-09-08 17:20] #4489 closed

[2021-09-08 17:20] isagoico commented on #5134
You have to create a workspace and add at least 1 member. Once that is done, you have to search for #announce and it should appear. Let me know if that works for you :)

[2021-09-08 17:26] mallenexpensify commented on #4490
Job posted - https://www.upwork.com/jobs/~018a28b490d8741d12
@timszot , can you review @aman-atg 's proposal here https://github.com/Expensify/App/issues/4490#issuecomment-894612560

[2021-09-08 17:29] mananjadhav commented on #4490
I'd like to highlight that I was asked to resolve this as a part of this PR.

https://github.com/Expensify/App/pull/4801

[2021-09-08 17:32] isagoico commented on #5092
Yep, I'm also able to reproduce that.
![image](https://user-images.githubusercontent.com/44479856/132557016-dbceabd5-3e9a-4174-a855-168e9614cf7c.png)

[2021-09-08 17:35] AndrewGable commented on #4743
If you can confirm it still exists we can reopen @anthony-hull, thanks!

[2021-09-08 17:35] #4743 closed

[2021-09-08 17:44] Jag96 commented on #5125
Thanks for clarifying, that all sounds good. For the control + c copy and your linked comment to point 3, would the existing behavior remain the same after your change? If so, I think the above plan is fine, since we [do not want to allow users to enter HTML](https://expensify.slack.com/archives/C01GTK53T8Q/p1626899493109100) in the message field. Updating control + c to work will require a larger

[2021-09-08 17:46] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-08 17:46] botify commented on #4417
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-08 17:55] anthony-hull commented on #4743
I'm on holiday until Monday.
I'll check then :)

[2021-09-08 18:02] timszot commented on #4490
Looks good to me! @mallenexpensify let's hire @aman-atg for his proposal.

[2021-09-08 18:10] parasharrajat commented on #4993
@roryabraham I am picking this up now. What kind of refactor are you asking here?
1. UI|JSX.
2. methods logic.
3. Or Both. Overall sight says that A common component can be made which can be adjusted based on props.
 for example, a prop for choosing option method `getNewChatOptions | getNewGroupOptions` etc.

Looking for a direction. Thank you.

[2021-09-08 18:13] alex-mechler commented on #4904
Thanks for bumping that @mallenexpensify!

Based on [the thread where we discussed](https://expensify.slack.com/archives/C01GTK53T8Q/p1630519530290200) this issue, this doesn't seem to be high priority. We did not come up with use cases where this is critical to have, so I will be closing out this issue for now. Its possible we do this in the future, its just not a priority now.

---

It depends o

[2021-09-08 18:13] #4904 closed

[2021-09-08 18:13] PrashantMangukiya commented on #5134
@isagoico I created workspace and added 1 member. Thereafter I can see #announce thanks.

In my case when I go to announce room and click attachment button it shows me Request Money button instead of Split Bill. I am new to understand the split bill related logic etc., so  wandering I am doing something wrong to reproduce the issue.  I am using V1.0.94-0

Below is the screenshot.

<img width="1299

[2021-09-08 18:16] ctkochan22 commented on #5105
Tested on staging we are good

![gYQ3XJz4EY](https://user-images.githubusercontent.com/12980144/132562946-59f64fec-a994-48c9-802b-60d97ef18bfa.gif)

[2021-09-08 18:17] ctkochan22 commented on #5086
Pushed a CP, we should be good.

[2021-09-08 18:17] OSBotify commented on #5086
Sorry, only members of @Expensify/Mobile-Deployers can close deploy checklists.
Reopening!

[2021-09-08 18:20] PrashantMangukiya commented on #5102
@joelbettner Thank you for review the proposed solution. I am wandering that if my solution accepted  then who will offer me to submit proposal on upwork, because at present no one Assignees on this issue.

[2021-09-08 18:21] ctkochan22 commented on #5086
Oops sorry.

[2021-09-08 18:35] mallenexpensify commented on #4615
@mountiny and I agree we should update this to:
1. When someone is composing a text and there are characters in the compose box, 'do nothing'.
2. If a users leaves a chat and there are characters still in the box (aka a draft message), then move it up to the top of LHN. That way it wouldn't 'flash' and distract a user when they're in the middle of composing a message. I don't think there's much va

[2021-09-08 18:41] nickmurray47 commented on #4657
There don't seem to be any more reports of this bug at the time. I'm going to put the label as monthly and put the issue back into the pool.

[2021-09-08 19:02] isagoico commented on #5134
mmmm Maybe it shows request money since there are only 2 members in the room 🤔 I will try again on my side

[2021-09-08 19:10] thienlnam commented on #4667
Payment should be issued today since it doesn't appear to have caused any regressions

[2021-09-08 19:11] NicMendonca commented on #4896
All set: https://www.upwork.com/jobs/~01b9ba3ee6baa3a61b

[2021-09-08 19:14] NicMendonca commented on #4656
Anyone got an update for this one? 👋

[2021-09-08 19:15] marcaaron commented on #4656
Not really AFAIK we are still waiting for specific proposals.

[2021-09-08 19:16] marcaaron commented on #4656
Let's increase the price?

[2021-09-08 19:24] jboniface commented on #4885
PR is still in progress

[2021-09-08 19:27] jboniface commented on #2985
@roryabraham can we get an update here, please?

[2021-09-08 19:30] ctkochan22 opened #5140 "Onfido's QR code is not appearing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

**Reproduction steps:**
1. Go to new.dot's `/bank-account`
2. This should open up the bank account flow
3. Add numbers manually, `111000025 ` and a

[2021-09-08 19:37] TomatoToaster commented on #4817
I'm going to unassign myself, I don't think there's any more action to take on this issue right? Do we want to make this monthly, since it isn't a priority at the moment?

[2021-09-08 19:57] aldo-expensify commented on #4748
Thanks @roryabraham , will ask there next time :)

[2021-09-08 20:04] isagoico opened #5142 "[HOLD for payment 2022-01-11] [$1000] Copying messages with markdown via CTRL + C does not keep formatting"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Send several messages each with a different markdown (bold, strike, italic, and hyperlink)
2. Copy and paste each of the messages in compose box

[2021-09-08 20:06] isagoico commented on #5142
Comment from [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1631123012073500?thread_ts=1631122717.073400&cid=C01GTK53T8Q) that has more information on this bug:

- From @Jag96

Note that this is a different issue from https://github.com/Expensify/App/issues/5125, which handles the copy via Copy from clipboard. Since this has come up a few times, I'm filing an issue here so we can have

[2021-09-08 20:11] shawnborton commented on #4775
I can grab this one quickly @michelle-thompson

I think it would be better if we could still keep the message and the user selection all on one screen... that being said, not sure if this feels a bit awkward but here is what we would have:
![image](https://user-images.githubusercontent.com/2319350/132578434-350aa25f-f213-43c4-b211-d5d25c37eb4a.png)

Ideally the textarea would grow/shrink depending

[2021-09-08 20:12] chiragsalian commented on #4737
Sorry for the delay. I was on vacation for a few days.

when you say mobile website and the website do you mean the old expensify.com webpage and not new.expensify.com? Thats odd. I'll test later today and see if there is a bug or something. Either way, for your testing feel free to change the URL such that it points to new.expensify.com instead of expensify.com and you should be able to test what

[2021-09-08 20:51] marcaaron commented on #4857
Hmm so I'm able to reproduce this on production (very inconsistently) and verified via the Network tab that we are only calling `CreateChatReport` once - so I think all my guesses are actually wrong and something else is happening in the API layer.

Looked in the logs and see the `CreateChatReport` is processing twice. Not totally sure how this can happen but going to ask in infra.

Logs 1:  https

[2021-09-08 20:52] yuwenmemon commented on #5086
:shipit:

[2021-09-08 20:53] #5086 closed

[2021-09-08 20:56] OSBotify opened #5146 "Deploy Checklist: New Expensify 2021-09-08"
**Release Version:** `1.0.95-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/4887
- [x] https://github.com/Expensify/App/pull/4956
- [x] https://github.com/Expensify/App/pull/4963
- [x] https://github.com/Expensify/App/pull/4990
- [x] https://github

[2021-09-08 21:17] botify commented on #5105
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214905714) to production by @yuwenmemon in version: 1.0.94-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 21:17] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214905714) to production by @yuwenmemon in version: 1.0.94-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 21:17] botify commented on #4972
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214905714) to production by @yuwenmemon in version: 1.0.94-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 21:17] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214905714) to production by @yuwenmemon in version: 1.0.94-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 21:18] botify commented on #4785
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214905714) to production by @yuwenmemon in version: 1.0.94-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 21:18] botify commented on #4507
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214905714) to production by @yuwenmemon in version: 1.0.94-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 21:18] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214905714) to production by @yuwenmemon in version: 1.0.94-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 21:18] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214905714) to production by @yuwenmemon in version: 1.0.94-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 21:18] botify commented on #5048
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214905714) to production by @yuwenmemon in version: 1.0.94-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 21:26] SofiedeVreese commented on #4659
This is paid out now @kakajann ! Thanks for your work on this!

Contributor paid, the contract has been completed, and the Upwork post has been closed.

[2021-09-08 21:26] #4659 closed

[2021-09-08 21:47] #5140 closed

[2021-09-08 21:49] Santhosh-Sellavel commented on #4398
@michaelhaxhiu Thanks for considering the request! At least $100 more seems fair to me. If you feel otherwise, I am happy to settle with the agreed price itself.

[2021-09-08 21:57] mvtglobally commented on #5146
Starting QA

[2021-09-08 22:00] isagoico commented on #5146
@roryabraham Seem like the deploy messages are failing when a new checklist is created 🤔 None of the PRs have the comment. We will start setting up QA, please let us know if there's anything wrong with the checklist.

![image](https://user-images.githubusercontent.com/44479856/132591342-9bf85fb9-b69a-44df-80c6-2e2d08c2a4fb.png)

[2021-09-08 22:00] #5075 closed

[2021-09-08 22:01] botify commented on #5075
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-08 22:05] botify commented on #5105
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214907189) to staging by @ctkochan22 in version: 1.0.94-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 22:05] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214907189) to staging by @johnmlee101 in version: 1.0.94-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 22:05] botify commented on #4417
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214907189) to staging by @johnmlee101 in version: 1.0.94-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 22:05] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214907189) to staging by @johnmlee101 in version: 1.0.94-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 22:05] botify commented on #4484
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214907189) to staging by @johnmlee101 in version: 1.0.94-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 22:05] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214907189) to staging by @deetergp in version: 1.0.94-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 22:05] botify commented on #5066
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214907189) to staging by @tgolen in version: 1.0.94-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 22:05] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214907189) to staging by @deetergp in version: 1.0.94-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 22:05] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214907189) to staging by @thienlnam in version: 1.0.94-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 22:05] botify commented on #4660
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214907189) to staging by @thienlnam in version: 1.0.94-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 22:05] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214907189) to staging by @HorusGoul in version: 1.0.94-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 22:05] botify commented on #4929
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1214907189) to staging by @Gonals in version: 1.0.94-2 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-08 22:07] puneetlath commented on #5021
Ok got it! So if I'm understanding correctly, this issue is a duplicate and should be closed. Please reopen if I've misunderstood.

[2021-09-08 22:11] Santhosh-Sellavel commented on #5021
@puneetlath Reopen this issue is not solved yet

[2021-09-08 22:21] marcaaron commented on #4857
Chatting with @bondydaa about this now.

We took a look at the logs together for a bit and agree it seems like a single http request is somehow getting split into two requests. Still not too sure how this is possible.

An interim solution we discussed is to return whether the chat report was created for the first time via `CreateChatReport` and then just return early if it's not the first time we

[2021-09-08 22:30] equationalapplications commented on #4896
Hi does this still need to be done?
Proposal:
In `ReportActionItemMessageEdit.js`

add small props to buttons:
[code]

[2021-09-08 22:39] luacmartins commented on #5089
@kevinksullivan please hire @thesahindia for this job.

[2021-09-08 22:39] Santhosh-Sellavel commented on #5021
@mallenexpensify Could you help me a bit here, thanks!

[2021-09-08 22:48] fukawi2 commented on #4857
Adding myself as an assignee to pull CF logs: https://expensify.slack.com/archives/C094TGUTZ/p1631139987025400

[2021-09-08 22:50] PrashantMangukiya commented on #5102
@isagoico  at present no one Assignees on this issue #5102. I am wandering that if my solution accepted then who will offer me to submit proposal on upwork etc.

[2021-09-08 22:53] Santhosh-Sellavel commented on #5134
@isagoico if only one member is added to the workspace it shows Request money.

My proposal [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1631039917030600?thread_ts=1631039739.030300&cid=C01GTK53T8Q) will solve both.

I hope @johnmlee101 also agree here https://github.com/Expensify/App/issues/5134#issuecomment-915376273

[2021-09-08 23:02] thienlnam commented on #3419
Starting on this later this week / early next.  I'll get a thread started for the storage eviction.  From a glance it doesn't seem necessary at this moment but would be good to get the ball rolling on that

[2021-09-08 23:08] Santhosh-Sellavel commented on #5134
## Proposal
Brief it out again for clarity.
Just add` !isDefaultRoom` check along the lines
https://github.com/Expensify/App/blob/e6ed8dd8c72f531d6f6ef066e4506f112bd6ae6b/src/pages/home/report/ReportActionCompose.js#L524-L526
As shown below,
<img width="887" alt="Screenshot 2021-09-09 at 4 30 08 AM" src="https://user-images.githubusercontent.com/85645967/132596644-a0e8b14f-e8eb-42ef-8f21-21fe2855e

[2021-09-08 23:12] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-08 23:12] botify commented on #4486
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-08 23:16] thienlnam commented on #3867
No update here yet - going to start pinging people for some thoughts / reviews on the POC

[2021-09-08 23:19] akshayasalvi commented on #4737
No no. I meant I am able to test on the website and mobile website. Here I manually hit the URL for an expired validation code.

How do I test the same redirect for Desktop and the mobile app?

[2021-09-08 23:35] marcaaron commented on #4857
FWIW, the interim solution is pretty solid when testing locally and blasting the API with a zillion `CreateChatReport` requests it only ever creates one comment so I think we can maybe pursue that for now while we get to the bottom of how the duplicate request happens.

[2021-09-08 23:42] mananjadhav commented on #4896
My proposal's here in the comment: https://github.com/Expensify/App/issues/4896#issuecomment-907654670

cc - @AndrewGable  Let me know if any other information is needed and as per design comments won't be changing the `borderRadius`

[2021-09-08 23:50] akshayasalvi commented on #5030
PR raised

[2021-09-08 23:55] akshayasalvi commented on #4737
@chiragsalian One other weird behavior I've noticed is, there are three flags - `showLoginForm`, `showPasswordForm` and `showResendValidationLinkForm`. After the redirect, I can see in the console that only `showResendValidationLinkForm` is true yet it doesn't show the MagicLink page.  It shows the Password page only. Once I do a refresh from the address bar it shows the magic link page.

Any idea

[2021-09-08 23:57] roryabraham commented on #4897
For some reason I wasn't automatically assigned as a reviewer of the [linked PR](https://github.com/Expensify/App/pull/5060), but I just submitted my review now.

[2021-09-09 00:08] mallenexpensify commented on #5079
After much discussion, we've decided to implement this. Moving along to Engineering

[2021-09-09 00:12] chiragsalian commented on #4737
I don't think you can test this for Desktop so its okay to skip that.

As for the mobile app, I'm unsure if you can test deep links locally too. I would just give an invalid URL like so so that QA can test on the App https://new.expensify.com/setpassword/10584032/DWGZCFRKT to confirm the error message shown is the same as the one on mobile browser.

As for this,

Thats weird. Well, the link begins

[2021-09-09 00:32] akshayasalvi commented on #5026
I've applied for the Upwork job post too. If the issue is assigned in Github, do I still need to wait to get hired on Upwork before I start working on the PR?

[2021-09-09 00:56] roryabraham commented on #4499
Sorry for the delayed reply and red-herring comment. That failed iOS prod deploy happened completely independently of this issue, and was completed manually after-the-fact. So I think that this has been solved on prod for more than a week at this point and can be paid/closed out. Thanks!

[2021-09-09 01:00] chiragsalian commented on #4737
Tested your PR. Moved its discussion to within your PR.

[2021-09-09 01:27] mananjadhav commented on #5125
There's a slack post on concerns with MD on pasted links

https://expensify.slack.com/archives/C01GTK53T8Q/p1630695075427100

Might want to address it with this issue.

[2021-09-09 02:02] Christinadobrzyn commented on #4775
Hey @marcaaron - it looks like this issue was initially reported [here](https://github.com/Expensify/App/issues/4668) by Santhosh.

Can you confirm I have this correct, this issue relates to fixing what was originally reported by Santhosh?

If that's the case, then we'll want to pay Santhosh for originally reporting this issue. Thanks!

[2021-09-09 02:09] kavimuru opened #5152 "mWeb/Safari - Chat - New messages are not received in real time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the URL and login
2. Send message from another device

## Expected Result:
New message is shown in bold in LHN or opening the chat should

[2021-09-09 02:09] OSBotify commented on #5152
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-09 02:19] kavimuru opened #5153 "Chat - Attachment is not appearing in preview before sending"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Log in with any account
3. Select any conversation
4. Click on Plus button and Select Add Attachment

[2021-09-09 02:19] OSBotify commented on #5153
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-09 03:19] mananjadhav commented on #4487
@roryabraham @jboniface

I was wondering if we could bump the budget for this one considering the amount of work we achieved with the PR.

Wouldn't have asked if I was the reporter as would've received the bonus.  Hope you'll consider.

[2021-09-09 03:46] kavimuru opened #5154 "iPad - Chat - Delete comment option is not available in the menu in landscape mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Install test build
2. Login with an existing account
3. Open any conversation
4. Long tap on own message

## Expected Result:
4 options should ap

[2021-09-09 04:16] kevinksullivan commented on #5047
And... this is coming back into play based on our [new approach](https://expensify.slack.com/archives/C020EPP9B9A/p1631132376089600) to global create. We're looking for the exact same solution as originally outlined in the OP. Thanks!

[2021-09-09 05:47] meetmangukiya commented on #4615
@mallenexpensify yes, I can do it. I am fine with either continuing this issue or creating a new one. Is it possible for the part 1(?) payment to be made while we implement, review and test the update?

[2021-09-09 06:28] Christinadobrzyn commented on #5134
Posted to Upwork!

Internal posting: https://www.upwork.com/ab/applicants/1435852224575746048/job-details
External posting: https://www.upwork.com/jobs/~01e8fdb54c8df622bb

[2021-09-09 06:36] Christinadobrzyn commented on #4273
Thanks for the input @kidroca - I'm thinking we should combine this issue with [5106](https://github.com/Expensify/App/issues/5106).

Which to keep open is the question?

[2021-09-09 06:37] Christinadobrzyn commented on #5106
Thanks for the input @kidroca - I'm thinking we should combine this issue with [4273](https://github.com/Expensify/App/issues/4273).

Which to keep open is the question?

[2021-09-09 06:39] Christinadobrzyn commented on #4819
PR [submitted](https://github.com/Expensify/App/pull/5096) - under review

[2021-09-09 06:48] fukawi2 commented on #4857
Well I finally figured out how to pull the logs for the "rayids" (hint: you need to drop the IATA code from the end of the rayID - ie, remove `-LAX` from these ones).

They don't really reveal much though :/

![image](https://user-images.githubusercontent.com/139959/132636645-b5dae57c-edde-437a-b14d-4e42beda98db.png)

[2021-09-09 07:34] kidroca commented on #4273
If it was up to me, I would:
1. assign myself to the current ticket
2. pause / remove the "external" label on the other ticket, but keep it open for reference or duplicate reports
3. re-test both issues after the changes proposed here are applied (and close them as fixed ✔️)

[2021-09-09 07:47] Beamanator commented on #5091
Internal PR in motion 👍

[2021-09-09 08:42] akshayasalvi commented on #5087
@isagoico I guess this isn’t assigned to anybody and hence it hasn’t moved forward.

[2021-09-09 08:48] parasharrajat commented on #5142
@isagoico You tagged the wrong guy.

[2021-09-09 09:16] Julesssss commented on #4775
@shawnborton it sounds good to me, but it would be useful to know which of the components should scroll when the invited user's list expands further?
- The full Modal content scrolls, user has to scroll down to see 'Next' button
- The user list scrolls, so the 'Next' button remains in view at all times

[2021-09-09 09:48] sketchydroide commented on #5154
I can see this happens to some extent in the the iPhone as well. The text to delete the comment gets cut of when seeing the menu on the landscape.
Prety sure it's the size/offset calculation that is off in some way. Should be easy to fix, I'm setting this as an external.

[2021-09-09 09:51] sketchydroide commented on #5103
@Jag96 was able to replicate this so I'm CCing into this, also I'm OOO in 2 days so can't really follow this, so I'm unassigning myself.
@marklouisdeshaun please go ahead and create the job :)

[2021-09-09 10:16] mountiny commented on #4888
@mananjadhav Thank you for updating the proposal.

It seems to me like it should be good for our purpose here, but I am worried about regressions being associated with such a change (omitting quite big blocks of code). Can you please make sure the classic image/file copy/pasting works as expected with these proposed change?

If that will be the case, I am happy to proceed with you proposal!

Thank

[2021-09-09 10:18] Julesssss commented on #5152
Not reproducible in my case. Removing the label while we work out how widespread this is.

[code]

https://user-images.githubusercontent.com/10736861/132668310-eeb3c04f-a900-4cbc-8aed-6d89acf52b26.mov

[2021-09-09 10:31] #5081 closed

[2021-09-09 10:31] botify commented on #5081
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-09 10:35] mountiny commented on #5092
@PrashantMangukiya Good investigation! I assume the white block padding issue prevails even with your proposed changes here, correct me if I am wrong.

I think the best way to go with that new issue is to follow [these steps](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted) once you make sure it is actual bug.

Don't forget about the minimal w

[2021-09-09 10:40] mountiny commented on #4888
@mananjadhav Actually, I just thought of a potential regression.

If we have an image in the current chat and we do secondary click to bring up the option modal, we can select `Copy to clipboard`.
![image](https://user-images.githubusercontent.com/36083550/132671375-283045de-bc1a-4091-9eed-ed188f4872de.png)

When you paste that back into the Compose box, it is pasted as img tag:

![image](https://

[2021-09-09 11:10] mananjadhav commented on #4888
@mountiny Thanks for reviewing. I'll answer both your questions:

I agree we'll test it thoroughly.

I'll have a screencast for this scenario specifically. If you checkout `handlePaste` event, the following block takes care of just image/file.

[code]

**We won't be removing this block**

This isn't a regression but the current limitation of our Copy to Clipboard functionality. We don't get the im

[2021-09-09 11:43] MitchExpensify opened #5156 "New workspace creation flow (Only include "Create Workspace" in Global Create when no workspace exists & add "Create new workspace" option to workspace configuration"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
[Slack conversation](https://expensify.slack.com/archives/C020EPP9B9A/p1631067203462500)
cc @shawnborton

## Problem

"Create Workspace" in Global Create is too prominent

[2021-09-09 11:47] MitchExpensify commented on #5156
We'll need to nail down the 3 dot placement and also what the menu looks like exactly. Assigning you @shawnborton for this! I think the left hand side is better than right as it is less crowded. I also think we just need one option in the 3 dot menu for now "Create new workspace". We'll likely want to add "delete workspace" next but thats out of N6 scope

[2021-09-09 12:03] mananjadhav commented on #5069
This is the default behavior of mobile browsers. A similar discussion on Edit Message. https://github.com/Expensify/App/issues/4345

[2021-09-09 12:05] mananjadhav commented on #5047
@kevinksullivan  I don't think the link is accessible by contributors.

[2021-09-09 12:24] Beamanator commented on #4971
Hello @Hanaffi , thanks for your proposal! Have you looked into our code base much? Specifically how `react-native-onyx` works? I ask because this library ends up storing & retrieving data from localStorage :)

[2021-09-09 12:51] mananjadhav commented on #4853
I had an issue attaching an image from the OnePlus 6. It didn't crash the app, it just hangs up.

[2021-09-09 12:53] PrashantMangukiya commented on #5092
Hi @mountiny, yes that white padding issue remain although I correct image blur problem.

**I added clamp logic within my solution 1 as per your suggestion.** Here is link https://github.com/Expensify/App/issues/5092#issuecomment-912999085  Please suggest any other thing need to take care.  If everything ok then I will submit proposal on upwork to proceed.

As you can see below screenshot, padding

[2021-09-09 13:11] parasharrajat commented on #4911
There is more it. Basically, BoxModel of RenderHTMLEngine is not compatible with this design so it is a technical limitation. #4733 is also caused by the same issue. I am trying to find a solution to it.

[2021-09-09 13:14] mountiny commented on #5092
@PrashantMangukiya  Ah you have updated the original comment, sorry, my bad! thank you for that.

Your proposal seems good to me for this issue. Feel free to submit a proposal on Upwork and create a PR for this. Great job!

I think it is safe to post it in the channel, @isagoico will definitely mention you as a suggester that way! You won't miss that.

[2021-09-09 13:25] MitchExpensify commented on #5156
Closing in favor of a split:

Part 1: [New workspace creation flow - Only include "Create Workspace" in Global Create when no workspace exists](https://github.com/Expensify/Expensify/issues/176927)

Part 2: [New workspace creation flow - Add "Create new workspace" option to workspace configuration](https://github.com/Expensify/Expensify/issues/176926)

[2021-09-09 13:25] #5156 closed

[2021-09-09 13:33] parasharrajat commented on #4971
This issue is caused but calling `Onyx.clear` instead of `resetting` the key.
Recently a change was made https://github.com/Expensify/App/commit/72bf6c0c369324a73b58a33339598db42a35880a to fix another issue. But calling `Onyx.clear` ==> `localstorage.clear` does not pass any key to the `storage` event which is used to sync the tabs.
https://github.com/Expensify/App/blob/77dea941898c2ec25a62fc46b4f

[2021-09-09 13:36] PrashantMangukiya commented on #5092
@mountiny Sure I will post bug request in the slack channel.  @bfitzexpensify I submitted proposal on upwork. Kindly accept it. Thank you.

[2021-09-09 13:45] isagoico commented on #5087
Mmmm ill re add the engineering label so an engineer can check it out

[2021-09-09 13:59] mountiny opened #5157 "Enable links to in-app routes from chat messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

cc @marcaaron
___

## Problem

While working on https://github.com/Expensify/Expensify/issues/176355, we have found out there is currently no way how to add a link to chat m

[2021-09-09 14:02] mountiny commented on #5157
@marcaaron I have added `Planning` label here for now as we can still think of some improvements. Please free to chime in if you want to specify something a bit more.

I think it should be `Internal` if we want to have it done faster. Also not sure if External contributor could test this as there are not concierge messages starting with `/` and they cannot create such a message from chat.

[2021-09-09 14:06] isagoico commented on #5154
Adding the deploy blocker label since the issue is not on production

[2021-09-09 14:07] OSBotify commented on #5154
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-09 14:08] Beamanator commented on #5047
@mananjadhav you're right, the link is to an internal conversation, but the end result was basically as Kevin said - we're wanting to go with the original solution outlined in the OP :)

[2021-09-09 14:13] Santhosh-Sellavel commented on #5047
@Beamanator Quick question Is this possible without backend help?

[2021-09-09 14:21] Beamanator commented on #5047
Removing `Help Wanted` for now, will add it back once we're back with the new plan :)

[2021-09-09 14:23] parasharrajat commented on #5154
Regression from https://github.com/Expensify/App/pull/5032.

[2021-09-09 14:31] akshayasalvi commented on #5087
Thank you @isagoico

[2021-09-09 14:50] michaelhaxhiu commented on #4398
We are reviewing the request internally, and I'll do my best to follow up today.

[2021-09-09 14:56] johnmlee101 commented on #4911
That makes sense. Where are we with that fix so far?

[2021-09-09 14:59] parasharrajat commented on #5103
Text on menu items does not update as we are only translating the text in the constructor.

### Proposal
1. A minimal solution for this would be use translation keys in the menu items array and then translate it in the Render method.
https://github.com/Expensify/App/blob/b3421ceba196e5e2dd57b3fcbd4b30721650558c/src/components/AttachmentPicker/index.native.js#L71

Here text would be changed to `tex

[2021-09-09 15:06] parasharrajat commented on #4911
I have started to debug the internal rendering for the lib. It looks complex but I will try to find a solution to it.

[2021-09-09 15:07] jboniface commented on #4487
@mananjadhav how much of an increase are you requesting?

[2021-09-09 15:08] kevinksullivan commented on #5088
@ctkochan22 since we chatted 1:1 these questions are covered, right? Just want to make sure you aren't waiting on me here.

[2021-09-09 15:13] isagoico commented on #5154
This issue is also reproducible in the FAB menu. Split bill is not completely visible
![image](https://user-images.githubusercontent.com/44479856/132713145-b0cebf41-db10-4a40-a6ac-73e5ba1f8f13.png)

[2021-09-09 15:17] isagoico commented on #5146
Regression is finished!
Issues found:
1. #5152
2. #5153
3. #5154

Comments left on PRs:
1. https://github.com/Expensify/App/issues/5154#issuecomment-916192199

Internal QA - https://github.com/Expensify/App/pull/5014

Thanks!

[2021-09-09 15:21] AndrewGable commented on #4853
Only on the OnePlus 6?

[2021-09-09 15:24] isagoico opened #5158 "[HOLD for payment 2021-10-30] Esc key doesn't dismiss any of the `ConfirmModal` around the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to a user.
2. Add an attachment more than 50 MB.
3. Expect "attachment too large" warning to pop up.
4. Press Escape key.

## Expected

[2021-09-09 15:28] parasharrajat commented on #5158
Sorry for pitching in but ConfirmModal should not be escaped. Their purpose is to be confirmed by the user so whatever action is mentioned on the modal should be confirmed by the user.

In this case `User should click close`. In other cases for example when money is transferred and user is asked to confirm something. He should choose among the presented buttons.

[2021-09-09 15:30] mananjadhav commented on #4853
I only have OnePlus to test in Android.

[2021-09-09 15:31] johnmlee101 commented on #4911
Okay amazing. I'm going to put this issue on HOLD for the time being while we confirm these issues are interlinked and your fix will address this one (when you're done getting to the cause)

[2021-09-09 15:32] Julesssss commented on #5132
FYI @kevinksullivan I'm going to fix this myself as I've already seen the problem.

[2021-09-09 15:33] AndrewGable commented on #4853
Can you try attaching a smaller image and seeing if it ever uploads (e.g. after 15 or 30 seconds)? I know those phones take large photos and can take a while to upload.

[2021-09-09 15:33] mananjadhav commented on #4487
Well, we added 1 feature and made improvements in the Animation. Updated that at two places Workspace and Profile.

I would say roughly +350. But I’d also highlight that @roryabraham was the one who helped with the Animation rewrite (Something that would then reduce the ask?)

[2021-09-09 15:35] kavimuru opened #5159 "iPad - Sign in - Keyboard is covering the fields in Sign in page and password page in Landscape orientation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Tap on email address
3. Enter your email address
## Expected Result:
The keyboard should not cover the input field in sign in page an

[2021-09-09 15:38] marcaaron commented on #5075
@shawnborton ah shucks I'll create a follow up for those comments @shawnborton as this got merged before I could update. FWIW it's only going to be visible for beta users but I agree with the padding and centering comments 100%.

[2021-09-09 15:44] TomatoToaster commented on #5158
Hmm I'm personally fine with it escaping the modal with escape key. Let's ping the room and see if we can get a larger consensus on this before implementing it.

[2021-09-09 15:48] mountiny commented on #4888
@mananjadhav Thanks for answering the concerns. I know we won't be removing the block for handling pasting of files, but I was worried about the other scenarios for which the current code is in place.

Looking forward the PR and we will have to make sure to test this thoroughly 🎉

[2021-09-09 15:48] mananjadhav commented on #4853
Gallery upload worked fine. Camera it didn’t and I must’ve waited for about 2-3 mins. I uploaded a 2.18 mb image from iOS during the same test

[2021-09-09 15:49] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-09 15:49] botify commented on #4487
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-09 15:51] mananjadhav commented on #4487
Also an fyi, I had reported the feature requests here: https://github.com/Expensify/App/pull/4801#issuecomment-904749811

[2021-09-09 15:52] mananjadhav commented on #4888
@mountiny then should I assume that I am assigned this and get started on the PR?

[2021-09-09 15:55] mountiny commented on #4888
@mananjadhav You shall not assume anymore (sorry about the confusion, still learning this process).

@mallenexpensify Can you please hire Manan on Upwork for this job? 🙏

[2021-09-09 15:57] roryabraham commented on #4487
@mananjadhav went above-and-beyond the original scope on this one and was a good sport with lots of refactoring - I think we can bump the pay to $500

[2021-09-09 15:57] mountiny commented on #5092
Just to make it formal. @bfitzexpensify we are good to hire Prashant for this job. Thank you for handling that 🙇

@PrashantMangukiya You will be assinged to this issue right after that.

[2021-09-09 15:57] AndrewGable commented on #4853
@mananjadhav - Do you want to explore this issue and propose a fix once we have more information?

[2021-09-09 16:03] roryabraham commented on #5152
I was able to reproduce on staging – unfortunately I think we should indeed treat this as a deploy blocker.

[2021-09-09 16:04] OSBotify commented on #5152
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-09-09 16:06] roryabraham commented on #5154
We can't export this issue – it's an `Hourly` deploy blocker and needs to be addressed ASAP.

[2021-09-09 16:11] bfitzexpensify commented on #5092
Offer sent!

[2021-09-09 16:13] mananjadhav commented on #4853
@AndrewGable I am not sure if I raised a false alarm or that it worked earlier and now stopped working? I downloaded the app from Playstore and it seems to be working.

This was the app running with USB connected.  If you look at the video from 00:30s you'll see the behavior that I experienced.

https://user-images.githubusercontent.com/3069065/132722964-41fe73bb-999c-4d4f-89dd-147cd21d866d.mp4

[2021-09-09 16:15] bondydaa commented on #4857
if i'm reading this right then that means cloudflare also saw this as multiple requests so that makes me think something on the clients is somehow triggering the request twice but it's still odd that when marc has been able to reproduce dev tools isn't showing multiple requests.

I'm about to merge the changes in auth which will help fix to address this at the db & web-e layers so at least we can

[2021-09-09 16:16] mallenexpensify commented on #5027
Job posted https://www.upwork.com/jobs/~017d13f768d0c64b2b

[2021-09-09 16:16] AndrewGable commented on #4853
Weird for sure. Let's close this issue for now and reopen if we can reproduce reliably.

[2021-09-09 16:16] #4853 closed

[2021-09-09 16:18] mallenexpensify commented on #5027
@joelbettner it looks like you accidentally assigned me, I've had that happen before, Sonia gave me the tip to unassign myself first, then add the label to avoid the double unassign.

[2021-09-09 16:19] TomatoToaster commented on #5158
Ok I think the accessibility case (mentioned in [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1631202431108900)) is a good enough case. I'm going to make this external officially.

[2021-09-09 16:19] parasharrajat commented on #4888
Sorry, I am late for the party, I was out on vacation.

@mountiny
Is the decision to testify the embedded images (`img` tags in HTML)?  Specifically, asking! all images?

#### **Then I propose**

Then we modify our ExpensiMark Html to MD parser and convert all the `img` tags to attached alt tags.

This is the default behaviour of the browser and thus If you check the copied emoji from Slack the sa

[2021-09-09 16:19] PrashantMangukiya commented on #5092
@bfitzexpensify  just accepted offer. thanks. Also thanks @mountiny for suggesting to set 40px cap for image width. I will prepare and submit pr within a day.

[2021-09-09 16:19] roryabraham commented on #5154
Thanks @parasharrajat, confirmed this is true. I'm going to revert that PR, but maybe you deserve a small bonus for pointing me straight to the cause of this regression?

[2021-09-09 16:21] mallenexpensify commented on #4490
@mananjadhav are you suggesting that if we put this issue on hold, it'll end up being fixed by one/both of the issues you linked above?

[2021-09-09 16:23] Santhosh-Sellavel commented on #5021
@mallenexpensify or @puneetlath  this is not solved yet reopen.

[2021-09-09 16:23] Julesssss commented on #5132
The problem is that we're overriding IOUReport data [here](https://github.com/Expensify/App/blob/bc035f5d918c5da8750ec9cd5bc224db348b2667/src/libs/actions/IOU.js#L276) by syncing a simplified report (with reduced fields). Keys that exist in Onyx are being overwritten with defaults (for example, `lastMessageTime = 0`).

The solution is to either **A)** Provide a new action that updates the limited

[2021-09-09 16:28] mananjadhav commented on #5152
I can reproduce it in staging too.  Mostly due to this:

![image](https://user-images.githubusercontent.com/3069065/132725286-80690450-6bb1-4a2a-98f1-63f2ffb4b8b7.png)

[2021-09-09 16:31] mananjadhav commented on #4888
I had proposed this earlier here but I guess we decided to split it into two issues and for now remove the image. Hence I recommended the strip Images approach.

[2021-09-09 16:32] AndrewGable commented on #4896
@NicMendonca - Can we hire @mananjadhav since the solution was first and discussed in Slack. Thanks!

[2021-09-09 16:33] parasharrajat commented on #4888
Then you don't need to strip `img` tags manually. Expensimark will take care of it.

[2021-09-09 16:38] Santhosh-Sellavel commented on #4941
@chiragsalian Can I start the PR?

Need es copy for `Start a Call` to proceed

[2021-09-09 16:38] michaelhaxhiu commented on #4541
PR is merged as of yesterday (September 8 2021). Payment should be sent on 09/15/2021 all things constant.

[2021-09-09 16:39] mallenexpensify commented on #4615
@meetmangukiya
1. Do you want to work on the update?
2. If so, do you have a preference between working off this existing issue or creating a brand new one? The pay will be the same, $250.

@vitHoracek it's easy to add a bonus to a job and/or create a new job in Upwork

[2021-09-09 16:43] mallenexpensify commented on #4888
@mananjadhav , can you submit a proposal then I'll hire you? https://www.upwork.com/jobs/~01277425d12d2826ab
Thanks

[2021-09-09 16:49] mananjadhav commented on #4888
@mallenexpensify Done.

[2021-09-09 16:51] stephanieelliott commented on #4910
Posted job to Upwork: https://www.upwork.com/jobs/~01855e280c1fa3ca00

[2021-09-09 16:53] isagoico opened #5162 "[HOLD for payment 2021-12-15] [$500] Extra long image shows white padding near top and bottom within chat list"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open chat
2. Upload extra long image  Please use  [Sample1](https://user-images.githubusercontent.com/7823358/132546765-0e41feb9-a06f-49c4-b3ba-2

[2021-09-09 16:54] NicMendonca commented on #4896
@mananjadhav all set 🙂

[2021-09-09 16:54] Julesssss commented on #5152
My guess at this point is that it is related to testing/contributor environments. I'm sharing this in Slack to see if anyone knows why this could have changed recently.

[2021-09-09 16:57] mananjadhav commented on #5154
Apologies I just saw this one. Thanks, @roryabraham @parasharrajat.

I've updated few things in https://github.com/Expensify/App/pull/4456#issuecomment-915743892, which removes this code and has new updated code. I'll check for this regression as well.

[2021-09-09 16:58] PrashantMangukiya commented on #5092
@isagoico I posted bug in slack channel related to padding issue at top bottom of long image in chat list.
Here is the link  https://expensify.slack.com/archives/C01GTK53T8Q/p1631205658119900

I also found another bug that Large image does not zoom as expected in mobile device attachment view modal. Here is the posted link: https://expensify.slack.com/archives/C01GTK53T8Q/p1631206579123200

Thank

[2021-09-09 16:59] Julesssss commented on #5152
I wonder if it is related to [this internal](https://github.com/Expensify/Cloudflare-Workers/pull/10/files) `Content-Security-Policy` change just 5 hours before the issue was reported.

[2021-09-09 17:01] michaelhaxhiu commented on #2545
Awaiting an update from Rory on https://github.com/Expensify/App/issues/2985, which Jeremy requested yesterday (September 8 2021).

[2021-09-09 17:01] mananjadhav commented on #4490
Yes, @mallenexpensify.  Save button is enabled only when the image or title is changed. It was just merged today.

@aman-atg and @timszot  can also confirm. Following is code change that handles it.

[code]

[2021-09-09 17:01] mananjadhav commented on #4541
@michaelhaxhiu fyi, there was a regression.

[2021-09-09 17:03] roryabraham commented on #5154
@mananjadhav Up to you, but I think it might be simpler to create a separate PR to replace https://github.com/Expensify/App/pull/5032. When in doubt, smaller PRs are better because they are easier to test, review, retroactively evaluate to see if they caused regressions, and to revert if necessary.

[2021-09-09 17:03] aman-atg commented on #4490
Cool, this can be closed now. (As the issue is already fixed by another PR)

[2021-09-09 17:03] kidroca commented on #5152
A bit old but appears to be the same problem: https://github.com/pusher/pusher-js/issues/176

Also here's the pusher guide on setting this up: https://support.pusher.com/hc/en-us/articles/360021061813-What-Content-Security-Policy-CSP-do-I-need-for-Channels-
- note: for me the connection does drop to `SockJS` as my logs contain

[2021-09-09 17:04] michaelhaxhiu commented on #4623
Update:
Earlier today, @mananjadhav updated the PR to address the Skintone picker not being visible https://github.com/Expensify/App/pull/4456#issuecomment-915743892.

[2021-09-09 17:05] mananjadhav commented on #5154
@roryabraham Noted. I'll raise another PR to replace the old one.

[2021-09-09 17:06] michaelhaxhiu commented on #4541
Ah I see it now, can you take a moment to include that link here for context?

[2021-09-09 17:06] marcaaron commented on #4910
I also do not have a Chromebook so unsure how to verify if any proposals work or not.

[2021-09-09 17:09] #5154 closed

[2021-09-09 17:09] mallenexpensify commented on #4888
Hired @mananjadhav in Upwork!

[2021-09-09 17:09] marcaaron commented on #4910
I’m thinking we can maybe just set up a tunnel to a local build and have someone who does have a Chromebook test any proposals that come in? Really could be anyone with a Chromebook just signing into an ngrok web build or something.

[2021-09-09 17:09] stephanieelliott commented on #5115
Posted to Upwork here: https://www.upwork.com/jobs/~013d0ec60b16212278

@deetergp looks like we have a proposal in [this comment](https://github.com/Expensify/App/issues/5115#issuecomment-913975260).

[2021-09-09 17:10] mananjadhav commented on #4541
https://github.com/Expensify/App/issues/5154 is the regression. It’s reverted for now. I’ll send an updated PR in a few hours.

[2021-09-09 17:10] Julesssss commented on #5152
Thanks all. We merged an internal PR yesterday which _may_ be linked to this, and the linked Pusher workaround tomorrow also sounds promising.

@kavimuru @isagoico  imagine you are blocked from a lot of the QA flows in the meantime?

[2021-09-09 17:11] Jag96 commented on #4762
Paid!

[2021-09-09 17:11] #4762 closed

[2021-09-09 17:13] mallenexpensify commented on #4615
Paid @meetmangukiya for the original job in Upwork. Job is still open in Upwork til we decide next best step

[2021-09-09 17:13] roryabraham commented on #5146
https://github.com/Expensify/App/issues/5154 should be resolved in `1.0.95-1`, currently being deployed [here](https://github.com/Expensify/App/actions/runs/1218255659)

[2021-09-09 17:15] PrashantMangukiya commented on #5162
### Proposed Solution:
I will suggest to update line 70 within  src/components/ImageWithSizeCalculation.js

Current code:
https://github.com/Expensify/App/blob/bc035f5d918c5da8750ec9cd5bc224db348b2667/src/components/ImageWithSizeCalculation.js#L70-L82

Solution - Change line 70 to cover
[code]

This solve the problem, I already tested it. But I am wandering that it will have side affect to other c

[2021-09-09 17:26] marcaaron commented on #5157
I like the solution - seems pretty straight forward to me. Only I'm not sure we should call this `InternalAnchorForCommentsOnly` or if we really need a new component. We can just check the `href` here then return the alternate style of link with a navigate method.

[2021-09-09 17:30] mallenexpensify commented on #5021
We're in a bit of a loop here, @Santhosh-Sellavel can you confirm
1. https://github.com/Expensify/App/issues/4723 is 'a mess' with all the auto posting and closing and that that issue never got fully, properly fixed and closed?
2. This 'clean' issue will replace #4723, you'll submit a PR for this when we should be all good and #4723 can stay closed?

#4723 never got an Upwork job created so I can

[2021-09-09 17:31] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-09 17:31] botify commented on #4819
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-09 17:34] Beamanator commented on #5047
OK so this ended up not needing any backend work! We should be able to accomplish what we need with these tools:

1. Let's create a new NVP called `IS_FIRST_TIME_NEW_EXPENSIFY_USER` (or if you have a better name, please suggest)
2. Use `NameValuePair.get` to check if `IS_FIRST_TIME_NEW_EXPENSIFY_USER` is `true` or not set
    - Most likely this will always be not set, so not sure if we ever need t

[2021-09-09 17:36] Julesssss commented on #5146
THe solution to this blocker: https://github.com/Expensify/App/issues/5152 is known. We're working on the fix.

[2021-09-09 17:37] isagoico commented on #5152
Mmmm we don't have blocked flows because of this because the messages eventually arrive and it allows us to keep testing. If needed we could retest the flows that involve sending messages again after this has been fixed.

[2021-09-09 17:37] tgolen commented on #5162
Thanks for the proposal, I'll add this to `external` to get the ball rolling on this.

[2021-09-09 17:38] Julesssss commented on #5152
That's good, thanks for confirming.

[2021-09-09 17:46] mallenexpensify opened #5166 "[HOLD for payment 2021-11-04] Don't show drafts in LHN until after a user has left a chat with content still in the compose box."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Coming off this issue https://github.com/Expensify/App/issues/4615
cc @meetmangukiya , @vitHoracek

## Action Performed:
Start typing with a user who is not currently at

[2021-09-09 17:46] Julesssss commented on #5152
Awaiting a response on the linked PR.

[2021-09-09 17:47] mallenexpensify commented on #5166
@vitHoracek , didn't want to assign to you but feel free to swap yourself out for @Gonals and/or the CME if you want.

[2021-09-09 17:50] mallenexpensify commented on #5166
@meetmangukiya will have 'first dibs' on fixing this issue because they completed the other, related issue and have confirmed they're interested in working on this improvement to the original issue.

[2021-09-09 17:51] mallenexpensify commented on #4615
ooooof, **completely** missed this comment above

I created a new issue (which is almost always 'best practice') https://github.com/Expensify/App/issues/5166
It will go through our normal process, I added a note that you have 'first dibs' to fix the issue @meetmangukiya so other contributors shouldn't propose fixes.
Closing this now and also the upwork job (there will be a new upwork job for the o

[2021-09-09 17:51] #4615 closed

[2021-09-09 18:01] mateomorris commented on #5047
## Proposal
I'd add all that to `SignInPage.js`'s `componentDidMount`, and set an onyx store at the same time
[code]
That we can attach in `SidebarScreen.js`
[code]
and use in the constructor to set `isCreateMenuActive`
[code]

[2021-09-09 18:02] shawnborton commented on #4775
Both the green button and the bottom message input would be docked to the bottom. Everything else except the page header and search input would be scrollable. That might not work so well on small mobile devices though.

[2021-09-09 18:04] kevinksullivan commented on #4667
Paid with bonus @Santhosh-Sellavel . Thanks!

[2021-09-09 18:04] #4667 closed

[2021-09-09 18:04] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-09 18:10] deetergp commented on #5115
I agree that we can kick the can down the street on 15+ digit numbers for the time being. Let's go with @akshayasalvi proposal of just adding a max length of 14 digits.

[2021-09-09 18:11] mountiny commented on #5157
@marcaaron I totally agree with you, we can just check for it without creating a new component and then potentially refactor if it gets more complex over time.

[2021-09-09 18:11] roryabraham commented on #4899
@pROFESOR11 Sorry for the delay in processing this proposal. Given the limited front-end resources available to you, I think you've done a good job with your proposal. But unfortunately I think we need to step back and create a more robust/holistic solution involving some back-end changes, as you and @thienlnam suggested.

Unfortunately I don't have time to flesh out a detailed implementation plan

[2021-09-09 18:12] roryabraham commented on #4899
@trjExpensify Please take down the Upwork job for this issue.

[2021-09-09 18:14] Julesssss commented on #5152
This _should_ now be resolved, would anyone who noticed the issue mind confirming?

[2021-09-09 18:14] #4490 closed

[2021-09-09 18:15] Beamanator commented on #5047
@mateomorris I like when your proposal is going! Although we'll need a few adjustments b/c `NameValuePair.get` doesn't return anything, and I believe we have some statement in our Philosophy explaining that actions should store data from the API into onyx, and shouldn't return anything. If I find this line I'll link it here :D

[2021-09-09 18:20] stitesExpensify opened #5168 "Settings - Bank Name is not saved when adding bank account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #4653
## Action Performed:
1. Launch the app and login
2. Add a chase account by navigating to /bank-account/new
3. Check the bankAccountLi

[2021-09-09 18:20] stitesExpensify commented on #5168
Sorry @mallenexpensify, this can just be external

[2021-09-09 18:21] roryabraham commented on #5146
@isagoico can we please retest both https://github.com/Expensify/App/issues/5154 and https://github.com/Expensify/App/issues/5152 ?

[2021-09-09 18:21] stitesExpensify commented on #5104
Closing in favor of https://github.com/Expensify/App/issues/5168 which I created with some more specific technical details

[2021-09-09 18:21] #5104 closed

[2021-09-09 18:23] kevinksullivan commented on #5089
@thesahindia can you submit a proposal so I can hire you? Just sent you an invite to apply.

[2021-09-09 18:24] kevinksullivan commented on #5026
@akshayasalvi hired on upwork.

[2021-09-09 18:25] thienlnam commented on #4926
@akshayasalvi Thanks for your proposal.  I'm testing this on main and am seeing a loader which seems to negate this issue.  Additionally the thing with your extended proposal is that in the event the upload fails, it would switch from show the uploaded image and then switch back to the original.

Going to close since this is resolved

https://user-images.githubusercontent.com/30609178/132741987-aa

[2021-09-09 18:25] #4926 closed

[2021-09-09 18:27] mallenexpensify commented on #5168
Posted https://www.upwork.com/jobs/~01a61a677ce8a0b4be

[2021-09-09 18:28] thesahindia commented on #5089
Oops, sorry about that. Just submitted the proposal on Upwork.

[2021-09-09 18:37] mountiny commented on #4888
@parasharrajat Thank you for your thoughts here!

We have decided to go the easiest way ahead now to enable pasting in texts from Slack and others. The issue for introducing colon-coded emojis already exists (I think Manan linked it above).

[2021-09-09 18:37] mateomorris commented on #5047
@Beamanator got it thanks, fixed!

[2021-09-09 18:42] mananjadhav commented on #5152
Looks resolved for me on my phone as well as the simulator.

Did get one error on the console: `Unrecognized Content-Security-Policy directive 'prefetch-src'.`

[2021-09-09 18:45] isagoico commented on #5152
We we're unable to reproduce the issue 🎉 Closing!

https://user-images.githubusercontent.com/44479856/132744610-69095590-4206-4ca9-9c07-87ff236d7ba5.MP4

[2021-09-09 18:45] #5152 closed

[2021-09-09 18:45] isagoico commented on #5154
Retest was a pass 🎉

[2021-09-09 18:46] isagoico commented on #5146
Checking both #5154 and #5152, retests were a pass 🎉

[2021-09-09 18:53] kevinksullivan commented on #5087
Going to close this one out, since we are focused on changing the sign in page/logic more holistically in an internal Gh https://github.com/Expensify/Expensify/issues/176333

[2021-09-09 18:53] #5087 closed

[2021-09-09 18:53] roryabraham commented on #4993
@parasharrajat Both UI/JSX and methods could be DRY'd up. I would just take an iterative approach – I think you'll find that there's a ton that could be easily cleaned up. To get you started:

- `personalDetailsPropTypes` should be extracted to its own file
- There are some seemingly unnecessary JSX differences
- The only difference between `getNewChatOptions` and `getNewGroupOptions` is that `get

[2021-09-09 18:54] justinpersaud commented on #5153
This was introduced by https://github.com/Expensify/Expensify/issues/171938

The attachments are referencing blob://<URL>

I've added in `blob:` to the permitted `img-src` in the Content Security Policy. It should be working now.

[2021-09-09 18:58] roryabraham commented on #5146
https://github.com/Expensify/App/issues/5153 should also be fixed now, please retest 🙇

[2021-09-09 19:01] isagoico commented on #5153
Retest was a pass 🎉
![image](https://user-images.githubusercontent.com/44479856/132746912-83cbb1c7-273b-40ec-9448-052fbc91f47f.png)

[2021-09-09 19:01] joelbettner commented on #5153
You're a gentleman and a scholar @justinpersaud.

[2021-09-09 19:01] isagoico commented on #5146
Retest was a pass! Checking it off https://github.com/Expensify/App/issues/5153#issuecomment-916357981

[2021-09-09 19:05] aldo-expensify commented on #5031
The mentioned [PR](https://github.com/Expensify/App/pull/5041) has been merged. Tested this in staging and it has been solved -> closing.

[2021-09-09 19:05] #5031 closed

[2021-09-09 19:20] yuwenmemon commented on #5146
Blockers are cleared, although looks like https://github.com/Expensify/App/pull/5014 is not checked off. It's internalQA, so will follow up in the issue.

[2021-09-09 19:26] Luke9389 commented on #5159
Not sure if this is a priority. What does @Expensify/design think?

[2021-09-09 19:31] Luke9389 commented on #5159
For the **Workaround** section, you could just type your email in and then hit the 'hide keyboard' button on the bottom right, then select the password field.

Generally, we should always frame issues as "Here's a problem for our users/internal folks". In this case, we should frame this as, 'our sign in flow is clunky on landscape iPad because the UI has this problem' not, 'the UI has this problem

[2021-09-09 19:34] roryabraham commented on #4977
No update here

[2021-09-09 19:35] parasharrajat commented on #4997
@Dal-Papa Sorry for catching up late here.
We can update this if you want.

On native, we have a prop `activityIndicator` which can be set as `activityIndicator={<Text>Loading PDF…</Text>}` to match the web.

Also, We can change both native and web to show the same loading indicator if `Loading PDF…` is not friendly.
For example,

* showing our FullScreenLoadingIndicator for native
`activityIndica

[2021-09-09 19:39] Jag96 commented on #5125
Thanks for the context, I've commented in slack, I think that should be a separate issue w/ a separate discussion.

[2021-09-09 19:49] shawnborton commented on #5159
Probably not a priority but ideally the field would be fully visible when the keyboard is up. It also looks like maybe the page is zoomed or something? Notice how the phone image is cut off on the right?

[2021-09-09 19:57] parasharrajat commented on #5159
This should be fixed by using `KeyboardAvoidingView` and a ScollView without scrollbar and of 100% height.

but

This looks like a regression. If I remember correctly, there are two recent changes https://github.com/Expensify/App/issues/4110 & https://github.com/Expensify/App/issues/4659 which is prime suspect.

[2021-09-09 19:58] marcaaron commented on #4775
@Christinadobrzyn Sorry I don't have a clear answer for you there. It was reported by me internally weeks prior, but no issue created in our public facing repo since it's still in the design / planning phase. I would maybe ask other contributor management team members for feedback on what to do in this case.

[2021-09-09 19:58] Beamanator commented on #5082
Just creeping on some issues 😅 If we're assigning the job to @mateomorris let's assign this issue to him 👍

[2021-09-09 20:02] aldo-expensify commented on #4785
I'm getting back to work on this now (Company step!)

[2021-09-09 20:13] jboniface commented on #4513
it looks like this should have been closed, right? or is there something still pending on this issue?

[2021-09-09 20:14] parasharrajat commented on #4513
Payment :money_mouth_face: .

[2021-09-09 20:21] parasharrajat commented on #4993
Thanks for the details. I got it.

[2021-09-09 20:23] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-09 20:23] botify commented on #5030
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-09 20:24] madmax330 commented on #5146
Done: https://github.com/Expensify/App/pull/5014#issuecomment-916410655

[2021-09-09 20:24] OSBotify commented on #5146
Sorry, only members of @Expensify/Mobile-Deployers can close deploy checklists.
Reopening!

[2021-09-09 20:27] botify commented on #4723
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-09 20:29] parasharrajat commented on #5146
This should be :shipit:  @roryabraham .

[2021-09-09 20:35] botify commented on #5092
:hand: This PR was not deployed to staging yet because QA is ongoing. It will be automatically deployed to staging after the next production release.

[2021-09-09 20:38] yuwenmemon commented on #5146
:shipit:

[2021-09-09 20:38] #5146 closed

[2021-09-09 20:42] OSBotify opened #5177 "Deploy Checklist: New Expensify 2021-09-09"
**Release Version:** `1.0.96-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/4456
- [x] https://github.com/Expensify/App/pull/4801
- [x] https://github.com/Expensify/App/pull/4821
- [x] https://github.com/Expensify/App/pull/5019
- [x] https://github

[2021-09-09 20:47] marcaaron commented on #4857
I don't know anything about cloudflare, but curious to understand more about what happens when a client makes a request and how it's intercepted. Why would those logs mean that cloudflare got multiple requests from the client?

[2021-09-09 20:48] marcaaron commented on #4857
Are there other proxys that could introduce something like a "duplicate request" or is this not possible at all?

[2021-09-09 20:52] roryabraham commented on #2985
These are the only tangible updates I have so far:

- The react-native-bidirectional-infinite-scroll library is causing our unit tests to fail, and I haven't been able to figure out why, but I did reach out to the library maintainer. Other people are having the same issue.
- Another challenge is that I can't really test bidirectional scrolling without building comment linking or finding some weird

[2021-09-09 20:55] marklouisdeshaun commented on #5103
Created a job in Upwork!

Internal: https://www.upwork.com/ab/applicants/1436070567305637888/job-details
External: https://www.upwork.com/jobs/~0151762eb650aec241

[2021-09-09 20:57] marcaaron commented on #4883
Will get back to this one later today.

[2021-09-09 20:58] roryabraham commented on #5154
Okay, so I just wanted to clarify some things here:

- We've learned from experience that we can't let deploy-blocking issues be handled externally, because it causes too many delays in the process and slows down our deploy cycles.
- Our contributing guidelines currently state:

So given that, the timeline for this issue was:

1. Issue created
2. Internal engineer assigns the External label to the

[2021-09-09 20:59] #5157 closed

[2021-09-09 21:00] botify commented on #5105
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218876549) to production by @yuwenmemon in version: 1.0.95-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 21:00] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218876549) to production by @yuwenmemon in version: 1.0.95-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 21:00] botify commented on #4417
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218876549) to production by @yuwenmemon in version: 1.0.95-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 21:00] botify commented on #4484
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218876549) to production by @yuwenmemon in version: 1.0.95-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 21:00] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218876549) to production by @yuwenmemon in version: 1.0.95-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 21:00] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218876549) to production by @yuwenmemon in version: 1.0.95-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 21:00] botify commented on #5066
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218876549) to production by @yuwenmemon in version: 1.0.95-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 21:00] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218876549) to production by @yuwenmemon in version: 1.0.95-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 21:00] botify commented on #4660
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218876549) to production by @yuwenmemon in version: 1.0.95-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅

[2021-09-09 21:00] botify commented on #4723
🚀 [Deployed](https://github.com/Expensify/App/actions/runs/1218876549) to production by @yuwenmemon in version: 1.0.95-1 🚀

 platform | result
 ---|---
🤖 android 🤖|success ✅
🖥 desktop 🖥|success ✅
🍎 iOS 🍎|success ✅
🕸 web 🕸|success ✅