[2022-04-25 18:17] michaelhaxhiu commented on #8708
such a sweet add, thanks @marcaaron !!

[2022-04-25 18:18] roryabraham commented on #8272
Need to resurface that slack discussion to try and gain consensus.

[2022-04-25 18:22] Santhosh-Sellavel commented on #8357
@allroundexperts
Please try to include the exact code changes you are proposing instead of linking. Example like this https://github.com/Expensify/App/issues/8357#issuecomment-1108493490

[2022-04-25 18:28] roryabraham commented on #6942
Again no update. GitHub has launched a "retry only failed jobs" functionality, so I am going to close this as it's no longer needed really.

[2022-04-25 18:28] #6942 closed

[2022-04-25 18:29] roryabraham commented on #7284
Again no update.

[2022-04-25 18:32] allroundexperts commented on #8357
@Santhosh-Sellavel Updated.

[2022-04-25 18:46] cead22 commented on #8590
Thanks for that. I think removing the spinner like in your video is a good improvement. Not sure if others agree

I like that idea! As far as I can tell there's no way to get the dimensions of the image before it's uploaded

A crazier idea would be to somehow preload the image, and then display it.
- One idea would be to display preview, upload the image, once that's done we create an invisible im

[2022-04-25 18:49] allroundexperts commented on #8590
@cead22 Your suggestions would just work for the person uploading the image. For other people, the JANKINESS will still be there. Even for the uploader, the effect will be the same if he refreshes his browser. So IMO, a simple and effective fix would be to save the dimensions in the API call. That'll work well for all the users.

[2022-04-25 18:50] tomivs commented on #8185
@thienlnam contacto@tomivs.com

[2022-04-25 18:58] thienlnam commented on #8185
I didn't see your email come in to contributors@expensify.com but invited you to the slack channel.

[2022-04-25 18:59] michaelhaxhiu commented on #8497
@allroundexperts hm something seems to be wrong with your testing steps or maybe your testing environment. I just tested it again firsthand and it's 100% reproducible.

![still a bug son](https://user-images.githubusercontent.com/13206896/165155534-5858f2de-949c-40c5-b722-6096edad993d.gif)

[2022-04-25 19:03] mallenexpensify commented on #7909
Hired @mateusbra as the contributor/contractor. @rushatgabhane for C+ and @adeel0202 for reporter!
https://www.upwork.com/jobs/~017f47eb7070f5ad02

[2022-04-25 19:05] dharmik commented on #8440
@parasharrajat As I saw for internal validation approach for both files are same. But there is no validation message which we display from API call in **WorkspaceNewRoomPage.js** we just display a top alert.

In **PasswordPage.js** we have to display error message as per API response and need to display inline.

Can you please share your suggestion, that help me a lot.

[2022-04-25 19:13] mallenexpensify commented on #8200
I put on hold for removed the `Help Wanted` label.
Also see if there's anyone who's good to tag for Offline questions/feedback https://expensify.slack.com/archives/C01GTK53T8Q/p1650913662461499

[2022-04-25 19:13] mvtglobally commented on #8707
@francoisl
Checking https://github.com/Expensify/App/pull/8684 again. Will update shortly.
Checking off https://github.com/Expensify/App/pull/8650, https://github.com/Expensify/App/pull/8256, https://github.com/Expensify/App/pull/8647

and yes, Typo, I meant #8476

[2022-04-25 19:17] michaelhaxhiu commented on #8643
@Beamanator @TomatoToaster So do we want to make this a feature request (since it's not a bug), or close it?

[2022-04-25 19:20] #8643 closed

[2022-04-25 19:26] allroundexperts commented on #8497
@michaelhaxhiu Are you testing on local host?

[2022-04-25 19:27] TomatoToaster commented on #8643
This behavior should be fixed and universal (work same on iOS and android) with this PR: https://github.com/Expensify/App/pull/8751. If that's not the case when this PR is being QA'ed, then we could reopen this to make sure it works the same in iOS and android.

[2022-04-25 19:36] adelekennedy commented on #8005
We're at the doubling point again but it sounds like we're still holding on reproducing the issue - @Beamanator @Santhosh-Sellavel

[2022-04-25 19:37] adelekennedy commented on #7942
still no proposals - moving forward to double

[2022-04-25 19:47] allroundexperts commented on #8497
Seems like CORS error on localhost because plaid requests are using secure expensify url. Is there a way to proxy secure expensify requests? @michaelhaxhiu

[2022-04-25 19:54] michaelhaxhiu commented on #8497
@allroundexperts I'm testing on staging.expensify.com (not a local VM).

[2022-04-25 19:55] cead22 commented on #8590
You mean to return the dimensions from the API right? If so that makes sense to me

[2022-04-25 19:55] michaelhaxhiu commented on #8497
I'll let @luacmartins answer that 2nd question as I'm not an expert there:

[2022-04-25 19:55] Santhosh-Sellavel commented on #8132
Started a thread [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1650916473552159?thread_ts=1646420349.264159&cid=C01GTK53T8Q)

[2022-04-25 19:56] AndrewGable commented on #8132
Thank you very much @Santhosh-Sellavel!

[2022-04-25 19:57] Santhosh-Sellavel commented on #8590
Yes, that would help!

[2022-04-25 19:58] rushatgabhane commented on #8363
@techievivek gonna unassign myself, have school exams 📖

[2022-04-25 19:59] rushatgabhane commented on #8363
@laurenreidexpensify yeah i believe it's a regression

[2022-04-25 20:03] Santhosh-Sellavel commented on #8590
Of course, it would be done by the internal team!

[2022-04-25 20:05] Santhosh-Sellavel commented on #8590
@chiragsalian Are you good with this https://github.com/Expensify/App/issues/8590#issuecomment-1108978375?

Then let's put this issue on hold until API is ready. Thanks!

[2022-04-25 20:06] luacmartins commented on #8497
@allroundexperts There's some info in this [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1639068595427300?thread_ts=1639063796.422900&cid=C01GTK53T8Q). TLDR is that we currently do not have a proxy for that. I believe that testing on the Desktop app should work though.

[2022-04-25 20:09] Santhosh-Sellavel commented on #8034
@roryabraham Draft is already up, need to update PR Details.
I will update within 1 or 2 days. Sorry for the delay.

[2022-04-25 20:10] trjExpensify commented on #8690
Hurrah for offline first! Okay, so this was reported by Applause and it's staying internal, so I'll go ahead and unassign myself as the CM.

[2022-04-25 20:11] Santhosh-Sellavel commented on #8005
@adelekennedy
We are almost there.
Let's hold for couple more days wait for @Beamanator reply and proceed further.

Thanks

[2022-04-25 20:13] luacmartins opened #8768 "Fix MAX_COMMENT_LENGTH const"
# Problem
Running `npm run desktop` results in the following error:

![error](https://user-images.githubusercontent.com/22219519/165167274-0d524be7-c178-423a-9326-d1a7debc5d2f.png)

# Why is this important?
Prevents us from developing.

# Solution
Remove the `_`

[2022-04-25 20:15] michaelhaxhiu commented on #8590
@chiragsalian updating the title as I think @Santhosh-Sellavel is correct !

[2022-04-25 20:16] johnmlee101 commented on #8729
Good to :donothing: in the meantime then?

[2022-04-25 20:17] Santhosh-Sellavel commented on #8157
Yes @Luke9389, we are waiting for proposals here.

But there is some input from @parasharrajat & @thesahindia  on the following comments that it's unsolvable.
https://github.com/Expensify/App/issues/8157#issuecomment-1069359816
https://github.com/Expensify/App/issues/8157#issuecomment-1081091769

It looks unsolvable based on the earlier discussions. Can we close this one out or wait for proposals?

[2022-04-25 20:27] allroundexperts commented on #8497
@michaelhaxhiu @luacmartins  Plaid recently moved to OAuth for all banks. As such, the `user_good` and `pass_good` isn't valid anymore. We'll need to integrate that before moving to this bug.
https://plaid.com/docs/link/oauth/

https://user-images.githubusercontent.com/30054992/165169340-09d982c0-5040-4300-89fe-2439ff57d243.mp4

[2022-04-25 20:31] Santhosh-Sellavel commented on #7971
Will review this tomorrow!

[2022-04-25 20:32] Santhosh-Sellavel commented on #8115
Thanks, @mollfpr

Will review this tomorrow!

cc: @AndrewGable

[2022-04-25 20:38] #8768 closed

[2022-04-25 20:42] mvtglobally commented on #8707
@francoisl are we ok to check off https://github.com/Expensify/App/pull/8476?

We re-tested https://github.com/Expensify/App/pull/8684#issuecomment-1109018449. Not sure if this is acceptable or will block deploy?

[2022-04-25 21:08] luacmartins commented on #8497
@allroundexperts I believe that's because contributors hit our staging API and real credentials must be used there. There's a thread about it [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1649949322758349). Since this might be a blocker for contributors, I'll make this an Internal issue. Thanks for the interest!

@michaelhaxhiu can you pay the reporting bonus and remove the Upwork job?

[2022-04-25 21:15] francoisl commented on #8728
cc'ing @TomatoToaster as per the QA steps in the PR:

[2022-04-25 21:22] amyevans commented on #8728
Good eye @francoisl, thanks for catching that!

[2022-04-25 21:22] thesahindia commented on #8715
### Proposal
We can just set a minWidth for this button.
`minWidth: 61` will be good for cancel/decline button and `minWidth: 69` for spanish ones. We can add a function in `StyleUtils` which will return minWidth based on the `preferredLocale`.

Or instead of this we can just set the minWidth to larger one (that's what we did for the resend link button https://github.com/Expensify/App/pull/6958)
W

[2022-04-25 21:32] francoisl commented on #8707
I'm checking off https://github.com/Expensify/App/pull/8476 as per the QA instructions and tagged the author.
For #8684, it seems like applause.expensifail.com is not on the required beta, so I don't think you'd be able to test now. I'm also not sure if we'd want to add the whole domain to that beta right now. Since the feature is only available behind a beta, I'm also leaning on checking this one

[2022-04-25 21:34] francoisl commented on #8707
:shipit:

[2022-04-25 21:34] #8707 closed

[2022-04-25 21:47] neil-marcellini commented on #8229
I was able to get all of the flows to work on dev. I have this PR up for review now, [Prevent "Continue setup" navigating back immediately](https://github.com/Expensify/App/pull/8498) and these two PRs which will follow to complete the fix on the feature branch.

[[HOLD 8498] Only create 1 free workspace when transitioning](https://github.com/Expensify/App/pull/8611)
[[HOLD 8611] Wait for Onyx to

[2022-04-25 21:49] AndrewGable commented on #2727
Thank you for the very informative video @lbaldy! This looks very promising for sure. @parasharrajat - Can you review the videos and verify this is the expected behavior then work with @lbaldy to flush out the proposal?

[2022-04-25 22:12] francoisl opened #8777 "Deploy Checklist: New Expensify 2022-04-25"
**Release Version:** `1.1.57-17`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/7849
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/8483
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/8493
  - [x] QA

[2022-04-25 22:26] Beamanator commented on #8643
Awesome thanks for closing this out and confirming it's expected @TomatoToaster 👍

[2022-04-25 23:53] mallenexpensify commented on #8644
Doubled price to $500
https://www.upwork.com/jobs/~0161ef6695919d8c97

@parasharrajat , can you help with @wildanmuhlis2 's question above?

[2022-04-26 00:04] NikkiWines commented on #7497
Yep, I agree - this proposal looks good. @jboniface could you hire @orkunkarakus for this role, please?

[2022-04-26 00:16] NikkiWines commented on #8644
I'm also not sure I understand the bug (but having troubles with NewDot locally so haven't been able to do my own testing). I think since https://github.com/Expensify/App/issues/8470 is resolved we should retest to make sure this is still a bug.

[2022-04-26 00:45] janicduplessis commented on #7925
Hey @mallenexpensify!

I'm currently working with @roryabraham on https://github.com/Expensify/react-native/pull/8. Currently addressing minor review comments.

[2022-04-26 01:04] chiragsalian commented on #8590
Sure yeah, @michaelhaxhiu can you create an issue and assign it to me so that i can make the API changes.

@allroundexperts, if i update the response of `Report_AddComment` such that the dimensions of the attachment are within reportAction -> message would that be alright? Sample,
[code]

[2022-04-26 01:35] roryabraham commented on #7925
PR was just merged into the bidirectional-scrolling feature branch!

[2022-04-26 01:44] rushatgabhane commented on #8573
@Expensify/contributor-plus wanna pick this up? I'll be OOO because school exams 📖👨‍🏫
No proposals yet

[2022-04-26 01:45] rushatgabhane commented on #8396
@Expensify/contributor-plus wanna pick this up? I'll be OOO because school exams 📖👨‍🏫
No proposals yet

[2022-04-26 01:53] rushatgabhane commented on #8292
@adelekennedy not moving forward with @anboia's propsoal because https://github.com/Expensify/App/issues/8292#issuecomment-1108866564

[2022-04-26 01:55] rushatgabhane commented on #8292
@Expensify/contributor-plus feel free to pick this issue up, I'm unassigning because I'll be OOO.
No untriaged proposals yet. Thanks!

[2022-04-26 01:58] rushatgabhane commented on #8286
@Expensify/contributor-plus feel free to pick this issue up, I'm unassigning because I'll be OOO.
No untriaged proposals yet. Thanks!

[2022-04-26 02:03] rushatgabhane commented on #8131
@Expensify/contributor-plus feel free to pick this us, I'm unassigning because I'll be OOO.
There is one untriaged [proposal](https://github.com/Expensify/App/issues/8131#issuecomment-1108710694) which should get the job done (idk why we need the padding tho)

[2022-04-26 02:12] rushatgabhane commented on #7859
@Expensify/contributor-plus feel free to pick this up, I'm unassigning because I'll be OOO.

There are no untriaged proposals yet.

[2022-04-26 02:16] rushatgabhane commented on #7727
@Expensify/contributor-plus feel free to pick this up, I'm unassigning because I'll be OOO.

All proposals here have been triaged so far.

[2022-04-26 02:27] rushatgabhane commented on #7573
@OneDevStopShop's [Upwork profile](https://github.com/Expensify/App/issues/7573#issuecomment-1089077135) has been deleted and they don't meet the prereq for working on E/App jobs

@Julesssss I'd suggest that we use @OneDevStopShop's [proposal](https://github.com/Expensify/App/issues/7573#issuecomment-1088235766) and

- Fix this issue internally, or
- I could fix it (I'll submit a formal proposal i

[2022-04-26 02:34] rushatgabhane commented on #7470
@Expensify/contributor-plus feel free to pick this up. Unassigning because I'll be OOO.

There are no untriaged proposals here.

[2022-04-26 02:35] rushatgabhane commented on #6069
PR is on staging

[2022-04-26 03:10] dharmik commented on #8131
@rushatgabhane pr updated

[2022-04-26 03:51] OSBotify commented on #8777
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.57-2 :rocket:

[2022-04-26 04:39] mvtglobally commented on #7779
Issue not reproducible during KI retests. (Second week)

[2022-04-26 04:41] mvtglobally commented on #8116
Issue not reproducible during KI retests. (First week)

[2022-04-26 04:41] mvtglobally commented on #8212
Issue not reproducible during KI retests. (First week)

[2022-04-26 04:43] mvtglobally commented on #8321
Issue not reproducible during KI retests. (First week)

[2022-04-26 04:44] mvtglobally commented on #8404
Issue not reproducible during KI retests. (First week)

[2022-04-26 04:44] mvtglobally commented on #8331
Issue not reproducible during KI retests. (Third week)

[2022-04-26 04:46] mvtglobally commented on #8537
Issue not reproducible during KI retests. (Second week)

[2022-04-26 04:49] mvtglobally commented on #8641
Issue not reproducible during KI retests. (First week)

[2022-04-26 04:50] mvtglobally commented on #8661
Issue not reproducible during KI retests. (First week)

[2022-04-26 05:00] mvtglobally commented on #8644
@NikkiWines This issue is found when executing PR https://github.com/Expensify/App/pull/8437/
As per Step 5 user should see a textbox when navigating back, but we only see it after refresh.

[2022-04-26 05:07] sobitneupane commented on #8459
**Proposal:**
Constant defined in CONST.js seems incorrect.
Replace following lines of code by:
https://github.com/Expensify/App/blob/de6404b06c6d886b9495135aab0d8c1f5161a6b3/src/CONST.js#L416-L417

[code]
Above change will not be enough to solve the issue.
Calculation of numEmojiRows is incorrect. Here value of `this.state.highlightedIndex` is not correct. The reason is addition of unnecessary sp

[2022-04-26 05:30] frenkield commented on #8641
Hi All. I submitted a proposal on Upwork. However I can't at the moment say when I'll be able to submit the PR because it depends upon this PR being merged: https://github.com/react-navigation/react-navigation/pull/10414.

And, just in case, I'm still seeing the issue locally (in version 1.1.57-2).

[2022-04-26 06:14] Christinadobrzyn commented on #8249
Looks like Upwork posting expired so created a new job

Internal: https://www.upwork.com/ab/applicants/1518832417240899584/job-details
External: https://www.upwork.com/jobs/~01cf76850ff9067dad

Hired @rushatgabhane, @Santhosh-Sellavel & @Tushu17 in the new job posting!

[2022-04-26 06:30] allroundexperts commented on #8590
Yep. That would work.

On Tue, 26 Apr 2022 at 6:05 AM, Chirag Chandrakant Salian <
***@***.***> wrote:

[2022-04-26 07:28] wildanmuhlis2 commented on #8640
@mvtglobally, is it possible to reproduce it as an external contributor?

It is always redirected to the live site instead of asking for sandbox cred.

the same issue raised [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1649949322758349).

[2022-04-26 08:07] dylanexpensify commented on #6060
Getting closer

[2022-04-26 08:41] sobitneupane commented on #8197
Yes. Work in Progress.

[2022-04-26 09:21] trjExpensify commented on #7470
Due a double up today in Upwork. Actioned on that [here](https://www.upwork.com/jobs/~0132057b0680124108).

[2022-04-26 09:35] dylanexpensify commented on #8762
Internal: https://www.upwork.com/ab/applicants/1518886451848237056/job-details
External: https://www.upwork.com/jobs/~019f5d9ff6440c4be2

[2022-04-26 10:03] laurenreidexpensify commented on #8763
@Julesssss wanna apply the rest of the labels to get this on upwork? add `external` and we're in business

[2022-04-26 10:25] Julesssss commented on #7573
Ah, thanks for pointing that out.

Sure, would you like to implement it @rushatgabhane? If @OneDevStopShop is able to get an Upwork profile up I think we would still happily pay out a bonus for the proposal.

[2022-04-26 10:33] Julesssss commented on #8763
Out of interest Lauren, how come you unassigned yourself? Auto-assigner would have kept you on in that case right? Like it did for me

[2022-04-26 12:11] Beamanator commented on #8288
@mallenexpensify just so you know, @brianmuks 's fix was merged & deployed to staging. It's a bit of a weird situation b/c his fix to `expensify-common` was merged about a week ago, then while I was having trouble testing, it was merged into `E/App` in this PR: https://github.com/Expensify/App/pull/8743

As you can see on that PR, it just got deployed to staging yesterday (here: https://github.com

[2022-04-26 12:18] Justicea83 commented on #8664
## Proposal

 TouchableOpacity doesn't work well in `android` according to this [issue](https://github.com/facebook/react-native/issues/27549).

A work around it is

1.  Refactor the codes in [components/CopyTextToClipboard.js](https://github.com/Expensify/App/blob/main/src/components/CopyTextToClipboard.js).

#### Update the PropTypes

[code]

#### Update Default Prop Types

[code]

#### Update t

[2022-04-26 12:25] Puneet-here commented on #8469
Sure, I will raise the PR.
Also I need the translation for these lines. Should I ask about it on slack?
1. "Collaboration with everyone at %domain% starts here!"
2. "Use #%domain% to chat with colleagues, share tips, and ask questions."

[2022-04-26 12:28] Beamanator commented on #8469
@Puneet-here Yes please feel free to ask for those translations in slack :D 👍

[2022-04-26 12:59] OSBotify commented on #8777
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.57-3 :rocket:

[2022-04-26 14:36] stephanieelliott commented on #7706
PR is moving along through review!

[2022-04-26 14:48] stephanieelliott commented on #8507
Seeing as this issue is something we're not able to fix at the moment I'm gonna close this. Feel free to reopen if you disagree! Otherwise, let's bring the discussion re: future documentation to #expensify-open-source and then open a separate issue if it's needed.

[2022-04-26 14:48] #8507 closed

[2022-04-26 15:02] eVoloshchak commented on #7524
@rushatgabhane
1. [PR](https://github.com/Expensify/App/pull/8764) is up
2. There is one milestone per 5 forms, 16 forms were audited on April 11th. Should 3 milestones be paid for?

[2022-04-26 15:03] parasharrajat commented on #8657
Discussing now..

[2022-04-26 15:03] Beamanator commented on #8507
That sounds like a good plan, thanks @stephanieelliott 👍

[2022-04-26 15:03] kbecciv opened #8783 "Android/IOS - Invalidate button is not fully visible"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Go to Settings - Preferences

## Expected Result:
Invalidate button is fully visible

## Act

[2022-04-26 15:05] rushatgabhane commented on #7524
cc: @deetergp

[2022-04-26 15:06] rushatgabhane commented on #7524
cc: @JmillsExpensify

[2022-04-26 15:06] Julesssss commented on #8783
I'm going to go ahead and remove the deployBlocker label. It's an easy fix, and not THAT important.

Doing this for Tim as the US is asleep.

[2022-04-26 15:08] Julesssss commented on #8777
I marked #8783 as NOT a blocker, as it's not that important overall. It'll get triaged as usual though.

[2022-04-26 15:08] Julesssss commented on #8783
I also marked it off the deploy checklist

[2022-04-26 15:19] michaelhaxhiu opened #8784 "Update API so uploading an image doesn't cause the thumbnail to resize 3 times"
This GH is being created as the counterpart to [this E/app github](https://github.com/Expensify/App/issues/8590), per @chiragsalian's request:

___

## Action Performed:
1. Open any chat
2. Upload a larger file to share

## Expected Result:
The API should support thumbnail should load once uploaded, or if it's a large file it should display a spinner until it's uploaded. We need to update the API

[2022-04-26 15:20] michaelhaxhiu commented on #8590
@chiragsalian internal GH for the API update can be found here - https://github.com/Expensify/App/issues/8784

[2022-04-26 15:38] michaelhaxhiu commented on #8497
@Puneet-here can you please apply for the job here?  I updated the amount to $250 to pay you the reporting bonus to you when this is fixed/deployed to production.

[2022-04-26 15:45] michaelhaxhiu commented on #8784
Let me know if it's ok to keep this in the E/App repository @chiragsalian (I can make it under E/E if that's better)?

[2022-04-26 15:50] michaelhaxhiu opened #8785 "[Chase] Expenses are wrongfully importing into parent and child CCs"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Chat:** https://www.expensify.com/concierge/#/chat/9689033
**Admin:** pam@cillessenconstruction.com
**Last message:**

## Expected Result:
If a user sets up their Chase

[2022-04-26 15:50] marcochavezf commented on #8729
Yup, I think this issue can be closed

[2022-04-26 15:55] Julesssss commented on #8197
Good spot! I think not for now, it seems a bit pointless as we can't set custom images yet.

So let's block that too please @sobitneupane

[2022-04-26 15:58] parasharrajat commented on #8640
Pinged the slack thread.

[2022-04-26 15:59] parasharrajat commented on #8197
Ok. Great. Thanks for the feedback @Julesssss.

[2022-04-26 16:01] Santhosh-Sellavel commented on #8357
@iwiznia
Proposals are similar, so let's go with @sobitneupane here.
@sobitneupane **Option 1** proposal [here](https://github.com/Expensify/App/issues/8357#issuecomment-1106236099) looks good to me.
One suggestion, let's move the IOU options preparation logic to a new method. Since the code is not DRY & too clumsy in Render Block.

🎀👀🎀 C+ reviewed.
Thanks!

[2022-04-26 16:01] #8755 closed

[2022-04-26 16:03] parasharrajat commented on #8131
@dharmik is there no Scrollbar for TextInput natively? I think it used to work, not sure though.

[2022-04-26 16:04] Puneet-here commented on #8469
@Beamanator, I have asked for the translation [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1650977105152189)

At announce room we use `Collaboration starts here! 🎉` as the first line,
at announce room we use `Collaboration between all ${workspaceName} members starts here! 🎉`

instead of using `Collaboration with everyone at %domain% starts here!` should I just use the existing one for

[2022-04-26 16:05] parasharrajat commented on #2727
Oh, I didn't notice that I am assigned to it. I will check them tomorrow morning IST.

[2022-04-26 16:11] dharmik commented on #8131
TextInput able to scroll up and down but in android scroll indicator is not visible its only for android and we have to display it so with this code we are able to display it.

[2022-04-26 16:17] NicMendonca commented on #8458
@sobitneupane sorry! Can you please apply for the job so we can issue payment: https://www.upwork.com/jobs/~018897a01f0bd438e7

[2022-04-26 16:20] parasharrajat commented on #8459
Ok, I see. Both of the proposals are suggesting to change the static dimensions as the first step. But instead of doing that How will we make sure that rendered emojis have 40px height. We are expecting the emoji to take 40px height.

@sobitneupane I will need more information to understand your proposal. What are you doing in `getDynamicSpacing` and why?

Didn't get it.

[2022-04-26 16:23] parasharrajat commented on #8131
I think you misunderstood my question. I was trying to ask Why is there no scrollbar on TextInput for Android? It should be, right?

[2022-04-26 16:24] michaelhaxhiu commented on #8785
Waiting on the customer to clarify which fo these transactions do not belong under the CC x 1629 assigned to
felix@cillessenconstruction.com

[2022-04-26 16:26] mdneyazahmad commented on #8131
`TextInput` has a prop `scrollEnabled`, when `multiline` is set to true it will provide us with a scrollbar if the content is more than the `TextInput` height. But this is only an `ios` thing. My proposal is pretty much same with slight change and I will also disable the `scrollEnabled` on ios and make the same changes there to be consistent.

source: https://reactnative.dev/docs/textinput#scrolle

[2022-04-26 16:30] Puneet-here commented on #8469
Also i found that workspace name isn't bold at rooms
<img width="773" alt="Screenshot 2022-04-26 at 8 44 42 PM" src="https://user-images.githubusercontent.com/101883770/165348526-426c825f-f5a3-4a45-80a4-f35f5a0ddc35.png">

[2022-04-26 16:31] mdneyazahmad commented on #8131
If we are using multiline textinput elsewhere we also have to make the same change there (that may be another issue).

[2022-04-26 16:31] rushatgabhane commented on #7470
@michaelhaxhiu oops 😂

[2022-04-26 16:43] metehanozyurt commented on #8459
It's used to be 40, but it has been changed. For this reason, 40 appears to be fixed values.
This commit add 40
https://github.com/Expensify/App/commit/fe374e3d2a3f034c7f68a00a066332ef4891cf9f

this commit changes this value
https://github.com/Expensify/App/commit/2a6e5b9323e2e8c6bd423a0c3d67169fe4415238

[2022-04-26 16:45] koswalto commented on #8785
https://www.expensify.com/concierge/#/chat/10126599
djuneau@calmicroturbine.com - admin

smarquez@calmicroturbine.com - got connected to the parent card **9297** instead of his own card **4581**

Card **9297** does not belong to an Expensify employee, so this is not good.

Example, this expense shows that it's coming through to smarquez@calmicroturbine.com on card 4581...

![image](https://user-im

[2022-04-26 16:56] koswalto commented on #8785
Sounds like @marklouisdeshaun also had a customer run into this issue too and will be posting details soon, so safe to say 3 of these suddenly should be looked into pretty quickly. Leaving as a daily.

[2022-04-26 16:57] Julesssss commented on #5336
Needs some improvements, but getting the IOUActions in addition to the report was straightforward:

<img width="404" alt="Screenshot 2022-04-26 at 17 56 35" src="https://user-images.githubusercontent.com/10736861/165353275-a72cc887-21af-4622-9d62-066e4056726d.png">

[2022-04-26 16:58] kbecciv opened #8786 "Mac/Safari - Book Travel - "Learn more" link opens a new window instead of a new tab"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: Have workspace set up and bank account connected
1. Access staging.new.expensify.com
2. Sign into an applause.expensifail,com account

[2022-04-26 16:58] rushatgabhane commented on #7535
Sorry for the trouble, unassigning myself. I'm OOO

https://github.com/Expensify/App/pull/8765#issuecomment-1110034253

[2022-04-26 16:59] tgolen commented on #8762
Looks good to me! I see we are using `<HeaderGap>` in another similar spot. 🟢  to hire @mollfpr for this.

[2022-04-26 17:03] b1tjoy commented on #8663
### Proposal
### Reason
When the text changed in TextInput, the updateComment callback function is called, and in the last line of the function we always set scollTop to scrollHeight, which means always scoll to the last of TextInput, this is why the insertion point goes out of the sight.
https://github.com/Expensify/App/blob/0fb59f50af6c75cada48cae444d5eecb0299919a/src/pages/home/report/ReportAct

[2022-04-26 17:03] rushatgabhane commented on #8762
Unassigned because I'm OOO

[2022-04-26 17:12] sarajojacobson commented on #8785
carissa@assemblygroup.com
https://www.expensify.com/concierge/#/chat/5983906

All of Carissa's charges are showing up on Pilar's account as well as hers.

Report ID 92901515

Carissa - 8101
Pilar - 3785

![image](https://user-images.githubusercontent.com/12812676/165355563-b9f5201e-26cd-43c9-b7aa-55bf35a979a0.png)

[2022-04-26 17:13] neil-marcellini commented on #8708
My plan is to call `report->getActionList()` and then create a set of clientIDs at the beginning of [ReportAPI::addComment](https://github.com/Expensify/Web-Expensify/blob/4c94d9f2e2553f94affa9defc916baa23f1329a5/lib/ReportAPI.php#L320). If the clientID of the incoming message exists in the set then I will reject the `Report_AddComment` command.

I think it might be best to only check against a li

[2022-04-26 17:14] thienlnam commented on #8126
Looking through the thread it seems like we're limited by the ability to control the page behavior using the URL. It looks like we're limited by the react-navigation library? What's suggested outcome here @parasharrajat, it doesn't seem like we'll be able to do this with react-navigation

[2022-04-26 17:14] sobitneupane commented on #8458
Applied.

[2022-04-26 17:15] michaelhaxhiu commented on #8785
fuck ... this is under E/App. Need to make under E/E

[2022-04-26 17:15] #8785 closed

[2022-04-26 17:24] pecanoro commented on #8158
I am sorry, I missed the notification for this issue! Sure, go ahead, assigning it to you. Don't forget to apply in Upwork.

[2022-04-26 17:26] NicMendonca commented on #8458
paid!

[2022-04-26 17:26] #8458 closed

[2022-04-26 17:27] parasharrajat commented on #8126
I haven't seen any proposal attempt using React-navigation to the solve the problem so I can't say the same. I think it would be actually possible to do with react-navigation.

So if we break down the problem into steps considering https://github.com/Expensify/App/issues/8126#issuecomment-1103000322.

1. Manage the drawer state somehow https://github.com/Expensify/App/issues/8126#issuecomment-1103

[2022-04-26 17:38] eVoloshchak commented on #8655
1. I'm unable to obtain [logs](https://stackoverflow.com/c/expensify/questions/4856) without the `@expensify` e-mail. Is there a way to register such an email to get access to logs?
2. If it's possible, could we get screenshot/video of full Component Stack?

[2022-04-26 17:40] parasharrajat commented on #8131
I think `scrollenabled` has a different purpose than showing/hiding the scrollbar. Docs says that it will disable the scrolling on content on iOS. Then how will the content scroll?

Anyways, I am looking into some research data that shows:
- Is there no Scrollbar for TextInput natively on Android?
- Is there any development efforts for it in RN?
- Are there any reported issues on RN for this?
- Be

[2022-04-26 17:45] parasharrajat commented on #8440
I will share some tomorrow. Not on high priority.

[2022-04-26 17:46] parasharrajat commented on #8459
Ok, I see.

[2022-04-26 17:47] lbaldy commented on #2727
@azimgd  that sounds exactly like what I presented in my proposal and a follow up video to @AndrewGable. No? ;)

[2022-04-26 17:49] dharmik commented on #8131
@parasharrajat

**Scrollbar Indicator** is not visible in Android for InputText.

How it looks for other platform please check this link https://github.com/Expensify/App/issues/8131#issuecomment-1098108372

======

Anyways, Your answers as per my understanding:

1) **Is there no Scrollbar for TextInput natively on Android?**: We have Scrollbar but we are in discussion of that scroll indicator is n

[2022-04-26 17:49] parasharrajat commented on #8541
Sorry, reviewing in 20 mins.

[2022-04-26 17:51] thienlnam commented on #8126
Cool cool, going to add that to the description and have the job doubled

[2022-04-26 17:54] marcaaron commented on #8708
It sounds like we want to:

- prevent duplicates by checking the clientIDs of any report actions on a report
- prevent losing data because we somehow have an identical clientID for 2 distinct comments

I might be confused about which case we are discussing though WRT those comments.

Is there any benefit to rejecting this vs. just having it return `jsonCode: 200` with the `Report_AddComment` respo

[2022-04-26 18:04] neil-marcellini commented on #8708
That sounds like a good idea, I'm happy to do that.

Makes sense 👍

[2022-04-26 18:12] luacmartins commented on #7535
@Santhosh-Sellavel assigning you as C+ for this issue, since @rushatgabhane is OOO. I also assigned you to the corresponding [PR](https://github.com/Expensify/App/pull/8765).

[2022-04-26 18:14] cead22 commented on #8708
Yeah I vote we do nothing.

I think this is also an edge case that we don't need to optimize for -- I think it's better to drop a really old message which likely isn't relevant anymore, than create a duplicate in this case. Regardless, I think we can check all the report actions, but this could get slow on really channels with a lot of messages

[2022-04-26 18:19] Santhosh-Sellavel commented on #8115
@AndrewGable
@mollfpr Proposal looks good to me.
🎀 👀 🎀 C+ reviewed

[2022-04-26 18:19] rushatgabhane commented on #6154
The PR was like >95% complete. But we kinda hit a hard wall here https://github.com/Expensify/App/pull/7433#pullrequestreview-923013569

It seems to be a react native issue imo. Regarding the efficiency - I'm sure any C+ assigned to this issue can catch-up after spending ~30 mins reading the PR.

[2022-04-26 18:23] Santhosh-Sellavel commented on #7971
Discussing this one!

[2022-04-26 18:38] luacmartins commented on #8786
@kbecciv is this a regression or did we change the expected behavior?

[2022-04-26 18:38] rushatgabhane commented on #7835
Unassigning because I'll be OOO until 14 May.
cc: @mallenexpensify

[2022-04-26 18:42] rushatgabhane commented on #8396
@michaelhaxhiu you know what to do xD

[2022-04-26 18:44] rushatgabhane commented on #7435
Unassigning myself because I'm OOO until May 14

[2022-04-26 18:46] rushatgabhane commented on #7541
@MitchExpensify I'm unassigning because I'm OOO until May 14.
This is a very intensive issue, so it's best that I don't review it.

[2022-04-26 18:46] chiragsalian commented on #8784
I think its fine as is. I've just put the PR for review.

[2022-04-26 18:49] rushatgabhane commented on #8249
@Christinadobrzyn I'm unassigning because I'm OOO till 14 May.

[2022-04-26 18:51] parasharrajat commented on #8541
Ok, I see the problem now.

@dharmik your proposal is lacking step 5 from the steps. `Tap on any tab that has "Connect to bank" (For example: Issue cards, reimburse expenses, etc)`.

It says to go to any page where this "Connect to bank" is available and fix the issue in all those places.

[2022-04-26 18:52] michaelhaxhiu commented on #8784
weeeeee

[2022-04-26 18:55] rushatgabhane commented on #7487
Unassigning because I'll be OOO until May 14.

[2022-04-26 18:58] Tandin-Moon commented on #8681
@tgolen If that's the case, are you using react native vector icons or is it just SVG? If its vector icons:

<Icon as={FontAwesome5} name='eye'  _dark={{ color: '#D3D3D3' }   />

or

if it is SVG, in html file

<SVG fill="D3D3D3"> </svg>

[2022-04-26 19:00] marcochavezf commented on #8468
Hi @kavimuru, I noticed the pronouns of the user logged in don't appear in the group chat, I think you're referring to the pronouns of other users in the group chat, right?

Let's say I'm logged in with an account A, and I have a group chat with the accounts B and C, then the account B changes the pronouns (logged in from another browser/handset), but the changes are not reflected in account A unt

[2022-04-26 19:02] rushatgabhane commented on #8681
@Tandin-Moon thankss but @mateusbra was already hired for this issue, and the PR has been approved.
I'd suggest that you take a look at other open issues with the `Help wanted` label.

Again, thanks for your time!

[2022-04-26 19:02] #8728 closed

[2022-04-26 19:20] tylerkaraszewski commented on #8719
Seems legit and external.

[2022-04-26 19:24] kbecciv commented on #8786
@luacmartins This is from Regression

[2022-04-26 19:28] thesahindia commented on #7007
bump @marcaaron ⬆️

[2022-04-26 19:31] parasharrajat commented on #8131
Anyone looking to solve this problem must answer these https://github.com/Expensify/App/issues/8131#issuecomment-1110074944.

[2022-04-26 19:37] dharmik commented on #8131
Let me know if you have any question or doubts on this https://github.com/Expensify/App/issues/8131#issuecomment-1110083069

[2022-04-26 19:40] kbecciv opened #8787 "[HOLD for payment 2022-05-20] [$250] Web - Using Ctrl C and Ctrl V commands does not work for copy multiple messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR:** https://github.com/Expensify/App/pull/8743

## Action Performed:
1. Open app
2. Send messages with any bold, italic style words
3.

[2022-04-26 19:44] aneequeahmad commented on #8158
@pecanoro no worries, I have applied on Upwork, PR will be raised within a day or two. Thanks

[2022-04-26 19:48] luacmartins commented on #7536
@kevinksullivan this was made `Internal`, please delete the Upwork job when you get a chance. Removing the `Exported` label.

[2022-04-26 19:49] marcaaron commented on #7007
I agree with @luacmartins and don't understand the benefits of having an input component that does this for us.

[2022-04-26 19:58] thesahindia commented on #7007
Yeah I agree on this, I will update the PR and will remove the new component.

[2022-04-26 19:59] rushatgabhane commented on #7573
@Julesssss yes !!

### Borrowed Proposal

Move the track distance section, and it's related methods from NoVBAView to VBAView.

https://github.com/Expensify/App/blob/4b5abf63ee24c2031945a3c119330cc86f45985b/src/pages/workspace/reimburse/WorkspaceReimburseNoVBAView.js#L159-L188

https://github.com/Expensify/App/blob/4b5abf63ee24c2031945a3c119330cc86f45985b/src/pages/workspace/reimburse/WorkspaceRei

[2022-04-26 20:00] misingo255 commented on #8762
**Proposal**

1. Wrap the buttons into different view to that of the attachments.
2. Add a margin between the views.

[2022-04-26 20:02] misingo255 commented on #8249
**Proposal**

1. Having different separate screens.
2. Adding react native routing and navigation packages/dependencies.
3. Wrapping all required elements i.e., name, username and profile photo etc. within a <TouchableOpacity> tag making it pressable/tappable.
4. •	Adding an onpress event that would navigate the user to the screen with the required details.

[2022-04-26 20:24] tgolen commented on #8783
I'm gonna grab this and fix it.

[2022-04-26 20:28] trjExpensify commented on #6154
Cool, @Santhosh-Sellavel do you want to let us know what you think after you catch up on the PR? @eVoloshchak proposal vids looks pretty promising! :)

[2022-04-26 20:40] stitesExpensify commented on #8267
Web PR is on prod, unsure why it didn't get posted here, but that means this is done!

[2022-04-26 20:40] #8267 closed

[2022-04-26 20:40] marcochavezf commented on #8311
Not overdue, waiting for proposals.

[2022-04-26 20:59] parasharrajat commented on #8292
https://jsbin.com/kefisiceme/edit?html,css,js

[2022-04-26 21:00] jboniface commented on #7962
any updates on this?

[2022-04-26 21:07] cead22 commented on #8610
Slapping the planning label on this one since we don't have any action items right now and still need to confirm whether this is a problem

[2022-04-26 21:22] tgolen commented on #8724
I think this is a case where there is just no way that we can guarantee the order the pusher events will come in. Once we switch to a sequential queue for WRITE requests, it will help, but there is only so much we can do. I think we should just close this for now and revisit after Offline First.

[2022-04-26 21:22] #8724 closed

[2022-04-26 21:24] mallenexpensify commented on #8288
So.... @Beamanator tbc... we're waiting for https://github.com/Expensify/App/pull/8743 to hit production, then waiting 7 days after than, right?

[2022-04-26 21:33] mallenexpensify commented on #8657
Updated these in OP

## Expected Result:
Back `⌘[` and Forward `⌘]` shortcuts should work and navigate through the previously navigated conversations **in the main/focused chat view.** ie. if I visit chats with Joanie, Alex then Daniel, I expect `⌘[` to take me from my chat with Daniel back to Alex then `⌘[` again back to Joanie. Most-everywhere else the back/forward actions follow a standard flow

[2022-04-26 21:43] Beamanator commented on #8288
Yes exactly 👨‍🍳 👍 💯

[2022-04-26 21:44] techievivek commented on #8363
@laurenreidexpensify I have tested this and this is indeed a regression from the PR that @mdneyazahmad has pointed to. Talking about the fixes If we are just going to revert the mentioned commit that is not going to help because on the chat page there will be a background colour difference between the main content and the statusbar. The other thing that I was thinking of was to programmatically up

[2022-04-26 22:01] AndrewGable commented on #8115
Asking @thienlnam about this issue because I thought we had some more overall plan for these type of issues.

[2022-04-26 22:03] arielgreen commented on #8731
https://www.upwork.com/jobs/~01643a4a496c287938

[2022-04-26 22:07] arielgreen commented on #8461
done

[2022-04-26 22:16] adelekennedy commented on #8719
[Internal](https://www.upwork.com/ab/applicants/1519077783430582272/job-details)
[External](https://www.upwork.com/jobs/~015eab27c03120d240)

[2022-04-26 22:16] arielgreen commented on #8311
[Price increased.](https://expensify.slack.com/archives/C01GTK53T8Q/p1651011373563439)

[2022-04-26 22:45] kbecciv opened #8791 "[$4000] mWeb/safari - Menu - "Open app banner" at the top causes spacing issues at the bottom of the browser"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-condition: User has the Expensify app installed on their device
1. Access staging.new.expensify.com
2. Sign into a valid applause.expensifail.co

[2022-04-26 22:46] OSBotify commented on #8791
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-04-26 22:49] francoisl commented on #8777
Hi @mvtglobally, how's it going with the checklist? Anything I can help with to move it forward?

[2022-04-26 22:58] mvtglobally commented on #8777
80%done. Will be updating the list in a little bit

[2022-04-26 23:15] wildanmuhlis2 commented on #8640
@parasharrajat sure, I've followed the slack thread and it resolved by using staging env and enabling the secure staging server option.
<img width="379" alt="Screen Shot 2022-04-27 at 06 07 55" src="https://user-images.githubusercontent.com/11847279/165407760-a4ad3b6d-f0ca-4357-8073-3ae87570a62e.png">

[2022-04-26 23:19] kbecciv opened #8792 "IOU - Old messages are displayed first when viewing money request details"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Launch the app
2. Login with any account A
3. Press the green + button
4. Complete the request for money to another account B you have access to

[2022-04-26 23:36] wildanmuhlis2 commented on #8640
@kbecciv  seems this issue has resolved in v1.1.57-0

https://user-images.githubusercontent.com/11847279/165409634-35613010-743f-45d1-bd39-4e153af18cae.mp4

[2022-04-26 23:42] marcaaron opened #8794 "[HOLD for payment 2022-05-23] [$250] Validate password complexity in the front end"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Sign in with a password that is too short

## Expected Result:

1. Error message is shown and we do not call `Authenticate` command

## Actual R

[2022-04-26 23:46] kevinksullivan commented on #8471
Thanks @metehanozyurt , please remember to apply to the job so i can make the payment when this is complete.

[2022-04-26 23:53] kevinksullivan commented on #7536
All set, post is not longer accepting proposals and I cancelled out the contract.

[2022-04-26 23:55] kevinksullivan commented on #8331
Alright, offer sent @parasharrajat once you accept I'll take care of this and close out.

[2022-04-27 00:00] cead22 commented on #8791
I was able to reproduce on staging but not production, so left it as deploy blocker and added Demolition

[2022-04-27 00:05] roryabraham commented on #8791
Just guessing, but https://github.com/Expensify/App/pull/8634 seems like the most likely culprit, followed by https://github.com/Expensify/App/pull/8521

[2022-04-27 00:06] mollfpr commented on #8762
@tgolen It is okay if I raise PR now? Since there's no C+ in here or should I wait for something first? Thanks!

[2022-04-27 00:31] SALAH-EDDIB commented on #8731
this Issue can be solved using css the problem is caused by two things first is an empty default div probably from the input library used and the other is space created with the min-height of the input
![image](https://user-images.githubusercontent.com/57941068/165414643-8c8dda8c-dc91-40b6-95e3-72054a46ddd6.png)

[2022-04-27 00:34] MitchExpensify commented on #7918
Not overdue waiting on #7623

[2022-04-27 00:51] marcaaron commented on #8791
The banner is an iOS [Smart App Banner](https://developer.apple.com/documentation/webkit/promoting_apps_with_smart_app_banners). Not smart enough apparently :trollface:

That link says it's opt-in, but not seeing where we enabled it...

What outcome are we looking for here exactly?

[2022-04-27 00:52] roryabraham commented on #8612
I don't think this is related to bidirectional scrolling / React Native's FlatList, but instead it's related to [this code](https://github.com/Expensify/App/blob/adb0d8a52fc7210e8e48e4439f83d932a064e1f6/src/components/InvertedFlatList/index.js#L57-L60), which IIRC has been around since before E/App (previously, E/Expensify.cash, previously Expensify/ReactNativeChat) was open-source :D

[2022-04-27 00:54] marcaaron commented on #8791
I'm not able to repro on dev so I'm removing the `Demolition` label.

[2022-04-27 00:55] roryabraham commented on #8612
Looks like this HACK ALERT originates [here](https://github.com/necolas/react-native-web/issues/995#issuecomment-630012292)

[2022-04-27 00:57] roryabraham commented on #8612
But also looks like it was [fixed in react-native-web](https://github.com/necolas/react-native-web/commit/7ec2489c78f9734bae5bcfdc514b0c91621a6300) in `17.7`, which is [not yet released](https://github.com/necolas/react-native-web/releases).

Sounds like we should file a bug report in react-native-web and let them know that their unreleased inverted scroll fix doesn't work if you focus the scrollb

[2022-04-27 00:58] roryabraham commented on #8612
Also, do we really care to fix this? Seems like a pretty extreme edge case to handle, with consequences that aren't _that_ bad. Maybe we can just live with it 🤷

[2022-04-27 01:06] marcaaron commented on #8791
Does seem to only affect the workspace page. So thinking a change related to that is possibly at fault.

[2022-04-27 01:16] kadiealexander commented on #7432
@pecanoro any thoughts on testing this internally?

[2022-04-27 01:54] aneequeahmad commented on #8731
### PROPOSAL

### PROBLEM AND SOLUTION

- So the `minHeight:90` is applied to the parent `View` in `ReportActionCompose.js` that should be removed for mobile web (check for mWeb would do the work to remove for specific mWeb).

- Also, this style of `styles.chatItemComposeSecondaryRow` has to be removed for `mWeb` in this `<View>`
    `<View style={[styles.chatItemComposeSecondaryRow, styles.flexRo

[2022-04-27 02:06] joelbettner commented on #8787
This sounds like it is worth being worked on if you know a good solution.

[2022-04-27 03:12] kadiealexander commented on #8787
Upwork job posted!
https://www.upwork.com/jobs/~01a78042b40c3a1871
https://www.upwork.com/ab/applicants/1519152217793363968/job-details

[2022-04-27 03:45] akhilesh-mourya commented on #8719
Hello @mvtglobally, the dropdown height issue seems to be happening due to improper handling of the dropdown open animation start time delay. UI usually shows this kind of issue where two animations are happening together at the same time. In our case, the keyboard is closing and the dropdown is opening at the same time.

I can fix this issue.

[2022-04-27 05:12] Justicea83 commented on #8664
Assigning myself since my proposal was accepted

[2022-04-27 06:00] bfitzexpensify commented on #8723
@flodnv do you think this is distinct enough from https://github.com/Expensify/App/issues/8641 for this issue to also remain open, and to hire @frenkield twice?

[2022-04-27 06:03] bfitzexpensify commented on #8714
Thanks @chiragsalian!

Upwork job [here](https://www.upwork.com/jobs/~01b60da6dd6b3a2fbd) - @thesahindia, please apply there for reporting bonus too.

[2022-04-27 06:07] bfitzexpensify commented on #7860
Still no action here - doubled to $16,000

[2022-04-27 07:31] mvtglobally commented on #8777
@francoisl  Team is still working through some of the PRs to complete all platforms coverage.
So far logged Deploy Blocker - https://github.com/Expensify/App/issues/8791

[2022-04-27 07:41] izhan commented on #7860
Anyone know of a reliable repro? I see this maybe 5% of the time (testing on desktop, Chrome, OSX), curious if anyone sees this more often / has any insight there.

[2022-04-27 09:35] Julesssss commented on #7573
Hey @rushatgabhane. Just one thing, I noticed you'll be out to study. Did you still want to work on this as a contributor? No worries if not, it's completely up to you :)

[2022-04-27 09:41] Julesssss commented on #8612
Nice spot! I don't see why we wouldn't let a contributor do the work, but as this requires one of us to chase another team perhaps that doesn't really work in this case...

[2022-04-27 09:43] Julesssss commented on #8612
OK. Let's take this out of the external issue flow. If anyone cares to pick this up before it auto-closes, then great! Else, it's no big deal.

[2022-04-27 09:51] trjExpensify commented on #8644
I think more specifically the problem now is that the archivedReason that requires a refresh. The textbox appears immediately, but it reads "This chat room has been archived" until you refresh and see the proper archivedReason.

Before refresh:
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/16232057/164078562-4aebdf92-4807-4b4e-b5d1-d9afaf731a48.png">

After refresh:

[2022-04-27 10:13] orkunkarakus commented on #7497
[PR](https://github.com/Expensify/App/pull/8790) is created. @parasharrajat

cc: @NikkiWines

[2022-04-27 10:38] rushatgabhane commented on #7648
@roryabraham I'm guessing the PR will require further C+ review.
Feel free to unassign me if that's the case because I'm OOO until May 14.

[2022-04-27 10:43] rushatgabhane commented on #8249
@Christinadobrzyn I think you need to assign another C+ to this issue by re-adding the Exported label. Thanks for your time!!

All context here - https://expensify.slack.com/archives/C02NK2DQWUX/p1650943465224419?thread_ts=1650937715.036919&cid=C02NK2DQWUX

[2022-04-27 11:39] rushatgabhane commented on #7573
@Julesssss thanks for asking, yes I still want to work on this as a contributor.
I have a diff from the time I tested the proposal, so I can handle this one.

[2022-04-27 12:23] Beamanator commented on #7792
PR being reviewed 👍

[2022-04-27 12:26] rushatgabhane commented on #7573
Oh no, gotta run!
@Julesssss I won't be able to submit a PR for this issue. Please make it internal, or open to all contributors.
Thanks for understanding!

[2022-04-27 12:48] Julesssss commented on #7573
No worries. Good luck with your exams!

[2022-04-27 12:49] Julesssss commented on #7573
Hey @NicMendonca, we need to figure out how to re-roll for an external contributor somehow. Any ideas? Else I guess we can ask in the Slack channel to see if anyone wants to be manually assigned.

[2022-04-27 13:05] NicMendonca commented on #8379
@eVoloshchak paid!

@parasharrajat can you accept the offer please? Thank you!

[2022-04-27 13:13] #8792 closed

[2022-04-27 13:15] Beamanator commented on #7573
I think you can try reapplying `Exported` (even though that'll also post in #expensify-open-source) :D

[2022-04-27 13:25] Julesssss commented on #7573
Lol. Poor effort bot.

[2022-04-27 13:25] Julesssss commented on #7573
Okay, manually it is. Posting in Contributor+

[2022-04-27 13:27] Julesssss commented on #7573
Sweet.

FYI @parasharrajat, we had a proposal approved but the contributor disappeared. So we're back to awaiting proposals.

[2022-04-27 13:33] kbecciv opened #8797 "IOS/Android - Payments - Google search doesn't work in Debit card Information page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to staging
2. Navigate to Settings > Payments > Add payment method > Debit card
3. Search for an address

## Expected Result:
Google sea

[2022-04-27 13:44] parasharrajat commented on #8797
I see this error on Android.
[code]

[2022-04-27 13:49] flodnv commented on #8723
Good question. I think it's fair to say that this is a duplicate, which is what @frenkield said above.

@frenkield what do you say we close this issue in favor of the other one?

[2022-04-27 14:03] Julesssss commented on #8797
Okay, seems to be fixed in the library that we previously forked: https://github.com/FaridSafi/react-native-google-places-autocomplete/pull/170

[2022-04-27 14:04] Julesssss commented on #8797
I think I'll just take and complete this one to get it done ASAP.

[2022-04-27 14:12] #8783 closed

[2022-04-27 14:36] AndrewGable commented on #8115
Ok good to go 👍

[2022-04-27 14:48] Julesssss opened #8798 "After resetting password, the 2FA form is permanently hidden"
## Action Performed:
 - Locate an account with 2FA enabled
 - Go to the sign in page, enter your email
 - At the password form, enter your password
 - When the 2FA form displays, enter 6 INCORRECT digits
 - Hit the 'Forgot?' action. The 'We've sent a magic sign in link' message should display
 - Hit 'Back'
 - Enter the same email again
 - Enter the same password again

## Expected Result:
- The 2F

[2022-04-27 15:29] pecanoro commented on #7432
Oh yeah, we don't have test credentials for contributors. Can you open the PR and I will test it internally?

[2022-04-27 15:41] parasharrajat commented on #8719
Hi @akhilesh-mourya, Could you please share your proposal? Were you able to reproduce this issue?

[2022-04-27 15:47] tgolen commented on #8714
I think we should HOLD on doing anything here until we have a better strategy for error handling. This came up in the discussions about Offline First and I talked quite a bit about it with @quinthar and @iwiznia.

As we move into refactoring the API for NewDot optimization, the idea would be that the server ONLY responds with numeric error codes (I know there is still some debate on this). Then th

[2022-04-27 15:50] mollfpr commented on #8762
@tgolen Okay, thank you!

I already applied to upwork, will be raise the PR ASAP!

[2022-04-27 15:52] WelbexIT commented on #7470
Hi! We solved your issue, the solution was sent to Upwork

[2022-04-27 15:53] kbecciv opened #8800 "Payments - App is freezing after open Debit Card option under Payments and trying to close"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR:** https://github.com/Expensify/App/pull/8682

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Navigate

[2022-04-27 15:54] OSBotify commented on #8800
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-04-27 15:59] NicMendonca commented on #6883
doubled - https://www.upwork.com/jobs/~0190053c928a98fb14

[2022-04-27 16:00] parasharrajat commented on #7623
Working it now.

[2022-04-27 16:08] Julesssss commented on #8763
Nice, thanks Tim. I honestly wasn't sure if this was worth fixing. But it will inevitably catch users out so let's get it resolved.

Feel free to tag me as a reviewer!

[2022-04-27 16:15] frenkield commented on #8723
Sure, that works for me. Thanks, @flodnv.

[2022-04-27 16:18] tgolen commented on #8763
Thanks @Julesssss!

I'm having some issues reproducing the issue. I created three users:
- user1@expensify.com - nothing except "user1"
- newuser1@expensify.com - something before "user1"
- user10@expensify.com - something after "user1"

When I search for "user1@" it selects the correct person:
![image](https://user-images.githubusercontent.com/1228807/165564997-96456e79-75e0-4e1e-8d73-87ce759c8e6

[2022-04-27 16:20] sobitneupane commented on #8459
As per my understanding `getDynamicSpacing` is supposed to add spaces to fill emoji places at the end of categories with spaces if there are less than 8 emojis in that row (and seven spaces for header row). For example, if there are 5 emojis in the last row, 3 spaces are added. But `getDynamicSpacing` is adding 8 spaces even if the last row is full with 8 emojis as `modLength = CONST.EMOJI_NUM_PER

[2022-04-27 16:23] roryabraham commented on #8612
Looks like the person who fixed the react-native-web bug is aware of this edge case, and implemented a solution [here](https://github.com/staltz/manyverse/blob/master/patches/react-native-web%2B0.17.6.patch). They said "it's probably too ugly to upstream", but if it fixes the problem I think we can use it

[2022-04-27 16:23] tgolen commented on #8800
I don't spot anything in the checklist that looks like it would directly cause this. I'm trying to reproduce the issue now.

It appears like it works in web, so I'll move onto iOS next.

[2022-04-27 16:29] roryabraham commented on #8612
I think since we have a [potential fix](https://github.com/staltz/manyverse/blob/master/patches/react-native-web%2B0.17.6.patch?rgh-link-date=2022-04-27T16%3A23%3A12Z) already written (and we know it's not likely to be included in the upstream), we can make this issue external and just implement the fix directly in [`InvertedFlatList/index.js`](https://github.com/Expensify/App/blob/adb0d8a52fc7210

[2022-04-27 16:46] thesahindia commented on #8664
I think we can go with the approach that I had proposed earlier instead of using two different Touchable

### Proposal

https://github.com/Expensify/App/blob/6c53be1ea7a022e8a5e788cc7e7efd62c4573474/src/pages/workspace/bills/WorkspaceBillsFirstSection.js#L57-L59
Using `Text` instead of `TouchableOpacity` will fix this.
[code]
What you think @parasharrajat, @stitesExpensify ?

[2022-04-27 16:55] flodnv commented on #8723
👍

[2022-04-27 16:55] #8723 closed

[2022-04-27 17:08] chiragsalian commented on #8590
We've updated the API in the backend and it has just been merged. The code should be live either tomorrow or Monday.

[2022-04-27 17:10] parasharrajat commented on #8664
Sorry, @thesahindia but this is already being worked on.

[2022-04-27 17:22] Luke9389 commented on #4656
Still waiting for them to start. (Should be June)

[2022-04-27 17:28] allroundexperts commented on #8590
Is live on staging @chiragsalian ?

[2022-04-27 17:30] chiragsalian commented on #8590
When i say "live" i meant production. It should be on staging later today or tomorrow, and then it will be on production either tomorrow or on Monday.

Are you testing against staging endpoints or production ones?

[2022-04-27 17:33] allroundexperts commented on #8590
I was testing against prod but can shift to staging as well. @chiragsalian

[2022-04-27 17:36] chiragsalian commented on #8249
I'll manually assign @Santhosh-Sellavel to this one. @Santhosh-Sellavel, if you're plate is full and you can take this let me know 🙂

[2022-04-27 17:36] mananjadhav commented on #6883
@luacmartins It seems there are no new proposals. Can you review this comment for the approach? https://github.com/Expensify/App/issues/6883#issuecomment-1042130274 If this sounds acceptable as a proposal then I can work on this.

My only concern is I don't know how to test. I don't have an iPad to test, nor we allow contributors to build iOS app.

[2022-04-27 17:38] #7536 closed

[2022-04-27 17:47] francoisl commented on #8800
FWIW I can't reproduce either.

Also, to clarify, in the reproduction steps, you say:

Does the issue only occur if you go through the workspace bank account flow first?

[2022-04-27 17:58] chiragsalian commented on #7185
Oh hey, so yeah Rajat brought the discussion on slack and i believe he found a solution to test on staging using sandbox creds. So i believe @parasharrajat is working on this issue. Let me know if i'm mistaken.

[2022-04-27 18:00] parasharrajat commented on #7185
Yeah, I got the solution to test the flow yesterday. I will share the updates asap.

[2022-04-27 18:01] luacmartins commented on #8731
@aneequeahmad The issue seems to come from the browser toggling the navigation bar and the window not resizing properly to fill in the extra space. I think that we should address that behavior in the solution.

[2022-04-27 18:05] thienlnam commented on #8185
Latest updates here https://github.com/Expensify/App/pull/8656#issuecomment-1111320960

[2022-04-27 18:26] techievivek commented on #8363
@sobitneupane Will you be able to fix this regression? or shall we move with a new contributor?

[2022-04-27 18:29] deetergp commented on #7435
Same status as the last. Once @stitesExpensify sorts out https://github.com/Expensify/App/issues/7420, we'll re-test this one to see if it's fixed.

[2022-04-27 18:31] OSBotify commented on #8777
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/8803) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.57-4` :rocket:

[2022-04-27 18:31] OSBotify commented on #8777
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.57-4 has been deployed to staging :tada:

[2022-04-27 18:32] #8588 closed

[2022-04-27 18:58] mallenexpensify commented on #7844
@tgolen bumping to daily, @eVoloshchak 's proposal needs review

[2022-04-27 19:01] mallenexpensify commented on #4612
Did you have a chance to dig in @parasharrajat ?

[2022-04-27 19:03] mallenexpensify commented on #8352
Doubled price to $2000
https://www.upwork.com/jobs/~01782081efffe44962

[2022-04-27 19:09] mallenexpensify commented on #8130
@parasharrajat @Julesssss any reason this shouldn't be doubled?

[2022-04-27 19:10] mallenexpensify commented on #8349
Any reason I shouldn't double this @Julesssss @parasharrajat ?

[2022-04-27 19:12] kbecciv commented on #8800
@francoisl One account can reproduce this issue.

[2022-04-27 19:20] parasharrajat commented on #4612
I am trying to https://github.com/Expensify/App/issues/8657#issuecomment-1111015235.

[2022-04-27 19:26] parasharrajat commented on #7121
Working on the PR.

[2022-04-27 19:48] tgolen commented on #8800
I think if we can't find anyone else that can reproduce this, then we can just close it and not have it be a deploy blocker.

[2022-04-27 20:14] Santhosh-Sellavel commented on #8034
PR is Up now.

[2022-04-27 20:23] parasharrajat commented on #7121
PR is live.

[2022-04-27 20:28] justinpersaud commented on #5266
Going to unassign for now since I won't have time in the near future to get to this.

[2022-04-27 20:31] chiragsalian commented on #8748
Shall investigate today.

[2022-04-27 20:32] chiragsalian commented on #8119
Demoting to weekly. Also any update here @metehanozyurt 🙂

[2022-04-27 20:32] chiragsalian commented on #7862
Waiting on proposals.

[2022-04-27 20:50] michaelhaxhiu commented on #7916
@mdneyazahmad can you provide a quick update here? If you are loaded a little heavy right now, that's ok! but it would be nice to share where things are currently

[2022-04-27 21:07] metehanozyurt commented on #8119
I am currently preparing. I will check for the last time and prepare the PR. Thank you very much for asking 🙏😇.

[2022-04-27 21:14] tgolen commented on #7844
Ah, sorry I missed this one. The proposal looks OK. 🟢  to hire @eVoloshchak

[2022-04-27 21:24] mujtabasac commented on #7618
@parasharrajat I respect your feelings on this but everyone have different perspective of seeing an issue, As each of us is having a different level of thinking. I did came across through other people highlighting the issue but I was pretty sure before commenting that the developer comment was totally against the code written below in react navigation and I did my part of testing before coming up

[2022-04-27 21:26] michaelhaxhiu commented on #8131
@parasharrajat I noticed you already started reviewing these proposals. You can keep this as the c+ if you like, or assign to Manan instead. Up to you!

[2022-04-27 21:27] tgolen commented on #8720
Hm, yeah I think the UI needs to do a better job of validating the data before it's sent to the server. It looks like this is reproducible with the other formatting options too.

I think there are two avenues:
1. Let the API accept these as valid comments: `` __ **
2. Have the UI prevent the user from sending those comments

For 1) I actually can't think of a good reason why we should prevent a us

[2022-04-27 21:34] luacmartins commented on #6883
@mananjadhav Could you expand more on each step? Why are each of those necessary? What code changes are you proposing?

[2022-04-27 21:50] mallenexpensify commented on #8657
I'm confused.  I think I see what you're saying @parasharrajat. Few items I'd like to get confirmation on.

1. I broke the two up to be LHN and main chat window but those should always be synced when navigating, is that correct?
2. If so, I think the https://github.com/Expensify/App/issues/4612 should be the main issue for LHN/Main navigating as expected.  do you agree?
3. And... for this issue, I

[2022-04-27 21:56] michaelhaxhiu commented on #8715
@Santhosh-Sellavel nice to see you get auto-assigned 😄 (lol, yesterday we almost convinced ourselves that the "random" assignment wasn't random!)

[2022-04-27 21:57] izhan commented on #7860
# Proposal
TLDR; fixing how we measure layout in `BaseInvertedFlatList`

## Problem
The easiest way to repro this problem is to actually upload a bunch of images that have a different size than our placeholder image, then scroll up quickly (explanation why images matter is below in Issue 2). The root cause is that layout measured in `BaseInvertedFlatList` suffers from two issues right now:

### Is

[2022-04-27 22:07] mallenexpensify commented on #7844
Hired @eVoloshchak and assigned to GH!

[2022-04-27 22:07] danieldoglas commented on #7941
@marcaaron , I think we should close this considering we have our plans for the new API?

[2022-04-27 22:09] izhan commented on #8309
Hey @parasharrajat - no rush, but just wanted to see if there's anything I can provide here!

[2022-04-27 22:36] thienlnam commented on #7082
From this internal thread, we're going to put on the side for now as it's more of a polish item and not directly newsletter related [expensify.slack.com/archives/C03U7DCU4/p1650578288196109](https://expensify.slack.com/archives/C03U7DCU4/p1650578288196109)

[2022-04-27 22:36] #7082 closed

[2022-04-27 22:39] francoisl commented on #8791
Having a hard time with this one too, it doesn't help that the smart banner doesn't show up on the dev site.

I tried to use the standalone react devtools, but for some reason can't get it to connect to Safari on the simulator, even after following [this](https://reactnative.dev/docs/debugging#safari-developer-tools) - has anyone managed to get that working before?

<img width="1435" alt="image" s

[2022-04-27 22:53] neil-marcellini commented on #8497
Was this working at one point? If so this is a regression and we should look into which PR caused it and have the C+ or internal engineer do an [RCA](https://stackoverflow.com/c/expensify/questions/12158).

[2022-04-27 22:59] luacmartins commented on #8497
Yea, I believe this is a regression. I spent quite a bit of time today looking for the offending PR but got nowhere and decided to move ahead with a fix. We can add it to the RCA spreadsheet and write a RCA if we ever find the cause.

[2022-04-27 23:00] michaelhaxhiu commented on #8497
@neil-marcellini great catch, I think we should try to look into it for the sake of performing an RCA (and thus not repeating this mistake again)

[2022-04-27 23:00] michaelhaxhiu commented on #8497
Oh interesting @luacmartins, sounds like you tried and it wasn't worth the time! Let's take this to slack :)

[2022-04-27 23:04] neil-marcellini commented on #8497
@luacmartins I could imagine it would be hard to find. It could have happened a long time ago and it could be caused by many areas in the codebase. We should try to create a process for how to search for a regression since it's not always obvious.

[2022-04-27 23:12] michaelhaxhiu commented on #8497
cc'ed you both in a Slack post to discuss this further, as I think it'll apply to future RCAs too. This is a good topic to broach.

[2022-04-27 23:29] mvtglobally commented on #8777
@francoisl Regression is completed
https://github.com/Expensify/App/pull/8738#issuecomment-1109306672
https://github.com/Expensify/App/pull/8743 is failing due to #8787. Since its repro in PROD checking off
We are re-testing https://github.com/Expensify/App/pull/8656 as per last message

[2022-04-27 23:39] marcaaron commented on #7860
Interesting. FWIW we identified something similar in [this PR](https://github.com/Expensify/App/pull/8699/files) while working with @chiragsalian to fix `scrollToIndex()`.

What's the ultimate root cause here? It feels like there is some bug in `react-native` (or possibly related to `react-native-web`) where the heights are not being measured? IIRC we implemented that code to solve a rendering iss

[2022-04-27 23:43] ryanldonato commented on #7307
@thienlnam sorry about the delay here. I think your copy works, just one minor adjustment on the Success message

SUCCESS
title: 'Downloaded!'
message: 'Attachment successfully downloaded!'

let's give them some excitement when it successfully downloaded!

[2022-04-27 23:50] marcaaron commented on #7860
Also curious if those crazy scrolling issues we ran into would be fixed by https://github.com/necolas/react-native-web/pull/2241 and if so, whether we could remove this [old hack](https://github.com/Expensify/App/blob/9bf91283eb9ac89409154bd1f45c94aa44530906/src/components/InvertedFlatList/index.js#L21-L23) and also stop measuring the items entirely. Not sure if we can cleanly test that version of

[2022-04-27 23:57] marcaaron commented on #7941
Oh, yes? Which part of the new API plans gives us reason to close this?

[2022-04-28 00:38] MitchExpensify commented on #8031
[New Upwork Job](https://www.upwork.com/jobs/~0127d9aa2ccfeabd34) (previous one closed)

Price doubled!

[2022-04-28 00:40] izhan commented on #7860
Great questions @marcaaron – you were the guy I was hoping would chime in here! While creating the proposal, I studied those linked issues as well as your original PR https://github.com/Expensify/App/pull/536 extensively.

I think what would help my understanding is any context you have on https://github.com/Expensify/App/pull/536 – do you remember what was specifically "broken" that needed this h

[2022-04-28 00:41] MitchExpensify commented on #7737
Doubled! https://expensify.slack.com/archives/C01GTK53T8Q/p1651106508246309

[2022-04-28 00:42] MitchExpensify commented on #7486
Not overdue, PR in progress cc @parasharrajat

[2022-04-28 01:08] marcaaron commented on #7860
- When scrolling large lists the cursor position would jump around erratically (basically stuff described [here](https://github.com/necolas/react-native-web/issues/1254)). This was resolved by adding the `measureItemLayout` (despite it being implemented incorrectly).

- The web wrapper around FlatList we are using is working around [this issue](https://github.com/necolas/react-native-web/issues/99

[2022-04-28 01:10] kbecciv opened #8811 "[HOLD] Chat - Duplicate message appears using the "Simulate failing network requests" toggle"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR:** https://github.com/Expensify/App/pull/8713

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Go to Set

[2022-04-28 01:31] marcaaron opened #8812 "Clean up unread indicator method, variable, and component names"
# Problem

We have some ambiguous naming conflicts that make the `ReportActionsView` difficult to understand namely...

- "marker badge" is hard to distinguish from the "new marker" since they both are "markers"
- `localUnreadActionCount` refers to the floating "counter" count and is hard to distinguish from a report's `unreadActionCount`
- `updateUnreadIndicator` refers to the "NEW marker" but co

[2022-04-28 01:37] NikkiWines commented on #8644
Cool, thank you for retesting @mvtglobally and thanks for the clarification @trjExpensify.

@wildan-m, from @trjExpensify's explanation it sounds like we want option (1) here.

[2022-04-28 02:10] wildan-m commented on #8644
@NikkiWines , @mvtglobally , @trjExpensify  thanks for your confirmation.

I need to clarify one thing. On the second step to reproduce the issue:

How can I make my account a policyExpenseChat beta account?

I've tried to override this function to return **true** in my local code:

[code]

and also enabled `Use Secure Staging Server` in the preferences.

@mvtglobally's screen:
<img width="755" al

[2022-04-28 02:42] mdneyazahmad commented on #7916
@michaelhaxhiu I am ooo and will be back in 1 - 2 days. I am sorry for not informing about it. `tab` and `shift + tab` works as expected. It has some other issue that I mentioned here https://github.com/Expensify/App/issues/7916#issuecomment-1080175468

I think this is the problem here in workspace invite member.

1. Arrow key does not work.
2. It does not toggle selection with `space`.
3. It togg

[2022-04-28 02:51] mvtglobally commented on #8777
https://github.com/Expensify/App/pull/8656 is pass after retest. Checking off

[2022-04-28 03:11] kevinksullivan commented on #8127
@Santhosh-Sellavel and @thesahindia paid.

@metehanozyurt can you accept the offer so i can finish payment for you? Thanks!

[2022-04-28 03:23] danieldoglas commented on #7941
Correct me if I'm wrong, but we're going to rewrite the methods to try to keep it 1 JS call to 1 PHP to 1 Auth. That being considered, we will rework this whole method, right?

[2022-04-28 04:29] MonilBhavsar commented on #8592
Will get back to this

[2022-04-28 04:45] mateusbra commented on #7573
### PROPOSAL
We need to copy all the methods/components we use on tracking rate and unit from [NoVBAView](https://github.com/Expensify/App/blob/4b5abf63ee24c2031945a3c119330cc86f45985b/src/pages/workspace/reimburse/WorkspaceReimburseNoVBAView.js#L159-L188) to [VBAView](https://github.com/Expensify/App/blob/4b5abf63ee24c2031945a3c119330cc86f45985b/src/pages/workspace/reimburse/WorkspaceReimburseVBA

[2022-04-28 08:49] murataka commented on #7618
**Proposal**

The main problem causing this one and some other navigation related issues is , react-navigation uselinking.tsx file was developed assuming that, we do not have access to navigation history ( see: https://wiki.mozilla.org/Firefox_3.6/PushState_Security_Review#Security_and_Privacy) .

However , we can access the history state objects after the navigation is complete.

The full solutio

[2022-04-28 09:04] nkuoch commented on #8811
cc @marcochavezf

[2022-04-28 09:27] Julesssss commented on #8130
No, go for it.

 💵💵💵💵💵 💥🔫

[2022-04-28 09:28] laurenreidexpensify commented on #7547
Just a note - it is a public holiday on 2022-05-02 so I will be issuing payment on 2022-05-03

[2022-04-28 09:43] kidroca commented on #7860
Everything started here ☝️

The layout calculation used to work correctly or hide it's flaws because the inversion happened through css. Meaning that even if you don't get the correct size/offset content was pushed in a direction that would not affect current scroll position
To achieve the same without css inversion there have to be a precise layout calculation in order to preserve scroll position

[2022-04-28 09:54] mdneyazahmad commented on #7917
I am ooo and will be back in 1 -2 days.
Remaining task
- [ ] audit https://github.com/Expensify/App/issues/7917#issuecomment-1106834209
- [ ] fix checkbox

Thank you!

[2022-04-28 10:18] kidroca commented on #7860
One more thing to point out for the `sizeMap` would be to capture dimensions by `id` or `sequenceNumber` - this way when, due to virtualization, an item is added back to the virtual window we would have the correct dimensions (indexes change)

This can be achieved by using the `keyExtractor`
[code]

`onLayout` would be called for items that are mounted (inside the virtual window)
So captured sizes

[2022-04-28 10:24] Beamanator commented on #8031
Ping'd CMEs in internal channel to try to get more eyes 👁️

[2022-04-28 11:01] murataka commented on #7618
Here is a test I made using the old modified version of uselinking.js ( Left side of the video) . I think there are some other issues , may or may not be related to this issue. Sharing the result FYI , as it is hard to test in on mobile  ( Mobile devices cache more aggresively.).

As you see on the video, the bug is reproducible on desktop web, when you change the screen size.

https://user-images

[2022-04-28 11:12] flodnv commented on #8641
@frenkield how would you feel about opening a new react-navigation PR? https://github.com/react-navigation/react-navigation/pull/10414#issuecomment-1111663121

[2022-04-28 11:16] jliexpensify commented on #8763
Cancelling Upworks job.

[2022-04-28 11:20] eVoloshchak commented on #7844
@parasharrajat
I've encountered a problem on Android (haven't tested on iOS yet, but pretty sure it is present there too).
When we have a message with text and a link, long pressing on text will pop up the context menu for the message (which is correct), but long pressing on the link will also pop up the context menu for the message (which is not correct, it should be a context message with **Copy

[2022-04-28 11:29] parasharrajat commented on #7844
Hey, @eVoloshchak Thanks for looking into it. It is a different issue than the one we are trying to solve here. So you don't have to fix that in this PR.

we need to use `Text` for inline mode and we also need the `LongPressGestureHandler` as it fixes one of the old issues.

but we have a separate logged issue for the problem you mentioned and if you want to solve it, head over to https://github.c

[2022-04-28 11:45] parasharrajat commented on #4114
Asked here https://expensify.slack.com/archives/C01GTK53T8Q/p1651146286301709

[2022-04-28 12:10] mananjadhav commented on #4324
@stitesExpensify Yes.

I'll write up a proposal and share it.

[2022-04-28 12:17] iwiznia commented on #8357
Proposal looks good to me and I agree about the new method. @kadiealexander can you hire @sobitneupane please?

[2022-04-28 12:29] trjExpensify commented on #8537
Settled up with you both in Upwork, thanks!

[2022-04-28 12:29] #8537 closed

[2022-04-28 12:48] b1tjoy commented on #8787
### Reason
Because this line raise an exception, which is dom.setAttribute is not a function, when we using Ctrl C command:
https://github.com/Expensify/App/blob/9bf91283eb9ac89409154bd1f45c94aa44530906/src/libs/SelectionScraper/index.js#L94
### Solution
Merge pull #8741 will fix this issue.

[2022-04-28 12:56] parasharrajat commented on #8644
@wildan-m do this.
1. enable the beta as you did from Permissions.js. BTW they should be already enabled on dev server.
[code]
2. Now Go to the Green Plus icon for the LHN (chat list).
3. See if it gives an option to create a room (new Room).
4. Create a Room.

Then follow the steps from the issue description.

[2022-04-28 13:04] parasharrajat commented on #8309
Sorry, I was sick for few days past week. Looking into now.

[2022-04-28 13:34] iwiznia commented on #8714
Closing this per [this comment](https://expensify.slack.com/archives/C01GTK53T8Q/p1650963741424669?thread_ts=1650386332.857569&cid=C01GTK53T8Q). Feel free to comment there or reopen if you disagree.

[2022-04-28 13:34] #8714 closed

[2022-04-28 13:43] parasharrajat commented on #8309
@izhan's proposal is looking good.

cc: @pecanoro

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-04-28 13:53] eVoloshchak commented on #7844
Thanks, go it.

I'm ready to submit the PR, but it's gonna be impossible for the QA to test it for `mWeb` due to https://github.com/Expensify/App/issues/8311.
Should I submit it or wait for this issue to be resolved?

[2022-04-28 13:54] michaelhaxhiu commented on #7916
Thanks for the update. Let's wait for @parasharrajat to review those points!

[2022-04-28 14:13] Julesssss commented on #8352
@jliexpensify would you mind closing the UpWork issue and paying @Santhosh-Sellavel for raising the bug please?

[2022-04-28 14:36] parasharrajat commented on #8640
Great. @mvtglobally Could you please retest this one?

[2022-04-28 14:39] parasharrajat commented on #8456
Should we remove the Help Wanted label here?

[2022-04-28 14:39] Julesssss commented on #8352
Conveniently, the IOU action type is available in the reportAction:

![Screenshot 2022-04-28 at 15 37 47](https://user-images.githubusercontent.com/10736861/165777738-1c02adeb-2b01-4981-97d4-806413bc25bf.png)

[code]

[2022-04-28 14:40] owjhart commented on #7968
# Proposal

Use `{capture: false}` instead of `{capture: true}` when registering the `keydown` event for the Enter key in `Button.js`. This will allow the keydown event to be handled first by EventTargets beneath the Button.js keyboard listener in the DOM tree such as the (such as the Cancel button) per https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener. If the event was

[2022-04-28 14:43] MonilBhavsar commented on #8592
@parasharrajat since this seems like a regression, do you want to give it a try to fix this?

[2022-04-28 15:13] arosiclair commented on #8720
Did some further testing and it does appear that most empty markdown syntax is not treated as markup:

<img width="437" alt="image" src="https://user-images.githubusercontent.com/6833644/165780830-53179bb9-5c62-40da-8ef3-5e3f8f2ab286.png">

However, empty code (``), codeblock (``````), and link with no text _do_ get converted to markup even though there's no text. `ExpensiMark` sets the regex to m

[2022-04-28 15:18] tgolen commented on #8720
To make sure I understand your proposal fully, if we did this, what would the outcome be to the user?

[2022-04-28 15:22] parasharrajat commented on #7916
I am not very sure of many things so @thienlnam could you please help us finalize those. Let's take each page one by one.

[Workspace - General settings](https://github.com/Expensify/App/blob/main/src/pages/workspace/WorkspaceSettingsPage.js?rgh-link-date=2022-02-25T14%3A01%3A50Z)

1. Pressing Enter on the avatar opens the Menu as well as submits the form. What is the expected behavior for this ca

[2022-04-28 15:30] Beamanator commented on #8005
Yeah lets not double this one quite yet.

It looks like the PR we were waiting for has been merged: https://github.com/Expensify/App/issues/8534 sorry this week has been pretty busy with internal priorities. @Santhosh-Sellavel did you try to reproduce last week? I will have time again Monday or Tuesday next week to help trying to reproduce if you haven't by then

[2022-04-28 15:39] parasharrajat commented on #8657
1. Yes. There is no issue with the main chat. Instead, there are issues with navigating via LHN and RHN.
2. Yes
3. No, root cause behind not working shortcuts needs to be fixed for both LHN and RHN.
4. Yes.

[2022-04-28 15:40] mallenexpensify commented on #8130
Doubled price to $8000
https://www.upwork.com/jobs/~012cfd3094fafb0057

[2022-04-28 15:45] frenkield commented on #8641
Sure, I can open a new react-navigation PR. I'll try to get it done later today or tomorrow.

[2022-04-28 15:46] luacmartins commented on #8456
Ah yes! Removed :)

[2022-04-28 15:51] parasharrajat commented on #8592
I would be happy to do that but I have been preoccupied with other stuff. I will try to debug this over the weekend and let you know by Monday.

[2022-04-28 15:52] neil-marcellini commented on #8031
I don't think we should do this. If I start editing a message on a chat, and then I need to go reference something from another chat, I want to be able to come back to my draft and continue editing. If I have been editing a message and I go to another chat I should also be able to send messages there. That should be possible right? Is there another case I'm not thinking of?

[2022-04-28 15:54] Julesssss commented on #8763
@tgolen

I tried again today and noticed that `newuser2@...` was showing above `user2@` because I had sent messages to that user recently. I still think there's an argument that a literal email match should take priority over recent chat history, but I'll leave it up to you to decide whether this is worth changing.

[2022-04-28 15:55] parasharrajat commented on #8031
Yeah, that is possible.

[2022-04-28 16:05] stitesExpensify commented on #4324
Sounds great!

[2022-04-28 16:07] #8786 closed

[2022-04-28 16:11] neil-marcellini commented on #8031
If you do this on web / desktop then the composer will be shown, so I think it should match on mobile. In my opinion, we should let the user have the option to continue editing or to send another message. Again that behavior would match desktop. To make that happen I think we should allow the user to unfocus the composer (and dismiss the keyboard) if they click outside of it on mobile. Maybe that'

[2022-04-28 16:15] parasharrajat commented on #7351
Just leave a note that PR for this issue caused a regression https://github.com/Expensify/App/issues/8663

[2022-04-28 16:20] trjExpensify commented on #8644
^^ A `policyExpenseChat` gets created automatically for each member of a workspace, so you don't need to create a `New room` to test this.

[2022-04-28 16:23] wildan-m commented on #8644
@parasharrajat after overriding `canUsePolicyRooms `, I can create a custom room for a specific workspace, but it's different from the chat room shown on @mvtglobally's screen. Her screen doesn't have a hashtag prefix.

My screen after create custom room:
<img width="1024" alt="image" src="https://user-images.githubusercontent.com/11847279/165797869-8d9714ae-d888-4d66-8971-0d50a7165602.png">

Also

[2022-04-28 16:26] NicMendonca commented on #8158
@rushatgabhane don't forget to [apply](https://www.upwork.com/jobs/~01175a4deca6e9f963) too please!

[2022-04-28 16:26] wildan-m commented on #8644
@trjExpensify Does it only work for account `@expensifail.com`? I use @gmail.com for test account

[2022-04-28 16:44] trjExpensify commented on #8644
Not that I'm aware, just requires the policyExpenseChat beta. Did you CMD+K search for a member on the workspace to find the workspace chat? (E.g "wildevemail@gmail.com" before you removed that user)

[2022-04-28 17:08] tgolen commented on #8763
Aha! Maybe there is something there. I see we are setting `sortByLastMessageTimestamp: false,` when doing a search, so I will look into that a little more.

[2022-04-28 17:10] stitesExpensify commented on #7835
Unless @gladiator-1 has any other ideas, I think we just want for more proposals at this point

[2022-04-28 17:14] Puneet-here commented on #8130
### Proposal

Hi this issue will need a small change in the backend.

We get the account details here, but for this issue that info isn't enough. We should be getting the info from backend about if the user has added his password or not, we can send `hasAddedPassword` or `hasSetPassword` from the backend in the response object and we can add it to onyx (line 133)
https://github.com/Expensify/App/b

[2022-04-28 17:15] tgolen commented on #8763
Yep, I was able to reproduce it after having a recent message sent to `newuser1@expensify.com`:

![image](https://user-images.githubusercontent.com/1228807/165809243-bae5364c-426a-4c43-ad54-66bbc450572e.png)

Looking into it more.

[2022-04-28 17:22] marcaaron commented on #8811
Let's put this one on hold for now. I'm making a lot of changes to the network code atm and can look into why this happens.

[2022-04-28 17:24] parasharrajat commented on #8663
@b1tjoy Thanks for the analysis. That PR indeed caused this issue.

Your solution seems to work great. But did you test the same on native and mobile Web? What is the effect of this change.

[2022-04-28 17:26] arosiclair commented on #8720
It's hard to write when GH keeps changing my markup haha.

But the end goal is to allow 1) that you mentioned before.  Sending backticks with no text between does NOT get converted into an empty codeblock and is just sent as literal backticks. Matches GH's behavior below

``
`code`

[2022-04-28 17:28] chiragsalian commented on #8590
oh btw, code is on staging. Feel free to test it out.

[2022-04-28 17:30] #8812 closed

[2022-04-28 17:30] flodnv commented on #8641
Awesome, thanks a lot!

[2022-04-28 17:33] kevinksullivan commented on #8127
All set, thanks!

[2022-04-28 17:33] #8127 closed

[2022-04-28 17:59] parasharrajat commented on #8130
Yeah, correct. This is what I suggested [here](https://github.com/Expensify/App/issues/8130#issuecomment-1069123738) in the second paragraph.

I do not disagree with the proposal unless there is some reason to do so.

@Puneet-here's proposal looks good to me.

cc: @Julesssss

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-04-28 18:07] marcaaron commented on #7941
Ah yes, but this method is just calling Auth directly via PHP. All the logic is [in Auth](https://github.com/Expensify/Auth/blob/64d8d6c12bcc81de5fc83b141a76148281780b7e/auth/command/Get.cpp#L777-L778).

[2022-04-28 18:14] TomatoToaster commented on #8644
I'm just being aware of this issue now, but I think this is better as an internal issue since users outside of the policyExpenseChat beta will never be able to see Workspace Chats (different from policyRooms). We filter out policyExpenseChats at the API level and so there's nothing you can do in the client that would let you access them.

[2022-04-28 18:17] marcaaron commented on #8702
on production and much easier to tell the difference now!

[2022-04-28 18:17] #8702 closed

[2022-04-28 18:26] roryabraham commented on #4629
Still on HOLD

[2022-04-28 18:26] danieldoglas commented on #7941
The place where we use this method (chatList) will actually have to add the chat details and IOU with it, or else we won't fulfill the premise of 1:1 call to PHP. So this method will be fully rebuilt to fulfill the 1:1 premise.

[2022-04-28 18:34] marcaaron commented on #7941
Ok I am getting it now, sorry 😄

**restating:**

If we are combining the various API requests we must fetch to populate the reports/sidebar in NewDot then it will be better to do some kind of complete refactor where we get rid of `Get&rvl=chatList` entirely and have it all happen in `Auth`. And we should do any optimization when we do that work.

Sound right?

[2022-04-28 18:40] danieldoglas commented on #7941
Sorry, I think I was not clear enough in the beginning of this. Yep, that restated version is perfect. :)

[2022-04-28 18:48] cead22 commented on #7941
Works for me, what I'm trying to do first is replace [this code](https://github.com/Expensify/App/blob/main/src/libs/actions/Report.js#L354-L391), with a call to a new API command Get_Chats that returns all the info necessary.

[2022-04-28 18:50] mallenexpensify commented on #8349
Good idea @Julesssss , I created [this internal SO](https://stackoverflow.com/c/expensify/questions/12797) asking were good posts are to post these jobs

[2022-04-28 18:54] dharmik commented on #8574
Proper steps to reproduce issue thats really helps @kbecciv

[2022-04-28 18:57] marcaaron opened #8820 "[ReportActionsView] Create ReportActionsUtils - move logic out of view layer"
### Problem

ReportActionsView has grown in size and has many responsibilities which can make it hard to reason about. There is logic that does not depend on props or state that can be moved out of the view layer which will help keep things maintainable.

### Solution

Move these things into a `ReportActionsUtils`

This is part of a wider effort to clean up the logic around unread actions and simp

[2022-04-28 18:58] neil-marcellini commented on #8748
@chiragsalian That's true, good point. I should explain that originally discovered this issue while testing transitions from OldDot to NewDot. If a user is already signed in to a different account than the one that they are transitioning with, the old user is signed out and the new user is signed in, and this issue occurs if the transition involves creating a workspace. It's not a big deal but it

[2022-04-28 19:04] izhan commented on #8309
I think that was never an issue (here I'm adding >3 decimals on staging)

https://user-images.githubusercontent.com/4621962/165826793-90a0711b-8460-4ff2-93dd-d38582f5e989.mov

I think the original issue was removing decimals of any large number that converted to scientific notation, which this PR should fix with the 8-digit limit

[2022-04-28 19:16] kbecciv opened #8822 "IOS - User isn't logged out after destroyed the device credentials"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing PR:** https://github.com/Expensify/App/pull/8713

## Action Performed:
1. Launch the app
2. Navigate to Preferences and verify there are

[2022-04-28 19:29] pecanoro commented on #8309
Ohh you are right, the scientific notation was the issue here. Perfect, all good then, go ahead and apply for the job!

[2022-04-28 19:32] arosiclair commented on #7014
Got some bandwidth so I can take a look at this

[2022-04-28 19:34] adelekennedy commented on #7912
@parasharrajat do we still need to wait on payment or are we good to go with the fix in #8741?

[2022-04-28 19:42] kbecciv opened #8824 "Web - Two frequently used emoji sections after deleting the search term and pressed Enter Key @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com and log in with any account
2. Go to Chat > Open Emoji menu
3. Write few words in the emoji search box
4.

[2022-04-28 19:53] tgolen commented on #8720
haha, ok. cool! Let's give that a shot then!

[2022-04-28 20:06] luacmartins opened #8825 "Clean up AddressSearch refactor - add support for defaultValue and use hint"
# Problem
Our `AddressSearch` component was refactored to work with Form, but we missed a couple of things during the refactor:

1. It should be able to load with a `defaultValue`
2. It should use a hint to display hint text. The hint should be replaced with an error message if there's one.

# Why is this important
It standardizes the use of AddressSearch and follows the guidelines defined in the

[2022-04-28 20:06] parasharrajat commented on #7912
Yes, we have to wait. The new PR is not merged.

[2022-04-28 20:16] jayeshmangwani commented on #8291
Proposal:

in [avatar](https://github.com/Expensify/App/blob/main/src/components/Avatar.js) file we can add [onError](https://reactnative.dev/docs/image#onerror) in Image component here

https://github.com/Expensify/App/blob/db6fab75722e833ca6e54f634e8a6b6f3c1cae79/src/components/Avatar.js#L53

when Image gets an error in load we can setState a error flag true and if its true then we have to  load

[2022-04-28 20:21] #5781 closed

[2022-04-28 20:21] #6130 closed

[2022-04-28 20:21] #6491 closed

[2022-04-28 20:21] #6990 closed

[2022-04-28 20:22] #7312 closed

[2022-04-28 20:22] #7468 closed

[2022-04-28 20:22] #7473 closed

[2022-04-28 20:22] #7478 closed

[2022-04-28 20:22] #7493 closed

[2022-04-28 20:24] metehanozyurt commented on #8349
I think i found problem can i still make proposal @mallenexpensify ? . Thanks🙏

[2022-04-28 20:32] metehanozyurt commented on #8349
I search commits and research.
cause of this problem about this issue
https://github.com/Expensify/App/issues/2601

If we add this line our problem solved.
https://github.com/Expensify/App/blob/32d8f0261b825cb6e47e441b9cf08400340a164e/src/components/Composer/index.android.js#L66-L76
because of `selection` props cant open the first time.
if we change like this other platforms not effected and andro

[2022-04-28 20:38] michaelhaxhiu commented on #8590
Removing hold, this is back on the front burner! 🍳

[2022-04-28 20:44] marcaaron commented on #4680
Let's do it one day!

[2022-04-28 20:45] michaelhaxhiu commented on #8235
After more thought, this is technically a regression I think (it worked in the past, and then stopped working) -- and thus, it deserves an RCA.

[2022-04-28 20:56] thienlnam commented on #7916
cc @luacmartins Could you help us with the expected behavior of these forms? I would think it's the same for the workspace invite page but wanted to double check

[2022-04-28 21:01] luacmartins commented on #7916
I think we should standardize on:

- Pressing enter submits the form
- Pressing space interacts with the input, i.e. opens dropdowns, toggles show password, opens the avatar menu, etc.

[2022-04-28 21:06] marcaaron commented on #5303
I'm trying to understand this issue a bit to clear up the `setTimeout()` but not able to reproduce the bug anymore.

I can see it happen if we try to initialize the global create menu with `isActive: true`, but if we set to state after the component mounts then everything works fine.

Maybe it only affects certain versions of iOS...

[2022-04-28 21:15] mallenexpensify commented on #8352
Paid @Santhosh-Sellavel $250 for reporting and closed the Upwork job

[2022-04-28 21:22] mallenexpensify commented on #8657
Thanks @parasharrajat. I'm going to leave this on hold for now (and not update the OP yet, in case the fix in #4612 magically fixes RHN too.  )

[2022-04-28 21:25] mallenexpensify commented on #7835
Doubled price to $8000
https://www.upwork.com/jobs/~0103b194cebb2bdef4

@mananjadhav would you like to C+ this issue with Rushat out?

[2022-04-28 21:32] stephanieelliott commented on #7081
Hey @mananjadhav, do you expect that you will be able to resolve the PR changes this week? Progress has been stalled on this issue since March. If the requested changes still aren't made on Monday, we'll plan to open this back up to the pool so that someone else can pick it up.

[2022-04-28 22:18] Santhosh-Sellavel commented on #7971
@AndrewGable
@frenkield [proposal](https://github.com/Expensify/App/issues/7971#issuecomment-1107886160) LGTM!
🎀👀🎀 C+ reviewed

Thanks!

[2022-04-28 22:20] marcochavezf commented on #8468
This issue will be resolved with the [NewDot Optimization API](https://docs.google.com/document/d/1AF1iTabP3WUSpNPE8-C2NJ7jYSBIISViRRBZSvXNSug/edit#heading=h.ns12dr1f35rx) changes (where the response of a WRITE request will come via Pusher to all the subscribed clients). I'm going to close the ticket but we can re-open it if it's still an issue after implementing the new API changes.

[2022-04-28 22:20] #8468 closed

[2022-04-28 22:30] neil-marcellini commented on #8295
Under review and working on the transitions.

[2022-04-28 22:30] #8800 closed

[2022-04-28 22:35] marcaaron commented on #5303
Tested on iOS 13-15 and can't get it to happen. I think the moving the logic in [this PR](https://github.com/Expensify/App/pull/7865/files) fixed the problem, but unsure why.

[2022-04-28 22:35] kevinksullivan commented on #8455
Price doubled

[2022-04-28 23:02] tgolen commented on #8824
I'm going to take a look into this. There are a few bugs here... For example, if you search for an emoji, delete all the search text, then press enter, the words `frequentlyUsed` will be inserted into the compose input.

[2022-04-28 23:08] Santhosh-Sellavel commented on #8152
I see there is clearly a miscommunication that occurred here that has caused the PR delay for this issue.

On a friendly note @thesahindia, to avoid this in the future let's keep in mind our [contributing guidelines](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md), specifically,
1. Daily updates on weekdays are highly recommended.
2. If you know you won’t be able to provide updates for

[2022-04-28 23:27] mallenexpensify commented on #7352
@roryabraham in case anything is _weird_ with this issue, can you drop a comment in denoting payment date if one isn't auto-added?

[2022-04-28 23:27] luacmartins commented on #5303
It was definitely still happening then, because I tried to remove it and failed. Although I thought I left a comment somewhere about it fixing a race condition and not a bug with react-navigation.

[2022-04-28 23:28] mallenexpensify commented on #7375
Looks like the PR is still moving along

[2022-04-29 00:15] mallenexpensify commented on #7487
@mananjadhav want to be assigned to C+ this?

[2022-04-29 00:16] neil-marcellini commented on #8708
I just added an automated test for adding a duplicate chat. I have a question about how to access the response in the test, and I also still need to do the query timing.

[2022-04-29 00:52] francoisl commented on #8777
Cool, thanks. Going to follow up on #8738.
Additionally, #8682 and #8713 are also still unchecked, can you take a look please?

[2022-04-29 01:17] chiragsalian commented on #8152
@Expensify/marketing  can you confirm the copy shown here is alright?
![image](https://user-images.githubusercontent.com/14356145/165871465-0bad2a9a-9bb4-4c7e-a94b-40bfc9aff77d.png)

i.e., `Password updated! You’re all set, keep your new password safe`

[2022-04-29 01:26] kadiealexander commented on #7352
See update above! Begone, Melvin.

[2022-04-29 02:08] marcaaron opened #8829 "[ReportActionsView] Isolate view/render logic from the "unread business logic""
### Problem

`ReportActionsView` has grown in size and has many responsibilities which can make it hard to reason about. There is logic that is primarily related to rendering the list of messages in a chat mixed together with several other things e.g.

- Performance code for timing the rendering of this list
- Floating message counter logic
- New marker logic
- Render methods for FlatList
- Data f

[2022-04-29 02:26] mvtglobally commented on #8777
#8682. We are facing issue with the last step. Rest seem ok. https://github.com/Expensify/App/pull/8682#issuecomment-1112821066
https://github.com/Expensify/App/pull/8713 is failing https://github.com/Expensify/App/issues/8822. But since this is a new feature, I think we can check it off?

[2022-04-29 04:31] ahmdshrif commented on #8787
looks to work fine now on main after merge @b1tjoy  PR

[2022-04-29 08:33] sobitneupane commented on #8363
I may not available for upcoming few days. So, moving on with a new contributor might be a good idea.

[2022-04-29 08:44] frenkield commented on #7971
Thanks for assigning me this ticket.

I submitted the proposal on Upwork (https://www.upwork.com/jobs/~012ef02def10429641). I'm planning to submit the pull request by Monday, May 2nd.

[2022-04-29 09:31] Julesssss commented on #8130
I'll look into this once I get a chance, but it won't be immediately. I'm hoping that this won't be too tricky, as we already have this behavior in the old app.

[2022-04-29 10:31] mdneyazahmad commented on #8349
## Proposal

Removing this line fixes the issue.

https://github.com/Expensify/App/blob/fe432c30fdd46db9c34d714c64db78c496761b7c/src/pages/home/report/ReportActionCompose.js#L550

[code]

We are omitting this prop from `ios` therefore it works there and this issue exists only on `android`.  We need to also remove these two lines.

https://github.com/Expensify/App/blob/fe432c30fdd46db9c34d714c64db7

[2022-04-29 10:32] Beamanator commented on #8574
Ya I haven't been able to reproduce, @kbecciv would you mind testing this again and trying to give more specific details?

For example, are you trying to upload a large PDF? Does this ONLY happen in high traffic chats, or does it happen in all chats in an account with lots of messages? Etc

[2022-04-29 11:33] mdneyazahmad commented on #8349
@parasharrajat I know there are other issues related to `selection` prop, but in our case I think we need not explicitly pass `selection` prop. We do need selection values to insert emojis and we already have `onSelectionChange` that will update when selection changes.

As we can see that it works fine without this prop on `ios`  so I think we can also do the same on other platform. In case I am m

[2022-04-29 11:37] parasharrajat commented on #7916
@mdneyazahmad Could you please continue the discussion here to determine the next action?

[2022-04-29 12:16] parasharrajat commented on #7573
@Julesssss We would need your review here. Thanks.

[2022-04-29 13:00] Santhosh-Sellavel commented on #7862
I think it's time to double this!
cc: @trjExpensify @chiragsalian

[2022-04-29 13:24] mdneyazahmad commented on #7916
@parasharrajat Should we handle the accessibility of `OptionsList` in a separate issue? That is used at many places.

[2022-04-29 13:42] dylanexpensify commented on #8220
any update here @metehanozyurt

[2022-04-29 13:43] dylanexpensify commented on #6941
@kavimuru can we get an update?

[2022-04-29 13:56] metehanozyurt commented on #8220
I made the PR. I'm waiting for my PR to be reviewed or update requests now. Thank you 🙏

[2022-04-29 14:03] Santhosh-Sellavel commented on #8545
Still waiting for proposals here!

[2022-04-29 14:04] Santhosh-Sellavel commented on #8122
PR is up review in progress!

[2022-04-29 14:05] Santhosh-Sellavel commented on #8356
Waiting for proposals here!

[2022-04-29 14:19] TomatoToaster commented on #8519
Is this still occuring in NewDot? I haven't been able to recreate this. If so, feel free to reopen.

[2022-04-29 14:19] #8820 closed

[2022-04-29 14:34] SumitDiyora commented on #8707
Checked all PRs on Production / Staging and created accessibility issues for all PRs where accessibility issues were found.
The non-applicable PRs are - #8341, #8386, #8397, #8603, #8626, #8639, #8647, #8649, #8650, #8677, #8684, #8686, #8688, #8693
Logged Issues - #7362, #8256, #8375, #8476, #8499, #8584, #8585, #8604, #8672, #8694, #8695

[2022-04-29 14:45] Santhosh-Sellavel commented on #8287
Waiting for your thoughts @Luke9389

My comment -> https://github.com/Expensify/App/issues/8287#issuecomment-1107608662

[2022-04-29 14:47] Santhosh-Sellavel commented on #8520
Still looking for a proposal.

[2022-04-29 14:49] Santhosh-Sellavel commented on #8722
@marcaaron
I have submitted a proposal here!

[2022-04-29 14:50] Santhosh-Sellavel commented on #7942
Waiting for a proposal!

[2022-04-29 14:55] Santhosh-Sellavel commented on #8590
@allroundexperts  Do you have the updated proposal if so please submit it in a new comment!

Waiting for a proposal!

[2022-04-29 15:03] allroundexperts commented on #8590
I’ll do that today.

On Fri, 29 Apr 2022 at 7:55 PM, Santhoshkumar Sellavel <
***@***.***> wrote:

[2022-04-29 15:09] Santhosh-Sellavel commented on #8357
@sobitneupane Any update?

[2022-04-29 15:16] Julesssss commented on #7573
I'm totally with you here @parasharrajat. But just to be 100% sure, you're suggesting these changes are made to @mateusbra's proposal, right?

[2022-04-29 15:17] Julesssss commented on #7573
I think I'd prefer to merge the two similar Components.

[2022-04-29 15:23] parasharrajat commented on #7573
I am fine either way. Either @mateusbra can do this or I can create the PR. Your call? It doesn't look time-consuming.

[2022-04-29 15:23] tgolen commented on #8595
Sorry, I know this is crude, but I think this is what we want to do:

![image](https://user-images.githubusercontent.com/1228807/165974966-4cf581f3-fdd0-4004-be69-5badb6687e04.png)

[2022-04-29 15:25] shawnborton commented on #8595
Okay, I can grab this one and cook something up

[2022-04-29 15:26] parasharrajat commented on #8595
Note: We also need this password prompt on Android and iOS.

[2022-04-29 15:30] Santhosh-Sellavel commented on #8249
I see a [PR](https://github.com/Expensify/App/pull/8409) for this issue & why @chiragsalian did you add a help wanted label.

Are we looking for proposals?

[2022-04-29 15:31] Santhosh-Sellavel commented on #8152
Thanks, @rosegrech.

@thesahindia Can you update the comma!

[2022-04-29 15:37] parasharrajat commented on #8440
Ok, I looked at the code and it seems that this page needs a full refactor to follow the new form styles. For this particular issue, I am fine with taking the minimalistic approach.

So @dharmik 's latest [proposal](https://github.com/Expensify/App/issues/8440#issuecomment-1104441168) would be fine. We can do the cleanup on the PR.

cc: @NikkiWines

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-04-29 15:59] shawnborton commented on #8595
Cool, looks like we have consensus on this approach:
![image](https://user-images.githubusercontent.com/2319350/165981110-fb21f475-4a31-4fff-a37b-e0befcc56988.png)

[2022-04-29 16:06] Julesssss commented on #8352
[PR in progress](https://github.com/Expensify/App/pull/8816)

[2022-04-29 16:08] mallenexpensify opened #8833 "Improve #8721 to reopen issue once assigned to CM to issue payment to reporting contributor"
In https://github.com/Expensify/App/issues/8721 we updated the time when a CM is assigned to issue payment to a contributor for issues they report that get fixed internally.

**Problem:** Issue stays closed when the CM is assigned so it's easy for them to miss it, ie. in K2
**Solution:** When assigning the CM, reopen the issue **and make it a daily** so the CM knows there's an action to be taken.

[2022-04-29 16:10] mallenexpensify commented on #8833
Sorry @MitchExpensify , should have removed the assigner label before posting, don't need 👀 cuz it's a relatively small update that we discussed in slack.

[2022-04-29 16:14] murataka commented on #7618
@parasharrajat , i tried to keep the changes as least as possible. there's a settimeout function which was implemented as a workaround ( it is not my change ), and when the app is slow, increasing the timeout to 500 makes it work better , when the app is slow, say in debug mode.

[2022-04-29 16:20] OSBotify commented on #8329
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-04-29 16:21] marcaaron commented on #8777
Found an issue with #8329 helping to resolve it in this PR https://github.com/Expensify/App/pull/8827

[2022-04-29 16:32] marcaaron commented on #5303
Interesting, I'm trying to find out what the "sometimes" factor is here. So far, it has been working fine for me and anyone else who has tested on iOS so I'm inclined to see if it will pop up again.

[2022-04-29 16:32] chiragsalian commented on #8590
The code for returning attachment dimensions is on production now as well.

[2022-04-29 16:35] dharmik commented on #8329
To fix this we need to raise PR again? @rushatgabhane

[2022-04-29 16:47] mallenexpensify commented on #7835
Assigned @mananjadhav as C+ then re-added the `Help Wanted` label

[2022-04-29 16:48] mallenexpensify commented on #8833
@Beamanator while you're in there... can you take a look at
https://github.com/Expensify/App/issues/7835#issuecomment-1113517714
I think this comment might be added in error?  (and _might_ be related to the previous work you did)

[2022-04-29 17:02] parasharrajat commented on #7916
I guess so but not my call.

[2022-04-29 17:04] mallenexpensify commented on #8520
Doubled price to $1000
https://www.upwork.com/jobs/~0101338915fc9540cb

[2022-04-29 17:12] marcaaron commented on #8329
@dharmik fixing this internally, thanks.

[2022-04-29 17:26] chiragsalian commented on #8249
Oh because i'd like you to take over reviewing https://github.com/Expensify/App/pull/8409 as well since rushat is OOO. Is that alright by you?

[2022-04-29 17:28] thesahindia commented on #8152
Done ✅

[2022-04-29 17:32] marcaaron commented on #5303
Changes here are what I have been testing -> https://github.com/Expensify/App/pull/8827

[2022-04-29 17:46] chiragsalian commented on #8748
Yup definitely a good find and always good to report issues because even if we close this today some day maybe its ROI will increase and we can reopen the issue and it will have some historical context to help.

For context why i say low ROI is because most users have 1 account and not many hence this is something that would affect people like us testing across different emails than actual custome

[2022-04-29 17:46] #8748 closed

[2022-04-29 17:49] Puneet-here commented on #8497
@michaelhaxhiu, I have applied to the job.

[2022-04-29 17:59] Santhosh-Sellavel commented on #8361
@thienlnam

@brianmuks [Proposal](https://github.com/Expensify/App/issues/8361#issuecomment-1106881771) Looks Good!
🎀 👀 🎀 C+ reviewed

[2022-04-29 18:03] danieldoglas opened #8835 "New internal label webhook tests - reported by @danieldoglas"
Testing https://github.com/Expensify/Web-Expensify/pull/33616

[2022-04-29 18:15] Puneet-here commented on #8824
@tgolen, can we open this as it is eligible for the reporting.

[2022-04-29 18:15] mdneyazahmad commented on #7916
####  Here's the summary:
- Everything works as expected as per the desired result except (`OptionsList`) https://github.com/Expensify/App/issues/7916#issuecomment-1111680331. I am not sure about the expected result here. That is based on my understanding.
- `Enter` does not work as expected even if you are not focussed on form element and you press `enter` it submits the form sometimes that other

[2022-04-29 18:19] tgolen commented on #8824
Hi @Puneet-here, there has already been a PR merged to fix this.

[2022-04-29 18:20] tgolen commented on #8824
Oh, wait, I misunderstood what you meant. Does it need to be reopened to be eligible for the reporting? I'm not sure, but maybe @sonialiap knows.

[2022-04-29 18:43] michaelhaxhiu commented on #8497
@Puneet-here hired

[2022-04-29 18:44] Santhosh-Sellavel commented on #8545
Let's double this one, do you agree? @thienlnam

[2022-04-29 18:50] Puneet-here commented on #8824
Yes I had reported this on slack.

[2022-04-29 18:52] michaelhaxhiu commented on #8497
Paid.

[2022-04-29 19:26] Santhosh-Sellavel commented on #8249
Yeah fine remove [Help Wanted](https://github.com/Expensify/App/labels/Help%20Wanted) label!

[2022-04-29 19:31] allroundexperts commented on #8590
@chiragsalian  @michaelhaxhiu @Santhosh-Sellavel The `attachmentDimensions` parameter is not available on the report update event that is received from the web socket. We'll need those dimensions there as well in order to get rid of the JANKINESS.

Also, since we are using `explicit composite architecture` for html rendering, it is not possible to pass the `attachmentDimensions` to the `ImageRende

[2022-04-29 19:32] Santhosh-Sellavel commented on #8715
@roryabraham

Based on the code here, this is working as expected only.
https://github.com/Expensify/App/blob/65432d60dd0be71e8830099c93b3ab0f25da0139/src/components/ReportTransaction.js#L96

Can you confirm what's expected here?

[2022-04-29 19:38] #8798 closed

[2022-04-29 19:50] murataka commented on #7618
@parasharrajat , sorry if I'm being annoying but if you are testing it , you will also need https://github.com/Expensify/App/issues/4612#issuecomment-1025139008

In CustomActions.js

line 129 ..

[code]

I did not post that part previously , because I just forgot it , since some time passed when I digged into those navigation issues.

The issue should be completely solved after that , and also app

[2022-04-29 20:36] Puneet-here commented on #8357
Hi the proposals above aren't complete if we only make the changes for actions we still be seeing our own contact whenever we try to send/reques/split bill as you can see in the screenshot.
<img width="1051" alt="Screenshot 2022-04-30 at 1 55 17 AM" src="https://user-images.githubusercontent.com/101883770/166064432-627e5606-c884-4155-a88c-84ec21e60df6.png">

As all the proposals are incomplete her

[2022-04-29 20:37] Puneet-here commented on #8357
Hi the proposals above aren't complete if we only make the changes for actions we still be seeing our own contact whenever we try to send/reques/split bill as you can see in the screenshot.
<img width="1051" alt="Screenshot 2022-04-30 at 1 55 17 AM" src="https://user-images.githubusercontent.com/101883770/166064432-627e5606-c884-4155-a88c-84ec21e60df6.png">

As all the proposals are incomplete her

[2022-04-29 20:37] mallenexpensify commented on #8520
I like `#1`, I prefer truncating in the middle in case people use the same name for multiple emails but different domains/jobs

[2022-04-29 20:39] aneequeahmad commented on #8356
### PROPOSAL

**Solution**

lineHeight of textInputPrefix is causing the issue and making the prefix to have more lineHeight than needed.
So to fix this give `lineHeight: Platform.OS === 'web' ? 'normal' : 0 ` to `textInputPrefix` in styles.js line no 774.

Web UI after fix
<img width="380" alt="Screen Shot 2022-04-30 at 1 37 44 AM" src="https://user-images.githubusercontent.com/36359331/166066075

[2022-04-29 20:52] Santhosh-Sellavel commented on #8520
Personally, do we really need to show the email there?

Can't we just say?
"This workspace chat is no longer active because **you** are no longer a member of the Some workspace."

[2022-04-29 20:53] chiragsalian commented on #8590
Interesting so are you saying that even if i return `attachmentDimensions` in the push notification as a separate object it won't help?
And instead you are saying its better if i add it to the image as `data-expensify-width` and `data-expensify-height` attributes?

If so then would a return like this be better? (added with and height to the end of message.html)
[code]

[2022-04-29 21:03] allroundexperts commented on #8590
Yes that would work @chiragsalian. Just make sure that you're sending this in both the web-socket message and the https response from the API.

[2022-04-29 21:17] kevinksullivan commented on #8101
Price doubled

[2022-04-29 21:20] kevinksullivan commented on #7968
Price doubled

[2022-04-29 21:52] murataka commented on #7618
Last test of mine ( chrome mobile browser ) :

https://user-images.githubusercontent.com/5358438/166073620-7bfce300-561f-44a7-b147-2171ab6e56e8.mp4

[2022-04-29 22:13] Puneet-here commented on #8469
I didn't get any reply on slack for translation so I have pushed the thread again on channel.

[2022-04-29 22:27] adelekennedy commented on #8426
Reviewing proposals!

[2022-04-29 22:39] NikkiWines commented on #8440
I think the core of the proposal is good but that we could improve things by changing how we're storing errors in `PasswordPage.js`. Then we wouldn't even need to update `actions/User.js` or `Session/index.js`.

I suggest something like this (all in `PasswordPage.js`)

1. Add `componentDidUpdate()` function so that we update the UI when there is an error in `this.props.account.error`
[code]

2. Ch

[2022-04-29 22:39] adelekennedy commented on #8662
Not overdue!

[2022-04-29 22:40] mateusbra commented on #7573
I updated my [proposal](https://github.com/Expensify/App/issues/7573#issuecomment-1111741140) in order to cover the requested changes, I'll use it if I be chosen to create the PR.

[2022-04-29 22:47] chiragsalian commented on #8590
Cool, i've got a PR thats ready for review. I've removed attachmentDimensions as an object and instead added it to the attributes of the image. The format will be like so,
[code]
and it will show up in Report_AddComment network request and the web socket push notification. Infact, i'm actually saving it in the database so any lookup of that reportAction should always give you the height and width

[2022-04-29 22:48] marcochavezf commented on #8089
Requested a few changes in the PR, it's still in progress

[2022-04-30 00:18] mallenexpensify commented on #8404
I'm out Mon/Tues so I paid $250 ea today to @Tushu17 , @sobitneupane and @rushatgabhane
Thanks!

[2022-04-30 00:18] #8404 closed

[2022-04-30 00:21] mallenexpensify commented on #8128
@thesahindia and @parasharrajat paid $1000 each for fix and C+.  @Tushu17 paid $250 for reporting.
Paying early cuz I'm out Mon/Tues

[2022-04-30 00:21] #8128 closed

[2022-04-30 00:27] jliexpensify commented on #8249
Removed!

[2022-04-30 00:27] mallenexpensify commented on #6891
@mananjadhav @parasharrajat @thesahindia Hired in Upwork, can you accept the offer please?
I'll pay on Wednesday, I'm off Mon/Tues
https://www.upwork.com/jobs/~01bcc8abfe9585856e

[2022-04-30 00:56] kevinksullivan commented on #8361
Hired @brianmuks , @Santhosh-Sellavel , and @Tushu17 for the job in upwork. Dream team!

[2022-04-30 00:58] owjhart commented on #7968
# Root cause

The root cause of the problem where the delete action is fired on enter key press even though a user was focused on cancel button is because the keydown listener is registered via `src/libs/KeyboardShortcut/index.js` which is using `{capture: true}`. According to https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener, the `{capture: true}` will cause the regist

[2022-04-30 00:58] kevinksullivan commented on #8454
@thesahindia just a heads up the offer still looks like it's awaiting your acceptance!

[2022-04-30 03:09] ahmdshrif commented on #8101
Thanks @thienlnam for being me . I will work on this soon .

[2022-04-30 04:25] izhan commented on #8309
PR is here https://github.com/Expensify/App/pull/8838

[2022-04-30 06:35] allroundexperts commented on #8590
Cool. Let me know when it gets deployed.

On Sat, 30 Apr 2022 at 3:47 AM, Chirag Chandrakant Salian <
***@***.***> wrote:

[2022-04-30 06:47] izhan commented on #7860
Thanks @marcaaron @kidroca for the context! Super helpful – i'm always eager to dig in more.

@kidroca I like and have thoughts on the rest you said too, but to not overwhelm this conversation, maybe we should start w/ the root cause w/ the fork.

----

I can see two things from that fork that might affect this logic:
1. The order in which items' `onLayout` was called got reversed. Before that for

[2022-04-30 07:24] izhan commented on #7860
Aha never mind about the questions, I think I figured out the root cause!

(1) – https://github.com/Expensify/App/commit/cfe4f80b88c9d88c4d25b273517b4660233b3e42 wrapped `ReportActionItem` with `withOnyx`. If you look at the source code, you'll see that it renders null as it's loading

https://github.com/Expensify/react-native-onyx/blob/f6c2b03f29193bbceca68a9997fa94cc998f52a6/lib/withOnyx.js#L160

[2022-04-30 07:52] izhan commented on #7860
@kidroca quick thoughts on your comments

I don't see any blockers. The fix would be in the same `react-native-web` fork, in `packages/react-native-web/src/vendor/react-native/VirtualizedList/index.js`

Good call, not sure. Haven't tried to repro on ios/android yet. If you think moving this into react-native is a good idea, I can try it out and report back.

Great suggestion, we should definitely

[2022-04-30 10:50] Santhosh-Sellavel commented on #7968
@owjhart

Disabling `keydown` with  `{capture: false}` would be not enough for this issue. Because even after disabling with `keydown` I could still use `tab` to focus the `cancel` button.

The main goal here is not to disable focusing on the cancel button, instead when delete/cancel button is focused on pressing enter the desired button action should be performed. If nothing is focused then delet

[2022-04-30 10:53] Santhosh-Sellavel commented on #7971
Cool, thanks!

[2022-04-30 11:48] thesahindia commented on #8454
Hi @kevinksullivan, I am getting error when trying to accept the offer. I thought there's some problem in upwork or my account but I just accepted a different offer so I guess it's working fine.

<img width="773" alt="Screenshot 2022-04-25 at 7 20 27 PM" src="https://user-images.githubusercontent.com/83179295/166104132-df77dd7d-47a5-4eec-9dd4-b715957b589b.png">

[2022-04-30 12:57] Santhosh-Sellavel commented on #8357
@Puneet-here Your proposal has nothing new here, what are you trying to say.

Even your proposal is incomplete here.

[2022-04-30 13:02] Santhosh-Sellavel commented on #5781
@Beamanator This one is closed, without handling!

[2022-04-30 13:16] Santhosh-Sellavel commented on #8291
@jayeshmangwani seems your proposal would address this issue, but it's hard to follow.

Check out the closed [issues](https://github.com/Expensify/App/issues?q=is%3Aissue+is%3Aclosed+label%3A%22Awaiting+Payment%22) to how to write a proper proposal.

Can you resubmit your proposal, with the changes you are proposing in step by step manner? So it would be easy to understand. Make your code is DRY.

[2022-04-30 14:17] kbecciv opened #8840 "[HOLD for payment 2022-06-15] [$500] Web - Attachments - Attaching a picture disappears when minimizing a window"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition - Must be already logged in to Expensify. Browser window must be fully maximized.
1. Click on any active chat (except Concierge)
2. Cli

[2022-04-30 14:24] thesahindia commented on #8520
### Proposal

At native the email gets break to the next line the problem is only on mobile web so I propose that we should just use
`word-break: break-word`
We can add it to the styles.js and we can use it here as `styles.breakWord`
https://github.com/Expensify/App/blob/f174c3223a1d6d0f571e5bd799441690951f078c/src/components/Banner.js#L28-L32

[2022-04-30 14:34] kbecciv opened #8841 "[HOLD for payment 2022-08-11] [HOLD] [$1000] Web - Compose Box - In Minimize window one chat goes to the list of chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition - Must be already logged in to Expensify. Browser window must be fully maximized.
Should be two chats on the list + Concierge

1. Click

[2022-04-30 14:52] kbecciv opened #8842 "[HOLD for payment 2022-06-16] [$250] Web - Attachments - Cannot attach a photo when the NEW ( green plus) button is pressed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition - Must be already logged in to Expensify.
1. Select any chat room in your list
2. Tap the NEW (green plus) button on the bottom left of

[2022-04-30 15:04] kbecciv commented on #8574
@Beamanator I will check with QA team on Monday and give you more details.

[2022-04-30 15:52] kbecciv opened #8843 "Settings - Part of Test Preferences isn't translated in Spanish"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in domain account
3. Settings - Preferences
4. Change language to Spanish

## Expected Result:
 Part of Te

[2022-04-30 16:21] jayeshmangwani commented on #8291
@Santhosh-Sellavel  Thanks for checking the proposal, let me update my proposal in detail,

Proposal - updated

1. we have to create a state for checking errors in image loading, isErrorFetchingImage value that defines the error in loading the image, initially value will be false

[code]
we have to add the above code here,

https://github.com/Expensify/App/blob/f174c3223a1d6d0f571e5bd799441690951f

[2022-04-30 17:23] Santhosh-Sellavel commented on #8291
@AndrewGable
@jayeshmangwani [proposal](https://github.com/Expensify/App/issues/8291#issuecomment-1114014660) LGTM!
🎀👀🎀 C+ reviewed

@jayeshmangwani
I think this should be,
[code]
Could have used `themeColors` which is already available instead of `defaultTheme`.

[2022-04-30 17:45] Santhosh-Sellavel commented on #8520
@tgolen
@thesahindia [proposal](https://github.com/Expensify/App/issues/8520#issuecomment-1113997376) looks good to me.
🎀👀🎀 C+ reviewed

But it should be `styles.breakAll`. Check the following images.

### breakWord
<img width="355" alt="Screenshot 2022-04-30 at 11 15 18 PM" src="https://user-images.githubusercontent.com/85645967/166116537-7598f0ac-89d4-4961-b62e-f7481edc184e.png">

### breakAll
<

[2022-04-30 17:47] owjhart commented on #7968
Hello @Santhosh-Sellavel

I tested all of my proposals and confirmed that they behave as expected. The delete action will not occur when the cancel button is focused in each of my proposed solutions.

I see your concern about not causing regression with the up/down keys. We can avoid regression with that by using my second proposal where we only use ‘capture: false’ on the enter key in Button.js s

[2022-04-30 18:01] Santhosh-Sellavel commented on #7968
@owjhart
If you confirm with your proposal.
1. On pressing enter when the delete button is focused delete action should trigger vice versa when the cancel button is focused cancel action should be performed.
2. If nothing is focused then delete should be performed straight away while pressing enter.

Then please submit the proposal, with all the changes you propose in a new comment thanks!

[2022-04-30 18:34] jayeshmangwani commented on #8291
@Santhosh-Sellavel  Thanks for the suggestion, now I have updated these 2 changes in the code

[2022-04-30 20:12] owjhart commented on #7968
@Santhosh-Sellavel Thanks for your feedback. Here's an updated proposal.

I confirm that:
1. On pressing enter, when the delete button is focused, the delete action will trigger (and vice versa: when the cancel button is focused, the cancel action will trigger)
2. If nothing is focused, then the delete will will trigger straight away after pressing 'enter'.

# Proposal

## Root cause

The root cau

[2022-04-30 21:17] aneequeahmad commented on #8731
@luacmartins Please look at the screenshots I have attached below and explained in steps.

-  there is a div of `height 15px` below text input.
<img width="1641" alt="Screen Shot 2022-05-01 at 2 07 25 AM" src="https://user-images.githubusercontent.com/36359331/166122818-527ba47e-fd41-47b4-b47e-a6cfb71109d6.png">

- Also the container of textinput has `min-height: 90px`
<img width="1648" alt="Scree

[2022-04-30 21:42] mananjadhav commented on #7470
Went through the history, waiting for proposals.

[2022-04-30 21:43] mananjadhav commented on #7727
@JmillsExpensify @pecanoro  Is this still on hold?

[2022-04-30 21:43] mananjadhav commented on #7835
Went through the history, waiting for proposals.

[2022-04-30 21:51] mananjadhav commented on #8119
@metehanozyurt sorry I didn't get the notification for this one. I'll review it by Monday.

[2022-04-30 21:52] mananjadhav commented on #8286
Went through the history, waiting for proposals.

[2022-04-30 21:53] mananjadhav commented on #8396
Went through the history, waiting for proposals.

[2022-04-30 21:55] mananjadhav commented on #8573
Waiting for proposals.

[2022-04-30 21:56] mananjadhav commented on #8787
Thanks for the comments @b1tjoy and @ahmdshrif. @kbecciv Can you also test once if you can still reproduce this?

[2022-05-01 06:24] mdneyazahmad commented on #7917
##### Request money
1. `tab` and `shift + tab` works as expected.
2. `enter` submits the form.
3. There is no checkbox.
4. `enter` toggles selections (OptionsList) as well as navigates the user to the next step.

https://user-images.githubusercontent.com/77761491/166134375-6db1fcc1-99ce-44df-b683-5e4bb2c8daa8.mp4

##### Send money
1. `tab` and `shift + tab` works as expected.
2. `enter` submits th

[2022-05-01 06:34] mdneyazahmad commented on #7917
This is my initial attempt to fix the checkbox accessibility.
1. Created a separate implementation for `native` and others.
2. `native` implementation is exactly same.
3.  `web` and` desktop` added custom logic to handle `onClick` and `onKeyDown` to listen for `space`.

You can check the diff here https://github.com/Expensify/App/compare/main...mdneyazahmad:fix/checkbox

[2022-05-01 06:41] mdneyazahmad commented on #7917
There are issues with `OptionsList`. It toggles selection with `enter` and when you press it toggles as well as submits the form that is not the user is expecting. We are discussing the accessibility of OptionsList in the other issue may be continue the discussion here https://github.com/Expensify/App/issues/7916#issuecomment-1113592130

[2022-05-01 10:45] parasharrajat commented on #8396
Based on RCT, this is a duplicate of https://github.com/Expensify/App/issues/8292. And we already have a proposal on 8292. we should close this.

[2022-05-01 10:55] parasharrajat commented on #6301
@Tabakharniuk Any update on the PR?

[2022-05-01 13:55] murataka commented on #7835
@gladiator-1 , could you check using the video source url as :

`javascript
this.props.href.replace('https://www.expensify.com/', '/')`

works ? I think your solution should work, but you are just facing some small issues .

I tested safari with the above code, and it worked. But not sending a proposal because I think you already have done it.

[2022-05-01 15:45] aneequeahmad commented on #7618
### PROPOSAL

As discussed we came to know that the issue is with react-navigation.

**Solution**
The use is in useLinking.js when the `historyDleta < 0` condition is true and it navigating to `hitstory.go(n) // where n is -1`.
This is fixed by updating the line `539` in uselinking.js from ` await history.go(historyDelta);` to ` await history.go(Math.max(historyDelta, 0));` so that it never naviga

[2022-05-01 15:54] aneequeahmad commented on #8101
### PROPOSAL

This issue is with `react-navigation` fixed the issue in `react-navigation` and raised a PR https://github.com/react-navigation/react-navigation/pull/10558. This will fix this issue as well. Proposed change is mentioned in another PR(https://github.com/Expensify/App/issues/7618).

in useLinking.js is navigationg to `await history.go(historyDelta);` where historyDelta is -1 proposed c

[2022-05-01 15:57] aneequeahmad commented on #8641
@flodnv i've created a PR already to fix another expensiy issue.

cc: @frenkield you can wait for my PR to merge. Thanks

[2022-05-01 16:12] frenkield commented on #8641
Thanks, @aneequeahmad!

Just in case, I was going to submit a PR with a slightly less strict condition:
[code]

So, as far as I can tell, it's always safe to go back in the history as long as the resulting browser history length is at least 2. In other words, one just needs to make sure that calling `window.history.go()` won't truncate the browser history to fewer than 2 items.

[2022-05-01 16:33] aneequeahmad commented on #8641
@frenkield oh actually the problem was that the `historyDelta is -1` in this case as well and this condition is already written in the `react-navigation` code and just updated `await history.go(historyDelta);` to `await history.go(Math.max(historyDelta, 0));` please see the `console.logs` in attached video.

https://user-images.githubusercontent.com/36359331/166155311-d675439f-46d0-4a1e-831b-1ce30

[2022-05-01 16:33] metehanozyurt commented on #8545
## Proposal
### Cause
When user first time login chat list not yet created. personalDetailsList request returned empty array. Avatar does not appear due to lack of user information. Clicking on the empty avatar also gives an error because there is no user (Concierge) information.

![WhatsApp Image 2022-05-01 at 19 09 28](https://user-images.githubusercontent.com/6093207/166154476-dd925957-6859-40f

[2022-05-01 17:00] frenkield commented on #8641
Ok thanks, @aneequeahmad. It seems like the same change wasn't accepted in the abandoned PR: https://github.com/react-navigation/react-navigation/pull/10414#discussion_r836390780. Anyway, hopefully [your PR](https://github.com/react-navigation/react-navigation/pull/10558) will be accepted. If there are any ensuing discussions on your PR I might chime in.

[2022-05-01 18:06] Santhosh-Sellavel commented on #8545
@metehanozyurt Thanks for the proposal! But I am not 100% on board with it. I think the root cause is different.

Reason:
I am able to reproduce the same issue while trying to create a New Chat.

Click -> FAB -> New Chat.
Initiate a chat with a user never contacted and click the Chat Header immediately.
the app will crash.
But If you didn't tap immediately details will get fetched eventually the i

[2022-05-01 18:15] aneequeahmad commented on #8641
@frenkield yes, you're right, the problem is the resulting length of the history shouldn't go below 0. What changes are you suggesting I didn't get you. Let's do a discussion on my PR maybe. Thanks man.

[2022-05-01 19:01] metehanozyurt commented on #8545
You are right, I have observed this situation now. Thank you for the reply 🙏 .

[2022-05-01 19:08] Santhosh-Sellavel commented on #8731
@aneequeahmad The space is expected when the keyboard is not active. There is much more space when the keyboard is active. Check image below

[2022-05-01 20:11] Santhosh-Sellavel commented on #7968
Sorry, I am unable to follow this can elaborate on this more, include snippets if possible

Are you suggesting adding two more listeners here? Is that really necessary?

[2022-05-01 20:16] Santhosh-Sellavel commented on #8005
I'm unable to reproduce this one, [Case 2](https://github.com/Expensify/App/issues/8005#issuecomment-1081840317)

[2022-05-01 20:39] thesahindia commented on #7007
I have closed the previous [PR](https://github.com/Expensify/App/pull/7328) ( needed to revert too many changes )
I have raised a new one https://github.com/Expensify/App/pull/8845

[2022-05-01 22:50] michaelhaxhiu commented on #8292
note: I am re-assigning @parasharrajat because he's already started to assess proposals.

[2022-05-02 04:05] dharmik commented on #8440
@NikkiWines I think it's not good approach to check with error string which came from API. As per my knowledge this message will not change in future but who knows so we don't need to relay on it. If it change from API so it breaks.

[code]

May be I am wrong but this issue we can resolve it straight forward  [https://github.com/Expensify/App/issues/8440#issuecomment-1104441168](https://github.com

[2022-05-02 04:09] dharmik commented on #8131
@parasharrajat Can you please share your thoughts on it because I am still with this proposal [https://github.com/Expensify/App/issues/8131#issuecomment-1108710694](https://github.com/Expensify/App/issues/8131#issuecomment-1108710694)

[2022-05-02 04:12] mollfpr commented on #8246
@dylanexpensify The Upwork job is expired, can you please create a new one?

[2022-05-02 04:56] techievivek commented on #8363
Making it weekly because it doesn't feel like a very urgent fix to work on now, but proposals are welcome.

[2022-05-02 05:09] kadiealexander commented on #7007
Thanks for the update @thesahindia!

[2022-05-02 06:03] kadiealexander commented on #8286
Price doubled! 🎉

[2022-05-02 06:05] mvtglobally opened #8846 "[HOLD for payment 2022-10-18] [$250] Unresponsive camera opens on iOS if the camera permission is denied - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. (Make sure you have denied the camera permission)
2. Go to settings >  profile
3. Tap on the avatar icon
4. Select Upload photo
5. Select Take ph

[2022-05-02 06:09] mvtglobally opened #8847 "[Pay on 6/16] [$250] Inconsistent position of the maximum number of participants reached message on different screens - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Press + icon
2. Select New group
3. Choose 8 participants
4. Observe that the maximum number of participants reached message is on top
5. Press +

[2022-05-02 06:25] mvtglobally opened #8848 "Opening Emoji picker on Android is very slow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. click on Emoji picker
3. Select emoji

## Expected Result:
Emoji picker should open quickly and paste

## Actual Result:

[2022-05-02 06:30] mvtglobally opened #8849 "[$500] Unable to cancel or go back when the image is loading - Reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any chat
2. Open any attached image
3. Press the cancel icon or back button to go back when the image is loading

## Expected Result:
User

[2022-05-02 06:32] mvtglobally opened #8850 "[HOLD for payment 2022-05-27] [$250] Notification Growl on Workspace manage member show-up only once - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open website in Desktop > settings > workspace
2. Go to Manage member
3. Touch on Admin multiple times

## Expected Result:
It should show Notifi

[2022-05-02 06:34] kadiealexander commented on #8357
@sobitneupane please let me know once you've applied on Upwork!

[2022-05-02 06:39] mvtglobally opened #8851 "[HOLD for payment 2022-06-15] [$250] Nothing happens when the google meet option is pressed on android - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any chat
2. Press Start a call icon
3. Select Google Meet option

## Expected Result:
It should redirect to google meet

## Actual Result:

[2022-05-02 06:41] kadiealexander commented on #8595
Yay, thanks Shawn! Taking this off hold, please get those proposals in!

[2022-05-02 06:57] kadiealexander commented on #8718
Right, thanks for explaining @Puneet-here! I get what you mean now. @Expensify/design could you please weigh in here and let us know if this is intentional?

[2022-05-02 07:01] adeel0202 commented on #8847
**Proposal (If External)**
_(Early as I reported the issue)_

On `NewChatPage`, we can remove `maxParticipantsReached` from `line 221`
https://github.com/Expensify/App/blob/f174c3223a1d6d0f571e5bd799441690951f078c/src/pages/NewChatPage.js#L217-L222

And add the message text inside the `FixedFooter` component on `line 271` like this
[code]
We can also move the `iou.maxParticipantsReached` to `commo

[2022-05-02 07:21] owjhart commented on #7968
@Santhosh-Sellavel I am suggesting adding one new listener variant to [src/libs/KeyboardShortcut/index.js](https://github.com/Expensify/App/blob/f174c3223a1d6d0f571e5bd799441690951f078c/src/libs/KeyboardShortcut/index.js#L106).

In testing with my last proposal, I also noticed that if nothing was focused, the delete was not getting triggered straight away as expected. I will submit a new proposal

[2022-05-02 07:41] owjhart commented on #7968
# Proposal

## Root cause

The root cause of the problem is usage of `{capture: true}` when adding the `enter` key listener in `Button.js` via `src/libs/KeyboardShortcut/index.js`. According to https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener, `{capture: true}` will cause the listener to bypass the normal `EventTarget` propagation and will fire regardless of whether an

[2022-05-02 08:06] nkuoch commented on #8711
Will look today

[2022-05-02 08:16] jliexpensify commented on #8534
Not overdue Melv!

[2022-05-02 08:23] Beamanator commented on #8833
It also looks like there's another bug in my code (mentioned here: https://github.com/Expensify/Web-Expensify/pull/33616#issuecomment-1113585147) where we're posting on E/E issues where we should be posting on E/App issues 🤔  will fix that one here too!

[2022-05-02 08:25] Stutikuls commented on #8777
Checked all PRs and created accessibility issues for all PRs where accessibility issue were found.
The non-applicable PRs are - #8538, #8613, #8635, #8656, #8680, #8691, #8713, #8726, #8732, #8738, #8746, #8767, #8803
logged Issues - #8521, #8535, #8632, #8634, #8682, #8692, #8698, #8712, #8730, #8743, #8751

[2022-05-02 08:28] jayeshmangwani commented on #8291
PR raised @Santhosh-Sellavel
CC: @AndrewGable

[2022-05-02 09:39] Tushu17 commented on #8847
### Proposal

We have different message for maximum group participants. so instead of using `iou.maxParticipantsReached` we should use `messages.maxParticipantsReached`.

To solve the issue:-

We can remove message from the header by removing line 221
https://github.com/Expensify/App/blob/fc3e13ea735874b4223b3ce2a88cc03e83ec9ee7/src/pages/NewChatPage.js#L219-L222

then we just need to add

[code]

[2022-05-02 09:42] parasharrajat commented on #8131
I didn't see proper answers to the questions https://github.com/Expensify/App/issues/8131#issuecomment-1110074944

I meant to ask from the react-native? Your answer does not clearly indicate that. Is there anything to back up your answer? Maybe a small reproducible standalone snack.expo.io/.

Development efforts mean that is there any old PRs, and discussions on this bug on react-native.

Why is t

[2022-05-02 09:43] Beamanator commented on #8833
PR to fix the the comment being added when the `Help Wanted` label was applied is ^

[2022-05-02 09:54] trjExpensify commented on #8459
@parasharrajat any feedback on the above?

[2022-05-02 10:00] trjExpensify commented on #7862
Doubled on Upwork [here](https://www.upwork.com/jobs/~011ca7e66b62951030).

[2022-05-02 10:10] MonilBhavsar commented on #8035
Same ^

[2022-05-02 10:24] flodnv commented on #8641
Thanks for the continued effort @frenkield @aneequeahmad 🙇

@aneequeahmad can you link it here? 👁️

[2022-05-02 10:39] bfitzexpensify commented on #7625
6 days since deployed to staging, will keep an eye on this to pay out 7 days after it is deployed to production.

[2022-05-02 10:48] flodnv commented on #8848
@cead22 can you please define "slow"? It feels pretty fast to me.

[2022-05-02 10:57] dharmik commented on #8131
Small reproducible standalone:
https://snack.expo.dev/@dharmik/android_scrollindicator_notdisplay
Start writing text and move to down so for iOS and web you are able to see that scroll indicator at right side but for android it's not.

Q. Development efforts mean that is there any old PRs, and discussions on this bug on react-native:
==> I checked but there is not open PR or any discussion specifi

[2022-05-02 11:20] trjExpensify commented on #8822
@marcaaron @marcochavezf, just to confirm, do we want this one to go external or will it be taken care of internally as polish with the Offline first project?

[2022-05-02 11:50] parasharrajat commented on #8131
Ok. Thanks.

Now, I am thinking do we really need this?

- This is not available on react-native. It seems that Android does not have a scrollbar on multiline text input. (same as teams).
- There is no discussion about this on React-native.

---

Also, it would be good to have this added on react-native as a feature. Others will be happy about it.

---

@dharmik 's proposal is fine if we want to s

[2022-05-02 11:57] sketchydroide commented on #8710
Will work on it this week

[2022-05-02 12:00] eVoloshchak commented on #8545
Am I correct in understanding that the problem with creating a New Char can be reproduced only if you click on Chat Header immediately (in like a couple of seconds)? And if you wait a couple of seconds more, it works as expected?
I was able to reproduce this, please see if that's the problem you are encountering

https://user-images.githubusercontent.com/9059945/166229517-bc5dfa52-b106-4c1e-955b-4

[2022-05-02 12:09] Beamanator commented on #8467
On hold, will be picked up once Marc has time - removing `Exported` since it's an `Internal` job for now, and unassigning

[2022-05-02 12:23] Beamanator commented on #8835
going to test again! first with a label that's NOT `Internal` (this was causing the comment to appear before) then WITH `Internal`, which should result in a comment posting on this issue

[2022-05-02 12:24] Beamanator commented on #8835
No comment 👍

[2022-05-02 12:24] Beamanator commented on #8835
Yaya comment on this issue, not the same issue number in E/E 👍

[2022-05-02 12:24] #8835 closed

[2022-05-02 12:25] Beamanator commented on #8835
Tests passed 🥳 thanks @JmillsExpensify this was just for testing!

[2022-05-02 12:46] Beamanator commented on #8031
Left a big comment w/ multiple ideas & ping'd a few more people in Slack: https://expensify.slack.com/archives/C01GTK53T8Q/p1651495589126309?thread_ts=1647881926.785649&cid=C01GTK53T8Q

[2022-05-02 13:08] parasharrajat commented on #8440
I think the existing code for `validate` matches with other pages on the app so I would vote to keep that same.

[2022-05-02 13:15] trjExpensify commented on #8362
PR awaiting a deploy.

[2022-05-02 13:27] trjExpensify commented on #8851
I don't have an Android device to test this. I asked @peterdbarkerUK to confirm the reproduction steps on his Pixel 6 and it redirects to Google Meet. 😕

@adeel0202, did you try this with the Google Meet app installed to see if there's a different result?

[2022-05-02 13:35] parasharrajat commented on #8292
@anboia any thoughts on https://github.com/Expensify/App/issues/8292#issuecomment-1110242829?

[2022-05-02 13:41] metehanozyurt commented on #8545
I think i found missing piece. When we refresh or reLogin this line calls:
https://github.com/Expensify/App/blob/f174c3223a1d6d0f571e5bd799441690951f078c/src/libs/actions/Report.js#L1012-L1014
and fetchChatReportsByIDs.

But when first login fetchOrCreateChatReport calls instead of fetchChatReportsByIDs.
Then execute this line but will not navigate:
[code]
---------------------------------

When w

[2022-05-02 13:45] parasharrajat commented on #8663
Bump @b1tjoy

[2022-05-02 14:00] ctkochan22 commented on #7911
Punting

[2022-05-02 14:25] parasharrajat commented on #2727
Looking at the video @lbaldy I can say that it looks convincing. The next step would be to share a technical proposal here to explain the problem and lay out your fix. Your previous solution does not really talk about the solution but what is happening.

Also, the solution should be tested on the E/app without the workaround before being proposed here.

---
And, yes it is necessary to explain your

[2022-05-02 14:28] adeel0202 commented on #8851
Just installed the Google Meet app and still, nothing happens when I tap the Google Meet option.

https://user-images.githubusercontent.com/13783842/166251384-492d7c3d-d5c0-4eba-a43b-2e070fd3b9e6.mp4

[2022-05-02 14:48] iwiznia commented on #7941
To clarify, we decided to only focus on 1:1 calls from JS to PHP. It remains to be seen if having 1:1 calls from PHP to auth is necessary or even desired (I think in several cases, it is not desired, especially for when we are doing a write following by one or more reads, but even in other scenarios, since we don't much from unifying calls to auth from PHP).

[2022-05-02 14:50] luacmartins commented on #8731
@aneequeahmad

This space is reserved for messages like `User is typing` or `You appear to be offline`. We should keep it there, since removing it would cause the compose input to shift upwards when we display those messages and that's not what we want.

This is also expected, since it accounts for the temporary messages I described above + 1 line compose input + timezone message. We should not re

[2022-05-02 14:54] JmillsExpensify commented on #4114
Thanks! Coming back from out-of-office and I just commented on your post.

[2022-05-02 15:00] JmillsExpensify commented on #7524
@rushatgabhane Coming back from OOO and I'm not quite sure I'm following your last comment. What do you mean by three milestones? cc @luacmartins

[2022-05-02 15:01] JmillsExpensify commented on #7727
Yes, still on hold. We're getting really close to unblocking it though. I'd estimate another couple of weeks.

[2022-05-02 15:01] shawnborton commented on #8718
cc @joekaufmanexpensify @kevinksullivan as our VBA form gurus. I'm not sure what the intended behavior should be here.

[2022-05-02 15:05] stitesExpensify commented on #7420
I made a test PR that doesn't retract IOU reports that are processing, and that fixed the issue but IDK if that's really the best solution. Have been working on offline first so this is not a priority for me at the moment.

[2022-05-02 15:07] JmillsExpensify commented on #8133
Awaiting one more review in the linked PR.

[2022-05-02 15:08] JmillsExpensify commented on #8212
I'll keep this open though I'm going to put it on hold. If we have another week where this isn't reproducible, I'll close.

[2022-05-02 15:09] JmillsExpensify commented on #8287
@Luke9389 I know you're prioritizing offline at the moment, though please chime in when you have a free cycle. Thank you!

[2022-05-02 15:10] stitesExpensify commented on #8307
Still on hold, not overdue

[2022-05-02 15:10] sketchydroide commented on #8791
did you end up getting anywhere with this @francoisl?

[2022-05-02 15:13] JmillsExpensify commented on #8356
@Santhosh-Sellavel Thanks! Mind reviewing the latest proposal from @aneequeahmad? Thank you!

[2022-05-02 15:14] JmillsExpensify commented on #8501
Still working out linked issue above.

[2022-05-02 15:15] JmillsExpensify commented on #8520
Ok great. I'll hire @thesahindia once we get the final word from @tgolen. Thanks all!

[2022-05-02 15:16] JmillsExpensify commented on #8655
Doubling the price to $1000.

[2022-05-02 15:18] eVoloshchak commented on #8655
I was able to reproduce this problem when chat contains a message with two (or more) code blocks with the line break between them. For example, if you paste and send the following into the composer:
![Screenshot from 2022-05-02 13-51-47](https://user-images.githubusercontent.com/9059945/166226614-f4344471-9d7b-4db8-9545-f38f6b6d0876.png)

The problem occurs inside the [renderChildren](https://gith

[2022-05-02 15:27] stitesExpensify commented on #8131
Are you saying that android doesn't natively have a scrollbar for multiline text input? Or only in react native?

[2022-05-02 15:33] luacmartins commented on #7524
@JmillsExpensify as per [this comment](https://github.com/Expensify/App/issues/7524#issuecomment-1040725378), there should be 4x $250 milestones for this job, for a total of $1000. As of now, 3/4 milestones have been completed ($750).

@eVoloshchak when do you think you can complete the last 4 audits?

[2022-05-02 15:37] eVoloshchak commented on #7524
I already did that, both PR's are up, the [latest one ](https://github.com/Expensify/App/pull/8764) will soon be deployed to production

[2022-05-02 15:42] flodnv commented on #7941
I agree that on the API side, in general we should aim for:
1. 1 PHP call = 1 Auth call
2. If that's really challenging, 1 PHP call = 1 Write Auth call + N read calls
3. Under no circumstance should we aim for 1 PHP call = N Write Auth calls

[2022-05-02 15:43] frenkield commented on #7971
Hi All. I created a draft pull request. Can I submit it for final review or do I need to wait for approval?

[2022-05-02 15:44] luacmartins commented on #7524
Ah nice! Thanks for linking that last PR!

Ok, so 3 milestones are complete and should be paid. The last one is waiting on [this PR](https://github.com/Expensify/App/pull/8764) being deployed and the 7 day regression period.

[2022-05-02 15:46] TomatoToaster commented on #8644
Actually in testing this right now, it seems to be fixed! 🎉

Here's a screen recording testing this on production:

https://user-images.githubusercontent.com/19364431/166264013-5689dad5-800d-4378-ac4a-696cf4c1733e.mov

I think this may have been inadvertently fixed when other PRs relating to the archive reason were merged since this issue was opened.

I'll wait for @trjExpensify or QA to confirm b

[2022-05-02 15:46] kbecciv commented on #8574
@Beamanator This issue only happens in HT accounts and can happen with any PDF file. The user just needs to upload more than one PDF at a time, usually before this issue happens, when uploading the next pdf the entire add attachment box will quickly close.....and then when retrying after that it will lead to this issue.

https://user-images.githubusercontent.com/93399543/166263925-c81cfde7-86f1-46

[2022-05-02 15:46] parasharrajat commented on #8131
I have no firm answer to this. IMO, the scrollbar can be configured from native Android code but react-native does not have it.

but if it is not available on Android itself then it would be a different story.

[2022-05-02 15:52] parasharrajat commented on #8101
Ok, it seems that @aneequeahmad you found the solution for #7618 and that also applies to this. Thus I would review the proposal there.

[2022-05-02 16:01] Tabakharniuk commented on #6301
@mallenexpensify thank you for translations!

@parasharrajat I've just pushed updates.

[2022-05-02 16:10] Beamanator commented on #8469
@Puneet-here sorry for the delay, I tagged a few more people in the Slack thread, people who were involved in the initial convo so let's see what they say 👍

[2022-05-02 16:13] luacmartins commented on #7916
Ah I see! Yea, I think in that case we should NOT submit the form and just perform the action of the selected button (on both space and enter press).

[2022-05-02 16:17] parasharrajat commented on #7618
Update: I have reviewed most of the details above. More details shortly.

[2022-05-02 16:18] roryabraham commented on #8612
Looks like the next step here is just to create the Upwork job, but @arielgreen is only working T-TH right now. No worries, this is not very urgent at all imo.

[2022-05-02 16:30] frenkield commented on #8031
So sorry, I'm new to Expensify and I don't understand what the issue is here. Where in the attached video is something incorrect?

[2022-05-02 16:33] trjExpensify commented on #8644
Looks like we're good here!

![archivereason](https://user-images.githubusercontent.com/16232057/166274924-7967e463-42c8-4048-9d7a-4a7eb0b1acc5.gif)

[2022-05-02 16:41] parasharrajat commented on #8655
Good catch @eVoloshchak.  @eVoloshchak did you try upgrading the lib version to see if this issue still exists?

[2022-05-02 16:44] Beamanator commented on #8005
@Santhosh-Sellavel I also just tried reproducing Case 2 and didn't see the issue -> I created a room and didn't see the unread count increment at all. I have all betas enabled in my dev environment. I agree let's focus on just addressing Case 1 in this issue 👍

[2022-05-02 16:53] eVoloshchak commented on #8655
Yup, tried upgrading to the latest version (`6.3.1 -> 6.3.4`), issue is still present

[2022-05-02 16:59] parasharrajat commented on #8655
Ok, Thanks. I am fine with @eVoloshchak 's proposal. The next steps would be:
1. Create the issue on the `react-native-render-html` repo.
2. Create a PR with the fix on the `react-native-render-html` repo.
3. Upgrade the lib on this repo.

cc: @AndrewGable

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-05-02 17:10] Santhosh-Sellavel commented on #8356
making it `0` if not `web` I'm not okay with this proposal.

Can you elaborate more about why it occurs, and how the solution addresses this issue with more details? Thanks!

@aneequeahmad

[2022-05-02 17:11] marcochavezf commented on #8811
Hi @marcaaron! I'm going to assign this issue to you, I suppose there are still ongoing changes to the network code :)

[2022-05-02 17:11] stephanieelliott commented on #7081
Hi @mananjadhav, any update?

[2022-05-02 17:12] Beamanator commented on #8847
Confirmed this bug currently exists 👍 Marking `External`

[2022-05-02 17:13] kevinksullivan commented on #8454
Hmm @thesahindia I just withdrew the offer and resent it. Let me know if that works!

[2022-05-02 17:15] thesahindia commented on #8454
@kevinksullivan, it worked.
Thanks.

[2022-05-02 17:16] Santhosh-Sellavel commented on #7971
You need to submit your PR to get reviewed @frenkield!

[2022-05-02 17:21] chiragsalian commented on #8590
Cool, my PR hasn't been reviewed yet and a deploy was done for today so i imagine my PR should be deployed to staging earliest by tomorrow morning.

[2022-05-02 17:24] francoisl commented on #8791
Nope sorry, sounds impossible to track from a specific `<div>` what component caused it to be rendered.

[2022-05-02 17:24] marcaaron commented on #8822
Hmm I am actually not sure why Applause is creating these issues or who asked them to do. We haven't given any instructions on how they should work or how they should be used. In this case, it makes sense you are not logged out because the toggle to fail the network requests is preventing it from happening.

[2022-05-02 17:24] #8822 closed

[2022-05-02 17:25] marcaaron commented on #8822
Let's please wait until we give specific instructions for how to use these features before creating any issues.

[2022-05-02 17:31] #8454 closed

[2022-05-02 17:31] #8829 closed

[2022-05-02 17:36] b1tjoy commented on #8311
### Proposal
### Reason
When we tap the email address, the inner PressableWithSecondaryInteraction component fire an event, in the event handler we call ReportActionContextMenu.showContextMenu() with type 'EMAIL':
https://github.com/Expensify/App/blob/4c64bec3f38af925a01911155eab54feafc96cda/src/components/AnchorForCommentsOnly/BaseAnchorForCommentsOnly/index.js#L64-L76
And the outer PressableWith

[2022-05-02 17:38] mananjadhav commented on #7081
@stephanieelliott apologies for the delay, merging the latest main and pushing an update in an hour.

[2022-05-02 17:41] thienlnam commented on #7307
@mananjadhav

Here's the updated english and translation, please update your PR with these

SUCCESS
title: 'Downloaded!'
message: 'Attachment successfully downloaded!'

title: 'Descargado!'
message: 'Archivo descargado correctamente'

ERROR
title: 'Attachment error'
message: 'Attachment cannot be downloaded'

title: 'Error en la descarga'
message: 'No se pudo descargar el archivo'

PERMISSION ERRO

[2022-05-02 17:41] thienlnam commented on #7307
Also @ryanldonato just an FYI here https://expensify.slack.com/archives/C21FRDWCV/p1651486737797709?thread_ts=1651168380.960629&cid=C21FRDWCV

[2022-05-02 17:42] thienlnam commented on #8367
Still holding

[2022-05-02 17:45] kevinksullivan commented on #8718
Yeah I agree with the overall proposal, that once a user has completed the plaid or routing/account number step, they have technically started the process of adding a VBA and it would be logical to show the `Continue with setup` or  `Start over` option if they exit and return at that point.

@marcaaron I'd be curious for your thoughts on this though, because I vaguely remember we waited till after

[2022-05-02 18:01] dharmik commented on #8131
Android Native(Java or Kotlin): We have
**React Native** ScrollIndicator is not visible for android only. https://github.com/Expensify/App/issues/8131#issuecomment-1098108372

[2022-05-02 18:01] dharmik commented on #8131
@stitesExpensify

Android Native(Java or Kotlin): We have
**React Native** ScrollIndicator is not visible for android only. https://github.com/Expensify/App/issues/8131#issuecomment-1098108372

CC @parasharrajat

[2022-05-02 18:09] mananjadhav commented on #7307
@thienlnam PR updated.

[2022-05-02 18:19] b1tjoy commented on #8663
### Proposal
### Reason
The reason I posted 6 days ago was right, but the solution was wrong.

Remove this line will fix our current issue:
https://github.com/Expensify/App/blob/68f0bbf9c7fe8a95c7d65b0a9153229375863d1e/src/pages/home/report/ReportActionCompose.js#L323
But we still need to fix issue #7351, it took me a few days to figure out the root cause of this issue. The real problem of issue #

[2022-05-02 18:28] marcaaron commented on #8811
Yeah I'm just going to close this for now. If there's an issue with the testing tool we'll find out when we give specific guidance for how it should be used.

[2022-05-02 18:28] #8811 closed

[2022-05-02 18:37] joelbettner commented on #8849
I agree this would be a nice improvement.

[2022-05-02 18:45] johnmlee101 commented on #8841
Yeah this is a bit weird. The state that keeps track of the chat selector when collapsing the window to something minimized should prioritize showing the chat itself first instead of the selector if it both were visible before the resizing.

[2022-05-02 18:47] adeel0202 commented on #8847
**Update Proposal** (since in [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1649272255080289), the team decided to show the message below the search field)

In `IOUParticipantsSplit`, we can pass the `maxParticipantsReached` boolean to `OptionsListUtils`'s `getHeaderMessage` method, like this
[code]

Then in `getHeaderMessage` method, instead of using `messages.maxParticipantsReached`

[2022-05-02 18:50] thienlnam commented on #7424
![Screen Shot 2022-05-02 at 11 48 26 AM](https://user-images.githubusercontent.com/30609178/166306916-a28f94aa-94e0-4e23-a784-55af2b85366b.png)

Logs look the same as the last ones Marc posted.
Main Drawer Loader with no reportID

[2022-05-02 18:56] thienlnam commented on #8843
Looks like these are part of the TestToolRow component and just need localization added.  https://github.com/Expensify/App/pull/8713

These only live on the staging environment so I think it's fine if we don't have localization added here cc @marcaaron

[2022-05-02 19:16] parasharrajat commented on #8663
Won't this new solution break pasting HTML?

[2022-05-02 19:25] kakajann commented on #8850
# Proposal
Revoking the `showTooltipForLogin` state back to empty string, immediately after setting it to `login` will fix this issue.

Code:
[code]

# Result

https://user-images.githubusercontent.com/11542415/166311757-dc955cf3-5de0-4489-9c26-25c3c82e8f67.mov

[2022-05-02 19:38] tgolen commented on #8520
Ah cool. That looks good to me! 🟢

[2022-05-02 19:45] thesahindia commented on #8520
Cool, just applied on the upwork.
cc: @JmillsExpensify

[2022-05-02 20:13] tgolen commented on #8843
Yeah, I agree that since these are only for testing purposes, we don't need them translated. I'll close this.

[2022-05-02 20:13] #8843 closed

[2022-05-02 20:36] parasharrajat commented on #8459
Ok. @sobitneupane analysis is correct. It took me some time to figure out the `getDynamicSpacing` 's role. Maybe add a few comments in the PR. Apart from it, we can use the full px values instead of floats.

@sobitneupane's proposal looks good to me.

cc: @chiragsalian

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-05-02 20:41] #7731 closed

[2022-05-02 20:41] #7800 closed

[2022-05-02 20:56] NicMendonca commented on #8126
doubled price: https://www.upwork.com/jobs/~01c09e65fbbdd4bb12

[2022-05-02 21:15] Salehmrcp commented on #8126
I am working on solving it

[2022-05-02 21:22] Salehmrcp commented on #8126
Just for confirmation please
The issue for the refresh problem
Right?

[2022-05-02 21:47] tgolen commented on #8794
@thesahindia Care to put a quick proposal together for this?

[2022-05-02 21:49] mdneyazahmad commented on #7618
## Proposal

#### Root cause:

Drawer state stores the status of drawer in `history` prop on `state`.
[code]

When default status is same as current status, it does not contain a drawer status object in history and it will contain an object of type drawer when current status is different from default status.

We assume the browser history length is at 1 on the first load of app.

#### Current flow

[2022-05-02 22:00] #7464 closed

[2022-05-02 22:08] Luke9389 commented on #8445
Ok I think we should close this and re-approach it if necessary after the API is refactored.

[2022-05-02 22:08] #8445 closed

[2022-05-02 22:56] chiragsalian commented on #8459
i think the proposal by @sobitneupane looks good to me as well. Feel free to create the PR @sobitneupane.

[2022-05-02 23:04] Luke9389 commented on #8287
Hey everyone, thanks for waiting.
I was OOO last week.

Do you understand why this is the case? I think we should try to address the root cause if possible.

[2022-05-02 23:07] Luke9389 commented on #8287
Also I just tried to reproduce this locally on the master dev branch and this seems to be fixed 🤔

[2022-05-02 23:22] mvtglobally commented on #8777
@sketchydroide
Hope we can deploy soon. 2 Deploy Blockers still open
Based on this https://github.com/Expensify/App/pull/8682#issuecomment-1114952999 Checking off
https://github.com/Expensify/App/pull/8713 is failing https://github.com/Expensify/App/issues/8822. But since this is a new feature, I think we can check it off?

[2022-05-02 23:48] MitchExpensify commented on #8841
[Upwork Job](https://www.upwork.com/jobs/~01c55f4a382cba530e)

[2022-05-03 00:47] marcaaron commented on #8718
Yes, that is exactly why we ask the user again for this information. I'm not sure how much of a lift this will be, but it will require API changes.

I agree with @roryabraham on this. Overall seems like this is not a priority or maybe can be part of a design doc as some larger reworking of the VBA flow.

----

Separately, when did we start moving contributor Feature Requests straight to issues aga

[2022-05-03 00:53] marcaaron commented on #8722
Sorry, I think it's better to just keep this on HOLD until we are ready to implement the form component. We already have a solution for this so it doesn't make sense to patch it now.

[2022-05-03 00:54] marcaaron commented on #8722
@luacmartins can we add this to some kind of milestone to follow up with after the forms project is done?

[2022-05-03 00:55] marcaaron commented on #8722
This is not really an urgent issue so I think ultimately it's better to do the work once instead of twice.

[2022-05-03 01:42] amyevans commented on #8840
Confirmed the bug and that this could be worked on by an external contributor. Not a high priority fix to though IMO given its status as a relative edge case.

[2022-05-03 02:03] aneequeahmad commented on #8101
@parasharrajat oh yes that would be great. Looking forward to it. Thanks

[2022-05-03 02:18] bfitzexpensify commented on #8847
Upwork job [here](https://www.upwork.com/jobs/~01bf77086c3e197389)

[2022-05-03 02:30] AndrewGable commented on #8655
Sounds good to me!

[2022-05-03 03:30] b1tjoy commented on #8663
Sorry, I forget the basic knowledge, if we want to override the paste event handler, we must cancel the default action. The new 'solution' break pasting HTML indeed. Still need to find a solution for #7351.

[2022-05-03 03:34] thesahindia commented on #8794
Yeah sure.

### Proposal

We have a function for this already -
https://github.com/Expensify/App/blob/bd548576e288229e516223d2ac40929a7825b6a0/src/libs/ValidationUtils.js#L276-L277

We can just use it inside `validateAndSubmitForm `
https://github.com/Expensify/App/blob/bd548576e288229e516223d2ac40929a7825b6a0/src/pages/signin/PasswordForm.js#L93-L100

[code]
Just a quick question, we wanna show t

[2022-05-03 03:43] mvtglobally commented on #7779
Issue not reproducible during KI retests. (Third week) Closing

[2022-05-03 03:43] #7779 closed

[2022-05-03 03:43] mvtglobally commented on #7715
Issue not reproducible during KI retests. (First week)

[2022-05-03 03:44] mvtglobally commented on #7980
Issue not reproducible during KI retests. (First week)

[2022-05-03 03:45] mvtglobally commented on #8158
Issue not reproducible during KI retests. (First week)

[2022-05-03 03:46] mvtglobally commented on #8116
Issue not reproducible during KI retests. (Second week)

[2022-05-03 03:47] mvtglobally commented on #8212
Issue not reproducible during KI retests. (Second week)

[2022-05-03 03:49] mvtglobally commented on #8329
Issue not reproducible during KI retests. (First week)

[2022-05-03 03:53] mvtglobally commented on #8573
Issue not reproducible during KI retests. (First week)

[2022-05-03 03:54] mvtglobally commented on #8640
Issue not reproducible during KI retests. (First week)

[2022-05-03 03:55] mvtglobally commented on #8641
Issue not reproducible during KI retests. (Second week)

[2022-05-03 04:13] bfitzexpensify commented on #8666
Upwork post [here](https://www.upwork.com/jobs/~01231b599617962cff)

[2022-05-03 04:19] aneequeahmad commented on #8641
@flodnv no worries, thanks to everyone who is helping. Actually this [issue](https://github.com/Expensify/App/issues/7618) and [this](https://github.com/Expensify/App/issues/8101) is related to navigation issue as well.

[2022-05-03 04:28] mvtglobally commented on #6941
@dylanexpensify, @parasharrajat Catching up on the request here as Kavi is on vacation. Yes, screen scrolls up automatically on tapping on the input field. No action from user.
I will ask team to retest in the morning to get the most recent video

[2022-05-03 04:50] conorpendergrast commented on #8846
@adeel0202 do you have steps for 1 ("(Make sure you have denied the camera permission)")? I don't see that as an option in **Settings** > **New Dot**

[2022-05-03 05:05] Salehmrcp commented on #6941
I will work on this issue also

[2022-05-03 05:48] Domnic95 commented on #8666
Hello there
I understood the issue you described and recorded a video.

this will work exactly you are looking:

InputMethodManager imm = (InputMethodManager)
                                  getSystemService(Context.INPUT_METHOD_SERVICE);
if(imm != null){
        imm.toggleSoftInput(0, InputMethodManager.HIDE_IMPLICIT_ONLY);
    }

It will hide the keyboard before the user moves to the back scre

[2022-05-03 06:47] jliexpensify commented on #7424
@thienlnam - should we double the $?

[2022-05-03 07:09] eVoloshchak commented on #8655
Submitted proposal on Upwork

[2022-05-03 08:44] phivh commented on #8666
## Proposal
Add a condition inside the onPress back arrow button to check if the virtual keyboard is opening then hide it before landing back in previous screen at `HeaderWithCloseButton.js` (src/components/HeaderWithCloseButton.js)

By re-use `isOpen` common function that defined in `virtualKeyboard` (src/libs/virtualKeyboard/index.js).

Note: Perhaps it isn't necessary to check by Platform = And

[2022-05-03 09:01] dylanexpensify commented on #8246
@mollfpr of course!

New postings -
internal: https://www.upwork.com/ab/applicants/1521414442738176000/job-details
external: https://www.upwork.com/jobs/~01917d5e367a54c20a

[2022-05-03 09:01] dylanexpensify commented on #8246
Getting payments sent today!

[2022-05-03 09:12] Julesssss commented on #7573
Okay, let's get you both assigned, @parasharrajat as C+ to ensure the PR gets a proper review

[2022-05-03 09:23] Julesssss commented on #8645
PR merged, awaiting deploy

[2022-05-03 09:23] Julesssss commented on #8460
Awaiting deploy

[2022-05-03 09:25] Julesssss commented on #7375
Awaiting changes based on feedback, I bumped one of the unresolved threads

[2022-05-03 09:27] parasharrajat commented on #8663
Looking forward to it.

[2022-05-03 09:41] dharmik commented on #8460
@Julesssss Is there anything pending to test for this issue?

[2022-05-03 09:44] Julesssss commented on #8460
For now we're awaiting deployment to production

[2022-05-03 09:44] mollfpr commented on #8246
@dylanexpensify applied, thanks!

[2022-05-03 09:45] adeel0202 commented on #8846
@conorpendergrast, you can go to settings of your iPhone, select New Expensify app and disable the Camera permissions. Or, you can uninstall the app, install again, try to access the camera and when you will be asked to allow the camera permissions, just deny it.

[2022-05-03 09:48] dharmik commented on #8289
@deetergp Is there any something pending?
CC @jboniface

[2022-05-03 09:49] parasharrajat commented on #8134
Final PR may be on Hold for https://github.com/Expensify/App/pull/8814#discussion_r863267989

[2022-05-03 09:51] parasharrajat commented on #8126
Does this help https://github.com/Expensify/App/issues/8126#issuecomment-1104168082? Please go through the discussion on the issue to get more details.

[2022-05-03 09:53] dharmik commented on #8460
@Julesssss I am new so after this only we have to completed project from upwork?

[2022-05-03 10:14] sketchydroide commented on #8777
@marcaaron and maybe @trjExpensify any input if we can check #8713?

[2022-05-03 10:20] dylanexpensify commented on #8246
@parasharrajat please apply for reporting bonus 😄

[2022-05-03 10:20] sketchydroide commented on #8777
I will take a look at #8791 to see if we can unblock it

[2022-05-03 10:25] parasharrajat commented on #8246
Done.

[2022-05-03 10:26] dylanexpensify commented on #8246
Offers sent!

[2022-05-03 10:28] rushatgabhane commented on #8246
Danke!

[2022-05-03 10:37] dylanexpensify commented on #8246
Payments sent, contracts ended, post closed. Thanks everyone!

[2022-05-03 10:37] #8246 closed

[2022-05-03 10:49] trjExpensify commented on #8777
Yeah, Marc closed #8822 last night as it's a feature in dev as part of the offline project.

[2022-05-03 10:59] laurenreidexpensify commented on #7547
@thesahindia @parasharrajat @mananjadhav everyone has been paid now 👍🏽

[2022-05-03 11:02] laurenreidexpensify commented on #8661
Increasing to $500

[2022-05-03 11:38] kidroca commented on #7860
There were no such issues AFAIK
I think there's some stuff in App that needs reverting as well that were changed to incorporate the forked changes

I can't say (maybe it didn't matter in the past?)

Yes, scroll position of the list isn't actually changing, but the position of the items themselves changes and creates the jumping/scrolling effect
In App it would happen when you scroll up enough to r

[2022-05-03 11:40] b1tjoy commented on #8663
### Proposal
### Problem
Reasons for our current issue and issue #7351 are in my previous posts.
### Solution
Solution for our current issue is to remove this line:
https://github.com/Expensify/App/blob/bd548576e288229e516223d2ac40929a7825b6a0/src/pages/home/report/ReportActionCompose.js#L323
Solution for #7351:

Since pasting HTML breaks the default behavior of scrolling to the right position of

[2022-05-03 12:17] Santhosh-Sellavel commented on #8661
@laurenreidexpensify

[2022-05-03 12:23] trjExpensify commented on #8459
Perfect! @sobitneupane, can you apply for the job here please? https://www.upwork.com/jobs/~01ad54324b48c3dfa9

[2022-05-03 12:24] trjExpensify commented on #8851
Alright, going to pass this over to `engineering` triage!

[2022-05-03 12:42] srdjanrist commented on #7375
Won’t be able to continue working on the proposed changes. Someone can take over. Thank you

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jules Rosser ***@***.***>
Sent: Tuesday, May 3, 2022 11:25:16 AM
To: Expensify/App ***@***.***>
Cc: srdjanrist ***@***.***>; Mention ***@***.***>
Subject: Re: [Expensify/App] iPad - UI Inconsistency of the popover menus - rep

[2022-05-03 13:01] iwiznia commented on #7941
I agree with that. Having said that, not sure when/if we will re-write existing calls that do not follow that.

[2022-05-03 13:04] parasharrajat commented on #8592
I tried many different approaches to solve the problem. But none of them worked. Basically, the selection length is already 0 so there is no reset. I tried to solve 7798 with a different approach than what I have on the PR but this issue persists.

I suggest exporting this if someone can fix this. My ultimate goal was to keep the spellcheck behavior and only try to reset the blue highlight.

[2022-05-03 13:06] parasharrajat commented on #8663
Ok. But let's discuss your first proposal [here](https://github.com/Expensify/App/issues/8663#issuecomment-1110040130). It was working for me. Why did you think that is not a correct solution?

[2022-05-03 13:11] Julesssss commented on #8460
Oh, sorry. Yes, once the issue is deployed to production there will be an automated message here in the issue to let us know you should be paid.

[2022-05-03 13:14] michaelhaxhiu commented on #5994
still not overdue

[2022-05-03 13:29] parasharrajat commented on #8311
Hmm! I strongly recommend looking back at the previous discussion. I asked

@b1tjoy your proposal looks hacky to me.

[2022-05-03 13:31] stephanieelliott commented on #7596
All paid!

[2022-05-03 13:31] #7596 closed

[2022-05-03 13:47] Santhosh-Sellavel commented on #6154
Sorry for the delay. Looking into this now.

[2022-05-03 14:08] stephanieelliott commented on #7706
PR is under QA

[2022-05-03 14:13] Julesssss commented on #7375
Hi @srdjanrist, sorry to hear that. Is it because of the amount of time/effort taken? Because if so, the job prices can always be raised to match the effort.

[2022-05-03 14:21] luacmartins commented on #7424
@thienlnam I think I managed to reproduce this today on dev while testing an unrelated PR. Sorry if this is already known, I just quickly skimmed through this conversation. Steps:

1. Log into the app
2. Kill wifi connection
3. Reconnect to wifi
4. Logout
5. Log back in
6. Infinite loading spinner shows up and we hit the log line above on time out with no reportID.

https://user-images.githubuserc

[2022-05-03 14:22] laurenreidexpensify commented on #7915
Look like we're still making steady progress as per the PR

[2022-05-03 14:33] parasharrajat commented on #7424
Nice catch.

[2022-05-03 14:34] stephanieelliott commented on #8396
Thanks @parasharrajat! I agree, let's go ahead and close this in favor of the other issue.

[2022-05-03 14:34] #8396 closed

[2022-05-03 14:38] laurenreidexpensify commented on #8363
https://www.upwork.com/jobs/~012be94dd9db3dab78

[2022-05-03 14:40] laurenreidexpensify commented on #8363
@techievivek you're welcome to remove @thienlnam from the assignment and reassign to you if you want to be the Contributor Manager Engineer for this one :) Otherwise am letting the automation do its thing and share the chores out as per normal

[2022-05-03 15:00] tgolen commented on #8794
Looks good to me! @kevinksullivan Can you spin up something in Upwork for this and hire @thesahindia?

Yeah, I think `passwordForm.error.incorrectLoginOrPassword` is fine to use for now.

[2022-05-03 15:01] b1tjoy commented on #8663
@parasharrajat

I find out my first proposal works not fine in some situation, after apply my first proposal:

a) write 10 line text, and type some words in 4th-5th line, text insertion point remains at it's position, as we expected:

https://user-images.githubusercontent.com/103875612/166475090-06d1de5a-06f7-480c-87ae-f863d8bd4361.mov

b) paste a large paragraph from HTML page, **text insertion p

[2022-05-03 15:23] #8729 closed

[2022-05-03 15:23] laurenreidexpensify commented on #8840
https://www.upwork.com/jobs/~0182332e8142a2b1c5

[2022-05-03 15:26] Julesssss commented on #8846
I'm going to take this, I can reproduce it on iOS and I agree with the expected result.

[2022-05-03 16:42] neil-marcellini commented on #8719
@parasharrajat I'm new to CME, is there anything we can do here to get more eyes on this, or another response, or do we keep waiting?

[2022-05-03 16:56] pecanoro commented on #7980
@kevinksullivan This was merged and deployed to staging more than a week ago

[2022-05-03 17:03] mvtglobally commented on #8777
@sketchydroide pls tag me once https://github.com/Expensify/App/issues/8791 is ready to validate.
https://github.com/Expensify/App/issues/8329 is not repro. not sure if internal fix was already pushed.
Just waiting for these last 2 issues to get a new build

[2022-05-03 17:11] parasharrajat commented on #8719
Waiting...😅

[2022-05-03 17:21] Santhosh-Sellavel commented on #6154
@eVoloshchak
The proposal looks good as it is mostly based on the existing PR.

Read our [Philosophy point 5](https://github.com/Expensify/App#philosophy) we don’t encourage using `Platform.OS`. So please post an updated proposal.

cc: @chiragsalian

[2022-05-03 17:29] thienlnam commented on #8363
@Santhosh-Sellavel Good catch, closing in favor of other issue

[2022-05-03 17:29] #8363 closed

[2022-05-03 17:40] thienlnam commented on #7424
@jliexpensify Let's double this bounty

@luacmartins Awesome, that's super helpful - added it to the OP to help others reproduce

[2022-05-03 17:57] marcaaron commented on #7424
Just want to add that if we think this is related to the retry logic (looks like @luacmartins comments suggests it could be) then we should not accept any proposals to change it as we're in the midst of overhauling the entire system.

[2022-05-03 18:03] kevinksullivan commented on #6718
@marktoman paid. @parasharrajat just hired for reporting and c+ pay out. Once you accept I'll take care of payment.

[2022-05-03 18:08] NikkiWines commented on #8440
Ok cool, it's definitely a larger change/refactor of how we validate the passwords, so I'm fine with @dharmik's proposal then👍 @dylanexpensify could you hire them for this job, please?

[2022-05-03 18:18] murataka commented on #7618
Here is the video to explain the details, the root cause and the changes I made. Also adding the latest version of uselinking.js I used .

https://www.youtube.com/watch?v=_rOpb76BnHo

[code]

[2022-05-03 18:44] parasharrajat commented on #6718
Accepted @kevinksullivan

[2022-05-03 18:50] dharmik commented on #8131
To be true, the [proposal](https://github.com/Expensify/App/issues/8131#issuecomment-1108710694) which I share it's a workaround(Which I feel Simple and without any regression) because In React Native, InputText scroll-indicator is not display for specific only in android.

But yes, shared [proposal](https://github.com/Expensify/App/issues/8131#issuecomment-1108710694) not break anything with othe

[2022-05-03 18:56] parasharrajat commented on #8131
IMO, solving it on RN would be good.

[2022-05-03 19:00] izhan commented on #7860
Btw question 1 & 2 I figured out with https://github.com/Expensify/App/issues/7860#issuecomment-1113938800 :)

Thanks for the example, that was super helpful for understanding. I don't see any weird jumps in staging.new.expedia.com right now, nor do I see it after the fixes in my proposal. The root cause I found, which I explain in https://github.com/Expensify/App/issues/7860#issuecomment-11139388

[2022-05-03 19:10] Santhosh-Sellavel commented on #7968
Didn’t get enough time to look into this, will get to this in a couple of days!

[2022-05-03 19:12] kidroca commented on #7424
Following the shared steps https://github.com/Expensify/App/issues/7424#issuecomment-1116158444

For some reason `[NetworkConnection]` event is falsely triggered after login even though we're online

[code]

This prevent further network calls and we never fully fetch report data
There's no other `[NetworkConnection]` event to tell us we're online

---

This seems to be a simulator only thing as it

[2022-05-03 19:12] marcaaron opened #8864 "[Network Improvements] Cleanup Authentication error handling"
## Problem

At the moment, the logic in `Authentication.Authenticate()`  for handling errors is shared with `reauthentication()`.
This makes following the trail of errors difficult and forces callers of Authenticate to use a `.catch()` when most other commands are just using `.then()` to handle errors.

Additionally, once we stop queueing all read requests we will need to resolve requests with a s

[2022-05-03 19:29] roryabraham commented on #8715
I'm not sure – it does seem weird that the button gets wider when you tap on it, but my instinct is that this is fine / not worth fixing. Going to tag in design to either:

1. Define the expected behavior, OR
1. Close this issue if the current behavior is fine.

[2022-05-03 19:29] stitesExpensify commented on #8131
Gotcha, thanks for the context everyone. I agree with @parasharrajat that fixing in RN is the best solution here rather than a workaround.

[2022-05-03 19:31] jboniface commented on #8849
[post here](https://www.upwork.com/jobs/~01bfdda0e13c3bd3ea)

[2022-05-03 19:35] kidroca commented on #7424
From logs it looks like the most likely cause of the infinite spinner is not having reports loaded:

https://github.com/Expensify/App/blob/db7c93f07aa5f2055267bc849a136acf74049262/src/libs/Navigation/AppNavigator/MainDrawerNavigator.js#L51-L53

Is there a way to cross reference the logs for some `chatList` requests that fail or result in a non `200` code here:
https://github.com/Expensify/App/blob

[2022-05-03 19:36] JmillsExpensify commented on #4114
Based on the discussion in the linked Slack thread in #expensify-open-source, I'm going to close this issue so we can prioritize alternative roadmap priorities. Thank you everyone!

[2022-05-03 19:46] kidroca commented on #7424
Since after login we're starting with a clean Onyx state, this network call is essential to init and we need to do something to handle it better, because without it there are no reports and no sidebar
- we need to handle the non `200` case
- we need to handle the spotty or no connection case during login (e.g. we didn't fetch any reports even after 10 retries)
- something else?

Maybe we could use

[2022-05-03 19:48] michelle-thompson commented on #8715
I would prefer that the button stays the same size, so let's move forward with setting a minimum width here.

[2022-05-03 19:51] kidroca commented on #7860
When you say `react-native` do you mean `react-native-web` or the `react-native` package?

---

Thanks for figuring that out, I can take a look at the changes when a PR is ready

[2022-05-03 20:03] izhan commented on #7860
Ah sorry I used them interchangeably but specifically I mean this `react-native` file https://github.com/facebook/react-native/blob/main/Libraries/Lists/VirtualizedList.js, which also appears in `react-native-web` via vendor directory: https://github.com/Expensify/react-native-web/blob/master/packages/react-native-web/src/vendor/react-native/VirtualizedList/index.js

@marcaaron lmk if you have any

[2022-05-03 20:14] michaelhaxhiu commented on #8715
This issue sorta reminds me of https://github.com/Expensify/App/issues/8590 but it's not _as bad_ visually. I agree with @michelle-thompson on proceeding - let's get the consistent behavior nailed down!

[2022-05-03 20:16] michaelhaxhiu commented on #8715
Updating the GH title and body a little, to make it clear that we are updating the expected behavior!

[2022-05-03 20:18] tgolen commented on #8851
hm, works for me (ish) in the simulator. It should open up a browser and go to https://meet.google.com/new. I think it's not fully working in the simulator because I don't have the google meet app installed.

[2022-05-03 20:33] marcaaron commented on #7860
I haven't quite caught up here. But feel free to propose anything you like and someone will review it eventually.

[2022-05-03 20:34] tgolen commented on #8850
@kakajann Can you please explain how the tooltip causes a problem with the growl?

[2022-05-03 20:44] JmillsExpensify commented on #8842
Interesting. I wasn't able to reproduce this one, specifically this result

[2022-05-03 20:51] #7823 closed

[2022-05-03 20:55] JmillsExpensify opened #8867 "[HOLD for payment 2022-05-23][$250] Make emojis larger when multiple are sent at the same time."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Send a message of only emojis (at least two).

## Expected Result:
All emojis should appear very large (27pt) in the report history.

## Actual Resu

[2022-05-03 20:56] JmillsExpensify commented on #8867
I'll just take this one, un-assigning Jeremy.

[2022-05-03 20:56] JmillsExpensify commented on #8867
This issue is being broken off from https://github.com/Expensify/App/issues/4114. See there for more context.

[2022-05-03 20:57] adelekennedy commented on #7912
it's okay Melvin - we're waiting on the new PR

[2022-05-03 21:02] NicMendonca commented on #8379
paid!

[2022-05-03 21:02] #8379 closed

[2022-05-03 21:15] luacmartins commented on #8722
Sounds good! I'll add this to the list of forms that need to be refactored! Thanks!

[2022-05-03 21:42] eVoloshchak commented on #8867
Duplicating my original [proposal](https://github.com/Expensify/App/issues/4114#issuecomment-1102753010):
1. Add the following function to [EmojiUtils](https://github.com/Expensify/App/blob/main/src/libs/EmojiUtils.js):
[code]
2. In `ReportActionItemFragment.js` replace [this](https://github.com/Expensify/App/blob/8f654504b989bf78f141b72504e48e5993a1ab7f/src/pages/home/report/ReportActionItemFragm

[2022-05-03 21:52] JmillsExpensify commented on #8842
Ahhh, clarification: I tested on the desktop/electron app and this is a web issue. Regardless,the behavior should be the same no matter the platform where drag and drop is supported so:

 - Even if Global create is open and active
 - Users can still drag/drop into the standard attachment preview in the chat window
 - Further, when that drap/drop happens, we should close Global Create so that the f

[2022-05-03 21:56] trjExpensify commented on #7470
Doubled the price on Upwork [here](https://www.upwork.com/jobs/~0132057b0680124108)

[2022-05-03 21:56] kadiealexander commented on #7424
Doubled the job listed [here](https://github.com/Expensify/App/issues/7424#issuecomment-1100968335), get those proposals in!

[2022-05-03 22:03] marcaaron commented on #7424
NetInfo has a known bug on iOS simulator so I'm not sure if I trust that what @luacmartins found is related at all.

Yes we can do this. When I looked last time nothing jumped out at me and the requests were returning 200

[2022-05-03 22:16] ctkochan22 commented on #8607
Will get to this week

[2022-05-03 22:56] #5296 closed