[2021-06-21 11:28] isagoico commented on #2662
<div class="js-discussion js-socket-channel ml-0 pl-0 ml-md-6 pl-md-3" data-channel="eyJjIjoibWFya2VkLWFzLXJlYWQ6NDQ0Nzk4NTYiLCJ0IjoxNjI0Mjc0MTExfQ==--f6584c45ed31340888ea25d75b38e0d8780de33852343c359c98d93fabf5a3e0" data-channel-target="MDU6SXNzdWU4NzM0NjgwNDM=" style="box-sizing: border-box; margin-left: 40px !important; padding-left: 16px !important; color: rgb(201, 209, 217); font-family: -app

[2021-06-21 11:29] isagoico commented on #3323
Issue reproducible today during KI retests.

[2021-06-21 11:30] isagoico commented on #3546
Issue not reproducible today during KI retests (First week)

[2021-06-21 11:35] isagoico commented on #2279
Issue reproducible today during KI retests.

[2021-06-21 11:36] isagoico commented on #2447
@tugbadogan We were still able to reproduce this issue during KI retests.
Version: 1.0.72-0 (latest in staging)
In these 2 devices:
- Apple iPad 6 - 9.7 (2018) - iOS 13.6
- Apple iPad Pro 9.7-inch - iPadOS 14.6

[2021-06-21 11:37] isagoico commented on #3248
Issue not reproducible during KI retests (First week)

[2021-06-21 11:38] isagoico commented on #3355
Issue reproducible today during KI retests

[2021-06-21 11:38] isagoico commented on #3296
Issue reproducible today during KI retests

[2021-06-21 11:39] isagoico commented on #3637
Issue not reproducible today during KI retests (First week)

[2021-06-21 11:45] trjExpensify commented on #3609
👋 @jasperhuangg any update on this? https://github.com/Expensify/Expensify.cash/issues/3609#issuecomment-862605677

[2021-06-21 13:57] parasharrajat commented on #3354
Hi, @Beamanator I forgot to tag this issue PR in my Button Styling PR https://github.com/Expensify/Expensify.cash/pull/3193. It was fixed there. So this issue can be closed. But on M-web Safari, the button is not fixed at the bottom due to the reason that Safari keeps the focused input in the middle of the screen and doesn't respect Flex in the case. I am looking to find a better way for that. It

[2021-06-21 14:28] Dal-Papa commented on #3524
Sounds like we're gonna need to have some Pusher events fired off when deletion/edition happens so I'm going to create an internal GH first and keep that one open for when that's done and we can start listening to said event.

[2021-06-21 14:32] dklymenk commented on #3524
There is already a pusher event and it works for edition flawlessly. The issue is only with deletion and the fact that BE returns `-1` instead of the actual `sequenceNumber`. Please my first comment https://github.com/Expensify/Expensify.cash/issues/3524#issuecomment-859022361

[2021-06-21 14:32] parasharrajat commented on #2258
### Proposal
1. If we simply want to change the Title of Attachment Modal then we need to change the title here https://github.com/Expensify/Expensify.cash/blob/91a2f1ae9bf72077b41867d64a611eecdaed1b3f/src/components/AttachmentModal.js#L121
To localized send string.
2.  Change the button text as well https://github.com/Expensify/Expensify.cash/blob/91a2f1ae9bf72077b41867d64a611eecdaed1b3f/src/comp

[2021-06-21 14:34] dklymenk commented on #3524
@Dal-Papa the way I see it, if BE starts returning proper `sequenceNumber` values, the issue on FE side will be automatically fixed.

[2021-06-21 15:10] roryabraham commented on #3662
Yes, GitHub prevents greater than 100 items per fetch – you could use potentially use recursion to fetch all the results you need, but I would probably use a while loop.

[2021-06-21 15:10] kidroca commented on #2985
@jboniface @roryabraham
I've Submitted a PR with the POC implemented using https://github.com/GetStream/react-native-bidirectional-infinite-scroll and the PR that supports web

Short summary
- it renders on `web` but has a lot of issues
- it has a bug on `react-native` where sometimes while you hit the top of the list and it should load past content - it does but you are moved to the bottom of the

[2021-06-21 15:25] isagoico commented on #3593
Starting QA

[2021-06-21 15:26] aliabbasmalik8 commented on #3691
**PROPOSAL**

I can fix this by removing selection props in text input in android and handle things using direct manipulation in android if there is some need.

Thanks

[2021-06-21 15:29] thienlnam commented on #3381
@FredericoGauz

Can you clarify what you mean by this? What are "areas of conflict" between the messages?

We allow different code for platform specific changes, but try to dry it up so only the part that needs to be platform specific is separated out and the changes are in different platform specific file extensions.  Feel free to read more information on it [here](https://github.com/Expensify/Ex

[2021-06-21 15:31] thienlnam commented on #3381
@Viacheslav80

`Hi! it seems that the problem is in prop inverted of FlatList.
This prop used transform: scaleX: -1`

I'm pretty sure that this is to display the chat messages in inverse order - can you verify that this doesn't change the functionality of the chat messages and doesn't break anything else?

[2021-06-21 16:00] roryabraham commented on #2258
Nice, proposal looks good to me @parasharrajat 👍

[2021-06-21 16:00] parasharrajat commented on #2258
Lol, I was just going to ping. Thanks for confirming PR is ready.

[2021-06-21 16:02] roryabraham commented on #3593
@isagoico This deploy checklist is too unruly ... let's leave the `LockCashDeploys` label on this issue until all the deploy blockers are resolved via CP's.

[2021-06-21 16:05] Viacheslav80 commented on #3381
@thienlnam I agree with you. this prop is the easiest way to do infinite scrolling with the addition of an element at the bottom

[2021-06-21 16:06] isagoico commented on #3593
Sure will do, let us know if any of the CPs needs to be tested and we'll take care of them.

[2021-06-21 16:50] mallenexpensify commented on #2934
@Beamanator @pranshuchittora , can I get an update on this? Want to post in the parent issue where we're at.  Thanks

[2021-06-21 16:50] mallenexpensify commented on #2936
@Beamanator @pranshuchittora , can I get an update on this? Want to post in the parent issue where we're at.  Thanks

[2021-06-21 16:52] luacmartins commented on #3692
@isagoico Were you logged in to Venmo when you reproduced this issue?

[2021-06-21 17:00] michaelhaxhiu commented on #3569
@parasharrajat yep it's still available for external. I'll let @Jag96 review your proposal here as the best next step

[2021-06-21 17:03] michaelhaxhiu commented on #2545
Any takers on this issue so far?

[2021-06-21 17:12] kidroca commented on #2545
IMO this should wait the result of #2985
I don't see an easy fix and this might result in double or unnecessary work if the chat scrolling implementation is to be rehauled
Proper Bidirectional scrolling implementation should fix the current issue

[2021-06-21 18:02] mallenexpensify commented on #2846
@puneetlath bumped back to daily, can you review the above proposals? Thx

[2021-06-21 18:09] mallenexpensify commented on #3195
Posted. https://www.upwork.com/jobs/~017ce3cd40c288a83f
@roryabraham can you review @dklymenk 's proposal above?

[2021-06-21 18:09] roryabraham commented on #3047
Moving forward with the original plan, I'm taking this off hold.

[2021-06-21 18:10] roryabraham commented on #3047
For reference, [this PR](https://github.com/Expensify/expensify-common/pull/381) was merged as a POC, and it's being integrated into E.cash [here](https://github.com/Expensify/Expensify.cash/pull/3229).

[2021-06-21 18:52] michelle-thompson commented on #3566
Sorry, do I still need to provide an asset here? Or doing as Shawn suggested above:

[2021-06-21 18:55] parasharrajat commented on #3566
So I used this image which looks like
![image](https://user-images.githubusercontent.com/24370807/122812982-069f0180-d2f0-11eb-83c7-bdfa7587199f.png)
But we need
![image](https://user-images.githubusercontent.com/24370807/122813027-14548700-d2f0-11eb-991a-e1819befb342.png)

 @michelle-thompson I think we need to just rotate the Inline Svg cards and yeah we will need that new transformed image.

[2021-06-21 18:57] parasharrajat commented on #3566
@michelle-thompson Question. Do we need to show yellowish color on BG in case of manage card button is shown.
![image](https://user-images.githubusercontent.com/24370807/122813466-9c3a9100-d2f0-11eb-87f1-26bab5ae31ce.png)

[2021-06-21 19:01] kavimuru opened #3710 "Web - IOU - No decimal place appears for some currencies in preview modal"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with any account
3. Click the FAB button again and select `Request Money`
4. Tap/click on the currency
5. Use the search

[2021-06-21 19:13] michelle-thompson commented on #3566
Does this work?
[cascading-cards.svg.zip](https://github.com/Expensify/Expensify.cash/files/6688939/cascading-cards.svg.zip)

And for the ivory colored background, let's just keep that to blue like the other banner.

[2021-06-21 19:22] parasharrajat commented on #3566
Yeah, it is fine but If you could right Align the main cards. Currently, they are center area. So just removing empty space from the right would be fine. But it's not needed I can adjust using positioning.
After applying CSS.

[code]
![image](https://user-images.githubusercontent.com/24370807/122816260-1d475780-d2f4-11eb-86e9-9b14208e5420.png)

[2021-06-21 19:36] shawnborton commented on #3566
Maybe we can keep all of the conversation over on the PR? https://github.com/Expensify/Expensify.cash/pull/3602

[2021-06-21 19:36] davidcardoza commented on #3694
The proposal makes sense, assigning out to engineering.

[2021-06-21 19:51] roryabraham commented on #3195
@dklymenk Looks good to me 👍

Feel free to submit a PR as soon as you've been hired on Upwork

[2021-06-21 19:52] luacmartins commented on #3692
Waiting on answer from @isagoico while trying to change default IOU currency to USD on test accounts so `addVenmoPaymentOptionIfAvailable()` runs.

[2021-06-21 20:02] mountiny commented on #3671
No update today!

[2021-06-21 20:11] isagoico commented on #3692
Mmmm I think the option should show if the user has the app installed which was the case on the issue. She tried the same (with the same account) in iOS and the option to pay via Venmo appeared.  I'll confirm with the tester if the she was logged in or not.

[2021-06-21 20:28] mallenexpensify opened #3712 "New Feature: Make lonely emojis bigger in E.cash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Emoji with no text are sent

## Expected Result:
Emoji to be larger than they normally are

## Actual Result:
Emoji are small

## Platform:
All (I a

[2021-06-21 20:32] mallenexpensify commented on #3712
Posted https://www.upwork.com/jobs/~01c7f72d3d3dd13a97

[2021-06-21 20:34] isagoico commented on #3601
Reopening the issue following @puneetlath [feedback](https://expensify.slack.com/archives/C01GTK53T8Q/p1624299200472800). Looks like the Chat Switcher is faster but it's still a bit sluggish.

___

[2021-06-21 20:45] rdjuric commented on #3712
### Proposal
1. We create `isSingleEmoji`, a **really** long regex test to see if a string is composed of a single emoji.
2. In our `ReportAction` of type `TEXT`, we change the fontSize when the string passes our `isSingleEmoji` test.

If we don't want the trouble of maintaining a regex for emojis (new ones are added all the time), we can use an external library to do that for us, like[ grapheme-b

[2021-06-21 20:46] luacmartins commented on #3692
Managed to reproduce the issue. Currently investigating the diffrence in iOS and Android responses.

[2021-06-21 20:49] mallenexpensify commented on #3195
Hired @dklymenk in Upwork

[2021-06-21 20:55] tugbadogan commented on #2447
I tried a couple of times, but could not reproduce this issue on a simulator. Are you using a physical device or a simulator? Do you follow the same reproduction steps? Can you record a video by any chance, so I can apply the exact same steps?

[2021-06-21 20:56] joelbettner commented on #3691
@dklymenk I like your first solution. Feel free to assign yourself to this issue and start working on it.

Thanks!

[2021-06-21 20:56] marcaaron commented on #3601
Gonna unassign myself as I can't look into further improvements atm. The chat switcher speed should be related to how many chats you have in general.

[2021-06-21 20:57] Luke9389 commented on #3546
Ok, this can be closed then right?

[2021-06-21 21:25] isagoico commented on #3546
I think so! It was fixed last week in a PR.

[2021-06-21 21:27] rdjuric commented on #3546
I wasn't hired on Upwork yet, but I think this can be closed 😃

[2021-06-21 21:36] Santhosh-Sellavel commented on #3572
Hey @jasperhuangg ,

Post your comments

[2021-06-21 21:53] isagoico commented on #3593
**Regression** is finished
1 issue found today:
1. https://github.com/Expensify/Expensify.cash/issues/3710

**PRs** are finished too:
1 comment added:
1. https://github.com/Expensify/Expensify.cash/pull/3392#issuecomment-865217663

Thanks!

[2021-06-21 22:14] mallenexpensify commented on #3601
To confirm, it's a lil laggy for me too, it almost always misses the first letter I type

[2021-06-21 22:59] #3692 closed

[2021-06-21 23:04] tylerkaraszewski commented on #3672
If we can't reproduce this we should close it, or ask David to reproduce it if it's still an issue. "It doesn't happen for me" isn't a good starting place for working on an issue.

[2021-06-22 00:58] #3546 closed

[2021-06-22 01:01] Luke9389 commented on #3694
I think you may have unassigned me on accident @davidcardoza.

[2021-06-22 01:43] kevinksullivan commented on #2121
Got it. I think we'll close this one out for now then. Feel free to reopen if I am missing anything!

[2021-06-22 01:43] #2121 closed

[2021-06-22 01:57] kevinksullivan commented on #3017
Paid un upwork!

[2021-06-22 02:20] Jag96 commented on #3339
Paid (including bonus)!

[2021-06-22 02:20] #3339 closed

[2021-06-22 02:22] Jag96 commented on #2920
Reopening, regression found here: https://github.com/Expensify/Expensify.cash/pull/3392#issuecomment-865260660

[2021-06-22 02:27] Jag96 commented on #3569
@parasharrajat that solution sounds good to me! I've invited you to the Upwork job, once you accept feel free to create a PR.

[2021-06-22 02:32] Jag96 commented on #3455
@rushatgabhane perfect! Since you opened this, would you like to fix the issue and make the upgrade PR + tests?

In general, we'd be looking for this issue to be fixed and to not introduce any other regressions. It also looks like there was a CSS hack that was referenced in https://github.com/Expensify/Expensify.cash/pull/3613#issuecomment-862557388, so if we can test to see if that can be removed

[2021-06-22 04:29] Christinadobrzyn commented on #3605
going to move this to weekly while we review.

[2021-06-22 04:38] Jag96 commented on #3691
I'm able to reproduce this on 1.0.71-0 but I'm unable to reproduce this on 1.0.73-0, @kavimuru can you confirm that the issue is still occurring on the latest version? Let's hold off on exporting this until we can confirm it's still happening

[2021-06-22 04:40] Jag96 commented on #3599
I posted on https://github.com/Expensify/Expensify.cash/issues/3691 that I was unable to reproduce an issue w/ the same error message on 1.0.73-0, since I'm unable to reproduce this on my emulator @isagoico can we get a retest of this issue for the tester on the Samsung Galaxy S21/11 on the latest E.cash version? Just to confirm it hasn't been fixed by that version

[2021-06-22 06:52] parasharrajat commented on #3569
PR is up here https://github.com/Expensify/Expensify.cash/pull/3717

[2021-06-22 06:55] parasharrajat commented on #3605
@Christinadobrzyn maybe it can get assigned to someone else for review.

[2021-06-22 08:17] jasperhuangg commented on #3576
Still waiting to get help on a babel/webpack related issue. This is a lower-priority bug fix, so there's other, more pressing newsletter items that people are working on at the moment. I'll circle back to this once I hear back from someone.

[2021-06-22 10:07] isagoico commented on #3691
Issue is **not** reproducible in build 1.0.73.

[2021-06-22 10:10] parasharrajat commented on #3691
It seems to be fixed by the PR https://github.com/Expensify/Expensify.cash/pull/3392

[2021-06-22 10:45] dklymenk commented on #3195
Great. I will need a few more things from you:
1. What about the offline message? Do I use the one that is already in the app (used one the 1st step login form, where you enter the email)? Do I use 2 separate ones as suggested by the OP? Or do I use new message, but on both 1st and 2nd step forms?
2. I will need Spanish translations for the following strings:
    *  "Incorrect login or password. P

[2021-06-22 12:10] rushatgabhane commented on #3455
Yeah, I'd like to upgrade + test for this issue and css hack.

[2021-06-22 13:21] NicMendonca commented on #3601
Posted to Upwork: https://www.upwork.com/jobs/~015673ac7d22fbbd42

[2021-06-22 15:55] davidcardoza commented on #3694
My bad!

[2021-06-22 16:21] roryabraham commented on #3692
@isagoico Can we retest this and check it off if resolved?

[2021-06-22 16:42] #3637 closed

[2021-06-22 16:50] parasharrajat commented on #3637
Did anybody notice we already have SafarArea applied inside BaseModal? https://github.com/Expensify/Expensify.cash/blob/d1b79b0cc6de88722199fffc2340b60fbf4b7441/src/components/Modal/BaseModal.js#L128

[2021-06-22 16:59] tgolen commented on #3604
@parasharrajat this issue is blocking deploys and should be the absolute top priority. What is the status of this? How can I help?

[2021-06-22 17:00] parasharrajat commented on #3604
Ok. I'll take it first. I think I know what I need to do here.

[2021-06-22 17:03] joelbettner commented on #3691
That's great news! I'm going to close out this issue.

[2021-06-22 17:03] #3691 closed

[2021-06-22 17:35] rdjuric commented on #3637
@parasharrajat Yea! I spent way too much time trying to figure out what was happening, but since we don't know the root cause of this RN bug is hard to understand why our `SafeAreaInsetsContext` isn't enough.

Maybe something to do with `SafeAreaInsetsContext` not updating the insets synchronously?
Things get more confusing because our Modal content goes through the custom gesture handler from rea

[2021-06-22 17:37] roryabraham commented on #3604
@parasharrajat and I talked about this a bit 1:1 ... PR is up

[2021-06-22 18:18] #3672 closed

[2021-06-22 18:46] mountiny commented on #3671
@marcaaron Can this be replicated on dev version? I am using the Desktop app on my Mac and it has never signed off.

Sorry if it is clear and I am missing something here but do you have any hints, how to reproduce it locally? Thank you very much! :)

[2021-06-22 18:57] pranshuchittora opened #3721 "Not able to run ios app locally"
## Action Performed:
Tried to run ios app locally (on `main` -> 318ffa0b6ae94b44f3337e6a8940acd9dc8ed013)

## Expected Result:
It should run successfully

## Actual Result:
<img width="719" alt="Screenshot 2021-06-23 at 12 25 22 AM" src="https://user-images.githubusercontent.com/32242596/122983582-c7d57e00-d3b9-11eb-8d58-c213c2e1dd4c.png">

<img width="500" src="https://user-images.githubuserconte

[2021-06-22 19:01] parasharrajat commented on #3721
Lol Did you do `npm install`? then `pod install` in the Ios folder.

[2021-06-22 19:04] pranshuchittora commented on #3721
🤦🏼 Of course

[2021-06-22 19:07] marcaaron commented on #3671
Nope. I can't reproduce it and it has only happened once.

[2021-06-22 19:08] parasharrajat commented on #3721
then clear cache on metro server ans uninstall the app. then try

[2021-06-22 19:11] #3543 closed

[2021-06-22 19:13] #3604 closed

[2021-06-22 19:17] rdjuric commented on #3671
@mountiny This looks related to https://github.com/electron/electron/issues/7476

Shouldn't happen on prod if our packager is signing the app, but if we don't want this to happen in dev we should sign `node_modules/.../Electron.app` in our scripts

[2021-06-22 19:19] marcaaron commented on #3671
To clarify, this was experienced in the release build of the app and not while on dev.

[2021-06-22 19:20] stephanieelliott commented on #2670
Add'l changes requested yesterday, waiting for them to be addressed.

[2021-06-22 19:27] stephanieelliott commented on #2938
Add'l changes requested, waiting on them to be addresses and then re-review.

[2021-06-22 19:34] isagoico commented on #3692
Seems like the PR is still not in staging. We're still able to reproduce the issue in build 1.0.73-0

[2021-06-22 19:39] marcaaron commented on #2705
@JmillsExpensify @parasharrajat is the only one who proposed a solution on this one so I think we can move forward.

[2021-06-22 19:39] pranshuchittora commented on #2938
I have updated the PR waiting for review

[2021-06-22 19:41] parasharrajat commented on #2920
@Jag96 I tried few approaches but all seem to fail. Safari blocks the keyboard on Async call of focus. More info here https://github.com/Expensify/Expensify.cash/pull/3719#issuecomment-866227033.
So I think we won't be able to do it at the moment. Let me know what do you think here.

[2021-06-22 19:41] tgolen commented on #3477
For me, those emails are pulled from chrome://settings/addresses and it works properly. This is a chrome issue and probably has something to do with your Chrome settings. Since it's not a problem with the app, I'm going to close this.

If you would like to reopen it, I wouldn't have this any higher than `monthly`.

[2021-06-22 19:51] iwiznia commented on #3477
I don't think that's true or something is odd, because if it's taking it from there, why is the autocomplete in e.com different than in e.cash?
I would leave this closed if this was just me, but Isabella could reproduced, so reopening it as monthly.

[2021-06-22 19:59] marcaaron commented on #3605
@parasharrajat The proposal makes sense, but had a few thoughts

- Not too sure why we need to have the `nativeId`. Could we put the listener on the view that we want and always highlight the text box?
- It seems incorrect to have `TextInputFocusable` set event listeners on `document`. For one, we don't care about events made to things that are not the `ReportView` so I would expect that we set th

[2021-06-22 20:05] luacmartins commented on #3692
@roryabraham how can we get this PR to staging? https://github.com/Expensify/Expensify.cash/pull/3713

[2021-06-22 20:11] parasharrajat commented on #3605
Yeah. image uploading is tightly bound to Composer thus I come down to this approach. My main Idea was to Make a drop zone component for the whole reportView and then handle it there but it was a little complicated.

[2021-06-22 20:14] parasharrajat commented on #3692
CP staging label is needed.

[2021-06-22 20:18] marcaaron commented on #3605
Right, yeah we could have something like

[code]

In the text input component...

[code]

But not really sure if that's worth it

[2021-06-22 20:19] marcaaron commented on #3605
@Christinadobrzyn can let @parasharrajat take this one seems like the best way forward.

[2021-06-22 20:47] luacmartins commented on #3692
Added CP Staging label to PR.

[2021-06-22 20:56] tgolen commented on #3477
I guess the only answer to this is "because Chrome", which we can't do anything about regardless if it can be reproduced or not. The only possible outcome of this issue then is understanding Chrome behavior, which still doesn't change the functionality. If it's not causing any problem, I don't know why anyone would spend their time looking into this.

[2021-06-22 20:57] tgolen commented on #3477
but I'm happy to let this erode as monthly and let Melvin close it 😁

[2021-06-22 21:10] iwiznia commented on #3477
lol I don't know... having to enter the email manually each time is a shitty user experience and I am convinced there's _something_ we can do to fix it (even if I don't know what). Anyway, I assume this will get eroded by melvin too... we'll see.

[2021-06-22 21:14] NikkiWines commented on #3513
Hmm, I don't think we want to implement anything unless it's for both iOS and Android. @jliexpensify maybe let's close this for now?

[2021-06-22 21:25] Looxor commented on #3601
Reason: **Too many re-renders**
As you see the following screencast, there are too many re-renders every time when I type "Concierge".

There are 2 workarounds

- Need to use shouldComponentUpdate
OptionsList component is a good example.
The component includes "shouldComponentUpdate" on itself and it does not make re-render as long as "props.sections" is not changed.

- Need to avoid changing the

[2021-06-22 21:25] parasharrajat commented on #3513
I say we hold it and maybe others have an idea of how to implement this.

[2021-06-22 21:27] NikkiWines commented on #3712
Hmm, yeah we could use regex to try and identify singular emojis. There's a [short article](https://thekevinscott.com/emojis-in-javascript/) which provides a detailed regex for parsing emojis based on a regex string from Lodash.js .

@stitesExpensify what are your thoughts on this approach?

[2021-06-22 21:37] Jag96 commented on #3569
Reopening to keep track of payment hold time

[2021-06-22 21:49] stitesExpensify commented on #3712
Yep makes sense to me! That was my plan too :)

[2021-06-22 21:50] rdjuric commented on #2734
Was about to suggest this feature and found an open issue for it 😃

cc'ing @mallenexpensify since the PR you mentioned is closed now.

[2021-06-22 21:57] NikkiWines commented on #3712
Nice, @mallenexpensify all good to hire @rdjuric for this issue

[2021-06-22 22:44] JmillsExpensify commented on #3383
Increased the payout on Upwork. Hopefully we'll get some proposals here soon!

[2021-06-22 22:45] JmillsExpensify commented on #3623
Sorry @rdjuric I missed this one last week. Adding the Exported label so a colleague can assess your proposal and then I'll get a job posting going on Upwork.

[2021-06-22 22:50] JmillsExpensify commented on #3623
Done! Upwork posting is here for reference when Nikki approves your proposal. https://www.upwork.com/jobs/~0135a8456084eb691e

[2021-06-22 22:52] JmillsExpensify commented on #2705
Oh great, thanks for the clarity! @parasharrajat you want to apply for this one on Upwork and I can hire you?

[2021-06-22 22:53] anthony-hull commented on #2734
Ahh yes. I forgot this one was open :)
Thank you Rafael

[2021-06-22 23:01] parasharrajat commented on #2705
@JmillsExpensify Done.

[2021-06-22 23:07] JmillsExpensify commented on #2705
Hired! Thank you

[2021-06-22 23:28] roryabraham commented on #3692
@luacmartins and I got this settled 1:1, but yes in general the `CP Staging` label should be applied _before_ the PR is merged, and then it will be immediately CP'd upon merge. However, if we forget to do that, then Expensify employees can just ping me in the #deployers slack channel to ask for an E.cash PR to be CP'd after-the-fact. Right now only @AndrewGable and myself have permission to manual

[2021-06-22 23:29] puneetlath commented on #2846
Ok so just so we're on the same page. Is this right?

We **do** want the markdown to apply when there is a space after:
- inline code block
- code fence
- quote

We **don't** want markdown to apply when there is a space after:
- italic
- bold
- strikethrough

[2021-06-22 23:31] marcaaron commented on #3513
Just an idea but maybe `rn-fetch-blob` can help with this as it has some ability to interact with the fs from the looks of it..

https://github.com/joltup/rn-fetch-blob/wiki/File-System-Access-API

[2021-06-22 23:33] puneetlath commented on #3323
I say we just try 2 first and see how that feels. Then we can add 3 in a follow up issue if we think it's also necessary.

[2021-06-22 23:36] kevinksullivan commented on #3323
Hired @parasharrajat !

[2021-06-22 23:48] Jag96 commented on #2258
Updated title to HOLD for payment

[2021-06-22 23:56] Luke9389 commented on #3694
@parasharrajat, we've elected not to pursue this issue for now. The current flow works pretty well as-is, and we want to focus on higher-priority issues. Thanks very much for bringing this up though! We really appreciate your contributions and would love to see new issues like this one in the future. 👍

[2021-06-22 23:56] #3694 closed

[2021-06-23 00:01] mallenexpensify commented on #3712
Hired @rdjuric in Upwork (I had the wrong title, updated that too).

[2021-06-23 00:13] Luke9389 commented on #3673
I think this may have been fixed by this PR: https://github.com/Expensify/expensify-common/pull/381

[2021-06-23 00:21] NikkiWines commented on #3623
This proposal seems good to me, updating the `sequenceNumber`s so they align with the sent order sounds like a good solution.

cc: @marcaaron and @tgolen. As @rdjuric mentioned in their proposal, this relates to  https://github.com/Expensify/Expensify.cash/issues/3608 and the potential refactor for the network request queue

[2021-06-23 00:26] Christinadobrzyn commented on #3605
Sounds good! I just hired @parasharrajat for this!

[2021-06-23 00:54] Jag96 commented on #3455
@rushatgabhane perfect! I've assigned you the issue, please submit a proposal on Upwork (https://www.upwork.com/jobs/~01e82d35df4dd24853) so we can send an offer ([readme](https://github.com/Expensify/Expensify.cash/blob/main/CONTRIBUTING.md#payment-for-contributions)).

[2021-06-23 00:57] marcaaron commented on #3623
I haven't looked at the proposal too deeply, but at first blush modifying the `sequenceNumber` as suggested does not seem like a clear solution. The "next highest sequence number" is what we were using before the temporary client ids (that yes, are higher than all other `sequenceNumber` so they appear at the bottom). But we did this to avoid collisions between presumed sequence number and actual s

[2021-06-23 01:02] Jag96 commented on #2920
Thanks for the context, I agree we can leave it as is then since it only affects Safari on iOS 👍. Closing

[2021-06-23 01:03] Jag96 commented on #2920
And reopening to keep track of payment 😄

[2021-06-23 01:28] Jag96 commented on #3721
I'm able to run the app fine on iOS on main, so this is likely a local issue, going to close this. If you are still having issues after trying to clear the cache (`npm run start -- --reset-cache`), please ask in our [#expensify-open-source](https://expensify.slack.com/archives/C01GTK53T8Q) slack channel.

[2021-06-23 01:28] #3721 closed

[2021-06-23 01:40] rdjuric commented on #3623
I agree that it's important to improve the queue logic, but i think it would also be nice for the app to deal better with a message that has failed to be sent (which might still happen after we improve the queue).

Right now, using our `optimisticReportActionID`
1. The message is stuck at the bottom, it's not clear to the user what's happening.
2. Every new message is first added to an incorrect p

[2021-06-23 04:30] sophiepintoraetz commented on #3663
@Santhosh-Sellavel - can you clarify a few more steps for me so that I can determine whether it's reproducible or not:
1. Did you sign up with [email]/[mobile] _first_?
2. Did you sign up on the web/mobile app?

(Just trying to clarify how you're getting `Tap on the Profile Icon.` - I _think_ you're saying that you're signing up on the mobile app first, with an email address?)

Reassign back to me

[2021-06-23 05:17] dklymenk commented on #3513
@marcaaron We will be definitely using `rn-fetch-blob` to save the actual file, in fact it is already used but with a hardcoded path. The idea with `react-native-document-picker` was to make use of native file browser to pick a directory. Or do you mean we can create a hand-made file browser using `RNFetchBlob.fs.ls()`?

[2021-06-23 08:24] Santhosh-Sellavel commented on #3663
@sophiepintoraetz  -

Following are done in mobile app.
1. Signup with mobile number first.
2. After mobile number verification logged into account.
3. Tap profile icon, settings page will open.
4. Tap on profile option shown on the page.
5. User can see option to add the email.

Rest of the steps is given in the issue description.

[2021-06-23 08:30] Santhosh-Sellavel commented on #3663
@sophiepintoraetz  - unable to assign to you.

[2021-06-23 08:35] #3575 closed

[2021-06-23 09:49] isagoico opened #3729 "iOS - Previous conversation is briefly visible when opening a new chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open iOS e.cash app and log in
2. Navigate to a conversation
3. Go back to LHN
4. Open a different conversation

## Expected Result:
New chat sho

[2021-06-23 09:57] isagoico opened #3730 "Emojis change to question marks when sent"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open e.cash
2. Navigate to a conversation
3. Send a emoji

## Expected Result:
Emoji should be displayed in the conversation

## Actual Result:
E

[2021-06-23 10:59] isagoico commented on #3692
Issue is fixed in build 1.0.73-2 🎉

[2021-06-23 11:50] kidroca opened #3731 "[BUG] `fetchActions` overwrites report `maxSequenceNumber`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Description
The function [Reports.fetchActions](https://github.com/Expensify/Expensify.cash/blob/38ef337da9d412dd38729b177192d3abf17b8afd/src/libs/actions/Report.js#L

[2021-06-23 11:55] kidroca commented on #3731
Tagging @marcaaron @tgolen and @yuwenmemon  as I see your names in the commits around the code

[2021-06-23 12:07] isagoico commented on #3604
Tested this on iOS and confirmed it's working on 1.0.73-2 🎉

[2021-06-23 12:19] parasharrajat commented on #2705
Waiting for update on https://github.com/Expensify/Expensify.cash/issues/2279.

[2021-06-23 13:01] rdjuric commented on #3730
This looks like a problem in the BE.

The app correctly sends the reportComment object
`reportComment: 😍`

But our `Report_AddComment` API answers
`0: {type: "COMMENT", html: "??????", text: "??????", isEdited: false}`

[2021-06-23 13:05] kidroca commented on #3608
Let's forget the performance implications

The current pattern is creating unnecessary complexity which get in the way of writing straightforward code:
Take for example `pauseRequestQueue` and `unpauseRequestQueue`, you'd think they will just pause/unpause the `setInterval` but they aren't, because some requests still need to run even on a paused queue. This is again something that can be handled

[2021-06-23 13:12] MariaHCD commented on #3730
Thanks for mentioning that, @rdjuric!

Emojis are displayed correctly in dev but not on staging & prod. Will try to investigate further.

[2021-06-23 13:40] parasharrajat commented on #3637
Yeah this is hard to reproduce but then the same question comes to me that why other modals are working fine if there is an issue with `SafeAreaInsetsContext`. And to solve this issue we wrapped SafeAreaInsetsContext with another SafeAreaView. Don't know the reason yet but that's a question I am stuck with.

[2021-06-23 13:43] mountiny commented on #3671
Since the issue seems non-reproducible at the moment and happened only once as far as we know, I will degrade its priority label to `Monthly` and we will see if this error occurs again in next month, potentially closing this issue later if no new occurrences happen.

[2021-06-23 14:42] MariaHCD commented on #3730
Just to add some more context, emojis are being displayed incorrectly for:
1. Previous messages containing emojis
2. Users who have emojis in their name
3. Any new messages containing emojis

[2021-06-23 15:50] tgolen commented on #3731
I'm not quite following this example. Is `51` correct, or incorrect? If it's incorrect, what is it expected to be?

Can you please details the bugs that result from this?

[2021-06-23 16:08] roryabraham commented on #3593
Manually removed the following PRs from the checklist:

- https://github.com/Expensify/Expensify.cash/pull/3686
- https://github.com/Expensify/Expensify.cash/pull/3695
- https://github.com/Expensify/Expensify.cash/pull/3696
- https://github.com/Expensify/Expensify.cash/pull/3702
- https://github.com/Expensify/Expensify.cash/pull/3709
- https://github.com/Expensify/Expensify.cash/pull/3714
- https:

[2021-06-23 16:10] michaelhaxhiu commented on #3455
Waiting on @rushatgabhane to apply on Upwork still. Will check again later today.

[2021-06-23 16:29] aliabbasmalik8 commented on #3730
@MariaHCD can you please mention the branch on which this issue did not happen on dev?

I did test some old branches and this issue produced on those branches as well so I think this issue in the backend side or database side, maybe emojis not supported in staging and prod DB.

e.g:
https://stackoverflow.com/questions/39463134/how-to-store-emoji-character-in-mysql-database

Thanks

[2021-06-23 16:34] rushatgabhane commented on #3455
@michaelhaxhiu I'm trying to fixing the breaking changes that are introduced in new version.
I'll apply after I can do that, I hope that's fine?

[2021-06-23 16:55] marcaaron commented on #3731
Based on what you have presented it does seem possible for a local report `maxSequenceNumber` to be overwritten with a paginated batch of comments. While this does seem incorrect, it's unclear what the consequences of this are. Agree that a reproducible/observable bug would help us prioritize this better.

[2021-06-23 17:50] dklymenk commented on #2973
Hello, I have a hypothetical question.

If someone was to come out and claim that the issue is not in react native, but in proprietary Apple code of UIKit framework implementation, what will the Expensify actions be? Will you accept one of the JavaScript workarounds above or just close the issue?

Also will you compensate that hypothetical developer for conducted research, assuming he provides suf

[2021-06-23 17:57] bfitzexpensify commented on #3247
Done!

[2021-06-23 17:57] #3247 closed

[2021-06-23 18:06] tylerkaraszewski commented on #3730
Working on it.

[2021-06-23 18:22] #3524 closed

[2021-06-23 18:25] kidroca commented on #3731
For example during `init` `fetchActions` is called without an `offset` (-1) to get the latest chat actions
Let's say you have a chat of 500 messages
- that will fetch messages 450-500
-  and save `maxSequenceNumber` as `500`

When at some point `fetchActions` is called with an offset less than `450`, the previously saved value of `500` would incorrectly be overwritten with a lower number

The `max

[2021-06-23 18:28] dklymenk commented on #3524
I'm sorry, but was the issue on FE all along? Or were some changes required on BE too?

[2021-06-23 18:59] marcaaron commented on #3731
Without an observable bug it's a bit hard to prioritize this issue so I'm going to close.
@tgolen, feel free to reopen if you disagree or want to discuss this further.

[2021-06-23 18:59] #3731 closed

[2021-06-23 19:00] chiragsalian commented on #3615
So from slack it looks like we reached a [resolution](https://expensify.slack.com/archives/C01GTK53T8Q/p1624062070455500?thread_ts=1623955103.415500&cid=C01GTK53T8Q). @rushatgabhane, are you still interested in working on this task? 🙂

[2021-06-23 19:15] rushatgabhane commented on #3455
I'm having trouble fixing the breaking changes.
[slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1624467008017300)

The gist of it is, many packages like `RN-modal` and `undrescore.debounce()`
use deprecated method `EventEmitter.removeListener` instead of `EvenEmitter.remove()`

[2021-06-23 20:00] iwiznia commented on #2973
If the issue can't be really fixed and it's on apple to fix it, then I would think that yes, we would go with one of the workarounds and pay the developer that conducted the research.

[2021-06-23 20:03] tgolen commented on #3608
I've kind of been following this issue, and I went and re-read the original thread in Slack that spawned this issue.

I think this is chasing a lot of theoretical problems without getting crisp on the specific problem (this seems to be a repeating theme).

The original assumption was:

However, this was just conjecture and was only theoretical. Let's start here. If that's the hypothesis, then let'

[2021-06-23 20:21] parasharrajat commented on #2973
I don't think it's apple's issue. Can't you scroll on any native IOS app?

[2021-06-23 20:23] tgolen commented on #3601
@Looxor Thanks for the proposal! Could you please clarify a couple of things for me?

Can you please quantify this somehow (eg. how many re-renders are happening, and what number are you trying to optimize for?)

I'm not really following this because I see that `onChangeText` is used by the parent `SearchPage.js`, so I don't see how it needs to be removed. Can you add some more details about that?

[2021-06-23 20:52] roryabraham commented on #3313
Any new proposals here? @puneetlath Should we increase the offer for this ticket?

[2021-06-23 20:52] rushatgabhane commented on #3615
yeah, but I think someone else should work on this task because my wrapper doesn't work :(

[2021-06-23 21:08] isagoico opened #3736 "Desktop - App is slow/lagging if user has lots of conversations"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open desktop app
2. Navigate through conversations

## Expected Result:
App should have a good performance even if the user has a lot of conversa

[2021-06-23 21:14] isagoico opened #3737 "Display money request in LHN, instead of user's email"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash
2. Navigate to a conversation
3. Send an IOU
4. Navigate to IOU

## Expected Result:
The message preview in LHN should mirror wh

[2021-06-23 21:16] rushatgabhane commented on #3730
adding emojis when editing a message doesn't have this issue.

[2021-06-23 22:26] railsjack commented on #3601
![image](https://user-images.githubusercontent.com/1916657/123175855-1156c380-d4b5-11eb-8a00-ea33cbf04e28.png)

Let me answer the next question.

[2021-06-23 22:28] mallenexpensify commented on #3381
Raised to $4000 and created a new job https://www.upwork.com/jobs/~014c8ddadb545a60f4

[2021-06-23 22:34] Luke9389 commented on #3673
Pretty sure this is no longer happening

[2021-06-23 23:08] mallenexpensify commented on #2734
@anthony-hull can you provide more detail on what you're recommending, and possibly include a screenshot or vid? Any chance this has been discussed in Slack, #expensify-open-source yet? If so, can you drop in a link?  Thanks

[2021-06-23 23:16] mallenexpensify commented on #2180
This should have been paid via Upwork

[2021-06-23 23:41] ctkochan22 commented on #3737
Pushing N5 and Cashback stuff out. But labels look good.

[2021-06-23 23:55] trjExpensify commented on #3737
👋 @ctkochan22 after triaging an issue, can you make sure to add the `external` label so that it continues on the journey to being posted to Upwork. If it can't be worked on externally, then the `internal` label can be added. Going to move this along.

[2021-06-24 00:38] jliexpensify commented on #3737
POSTED: https://www.upwork.com/ab/applicants/1407860465960755200/job-details

[2021-06-24 02:41] roryabraham commented on #2985
Very tangentially related, I noticed that [this PR](https://github.com/facebook/react-native/pull/29466) (opened almost a year ago), got approved today. I wonder if that might mean that https://github.com/GetStream/flat-list-mvcp can soon be deprecated.

[2021-06-24 03:02] sophiepintoraetz commented on #3663
Cool, thanks @Santhosh-Sellavel - I'll let you know if I have any follow up questions.

[2021-06-24 05:09] dklymenk commented on #3737
As far as I can tell the message displayed on LHN right after you send the payment request is correct, however the message displayed after you reload the page is wrong. This means that the issue is in `getSimplifiedReportObject` function, specifically the part where it extracts html from the message, however it seems like BE response doesn't have `message.html` key/value pair for the IOU objects t

[2021-06-24 07:25] dklymenk commented on #3381
@Viacheslav80 Is right, the prop inverted of Flatlist applies `scaleY: -1` (specifically `Y` and not `X`), this causes a problem similar to that of flexbox's `-reverse` or `order` attribute known as [html order vs css order](https://adrianroselli.com/2015/10/html-source-order-vs-css-display-order.html). This is mainly a concern for website's accessibly - screen readers and keyboard navigation will

[2021-06-24 07:31] Looxor commented on #3601
#1
_Reason: Too many re-renders
Can you please quantify this somehow (eg. how many re-renders are happening, and what number are you trying to optimize for?)_

For more convenient, I made a diagram to show you the result.
Please look at the following pic.
![expensify-answer-01](https://user-images.githubusercontent.com/1319853/123220911-ae722600-d4ce-11eb-888d-d9d16a85d808.png)

#2
_OptionsSelecto

[2021-06-24 07:33] anthony-hull commented on #2734
Yes we had a [discussion on slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1620306620454000)
I will follow up with a video on Monday. I'm busy the next 4 days.

[2021-06-24 07:34] Looxor commented on #3601
I upload this screencast again because above one is crashed.
https://user-images.githubusercontent.com/1319853/123221237-04df6480-d4cf-11eb-8518-c34689b7eb5b.mp4

[2021-06-24 07:35] Looxor commented on #3601
I upload this screencast again because above one is crashed.

https://user-images.githubusercontent.com/1319853/123221693-7c14f880-d4cf-11eb-8973-27416ca68d44.mp4

[2021-06-24 08:15] ghorbani-m commented on #3381
### Proposal
As we know the issue is the inverted prop in the FlatList component, so my solution is to implementing the inverted FlatList virtually in the [BaseInvertedFlatList.js](https://github.com/Expensify/Expensify.cash/blob/main/src/components/InvertedFlatList/BaseInvertedFlatList.js#L142-L158) file.

I have changed the BaseInvertedFlatList component so that the inverted feature is implement

[2021-06-24 08:16] Dal-Papa commented on #3524
No changes were made on the BE, it was simply the FE not sending the `sequenceNumber` to the BE when deleting a message.

[2021-06-24 09:21] Beamanator commented on #2936
Waiting on @pranshuchittora to respond to my comments or work on requested changes

[2021-06-24 09:21] Beamanator commented on #2934
Waiting on @pranshuchittora to respond to my comments or work on requested changes

[2021-06-24 10:29] Julesssss commented on #3737
Good spot @dklymenk, you're right that we should solve this on the backend, so we'll need to put this issue on hold until this is done.

[2021-06-24 11:53] kidroca commented on #2985
Good find!
This prop is indeed the foundation for the bidirectional list

Together with the new better documented [viewabilityconfig](https://reactnative.dev/docs/flatlist#viewabilityconfig)
it could allow enough flexibility to achieve what we want in e.cash land

Working on this ticket I've thought of 2 alternatives based on either VirtualList or FlatList

#### 1. Rely solely on virtualization
Ba

[2021-06-24 11:56] kidroca commented on #2985
This would make `maintainVisibleContentPosition` available in `iOS` and `Android` but would need to be implemented for `web` in `react-native-web` as well

[2021-06-24 12:26] Julesssss commented on #3737
Internal [backend issue](https://github.com/Expensify/Expensify/issues/168501) for reference

[2021-06-24 12:52] parasharrajat commented on #3354
Hi @Beamanator. any thoughts? Should we close this issue as this has been solved in #3193. Please check the last two checklist items in detail.

[2021-06-24 12:58] parasharrajat commented on #2846
@puneetlath Just to sure. Are you talking about the space after the starting symbol?
for eg:
[code]
Or space before ending symbol. Also, I think we can move forward to quickly wrap up this on.

[2021-06-24 13:04] Beamanator commented on #3354
@parasharrajat I just tested locally, and you're right - We can close this out 👍

Here's my tests on Android, mWeb showing the fix working:

https://user-images.githubusercontent.com/3885503/123267508-63233c00-d4fd-11eb-9f46-9d519029b7ba.mov

[2021-06-24 13:04] #3354 closed

[2021-06-24 13:45] michaelhaxhiu commented on #2545
Applying the `planning` label till https://github.com/Expensify/Expensify.cash/issues/2985 is released.

[2021-06-24 13:54] rdjuric commented on #2846
`~ I am ~` shouldn't match for sure, since it has space before both before and after the word.

I don't think `~ I am~` is matched on markdown either, tested on Notion and other messengers.

[2021-06-24 13:57] Beamanator commented on #3349
Hey @rushatgabhane Thanks for your investigation! Sorry for the super slow reply, I just got back from vacation!

This is a great point, I'm not sure we'd tested that out before. Could you bring this up as a new discussion in #expensify-open-source? I think we'll need some other people to add some thoughts on how useful it is to fix that (for the record, I think it would definitely be useful to fi

[2021-06-24 14:24] rdjuric commented on #3349
Just to my perspective on this:

This looks fine to me, I think it's how shortcuts work everywhere. On macOS I can open the Spotlight with `CMD + Space` but adding any key to the combination `CMD + Any Key + Space` will still open the Spotlight (if the new combination doesn't match another shortcut, for sure). Tested this on other applications and got the same result.

Are we sure we're not exitin

[2021-06-24 15:31] #3712 closed

[2021-06-24 15:40] dklymenk opened #3743 "[HOLD for payment 2021-12-13] [HOLD for payment 2021-12-06] After deleting the last message, editing the next last message doesn't update the message displayed in LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send 2 messages (message 1 and message 2) in a chat
2. Delete the last message (message 2)
3. Edit the next last message (message 1)

## Expected

[2021-06-24 16:07] tgolen commented on #3601
OK, thanks for the additional information. I think I understand what the proposal is now. It was a little difficult seeing what code changes were being made in the video. In the future, it would help to either link directly to a diff of the code changes you are proposing, or to write out the specific changes that would be made (just to help you write better proposals).

Looks like the rendering is

[2021-06-24 16:41] Beamanator commented on #3108
@kakajann Have you made any progress on this PR? If so, please go ahead and create the PR so I can see your progress 👍

[2021-06-24 17:04] #3323 closed

[2021-06-24 17:07] puneetlath commented on #3346
Paid in upwork!

[2021-06-24 17:14] NicMendonca commented on #3601
@Looxor hired on Upwork 🎉

[2021-06-24 17:27] chiragsalian commented on #3615
@marklouisdeshaun, for context I asked CarlosM if he could work on this issue. So mark could you remove this job posting from Upwork?

[2021-06-24 17:30] thienlnam commented on #3381
Thank you both for the very detailed proposals!

@dklymenk I believe we ran into performance issues when reversing the props like that before but now that pagination exists with chats that might be okay but you may need to deal with some changes related to that

It looks like @ghorbani-m's proposal does something similar with changing it back to a regular FlatList and inverting the chats virtually

[2021-06-24 17:37] marcaaron commented on #3381
Based on the issue description we are not trying to do any workarounds (past solutions all look like workaround and none have mentioned a RN fork) please see:

[2021-06-24 17:41] #3566 closed

[2021-06-24 17:46] rafecolton commented on #2846
I think we should match whatever GitHub does. Looks like both of those examples you have @rdjuric are not struck through on GitHub

[2021-06-24 17:46] mallenexpensify commented on #3712
Will pay on 7/1 if no regressions

[2021-06-24 17:52] marklouisdeshaun commented on #3615
The posting has been removed.

[2021-06-24 19:05] parasharrajat commented on #3195
Google translate.

[2021-06-24 19:30] dklymenk commented on #3381
Actually, I have completely missed that part. Sorry for that. However, even though I wouldn't call it a bug in react-native, what we can do is change how the `inverted` prop of Flatlist is implemented in your fork, if that's what you would prefer.

To accomplish that we remove all the `scaleY` stuff, and just reverse the array order in react-native Flatlist implementation. Ultimately I don't think

[2021-06-24 19:51] marcaaron commented on #3381
Thanks, our priority and the deliverable for this issue is to fix the react native code in our fork. If anyone is interested in doing that job (and not a workaround) then please provide a clear proposal for what changes you would make.

[2021-06-24 20:46] kakajann commented on #3108
Here is WIP PR #3414, I will finish it within this week

[2021-06-24 21:27] rushatgabhane commented on #3349
For me it's weird.
- `Cltr + S` save. `Cltr + Atl + S` does nothing.
- `Win + D` shows desktop. `Win + Shift + D` does nothing.

Ran a clean test. I get the search page for `control + K`.
My bad, `event.preventDefault()` does work.

Of course, dedicated OS shortcuts won't be overriden. Hence the need for OS specific shortcuts :)
eg: `Win + K` which is the current shortcut for search on windows.
in

[2021-06-24 21:34] roryabraham commented on #2985
Okay, well I'm not sure which is the better of those two alternatives, so let's try to list the pros/cons of each. I'll give my best effort, but feel free to give your interpretation of this analysis too:

### Rely solely on virtualization
#### Pros
- Potentially a simpler implementation. I think that this approach (not using waypoints) is probably more approachable to a new engineer looking at th

[2021-06-24 21:56] marcaaron commented on #2985
Sorry, I'm only sort of following the discussion here. But I agree that these are good reasons to avoid the waypoint based solution.

[2021-06-24 22:25] roryabraham commented on #3195
Usuario o clave incorrectos. Por favor inténtalo de nuevo

Tienes autenticación de 2 factores activada en esta cuenta. Por favor conéctate usando su email o número de teléfono

Usuario o clave incorrectos. Por favor inténtalo de nuevo o resetea tu clave

No pudimos cambiar tu clave. Probablemente porque el enlace para resetear la clave ha expirado. Te hemos enviado un nuevo enlace. Chequea tu band

[2021-06-24 23:09] NikkiWines commented on #3743
A note that this issue is related to the changes made in this PR: https://github.com/Expensify/Expensify.cash/pull/3526

[2021-06-24 23:16] dklymenk commented on #2973
This issue is highly specific in terms of iOS version and even device. The most modern environment I personally managed to reproduce the issue in is iPhone8 running iOS 12.4. You also need to break specific thresholds in terms of `fontSize` and `lineHeight`, that are different for each font family, to reproduce it.

Anyway, I think I have sufficient proof that the issue is on the side of Apple's U

[2021-06-24 23:33] parasharrajat commented on #2973
Nice job, But I suggest keeping the post small and straight for readability purposes.

[2021-06-24 23:35] arielgreen commented on #3055
@michaelhaxhiu please pay this out ASAP.

[2021-06-24 23:36] arielgreen commented on #3055
Ah, nvm, it's paid. Please be sure you're ending contracts. I will do so.

[2021-06-24 23:36] #3055 closed

[2021-06-24 23:38] arielgreen commented on #2967
@stephanieelliott please pay and close out this contract ASAP

[2021-06-24 23:43] NikkiWines commented on #3599
@isagoico just bumping @Jag96's comment above about retesting this issue, in case you missed it!

[2021-06-24 23:47] rushatgabhane commented on #3349
@Beamanator with some new insights, I have a working solution and I wanna be assigned to this job.

Basically, the event will be triggered only if the modifiers match EXACTLY.
eg: `Alt+ Command + K` won't open search.

This is how shortcuts are implemented I think.
`anyNonModifier + Shortcut` is fine, but `modifier + Shortcut` shouldn't trigger that event.

[2021-06-25 00:13] stephanieelliott commented on #2967
All paid up!

[2021-06-25 00:13] #2967 closed

[2021-06-25 00:18] stephanieelliott commented on #2670
https://github.com/Expensify/expensify-common/pull/385 was merged, hold for 7 day regression period.

[2021-06-25 00:42] roryabraham commented on #3593
CPing [a fix](https://github.com/Expensify/Expensify.cash/pull/3749) to the [last deploy blocker](https://github.com/Expensify/Expensify.cash/pull/3606), which should be resolved in `1.0.73-3` 🤞

[2021-06-25 00:42] roryabraham commented on #3593
Oh, and this checklist is going to be populated with a bunch of stuff not included in this release, because [this issue](https://github.com/Expensify/Expensify/issues/168349) is not fixed yet.

[2021-06-25 00:57] mikeattara commented on #3383
@JmillsExpensify and @roryabraham I can investigate this.

[2021-06-25 00:59] mvtglobally commented on #3593
@roryabraham keep us posted when we can start QA

[2021-06-25 02:41] mikeattara commented on #3383
**My proposal**

- Create a separate job for checking the presence of the lock which will run first, and set that as the output value for the job
- Pass the output value as the `IS_CHERRY_PICK` for the comment job

@roryabraham what do you think?

[2021-06-25 04:36] kevinksullivan commented on #3546
Paid in Upwork!

[2021-06-25 06:06] isagoico commented on #3599
My bad, we had retested this and forgot to update here. Issue is still ocurring to the same same tester on the same device latest build.

[2021-06-25 10:36] Beamanator commented on #3349
@rushatgabhane I like your proposal to fix shortcuts from being run if extra modifiers are pressed!

I do want to note that this issue is mainly about the new shortcut group `CMD + SHIFT + K` to open a Group Chat (at least on MacOS), so once you confirm that you'll do that as well (and probably replace `CMD` with `Control` on Windows), I'll assign this to you!

[2021-06-25 10:46] rushatgabhane commented on #3349
Haha yes, I've posted a demo for just that in my prev comment.

[2021-06-25 10:54] Beamanator commented on #3349
Aah thanks very much @rushatgabhane , I didn't see you mention the shortcut specifically for "group chats" in the text, and I missed that the second modal you opened in your video was group chat!

Thanks for sticking with me, please submit a PR when you have a chance! And @trjExpensify please hire @rushatgabhane on Upwork when you have a chance 👍

[2021-06-25 11:38] Santhosh-Sellavel commented on #3572
Post your thoughts, @Dal-Papa

[2021-06-25 13:30] michaelhaxhiu commented on #3055
Shoot, sorry! I did forget to end the contract.

[2021-06-25 15:17] parasharrajat opened #3755 "[HOLD for #rooms notification][Feature Request] Manage Notifications"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

While chatting on E.cash. I realized that I am not receiving any notifications for unread messages as I not yet subscribed to them. But there is no option to subscribe t

[2021-06-25 16:28] kidroca commented on #2985
### Rely solely on virtualization
#### Pros
  - you don't have to worry about appending prepending items to the chat
  - you can scroll to any item and it will appear, or load then appear
#### Cons
This have one major requirement: `getItemLayout`
Scrolling to an `item/index` outside the pre-rendered window requires `getItemLayout` to be implemented as noted here:
https://reactnative.dev/docs/flatl

[2021-06-25 16:43] iwiznia commented on #2973
Oh wow, great investigation @dklymenk!!! I think that's enough proof to show the problem is not fixable in react native. Let's go ahead and implement a workaround for it from the time being. Which workaround specifically would you recommend we use?
Also, does anyone know if there's a way to report the issue to Apple?
@arielgreen go ahead and hire @dklymenk.

[2021-06-25 16:49] parasharrajat commented on #2973
So everyone must be facing this issue. I think it could be a good oopurtunity to patch logic in RN textinput.

[2021-06-25 17:48] jboniface commented on #2985
just noting that rory and i discussed and we agree that you've satisfied the requirements of the milestone. I'm going to pay out and close the job, but we're leaving the issue for further discussion while we determine the best path forward. When it's time to move forward on a solution, I'll file a new issue and flag you @kidroca

[2021-06-25 17:49] jboniface commented on #2985
Oh, sorry, we're on a payment moratorium while they upgrade our account, I'll need to do this once UW finishes their maintenance. Setting a reminder.

[2021-06-25 17:51] roryabraham commented on #3593
Verifed that https://github.com/Expensify/Expensify.cash/pull/3606 is fixed in `1.0.73-3`, so I'm going to close out this checklist and run a prod deploy

[2021-06-25 17:55] roryabraham commented on #3593
Many of these issues should not be added to the checklist because of [this issue](https://github.com/Expensify/Expensify/issues/168349), but I expect them to be added to the next checklist, so I'm going to check them off manually:

- [ ] https://github.com/Expensify/Expensify.cash/pull/2932
- [ ] https://github.com/Expensify/Expensify.cash/pull/3392
- [ ] https://github.com/Expensify/Expensify.cas

[2021-06-25 18:10] roryabraham commented on #3593
:shipit:

[2021-06-25 18:10] #3593 closed

[2021-06-25 18:13] OSBotify opened #3759 "Deploy Checklist: Expensify.cash 2021-06-25"
**Release Version:** `1.0.74-0`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/2287
- [x] https://github.com/Expensify/Expensify.cash/pull/2932
- [x] https://github.com/Expensify/Expensify.cash/pull/3214
- [x] https://github.com/

[2021-06-25 18:39] roryabraham commented on #3759
@isagoico @mvtglobally We can begin QA on this new checklist

[2021-06-25 18:47] roryabraham commented on #3383
@mikeattara When would this job execute?

[2021-06-25 18:49] iwiznia commented on #3296
Not sure why this was not marked as external, doing that now.

[2021-06-25 18:51] iwiznia commented on #2540
Not sure why this was not tagged as external, doing that now

[2021-06-25 18:52] iwiznia commented on #3172
Not sure why this wasn't added an external label, adding it now.

[2021-06-25 18:53] mikeattara commented on #3383
I can start working on it immediately

[2021-06-25 18:56] parasharrajat commented on #3296
There is another issue with currency input.

https://user-images.githubusercontent.com/24370807/123472686-1e8ac400-d615-11eb-98b3-7aba19049ba2.mp4

[2021-06-25 19:05] iwiznia commented on #2716
Not sure why this was not labeled as external, doing that now.

[2021-06-25 19:14] parasharrajat commented on #2716
I think this issue needs to be retested as I made some changes recently to scroll Listener which could have affected it.

[2021-06-25 19:15] iwiznia commented on #2716
ok, @isagoico can you retest please to make sure it's still reproducible?

[2021-06-25 20:30] mvtglobally commented on #3759
Starting QA

[2021-06-25 20:36] dklymenk commented on #2973
@iwiznia Actually I have found this little checkbox in xcode that says "Adjust to Fit". Enabling it seems to resolve the issue. It makes it so if the text doesn't fit the width, the font size is reduced down to a certain value specified in a different property called "Min font size" in a GUI. Setting that "Min font size" value to be at least 1 less than original font size seems to do the trick.

P

[2021-06-25 20:52] roryabraham commented on #3383
Sorry @mikeattara, I don't think your proposed solution will work. Placing a separate job at the start of the `platformDeploy.yml` workflow won't resolve the race condition:

1. Merge a PR, and [preDeploy](https://github.com/Expensify/Expensify.cash/blob/3fcf04f601155c569202332190365b28bbfdd283/.github/workflows/preDeploy.yml) will begin.
1. Then add the lock label
1. By the time your separate job

[2021-06-25 21:16] mvtglobally commented on #3759
@roryabraham Can you confirm we are ok to start Release Version: 1.0.73-4 or Release Version: 1.0.74.0 is still deploying?

[2021-06-25 21:28] roryabraham commented on #3759
Feel free to begin staging QA or `1.0.73-4`

[2021-06-25 21:35] parasharrajat commented on #3383
I am not sure about the cherry-picking concept here. What I understand so far is that in the following conditions a PR is CP.
1. If CP staging label is present before PR is merged.
2. As per the current issue, If we don't have the `LockCashDeploys` label on the StagingDeployCash issue.

So I can't think of any solution other than what you have posted above. So If we follow your solution then this

[2021-06-25 21:37] lschurr commented on #3755
I'm not sure if this is intended or not. I seem to get notifications sometimes and other times I don't. I also get emails as well. Going to tag Eng to confirm the intended behavior.

[2021-06-25 21:38] roryabraham commented on #3759
Something went wrong with `1.0.74-0`, retrying it.

[2021-06-25 21:44] rushatgabhane commented on #3455
It seems like the subscription will be removed, and use of deprected method in third-party libs don't cause a breaking change.
but there will be ~25 `console.error()` for most interactions :(

https://github.com/necolas/react-native-web/blob/13f7b9e2f45af2761bfdccd763c511992c0be030/packages/react-native-web/src/vendor/react-native/emitter/_EventEmitter.js#L169-L183

I believe these are our options

[2021-06-25 21:54] roryabraham commented on #3383
@parasharrajat I think your solution would work well, with one modification:

5. If the `merged_at` time comes between any of the `[added, removed]` pairs **and the PR has the `CP Staging` label**, then it was a CP. Otherwise it's a normal staging deploy.

[2021-06-25 21:56] roryabraham commented on #3383
@parasharrajat Want to take on this issue and https://github.com/Expensify/Expensify.cash/issues/3662 at the same time? 🙃 Since we need pagination for this, we might as well build a more general-purpose paginator for the GitHub API

[2021-06-25 21:59] parasharrajat commented on #3383
Oh yeah. So I think I need to add one more step that is PR has a CP staging label before Pr was merged then Its CP.

[2021-06-25 22:01] parasharrajat commented on #3383
But it seems that https://octokit.github.io/rest.js/v18#pagination this gives all the results autmatically. Let me read that issue and see what is required there.

[2021-06-25 22:02] roryabraham commented on #3383
Well, if a PR is merged with the `CP Staging` label when the `StagingDeployCash` is unlocked, then it goes through a regular staging deploy (just like any other E.cash PR that's merged when the `StagingDeployCash` is unlocked).

[2021-06-25 22:04] arielgreen commented on #3568
@rushatgabhane please apply here https://www.upwork.com/jobs/~01772f6a6c748c2faf

@jasperhuangg, this will remained assigned to you as well throughout the full process, as you'll be doing the PR review.

[2021-06-25 22:06] parasharrajat commented on #3455
Then we will have to upgrade others lib eventually as this feature is deprecated and will be removed without warnings. Were you able to find any thread related to the above issue which suggests why the deprecation decision was taken if a bunch of commonly used libs doesn't support it yet even with the latest RN?.

[2021-06-25 22:08] parasharrajat commented on #3383
OK, then your point makes sense. I told you I am not yet fully familiar with CP flow. :wink:

[2021-06-25 22:22] parasharrajat commented on #3662
Ok, If I understood it correctly, We already have a `PRList` which want to put on the body on the QA/deploy checklist but without the automated PRs.

So we call GitHub to get a list of all PRS and then Find AutomatedRequests out of those. Then we remove these found automated requests from the `PRList`. but the issue is We only get 100 requests.

So we want to get all PRs here so that we can filter

[2021-06-25 23:07] roryabraham commented on #3729
Sorry for the delay here, let's get this on Upwork!

[2021-06-25 23:08] roryabraham commented on #3383
@JmillsExpensify Let's get @parasharrajat hired for this on Upwork.

[2021-06-25 23:18] kavimuru opened #3767 "[HOLD for payment on July 7] Web - Chat - Message not deleted when selecting delete option from the context menu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork link: https://www.upwork.com/jobs/~01ea79ee49be020d89
___

## Action Performed:
1. Open e.cash in Web
2. Navigate to a conversation
3. Right click on any own message

[2021-06-25 23:24] roryabraham commented on #3662
Nice find with https://octokit.github.io/rest.js/v18#pagination! Ideally we could make the paginator fetch all the results we need and return a single promise, such that we:

1. Fetch all the PRs at until we get to PRs older than the oldest one on our `PRList`
1. _Then_ remove any automated ones from our `PRList`
1. _Then_ continue and generate the `StagingDeployCash` issue body.

[2021-06-25 23:26] roryabraham commented on #3662
Maybe you could use `promiseWhile` to create a wrapper around the paginated method or something

[2021-06-25 23:39] parasharrajat commented on #3662
octokit.github.io/rest.js/v18#pagination! already return a promise So I don't think we need that.

[2021-06-25 23:53] NikkiWines commented on #3767
I'm not able to reproduce this on web on `1.0.74-0` - @kavimuru would you mind retesting this to confirm?

https://user-images.githubusercontent.com/16747822/123494726-b49efa00-d5d5-11eb-9c06-473cb0c267d2.mov

[2021-06-26 00:23] kavimuru opened #3768 "mweb - Tapping green fab does not open the menu docking to the bottom"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open e.cash in mWeb
2. Click + button
## Expected Result:
when I tap the + fab button context menu should popup docking to the bottom

## Actual

[2021-06-26 02:45] rushatgabhane commented on #3455
@parasharrajat apparently RN-Web deprecated the method based on an unstable version of react-native.
https://github.com/facebook/react-native/commit/d39643b9de11c6b44984166ede34a7f44de76fe5

So it makes sense other libs haven't updated to support the depreciation yet.

[2021-06-26 09:11] isagoico commented on #3767
@NikkiWines I thought the same and noticed this is only reproducible when using the right click menu. The hover menu works as expected.

[2021-06-26 09:51] isagoico commented on #3768
Here's the browser resolution of the device (in which the issue was reproducible)

[2021-06-26 20:16] dklymenk commented on #3195
Hello, I submitted a PR #3769 for this issue.

FYI since I haven't gotten a response my question of whether or not replace the original offline message in code with new one or to use two different ones, I have replaced the original message with a new one.

[2021-06-26 23:34] arielgreen commented on #2667
@kidroca Are you ready to move forward with this? If so, I’ll recreate the Upwork posting and send over an invite.

[2021-06-27 02:49] roryabraham commented on #3195
Thanks @dklymenk, that seems like a good idea to me 👍🏼

[2021-06-27 11:46] kakajann commented on #3108
@Beamanator I have a question.

I have implemented the new TextInput to all across the platform. But the `Picker` remains same, because it was already custom `Picker`.

And the question is should I modify [this Picker](https://github.com/Expensify/Expensify.cash/tree/main/src/components/Picker) or create new Picker from scratch?

[2021-06-27 12:04] dklymenk opened #3770 "[feature suggestion] Multi-language improvements"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

While implementing translations on password form screen I noticed that there is currently no way to even see initial screens in Spanish without changing the `DEFAULT_LOC

[2021-06-27 23:10] jliexpensify commented on #3513
Reposted to Upworks: https://www.upwork.com/ab/applicants/1409287629245014016/job-details

Doubled the payment.

[2021-06-27 23:11] parasharrajat commented on #3513
@jliexpensify Wrong link.

[2021-06-27 23:28] jliexpensify commented on #3513
@parasharrajat - apologies, I'm confused. I cancelled the other job and re-posted a new one, and linked the new job. What link should I be sharing?

[2021-06-27 23:29] parasharrajat commented on #3513
@jliexpensify This link https://www.upwork.com/jobs/~01d4cfe8b8011b7d5a

[2021-06-27 23:32] jliexpensify commented on #3513
Aha, thank you @parasharrajat - much appreciated! My mistake.

[2021-06-27 23:40] quinthar commented on #2667
I don't think we should wait for @kidroca -- let's go ahead and get someone working on it asap!  It would be great if it could be @kidroca, but it sounds like @mateusbra might also be interested (and probably a whole bunch more).

[2021-06-27 23:52] parasharrajat commented on #3513
### Proposal
1. We use `react-native-document-picker` for picking files and this lib exposes a method `pickDirectory` which allows us to pick directory but it is Android only implementation.
2. After a little bit of digging, I found out that IOS has native API for picking directories. `UIDocumentPickerViewController` https://developer.apple.com/documentation/uikit/view_controllers/providing_access

[2021-06-28 00:38] aliabbasmalik8 commented on #3568
**SUGGESTION:**

We can also show an error message on typing an invalid amount.

Thanks

[2021-06-28 07:04] kidroca commented on #2531
@jboniface
I've receive payment for this task, but never received a 150$ bonus for discovering and creating the issue

[2021-06-28 07:21] kidroca commented on #2985
@jboniface
Thanks,
I see I have a "new" offer regarding this ticket in Upwork, though it's not coming from you but from Omri Benami
Also you did mention a price bump for the ticket: https://github.com/Expensify/Expensify.cash/issues/2985#issuecomment-864071630 since the job is re-oferred can we just apply it on the offer?

[2021-06-28 07:27] isagoico commented on #2705
Issue reproducible during KI retests.

[2021-06-28 07:27] isagoico commented on #3041
Issue reproducible during KI retests.

[2021-06-28 07:27] isagoico commented on #3172
Issue reproducible during KI retests.

[2021-06-28 07:27] isagoico commented on #3297
Issue reproducible during KI retests.

[2021-06-28 07:27] isagoico commented on #3609
Issue reproducible during KI retests.

[2021-06-28 07:29] isagoico commented on #2662
Issue reproducible during KI retests.

[2021-06-28 07:29] isagoico commented on #2499
Issue reproducible during KI retests.

[2021-06-28 07:39] isagoico commented on #2279
Issue reproducible during KI retests.

[2021-06-28 07:40] isagoico commented on #2447
@tugbadogan This week the issue was not reproducible in the same devices (that were reproducible last week) 🎉

[2021-06-28 07:40] isagoico commented on #2447
Issue reproducible during KI retests.

[2021-06-28 07:40] isagoico commented on #3248
Issue not reproducible during KI retests (Second week)

[2021-06-28 07:40] isagoico commented on #3355
Issue reproducible during KI retests.

[2021-06-28 07:42] isagoico commented on #3296
Issue reproducible during KI retests.

[2021-06-28 08:04] kidroca commented on #2667
@arielgreen

Yes, I am

### Proposal
I've already worked on benchmarking and performance capturing logic.
It can be reused even if we're not using Onyx for the tests that should run here
My plan is to provide aggregated timing data the way I did here: https://github.com/Expensify/Expensify.cash/issues/2762#issuecomment-849945470

I will use a physical Android device -  Samsung Galaxy S7 Edge Andro

[2021-06-28 08:25] isagoico opened #3774 "[Pay July 29 if no regression] iOS/Android - Reduce long tap action from 1000 ms to 500 ms"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash in Android or iOS
2. Navigate to a conversation
3. Long press a message in the conversation

## Expected Result:
Long tap action

[2021-06-28 09:09] isagoico opened #3775 "[HOLD for payment July 6] Unable to delete messages with attachments"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash
2. Navigate to a conversation
3. Send an image
4. Try to delete the message with the image (via right click or action hover menu

[2021-06-28 11:10] MariaHCD commented on #3775
@sketchydroide @roryabraham Would you be able to confirm if the inability to delete attachments is expected behavior?

[2021-06-28 11:51] sketchydroide commented on #3775
I think it is expected behaviour. @roryabraham can correct me on this, but I think that is expected.

[2021-06-28 13:37] jboniface commented on #2985
@mallenexpensify is Omri our agent at UW?

Regarding the price bump, I was planning to just tack it on via the bonus field

[2021-06-28 14:15] jasperhuangg commented on #3609
Hey guys! So sorry, I've completely been missing these notifications for whatever reason. I'll look into this first thing tomorrow.

[2021-06-28 14:30] jboniface commented on #2531
@kidroca ah, sorry, I was batching these the other day and missed that you filed it. i'll add the 150 to the other issue we owe you for.

[2021-06-28 14:34] jboniface commented on #2985
@kidroca were you able to accept the contract? I think we might be waiting on an action from UW, but I can't action the contract yet.

[2021-06-28 14:34] kevinksullivan commented on #3354
@parasharrajat just sent you an offer for this job. Once you accept I'll pay it in Upwork!

[2021-06-28 14:36] aliabbasmalik8 commented on #3774
We are using 500 milliseconds for a long press. We can update here by adding `delayLongPress` props in the `Pressable` component

[code]

https://github.com/Expensify/Expensify.cash/blob/cfb5d1dc658f9dd5259d33288c59626dffbe03a0/src/components/PressableWithSecondaryInteraction/index.native.js#L19

Thanks

[2021-06-28 14:38] tgolen commented on #2667
For this, I was thinking that it would live in a completely separate repo that you own (a free repo is fine). Would that work?

[2021-06-28 14:53] tgolen commented on #3710
@dklymenk is correct. For currencies that don't support decimals, the UI should correctly reflect that. Some currencies also support three decimals. It looks like all of those are working properly, so I am going to go ahead and close this.

[2021-06-28 14:53] #3710 closed

[2021-06-28 15:27] mallenexpensify commented on #3730
@tylerkaraszewski can this be closed? I think it's been fixed for days

[2021-06-28 15:44] mallenexpensify commented on #3671
Just happened to me, was in the middle of typing a message, logs below.  Desktop Version 1.0.73-3 (1.0.73-3) (most recent production version).

[code]

[2021-06-28 15:47] mountiny commented on #3671
This might be actually related to Servers being down now.

[2021-06-28 15:55] parasharrajat commented on #3671
Yeah. I faced it too. Server is down.

[2021-06-28 16:05] marcaaron commented on #3623
I think we discussed this internally in the past and decided that the user should not be aware that a message did or did not send. Probably best to bring up a change like this in Slack as more people will be interested in product changes. Then we can discuss technical solutions here.

Sorry, I don't think there is enough information to move forward with a solution.

[2021-06-28 16:14] marcaaron commented on #3623
I'm adding a planning label to this one because while it seems like a bug that messages would "persist at the bottom" this is the expected behavior since messages are created in the order they are requested to be created.

[2021-06-28 16:17] kavimuru opened #3778 "[HOLD for payment on July 7] Web - Profile - Deleted Profile name updated only after page refresh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork Job: https://www.upwork.com/jobs/~0133c0817f9a59ef1d
___

## Action Performed:
1. Go to https://staging.expensify.cash
2. Log in with user (should Last and First name

[2021-06-28 16:18] rdjuric commented on #3623
@marcaaron

I think the closest thing we have to a bug here is that our `NetworkRequestQueue` is being cleared even if there're requests in it that haven't been sent yet (that's the root cause of our stuck messages).  Do you think I should submit a proposal to improve this here or it's something for #3608?

[2021-06-28 16:33] rushatgabhane opened #3779 "Use left/right arrow keys to move cursor in IOUAmountPage"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Request money to any user.
2. Enter an amount.
3. Use left/right arrow key to move the cursor.
## Expected Result:
The cursor on the amount shoul

[2021-06-28 16:57] marcaaron commented on #3623
I'm not following that other issue very closely, but it doesn't seem like it proposes to fix any specific problem.

If a message fails to send for any reason it will appear at the bottom. This is by design since we are showing you the most accurate order we have based on what is saved in the server. Are we trying to change that behavior? Or are we trying to figure out why the message was not succe

[2021-06-28 17:00] marcaaron commented on #3513
Sorry, I'm not sure. Just tossing out a suggestion in the hopes someone would investigate.

[2021-06-28 17:07] marcaaron commented on #3513
@parasharrajat Submitting a PR against `react-native-document-picker` is a good idea. `react-native-directory-picker` should probably be avoided since it does not have much community traction.

Could we maybe build this ourselves as a native module? It doesn't feel like there is a clear 3rd party package that does exactly what we need.

[2021-06-28 17:12] parasharrajat commented on #3513
Yeah creating our own native module is good idea as we can decide the behaviour. and if this works great then we can submit a PR to `react-native-document-picker`. Its fine if they won't accept it.

[2021-06-28 17:20] kidroca commented on #2985
@jboniface I wasn't sure, so I haven't. I'll go and accept it now

[2021-06-28 17:24] kidroca commented on #2667
Sure

[2021-06-28 17:36] rdjuric commented on #3172
### Proposal

This also happens in our chat if the name is long enough (or the screen small enough)
![teste1](https://user-images.githubusercontent.com/53711423/123679554-fc17c700-d81d-11eb-9d36-8edbd97e7b6e.png)

Both screens use our `ReportActionItemFragment` to render the display name. We can fix it by specifying width: 100% in our containerStyle.

[2021-06-28 17:38] mallenexpensify commented on #3381
Pinged a few contributors in Upwork who submitted proposals there, asked them to post here.

[2021-06-28 17:38] NikkiWines commented on #3767
@isagoico nice catch! I didn't read those reproduction steps closely enough it seems. Can confirm there is an issue when using the right-click menu

https://user-images.githubusercontent.com/16747822/123679872-dfb76280-d7fc-11eb-9d6a-ba4b21f11461.mov

Adding the `External` label since this would be a good one for someone from UpWork to work on

[2021-06-28 17:51] mallenexpensify commented on #3623
This is not expected behavior, new messages should always persist at the bottom and old messages should be above them. The video in the OP shows how a message is stuck at the bottom even as I send new messages.  The issue from this morn was similar but it wasn't a single message stuck at the bottom, it was a few messages. Any new messages I sent showed above the few old stuck messages

[2021-06-28 17:54] jsamr commented on #1038
@marcaaron Hi folks! RNRH maintainer here. As I have some free time, I'm crafting a quote for Expansify, migrating RNRH to version 6.0.0-beta.6 with a few optimizations and I stumbled on this thread looking for issues related to my lib. If I remember well, back to alpha.10, an equivalent of `passProps` was consumable via the `useSharedProps` hook.  As of beta.6, `sharedProps` is passed to custom r

[2021-06-28 17:55] mallenexpensify commented on #3671
If the servers are down, is there a way that we can have e.cash default to offline mode so that it doesn't log users out?

[2021-06-28 18:02] NikkiWines commented on #3599
@isagoico is this only reproducible for this one tester on the one device? Or can we confirm that it can be reproduced on multiple android devices? Either way though, since it's reproducible on at least one device, do we want to accept the [above proposal](https://github.com/Expensify/Expensify.cash/issues/3599#issuecomment-862942603) for this one @Jag96?

[2021-06-28 18:13] jboniface commented on #2985
Ok, cool, once you've done that, I think someone on the UW team needs to do something to share the contract with me, so it could be a little while longer before I can pay.

[2021-06-28 18:23] mallenexpensify commented on #3671
@marcaaron do you think there should be separate issue for "When site is down, go into offline mode"? If so, I can create one

[2021-06-28 18:30] michaelhaxhiu commented on #3569
@Jag96 are we good to pay this today or do we want to wait for the latest PR to hit production? It's on staging right now https://github.com/Expensify/Expensify.cash/pull/3717

[2021-06-28 18:39] parasharrajat commented on #3671
Kicking user out without any notification is very bad UX for me.

[2021-06-28 18:47] anthony-hull commented on #2734
I think it's best to show the password by default on mobile devices. You can trivially move your screen in a way to obscure the password as you type. Additionally as you type there is a large on screen keyboard that people can watch you enter it on. I'm not sure there is much of a security gain from it vs the loss of UX.

On desktop, mask passwords by default, but add a “Show” option so that peopl

[2021-06-28 19:08] #3605 closed

[2021-06-28 19:15] arielgreen commented on #2667
Upwork posting [here](https://www.upwork.com/jobs/~01199faedcc6335866).

[2021-06-28 19:19] roryabraham commented on #3297
Making this a weekly, hopefully should be able to implement the solution sometime this week.

[2021-06-28 19:20] roryabraham commented on #2279
PR for this is in review

[2021-06-28 19:31] marcaaron commented on #3671
@mallenexpensify yes, I think so. I'm not sure if what you and I experienced are the same. The error message you're seeing is different from the one I originally shared here. Also, IIRC the site was working fine when I was logged out last time.

[2021-06-28 19:33] Luke9389 commented on #3768
Seems like a good external issue

[2021-06-28 19:33] parasharrajat commented on #3767
So this one is interesting. Actually it is caused by one of my changes here #3515 but those changes are needed. As ReportActionContextMenu is now closed on clicking outside, so it cause the delete Modal to be closed immediately if click anywhere. Though it seems that we are clicking on the button but before that event is processed, the Wrapping ReportActionContextMenu will be closed. Due to the re

[2021-06-28 19:35] parasharrajat commented on #3671
yeah, it seems that this issue is different from the one we are facing today.

[2021-06-28 19:53] jboniface commented on #3317
@roryabraham just checking back on this, does it need to be open/external?

[2021-06-28 20:00] marcaaron commented on #3623
Based on the current design if a message fails to send then... yes... it will appear below ones that succeed before it does. This is how things are coded up and aligns with my expectations. This could be improved and we can change it, but it's not clear to me how this will work.

I think we are dealing with two problems here...

1. Why did a message fail to send?
2. When messages fail to send (eit

[2021-06-28 20:01] roryabraham commented on #3775
It may have been expected behavior at the time when we implemented the `Delete Message` function, but is there any reason we can't fix it now? I wonder if we can use the same approach for attachments as we do for other `reportActions`, and just set the `reportAction.message.html` to `''` ?

[2021-06-28 20:04] roryabraham commented on #3317
No, I still think this is a dupe of https://github.com/Expensify/Expensify.cash/issues/3313.

[2021-06-28 20:04] #3317 closed

[2021-06-28 21:35] isagoico commented on #3759
Regression is finished!
2 issues found today:
1. https://github.com/Expensify/Expensify.cash/issues/3768
2. https://github.com/Expensify/Expensify.cash/issues/3767

PRs are finished too.
No comments added:
These 2 PRs are left to check off (they're internal QA)
- https://github.com/Expensify/Expensify.cash/pull/3540
- https://github.com/Expensify/Expensify.cash/pull/3718

Leaving the lock label on

[2021-06-28 21:46] isagoico commented on #3599
Yep! so far it has been reproducible only on 1 device for 1 tester.

[2021-06-28 21:48] roryabraham commented on #3768
I think this should be a deploy blocker.

[2021-06-28 21:49] OSBotify commented on #3768
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-28 21:52] parasharrajat opened #3781 "LHN can be scrolled horizontally while closed."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
LHN can be scroll horizontally and a scrollbar is present only when no chat is active.

## Action Performed:
1. Open E.cash Mobile web.
2. Open any chat.
3. Close the cha

[2021-06-28 21:52] rdjuric commented on #3768
Wasn't able to reproduce it

[2021-06-28 21:54] parasharrajat commented on #3768
I can't reproduce this.

[2021-06-28 21:59] roryabraham commented on #3767
So just to clarify my understanding of this issue:

1. The `ReportActionContextMenu` needs to be closed on outside click.
1. If you click on the `ConfirmModal` that appears for the delete action, you will have clicked outside the `ReportActionContextMenu`
1. Thus, the `ReportActionContextMenu` is closed. Since the `ConfirmModal` is a child of the `ReportActionContextMenu`, the `ConfirmModal` is al

[2021-06-28 22:00] roryabraham commented on #3768
@isagoico Which mobile browser were you able to reproduce this in?

[2021-06-28 22:04] isagoico commented on #3768
We were able to reproduce on devices with this browser resolution
<img src="https://user-images.githubusercontent.com/44479856/123709423-5ab86180-d86d-11eb-84a2-739fcf555904.png" width="40%">

[2021-06-28 22:13] parasharrajat commented on #3767
Yeah, I confirm @roryabraham. We should lift the ConfirmModal and maybe we can make it singleton for all actions.

[2021-06-28 22:15] roryabraham commented on #3767
Cool, I don't think this needs to be a deploy blocker, but @parasharrajat do you have the bandwidth to work on this?

[2021-06-28 22:15] parasharrajat commented on #3767
Yup, I have partial solution ready.

[2021-06-28 22:16] isagoico opened #3782 "[HOLD for payment July 7] Focus mode - Show draft messages in #focus"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork link: https://www.upwork.com/jobs/~0130bb846f8492f917
___

## Action Performed:
Scenario 1
1. Log in to e.cash
2. Navigate to a conversation and type a message (do no

[2021-06-28 22:18] parasharrajat commented on #3781
### Proposal
1. We need to disable the horizontal overflow on the Main Drawer Container. Using `overflow-x:hidden` fix this issue.

[2021-06-28 22:28] mallenexpensify commented on #3195
@roryabraham to confirm... `seems like a good idea to me 👍🏼` means I should hire @dklymenk in Upwork?

[2021-06-28 22:31] parasharrajat commented on #3782
### Proposal
1. For this we need to check if a report has a draft message then prevent it from being filtered from the list here https://github.com/Expensify/Expensify.cash/blob/a1c742c194084b6b65c3f29225d25d3cfe08cce4/src/libs/OptionsListUtils.js#L302.

To do the above
2. First, we will add a config option to `getOptions` named as `showReportsWithDraft` at https://github.com/Expensify/Expensify.c

[2021-06-28 22:31] isagoico opened #3783 "mWeb - Focus on search boxes changes when tapping outside the box (Visual issue)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash on mobile web (iOS)
2. Open search
3. Tap outside the box

## Expected Result:
Focus should be consistent in all inputs

## Actu

[2021-06-28 22:36] iwiznia commented on #2973
Thanks for all the investigations and details. I agree with you that those 2 options are not great and that we should go with changing the input height to a size where the bug is not present.
Ideally we would not have to make this change in every input. I think we don't have to, because they all are using [this](https://github.com/Expensify/Expensify.cash/blob/e0cecca591597c12ae249fbebefaae561588f

[2021-06-28 22:42] isagoico opened #3784 "User Profile - Make user icon and name clickable anywhere in the app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash
2. Try clicking on another's user's icon or name around the app.

## Expected Result:
Clicking on the user icon or name should a

[2021-06-28 22:44] roryabraham commented on #3195
Hmmm @mallenexpensify I thought he was already hired? https://github.com/Expensify/Expensify.cash/issues/3195#issuecomment-865334226

[2021-06-28 22:47] mallenexpensify commented on #3195
D'oh, my bad. I think I forgot to assign the issue earlier so didn't see @dklymenk when I glanced earlier.  Assigned now

[2021-06-28 22:55] mallenexpensify commented on #2734
Thanks @anthony-hull , I'm double checking to make sure this isn't something that's already being worked on internally.  I'll followup tomorrow

[2021-06-28 23:17] thienlnam commented on #3782
@parasharrajat The proposal looks great, 🟢  from me - @Jag96 could you please hire @parasharrajat in upwork?

[2021-06-28 23:55] mallenexpensify commented on #3671
Created a separate internal issue to solely focus on 'site down > user logged out' https://github.com/Expensify/Expensify/issues/168965

[2021-06-28 23:56] Jag96 commented on #3782
Posted to Upwork and invited @parasharrajat to the job!

[2021-06-29 00:02] Jag96 commented on #3767
Posted to Upwork and invited @parasharrajat to the job!

[2021-06-29 00:13] rushatgabhane commented on #3779
## Proposal
Instead of `onKeyPress`, use onChangeText prop to handle amount changed.
And set the amount if it's valid.
[code]
https://github.com/Expensify/Expensify.cash/blob/a1c742c194084b6b65c3f29225d25d3cfe08cce4/src/pages/iou/steps/IOUAmountPage.js#L162-L172

Works fine on initial testing.

https://user-images.githubusercontent.com/29673073/123718463-d921fd00-d887-11eb-80aa-4faa90d47b5d.mp4

[2021-06-29 00:18] Jag96 commented on #3569
I think this is fine to pay out now since its a very small change, it's been merged for 7 days, and I just confirmed it's working properly on staging. Paid!

[2021-06-29 00:18] #3569 closed

[2021-06-29 00:31] rushatgabhane commented on #3349
This issue can be closed. PR merged.
Also, can someone hire me on upwork :)

[2021-06-29 01:04] rushatgabhane commented on #3400
Not an issue.

[2021-06-29 01:04] #3400 closed

[2021-06-29 01:05] Jag96 commented on #2920
Paid!

[2021-06-29 01:05] #2920 closed

[2021-06-29 01:12] rushatgabhane opened #3785 "Web/Desktop Press Enter key to go next."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
These are the places where this issue is occuring. If you find any more, please comment below.
### Request payment
1. Request payment to any user
2.

[2021-06-29 01:13] Jag96 commented on #3599
@NikkiWines I haven't had a chance to review the proposals, @aliabbasmalik8 is Proposal 1 preferred over Proposal 2? For Proposal 2 can you expand on `and after that, I also need to handle some more work that relates to the emoji position on android`.

[2021-06-29 01:18] rushatgabhane commented on #3785
## Proposal
Subscribe Enter key to the confirm request button on component mount, and unsubscribe on unmount.

[2021-06-29 02:11] rdjuric commented on #3778
### Proposal

This happens because [we're not merging](https://github.com/Expensify/Expensify.cash/blob/25ce0081508184f504c6801287e79fbe9dd20d7e/src/libs/actions/PersonalDetails.js#L202) our local changes in the case of an empty first and last name. This should be unnecessary because our `getDisplayName` function already deals with the case of an empty name.

By removing it we get the expected beh

[2021-06-29 03:42] Luke9389 commented on #3768
Tested just now and haven't been able to reproduce. Gonna switch my emulator to a Samsung Galaxy A50 and try again.

[2021-06-29 03:43] Luke9389 commented on #3768
@parasharrajat and @rdjuric did you try with a Samsung Galaxy A50 or a SG 10?

[2021-06-29 04:39] aliabbasmalik8 commented on #3599
@Jag96

YES

[2021-06-29 05:03] dklymenk commented on #2973
I'm sorry, but I'm not following. You said "Ideally we would not have to make this change in every input." and then suggested that instead of changing the value that affects only text inputs, we change a variable that is used 18 times in `styles/styles.js` and will affect many different components: avatars, menu items, buttons, pickers, etc. What exactly do you mean here?

Anyway, I have conducted

[2021-06-29 08:50] MariaHCD commented on #3775
Thanks for the clarification!

[2021-06-29 09:14] aliabbasmalik8 commented on #3783
**PROPOSAL:**

[code]

Need to update `textInputReversedFocus` styling object like above mentioned code
https://github.com/Expensify/Expensify.cash/blob/5cde3ca0d202f1086d24d2449c84a4482c688892/src/styles/styles.js#L413-L415

Thanks

[2021-06-29 09:18] trjExpensify commented on #3349
Thanks, @rushatgabhane. We'll keep the issue open for 7 days and then close it once paid. 👍

Re: hiring on Upwork, I'm just working through a change to our Upwork account over the weekend. I'll hire you as soon as I can, likely when the US get online later and that is resolved - apologies for the delay! (Expensify folks, thread [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1624957376382

[2021-06-29 10:12] Julesssss opened #3787 "[TEST] Testing Web-E issue 31276"
Testing this issue: https://github.com/Expensify/Web-Expensify/pull/31276

[2021-06-29 10:26] isagoico commented on #3768
Just asked the testers again if they are able to reproduce the issue. Will post here the results.

[2021-06-29 10:57] sketchydroide commented on #3195
I've look into the code in the PR, it looks good, @dklymenk raised a concern that I'll investigate into, but I don't think it should affect this GH and PR, it will most likely be resolved internaly by us.

[2021-06-29 11:01] isagoico commented on #3768
Tester is still able to reproduce on Chrome browser

https://user-images.githubusercontent.com/44479856/123786558-2038de00-d8da-11eb-9884-a3f94723d06c.mp4

[2021-06-29 11:04] isagoico opened #3790 "[HOLD for payment July 20] Markdown - Copied text (with markdown) does not show the formatting when pasted in e.cash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork job: https://www.upwork.com/jobs/~01784929033238eacd
___

## Action Performed:
1. Copy the following text:

**Bold text**
_italic text_
~Strikethrough text~

- Bullet

[2021-06-29 13:03] trjExpensify opened #3791 "[HOLD for payment on July 8] Add icons to the IOU payment methods"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

Upwork job: https://www.upwork.com/jobs/~01b50df711834398c8
___

## Deliverables

- Add icons to all of the IOU payment methods in the payment method selector within the IOU

[2021-06-29 13:34] rdjuric commented on #3775
### Proposal

We change our [shouldShow](https://github.com/Expensify/Expensify.cash/blob/5cde3ca0d202f1086d24d2449c84a4482c688892/src/pages/home/report/ReportActionContextMenu.js#L137) condition for the delete option to be a new function `canDeleteReportAction`.  It will be similar to our [canEditReportAction](https://github.com/Expensify/Expensify.cash/blob/5cde3ca0d202f1086d24d2449c84a4482c6888

[2021-06-29 14:30] flodnv opened #3792 "Update "Request Money" / "Split bill" to work offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the desktop app
2. Turn off my internet connection
3. Click Global Create  > Request Money

## Expected Result:
I expect to be able to req

[2021-06-29 14:37] Julesssss commented on #3792
I don't think we have used this functionality outside of messages yet, so that would probably be a wider, separate issue.

I think the expected result here would be that users can navigate through the IOU steps, but should be stuck on the Submit page until the connection has returned.

[2021-06-29 15:08] conorpendergrast commented on #3779
Reproduced, agreed that this is worth fixing. I don't have a comment on the proposed solution here - moving to Engineering for triage!

[2021-06-29 15:17] mallenexpensify commented on #2734
Thanks for holding, nobody mentioned this is something that's currently be worked on. I agree this is feature that would be useful. First, can you take a peek at this issue to see if any work being done there would help on mobile for this issue?  https://github.com/Expensify/Expensify.cash/issues/3108 (I have no idea, just searched 'show password' in the repo to ensure something wasn't already bei

[2021-06-29 15:18] TomatoToaster commented on #3779
Feels like a classic external ticket to me.

[2021-06-29 15:29] OSBotify commented on #3781
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-29 15:30] roryabraham commented on #3781
Oh, jk this doesn't need to be a deploy blocker because it exists on production too.

[2021-06-29 15:31] roryabraham commented on #3781
Yeah, I think this can be worked on externally.

[2021-06-29 15:32] jboniface commented on #3791
lgtm

[2021-06-29 15:33] rushatgabhane commented on #3792
@Julesssss
In my humble opinion, If the user is stuck on submit page, we wasted their time by making them go through the steps. Request isn't saved, so they'll have to do it again.

An alternative could be to queue the API request and call it when the user is back online. (should be a bad idea if user comes back online after a month?)

Or don't allow the user to request payment, and display an off

[2021-06-29 15:44] Julesssss commented on #3792
IMO the main goal for this issue should be to not block users unnecessarily at the amount page. If the getCurrencyByIP API fails, then we should simply use a default of USD and allow the user to continue through the flow. Ideally the connection will have returned by the confirmation step, and if not we handle the case gracefully.

This would almost be my preference -- but I don't think we should b

[2021-06-29 16:02] roryabraham commented on #3662
@jboniface Can you please hire @parasharrajat for this on Upwork? Thanks!

[2021-06-29 16:04] mallenexpensify commented on #3785
Thanks @rushatgabhane , checking in on [the Slack thread ](https://expensify.slack.com/archives/C01GTK53T8Q/p1624982556216600?thread_ts=1624927730.192000&cid=C01GTK53T8Q)to see if we want to address other places we might want to 'fix' this at the same time.  Do you know of any others? I can't think of any and I def noticed this one previously

[2021-06-29 16:16] SofiedeVreese commented on #3755
@kevinksullivan @trjExpensify @jboniface quick buddy check: is this being worked on in any of our future newsletters? Want to avoid getting a contributor to work on this when it's already pre-planned. Ta!

[2021-06-29 16:17] Beamanator commented on #3108
I'd say if you can modify that Picker (the custom one we have already) that would be ideal. Are there some uses of Picker that need to remain, without style updates? I would imagine not?

[2021-06-29 16:18] Drewfergusson commented on #3313
@roryabraham I was looking at this issue to possibly work it. I agree with you that we should be able to wrap the individual HTML elements (<a> and <img>) so that when a user clicks that it brings up specific action menus. We can do this in the RenderHTML file if we pull out and reuse some of the logic for positioning in the ReportActionItem controller.

The issue I was seeing was there doesn't se

[2021-06-29 16:19] iwiznia commented on #2973
I mean we should not have to go to the where each input is used and change the code in each file, but instead change the config that's already used in all of them. So we change one place, but affect all usages of it.
As for it affecting every component, yes, I know, all components have the same height now, so the idea is to keep that and make them all 41px high, instead of having text inputs be 41

[2021-06-29 16:23] dklymenk commented on #2973
Ah, ok. I see. In that case I agree then. We just replace 40 with 41 in `variables.js` and call it a day.

Do you want me to submit a PR?

[2021-06-29 16:28] jboniface commented on #3755
well, we're adding it as part of the Rooms project, not totally sure if this functionality will impact DMs individually. cc @yuwenmemon

[2021-06-29 16:28] bfitzexpensify commented on #2540
Upwork posting [here](https://www.upwork.com/jobs/~011df2aba50656f00d)

[2021-06-29 16:28] MitchExpensify commented on #3781
How confident are we that this proposal will also fix [this](https://github.com/Expensify/Expensify.cash/issues/3768)? (Just want to avoid any dupe work if possible)

[2021-06-29 16:31] Luke9389 commented on #3768
@isagoico Can we test if this is occurring on production as well?

[2021-06-29 16:34] roryabraham commented on #3313
@Drewfergusson Would you be interested in working on the portion of this that targets links/URLs? If you can build a general solution to tailor the content of our custom context menu based on the html tag that was interacted with to open the menu, I think that would be a really valuable first step.

Then we could move on to a follow-up that focuses on the ability to copy images, and more-or-less c

[2021-06-29 16:39] parasharrajat commented on #3781
@MitchExpensify
I am not too sure about the other issue at hand as I am yet to reproduce it but to me, it seems like an overflow issue at first sight. I'll try to reproduce that on the emulator. It's fine to keep that open for the moment being a solution is discovered.

[2021-06-29 16:43] arielgreen commented on #3626
Closing per [this discussion](https://expensify.slack.com/archives/C01SKUP7QR0/p1624982683388500), we can reopen later if we change our minds.

[2021-06-29 16:47] roryabraham commented on #3781
Just tested, and https://github.com/Expensify/Expensify.cash/issues/3768 does not seem to be fixed by `overflowX: 'hidden'` alone

[2021-06-29 16:48] parasharrajat commented on #2258
@kadiealexander any update here for me. thanks.

[2021-06-29 17:00] parasharrajat commented on #3781
yeah as overflow is in Y-axis so overflowX will not have any effect. But I am yet to test the issue but before I need to reproduce it. Will share an update today on that.

[2021-06-29 17:19] shawnborton commented on #2973
I don't think we should do that because things like avatar images use 40px for their height. Instead, I would recommend making a separate variable for input sizes.

[2021-06-29 17:23] roryabraham commented on #3768
Hmmm I'm unfortunately not able to reproduce in Chrome's responsive mode at that aspect ratio:

![image](https://user-images.githubusercontent.com/47436092/123839611-291db580-d8c2-11eb-8491-8e49db6bda3b.png)

[2021-06-29 17:25] shawnborton commented on #3791
I included the cash, PayPal, and Venmo icons here: [PaymentIcons.zip](https://github.com/Expensify/Expensify.cash/files/6735264/PaymentIcons.zip)

The wallet icon already exists in the E.cash repo.

[2021-06-29 17:32] rdjuric commented on #3768
I was able to reproduce this by changing my chrome settings: Settings -> Accessibility -> Force Enable Zoom, gives the exact behavior of the video.

Can we confirm if the tester has this accessibility setting enabled? I don't think it's a default on any Chrome version.

[2021-06-29 17:37] parasharrajat commented on #3791
Seems like a quick one. We need to pass the icon to menu items here https://github.com/Expensify/Expensify.cash/blob/b49e2221f74f04e664f10a0675c4d4fe7cc5de07/src/pages/iou/IOUDetailsModal.js#L260.

Thus we update our Button component to add support for an optional Icon. We can pass custom ContentComponent to the Button but I think it would be best to support icon natively in button Compoenent.

Th

[2021-06-29 17:52] #3662 closed

[2021-06-29 17:53] isagoico commented on #3768
Issue is also reproducible in production

[2021-06-29 17:54] Luke9389 commented on #3768
Ok cool, gonna take the `DeployBlockerCash` off of this then.

[2021-06-29 17:56] roryabraham commented on #3775
@rdjuric Your proposal looks good! Nice and simple! Feel free to submit a PR once you've been hired on Upwork

@JmillsExpensify Let's make sure that we get @rdjuric hired on Upwork.

[2021-06-29 18:00] #3627 closed

[2021-06-29 18:07] ObasiGodstime commented on #3172
**Proposal**

This a styling issue and it is caused by the flex-shrink attached, once this is removed or actually made to shrink rather than overflow. We can solve this issue and other places it might be appearing

<img width="204" alt="Screenshot 2021-06-29 at 7 07 11 PM" src="https://user-images.githubusercontent.com/42383942/123846394-38762080-d90d-11eb-855f-d6c41aefc758.png">

[2021-06-29 18:10] parasharrajat commented on #2846
Any update for this issue. Could be quickly resolved?

[2021-06-29 18:11] dklymenk commented on #2973
If you want, I can compile a list of components where the `componentSizeNormal` variable is used, so you have a better understanding of affected UI elements across the app. Should help make you make a decision.

Let me know if you need this list.

[2021-06-29 18:21] rushatgabhane commented on #3792
I understand, sounds good.

[2021-06-29 18:23] mallenexpensify commented on #3785
From thread.... @parasharrajat recommends:
Yeah, a audit is good. There are few places to look for.

- Profile Page.
- Add Secondary Login.
- Add Paypal me.
- Change password.
- Sign In page.
- Forget password.
- Change currency.
- Confirm IOU payments. Both Split and Requests.
- Add workspace.
- Create Group.
- Create Chat.

[2021-06-29 18:23] isagoico opened #3797 "Markdown - Large code blocks are not displayed until user refreshes the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash as account A
2. Navigate to a conversation with account B
3. Open a incognito tab and log in to account B
4. Send a large code b

[2021-06-29 18:26] saracouto commented on #2540
FYI - this has been resolved on my end, no more unread messages!

[2021-06-29 18:28] iwiznia commented on #2973
Great catch! I agree.

No need, let's create the new variable and only use it for input sizes like @shawnborton suggested.

[2021-06-29 18:31] dklymenk commented on #2973
If it is only going to be used for textInput, do we need a variable? Seems to me like this proposal [here](https://github.com/Expensify/Expensify.cash/issues/2726#issuecomment-837876823) is what we need after all?

[2021-06-29 18:33] roryabraham commented on #3759
Manually removing:

- https://github.com/Expensify/Expensify.cash/pull/3732
- https://github.com/Expensify/Expensify.cash/pull/3742
- https://github.com/Expensify/Expensify.cash/pull/3754
- https://github.com/Expensify/Expensify.cash/pull/3763
- https://github.com/Expensify/Expensify.cash/pull/3765
- https://github.com/Expensify/Expensify.cash/pull/3766
- https://github.com/Expensify/Expensify.cas

[2021-06-29 18:33] isagoico opened #3798 "Phone number - Add country code input to phone number field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to an account that doesn't have a phone number set
2. Navigate to profile settings
3. Scroll to the phone number field

## Expected Result

[2021-06-29 18:35] iwiznia commented on #2973
I think Shawn meant that it should be used for all inputs, not just text inputs. Right @shawnborton?

[2021-06-29 18:39] roryabraham commented on #3759
:shipit:

[2021-06-29 18:39] #3759 closed

[2021-06-29 18:42] isagoico commented on #3768
Tester verified if she had the accessibility setting enabled and it had the default setting so not sure if it's caused because of this.

[2021-06-29 18:43] OSBotify opened #3802 "Deploy Checklist: Expensify.cash 2021-06-29"
**Release Version:** `1.0.75-5`
**Compare Changes:** https://github.com/Expensify/Expensify.cash/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/Expensify.cash/pull/3659
- [x] https://github.com/Expensify/Expensify.cash/pull/3732
- [x] https://github.com/Expensify/Expensify.cash/pull/3742
- [x] https://github.com/

[2021-06-29 18:45] roryabraham commented on #3802
Confirmed that [all these issues](https://github.com/Expensify/Expensify.cash/issues/3759#issuecomment-870822784) were correctly added to this checklist 👍

[2021-06-29 18:50] isagoico commented on #3802
Nice! We are good to start QA right?

[2021-06-29 18:53] shawnborton commented on #2973
Yes, sorry, that's what I meant @iwiznia.

[2021-06-29 18:55] dklymenk commented on #2973
Ok, so it's just text input and picker elements then, right?

[2021-06-29 18:57] shawnborton commented on #2973
Correct. Instead of 41, does 42 or 44 work? Apologies but I would love to use an even number here :)

[2021-06-29 18:58] dklymenk commented on #2973
42 also works, same with 44. So will anything above given we don't change fontSize.

[2021-06-29 19:01] shawnborton commented on #2973
Sounds good, let's go with 42 for now.

[2021-06-29 19:16] Luke9389 commented on #3798
Looks like a great External issue 👍

[2021-06-29 19:24] michaelhaxhiu commented on #2545
Still waiting on https://github.com/Expensify/Expensify.cash/issues/2985

[2021-06-29 19:28] michaelhaxhiu commented on #3455
How is this one coming along? Seems we are blocked on finding a method that works, since `EventEmitter.removeListener` is being deprecated?

[2021-06-29 19:37] rushatgabhane commented on #3455
@michaelhaxhiu Yeah, we first have to wait for ReactNative to release their stable version 0.65.0 which deprecates `EventEmitter.removeListener`.

Then wait other third party libs to upgrade to RN 0.65.0.

This could take a few months easily.

[2021-06-29 19:52] aliabbasmalik8 commented on #3798
Would like to work on this issue. We can use some components for this issue like `https://www.npmjs.com/package/react-native-phone-number-input` OR can make all work custom.

With a custom approach, we can save all country codes in an array and show them in the dropdown list with phone number input.

Also, it's great to add UI-relevant instruction in the job description.
Thanks

[2021-06-29 19:53] arielgreen commented on #2279
Reopening, will close again upon payment July 6th.

[2021-06-29 19:53] rdjuric commented on #3775
Thanks @roryabraham! PR is up at #3804

[2021-06-29 19:57] parasharrajat commented on #3455
Seems like You got it wrong @rushatgabhane. RN-modal does not depend on RN's specific version. You have to upgrade our codebase to RN 0.65.0 from 0.64.

[2021-06-29 20:04] rushatgabhane commented on #3455
@parasharrajat
Yeah I could be, but here is an example of RN-Modal using `EventEmitter.removeListener`

https://github.com/react-native-modal/react-native-modal/blob/60ea392df7d26a598628b1f3a06440b7ecccacd9/src/modal.tsx#L259

[2021-06-29 20:18] dklymenk commented on #2973
@iwiznia I have submitted a PR #3805. Seems like pullerbear has assigned you already.

[2021-06-29 20:29] iwiznia commented on #2973
Nice, thank you so much for this!

Yep, we updated it so that it assigns the expensify engineer that's assigned to the issue 😄

[2021-06-29 20:53] rdjuric opened #3806 "mWeb iOS - Can't scroll messages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps
1. Open any conversation
2. Try to scroll the messages up or down
3. The view doesn't scroll

## Expected Result:
Descr

[2021-06-29 20:54] Luke9389 commented on #3172
@rdjuric Can you clarify what you meant to say with this?

[2021-06-29 21:02] rdjuric commented on #3172
Sorry! I meant to say that our `ToolTip` component can take a `containerStyle` prop, and that it passes it to our `Hoverable` component and to the `View` that wraps our text here:
https://github.com/Expensify/Expensify.cash/blob/5add245777dbcb7826f2444601debe15249bf7f1/src/components/Tooltip/index.js#L177-L188

[2021-06-29 21:08] Luke9389 commented on #3172
Ah, OK cool, thanks!

So you're thinking we should just put `width: 100%` in that `containerStyle`?

[2021-06-29 21:14] rdjuric commented on #3172
Yes, that will make our `ToolTip` component stay within the width of its parent. As our text is already styled correctly, correcting our `ToolTip` style made the text wrap correctly.

[2021-06-29 21:15] parasharrajat commented on #3172
I am pretty sure that we want it to be trimmed with ellipsis... cc @shawnborton

[2021-06-29 21:26] rdjuric commented on #3172
@parasharrajat
Yea, I think that would look better too. And we would just need to add `numberOfLines={1)` to our `Text` (after fixing the `ToolTip` width)

[2021-06-29 21:31] Luke9389 commented on #3768
Ok so now that we know this issue is just a bug that's been on production I think we are safe to post this on Upwork @MitchExpensify. One prerequisite that we'll need to check off is that the contractor can actually reproduce this.

[2021-06-29 21:32] Luke9389 commented on #3172
Ok, well @rdjuric you can go ahead and spin up the PR given that you've submitted you're proposal. 👍

[2021-06-29 22:08] Drewfergusson commented on #3313
@roryabraham sounds like a plan. I just submitted a proposal on Upwork. Also if you make a separate ticket for creating an image to the clipboard solution link it and I'd like to take a look at it too.

[2021-06-29 22:10] rdjuric commented on #3806
Looks like it's a regression from https://github.com/Expensify/Expensify.cash/pull/3659

[2021-06-29 22:23] roryabraham commented on #3802
Yep, you're good to begin QA as soon as you're ready

[2021-06-29 22:26] marcaaron opened #3810 "Navigating to a chat you can't access results in a blank screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Got an email for a report comment and clicked the link
2. Was logged into E.cash with an account that could not access said report
3. Landed on

[2021-06-29 22:40] iwiznia commented on #3792
IMO this should be exactly like sending a message. If you are offline, we show you some indication that the action was not taken and send it as soon as you come online.

[2021-06-29 23:08] roryabraham commented on #3802
So [this workflow](https://github.com/Expensify/Expensify.cash/runs/2946595552?check_suite_focus=true) seems to have added way too many issues to this checklist. I've been doing my best to diagnose it, but as far as I can tell it seems like [this is the line](https://github.com/Expensify/Expensify.cash/runs/2946595552?check_suite_focus=true#step:9:304) where it really went wrong.

[2021-06-29 23:12] roryabraham commented on #3802
Here's the source of our error:

![image](https://user-images.githubusercontent.com/47436092/123878673-6ac75400-d8f4-11eb-945a-5b6686c118b9.png)

And then the code where that happens is [right here](https://github.com/Expensify/Expensify.cash/blob/266a2a812a702b1500fc26287830aaa5cee4af1b/.github/actions/createOrUpdateStagingDeploy/createOrUpdateStagingDeploy.js#L62). So it seems that `newVersion`

[2021-06-29 23:16] mvtglobally commented on #3802
Starting QA

[2021-06-29 23:17] mvtglobally commented on #3802
@roryabraham We will work through the top list. If any PRs need to be removed, let us know.
We will wait for 1.0.75

[2021-06-29 23:19] roryabraham commented on #3802
I just removed a bunch from the list. Working on trying to fix the checklist in the meantime

[2021-06-30 00:08] shawnborton commented on #3387
Any update on this one?

[2021-06-30 01:21] jliexpensify commented on #3779
Posted: https://www.upwork.com/jobs/~01a3bdaa0904a69a95

[2021-06-30 01:22] jliexpensify commented on #3779
@roryabraham - got a proposal from @rushatgabhane already, if you could take a look. Cheers!

[2021-06-30 02:16] mallenexpensify commented on #1341
Closing this, once we're able to fix https://github.com/Expensify/Expensify.cash/issues/3381 we can create a new issue with/for next steps

[2021-06-30 02:16] #1341 closed

[2021-06-30 02:26] mallenexpensify commented on #3790
@tylerkaraszewski this can be worked on by a contributor, right? If so, can you add the `External` label, thanks

[2021-06-30 03:11] sophiepintoraetz commented on #3663
Ah, actually, this is difficult for me to recreate, seeing as I don't have another mobile number to receive the verification. Passing on - lmk if there's a place I can test this elsewhere!

[2021-06-30 03:27] Jag96 commented on #3778
@rdjuric good find! Your proposal looks good to me, I've invited you to the Upwork job (https://www.upwork.com/jobs/~0133c0817f9a59ef1d). Please accept the invite there and once the offer is sent you're good to start on a PR!

[2021-06-30 05:03] Jag96 commented on #3778
Offer sent!

[2021-06-30 06:31] kadiealexander commented on #2258
@parasharrajat sorry about this, the job was moved to our Enterprise login and a bit of weirdness occurred. I've just sent an offer in Upwork, if you could please accept this and I'll issue payment.

[2021-06-30 06:47] SofiedeVreese commented on #3755
Hey @yuwenmemon just hoping to get your eyes on @jboniface comment above -- thanks!

[2021-06-30 06:48] yuwenmemon commented on #3755
It will not impact DMs individually - for now the notification preference options we're building out only apply to Rooms.

[2021-06-30 07:11] parasharrajat commented on #2258
Done

[2021-06-30 09:08] dklymenk commented on #3810
Hello, if you decide to make this external I have a proposal.

It should be as simple as refactoring `ReportView` to render the error instead of `ReportActionsView` and `ReportActionCompose`, if there is no reportID for requested report in local storage.

[code]
and also map report to props via `withOnyx`:
[code]
also adjust proptypes accordingly.

It will look like this:
![DeepinScreenshot_select

[2021-06-30 09:08] SofiedeVreese commented on #3755
Ok cool- in that case I'll post this job on Upwork. Thanks for confirming @yuwenmemon !

[2021-06-30 09:12] parasharrajat commented on #3755
Great. @SofiedeVreese Could you please update the information of what exactly is expected here to be done so that I can propose accordingly.
My suggestion is on the issue description but we have to decide how would we want to tackle it?

[2021-06-30 09:20] SofiedeVreese commented on #3755
I think that's better left for the Engineering triager, @timszot do you have any thoughts here?

[2021-06-30 09:27] trjExpensify commented on #3755
Yeah, I don’t think we’re looking to add additional global notification settings at this point. We have the `mute`, `daily` and `always` room notification preferences coming for #rooms soon. There might be a question on whether we want to also add those to DMs/Group DMs, but I think we can hold off for now until they are released and we test them out with #rooms in the first instance.

[2021-06-30 09:42] Julesssss commented on #3792
I agree that is the solution, but the question is whether we make these changes separately, or together:
- **1)** Enable navigation through screens by handling failed `getCurrencyByIP` request gracefully
- **2)** Cache send IOU requests while offline)

[2021-06-30 09:44] Julesssss commented on #3792
For **2)**, we should also implement the logic for chats reports created while offline. It's not specific to Request Money / Split Bills, so we need to update this issue or treat them as separate issues.

[2021-06-30 09:56] SofiedeVreese commented on #3755
Ahh thank you for that additional context @trjExpensify . Yeah it'd make sense to hold off and test with #rooms first to be honest.

[2021-06-30 10:30] kakajann commented on #3108
Okay I'll start modifying current picker.

I'll let you know if I find any

[2021-06-30 10:54] parasharrajat commented on #3792
Yes. creating IOU reports is little involved. Better to break it

[2021-06-30 11:44] HorusGoul commented on #3797
Things that I've found:
- The issue can be reproduced locally.
- It affects all kinds of large messages, not only code blocks.
- It's related to the 10kB limit imposed by Pusher. More info on that: https://support.pusher.com/hc/en-us/articles/360019115473-What-is-the-message-size-limit-when-publishing-a-message-in-Channels-
- This code should prevent this, but it doesn't:
https://github.com/Expens

[2021-06-30 11:49] SofiedeVreese commented on #3755
Going to unassign myself as we won't be pushing this one to Upwork at this stage.

[2021-06-30 11:50] muttmuure commented on #3784
Can we also make the names in the chat/group header bring up the profile?

![image](https://user-images.githubusercontent.com/46995600/123955611-ba178e00-d9a1-11eb-8a01-6d99a18a81bc.png)

[2021-06-30 12:00] aliabbasmalik8 commented on #3810
**PROPOSAL**

We can throw an error if we have no access to that chat and catch an error in `ErrorBoundary` as we already using `ErrorBoundary`. right now there is no fallback UI so we can show a simple and appropriate message for now.

Thanks

[2021-06-30 12:03] rushatgabhane commented on #3784
I wanna take this task, just need to wrap the elements around `Pressable` and navigate to the participant.

[2021-06-30 12:22] aliabbasmalik8 commented on #3313
**PROPOSAL**

We get the source of the image from HTML at this point and copy it in clipboard
https://github.com/Expensify/Expensify.cash/blob/c5552954fd4ebcef0874edc10feaa80456f1de35/src/pages/home/report/ReportActionContextMenu.js#L88-L90

and also show appropriate text in case of the image at this point
https://github.com/Expensify/Expensify.cash/blob/c5552954fd4ebcef0874edc10feaa80456f1de35/sr

[2021-06-30 12:46] dklymenk commented on #3513
Hello, is this issue still up for grabs? I thought the suggestion by @parasharrajat makes sense and is to be approved, but the price on the upwork job has doubled and I've received an "Invitation to interview". Is it just to get more eyes on the issue? What's up with that?

[2021-06-30 13:17] isagoico commented on #3806
We were able to reproduce this on mWeb iOS

https://user-images.githubusercontent.com/44479856/123967024-3b791b80-d9b6-11eb-9346-eb692253b9ed.mp4

[2021-06-30 13:25] isagoico opened #3818 "IOU - Search for participant is not working"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash
2. Click on the FAB button
3. Click on request money
4. Enter an amount
5. Use the search box to search for a participant

## Ex

[2021-06-30 13:25] OSBotify commented on #3818
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-30 13:30] trjExpensify commented on #3818
@nickmurray47 can also confirm that this is broken for `New Chat` and `New Group` on `1.0.75-0` as well:

![image](https://user-images.githubusercontent.com/16232057/123968973-ac690500-d9af-11eb-9618-e38449a5864c.png)

[2021-06-30 13:30] michaelhaxhiu opened #3819 "When your timezone is different from the user you're messaging, show their current time above/near the compose box"
When your timezone is different from the user you're messaging, show **their** current time above the compose box (we already show their current time in their profile, this would just give you easier access to it).

**Coming from this slack thread**: https://expensify.slack.com/archives/C01GTK53T8Q/p1617771939406800

**Upwork job link** - https://www.upwork.com/jobs/~010fd4b2aae85f9fff

## Expecte

[2021-06-30 13:38] isagoico commented on #3818
Updated the title to reflect was @trjExpensify posted above 🔝

[2021-06-30 13:55] parasharrajat commented on #3819
### Proposal
1. WE can get the user's Timezone details from ONYXKEYS.PERSONAL_DETAILS Onyx key.
2. `moment().tz(userDetails.timezone.selected).format('LT')` will give us local time of that user.
3. We subscribe to the above key in ReportActionCompose.
4. We added a separate View to show the local time string above the composer chatbox. Above this code line https://github.com/Expensify/Expensify.ca

[2021-06-30 14:14] isagoico opened #3821 "Chat switching using arrow keys does not open correct chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash
2. Press CMD + K
3. Search for an user
4. Use arrow keys and enter to select an user

## Expected Result:
Correct chat should op

[2021-06-30 14:15] OSBotify commented on #3821
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-30 14:23] isagoico opened #3822 "Chat switcher - Old chat is still displayed when selecting new chat in chat switcher"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Log in to e.cash in Desktop
2. User A is most recent chat at top
3. e.cash is backgrounded.
4. e.cash is brought to foreground with User A at to

[2021-06-30 14:32] michaelhaxhiu commented on #3819
Upwork Job is [posted](https://www.upwork.com/jobs/~010fd4b2aae85f9fff) and we should be fielding proposals shortly!

[2021-06-30 15:25] tylerkaraszewski commented on #3790
Seems straightforward for an external contributor to work on.

[2021-06-30 15:25] tylerkaraszewski commented on #3730
Yes, closing.

[2021-06-30 15:25] #3730 closed

[2021-06-30 15:37] shawnborton commented on #3784
This should just bring up the group info as a sideDocked modal, and then from here you should be able to click on individual names.

[2021-06-30 15:39] NicMendonca commented on #3172
@rdjuric can you please apply to [the job in Upwork ](https://www.upwork.com/jobs/~0103190102106903c6)so we can start the contract? Thanks!

[2021-06-30 15:42] Prince-Hamza commented on #3819
Here is the code for converting into another time zone
function convertTZ(date, tzString) {
    return new Date((typeof date === "string" ? new
    Date(date) : date).toLocaleString("en-US",
    {timeZone: tzString}));
}

const date = new Date()
convertTZ(date, "Asia/Jakarta")  //current date-time in jakarta.

[2021-06-30 15:43] parasharrajat commented on #3790
It is not straightforward but looks like so.
1. We need to convert the copied HTML to MD first. and then show the MD in composer.
2. We do not support lists. So we have to decide what can be done about that.

[2021-06-30 15:45] rdjuric commented on #3172
@NicMendonca Done!

[2021-06-30 15:47] rdjuric commented on #3790
Feels like this one should hold until https://github.com/Expensify/Expensify.cash/pull/3229?

[2021-06-30 15:53] muttmuure commented on #3784
Thanks good call out

[2021-06-30 16:09] roryabraham commented on #3802
![image](https://user-images.githubusercontent.com/47436092/123995076-ce985e00-d982-11eb-8d94-d3d75a6693ec.png)

Manually removing a bunch more

[2021-06-30 16:35] nickmurray47 commented on #3818
taking a look now

[2021-06-30 16:40] nickmurray47 commented on #3818
This PR from the staging checklist looks the most suspect https://github.com/Expensify/Expensify.cash/pull/3760

[2021-06-30 17:08] nickmurray47 commented on #3818
Trying to see if we need to revert the whole PR or if there's a simple fix we can make.

[2021-06-30 17:10] parasharrajat commented on #3818
Also, not too sure that if that PR really solves the original problem.

[2021-06-30 17:21] kavimuru opened #3825 "Chat - Maximum participant message not displayed for more than 8 users added for a group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash on the iOS app
2. Choose tab "New Group"
3. Click 8 and more users

## Expected Result:
I showed a message that I reached the ma

[2021-06-30 17:26] kavimuru opened #3826 "mWeb - Chat - "View details" in chat is not responding"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.expensify.cash
2. Log in with any user
3. Find the user where you have requested money and select the user.
4. Find the "vi

[2021-06-30 17:29] nickmurray47 commented on #3818
Ok, the reverted branch fixes the "search" issue. I think we will CP to Staging especially given the doubts that this PR would have solved the original problem in the first place.

[2021-06-30 17:33] parasharrajat commented on #3826
Regression from https://github.com/Expensify/Expensify.cash/pull/3659.

[2021-06-30 17:34] kavimuru opened #3827 "mWeb - Chat - Unable to click on any attachments"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.expensify.cash
2. Log in with any account
3. Select any user to chat
4. Click on attachment and preview it

## Expected Result:
Abl

[2021-06-30 17:35] OSBotify commented on #3827
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-30 17:36] OSBotify commented on #3826
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/Expensify.cash/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it

[2021-06-30 17:36] nickmurray47 commented on #3818
The reverted branch also looks like it fixes the other deploy blocker https://github.com/Expensify/Expensify.cash/issues/3821

[2021-06-30 17:38] tgolen commented on #3797
I believe we have support already for (c). If you look [here](https://github.com/Expensify/Expensify.cash/blob/main/src/libs/Pusher/pusher.js#L129-L161), all of that code should be able to handle multiple "chunks" of a single pusher message that is sent over multiple requests. I don't exactly remember how that code works, but I think @johnmlee101 was the one that wrote and implemented most of it,

[2021-06-30 17:40] tgolen commented on #3821
OK, looking into this to see what I can determine. Gonna try to reproduce it locally and debug what's happening.

[2021-06-30 17:41] kavimuru opened #3828 "mWeb - Chat - Pay button isn't responding in chat conversation"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.expensify.cash/

2. Log in with any account (lets call Account A)
3. Click on Plus button and request money
4. Select amoun

[2021-06-30 17:41] nickmurray47 commented on #3821
@timgolen I got assigned a similar deploy blocker issue here https://github.com/Expensify/Expensify.cash/issues/3818 and I believe both are related to the same PR. I have a revert PR https://github.com/Expensify/Expensify.cash/pull/3824 in the works if you want to pull that and test.

[2021-06-30 17:42] tgolen commented on #3821
OK. I'm not able to reproduce this at all locally or on production :( so I wouldn't be able to know if that revert fixes anything or not.

[2021-06-30 17:43] rushatgabhane commented on #3825
Not reproducible on any platform for me.

[2021-06-30 17:45] tgolen commented on #3821
Ah, I found my problem. I was skipping `Search for an user`

[2021-06-30 17:46] kavimuru opened #3829 "Desktop - Split money - Selected attendees not moved above recents header"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash app
2. Click on the FAB button
3. Click on split bill
4. Enter an amount
5. Select attendees
## Expected Result:
Selected attend

[2021-06-30 17:46] tgolen commented on #3821
I confirmed that the revert PR fixes the problem. I'll link the two together.

[2021-06-30 17:49] nickmurray47 commented on #3821
Great!

[2021-06-30 17:51] nickmurray47 commented on #3829
Going to assign myself since this looks related to https://github.com/Expensify/Expensify.cash/issues/3818 and we have a revert PR here https://github.com/Expensify/Expensify.cash/pull/3824

[2021-06-30 18:01] parasharrajat commented on #3818
I did notice one small thing the `Fixes` keyword on the issue template is changed to $ which does not automatically close the issues.

[2021-06-30 18:02] nickmurray47 commented on #3601
@Looxor the PR created several regressions that were linked in this PR https://github.com/Expensify/Expensify.cash/pull/3824 that reverted your original one. Can you please submit a follow-up PR if you'd still like to complete this one?

[2021-06-30 18:05] nickmurray47 commented on #3818
Did it use to be `Fixes` @parasharrajat? I agree that's annoying if the issue does not automatically close. We can make a change to the issue template if need be.

[2021-06-30 18:06] parasharrajat commented on #3818
Yup, it was.

[2021-06-30 18:43] nickmurray47 commented on #3818
confirmed the fix on staging, closing

[2021-06-30 18:44] nickmurray47 commented on #3818
@parasharrajat can you make an issue or make a note of that template issue in our open source channel? Thanks!

[2021-06-30 18:44] nickmurray47 commented on #3829
Revert PR fixed this, closing

[2021-06-30 18:44] #3829 closed

[2021-06-30 18:49] iwiznia commented on #3792
Fine with either way, probably a good idea to break it up since they seem like independent changes.

[2021-06-30 19:02] kavimuru opened #3838 "[HOLD - for payment on July 14] Chat - Loading spinner appears after log in with different account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Lunch the app
2. Log in with account A
3. Send some messages and attachments
4. Log out from Account A
5. Log in with Account B
## Expected Resul

[2021-06-30 19:19] mallenexpensify commented on #3790
Reassigning @Jag96

[2021-06-30 19:24] aliabbasmalik8 commented on #3828
Not produced on the latest main branch on local

[2021-06-30 19:25] parasharrajat commented on #3828
This was a regression which is just fixed.

[2021-06-30 19:26] parasharrajat commented on #3826
This is fixed

[2021-06-30 19:26] bondydaa commented on #3826
the external on here since it seems that this is already being handled.

This is from https://github.com/Expensify/Expensify.cash/pull/3659, which is being reverted on https://github.com/Expensify/Expensify.cash/pull/3816.

Viacheslav80 has said they will fix it in a follow up PR so I think we just need to make sure it gets back assigned to them?

[2021-06-30 19:27] bondydaa commented on #3826
oh thanks @parasharrajat! can you link us to which PR ended up fixing this? I'm not 100% on the protocol here.

[2021-06-30 19:27] parasharrajat commented on #3826
https://github.com/Expensify/Expensify.cash/pull/3816. This revert PR fixed it.

[2021-06-30 19:28] michaelhaxhiu commented on #3826
Cool, should we close this?

[2021-06-30 19:29] #3826 closed

[2021-06-30 19:58] rushatgabhane commented on #3785
@parasharrajat Thanks!

I've done an audit, and updated the issue to reflect the places this is happening.
@mallenexpensify should I proceed to create a PR?

[2021-06-30 20:33] MitchExpensify commented on #3768
Adding Upwork job!

[2021-06-30 20:41] MitchExpensify commented on #3768
[Upwork job](https://www.upwork.com/jobs/~01867cd37dc6e756a0)

[2021-06-30 20:45] kadiealexander commented on #2258
Paid via Upwork.

[2021-06-30 20:45] #2258 closed

[2021-06-30 20:55] francoisl commented on #3822
Not sure I understand the reproduction steps

Top of the chats list in the left menu, or in the quick switcher? And, top as in the first entry in the list if there are multiple? Or top as in it's the active chat?
Anyway I can't see any chat switching issues on v1.0.75-4 (staging version), both desktop and web, can you try again on that version please?

[2021-06-30 21:38] rushatgabhane opened #3841 "[Hold for Payment 13th August] Deselect attendees when splitting a bill in group DM."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to a group.
2. Split a bill in the group.
3. Enter amount, go next.
4. Unselect attendees.

## Expected Result:
Should be able to unselect att

[2021-06-30 21:48] rushatgabhane commented on #3841
## Proposal
Use `OptionsSelector` instead of `OptionsList`
https://github.com/Expensify/Expensify.cash/blob/b330b3da015703a0e3ceacfb3c946bf565019752/src/components/IOUConfirmationList.js#L247
Disable button when no attendee is selected.

[2021-06-30 21:54] trjExpensify commented on #3841
Thanks, @rushatgabhane! So a couple of additional things we'll want to consider in the proposal for this:

- when you deselect the attendee, that attendee isn't removed from the list completely, but rather the checkmark is removed from the radio button and the amount is updated to `%0`
- The amounts for the attendees still selected are then increased to the new even split values
- We still add the

[2021-06-30 21:59] rushatgabhane commented on #3841
Yes, definitely.
That is how the implementation will be.

[2021-06-30 22:19] roryabraham commented on #3313
Thanks @aliabbasmalik8, but I think we're going to move forward with @Drewfergusson on this issue for now. @puneetlath Will you please hire @Drewfergusson on Upwork?

[2021-06-30 22:21] roryabraham commented on #3387
Oops, sorry for the delay here! IDK why melvin didn't bump me on this. I'll update the PR and get it ready for review ASAP!

[2021-06-30 23:14] isagoico commented on #3828
Just verified this is working now in Android / mWeb. Closing the issue

[2021-06-30 23:14] #3828 closed

[2021-06-30 23:26] isagoico commented on #3838
This is not reproducible every time. I was able to reproduce 2 out of 5 times on my device.

[2021-06-30 23:42] MitchExpensify commented on #3841
Reproduced as triager, labelling engineering! Looks like a good external issue but will let an engineer make that call

[2021-06-30 23:47] sakluger opened #3844 "Show room name in push notifications from rooms"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. I received a push notification for a DM in Expensify.com. The notification shows the name of the person who sent the message in the room along w

[2021-06-30 23:48] isagoico commented on #3802
**Regression** is finished!
Issues found:
1. https://github.com/Expensify/Expensify.cash/issues/3828 - Resolved
2. https://github.com/Expensify/Expensify.cash/issues/3829 - Resolved
3. https://github.com/Expensify/Expensify.cash/issues/3838
4. https://github.com/Expensify/Expensify.cash/issues/3827 - Deploy Blocker
5. https://github.com/Expensify/Expensify.cash/issues/3826 - Resolved

**PRs** are

[2021-07-01 00:19] Jag96 commented on #3790
I agree that this doesn't have to be held on https://github.com/Expensify/Expensify.cash/pull/3229. Also, if we don't currently support lists I don't think we need to add that in this issue.

Just to confirm, we shouldn't have to do anything special to show the markdown in the composer right? We'd just have to ensure that when text is copied, the markdown version is copied to the clipboard.

[2021-07-01 00:25] jasperhuangg commented on #3841
Yup, writeup looks good to me, and was also able to reproduce it.

[2021-07-01 00:33] Christinadobrzyn commented on #3770
We've had lots of work done to implement E.cash internationalization / localization in Expensify.Cash. So I'm going to add an engineer to this to have them review this as a contributor project.

[2021-07-01 00:40] NikkiWines commented on #3513
@dklymenk this is still available, yes.

But... to be honest, I really don't know that users need the ability to choose where to download their image/file to. As @dklymenk said earlier on: "I tried to find an app on my phone that allows me to select a destination folder, I couldn't find one.". My experience is the same, I don't think I have a single app that lets me choose where downloaded items g

[2021-07-01 00:46] jliexpensify commented on #3841
Assigning back to @MitchExpensify so he can create the Upworks job.

[2021-07-01 01:15] parasharrajat commented on #3790
But when you copy only HTML flavour is available. You can quickly check it on Gmail. Web browser.

[2021-07-01 01:28] parasharrajat commented on #3827
This can be retested as the regression which caused this is fixed.

[2021-07-01 01:31] Jag96 commented on #3790
Ah ok, so it sounds like https://github.com/Expensify/Expensify.cash/issues/3047 will handle that conversion. Looping in @roryabraham here.

[2021-07-01 01:40] parasharrajat commented on #3455
@michaelhaxhiu Based upon n the @rushatgabhane comments above, what do you think about the issue at hand?

We already have another solution https://github.com/Expensify/Expensify.cash/issues/3455#issuecomment-859892539 in case we want it to be fixed now.

[2021-07-01 01:48] parasharrajat commented on #3791
Please let me know if I am good to submit a PR. Thanks.

[2021-07-01 01:51] rdjuric commented on #3455
@rushatgabhane Haven't you guys decided in the Slack thread to just update react-native-web and ignore the console warnings? `EventEmitter.removeListener` is just deprecated (not removed), updating seems better than adding a workaround.

[2021-07-01 02:20] stephanieelliott commented on #3783
Posted to Upwork: https://www.upwork.com/jobs/~017c26f39d5e9d2473

@chiragsalian this is a contributor-created issue, can you review the above proposal to see if we want to implement it?

[2021-07-01 02:31] roryabraham commented on #3387
PR is up and ready for review.

[2021-07-01 02:36] Jag96 commented on #3791
I'm not 100% clear on this, what Button component needs to be updated? Couldn't we just create a `paymentTypeIconOptions` map like we do for `paymentTypeTextOptions` and set the `icon` value [where we set the text](https://github.com/Expensify/Expensify.cash/blob/72dc183bbba97ae01b733ac69cb6c1db1319641e/src/pages/iou/IOUDetailsModal.js#L261)?

[2021-07-01 02:36] rushatgabhane commented on #3455
@rdjuric Yes, but only if we have to deal with console logs for a week. [Reference comment ](https://expensify.slack.com/archives/C01GTK53T8Q/p1624659830143600?thread_ts=1624658192.141600&cid=C01GTK53T8Q)
And I think we'll have to deal with it for months.

[2021-07-01 02:38] parasharrajat commented on #3791
I added that step as I think when we select a payment mode that option should be visible on the button with its icon. If this is not required and we can skip this step.

[2021-07-01 02:43] Jag96 commented on #3791
Gotcha, I think that's a good clarification so let's double-check with @trjExpensify: after selecting the payment method, should the button below include the icon or just the text?

If we do decide to add the icon to the button, that part of your proposal looks good to me @parasharrajat, so feel free to submit a PR once we clarify that last piece.

[2021-07-01 03:32] Jag96 commented on #3767
Reopening to keep track of payment date

[2021-07-01 03:35] rdjuric opened #3849 "iPad app crashes when requesting money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Request money through the LHN or the Composer
2. App crashes

## Expected Result:
Should be able to request money

## Actual Result:
App crashes

[2021-07-01 03:59] rdjuric commented on #3849
Looks like this happens when the iPad resolution doesn't pass our isSmallWidth test.
In that case we render our [TextInputAutoWidth](https://github.com/Expensify/Expensify.cash/blob/7416e0f732b3e5f56943f0756d36c72478a03de2/src/components/TextInputAutoWidth.js#L58) instead of a normal `TextInput` in our [IOUAmountPage](https://github.com/Expensify/Expensify.cash/blob/7416e0f732b3e5f56943f0756d36c72

[2021-07-01 04:02] roryabraham commented on #3779
Solution seems perfectly reasonable to me @rushatgabhane!

@jliexpensify let's get @rushatgabhane hired on Upwork.

@rushatgabhane feel free to submit a pull request as soon as you've been hired on Upwork. Since I reviewed the proposal, please request a review from me when you submit the pull request. Thanks!

[2021-07-01 04:11] Jag96 commented on #3782
Reopening to keep track of payment

[2021-07-01 04:23] ObasiGodstime commented on #3783
Can't find this issue on staging v1.0.75-5

https://user-images.githubusercontent.com/42383942/124064342-76b63180-da2c-11eb-88ba-85a5e4183261.mov

[2021-07-01 04:24] jliexpensify commented on #3779
Hired @rushatgabhane - cheers!

[2021-07-01 04:37] aliabbasmalik8 commented on #3783
**Platform:**
Mobile Web
**Browser**
Safari

https://user-images.githubusercontent.com/31027036/124065265-67bb8900-da04-11eb-8798-0797e7dab746.mov

[2021-07-01 05:08] Jag96 commented on #3599
Asked internally to get another set of eyes on the proposal to make sure I'm not missing any potential side effects.

[2021-07-01 05:13] conorpendergrast commented on #3844
Nice write-up Sasha; agreed that this is a confusing at the moment!

[2021-07-01 05:28] rdjuric commented on #3729
For posterity's sake: We had another issue https://github.com/Expensify/Expensify.cash/issues/2154 open for this before, and a  PR https://github.com/Expensify/Expensify.cash/pull/2221 was made to try and fix it.

I think one of the problems with our current fix is that this code block is never executed the way we intended
https://github.com/Expensify/Expensify.cash/blob/c5707430dff9ecfb631012bb0b

[2021-07-01 05:36] roryabraham commented on #3599
So to be clear, you're saying that the problem occurs because the `trim` function is being used on the draft message, and is causing the selection state to get out-of-sync with the draft message, such that the selection is attempting to index beyond the bounds of the draft message?

And the only change in Proposal 1 is to not trim the draft before updating the state? If so, it seems reasonable. Bu

[2021-07-01 05:39] parasharrajat commented on #3599
One question. If selection prop is disabled on IOS, then how do we manage cursor position there?

[2021-07-01 06:28] aliabbasmalik8 commented on #3599
@roryabraham for proposal 1, I passed `newDraft` directly to `debouncedSaveDraft` function and called this function saveReportActionDraft  with  `newDraft` value.
the purpose of doing this is setState takes some time to update the state so when we saved value at the backend before updating the state then the previous value saved and `this.props. draftMessage` have the previous message and the sele

[2021-07-01 10:06] HorusGoul commented on #3797
Cool! If there's already support in the app for this, the only thing left would be sending the messages in chunks from the server to the Pusher API.

[2021-07-01 10:09] trjExpensify commented on #3791
Nah, we're not looking to add the icons to the confirmation button. 👍

[2021-07-01 11:03] isagoico commented on #3827
Confirmed this is working on mWeb 🎉
![image](https://user-images.githubusercontent.com/44479856/124114317-b8ff6300-da6c-11eb-9a10-a92f8f1d2039.png)

[2021-07-01 11:04] #3827 closed

[2021-07-01 11:40] Julesssss commented on #3841
FYI, we'll require some backend changes here. The `CreateIOUSplit` API simply takes a reportID. So without modifications, the message would include all members of that group. We would probably need to pass a list of participant emails to make this change.

[2021-07-01 11:46] trjExpensify commented on #3841
Got it, so shall we create a separate E/E issue for that? I don't think we can move forward with this solution if we're including participants who weren't there in the split comment.

[2021-07-01 11:47] anthony-hull commented on #3108
Would this be a replacement for: https://github.com/Expensify/Expensify.cash/blob/main/src/components/TextInputWithFocusStyles.js
as well?

[2021-07-01 11:50] Julesssss commented on #3841
@trjExpensify  yep, let's do that. I'd take it but I'm about to go OOO.

[2021-07-01 11:58] anthony-hull commented on #2734
It would make sense to use the new input component in that issue. I'm happy to hold until it's merged.
When `secureTextEntry` is passed into the component I would change the behaviour to:

Implement the show/hide icon as a background image svg with onClick handlers to change the visibility of the text input.
The visibility can be controlled by changing the props passed to the wrapped text input fi

[2021-07-01 11:58] rushatgabhane commented on #3841
@trjExpensify I'm keeping track of the selected and unselected participants.
Yeah, the API will need changes to support a list of participants being passed.

[2021-07-01 12:28] parasharrajat commented on #3781
Hey, @MitchExpensify @roryabraham. I reproduced https://github.com/Expensify/Expensify.cash/issues/3768 and tested my solution over it and guess what I was correct. we have to prevent overflow on the Drawer screen to fix both of the issues.

To fix both issues:

1. We will add `cardStyle: {overflow: hidden}` option to the Drawer route here https://github.com/Expensify/Expensify.cash/blob/c5707430d

[2021-07-01 12:29] parasharrajat commented on #3768
@Luke9389 Just solved it https://github.com/Expensify/Expensify.cash/issues/3781#issuecomment-872204669 with another issue.

Please consider that solution as a single Proposal for both of the issues.

[2021-07-01 12:59] michaelhaxhiu commented on #3455
@rushatgabhane no problem, this an example of the process working :) Sometimes we need to discuss a job to find the best solution, and this job is a good example!

My understanding is that this should be fixed in the future by the RN-modal version upgrade, but the timeline on that upgrade happening is indefinite. If we want to fix it sooner, @parasharrajat has provided a [proposal](https://github.

[2021-07-01 13:33] isagoico commented on #3671
@puneetlath Was able to reproduce this https://expensify.slack.com/archives/C01GTK53T8Q/p1625069032270200
___

[2021-07-01 13:35] trjExpensify commented on #3841
Awesome! I've created the back-end issue, and popped a `[Hold]` on this until we've completed that. 👍

[2021-07-01 14:04] isagoico opened #3853 "Attachment - MP4 videos are not downloaded and user is redirected to a page with binary code"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash
2. Navigate to a conversation
3. Send a mp4 video
4. Click on the mp4 video link in the conversation

## Expected Result:
File s

[2021-07-01 14:50] michaelhaxhiu commented on #3736
Darn, missed this was assigned to me because it didn't show in K2. I'll handle now!

[2021-07-01 15:38] johnmlee101 commented on #3797
Yeah! For new versions of the apps we should be able to handle pusher requests (at least the ones used for Inbox Calls). There might be some API changes required to make sure this flow works (as we don't want to disrupt the mobile app for older version support), but should be straightforward.

[2021-07-01 15:38] trjExpensify commented on #3844
Nice, love this. Linked it as a clean-up issue to the tracker. 👍

[2021-07-01 15:49] michaelhaxhiu commented on #3736
Closing, as this bug isn't reproducible and has been fixed since it was reported. I tried to stress test a bunch of different ways.

[2021-07-01 15:49] #3736 closed

[2021-07-01 15:58] shawnborton commented on #3108
I think the answer is yes - all of our form styles should be updated to match this new styling.

[2021-07-01 16:05] parasharrajat commented on #3108
Except for Composer. :laughing:

[2021-07-01 16:16] kakajann commented on #3108
Yes, all inputs are already updated. Only pickers are left to be updated.

[2021-07-01 16:23] MitchExpensify commented on #3841
Should I hold on creating the Upwork job too?

[2021-07-01 16:34] trjExpensify commented on #3841
I think it's fine to create it, so @rushatgabhane can apply and we can assign this to him.

[2021-07-01 16:55] mallenexpensify commented on #3712
Trying to pay via Upwork but their site is acting up. Will try to play later today @rdjuric
![image](https://user-images.githubusercontent.com/22508304/124161598-7597fb00-da52-11eb-9bd1-6b9542fa70df.png)

[2021-07-01 17:08] puneetlath commented on #3313
@Drewfergusson I don't see a proposal from you on this job https://www.upwork.com/jobs/~015ed0068d5788ef5a. Can you apply there so I can hire you? Thanks!

[2021-07-01 17:10] chiragsalian commented on #3783
The proposal looks good to me. @aliabbasmalik8 feel free to create the PR.
@stephanieelliott could you hire @aliabbasmalik8 in upwork when you get the chance. Thank you.

[2021-07-01 17:12] puneetlath commented on #2846
Thanks for your proposal @rdjuric. Given that he applied first with a robust proposal, will go ahead and hired @parasharrajat for the job.

@parasharrajat please make sure to apply here on Upwork so that I can hire you. https://www.upwork.com/jobs/~0185450afd7993674c

[2021-07-01 17:12] parasharrajat commented on #2846
https://github.com/Expensify/Expensify.cash/issues/2846#issuecomment-867615573
@puneetlath Please help me with this question. Thanks

[2021-07-01 17:17] parasharrajat commented on #2846
Done.

[2021-07-01 17:20] Jag96 commented on #3455
A couple of questions on that proposal just to help me understand better:

How do we do that? Do we remove the onPress handler?

Does that mean that anywhere else we'd want this to work, we'd have to also pass those options to each menu item? So something like this?

[code]

I'm leaning towards not adding any fix for this right now and holding off until RN and the required libraries update everyth

[2021-07-01 17:23] puneetlath commented on #2846
@parasharrajat let's do it the same way github does.

[2021-07-01 17:28] parasharrajat commented on #3455
Just return early

Yes, I guess we need to pass the Route as href which is passed in `Navigation.navigate`. hrefAttrs are optional and we will are less likely to change them.

 I think we have to upgrade our Codebase to > RN 0.65 as well where a new EventEmitter implementation exists. I am also in favour of a lib upgrade. Maybe we can just ignore those errors using Log box.

[2021-07-01 18:03] HorusGoul commented on #3797
Should we open a new issue related to the API changes? We could also close this one as we don't need to change anything on the client-side.

[2021-07-01 18:05] roryabraham commented on #3729
Thanks for the explanation @rdjuric!

It seems like this was not the intention when [this PR](https://github.com/Expensify/Expensify.cash/pull/2221) was written, and I wonder if this is the real source of the issue. Do you know why the `ReportScreen` remounts entirely when the `reportID` changes? I see that the parent component is only passing a [reportID](https://github.com/Expensify/Expensify.ca

[2021-07-01 18:06] isagoico opened #3855 "[HOLD for payment 2021-12-15] Unable to use 1Password option for autofill on login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to staging.expensify.cash
2. Right click on the email field
3. Click on the 1Password option

## Expected Result:
Option to select exist

[2021-07-01 18:09] mallenexpensify commented on #3712
Paid! Thanks for the help @rdjuric

[2021-07-01 18:11] kevinksullivan commented on #3323
Paid in upwork

[2021-07-01 18:19] Jag96 commented on #3791
Reopening to keep track of payment

[2021-07-01 18:22] Luke9389 commented on #3768
Nice! Ok, so I guess we will skip over the proposal section here. Once you get the green light on that other issue, please link this issue in that PR description so that this thread is easy to follow. @MitchExpensify, we can take the job down from Upwork.

[2021-07-01 18:33] marcaaron commented on #3797
To clarify, we are currently not sending report comments in chunks and will start doing so? I'm curious how we can do this without breaking existing mobile clients (Expensify not Expensify.cash) who are not set up to process chunks (most important maybe being Concierge in the current app). Pusher implementation here is [not set up for chunks](https://github.com/Expensify/Mobile-Expensify/blob/b733

[2021-07-01 18:48] parasharrajat commented on #2846
@puneetlath
Sorry but I am a little uncertain here as the original issue was to prevent unnecessary conversion. But Github handles it differently from what we have asked in the issue.
[code]
Github output.
![image](https://user-images.githubusercontent.com/24370807/124174923-90a65180-daca-11eb-9b2d-58fc56b1c18a.png)

So my request is that we clear what needs to be done and for which tags so that w

[2021-07-01 18:50] parasharrajat commented on #3781
Waiting for the next instructions. Let's get this fix pushed which crosses off two issues from the board. Thanks.

[2021-07-01 18:50] MitchExpensify commented on #3768
Done!

[2021-07-01 18:59] MitchExpensify commented on #3841
[Upwork job](https://www.upwork.com/jobs/~011fac9ac851aa1b10) ready for you @rushatgabhane!

[2021-07-01 19:20] tgolen commented on #3455
100% agree with this.

[2021-07-01 19:21] stephanieelliott commented on #2938
More changes applied, PR is awaiting internal review!

[2021-07-01 19:27] ObasiGodstime commented on #3798
**Proposal**

It is going to be selected and added to number to be verified like in the video, I am making use of a package that can be customized to add and remove countries (react-native-country-picker-modal)

VIDEO EXAMPLE OF A SOLUTION : -
https://user-images.githubusercontent.com/42383942/124179077-309fb300-daaa-11eb-8d3c-33f7f8f036ef.mp4

[2021-07-01 19:28] ObasiGodstime commented on #3798
Proposal

It is going to be selected and added to number to be verified like in the video, I am making use of a package that can be customized to add and remove countries (react-native-country-picker-modal)

VIDEO EXAMPLE OF A SOLUTION

https://user-images.githubusercontent.com/42383942/124179483-d3583180-daaa-11eb-9a1e-177b8ee8d459.mp4

: -

[2021-07-01 19:30] Jag96 commented on #3455
Sounds good, going to put a hold on this until RN is at v0.65 and RN-modal supports that version (you can see the currently supported version [here](https://github.com/react-native-modal/react-native-modal/blob/master/package.json#L75)).

[2021-07-01 19:37] ObasiGodstime commented on #3798
**PROPOSAL**

I have added a country code selector beside the input field for better reach on the user's side, made use of a package(react-native-country-picker-modal) that can be customized to remove and add more countries

VIDEO OF WORK BELOW: -

https://user-images.githubusercontent.com/42383942/124180475-27afe100-daac-11eb-8909-cec136e05f43.mov

[2021-07-01 19:44] Luke9389 commented on #3841
Looks like Robert is tackling the backend issue.

@rushatgabhane would you supply a proposal for how you're going to implement this? I know you've got a handle on what the behavior should be, but I think we still need to see a proposal for the code changes.

[2021-07-01 19:47] roryabraham commented on #3781
@MitchExpensify Since you're conveniently managing both this issue and https://github.com/Expensify/Expensify.cash/issues/3768, let's hire @parasharrajat for the one [Upwork Job](https://www.upwork.com/jobs/~01867cd37dc6e756a0), then assuming his PR fixes both issues (like it looks like it will), let's pay him:

1. For that upwork job
1. A bonus for this issue
1. Plus the additional bounty for ope

[2021-07-01 19:49] roryabraham commented on #3781
Oops, sorry I got confused here @stephanieelliott and thought @MitchExpensify was managing this issue. If the above sounds like a good plan I would suggest just reassigning this to @MitchExpensify to manage after the PR is merged.

[2021-07-01 19:53] #2847 closed

[2021-07-01 19:58] isagoico opened #3857 "New status is still displayed in tab even when there are no unread messages in #focus mode"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
I have been able to reproduce this but without solid steps so not sure what triggers this issue _yet_
1. Log in to e.cash
2. Be sure to have some un

[2021-07-01 20:02] stephanieelliott commented on #3781
Since there is a proposal here, we actually need to pay these jobs out separately to keep this clean in terms of Upwork ToS. So rather than paying out via a bonus, let's post this a separate job and hire Rajat to it directly if the PR solves both issues.

Tossing back to @MitchExpensify to manage, but feel free to reassign to me if the plan changes!

[2021-07-01 20:12] stephanieelliott commented on #2670
Job paid and closed in Upwork!

[2021-07-01 20:12] #2670 closed

[2021-07-01 20:22] isagoico opened #3858 "Emoji picker - Unable to navigate with arrow keys when there's text in search box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to e.cash
2. Navigate to a conversation
3. Click on the emoji icon
4. Type something in the search box
5. Press down arrow key to naviga

[2021-07-01 20:24] Beamanator commented on #3810
Good find, looks like it's easily reproducible by just navigating to https://staging.expensify.cash/r/25 - a.k.a. a report you don't have access to. Marking `External` 👍

[2021-07-01 20:32] Beamanator commented on #3838
Hmm when I follow the steps in the OP, I even get a blank white screen in web (staging), with this error message in the console:

<img width="792" alt="Screen Shot 2021-07-01 at 2 31 26 PM" src="https://user-images.githubusercontent.com/3885503/124186134-1a2d3380-da79-11eb-8ddf-7d1249a873d4.png">

[2021-07-01 20:38] Drewfergusson commented on #3313
@puneetlath I submitted my proposal with the name Andrew Michael Ferguson. It was a couple of days ago so you may have to look. Not sure if this link works for you but this is the link where I can view my proposal. https://www.upwork.com/ab/proposals/1409996432714612737

[2021-07-01 20:48] Beamanator commented on #3838
Further investigation shows that the report draft comment becomes `null` in Onyx, and `lodashGet` only uses the default param (`''`) when the key is `undefined`.

The below console logs came from this code that I added:

[code]

![Screen Shot 2021-07-01 at 2 47 02 PM](https://user-images.githubusercontent.com/3885503/124187557-3c27b580-da7b-11eb-87fe-56b1b8fac818.png)

[2021-07-01 20:49] isagoico opened #3859 "Spaces are not displayed after sending the message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to e.cash and navigate to a conversation
2. Send the following text
[code]
## Expected Result:
Spaces should be displayed in the message a

[2021-07-01 20:49] Beamanator commented on #3838
Updated title & OP to show this issue isn't specific to the `Android` platform

[2021-07-01 20:52] Beamanator commented on #3838
@isagoico I can reproduce this issue even in production web, so I'm thinking of making this external

[2021-07-01 21:04] rdjuric commented on #3729
@roryabraham Good questions!

I don't think the remount is the cause since our `ComponentDidUpdate` would do the same thing as `ComponentDidMount` does in case our `reportChanged` check ever returned true.

i.e remounting is also calling `this.prepareTransition()`  correctly when we change reports, and adding a few logs shows that our [FullScreenLoadingIndicator is also being set](https://github.c

[2021-07-01 21:09] rdjuric commented on #3729
It's not the prop change that is triggering the remount (the parent is also being remounted), but the way we navigate in our drawer navigator. This reset here causes the remounts.
https://github.com/Expensify/Expensify.cash/blob/870c3db1675bb294c8961a8db88bc1ffa276dea9/src/libs/Navigation/CustomActions.js#L27-L35

I modified it a bit so that it would stop remounting our routes and this issue kept

[2021-07-01 21:14] isagoico commented on #3821
I was unable to reproduce this issue in Windows but won't close it yet since it was originally reproduced in MacOS (and I don't have a MacOS to test this) checking with the team

[2021-07-01 21:32] tgolen commented on #3797
I don't think the old mobile app uses pusher at all, does it?

On Thu, Jul 1, 2021 at 12:33 PM Marc Glasser ***@***.***>
wrote:

[2021-07-01 21:36] rdjuric commented on #3838
### Proposal
We can modify our `function saveReportComment` to avoid merging null comments to Onyx by adding a
`if (!comment) return;` check

[2021-07-01 21:40] rushatgabhane commented on #3841
@Luke9389 sure, no problem!
There are going to be a lot of changes, I'll try my best to explain it.

I haven't tried to implement add split comment in the group DM yet.

For components/IOUConfirmationList.js

There are going to be 3 sections.
`Self`, `SelectedParticipants`, `UnselectedParticipants`

<img src="https://user-images.githubusercontent.com/29673073/124190917-b2ec9f00-dacb-11eb-9685-bb3c

[2021-07-01 21:59] rdjuric commented on #3859
I think this might also need a fix on the BE? Looks like we're doing a .trim() on the frontend and on the backend.
Sending `reportComment: "  hey you"` to our API we receive
`html: "hey you"`
`text: "hey you"`

[2021-07-01 22:03] sophiepintoraetz commented on #3859
Hmm - @isagoico / @thienlnam out of curiosity, why did we skip the triage process?

[2021-07-01 22:33] MitchExpensify commented on #3781
Sounds good! So I will reopen that Upwork job ([done!](https://www.upwork.com/jobs/~017f9954e6423d644b)), accept Rajat's proposal, and pay (with bonus) 7 days after merge assuming all goes smoothly. .

[2021-07-01 22:38] MitchExpensify commented on #3768
Update - I've reopened the Upwork job and we will be tracking it here (#3781) instead of seeing as that change fixes this issue too. With that, I think we can probably close this issue in favor or #3871 right?

[2021-07-01 22:40] parasharrajat commented on #3768
So I suggest we keep this open and Let it be closed by PR as this is a different issue even though the solution I proposed will work for both.

[2021-07-01 22:42] parasharrajat commented on #3781
PR is up https://github.com/Expensify/Expensify.cash/pull/3856 already. It's a quick one and can be merged. Thanks.

[2021-07-01 22:57] rdjuric commented on #3806
Fixed by #3816

[2021-07-01 22:57] #3806 closed

[2021-07-01 23:11] marcaaron commented on #3797
Linked the code where it is used above. But yes, realtime report comments, Concierge widget, etc

[2021-07-01 23:16] robertjchen commented on #3857
Thanks for the report! Looks like a perfect task for our contributors.

[2021-07-01 23:18] parasharrajat commented on #3859
### Proposal

This one is a bug with `react-native-render-html` but the lib owner has added an experimental flag that enables the whitespaces. Otherwise empty whitespaces will be collapsed. Due to the reason that
[code]
is converted to HTML `0 space<br /> 1 spaces<br />  2 spaces<br />   3 spaces<br />    4 spaces`.
It does not have enclosing tags which would have preserved the spaces but due to t

[2021-07-01 23:19] marcaaron commented on #3476
AFAIK we can very easily do this by adding something like

[code]

[2021-07-01 23:25] parasharrajat commented on #3476
It's Simple. We need to Convert the Title to Pressable component and then `onPress` we will

to something
[code]
react-native natively support opening the phone dialer for `tel:` links

[2021-07-01 23:28] chiragsalian commented on #3476
Ah yes ioni, i guess i didn't think too much if it could be tackled by contributors earlier. Assigning myself back to the issue,

And yeah I like the suggestion from marc and the proposal from @parasharrajat. Feel free to create a PR.

[2021-07-01 23:33] MitchExpensify commented on #3768
Sounds good @parasharrajat !

[2021-07-01 23:33] thienlnam commented on #3859
@sophiepintoraetz Ah my bad, I should have caught that - I didn't check the sequence of events and just went ahead with the process

[2021-07-01 23:40] thienlnam commented on #3859
For the example text, the spaces are within a text paragraph so they shouldn't be getting filtered out so this is probably something to do with our parser / Expensimark

[2021-07-01 23:41] thienlnam commented on #3859
@parasharrajat 🟢  on the proposal, I don't think there is currently an upwork job for it yet but once that gets created we'll assign you to it

[2021-07-01 23:48] MitchExpensify commented on #3729
My bad for the delay! Missed the "external" assignment on this one, here's the [Upwork job](https://www.upwork.com/jobs/~011fda5f8ed18f7863).

[2021-07-01 23:52] MitchExpensify commented on #3859
[Upwork job](https://www.upwork.com/jobs/~01d384b79d8d0dca89)!

[2021-07-02 00:37] roryabraham commented on #3844
This will need to be internal, but I will hold onto it for now. I think I'll be able to get this done next week.

[2021-07-02 00:42] roryabraham commented on #3729
Hmmm okay thanks for digging into this some more @rdjuric. I think that good enough for me to agree that we should just take the path of least resistance and move forward with your [original proposed solution](https://github.com/Expensify/Expensify.cash/issues/3729#issuecomment-871932604). Feel free to submit a PR once you're been hired on Upwork.

@MitchExpensify feel free to hire @rdjuric if/whe

[2021-07-02 00:48] thienlnam commented on #3859
@MitchExpensify Could you also please hire @parasharrajat for the job?

[2021-07-02 02:01] MitchExpensify commented on #3859
Will do when @parasharrajat applies!

[2021-07-02 02:20] rushatgabhane opened #3861 "Display a message when no emojis are found in search"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login to E.cash
2. Go to any chat
3. Click the emoji picker
4. Search for an emoji that isn't present

## Expected Result:
A message like 'No res

[2021-07-02 02:25] rushatgabhane commented on #3861
## Proposal
In src/pages/home/report/EmojiPickerMenu/index.js

If `state.filteredEmojis.length` is zero, render a Text component with value "We couldn't find that emoji" which is centered.

[2021-07-02 03:53] JmillsExpensify commented on #3775
@rdjuric Upwork job is here! https://www.upwork.com/jobs/~014420b47526ca3ac6

[2021-07-02 03:58] JmillsExpensify commented on #3861
Thanks for checking us out on Upwork! Job is here: https://www.upwork.com/jobs/~0185aa3ea2eea28950. I'm now assigning to Engineering so that the above proposal has first priority and can be reviewed.

[2021-07-02 07:32] dklymenk commented on #3853
I think this has to do with response headers. To be more specific - missing headers. When I follow the mp4 video attachment link, there is no `content-type` or `content-length` headers returned. On the other hand, a link for a zip file returns proper headers and thus the file gets downloaded correctly.

As an example, here is a link for a video uploaded to github : https://user-images.githubuserco

[2021-07-02 07:39] SofiedeVreese commented on #3838
Posted on Upwork: https://www.upwork.com/jobs/~010baaee07448e0abb

[2021-07-02 08:38] anthony-hull commented on #3855
This is because the password forms on this page don't meet best practices for user password forms:
https://web.dev/sign-in-form-best-practices/
I believe that it won't detect the form because of this.
When I add the password field after the username lastpass detects the inputs and adds the autofill features. So I think it's a detection issue.
It would be good to know is this happens on Android and

[2021-07-02 09:11] jonats2020 commented on #3798
I would like to propose implementing this package.

https://user-images.githubusercontent.com/74584906/124251446-f6302780-db36-11eb-8b7c-57b1d57ba51a.mp4

[2021-07-02 10:03] personal-xpert commented on #3838
Use `useState` to manipulate de spin, so it will reset once you go back

[2021-07-02 10:04] aliabbasmalik8 commented on #3838
**PROPOSAL:**

Need to add a validation check like this.
[code]

https://github.com/Expensify/Expensify.cash/blob/870c3db1675bb294c8961a8db88bc1ffa276dea9/src/libs/OptionsListUtils.js#L172-L174

https://github.com/Expensify/Expensify.cash/blob/870c3db1675bb294c8961a8db88bc1ffa276dea9/src/libs/OptionsListUtils.js#L300-L302

Thanks

[2021-07-02 10:24] dklymenk commented on #3743
Is there any way to push this one forward? It's blocking PR #3526 and all the code is already there, I'm just waiting for a green light to go ahead with the implementation.

[2021-07-02 10:40] parasharrajat commented on #3743
So this is related to changes in #3526 which NikkiWines mentioned above. So I think you are good to go here to submit the PR for this. As this part of old PR.

[2021-07-02 10:42] parasharrajat commented on #3743
But if you are waiting for your solution to be reviewed then waiting is good.

[2021-07-02 10:57] MariaHCD commented on #3853
Thanks for the details, @dklymenk!

Looks like we weren't sending the correct content type for `.mp4` files. Working on a fix for this!

[2021-07-02 11:31] parasharrajat commented on #3838
This seems like a regression from PR

[2021-07-02 11:34] isagoico commented on #3859
@sophiepintoraetz / @thienlnam this was my bad, I created the issue with the AutoassignerTriage label accidentally (I pressed `ctrl + enter` which created the issue before I was done 🤦). We have been instructed that issues created on the #Expensify-open-source channel should have the `engineering` label from the start. My apologies for the confusion and the unnecessary bump 🙇‍♀️

[2021-07-02 11:42] isagoico opened #3862 "[ON HOLD] Emoji selector - Focused emoji is not centered in focus area"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to e.cash
2. Open a conversation
3. Click on the emoji icon
4. Hover over any emoji or focus any emoji with the arrow keys

## Expected

[2021-07-02 11:49] rushatgabhane commented on #3862
## Proposal
Change `styles.emojiText` padding from (4 px vertical, 8 px horizontal)
to (3 px vertical, 5 px horizontal)

[2021-07-02 11:56] isagoico opened #3863 "User is shown as offline in Chrome and is unable to send messages while having an active internet connection"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
So far looks like @mallenexpensify and @parasharrajat were the ones affected by this issue.
1. Log in to e.cash in Chrome
2. Use the app

## Expecte

[2021-07-02 12:12] trjExpensify commented on #3841
Re: the "Who wasn't there" header in the UI, I don't think we need that tbh. Unchecking the radio button should be enough, but perhaps @shawnborton has some thoughts here too.

[2021-07-02 12:24] flodnv commented on #3863
@mallenexpensify @parasharrajat not sure if this is external or not?

[2021-07-02 13:11] #3768 closed

[2021-07-02 13:11] #3781 closed

[2021-07-02 14:56] MitchExpensify commented on #3729
Hired!

[2021-07-02 14:56] mountiny commented on #2434
PR merged. The updated template does not close the issue automatically.

[2021-07-02 14:56] #2434 closed

[2021-07-02 14:58] MitchExpensify commented on #3858
[Upwork job!](https://www.upwork.com/jobs/~016f57ca18be62f899)

[2021-07-02 15:07] madmax330 commented on #3825
I also cannot reproduce this issue. @kavimuru Can you check again? If you can't reproduce it we'll just close it.

[2021-07-02 15:18] madmax330 commented on #3861
Removing myself, since Jason already added the external label

[2021-07-02 15:23] parasharrajat commented on #3858
### Proposal
1. Due to the recent Upgrade of RN-Web version, we faced one issue where keyboard events are not bubbling from the TextInput. @roryabraham  fixed one of the issues where keyboard shortcut was not opening the search when Focused on the composer.

A similar thing is happening here, we already have arrow navigation for the Emojipicker but events are not bubbling so to fix this we need to

[2021-07-02 15:24] rushatgabhane commented on #3858
## Proposal
When `ArrowDown` is pressed, unfocus the search.

In src/pages/home/report/EmojiPickerMenu/index.js
[code]

[2021-07-02 15:45] rushatgabhane commented on #3858
@parasharrajat's proposal is better as it fixes the bug.
while mine is a hack.

[2021-07-02 16:02] shawnborton commented on #3841
I agree with @trjExpensify - no need for the additional section.

[2021-07-02 16:04] rushatgabhane commented on #3841
Okay, just gonna set it's name as undefined then.

[2021-07-02 16:32] parasharrajat commented on #3838
@Beamanator While fixing the regression does not solve this problem as I was already facing the same problem before I pushed the PR. But this time I found the root cause of it. This is little involved than it looks.

### Explanation
1. We have a network Queue that process all the request for us. And out of all the requests, there are a few that don't require auth token but others need Auth token.

[2021-07-02 16:36] roryabraham commented on #3858
@parasharrajat Great proposal as always! I agree that it's better to allow arrow keys to move the cursor around in the text input, then activate emoji-selection only with the down arrow key. When in the top row of emoji, the up-arrow key should refocus the text input.

[2021-07-02 16:38] parasharrajat commented on #3858
Sure, I will add that too. Point taken.

[2021-07-02 16:41] puneetlath commented on #2846
Ok, thanks for clarifying. After re-reading I _think_ the most straightforward approach, and one that would be consistent with what most people are saying in this issue, as well as how Slack handles would be to not apply the markdown if there is a space after (i.e. "_ word_") or a space before (i.e. "_word _"). In both scenarios, the markdown should not be applied.

[2021-07-02 16:48] parasharrajat commented on #2846
You mean the after starting or before ending Symbol `~(space here)text(or space here)~`.  Right?

[2021-07-02 16:53] puneetlath commented on #2846
Correct!

[2021-07-02 16:54] mallenexpensify commented on #3863
Loaded this morn after about 15 seconds, logs below.
My hunch is to put this on hold since I'm _guessing_ it'll be really hard to reproduce.  Then, if it happens to someone else, we can add more details and try to reproduce/fix?

[code]

[2021-07-02 17:03] mallenexpensify commented on #3785
Great job @rushatgabhane , that's a clean and clear OP.  Can you submit a proposal for how you plan to fix the issue/s then @muttmuure will assign an engineer to review?  (I'm OOO all next week.... ) Thanks again!

[2021-07-02 17:41] mallenexpensify commented on #3822
@francoisl I uploaded a vid here but it has personal chat details so it's only viewable to internal Expensify folks. https://drive.google.com/file/d/1ngIBwYXSEgtFHg8Lg53Ot9OGhrD9qVrQ/view?usp=sharing. It's not related to the chat switcher for the main message pane

It's in the main message pane with a user. Using the below screenshot as an example, `most recent chat` would be the most recent chat

[2021-07-02 18:07] iwiznia commented on #3821
Odd, I can't reproduce this anymore... maybe we fixed it??? 😕

[2021-07-02 18:08] iwiznia commented on #3821
Oh, Tim has already reverted the PR that caused the bug.

[2021-07-02 18:08] #3821 closed

[2021-07-02 18:09] mallenexpensify opened #3867 "[Discussion] Add the ability to handle images in Onyx"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
# Problem
Right now, we have no way of saving images offline.  We can't use Onyx as it has storage limitations on web with a 5MB limit.  There's been a lot of discussion

[2021-07-02 18:14] parasharrajat commented on #3867
Sorry but this looks like a huge task to do. Maybe we did not mean to do so. Can anybody confirm what exactly is need to be built? I expect that we need to expand AsyncStorage in a wrapper so that it supports a method like `AsyncStorage.setImages()` or `AsyncStorage.removeImages()`. Please, this looks daunting to me.

[2021-07-02 18:15] thienlnam commented on #3867
@parasharrajat Yup this is a huge task, but basically is going to be summed up with what needs to happen from this[ slack tread](https://expensify.slack.com/archives/C01GTK53T8Q/p1625092068290500) happening now.  I updated the solution a bit but I imagine that it will keep updating until we figure out what the most viable solution for this will be

[2021-07-02 18:17] halilarici opened #3868 "When use Request Money people can pass choose email"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.e.cash login
2.click request money
3.enter amount
4.When focusing input press enter
5.Click is not firing because no have debmail.
## Expected Res

[2021-07-02 18:18] mallenexpensify commented on #3867
Posted to https://www.upwork.com/jobs/~011fcd226e59956a18

I'm going to add a new Contributor Manager, I'm out of office next week. They can update the price if needed (sounds like @parasharrajat might want for $250 though :trollface: )

[2021-07-02 18:20] parasharrajat commented on #3867
@mallenexpensify :jack_o_lantern:. Maybe I will find a solution that takes lesser effort.

[2021-07-02 18:26] iwiznia commented on #3841
I removed the hold in this issue, since the API should already support this.

[2021-07-02 18:28] mallenexpensify commented on #2734
I used `Exported` to assign an engineer for review. @deetergp , can you review @anthony-hull 's proposal?

@puneetlath , I unassigned myself then added `External` because I'm OOO next week.  Also, I removed `Exported` label because it **hasn't** been posted to Upwork yet, it makes more sense to me to get Deeter to agree on the solution before posting.

[2021-07-02 18:42] NikkiWines commented on #3743
Hmm, it looks like @strepanier03 is out-of-office currently. Going to add the `External` label so this issue can be triaged appropriately

[2021-07-02 19:14] aditya27dev commented on #3867
@mallenexpensify I have applied on upwork by the name "Aditya Batra" on your JD.

[2021-07-02 19:14] thienlnam commented on #3861
@rushatgabhane Proposal looks good 🟢 , @JmillsExpensify could you please hire @rushatgabhane for the upwork job?

[2021-07-02 19:18] thienlnam commented on #3861
@sam99boi Sorry but there was an earlier proposal that gave a clear solution to the problem given.  As a note for future proposals on different jobs, giving specific details about why this issue is happening and what files you'd need to update to solve the problem helps speed along the review process

[2021-07-02 19:20] sam99boi commented on #3861
@thienlnam no issue buddy if the problem wasn't resolve so catch me up the other person explained in a short form but i explained in detail to clear out more because i try my best to satisfy my clients.

Hope to work with you in future😇🤞

[2021-07-02 19:29] mallenexpensify commented on #3743
Everything _looks_ good to me, I'm going to assign an engineer to review.

[2021-07-02 20:19] stephanieelliott commented on #3783
Hi @aliabbasmalik8 please submit yourself for the job on Upwork so we may hire you:  https://www.upwork.com/jobs/~017c26f39d5e9d2473

[2021-07-02 20:59] mallenexpensify commented on #3743
Job posted https://www.upwork.com/jobs/~01a6f9be9af612f0cd
@iwiznia please review the proposal then assign to to @dklymenk

[2021-07-02 21:00] mallenexpensify commented on #3743
@puneetlath assigned to you via the `External` label because I'm out next week

[2021-07-02 21:01] TomatoToaster commented on #3245
Still haven't gotten to this. To be fair I think we can categorize this as monthly since it's not the most pressing issue. But anyone feel free to change it back if I should work on it ASAP

[2021-07-02 21:04] mallenexpensify commented on #3381
@jliexpensify added you as a buddy to keep eyes on the next week while I'm OOO, thanks

[2021-07-02 21:06] kakajann commented on #3108
#3414 is ready to review!

[2021-07-02 21:10] deetergp commented on #3862
Marking this external so that it goes to the next phase, which is creating a job on Upwork. I think we can skip to the next phase after that, since @rushatgabhane has offered an acceptable solution.

[2021-07-02 21:12] Jag96 commented on #3775
Offer sent @rdjuric! Updating title to keep track of payment

[2021-07-02 21:12] mallenexpensify commented on #3195
@trjExpensify added you via `External` label for buddy check next week while I'm OOO, thanks

[2021-07-02 21:16] parasharrajat commented on #3862
I think we should hold this until https://github.com/Expensify/Expensify.cash/issues/2662. End result could be affected by that.

[2021-07-02 21:18] rdjuric commented on #3862
@parasharrajat There's also https://github.com/Expensify/Expensify.cash/pull/3561 which might affect this

[2021-07-02 21:19] mallenexpensify commented on #2430
@Christinadobrzyn I'm out next week and need a buddy so used `External` label.  Can you do me a favor and Upload a new job to Upwork with the price 2x and close this one? https://www.upwork.com/jobs/~01f895152ca12662bc

I'll pick this back up when back. Thanks!

[2021-07-02 21:28] deetergp commented on #2734
The feature @anthony-hull proposes sounds good, but we're going to need a more detailed description about how he is going to do it before moving forward.

[2021-07-02 21:36] parasharrajat commented on #3862
It's the same @rdjuric just I am referring to the issue. :smile_cat:

[2021-07-02 22:34] iwiznia commented on #3743
That proposal seems it would work, but I am a bit concerned about the one time connect call to get all actions of the report of the action being updated.
Do you think we could instead put the logic to update the maxSequenceNumber [here](https://github.com/Expensify/Expensify.cash/blob/135ab15684f71a88c29ed085b3ca6e1d997c88ca/src/libs/actions/ReportActions.js#L34) instead where we should already ha

[2021-07-02 22:36] NikkiWines opened #3874 "Test issue for Help Wanted Label"
Test Issue please ignore.

[2021-07-02 22:38] iwiznia commented on #2973
The PR is merged and in staging now.

[2021-07-02 22:39] JmillsExpensify opened #3875 "Improve how we fetch/update data on load"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Start chatting on desktop
2. Then move to your mobile app, after not using it for a couple of minutes

## Expected Result:
The app should update

[2021-07-02 23:08] chiragsalian commented on #3838
Yeah, your proposal LGTM @parasharrajat. Feel free to push out a PR and suggest the same proposal in upwork so that you can be paid for your work 👍