[2022-08-17 12:58] kavimuru opened #10427 "[$250] iOS - Split Bill - The selected user email is covered by comment input when keypad opens"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app iOS and login
2. Click on the green plus button in the LHN, then Split Bill
3. Enter an amount and then Next
4. S

[2022-08-17 13:07] kidroca commented on #10351
I'll give this another go, there were other updates as well and perhaps the newer versions would allow `main.js` reloading to work

[2022-08-17 13:30] melvin-bot[bot] opened #10428 "[HOLD for payment 2022-10-18] [$500] 💥 Crash 💥 `.onSubmit`"
## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Cannot read property 'id' of undefined
### `address at index.android.bundle:1:3284609` `.onSubmit`
### Number of Crashes: 9

## Device Information
* **Platforms:** Android, iOS
* **App Versions:** `1.1.87-9`, `1.2.5-2`, `1.2.6.0`, `1.2.11-2`
* **Devices:** samsung SM-G950F 9, Apple iPhone12,1 14.7.1, realme RMX2151 12, s

[2022-08-17 13:48] aneequeahmad commented on #10366
@bfitzexpensify applied to this job. Thanks

[2022-08-17 14:12] NikkiWines commented on #9459
I agree they're not identical issues - just noting that the behavior (moving the cursor to stay in view for long text inputs) exists on both platforms, albeit in slightly different forms.

Fixing it in the app seems like the best way to go for now 👍

[2022-08-17 14:23] kbecciv opened #10430 "Login - When entering 2 digits, the wrong message is displayed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10197

## Action Performed:
1. Go to NewDot login page
2. Type 2 digits and co

[2022-08-17 14:25] OSBotify commented on #10430
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-17 14:42] kbecciv opened #10431 "[Bug] IOS/Android - Unable to open links via App."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10144

## Action Performed:
1. Open the app.
2. Send a message with the follow

[2022-08-17 14:45] OSBotify commented on #10431
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-17 15:09] Julesssss commented on #10431
Wow, so I was unable to reproduce on Android v1.1.88-3`, but after updating to `v1.1.88.14` I can't open any links...

[2022-08-17 15:21] PauloGasparSv commented on #10431
Also replicated on iOS on the same version and the latest on `main`. Could not replicate this on Web, @kbecciv can you confirm again if the issue also happens on web?

[2022-08-17 15:32] kbecciv commented on #10431
@PauloGasparSv Checking with team, will update you shortly

[2022-08-17 15:36] luacmartins commented on #10100
I have a feeling that this is already on prod, since we have had deploys since.

[2022-08-17 15:43] kbecciv commented on #10431
Works on Web

https://user-images.githubusercontent.com/93399543/185183174-a2fc5523-9adb-478f-b5fc-f8f909c25aa0.mp4

[2022-08-17 15:47] tgolen commented on #9042
@PauloGasparSv Can you please help us understand why this is looking for two requests?

I still am only seeing one request, but I _think_ that's the way it should be.

[2022-08-17 15:57] PauloGasparSv commented on #9042
Sure!
@kavimuru @tgolen, I don't think this is an issue.

That was just the amount of times the request appeared to me while testing and developing the feature. And if I removed the network toggle feature one of those request kept being fired.

I think it was being called somewhere else in the code not related to my P.R. and the steps are to make sure my changes were firing a request.

So I think

[2022-08-17 16:02] flodnv commented on #10430
I agree that it seems that PR is unrelated.

I don't know if this is a deploy blocker -- it feels to me like the newer version (on staging) is better. However maybe it would be good to understand why/how this happened? This is the end of my day so I'm unassigning, cc @tgolen since you are deployer and the above PR's reviewer.

[2022-08-17 16:05] flodnv commented on #10430
Maybe this PR is related @yuwenmemon @luacmartins ? https://github.com/Expensify/App/pull/10222

[2022-08-17 16:11] tgolen commented on #9178
Yes, I am just going to close this.

[2022-08-17 16:11] #9178 closed

[2022-08-17 16:16] luacmartins commented on #10430
This is indeed related to https://github.com/Expensify/App/pull/10222 and it happens because we are now sending the error message from the server. We previously replaced that server error [here](https://github.com/Expensify/App/blob/d4fe3333a9108f2be0a96048e081047746881ca8/src/libs/actions/User.js#L199-L201) with a localized version in App.

The fact that the message is in English even in the Span

[2022-08-17 16:17] flodnv commented on #10430
Agreed, makes sense... so, I think we :donothing: here and it's a "feature", not a bug?

[2022-08-17 16:17] luacmartins commented on #10430
I'll remove the blocker and close this issue for now. @kbecciv can you update the tests to reflect this expected behavior now?

[2022-08-17 16:18] #10430 closed

[2022-08-17 16:20] tgolen commented on #9042
Great, thank you! I will do the honors then.

[2022-08-17 16:20] #9042 closed

[2022-08-17 16:41] tgolen commented on #9338
I am not able to reproduce this. I got to the top of a chat eventually:

![image](https://user-images.githubusercontent.com/1228807/185195554-7dfe81ac-be02-45f7-aaa2-ec8b50144c34.png)

[2022-08-17 16:41] #9338 closed

[2022-08-17 16:46] francoisl commented on #10253
Hi @mvtglobally, yes unfortunately OSBotify regenerates the whole (wrong) checklist every time a deploy blocker is added, so it's pointless to keep updating it 😞

To make things easier, here's the list of PRs that need to be actually reviewed

---

# List of PRs

- [x] https://github.com/Expensify/App/pull/10397
- [ ] https://github.com/Expensify/App/pull/10368
- [x] https://github.com/Expensify/A

[2022-08-17 16:49] mvtglobally commented on #10253
Great idea. I will keep a track of above

[2022-08-17 16:50] tgolen commented on #9438
I am no longer able to reproduce this. You can see here how my messages sent after I pasted in the formatted message are showing at the bottom, where I would expect them to. (I pasted the comment after "2" and before "3").

![image](https://user-images.githubusercontent.com/1228807/185197303-2ab9c824-e11c-4e97-a4f2-a1eeb8b391d5.png)

[2022-08-17 16:50] #9438 closed

[2022-08-17 16:52] AndrewGable commented on #10422
Closing as we are currently refactoring this and it should be fixed soon-ish™️

[2022-08-17 16:52] #10422 closed

[2022-08-17 16:59] ntdiary commented on #8292
Hi @parasharrajat , Do the following examples behave as expected ? ( build from `main` branch )
If not, it may be better to explicitly call `focus` when appropriate.

Can you help confirm these scenarios? 😄

1. reopen `#admins`, no auto focus

https://user-images.githubusercontent.com/8579651/185193514-f1fb6461-9f45-49e1-8367-ecc3b9b97886.mp4

2. open `#admins`, log out and then log in, open `#adm

[2022-08-17 18:00] PauloGasparSv commented on #10431
Spent some time but couldn't find which versions introduced the bug.
Assigning @marcaaron here to help so I can focus on some refactor work I'm in!

[2022-08-17 18:11] chiragsalian commented on #9822
Demoting to monthly. It still has value but it is quite the edge case and won't currently affect people under normal scenarios.

[2022-08-17 18:46] Santhosh-Sellavel commented on #9581
@NicMendonca lets update title also.

[2022-08-17 19:06] eVoloshchak commented on #10220
Either something was broken by recent changes or in npm registry, but my `npm I` fails with `react-native-web` being at fault. I'll try to resolve this by the end of the week

This is the posting for completely different issue
![image](https://user-images.githubusercontent.com/9059945/185222286-d78cbeae-bc75-469f-a5a1-df47aab37dfe.png)

[2022-08-17 19:07] puneetlath commented on #10223
Doubled to $500.

[2022-08-17 19:18] marcaaron commented on #10431
This issue was introduced in https://github.com/Expensify/App/pull/10144

I reproduced on `main` by:

1. Creating a new chat and adding a link to `expensify.com`
2. Attempt to tap the link 💥
3. Revert PR
4. Attempt to tap the link ✅

[2022-08-17 19:19] marcaaron commented on #10431
Internal app links like `new.expensify.com/settings` work Ok. External links like `expensify.com` do not work.

[2022-08-17 19:23] marcaaron commented on #10431
Created a revert PR to undo the changes. Seems like we are having some issues with GitHub actions at the moment so unsure if unblocking the deploy is our most urgent priority.

[2022-08-17 19:28] eVoloshchak commented on #10220
And there's no need, we already have a contract running for this job on Upwork

[2022-08-17 19:36] MitchExpensify commented on #10365
Did you fix it as a result of this issue @jasperhuangg ? If "yes" then I think @Puneet-here is due payment

[2022-08-17 19:50] jasperhuangg commented on #10365
Yep! This issue pointed it out, but there's a comment in the PR since we're now entirely sure if the PR needs to be merged, so let's wait on that to get resolved first. @MitchExpensify

[2022-08-17 19:55] marcaaron commented on #9382
We observed this while looking into some issues @gabrielessner was having in the fireroom here:

https://expensify.slack.com/archives/C03SYCHD988/p1660765334591779?thread_ts=1660679114.219859&cid=C03SYCHD988

More logs here in case they are helpful:

https://www.expensify.com/_devportal/tools/logSearch/#sort=asc&size=10000&query=blob%3A%20%22Unexpected%20token%20'%3C'%2C%20%22%3C!DOCTYPE%20%22...%

[2022-08-17 19:58] luacmartins commented on #9382
This is the response https://expensify.slack.com/archives/C03SYCHD988/p1660766084000099?thread_ts=1660679114.219859&cid=C03SYCHD988

[code]

[2022-08-17 20:30] melvin-bot[bot] opened #10435 "Investigate: 💥 Crash 💥 `unknown`"
##
###
### `libc.so` `unknown`
### Number of Crashes: 53

## Device Information
* **Platforms:** Android
* **App Versions:** `1.1.88-14`
* **Devices:** Google Pixel 6a 12

## Stacktraces
<details>
<summary>Android 1.1.88-14</summary>

[code]
</details>

---
<details>
<summary>Internal Firebase Info</summary>

💥 **DO NOT EDIT THIS SECTION** 💥

**Crash IDs:** `230eb3d3cbf7289fd6f0e3663360217a`
**Exc

[2022-08-17 21:04] shawnborton commented on #10358
Let's discuss in the Slack thread!

[2022-08-17 21:11] JmillsExpensify commented on #7835
@gladiator-1 @mananjadhav thanks for the patience this issue. We're discussing internally how to fairly compensate for this issue. I'll be in touch soon with an update.

[2022-08-17 21:57] tgolen commented on #10271
I was able to reproduce this locally. The page on NewDot sits at a spinner forever. If I refresh the page, then the workspace is created properly and everything continues as expected.

Debugging further to see what's going on.

[2022-08-17 22:12] tgolen commented on #10271
@neil-marcellini Can you help me with this? I traced the code to [this](https://github.com/Expensify/App/blob/2dc22a47089033663b46ab3aaa6901e2c15553da/src/pages/LogOutPreviousUserPage.js#L25) and found that `isLoggingInAsNewUser` is `false`, so in effect, nothing is happening and the user stays on that page just looking at the spinner.

This happens every time I try it after I've logged off of New

[2022-08-17 22:24] tgolen commented on #10271
Actually, maybe that's not it. I'm now digging into `setUpPoliciesAndNavigate()` because I think it's something to do with that.

[2022-08-17 22:24] kbecciv opened #10437 "Room notification preference updates after changing the room name"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Create a workspace from the green plus (if needed)
3. Create a workspace room

[2022-08-17 22:26] tgolen commented on #10271
@arosiclair It might be related to your recent PR? https://github.com/Expensify/App/pull/10122

[2022-08-18 00:45] melvin-bot[bot] opened #10440 "💥 Crash 💥 `syscall`"
##
###
### `libc.so` `syscall`
### Number of Crashes: 3

## Device Information
* **Platforms:** Android
* **App Versions:** `1.1.88-14`
* **Devices:** Google Pixel 5 13

## Stacktraces
<details>
<summary>Android 1.1.88-14</summary>

[code]
</details>

---
<details>
<summary>Internal Firebase Info</summary>

💥 **DO NOT EDIT THIS SECTION** 💥

**Crash IDs:** `eed0551921230213391f996a069923d3`
**Excep

[2022-08-18 01:23] thienlnam commented on #10437
Looks related to the recent changes to rename policy room cc @neil-marcellini https://github.com/Expensify/App/pull/10237
From some testing, it seems like pressing the save button triggers the Picker `onInputChange`
I looked through the API changes and it touch any of the notification stuff so it seems like a bug in App, making it external

[2022-08-18 01:36] kbecciv opened #10441 "[$250] Android 13 -Chat - The message field jumps up and the Text field is hidden under the top Header"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App
2. Tap on message field

## Expected Result:
Message field left visible

## Actual Result:
The message field jumps

[2022-08-18 02:36] kbecciv opened #10442 "[HOLD for payment 2022-10-20] [$250] Android/IOS - Attachment - PDF file is not shown in Preview Page, only 0.00% is shown"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in with account
2. Select any user
3. Tab on plus button
4. Select Add attachment
5. Select Chose from

[2022-08-18 02:38] OSBotify commented on #10442
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-18 03:40] kevinksullivan commented on #10407
Looks like this will be external but going to leave that decision to @amyevans

[2022-08-18 04:21] francoisl commented on #10253
How's it going with the checklist @mvtglobally?

Tomorrow morning, I'll finish looking into the blockers that were updated today.

[2022-08-18 04:22] mvtglobally commented on #10253
@francoisl We are almost done QA-ing the initial setup. I am just trying to checkmark and send a summary. Hopefully, I can clean it up a bit to get to whats missing to close this. And need to re-test CPs as well

[2022-08-18 04:26] mananjadhav commented on #7470
@jayeshmangwani Can you submit the PR with the updated fix?

[2022-08-18 04:36] mananjadhav commented on #10127
@vladnobenladen Thanks for the proposal. Looks like adding `disabledIndexes` would work but lets take this example if in a list I am adding disabledIndexes in between, then it would skip the ones and what happens if I have 2-3 consecutive disabled Indexes? Can you tell me what is the UI behavior look like to the user?

[2022-08-18 04:37] vladnobenladen commented on #9933
This issue is no longer reproducible on latest `main`.
After hard research and code review, I found that this issue is already fixed by @luacmartins's [PR](https://github.com/Expensify/App/pull/10051) which was merged on Aug 10.
Build v1.1.88-7 was generated on Aug 8 and build v1.1.88-8 was generated on Aug 15.
Therefore, the issue is gone from v1.1.88-8, but the reporter tested on v1.1.84-11 (gen

[2022-08-18 04:38] mananjadhav commented on #10356
@Karim-30 I don't think changing the font family is an option here.

[2022-08-18 04:42] vladnobenladen commented on #10127
@mananjadhav Let me take example: List has 5 options with consecutive disabled ones
Option 1
Option 2
Option 3 (disabled)
Option 4 (disabled)
Option 5

- press Down arrow -> Option 1 selected
- press Down arrow again -> Option 2 selected
- press Down arrow again -> Option 5 selected
- press Down arrow again -> Option 1 selected
...

Another example, when last option is disabled:
Option 1
Option 2

[2022-08-18 04:47] mananjadhav commented on #10127
I understood what happen in terms of code. What I meant to ask was, in terms of UI do the users see a jump or it directly goes to the n-th item.

Also in terms of implementation, I don't like the idea of unnecessarily add recursion, when this can be covered by simple index handling.

[2022-08-18 04:47] vladnobenladen commented on #10127
Ah, it directly goes to n-th item of course in UI view. Jump is done in background

[2022-08-18 04:49] vladnobenladen commented on #10127
If it's an issue, I can update proposal to use for or while loop instead of recursive function

[2022-08-18 04:52] mvtglobally commented on #10253
Regression is completed
Interim Summary
https://github.com/Expensify/App/pull/9914 - Internal QA
PR https://github.com/Expensify/App/pull/10237 is failing on android with https://github.com/Expensify/App/issues/10422. Not a blocker, checking off
PR #10144 is failing due to https://github.com/Expensify/App/issues/10431
PR https://github.com/Expensify/App/pull/10344#issuecomment-1216104934
PR https:

[2022-08-18 05:33] vladnobenladen commented on #10127
@mananjadhav please check https://github.com/vladnobenladen/Expensify/commit/0a220e3fd8f0f2aebb3f3c9796ca5265a147ba03

https://user-images.githubusercontent.com/97473779/185301760-83f3d02d-061c-474a-8021-61374103e769.mov

[2022-08-18 06:46] mananjadhav commented on #10127
@MonilBhavsar, @vladnobenladen's updated proposal here looks good to me.

🎀 👀 🎀 
C+ reviewed

[2022-08-18 07:37] ravindra-encoresky commented on #9580
Okay, thanks.

Will submit another soon.

[2022-08-18 08:45] Elon-Fask commented on #10366
Sounds Interesting !!!

[2022-08-18 09:30] ravindra-encoresky commented on #9580
### Updated proposed solution :

1.   CompanyStep.js is using ReimbursementAccountForm.js as the wrapper for form components. and ReimbursementAccountForm is used by many other files. So first step is to remove the dependency on ReimbursementAccountForm.  Because if we refactor ReimbursementAccountForm then we need to refactor other files also.
https://github.com/Expensify/App/blob/85a313891bcc4e2

[2022-08-18 10:16] trjExpensify commented on #10221
How we getting on here. Is this just waiting on @AndrewGable review now?

[2022-08-18 10:44] mdneyazahmad commented on #9459
@parasharrajat As long as we do not update the defaultValue that should work and I believe we won't be updating that way also react-native fabric architecture does not support setNativeProps (post fabric).

[code]

[2022-08-18 10:55] flodnv commented on #9933
Makes sense that the API refactor fixed this, thanks 👍

[2022-08-18 10:55] #9933 closed

[2022-08-18 11:09] MonilBhavsar opened #10445 "Test issue"
Qa'ing Web-E #34498

[2022-08-18 11:15] laurenreidexpensify commented on #7586
@thesahindia I created a new job here https://www.upwork.com/jobs/~01e0551432d18fae77 and invted you. As soon as that's done we can issue payment. Thanks!

[2022-08-18 11:24] trjExpensify commented on #10445
Added the exported label, as per @MonilBhavsar's request!

[2022-08-18 11:26] laurenreidexpensify commented on #10441
https://www.upwork.com/jobs/~019e8a4cdcc6682c23

[2022-08-18 11:28] laurenreidexpensify commented on #10185
https://www.upwork.com/jobs/~01ef6ca64a7ec5a295

[2022-08-18 11:31] MonilBhavsar commented on #10445
Please ignore. It's a test issue

[2022-08-18 11:32] laurenreidexpensify commented on #10185
https://www.upwork.com/jobs/~01ef6ca64a7ec5a295

[2022-08-18 11:49] trjExpensify commented on #10357
Apologies for the delay, Melvin. I've been OoO! The iOS app keeps crashing on me this morning, so I can't attempt to reproduce this myself.

@mvtglobally @parasharrajat, the first couple of reproduction steps in the OP are:

Does that mean you already have the PDF saved on your iOS device, upload it, and then try to re-download it? Are we sure that iOS simply doesn't save the same PDF twice or som

[2022-08-18 11:52] trjExpensify commented on #10202
@liyamahendra sent the offer on Upwork. PR is in review, so added the `Reviewing` label.

[2022-08-18 11:55] trjExpensify commented on #10188
👋 Where are we at on [the PR](https://github.com/Expensify/App/pull/10162#issuecomment-1216749084). Have we completed the retests?

[2022-08-18 11:56] trjExpensify commented on #9971
Wahoo, nice! 😍

[2022-08-18 11:59] NicMendonca commented on #10414
job post: https://www.upwork.com/jobs/~01f21a08ef50dd0283

[2022-08-18 12:00] trjExpensify commented on #9331
@mananjadhav @sobitneupane @stitesExpensify what's going on with this issue, it's a tad unclear on the next steps?

[2022-08-18 12:02] trjExpensify commented on #9283
Bump @mananjadhav & @marcaaron shouldn't this PR be merged by now? 🤔

[2022-08-18 12:05] trjExpensify commented on #9123
👋 Where are we at with the review on [the PR](https://github.com/Expensify/App/pull/9551#issuecomment-1213441869). Looks like the changes have been pushed, can this get merged?

[2022-08-18 12:08] trjExpensify commented on #8459
@parasharrajat how'd it go [here](https://github.com/Expensify/App/issues/8459#issuecomment-1205514580) a couple of weeks ago?

[2022-08-18 12:13] trjExpensify commented on #7862
Nice! Looks like you [got to the bottom of it](https://github.com/Expensify/App/pull/9279#issuecomment-1214247308), @JediWattson. 🎉

@Santhosh-Sellavel is asking for the OP of the PR to be updated to reflect the changes, and then this should be ready to go?

[2022-08-18 12:15] trjExpensify commented on #6154
@rushatgabhane, looks like you ran into a snag here with Storybook, right? https://github.com/Expensify/App/pull/10147#pullrequestreview-1074796914

[2022-08-18 12:27] trjExpensify commented on #10437
The title of the issue confused me a bit, I think we should update it to something like: `Room notification preference updates after changing the room name` - what do you think?

Also to confirm, is this issue actually isolated to Web only like the title suggested? The `Platform` section of the OP suggests otherwise.

Lastly, user-created rooms are behind a beta still, so can this actually go `ext

[2022-08-18 12:38] trjExpensify commented on #9252
👋 back from OoO, doubled [here](https://www.upwork.com/jobs/~01f30fad98ca9b6c69).

[2022-08-18 13:23] busyboxww commented on #10414
The text is not having top "priority" or the list is getting auto focus. You should give change the layout, something zIndex or ... set focus programmatically.

[2022-08-18 13:29] mvtglobally opened #10446 "[HOLD for payment 2022-09-16] [$250] When you copy text that has an apostrophe (eg, don't) and then "paste without formatting", it pastes don&rsquo;t"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send a message with a ' in it
2. Copy it (Command+C)
3. Paste it in newDot (Shift+Command+V)

## Expected Result:
Text should

[2022-08-18 13:33] michaelhaxhiu commented on #10263
Doubled yesterday, so not overdue.

[2022-08-18 13:55] JmillsExpensify commented on #9971
Ya, seriously! This is a nice improvement.

[2022-08-18 13:55] JmillsExpensify commented on #7835
@gladiator-1 @mananjadhav thanks both for your patience. The long and short of it is that I'm going to issue full payment to both of you. Expensify created this issue and asked contributors to suggest proposals, at which point @gladiator-1 was hired, provided a solution and pointed to a backend issue on Expensify's end. For his part, @mananjadhav worked with @gladiator-1 in reviewing that proposal

[2022-08-18 14:26] mananjadhav commented on #9283
@marcaaron Wanted to check something before we merge this. If there's any changes based on his feedback, @liyamahendra and I would take this up.

[2022-08-18 14:27] mananjadhav commented on #9331
@trjExpensify Thanks for the bump. We haven't heard from @sobitneupane  and I guess its a small fix, let me raise a PR for the fix by today/tomorrow.

[2022-08-18 15:10] amyevans commented on #10407
Reproduced the issue in mobile Safari, looks good to move to External.

[2022-08-18 15:28] shawnborton commented on #10358
We decided to just close this one out - the variable length file names are expected.

[2022-08-18 15:28] #10358 closed

[2022-08-18 15:52] trjExpensify commented on #9331
Thank you, @mananjadhav.

[2022-08-18 15:58] gladiator-1 commented on #7835
@JmillsExpensify Thank you so much for your appreciation and concern, I can’t thank you enough I’m really grateful, It is a pleasure for me to work with you, and looking forward to working with you again.

Thanks.

[2022-08-18 16:05] arosiclair commented on #10271
Possibly. Just gave it a few tries in dev with OldDot Web and NewDot Web and the transition worked even when Newdot was signed out. Which platforms can you repro with?

[2022-08-18 16:06] MitchExpensify commented on #10365
Cool I'll reopen this so I'm reminded to pay out

[2022-08-18 16:11] luacmartins commented on #10188
No updates on the retests. @mountiny asked for one not too long ago.

[2022-08-18 16:12] mvtglobally commented on #7962
Retest looks Pass
https://utest-dl.s3.amazonaws.com/testRunStepMinAttachmentsResult/23601335/IMG_9B54389DF338-1.jpeg?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1692375078&Signature=17Wm%2F7F5wwDGDGbs0oVBXE9r7Tg%3D
https://utest-dl.s3.amazonaws.com/testRunStepMinAttachmentsResult/23601335/IMG_2880.PNG?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1692375078&Signature=qdzTXep7%2FEjJszEs8U9QP9FFs1E%3D

[2022-08-18 16:12] iwiznia opened #10449 "[$250] Create a new linter to find missing translated errors"
Context https://expensify.slack.com/archives/C03TQ48KC/p1660838478754859

# Problem

In actions files we are adding some default error messages. Given we are not in a react component, it's easy to forget the error messages need to be localized and them being errors and some very uncommon, it will be very hard for anyone to notice they are not localized.

# Solution

Figure out if we can build a li

[2022-08-18 16:13] tgolen commented on #10271
I'm just doing it on web. I can repro it every time. I will try to get a video of it for you just to make sure we are doing the same things

[2022-08-18 16:14] mvtglobally commented on #7962
PR looks resolved
![](https://utest-dl.s3.amazonaws.com/testRunStepMinAttachmentsResult/23601335/IMG_9B54389DF338-1.jpeg?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1692375078&Signature=17Wm%2F7F5wwDGDGbs0oVBXE9r7Tg%3D)

[2022-08-18 16:22] tgolen commented on #10271
Haha, of course. When I try to record it, it works perfectly fine the first time.

I made sure I was on the latest version of `main` for both repos and made sure to ran `npm i` in both repos and `composer install` for web-e.

Maybe that had something to do with it. I'm going to close this since neither of us can reproduce it now.

[2022-08-18 16:41] NikkiWines commented on #9459
+1 agreed with your assessment, @Regaron's proposal seems fine. @adelekennedy would you mind hiring them for this role? Thank you!

[2022-08-18 17:07] marcaaron opened #10450 "[$250] Test Internal PR Review"

[2022-08-18 17:08] mvtglobally commented on #10253
@francoisl  Cont Regression summary
https://github.com/Expensify/App/pull/10158 is failing due to https://github.com/Expensify/App/issues/10405. Not a blocker. Checking off
PR https://github.com/Expensify/App/issues/10265 is failing https://github.com/Expensify/App/issues/10426. Not a blocker. checking off
PR https://github.com/Expensify/App/pull/9955 is failing due to https://github.com/Expensify

[2022-08-18 17:08] #10450 closed

[2022-08-18 17:15] kakajann commented on #10410
# Proposal
This line:
https://github.com/Expensify/App/blob/25a7a90c63d3b1d9c8d321f48323c1b1c0d3e9a4/src/pages/signin/SignInPageLayout/index.js#L56
should be:
[code]

# Result
| Before | After |
| - | - |
| https://user-images.githubusercontent.com/11542415/185454489-3f18bdd2-ac88-4037-b130-27466e9658b8.mov | https://user-images.githubusercontent.com/11542415/185455101-182109fc-00c4-4e43-a105-9765

[2022-08-18 17:15] puneetlath commented on #10406
External upwork job: https://www.upwork.com/jobs/~01c4fa4158f879a239
Internal upwork job: https://www.upwork.com/ab/applicants/1560314167990468608/job-details

[2022-08-18 17:18] techievivek commented on #10442
@kbecciv I am unable to reproduce this either locally or on staging. Is there a specific file size or any constraint that gets applied here because uploading a small-size pdf file doesn't help us reproduce this?
<img width="1358" alt="Screenshot 2022-08-18 at 10 46 24 PM" src="https://user-images.githubusercontent.com/35863227/185455819-c8935393-4c66-4e90-b62d-fe9f92288729.png">

[2022-08-18 17:24] kbecciv commented on #10442
@techievivek Checking with Team, will update you shortly

[2022-08-18 17:32] francoisl commented on #10423
Hi @youssef-lr, were you able to look into this?

[2022-08-18 17:39] kbecciv commented on #10442
@techievivek This issue is reproduced in Android app, please attached PDF file.
 I am unable to reproduce this issue in Web/Chrome.

[change.pdf](https://github.com/Expensify/App/files/9376229/change.pdf)

https://user-images.githubusercontent.com/93399543/185459350-815915c1-8ada-41c0-b90c-3cbb63242fe6.mp4

[2022-08-18 17:42] youssef-lr commented on #10423
Hi @francoisl. Yes I could reproduce it on the simulator. I was trying this afternoon to go back to previous commits to see when did it break but for some reason I could never `npm install` to work. Still working on it but I'm AFK right now and will be back in a couple of hours.

[2022-08-18 17:46] kbecciv opened #10451 "OldDot - Help - No side menu is shown"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10344#issuecomment-1217267880

## Action Performed:
1. Navigate to URL https:/

[2022-08-18 17:50] kbecciv commented on #10442
@techievivek Attaching IOS behavior for this issue

https://user-images.githubusercontent.com/93399543/185461398-21c41daf-c20f-4d91-b108-7e1cef2d2587.MP4

[2022-08-18 17:59] alex-mechler commented on #10357
@parasharrajat Are you still able to download that PDF from other clients like Web or Desktop, or is this just impacting iOS?

[2022-08-18 18:00] chiragsalian commented on #10446
Looks like a straightforward external issue. Adding the labels.

[2022-08-18 18:00] thienlnam commented on #10437
This issue update sounds good to me

I've just tested this on desktop and it appears to be happening there as well so it doesn't seem to be isolated to web

Good catch on this, I didn't know this was behind a beta - this will have to be internal then

Thanks!

[2022-08-18 18:03] trjExpensify commented on #10437
Cool, sounds good. Updating the issue title and removing my assignment as a CM isn't needed.

[2022-08-18 18:06] francoisl commented on #10253
Thanks for keeping this moving, we're getting there!

---

Working on this one

There's a [fix](https://github.com/Expensify/App/pull/10433) for this (revert), but the GH actions are failing for something unrelated. We're working on it, and I'll let you know when you can try again

Yes please, we can test again

Looking

[2022-08-18 18:13] alex-mechler commented on #10357
Awesome, thanks for the info! Based on that I'm guessing that this is something clientsided, so going to send this external!

[2022-08-18 18:32] kakajann commented on #10442
# Proposal
The error is:
[code]

simply adding this prop `trustAllCerts={false}` will fix this issue.
https://github.com/Expensify/App/blob/a72f85a5bdd955187213527ce4c44d93fb29895d/src/components/PDFView/index.native.js#L35-L41
![Screen Shot 2022-08-18 at 11 30 12 PM](https://user-images.githubusercontent.com/11542415/185468142-0dc1c176-ac2b-4ae2-8797-534f7b2c4f83.png)

[2022-08-18 18:37] trjExpensify commented on #10357
Upwork URL: https://www.upwork.com/jobs/~019f7f04f94b126efd

[2022-08-18 18:49] kbecciv opened #10453 "mWeb/Safari - Chat - Smart banner disappear in Workspace and New Chat/New Group/New Room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app in mWeb Safari
2. Ensure the smart banner is shown on all pages in the app

## Expected Result:
The smart banner

[2022-08-18 19:24] jayeshmangwani commented on #7470
@mananjadhav PR raised
cc: @stitesExpensify

[2022-08-18 19:33] tgolen commented on #10451
Closing this as low value since the help site is currently being developed

[2022-08-18 19:33] #10451 closed

[2022-08-18 21:09] Luke9389 commented on #10366
I'm open to seeing proposals

[2022-08-18 21:36] AndrewGable commented on #10331
PR in review

[2022-08-18 21:56] AndrewGable commented on #10221
Yes

[2022-08-18 22:06] luacmartins commented on #10411
We are updating react-dom [here](https://github.com/Expensify/App/pull/10439). Closing.

[2022-08-18 22:06] #10411 closed

[2022-08-18 23:23] MadPharaoh commented on #10357
proposal: Ahmed Badiwy
I think
[code]
should do the trick i guess

[2022-08-18 23:36] marcochavezf commented on #10417
Hi @trjExpensify @JmillsExpensify, just gut-checking here, I noticed the pattern for the save button on the Room Settings page is different than the Workspace General Settings page, shouldn't we use the same pattern for both pages?

<img width="947" alt="Screen Shot 2022-08-18 at 18 32 50" src="https://user-images.githubusercontent.com/6829422/185512757-21a78995-e37a-4fe7-9ec3-51c96117e322.png">

[2022-08-18 23:40] adelekennedy commented on #9389
done and done

[2022-08-18 23:40] #9389 closed

[2022-08-18 23:44] adelekennedy commented on #10449
[internal](https://www.upwork.com/ab/applicants/1560412237747277824/job-details)
[external](https://www.upwork.com/jobs/~01180b998fec75b136)

[2022-08-19 00:20] trjExpensify commented on #10417
Yeah agreed, it should. I'm not entirely sure why the `Save` button was put there for user-created rooms, but with the push to page design it will be moved to the subsequent page.

[2022-08-19 00:36] Sheharyar566 commented on #10449
I'd love to take on this issue. Submitted proposal on Upwork

[2022-08-19 00:55] MadPharaoh commented on #10406
proposal:Ahmed Badiwy
this issue with safari only Using any position: fixed on the dragable area so changing the position is the ideal solution

[2022-08-19 01:53] Dhruvitmaniya commented on #10441
Hey,
This could be something because of the scrollview padding behaviour. For that we can remove extrascroll style for Android and iOS. I am sure that I can provide solution to this with in 2 days max.

[2022-08-19 02:13] Dhruvitmaniya commented on #10441
Should I add a proposal to upwork?

[2022-08-19 04:26] Christinadobrzyn commented on #10352
Just follow up here, I think this means we can close this job without action. Do I have that correct @Gonals?

[2022-08-19 05:06] thesahindia commented on #10410
@Beamanator, we can close this one as we already have an internal [issue](https://github.com/Expensify/Expensify/issues/213459) for this.

[2022-08-19 06:44] thesahindia commented on #10031
We can close this now. Now we are using popover to display the error.

[2022-08-19 06:52] thesahindia commented on #9123
Yeah it is ready for the review.

[2022-08-19 08:06] Gonals commented on #10352
I believe the final changes are just removing the vertical spacing for iPad and leaving web as-is, right, @shawnborton?

[2022-08-19 09:02] b1tjoy commented on #9662
### PROPOSAL
### Problem

### Solution
Update code in this file will fix our current issue.
https://github.com/Expensify/expensify-common/blob/e0ec0b9abca4d7b417ba0b016f8725856cfeeece/lib/ExpensiMark.js#L259-L269
[code]

[2022-08-19 10:04] laurenreidexpensify commented on #7586
As soon as Sahil accepts the offer will issue payment and close out

[2022-08-19 10:56] thesahindia commented on #7586
Sorry for the delay. I have accepted the offer now.

[2022-08-19 11:10] ntdiary commented on #10345
# Proposal
## Solution
OMG, I noticed this issue eight days ago, it is so hard to investigate. 😅
Some progress now:

1. please try to build `react-native` with NDK 21
2. use this version of hermes-engine in the project
3. and then app will work fine.

<img width="900" alt="0" src="https://user-images.githubusercontent.com/8579651/185596174-82bccb8e-2f4a-4556-b6e3-456ce5055798.png">

https://user-i

[2022-08-19 11:28] youssef-lr commented on #10423
The IOU badge does not appear to me at all when running the app locally on any platform. Still looking into it.

<img width="1800" alt="Screen Shot 2022-08-19 at 12 24 52" src="https://user-images.githubusercontent.com/9680864/185608409-4e4d3e8d-a7bb-4eac-90e2-c1062ed84f3c.png">

[2022-08-19 14:14] iwiznia commented on #10449
@Sheharyar566 please follow [the instructions](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#propose-a-solution-for-the-job) for proposals

[2022-08-19 14:50] mdneyazahmad commented on #10449
## Proposal

1. We need to create a custom rule in `eslint-config-expensify`.
2. Install the package in the app.
3. Add localization message in `en.js` and `es.js` file.
4. Fix the linting error by replacing hard coded string with `Localize. translateLocal`.

[code]

#### I have few questions:
1. Do we need to explicitly check for `getMicroseconds` or any property will produce the error?
2. `Local

[2022-08-19 15:52] luacmartins commented on #10343
Closing since this is in prod

[2022-08-19 15:52] #10343 closed

[2022-08-19 15:52] vladnobenladen commented on #4187
I think this case should be added as well: (when text and url are same)

Here's video of failure:
https://user-images.githubusercontent.com/97473779/185657514-e2a0b289-88a9-4110-a248-eb7cbc557b38.mov

https://github.com/Expensify/expensify-common/blob/e0ec0b9abca4d7b417ba0b016f8725856cfeeece/lib/ExpensiMark.js#L259-L269
After reviewing code, I suspect this line which excludes failure case above:
h

[2022-08-19 15:53] luacmartins commented on #10099
@kavimuru is this issue still reproducible?

[2022-08-19 15:54] luacmartins commented on #10097
@kbecciv is this issue still reproducible?

[2022-08-19 15:54] luacmartins commented on #10094
@kbecciv  is this issue still reproducible?

[2022-08-19 16:08] luacmartins opened #10460 "Clean up unused var suppresion"
We should remove [this lint suppression](https://github.com/Expensify/App/pull/10436#discussion_r949575116) once the method is used in App.

[2022-08-19 16:23] iwiznia commented on #10449
Explicitly

Oh, this is a linter, so just people developing will see it, so no need to localize, we only require localizing things used in the app itself that could be seen by users.

The proposal looks good to me, @rushatgabhane what do you think?

[2022-08-19 16:49] amyevans commented on #10453
Closing since this is a duplicate of https://github.com/Expensify/App/issues/8791

[2022-08-19 16:49] #10453 closed

[2022-08-19 17:38] techievivek commented on #10442
@kevinksullivan We already discussed about this issue [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1660900562827799) so we will be just moving forward with the @kakajann

[2022-08-19 17:45] kbecciv commented on #10094
@luacmartins Chcking, update you shortly

[2022-08-19 17:47] kbecciv commented on #10094
Unable to reproduce it with build v1.1.88-14
![Screenshot_20220819-134625_New Expensify](https://user-images.githubusercontent.com/93399543/185677559-4d302a48-4917-4396-8951-22997b66720c.jpg)

[2022-08-19 17:49] kbecciv commented on #10097
Unable to reproduce it with build 1.1.88.14
![Screenshot_20220819-134840_New Expensify](https://user-images.githubusercontent.com/93399543/185677909-80c8fbc3-ca25-4c0f-8488-4581dae6c5d4.jpg)

[2022-08-19 17:58] marcochavezf commented on #10417
Ah where can I find this design? Is that something that will be done in a design doc? Should we put this issue on hold?

[2022-08-19 18:08] marcaaron commented on #9283
Sorry, I'm not sure what is needed from me. What is it exactly that you wanted to check?

[2022-08-19 18:09] marcaaron commented on #9283
Seems like we are waiting for @liyamahendra to request another review.

[2022-08-19 18:09] marcaaron commented on #9283
I think we probably must consider this abandoned? It's been a month without an update.

[2022-08-19 18:40] luacmartins commented on #9382
Just adding more context - https://expensify.slack.com/archives/C01GTK53T8Q/p1660913217196589

[2022-08-19 18:43] luacmartins commented on #10094
Thanks for confirming! I think this was fixed [here](https://github.com/Expensify/Web-Expensify/pull/34497). Not really sure how though.

Closing this issue. Please reopen if you see this happening again.

[2022-08-19 18:43] #10094 closed

[2022-08-19 18:44] luacmartins commented on #10097
Thanks for confirming! I think this was fixed [here](https://github.com/Expensify/Web-Expensify/pull/34497). Not really sure how though.

Closing this issue. Please reopen if you see this happening again.

[2022-08-19 18:44] #10097 closed

[2022-08-19 18:52] #10331 closed

[2022-08-19 18:56] shawnborton commented on #10352
Correct, or said another way - don't target anything based on the actual kind of device, just use width as our breakpoint for determining that extra spacing.

[2022-08-19 20:40] #9575 closed

[2022-08-19 23:23] deetergp commented on #9628
This PR was merged 4 days ago. We've got another 3 days to go for regressions then we'll pay it out.

[2022-08-19 23:24] deetergp commented on #9422
Not overdue. Assigned in Upwork a few days again and awaiting a PR.

[2022-08-20 06:10] liyamahendra commented on #9283
@marcaaron sorry, I'm not aware what are we waiting for here from me. Happy to do the needful if you please let me know. Thanks

[2022-08-20 07:33] b1tjoy commented on #9705
### PROPOSAL

### Problem

When user scroll the touchpad, the browser will raise a sequence of events. If we scroll at some angle(not preciselly horizontal or vertical), we may capture an event with `Math.abs(event.deltaY) > 3`, we mark it as vertical scrolling and bubble up the event to parent element, then make the `FlatList` scroll vertically.

https://github.com/Expensify/App/blob/22e39f9de1c1

[2022-08-20 13:19] eVoloshchak commented on #10220
PR is up

[2022-08-20 13:53] eVoloshchak commented on #9422
PR is up

[2022-08-20 14:39] mdneyazahmad commented on #9662
https://github.com/Expensify/App/issues/9662#issuecomment-1185235177 https://github.com/Expensify/App/issues/9662#issuecomment-1188824219

I updated the test cases as per the result, it passes all tests and it does not produce any side effects. But I highly doubt that we need this feature. I would suggest to reevaluate the issue and my alternate proposal is to revert https://github.com/Expensify/A

[2022-08-20 16:34] mollfpr commented on #10185
### Proposal

#### Root cause
The `copyLink` action is need parameters `reportAction` and `reportID` to generate the link.
https://github.com/Expensify/App/blob/22e39f9de1c1fbace6e7a0e4c06f364310129895/src/pages/home/report/ContextMenu/ContextMenuActions.js#L135-L140
If we try to generate the link by opening context menu from the anchor link message, there's no `reportID` or `reportAction` data pr

[2022-08-20 16:57] ahmdshrif commented on #10352
@shawnborton  which width do we will target?
I think if we target the width, not the platform then the behavior is correct. the current behavior allows this extra space if the width counts as a large screen.

my proposal was to use  canUsetTouchScreen  || this.props.isSmallScreenWidth || this.props.isMediumScreenWidth  . to determine this space. but think this will not be correct based on your exp

[2022-08-20 17:04] eVoloshchak commented on #9497
PR is up

[2022-08-20 19:04] AndrewGable commented on #8791
Ok doing nothing, so let's close. Reopen if you disagree.

[2022-08-20 19:04] #8791 closed

[2022-08-20 19:06] ahmdshrif commented on #10353
I just think the image on the button is not something we expect. because that wasn't the behavior before.

but anyway I think the iPad login form is still small than what you provided in the confirmed design. it's lookalike you use small mobile emulate inside the screen.
what do you think ? @shawnborton

 design from 8122 issue

<img width="834" alt="158105168-bb527f56-5216-4f62-ac94-ebb5ce23ddfd"

[2022-08-20 21:33] adelekennedy commented on #8292
not overdue - still reviewing proposals

[2022-08-20 21:54] adelekennedy commented on #4324
not overdue!

[2022-08-20 21:56] adelekennedy commented on #7942
@roryabraham this is still on hold? Should we move it to monthly or is the weekly label helpful?

[2022-08-21 03:00] melvin-bot[bot] opened #10469 "[$250] 💥 Crash 💥 `com.facebook.soloader.SysUtil.copyBytes`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

##
###
### `SysUtil.java line 261` `com.facebook.soloader.SysUtil.copyBytes`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:** `1.1.87-9`
* **Devices:** Google Pixel 6 Pro 12

## Stacktraces
<details>
<summary>Android 1.1.87-9</summary>

[code]
</details>

---
<deta

[2022-08-21 03:02] mvtglobally commented on #10253
Outstanding items
Internal QA - https://github.com/Expensify/App/pull/9914, https://github.com/Expensify/App/pull/10310

We retested - https://github.com/Expensify/App/pull/10197 it is still failing. https://github.com/Expensify/App/issues/10430. @luacmartins since you closed the issue. are we ok to checkoff original PR?

Are we ok to check off the following? We are not able to validate due to PRO

[2022-08-21 04:38] mananjadhav commented on #7470
@jayeshmangwani for this one do you mind uploading a video of Web and 1 Mobile platform that covers the whole app different screens just to be sure we're not breaking anything? I'll take a look at the PR after that.

[2022-08-21 04:43] mananjadhav commented on #9283
@marcaaron I had reviewed the PR and approved. Waiting for your final approval.

[2022-08-21 04:55] mananjadhav commented on #10441
@Dhruvitmaniya Your proposal looks more of an assumption and no technical details.

---

Still open for proposals

[2022-08-21 05:40] jayeshmangwani commented on #7470
@mananjadhav sure , I am away from work for 2 days , I will upload on Tuesday

[2022-08-21 08:43] Dhruvitmaniya commented on #10366
**Proposal**
issue:
![Screenshot 2022-08-21 at 2 01 25 PM](https://user-images.githubusercontent.com/64740528/185782765-1087e524-405f-430e-a99e-02007f64b9fb.png)

we can solve this issue by adding latter spacing
result:
![1](https://user-images.githubusercontent.com/64740528/185782806-de75f331-e935-43f4-9362-3733c26bf64e.png)

[2022-08-21 09:02] Dhruvitmaniya commented on #10366
@Luke9389  I have sent proposal on upwork, please check

[2022-08-21 13:31] mollfpr commented on #9252
### Proposal

There are couples of root cause explained by other's and the issue only happen on Android. Also, we encountered the same issue on `ReportActionCompose` and fix with adding a timeout before focusing the input and that's not acceptable in this issue.

So I try replacing `InteractionManager.runAfterInteractions` when `onModalHide` is called with `requestAnimationFrame`. Turns out this `

[2022-08-21 18:29] Santhosh-Sellavel commented on #8791
@AndrewGable

Does this job qualifies for payment, as proposed solution was implemented but the result was not as we expected though?

cc: @JmillsExpensify @tgolen

[2022-08-21 18:34] Santhosh-Sellavel commented on #10366
@Dhruvitmaniya Check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) to understand our process. Please submit your proposal here to get reviewed thanks!

[2022-08-21 18:43] Santhosh-Sellavel commented on #10406
@MadPharaoh Can you elaborate your more also with code changes you are proposing. Also explain why it's the only ideal solution?

[2022-08-21 18:47] Santhosh-Sellavel commented on #9510
Waiting for proposal

[2022-08-21 18:47] Santhosh-Sellavel commented on #9510
@Puneet-here any update?

[2022-08-21 20:59] Dhruvitmaniya commented on #10366
@Santhosh-Sellavel I have already shared proposal here, need to share new ?

[2022-08-22 03:42] mdneyazahmad commented on #8791
I have been following this issue for a long time and also proposed a solution. In general higher prices issue is not that easy and it takes a quite amount of time to find the root cause and propose a working solution.

I proposed https://github.com/Expensify/App/issues/8791#issuecomment-1181993100 a solution that would have been fixed the issue but it is not that easy to test the solution locally.

[2022-08-22 04:50] thesahindia commented on #10367
Found the steps -
1. The account already has a bank account added.
2. Hit green plus button
3. Send money
4. Enter amount
5. Enter email
6. Pay with Expensify

cc: @MitchExpensify

[2022-08-22 05:06] Dhruvitmaniya commented on #10366
@Santhosh-Sellavel I have already posted a proposal here, need to share new ?

[2022-08-22 06:45] adeel0202 commented on #10355
@michaelhaxhiu, this issue has no assignee.

[2022-08-22 06:55] luacmartins commented on #10253
@mvtglobally yes, checked off https://github.com/Expensify/App/pull/10197! Thanks for the ping

[2022-08-22 07:36] luacmartins commented on #10267
Gonna work on it this week!

[2022-08-22 07:36] luacmartins commented on #9848
Looking for proposals

[2022-08-22 07:42] luacmartins commented on #9582
I'll try to work on it this week!

[2022-08-22 07:43] JmillsExpensify commented on #7835
All contributors have been paid so I'm closing the issue. Thanks!

[2022-08-22 07:43] #7835 closed

[2022-08-22 07:44] luacmartins commented on #8722
Still on hold

[2022-08-22 07:49] JmillsExpensify commented on #9813
@roryabraham @Santhosh-Sellavel mind helping clarify our next steps for this issue?

[2022-08-22 07:51] mdneyazahmad commented on #10163
## Proposal

We need to do following changes.
1. Add `IS_IN_STAGING: ENVIRONMENT === CONST.ENVIRONMENT.STAGING,` in `CONFIG.js`.
2. Add `STAGING_URL: 'https://staging.expensify.com/',` in `CONST.js`.

3. Change `title` and `isOn` condition.
https://github.com/Expensify/App/blob/22e39f9de1c1fbace6e7a0e4c06f364310129895/src/components/TestToolMenu.js#L42-L47

[code]

4. Update the condition in `Http

[2022-08-22 07:55] neil-marcellini commented on #10182
The PR has been merged, what's the status on payment?

[2022-08-22 07:56] mdneyazahmad commented on #10163
Sorry, I see condition on 4 is not correct I will update it soon but you got the idea.

[2022-08-22 07:59] pecanoro commented on #9818
Ok, it seems this keeps happening and that fix didn't solve this, so this is open for proposals!

[2022-08-22 08:03] errahsoufiane commented on #10182
I am not hired yet, though I submitted proposal on upwork

[2022-08-22 08:05] Santhosh-Sellavel commented on #9813
We are still looking for a proposal here.

[2022-08-22 08:09] mdneyazahmad commented on #7917
Not overdue. @Santhosh-Sellavel Could you please check it? I propose an alternate solution that may fix the issue https://github.com/Expensify/App/pull/9749#discussion_r946663417

[2022-08-22 08:11] michaelhaxhiu commented on #9509
We are still waiting on the deploy here, seems it's not ready yet.

[2022-08-22 08:13] mdneyazahmad commented on #10223
Looks like a duplicate of https://github.com/Expensify/App/issues/8459

[2022-08-22 08:14] errahsoufiane commented on #9818
Let me clarify this:
https://github.com/Expensify/App/issues/9624 avoided the deep link which causes this crash (by hiding `Copy Link` from the menu) but actually not prevents crash once the link is opened.
Also, https://github.com/Expensify/App/issues/9624 is only for `commentLinking` beta mode and still showing `Copy Link` if not `commentLinking` beta.
Here's reference: https://github.com/Expens

[2022-08-22 08:15] luacmartins commented on #10100
@kavimuru can we still reproduce this? I think this has been fixed [here](https://github.com/Expensify/Web-Expensify/pull/34497).

[2022-08-22 08:21] luacmartins commented on #9382
Asked for help in [#engineering-chat](https://expensify.slack.com/archives/C03TQ48KC/p1660940598053789)

[2022-08-22 08:21] michaelhaxhiu commented on #10107
Not overdue as I just doubled the price

[2022-08-22 08:37] Santhosh-Sellavel commented on #8608
PR is merged and waiting for deployment!

[2022-08-22 08:44] laurenreidexpensify commented on #7586
Paid :)

[2022-08-22 08:44] #7586 closed

[2022-08-22 08:45] Santhosh-Sellavel commented on #9545
@iwiznia

The above [proposal](https://github.com/Expensify/App/issues/9545#issuecomment-1217149348) would solve the crash but wound end up in an infinite loading spinner

<img width="301" alt="Screenshot 2022-08-22 at 2 14 27 PM" src="https://user-images.githubusercontent.com/85645967/185879159-63d1cc06-dfa6-4a8d-8274-db508182839f.png">

What's the expected behavior here if the `login` is missing

[2022-08-22 08:46] Santhosh-Sellavel commented on #9577
Waiting for proposals

[2022-08-22 08:47] Santhosh-Sellavel commented on #10109
PR is merged and waiting for deployment!

[2022-08-22 08:49] Julesssss commented on #10327
hey @kadiealexander, can we please double the issue amount?

[2022-08-22 08:49] Julesssss commented on #10186
Seeking proposals.

[2022-08-22 08:50] marcochavezf commented on #8311
not overdue, hi @parasharrajat what do you think about the `NestablePressable` strategy that @songlang1994 mentioned in the last comment? Seems that a different nested `Pressable` is a good idea to prevent events bubble up.

[2022-08-22 08:51] michaelhaxhiu commented on #9391
We are still taking proposals that fit the description described by @MonilBhavsar. Doubled the price for that reason.

[2022-08-22 08:51] Julesssss commented on #9250
Hey @kevinksullivan, could we please double the amount?

[2022-08-22 08:52] Julesssss commented on #8846
Hi @dharmik, there are some unresolved comments. Please take a look and let us know if you have further questions: https://github.com/Expensify/App/pull/10348#issuecomment-1221467227

[2022-08-22 08:53] kadiealexander commented on #10327
Sorry, was flying! Price doubled!

[2022-08-22 08:53] dhairyasenjaliya commented on #10186
@Julesssss do we have any additional details regarding steps as of now seems like this is not reproducible have tried it on multiple devices with failure

[2022-08-22 08:53] Santhosh-Sellavel commented on #10186
@Julesssss Were you able to reproduce this? I am also unable to reproduce!

[2022-08-22 09:08] dylanexpensify commented on #10407
reviewing today, but seems we're unsure about this one. cc @parasharrajat any thoughts?

[2022-08-22 09:09] dylanexpensify commented on #9421
Any updates here?

[2022-08-22 09:10] dylanexpensify commented on #9902
Not overdue, will double price

[2022-08-22 09:13] aldo-expensify commented on #9545
I guess we should just redirect ? (not sure if that is easy/possible here)

[2022-08-22 09:15] Beamanator commented on #10410
@thesahindia good find!

@ctkochan22 any reason you'd prefer making this issue internal? If this is just a styling thing let's make it external, but if there's other considerations please let me know :D

[2022-08-22 09:16] Julesssss commented on #10186
Ah sorry, I misread the above comments. I'm also not able to reproduce this.

@jasperhuangg were you able to reproduce? If not I think we can remove external for now

[2022-08-22 09:25] Santhosh-Sellavel commented on #9545
Maybe show a growl notification before we redirect?

@iwiznia

[2022-08-22 09:29] michaelhaxhiu commented on #10068
I'm removing my assignment, given that this is `internal` now and so it should be treated like a normal triaged GH.

[2022-08-22 09:33] rafecolton commented on #10376
This is a good point @JmillsExpensify. We discussed it somewhere when talking about online status - @michaelhaxhiu do you remember where that discussion is? This could be a case where our use case is not the common one just yet and we have to wait to prioritize this feature until we're ready to support business chat. One alternative could be to add a simple status field that's just a free text fie

[2022-08-22 09:33] marcochavezf commented on #10417
I found out we're going [implement](https://expensify.slack.com/archives/C02HWMSMZEC/p1660603697810099?thread_ts=1656005936.435959&cid=C02HWMSMZEC) part of the "push-to-page" design in the Account Settings doc, so I'm going to put this issue on hold since it's better to come back this issue after the Account Settings is implemented.

[2022-08-22 09:34] pecanoro commented on #9818
Sure, not saying is a regression, but the crash is still here. Can we just disable/remove this functionality for all cases, beta or no beta? Since it's not working no matter what

[2022-08-22 09:37] michaelhaxhiu commented on #8235
Overdue but I think we still want to do this.

[2022-08-22 09:42] MonilBhavsar commented on #10127
Looks good to me too. Thanks!

[2022-08-22 09:42] errahsoufiane commented on #9818
I agree
cc:
@chiragsalian (since you're working on this feature)
@mananjadhav (since you proposed beta)

[2022-08-22 09:46] techievivek commented on #10442
Not overdue, have posted it in slack for any contributor manager to have a look.

[2022-08-22 09:54] MonilBhavsar commented on #9239
It's unblocked now. Will try to get back to this.

[2022-08-22 10:00] flodnv commented on #9826
Is this fixed? I don't think so? 😕
<img width="202" alt="image" src="https://user-images.githubusercontent.com/4164921/185894966-a7ae5cbe-0170-4a4b-9708-da15e944631a.png">

[2022-08-22 10:02] Santhosh-Sellavel commented on #10198
Issue still reproducible, PR is being reviewed!

[2022-08-22 10:03] Beamanator commented on #10376
I also remember that conversation happening a while back, I think there was a P/S but it was either pushed to the future (not critical at the moment) or something like that?

I also like the idea of the status field, but then I think it would still be useful to provide some feedback to the front end when characters are stripped (either due to WAF think it's some XSS or even filtering via `_inputru

[2022-08-22 10:08] stephanieelliott commented on #10349
This was on an old version of the app, we're now on 1.187-9. Tested this, not reproducible on prod or staging.

[2022-08-22 10:08] #10349 closed

[2022-08-22 10:08] Santhosh-Sellavel commented on #10357
@MadPharaoh

Using Platform.OS is not recommended & against our [Philosophy 5](https://github.com/Expensify/App#philosophy:~:text=native%2Donyx.-,Philosophy,-This%20application%20is).

So if that's the only way, write a new proposal with all the changes you are proposing following [Philosophy 5 iii](https://github.com/Expensify/App#philosophy:~:text=native%2Donyx.-,Philosophy,-This%20application%2

[2022-08-22 10:15] michaelhaxhiu commented on #10355
@Justicea83 Sorry I think we are missing a step to move this forward.

Can you help discern if this is fixable `internally` or `externally`, and label it accordingly? If you aren't sure, can you post in #contributor-management and @`contributor-management-engineering` for help?

I just tested this on my side and am certain it's reproducible. I made a recording of me reproducing it here (sorry it's

[2022-08-22 10:15] mdneyazahmad commented on #10449
@rushatgabhane PR is raised.

[2022-08-22 10:17] Justicea83 commented on #10355
I think this needs to be internal

[2022-08-22 10:20] michaelhaxhiu commented on #10355
Thank you!

[2022-08-22 10:23] michaelhaxhiu commented on #10355
@adeel0202 as a heads up, you are eligible for the bug reporting bonus _after_ this has been fixed. It will need to be picked up internally by an engineer and that's subject to our prioritization. Just sharing the context in case it's helpful.

[2022-08-22 10:23] flodnv commented on #9826
Thanks for linking the PR, I missed it 🤦 👍

[2022-08-22 10:27] pecanoro commented on #10404
It seems this is coming from the back-end, we use this regex `(\\w+([\\s_\\-\\.]+\\w+)*)(\/\\w+([\\s_\\-\\.]+\\w+)*)*`. Maybe we should add this validation to the front-end as well instead of sending it through to the API.

[2022-08-22 10:34] sketchydroide commented on #9941
Any update @parasharrajat, no pressure, just removing Overdue and keeping the issue up to date

[2022-08-22 10:34] pecanoro commented on #10262
@MitchExpensify Let's double the price

[2022-08-22 10:38] mountiny commented on #10359
@kevinksullivan Let's double the price on this one, no proposals yet

[2022-08-22 10:39] sketchydroide commented on #10407
like @parasharrajat copy link is no loger supposed to be visible on images, and I think the beta explanation makes sense

[2022-08-22 10:40] sketchydroide commented on #9660
I think this has not been deployed yet?

[2022-08-22 10:40] michaelhaxhiu commented on #10376
That's spot on. I got the [non-technical design doc](https://docs.google.com/document/d/1YpYDi3ZWjaYRThPa94Zx48zlweOYTIBG43HK4LHIhb4/edit?disco=AAAAYvmtg4w) all ready to go as we discussed, but there's been a lot of changes since then and we likely need to update the design doc. The refactor and n7 have taken total priority for all technical (engineering) projects. My plan was to bring this up for

[2022-08-22 10:41] sketchydroide commented on #9580
@mananjadhav friendly bump (also removing Orvedue :) )

[2022-08-22 10:46] michaelhaxhiu commented on #10376
Furthermore... the GBR/RBR project is using 🟢 🔴 green/red status dots as an indicator (and we initially intended to use the 🟢 as an availability status). So we have a confliction now. I can't say for sure but IMO, it's likely wise to close down the availability indicator altogether and lean into the customer status field instead.

In that world, we include add emoji support in the custom status fi

[2022-08-22 10:47] b1tjoy commented on #9705
Thanks for your quick and efficient review.

I will do some more digging and get back to you later.

I found out even if I scroll at a wide angle (more than 45 degrees, `abs(deltaY) > abs(deltaX)`) on GitHub, I can still scoll the code block horizontally, but not the whole page vertically.

First I define `this.isVerticalScrolling = Math.abs(event.deltaY) > Math.abs(event.deltaX)`, and that does n

[2022-08-22 10:55] aldo-expensify commented on #9382
I think this is good, but maybe to avoid logging sensitive info (private chats?) we could try to do some search of non utf-8 characters and log only that? (don't know if it possible)

[2022-08-22 11:00] OSBotify commented on #10253
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10465) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.88-15` :rocket:

[2022-08-22 11:00] OSBotify commented on #10253
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.88-15 has been deployed to staging :tada:

[2022-08-22 11:17] kadiealexander commented on #9918
Not overdue, waiting for PR to be deployed to production.

[2022-08-22 11:20] kadiealexander commented on #8597
Still on hold.

[2022-08-22 11:28] laurenreidexpensify commented on #10351
Sorry missed this last week - job on Upwork removed and closing issue now.

[2022-08-22 11:28] #10351 closed

[2022-08-22 11:57] ahmdshrif commented on #10349
@stephanieelliott  the issue gets fixed after I report it.
will I be eligible for a reward bonus?

[2022-08-22 11:58] Julesssss opened #10475 "[NO QA] Improve OfflineWithFeedback component docs"
Simply add URLs to the OfflineWithFeedback component to improve the documentation.

[2022-08-22 12:02] ntdiary commented on #10345
![image](https://user-images.githubusercontent.com/8579651/185913186-bc9d805b-5f75-4ca9-b040-417d709541af.png)

Hi @marcochavezf , NDK 21 is default version for [AGP 7.1.1](https://developer.android.com/studio/releases/gradle-plugin#7-1-0)

[react-native-0.69.4](https://registry.npmjs.com/react-native/-/react-native-0.69.4.tgz) is from facebook repo, it is built with NDK 21, and there is no proble

[2022-08-22 12:17] bfitzexpensify commented on #10356
Doubled to $500

[2022-08-22 12:21] danieldoglas commented on #7941
I think #fireroom-08-02-22 will also tackle this, since there was some discussion about pagination

[2022-08-22 12:42] Santhosh-Sellavel commented on #10352
What size would be the breaking point @shawnborton

[2022-08-22 12:49] Santhosh-Sellavel commented on #10163
@mdneyazahmad Can you update your proposal to meet all the changes mentioned [here](https://github.com/Expensify/App/issues/10163#issuecomment-1203858142)

[2022-08-22 12:51] pecanoro commented on #10404
Then that is a discussion to have with the rest of the team since we usually don't want to ease regex rules. I will post in the channel.

[2022-08-22 12:58] #10475 closed

[2022-08-22 13:06] AndrewGable commented on #10345
I think @roryabraham said he confirmed that using JSC engine (instead of hermes) for app development fixed this. Are you going to send a PR for that @roryabraham ?

[2022-08-22 13:16] kavimuru commented on #10099
@luacmartins Checking with the team

[2022-08-22 13:17] kavimuru commented on #10100
@luacmartins  Checking with the team.

[2022-08-22 13:24] kavimuru commented on #10100
Issue is not reproduced.

https://user-images.githubusercontent.com/43996225/185931763-12cac75c-a2d5-4b72-828a-f699a88dbed1.mov

[2022-08-22 13:27] sketchydroide commented on #10407
yeah the beta is checked here https://github.com/Expensify/App/blob/1b1879c266155b59b26e6ac912e32815604f1cb9/src/pages/home/report/ContextMenu/ContextMenuActions.js#L133
so I think this is good to close

[2022-08-22 13:27] #10407 closed

[2022-08-22 13:54] adelekennedy commented on #10449
@mdneyazahmad will you apply to the job [here](https://www.upwork.com/jobs/~01180b998fec75b136)?

[2022-08-22 14:16] kadiealexander commented on #10446
https://www.upwork.com/jobs/~011945cb0d4454fc97
https://www.upwork.com/ab/applicants/1561713563518566400/job-details

[2022-08-22 14:19] mvtglobally commented on #10253
@sketchydroide Welcome to the party. :)
Outstanding items - Monday list
Internal QA - https://github.com/Expensify/App/pull/9914, https://github.com/Expensify/App/pull/10310

Are we ok to check off the following? We are not able to validate due to PROD KYC wall - https://github.com/Expensify/App/pull/9648, https://github.com/Expensify/App/pull/9609, https://github.com/Expensify/App/pull/10193

Blo

[2022-08-22 14:23] tgolen commented on #6301
Still not overdue

[2022-08-22 14:24] tgolen commented on #10361
@mvtglobally Can someone retest this please?

[2022-08-22 14:25] mvtglobally commented on #10361
Sure we will Check in a bit

[2022-08-22 14:33] tgolen commented on #10225
OK, @isagoico what do you think about changing the test to this?

[2022-08-22 14:37] Gonals commented on #10427
Good candidate for external!

[2022-08-22 14:47] Julesssss commented on #5336
Issue is resolved now 🎉

[2022-08-22 14:47] ahmdshrif commented on #10262
I don't think this is an issue.

what happens exactly is the screen width is smaller than the line length.
so the code moved to the next line and that's correct behavior for normal text.

 but if the user marks it as a code block by using ` ``` `   it will add a scroll block and the long line will not move to the next line.

 Whatsapp has the same behavior :

![Screen Shot 2022-08-22 at 4 43 27 PM

[2022-08-22 15:02] Santhosh-Sellavel commented on #10287
@puneetlath What can we do now?

[2022-08-22 15:03] Santhosh-Sellavel commented on #5336
@Julesssss Reporting bonus is not issue here

[2022-08-22 15:06] marcaaron commented on #9253
@mananjadhav @AndrewGable I think we should revert this change? It might fix the linked issue but breaks other behaviors unintentionally. Specifically, the code that watches if the sidebar is opening or closing in `ReportActionsView` [here](https://github.com/Expensify/App/blob/dbd87e00249779a83302d16665cc411228f5f412/src/pages/home/report/ReportActionsView.js#L182-L198). Unmounting the report whe

[2022-08-22 15:12] tgolen commented on #9979
Not overdue

[2022-08-22 15:21] luacmartins commented on #10099
Thanks for confirming. Similar to the other android specific issues, I think we solved it in https://github.com/Expensify/Web-Expensify/pull/34497. Closing this issue.

[2022-08-22 15:21] #10099 closed

[2022-08-22 15:22] luacmartins commented on #10100
Thanks for confirming. Similar to the other android specific issues, I think we solved it in https://github.com/Expensify/Web-Expensify/pull/34497. Closing this issue.

[2022-08-22 15:22] #10100 closed

[2022-08-22 15:40] shawnborton commented on #10352
I feel like we should have a default "desktop" breakpoint right? Perhaps it's "medium"? Basically the first step greater than what we consider to be a standard mobile size.

[2022-08-22 15:42] shawnborton commented on #9829
Not overdue

[2022-08-22 15:50] adelekennedy commented on #9459
@Regaron will you apply [here](https://www.upwork.com/jobs/~01603d4b51b32e9b7a)?

[2022-08-22 15:52] ahmdshrif commented on #10352
@shawnborton that's exactly what happened now  .
But the ipad landscape width  is bigger than this beak boint(medium screen).

This extra space will disappear if you rotation ipad  to portrait.

[2022-08-22 16:22] shawnborton commented on #10353
I don't think it's worth "fixing" this one, for a couple reasons:
- I don't think anything is actually broken
- We likely have low iPad usage at the moment
- Hopefully we'll have some new login page designs coming soonish

[2022-08-22 16:46] Santhosh-Sellavel commented on #10163
The proposal doesn't meet the requirements @mdneyazahmad

Can you check this https://github.com/Expensify/App/issues/10163#issuecomment-1203858142 and update proposal thanks!
cc: @mountiny

[2022-08-22 16:57] arosiclair commented on #10311
One solution could be to update `withFullPolicy` to also pass the policy based on the report ID in the route. This is more or less just moving this logic from one place to another, but at least it would be abstracted.

Otherwise we'd have to update our Auth command for report summaries to join on `nameValuePairs` to include the policy name.

[2022-08-22 17:08] puneetlath commented on #10223
Ah, looks like you're right! Thanks @mdneyazahmad.

[2022-08-22 17:08] #10223 closed

[2022-08-22 17:08] Santhosh-Sellavel commented on #9662
@luacmartins
@b1tjoy Proposal looks good to me!
In the final PR need to add/update the unit tests!
🎀 👀 🎀
C+ Reviewed.

Also @luacmartins there is a proposal from @mdneyazahmad [here](https://github.com/Expensify/App/issues/9662#issuecomment-1221326535) to revert  https://github.com/Expensify/App/pull/9405. I'm not sure that is expected here. So I'll leave it to you to decide on that, thanks!

[2022-08-22 17:10] bondydaa commented on #10370
QA is still doing more testing across devices, going to drop this down to monthly until they get back to us with a report and then we can go from there.

[2022-08-22 17:18] MitchExpensify commented on #10367
Thanks @thesahindia, I followed those steps and still cannot reproduce this

[2022-08-22 17:19] Santhosh-Sellavel commented on #10258
@Beamanator There is no review from the maintainer till now!

[2022-08-22 17:20] MitchExpensify commented on #9402
Any update on this one @marktoman?

[2022-08-22 17:49] mollfpr commented on #9391
### Proposal

Follow-through on new expected results [here](https://github.com/Expensify/App/issues/9391#issuecomment-1212723265).

#### Root cause
Currently, we will show the empty report on LHN when the current active report is equal to the report list. This also applied to group chat.
https://github.com/Expensify/App/blob/97eb8bb0019068b484035a17a64e4ecdeb147092/src/libs/OptionsListUtils.js#L42

[2022-08-22 17:59] mallenexpensify commented on #10404
Holding on posting the job per discussion.

@pecanoro , do you have a link to where you posted?!?!

[2022-08-22 18:40] Santhosh-Sellavel commented on #8791
@mdneyazahmad

In the same [comment]( https://github.com/Expensify/App/issues/8791#issuecomment-1160760539) I have mentioned

That's enough to show why the app banner shows on some pages (deep link configured) alone. If not, a couple
 of comments earlier I posted the entire configuration while answering the questions @tgolen [here](https://github.com/Expensify/App/issues/8791#issuecomment-11591296

[2022-08-22 19:23] mallenexpensify commented on #9382
It just happened to me again, would logs/vid be helpful? Desktop v1.1.88-14

[2022-08-22 19:32] mallenexpensify commented on #8915
Longshot but.. any chance this might be related to https://github.com/Expensify/App/issues/9382#issuecomment-1222187430
And, if so, should be put this on hold since that issue is actively being worked on?
I just tried to reproduce but the chats didn't load at all (like #9382).  One potential reason for a 15-30 second delay is that a chat could be hidden and not show up then, if a new message is se

[2022-08-22 20:39] MitchExpensify commented on #10262
Doubled!

[2022-08-22 21:37] kevinksullivan commented on #9579
Doubled

[2022-08-22 21:39] kevinksullivan commented on #10417
@trjExpensify haven't collected the refactors yet, but I think that'll make sense as part of the rollout plan for the design doc, right?

[2022-08-22 21:39] kevinksullivan commented on #10359
Doubled

[2022-08-22 22:06] mountiny commented on #10163
@mdneyazahmad We need to update also the other API endpoint, there are two. Secure which is already working with the switch and the other one which is not an dI have described it in the comment above.

[2022-08-23 01:03] Regaron commented on #9459
Applied in upwork.

[2022-08-23 04:04] mvtglobally commented on #7962
Issue not reproducible during KI retests. (First week)

[2022-08-23 04:04] mvtglobally commented on #8608
Issue not reproducible during KI retests. (First week)

[2022-08-23 04:05] mvtglobally commented on #8661
Issue not reproducible during KI retests. (First week)

[2022-08-23 04:08] mvtglobally commented on #9465
Issue not reproducible during KI retests. (Second week)

[2022-08-23 04:09] mvtglobally commented on #9541
Issue not reproducible during KI retests. (First week)

[2022-08-23 04:10] mvtglobally commented on #9938
Issue not reproducible during KI retests. (First week)

[2022-08-23 04:11] mvtglobally commented on #9918
Issue not reproducible during KI retests. (Third week)

[2022-08-23 04:12] mvtglobally commented on #10017
Issue not reproducible during KI retests. (Second week)

[2022-08-23 04:13] mvtglobally commented on #10031
Issue not reproducible during KI retests. (Third week)
@chiragsalian @adelekennedy are we ok to close this?

[2022-08-23 04:15] mvtglobally commented on #8455
Issue not reproducible during KI retests. (Second week)

[2022-08-23 04:17] mvtglobally commented on #8915
We will keep trying as well
Issue not reproducible during KI retests. (Fourth week)

[2022-08-23 04:18] mvtglobally commented on #9421
Issue not reproducible during KI retests. (First week)

[2022-08-23 04:19] mvtglobally commented on #9509
Issue not reproducible during KI retests. (First week)

[2022-08-23 04:20] mvtglobally commented on #9707
Issue not reproducible during KI retests. (First week)

[2022-08-23 04:21] mvtglobally commented on #10109
Issue not reproducible during KI retests. (First week)

[2022-08-23 04:23] mvtglobally commented on #10108
Issue not reproducible during KI retests. (First week)

[2022-08-23 04:29] mananjadhav commented on #10109
@mvtglobally quick question for my knowledge. These KI Tests are performed on staging or some other environment?

[2022-08-23 04:38] mvtglobally commented on #10186
Issue not reproducible during KI retests. (First week)

[2022-08-23 04:38] mvtglobally commented on #10187
Issue not reproducible during KI retests. (First week)

[2022-08-23 04:39] Puneet-here commented on #10356
Is there a reason for not adding `Apple Color Emoji` as mentioned here https://github.com/Expensify/App/issues/10356#issuecomment-1213429783.

[2022-08-23 04:41] mvtglobally commented on #10352
Issue not reproducible during KI retests. (First week)

[2022-08-23 04:41] mananjadhav commented on #9818
Thanks @errahsoufiane for tagging.

@chiragsalian Can chime in here? If we're good to remove the feature temporarily. [Link](https://expensify.slack.com/archives/C01GTK53T8Q/p1658504425975639?thread_ts=1658463458.826979&cid=C01GTK53T8Q) to the conversation where we decided to put this behind beta.

[2022-08-23 04:44] mvtglobally commented on #10359
Issue not reproducible during KI retests. (First week)

[2022-08-23 04:46] mananjadhav commented on #9580
Thanks @sketchydroide for the bump. Sorry I missed this I thought it was the same proposal.

@ravindra-encoresky I see that you've followed guidelines in the updated proposal. But it still has details missing on:

- You've mentioned remove the dependency of `ReimbursementAccountForm` Can you describe how are you planning to remove it?
- As I've mentioned earlier this step is a part of wizard steps

[2022-08-23 04:46] liyamahendra commented on #9579
@kevinksullivan I would be interested in taking this up. @luacmartins [shared](https://github.com/Expensify/App/issues/9579#issuecomment-1169024445) that no proposal is required, just need to express interest. Does this still hold true or you would like me to place a proposal before beginning work on this?

[2022-08-23 04:49] mvtglobally opened #10483 "[HOLD for payment] [$500] Android - Composer is hidden by native emoji picker - Reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login
2. Go to a chat with any user
3. Tap on compose box to open the virtual keyboard
4. Select the emoji picker from the nat

[2022-08-23 04:51] mananjadhav commented on #9391
Thanks @mollfpr for the proposal, I'll review this today.

[2022-08-23 04:51] mvtglobally commented on #10109
Yes, we are running on Staging only once a week check.

[2022-08-23 04:52] OSBotify commented on #10483
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-23 04:53] mananjadhav commented on #10109
The reason I asked is because two issues mention not reproducible during KI retests and both of them are not merged yet. So I am wondering 🤔 how come they got resolved automagically

[2022-08-23 04:53] mvtglobally opened #10484 "iOS isn't loading new chats in Left Hand Nav (LHN)/main list of chats."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Opened app

## Expected Result:
To see current chats listed

## Actual Result:
Chats from a week and a half ago are showing, new

[2022-08-23 04:56] mananjadhav commented on #9579
@liyamahendra Thanks for the interest. While @luacmartins mentioned proposal is not needed, I would strongly recommend having one. Two reasons:

1. to keep the process consistent and have no surprises later on for PR rework.
2. Bank form is a little different than Debit Card page, with subStep.

We can still wait for @luacmartins to confirm if the proposal is needed.

[2022-08-23 04:57] mvtglobally opened #10485 "Previous message appears after a chat response"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Send a message

## Expected Result:
Receive a response

## Actual Result:
Receive a response and a previous message is shown afte

[2022-08-23 05:02] mvtglobally opened #10486 "[HOLD for payment 2022-11-02] [$250] The ‘Multiple users are typing’ vertical text alignment is incorrect"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open group chat as user A
2. Type as User B on another device
3. Observe underlying "typing..." display as User A
4. Type as U

[2022-08-23 05:59] ravindra-encoresky commented on #9580
@mananjadhav thanks for the replies, I conclude my proposal here -

Since **ReimbursementAccountForm** is a wrapper around form components in the **companyStep** and other wizard steps, it renders form components as children and a FormAlertWithSubmitButton inside FormScrollView.

Our idea is to replace **ReimbursementAccountForm** component with FormScrollView inside **CompanyStep.js.**

Then we w

[2022-08-23 06:25] ntdiary commented on #10345
@parasharrajat Are you looking for this?
https://github.com/Expensify/react-native

[2022-08-23 06:53] adelekennedy commented on #10031
I think we're good to close!

[2022-08-23 06:53] #10031 closed

[2022-08-23 06:54] Puneet-here commented on #9510
ONYX method has a drawback. If we control the input with ONYX then on changing the input in the middle takes the cursor to the end, so I will be explaining the state moving method.

### Proposal

We need to move the states from [LoginForm](https://github.com/Expensify/App/blob/main/src/pages/signin/LoginForm.js) and [PasswordForm](https://github.com/Expensify/App/blob/main/src/pages/signin/Passwor

[2022-08-23 07:20] tgolen commented on #10311
I'd be interested to see what you tried, because I still think this would be possible to get it to work, but it would require a change to `withOnyx()`.

I think this is really what we should be doing in the first place. This is the precedent and the best practice. Anything else is just a hack, and a complex one of that. If we keep trying to do this on the front-end, then that basically cements thi

[2022-08-23 07:37] mountiny commented on #10359
👀 Promising

[2022-08-23 08:09] wildan-m commented on #10036
@parasharrajat, after updating the source to a newer commit (5a1204f8b7b8939cbcbfe53f0a9a7899885d7dbf) it seems that someone replaced the button with a form button which it's inside a `ScrollView`. To make the button float, we have to move out the button. Does the expected behavior changes? Is it ok to not use <Form>?

[2022-08-23 08:42] roryabraham commented on #9971
If there's only one workspace, will we keep the same UI we have today?

[2022-08-23 08:50] Julesssss commented on #5336
Hey @Santhosh-Sellavel. Do you mean that we need to pay this still? If so I think we missed this because I resolved the issue myself. Let me know if that's correct!

[2022-08-23 09:04] trjExpensify commented on #9971
Nah, we'll move to the Workspaces page irrespective of how many you have. We chatted about that in the [OG thread](https://expensify.slack.com/archives/C038T8LKKV5/p1657879133021399), but to summarise:

- it avoids the unpredictability of the UI moving around once you add more
- it makes it clear you can have multiple workspaces
- where to go to add more (with the addition of the `new workspace` b

[2022-08-23 09:09] #9829 closed

[2022-08-23 09:12] Julesssss commented on #10486
@robertjchen I'll take this as I'm on the C+ team, and reported the issue.

[2022-08-23 09:23] Beamanator commented on #10335
@shawnborton do you mind checking out the results of this PR? https://github.com/Expensify/App/pull/10470

What I'm a bit concerned about is that it looks like the button text on the newly sized green buttons are not always aligned with menu items below / above the button.

For example: In this screenshot it looks like the right arrows aren't aligned perfectly, and even the main button text isn't

[2022-08-23 09:29] tgolen commented on #10356
I vote we stay away from a sprite-based approach. I think it results in
more maintenance than is worth it.

On Tue, Aug 23, 2022 at 10:33 AM mdneyazahmad ***@***.***>
wrote:

[2022-08-23 09:52] sketchydroide commented on #10253
Bumped @luacmartins @ctkochan22 and @thienlnam to see if we can figure that out 😄

[2022-08-23 09:59] b1tjoy commented on #9662
Nice catch! I think update to the following code would fix this issue.

[code]

[2022-08-23 10:11] Luke9389 commented on #10366
@Santhosh-Sellavel I'm good with this proposal if you are. 👍

[2022-08-23 10:16] roryabraham commented on #9813
Actually, I think @alifarooq96's proposal looks good. I'd just like to see a PR opened against the React Native template _first_. That way, if the RN team identifies an internal problem or proposes another solution, we'll be notified and can adjust the change made in our repo. Hopefully that makes sense.

@alifarooq96 if you'd like to do that, just leave a proposal with the changes you'll make in

[2022-08-23 10:26] luacmartins commented on #10253
@mvtglobally for https://github.com/Expensify/App/pull/9648, I tried adding a debit card in prod and that doesn't seem to be behind the KYCWall. Can you please confirm?

[2022-08-23 10:29] mananjadhav commented on #10356
Agreed with `no sprite approach`.

[2022-08-23 10:32] trjExpensify commented on #10417
Yep, makes sense. Just wondered if you were compiling in a holding issue somewhere or something.

[2022-08-23 10:36] trjExpensify commented on #10417
Yeah @marcochavezf, I agree with putting this on hold until account settings is implemented at least as a reference point.

[2022-08-23 10:38] roryabraham commented on #7925
This fix has landed along with all the other bidirectional pagination features in main. All that remains is to see them used in action via a comment linking implementation. Moving this to monthly because it might be a few weeks before that's done.

[2022-08-23 10:39] sketchydroide commented on #10253
@mvtglobally https://github.com/Expensify/App/pull/10310 seems like it was already internal QAed before, but it was missed on the big list, I'm waiting for @arosiclair to confirm, but I'm going to check it for now.

[2022-08-23 10:46] pecanoro commented on #10017
I am going to close since this is not reproducible anymore.

[2022-08-23 10:46] #10017 closed

[2022-08-23 10:59] JmillsExpensify commented on #10417
Totally agree.

[2022-08-23 11:25] pecanoro commented on #10404
Discussion here: https://expensify.slack.com/archives/C01GTK53T8Q/p1661172941760109

[2022-08-23 11:26] pecanoro commented on #10404
So we are probably changing this in the backend instead. I will take care and change the labels for it.

[2022-08-23 12:05] alifarooq96 commented on #9813
Hey @roryabraham , I can't edit the proposal that I had already added: https://www.upwork.com/ab/proposals/1556720872858693633

I would going over facebook/react-native and I noticed that this has already been fixed and merged since in the original repo: https://github.com/facebook/react-native/commit/1237952d070bfe28ff2c94cd9bf8ea19e6cdd395

It would be great if you could accept the proposal.

[2022-08-23 12:12] AndrewGable commented on #9253
Reverted change- @ntdiary can you re-propose your fix here so we can all review? Thanks

[2022-08-23 12:18] Christinadobrzyn commented on #10025
Updated job to price to $1000 - still waiting on proposals

[2022-08-23 12:21] Christinadobrzyn commented on #7185
Hey @parasharrajat can you add a link to the slack convo here so we can follow? Thanks

[2022-08-23 12:38] adelekennedy commented on #9459
@parasharrajat I forget do you prefer to apply for the role or can I send you an offer?

[2022-08-23 13:03] AndrewGable commented on #10253
I tested and checked off #9609

[2022-08-23 13:06] #9241 closed

[2022-08-23 13:08] sketchydroide commented on #10253
https://github.com/Expensify/App/pull/10197 should be checked of, I think @luacmartins checked it off in the big list, but not on the small one. I just did though

[2022-08-23 13:12] sketchydroide commented on #10253
https://github.com/Expensify/App/pull/10193 - Asking @ctkochan22 how we can QA this (Although @AndrewGable might be QAing this as I write this summary)
https://github.com/Expensify/App/pull/10144 - Asked @marcaaron what is missing
https://github.com/Expensify/App/pull/9914 - This one is being QA by @francoisl

[2022-08-23 13:33] ntdiary commented on #9253
# Proposal
## Solution
According to the problem described by @marcaaron,
we need to keep the children of `ReportScreen` mounted when the sidebar is opening.

So we can use `visibility` to fix this issue, it will only hide the elements without changing the layout and state of them.
[code]
mobile web:

https://user-images.githubusercontent.com/8579651/186171234-6f9e2ee0-ff44-4fd4-ba40-3d62b9f83fd4.m

[2022-08-23 13:48] tomivs commented on #9628
Are the 7 days for regression over? Just a friendly bump since last time the bot didn't say anything after the 7 days.

[2022-08-23 13:52] ctkochan22 commented on #10253
Looks like the main part of https://github.com/Expensify/App/pull/10193 is tested. We can check off

[2022-08-23 14:27] Santhosh-Sellavel commented on #10366
@Expensify/design Are we good with adding 'letterSpacing 1' here?

[2022-08-23 14:32] Santhosh-Sellavel commented on #9662
@luacmartins Is this considered as a valid failure case?  I'm confused here, can you share your thoughts here.

[2022-08-23 14:32] kadiealexander commented on #9809
@tylerkaraszewski  I saw you were able to reproduce this in the past on an iPhone 13. Could you please let us know the OS version, and whether it's still reproducible?

[2022-08-23 14:34] kadiealexander commented on #10233
Price doubled!

[2022-08-23 14:35] AndrewGable commented on #10483
This doesn't seem like deploy blocker to me.

[2022-08-23 14:38] AndrewGable commented on #10409
Seems like this happens on production, so I don't think it should be a deploy blocker.

[2022-08-23 14:39] Julesssss commented on #9457
Hey @sketchydroide, do you know if it is possible to read all notifications from NotificationCenter in iOS? The only thing I could find was [this hack](https://stackoverflow.com/a/7955014/4160784) from a 10 year old StackOverflow post.

It's not possible on Android, we can only access the notification intent & bundle if the user taps the notification.

[2022-08-23 14:42] JmillsExpensify commented on #10423
I don't think this should be a deploy blocker. We are deprecating the IOU badge in an upcoming release.

[2022-08-23 14:48] Santhosh-Sellavel commented on #9813
@alifarooq96 Post your proposal here in a new comment.

[2022-08-23 14:50] sketchydroide commented on #9457
I don't think so, but not 100% sure, notifications should be read if you are listening to them

[2022-08-23 14:52] AndrewGable commented on #10253
Checking off https://github.com/Expensify/App/pull/10144 since I can no longer reproduce on staging.

[2022-08-23 14:52] AndrewGable commented on #10431
I can no longer reproduce on staging so closing. Confirmed with @sketchydroide too.

[2022-08-23 14:59] Dhruvitmaniya commented on #10366
@shawnborton @Santhosh-Sellavel @Luke9389
without letterSpacing :
![image](https://user-images.githubusercontent.com/64740528/186192111-aa4d814e-2285-418e-a2ee-00d9c7782d22.png)

with letterSpacing :
![image](https://user-images.githubusercontent.com/64740528/186192221-67650f6a-e84e-4701-aad5-ad8d2aecd065.png)

[2022-08-23 15:15] shawnborton commented on #10366
It seems the same but it's not. I don't think this is a valid solution here.

[2022-08-23 15:19] Santhosh-Sellavel commented on #10366
We could clearly see a space with letterSpacing.

[2022-08-23 15:32] mallenexpensify commented on #8915
Removed `Help Wanted` and added `[HOLD on #9382] to title. 🤞  that helps

[2022-08-23 15:37] roryabraham commented on #9813
Yeah, that change is already present in our fork of react-native as well

[2022-08-23 15:45] b1tjoy commented on #9705
@rushatgabhane Thanks for your guidance!

Here is a debounced version.

1. Add member attribute

https://github.com/Expensify/App/blob/22e39f9de1c1fbace6e7a0e4c06f364310129895/src/components/HTMLEngineProvider/HTMLRenderers/PreRenderer/index.js#L10

[code]

2. Add method

[code]

3. Update event hanlder

Replace this

https://github.com/Expensify/App/blob/22e39f9de1c1fbace6e7a0e4c06f364310129895/s

[2022-08-23 15:48] luacmartins commented on #9579
I think what @mananjadhav said makes sense. Let's add a proposal to it beforehand to make sure that we are all on the same page.

[2022-08-23 16:10] Julesssss commented on #9457
Does this listener require that the app is open?

[2022-08-23 16:12] sketchydroide commented on #9457
for push notifications no, iOS will open the app if necessary, or the push is open, if the app is in background it can still process notifications

[2022-08-23 16:25] ctkochan22 commented on #10410
Lets handle this [issue](https://github.com/Expensify/Expensify/issues/213459) here.

[2022-08-23 16:30] Luke9389 commented on #10405
@kbecciv After watching the video, I'm still not sure what the problem is. Would you mind clarifying?

[2022-08-23 16:30] Luke9389 commented on #10185
We've got a proposal to look into (getting melvin off our backs)

[2022-08-23 16:32] shawnborton commented on #10335
I agree with you. The text should line up perfectly no matter if it's green or standard:
<img width="1141" alt="image" src="https://user-images.githubusercontent.com/2319350/186212704-3c64946d-d30d-4e0d-b52c-04d41a3a0ddb.png">

[2022-08-23 16:33] Luke9389 commented on #9427
Hoping to get to this soon.

[2022-08-23 16:40] sketchydroide commented on #10253
we decided to check #9914, we were not able to test it but it's under Betas and no client should be able to see it.
Slack convo [here](https://expensify.slack.com/archives/C03TQ48KC/p1661272572296369?thread_ts=1661266495.433269&cid=C03TQ48KC)

[2022-08-23 16:49] puneetlath commented on #8541
Looks like the PR is getting closer. Let's try to get this over the finish line asap. It has been dragging for a long time.

[2022-08-23 16:55] kavimuru opened #10492 "Web - App crashes in group participant page @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login
2. Go to a group
3. Click on the group header to open participant page

## Expected Result:
Participant page is opened i

[2022-08-23 16:57] OSBotify commented on #10492
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-23 17:03] mzohaibqc commented on #10289
I can start work on this after a short discussion. Just accept the invite on Upwork and start the task.

[2022-08-23 17:12] Christinadobrzyn opened #10493 "[$500] Enforce minimum password length on NewDot"
### Problem

We require that passwords are minimum 3 characters, but the NewDot password form does not enforce this requirement therefore when someone submits the form with a password < 3 characters, usually by mistake we receive an internal error.

### Why is this important?
Wastes engineering time to look into issues that aren't real issues

### Solution

Implement the requirement for passwords

[2022-08-23 17:14] Christinadobrzyn commented on #10493
Created Job in Upwork

Internal posting - https://www.upwork.com/ab/applicants/1562124375160983552/job-details
External posting - https://www.upwork.com/jobs/~014ed615faba3ad0cc

[2022-08-23 17:17] Christinadobrzyn commented on #10493
I hope I did this right, moving an Expensify/Expenisfy [job](https://github.com/Expensify/Expensify/issues/224143) to Expensify/App. Let me know if any of this is wrong!

[2022-08-23 17:39] varshamb commented on #10493
### Proposal

There are two places where there is no password validation on the frontend.
i.e. `PasswordPopover` and `AddSecondaryLoginPage`

We need to use `ValidationUtils.isValidPassword()` before submitting the form and we're good to go!

[2022-08-23 17:54] marcochavezf commented on #10345
I noticed we're using NDK 24 [here](https://github.com/Expensify/App/blob/617ad44203dfc879882c7f320b05ec5fcfad0d32/android/build.gradle#L12-L18) for M1, so not sure if that change is related to this problem.

[2022-08-23 17:55] mananjadhav commented on #9580
Thanks for the update @ravindra-encoresky.

@sketchydroide @ravindra-encoresky's Proposal looks good to me. We'll have to ensure that we follow the Testing and Implementation Guidelines.

🎀 👀 🎀 
C+ reviewed

[2022-08-23 17:55] AndrewGable commented on #10492
See thread https://expensify.slack.com/archives/C01GTK53T8Q/p1661266519633919 but we are unable to easily reproduce this error, it might require getting an account in some specific state, so going to remove deploy blocker for now.

[2022-08-23 17:56] sketchydroide commented on #10253
:shipit:

[2022-08-23 17:57] OSBotify commented on #10253
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-08-23 17:58] OSBotify commented on #10253
This issue either has unchecked items or has not yet been marked with the `:shipit:` emoji of approval.
Reopening!

[2022-08-23 18:00] sketchydroide commented on #10253
:shipit:

[2022-08-23 18:00] #10253 closed

[2022-08-23 18:02] jayeshmangwani commented on #7470
@mananjadhav I am uploading videos for web and android to Gdrive due to video size, please check these updated videos

web
https://drive.google.com/file/d/1zfoyvIIqQ4kMSXrf49VA_Ws6lcbBvRby/view?usp=sharing

Android
https://drive.google.com/file/d/1IyJItxEOku422YYFOdHxDQpGny-QqNgU/view?usp=sharing

[2022-08-23 18:03] OSBotify opened #10498 "Deploy Checklist: New Expensify 2022-08-23"
**Release Version:** `1.1.89-4`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10041
- [x] https://github.com/Expensify/App/pull/10053
- [x] https://github.com/Expensify/App/pull/10162
- [x] https://github.com/Expensify/App/pull/10164
- [x] https://gi

[2022-08-23 18:14] melvin-bot[bot] opened #10499 "Branch Protection Rule edited"
## Branch Protection Rule edited!

The rule "main" from [App](https://github.com/Expensify/App) was *edited*!
Please check the information below to make sure the changes were intentional and close this issue.

- Repository: **Expensify/App**
- Branch Protection Rule: **main**
- Change Author: [justinpersaud](https://github.com/justinpersaud)
- Action: **edited**
- Previous Rule configuration:
[cod

[2022-08-23 18:14] melvin-bot[bot] opened #10500 "Branch Protection Rule edited"
## Branch Protection Rule edited!

The rule "main" from [App](https://github.com/Expensify/App) was *edited*!
Please check the information below to make sure the changes were intentional and close this issue.

- Repository: **Expensify/App**
- Branch Protection Rule: **main**
- Change Author: [justinpersaud](https://github.com/justinpersaud)
- Action: **edited**
- Previous Rule configuration:
[cod

[2022-08-23 18:15] melvin-bot[bot] opened #10501 "Branch Protection Rule edited"
## Branch Protection Rule edited!

The rule "production" from [App](https://github.com/Expensify/App) was *edited*!
Please check the information below to make sure the changes were intentional and close this issue.

- Repository: **Expensify/App**
- Branch Protection Rule: **production**
- Change Author: [justinpersaud](https://github.com/justinpersaud)
- Action: **edited**
- Previous Rule configu

[2022-08-23 18:16] melvin-bot[bot] opened #10502 "Branch Protection Rule edited"
## Branch Protection Rule edited!

The rule "production" from [App](https://github.com/Expensify/App) was *edited*!
Please check the information below to make sure the changes were intentional and close this issue.

- Repository: **Expensify/App**
- Branch Protection Rule: **production**
- Change Author: [justinpersaud](https://github.com/justinpersaud)
- Action: **edited**
- Previous Rule configu

[2022-08-23 18:22] justinpersaud commented on #10499
Blocked the App deploy because of the code comitters deleted their GitHub account, thus failing our required CLA/Signed commit check.

https://expensify.slack.com/archives/C07J32337/p1661278292209749?thread_ts=1661277792.622479&cid=C07J32337

[2022-08-23 18:22] #10499 closed

[2022-08-23 18:22] justinpersaud commented on #10500
Blocked the App deploy because of the code comitters deleted their GitHub account, thus failing our required CLA/Signed commit check.

https://expensify.slack.com/archives/C07J32337/p1661278292209749?thread_ts=1661277792.622479&cid=C07J32337

[2022-08-23 18:22] #10500 closed

[2022-08-23 18:23] justinpersaud commented on #10502
Blocked the App deploy because of the code comitters deleted their GitHub account, thus failing our required CLA/Signed commit check.

https://expensify.slack.com/archives/C07J32337/p1661278292209749?thread_ts=1661277792.622479&cid=C07J32337

[2022-08-23 18:23] #10502 closed

[2022-08-23 18:30] MonilBhavsar commented on #9391
Agree, expected behaviour looks bit confusing. At 0:32, `...+32...` is in the chat window but not in LHN. I think that shouldn't happen. Also, it's hard to see the browser buttons like back and refresh in the video.

[2022-08-23 18:38] mananjadhav commented on #9542
@b1tjoy I went through your proposal and also explored other alternatives meanwhile, I have a question, could you please explain in which cases is the text input going out of section when used with `automaticallyAdjustKeyboardInsets`. If say some issue does exist with `automaticallyAdjustKeyboardInsets` it would make sense to fix that rather than have a workaround for us to track the scroll with k

[2022-08-23 18:40] mananjadhav commented on #9391
Yeah and at 00:46 when we click on the third chat the vanishing behavior of the empty chat looks a bit weird to me.

[2022-08-23 19:19] marcaaron commented on #10431
What did you all test @sketchydroide @AndrewGable? External links are very broken for me still on the latest TF.

[2022-08-23 19:28] marcaaron commented on #9253
I don't quite understand why we need to mess with the visibility at all. If we don't want to update to use the next report until the transition happens then can we just wait for the transition to happen somehow and then change pass the new `reportID` down?

[2022-08-23 20:02] MitchExpensify commented on #10486
[Upwork Job](https://www.upwork.com/jobs/~01036fc7640bb23216)

[2022-08-23 20:21] mallenexpensify commented on #10484
Gonna close cuz I think it's a dupe of https://github.com/Expensify/App/issues/9382

[2022-08-23 20:21] #10484 closed

[2022-08-23 20:24] MitchExpensify commented on #7918
What is the latest on this?

[2022-08-23 20:32] youssef-lr commented on #10264
Spoke to @marcaaron. The linked PR did not cause any issues. And the modal does necessarily show up all the time.

[2022-08-23 20:32] #10264 closed

[2022-08-23 20:45] puneetlath commented on #9577
@luacmartins I think I'm going to take this on myself to get familiar with the new form component.

I was looking at `addPlaidBankAccount` and it's not _really_ a form of its own. The component handles calling plaid getting the data and then renders a picker to select the bank accounts that plaid returned. It doesn't have a submit button or anything.

The selection on that form is then used by a f

[2022-08-23 21:21] AndrewGable commented on #10431
Tested via web staging

[2022-08-23 21:31] chiragsalian commented on #9705
Proposal LGTM too, feel free to create the PR @b1tjoy.

[2022-08-23 21:36] puneetlath commented on #10287
First of all, I'm doubling the job price to $500 since the job has been open for over a week.

Secondly, thanks everyone for all the proposals/info on this issue. This has been quite enlightening!

I think we should go with @zereraz new proposal of using `${CurrencySymbolUtils.getLocalizedCurrencySymbol(this.props.preferredLocale, currencyCode)}` for both the display text and the search text.

Tha

[2022-08-23 22:43] mananjadhav commented on #9331
@stitesExpensify @trjExpensify PR Raised.

[2022-08-24 00:08] flaviadefaria commented on #10362
Doesn't seem like a priority but adding the engineering label.

[2022-08-24 00:25] kevinksullivan commented on #9510
@joekaufmanexpensify going OOO for a bit so want to make sure this gets attention when it moves forward.

[2022-08-24 00:29] kevinksullivan commented on #10359
Taking myself in case this pops up again, since I'll be OOO for a bit. Thanks @RachCHopkins !

[2022-08-24 00:54] kevinksullivan commented on #9705
Going OOO for a bit so looking for someone to step in. Thanks @strepanier03 !

[2022-08-24 02:13] marcaaron commented on #10240
@rushatgabhane it has the same root cause, but is not the same bug? or is @thesahindia fixing an entirely separate bug in their PR. If the latter, then they should not fix the bug in this PR. Just fix the one and make a proposal whenever it gets created.

[2022-08-24 02:14] ntdiary commented on #10345
I built the Android App with `npm:@expensify/react-native@0.69.4` on Intel Mac, it had this problem.
And then I built `@expensify/react-native` with NDK21, used it in this project and the app worked well

[2022-08-24 03:05] OSBotify commented on #10498
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.89-0 :rocket:

[2022-08-24 03:15] mvtglobally opened #10505 "The quick actions are not working as expected on hover - Reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Open website
 2. Go to any chat
 3. Type a message and remember to keep your cursor at the last message
 4. Now press enter t

[2022-08-24 03:19] mvtglobally opened #10506 "[HOLD #11768] Navigating Back takes the user to the home screen on the web - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app from the home URL (https://staging.new.expensify.com/).
  2. Opening a new Chat from RHN (SearchPage)
  3. Naviga

[2022-08-24 03:23] mvtglobally opened #10507 "[HOLD #11768] Navigating Back takes the user to the home screen on the web - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Steps WEB:
  1. Open the app from the home URL (https://staging.new.expensify.com/).
  2. Opening a new Chat from RHN (NewChat Pa

[2022-08-24 03:26] mvtglobally opened #10508 "[HOLD] Navigating Back takes the user to the home screen on the web when app is directly opened via RHN links - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Steps WEB:
  1. Open the app from the RHN URL (https://staging.new.expensify.com/new/chat).
  3. Go Back.
Steps MWeb:
  1. Open t

[2022-08-24 03:28] ntdiary commented on #9253
Hi @marcaaron , this problem doesn't happen when opening the next report.

Now, our codes get the reportId from route path, for example:

the current url is `report/A` ( sidebar is open ),
then we can open the report B, and sidebar will be closed, url will be changed to `report/B`, this process is no problem.

But when we go back using the browser's back button, the url quickly changes back to `re

[2022-08-24 03:31] mvtglobally opened #10509 "iOS - App freezes when we close default payment when touch outside of modal - reported by @dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log-In in app
2. Navigate to settings
3. Press on Payments
4. Press on any payment method
5. Press on Make default payment met

[2022-08-24 03:34] mvtglobally opened #10510 "[HOLD for payment 2022-10-03] [$250] Ellipsis is not showing up in medium screen width - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open website in desktop.
2. resize the window to single page.
3. Go to chat > Send a long message.
4. Go to Homepage

## Expec

[2022-08-24 03:38] mvtglobally opened #10511 "Browserslist: caniuse-lite is outdated - reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Reason:
Reason: caniuse-lite is used to correctly transpire the code to support the necessary browsers based on the data. When this is outdated, we

[2022-08-24 03:40] mvtglobally opened #10512 "[$500] IOS - At Additional details page the inputs are getting cleared automatically - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on Fab icon > send money > onfido verification > Additional details page
2. Enter one digit/alphabet

## Expected Result

[2022-08-24 03:44] mvtglobally opened #10513 "[HOLD for payment 2022-09-15] [$250] Cursor should be pointer on :large_green_circle: in image edit modal - Reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to profile
 2. Tap on avatar > Upload photo
 3. Hover over the :large_green_circle:

## Expected Result:
The cursor should

[2022-08-24 03:47] mvtglobally opened #10514 "[HOLD for payment 2022-09-28] [$250] Prevent SVG images from being uploaded as profile pictures - Reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to profile
 2. Tap on avatar > Upload photo
 3. Use svg

## Expected Result:
We should prevent the svg from being uploaded

[2022-08-24 03:50] mvtglobally opened #10515 "If you press the rotate button fast multiple times then the image won't rotate on some clicks - Reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
 1. Go to profile
 2. Tap on avatar > Upload photo
 3. Press rotate button multiple times

## Expected Result:
The text shouldn't

[2022-08-24 03:54] mvtglobally opened #10516 "[HOLD for payment 2022-10-10][$500] Markdown for hyperlinks doesn't work with email addresses - Reported by Karim mostafa"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1- Go to chat box
2- type an email address using markdown for a hyperlink: eg `[abc@gmail.com](abc@gmail.com)`
3- observe the res

[2022-08-24 03:58] mvtglobally opened #10517 "[Payment Pending] User Typing... area gets hidden after entering multiple lines - Reported by @Santhosh-Sellavel by"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open new dot and open any chat
2. Enter multiline text in the composer

## Expected Result:
User Typing area should be availab

[2022-08-24 04:00] mvtglobally opened #10518 "Feature Request: Add Environment details to crash issues - reported by @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
From the crash issue description we are unable to distinguish which environment it occurred.

## Solution:
If possible we should add envir

[2022-08-24 04:11] dhairyasenjaliya commented on #10509
@rushatgabhane @mountiny finally this issue is logged here, I do have some leads but still testing and debugging the actual cause

[2022-08-24 04:25] ctkochan22 commented on #7436
I don't think we need a complex solution here.

We are allowed to write whatever we want instead of "Add account manually". I think for now, lets change that via Plaid customized settings, to "Exit".

<img width="564" alt="image" src="https://user-images.githubusercontent.com/12980144/186328604-c47ad756-aaf4-4223-b33b-aeb6ba892749.png">

[2022-08-24 05:06] ctkochan22 commented on #10485
@neil-marcellini The original issue was specific to 10am post. Now it seems just a general message?

Are there reproduction steps here?

[2022-08-24 05:06] ctkochan22 commented on #10485
Labeling it monthly until we have some actionable steps here

[2022-08-24 06:05] ravindra-encoresky commented on #9580
Thanks, I'll follow the guidelines.

How shall I proceed, should I submit a proposal on upwork ? please guide me through.

thanks.

[2022-08-24 06:19] varshamb commented on #10513
### Proposal

`cursor: pointer` need to be set on page `AvatarWithImagePicker.js`

[2022-08-24 06:27] mananjadhav commented on #9580
We wait for @sketchydroide to review it and give a 🟢 to your proposal.  After that you can start with your PR and yeah meanwhile you can apply to Upwork. Please refer to these [contributing guidelines](https://github.com/Expensify/App/tree/main/contributingGuides) as well before you start writing any code.

[2022-08-24 06:39] dhairyasenjaliya commented on #10513
**Proposal**

- Need to set `cursor: pointer` at `/src/components/AvatarCropModal/Slider.js` in styles.sliderBar
https://github.com/Expensify/App/blob/334bd7da06d3221035994328fda7dd4afeb62730/src/components/AvatarCropModal/Slider.js#L31

- change here

https://github.com/Expensify/App/blob/334bd7da06d3221035994328fda7dd4afeb62730/src/styles/styles.js#L2635

add : `cursor: pointer` into style

**Re

[2022-08-24 07:00] techievivek commented on #10029
On hold, will be able to look into it only after the API refactor is completed.

[2022-08-24 07:01] techievivek commented on #8589
Hold on to API refactors.

[2022-08-24 07:20] tgolen commented on #8791
We are discussing this internally to see how to best move forward.

[2022-08-24 07:41] luacmartins commented on #9577
Thanks for the interest in this @puneetlath!

What you said is correct, although we should refactor [this part](https://github.com/Expensify/App/blob/3cef13d5e1012dc99036d7f8c1693686d436ad4f/src/components/AddPlaidBankAccount.js#L180-L204) in AddPlaidBankAccount, in addition to AddPersonalBankAccountPage and BankAccountStep.

[2022-08-24 07:48] joekaufmanexpensify commented on #9510
Sounds good! Given this has already been exported to Upwork, I think this should be assigned to the contributor management team, based on this [SO](https://stackoverflow.com/c/expensify/questions/8582/8583#8583).

Re-assigning based on that!

[2022-08-24 07:51] sketchydroide commented on #10431
I tested both the staging app and web, links worked fine

[2022-08-24 07:58] thienlnam commented on #9813
Yeah, took a look and it's true the change is already present in our fork so there isn't anything to do here - https://github.com/Expensify/react-native/blob/main/ReactAndroid/hermes-engine/build.gradle#L202

Going to go ahead and close it since this was already fixed before the proposal

[2022-08-24 07:58] #9813 closed

[2022-08-24 07:59] MonilBhavsar commented on #9391
Yes agree, `newchat+1` is not in LHN but in the chat screen.

[2022-08-24 08:11] neil-marcellini commented on #10485
Yes it happened for messages to Flo for a bit, but now it's working fine. It still happens with Chronos, so that might be the best place to focus. Are you not able to re-produce?

[2022-08-24 08:17] Beamanator commented on #10258
@rafecolton would you please create a Fork of https://github.com/oguzhnatly/react-native-image-manipulator?

[2022-08-24 08:23] luacmartins commented on #6883
We have another [PR](https://github.com/Expensify/react-native-key-command/pull/3) up

[2022-08-24 08:23] mollfpr commented on #9391
So is my proposal not work as expected? Or we want to change the expected result?

[2022-08-24 08:30] lschurr commented on #10516
Triaged and got the same result.

<img width="374" alt="image" src="https://user-images.githubusercontent.com/33293730/186370092-0ca12829-d314-4c02-9e18-15ad76d26ea1.png">

[2022-08-24 08:33] dylanexpensify commented on #10148
Bump @mvtglobally

[2022-08-24 08:35] marcaaron commented on #10431
Did you test an external link e.g. `expensify.com`? In my testing I noticed that those links would not work but internal app links work fine.

[2022-08-24 08:36] trjExpensify commented on #10513
Upwork job: https://www.upwork.com/jobs/~015a8a755e0530fbd6

[2022-08-24 08:38] thesahindia commented on #10514
### Proposal

We can create a function for validation -
[code]
We have `splitExtensionFromFileName` function here, we can move it to [FileUtils](https://github.com/Expensify/App/blob/main/src/libs/fileDownload/FileUtils.js)
https://github.com/Expensify/App/blob/cd2f5692f9e054fb1cb8662c6c0680ae2a7a351d/src/components/AttachmentModal.js#L115-L120

Call `isValidExtension` here -
https://github.com/Ex

[2022-08-24 08:39] marcaaron commented on #9253
yes, that's what I mean by "opening the next report"

I meant exactly what I said. Why should we change the visibility at all? The expected behavior should be that anytime we transition from a report page to the sidebar we should see the old report and not the next one. Waiting for the transition to complete before loading the next report sounds like the correct solution.

[2022-08-24 09:00] AndrewGable commented on #10431
Yes!

<img width="618" alt="Screen Shot 2022-08-24 at 11 00 06 AM" src="https://user-images.githubusercontent.com/2838819/186376893-304b404a-db41-4492-84ce-c1d72effe384.png">

<img width="462" alt="Screen Shot 2022-08-24 at 10 59 52 AM" src="https://user-images.githubusercontent.com/2838819/186376978-e35264d6-bced-42a7-bb13-c48a9f26a3b5.png">

[2022-08-24 09:16] ntdiary commented on #9253
Actually, there are two problems with this: 😅
1. we can't know when the transition is complete, because `react-navigation` doesn't support this feature on web platform, and they probably didn't plan to do that either.
2. If we want to keep the old report during transition, it means we shouldn't get the reportID directly from the url path. In this case, we need to use onyx to store the reportID and

[2022-08-24 09:30] AndrewGable commented on #10291
External contributor assigned, awaiting C+ review on PR.

[2022-08-24 09:32] AndrewGable commented on #6527
Agree with @thienlnam

[2022-08-24 09:35] roryabraham commented on #9905
Still on HOLD. @mountiny would you be interested in taking this one from me and tackling it alongside https://github.com/Expensify/App/issues/9999 ?

[2022-08-24 09:35] roryabraham commented on #9020
Not prioritizing over other N7-blocking initiatives

[2022-08-24 09:37] roryabraham commented on #10058
Let's cap the value of this issue here

[2022-08-24 09:40] rafecolton commented on #10258
Done!

[2022-08-24 09:44] mountiny commented on #9905
Might be good to do alongside, although quite scared of the refactor there, definitely a stuff to work on after the Offshore 😄

[2022-08-24 10:19] Harshdeepjoshi commented on #10513
### Proposal
replace https://github.com/Expensify/App/blob/334bd7da06d3221035994328fda7dd4afeb62730/src/components/AvatarCropModal/Slider.js#L31
to this
`<View style={[styles.sliderBar, styles.cursorPointer]}>`

[2022-08-24 10:35] Beamanator commented on #10258
Thanks @rafecolton !

Ok @Tabakharniuk would you mind making a PR on that new repo (https://github.com/Expensify/react-native-image-manipulator) with your changes?

[2022-08-24 10:59] kadiealexander commented on #10514
Great point @thesahindia, I've brought that to Slack for discussion [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1661338683100219) if you'd like to weigh in!

[2022-08-24 11:11] marcaaron commented on #10058
@roryabraham should we standardize this somehow? The instinct to cap these could be a good one, but other similar issues have no cap as far as I can tell.

[2022-08-24 11:21] marcaaron commented on #9253
We can create an issue with `react-navigation` and try to make it possible. Does not seem like there is a clear reason why this is not supported on web.

I see no problem with this. Just don't use the new reportID from the url path until the transition is done.

I'm not sure I see which components or platforms this increases the complexity of... I think we can just pass an updated `reportID` prop

[2022-08-24 11:25] marcaaron commented on #10431
haha ok, and we are aware that the issue is not affecting web? Sorry for the questions it's just that this issue is very much present on staging iOS. No external links are tappable at all.

[2022-08-24 11:41] kbecciv opened #10520 "Android - Payments- White space is displayed in Settings after make default payment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10162

## Action Performed:
Precondition: VBA added into testing account
1. Go

[2022-08-24 11:41] OSBotify commented on #10520
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-24 11:49] kbecciv commented on #10424
@yuwenmemon Issue have been reproduced during QA Regression, build 1.1.89.0

![Screenshot_20220824-144231](https://user-images.githubusercontent.com/93399543/186411124-347771ae-17f4-4b5e-a388-011f337136aa.png)

[2022-08-24 12:12] kevinksullivan commented on #10329
Going OOO for a bit so I'm going to reassign. Thanks @mallenexpensify !

[2022-08-24 12:13] kevinksullivan commented on #9579
Reassigning as I'm OOO for a bit. Thanks @dylanexpensify !

[2022-08-24 12:14] kevinksullivan commented on #10078
Price doubled.

[2022-08-24 12:15] kevinksullivan commented on #10078
Reassigning as I'm OOO for a bit. Thanks @adelekennedy  !

[2022-08-24 12:15] kevinksullivan commented on #9702
Waiting on @MonilBhavsar review.

[2022-08-24 12:16] kevinksullivan commented on #9702
Reassigning as I'm OOO for a bit. Thanks @kadiealexander !

[2022-08-24 12:18] kevinksullivan commented on #9827
@rushatgabhane can you let us know if this caused a regression?

[2022-08-24 12:19] kavimuru opened #10521 "[HOLD] Web - Chat - "New" message indication is not showing for new messages that arrived"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into a valid account
3. Send a message from device B to device A to simulate the arri

[2022-08-24 12:19] kevinksullivan commented on #9827
Reassigning as I'm OOO for a bit. Thanks @michaelhaxhiu !

[2022-08-24 12:20] kevinksullivan commented on #7968
Also, I am reassigning as I'm OOO for a bit. Thanks @MitchExpensify  !

[2022-08-24 12:24] dylanexpensify commented on #9579
Sounds good! Have a good time off @kevinksullivan !

[2022-08-24 13:01] sketchydroide commented on #10431
Yes, I've just checked iOS, and the app failled to direct the links, and one of them crashed the app, this are the links @AndrewGable sent me:
[code]

`https://new.expensify.com/inbox ` crashes
`https://staging.new.expensify.com/r/99123880 ` redirects me to the list of users (I don't have that report/chat)

all the other ones fail to do anything

[2022-08-24 13:01] kavimuru opened #10522 "Web - User detail - Unable to copy the email address"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open App and login
2. Navigate to any chat tap on photo
3. Tap on copy icon

## Expected Result:
User is able to copy the emai

[2022-08-24 13:03] bfitzexpensify commented on #9938
OK, given @tgolen's comment:

And the fact it was not reproducible during the KI test, I agree with putting this on HOLD and seeing whether it still occurs after offline first is finished in a few weeks. Doing that now - let me know if anyone disagrees with that approach

[2022-08-24 13:04] OSBotify commented on #10522
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-24 13:11] sketchydroide commented on #9973
I've got deployer duties this week, and with clear daily releases I don't have time for this GH, hopefully next week 🤞🏼

[2022-08-24 13:17] Harshdeepjoshi commented on #10515
### Proposal
The issue here is with the text being selected because of the default behavior of the browser thus preventing the button from being clicked
#### Solution
we will add this to Styles.js
`    userSelectNone: {
        userSelect: 'none',
    },`

and then replace
https://github.com/Expensify/App/blob/cd2f5692f9e054fb1cb8662c6c0680ae2a7a351d/src/components/AvatarCropModal/AvatarCropModal.

[2022-08-24 13:20] NicMendonca commented on #9581
doubled: https://www.upwork.com/jobs/~012c4ed44ee1b967a1

[2022-08-24 13:28] kavimuru opened #10523 "[$500] mweb - Change Password - If user get incorrect current password message, the field does not highlight"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into a valid account
3. Tap on Profile icon > Security > Change Password
4. Enter inc

[2022-08-24 13:34] kbecciv opened #10524 "[Bug] No Offline Indicator displayed after going offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go to any chat
4. Go offline

## Expected Result:
offline message displayed below

[2022-08-24 13:35] OSBotify commented on #10524
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-24 13:36] sketchydroide commented on #10522
Yes this is broken, and it is a deploy blocker -> easy to reproduce, and can't reproduce in Prod but can in Staging

[2022-08-24 13:37] sketchydroide commented on #10520
@youssef-lr this might be to much (we need it fixed today), I'll try to see if someone else can pick it up

[2022-08-24 13:41] neil-marcellini commented on #10524
Not reproducible on iOS staging so I'll remove the deploy blocker label.

[2022-08-24 13:43] neil-marcellini commented on #10498
I was not able to reproduce https://github.com/Expensify/App/issues/10524 on iOS staging, so I don't think we should block on this. I'll test on Android soon.

[2022-08-24 13:52] sketchydroide commented on #10424
cannot reproduce this in version 1.1.89.0 in desktop, Web, iOS or Android

As far as I can tell this is the exact same behaviour in Prod.

Either that or the description is wrong, it says the message `you appear to be offline` appears in all platforms.
Not sure on the green/gray dot, but I do not see that dot in Prod

[2022-08-24 14:01] luacmartins opened #10525 "[HOLD for payment 2022-12-08] Explore cleaning up reportIOUS_ collection key"
# Problem
Coming from [this thread](https://docs.google.com/document/d/1B_Y4T12LDl_OfTt8LMoatS8OlEwX6H162ZBxioV_xJg/edit?disco=AAAAevBC5uc), having a separate reportIOUS_ Onyx key seems unnecessary and confusing, since we create a disconnect between data by separating it into multiple different keys.

# Why is this important
Keep the code cleaner and less confusing leads to a better and faster dev

[2022-08-24 14:04] kavimuru opened #10526 "[HOLD for #10273] Login - Password field becomes hidden after entering wrong 2FA code"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the test app
2. In the log in screen enter an account that has 2FA enabled
3. Enter the correct password in the password

[2022-08-24 14:06] sketchydroide commented on #10424
I don't think this is consistently reproduced so I'm going to remove blocker

[2022-08-24 14:08] marcaaron commented on #10431
Since we deployed I'm removing the `DeployBlockerCash` label and assigning @parasharrajat

[2022-08-24 14:08] kbecciv opened #10527 "Web - New Group - Aviators icon is missing when create a new group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Log in with any account
3. Click on Fub menu - New Group
4 Select any 4 - 5 user a

[2022-08-24 14:09] OSBotify commented on #10527
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-24 14:11] kavimuru opened #10528 "[$250] Mac / Safari - Unread favicon - No unread favicon in the browser tab"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #10041

## Action Performed:
1 Login to the ND under Web/Safari as user A.
2. send DM to the user A
3. Observe favicon for t

[2022-08-24 14:14] Luke9389 commented on #10520
I'm gonna leave an obnoxious amount of updates on this issue until it's solved.
First step is updating all repos and then reproducing this in my dev environment.

[2022-08-24 14:15] melvin-bot[bot] opened #10529 "💥 Crash 💥 `paymentMethodPressed`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: JavaScriptError
### Cannot read property 'slice' of undefined
### `main.jsbundle:262013:121 line 262013` `paymentMethodPressed`
### Number of Crashes: 4

## Device Information
* **Platforms:** iOS
* **App Versions:** `1.1.89.0`
* **Devices:** Apple iPhone12,3 15.6.1

## Stacktraces
<d

[2022-08-24 14:18] Luke9389 commented on #10520
Checking out the onClose of the AddPaymentMethodMenu.

[2022-08-24 14:18] Gonals opened #10530 "[$250] Full links on chat messages lose the hyperlink when the message is edited"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Write a full link (⁦`https://www.google.com`) in the chat and send the message.
2. It shows as a clickable link:
<img width="3

[2022-08-24 14:18] kbecciv opened #10531 "Web - Login - Infinite spinner when logging in to the specified account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with the specified account

## Expected Result:
Login to the account sho

[2022-08-24 14:19] OSBotify commented on #10531
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-24 14:21] sketchydroide commented on #10524
this might be duplicated with the one I just linked

[2022-08-24 14:24] mountiny commented on #10520
cc @rushatgabhane and @dhairyasenjaliya _might_ be related to the changes in https://github.com/Expensify/App/pull/10162 if you could have a look

[2022-08-24 14:26] marcaaron commented on #10520
Random guess but looks like the offline indicator component or keyboard shortcuts modal could be taking up space when in view.

https://github.com/Expensify/App/blob/dbfd0eb5ae2cd321db5075f088492f87ff1e8860/src/components/ScreenWrapper/BaseScreenWrapper.js#L82-L93

[2022-08-24 14:29] AndrewGable commented on #10531
I can reproduce

[2022-08-24 14:31] Christinadobrzyn commented on #10530
Going to take this since I'm working on the contributor management team!

[2022-08-24 14:31] tgolen commented on #10527
I'll take this one

[2022-08-24 14:32] Luke9389 commented on #10520
Building android is happening _very_ slowly right now.

[2022-08-24 14:37] marcaaron commented on #10520
Can someone confirm that this also happens on web? And if so, what are the reproduction steps?

[2022-08-24 14:38] JmillsExpensify commented on #10531
This one is bad. Let's keep the deploy blocker label.

[2022-08-24 14:38] marcaaron commented on #10520
I followed the steps above but could not reproduce on staging web. The issue description says that these platforms are affected:

Web
iOS
Android
Desktop App
Mobile Web

[2022-08-24 14:39] Christinadobrzyn commented on #10530
I wonder if this will be resolved with this job https://github.com/Expensify/App/issues/9332

@flodnv could you take a peek at this ^ issue and let me know if you think it's unique from [this](https://github.com/Expensify/App/issues/9332)

[2022-08-24 14:39] dhairyasenjaliya commented on #10520
Yup as we tested keyboard spacer but this new changes for offline indicator made android issues

[2022-08-24 14:40] JmillsExpensify commented on #10527
Depending on how we get on, I'd be fine deploying with this shortcoming and we can address tomorrow. It's largely cosmetic.

[2022-08-24 14:41] JmillsExpensify commented on #10522
Depending on how we get on, I'd be fine with deploying with this issue and fixing in the next release.

[2022-08-24 14:41] mountiny commented on #10520
I think they only mentioned Android in title, meaning this is only on Andoird but havent updated the list later on

[2022-08-24 14:43] AndrewGable commented on #10531
Discussing in Slack but our current understanding is it's related to this issue: https://github.com/Expensify/App/issues/9382

[2022-08-24 14:44] sketchydroide commented on #10520
The title says it's specific to Android though, maybe the description was not updated correctly?

[2022-08-24 14:45] sketchydroide commented on #10522
ok, there is still a workaround and it's not that hard, so that makes sense

[2022-08-24 14:48] ctkochan22 commented on #10485
No :/. So I'm just messaging back and forth right? Waiting for a response to come with a previous response?

If there are no other steps I'm missing, I'm unable to reproduce

[2022-08-24 14:52] tgolen commented on #10527
@marcaaron Maybe you can help me out with this... I found the problem, but I don't know the cause.

It looks like the `route.match.params` that is being passed to `ReportScreen` is not getting the right reportID. Because of this, the reportActions end up being empty, and that's why the `ReportWelcomeText` isn't shown. Once you refresh the page, then everything works properly.

The redirect happens

[2022-08-24 14:53] Luke9389 commented on #10520
Hey @rushatgabhane, how do I disable Hermes?

[2022-08-24 14:55] Luke9389 commented on #10520
When testing this, I'm trying to add a payment method, but the option is greyed out, does anyone happen to know why?
<img width="539" alt="Screen Shot 2022-08-24 at 4 55 10 PM" src="https://user-images.githubusercontent.com/49007721/186451276-62aa5acf-7e23-4430-87dc-2bb7d4096da9.png">

[2022-08-24 14:59] JmillsExpensify commented on #10520
FWIW, I'm don't think this is a real deploy blocker given that this part of the App is tied to our internal P2P beta – though obviously we should fix it more generally.

[2022-08-24 15:05] dhairyasenjaliya commented on #10520
Soon I will investigate this currently im away from my mac

[2022-08-24 15:09] Luke9389 commented on #10520
In that case I think we should remove the `DeployBlockerCash` label. @sketchydroide are you cool with that?

[2022-08-24 15:11] kbecciv opened #10533 "[$250] mWeb/Safari - Payment - When tapping "Default Payment" the keyboard is overlapping the field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10162

## Action Performed:
Pre-Condition: User has a password saved on there

[2022-08-24 15:11] sketchydroide commented on #10520
yes, go ahead also let't make is a daily, it needs to be fixed once this in no longer a beta

[2022-08-24 15:13] Puneet-here commented on #10513
The issue is incomplete. The expected result is seeing cursor pointer at green slider know and the cursor should be grab type when grabbing image.

[2022-08-24 15:29] kavimuru opened #10534 "Web - Login - Infinite spinner when logging in to a specified account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with the specified account

## Expected Result:
Login to the account sho

[2022-08-24 15:30] OSBotify commented on #10534
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-24 15:30] #10534 closed

[2022-08-24 15:32] kbecciv opened #10535 "[HOLD for payment 2022-09-16] [$250] mWeb/Safari - Log in/Payments- Blue border appears in password field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10162

## Action Performed:
1. Go to staging.new.expensify.com
2. In log in pa

[2022-08-24 15:34] isagoico commented on #10271
@tgolen I'm able to reproduce this issue on build 1.1.89-0 when transitioning from OldDot mWeb to NewDot when logged in with a different account in NewDot
1. Log in to NewDot with account A
2. Navigate to OldDot and log in with account B
3. Select the option to "Set up your company for free"
4. Infinite loading displayed, after a little while a empty error is shown (sometimes)

https://user-images

[2022-08-24 15:34] thienlnam commented on #7916
Any updates on this @mdneyazahmad ?

[2022-08-24 15:36] thienlnam commented on #10350
Putting this on a monthly since it's pretty minor - only seems to happen if the text input is expanded beyond the visible text

[2022-08-24 15:37] neil-marcellini commented on #10485
I'll close this because it's not easy to re-produce and was probably just a fluke.

[2022-08-24 15:39] dhairyasenjaliya commented on #10535
issue reported here on slack : https://expensify.slack.com/archives/C01GTK53T8Q/p1661107700990479

[2022-08-24 15:45] roryabraham commented on #10535
Going to look into this

[2022-08-24 16:06] kavimuru opened #10536 "Desktop - Infinite loading when open App"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre: App was upgraded and worked normally for around 2 hours
1. Re Open App
2. Try to login with different account

## Expected R

[2022-08-24 16:06] sketchydroide commented on #10498
we have set https://github.com/Expensify/App/issues/10520 as not a blocker for now as it's behind a closed beta
is there a way to still test https://github.com/Expensify/App/pull/10162 & #10322?

[2022-08-24 16:07] OSBotify commented on #10536
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-24 16:08] AndrewGable commented on #10531
@marcaaron fixed this in https://github.com/Expensify/Web-Expensify/pull/34671

[2022-08-24 16:08] #10531 closed

[2022-08-24 16:08] sketchydroide commented on #10498
https://github.com/Expensify/App/issues/10524 does not seems to be consistent, and set it as not a blocker
can you still test https://github.com/Expensify/App/issues/10479?

[2022-08-24 16:11] AndrewGable commented on #10536
Can you please re-test in ~5 minutes? We just pushed a fix via the API side that should fix this once deployed.

[2022-08-24 16:11] MonilBhavsar commented on #7822
PR is in reviewing stage

[2022-08-24 16:12] mvtglobally commented on #10498
@sketchydroide We tested https://github.com/Expensify/App/pull/10162 & https://github.com/Expensify/App/pull/10322 and if linked issues are not blockers, I guess we can check them off. Rest of the environments are pass.

[2022-08-24 16:13] neil-marcellini commented on #10524
I'm unable to test on Android right now, it keeps crashing.

[2022-08-24 16:13] AndrewGable commented on #10536
<img width="217" alt="Screen Shot 2022-08-24 at 6 13 18 PM" src="https://user-images.githubusercontent.com/2838819/186469412-0c30df4a-d4fb-4129-a2b6-39c266c0103b.png">

Actually, looking at the logs, this is a confirmed dupe of https://github.com/Expensify/App/issues/10531

[2022-08-24 16:13] #10536 closed

[2022-08-24 16:13] Beamanator commented on #10535
Also going to look into this 😅

[2022-08-24 16:16] Beamanator commented on #10535
here's what I see in Safari, both in production & staging:

<img width="364" alt="Screen Shot 2022-08-24 at 6 16 02 PM" src="https://user-images.githubusercontent.com/3885503/186470005-52071569-7b8f-47cf-9f45-3f7e76dd8479.png">

[2022-08-24 16:21] strepanier03 commented on #9705
I'm unsure if this needs my action at this time but I'm happy to take over Triage for it. Since a PR has been assigned to someone and I don't see that is has been linked to this GH I believe it's still being worked on. My plan is to send on to Eng once the PR is linked.

If I should take a different approach or action, please let me know.

[2022-08-24 16:22] roryabraham commented on #10535
I've been able to reproduce this on dev:

<img width="458" alt="image" src="https://user-images.githubusercontent.com/47436092/186471143-2a2ccbe0-66c4-4101-9109-9aa87d6204e4.png">

[2022-08-24 16:22] luacmartins commented on #9382
This was solved here https://github.com/Expensify/Web-Expensify/pull/34671. Closing.

[2022-08-24 16:22] #9382 closed

[2022-08-24 16:24] marcaaron commented on #10527
Which one of those routes is from `data.reportID` ?

[2022-08-24 16:25] sketchydroide commented on #10498
@mvtglobally how about
https://github.com/Expensify/App/pull/10432
https://github.com/Expensify/App/pull/10444
and
https://github.com/Expensify/App/pull/10479
?

[2022-08-24 16:26] Julesssss commented on #10498
Checked off https://github.com/Expensify/App/issues/10535 as the deploy blocker label has been removed

[2022-08-24 16:27] Gonals commented on #10527
Discussing on t[his thread](https://expensify.slack.com/archives/C03UW4UU1C5/p1661354863756659), but TLDR, we think we are not calling `fetchInitialActions` at some point where we should

[2022-08-24 16:27] flodnv commented on #10530
@Christinadobrzyn I kinda doubt it, but could be wrong

[2022-08-24 16:27] tgolen commented on #10527
@marcaaron the second one.

[2022-08-24 16:28] tgolen commented on #10527
I verified the double-navigation also happens on production, so that could be something completely unrelated and existing.

[2022-08-24 16:35] roryabraham commented on #10535
Demoted. Interestingly this will disappear if you refresh the page or do anything that causes a re-render. This makes me think it's a react-native-web bug, and not a problem with one of our styles

[2022-08-24 16:38] kavimuru opened #10538 "Web - Workspace- User receives error message in JS console when offline in General settings"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #10432
## Action Performed:
1. Access staging.new.expensify.com
2. Login and create a workspace
3. Navigate to the initial W

[2022-08-24 16:39] OSBotify commented on #10538
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-24 16:43] cead22 commented on #10538
This isn't a JS error message, this is only showing that we made an API call that failed (because we don't have a network connection)

It's possible that we may not have detected that the network connection wasn't working before we made the API call, but as far as I can tell after my first brief look there's no error here

[2022-08-24 16:44] sketchydroide commented on #10538
yeah I would agree

[2022-08-24 16:45] strepanier03 commented on #9705
At that point, I think it will actually have to go to someone from the contributor management team because Triagers only interaction with Upwork is to apply the External label. That, or we need to update the [SO](https://stackoverflow.com/c/expensify/questions/4319) for the triage chore because it doesn't say anything about helping with payment or the Upwork job.

When the PR is merged, I'll find

[2022-08-24 16:46] tgolen commented on #10271
OK, thanks for letting me know. @arosiclair is working on a little refactor to that code in this PR: https://github.com/Expensify/App/pull/10494 so once that is deployed, let's re-evaluate if this still happens or not.

[2022-08-24 16:46] mvtglobally commented on #10498
@sketchydroide  PRs https://github.com/Expensify/App/pull/10432 & https://github.com/Expensify/App/pull/10444. Team is facing few JS Console errors when offline. PROD experience is different, but we are not sure if these are expected as user is offline, or its actually failing PR. https://github.com/Expensify/App/issues/10538

[2022-08-24 16:47] luacmartins commented on #10538
I agree and I think we should close the issue for the reason Carlos stated above

[2022-08-24 16:48] cead22 commented on #10538
Thanks

[2022-08-24 16:48] #10538 closed

[2022-08-24 16:48] sketchydroide commented on #10498
I think those are expected is a user is offline

[2022-08-24 16:49] sketchydroide commented on #10498
@cead22 just gave a good feedback on the GH, if that is what was blocking the other 2 items we can check them off

[2022-08-24 16:54] sketchydroide commented on #10498
@mvtglobally last one https://github.com/Expensify/App/pull/10479 🙏🏼 ?

[2022-08-24 16:54] trjExpensify commented on #10522
Yeah, I agree that I wouldn't hold the deploy on this issue. Should we remove the DB label then?

[2022-08-24 16:55] mvtglobally commented on #10498
few more min....

[2022-08-24 16:59] isagoico opened #10539 "Android - Blank space displayed under compose box on new conversations"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in the Android app
2. Navigate to a new conversation
3. Tap on the compose box to start writing

## Expected Result:
Compo

[2022-08-24 17:00] kbecciv commented on #10520
@sketchydroide @sketchydroide My apologies, issue only accrued in Android app, updated issue environment.

[2022-08-24 17:01] OSBotify commented on #10539
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-24 17:01] sketchydroide commented on #10520
no worries, it's just good to keep it consistent so we don't loose time testing platforms
thanks 😄

[2022-08-24 17:02] isagoico commented on #10539
As mentioned above, unable to reproduce the issue in production. Below is the behavior in prod app:

<img src="https://user-images.githubusercontent.com/44479856/186479095-8cf9b5ac-c93a-4b25-bc37-ce83428a0059.png" width="40%">

[2022-08-24 17:02] sketchydroide commented on #10522
yeah let's

[2022-08-24 17:07] mvtglobally commented on #10498
@sketchydroide  PR https://github.com/Expensify/App/pull/10479 is failing due to https://github.com/Expensify/App/issues/10524. Since https://github.com/Expensify/App/issues/10524 is no longer a blocker. Are we ok to check off?

[2022-08-24 17:09] Santhosh-Sellavel commented on #9578
Waiting for proposals, it's been two weeks let's double this up!

[2022-08-24 17:10] MonilBhavsar commented on #10224
Engaged in N07, will update soon

[2022-08-24 17:10] sketchydroide commented on #10539
@isagoico do you have a video you can add? thanks it's easier to replicate/understand when there is a video

[2022-08-24 17:12] mallenexpensify commented on #9382
Sweet! I was able to sign out then back into desktop 15 mins ago and it's working fine so far 🤞

[2022-08-24 17:13] sketchydroide commented on #10498
yes

[2022-08-24 17:13] AndrewGable commented on #10522
Fix incoming

[2022-08-24 17:18] MitchExpensify commented on #10181
+1 to this, we should have the same behavior on mobile and web in this case right? I cannot think of a reason we wouldn't. (So we'd want pressing enter to pick the highlighted user)

Just to confirm @parasharrajat, are you saying you pressed enter on mobile and it highlighted the user top of the list? I just tried this on iOS and didn't experience that (It just stopped focusing on the search field

[2022-08-24 17:18] varshamb commented on #10530
Proposal

change this line to `const htmlForNewComment = parser.replace(textForNewComment)`

https://github.com/Expensify/App/blob/e504cc3d883a51294a3aca375dee28e66596edf4/src/libs/actions/Report.js#L1226

[2022-08-24 17:18] mallenexpensify commented on #9578
Thanks @Santhosh-Sellavel !!  Doubled price to $500 https://www.upwork.com/jobs/~010b1678b6661417b0
Removed @arielgreen since I'm back from OOO

[2022-08-24 17:18] isagoico commented on #10539
Yep! Adding it now - Looks like the "beginning of your chat" is not being rendered in the conversation 🤔 maybe this is happening because of that.

Attaching the video here and to the OC.

https://user-images.githubusercontent.com/44479856/186482134-e8d906db-078c-4574-8795-d9320771f5e7.mp4

[2022-08-24 17:23] MitchExpensify commented on #10027
Doubled!

[2022-08-24 17:28] Christinadobrzyn commented on #10530
Posted Job in Upwork

External posting - https://www.upwork.com/jobs/~0167db6a4073dce20a
Internal posting - https://www.upwork.com/ab/applicants/1562491902073597952/job-details

[2022-08-24 17:40] Puneet-here commented on #10513
Hmm we can add `cursor: 'grabbing'` here
https://github.com/Expensify/App/blob/e504cc3d883a51294a3aca375dee28e66596edf4/src/styles/styles.js#L2635-L2638

but we still have second part left. Here the cursor should be grab type when you grab and drag the image.
I will try finding the solution for it.

https://user-images.githubusercontent.com/101883770/186486466-ba5eeb53-c1ad-4e60-8610-4741d528bbc3.

[2022-08-24 17:54] dhairyasenjaliya commented on #10513
Do we need to change the cursor inside image drag as in the issue it is not mentioned if yes then I need to update the proposal https://github.com/Expensify/App/issues/10513#issuecomment-1225265727

[2022-08-24 18:20] varshamb commented on #10513
Updated Proposal

We should use `cursor: 'grab'` in `sliderKnob` and not `sliderBar`. Because clicking on `sliderBar` does nothing, and hence it should not have cursor of type grab.

https://github.com/Expensify/App/blob/334bd7da06d3221035994328fda7dd4afeb62730/src/styles/styles.js#L2625

And for the image, we can add `cursor: grab` in styles.imageCropContainer

https://github.com/Expensify/App/bl

[2022-08-24 18:21] OSBotify commented on #10498
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10540) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.89-1` :rocket:

[2022-08-24 18:23] srikarparsi commented on #9408
^

[2022-08-24 18:24] dhairyasenjaliya commented on #10520
**Solution**

- We should remove  LayoutAnimation.configureNext from the baseKeyboard as this animation is getting clashes with `BaseScreenWrapper`   because in the wrapper we are already using `<KeyboardAvoidingView>` which is also using same animation

https://github.com/Expensify/App/blob/4df4c8bcf24b5649cf39084affa773becb892ef9/src/components/KeyboardSpacer/BaseKeyboardSpacer.js#L55

https://g

[2022-08-24 18:26] kbecciv opened #10544 "Android/IOS- Attachment - Protected PDF file does not have password field to enter it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Select any user for conversation
4. Tap on Plus button
5. Add attachment
6. Tap C

[2022-08-24 18:53] slafortune commented on #10511
Pretty sure this goes to engineering > external

[2022-08-24 18:59] roryabraham commented on #10520
Was able to confirm that this fixes the issue

[2022-08-24 19:00] Santhosh-Sellavel commented on #9578
@mallenexpensify Can you please update the issue title also?

[2022-08-24 19:06] PauloGasparSv commented on #9342
The issue was replicated locally on firefox only! Whenever I select the concierge chat at first and then try to search my way to someone else's chat the issue eventually happens.

The navigator seems to attempt to go to the selected chat, then fails and tries to go back to the home and then goes back to the chat I was before.
![image](https://user-images.githubusercontent.com/6564265/186502232-61f

[2022-08-24 19:09] Santhosh-Sellavel commented on #10108
PR is live

[2022-08-24 19:10] Santhosh-Sellavel commented on #10406
Waiting proposals

[2022-08-24 19:15] roryabraham commented on #10539
Looking into this

[2022-08-24 19:21] kbecciv opened #10547 "mweb/Desktop - Growl - User does not receive a growl when offline in workspace options"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com on mweb (Or desktop app)
2. Sign into a valid account
3. Tap on Profile icon > Workspace > Re

[2022-08-24 19:22] OSBotify commented on #10547
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-24 19:23] #10520 closed

[2022-08-24 19:25] Santhosh-Sellavel commented on #10406
Thanks, @parasharrajat for jumping in here can you recall any previous issue ids which we can link here?

[2022-08-24 19:32] OSBotify commented on #10498
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.89-1 has been deployed to staging :tada:

[2022-08-24 19:36] OSBotify commented on #10498
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10546) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.89-2` :rocket:

[2022-08-24 19:37] roryabraham commented on #10539
The problem _appears_ to be that the `ReportActionsList` isn't rendering at all:

<img width="268" alt="image" src="https://user-images.githubusercontent.com/47436092/186507654-cfbdb29b-fea8-4ca1-bb43-2a21dedb8abb.png">

And I saw this error which might be a hint:

<img width="907" alt="image" src="https://user-images.githubusercontent.com/47436092/186507788-f1062048-4852-4a76-a490-ea0aa18b9fc0.pn

[2022-08-24 19:47] kbecciv opened #10550 "[Bug] IOS/Android/Desktop - Messages are showing sent multiple times for sender"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App and login
2. Off WiFi
3. Send some messages to an account you have access too. (Preferably you're logged in on anot

[2022-08-24 19:48] OSBotify commented on #10550
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-24 19:50] Santhosh-Sellavel commented on #10406
@puneetlath What do you say then?

[2022-08-24 20:02] mvtglobally commented on #10498
checking New CPs. Regression is almost completed

[2022-08-24 20:03] kbecciv opened #10551 "[HOLD #227410] iOS - Chat - The name stops being bold until a new message is read"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to App and login with any chat device A)
2. Disable your internet connection on the device A
3. On another device (can be a

[2022-08-24 20:21] kbecciv opened #10552 "Desktop - Offline - Error message while inviting user to the Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Desktop App
2. Go to Setting - Workspace - Members
3. Turn off the network
4. Try to invite user to the workspace

## Exp

[2022-08-24 20:21] OSBotify commented on #10552
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-24 20:27] kavimuru opened #10553 "Workspace - New workspace created after use the "Free Plan" on price page from OldDot."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to NewDot and Log out
2. Navigate to OldDot and sign in with any account that has an existing Workspace
3. Navigate t

[2022-08-24 20:42] arosiclair commented on #10492
New repro steps we're given in that don't work unfortunately:

https://user-images.githubusercontent.com/6833644/186519177-43b62f2d-6c03-4dd3-ac6e-e7fe287b0864.mov

This seems like a rare edge case so I can't reproduce this. However, I'll add some safety code to at least ensure this specific crash doesn't occur again

[2022-08-24 20:43] OSBotify commented on #10498
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.89-2 has been deployed to staging :tada:

[2022-08-24 20:50] roryabraham commented on #10539
[Diagnosed the problem](https://expensify.slack.com/archives/C03UW4UU1C5/p1661372193647169?thread_ts=1661360904.807919&cid=C03UW4UU1C5), but don't have a fix ready

[2022-08-24 21:04] ctkochan22 commented on #10410
I don't think just switching it to contain works. We use `"cover"` so that when the area is larger than the image, it scales up accordingly. If we just applied "contain" it would not do so.

@shawnborton I introduced this bug originally here: https://github.com/Expensify/App/pull/7771 (sorry). I think the issue is that the graphic/text for the CPA image is closer to the margin than the usual backg

[2022-08-24 21:45] luacmartins commented on #10530
@rushatgabhane @mananjadhav yes, let's do an RCA for this. @mananjadhav can you lead the process? Here's the [doc](https://docs.google.com/document/d/1BvohU05MTaHnjOD_vwJv_aqDAirv-ChkyRnKCAvOVyQ/edit#heading=h.8iom76ry1bp2)

[2022-08-24 22:06] kbecciv opened #10555 "[HOLD for payment 2022-10-20] [$1000] mWeb - Payments- Keyboard is dismissed after tap on eye icon"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue reproduce when executing PR** https://github.com/Expensify/App/pull/10546

## Action Performed:
Precondition: VBA added into testing account
1

[2022-08-24 22:21] ctkochan22 commented on #10552
Wait, is this a blocker? Is the refactor out for this?

Seems like offline handling will be handled in the refactor?

[2022-08-24 22:44] arielgreen commented on #10033
PR still in progress

[2022-08-24 22:46] arielgreen commented on #10410
Unassigning myself since we're fixing internally.

[2022-08-24 22:47] arielgreen commented on #9342
https://www.upwork.com/jobs/~014e7b4b06037214d6

[2022-08-24 23:13] JediWattson commented on #7862
Hey @trjExpensify that's what I'm hearing. I need about a day or two before I can get that up, but I will be making time for it for sure!

[2022-08-24 23:14] jasperhuangg commented on #10517
Seems like I'm unable to reproduce this issue right now in production or staging cc @Santhosh-Sellavel
Can we maybe provide some more detailed reproduction steps?

#### Prod
https://user-images.githubusercontent.com/31285285/186539302-da9055c2-8220-4517-8e8a-5b1656a3780f.mov

#### Staging

https://user-images.githubusercontent.com/31285285/186539623-f21c7c17-e814-496c-9016-373a7235eafa.mov

[2022-08-24 23:22] jasperhuangg commented on #9342
Unassigning myself for now since my plate is pretty full atm and this issue is on HOLD.

[2022-08-24 23:38] ctkochan22 commented on #10552
@arosiclair

[2022-08-24 23:39] shawnborton commented on #10410
What happens if we switch contain to cover in the `isMediumScreenWidth` scenario?

I would be down to just do nothing here.

[2022-08-24 23:56] ctkochan22 commented on #10552
@kbecciv How are you "turning the network off" specifically?

[2022-08-25 00:34] ctkochan22 commented on #10410
So "cover" will scale it up, the larger the window gets it'll scale up. While "contain" will always make sure the image is shown by scaling down.

Here is a video: https://recordit.co/kWeNVNLzUo

[2022-08-25 00:38] ctkochan22 commented on #10410
So if we just set it as "contain", it wont' scale up per se. So stretched out , it'll look like this:
<img width="800" alt="image" src="https://user-images.githubusercontent.com/12980144/186548131-bb5e9867-a561-4cc6-9385-093dfe3436ad.png">
<img width="1134" alt="image" src="https://user-images.githubusercontent.com/12980144/186548162-fbfa1789-996d-4979-94a4-75ebf1707752.png">

**Instead of:**
<img

[2022-08-25 01:25] kbecciv commented on #10552
@ctkochan22 Yes, QA team was following the steps in TR.

[2022-08-25 01:45] mallenexpensify commented on #2727
Hi, coming back from OOO, @parasharrajat , can you provide an update on where we're at? Thanks

[2022-08-25 02:34] ctkochan22 commented on #10552
Okay. I was just wondering. I tried with using the Network tab in the developer console for desktop and wasn't able to reproduce. Let me try turning off the wifi

[2022-08-25 02:53] ctkochan22 commented on #10552
I'm unable to reproduce. Tried turning my computer wifi off. Button is working as expected. Disabled.
<img width="1196" alt="image" src="https://user-images.githubusercontent.com/12980144/186563479-12b09832-ad11-4745-8466-a0c6caa7804d.png">

Can we try this out again?

[2022-08-25 03:01] marcaaron commented on #10512
We should give @thesahindia first dibs on this since they already have a solution as far as I can tell.

[2022-08-25 03:21] marcaaron commented on #10527
**Leaving a summary of the problem  here:**

In this [commit of this PR](https://github.com/Expensify/App/pull/10164/commits/2d7de46b79a40fe10edd4c9509c9ee53849f0d4d) we changed a behavior of the `ReportActionsView` which is to fetch the report object if we attempt to render the component with a `reportID` prop (that come from url params) but have no report object (which comes from Onyx). The resu

[2022-08-25 03:23] vladnobenladen commented on #10530
Here's RCA: https://github.com/Expensify/App/issues/4187#issuecomment-1220830528
The proposed solution on this comment will fix both issues - https://github.com/Expensify/App/issues/9090, https://github.com/Expensify/App/issues/10530

[2022-08-25 03:42] vladnobenladen commented on #10530
Another suggestion:
https://github.com/Expensify/App/issues/10530#issuecomment-1226012865
This is revert of this [PR](https://github.com/Expensify/App/pull/9405) and I agree with this.
I haven't seen any other chat platforms yet (except GitHub comment) that displays `[]()` while trying to edit link.
Slack, Skype, WhatsApp, Telegram, etc all handles link automatically even when edit message, and th

[2022-08-25 03:53] mananjadhav commented on #10530
Sure @luacmartins, give me a day I'll do the RCA.

[2022-08-25 04:28] Santhosh-Sellavel commented on #10517
@jasperhuangg

Refer the video in Issue description and the issue still exists refer your video too.

The space below composer should be available.

Before typing anything in the composer box, there is fixed space below the composer.

After typing multiple lines, space below is missing.

[2022-08-25 05:15] jasperhuangg commented on #10517
@Santhosh-Sellavel gotcha, sorry I misunderstood what the problem was.

Seems like this can be exported.

[2022-08-25 06:14] dhairyasenjaliya commented on #10555
This issue seems to be globally not only limited to payments

https://user-images.githubusercontent.com/47522946/186588804-471a72b9-f53f-44e2-9a25-81c5148b9e27.mp4

[2022-08-25 06:18] gadhiyamanan commented on #7962
Applied on upwork @kadiealexander

[2022-08-25 06:44] jasperhuangg commented on #10517
Can we see how it would look with the offline indicator? Turn your wifi off.

[2022-08-25 06:50] AndrewGable commented on #10550
Few thoughts:
1. Agree I cannot reproduce on web
2. It seems(??) like a client side only issue since the double message is only seen on iOS and not on web
3. I think you have to leave and re-enter the page for the double message to show

[2022-08-25 06:57] srikarparsi commented on #10550
I agree, I wasn't able to reproduce this on web either. In the second video though, it looks like the message is rendering twice in the app without the user leaving the page.

[2022-08-25 07:00] dhairyasenjaliya commented on #10539
looks like this issue is the similar issue or might be the same which is  logged here https://github.com/Expensify/App/issues/10441

[2022-08-25 07:11] srikarparsi commented on #10550
I'm un-assigning myself as I don't have much knowledge yet in ios/android and don't think I will be able to figure it out quick enough but will take a look back at the issue in the morning.

[2022-08-25 07:25] stitesExpensify commented on #10282
No update

[2022-08-25 07:27] stitesExpensify commented on #9470
no update

[2022-08-25 07:38] sketchydroide commented on #10547
I cannot replicate this one, and there was another similar to this one that could not be replicated

[2022-08-25 07:43] sketchydroide commented on #10547
Seems like @luacmartins can't replicate either I'm leaning on not a blocker

[2022-08-25 07:47] Puneet-here commented on #10517
### Proposal

We just have to use `styles.chatItemComposeSecondaryRow` ( it was removed ) below
https://github.com/Expensify/App/blob/fe39ef8dbf1cf3b1faea811091e32dda9ba62b49/src/pages/home/report/ReportActionCompose.js#L680

[2022-08-25 07:51] roryabraham commented on #10273
not prioritized yet

[2022-08-25 07:54] sketchydroide commented on #10552
I can't replicate this as well, in fact the green button is not even enabled while in offline mode

[2022-08-25 07:56] roryabraham commented on #10273
cc @szymon20000

[2022-08-25 07:56] danieldoglas commented on #10511
I think this was updated with [this PR](https://github.com/Expensify/App/pull/10439)

[2022-08-25 07:57] MonilBhavsar commented on #9391
I think it's not working as expected. The weird behaviour here is the the chat is seen in chat screen but not in LHN. 0:49 for example

[2022-08-25 07:59] roryabraham commented on #10552
Not able to reproduce this on desktop

[2022-08-25 08:00] sketchydroide commented on #10552
Removing the blocker, @kbecciv can you please test again on the latest version

[2022-08-25 08:06] mollfpr commented on #9391
I thought we only not display it in LHN. Do you mean, after navigated away from new chat the user can’t comeback to that chat if empty? @MonilBhavsar @mananjadhav

[2022-08-25 08:07] wildan-m commented on #10163
### Proposal

1. Add Two new endpoints in `src/CONFIG.js `
[code]

2. Modify toggle logic

[code]

3. Move `STAGING_SECURE_URL` to /src/CONFIG.js

[code]
4. Modify example

[code]

5. Name and caption refactor

[code]

[2022-08-25 08:09] neil-marcellini commented on #10552
I was able to reproduce on desktop staging v1.1.89-2

**Offline**
![image](https://user-images.githubusercontent.com/26260477/186610561-406df9bd-4039-4ff5-8d0d-ed51f9078e54.png)

**Back online**
![image](https://user-images.githubusercontent.com/26260477/186610628-36dc4f35-8aca-48dc-8971-1046eb459e9b.png)

[2022-08-25 08:14] mzohaibqc commented on #10289
Hi @rushatgabhane,

Here is proposed solution

I reviewed your test.yml file which runs unit tests and it is simple and runs all test on one instance of github ci container. GitHub actions has feature called Build Matrix which allows you to distribute your tasks on multiple instances in parallel/series to run those tasks independently or based on other tasks. Let's say, you have 100 unit tests whi

[2022-08-25 08:16] Beamanator commented on #10506
This looks like almost an exact duplicate of https://github.com/Expensify/App/issues/10507 - I think we can close this since #10507 has more details

[2022-08-25 08:16] Beamanator commented on #10508
This looks like almost an exact duplicate of https://github.com/Expensify/App/issues/10507

[2022-08-25 08:17] Beamanator commented on #10508
Ok maybe not "exact" but very very similar, I think we should consolidate

[2022-08-25 08:20] Beamanator commented on #10507
Looks like a good external issue

[2022-08-25 08:33] mountiny commented on #10552
I think this command is not using a new API yet:

https://github.com/Expensify/App/blob/e7503a0d1ec15d23661b534634524b4b809fd977/src/libs/actions/Policy.js#L322-L370

[2022-08-25 08:53] #10527 closed

[2022-08-25 09:01] OSBotify commented on #10498
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10545) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.89-3` :rocket:

[2022-08-25 09:27] Christinadobrzyn commented on #10493
Added a design label to this GH for design input!

[2022-08-25 09:30] liyamahendra commented on #9579
@mananjadhav @luacmartins I was preparing the proposal. Seems like there are three major nodes based on conditions:
1. [ScrollView](https://github.com/Expensify/App/blob/f39e1f215d753bfe54a964a0b4b1fd29a065d8ed/src/pages/ReimbursementAccount/BankAccountStep.js#L210)
2. [FormScrollView](https://github.com/Expensify/App/blob/f39e1f215d753bfe54a964a0b4b1fd29a065d8ed/src/pages/ReimbursementAccount/Ban

[2022-08-25 09:39] zereraz commented on #10287
I've applied on Upwork. I can provide the PR within 2 days.

[2022-08-25 09:48] Gonals commented on #10551
Setting as external!

[2022-08-25 09:48] Gonals commented on #10187
Not overdue! (And maybe already gone!)

[2022-08-25 09:49] pecanoro commented on #5536
Ok, I think I will have to return this to the pool since I have way too many things that are more important to take care, I can revisit this once my plate looks better.

[2022-08-25 10:03] mountiny commented on #10163
@Santhosh-Sellavel Thought on the updated proposal from @mdneyazahmad and new proposal from @wildan-m?

[2022-08-25 10:06] trjExpensify commented on #10507
@marcaaron hip check on this navigational issue. Should it go on hold pending the navigation 2.0 doc?

[2022-08-25 10:14] OSBotify commented on #10498
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.89-3 has been deployed to staging :tada:

[2022-08-25 10:42] OSBotify commented on #10539
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-25 10:50] songlang1994 commented on #8311
@parasharrajat The Context API is required but the Hooks API is not. We can use a class component to achieve the same purpose. Verified on mWeb and Android.

[code]

[2022-08-25 10:58] flodnv commented on #10518
@Santhosh-Sellavel what do you mean by environment? cc @AndrewGable

[2022-08-25 10:58] mountiny commented on #10553
cc @aldo-expensify This is a consequence of this PR https://github.com/Expensify/Web-Expensify/pull/34547

I see this is confusing here, I think we would not want to create a new workspace when there already is one, but also this might be fine for now, I will ask in product!

[2022-08-25 11:18] tgolen commented on #8292
@parasharrajat how are you feeling about the proposals?

[2022-08-25 11:19] tgolen commented on #6301
I'm going to change the label so this doesn't keep going overdue.

[2022-08-25 11:25] kadiealexander commented on #7962
Thanks @gadhiyamanan! Payment will be made after the PR is deployed to production and the regression period is finished.

[2022-08-25 11:26] danieldoglas commented on #10511
@mallenexpensify in this case we just need to pay the contributor for reporting. It was solved recently with our update for NPM

[2022-08-25 11:36] AndrewGable commented on #10550
OK we've decided to unblock this and move on. It requires a large-ish fix that is "moving backwards" in terms of where we want to go in terms of optimistic report action IDs/sequenceNumbers, so we are going to live with the bug for a little bit, then make sure it's fixed once we have removed sequenceNumbers.

[2022-08-25 11:36] gadhiyamanan commented on #7962
ok. i think PR is deployed to production and right now regression period is going on, correct me if I am wrong.

cc: @roryabraham @kadiealexander

[2022-08-25 11:39] Julesssss commented on #10539
This occurred for me the very first time I opened a new chat, but it's inconsistent.

[2022-08-25 11:42] marcaaron commented on #10507
Yes I'm going to put this on HOLD. I am pretty sure why this is happening and the fix for it won't be straightforward.

[2022-08-25 11:43] marcaaron commented on #10506
Putting this one on HOLD.

[2022-08-25 11:46] marcaaron commented on #10506
Let's leave it open for now we won't be accepting any proposals just yet. Agree it seems similar to the other issue, but it's good to have the different test cases.

[2022-08-25 11:46] trjExpensify commented on #10507
Sounds good!

[2022-08-25 11:46] kadiealexander commented on #7962
@gadhiyamanan, could you please link me to the PR? There are quite a few in the hundreds of messages in this issue so I'd like to make sure it's the right one.

[2022-08-25 11:50] gadhiyamanan commented on #7962
PR https://github.com/Expensify/App/pull/9841

cc: @roryabraham @kadiealexander

[2022-08-25 11:56] kadiealexander commented on #7962
Thank you! The PR is not yet deployed to staging or production because QA is still happening as per this comment:

![image](https://user-images.githubusercontent.com/59587260/186657890-b52f0ea3-afbd-4801-87cf-95b36bfd8dda.png)

[2022-08-25 12:13] gadhiyamanan commented on #7962
@kadiealexander  the [PR](https://github.com/Expensify/App/pull/9841) is mentioned in [Deploy Checklist](https://github.com/Expensify/App/issues/10253)

[2022-08-25 12:43] trjExpensify commented on #7862
Awesome yeah, thanks!

[2022-08-25 12:43] cead22 commented on #10544
Can we close this one then @parasharrajat since it's kind of a duplicate of https://github.com/Expensify/App/issues/8595?

[2022-08-25 12:59] gadhiyamanan commented on #7962
@kadiealexander I think PR deployed as per [list](https://github.com/Expensify/App/issues/10253#issue-1329140330)

[2022-08-25 13:07] laurenreidexpensify commented on #10551
https://www.upwork.com/jobs/~0140b90c6c44a36984

[2022-08-25 13:09] michaelhaxhiu commented on #9061
@parasharrajat did you have luck re-testing? Or, want me to re-test instead? I can do it tomorrow when I'm back online for portion of the day

[2022-08-25 13:11] michaelhaxhiu commented on #10263
Doubling again.

[2022-08-25 13:14] michaelhaxhiu commented on #9823
Hey @parasharrajat any update on this one? Should we double price?

Also @mvtglobally why can't you reproduce it and others claim they can?

[2022-08-25 13:15] kadiealexander commented on #9620
Job post expired so I've created a new one:

https://www.upwork.com/jobs/~015e9429d8955b230c
https://www.upwork.com/ab/applicants/1562790642649567232/job-details

[2022-08-25 13:18] laurenreidexpensify commented on #10516
https://www.upwork.com/jobs/~0197256b0c15c2cdc4

[2022-08-25 13:29] bfitzexpensify commented on #10533
Upwork job [here](https://www.upwork.com/jobs/~0170469f5f55c4df02)

[2022-08-25 13:38] Tabakharniuk commented on #10258
Done ✅

[2022-08-25 13:40] bfitzexpensify commented on #4733
Doubled price to $4000

[2022-08-25 13:41] bfitzexpensify commented on #7317
How is this one looking @mananjadhav? Anything you need a hand with?

[2022-08-25 14:49] mvtglobally commented on #10498
Last CP https://github.com/Expensify/App/pull/10545#issuecomment-1227344248

[2022-08-25 14:49] JmillsExpensify commented on #10529
I'm not super sure how to triage these, even after looking at the SO. I'm going to triage to an engineer to help me out.

[2022-08-25 14:53] AndrewGable commented on #10469
No I do not believe we did

[2022-08-25 15:00] mollfpr commented on #8292
Thank you for your feedback @parasharrajat

Here's my updated proposal with more explanation.

### Updated Proposal

Current for auto focusing composer we depends on `this.shouldFocusInputOnScreenFocus` or `_.size(this.props.reportActions) === 1`.

`this.shouldFocusInputOnScreenFocus` will be true if the user device is a non-touchscreen device, if the device is a touchscreen device then the focus

[2022-08-25 15:09] AndrewGable commented on #10518
I believe it means Dev/Staging/Prod

[2022-08-25 15:40] stitesExpensify commented on #10529
CC @MariaHCD since you worked on this recently.

Looks like the crash happened here because either the bank account or the card account didn't have an ID https://github.com/Expensify/App/blob/792872eb977228f4080564e382bcd30c0f432985/src/pages/settings/Payments/PaymentsPage/BasePaymentsPage.js#L149-L156

[2022-08-25 15:42] kbecciv opened #10571 "Login - Wrong error message for Password field after trying to login with wrong 2FA code"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the test app
2. Enter the correct email for the account with 2FA enabled
3. Enter the correct password
4. Enter an inco

[2022-08-25 15:43] aldo-expensify commented on #10553
yes, lol, the opposite was reported in this GH issue at the time: https://github.com/Expensify/Expensify/issues/221105

[2022-08-25 15:43] trjExpensify commented on #10357
👋 doubled on Upwork! https://www.upwork.com/jobs/~019f7f04f94b126efd

[2022-08-25 15:47] trjExpensify commented on #9252
Not overdue, awaiting proposals.

[2022-08-25 15:58] aimane-chnaif commented on #10516
### **Proposal**

This issue happens when text inside `[]` doesn't match regex on this line:
https://github.com/Expensify/expensify-common/blob/e0ec0b9abca4d7b417ba0b016f8725856cfeeece/lib/ExpensiMark.js#L64

Current regex accepts only words and limited special characters (`!?&#;`) and doesn't accept `+@` which is normally used in email and also doesn't accept space (i.e. `[My Email](abc@gmail.com

[2022-08-25 16:00] aneequeahmad commented on #10522
@kavimuru oh i see this issue has been fixed and deployed on staging and prod. Am i eligible for reporting bonus ?

[2022-08-25 16:10] ntdiary commented on #9253
yeah, it would be a lot easier if we could monitor the transition. 🙂
There was just another solution before, which was more complicated.
I reviewed the code of `react-navigation`, maybe this way can do what we want (just a demo):
[code]

https://user-images.githubusercontent.com/8579651/186712974-b3fd853a-e9cd-4b54-ace6-a382c328551f.mp4

However, there are still some details that need our attentio

[2022-08-25 16:13] mvtglobally commented on #10498
@sketchydroide CP https://github.com/Expensify/App/pull/10567 looks good and Issue no longer repro

https://user-images.githubusercontent.com/43995119/186716410-aaf67878-2bea-45ed-8776-3a8199c339fc.mp4

https://user-images.githubusercontent.com/43995119/186716423-8f204647-e75f-4388-b824-6d033a2b5dc9.mp4

![Screenshot_20220825_120630_com expensify chat](https://user-images.githubusercontent.com/439

[2022-08-25 16:16] aimane-chnaif commented on #10516
Before fix:

https://user-images.githubusercontent.com/96077027/186716980-2b7e8c47-c5ea-4ef2-b5e1-fa6e337ac509.mov

After fix:

https://user-images.githubusercontent.com/96077027/186717032-21da66ba-3393-4b1d-96fd-e25bdfcfd567.mov

[2022-08-25 16:22] AndrewGable commented on #10522
@Expensify/contributor-management - Can someone pay @aneequeahmad for reporting the issue? Thanks

[2022-08-25 16:32] sketchydroide commented on #10498
:shipit:

[2022-08-25 16:35] sketchydroide commented on #10498
:shipit:

[2022-08-25 16:35] #10498 closed

[2022-08-25 16:35] OSBotify opened #10575 "Deploy Checklist: New Expensify 2022-08-25"
**Release Version:** `1.1.91-1`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/9551
- [x] https://github.com/Expensify/App/pull/10026
- [x] https://github.com/Expensify/App/pull/10377
- [x] https://github.com/Expensify/App/pull/10393
- [x] https://git

[2022-08-25 16:51] mananjadhav commented on #10513
@varshamb's proposal looks good to me here as it covers the slider as well as the image container4

With just one question @Luke9389 @trjExpensify , does it make sense to use `cursor: move` for the imageCropContainer?

🎀 👀 🎀 
C+ reviewed

[2022-08-25 16:52] OSBotify commented on #10498
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.89-4 has been deployed to staging :tada:

[2022-08-25 17:05] mallenexpensify commented on #10522
I'm on it.
https://www.upwork.com/jobs/~016dc48f3d2b89154f
@aneequeahmad , please apply here and confirm in a post on this issue once you have. Thx

[2022-08-25 17:06] mallenexpensify commented on #10522
Reopen so I don't forget to pay :)

[2022-08-25 17:08] bondydaa commented on #10547
I think since we're moving toward Brick Road error handling we are getting rid of growls, right?

cc @iwiznia

[2022-08-25 17:08] aneequeahmad commented on #10522
@mallenexpensify  I have applied, Thanks for mentioning.

[2022-08-25 17:09] bondydaa commented on #10547
once we figure out if this should be Brick Road or Growl we can probably make it external, will leave as daily until we get more insight.

[2022-08-25 17:23] MadPharaoh commented on #10357
### Proposal
https://github.com/Expensify/App/blob/ed4628a40e0196ee2fc9d0829acf615aafe3d321/src/libs/fileDownload/index.ios.js#L28 #
 }).fetch('GET', fileUrl).then((resp) => {
        RNFetchBlob.ios.openDocument(resp.data);
});
prompts user to save file on all apps

[2022-08-25 17:29] arosiclair commented on #10552
Yeah this is not supposed to work offline currently. However, the invite button should be blocked while offline to begin with. I was able to repro using **v1.1.91-0** and the offline indicator doesn't always appear when I disable Wi-Fi on my macbook:

![Screen Shot 2022-08-25 at 1 21 03 PM](https://user-images.githubusercontent.com/6833644/186731025-b63a2613-1909-4277-9b34-1f3ce969933e.png)

[2022-08-25 17:40] ctkochan22 commented on #10552
Looking at the PR in teh checklist, it could be the case on prod too?

[2022-08-25 17:46] Puneet-here commented on #10513
We should see grab cursor only when we are inside the circle (where we can actually grab) and grabbing when we grab the image. We does the same at attachment modal.

[2022-08-25 17:50] marcaaron commented on #10273
Thanks Rory, the solution part of this is really fascinating and it sounds like maybe there are some big performance gains hiding away in Reanimated 3.

I am having a little trouble with the "problem" section of this and think it needs refining. Or at a minimum break concerns into separate issues to tackle one at a time. I'm admittedly having trouble believing that we aren't just holding something

[2022-08-25 17:50] kavimuru opened #10579 "[HOLD for payment 2022-09-16] [$250] The file extension shows up twice in the file name reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open website/mWeb.
2. Go to chat > Send a jpeg/pdf attachment..
3. See the name of attachment in preview.

## Expected Result:

[2022-08-25 17:57] trjExpensify commented on #10513
Hm, actually.. I think `move` kinda' makes sense for the image container. Curious for @shawnborton opinion on that.

[2022-08-25 18:03] puneetlath commented on #10512
Upwork job for contributors: https://www.upwork.com/jobs/~01fcad0d2c7245323a
Internal upwork job: https://www.upwork.com/ab/applicants/1562863035800342528/job-details

[2022-08-25 18:03] puneetlath commented on #10512
Was this a regression that was introduced? It feels like it must be.

[2022-08-25 18:09] Aaqib925 commented on #10512
This issue is happening since the state is not attached with the onChangeText handler for the input, if we attach the proper handlers and state, the value will be saved in the state and text inputs will preserve their values.

[2022-08-25 18:17] dhairyasenjaliya commented on #10513
Also by simply adding cursor: 'grab' into `styles.imageCropContainer` will not work as expected In safari when we drag the image it changes the edit cursor somehow

Safari

https://user-images.githubusercontent.com/47522946/186738946-05ff1adc-76a6-46c5-92cf-9cad0d530373.mov

chrome

https://user-images.githubusercontent.com/47522946/186739422-cfe1b026-db1b-4ec9-b207-58465e2fc2cf.mov

[2022-08-25 18:19] sonialiap commented on #10508
I can reproduce this 👍

[2022-08-25 18:20] sonialiap commented on #10508
However I agree with @Beamanator that these issues would most likely get fixed by the same code change so I am closing this one out in preference of https://github.com/Expensify/App/issues/10507

[2022-08-25 18:20] #10508 closed

[2022-08-25 18:21] shawnborton commented on #10513
The move cursor makes sense to me for moving the image around. Then in terms of the range slider, I think the pointer makes sense - just taking a look at [bootstrap](https://getbootstrap.com/docs/5.0/forms/range/) for inspiration on that one.

[2022-08-25 18:28] shawnborton commented on #10410
But what about keeping it as contain just at the IsMedium width? Maybe that will just force the whole thing to be shown at that very particular width?

[2022-08-25 18:40] mehdi514 commented on #10512
The cause of the issue is the states are not being handled properly. TextField values aren't getting stored in the states and it throws an error on the button.

[2022-08-25 18:43] mananjadhav commented on #10513
@dhairyasenjaliya  @Puneet-here you might be right, but as I mentioned in the comment before and other feedback, inside the circle, I feel it is appropriate to use `move` rather than `pointer` or `grab`.

@varshamb Can you update your proposal to handle this please?

[2022-08-25 18:45] trjExpensify commented on #10513
Oh, I do like that animation on the range slider to provide feedback when it's selected @shawnborton.

[2022-08-25 18:46] AliYar-Khan commented on #10512
Looks like the state is not being properly handled on the change of the text fields. This is a simple bug I will look into the state how data is being pulled from text input and stored in state.

[2022-08-25 19:23] mallenexpensify commented on #9578
Thanks @Santhosh-Sellavel , totally spaced that

[2022-08-25 19:32] mallenexpensify commented on #10522
Hired @aneequeahmad , let me know when you've accepted and I'll pay.

[2022-08-25 19:32] aneequeahmad commented on #10522
@mallenexpensify I have accepted the offer.

[2022-08-25 19:46] puneetlath commented on #10406
I agree we should close in favor of https://github.com/Expensify/App/issues/10273.

[2022-08-25 19:46] #10406 closed

[2022-08-25 19:53] puneetlath commented on #9957
Closing this issue in favor of https://github.com/Expensify/Expensify/issues/223645. Posted your draft PR there @marcaaron!

[2022-08-25 19:53] #9957 closed

[2022-08-25 20:09] aimane-chnaif commented on #10512
### **Proposal**
The RCA of this GH is that `clear()` native method of input view doesn't clear text immediately. Cleared after `inputValue` is updated from empty value (`''`) to not empty value (i.e. `5`)
https://github.com/Expensify/App/blob/fb34189d6bdeafd7d88303a1fa5bed6de284ae49/src/components/TextInput/BaseTextInput.js#L69-L83

This is regression of [PR](https://github.com/Expensify/App/pull

[2022-08-25 21:03] mallenexpensify commented on #10522
Paid! Thanks again for the help @aneequeahmad

[2022-08-25 21:03] #10522 closed

[2022-08-25 21:19] mallenexpensify commented on #2727
Thanks for the detailed update @parasharrajat ! Gonna leave this a weekly, even though it might take a bit for RN to update, want to make sure to get folks paid timely (when the time comes...)