[2022-02-08 18:07] luacmartins commented on #7630
@sobitneupane can you reproduce this on dev? I only see this issue on production.

[2022-02-08 18:12] sobitneupane commented on #7630
I am not having the issue now. But before in incognito window I was stuck in login page. After I entered email and pressed continue. Continue sign was loading forever.
In non-incognito window, there was loading sign in the middle and nothing was happening.

[2022-02-08 18:14] luacmartins commented on #7630
That seems to be a different issue. My login pages work fine, but the app hangs when I'm already logged in and it refreshes.

[2022-02-08 18:22] luacmartins commented on #7538
Sure, you can go ahead with the `AddressSearch` refactor.

[2022-02-08 18:22] Beamanator commented on #7545
@michaelhaxhiu would you mind making an Upwork job for this when you get the chance? :D

[2022-02-08 18:28] michaelhaxhiu commented on #7545
Yep, done. Upwork job link - https://www.upwork.com/jobs/~019179b568a001d2fc

[2022-02-08 18:35] deetergp commented on #7084
Not reproducible after two weeks, so I am closing it.

[2022-02-08 18:35] #7084 closed

[2022-02-08 18:41] marcochavezf commented on #7079
When I'm testing the Google Sign-in I'm having the error `Error 403: restricted_client` on iOS because the OAuth consent screen is not set up in Google Cloud Platform:

<img width="332" alt="Screen Shot 2022-02-07 at 19 01 32" src="https://user-images.githubusercontent.com/6829422/153052438-7bf039a6-654e-4209-8ce0-53b32f1f46b0.png">

Rory (`ring3`) was trying to help with that but he doesn't have

[2022-02-08 18:45] marcochavezf commented on #7079
When I'm testing the Google Sign-in I'm having the error `Error 403: restricted_client` on iOS because the OAuth consent screen is not set up in Google Cloud Platform:

<img width="300" alt="Screen Shot 2022-02-07 at 19 01 32" src="https://user-images.githubusercontent.com/6829422/153052438-7bf039a6-654e-4209-8ce0-53b32f1f46b0.png">

Rory (`ring3`) was trying to help with that but he also doesn't

[2022-02-08 18:49] puneetlath commented on #7317
That proposal also seems good to me.

@stitesExpensify are we ok going forward with this or is this being handled as part of the broader accessibility project?

[2022-02-08 19:03] mananjadhav commented on #6883
Thanks, @luacmartins. I'll send in a proposal in a few hours.

[2022-02-08 19:08] osama256 commented on #7541
### Proposal

this bug appears on 4 pages :
1)Profile page (picker & Textinput)
2)Preferences page (Picker)
3)IOUConfirm page
4)Search Page

to fix this bug we change the following in styles.js file :

 ln 24 `fontSize: variables.fontSizeNormal,`
ln 618 `lineHeight: 11,`
ln 650 `fontSize: variables.fontSizeLabel,`
ln 680 `fontSize: variables.fontSizeLabel,`
ln 819 `fontSize: variables.fontSizeSmal

[2022-02-08 19:09] MitchExpensify opened #7636 "[HOLD for payment 2022-03-08] Center align the room name and workspace name in the room "Details" pane (reported by @mananjadhav)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a "New Room" via the floating "+" icon
2. Click the room header to access the Details right hand pane

## Expected Result:
The room name a

[2022-02-08 19:15] ahmdshrif commented on #7597
Hi @laurenreidexpensify  i apply to upwork .

[2022-02-08 19:16] thienlnam commented on #7307
I can confirm this, tested on my local device and it seems to be the case where all images are getting saved to the documents folder

I looked into that library and it looks fine to use in this scenario.  From our code it looks like we have the same issue for Android only downloading to the download folder that we can also resolve in this same issue.

Your proposal looks good @mananjadhav, I will

[2022-02-08 19:17] rushatgabhane commented on #7541
@osama256, thanks for your proposal. Please refer to my comment above https://github.com/Expensify/App/issues/7541#issuecomment-1032419188

[2022-02-08 19:27] stephanieelliott commented on #7481
PR is on staging!

[2022-02-08 19:31] tgolen commented on #7630
Thanks for the info! I think I have yet to determine that this change is 100% the root cause, but at least it's as far as I could trace the problem to for now. With it being reverted, I'm hoping it will point me toward the next place.

[2022-02-08 19:34] stephanieelliott commented on #7081
Increased the job to $500, @mananjadhav please grab the job on Upwork: https://www.upwork.com/jobs/~01a3b83272750b939a

[2022-02-08 19:34] rushatgabhane commented on #7545
@Beamanator Unassigning myself 🤒

cc: @parasharrajat if you wanna review this one, should be simple.

[2022-02-08 19:40] #7011 closed

[2022-02-08 20:06] mdneyazahmad commented on #7636
## Proposal

Add `styles.textAlignCenter` in `DisplayNames` component.

https://github.com/Expensify/App/blob/2fa554cf78f657c8e7f1d5e9e881af4f0e2211b2/src/pages/ReportDetailsPage.js#L143-L150

[code]

## Result
<img width="370" alt="Screenshot 2022-02-09 at 1 31 35 AM" src="https://user-images.githubusercontent.com/77761491/153066984-f809854b-8311-451a-aaee-23204c09d374.png">

[2022-02-08 20:10] thienlnam commented on #7307
I'll be assigning @parasharrajat on this job as a second set of eyes on the PR

[2022-02-08 20:11] stephanieelliott opened #7637 "Safari mweb: Update date picker by adding icon and allowing numeral entry"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. In Safari browser on mobile, go to `new.expensify.com`
2. Navigate to `Settings >Workspace >Connect bank account`
3. Proceed through VBA flow to

[2022-02-08 20:15] stephanieelliott commented on #7076
Created a new issue for this, added you as the triager @puneetlath. You mind taking a look see if this new issue is a bit more clear, given the discussion? Once it is good to go I'll apply the relevant labels https://github.com/Expensify/App/issues/7637

[2022-02-08 20:15] #7076 closed

[2022-02-08 20:16] parasharrajat commented on #7545
Taking over from @rushatgabhane.

On the Payment option main menu, we show the method details...
<img width="200"  src="https://user-images.githubusercontent.com/24370807/153067608-9415cee8-86a7-4280-a63a-c54311bc3331.png" />

Just wondering if `Delete Account` suffice the need here.

Apart from it. There are a lot of similarities between ConfirmPopover and CofirmModal such as the main content. Do

[2022-02-08 20:16] mdneyazahmad commented on #7591
@rushatgabhane You can reproduce it with these images. Image resolution have to be lower.

![Frame 1](https://user-images.githubusercontent.com/77761491/153068448-19954074-45cb-481e-9389-c1d5db28efda.jpg)
![Frame 1](https://user-images.githubusercontent.com/77761491/153068478-2f077913-23ff-46ee-85b6-4c1529343cd1.png)

[2022-02-08 20:20] jboniface commented on #7623
post [here](https://www.upwork.com/jobs/~01d5e8c11b1b1fc175)

[2022-02-08 20:33] rushatgabhane commented on #7623
🎀👀🎀 C+ reviewed

@Tushu17's proposal fixes the issue.

cc: @thienlnam

[2022-02-08 20:38] parasharrajat commented on #7623
This creates an interesting case here. Pressing enter run an action on the backgrounded Page.  This could be a problem in many places.

So with regard to the change that @Tushu17 has suggested. I think it would be great if `pressOnEnter` only acts when the page is action/focused. Thoughts @rushatgabhane ?

[2022-02-08 20:46] kadiealexander commented on #7626
Posted to Upwork! https://www.upwork.com/jobs/~012f263a77525f0ae0

[2022-02-08 21:07] rushatgabhane commented on #7623
@parasharrajat I had the same thinking but the background action isn't run for this issue.

https://user-images.githubusercontent.com/29673073/153073935-f7cfad56-9ab0-4862-8234-83b151866f0e.mp4

[2022-02-08 21:08] anthony-hull commented on #7057
@sakluger this one seems to be stuck?

[2022-02-08 21:09] rushatgabhane commented on #7623
pressOnEnter should only act when the page is active/focused

Thanks for bringing this up. I agree that we should fix this

https://user-images.githubusercontent.com/29673073/153075748-a9b47566-3c22-442c-9250-60dfa207cd6b.mp4

[2022-02-08 21:10] luacmartins commented on #7535
There's some info in the thread here https://expensify.slack.com/archives/C01GTK53T8Q/p1644243818897309. If we cannot fix the config, we can include this dev dependency.

[2022-02-08 21:22] isagoico opened #7638 "[HOLD] [$250] Login - 404 page and JS error displayed when trying to create a new phone account"
On HOLD because this may be fixed by this issue: https://github.com/Expensify/Expensify/issues/190038

If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to staging.expensify.com
2. Enter

[2022-02-08 21:25] stitesExpensify commented on #7317
Hmm @mvtglobally would arrow keys be the way that most visually/mobility impaired users try to access that menu (as opposed to something like tabbing through)? cc: @ogumen

[2022-02-08 21:37] tylerkaraszewski commented on #7598
Discussing in slack if this needs to work, or if we should just give some sort of "unsupported file" error.

[2022-02-08 21:42] puneetlath commented on #7618
Is this only happening on mobile web and no other platform?

[2022-02-08 21:44] thienlnam commented on #7623
Agreed, a fix should encapsulate the problem here which is that

[2022-02-08 22:08] jliexpensify commented on #7307
Invited!

[2022-02-08 22:09] deetergp commented on #6213
@trjExpensify Is that on production? In my local, if I set it `0.585` it comes back at `0.58` (Although it is actually `0.585` still, behind the scenes) which is a lot closer to being correct and a far cry from `58.50`.
![Screen Shot 2022-02-08 at 2 05 44 PM](https://user-images.githubusercontent.com/766197/153083841-28b5fa95-558a-4d51-9d8f-0a46aa9abe39.png)
![Screen Shot 2022-02-08 at 2 08 40 PM]

[2022-02-08 22:15] thesahindia commented on #7545
@parasharrajat, yeah I think we can pass a flag in confirmModal.js to choose the type of behaviour we need.

[2022-02-08 22:26] yuwenmemon commented on #7590
@kakajann looks good to me!

[2022-02-08 22:29] thienlnam commented on #7082
Discussing authentication related aspects in an internal thread -> https://github.com/Expensify/Expensify/issues/195606

[2022-02-08 23:10] ogumen commented on #7317
Up/down arrow keys (and the circular navigation) is the expected keyboard navigation pattern for the menu options. Pressing Tab key when the popover menu is expanded should collapse it and move focus to the next interactive element (visually it is the "Write something" text field). A good example of the popover menu implementation can be found here: https://www.w3.org/TR/wai-aria-practices/example

[2022-02-08 23:21] JmillsExpensify commented on #7270
Weird, yeah with two unsuccessful reproductions I'll proactively close now but please feel free to re-open if it crops up again.

[2022-02-08 23:23] JmillsExpensify commented on #7463
Active convos in the related PR. Check there for the latest.

[2022-02-08 23:26] JmillsExpensify commented on #7518
@mdneyazahmad When you have a second don't forget to apply for the job on Upwork. Thanks!

[2022-02-08 23:26] MitchExpensify commented on #7376
[Upwork](https://www.upwork.com/jobs/~01124d881a827614f5)

[2022-02-08 23:33] Luke9389 commented on #7306
Still haven't heard back from Nikka, so I think it's best to unblock this.

[2022-02-08 23:33] osama256 commented on #7541
### Proposal<hr/>
when font size increases and we need to keep it, we can increase the component's height to avoid text clipping, the clipping issue appear in the following :

1. Textinputs
2. DisplayNames Component
3. text under DisplayNames Component
4. Pickers
5. Participant Local Time

to fix the issue we can follow the following approach:

- remove these Components' Height from Styles.js file

[2022-02-08 23:46] Luke9389 commented on #7081
Thanks @stephanieelliott!

[2022-02-08 23:49] Luke9389 commented on #7464
Got it, thanks @mvtglobally.

@mananjadhav I still think we should give this convo another shot in slack. It seems like a feature that would need a mockup at the very least.

[2022-02-08 23:52] francoisl commented on #7624
I can reproduce too. The issue seems to be that the participants list is built with the function `getParticipantEmailsFromReport`,  which purposefully [ignores the current user](https://github.com/Expensify/App/blob/ddae43334629449e1cd4a9296fa18b234d7ccd94/src/libs/actions/Report.js#L126).

[2022-02-08 23:56] stitesExpensify commented on #7420
FYI @railway17 @rushatgabhane is OOO at the moment, i'm sure he'll respond when he's back

[2022-02-08 23:58] stitesExpensify commented on #7121
Any update @K4tsuki

[2022-02-08 23:59] mvtglobally commented on #7317
@stitesExpensify i would probably have to defer to @ogumen to confirm the best practices when it comes to accessibility issues

[2022-02-09 00:13] trjExpensify commented on #6213
Yep, Web on prod! Account if you want it: `tomrhysjones1+mileagetest@gmail.com`

Can you follow this through and create a mileage expense on a free plan policy once you've set the rate to `0.58` in the workspace settings. What result do you get? Pretty sure you're going to get this:

[2022-02-09 00:13] sig5 commented on #7536
@luacmartins Just a clarification, What is the expected behaviour of Datepicker on Android/iOS if `this.inputRef.focus()` is called?

[2022-02-09 00:47] rafecolton commented on #7079
Did my best to configure the consent screen but not sure if it's correct, and it says it may need 4-6 weeks for Google to verify before we can publish it.

[2022-02-09 01:05] LucioChavezFuentes commented on #7535
The issue is taking me longer than I expected so I don't think I can't finish until Friday. I hope I does not affect someone's agenda.

[2022-02-09 01:18] NikkiWines commented on #7487
Oh, i think this needs a CM attached to it actually.

[2022-02-09 01:31] roryabraham commented on #7608
Any update on QA here today?

[2022-02-09 01:35] mvtglobally opened #7640 "The transfer balance page doesn't default to the bank account I used the last time"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Transfer money from Account A to B
2. Navigate back to Transfer
3. Proceed with the same transfer method

## Expected Result:
Transfer Balance pa

[2022-02-09 01:45] SofiedeVreese commented on #7609
@danieldoglas do you think https://github.com/Expensify/App/pull/7453 would fix this?

cc @tgolen

[2022-02-09 01:50] danieldoglas commented on #7609
@SofiedeVreese i don't think they are related. From the code changes I saw there, we're talking about different issues.

[2022-02-09 01:51] SofiedeVreese commented on #7609
ok! Pushing to Upwork shortly!

[2022-02-09 01:53] SofiedeVreese commented on #7609
Exported to Upwork:

[2022-02-09 02:00] mvtglobally commented on #7608
We are done. Updating in few min

[2022-02-09 02:06] railway17 commented on #7609
Hi, @SofiedeVreese
I have a question about this ticket.
To display long email addresses clearly in one line, we need to adjust the font size.
Or, do you think we can display addresses by line break?

[2022-02-09 02:09] mvtglobally commented on #7608
@roryabraham  Regression is complete
https://github.com/Expensify/App/pull/7509  Failing due to https://github.com/Expensify/App/issues/7616. Since it was closed, checking it off
Do we need to validate anything specific on https://github.com/Expensify/App/pull/7631 ?

[2022-02-09 02:10] mvtglobally commented on #7608
Issues logged
https://github.com/Expensify/App/issues/7609
https://github.com/Expensify/App/issues/7617
https://github.com/Expensify/App/issues/7618
https://github.com/Expensify/App/issues/7619
https://github.com/Expensify/App/issues/7638

[2022-02-09 02:29] SofiedeVreese commented on #7609
@railway17 I'll need to defer to the assigned CME, @Luke9389 (cc @danieldoglas ) !

[2022-02-09 02:46] kevinksullivan commented on #7585
Hm interesting one. @mountiny I agree we could hide the custom picker, but should this view/width only show the chat, rather than chat + LHN simultaneously? It looks very messy when the native keyboard appears on top of both screens at once.

[2022-02-09 03:24] K4tsuki commented on #7121
I have tried, based on @parasharrajat suggestion it works.

Here is the change:
`onHoverIn`:
[code]
In `ReportScrollManager` add:
[code]

In `trackScroll` add `ReportScrollManager.setScrollIsRunning()`

Result:

https://user-images.githubusercontent.com/1313124/153115866-a96ee913-6889-4cf0-84a2-ad3a0ce0deb5.mp4

[2022-02-09 03:42] phivh commented on #7385
@deetergp @laurenreidexpensify The PR nearly merge. Im still not got hire on Upwork? Could you please check?

[2022-02-09 04:32] mvtglobally opened #7641 "Android - When opening app in landscape mode the logo (Bootsplash) first appears in landscape and then changes to portrait - reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app in landscape

## Expected Result:
Logo should appear landscape or portrait on launch. As app does not support landscape mode, It should

[2022-02-09 04:38] mvtglobally opened #7642 "[$1000] Desktop app is crashing"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. App has been opened for a while,
2. Background app,
3. Bring it up to foreground using cmd+space
4. Type New..

## Expected Result:
App to open

[2022-02-09 05:41] mvtglobally opened #7643 "Feature Request: Let's turn down the frequency on the notifications when an update to the app is available"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Install Expensify app
2. Open and keep in background
3. Allow notifications & wait for new build

## Expected Result:
User should see new build n

[2022-02-09 05:54] mvtglobally opened #7644 "[$1000] Copying code blocks from chat is broken"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. Copy any code block
3. paste in chat

## Expected Result:
User should be able to copy and paste code blocks

## Actual Re

[2022-02-09 05:58] mvtglobally opened #7645 "[HOLD for payment 2022-03-08] The “optional” in the “extension” field gets cut off on smaller phone screens"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. Navigate to Concierge chat > Click on Request a call
3. Check “extension” field

## Expected Result:
Background text should be visibl

[2022-02-09 06:06] mvtglobally opened #7646 "FEATURE REQUEST: Change [Comment deleted] display"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. Delete the last comment
3. Check LHN
4. Observe that [Comment deleted] shows in place of the deleted comment

## Expected

[2022-02-09 06:14] mvtglobally opened #7647 "Name is not cleared when making selection while creating a new group, and cursor lost"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to "=" > "New Group"
3. Type anyones name and add
4. Note search and cursor display

## Expected Result:
After you select so

[2022-02-09 06:17] mvtglobally opened #7648 "[$500] FEATURE REQUEST: Allow navigating the list in the new group dialog with arrow keys"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to "+" > "New Group"
3. Type anyones name and add
4. Use arrow keys to navigate

## Expected Result:
User should be able to

[2022-02-09 06:39] K4tsuki commented on #6718
##### proposal

on `shouldReorder` in `SidebarLinks.js`,

https://github.com/Expensify/App/blob/ddae43334629449e1cd4a9296fa18b234d7ccd94/src/pages/home/sidebar/SidebarLinks.js#L147-L153

Shouldn't we return `false` at the end? and the code above it could be removed.

[code]

[2022-02-09 06:56] mananjadhav commented on #7432
I want to apply for the proposal but if someone can help me with some context on the VBA flow then I can suggest an appropriate solution.

**Root Cause:**
https://github.com/Expensify/App/blob/ddae43334629449e1cd4a9296fa18b234d7ccd94/src/pages/workspace/WorkspacePageWithSections.js#L67-L71

The state `achState` from `Onyx.reimbursementAccount` is `OPEN` even after we delete the payment method from

[2022-02-09 07:04] rushatgabhane commented on #7536
@sig5 I believe it should just open the 📅

[2022-02-09 07:33] murataka commented on #7621
An other reason would be ;
It may be triggering other problems on new dot , which in fact does not exist , as it does not happen on development environment . Those are all what I estimate for now.

[2022-02-09 08:12] mananjadhav commented on #7609
**Proposal**

We can set `max-width` for the root `Text` in the following block:

https://github.com/Expensify/App/blob/ddae43334629449e1cd4a9296fa18b234d7ccd94/src/components/ReportWelcomeText.js#L72-L74

Here's what it looks like:

![image](https://user-images.githubusercontent.com/3069065/153152821-36259975-1511-489c-bca5-691a4f97da42.png)

[2022-02-09 08:18] UralovBerdibek commented on #7385
I do not know. I didn't get any news from Upwork.

[2022-02-09 10:20] laurenreidexpensify commented on #7474
@mdneyazahmad please apply to this job on upwork so we can hire you thanks

[2022-02-09 10:23] laurenreidexpensify commented on #7385
@phivh all sorted 👍🏽 hired in upwork

[2022-02-09 10:25] laurenreidexpensify commented on #6669
Any update @Beamanator ?

[2022-02-09 10:34] dylanexpensify commented on #7636
Posted!

Internal: https://www.upwork.com/ab/applicants/1491359835276300288/job-details
External: https://www.upwork.com/jobs/~01f4079097be1adf28

[2022-02-09 10:37] mananjadhav commented on #7636
@MitchExpensify I had reported this on slack a few days back, but it wasn't acknowledged. Is it eligible for reporting bonus?

[2022-02-09 10:42] dylanexpensify commented on #7263
not overdue

[2022-02-09 10:43] dylanexpensify commented on #6060
hold

[2022-02-09 10:45] Julesssss commented on #7376
@parasharrajat I would say so. @MitchExpensify can we pay out for the report and then close out this issue please

[2022-02-09 10:51] dylanexpensify commented on #6807
not overdue

[2022-02-09 12:04] mdneyazahmad commented on #7474
@laurenreidexpensify applied

[2022-02-09 12:06] mdneyazahmad commented on #7518
@JmillsExpensify applied

[2022-02-09 12:24] rushatgabhane commented on #7537
@sig5 @parasharrajat Before starting on this one, we need to first merge a PR for [Refactor Picker](https://github.com/Expensify/App/issues/7535) right?

[2022-02-09 12:29] sig5 commented on #7537
Yes  Statepicker uses Picker Component under the hood, so having those changes done first would be ideal.

[2022-02-09 12:39] luacmartins commented on #7536
@sig5 are you referring to the `fix the errors` link? If so, the expected behavior is to just scroll the input into view. In this case, I think it's fine if we don't open the calendar immediately.

[2022-02-09 12:43] flodnv commented on #7621
Ok thanks for the details @murataka ! Feel free to take the job :)

[2022-02-09 12:47] sig5 commented on #7536
Yes, I was referring exactly that. Thanks for the clarification 😄!

[2022-02-09 12:49] mountiny commented on #7585
@kevinksullivan I am not sure what you are referring to right now.

Do you mean that on tablet landspace, we should show chat over the entire screen?
![image](https://user-images.githubusercontent.com/36083550/153202448-c064b9c7-3e8e-4c26-b309-df54eb1e2cd5.png)

I would say it definitely looks odd on the 11inch iPad to show the emoji picker over the entire width. Especially if now we are not provi

[2022-02-09 12:49] rushatgabhane commented on #7494
@sobitneupane You can submit a PR if it's ready. Don't worry about the issue assignment, that'll happen eventually.

[2022-02-09 12:53] #7391 closed

[2022-02-09 12:56] rushatgabhane commented on #7591
@mdneyazahmad that's very helpful to repro the bug. Thanks!

[2022-02-09 12:56] thesahindia commented on #7624
### Proposal
[Here](https://github.com/Expensify/App/blob/33b768c3d7bea9f3e15778c2cda379f57aa39f01/src/libs/actions/Report.js#L124) We can use `isChatRoom()` and if it's a room we will not remove currentUserEmail. It will fix the problem.
[code]

[2022-02-09 13:00] mountiny commented on #7486
This is still waiting for the PR to be merged. Not Overdue.

[2022-02-09 13:01] mountiny commented on #6718
Looking into this!

[2022-02-09 13:02] mountiny commented on #6965
Still waiting for proposals here. Not very urgent.

[2022-02-09 13:05] PrashantMangukiya commented on #7012
@JmillsExpensify  Should I also apply on Upwork job for issue reporting bonus?

[2022-02-09 13:20] parasharrajat commented on #7537
Good eye @rushatgabhane. We are already waiting for some issue @sig5 is having.

[2022-02-09 13:25] sig5 commented on #7537
The issue is also encountered in Picker. The `Picker` PR should resolve the issue. We have the solution which is adding a `devDependency` as discussed in slack. In the worst case, we can apply that, Marc has approved it. I will update on the  `Picker` issue if I found a better solution :D.

[2022-02-09 13:26] parasharrajat commented on #7609
Unfortunately, this issue originated from https://github.com/Expensify/App/pull/7445. UI was not handled correctly https://github.com/Expensify/App/commit/15a86ce606fd2c46746ccccad4644502e5d8550d.

https://github.com/Expensify/App/pull/7445 is still under regression period so it should be handled by @sig5 without pay.

Deferring the decision to @Luke9389.

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-09 13:33] mountiny commented on #7334
Asked [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1644413403087919). Thank you for your patience 🙇

[2022-02-09 13:49] rushatgabhane commented on #7591
🎀️👀️🎀️ C+ reviewed

I recommend @ahmdshrif's [proposal](https://github.com/Expensify/App/issues/7591#issuecomment-1032270443).
It'll resize all images on mobile to fit the window width.

[2022-02-09 13:53] rushatgabhane commented on #7623
Okay, that works too.

@Tushu17 feel free to post an updated proposal which prevents pressOnEnter for backgrounded pages. Thanks!

[2022-02-09 14:22] trjExpensify commented on #7624
Job on upwork here: https://www.upwork.com/jobs/~0125be97d30995bc22

[2022-02-09 14:24] laurenreidexpensify commented on #7621
https://www.upwork.com/jobs/~01ff7298b10aec76c1

[2022-02-09 14:40] rushatgabhane commented on #7535
Friday is fine, thanks for letting us know!

[2022-02-09 14:45] pecanoro commented on #7619
@kavimuru bump!

[2022-02-09 14:51] mountiny commented on #6718
The core problem is to identify a way how to distinguish whether the current report deleted draft because of:
- message sent - should reorder
- message deleted - should not reorder

Because if we weill have a way to do it, we can then decide.

[2022-02-09 15:18] rushatgabhane commented on #7288
Waiting for @iwiznia's feedback on what sort of backend changes are we okay with

[2022-02-09 15:25] K4tsuki commented on #6718
How about keeping track of currently viewed report `maxSequenceNumber`. If it change, then shouldReorder return `true`.

[2022-02-09 15:29] mountiny commented on #6718
@K4tsuki That could work I guess. Would you propose full solution (with testing it actually works) or should I look into using it?

[2022-02-09 15:35] parasharrajat commented on #7626
I would like to fix this via  [proposal](https://github.com/Expensify/App/issues/7626#issuecomment-1032890538) @NikkiWines

[2022-02-09 15:37] K4tsuki commented on #6718
@mountiny I will try to test it and make the proposal.

[2022-02-09 15:39] parasharrajat commented on #7545
I think it is better to just reuse the Content instead of Switching between Popover and Modal via prop. `ConfirmModal` and `ConfirmPopover` have two different purposes. So better to keep them separate.

@thesahindia  If you don't have any questions. I am happy with the [proposal](https://github.com/Expensify/App/issues/7545#issuecomment-1029158583) assuming that you would refactor the components a

[2022-02-09 15:48] tgolen commented on #7630
Picking this back up today and making progress.

[2022-02-09 15:51] parasharrajat commented on #7382
PR is up, attaching screenshots and making it ready for review asap.

[2022-02-09 16:13] kbecciv commented on #7521
@mountiny Let me check with Applause team and I will update you.

[2022-02-09 16:28] #7630 closed

[2022-02-09 16:38] rushatgabhane commented on #7636
🎀️👀️🎀️ C+ reviewed

@tgolen seems like a simple fix. I like @mdneyazahmad's [proposal](https://github.com/Expensify/App/issues/7636#issuecomment-1033013508).

[2022-02-09 16:40] roryabraham commented on #7608
Nope, since that's a straight revert it should be No QA.

[2022-02-09 16:43] isagoico commented on #7521
@mountiny I was also able to reproduce this when trying to set the default payment to any other than the current option (with a different card already added)
![image](https://user-images.githubusercontent.com/44479856/153247803-66b9bcb4-66e7-479c-ab44-f95a872e252d.png)

[2022-02-09 16:44] roryabraham commented on #7608
Verified [in slack](https://expensify.slack.com/archives/C0322ERABJ9/p1644424936819389), running a prod deploy now.

[2022-02-09 16:44] roryabraham commented on #7608
:shipit:

[2022-02-09 16:44] #7608 closed

[2022-02-09 16:47] botify commented on #7544
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.37-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7568

If no regressions arise, payment will be issued on 2022-02-16. :confetti_ball:

[2022-02-09 16:47] botify commented on #7095
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.37-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7460

If no regressions arise, payment will be issued on 2022-02-16. :confetti_ball:

[2022-02-09 16:47] botify commented on #7481
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.37-2 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7559

If no regressions arise, payment will be issued on 2022-02-16. :confetti_ball:

[2022-02-09 16:48] OSBotify opened #7655 "Deploy Checklist: New Expensify 2022-02-09"
**Release Version:** `1.1.38-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/7229
  - [ ] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7366
  - [ ] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7390
  - [ ] QA

[2022-02-09 16:57] rushatgabhane commented on #7420
@railway17 woah, sorry for being so late to respond.

When login reopened account, this amount should be kept?

No, the amount shouldn't be kept because all expense data is deleted by expensify (as per the email received on deletion).

[2022-02-09 16:58] thesahindia commented on #7624
I believe we also need to show the current user in members page as we will be counting ourself as a member and it will be confusing if we show 1 written outside but doesn't show any user inside members page. Here's a vid :-

https://user-images.githubusercontent.com/83179295/153244087-b90abfb7-e7d9-49db-9d4e-3fb1925458a1.mov

[2022-02-09 17:04] mananjadhav commented on #7624
Makes sense @thesahindia

[2022-02-09 17:08] mvtglobally commented on #7619
@pecanoro checking details on this, will provide feedback in a bit

[2022-02-09 17:16] bfitzexpensify commented on #7588
Upwork [job](https://www.upwork.com/jobs/~018fe26a25835f697c) - @thesahindia, please apply here for reporting bonus.

[2022-02-09 17:18] LucioChavezFuentes commented on #7535
I encounter another issue, I can't get ref of `Picker`'s dom element, looks like `Picker` from`@react-native-picker/picker` ( which is used inside `RNPickerSelect` from `react-native-picker-select` ) does not forward ref to its root element in Web version. ( according to `@react-native-picker/picker` documentation it does support in Android, don't know about IOS, I still haven't tested on these pl

[2022-02-09 17:19] tylerkaraszewski commented on #7598
I didn't get a ton of engagement on this, but I think it's safe to fix this by implementing an error for unsupported file types. We can re-visit and re-add various filetypes later.

Gonna mark as external.

[2022-02-09 17:40] JmillsExpensify commented on #7012
Yes, please!

[2022-02-09 17:47] PrashantMangukiya commented on #7012
Applied on Upwork job. Thank you.

[2022-02-09 17:58] thesahindia commented on #7545
@parasharrajat, just for clarification, do we want to just add some changes to confirmPopover.js to make it consistent like confirmModal as I proposed in [this](https://github.com/Expensify/App/issues/7545#issuecomment-1029158583) or is there something else as well?

[2022-02-09 18:18] iwiznia commented on #7288
Sorry, was sick last week and I am just catching up.

No, ideally we would not ask for the password twice in a row

Why would we remove it?

Not sure I follow this. Can you expand?

I don't understand what you mean by this.

[2022-02-09 18:20] kavimuru commented on #7619
@pecanoro  Sorry for the delayed response.

As per this PR #7509, User A should be logged out from new.dot when User B is logged in as per the step 8. Its failing here user A is still logged in.
Thanks

[2022-02-09 18:22] OSBotify commented on #7655
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.38-1 :rocket:

[2022-02-09 18:22] sakluger commented on #7619
I'm also confused about the expected and actual behavior. Here are the steps I tried:

1. I created a new account in OldDot with testAccount1, then clicked Get Started on the Free Plan task, which opened up a new tab in NewDot with a new Workspace
2. I logged out in OldDot, which logged me out from both tabs (OldDot and NewDot)
3. I created another new account in OldDot with testAccount2, then aga

[2022-02-09 18:25] sakluger commented on #7619
@pecanoro can you reproduce the behavior where user A is still logged into NewDot after signing out of OldDot? If not, I recommend we close this issue until consistent reproduction steps can be found.

[2022-02-09 18:25] tgolen commented on #7261
Hi! OK, coming back here... The revert of this PR helped me to discover a big performance improvement that I was able to make in https://github.com/Expensify/App/pull/7649. As @luacmartins and I were debugging this, we found out that even with the new optimization fix, the code in this PR still results in a near-infinite loop happening that we were not able to track down. I suspect it has somethin

[2022-02-09 18:30] adeel0202 commented on #6890
cc: @mallenexpensify

[2022-02-09 18:31] mountiny commented on #7521
@isagoico Thank you! Can you please share what email account this happened to? This seems to be some problem in the backend.

[2022-02-09 18:32] mananjadhav commented on #7288
@iwiznia Hope you're doing well now.

If you can check the steps involved, in the comment https://github.com/Expensify/App/issues/7288#issuecomment-1017321552, just for **not storing the password** we're complicating the flow.

I was recommending if we could have the current `setPassword` API to take additional optional parameters so that the flow is clean and doesn't go polluting all the Session

[2022-02-09 18:35] parasharrajat commented on #7545
So If you observe closely then you will find that ConfirmPopover and ConfirmModal use the same content in the modal. So my suggestion is to move the content to a new component and use it in both of these.

and Fix the design as per your proposal.

[2022-02-09 18:36] iwiznia commented on #7288
Which parameters exactly?

[2022-02-09 18:36] kavimuru commented on #7619
@sakluger  It works fine in desktop web, but not in mWeb. I have retested and seeing this behavior. Is this expected behavior?

https://user-images.githubusercontent.com/43996225/153267285-4214df71-0dcf-4d94-aa5b-5a926501e82b.MP4

[2022-02-09 18:39] sakluger commented on #7057
Hi @anthony-hull, thanks for your proposal, and apologies for the long delay. When I tested this, it appears that the validation error is shown above the Sign in button now, and so it is visible even when the keyboard is showing. I can't take a screenshot with the keyboard showing, but you can see in the screenshot below that the error shows above the Sign in button.

![image](https://user-images.

[2022-02-09 18:40] thesahindia commented on #7545
@parasharrajat, gotcha

[2022-02-09 18:41] mananjadhav commented on #7288
Data from the Welcome step, `firstName`, `lastName`, `secondaryLogin`, and `avatar`. We can also only send `secondaryLogin`, and the rest be handled by the `PersonalDetails` API.

[2022-02-09 18:49] iwiznia commented on #7288
That sounds a bit weird, first because is weird that the set password API command takes and sets a secondary login, but also because you would have to delay the call to it till after the 2nd screen is submitted, right?

[2022-02-09 18:54] mananjadhav commented on #7288
Agreed. Suggesting because I traced the old PR too and the number of changes required just for SecondaryLogin is too much I feel.

[2022-02-09 19:03] LucioChavezFuentes commented on #7535
When I tried to pass ref on `ref` prop inside `RNPickerSelect`, I got `RNPickerSelect` class instance, not the input nor select element.

Inside `BasePicker.js`
![image](https://user-images.githubusercontent.com/48106652/153270994-242cbf22-8bef-4f09-b6b0-d6ffe8a5f8e3.png)
![image](https://user-images.githubusercontent.com/48106652/153270654-26f90965-ec6a-4243-8534-76373502641b.png)

Therefore...
!

[2022-02-09 19:11] mvtglobally opened #7659 "Infinite Spinner displayed after Log out and log back in"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Updated staging to Version 1.1.38-1.
2. Sign out > quit app > reopen.
3. Enter username and try to login again

## Expected Result:
user should b

[2022-02-09 19:12] OSBotify commented on #7659
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-02-09 19:27] ryan-creator commented on #7636
### Proposal

Update the `textSyles` attribute array to contain `styles.textAlignCenter` within the `DisplayName` component.

https://github.com/Expensify/App/blob/0b58649585f5a44682e9e5904b8c53ac8b496745/src/pages/ReportDetailsPage.js#L142-L151

[code]

![image](https://user-images.githubusercontent.com/61776161/153275400-cd61050d-3d13-4d67-8520-e152087495f1.png)

[2022-02-09 19:27] mvtglobally commented on #7655
@roryabraham This is a Major blocker preventing us from testing. https://github.com/Expensify/App/issues/7659 It would be great if team can look at it with priority

[2022-02-09 20:00] isagoico commented on #7521
Applausetester+igadmin@applause.expensifail.com

[2022-02-09 20:32] GabiHExpensify commented on #7629
I'd love to help out with this - @shawnborton I remember some previous conversations about this, did we land on any shortlist?

I would think the process would be something like this...
1. Decide on some criteria for the type of sound we want (e.g. not disruptive, distinctive, subtle, etc)
2. Compile sounds from other messaging apps to make sure ours is distinct (iMessage, WhatsApp, Slack, anythin

[2022-02-09 20:37] stephanieelliott commented on #7637
Job is on Upwork: https://www.upwork.com/jobs/~013b9fad465b315995

[2022-02-09 20:55] LucioChavezFuentes commented on #7535
Guys another question, just to be sure. We are trying to get Picker's method `focus( )` so we can open its dropdown list when user click on 'fix the erros' right?

[2022-02-09 21:00] thesahindia commented on #7645
### Proposal
I think we can fix this by making the label text shorter ex:- `Ext (optional)` or `Extension` for small screen device (Otherwise we will have to increase the height)

[2022-02-09 21:19] stephanieelliott commented on #7181
Paid up!

[2022-02-09 21:19] #7181 closed

[2022-02-09 21:35] sig5 commented on #7288
Proposal:
I have modified my proposal to incorporate some backend changes.

Frontend Changes:

1. We store an additional key `isNewUser` for a user that demonstrates if a user is a New User or he has been registered before and is just resetting the password.
2. The `UpdateDetails` element is a hidden element in the Form itself.
3. If `isNewUser `  is false, the API flow is unaffected and `setOrCha

[2022-02-09 21:37] rushatgabhane commented on #7624
🎀️👀️🎀️ C+ reviewed

@puneetlath  I like @thesahindia's [proposal](https://github.com/Expensify/App/issues/7624#issuecomment-1033732745).

[2022-02-09 21:40] rushatgabhane commented on #7535
@LucioChavezFuentes No, focusing the Picker on errors shouldn't be the expected behaviour.

[2022-02-09 21:49] luacmartins commented on #7535
@LucioChavezFuentes once we click `fix the errors` the Picker should be scrolled into view (no animation). I don't think it's necessary for the dropdown to open.

[2022-02-09 21:54] rushatgabhane commented on #7535
@luacmartins shouldn't that be implemented in the form?

[2022-02-09 21:58] rushatgabhane commented on #7541
@osama256 the video that you've attached doesn't have large fonts. Is it possible you've attached the wrong video?

[2022-02-09 21:59] luacmartins commented on #7535
Yes, it is! But it requires that the ref expose a `focus()` method.

[2022-02-09 22:04] roryabraham commented on #7655
Hi @mvtglobally I have been working on fixing the blocker, but I would expect that it's only affecting desktop. Is that correct?

[2022-02-09 22:05] roryabraham commented on #7659
Working on this. I believe it only affects desktop, not other platforms.

[2022-02-09 22:12] mvtglobally commented on #7655
@roryabraham asking team to cross check all platforms. I was stuck on Desktop and iOS. Web is extremely slow, but we were able to log in

[2022-02-09 22:20] rushatgabhane commented on #7535
@luacmartins Hmm, I could be wrong about this, just `textInputRef.focus()` shouldn't scroll to the input.
https://stackoverflow.com/questions/57933647/how-to-scroll-into-view-in-react-native

Is scroll to errored input for works in the future?

[2022-02-09 22:35] isagoico opened #7664 "Conversation/User details page - Blank header and Empty User details page displayed on accounts with a big amount of activity"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with applausetester+0901abb@applause.expensifail.com / Feya86Katya
2. Navigate to Concierge conversation
3. Click on the header to open th

[2022-02-09 22:40] isagoico commented on #7664
Might be related to this bug https://github.com/Expensify/App/issues/7579. A lot of crazy behaviors have been reported and they seem to be affecting accounts with a lot of conversations and history only.

I was unable to reproduce this on any of my test accounts (they don't have the same activity and conversations as the one mentioned in the OC)

[2022-02-09 22:45] roryabraham commented on #7659
Got a PR up to fix this

[2022-02-09 22:56] isagoico opened #7666 "[HOLD for payment 2022-03-02] Conversation - A single message was sent 100s of times"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send a message in a conversation

## Expected Result:
A single message should be seen in the conversation history.

## Actual Result:
100s of rep

[2022-02-09 23:00] jliexpensify commented on #7437
Looks good, no regressions:

- $250 to @kidroca
- $250 to @thesahindia

Paying now

[2022-02-09 23:35] murataka commented on #7621
**Proposal**

I further examined that :

At serverside ,

There is a catchall responder for not existing files , this handler still creates a 404 header , however responds with  the right response data.
<img width="1429" alt="Screen Shot 2022-02-10 at 02 05 59" src="https://user-images.githubusercontent.com/5358438/153305567-082d6102-5d43-411d-adfe-f390454c686d.png">

So after uploading the favico

[2022-02-09 23:45] SofiedeVreese commented on #7598
Ok posted on Upwork: https://www.upwork.com/jobs/~01334feaf7a345d59c

Adding exported label.

[2022-02-09 23:48] mallenexpensify commented on #7659
Thanks @roryabraham , I have **not** be able to reproduce on web.  Let me know if you need any help testing.

[2022-02-10 00:02] mallenexpensify commented on #7664
I had this happen to me yesterday, at least the header part.  How to reproduce... no clue.
I think @thesahindia is eligible for the reporting bonus since they reported it first [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1642707696241100), even though @thesahindia nor QA was able to reproduce.   The one caveat being... at @isagoico mentioned above, this could be related to another iss

[2022-02-10 00:02] mvtglobally commented on #7655
@roryabraham we confirmed, it's only affecting Desktop app. Should we hold the testing until the fix is up?

[2022-02-10 00:06] LucioChavezFuentes commented on #7535
Thank you for the answer, right now I am testing with newer versions of Picker and see if it could provide me the ref.

[2022-02-10 00:10] Luke9389 commented on #7609
Yeah, this does look like it was caused by removing the `w70` on that text element.
It's part of our process to follow up on regressions in this way, so I think it's correct to have @sig5 make the PR here.

Are you willing to do that @sig5?

Thanks for tracing this @parasharrajat 🙇

[2022-02-10 00:43] conorpendergrast commented on #7666
This hit me too, and it was so weird

[2022-02-10 00:44] VictoriaExpensify commented on #7666
The same issue happened with @conorpendergrast this morning:

![image](https://user-images.githubusercontent.com/54568958/153315027-727bd55b-7b51-405d-9ac6-ba09b4ef7743.png)
It appears that every time he tries to send me a new response, it resends that same message another couple of hundred times:
![image](https://user-images.githubusercontent.com/54568958/153315045-4b22d38b-bc45-49c2-b2c8-6ad7370

[2022-02-10 01:04] deetergp commented on #6213
Ahh, you're 100% correct @trjExpensify! I tested it locally and see the same results on the OldDot backend. I've addressed the issue [here](https://github.com/Expensify/App/pull/7639#issuecomment-1034374194) on the PR.

[2022-02-10 02:07] mallenexpensify commented on #7487
Posted the job https://www.upwork.com/jobs/~015c796555eb6441cd

[2022-02-10 02:13] railway17 commented on #7588
### Proposal

We can wrap the `(edited)` text by Tooltip like below in the ReportItemActionFragment.js

[code]
To convert to DateTime, we need to connect with `withCurrentDate` in OnyxProvider.

Additional required props variables will also be passed like `timestamp={props.action.timestamp}` in the ReportActionItemMessage.js and ReportActionItemSingle.js

[2022-02-10 02:14] mallenexpensify commented on #6890
Yes @adeel0202 you will be compensated $250, payment [details in CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#:~:text=Payment%20will%20be%20made%207%20days%20after%20code%20is%20deployed%20to%20production%20if%20there%20are%20no%20regressions.%20If%20a%20regression%20is%20discovered%2C%20payment%20will%20be%20issued%207%20days%20after%20all%20regressions%20are%20fixe

[2022-02-10 02:25] mallenexpensify commented on #7666
Here's logs when it happened to me
![Uploading image.png…]()

[2022-02-10 04:35] Christinadobrzyn commented on #7591
👍 Hired @ahmdshrif for the job and @rushatgabhane as Contributor+

[2022-02-10 04:36] roryabraham commented on #7655
Feel free to proceed with testing other platforms. I've got a [PR](https://github.com/Expensify/App/pull/7665) to fix the desktop issue, but it's pending reviews, so won't be deployed today.

[2022-02-10 04:39] JmillsExpensify commented on #7381
No regressions, so I'm going to go ahead and issue payments in Upwork and then close out this issue.

[2022-02-10 04:42] vijeeshin opened #7667 "Continue button is not accessible in samsung s20 default browser"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. While connecting to bank account from mobile native app
2. Page opened in Samsung default browser
3. Continue button is not easily accessible

##

[2022-02-10 04:44] JmillsExpensify commented on #7381
All contributors hired for this issue have been paid. Please let me know if you have any remaining questions or issues!

[2022-02-10 04:44] #7381 closed

[2022-02-10 04:48] JmillsExpensify commented on #7012
Payments process for PR contributor and contributor plus. Will pay out for reporting as soon as the offer is accepted. :)

[2022-02-10 04:51] JmillsExpensify commented on #7095
Awaiting payment per the regression period. Will circle back here on (my) Wednesday next week!

[2022-02-10 04:57] PrashantMangukiya commented on #7012
Offer accepted.

[2022-02-10 05:13] MitchExpensify opened #7668 "[HOLD for payment 2022-03-17] Remove the ability for non-workspace members to create a "New room" via global create "+" (Reported by @thesahindia)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
As an account that is not a member of any workspace:
1. Click the "+" global create icon
2. Click "New room"
3. Opens "New Room" right hand pane

##

[2022-02-10 05:21] MitchExpensify opened #7669 "[HOLD for payment 2022-03-17] Add informative text for visibility settings in the creation flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click "+"
2. Click "New Room"
3. See the "Visibility" field in the "New Room" right hand pane

## Expected Result:
See some descriptive text expl

[2022-02-10 05:31] MitchExpensify opened #7670 "Remove the Notification field sub header text from the Notification section of the room Settings pane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
As an account that is a member of a workspace:
1. Click "+"
2. Click "New room"
3. Add any room name, choose any workspace, choose any visibility se

[2022-02-10 05:31] mananjadhav commented on #7668
I had seen a similar issue created and closed earlier without any action. I had posted a proposal earlier too. Posting it again here.

**Proposed solution**

Not sure if the "New Room" is for all the workspace members or admin.

`...(Permissions.canUseDefaultRooms(this.props.betas) ? [` line needs to have additional condition based on:
1. If only Admin can create:  `...(Permissions.canUseDefaultRo

[2022-02-10 05:36] sig5 commented on #7609
Yes @Luke9389 , I will create a PR for the fix :D

[2022-02-10 05:36] MitchExpensify opened #7671 "[HOLD for payment 2022-03-17] Change the message that shows when trying to name a room using a name that already exists"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click "+"
2. Click "New room"
3. Type a name into the "Room name" field that is already used as a room name

## Expected Result:
See a message in

[2022-02-10 05:44] mateusbra commented on #7669
### PROPOSAL
We will have to change en.js and es.js from:
visibilityOptions: {
            restricted: 'Restricted',
            private: 'Private',
        },
to:
newRoomPage:{
 visibilityOptions: {
            restricted: 'Members of your workspace can find this room',
            private: 'Only members explicitly invited can find this room',
        },
}

[2022-02-10 05:54] mateusbra commented on #7670
### PROPOSAL
Remove this 3 lines and its en.js/es.js used files will solve this issue:
https://github.com/Expensify/App/blob/0b58649585f5a44682e9e5904b8c53ac8b496745/src/pages/ReportSettingsPage.js#L109-L111
Screenshot
![image](https://user-images.githubusercontent.com/56851391/153346577-e4aef32b-afb3-4af7-91e7-cb345361163b.png)

[2022-02-10 05:57] mateusbra commented on #7671
### PROPOSAL
We have to change within en.js/es.js the message to "A room on this workspace already uses this name"

[2022-02-10 06:10] parasharrajat commented on #7621
Ok, thanks for the investigation. So your investigation seems to lead to the same [conclusion](https://github.com/Expensify/App/issues/7621#issuecomment-1032884484).

I don't think this is an issue. If we want to change something that would be the response code set to 302.

We should close this issue. @marcochavezf

[2022-02-10 06:25] thesahindia commented on #7669
### Proposal
We can add description in en.js, es.js
[code]
and we can add a text component below picker to show the description for the option that is selected like we do in preferences.
https://github.com/Expensify/App/blob/0b58649585f5a44682e9e5904b8c53ac8b496745/src/pages/settings/PreferencesPage.js#L95-L97
Here's a vid of preferences page:-

https://user-images.githubusercontent.com/83179295/1

[2022-02-10 06:26] murataka commented on #7621
@parasharrajat , no, you should not set it to 302. the response code should be 200. 302 means redirect, but we are not doing a redirection. also we should not redirect due to how react handles routing.

[2022-02-10 06:35] adeel0202 commented on #6890
Thanks @mallenexpensify. I'm waiting to be compensated for reporting the issues since it is fixed in [PR 6587](https://github.com/Expensify/App/pull/6587) and deployed on production.

[2022-02-10 06:39] thesahindia commented on #7668
Is this issue eligible for the reporting bonus as It was reported earlier [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1639335644142000)
cc: @MitchExpensify @mallenexpensify

[2022-02-10 06:39] K4tsuki commented on #6718
New proposal:

I prefer to return `false` at the of `shouldOrder`, but some things need to be fixed, because returning false prevent reorder for actions like: user pin/unpin a report, new IOUstanding report coming, new message coming and user send a message. So I need new state:
[code]
And then need to modify `shouldReorder`, removing some parts of it and return false at the end. This could be be

[2022-02-10 06:43] sobitneupane commented on #7669
**Proposal**
I can't find any distinct difference between the Notification drop down in the room Settings pane and Visibility drop down. If we want something similar to preference page. Here is my proposal.

https://github.com/Expensify/App/blob/0b58649585f5a44682e9e5904b8c53ac8b496745/src/pages/workspace/WorkspaceNewRoomPage.js#L102-L104
[code]
https://github.com/Expensify/App/blob/0b58649585f5a4

[2022-02-10 06:44] murataka commented on #7621
Definitely not.

[2022-02-10 06:48] osama256 commented on #7541
@rushatgabhane you are right, I tested this solution on one emulator but it is not compatible with all emulators, I updated my Proposal to be compatible with most devices, I tested this solution on all devices in the attached image and it works fine, you can find all screenshots in the zip file.

Uploading fix
[fix text clipping.zip](https://github.com/Expensify/App/files/8038680/fix.text.clipping

[2022-02-10 06:58] murataka commented on #7621
I just tried to explain , this seems not to cause further problems for my chrome. The above reasons I counted still remains the same. This still can cause inconsistenties , that just differs from browser to browser, how they handle 404 responses.

For example, some browsers will redirect you to some search engine. Please keep calm @parasharrajat .

[2022-02-10 07:14] murataka commented on #4612
@marcaaron , I think you have an Idea about the above proposal, after reading https://github.com/Expensify/App/issues/6912#issuecomment-1005168037 . When you have time ,I think it would help much on navigation related issues if share what you think .  Thank you !

[2022-02-10 07:26] sobitneupane commented on #7671
**Reason:**
'#admins' and  '#announce' is considered as reserved_room_names `RESERVED_ROOM_NAMES: ['#admins', '#announce'],`

**Proposal:**
Removing following lines of code will solve the issue:

https://github.com/Expensify/App/blob/bdf3a7483ced85759d2a4bbc248b82dd62f36288/src/components/RoomNameInput.js#L120-L123

Now en.js has 'A room with this name already exists' as roomAlreadyExistsError, if

[2022-02-10 08:51] shawnborton commented on #7629
For 3, I don't think this would be a projected suited for Mick. I think I would consider him more of a music producer and not so much a sound effect producer, and this project seems more in line with having a sound effect than having a music track. Let me know if you agree! That being said, there are plenty of UX sound agencies out there. For example, something [like this](https://cmooresound.com/

[2022-02-10 08:55] wenge8n commented on #7307
@mananjadhav' proposal is the same with me and as he said the difference is that he will download the file to the camera roll directly. Of course this looks great but I did not choose this way because direct video download will not work in ios.

[2022-02-10 08:58] wenge8n commented on #7307
https://github.com/react-native-cameraroll/react-native-cameraroll

Please read the Readme carefully.

[2022-02-10 09:39] Julesssss commented on #7463
Merged, awaiting deployment to prod

[2022-02-10 09:57] Julesssss commented on #7378
Merged, awaiting deployment to prod

[2022-02-10 10:41] mountiny commented on #6718
@K4tsuki Thank you for such a thorough proposal. Overall it looks very nice, my only concern is yet another static function added, where we would go over all the reports and their actions, which for accounts with 100+ reports might be unnecessary load to do before each reshuffling.

Are you sure we cannot use the `maxSequenceNumber` or some other already existent and computed variable to determine

[2022-02-10 11:13] trjExpensify commented on #6213
Nice!

Top work 😂 👏

[2022-02-10 13:14] twisterdotcom commented on #7666
Happened when I next sent a message to @muttmuure and then my test account pecan@expensivepie.com
![File](https://user-images.githubusercontent.com/9133401/153413294-f623598e-3ffd-42ff-87dc-d0342f2e4a33.jpg)

Desktop, endless errors but no repeating message:
https://user-images.githubusercontent.com/9133401/153413258-3a65a126-9ba1-4683-824f-078227244ba4.mp4

Mobile vid:
_Still trying to get it off

[2022-02-10 13:39] luacmartins commented on #7535
@rushatgabhane hmm I remember testing it and having the input scroll into view on all devices. We are planning on using focus to simplify the implementation of scrolling into view.

[2022-02-10 13:44] tgolen commented on #7666
Here were the logs from when it happened to me yesterday.

[The recipient (544 total):](https://www.expensify.com/_devportal/tools/logSearch/#sort=asc&size=10000&query=blob%3A%22Handled%20reportComment%20event%20sent%20by%20Pusher%20~~%20reportID%3A%20'64705968'%22%20AND%20email%3A%22joelbettner%40expensify.com%22%20AND%20timestamp%3A%5B2022-02-09T15%3A30%20TO%202022-02-09T15%3A40%5D)
[code]

[The

[2022-02-10 13:47] kidroca commented on #7666
I think this is the result of CORS together with our request retry strategy

We have logic that retries requests when they don't receive a response from the server:
https://github.com/Expensify/App/blob/bdf3a7483ced85759d2a4bbc248b82dd62f36288/src/libs/Network.js#L231-L237

When we send a request the browser would make it, but would expect CORS related headers to be configured on the response, if

[2022-02-10 13:50] Beamanator commented on #7545
Nice ideas gents 👍 I agree with @parasharrajat , the proposal & refactor ideas sound perfect!

[2022-02-10 14:51] K4tsuki commented on #6718
@mountiny current source code also iterate through all report by using underscore.js functions.

in my proposal I am using basic iteration function `_.each` it is faster than current source code that depend on below check which is also iterate through  all reports by using undersore functions:

https://github.com/Expensify/App/blob/bdf3a7483ced85759d2a4bbc248b82dd62f36288/src/pages/home/sidebar/Si

[2022-02-10 15:07] JmillsExpensify commented on #7012
Thanks everyone. Closing the issue, though don't hesitate to reach out if I can help with any questions or comments.

[2022-02-10 15:07] #7012 closed

[2022-02-10 15:58] mateusbra commented on #7670
Thank you @JmillsExpensify @parasharrajat applied to job,once I'm hired on upwork I'll rise a PR.

[2022-02-10 16:01] rushatgabhane commented on #7432
Hmm, I'm still trying to understand the proposal, and any regressions that might arise if we go with Manan's proposal.

@pecanoro feel free to take this from me.

[2022-02-10 16:18] parasharrajat commented on #7121
Thanks for the updated proposal @K4tsuki. This is one of the ways to do it. But I was hoping to do it differently as follows:
1. In ReportActionItem, in `onHoverIn`.
2. We check `ReportScrollManager.isScrolling`.
3.  If No, we create a  debounce function call.
4. No when debounce function is called after 300 ms, It again checks if `ReportScrollManager.isScrolling`. If  `ReportScrollManager.isScrol

[2022-02-10 16:53] kevinksullivan commented on #7585
Yeah. In your screenshot I'm not sure why there is still so much space on the left. Could we see what it looks like to make chat take the whole screen, just like it does on mobile?

I agree with getting rid of the custom emoji picker. My other point is tangential to the issue here.

[2022-02-10 16:57] kbecciv commented on #7270
@JmillsExpensify The issue have been reproduced during Regression.

![IMG_AB45468872AC-1](https://user-images.githubusercontent.com/93399543/153457405-368a8d55-e2a7-40e1-8536-75f8dc7217a4.jpeg)

[2022-02-10 17:32] kavimuru opened #7675 "iOS - Keyboard opens up after tapping invite the member"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in with any account
2. Go to Setting
3. Tap on any Workspace you have in your account
4. Go to Manage Members
5. Tap Invit

[2022-02-10 17:38] kavimuru opened #7676 "Android - Workspace - Place holder text "Add personal message" size changes after selecting the user and scrolling"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in with any account
2. Go to Setting
3. Tap on any Workspace you have in your account
4. Go to Manage Members
5. Tap Invit

[2022-02-10 17:40] parasharrajat commented on #7676
This is actually label placement when you unfocus from the input and it has no content like other one-line inputs. So It is not a bug.

[2022-02-10 17:42] thesahindia commented on #7624
@puneetlath, in one on one chats we don't wanna show current user in chat header so we don't include current user.

[2022-02-10 17:56] kbecciv commented on #7326
@ctkochan22 @ctkochan22 We are adding Android app environment to this issue as well

https://user-images.githubusercontent.com/93399543/153467533-c356b85a-264b-4408-bee9-25f8a9859f7d.mp4

[2022-02-10 18:19] jboniface commented on #7324
still no takers, im doubling again and will post in a sec

[2022-02-10 18:21] kbecciv opened #7678 "[HOLD for payment 2022-03-24] mWeb- Unable to move to another line by clicking "return" button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log with any account
3. Navigate to Settings > Workspace > Manage members > Invite
4. Start typing in

[2022-02-10 18:23] NicMendonca commented on #7666
Job posting: https://www.upwork.com/jobs/~01fb06ef1c153b1cab

[2022-02-10 18:34] jboniface commented on #7075
job [here](https://www.upwork.com/jobs/~011a76adda15eb26c4)

[2022-02-10 18:40] parasharrajat commented on #7626
PR will be live shortly.

[2022-02-10 18:41] kbecciv opened #7679 "mWeb - Group chat - Search is not blocked when user reached max participants"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com and sign in
2. Tap the green plus button
3. Select New group option
4. Start the group creation flow and

[2022-02-10 18:46] parasharrajat commented on #7324
I think it is currently not possible. Unless the browser gives us a native way, we can't do this. Raising this on Slack...

[2022-02-10 18:48] kbecciv opened #7680 "Global Create Menu - Error message when creating New Workspace"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Create a new expensifail account and  Validate it
1. Launch the app and log in with a new account
2. Open Global Create Menu
3. Click

[2022-02-10 18:54] puneetlath commented on #7624
Ok got it. It makes more sense to me that the default behavior of `getParticipantEmailsFromReport` would be to return all participants on the report unfiltered. And then anyone that is using it can choose to remove the current user from the list if they want. Perhaps via a utility function that takes a list of emails and removes the current user's email from the list.

[2022-02-10 18:58] thesahindia commented on #7624
@puneetlath, will do the same. Should I update my proposal?

[2022-02-10 19:00] puneetlath commented on #7007
Review is ongoing.

[2022-02-10 19:01] rushatgabhane commented on #7496
@sobitneupane you've mentioned this bug where there's extra space on top and bottom of codeblocks for ios and android only. https://expensify.slack.com/archives/C01GTK53T8Q/p1644507497800049

[2022-02-10 19:02] puneetlath commented on #7624
Yes please.

[2022-02-10 19:14] stephanieelliott commented on #7265
PR is on staging!

[2022-02-10 19:20] parasharrajat commented on #6718
Thanks, @mountiny for taking care of it. I am currently on a tight schedule. I will try to review this asap.

[2022-02-10 19:21] stephanieelliott commented on #7462
2xd price to $500

[2022-02-10 19:22] nickmurray47 commented on #7643
Seems like a reasonable request! Going to put back into pool while I work on other items

[2022-02-10 19:25] puneetlath commented on #7618
Bump on that question ^ @kavimuru.

Also, the end of that video is really fast. It's hard for me to tell what is going on.

[2022-02-10 19:26] aldo-expensify commented on #7644
👋 @ihamzanizami , I suggest you read https://github.com/Expensify/App/blob/main/CONTRIBUTING.md to learn how contributors can participate and propose solutions.

[2022-02-10 19:56] puneetlath commented on #7317
Ok cool. In that case @mananjadhav's proposal sounds good to me too.

[2022-02-10 19:56] LucioChavezFuentes commented on #7535
About scrolling on `focus( )` I think it depends on tags or components you are trying to focus. On Web, `Picker` renders a `<select>` and I confirm executing `focus ( )` on it does make a scroll. Meanwhile I tried to focus on a `<div>` and it doesn't make scroll.

[2022-02-10 19:56] aldo-expensify commented on #7644
I understand that the problem are the line breaks. When I copy code blocks, I always have to fix line breaks manually.

[2022-02-10 19:58] iwiznia commented on #7644
Oh, I see. FWIW it works properly if you CMD+SHIFT+V (paste without format)

[2022-02-10 20:14] thesahindia commented on #7624
### Updated Proposal
We can make a function like below and we can use it for getting participants emails excluding current user email.
[code]
I thought about using a flag in `getParticipantEmailsFromReport` but for getting participants we don't call it directly we use it in [getSimplifiedReportObject](https://github.com/Expensify/App/blob/6ac9fc098d46a16cfb3318cd652302a34a7fa2a6/src/libs/actions/R

[2022-02-10 20:34] kidroca commented on #5987
It might have caused a regression discussed here: https://expensify.slack.com/archives/C01GTK53T8Q/p1644465847015179?thread_ts=1644440925.115879&cid=C01GTK53T8Q

- https://github.com/Expensify/App/issues/7666

We're updating the code with logs and they should be able to tell the full story
- https://github.com/Expensify/App/pull/7673

[2022-02-10 20:35] kidroca commented on #7666
@NicMendonca
Just so you know this **might** be a regression from
- https://github.com/Expensify/App/issues/5987

And there's already an open PR here:
- https://github.com/Expensify/App/pull/7673

[2022-02-10 21:03] bondydaa commented on #7675
waiting for others to chime in on the thead, i'm going to move this to a weekly for now while we wait for a consensus. I'm offline the next day anyways so i'll check back in next week and get this prioritized.

[2022-02-10 21:16] mvtglobally commented on #7659
Reopening
![Screen Shot 2022-02-10 at 4 07 21 PM](https://user-images.githubusercontent.com/43995119/153497692-92b23a89-7d19-40f0-9465-c7262a632bd1.png)

[2022-02-10 21:23] kbecciv opened #7686 "[HOLD for payment 2022-03-02] Workspace- Track distance part of the section is not translated into Spanish"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in with Spanish account
2. Navigate to Settings > Workspace >Reimburse expenses

## Expected Result:
Track distance part o

[2022-02-10 21:24] MitchExpensify commented on #7645
[Upwork Job](https://www.upwork.com/jobs/~01aaf378710a7d8308)

[2022-02-10 21:26] danieldoglas commented on #7641
This one is interesting. Seems like we are using it the orientation fixed on portrait in the code.

Will export it.

[2022-02-10 21:32] mananjadhav commented on #7645
**Proposal**:

1. We can either get the phone number and extension fields on one field per line.

2. We move ‘(optional)’ from the label to a subtext below the field.

[2022-02-10 21:33] kbecciv opened #7687 "Request money - Website takes you to other unrelated link when using chats"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in account
2. Open new chat
3. Send messages or request money
4. Go back to LHN

## Expected Resul

[2022-02-10 21:35] chiragsalian commented on #6720
Oh hey there, sorry i'm a bit OOO this week. Shall still try to help. I'm a little confused with the conversation so just wanted to confirm something.

Where is the PR? Or did you mean for me to test by applying this [diff](https://github.com/Expensify/App/issues/6720#issuecomment-1028153457) locally?

Just to confirm these are the steps you would want me to confirm correct?
[code]

[2022-02-10 21:40] kbecciv opened #7688 "[HOLD for payment 2022-04-06] [$500] Split Money - Able to proceed with split request using first 3 digits of phone number"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3.  Tap on Fub menu and tap Split bill
4.  Add one user
5. Tap on Search box a

[2022-02-10 21:44] SofiedeVreese commented on #7466
PR is merged, not overdue. Waiting for deploy to prod.

[2022-02-10 21:54] MitchExpensify commented on #7376
Paid!

[2022-02-10 22:25] osama256 commented on #7645
### Proposal
if you want to fix this issue without changing the label from `Extension (optional)` to `Ext (optional)` or `Extension` you can follow this approach :
 we will let `Extension` keyword as it is and make `(optional)` keyword responsive to the screen width.

here is the code  :
1) in src/pages/RequestCallPage.js
[code]
2) in src/components/TextInput/BaseTextInput.js
[code]
3) /src/compon

[2022-02-10 22:34] JmillsExpensify commented on #7670
Looks like we have 👍 all around. Hiring on Upwork.

[2022-02-10 22:39] JmillsExpensify commented on #7270
Thanks! Let's address this one then. Issue is open for proposals.

[2022-02-10 22:41] JmillsExpensify commented on #7380
PR deployed to staging yesterday. We're moving forward MelvinBot.

[2022-02-10 22:41] ahmdshrif commented on #7644
# Proposal
issue happend on htmlconverter .  since the code block is formated with html .
code formate use `<div>` as a new line and we net parse this on library.

we can fix this by just parsing the div as new line  `/n` or `<br/>` and html converter will count it as a new line.

in
https://github.com/Expensify/App/blob/403fc28984e9d96f3127257a3dc3ac6e66a75cd6/src/components/TextInputFocusable/in

[2022-02-10 22:43] mananjadhav commented on #7316
@trjExpensify Upwork reminder

[2022-02-10 22:44] JmillsExpensify commented on #7518
All contributors hired for this job on Upwork.

[2022-02-10 22:45] MitchExpensify commented on #7636
Great, we will be sure to credit your reporting @mananjadhav ! I'll update the main post here to reflect that

[2022-02-10 22:45] NikkiWines commented on #7626
@kadiealexander can you hire @parasharrajat for this job please. TY!

[2022-02-10 22:46] MitchExpensify commented on #7636
Updated to account for @mananjadhav 's reporting of this issue originally - Heads up @dylanexpensify for eventual payment

[2022-02-10 22:47] NikkiWines commented on #6807
Can we re-test this to make sure it's still occurring please @mvtglobally?

[2022-02-10 22:48] MitchExpensify commented on #7668
Yes it is, thanks @thesahindia updating to reflect your reporting and to ensure you are credited

[2022-02-10 22:54] rushatgabhane commented on #7636
@ryan-creator thanks for your proposal, but its same as this proposal https://github.com/Expensify/App/issues/7636#issuecomment-1033013508 which came earlier.

Feel free to checkout other issues that have Help Wanted label on them.

[2022-02-10 23:03] trjExpensify commented on #7624
👋 @thesahindia can you let me know once you've applied to the job on Upwork, please? (As a heads up, I'll be OoO next week, so I might be a tad slow to accept and finalise the offer)

[2022-02-10 23:07] mateusbra commented on #7670
Thank you @JmillsExpensify PR ready for review!

[2022-02-10 23:13] rushatgabhane commented on #7590
🎀👀🎀 C+ reviewed

@puneetlath,
@kakajann's proposal should fix this issue.

[2022-02-10 23:13] rushatgabhane commented on #7288
@sig5 to boil down your proposal for @ iwiznia

* Don't make any API calls on the password page for new users. Do it on the welcome page.
* Create a **new** API method which accepts both password and the details from welcome step.
* Also, your proposal needs the the backend to differentiate between new and existing users.

[2022-02-10 23:18] mallenexpensify commented on #6890
Thanks for the details @adeel0202 , you're right.  I was expecting an auto-post to denote the associated PR was deployed to production. I think it didn't happen because there were two issues fixed by one PR (which is rare).  I think it's because this issue was pretty-much a duplicate of https://github.com/Expensify/App/issues/6389  Since we didn't clearly call that out in #expensify-open-source (A

[2022-02-10 23:28] puneetlath commented on #7590
Yep, I agree. Nice and simple.

@kakajann please let me know when you've applied to the Upwork job.

[2022-02-10 23:36] osama256 opened #7694 "The amount disappears in the Request Money page when using a small screen device"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1)Open the App using a small screen android device.
2)Navigate to Request Money page.
3)you can't see the amount while you are writing it.

## Expec

[2022-02-10 23:40] mountiny commented on #6718
@parasharrajat No worries, I don't think there is a high urgency to this!

[2022-02-10 23:40] joelbettner commented on #7676
I think this might be intentional. I'm going to close for now

[2022-02-10 23:40] #7676 closed

[2022-02-10 23:42] kakajann commented on #7694
Never seen a device with aspect ratio like this though

[2022-02-10 23:57] mountiny commented on #7585
Just to confirm, I am not sure why on the screenshot (I havent made it) there is the empty space on left, but here is a screen here you can see how it actually looks like on the most common iPad I guess (9,7 inches).

![simulator_screenshot_5AFCC3C9-F33B-48CB-BE76-C5C758B3CF48](https://user-images.githubusercontent.com/36083550/153516480-d59bb4ae-794f-49d5-8f3f-fcef274b829d.png)

When you then cli

[2022-02-10 23:58] #7026 closed

[2022-02-11 00:27] jliexpensify commented on #7437
Paid Sahil and Peter, just waiting on Rajat and I'll close. Thanks everyone!

[2022-02-11 00:29] jliexpensify commented on #6836
Will close once Rajat is paid. Thanks everyone!

[2022-02-11 00:31] jliexpensify commented on #7669
Should this go through Engineering triage first @MitchExpensify ? Have added the label - happy to spin up a job in Upworks once we get the go-ahead from Engineering.

[2022-02-11 00:48] LucioChavezFuentes commented on #7535
Guys, I don't think I can deliver a Pull Request on Friday but until next week. I apologize for the inconvenience.

[2022-02-11 00:54] ahmdshrif commented on #7590
I have a proposal here since the current proposal has a case not handled.
do you still open to the proposal?

[2022-02-11 00:58] roryabraham commented on #7655
Testing going better now? Let me know if you're still having serious issues

[2022-02-11 01:06] kakajann commented on #7590
@puneetlath Applied

[2022-02-11 01:08] rushatgabhane commented on #7531
@thesahindia bump ^^

[2022-02-11 01:12] marcaaron commented on #7680
I'm not able to reproduce this. What account is this? We can check logs to see if there was an error, but only if we know which account was used.

[2022-02-11 01:23] roryabraham commented on #7659
This _should_ be fixed (again) by https://github.com/Expensify/App/pull/7685

[2022-02-11 02:29] kbecciv commented on #7680
@marcaaron Tester login credentials: veraclementina@gmail.com , Password: 9879869Clemen.

[2022-02-11 03:07] mvtglobally commented on #7659
I was able to re-download app and login. So far looking good. Team is running additional validations

[2022-02-11 03:20] #7437 closed

[2022-02-11 03:22] #6836 closed

[2022-02-11 03:48] conorpendergrast commented on #7540
Haven't had any more perspectives on this [in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1644283290038249?thread_ts=1643129310.403700&cid=C01GTK53T8Q) so far; absent any other feedback here my instinct is that this is a "not now" idea, to keep in our pockets for the future when there's a clearer ROI. As a result, I'll close for now, and we can add more to it while it's closed!

[2022-02-11 03:48] #7540 closed

[2022-02-11 03:54] marcaaron commented on #7680
Hmm, I am not sure, but I don't see anything in the logs like an attempt to create the policy so guessing this is an authentication error or something else. Is it consistently reproducible? Going to close, but feel free to reopen if there are reliable reproduction steps.

[2022-02-11 03:54] #7680 closed

[2022-02-11 04:19] PrashantMangukiya commented on #7686
#### Proposed Solution:   (If considered as external)

We have to add Spanish translation value within es.js file. At present key already there but value is empty at line 767, 768, 771, 772, 773, 774 So it is using fallback value.
https://github.com/Expensify/App/blob/580cbc255322a48ab342ea244c086809f3e3b27f/src/languages/es.js#L767-L774

Add value within src/languages/es.js as shown under:
[code]

[2022-02-11 04:40] robertjchen commented on #5059
No update, still under discussion

[2022-02-11 04:53] kadiealexander commented on #7642
I'm also not able to reproduce this! I've reached out [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1644555166244429?thread_ts=1644343981.504179&cid=C01GTK53T8Q) to see if anyone is still experiencing this.

[2022-02-11 05:27] adeel0202 commented on #6890
Thanks @mallenexpensify, I have applied.

[2022-02-11 05:28] sobitneupane commented on #7679
This issue exists in all platforms.
**Proposal**
Pass `maxParticipantsReached` from NewChatPage.js to OptionSelectors as a prop.

In OptionSelectors, Use `maxParticipantsReached` prop to deactivate the text input.

[code]

[2022-02-11 06:29] roryabraham commented on #7648
I have this working on a local branch but am currently scope-creeping and making arrow navigation work on all our OptionsLists, not just NewGroup. The one that's proving trickier is `IOUConfirmationList`.

[2022-02-11 06:33] roryabraham commented on #7642
This looks to me like it might be a react-navigation issue. If it really is reproducible only on desktop but not web, it's _possible_ that the new Electron architecture I implemented in [this PR](https://github.com/Expensify/App/pull/7567) isn't playing nice with react-navigation (particularly linkingConfig/parsing URLs).

**Disclaimer:** The above comments are purely speculation. If we can't repr

[2022-02-11 06:35] roryabraham commented on #7659
Great, thanks. I'm pretty confident that this is fixed, so I'm going to close it out. Feel free to reopen if you find anything related to CORS errors or Electron wetting the bed like it did above.

[2022-02-11 06:35] #7659 closed

[2022-02-11 06:46] roryabraham commented on #7648
Just so you know I'm not just making stuff up, here's a draft PR with what I've got so far: https://github.com/Expensify/App/pull/7702 🙃

[2022-02-11 06:54] roryabraham commented on #7440
PR was merged yesterday, but has not been deployed to staging yet.

[2022-02-11 07:01] roryabraham opened #7703 "Implement actionlint to improve static analysis of GitHub Actions"
### Problem
It's hard to be confident that a GitHub Actions PR will work at the time we merge it. There is typically no way to test them locally. We have learned a fair deal with experience, but are imperfect humans who make mistakes during PR reviews. We also try to unit-test what we can, but ultimately the only real test is the E2E test that runs in GitHub's Environment.

### Why this is importa

[2022-02-11 07:02] K4tsuki commented on #7288
@rushatgabhane @iwiznia Like I said before, the password is available when Report screen / SidebarScreen is loaded. I  am storing it in variable not on Onyx. And I have said before the window isn't reloaded so password variable is still available in Report screen.
_My  proposal doesn't requite Back End change at all._

Here is the video to proof, I am calling window.alert inside SidebarScreen comp

[2022-02-11 07:02] roryabraham commented on #7703
@AndrewGable I know we talked about this already but I don't think we created an issue. Assigned to you since you were working on a PR already.

[2022-02-11 07:04] roryabraham commented on #7547
Sorry for the delay here. I will review this tomorrow (it's bedtime for me now).

[2022-02-11 07:55] K4tsuki commented on #7121
@parasharrajat I have tried using your suggestion:

[code]

This doesn't work:

https://user-images.githubusercontent.com/1313124/153555294-2e65100c-5387-41b9-95d7-031b4c26840f.mp4

[2022-02-11 08:36] parasharrajat commented on #7645
Let me clarify the expected behavior first and then I will review the proposals...

[2022-02-11 08:46] parasharrajat commented on #6720
@chiragsalian
Sorry for the confusing request but Rory mentioned on the slack that Contributors can't test it. So he suggested asking CME to do that on the PR that will be created to fix the issue.

But you want to evaluate the solution before the PR. Then Apply the [diff](https://github.com/Expensify/App/issues/6720#issuecomment-1028153457) locally and test it.

I am not sure of the exact steps b

[2022-02-11 09:07] AIASolution commented on #7645
I can fix this issue.

[2022-02-11 09:18] Beamanator opened #7704 "[HOLD for payment 2022-03-02] Change Security -> Change password page icon to `Key`"
The current "Lock" icon on the on the "Change password" page link is the same as the "Lock" icon on the main "Security" page link. We plan to update the "Change password" page link to be the "Key" icon - part of the N7 Account Settings doc update.

@Expensify/design team can you please provide an svg icon for the `Key` that we'll use on that page? You should be able to see the `Key` icon we need i

[2022-02-11 09:35] shawnborton commented on #7704
Here ya go: [key.svg.zip](https://github.com/Expensify/App/files/8047481/key.svg.zip)

[2022-02-11 09:39] dylanexpensify commented on #7641
Posted!

Internal: https://www.upwork.com/ab/applicants/1492070734677004288/job-details
External: https://www.upwork.com/jobs/~01f8f4f5f21c4a828d

[2022-02-11 09:55] robertjchen commented on #7687
Hm, I can't seem to reproduce this issue myself on staging. Could we try [clearing local storage](https://stackoverflow.com/c/expensify/questions/6923/6924#6924) and trying these steps again?

[2022-02-11 10:10] trjExpensify commented on #7316
Cool, settled up with @parasharrajat now as well. Closing! 👍

[2022-02-11 10:33] rushatgabhane commented on #7641
Hi @zoontek, thanks for taking a look at this!

We have landscape mode disabled for mobiles, but it's enabled for tablets. (source - https://github.com/Expensify/App/issues/6568)

So wouldn't this proposal cause a similiar issue for Android tablets in landscape mode?

[2022-02-11 10:39] zoontek commented on #7641
@rushatgabhane Indeed, didn't saw that!

My update proposal: I will apply a logic similar as https://github.com/Expensify/App/pull/6608/files to `BootsplashActivity` 🙂 (to lock in portrait for phones, not for tablets)

[2022-02-11 10:46] Julesssss commented on #7686
Seeking translations while the job is created...

[2022-02-11 10:59] zoontek commented on #7641
@rushatgabhane Try adding the last two lines to the `BootSplashActivity`

[code]

[2022-02-11 11:28] Beamanator commented on #7704
Thanks for the quick response @shawnborton 👍 I forgot to mark this external immediately 😅

[2022-02-11 11:46] Julesssss commented on #7686
[code]

[2022-02-11 11:49] zoontek commented on #7641
@rushatgabhane The app starts in "unlocked" mode. Until the first activity `BootSplashActivity` has started, a `drawable` is shown (https://github.com/Expensify/App/blob/main/android/app/src/main/res/values/styles.xml#L15)

This means the best you can do is probably this (a logic similar to https://github.com/Expensify/App/issues/6568):

Update `BootSplashActivity` properties (necessary to set ori

[2022-02-11 12:34] PrashantMangukiya commented on #7686
@Julesssss thanks. I corrected my proposal above https://github.com/Expensify/App/issues/7686#issuecomment-1035872105 as per suggested translation.

[2022-02-11 13:02] michaelhaxhiu commented on #6032
OOO this week and most of last week. Updates coming next week

[2022-02-11 13:10] Gonals commented on #7678
Setting tags and sending to the pool!

[2022-02-11 13:12] bfitzexpensify commented on #7679
Upwork job [here](https://www.upwork.com/jobs/~01e5ddcff473fcc3a8)

[2022-02-11 14:02] thesahindia commented on #7647
### Proposal (If this gets external)
We need to add `this.input.focus()` below
https://github.com/Expensify/App/blob/0944de13d81e657b96f903274f5e9b270522ff8e/src/components/TextInput/BaseTextInput.js#L69-L71

[2022-02-11 14:02] Beamanator commented on #6669
We're still waiting for someone to have the time & interest to pick up this project which would handle lots of the "offline mode" topics

[2022-02-11 14:06] thesahindia commented on #7624
@trjExpensify, I have applied to the job.

[2022-02-11 14:28] parasharrajat commented on #7679
@sobitneupane
No disabling the search does not sound like a good option. And if we disable the `handleKeyPress` Then the user won't be able to deselect the user and navigate via arrow keys.

[2022-02-11 15:00] kavimuru commented on #7618
@puneetlath When the tester taps back button it takes user to previous page. Will capture another video and upload here.

[2022-02-11 15:23] NicMendonca commented on #7313
chatted with @tgolen and we're going to leave this for now (aka not double price).

[2022-02-11 15:53] Beamanator commented on #7351
@adelekennedy want to make Melvin happy & pay this out? :D

[2022-02-11 16:00] trjExpensify commented on #7686
Ah, while we're here. The page title has been updated from `Reimburse receipts` to `Reimburse expenses`. Can we update the Spanish there as well, please?

[2022-02-11 16:07] trjExpensify commented on #7624
Done! 👍

[2022-02-11 16:07] stitesExpensify commented on #7535
That's fine @LucioChavezFuentes thanks for keeping us updated

[2022-02-11 16:34] rushatgabhane commented on #7588
@railway17 Thanks for your proposal, it seems fine but where will we get the time of edit from?

[2022-02-11 16:36] PrashantMangukiya commented on #7686
@trjExpensify sure, I updated my proposal above  https://github.com/Expensify/App/issues/7686#issuecomment-1035872105 with updated page title translation from `Reembolsar recibos` to `Reembolsar gastos`.

[2022-02-11 16:37] railway17 commented on #7588
@rushatgabhane
After editing the message, it will be changed `blabla...(edited)`.
For now, hovering on `(edited)` has no action.
But my proposal will resolve this issue.

To confirm how it will work, you can check slack.
In the slack, the tooltip is displayed on the `edited` text.

[2022-02-11 16:40] rushatgabhane commented on #7588
No doubts, I agree.
What I'm asking is, where will you get the timestamp from ?

[2022-02-11 16:41] trjExpensify commented on #7686
Yep, makes sense to me. @iwiznia, it is `gastos` right?

[2022-02-11 16:42] railway17 commented on #7588
As I mentioned in proposal, it will resolved here:

`Additional required props variables will also be passed like timestamp={props.action.timestamp} in the ReportActionItemMessage.js and ReportActionItemSingle.js`

[2022-02-11 16:45] kevinksullivan opened #7706 "[HOLD for payment 2022-05-20] Present all main CTAs in NewDot as green buttons to encourage engagement"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create workspace
2. Navigate to any of the workspace pages

## Expected Result:
Per this [conversation](https://expensify.slack.com/archives/C02M

[2022-02-11 16:46] rushatgabhane commented on #7588
@railway17 I believe this timestamp is set only when the message is sent.
It doesn't get updated. This feature request requires that we show the **time of edit** on the tooltip. I hope I make sense :)

![image](https://user-images.githubusercontent.com/29673073/153632407-21f65f46-66c6-470f-a794-3031b2b167ae.png)

[2022-02-11 16:49] railway17 commented on #7588
Ah.. Yes, it make sense.
Do you know whether backend returns updated timestamp or not?
If not, we need to ask backend team to update the api. right?

[2022-02-11 16:49] sobitneupane commented on #7147
Awaiting payment.

[2022-02-11 16:53] adelekennedy commented on #7351
@Beamanator done and done, was just waiting for @rushatgabhane to accept the job (I forgot to add at the beginning!)

[2022-02-11 16:53] #7351 closed

[2022-02-11 17:01] shawnborton commented on #7706
We should clean up how much margin is found below the content and above the button - it feels pretty crammed.

We might also want to look at this case here where we have two actions:
![image](https://user-images.githubusercontent.com/2319350/153635347-26a17ef5-b0a8-46fd-9510-7f212b08763d.png)

Those two styles don't harmonize well together.

[2022-02-11 17:03] shawnborton commented on #7706
@kevinksullivan can you link the Figma file where you worked on these?

[2022-02-11 17:04] osama256 commented on #7641
### Proposal <hr />
very simple fix by adding  `android:screenOrientation="portrait"` to both activities in AndroidManifest.xml
in android/app/src/main/AndroidManifest.xml :
[code]

[2022-02-11 17:05] miljakljajic commented on #7706
@shawnborton although we have two options, do you not think it's worth us pushing the admin towards connecting via plaid?

[2022-02-11 17:07] shawnborton commented on #7706
@miljakljajic That's not what I am saying - I think it is worth pushing the admin towards Plaid. But I think we might want to look at a different style for the second option here - maybe it's a button as well but in a secondary color? Basically you have one primary button with center-aligned text and no left icon, and then a second option that has left-aligned text with an icon. Those two styles f

[2022-02-11 17:13] rushatgabhane commented on #7075
🎀️👀️🎀️ C+ reviewed

@deetergp Looks like @sobitneupane's proposal does the job.

Both `setBackgroundColor('transparent')` and `setTranslucent(true)` are required

[2022-02-11 17:17] mallenexpensify commented on #7667
H @vijeeshin, we updated our process a couple months back and we're asking contributors to post all bugs to our shared Slack channel #expensify-open-source.  If you haven't been granted access yet, you can do so by emailing contributors@expensify.com, asking to join, and including a link to your upwork profile (it's necessary because all payments are managed via Upwork).  Below is the template to

[2022-02-11 17:17] #7667 closed

[2022-02-11 17:37] iwiznia commented on #7686
Yes, `gastos`

[2022-02-11 17:42] Julesssss commented on #7686
Sorry @PrashantMangukiya, lets go with:

[code]

[2022-02-11 17:46] rushatgabhane commented on #7541
@osama256 seems like that's a good start, but I think we can do better.
A longer term solution would be to generalize this approach. So if a new component is added which also has this issue, maybe it can just import some util function to get the scaled heights/padding.

[2022-02-11 17:53] iwiznia commented on #7686
Sorry, I made a typo, it's:
trackDistanceCopy: 'Configura la tarifa y unidad usadas para medir distancias.',

[2022-02-11 17:53] tgolen commented on #7313
I am still not able to reproduce it. Conor mentioned he could do it on web, but that's the platform I'm on, and it looks fine to me. @parasharrajat or @NicMendonca are you able to reproduce it? I wonder if machine performance has anything to do with it.

[2022-02-11 18:05] #7694 closed

[2022-02-11 18:06] PrashantMangukiya commented on #7686
@iwiznia and @Julesssss Updated proposal https://github.com/Expensify/App/issues/7686#issuecomment-1035872105 as per latest translation.

[2022-02-11 18:08] Julesssss commented on #7686
Cool. @trjExpensify could we get the job created please (as you're away next week)

[2022-02-11 18:08] LucioChavezFuentes commented on #7535
I can't get `Picker`'s `ref` on Web because it is not exposed on this platform inside its library code, even in its latest version. So I made a pull request to `@react-native-picker/picker` with a fix to this issue, I hope they can review it soon. In any case, I am working on an alternative to scroll on `Picker`'s input when click on 'fix the errors' on Web.

[2022-02-11 18:14] puppy-saturation opened #7708 "[Ignore] Standard issue template"
Ignore this issue, it's for testing.

These labels are added by default and can't be removed.
![image](https://user-images.githubusercontent.com/56777146/153646605-03bc1b3a-d318-43e8-aa1b-95e14d1ae154.png)

[2022-02-11 18:16] puppy-saturation opened #7709 "[Ignore] Accessibility issue template"
Testing issue. Please ignore.

No labels added by default. They can't be added
![image](https://user-images.githubusercontent.com/56777146/153646904-537f6921-5a62-4f3c-bd3a-2e70c9003569.png)

[2022-02-11 18:17] puppy-saturation opened #7710 "[Ignore]Performance issue template"
Ignore this issue. It's for testing.

These are the default labels. They can't be modified.
![image](https://user-images.githubusercontent.com/56777146/153647188-79b15dd0-a820-46eb-8ffa-02b88ecc4ca5.png)

[2022-02-11 18:20] trjExpensify commented on #7686
Yeah, on it now. Here you go: https://www.upwork.com/jobs/~010ed8f3986c04d5fa

[2022-02-11 18:25] puppy-saturation commented on #7708
Ignore this issue. Sorry for the ping.

[2022-02-11 18:25] #7708 closed

[2022-02-11 18:26] PrashantMangukiya commented on #7686
@trjExpensify  applied to Upwork job. Once proposal accepted I will submit pr within a day.

[2022-02-11 18:26] puppy-saturation commented on #7709
Ignore this issue.

[2022-02-11 18:26] #7709 closed

[2022-02-11 18:27] puppy-saturation commented on #7710
Ignore this issue. Sorry for the ping.

[2022-02-11 18:27] #7710 closed

[2022-02-11 18:28] thienlnam commented on #7307
Indeed, you both have similar proposals and you are correct that it looks like for videos we'll have to save it to the cache locally before saving it to the camera roll but the rest of the proposal will work fine.

Unfortunately, @mananjadhav had a proposal that contained more detail on what needed to be updated and what the changes would look like and so I landed that one.

[2022-02-11 18:29] kevinksullivan commented on #7706
Moved the figma file to its own [page](https://www.figma.com/file/FzCF9DxQo7SRjNP3COTUsp/N8---Free-Plan-Admins?node-id=643%3A15049) @shawnborton . I totally agree we might want to revisit that pattern, it does feel off as displayed. Curious what y'all think for differentiating the `Connect manually` option.

[2022-02-11 18:30] trjExpensify commented on #7686
Accepted.

[2022-02-11 18:34] PrashantMangukiya commented on #7686
Thanks everyone. I will prepare and submit pr within a day as soon as possible.

[2022-02-11 18:35] trjExpensify commented on #7547
I'm going to be OoO next week, so reassigning the CM to handle hiring on Upwork here. Thanks, Lauren!

[2022-02-11 18:41] thesahindia commented on #7679
Here's what I found. When we enable the user to navigate using arrow keys (we haven't on new group) The first user is always highlighted so let's say someone reached the max participants limit and searches for a new user, now if the user pressed the enter/return key the first user that is highlighted will get removed(as on enter we select/unselect the user).
Here's a vid

https://user-images.githu

[2022-02-11 18:55] mallenexpensify commented on #7694
@osama256 we updated our process a couple months back and we're asking contributors to post all bugs to our shared Slack channel #expensify-open-source. If you haven't been granted access yet, you can do so by emailing [contributors@expensify.com](https://www.expensify.com/_support/?supportEmail=contributors%40expensify.com&location=_support/), asking to join, and including a link to your upwork p

[2022-02-11 19:02] rushatgabhane commented on #7288
@K4tsuki could you please help me understand why `setTimeout` is needed here? I'm sure there are alternative solutions to this

[2022-02-11 19:11] chiragsalian commented on #6720
Oh you're good. Thanks for clarifying. And yup i'm more than happy to test this on the PR.
The solution looks good to me too. @hiteshagja, feel free to create the PR and then i'll test the navigation between oldDot to newDot on your PR.

[2022-02-11 19:47] mallenexpensify commented on #6890
@adeel0202 hired, let me know when you accept the offer and I'll pay

[2022-02-11 19:49] rushatgabhane commented on #7671
Thanks for your proposal @mateusbra @sobitneupane

[2022-02-11 19:51] rushatgabhane commented on #7671
`admins` and `announce` are reserved names.

@pecanoro I think this issue should be closed.

[2022-02-11 19:52] rushatgabhane commented on #7666
Looks like @ kidroca handled this, and a fix is merged. Unassigning myself

[2022-02-11 19:52] adeel0202 commented on #6890
@mallenexpensify, accepted.

[2022-02-11 19:54] mallenexpensify commented on #7678
Job created https://www.upwork.com/jobs/~016203ba9d6e3f0330

[2022-02-11 19:58] mallenexpensify commented on #6890
Thanks @adeel0202 , paid

[2022-02-11 20:03] mallenexpensify commented on #7666
@kidroca can you please fill out this Regression Cause Analysis (RCA) report? And confirm in a comment in this GH once it's done?  It's new, if you have any feedback on the template or info included, can you add comments in the doc?
https://docs.google.com/document/d/1OwX4QGqemKbm2yb1opwqIDrYkt8b5wskHcgYNwAKkzo/edit?usp=sharing

[2022-02-11 20:06] parasharrajat commented on #7602
### Proposal
1. Update the https://github.com/Expensify/App/blob/f9b1ec2645fb19b08c96dc7f4d3d8565be522624/src/languages/en.js#L715 to
`Issue cards` and similarly to es.js file.

[2022-02-11 20:09] luacmartins commented on #7646
We could do all the cleaning in the front-end, but I think it would be great if we also returned the correct data from the `getSummaryList` query. We could filter the deleted messages by including the condition below to the WHERE clause [here](https://github.com/Expensify/Auth/blob/0200c944311099ddd082fde288fe7e262836d448/auth/lib/Report.cpp#L1910):

`
"AND JSON_EXTRACT(ra.message, '$.html') != ''

[2022-02-11 20:24] kavimuru commented on #7687
@robertjchen Tester is not able to reproduce it today. Two testers were able to reproduce yesterday though.

[2022-02-11 20:27] kavimuru opened #7712 "[HOLD for payment on 2022-04-06] Workspace - Able to type any numbers and letters in Rate under Track Distance"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in with any account
2. Go to Setting
3. Tap on any Workspace you have in your account
4. Go to Reimburse expenses
5. Tap a

[2022-02-11 20:31] puneetlath commented on #7147
Sorry for the delay. Paid!

[2022-02-11 20:31] #7147 closed

[2022-02-11 20:43] thesahindia commented on #6877
I think Manan is working on this
cc: @mananjadhav

[2022-02-11 20:47] mvtglobally commented on #7655
We are finishing up just few Desktop TCs and PRs. Should be done soon. The Newest build also resolved the Workspace issue we were facing, so we have additional workspace TCs team is re-testing too

[2022-02-11 20:52] MitchExpensify commented on #7669
When you label exported that initiates engineering triage right? @jliexpensify

[2022-02-11 20:55] MitchExpensify commented on #7671
I don't think "reserved" adequately explains to the user why they are getting the message and still think the OG copy suggestion is clearer: "A room on this workspace already uses this name""

[2022-02-11 20:55] Tushu17 commented on #7712
Am i eligible for reporting bonus as I've already reported this issue few days back?https://expensify.slack.com/archives/C01GTK53T8Q/p1644009724971849

[2022-02-11 21:06] puneetlath commented on #7669
@jliexpensify I'm taking over for carlos here. Let's go ahead and export this to upwork.

@MitchExpensify The flow is:
1. triage - should whatever is proposed in this issue be done or not (apply engineering label if so)
2. engineering triage - can this be handled by external contributors (apply external label if so)
3. CM - manage the job (apply extported label once job created)

[2022-02-11 21:07] puneetlath commented on #7669
Also though, @MitchExpensify can you provide a mockup of how this supportive text should be added? I don't know that it's going to fit in the dropdown field itself.

[2022-02-11 21:14] rushatgabhane commented on #7671
Okay, this seems straightforward then. Don't think it needs a C+ review, unassigning myself.

[2022-02-11 21:28] Yoel-amri commented on #7679
Hello,
I think I solved this,
You basically add maxParticipantsReached prop to OptionsSelector and then check it on the 'Enter' switch case on handleKeyPress in the switch case and thats it

 <OptionsSelector
       maxParticipantsReached={maxParticipantsReached}
       canSelectMultipleOptions={this.props.isGroupChat}
       sections={sections} .....

and inside OptionsSelector

switch (e.nativeE

[2022-02-11 21:39] nickmurray47 commented on #7386
making external so a contributor can pick this up

[2022-02-11 21:49] kidroca commented on #7666
@mallenexpensify @tgolen
I'll fill out the RCA but I don't have the necessary information

1. Root Cause
    - Are we certain the problem was due to request being retried infinitely?
    - If yes, what was causing that to happen - e.g. why it didn't happening all the time, but only for some users?

I mean shouldn't we wait for the resolution of the issue and then fill the RCA?

Did #7673 fix the i

[2022-02-11 21:55] thesahindia commented on #7531
@rushatgabhane, should I add margin left to make the error msg left aligned with the checkbox text and reduce the bottom margin or should I leave this as it is as it was reported by an external contributor ?
<img width="383" alt="Screenshot 2022-02-12 at 2 57 09 AM" src="https://user-images.githubusercontent.com/83179295/153674783-69367a99-6c10-42a7-9beb-b370bc270cf7.png">

[2022-02-11 22:00] mallenexpensify commented on #7678
@JmillsExpensify I'm out next week so auto-added you to keep 👀 on this til I'm back, then I'll take back over.

[2022-02-11 22:03] mallenexpensify commented on #7584
@jboniface  I'm out next week so auto-added you to keep 👀 on this til I'm back, then I'll take back over.

[2022-02-11 22:04] mallenexpensify commented on #7579
@NicMendonca  I'm out next week so auto-added you to keep 👀 on this til I'm back, then I'll take back over.

[2022-02-11 22:05] mallenexpensify commented on #7531
@adelekennedy  I'm out next week so auto-added you to keep 👀 on this til I'm back, then I'll take back over.

[2022-02-11 22:05] mallenexpensify commented on #7487
@kadiealexander  I'm out next week so auto-added you to keep 👀 on this til I'm back, then I'll take back over.

[2022-02-11 22:06] mallenexpensify commented on #6967
@dylanexpensify  I'm out next week so auto-added you to keep 👀 on this til I'm back, then I'll take back over.

[2022-02-11 22:07] mallenexpensify commented on #6891
@bfitzexpensify  I'm out next week so auto-added you to keep 👀 on this til I'm back, then I'll take back over.

[2022-02-11 22:08] mallenexpensify commented on #6591
@puneetlath  I'm out next week so auto-added you to keep 👀 on this til I'm back, then I'll take back over.

[2022-02-11 22:09] mallenexpensify commented on #6438
@trjExpensify  I'm out next week so auto-added you to keep 👀 on this til I'm back, then I'll take back over.

[2022-02-11 22:11] mallenexpensify commented on #6301
@SofiedeVreese  I'm out next week so auto-added you to keep 👀 on this til I'm back, then I'll take back over.

[2022-02-11 22:17] mallenexpensify commented on #5768
oh boy... lot's going on here, apologies for the barrage of labeling.  Looks like I initially didn't add the `Exported` label so `Help Wanted` wasn't added nor was a CME assigned. It should be now.

@laurenreidexpensify  I'm out next week so auto-added you to keep 👀 on this til I'm back, then I'll take back over.

[2022-02-11 22:19] mallenexpensify commented on #4612
@parasharrajat what's status here? Does @murataka's proposal need reviewing? https://github.com/Expensify/App/issues/4612#issuecomment-1029745730

@kevinksullivan  I'm out next week so auto-added you to keep 👀 on this til I'm back, then I'll take back over.

[2022-02-11 22:31] parasharrajat commented on #4612
@mallenexpensify I was busy with some other navigation issue and now I will pick the second on the list. This is third on that list. So sadly, we have to wait a bit on this but I will take look on the latest proposal next week.

[2022-02-11 22:32] anthony-hull commented on #6890
I didn't get paid for reporting on my version of this issue as the root cause wasn't found on my report. So it's good he got paid for it.

I didn't get paid for fixing this issue either. Should I be compensated?

[2022-02-11 22:32] anthony-hull commented on #6890
Also I think part of the issue is this never got the external tag?

[2022-02-11 22:49] Yoel-amri commented on #7598
In /src/pages/home/report/ReportActionCompose.js

-                                <AttachmentPicker>
+                                <AttachmentPicker type='image' >

and in /src/components/AttachmentPicker/index.js

-    return 'image/*';
+    return '.jpg, .jpeg, .png';

It will let you only select image files with the extension .jpg .jpeg .png

[2022-02-11 23:04] osama256 commented on #7541
@rushatgabhane this will be much better, I have added these 5 functions to `StyleUtils.js`
[code]
also, I have found that when removing the picker height the App works fine in both (default and largest) font size without any issue (maybe testing on other devices later).

you can find the code details in the attached file
[code details.zip](https://github.com/Expensify/App/files/8052143/code.detail

[2022-02-11 23:20] mallenexpensify commented on #6890
@anthony-hull , based on [this post in #6389](https://github.com/Expensify/App/issues/6389#issuecomment-1004024249)

and your reply

I was assuming[ the PR](https://github.com/Expensify/App/pull/6587) fixed both issues, without additional work needing to be done for this issue, is that correct? If so, I don't think you'd be eligible for payment.  If the PR needed extra work/code based on this issu

[2022-02-11 23:21] mallenexpensify commented on #6890
I reopened and assigned to myself. I'm OOO all next week, so it'll take a bit til I reply

[2022-02-11 23:24] nickmurray47 opened #7714 "IOU `SendMoney` Payments Show Up As Negative"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Send money or request and have someone else pay
2. See that in the details modal that the amount is listed as negative

## Expected Result:
All a

[2022-02-11 23:36] mateusbra commented on #7714
Maybe duplicate of https://github.com/Expensify/App/issues/7438

[2022-02-11 23:50] ahmdshrif commented on #4612
My proposal also need reviewing 😃

[2022-02-12 00:24] K4tsuki commented on #7288
@rushatgabhane , When user finish fills profile form, or close the `WelcomeProfilePage` , the dimissModal is being called to close the modal. And there is animation going on dismiss modal (transition animation and fade animation). `setTimeout` here is used to match the end of the animation and `createMenu` will pop up right after the animation is finished.
Without `setTimeout`, `createMenu` will a

[2022-02-12 01:30] adelekennedy commented on #7014
not overdue - waiting for updates

[2022-02-12 01:34] adelekennedy commented on #7714
@nickmurray47 and @mateusbra does this need a job to pay a contributor? I see this was reported by Nick

[2022-02-12 01:35] adelekennedy commented on #7664
Keeping my eye on #[7579](https://github.com/Expensify/App/issues/7579)!

[2022-02-12 01:38] adelekennedy commented on #7531
@thesahindia @rushatgabhane hired you in Upwork!

[2022-02-12 01:39] nickmurray47 commented on #7714
@adelekennedy in short, no,

I just opened this issue separate from the original issue @mateusbra lined because that one has its own discussion with a contributor having tried to tackle the problem without any success. I think the bug is backend-related in Auth, which only an Expensify engineer can handle and is also why I also applied the `Internal` label.

[2022-02-12 03:12] kbecciv opened #7715 "[HOLD for payment 2022-05-20][$4000] Windows - Cursor move to next line if you press Enter"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com and log in with any account
2. Go to any conversation
3. Start typing the message and press Enter

## Exp

[2022-02-12 04:04] kakajann commented on #7590
I think I made a mistake when I link this issue on PR. What can I do to retrigger the Pullerbear?

[2022-02-12 06:07] kakajann commented on #7712
# Proposal

The easy fix would be changing the TextInputs `keyboardType` to `decimal-pad`

But,
it causes another issue that you can not type a dot, or modify numbers after the decimal point. (such as 12.50)
Here's a video showing the bug:

https://user-images.githubusercontent.com/11542415/153698923-bb96b51b-1390-4f53-a168-39cc7e7cc8e7.mov

I think that's because the value is converted to float i

[2022-02-12 08:56] rushatgabhane commented on #7590
@kakajann you didn't link the issue properly.

<img src="https://user-images.githubusercontent.com/29673073/153704498-85cff2a2-ba12-4026-b5d1-b0324b35ffbd.png" height=100>

Replace those two lines with this -
$ https://github.com/Expensify/App/issues/number

[2022-02-12 09:02] kakajann commented on #7590
@rushatgabhane, yeah, fixed it but it doesn't retrigger the Pullerbear I guess. Tried pushing empty commit but didn't help.

[2022-02-12 09:05] rushatgabhane commented on #7590
You could close this PR and create a new one

[2022-02-12 12:00] parasharrajat commented on #7647
It's a duplicate and we are already fixing it https://github.com/Expensify/App/pull/7530

[2022-02-12 13:28] parasharrajat commented on #7598
Expected behavior for this is:
1. Show an error for unsupported files.

But I also, think we should only allow picking supported files. Can we please get a list of supported files?

[2022-02-12 16:46] mountiny commented on #7521
@isagoico Thank you! I have looked at the [logs](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id%3A(%226dae842eaf5128e3-SAN%22)%20AND%20timestamp%3A%5B2022-02-09T15%3A36%3A23.509Z%20TO%202022-02-09T17%3A36%3A23.509Z%5D&index=_all) and the problem is that the [condition](https://github.com/Expensify/Auth/blob/cbfcf041f7abb4d0d901b6bb1c3bbf0397997628/auth/command/SetWalletLink

[2022-02-12 18:32] mvtglobally commented on #7655
Regression is complete
#7557 is blocked by https://github.com/Expensify/App/issues/7270
Need additional info on https://github.com/Expensify/App/pull/7229#issuecomment-1037373740 to finish validating this PR
Checking off https://github.com/Expensify/App/pull/7685 & https://github.com/Expensify/App/pull/7665 they pass
Checking https://github.com/Expensify/App/pull/7649 & https://github.com/Expensif

[2022-02-12 18:43] mvtglobally commented on #6807
@NikkiWines, we were not able to trigger re-captcha to validate this issue. Not sure how to make it happen. This tread  https://expensify.slack.com/archives/C01GTK53T8Q/p1639348642156200 has a bit more info

[2022-02-12 20:57] puneetlath commented on #7576
Hmm. @kavimuru is this only occurring on mWeb? And is it happening consistently?

[2022-02-12 22:45] mountiny commented on #7584
Bump @mdneyazahmad, can you please give an estimate of when you will be ready to submit the PR? Thanks and have a great day 😊

[2022-02-12 22:59] puneetlath commented on #7268
Paid @sobitneupane.

@rushatgabhane sent you an offer for C+ work

[2022-02-12 23:02] #7268 closed

[2022-02-12 23:05] puneetlath commented on #7618
Got it thanks!

[2022-02-13 02:46] mdneyazahmad commented on #7584
@mountiny  Sorry for not updating you about it. My pr is ready but I am unable to test it on desktop because of this issue https://expensify.slack.com/archives/C01GTK53T8Q/p1644514188692809.

[2022-02-13 03:56] mdneyazahmad commented on #7679
## Proposal

Do not search when max participant is reached. In this case user can enter text but it will not search.

https://github.com/Expensify/App/blob/8431ed41e33092af1e42a143d7364f95b14287fe/src/pages/NewChatPage.js#L235-L246

[code]

## Result

https://user-images.githubusercontent.com/77761491/153737964-89a2f90d-45b8-4b42-b3af-d9a676df7394.mov

[2022-02-13 04:54] mananjadhav commented on #7598
**Proposal**

1. We can add a common function that takes a list of supported files. This could be for images as well as documents.

[code]

2. Add `ConfirmModal` to `AttachmentPicker` in `index.native.js` as well as `index.js`, which gets visible based on `hasError` (can keep something specific like hasFileTypeError) state variable

[code]

2. In `AttachmentPicker/index.native.js:pickAttachment` f

[2022-02-13 10:00] rushatgabhane commented on #7584
@mdneyazahmad merging main into your branch should fix it

https://expensify.slack.com/archives/C01GTK53T8Q/p1644527403102189?thread_ts=1644527403.102189&cid=C01GTK53T8Q

[2022-02-13 11:36] mountiny commented on #7584
Yes, as @rushatgabhane said, this should be fixed by this PR https://github.com/Expensify/App/pull/7719.

No worries, you can also just create the PR even if you can't test it on desktop and let us know in the PR :) Thank you! 🙇

[2022-02-13 13:29] osama256 commented on #7477
I think this issue is related to this one: https://github.com/Expensify/App/issues/7541

[2022-02-13 15:15] parasharrajat commented on #7598
This looks good to me.

I think we can get this later when hired. We should ask the marketing team.

we should not use danger type here. `this.showImageCorruptionAlert(); ` is used to show a size model you can just show the same Modal but with a different message. It would be great that we only have one Alert in UI and it just shows different error messages.

It depends on the what the error messa

[2022-02-13 15:50] parasharrajat commented on #7679
It does not seem like a valid issue. For more, you can look at Sahil's [comment](https://github.com/Expensify/App/issues/7679#issuecomment-1036508004).

I would discuss this on slack to understand the required change before accepting proposals. I will do this on Monday. Thanks, everyone for the proposal. There are a couple of PRs affecting this behavior indirectly. So, I would prefer to wait befor

[2022-02-13 15:51] isagoico commented on #7521
@mountiny I will check on OldDot as well. I'm getting this error with all the options I have available in the payments section, I'm unable to change the default payment method.

[2022-02-13 15:56] parasharrajat commented on #7491
There is one thing that we missed in the PR. we forgot to update the HeaderView component. https://github.com/Expensify/App/blob/8431ed41e33092af1e42a143d7364f95b14287fe/src/pages/home/HeaderView.js#L150-L161

@mateusbra Will, you be able to create a follow-up PR?

[2022-02-13 17:08] mvtglobally commented on #7576
@puneetlath  We are double checking with tester

[2022-02-13 18:04] ahmdshrif commented on #7678
# proposal

on
https://github.com/Expensify/App/blob/main/src/pages/workspace/WorkspaceInvitePage.js#L301

we can add
[code]

[code]

[2022-02-13 18:44] hiteshagja commented on #6720
Thanks @chiragsalian. I will raise PR in the morning IST.

[2022-02-13 19:02] mdneyazahmad commented on #7584
It works adding `.env` with these content @rushatgabhane thanks.
[code]

[2022-02-13 21:58] SofiedeVreese commented on #7598
cc @marcaaron would you be able to look into @parasharrajat 's question:

[2022-02-13 22:00] SofiedeVreese commented on #7704
Pushed to Upwork: https://www.upwork.com/jobs/~01cdaf3e19ebc6d1d3

[2022-02-13 22:40] jliexpensify commented on #7669
Posted!

Internal - https://www.upwork.com/ab/applicants/1492992018823036928/job-details
External - https://www.upwork.com/jobs/~01001f008008f830a0

[2022-02-13 23:16] OmarKhattab commented on #7704
Proposal create `key.svg` file under `assets/images/key.svg`
and put this SVG provided by design
[code]
Import and export the SVG from the file Expenseicons.js

[code]

Use `Expenseicons.key` for `menuItems` in `SecuritySettingsPage.js`
[code]

[2022-02-13 23:58] kavimuru commented on #7576
@puneetlath Its reproduced only in mWeb.

[2022-02-14 00:16] jliexpensify commented on #7424
Not overdue Melvin! @thienlnam and @parasharrajat - does this need to be doubled?

[2022-02-14 00:20] jliexpensify commented on #7583
Not overdue, no proposals yet. @AndrewGable - should we double the price, or wait?

[2022-02-14 00:48] GabiHExpensify commented on #7629
yep, fair point re: mick! i think planning a quick pre-design is a great idea, will start prepping that this week.

@puneetlath can you provide any insight into the urgency here? i've got the bandwidth to move it forward for sure, just want to know how to prioritize it.

[2022-02-14 01:12] conorpendergrast commented on #7313
Huh, yes, just retested on Mac desktop (v1.1.38-3) and wasn't able to reproduce either this time. @thesahindia are you able to reproduce still? If not, seems like we're ok to close!

[2022-02-14 02:08] Christinadobrzyn commented on #7668
I think this needs to go to `Engineering` before `External` so I'll send it there but keep my `External` assignment and create the job in Upwork when we're ready!

[2022-02-14 02:45] kadiealexander commented on #7626
Hired! Thanks @parasharrajat :)

[2022-02-14 03:06] kadiealexander commented on #7146
Merged, waiting for it to be in production.

[2022-02-14 05:55] kakajann commented on #7538
@luacmartins AddressSearch is ready to review

[2022-02-14 05:57] mvtglobally opened #7726 "Previous messages aren't not showing up in the chat if the other user has deleted his account - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. You need account A which has old messages from account B
2. Delete account B
3. Log out of account A and Log in again
4. Check if the previous me

[2022-02-14 06:08] mvtglobally opened #7727 "[HOLD OFFLINE + Report Logic Refactor] Unread messages stays unread on opening the chat when offline - Reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app as account A
2. Send few messages from Account B. Do not open messages
3. Set account A device offline
4. Navigate to new message tread

[2022-02-14 06:18] mvtglobally opened #7728 "Infinite loading instead of offline error when user tries to login while offline - reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app while offline
2. Try to login

## Expected Result:
 Login Page should display "Looks like you're offline. ..." error

## Actual Result:

[2022-02-14 06:23] mvtglobally opened #7729 "[HOLD for payment 2022-04-12] Workspace Invite page - TexInput doesn't scroll up on pressing arrow keys - reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any workspace -> manage members -> invite page.
2. Have more than 5 lines in personal message, and put the cursor at end.
3. Use up arrows

[2022-02-14 06:32] rushatgabhane commented on #7704
🎀️👀️🎀️ C+ reviewed

I like @PrashantMangukiya's [proposal](https://github.com/Expensify/App/issues/7704#issuecomment-1036102029).
cc: @Beamanator

[2022-02-14 06:35] rushatgabhane commented on #7704
@OmarKhattab thanks for your proposal, but it isn't any better than the earlier proposals. So we won't be going with it as per [contributing.md](https://github.com/rushatgabhane/Expensify-App/blob/main/CONTRIBUTING.md#propose-a-solution-for-the-job)

[2022-02-14 06:36] OmarKhattab commented on #7704
All good it was a quick task and also there was already a standard for how icons are imported / exported and pulled into the app so theres no way my proposal could differ greatly. if the other user does not pick this up Im happy to complete the PR.

[2022-02-14 06:43] mvtglobally opened #7730 "[Matt Pay] Avatar online status icon will keep showing syncing icon if user close browser tab when sync icon appears - reported by @K4tsuki"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open staging.new.expensify.com
2. Turn off and turn on wifi
3. When synching icon appear, close browser tab
4. Go to http://staging.new.expensify

[2022-02-14 06:44] PrashantMangukiya commented on #7704
Once this issue assigned to me and Upwork proposal accepted, I will proceed to submit pr. As this is a standard procedure. Thank you.

[2022-02-14 06:52] mvtglobally opened #7731 "Save button overlaps with text on paypal page in small screen - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app on the smaller screen device
2. Navigate to Settings>Payments>Add a payment>Paypal.me

## Expected Result:
Buttons should not overlap wi

[2022-02-14 06:58] mvtglobally opened #7732 "Pressing enter in multiline TextInput on close account page & workspace invite page differs - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to close account page
2. Focus on multiline TextInput
3. Press enter
4. Navigate to workspace page
5. Focus on multiline TextInput
6. Pr

[2022-02-14 07:18] mvtglobally opened #7733 "Sending an attachment also sends the text we have written in compose field - @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

##

[2022-02-14 07:24] mvtglobally opened #7734 "Feature Request: Add feedback styles when touched - reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Click on LHN

## Expected Result:
There should be some feedback when licking on LHN

## Actual Result:
No style changes on clicks

##

[2022-02-14 07:27] mvtglobally opened #7735 "[$500] - [mWeb] Messages have the wrong font size"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Navigate to chat with Chronos (or any regular chat)
3. Send and receive some messages

## Expected Result:
Text font should be consis

[2022-02-14 07:28] K4tsuki commented on #7730
#### proposal

The problem is from:

https://github.com/Expensify/App/blob/8431ed41e33092af1e42a143d7364f95b14287fe/src/pages/home/sidebar/SidebarLinks.js#L296-L297

The syncing indicator is depend on `IS_LOADING_AFTER_RECONNECT`.
`IS_LOADING_AFTER_RECONNECT` is  set by `triggerReconnectionCallbacks`.  On reconnect to network, set it to `true` and after all `reconnectionCallbacks` is finish set it

[2022-02-14 07:30] mvtglobally opened #7736 "Hidden password dots are too big in safari mobile - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app in mWeb Safari
2. Enter valid email
3. start typing password

## Expected Result:
password dots should be consistent across platforms

#

[2022-02-14 07:35] mvtglobally opened #7737 "[HOLD #11768] [$8000] mWeb - Swipe to go back on safari mobile app flickers - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to the app
2. Go to any chat, open settings or any other app screens
3. Swipe back

## Expected Result:
Swipe back should not flicker or

[2022-02-14 07:37] Beamanator commented on #7704
@rushatgabhane thanks, I agree - assining @PrashantMangukiya 👍

[2022-02-14 07:41] mvtglobally opened #7738 "[HOLD for payment 2022-03-22] Android - Multiline TextInput height increases on app - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. navigate to settings>security>close account
3. Add multiline text in the box

## Expected Result:
TextInput should not expand like on

[2022-02-14 07:42] PrashantMangukiya commented on #7704
Thanks for assign. I also applied to Upwork job. I will prepare and submit PR within a few hours as soon as possible.

[2022-02-14 07:49] mvtglobally opened #7739 "[HOLD for payment 2022-04-13] When [Attachment] is sent as the message, 'Edit Comment' option does not appear in contextMenu - reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. Send message [Attachment].
3. Hover over the message for context menu.

## Expected Result:
Edit option should display

#

[2022-02-14 07:56] parasharrajat commented on #7583
I think we are missing Exported label here....

[2022-02-14 08:41] kakajann commented on #7738
# Proposal

It's expected behavior for android `TextInput` with multiline. But if you like to not increase to height, you'll have to give it a fixed height.

This diff will fix the issue above.
file: _src/pages/settings/Security/CloseAccountPage.js_
[code]
(of course, I will not use inline styling, it's just a demonstration)

There's a lot of `TextInput` with `multiline` prop. I can update them al

[2022-02-14 08:46] shawnborton commented on #7706
Meaning, we might want to create a pattern where the second button in this mix (the button that we are not encouraging) would look something like this:
![image](https://user-images.githubusercontent.com/2319350/153829960-820e1a8a-9bc1-4d17-b5a0-e20e3616f314.png)

I can bring this to Slack for a quick look too.

[2022-02-14 08:53] Tushu17 commented on #7729
### Proposal (If gets external)
we need to change `pv3` to `mv3` below -
https://github.com/Expensify/App/blob/8431ed41e33092af1e42a143d7364f95b14287fe/src/pages/workspace/WorkspaceInvitePage.js#L292-L296

or we can add margin in container styles of input and remove vertical padding from the view.

[2022-02-14 08:59] shawnborton commented on #7706
Quick Slack discussion [here](https://expensify.slack.com/archives/C02MW39LT9N/p1644828996416239)

[2022-02-14 09:55] thesahindia commented on #7738
### Proposal
I reported this issue so proposing a solution -
We have two ways to fix this:-
1. We can add `inputStyles` and can make the height 153px (not 140 or the current height will decrease)
**or**
2. Instead of the `minHeight` in `closeAccountMessageInput` we can add `height: 153`
https://github.com/Expensify/App/blob/8431ed41e33092af1e42a143d7364f95b14287fe/src/styles/styles.js#L2445-L2447

[2022-02-14 10:31] thesahindia commented on #7732
### Proposal

the second one is the correct behaviour to add a new line shift + enter should be pressed.

What I found is that we haven't passed `pressOnEnter` in the button of close account page thats why on pressing enter new line gets added also because of this the user can't submit by pressing enter

We just need to add `pressOnEnter` to the close account button -
https://github.com/Expensify/

[2022-02-14 10:56] dylanexpensify commented on #7434
@tgolen are we good to hire @kidroca for this? LMK and I can get next steps sorted! 😃

[2022-02-14 11:29] parasharrajat commented on #7645
Initiated a slack discussion https://expensify.slack.com/archives/C01GTK53T8Q/p1644838136896979

[2022-02-14 11:34] mountiny commented on #7645
Thanks, left my two cents

[2022-02-14 11:46] luacmartins commented on #7646
Moving this to Weekly since it's a nice to have but not a top priority.

[2022-02-14 12:04] sobitneupane commented on #7739
**PROPOSAL**
**Reason:**
Message Text is being compared to '[Attachment]' to decide whether the message is editable or not.

https://github.com/Expensify/App/blob/fd24e0d1b61b90058f2a1888fb1fb103e470f4cb/src/libs/reportUtils.js#L31-L33

**Solution:**
Use Message HTML instead of Message Text to decide whether the message is editable or not.
[code]

[2022-02-14 12:25] thesahindia commented on #7731
It is reproducible on small screen device (mWeb)

### Proposal

For disabled success button we use 0.5 opacity and for disabled danger button we use different color. If we do the same for success button the issue will be solved.
https://github.com/Expensify/App/blob/fd24e0d1b61b90058f2a1888fb1fb103e470f4cb/src/styles/styles.js#L394-L396
https://github.com/Expensify/App/blob/fd24e0d1b61b90058f2a188

[2022-02-14 12:30] bfitzexpensify commented on #7091
Upping the price to $500 - been quiet here for a little while.

[2022-02-14 12:32] bfitzexpensify commented on #6891
Sweet, can do.

[2022-02-14 12:32] kidroca commented on #7666
I haven't heard anything new reported regarding this bug here or on slack:
- latest thread: https://expensify.slack.com/archives/C01GTK53T8Q/p1644440925115879

My PR was not added to staging or prod, so there would still be no logging if the problem is experienced on those platforms: https://github.com/Expensify/App/pull/7673#issuecomment-1036487926

Can we identify are people still experiencing d

[2022-02-14 12:41] ahmdshrif commented on #6767
hi, @MitchExpensify I get the submit request rejected last week. do we have an issue here?

[2022-02-14 12:43] thesahindia commented on #7313
@conorpendergrast, nope I can't repro this now. I think it got fixed.

[2022-02-14 12:48] rushatgabhane commented on #7288
🎀️ 👀️ 🎀️ C+ reviewed

@iwiznia I think @K4tsuki's proposal should do the job.
- Welcome page is shown on RHN.
- Password isn't stored in onyx
- New user is detected using existing onyx prop
- We can proly get rid of `setTimeOut` or find an alternate solution for it.

[2022-02-14 13:07] twisterdotcom commented on #7666
I haven't seen it happen since I deleted and redownloaded the staging.dmg. I don't think that should stop us merging logging though because, my guess is it will crop up again for somebody.

[2022-02-14 13:46] parasharrajat commented on #4612
No update. Still holding... Made progress on the other issue. PR ready. The issue list can be found [here](https://github.com/Expensify/App/issues/7363).

[2022-02-14 13:47] parasharrajat commented on #7363
made progress on the list.

[2022-02-14 14:17] Julesssss commented on #7655
Hi @mvtglobally, I'll be working on the deploy checklist this week.

It looks like the remaining blockers are:
- #7557 blocked by #7270 --> it isn't always reproducible, not sure if this should be a blocker or not
- #7229 awaiting information, I have commented on the issue to bump the question
- #7659 which looks like it has been fixed 🤞

Please let me know if I missed anything! Hopefully we can c

[2022-02-14 14:21] rushatgabhane commented on #7644
pre: inputString => inputString .replaceAll('<div>', '').replaceAll('</div>', '<br/>')replace('<br></br>', '<br/>').replace('<br><br/>', '<br/>')
                    .replace(SLACK_SPAN_NEW_LINE_TAG + SLACK_SPAN_NEW_LINE_TAG, '<br/><br/><br/>').replace(SLACK_SPAN_NEW_LINE_TAG, '<br/><br/>'),

@ahmdshrif that didn't work for me.
I modified the new line rule of `htmlToMarkdownRules`

[2022-02-14 14:24] ahmdshrif commented on #7644
We just modified the pre with this  not all object

[2022-02-14 14:35] ahmdshrif commented on #7644
you can apply the n /node_modules/expensify-common/lib/ExpensiMark.js

line 197

[code]
sure we will not edit on node module but we will add the changes on expensify-common library repo

[2022-02-14 15:10] stephanieelliott commented on #6877
Oops, sorry @thesahindia!

Hey @mananjadhav are you still working updating your proposal, or have you updated it and it is ready for review?

[2022-02-14 15:40] robertjchen commented on #7687
Hm, I was able to reproduce it locally in incognito mode, but it seems to only occur the first time. Will continue looking into this throughout the week

[2022-02-14 15:41] tgolen commented on #7313
OK, thanks for confirming that everyone. I will go ahead and close this for now then. Yay for phantom fixes!

[2022-02-14 15:41] #7313 closed

[2022-02-14 15:50] tgolen commented on #7434
Hey Dylan, yeah. We will hire @kidroca for this 🟢

[2022-02-14 15:51] flodnv commented on #7726
I am fairly sure this is internal, so I'm not applying the External label in doubt.

[2022-02-14 15:51] JmillsExpensify commented on #7629
Agreed! Perhaps we should go ahead and create an issue in /Expensify purely so we all stay on the same page. I can do that now, in fact.

[2022-02-14 16:10] rushatgabhane commented on #7420
@stitesExpensify gentle bump ^^

[2022-02-14 16:14] rushatgabhane commented on #7494
@sobitneupane gentle bump to submit a PR ^^

[2022-02-14 16:24] rushatgabhane commented on #7531
I'll see about that in the PR, leave it for now.

[2022-02-14 16:38] JmillsExpensify commented on #7059
On-going review and commentary in the linked PR.

[2022-02-14 16:40] JmillsExpensify commented on #7334
Weighted in via the linked thread.

[2022-02-14 16:47] JmillsExpensify commented on #7727
This is a good issue, it also happens to me frequently on intermittent connections. That said, I'm uncertain is this is an external or internal issue, so I'm adding the engineering label for a second opinion.

[2022-02-14 16:57] Julesssss commented on #7655
Yeah possibly that is enough, but let me test this tomorrow morning and we'll revisit.

[2022-02-14 17:13] luacmartins commented on #7678
This seems to be happening on web as well. I like your proposal @ahmdshrif!

[2022-02-14 17:41] NikkiWines commented on #6807
Hmm, ok. I'm also unable to reproduce this, so I guess we keep it open for now and see if anyone can reliably recreate the issue.

[2022-02-14 17:44] parasharrajat commented on #7678
I think the proposal will work but no idea why this is happening @ahmdshrif. Is this an issue from the platform? I don't recall what happens natively.

[2022-02-14 17:58] adeel0202 commented on #7545
@michaelhaxhiu applied, thanks.

[2022-02-14 17:58] kbecciv opened #7745 "Web- Users are disappears for a moment after click remove for restrict policy"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.expensify.com/[](javascript:)
2. Log in with expensifail account (admin account)
3. Go to Groups - Create Groups
4. Use any

[2022-02-14 18:23] ahmdshrif commented on #7678
at the first time, I think this happens because of an issue with our text input component so I replace it with react naive base one. and the same issue happened . I don't know why this happens exactly. so I suggest customizing the enter button if that's not an issue from our component.

[2022-02-14 18:29] bondydaa commented on #7379
Personally I don't think we need to get too deep into making the labels and placeholders dynamic to show the user's email. for the most part users have 1 account and know their email, if they're unsure they can also look at the profile page which shows it to them.

we want this step to be somewhat manual and hard to do because it's a pain in the butt for us to try and fix it for users who accident

[2022-02-14 18:31] luacmartins commented on #7678
I did a quick test and it seemed that pressing 'Enter' does not trigger `onChangeText` in `react-native-web`. Not sure why though, because it seems like it was fixed years ago - https://github.com/necolas/react-native-web/issues/215

[2022-02-14 18:37] rushatgabhane commented on #7334
@mountiny let's make this a monthy issue?

[2022-02-14 18:39] bondydaa commented on #7379
I've asked in our internal slack for guidance on this here https://expensify.slack.com/archives/C03U7DCU4/p1644863538690739

I'll update this once we've gotten a consensus.

[2022-02-14 18:40] marcaaron commented on #7476
@ahmdshrif @parasharrajat can we get a status update here?

[2022-02-14 18:49] PauloGasparSv commented on #7727
Hi @JmillsExpensify, I discussed the issue with @pecanoro and it looks like an External issue since it is an offline thing. So I've added the external label.

[2022-02-14 18:50] deetergp commented on #7638
I'm pretty certain this can be worked on by an external contributor.

[2022-02-14 18:53] marcaaron commented on #7598
Thanks, I'm not sure agree with that approach. IIRC our attachment uploading system is fairly flexible and supports many types (and is likely to expand which types are supported in the future - which would require that we maintain two separate lists of supported types).

Let's start just by fixing the SVG issue and see if other types create issues later.

[2022-02-14 18:59] parasharrajat commented on #7598
Ok so let's just catch the unsupported file error and show an alert to the user. cc: @mananjadhav .

[2022-02-14 19:01] parasharrajat commented on #7476
PR is in progress.. Updates are being made.

[2022-02-14 19:06] chiragsalian commented on #7715
Hmm i'm not able to reproduce this on staging or production. Are you still able to consistently reproduce this and are you sure the shift key was not held?

[2022-02-14 19:19] rushatgabhane commented on #7541
@osama256 I'm gonna wait for some resolution in this [slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1644858369174839)

[2022-02-14 19:21] #2719 closed

[2022-02-14 19:21] #5710 closed

[2022-02-14 19:21] #5899 closed

[2022-02-14 19:21] #6081 closed

[2022-02-14 19:21] puneetlath commented on #7522
Not overdue! PR was merged, but not deployed yet.

[2022-02-14 19:22] parasharrajat commented on #7091
This issue seems worse than I thought. Debugging various things to find a solution. Basically, we can remove the remounting logic which will fix this issue, due to the reason that it fixes a major bug.

[2022-02-14 19:25] puneetlath commented on #7354
Paid!

[2022-02-14 19:25] #7354 closed

[2022-02-14 19:28] marcaaron commented on #4680
I think it would be cool to do this still. The main issue is figuring out how to publish new versions of `react-native-onyx` directly to npm in a GitHub action.

[2022-02-14 19:28] stephanieelliott commented on #5987
Woah, chill Melvin. Not overdue, we are waiting on #6556 to be resolved.

[2022-02-14 19:33] deetergp commented on #7075
I agree with @rushatgabhane, that @sobitneupane's solution should get the job done. Let's hire them!

[2022-02-14 19:42] kidroca commented on #2713
I think this one is still relevant - it happens when you've write a couple of message while offline (or spotty connection) - all of them are sent at once and the order is random

[2022-02-14 19:43] iwiznia commented on #7288
Cool, let's hire @K4tsuki, @laurenreidexpensify.
@K4tsuki let's make sure we avoid the setTimeout call for that use though.

[2022-02-14 19:43] kidroca commented on #2719
No updates on the library issues I've commented on and tracking
I had a plan to debug this, when I'm not working on higher priority stuff

[2022-02-14 20:25] tgolen commented on #3981
Splitting it out is fine, yes.

[2022-02-14 20:27] Luke9389 commented on #7647
@thesahindia I appreciate your enthusiasm, but please don't post proposals until an issue is made `External`

[2022-02-14 20:29] marcochavezf commented on #7596
Oops MelvinBot is a little anxious about this one 😄
I was able to reproduce it on web too.  Applying the `External` label and `Weekly` because seems to be an edge-case

[2022-02-14 20:56] mdneyazahmad commented on #7596
## Proposal

Replace `TouchableOpacity` with `Pressable`

https://github.com/Expensify/App/blob/d05fce84aefc7ba0b27e93be89786bf4918887e7/src/components/TouchableWithoutFocus.js#L39-L42

[code]

[2022-02-14 21:07] Luke9389 opened #7749 "Incorperatoin Date field in Company Information has super bizarre behavior"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

Go check out the incorperation date field in company details. Try manually typing a date in there (especially using ta

[2022-02-14 21:17] mdneyazahmad commented on #7688
## Proposal

Invalidate the phone number, if the number of digit is not atleast 4 digit.

https://github.com/Expensify/App/blob/d05fce84aefc7ba0b27e93be89786bf4918887e7/src/libs/OptionsListUtils.js#L550

[code]

[2022-02-14 21:24] mvtglobally commented on #7655
checking of #7229

[2022-02-14 21:43] rushatgabhane commented on #7641
@zoontek that isn't substantially different from the current behaviour. Let me know if you're able to make your proposal better.

[2022-02-14 21:46] rushatgabhane commented on #7641
@osama256 We need landscape mode enabled for tablets, and disabled for mobile only. Let me know if you post an updated proposal which handles this case.

[2022-02-14 21:57] rushatgabhane commented on #7644
@ahmdshrif yep, that's exactly what I tried. It didn't work.

Btw, I'm testing pasting this text -

https://github.com/Expensify/App/blob/403fc28984e9d96f3127257a3dc3ac6e66a75cd6/src/components/TextInputFocusable/index.js#L263-L267

[2022-02-14 21:57] zoontek commented on #7641
Currently the whole time the splash screen is visible, the orientation can be changed. Here it's automatic at start.

As there is no option to have separate manifests per device type, the only solution to have a perfect behavior would be a flavor for tablet and shipping [multiple APKs](https://developer.android.com/google/play/publishing/multiple-apks).

[2022-02-14 22:04] rushatgabhane commented on #7669
🎀️👀️🎀️ C+ reviewed

@puneetlath I recommend @thesahindia's [proposal](https://github.com/Expensify/App/issues/7669#issuecomment-1034541987). It's the first proposal which yields the expected result.

[2022-02-14 22:16] luacmartins commented on #7646
Thanks for confirming @marcaaron!

[2022-02-14 22:20] ahmdshrif commented on #7644
@rushatgabhane ok, GitHub uses `td ` and `tr` Tags for new line not dive as vs code .
so just add them. like this will work on both .

[code]

[2022-02-14 22:47] jliexpensify commented on #6391
Yikes, what happened here Melvin?!

Anyway - no luck @kidroca ? @mallenexpensify @laurenreidexpensify how do we feel about closing this issue?

[2022-02-14 22:48] jliexpensify commented on #7583
Ugh, sorry! Thanks for catching that Rajat!

[2022-02-14 23:02] puneetlath commented on #7668
@Christinadobrzyn this can indeed be external to prevent the "new room" option from showing on the front-end. But we should probably also block room creation in this scenario on the back-end. Can you also open an internal issue for it?

[2022-02-14 23:02] SofiedeVreese commented on #6301
Not overdue Melvin, this is a huge feature and we're taking our time to review this.

[2022-02-14 23:04] SofiedeVreese commented on #7375
Oh shit this one slipped through the cracks bc I was unassigned. @Gonals did you want this pushed externally?

If so I'll assign myself.

[2022-02-14 23:05] SofiedeVreese commented on #7589
Apologies for the delay @adeel0202 !

@JmillsExpensify are you good to pay out the reporting bonus?

[2022-02-14 23:12] #7609 closed

[2022-02-14 23:17] SofiedeVreese commented on #7704
Also hired you in Upwork @PrashantMangukiya !

[2022-02-14 23:31] marcaaron commented on #7482
@rushatgabhane What's the status with this one?

[2022-02-14 23:34] JmillsExpensify commented on #7589
Oh sorry! Not sure why this issue wasn't showing up in my todo list. Yes, good to pay out the bonus for reporting. I'll create a job in Upwork now.

[2022-02-14 23:40] JmillsExpensify commented on #7589
Ah, this issue is closed. Yeah blew right past my todo filters. In any case, Upwork job is here: https://www.upwork.com/jobs/~01317219372708fc82. Please apply @adeel0202 and we'll get this handled asap. Thanks!

[2022-02-14 23:54] neil-marcellini commented on #7529
👀

[2022-02-15 00:30] rushatgabhane commented on #7482
@marcaaron I'm waiting for proposals. No proposal so far fixes the issue.

[2022-02-15 00:32] rushatgabhane commented on #7482
@eVoloshchak let me know if you were able to find something, thanks!

[2022-02-15 01:15] marcaaron commented on #7655
Checking off #7615

[2022-02-15 01:37] pecanoro commented on #6591
Not overdue, PR is in progress

[2022-02-15 01:38] pecanoro commented on #7619
I will take a look again tomorrow, I have been a bit overwhelmed

[2022-02-15 02:32] francoisl commented on #7745
According to the PR that was linked, this looks like the normal behavior we're expecting? Either way, I don't think it's an issue, that's what the setting in Domain Control is for after all - you can't remove people from a workspace (policy) if they're on a group that has that workspace set to the restricted policy.

cc @flodnv if you have any more context in case it's related to https://github.co

[2022-02-15 03:12] jliexpensify commented on #7596
Posted!

Internal - https://www.upwork.com/ab/applicants/1493422908376997888/job-details
External - https://www.upwork.com/jobs/~01ed5925c98421d1c6

[2022-02-15 03:30] NikkiWines commented on #4612
@parasharrajat what are we holding on? Are we tackling the issues listed [here](https://github.com/Expensify/App/issues/7363) in order? If so, we should add `[HOLD]` to the issues (like this one) not yet being worked on.

[2022-02-15 04:41] MitchExpensify commented on #7491
Paid!

[2022-02-15 04:41] #7491 closed

[2022-02-15 06:02] adeel0202 commented on #7589
@JmillsExpensify, applied. Thank you both.

[2022-02-15 06:14] Christinadobrzyn commented on #7668
Created Job in Upwork:

Internal job - https://www.upwork.com/ab/applicants/1493468391157637120/job-details
External job - https://www.upwork.com/jobs/~01fd1633a65ab83a9a

[2022-02-15 06:29] mvtglobally commented on #7261
Issue not reproducible during KI retests. (Third week)
@tgolen  This particular issue is not longer repro, but looks like it lead to other issues. Should we keep this open or open a new issue for the specific scenario?

[2022-02-15 06:30] mvtglobally commented on #7263
Issue not reproducible during KI retests. (First week)

[2022-02-15 06:32] mvtglobally commented on #7399
Issue not reproducible during KI retests. (Second week)

[2022-02-15 06:33] mvtglobally commented on #7412
Issue not reproducible during KI retests. (Second week)

[2022-02-15 06:36] mvtglobally commented on #7326
Issue not reproducible during KI retests. (First week)

[2022-02-15 06:36] mvtglobally commented on #7329
Issue not reproducible during KI retests. (Second week)

[2022-02-15 06:43] mvtglobally commented on #7583
Issue not reproducible during KI retests. (First week)

[2022-02-15 07:35] shawnborton commented on #7706
Based on our Slack discussion, looks like this one was the winner:
![image](https://user-images.githubusercontent.com/2319350/154014233-fa8151e6-97d4-45ca-8023-6fe352bf66e1.png)

[2022-02-15 07:36] Christinadobrzyn commented on #7638
Upwork job created:

Internal job- https://www.upwork.com/ab/applicants/1493489163904131072/job-details
External job - https://www.upwork.com/jobs/~0164d759ed24b6bd3d

[2022-02-15 07:38] Christinadobrzyn commented on #7439
PR [deployed](https://github.com/Expensify/App/pull/7532) to staging

[2022-02-15 10:02] nkuoch commented on #7738
cc @AndrewGable do we want to fix it?

[2022-02-15 10:08] Julesssss commented on #7655
Fantastic, that was the last of the QA checks.

[2022-02-15 10:20] laurenreidexpensify commented on #5768
This is still waiting for proposals - have updated labels

[2022-02-15 10:26] Julesssss commented on #4264
Hi @mananjadhav, maybe we should think about closing this for now?

[2022-02-15 10:37] Julesssss commented on #7686
Merged, awaiting deployment

[2022-02-15 11:29] dylanexpensify commented on #7636
@mdneyazahmad please apply for the job and I can get your offer sent out! 😃

@rushatgabhane sent your offer over 🎉

[2022-02-15 11:45] sachinbro commented on #7638
hi.

[2022-02-15 11:55] thesahindia commented on #5768
### Proposal
We don't remove the selected option from `recentReports` and `personalDetails` on line 113 and 120 resp. so to fix that we need to pass data after filtering out the selected options.

https://github.com/Expensify/App/blob/c049cc4d16ec71606fb635a7d7913d21b0e876f1/src/pages/NewChatPage.js#L111-L122

[2022-02-15 11:59] mountiny commented on #7585
MelvinBot, you fine?

@kevinksullivan would you be able to Export the job, please? Thank you very much 🙇

[2022-02-15 12:11] michaelhaxhiu commented on #7602
Sorry for the delay, I was OOO dealing with some health woes. Removing my assignment as this is triaged now.

Heads up - seems this GH is `external` and it got assigned to you @kevinksullivan (despite you being the creator of the GH).

[2022-02-15 12:25] mountiny commented on #7334
Agreed, this is very low priority. Thank you Jason for looking into this.

[2022-02-15 12:31] kidroca commented on #6391
I wasn't able to recreate and haven't seen the bug happen by chance ever since

[2022-02-15 12:34] JmillsExpensify commented on #7589
Great, offer sent.

[2022-02-15 12:37] adeel0202 commented on #7589
@JmillsExpensify, accepted.

[2022-02-15 12:38] michaelhaxhiu commented on #7425
@kavimuru still waiting on a response to [the question above](<img width="692" alt="image" src="https://user-images.githubusercontent.com/13206896/154063462-aaa63d7d-bb7f-4bd2-b526-c4e0e7cd0700.png">), if you have a moment! I'm going to close this GH until we follow up on that, as I'm not sure this is a candid bug yet.

When I try to reproduce this with my test accounts, it seems you can open the

[2022-02-15 12:38] #7425 closed

[2022-02-15 12:38] botify commented on #7425
@michaelhaxhiu  Be sure to fill out the [Contact List](https://forms.gle/zhdenCB5dE5gKfnw6)!

[2022-02-15 12:38] NicMendonca commented on #7413
Not overdue. Latest update [here](https://github.com/Expensify/App/pull/7571#issuecomment-1034019400)

[2022-02-15 12:51] JmillsExpensify commented on #7589
Great, I've processed the payment and closed out the contract. Have a great day! Closing the issue, but let you know if there is still something we've missed.

[2022-02-15 12:51] #7589 closed

[2022-02-15 12:52] parasharrajat commented on #5768
I think my proposal got lost in discussion. https://github.com/Expensify/App/issues/5768#issuecomment-940801296.

I will repeat the change to remove the duplicates on all such pages.
1. New Group Page.
2. Invite Workspace member Page.

I think these are the ones but if there are any more pages with similar functionality, I will modify that as well.

[2022-02-15 12:54] dylanexpensify commented on #7646
@marcaaron I'm seeing this as reported by DB, so no upwork job needed until/if we apply external, right?

[2022-02-15 12:56] dylanexpensify commented on #7434
@kidroca please apply and I'll get the offer sent out to ya! 😄

[2022-02-15 13:21] parasharrajat commented on #6301
I am going to handle this, this week. Proposals look promising.

[2022-02-15 13:32] parasharrajat commented on #4612
Yeah, I am handling the issues in order (the order is not final). But the main reason is to fix issues one by one. Solutions can overlap. But I am also tracking proposals on each issue.

Yes, you can add `[hold]` if needed. I don't have access to do that :sweat_smile: .

[2022-02-15 13:33] mananjadhav commented on #7636
@dylanexpensify Any Upwork for reporting ?

[2022-02-15 14:06] dylanexpensify commented on #7434
Offer sent @kidroca !

[2022-02-15 14:22] michaelhaxhiu commented on #7735
Posted job to Upwork - https://www.upwork.com/jobs/~01e91ff0be839b37e3

[2022-02-15 14:44] bfitzexpensify commented on #7516
Still on hold for https://github.com/Expensify/App/issues/7382

[2022-02-15 14:50] 0x41-li commented on #7735
HI, I saw the post on Upwork, I'm trying to debug, can I know how to begin a chat with Chronos, or any more detailed and clear steps to reproduce the bug. Thanks.

[2022-02-15 14:55] kidroca commented on #7434
I'll be able to submit a PR by 2022-02-17 EOD

[2022-02-15 15:25] anthony-hull commented on #6890
I was working in that area of the code. I made sure this edge case was added to my testing. I tried to cover off all the edge cases I could think of, which can be seen in the long list of edge cases in the testing section, beyond the initial scope of the issue.
The ticket was about improving the UX for expired sign up tokens.

[2022-02-15 15:26] parasharrajat commented on #7645
Ok, I think we can move the extension field to the next full line [for now](https://expensify.slack.com/archives/C01GTK53T8Q/p1644855795455619?thread_ts=1644838136.896979&cid=C01GTK53T8Q). so I like @mananjadhav 's proposal.
cc: @mountiny

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-15 15:28] Julesssss commented on #7655
Just checking that we're not yet doing accessibility QA. I think not, but want to be 100% sure before running the prod deploy.

[2022-02-15 15:34] luacmartins commented on #7646
@dylanexpensify that makes sense! Thanks for checking on that.

[2022-02-15 15:59] luacmartins opened #7753 "Update docs for `getInputIDPropTypes`"
### Problem
The docs for `getInputIDPropTypes` state that it gets the prop types for `inputID`. However, that is misleading and it is instead a custom validator function.

### Why is this important?
It can be confusing for other engineers.

### Solution
We should update the docs to best describe what the method actually does.

[2022-02-15 16:00] AndrewGable commented on #7738
Seems like we should make it match all the other platforms 👍

[2022-02-15 16:03] parasharrajat commented on #7645
I think we can do this for all screens. This page will always open on RHN modals. Also, this issue should be part of responsive fonts and it is an edge case ( I think there are very few users with that screen size). Mostly all smartphones have bigger screens these days.

[2022-02-15 16:03] adelekennedy commented on #7495
Paid out and job closed!

[2022-02-15 16:03] #7495 closed

[2022-02-15 16:19] tgolen commented on #7261
Wow, that's SUPER weird that you cannot reproduce the original problem, especially considering that all the code for this was reverted. What is "the specific scenario" that's still happening?

[2022-02-15 16:23] tgolen commented on #7735
@mvtglobally @iwiznia Does it only happen with Chronos? @0x41-li I think we have to add you to a beta for you to be able to start a message with Chronos. If it only happens with Chronos, I can get you added, but I'll need the email address for your expensify account.

[2022-02-15 16:25] puneetlath commented on #7669
I'd still like a mockup from @MitchExpensify showing the expected result before we move forward.

[2022-02-15 16:28] luacmartins opened #7755 "Remove the need for `isFormInput` prop in Form"
### Problem
Right now we use a `isFormInput` prop to decide when to pass form props to a child component. We could make this implementation simpler and remove the need for `isFormInput` altogether.

### Why is this important
It makes the code DRY and simplifies the usage of form inputs.

### Solution
1. Figure out some logic to automatically pass form props to inputs only, i.e. excluding `View`, `

[2022-02-15 16:31] mvtglobally commented on #7735
@tgolen as per @iwiznia it is jot limited to Chronos. Our team was jot able to repro. We are still trying on slower networks too

[2022-02-15 16:34] 0x41-li commented on #7735
My Email: ali.sbane.dev@gmail.com, please add me, I will check then.

[2022-02-15 17:13] parasharrajat commented on #7363
Steadily making progress on issues one by one....

[2022-02-15 17:13] bondydaa commented on #7675
Alrighty after discussion / lack of push back in slack we decided that we should do the following:

1. On the Manage Members page
2. When **Invite** is clicked
3. On the next page: don't focus the input to enter an email and don't show the keyboard

So I agree that Android and mWeb then are correct and iOS seems to be wrong.

This should be fine for a contributor to work on / fix so adding the lab

[2022-02-15 17:15] puneetlath commented on #2727
I still think we should hire a contributor to fix this PR directly in RN https://github.com/facebook/react-native/issues/29290. I'm going to add the external label for it.

[2022-02-15 17:21] pecanoro commented on #6059
It seems Melvin went crazy yesterday 🤯

Anyways, after re-reading everything, I think we should go with @kidroca's proposal since I think it would be a better approach, @parasharrajat do you agree with it?

[2022-02-15 17:21] parasharrajat commented on #7675
### Proposal
1. For [this](https://github.com/Expensify/App/issues/7675#issuecomment-1040549465), we just need to remove the autofocus from the OptionSelector component. https://github.com/Expensify/App/blob/0b7cc877305edca5879e19a7f4b9f796b96888eb/src/pages/workspace/WorkspaceInvitePage.js#L259

But this is a generic component and focus could be needed for other parts of the app, so we add anothe

[2022-02-15 17:27] tgolen commented on #7329
@MitchExpensify What's happening on this issue? It looks like it was on hold for payment, but we're past that date by almost a full week.

[2022-02-15 17:31] NikkiWines commented on #4612
Cool, adding the HOLD and dropping this to a weekly then

[2022-02-15 17:32] tgolen commented on #7735
OK, I've added [ali.sbane.dev@gmail.com](mailto:ali.sbane.dev@gmail.com) to the beta, I can add anyone else too. I think you just need to refresh the app to be able to start a new chat with Chronos now.

[2022-02-15 17:32] bondydaa commented on #7379
Alrighty after discussion / lack of push back there's agreement we shouldn't make this place holder dynamic so let's just change it so that the place holder is static and says `Enter your primary login`.

We can instead render the primary login in the text above this input then instead to help with a user closing their account so they don't have to then go back to the main profile page if they're

[2022-02-15 17:34] #7753 closed

[2022-02-15 17:41] 0x41-li commented on #7735
Just checked, still not seeing Chronos on new chat, or even by searching.

[2022-02-15 17:46] Julesssss commented on #7655
:shipit:

[2022-02-15 17:49] kevinksullivan commented on #7422
This is held on https://github.com/Expensify/App/issues/7379 , not overdue.

[2022-02-15 17:51] kevinksullivan commented on #7325
Updated price.

[2022-02-15 17:59] parasharrajat commented on #7736
I think this is native UI and thus we will have to do hacks to fix it. There is a simple [explanation](https://github.com/rsms/inter/issues/112#issuecomment-457867541) that says to use different fonts but I don't think we want to do that.

[2022-02-15 18:07] kevinksullivan commented on #7602
@parasharrajat yes, we will want to update both the tab within the menu editor and the card page.

[2022-02-15 18:12] kevinksullivan commented on #7736
FWIW I don't think this is that big of an issue. If that is the expectation on mWeb then I would be fine closing.

[2022-02-15 18:15] johnmlee101 commented on #7712
Going to mark this as External. I think @kakajann captured this fairly well, and @Tushu17 your previous report does seem very close to this so I'll recommend that you are added as the reporter.

[2022-02-15 18:24] botify commented on #7466
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.38-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7560

If no regressions arise, payment will be issued on 2022-02-22. :confetti_ball:

[2022-02-15 18:24] botify commented on #7380
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.38-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7498
- https://github.com/Expensify/App/pull/7498

If no regressions arise, payment will be issued on 2022-02-22. :confetti_ball:

[2022-02-15 18:24] botify commented on #7378
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.38-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7419

If no regressions arise, payment will be issued on 2022-02-22. :confetti_ball:

[2022-02-15 18:24] botify commented on #7463
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.38-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7569

If no regressions arise, payment will be issued on 2022-02-22. :confetti_ball:

[2022-02-15 18:24] botify commented on #7439
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.38-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/7532

If no regressions arise, payment will be issued on 2022-02-22. :confetti_ball:

[2022-02-15 18:24] botify commented on #3245
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.38-3 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6977

If no regressions arise, payment will be issued on 2022-02-22. :confetti_ball:

[2022-02-15 18:26] OSBotify opened #7759 "Deploy Checklist: New Expensify 2022-02-15"
**Release Version:** `1.1.39-3`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/7318
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/7387
  - [x] QA
  - [ ] Accessibility

- https://github.com/Expensify/App/pull/7552
  - [x] QA

[2022-02-15 18:29] chiragsalian commented on #7668
I think the solution shouldn't be about the permissions and instead checking if there are workspaces available. The code already does a permission check to show "New Room" option here - https://github.com/Expensify/App/blob/2e2e835ab1bc94f1f4320a96b71b4cb81d3808ab/src/pages/home/sidebar/SidebarScreen.js#L163

So i think the solution might be to centralize [workSpaceOptions](https://github.com/Expe

[2022-02-15 18:31] #7703 closed

[2022-02-15 18:31] parasharrajat commented on #7668
Asked here https://expensify.slack.com/archives/C01GTK53T8Q/p1644949731682759.

[Proposal](https://github.com/Expensify/App/issues/7668#issuecomment-1034509971) looks good but we need the answer to above question first..

[2022-02-15 18:43] rushatgabhane commented on #7432
@pecanoro unassigning myself, don't have the bandwidth for this one

[2022-02-15 19:02] flodnv commented on #7745
Yeah, I am not sure if this is a bug or a feature. We could indeed make it that they don't disappear before an error, but it all depends on the UX paradigms we want to follow. @marcaaron @tgolen what are your thoughts on this one?

[2022-02-15 19:07] johnmlee101 commented on #7517
Will work on it this week

[2022-02-15 19:11] marcochavezf commented on #5070
I'm going to unassign myself atm if someone else wants to take it.

These are the places where I found the hourly label is applied:

[code]

And seems the assignees are retrieved before we decide if the hourly label will be applied (I think we should re-structure some parts of the code to know _a priory_ if the hourly label will be applied to then filter the assignees by timezone).

[2022-02-15 19:12] chiragsalian commented on #7668
Oh cool, with manan's proposal  i got confused when he suggested `canUseDefaultRooms` while the current main code had `canUsePolicyRooms`. Maybe he meant the same line but pasted older code which confused me. Anyway yup his solution 2 sounds good.

@puneetlath, you requested back-end to block the request in the scenario when no workspace is provided ([context](https://github.com/Expensify/App/issu

[2022-02-15 19:13] marcaaron commented on #7745
Seems like expected behavior to me. We are assuming that the users can be removed before making the API request. If we later find out they can't be removed they are re-added to the list. That's the idea behind an optimistic response and makes the UI feel snappier in general. I guess when the optimistic response is wrong it could be perceived as jarring, but we give the user an error message which

[2022-02-15 19:25] flodnv commented on #7745
Agreed, thanks for your thoughts!

[2022-02-15 19:26] puneetlath commented on #7668
Ah, if the back-end already blocks it then all good! We just need to go forward with not showing the option on the front-end if they aren't part of a workspace then. Thanks for checking into that.

[2022-02-15 19:30] MitchExpensify commented on #7329
This slipped through on my end, thanks for the bump @tgolen ! Paid and contract ended @parasharrajat

[2022-02-15 19:30] #7329 closed

[2022-02-15 19:37] roryabraham commented on #7648
Got my PR done and almost ready for review. It's a bit of a beast so I want to make sure I write up _super_ thorough test / QA steps.

[2022-02-15 19:42] roryabraham commented on #7350
Okay, well I think this issue was sort of an amalgamation of several disparate problems / crashes, some of which have been fixed, and others of which may not have been fixed. @mvtglobally Can you please have some of your testers attempt to reproduce this and report back?

[2022-02-15 19:43] jboniface commented on #7497
bump -- any updates on this? it looks like we have a proposal without definitive response.  cc @parasharrajat / @NikkiWines

[2022-02-15 19:46] luacmartins commented on #7523
Nvm my previous comment, this can be handled by contributors! Adding `External` label.

[2022-02-15 19:48] parasharrajat commented on #7497
Oh, I see. I am not assigned to it. That's why.  @jboniface Please assign me as C+. Thanks.

I like @Viacheslav80 's proposal. Please use the Class component. we don't use hooks.

cc: @NikkiWines

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-02-15 19:48] luacmartins commented on #7523
@dylanexpensify please note that we should add one milestone per 5 forms (4 milestones total).

[2022-02-15 19:49] luacmartins commented on #7524
Nvm my previous comment, this can be handled by contributors! Adding External label.

[2022-02-15 19:50] luacmartins commented on #7524
@puneetlath please note that we should add one milestone per 5 forms (4 milestones total).

[2022-02-15 19:50] adelekennedy commented on #7379
Internal: https://www.upwork.com/ab/applicants/1493673588213002240/job-details
External: https://www.upwork.com/jobs/~01d8e0eef3b04fe52c

[2022-02-15 19:54] murataka commented on #7350
@roryabraham , i think the issue is partially solved, and you are correct that this happens by multiple issues causing that. reproducing will be more difficult but possibly not impossible . I think it will be too early to close this issue for now. but if testers will share the results, that may help to see the current situation. I don't feel it will be the right time to close the issue if we can n

[2022-02-15 19:55] parasharrajat commented on #7379
Ok. Thanks. I  will create the PR tomorrow.

[2022-02-15 19:56] jboniface commented on #7675
posted: [view this job](https://www.upwork.com/jobs/~01ae2135e55699ba55)

[2022-02-15 19:57] OSBotify commented on #7759
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.39-1 :rocket:

[2022-02-15 20:00] rushatgabhane commented on #7675
@chiragsalian unassigning myself because Rajat doesn't need a C+ review

[2022-02-15 20:01] parasharrajat commented on #7497
Please ignore the above message. I am assigned as C+. and here is my [review](https://github.com/Expensify/App/issues/7497#issuecomment-1040723787).

[2022-02-15 20:11] roryabraham commented on #7547
Oh, so sorry I didn't circle back to this sooner!

@mananjadhav's proposal seems like it would work, but it also feels like a hack. I would prefer to try two alternate solutions first:

1. Try passing the `nestedScrollEnabled` prop. (I know it's Android-only but there are some reports online of it fixing this issue for iOS). It may also be necessary to try passing that prop to `react-native-google

[2022-02-15 20:12] Santhosh-Sellavel commented on #5336
@Julesssss This issue got closed without handling

[2022-02-15 20:14] parasharrajat commented on #7547
Ok. That is a great take on it. I would also recommend that we merge the fix upstream. docs say `nestedScrollEnabled` is only for IOS but the issue is also present on Android so 2 sounds like a go-to option.

[2022-02-15 20:18] roryabraham commented on #7547
Not sure if the `isNestedInScrollView` prop would really be necessary, it's just that if we _always_ wrapped `{_getFlatList()}` with a horizontal scroll view, then the component would be broken if you attempted to use it within a horizontal `VirtualizedList`, which seems ... not ideal.

[2022-02-15 20:18] pecanoro commented on #6059
Awesome! @kidroca, feel free to apply to the job in Upwork

[2022-02-15 20:19] MitchExpensify commented on #7732
I don't think you should be able to close an account on this screen by pressing for what it is worth.

I don't think we need to do anything here. You can create a line using the expected pattern elsewhere in product (shift+enter) and no problem is being caused by being able to create a line by just pressing enter

[2022-02-15 20:19] #7732 closed

[2022-02-15 20:21] roryabraham commented on #7759
Verified https://github.com/Expensify/App/pull/7614 internally, checking it off.

[2022-02-15 20:22] mountiny commented on #7486
Still on hold

[2022-02-15 20:25] roryabraham commented on #7350
@murataka Generally our process for inconsistently reproducible issues is to add them to a weekly known issue (KI) retest cycle that Applause does for us. If it's not reproducible for several weeks in a row, then it will be closed. During that time, anyone can comment in the issue if they experience the bug or find more consistent reproduction steps.

[2022-02-15 20:27] MitchExpensify commented on #6767
@ahmdshrif paid for the fix and contract ended (That "rejection" probably happened automatically for some reason e.g. the job closing automatically - All good now!)
@parasharrajat paid for C+ and contract ended
@Tushu17 paid for reporting and contract ended

Closing!

[2022-02-15 20:27] #6767 closed

[2022-02-15 20:34] murataka commented on #7350
Thanks for the information @roryabraham , just make sure that @mallenexpensify  can not reproduce that. I think he is on a vacation or something. Previously he was the only one reporting this issue at my attention.

[2022-02-15 20:40] rushatgabhane commented on #7623
waiting for proposals

[2022-02-15 20:42] stitesExpensify commented on #7602
Fine with me @parasharrajat! @kevinksullivan can we get Rajat hired on upwork please?

[2022-02-15 20:49] rushatgabhane commented on #7585
@mountiny what should we do about laptops with a touchscreen? Hide the custom emoji, and rely on the user to use `Win + .` for windows emoji picker?

Because there isn't a way to differentiate between mWeb on iPad and web on a touchscreen laptop.

[2022-02-15 20:51] NicMendonca commented on #2727
Upwork job: https://www.upwork.com/jobs/~017b165dfa9821e51c

[2022-02-15 20:56] chiragsalian commented on #7675
Proposal LGTM, feel free to create the PR @parasharrajat 🙂

[2022-02-15 20:57] ahmdshrif commented on #6767
Ok thanks

[2022-02-15 21:00] rushatgabhane commented on #7585
Don't mind the above comment, `canUseTouchScreen() && isMediumScreenWidth` is good enough.

[2022-02-15 21:09] mountiny commented on #7759
Checking https://github.com/Expensify/App/pull/7672 off since it is a procedural PR. It seems like it is still some issue but it is not blocking anything so it can be checked off.

[2022-02-15 21:19] pecanoro commented on #7619
I tested this on Android and it was working just fine, maybe it's only for iphones? @sakluger do you have an iPhone to try to reproduce it?

[2022-02-15 21:25] rushatgabhane commented on #7496
@sobitneupane any updates on this one? Thanks!

[2022-02-15 21:26] deetergp commented on #7638
![Screen Shot 2022-02-15 at 1 25 59 PM](https://user-images.githubusercontent.com/766197/154151912-94b3e0c1-1aee-4da3-95d6-262d28abdbb7.png)
Hello 👋

[2022-02-15 21:33] neil-marcellini commented on #7529
[ACHContractStep.js](https://github.com/Expensify/App/blob/main/src/pages/ReimbursementAccount/ACHContractStep.js) autofills information correctly in Chrome, but I did notice that it looked weird when I was hovering over the autofill suggestion because the autofill content overlaps with the placeholder text. Fixing this is probably low priority since most users only hover the suggestion for a very

[2022-02-15 21:36] luacmartins commented on #7163
I'll be ooo for the rest of this week. I'll come back to this next week.

[2022-02-15 21:38] puneetlath commented on #7576
Hm, I'm able to get this to happen sometimes. Not sure why it happens when it does. And scrolling down a bit and then scrolling back up seems to fix it. In any case, we'll see if a contributor can figure out what is going on.

[2022-02-15 21:40] rushatgabhane commented on #7644
@ahmdshrif thanks, that fixed it for copying form github.

Copying 1 line from vscode pastes 2 extra lines.
![image](https://user-images.githubusercontent.com/29673073/154153431-cb66e561-c179-44ed-95dd-ad0510ca84a5.png)

[2022-02-15 21:40] puneetlath commented on #7576
Upwork job: https://www.upwork.com/jobs/~01af2a39629a7e23e4

[2022-02-15 21:41] rushatgabhane commented on #7644
@ahmdshrif gentle reminder, we're trying to paste it into code blocks instead of plain text.
I hope I make sense

[2022-02-15 21:49] rushatgabhane commented on #7596
@ahmdshrif that'll remove the opacity animation when we actually open an image.

[2022-02-15 21:49] tgolen commented on #7745
Yeah, I agree with Marc about that's how I would expect an error on an optimistic action to be handled.

However, in this case, I think if we don't _EVER_ allow that operation, then the UI shouldn't allow the user to do that action in the first place. That's where I think we can improve the UX of this.

I know we currently don't have any concept of domain control in App, but it's being added as pa

[2022-02-15 21:49] rushatgabhane commented on #7596
@mdneyazahmad that'll remove the opacity animation when we actually open an image.

[2022-02-15 21:59] ahmdshrif commented on #7644
we can fix the extra line but what do you mean by code blocks. do we need to add a feature for code block highlight or do we just fix the  new line issue with code block past?

[2022-02-15 22:00] LucioChavezFuentes commented on #7535
I have another question. Should I create a `Picker.stories.js` inside `stories` directory so I can test it without being inside a `Form`?

[2022-02-15 22:06] rushatgabhane commented on #7535
@LucioChavezFuentes sure, go ahead

[2022-02-15 22:10] NikkiWines commented on #7668
Cool, looks like @mananjadhav's proposal looks like a good fit for this issue. @Christinadobrzyn could you hire them for this job?

[2022-02-15 22:16] kbecciv opened #7763 "General Settings - Character limit counter and hint to TextInput are not displayed for name field"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App as login user
2. Navigate to Workspace > General settings
3. Clear field and start typing name

## Expected Result:
Character limit co

[2022-02-15 22:21] Luke9389 commented on #7400
not producible

[2022-02-15 22:26] ahmdshrif commented on #7678
@parasharrajat but I think we need to `pressOnEnter` to work on some cases when text input is activated.
for the example login form.

[2022-02-15 22:38] iwiznia commented on #7763
Do we limit the characters the policy name can have? If not, then I think this is not an issue and we should close this.

[2022-02-15 22:39] iwiznia commented on #7763
I don't see any limit on length of name, so this is not an issue.

[2022-02-15 22:39] ahmdshrif commented on #7596
we can track scrolling and set the opacity to 0 when scrolling.

[code]

 make active opacity 1 only when `isScrolling` is true
https://reactnative.dev/docs/touchableopacity#activeopacity

[code]

[2022-02-15 22:42] kbecciv opened #7764 "LHN - [Comment Deleted] text translated in Spanish after refresh the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App as login user
2. Change English to Spanish
3. Go back to LHN and verify that [Comment Deleted] alternate text should be translated.

#

[2022-02-15 23:08] NikkiWines commented on #7759
Checking QA for https://github.com/Expensify/App/pull/7681 off since I was able to [test](https://github.com/Expensify/App/pull/7681#issuecomment-1040887018) and confirm it works as anticipated

[2022-02-15 23:17] MitchExpensify commented on #7737
[Upwork Job](https://www.upwork.com/jobs/~01b635ca984adf4ace)

[2022-02-15 23:19] neil-marcellini commented on #7529
These are the only two pages that I found where there should be autofill and it doesn't work.
- [ ] [Settings - Profile](https://github.com/Expensify/App/blob/30118b75ba9693ee5518464c8d7073a9c6883b19/src/pages/settings/Profile/ProfilePage.js) The first name and last name do not show an autofill prompt.
- [ ] [Request a Call modal](https://github.com/Expensify/App/blob/main/src/pages/RequestCallPag

[2022-02-15 23:23] stitesExpensify commented on #7420
Sorry for the late response. Just to make sure I'm following @rushatgabhane, are you suggesting that we should just delete all pending money requests at the time an account is closed?

[2022-02-15 23:23] kidroca commented on #6927
Pull Request is ready for review: https://github.com/Expensify/App/pull/7744

[2022-02-15 23:36] kidroca commented on #6059
Applied on Upwork,
You can expect a PR submitted by 2022-02-18 EOD

[2022-02-15 23:58] NikkiWines commented on #7497
Agreed with @parasharrajat, @jboniface can you hire @Viacheslav80 for this job, please?

[2022-02-16 00:01] marcaaron commented on #7613
Ah, so first bullet is on prod now.
Joel has a PR that should solve the second bullet that's in review.
I can look into the default badge change next - should be pretty small.

[2022-02-16 00:18] LucioChavezFuentes commented on #7535
Guys another question. Does storybook also work to test the components in Android, IOS or Desktop? If not, on what pages of `App` can I check to test `Picker` in these platforms?

[2022-02-16 00:31] rushatgabhane commented on #7535
As of now, storybook only works for web.

Umm, Settings -> ProfilePage.

[2022-02-16 00:57] nickmurray47 commented on #7714
Found the fix, PR in

[2022-02-16 01:09] kavimuru opened #7768 "[HOLD for payment 2022-04-12] [$500] iOS - App freezes when try to delete PayPal payment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch App as login user
2. Navigate to Settings >Payments.
3. Try to remove existing PayPal

## Expected Result:
PayPal must be deleted and app

[2022-02-16 01:24] isagoico opened #7769 "Payment - Setting a default payment method throws an JS error"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in to a account that has several payments methods available
2. Navigate to payments
3. Select any payment method and click to set as default

[2022-02-16 01:25] OSBotify commented on #7769
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-02-16 01:31] roryabraham commented on #7352
No new proposals here?

[2022-02-16 01:37] stephanieelliott commented on #7688
Posted to Upwork: https://www.upwork.com/jobs/~01531087688241047c

[2022-02-16 01:41] stephanieelliott commented on #7573
Posted to Upwork: https://www.upwork.com/jobs/~0152b595bdb97e852c

[2022-02-16 01:47] isagoico commented on #7769
Probably related to https://github.com/Expensify/App/pull/7741

[2022-02-16 01:48] stephanieelliott commented on #5987
Ah, I see. I think if it's possible to complete this task separately from https://github.com/Expensify/App/issues/7666 then sure, that's fine. @johnmlee101 what do you think?

[2022-02-16 01:55] roryabraham commented on #7641
Yeah, I am just going to close this for now. Thanks for the investigation @zoontek

[2022-02-16 01:55] #7641 closed

[2022-02-16 01:56] roryabraham commented on #7485
MelvinBot had a panic attack yesterday. Hopefully he's feeling better today.

[2022-02-16 01:58] roryabraham commented on #4264
Why?

[2022-02-16 01:59] kbecciv commented on #7182
@Jag96 @TomatoToaster @neil-marcellini When tester executing the PR https://github.com/Expensify/App/pull/7692, we still have crash when tap on Settings. Do we need a separate issue?

https://user-images.githubusercontent.com/93399543/154181903-af74056f-8d69-458b-a6e5-a6c28cef3945.mp4

[2022-02-16 02:02] kavimuru opened #7770 "Track distance - Able to enter countless decimals and letters for rate in track distance"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and log in with any account
2. Go to Setting
3. Tap on any Workspace you have in your account
4. Go to Reimburse expenses
5. Tap a

[2022-02-16 02:20] kavimuru opened #7772 "Web - Offline message - The offline message is disappearing when Wifi is turned back"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: Have another account you have access to and two different devices
1. Access https://staging.new.expensify.com/[](javascript:)
and Log

[2022-02-16 02:21] OSBotify commented on #7772
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-02-16 03:09] rushatgabhane commented on #7769
PR causing this regression - https://github.com/Expensify/App/pull/7318

@parasharrajat is working on it 💪

[2022-02-16 04:19] kadiealexander commented on #7642
@roryabraham I haven't had any further reports of people able to reproduce this. How do I add it to the KI retests?

[2022-02-16 04:28] kadiealexander commented on #7712
Upwork job posted! https://www.upwork.com/jobs/~0141290297d55fea4c

[2022-02-16 06:07] Christinadobrzyn commented on #7668
Sounds good:

Hired @mananjadhav for the job & @parasharrajat as the Contributor+ & @thesahindia for reporting the issue - all in upwork.

[2022-02-16 06:13] adeel0202 commented on #7545
Hi @michaelhaxhiu, I applied for the job you posted and then accepted the offer. Today, I got the offer for another job with the same issue again. Did the previous job expire, or is this some error?

[2022-02-16 06:41] sobitneupane commented on #7729
**PROPOSAL**
This issue exists not only in Workspace Invite page but in all multiline TextInputs with label.
**Reason:**
PaddingTop is being used inside the `<TextInput />` component. So, while moving the cursor up with the keyboard, we cannot reach to the top as there is padding at the top.
**Solution:**
We can solve this issue by removing paddingTop from the `<TextInput />` and adding the paddin

[2022-02-16 06:56] parasharrajat commented on #7769
PR will be ready today....

[2022-02-16 07:00] Beamanator commented on #7769
Wow nice, thanks for getting on this quickly @parasharrajat 💪

[2022-02-16 08:15] mananjadhav commented on #4264
Was a bit unwell, will push an update by Fri.

[2022-02-16 08:15] mananjadhav commented on #7081
Was a bit unwell, will push an update tomorrow. An issue when the chat switches from ghost to actual chats. Will fix and close by tomorrow.

[2022-02-16 08:16] mananjadhav commented on #7317
Was a bit unwell, will push an update tomorrow.

[2022-02-16 08:16] mananjadhav commented on #7489
Was a bit unwell, will push an update tonight.

[2022-02-16 08:16] mananjadhav commented on #7645
Thanks. Was bit unwell, will have the PR by tonight/tomorrow.

[2022-02-16 08:16] mananjadhav commented on #7668
Thanks. I'll push a PR by tonight/tomorrow.

[2022-02-16 08:17] mananjadhav commented on #7307
Was a bit unwell, will push the PR by tomorrow. Sorry for the delay.

[2022-02-16 09:33] Beamanator commented on #7573
@stephanieelliott FYI I don't think you need to unassign the `Engineer` manually, in this case I believe @Julesssss was ok with staying assigned b/c he also triaged the issue on the engineering side.

@Julesssss do you want to make this issue? Feel free to swap if you want it 👍

[2022-02-16 10:00] parasharrajat commented on #7307
What I am C+ here :open_mouth: ? didn't know.. :laughing: analyzing the issue...

[2022-02-16 10:06] parasharrajat commented on #7307
Ok, I agree with @wenge8n 's point. But the decision is already taken and @mananjadhav 's proposal is explanatory so I won't object to it.

[2022-02-16 10:08] Julesssss commented on #5336
Should fix, it's an internal issue though.

[2022-02-16 10:17] Julesssss commented on #7573
Yeah, I swapped back, all hail the FairSelection algorithm

[2022-02-16 10:20] parasharrajat commented on #7712
Thanks for the proposal @kakajann but this will not work for Web|Desktop. RN-web does not support `onEndEditing` based on the docs.

[2022-02-16 10:23] parasharrajat commented on #7770
Duplicate of https://github.com/Expensify/App/issues/7712

[2022-02-16 10:23] mdneyazahmad commented on #7541
## Proposal

Do not use fixed height, just provide padding and margin and font size within its content. If the font size is increased it will extend and vice-versa. It will require a lot of refactoring.

[2022-02-16 10:23] parasharrajat commented on #7764
cc: @sobitneupane

[2022-02-16 10:25] rushatgabhane commented on #7541
@mdneyazahmad yeah that sounds much better. Feel free to post it on the [slack thread ](https://expensify.slack.com/archives/C01GTK53T8Q/p1644858369174839)  🧵

[2022-02-16 10:25] parasharrajat commented on #7678
Yeah, I pointed out.

That's why
![image](https://user-images.githubusercontent.com/24370807/154245414-aaa2b33f-42db-4b44-be0c-57f7c2c58eda.png)

[2022-02-16 10:32] kakajann commented on #7712
No problem, I can change it to `onBlur`.
And small code change
[code]

[2022-02-16 11:02] rushatgabhane commented on #7596
@ahmdshrif that should lead to a lot of re-renders right

[2022-02-16 11:07] rushatgabhane commented on #7644
My bad, I was mistaken that we need to enclose the copied code into code blocks like this
[code]

@ahmdshrif  Perfect!

[2022-02-16 11:09] Julesssss commented on #7737
Awaiting proposals

[2022-02-16 11:17] michaelhaxhiu commented on #7545
@adeel0202 hm that does sounds strange. There's only 1 job on Upwork for this particular GH (on my side at least):

<img width="977" alt="image" src="https://user-images.githubusercontent.com/13206896/154253606-bfd806e5-beca-493c-ad5b-720b95393b5a.png">

Care to share a screenshot of this?

[2022-02-16 11:26] adeel0202 commented on #7545
@michaelhaxhiu, this is the offer I accepted yesterday

<img width="1082" alt="Screenshot 2022-02-16 at 4 23 58 PM" src="https://user-images.githubusercontent.com/13783842/154255191-d31802ca-0b59-461d-adce-178e435e5c68.png">

and this is the offer I got today

<img width="1083" alt="Screenshot 2022-02-16 at 4 24 08 PM" src="https://user-images.githubusercontent.com/13783842/154255300-08a2e325-47bd

[2022-02-16 11:44] michaelhaxhiu commented on #7545
Thanks for the screenshot. @MitchExpensify did you send that upwork job offer by chance? Or was this some kind of bug with upwork?

@adeel0202 can you reject that second job offer since you are already hired for the bug reporting payout.