[2022-10-20 13:09] mvtglobally commented on #11979
@sketchydroide
https://github.com/Expensify/App/pull/11699 Is not blocked. I just mentioned the blocker issue we found while executing that PR. Team wasn't able to repro in PROD. But if you can repro. I will check it off.

[2022-10-20 13:13] techievivek opened #12036 "[Bug] List of all the compose box related bugs that we need to get fixed soon"
Coming from https://expensify.slack.com/archives/C01SKUP7QR0/p1666245169556899

I have categorized the issues based on the type/cause of the issue. Feel free to add more info/issues or update things to make it more clear and help us track them better.

#### Focus and cursor-related issue
- [Looking for proposals] #11093

#### Composer issue during transition
- [PR review in progress] #11471
- [Hol

[2022-10-20 13:14] mvtglobally commented on #11979
Also, The NEW CP https://github.com/Expensify/App/issues/12035 seem to break https://github.com/Expensify/App/issues/12035

[2022-10-20 13:17] Gonals commented on #11916
Marking as external! All yours, @joekaufmanexpensify

[2022-10-20 13:18] danieldoglas commented on #11698
Moving this to weekly but looks like we can't reproduce it anymore.

[2022-10-20 13:27] michaelhaxhiu commented on #9823
@parasharrajat were you able to reproduce? If not, should we request a hand in #expensify-open-source to do with an Android?

[2022-10-20 13:33] danieldoglas commented on #12015
I couldn't simulate this. @kbecciv can you please try again? Maybe it's related to the period we were deploying things for PHP 8.1 and it was unstable

https://user-images.githubusercontent.com/5818999/196962827-76a25f84-2c9d-4b03-a6ee-e7718ca158cb.mov

[2022-10-20 13:34] kavimuru opened #12037 "Web - App crashes when login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to NewDot
2. Your account needs to have a default room
3. Enter email and password and click "Sign in "

## Expected Result

[2022-10-20 13:35] OSBotify commented on #12037
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-20 13:37] trjExpensify commented on #12037
I think it's this PR: https://github.com/Expensify/App/pull/12013/files

CC: @alex-mechler

[2022-10-20 13:40] abekkala commented on #11921
https://www.upwork.com/ab/applicants/1583090429121454080/job-details
https://www.upwork.com/jobs/~0134f44cfb0341e791

[2022-10-20 13:43] mountiny commented on #12037
PR is up and in review.

[2022-10-20 13:54] laurenreidexpensify commented on #12026
@cristipaval looks like a solid external to me.

[2022-10-20 14:04] dylanexpensify commented on #11948
Upwork: https://www.upwork.com/jobs/~010696c2ee4726b141

[2022-10-20 14:05] Puneet-here commented on #9239
Accepted. Thanks!

[2022-10-20 14:08] vladamx commented on #11697
This needs a whole suite of changes. It is not one thing. A lot of that work is either done across other issues or in drafts.

cc @marcaaron

[2022-10-20 14:10] vladamx commented on #11823
PR should be up by Friday 21.10.2022

[2022-10-20 14:11] srikarparsi commented on #9408
looks good, marking the issue as external and assigning you to the issue so you can get compensated.

[2022-10-20 14:13] srikarparsi commented on #9408
@parasharrajat, @dhairyasenjaliya's solution looks good to me so we don't need to review proposals.

[2022-10-20 14:14] laurenreidexpensify commented on #12025
looks like a solid external @chiragsalian ? can you do the honours pls :)

[2022-10-20 14:15] johncschuster commented on #9239
Okey dokey! I have sent payment to @Puneet-here, the contract is complete, and the post has been closed.

Thanks for your patience while I learned the process on this one, Puneet.

[2022-10-20 14:15] #9239 closed

[2022-10-20 14:15] OSBotify commented on #11979
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12038) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.18-4` :rocket:

[2022-10-20 14:22] abekkala commented on #11822
testing the `External` label

[2022-10-20 14:28] adeel0202 commented on #9408
This ticket was closed because the bug was supposed to be fixed. Yesterday, I encountered this bug and reported it [on slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1666204335556309). Its [ticket](https://github.com/Expensify/App/issues/12024) was also created but then it was closed because this one has been reopened. So I think along with @thesahindia, I'm eligible for the reporting bo

[2022-10-20 14:29] trjExpensify commented on #8459
Awesome, thanks!

[2022-10-20 14:33] CortneyOfstad commented on #11487
Job created! — https://www.upwork.com/ab/applicants/1583103833177513984/job-details

[2022-10-20 14:36] rafecolton commented on #10376
Sure do!

[2022-10-20 14:36] #10376 closed

[2022-10-20 14:38] michaelhaxhiu commented on #10442
1/2 paid... just santosh now :)

[2022-10-20 14:39] JmillsExpensify commented on #11451
Since you can't reproduce why don't we go ahead and close?

[2022-10-20 14:40] CortneyOfstad commented on #11671
Since it has been over a week, doubled the price to $500. Also applying new CME now 👍

[2022-10-20 14:41] CortneyOfstad commented on #11671
Hmm, GH is being screwy with the labels. Trying that again!

[2022-10-20 14:43] michaelhaxhiu commented on #12023
I don't know how to reproduce this as a non-engineer. Going to assign to eng for an assist. Lmk

[2022-10-20 14:45] sketchydroide commented on #11979
Did you get those right @mvtglobally, they are both the same, and seems to be about a Web change

[2022-10-20 14:46] mountiny commented on #11449
Yes we should

[2022-10-20 14:50] puneetlath commented on #7185
Paid it @parasharrajat. Just to confirm, there was no C+ on this?

[2022-10-20 14:56] luacmartins opened #12041 "[$1000] Fix navigating to workspace chat when a new invited user logs in"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new workspace from an account that's on the policyExpenseChat beta (e.g @expensifail.com)
2. Add a new member to the

[2022-10-20 14:57] trjExpensify commented on #12027
I was just testing this somewhere else and can confirm the bug. The testing steps I followed were:

1. Create two accounts, `workspace-owner` and `workspace-employee`.
2. Sign into both accounts in two chrome windows (one incognito)
3. As the `workspace-owner`, create a new workspace.
4. Invite `workspace-employee` to the workspace.
5. As the employee, observe that the #announce room doesn't appea

[2022-10-20 14:57] trjExpensify commented on #11451
Yeah, I just tried again and the workspace chat appeared immediately. The #announce room required a refresh, not a sign-out/in. Looks like we have an issue for that: https://github.com/Expensify/App/issues/12027

Feel free to reopen Rory, if I missed something on the workspace chats.

[2022-10-20 14:59] puneetlath commented on #9510
All paid. Thanks everyone!

[2022-10-20 14:59] #9510 closed

[2022-10-20 15:08] ntdiary commented on #10107
# Proposal
`Autofill` is a component in the chromium project. Probably the most expensive way is that we enable it and modify its storage logic and compile our own electron. The first build took me several hours. 😂
I think it's better to create a separate library to do it and modify our existing components as little as possible.
We can learn the logic of chromium, just use js to render the popup a

[2022-10-20 15:14] shawnborton commented on #11520
I can take this one now. I think this actually needs to be assigned to an internal engineer though, so let me try to do that, unless you can quickly tackle this one @thienlnam?

[2022-10-20 15:15] Julesssss commented on #12018
Thanks, no worries

[2022-10-20 15:17] luacmartins commented on #10232
@Beamanator the [App PR](https://github.com/Expensify/App/pull/11627) was merged, but I noticed that Auth can return 0 or 1 instead of a bool, which makes the first part of [this conditional](https://github.com/Expensify/App/blob/df900108b413826dd7c4b0e51ab6cf8092223289/src/libs/actions/Welcome.js#L30) fail. So I put up a fix [here](https://github.com/Expensify/Web-Expensify/pull/35239).

[2022-10-20 15:27] parasharrajat commented on #10107
Looking now at all proposals.

[2022-10-20 15:27] OSBotify commented on #11979
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.18-4 has been deployed to staging :tada:

[2022-10-20 15:32] parasharrajat commented on #7185
Yeah, no C+

[2022-10-20 15:32] #11589 closed

[2022-10-20 16:01] mollfpr commented on #11131
@isabelastisser Applied, thank you!

[2022-10-20 16:06] tsa321 commented on #11671
### Proposal

The problem is throttle update function callback is being called after user sign out and report memory is present. So we need to check if Onyx connection is present when updating total unread count.

[code]

and in throtled update function add check for connectionID:

[code]

[2022-10-20 16:13] strepanier03 commented on #11863
@narayanaraoiosdev - I'm sorry I missed your comment before.

Please review [propose a solution and get hired for that job](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#propose-a-solution-for-the-job) to understand how our hiring process works.

In this case, a proposal needs to be submitted on the GH and if your proposal is selected you will then be hired in Upwor

[2022-10-20 16:17] kbecciv commented on #12015
@danieldoglas If user is created a workspace under expensifail account, but invited gmail account - we are facing reported issue
.
With both expensifail accounts it is different. It appears 2 workspace chats: one with the name of workspace, and the other one is with the name of added member.
Message sent to chat displayed with new member name is delivered but displayed as a chat with workspace nam

[2022-10-20 16:26] kavimuru opened #12042 "[$250] BUG: Desktop App - Black screen on window close in full-screen mode reported by @fedirjh"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open Desktop App
2. Set full screen mode
3. Click close button

## Expected Result:
Window is hidden

## Actual Result:
Full

[2022-10-20 16:27] zanyrenney commented on #10615
<img width="879" alt="2022-10-20_17-26-59" src="https://user-images.githubusercontent.com/56830058/197005388-bb3f92b1-0b2a-42ca-a373-bd5627cd6ef7.png">
Still happening.

[2022-10-20 16:31] stitesExpensify commented on #10615
I think we should keep this on hold for now since we are about to release optimistic reports as well

[2022-10-20 16:31] parasharrajat commented on #9408
Generally, only one person is eligible for reporting. I am not sure how come two persons can contribute to the same bug report.

[2022-10-20 16:40] amyevans commented on #12012
I think your investigation makes sense @thienlnam!

* Removing `customUnit: null` should clear up the overwriting with `null` problem
* The other issue you describe

is documented in https://github.com/Expensify/Expensify/issues/229696 so I think we should prioritize finding a fix for that, though it sounds like it's a tricky problem

Curious if others agree though too!

[2022-10-20 16:41] mallenexpensify commented on #12037
Is this issue specific to Expensify Guides only? I had issues logging in yesterday, was getting blank page, but I haven't seen any other non-guides reporting that

[2022-10-20 16:43] mountiny commented on #12037
This happens to anyone who had default rooms/admins rooms

[2022-10-20 16:43] trjExpensify commented on #12037
It's if you have default rooms. Fix has been CP'd to staging though now.

[2022-10-20 16:44] mountiny commented on #11962
Thank you for the review @rushatgabhane, can you please raise a PR @chauchausoup ?

[2022-10-20 16:44] adeel0202 commented on #9408
@parasharrajat had I not reported this bug, this ticket would still have been closed and the bug would still be there.
Also, I'm sure you must've seen other similar cases where two persons were credited for the same bug. However, if others think I should not be compensated, I'm fine with it.

[2022-10-20 16:44] mollfpr commented on #11800
### Proposal
Since the root cause is defined [here](https://github.com/Expensify/App/blob/88515e4d22b346a197f9a698a562f15e937f6be0/src/pages/home/report/ReportActionsView.js#L103) we need to delay call of `Report.subscribeToReportTypingEvents` after the API command `AddWorkspaceRoom` is done.

**Solution**
We can call `Report.subscribeToReportTypingEvents` after the `FlatList` is finished laying o

[2022-10-20 16:46] vladamx commented on #11823
@parasharrajat

I invested slightly more effort to come with a cleaner solution for drag detection.

The implementation is using state machine based approach to detect drags on drop zone.

It also improves performance of existing dragging solution and only re-renders the composer when it is needed. No duplicate events.

https://github.com/Expensify/App/compare/main...vladamx:App:vladamx-proposal-1

[2022-10-20 16:46] mallenexpensify commented on #12037
Thanks.  I wasn't able to reproduce on production for my mallen@expensify.com and [manager.allen@expensicorp.com](mailto:manager.allen@expensicorp.com) accounts.  I think mine issue was random af ¯\_(ツ)_/¯

[2022-10-20 16:47] christianwen commented on #10731
@Santhosh-Sellavel so the https://github.com/Expensify/App/issues/10731#issuecomment-1281182589 is due to the Composer autofocus behavior is conflicting with the Search input autofocus behavior, causing the Search input to lose focus automatically after gaining autofocus. This happens because the Composer is rendering even though the report screen is not active. So we'll prevent that by the below

[2022-10-20 16:49] neil-marcellini commented on #10587
Ok let me summarize the [Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1661437929132899) a bit. We agree that this is a bug because users should be able to start typing immediately, and users on desktop / web like to do this especially. The problem is that this page looks really bad on mobile devices with a smaller screen height, so we removed the auto focus in this issue. Here's

[2022-10-20 16:51] chauchausoup commented on #11962
Sure @mountiny will spin it in few hours.

[2022-10-20 16:53] kavimuru opened #12043 "[$500] BUG: Web - Selecting an Emoji on Emoji picker when navigated via keyboard focuses on search input instead of selecting emoji reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open web app(Compose box will be focused).
2. Press tab to navigate to emoji
3. Press enter to open Emoji picker and Search f

[2022-10-20 16:53] Julesssss commented on #10347
@shawnborton yeah i agree. The scrollbar sits above and shouldn't introduce a margin

[2022-10-20 16:56] johnmlee101 commented on #12008
Nice catch. closing then

[2022-10-20 16:56] #12008 closed

[2022-10-20 16:57] parasharrajat commented on #9408
That's why I said _Generally_.

[2022-10-20 16:57] neil-marcellini commented on #10587
Hahaha uh oh, no Melvin, @rushatgabhane is C+.

[2022-10-20 17:01] thesahindia commented on #9408
I believe @adeel0202 is eligible for the compensation in this case.
Asking internally to get some eyes on it.

[2022-10-20 17:03] parasharrajat commented on #11823
Then, I would say just remove the drag-and-drop logic out of the composer. Now it seems like not related to anything of the composer.

[2022-10-20 17:07] neil-marcellini commented on #11914
I have updated the steps to clarify that both inputs should be grayed out (50% opacity). They will only be grayed out if you are offline and you have saved an updated workspace name. It should look like this, which I just tested on prod.
![image](https://user-images.githubusercontent.com/26260477/197013741-0ae81e3f-b15b-4131-a00d-01b21f882171.png)

[2022-10-20 17:07] mallenexpensify commented on #12037
hmmm...
signed out of my test account on chrome, [staging.new.expensify.com](http://staging.new.expensify.com/)
signed back into test account
:loading_circle_of_doom:
<img width="738" alt="image" src="https://user-images.githubusercontent.com/22508304/197013670-a952318c-092e-4290-96df-3e3d91c11023.png">

refresh and hard refresh are working

[2022-10-20 17:08] parasharrajat commented on #9408
I don't like the [proposal](https://github.com/Expensify/App/issues/9408#issuecomment-1285018893) here.

The reason is simply that no one can add drafts to achieved chats.  Adding validations/check for cases that are not possible in the business logic is just not the correct approach.

[2022-10-20 17:09] sakluger commented on #11889
Ahhhh, I missed the video in the issue description. I can't verify this one myself because I don't have Fidelity, and I can't connect to Chase in Staging at the moment, but I'll take your word for it.

I've now created an Upwork job posting:

Internal Upwork post link: https://www.upwork.com/ab/applicants/1583143327161978880/job-details
External Upwork post link: https://www.upwork.com/jobs/~014b6

[2022-10-20 17:10] mallenexpensify commented on #12037
Also, same is happening on firefox for staging.new.expensify.com

[2022-10-20 17:11] mallenexpensify commented on #12037
Reopening cuz if

It should be working, right?

[2022-10-20 17:14] neil-marcellini commented on #11236
Thanks, I'll let the contributor know so they can move forward.

[2022-10-20 17:15] mallenexpensify commented on #12037
And... both now loading after refresh :)
And... both now loading without needing to refresh :ohnothing:

[2022-10-20 17:18] #5671 closed

[2022-10-20 17:19] mallenexpensify commented on #12037
NOPE!  hahahahaah
<img width="897" alt="image" src="https://user-images.githubusercontent.com/22508304/197016029-04c35792-fb7e-47cf-9ba2-0e56f0efdb15.png">

Errors in logs
<img width="460" alt="image" src="https://user-images.githubusercontent.com/22508304/197016117-f91a324f-0f4b-4147-baa0-a1d6568fab25.png">

<img width="577" alt="image" src="https://user-images.githubusercontent.com/22508304/1970

[2022-10-20 17:20] parasharrajat commented on #11283
There is one issue with @hungvu193's [proposal](https://github.com/Expensify/App/issues/11283#issuecomment-1282053987).

It prevents the space key from triggering the checkbox. But if we move the onPress call above the if condition then it works fine. I will wait for a few days to see if someone has a better solution Otherwise, try to pick the best.

[2022-10-20 17:21] fedirjh commented on #12042
this issue happens when we change the default close logic https://github.com/electron/electron/issues/20263
https://github.com/Expensify/App/blob/299f07bfa29c0dd81a6126691aae29e161097baa/desktop/main.js#L262-L269

We have to exit full screen mode then we hide window

[code]

Or we just quit

[code]

[2022-10-20 17:24] stitesExpensify commented on #11730
Looks good to me! @NicMendonca can you create an upwork job so that @Puneet-here can apply? Thanks!

[2022-10-20 17:25] isabelastisser commented on #11713
Internal, unassigning myself.

[2022-10-20 17:26] isabelastisser commented on #11850
Internal, unassigning myself.

[2022-10-20 17:28] isabelastisser commented on #11850
Internal, unassigning myself.

[2022-10-20 17:32] dangrous commented on #11800
@dylanexpensify added you back since I think you got taken off before and we don't have an upwork job for this one (thanks for noticing, @thesahindia!)

[2022-10-20 17:33] johnmlee101 commented on #11633
@tgolen @ctkochan22 https://github.com/Expensify/App/pull/11725
As per this change, we're okay leaving no comment standard chats in the LHN? I just realized this might have slipped through if this was unintended 😓

[2022-10-20 17:33] neil-marcellini commented on #11995
I'm back to working on this now. I will first make sure that I can't reproduce this on prod. If I can then it's not a deploy blocker. I know it's mentioned in the description but it's good to double check.

Next, now that Xcode is up to date, I will try to run a dev build with the staging api on my physical device.

[2022-10-20 17:35] isabelastisser commented on #11807
Was it agreed this is an internal or external issue? What are the next steps I need to take here? Thanks!

[2022-10-20 17:39] neil-marcellini commented on #11995
Those changes don't seem related to me. The problem is that we are accessing 'actionName' of undefined in App. See https://github.com/Expensify/App/issues/11995#issuecomment-1284459683.

[2022-10-20 17:41] mallenexpensify commented on #2727
Since this is a big payday, @iwiznia and/or @parasharrajat , can you confirm
- @lbaldy = $16k for job - https://www.upwork.com/jobs/~01411bf531c59e797e
- @parasharrajat = $16k for C+ - New job here https://www.upwork.com/jobs/~01789a28c4422d1d15, please apply.
- no one for reporting.

Look/sound right?

[2022-10-20 17:42] JmillsExpensify commented on #11823
I agree with @parasharrajat. Now it's the total area of the chat window, of which the composer is just one part.

[2022-10-20 17:42] chiragsalian commented on #9971
Moved the copy discussion to [slack](https://expensify.slack.com/archives/C03U7DCU4/p1666287655555599) to maybe finalize it with more speed.

[2022-10-20 17:43] neil-marcellini commented on #11995
I'm not able to reproduce on my physical iOS device on prod.

[2022-10-20 17:45] JmillsExpensify commented on #10587
No plans to re-imagine the workspace invite page, though come to think of it, that personal invite message should almost certainly be converted to push-to-page.

[2022-10-20 17:46] shawnborton commented on #10347
Cool, I agree with that!

[2022-10-20 17:46] aldo-expensify commented on #11807
I haven't marked this a `external` because I haven't investigated further to confirm what I posted above. If we want to refetch this data once the App reopens, it may require a change in the Web-API.

I'll assign it to me to investigate it when I have some time and let you know.

[2022-10-20 17:48] mountiny commented on #12037
@mallenexpensify Can you please do a new issue for this, it is a different error

[2022-10-20 17:48] #12037 closed

[2022-10-20 17:53] JmillsExpensify commented on #10615
Agreed, I added this issue to the sequence numbers tracking issue.

[2022-10-20 17:54] mountiny commented on #10587
Here is the design issue https://github.com/Expensify/App/issues/11795

[2022-10-20 18:00] JmillsExpensify commented on #11795
Oh haha yeah totally agree. I just got here from the most recently added issue and came to the same conclusion. Wouldn't the custom message be a selection row and push-to-page?

[2022-10-20 18:01] JmillsExpensify commented on #10587
@rushatgabhane Answering you in the linked [main] issue.

[2022-10-20 18:01] srikarparsi commented on #9408
I didn't think about it that way @parasharrajat but I agree with you. Since we're storing at max one report comment for an archived chat in onyx which clears when the app is quit or signed out of, it seemed like an ok proposal. But you're right, good catch, we shouldn't be adding these checks for cases that are not possible so let's see if any other proposals come up. @dhairyasenjaliya, unassignin

[2022-10-20 18:02] mountiny commented on #11795
Makes sense, this should be discovered in the pre-design. @rushatgabhane I think there is nobody to lead this yet, @isabelastisser might need to try and get some volunteer from engineers as I dont have a time at the moment to take this on :/

[2022-10-20 18:07] JmillsExpensify commented on #11795
@rushatgabhane I don't think we've done a good job of pre-designing this in #expensify-open-source, but to give you an example of a change we're thinking of making.

Existing Implementation
<img width="408" alt="Screen Shot 2022-10-20 at 14 03 38" src="https://user-images.githubusercontent.com/1127863/197024373-8c7d7292-7621-4673-9ed7-0ec1c08eebc9.png">

Planned future implementation
![image (5)](

[2022-10-20 18:15] kavimuru opened #12045 "[Hold for Payment: 2022-12-09] [$2000] Bug: Blank page is shown for archived room with a message reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create a workspace if you don't have any
2. Go to members page and remove the other admin ( Expensify setup specialist )
3. S

[2022-10-20 18:18] JmillsExpensify commented on #9971
Woo! This looks awesome. Great work.

[2022-10-20 18:18] stitesExpensify commented on #11820
bump @davidcardoza

[2022-10-20 18:18] michaelhaxhiu commented on #11850
This actually should stay assigned to a member of the Bug Zero team. We are going to be holding onto `Internal` and `External` issues to sherpa them to completion.

[2022-10-20 18:20] chiragsalian commented on #12025
Yup, adding label.

[2022-10-20 18:22] gadhiyamanan commented on #11261
@arielgreen applied :)

[2022-10-20 18:23] Tushu17 commented on #12005
@sakluger Yes, It's still reproducible for me in both staging and production. You can also repro this by:-
 1. Opening safari browser and decrease its window size.
 2. Now go to Expensify website.
 3. Open Settings page
 4. Full screen safari window.

https://user-images.githubusercontent.com/89839952/197027697-e6111387-bbf8-4cf1-ab1b-b4800c9ce56f.mov

[2022-10-20 18:25] AndrewGable commented on #11711
Discussing in Slack with @hannojg - But I was unable to get the custom node http server working on the aws device farm machines. I think looking to see if Appium can support our tests might be the best next move since they are supported out of the box by AWS device farm.

[2022-10-20 18:31] kakajann commented on #10442
I solved 2 issues btw

[2022-10-20 18:36] lschurr commented on #11658
Hey @iwiznia - should we close this for now and reopen when we have the source map?

[2022-10-20 18:40] mallenexpensify commented on #8130
Closing for now since it doesn't appear that compensation is due.

[2022-10-20 18:42] dangrous commented on #11800
Hm, yeah - moving that call later makes sense. I don't love the idea of putting it in that otherwise unrelated `recordTimeToMeasureItemLayout` function, feels a bit hacky. I also think it would run multiple times, which isn't ideal.

So, like I said before, testing locally is hard. BUT, I tried literally just moving the subscribe and keyboardevent block to be the last part of `componentDidMount`,

[2022-10-20 18:45] PauloGasparSv commented on #11979
Should https://github.com/Expensify/App/issues/11796 be tagged as deployBlocker and added to the deployBlockerList [since we mentioned it is blocking](https://github.com/Expensify/App/issues/11979#issuecomment-1284997319) this https://github.com/Expensify/App/pull/11640?

I'm just confused because https://github.com/Expensify/App/pull/11640 says to connect with "Chase" via Plaid and not "Fidelity"

[2022-10-20 18:45] mallenexpensify commented on #11132
Asking internally https://expensify.slack.com/archives/C01SKUP7QR0/p1666291488048139

[2022-10-20 18:48] davidcardoza commented on #11820
Job posted -  https://www.upwork.com/jobs/~014b66e3d5dca7e737

[2022-10-20 18:48] trjExpensify commented on #11795
It makes sense to me, though at this point, we may as well just implement account settings minus `Personal details`. We have a concept of adding a secondary login (i.e `Phone number`) today, with a button to `Resend` the validation link etc, so we would need to move that somewhere if we update to push-to-page.

[2022-10-20 18:51] michaelhaxhiu commented on #11850
Re-assigning Joe since he was initially assigned as the triager. But note for @isabelastisser in future GHs where you win the roulette spin!

[2022-10-20 18:53] mvtglobally commented on #11979
@PauloGasparSv the PR was created a long time ago when we used Chase to test. Now Chase is blocked for a while, so we use Fidelity.
I am not sure this should be a Deploy blocker, since it was there for few releases already.. The main issues is, that we can't verify PR https://github.com/Expensify/App/pull/11640 on IOS/and Android due to this https://github.com/Expensify/App/issues/11796

[2022-10-20 18:56] smrutiparida commented on #11561
What we are solving here is,

In the fastlane config i.e ./Fastfile we have the below config.
[code]

Because of which a build always calls the production API URL configured in the .env.production. And since we use the same build for testing and just relabels it as mentioned in description of this bug, quoted below.

With this change, even  a Fastfile production configured build by comparing betwe

[2022-10-20 18:57] Puneet-here commented on #11820
Applied to the job.

[2022-10-20 18:57] mallenexpensify commented on #11132
Gonna close cuz @alex-mechler was able to help test and it looks like its not repro
![image](https://user-images.githubusercontent.com/22508304/197034375-1c66a123-4001-4746-b6f6-85a71119d953.png)

![image](https://user-images.githubusercontent.com/22508304/197034384-201d6e39-c78a-4f77-a321-d71c81526b69.png)

[2022-10-20 19:00] mallenexpensify commented on #6301
@Tabakharniuk , I just used the feature and it worked like a charm!  Thanks again for the help

[2022-10-20 19:04] Puneet-here commented on #11132
@mallenexpensify, in the screenshot I can see tha stg badge at the login page.

[2022-10-20 19:05] MitchExpensify commented on #11473
Paid @dhairyasenjaliya

[Offer sent here](https://www.upwork.com/ab/applicants/1583172157784010752/job-details) @eVoloshchak

[2022-10-20 19:06] arielgreen commented on #11419
Paid.

[2022-10-20 19:06] #11419 closed

[2022-10-20 19:07] michaelhaxhiu commented on #10442
@kakajann can you point me to both for clarity? If this is true, you can apply to the 2nd job link I made for Santhosh (above). But let's first get on the same page before proceeding.

[2022-10-20 19:08] aldo-expensify commented on #11807
Tried to reproduce in staging using my Android phone + web and it worked just fine. In the video they seem to be using a simulator, maybe it doesn't work well in that case?

[2022-10-20 19:09] arielgreen commented on #11419
@parasharrajat for some reason there were two contracts for you, so I closed one and paid the other.

[2022-10-20 19:10] kakajann commented on #10442
@michaelhaxhiu here's context https://github.com/Expensify/App/issues/10442#issuecomment-1238829889

[2022-10-20 19:10] aldo-expensify commented on #11807
@kavimuru has this been reproducing using a real device (not a simulator)?

[2022-10-20 19:11] arielgreen commented on #11381
Paid.

[2022-10-20 19:11] #11381 closed

[2022-10-20 19:14] arielgreen commented on #10847
Paid.

[2022-10-20 19:14] #10847 closed

[2022-10-20 19:25] mallenexpensify commented on #11132
ah shit... you're right @Puneet-here , great 👀 .
Reopening and assigning an engineer to take a look

[2022-10-20 19:25] mananjadhav commented on #10847
Hey @arielgreen,
Quick thing, I did get paid, and I am assuming @rushatgabhane got paid too.

Did we payout @mdneyazahmad for the code as well as bug reporting? We first attempted to resolve two separate bugs in this PR, and one of which @mdneyazahmad had [reported](https://github.com/Expensify/App/issues/10847#issuecomment-1238977292) and I posted a comment about the payment [here](https://github

[2022-10-20 19:26] kavimuru opened #12046 "[$250] Tapping "CHAT WITH YOUR SETUP SPECIALIST" takes to the mweb with a blank page. reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create a workspace if you haven't already
2. Go to concierge chat and click on ":speech_balloon: CHAT WITH YOUR SETUP SPECIAL

[2022-10-20 19:28] arielgreen commented on #10951
Cannot reproduce.

[2022-10-20 19:28] #10951 closed

[2022-10-20 19:30] arielgreen commented on #11048
Asked for an assist reproducing this [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1666294160801929).

[2022-10-20 19:32] trjExpensify commented on #11447
Yeah, interesting. Any idea why the title didn't update with the payment date?

@vladamx - paid + reporting bonus.
@rushatgabhane - sent you the offer.

[2022-10-20 19:32] trjExpensify commented on #11797
@Gonals - bump on this proposal review?

[2022-10-20 19:33] trjExpensify commented on #10202
@Santhosh-Sellavel - how we looking?

[2022-10-20 19:34] arielgreen commented on #10888
Offers sent in Upwork

[2022-10-20 19:36] trjExpensify commented on #11229
@aimane-chnaif can you come back to Rajat on this? https://github.com/Expensify/App/issues/11229#issuecomment-1281470155

[2022-10-20 19:38] trjExpensify commented on #11447
Gotcha. Alrighty, all settled up here. Thanks everyone! 🎉

[2022-10-20 19:38] #11447 closed

[2022-10-20 19:38] aldo-expensify commented on #11807
@aimane-chnaif 👋 since you reported the bug, have you seen this happening in real devices?

[2022-10-20 19:39] trjExpensify commented on #11543
@mananjadhav looks like we just need your re-review here and then this one is good to go. Can you get to it this week, please? It's a huge quality of life issue this one for our onboarding Guides. Thanks!

[2022-10-20 19:39] kavimuru opened #12047 "[HOLD for payment 2023-07-10] [$1000] BUG: Workspace- Default currency for new workspace is showing as USD initially reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create a new workspace
2. Go to general settings
3. Check the Default currency
4. Click on back arrow
5. Go back to general s

[2022-10-20 19:41] trjExpensify commented on #11687
@MonilBhavsar can you review this proposal so @rushatgabhane can move forward with the PR?

[2022-10-20 19:42] Santhosh-Sellavel commented on #10202
Sorry didn't get time to look at this till now. At this point maybe we can ask a contributor for help finding RCA for this.

[2022-10-20 19:44] strepanier03 commented on #11973
Upwork job created: https://www.upwork.com/ab/applicants/1583182295728840704/suggested
External job post: https://www.upwork.com/ab/applicants/1583182295728840704/job-details

[2022-10-20 19:45] arielgreen commented on #8592
Retested this on Safari mWeb, iOS 16.0 -- no longer reproducible.

[2022-10-20 19:45] strepanier03 commented on #11973
@rushatgabhane - based on your comment [here](https://github.com/Expensify/App/issues/11973#issuecomment-1285824062) are we accepting the proposal by @varshamb?

[2022-10-20 19:46] arielgreen commented on #10625
<img width="933" alt="image" src="https://user-images.githubusercontent.com/37308300/197043413-3d3a9237-7c47-4fd7-a6b8-cf6e28198a70.png">
Payment due tomorrow.

[2022-10-20 19:48] kavimuru opened #12048 "[HOLD for payment 2022-11-07] [$250] BUG: Dev Console error when edit message reported by @aimane-chnaif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Login with any account
2. Go to any chat
3. Long tap any message
4. Tap "Edit comment"

## Expected Result:
No console errors

[2022-10-20 19:48] strepanier03 commented on #11973
Sounds great! @varshamb - I've posted the Upwork job. If you apply for it, please post here with your Upwork profile so I can be sure I'm hiring the right person. Thank you!

[2022-10-20 19:50] arielgreen commented on #10290
Offers sent in Upwork

[2022-10-20 19:51] Santhosh-Sellavel commented on #10731
Thanks, @christianwen, can you is there any other solution for this?  Not confident about this solution [here](https://github.com/Expensify/App/issues/10731#issuecomment-1285863019)

[2022-10-20 19:53] Santhosh-Sellavel commented on #10731
Can we off `autofocus` when it's not focused?

[2022-10-20 19:53] arielgreen commented on #11261
Offers sent in Upwork

[2022-10-20 19:53] Santhosh-Sellavel commented on #10731
But this is also a bigger problem.

[2022-10-20 19:54] trjExpensify commented on #12028
Job on Upwork here: https://www.upwork.com/jobs/~019c6881ba683194f2

[2022-10-20 19:57] kavimuru opened #12049 "[HOLD for payment 2022-11-16] [$250] Bug: [Staging] On add Paypal page, the add Paypal button isn't working correctly reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open Web/mWeb staging.new.expensify
2. Go to settings > Payments > Add Paypal page
3. Write invalid Paypal name and click add

[2022-10-20 19:57] kakajann commented on #10442
https://github.com/Expensify/App/pull/10465

https://github.com/Expensify/App/pull/11200

[2022-10-20 20:03] mallenexpensify commented on #10585
Paid, closing! Thanks @aneequeahmad

[2022-10-20 20:03] #10585 closed

[2022-10-20 20:06] joekaufmanexpensify commented on #11850
Discussing [next steps](https://expensify.slack.com/archives/C01SKUP7QR0/p1666296304223589).

[2022-10-20 20:06] mallenexpensify commented on #7375
Bumped to Daily and removed hold in title to get things moving again

[2022-10-20 20:06] adelekennedy commented on #11104
waiting on proposals but not time to double yet

[2022-10-20 20:07] adelekennedy commented on #11077
@parasharrajat @srikarparsi since we're capping at 500 is there anything else we can do to get more proposals - I assume these crash ones are less appealing than the others

[2022-10-20 20:08] mallenexpensify commented on #11111
There is no direction Mitch!!!!
@jasperhuangg is this more of a tracking issue right now? I'm unsure if anything is currently actionable

[2022-10-20 20:10] mallenexpensify commented on #9091
I don't think it's the highest priority but I think, on a quality scale, I'd consider an app lower quality if it didn't update to the most recent version when I clicked to update it.  That said.. most people will be on web and mobile for a while. And.. we can reopen if/when needed.

[2022-10-20 20:10] kavimuru opened #12050 "Bug: Accessibility labels aren’t localized reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to login page
2. Change language to spanish.
3. Use [VoiceOver](https://support.apple.com/guide/voiceover/turn-voiceover-o

[2022-10-20 20:12] parasharrajat commented on #11077
Normally, I suggest waiting for some days if there are no proposals and then closing the issue when it seems that the crash is not happening anymore. Because crashes are serious issues, most of these are fixed indirectly.

TL:DR Just close this now and wait for it to occur again and then we can increase the price if needed.

[2022-10-20 20:12] mallenexpensify commented on #11342
I'll get to it soon, i need to remember when reopening to start a vid.  I've found that quickly closing/opening doesn't reproduce as often as when I give it more time

[2022-10-20 20:13] Santhosh-Sellavel commented on #10731
@iwiznia
So far,

We initiated a discussion [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1662989446760309) about how we want to handle and we end up with the following as-expected behavior

I like @christianwen's proposal here https://github.com/Expensify/App/issues/10731#issuecomment-1255955313 & https://github.com/Expensify/App/issues/10731#issuecomment-1276991390

The proposal works

[2022-10-20 20:14] mallenexpensify commented on #11354
@tgolen can you please review @dhairyasenjaliya 's proposal https://github.com/Expensify/App/issues/11354#issuecomment-1283364164
Thx

[2022-10-20 20:16] Santhosh-Sellavel commented on #10731
Yes and our expected behavior is
`On every time we open the chat, Always focus the input but prevent the keyboard from opening on mobile & mWeb`

@0xmiroslav this happened on Android/iOS while using applying @christianwen's proposal.

[2022-10-20 20:18] MitchExpensify commented on #11473
Paid all!

[2022-10-20 20:18] #11473 closed

[2022-10-20 20:19] mallenexpensify commented on #11389
@albrimpaqarizi , check https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md for more details about submitting a proposal, if interested.

[2022-10-20 20:22] MitchExpensify commented on #11411
All paid and contracts ended! Thanks everyone

[2022-10-20 20:22] #11411 closed

[2022-10-20 20:25] joekaufmanexpensify commented on #11916
Job is [here](https://www.upwork.com/jobs/~015db26f2a7ffd51f3)!

[2022-10-20 20:26] trjExpensify commented on #10202
At this point, we've had this issue since it was reported back in July. Let's focus on solutions to the issue we face, and the RCA can come after to learn from it.

That said, can you expand on where you have looked, and what you've dismissed as unlikely probable causes for it?

Following the git blame for `textInputComposeSpacing` brings us to here from 5 months ago which is roughly around the ti

[2022-10-20 20:29] ctkochan22 commented on #11348
I'm unable to reproduce. Can you specify reproduction steps? Or can you try again, and reopen if this issue is found again:
![pFSqbRRL7r](https://user-images.githubusercontent.com/12980144/197051506-eff5a856-5f5f-4b3d-8f8f-c7d31b11f6ac.gif)

[2022-10-20 20:29] #11348 closed

[2022-10-20 20:29] #11077 closed

[2022-10-20 20:35] Tushu17 commented on #12049
### Proposal
We just need to change:-
https://github.com/Expensify/App/blob/1bca7a4e6f0affb2a13e4697aa5803820cfeb863/src/pages/settings/Payments/AddPayPalMePage.js#L103

with

``` isDisabled={this.state.payPalMeUsername === this.props.payPalMeData.description || !this.state.payPalMeUsername.length} ```

[2022-10-20 20:39] mananjadhav commented on #11330
If that's the expected behavior then we can go ahead with @rawalyogendra's proposal?

[2022-10-20 20:41] mananjadhav commented on #11512
@laurenreidexpensify I think we should double this

[2022-10-20 20:43] mananjadhav commented on #11607
@greg-schroeder Quick bump on the payment here

[2022-10-20 20:44] mananjadhav commented on #11732
Waiting on @pecanoro to assign the job.

[2022-10-20 20:44] strepanier03 commented on #12027
Triaging now.

[2022-10-20 20:46] mountiny commented on #11514
Hmm I think the issue you have linked is quite different than this one

[2022-10-20 20:48] mananjadhav commented on #11336
Thanks for the update @aimane-chnaif

[2022-10-20 20:54] Santhosh-Sellavel commented on #10202
I too got to that was released in tag [1.1.78-8](https://github.com/Expensify/App/releases/tag/1.1.78-8)
But the issue already exists in [1.1.77-2](https://github.com/Expensify/App/releases/tag/1.1.77-2)
I checked some older versions/commits, but still no luck.

[2022-10-20 20:54] NikkiWines commented on #11246
The reproduction steps on the OP don't work for the most recent version of NewDot (staging) for me.

https://user-images.githubusercontent.com/16747822/197055161-29f0f1e4-80d8-42b2-9cac-dc2d7801caf4.MP4

@kavimuru is this still a valid flow? If so, it looks like there would be more steps necessary to reproduce this issue - could you list those out please? If not, doesn't look like this is an issue

[2022-10-20 20:56] parasharrajat commented on #10107
Looked all proposals. Going though `node-keytar` and `safestorage` for now.

@tomivs and @ntdiary your proposal are incomplete. Please provide more details when possible.  Proposals should explain architecture of your code along with implementation in our app.

Note: A universal solution which can be applied to normally any autofillable form will be better. For now, this issue focuses on `Add debi

[2022-10-20 21:00] mananjadhav commented on #11192
Thanks for the proposal @mdneyazahmad. I like the idea of tracking mouseup and `scrollableRef.contains`. The only thing is I applied your fix and it didn't work for me. Did it work for you? Did we miss something?

[2022-10-20 21:06] vladamx commented on #11823
@parasharrajat @JmillsExpensify

Please guys, lets leave that state ehere it is now, its good performance wise.

I can move the logic in separate file but lets leave state in the composer.

[2022-10-20 21:07] NikkiWines commented on #12029
@kbecciv quick clarification. For steps 2-4 are taken from the admin account, correct?

And for the expected result

[2022-10-20 21:14] tjferriss commented on #11456
Ok I think I was able to reproduce this one. The app looks fine, but I'm seeing this error in the JS console.

<img width="1109" alt="Screen Shot 2022-10-20 at 2 13 54 PM" src="https://user-images.githubusercontent.com/8292562/197059425-9afc2b3b-dfd5-41c5-ab73-839208c20a1e.png">

[2022-10-20 21:23] mananjadhav commented on #11982
I am okay with @mollfpr's proposal [here](https://github.com/Expensify/App/issues/11982#issuecomment-1284159762). I am just not sure if:
- we should do an HoC like the proposal sugggested
- A parent component like `WorkspacePageWithSections`
- or just add the `if(!report)` checks in three pages.

What do you think @Beamanator  ?

🎀 👀 🎀 
C+ reviewed

[2022-10-20 21:30] tjferriss commented on #11677
I was not able to reproduce. Asked for clarification on next steps in the Slack thread.

[2022-10-20 21:37] sonialiap commented on #11694
[Job is posted to Upwork](https://www.upwork.com/ab/applicants/1583210411543572480/job-details)

[2022-10-20 21:41] stitesExpensify commented on #11787
@Puneet-here proposal looks good to me too! @muttmuure can you please create an upwork job so that they can apply?

[2022-10-20 21:42] mallenexpensify commented on #11449
Thanks for the ping, sorry for the delay.
@parasharrajat , please apply so I can hire to pay $250 to report
@thesahindia , your paid $250 for C+
@aimane-chnaif , please apply to pay$250 for the job.

https://www.upwork.com/jobs/~010438a42aa105569a

[2022-10-20 21:44] tjferriss commented on #11436
I was not able to reproduce this bug on the mobile app (v1.2.15-3). I was able to successfully delete the workspace. Asked for a follow up in the Slack thread.

[2022-10-20 21:50] stitesExpensify commented on #11084
@mvtglobally is this still on the list of issues we're testing?

[2022-10-20 21:51] mallenexpensify commented on #11852
@roryabraham can you see if you can repro when you get a chance?

[2022-10-20 21:51] mallenexpensify commented on #10906
And.. Still on hold

[2022-10-20 21:53] mallenexpensify commented on #11502
Putting on hold for a minute, I think we're wanting to create a tracking issue for animation related issues.

[2022-10-20 21:54] neil-marcellini commented on #11995
Xcode is up to date now. I [asked in Slack](https://expensify.slack.com/archives/C07J32337/p1666302778218049) for an Apple developer admin to help me get set up to run NewDot on my device.

[2022-10-20 21:54] Puneet-here commented on #11694
I was a little bit busy, I will check this today.

[2022-10-20 22:06] Puneet-here commented on #12049
### Proposal
The button will be enabled if user uses empty space so we need to check if a value exists by using `_.isEmpty(this.state.payPalMeUsername.trim())`
I believe we can also remove the current check since the user don't have any option to edit username unless they visit this page by url
https://github.com/Expensify/App/blob/07fc7d7fb6569b8705e50144a1e32fa3a941d1ba/src/pages/settings/Paymen

[2022-10-20 22:08] neil-marcellini commented on #11995
Weird, now I can't reproduce this bug.
https://user-images.githubusercontent.com/26260477/197067999-47d6d51b-a5c1-444e-a7cb-2453ce58a9fc.MP4

@sketchydroide @Justicea83 could you try to reproduce it again? If you can't also reproduce let's close this.

[2022-10-20 22:10] strepanier03 commented on #12027
Reproducible:

1. Created a new workspace under strepanier2003.newexpensify@gmail.com
2. Created a new employee account under strepanier2003.newexpensify+employee@gmail.com
3. Invited employee account to workspace
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/10925636/197067213-6ad47c37-5ba3-4941-8dec-f90cd9a930f2.png">
4. Confirmed employee account doesn't have #ann

[2022-10-20 22:14] tjferriss commented on #11693
Hired @mananjadhav as C+ and @mollfpr to fix the issue.

[2022-10-20 22:19] mananjadhav commented on #11693
Thanks @tjferriss I've accepted for C+

[2022-10-20 22:28] tjferriss commented on #11429
@MariaHCD I'm looking for your advice here based on your [previous comments](https://github.com/Expensify/App/issues/11429?notification_referrer_id=NT_kwDOAH6I0rI0NTA0NjMwMDI0OjgyOTI1NjI#issuecomment-1265419232). If this is still reproducible should I toss it back into the engineering pool?

[2022-10-20 22:29] #10975 closed

[2022-10-20 22:35] ntdiary commented on #10107
I have updated some details in the `Some details` [section](https://github.com/Expensify/App/issues/10107#issuecomment-1285709301), I'll update and discuss as necessary.

I hope to create a library (`electron-autofill`) for most electron apps that need it, and of course our app will be supported first. 😄

[2022-10-20 22:36] strepanier03 commented on #11973
@rushatgabhane That's odd, I have the option to make it private still and when I view the job details it's visible to everyone on upwork.

<img width="1048" alt="2022-10-20_15-35-33" src="https://user-images.githubusercontent.com/10925636/197071843-4f79d575-23ef-4d8f-939f-b53b2d63615f.png">
<img width="820" alt="2022-10-20_15-35-18" src="https://user-images.githubusercontent.com/10925636/197071849

[2022-10-20 22:39] JmillsExpensify commented on #8503
Still working through REA 3 PR.

[2022-10-20 22:42] JmillsExpensify commented on #10273
@tgolen Now that allocations are done, are you prioritizing this one?

[2022-10-20 22:50] neil-marcellini commented on #11995
Georgia confirmed that she also can not reproduce the issue [here](https://expensify.slack.com/archives/C07J32337/p1666303926458979?thread_ts=1666302778.218049&cid=C07J32337) so I'm closing it. Maybe it was a backend fix 🤔

[2022-10-20 22:50] #11995 closed

[2022-10-20 23:08] mananjadhav commented on #11543
@trjExpensify @marcochavezf this is done.

[2022-10-20 23:11] kavimuru commented on #11964
@neil-marcellini This is from the regression steps https://expensify.testrail.io/index.php?/tests/view/2893709&group_by=cases:section_id&group_order=asc&group_id=229043

[2022-10-20 23:21] mananjadhav commented on #9580
@ravindra-encoresky @sketchydroide The linked issue PR is merged. @ravindra-encoresky You can take the latest pull from `main` branch and continue with the PR.

[2022-10-20 23:24] strepanier03 commented on #12027
@jasperhuangg - If you don't think this should be labeled External just let me know. I plan to make the Upwork job tomorrow morning when I get back online.

[2022-10-20 23:30] roryabraham commented on #5536
I wouldn't be in support of this design, it feels like a hack. Instead, we should:

1. Persist draft messages in the database via a new API endpoint like `CreateDraftComment`
1. Propagate draft messages to all clients logged in to a user account
1. Then send drafts to the front-end in OpenApp and ReconnectApp so that they appear even if you log out, clear Onyx, and log back in

The only concern I

[2022-10-20 23:30] roryabraham commented on #5536
Given that, I don't think this can or should be an external issue

[2022-10-20 23:43] alex-mechler commented on #12023
No difference
[code]

@mdneyazahmad double check what versions of NPM and node you are on, they might be slightly different

[2022-10-20 23:43] #12023 closed

[2022-10-20 23:44] kavimuru commented on #11660
@MariaHCD Sure, checking with team and get back to you.

[2022-10-20 23:46] ctkochan22 commented on #11808
This might have to be internal. As the best way to go about fixing this would be to point your env to prod and debug directly within these accounts

[2022-10-20 23:47] ctkochan22 commented on #11525
@sophiepintoraetz Can you hire @Uros787 ?

[2022-10-20 23:49] kavimuru commented on #11952
@iwiznia Not reproducible by applause team. So added "Need reproduction" label

[2022-10-20 23:50] roryabraham commented on #11202
Okay, so we can close this out then if the original issue is not reproducible?

[2022-10-20 23:53] kavimuru commented on #11884
@iwiznia We have retested and it's fixed. Sorry for the late reply.

https://user-images.githubusercontent.com/43996225/197080512-b25524cd-ae07-4088-8411-7af43759f662.mp4

[2022-10-20 23:59] thienlnam commented on #11520
I'm heading OOO after today as well, though if it's just to update the file locations you should have write access to make a PR in that location (maybe?). But I'll just pullerbear another engineer to help ya out with this

[2022-10-20 23:59] roryabraham commented on #11852
I think I was able to reproduce this on Android Firefox, though it's not as dramatic as what was in the OP:

https://user-images.githubusercontent.com/47436092/197081114-b0d0fdc5-101b-4786-8340-b29160ee381a.mp4

[2022-10-21 00:03] roryabraham commented on #11451
It might've just been due to unreliable pusher events on dev that caused this issue during my local testing 🤷🏼

[2022-10-21 00:04] roryabraham commented on #4324
PR was merged today 🎉 :excited:

[2022-10-21 00:05] neil-marcellini commented on #11964
Okay got it thanks for clarifying. I'm able to reproduce the issue. I'm also able to reproduce the issue on iOS. I can't reproduce on Web so maybe it has something to do with the small screen width? I'll send it external because if it's limited to certain platforms then it's probably a front end issue.

https://user-images.githubusercontent.com/26260477/197080855-aed861a4-3531-40f7-b8b5-2008781e7e

[2022-10-21 00:06] thienlnam commented on #11520
Oh goodness sorry for the pings, I accidentally pressed the external label but it assigned an engineer so problem failed successfully

[2022-10-21 00:07] thienlnam commented on #11961
Going to be OOO this next week so unassigning myself

[2022-10-21 00:13] roryabraham commented on #10609
Removed `Help Wanted` for now

[2022-10-21 00:15] mollfpr commented on #11815
@mananjadhav @mountiny PR is ready 🚀

[2022-10-21 00:21] chiragsalian commented on #9971
Okay, I took some time fighting with the styles to get things consistent on Mobile/Web without any errors and testing took a bit of time too. Anyway, I finished testing, added screenshots, and just placed the code for review.

[2022-10-21 00:51] thienlnam commented on #11908
Going to be OOO next week so I'm going to re-assign so this can keep moving along

[2022-10-21 00:56] kavimuru commented on #11246
@NikkiWines Is this gmail account? For public domains "New room" option is not available.

[2022-10-21 01:07] thienlnam commented on #11809
Going OOO next week, going to re-assign this so we can keep moving forward with proposals

[2022-10-21 01:08] thienlnam commented on #11949
Going OOO next week so re-assigning

[2022-10-21 01:16] hungvu193 commented on #11283
Oops, I didn't know about the space event, but I'm glad that it work if we move the onPress function.

[2022-10-21 01:22] marcochavezf commented on #10417
Oh I see, thanks guys! Yeah, in that case, I think we should still put it on hold because the idea is to change the button on this page to the ["push-to-page" pattern](https://github.com/Expensify/App/issues/10417#issuecomment-1222100843):

<img width="1104" alt="Screen Shot 2022-10-20 at 20 19 54" src="https://user-images.githubusercontent.com/6829422/197089035-4bb58a5a-76e6-4395-83ef-565ec09f991

[2022-10-21 01:23] sophiepintoraetz commented on #11525
Done - I've invited you @Uros787 - but here's the [link](https://www.upwork.com/jobs/~01e2b71509d8a18788)

[2022-10-21 01:37] mollfpr commented on #11800
I just try your @dangrous snippet code, but I still got the issue without throttling the network. `AuthenticatePusher` is still called before `AddWorkspaceRoom` and returns a `404` error.

How about using the `pendingFields` from the `AddWorkspaceRoom` API call?

[2022-10-21 02:03] sophiepintoraetz commented on #11776
I'm going to close for now, we can reopen when it's time to action!

[2022-10-21 02:11] wildan-m commented on #11674
@sophiepintoraetz, numerous times (not sure exactly), or you can use my dummy email

wildevemail@gmail.com
type any password on the password form

[2022-10-21 02:21] sophiepintoraetz commented on #11674
All right, I just tried the wrong password 20 times for your email address and wasn't able to bring up the prompt (albiet, in incognito browser, though that shouldn't affect this bug flow). @wildan-m, can you confirm:
1. How many times you are entering the wrong password
2. Whether you can produce this in an incognito browser
<img width="614" alt="image" src="https://user-images.githubusercontent.

[2022-10-21 02:39] wildan-m commented on #11674
@sophiepintoraetz please use this correct password

mJIJ(83j#@#

Please let me know when you've copied the password

[2022-10-21 02:51] sophiepintoraetz commented on #11674
I have done so!

[2022-10-21 03:12] dhairyasenjaliya commented on #9408
Agreed @parasharrajat will try to solve it with the correct approach
sure @srikarparsi

[2022-10-21 04:14] kadiealexander commented on #11268
I can't replicate this. Here's what happens when I copy formatted text:

![2022-10-21_17-05-26 (1)](https://user-images.githubusercontent.com/59587260/197110142-877fdeae-ee31-4626-a5e6-d17610159e3c.gif)

Here's what happens when I copy text written in markdown, and a code block written in markdown:

![2022-10-21_17-10-53 (1)](https://user-images.githubusercontent.com/59587260/197110098-55f48a2d-ce

[2022-10-21 04:55] mdneyazahmad commented on #12023
@alex-mechler after the addition of nvm everybody is using the npm version.

https://user-images.githubusercontent.com/77761491/197115145-29a1a3da-c47f-4a6e-a145-17b373050ee6.mp4

[2022-10-21 05:07] ctkochan22 commented on #11199
I also could not reproduce on prod staging or dev. Going to close for now.

[2022-10-21 05:10] MonilBhavsar commented on #11687
Looks good to me too 👍

Let's update this for all forms

[2022-10-21 05:17] mdneyazahmad commented on #11192
@mananjadhav it works for me. Let me know what issues are you getting.

commit: https://github.com/mdneyazahmad/App/commit/f93e41b5b2b17a8f4cac7fae44b4ea957f36f696
branch: https://github.com/mdneyazahmad/App/tree/fix/11192-drag-image

https://user-images.githubusercontent.com/77761491/197117592-36d26b98-d8b0-4f87-aace-b3d85978ab16.mp4

[2022-10-21 05:22] varshamb commented on #12050
### Proposal

In LoginPage, ReportActionItem, OptionRowLHN, UnreadActionIndicator etc.
Use `props.translate()`

https://github.com/Expensify/App/blob/261c712e1b8118de955bd31e6cf5b070dd285b3d/src/pages/signin/LoginForm.js#L158

[2022-10-21 05:44] techievivek commented on #10347
Passing it to contributors to have a look.

[2022-10-21 06:02] thesahindia commented on #11800
Same results, it didn't work for me as well.

@mollfpr, feel free to share the code.

[2022-10-21 06:24] J-odion commented on #11525
looking forward to seeing how this turns out
cheers

[2022-10-21 06:43] smrutiparida commented on #10347
### Proposal

I quickly added a padding-right:0 and this is how it looks in below screenshot. is this what expected as a change.

<img width="272" alt="Screen Shot 2022-10-21 at 12 08 57" src="https://user-images.githubusercontent.com/5945400/197130028-ca3bd4ad-f60d-4a67-a661-5beb29cc82b2.png">

Code snippet below

<img width="775" alt="Screen Shot 2022-10-21 at 12 10 51" src="https://user-images.

[2022-10-21 07:09] Christinadobrzyn commented on #11430
Paid!

$250 @gadhiyamanan for the fix
$250 @eVoloshchak as C+
$250 @Puneet-here as the reporter

Closed the job in Upwork and closing this GH.

[2022-10-21 07:09] #11430 closed

[2022-10-21 07:17] Christinadobrzyn commented on #10555
7 day of product deployment done - paying this out and closing this job.

$1000 @dhairyasenjaliya for the fix
$1000 @parasharrajat as C+

Closed job in Upwork and closing this GH

[2022-10-21 07:17] #10555 closed

[2022-10-21 07:28] sobitneupane commented on #11671
[Proposal](https://github.com/Expensify/App/issues/11671#issuecomment-1282419495) from @fedirjh looks good to me. I am not sure why `UnreadIndicatorUpdater.throttledUpdatePageTitleAndUnreadCount();` was added in NavigationRoot.js. It was added in [this commit](https://github.com/Expensify/App/commit/211bd86236e5ccea86102cb25a8e452e86f5186a) by @marcaaron. @fedirjh is proposing to remove it. Change

[2022-10-21 07:34] MonilBhavsar commented on #8592
I'm able to reproduce this. @arielgreen Did you have "autocorrection" setting toggled on?

[2022-10-21 08:09] dylanexpensify commented on #9848
Not overdue

[2022-10-21 08:15] thesahindia commented on #11555
@mountiny, It is still reproducible.  Is https://github.com/Expensify/Expensify/issues/213315 not merged yet?

[2022-10-21 08:37] thienlnam commented on #10767
Regression hold before payment

[2022-10-21 08:38] thienlnam commented on #10693
Going to be OOO so re-assigning this so we can move forward with proposals
Also cc @adelekennedy this would be a good candidate for double!

[2022-10-21 08:48] thienlnam commented on #11486
For https://github.com/Expensify/App/issues/11486#issuecomment-1281906591, how come we're setting ` numberOfLines ={1}` in just those files? Doesn't that just limit the URL to a single line in those locations which is not the outcome we are looking for (we still want the URL to wrap).

So what it sounds like we need to do is get a proposal which updates wrapperWidth with change in tooltip text. It

[2022-10-21 08:48] thienlnam commented on #11486
@bfitzexpensify Could we please get the job price doubled here?

[2022-10-21 08:53] nkuoch commented on #10736
Sorry, too much on my plate, unassigning myself

[2022-10-21 09:08] sobitneupane commented on #11486
+1

Waiting for proposal which updates wrapperWidth with change in tooltip text

[2022-10-21 09:23] tsa321 commented on #11671
@sobitneupane  any advise for my [proposal](https://github.com/Expensify/App/issues/11671#issuecomment-1285811461)?

[2022-10-21 09:37] Julesssss commented on #10347
That doesn't look correct to me. The OptionRow items should have padding (notice the pin icon is now far too close to the egde). Instead, the extra space needs to be removed from the FlatList itself.

[2022-10-21 09:43] Julesssss opened #12052 "Settled IOUs are not being cleared for the receiving user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
- Send another user an IOU
- The other user settles the IOU
- I see the 'user2 paid you' component message

## Expected Result:
-

[2022-10-21 09:57] laurenreidexpensify commented on #11228
Not overdue, on hold

[2022-10-21 10:11] Julesssss commented on #10202
I just back through the entire thread and I now agree we should just get the PR merged as the highest priority. So much has changed since this was reported which complicates the RCA.

I agree the changes differing form the proposal isn't ideal, but we seem pretty close to a fix now.

[2022-10-21 10:17] parasharrajat commented on #10347
Correct, @smrutiparida 's proposal does not solve the correct problem and breaks the UI.

[2022-10-21 10:18] parasharrajat commented on #10347
Just to be sure, is this still reproducible? This issue was created 2 months back.

[2022-10-21 10:27] getusha commented on #11283
But it was not the problem anyways, can update mu proposal right? and what about the button when we switch with tab it is not perfect.

[2022-10-21 10:27] isabelastisser commented on #11131
Hey @mollfpr:

![2022-10-21_06-26-35](https://user-images.githubusercontent.com/31258516/197174901-c7bd2af0-ce85-4967-b760-401fd1156ca0.png)

[2022-10-21 10:50] isabelastisser commented on #11131
Update: I hired @mollfpr to fix the issue and @thesahindia as Contributor +.

@mvtglobally , I can't seem to find you on Upwork, can you please apply for the job so that I can hire you? Thanks!

[2022-10-21 10:54] isabelastisser commented on #11843
Reviewing this now.

[2022-10-21 11:15] isabelastisser commented on #11843
I'm unable to reproduce it! @kavimuru @gadhiyamanan

[2022-10-21 11:15] isabelastisser commented on #11824
Reviewing this now.

[2022-10-21 11:15] iwiznia commented on #11795
IMO this is part of the polish of WAQ and this issue too.

Agree

[2022-10-21 11:18] isabelastisser commented on #11824
Unable to reproduce it. @kavimuru

https://user-images.githubusercontent.com/31258516/197184087-125466af-7742-4851-9eca-563a87dfd6b0.mp4

[2022-10-21 11:21] gadhiyamanan commented on #11843
@isabelastisser still able to reproduce v1.2.16-5(production)
https://user-images.githubusercontent.com/54790231/197184527-6233ea92-d3b6-4c32-bfae-9aa512e7a022.mp4

[2022-10-21 11:23] sobitneupane commented on #11671
@tsa321 Your proposal is similar to 3rd solution in [this proposal](https://github.com/Expensify/App/issues/11671#issuecomment-1276338610). You can find advise for your proposal in https://github.com/Expensify/App/issues/11671#issuecomment-1277944934 comment and comments following it.

[2022-10-21 11:28] isabelastisser commented on #11795
Following this discussion before I can assign an engineer.

[2022-10-21 11:29] isabelastisser commented on #11688
Reviewing this now.

[2022-10-21 11:35] iwiznia commented on #11132
Oh, I think this is a dupe of https://github.com/Expensify/Expensify/issues/237206 and it is probably internal

[2022-10-21 11:36] iwiznia commented on #11132
Oh wait, maybe not. Forget that.

[2022-10-21 11:37] iwiznia commented on #11132
Ummm, isn't play store downloading the staging app because you are in the beta???

[2022-10-21 11:38] iwiznia commented on #11658
No, this is a bot created issue, so it will get automatically reopened.

[2022-10-21 11:39] NikkiWines commented on #11246
Oh, yes I was using a gmail account. Let me try on a private domain

[2022-10-21 11:39] iwiznia commented on #11658
Hmmmm, now that I am thinking about it, the issue says staging https://github.com/Expensify/App/issues/9293 anyway, commenting there and putting this on hold

[2022-10-21 11:42] isabelastisser commented on #11688
I was able to reproduce this:

https://user-images.githubusercontent.com/31258516/197188128-5658e83c-1e2f-43ef-9eea-29264c6b723b.mp4

[2022-10-21 11:52] isabelastisser commented on #11775
Reviewing this now.

[2022-10-21 11:54] Puneet-here commented on #11132
No, I don't think this is the case because external contributors aren't in the beta and I have tried some different accounts that I've never used at expensify but I still couldn't download the production app.

[2022-10-21 11:55] #11884 closed

[2022-10-21 11:57] NicMendonca commented on #10737
@roryabraham bump ☝️

[2022-10-21 11:57] CortneyOfstad commented on #12042
Was able to recreate this on my side and had to completely quit the app in order to get out of the black screen

![2022-10-21_06-56-15 (1)](https://user-images.githubusercontent.com/10926327/197190408-bca24dc8-d772-4ac2-a965-c30deeba99df.gif)

[2022-10-21 12:08] fedirjh commented on #11486
@sobitneupane actually setting a key for tooltip render will ensure toottip rerendering when text changes , this fix width recalculation

https://github.com/Expensify/App/blob/dfb5bca05a5b12e62ec86520819fd5a4ac66e405/src/components/Tooltip/index.js#L173-L174
[code]

we will need to remove the whiteSpace: 'nowrap'
https://github.com/Expensify/App/blob/dfb5bca05a5b12e62ec86520819fd5a4ac66e405/src/st

[2022-10-21 12:13] isabelastisser commented on #11775
hey @kbecciv, can you please let me know the exact steps you're taking to get to this page?

[2022-10-21 12:13] NikkiWines commented on #11246
I'm unable to reproduce this on iOS staging v1.2.18-4. Closing since QA is also unable to reproduce this.

https://user-images.githubusercontent.com/16747822/197192951-97342445-4e09-4d86-aae1-5fc671531bad.MP4

[2022-10-21 12:13] #11246 closed

[2022-10-21 12:18] azimgd commented on #10107
## Demo
https://user-images.githubusercontent.com/4882133/197191516-b5acb91d-292d-494c-ae40-f1de0cdbc326.mov

- Proposal: https://github.com/Expensify/App/issues/10107#issuecomment-1275606422
- Follow-up: https://github.com/Expensify/App/issues/10107#issuecomment-1277507900

### Known issues with demo
- `zIndex` inconsistencies make some element overflow
- Save password feature is not implemented,

[2022-10-21 12:29] isabelastisser commented on #11775
Hi @kavimuru, I'm unable to reproduce this on the web app. Perhaps this is happening because you're not using the Expensify web app but the unsupported web browser version of the platform.

https://user-images.githubusercontent.com/31258516/197194830-a9d97352-ef7a-4e20-bbf8-cd3bca73f72e.mp4

[2022-10-21 12:38] azimgd commented on #10107
## Issues with node-keytar

https://github.com/atom/node-keytar/issues/88

https://github.com/atom/node-keytar/issues/50

## Build issues
https://github.com/atom/node-keytar/issues/359
https://github.com/atom/node-keytar/issues/406
https://github.com/atom/node-keytar/issues/245
https://github.com/atom/node-keytar/issues/50

[2022-10-21 12:41] NicMendonca commented on #11507
@Puneet-here @parasharrajat can you please accept [the job offer](https://www.upwork.com/jobs/~01f1890e0e03a08d7f) when you get the chance please?

[2022-10-21 12:42] NicMendonca commented on #11059
@Uros787 the job posting is [here](https://www.upwork.com/jobs/~0199b6f2d618d1d175), thanks!

[2022-10-21 12:42] MariaHCD commented on #11429
@tjferriss I see that it is reproducible if you use the native back button on an Android device. However, I don't believe we have a solution for this yet and should continue to remain on hold as part of https://github.com/Expensify/App/issues/11768. I think there's no need for another engineer to take a look at this.

[2022-10-21 13:02] cristipaval commented on #12026
Hey @laurenreidexpensify, yes, I had a glance locally on my machine and seems that the search is performed on the client, no api call. We can mark it as external.

[2022-10-21 13:12] cristipaval commented on #11276
I can't reproduce it. Tested on we, desktop, chrome on Android, Android native, safari on iOS, iOS native.

[2022-10-21 13:13] cristipaval commented on #11276
I think we can close the issue since the last reproduction happened 25 days ago.

[2022-10-21 13:34] bfitzexpensify opened #12054 "[Tracking] Pagination issues"
HOLD on https://github.com/Expensify/App/issues/16660

This is a tracking issue for a number of different pagination issues:

- https://github.com/Expensify/App/issues/7860
- https://github.com/Expensify/App/issues/12006
- https://github.com/Expensify/App/issues/2545

[2022-10-21 13:37] laurenreidexpensify commented on #12025
https://www.upwork.com/jobs/~01a51c9760a2d3a8c8

[2022-10-21 13:43] Smart133594 commented on #11059
Hi, only upwork is possible for your job?
Directly hire impossible?

On Fri, Oct 21, 2022 at 8:44 AM Uroš Stojanović ***@***.***>
wrote:

[2022-10-21 13:45] tsa321 commented on #11671
@sobitneupane
Based on @marcaaron  advice:

so we cannot remove reports variable inside `stopListeingForReportChanges`.

How about:

[code]

[2022-10-21 13:49] michaelhaxhiu commented on #10442
Thanks for sharing. In this case, I agree and buddy checked with @techievivek in a DM.

I think you are due $500 ($250 for each independent fix) and @Santhosh-Sellavel is due $250 for C+ reviewing one of those fixes (the other fix was reviewed by internal expensify staff).

[2022-10-21 13:50] mananjadhav commented on #11059
@Smart133594 Thanks for the comment, but we make our Payments via Upwork. So while the proposal review, and PR etc. is all done via Github, the payment happens only via Upwork only! Please check the our [contributing guidelines](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) here

[2022-10-21 13:52] laurenreidexpensify commented on #12026
https://www.upwork.com/jobs/~0105f9e9709c5f9cc1

[2022-10-21 14:00] ahmdshrif commented on #10347
@parasharrajat I can't repro it now.  I think this was a react-navigation issue.  not a style issue.
 anyway, it's working fine now.

[2022-10-21 14:00] iwiznia commented on #11952
ok let's close for now

[2022-10-21 14:03] Smart133594 commented on #11059
Thanks but if I have no upwork account and I want also work on this.
How can I? May I use other man's account?

On Fri, Oct 21, 2022 at 9:50 AM Manan ***@***.***> wrote:

[2022-10-21 14:09] chauchausoup commented on #11276
I agree. Its not reproducible now.

[2022-10-21 14:10] kavimuru opened #12055 "Bug: Endless spinner appears when Sign out and sign in back again"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. signed out of  test account on chrome, [staging.new.expensify.com](http://staging.new.expensify.com/)
2. signed back into tes

[2022-10-21 14:14] zanyrenney commented on #11667
Discussing unifying this with some of the other issues: https://expensify.slack.com/archives/C01SKUP7QR0/p1666318536729249

[2022-10-21 14:16] slafortune commented on #11408
@kavimuru Are you still able to reproduce this on all platforms or had you reproduced it on one?  Which one?

[2022-10-21 14:22] sketchydroide commented on #11771
not overdue

[2022-10-21 14:22] parasharrajat commented on #10347
@Expensify/applause Could you please retest it?

[2022-10-21 14:27] ntdiary commented on #10107
Interesting.
I also take this very seriously. I read the source code of both and tested some use cases for storage choices, rather than just blindly choosing A or B based on the README or doc. I think I can do more testing for this and help come to a conclusion.

[2022-10-21 14:27] sketchydroide commented on #11237
still haven't had the time to check, busy with the deployment, will check again

[2022-10-21 14:30] sketchydroide commented on #11979
https://github.com/Expensify/App/issues/11995 was closed, we can't replicate it anymore, maybe it was a backend issue.

[2022-10-21 14:30] zanyrenney commented on #11667
On hold for: https://github.com/Expensify/App/issues/11330

[2022-10-21 14:31] mallenexpensify commented on #11330
Couple other issues might be related to this.  Gonna put them on hold pending this fix.
@deetergp we OK to hire @rawalyogendra?

https://github.com/Expensify/App/issues/11667
https://github.com/Expensify/App/issues/11590

[2022-10-21 14:31] sketchydroide commented on #11979
https://github.com/Expensify/App/issues/12009 was also closed, we can't replicate it anymore. checking it off

[2022-10-21 14:32] mallenexpensify commented on #11590
Putting on hold for a minute... https://github.com/Expensify/App/issues/11330 might fix this

[2022-10-21 14:33] mallenexpensify commented on #11667
Thanks Zany, I removed the `Help Wanted` label too since it's on hold

[2022-10-21 14:35] sketchydroide commented on #11979
@mvtglobally
What is missing from the last 3 items that need checking in the list?

[2022-10-21 14:36] kbecciv commented on #10347
@parasharrajat Sure, will update you shortly.

[2022-10-21 14:36] slafortune commented on #11396
Not able to recreate -
![image](https://user-images.githubusercontent.com/11725910/197221439-1a3383f0-de16-4d6b-a55f-7e9a1cf6facb.png)

[2022-10-21 14:36] #11396 closed

[2022-10-21 14:41] joekaufmanexpensify commented on #11424
@parasharrajat Just bumping the offer for this one for whenever you have a sec. Could you accept in Upwork?

[2022-10-21 14:42] joekaufmanexpensify commented on #11424
PR has been merged, QA is ongoing.

[2022-10-21 14:42] vladamx commented on #11823
PR is up https://github.com/Expensify/App/pull/12056

[2022-10-21 14:43] parasharrajat commented on #11424
Will do. Thanks

[2022-10-21 14:44] kbecciv commented on #11775
@isabelastisser The issue is reproduced on IOS 16, I have IOS 14.2 - drop down for Unit is looks like this.

![IMG_5092](https://user-images.githubusercontent.com/93399543/197223374-a9b665e9-79c1-4b61-82ea-3d61408e8a0f.png)

[2022-10-21 14:51] joekaufmanexpensify commented on #11850
Updated repro steps to be even more clear. Requesting that an engineer add demolition label!

[2022-10-21 14:52] mallenexpensify commented on #11952
@muttmuure can you please attempt to reproduce and provide your results? Updated the SO so the steps are

[2022-10-21 14:52] mvtglobally commented on #11979
@sketchydroide

We cant validate https://github.com/Expensify/App/pull/11640 on Android and IOS due to this https://github.com/Expensify/App/issues/11796. Are we ok to check it off?

PR https://github.com/Expensify/App/pull/12013 was failing. Re-testing right now

[2022-10-21 14:52] Santhosh-Sellavel commented on #10202
Thanks, @trjExpensify @Julesssss

So far,

We hired @liyamahendra them for  [proposal]([https://github.com/Expensify/App/issues/10202#issuecomment-1213487004).](https://github.com/Expensify/App/issues/10202#issuecomment-1213487004).)
But the proposed changes didn't work as expected on [Android](https://github.com/Expensify/App/pull/10394#issuecomment-1222293066) found on the review.

@liyamahendra

[2022-10-21 14:54] stitesExpensify commented on #11555
It was just merged last night. It hasn't been deployed yet

[2022-10-21 14:54] joekaufmanexpensify commented on #11850
Figured I'd test just to make sure I couldn't do this myself (since [we want Bug Zero](https://expensify.slack.com/archives/C01SKUP7QR0/p1666296503315919?thread_ts=1666296312.358889&cid=C01SKUP7QR0) to add demolition going forward).

[2022-10-21 14:56] pecanoro commented on #10930
This has already been fixed, so closing!

[2022-10-21 14:56] #10930 closed

[2022-10-21 14:57] kavimuru opened #12058 "[$500] BUG: Mac/Firefox - Opening the protect PDF modal and pressing TAB doesn’t focus on enter the password reported by @dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any conversation
2. Send Protected PDF (if required)
3. Open Protected PDF
4. Press TAB key simultaneously try to navig

[2022-10-21 14:57] michaelhaxhiu commented on #11850
@luacmartins can you apply the `demolition` label since you confirmed it was reproducible? In the future anyone will be able to add that label (https://github.com/Expensify/Expensify/issues/237144) but for now only Engineers can do it.

[2022-10-21 14:58] Santhosh-Sellavel commented on #10202
@Julesssss @trjExpensify
Now we could anyone the following,

1. Add a Help Wanted label and look again for the proposal with the right root cause and solution
2. Review the active PR and merge it.

I am leaning towards `1` freshly kick start it again, as I am not confident with active PR.

I would like to hear your opinions, and let's take action on this.

Thanks!

[2022-10-21 14:59] sobitneupane commented on #11671
Hello @tsa321, Thank you for your proposal.

**Suggestion:**
- At first please go through the discussion above.
- Be sure your proposal is substantially different from other proposals.

Your first proposal was same as 3rd solution of https://github.com/Expensify/App/issues/11671#issuecomment-1276338610  and your second proposal is almost similar to https://github.com/Expensify/App/issues/11671#iss

[2022-10-21 15:05] stitesExpensify commented on #11461
The PR this was held on in merged. Removing the hold. @Uros787 based on the changes in that PR do you see your proposal changing at all?

[2022-10-21 15:05] joekaufmanexpensify commented on #11916
Awaiting proposals.

[2022-10-21 15:08] stitesExpensify commented on #11079
This is ready to be paid out, right?

[2022-10-21 15:08] kavimuru commented on #11408
@slafortune I was not ale to reproduce too, so I added the label `Needs reproduction` This was reported by @Github.com/dimasna

[2022-10-21 15:11] mananjadhav commented on #11079
I as paid here and I am assuming Sobit was paid too. Guessing reporting bonus is pending.

[2022-10-21 15:14] tsa321 commented on #11671
Ok. I didn't see it. Thank you for your feedback.

[2022-10-21 15:15] kavimuru commented on #11824
@isabelastisser I was not able to reproduce. Please check this thread https://expensify.slack.com/archives/C01GTK53T8Q/p1665683715227409

[2022-10-21 15:17] sketchydroide commented on #11979
yeah lets

[2022-10-21 15:18] sobitneupane commented on #11079
I was also paid.

[2022-10-21 15:19] stephanieelliott commented on #10608
All paid up!

[2022-10-21 15:19] #10608 closed

[2022-10-21 15:22] AndrewGable commented on #9293
They will come in for both staging and production apps. You can check the version of the app to tell if it's staging vs production.

[2022-10-21 15:25] stephanieelliott commented on #11088
C and C+ have been paid up!  Just waiting on @thesahindia to accept the job on Upwork so we can pay the reporting bonus to close this out.

[2022-10-21 15:27] thesahindia commented on #10608
@stephanieelliott, I think reporting compensation is pending on this one. Can you please look into it?

[2022-10-21 15:33] iwiznia opened #12060 "App on ios emulator not detecting correct emulator to use"
Context https://expensify.slack.com/archives/C03TQ48KC/p1666362417121579

# Problem

Apparently when trying to run the ios app, it is not finding correctly the latest emulator I have installed and for some reason is looking for iPhone13, when I only have iPhone14 installed.

Error:
[code]

My emulators:
[code]

Workaround: run `npx react-native run-ios --simulator='iPhone 14'` instead of `npm run

[2022-10-21 15:34] JmillsExpensify commented on #2545
Given that we seem to be unholding #7860, should we now put this issue on [Hold] since it will likely be solved by that issue? That's an epic proposal that is going to be broken down into 4-5 separate issues.

[2022-10-21 15:35] sketchydroide commented on #11979
I think we can check https://github.com/Expensify/App/pull/12038 as it has been confirmed to fix the issue.

[2022-10-21 15:40] kbecciv opened #12061 "[HOLD App#11910] Chat - Two admis and two announce rooms have been created after click Create a Free Policy in OldDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12013

## Action Performed:
1. Log in staging.expensify.com
2. Create a new ac

[2022-10-21 15:41] OSBotify commented on #12061
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-21 15:41] michaelhaxhiu commented on #2545
@JmillsExpensify my only hesitation is assuming this will certainly be fixed by #7860.

Or perhaps better - we can directly ask @LucioChavezFuentes if they agree that this problem will be fixed via their proposal in https://github.com/Expensify/App/issues/7860.

[2022-10-21 15:42] michaelhaxhiu commented on #8235
held on #10894

[2022-10-21 15:44] srikarparsi commented on #11405
@stephanieelliott is out of office for the next couple of days so reassigning another contributor manager.

[2022-10-21 15:49] mountiny commented on #11908
@parasharrajat @Puneet-here thanks, waiting for a full proposal

[2022-10-21 15:50] stitesExpensify commented on #4547
Closing this for now. We can come back to it when we do custom emojis or something.

[2022-10-21 15:50] #4547 closed

[2022-10-21 15:50] mollfpr commented on #11982
Honestly, I like this approach but we still need to update the code that throws an error because of the render call before we dismiss the modal.

I guess we can't do this because we want to make all code DRY.
`I verified all code is DRY (the PR doesn't include any logic written more than once, with the exception of tests)`

[2022-10-21 15:54] Julesssss commented on #10202
I was on the fence, but after a quick iOS/mWeb test it seems to work pretty nicely. Let's continue with a full PR review. I'm curious if mWeb padding should be identical to native iOS. But they do both look centered 👍

![Simulator Screen Shot - iPhone 13 - 2022-10-21 at 16 52 31](https://user-images.githubusercontent.com/10736861/197237758-6043a616-9813-4adc-a054-b64f3d3746cb.png)
![Simulator Scre

[2022-10-21 15:54] alex-mechler commented on #12023
What does your `npm get config` look like?

[code]

[2022-10-21 15:54] mvtglobally commented on #11979
@sketchydroide there is a new issue. https://github.com/Expensify/App/issues/12061
Introduced by https://github.com/Expensify/App/pull/12038

[2022-10-21 15:56] shawnborton commented on #10202
@Julesssss I'd be curious to see those screens with just a single line of text, too.

[2022-10-21 15:56] mountiny commented on #12060
This could be External right?

[2022-10-21 15:57] smrutiparida commented on #10347
You are right. That is not the right place to add padding. I will wait for @kbecciv to confirm a repro now and then can try removing the extra space from Flatlist

[2022-10-21 15:57] sketchydroide commented on #12061
@mountiny sorry man, can you check if your PR broke this, QA are saying this was introduced with https://github.com/Expensify/App/pull/12038

[2022-10-21 15:58] sketchydroide commented on #11979
😭

[2022-10-21 15:58] Santhosh-Sellavel commented on #10202
@Julesssss Not sure if you noticed or not, but in the above screenshots check the top & bottom padding it's different on each screenshot.

<img width="1046" alt="Screenshot 2022-10-21 at 9 27 45 PM" src="https://user-images.githubusercontent.com/85645967/197238579-7cdb73b9-2803-46b2-afd0-c6a4aee11245.png">

<img width="911" alt="Screenshot 2022-10-21 at 9 27 38 PM" src="https://user-images.githubu

[2022-10-21 15:58] sketchydroide commented on #11979
let me see if we can fix that.
Did https://github.com/Expensify/App/pull/12013 pass?

[2022-10-21 16:00] trjExpensify commented on #11695
@gadhiyamanan any thoughts on this question?

[2022-10-21 16:01] mountiny commented on #12061
Asked @alex-mechler as this would have to be related to the initial logic change rather than the follow up fix of syntax

[2022-10-21 16:02] trjExpensify commented on #11695
In the meantime, job is on Upwork here: https://www.upwork.com/jobs/~01787df7c25949e98d

[2022-10-21 16:03] pecanoro commented on #11732
@hungvu193 Feel free to apply for the job and work on a PR!

[2022-10-21 16:04] hungvu193 commented on #11732
can you send me the link of the job please?

[2022-10-21 16:05] trjExpensify commented on #11687
Sent offers to you both on Upwork!

[2022-10-21 16:05] Puneet-here commented on #12060
This happens because at `node_modules/@react-native-community/cli-platform-ios/build/commands/runIOS/index.js` the default is iPhone 13. You can set any emulator here
<img width="409" alt="Screenshot 2022-10-21 at 9 23 46 PM" src="https://user-images.githubusercontent.com/101883770/197239777-8a96f24f-2d46-4018-ab34-12c8047c006b.png">

[2022-10-21 16:05] laurenreidexpensify commented on #11241
Sorry @Julesssss was OOO and this got lost in the mix. Will double now.

[2022-10-21 16:06] twisterdotcom commented on #11795
What would this amount to then?

1. Move `First name` and `Last name` into their own `Display name` drawer
2. Move `Pronouns` into its own `Pronouns` drawer
3. Move `Timezone` into its own `Timezone` drawer
4. Move `Email` and `Phone` into it's own `Contact` drawer

For the latter, would we follow the existing _Contact Methods_ design, or would we keep the settings in the drawer like this?
<img wi

[2022-10-21 16:06] pecanoro commented on #11949
Waiting for proposals!

[2022-10-21 16:08] mountiny commented on #12060
Would that not be overwritten when someone runs npm install since it is in noce_modules? How can we make it default?

[2022-10-21 16:08] pecanoro commented on #11732
@johncschuster Can you send @hungvu193 the link for the Upwork job?

[2022-10-21 16:08] trjExpensify commented on #11543
Excellent, thanks! @marcochavezf can you get this reviewed now, please?

[2022-10-21 16:10] Julesssss commented on #10202
Yeah, I mentioned that [here](https://github.com/Expensify/App/issues/10202#issuecomment-1287151756):

I don't think it's a big deal though:
- If we're setting a different value for web/native, then we should 100% align them
- Else, if this is just a small difference between web and native mobile then I think it's fine. The spacing is consistent if we exclude the highlight

[2022-10-21 16:10] Puneet-here commented on #12060
Just tried npm install and it didn't change back to the previous value.

[2022-10-21 16:11] Julesssss commented on #10202
Sorry @shawnborton I've switched to testing a different PR and I'm running out of time today. Will save this for the full review. Single line looked good to me though.

[2022-10-21 16:12] Puneet-here commented on #11079
Yes, it's pending.

cc: @adelekennedy

[2022-10-21 16:17] shawnborton commented on #10202
Got it. Please tag me once that's ready for review, thanks!

[2022-10-21 16:17] laurenreidexpensify commented on #11341
@shawnborton can you comment above? Thanks

[2022-10-21 16:17] michaelhaxhiu commented on #11111
IMO this shouldn't be `daily` if it's on hold. It should go to `monthly` till it's ready to move on it

[2022-10-21 16:18] AndrewGable commented on #11947
External for sure, let me know what you think of the existing proposals @parasharrajat

[2022-10-21 16:18] michaelhaxhiu commented on #10885
Making monthly since this is on hold.

[2022-10-21 16:21] AndrewGable commented on #11772
If we cannot reproduce, we might want to close, thoughts @isabelastisser ?

[2022-10-21 16:25] michaelhaxhiu commented on #9391
Let me try again today. I am noticing you are using Safari, whereas I was using Chrome. Going to try on both browsers today.

[2022-10-21 16:25] michaelhaxhiu commented on #10442
All paid.

[2022-10-21 16:25] #10442 closed

[2022-10-21 16:28] parasharrajat commented on #11947
@AndrewGable Which field do you think should be auto-focused?

[2022-10-21 16:29] roryabraham commented on #11851
@miljakljajic Let's get an Upwork job posted for this issue

[2022-10-21 16:29] AndrewGable commented on #11947
Feels like the first, do you agree?

[2022-10-21 16:31] sketchydroide commented on #11979
@mvtglobally Did https://github.com/Expensify/App/pull/12013 pass? (sorry repeat of my previous comment but I forgot to CC you)

[2022-10-21 16:32] Puneet-here commented on #11947
I believe we shouldn't use auto focus a field unless it's confirmed that the user will be filling that field first. In this case the first field is optional.

[2022-10-21 16:33] Puneet-here commented on #12060
Yeah that makes sense but I believe there's no other way to set the default simulator. The only other way to use specific simulator is to use `--simulator` flag but that's also a problem because we can't tell which emulator is available on the system.

[2022-10-21 16:33] PauloGasparSv commented on #12042
Marking this as External! Found some other fix suggestions on the web other than the one [commented here](https://github.com/Expensify/App/issues/12042#issuecomment-1285900417) so it's not an uncommon issue with electron

[2022-10-21 16:35] parasharrajat commented on #11947
it seems both fields are optional then we don't need to autofocus any. What do you say?

[2022-10-21 16:36] laurenreidexpensify commented on #11390
https://www.upwork.com/jobs/~013fe6eb65708a20e5

[2022-10-21 16:36] AndrewGable commented on #11947
Can you link me to previous discussions on auto focus? I didn't realize that there is a rule that required == autofocus?

[2022-10-21 16:38] parasharrajat commented on #11947
It's just my opinion. I don't think there is such a rule.

[2022-10-21 16:38] johncschuster commented on #11732
Sure! I'll get that going now.

[2022-10-21 16:40] AndrewGable commented on #11947
Ok can you create a discussion in Slack? cc @Expensify/design might know if we have any rules on when to autofocus too.

[2022-10-21 16:41] arielgreen commented on #8311
@parasharrajat what do we need to do to push this forward? We have a proposal that's been waiting two weeks for review.

[2022-10-21 16:44] arielgreen commented on #10625
Paid.

[2022-10-21 16:44] #10625 closed

[2022-10-21 16:45] arielgreen commented on #10888
PR in progress

[2022-10-21 16:45] arielgreen commented on #10290
PR in progress

[2022-10-21 16:45] arielgreen commented on #11261
PR in progress

[2022-10-21 16:46] parasharrajat commented on #11947
Asked on https://expensify.slack.com/archives/C01GTK53T8Q/p1666370717320949

[2022-10-21 16:46] arielgreen commented on #11048
Thanks @mananjadhav!

[2022-10-21 16:47] roryabraham commented on #11979
Lol, this issue is not a bug

[2022-10-21 16:47] roryabraham commented on #11979
And WOW we had a lot of deploy blockers this time

[2022-10-21 16:48] arielgreen commented on #11048
https://www.upwork.com/jobs/~019bba3822889fb13a

[2022-10-21 16:49] arielgreen commented on #8592
@MonilBhavsar yes I do. Are you on iOS 16?

[2022-10-21 16:57] OSBotify commented on #11979
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11944) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.18-5` :rocket:

[2022-10-21 16:58] jasperhuangg commented on #11762
We're still waiting for proposals on this one, correct?

[2022-10-21 17:01] adeel0202 commented on #11436
I'm not able to reproduce this bug anymore.

[2022-10-21 17:14] parasharrajat commented on #11390
Interesting issue.

[2022-10-21 17:15] francoisl commented on #12061
Thanks for reporting @kbecciv. We've been investigating and figured this is not a blocker:

This is now normal, and is related to https://github.com/Expensify/App/pull/12013. The behavior is currently different on production because that PR has not been deployed to production yet.

@alex-mechler was able to reproduce this on production, so it doesn't appear to be a regression. We believe it's a bu

[2022-10-21 17:17] marcochavezf commented on #11973
That makes sense, let's do it.

Thank you for the review @rushatgabhane! Assigning @varshamb 🚀

[2022-10-21 17:18] roryabraham commented on #11979
Consensus in `#fireroom-2022-10-21` is that the last blocker ... is [not a blocker](https://expensify.slack.com/archives/C047HF5UYVB/p1666372553346029?thread_ts=1666372069.284979&cid=C047HF5UYVB). Checking it off

[2022-10-21 17:20] roryabraham commented on #11979
@Expensify/applauseleads we decided to CP https://github.com/Expensify/App/pull/11944 because it fixes some critical bugs and we wanted to get it out over the weekend. Let's make sure we complete QA for that before proceeding to deploy production

[2022-10-21 17:20] alex-mechler commented on #12061
I wonder if this is related to https://github.com/Expensify/App/issues/11910 (which has a pr up)

[2022-10-21 17:20] bfitzexpensify commented on #7860
Hey @LucioChavezFuentes — something else we'd like to offer would be a speed-of-completion bonus.

If this could be completed in the next 2 weeks, we'd tack an extra $4k onto the total payout.

[2022-10-21 17:22] mananjadhav commented on #10888
PR is raised, but I can't get to this until tomorrow.

[2022-10-21 17:25] parasharrajat commented on #8311
I will take it on by tomorrow and if possible today. All proposals are reviewed and we just need to make a final decision on which approach to take. The last time, I opened a discussion on slack there was no clear conclusion after waiting for days. So I will make a decision best of my judgment. Maybe it requires another discussion. Please wait till tomorrow.

[2022-10-21 17:28] puneetlath commented on #11300
PR has been merged. Just waiting for deploy and then regression period.

[2022-10-21 17:32] parasharrajat commented on #11947
We can close this issue based on slack discussion.

[2022-10-21 17:32] puneetlath commented on #10289
Paid @mzohaibqc.

Sent hiring offer to @parasharrajat.

[2022-10-21 17:33] #11947 closed

[2022-10-21 17:33] mvtglobally commented on #11979
We are on it

[2022-10-21 17:34] puneetlath commented on #10289
All paid. Thanks everyone!

[2022-10-21 17:34] #10289 closed

[2022-10-21 17:36] puneetlath commented on #11453
Jason will be the BZ person for navigation issues, so assigning to him.

[2022-10-21 17:37] puneetlath commented on #11420
Jason will be the BZ person for navigation issues, so assigning to him.

[2022-10-21 17:37] puneetlath commented on #11372
Jason will be the BZ person for navigation issues, so assigning to him.

[2022-10-21 17:38] puneetlath commented on #11768
Jason will be the BZ person tag teaming this with me, so assigning to him to the issue as well.

[2022-10-21 17:41] puneetlath commented on #11099
I agree that this is a new feature, not a bug. Storing drafts in the db so they can be cross-device (and persist across sessions) isn't the current intended behavior. I'm going to close this as this doesn't seem like an important feature right now and we have plenty of bugs to focus on. Feel free to reopen if you disagree.

[2022-10-21 17:41] #11099 closed

[2022-10-21 17:43] parasharrajat commented on #11390
Thanks for the proposal @Ollyws. Please follow - [CONTRIBUTING Guidelines](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) to propose a proposal to help us manage things easily.

---
`caretColor` seems like a non-standard RN-style property. Will it issue a warning?

[2022-10-21 17:52] mallenexpensify commented on #11493
What's the reasoning or link for this. I find it to be 'low quality' to be in Desktop and have my phone 'light up' all the time with messages.  Is there a link to a discussion?

[2022-10-21 17:54] strepanier03 commented on #12027
Upwork Job [created](https://www.upwork.com/ab/applicants/1583516929391411200/suggested).

Job posting: https://www.upwork.com/ab/applicants/1583516929391411200/job-details

[2022-10-21 17:55] strepanier03 commented on #11863
Moved to weekly according to SO since the job exists but we haven't accepted a proposal yet.

[2022-10-21 17:58] parasharrajat commented on #11390
Thanks for the proposal everyone. We decided to do nothing here as changing the cursor will add unnecessary overhead. By default, the platform should select the best cursor color for its users.

[2022-10-21 18:00] OSBotify commented on #11979
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.18-5 has been deployed to staging :tada:

[2022-10-21 18:01] deetergp commented on #9402
Still on hold

[2022-10-21 18:01] mountiny commented on #11722
Still on hold

[2022-10-21 18:01] strepanier03 commented on #11973
@rushatgabhane can you try this one? https://www.upwork.com/jobs/~01a8fdb4689abc1f23

That's the only other link I can find to send.

[2022-10-21 18:03] strepanier03 commented on #11753
Job link: https://www.upwork.com/jobs/~0102877a7e9f3ceac7

[2022-10-21 18:12] kavimuru commented on #11660
@MariaHCD Issue is fixed.

https://user-images.githubusercontent.com/43996225/197261877-f7a77a96-8622-4221-b6ed-77fdbb80da60.mp4

[2022-10-21 18:14] mananjadhav commented on #10352
@Gonals Did you get a chance to look at this [comment](https://github.com/Expensify/App/issues/10352#issuecomment-1282944268)?

[2022-10-21 18:16] luacmartins commented on #11126
I think that this issue is related to https://github.com/Expensify/Expensify/issues/229696. The problem seems to be the order of events:

1. App comes back online and we trigger ReconnectApp
2. The server sends back the last know value, i.e. `Daily`. Since we had `Mute` saved locally, that value gets saved to Onyx and we add a `UpdateReportNotificationPreference` request with value `Daily` to the

[2022-10-21 18:16] mananjadhav commented on #10950
@Abdallah-Ahmed-moh quick bump on this PR [comment](https://github.com/Expensify/App/pull/11717#issuecomment-1286106927)

[2022-10-21 18:31] kbecciv commented on #11867
Issue is reproducible with build 1.2.18.5, re-opening

https://user-images.githubusercontent.com/93399543/197265339-975a7a7b-06c3-4d41-b7a2-c826eaf3136f.mp4

[2022-10-21 18:39] marcochavezf commented on #11960
I can reproduce it on my device:

![Screenshot_20221021-133511.jpg](https://user-images.githubusercontent.com/6829422/197266499-4f7564b9-f33f-4a7e-9a46-32427ed3dccc.jpg)

I wonder if there's something specific on Android that's preventing updating the network status.

[2022-10-21 18:40] kbecciv commented on #10347
Issue is not reproducible in our end
![Screenshot_20221021-143837_Chrome](https://user-images.githubusercontent.com/93399543/197267018-6593cb1e-351a-47cd-a16a-2fa35b41bcf8.jpg)
![Screenshot_20221021-143846_Gallery](https://user-images.githubusercontent.com/93399543/197267020-589c11aa-a4dc-463c-a7cb-4254ac2c8bbd.jpg)

[2022-10-21 18:43] grgia commented on #12055
@mallenexpensify is this what you mean?
https://user-images.githubusercontent.com/38015950/197267369-819922ae-85f7-41f8-8fe7-837dac296608.mov

[2022-10-21 18:53] neil-marcellini commented on #11914
I simplified the reproduction steps so hopefully they are more clear now.

[2022-10-21 19:02] luacmartins commented on #11058
I'll try to get to this next week!

[2022-10-21 19:03] bfitzexpensify commented on #11456
Upwork job [here](https://www.upwork.com/jobs/~013bb051933f6848a4)

[2022-10-21 19:07] abekkala commented on #11895
https://www.upwork.com/jobs/~016adeac1fdb2fad89

[2022-10-21 19:17] shawnborton commented on #11341
I agree with that @Beamanator

[2022-10-21 19:18] mvtglobally commented on #11979
@roryabraham @sketchydroide Seeing few issues with new PR. Team is checking if any blockers and logging in a bit

[2022-10-21 19:20] LucioChavezFuentes commented on #7860
I see the links point to react-native. I just want to clarify my proposal targets issues on `react-native-web`. I’m planning to propose the changes to [react-native-web upstream repo](https://github.com/necolas/react-native-web) as soon as possible.
Thank you!

[2022-10-21 19:23] Santhosh-Sellavel commented on #7968
Still disagree,

Because delete is not shown out of the blue,

only when the user long press the message and from context option after selecting delete then the confirmation modal is shown that's more conscious enough, also similarly to workspace delete needs to open the workspace -> (three dots) menu and select delete workspace.

cc: @stitesExpensify

[2022-10-21 19:23] michaelhaxhiu commented on #10893
@b1tjoy are you interested in adapting your proposal to accommodate the latest feedback? Doubled the job value to encourage that :)

[2022-10-21 19:28] trjExpensify commented on #11795
I kinda' think we should follow the Contact Methods design, otherwise the `Resend` button for the phone number secondary login will be inconsistent with the rest of the updates.

Also, do we need to add a `5.` for making sure we update the `Preferences` settings page as well?

[2022-10-21 19:31] fedirjh commented on #11486
i think the issue is when we componentDidUpdate , we use the old state value to calculate new one , which results a wrong value , i think to get the right value we should reset the value of `tooltipTextWidth` to the initiavaluel value `tooltipTextWidth: 0,` then recalculate the value . here is explanation , when the component is rendered the first time `getTooltipStyles()` uses initial values this

[2022-10-21 19:37] mountiny commented on #11979
@roryabraham @sketchydroide I think iOS build [failed there](https://github.com/Expensify/App/actions/runs/3299127362) so the fix is not in testflight for iOS yet (I cannot test on android unfortunately)

[2022-10-21 19:44] slafortune commented on #11385
Reproducible with our own Chronos image -

![image](https://user-images.githubusercontent.com/11725910/197276297-bae0cc43-a5fe-4ece-9a7f-62aade05227c.png)

[2022-10-21 19:48] mallenexpensify commented on #11713
@isabelastisser , per[ the new BZ process ](https://stackoverflow.com/c/expensify/questions/14418) you need to leave yourself assigned, even for internal issues, reassigning 🐱

[2022-10-21 19:52] puneetlath commented on #11671
Ok, let's go with @fedirjh's proposal. Let's make sure we do some very thorough testing on the PR to ensure we aren't introducing regressions on this one.

[2022-10-21 19:56] mallenexpensify commented on #11808
@zanyrenney auto-assigned as BZ, please review the[ main chore SO](https://stackoverflow.com/c/expensify/questions/14418) if you have any questions.

[2022-10-21 19:59] mallenexpensify commented on #10525
Reassigning @zanyrenney, per the new BZ process we want all issues assigned.  Main chore SO is https://stackoverflow.com/c/expensify/questions/14418.

BZ design doc is https://docs.google.com/document/d/14MayFMbP8g43nNnWtqtgKKnCxbmJw3v0zvk5wZaIzBE/edit#heading=h.mnjguil21u0a

[2022-10-21 20:01] mallenexpensify commented on #12043
@maddylewis , new BZ chore SO is [here](https://stackoverflow.com/c/expensify/questions/14418), we want to ensure BZ stays assigned to all issues so we can get to BugZero,

[2022-10-21 20:05] mallenexpensify commented on #12058
@zanyrenney  new BZ chore SO is [here](https://stackoverflow.com/c/expensify/questions/14418), we want to ensure BZ stays assigned to all issues so we can get to BugZero,

[2022-10-21 20:05] mallenexpensify commented on #12055
@maddylewis  new BZ chore SO is [here](https://stackoverflow.com/c/expensify/questions/14418), we want to ensure BZ stays assigned to all issues so we can get to BugZero,

[2022-10-21 20:06] roryabraham commented on #11979
Retrying the iOS deploy now

[2022-10-21 20:09] maddylewis commented on #12055
@mallenexpensify - im confused by your comment. are you saying a member of the BZ team should stay assigned to any BUG issues they're assigned until the bug is resolved?

[2022-10-21 20:10] puneetlath commented on #10622
Sorry for the delay, just added a comment on the PR.

[2022-10-21 20:19] cowboycito commented on #10893
Simple and straightforward proposal since I don't have much time available at this exact moment, but could weigh in a little more later today.

# Proposal
Create a new `DeeplinkWrapper` component that would be a global wrapper of the web app and would listen to URL changes. At first we could decide on a subset of routes we want to have deeplink (we could use [this](https://github.com/Expensify/App

[2022-10-21 20:20] mallenexpensify commented on #12050
@zanyrenney  new BZ chore SO is [here](https://stackoverflow.com/c/expensify/questions/14418), we want to ensure BZ stays assigned to all issues so we can get to BugZero,

[2022-10-21 20:21] mallenexpensify commented on #12049
@sophiepintoraetz  new BZ chore SO is [here](https://stackoverflow.com/c/expensify/questions/14418), we want to ensure BZ stays assigned to all issues so we can get to BugZero,

[2022-10-21 20:22] mallenexpensify commented on #12048
@lschurr  new BZ chore SO is [here](https://stackoverflow.com/c/expensify/questions/14418), we want to ensure BZ stays assigned to all issues so we can get to BugZero,

[2022-10-21 20:22] mallenexpensify commented on #12047
@kadiealexander  new BZ chore SO is [here](https://stackoverflow.com/c/expensify/questions/14418), we want to ensure BZ stays assigned to all issues so we can get to BugZero,

[2022-10-21 20:23] mallenexpensify commented on #12046
@adelekennedy  new BZ chore SO is [here](https://stackoverflow.com/c/expensify/questions/14418), we want to ensure BZ stays assigned to all issues so we can get to BugZero,

[2022-10-21 20:23] lschurr commented on #11960
Posted job:

https://www.upwork.com/ab/applicants/1583554500929646592/job-details
https://www.upwork.com/jobs/~01911db2637a614757

[2022-10-21 20:24] mallenexpensify commented on #12045
@dylanexpensify  new BZ chore SO is [here](https://stackoverflow.com/c/expensify/questions/14418), we want to ensure BZ stays assigned to all issues so we can get to BugZero,

[2022-10-21 20:33] kavimuru opened #12066 "[PAID][Regression in PR][$250] BUG: Able to check Select all checkbox of the manage members page when there is only me (workspace owner) on the list reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to Settings
2. Go to Profile
3. Delete profile pic if already exist
4. Click on avatar
5. Click on Upload photo
6. Choose

[2022-10-21 20:40] JmillsExpensify commented on #12060
Is this a problem still then? @iwiznia We need to get in the habit of creating issues and ensuring that people are assigned so that these issues don't end up hanging out for months. Accordingly, I'm going to assign you and you can either close / make sure someone is assigned.

[2022-10-21 20:40] mvtglobally commented on #11979
@sketchydroide @roryabraham
While we are waiting for IOS

https://github.com/Expensify/App/pull/12013 is only failing with https://github.com/Expensify/App/issues/12061. Since thats not a blocker, I guess we can check it off.

PR. https://github.com/Expensify/App/pull/11944 is failing with https://github.com/Expensify/App/issues/11867. Its an older KI.

@mountiny Android Build is updated

[2022-10-21 20:43] johncschuster commented on #11732
Sorry for the delay folks. Here's the posting!
https://www.upwork.com/jobs/~0172b47f9e5677177d

@hungvu193, can you apply and let me know when you've done that?

[2022-10-21 20:44] alexpensify commented on #11816
Job has been created here: https://www.upwork.com/ab/applicants/1583559459428450304/job-details
External Link: https://www.upwork.com/jobs/~01f174bbce556e4071

[2022-10-21 20:44] johncschuster commented on #10506
@marcaaron bump. What are your thoughts? Should we keep this on HOLD, or should we work on it?

[2022-10-21 20:46] maddylewis commented on #11697
hi sorry for the delay here - still getting up to speed on BZ stuff. i will get the job posted to Upwork and post the link to this issue.

[2022-10-21 20:50] mountiny commented on #12060
This is still a problem I think since everyone should be on XCode 16 and the default one is iPhone 14 we should set that as default so we can update the package.json to use the --simulator flag and use the iPhone 14 right?

[2022-10-21 20:52] JmillsExpensify commented on #11998
Jumping in to test this one now.

[2022-10-21 20:54] mountiny commented on #11979
Correct

@mvtglobally this is also ok, the issue mentioned should not be solved by this change. We thought it might and but it has a different root cause, updated the PR body there.

[2022-10-21 20:55] mountiny commented on #11867
I think this has been reported much before the react-drawer change, cant find the link right now :(

[2022-10-21 20:57] johncschuster commented on #10417
Thanks for clarifying that. I'm going to downgrade the priority of this to `Weekly`, but will keep it open and bumping so it doesn't erode.

[2022-10-21 20:59] Puneet-here commented on #12060
Yes, I think it makes sense since most people will be using the latest XCode.

We just have to use the line below
`  "ios": "npx react-native run-ios --simulator=\"iPhone 14\"",`
https://github.com/Expensify/App/blob/c638000bce780372f046886db9bc182135973d6a/package.json#L13

[2022-10-21 21:04] alexpensify commented on #11825
The job has been created in Upwork:

Internal: https://www.upwork.com/ab/applicants/1583564673241923584/job-details
External: https://www.upwork.com/jobs/~017971a3070c51f85a

[2022-10-21 21:11] mountiny commented on #11867
Oh, there we go, thanks!

[2022-10-21 21:23] NicMendonca commented on #11197
@Puneet-here any update?

[2022-10-21 21:26] mallenexpensify commented on #12055
Yes @maddylewis  but... I have a feeling you nor QA will be able to reproduce so you'll end up closing this issue if no one can.

[2022-10-21 21:29] Puneet-here commented on #11197
@NicMendonca aren't we holding this? Should I push the code?

[2022-10-21 21:34] Puneet-here commented on #11588
@rushatgabhane, I am testing the code and capturing the screenshot but not sure what to do about mobile screenshots. This modal is only available for desktop app and web. I have taken the screenshots at mobile browser by changing the code but the mobile app crashes because of the styling here https://github.com/Expensify/App/blob/c638000bce780372f046886db9bc182135973d6a/src/styles/styles.js#L2579

[2022-10-21 21:36] kavimuru opened #12067 "BUG: All contacts disappear from LHN on adding a user to workspace reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to settings
2. Open a workspace > Manage members
3. Click on Invite > Select a contact and invite
4. Check the LHN

## Exp

[2022-10-21 21:44] tjferriss commented on #9408
Upworks post is live - https://www.upwork.com/jobs/~019dc712cf78819fe3

[2022-10-21 21:44] OSBotify commented on #12067
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-21 21:58] JmillsExpensify commented on #11372
Assigning myself so that I can work with Puneet on the larger issue which is currently blocking this one.

[2022-10-21 21:59] JmillsExpensify commented on #11372
And....I'm just seeing Puneet's comment above. Thanks Github.

[2022-10-21 22:06] tjferriss commented on #11677
I looked for this issue this morning and was again unable to reproduce.

Action Performed:
Closed computer yesterday.
Opened computer today, I'm online with fast and dependable internet.
Opened NewDot on web

Results:
Everything appeared to be working as expected.

@hannojg @kavimuru can you both confirm the testing steps and see if you're still able to reproduce?

[2022-10-21 22:10] tjferriss commented on #12052
I just tested this out and I wasn't able to reproduce it.

<img width="1137" alt="Screen Shot 2022-10-21 at 3 09 02 PM" src="https://user-images.githubusercontent.com/8292562/197295887-cbfa15f6-af32-4141-a627-a262fc527229.png">

[2022-10-21 22:10] JmillsExpensify commented on #11963
This is interesting. It effectively means that we can't reliably use the last name as a status update. I think that's fine for now, though it does mean we're baking it some unpolished experiences in the app.

[2022-10-21 22:13] tjferriss commented on #11771
@mollfpr and @thesahindia can you please both apply for the job in Upworks? https://www.upwork.com/jobs/~01b4d1935870536df3

[2022-10-21 22:16] mvtglobally commented on #11979
Still no IOS build

[2022-10-21 22:17] tjferriss commented on #11436
Closing as the bug appears to be fixed now.

[2022-10-21 22:17] #11436 closed

[2022-10-21 22:19] roryabraham commented on #11979
Working on it, just put up https://github.com/Expensify/App/pull/12068 to try and fix it

[2022-10-21 22:23] tjferriss commented on #11438
@kavimuru are you still able to reproduce this?

[2022-10-21 22:27] tjferriss commented on #11488
I'm not able to reproduce as I don't have a simulator or a real business bank account to add in order to get this error message. @gadhiyamanan is reporting they can see still see the bug, so I'm going to pass this over to engineering.

[2022-10-21 22:38] OSBotify commented on #11979
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12068) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.18-6` :rocket:

[2022-10-21 22:51] JmillsExpensify commented on #12010
@MitchExpensify Do you need help with a password protected PDF? I can create one for you.

[2022-10-21 22:58] roryabraham commented on #11979
Still working on iOS deploys, another PR [here](https://github.com/Expensify/App/pull/12072)

[2022-10-21 22:58] OSBotify commented on #11979
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.18-6 has been deployed to staging :tada:

[2022-10-21 22:59] mallenexpensify commented on #11449
Hired @aimane-chnaif and @parasharrajat , please accept, comment here, then I'll pay. Thx

[2022-10-21 23:03] mallenexpensify commented on #11852
Job posted https://www.upwork.com/jobs/~01519c155a21384488

[2022-10-21 23:07] mallenexpensify commented on #11132
Job posted https://www.upwork.com/jobs/~0138615bf32be2c02c

[2022-10-21 23:13] francoisl commented on #12061
I'm going to be OOO next and won't have time to look into this one more today, going to put it back in the pool.

[2022-10-21 23:21] grgia commented on #11311
Looks like it's still working with a new chat too- going to close for now!
https://user-images.githubusercontent.com/38015950/197304167-8c7ad8c3-a842-4342-8567-d310ddc2fd87.mov

[2022-10-21 23:21] #11311 closed

[2022-10-21 23:26] mallenexpensify commented on #10148
If it's a reproducible bug I think we should fix it.  Partly cuz... I have a _feeling_ that it'll become more prevalent as we have more and more chats in our profile or the app.  It appears to be reproducible in both iOS and Android too.  If we think _something else_ might improve or fix this, I could see putting it on hold though.  ¯\_(ツ)_/¯

[2022-10-21 23:33] deetergp commented on #11999
Bump @kbecciv

[2022-10-21 23:39] mallenexpensify commented on #12066
@adeel0202 @kavimuru , you shouldn't be able to remove the admin of a workspace, right? So that box wouldn't/shouldn't be checked since it's not actionable... right?

https://user-images.githubusercontent.com/22508304/197305081-d7df3956-41fa-4db2-98d0-3ac3248fc00d.mp4

[2022-10-21 23:41] sakluger commented on #11680
Noting that @aneequeahmad reported this bug first, so they are eligible for a reporting bonus. @roryabraham feel free to assign me to the issue when it's just about completed so I can create and link an Upwork job.

[2022-10-21 23:41] sakluger commented on #11904
Cool, closing in favor of https://github.com/Expensify/App/issues/11680. I left a comment on that issue that @aneequeahmad should be paid the reporting bonus once it's completed.

[2022-10-21 23:41] #11904 closed

[2022-10-21 23:51] kavimuru commented on #12066
@mallenexpensify Yes, shouldn't be able to select the admin to delete. But it allows to remove and then error message appears. This is only reproducible by following the same steps in the actions performed. Please change the profile image of size 3mb.

[2022-10-21 23:52] chiragsalian commented on #11319
Friendly bump to retest @mvtglobally when you get the chance 🙂

[2022-10-21 23:55] kavimuru commented on #11438
@tjferriss I am still not able to reproduce. @aneequeahmad are you able to reproduce?

[2022-10-21 23:58] aneequeahmad commented on #11438
@kavimuru, @tjferriss I can still reproduce this issue on production.

Video: (Recorded just now)

https://user-images.githubusercontent.com/36359331/197306414-ad5542c0-76a9-4db2-9a2d-33d057bc46b3.mov

[2022-10-22 00:03] mayocube commented on #11132
Hi
I saw the job on Upwork and did some digging, checked the code and everything seems to be good, unless someone pushed a staging build to the production?

Coz the environment variables are the only things that differentiates things in the process, so maybe the build pushed to the production (public) is a staging environment build?

If not, can I more context on it?
I mean like access to things l

[2022-10-22 00:05] aneequeahmad commented on #11438
### Action Performed: (Detailed)

- Open new.expensify.com.
- Compose box will be auto focused.
- Press tab 1 time(`Emoji picker` will get focus)
- Press enter/return key to open `Emoji picker`
- Search will get focus (autFocused)
- Press tab 1 time (First emoji will get focus).
- Press right arrow (->) key 3 times.
- Press enter to select grey highlighted emoji.

cc: @kavimuru

[2022-10-22 00:05] aneequeahmad commented on #11438
Let me know if these detailed action performed work or not.

[2022-10-22 00:18] aldo-expensify commented on #11848
Awaiting proposal . @mananjadhav are you going to do a formal proposal?

[2022-10-22 00:38] mollfpr commented on #11771
@tjferriss Applied, thank you!

[2022-10-22 00:56] mallenexpensify commented on #6527
Snaggin' from you lil Kev cuz I got the tracking issue assigned to me
[Tracking] [Polish] Image-related feature request and improvements #10894

[2022-10-22 00:57] mallenexpensify commented on #8235
@michaelhaxhiu Snaggin' from you cuz I got the tracking issue assigned to me
[Tracking] [Polish] Image-related feature request and improvements #10894

[2022-10-22 00:58] OSBotify commented on #11979
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12072) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.18-7` :rocket:

[2022-10-22 00:59] mallenexpensify commented on #9402
@MitchExpensify Snaggin' from you cuz I got the tracking issue assigned to me
[Tracking] [Polish] Image-related feature request and improvements #10894

[2022-10-22 01:01] mallenexpensify commented on #7862
@trjExpensify I got assigned to the tracking issue for 'polish' and this is on there, I'm going to _co-assign_ with you as BugZero/Contributor Manager. (Since it's moving along I don't want to 👢 you since you know what's going on and I don't :)

[2022-10-22 01:02] cowboycito commented on #10893
# Proposal

Ok so here's a more formal proposal for the issue.

A new component called `DeeplinkWrapper` would be created as below (only for web - and desktop -, on mobile it would just return `children`):

[code]

Please note that `isMacOSWeb` is a courtesy from @b1tjoy

Besides that we would just need a simple way of handling the deeplink URL on the dekstop app, and @b1tjoy seems like it'll do t

[2022-10-22 01:02] mallenexpensify commented on #11085
@MitchExpensify Snaggin' from you cuz I got the tracking issue assigned to me
[Tracking] [Polish] Image-related feature request and improvements #10894

[2022-10-22 01:04] mallenexpensify commented on #10792
Been a minute.... let's see...
@roryabraham , should Alex Beaman be assigned to cuz he's leading
 [Tracking] [Polish] Image-related feature request and improvements #10894

If so, I reckon I should be too since I'm the the BugZero (BZ) team person for that tracking issue.

Also... @roryabraham and/or @Szymon20000 , is this actively being worked on? If so, any update?

[2022-10-22 01:06] mallenexpensify commented on #11425
@JmillsExpensify Snaggin' from you cuz I got the tracking issue assigned to me
[Tracking] [Polish] Image-related feature request and improvements #10894

Also assigning @Beamanator cuz he's leading that.

[2022-10-22 01:06] kbecciv opened #12075 "Web - Payment - An error when trying to mark the withdrawal account as the default"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go URL https://staging.new.expensify.com/
2. Login with Expensifail account
3. Go to Settings->Workspace->Connect Bank account

[2022-10-22 01:07] mallenexpensify commented on #11511
@NicMendonca Snaggin' from you cuz I got the tracking issue assigned to me
[Tracking] [Polish] Image-related feature request and improvements #10894

[2022-10-22 01:07] roryabraham commented on #11979
Yet another deploy running [here](https://github.com/Expensify/App/actions/runs/3301360027/jobs/5446740177), hopefully this one works 🤞🏼

[2022-10-22 01:08] mallenexpensify commented on #11197
@NicMendonca Snaggin' from you cuz I got the tracking issue assigned to me
[Tracking] [Polish] Image-related feature request and improvements #10894

@Puneet-here , hold off on pushing code for now. Thanks for the patience

[2022-10-22 01:12] roryabraham commented on #10792
Yes, I think so.

Definitely not by me – I don't think there's been any active development on this.

[2022-10-22 01:12] mallenexpensify commented on #10950
@laurenreidexpensify co-assigning cuz I'm part of
 [Tracking] [Polish] Image-related feature request and improvements #10894

[2022-10-22 01:13] roryabraham commented on #10792
Thanks @mallenexpensify

[2022-10-22 01:25] OSBotify commented on #11979
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.18-7 has been deployed to staging :tada:

[2022-10-22 01:44] hungvu193 commented on #11732
@johncschuster I've just applied

[2022-10-22 03:18] MarkCSmith commented on #11433
I am sorry I am going to miss this deadline.  Hopefully I can post the PR on Monday (still working on testing and the PR template; this is my first time doing all those things).

[2022-10-22 04:55] mvtglobally commented on #11979
Unfortunately, still no IOS

[2022-10-22 05:09] gadhiyamanan commented on #11488
revert condition in the below code to see an error
https://github.com/Expensify/App/blob/70efb00eeb6e9617ecfa478e6348a252d4ac13f4/src/pages/ReimbursementAccount/BankAccountStep.js#L140-L149

![Simulator Screen Shot - iPhone 13 mini - 2022-10-22 at 10 30 20](https://user-images.githubusercontent.com/54790231/197320795-bee5a299-2ebb-4cd4-a580-23b036d3052a.jpg)

[2022-10-22 06:05] Prince-Hamza commented on #11695
**Proposal**
you can simply add ` {flexGrow:1}` to a FlatList. like :

[code]

 No need of ScrollView. works without virtualizedList error or any other error.
tested on react native web nd Android.
Code Sandbox : https://codesandbox.io/s/async-tree-mdvw7l?&file=/src/App.js

[2022-10-22 06:30] thesahindia commented on #11132
I also feel the same. @srikarparsi, can you please look into it?

[2022-10-22 06:33] thesahindia commented on #11433
No problem. Feel free to ask questions if you get stuck on something.

[2022-10-22 06:57] mdneyazahmad commented on #12023
@alex-mechler
[code]

[2022-10-22 11:00] getusha commented on #11283
**Here** is an update to my previous proposal.
@parasharrajat @shawnborton
We can fix the focus inconsistencies as follows.

We can remove the inline styling completely

[code]
TO
[code]

https://github.com/Expensify/App/blob/70efb00eeb6e9617ecfa478e6348a252d4ac13f4/src/styles/styles.js#L2085-L2094

apply margin to it

[code]

https://user-images.githubusercontent.com/75031127/197335368-1a76b354-8

[2022-10-22 11:35] Babur171 commented on #11970
@rushatgabhane can you share me your code?

[2022-10-22 12:10] hungvu193 commented on #12028
<b>Proposal</b>
Disable the text selection highlighting can help us fix this problem.

<b>Solution</b>
Apply this style to the ScreenWrapper of InitialSettingPage:

[code]

[code]

https://user-images.githubusercontent.com/16502320/197338308-ce43ee26-2e06-4f19-a751-e5f53996a138.mov

[2022-10-22 14:56] 1notchdev commented on #11636
@strepanier03 , in this issue, is there something to do more?

[2022-10-22 16:17] smrutiparida commented on #11132
I am not too sure but seems to me that it could be a caching issue with what build gets downloaded and then that build does not match with version in package.json in the build. And then we see a badge. I hypothesize this as I see version shown in screenshot is different from what should have been in playstore at that time ( by looking at the release in github). We have new build versions deployed

[2022-10-22 16:32] Santhosh-Sellavel commented on #10893
@cowboycito
Thanks for the proposal

Like you used `isMacOSWeb`  you could've added that also in your proposal.

How we will be using `DeeplinkWrapper` component?

Can you break it done it to steps like [here](https://github.com/Expensify/App/issues/10893#issuecomment-1272495980) send an updated proposal in a new comment. thanks!

[2022-10-22 17:05] thesahindia commented on #11816
EEP! None of us noticed that we have a dupe issue https://github.com/Expensify/App/issues/11874. We also have a [PR](https://github.com/Expensify/App/pull/11959) for it.

cc: @MonilBhavsar

[2022-10-22 18:39] kbecciv commented on #12029
@NikkiWines Yes, correct steps 2-4 are taken from admin account.
Expected results in Secondary device (Employee):
Verify that the employee lost access to the #announce room and that their workspace policy chat got archived.

Sending you TR link if its easy to follow the steps https://expensify.testrail.io/index.php?/tests/view/2894431.

[2022-10-22 18:51] kbecciv commented on #11866
@thienlnam Sent request for updating TR, thank you

[2022-10-22 21:48] puneetlath commented on #11636
All paid out. Thanks everyone!

[2022-10-22 21:48] #11636 closed

[2022-10-22 22:31] fedirjh commented on #11671
@puneetlath  @sobitneupane i have a better proposal . i have 2 points

- We are already listening to report changes in the [Report.js](https://github.com/Expensify/App/blob/363d98fd3a3567c102c5359ba5257c67f95c60d0/src/libs/actions/Report.js#L943) . isn't better to minimize the connections ? we can use that callback to watch the unread status , we don't have to create new connection
- I don't recom

[2022-10-22 22:37] 1notchdev commented on #11636
Thanks everyone!

[2022-10-22 22:55] fedirjh commented on #11671
@sobitneupane  this is the issue when we have huge number of reports , title is updating multiple time during onyx clear , this is due to listening to clear changes , as I suggested , we don't have to listen to clear changes , and we have to reset reports after onyx.clear

https://user-images.githubusercontent.com/36869046/197365023-c55b434d-0961-4e87-82b8-20ecbe0a1bff.mov

[2022-10-22 22:57] quinthar commented on #11321
Oh great yes, that's exactly what I'm experiencing!

[2022-10-23 00:40] #11824 closed

[2022-10-23 00:59] isabelastisser commented on #11843
I'm still unable to reproduce it. @kavimuru @gadhiyamanan

https://user-images.githubusercontent.com/31258516/197368088-6b33b628-54e6-4230-acd6-9b278c04cfbe.mp4

[2022-10-23 01:20] isabelastisser commented on #11772
Yes, closing this now.

[2022-10-23 01:20] #11772 closed

[2022-10-23 01:26] isabelastisser commented on #11494
Reviewing this now.

[2022-10-23 01:34] isabelastisser commented on #11494
I was able to reproduce it on the web and mobile.

https://user-images.githubusercontent.com/31258516/197368939-17adf234-93c9-4b96-96a2-60f58d583a3e.mp4

[2022-10-23 02:24] mountiny commented on #11816
Thanks for the ping, gonna look into that

[2022-10-23 09:20] mvtglobally commented on #11999
Double checking..

[2022-10-23 09:32] mvtglobally commented on #11999
@deetergp
See the difference. on Safari you can only PASTE. There is no other option

<img width="412" alt="Screen Shot 2022-10-23 at 5 31 06 AM" src="https://user-images.githubusercontent.com/43995119/197384781-a4717148-a872-46e8-a4ae-cae9999000c3.png">
<img width="628" alt="Screen Shot 2022-10-23 at 5 30 59 AM" src="https://user-images.githubusercontent.com/43995119/197384785-a64c86df-89ee-4c50-

[2022-10-23 11:27] cowboycito commented on #10893
# Proposal

A new component called `DeeplinkWrapper` would be created as below (only for web - on mobile and desktop it would just return `children`):

[code]

Please note that `isMacOSWeb` is a courtesy from @b1tjoy.

This component would be used in `src/Expensify.js` as follows:

[code]

For handling the deeplink URL in the desktop app we would need 2 steps:

1. Configure deeplink scheme in `con

[2022-10-23 13:46] danishyasin33 commented on #11486
Hi all,

I've been following the conversation and I feel we're going in loops. I've tested the following solution thoroughly and it seems to be getting the job done.

1. I don't see the need for updating the `wrapperWidth`. It won't resolve the issue we are discussion, the issue being: `wrap longer than x length tooltips`. The width already updates according to the text, you can check that via log

[2022-10-23 13:50] tgolen commented on #11650
I honestly don't really know. Can you check SO to see what the current process is supposed to be? It's constantly evolving.

[2022-10-23 13:52] tgolen commented on #9620
I think we should just close this, yes.

[2022-10-23 13:54] alexpensify commented on #11650
@isabelastisser - I was confused too. On Friday, I asked [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1666383995622829) and confirmed that I did need to create a job for the GH that I was tagged as `external`. I think that's the next step here.

[2022-10-23 13:55] tgolen commented on #11633
Let's have @JmillsExpensify or @trjExpensify chime in on exactly what's expected. I don't think we had a clear idea before.

[2022-10-23 14:04] tgolen commented on #11268
Oh man, this issue is getting confusing.

@kadiealexander that's not totally correct, no. In your second video, you are making the same mistake that the previous commenter did as well, by thinking that our markdown is the same as the markdown supported by GitHub. What you're doing is an invalid test.

You can see in my video from [this comment,](https://github.com/Expensify/App/issues/11268#issuec

[2022-10-23 14:04] #11268 closed

[2022-10-23 14:10] tgolen commented on #11330
Yes, this is OK. Let's please go with this proposal.

[2022-10-23 14:17] nkuoch commented on #11777
Will try to work on it next week

[2022-10-23 17:02] kavimuru opened #12081 "BUG: DEV - Loading animation shows on Concierge chat reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open app in dev mode
2. Select chat with Concierge
3. Observe the animation before the start of the chat section

## Expected

[2022-10-23 17:45] tgolen commented on #11354
The proposal looks good 👍

[2022-10-23 18:31] kavimuru opened #12082 "BUG: Loading chat preview stuck after creating new chat while offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Log into Expensify on desktop with Device A
2. On Device B, any platform, log in to another account that has never chatted wi

[2022-10-23 18:34] Santhosh-Sellavel commented on #10893
Perfect @cowboycito this looks good & well written. I'll review and let you know Thanks!

[2022-10-23 18:54] maddylewis commented on #11697
job posted here - https://www.upwork.com/jobs/~019259c7134745d072

[2022-10-23 19:00] maddylewis commented on #12043
reproducible here -

https://user-images.githubusercontent.com/38016013/197410572-64cf2b53-591b-4e18-af99-eb237626bef0.mp4

[2022-10-23 19:10] maddylewis commented on #12043
job posted - https://www.upwork.com/jobs/~01e355bdb9800b63a9

[2022-10-23 19:13] maddylewis commented on #12055
will attempt to reproduce on monday.

[2022-10-23 19:50] parasharrajat commented on #11816
Waiting on the signal from Vit.

[2022-10-23 20:46] Julesssss commented on #11493
Hey @mallenexpensify, here's the[ pre-design thread.](https://expensify.slack.com/archives/C01GTK53T8Q/p1666109949817589)

[2022-10-23 20:50] #11675 closed

[2022-10-23 21:33] Puneet-here commented on #11487
### Proposal
At Details page instead of the [CommunicationsLink](https://github.com/Expensify/App/blob/70efb00eeb6e9617ecfa478e6348a252d4ac13f4/src/pages/DetailsPage.js#L155) I will use `CopyTextToClipboard`
Here's the changes we need -
at [DetailsPage.js](https://github.com/Expensify/App/blob/main/src/pages/DetailsPage.js)

[code]
at [CopyTextToClipboard.js](https://github.com/Expensify/App/blob/

[2022-10-23 23:09] davidcardoza commented on #11964
I can't reproduce the issue on iOS or web. This error seems to be isolated to Android only.

[2022-10-24 00:30] huzaifa-99 commented on #12043
### Proposal
This issue happens because `tab navigation` (with `Tab` key or `Shift+Tab` combo) is not handled for the `FlatList` in `EmojiPickerMenu/index.js` component.
https://github.com/Expensify/App/blob/70efb00eeb6e9617ecfa478e6348a252d4ac13f4/src/components/EmojiPicker/EmojiPickerMenu/index.js#L495-L510

So whenever `Tab` is pressed, this code block gets executed and sets the focus on the se

[2022-10-24 00:42] adelekennedy commented on #10830
@Beamanator are we still holding even if it's not reproducible? Can we close this?

[2022-10-24 01:06] davidcardoza commented on #11820
Hired @Puneet-here to fix the issue.

[2022-10-24 04:06] mdneyazahmad commented on #7968
@Santhosh-Sellavel we can ignore that for now. Do you thing my proposal fixes the issue? Also I think there should be an outline around cancel button (focused) that may not be there when user clicks with a pointer device, but with a keyboard.

ref: https://www.w3.org/WAI/ARIA/apg/patterns/dialogmodal/#:~:text=If%20a%20dialog,in%20such%20circumstances.

[2022-10-24 04:42] mvtglobally commented on #11319
@chiragsalian we were not able to reproduce. I asked team to double check as well

[2022-10-24 07:05] MariaHCD commented on #11660
Great, thanks for retesting @kavimuru!

[2022-10-24 07:05] #11660 closed

[2022-10-24 07:06] techievivek commented on #11885
https://github.com/Expensify/App/issues/11885#issuecomment-1285042615 We already have a fix for it so once it is deployed we will be good to close this issue.

[2022-10-24 07:08] techievivek commented on #12036
https://github.com/Expensify/App/issues/11437 is deployed on staging and has been checked off from the deploy blocker list. Once it's closed we can examine https://github.com/Expensify/App/issues/11968, and https://github.com/Expensify/App/issues/11885 and we will be good to close them.

[2022-10-24 07:14] thesahindia commented on #11858
Not overdue.

[2022-10-24 07:14] thesahindia commented on #11800
Not overdue.

[2022-10-24 07:20] osama256 commented on #11921
### PROPOSAL
Replacing `copySelectionToClipboard` method in `src/components/CopySelectionHelper.js` with this method :
[code]

https://user-images.githubusercontent.com/51829206/197469228-b1f200da-6a42-409c-8d4e-ca250c7a2b66.mp4

[2022-10-24 07:26] techievivek commented on #11346
This is occurring from the concierge placeholder options we have [here](https://github.com/Expensify/App/blob/70efb00eeb6e9617ecfa478e6348a252d4ac13f4/src/languages/en.js#L170).

We will need to update both the `en.js` and `es.js` files.

<img width="793" alt="Screenshot 2022-10-24 at 12 44 56 PM" src="https://user-images.githubusercontent.com/35863227/197468817-8b88e9d6-d4ba-4f83-810d-261d373b5ed

[2022-10-24 07:31] techievivek commented on #11867
So I think for the scope of this issue we have already implemented a fix, right?

[2022-10-24 07:36] techievivek commented on #12036
Addressed #11346 and we should have a fix soon. (But I am a bit concerned over here because of the general behaviour when placeholder content is long will not get fixed). So rather than fixing the copy shall we look into the main issue, here?

[2022-10-24 07:47] techievivek commented on #10347
Looking into it just to confirm this is not reproducible.

[2022-10-24 07:49] Beamanator commented on #10830
@adelekennedy good question! Usually we'll wait for a 2nd or 3rd week of it not being reproducible, then applause will close it out

[2022-10-24 07:52] sobitneupane commented on #11486
Thanks for the proposals. I won't be available today. I will review them tomorrow.

[2022-10-24 07:53] techievivek commented on #10347
I wasn't able to reproduce this on chrome(android). @Julesssss, are we good to close it then?

[2022-10-24 08:00] Christinadobrzyn commented on #11283
Looks like we're reviewing proposals!

[2022-10-24 08:34] NikkiWines commented on #12029
@kbecciv I think the `Secondary device - Employee` steps are in TR a bit unclear.

We cannot expect the employee to lose access to the #announce room while the admin is offline because the admin's actions won't be recorded on the server until they come back online. The tests for `Secondary device - Employee` should be performed once the admin is online.

[2022-10-24 08:35] Beamanator commented on #11341
Groovy thanks @shawnborton

@thesahindia are you good to move forward and evaluate proposals?

[2022-10-24 08:42] Beamanator commented on #11795
Just catching up here, I also like the idea of moving forward with some parts of Account Settings (basically everything except the "new" Personal Details pages) so we have a solid push-to-page foundation for other pages to mimic 👍

Good question @trjExpensify , would we update the dropdowns to be new pages (via push to page)? The two dropdowns I'm thinking of are:
1. Priority mode
2. Language

[2022-10-24 08:58] Beamanator commented on #11982
Interesting, honestly I like @mollfpr 's proposal, making an HOC and using that to check for a Report & pass it down, or navigate home if it doesn't exist. What are y'all's concerns with that approach?

Also, what do we think about naming it something more useful? I kinda feel like `withReport` is good but maybe needs to mention something about navigating home if `Report` doesn't exist? Maybe `wit

[2022-10-24 09:00] mollfpr commented on #11982
@Beamanator Yeah, I kinda got a hard time naming stuff 😅

`withReportOrNavigateHome` sounds good to me!

[2022-10-24 09:00] Beamanator commented on #12014
Interesting! We have a related issue about attachment types that I will look for, but this seems weird b/c the image filename ends with `.jpg` which is definitely allowed 🤔  I thinkkkkk this needs to be internal

[2022-10-24 09:02] Beamanator commented on #11982
@mollfpr LOL yeah sometimes me too 😅

Cool I like your proposal, and @mananjadhav approved [here](https://github.com/Expensify/App/issues/11982#issuecomment-1286169862) so hiring!

[2022-10-24 09:06] Beamanator commented on #11229
@parasharrajat will review updated proposal soon 👍

[2022-10-24 09:07] ntdiary commented on #10107
# Test for `node-keytar` and `safeStorage`
## repo
https://github.com/ntdiary/example, There are two electron project in this repo:
* **demo**: this app wants to save passwords with `node-keytar` or `safeStorage + indexedDB`.
* **attacker**: this app wants to steal passwords from demo app. (Just copy db files and key, very easy. For security reasons, more complex ways are not described here.)

##

[2022-10-24 09:08] Beamanator commented on #11856
Waiting for proposals (though this maaay be a regression of a recent PR - see https://github.com/Expensify/App/issues/11856#issuecomment-1279290052)

[2022-10-24 09:13] Beamanator commented on #11507
@parasharrajat are we good to issue payment for this or do you think it needs to be delayed a bit?

[2022-10-24 09:17] zanyrenney commented on #10525
@mallenexpensify it's not clear from the link what you're requiring here. I'm OOO today so if this is urgent daily, i'll need to reassign. Please can you clarify?

[2022-10-24 09:19] Beamanator commented on #11889
Hmm I just used the username & password from https://stackoverflow.com/c/expensify/questions/342/525#525 (even though I think it mentions you should use Wells Fargo)

[2022-10-24 09:20] Beamanator commented on #10894
Need to develop a process for this and add/update SO. Will do soon

Hahaha glad you're happy about this! Lots of work to do 💪

[2022-10-24 09:21] Beamanator commented on #11581
Changing to Monthly while on hold

[2022-10-24 09:22] Beamanator commented on #11578
Changing to Monthly while on hold

[2022-10-24 09:24] Beamanator commented on #9707
@kadiealexander looks like a time to double the reward for this one?

[2022-10-24 09:26] zanyrenney commented on #11405
OOO reassigning.

[2022-10-24 09:26] dylanexpensify commented on #12045
Reviewing today!

[2022-10-24 09:26] dylanexpensify commented on #11948
Reviewing today!

[2022-10-24 09:27] dylanexpensify commented on #11908
Not overdue!

[2022-10-24 09:27] zanyrenney commented on #11808
I'm OOO today reassigning.

[2022-10-24 09:27] dylanexpensify commented on #9181
Going to double

[2022-10-24 09:27] dylanexpensify commented on #11908
Going to double

[2022-10-24 09:27] mountiny commented on #11449
@aimane-chnaif @parasharrajat have you accepted?

[2022-10-24 09:30] Julesssss commented on #11398
Awaiting proposls

[2022-10-24 09:36] roryabraham commented on #10737
I don't see any recent occurrences of this crash, closing it out.

[2022-10-24 09:37] #11276 closed

[2022-10-24 09:37] mountiny commented on #10181
Put this on hold as mentioned before

[2022-10-24 09:37] Julesssss commented on #11983
@Justicea83 did you manage to confirm this?

[2022-10-24 09:38] mountiny commented on #11908
Waiting for proposals

@Puneet-here interested in updating yours?

[2022-10-24 09:39] roryabraham commented on #10525
This really isn't a bug – it's a refactor. Also it needs to be internal because we're changing Onyx data

[2022-10-24 09:40] roryabraham commented on #10525
My advice would be to change this to weekly too

[2022-10-24 09:40] zanyrenney commented on #12050
I'm OOO, reassigning.

[2022-10-24 09:42] Julesssss commented on #12018
Awaiting proposals

[2022-10-24 09:42] zanyrenney commented on #12050
didn't assign anyone, will keep and do when i'm back.

[2022-10-24 09:44] roryabraham commented on #11867
Closing this out, it's fixed

[2022-10-24 09:44] #11867 closed

[2022-10-24 09:45] Julesssss commented on #7375
Hey @parasharrajat , now that the other PRs are merged I think we just need to retest and confirm that it's occurring, right?

[2022-10-24 09:47] roryabraham commented on #7860
The VirtualizedList component in react-native-web is just copied over from react-native, with only a few specific changes. Please open all your issues and pull requests against react-native, not react-native-web

[2022-10-24 09:52] mountiny commented on #12060
@parasharrajat No need to review this, I think Puneet's proposal is good, but it would be great if you could help to test the PR later.

@Puneet-here thank you, please raise a PR with these changes

[2022-10-24 09:53] mountiny commented on #12061
Assigning Autoassigner because bug zero initiative.

I think this was not a bug per se, but we should somehow differentiate between the rooms in LHN.

@alex-mechler Would you be able to provide a summary of the findings from the fireroom? I havent been able to follow the latest there.

[2022-10-24 10:00] Julesssss commented on #10347
It sounds like this was only occurring on the Samsung `mWeb` browser. My guess is that it's unlikely to be fixable, as Samsung devices have lots of bugs like this, but lets leave it open for now.

[2022-10-24 10:03] NikkiWines commented on #11688
Not overdue, waiting on proposals. Dropping down to weekly in the meantime.

[2022-10-24 10:06] thesahindia commented on #11341
@Puneet-here, feel free to post the code changes that you will be making.

[2022-10-24 10:08] roryabraham commented on #11930
This is a regression so let's please do an RCA and follow-up, ideally adding some automated test coverage to prevent this regression from happening again in the future.

[2022-10-24 10:11] dylanexpensify commented on #12045
Posted in slack for clarification

[2022-10-24 10:22] mountiny commented on #11915
I will open this to pay @aimane-chnaif for reporting this in Slack first https://expensify.slack.com/archives/C01GTK53T8Q/p1665991623386559?thread_ts=1665991322.162069&cid=C01GTK53T8Q

[2022-10-24 10:23] Puneet-here commented on #11908
I am working on some other issues right now and I will be busy this week because of festivals so I won't be able to look into it.

[2022-10-24 10:29] mountiny commented on #11915
Assigning @dylanexpensify who kindly agreed to help out with paying out this bonus to @aimane-chnaif in weeks time

[2022-10-24 10:40] pecanoro commented on #9818
Instead of replacing the whole page, we should be just showing that page in the chat section, the same as we open a chat that does not exist, for example: https://new.expensify.com/r/hello

[2022-10-24 10:42] mountiny commented on #11908
No problem!

[2022-10-24 10:46] Justicea83 commented on #11983
I couldn't reproduce this on the Prod API, so I vote we close this, and see if it happens again.

[2022-10-24 10:48] Julesssss commented on #11983
Agreed

[2022-10-24 10:49] dylanexpensify commented on #12045
Upwork: https://www.upwork.com/jobs/~01e18b2ee260ebaf80

[2022-10-24 11:01] johnmlee101 commented on #11496
@Justicea83 can you edit your comment to correctly point to the right PR?

[2022-10-24 11:15] Beamanator commented on #11547
PR merged 4 days ago 👍

[2022-10-24 11:16] Beamanator commented on #11094
Assigning @tgolen since you're the keyboard leader 👍

[2022-10-24 11:47] flodnv commented on #12019
Reassigning for triage.

[2022-10-24 12:06] MariaHCD commented on #11850
Catching up here, looks like when the user signs out when offline we can either:
1. Clear the request queue. This would mean any offline requests would be lost and we would not retry a request only for it to fail with `session expired`
2. Keep the request queue and retry the requests when the user logs back in. I'd think this would a better UX. Not super familiar with the logic for the request que

[2022-10-24 12:16] youssef-lr commented on #11189
Posted in engineering-chat for help about the S3 error.

[2022-10-24 12:22] bfitzexpensify commented on #11456
Waiting for proposals

[2022-10-24 12:24] parasharrajat commented on #12060
`npx react-native run-ios --port=8082 --simulator=\"iPhone 14\` I am not in favor of doing this. I use iphone 13 pro for testing. IMO, this is more a user side overhead. A user should specify the device they want to use.

[2022-10-24 12:33] parasharrajat commented on #7375
Yes, https://github.com/Expensify/App/issues/7375#issuecomment-1284581220. I will update it as soon as I get time to work on it.

[2022-10-24 12:33] #11390 closed

[2022-10-24 12:35] maddylewis commented on #11808
ill get this reviewed shortly

[2022-10-24 12:37] parasharrajat commented on #11507
We can release the payment. No need to delay.

[2022-10-24 12:39] parasharrajat commented on #10107
Update: Reviewing Proposals...

[2022-10-24 12:41] parasharrajat commented on #4733
Will conclude it this week.

[2022-10-24 12:51] joekaufmanexpensify commented on #11916
Not overdue.

[2022-10-24 12:53] joekaufmanexpensify commented on #11495
Going to bump price today.

[2022-10-24 13:00] MahmoudHemaid commented on #11456
@bfitzexpensify This issue has been solved in this [commit](https://github.com/Expensify/App/commit/e2336d1c140c4064f8f6b2428dd1c8854f586617). So it's not reproducible now

[2022-10-24 13:13] Beamanator commented on #10960
Reopening b/c this is needed, just no migration is necessary

[2022-10-24 13:15] khan-shazid commented on #11697
@hannojg ,
I am going through this issue and testing it on iPhone 13 emulator. But could not find the delay. Should I use any specific device to test this one? or a test account with which I can generate this issue? I am running it from latest main branch.

[2022-10-24 13:20] tgolen commented on #10273
Apologies for being gone last week without notice. This is near the top of my priority list yes. The PR is still being reviewed and tested. A couple of issues were found on the iPad still and one small issue on Android. We're deciding how best to proceed with those. My hope is to have it merged today or tomorrow.

[2022-10-24 13:20] NicMendonca commented on #11059
@Uros787 hired on upwork 😊

[2022-10-24 13:24] NicMendonca commented on #11730
Opps, sorry! Job post here: https://www.upwork.com/jobs/~011a3d442964c96c36

[2022-10-24 13:27] chauchausoup commented on #12082
Problem:
Issue is caused by this prop here in InvertedFlat list. Since we are removing the Skeleton effect in compose bar too as per this issue https://github.com/Expensify/App/issues/11962 removing the prop and adding null instead might help us overcome such scenarios.

Solution:
https://github.com/chauchausoup/App/blob/0380b71edfaf095fd90a4c1a7daa8bed640ac434/src/pages/home/report/ReportActionsL

[2022-10-24 13:28] Smart133594 commented on #11059
If you have other tasks, could you contact me?

On Mon, Oct 24, 2022 at 9:20 AM Nicole Mendonca ***@***.***>
wrote:

[2022-10-24 13:30] isabelastisser commented on #11775
Hey @kbecciv, I have iOS 16, and I get the same results for the Unit field. I don't think this is a bug and this is the expected outcome for the drop-down field in the app.

I'm closing this issue, feel free to reopen it if you would like me to review this further. Thanks!

[2022-10-24 13:31] tgolen commented on #11094
OK, you can assign it to me for now, but I'm not going to be fixing this. My intention is to get [my PR](https://github.com/Expensify/App/pull/11586) merged which will remove the hold on this and allow a contributor to propose a fix. I'll be happy to look at proposals though!

[2022-10-24 13:31] tylerkaraszewski commented on #11814
I can replicate this now. I do not know where the error it throws comes from, but it looks like it originates inside react somewhere. I'm going to mark it as external.

<img width="1624" alt="Screen Shot 2022-10-24 at 15 14 18" src="https://user-images.githubusercontent.com/705000/197537627-4150c56f-9b29-4caf-b59b-3541d793c305.png">

[2022-10-24 13:33] tgolen commented on #11087
This is still on HOLD while I try to get https://github.com/Expensify/App/pull/11586 merged. That will then allow this to be opened up for proposals again.

[2022-10-24 13:34] tgolen commented on #11585
I'm dropping this to monthly now since I've gotten a lot of dailies assigned to me.

[2022-10-24 13:39] tgolen commented on #11104
Still no proposals. It's fine to let this keep doubling.

[2022-10-24 13:46] mountiny commented on #12060
Why this specifically? It would be better to use the standard which is the default iPhone 14, but I am happy with your suggestion.

Although we would break this for everyone since they would need to update the `env` for that.  With setting iphone 14 most people should be fine as up to date xcode uses that

[2022-10-24 13:51] mountiny commented on #11816
Signal sent @parasharrajat

[2022-10-24 13:55] sketchydroide commented on #11237
Checking again this week. once I fix vagrant and php

[2022-10-24 13:57] sketchydroide commented on #11068
looking again this week

[2022-10-24 14:11] twisterdotcom commented on #11795
I think we should, yes, but I agree, we didn't go with this in the N7 doc. We should redesign that screen to use Push to page lists.

This is tantamount to doing everything except **Personal Details** really from the N7 Account Settings doc. We'll need to handle all the RBR, offline and "Add new contact method" flows to do this properly I think, otherwise, we'll only allow adding one new contact m

[2022-10-24 14:13] stitesExpensify commented on #9620
Yep! Closing it out.

[2022-10-24 14:14] pecanoro commented on #11432
There is no straightforward solution to this problem since there is metadata we need to store along the message, but we decided to cut the limit to 15k since there is no reason why we should allow messages as long as 15 pages.

[2022-10-24 14:15] MariaHCD commented on #11385
@rushatgabhane Doesn't the app have access to the high res image url as well?

[2022-10-24 14:22] maddylewis commented on #12055
im not able to reproduce this.

1. i logged into my account on https://staging.new.expensify.com/ on web
2. logged in successfully
3. signed out
4. logged back in again
5. no spinners / log in successful

[2022-10-24 14:24] joekaufmanexpensify commented on #11495
Bumped up to $1000.00 on upwork! https://www.upwork.com/jobs/~01587d19701b97cba2

[2022-10-24 14:25] bfitzexpensify commented on #11456
Oh, nice! OK, let's close this out then. @aimane-chnaif, I invited you to a reporting job on Upwork, I'll pay that out once you accept.

[2022-10-24 14:25] #11456 closed

[2022-10-24 14:36] lschurr commented on #12048
Triaging this today.

[2022-10-24 14:47] stitesExpensify commented on #10615
Still on hold. Making this weekly so it doesn't ping every day

[2022-10-24 14:55] mallenexpensify commented on #12066
Unable to reproduce on staging/Chrome with my test account. used a 4mb and 5mb test image. Works as expected.

https://user-images.githubusercontent.com/22508304/197555942-8e91b089-8788-4f87-b5f2-748d0c574020.mp4

Tried other setups too - added two people then tried to select all, still no luck.

Anything else I might be missing?  @kavimuru @adeel0202 are you both still able to repro?

[2022-10-24 15:01] mallenexpensify commented on #8364
Having a similar issue with the save button still being green after updates have been made. Skip to the 20-second mark of the vid below.

https://user-images.githubusercontent.com/22508304/197558783-a08956f1-e8f7-4688-8f97-34441784598c.mp4

@kbecciv , can you see if you're able to reproduce.

[2022-10-24 15:06] lschurr commented on #12048
Tagging Eng since this is a dev issue that I can't reproduce.

[2022-10-24 15:09] stitesExpensify commented on #11787
Bump @muttmuure :)

[2022-10-24 15:14] parasharrajat commented on #12060
my Preference is to cover most devices. There were more iPhone 13 users than 14 so I used that device to test. But it is not specific. Sometimes, I have to test different models based on the problem.

I think if `$DEVICE` is not set `--simulator=$DEVICE` will be ignored and default will be used. But that needs to be tested first.

[2022-10-24 15:16] stitesExpensify commented on #5536
Okay I removed the labels, changed the title, and made this a weekly. I do think syncing drafts between devices is part of WAQ. What do you think @JmillsExpensify ?

[2022-10-24 15:17] greg-schroeder commented on #11607
@mananjadhav @aimane-chnaif - Hey team, sorry was OOO last week! I've just hired you via Upwork, so go ahead and accept it and I'll finalize the payment. 👍

[2022-10-24 15:20] kavimuru opened #12088 "Bug: Message only partially being read as a link reported by @begadtarek"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1.  Send a message of more than two words, with periods between them (no spaces)
  (Examples: "Fairmont.data.rooms", "[This.com]

[2022-10-24 15:23] mananjadhav commented on #11607
Accepted @greg-schroeder

[2022-10-24 15:23] thesahindia commented on #12042
I am not sure if we should go with the workaround suggested [here](https://github.com/Expensify/App/issues/12042#issuecomment-1285900417). What's your opinion about it @aldo-expensify ?

[2022-10-24 15:25] luacmartins commented on #10525
@JmillsExpensify @mallenexpensify as Rory and I mentioned previously, this is an internal refactor and not a bug. I think that we should unassign the CM and remove the Bug label. Thoughts?

[2022-10-24 15:38] NicMendonca commented on #10414
@parasharrajat maybe open up a discussion in slack?

[2022-10-24 15:39] grgia commented on #11963
@JmillsExpensify I think with the n7 push to page changes for profile/settings changes, we would be able to catch/handle this exception with immediate feedback to the user (i.e. error text)

[2022-10-24 15:40] kbecciv commented on #8364
I'm able to reproduce it with build 1.2.18.5

https://user-images.githubusercontent.com/93399543/197567558-13e425c5-c66b-4ff0-b231-6a806df29916.mp4

[2022-10-24 15:42] NicMendonca commented on #11507
@parasharrajat @Puneet-here paid, thanks!

[2022-10-24 15:43] kavimuru commented on #11843
@isabelastisser I am not able to reproduce too. Only @gadhiyamanan is able to reproduce.

[2022-10-24 15:46] mallenexpensify commented on #11493
Thanks @Julesssss , sorry I missed that.   Quite the 🐰🕳, couldn't help but comment https://expensify.slack.com/archives/C01GTK53T8Q/p1666626222041809?thread_ts=1666109949.817589&cid=C01GTK53T8Q

[2022-10-24 15:49] luacmartins commented on #11093
Still looking for proposals!

[2022-10-24 15:49] thesahindia commented on #12028
@hungvu193, the text inside the composer still gets selected. I think your solution is a workaround. We need to find the root cause.

[2022-10-24 15:50] #11199 closed

[2022-10-24 15:52] adelekennedy commented on #11079
paid and complete!

[2022-10-24 15:52] #11079 closed

[2022-10-24 15:53] adelekennedy commented on #10693
@neil-marcellini Jack is ooo - reassigned this issue to you!

[2022-10-24 15:55] adelekennedy commented on #10693
Per the last convo we're opening this back up, I'll double this once we hit the 7 day mark!
[Internal](https://www.upwork.com/ab/applicants/1584574150975074304/job-details)
[External](https://www.upwork.com/jobs/~014440ed5cbc8e4cb2)

[2022-10-24 15:59] adelekennedy commented on #11462
hired @Puneet-here @thesahindia

[2022-10-24 15:59] alex-mechler commented on #12061
- Two admin rooms is not a bug here, as two policies were created. This is normal behavior now that https://github.com/Expensify/App/pull/12013 is live, as there is assigned guides in the room.
- Unknown Workspace was reproducible in production, so this was not a blocker. This _is_ unexpected though, and should be fixed. Its possible that https://github.com/Expensify/App/issues/11910 is related, b

[2022-10-24 16:01] Puneet-here commented on #11462
Accepted. Thanks!

[2022-10-24 16:07] alex-mechler commented on #12023
This is because of your `legacy-peer-deps = true` in your config. If you remove that you should not see this anymore

[2022-10-24 16:08] OSBotify commented on #11979
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12092) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.18-9` :rocket:

[2022-10-24 16:11] Beamanator commented on #11795
Agreed, it would be great to have all settings pages be aligned on push-to-page implementation, then go from there. We don't have to add the Preferences page changes to the N7 Account Settings doc though, right? 🙏

Agreed, we're already doing RBR in the App so let's add it to the Contact Methods pages too. I guess if we want to do minimal stuff we coulddd just have the "Contact methods" page & "Co

[2022-10-24 16:14] twisterdotcom commented on #11795
True, we could add Remove and Set as default later.

[2022-10-24 16:18] mallenexpensify commented on #10731
@Santhosh-Sellavel can you address @christianwen 's comment above please?
https://github.com/Expensify/App/issues/10731#issuecomment-1286691363

[2022-10-24 16:23] adeel0202 commented on #12066
I'm also still able to reproduce.

yup, you have to perform all the steps in a go and as quickly as possible.
upload a high res photo > go to any workspace > manage members page > select all > remove all selected members > select all

[2022-10-24 16:29] Santhosh-Sellavel commented on #10731
@mallenexpensify I'm waiting for @iwiznia thoughts on this https://github.com/Expensify/App/issues/10731#issuecomment-1286086036

[2022-10-24 16:32] lschurr commented on #11844
Hi @parasharrajat - are we waiting for a new proposal on this one?

[2022-10-24 16:33] mallenexpensify commented on #11954
Holding pending
https://github.com/Expensify/App/issues/11321#
which might be holding pending this PR
https://github.com/Expensify/App/pull/11684

[2022-10-24 16:37] mallenexpensify commented on #11953
Gonna close this for now as I'm unable to reproduce, please comment and/or reopen if anyone is able to repro with
<img width="740" alt="image" src="https://user-images.githubusercontent.com/22508304/197579025-c471d94c-565b-4eeb-8e92-38b25d941515.png">

[2022-10-24 16:49] mountiny commented on #12060
Alrighty, I am happy with that solution as well, the goal is for this to work out of the box.

[2022-10-24 16:54] mallenexpensify commented on #11953
My mistake, I thought a Guide was sending the "Chat with your specialist" link but it's coming from Concierge.   And.. when I get the message, I'm unable to click the link, when I try to click it, nothing happens.  @gadhiyamanan @kavimuru can you try to reproduce and let me know what you're finding?  I've asked here too
https://expensify.slack.com/archives/C01GTK53T8Q/p1666630199231519?thread_ts=1

[2022-10-24 16:59] mallenexpensify commented on #12046
@adelekennedy , I'm gonna snag this from ya cuz I've already gone down a bit of a 🐰🕳 here
https://expensify.slack.com/archives/C01GTK53T8Q/p1666630199231519?thread_ts=1666270549.878679&cid=C01GTK53T8Q

[2022-10-24 16:59] youssef-lr commented on #11189
PRs ready for review!

[2022-10-24 17:03] Santhosh-Sellavel commented on #7541
Tested this looks good so far, possibly should be ready for final review this week.

[2022-10-24 17:03] MitchExpensify commented on #11207
Sorry for the delay @gadhiyamanan! I think so, yes. [Here is the Upwork Job I've invited you to for reporting payment](https://www.upwork.com/jobs/~01db5842f8ea48d540)

[2022-10-24 17:04] marcaaron commented on #4656
Idea for clearer deliverable ->

Part of the problem with this issue is it's not clear how much faster things should be and an audit of where things are at would be a good place to start.

[2022-10-24 17:05] mallenexpensify commented on #2727
Paid @lbaldy $16,000!  Thanks for the help!  Waiting to pay @parasharrajat so leaving open for now, bumped back to weekly.

[2022-10-24 17:07] MitchExpensify commented on #11202
I think so, yes!

[2022-10-24 17:07] #11202 closed

[2022-10-24 17:08] LucioChavezFuentes commented on #7860
Hey guys! I proposed the [changes to the react-native-web upstream repo](https://github.com/necolas/react-native-web/pull/2412). I will create an issue on Expensify's App repo for each problem.

[2022-10-24 17:08] gadhiyamanan commented on #11207
@MitchExpensify accepted :)

[2022-10-24 17:09] lbaldy commented on #2727
@mallenexpensify  got that, thanks all for cooperation!

[2022-10-24 17:09] chiragsalian commented on #11319
Cool, let me know once your team retests 👍

[2022-10-24 17:15] LucioChavezFuentes commented on #7860
@roryabraham  Oh, I didn't know that. Do you know exactly where the VirtualizedList file is in react-native?

[2022-10-24 17:16] marcaaron commented on #10506
yep, I think we should investigate it as part of the Tracking issue linked above titled "Get Control of Navigation". It's something we should take to the maintainers and first try to fix at the library level.

[2022-10-24 17:18] mallenexpensify commented on #10525
Based on [the BZ design doc ](https://docs.google.com/document/d/14MayFMbP8g43nNnWtqtgKKnCxbmJw3v0zvk5wZaIzBE/edit#bookmark=id.pxiu3yo8glni)

So.. I think weekly and `NewFeature` makes sense.   and Zany shouldn't be assigned if it's not a bug.

[2022-10-24 17:18] marcaaron commented on #12075
Error messages come from the API so I think this should be Internal

[2022-10-24 17:19] roryabraham commented on #7860
Yes, it's [right here](https://github.com/facebook/react-native/blob/main/Libraries/Lists/VirtualizedList.js)

[2022-10-24 17:20] mountiny commented on #12061
Lets put this on hold for this https://github.com/Expensify/App/issues/11910 actually as it seems similiar.

[2022-10-24 17:21] luacmartins commented on #10525
Thanks for the input!

[2022-10-24 17:24] mallenexpensify commented on #11449
@aimane-chnaif paid, thanks!   Waiting for @parasharrajat , moving to weekly.

[2022-10-24 17:26] marcaaron commented on #11883
I don't think this is a bug. Not everyone is going to add a "What's it For" comment to an IOU. Closing, but feel free to reopen if you disagree.

[2022-10-24 17:26] #11883 closed

[2022-10-24 17:29] OSBotify commented on #11979
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.18-9 has been deployed to staging :tada:

[2022-10-24 17:34] thesahindia commented on #11207
I am not completely sure but I don't think any specific PR for this issue was raised. No engineer is assigned here and there's no link of any PR.

According to the internal [thread](https://expensify.slack.com/archives/C02NK2DQWUX/p1665598030501879?thread_ts=1665598030.501879&cid=C02NK2DQWUX) the contributor shouldn't be paid for reporting in a case like this.
cc: @mallenexpensify @MitchExpensify

[2022-10-24 17:35] marcaaron commented on #11850
I'm with @neil-marcellini that the expected behavior might be that we send the messages first, then sign you out after. But could also see the clearing the request queue option to prevent failing network requests (though it seems less desirable).

@MariaHCD That summary looks correct to me.

I don't agree with this being a `Demolition` issue. It's more of a `Planning` issue. We need to discuss how

[2022-10-24 17:38] parasharrajat commented on #11908
Thanks for the proposal @0xmiroslav. It looks fine but I think it will create issues in FormAlertWrapper. `RenderHTML` contains View(block elements) View does not render well in Text. You may have to make it more dynamic. I think the best thing to do would be to use another prop called `text` and when passed using the current text rendering logic that you have in FormHelpMessage. And overwrite eve

[2022-10-24 17:41] jasperhuangg commented on #11762
Demoting to `Weekly` as we're still waiting for proposals on this one.

[2022-10-24 17:41] parasharrajat commented on #12060
OK, great. Let's see what works well on the PR.

[2022-10-24 17:41] roryabraham commented on #4656
I agree @marcaaron, and think that [this issue](https://github.com/Expensify/App/issues/11997) could be a great starting place.

[2022-10-24 17:42] mountiny commented on #11908
Thank you very much @parasharrajat

@0xmiroslav can you please raise your PR and accomodate it with recordings of all the paltforms so we can see how it looks?

[2022-10-24 17:43] parasharrajat commented on #11844
Yes, as per https://github.com/Expensify/App/issues/11844#issuecomment-1282906897, I am waiting for a fix on RN.

[2022-10-24 17:44] chiragsalian commented on #12067
I was not able to reproduce it on staging or production. Can you retest @kavimuru or @thesahindia? I feel like if we cannot consistently reproduce it should not be a deploy blocker and should instead just be an issue to investigate.

[2022-10-24 17:44] chiragsalian commented on #12067
Also looks like luke is OOO so i'll take over this issue from him.

[2022-10-24 17:48] mallenexpensify commented on #12055
Thanks @maddylewis , I'm gonna close this cuz, even though I did experience the bug, I don't think others will be able to reliably reproduce.  We can reopen if it happens to someone else and they provide repro steps.

[2022-10-24 17:48] #12055 closed

[2022-10-24 17:50] mallenexpensify commented on #8364
Thanks @kbecciv
@yuwenmemon , I'm assuming this can be an `External` issue, right?!?!!?

[2022-10-24 17:53] ctkochan22 commented on #11117
I cant get to this.

My thoughts that it is a logging issue, if you look at the logs they repeat. And each time they repeat they add a ton of escape `\`. The last time this has happened was in Sept 22. I am going to close this, then when it happens again this issue will reopen and we can address it with fresh logs.

[2022-10-24 17:54] slafortune commented on #11379
Closing for now - if you are able to reproduce this again @aimane-chnaif feel free to reopen this.

[2022-10-24 17:54] #11379 closed

[2022-10-24 17:59] alex-mechler commented on #12061
If 11910 doesn't solve this, I'll update the OP here!

[2022-10-24 18:00] adelekennedy commented on #12046
ty ty @mallenexpensify I neglected this on Friday.

[2022-10-24 18:01] aldo-expensify commented on #12042
From a short research I agree with it being a bug on the electron side (https://github.com/electron/electron/issues/20263). I think the workaround proposed is fine while the bug is there.

Besides implementing the solution, we could create a new issue like this one https://github.com/electron/electron/issues/20263, but with the electro version we are using. I understand that the existing issue was

[2022-10-24 18:02] Puneet-here commented on #11728
Sorry for the delay. I was waiting for my another PR to get merged so that we don't get conflicts. I have raised the PR now.

[2022-10-24 18:04] mallenexpensify commented on #12066
Still not able to, tried multiple test accounts too, on staging and production, in chrome and firefox.
Gonna dish to Engineering to see if they can.

[2022-10-24 18:05] MitchExpensify commented on #11914
I got to 12 and do not see a red dot or message:

<img width="828" alt="image" src="https://user-images.githubusercontent.com/36425901/197594957-a855493f-dff0-4e3f-856a-8bd478f2867a.png">

[2022-10-24 18:09] MitchExpensify commented on #11914
Reproduced:
<img width="840" alt="image" src="https://user-images.githubusercontent.com/36425901/197595655-d7e0dd17-85c1-4b43-8a1b-27bbaffdc5d8.png">

This is probably a good external candidate right @neil-marcellini ?

[2022-10-24 18:12] Puneet-here commented on #11730
I was waiting for the upwork job. I have applied to the job and raised the PR.

[2022-10-24 18:12] mallenexpensify commented on #11207
Here's the [blurb in CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted)

So... @gadhiyamanan wouldn't be eligible for compensation unless it's fixed. If we're going to keep this issue closed, is there an internal one we can link to for auditing so that we'll know if it's fixed internally?

[2022-10-24 18:18] MitchExpensify commented on #12010
Thanks @JmillsExpensify , I figured it out!

I am unable to reproduce this issue. On web and desktop app, the download button is highlighted when I press "tab".

Can you confirm if you are still able to reproduce @dhairyasenjaliya ?

[2022-10-24 18:23] mvtglobally commented on #11979
@roryabraham @chiragsalian
We got a new Build

PR https://github.com/Expensify/App/pull/11944 is pass on IOS.  https://github.com/Expensify/App/issues/11867 & https://github.com/Expensify/App/issues/10290 Not blockers, so checking off.

Asked team to double check this https://github.com/Expensify/App/issues/12067.  Only 1 out of 5 testers was able to repro originally.

[2022-10-24 18:27] mvtglobally commented on #10282
Issue not reproducible during KI retests. (Third week) Closing

[2022-10-24 18:27] #10282 closed

[2022-10-24 18:27] mvtglobally commented on #10550
Issue not reproducible during KI retests. (Second week)

[2022-10-24 18:28] mvtglobally commented on #10609
Issue not reproducible during KI retests. (Third week) @roryabraham  Are we ok to close this?

[2022-10-24 18:29] mvtglobally commented on #10615
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:29] mvtglobally commented on #10698
Issue not reproducible during KI retests. (Second week)

[2022-10-24 18:29] mvtglobally commented on #10928
Issue not reproducible during KI retests. (Second week)

[2022-10-24 18:30] mvtglobally commented on #10731
Issue not reproducible during KI retests. (Second week)

[2022-10-24 18:30] neil-marcellini commented on #10283
Bump @Santhosh-Sellavel

I did a little experiment where I removed the loading state from the IOUPreview component by commenting out these lines
https://github.com/Expensify/App/blob/586ecbdfb743b7ba64e84d3fcba617f79bb0101b/src/components/ReportActionItem/IOUPreview.js#L101-L103

and setting `const reportIsLoading = false;` here.
https://github.com/Expensify/App/blob/586ecbdfb743b7ba64e84d3fcba617

[2022-10-24 18:30] mvtglobally commented on #10735
Issue not reproducible during KI retests. (Third week)

[2022-10-24 18:31] mvtglobally commented on #10765
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:31] mvtglobally commented on #10767
Issue not reproducible during KI retests. (Second week)

[2022-10-24 18:31] aldo-expensify commented on #11848
No updates since comment above^

[2022-10-24 18:32] mvtglobally commented on #10283
Issue not reproducible during KI retests. (Second week)

[2022-10-24 18:32] mvtglobally commented on #11228
Issue not reproducible during KI retests. (Second week)

[2022-10-24 18:33] mvtglobally commented on #11074
Issue not reproducible during KI retests. (Third week) @PauloGasparSv ok to close this?

[2022-10-24 18:33] mvtglobally commented on #11118
Issue not reproducible during KI retests. (Third week) Closing

[2022-10-24 18:33] #11118 closed

[2022-10-24 18:34] mvtglobally commented on #11126
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:35] mvtglobally commented on #11334
Issue not reproducible during KI retests. (Third week) Are we ok to close?

[2022-10-24 18:36] mvtglobally commented on #11341
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:36] mvtglobally commented on #11346
Issue not reproducible during KI retests. (Second week)

[2022-10-24 18:36] mvtglobally commented on #11462
Issue not reproducible during KI retests. (Second week)

[2022-10-24 18:37] mvtglobally commented on #11470
Issue not reproducible during KI retests. (Second week)

[2022-10-24 18:37] mvtglobally commented on #11511
Issue not reproducible during KI retests. (Second week)

[2022-10-24 18:38] mvtglobally commented on #11513
Issue not reproducible during KI retests. (Second week)

[2022-10-24 18:38] mvtglobally commented on #11632
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:38] chiragsalian commented on #11979
okay thank you

[2022-10-24 18:39] mvtglobally commented on #11806
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:39] mvtglobally commented on #11858
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:39] mvtglobally commented on #11888
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:39] mvtglobally commented on #11946
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:40] strepanier03 commented on #11863
💰 Price doubles: [[$500] iOS -Members- The entered member in compose box is displayed twice and disappears](https://github.com/Expensify/App/issues/11863) 💰

[2022-10-24 18:40] mvtglobally commented on #11960
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:40] mvtglobally commented on #11961
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:40] mvtglobally commented on #11968
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:41] mvtglobally commented on #12000
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:41] mvtglobally commented on #12029
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:41] mvtglobally commented on #11885
Issue not reproducible during KI retests. (First week)

[2022-10-24 18:45] mvtglobally commented on #11979
@chiragsalian
We are only able to repro on Realme 6 / Android 11 https://github.com/Expensify/App/issues/12067

https://user-images.githubusercontent.com/43995119/197601808-323661d0-7b30-493e-b87b-85eecb21add2.mp4

[2022-10-24 18:49] deetergp commented on #11999
@mvtglobally I guess what I am trying to figure out is, did we have this in Safari at one point but lost it because a bug was introduced, or did we never have it and are just noticing it now?

[2022-10-24 18:50] deetergp commented on #11488
This is definitely something that can be addressed by one of our contributors.

[2022-10-24 18:52] deetergp commented on #11330
Interesting. I guess let's hold on this one? If it doesn't show in the next round of KI retests, we can probably close it.

[2022-10-24 18:52] neil-marcellini commented on #11707
Still waiting for proposals. It has been a week now so can we please double the price @davidcardoza?

[2022-10-24 18:53] neil-marcellini commented on #10824
@Santhosh-Sellavel Bump

[2022-10-24 18:58] MitchExpensify commented on #11091
Paying out!

[2022-10-24 18:59] chiragsalian commented on #12067
Odd, i am able to get it consistently on your account. On your account, i get the issue only on staging and not on production. Very weird.

[2022-10-24 19:01] chiragsalian commented on #11979
Strange, yeah i was just able to reproduce the issue using sahil's credentials posted [here](https://github.com/Expensify/App/issues/12067#issuecomment-1289382010). And i can reproduce only on staging and not on production. Investigating.

[2022-10-24 19:01] MitchExpensify commented on #11091
Paid and contracts ended, thanks all!

[2022-10-24 19:01] #11091 closed

[2022-10-24 19:04] PauloGasparSv commented on #11074
@mvtglobally I think so, was waiting for it to be closed by the P.R.
Closing it here :D

[2022-10-24 19:04] #11074 closed

[2022-10-24 19:05] kavimuru commented on #12067
@chiragsalian Our team can reproduce only in Android not in Web, mWeb and iOS

https://user-images.githubusercontent.com/43996225/197605499-4e74e970-ed73-40d6-ab41-d0d25051d83a.mp4

[2022-10-24 19:08] eVoloshchak commented on #11695
@Prince-Hamza, thanks for your proposal

Could you please explain in more detail where exactly would you add this prop? [This](https://github.com/Expensify/App/blob/83676c1036299ffecbf82f4b829a7f8cbd741cd7/src/pages/settings/Payments/PaymentMethodList.js#L213) Flatlist?

[2022-10-24 19:13] mallenexpensify commented on #12050
@rushatgabhane Gonna close this now, I added it to the [Accessibility Audit milestone](https://github.com/Expensify/App/milestone/4) so we can address and reopen if/when needed.

[2022-10-24 19:13] #12050 closed

[2022-10-24 19:23] luacmartins commented on #10729
https://github.com/Expensify/App/issues/10738 is merged. Hold removed!

[2022-10-24 19:30] dhairyasenjaliya commented on #11354
accepted

[2022-10-24 19:31] dangrous commented on #11893
Waiting for proposals, not overdue

[2022-10-24 19:36] tjferriss commented on #10736
I was not able to reproduce this. The unread message was bold when I came back to the account. This appears to be working as intended so I'm leaning towards closing this out.

<img width="378" alt="Screen Shot 2022-10-24 at 12 34 52 PM" src="https://user-images.githubusercontent.com/8292562/197610524-65860422-52b7-4780-a40a-092a3cae23a0.png">

[2022-10-24 19:36] maddylewis commented on #11808
@zanyrenney i have quite a few bugs assigned to me rn and i wont be able to get to this one today. im reassigning to you so that you can review tomorrow AM.

[2022-10-24 19:42] maddylewis commented on #12043
I'll default to your expertise on this above proposal @marcaaron !

[2022-10-24 19:47] puneetlath commented on #11888
I'm also no longer able to replicate this. Closing.

[2022-10-24 19:47] #11888 closed

[2022-10-24 19:48] aldo-expensify commented on #11812
I gave some time today trying to reproduce this in a Xiaomi A2 phone. I wasn't able to reproduce.

@hungvu193 do you see errors in the logs when you reproduce the crash? do you think there is something we can do to reproduce this crash more easily? I.e. put a sleep somewhere that makes it happen more consistently

I requested access to crashlytics again

[2022-10-24 19:50] LucioChavezFuentes commented on #7860
@roryabraham Also I'm having trouble finding UIManager/index.js and useElementLayout/index.js implementations in react-native. Do you have an idea where they could be?

[2022-10-24 20:03] marcaaron commented on #12043
thanks, I'll chime in after @parasharrajat takes a look

[2022-10-24 20:21] #11462 closed

[2022-10-24 20:29] joekaufmanexpensify commented on #11916
Still awaiting proposals.

[2022-10-24 20:35] johncschuster commented on #10485
It looks like this issue has already been triaged to Engi. @srikarparsi, do you have a sense of the repro steps for this behavior? If we can reproduce, we can figure out how to route this to solve it.

[2022-10-24 20:38] johncschuster commented on #10485
@neil-marcellini, have you been able to reproduce this recently? If not, I may close this again until we can get crisp on the reproduction steps.

[2022-10-24 20:52] mananjadhav commented on #9580
@ravindra-encoresky Are you still available to pick this up?

@sketchydroide Can we remove the hold label?

[2022-10-24 20:52] mananjadhav commented on #10352
@Gonals bump ^

[2022-10-24 20:53] mananjadhav commented on #10950
@Abdallah-Ahmed-moh Got a chance to look at this comment?

[2022-10-24 20:54] mananjadhav commented on #11059
I'll do the second round of review by tomorrow.

[2022-10-24 20:56] stitesExpensify commented on #7968
Sorry for the delay.

I agree, we should not be keeping track of IDs that we want to ignore, this seems like a hack.

[2022-10-24 20:59] mananjadhav commented on #11471
@MonilBhavsar Any updates on this one?

[2022-10-24 21:09] Puneet-here commented on #11694
Apologies, I just realised that I had closed the tab without really pressing the comment button earlier.

So we have platform specific file for composer and because we are passing maxHeight, passing maxLines has no effect on it
https://github.com/Expensify/App/blob/83676c1036299ffecbf82f4b829a7f8cbd741cd7/src/components/Composer/index.ios.js#L104

[2022-10-24 21:18] arielgreen commented on #10290
Awaiting merge

[2022-10-24 21:23] arielgreen commented on #10888
Awaiting review, but possibly delayed due to Diwali this week.

[2022-10-24 21:24] arielgreen commented on #11048
Awaiting proposal

[2022-10-24 21:26] arielgreen commented on #8311
Awaiting decision, but possibly delayed due to Diwali this week.

[2022-10-24 21:26] arielgreen commented on #8592
Waiting on confirmation

[2022-10-24 21:27] sakluger commented on #12005
I'm still unable to reproduce, so I've asked for others to help in Slack.

[2022-10-24 21:27] flaviadefaria commented on #10848
I'll come back to this in the next days.

[2022-10-24 21:28] arielgreen commented on #11261
In QA

[2022-10-24 21:28] Uros787 commented on #11863
@sobitneupane
Here are the videos
After fix:
https://user-images.githubusercontent.com/70144379/197632455-2e7709ab-4433-4fcf-9fc1-2682a874a722.MP4
No more calls on every keystroke which is a massive upgrade than before

Before fix:
https://user-images.githubusercontent.com/70144379/197632486-606c9e77-9680-40b8-b2c8-9031c71c0b54.MP4
Calling on every keystroke, destroying the API client, and costing

[2022-10-24 21:28] sakluger commented on #12005
@Tushu17 what version of Safari are you using? I'm on Safari Version 16.0.

[2022-10-24 21:38] necolas commented on #7860
react-native doesn't have those implementations. The [UIManager module is not supported](https://github.com/facebook/react-native/blob/43636267011a97490ed7495b08e500c5d0d54872/Libraries/ReactNative/BridgelessUIManager.js) in the Fabric architecture. And `useElementLayout` is an implementation detail of react-native-web that backs the `onLayout` prop on react-native components.

As I mentioned on t

[2022-10-24 21:41] neil-marcellini commented on #10283
@mvtglobally I'm able to reproduce. Are you following the latest steps from this PR description on iOS?

[2022-10-24 21:44] chiragsalian commented on #11979
We think we found the fix (or rather revert) to address the [deploy blocker](https://github.com/Expensify/App/issues/12067). We're waiting for it to hit staging and deploy to devices before re-testing.

[2022-10-24 21:50] jliexpensify commented on #12019
@kbecciv I am unable to reproduce on Staging v1.2.18-9. Admittedly, there's a delay in having the user populate, but a refresh worked:

![image](https://user-images.githubusercontent.com/30815269/197635706-3a4b9425-02da-4a31-bacc-b73fe6320d9e.png)

I wanted to dig into these behaviours:

I think this is intended? The member should only populate on the LHN if they start a chat with you.

This is al

[2022-10-24 21:50] OSBotify commented on #11979
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12099) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.18-10` :rocket:

[2022-10-24 21:51] chiragsalian commented on #12067
Shall retest once the code hits staging.

[2022-10-24 22:01] strepanier03 commented on #11973
Great, thank you for testing and confirming. I'll share that link moving forward when making job, I appreciate your help.

@rushatgabhane and @varshamb - let me know once you've applied to the job and if you can share a link to your Upwork profile I can be confident I'm hiring the right person.

[2022-10-24 22:01] strepanier03 commented on #12027
Job link: https://www.upwork.com/jobs/~01c330d655d6a6977d

[2022-10-24 22:02] neil-marcellini commented on #11914
Yep. I looked at the code a bit myself and I'm actually not sure why it isn't working right now. I don't think it will require any backend changes. The errors and pendingAction passed to OfflineWithFeedback are set correctly, but for some reason the opacity is not applied.
https://github.com/Expensify/App/blob/83676c1036299ffecbf82f4b829a7f8cbd741cd7/src/pages/ReportSettingsPage.js#L165-L169

[2022-10-24 22:29] conorpendergrast commented on #11584
Via Upwork, hired @tienifr to fix the issue, @chauchausoup for reporting the bug,  @eVoloshchak as contributor+

[2022-10-24 22:31] dangrous commented on #12048
Am indeed seeing this on dev. Since its only a warning, though, I think we can ignore it for now as it's not user facing, so I'll close this. However, ccing @neil-marcellini since it looks like it's related to this PR - https://github.com/Expensify/App/pull/9031 - in case there's a reason you can see to update, or it's a super quick fix?

[2022-10-24 22:37] mallenexpensify commented on #12067
@thesahindia please accept the job offer here for $250 payment for reporting https://www.upwork.com/jobs/~014351831b357edb55

Comment on this issue once you have and I'll pay

[2022-10-24 22:45] AndrewGable commented on #11529
Still awaiting proposals!

[2022-10-24 22:53] OSBotify commented on #11979
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.18-10 has been deployed to staging :tada:

[2022-10-24 22:56] kbecciv opened #12104 "[$250] Web - Connect Bank Account - User can proceed to Company Information page without clicking the checkmark "I accept the Expensify term of service""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with a applause.expensifail account (that does not have any bank account already added)
2. Enable staging Web secure se

[2022-10-24 23:02] dangrous commented on #11800
I think using the pendingFields could work @mollfpr ! Maybe something like wrapping the  `Report.subscribeToReportTypingEvents(this.props.report.reportID);` in an `if` statement checking whether or not `pendingFields.addWorkspaceRoom` is null in Onyx. Only question then is, if it isn't null (which it won't be at first), how do we make sure it gets called once and only once when it is? Since `compo

[2022-10-24 23:05] srikarparsi commented on #11405
hey @mateocole, could you double the price of this issue whenever you get a chance?

[2022-10-24 23:06] chiragsalian commented on #12067
Retested and it LGTM, i'm moving forward with deploy. Keeping this issue open for payment.

[2022-10-24 23:07] chiragsalian commented on #11979
:shipit:

[2022-10-24 23:07] #11979 closed

[2022-10-24 23:10] OSBotify opened #12108 "Deploy Checklist: New Expensify 2022-10-24"
**Release Version:** `1.2.19-2`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10165
- [x] https://github.com/Expensify/App/pull/10471
- [x] https://github.com/Expensify/App/pull/10790
- [x] https://github.com/Expensify/App/pull/11439
- [x] https://gi

[2022-10-24 23:21] mollfpr commented on #10729
### Proposal

1. Updating the props to add `inputKeys`, `shouldSaveDraft`, and `translate` because we will need to remove `withLocalize` on `IdentityForm` to work with `Form.js`
2. Passing the `inputID` and `shouldSaveDraft` to the `TextInput` and `DatePicker` from `inputKeys` props
3. Passing `inputKeys` to `AddressForm`
4. Updating the components that use `IdentityForm` to pass `translate`

[cod

[2022-10-24 23:32] chiragsalian opened #12109 "Investigate which react-native-onyx package caused the deploy blocker"
We received this deploy blocked [recently](https://github.com/Expensify/App/issues/12067). To fix it we reverted the react-native-onyx package [here](https://github.com/Expensify/App/pull/12099)

We need to investigate which PR in that repo caused the problem. I suspect its this [one](https://github.com/Expensify/react-native-onyx/pull/186) but i haven't confirmed.

Either way, some next steps are

[2022-10-24 23:51] mallenexpensify commented on #11852
Nice work double-dipping here @thesahindia 😆 , get the reporting bonus AND C+ gig.  Now.. to get some proposals coming in

[2022-10-25 00:04] MitchExpensify commented on #11423
lil bump @MonilBhavsar

[2022-10-25 00:13] MitchExpensify commented on #11476
[Looking at this SO](https://stackoverflow.com/c/expensify/questions/14418) @puneetlath, am I right in saying the "Needs reproduction" label is prompting Applause or is that on me? Not 100% sure

[2022-10-25 00:18] MitchExpensify commented on #10486
Any update @mdneyazahmad ?

[2022-10-25 00:37] kadiealexander commented on #9707
Ah yes! Job doubled in price, and new job post because the last one closed:

https://www.upwork.com/ab/applicants/1584705464638095360/job-details
https://www.upwork.com/jobs/~01d8d0ffccc4a0f759

[2022-10-25 00:51] mallenexpensify commented on #9703
Bumping to weekly cuz it's on Hold

[2022-10-25 00:52] mallenexpensify commented on #11265
Price Doubled to $2000
https://www.upwork.com/jobs/~01a755aaccee46f8a1

[2022-10-25 00:57] mallenexpensify commented on #10614
Price Doubled to $4000
https://www.upwork.com/jobs/~0147b4bc6294a1fdec

[2022-10-25 00:58] mallenexpensify commented on #11045
Gonna close cuz it's not actionable now, we can reopen later if needed/wanted

[2022-10-25 00:58] #11045 closed

[2022-10-25 01:01] mallenexpensify commented on #2985
My understanding is this issue is still open since we can't _prove_ everything works with bidirectional scrolling yet, even through it should. [ This is the main tracking issue for Comment Linking](https://github.com/Expensify/Expensify/issues/147480), we _could_ close this then move discussion there, if/when needed.   ¯\_(ツ)_/¯

[2022-10-25 01:04] kadiealexander commented on #12047
Wasn't able to reproduce this on Version 1.2.18-4 of the desktop app:

![2022-10-25_14-02-09 (1)](https://user-images.githubusercontent.com/59587260/197658163-16dc7d63-4321-4886-bd8b-bde5cee22bec.gif)

Also can't reproduce this on web:

![2022-10-25_14-03-59 (1)](https://user-images.githubusercontent.com/59587260/197658259-c18740cd-adce-40ef-8da1-9c28aa5ecd94.gif)

[2022-10-25 01:05] kadiealexander commented on #12047
@thesahindia could you please review the gifs above to see if I used the right steps to reproduce this error? Also, can you please update your app version and see if this is happening on the most recent version?

[2022-10-25 01:13] mallenexpensify commented on #11354
Hired @eVoloshchak and @dhairyasenjaliya

[2022-10-25 01:14] kadiealexander commented on #9809
Job doubled! New Upwork post:

https://www.upwork.com/ab/applicants/1584714876102766592/job-details
https://www.upwork.com/jobs/~015735edd1fac507c5

[2022-10-25 01:18] kadiealexander commented on #11386
Payment issued to @Puneet-here

@thesahindia and @mdneyazahmad, please accept the contracts I just sent across and I'll get you two paid as well :)

[2022-10-25 01:21] sophiepintoraetz commented on #11674
@kavimuru and @wildan-m - can you please add more specific reproduction steps? I'm unable to reproduce this error so will reopen once we've got reproducible steps.

[2022-10-25 01:21] #11674 closed

[2022-10-25 01:32] mallenexpensify commented on #12048
We are compensating for bug reports we fix for console errors but... I hadn't thought of examples where they're only on dev.  Addressed internally https://expensify.slack.com/archives/C02NK2DQWUX/p1666661515587739?thread_ts=1663583691.520459&cid=C02NK2DQWUX

[2022-10-25 01:38] syedsaroshfarrukhdot commented on #11488
**Proposal**

The issue that is causing text to move out of the screen is first Icon is being rapped in <Text> there is no need to do so.
https://github.com/Expensify/App/blob/159249bb82317fcd6bd06bc8d4f9127c300a9f9c/src/pages/ReimbursementAccount/BankAccountStep.js#L248-L257

In order to fix we need to remove Text tag from Icon and need to add styles.flexRow, styles.ml2, styles.flexWrap, styles.f

[2022-10-25 01:43] sophiepintoraetz commented on #11606
Payment to @Puneet-here - reminder for @parasharrajat to apply!

[2022-10-25 01:52] sophiepintoraetz commented on #12049
@kavimuru - please make sure you're filling out this section here in your issues
![image](https://user-images.githubusercontent.com/42940078/197663563-8825a131-3904-4625-9694-23fec6cb7629.png)