[2022-09-27 13:13] joekaufmanexpensify commented on #11316
Not able to reproduce in Web. Discussing further [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664284363930899?thread_ts=1662749815.463499&cid=C01GTK53T8Q).

[2022-09-27 13:30] melvin-bot[bot] opened #11337 "[$500] Investigate: 💥 Crash 💥 `.render`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Property 'didScreenTransitionEnd' doesn't exist
### `address at index.android.bundle:1:3041002` `.render`
### Number of Crashes: 2

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.3-0`
* **Devices:** samsung

[2022-09-27 13:38] Santhosh-Sellavel commented on #10283
Lets wait one more before closing this one!

[2022-09-27 13:43] kavimuru commented on #11312
@aldo-expensify Yes, we used "CMD + SHIFT + V" and it wasn't working. Will update the steps and title.

[2022-09-27 13:54] kbecciv opened #11338 "IOS - Profile - When opening a list of timezones, the compose box will be cropped on large devices"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go Setting - Profile
4. Click a list of time zones

## Expected Result:
The compo

[2022-09-27 14:05] MariaHCD commented on #11338
I don't see it as an issue if the timezone field is partially hidden and I'm in favor of doing nothing. Tagging design for a second opinion!

[2022-09-27 14:11] kbecciv opened #11339 "[$250] IOS - Workspace- A message that the user is offline is displayed at the top"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go Setting - Workspace
4. Click Get assistance

## Expected Result:
Messages on a

[2022-09-27 14:13] joekaufmanexpensify commented on #11316
Discussed in the above thread and I'm still not able to reproduce. However, the contributor who reported this is still able to reproduce, and we're both using production web on Mac.

Re-adding the triage label to see if a secondary reviewer is able to reproduce!

[2022-09-27 14:27] MonilBhavsar commented on #11305
Requested a CP here https://expensify.slack.com/archives/C07J32337/p1664288355879469
It works now on staging.
But we need to CP it first to production before deploying App. So not removing `DeployBlocker` label.

Sorry for not noticing it earlier 🙇

[2022-09-27 14:30] dhairyasenjaliya commented on #10027
@rushatgabhane @vitHoracek I think we can close this one as well since this is similar error group as I mentioned here https://github.com/Expensify/App/issues/9902#issuecomment-1236812985  , although I don't have rock solid steps to reproduce this one

[2022-09-27 14:39] stephanieelliott commented on #11090
Unable to repro on v1.2.2-0, @mvtglobally are you still able to repro this?

<img width="1004" alt="image" src="https://user-images.githubusercontent.com/31225194/192557064-610efa5e-8663-4ed9-b104-58a92faf19ed.png">

[2022-09-27 14:42] mountiny commented on #10027
I agree, thanks for the bump, we can see there is just on crash and on old version of the app. I will close this one out @deetergp @MitchExpensify

[2022-09-27 14:42] #10027 closed

[2022-09-27 15:04] kbecciv opened #11341 "[Hold for Payment 30-11-22][$500] Close account - Refactor to use Form component"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## New problem:

New plan = refactor Close Account page to use the `Form` component. When testing, make sure everything on that page looks good (succe

[2022-09-27 15:07] JmillsExpensify commented on #9427
@mananjadhav Send you a contract offer here: https://www.upwork.com/jobs/~01967be1fa14712bf3

[2022-09-27 15:18] JmillsExpensify commented on #9427
Paid via Upwork

[2022-09-27 15:19] iwiznia commented on #9545
Sorry, which PR? That's an issue and I don't see any PR linked to it.

[2022-09-27 15:20] shawnborton commented on #10352
Reopening then, as this is a bug that should be fixed.

[2022-09-27 15:21] deetergp commented on #7435
Not overdue

[2022-09-27 15:31] alexpensify commented on #11317
The workflow update is to show the Continue with Setup instead of showing the add manually option. Assigning to engineering for the next review.

[2022-09-27 15:39] neil-marcellini commented on #11084
Hmm I'm really not sure. I don't think we should hold on this, it seems unrelated to any refactors we are doing. cc @arosiclair and @chiragsalian.

[2022-09-27 15:45] aldo-expensify commented on #9545
I'm guessing this PR: https://github.com/Expensify/App/pull/10820

This comment sounds like it is on point of why this didn't work in this case: https://github.com/Expensify/App/issues/10966#issuecomment-1245789971

I feel like this isn't a regression because before the app just crashed and now we have an infinite spinner for that particular case.... which is a bit better. I don't know how we hand

[2022-09-27 15:47] stitesExpensify commented on #11064
It looks like this error is no longer in crashlytics/firebase so I think we can just close.

[2022-09-27 15:56] luacmartins commented on #10738
@mananjadhav @mollfpr AddressForm is wrapped with LocaleContext.Consumer, do consumers affect this solution? If not, I think we are ok to not add more HOC around AddressForm.

[2022-09-27 15:58] luacmartins commented on #11202
Sure, we can start a known issues section in the body to keep track of all of them.

[2022-09-27 15:59] mvtglobally opened #11342 "Most recent chat from sender isn't showing in LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. NewDot desktop open to chat with User A
2. Put computer to sleep
3. User A sends new chat/s
4. Awaken computer from sleep

##

[2022-09-27 16:08] varshamb commented on #11334
### Proposal

Add styles.textNoWrap in textStyles

[2022-09-27 16:09] luacmartins commented on #8497
I'll get back to this one this week

[2022-09-27 16:09] arosiclair commented on #11084
Yeah I'm not sure what could be causing this either. FWIW I can't repro this on Android v1.2.5-2

[2022-09-27 16:09] sobitneupane commented on #11125
https://github.com/Expensify/App/issues/11266 issue might also be related. Looks similar. @MonilBhavsar

[2022-09-27 16:11] arosiclair commented on #10615
I'll leave this in the pool to be picked up when sequence numbers are killed

[2022-09-27 16:28] ctkochan22 commented on #10926
@JmillsExpensify I fixed the issue, but we need a pay out for @Puneet-here

[2022-09-27 16:29] NikkiWines commented on #11192
Definitely looks like a good one for upwork! Adding `External` label

[2022-09-27 16:37] tgolen commented on #8292
Where do we stand with the proposal on this? I like the idea of getting those events put into the upstream code, but what does that mean for this issue in the meantime? Are we going to place it on hold, or move forward with `DrawerProgress`? I actually really like the look of `DrawerProgress` so I'd be cool with moving forward on that while we wait to see if we can get those events added upstream.

[2022-09-27 16:37] tgolen commented on #11167
I'm going to drop this down to weekly while we wait for proposals.

[2022-09-27 16:57] amyevans commented on #11262
Reproducible on the `main` branch locally.

This looks like another manifestation of the problem described by @jasperhuangg [in this Slack thread](https://expensify.slack.com/archives/C03TQ48KC/p1663797332998359) / https://github.com/Expensify/Expensify/issues/229696.

So we should keep this issue `Internal`. @jasperhuangg do you want to take it?

[2022-09-27 17:00] grgia commented on #9578
I am planning on working on this this week

[2022-09-27 17:01] neil-marcellini commented on #10283
I'm able to reproduce.
<img src=https://user-images.githubusercontent.com/26260477/192589922-0358cae4-8441-494f-bf3a-4a628d2a2bc6.jpeg  width=300px>

[2022-09-27 17:06] mananjadhav commented on #10973
@dhairyasenjaliya Looks good, with the only thing is don't hardcode `true`, rather pass it as props `textSelectable` as per your original proposal.

[2022-09-27 17:08] bondydaa commented on #11285
I think this can be closed, I mostly think this is actually just showing the system works as expected.

The "flickering" is because when you send the message it's using the "optimistic" data and using your local phone/device time which has purposefully been tweaked to be wrong by 2 hours. When the response comes back we are properly setting it based on "network time" is what we want.

discussed th

[2022-09-27 17:08] #11285 closed

[2022-09-27 17:11] thienlnam commented on #11326
Yup, these crashes are likely related to those fixes due to the changes here https://github.com/Expensify/App/blob/d09d79e4603fac660ff77deb0d36e33b89de9758/src/pages/home/report/ReportActionItem.js#L150-L160

[2022-09-27 17:11] #11326 closed

[2022-09-27 17:14] shawnborton commented on #10352
That makes sense and would be intended behavior. But why do some of the modals not have the left/right padding then?

[2022-09-27 17:19] thienlnam commented on #10623
My bad @kadiealexander, will watch out for that next time

Also the proposal from @Puneet-here was first and it looks good, 🟢

[2022-09-27 17:24] Julesssss commented on #8846
I recently upgraded XCode and I'm having some serious problems with my XCode env and phsical device. I will get to this soon! 😫

[2022-09-27 17:29] shawnborton commented on #10523
Yeah, I think Rajat is referencing this issue here: https://github.com/Expensify/App/issues/10493#issuecomment-1258544863

But regardless, I think we highlight the field that has an error with a red outline and an error message right below it.

[2022-09-27 17:30] shawnborton commented on #10493
If a specific field has an error, I think we should:

- Make the outline of that field red
- Place the red brick/dot indicator style error message below it

[2022-09-27 17:30] melvin-bot[bot] opened #11345 "[$250] Investigate: 💥 Crash 💥 `okio.Segment.<init>`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.OutOfMemoryError
### Failed to allocate a 8208 byte allocation with 2272 free bytes and 2272B until OOM, target footprint 16777216, growth limit 16777216
### `Segment.kt line 61` `okio.Segment.<init>`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **A

[2022-09-27 17:30] shawnborton commented on #10493
If there is an error related to the form submission itself, then that would appear directly above the submit button.

[2022-09-27 17:33] mvtglobally commented on #11297
@roryabraham
Regression is completed
PR  #10811 is failing due to https://github.com/Expensify/App/issues/11205. Happening is PROD too.
PR https://github.com/Expensify/App/pull/11165 is failing due to https://github.com/Expensify/App/issues/11186
PR https://github.com/Expensify/App/pull/11218 is failing due to https://github.com/Expensify/App/issues/11330 & https://github.com/Expensify/App/issues/

[2022-09-27 17:34] kbecciv opened #11346 "[$1000] Android - Concierge- Composed box looks expended and cursor is overlapping the text when placeholder content is long"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with expensifail account
3. Search for Concierge
4. Check composed box and tap on it

## Expected Res

[2022-09-27 17:35] grgia commented on #10524
Changing label to daily seeing as there's indication of a [regression](https://expensify.slack.com/archives/C02HWMSMZEC/p1664215395482959).

[2022-09-27 17:40] arosiclair commented on #11275
No repro with the latest on `main` (SHA: `2bef1705d5aac60c9463cc0f080155dc9925d033`).  @parasharrajat did you `npm install`?

[2022-09-27 17:43] mvtglobally opened #11347 ""Make default payment method" option shown for account that hasn't been verified - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to bank account > add info > company step > personal information
2. Dismiss the modal by pressing cross
3. Go to settings >

[2022-09-27 17:46] mvtglobally opened #11348 ""Make default payment method" option isn't showing up after you get error - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings > Click on bank account
2. Click "Make default payment method"
3. Type wrong password > Enter
4. Tap on "Make d

[2022-09-27 17:48] mallenexpensify commented on #10973
@dhairyasenjaliya and @mananjadhav , can you please apply for the job and confirm here once you have? https://www.upwork.com/jobs/~01c7e042fc552a8fa1

[2022-09-27 17:50] marcochavezf commented on #10610
@dylanexpensify Ah I think only the Upwork job, because the problem exists, and we'd want to re-evaluate the issue after the Keyboard initiative is implemented.

[2022-09-27 17:50] mallenexpensify commented on #10272
@rushatgabhane and @marcaaron , can you help here plz? The issue is reproducible so I'm hesitant to close

What's link to other branch? Is it on staging yet?

[2022-09-27 17:54] aldo-expensify commented on #11312
@kavimuru are you sure? I can see in the video that the person is pressing "CTRL" and not "CMD"

[2022-09-27 18:06] marcaaron commented on #10272
I would recommend that someone log into these tester accounts provided while debugging.

This one -> https://github.com/Expensify/App/pull/10340

I think it should be on production by now... not sure how to figure that out for sure.

[2022-09-27 18:09] aldo-expensify opened #11349 "Can't create workspace after deleting workspace (multiple tabs with new dot)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create expensifail account in NewDot
2. Create workspace
3. Open New dot in a second tab (keeping the first one open)
4. Delet

[2022-09-27 18:12] aldo-expensify commented on #11349
The bug could be related to this PR: https://github.com/Expensify/App/pull/10563

![image](https://user-images.githubusercontent.com/87341702/192604297-0cd88049-928d-4a4e-9ebc-b458394dd9e5.png)

[2022-09-27 18:13] aldo-expensify commented on #11349
cc @Justicea83

[2022-09-27 18:16] shawnborton commented on #10352
Okay cool. Thinking more on this, what would it take for us to always force the full bleed to the edges, no matter the device size, just for PDF? Something like this:
![image](https://user-images.githubusercontent.com/2319350/192604924-f8c4456a-e90f-4bd5-b480-f60808971da3.png)

[2022-09-27 18:17] puneetlath commented on #10971
Ah ok interesting. I'm going to close this then. Reopen if you disagree!

[2022-09-27 18:17] #10971 closed

[2022-09-27 18:20] danieldoglas commented on #11305
@MonilBhavsar just to confirm but is it possible that this is related to https://github.com/Expensify/Expensify/issues/230643?

[2022-09-27 18:23] roryabraham commented on #11192
Fun!

[2022-09-27 18:27] roryabraham commented on #11205
This is actually a duplicate of https://github.com/Expensify/App/issues/10524

[2022-09-27 18:28] arosiclair commented on #11275
Ok thanks I see it now. I'm not sure of a resolution for this but I see someone just posted an issue about it in the `react-native-renanimated` repo [here](https://github.com/software-mansion/react-native-reanimated/issues/3614). From what I can tell this hasn't had much effect on NewDot dev so I'll toss this back to the pool.

cc @roryabraham @marcaaron since you were the last guys to touch `reac

[2022-09-27 18:29] youssef-lr commented on #11267
Not overdue. Working on making this work properly with some new changes in the API, then I'll update the issue with the final changes that must be added to Form.

[2022-09-27 18:32] mallenexpensify commented on #10884
Able to reproduce on Web-Firefox, moving to on to engineering

https://user-images.githubusercontent.com/22508304/192607740-1f93bd98-176f-4b27-857c-c8390bff1989.mp4

Logs
[wrong chat opening.txt](https://github.com/Expensify/App/files/9658744/wrong.chat.opening.txt)

[2022-09-27 18:40] francoisl commented on #11221
I can't reproduce on mWeb, neither on staging nor production on an iOS simulator. And I also can't reproduce on my Android device.

https://user-images.githubusercontent.com/2229301/192608910-e243a8ca-d9a0-4b98-89a5-eca2058e33ae.mov

It looks like various discussions point to https://github.com/Expensify/App/issues/11239 / https://github.com/Expensify/App/pull/11036 being reverted, so I imagine th

[2022-09-27 18:43] MitchExpensify commented on #11202
[Upwork Job](https://www.upwork.com/jobs/~01319001582edc289e)

[2022-09-27 18:44] mvtglobally opened #11350 "Web - Closing App download links page in settings page is causing incorrect URL settings/about instead of r/reportId - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login in web app.
2. Open settings page > profile > click add phone number
3. Click on back arrow on this page to navigate to

[2022-09-27 18:45] luacmartins commented on #11297
Checking off https://github.com/Expensify/App/pull/11165. While it did not fix the issue (and the test steps fail), it's still a clean up for [this PR](https://github.com/Expensify/App/pull/11145).

[2022-09-27 19:02] Tushu17 commented on #11192
###Proposal

We need to use `onMouseOut` prop of `Pressable`

https://github.com/Expensify/App/blob/2bef1705d5aac60c9463cc0f080155dc9925d033/src/components/ImageView/index.js#L247-L250

[code]

   and we need to pass `changeGrabState` in onMouseOut

[2022-09-27 19:13] roryabraham commented on #11333
This is actually a duplicate of https://github.com/Expensify/App/issues/5536

Both are a feature request to persist draft reportActions in the server (not a bug)

[2022-09-27 19:13] #11333 closed

[2022-09-27 19:19] tgolen commented on #11332
I think this is by design. We purposefully don't change the order of the active chat when adding drafts (to keep the LHN from jumping around, which can be jarring to the user).

[2022-09-27 19:19] #11332 closed

[2022-09-27 19:22] tgolen commented on #11330
I just tested this on staging and cannot reproduce. You can see here how the draft reports are all listed alphabetically:

![image](https://user-images.githubusercontent.com/1228807/192617083-0b04080d-bb23-426d-8073-5f8e1e798b35.png)

[2022-09-27 19:30] trjExpensify commented on #8503
This is tied to WN, so I'm updating the priority label on this tracker to `weekly` for updates. [As per this thread](https://expensify.slack.com/archives/C02HWMSMZEC/p1664287165915339), adding a bullet to the OP for:

- [ ] testing and making sure the bidirectional pagination features we’ve built work with Fabric.

[2022-09-27 19:32] dhairyasenjaliya commented on #10599
**Proposal**

- We should add `style={styles.noSelect}` to `<Pressable>` in below file

https://github.com/Expensify/App/blob/2bef1705d5aac60c9463cc0f080155dc9925d033/src/components/AvatarWithImagePicker.js#L243-L245

- Reason why we should not use `onMouseDown={e => e.preventDefault()}` is that if we add preventDefault() it will lose focus once we press the escape key, here in our code base we ar

[2022-09-27 19:36] roryabraham commented on #11330
I did some testing on mobile web and found that reports with draft comments appeared in the correct alphabetical order. However, this did not happen until I opened a different report and came back to the LHN, which is actually the same bug report as https://github.com/Expensify/App/issues/11332

I think that this:

Makes sense on wide screens, but provides a UX that's not ideal on narrow screens (

[2022-09-27 19:37] roryabraham commented on #11297
Checking off https://github.com/Expensify/App/pull/11211. The reported bug is pretty minor, and may or may not be the expected behavior. Left some additional thoughts [here](https://github.com/Expensify/App/issues/11330#issuecomment-1259962825). Not going to treat as a blocker.

[2022-09-27 19:39] roryabraham commented on #11305
I was never able to reproduce this, but it looks like https://github.com/Expensify/Web-Expensify/pull/34964 was CP'd to production. Can we determine if we are good to close this out or not?

[2022-09-27 19:39] tgolen commented on #11330
Yes, maybe that's so, but to me, that's a very separate discussion.

[2022-09-27 19:40] roryabraham commented on #11330
I also notice that when you click on a report with a draft comment, it jumps down to it's previous unpinned position

[2022-09-27 19:41] advaitasol9 commented on #10765
@Santhosh-Sellavel I am able to reproduce on latest main.

[2022-09-27 19:44] dhairyasenjaliya commented on #10599
@parasharrajat AFAIR all the outline issues throughout the app were only found out in m-Safari so I do think this one is different issue as this affects chrome as well

[2022-09-27 19:44] roryabraham commented on #11297
@mvtglobally https://github.com/Expensify/App/issues/11301 should be fixed by https://github.com/Expensify/App/pull/11303 in `1.2.7-2`, can you please retest?

[2022-09-27 19:44] aldo-expensify commented on #10794
👋  @Szymon20000 , can you help me setting up some benchmarks to test this locally and provide results once I make the changes? I'm not familiar with how to do this in Android/React native environment

[2022-09-27 19:45] sakluger commented on #11315
This is a real, unique issue with clear documentation. Assigning engineering to review the proposed solution.

[2022-09-27 19:46] cead22 commented on #11305
I just tested this on staging and it's working fine

[2022-09-27 19:46] #11305 closed

[2022-09-27 19:46] roryabraham commented on #11297
https://github.com/Expensify/App/issues/11305 is fixed, checking it off

[2022-09-27 19:49] aldo-expensify commented on #11345
I'm not familiarized with OOM errors in Android. 16777216 bytes (~16MB) doesn't sound like much, but I may be wrong. I'm pretty sure this is `external` though.

[2022-09-27 19:50] Justicea83 commented on #11349
Oops!, I think the solution should be straight forward

[2022-09-27 19:54] kbecciv opened #11352 "[HOLD for payment 2022-11-16] [$500] Android/iOS - Workspace - Numbers shaking while updating rate in reimburse expenses @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2.  Log in with any account with Workspace or create one
3. Go Workspace > Reimburse expenses
4. Edit rate

##

[2022-09-27 19:55] mvtglobally commented on #11297
https://github.com/Expensify/App/pull/11303 is PASS. Let me double check the https://github.com/Expensify/App/issues/11301

[2022-09-27 19:59] marcaaron commented on #11267
Should we be showing all possible errors messages from the errors object?

👍

This is probably good for the Form case. I think sometimes an alternative can be to figure out how to pass an element you would otherwise toggle with a boolean prop in as a child or prop and then have the parent control it's visibility by either passing in the button or not. That is sometimes more flexible than a boolean

[2022-09-27 20:00] marcaaron commented on #11267
@youssef-lr I'm assuming you are also actively working on this - if so, we can add the `Internal` label

[2022-09-27 20:00] aldo-expensify commented on #11325
Thanks @aimane-chnaif . Closing. I think this issue should reopen if this is still happening.

[2022-09-27 20:00] #11325 closed

[2022-09-27 20:03] Justicea83 commented on #11349
Am not able to reproduce this.
<img width="614" alt="Screenshot 2022-09-27 at 20 02 47" src="https://user-images.githubusercontent.com/26106822/192624247-28ddbe18-c38c-4a43-850b-d32bd0e72d5e.png">

Deleting and creating the workspaces just work

[2022-09-27 20:04] aldo-expensify commented on #11349
hum, are you testing in dev? I reproduced it in staging and production

[2022-09-27 20:05] roryabraham commented on #11297
I was able to verify that https://github.com/Expensify/App/issues/11301 is fixed, checking it off

[2022-09-27 20:05] Justicea83 commented on #11349
@aldo-expensify can you please add a video recording on how you reproduce this?

[2022-09-27 20:05] aldo-expensify commented on #11349
can you try signing out and signing in with that account and then trying to create the workspace?

[2022-09-27 20:05] roryabraham commented on #11297
Going to work on QA of https://github.com/Expensify/App/pull/11254

[2022-09-27 20:07] kbecciv opened #11353 "Web -Attachment - Password autofill suggestion at password field for protected PDF @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2.  Log in with any account
3. Send protected PDF file
4. Click "enter the password"
5. Click

[2022-09-27 20:20] kbecciv opened #11354 "[$500] Web - Attachment - Unable to open popup "Enter the Password" using Enter Key"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with the account
3. Send PDF protected file
4. Click on PDF file
5. Use Tab key to n

[2022-09-27 20:20] roryabraham commented on #11297
https://github.com/Expensify/App/pull/11254 seems to be a pass. Performance metrics look good. The only thing is that there's a new crash: https://console.firebase.google.com/u/0/project/expensify-chat/crashlytics/app/android:com.expensify.chat/issues/193757d9bc1c3c9fab13ef0737f6db59?time=last-seven-days&sessionEventKey=6333322C01C900010EA52FBC6C7CF095_1726557865424712073

[2022-09-27 20:22] roryabraham commented on #11297
The crash seems like a memory leak problem in React Native itself. Going to ignore for now because I don't think there's much we can do about it, but we'll monitor it and hopefully see an issue created if it persists.

[2022-09-27 20:22] aldo-expensify commented on #11349
Hmm I see now that the wonkyness comes from having two tabs with new expensify open:

https://user-images.githubusercontent.com/87341702/192627094-67e1189d-82af-413e-a029-c1596a46cbc1.mov

Steps:

1. Login in New Dot
2. Open a second tab, both should have the same account logged
3. Create a workspace... it will show up in the LHN and disappear and show up and disappear... refresh until it looks fi

[2022-09-27 20:22] roryabraham commented on #11297
:shipit:

[2022-09-27 20:22] #11297 closed

[2022-09-27 20:25] OSBotify opened #11358 "Deploy Checklist: New Expensify 2022-09-27"
**Release Version:** `1.2.8-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10972
- [x] https://github.com/Expensify/App/pull/10987
- [x] https://github.com/Expensify/App/pull/11046
- [x] https://github.com/Expensify/App/pull/11253
- [x] https://git

[2022-09-27 20:32] aldo-expensify commented on #11349
Update steps to mention to open multiple tabs

[2022-09-27 20:41] JmillsExpensify commented on #11189
Sorry guys, created this issue and then bounced. I agree there's a backend component here. Have we created one yet, or are we tracking the E/E part in an existing issue already?

[2022-09-27 20:41] srikarparsi commented on #11315
the proposal looks good to me, marking the issue external so we can create the upwork job.

[2022-09-27 20:45] mvtglobally opened #11359 "[$250] Animation not smooth while closing attachment modal - reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.  Go to any chat
2.  click on any PDF
3.  Press :x: button

## Expected Result:
animation should be smooth

## Actual Result:
a

[2022-09-27 20:48] #9427 closed

[2022-09-27 20:49] Luke9389 commented on #11283
I think we may actually want this for accessibility reasons. Perhaps @shawnborton knows offhand?

[2022-09-27 20:49] Luke9389 commented on #11283
Like, when we tab around a page, we want a visual indication of what's focused.
Maybe the change here should be to un-focus on click, but again, not sure if that's actually a good practice.

[2022-09-27 20:52] aneequeahmad commented on #11350
@mallenexpensify, I think this should be added to https://github.com/Expensify/App/issues/11111  as per @parasharrajat comment. Thanks

[2022-09-27 20:53] Luke9389 commented on #10889
Oh ha 😄 thanks!

[2022-09-27 20:54] arosiclair commented on #11260
I can confirm this is an issue with API reads being executed before offline writes on reconnect. We're running `ReconnectApp` and `OpenPaymentsPage` before `DeletePayPalMeAddress` which causes the deleted paypal to be re-added before it is eventually removed again.

![Screen Shot 2022-09-27 at 4 51 01 PM](https://user-images.githubusercontent.com/6833644/192632802-0ba68359-60f4-4820-8fdd-f7a3b1cbb

[2022-09-27 20:54] #11260 closed

[2022-09-27 20:55] Luke9389 commented on #8455
Interesting. Are you hitting `Tab` to cycle between the inputs?

[2022-09-27 21:03] puneetlath commented on #11204
Proposal seems good to me too 👍🏾

[2022-09-27 21:09] Justicea83 commented on #11349
I tested in production

[2022-09-27 21:10] aneequeahmad commented on #10888
### PROPOSAL:

- @Santhosh-Sellavel This is my [proposal](https://github.com/Expensify/App/issues/10888#issuecomment-1247213815) where i identified the root cause and proposed the solution that is `to stop the Modal.isVisible` value set to `false`.

I liked this [idea](https://github.com/Expensify/App/issues/10888#:~:text=Maybe%20we%20could%20do%20something%20like%20this%20%2D) to introduce `Modal

[2022-09-27 21:19] Justicea83 commented on #11349
I can reproduce now(in prod), after opening 3 tabs, testing in dev to see if I can reproduce as well

[2022-09-27 21:25] Justicea83 commented on #11349
I think the bug actually has to do with the deletion of the workspace(policy), I can confirm that the onyx keys aren't properly cleared as you can see clearly in the screenshot below.
<img width="421" alt="Screenshot 2022-09-27 at 21 23 28" src="https://user-images.githubusercontent.com/26106822/192638491-f2d4a067-693c-4afa-8c54-b0527c7b868f.png">
Instead of removing them all together, I'm seeing

[2022-09-27 21:35] jliexpensify commented on #11171
@Santhosh-Sellavel - you mentioned via upworks messages that you don't have the capacity to investigate this. I'll go ahead and re-assign

[2022-09-27 21:35] ahmdshrif commented on #10352
# Proposal

## Proplem
we have some places we introduce the padding
1- safeAreaPadding around modle ( in all screen cases)  :-
https://github.com/Expensify/App/blob/eb9b903e076e34142c6aab0f415c99e41a008ff8/src/components/Modal/BaseModal.js#L125-L135

2- padding around the attachmentModle  ( at least padding:5 in all cases)
https://github.com/Expensify/App/blob/eb9b903e076e34142c6aab0f415c99e41a008

[2022-09-27 21:36] jliexpensify commented on #11170
@Santhosh-Sellavel - you mentioned via upworks messages that you don't have the capacity to investigate this. I'll go ahead and re-assign

[2022-09-27 21:45] lschurr commented on #11353
I'm on v1.2.8-0 and can't get the "add attachment" button to do anything.

[2022-09-27 21:47] JmillsExpensify commented on #4324
@adelekennedy Just confirming that we've updated the Upwork job for the new, higher payout? We should also update this issue title too.

[2022-09-27 21:49] OSBotify commented on #11358
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.8-0 :rocket:

[2022-09-27 21:59] mallenexpensify commented on #11342
Waiting to see if this is reproducible, if so, I want to add `[HOLD Fetch]` to the title, since that _might_ be what fixes this

[2022-09-27 22:03] aldo-expensify commented on #11349
@Justicea83 I'll have a look on those keys with undefined values once I start woking on the workspace delete stuff

I asked about the problem with multiple tabs here: https://expensify.slack.com/archives/C02HWMSMZEC/p1664310475053539

[2022-09-27 22:05] mallenexpensify commented on #11350
Thanks @aneequeahmad .  @jasperhuangg , since you created lucky issue #11111 , do you agree?  if so... wanna add to that then update this issue, inc. adding `[HOLD #11111]` to the beginning of the title?

[2022-09-27 22:09] JmillsExpensify commented on #11189
Actually, I did some sleuthing. Here's the related E/E issue: https://github.com/Expensify/Expensify/issues/145368

[2022-09-27 22:10] JmillsExpensify commented on #6527
What issue or convo is this holding on? Can someone link me to it?

[2022-09-27 22:17] kevinksullivan commented on #11273
https://www.upwork.com/jobs/~01c57edb4e56fb0d60

[2022-09-27 22:17] kevinksullivan commented on #11273
@dhairyasenjaliya please apply for the reporting bonus. Thanks!

[2022-09-27 22:20] puneetlath commented on #11157
@tienifr please apply to the Upwork job here: https://www.upwork.com/jobs/~01b724546cf6436533

[2022-09-27 22:20] MitchExpensify commented on #10736
I wonder if this is related to reports from Guides that no new messages in #admins or are showing in bold as unread in LHN

[2022-09-27 22:27] kevinksullivan commented on #11235
https://www.upwork.com/jobs/~010fc860cadd7c3ac7

[2022-09-27 22:27] adelekennedy commented on #4324
Updated the title and job - ready to pay out at the higher rate!

[2022-09-27 22:29] adelekennedy commented on #7911
Where are we at here? We've opened this up to anyone who wants to work on it (with the caveat we'll pay out to @ahmdshrif if we fix internally) @mallenexpensify should we make this an external issue again?

[2022-09-27 22:34] adelekennedy commented on #8005
Are we opening this back up for any proposals? @Beamanator @Santhosh-Sellavel

[2022-09-27 22:36] neil-marcellini commented on #10437
My Web-PR is in review and I learned that it's unnecessary to save the default notification preference at all, which means the Auth PR won't be necessary. I think it would still be a good idea to update the default notification preference in the optimistic data in App so I'll add that to the App PR tomorrow.

[2022-09-27 22:36] kevinksullivan commented on #11291
https://www.upwork.com/jobs/~01622e11116ab954f9

[2022-09-27 22:41] adelekennedy commented on #9822
Hmm this seems like it could be an Upwork issue - the job is open and public. I just edited and refreshed [here](https://www.upwork.com/jobs/~010b675bfe11a4a9d8)

[2022-09-27 22:42] marcochavezf commented on #11336
I was able to reproduce this one on production too. Looking at other sites, the autofill pop-up disappears when the user scrolls down/up the page.

[2022-09-27 22:44] adelekennedy commented on #10345
Upped the pay in Upwork and here - @ntdiary do you mind applying [here](https://www.upwork.com/jobs/~0123e5d47c48136d3e)?

[2022-09-27 22:46] shawnborton commented on #11283
Hmm I'm not sure, I think it should get the blue outline if it's tabbed into focus but maybe not if it's just clicked.

[2022-09-27 22:48] marcaaron commented on #10736
Just adding that the message would not be bold for the person who sent it. That expectation is 100% wrong. If you send a message and then log in as the person who sent it the chat should be marked as read.

[2022-09-27 22:49] roryabraham commented on #8503
Added a new section for dependency upgrades we'll need. One that stands out is that we'll need to [upgrade to Reanimated 3](https://blog.swmansion.com/announcing-reanimated-3-16167428c5f7), which is still in beta but will probably enter LTS soon

[2022-09-27 22:53] adelekennedy commented on #11239
@dhairyasenjaliya will you apply here? I'l hire and pay out the reporting bonus!

[2022-09-27 22:54] adelekennedy commented on #11199
Still waiting proposals!

[2022-09-27 22:58] shawnborton commented on #10352
Cool, yeah I think I prefer the full bleed to edges for the PDF view since we have the gray background already that kind of serves that purpose.

[2022-09-27 23:00] luacmartins commented on #6883
Nice! I marked the PR as ready for review!

[2022-09-27 23:07] trjExpensify commented on #10653
Still trying. Looks like we're having email delivery problems, so can't get a validation link to myself today.

[2022-09-27 23:28] ntdiary commented on #10345
@adelekennedy, Thanks, I have applied. 😄

[2022-09-27 23:46] youssef-lr commented on #11189
That's odd, once I removed the code from NewDot that checks for file extensions, I was able just about any file. The code [here](https://github.com/Expensify/Web-Expensify/blob/74bb5a2d30e0b000502549fce3be68f788082fc6/lib/ReportUtils.php#L235-L235) doesn't seem to reject files based on their extension, but rather, it decides whether to display a thumbnail or not. If it's an image or anything that

[2022-09-27 23:54] mallenexpensify commented on #10731
@Santhosh-Sellavel can you please review @christianwen 's proposal above? Bumping back to `Daily` til then

[2022-09-28 00:00] dangrous commented on #11317
Yep, this is pretty easily reproducible. i THINK this should be fully front end so I'm going to make it external; weekly because it's not a huge deal.

[2022-09-28 00:02] Christinadobrzyn commented on #11064
Closed the job in upwork

[2022-09-28 00:03] youssef-lr commented on #11189
Ok I think I got it. So if the file satisfies the condition [here](https://github.com/Expensify/Web-Expensify/blob/74bb5a2d30e0b000502549fce3be68f788082fc6/lib/ReportUtils.php#L278), which checks if the file isn't an image/pdf, it can be uploaded no matter its filetype, if it does not, then we check if it has a supported extension [here](https://github.com/Expensify/Web-Expensify/blob/74bb5a2d30e0

[2022-09-28 00:42] youssef-lr commented on #11267
Is there is any discussion I can look at about why we made the switch from an `error` key to the `errors` object key? As right now, I checked the code for occurrences of the `errors` Onyx key, and could not find where we include more than one item in the array. So I'm not sure yet how we would handle displaying all of the errors because the current format right now only sends out a single error.

[2022-09-28 00:50] youssef-lr commented on #10423
No update yet, haven't had the time to look into this.

[2022-09-28 01:23] smrutiparida commented on #11204
I have applied to this job on upwork now.

[2022-09-28 01:35] jliexpensify commented on #11315
Posted:

Internal - https://www.upwork.com/ab/applicants/1574935136116920320/job-details
External - https://www.upwork.com/jobs/~01209a66fcedf3009b

Invited @rushatgabhane and Manan.

[2022-09-28 01:36] jliexpensify commented on #11315
@srikarparsi - just confirming: good to hire @akshayasalvi ?

@akshayasalvi - can you edit your GH profile to include your full name, and link me your Upworks profile? Cheers!

[2022-09-28 02:07] Santhosh-Sellavel commented on #10888
@arielgreen
I'm afraid will not be able to look into this any sooner Busy with existing work items, also limited availability for the next couple of weeks So unassigning this one. Can you reassign this to another C+ by reapplying the external label?

Also, the above [proposal](https://github.com/Expensify/App/issues/10888#issuecomment-1260058143) is yet to be reviewed

[2022-09-28 02:10] Santhosh-Sellavel commented on #11261
@arielgreen
Busy with existing work items, also limited availability for next couple weeks So un-assigning this one. Can you reassign this to another C+ by reapplying the external label?

The proposal is yet to be reviewed https://github.com/Expensify/App/issues/11261#issuecomment-1259299842

Thanks!

[2022-09-28 02:57] wildan-m commented on #10426
@mvtglobally, please try to zoom in on the screen until the left column content overflowed the browser height.

Just check it in staging and the banner size still changes.

https://user-images.githubusercontent.com/11847279/192677258-84a56267-b05e-4f91-9861-3ed93696580e.mp4

[2022-09-28 02:57] dhairyasenjaliya commented on #11273
@kevinksullivan job seems to be private

[2022-09-28 02:59] dhairyasenjaliya commented on #11239
@adelekennedy job seems to be "Only invited users can find, view and apply to the job"

[2022-09-28 03:48] dhairyasenjaliya commented on #10973
**Default Props as true**

- We can define props and set them by default as true

`const propTypes = {
    textSelectable: PropTypes.bool,
}`
`const defaultProps = {
    textSelectable: true,
}`

**Global**

        const textComponent = (
            <Text
                selectable //always true
                style={[
                    this.props.isLoading && styles.opacity0,

[2022-09-28 03:52] dhairyasenjaliya commented on #10973
Applied

[2022-09-28 04:10] jliexpensify commented on #11101
Bump @Expensify/applause

[2022-09-28 04:14] mananjadhav commented on #10973
Yes I meant `Default props as true`.

[2022-09-28 04:17] akshayasalvi commented on #11315
@jliexpensify Does this help https://www.upwork.com/freelancers/~0103406434c3fea888

[2022-09-28 04:24] dhairyasenjaliya commented on #10973
alright will be adding PR soon

[2022-09-28 04:26] gadhiyamanan commented on #11315
@jliexpensify not getting any invite

[2022-09-28 04:29] jliexpensify commented on #11315
You're invited @gadhiyamanan - try clicking here:  https://www.upwork.com/jobs/~01209a66fcedf3009b

![image](https://user-images.githubusercontent.com/30815269/192687708-62d8ae9c-ea64-4de0-b477-92921026b389.png)

[2022-09-28 04:29] mvtglobally opened #11365 "Workspace general settings save button does not have visual feedback Action performed: - reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com/
2. Settings -> Workspace -> General settings
3. Change name or default currency
4. Cl

[2022-09-28 04:32] mvtglobally opened #11366 "[$250] Sending a message and then updating it with just "0", deletes the message - reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any chat
2. Send any message e.g. "10"
3. Now edit the message to "0" and save changes

## Expected Result:
The message

[2022-09-28 04:33] kadiealexander commented on #11314
@aneequeahmad, I can't replicate this on android or iOS on the web browser. Could you please advise the make and model of your phone, and which browser you're using?

[2022-09-28 04:36] gadhiyamanan commented on #11315
@jliexpensify should i submit proposal?
![Screenshot 2022-09-28 at 10 03 11 AM](https://user-images.githubusercontent.com/54790231/192688176-c7fc6c9d-7355-4bde-91d0-3f12a4fbe46e.png)

[2022-09-28 04:36] chauchausoup commented on #11365
I think this issue is similar to this one.
https://github.com/Expensify/App/issues/11195#issuecomment-1258666293

[2022-09-28 04:38] jliexpensify commented on #11315
@gadhiyamanan you'll be paid $250 for reporting the bug, so no need to submit a proper proposal. You could just write something like "I reported the bug and will be compensated" or something - I'll be the one paying everything once the PR is deployed.

[2022-09-28 04:39] kadiealexander commented on #11268
https://www.upwork.com/jobs/~015187a11e41d349f5
https://www.upwork.com/ab/applicants/1574981326809378816/job-details

[2022-09-28 04:46] gadhiyamanan commented on #11315
@jliexpensify applied :)

[2022-09-28 04:54] akshayasalvi commented on #10356
@mananjadhav I did, and I found that the issue exists with only Male/Female version of some odd 14-16 Emojis. I am going to update those and add up here.

[2022-09-28 04:56] mananjadhav commented on #10738
Yes afaik and hence, @mollfpr added `translate` as the prop to `AddressForm`.

[2022-09-28 04:57] tienifr commented on #11157
@puneetlath I applied to the job, my profile is https://www.upwork.com/freelancers/~01991fd5e5c11ef3ba
The PR will be ready by September 29

[2022-09-28 04:59] dhairyasenjaliya commented on #11193
hello @kadiealexander yes this issue exists on back click captcha doesn't hide, but I highly doubt to solve in our code base since this is inside plaid SDK

https://user-images.githubusercontent.com/47522946/192691144-1139f2d5-6db4-458c-b0c2-bf043541426b.mp4

[2022-09-28 04:59] aneequeahmad commented on #11314
@kadiealexander i can reproduce the issue on Iphone 11 pro, Google chrome on latest production build. Working fine on Safari

[2022-09-28 05:02] mananjadhav commented on #11079
@stitesExpensify Bump on the [comment here](https://github.com/Expensify/App/issues/11079#issuecomment-1257079895)

[2022-09-28 05:02] mananjadhav commented on #11129
@marcaaron Bump

[2022-09-28 05:03] gadhiyamanan commented on #11087
@cead22 in android, when you click on a phone number user can see the button but when you click on the password keyboard will hidden

[2022-09-28 05:23] gadhiyamanan commented on #11277
@JmillsExpensify here instruction means **By logging in, you agree to the...** , when you click on the phone field there is a large gap between the continue button and the instruction. after typing any word, space will remove

it's reproduced on android

[2022-09-28 05:38] thesahindia commented on #11261
I can take this one as I am only assigned on 2 issues right now. @arielgreen, you can assign this to me.

[2022-09-28 05:51] thesahindia commented on #11261
@tienifr, new contributors are limited to working on one job at a time. You are already assigned at https://github.com/Expensify/App/issues/11157

cc: @arielgreen @pecanoro

[2022-09-28 06:04] jaedm97 commented on #4324
@adelekennedy Are you still looking for someone on this? Then I can share my idea.

Thanks

[2022-09-28 06:05] dhairyasenjaliya commented on #10973
@mananjadhav PR is up and ready for review  :)

[2022-09-28 06:24] MonilBhavsar commented on #10263
Not overdue

[2022-09-28 06:41] adeel0202 commented on #9822
@adelekennedy, there is already a contract going on for this job on my Upwork, can you please pay me for that one instead of hiring for another one? I would really appreciate that. Same goes for [this issue](https://github.com/Expensify/App/issues/7436#issuecomment-1255819330).

[2022-09-28 06:49] mananjadhav commented on #10973
I've reviewed and left comment on the PR, @dhairyasenjaliya .

[2022-09-28 06:56] adeel0202 commented on #8455
No, I'm just clicking on the password field to set focus on it. But I don't think it matters. I get this error when I press enter/return key when the focus is on the password field.

[2022-09-28 07:31] laurenreidexpensify commented on #11241
@jasperhuangg bump ^^

[2022-09-28 07:44] Justicea83 commented on #11349
Since this issue is being looked into [here](https://github.com/Expensify/Expensify/issues/229633), I'll close it out and see if the solution fixes this.

[2022-09-28 07:44] #11349 closed

[2022-09-28 07:58] gadhiyamanan commented on #11086
@deetergp still not able to delete message with latest version after mark as read or copy to clipboard https://user-images.githubusercontent.com/54790231/192721948-a1e0dcf8-bcc5-4e7e-bbe8-0389ddaef997.mp4

[2022-09-28 08:09] sophiepintoraetz commented on #11284
All right - in the interest of focus, I'm going to close this one out. @kbecciv - feel free to reopen this if you feel otherwise/have more context to add.

[2022-09-28 08:09] #11284 closed

[2022-09-28 08:45] NikkiWines commented on #10893
Not overdue, waiting on proposals.

[2022-09-28 08:57] tylerkaraszewski commented on #11339
Super minor. I guess someone can work on it.

[2022-09-28 09:06] sketchydroide commented on #10431
closing

[2022-09-28 09:06] #10431 closed

[2022-09-28 09:19] MonilBhavsar commented on #11305
I don't think so as we haven't updated the olddot code.

[2022-09-28 09:21] tienifr commented on #11261
@thesahindia does it mean once I completed the PR for the other issue, I can start working on this one?
also just wanna check, when and how will I be qualified as no longer a `new contributor` and thus can work on multiple issues at the same time?

[2022-09-28 09:47] dhairyasenjaliya commented on #11348
I think We Should close this issue in favor of https://github.com/Expensify/App/issues/10493#issuecomment-1229930529

[2022-09-28 10:02] sketchydroide commented on #11187
Setting this as an external.

I think the excpectations are that the save button goes up, but never goes over the input fields.
If there is no enough space then the entire form can scroll.

[2022-09-28 10:05] techievivek commented on #10442
Hi @michaelhaxhiu we have come to an agreement that we would like to use an activity indicator rather than a percentage-based approach so I think we are good to go with the proposal.

[2022-09-28 10:26] chauchausoup commented on #11337
How can one replicate such issue ?

[2022-09-28 10:50] iwiznia commented on #10107
Not overdue

[2022-09-28 10:50] iwiznia commented on #9823
Bump again @parasharrajat

[2022-09-28 11:16] michaelhaxhiu commented on #10903
@kakajann invited you to the job in upwork, can you accept when you have a chance?

[2022-09-28 11:30] Beamanator commented on #10872
Doc still in review, but getting super close! Will try to start making issues for this by early next week

[2022-09-28 11:30] Beamanator commented on #10871
Doc still in review but getting super close! Still one detail ironing out with this

[2022-09-28 11:46] Beamanator commented on #11341
Nice, good call - the `Close Account` button should be disabled while offline, as this flow is Pattern C (Blocking Form)

[2022-09-28 11:47] Beamanator commented on #11341
Removing "Web" from the title since this probably affects all platforms?

[2022-09-28 11:50] kakajann commented on #10903
Just accepted

[2022-09-28 12:03] dhairyasenjaliya commented on #11341
**Proposal**

- we should add `withNetwork` from `OnyxProvider` to https://github.com/Expensify/App/blob/main/src/pages/settings/Security/CloseAccountPage.js

- Add the below condition
 `  isDisabled={Str.removeSMSDomain(userEmailOrPhone).toLowerCase() !== this.state.phoneOrEmail.toLowerCase() || this.props.network.isOffline}`
https://github.com/Expensify/App/blob/e5d766115babfe4fed51b97e8b7f65b6b

[2022-09-28 12:11] trjExpensify commented on #11187
@iwiznia @shawnborton @JmillsExpensify - this problem becomes obsolete when we update the `General settings` page to be push-to-page. I'm not sure it's worth fixing this in light of that?

Also, @sketchydroide, the behaviour is as intended on the iOS app it seems:

![IMG_8531](https://user-images.githubusercontent.com/16232057/192774405-29457cfa-1c71-4db4-8044-d0a0dcfc9e39.PNG)

On iOS mWeb (safar

[2022-09-28 12:21] michaelhaxhiu commented on #10258
Made a new job post (last one expired), and invited @Santhosh-Sellavel and @Tabakharniuk. Respond here after you accept and I can disperse payment

[2022-09-28 12:21] Santhosh-Sellavel commented on #11261
If your proposal is accepted here then you have to wait until other PR is successfully merged.

[2022-09-28 12:23] Santhosh-Sellavel commented on #10263
@andrewlor bump!

[2022-09-28 12:30] Santhosh-Sellavel commented on #4324
We have hired someone already for this job, thanks for interest @jaedm97.

There are other open jobs available [here](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22)

[2022-09-28 12:59] sketchydroide commented on #11187
Ok setting it on Hold and Weekly, removing external and all the other things

[2022-09-28 13:08] kbecciv opened #11368 "Web - Connect bank account - The system returns to the previous page after returning online"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue found when executing PR** https://github.com/Expensify/App/pull/10987

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and

[2022-09-28 13:17] kbecciv commented on #11148
@bondydaa QA team experienced similar issue with 2FA account on mweb/Chrome.
Do you want us to log a separate issue for this?

https://user-images.githubusercontent.com/93399543/192788614-85d1fc7c-70ef-4e1b-8522-62f38b511f65.mp4

[2022-09-28 13:22] kbecciv opened #11370 "Android/IOS - Profile - The user name with "&" is not displayed correctly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App and login with any account
2. Go to Settings->Profile
3. Use "&" for user name and save
4. Go back to the Setting

[2022-09-28 13:23] kbecciv commented on #11370
QA team had PR on OlDot yesterday https://github.com/Expensify/Web-Expensify/pull/34955 and  it Pass on Web, but does not work correctly in Android and IOS app.

[2022-09-28 13:59] laurenreidexpensify commented on #11341
https://www.upwork.com/ab/applicants/1575123042555121664/job-details

[2022-09-28 14:19] PauloGasparSv commented on #11074
Hey @thienlnam thanks for asking and sorry for taking so long!
I did not test on mobile, but now I tested the app against staging on my physical device and it works there too : )

https://user-images.githubusercontent.com/6564265/192803535-5f215593-dc3a-4ecb-b01e-569a3f9d15c2.MP4

[2022-09-28 14:27] thesahindia commented on #11261
@tienifr, I have checked your proposal. I think if we use width 100% at the containerStyles then the name/email will always be in a separate line.

[2022-09-28 14:28] thesahindia commented on #11261
Usually after 3-4 fixes (without regression).

[2022-09-28 14:28] Justicea83 commented on #11300
Looking into the code to see if something might be wrong here

[2022-09-28 14:34] kavimuru commented on #7618
@puneetlath Issue is reproducible in today's regression. Reopening this issue.

https://user-images.githubusercontent.com/43996225/192807196-ec9adb22-c93d-4d39-8fb1-a64733cc1176.mp4

[2022-09-28 14:38] stitesExpensify commented on #11064
LOL of course. Will look again today

[2022-09-28 14:43] andrewlor commented on #10263
Oh sorry I missed this. I'll have to check. The ios/android implementations of `Composer` look very different, so those might have an entirely different solution that we'd need to come up with.

[2022-09-28 14:58] tgolen commented on #11104
Still looking for proposals

[2022-09-28 15:05] shawnborton commented on #10905
Not overdue

[2022-09-28 15:06] dhairyasenjaliya commented on #11354
**Proposal**

- Here for "**Enter the password**" we are using the `<TextLink>` component which is specially designed to open external links and has `accessibilityRole="link"` which is used to open external links on press enter

- So for this issue use case we need to have a button component (Eg : TouchableOpacity, Pressable) that has actual `accessibilityRole="button"` which allows us to open the

[2022-09-28 15:16] luacmartins commented on #11267
IIRC [this](https://expensify.slack.com/archives/C02HWMSMZEC/p1655291987616659) is where we discussed it, not sure if there were other discussions around it though.

That may be the case now, but our [OfflineWithFeedback](https://github.com/Expensify/App/blob/755f2f8149b7aca2d53be59637ae7e09565981da/src/components/OfflineWithFeedback.js) component does allow multiple errors to be passed and displa

[2022-09-28 15:20] Justicea83 commented on #11300
Wanted to clarify something before I assign the internal label, you can follow [the thread here](https://expensify.slack.com/archives/C03TQ48KC/p1664378389551639).

[2022-09-28 15:23] tgolen commented on #7948
This is all done

[2022-09-28 15:23] #7948 closed

[2022-09-28 15:28] mallenexpensify commented on #10614
Price Doubled to $1000

[2022-09-28 15:29] MitchExpensify commented on #8929
Still saying "6 days" on [the merge to prod](https://github.com/Expensify/App/pull/9622#issuecomment-1255413916) so holding until it hits 7

[2022-09-28 15:53] mvtglobally commented on #11358
@roryabraham
Regression is completed

PR #10987 is failing due to https://github.com/Expensify/App/issues/11368. We can't check in prod, so not sure if its ok to check it off

[2022-09-28 15:58] kbecciv opened #11372 "[HOLD #11768] mWeb-lands on wrong screen when pressing the back button from the attachment screen @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with any account
3. Go to any chat
4. Click on any attachment
5. Press back button

[2022-09-28 15:59] roryabraham commented on #11358
I don't think we need to treat https://github.com/Expensify/App/issues/11368 as a blocker. It's not a bug so much as an improvement. Going to check https://github.com/Expensify/App/pull/10987 off

[2022-09-28 16:01] roryabraham commented on #11358
:shipit:

[2022-09-28 16:01] #11358 closed

[2022-09-28 16:04] OSBotify opened #11376 "Deploy Checklist: New Expensify 2022-09-28"
**Release Version:** `1.2.9-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10986
- [x] https://github.com/Expensify/App/pull/11280
- [x] https://github.com/Expensify/App/pull/11364

**Deployer verifications:**
- [x] I checked the [App Timing Dashbo

[2022-09-28 16:09] tgolen commented on #10273
@roryabraham I am going to grab this from you and start digging into this.

[2022-09-28 16:11] kbecciv opened #11377 "[HOLD for regression test] Web - The whole message with the (edited) text disappears when the updated message contains quotes (" ") @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Go to any chat
3. Type any message containing quotes e.g. "test"
4. Send the message
5. Cli

[2022-09-28 16:11] adelekennedy commented on #8126
Should we put this on HOLD for now? @parasharrajat @thienlnam

[2022-09-28 16:14] chauchausoup commented on #11229
I just found that the issue is replicating in few other places too.
- search box + LHN
- settings avatar + LHN

[2022-09-28 16:19] thesahindia commented on #11372
Dupe of https://github.com/Expensify/App/issues/7010 and it was decided to close it (check the reason [here](https://github.com/Expensify/App/issues/7010#issuecomment-1018194823))

[2022-09-28 16:20] roryabraham commented on #10273
Cool, thanks! Just FYI, we have already upgraded to Reanimated 2.10, which includes the `useAnimatedKeyboard` hook.

[2022-09-28 16:23] kbecciv commented on #11101
@parasharrajat @jliexpensify Issue reproduced in 2 platforms: mWeb/safari and Android app

https://user-images.githubusercontent.com/93399543/192833693-10a00941-4c92-469c-bf51-1fa1d43ce2bb.mp4

https://user-images.githubusercontent.com/93399543/192833679-e68a0793-1e03-4cbf-8dca-fde0c26f93e4.mp4

[2022-09-28 16:26] stitesExpensify commented on #11079
I think passing `isArchivedRoom` is fine. @sobitneupane go ahead and apply for the job on upwork!

[2022-09-28 16:30] thesahindia commented on #11261
After implementing your solution small names are also taking a separate line. Can you check that and share the results for smaller name/email after the fix?

The email should break and should take the next line when needed.

[2022-09-28 16:37] kbecciv commented on #11377
@adeel0202 Updated the bug title

[2022-09-28 16:41] michaelhaxhiu commented on #7618
Removing `Help Wanted` label, and confirming internally how we want to proceed here. I think fresh GH issue is in store because this one has a long comment history. Please hold though, I'll confirm.

[2022-09-28 16:42] thesahindia commented on #11261
@aimane-chnaif, I tried your solution but there is one problem, the period after the email shows up in the middle. Can we do something about it?
<img width="464" alt="Screenshot 2022-09-28 at 10 07 49 PM" src="https://user-images.githubusercontent.com/83179295/192838796-aa357a94-fb64-40ef-aa7e-80a5081d9af7.png">

[2022-09-28 16:43] adelekennedy commented on #9822
Hmm - it's a public job from my side:
<img width="165" alt="Screen Shot 2022-09-28 at 9 42 00 AM" src="https://user-images.githubusercontent.com/60450566/192840031-e146dc76-9867-483c-8077-3c75dfcbb5cf.png">

I just refreshed again if that works [here](https://www.upwork.com/jobs/~010b675bfe11a4a9d8)

[2022-09-28 16:45] melvin-bot[bot] opened #11378 "[$250] Investigate: 💥 Crash 💥 `com.facebook.soloader.SoLoader.doLoadLibraryBySoName`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.UnsatisfiedLinkError
### couldn't find DSO to load: libhermes.so
	SoSource 0: com.facebook.soloader.DirectorySoSource[root = /data/app/~~SWx-7yM3w9kzuyzsP0hS8Q==/com.expensify.chat-swufb1spy4ME1I9nP8X3gg==/lib/arm64 flags = 0]
	SoSource 1: com.facebook.soloader.DirectApkSoSource

[2022-09-28 16:46] thesahindia commented on #11261
Hmm I think we can fix both here.
@pecanoro, what's your opinion? (https://github.com/Expensify/App/issues/11261#issuecomment-1261103560)

[2022-09-28 16:48] PauloGasparSv commented on #11311
This issue is reproducible but not always! I can reproduce it if I toggle the internet really quickly on steps 5 to 7.

Both the reportActions and the report data are updated at the [same time here](https://github.com/Expensify/Web-Expensify/blob/main/lib/ReportUtils.php#L1931). This means we are sending both the `lastMessageText` (LNH message preview) and the chat messages back to the user withou

[2022-09-28 16:52] mvtglobally opened #11379 "Console error - Uncaught (in promise) TypeError: Cannot convert undefined or null to object - reported by @aimane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Visit https://staging.new.expensify.com/
2. Inspect / Console

## Expected Result:
No console error

## Actual Result:
Console

[2022-09-28 16:53] NicMendonca commented on #10127
@0xaim sure! Just ping here once you've applied for the job. Thanks!

[2022-09-28 16:57] Santhosh-Sellavel commented on #11378
Dupe of #9848

[2022-09-28 17:00] ducnguyen37 commented on #11261
@thesahindia I use wordBreak: 'break-word' in this case and I belive It works
[code]

<img width="373" alt="Screen Shot 2022-09-29 at 00 00 04" src="https://user-images.githubusercontent.com/61777954/192844125-2b66d4e6-73fc-4c5c-88d8-47d4e01ca5f9.png">
<img width="821" alt="Screen Shot 2022-09-29 at 00 00 44" src="https://user-images.githubusercontent.com/61777954/192844256-f6945c79-0f02-4fb5-974b

[2022-09-28 17:01] Santhosh-Sellavel commented on #11268
Had a glance at the proposal above it looks good on a high level. @asymness Can you brief or share implementation details of `stripMarkdown` how are you planning to implement this function include snippets

[2022-09-28 17:11] Santhosh-Sellavel commented on #10442
Good then, thanks!

[2022-09-28 17:13] kbecciv commented on #11101
@aimane-chnaif You are right, so only Android app has issue.

Uploading RPReplay_Final1664385004.MP4…

[2022-09-28 17:16] thienlnam commented on #11074
Hey @PauloGasparSv, sorry for not clarifying in my comment but the issue is about device continuity not just the workspace showing up on the same device.

For example, if you create a workspace from your mobile app and are logged in on your computer on the Web, the new workspace should show immediately on Web as well.  If the created Workspace from your mobile app doesn't show up on Web without a

[2022-09-28 17:16] ducnguyen37 commented on #11261
@thesahindia I've fixed this problem by adding dInline. I believe it works
[code]

<img width="417" alt="Screen Shot 2022-09-29 at 00 15 58" src="https://user-images.githubusercontent.com/61777954/192846985-46a66472-bcf9-4fd8-a7c6-6451909f7877.png">

<img width="451" alt="Screen Shot 2022-09-29 at 00 16 21" src="https://user-images.githubusercontent.com/61777954/192847050-63c5bc58-a220-4062-be4a-a

[2022-09-28 17:18] OSBotify commented on #11376
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.9-0 :rocket:

[2022-09-28 17:23] kbecciv opened #11380 "Web - Chat - SendPerfomanceTiming calls still shown under Networking"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing** https://github.com/Expensify/App/pull/11280

## Action Performed:
1. Navigate to staging
2. Open the network tab in con

[2022-09-28 17:29] #11221 closed

[2022-09-28 17:31] tienifr commented on #11261
@thesahindia I've fixed this problem by adding dInline. I believe it works
It's in a separate line if it's too long and I keep the period right after the email
[code]

<img width="417" alt="Screen Shot 2022-09-29 at 00 15 58" src="https://user-images.githubusercontent.com/61777954/192846985-46a66472-bcf9-4fd8-a7c6-6451909f7877.png">

<img width="451" alt="Screen Shot 2022-09-29 at 00 16 21" src="h

[2022-09-28 17:32] iwiznia commented on #11346
hmmm, I would believe this is related to the screen size being too small?
cc @Expensify/design what do you think of this? What should happen in this case if the phone is too narrow?

[2022-09-28 17:38] asymness commented on #11268
Hi @Santhosh-Sellavel,
Sure, here is a detailed explanation:

1. I see that there are `htmlToTextRules` written in the `ExpensiMark` class here: https://github.com/Expensify/expensify-common/blob/8df25d6ec2e9bbd0d47bb561e3a08f6aff9d4263/lib/ExpensiMark.js#L277-L299
We can add `markdownToTextRules` array to specify rules for conversion of markdown to text. This will look something like this:
[code]

[2022-09-28 17:38] tienifr commented on #11261
yep, sorry about that. I switched account and deleted the old comment

[2022-09-28 17:45] thesahindia commented on #11261
@aimane-chnaif, yeah I have tested the dInline and it's working correctly. @tienifr, your proposal looks good to me but since you are a new contributor so you will have to wait. Also we have to decide first if we also wanna fix the other issue here.

Let's wait for @pecanoro's answer at https://github.com/Expensify/App/issues/11261#issuecomment-1261177553

Just a note that when you propose a new c

[2022-09-28 17:46] thienlnam commented on #11097
Have not looked into this yet, low priority since we're still in beta

[2022-09-28 17:48] Luke9389 commented on #4733
no update here

[2022-09-28 17:48] Luke9389 commented on #10704
This is on HOLD so it shouldn't be marked Overdue.

[2022-09-28 17:50] thienlnam commented on #7917
Looks like this PR has been pending review for a while https://github.com/Expensify/App/pull/10965#issuecomment-1261256955

Bump @parasharrajat

[2022-09-28 17:52] tienifr commented on #11261
Sure, I'll keep that in my mind. Thanks

[2022-09-28 18:00] sobitneupane commented on #11339
PR raised in https://github.com/Expensify/App/issues/11315 will solve this issue as well. So, let's hold this issue for now. I will later verify this issue being fixed once PR for other issue is merged.
cc: @MitchExpensify @AndrewGable

[2022-09-28 18:01] mananjadhav commented on #11192
@Tushu17 While your proposal works, problem is, if I drag into the image, after dragging out and just leave the mouse it'll zoom out the image.

[2022-09-28 18:08] srikarparsi commented on #10925
@kevinksullivan @parasharrajat should we double the price on this issue or close it since we can't reproduce?

[2022-09-28 18:08] stitesExpensify commented on #10282
No update

[2022-09-28 18:09] kbecciv opened #11381 "[HOLD for payment 2022-10-20] [$250] IOS/Andriod- Chat -Text alignment is different between IOS and Android app for Rooms"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app in Android
2. Log in with expensifail account
3. Search for any room
4. Check the text alignment
5. Launch the

[2022-09-28 18:09] stitesExpensify commented on #7968
So where are we at with this one @Santhosh-Sellavel ? Is there a proposal you like?

[2022-09-28 18:11] Santhosh-Sellavel commented on #7968
We are still waiting for the proposal here.

[2022-09-28 18:16] marcochavezf commented on #11088
Thanks for the review @rushatgabhane, I'm going to change the priority to Weekly and wait for a better proposal

[2022-09-28 18:17] sobitneupane commented on #11315
I am taking over this issue as C+ since https://github.com/Expensify/App/issues/11339 issue will also be fixed by the PR raised here.
cc: @rushatgabhane @jliexpensify

[2022-09-28 18:20] kbecciv opened #11382 "[$250] mWeb/Safari - Details - blue outline while copy email to clipboard @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Go to any chat
3. Go to participant details
4. Click on clipboard

## Expected Result:
Shou

[2022-09-28 18:22] kavimuru opened #11383 "[mWeb] Blue line around plus button reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app in safari
2. Click plus button
3. Close option list without selecting any option

## Expected Result:
Should not be b

[2022-09-28 18:23] mananjadhav commented on #11383
@kavimuru I didn't report this. It must be someone else.

[2022-09-28 18:24] gadhiyamanan commented on #11383
@kavimuru it's me ✋

[2022-09-28 18:25] kavimuru commented on #11383
@mananjadhav Sorry. Will fix it.

[2022-09-28 18:28] Tushu17 commented on #11192
@mananjadhav, The solution doesn't touch the `isZoomed` state which is responsible for image zoom in or zoom out. So It's working fine.

https://user-images.githubusercontent.com/89839952/192859800-4f09691e-a0c5-47db-81e3-3e565556ac78.mov

[2022-09-28 18:36] sobitneupane commented on #11339
@akshayasalvi As you might have noticed, we are showing offline indicator only in small screen for other setting pages as well. We tend to be consistent across all pages. And since the code clearly intends to show `<OfflineIndicator /> ` only if  `this.props.isSmallScreenWidth` is true, this doesn't look like bug to me.

[2022-09-28 18:37] kavimuru opened #11384 "[$250] Shows blue line around eye icon reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings > security > change password
2. Click on eye icon several times
3. After clicking, ghost/test from the field be

[2022-09-28 18:38] akshayasalvi commented on #11339
Okay thank you for the comment.

[2022-09-28 18:44] kavimuru opened #11385 "[$1000] Enlarged View of avatar/profile picture is of low resolution (probably thumbnail) reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on any user’s avatar from chat.
2. Again click on avatar from the Details page.

## Expected Result:
The picture should

[2022-09-28 18:53] roryabraham commented on #8503
Updated this issue to include a requirement to address this warning:

[code]

Unless I'm mistaken, we can't get the benefits from Fabric unless we are actually using React 18

[2022-09-28 18:56] mvtglobally opened #11386 "[HOLD for payment 2022-10-24] [$250] Text below composer does not always have same position - reported by @mdneyazahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Send message to User B
3. Observe below the composer in User B device. It should be "Name is typing...." Observe t

[2022-09-28 18:56] mollfpr commented on #10738
@luacmartins @mananjadhav Are we gonna moving forward with the above proposal?

[2022-09-28 19:00] stitesExpensify commented on #11064
Not really sure where the actual error happened based on these logs, but maybe they'll be useful

img width="1328" alt="2022-09-28_12-59-24" src="https://user-images.githubusercontent.com/42391420/192866339-5107a620-ad05-427c-980a-4478293083eb.png">

[2022-09-28 19:01] sobitneupane commented on #11385
@kavimuru
Screen Recording demonstrating this issue.

https://user-images.githubusercontent.com/25876548/192866133-e1fc655d-7009-495b-aff5-eccbd29878b2.mov

[2022-09-28 19:03] Santhosh-Sellavel commented on #11064
@stitesExpensify comment is broken can we get a text if possible?

[2022-09-28 19:06] adeel0202 commented on #11301
bump @marcaaron

[2022-09-28 19:06] mananjadhav commented on #10738
I am fine with the given proposal. Let's hear it from @luacmartins.

[2022-09-28 19:09] dangrous commented on #11057
This is on hold, not overdue

[2022-09-28 19:10] yuwenmemon commented on #11380
Those were just bad QA steps in https://github.com/Expensify/App/pull/11280. We still have timing calls that are executed when switching reports, like here: https://github.com/Expensify/App/blob/f1dc53487835f580eb7e6c1c69a3082c5848e9ce/src/pages/home/report/ReportActionsView.js#L332

Gonna just close this out!
cc @iwiznia

[2022-09-28 19:10] #11380 closed

[2022-09-28 19:27] PauloGasparSv commented on #11311
Summarizing the discussion so far:

It is possible to reproduce the error following the steps in the issue body. I replicated it on Web.

When the offline user reconnects to the internet, the App make some API calls to retrieve chat data that would have been received via pusher had it been online. In this case, the app calls the `ReconectApp` and `OpenReport` commands to update the reports and the

[2022-09-28 19:38] stitesExpensify commented on #11064
[code]

[2022-09-28 19:40] mallenexpensify commented on #7911
https://github.com/Expensify/App/issues/7911#issuecomment-1149491041
It appears to need to be fixed internally, I'd leave it a monthly to see if anyone picks up. You should stay assigned @adelekennedy , in case it does get fix, @ahmdshrif will be due compensation if so

[2022-09-28 19:40] mvtglobally opened #11387 "[$250] IOS - Keyboard closes when tap on any other input field, drop down or take a photo in Workspace General settings - reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open IOS app user icon to open settings.
2. Select any workspace > general settings
3. Tap on Name text-field so that it gets

[2022-09-28 19:43] Santhosh-Sellavel commented on #10923
@puneetlath Accepted the offer, thanks!!

[2022-09-28 19:58] Santhosh-Sellavel commented on #10824
Sorry for the delay @andrewlor

But this kind of sound's like a workaround

[2022-09-28 20:02] Santhosh-Sellavel commented on #10518
@flodnv or @AndrewGable No one is assigned here

[2022-09-28 20:06] cead22 commented on #11087
@gadhiyamanan can you double check if when you click password and the button appears hidden, if you can scroll down and see the button? I think it's possible the button isn't hidden, but rather, the keyboard we show for the password is taller than the one we show for the phone number, and it's covering the button, but the button isn't really disappearing.

If you can confirm the button is actually

[2022-09-28 20:07] Santhosh-Sellavel commented on #8236
@aimane-chnaif
Why this?

Over this?

[code]

[2022-09-28 20:10] Puneet-here commented on #11386
### Proposal
We should be displaying the character limit error at the right because when user types it keeps changing the position.
To move it to the right we can create a style with `marginLeft: 'auto'` and we have to use it below
https://github.com/Expensify/App/blob/35e4606d21e3eccfeb0738ce96a8963fce81a93b/src/components/ExceededCommentLength.js#L18

[2022-09-28 20:10] cead22 commented on #11272
I still can't reproduce, I don't even see their email in the chat, just the name

https://user-images.githubusercontent.com/165133/192878876-0a2c8911-adb4-4b32-9845-f18acf962311.MP4

[2022-09-28 20:11] Santhosh-Sellavel commented on #11268
Agree with this.

But the next comment has text formatting like bold, italic (*, _) which is not expected while using `CTRL + SHIFT + V`

[2022-09-28 20:11] arosiclair commented on #11073
So the source of this issue is that the report participants and personal details for them are not populated when the new report is created. The chat view doesn't display these avatars in `ReportActionItemCreated` until those are populated. Eventually when the new chat report is opened, we run the deprecated `PersonalDetails_GetForEmails` and `Get?rvl="reportStuff"` commands that sync this data and

[2022-09-28 20:15] mallenexpensify commented on #10973
Hired @dhairyasenjaliya and @mananjadhav in Upwork

[2022-09-28 20:17] Santhosh-Sellavel commented on #8236
Can we bump this to weekly/monthly @NicMendonca

[2022-09-28 20:20] Santhosh-Sellavel commented on #8236
Can you elaborate on what the code does?

[2022-09-28 20:21] mallenexpensify commented on #11354
Job posted https://www.upwork.com/jobs/~0191c6efcfb886e0cf

[2022-09-28 20:22] alexpensify commented on #11372
Assigning to Engineering for the check if this one should be closed or give it another review.

cc: @roryabraham and @stitesExpensify

[2022-09-28 20:26] Santhosh-Sellavel commented on #10622
Looks good to me for android, about unsure about the web proposal.

if `decorateWithMetrics` is expecting a return `func`, I'm not sure how we could've missed this earlier.

[2022-09-28 20:27] kbecciv opened #11388 "[HOLD for payment 2022-10-20] [$250] IOS - Keyboard doesn't persist taps and closes on taping from one to another on Rate or Unit field in Reimburse expenses page @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open IOS app user icon to open settings.
2. Select any workspace > reimburse expenses.
3. Tap on Rate text-field so that it ge

[2022-09-28 20:27] ahmdshrif commented on #7911
@mallenexpensify I think @ctkochan22 thinks we can't fix it externally because of changes need in /expensify-common .

but I already contribute to this repo on 2 issues I get assigned for (as an external contributor )
https://github.com/Expensify/expensify-common/pull/436

if that's the only reason we can move it to external.

[2022-09-28 20:27] Santhosh-Sellavel commented on #8236
I get that!

[2022-09-28 20:29] Santhosh-Sellavel commented on #8236
What padding is under the status bar now?

[2022-09-28 20:32] Puneet-here commented on #10036
It's not reproducible because the button doesn't float now.

[2022-09-28 20:33] Santhosh-Sellavel commented on #10905
@jliexpensify Can we bump this to weekly while we wait, also we can double the price for this one!

[2022-09-28 20:34] AndrewGable commented on #10518
What is your point @Santhosh-Sellavel?

[2022-09-28 20:35] stitesExpensify commented on #11372
Hmm so the problem is that the attachment picker is not really a new page, it's the same page with a modal on it, so the back button is technically functioning correctly. IMO this is not a bug, it's user error. If they hit the `x` everything will work fine. The only reason it's confusing is because it _looks_ like a different page, but that's not something we want to fix right now IMO

[2022-09-28 20:39] Santhosh-Sellavel commented on #10518
Can you rephrase @AndrewGable?

[2022-09-28 20:40] Puneet-here commented on #11341
### Proposal

Let's use Form component here as well, we are currently refactoring components to use Form, Form already contains a button that will be disabled if you are offline.

[2022-09-28 20:41] Puneet-here commented on #11197
This functionality will be present for profile page too

[2022-09-28 20:43] AndrewGable commented on #10518
I'm wondering why you are commenting saying that it's unassigned? If it's an internal issue, an Expensify engineer will pick it up and work on it when they have time. Otherwise, it will just sit unassigned, so there is no need to comment on it.

[2022-09-28 20:43] kbecciv opened #11389 "[$500] Web -Set Password - Autofill suggestion shows up for password field at set password page @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Put new email address under log in
3. Click continue
4. Click Resent - Link
5. Go to you em

[2022-09-28 20:44] Santhosh-Sellavel commented on #11228
Can you bump this to `weekly` while we wait thanks!

[2022-09-28 20:44] stitesExpensify commented on #11372
If we do want to fix this, we could artificially add the report page a second time to react-navigation, but that could also cause problems where the flow is:
1. Navigate to report
2. Hit add attachment
3. Click the x
4. Hit back button
5. You stay on the same page
6. Hit back again and you actually go back.

So we would need to artificially add it when you click "add attachment" and then remove it

[2022-09-28 20:51] kbecciv opened #11390 "[$250] mWeb/Chrome - Cursor color is (black) not the same as the mobile app (blue) @jayeshmangwani"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Navigate to chat and check the cursor color at composer

## Expected Result:
It should be o

[2022-09-28 20:54] tgolen commented on #11342
I'm going to take this and see if I can reproduce it locally or not.

[2022-09-28 20:54] Puneet-here commented on #11197
Nothing. We can do that as well. We just have to pass a prop.

[2022-09-28 20:55] Santhosh-Sellavel commented on #10518
The reason I was bumping is that I think this could be useful information. Recently on this [issue](https://github.com/Expensify/App/issues/11288) it seemed that it occurs during development. this [one](https://github.com/Expensify/App/issues/11103) also.

[2022-09-28 20:56] Santhosh-Sellavel commented on #10729
Can we bump this to weekly while we wait?

[2022-09-28 20:58] JmillsExpensify commented on #11316
Let me jump in and try to reproduce.

[2022-09-28 20:58] AndrewGable commented on #10518
Got it! That is valuable information for sure, thank you! 🙏

[2022-09-28 21:03] yuwenmemon commented on #10631
No longer able to reproduce on Prod - yaaay it fixed itself 😅 🎉

[2022-09-28 21:03] #10631 closed

[2022-09-28 21:03] yuwenmemon commented on #10631
<img width="814" alt="Screen Shot 2022-09-28 at 2 03 44 PM" src="https://user-images.githubusercontent.com/4741899/192888332-58e722fd-5a10-456f-85c4-0b48175eea32.png">

[2022-09-28 21:04] kbecciv opened #11391 "[HOLD for payment 2023-01-11] IOS - Workspace -Units under Reimbursement-hidden by keyboard after tap on it (small phones)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go to Setting - Workspace
4. Tap on Reimbursable expenses
5. Tap on Units to chan

[2022-09-28 21:07] kbecciv opened #11392 "Web - Cursor is shown as pointer around unread message line @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot
2. Go to chat > Send a message
3. Mark as unread then hover over unread message line.

## Expected Result:
Cursor

[2022-09-28 21:09] mallenexpensify commented on #2727
@parasharrajat @iwiznia 👀 plz....
From [this comment](https://github.com/Expensify/App/issues/2727#issuecomment-1132353347),

The PR was merged upstream a while ago, right? [here](https://github.com/facebook/react-native/pull/34014), then [The React Native 0.70.0 is finally out!](https://github.com/Expensify/App/issues/2727#issuecomment-1239718792)

1. So... @lbaldy and @azimgd are due compensatio

[2022-09-28 21:12] youssef-lr opened #11393 "[HOLD #12603][Image][Performance] Avatar images in a report are re-fetched when we hover on the message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?
We need to figure out why the component re-renders even though nothing changes in the state. This could

[2022-09-28 21:36] jliexpensify commented on #11315
Assigning to @sobitneupane due to a regression. Unassigning Rushat, as Sobit is taking over as C+

[2022-09-28 21:41] youssef-lr commented on #11334
Thanks for taking the time to look into this @varshamb! But we don't intend to hire a contributor for this issue, and as a reminder, we recommend to contributors waiting until the `Help Wanted` is applied to an issue before they can work on it.

[2022-09-28 21:47] joekaufmanexpensify commented on #11316
Thanks!

[2022-09-28 21:50] cead22 commented on #11099
Are you sure the intended design is to be able to see the drafts after you sign out? I think clearing those drafts when signing out makes sense, because otherwise that means keeping this info in local storage, when imo that shouldn't be available after signing out because if somebody else uses the device and checks local storage they can access these drafts

[2022-09-28 21:54] marcaaron commented on #7618
Let's open a new one or put this one on HOLD.

[2022-09-28 21:54] marcaaron commented on #7618
I don't think it's the same issue. Can we please create a new issue?

[2022-09-28 21:54] #7618 closed

[2022-09-28 21:58] marcaaron commented on #11301
I'm not entirely sure. You will have to ask in Slack about this.

Thanks so much for reporting!

[2022-09-28 22:06] AndrewGable commented on #10550
On hold melvin!

[2022-09-28 22:06] trjExpensify commented on #10514
@thesahindia - paid $250 for the fix!
@mananjadhav - paid $250 for C+!
@Puneet-here - sent you an offer for reporting, please accept and I'll settle up.

[2022-09-28 22:09] marcaaron commented on #11129
Honestly I think without a reproduction there is not much point in spending time on this.

It could have been triggered by someone in the dev environment and has happened twice. Leaning towards just putting it on HOLD until it seems worth fixing.

[2022-09-28 22:11] marcaaron commented on #10283
tagging in @roryabraham since he probably has the most up to date information about `maintainVisibleContentPosition`

[2022-09-28 22:13] marcaaron commented on #11091
I think maybe it was an accident that @parasharrajat was unassigned from this one. I will re-add them!

[2022-09-28 22:17] kavimuru opened #11396 "The email of setup specialist shows up in the LHN instead of the name on receiving the first message reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new workspace
2. Go to admin room

## Expected Result:
The name should be shown

## Actual Result:
Email shows up in

[2022-09-28 22:17] marcaaron commented on #4656
This one here to lazy load navigation screens -> https://github.com/Expensify/App/pull/10986

[2022-09-28 22:19] marcaaron commented on #10762
I have a feeling this was related to the authentication issues we identified and fixed [here](https://github.com/Expensify/App/pull/11151).

Let's close and see if it happens again.

[2022-09-28 22:19] #10762 closed

[2022-09-28 22:28] kavimuru opened #11398 "[New Feature] Not able to zoom pdf @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any chat which has pdf attached
2. Click on pdf and try to zoom pdf

## Expected Result:
Should be able to zoom pdf

##

[2022-09-28 22:41] syedsaroshfarrukhdot commented on #11354
### Proposal

If we need to treat all LinkText to be opened on the keyboard enter press. Then we need to wrap Text in TextLink in a TouchableOpacity or I recommend creating a separate component for handling such cases.

https://github.com/Expensify/App/blob/e5d766115babfe4fed51b97e8b7f65b6bec64f21/src/components/TextLink.js#L36-L51

<img width="676" alt="Screen Shot 2022-09-29 at 3 05 56 AM" src="

[2022-09-28 22:59] jliexpensify commented on #10905
@Santhosh-Sellavel I made it Weekly, but I only just doubled 3 days ago...so let's wait until next week?

[2022-09-28 23:00] kavimuru opened #11399 "Clicking on the full page image takes to the oldDot reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the web app.
2. Refresh the page a few times until you see image as per the screenshot.
3. click anywhere on the image ar

[2022-09-28 23:10] aldo-expensify commented on #10794
Created a draft pull request: https://github.com/Expensify/App/pull/11400 replacing the md5 hashing function by a simpler hashing function. Just looked up online and took the one Java uses for String.hashCode which should be enough for this case.

Would be good to be able to measure performance in our main branch and with the changes in the [aldo_hashcode-avatar](https://github.com/Expensify/App/t

[2022-09-28 23:11] puneetlath commented on #9739
All paid! Thanks everyone.

[2022-09-28 23:11] #9739 closed

[2022-09-28 23:14] kavimuru opened #11401 "The spaces are getting removed from the Attachment name reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to settings > Click on :heavy_plus_sign: > Add attachment
2. Select an attachment with spaces in its name
3. Check th

[2022-09-28 23:24] shawnborton commented on #11346
Hmm maybe we just need to make these suggested hints shorter? Is there discussion somewhere from where this was implemented?

[2022-09-28 23:31] kavimuru opened #11402 "IOS - Entering Rate value in reimburse page of workspace is causing the value and cursor to behave randomly like digits entered quickly are removed from the UI for a second and added UI again reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open IOS app user icon to open settings.
2. Select any workspace > reimburse expenses.
3. Tap on Rate text-field so that it ge

[2022-09-28 23:36] neil-marcellini commented on #10437
I made some updates to the Web-PR which fix the default notification preference when the app is opened / reconnected.

[2022-09-28 23:41] kavimuru opened #11403 "[$1000] Set password - Error reappears in the password field on entering a character after clicking eye icon previously reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Logout
2. Visit https://new.expensify.com/setpassword/12252246/NCSQXMADP
3. Type 123 and click on eye icon (you will see error

[2022-09-28 23:52] kavimuru opened #11404 "IOU - Cursor appears at the random place in search contact page @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open app on IOS Chrome.
2. Tap + icon at the bottom right.
3. Tap split bill > enter amount > next.

## Expected Result:
Curs

[2022-09-29 00:05] kbecciv opened #11405 "[$1000] mWeb/Safary - Chat - Menu is superimposed with the inscription actions"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
and login with any account
2. Go to any conversation
3. Long press the + button

[2022-09-29 00:09] kavimuru opened #11406 "[$250] mWeb/Safari - New Room - Welcome page of the new room is moving"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any expensify account
3. Click on FAB button/New Room
4. Enter the

[2022-09-29 00:09] kbecciv opened #11407 "mWeb/Safary - New Room - Welcome page of the new room is moving"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any expensify account
3. Click on FAB button/New Room
4. Enter the

[2022-09-29 00:10] kbecciv commented on #11407
Sorry, closing due to log the issue the same time https://github.com/Expensify/App/issues/11406

[2022-09-29 00:10] #11407 closed

[2022-09-29 00:14] kavimuru opened #11408 "No Response after change password incorrectly @Github.com/dimasna"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. go to settings
2. go to security
3. change password
4. input your current password with 2 char (no validation here)
5. input y

[2022-09-29 00:21] arielgreen commented on #11092
@parasharrajat can you review https://github.com/Expensify/App/issues/11092#issuecomment-1257032680 please?

[2022-09-29 00:22] owjhart commented on #7968
@Santhosh-Sellavel [This proposal](https://github.com/Expensify/App/issues/7968#issuecomment-1214211844) will work with the existing global listeners in the other modals and could be used straight away with little or no regression risk

[2022-09-29 00:28] arielgreen commented on #10362
@Santhosh-Sellavel @thesahindia @varshamb please check your Upwork inboxes

[2022-09-29 00:32] arielgreen commented on #11061
https://www.upwork.com/jobs/~010b3563aad316549f

[2022-09-29 00:33] arielgreen commented on #10625
@rushatgabhane see above proposals, please

[2022-09-29 00:57] Tushu17 commented on #11392
### Proposal
We just need to add ` cursor: 'default'` to

https://github.com/Expensify/App/blob/4110cf23cd1a858217c86b4872f32005de0a204f/src/styles/styles.js#L1969-L1980

[2022-09-29 01:20] arielgreen commented on #10847
@rushatgabhane @mananjadhav @mdneyazahmad check your Upwork inboxes, please.

[2022-09-29 01:23] arielgreen commented on #11124
https://www.upwork.com/jobs/~019adfdad6a282e138

[2022-09-29 01:28] arielgreen commented on #8846
@aimane-chnaif sent an offer in Upwork

[2022-09-29 01:33] arielgreen commented on #11347
Honestly not sure what we're supposed to show here; [asking for thoughts in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1664415151609369).

[2022-09-29 01:40] arielgreen commented on #10579
thanks @parasharrajat resent

[2022-09-29 01:44] arielgreen commented on #10888
Crowdsourcing [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1664415846832409) because autoassigner keeps adding Rushat.

[2022-09-29 02:21] mananjadhav commented on #10973
@mallenexpensify I am unable to accept the offer.

<img width="995" alt="image" src="https://user-images.githubusercontent.com/3069065/192924037-d8c7ca53-6181-46e3-b8bc-384edcd56c63.png">

[2022-09-29 02:22] sobitneupane commented on #11315
I am taking over this issue as C+ since https://github.com/Expensify/App/issues/11339 issue will also be fixed by the PR raised here.

This [proposal](https://github.com/Expensify/App/issues/11315#issuecomment-1258956305) from @akshayasalvi will solve this issue as well as https://github.com/Expensify/App/issues/11339 issue.

@srikarparsi proposal from @akshayasalvi  looks good to me
🎀👀🎀  C+ revie

[2022-09-29 03:06] kadiealexander commented on #11388
Replicated in iOS! Moving to engineering.

[2022-09-29 03:23] kadiealexander commented on #11314
Thanks! I was able to repro it too just now. Sending to engineering!

[2022-09-29 03:28] kadiealexander commented on #11193
Closing as this is an issue with Plaid as mentioned above.

[2022-09-29 03:28] #11193 closed

[2022-09-29 03:40] Christinadobrzyn commented on #11377
Ah interesting, I don't see any other issues related to this so going to send it to eng

[2022-09-29 04:06] mvtglobally opened #11410 "The form error message isn't showing up correctly in spanish - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open App
2. Go to preference and change preferred language to spanish.
3. Go to Request call page/Connect bank account page.
4

[2022-09-29 04:11] mvtglobally opened #11411 "[HOLD for payment 2022-10-20] [$250] Text is going out of the border - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings > Preferences
2. Change language to español
3. Go back > About > Keyboard shortcuts

## Expected Result:
Text s

[2022-09-29 04:49] mvtglobally commented on #11376
PR #11280 is failing due to https://github.com/Expensify/App/issues/11380

[2022-09-29 04:55] gadhiyamanan commented on #11411
**Porposal**

remove `styles.flex1` from below code
https://github.com/Expensify/App/blob/1bed3e5bc8c895eb630206e19c0aa82970f890f1/src/components/KeyboardShortcutsModal.js#L56-L61

After Fix

![Screenshot 2022-09-29 at 10 24 29 AM](https://user-images.githubusercontent.com/54790231/192942143-7a34e448-b951-44be-a938-c9fbff57eda5.png)
![Screenshot 2022-09-29 at 10 25 10 AM](https://user-images.githu

[2022-09-29 04:58] Tushu17 commented on #11410
### Proposal
we need to keep Text component as a parent in
https://github.com/Expensify/App/blob/3e03f0827c1109a050c50605b2484fbd2d6b20f5/src/components/FormAlertWrapper.js#L66-L80

[code]

OR

[code]

[2022-09-29 05:12] jliexpensify commented on #11315
Invited @sobitneupane , cheers!

[2022-09-29 05:23] Santhosh-Sellavel commented on #10905
Ah Sorry, I missed your comment 3 days ago. @jliexpensify

[2022-09-29 05:57] thesahindia commented on #11341
@Beamanator, what's your opinion? Do we wanna use `Form` here or should we just disable the button when the user is offline?

[2022-09-29 06:52] MonilBhavsar commented on #11125
Yes looks similar.

[2022-09-29 06:52] MonilBhavsar commented on #9391
Still on HOLD

[2022-09-29 07:07] tienifr commented on #11336
# Proposal

## Problem
The default behavior of removing autofill is when we scroll `window`. Unfortunately, our form stays inside other container so when we scroll, this container scroll not `window`.

ref: https://stackoverflow.com/a/45446880

## Solution
My suggestion is to remove and restore from the active input field in a form's onScroll event

in https://github.com/Expensify/App/blob/1bed3e5

[2022-09-29 07:19] gadhiyamanan commented on #11087
@cead22 not able to scroll down, first I need to close the keyboard

the button disappears only for the password field and is reproducible only on android

[2022-09-29 08:17] dylanexpensify commented on #9181
Any updates @parasharrajat

[2022-09-29 08:18] dylanexpensify commented on #10966
Sounds good, any update @Santhosh-Sellavel ??

[2022-09-29 09:09] akshayasalvi commented on #11410
**Proposal**

I would go with replacing the `<>` with `View`. So in `FormAlertWrapper`, I would do this:

[code]

Because based on my experience, having nested `Text` especially with link, have issues with accessibility.

[2022-09-29 10:12] NikkiWines commented on #9459
Waiting on proposals

[2022-09-29 10:27] Puneet-here commented on #11382
Hi, It was reported by me [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1661765028598559) and the blue outline shows up at multiple places not only at the clipboard.

[2022-09-29 10:57] dhairyasenjaliya commented on #10599
hello @parasharrajat finally found the PR that causes outline globally as we have added an outline on pressing tabs and I think we manually need to treat those issues where we don't want to highlight component  PR https://github.com/Expensify/App/issues/8608

[2022-09-29 11:10] trjExpensify commented on #10514
Awesome, settled up with you now @Puneet-here. Thanks, everyone! 🎉

[2022-09-29 11:10] #10514 closed

[2022-09-29 11:13] trjExpensify commented on #11229
I'm not sure I understand fully, @chauchausoup. Can you post us some screenshots/vids? 🤔

[2022-09-29 11:13] trjExpensify commented on #11229
In the meantime, @parasharrajat @Beamanator are we waiting on something for feedback on this current proposal? https://github.com/Expensify/App/issues/11229#issuecomment-1257333888

[2022-09-29 11:15] trjExpensify commented on #11129
@marcaaron shall we just close it then? Presumably we'll get another crash report for `.NumberFormat` if it happens again? 🤔

[2022-09-29 11:16] trjExpensify commented on #10931
Job doubled to $500 on Upwork here: https://www.upwork.com/jobs/~01c3f1b04035ef88cf

[2022-09-29 11:16] Justicea83 commented on #11300
We want to replace the alternate text with `This is the beginning of your chat history with Person, Person, and Person`

[2022-09-29 11:18] kbecciv opened #11413 "[$500] Web - Login - Hitting "Enter" key does not save the password"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App on device 1 (Android App for me)
2. In the email field, enter an email address for a new account
3. Verify there’

[2022-09-29 11:18] trjExpensify commented on #10327
^^ Thoughts on the above @JmillsExpensify @Julesssss?

[2022-09-29 11:20] trjExpensify commented on #10221
How can we get this one unblocked as it has stalled in review. @AndrewGable, are you able to take a look please?

[2022-09-29 11:24] trjExpensify commented on #10202
[Commented on the PR](https://github.com/Expensify/App/pull/10394#issuecomment-1262140380), nearly there. Let's get it done! 🚀

[2022-09-29 11:27] trjExpensify commented on #8459
👋 - what's going on [with the PR](https://github.com/Expensify/App/pull/8902) in review, how can we unblock it?

[2022-09-29 11:29] kbecciv opened #11414 "Web -Payment - Popup with payment option is hidden title for new public accounts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with your band new public account
3. Go to Settings - Payments
4. Click Add Payments

[2022-09-29 11:30] melvin-bot[bot] opened #11415 "[$500] Investigate: 💥 Crash 💥 `.onPressIn`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Cannot read property 'length' of undefined
### `address at index.android.bundle:1:2917713` `.onPressIn`
### Number of Crashes: 3

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.3-0`, `1.2.11-2`
* **Devices:** s

[2022-09-29 11:51] Julesssss commented on #10327
Yeah perhaps we should put this on hold and deal with it internally at a higher priority

[2022-09-29 12:20] trjExpensify commented on #8459
Thank you!

[2022-09-29 12:40] trjExpensify commented on #10327
I think so, or maybe even close. I'm unable to reproduce it on prod. Things seem speedy, what about you? CC: @twisterdotcom

![notification web switch](https://user-images.githubusercontent.com/16232057/193033596-9628ca36-aacd-42fb-b1fa-0eddd07c7fb2.gif)

[2022-09-29 12:54] mdneyazahmad commented on #10449
@adelekennedy offer accepted, Thank you!

[2022-09-29 13:09] kbecciv commented on #11272
@cead22 This person is fixed already, but issue is still exist for other members.
kbecciv+0525@gmail.com/Feya86Katya

https://user-images.githubusercontent.com/93399543/193040033-ad4a3080-cfa4-46f2-8b3d-9209adeafba5.mp4

[2022-09-29 13:14] michaelhaxhiu commented on #11083
https://www.upwork.com/jobs/~01f5eb4b76fce52748

[2022-09-29 13:15] kbecciv opened #11416 "Room - Settings - Unable to remove setup specialist from the room @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new workspace (when you create a new workspace, a setup specialist is assigned and added to that workspace's announce

[2022-09-29 13:22] michaelhaxhiu commented on #11083
Just added/removed that `exported` label to test something. Ignore :)

[2022-09-29 13:25] Tabakharniuk commented on #10258
Done!
Cc: @michaelhaxhiu

[2022-09-29 13:40] mvtglobally commented on #11376
@roryabraham  Regression is completed

[2022-09-29 13:55] kbecciv opened #11418 "Search - Searching expensify.sms displays numbers in search result @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open staging.new.expensify.com
2. Go to Search page.
3. Search combination of these letters "e, x ,p, e, n, s, i, f, y".

## E

[2022-09-29 13:55] #10653 closed

[2022-09-29 14:05] AndrewGable commented on #10221
The vulnerability fix is in `nth-check` versions <2.0.1 ([mentioned here](https://github.com/Expensify/App/pull/10827#issuecomment-1251163200)). Running the "list" command shows it's been updated to 2.1.1

[code]

[2022-09-29 14:16] AndrewGable commented on #11370
Can you retest please? Looks like it just went to production today.

[2022-09-29 14:18] AndrewGable commented on #11368
I'm not 100% sure this is a bug, do we have a test stating that it should stay on the same page? cc-ing a few others for some opinions @luacmartins @ctkochan22 @Julesssss

[2022-09-29 14:19] AndrewGable commented on #11352
Hmm, I don't think this is a bug and is intended behavior? The number can only be so big, so we remove the last number. Feel free to reply if you disagree.

[2022-09-29 14:33] kevinksullivan commented on #11322
Reproduced

https://expensify.slack.com/archives/C01GTK53T8Q/p1664384892862209?thread_ts=1663777725.226859&cid=C01GTK53T8Q

[2022-09-29 14:35] kevinksullivan commented on #11322
https://www.upwork.com/jobs/~0175cbde3d2eb4e80a

[2022-09-29 14:35] kbecciv opened #11419 "[HOLD for payment 2022-10-20] [$250] Connect Bank Account - The checkbox is already checked off under Connect manually @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Navigate to settings > workspace > connect bank account
3. Click Connect manually

## Expec

[2022-09-29 14:36] gadhiyamanan commented on #11352
@AndrewGable i think we should add character limitations instead of removing last number

[2022-09-29 14:36] puneetlath commented on #11322
@kevinksullivan it sounds like based on that thread this will be handled by sequence numbers though?

[2022-09-29 14:38] Julesssss commented on #11368
I'm not sure either, but I'm leaning towards 'bug', as it would be annoying to be kicked out of the flow if you temporarily lose connection after typing in your bank details.

[2022-09-29 14:39] kevinksullivan commented on #6527
Perhaps @thienlnam can weigh in on this comment a bit more?

What do you propose we discuss, and is someone on this issue well suited to do that?

[2022-09-29 14:41] kevinksullivan commented on #11273
@dhairyasenjaliya should be good now?

[2022-09-29 14:44] Puneet-here commented on #11419
### Proposal

I already have added the proposal in the thread [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664446949045039?thread_ts=1663687990.703219&cid=C01GTK53T8Q)
Copy/Pasting it here:

We need to change the default value from true to false
https://github.com/Expensify/App/blob/35e4606d21e3eccfeb0738ce96a8963fce81a93b/src/pages/ReimbursementAccount/BankAccountManualStep.js#L36

[2022-09-29 14:45] kbecciv opened #11420 "[HOLD #11768] Web - Pressing back after refresh dismisses the modal on many pages @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Navigate to settings > workspace > manage members
3. Press Invite
4. Reload the page and pr

[2022-09-29 14:47] kavimuru opened #11421 "Compose box not consistent when user edit comment after reopen chat reported by @Github.com/dimasna"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to chat (Concierge)
2. Add a comment
3. Edit and leave it empty (here main compose box disappear)
4. Refresh the page with

[2022-09-29 14:47] dhairyasenjaliya commented on #11273
hm still same error @kevinksullivan

[2022-09-29 14:47] trjExpensify commented on #11229
Ah, yeah. The OP didn't get updated.

[2022-09-29 14:51] Puneet-here commented on #11420
### Proposal

We have to use Navigation.navigate(Route) at `onBackButtonPress` for the `HeaderWithCloseButton` on the pages where this issue is present, we need to add the Route where we want to navigate on pressing back.

This is the list of pages-
1. Connect bank account page
2. Debit card page
3. Invite new members page
4. Change password page

[2022-09-29 14:51] kevinksullivan commented on #10925
I can't reproduce either so I'm going to close it out.

[2022-09-29 14:51] #10925 closed

[2022-09-29 14:53] kevinksullivan commented on #11273
What is the error you message receive? I'm not familiar with anyone having an issue here.

[2022-09-29 14:58] kevinksullivan commented on #11382
I can't reproduce on web safari @Puneet-here .

[2022-09-29 14:59] kevinksullivan commented on #11382
https://www.upwork.com/jobs/~01df55da3709a59a8b

[2022-09-29 15:02] dhairyasenjaliya commented on #11273
<img width="746" alt="Screenshot 2022-09-29 at 8 32 20 PM" src="https://user-images.githubusercontent.com/47522946/193067678-a99d51dd-0b0f-4e3f-b8ee-9047e7a9f93c.png">
@kevinksullivan

[2022-09-29 15:09] roryabraham commented on #9726
Not a priority

[2022-09-29 15:09] roryabraham commented on #9726
Also would like to bundle this together with a suite of deploy improvements

[2022-09-29 15:10] roryabraham commented on #10015
Dropping this

[2022-09-29 15:10] roryabraham commented on #7284
No update

[2022-09-29 15:14] roryabraham commented on #9020
Still not prioritizing, though a tangentially-related issue has cropped up [here](https://github.com/Expensify/App/issues/10524)

[2022-09-29 15:15] thesahindia commented on #11261
bump @pecanoro

[2022-09-29 15:51] joekaufmanexpensify commented on #11386
Reproduced in production, confirmed typing indicator and error message are not aligned:

<img width="1432" alt="image" src="https://user-images.githubusercontent.com/54866469/193079110-036efc19-afa8-4ae2-b440-6c8831206811.png">

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/54866469/193079124-58d58553-5d81-4e8c-a311-e602650a2ead.png">

[2022-09-29 15:58] Gonals commented on #11386
Good candidate for external!

[2022-09-29 15:59] cead22 commented on #11272
Thank you, I was able to reproduce this time!

[2022-09-29 16:04] luacmartins commented on #11368
I'm pretty sure this is a bug. We are supposed to override the server response with the locally stored `step` and `subStep` [here](https://github.com/Expensify/App/blob/7c29d89afe94b8e2f178e55b8f0137c91b1283c8/src/libs/actions/ReimbursementAccount/fetchFreePlanVerifiedBankAccount.js#L175-L179). However, we set the `reimbursementAccount` key [here](https://github.com/Expensify/App/blob/7c29d89afe94

[2022-09-29 16:05] marcaaron commented on #11323
Haven’t had a chance to look into why this behavior is only affecting expense reports, but I think it should probably be made internal.

[2022-09-29 16:05] luacmartins commented on #11368
That being said, these two statements seem conflicting to me:

[2022-09-29 16:06] #8929 closed

[2022-09-29 16:07] sketchydroide commented on #11068
this is not particularly urgent setting it as weekly, and will continue to look into it

[2022-09-29 16:13] luacmartins commented on #11368
Nvm my comment above, I think they make sense as in we use server data for `step` but we can use local data for `subStep`

[2022-09-29 16:15] marcaaron commented on #10015
I think this was actually fixed recently by @chiragsalian in https://github.com/Expensify/Web-Expensify/pull/34602

Noticed this -> https://github.com/Expensify/Web-Expensify/blob/6258d9e68bbf8473bf1be1b68b14c8374da5e35b/lib/PersonalDetail.php#L189-L192

[2022-09-29 16:15] #10015 closed

[2022-09-29 16:15] kbecciv commented on #11370
Re-test in IOS and Android app with build 1.2.9.0, issue is fixed for both environments.
![IMG_1969](https://user-images.githubusercontent.com/93399543/193084214-911d3828-bfe4-477e-a3f8-acda5a5e77b4.png)
![Screenshot_2022-09-29-18-50-41-95_4f9154176b47c00da84e32064abf1c48](https://user-images.githubusercontent.com/93399543/193084216-5a0f5bc0-73b6-4cf2-badc-f136ada49177.jpg)

[2022-09-29 16:16] AndrewGable commented on #11370
Great thank you!

[2022-09-29 16:16] #11370 closed

[2022-09-29 16:18] kavimuru opened #11423 "[HOLD for payment 2022-11-22] [$250] Routing number field doesn't get auto focused after opening the page reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to settings > workspace > connect bank account
2. Connect manually

## Expected Result:
Routing number field should

[2022-09-29 16:19] Puneet-here commented on #11423
### Proposal

We can use autoFocus here https://github.com/Expensify/App/blob/7c29d89afe94b8e2f178e55b8f0137c91b1283c8/src/pages/ReimbursementAccount/BankAccountManualStep.js#L116

[2022-09-29 16:21] marcaaron commented on #11129
ya it should reopen if it happens in a later version. let's see.

[2022-09-29 16:21] #11129 closed

[2022-09-29 16:25] gadhiyamanan commented on #11352
@AndrewGable please check send money, user can enter 8 character
https://user-images.githubusercontent.com/54790231/193086346-4573661c-0abb-42f3-897d-371a56755a7d.mp4

[2022-09-29 16:27] syedsaroshfarrukhdot commented on #11413
### Proposal

 The issue is caused due to empty onSubmitEditing in NewPasswordForm

https://github.com/Expensify/App/blob/a0340070ebf94fe3acde872c8c0c4222edd984c3/src/pages/SetPasswordPage.js#L113-118

<img width="923" alt="Screen Shot 2022-09-29 at 9 18 26 PM" src="https://user-images.githubusercontent.com/81307212/193085229-fd953cab-1cb6-4f84-9b68-ffc8e1a41276.png">

We just simply need to set o

[2022-09-29 16:28] AndrewGable commented on #11352
Ok thank you, I agree let's match that functionality. I will send to internal if you'd like to propose a solution.

[2022-09-29 16:29] tgolen commented on #11342
I was not able to reproduce this on staging. I am seeing new messages just fine

[2022-09-29 16:31] kbecciv opened #11424 "[$250] Connect Bank Account - Connect Manually - "Fix the error" has a pointer cursor but no functionality @varshamb"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2.  Navigate to settings > workspace > connect bank account
3. Connect manually
4. Enter wrong

[2022-09-29 16:35] trjExpensify commented on #11129
Sounds good - took the job down off Upwork!

[2022-09-29 16:46] kavimuru opened #11425 "[HOLD #12603][Image][Performance] Avatars appear grey as they're loaded from server for common mobile flows - reported by @sobitneupane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open the mobile app
2. Click `Request Money` from Global Create (green + button)
3. Enter any amount
4. On the next screen, n

[2022-09-29 16:51] Beamanator commented on #11341
@thesahindia good question! Ideally we'd use the Form component here, there's really not much going on on that page. However, it's possible this page is already going to be refactored with `Form` in a different issue, lets see if we can find the Form audit issue(s)

[2022-09-29 16:53] MitchExpensify commented on #11339
[Sounds good](https://github.com/Expensify/App/issues/11339#issuecomment-1261281560), holding on creating the Upwork job until we see if this fixes the issue

[2022-09-29 16:53] zanyrenney commented on #11423
I can't repro this, but from the video, it looks good for eng.

[2022-09-29 16:54] #10036 closed

[2022-09-29 16:56] luacmartins commented on #10738
I think the proposal is fine. This will effectively also add support for custom components within Form. I'll let @puneetlath make the final call here, since he's the CME.

[2022-09-29 16:57] Beamanator commented on #11341
Ok we have an internal issue that's tracking Form refactors ([this issue](https://github.com/Expensify/Expensify/issues/179639)), so far this page isn't being tracked but I'm going to ask @luacmartins if it's planned yet or not

[2022-09-29 16:58] luacmartins commented on #11341
That page is not tracked yet. Feel free to add it to the Form tracking issue!

[2022-09-29 17:01] marcaaron opened #11426 "[Performance] Upgrade from the legacy `DrawerNavigator` to the modern one that uses Reanimated 2"
# Problem

- We are still using the legacy version of the Drawer Navigator which is not using Reanimated 2.

- I discovered that the DrawerView is not correctly picking up that Reanimated 2 is configured so it falls back to the "legacy" version of the drawer. The new code we want [here](https://github.com/react-navigation/react-navigation/blob/e13b4d9341362512ba4bf921a17552f3be8735c1/packages/draw

[2022-09-29 17:02] Beamanator commented on #11341
Cool thanks @luacmartins

@thesahindia Let's move forward knowing that it would be great to refactor that page to use `Form`, as long as it will work :D (I'd recommend asking for some evidence that it works fine)

[2022-09-29 17:02] MitchExpensify commented on #11195
Does @syedsaroshfarrukhdot's [proposal](https://github.com/Expensify/App/issues/11195#issuecomment-1258631195) satisfy the agreement on refactoring to use Form.js?

[2022-09-29 17:05] MitchExpensify commented on #10864
Doubled!

[2022-09-29 17:08] marcochavezf commented on #11413
I noticed we have the key enter behavior on the login page, so we should also have it in this page. Thanks @syedsaroshfarrukhdot for the proposal. Applying the External label.

[2022-09-29 17:09] marcochavezf commented on #11413
Hi @sobitneupane could you [review](https://github.com/Expensify/App/issues/11413#issuecomment-1262519145) this proposal?

[2022-09-29 17:20] mountiny commented on #11392
@Tushu17 Feel free to raise a PR, thanks!

[2022-09-29 17:25] mvtglobally opened #11427 "[$500] When user didnt validate account, password cant be set in NewDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create account in Old dot
2. Click on Free plan inbox card
3. Navigate to Settings > Security > change password
4. try to set

[2022-09-29 17:26] Puneet-here commented on #11386
I have proposed the solution [here](https://github.com/Expensify/App/issues/11386?notification_referrer_id=NT_kwDOBhKferQ0NDk2ODMxNzM2OjEwMTg4Mzc3MA#issuecomment-1261414468).

[2022-09-29 17:26] mountiny commented on #11301
Sorry for the ping, @dylanexpensify Can you please pay @adeel0202 out a reporting bonus for this issue? Thank you very much!

[2022-09-29 17:27] marcaaron opened #11428 "[Performance] Move `shouldShowComposeInput` out of session state and create `ReportFooter`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?

Chat switch times on Android

## What is the impact of this on end-users?

Very slow behavior when swi

[2022-09-29 17:28] luacmartins commented on #11126
Still looking for proposals

[2022-09-29 17:29] luacmartins commented on #10267
I'm focused on API refactors, I'll get to this soon.

[2022-09-29 17:32] adeel0202 commented on #11301
Thank you @mountiny :)

[2022-09-29 17:33] luacmartins commented on #10216
We might have more clues in [this thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1664403290649159). cc @tgolen

[2022-09-29 17:34] kbecciv opened #11429 "[Hold #11768] mWeb- Connect Bank Account - Pressing back button at android in the middle of a step takes you back to the workspace page instead of going back to the previous step @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com and log in
2. Go to bank account > add info > company step
3. Press back button of mobile

##

[2022-09-29 17:35] roryabraham commented on #11372
cc @puneetlath because this is react-navigation related I'm thinking we should put it on HOLD pending the FT you're working on

[2022-09-29 17:36] gadhiyamanan commented on #11402
looks like dupliccate (https://github.com/Expensify/App/issues/11352)

[2022-09-29 17:36] roryabraham commented on #11291
Whoops! You are correct – fixing this now

[2022-09-29 17:44] kbecciv opened #11430 "[HOLD for payment 2022-10-20] [$250] Web - Reimbursable expense - The tooltip text doesn't change to copied @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1.  Go to staging.new.expensify.com
2. Go to settings > workspace
3. Reimburse page
4. Hover over clipboard icon
5. Tap on it

##

[2022-09-29 17:45] mallenexpensify commented on #7911
Thanks @ahmdshrif , asking internally for 👀

[2022-09-29 17:47] mallenexpensify commented on #11389
@Julesssss  , is it possible to disable the autofill suggestions on the set password page? If so, then it makes sense to me to fix this.

[2022-09-29 17:49] kavimuru opened #11431 "Shows error message in English while selected language is Español reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to settings > Preferences
2. Change language to Española
3. Click on + icon > new chat
4. Type any random number
5. Check

[2022-09-29 17:51] mallenexpensify commented on #11099
Yes, I think it should be the intended design to be able to see drafts, even after signing out.  ie. imagine if you signed out, or got signed out, of gmail and all your draft emails were gone.

[2022-09-29 17:57] mountiny commented on #11301
@dylanexpensify Can you additionally also pay out $250 to @aimane-chnaif for their help with finding the root cause for this deploy blocker and acting so fast for urgent issue? Thank you very much

Slack thread for context https://expensify.slack.com/archives/C01GTK53T8Q/p1664224827873869

[2022-09-29 18:00] thesahindia commented on #11386
@Ollyws, your proposal is dupe. It is already proposed by @Puneet-here.

@Puneet-here, you proposal looks good but we have to decide about the design here.

[2022-09-29 18:01] kbecciv opened #11432 "Web - Chat - Sending a message of exactly 60000 characters shows an error Auth CreateReportAction returned an error. @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open staging.new.expensify.com
2. Go to chat
3. Send a message of 60000 characters.

## Expected Result:
t shouldn't show any

[2022-09-29 18:01] gadhiyamanan commented on #11430
**Proposal**
replace `text={this.props.translate('reportActionContextMenu.copyToClipboard')}` with
`text={
                this.state.showCheckmark
                  ? this.props.translate('reportActionContextMenu.copied')
                  : this.props.translate(
                    'reportActionContextMenu.copyToClipboard',
                  )
              }` to the below code
https://github.co

[2022-09-29 18:03] thesahindia commented on #11386
@ctkochan22, can we ask design team for their opinion. I also feel that we should keep this at the right side.

[2022-09-29 18:11] kavimuru opened #11433 "[HOLD for payment 2022-11-29] [$250] Chat - Blue outline appears for a moment on + icon, selecting an option from popover menu and hit enter using keyboard Reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to a chat
2. Click on Actions
3. Press up arrow to go to send money
4. Press enter

## Expected Result:
There should

[2022-09-29 18:11] roryabraham commented on #11376
Unfortunately, I'm seeing a big spike in homepage initial render time

[2022-09-29 18:19] kbecciv opened #11435 "[$250] Settings - Button at profile page doesn't float now @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Go to settings
3. Tap on last name

## Expected Result:
 The button should float like other pages (check gen

[2022-09-29 18:25] kavimuru opened #11436 "Pressing the delete button multiple times while deleting a workspace shows an error reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any workspace
2. Press the Delete Workspace option
3. Press the Delete button multiple times

## Expected Result:
Works

[2022-09-29 18:26] cead22 commented on #11099
Ok, that would be new feature, cause we'd need to store the drafts in the database instead of just in local storage. I agree for email that feature is super valuable. I'm not convinced it is for chat

[2022-09-29 18:27] PauloGasparSv commented on #11406
Reproduced locally on Web Mobile only too. This can be worked on by external contributors so I'm adding the External label!

[2022-09-29 18:28] kbecciv opened #11437 "[HOLD for payment 2022-10-31] [$250] Chat - Composer goes to the top on pressing expand @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Navigate to any chat
3. Add few lines and press expand button at the left corner

## Expect

[2022-09-29 18:31] kavimuru opened #11438 "[$250] Web - Multiple emojis are selected and added in compose box when selecting emoji's via keyboard reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open new.expensify.com.
2. Compose box will be auto focused.
3. Press tab 1 time(Emoji picker will get focus)
4. Press enter/

[2022-09-29 18:33] roryabraham commented on #11376
Okay, after [some digging](https://expensify.slack.com/archives/C035J5C9FAP/p1664475277680979), it seems like that metric might not be the most useful. The time between construction of `AuthScreens` and `componentDidMount` increased because `SidebarLinks` needs to be lazy-loaded and evaluated. However, [according to these other metrics](https://github.com/Expensify/App/pull/10986#issuecomment-1246

[2022-09-29 18:50] stitesExpensify commented on #11084
hmm do you know if this is still happening @mvtglobally ?

[2022-09-29 18:52] stitesExpensify commented on #9620
Bump :)

[2022-09-29 18:52] stitesExpensify commented on #7420
No update, still not a priority

[2022-09-29 18:52] marcaaron opened #11440 "[Performance] Remove `withOnyx()` subscription in `ReportActionItem`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?

inefficient React component rendering

## What is the impact of this on end-users?

Slow to render cha

[2022-09-29 18:52] joekaufmanexpensify commented on #11316
Pending reproduction.

[2022-09-29 18:53] stitesExpensify commented on #8131
Still no update. I'd actually be in favor of closing this for now since it is basically just polish that doesn't need to be done

[2022-09-29 18:54] parasharrajat commented on #10904
yeah, I guess so.

[2022-09-29 18:55] getusha commented on #11126
**Proposal**

Here is pseudo code
I approach this by using state.
first should check if the user is online
if user is online save the change
else set the change on pending
user back online? save the change.

[2022-09-29 18:56] roryabraham commented on #11376
:shipit:

[2022-09-29 18:56] #11376 closed

[2022-09-29 18:56] parasharrajat commented on #11440
Much needed change.

[2022-09-29 18:59] OSBotify opened #11446 "Deploy Checklist: New Expensify 2022-09-29"
**Release Version:** `1.2.10-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10395
- [x] https://github.com/Expensify/App/pull/10447
- [x] https://github.com/Expensify/App/pull/10988
- [x] https://github.com/Expensify/App/pull/11047
- [x] https://gi

[2022-09-29 18:59] roryabraham commented on #9620
I think @tgolen has started working on the keyboard-related bugs and improvements tracking issue.

[2022-09-29 19:01] iwiznia commented on #11380
Ahhh sorry, at first I was removing them all, but then I saw some were used in graphs and left those in. Sorry!

Just QAed this and looks good

[2022-09-29 19:03] iwiznia commented on #11346
I have no idea...

[2022-09-29 19:10] parasharrajat commented on #11382
This needs external label

[2022-09-29 19:10] abekkala commented on #11416
Hmm, I was unable to reproduce in staging.
I was successful at removing a user and they remained removed.

[2022-09-29 19:13] Puneet-here commented on #11382
I can repro
<img width="1294" alt="Screenshot 2022-09-30 at 12 41 36 AM" src="https://user-images.githubusercontent.com/101883770/193121734-31695abb-56b7-4e06-be5d-8d3cb7dccd8c.png">

[2022-09-29 19:14] parasharrajat commented on #11126
@getusha Please go through https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md if you are new here.

That proposal is unacceptable in its current state. A proposal should:
1. Explain the root cause.
2. Show us, how you will solve it in **our app**.
3. It should fit into the codebase.
4. Include technical details.

[2022-09-29 19:18] michelle-thompson commented on #11346
Yeah, even without the cursor error it's not ideal to have two lines of suggested text.

[2022-09-29 19:22] ctkochan22 commented on #11347
That is not expected behavior. @nkuoch @MariaHCD

Is the payment method supposed to show an incomplete VBA?

[2022-09-29 19:22] adeel0202 commented on #11416
@abekkala did you follow the steps mentioned with the issue? Because I just check again, this time on android, and I was able to reproduce. I have attached the video recording as well.

https://user-images.githubusercontent.com/13783842/193123470-67cb2316-6dfb-40e2-93e1-cbc9b8b5eb24.mp4

[2022-09-29 19:22] marcaaron opened #11447 "[$250] [Performance] MainDrawer re-renders unnecessarily reported by @vladamx"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?

inefficient React component rendering

## What is the impact of this on end-users?

slightly slower sp

[2022-09-29 19:24] adeel0202 commented on #11416
Also, the issue occurs when you remove the setup specialist/guide from the members' list, not when you remove any other user.

[2022-09-29 19:24] ctkochan22 commented on #10493
All the questions are answered yeah? Thanks @shawnborton

[2022-09-29 19:25] marcaaron commented on #11447
This was reported by @vladamx so I think we should give them first dib on this.

[2022-09-29 19:26] marcaaron commented on #11440
Oh that's a good point though. There might be some subscriptions like this in the context menu...

[2022-09-29 19:27] marcaaron commented on #11440
Yep there's a subscription to `betas` here:

https://github.com/Expensify/App/blob/b058975f68c53904a9724d1ccccb265f451f3649/src/pages/home/report/ContextMenu/BaseReportActionContextMenu.js#L74-L78

I bet we can improve that as well.

[2022-09-29 19:27] varshamb commented on #11419
### Proposal

We should replace below with `acceptTerms: false`,

Let's say if we change it from true to false in `acceptTerms: ReimbursementAccountUtils.getDefaultStateForField(props, 'acceptTerms', false),` and user has checked off the checkbox, it will be be in checked off even we came out from that page. It's always better not to checked it off whenever the use lands to this page.

https://git

[2022-09-29 19:27] OSBotify commented on #11446
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.10-0 :rocket:

[2022-09-29 19:30] melvin-bot[bot] opened #11448 "[$250] Investigate: 💥 Crash 💥 `.updateComment`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Cannot read property 'match' of undefined
### `address at index.android.bundle:1:2913179` `.updateComment`
### Number of Crashes: 3

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.3-0`
* **Devices:** samsung SM

[2022-09-29 19:30] Santhosh-Sellavel commented on #7968
@owjhart

We don't recommend the use of the `setTimeOut` &  Platforms checks in code. Please read our app [philosophy](https://github.com/Expensify/App/#philosophy)

[2022-09-29 19:37] marcaaron opened #11449 "[HOLD for payment 2022-10-18] [$250] [Performance] Remove withOnyx() subscription in `BaseReportActionContextMenu` reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?

inefficient React component rendering

## What is the impact of this on end-users?

Slow to render cha

[2022-09-29 19:39] ctkochan22 commented on #10765
@JmillsExpensify @advaitasol9 's proposal looks good.

[2022-09-29 19:46] grgia commented on #11330
I cannot reproduce the alphabetical order bug nor the drafted chat jumping down in staging. Are you still able to reproduce that one @roryabraham ? If not, I think I'll close this out.

[2022-09-29 19:48] Santhosh-Sellavel commented on #10765
@ctkochan22 for the quick review, if possible can you wait one more day?
I'm investigating this & other related issues.

Thanks!

[2022-09-29 19:59] marcaaron commented on #11190
Just gonna take this internal for now. Sorry @NicMendonca not sure why the C+ assignment didn't work and will have to check it out in another issue.

[2022-09-29 20:11] tgolen commented on #10216
I think [the change to Onyx.merge](https://github.com/Expensify/react-native-onyx/pull/186) is going to have a real impact on this, so I'm kind of waiting for that to be merged and rolled out before investigating further.

[2022-09-29 20:25] Puneet-here commented on #11437
### Proposal

It is happening because the ReportActionCompose is wrapped by OfflineWithFeedback
https://github.com/Expensify/App/blob/b058975f68c53904a9724d1ccccb265f451f3649/src/pages/home/ReportScreen.js#L290-L296

To solve it we need to use style.h100 for the View at 90 and 92
We can pass styles for the first `View` using `style` but we will have to add another prop to pass style to 92 or we ca

[2022-09-29 20:25] JmillsExpensify commented on #11391
Putting a hold on this and filing with our larger keyboard initiative.

[2022-09-29 20:25] aldo-expensify commented on #11320
@mvtglobally can you detail a bit more what you mean by: "send some HTML messages", ideally providing some content we could copy paste to reproduce? I tried sending a message with HTML like `<div>hello</div>` and I just see the tags as plain text.

[2022-09-29 20:35] syedsaroshfarrukhdot commented on #11435
### Proposal

This issue of a floating button on the keyboard open have occurred because of the forms are being refactored using Form.js

If we need to achieve float like other pages such as (check general settings page or close account page)

We need to make changes to Form.js to make the button floating.

https://github.com/Expensify/App/blob/f76f708d0427ac48dbe89d19c3d291e71e8b8c51/src/componen

[2022-09-29 20:40] aldo-expensify commented on #11318
I'm not being able to reproduce this, instructions feel a bit incomplete too:

- This is while adding a bank account in a workspace (business bank account), right? If that is the case, please add it in the steps
- I tested adding a business bank account (in the workspace) using plaid and manual, reaching the Personal information step and then going back with the arrow. In neither case I saw the nu

[2022-09-29 20:40] JmillsExpensify commented on #11384
I can't seem to reproduce this one Web, though I'm a version behind and wasn't able to reproduce this on 1.2.8-0. Going to keep this open and try again just as soon as I can get my web app to update to the latest.

[2022-09-29 20:42] tgolen commented on #11323
I was originally impacted by this bug, but just earlier this week, after one of the deployments, it started working (the expense report was marked as read properly). I think this can be closed if it's no longer reproducible for anyone.

[2022-09-29 20:44] Puneet-here commented on #11318
Yes, you have to add the bank account at workspace and after reaching the personal details page you have dismiss the modal as suggested in the step 2.
Now go at workspace > connect bank account > continue with setup > go back till routing page

[2022-09-29 20:45] syedsaroshfarrukhdot commented on #11195
@rushatgabhane will this be refactored internally or externally ? If it should be handled externally I guess it would be better to change title of GH issue.

[2022-09-29 20:50] Santhosh-Sellavel commented on #10362
Thanks, @arielgreen!

[2022-09-29 20:50] JmillsExpensify commented on #10273
@tgolen We have a bunch of issues we are holding on for this one. I'm thinking of linking them all in the OP, for clarify on the scope of what keyboard issues/bugs we're talking about. Is that ok with you?

[2022-09-29 20:54] tgolen commented on #10273
I think that's OK, yep! That'll help me out a lot.

[2022-09-29 20:54] JmillsExpensify commented on #11425
I can reproduce this one, but I'm on the fence whether we have anything to do here. Floating internally and then I'll circle back.

[2022-09-29 20:54] Santhosh-Sellavel commented on #10352
From above comment,
<img width="892" alt="Screenshot 2022-09-30 at 2 24 20 AM" src="https://user-images.githubusercontent.com/85645967/193140051-d9ff555d-337a-40ca-abe8-ede812ef2271.png">

This looks broken to me @shawnborton

[2022-09-29 20:57] shawnborton commented on #10352
I think that's because the white part of the PDF is just almost as wide as the modal right? Not sure what we can do about that.

[2022-09-29 20:58] JmillsExpensify commented on #10273
Sweet, I'm on it!

[2022-09-29 21:00] #11368 closed

[2022-09-29 21:03] mallenexpensify commented on #11100
Chatted with @grgia, she's new to the team and was unaware of our process. Technically, per our CONTRIBUTING.md, since the proposal was submitted before the `Help Wanted` label was added, we _could_ use details from the proposal without compensating @sobitneupane .   @grgia mentioned she did reference the code provided so, for this edge case, we will compensate @sobitneupane . @sobitneupane please

[2022-09-29 21:13] roryabraham commented on #10794
Why did you diverge away from this super simple solution?

[code]

[2022-09-29 21:17] Santhosh-Sellavel commented on #10731
Reviewing this now!

[2022-09-29 21:18] JmillsExpensify commented on #11425
Hmm, these reproduction steps are pretty hard to follow. I'm not seeing any greyness in the video. In fact the original report was a different flow. It was appearing in the IOU preview component.

[2022-09-29 21:19] JmillsExpensify commented on #11425
That said, I would imagine that the reason the greyness is happening in the `Request Money` flow as well as the IOU preview component because we are re-rendering the avatars. They grey is the skeleton UI color so that's what we fall back on.

[2022-09-29 21:20] JmillsExpensify commented on #11425
I'm going to update the video with one of my own so that the greyness is visible and more clear.

[2022-09-29 21:21] roryabraham opened #11451 "Workspace chats not appearing for workspace members who are already logged in"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create two accounts, `workspace-owner` and `workspace-employee`.
1. Sign into both accounts in two chrome windows (one incogni

[2022-09-29 21:22] roryabraham commented on #9737
Left some advice in the PR to help @aneequeahmad get it cleaned up and ready for more reviews

[2022-09-29 21:23] cristipaval commented on #11372
removed the assignment since I see you guys are already triaging it. Thanks!

[2022-09-29 21:27] PauloGasparSv commented on #11074
The new workspace/policy is being sent to all users successfully but  the [`CreateWorkspace` command](https://github.com/Expensify/Web-Expensify/blob/main/lib/PolicyAPI.php#L231) is not sending back the field `role` in the onyxData object. So the new workspace is missing because we [filter to only show workspaces/policies that we are admins of](https://github.com/Expensify/App/blob/main/src/pages/

[2022-09-29 21:37] jliexpensify commented on #11413
Posted

Internal - https://www.upwork.com/ab/applicants/1575600235539378176/job-details
External - https://www.upwork.com/jobs/~016a8ee45661b0d7d7

Invited @sobitneupane

[2022-09-29 21:38] trjExpensify commented on #11447
Sounds good! Job is on Upwork here: https://www.upwork.com/jobs/~01c2ba78197b3488bc

[2022-09-29 21:55] JmillsExpensify commented on #11425
Likely related: https://github.com/Expensify/App/issues/6527

[2022-09-29 21:56] JmillsExpensify commented on #6527
Noting that this same issue affects avatars as well. I linked the related issue above.

[2022-09-29 21:57] arielgreen commented on #10579
Paid.

[2022-09-29 21:57] #10579 closed

[2022-09-29 21:57] maddylewis commented on #11390
@laurenreidexpensify - are you okay if i reassign this one to you? lmk if not!

[2022-09-29 21:58] JmillsExpensify commented on #6527
Bump on this question. Are we holding on https://github.com/Expensify/App/issues/10894?

[2022-09-29 22:02] MitchExpensify commented on #11423
[Upwork Job](https://www.upwork.com/jobs/~0131bb47d4ef5fcfdd)

[2022-09-29 22:07] MitchExpensify commented on #10181
Not overdue

[2022-09-29 22:10] arielgreen commented on #10362
Paid.

[2022-09-29 22:10] #10362 closed

[2022-09-29 22:20] tgolen commented on #10273
I'm making pretty good progress on this. I've mostly spent my time ensuring that I can test everything and get a handle on what's broken and what's not.

I've spent a fair amount of time just refactoring our code to use the React-Native `KeyboardAvoidingView` everywhere consistently. Once it's used everywhere, I will go through all the open issues and see what's reproducible and what isn't. Then,

[2022-09-29 22:24] danieldoglas commented on #11236
bump @zsgreenwald

[2022-09-29 22:25] danieldoglas commented on #11411
Yep, we can export this.

[2022-09-29 22:26] 16NTU116 commented on #11423
### Proposal
It can be solved by the following:
1. Using autoFocus prop. [Reference](https://reactnative.dev/docs/textinput#autofocus)
2. Use ref prop by setting it in componentDidMount or in useeffect

[2022-09-29 22:36] kavimuru opened #11452 "Profile - Copy option not displayed on long press in save button"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #11367
## Action Performed:
1.Launch the expensify app
2.Log in to any account
3.Go to Settings ->Profile
4.Long press the S

[2022-09-29 22:40] pecanoro commented on #11366
What a stupid PHP bug, the problem is this [line](https://github.com/Expensify/Web-Expensify/blob/1e53bcea2ac5f9ba02eb0b696130bbcae600fe22/lib/ReportAPI.php#L462). It seems that in PHP:

[code]

[2022-09-29 22:49] amyevans commented on #11381
Updated the OP and title slightly for clarity. Looks like a perfect external issue.

[2022-09-29 22:56] aldo-expensify commented on #10794
because I needed the accountID which didn't seem to be easily available everywhere we call `getDefaultAvatar`. I thought it was just much easier to keep doing it with the email and use a faster string hash. For example, when you are searching for emails, we pick default avatars for accounts that don't even exist.

[2022-09-29 23:00] kavimuru opened #11453 "[HOLD #11768] - Pressing X closes the chat in mobile web reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to concierge > Tap on call icon
2. Press X

## Expected Result:
Request call page should close

## Actual Result:
Th

[2022-09-29 23:13] mananjadhav commented on #11192
@Tushu17 Are you leaving the cursor anytime outside the image and coming back?

[2022-09-29 23:14] #11440 closed

[2022-09-29 23:19] adelekennedy commented on #9822
Hired you both!

[2022-09-29 23:20] roryabraham commented on #11330
Yes, I'm still able to reproduce this in `1.2.10-0`:

1. Select a chat with someone in the middle of your LHN
2. Draft a message
3. Click on another user in your LHN. The report with the draft message will jump to the top
4. Click back on the report with the draft message. It will jump back down to where is was before

[2022-09-29 23:21] adelekennedy commented on #10345
@parasharrajat please do!

[2022-09-29 23:22] kavimuru opened #11454 "Native - Cannot get rid of error message when X button is pressed when we try to send an unsupported attachment reported by @dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any conversation
2. Try to send unsupported attachment (For E.g: .heic , .tiff)
3. Notice Upload Attachment error
4. Tr

[2022-09-29 23:24] adelekennedy commented on #10449
Paid!

[2022-09-29 23:24] #10449 closed

[2022-09-29 23:24] Luke9389 commented on #11171
no proposals yet

[2022-09-29 23:24] roryabraham commented on #11372
Putting this on HOLD and added to tracking issue: https://github.com/Expensify/Expensify/issues/221853

[2022-09-29 23:25] greg-schroeder commented on #11403
https://user-images.githubusercontent.com/29386373/193159234-f9a4c138-0f17-462f-bbfe-719ca9a8b436.mov

[2022-09-29 23:26] Luke9389 commented on #8734
Waiting on reproduction

[2022-09-29 23:26] Luke9389 commented on #11283
Just made this external

[2022-09-29 23:35] roryabraham commented on #6527
Yes, that's the one!

[2022-09-29 23:36] roryabraham commented on #6527
This also got re-reported in slack pretty recently [here](https://expensify.slack.com/archives/C035J5C9FAP/p1664331105685479)

[2022-09-29 23:45] kavimuru opened #11456 "[$250] Dev - dev console error on Reimburse expenses page reported by @aimane-chnaif"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Login to any account

1. Go to Settings
2. Go to any workspace detail
3. Tap "Reimburse expenses" item

## Expected Result:
No co

[2022-09-29 23:50] adelekennedy commented on #11077
waiting for proposals

[2022-09-29 23:51] adelekennedy commented on #11103
@Gonals can we close this issue?

[2022-09-29 23:53] adelekennedy commented on #11239
Updated and refreshed @dhairyasenjaliya!

[2022-09-29 23:55] adelekennedy commented on #11317
[internal](https://www.upwork.com/ab/applicants/1575635248817942528/job-details)
[external](https://www.upwork.com/jobs/~01cee89cc834ace277)

[2022-09-29 23:56] aldo-expensify commented on #11318
I'm still not able to reproduce this, not in dev and neither in staging. I don't get the account numbers masked. I tried again using plaid and manual input of the account numbers. I close the modal when I get the verification thing from Onfido (after entering the personal details: name, last name, etc).

Any idea of what I may be missing?

[2022-09-30 00:24] kavimuru opened #11458 "Hide the user's timezone until they've signed in for the first time (aka validated their account)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
Before user's validate their accounts and sign in for the first time, we default their timezone NVP to PDT since we have no idea where the

[2022-09-30 00:26] aldo-expensify commented on #11345
I'll change this to monthly as it seems to have happened just once.

[2022-09-30 00:26] mallenexpensify commented on #10973
Weird, not sure what happened. Please accept this one @mananjadhav https://www.upwork.com/jobs/~0107ea8eaa05b6b325

[2022-09-30 00:27] aldo-expensify commented on #11312
No overdue, waiting for confirmation from @kavimuru

[2022-09-30 00:38] mallenexpensify commented on #11342
Weird, was able to reliably reproduce but not now.  On Version 1.2.10-0 . Tested in Sleep with lid open (where you see new notifications come in on screen) and with laptop lid closed.  I did find another bug though 🥇
Will reopen if happens again and I can repro

[2022-09-30 00:51] mallenexpensify commented on #11433
@Puneet-here @kavimuru , I watched both vids, where exactly is the blue line I'm looking for?

[2022-09-30 00:56] mallenexpensify commented on #11099
@cead22 , guessing this needs to be internal, right?

[2022-09-30 00:59] mallenexpensify commented on #11449
Posted https://www.upwork.com/jobs/~010438a42aa105569a
@thesahindia can you please review @aimane-chnaif 's proposal above and also apply for the job on Upwork? Thx

[2022-09-30 01:08] sobitneupane commented on #11100
Applied.

[2022-09-30 01:18] kbecciv opened #11460 "Payments - List of payments is blinking when navigate fro sign in to Payments"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Log out from account
1. Launch the app
2. Log in with the same expensifail account
3. Go to Setting - Payments

##

[2022-09-30 01:29] kbecciv opened #11461 "[HOLD for payment 2022-11-11] [$250] Andriod/IOS - Connect Bank Account - Company page displayed instead Personal Information Page after tap back button on Onfido flow, error message displayed"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with the expensifail account
3. Go to Setting - Workspace
4. Connect Bank account
5. Select Connect m

[2022-09-30 01:32] marcaaron commented on #11448
Pretty old version here. We're on `1.2.9-0`. So, I think if there is a crash that is _current_ we should look into it. Otherwise, I don't think we should take action on this yet. IIRC if we close this it will reopen only if it happens on a later version than the previous crash so that's what I'm going to do here.

[2022-09-30 01:32] #11448 closed

[2022-09-30 01:32] arielgreen commented on #8311
Moved to weekly, @parasharrajat please provide an update

[2022-09-30 01:33] arielgreen commented on #10625
@sobitneupane can you please review the proposals above?

[2022-09-30 01:33] arielgreen commented on #10888
@mananjadhav can you please review the above proposal?

[2022-09-30 01:36] dhairyasenjaliya commented on #11239
Done  @adelekennedy

[2022-09-30 01:38] kbecciv opened #11462 "[HOLD for payment 2022-10-20] [$250] mWeb/safari - Emoji- Previous row with emoji is not displayed when adding emoji"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Open a report
3. Click on emoji icon on composer
4. Fill the entire row with emojis

## Exp

[2022-09-30 01:44] kbecciv opened #11463 "[HOLD for payment 2023-03-02] [$3000] mWeb/safari - Create Group button is hidden by keyboard when selecting participants"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11309

## Action Performed:
1. Login with any account
2. Tap on FAB icon
3. Se

[2022-09-30 01:46] mallenexpensify commented on #10148
I'm able to (sometimes) reproduce this on Desktop, should the OP updated to include Desktop? I _think_ you might have to send a chat to someone you haven't for a little while (or possibly to someone who messaged you last).

https://user-images.githubusercontent.com/22508304/193172232-ce98a11a-b6ae-426a-a210-62060dac3d7e.mp4

[2022-09-30 01:53] kbecciv opened #11464 "Web - Connect Bank account - User is hitting Onfido flow when connecting BA through the Plaid option"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: User has a Workspace created
1. Access staging.new.expensify.com
2. Sign into a valid account
3. Tap Profile > Wor

[2022-09-30 01:54] OSBotify commented on #11464
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-09-30 01:56] railway17 commented on #10181
@laurenreidexpensify
This issue doesn't need proposal anymore?
I've got solution and would like to update my proposal

[2022-09-30 03:49] dhairyasenjaliya commented on #11381
**Proposal**

- Here we have 2 options to set alignment either left or center across all platform

- For setting aligned text to the center we just need to add `styles.textAlignCenter` to below `<Text>`

https://github.com/Expensify/App/blob/b2995036b8f5f87b74b5b12a6dc8dba61db7c561/src/components/ReportActionItem/RenameAction.js#L23-L25

**Result**
<img width="687" alt="Screenshot 2022-09-30 at 9

[2022-09-30 04:02] ctkochan22 commented on #11117
Nothing to glean from the logs.

[2022-09-30 04:05] akshayasalvi commented on #11315
@sobitneupane @srikarparsi Is there anything else required from my end?

[2022-09-30 04:06] akshayasalvi commented on #11411
I honestly don't remember @aimane-chnaif. Its been quite long that I worked, but mostly it had to do with the heights of the table and the rows.

[2022-09-30 04:12] dhairyasenjaliya commented on #11093
@parasharrajat I think we should hold this issue in favor of https://github.com/Expensify/App/issues/8592 as I believe if we solve that blue opacity issue eventually we need the same solution here as the ultimate goal is to hold the keyboard in an open state while sending a message, resizing composer along with removing blue opacity for safari

[2022-09-30 04:37] kadiealexander commented on #11386
https://www.upwork.com/jobs/~010cb71c0ae4de50f7
https://www.upwork.com/ab/applicants/1575702465210789888/job-details

[2022-09-30 04:37] kadiealexander commented on #11386
cc: @Expensify/design could you please review @thesahindia's request above?

[2022-09-30 04:45] kadiealexander commented on #11432
Crafted a message with exactly 60,000 characters:

![image](https://user-images.githubusercontent.com/59587260/193192045-f3e8ae16-2b7d-4c24-92c5-63db33b8e23a.png)
![image](https://user-images.githubusercontent.com/59587260/193192053-f28f9d5b-470b-469c-ad77-9a6ea1808856.png)

Reproduced this error:

![image](https://user-images.githubusercontent.com/59587260/193192033-792aa0c4-170c-45fe-8af2-452c1d

[2022-09-30 04:54] syedsaroshfarrukhdot commented on #10731
@Santhosh-Sellavel

To achieve this we need to introduce a new state such as  inputFocus: false,
our this.state will become

###  this.state = {
            isFocused: this.shouldFocusInputOnScreenFocus,
            isFullComposerAvailable: props.isComposerFullSize,
            textInputShouldClear: false,
            isCommentEmpty: props.comment.length === 0,
            isMenuVisible: false,

[2022-09-30 05:00] Christinadobrzyn commented on #11283
Post job in Upwork

Internal posting - https://www.upwork.com/ab/applicants/1575712184410296320/job-details
External posting - https://www.upwork.com/jobs/~0123fb93d46cf2feb6

[2022-09-30 05:01] sobitneupane commented on #11315
Once @srikarparsi approves your proposal, you can create PR.

[2022-09-30 05:07] Christinadobrzyn commented on #11420
I think this might be related to https://github.com/Expensify/App/issues/11461 and https://github.com/Expensify/App/issues/11429 and https://github.com/Expensify/App/issues/11372 so I'm not sure if we want to solve this separately or if this will solve with those other ones.

[2022-09-30 05:49] marcaaron commented on #11464
@nkuoch could this possibly be related to https://github.com/Expensify/App/pull/11232 ?

[2022-09-30 05:57] akshayasalvi commented on #11315
Thank you for the comment @sobitneupane

[2022-09-30 06:04] christianwen commented on #10731
@Santhosh-Sellavel can you help to add this line? `showSoftInputOnFocus={this.state.showSoftInputOnFocus}`, in here,
<img width="505" alt="Screen Shot 2022-09-30 at 12 56 29" src="https://user-images.githubusercontent.com/21312517/193201024-defada4a-c083-4ccf-8b06-b16fe209082b.png">

it should work fine

the proposal mentioned in https://github.com/Expensify/App/issues/10731#issuecomment-126310174

[2022-09-30 06:18] adeel0202 commented on #9822
@adelekennedy please check my [comment above](https://github.com/Expensify/App/issues/9822#issuecomment-1260458050)

[2022-09-30 06:34] getusha commented on #11283
**Proposal**

We will get the exact behavior when we right click mouse on it too.

https://user-images.githubusercontent.com/75031127/193204740-b10d1f06-b989-4357-bf42-14be65c11c51.mp4

Fixed by doing:
Check if isChecked and isFocused to apply the border.

https://github.com/Expensify/App/blob/6bd5304b12981920a19e544e7a7b847fd8abc85e/src/components/Checkbox.js#L107
TO
`this.props.isChecked && this

[2022-09-30 06:35] Puneet-here commented on #11453
### Proposal

Just pasting my proposal here from the slack thread

Remove true from the lines below
https://github.com/Expensify/App/blob/c942b3e3eb788a52b06f3e97d8c8312bd4a60c8f/src/pages/NewChatPage.js#L220
https://github.com/Expensify/App/blob/c942b3e3eb788a52b06f3e97d8c8312bd4a60c8f/src/pages/RequestCallPage.js#L255
https://github.com/Expensify/App/blob/c942b3e3eb788a52b06f3e97d8c8312bd4a60c8f

[2022-09-30 06:36] MonilBhavsar commented on #11166
PR's are merged and issue is fixed. So closing this out.
Tracking cleanup task in the main issue here https://github.com/Expensify/App/issues/11168

[2022-09-30 06:36] #11166 closed

[2022-09-30 06:43] Puneet-here commented on #11433
The blue outline at Plus icon at the left side of the composer

[2022-09-30 06:52] roryabraham commented on #10632
Sending this one to be external, keeping it a weekly for now

[2022-09-30 06:54] roryabraham commented on #10894
Added https://github.com/Expensify/App/issues/9703 to this list.

[2022-09-30 06:54] roryabraham commented on #9703
Putting this on HOLD and adding it to [this tracking issue](https://github.com/Expensify/App/issues/10894)

[2022-09-30 06:55] roryabraham commented on #10792
Any new thoughts here @Szymon20000?

[2022-09-30 06:55] roryabraham commented on #9211
No update

[2022-09-30 07:06] roryabraham commented on #11420
Putting this on HOLD for [this tracking issue](https://github.com/Expensify/Expensify/issues/221853)

[2022-09-30 07:08] dhairyasenjaliya commented on #10725
hello @mallenexpensify @neil-marcellini this one is on production for 8 days I think we can close this one!

[2022-09-30 07:17] thesahindia commented on #11431
The message is from the backend, there are more issues like this and I think they will be handled together. I vote to close this  issue. For more info: https://github.com/Expensify/App/issues/8714#issuecomment-1111163015

cc: @tgolen

[2022-09-30 07:26] tienifr commented on #11157
@thesahindia  PR created here https://github.com/Expensify/App/pull/11371 and requested you for review.

[2022-09-30 07:44] zanyrenney commented on #11424
Sorry, I am OOO so reassgining.

[2022-09-30 07:54] sobitneupane commented on #11388
@aimane-chnaif Does this issue exist in Android and mWeb as well?

[2022-09-30 07:54] Beamanator commented on #11321
Hmm I believe this should be able to be investigated by contributors so I'll make it `External`, but at the moment I'm having trouble reproducing - I logged in on my Android device, mashed the keyboard for a long time, didn't see any slowdown 🤔  It seems this might have to happen in a HT account, even thought it seems like @mvtglobally tried testing on a HT account already?

[2022-09-30 08:00] Puneet-here commented on #11427
The user can't change/set a password for unvalidated account the api we have in the code base needs current password or validateCode to set a password so I think when user clicks on change password we should show a screen, asking the user to check their email and visit the magic link to set password because we already have sent them the magic link.

We can use account.validated to show that screen

[2022-09-30 08:03] CodeSuite1 commented on #11413
Should I take part in it?

[2022-09-30 08:05] CodeSuite1 commented on #11413
like I need to be assigned this task on Upwork and will resolve this issue as I was also going through the same bugs because of  a few things now I've sorted them out and looking forward to offering my services here as well
Let me know how can I do that

[2022-09-30 08:06] Puneet-here commented on #11424
Hi, We aren't using a function for this right now and this will be implemented after the Form refactors. So I don't think we need this issue.

cc: @luacmartins

[2022-09-30 08:14] Christinadobrzyn commented on #11424
Thanks @Puneet-here, we'll close this issue for now

[2022-09-30 08:37] akshayasalvi commented on #10356
I fixed the problematic emojis, I am verifying if there's any random one left. Testing the rest of the changes. PR should be ready for review by weekend or Monday.

[2022-09-30 09:11] jeet-dhandha commented on #11229
@parasharrajat To give you simple explanation try calling two function one after each other and both should get executed.

[code]

[2022-09-30 09:12] Tushu17 commented on #11192
@mananjadhav Yes, In the video I was leaving cursor outside image to show that it doesn't zoom out.

Can you share a screen recording of this?

[2022-09-30 09:21] jeet-dhandha commented on #11229
If you are still not able to understand the please do ping here. 👍

[2022-09-30 09:27] sobitneupane commented on #11413
@syedsaroshfarrukhdot `onSubmitEditing={() => {}}` was intentionally added in https://github.com/Expensify/App/pull/9445 PR to solve https://github.com/Expensify/App/issues/9058 issue. We have `pressOnEnter` prop set on `<Button>` in FormAlertWithSubmitButton.js. So, SetPassWord should ideally be pressed.

And the other thing, I was not able to consistently reproduce this issue. Few times it worke

[2022-09-30 09:32] sketchydroide commented on #10904
closing

[2022-09-30 09:32] #10904 closed

[2022-09-30 09:38] sobitneupane commented on #11388
@marcochavezf [proposal](https://github.com/Expensify/App/issues/11388#issuecomment-1262745992) from @aimane-chnaif  looks good to me.

@aimane-chnaif Please do check other components which make use of `WorkspacePageWithSections` to make sure they work as expected and no regression caused.

🎀👀🎀
C+ reviewed

[2022-09-30 09:51] thesahindia commented on #10367
Can we reopen as this is eligible for the reporting?

[2022-09-30 09:55] Julesssss commented on #11389
It _should_ be possible, though some password managers actively ignore the prop that we can set to prevent password managers from showing.

Let's try to solve for Chrome and Safari password managers, with the understanding that 3rd party solutions are out out of scope here.

[2022-09-30 10:01] MariaHCD commented on #11347
No, I don't think we should be showing a VBA that's being setup in the payment method list. Does the OpenPaymentsPage API filter out bank accounts that are in the setup state?

[2022-09-30 10:13] nkuoch commented on #11460
cc @ctkochan22 should we show a loader while we're fetching?

[2022-09-30 10:18] thesahindia commented on #11449
@aimane-chnaif's proposal looks good to me.

🎀 👀 🎀 C+ reviewed

cc: @marcaaron

[2022-09-30 10:29] jeet-dhandha commented on #11229
### Update Proposal :
Used a More optimised Approch.
CODE PR : https://github.com/jeet-dhandha/Expensify-App/pull/2/files.

### Explanation:
**Case 1 :**
- Detail : Pressed on a report from list and within few milliseconds pressed on FAB menu. (Both are FAB menu and Report Message Screen is opened).
- Solution : I have set a value `blockFABPress: true` in state which updates to `false` after timeo

[2022-09-30 10:30] laurenreidexpensify commented on #10426
Price doubled

[2022-09-30 10:31] laurenreidexpensify commented on #10516
First PR here is merged

[2022-09-30 10:33] #11186 closed

[2022-09-30 10:38] laurenreidexpensify commented on #11392
https://www.upwork.com/jobs/~0185afa42db8c0e1d2

[2022-09-30 10:40] mollfpr commented on #11195
### Proposal
Refactoring form inside `WorkspaceSettingsPage` to using `Form.js`.

1. Adding the new form key.
[code]

2. Updating the `Picker` component to have `defaultValue` props.
[code]

3. Updating the `WorkspacePageWithSections` so we have option to not use the `ScrollView` component as the wrapper. Because we already have `ScrollView` from `Form.js`
[code]

4. Updating `WorkspaceSettingsPag

[2022-09-30 10:47] mountiny commented on #10181
@railway17 Sorry, we have updated our process and the Exported label was removed, we will only use External label from now on.

I think you proposal did not cover all of the bullets of the expected results right? We would like to unify the behaviour across al the platforms. cc @parasharrajat for confirmation, I am getting quite lost in this issue.

[2022-09-30 10:49] railway17 commented on #10181
Yes, So, I find out new solution and to cover all of the bullets.
And would like to propose if this issue still requires external help. (It means hiring via upwork like other issues)

[2022-09-30 10:52] flaviadefaria commented on #11401
This seems like a very low-priority issue for me but adding the engineering label for additional evaluation.

[2022-09-30 10:54] mountiny commented on #10181
It does @railway17, the External label and Help Wanted labels are labels to look out for.

Please feel free to share the proposal. Thank you!

[2022-09-30 11:02] #11464 closed

[2022-09-30 11:18] mountiny commented on #11170
Not overdue, waiting for investigation and proposals

[2022-09-30 11:47] mollfpr commented on #11406
I think this has the same root cause as https://github.com/Expensify/App/issues/8292.

[2022-09-30 11:50] mountiny commented on #11073
I mean that avatar is about creating a new chat report, which will also be pattern B. We should just make sure the avatar is passed into the optimistic data. We have it since you can see it in the search page. I think we dont have to wait for fixing this on IOU refactors, we might want to see if this refactor will not solve this: https://github.com/Expensify/Expensify/issues/213315

Additionally i

[2022-09-30 11:54] techievivek commented on #8589
@mvtglobally Can you try reproducing this somehow so we can know if the problem still exists because most probably this would have already been fixed with offline first and API refactor changes?

[2022-09-30 12:02] vladamx commented on #11447
## Intro
MainDrawerNavigator calculates initial report to open and therefore subscribes to _reports_ which can change many times during the lifecycle of the app even though the data is only needed initially - on app launch.

**Profiling done below is just for the use case when user is adding a message to any _report_ where you can see the savings of around 120ms only for the add message to chat.**

[2022-09-30 12:21] youssef-lr commented on #11267
Update: I have a draft PR, should be ready for review today.

[2022-09-30 12:56] trjExpensify commented on #11451
Thanks (again!), Rory! I can't seem to reproduce this for the `workspace chat` on staging, it appeared immediately. The issue seems isolated to the `#announce` room not appearing. Did I follow the reproduction steps correctly?

Gif: http://g.recordit.co/k6kUj0LlS3.gif
Employee view screenie:

<img width="1511" alt="image" src="https://user-images.githubusercontent.com/16232057/193274354-c075772e-6

[2022-09-30 13:03] pecanoro commented on #11432
Hmm, interesting, by checking the [logs](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id:(%22752a4d0b6bdba882-SJC%22)+AND+timestamp:[2022-09-30T03:44:01.603Z+TO+2022-09-30T05:44:01.603Z]&index=logs_expensify-018809), I see `Exceeded maximum allowed size of message. Size: 61332, max: 60000`. I think this is due to the message having some line breaks and such that add to the n

[2022-09-30 13:20] kidroca commented on #7860
I'm still able to recreate the issue in `v1.2.8-0`

But switching back to the mainstream `react-native-web` fixes the issue, though it breaks copy/paste handling

### New Expensify - Our-Fork (0.18.9) (paging issue occurs)
https://user-images.githubusercontent.com/12156624/193276053-08ded4fa-a8b9-4187-a8e1-6e890d5241df.mp4

### New Expensify - RN-web (0.18.9) (paging issue does not occur)
https://

[2022-09-30 13:30] sobitneupane commented on #11411
[Proposal](https://github.com/Expensify/App/issues/11411#issuecomment-1261752028) from @gadhiyamanan tested well on Web and Desktop. As keyboard shortcuts are not shown in native devices, I didn't test it on native devices.

@Julesssss [Proposal](https://github.com/Expensify/App/issues/11411#issuecomment-1261752028) looks good to me.

🎀 👀 🎀 C+ reviewed

[2022-09-30 13:32] mountiny commented on #11272
@kbecciv so you are saying this issue happens only for some agents?

The instructions are not clear to me, did you remove the agent from the workspace?

[2022-09-30 13:42] Justicea83 commented on #11454
Posted in slack to find the correct way forward. Use [this link](https://expensify.slack.com/archives/C03TQ48KC/p1664545297622469) to join the conversation.

[2022-09-30 13:45] flodnv commented on #11452
Sorry, I am not following this one...

Which top header component? Which text can be copied?

[2022-09-30 13:52] kbecciv opened #11470 "Android - PayPal - PayPal method is not deleted after deletion on another device"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login with account A on the main testing device and on another device (Android App and mWeb/Safari in my case)
2. In the main

[2022-09-30 13:54] trjExpensify commented on #10789
@Szymon20000 are we all done here and can close this issue out?

[2022-09-30 13:54] Justicea83 commented on #11454
This is internal, so I'll take it

[2022-09-30 14:27] iwiznia commented on #10163
Hello, I just realized this is not working for Android (I assume neither for iOS, but did not test). I have the staging app (currently 1.2.10) and have the staging toggle on, but all the network requests are still going to production

[2022-09-30 14:29] railway17 commented on #10181
### Proposal (Updated)

Here is an updated proposal based on the new requirements.
I could reproduce this issue in lower versions of Android.
Here is [video](https://drive.google.com/file/d/1psuo7UF83MFi9bpJPaN1d4MsmT2wFPbb/view?usp=sharing) that I tested. (_The left one is API version 26, and the right one is 30. In the current video, the right one has not latest chrome version, but I tested it a

[2022-09-30 14:47] sketchydroide commented on #11202
not overdue

[2022-09-30 15:02] marcaaron commented on #10789
yeh, seems like this is on production now.

[2022-09-30 15:02] #10789 closed

[2022-09-30 15:03] kbecciv commented on #11272
@mountiny Correct, you need to remove agent from WS.

[2022-09-30 15:06] shawnborton commented on #11427
Yeah I agree with that approach @Puneet-here.

[2022-09-30 15:11] amyevans commented on #11437
Reproducible, releasing to `External`. A reminder @Puneet-here that you need to wait for the `Help wanted` label before submitting proposals, thanks! 😄

[2022-09-30 15:16] iwiznia commented on #2727
That looks right , @rajat and @lbaldy, can you confirm that the fix is in the RN repo (not our fork) and that all is done?

[2022-09-30 15:19] bondydaa commented on #11410
hmm I've had a few style/design things come up on various views (this is the other one https://github.com/Expensify/App/issues/11148)

cc @Expensify/design can you take a look and confirm how the spacing should look for Brick Road errors on this and https://github.com/Expensify/App/issues/11148

Then we can take care of all of these in one go instead of playing wack-a-mole with styles on one view

[2022-09-30 15:20] bondydaa commented on #11148
i had this other GH get tossed my way as well https://github.com/Expensify/App/issues/11410 so I tagged design to take a look.

going to throw the label here too and assign shawn (sorry you were selected on the other one as well)

[2022-09-30 15:24] michaelhaxhiu commented on #10258
@Tabakharniuk is paid, just waiting for santhosh to accept so I can pay & close this GH

[2022-09-30 15:29] sobitneupane commented on #10625
@vladamx I like your idea  [here](https://github.com/Expensify/App/issues/10625#issuecomment-1246475018). But can you be more concrete with your proposal? How and where are you planning to "Fallback to just navigating to the link" ? Some code blocks will make it more clear.

@quidam93 I don't think your proposal is aligned to the problem description.

[2022-09-30 15:35] parasharrajat commented on #2727
@iwiznia That is @parasharrajat not @ rajat.

[2022-09-30 15:42] parasharrajat commented on #2727
Before we do that, there is a PR https://github.com/Expensify/App/pull/9143 to remove the workaround code from our app. I am reviewing it now and get it merged soon.

[2022-09-30 15:43] iwiznia commented on #2727
Sorry!

[2022-09-30 15:46] lschurr commented on #11458
Seems like this was agreed upon in Slack.

[2022-09-30 15:54] parasharrajat commented on #10181
Aha, it seems all settled, I don't have to answer the old question.

Thanks for the proposal. I will review it. This is a little involved.

[2022-09-30 15:55] parasharrajat commented on #11302
@lbaldy Please report this on slack.

[2022-09-30 15:57] kbecciv opened #11471 "[$250] Request Money - Text in the compose box changes from "Say hello" to "Write something" & vice versa"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Click on FAB button/Request money or Split bill
4. С

[2022-09-30 16:05] michaelhaxhiu commented on #10107
Doubling

[2022-09-30 16:05] kbecciv opened #11472 "[$250] Android - Log in - User sometimes see the option to switch language in signin page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with account in Spanish language
3. Log out from Spanish account
4. Log in with account in English la

[2022-09-30 16:09] PauloGasparSv commented on #11470
Reproduced it here, it looks like an Offline First Api problem so I'm keeping this with me!

[2022-09-30 16:10] marcaaron commented on #11426
I've been looking into part 2 of this and pretty confused about why the drawer transitions are breaking in App specifically. I looked at the example app in the react navigation repo and ran it locally with settings similar to ours and it works OK so doesn't seem like there is any obvious regression.

While inspecting it just looks like the html elements are not updating at all with the new styles.

[2022-09-30 16:13] michaelhaxhiu commented on #10885
@parasharrajat @rushatgabhane @jasperhuangg do you recommend we hold doubling price of this since it's being tracked on #11111 ?

[2022-09-30 16:15] michaelhaxhiu commented on #10893
doubling

[2022-09-30 16:18] thienlnam commented on #11176
Voting that we close this issue - it's only happened on a single device and the crash is obscure enough there aren't really ways we can reproduce this so it is hard to determine the cause with the lack of stack trace

[2022-09-30 16:22] thienlnam commented on #11462
This is just because there is not enough space on the current line and it needs to put it on a new line right? Not sure if I'm missing something but that seems like correct functionality

cc @kbecciv

[2022-09-30 16:23] dhairyasenjaliya commented on #10725
@mallenexpensify reporting upwork job missing

[2022-09-30 16:27] joelbettner commented on #11472
I think this looks like it is worth tackling...labeling external.

[2022-09-30 16:30] neil-marcellini commented on #10725
FYI I confirmed that this is fixed on prod.

[2022-09-30 16:31] parasharrajat commented on #11176
GO for it.

[2022-09-30 16:35] #11431 closed

[2022-09-30 16:36] cead22 commented on #11099
If we go with the back end database storing these, yes. If we store them in local storage, no. But I think we should do the former

[2022-09-30 16:41] azimgd commented on #7860
@kidroca upstream `react-native-web` has the same issue but masks root problem when higher `windowSize` is given. You can observe this by creating a FlatList component on a fresh project, generate ~10-20k items with random heights and scroll around.

Once you are back on this could you replace `measureItemLayout` and let me know about your observations please:
[code]

I'm pretty sure that the issu

[2022-09-30 16:41] Santhosh-Sellavel commented on #10731
I agree with you @christianwen that's easy to miss!

[2022-09-30 16:42] thienlnam commented on #11176
Ah, reopening so we can remember to close the Upwork issue cc @JmillsExpensify

[2022-09-30 16:44] Santhosh-Sellavel commented on #10731
@christianwen I verified this seems to work but I noticed some lag in setting focus.

Can you share the screen recording from mWeb, Android, and iOS?

[2022-09-30 16:46] youssef-lr commented on #11189
Not overdue.

[2022-09-30 16:48] tgolen commented on #10539
Trying to get a C+ review of https://github.com/Expensify/App/pull/10648 not sure if I did it right 😓

[2022-09-30 16:51] thesahindia commented on #11462
@thienlnam, I think the composer should expand.

[2022-09-30 16:52] thienlnam commented on #11462
Ah gotcha, yeah I think you're right - this can likely be solved externally

[2022-09-30 17:05] thienlnam commented on #10767
PR is in final stages of review!

[2022-09-30 17:09] tgolen commented on #11472
I'm a little confused by the original statement of the problem. Why wouldn't we want someone to switch languages on the sign in page? That seems like something we should have.

[2022-09-30 17:18] thesahindia commented on #11472
I think it's behind beta so at staging you shouldn't see it if you are not in the beta, for dev it's always visible.

[2022-09-30 17:19] thesahindia commented on #11472
@Ollyws, we don't wanna remove it from the page.

[2022-09-30 17:21] iwiznia opened #11473 "[HOLD for payment 2022-10-20] [$250] Ensure the page not found error message is properly centered in the chat view"
# Problem

In this PR https://github.com/Expensify/App/pull/10452 we've started using the `FullPageNotFoundView` component in the chat view. Seems the component is not quite centered:
![image](https://user-images.githubusercontent.com/521248/193323351-d0318284-f3da-464e-93d3-da2e5ce54596.png)

# Solution

Investigate why (either due to the header or because the centering is optimized for the sideb

[2022-09-30 17:21] mountiny commented on #10163
I checked the logs and I can confirm this also happens on iOS 😱 I think we havent really tested this in phone....

@mdneyazahmad Would you be able to look into this as regression. Not sure why mobile would behave differently

[2022-09-30 17:24] neil-marcellini commented on #10744
I [mentioned in Slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1664558460147159) that I think we should close this. I did some googling and the only [similar issue](https://github.com/facebook/react-native/issues/20288) I could find was closed without a resolution.

[2022-09-30 17:25] neil-marcellini commented on #10283
Bump @roryabraham

[2022-09-30 17:30] michaelhaxhiu commented on #10831
weird, this didn't close initially when I thought it did.

[2022-09-30 17:30] #10831 closed

[2022-09-30 17:31] marcaaron commented on #11426
test branch: https://github.com/Expensify/App/compare/marcaaron-enableNonLegacyDrawer

[2022-09-30 17:31] mountiny commented on #11272
So we must be missing a details for the agent if we delete them. Then after logging out and logging back the personalDetails are not fetched again so we run into this block of code https://github.com/Expensify/App/blob/da6e3aac5b64154e1d87c261f34829e097c7b433/src/pages/DetailsPage.js#L80-L84

which renders a spinner. We need to look into why the personal details for the agent are not returned.

[2022-09-30 17:32] chiragsalian commented on #7185
Waiting for an update by rajat when he gets the chance.

[2022-09-30 17:42] tgolen commented on #11472
Yeah, it makes sense that if you are not signed in, then you cannot be in any beta (you are out of all betas). So, by that reasoning, the selector should never be shown and removing the component completely from that view (until the beta goes away) should be a good solution?

[2022-09-30 17:45] Santhosh-Sellavel commented on #10163
Weird was it always hitting production or randomly between staging/production when staging is enabled?

[2022-09-30 17:45] mountiny commented on #11272
We need to look if this query if returning it https://github.com/Expensify/Auth/blob/3a605d99af6ccebd531d0aaf957d2455e6caf485/auth/lib/Account.cpp#L1871-L1978

[2022-09-30 17:46] roryabraham commented on #11204
Heads up! We [just added live-reload](https://github.com/Expensify/App/pull/11047) to the main process of Electron on dev. Please make sure that we don't break that.

[2022-09-30 17:49] mountiny commented on #10163
I just saw staging in my testing, I tried toggling it on and off and it always hit production afaik

[2022-09-30 17:49] joekaufmanexpensify commented on #11316
Same.

[2022-09-30 17:50] deetergp commented on #11235
I've added back the `External` label, which I think is the right one since it has been deemed contributor worthy and is currently awaiting proposals.

[2022-09-30 17:50] vladamx commented on #10625
@sobitneupane
Either this
<img width="1333" alt="image" src="https://user-images.githubusercontent.com/11381171/193327721-34134a17-85d2-433a-8aa9-da9da9267a45.png">

OR

<img width="1333" alt="image" src="https://user-images.githubusercontent.com/11381171/193327896-eb972f0a-c48f-4e7d-a1da-72d22a1e2a10.png">

[2022-09-30 17:51] deetergp commented on #10068
I have not yet prioritized this one — two crashes doesn't seem like a raging fire.

[2022-09-30 17:52] deetergp commented on #10755
Not overdue; still awaiting proposals.

[2022-09-30 17:53] deetergp commented on #9402
Bump @parasharrajat @marktoman?

[2022-09-30 17:59] thesahindia commented on #11472
Hmm, after thinking about it I didn't find any case where we will need this picker for some testing, so I agree we can just remove it for now.

@Ollyws, feel free to post your proposal again.

[2022-09-30 18:00] stitesExpensify commented on #11461
I'm pretty confident this can be fixed externally by passing a different prop to the onFido component

[2022-09-30 18:02] azimgd commented on #7860
@AndrewGable any thoughts ?

[2022-09-30 18:12] Santhosh-Sellavel commented on #10765
@advaitasol9

Do you think this was a regression, when was it reduced?

[2022-09-30 18:14] youssef-lr commented on #11267
Issue updated and PR ready to review! There's one thing I haven't implemented yet which is displaying all of the errors, I think we'll need to check with the design team about how they should look on top of the submit button?

[2022-09-30 18:15] tomivs commented on #10107
Is this issue still open to proposals? I might have a proposal.

[2022-09-30 18:17] vladamx commented on #11447
Proposal sent to Upwork.

PR 1.10.2022

[2022-09-30 18:25] parasharrajat commented on #10107
Yes, it is open

[2022-09-30 18:28] trjExpensify commented on #11447
Hired! 🎉

[2022-09-30 18:31] trjExpensify commented on #11461
👋 The contributor will need an account number and routing number to test with, no?

[2022-09-30 18:54] joekaufmanexpensify commented on #11429
I don't have an android phone, but worked with @pecanoro to reproduce this in an android device.

[2022-09-30 18:55] shawnborton commented on #11386
The bottom right side makes sense to me 👍 let's move it over there.

[2022-09-30 18:55] joekaufmanexpensify commented on #11429
Discussing ideal behavior for how this should work [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664563787011049?thread_ts=1663792588.717789&cid=C01GTK53T8Q).

[2022-09-30 19:04] shawnborton commented on #11410
Well I think two things are happening here:
- In the example above, the blue link is causing a line break after it, and thus the weird space afterwards
- We should switch over to the new red brick road/dot indicator for this error message

[2022-09-30 19:06] roryabraham commented on #10367
@MitchExpensify Let's make sure @thesahindia gets his reporting bonus here. Thanks

[2022-09-30 19:07] Tushu17 commented on #11392
I've raised the PR.

[2022-09-30 19:07] pecanoro commented on #11432
Discussing it [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664559337865919).

[2022-09-30 19:08] shawnborton commented on #11148
Sorry but after reading all of the comments, I am having a hard time understanding what the actual issue is. Can someone summarize in clearer terms for me?

[2022-09-30 19:13] MitchExpensify commented on #10367
Offer sent -[ Upwork Job ](https://www.upwork.com/ab/applicants/1575926256585416704/suggested)

[2022-09-30 19:15] thesahindia commented on #10367
Accepted 🚀

[2022-09-30 19:16] mvtglobally opened #11476 "iOS - Extra space appears beneath message when chatting with concierge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to Concierge chat
2. Receive message from concierge
3. respond to the message

## Expected Result:
There should be no

[2022-09-30 19:22] iwiznia commented on #10163
Always production for me.

[2022-09-30 19:24] MitchExpensify commented on #10367
Paid, thanks @thesahindia !

[2022-09-30 19:24] #10367 closed

[2022-09-30 19:42] Santhosh-Sellavel commented on #11067
@iwiznia @jliexpensify

Can we keep this open until payment is issued?