[2021-11-11 21:43] parasharrajat commented on #6202
Could this please be exported as I am adding the code to fix it [here](https://github.com/Expensify/App/pull/6203)? I have to try various scenarios to fix.

cc: @mallenexpensify You know the context for this already.

[2021-11-11 21:53] parasharrajat commented on #6121
I think updating the timings for POPOVER in getModalStyles will be enough as it is not used on Mobile native.

Docs do not say that it accepts null but I will check the code if it does I will pass that. Otherwise, we have to manage it with timings.

Question: do we not want to keep any animation at all?

[2021-11-11 21:59] Dal-Papa commented on #5701
Ditto, offsite and all

[2021-11-11 22:08] iwiznia commented on #5079
That makes sense to me, but the problem is how we would pass the password from one place to the other, right?

[2021-11-11 22:16] iwiznia commented on #5193
Ok that makes sense. @NicMendonca can you hire @aswin-s please

[2021-11-12 01:30] isagoico opened #6282 "New Workspace - Email - Concierge message has line breaks - Reported by: @Santhosh-Sellavel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a new account
2. Create a new workspace
3. Don't read the message from concierge about creating a new workspace
4. Wait 10 min for the ema

[2021-11-12 01:57] isagoico opened #6283 "Edit comment - Editing comment is cancelled if the new content starts with a special character (e.g: $) - Reported by: @aswin-s"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send a message
3. Edit the message
4. Delete the content and enter a single $

## Expected Result:
Editing action s

[2021-11-12 02:03] aswin-s commented on #6283
@isagoico Commenting as requested.

[2021-11-12 06:01] PrashantMangukiya commented on #6283
### Proposed Solution:  (If considered external)

**Here is the problem:** During edit mode whenever we make text input empty it will set `this.state.draft` value  blank. Now we enter $ or any character, it will save to state and call `debouncedSaveDraft()` function.  But `debouncedSaveDraft()` is wrapped with  _.debounce() (line 50).

So `debouncedSaveDraft()` will not get latest state but get `t

[2021-11-12 06:09] MonilBhavsar commented on #5869
Thanks @roryabraham for looking into it. Making it external to get views from other contributors.

[2021-11-12 07:38] parasharrajat commented on #6283
Duplicate of #6155

[2021-11-12 14:49] Beamanator commented on #5807
Not overdue, waiting for proposals

[2021-11-12 15:01] Beamanator commented on #5781
Another point to bring up with this issue is this flow:
1. User A sends message to email (Person B) who doesn't have an account yet
2. Person B gets the email with User A's message
3. Email says "... or reply directly to this message." which implies they can respond by replying to the email

This could confuse new users as they may think their email response gets sent back to User A, but currently

[2021-11-12 15:20] tgolen commented on #5162
Well, I think we can go forward with both. Sure, if we do thumbnails, it will remove the need for this fix, but I don't think it will hurt to have this fixed until the thumbnails are implemented. I give the 🟢 to move forward with your proposal @aswin-s .

[2021-11-12 15:26] mallenexpensify commented on #5926
Hired @kakajann in Upwork.
Reminder to self... @kakajann also reported the issue so the $250 reporting bonus is applicable

[2021-11-12 15:31] NicMendonca commented on #6277
Posted job to Upwork: https://www.upwork.com/jobs/~01bebfff671c09d7ed

[2021-11-12 15:34] #6120 closed

[2021-11-12 15:55] AndrewGable commented on #6277
@Santhosh-Sellavel - Is this only Google Play beta problem? Feels like an edge case personally to me.

[2021-11-12 15:57] marktoman commented on #6213
@trjExpensify Accepted, thank you!

[2021-11-12 16:19] mallenexpensify commented on #6069
Thanks Luke and Rajat.  Rajat, can you apply here?  https://www.upwork.com/jobs/~01a9fa1b364d799b4c

[2021-11-12 16:22] mallenexpensify commented on #6096
@sidferreira , @tgolen is the Contributor Manager Engineer (CME) and is the one who should review [your proposal above. ](https://github.com/Expensify/App/issues/6096#issuecomment-956826027)

[2021-11-12 16:37] mallenexpensify commented on #6216
Hired "Matheus B" in Upwork! @mateusbra, when do you expect to have a PR submitted?

[2021-11-12 16:38] mallenexpensify commented on #6227
@parasharrajat , can you apply here please? https://www.upwork.com/jobs/~01e3a9fa28fc98c96a

[2021-11-12 16:40] mallenexpensify commented on #3189
@anthony-hull , would you mind raising this in #expensify-open-source to get more 👀? I'm not sure if we want it to expire or not.

[2021-11-12 16:43] mallenexpensify commented on #5754
@AlfredoAlc , I created a new job, can you apply here plz https://www.upwork.com/jobs/~015cbedc439aa10aac

[2021-11-12 16:44] mallenexpensify commented on #6202
@jasperhuangg can you confirm this can be worked on by a contributor and assign the `External` label if so?

[2021-11-12 17:06] mateusbra commented on #6216
@mallenexpensify PR submitted!

[2021-11-12 17:13] parasharrajat commented on #6074
Ping for
![image](https://user-images.githubusercontent.com/24370807/134382258-0f298dd9-9bf7-45a5-bb51-2b02b66736bd.png)

[2021-11-12 17:18] Santhosh-Sellavel commented on #6277
No @AndrewGable, not just a Google Play beta-only problem.

IMO wouldn’t call it an edge case. As I said earlier

There might be some incremental optional or mandatory updates. There are chances people might miss important bug fixes.
In-app update notification helps users to be aware of available updates, get updated regularly.

But should not force users to update unless it's a mandatory update.

[2021-11-12 17:21] AndrewGable commented on #6277
Ok what platforms have this issue and for beta or production only? I understand can turn off auto updates or they can't work, but I don't think we should have "forced updates".

[2021-11-12 17:26] Santhosh-Sellavel commented on #6277
Yes, we shouldn’t have forced updates. Unless there is a vulnerability in the app, that's when `forced update` will be used!

I experienced the problem in android. We should do the similar in iOS too.

[2021-11-12 17:28] parasharrajat commented on #6277
I don't feel the necessity of this feature. If a user blocks the auto-update for some reason. It will definitely make him angry to see update notifications.
Other way, if the app auto-updates for normal users then showing a notification for the same would disturb some users(like me).
If someone blocks a notification then it's his duty to work with bugs. I think the best thing a user does to fix bu

[2021-11-12 17:31] AndrewGable commented on #6277
I agree @parasharrajat, in addition managing what releases are "required" updates and not seem like a headache. Thank you for the proposal but I don't think we will implement this at this time.

[2021-11-12 17:31] #6277 closed

[2021-11-12 18:09] jasperhuangg commented on #6202
@mallenexpensify Sorry for the delay with this; been having trouble getting App issues to appear in my K2.

This can definitely be worked on by external issue since it doesn't involve any API modifications. I've added the external label!

[2021-11-12 18:30] bfitzexpensify commented on #5623
Contract ended, payment finalised - thanks @akshayasalvi!

[2021-11-12 18:30] #5623 closed

[2021-11-12 19:00] #4496 closed

[2021-11-12 19:06] stitesExpensify commented on #4559
@mananjadhav Any progress here? :)

[2021-11-12 19:09] stitesExpensify commented on #6283
going to close this since it's a dupe

[2021-11-12 19:09] #6283 closed

[2021-11-12 20:08] isagoico opened #6284 "Android - Status bar changes color when the app is loading at launch"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Force close the app
2. Reopen and check the status bar above

## Expected Result:
Status bar should not change colors while the app is loading

#

[2021-11-12 20:14] isagoico opened #6285 "[HOLD for payment 2022-01-11] Mobile apps - User is unable to paste an amount in the IOU amount modal"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Copy any amount to the clipboard (e.g 1232.32)
2. Navigate to a conversation in NewDot
3. Request money
4. Try to paste the amount you copied bef

[2021-11-12 20:14] tgolen commented on #6096
The base of the proposal looks fine to me, yep! 🟢 to move forward with it. I will chalk this up to just being psuedo code from your example, but please sure to follow our cross-platform patterns for platform specific styles (`/styles/bold/index.android.js` for example)

[2021-11-12 20:35] isagoico opened #6286 "IOU - Allow only 2 decimal points in amount selector"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Request money
3. Enter an amount with 3 decimals

## Expected Result:
Only 2 decimals should be allowed in amount f

[2021-11-12 20:56] isagoico opened #6287 "[HOLD for payment 2021-12-15] “Cannot remove yourself from workspace” banner is shown over and over again while inviting a new member - Reported by: @aswin-s"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to add member screen
2. Tap on check box against own account once.
3. Now tap on invite button to invite a new member
4. The banner kee

[2021-11-12 20:57] kevinksullivan commented on #6235
https://www.upwork.com/jobs/~01324fec6df4ab30d9

[2021-11-12 20:59] isagoico opened #6288 "[HOLD for payment 2021-12-06] Room details - Room avatar is square instead of circle"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a room (e.g #announcements)
2. Tap on the header to access room details

## Expected Result:
Avatar image should be a circle

## Actu

[2021-11-12 21:09] akshayasalvi commented on #5542
@Christinadobrzyn @thienlnam Is the production deployment for this PR delayed due to hold? It's been on staging for 8 days already and now I'll have to wait for production deployment + 7 days for the payment.

[2021-11-12 21:13] akshayasalvi commented on #5918
@Beamanator I was retesting this and it looks like I closed this in another PR. (https://github.com/Expensify/App/pull/5900)

[This commit](https://github.com/Expensify/App/pull/5900), which basically failed to fetch the size and allowed the user to upload.

[2021-11-12 21:52] parasharrajat commented on #6288
Android has rounded image.

[2021-11-12 22:03] marcaaron commented on #5892
Sorry, I'm going OOO for the next week @mallenexpensify. If it can wait til 11/20 I can help with this when I get back otherwise feel free to find a new assignee!

IMHO I think we should just see about disabling the swiping behavior on mobile web. It's mobile web, swipe to dismiss doesn't feel like a common pattern and if you try and do it and it doesn't work you can just press the `x` to close?

[2021-11-12 22:11] marcaaron commented on #5286
What is the status of this issue? It seems like we are working on it in parallel, but I'm not sure. Should it be closed?

Going OOO for the next week so going to unassign myself for now.

[2021-11-12 22:12] marcaaron commented on #5286
@nickmurray47 do you know if this is at all different from this issue https://github.com/Expensify/App/issues/6133?

[2021-11-12 22:12] sidferreira commented on #5892
@marcaaron just to mention that all that code is vanilla, no 3rd party libs required for it.

[2021-11-12 22:13] sidferreira commented on #6096
Sending proposal

[2021-11-12 22:17] marcaaron commented on #5892
Ok, I we can do better then. This is a cross platform app and the first approach should never be to add platform dependent code. If there is an issue with the swipe and that's the behavior we want (unsure who has decided this exactly - but I think they are maybe wrong) then fix it in the `react-native-modal` library. The solution sounds very much like we are ignoring some underlying problem.

[2021-11-12 22:17] nickmurray47 commented on #5286
I think they are one and the same. The bug was that we were calling `setLocale()`, which sets the NVP and onyx key instead of just `Onyx.set(ONYXKEYS.NVP_PREFERRED_LOCALE, value)`. Testing from my PR fixed this bug so I think we should be good once it gets deployed.

[2021-11-13 00:48] rushatgabhane commented on #6286
### Proposal
In IOUAmountPage

Change regex to `/^\d+(,\d+)*(\.\d{0, 2})?$/`

`toFixed(3)` -> `toFixed(2)`

https://github.com/Expensify/App/blob/6701446b6dd7d77049fd399dcf6a042e6d05cae1/src/pages/iou/steps/IOUAmountPage.js#L121-L122

[2021-11-13 00:55] sidferreira commented on #5892
@marcaaron in this case, we can use isSmallScreen + Web to make it unswipeable

[2021-11-13 02:13] mdneyazahmad commented on #6284
As requested by @isagoico

[2021-11-13 04:24] mananjadhav commented on #5892
@marcaaron  Including mine, yes. By the way, this issue exists in iOS Mobile App as well. For Android, the swipe doesn't work (https://github.com/react-native-modal/react-native-modal#how-can-i-hide-the-modal-by-swiping-it).

Hence I mentioned my proposal (https://github.com/Expensify/App/issues/5892#issuecomment-965692327) is solution/workaround. Let me know what you think.

[2021-11-13 06:14] SofiedeVreese commented on #6050
Paid and closed! Thanks for your patience @marktoman.

[2021-11-13 06:18] #6050 closed

[2021-11-13 06:34] kakajann commented on #6284
## Proposal
1. Add new color value to **_android/app/src/main/res/values/colors.xml_**
[code]
2. Add new styles to `AppTheme` in **_android/app/src/main/res/values/styles.xml_**
[code]

3. Remove `StatusBar` animation in here (the second parameter should be `false`)
https://github.com/Expensify/App/blob/6701446b6dd7d77049fd399dcf6a042e6d05cae1/src/components/CustomStatusBar/index.android.js#L10-L1

[2021-11-13 11:54] parasharrajat commented on #5286
Ok. Thanks for letting us know @nickmurray47. I think we are good to close the PR then. @Christinadobrzyn Please suggest further action for this issue.

[2021-11-14 00:39] akshayasalvi commented on #5079
Yeah. These are the approaches I've got at the moment.

1. Move the `WelcomeScreen` within the `SignInLayout` so that the password is accessible as a state variable
2. Store the password in Onyx and immediately delete it after the use is complete (I am now leaning towards this option)
3. We probably have an additional/update the API to remove the password requirement?
4. Something else?

[2021-11-14 04:04] akshayasalvi commented on #5774
PR Raised

[2021-11-14 04:10] akshayasalvi commented on #6287
For some reason, I am not able to reproduce this by following the given reproduction steps. I am unable to click the own admin checkbox itself. It shows the following tooltip. @isagoico Can you help with some clarity on the reproduction steps?

![image](https://user-images.githubusercontent.com/57435789/141667169-061b8bf4-22dc-4676-84e0-f56a8bdb043c.png)

[2021-11-14 04:24] akshayasalvi commented on #6285
**Proposal**

This is happening because we're using a `Text` component and not `TextInput` for mobile devices.

My solution is to remove the `isSmallScreenWidth` check and keep only one block:

[code]
I've added `showSoftInputOnFocus` which ensures that the keyboard doesn't show up on input focus in the mobile apps and our number pad is being able to be used.

![image](https://user-images.githubus

[2021-11-14 04:38] rushatgabhane commented on #6285
@akshayasalvi Ideally `showInputOnFocus=false` would work.

But it has a bug. When you re-open the app from background, the system keyboard shows up!

https://user-images.githubusercontent.com/29673073/141667668-38bed1dd-877b-4d85-94b0-2e444552e032.mp4

[2021-11-14 06:13] akshayasalvi commented on #6285
Thanks for reporting @rushatgabhane.

I’ll probably also add this: (yet to test on a real device):

[code]

[2021-11-14 15:20] rushatgabhane commented on #6285
Nope, that didn't help.

[2021-11-14 16:19] parasharrajat commented on #5237
Awaiting review....

[2021-11-14 17:16] akshayasalvi commented on #6285
Okay, thanks for notifying me. I'll check something that works on the background too.

[2021-11-14 20:14] parasharrajat commented on #5807
### Proposal
1. I think we just need to change the callback called on MarkerBadge `onClick` to `scrollToListBottom` method of the ReportActionsView.js instead of `scrollToBottom`.

Previously, scrolling the list to the bottom will mark the latest last read but now I think this behaviour is recently changed to keep the `markasUnread` messages after the app is put to the foreground from the backgrou

[2021-11-15 02:02] isagoico commented on #6287
My bad! I just updated the platforms affected. This is only reproducible in mobile.

[2021-11-15 06:04] Christinadobrzyn commented on #6285
I don't see a duplicate job in Expensify/App so created job in Upwork:

Internal job posting - https://www.upwork.com/ab/applicants/1460125754131181568/job-details
External job posting - https://www.upwork.com/jobs/~0192adfe14df539b43

[2021-11-15 06:15] Christinadobrzyn commented on #5286
@nickmurray47 - to clarify the next steps for this issue - can you confirm this Upwork job should be closed prior to the [PR](https://github.com/Expensify/App/pull/5943) going to production and @parasharrajat paid out?

[2021-11-15 11:09] anthony-hull commented on #3189
the link didn't work after the weekend, so 11 days since. Possibly it's some time after 7 days.

But I have a new issue. It appears I don't get a new link send. I've started a thread on it:
https://expensify.slack.com/archives/C01GTK53T8Q/p1636974122197400

[2021-11-15 11:24] sketchydroide commented on #6287
Thanks @isagoico.

This definetly sounds like a bug, specialy for being platform specific. Also setting this as an external.

[2021-11-15 11:25] trjExpensify commented on #6154
@deetergp can you confirm [this](https://github.com/Expensify/App/issues/6154#issuecomment-962046536) is the intended behaviour here, so I can update the OP accordingly?

[2021-11-15 13:02] tylerkaraszewski commented on #6288
Seems like a straightforward contributor issue, I'll tag as such and let someone propose a solution.

[2021-11-15 13:35] kidroca commented on #3455
Overall I agree with what @parasharrajat is suggesting here: https://github.com/Expensify/App/issues/3455#issuecomment-859892539

---

The semantic and accessibility compliant way is to render an anchor tag
There are 2 types of links
- internal -> links that take you somewhere else inside the app
- external -> links that take you to an external page

### Internal Links
We're not handling internal

[2021-11-15 13:45] bfitzexpensify commented on #6288
Upwork [posting](https://www.upwork.com/jobs/~012d812bb2562f1d6f).

[2021-11-15 15:03] PrashantMangukiya commented on #6287
### Proposed Solution:

**Here is the Problem:**  It is calling componentDidUpdate() method when goes to background.
https://github.com/Expensify/App/blob/6701446b6dd7d77049fd399dcf6a042e6d05cae1/src/components/CheckboxWithTooltip/CheckboxWithTooltipForMobileWebAndNative.js#L14-L20

**Solution:**  Put condition at line 19  i.e. If `toggleTooltip` change run Growl, otherwise not. This will correct

[2021-11-15 15:29] developvsn commented on #6287
**Proposal**

This bug is occurring because in `willTooltipShowForLogin` function, in case when workspace owner wants to remove himself, this code `this.setState({showTooltipForLogin: login});` allows to show `popUp`, but `showTooltipForLogin` state variable's value will be always login and popup will be shown over and over again.

https://github.com/Expensify/App/blob/6701446b6dd7d77049fd399dcf6a

[2021-11-15 15:50] trjExpensify commented on #6284
@mallenexpensify you wanted to be tagged in this issue once created. Anything to add, or can I get this to Upwork?

[2021-11-15 15:52] nickmurray47 commented on #6082
Going to put this back in the pool for now and can pick back up later

[2021-11-15 16:06] isagoico opened #6297 "Staging label isfloating right instead of 8px right to the ´Chat´ header"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to NewDot
2. Log in to any account.

## Expected Result:
Staging label is floating left 8px right to the ´Chat´ header
## Actual Result:

[2021-11-15 16:11] parasharrajat commented on #6297
A recent change to the sidebar styling broke this https://github.com/Expensify/App/commit/83c9007d9a1fbf12b7d9f0d9e1002cd10b772c1b.

### Proposal

We can simply fix this by removing the `flex1` styling from the nested column. https://github.com/Expensify/App/blob/6701446b6dd7d77049fd399dcf6a042e6d05cae1/src/components/Header.js#L25
It can simply be View without styling as the default axis for `Vie

[2021-11-15 16:16] bondydaa commented on #6297
looks the discussion is happening https://expensify.slack.com/archives/C01GTK53T8Q/p1636732354165700 there might be more issues with some styles as well.

Not sure if we need 1 big GH track them all or if we just want to create GHs as they pop up.

[2021-11-15 16:18] bondydaa commented on #6297
Going to assign to Marco, our SOP is to typically have the engineer fix whatever they broke but this could probably also go to a contributor as well.

[2021-11-15 16:24] parasharrajat commented on #6288
@isagoico Could you please confirm if this is reproducible on any platform? my testing revealed that it looks on the latest code.

[2021-11-15 16:33] isagoico opened #6298 "IOU - Label does not animate up and placeholder is not shown on text input - Reported by: @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to NewDot
2. Request money to a user
3. Enter an amount
4. In the final review page check the text input.

## Expected Result:
Label mov

[2021-11-15 16:36] parasharrajat commented on #6298
Should be marked as a deploy blocker......

[2021-11-15 16:43] isagoico commented on #6298
Since it's in DEV I'm not sure on how it's handled, but well adding the DB label.

[2021-11-15 16:43] PrashantMangukiya commented on #6288
### Proposed Solution

**This is reproducible in version: 1.1.14-4  for iOS 15.0**

https://user-images.githubusercontent.com/7823358/141819040-4c1cf745-64ac-429e-b14a-a2f339022e5b.mov

We need to change style at line 134, 135, and 152 within ReportDetailsPage.js file.
https://github.com/Expensify/App/blob/6701446b6dd7d77049fd399dcf6a042e6d05cae1/src/pages/ReportDetailsPage.js#L131-L137

https://g

[2021-11-15 16:43] OSBotify commented on #6298
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-15 16:48] parasharrajat commented on #6288
I am in confusion @PrashantMangukiya What exactly did you change here?

[2021-11-15 16:56] PrashantMangukiya commented on #6288
Changed style from this
[code]
to this
[code]

[2021-11-15 16:58] isagoico opened #6299 "Resend a new set password link when a expired link is used"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a expired set password link

## Expected Result:
When using a expired link, a new link should be sent to the user and he/she should b

[2021-11-15 17:06] anthony-hull commented on #6299
related App issue:
https://github.com/Expensify/App/issues/3189

[2021-11-15 17:12] aldo-expensify commented on #5209
Not overdue, this is low priority.

[2021-11-15 17:20] thienlnam commented on #6298
Shouldn't be blocking deploys since it's only on dev.  Updated the description to reflect that

[2021-11-15 17:29] wenge8n commented on #6288
I was able to reproduce this issue in v1.1.14-0, iOS 15.0.

Here is screenshots.
[https://imgur.com/a/as4osIF](url)
[https://imgur.com/a/hGmUA4s](url)

The solution is, we need to add the style at line 1323 in src/styles/styles.js

`singleAvatarLarge: {
      height: 64,
      width: 64,
      backgroundColor: themeColors.icon,
      borderRadius: 64,
      overflow: 'hidden', // add this line
  }

[2021-11-15 17:30] thienlnam commented on #3867
Discussions have been happening in the relevant PRs

[2021-11-15 17:34] mananjadhav commented on #4559
All done, will raise Pr today

[2021-11-15 17:56] deetergp commented on #4115
Still no internal takers on https://github.com/Expensify/Expensify/issues/173677

[2021-11-15 18:01] Julesssss commented on #6284
@trjExpensify I've assigned myself as I'd like to review this one and test it on a few different Android versions. @kakajann's proposal looks good to me, so once this is on UpWork please hire @kakajann

[2021-11-15 18:22] Jag96 commented on #6298
Looks like this was a regression from https://github.com/Expensify/App/commit/2231d55a6ddf189042c680979e4981c6c00d178b, going to make a PR for this one

[2021-11-15 18:46] mallenexpensify commented on #6074
Paid $250 in Upwork!  Thanks @parasharrajat

[2021-11-15 18:46] #6074 closed

[2021-11-15 18:57] Jag96 commented on #6121
👍

👍

On mobile, we want to keep all animations as they are now, but on web/desktop we want to remove the animation.

@parasharrajat your proposal sounds good then, if you have any more questions feel free to ask otherwise feel free to start on a PR. @dylanexpensify let's hire @parasharrajat for this one!

[2021-11-15 19:00] isagoico opened #6301 "[$8000] Feature Request - Profile / Workspace - Allow avatar editing via cropping, rotation and zooming - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to profile settings
2. Upload a new profile picture

## Expected Result:
User should be able to edit the picture before setting the new

[2021-11-15 19:09] luacmartins commented on #6175
PR merged!

[2021-11-15 19:20] quinthar commented on #3867
Out of curiosity, when we add E2E encryption, how do we intend for this to work?  I think we can maintain it unencrypted on disk such that it works in the `<img>` tag, but when we upload it will it be part of the regular message body as normal?

[2021-11-15 19:21] #6298 closed

[2021-11-15 19:25] Jag96 commented on #6298
@rushatgabhane I've sent you an Upwork invite for filing this job, thanks!

[2021-11-15 19:26] rushatgabhane commented on #6298
That was quick, appreciate it! :)

[2021-11-15 19:27] Luke9389 commented on #6079
Now that this is internal, I'm gonna unassign from this.

[2021-11-15 19:28] Luke9389 commented on #3798
Looping back around to this soon

[2021-11-15 19:29] pecanoro commented on #6122
Hmm, this is really interesting, if they account is closed they should be getting the prompt to reopen the account by email verification and not this. Maybe the flow does not work properly when 2FA is enabled. cc/ @bondydaa

[2021-11-15 19:31] stitesExpensify commented on #3922
Looking over this today

[2021-11-15 19:31] Jag96 commented on #6222
https://github.com/Expensify/App/issues/6298 has been fixed by https://github.com/Expensify/App/pull/6300 so I think we can check it off.

It looks like https://github.com/Expensify/App/issues/6233 (from [this comment](https://github.com/Expensify/App/issues/6222#issuecomment-962068407)) is on a merge freeze, will ask for an update on that one.

[2021-11-15 19:39] roryabraham commented on #5588
Did another review of @akshayasalvi's PR today. This one is close to the finish line!

[2021-11-15 19:39] roryabraham commented on #4010
Will take this off hold starting next week.

[2021-11-15 20:04] bondydaa commented on #6122
To confirm this problem is happening without 2FA enabled as well right?

Daniel looks right that we're just failing to get a restricted authToken for the user who has a closed account.

[code]

I'm not sure why we're calling to get a restricted authToken here so I would try to figure out why we're doing that and if it's 100% necessary, if it is needed then maybe see if we can check to see if the a

[2021-11-15 20:05] Jag96 commented on #6222
:shipit:

[2021-11-15 20:05] #6222 closed

[2021-11-15 20:09] TomatoToaster commented on #3245
Haven't forgotten about this! Still planning to work on it, just haven't made progress since last update.

[2021-11-15 20:09] OSBotify opened #6305 "Deploy Checklist: New Expensify 2021-11-15"
**Release Version:** `1.1.15-8`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/6087
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6094
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/6115
  - [x] QA

[2021-11-15 20:14] mallenexpensify commented on #6202
Posted for @puneetlath since I was looking at this issue
https://www.upwork.com/jobs/~01f557fb5297f418b2

[2021-11-15 20:28] mallenexpensify commented on #6096
Hired @sidferreira in Upwork!

[2021-11-15 20:34] mallenexpensify commented on #5237
@puneetlath can you review the PR please https://github.com/Expensify/App/pull/6248

[2021-11-15 20:35] NikkiWines commented on #6235
I think @developvsn's proposal looks good, though I think it'd be `event.key` if we're matching to `Tab` and not the keyCode `9`.

@kevinksullivan can you hire @developvsn for this job? Thanks!

[2021-11-15 20:38] mallenexpensify commented on #6284
@trjExpensify , please post to Upwork, thanks

[2021-11-15 20:41] raajnadar commented on #6202
This should have a scrollview wrapper https://github.com/Expensify/App/blob/8dc45ecc13376325363d80f3660e1f65b5ae99d9/src/components/KeyboardAvoidingView/index.ios.js#L17-L23

Or else as one person commented above the page should be redesigned so that it can play well with keyboard.

[2021-11-15 20:46] parasharrajat commented on #6202
@mallenexpensify Can I apply now? #6203 is merged. This can be tested there.

[2021-11-15 20:49] NikkiWines commented on #5571
Oh oops, the fix for this has been on prod for roughly 2 weeks now. Closing!

[2021-11-15 20:52] elemanhillary commented on #6285
Initially you can also use a text component to grab things off the clipboard. I have a simple solution

Solution 1
-  Use a text input

Solution 2
- Grab text from clipboard

[2021-11-15 20:58] puneetlath commented on #6202
Hm, so if I'm understanding correctly @parasharrajat, this issue is fixed by a PR that you had already made to fix a different issue, is that right?

[2021-11-15 21:00] parasharrajat commented on #6202
So after discussion on the Slack. I decided to combine the solution on the same PR as I was already working on login page UI.

This should be fixed in that PR. We can wait for the QA.

[2021-11-15 21:01] puneetlath commented on #2734
@anthony-hull @johnmlee101 how's this one going?

[2021-11-15 21:12] thienlnam commented on #5542
We've delayed all PRs due to the hold.  Since I made the mistake and merged ahead of time @Christinadobrzyn, let's pay this out.  It passed staging QA

[2021-11-15 21:17] puneetlath commented on #6202
Ok got it, thanks! If it does indeed turn out to be fixed, then I'll just pay @rushatgabhane out for reporting it and then we can close this.

[2021-11-15 22:20] SofiedeVreese commented on #5896
PR deployed, adding a payment hold 7 days from deploy.

[2021-11-15 22:21] mallenexpensify commented on #6301
Added `Engineering` label , assigned Deeter, to check to ensure this can be worked on by a contributor

[2021-11-15 22:31] botify commented on #5542
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.14-4 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6140

If no regressions arise, payment will be issued on 2021-11-22. :confetti_ball:

[2021-11-15 22:31] botify commented on #5593
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.14-4 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6189

If no regressions arise, payment will be issued on 2021-11-22. :confetti_ball:

[2021-11-15 22:31] botify commented on #5972
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.14-4 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6083

If no regressions arise, payment will be issued on 2021-11-22. :confetti_ball:

[2021-11-15 22:31] botify commented on #6050
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.14-4 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6084

If no regressions arise, payment will be issued on 2021-11-22. :confetti_ball:

[2021-11-15 22:31] botify commented on #5906
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.14-4 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6196
- https://github.com/Expensify/App/pull/6237

If no regressions arise, payment will be issued on 2021-11-22. :confetti_ball:

[2021-11-15 22:31] botify commented on #6158
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.14-4 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6205

If no regressions arise, payment will be issued on 2021-11-22. :confetti_ball:

[2021-11-15 22:32] botify commented on #5310
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.14-4 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6197

If no regressions arise, payment will be issued on 2021-11-22. :confetti_ball:

[2021-11-15 22:33] SofiedeVreese commented on #6050
Hmm that's weird ^ It was already deployed 🤷

[2021-11-15 22:47] mountiny commented on #6050
This is because of the PR which fixed the regression. All good here.

[2021-11-15 23:09] mountiny commented on #6050
Oh actually looking into this more, https://github.com/Expensify/App/pull/6084#issuecomment-969396532 the original PR has been deployed to production just now so the comment was correct after all, so we have paid out prematurately here. It got delayed because of the week when we have not deployed. Nothing to do about it here, just noting for future.

[2021-11-15 23:14] SofiedeVreese commented on #6050
Ah darn it, ok that's good to know, thank you @mountiny !

[2021-11-15 23:14] Jag96 commented on #3455
@kidroca that's a great breakdown, thanks for having a look at that. Since this is just affecting the control + click for windows users, I still don't think it's worth making all these changes that can affect how links work on all platforms across the app, so I'm leaning towards leaving this on hold.

If anyone has different opinions, feel free to chime in here.

[2021-11-15 23:20] roryabraham commented on #4629
This is a promising thought. I don't think we'll want to render the image on a canvas just to copy it.

[2021-11-15 23:36] roryabraham opened #6306 "[HOLD] Implement phased rollouts of the New Expensify mobile app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem
There is no fast way to roll back a mobile production release, so if any bugs get through our QA process to production, we will have to scramble to fix the is

[2021-11-15 23:42] roryabraham commented on #5894
@mallenexpensify @Christinadobrzyn I think we are good to take this off hold?

[2021-11-15 23:53] aldo-expensify opened #6309 "VBA: always show all address fields"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Details

Following this slack convo: https://expensify.slack.com/archives/C03TQ48KC/p1635812089454700
Related GH issues:
- https://github.com/Expensify/Expensify/issu

[2021-11-16 00:05] kevinksullivan commented on #3855
Looks like this is in requested changes now.

[2021-11-16 00:13] kevinksullivan commented on #6059
Ok, I did that and could not reproduce. Feel free to post a video of this if I am missing something, but I am going to close until then.

[2021-11-16 00:26] kevinksullivan commented on #6132
Ok, so are we just rounding the image on android, or changing the image? I'm not sure I follow what is being proposed here.

[2021-11-16 00:30] kevinksullivan commented on #6235
All set!

[2021-11-16 00:32] Christinadobrzyn commented on #5894
Sounds good - still looking for proposals

[2021-11-16 00:44] mvtglobally commented on #6305
Starting QA

[2021-11-16 01:13] jasperhuangg commented on #6202
@parasharrajat Should we stick the "Reviewing" label on this since your PR is awaiting QA?

[2021-11-16 01:36] mountiny commented on #4756
PR is up and in a review so added the label. This might take a while as we would like to make sure the changes are conceptual.

[2021-11-16 01:49] marktoman commented on #6050
@mountiny @SofiedeVreese Just a hopefully redundant FYI: In case of a regression, I will continue being around :)

[2021-11-16 01:49] mountiny commented on #5572
Still waiting for any momentum in the linked issue. Tested this just now on `main` and the temporary fix for the previous issue has not solved this one yet so we should keep this open.

[2021-11-16 01:51] mountiny commented on #6050
@marktoman Let's hope it wont be needed 😊 but at the same time, I hope to see you working on new issues 🎉

[2021-11-16 01:56] marktoman commented on #6213
I am still getting 404 for the SVG file: https://github.com/Expensify/Expensify/files/7413560/GPS.Track.svg.zip

Should I create a PR without the icon in a few days, or do you think it will be available by then?

[2021-11-16 02:36] kevinksullivan opened #6315 "[HOLD for payment 2021-12-15] Update header in test transaction step of VBA flow to "Test transactions""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

# Problem
The step to enter test transactions in the VBA flow is generically called "Connect bank account", whereas other preceding steps are more descriptive (e.g. pers

[2021-11-16 02:50] kevinksullivan opened #6316 "[HOLD for payment 2021-12-06] Update `Issue corporate cards` page copy"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Following up on [this thread](https://docs.google.com/presentation/d/10bwq5BVmcvYWcqCRxiNatE3xZCwLnepk0c-4oDgyOVc/edit?disco=AAAAQ87aovI):

## Action Performed:
1. Click

[2021-11-16 05:29] parasharrajat commented on #6202
@puneetlath FYI, I have to do extra work to fix it. It is not like it was automatically fixed with same solution.

[2021-11-16 07:07] PrashantMangukiya commented on #6315
#### Proposed Solution: (If considered as external)

We have to update line 168 within `ValidationStep.js` and add translation key:
https://github.com/Expensify/App/blob/f3628fb7e1eeede58b7bf60d3527bb493c274176/src/pages/ReimbursementAccount/ValidationStep.js#L167-L174

Update code within `ValidationStep.js` file as under:
[code]

Add translation key to `src/languages/en.js`  file:
[code]

Add tra

[2021-11-16 07:59] dylanexpensify commented on #6121
On it!

[2021-11-16 07:59] dylanexpensify commented on #6121
@parasharrajat mind applying for the job?

[2021-11-16 08:02] parasharrajat commented on #6121
@dylanexpensify Just did. Sorry for not doing proactively.

[2021-11-16 08:03] dylanexpensify commented on #6121
haha no worries at all @parasharrajat! I've barely had coffee, so that reaction time was 🔥 :). Sent the offer!

[2021-11-16 08:46] dylanexpensify commented on #6060
bringing up for convo

[2021-11-16 11:08] trjExpensify commented on #6284
Donezo! Upwork job is up here for you @kakajann: https://www.upwork.com/jobs/~01fd7b70aadc2f612c

@mdneyazahmad can you also apply, so I can pay you out the $250 for reporting the issue. 👍

[2021-11-16 11:10] trjExpensify commented on #6213
@michelle-thompson @shawnborton any ideas?

[2021-11-16 11:14] trjExpensify commented on #5875
👋 @mateomorris did you get a PR up for this one? Can you link it to this issue, please?

[2021-11-16 11:50] emonidi commented on #6284
This solution removes the styling posibility in from react and next time you want to change the status bar theme/color you will have to fix this on android level which defeats the purpose of using react native. Also this will be a huge bottleneck if you ever decide to use darkmode or change the background color of the main body. I don't mean to be critical but I would not accept this solution as a

[2021-11-16 12:00] mdneyazahmad commented on #6284
@trjExpensify applied on upwork

[2021-11-16 13:30] mateomorris commented on #4629
@roryabraham agreed. Then using a datauri is the only solution that comes to mind. Apologies for the delay on finishing out my proposal, been having a lot of trouble lately running mobile locally.

[2021-11-16 13:37] Amarpsp10 commented on #6285
**Proposal**

I have one solution for this without using the `TextInput` component
we can access the `Clipboard` value by using @react-native-community/clipboard

     import Clipboard from '../../../libs/Clipboard/index.native'
     .....
     async componentDidMount() {
        .....
        const copiedText = await Clipboard.getString();
        this.setState({copied : copiedText});
    }

I te

[2021-11-16 13:52] PrashantMangukiya commented on #6316
#### Proposed Solution: (If considered as external)

Update translation within `src/languages/en.js` as under:
[code]

Update translation within `src/languages/es.js` as under:
[code]

**Here is screenshot**

<img width="919" alt="Web-1" src="https://user-images.githubusercontent.com/7823358/141997143-8236d966-a36e-4e8f-97cd-ed5aaa582114.png">

<img width="919" alt="Web-2" src="https://user-images

[2021-11-16 14:17] shawnborton commented on #6213
Try downloading here: [GPS.Track.svg.zip](https://github.com/Expensify/App/files/7546990/GPS.Track.svg.zip)

[2021-11-16 14:22] marktoman commented on #6213
@shawnborton That works, thanks!

[2021-11-16 14:45] puneetlath commented on #6159
This has been merged. @parasharrajat thanks for your patience!

@bfitzexpensify please make sure to add the bonus for the company offsite hold when paying this out.

[2021-11-16 14:48] puneetlath commented on #5722
This has been merged. Thanks for your patience @PrashantMangukiya!

@SofiedeVreese please make sure to add the bonus for the company offsite hold when paying this out. Thanks!

[2021-11-16 14:52] kakajann commented on #6284
I don't think it removes any styling possibilities. As mentioned in the issue, the status bar color changes only when you launch the app and it is caused by `https://github.com/zoontek/react-native-bootsplash`.

So, you'll have to change this
[code]
whenever you change the splash screen.

And you can do anything you want to the status bar once the app is mounted. Here's the documentation: https://

[2021-11-16 15:06] isagoico opened #6321 "Login - Email and password fields are misaligned with left edge"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app while logged out
2. Input an email address and tap Continue

## Expected Result:
Text input is aligned with left edge - no croppings

##

[2021-11-16 15:07] isagoico opened #6322 "Blank screen displayed after select Plaid Saving account for VBA flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with exensifail account
3. Enable the Staging Server under Settings
4. Go to any Worksplace
5. Tap Connect bank account

[2021-11-16 15:08] OSBotify commented on #6322
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-16 15:09] isagoico commented on #6322
We also noticed that the plaid modal now has a blank background instead of an overlay. We wanted to confirm if this is expected behaviour or not.

![image](https://user-images.githubusercontent.com/44479856/142010977-b4a03701-9c09-43df-b347-8a4e2031d012.png)

[2021-11-16 15:13] Beamanator commented on #5918
Hmm can you test again on Android or iOS? I believe I reproduced the issue a week ago, which is even after the PR you mention was merged to production

[2021-11-16 15:14] NikkiWines commented on #4612
Looks like the review for https://github.com/Expensify/App/pull/6207 is on hold while Marc is OOO, so seemsl like we should expect any progress on this to be delayed until next week

[2021-11-16 15:31] puneetlath commented on #4629
Doubling price to $4000: https://www.upwork.com/jobs/~012fd9a807faaf42aa

[2021-11-16 15:38] nickmurray47 commented on #6282
info looks all there

[2021-11-16 15:45] MTN718 commented on #4629
@roryabraham to copy image data from element, need to change chat part also. Because currently we're using image from uri in the chat.

[2021-11-16 15:47] Beamanator commented on #5296
Back at it after a busy last week, will try to get this done the upcoming week

[2021-11-16 15:49] laurenreidexpensify commented on #6316
@michaelhaxhiu am still OOO sick, can you please pick up thanks

[2021-11-16 15:51] isagoico commented on #5625
@Julesssss We were able to reproduce this again on the current regression run

![image](https://user-images.githubusercontent.com/44479856/142018805-9b211abb-e4a1-44b7-ba39-894c46305611.png)

[2021-11-16 15:56] Beamanator commented on #4211
@parasharrajat is actively working on a fix in ^ PR

[2021-11-16 16:06] Beamanator commented on #5807
@parasharrajat that sounds like a great idea, nice and simple too - go ahead and submit a PR when you can 👍

[2021-11-16 16:13] johnmlee101 commented on #6164
`appplausetester+0901abb@expensifail.com` this account doesn't exist? And without the triple `p` it says its unvalidated?

[2021-11-16 16:18] johnmlee101 commented on #5987
Still on hold, I presume?

[2021-11-16 16:18] johnmlee101 commented on #5423
With hold gone, opening up to external! Looks like an easy fix.

[2021-11-16 16:21] johnmlee101 commented on #5405
reviewed!

[2021-11-16 16:22] isagoico commented on #6164
@johnmlee101 Seems there's a typo from the tester. Checking again and will update with the correct email

[2021-11-16 16:32] mvtglobally opened #6323 "[Chat] Desktop - VBA- Can't find your address? link non functional in personal info page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2.Open the workspace and click Connect Bank account
3.Make it to the personal information  step
4.Click on Can't find yo

[2021-11-16 16:33] OSBotify commented on #6323
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-16 16:40] thienlnam commented on #6155
@opal6502 Thanks for your proposal - this is a pretty broad outline but doesn't really encapsulate why the issue is happening in this specific context or the specific changes that need to be made.  The proposal is more like a series of steps that you will take to solve the issue and the PR just follows the changes in your proposal

[2021-11-16 16:40] kavimuru opened #6324 "VBA - Dropdown arrow non functional in zip code field for company info page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #6210
## Action Performed:
1. Launch the app and login
2.Open the workspace and click Connect Bank account
3.Make it to the Company informa

[2021-11-16 16:41] thienlnam commented on #6155
@kursat You seem to be on the right track here, but checking the length of the draft wouldn't allow you to set it to an empty string.  Is there another solution here that could address that?

[2021-11-16 16:42] mvtglobally opened #6325 "mWeb - 1.1.15-1 - Login - Continue button not visible when keyboard is opened"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app while not logged in
2. Input any email and tap continue

## Expected Result:
Password input and continue button and go backlink should b

[2021-11-16 16:42] OSBotify commented on #6325
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-16 16:43] AndrewGable commented on #6322
Can you please provide the email of the tester for Android?

[2021-11-16 16:44] isagoico commented on #6322
Email used: applausetester+0901abb@applause.expensifail.com / Feya86Katya

[2021-11-16 16:51] AndrewGable commented on #6322
Seeing this crash via logs: `[alXt] NewExpensify crash caught by error boundary ~~ error: 'View config getter callback for component `div` must be a function (received `undefined`). Make sure to start component names with a capital letter.' errorInfo: '[componentStack: '
6af079753dcc3b8e-BOS | virt1.sjc | 2021-11-16 11:45:40 762 | applausetester+0901abb@applause.expensifail.com`

https://www.expen

[2021-11-16 16:54] AndrewGable commented on #6322
This was mentioned in Slack here: https://expensify.slack.com/archives/C01GTK53T8Q/p1637047679227300

[2021-11-16 16:55] AndrewGable commented on #6322
@Gonals - Looks like this links to your PR here: https://github.com/Expensify/App/pull/6210

Would you mind fixing?

[2021-11-16 16:58] Santhosh-Sellavel commented on #6059
@isagoico Can you help me here. Can you reproduce this now. Can you add attachments if reproducible.

[2021-11-16 17:00] kavimuru opened #6326 "Chat - Magnifying glass displayed anywhere on the modal page for small images"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Add a small size image as attachment and send the image to any chat
3. Click on the image thumbnail, it should open m

[2021-11-16 17:15] luacmartins commented on #6324
Removing the Deploy Blocker label as the issue is minor and already on staging and production. Gonna try to work on a fix asap.

[2021-11-16 17:16] roryabraham commented on #6306
@Expensify/mobile-deployers is there anyone who's interested in looking into this? I think it's valuable for stability but I may need to drop it for higher priority things.

[2021-11-16 17:34] isagoico commented on #6164
@johnmlee101 Tester just tried to reproduce the issue now and mentioned the upload time is much better now (issue is not reproducible). I also agree that this is a good upload time.

https://user-images.githubusercontent.com/44479856/142031967-640c48b1-327a-4d56-9c33-1c9005094392.mp4

[2021-11-16 17:36] johnmlee101 commented on #6164
Woohoo! Glad to hear!

[2021-11-16 17:38] #6164 closed

[2021-11-16 17:40] parasharrajat commented on #5423
Does not look like this exists anymore....

[2021-11-16 17:42] kidroca commented on #5987
#6151 was closed with the decision that we don't have sufficient cases that we need to do something about it (like exposing `Onyx.get`) just yet

Maybe we can come up an updated proposal that doesn't need `Onyx.get`.
This is a general overview of the strategy
1. When we're offline some requests (`shouldPersist: true`) are stored to disk by the main queue
2. When we transition from offline to onlin

[2021-11-16 17:43] luacmartins commented on #6322
I can take this one as @Gonals is gone for the day. PR incoming!

[2021-11-16 17:49] Julesssss commented on #5926
Merged, awaiting payment

[2021-11-16 17:50] Julesssss commented on #5573
Merged, awaiting payment.

[2021-11-16 17:51] Julesssss commented on #5291
Merged, awaiting payment.

[2021-11-16 18:03] Julesssss commented on #6284
@emonidi thanks for your comments, but in this case I think the native solution is fine. This status bar UI bug is a common issue in native Android dev, and fixing it here is the simplest solution IMO. We have a lot more control by setting Android styles/themes here, and not every case can be handled at the RN layer -- we often need to make changes to native code.

[2021-11-16 18:06] emonidi commented on #6284
After looking at it deeper I realized what the problem is and my criticism was out of place. @kakajann  you are right this in that case is possible the best solution.

[2021-11-16 18:09] francoisl commented on #6323
@roryabraham any ideas off the top of your head? Looks like it _could_ be an issue coming from the big refactor in https://github.com/Expensify/App/pull/6234. Still trying to reproduce the issue but having some trouble with getting to that step on dev for now.

[2021-11-16 18:13] nickmurray47 commented on #6325
Can we get some specifics on screen size or device @mvtglobally? I tried reproducing on iPhone XR and did not have any issues with keyboard placement when entering my email or password.

![IMG_7413](https://user-images.githubusercontent.com/24466196/142042015-426c8699-a8e4-48c7-bccc-4e5fc5899c6c.PNG)

I think I'm inclined to say this is not a deploy blocker

[2021-11-16 18:21] Beamanator commented on #5781
There's a few ways we could go with fixing this issue, I'm keeping internal but asking for feedback in slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1637086863243500?thread_ts=1633985648.152300&cid=C01GTK53T8Q)

[2021-11-16 18:26] Julesssss commented on #5625
I just tested on staging and was unable to reproduce, but let's keep an eye on the issue.

[2021-11-16 18:27] luacmartins commented on #6324
PR up!

[2021-11-16 18:37] isagoico commented on #6322
Following the discussion here https://expensify.slack.com/archives/C01GTK53T8Q/p1637047679227300 @CamilaRivera should qualify for the reporting bonus for this one. CC @luacmartins @AndrewGable

[2021-11-16 18:40] kavimuru commented on #4214
@marcaaron @isagoico
Issue was able to reproduce on the regression round for 1.1.15-1. So reopening the issue.

https://user-images.githubusercontent.com/43996225/142045789-2e0a6155-4b2b-4e65-b991-42fd589628d7.mp4

.

[2021-11-16 18:43] parasharrajat commented on #6325
I think this already exists in production and never worked before. So no deploy blocker IMO.

[2021-11-16 18:44] emonidi commented on #6321
in [LoginForm.js Line:114](https://github.com/Expensify/App/blob/5e5eb9d5acc5941310e8889398390b45325c85b0/src/pages/signin/LoginForm.js#L114) set `translateX={-10}`

This will fix it.

[2021-11-16 18:47] francoisl commented on #6323
Oh I think I found the issue, finishing testing now.

[2021-11-16 18:48] mvtglobally commented on #4717
@Dal-Papa We are still able to repro this issue occasionally. See the latest video

https://user-images.githubusercontent.com/43995119/142046903-a8d64a98-517a-4d4b-889e-c01d4412dcd4.mp4

[2021-11-16 18:55] parasharrajat commented on #6121
@Jag96 Do we need to remove animation from the FAB menu as well?

[2021-11-16 18:56] nickmurray47 commented on #6325
Going to apply appropriate labels and put into pool

[2021-11-16 19:00] #4506 closed

[2021-11-16 19:04] isagoico commented on #6321
@AndrewGable @roryabraham I think this bug may be a deploy blocker. This was not reproducible when I checked this comment from Rory last week on the staging build https://expensify.slack.com/archives/C01GTK53T8Q/p1636680928146700?thread_ts=1636663544.142100&cid=C01GTK53T8Q

I'm gonna add the blocker label. Please remove if you disagree.

[2021-11-16 19:05] OSBotify commented on #6321
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-16 19:18] tgolen commented on #3455
I'm fine with that stance. Maybe it turns into a bigger issue at some point
and we can revisit this proposal.

On Mon, Nov 15, 2021 at 4:14 PM Joe Gambino ***@***.***>
wrote:

[2021-11-16 19:22] isagoico opened #6335 "mWeb - Pull to refresh should be disabled on mobile Web"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to NewDot on mWeb
2. Navigate to a conversation and scroll in a manner that could trigger the pull to refresh.

## Expected Result:
Pull

[2021-11-16 19:26] michaelhaxhiu commented on #6316
I updated the GH formatting to be 1:1 with our normal format for contributors, and added a few small sections :)

Upwork job link: https://www.upwork.com/jobs/~01af7b92340829ad34

[2021-11-16 19:27] developvsn commented on #6235
@NikkiWines @kevinksullivan Hey ! I run into issue "doesn't have permission to make PR"
Who i can reach for some help?

![2021-11-16 12 56 30](https://user-images.githubusercontent.com/71173662/142052200-70ea618d-ef66-49f3-88ba-17c581aca0bd.jpg)

[2021-11-16 19:28] michaelhaxhiu commented on #6316
hm actually, I think I used the wrong label according to the S/O. Going to fix.

[2021-11-16 19:28] tgolen commented on #6285
Thanks for the proposals!

@akshayasalvi I think ideally, I like your proposal the most. It seems the most simple and the most "best practice" way. Is it possible to find a solution to that background bug?

@elemanhillary It sounds like you are proposing similar things as the others, but I would need to see a more detailed explanation of what solution you would recommend as well as how it would be

[2021-11-16 19:29] #6324 closed

[2021-11-16 19:31] NikkiWines commented on #6316
Looks good for Upwork! Adding `External` and `Improvements` labels

[2021-11-16 19:31] aldo-expensify commented on #6235
Did you fork the repo?

[2021-11-16 19:32] parasharrajat commented on #6316
Lol. What is happening here? :rofl:

[2021-11-16 19:32] michaelhaxhiu commented on #6316
I accidentally triaged and exported this GH, meaning I skipped a step. Sometimes I get confused becuase I do both frequently 😂 . I'll fix it in a moment.

[2021-11-16 19:50] Jag96 commented on #6121
I believe we want to keep that the same, @shawnborton @megankelso thoughts on the FAB menu animation?

[2021-11-16 19:53] mountiny commented on #6335
Nice External issue!

[2021-11-16 20:01] Jag96 commented on #6288
While both proposals seem to fix the issue, I think @wenge8n has the simpler solution. @bfitzexpensify let's hire @wenge8n for this one. @wenge8n once you get the invite feel free to start on a PR!

[2021-11-16 20:03] mallenexpensify commented on #5571
@akshayasalvi Thanks for the ping.  Can you apply here please? And confirm in a comment here when you do?
https://www.upwork.com/jobs/~01a9a9596e5085e734

[2021-11-16 20:04] marcochavezf commented on #6297
I created this [PR](https://github.com/Expensify/App/pull/6334) to fix the label position. I added that View before for the VBA step counter, I tested the solution and look good in both places (badge and step counter):

<img width="500" alt="Screen Shot 2021-11-16 at 14 00 46" src="https://user-images.githubusercontent.com/6829422/142050307-b63c218d-8d60-4dac-b312-952bb9603146.png">

<img width="5

[2021-11-16 20:07] #6297 closed

[2021-11-16 20:17] Jag96 commented on #6288
@wenge8n offer sent!

[2021-11-16 20:20] parasharrajat commented on #4911
Ok :chicken:  . Giving it another shot. There are a _few_ issues that got closed after my proposal so I don't want to end up wasting mine and others' time for nothing.

### Why
Due to the recent change to URLs to show a different context menu #3931 , we have to use PressableWithSecondaryInteraction which created a block inside the normal flow and tada .

### Solution (I think of)

To fix this issu

[2021-11-16 20:24] aswin-s commented on #6335
Proposal:

Apply css style `overflow:hidden` for html element. This would disable pull to refresh on mobile browsers.

[2021-11-16 20:30] parasharrajat commented on #6335
I don't think disabling the native functionality is a good option. It does refresh the app as it should. Instead, it opens the last accessed report which is the default behaviour of the app. But the real issue here is that it does not show the LHN instead show the last accessed report which is #5027 .

We should either reopen #5027 or close this. cc @mountiny

[2021-11-16 20:44] aswin-s commented on #6335
Browser's native pull to refresh makes sense only for a webpage & not for a SPA which has live updates via sockets. Native pull to refresh reloads the entire webpage rather than refreshing the list that user is interacting with. If pull to refresh as a feature is important, then it should be implemented at the app level, so as to refresh just the list (LHN here).  But since the ReactNative app doe

[2021-11-16 20:54] mvtglobally commented on #6305
Regression is completed
Deploy Blockers

-  #6321
-  #6322
-  #6323
-  #6324

Additional issues found

- #6325
- #6326
- #6335

Comments added
https://github.com/Expensify/App/issues/4214#issuecomment-970561079
https://github.com/Expensify/App/issues/4717#issuecomment-970568350

[2021-11-16 20:58] SofiedeVreese commented on #6204
Not overdue Melvin, we have a merged PR. QA ongoing so not deployed yet.

[2021-11-16 21:24] kevinksullivan commented on #5185
@mananjadhav what's the latest on this one?

[2021-11-16 21:56] puneetlath commented on #6157
@Christinadobrzyn I accidentally ended the Upwork contract for this issue when closing https://github.com/Expensify/App/issues/5755.

Can you pay @Santhosh-Sellavel via [this contract](https://www.upwork.com/ab/c/8577561/contracts/28673992#milestones%2F20211018%2F20211116) when this issue gets completed? Sorry for the confusion!

[2021-11-16 21:56] puneetlath commented on #5755
Ah got it! Thanks for the explanation @mountiny.

[2021-11-16 22:19] mallenexpensify commented on #6326
Job posted
https://www.upwork.com/jobs/~014d495c62816efa38

[2021-11-16 22:21] megankelso commented on #6121
yes I think that one is ok as is!

[2021-11-16 22:25] #6323 closed

[2021-11-16 22:25] luacmartins opened #6337 "Remove early return from isFromPublicDomain if domain is public"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
# Problem
We added the ability to auto approving Expensify Cards for users with private domain as secondary logins [here](https://github.com/Expensify/Expensify/issues/18

[2021-11-16 22:32] kadiealexander commented on #5620
Upping the price to $8k!

@NikkiWines would you mind taking a look at the above suggestions (and discussions [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1637086224241700) and [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1636053321498700) to see if there's anything we can work with?

[2021-11-16 22:33] mallenexpensify commented on #6301
https://www.upwork.com/jobs/~01c68ed933432e239b
Job posted 😎

[2021-11-16 22:51] botify commented on #6216
@pecanoro @jboniface  Be sure to fill out the [Contact List](https://forms.gle/zhdenCB5dE5gKfnw6)!

[2021-11-16 23:01] mountiny commented on #5572
Just QA'ing a new feature here @parasharrajat :)

[2021-11-16 23:06] chiragsalian commented on #5875
Thanks for the work @mateomorris. Looking forward to the PR 🙂

[2021-11-16 23:25] roryabraham commented on #6321
Since this is now an hourly deploy blocker, we need to make it internal.

[2021-11-16 23:28] Jag96 commented on #6321
Looking into this one, translateX doesn't fully solve the issue since that also affects the x value of the label

[2021-11-16 23:44] Jag96 commented on #6321
I think I sorted it out, looks like translateX was being passed via inputProps to the TextInput component [here](https://github.com/Expensify/App/blob/307f7bb1684fa6040df01e90b3c93560f90718ae/src/components/ExpensiTextInput/BaseExpensiTextInput.js#L190), but we recently updated inputProps to omit the ExpensiTextInput prop types [here](https://github.com/Expensify/App/blob/307f7bb1684fa6040df01e90b

[2021-11-16 23:53] Christinadobrzyn commented on #6157
No worries! Yes, I'll make sure to pay @Santhosh-Sellavel for this [contract](https://www.upwork.com/ab/c/8577561/contracts/28673992#milestones%2F20211018%2F20211116) when this job closes

[2021-11-16 23:55] emonidi commented on #6321
Yep. Too deep to much cascading. Flat is not that bad you know. And yeah take a look at my comment above 😂

[2021-11-17 00:09] isagoico commented on #6305
We're testing these 2 CPs at the moment:
- https://github.com/Expensify/App/pull/6327
- https://github.com/Expensify/App/pull/6332

[2021-11-17 00:51] arielgreen commented on #5423
I'm not able to reproduce this either.

[2021-11-17 00:51] #5423 closed

[2021-11-17 01:37] Julesssss commented on #2545
Issue is still on hold due as we're awaiting the outcome of this issue: #2985

[2021-11-17 02:45] mvtglobally commented on #5971
Issue not reproducible during KI retests. (Fourth Week)

[2021-11-17 02:51] CamilaRivera commented on #6326
## Proposal

We can calculate the pressable size by calculating the final size of the image. The final size of the image can be calculated using the size of the container (extracted with `onLayout`) and the original size of the image (`this.state.imgHeight` and `this.state.imgWidth`).

We will need to add the following functions to `src/components/ImageView/index.js`:

[code]

We will adjust the c

[2021-11-17 03:45] isagoico commented on #6305
Both CPs were a pass 🎉 Checked them off already

[2021-11-17 03:47] yuwenmemon commented on #6305
Checking off internal QA checklist (It worked cause it's there and tagged me correctly 😅 )

[2021-11-17 04:23] #6321 closed

[2021-11-17 05:08] roryabraham commented on #6316
@PrashantMangukiya Your proposal looks good, feel free to submit a PR.

[2021-11-17 05:22] PrashantMangukiya commented on #6316
@roryabraham thanks. Applied to Upwork job. I am preparing pr now and submit soon.

[2021-11-17 08:42] MirFahad58 commented on #4678
@michaelhaxhiu @roryabraham  @shawnborton
I think PR is ready to merge all checks have passed.
<img width="1157" alt="Screenshot 2021-11-17 at 1 40 51 PM" src="https://user-images.githubusercontent.com/31244700/142166583-3292f470-9930-4913-8fed-a44d27c14024.png">

[2021-11-17 08:44] MirFahad58 commented on #4678
and I left some messages on U.W need the response

[2021-11-17 09:00] Gonals commented on #6322
Thanks!

[2021-11-17 12:12] michaelhaxhiu commented on #5994
Still on hold!

[2021-11-17 12:14] michaelhaxhiu commented on #4678
@MirFahad58 can you make sure to send any messages concerning your progress in GH? We have more visibility here and there are more eyes to weigh in on your inquiries.

[2021-11-17 12:34] michaelhaxhiu commented on #6316
Hired @PrashantMangukiya ✅ . Let's get this party started (and finished 😄).

[2021-11-17 12:40] kidroca commented on #5620
Hi, I have been tracking this issue for some time and would like to help move it forward

I've investigated everything written so far and I think the most likely cause is a JS error halting code execution from ever reaching `BootSplash.hide()`

Here are some facts that will help us dismiss some other possibilities
1. We were logged in and had a functioning app (The bug happens only after a restart

[2021-11-17 12:48] kidroca commented on #5620
My proposal is let's add the code above and have more clues about what's causing this - if it turns out it reveals the real problem and we fix it - great, if not I would accept a reduced payment (5-10%) and others would still benefit from the information and might solve the ticket

[2021-11-17 13:00] PrashantMangukiya commented on #6316
Thanks @michaelhaxhiu  Submitting pr within hour.

[2021-11-17 13:02] michaelhaxhiu commented on #6287
**Upwork job post:** https://www.upwork.com/jobs/~01a1b16b70fceaf5f1

Going to hire @aswin-s so that they are paid the bug reporting bonus (i.e. if/when this bug is fixed). Looks like @PrashantMangukiya's proposal is the first to review.

[2021-11-17 13:38] kidroca commented on #5620
### Having corrupted data in storage, or partially cleared storage

If for some reason on disk we have `authToken` or the means to successfully `reauthenticate`, but we've lost data regarding `reports`, and the `fetchAllReports` failed in a way that even the Concierge chat is not created
Then yes we could be getting stuck on the splash screen because `App.setSidebarLoaded` is not getting called

I

[2021-11-17 14:12] danieldoglas commented on #6286
Will be working on this today

[2021-11-17 16:02] shawnborton commented on #6121
The current FAB menu animation on desktop fades in and slides in from the left to right, which I think is super weird. I think we should update the FAB animation to match the other desktop styles we're proposing here.

[2021-11-17 16:06] megankelso commented on #6121
sorry I think I'm confused. to clarify, is this the animation you're referring to

https://user-images.githubusercontent.com/49413768/142236703-00c1846e-da9f-4cd4-8d93-331052c80742.mov

?

[2021-11-17 16:09] shawnborton commented on #6121
Yup - I think that animation can be replaced with what we're recommending for other menu popups where the menu itself doesn't change horizontal or vertical position - it just fades in very quickly into place.

[2021-11-17 16:22] parasharrajat commented on #6121
hmm. just a flag away. Let me know your final thoughts.....

[2021-11-17 16:26] #6337 closed

[2021-11-17 16:40] parasharrajat commented on #6121
so What should I do now finally for that? @shawnborton @michelle-thompson

[2021-11-17 16:46] shawnborton commented on #6121
I think whatever desktop animation you are using for popups should be used for the FAB on desktop as well. Let's standardize on the same thing everywhere if possible.

[2021-11-17 16:53] parasharrajat commented on #6121
Ok. Updating the PR now.

[2021-11-17 16:59] developvsn commented on #6060
@dylanexpensify Hey ! can you give an update on our proposal? The situation is kind of unclear here.
Maybe we need to fix/change something in proposal?

[2021-11-17 17:19] parasharrajat commented on #6060
@developvsn According to the Contributor guide, as you are a new contributor, you are not allowed to work on multiple tasks at once. I saw that you are already working on two tasks simultaneously so I would suggest working on the requested changes for those.
This also indicates that you have not gone through the contributor guidelines. Please read those and they will answer most of your questions

[2021-11-17 17:35] parasharrajat commented on #4911
Any thoughts...

[2021-11-17 18:22] parasharrajat commented on #5591
@Julesssss
### Proposal
After research and testing on all platforms, I found that there is glitch in Drawer animation which we can solve by adjusting any of its props. When we switch between slide to permanent drawer type the translation style is not removed either from Screen or sidebar(it's random). I am also able to reproduce this on the web when we switch between mobile and web resolution. I a

[2021-11-17 18:24] chiragsalian commented on #4899
Was focusing on other priorities. Now that my plate is clear i should get back to this soon.

[2021-11-17 18:26] johnmlee101 commented on #4911
If the limitation is only not being able to hard set the long press duration, I say go for #1. It seems like the path of least resistance and we can revisit this if we decide we want to have stronger control over that timing.

[2021-11-17 19:05] johnmlee101 commented on #5952
@ahramay Did you figure out the cause with a proposed solution?

[2021-11-17 19:06] thienlnam commented on #3381
Merged! We addressed Tims comments about the separate build script file.  Now we wait 🤞

[2021-11-17 19:06] johnmlee101 commented on #3981
The PR was merged so this is unblocked now. Should we create a new issue for `Create an issue specifically for a contributor to update the commands.`?  Was that https://github.com/Expensify/App/issues/5059?

[2021-11-17 19:12] mallenexpensify commented on #6058
Still on hold, meeting with Hax went well last week, should be able to get to this no later than end of *next* week

[2021-11-17 19:12] mallenexpensify commented on #5766
Hax and I chatted in NYC, should have an update by end of *next* week, working part time this wee

[2021-11-17 19:30] kidroca commented on #3981
#5059 deals with duplicate requests and can help, but the problem here is not exactly that duplicate requests - but requests with stale data being made
Even if App manages to send just one `Report_UpdateLastRead`, if that one request is still stale in comparison to what we already have on the backend it will cause a bug

#6095 reduces the problem but I don't think it would solve it entirely

I'll

[2021-11-17 19:41] Julesssss commented on #3921
@chiragsalian resolved the conflicts and we've retested and merged the PR. Holding for payment.

[2021-11-17 19:46] stephanieelliott commented on #4910
Doubled to again, to $4,000!

[2021-11-17 19:48] stephanieelliott commented on #5971
Still waiting on reproduction. IMO I think we can stop testing this since it's unreproducible 4w in a row. Will wait for @roryabraham to weigh in to make the final call though!

[2021-11-17 19:50] MirFahad58 commented on #4678
@michaelhaxhiu I requested a bonus milestone for n6-hold on U.W and want to submit the work for the current milestone as I have to match my expenses for this month. Thanks

[2021-11-17 19:52] roryabraham commented on #5971
I think the standard time to close KI's is 6 weeks, right @mvtglobally?

[2021-11-17 19:54] parasharrajat commented on #5159
Awaiting QA to be completed on other PR and then I will forward this one. Thanks for the patience.

[2021-11-17 20:01] Julesssss commented on #5591
Smart fix, the re-render is definitely a change worth making.

Lauren is off for a few days, but please feel free to make a start on the PR if that suits you @parasharrajat.

@laurenreidexpensify please hire @parasharrajat when you are back.

[2021-11-17 20:05] michaelhaxhiu commented on #6032
Had some nice conversations in slack #whatsnext

https://expensify.slack.com/archives/CC7NECV4L/p1636754089338400

Seems like we'll build this but need to do pre-design, and a small design doc most likely.

[2021-11-17 20:08] mallenexpensify commented on #6322
Thanks @isagoico .   @CamilaRivera , can you apply for the Upwork job then comment here once you have?  https://www.upwork.com/jobs/~012a1b6a960b161e24

[2021-11-17 20:19] kadiealexander commented on #5591
Just helping Lauren out, @parasharrajat could you please submit in Upwork so I can get hire you? Thanks!

[2021-11-17 20:24] isagoico commented on #6305
@roryabraham I don't see https://github.com/Expensify/App/pull/6341 was added to the Checklist, should we QA it?

[2021-11-17 20:25] isagoico commented on #5971
Nope, the standard is 3 weeks of no reproduction and then close.

[2021-11-17 20:29] parasharrajat commented on #5591
@kadiealexander Did.

[2021-11-17 20:38] NikkiWines commented on #5620
Thanks for the investigation @thecodingeek (for your investigation earlier) and @kidroca. Given the evasive nature of this issue, I think adding logs to `componentDidMount()` (and `componentDidUpdate()`) seems like a good idea. A minute might be a bit long though, we really shouldn't be seeing the splash screen for more than a couple of seconds.

I'm not opposed to rendering something for `ErrorBo

[2021-11-17 21:22] SofiedeVreese commented on #5922
Not overdue, PR is open.

[2021-11-17 21:22] SofiedeVreese commented on #5870
Not overdue: PR is open.

[2021-11-17 21:42] Jag96 commented on #6305
Hmm, that might be a bug since it was manually cherry-picked. Yes, let's QA https://github.com/Expensify/App/pull/6341 since it fixes https://github.com/Expensify/App/issues/6321

[2021-11-17 21:43] danieldoglas commented on #6122
@bondydaa , you are right. I'll do a review on the flow to check why we do that.

[2021-11-17 21:46] danieldoglas commented on #6286
I don't think we can just change this to two decimal cases.

Jamaican and Kuwaiti Dinar, for example, as 3 decimal cases. @rushatgabhane @isagoico, do you guys think we need to treat them by each currency?

[2021-11-17 21:52] rushatgabhane commented on #6286
Isn't the 3rd decimal ignored in the backend?

[2021-11-17 21:52] rushatgabhane commented on #6286
Isn't the 3rd decimal ignored in the backend?

[2021-11-17 21:56] puneetlath commented on #6202
Ok cool, so we should go ahead and allow people to make proposals on this issue on how to fix it, correct?

[2021-11-17 22:05] NikkiWines opened #6357 "[HOLD] Update App.setSidebarLoaded in SidebarLinks.js to avoid rendering bug"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

cc: @kadiealexander
cc: @thecodingeek as you suggested this [here](https://github.com/Expensify/App/issues/5620#issuecomment-960498522)

Put `onLayout={App.setSidebarLoa

[2021-11-17 22:08] NikkiWines opened #6358 "[HOLD for payment 2021-12-15] Add logs to Expensify.js to help determine source of persistent iOS splash screen bug"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

cc: @kadiealexander
cc: @kidroca as you suggested this [here](https://github.com/Expensify/App/issues/5620#issuecomment-971542286)

Add logs to `Expensify.js` in `compon

[2021-11-17 22:10] roryabraham commented on #4678
PR merged 🎉

[2021-11-17 22:10] NikkiWines commented on #5620
Since there's a couple of suggestions in the works here, I've broken down @thecodingeek and @kidroca's suggestions into two separate issues. This issue will be going on hold in the meantime.

The aforementioned issues are [here](https://github.com/Expensify/App/issues/6357) and [here](https://github.com/Expensify/App/issues/6358) and will have associated UpWork jobs momentarily.

@kidroca, @kadiea

[2021-11-17 22:26] CamilaRivera commented on #6322
@mallenexpensify I applied for the Upwork job. Let me know if you can see it. Thanks!

[2021-11-17 22:27] roryabraham commented on #5971
Oh, then ya let's close this out.

[2021-11-17 22:27] #5971 closed

[2021-11-17 22:30] mallenexpensify commented on #6322
Hired, @CamilaRivera , let me know when you've accepted the offer and I'll pay

[2021-11-17 22:38] NikkiWines commented on #5637
Asked QA just to be sure this issue is still occurring, will update when they report back.

From @sidferreira's link [here](https://github.com/Expensify/App/issues/5637#issuecomment-961570108) it does look like this is a known bug with `react-native-modal` and not something introduced in our own code.

@marcaaron not sure if we have a process for regressions that aren't introduced by us, but by ex

[2021-11-17 22:43] kidroca commented on #6358
I agree with the terms

Just to be clear the intent is to add one log about a minute after app launch that checks the splash screen status using the library api

Half a minute can be fine as well, we just need to make sure we're waiting enough time and post the log - if we wait less it could have just been a slow startup/request etc...

If we add the logging in component did update/mount we might

[2021-11-17 22:51] kidroca commented on #5620
Any luck finding logs starting with

---

The reason we render nothing for the error boundary is we didn't know what to render
We only added it to capture and log errors but it could be handy at least for QA to let them now the app failed at startup

[2021-11-17 22:51] CamilaRivera commented on #6322
@mallenexpensify I accepted the offer. Thanks!

[2021-11-17 23:12] kursat commented on #6155
Hey @thienlnam, we can solve this in two ways.

### **1. We continue to keep draftMessage as string**

In this scenario, user will see the original message, after setting text area to empty string and refreshing the page.

**Steps:**

1. We should update `debouncedSaveDraft`function to use its parameter. Right now it doesn't use `newDraft` parameter we send from `updateDraft`.

[code]
2. We should

[2021-11-17 23:31] mallenexpensify commented on #6322
Paid @CamilaRivera , thanks for the help!

[2021-11-17 23:31] #6322 closed

[2021-11-17 23:57] sidferreira commented on #5637
@NikkiWines just a reminder that, under the hood, `react-native-modal` uses `{modal} = 'react-native'`

[2021-11-18 00:46] roryabraham commented on #6133
Just tested this out and I think the "Spanish Curse" is fixed 🇪🇸 🎉

[2021-11-18 00:56] chiragsalian commented on #6233
PR in review. I removed it off HOLD this week since we had a non critical PR merge freeze last week.

[2021-11-18 00:57] isagoico commented on #6305
@Jag96 Looks like something is wrong with the Android build. It has been a while and we don't see 1.1.15-8 build to test https://github.com/Expensify/App/pull/6341 😟

[2021-11-18 01:16] Jag96 commented on #6305
@isagoico I just checked and it looks like the Android build is still in review, hopefully it will be available soon. I'll check tomorrow morning and if it's still in review I'll reach out to confirm there isn't anything wrong w/ the build.

[2021-11-18 01:18] robertjchen commented on #5059
The other approaches are interesting 🤔 Do we need a high-level decision on which one to take, or is it still under discussion?

[2021-11-18 01:18] isagoico commented on #6305
On another note, the retest was a pass in Web, Desktop and iOS. We'll be on standby for the Android build.

[2021-11-18 02:41] isagoico opened #6359 "[HOLD for payment 2021-12-15] Search - Make users appear first in the result list over group chats or rooms"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with an account that it's in a workspace and has rooms available
2. Search for a user

## Expected Result:
User should be prioritized over

[2021-11-18 04:52] Christinadobrzyn commented on #5894
Raised price to $1000 - still waiting on proposals

[2021-11-18 05:05] parasharrajat commented on #6155
Oops. My proposal got removed somehow... so posting it again.
### Proposal
We need to discuss this first. This issue happens due to the reason that we update the draft message as user types and the existence of a draft message for action determines that a message is being edited.
So When the user clears a message, the related draft will be set to `' '` empty string which is equal to the report is

[2021-11-18 05:14] parasharrajat commented on #6202
https://expensify.slack.com/archives/C01GTK53T8Q/p1636042630485900?thread_ts=1635499712.244400&cid=C01GTK53T8Q

[2021-11-18 05:57] parasharrajat commented on #6359
### Proposal
1. To do this we have to set the `prioritizeDefaultRoomsInSearch: false` for 	`getSearchOptions`.
https://github.com/Expensify/App/blob/d2d17181727f2a4d264618986438df2733f107d0/src/libs/OptionsListUtils.js#L581

[2021-11-18 06:03] parasharrajat commented on #6301
Looks like this needs Design @Expensify/design

[2021-11-18 06:34] aswin-s commented on #5162
Is this one abandoned? @mallenexpensify

[2021-11-18 06:36] aswin-s commented on #5193
@NicMendonca Awaiting proposal acceptance in upwork.

[2021-11-18 06:37] kursat commented on #6155
@parasharrajat, I have seen your proposal, too. Looks like mentioning #6283 replaced your proposal with that link.

Looks like Step 4 on my proposal required for your proposal too, in order not to cause another bug.

[2021-11-18 09:09] dylanexpensify commented on #5142
not overdue

[2021-11-18 12:51] mountiny commented on #6359
I think Expected behaviour might be more complicated, I guess we should distinguish between the name and description.

Let's consider scenario where we search `an` and then we would want the `#announce` roome to be first before any person. Here in this case the `#announce` room is should because of the limi`ted` in the description.

We should first make sure we have the expected behaviour thought

[2021-11-18 13:19] laurenreidexpensify commented on #5869
Oh gosh sorry this got buried when I was OOO - adding to Upwork now

[2021-11-18 13:28] laurenreidexpensify commented on #5869
https://www.upwork.com/jobs/~01228c64f5fadb4c43

[2021-11-18 13:38] laurenreidexpensify commented on #5079
@iwiznia bump for response ty

[2021-11-18 13:39] sidferreira commented on #5869
@laurenreidexpensify I believe https://github.com/Expensify/App/pull/6271 address it...

[2021-11-18 14:27] michaelhaxhiu opened #6360 "Hax & Ted tester GH @reported by: michaelhaxhiu"
123

[2021-11-18 14:28] michaelhaxhiu commented on #6360
Plz ignore

[2021-11-18 14:41] twisterdotcom commented on #6360
Ignore

[2021-11-18 14:43] isagoico commented on #6305
Morning! I checked Android build and it's still showing build 1.1.15-1 in playstore 😟 Will check again after some time has passed.

[2021-11-18 14:47] michaelhaxhiu opened #6361 "# 2 Hax & Ted tester GH @reported by: michaelhaxhiu"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
 please ignore this GH

[2021-11-18 14:57] MirFahad58 commented on #4678
@michaelhaxhiu  as PR is merged now. I need response for above comment. Please reply

[2021-11-18 15:05] akshayasalvi commented on #6285
@tgolen Yeah. On it.

[2021-11-18 15:10] akshayasalvi commented on #5571
Done, @mallenexpensify

[2021-11-18 15:13] mateusbra commented on #6216
@mallenexpensify when do you expect this job to be payed in UpWork?

[2021-11-18 15:18] pecanoro commented on #6216
@mateusbra We wait 7 days to check out for regressions. It is mentioned in the contributor's [guidelines](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#payment-for-contributions).

Anyways, going to reopen since I think Botify closed it too fast and we still need to handle payment. cc/ @jboniface

[2021-11-18 15:33] parasharrajat commented on #5869
I checked the PR and the root cause of this issue is gone via wrapping the icon in View thus #6271 indirectly solves this and thus we can close this as soon as that PR is merged or let QA run it through test cycles and it will be automatically closed.

[2021-11-18 16:39] puneetlath commented on #6202
Ahh, ok understood. Thanks for the clarification. I thought you were saying that your PR _didn't_ fix it.

Ok, so just to make sure I 100% understand. PR https://github.com/Expensify/App/pull/6203 has been confirmed to have fixed the issue reported here?

[2021-11-18 16:52] parasharrajat commented on #6202
Not sure yet but in the StagingDeploy issue QA is :heavy_check_mark:  and I added necessary QA steps for both issues.

[2021-11-18 16:53] puneetlath commented on #6175
@MitchExpensify can you add a $250 bonus for @parasharrajat when paying this issue out since his PR also fixed https://github.com/Expensify/App/issues/6202. Thanks!

[2021-11-18 16:54] puneetlath commented on #6202
Ok cool, thanks for the clarifications. I'll comment on the other issue to add the payment for this issue as part of that one.

And thanks for your proposal @raajnadar!

[2021-11-18 16:57] stephanieelliott commented on #5987
I'll hold on this til we agree on an updated strategy and proposal. @johnmlee101 what do you think of the above?

[2021-11-18 17:22] sidferreira commented on #5869
@parasharrajat So I fixed this one? When I saw this happening I though it was my fault 😄

@laurenreidexpensify if it fixes, do I get paid?

[2021-11-18 17:30] parasharrajat commented on #5869
In my case, it depends if you had to do some extra work. But seems you just came to know today that you fixed it eventually.. :sweat_smile:

[2021-11-18 17:31] Jag96 commented on #6305
Just checked, looks like it's still waiting on Google to review. There isn't much we can do here so hopefully it finishes soon!

[2021-11-18 17:32] laurenreidexpensify commented on #5869
@sidferreira you'll get paid for the scope of #6271 - I don't see any additional code pushed directly connected to this issue knowingly, so we would likely close this without further reimbursement.

[2021-11-18 17:34] johnmlee101 commented on #5987
I like the proposal! Assigning @kidroca

[2021-11-18 17:45] sidferreira commented on #5869
@laurenreidexpensify well, worth trying :D Weird that I didn't see this issue (even tho it was created with #5783 which I fixed)

[2021-11-18 17:46] deetergp commented on #6154
Yes, that's correct. They should be able to either just `<` back from the end of the number, or highlight any grouping of numbers and delete them with a single keypress.

[2021-11-18 18:13] michaelhaxhiu commented on #4678
@MirFahad58

We'll pay the remaining amount due after 7 days of no regressions.

Let's do a quick buddy check on the outstanding payment that's owed for your work, as I'd like to make sure it's fair!

1. $500 for completing the job (The job was initially $250, but we increased that to $500 due to increase scope - [context](https://github.com/Expensify/App/issues/4678#issuecomment-944268717))
2. $2

[2021-11-18 18:23] arielgreen commented on #6131
Pending hold lift.

[2021-11-18 18:23] MirFahad58 commented on #4678
@michaelhaxhiu let men correct, the 250 that was paid,  was not of n6-hold bonus it was half of $500 from jobs. Thanks
that's why i added a milestone for n6-hold

<img width="763" alt="Screenshot 2021-11-18 at 11 21 01 PM" src="https://user-images.githubusercontent.com/31244700/142473986-65cb5ba4-3272-41c6-82a4-f6a0a90f8159.png">

[2021-11-18 18:30] michaelhaxhiu commented on #4678
Ok so it sounds like you are saying:

1. The $250 that was already paid was for your initial work ✅
2. The $250 n6 hold bonus hasn't been sent yet, and you are requesting that be sent today
3. Finally, we owe $250 for the increased scope of work, which will be paid in 6 days.

Is that right?

[2021-11-18 18:31] MirFahad58 commented on #4678
right

[2021-11-18 18:37] parasharrajat commented on #6131
I am reviewing the PR, I have found one issue and I will let you know @Julesssss  when this is ready for final review and possibly for merge. [See More](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) [extended for C+]

[2021-11-18 18:41] michaelhaxhiu commented on #4678
Ok got it. I think that is fine, I'll issue the $250 payment now.

Then, you'll receive the remaining $250 on November 25.

[2021-11-18 18:43] eVoloshchak commented on #4910
I was able to reproduce this issue using HP Chromebook 11 G6 and OnePlus 6

We use @react-native-community/netinfo to retrieve information abount current network state. For browser this library uses  [Network Information API ](https://developer.mozilla.org/en-US/docs/Web/API/Network_Information_API).
We are iterested in [this](https://github.com/react-native-netinfo/react-native-netinfo/blob/v5.9.

[2021-11-18 18:43] MirFahad58 commented on #4678
yup thanks

[2021-11-18 19:10] danieldoglas commented on #3797
Backend approved. Waiting for deploy to test new.E on prod and send that PR.

[2021-11-18 19:11] aldo-expensify commented on #6309
Resolving conflicts, after that it should be ready for review.

[2021-11-18 19:12] aldo-expensify commented on #5841
Resolving conflicts in PR, after that it should be ready for review.

[2021-11-18 19:12] aldo-expensify commented on #5841
this looks good in my opinion, close to what we are doing in the PR, except for the `Apt number` field. For now, that will remain in the same field with the street name/number.

[2021-11-18 19:21] parasharrajat commented on #6154
This issue and https://github.com/Expensify/App/issues/6285 are correlated. And the solution of other will directly affect this issue. So I suggest holding it until we are done with the other one which already has some proposals.

[2021-11-18 19:27] thienlnam commented on #6155
Thank you @kursat and @parasharrajat, this is a little difficult since I don't see your original proposal.  However, since @kursat did a great investigation into the issue and additionally provided extra details needed for implementation I will continue to have them implement the changes (the first proposal of continuing to keep draftMessage as string).

Sorry about that @parasharrajat, we will st

[2021-11-18 19:28] thienlnam commented on #6155
@michaelhaxhiu Could you please hire @kursat in Upwork?

[2021-11-18 19:40] luacmartins commented on #5944
PR merged 23 days ago. Closing issue.

[2021-11-18 19:40] #5944 closed

[2021-11-18 19:48] arielgreen commented on #5873
PR still in progress

[2021-11-18 19:50] Julesssss commented on #5591
Merged, awaiting payment.

[2021-11-18 20:16] thienlnam opened #6364 "Builds are breaking in Windows (Unable to install dependencies)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Remove post-install in replacement of a dedicated branch on Expensify/RN-Web
Slack thread here: https://expensify.slack.com/archives/C01GTK53T8Q/p1636047163494200

The p

[2021-11-18 20:27] kidroca commented on #3381
Hey guys,
I was working on proposing a better way to integrate the change to Expensify/App here: https://github.com/Expensify/App/pull/6363

But once I got to test this on **mobile web** I've spotted what seems to be a bug with scrolling
So I switched to my mac and pulled latest `main` to try the changes there and I would again see this bug - Opening a chat shows blank content until a swipe gestur

[2021-11-18 20:57] kadiealexander commented on #6358
https://www.upwork.com/ab/applicants/1461438341487489024/suggested

[2021-11-18 20:59] kidroca commented on #5191
Hey @stephanieelliott according to the docs I should be getting a bonus for reporting the issue

https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#proposing-a-job-that-expensify-hasnt-posted

If an external contributor other than yourself is hired to work on the issue, you will also be hired for the same job in Upwork. No additional work is needed. If the issue is fixed internally, a dedi

[2021-11-18 21:03] kadiealexander commented on #6358
@puneet for context, @kidroca made this proposal [here](https://github.com/Expensify/App/issues/5620#issuecomment-971542286), which we created a new issue for as discussed [here](https://expensify.slack.com/archives/C01SKUP7QR0/p1637181386321300):

[2021-11-18 21:13] justsj11 commented on #5894
How can I get access to your stack overflow? I have been looking to get into your codebase/community, but is unable to do so, as they require a expensify email everywhere :(

[2021-11-18 21:23] kadiealexander commented on #6357
https://www.upwork.com/jobs/~01a7267965ce03f7cf

[2021-11-18 21:25] trjExpensify commented on #6154
Cool, sounds good @parasharrajat. I'll pop this on hold and weekly for the time being.

[2021-11-18 21:28] mallenexpensify commented on #5637
@NikkiWines if you don't get the below answered, want to raise in #contributor-management for more 👀? (fwiw, I don't know of a process)

[2021-11-18 21:30] kidroca commented on #5059
I think we're still discussing

Here is a summary of the problems

1. Offline: Duplicate requests to fetch report actions are queued each time we switch chats while we're offline
2. Expired Token: when we launch the app with expired token ~30 requests are made most of them requiring auth token and getting rejected. Then the app reauthenticates automatically and repeats the 30 requests with the fre

[2021-11-18 21:32] mallenexpensify commented on #6301
I _think_ you're right @parasharrajat. Let me assign someone for 👀 and review to see what their initial thoughts, pointers, feedback are.

[2021-11-18 21:42] mallenexpensify commented on #5162
Thanks for the ping @aswin-s , I just hired you in Upwork!

and

@tgolen can you confirm we should create another issue for "creating thumbnails" then create an Upwork job for that, right?

[2021-11-18 21:43] kadiealexander commented on #6357
@Beamanator, for context, this is a potential fix pitched by @thecodingeek for https://github.com/Expensify/App/issues/5620. We are trialling a few fixes here, and offering the full price for that issue to the user who's fix works.

@thecodingeek's proposal:

[2021-11-18 21:47] mallenexpensify commented on #5193
Hired @aswin-s in Upwork, apologies for the delay, the whole company was out of the office all last week and we're still catching up.

[2021-11-18 21:51] mallenexpensify commented on #5571
Hired @akshayasalvi in Upwork, can you confirm here once the offer had been accepted and I'll pay?

[2021-11-18 21:54] mallenexpensify commented on #4910
Thanks @eVoloshchak .  @marcaaron is out of the office til 11/22, I'm going to see if I can get another CME (Contributor Manager Engineer) to review

[2021-11-18 21:58] puneetlath commented on #5922
@SofiedeVreese the PR has been merged. Let's make sure to add the company offsite bonus for @Santhosh-Sellavel when you pay this one out. Thanks!

[2021-11-18 22:02] SofiedeVreese commented on #5922
This job was already [paid out ](https://github.com/Expensify/App/issues/5922#issuecomment-954318857 )as we closed it due to a suspected double-up. But I'll pay out the bonus amount 7 days from successful deploy!

[2021-11-18 22:16] Julesssss commented on #4910
Nice work @eVoloshchak.

My only concern is that there might be a valid reason for `isConnected` to default to false in this case. However, the only info I could find on this was [an unanswered question](https://github.com/react-native-netinfo/react-native-netinfo/issues/450#issue-817789141) from our own @marcaaron.

- I think it is safe to assume that returning the `isConnected` state is okay her

[2021-11-18 22:22] Julesssss commented on #4910
Actually, I think it's unlikely that they will notice our question. As PRs _seem_ to be more active, let's go ahead and try to submit the change as a PR on the original library. If they ignore or reject the change then we can use your fork instead.

Does that sound okay to you @eVoloshchak? If so, I'm happy to approve the proposal.

[2021-11-18 22:42] mallenexpensify commented on #5894
Hi @justsj11 , Stack Overflow is currently only accessible to internal employees.  Have you reviewed https://github.com/Expensify/App/blob/main/CONTRIBUTING.md and https://github.com/Expensify/App/blob/main/README.md ?  Those should help answer many questions. Also, if you haven't done so yet, you can request access to our #expensify-open-source Slack channel by emailing contributors@expensify.com

[2021-11-18 23:07] jboniface commented on #5974
I hired Alexandru @developvsn

[2021-11-18 23:14] kidroca commented on #3981
It was significantly harder to recreate the issue this time, but I still managed to recreated it 2 times (been at at for an hour 😄)

As you can see the only `Report_UpdateLastRead` calls are the one from before I refresh the page
Depending on the order they are processed by the backend an incorrect message is being set as last read - flagging 2 of my own messages as unread

#### Following steps to

[2021-11-18 23:59] tgolen commented on #5620
I looked at the logs for that, and it looks like there is a fair amount of errors getting caught:

![image](https://user-images.githubusercontent.com/1228807/142515452-d2f67d2b-2803-42c5-aae3-c0bbd4d1eee1.png)
![image](https://user-images.githubusercontent.com/1228807/142515516-9e810e01-c414-4ccf-b730-3a12c8d636f8.png)

[2021-11-19 00:00] tgolen commented on #5620
I wonder if we should be creating BugBot GH issues for these (cc @iwiznia). It seems like any error that would get caught by this is something that could/should be investigated and fixed.

[2021-11-19 00:08] Luke9389 commented on #5869
Ok, so I think we can just go ahead and close this then. @laurenreidexpensify do you agree?

[2021-11-19 00:09] tgolen commented on #5620
FWIW, I experience this issue a lot, and when I filtered those logs for only my email address, I didn't get any logs attached to my account in the past 30 days. So, the error boundary is working, but maybe for this problem with the splash screen, it _could_ mean that it's unrelated to an uncaught error (unless the logging is wrong for some reason or there is another reason why my errors aren't log

[2021-11-19 00:15] tgolen commented on #6301
I would like to push the pause button on this for a bit. I think it's an interesting feature request, but I think we should spend a little more time determining if it's a feature that we WANT right now or not. I would like to see whoever proposed it (I think @parasharrajat) craft a problem solution statement for this. I am not sure what problem it solves, so therefore, I am not yet on board with t

[2021-11-19 00:16] tgolen commented on #6301
(let me know if you're familiar with how we do problem/solution statements or not)

[2021-11-19 00:17] tgolen commented on #5162
Yes, thumbnails should be a separate GH and upwork job. We don't have a solution proposal for thumbnails I don't think.

[2021-11-19 00:19] parasharrajat commented on #6301
I definitely don't know your problem solution technique 😀 but I can try to create a problem statement.

[2021-11-19 00:22] tgolen commented on #6301
Haha, sure! So this is the template that we use for our internal issue repo:

[code]

Some suggestions to help you out:
- Good problems don't ever mention the solution
- Framing things from the customer perspective is most helpful
- A good forumla to follow for the problem is "When X happens, it leads to Y, which is important to solve because of Z"

[2021-11-19 00:26] sidferreira commented on #5894
@roryabraham @Christinadobrzyn so, after further investigation, reading https://blog.opendigerati.com/the-eccentric-ways-of-ios-safari-with-the-keyboard-b5aa3f34228d, lots of stack overvflow, finding out that it is NOT the app, I actually found a workaround.

The solution includes using pure javascript to modify the browser behavior.
Basically:
[code]

this code would:
a) just prevent scrolling wh

[2021-11-19 00:34] NikkiWines commented on #5620
Hahaha @tgolen beat me to it but yes, so there are instances of logs beginning with `[alrt] NewExpensify crash caught by error boundary` in the last month but I'm not seeing anything tying it directly to this bug.

For one, I experienced this bug this morning and there are no logs beginning with that line associated with my email in the last 30 days. Joanie reported experiencing this bug in mid-oc

[2021-11-19 01:06] sidferreira commented on #5637
@NikkiWines @tgolen I decided to do some extra tests here, even creating a sandbox project to test it out ( https://github.com/sidferreira/testInputModal ) and even in that simple project the issue happens the same way.

Actually, in that sample I even had to disable `autoFocus` on input to make it work, and still needed the timeout to make it work.

So, I'm still propose https://github.com/Expens

[2021-11-19 01:34] roryabraham commented on #6305
Shared the Android APK for `1.1.15-8` in [slack](https://expensify.slack.com/archives/C9YU7BX5M/p1637248349126300).

[2021-11-19 01:46] roryabraham commented on #5894
@sidferreira So to clarify your proposal, when the main chat composer is focused on iOS Safari, then we'll disable scrolling on the entire document. Then we'll re-enable it when the composer is blurred. Is that correct?

If so, I'd say that's unfortunately not an acceptable solution, but could we instead disable scrolling on the composer itself?

[2021-11-19 01:54] Julesssss commented on #4910
Okay, it sounds like we've got the go-ahead to submit a PR! The authors have specifically asked that we include some release notes that explain the change so that other users are aware that the behavior of `NetInfoStateType.unknown` has changed.

Are you happy to submit a few sentences along with the PR @eVoloshchak? We can help with this too if necessary.

[2021-11-19 01:55] sidferreira commented on #5894
@roryabraham it disables the scroll on the window it self. Inner components, with scroll, should still work. Safari adds a ~300px area at the bottom of the document, which we can barely identify.

I could try to control the amount of scroll that the user does, and if it generates the blank space, I can smoothly scroll back... Basically code the behaviour we expected to have. This solution requires

[2021-11-19 02:02] mvtglobally commented on #6305
Its a Pass!
![Screenshot_20211118-205540](https://user-images.githubusercontent.com/43995119/142552058-17d85889-e7f5-4b99-9c6c-22883701b8c9.png)
![Screenshot_20211118-205509](https://user-images.githubusercontent.com/43995119/142552068-584dda91-46e9-4913-924d-bb144a5a479d.png)

[2021-11-19 02:02] roryabraham commented on #5894
I see, thanks for clarifying.

I think that would be ideal to maintain a consistent experience, but it's not a hard requirement.

One other question I have is: is this problem universal with react-native-web? If we can reproduce the issue consistently with a minimal expo snack, I wonder if the maintainer of react-native-web would be open to implementing the solution directly in react-native-web. L

[2021-11-19 02:04] sidferreira commented on #6358
@NikkiWines when discussing this issue in Slack with @tgolen I suggested make a build with Bugsnag ( www.bugsnag.com ) that is a great tool for React Native. It has a `leaveBreadcrumb` functionality that allows one to add "logs" that will show up only when an error is reported.

We can basically add 2 errors:
- One to when the splash is properly hidden
- one ~1 minute after what should be reported

[2021-11-19 02:07] sidferreira commented on #6357
@NikkiWines

this is what needs to be done?

A debugging fallback (not to mention https://github.com/Expensify/App/issues/6358#issuecomment-973659678 ) is to use a timeout to force the splash to hide, so we can see what's behind it. If it's all blank, or what.

And to add to the comment above, there are basically 3 items that affect the hideSplash ( https://expensify.slack.com/archives/C01GTK53T8Q

[2021-11-19 02:08] sidferreira commented on #5894
@roryabraham I manage to cause the issue it with `react-boilerplate`

[2021-11-19 02:19] roryabraham commented on #6305
What's the story with https://github.com/Expensify/App/pull/6115 ? Did we miss that one in QA?

[2021-11-19 02:21] roryabraham commented on #6305
Also @ogumen what's the current status of in-sprint Accessibility testing?

[2021-11-19 02:22] sidferreira commented on #5620
@tgolen @NikkiWines Just mentioning my previous effort and interest in this issue. I'm up to pay for bugsnag for a couple of months until the investigation finishes.

[Bugsnag breadcrumbs](https://docs.bugsnag.com/platforms/javascript/customizing-breadcrumbs/)

https://github.com/sidferreira/App (a fork with bugsnag I did couple of weeks ago)

https://github.com/Expensify/App/issues/6358#issuecomm

[2021-11-19 02:25] isagoico commented on #6305
My bad, it was a pass. Just checked it off, I keep missing checkboxes in this new format 🤦

[2021-11-19 02:27] SofiedeVreese commented on #5870
PR merged, waiting for deploy so I can add the payment hold.

[2021-11-19 02:28] SofiedeVreese commented on #5722
Waiting for deploy so I can add in the payment hold 👍

[2021-11-19 02:55] SofiedeVreese commented on #6204
PR merged, waiting for deploy so I can add the payment hold.

[2021-11-19 03:07] PrashantMangukiya commented on #6361
@michaelhaxhiu  can you please add brief description, so I can reproduce it.

[2021-11-19 03:11] eVoloshchak commented on #4910
1) We are using version 5.9.10, while the latest is 7.1.2. Do i submit a PR and we migrate to the latest version?
2) I'm leaving my country in a couple of hours and won't have access to computer till november 27. I'll have a phone, but that is not sufficient to test the changes. Could this wait or Is this critical? If that is an issue, I could try and find one to rent/buy

[2021-11-19 05:26] sidferreira commented on #6096
@mallenexpensify I noticed the following issue:

If you look close, you will see that the top part of the emoji is cut off.

I believe the solution is the same as the one for this issue: tweak lineHeight and height a bit.

Should I create an issue for this?
If so, can I propose the fix as well?

Or maybe I just fix it in this PR and add a little extra (as it is out of scope 😉 )?

<img width="553"

[2021-11-19 05:57] aswin-s commented on #5894
The is indeed an iOS quirk like @sidferreira mentioned as the scroll is outside the html element when virtual keyboard is opened. So there is no way to prevent the scroll from code. Browser simply changes the inset of the content to position the focused input with in the viewable area. Surprised to see this bug even on sites like https://bing.com.

However we could mitigate this issue by dismissin

[2021-11-19 07:36] roryabraham commented on #5894
Thanks for the discussion @sidferreira @aswin-s!

I was skeptical of this approach, but it actually works pretty well on duckduckgo.com. One minor correction though – we'd only want to dismiss the virtual keyboard if someone taps on the view wrapping the TextInput I believe. We still want the main `ReportActionsView` to be scrollable while the virtual keyboard is open. Also this approach fails if

[2021-11-19 08:42] akshayasalvi commented on #5571
Accepted :)

[2021-11-19 11:46] michaelhaxhiu commented on #6361
@PrashantMangukiya sorry for the confusion 😄  Ted and I are working on automating something, and this is just for testing purposes. Nothing to reproduce here :)

[2021-11-19 13:19] laurenreidexpensify commented on #5869
Let's go with @parasharrajat's suggestion

i've removed `help wanted` and placed it on hold and we can wait for 6271 to be merged and take it from there

[2021-11-19 13:21] laurenreidexpensify commented on #5591
Thanks Julesbot 🤖

[2021-11-19 13:30] laurenreidexpensify commented on #6069
Sorry Rajat, missed this - you're hired in Upwork now

[2021-11-19 13:31] michaelhaxhiu commented on #6155
Yep! @kursat can you please apply for the Upwork job here - https://www.upwork.com/jobs/~013a8cf464cdc1cf31 ?

[2021-11-19 13:31] michaelhaxhiu commented on #6155
Also @parasharrajat can you apply for this same upwork job, so we can disburse payment for reporting the bug when it's implemented?

[2021-11-19 13:34] parasharrajat commented on #6155
Did. @michaelhaxhiu

[2021-11-19 13:45] kursat commented on #6155
@michaelhaxhiu, I've applied too.

[2021-11-19 13:51] ogumen commented on #6305
Hi @roryabraham, actively working on it today

[2021-11-19 14:11] michaelhaxhiu commented on #6155
Hired both contributors 👍 .

[2021-11-19 14:23] kidroca commented on #5620
@tgolen @NikkiWines
Regarding the following

If we have logs that would produce GH issues we should disable sending them from DEV, similarly to how we don't send performance traces from DEV

My log `Some error occurred inside render...` is an `Error` I intentionally throw from Report Screen `render`
I'm not sure why the information is cut short here: `errorInfo: '[componentStack: '` - I definitely

[2021-11-19 14:35] sidferreira commented on #5620
@kidroca I think we can keep both at the same time, and if by any reason some part can't we can give priority to `Log` for sure. Account holding wise, my initial proposal was to @tgolen use a custom build for a while. If we send to production, I totally agree about transferring the account ownership. In Slack I proposed sharing access to Expensify team members, but the ownership makes more sense i

[2021-11-19 15:02] NikkiWines commented on #6357
@sidferreira, yes that was the @thecodingeek's suggestion since his investigation [here](https://github.com/Expensify/App/issues/5620#issuecomment-960498522) revealed that if `recentReports` was `[]` we could reproduce the persistent splash screen issue.

We will also be introducing the logic mentioned in #6358, as it's unclear if the modifications to where `App.setSidebarLoaded` lives will resolv

[2021-11-19 15:04] NikkiWines commented on #6358
@sidferreira, that looks like a good discussion.

Bugsnag certainly looks like a helpful option but to implement it we'll likely need to have a larger discussion with the rest of the team, especially given that we already have our own existing logging solution with Log.

[2021-11-19 15:21] NikkiWines commented on #5620
BugBot should only create issues from staging or production logs.

While BugSnag does seem helpful, I agree with @kidroca that implementing it would require a larger, separate conversation given that we have an existing logging solution. cc: @tgolen, not sure if you have any strong opinion on this.

[2021-11-19 15:22] kursat commented on #6155
I've created PR. Sorry it took that long, first time working on open source project. Still figuring out but I think i did it :muscle:

[2021-11-19 15:25] sidferreira commented on #6357
@NikkiWines Exactly... right now we know it happens. maybe create an investigation branch to check it out and apply the above change for now just to "keep things moving"...

[2021-11-19 15:30] sidferreira commented on #6358
@NikkiWines I see it as a temporary use... being removed once we find out what's wrong. Also, as a freelancer I have no access to the logs, so it is impossible to me have access to logs to try to propose a solution.

And of course we could use a TestFlight build focusing some users ( aka @tgolen ) that have this issue more frequently, not having this specific build "in the wild".

Also I'm not sur

[2021-11-19 15:40] michaelhaxhiu commented on #6155
No problem, contributors can work at their own pace. We just ask for daily updates of progress (as mentioned [here](https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#begin-coding-your-solution-in-a-pull-request) in the Contributing to Expensify guidelines)!

Thanks for the quick progress!

I don't see a PR linked to this GH yet, is this it? https://github.com/Expensify/App/pull/6367

[2021-11-19 15:40] michaelhaxhiu commented on #6155
ah wait, you just linked it! nevermind :)

[2021-11-19 15:43] kursat commented on #6155
Yeah I write wrong issue id, sorry.

Btw while I am recording my screen, I found another bug that I introduced. Fixed it but code will be different (just 1 line) than my proposal. Is this a problem?

[2021-11-19 15:58] michaelhaxhiu commented on #6155
I would highlight that on the PR and we'll address it there 👍

[2021-11-19 16:34] Santhosh-Sellavel commented on #6059
@kevinksullivan

I think maybe you used iPhone for hotspot sharing. When you turn off the cellular data internet hotspot also turns off on iPhone. I verified using iPhone not able to reproduce using iPhone as a hotspot device.

Try with android you will be able to reproduce! Attached a video [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1637339317339300?thread_ts=1634766280.030400&cid=C

[2021-11-19 16:42] tgolen commented on #5894
Out of those options, I like them in this order: 2, 1, 3. I think it would be good for us to explore a proposal for 2 so we can better understand what the complexity would look like, and ideally, working it into react-native-web would be great!

[2021-11-19 16:56] tgolen commented on #5637
OK, this is sort of where I am landing on this issue... I'd love to get your thoughts on this.

I am not sure that having a workaround in our code is better than just leaving the issue the way that it is. I don't think we have a clear understanding of just how bad it makes the UX for users, and if we put the workaround in the code, it definitely leaves the temptation for other developers to copy i

[2021-11-19 17:06] sidferreira commented on #5894
@roryabraham @tgolen I believe it is possible to make it as a separate js, in a way it can be exported and reused in other projects. And, as always, keeping it as vanilla as possible.

[2021-11-19 17:28] danieldoglas commented on #6286
Ok.

So looking through the code, I got this method called `Mobile_GetConstants`, sending the parameter `currencyList`, will return all the accepted currencies from Expensify.

That will have a JSON array with the name, symbol and some other properties. Some of them has a `decimal: 0` property.

I guess we could add the decimals for all of the accepted currencies, with the amount of decimals accep

[2021-11-19 17:59] twisterdotcom commented on #6360
Thanks to everybody we notified here. We did it! https://zapier.com/app/editor/138816166/nodes/138950682.

[2021-11-19 17:59] #6360 closed

[2021-11-19 18:07] rushatgabhane commented on #6286
Yeah the array of currencies is known and kinda constant. So adding `decimal` property to all is fine. Looks great 👍

[2021-11-19 18:14] roryabraham commented on #5894
Okay, sounds good. @sidferreira let's get you hired on Upwork so you can get started working on solution `2` above, and get back to us! @Christinadobrzyn please hire @sidferreira on Upwork.

[2021-11-19 18:33] kidroca commented on #5987
ATM There's no upwork job available for this ticket

I can work on this issue as part of my other ticket: https://github.com/Expensify/App/pull/4908#issuecomment-967139238 because the proposal here: https://github.com/Expensify/App/issues/5987#issuecomment-970510814 would unblock me

[2021-11-19 18:40] kidroca commented on #4433
I still think it's worth investigating the effects of this proposal, and I'm planning to spent some time on it when I'm done with other tasks on my list

[2021-11-19 19:41] luacmartins commented on #6116
Haven't made any progress here yet. I will try to look into it next week.

[2021-11-19 19:59] NikkiWines commented on #5637
I agree, closing sounds good for now and I'm also in support of paying some amount for the time + effort spent investigating this issue. @laurenreidexpensify thoughts?

[2021-11-19 20:03] NikkiWines commented on #6357
Hmm, I'm not sure I share the concern.

If we implement this change and it fixes the root issue then great, we've identified the cause and the problem is solved.

If it doesn't fix the solution, we've still solved a rendering issue that occurs when `recentReports` is `[]` and we now know not to further pursue this line of inquiry when investigating the persistent splash screen issue.

I'm not oppo

[2021-11-19 20:05] stephanieelliott commented on #4910
Thanks @eVoloshchak! Hired you on the job in Upwork.

This issue is non-critical, I think this is fine to wait and test changes once you return. Thanks!

[2021-11-19 20:07] aswin-s commented on #5193
While implementing the proposed solution I've hit a road block on Android platform. Right now dimensions of a remote image is calculated on the platform using the `getSize` static method on the Image component. It works just as expected on the iOS platform and we get the actual image width and height in the response. But on Android the story is completely different. On Android, ReactNative makes u

[2021-11-19 20:07] sidferreira commented on #6357
@NikkiWines what I mean is not being able to find out what exactly was the rood cause (what makes this specific scenario happens only in a handful or people only on ios)

[2021-11-19 20:09] stephanieelliott commented on #5987
Thanks @kidroca, job is on Upwork here: https://www.upwork.com/jobs/~01e307b8bbe03a5385

[2021-11-19 20:50] isagoico commented on #6305
Testing https://github.com/Expensify/App/pull/6366 at the moment

[2021-11-19 21:02] kidroca commented on #2719
There has been no development on the external tickets I've shared and I don't have definitive evidence that this is a problem with RN Modal and the `onModalHide` being called a bit too soon

I need to debug this through xCode in order to pause the debugger when `onModalHide` executes the native code and see whether the modal view/controller is still attached. When I'm done with my other tickets I'

[2021-11-19 21:21] kidroca commented on #5987
Hey @stephanieelliott can we reevaluate the price for this ticket as per: https://github.com/Expensify/App/blob/main/CONTRIBUTING.md#payment-for-contributions

I think this is a bit more technical issue and the current price should be doubled

[2021-11-19 21:35] mallenexpensify commented on #5162
One more question since this is a bit tricky with one, initial reporter for this issue, should someone be compensated for reporting the 'thumbnails' bug? If so, I want to make sure they get included in the OP

[2021-11-19 21:48] mallenexpensify commented on #6096
Thanks for posting @sidferreira , couple thoughts...
1. If you 'did nothing' in regards to reporting the bug and/or proposing a fix, and the issue is fixed by something that is already in process or development, you wouldn't be eligible for compensation because the end result is that the bug would be fixed.
2. Where #1 gets _interesting_ is if there are minor tweaks/updates to the code that would

[2021-11-19 21:51] mallenexpensify commented on #5571
Paid! Thanks @akshayasalvi !

[2021-11-19 21:51] #5571 closed

[2021-11-19 21:52] isagoico commented on #6059
I was able to reproduce the issue with the same steps as before in build 1.1.14-2 (Desktop)

[2021-11-19 22:00] isagoico commented on #6305
It was a pass for us and @TomatoToaster 🎉

[2021-11-19 22:01] #6233 closed

[2021-11-19 22:23] arielgreen commented on #6131
@mallenexpensify reassigning, I'm off for mat leave!

[2021-11-19 22:24] arielgreen commented on #5873
@kadiealexander reassigning, I'm off for mat leave!

[2021-11-19 22:25] arielgreen commented on #5159
@kevinksullivan reassigning, I'm off for mat leave!

[2021-11-19 22:26] arielgreen commented on #4911
@jboniface reassigning, I'm off for mat leave!

[2021-11-19 23:38] jboniface commented on #6070
on staging

[2021-11-20 00:40] Luke9389 commented on #6130
Just getting a moment to loop back around to this.
@marcaaron when you sent me this issue, you mentioned you thought it was a one-liner. What was the fix you had in mind for this? Was it one of the two bullets from [this message](https://github.com/Expensify/App/issues/6130#issuecomment-965419708)?

Just so that I understand your most recent message, after we remove those two messages and set the

[2021-11-20 16:01] puneetlath commented on #5237
@mallenexpensify this has been merged. Can we please make sure to add $500 when paying this? $250 for the offsite hold bonus and $250 for the increase in scope in the PR. Thanks!

[2021-11-20 19:13] railway17 commented on #6326
**1. Replication**
I also was able to reproduce this issue in my web, desktop environment.
Here are my replication videos
[- web issue](https://drive.google.com/file/d/1WwIKGS2xjMeAJz5gev5JABfA4hKVR6p7/view?usp=sharing)
[- desktop issue](https://drive.google.com/file/d/1OLh1Zox_8gWYyJn3FySmCeDFui6bMO5I/view?usp=sharing)

**2. Problems**
Problem is that `cursor: zoom-in` style was set to the parent

[2021-11-21 04:33] aswin-s commented on #5193
To further clarify my observations, these are the proposed fixes.

1. Just apply the fix mentioned [here](https://github.com/Expensify/App/issues/5193#issuecomment-966615069) which will solve the blurred image issue across iOS & Android platform. But this fix is limited to images below resolutions **2048 x 2048** px on Android.

2. In addition to above fix, to support high resolution images (above

[2021-11-21 11:47] kidroca commented on #5952
### Why is it happening

<details>
<summary>
When we send actions we naturally add them to the bottom even before the backend responds (optimistic updates)
</summary>

https://github.com/Expensify/App/blob/f5a1b58d1aeeb804f23f9b1d6769b6ef25e57872/src/libs/actions/Report.js#L1071-L1073
</details>

<details>
<summary>
Note we don't have any special (<code>.catch</code>) error handling for the call t

[2021-11-21 11:54] kidroca commented on #5952
### Proposal

We have a `shouldRetry` flag on request that have to be resend, but it's only used to persist request that start when we're already offline
https://github.com/Expensify/App/blob/f5a1b58d1aeeb804f23f9b1d6769b6ef25e57872/src/libs/Network.js#L178-L187

We can use it to retry the requests in case something unexpected happened in flight

#### src/libs/API.js
[code]

I propose to add this

[2021-11-21 12:26] kidroca commented on #2713
This particular problems seems related to: https://github.com/Expensify/App/issues/2642
Even though you log out some actions continue to run and add data to storage (like the optimistic message you see on the bottom)
When you sign in again you still see items you expected to be cleared by a log out
A work around to avoid this would be to
1. Log out
2. Close the app/browser window (this terminates

[2021-11-21 13:17] parasharrajat commented on #4911
Can I submit the PR or.....?

[2021-11-21 13:37] kidroca commented on #2713
Some thoughts on ordering the messages and the UX aspect of the matter

1. Let's say we're offline and write some messages at 9:00am they get persisted
2. Our recipient manages to write us before we're back online at 9:05am

What's the order we expect to see when connection is restored?

#### Our messages getting inserted before theirs
It will be confusing to insert our messages into the conversat

[2021-11-21 14:07] kidroca commented on #2642
Calling `window.stop` would interrupt all pending network requests and they'll fai
<img width="763" alt="Screenshot 2021-11-21 at 16 00 37" src="https://user-images.githubusercontent.com/12156624/142764904-db062918-11b5-485e-aff3-983b94c264a4.png">
https://developer.mozilla.org/en-US/docs/Web/API/Window/stop

This should work on all browsers and the desktop app

Cancelling all pending requests the

[2021-11-21 17:17] mountiny opened #6386 "[HOLD for payment 2021-12-15] Selecting report from LHN using Tab + Enter adds a new line character to the composer box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Click on the LHN on the top to not have anything selected
2. Using Tab key, select a chat
3. Click Enter to open the page

## Expected Result:
Th

[2021-11-21 17:21] mountiny commented on #5572
Seems like the linked issue will have a PR drafted soon 🎉

[2021-11-21 22:18] ogumen commented on #6222
Added comments to all PRs where accessibility issues were found. The non-applicable PRs are: #6240 and #6252. The #6197 was blocked due to not having access to the iOS build.

[2021-11-22 02:13] azimgd commented on #3381
@kidroca interesting just tried from both simulator and the physical device (ios 14.3). Couldn't reproduce.
Does anyone else have the same issue?

[2021-11-22 04:08] sidferreira commented on #5894
@roryabraham @tgolen Follows a small sample of what I got so far: https://www.dropbox.com/s/zqyc2eokcsewyxe/Screen%20Recording%202021-11-21%20at%208.02.08%20PM.mov?dl=0

I still have to test on some different devices.
I also had to use `https://github.com/iamdustan/smoothscroll` but it would be required only for web and loaded only for Safari, so I believe it isn't an issue (only 4kb)

[2021-11-22 04:24] Christinadobrzyn commented on #5945
Looks like the PR is under review - moving forward with this fix!

[2021-11-22 04:28] Christinadobrzyn commented on #5894
Hired @sidferreira in Upwork 🎉

[2021-11-22 04:31] Christinadobrzyn commented on #4264
Sounds good @Julesssss! Looks like melvin is looking for an update - sounds like we're still reviewing the PR.

[2021-11-22 10:34] kidroca commented on #2642
There doesn't seem to be something like `window.stop` for react-native, but `window.stop` couldn't work in our case, because we run `Log` and `DeleteLogin` requests while we log out and they are getting cancelled

But it was fairly small change to add [AbortController](https://developer.mozilla.org/en-US/docs/Web/API/AbortController) in HttpUtils and make most of the requests abortable - excluding

[2021-11-22 10:35] developvsn commented on #6386
**Proposal**

This bug is occurring because message text input is focused by default after opening report screen, and it detect 'Enter' pressing and put it in input.

Our proposal is to check in begging `updateMessage` function if value of message is `1` and it consist new line.

https://github.com/Expensify/App/blob/f5a1b58d1aeeb804f23f9b1d6769b6ef25e57872/src/pages/home/report/ReportActionCompos

[2021-11-22 10:51] Beamanator commented on #6357
@sidferreira is your point here that "the fix for when `recentReports` is `[]`" is probably not the root cause for the specific scenario that's only happening to a handful of people only on ios?

@NikkiWines I agree with your thoughts - it seems like fixing the situation where `recentReports` can be `[]` (which is 1 way the persistent splash screen can happen) is valuable no matter what. If it doe

[2021-11-22 11:13] parasharrajat commented on #6386
@developvsn Looks like you are a new contributor and your first PR is still in review https://github.com/Expensify/App/pull/6209.
As per the contributor policy, you can not work on multiple tasks at once. Please wait for that PR to be merged.

[2021-11-22 11:41] Beamanator commented on #5774
Not overdue, just waiting to get to production for payment 👍

[2021-11-22 12:34] parasharrajat commented on #5159
Started working... It should be ready soon.

[2021-11-22 12:35] developvsn commented on #5974
@Luke9389 Hi ! Can you please review or give us an update regarding [Pull Request ](https://github.com/Expensify/App/pull/6209#issue-1044947049)

[2021-11-22 12:52] sidferreira commented on #6357
@Beamanator the point is: why it comes `[]`? It should use the existing/cached content, like if it was offline. There's something else that causes the issue. Also, some `Onyx` migrations can call `hideSplash` as well, are they working?!

The pull to refresh is a way to try to force `recentReports` to have results if we move the `App.setSidebarLoaded` to the view, but still, won't show us why `rece

[2021-11-22 13:11] jboniface commented on #4911
@parasharrajat yeah i think so; we didn't have you hired yet, did we? here's a link to the UW job just in case https://www.upwork.com/jobs/~0198867f3b0915c30b

[2021-11-22 13:39] parasharrajat commented on #4911
So, I am officially hired now. but I have a concern to share before I move to PR. This PR will also fix #5572. I am eligible for the payment of that issue as well. If not, I would like to request a bonus here not because it is too much work but I have been following this issue for quite a time now. There have been multiple holds and I have spent a lot of time finding a solution without the possibi

[2021-11-22 14:02] mountiny commented on #4911
@parasharrajat I will make sure you are also hired for the other issue as well. Then just make sure to link both of the issues in the PR 🙌

[2021-11-22 14:07] mountiny commented on #5572
@parasharrajat just to make sure in case you havent done so, feel free to apply for the Upwork job and then let @Christinadobrzyn know so she can hire you.

@Christinadobrzyn just reminding here there was n6-hold on this issue so upon completion the reward should be $500 :)

[2021-11-22 14:07] MitchExpensify commented on #5068
Payment made @thesahindia, thank everyone!

[2021-11-22 14:07] #5068 closed

[2021-11-22 14:29] PrashantMangukiya commented on #5593
@dylanexpensify Ping for Upwork payment.

[2021-11-22 14:36] parasharrajat commented on #4911
If I am hired for other as well. Then it's fine.

Thanks @mountiny.

[2021-11-22 14:45] anthony-hull opened #6389 "Set Password form in new user signup journey hangs if submitted with enter key."
## Action Performed:

1. Sign up for a new account.
2. Click the link sent to your email.
3. enter a valid password
4. Submit the form using Return on your keyboard

## Expected Result:
App should load into your account.

## Actual Result:
Submit button spins for ever, app hands at this point.
ValidateEmail and SetPassword api calls fire.

## Workaround:
Refresh the page enter the password and try

[2021-11-22 14:55] kidroca commented on #3381
Could be caused by some other change on main, but  switching back react-native-web to the original and not our fork fixed it

I think it might br because of the images - the old inversion logic would push content to the past and not affect scroll position
We had a similar problem with the bidirectional flat list where prepending items messed scroll position but appending did not

In the PR video i

[2021-11-22 15:07] NicMendonca commented on #6386
Job post: https://www.upwork.com/jobs/~0111772087299f6686

[2021-11-22 15:14] mountiny commented on #4911
Perfect! No worries and thank you for digging into this and the related issue 🙌

[2021-11-22 15:24] zoontek commented on #5620
Hello 👋

`react-native-bootsplash` author here. I dug a bit in your codebase, tried a few things and think I understand what's going on here. I could propose a solution which also update your app to version `4.0.0` (meaning Android 12 SplashScreen API support)

[2021-11-22 15:27] aldo-expensify commented on #6235
Sorry I didn't look at this better before, but the implemented behaviour is not consistent with blur by clicking outside, and I think it is also not what is expected.

If you click outside, the autocomplete results disappear but the typed text remains there. On the other hand, if you press tab, it makes the autocomplete disappear and **clears the typed text**. This remains impossible to use using

[2021-11-22 15:57] sidferreira commented on #5620
@zoontek So you think the problem may be the splash it self?!

[2021-11-22 16:06] developvsn commented on #6386
@mountiny @parasharrajat  We are sorry this situation occurred, but we saw that this [#5974](https://github.com/Expensify/App/issues/5974) bug was fixed in the production and we wanted to know if we could work on other issues or we have to wait review to this [#6209](https://github.com/Expensify/App/pull/6209) PR? Thank you for your time.

[2021-11-22 16:13] isagoico opened #6390 "[HOLD for payment 2021-12-28] iOS - Emoji top is cut in LHN message preview"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation
2. Send a emoji
3. Check the LHN message preview

## Expected Result:
Emoji should be fully displayed.

## Actual Resu

[2021-11-22 16:15] mountiny commented on #6386
@developvsn No worries. I see the issue you mentioned is still open which indicates it is not solved. If the original issue does not occur on production, please comment on the issue so we can retest it and make sure it is true. Then the assigned engineer can close the issue and you are welcomed to apply for new issues.

Sorry for the complications, as you might guess, it is not common that issues

[2021-11-22 16:17] mallenexpensify commented on #6299
Added/removed `External` label to assign a CM.  Once issue is closed, @adelekennedy , can you whip up an Upwork post to pay @anthony-hull $250 for reporting?   Thanks

[2021-11-22 16:19] sidferreira commented on #5620
@zoontek 😮

[2021-11-22 16:19] azimgd commented on #3381
Can confirm, reproducable on ios15, but not on ios 14 in my case. I will investigate, thank you for report and suggestion @kidroca

[2021-11-22 16:21] sidferreira commented on #6390
Found while addressing https://github.com/Expensify/App/issues/6096 with https://github.com/Expensify/App/pull/6289. I believe the fix indeed requires some lineHeight/height calibration

[2021-11-22 16:31] zoontek commented on #5620
Related issue: https://github.com/zoontek/react-native-bootsplash/issues/119

I can write a rock solid implementation that solve your issue with update to react-native-bootsplash v4 and Android 12 support if needed 🙂

[2021-11-22 16:37] laurenreidexpensify commented on #5637
Okay great - @sidferreira @parasharrajat I'll be hiring you both in Upwork to issue a bonus payment here for investigation and time on this issue, and closing it out.

[2021-11-22 16:39] laurenreidexpensify commented on #5637
oh and to @Santhosh-Sellavel for reporting this issue too

[2021-11-22 16:48] mountiny commented on #5974
@developvsn as per your comment [here](https://github.com/Expensify/App/issues/6386#issuecomment-975677994), I have tested this on Staging iOS app and the issue still prevails. Therefore, we should still go ahead with trying to solve this or find out why is it it should work on production but not on staging (I only have staging on my phone right now, so I can't test production behaviour).

[2021-11-22 16:53] mvtglobally commented on #5291
Issue not reproducible during KI retests. (First week)

[2021-11-22 16:56] mvtglobally commented on #6070
Issue not reproducible during KI retests. (First week)

[2021-11-22 16:57] parasharrajat commented on #5572
The job is closed.

[2021-11-22 17:03] stephanieelliott commented on #5987
Hey @johnmlee101, any thoughts on @kidroca's request to double payment for this issue to $500? The CME steps to consider/approve/deny the request are in SO [here](https://stackoverflow.com/c/expensify/questions/10765) 😃

[2021-11-22 17:04] isagoico opened #6391 "Focus is lost on compose box when a new message is received"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Adding @mallenexpensify steps:

1. Send a group message
2. Maybe looked at another chat via click in LHN(?)
3. Used search/chat switcher to open a 1

[2021-11-22 17:06] sidferreira commented on #5620
@zoontek TBH an issue like that explains why it happens only in some cases... native flakiness sometimes is a b**** :)

[2021-11-22 17:09] zoontek commented on #5620
It's much more a race condition issue, but I agree 😅

[2021-11-22 17:10] developvsn commented on #5974
@mountiny @jboniface  @Luke9389  We downloaded production app for 3 different IOS devices and 1 android, and we can't reproduce this bag.

IOS

https://user-images.githubusercontent.com/71173662/142903856-b9380962-20ed-46e0-97a4-65e4118a7cba.MP4

Android

https://user-images.githubusercontent.com/71173662/142903920-75ea71b4-2b7e-4530-8463-7eb59f205f6f.mp4

We also tried to do it in github source c

[2021-11-22 17:17] stephanieelliott commented on #5191
Ah, that info is usually included in the issue title. thanks @kidroca!

I created a new job posting in Upwork to pay you out for reporting. Here it is: https://www.upwork.com/jobs/~014c5a6b4de03beeba

[2021-11-22 17:17] laurenreidexpensify commented on #5637
Sid and Rajat have been paid, and as soon as Santhosh accepts the job I"ll pay him and close out.

[2021-11-22 17:21] marcaaron commented on #4214
Hmm there may be other causes such as messing with the cell data in this case. I think perhaps we should create a new issue with the exact reproduction steps for that. The issue with Log should be sorted. @kavimuru please open a new issue if you can and document exactly how to reproduce thanks!

[2021-11-22 17:21] #4214 closed

[2021-11-22 17:23] mountiny commented on #5572
@Christinadobrzyn Would you be able to reopen this job or create a new one if that is not possible for this issue? Thank you very much!

[2021-11-22 17:23] iwiznia commented on #5079
From those options 1 sounds the best. 2 still saves the password to disk even if for a very short time and if we remove 3 we are opening up the API to exploits (since a secondary login is basically as good as a primary login, we always want to require the password at the API level to prevent people that got temporary access to someone's account to gain permanent access by adding an email/phone the

[2021-11-22 17:23] laurenreidexpensify commented on #5588
@roryabraham how's the review coming along?

[2021-11-22 17:24] laurenreidexpensify commented on #4756
@mountiny assume this is still in review?

[2021-11-22 17:35] aldo-expensify commented on #5841
I'm closing this because with the current state of the address field, a user should be able to input an address manually if the google search results aren't useful:

https://user-images.githubusercontent.com/87341702/142908156-040abbf3-3ea2-4605-a87e-7809290ceda6.mov

Remaining developments and comments on the address inputs will be in this [GH issue](https://github.com/Expensify/App/issues/6309)

[2021-11-22 17:35] #5841 closed

[2021-11-22 17:39] mountiny commented on #4756
@laurenreidexpensify Correct!

[2021-11-22 17:50] kidroca commented on #5620
I don't think this is the problem - `<UpdateAppModal />` won't be shown on iOS - no OTA updates on that platform
- `props.updateAvailable` is following ONYXKEYS.UPDATE_AVAILABLE
https://github.com/Expensify/App/blob/f866f8b437994bdab608a66e1ba9594210bec7f2/src/Expensify.js#L162-L164
- it's value is updated only by `triggerUpdateAvailable`
https://github.com/Expensify/App/blob/f866f8b437994bdab608a

[2021-11-22 17:53] puneetlath commented on #4995
@mananjadhav @Jag96 how's this going?

[2021-11-22 17:58] zoontek commented on #5620
Does TestFlight open the app automatically after an update? Does this happen only on iOS 15+?

[2021-11-22 18:02] chiragsalian commented on #6305
:shipit:

[2021-11-22 18:06] kidroca commented on #5620
It can still be a problem of  multiples `UIViewController` - we might be displaying other popups that use `UIViewController`
For example during development I've seen "Please reauthenticate" Growl/toast being shown to me when automatic re-authentication fails during re-launch

---

I don't think so. Some people would even kill the app if it's running then update and launch it
It was reported that t

[2021-11-22 18:07] NikkiWines commented on #5620
Hi @zoontek thanks for taking a look at this issue

No, the user has to manually open the app

Hmmm, I'm not sure. This issue was opened after iOS 15 was released. @isagoico do you know what version the iPhones used for regression testing are on?

[2021-11-22 18:08] iwiznia commented on #5193
1 sounds good, I am not sure what 2 really entails. Is there anything specifically better/worse on using that new library?
Also asked [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1637604341362700) to see if more people have opinions on this.

[2021-11-22 18:09] kidroca commented on #6391
Yes, I love focus related problems 😄

[2021-11-22 18:10] kidroca commented on #6391
Could you assign me here so I can come back later

[2021-11-22 18:11] laurenreidexpensify commented on #6391
@kidroca obvs ignore the above 🙃. damn melvinbot jumped ahead

[2021-11-22 18:17] kidroca commented on #5191
Thank you, I've applied on Upwork.
I think this is the first issue I've reported and the guidelines weren't fully defined back then

[2021-11-22 18:21] #5637 closed

[2021-11-22 18:24] NikkiWines commented on #6357
This is a good point @sidferreira, we'd be patching it more than providing a true fix.

It looks like the lib owner has been commenting in the [main issue](https://github.com/Expensify/App/issues/5620) with a potential fix (or at least more insight into a potential cause).

Let's hold off on further discussion here, if the current chats in https://github.com/Expensify/App/issues/5620 don't lead to

[2021-11-22 18:27] danieldoglas commented on #6286
Working on it.

[2021-11-22 18:36] mananjadhav commented on #4995
PR is on the finish line. Hopefully it should get merged today.

[2021-11-22 18:39] sidferreira commented on #5620
@kidroca I had no idea one had to kill the app to cause the issue... Tim told me that he would just let it rest...

[2021-11-22 19:00] #4433 closed

[2021-11-22 19:00] #4657 closed

[2021-11-22 19:04] zoontek commented on #5620
I removed the usage of `UIViewController` to stick to `RCTRootView.loadingView` exclusively in v4 exactly because of this: most of the users don't wait until the hide Promise is resolved to show an alert / a modal / other (https://github.com/zoontek/react-native-bootsplash/releases/tag/4.0.0)

IMHO, what should be done:
- Switch to v4
- At start, do Onyx migrations, wait for `NavigationContainer`

[2021-11-22 19:06] marcaaron commented on #4680
Still think we should do this, but it's not particularly urgent and can probably wait til the new year.

[2021-11-22 19:13] AndrewGable commented on #6305
This failed to deploy, reopening and will re-deploy once it's fixed

[2021-11-22 19:14] kidroca commented on #5620
It seems necessary to kill the app, I don't see how the Splash screen would become visible again otherwise
We would only show the splash screen again as part of a transition from the Login Screen when you transition from no token to some token - a splash screen would be shown until your initial storage data is loaded

Since this can only happen when you input your password and login I assumed it's

[2021-11-22 19:20] mallenexpensify commented on #5892
@marcaaron now that you're back from being OOO, can you review recent comments then comment on next steps?

[2021-11-22 19:27] mallenexpensify commented on #6326
@deetergp , can you please review @CamilaRivera and @railway17 's proposals above?

[2021-11-22 19:30] deetergp commented on #6326
Thank you both for your proposals @CamilaRivera & @railway17's. After reviewing them both, I'm inclined to go with @railway17 proposal is it's appears to get the job done with fewer changes.

[2021-11-22 19:34] puneetlath commented on #2727
@deetergp do we know that they are actively working on a fix? If not, perhaps we can hire a contributor to submit a PR to fix it to RN directly now.

[2021-11-22 19:37] marcaaron commented on #5892
This issue doesn't seem super valuable in my opinion... but the next steps should be to:

1. open an issue with `react-native-modal` with a reproduction
2. ask in `#product` or wherever relevant whether we can disable swiping on the modal for mWeb
3. If the answer to 2 is yes then we hire @mananjadhav
4. If the answer to 2 is no then we should propose a fix it in `react-native-modal`

[2021-11-22 19:38] deetergp commented on #2727
Your guess is as good as mine… The last comment on that issue was from a year ago. There are references from other issues and PRs as recently as the end of October '21 so it is definitely still in people's minds. 🤷

[2021-11-22 19:42] danieldoglas commented on #6122
Working on some daily tasks, will get back to this later.

[2021-11-22 19:42] AndrewGable commented on #6305
:shipit:

[2021-11-22 19:42] #6305 closed

[2021-11-22 19:43] sidferreira commented on #5892
@marcaaron I would like to mention that I suggested making it unswipeable at https://github.com/Expensify/App/issues/5892#issuecomment-954366256 but I withdrew as it was pointed as not a desired solution. If you check the `edited` tooltip you can see my proposal.

[2021-11-22 19:45] botify commented on #6070
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.15-15 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6185

If no regressions arise, payment will be issued on 2021-11-29. :confetti_ball:

[2021-11-22 19:45] botify commented on #5896
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.15-15 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6138

If no regressions arise, payment will be issued on 2021-11-29. :confetti_ball:

[2021-11-22 19:45] botify commented on #6076
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.15-15 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6206

If no regressions arise, payment will be issued on 2021-11-29. :confetti_ball:

[2021-11-22 19:45] botify commented on #5906
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.15-15 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6237

If no regressions arise, payment will be issued on 2021-11-29. :confetti_ball:

[2021-11-22 19:45] botify commented on #6175
The solution for this issue has been :rocket: deployed to production :rocket: in version 1.1.15-15 and is now subject to a 7-day regression period :calendar:. Here is the list of pull requests that resolve this issue:

- https://github.com/Expensify/App/pull/6203

If no regressions arise, payment will be issued on 2021-11-29. :confetti_ball:

[2021-11-22 19:47] OSBotify opened #6399 "Deploy Checklist: New Expensify 2021-11-22"
**Release Version:** `1.1.16-10`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/4070
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/4085
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/4133
  - [x] QA

[2021-11-22 19:52] marcaaron commented on #5892
@sidferreira thanks for your patience. Let's cross that bridge when we get there.

[2021-11-22 19:53] mallenexpensify commented on #5952
@johnmlee101 can you review @kidroca 's proposal above?

[2021-11-22 20:02] marcaaron commented on #5637
Late to the party @NikkiWines but I think as a general rule if we merge a PR that bumps a library that introduces a regression then whoever created the PR to bump that library effectively introduced that regression and should try to do something about it.

[2021-11-22 20:04] mallenexpensify commented on #6326
Hired @railway17 / MingYun H. in Upwork for the job.

[2021-11-22 20:05] isagoico commented on #6399
Lol melvinbot is confused here 😆
Starting QA 🚀

[2021-11-22 20:14] aswin-s commented on #5193
I was just pointing out that if we go ahead with option 1, extra long images like the one mentioned in OP ([image](https://user-images.githubusercontent.com/44479856/132889916-e46ac3dc-19ad-4cca-a033-ec13b8ac79ad.jpg)) will continue to look blurred in attachment view. It has a resolution of  **875px x 14894px**, which is way above the 2048px limit.

[2021-11-22 20:15] johnmlee101 commented on #5952
Makes sense, I think handling "no response" cases seems like a good next progression of our network logic.
Assigning @kidroca !

[2021-11-22 20:27] mountiny commented on #5974
This is my experience on Staging. I guess we need to test more. Why would it occur only on staging but prod and dev would be fine, interesting 😅

https://user-images.githubusercontent.com/36083550/142930385-7ca83875-5a1c-476f-96c9-4823b42eafa8.MOV

[2021-11-22 20:43] puneetlath commented on #6282
@nickmurray47 this is the App repo, so you have to add either the `Internal` or `External` label after triaging, depending on whether or not the issue can be worked on by an external contributor.

In any case, I'll grab this one since it'll need to be internal.

[2021-11-22 20:59] sakluger commented on #6325
I also can't reproduce this on my iPhone XS, either on the mobile app (using STG) or on mobile web. @parasharrajat you said that this behavior exists in production - does that mean that you're able to reproduce?

[2021-11-22 21:04] roryabraham commented on #3133
Going to drop this.

[2021-11-22 21:27] marcaaron commented on #6130
Ah sorry, I don't quite remember.

Yes, because we wouldn't have a set of sequence numbers like this `[0, 1, 2, 49, 50, 51, ...etc]`

When we go to paginate the logic will basically do, "Hey, we have the first message - no need to get anymore!"

This is the first option I'd look into. Fetching everything between 0 and the most recent feels wrong since that could be a lot of history and maybe compl

[2021-11-22 21:38] roryabraham commented on #5588
Just submitted another review. @akshayasalvi Has been producing great work so far as we iterate on the design of a simple, easily extensible framework for keyboard shortcuts. I know I said this last week, but we are _very_ close to the finish line now.

[2021-11-22 21:40] Luke9389 commented on #6130
Agreed on all of the above. I'll loop you in when I've got some code ready for ya.

[2021-11-22 21:51] roryabraham commented on #4817
Should we revisit this discussion? https://github.com/react-native-share/react-native-share seems quite popular and actively maintained. I think we can probably trust a contributor to work on this without the need for a full design doc. I still think this:

Is totally valid and something we should watch out for, but looking at this issue with fresh eyes it doesn't seem too complex.

[2021-11-22 22:13] roryabraham commented on #4817
@marcaaron @TomatoToaster Unless either of you disagree I think we should get this on Upwork?

[2021-11-22 22:19] roryabraham commented on #5894
Thanks for the update @sidferreira

[2021-11-22 22:22] Luke9389 commented on #5974
For now, I'm going to put this issue on HOLD and then have this retested after the next deploy.

Frankly, if this issue fixed itself, that'd be ideal, because the changes in the PR don't feel optimal to me. More discussion on that if need be.

Rest assured @developvsn, we'll pay you for your time regardless of whether your PR is merged.

[2021-11-22 22:23] Luke9389 commented on #5974
@isagoico Would you be willing to have this tested again? It looks like we had a successful deploy today, so we should have a clear idea of whether this is still occurring.

[2021-11-22 22:53] kadiealexander commented on #6158
@parasharrajat I've hired you in Upwork, could you please let me know once you've accepted so I can get payment out quickly for you? Thanks!

[2021-11-22 23:46] Jag96 commented on #6253
@mananjadhav any updates on this one?

[2021-11-22 23:46] Jag96 commented on #5956
Same, PR still in review

[2021-11-23 00:06] Jag96 commented on #6359
From the thread it sounds like we want to prioritize in this order:
1. Person Name
2. Room Name
3. Room Description (Policy/Domain name in this case)

All rooms have the `#` at the beginning, right? So I'd think if you typed `an` you'd want to show results for people first, and if you typed `#an` you'd show the room results.

[2021-11-23 01:16] thienlnam commented on #6364
Will start this tomorrow

[2021-11-23 01:29] puneetlath commented on #6282
@Santhosh-Sellavel sent you a contract in Upwork to compensate you for reporting this issue. Thanks again!

[2021-11-23 01:41] marktoman commented on #6213
I struggle a bit to understand how this fits into the existing policy concept. When I call `loadFullPolicy` for the `policyID` passed to `WorkspaceReimburseNoVBAView.js`, it already contains two arrays: `customUnits` and `rates`. Are the `Policy_CustomUnit_Update` and `Policy_CustomUnitRate_Update` commands related to these values? If so, should I just use the values from the first or last element

[2021-11-23 02:18] sidferreira commented on #5894
@roryabraham @tgolen https://github.com/Expensify/App/pull/6413

[2021-11-23 03:01] isagoico commented on #5974
Of course! happy to try and repro again :)

I was unable to reproduce this on Android on build 1.1.16-1. I currently don't have my iOS on me today so I'll check this tomorrow too (since it was the device I was able to reproduce initially).

[2021-11-23 03:05] kavimuru opened #6414 "Profile - Unable to add symbols or spaces when adding phone number as secondary login"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #6293
## Action Performed:
1. Navigate to NewDot and login
2. Go to settings > profile
3. Tap add phone number
4. Input a phone number  usi

[2021-11-23 03:06] OSBotify commented on #6414
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-23 03:13] isagoico commented on #6208
Nice! Tests for https://github.com/Expensify/Web-Expensify/pull/32383#issuecomment-976124755 worked! Closing

[2021-11-23 03:21] kavimuru opened #6415 "[HOLD for payment 2021-12-13] [HOLD for payment 2021-12-06] IOU - "Request $xx" button appears at the top of the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app and login
2. Click on green Fab button
3. Tap Request Money
4. Select amount and click Next

## Expected Result:
 "Request $xx"  b

[2021-11-23 03:22] OSBotify commented on #6415
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-23 03:33] kavimuru opened #6416 "Chat - Empty chat will show a pronoun placeholder"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing #4921**
## Action Performed:
1. Open app and login
2. Start a conversation with someone never messaged before, with a contact who has se

[2021-11-23 03:34] OSBotify commented on #6416
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-23 04:45] Christinadobrzyn commented on #5572
Ah, thanks for the heads up @parasharrajat

Created a new job in Upwork.

Internal posting: https://www.upwork.com/ab/applicants/1463004584288264192/job-details
External posting: https://www.upwork.com/jobs/~01c60c63bca9db0af7

Hired @parasharrajat for this!

[2021-11-23 04:49] Christinadobrzyn commented on #5542
Alright - 7 days in production have passed! 🎉

Paid @akshayasalvi $250 + 250 bonus for the company offsite delay. Closing this job in Upwork and this GH.

[2021-11-23 04:55] #5542 closed

[2021-11-23 05:05] parasharrajat commented on #6325
@sakluger I can reproduce this on Android M-web. It is native behaviour though. In android, only text input are moved above the keyboard.

[2021-11-23 05:06] parasharrajat commented on #6158
@kadiealexander Done

[2021-11-23 05:07] Christinadobrzyn commented on #5286
Confirmed with @nickmurray47 to close this job.

Paying @parasharrajat $250 for the proposal and the promised $250 bonus for the offsite hold and closing the job/this post.

[2021-11-23 05:10] #5286 closed

[2021-11-23 05:35] MirFahad58 commented on #6416
<img width="1653" alt="Screenshot 2021-11-23 at 10 32 03 AM" src="https://user-images.githubusercontent.com/31244700/142975656-070ff1e2-9d89-4a16-b0b8-9df299386d69.png">

as we discussed in the issue for that if there are any pronouns we should show and also it is in Figma design

https://www.figma.com/file/rReWxiEhGDHIjajsE9XoJw/Start-a-Chat?node-id=0%3A1

[2021-11-23 08:24] parasharrajat commented on #6414
Unfortunately, this was neither added to the to-do list of the issue nor discussed in the PR review. So I missed it.

---
To fix this,
1. We need to add the same logic as requestCallPage to the AddSecondaryLoginPage.
		a. It involves allowing special chars in the phone input.
		b. Validating the input with these chars.
        c. sanitizing the input before sending it to it backend.
2. Apart from

[2021-11-23 09:49] parasharrajat commented on #6415
It is missed in https://github.com/Expensify/App/pull/4070.
we just need to add flex1 to AnimationStep at https://github.com/Expensify/App/blob/c95c2ddbafc5c7e9904ca943cff783d913d53556/src/pages/iou/IOUModal.js#L397.

It fixes the issue. submitting a PR to resolve deploy blocker as there is a timezone gap. Feel free to close it if this is not appropriate.

[2021-11-23 10:18] parasharrajat commented on #5873
I am taking interest in the current issue thus I would like to review the PR and I will let you know @iwiznia  when this is ready for final review and possibly for merge. [See More](https://expensify.slack.com/archives/C01GTK53T8Q/p1633557259458600) extended for C+.

[2021-11-23 11:05] Gonals commented on #6416
On it

[2021-11-23 11:53] parasharrajat commented on #6416
Do you mind if I propose a fix? @Gonals

1. We recently made a change to localize the pronouns.
2. But the PR introducing this feature, did not pulled the latest changes.
3. Now, backend store prefixed strings for pronouns instead of real value.
4. We have to use
[code]
instead of https://github.com/Expensify/App/blob/c95c2ddbafc5c7e9904ca943cff783d913d53556/src/components/ReportWelcomeText.js#L59

[2021-11-23 11:58] iwiznia commented on #5193
Yeah I got that, 2 is needed only to support large images. Seems like a good solution, so let's try that out 👍

[2021-11-23 13:34] michaelhaxhiu commented on #5926
Bug reporting bonus = $250
Job payout = $250
Company Offsite Hold = $250

Total = $750.

Just paid it, we should be all good here.

[2021-11-23 13:37] Beamanator opened #6418 "test issue, please ignore!"
JUST A TEST please ignore me 🙃

[2021-11-23 13:38] Beamanator commented on #6418
Just a test, fellas - thanks for participating 🙃

[2021-11-23 13:47] trjExpensify commented on #5875
Just checking in here @mateomorris to see if you got your local mobile env sorted?

[2021-11-23 13:50] mateomorris commented on #5875
@trjExpensify still working on it, but I think I'm getting close. Had to pull an old intel Macbook out of storage 😅

[2021-11-23 13:59] trjExpensify commented on #5875
Ah, yikes! Feel free to ask the team in #expensify-open-source for any help if you need it (and haven't already!).

[2021-11-23 14:06] NicMendonca commented on #5193
@aswin-s sorry! The old job post expired. Sent you an offer [here](https://www.upwork.com/jobs/~01a2512c7dcebac911).

[2021-11-23 14:14] Beamanator commented on #6418
reopening & retesting

[2021-11-23 14:15] Beamanator commented on #6418
Woohoo we didn't "hire" Raj, and `Help Wanted` is still alive! Thanks gents, closing again

[2021-11-23 14:16] Dal-Papa commented on #5701
Just came back from OOO, will provide an update once I sorted everything.

[2021-11-23 14:17] Beamanator commented on #6418
Sorry, last test: Assigning @parasharrajat manually (as if we're assigning him the job)

[2021-11-23 14:18] Beamanator commented on #6418
Ok we have `Exported`, now I'll assign @parasharrajat to see if the `Help Wanted` label gets removed & the comment gets added

[2021-11-23 14:18] aswin-s commented on #5193
@NicMendonca Reapplied .

[2021-11-23 14:18] Beamanator commented on #6418
Success 👍 Closing - sorry for the pings y'all!

[2021-11-23 14:18] #6418 closed

[2021-11-23 14:31] parasharrajat commented on #6418
https://user-images.githubusercontent.com/24370807/143043050-9352b708-83cd-4937-a197-7397ef1baf6e.mp4

Took me some time to get this gipfy in GH.

[2021-11-23 14:44] Beamanator commented on #6357
Thanks for explaining @sidferreira 👍

I like it, I'll put this one on hold for now

[2021-11-23 14:46] NikkiWines commented on #6415
@parasharrajat thanks for submitting a fix. Let me just check how compensation would work for fixing this deploy blocker.

Typically the engineer who introduced the bug should fix it in order to receive full compensation, but it looks like that contributor has been a bit difficult to contact recently.

@Expensify/contributor-management, do we have a set fee for fixing deploy blockers?

[2021-11-23 15:08] Beamanator commented on #3293
Is this still being worked on? I'm still seeing this issue in dev & staging :'(

[2021-11-23 15:12] dklymenk commented on #3293
@Beamanator The PR has been merged and is deployed on staging.

I have just checked on staging and it looks good to me. Can you describe your issue in more detail?

[2021-11-23 15:16] Beamanator commented on #3293
Really? I tried this in dev & staging and got a similar message preview in the LHN. The only steps I took were:
1. Log in to New Expensify
2. Send message to account that exists but you've never messaged before
3. See the below

![Screen Shot 2021-11-23 at 5 04 21 PM](https://user-images.githubusercontent.com/3885503/143051079-60a681e4-eaca-48fc-9c56-be4614e48bf5.png)

[2021-11-23 15:17] shawnborton commented on #6213
For the svg icon, maybe we need to manually scale down to 80x80 and then re-export from there? cc @michelle-thompson - I took a look at the [other product illustrations](https://github.com/Expensify/App/blob/main/assets/images/product-illustrations/bank-user--green.svg?short_path=676d05c#L3-L4) and looks like they were exported at 80x80

[2021-11-23 15:26] dklymenk commented on #3293
Oh, I will look into it. You shouldn't see [Comment deleted] if that's the only message in the chat.

Previously it shown user's email, so I wonder if that's how it should be after my change or do we add some new placeholder.

@Beamanator  @NikkiWines
Can I get a confirmation that you should indeed see user's email and not some other text when starting a new chat? I have missed this case in my pro

[2021-11-23 15:37] #6416 closed

[2021-11-23 16:14] kakajann commented on #6284
@Julesssss PR is ready to review

[2021-11-23 16:19] michelle-thompson commented on #6213
Lemme know if this works!
[gps-tracking.svg.zip](https://github.com/Expensify/App/files/7589525/gps-tracking.svg.zip)

[2021-11-23 16:35] kavimuru opened #6422 "Chat - LHN does not show [Comment deleted] for the user after deleting the message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue was found when executing #4133**
## Action Performed:
1. Launch the app
2. Log in with any account
3. Send the message
4. Go back to LHN and check the message
5.

[2021-11-23 16:36] railway17 commented on #6326
@mallenexpensify
Nice to meet you.
I have a coincidence issue with my pc.
Actually, I reinstalled my OS to Big Sur after submitting my proposal on Sunday (my old OS version was Catalina).
As you saw in my proposal, I was able to replicate and test on the `desktop` app.
[- desktop issue](https://drive.google.com/file/d/1OLh1Zox_8gWYyJn3FySmCeDFui6bMO5I/view?usp=sharing).
But I can't start the deskt

[2021-11-23 16:37] OSBotify commented on #6422
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-23 16:41] mallenexpensify commented on #5593
Ahmed needs to be paid for reporting, I've hired them in Upwork, waiting for them to accept then I'll pay.  Managing via email.

[2021-11-23 16:42] kavimuru opened #6424 "Chat - Green line does not appear when receiving a new message, but appears in the chat when sending a message"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to https://staging.new.expensify.com
2. Log in with any account
3. Send some messages to Account A
4. Enter the conversation that has unread m

[2021-11-23 16:42] dylanexpensify commented on #5593
Ah shoot, thanks @mallenexpensify! Completely missed this, my bad!

[2021-11-23 16:43] OSBotify commented on #6424
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-23 16:43] developvsn commented on #6235
@aldo-expensify the address field uses `react-native google places autocomplete library` and to remove focus from the list it requires to clear the entered text if we are using `Tab` because `blur()` and `focus()` ref methods don't work in this library, also we cannot use `Tab` to select any of addresses from the list dropdown because this library doesn't support this: we can't make `onFocus` blue

[2021-11-23 16:46] isagoico opened #6425 "Visual issues when scrolling - Reported by: @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a conversation that has a long history.
2. Scroll upwards and downward in a conversation quickly

## Expected Result:
There should no

[2021-11-23 16:47] OSBotify commented on #6425
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-23 16:50] spamalotmucho commented on #6422
I wonder if this could be related to the change for this issue: https://github.com/Expensify/App/issues/3293

[2021-11-23 16:50] parasharrajat commented on #6425
cc: @thienlnam

[2021-11-23 16:50] Beamanator commented on #6422
I wonder if this could be related to the change for this issue: #3293

[2021-11-23 16:51] parasharrajat commented on #6422
Yeah, Actually, it would have been solved by #3293.

[2021-11-23 16:52] kavimuru opened #6426 "Chat - LHN displayed as "comment deleted" for the new user when initiating chat and navigating to LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Launch the app and login.
2. Click on New Chat
3. Search for a user that you don't have any messages with and open the chat.

## Expected Result

[2021-11-23 16:53] OSBotify commented on #6426
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-23 16:57] kavimuru opened #6427 "[HOLD for payment 2022-02-01] $1000 - IOU - Decimal separator not updated when set to Spanish on some screens"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Go to profile settings and set language to Español
3. Request money from any contact in any currency

## Expected Result:
A

[2021-11-23 17:00] kavimuru opened #6428 "Profile - Messaging an account not created will display an unconfirmed time zone"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open app and login
2. Start a chat with an account not created yet
3. Tap on its profile icon

## Expected Result:
Profile is opened and only co

[2021-11-23 17:03] #6251 closed

[2021-11-23 17:13] kidroca commented on #6358
Bump, I've applied a proposal on Upwork

[2021-11-23 17:19] parasharrajat commented on #6414
Due to this, I don't consider it now as part of the original issue. But I would like to fix this, let me know if I can submit a PR asap.

[2021-11-23 17:30] mallenexpensify commented on #5593
Paid @hanaffi in Upwork for reporting

[2021-11-23 17:30] #5593 closed

[2021-11-23 17:38] chiragsalian commented on #6414
For sure, go ahead and create and submit a PR @parasharrajat.

[2021-11-23 17:42] parasharrajat commented on #6414
let me know what should be done about it.

[2021-11-23 17:45] NikkiWines commented on #6235
@aldo-expensify brings up a good point, especially in reference to accessibility. You would expect the tab to go to the next element in the list, not to skip to the next field.

Additionally, I agree that the behavior around clearing the address field should be consistent regardless of how the user removes focus from the field.

Since this change needs to be reverted anyway (the commits were unsig

[2021-11-23 17:47] chiragsalian commented on #6414
Thats fine that we don't show brackets for native devices. Thanks for working on the issue rajat.

[2021-11-23 17:48] chiragsalian commented on #6414
I totally missed noticing we had phone input in AddSecondaryLoginPage as well.

[2021-11-23 17:49] parasharrajat commented on #6235
I would like to point out that the lib currently does based on the code it has. I have gone through it. So there is some issue due to which the dropdown is not getting closed when the focus is moved out of the dropdown.
@NikkiWines

[2021-11-23 17:49] NikkiWines commented on #6235
One other note that at the moment the accessibility comments are not considered actionable (for now), we're just testing the new process at this time - [link](https://expensify.slack.com/archives/C01GTK53T8Q/p1634927350050200)

[2021-11-23 17:50] mallenexpensify commented on #6418
Nice work @Beamanator !!!

[2021-11-23 17:51] parasharrajat commented on #6235
In reality, the selected item is not highlighted when focused via Tab. The border should get blue as well as this issue should be fixed.

[2021-11-23 17:51] michaelhaxhiu commented on #3189
Just to check, this is still blocked @anthony-hull?

[2021-11-23 17:54] timszot commented on #5142
Reassigned this one as I'll be going OOO.

[2021-11-23 17:55] timszot commented on #6204
Unassigning myself as I'm going OOO next week and this is merged and waiting for deploy.

[2021-11-23 17:57] NikkiWines commented on #3293
Yeah, I think if a user A deletes their first message to user B, we'd want to show the same information as we would if it was a new chat to User B and just show User B's email address.

[2021-11-23 18:06] dklymenk commented on #3293
Actually my question was about whether or not we should show email or something else when you start a new chat with a person, but your comment makes the scope even broader. I will consult the code and hopefully, come back with a solution that shows an email on both newly created chats and chats that had all their messages deleted.

[2021-11-23 18:15] roryabraham commented on #6399
WOW that's a lot of deploy blockers.

[2021-11-23 18:20] mallenexpensify commented on #5573
Paid @Santhosh-Sellavel in Upwork, $500 for job and $250 bonus for `Company Offsite` hold
Awaiting acceptance of offer from @Hanaffi to pay for reporting the issue

[2021-11-23 18:24] #5573 closed

[2021-11-23 18:28] aldo-expensify commented on #6235
Yep, agree with all that.

I looked into this when I first created the issue, but I don't remember 100%. I know that the library has some mechanism to detect that the focus changed from the text input to an element of the list to avoid closing it. The library closes the result list when the text input looses focus, but it shouldn't close when the text input goes out of focus when the focus changes

[2021-11-23 18:30] parasharrajat commented on #6235
Should we make another issue for _The border should get blue for results when they are tab focused_?

[2021-11-23 18:35] laurenreidexpensify commented on #6391
making this weekly while @kidroca works on repro steps

[2021-11-23 18:37] marcaaron commented on #4612
Does this feel like a potential `react-navigation` problem?

I'd be curious to see if there are any new developments with the web implementation of `react-navigation`. IIRC a lot of the custom logic I added this past year to fix the history was basically just hacks to get browser history to work correctly and wasn't intended to be a long term solution.

The way I see it, we _could_ double down on

[2021-11-23 18:39] aldo-expensify commented on #6235
hmm, maybe I'm miss-understanding something, but if you think the tab is working fine and adding the styles to make the blue border appear is the only thing missing, I would think that this issue is fine, and what your are saying sounds like a solution to it. Why do you think we should make a different issue?

[2021-11-23 18:40] parasharrajat commented on #4612
I have recently updated the `react-navigation` to the latest so maybe retest this issue and try out default behaviour.

[2021-11-23 18:51] isagoico opened #6436 "Chat messages are fixed top instead of bottom - Reported by: @PrashantMangukiya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Start a new conversation with a user
2. Send a message

## Expected Result:
Message should be displayed on the bottom of the conversation viewer.

[2021-11-23 18:53] OSBotify commented on #6436
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-23 18:54] isagoico commented on #6436
Non coder hunch here: Maybe this has the same source as https://github.com/Expensify/App/issues/6415 (since both are fixing content to the top 🤔)

[2021-11-23 18:56] kidroca commented on #5305
@isagoico Can we close this?

The merge request with the fix was merged a long time ago: #5307
I've logged any time spent on the hourly contract

[2021-11-23 18:57] Julesssss commented on #4910
Yeah, we should make a note on the PR so that we can pay attention to these additional version changes when testing. But if any issues arise here then don't worry, we can treat those as a separate issue.

As Stephanie said, the delay is no problem.

[2021-11-23 18:59] isagoico commented on #5305
Oh I think we're good to close this - we have not experienced this again CC @AndrewGable @mallenexpensify

[2021-11-23 19:03] Julesssss commented on #4264
Yep, unfortunately, I haven't had time to review this due to being out for that injury, then the IPO week followed by OOO time. I'm back from the 29th. Sorry for the delay @mananjadhav!

[2021-11-23 19:07] marcaaron commented on #4612
Ok so, who should do this? 😄

[2021-11-23 19:08] parasharrajat commented on #4612
**I**  will do this.

[2021-11-23 19:11] railway17 commented on #6326
I created a pull request with 2 videos (web fix was taken from my pc but desktop-fix video was taken from another pc).
I will check this issue while you review it or might be later. And will submit here why it would not work.

[2021-11-23 19:19] parasharrajat commented on #6436
Very close @isagoico. Just that it is a side-effect of a PR which caused https://github.com/Expensify/App/issues/6425

[2021-11-23 19:20] NikkiWines commented on #3293
Sorry that my answer was unclear - I think we should show the email, not something else. But also feel free to dig into it further if you like!

[2021-11-23 19:22] kavimuru opened #6438 "[$250] iOS - VBA - Unable to see dates clearly or missing altogether in company /personal info page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login with an applause.expensifail account
2. Select account workspace
3. Navigate to “connect bank account”
4. Log in with chase cr

[2021-11-23 19:23] OSBotify commented on #6438
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-23 19:25] developvsn commented on #6235
This is what we tried to say. It seems like there's no fix without changing inside the library.

@parasharrajat did you try to press `enter` when you think you select the address line from dropdown list? Because when you press `enter` it submits the form instead of entering address in the field

[2021-11-23 19:26] alex-mechler commented on #6436
Yup, @parasharrajat your hunch is right. Reverting that locally fixed the issue. https://github.com/Expensify/App/pull/6268 is the offending PR. cc @thienlnam @azimgd

[2021-11-23 19:27] dklymenk commented on #3293
Ok, so to fix the issue where it says "Comment deleted" when you create a new chat, I propose replacing
https://github.com/Expensify/App/blob/10d861328cbc2540be0ef20a9a904291a2a20e44/src/libs/actions/Report.js#L173-L178
with
[code]

This way if there are no report actions we default the LHN display to it's original behavior (showing email or phone).

Now when it comes to showing user's email if al

[2021-11-23 19:29] isagoico opened #6439 ""Add work email address" button doesn't show up and text copy is not the correct one"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create new gmail account on New Expensify App (Build 1.1.16-1)
2. Add an "OPEN" Bank Account
3. Verify the bank account is added with a button to

[2021-11-23 19:29] isagoico commented on #6439
Issue is failing PR https://github.com/Expensify/App/pull/6319

[2021-11-23 19:30] OSBotify commented on #6439
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2021-11-23 19:31] parasharrajat commented on #6235
I don't want to spend time debugging this as you are already assigned but I will take a look in my free time.

I was in the impression that currently the list items are getting focused but look like they are not.

[2021-11-23 19:35] parasharrajat commented on #6428
I would say that I already raised it here https://github.com/Expensify/App/issues/4771 but CME was not able to reproduce it at that time. Probably we can now with these steps.
So I suggest opening that issue and adding this info to that issue.

[2021-11-23 19:42] aldo-expensify commented on #6235
Yeah, sounds like it could happen and if that is the case, we would have to make sure we prevent that event from bubbling up and submitting the form.

Oh @parasharrajat , sorry, I think you are right... One thing is highlighting the focused elements and the other thing is that the list remains open, I think I mainly debugged and payed attention to the list staying open problem, not the highlightin

[2021-11-23 19:48] parasharrajat commented on #6235
Yeah, I don't think we need to swap the lib. We can just identify the real bug with lib and submit a PR to their repo. It looks pretty active.

let me just debug this before making the lib culprit.

[2021-11-23 19:49] kadiealexander commented on #6158
Paid $500 for reporting and fixing, thanks @parasharrajat!!

[2021-11-23 19:49] #6158 closed

[2021-11-23 19:53] thienlnam commented on #3381
Looks like we're getting multiple regression reports caused by this PR
https://github.com/Expensify/App/issues/6436
https://github.com/Expensify/App/issues/6425

[2021-11-23 19:54] thienlnam commented on #3381
We're reverting this PR in https://github.com/Expensify/App/pull/6441

[2021-11-23 19:56] dklymenk commented on #6422
Hi, I am the author of the mentioned PR. Thanks for raising the issue, but I can't seem to reproduce it. Is there more to it than just android? Here is video from android on dev mode:

https://user-images.githubusercontent.com/64093836/143093979-44d7f5d6-7e22-4fd4-ab09-767b16678c31.mp4

[2021-11-23 19:58] johnmlee101 commented on #6424
Currently eyeing https://github.com/Expensify/App/pull/6248/files as a culprit but double checking

[2021-11-23 19:59] marcaaron commented on #6438
Two potential candidates that may have caused this regression since they deal with the date picker:

https://github.com/Expensify/App/pull/5939
https://github.com/Expensify/App/pull/6192

If I had to guess I'd say this one is more likely the cause since it's adding a `maximumDate` attribute and I have no idea what the expected behavior for that should be:

https://github.com/Expensify/App/pull/619

[2021-11-23 19:59] sketchydroide commented on #6438
If I'm not mistaken this is an iframe, not on the actual app itself

[2021-11-23 20:05] marcaaron commented on #6438
Hmm an iframe? I think it is this package [`@react-native-community/datetimepicker`](https://github.com/react-native-datetimepicker/datetimepicker) but then just shoved inside a `Popover` component here:

https://github.com/Expensify/App/blob/3ac6de49878d99173a820832652d9cde71888e5c/src/components/DatePicker/index.ios.js#L82

[2021-11-23 20:16] akshayasalvi commented on #5079
@shawnborton @iwiznia Then we agree that the WelcomeScreen will use the `SignInLayout` ?

[2021-11-23 20:22] johnmlee101 commented on #6424
Okay tested the revert locally and it fixes the regression. Assigning @parasharrajat for the time being as he's taking a look!

[2021-11-23 20:37] kadiealexander commented on #6389
I wasn't able to produce this in the production environment (it works perfectly):

https://user-images.githubusercontent.com/59587260/143100608-67fb64ce-a07c-4a29-be5f-8e1912ea7c0c.mp4

But I experienced this earlier in the staging environment so I tested creating an account in staging.new.expensify.com and experienced the issue:

https://user-images.githubusercontent.com/59587260/143103557-76f682

[2021-11-23 20:45] Julesssss commented on #6284
Merged, awaiting payment.

[2021-11-23 20:46] luacmartins commented on #6439
Discussing it here https://expensify.slack.com/archives/C03TQ48KC/p1637699458093500

[2021-11-23 20:49] kadiealexander commented on #6358
Sorry for the delay @kidroca, I've hired you in Upwork! Please go ahead with the proposal.

[2021-11-23 20:52] alex-mechler commented on #6436
Hmm, not sure why botify closed this, fix is not on staging yet

[2021-11-23 20:53] alex-mechler commented on #6425
Not sure why this was closed, its not on staging yet

[2021-11-23 20:58] marcaaron commented on #6438
Going to try to reproduce this now and see if reverting either of those PRs fixes the issue.

[2021-11-23 21:03] sketchydroide commented on #6438
Sorry for a moment I thought this was the old app, and then I understood my misunderstanding and deleted the comment shamefully

[2021-11-23 21:06] marktoman commented on #6213
@michelle-thompson Perfect.

[2021-11-23 21:09] marcaaron commented on #6438
Haha all good thanks 😂

[2021-11-23 21:13] danieldoglas commented on #6286
So, I'm working at the App for this. The logic implementation is almost done, but I just saw that we convert the value to an integer before sending it to the backend.

That means that the backend probably doesn't know where the decimal point is, and that could possibly break old.E.

I'll finish implementing it on new.E and check what happens in old.E.

[2021-11-23 21:15] thienlnam commented on #6426
Looks like this is from https://github.com/Expensify/App/issues/6426

[2021-11-23 21:22] danieldoglas commented on #6286
Ok, now I'm seeing that we actually use `* 100` or `/ 100` in multiple places when dealing with amount.

I think that the best case scenario for us would be to deal correctly with the decimal places for all currencies, but that would be a change in several places in our app code today.

Do you think the ROI is worth it @rushatgabhane?

cc: @johnmlee101

[2021-11-23 21:32] NikkiWines commented on #3293
That looks good to me @dklymenk

[2021-11-23 21:36] thienlnam commented on #6364
PR got reverted, will just have this done on the reiteration

[2021-11-23 21:36] #6364 closed

[2021-11-23 21:41] Julesssss commented on #5125
Hey @parasharrajat I forgot about this one, but I think we're awaiting a PR?

[2021-11-23 21:42] Julesssss commented on #5125
Going back to your question, I think a library PR would be ideal. But again, no worries if you run into trouble getting it reviewed.

[2021-11-23 21:44] chiragsalian commented on #6414
Fix has been deployed to staging. @kavimuru can you retest once you get the chance and close the issue if its been resolved.

[2021-11-23 21:45] marcaaron commented on #6438
Sorry. I'm not able to reproduce this at all so unsure how to continue investigating.

[2021-11-23 21:51] chiragsalian commented on #6415
Code is now on staging. @kavimuru can you retest and close the issue if its been resolved.

[2021-11-23 21:52] marcaaron commented on #6438
Need to update Xcode to test this - will look at the linked library issues - most likely there is some issue with iOS 15 and nothing wrong with any new code that we have written.

[2021-11-23 21:52] parasharrajat commented on #5125
Sorry, I forgot about this too. I will try to submit the PR asap.

[2021-11-23 21:54] Luke9389 commented on #6069
Ok, we decided not to proceed with @parasharrajat's PR above.

We want to refocus on understanding why autofocus breaks animation so you can't focus input until the animation is done. Any future proposals for this issue will need to address that rather than provide a workaround.

[2021-11-23 22:13] alex-mechler commented on #6425
@isagoico the fix was CP'd to staging. Can you have this retested?

[2021-11-23 22:14] alex-mechler commented on #6436
@isagoico the fix was CP'd to staging. Can you have this retested?

[2021-11-23 22:16] kevinksullivan commented on #6059
https://www.upwork.com/jobs/~0129cfc8254ac008fa

[2021-11-23 22:19] mallenexpensify commented on #6415
Yes, contributors get compensated $250 for fixing deploy blockers.  I'm going to auto-assign a CM via the `External` label then they can pay 7 days after there are no regressions

[2021-11-23 22:23] mallenexpensify commented on #5305
Closing! Reopen if needed

[2021-11-23 22:23] #5305 closed

[2021-11-23 22:29] mallenexpensify commented on #6326
Hi @railway17 , this is likely a better question for @deetergp who will be the one reviewing the PR.  Scott, can you take a look above plz

[2021-11-23 22:30] pecanoro opened #6450 "Testing #32409 (part3)"
QAing to https://github.com/Expensify/Web-Expensify/pull/32409

[2021-11-23 22:31] #6450 closed

[2021-11-23 22:41] luacmartins commented on #6439
Even though the PR was deployed to staging, looking at the `staging` branch, the code doesn't seem to be there. We are CP'ing the changes again and we can try QA'ing it once more.

[2021-11-23 23:02] luacmartins commented on #6439
Code is on staging, @isagoico would you mind retesting https://github.com/Expensify/App/pull/6319 please? If all looks good we can check it off the list.

[2021-11-23 23:07] luacmartins commented on #6439
Actually, I just tested it on staging and all looks good! Closing this issue and checking it off the list. Thanks!

<img width="1018" alt="Screen Shot 2021-11-23 at 4 03 01 PM" src="https://user-images.githubusercontent.com/22219519/143142802-c95011d2-c987-442f-8366-c970f442fe8f.png">

<img width="974" alt="Screen Shot 2021-11-23 at 4 06 40 PM" src="https://user-images.githubusercontent.com/222195

[2021-11-23 23:07] #6439 closed

[2021-11-23 23:30] chiragsalian commented on #6438
Looks like the issue is [reproducible on production](https://expensify.slack.com/archives/C01GTK53T8Q/p1637705429404900?thread_ts=1637704074.402300&cid=C01GTK53T8Q) so i'm removing the DeployBlockerCash label. Gonna still keep it as daily since its important to address soon.

[2021-11-23 23:42] chiragsalian commented on #6414
@laurenreidexpensify, so this is a deploy blocker and rajat helped us out with the fix. So from this [SO](https://stackoverflow.com/c/expensify/questions/8590/8591#8591) could you make sure that rajat gets paid for his work 🙂