[2022-09-30 19:44] mallenexpensify commented on #11433
Thanks @Puneet-here , I updated to the OP to inc. `blue outline at Plus icon at the left side of the composer`
@madmax330 , 99% sure this can be external.

[2022-09-30 19:44] dhairyasenjaliya commented on #11473
**Proposal**

**Cause**
- Currently component is not quite center just because we have two components (HeaderWithCloseButton + BlockingView)
- As  BlockingView is already centered but due to HeaderWithCloseButton component height, combining both components does not get actually centered view

**Fix**

- In order to fix centered `<BlockingView/>` we need to add paddingBottom same height as HeaderWi

[2022-09-30 19:48] Puneet-here commented on #11433
Sorry for the late comment but it also happens for the fab icon. When we select an option from arrow keys and press enter

[2022-09-30 19:49] tgolen commented on #11122
OK, I'm going to close this out then. If it happens again, we can reopen.

[2022-09-30 19:49] #11122 closed

[2022-09-30 19:50] mallenexpensify commented on #10725
Please accept here @dhairyasenjaliya , reopening til paid
https://www.upwork.com/jobs/~019eea3ce79f6b4622

[2022-09-30 19:53] francoisl commented on #11314
I can't reproduce on either iPhone or Android (tested mWeb and native), can someone test again now please in case something changed recently that fixed this?

I was testing on 1.2.10-1 (staging).

[2022-09-30 19:53] mallenexpensify commented on #10744
If you say so @neil-marcellini !

[2022-09-30 19:53] #10744 closed

[2022-09-30 19:57] dhairyasenjaliya commented on #10725
accepted thanks @mallenexpensify

[2022-09-30 19:57] mallenexpensify commented on #11403
Posted https://www.upwork.com/jobs/~01e005c9122cfd5420
@kevinksullivan auto-assigned to you, I'm going to be OOO for a month. Thx

[2022-09-30 20:04] mallenexpensify commented on #10725
Thanks for the quick response @dhairyasenjaliya , paid!

[2022-09-30 20:04] #10725 closed

[2022-09-30 20:12] adelekennedy commented on #11462
[internal](https://www.upwork.com/ab/applicants/1575941424736378880/job-details)
[external](https://www.upwork.com/jobs/~01a0289fcc77afb96b)

[2022-09-30 20:13] adelekennedy commented on #11406
If we think this is the same root issue should we close this for now? @neil-marcellini @parasharrajat

[2022-09-30 20:17] marcaaron opened #11479 "[Performance] Navigating to a chat re-mounts the `ReportScreen`"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?

Inefficient React component rendering

I think the issue is by design, but seems not super great for p

[2022-09-30 20:21] mallenexpensify commented on #11164
@Christinadobrzyn  auto-assigned to you, I'm going to be OOO for a month. Thx

[2022-09-30 20:22] mallenexpensify commented on #10907
@michaelhaxhiu auto-assigned to you, I'm going to be OOO for a month. Thx

[2022-09-30 20:24] mallenexpensify commented on #11354
@kadiealexander auto-assigned to you, I'm going to be OOO for a month. Thx
@eVoloshchak can you @syedsaroshfarrukhdot 's proposal above please? https://github.com/Expensify/App/issues/11354#issuecomment-1261536595

[2022-09-30 20:26] mallenexpensify commented on #10735
I'm out for the next month, gonna leave myself assigned as CM since it's on hold and Monthly.  IF any CM actions are needed, can you please unassign me then remove/readd the `External` label? Thx

[2022-09-30 20:28] mallenexpensify commented on #10731
@puneetlath auto-assigned to you, I'm going to be OOO for a month. Thx

[2022-09-30 20:29] mallenexpensify commented on #10614
@jliexpensify auto-assigned to you, I'm going to be OOO for a month. Thx

[2022-09-30 20:30] mallenexpensify commented on #10272
@adelekennedy auto-assigned to you, I'm going to be OOO for a month. Thx

[2022-09-30 20:45] joekaufmanexpensify commented on #11429
In the meantime, going to pass to engineering to review. Also, based on this [post](https://expensify.slack.com/archives/C01GTK53T8Q/p1664378120241209?thread_ts=1663792588.717789&cid=C01GTK53T8Q), whatever solution we do decide on is going to be on hold pending completion of this [issue](https://github.com/Expensify/Expensify/issues/221853).

[2022-09-30 20:46] aneequeahmad commented on #11314
@francoisl I can reproduce on latest staging and prod. Please use google chrome on IOS to see this issue.

https://user-images.githubusercontent.com/36359331/193353672-6b1dd3d4-78d1-461a-852c-a618461b8074.mp4

[2022-09-30 20:58] michaelhaxhiu commented on #10263
Thanks for update @andrewlor. Do you think you'd be able to have an update by early next week?

[2022-09-30 21:15] tgolen opened #11481 "[$250] [Bug] Clean up confusing logic for when a report is exempt from being filtered out of the LHN"
# Problem
Coming from https://github.com/Expensify/App/pull/10863#discussion_r975881233

The logic there is confusing and difficult to reason about.

# Why is this important?
This makes the code hard to maintain.

# Solution
Simplify and extract the logic to a separate method or break down the logic into several easier-to-read booleans.

[2022-09-30 21:28] Abdallah-Ahmed-moh commented on #10950
Applied in upwork, PR will be ready in 2-3 days

[2022-09-30 21:36] mvtglobally commented on #11446
@roryabraham  Regression is completed all but Android 13 slots.

PR https://github.com/Expensify/App/pull/10395 is failing
PR https://github.com/Expensify/App/pull/11232 is failing due to https://github.com/Expensify/App/issues/11461. repro in prod checking off
PR https://github.com/Expensify/App/pull/11309 is failing due to https://github.com/Expensify/App/issues/11463. repro in prod checking off

[2022-09-30 21:40] roryabraham commented on #11446
:shipit:

[2022-09-30 21:40] #11446 closed

[2022-09-30 21:42] OSBotify opened #11485 "Deploy Checklist: New Expensify 2022-09-30"
**Release Version:** `1.2.11-4`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/10452
- [x] https://github.com/Expensify/App/pull/10827
- [x] https://github.com/Expensify/App/pull/10900
- [x] https://github.com/Expensify/App/pull/11026
- [x] https://gi

[2022-09-30 21:44] francoisl commented on #11458
Hi @chauchausoup, I'm not really understanding the proposed solution:

Could you expand a bit on it please? Also, in the Slack thread, it sounds like it was suggested [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664380551427909?thread_ts=1663949425.736709&cid=C01GTK53T8Q) that we simply not show a user's timezone if it's not set?

[2022-09-30 22:25] syedsaroshfarrukhdot commented on #11413
@sobitneupane  In PR https://github.com/Expensify/App/pull/9445 details it is mentioned the multiple submits was causing validateAndSubmitForm() to be ran multiple times, and the second time it ran, it would have this.props.userSignUp.authToken from the first request. This caused changePasswordAndSignIn() to be triggered from an invalid state and put the UI into a position where it couldn't fetch

[2022-09-30 22:44] Luke9389 commented on #11365
I think we should ask @Expensify/design if this is expected, and if not, what to do about it. I guess we could show a success message above the save button?

[2022-09-30 22:45] grgia commented on #11330
I updated staging to `1.2.11-0` and I was able to reproduce the drafted message jumping. However, I'm not sure what the expected result would be here. Should it stick to the top until a message is sent or deleted (/when chat input is cleared)?

[2022-09-30 22:54] chiragsalian commented on #9245
Unfortunately, I was still swamped the API refactors and just got done with them this week so I might be able to investigate this task next week. If not I'll look to reassign.

[2022-09-30 23:18] kavimuru opened #11486 "[HOLD for payment 2022-11-16] [$500] [BUG] - Url isn't fully visible in the tooltip reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to any chat
2. Send a long url (e.g. https://www.expensify.com/inbox?policyID=D189E4B5582EAE8D&taskID=AddWorkEmail)

[2022-09-30 23:30] kavimuru opened #11487 "[HOLD for payment 2022-11-24] [$250] [Feature Request] [mWeb] - Remove email hyperlink in user details page reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
## Problem:
The email is shown as normal text but clicking on it opens the email at gmail app

## Solution:
Remove the hyperlink from the text to match

[2022-09-30 23:31] mallenexpensify commented on #2727
I paid @azimgd $8k because I was supposed to be going OOO for a while and I wanted to get it wrapped up.
https://www.upwork.com/jobs/~01e51c349e0ee2b5c1

@lbaldy , I looked into paying you $8k as well but since the job we hired you for is 'fixed price', the only option for partial payment appeared to be to change the job price.  Which... we _could_ do then create another for $8k, I didn't want to

[2022-09-30 23:35] kavimuru opened #11488 "PAID [$250] [Bug] - error message out of screen reported by @gadhiyamanan"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. go to OldDot
2. create account
3. create free policy
4. click on it
5. go to workspace
6. connect bank account
7. Go to Works

[2022-10-01 00:31] neil-marcellini commented on #10437
Sorry this is taking so long! I battled against some flaky tests for the last two days, but I finally got that straightened out. I really think we can get the Web-PR merged on Monday, then then the [App PR](https://github.com/Expensify/App/pull/11120) will follow and fix the issue. The App PR is almost ready; I'm working my way through the author checklist.

[2022-10-01 00:32] shawnborton commented on #11365
I think we should close this because I believe this page is ripe to be revamped a bit with push to page. CC @trjExpensify

[2022-10-01 00:33] kavimuru opened #11490 "[$250] [Bug] - Second message disappear when typing second message quickly after sending 1st one reported by @puneetlath."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. send a message
2. immediately start typing another
3. after a second, everything I’m typing goes away (notice how the I disap

[2022-10-01 00:36] varshamb commented on #11487
###Proposal

Add styles.link or styles.textBlue and may be we can change cursor also.

https://github.com/Expensify/App/blob/2bef1705d5aac60c9463cc0f080155dc9925d033/src/
pages/DetailsPage.js#L155

[2022-10-01 00:50] kavimuru opened #11491 "[$250] BUG: When image is uploading, text typed in compose box disappears when image finishes uploading"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Send an image to a test account
2. Immediately after, while the image is uploading, start typing text in the compose box

##

[2022-10-01 01:23] rs181915 commented on #10523
we can also use states this way...

  this.state = {
      currentPassword: '',
      newPassword: '',
      errors: {
        currentPassword: {
          status: true /* false */,
          message: 'set error from validations for currentPassword'
        },
        newPassword: {
          status: true /* false */,
          message: 'set error from validations for newPassword'
        },

[2022-10-01 01:26] kavimuru opened #11492 "[Bug] Incorrect emojis are highlighted reported by @rushatgabhane"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open emoji picker
2. Type “a” in search
3. Try to hover first row of emojis.

## Expected Result:
Correct hovered emoji is hi

[2022-10-01 01:38] kavimuru opened #11493 "BUG: When NewDot is open on computer, getting notifications on mobile"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Have NewDot Desktop open
2. Have someone send you message
3. Observe iOS notification even though Desktop is open and foregro

[2022-10-01 01:39] chauchausoup commented on #11458
@francoisl actually two separate FRs (Feature Request) were merged here.
[FR1](https://expensify.slack.com/archives/C01GTK53T8Q/p1663949425736709)
[FR2](https://expensify.slack.com/archives/C01GTK53T8Q/p1663950270131509)

The details if of FR2 but discussion is of FR1.
Let me know if this helps your confusion.

[2022-10-01 02:25] kbecciv opened #11494 "[$250] Chat - In LHN preview there is no space between quoted text and normal text @thesahindia"
### If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat
2. Type > quoted text
3. Press shift + enter and type normal text
4. Send
5. Check the LHN if there's

[2022-10-01 03:00] melvin-bot[bot] opened #11495 "[$2000] Investigate: 💥 Crash 💥 `android.view.inputmethod.CursorAnchorInfo.<init>`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Fatal Exception: java.lang.NullPointerException
### Attempt to invoke virtual method 'int java.lang.Object.hashCode()' on a null object reference
### `CursorAnchorInfo.java line 436` `android.view.inputmethod.CursorAnchorInfo.<init>`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android

[2022-10-01 03:00] melvin-bot[bot] opened #11496 "[$250] Investigate: 💥 Crash 💥 `.getMakeDefaultPaymentOnyxData`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Cannot read property 'accountType' of undefined
### `address at index.android.bundle:1:2375631` `.getMakeDefaultPaymentOnyxData`
### Number of Crashes: 8

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.11-0

[2022-10-01 03:08] kbecciv opened #11497 "Android - Payments - app crashed after make default payment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Precondition: Add payments into your account
1. Launch the app
2. Log in with your account
3. Go to Setting - Payments
4. Select

[2022-10-01 03:15] melvin-bot[bot] opened #11498 "[$250] Investigate: 💥 Crash 💥 `L`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: JavaScriptError
### Cannot read property 'accountType' of undefined
### `main.jsbundle:1633:6153 line 1633` `L`
### Number of Crashes: 3

## Device Information
* **Platforms:** Android, iOS
* **App Versions:** `1.2.10.1`, `1.2.11-2`
* **Devices:** samsung SM-G950F 9, Apple iPhone10,1

[2022-10-01 03:52] dhairyasenjaliya commented on #11354
Hello can you also review my proposal here https://github.com/Expensify/App/issues/11354#issuecomment-1261053137

[2022-10-01 05:10] Puneet-here commented on #11490
@kavimuru, a lil misunderstanding here. It's reported by @puneetlath.

[2022-10-01 05:50] OSBotify commented on #11485
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.11-1 :rocket:

[2022-10-01 06:39] christianwen commented on #10731
@Santhosh-Sellavel the lagging is due to the `onFocus` is triggered on the `Composer` only after the screen finished mounting, so the style of the border is updated later. I believe this is already an existing behavior and not due to the above changes in this issue, in order to fix this we can further modify the following in https://github.com/Expensify/App/blob/9ff60c3a220c9d05001007b2c0dfe0d9546

[2022-10-01 06:59] chauchausoup commented on #11473
**Proposall**:

**Cause** : With reference to View, BlockingView is centered but with presence of HeaderWithCloseButton the parent DOM is not centered.
**Solution**:
We can enforce centerStyle wrapper that will center any component with respect to the browser DOM despite the associated components. Such wrapper can come handy in later stages of development too.

Wrapper CSS:
[code]

[2022-10-01 09:07] momeyman opened #11501 "Android 1600$"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-10-01 09:07] #11501 closed

[2022-10-01 10:35] mountiny commented on #11073
Also fine with that

[2022-10-01 12:35] lbaldy commented on #2727
@mallenexpensify  I am fine getting paid whole amount afterwards. Whichever is simpler and less hassle for you.

[2022-10-01 14:21] kbecciv opened #11502 "[$2000] mWeb/Chrome - Chat - The transition between chats is not smooth"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Switch between chats

## Expected Result:
The transi

[2022-10-01 14:36] kbecciv opened #11503 "[HOLD E/E#213315] Group - When creating a group/1:1 chat, a message is displayed that the group is not online"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

On hold for https://github.com/Expensify/Expensify/issues/213315

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in any a

[2022-10-01 14:37] OSBotify commented on #11503
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-01 14:50] kbecciv opened #11504 "Web - Send Money- App crashed after click on Send Money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
**Issue found when executing** https://github.com/Expensify/App/pull/10827

## Action Performed:
1. Go to staging.new.expensify.com
2. Click on the + g

[2022-10-01 14:51] OSBotify commented on #11504
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-01 14:54] muttmuure commented on #11282
I'm not sure what unnecessary focus is, but I added a new avatar and it looks fine to me.

[2022-10-01 14:54] #11282 closed

[2022-10-01 15:36] Szymon20000 commented on #11426
Are you sure that the issue with using legacy drawer is also present on Android?
I would suspect it's only problem on web based on changes here.

[2022-10-01 16:31] kavimuru opened #11505 "Bug: New tag shouldn’t be there when New message is clicked reported by@chauchausoup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat
2. Click at Mark as Unread
3. Click on New Message button

## Expected Result:
 New tag shouldn’t be there whe

[2022-10-01 16:38] kbecciv commented on #7572
@TomatoToaster @adelekennedy Issue was reproduced with build 1.2.11.1 for IOS app

https://user-images.githubusercontent.com/93399543/193419319-243b0224-103f-4143-a13b-7ac7a952b16a.MP4

[2022-10-01 17:14] vladamx commented on #11447
PR: https://github.com/Expensify/App/pull/11506#issuecomment-1264426694

[2022-10-01 17:26] mollfpr commented on #11462
### Proposal

**Root cause**
When adding the emoji from the picker, the composer is not updating the `numberOfLines` of the input. the `onChange` is not triggered when adding an emoji.

**Solution**
1. Adding new props to the composer component `shouldUpdateNumberOfLines` and `onUpdateNumberOfLines`. These props are used to trigger the update number of lines function.
2. Add new state to `ReportAc

[2022-10-01 18:30] kbecciv opened #11507 "New Room - No focus on New Room composed box after click New Room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with your account
3. Click on Fub menu
4. Click New Room

## Expected Result:
There

[2022-10-01 18:33] kbecciv opened #11508 "iOS - Login - The transition through the magic link occurs through an intermediate page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. In the email field, enter a gmail email address for a new account
3. Press continue
4. Navigate to the email i

[2022-10-01 18:37] kbecciv opened #11509 "Mange members - Deleted offline member looks crossed out."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in an any account
2. Navigate back to Workspace editor
3. Click on Manage Members
4. Kill the internet connection
5. Selec

[2022-10-01 18:38] OSBotify commented on #11509
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-01 18:42] kbecciv opened #11510 "Connect Bank Account - Unable to proceed in VBA flow after change the correct account number"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/11026

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with

[2022-10-01 18:48] kbecciv opened #11511 "[HOLD #10894][Image] mWeb/Safari -Settings - Avatar is displayed a grey color when went back online"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with [applausetester+0704sveta@applause.expensifail.com/w323052760We
3.

[2022-10-01 18:52] kbecciv opened #11512 "PAID [$500] Web - Workspace - After deleting a bank account, workspace options remain available initially"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Create a Workspace (if it has not been created befor

[2022-10-01 19:11] kbecciv opened #11513 "[$250] IOS - Search - Transaction is not smooth and missing focused when tap on search for new account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Put a new user in log in account
3. Tap Continue
4. Go back to your email and check the link for password
5.

[2022-10-01 19:48] Puneet-here commented on #11507
### Proposal

Create a function `focusRoomNameInput` and bind it
[code]
Use `onTransitionEnd` prop in `ScreenWrapper` and pass  `focusRoomNameInput`
https://github.com/Expensify/App/blob/9ff60c3a220c9d05001007b2c0dfe0d954623edb/src/pages/workspace/WorkspaceNewRoomPage.js#L144

Use ref at `RoomNameInput` like below
https://github.com/Expensify/App/blob/9ff60c3a220c9d05001007b2c0dfe0d954623edb/src/p

[2022-10-01 20:42] Puneet-here commented on #11487
### Proposal

This is only hyperlink at small screen so we don't wanna show it as blue on big screen when there's no functionality so I propose we use `withWindowDimensions` to get screenWidth and use `this.props.isSmallScreenWidth` to decide when to display text as blue
https://github.com/Expensify/App/blob/9ff60c3a220c9d05001007b2c0dfe0d954623edb/src/pages/DetailsPage.js#L145
[code]
but because

[2022-10-02 00:04] kavimuru opened #11514 "Bug: Mark as unread not being synced on web and mobile app platforms @chauchausoup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat on web
2. Press Mark as unread
3. Check mobile app LHN

## Expected Result:
Mark as unread should have been sy

[2022-10-02 00:09] kavimuru opened #11515 "[HOLD on #15212] Bug: Mark as unread state vanishes after closing the app in IOS app @chauchausoup"
**On hold for navigation improvements through https://github.com/Expensify/App/issues/11768**

If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open up IOS app
2. Open any ch

[2022-10-02 00:23] kavimuru opened #11516 "BUG: Multiple workspaces generated in web once created from IOS and web at the same time reported by @chauchausoup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Create a workspace from web and IOS at the same time

## Expected Result:
Single workspace should have been created

## Actua

[2022-10-02 02:15] sobitneupane commented on #10625
@vladamx  We need authToken to signin user to the browser if he/she is not already logged in.

@sketchydroide @chiragsalian Proposal from @vladamx with explanation in https://github.com/Expensify/App/issues/10625#issuecomment-1246475018 and code in https://github.com/Expensify/App/issues/10625#issuecomment-1263852727 first image looks good to me.

🎀👀🎀 C+ reviewed

[2022-10-02 10:01] mananjadhav commented on #11192
@Tushu17 here's the video for you after applying your proposal.

https://user-images.githubusercontent.com/3069065/193448577-6da69ca3-7a8c-4da8-9bd4-d286e21572ec.mp4

[2022-10-02 13:04] oogushikun commented on #10608
Apologies @mananjadhav for the late reply. As you've mentioned the values I passed in my previous comment are defined by react-native-animatable. The reason it's not working is because currently when passing the animation type as a string i.e 'slideInRight', the transition value is **1920** instead of **100**.

https://user-images.githubusercontent.com/23414844/193454744-5b3d3ff1-3514-4511-b82e-ed

[2022-10-02 13:05] hellohublot commented on #10428
### Proposal
**Reproducible Steps And Video:**
1. create a new workspace
2. delete the new workspace
3. go to home and click 'Concierge'
4. click navigation call button
5. submit the request call

https://user-images.githubusercontent.com/20135674/193453102-c1ea9242-99bd-4912-924e-a98544a30b67.mp4

**Solutions And Video:**

https://user-images.githubusercontent.com/20135674/193454649-62eca126-c406

[2022-10-02 13:12] kbecciv opened #11517 "mWeb/Safari -The PDF file cannot be viewed when the user is offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/w323052760We
2. Login with applausetester+0704sveta@applause.expensifail.com
3. Ki

[2022-10-02 14:35] kbecciv opened #11518 "[HOLD for payment 2022-11-02] [$250] Payments - Pressing :x: doesn't dismiss the modal @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open :expensify: at staging
2. Navigate to settings > Payments
3. Add payment method > Bank account > Go through the flow
4. S

[2022-10-02 14:38] Puneet-here commented on #11518
### Proposal
We need to use `Navigation.dismissModal` at `onCloseButtonPress`        https://github.com/Expensify/App/blob/9ff60c3a220c9d05001007b2c0dfe0d954623edb/src/pages/AddPersonalBankAccountPage.js#L133

[2022-10-02 17:40] kbecciv opened #11519 "IOS - Calendar Icon missing Date of birth field in Personal Information page (Connect to bank step 3) @dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Navigate to any workspace
3. Navigate to Connect Bank account
4. Fill All necessary details
5. React to step

[2022-10-02 17:59] kbecciv opened #11520 "UI - Border radius of attached protected pdf does not match with parent component"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Go to any conversation
3. Send password protected pdf
4. Notice blue border of protect atta

[2022-10-02 18:07] kbecciv opened #11521 "New Group/1:1 Chat - No focus in the input field after create a new group"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Login with any account
3. Click on FAB button/New Group
4. Select 2 or more users -> Create Group
5. Check tha

[2022-10-02 18:18] kbecciv opened #11522 "[$250] Searching for someone will incorrectly show a contact you've never spoken with (reported by @Puneet-here)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Log in with account A
2. Search account B > Open the chat > Logout
3. Log in with account B
4. Go to search page and try findi

[2022-10-02 18:30] kbecciv opened #11523 "Web - Selecting the Autofill popup in Add phone no on Profile page replaces the text in Profile page First name or Last name @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch web app.
2. Click on settings > profile > add phone no > click on any text-field.
3. Select autofill popup to autofill

[2022-10-02 18:57] kbecciv opened #11524 "[$250] Android/IOS - Blank screen and an error displays while trying to delete a workspace right after creating it @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Create a new workspace
3. Delete the workspace (without going back)
4. When workspace deletes, on Android, p

[2022-10-02 19:04] kbecciv opened #11525 "[HOLD for payment 2022-11-02] [$250] IOS - Keyboard field still active on selecting attachment and opens after downloading an attachment @chauchausoup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to any chat, type something.
2. Open up an attachment from same chat.
3. Again type something.
4. Download the attachment.

[2022-10-02 19:14] kbecciv opened #11526 "Chat - When sending a message to a new user, it is repeated and remains in the compose box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the App
2. Log in any account
3. Click New chat
4. Open conversation with new user
5. Send message this new user.

## Exp

[2022-10-02 19:15] OSBotify commented on #11526
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-03 01:53] thienlnam commented on #11496
cc @Justicea83 This looks like from your changes in https://github.com/Expensify/App/pull/10447

[2022-10-03 02:13] jliexpensify commented on #11472
Apologies, I got unassigned this issue so just catching up. FYI @joelbettner - when you label as External, there's no need to remove the CM person: we'll create a job in Upworks and start hiring.

[2022-10-03 02:29] jliexpensify commented on #11472
@tgolen and @thesahindia - I feel like the original GH doesn't clearly define when this checkbox should show, so I think it should be re-written.

Have we decided on only showing the picker after login, or should it be there on the login page?

[2022-10-03 02:49] kadiealexander commented on #11321
@Beamanator I was able to repro this on an asus phone with android 12, but it took quite a long message (40k characters).

[2022-10-03 02:50] kadiealexander commented on #11321
https://www.upwork.com/jobs/~01ada9667fd1d8d5a9
https://www.upwork.com/ab/applicants/1576766472536219648/job-details

[2022-10-03 02:54] quinthar commented on #11321
I am so confused, this is incredibly easy to reproduce with 100% consistency on my Pixel 5 within about 10 seconds.  Just:
1. Open the app and sign into an account (or create a new one)
2. Open any chat, even a new one
3. Just drum your fingers over the keyboard repeatedly
4. After about 10s it should hang
5. If that doesn't work, just find a long message, and hold down backspace -- then it'll qui

[2022-10-03 04:46] advaitasol9 commented on #10765
Sorry @Santhosh-Sellavel , I meant to say the padding right now is set to 0 which needs to be 12.

[2022-10-03 04:59] ctkochan22 commented on #11199
Waiting on proposals

[2022-10-03 05:30] MonilBhavsar commented on #11102
I made it internal as it was introduced by refactoring PR. But agree, we can make it external to get is resolved quickly

[2022-10-03 05:41] MonilBhavsar commented on #10516
Looks like `expensify-common` is updated with another latest merge commit and this improvement is now live on staging.

[2022-10-03 05:43] MonilBhavsar commented on #10516
I think we'll need to manually edit the title to hold for payment until regression period. cc @laurenreidexpensify

[2022-10-03 06:08] hellohublot commented on #10907
### Proposal
**Reproducible Steps And Video:**
1. click the 'Add attachment'
2. click the 'Choose from gallery' and upload
3. longPress the 'Uploading Attachment' (you can turn off or limit your network to click the button)
4. click 'Download'

https://user-images.githubusercontent.com/20135674/193510522-e4266ef2-c2bf-4e5b-a136-e04b1805c3f0.mp4

**Solution And Video:**

https://user-images.githubu

[2022-10-03 06:12] MonilBhavsar commented on #10516
I'll discuss with my team and get back to you

[2022-10-03 06:40] dhairyasenjaliya commented on #10599
@parasharrajat yup still reproduced in the latest version: v1.2.10-1

https://user-images.githubusercontent.com/47522946/193515447-087b7b13-21e1-452f-9e33-418e01f57181.mp4

[2022-10-03 06:52] #10009 closed

[2022-10-03 07:04] ctkochan22 commented on #11153
Should have a chance this week

[2022-10-03 07:04] ctkochan22 commented on #11460
Yes that sounds like a good idea

[2022-10-03 07:06] ctkochan22 commented on #11117
Should we create a job for this? The external label is on

[2022-10-03 07:07] ctkochan22 commented on #11347
Must not, I'll fix it today

[2022-10-03 07:08] ctkochan22 commented on #11329
Still waiting for proposals right?

[2022-10-03 07:08] ctkochan22 commented on #10765
@Santhosh-Sellavel Sorry hat other related issues are you investigating?

[2022-10-03 07:11] techievivek commented on #11405
I think it is just the tooltip being shown a little late or something. I am going to apply the `External` label and see if anyone can look into it.

[2022-10-03 07:11] thienlnam commented on #11176
https://github.com/Expensify/App/issues/11176#issuecomment-1263792829

[2022-10-03 07:41] MonilBhavsar commented on #11471
Not a critical bug, looking it later

[2022-10-03 07:46] NikkiWines commented on #11498
Not overdue, waiting on proposals.

[2022-10-03 07:46] NikkiWines commented on #11498
Gonna drop this to a weekly as well since it's only 1 identified crash.

[2022-10-03 07:46] thienlnam commented on #11095
cc @parasharrajat could you please check the proposals above?

[2022-10-03 07:46] thienlnam commented on #10693
Pending proposal review in https://github.com/Expensify/App/issues/11095

[2022-10-03 08:14] mountiny commented on #11449
@aimane-chnaif Feel free to raise the PR.

[2022-10-03 08:14] mountiny commented on #10181
@parasharrajat any updates?

[2022-10-03 08:28] mountiny commented on #11272
Will continue investigating this today

[2022-10-03 08:44] mountiny commented on #11301
Dylan is OOO, asking someone to handle the payments, thank you for patience

[2022-10-03 08:48] Justicea83 commented on #11454
Investigating more today!

[2022-10-03 09:00] Beamanator commented on #11341
Waiting on @Puneet-here to verify if Form can easily be used here, with no regressions

[2022-10-03 09:03] adeel0202 commented on #11282
@muttmuure I have attached the screenshot of the focus/outline on the avatar after pressing the enter key.
<img width="139" alt="Screenshot 2022-10-03 at 2 00 40 PM" src="https://user-images.githubusercontent.com/13783842/193539463-cfac8e20-5c1a-41a0-8dc6-b85e0593e2cd.png">

[2022-10-03 09:07] adeel0202 commented on #11282
But looks like it is already known and going to get fixed in [another issue](https://github.com/Expensify/App/issues/10599) so you can keep this one closed.

[2022-10-03 09:10] Beamanator commented on #11270
Looks like the error is coming from `react-native` here: https://github.com/facebook/react-native/blob/2319f75c8e63d2868ea2bb9bb75e4a0338c12e8c/ReactAndroid/src/main/java/com/facebook/react/animated/NativeAnimatedNodesManager.java#L401-L404

[2022-10-03 09:12] laurenreidexpensify commented on #11463
Not overdue, reviewing this morning

[2022-10-03 09:12] laurenreidexpensify commented on #11437
Not overdue, reviewing this morning

[2022-10-03 09:15] melvin-bot[bot] opened #11529 "[$1000] Investigate: 💥 Crash 💥 `WorkspaceResetBankAccountModal`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: JavaScriptError
### Cannot read property 'slice' of undefined
### `main.jsbundle:2745:1335 line 2745` `WorkspaceResetBankAccountModal`
### Number of Crashes: 18

## Device Information
* **Platforms:** iOS, Android
* **App Versions:** `1.1.92.0`, `1.2.6.0`, `1.2.11-2`, `1.2.12-3`, `1.2

[2022-10-03 09:18] parasharrajat commented on #9181
Seems like simple race conditions issue. Data on optionRowLHN is updated before the real data arrives on IOUBadge. There should not be much delay between these two actions
https://github.com/Expensify/App/blob/9ff60c3a220c9d05001007b2c0dfe0d954623edb/src/libs/actions/IOU.js#L56-L57.

It only happened once for me. I tested it with one account. A theory could be that.
1. User-created transaction.
2.

[2022-10-03 09:21] Beamanator commented on #11437
Yep ^ @rushatgabhane would you mind reviewing the one proposal in this issue today?

[2022-10-03 09:21] Beamanator commented on #10966
Bump @Santhosh-Sellavel

[2022-10-03 09:30] mvtglobally commented on #11485
Regression is almost completed.

Deploy Blockers
 #11503
 https://github.com/Expensify/App/issues/11504
 https://github.com/Expensify/App/issues/11509
 https://github.com/Expensify/App/issues/11526

Interim summary
PR https://github.com/Expensify/App/pull/10827 is failing due to https://github.com/Expensify/App/issues/11504
PR https://github.com/Expensify/App/pull/11026 is failing due to https://g

[2022-10-03 09:32] MonilBhavsar commented on #11423
@Santhosh-Sellavel could you please take a look at the proposals when you get chance

[2022-10-03 09:33] Beamanator commented on #11507
Looks like a good external issue 👍

[2022-10-03 09:51] mountiny commented on #10163
@mdneyazahmad Will you be able to look into this?

[2022-10-03 09:51] mountiny commented on #11392
Thank you!

[2022-10-03 09:59] mountiny commented on #11503
This is definitely caused by this refactoring: https://github.com/Expensify/App/pull/10452

Not sure now why the reportID is not accessible when the report is created as it should be in optimistic

[2022-10-03 10:15] Julesssss commented on #11513
This is pretty minor. It looks like we're opening the keyboard only to immediately dismiss it when opening the search page.

Ideally, we wouldn't attempt to open the keyboard in the first place. Let's see if we can locate a fix.

[2022-10-03 10:17] parasharrajat commented on #10599
Ok, Thanks @dhairyasenjaliya. This issue is not happening on the Firefox browser.

Back to proposals.

@dhairyasenjaliya 's proposal breaks the focus on tab navigation.
@varshamb works fine but I found that once the user closes the edit avatar page, the user is not able to set the focus back to the page.

1. Normally clicking anywhere on the profile page and then pressing tab should take the focus

[2022-10-03 10:18] Julesssss commented on #11411
Cool, given that we're unsure about the flex prop removal let's ensure we test the PR thoroughly.

[2022-10-03 10:18] parasharrajat commented on #10599
Waiting for proposals.

[2022-10-03 10:26] sobitneupane commented on #11329
Yes. Waiting for Proposals.

[2022-10-03 10:32] mountiny commented on #11503
@iwiznia The create chat/group chat commands are not refactored yet. I assume this should be resolved once these actions are optimistic hence the reportID will always be there and we should not face this issue.

Then I would say to remove the deploy blocker and wait for the refactorings to be completed. Stites is working on them now afaik and it should not take too long to complete.

[2022-10-03 10:37] NicMendonca commented on #8236
@Santhosh-Sellavel yep, will change to weekly. But whenever a new proposal is submitted, it'll change back to daily

[2022-10-03 10:40] Beamanator commented on #8005
Hmm are we able to consistently reproduce anymore? I don't have the `(1)` always there where it used to be, so let's figure out if it's still a problem & occurring for anyone first?

[2022-10-03 10:48] Beamanator commented on #11118
Still on hold

[2022-10-03 10:48] Beamanator commented on #10830
Still on hold

[2022-10-03 10:49] NicMendonca commented on #11314
Job posting: https://www.upwork.com/jobs/~01b45170184232ad51

[2022-10-03 10:52] NicMendonca commented on #11433
Job posting: https://www.upwork.com/jobs/~019538bb8e1b278a87

[2022-10-03 10:58] Beamanator commented on #10960
In doc comments we agreed this isn't needed, so closing

[2022-10-03 11:03] Tushu17 commented on #11192
@mananjadhav , I couldn't understand the problem you are trying to convey through the video. Can you explain the bug and It's repro streps?

[2022-10-03 11:04] gadhiyamanan commented on #11411
@sobitneupane [PR](https://github.com/Expensify/App/pull/11532) raised , let me know if i missed anything

[2022-10-03 11:07] mananjadhav commented on #10608
Thanks for the clarification @oogushikun. Yes you're right that the transitions are getting overwritten with `react-native-modal`.

@oogushikun's proposal here https://github.com/Expensify/App/issues/10608#issuecomment-1250098928 looks fine to be. Just that I would want to move `100` to `CONST.js`

🎀 👀 🎀 
C+ reviewed

@AndrewGable Up for your review.

[2022-10-03 11:08] laurenreidexpensify commented on #11463
https://www.upwork.com/jobs/~01948891954d6b32c7

[2022-10-03 11:09] mananjadhav commented on #10738
@puneetlath Quick bump on the above [proposal](https://github.com/Expensify/App/issues/10738#issuecomment-1258335423)

[2022-10-03 11:09] parasharrajat commented on #11507
FAB.

No one noticed it during triaging. :scream:

@Puneet-here 's [proposal](https://github.com/Expensify/App/issues/11507#issuecomment-1264463352) looking good to me.

cc: @Beamanator

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-10-03 11:10] mananjadhav commented on #10950
@Abdallah-Ahmed-moh Any updates on this for us?

[2022-10-03 11:14] laurenreidexpensify commented on #11437
https://www.upwork.com/jobs/~01b201949be1d1680f

[2022-10-03 11:15] laurenreidexpensify commented on #11390
waiting for confirmation of external label

[2022-10-03 11:19] parasharrajat commented on #11117
No proposals yet.

[2022-10-03 11:19] Beamanator commented on #11507
Makes sense to me! Idk how this was missed during triage 🤷

[2022-10-03 11:20] mananjadhav commented on #11192
After applying your proposal:

1. Open any attachment in the chat
2. Click on the + button to zoom in the image
3. Press the mouse and drag the image around.
4. Without lifting the mouse, take the cursor outside the image view to confirm image doesn't drag (your code fixes this)
5. Without lifting the mouse, take the cursor inside the image view
*6. Lift the pressed mouse key, the image zooms out

[2022-10-03 11:22] mananjadhav commented on #11336
Waiting for better proposals.

[2022-10-03 11:22] mananjadhav commented on #11389
Still looking for proposals.

[2022-10-03 11:29] #11428 closed

[2022-10-03 11:33] Gonals commented on #11164
Being a JS error, I don't think we have much ore info, right @Luke9389?

[2022-10-03 11:34] #11103 closed

[2022-10-03 11:38] Gonals commented on #10614
Setting back to weekly and removing @pecanoro

[2022-10-03 11:43] akshayasalvi commented on #11410
@shawnborton Yes, because the blue link is using `TextLink` component and hence I recommended to use `dLine` style in my proposal https://github.com/Expensify/App/issues/11410#issuecomment-1261993956.

Also for the second point do you mean replacing the red exclamation mark with the red brick road? That would mean the replacing the following line in `FormAlertWrapper`  as mentioned in the code blo

[2022-10-03 11:48] flodnv commented on #11521
@Christinadobrzyn does this make sense to you? I think maybe but I'm a bit indifferent.

[2022-10-03 11:51] mananjadhav commented on #11461
I tested this flow, but are we sure this is what we want?

I can see comments in `RequestorStep.js` which says we're explicitly sending them back to the `CompanyStep`,

[code]

[2022-10-03 11:54] trjExpensify commented on #10968
👋 I settled up with @syedsaroshfarrukhdot.

The other hire on this job is @mananjadhav, but @parasharrajat was C+. Any idea what happened there? In the meantime, I've sent Rajat an offer.

[2022-10-03 11:56] mdneyazahmad commented on #10163
@mountiny Sorry for the delay. As it does not work on native devices. I guess, it has something to do with environment variable setup. Maybe this variable is false.

https://github.com/Expensify/App/blob/6748e8a6c5363a626490e436c84ecd53df7266c6/src/CONFIG.js#L59

Could you provide me with the steps to see logs on staging app?

[2022-10-03 11:57] NicMendonca commented on #11491
Keeping my assignment for contributor management cc @cead22 (once you add `external`)

[2022-10-03 11:59] NicMendonca commented on #11059
doubled price: https://www.upwork.com/jobs/~0199b6f2d618d1d175

[2022-10-03 12:04] mananjadhav commented on #10968
I did work on an issue related to magic link and forgot password. But I don't think it is this one.

[2022-10-03 12:09] cristipaval commented on #11390
Hey @laurenreidexpensify , yes this could be marked external. What I can add is that this happens in Chrome on Android only, not reproducible on iOS.

[2022-10-03 12:11] trjExpensify commented on #11365
Yeah, agreed. I suspect the growl was deprecated with the workspace API refactors as we're moving away from growls in App.

[2022-10-03 12:12] akshayasalvi commented on #11461
**Proposal**
This is happening because in the following lines of `RequestorStep`,

https://github.com/Expensify/App/blob/6748e8a6c5363a626490e436c84ecd53df7266c6/src/pages/ReimbursementAccount/RequestorStep.js#L189-L197

We're setting the step as `CONST.BANK_ACCOUNT.STEP.COMPANY`, which we need to set it to `CONST.BANK_ACCOUNT.STEP.REQUESTOR`

But just updating the step doesn't help as the onFido

[2022-10-03 12:15] trjExpensify commented on #10968
Gotcha. Any idea which issue and contract that is? Looks like you've been paid for this one, you see.

[2022-10-03 12:18] mananjadhav commented on #10968
Yeah I found the issue. Looks like I was paid for https://github.com/Expensify/App/issues/10785 with this issue's Upwork job. I don't see any Upwork job or payment for 10785.

[2022-10-03 12:18] michaelhaxhiu commented on #11301
Stepping in to help move this to completion.

Upwork job - https://www.upwork.com/jobs/~01dfc0368aadcc8d4f

@aimane-chnaif and @adeel0202 please accept my job invite in Upwork, you both should've received an email.

[2022-10-03 12:20] adeel0202 commented on #11301
Accepted, thanks.

[2022-10-03 12:32] trjExpensify commented on #11461
Oh, interesting! 🤔 I wonder why that is? The step before Onfido is personal details, so why do we skip over that page and go back to CompanyStep instead? @kevinksullivan & @marcaaron might know as they worked on this originally, I believe.

[2022-10-03 12:38] trjExpensify commented on #10968
Got it, got it. Cool, so just waiting on @parasharrajat to accept the contract for this job and then we can close it out!

[2022-10-03 12:39] laurenreidexpensify commented on #11241
Asked in Slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664795837866269) @mountiny suggested next step is to add Eng label to move forward to External

[2022-10-03 12:44] NicMendonca commented on #10414
doubled: https://www.upwork.com/jobs/~01f21a08ef50dd0283

[2022-10-03 12:44] trjExpensify commented on #10693
@thienlnam, should this issue be on hold for that one then?

[2022-10-03 12:45] hellohublot commented on #10428
@mananjadhav
Yes, It's my mistake,
I linked the right name `deleteWorkspace` in `Policy.js#L111-L128`,
but  I copied the another wrong name `deleteWorkspaceAvatar `, I will repair my proposal,
Thank you

[2022-10-03 12:47] NicMendonca commented on #9818
doubled: https://www.upwork.com/jobs/~01b980ab45d45b1ff1

[2022-10-03 12:56] mountiny commented on #10163
That is unfortunately only internal tool.

Wondering if there is away we could debug this without this tool.

[2022-10-03 13:06] danieldoglas commented on #11512
This is indeed something that should be automatically updated. Checked and can be exported.

[2022-10-03 13:07] mdneyazahmad commented on #10163
Could we log `IS_IN_STAGING` variable to see it is indeed true and the api is hitting production server?

[2022-10-03 13:12] MariaHCD commented on #11429
Demoting priority and adding to project: https://github.com/Expensify/App/projects/2

[2022-10-03 13:16] sketchydroide commented on #11473
not overdue, we are still receiving proposals

[2022-10-03 13:19] sketchydroide commented on #11352
This is a [duplicated GH but on iOS](https://github.com/Expensify/App/issues/11402), This makes me think this is not Android specific. Changing the Details, but Closing the other one.

[2022-10-03 13:22] flodnv commented on #10907
Thanks for looking into this @hellohublot. @Santhosh-Sellavel how does this proposal sound to you? 🙏

[2022-10-03 13:22] flodnv commented on #11452
@kavimuru ?

[2022-10-03 13:24] sketchydroide commented on #11202
will set this as weekly, as there is no need to update this daily

[2022-10-03 13:25] sketchydroide commented on #11504
only saw this today

[2022-10-03 13:30] michaelhaxhiu commented on #11301
@adeel0202 is paid ✅

Just waiting on @aimane-chnaif next ⏳

[2022-10-03 13:32] kbecciv opened #11535 "Web - Connected VBA flow through the OldDot - Congrats message is not showing under Connect Bank Account option"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to OldDot and log in with account
2. Go to Setting - Account -Payments
3. Add VBA
4. Go to NewDot
5. Log in with the same a

[2022-10-03 13:46] kavimuru commented on #11452
@flodnv  This is the PR step 5 of this #11367 which is a fix of #10973. The header "Profile" should not highlight.

[2022-10-03 13:48] michaelhaxhiu commented on #11083
Doubled, fyi

[2022-10-03 13:53] michaelhaxhiu commented on #11399
https://expensify.slack.com/archives/C01GTK53T8Q/p1664805159598329?thread_ts=1663239052.415099&cid=C01GTK53T8Q

This isn't a bug, we are advertising an oldDot feature on newDot. So when you click it, we route you to oldDot.

It's not an ideal flow necessarily, but this isn't a priority to fix yet.

[2022-10-03 13:53] #11399 closed

[2022-10-03 14:05] kavimuru commented on #11312
@aldo-expensify Sorry for the late reply. Still able to repro.

https://user-images.githubusercontent.com/43996225/193597448-f04bbebd-2a1c-458f-907a-bead012be7e1.mp4

[2022-10-03 14:17] michaelhaxhiu commented on #10884
Reproduced, and boy is this weird.
![weirdaf](https://user-images.githubusercontent.com/13206896/193600105-50af842a-0cf1-438d-beef-b3c37997265a.gif)

Notice how it fails the first time, but not the second time? Also, it doesn't work consistently for all users (like I tried with lauren@expensify.com and employee.mixalis@expensify.com and it worked fine!)

https://recordit.co/WvrWKEIQwX

[2022-10-03 14:18] michaelhaxhiu commented on #10884
Note - I am posting this to Upwork as I'm fairly certain it's `external` @iwiznia.

[2022-10-03 14:22] gohar95 commented on #11415
It is probably due to list error that loop is not getting the list.lenght.
Of Second Error Might be that,
The uuid coming from firebase is explicitly not converted into string or lenght.

I will debug the code and will solve this error within 1 week.

[2022-10-03 14:45] shawnborton commented on #11410
Instead of replacing `FormAlertWrapper` with the code you mentioned, is there a way we can just reuse the red dot indicator component? cc @iwiznia @jasperhuangg for thoughts there.

[2022-10-03 14:45] shawnborton commented on #11365
Okay, then I say we just close this one out for now. Reopen if you disagree!

[2022-10-03 14:45] #11365 closed

[2022-10-03 14:49] tgolen commented on #11330
I can also reproduce the draft message jumping back to its original position. I need to think about how this should be handled. I think we want:

1. When you add a draft, the chat stays in the same place in the LHN
2. When you go to another chat, the draft report should move up to the top of the LHN
3. When you go to the draft report again, it should stay at the top of the LHN

The logic in the co

[2022-10-03 14:53] tgolen commented on #11330
@roryabraham Maybe that solution also solves your concern here:

[2022-10-03 14:55] tgolen commented on #11472
Well, I think the logic works like this:

1. The language selector is behind a beta
2. When you're logged out, you can't be in any beta
3. Therefore, the component can't be on the login page until the beta is removed (ie. open to everyone)

[2022-10-03 14:55] eVoloshchak commented on #11354
@dhairyasenjaliya's [proposal](https://github.com/Expensify/App/issues/11354#issuecomment-1261053137):
correctly identifies the root cause of the issue, thank you for thorough explanation

@syedsaroshfarrukhdot's [proposal](https://github.com/Expensify/App/issues/11354#issuecomment-1261536595):
extends on @dhairyasenjaliya's proposal, we definitely need to have this behavior for all of the TextLin

[2022-10-03 15:02] luacmartins commented on #11509
I think this is the expected behavior that we are introducing in [this PR ](https://github.com/Expensify/App/pull/10452). I asked for confirmation [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664649487788639) before closing this issue.

[2022-10-03 15:04] michaelhaxhiu commented on #10885
Cool, let's hold ⏸️ this one alongside #11111

[2022-10-03 15:05] dhairyasenjaliya commented on #11354
@eVoloshchak I think we shouldn't modify <TextLink> since this one is specific for links and i do think this works as except on external link on pressing enter here we have use case to just to enter form which is in our code base

[2022-10-03 15:06] sketchydroide commented on #11504
me and @PauloGasparSv were not able to replicate, removing the deployblocker

[2022-10-03 15:06] kbecciv opened #11536 "LHN- "You don't have access to this chat" message is not displayed after change the URL to http://staging.new.expensify.com/r/hello"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10452

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with

[2022-10-03 15:09] tgolen commented on #11472
@Beamanator Can you help us here? From looking at the code during sign out, we are no longer clearing out all of Onyx. All we're clearing out is the session key and the credentials key.

I think that's why it can show on the login page, because Onyx hasn't been cleared.

Why are we no longer clearing out Onyx? That's going to leave a bunch of stale data around.

[2022-10-03 15:10] sketchydroide commented on #11485
removing #11504 as a deploy blocker.

[2022-10-03 15:13] kevinksullivan commented on #11388
https://www.upwork.com/jobs/~011b32241123d1fcc0

Hired @sobitneupane for C+ and invited @aneequeahmad for reporting. @aimane-chnaif please apply to the job when you get a chance!

[2022-10-03 15:14] kevinksullivan commented on #11235
Not overdue, waiting on proposals.

[2022-10-03 15:17] puneetlath commented on #10289
@parasharrajat can we move this forward today? It would be nice to finish this off as it's been open for a long time.

[2022-10-03 15:17] eVoloshchak commented on #11473
@chauchausoup's [proposal](https://github.com/Expensify/App/issues/11473#issuecomment-1264267931) messes with the layout a bit (subtitle is broken into two lines instead of one) and, most importantly, crashes on mobile platforms

[2022-10-03 15:21] tgolen commented on #11472
Ah, actually, the `Onyx.clear()` is called in a different method here: https://github.com/Expensify/App/blob/7f9d0ca6ef5795118186e37f88c03f8c5723cd22/src/libs/actions/SignInRedirect.js#L31

We're saving the `preferredLocale` key so that it remains after clearing Onyx (along with two other keys), which could be what's making the language component shown?

[2022-10-03 15:22] Gonals commented on #11510
Keeping this one as Internal, as it may be refactor-related

[2022-10-03 15:22] kevinksullivan commented on #11522
https://www.upwork.com/jobs/~013dfcb838d49a2f0d

[2022-10-03 15:22] trjExpensify commented on #10968
Cool, settled up with @parasharrajat. Thanks everyone! 🎉

[2022-10-03 15:22] #10968 closed

[2022-10-03 15:26] dhairyasenjaliya commented on #11354
hello @eVoloshchak I did check that we are using the `<TextLink>` component in many pages but here if we change to `<TextLink>` to use `<TouchableOpacity>` instead of `<Text>` then basically we will be adding `<TouchableOpacity>` inside `<Text>` which I think would be the not correct way for example below are just 3 examples how we are using `<TextLink>` in different pages and we have used this co

[2022-10-03 15:30] tgolen commented on #11481
@JmillsExpensify can we get a C+ review for this, please?

[2022-10-03 15:36] sketchydroide commented on #11473
sorry, assigned the wrong person initially, fixed that now, thanks @eVoloshchak, assgined @dhairyasenjaliya

[2022-10-03 15:38] kevinksullivan commented on #11273
Hm what is your name on upwork? I will try and invite you.

[2022-10-03 15:39] kevinksullivan commented on #11273
Ah apologies @dhairyasenjaliya . It looks like I had the wrong visibility setting. You should be all set now!

[2022-10-03 15:39] kevinksullivan commented on #11291
Doubled price

[2022-10-03 15:40] joekaufmanexpensify commented on #11524
Seems like related bugs on both iOS and android.

I see this bug occurred on iOS v1.2.9-0. I just tried to reproduce on v1.2.10-1 and am not seeing this error.

I don't have an android device so asking for help reproducing!

[2022-10-03 15:41] Beamanator commented on #11472
Hmm yeah I don't see how betas wouldn't be cleared out since it looks like `Onyx.clear()` should be doing that, right?

[2022-10-03 15:41] dhairyasenjaliya commented on #11273
No issues done now :)  @kevinksullivan

[2022-10-03 15:42] #11322 closed

[2022-10-03 15:44] Beamanator commented on #11321
Hmm I'm on a Samsung Galaxy A72 and I followed your exact steps, didn't see anything hang or really slow down at all 🤷

[2022-10-03 15:47] kevinksullivan commented on #11382
Looking for proposals.

[2022-10-03 15:47] kevinksullivan commented on #11382
@Puneet-here what version are you on? I still can't reproduce.

[2022-10-03 15:48] kevinksullivan commented on #6527
Not overdue, on hold.

[2022-10-03 15:49] joekaufmanexpensify commented on #11524
[Posted](https://expensify.slack.com/archives/C03TQ48KC/p1664812112477419) for help reproducing.

[2022-10-03 15:49] luacmartins commented on #11509
Yup, the design doc confirms that this is the expected behavior - FYI @kbecciv. Closing this issue.

![Screen Shot 2022-10-03 at 9 48 52 AM](https://user-images.githubusercontent.com/22219519/193621137-1f63f375-e58e-46a5-aa1a-c22dea231a21.png)

[2022-10-03 15:49] #11509 closed

[2022-10-03 15:53] luacmartins commented on #11485
I randomly reproduced https://github.com/Expensify/App/issues/11504, but did not follow the test steps in that issue. This is the [line](https://github.com/Expensify/App/blob/2eb93effd1917f0e4400f26bfcd9aca616adcad6/src/libs/ActiveClientManager/index.js#L40) that caused the crash, which comes from [this PR](https://github.com/Expensify/App/pull/10452) in the checklist. I put up a fix [here](https:

[2022-10-03 15:54] michelle-thompson commented on #11346
Not overdue

[2022-10-03 15:56] stitesExpensify commented on #11495
logs
<img width="1254" alt="2022-10-03_09-55-54" src="https://user-images.githubusercontent.com/42391420/193622658-e95f9add-9df4-45ce-afed-5b6aad0a9cee.png">

[2022-10-03 15:58] michaelhaxhiu commented on #11301
Both paid, closing.

[2022-10-03 15:58] #11301 closed

[2022-10-03 15:59] parasharrajat commented on #10181
Monday is just started for me. I will review it asap.

[2022-10-03 15:59] trjExpensify commented on #7862
Marc & Chirag have offered some additional thoughts in [the PR](https://github.com/Expensify/App/pull/9279#issuecomment-1262997992) for going in the direction of a `Carousel` component.

[2022-10-03 16:02] roryabraham commented on #10894
There was some useful discussion in slack regarding this issue [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664654201417359). Added @kidroca's summary to the OP for context

[2022-10-03 16:03] OSBotify commented on #11485
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11539) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.11-2` :rocket:

[2022-10-03 16:04] adeel0202 commented on #11524
@joekaufmanexpensify I'm able to reproduce on the latest versions of both platforms. And apologies if the reproduction steps were not clear enough.

[2022-10-03 16:04] Julesssss commented on #10539
Hmm, I'm trying to get a C+ team member to review this improved [fix PR](https://github.com/Expensify/App/pull/10648). Does anyone know why this assigned a Contributor manager instead?

[2022-10-03 16:09] michelle-thompson commented on #11338
Not a bug, this is standard practice - let's do nothing here.

[2022-10-03 16:09] kevinksullivan commented on #11461
Hmm trying to scroll back in my DM with @marcaaron because I believe this was part of the original design since it was easier at the time. I _think_ we kick the user back to the company info step because we don't create the VBA until after a certain point, so this may have to do with that timing and the need to re-submit the info. @marcaaron can you fill in the large gaps in my explanation?

[2022-10-03 16:10] Julesssss commented on #10539
Hey @thesahindia 👋

Please review my PR here, which reverts a RN bugfix and replaces it with a native fix. Ideally, you would test on a physical Android device. But please let me know if you're not able to do this!

[2022-10-03 16:15] JmillsExpensify commented on #11481
Created the Upwork here: https://www.upwork.com/jobs/~01f59be4a13ee28103

[2022-10-03 16:20] kbecciv commented on #11504
@sketchydroide Checking with QA team, will update you shortly

[2022-10-03 16:22] sobitneupane commented on #11339
Not Overdue. Waiting related issue mentioned in https://github.com/Expensify/App/issues/11339#issuecomment-1261281560 to be fixed.

[2022-10-03 16:23] mananjadhav commented on #11461
Can you elaborate on resubmitting the info?

I did a basic test on @akshayasalvi's proposal and it seems to be working. But I haven't tested thoroughly so if there's something specific to be considered when doing this, it'll be helpful if can be linked to the issue.

[2022-10-03 16:23] aneequeahmad commented on #11402
@sketchydroide I'm not sure the other issue will fix this issue as well, because the other issue says the last digit is removed as max digit limit is reached and we shouldn't allow the user to add digit when max digit limit is reached.

[2022-10-03 16:25] grgia commented on #11330
I would agree with that solution! In that case, I'm going to move this onward and apply the external label / unassign.

[2022-10-03 16:29] kbecciv commented on #11504
Unable to reproduce it with latest build 1.2.11.2

https://user-images.githubusercontent.com/93399543/193630164-af591578-4f16-474b-92c5-e121ddc3d124.mp4

[2022-10-03 16:33] kbecciv commented on #11472
@aimane-chnaif I used couple accounts:
1. +15082211196/ Feya86Katya
2. beccivutest@gmail.com/Feya86Katya
3. applausetester+0901abb@applause.expensifail.com

[2022-10-03 16:37] elzaurov commented on #11117
It might be long string issue to exceed max length.
I will truncate strings where the crash happening as limit of max

[2022-10-03 16:37] JmillsExpensify commented on #11523
This entire part of the app is being refactored. I'm closing this issue because: 1) it's not a priority; 2) The code in this part of the app is actively being re-written; and 3) The input styles are changing completely.

[2022-10-03 16:37] #11523 closed

[2022-10-03 16:37] Justicea83 commented on #11520
This can be external

[2022-10-03 16:38] JmillsExpensify commented on #10632
Catching up on the above before exporting.

[2022-10-03 16:40] marcaaron commented on #11426
No to be clear, Android works great! It's _only_ a problem on web. But cannot seem to downgrade to the legacy drawer on web. I tried to do some debugging in the `Drawer` component and think it might be an issue with `useAnimatedStyle`, but it's the first time I've look at Reanimated so not 100% sure.

[2022-10-03 16:40] aneequeahmad commented on #11523
@JmillsExpensify, Yeah make sense. Could i ask if i'm eligible for reporting bug bonus ?

[2022-10-03 16:41] Szymon20000 commented on #11426
I found the issue and responded on slack

[2022-10-03 16:43] Szymon20000 commented on #11426
https://expensify.slack.com/files/U0395FWE6TZ/F044R9C3B7V/screenshot_2022-10-01_at_17.15.58.png

[2022-10-03 16:45] MitchExpensify commented on #11476
If anyone can lay out consistent reproduction steps we're considering paying a bounty as an experiment on this issue

[2022-10-03 16:57] mvtglobally commented on #11485
checking CP

[2022-10-03 17:02] Santhosh-Sellavel commented on #10765
@ctkochan22 Yeah, I'm C+ there too this might be related to this [issue](https://github.com/Expensify/App/issues/10283) as the scroll position is not correct for the last item in both issues but on different use cases.

[2022-10-03 17:03] marcaaron commented on #11091
@parasharrajat what do you think of the above proposal?

[2022-10-03 17:03] adeel0202 commented on #11416
@abekkala, reminder to re-open this because this is reproducible.
cc: @kbecciv

[2022-10-03 17:04] Santhosh-Sellavel commented on #11423
@Puneet-here Can you add behavior to all platforms here, thanks!

[2022-10-03 17:07] JmillsExpensify commented on #10670
Still on hold per the larger keyboard initiative.

[2022-10-03 17:08] parasharrajat commented on #11091
Thanks for the ping. I will take a look.

[2022-10-03 17:10] Santhosh-Sellavel commented on #9497
@kevinksullivan bump!

[2022-10-03 17:12] ctkochan22 commented on #11347
This should probably be put in another GH for discussion, but it could be nice to have a "PENDING" option here. Its grey'd out and when you click it, it takes you back to the VBA flow

[2022-10-03 17:12] JmillsExpensify commented on #10632
Alright, had to think on this one a bit. I'm going to export it because I think it fits squarely with WhatsApp quality, specifically polish of existing functionality. (As a general rule, I think we should avoid adding any explicit new functionality while WhatsApp quality is in effect).

[2022-10-03 17:13] marcaaron commented on #11493
Most likely `Internal` as the notifications for mobile are sent via the server.

[2022-10-03 17:13] aldo-expensify commented on #11318
@Puneet-here 👋 can you confirm if this is still happening and if you reproduce it, give me the exact steps to reproduce it? Thanks

[2022-10-03 17:15] kbecciv opened #11542 "Android - LHN - Invited user needs to re-login to be able to see active/archived announce room"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/10452

## Action Performed:
1. Go to staging.new.expensify.com and log in with

[2022-10-03 17:15] JmillsExpensify commented on #10632
Job created here: https://www.upwork.com/jobs/~01be1724c1619fb8dc

[2022-10-03 17:15] marcaaron commented on #11493
I would guess [this PR](https://github.com/Expensify/Web-Expensify/pull/33495) might have caused the regression - but not sure. @techievivek are you able to follow up here and let us know if there's a link?

[2022-10-03 17:19] tgolen commented on #11104
Still ^

[2022-10-03 17:19] akshayasalvi commented on #11410
I can do that if that's what is expected, but `FormAlertWrapper` is used on all the forms,

1.  that would require QA for all the forms.
2. `FormAlertWrapper` supports three types of messages (and DotIndicator only supports an array of Text messages):
      a. HTML messages with `RenderHTML`
      b. Messages passed in props shown as `Text`
      c. No message passed (used in Form), with default e

[2022-10-03 17:19] tgolen commented on #11104
I think the price of this should double @adelekennedy ?

[2022-10-03 17:22] davidcardoza commented on #11418
Phone numbers are showing up by design, because the phone numbers a tied to @Expensify.sms email addresses.

[2022-10-03 17:22] #11418 closed

[2022-10-03 17:24] JmillsExpensify commented on #10729
Still on hold per the larger keyboard initiative. And yes, will bump to weekly!

[2022-10-03 17:26] JmillsExpensify commented on #10755
I think that's per the new process. In any case, I'm going to double the price of this issue so that hopefully proposals start coming in.

[2022-10-03 17:27] OSBotify commented on #11485
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.11-2 has been deployed to staging :tada:

[2022-10-03 17:27] davidcardoza commented on #11518
Tested and confirmed on staging, the RHN does not close.

[2022-10-03 17:30] johnmlee101 commented on #11011
Feeling a bit lost in debugging this, going to open this up to external to help debug and solve this issue

[2022-10-03 17:30] JmillsExpensify commented on #10755
Also bumped in Slack here: https://expensify.slack.com/archives/C01GTK53T8Q/p1664818191814549

[2022-10-03 17:31] parasharrajat commented on #11091
Aha, there is a setTimeout there. A perfect example of setTimeout side effect.

There are two possible solutions. Either cancel the setTimeout or add a check for `this.textinput === true` inside the timer callback.

But cancelling the timer is better. @Ollyws's [proposal](https://github.com/Expensify/App/issues/11091#issuecomment-1259709504) looks good to me.

cc: @marcaaron

:ribbon: :eyes: :ribb

[2022-10-03 17:34] JmillsExpensify commented on #10765
I like trying to fix the scroll position issues more holistically, though perhaps for clarity, is it only happening for the delete case and pay?

[2022-10-03 17:35] JmillsExpensify commented on #10824
Given that we're still waiting for an approved proposal, I'm going to double the price of this issue.

[2022-10-03 17:38] Santhosh-Sellavel commented on #10907
@flodnv

I am good with @hellohublot's proposal. Just one more,

Here @hellohublot suggests not showing the popup until the upload is complete. Are we good with this?

I think we can just stop showing the `Download` button instead of blocking the whole popup, what do you say?

Or Do you have any other idea for handling it?

[2022-10-03 17:38] JmillsExpensify commented on #10824
[Posted](https://expensify.slack.com/archives/C01GTK53T8Q/p1664818705006809) in Slack for visibility as well.

[2022-10-03 17:39] parasharrajat commented on #10289
Yeah, sure.

[2022-10-03 17:39] JmillsExpensify commented on #10875
Still no proposals so I'm going to increase the price of the issue.

[2022-10-03 17:39] Santhosh-Sellavel commented on #10765
Yeah, exactly

[2022-10-03 17:39] stitesExpensify commented on #11353
Any thoughts @lschurr?

[2022-10-03 17:40] stitesExpensify commented on #11197
Not overdue, waiting for c+ review

[2022-10-03 17:40] stitesExpensify commented on #11084
Waiting to see if this is still reproducible

[2022-10-03 17:41] flodnv commented on #10907
I think it's ok to block the whole popup whilst it's uploading, because there isn't anything meaningful you can do, is there?

[2022-10-03 17:41] johnmlee101 commented on #11517
I don't think there's any expectation to support this, since the larger format would be taxing to store each copy locally.

[2022-10-03 17:42] adelekennedy commented on #10609
this is on hold

[2022-10-03 17:44] Santhosh-Sellavel commented on #10907
We can perform `mark as unread` while uploading attachments like we do while sending a message.

Even in the current scenario, we are showing the Delete button only after the upload is complete.

Can we check with the product/design team?

[2022-10-03 17:47] #11517 closed

[2022-10-03 17:50] JmillsExpensify commented on #10926
@Puneet-here I've created an Upwork job here and hired you: https://www.upwork.com/jobs/~012334b946691937c5. I'll circle back on payment as soon as you accept.

[2022-10-03 17:51] techievivek commented on #11493
@marcaaron Yeah, it could be related. I will have a look at it. Thanks

[2022-10-03 17:51] Santhosh-Sellavel commented on #10731
Not overdue

[2022-10-03 17:53] JmillsExpensify commented on #10939
We still haven't received proposals, and in addition, Melvin hasn't updated the issue title with the amount. I'll do both now to try and get more visibility on this one.

[2022-10-03 17:53] flodnv commented on #10907
Sure! Asked here: https://expensify.slack.com/archives/C01GTK53T8Q/p1664819628960309

[2022-10-03 17:54] jasperhuangg commented on #11335
Hey sorry for lack of response here, was out sick last week, this looks like an excellent external issue.

I just tried this on web on staging/prod with a desktop sized screen and wasn't able to reproduce, but as soon as I changed the width to a small-screen size it started to happen:

https://user-images.githubusercontent.com/31285285/193644796-8032909b-989d-472a-8d66-26aa2ce28e5b.mov

This leads

[2022-10-03 17:55] JmillsExpensify commented on #11089
Still open for proposals. Doubling this issue to try and get more proposals.

[2022-10-03 17:55] jasperhuangg commented on #11222
Sorry, was out sick last week. This should be a relatively straightforward fix.. we're duplicating the error displaying somewhere, I can look into this.

[2022-10-03 17:56] parasharrajat commented on #11095
Lol. Sorry for the delay, I wasn't working much the last few days. Reviewing it now.

[2022-10-03 17:58] jasperhuangg commented on #11329
Hey, just seeing this issue–is this actually a bug? I feel like the jump could just be the web browser being slow. This should happen for all modals if that's the case. I'm gonna drop a note in #engineering-chat to clarify.

[2022-10-03 17:59] eVoloshchak commented on #11354
I'll post a discussion on Slack in a couple of hours.
Do you have ideas on how to fix the issue with alignment on mobile?

[2022-10-03 18:05] shawnborton opened #11543 "[HOLD for payment 2022-11-04] [$250] Add Workspace name label next to room name in the chats list"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
As soon as you have multiple workspaces, it becomes impossible to decipher from a glance which rooms belong to which workspaces w

[2022-10-03 18:05] JmillsExpensify commented on #11089
Actually you know what. I can't reproduce this anymore on mWeb iPad. I'm going to try again and see if I still can't reproduce tomorrow, at which point I'll close.

[2022-10-03 18:06] dhairyasenjaliya commented on #11354
Sure will look into alignment on mobile

[2022-10-03 18:07] JmillsExpensify commented on #11176
Thanks @thienlnam. I've closed the Upwork job so I'm closing this issue now as well.

[2022-10-03 18:07] #11176 closed

[2022-10-03 18:10] mountiny commented on #10163
Looking into this

[2022-10-03 18:10] muttmuure commented on #11430
Reproduced on my workspace. Seems like standardized behavior we want everywhere.

[2022-10-03 18:11] JmillsExpensify commented on #11192
Still working through the ideal proposal.

[2022-10-03 18:13] thesahindia commented on #10539
Hey @Julesssss, it will take me a few hours. I had to reset my mac, it was acting funny😓

[2022-10-03 18:21] marcaaron commented on #8005
Yes, it still happens.

[2022-10-03 18:21] JmillsExpensify commented on #11196
Gotcha, so this is more of a product/design preference. I wouldn't call this a bug. I personally think this is fine and not a priority, so I'm included to close this issue. Further, we're going to redo this entire flow soon. Curious if you agree on closing @shawnborton @michelle-thompson?

[2022-10-03 18:21] marcaaron commented on #8005
I have a PR to fix it if you want to look @Beamanator https://github.com/Expensify/App/pull/11160

It's hacky but the issue is a browser bug and I have no better way to work around it.

[2022-10-03 18:22] trjExpensify commented on #11196
Yeah, I agree with that. @Gonals @roryabraham, aren't we going to rip out this camera component and use a new one when we get to the Scan Receipts project as well?

[2022-10-03 18:24] JmillsExpensify commented on #11223
Thanks for the quick work! While we wait for the regression period to pass, @aimane-chnaif and @rushatgabhane, can both of you apply to the Upwork job here: https://www.upwork.com/jobs/~015deb84070d50816b.

[2022-10-03 18:34] JmillsExpensify commented on #11277
Ok thanks. Still unable to reproduce since I don't have an android device. That said, I have a suspicion that this is yet another symptom of our keyboard implementation. @roryabraham do you mind confirming if you think my hunch is right? If so, I'll update the issue title, put this issue on hold, and add it to the main tracker.

[2022-10-03 18:36] Tushu17 commented on #11335
I've already reported this issue here :-
https://github.com/Expensify/App/issues/10290

[2022-10-03 18:43] quinthar commented on #11321
Just did a fresh uninstall/reinstall, created a new account, and was able to reproduce in about 15 seconds:

![image](https://user-images.githubusercontent.com/575186/193653976-f10d663f-f463-4c6d-ade5-0af26aeb6aa6.png)

The keyboard is still working in that I am still able to press keys, but the input box is hung and no new input actually goes into it.  I suspect it has something to do with saving

[2022-10-03 18:51] JmillsExpensify commented on #11316
Yes, I was able to reproduce this issue. These are my reproduction steps, which I'm going to add to the issue description above for clarity.

1. Create a workspace (or use an existing one without a bank account setup)
2. Click either `Issue Cards` or `Reimburse expenses` or `Connect bank account`
3. Enter the information up until personal information and save
4. Exit the workspace modal (X in the

[2022-10-03 18:53] Santhosh-Sellavel commented on #10352
Limited availability can't get to this sooner, so un-assigning.
@Christinadobrzyn or @Gonals  Can you assign to another C+ by re-applying the `External` label?

[2022-10-03 18:57] akshayasalvi commented on #11543
**Proposal**

We need to update the `DisplayNames` component to accept nodes instead of `Proptypes.string`.

https://github.com/Expensify/App/blob/ce740fedbcd9a8b334d3fb8e36bce76a542cb577/src/components/LHNOptionsList/OptionRowLHN.js#L162-L166

[code]

and add in styles.js:
[code]

Here's how it looks like after implementing, and I can update the styles if I get some design feedback.

![image](htt

[2022-10-03 18:59] luacmartins commented on #11427
I agree with the approach. @shawnborton do we have any mocks for the screen we should display in this case?

[2022-10-03 19:00] kavimuru opened #11547 "[HOLD for payment 2022-11-02] [$250] BUG: App crashes after signing in while trying to open profile details URL reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Launch the app on web browser, sign in as User A
2. Open User B's profile
3. Copy the URL from the address bar that contains

[2022-10-03 19:02] Santhosh-Sellavel commented on #7541
@MitchExpensify Can you remove the `HelpWanted` Label & make this weekly lets speed up this, thanks!

[2022-10-03 19:09] mvtglobally commented on #11485
Outstanding issues
PR https://github.com/Expensify/App/pull/10827 is failing due to https://github.com/Expensify/App/issues/11504. Are we ok to check off since blocker label removed
PR https://github.com/Expensify/App/pull/11026 is failing due to https://github.com/Expensify/App/issues/10524 & https://github.com/Expensify/App/issues/10510

[2022-10-03 19:09] syedsaroshfarrukhdot commented on #11354
Updated Proposal:-

To fix the issue  of vertical alignment in mobile we need to do a refactoring of PDFInfoMessage.js

Use below code snippet  in PDFInfoMessage.js

### const PDFInfoMessage = props => (
    <View
        style={styles.alignItemsCenter}

        <Icon
            src={Expensicons.EyeDisabled}
            width={variables.iconSizeSuperLarge}
            height={variables.iconSizeSu

[2022-10-03 19:11] mvtglobally opened #11548 "PR 34984 - Issue 1 - ignore it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-10-03 19:11] mvtglobally opened #11549 "PR 34984 - Issue 2 - ignore it"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-10-03 19:12] mvtglobally commented on #11548
Tagging Issue B for check here https://github.com/Expensify/App/issues/11549

[2022-10-03 19:13] mvtglobally commented on #11548
2nd time Tagging Issue B for check here https://github.com/Expensify/App/issues/11549

[2022-10-03 19:13] OSBotify commented on #11548
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-03 19:13] #11549 closed

[2022-10-03 19:30] Santhosh-Sellavel commented on #10966
@Beamanator This issue is unable to reproduce, can we verify and close this? May be I should have checked sooner to reproduce this again.

[2022-10-03 19:35] marcaaron commented on #11190
I'm guessing the `Exported` label has been deprecated and these kinds of issues are now tagged as `Internal` & `External` 🤔

[2022-10-03 19:40] syedsaroshfarrukhdot commented on #11354
@dhairyasenjaliya @eVoloshchak We don't need to replace Text with TouchableOpacity we simply need to wrap Text Component in TextLink.js with TouchableOpacity as we can't pass strings directly to TouchableOpacity in ReactNative we always need to wrap strings in Text Component first.

Otherwise, we get this error on Mobile Platforms

![Simulator Screen Shot - iPhone 13 Pro - 2022-10-04 at 00 19 02](

[2022-10-03 19:41] Santhosh-Sellavel commented on #11423
Also @MonilBhavsar Please confirm if the autofocus is expected here with the design/product team.  Autofocus creates weird keyboard issues in native I believe intentionally we don't set `autofocus`, thanks!

[2022-10-03 19:43] Santhosh-Sellavel commented on #11423
@MitchExpensify or @MonilBhavsar
Due to Limited Availability unassigning this one. Can you reapply the external label to get another C+ assigned thanks!

[2022-10-03 19:45] Santhosh-Sellavel commented on #11335
Due to Limited Availability will not be able to get this sooner so unassigning this one. Can you reapply the external label to get another C+ assigned thanks!

@michaelhaxhiu @jasperhuangg

[2022-10-03 19:57] trjExpensify commented on #10437
Thanks for persevering, Neil!

[2022-10-03 20:01] alex-mechler commented on #11241
Looks good to go to external, might be nice to get a video comparing ios to android though

[2022-10-03 20:01] dangrous commented on #11508
Hey @kbecciv could you clarify the results you're getting/expecting? Are you expecting the user not to have to set their new password? Or is the reported bug that you still see the old "magic link" page for a very short time before it shifts to the password view?

Thanks!

[2022-10-03 20:03] ajaynagwani777 commented on #11520
**PROPOSAL**

` if (html !== text) {
                const editedTag = props.fragment.isEdited ? '<edited></edited>' : '';
                const htmlContent = html + editedTag;
                return (
                    <RenderHTML
                        html={props.source === 'email'
                            ? `<email-comment>${htmlContent}</email-comment>`
                            : `<c

[2022-10-03 20:08] Santhosh-Sellavel commented on #11241
Due to Limited Availability unassigning this one. Can you reapply the external label to get another C+ assigned thanks!

[2022-10-03 20:09] mvtglobally commented on #8734
Issue not reproducible during KI retests. (Second week)

[2022-10-03 20:09] mvtglobally commented on #7185
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:10] mvtglobally commented on #10093
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:10] mvtglobally commented on #10127
Issue not reproducible during KI retests. (Fourth week)

[2022-10-03 20:11] mvtglobally commented on #10282
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:12] mvtglobally commented on #10426
Still Issue not reproducible during KI retests. (Second week)

[2022-10-03 20:12] JmillsExpensify commented on #11384
I'm unable to reproduce that exact bug, though interestingly, one thing I do see is that when clicking the the eye a couple of times we actually select the ghost text in the field below. Notice the "nueva" selected in this screenshot.

![Screen Shot 2022-10-03 at 15 09 54](https://user-images.githubusercontent.com/1127863/193669666-012500b8-ef54-4fcf-998a-1280cd9f3781.png)

Note: The blue box arou

[2022-10-03 20:12] mvtglobally commented on #9822
Issue not reproducible during KI retests. (Second week)

[2022-10-03 20:12] JmillsExpensify commented on #11384
Given that I can reproduce, I'm going to update the reproducible steps and then release this to contributors (Going to skip engineering because internally we're focused on other projects).

[2022-10-03 20:12] mvtglobally commented on #10356
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:13] mvtglobally commented on #10359
Issue not reproducible during KI retests. (Third week)

[2022-10-03 20:14] mvtglobally commented on #10524
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:16] mvtglobally commented on #10735
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:17] mvtglobally commented on #10975
Issue not reproducible during KI retests. (Second week)

[2022-10-03 20:17] mvtglobally commented on #10977
Issue not reproducible during KI retests. (Third week) Closing

[2022-10-03 20:18] mvtglobally commented on #11061
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:18] JmillsExpensify commented on #11384
Upwork job is here: https://www.upwork.com/jobs/~01bfd298096cd2d352

[2022-10-03 20:18] mvtglobally commented on #10483
Issue not reproducible during KI retests. (Third week) @chiragsalian @dylanexpensify Are we ok to close this?

[2022-10-03 20:19] JmillsExpensify commented on #11391
Moved to weekly while issue is on hold pending larger keyboard updates.

[2022-10-03 20:19] mvtglobally commented on #10847
Issue not reproducible during KI retests in Staging. (Third week)

[2022-10-03 20:20] mvtglobally commented on #10990
Issue not reproducible during KI retests. (Second week)

[2022-10-03 20:20] mvtglobally commented on #11158
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:21] mvtglobally commented on #11223
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:21] mvtglobally commented on #11227
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:21] mvtglobally commented on #11230
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:22] mvtglobally commented on #11109
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:22] ajaynagwani777 commented on #11498
@NikkiWines According to me, the issue is while transferring the balance.

In TransferBalancePage.js file, there is a code:
`PaymentMethods.saveWalletTransferAccountTypeAndID(
            selectedAccount.accountType,
            selectedAccount.methodID,
        );`

When the selected account is undefined, it might crash. There is no error handling done.

[2022-10-03 20:22] shawnborton commented on #11543
Ideally the pill should only be 20px tall, and we'll want to make sure it doesn't get cut off like it currently is.

[2022-10-03 20:22] mvtglobally commented on #11148
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:23] mvtglobally commented on #11216
Issue not reproducible during KI retests. (Second week)

[2022-10-03 20:24] mvtglobally commented on #11272
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:25] mvtglobally commented on #11334
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:25] mvtglobally commented on #11391
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:25] mvtglobally commented on #11472
Issue not reproducible during KI retests. (First week)

[2022-10-03 20:26] Puneet-here commented on #11341
Sorry, I couldn't look into it. I will test it tomorrow.

[2022-10-03 20:40] JmillsExpensify commented on #11425
Ok, I also discovered another way to reproduce this issue on Web (as well as mWeb). Reproduction steps for web

1. Open up a chat that has quite a bit of history
2. Start scrolling up quickly
3. At a certain point, you'll see the same issue. Avatars appear a dark gray, at which point they are eventually loaded.

I think this is a backend/performance issue, so I'm going to add the engineering label

[2022-10-03 20:42] Puneet-here commented on #11318
I was able to see the masked account number but couldn't find the exact step, I will let you know after testing again.

[2022-10-03 20:44] Puneet-here commented on #10926
Done, I have accepted the offer.

[2022-10-03 20:45] Luke9389 commented on #8734
noice!

[2022-10-03 20:56] parasharrajat commented on #11547
It may be because the contact does not exist on that account. I had a previous issue for this one which was closed for low priority. I will post the link later.

[2022-10-03 20:58] luacmartins commented on #11087
@cead22 I think an external contributor can work on fixing this bug. Would you be against removing the demolition label and making this external?

[2022-10-03 20:59] Luke9389 commented on #11283
@getusha can you explain what you mean by this?

From the video you recorded, it looks like the behavior is the same.

[2022-10-03 21:01] luacmartins commented on #11058
No updates yet. I'll work on it this week.

[2022-10-03 21:02] luacmartins commented on #9848
@rushatgabhane mind sharing the steps you are taking to try to reproduce this?

[2022-10-03 21:05] shawnborton commented on #11427
I think something simple like this would work?

<img width="989" alt="image" src="https://user-images.githubusercontent.com/2319350/193682418-cb4eef54-4d13-4eb7-8fc5-6af8f33e1636.png">

[2022-10-03 21:11] JmillsExpensify commented on #10926
Offer/contract paid via Upwork! Closing this one out.

[2022-10-03 21:11] #10926 closed

[2022-10-03 21:12] PauloGasparSv commented on #11425
Hey @JmillsExpensify I took a quick look but I'll reassign the engineering label so someone else can take it because I have a full plate right now : /

Adding what I found so far here:
___

While investigating this I compared the network tab between NewDot and Whatsapp.
Here is how our chat loads thumbnail images against how Whatsapp loads some images:

**NewDot**
<img width="621" alt="image" src=

[2022-10-03 21:12] shawnborton commented on #11196
Yeah, I think we can close this one personally. I agree that once we build our own camera system, we'd just reuse that here.

[2022-10-03 21:22] Luke9389 commented on #11171
no proposals yet

[2022-10-03 21:23] Luke9389 commented on #11195
Ok cool! Thanks @rushatgabhane 🙇

Go ahead and spin up a PR @mollfpr 🟢

[2022-10-03 21:25] joekaufmanexpensify commented on #11316
Just went through these steps again and I am able to follow what you listed above through step 8. However, when you click `Connect bank account` in step 8, does it bring you directly to the `Personal information` step?

For me, I go `Issue cards` > `Connect bank account` > and then I have both options of `Continue with setup` and `Start over`, which seems correct to me. Clicking `Continue with set

[2022-10-03 21:37] JmillsExpensify commented on #11316
Ah gotcha! Thanks @joekaufmanexpensify we are making progress in trying to figure this one out. So yes, I agree with this part specifically.

[2022-10-03 21:38] JmillsExpensify commented on #11316
That said, I think we still have a bug on our hands, as steps 6-8 should all take you directly to `Continue with setup`. Right now, only steps 6-7 do. Do you agree with that? If so, we can update the OP.

[2022-10-03 21:41] JmillsExpensify commented on #11196
Awesome, thanks! Closing.

[2022-10-03 21:41] #11196 closed

[2022-10-03 21:42] chiragsalian commented on #10483
Yup if its not reproducible lets close this out. Feel free to reopen or create a new issue if it resurfaces.

[2022-10-03 21:44] neil-marcellini commented on #11230
Not reproducible on dev or prod so we can close this.
![image](https://user-images.githubusercontent.com/26260477/193691434-9ecf9251-98e3-46ec-bb87-1d31b105484e.png)

[2022-10-03 21:44] #11230 closed

[2022-10-03 21:47] JmillsExpensify commented on #11458
I don't agree with the solution, so I'm removing `External` and `Help Wanted` labels.

[2022-10-03 21:49] JmillsExpensify commented on #11458
A couple of reasons why I don't like this solution:

This is not a reliable way to detect time zone. The US has six time zones for one country code, as an example

I'm not sure what this means.

[2022-10-03 21:50] puneetlath commented on #11300
@eVoloshchak what do you think of the proposal?

[2022-10-03 21:50] deetergp commented on #10555
It looks like the thread got lost here, but it sounds like @aimane-chnaif's proposal is the one we should go with. Thoughts, @parasharrajat?

[2022-10-03 21:52] JmillsExpensify commented on #11458
If we do anything, then I think the most simple solution would be to simply not show a user's timezone unless a timezone has been set (cc @trjExpensify as we chatted about this in our 1:1).

[2022-10-03 21:52] jliexpensify commented on #11067
According to @luacmartins - it looks like there wasn't actually an issue in https://github.com/Expensify/App/issues/11503? So we're not reducing @Santhosh-Sellavel 's pay here right?

[2022-10-03 21:53] aldo-expensify commented on #11425
@PauloGasparSv I think the `cache-control: no-cache` header is added when you have the checkbox `Disable cache` checked in the network tab of chrome dev tools. If I uncheck it, I don't see that header anymore. Having said that, I also think there is something preventing the avatar images from being cached

Headers without the `Disable cache`:

![image](https://user-images.githubusercontent.com/873

[2022-10-03 21:56] eVoloshchak commented on #11300
I wasn't able to fully test it yet, experiencing some weird problems (`createOption` is called multiple times, which breaks the proposed solution), still trying to figure out if it's the problem with the code or my environment.

Expect an answer in 14 hours

[2022-10-03 22:05] jliexpensify commented on #10990
Everyone's been paid, and job has been closed - thanks!

[2022-10-03 22:05] #10990 closed

[2022-10-03 22:08] #11331 closed

[2022-10-03 22:08] luacmartins commented on #11067
@jliexpensify that's correct!

[2022-10-03 22:08] aldo-expensify commented on #11497
I'm not able to reproduce the crash in staging, but I can see an error in the console that may be related:

![image](https://user-images.githubusercontent.com/87341702/193694698-e71d43e2-4466-403a-a0f7-7dd18bfccdee.png)

[2022-10-03 22:10] aldo-expensify commented on #11497
Tested with aldo@expensifail.com and with [applausetester+0901abb@applause.expensifail.com](mailto:applausetester+0901abb@applause.expensifail.com)/Feya86Katya and got the same results... no crash, but the error in the console. There is also no feedback on if the change was applied or not

[2022-10-03 22:10] PauloGasparSv commented on #11425
🤦‍♂️ thanks @aldo-expensify! 100% forgot about that!

[2022-10-03 22:11] aliahmad-997 commented on #11384
<img width="596" alt="image" src="https://user-images.githubusercontent.com/78139953/193691397-9badbeab-e33a-4869-937c-3864caddf480.png">

Able to reproduce it like this. Similarly if we click several times the eye icon it selects the "New password" text. The reason for that is eye is part of outer container, the main container. So, whenever we click many times in a container or main container by

[2022-10-03 22:11] aldo-expensify commented on #11497
The error is happening around here:

![image](https://user-images.githubusercontent.com/87341702/193695191-d1cf1516-6842-4e60-89da-7928b281535e.png)

[2022-10-03 22:12] joekaufmanexpensify commented on #11316
Hm, should `Reimburse expenses` and `Issue cards` go directly to `Continue with setup`?

I was thinking they don't be design, as there's relevant information on the intermediary step for both. For `Reimburse expenses`, it's accessing the mileage rate, etc. And for `Issue cards`, it's viewing benefits about the Expensify Card.

I agree that step 7 in your list is expected though, as that's a more d

[2022-10-03 22:16] aldo-expensify commented on #11497
cc @Justicea83 as this may have happen because of this change: https://github.com/Expensify/App/pull/10447

[2022-10-03 22:23] PauloGasparSv commented on #11377
Hey @Luke9389! Yes I did : D

I debugged it a bit and:
1) The message is sent correctly from NewDot to Web-Expensify
2) Web-Expensify knows we are editing the message
3) Web-Expensify is sending the message content to Auth
4) Auth is returning the `html` field as an empty string to Web-Expensify
5) Web-Expensify returns that string through Onyx

And that's as far as I went. I think the problem may

[2022-10-03 22:31] grgia commented on #10524
I'm not able to reproduce the sign-on offline issue on staging/web/mobile. @neil-marcellini are you still able to? Otherwise, we can probably close out for now.
That said, I do still notice that when you log off while offline, you can't sign back in until you refresh or close/reopen the app (which I'm assuming is because of how we clear onyx values on sign-out).  This doesn't happen when you go of

[2022-10-03 22:31] aldo-expensify commented on #11320
Tested again in web mobile / web not mobile/ android and IOS, couldn't reproduce. Maybe it fails with some specific html layout. @mvtglobally do you know from where that html was copied from?

[2022-10-03 22:35] JmillsExpensify commented on #11316
Oh interesting, I hadn't considered this. I was thinking that if you had started your bank account setup and didn't finish it, that you didn't need to be sold on the card. That said, I can see your point that it's kind of debatable which is right, and that means it's not truly a bug either.

Ok so I think I'm with you then. There isn't really a bug for this flow. I'm good with closing.

[2022-10-03 22:36] JmillsExpensify commented on #11316
Whoops, mean to leave the closing to you, though also curious for Applause and @Puneet-here to chime in and see if they are still able to reproduce on 1.2.10-0.

[2022-10-03 22:37] aldo-expensify commented on #11323
Tried to reproduce today and couldn't (tested staging and prod), I guess we could close it until we have better reproduction steps (if it still happening)

[2022-10-03 22:37] luacmartins commented on #11427
That works! Thanks @shawnborton! I'll make this an external issue.

[2022-10-03 22:38] JmillsExpensify commented on #11384
Ah that's super interesting. So if this is expected behavior, is this really a bug then? I actually wasn't aware of that, and at that point given that I can't reproduce the blue outline of the eye container, I'd be even more for closing the issue at this juncture.

[2022-10-03 22:39] luacmartins commented on #11427
lol there's something weird going on with the auto-assigner. I don't think it should have assigned @puneetlath, because of [this comment](https://github.com/Expensify/App/issues/11427#issuecomment-1266144736)

[2022-10-03 22:41] JmillsExpensify commented on #11323
I also tried and am no longer able to reproduce. I like closing it for now, especially with so many unread updates having been pushed out since this issue was first reported. Anyone else re-open if you feel strongly.

[2022-10-03 22:41] #11323 closed

[2022-10-03 22:44] JmillsExpensify commented on #11320
@aldo-expensify This is a Concierge message composed in the Concierge tool. (I just checked my messages in a test account and I wasn't able to find one like this).

[2022-10-03 22:45] aldo-expensify commented on #11312
Ahhh I was missing to test this in Safari instead of Chrome 🥲 , sorry for the confusion. I was able to reproduce that CMD + SHIFT + V is not working in Safari, and maybe it never did 🤷

Labeling external!

[2022-10-03 22:57] eVoloshchak commented on #11354
Posted a question on slack
https://expensify.slack.com/archives/C01GTK53T8Q/p1664835389118829

[2022-10-03 22:58] trjExpensify commented on #11458
Yeah, additionally from the thread [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664379967141129?thread_ts=1663949425.736709&cid=C01GTK53T8Q) this doesn't solve the problem for unvalidated email accounts that are yet to sign-in either:

So I think the problem needs to be updated to something more reflective:

**Problem:** The timeZone NVP is set to PDT by default until a user signs-in

[2022-10-03 22:58] Luke9389 commented on #11164
Asked about getting more information [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1664830276502349)

From that discussion it looks like there's something wrong with this stack trace. Still investigating...

[2022-10-03 23:15] luacmartins commented on #11058
I see this in the logs:

[code]

[2022-10-03 23:15] JmillsExpensify commented on #11458
That's pretty simple. I like that.

[2022-10-03 23:30] melvin-bot[bot] opened #11554 "[$250] Investigate: 💥 Crash 💥 `value`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: JavaScriptError
### Cannot set property 'bankName' of undefined
### `main.jsbundle:1710:2793 line 1710` `value`
### Number of Crashes: 4

## Device Information
* **Platforms:** iOS
* **App Versions:** `1.2.11.1`
* **Devices:** Apple iPhone14,2 16.0.2

## Stacktraces
<details>
<summary

[2022-10-03 23:42] neil-marcellini commented on #10437
I'm waiting on one last approval on the Web-PR and the App PR is also up for review now.

[2022-10-03 23:47] aldo-expensify commented on #11320
@JmillsExpensify thanks, I didn't consider that. I tested sending some copy/pasted html message from wikipedia, with links and lists, and the look fine.

<img width="200" alt="image" src="https://user-images.githubusercontent.com/87341702/193705344-6ca6af71-fc10-471a-88b0-283e8d6ce766.png">

I looked for some of the text we can see in the message from the screenshots of the GH issue, but I couldn'

[2022-10-03 23:47] jliexpensify commented on #11312
Posted

Intenral - https://www.upwork.com/ab/applicants/1577082589604179968/job-details
External - https://www.upwork.com/jobs/~018f5420dd5647ca64

invited @mananjadhav

[2022-10-04 00:03] neil-marcellini commented on #11406
I'm fine with that, or we could make it weekly. Whenever the other issue gets fixed we should retest this one.

[2022-10-04 00:27] neil-marcellini commented on #10765
I don't think #10283 is related to this since I believe the root cause there is about the content changing size and here the chats do not change size. I think @advaitasol9 might be on the right track.

[2022-10-04 00:33] mollfpr commented on #11195
@rushatgabhane @Luke9389 Thanks! Could you assign this to me?

[2022-10-04 00:49] cead22 commented on #11087
Not at all, go for it

[2022-10-04 01:33] wildan-m commented on #10426
@mvtglobally, Its size does not change now, but it will move when the left side overflows. Is that expected behavior? Please watch my video here:

https://user-images.githubusercontent.com/11847279/192677258-84a56267-b05e-4f91-9861-3ed93696580e.mp4

[2022-10-04 01:46] dhairyasenjaliya commented on #10555
@deetergp I think you are referring to my proposal along with removing autoCorrect from secureText inputs to avoid blue opacity and also there is no purpose for adding autoCorrect into password fileds

Cc @parasharrajat can you check if this works for removing autoCorrect from secureText inputs https://github.com/Expensify/App/issues/10555#issuecomment-1255802598

[2022-10-04 02:16] Christinadobrzyn commented on #11521
- I can't reproduce this on the web app

![2022-10-04_09-55-12 (2)](https://user-images.githubusercontent.com/51066321/193719117-c3381359-bcef-47f3-96cc-4ee14c05935f.gif)

- There are several open GHs about focus on the mobile app (although not this issue specifically)

https://github.com/Expensify/App/issues/10414
https://github.com/Expensify/App/issues/11507

I think we can close this and come b

[2022-10-04 02:34] kavimuru opened #11555 "Chat - "Don't have access to this chat" page is shown for a brief moment while creating a new chat reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1.  Search new user
2.  Tap on the contact

## Expected Result:
Don't have access to this chat" shouldn't be shown

## Actual Re

[2022-10-04 02:34] OSBotify commented on #11555
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-04 02:35] jliexpensify commented on #11315
@srikarparsi bump - although i think he may have weighed in earlier?

[2022-10-04 02:39] jliexpensify commented on #10905
Doubled - https://expensify.slack.com/archives/C01GTK53T8Q/p1664851140216699

[2022-10-04 02:40] jliexpensify commented on #8035
Hi @MonilBhavsar - any updates here?

[2022-10-04 02:51] kadiealexander commented on #11435
https://www.upwork.com/ab/applicants/1577129093647826944/job-details
https://www.upwork.com/jobs/~01f4fd557a7182129c

[2022-10-04 03:00] kadiealexander commented on #11386
With that in mind, @thesahindia are you happy with @Puneet-here's proposal?

[2022-10-04 03:11] stephanieelliott commented on #9545
Thanks for checking into it @aldo-expensify, if it didn't cause the regression I suppose we just pay it out as normal.

@0xaim can you please grab the job on Upwork? We'll need you to do this in order to issue payment. https://www.upwork.com/jobs/~01d8e5aee09ed40c32

[2022-10-04 03:16] stephanieelliott commented on #11088
@marcochavezf have you checked out the updated propsal in https://github.com/Expensify/App/issues/11088#issuecomment-1261309929?

[2022-10-04 03:18] stephanieelliott commented on #11414
Posted to Upwork: https://www.upwork.com/jobs/~01f78d3df2e9e52ada

[2022-10-04 03:25] stephanieelliott commented on #11495
Posted to Upwork: https://www.upwork.com/jobs/~01587d19701b97cba2

[2022-10-04 03:28] #11090 closed

[2022-10-04 03:34] MitchExpensify commented on #11529
[Upwork Job](https://www.upwork.com/jobs/~01748846998c29a658)

[2022-10-04 03:42] MitchExpensify commented on #11411
[Upwork Job](https://www.upwork.com/jobs/~0115986e6067b7ce58)

[2022-10-04 03:46] hellohublot commented on #10428
### Proposal Updated For
https://github.com/Expensify/App/issues/10428#issuecomment-1264639252

**Solutions:**

_Solution B:_
https://github.com/Expensify/App/blob/9ff60c3a220c9d05001007b2c0dfe0d954623edb/src/libs/actions/Policy.js#L111-L128

The user's workspace has been deleted, but the `lastAccessedWorkspacePolicyID` is still exists in onyx, we should reset the `lastAccessedWorkspacePolicyID`

[2022-10-04 03:50] akshayasalvi commented on #11315
Yeah he kind off approved the proposal here in this https://github.com/Expensify/App/issues/11315#issuecomment-1260025543

@jliexpensify does this still wait or should I create the PR?

[2022-10-04 03:51] #11521 closed

[2022-10-04 03:52] MitchExpensify commented on #11473
[Upwork Job](https://www.upwork.com/jobs/~019cf93d72153690d1)

[2022-10-04 03:57] akshayasalvi commented on #11543
@shawnborton Pill with 20px height.

<img width="364" alt="image" src="https://user-images.githubusercontent.com/57435789/193731051-73a7a965-32a6-4904-9060-7d65f6f5bfbf.png">

What do we do about the text overflowing when the workspace name is too long (second last row in the screenshot)

[2022-10-04 03:59] jliexpensify commented on #11315
@akshayasalvi I'd say go ahead and create the PR: it looks like Srikar pre-approved it. I'll hire you in Upworks.

cc @sobitneupane

[2022-10-04 04:15] mananjadhav commented on #10428
The revised proposal [here](https://github.com/Expensify/App/issues/10428#issuecomment-1266357718) by @hellohublot looks good to me.

cc - @chiragsalian

🎀 👀 🎀 
C+ reviewed

[2022-10-04 04:16] mananjadhav commented on #11543
@akshayasalvi's proposal here https://github.com/Expensify/App/issues/11543#issuecomment-1265892820 looks good. Will still wait for @shawnborton's comment on text overflow.

🎀 👀 🎀 
C+ reviewed

[2022-10-04 04:18] mananjadhav commented on #11435
I would request @Expensify/design help here. I've seen issues previously where the button was floating and then we docked it at the bottom. Floating buttons hide the form controls especially in small screen devices.

I am of the opinion to close this.

cc - @shawnborton @Beamanator

[2022-10-04 04:19] mananjadhav commented on #10847
Waiting on @srikarparsi to review and merge the PR

[2022-10-04 04:20] mananjadhav commented on #11190
I got a few issues assigned yesterday which I already started reviewing. Can we please assign someone else here? @laurenreidexpensify @marcaaron

[2022-10-04 04:21] getusha commented on #11283
Take a closer look. There is no outline when you click on the name, but when you click on the checkbox there is.

[2022-10-04 04:29] dhairyasenjaliya commented on #11473
will create PR soon :)

[2022-10-04 05:21] MonilBhavsar commented on #8035
Looks like the issue is fixed!
Feel free to reopen if issue persists.

[2022-10-04 05:42] MonilBhavsar commented on #11158
Keeping it open for a while to see if we can reproduce the issue

[2022-10-04 05:43] MonilBhavsar commented on #9239
Got engaged in other priority bugs, will get back to this soon

[2022-10-04 05:45] MonilBhavsar commented on #10906
Still on hold

[2022-10-04 05:51] akshayasalvi commented on #11315
@jliexpensify @srikarparsi @sobitneupane PR raised.

[2022-10-04 05:54] MonilBhavsar commented on #11382
I also cannot reproduce the issue

[2022-10-04 06:12] adeel0202 commented on #11547
@parasharrajat, the contact does exist on that account. In fact, it crashes even when both the accounts are same. Please check the first video, both the accounts are the same in the video.

[2022-10-04 06:26] #11338 closed

[2022-10-04 06:58] nonamebmt94 commented on #11529
I'm already fixed. This issue happen when data return undefined.
Solution : To solve the error, make sure to only call the slice method on data types that implement it - arrays or strings.

[2022-10-04 07:05] Justicea83 commented on #11497
Closing this issue in favor of [this](https://github.com/Expensify/App/issues/11454).

[2022-10-04 07:05] #11497 closed

[2022-10-04 07:08] thienlnam commented on #11555
This is happening as the Onyx merge isn't complete when we try to navigate to the chat leading to a brief Not Found page.  I didn't see any of the PRs that updated this recently but this will also be fixed in the refactor https://github.com/Expensify/Expensify/issues/213315 which should be coming out soon

Going to remove the deploy blocker label since this will be fixed with the refactor PR cc @s

[2022-10-04 07:18] jayeshmangwani commented on #10905
### Proposal

we can remove this file https://github.com/Expensify/App/blob/main/src/components/FAB/index.ios.js,
as this file was added for this issue https://github.com/Expensify/App/issues/2151 and code was added in this [PR] for iPad FAB button issue. (https://github.com/Expensify/App/pull/2305/files) , but now we are using `ScreenWrapper` and under this file we are using `KeyboardAvoidingView

[2022-10-04 07:40] thesahindia commented on #11386
Yeah @Puneet-here's [proposal](https://github.com/Expensify/App/issues/11386#issuecomment-1261414468) (the first approach) looks good to me.

🎀 👀 🎀 C+ reviewed

cc: @ctkochan22

[2022-10-04 07:51] thesahindia commented on #11529
@nonamebmt94, can you post a proposal with proper code changes that you will make and links to the files where that code change is needed?
You can check the [closed issues](https://github.com/Expensify/App/labels/Awaiting%20Payment) to understand the process.

[2022-10-04 08:09] nonamebmt94 commented on #11529
**Proposal**
Solution : To solve the error, make sure to only call the slice method on data types that implement it - arrays or strings.

![Screen Shot 2022-10-04 at 15 03 33](https://user-images.githubusercontent.com/55088893/193767181-cd7fd813-eaa4-4aa1-9bf3-3eda43a80b6c.png)

[https://github.com/Expensify/App/blob/8bef6dade2acd8f16a517cee84d5e0fcbdc48a64/src/pages/workspace/WorkspaceResetBankAc

[2022-10-04 08:27] Beamanator commented on #11435
Interesting!! I thought we were planning to always go with a floating button at the bottom, would you mind trying to find those issue(s) where we decided to change that??

[2022-10-04 08:43] mananjadhav commented on #11435
I was C+ on these two issues:
- https://github.com/Expensify/App/issues/9283
- https://github.com/Expensify/App/issues/10903

[2022-10-04 08:57] youssef-lr commented on #11267
Not overdue.

[2022-10-04 08:58] mountiny commented on #11272
I can still reproduce, you have to remove the member from the chat and then sign out and sign back in
<img width="1481" alt="image" src="https://user-images.githubusercontent.com/36083550/193778443-d9b4105c-59ad-41e3-85e1-556832a41ffd.png">

[2022-10-04 08:58] youssef-lr commented on #11189
Not overdue, waiting for feedback about how to implement this. Will post in slack to discuss possible solutions.

[2022-10-04 09:00] youssef-lr commented on #11109
Will test this again today.

[2022-10-04 09:00] youssef-lr commented on #11334
Will test this again today.

[2022-10-04 09:00] mountiny commented on #11272
Assigning @Justicea83 who has kindly offered to take over this one as I got some other priorities, I am gonna help you tho with investigation as much as possible. Thanks!

[2022-10-04 09:03] mountiny commented on #11555
This one is a duplicate of a deploy blocker create previously, I will close this one in favour of the first one https://github.com/Expensify/App/issues/11503

[2022-10-04 09:03] #11555 closed

[2022-10-04 09:05] mountiny commented on #11503
This is not a deploy blocker as this is a small design issue and it will be resolved by the api refactor done by @stitesExpensify

I will put this in hold and assign you @stitesExpensify so you can then close this on out with your API refactor PR

[2022-10-04 09:07] parasharrajat commented on #10555
Yes, I am checking this.

[2022-10-04 09:10] mountiny commented on #11503
Actually I have mentioned this in the appropriate App PR to be part of the testing steps there to make sure this is fixed by those changes. Closing this

[2022-10-04 09:10] #11503 closed

[2022-10-04 09:12] hellohublot commented on #9818
### Proposal
**Reproducible Steps And Video:**
1. type 'https://new.expensify.com/hello' or 'https://staging.new.expensify.com/world'
2. send
3. click the url

https://user-images.githubusercontent.com/20135674/193771641-6538077d-1393-4ace-a5ee-591a165a76bd.mp4

**Solutions And Video:**

https://user-images.githubusercontent.com/20135674/193771747-d8be62ee-5683-4ea9-9a7c-6b21ee261cee.mp4

if the v

[2022-10-04 09:33] laurenreidexpensify commented on #11241
https://www.upwork.com/jobs/~01c693f5f951f62330

[2022-10-04 09:34] Julesssss commented on #11452
This is not a bug. There is no use case for this and it makes the button worse, as users can accidentally long press instead of just clicking it.

[2022-10-04 09:34] #11452 closed

[2022-10-04 09:38] Julesssss commented on #11241
Awaiting proposals. There's probably a prop of some sort that needs to be flipped, as this is the default behavior for Android scroll views

[2022-10-04 09:44] mountiny opened #11561 "[HOLD for payment 2022-12-20] [$500] Allow native app releases to take staging env variables into consideration"
### Problem

In this issue https://github.com/Expensify/App/issues/10163, we have implemented a setting toggle which will aim all the API commands to staging or production API (if in Staging App). However, this works only in desktop or web, but not in native mobile apps as the live logs shown.

The reason it does not work is that we always build the App only once for deploy. We just relabel stagin

[2022-10-04 09:45] mountiny commented on #10163
Alright, chatted with our App deployers and this is a problem out of scope for this one, I created a new issue to discover our options https://github.com/Expensify/App/issues/11561 and you can find context there. Thanks!

[2022-10-04 09:45] #10163 closed

[2022-10-04 09:45] Julesssss commented on #10973
FYI, I'm reverting this PR because it's not a bug. The button text should not be highlightable. Perhaps web lets you do this by default, but we should definitely be implementing logic for this, as it should not happen on mobile.

We'll still pay out the UpWork contract though.

[2022-10-04 09:45] Santhosh-Sellavel commented on #10622
@luacmartins any thoughts?

[2022-10-04 09:49] mountiny commented on #11561
I realized we have this [Staging badge or dev badge](https://github.com/Expensify/App/blob/6748e8a6c5363a626490e436c84ecd53df7266c6/src/components/EnvironmentBadge.js#L1-L30) even in the native apps so we must have some way to figure that out and the [withEnvironment HOC](https://github.com/Expensify/App/blob/6748e8a6c5363a626490e436c84ecd53df7266c6/src/components/withEnvironment.js#L1-L60)

I am

[2022-10-04 09:51] Julesssss commented on #10973
Reassigning as Matt is out this week.

[2022-10-04 09:54] Beamanator opened #11562 "OpenApp"

[2022-10-04 09:58] Beamanator opened #11563 "SetNameValuePair"

[2022-10-04 10:01] Julesssss opened #11564 "Revert issue 10973"
### Problem

[This PR](https://github.com/Expensify/App/pull/11367) was incorrectly implemented.

Button text should not be selectable on Android, if it is selectable by default on other platforms that's fine. But we should not be altering the default behavior of buttons.

### Solution

Revert the PR

[2022-10-04 10:18] Beamanator opened #11568 "Create all new Pattern A commands"

[2022-10-04 10:22] Beamanator opened #11569 "AddContactMethod"

[2022-10-04 10:23] Beamanator opened #11570 "Commands for new Contact Method Details page"

[2022-10-04 10:24] ItsJustTomDev commented on #11512
So far from what I can see is that when you disconnect your bank account, you still have access to the "issue cards" page.

https://github.com/Expensify/App/blob/18fcaf43ae69f6a9e445f586b3f90f8d582eff18/src/libs/actions/ReimbursementAccount/resetFreePlanBankAccount.js#L12

This function gets called when you disconnect your bank, so what does it do? Well it tells the API (backend) to update that th

[2022-10-04 10:25] Beamanator opened #11571 "OpenPersonalDetailsPage"

[2022-10-04 10:40] Beamanator opened #11572 "[HOLD Web-E#35315] [N7 Account Settings] Create Display Name page"
Tracking issue: https://github.com/Expensify/Expensify/issues/182122

Detailed section of doc here: https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#heading=h.do06ijqotcb0

Note: This has to be built at the same time or after the `UpdateDisplayName` command is live (see https://github.com/Expensify/Expensify/issues/238724)

[2022-10-04 10:43] Beamanator opened #11573 "[N7 Account Settings] Create Contact Methods page"
Tracking issue: https://github.com/Expensify/Expensify/issues/182122

Detailed section of doc here: https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#heading=h.e47i0f35inln

[2022-10-04 10:45] Beamanator opened #11574 "[N7 Account Settings] Create New Contact Method page"
Tracking issue: https://github.com/Expensify/Expensify/issues/182122

Detailed section of doc here: https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#heading=h.75ovxjptjj80

Note: This can only be implemented after `AddContactMethod` command has been finished - see https://github.com/Expensify/Expensify/issues/231920

[2022-10-04 10:47] Beamanator opened #11575 "[N7 Account Settings] Create Contact Method Details page"
Tracking issue: https://github.com/Expensify/Expensify/issues/182122

Detailed section of doc: https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#heading=h.vwu67pkf1q06

Note: This can only be completed after all API commands in this issue have been created: https://github.com/Expensify/Expensify/issues/231921
<details><summary>Upwork Automation - Do Not Edit</sum

[2022-10-04 10:48] Beamanator opened #11576 "[N7 Account Settings] Create Pronouns page"
Tracking issue: https://github.com/Expensify/Expensify/issues/182122

Detailed section of doc here: https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#heading=h.5n8w70bpe690

Note: This can only be implemented after `UpdatePronouns` command has been built - see https://github.com/Expensify/Expensify/issues/238724

[2022-10-04 10:50] Beamanator opened #11577 "[HOLD for payment 2022-12-15] [N7 Account Settings] Create Timezone pages"
Tracking issue: https://github.com/Expensify/Expensify/issues/182122

Detailed section of doc: https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#heading=h.734gbh8x59o1

Note: This can only be implemented after `UpdateAutomaticTimezone` and `UpdateSelectedTimezone` commands have been created (see https://github.com/Expensify/Expensify/issues/238724)

[2022-10-04 10:51] Beamanator opened #11578 "[HOLD for payment 2023-02-15] [N7 Account Settings] Create Personal Details Initial page"
Tracking issue: https://github.com/Expensify/Expensify/issues/182122

Detailed section of doc: https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#heading=h.75uqe59wzvqz

This can only be implemented after the `OpenPersonalDetailsPage` command has been completed - see https://github.com/Expensify/Expensify/issues/231917
<details><summary>Upwork Automation - Do Not

[2022-10-04 10:53] Beamanator opened #11579 "[HOLD for payment 2023-02-15] [N7 Account Settings] Create Legal Name page"
Tracking issue: https://github.com/Expensify/Expensify/issues/182122

Detailed section of doc: https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#heading=h.hz9d2221ztku

Note: This cannot be implemented until the `UpdateLegalName` command is finished - see https://github.com/Expensify/Expensify/issues/231916

[2022-10-04 10:55] Beamanator opened #11580 "[HOLD for payment 2023-02-15] [N7 Account Settings] Create Date of Birth page"
Tracking issue: https://github.com/Expensify/Expensify/issues/182122

Detailed section of doc: https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#heading=h.76axa86bvakz

Note: This can not be completely implemented until the `UpdateDateOfBirth` command has been implemented - see https://github.com/Expensify/Expensify/issues/231916

[2022-10-04 10:56] Beamanator opened #11581 "[HOLD for payment 2023-02-15] [N7 Account Settings] Create Home Address page"
Tracking issue: https://github.com/Expensify/Expensify/issues/182122

Detailed section of doc: https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#heading=h.yq9k2fsi0uy6

Note: This cannot be completely implemented until the command `UpdateHomeAddress` has been created - see https://github.com/Expensify/Expensify/issues/231916

[2022-10-04 10:58] Beamanator opened #11582 "[HOLD #11578] [N7 Account Settings] Hook up rest of new pages to Profile page"
Tracking issue: https://github.com/Expensify/Expensify/issues/182122

Detailed section of doc here: https://docs.google.com/document/d/17akqrbC-w8FqEoDLvcLmrX6iw4uaVrT_xlwAl-IhEzE/edit#heading=h.jl7alj505ji8

Note: Holding on completely implementing some of the new profile pages. Some of them were included in WAQ project and hooked already. See [this issue](https://github.com/Expensify/App/issues/

[2022-10-04 10:59] nonamebmt94 commented on #11554
Proposal:
This constant can be returned undefined so it cannot be set a value.
const selectedPlaidBankAccount = _.findWhere(this.getPlaidBankAccounts(), {plaidAccountID});

**Solution**:
Check undefined before set value.
![Screen Shot 2022-10-04 at 17 55 37](https://user-images.githubusercontent.com/55088893/193801854-342a6f89-b534-4383-ac0d-ca3ed5a86022.png)

https://github.com/Expensify/App/blob

[2022-10-04 11:05] iwiznia commented on #11511
Sorry, which avatar is showing grey?

[2022-10-04 11:24] iwiznia commented on #11410
hmmmm besides the points made above, the behavior also feels quite different for both components, so not sure if unifying them is good.

[2022-10-04 12:17] youssef-lr commented on #10148
I think this might be related to this issue https://github.com/Expensify/App/issues/11526

[2022-10-04 12:17] ahmdshrif commented on #10148
I report this issue before https://github.com/Expensify/App/issues/7473

[2022-10-04 12:20] sketchydroide commented on #11061
Thanks @mvtglobally.
@arielgreen if we have no takers, we might be able to close it if QA continues to no reproduce it.

[2022-10-04 12:23] parasharrajat commented on #10555
Ok, tested it. @dhairyasenjaliya 's [proposal](https://github.com/Expensify/App/issues/10555#issuecomment-1255802598) looks good if we don't want the autoCorrect for password inputs which I think is fine.

Based on the slack conclusion, we don't have to worry about the cursor position so we don't need a complex solution.

cc: @deetergp

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-10-04 12:35] mountiny commented on #10359
I think I will go ahead and close this issue out, the reproduction steps are not reliable and the issue is very low ROI.

We are trying to focus on bigger issues related to performance to make the native apps more usable so this one is just distracting.

@NicMendonca I think we can go ahead and pay Rajat the compensation bonus for reporting, but we never been able to reliably face this issue.

[2022-10-04 12:36] mountiny commented on #11511
Waiting fro proposals

[2022-10-04 12:54] parasharrajat commented on #9402
Even, I am not sure where we are landed on this. It seems that we discussed not to do https://github.com/Expensify/App/issues/9402#issuecomment-1172569896 in the above comments.

If we are looking to do https://github.com/Expensify/App/issues/9402#issuecomment-1237932342, then it would be good to set a framework to save any attachments instead of just images. Then https://github.com/Expensify/App/

[2022-10-04 13:03] mananjadhav commented on #10973
Thanks @Julesssss for the info. Any specific reason we don't want the text to be selectable?

[2022-10-04 13:22] mountiny commented on #10163
Idk I think this was hard to test and catch in the PR as the contributor and C+ could not expect that the native release will not consider the env variables. I would not treat this as regression because of that circumstances and having a new issue to explore solutions to this which might not be trivial seems fair to me (and also clearer than to reopen this one).

[2022-10-04 13:22] Julesssss commented on #10973
It's just bad mobile UX. The benefit of having selectable text is minimal, and the downside is that users will occasionally see a context menu if they hold the button when they simply want to press a button.

Notice that almost no app lets you do this on mobile. It does seem common on web though

[2022-10-04 13:24] joekaufmanexpensify commented on #11316
Sounds good, thanks!

[2022-10-04 13:36] MonilBhavsar commented on #11423
We discussed internally and in this particular case we want to set the autoFocus, so we're open to proposals!

[2022-10-04 13:40] Beamanator commented on #11437
Makes sense to me @rushatgabhane

[2022-10-04 13:42] Beamanator commented on #10966
I also can't reproduce, thanks for the notice, both! Closing

[2022-10-04 13:42] #10966 closed

[2022-10-04 13:53] trjExpensify commented on #11447
PR is in active review.

[2022-10-04 14:02] mananjadhav commented on #10973
Thanks for the clarification.

[2022-10-04 14:08] michaelhaxhiu commented on #10516
asdfaRajat I’m confused by your latest comment - was it for @Rushat or me?
Rajat I’m confused by your latest comment - was it for @Rushat or me?
Rajat I’m confused by your latest comment - was it for @Rushat or me?
Rajat I’m confused by your latest comment - was it for @Rushat or me?

[2022-10-04 14:12] twisterdotcom commented on #11524
This happened on my pixel 6a, on v1.2.10-1, account: twisterdotcom@gmail.com

https://user-images.githubusercontent.com/9133401/193842325-72473207-b544-4ba0-ae22-f2dbd1b78673.mp4

[2022-10-04 14:17] parasharrajat commented on #11095
Thanks for waiting everyone. I have done my analysis. |

 @sobitneupane's proposal will fire a focus event on each state change which is not a good idea. :x:
 @varshamb 's proposal is incomplete :x:

 @aimane-chnaif good explanation but missing a few details or cases. Questions:
 1. I think autofocus will open the V-keyboard on the mobile web which we don't want for this page.
 2. How will you acc

[2022-10-04 14:20] shawnborton commented on #11410
Got it. I'm mostly just saying that the exact style/format of the red dot indicator with message should be used here, so maybe there is a way to DRY it up. Either way works for me though, but from a design standpoint, they should look the same.

[2022-10-04 14:22] Puneet-here commented on #11423
Safari macOS:

https://user-images.githubusercontent.com/101883770/193843212-4d171439-493c-44d9-b1ef-0f85db8fb700.mov

Safari Ios:

https://user-images.githubusercontent.com/101883770/193843223-c8f41a38-7535-4513-9a63-41c494c23630.mov

We can also use `shouldDelayFocus` to be on the safer side.

[2022-10-04 14:25] parasharrajat commented on #10693
Reviewed the other issue https://github.com/Expensify/App/issues/11095. I think may be another regression from https://github.com/Expensify/App/pull/10147 or a missed test case during the review.

But the reprodcution of this issue is not covered in https://github.com/Expensify/App/issues/11095.

[2022-10-04 14:25] eVoloshchak commented on #11554
I think you are definitely right about the early return since we might have problems when passing `undefined` to `this.props.onSelect`

I _personally_ feel like showing the user an error would be the way to go, but I don't know what's the policy on that, do we need to show alert on every error or some of them can be silent?

But my main question is:
**Why is it even possible to select a bank accou

[2022-10-04 14:27] parasharrajat commented on #10181
Still busy with other stuff. I will keep you posted here.

[2022-10-04 14:31] sketchydroide commented on #11554
Looking at the code, [options](https://github.com/Expensify/App/blob/18fcaf43ae69f6a9e445f586b3f90f8d582eff18/src/components/AddPlaidBankAccount.js#L127) for the picker and the [list of accounts](https://github.com/Expensify/App/blob/18fcaf43ae69f6a9e445f586b3f90f8d582eff18/src/components/AddPlaidBankAccount.js#L118) when one of them is selected come from one place - [getPlaidBankAccounts](https:/

[2022-10-04 14:37] joekaufmanexpensify commented on #11524
awesome, thanks @twisterdotcom! So this can be reproduced on both iOS and android using [these steps](https://github.com/Expensify/App/issues/11524#issuecomment-1265666971).

[2022-10-04 14:43] oogushikun commented on #10608
Applied on upwork. It'll take me a day(after being approved) to create the PR.
Thanks 😃

[2022-10-04 14:43] sobitneupane commented on #11266
Expecting it to be fixed along with https://github.com/Expensify/App/issues/11125#issuecomment-1261844523 as both look similar.

[2022-10-04 14:45] MonilBhavsar commented on #11423
Sorry, forgot to mention. In this particular case, we also want keyboard to open on Mobile devices when the field is auto focussed.

[2022-10-04 14:49] sketchydroide commented on #8710
I think most of the refactor is done, we can see again if it makes sense to do this now.

[2022-10-04 15:02] eVoloshchak commented on #11300
@Ollyws, your proposal doesn't work for me, but you've correctly identified the root cause of the problem

1. Correct me if I'm wrong, but [createOption](https://github.com/Expensify/App/blob/1ff9206ec817a44a368125fec9910bfd75ce0157/src/libs/OptionsListUtils.js#L239) function is not the one responsible for `alternateText` for LNH. [getOptionData](https://github.com/Expensify/App/blob/1ff9206ec817a

[2022-10-04 15:07] flodnv commented on #10163
It looks like the QA steps of [the PR](https://github.com/Expensify/App/pull/10690) were wrong (should've been verified by an engineer). I suppose it's fine to open a new issue, but I don't think it's fair to say that this was out of scope when it's in the title of the issue.

[2022-10-04 15:13] shawnborton commented on #11543
I think we should truncate the workspace name inside of the pill, and keep the full pill visible (not cut off like it is currently shown):
<img width="1137" alt="image" src="https://user-images.githubusercontent.com/2319350/193857519-68d04194-2264-471b-8385-930275586d40.png">

Also, the bottom of the pill is cut off in your screenshots too so we'll need to address that one as well.

[2022-10-04 15:29] stephanieelliott commented on #11514
Was able to repro!

[2022-10-04 15:29] mountiny commented on #10163
I agree I should have made sure the iOS/Android is thoroughly tested instead of just assuming it will work if the web/desktop works.

What I mean is more like I dont want to throw this back to the contributor or treat it as regression given it was my, C+ and QA mistake to not think of testing this on native platforms. I dont think the contributor should be penalized in any way for my mistake, alth

[2022-10-04 15:39] stephanieelliott commented on #11492
The hover is off, but the emoji selection is accurate. I'm gonna close this as low value but we may reopen in the future!

[2022-10-04 15:39] #11492 closed

[2022-10-04 15:40] mallenexpensify commented on #11493
Dropped this in [the Slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1664897756780179?thread_ts=1664405862.076509&cid=C01GTK53T8Q)

I know it was happening for Deeter too.

I added this issue to[ the RCA Sheet](https://docs.google.com/spreadsheets/d/1u73RE8J1DdX3mDohV1RXgulF6_cke3N_a15Sk-UUdQo/edit#gid=0&range=F7) for "Reported bug GH issue link" @techievivek , if we find the root

[2022-10-04 15:40] akshayasalvi commented on #11543
Can you tell me the max width for the pill? I'll update it.

Yeah I can work with it on the PR

[2022-10-04 15:44] akshayasalvi commented on #11410
So what is expected here @iwiznia @shawnborton ? Are we good with the red dot indicator here https://github.com/Expensify/App/issues/11410#issuecomment-1265318914?

[2022-10-04 15:46] nonamebmt94 commented on #11554
An a front facing error to the user, and maybe a return ealy instead would be more useful

@eVoloshchak @sketchydroide Thank for your feedback. I could go deeper and tell you what happened but for that, I think I can help a bit. Can you help me with some documentation about this feature and a test account has Plaid Bank Accounts? Right now, I just fixed it with my assumption and dummy data I gener

[2022-10-04 15:47] flodnv commented on #10163
Yeah, let's continue in the new issue

On Tue, Oct 4, 2022 at 4:29 PM Vit Horacek ***@***.***> wrote:

[2022-10-04 15:47] ajaynagwani777 commented on #11520
@eVoloshchak

I gave the solution because the gray outline is not visible apart from the incorrect border. Still if we need the border to be there we can set the `border-radius` to `15px` , rn it is `8px` in HTML.

[2022-10-04 15:50] trjExpensify commented on #11393
👋 @youssef-lr - is this one held on a plan for `Image-related feature request and improvements` or does it need a volunteer to work on it? CC: @roryabraham

[2022-10-04 15:50] nonamebmt94 commented on #11554
Can you provide me a main.jsbundle or tell me how to get it?

[2022-10-04 15:53] kavimuru opened #11584 "[Regression in PR][$250] Clicking on "New Messages" jumps to newest messages, skipping over any messages marked unread report by @chauchausoup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat
2. Click at Mark as Unread
3. Click on New Messages button

## Expected Result:

Clicking "new messages" shoul

[2022-10-04 15:54] eVoloshchak commented on #11520
For me it's visible

<img width="662" alt="Screenshot 2022-10-04 at 18 49 29" src="https://user-images.githubusercontent.com/9059945/193866187-cb93742a-f28c-4c7b-8a91-52839e74dc44.png">

Yeah, that would be perfect!
Could you please include a code snipped with this change?

[2022-10-04 15:57] iwiznia commented on #11410
I think so

[2022-10-04 15:59] tgolen opened #11585 "Look into mocking the localize library better"
Coming from https://github.com/Expensify/App/pull/11226/files#r982844771

I need to investigate why the localize lib is returning `undefined` for a translation and see about mocking it so that it will return an empty string instead.

[2022-10-04 16:02] #9582 closed

[2022-10-04 16:02] Beamanator commented on #11435
Yeah good question, I'd say let's see what @Expensify/design says 👍

[2022-10-04 16:03] iwiznia commented on #10163
I would say that we should ask the contributor to fix it. Just because we did not catch it, does not mean that the job they were hired for was not really done.
This is similar to when contributors ask for more payment because the issue took longer or was harder than expected. We recognize that and pay them extra. This is kind of the same but the other way around. We can all chose to say: what we a

[2022-10-04 16:04] techievivek commented on #11493
@mallenexpensify This may be the result of backend changes that I have done in this [PR](https://github.com/Expensify/Web-Expensify/pull/33495) so we shouldn't bother any C+ for this.

[2022-10-04 16:04] neil-marcellini commented on #10973
Sorry, I thought it made sense on mobile. Should it be on mobile web only? If we don't want to add it at all I'm fine with that too.

[2022-10-04 16:06] shawnborton commented on #11543
It isn't so much that the pill has a max-width, it's just that the entire row of content has a max-width depending on how wide the device is.

[2022-10-04 16:09] luacmartins commented on #10622
Native implementation looks fine. I _think_ the web changes also make sense, but just like @Santhosh-Sellavel, I'm also confused by how we've had those methods be noops for a while now. @tgolen would you mind taking a look at [this comment](https://github.com/Expensify/App/issues/10622#issuecomment-1234389410) since you created [this file](https://github.com/Expensify/react-native-onyx/blob/3f936d

[2022-10-04 16:19] ajaynagwani777 commented on #11520
@eVoloshchak

In `styles.js -> tagStyles -> img`
Existing object:

[code]

Updated object:

[code]

[2022-10-04 16:26] neil-marcellini commented on #10283
I looked into this a bit yesterday afternoon but I plan to spend more time playing with it today.

I'm pretty sure the problem is that the height of the `IOUPreview` component increases when it changes from loading to not loading. I need to verify that. I thought we could update the computed height [here](https://github.com/Expensify/App/blob/334b2107fe9cfa06ac7bbd26841a55509bb34486/src/components

[2022-10-04 16:39] deetergp commented on #10555
Perfect @parasharrajat, thanks! Okay @Christinadobrzyn, let's hire @dhairyasenjaliya to implement their proposed solution.

[2022-10-04 16:41] johnmlee101 commented on #11246
Can't reproduce in the latest update, so I think this might be good to close out

[2022-10-04 16:46] mallenexpensify commented on #11493
K, thanks @techievivek , if it's because of changes you made, can you please fill out the RCA template? More details on steps are [here](https://docs.google.com/document/d/1BvohU05MTaHnjOD_vwJv_aqDAirv-ChkyRnKCAvOVyQ/edit#heading=h.8iom76ry1bp2)

[2022-10-04 16:49] jasperhuangg commented on #11335
Ah, according to @Tushu17 this seems like a duplicate of https://github.com/Expensify/App/issues/10290, closing in favor of that one

[2022-10-04 16:49] #11335 closed

[2022-10-04 16:52] neil-marcellini commented on #10524
I'll see if I can still reproduce this.

That sounds like another bug, please create a separate issue for it.

[2022-10-04 16:56] neil-marcellini commented on #10524
I can reproduce this.

https://user-images.githubusercontent.com/26260477/193880392-a1a566a8-4645-4841-ba31-404dda4d6b2b.mov

[2022-10-04 17:07] jasperhuangg commented on #11329
Closing, not sure this is a priority right now, or even a bug for that matter

[2022-10-04 17:07] #11329 closed

[2022-10-04 17:08] jasperhuangg commented on #11458
Hey @JmillsExpensify @trjExpensify thank you guys for the discussion and clarification of what the actual issue is here. I've updated the OP to reflect your discussion.

I can go ahead and knock this one out today so we don't have to wait for proposals. I think it might make things easier if the person implementing this has access to our internal code too.

[2022-10-04 17:14] Julesssss commented on #8797
No change here.

[2022-10-04 17:16] Julesssss commented on #10486
It looks like there's an ongoing discussion in the [PR review](https://github.com/Expensify/App/pull/10790).

[2022-10-04 17:19] eVoloshchak commented on #11520
<img width="264" alt="Screenshot 2022-10-04 at 20 17 18" src="https://user-images.githubusercontent.com/9059945/193884289-5a50aff8-22c7-4d58-b4ff-1eca0abbcc59.png">
<img width="224" alt="Screenshot 2022-10-04 at 20 19 05" src="https://user-images.githubusercontent.com/9059945/193884639-717d2a4a-82a6-4e70-96f1-be9da447fedf.png">

That's what it looks like for me with `borderRadius: 10`.
We need to

[2022-10-04 17:21] ajaynagwani777 commented on #11520
Sorry, it was 15. I mention 10 by mistake.

[2022-10-04 17:25] parasharrajat commented on #11093
I don't think we need to hold this. Someone might be able to find a different solution.

Thanks for linking that issue, I was trying to find that.

[2022-10-04 17:27] Julesssss commented on #10973
Personally, i don't think it's worth doing because the solution will need to only touch web and seems complex for little gain, but don't let that stop you if you think otherwise 🙂

[2022-10-04 17:37] luacmartins commented on #11239
@dhairyasenjaliya @adelekennedy can we close this issue?

[2022-10-04 17:39] neil-marcellini commented on #10524
After looking at the logs more, I don't think this has anything to do with clearing Onyx.

If I comment out this line then it works. I think the problem is that when we log out we stop listening to the NetInfo here, and when we log back in we never start listening again. I think we should always listen to the net info.
https://github.com/Expensify/App/blob/03fa7f5e5171e0c8897edb7aeab4241f4d5e21c2/

[2022-10-04 17:39] luacmartins commented on #11011
lol why does Melvin keep assigning internal engineers? Am I the CME for this issue?

[2022-10-04 17:42] kavimuru opened #11588 "[HOLD for payment 2022-11-02] [$250] Bug: Keyboard shortcut modal doesn't take whole width at the footer reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Change screen to medium screen size and press cmd + i
2. Change screen to small screen size and press cmd + i

## Expected Re

[2022-10-04 17:43] Puneet-here commented on #11588
### Proposal
we have maxWidth: 600 set in the keyboardShortcutModalContainer but we don't want that in small screen because at small screen the modal will be bottom docked so we can use `this.props.isSmallScreenWidth` to decide the style. We can create a variable like below for the styles and we can pass it to `containerStyle`
https://github.com/Expensify/App/blob/43b5092606ac66151958081697dfcdcff

[2022-10-04 17:45] mallenexpensify commented on #11350
@jasperhuangg , do you  think this should be added to https://github.com/Expensify/App/issues/11111?

[2022-10-04 17:46] #11481 closed

[2022-10-04 17:46] jasperhuangg commented on #11350
@mallenexpensify good call, this is exactly the same issue as described in #11111

[2022-10-04 17:48] jasperhuangg commented on #11111
@flodnv @aneequeahmad apologies for the lack of response, was out sick last week

I think we can still compensate you for reporting each of the issues separately, since I do recognize that it requires some time to find them even if they have the same source.

@parasharrajat recommended we HOLD this issue on navigation, can you clarify why?

[2022-10-04 17:48] johnmlee101 commented on #11246
Can you retest to see if this is happening on your side?

[2022-10-04 17:54] marcaaron opened #11589 "[$250] [Performance] Investigate `react-freeze` to prevent updates to the LHN / Report page - reported by @vladamx"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## What performance issue do we need to solve?

inefficient React component rendering

Specifically, updates to the SidebarLinks and ReportScreen can

[2022-10-04 17:56] marcaaron commented on #11589
@Luke9389 @mananjadhav I'm suggesting we give first dibs to @vladamx to fix this issue. They are working on another small issue atm, but I think totally reasonable for them to work on this one as well.

[2022-10-04 17:58] marcaaron commented on #11589
@vladamx maybe you can consider adding some benchmarks here with your proposal. I am guessing that chat switching should improve a bit on Android and would be pretty obvious after the improvement. You can filter for this metric in the JS console like this:

![Screen Shot 2022-10-04 at 7 58 00 AM](https://user-images.githubusercontent.com/32969087/193892000-cfcaa510-391c-40bd-a99f-0b4f80bd819c.png)

[2022-10-04 18:02] ctkochan22 commented on #11502
This would be a super tricky one, but would be nice to clean up quality

[2022-10-04 18:03] chiragsalian commented on #10428
Proposal LGTM. Can I suggest one tweak, instead of the onyx.set can you reuse Policy.updateLastAccessedWorkspace. You might have to update it to accept null param too. This keeps the logic of modifying `LAST_ACCESSED_WORKSPACE_POLICY_ID` in one spot.

[2022-10-04 18:04] chiragsalian commented on #10428
Also feel free to create the PR @hellohublot 🙂

[2022-10-04 18:10] ctkochan22 commented on #11460
This was originally discussed to be this way I think. Under pattern **none** for offline behavior. So we should add a loader if we are online and fetching. And still do nothing otherwise

[2022-10-04 18:16] chiragsalian commented on #10625
Proposal LGTM, i didnt realize i was still assigned here. Unassigning myself since you are working on the issue @sketchydroide 🙂

Since he's approved it as well assigning issue to @vladamx. Feel free to create the PR.

[2022-10-04 18:18] mallenexpensify commented on #11330
Posted https://www.upwork.com/jobs/~011c7454f55e6c9c1f
Thanks @tgolen for updating the OP.  I reassigned myself. I accidentally got unassigned. @grgia , when unassigning from an issue, please do so before applying labels to avoid accidental unassigning (this used to happen to me all the time, Sonia tipped me to why)

[2022-10-04 18:22] mallenexpensify commented on #11354
@kadiealexander assigned myself and unassigned you cuz I'm NOT going to be OOO the next month ¯\_(ツ)_/¯

[2022-10-04 18:23] vladamx commented on #10625
Applied to Upwork.

PR 5.10.2022

[2022-10-04 18:25] mallenexpensify commented on #10272
@adelekennedy assigned myself and unassigned you cuz I'm NOT going to be OOO the next month ¯\_(ツ)_/¯

[2022-10-04 18:26] mallenexpensify commented on #11164
@Christinadobrzyn assigned myself and unassigned you cuz I'm NOT going to be OOO the next month ¯\_(ツ)_/¯

[2022-10-04 18:28] pecanoro commented on #11519
@joelbettner Why did you unassign everyone? 😄

[2022-10-04 18:34] jeet-dhandha commented on #11229
@trjExpensify Does my above proposal looks good ?

[2022-10-04 18:39] parasharrajat commented on #11111
@jasperhuangg New design doc for navigation is in planning that's why I suggested holding this like other navigation issues.

it seems like @puneetlath  kick-started it https://expensify.slack.com/archives/C01GTK53T8Q/p1664825958481829.

[2022-10-04 18:40] kavimuru opened #11590 "[HOLD for payment 2022-12-20] [$250] BUG: Out of order LHN after split bill between web (staging.new.expensify) and IOS app reported by @chauchausoup"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Split bill with 7+ unique users on iOS/Android or web
2. Navigate back to the LHN
3. Observe that there is a different order

[2022-10-04 18:41] parasharrajat commented on #11229
I will review it by tommorrow.

[2022-10-04 18:41] mallenexpensify commented on #10755
Thanks @rushatgabhane , I [doubled checked internally](https://expensify.slack.com/archives/C01SKUP7QR0/p1664908668443189?thread_ts=1661256915.724959&cid=C01SKUP7QR0) and Andrew confirmed

Based on that, I'm going to close since the crash hasn't happened for a month

(@JmillsExpensify sorry for unassign right before closing, I was going to 'take back the issue as CM since I'm not OOO)

[2022-10-04 18:41] #10755 closed

[2022-10-04 18:42] #11406 closed

[2022-10-04 18:43] mallenexpensify commented on #10907
@michaelhaxhiu assigned myself and unassigned you cuz I'm NOT going to be OOO the next month ¯\_(ツ)_/¯

[2022-10-04 18:45] mallenexpensify commented on #10731
@puneetlath  assigned myself and unassigned you cuz I'm NOT going to be OOO the next month ¯\_(ツ)_/¯

Doubled job price to $1000 https://www.upwork.com/jobs/~0171651b178a420568

[2022-10-04 18:47] mallenexpensify commented on #11403
@kevinksullivan  assigned myself and unassigned you cuz I'm NOT going to be OOO the next month ¯\_(ツ)_/¯

[2022-10-04 18:48] mallenexpensify commented on #10614
@jliexpensify assigned myself and unassigned you cuz I'm NOT going to be OOO the next month ¯\_(ツ)_/¯

[2022-10-04 18:56] dhairyasenjaliya commented on #11093
Ah probably it will get wider view to look😅

[2022-10-04 18:56] adelekennedy commented on #9822
paid!

[2022-10-04 18:56] #9822 closed

[2022-10-04 18:57] thesahindia commented on #11519
Dupe of https://github.com/Expensify/App/issues/7637
Reason behind closing (https://github.com/Expensify/App/issues/7637#issuecomment-1045092000)

[2022-10-04 18:59] chiragsalian commented on #6154
No idea what regression this was linked to. I don't see any relevant regression posted related to this issue. Let me know if I'm missing something.

[2022-10-04 19:02] pecanoro commented on #11519
Closing then!

[2022-10-04 19:02] adelekennedy commented on #11077
Increasing price

[2022-10-04 19:04] parasharrajat commented on #11164
I don't think this is happening anymore so we should close it. There was only one such report. Let the bot reopen if it happens again.

[2022-10-04 19:12] srikarparsi commented on #11359
not overdue

[2022-10-04 19:20] trjExpensify commented on #11229
From a UI standpoint, the video looks good to me!

[2022-10-04 19:23] trjExpensify commented on #6154
It's the first link in that message: https://github.com/Expensify/App/issues/10693#issuecomment-1267090302 CC: @parasharrajat

[2022-10-04 19:32] AndrewGable commented on #11485
https://github.com/Expensify/App/pull/10827 seems OK to check off

[2022-10-04 19:33] shawnborton commented on #11435
Yeah I think we can close this one out - I think we decided that these form submit buttons will be docked below all form content. We're also going to be changing up this Settings area shortly so we won't run into this issue anymore.

[2022-10-04 19:33] #11435 closed

[2022-10-04 19:33] AndrewGable commented on #11526
Removing deploy blocker because fire room was created.

[2022-10-04 19:35] pecanoro commented on #11261
Sorry for the delay, catching up!

[2022-10-04 19:40] mountiny commented on #11514
Gonna look tomorrow

[2022-10-04 19:40] #11222 closed

[2022-10-04 19:42] parasharrajat commented on #8311
Need to open a new discussion for a single context menu but now I feel like that might be a new feature unrelated to this issue. There are other issues at hand and we might not need the single context menu for a long time if we fix this issue.

Action item for me
1. Open a new discussion for the above.
2. Rereview the previous discussion and old proposals and decide if we can move forward with any

[2022-10-04 19:43] stitesExpensify commented on #11197
Sounds good, thanks @rushatgabhane. @shawnborton does this seem like a good solution to you?

[2022-10-04 19:46] parasharrajat commented on #9823
No update. Unplanned leaves last week. There is an open proposal that I need help finalizing. I will discuss this internally. (will post a link if it is slack discussion)

[2022-10-04 19:59] dhairyasenjaliya commented on #10973
Hello team, thank you for the heads up, any next step from my side related to PR

[2022-10-04 20:02] dhairyasenjaliya commented on #11239
@luacmartins applied to the job , yet to be accepted @adelekennedy

[2022-10-04 20:03] kavimuru commented on #11508
@dangrous  the bug is old "magic link" page seen for a brief second before it shifts to the password view

[2022-10-04 20:03] parasharrajat commented on #11283
@getusha's [proposal](https://github.com/Expensify/App/issues/11283#issuecomment-1263165476) will break highlighting on tab navigation.

[2022-10-04 20:04] pecanoro commented on #11261
I went through the last message and I think we don't need two GH for this, it's only one bug even though there might be more than one piece that might be causing it.

[2022-10-04 20:09] thesahindia commented on #11261
Thanks @pecanoro, I agree with that.

@tienifr, can you share an updated proposal?

[2022-10-04 20:10] adelekennedy commented on #11239
done!

[2022-10-04 20:12] adelekennedy commented on #11317
Still waiting for proposals!

[2022-10-04 20:17] Luke9389 commented on #11164
I agree @parasharrajat

[2022-10-04 20:17] #11164 closed

[2022-10-04 20:23] dhairyasenjaliya commented on #11239
Offer accepted

[2022-10-04 20:24] adelekennedy commented on #10345
@parasharrajat did you apply for the bonus?

[2022-10-04 20:26] parasharrajat commented on #10345
@adelekennedy Done.

[2022-10-04 20:27] syedsaroshfarrukhdot commented on #10283
@neil-marcellini  Yes, that is the correct finding and it can be fixed with my Proposal here by matching IOUPreview Height with the button component in this comment https://github.com/Expensify/App/issues/10283#issuecomment-1231877199.

Just to add a bit more I also spend some time with it and figured out that measuring components in native platforms causes weird issues in the list. The best possi

[2022-10-04 20:32] getusha commented on #11283
I don't think the checkbox is related to the tab navigation highlighting. it's specific solution for the checkbox.

[2022-10-04 20:34] arosiclair commented on #11430
Also reproduced on staging and also in dev. Marking external.

[2022-10-04 20:35] Puneet-here commented on #11520
### Proposal

I think the image that is being used should be fixed so that it fits correctly but if we want a front end solution I propose changing the border radius but only for the pdf

we can check if it's a pdf by `Str.isPDF(source)`

and if it's true we will use borderRadius 15 ( we will add it in the styles.js)
https://github.com/Expensify/App/blob/93587b19296f6c07567b5576418725ae213321ed/sr

[2022-10-04 20:45] ctkochan22 commented on #11460
How does this look?
![ktjXcWm4GB](https://user-images.githubusercontent.com/12980144/193924114-ae696ea8-223e-4d27-88e7-ae91bfde6608.gif)

[2022-10-04 20:55] OSBotify commented on #11510
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-04 20:57] jayeshmangwani commented on #11430
### Proposal

we need to add copied text when showCheckMark is enabled

[code]

[2022-10-04 21:05] mallenexpensify commented on #11589
@marcaaron few questions:

1. Is there a Slack link to a reported bug?
2. Should we remove the `Help Wanted` label?
3. Should we wait for @vladamx to express interest or submit a proposal before hiring?

Thx

[2022-10-04 21:09] jliexpensify commented on #8035
Great, going to pay @Santhosh-Sellavel the $250 now.

[2022-10-04 21:12] jliexpensify commented on #8035
@Santhosh-Sellavel - I had to re-create the job since it closed due to inactivity.

Internal -  https://www.upwork.com/ab/applicants/1577405728492056576/job-details
External - https://www.upwork.com/jobs/~01db0184c53dc2c418

I've hired you for payment.

[2022-10-04 21:12] #11510 closed

[2022-10-04 21:18] marcaaron commented on #11589
1. https://expensify.slack.com/archives/C01GTK53T8Q/p1664892711333199
2. No - let's wait for @vladamx
3. Yes

[2022-10-04 21:20] OSBotify commented on #11485
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/11556) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.11-3` :rocket:

[2022-10-04 21:25] shawnborton commented on #11197
That makes sense to me, let's do it.

[2022-10-04 21:27] Luke9389 commented on #11589
OK cool! I'm down for this plan.

[2022-10-04 21:31] marcaaron commented on #11485
This feels like a possible deploy blocker:

https://expensify.slack.com/archives/C01GTK53T8Q/p1664918444481379

[2022-10-04 21:34] kbecciv opened #11595 "Web - Workspace - Error message "There was a problem adding this workspace member" displayed when adding non-existing account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with your account
3. Go to Setting - Workspace.
4. Click Manage members.
5. Click on

[2022-10-04 21:35] eVoloshchak commented on #11554
I haven't used this myself yet, but https://github.com/Expensify/App/pull/9641 should be of help

[2022-10-04 21:47] sophiepintoraetz commented on #11590
Hey @kavimuru - can you update the screenshots to clearly mark which chats you are referring to? It's hard to follow. Please reassign me once you've done so - or tag me in the comments.

[2022-10-04 21:53] eVoloshchak commented on #11520
Agree, I also think this is the best solution. It would make it consistent with all of the other images

Awesome, that's what was missing from the previous proposal. I think it should be 14 instead of 15, but it's kinda hard to tell

To summarize, we have [2 ways](https://github.com/Expensify/App/issues/11520#issuecomment-1267547462) to fix this issue
1. Replace the "Password protected PDF" image

[2022-10-04 21:57] roryabraham commented on #11196
Not confirmed, but I think there's a good chance we might use https://mrousavy.com/react-native-vision-camera/

[2022-10-04 21:58] greg-schroeder commented on #11584
I reproduced this on the desktop app:

https://user-images.githubusercontent.com/29386373/193938022-1bc5a558-2b98-4196-84f0-9276480058bc.mp4

[2022-10-04 22:07] kavimuru opened #11596 "Bug : Left Hand Nav (LHN) populated at top with many zero dollar balances or "$0 balances not being removed so they're showing in LHN""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Opened app after sleeping for hour

## Expected Result:
LHN to be the same as when it went to sleep and with new chats

## Actual

[2022-10-04 22:08] OSBotify commented on #11596
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-10-04 22:08] AndrewGable commented on #11596
I have a suspicion this was caused by the web deploy because the timing seems to line up, but cannot point to anything that confirms it yet.

[2022-10-04 22:09] JmillsExpensify commented on #10755
No problem.

[2022-10-04 22:11] roryabraham commented on #11535
I'm confused about the expected results here. Where are these expected steps coming from? Is this a regression?

[2022-10-04 22:11] JmillsExpensify commented on #11481
Wait, @tgolen did we have a C+ review on this PR? I created an Upwork job but I'm not seeing any review in the linked PR.

[2022-10-04 22:11] puneetlath commented on #10923
Paid!

[2022-10-04 22:11] #10923 closed

[2022-10-04 22:14] roryabraham commented on #11291
Let's cap this issue here at $500

[2022-10-04 22:22] JmillsExpensify commented on #11458
Cool, that sounds good. I'll keep myself assigned for the Upwork reporting / feature request payment.

[2022-10-04 22:25] roryabraham commented on #11277
Okay, I was able to reproduce this, going to update the OP to add some additional details then I agree we should add it to the keyboard tracking issue (cc @tgolen)

[2022-10-04 22:26] vladamx commented on #11589
Proposal

In order to improve general responsiveness of the app and specifically when switching reports the idea is to only re-render screens when they are visible to user. This will avoid needless work caused by shared state.

Implementation details:

Upgrade to a more recent version of react-native-screens and enable the screen freezing options in the correct places by using React Navigation API

[2022-10-04 22:27] johnmlee101 commented on #10736
Going to open this up to the pool, but I also think that the email triggers for this shouldn't be too hard to resolve on the backend

[2022-10-04 22:33] OSBotify commented on #11485
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.11-3 has been deployed to staging :tada:

[2022-10-04 22:35] stitesExpensify commented on #11197
Sweet! @Puneet-here go ahead and apply on Upwork!

[2022-10-04 22:40] parasharrajat commented on #11481
No it was merged before that.

[2022-10-04 22:40] puneetlath commented on #11427
Ah, I think it's because I'm on both the CM and CME teams. So it's assigning me to create the Upwork job.

External Upwork job: https://www.upwork.com/jobs/~01fde17c934fb9885d
Internal Upwork job: https://www.upwork.com/ab/applicants/1577428358718816256/job-details

[2022-10-04 22:43] puneetlath commented on #10738
Sorry for being so slow on this one. I'm good with it to. Let's do it @mollfpr 💪🏾

[2022-10-04 22:43] tjferriss commented on #11505
Closing this out as this is actually an expected feature, not a bug.

[2022-10-04 22:43] #11505 closed

[2022-10-04 22:45] JmillsExpensify commented on #11481
Cool. I'll close out the Upwork then, thank you!

[2022-10-04 22:46] JmillsExpensify commented on #11277
Thanks @roryabraham! I'll handle adding to the keyboard tracking issue.

[2022-10-04 22:47] luacmartins commented on #11485
Tested https://github.com/Expensify/App/issues/11510 and it's a pass. Checking off https://github.com/Expensify/App/issues/11510 and https://github.com/Expensify/App/pull/11026

[2022-10-04 22:52] luacmartins commented on #11427
AH good point @puneetlath!

[2022-10-04 22:55] danieldoglas commented on #11596
cc @Julesssss @mountiny

[2022-10-04 23:00] JmillsExpensify commented on #10765
Ok cool. Thanks for your patience @advaitasol9. For the sake of clarity, what is the formal proposal?

[2022-10-04 23:03] Uros787 commented on #11241
### Proposal

There is a property called decelerationRate which sets the decleration rate of scroll on ios or android. Reading the [Documentation](https://reactnative.dev/docs/scrollview#decelerationrate) we can see that we can set 'normal' | 'fast' | number
My recommendation is that we go with normal, so that way we don't mess with already existing decleration on IOS but just add a decleration on

[2022-10-04 23:04] JmillsExpensify commented on #11320
Yeah, I think this message came during one of our VIP projects. Hmm, maybe we should close then. I'm also not seeing this either.

[2022-10-04 23:06] JmillsExpensify commented on #11189
Yes, I think this change is optimizing for sharing attachments on NewDot as attachments. That said, technically you can add attachments to expense report on OldDot as report comment as well (and after all, a chat report is just a report).

[2022-10-04 23:07] mallenexpensify commented on #11547
@parasharrajat please drop the link in if you find.  I'll check back to test later this week

[2022-10-04 23:08] JmillsExpensify commented on #2151
Hmm, I'll have to look into a possible regression on this one. That said, I'm actually not sure if this is truly a regression, as these comments can get kind of spammy.

[2022-10-04 23:14] aldo-expensify commented on #11320
@JmillsExpensify  hehe i just noticed you reported this by looking at the slack conversation. Is it possible to you to get to this same conversation and check if now it is looking fine?

[2022-10-04 23:15] mallenexpensify commented on #11526
@AndrewGable , it appears we have multiple 'message stays in compose box' GH issues. was this one _fixed_?  What's fireroom you mentioned above?

[2022-10-04 23:18] mallenexpensify commented on #8710
@sketchydroide
1. Do you _want_ to work on this?
2. If not, do you think it can be `External`?
3. If it's external, think we should create a new, clean issue before labeling?

[2022-10-04 23:19] JmillsExpensify commented on #11320
Yep! Sure thing, I'll go ahead and assign myself.

[2022-10-04 23:21] mallenexpensify commented on #11100
@sobitneupane , hired, please let me know when you accept and I'll pay

[2022-10-04 23:21] aldo-expensify commented on #11320
thanks!

[2022-10-04 23:33] cead22 commented on #11596
I wasn't able to reproduce

[2022-10-04 23:34] mallenexpensify commented on #11011
Yeah, @luacmartins , you're the CME, John and Francois aren't on the CME team.

[2022-10-04 23:35] tjferriss commented on #11487
These links appear to be imposed on us by the mobile OS. We don't have links on web. I also don't think we want to highlight this "feature" so I'm inclined to close this issue and do nothing for now.

[2022-10-04 23:36] syedsaroshfarrukhdot commented on #11413
### Updated Proposal
@sobitneupane as recommended by you I digged a bit more in Button component and figured that the issue

[2022-10-04 23:37] mallenexpensify commented on #11350
Thanks @jasperhuangg , I updated the OP for https://github.com/Expensify/App/issues/11111  @jasperhuangg should I put this on hold dependent on https://github.com/Expensify/App/issues/11111 ?

[2022-10-04 23:40] mallenexpensify commented on #11502
@ctkochan22 if you think this will be tricky and involve a bit of work, do you think we should start it at more than $250?  (ie. if we know no one is likely to pick it up unless it's higher price, what should we start it at so that we don't have to wait weeks for it to climb in price before we get proposals)

[2022-10-04 23:44] dangrous commented on #11508
Okay cool, thanks @kavimuru ! This is (currently) expected behavior, however it does look like something that we might want to and be able to improve upon. See: https://stackoverflow.com/questions/52307978/how-to-disable-react-navigations-stack-navigator-transition as a reference, I think we can make this nicer looking. I'll see if anyone internally wants to grab this and if not we'll send it out

[2022-10-04 23:46] trjExpensify commented on #10327
Bump, can anyone reproduce this now?

[2022-10-04 23:50] cead22 commented on #11596
Never mind, I was able to reproduce. It seems like you simply need to sign into an account that has past P2P payments, and it's only happening on staging (I couldn't repro on prod)

[2022-10-04 23:52] marcochavezf commented on #11388
Thank you @sobitneupane for the review, assigning @aimane-chnaif 🚀

[2022-10-04 23:59] marcochavezf commented on #11336
Yeah, using `window` and `scrollEventThrottle` looks a bit hacky for me. I think the problem could be related to one HTML property or something, I don't think other sites solve this issue by modifying the scroll event.

[2022-10-05 00:05] srikarparsi commented on #9408
Issue got fixed with the API refactor, closing it out.

<img width="377" alt="Screen Shot 2022-10-04 at 8 04 17 PM" src="https://user-images.githubusercontent.com/48188732/193952137-c4af6d27-0486-43d7-84f9-135ce29d4f82.png">

[2022-10-05 00:06] marcaaron commented on #2151
Agree it's not a regression - the comment happens anytime we mention any issue so we can at least attempt to see if they are mentioning something about it being a regression. Looks like the contributor is just linking to this PR to explain when the original code was added - so not likely that this super old issue has caused any recent regression 😄

I think we are going to remove this, because ever

[2022-10-05 00:09] MitchExpensify commented on #11561
[Upwork Job](https://www.upwork.com/jobs/~01f3701354e5318181)

[2022-10-05 00:14] marcaaron commented on #11520
Agree with this approach as well, but I would maybe modify it so that the image can have any custom border set in the front end so that we do not need to cut a new image each time someone changes the border.

So basically something like:

- generic version of this image without a border at all
- if we have the pdf that is password protected put the blue border on it
- otherwise use the grey one

W

[2022-10-05 00:19] MitchExpensify commented on #11195
@chauchausoup mind applying for [the Upwork job](https://expensify.slack.com/archives/C07F03W66/p1664897325674919) for eventual reporting bonus

[2022-10-05 00:43] roryabraham commented on #11277
Added clarification and consistent reproduction steps, removed the `Needs Reproduction` label.

[2022-10-05 00:43] roryabraham commented on #11277
Also for transparency I was testing with a physical Pixel 4a

[2022-10-05 00:50] arielgreen commented on #11419
https://www.upwork.com/jobs/~014461b30c7f09cff2

@parasharrajat looks like we have a few proposals already!

[2022-10-05 01:14] marcaaron commented on #11237
idk I think it can still be a Daily and added to the Whats App Quality milestone. No reason why someone can't look into this.

[2022-10-05 01:19] marcaaron commented on #11237
I'm gonna take this off the Unread Indicators milestone and move it to Whats App quality. Looks like tester is using an optimistic report and I have no idea whether unread indicators were taken into consideration for the optimistic report stuff.

[2022-10-05 01:21] shawnborton commented on #11520
Ah yeah, we should just use a version that has no rounded borders, I agree.

Hmm I'm not sure where it's hosted, but I remember @michelle-thompson working on it not that long ago? Maybe she can dig up the GH for it?

[2022-10-05 01:49] thienlnam commented on #11596
Yeah, I am able to reproduce this on my staging with my account that has previous P2P payments like Carlos mentioned.

https://github.com/Expensify/App/blob/1a42cf8a48bcb51b7b469f342a3f122de7aaef34/src/components/LHNOptionsList/OptionRowLHN.js#L207-L209

I also agree, we haven't deployed App since and this bug only showed up for me today at least

Looks like it was added from this PR https://githu

[2022-10-05 01:51] jeet-dhandha opened #11599 "Cannot install CocoaPods."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Just try to run `arch -x86_64 pod install` at `./ios/` path of app.

## Expected Result:
Pods should install without error.

## A

[2022-10-05 02:19] thienlnam commented on #11596
Yeah this looks like it is not longer a bug but from old IOUs. I've been testing this and requesting something / canceling it will resolve the issue.  I believe this was in the past when you would request an amount and it would be declined or someone would create an IOU that would offset the amount and it did not resolve

[2022-10-05 02:21] jeet-dhandha commented on #11089
Tested this not Reproducible.

[2022-10-05 03:08] tienifr commented on #11261
# Updated Proposal
## Problem
we aren't setting dInline for Wellcome text and width for user typing indicator, so with the too long text it'll be truncated in the small screen
## Solution
**With Wellcome text**
Add dInline into containerStyles of Tooltip
It's in a separate line if it's too long and I keep the period right after the email

https://github.com/Expensify/App/blob/c942b3e3eb788a52b06f3

[2022-10-05 03:14] dhairyasenjaliya commented on #11473
PR is ready but it needs to have QA steps, bit confused about what steps should I add in order to generate a page not found error can you do you have any suggestions regarding that @eVoloshchak @sketchydroide

[2022-10-05 03:29] dhairyasenjaliya commented on #10329
hello @mallenexpensify sent the proposal in Upwork, I think this one is ready to close out

[2022-10-05 03:38] kadiealexander commented on #8956
Okay, @stitesExpensify I'm closing this one since it's no longer reproducible. Please reopen if it comes back up!

[2022-10-05 03:38] #8956 closed

[2022-10-05 03:43] thienlnam commented on #11596
When you check the linked IOU https://github.com/Expensify/Web-Expensify/blob/648d564eaebb12e670eda50e9a3cdc09395506f5/lib/ReportUtils.php#L1827-L1827, it has hasOutstandingIOU set to false if the amount is 0.

However, when we build the reportData for onyx [here](https://github.com/Expensify/Web-Expensify/blob/648d564eaebb12e670eda50e9a3cdc09395506f5/lib/ReportUtils.php#L2211-L2247), we only chec

[2022-10-05 03:48] thienlnam commented on #11596
I'm going to push up a Web-E PR for 3 to clear the blocker, and then when we finish the refactors for IOUs then we'll do solution 1 which is a better solution for when we decline / cancel transactions

Not going to revert the PR https://github.com/Expensify/Web-Expensify/pull/34924 because that actually fixed another regression that was added and so I'll push up a patch PR

[2022-10-05 04:40] kadiealexander commented on #11268
@tgolen what are your thoughts on this issue, is it expected behaviour as Rajat has said?

[2022-10-05 04:49] mananjadhav commented on #9391
@kbecciv Can we retest this? The mentioned PR is merged and deployed.

[2022-10-05 04:51] mananjadhav commented on #9580
Proposal for the [issue](https://github.com/Expensify/App/issues/10738#issuecomment-1265282975) on hold was approved, so once that is worked upon and merged we can pick this.

[2022-10-05 05:00] arielgreen commented on #8846
@Julesssss is this waiting on something from you?

[2022-10-05 05:00] mananjadhav commented on #11461
@kevinksullivan @marcaaron @stitesExpensify Quick bump.

[2022-10-05 05:04] arielgreen commented on #11227
@mollfpr @rushatgabhane sent Upwork invite, please accept and I will remit payment

[2022-10-05 05:06] arielgreen commented on #11381
https://www.upwork.com/jobs/~0126ce75cef2187df0

[2022-10-05 05:06] arielgreen commented on #11381
@parasharrajat please see @dhairyasenjaliya's proposal above

[2022-10-05 05:07] arielgreen commented on #11061
@sketchydroide cool, maybe I'll give it a week and close it out.

[2022-10-05 05:11] arielgreen commented on #10625
Offer sent

[2022-10-05 05:13] arielgreen commented on #11359
https://www.upwork.com/jobs/~010323d5793ea6c484

[2022-10-05 05:17] Christinadobrzyn commented on #11283
Looks like there are other 'blue line' GHs - it doesn't look like a proposal has been accepted for the others yet.

https://github.com/Expensify/App/issues/11384
https://github.com/Expensify/App/issues/11382

We discussed consolidating these into one issue in this slack [convo](https://expensify.slack.com/archives/C01GTK53T8Q/p1662400900005679?thread_ts=1662398489.632479&cid=C01GTK53T8Q). Do we wa

[2022-10-05 05:17] mollfpr commented on #11227
@arielgreen Accepted, thank you!

[2022-10-05 05:26] Christinadobrzyn commented on #11011
Created job in Upwork:

Internal posting: https://www.upwork.com/ab/applicants/1577530367682449408/job-details
External posting: https://www.upwork.com/jobs/~01f8b292800ec04b69

[2022-10-05 05:28] Christinadobrzyn commented on #11064
Should we reopen the job in Upwork to get some contributors on this?

[2022-10-05 05:33] getusha commented on #11283
Can anyone point out what's exactly wrong with my proposal? Thank you.

[2022-10-05 05:37] Christinadobrzyn commented on #10663
@Julesssss @rushatgabhane This job is at the point where the price can be doubled, should we do that? Not sure what the workload looks like for this fix.

[2022-10-05 05:42] Christinadobrzyn commented on #10555
Hired @dhairyasenjaliya for the fix and @parasharrajat as C+!

[2022-10-05 05:47] Christinadobrzyn commented on #10352
The job posting closed, so creating a new one and doubling the price.

Internal posting: https://www.upwork.com/ab/applicants/1577535703909056512/job-details
External posting: https://www.upwork.com/jobs/~0127f02a834504a600

[2022-10-05 05:52] Christinadobrzyn commented on #11430
Eng confirmed this issue isn't a dupe of https://github.com/Expensify/App/issues/9233 so creating a new job in Upwork.

Internal job posting: https://www.upwork.com/ab/applicants/1577536989593255936/job-details
External job posting: https://www.upwork.com/jobs/~01fdadeeba74809569

[2022-10-05 06:00] Christinadobrzyn commented on #11588
This looks similar - https://github.com/Expensify/App/issues/11411 - sending to eng to see if this should be a separate fix.

[2022-10-05 06:22] dhairyasenjaliya commented on #10555
@parasharrajat PR is ready for review/test :)

[2022-10-05 06:33] Uros787 commented on #11241
I went to sleep on this proposal I left yesterday, I guess I should've seen that it's normal by default.

Let me propose something like this.
Let's utilize Platform from react native, and write code like this:
`decelerationRate={Platform.OS === 'android' ? 0.998 : 'normal'}`

**Why 0.998?**
That is a default deceleration on iOS, that way we can mimic the deceleration on both platforms

[2022-10-05 06:57] thesahindia commented on #11352
Not overdue. We are waiting for proposals.

[2022-10-05 06:59] hellohublot commented on #10428
https://github.com/Expensify/App/pull/11601
Hi, my pull request is done, please review my code

[2022-10-05 07:00] Puneet-here commented on #11134
We can close this since it's a dupe of https://github.com/Expensify/App/issues/10891, right?

[2022-10-05 07:11] thienlnam opened #11603 "[$250] Test ignore"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what act

[2022-10-05 07:12] thienlnam commented on #11603
Testing, please ignore!

[2022-10-05 07:12] #11603 closed

[2022-10-05 07:23] Puneet-here commented on #11382
I don't remember the version, I had updated it. It's not reproducible on new versions.

Same goes for ios safari it's not reproducible on newer versions, I believe it can't be reproduced for devices with ios 15.5-16.
Which makes me think that it's related to safari and not our code.

[2022-10-05 07:28] Christinadobrzyn commented on #10889
Looks like no regressions on the [PR](https://github.com/Expensify/App/pull/11046) so paying this out and closing.

$250 @mananjadhav as the C+
$250 @dhairyasenjaliya as the contributor
$250 @gadhiyamanan as the reporter

[2022-10-05 07:28] #10889 closed

[2022-10-05 07:41] Uros787 commented on #11241
@rushatgabhane is there a way for contributors to access slack?

[2022-10-05 08:10] mountiny commented on #11514
Discussed this with Marc and albeit it is not instantaneous, it works after a while when the chats sync, I have confirmed that. I dont think this is something super valuable to work on right now since it works with some delay which depends on when the app syncs new chats. Gonna close this one out.

[2022-10-05 08:10] #11514 closed

[2022-10-05 08:14] mountiny commented on #11010
This was fixed a week ago

[2022-10-05 08:29] mountiny commented on #11596
Thanks for the investigation! Havent experienced this issue when testing locally, also a quick dirty fix could be in App (which is probably worse than in Web-E) to not show the badge if the value is `0.00`.

[2022-10-05 08:39] RafehWaqar commented on #11359
Hello Expensify.
I would like to work with you. For the problem, my thinking is that it could be a problem in the api if the opening and closing is not custom coded and if it is custom coded then the problem would be in the code but either way I can't know where is the problem until I see the code.

Thank you.

[2022-10-05 08:45] Beamanator commented on #11393
Good question, I'd be willing to help look into this if it's not on hold

[2022-10-05 08:51] eVoloshchak commented on #11473
I think https://github.com/Expensify/App/pull/10452 contains the necessary steps

[2022-10-05 09:02] dhairyasenjaliya commented on #11473
QA steps updated thank you,PR ready for review :) @eVoloshchak

[2022-10-05 09:05] NikkiWines commented on #11486
Hmm, this is because we have an intentional max-width restriction for tooltips. I'd assume we wouldn't want to have that dynamically sized based on the length of the link. That could look really weird if the link is super long...

<img width="756" alt="Screen Shot 2022-10-05 at 10 56 26" src="https://user-images.githubusercontent.com/16747822/194023074-462e395e-c131-4cd2-9d41-80fbeeb8df11.png">

T

[2022-10-05 09:09] Julesssss commented on #11596
I know what causes this and we have a couple of ways of fixing it. The real fix is to update the Auth command so that it returns iouReports, but a quick fix can be applied to App also. I will work on this and submit a PR today.

As to why this regression occurred, this was thoroughly tested against an up to date Auth `main` build, so I'm pretty confused as to why this has different behavior on sta

[2022-10-05 09:37] parasharrajat commented on #11486
This feels like a regression. Tooltip content should wrap in next lines after max width is reached.

[2022-10-05 09:38] Julesssss commented on #10327
Sorry, I don't have any time to look at these steps today 😩

[2022-10-05 09:40] Julesssss commented on #8846
Yeah, thanks @aimane-chnaif.

Also, the App deploy has been blocked so the automated 7 days... message wasn't posted to this issue yet. It should occur today hopefully 🤞

[2022-10-05 09:41] parasharrajat commented on #11382
This is surely a regression. I remember Focus outline was not shown on mobile platforms.

[2022-10-05 09:43] Julesssss commented on #10663
I took another look and perhaps we should go with this solution for now. Given that we're using an existing `setTimeout`, it's not as bad as introducing a new workaround 🤷

[2022-10-05 09:44] Beamanator commented on #11321
Interesting, I was able to reproduce on a Pixel 4 simulator! Though after mashing the keyboard of my Samsung Galaxy A72 for literally a minute, I still didn't see any slowdown 🤷

As for saving the draft to Onyx, it looks like we do debounce here: https://github.com/Expensify/App/blob/1a42cf8a48bcb51b7b469f342a3f122de7aaef34/src/pages/home/report/ReportActionCompose.js#L117

That ^ debounce looks l

[2022-10-05 10:01] Julesssss commented on #11241
Yeah, I agree 100%. Android's RecyclerView (native version of FlatList) will decelerate by default. Something is preventing this and I'd like to see a solution that addresses this instead of applying a workaround.

[2022-10-05 10:02] Uros787 commented on #11461
### Proposal

The problem is with the error messages we check on catching errors. We don't want to display the error when messages are one of these:
`USER_CANCELLED: 'User canceled flow'`
`USER_TAPPED_BACK: 'User exited by clicking the back button.',`
`USER_EXITED: 'User exited by manual action.',`

Currently, we are missing `USER_EXITED` message, I'm guessing since it was implemented in some of t

[2022-10-05 10:14] Beamanator commented on #11435
Aah ok good to know 👍

Very good point

[2022-10-05 10:18] NikkiWines commented on #11486
Given that, marking this as external so we can get someone working on this.

[2022-10-05 10:28] tienifr commented on #11403
**### Proposal**

**### Problem**
This issue is from `NewPasswordForm.js`
It has a state is `passwordHintError` which was defaultly set to false. When this state is true and the password entered by user not match the required structure the message below will change to red to alert the user

Now in our code the logic to set `passwordHintError` to true is located in onBlur function of text input. Wh

[2022-10-05 10:32] sobitneupane commented on #11100
@mallenexpensify I am getting error while trying to accept your offer.

<img width="500" alt="Screen Shot 2022-10-05 at 16 14 26" src="https://user-images.githubusercontent.com/25876548/194040083-1a6964bc-04fd-4bbe-8492-33f730664591.png">

[2022-10-05 10:35] thesahindia commented on #10663
Sorry for noticing it late but I think https://github.com/Expensify/App/issues/10608 is the same issue.

and I believe the solution [here](https://github.com/Expensify/App/issues/10608#issuecomment-1250098928) will solve it.

cc: @rushatgabhane @mananjadhav

[2022-10-05 10:46] sobitneupane commented on #11359
Hello @RafehWaqar, Thanks for your interest.

Please do follow [Contributing Guidelines](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#working-on-expensify-jobs) to know how you can contribute.

[2022-10-05 11:31] madmax330 commented on #11516
Discussed here: https://expensify.slack.com/archives/C03TQ48KC/p1664968493411569

This is a feature, not a bug because you're allowed to have more than one workspace

[2022-10-05 11:31] #11516 closed

[2022-10-05 11:41] RafehWaqar commented on #11502
Proposal
Hello Expensify team. I can't think of the problem until I see the code but I think the problem is in your animation libraries. Here see a screenshot in which the inspect window of google chrome in which we can clearly see a issue in animation libraries.

![Screenshot (1)](https://user-images.githubusercontent.com/115071033/194052245-ec4eb60d-9c09-467d-aa55-053b06372526.png)

[2022-10-05 12:17] parasharrajat commented on #11117
Thanks, @elzaurov. Could you please add more details to your proposal?

Links:
- [CONTRIBUTING Guidelines](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md)
- [App overview and local development](https://github.com/Expensify/App#local-development)
- [CODE OF CONDUCT](https://github.com/Expensify/App/blob/main/CODE_OF_CONDUCT.md)
- [Code style and patterns](https://gith

[2022-10-05 12:27] thesahindia commented on #11462
@mollfpr, I don't think we would require that many changes. I believe this can be done without adding a new state and `onUpdateNumberOfLines`. Please see if you can update the proposal with a better approach.

Waiting for better proposal.

[2022-10-05 12:27] NicMendonca commented on #10737
Still waiting for proposals

[2022-10-05 12:29] NicMendonca commented on #9581
still holding

[2022-10-05 12:35] thesahindia commented on #11089
It's still reproducible for me.

[2022-10-05 12:35] iwiznia commented on #11134
I don't know why this was not auto closed when this was deployed https://github.com/Expensify/Web-Expensify/pull/34940

[2022-10-05 12:35] #11134 closed

[2022-10-05 12:38] gadhiyamanan commented on #11134
@iwiznia am i eligible for reporting?

[2022-10-05 12:39] iwiznia commented on #11134
I think no, since the other issue was reported earlier.

[2022-10-05 12:42] gadhiyamanan commented on #11134
@iwiznia i think the issue is different

[2022-10-05 12:46] iwiznia commented on #11596
I am very confused by this bug. I checked one of my reports and it seems that GetChats for report 65756440 is returning:
[code]

And that IOU has $0 amount, but we don't check that [here](https://github.com/Expensify/Auth/blob/93824370af8f5c9eebf7e56c2f2a5fc8c2c8c64b/auth/lib/Report.cpp#L3253-L3263)... so I think that logic is wrong and should be updated, since there's nothing outstanding.
I have

[2022-10-05 12:48] iwiznia commented on #11596
Oh, just noticed that this is on staging but not prod, so the bug is triggered by a change in newDot, but still I think the backend is not doing what it should.

[2022-10-05 12:49] iwiznia commented on #11134
I don't think it is. Can you reproduce it?

[2022-10-05 13:02] sobitneupane commented on #11413
@syedsaroshfarrukhdot Your finding here looks promising.

Since the screen is focused at the start, why is the `Set Password` button not triggered?