[2022-07-27 10:43] #7855 closed

[2022-07-27 12:51] parasharrajat commented on #8292
The old discussion went cold. I will ping back on it with the latest state of this issue today.

[2022-07-27 13:10] syedsaroshfarrukhdot commented on #10095
I Have Added Both Before And After Video Somehow After Solution Video Preview Is Not Working On First Comment So Adding It Again Here. It Is Returning To LHN With All Chats.

https://user-images.githubusercontent.com/81307212/181254844-dc6877cd-7c6c-4c7f-8ceb-137745af9147.mov

[2022-07-27 13:21] laurenreidexpensify commented on #8934
@adeel0202 sorry we missed this one. Paid 👍🏽

[2022-07-27 13:24] Puneet-here commented on #10127
This issue happens at every list. If the first contact is highlighted then on pressing up arrow key, the highlight goes away and same happens if you are at the last user and press down key.

[2022-07-27 13:30] adeel0202 commented on #8934
Thanks @laurenreidexpensify, and no worries 😊

[2022-07-27 14:13] Tabakharniuk commented on #6301
Pushed requested changes

[2022-07-27 14:52] Christinadobrzyn commented on #10119
I think the original post has all the needed information for the contributor (thanks Mitch!) so created job in Upwork

- Internal job posting - https://www.upwork.com/ab/applicants/1552305715407474688/job-details
- External job positing - https://www.upwork.com/jobs/~018f65f7ebd618c2c9

waiting for proposals!

[2022-07-27 15:00] Santhosh-Sellavel commented on #9497
@eVoloshchak PR has been reverted.

[2022-07-27 15:04] mvtglobally opened #10130 "New lines are stripped out and forced into a single line"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Write a message with new line breaks

## Expected Result:
Sent message should have new line breaks

## Actual

[2022-07-27 15:05] OSBotify commented on #10130
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-27 15:11] luacmartins commented on #9582
On hold

[2022-07-27 15:11] luacmartins commented on #9575
On hold

[2022-07-27 15:12] luacmartins commented on #6883
First PR in review!

[2022-07-27 15:17] Julesssss commented on #8797
No change

[2022-07-27 15:17] stitesExpensify commented on #9620
not overdue, waiting to see if it is still not reproducible

[2022-07-27 15:18] Julesssss commented on #8846
PR is being reviewed currently

[2022-07-27 15:18] stitesExpensify commented on #7835
Same as last week. Focusing on n7 to get offline first out the door!

[2022-07-27 15:18] Julesssss commented on #9250
Awaiting update.

[2022-07-27 15:25] shawnborton commented on #7855
I also couldn't reproduce this so I agree, close it up!

[2022-07-27 15:28] ctkochan22 commented on #7911
not a priority atm

[2022-07-27 15:32] eVoloshchak commented on #9497
Started working on the PR.
I'm trying to tackle https://github.com/Expensify/App/issues/10108 and there [seems to be no keyboard type](https://betterprogramming.pub/12-shades-of-keyboard-types-in-ios-a413cf93bf4f) on iOS that features comma instead of period with numbers. We are using type `decimal-pad`. Instead, it is locale dependent. If user has their phone's language set to Spanish, decimal ke

[2022-07-27 15:38] Santhosh-Sellavel commented on #9497
@eVoloshchak Let's get others thoughts on slack can you create a thread there.

[2022-07-27 15:50] eVoloshchak commented on #9497
Created [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1658936908481629)

[2022-07-27 16:21] iwiznia commented on #9579
On hold melvin

[2022-07-27 17:07] wildan-m commented on #10036
### Proposal
To avoid the "Call me" button from jumping, we can move in the `<FixedFooter>` component to `<ScrollView>` component.

[code]

[2022-07-27 17:14] Santhosh-Sellavel commented on #9707
Thanks for the proposal @andrewlor but we are looking for a permanent solution.

[2022-07-27 17:16] mountiny opened #10131 "Make the app version number selectable on mobile"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

Try to copy the version number on mobile

## Expected Result:

You can copy it

## Actual Result:

You can't

## Workaround:
Can

[2022-07-27 17:18] Santhosh-Sellavel commented on #7942
@roryabraham Yeah good for me, If possible I would like to be C+ for the new issue which will be created.

[2022-07-27 17:31] puneetlath commented on #9739
Your plan for the links sounds good to me.

This sounds like a good update, but can we separate it from this PR? Doesn't seem like it needs to be tied to it.

[2022-07-27 17:33] puneetlath commented on #9739
@mananjadhav adding you as the C+ since @parasharrajat is going to take this issue on.

[2022-07-27 17:45] stephanieelliott commented on #9933
Posted to Upwork: https://www.upwork.com/jobs/~019540b6b8ab24a555

[2022-07-27 17:47] stephanieelliott commented on #9975
Posted to Upwork: https://www.upwork.com/jobs/~0115c0cba0d60a784f

[2022-07-27 17:48] stephanieelliott commented on #9975
Hey @thesahindia, as the reporter of this issue you have first dibs on the job! Please post a proposal if you have one.

[2022-07-27 17:51] kidroca commented on #9794
PR ready
- https://github.com/Expensify/App/pull/10132

[2022-07-27 17:55] kidroca commented on #9794
BTW I've found out some additional stuff that we can do

- we can prefix auto update related logs with `autoUpdater`
- we can capture `renderer` logs to file if we register `electron-log` in the context bridge
- we can output `main` logs in the dev tools console (be able to see the `autoUpdater` logs live for example)

Any interest in any of these?

[2022-07-27 17:57] mountiny opened #10133 "[HOLD for payment 2022-08-04] [$250] App crashes when navigating back from bank account page - reported by @Puneet-here"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to settings
2. Click on any workspace
3. Click bank account > connect manually
4. Press back arrow

## Expected Result:
The

[2022-07-27 17:58] mountiny commented on #10133
Added External Label, since this deploy blocker was reported by a contributor 🙌

[2022-07-27 17:58] OSBotify commented on #10133
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-27 17:59] mountiny commented on #10133
@Puneet-here shared an error from condole:
![image](https://user-images.githubusercontent.com/36083550/181340771-c1450ba6-29ba-4f9f-9c2d-e8022aa80d4a.png)

[2022-07-27 18:04] kavimuru opened #10134 "Android - Emoji - List of frequently used emojis doesn't work"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to App and login with any account
2. Access any chat you prefer
3. Click on Emoji
4. Send multiple emojis to add them to th

[2022-07-27 18:05] OSBotify commented on #10134
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-07-27 18:06] kavimuru commented on #10106
@marcaaron  A separate issue is logged for "frequently used emoji's are not saved" #10134

[2022-07-27 18:24] errahsoufiane commented on #9975
### **Proposal**
Option 1: whole menu should not be shown
https://github.com/Expensify/App/blob/bfbdd4ed666ea00a0e6d5113369777b5b49f8e41/src/pages/settings/AppDownloadLinks.js#L88
remove this line

Option 2: `Copy link` should not be shown. `Copy URL to clipboard` can still be shown
https://github.com/Expensify/App/blob/bfbdd4ed666ea00a0e6d5113369777b5b49f8e41/src/pages/home/report/ContextMenu/Con

[2022-07-27 18:26] marcochavezf commented on #10104
Sure! I will take this one, thanks for pointing out where we should check the empty list!

[2022-07-27 18:29] MonilBhavsar commented on #9702
Apologies for delay here 🙏
Looks good to me too

[2022-07-27 18:41] kevinksullivan commented on #9976
https://www.upwork.com/jobs/~01c67e3e6346cc3538

[2022-07-27 18:41] kbecciv commented on #10032
@mananjadhav
Here is reproduction steps:
Precondition: Use expensifail account
1. Launch the app
2. Log in with expensifail account
3. Tap on any user
4. Tap on Plus button - Add attachment
5. Select Choose from gallery
6. Select any picture and tap Send button
7. Tap on Plus button again - Add attachment
8. Select Choose from gallery
Tester device: iPhone 8/ 14.2
Attached video with latest build

[2022-07-27 18:41] #9921 closed

[2022-07-27 18:41] kevinksullivan commented on #9921
Assuming we close this out if we have 2 weeks of it not being reproducible?

[2022-07-27 18:42] kevinksullivan commented on #9979
Heh, nice catch!

[2022-07-27 18:44] kevinksullivan commented on #9979
https://www.upwork.com/jobs/~0187f2a7b5616f036e

[2022-07-27 18:48] stitesExpensify commented on #10133
@nkuoch it looks like this is related to your PR here https://github.com/Expensify/App/pull/9423/files

[2022-07-27 18:49] #9825 closed

[2022-07-27 18:52] kevinksullivan commented on #8888
Price doubled.

[2022-07-27 18:53] kevinksullivan commented on #9510
Thanks. Issue created and exported.

[2022-07-27 18:54] mountiny commented on #10133
I think Nathalie is and will be OOO for a while (based on looking into a calendar)

[2022-07-27 18:55] stitesExpensify commented on #10133
NP, i'm looking into it right now. I'm unable to reproduce though.

[2022-07-27 18:57] neil-marcellini commented on #10133
I'm also unable to reproduce on Web dev staging, but I can reproduce it on staging.

[2022-07-27 18:58] roryabraham commented on #7925
Lots of recent updates in the expensify-margelo slack room

[2022-07-27 19:00] roryabraham commented on #9918
While I think @jeet-dhandha's solution is equivalent, let's just go with the solution I laid out above.

[2022-07-27 19:00] stitesExpensify commented on #10133
Based on that error my guess was [this line](https://github.com/Expensify/App/pull/9423/files) but like Neil said, it's working correctly on dev.

[2022-07-27 19:02] stitesExpensify commented on #10133
Confirmed on staging that that line is the problem, still unsure why it isn't working there but is working on dev.

I think the fix might just be removing `this` from that line and calling the function directly

[2022-07-27 19:04] neil-marcellini commented on #10133
Totally, may I put up a quick PR for that?

[2022-07-27 19:06] stitesExpensify commented on #10133
Go for it. Feel free to tag me as the reviewer.

No promises on it working though, just a guess haha

[2022-07-27 19:07] neil-marcellini commented on #10133
Awesome thanks. The error message calls out that line specifically so I think it's very likely the problem.

[2022-07-27 19:15] stitesExpensify commented on #4324
Sorry for the delay.

@Santhosh-Sellavel Where else could you see us using this type of data structure?

@Karim-30 Can you outline the differences between the files please? What was changed besides adding the name field?

Also, I think that given the new complexity for this issue we should increase the bounty to at least $500 cc: @adelekennedy

[2022-07-27 19:24] MitchExpensify commented on #10022
[Upwork Job](https://www.upwork.com/jobs/~0135538fe076b09dcf)

[2022-07-27 19:29] OSBotify commented on #10077
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10136) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.86-5` :rocket:

[2022-07-27 19:46] marcaaron opened #10141 "Test"
Test Issue

[2022-07-27 19:46] marcaaron commented on #10141
react-navigation

[2022-07-27 19:47] marcaaron commented on #10141
Good bot.

[2022-07-27 19:47] #10141 closed

[2022-07-27 19:55] hamzashakeel348 commented on #9979
Hi there, I read the bug and I already started working on it. I submitted a proposal on Upwork Job post as well. You can check there.

[2022-07-27 20:04] luacmartins commented on #10099
@kavimuru We are still not able to repro this. Could you try to reproduce from a fresh app start?

[2022-07-27 20:05] parasharrajat commented on #9975
This is kind of a duplicate as the solution we are working for https://github.com/Expensify/App/issues/9660 in PR https://github.com/Expensify/App/pull/9955 will fix this.

[2022-07-27 20:06] neil-marcellini commented on #10099
^ and log out 🙂

[2022-07-27 20:08] hamzashakeel348 commented on #9979
Can I get credentials to login and to check the updates, as I am stuck on login.
<img width="1440" alt="Screenshot 2022-07-28 at 1 08 41 AM" src="https://user-images.githubusercontent.com/55921857/181362816-76db432b-bc3e-4d80-9cc4-6f4853b61751.png">
?

[2022-07-27 20:09] luacmartins commented on #10097
The only way I could reproduce this was delaying the response from the `OpenApp` command using a setTimeout. @kavimuru does the option eventually show up?

[2022-07-27 20:09] luacmartins commented on #10099
The only way I could reproduce this was delaying the response from the `OpenApp` command using a setTimeout. @kavimuru does the option eventually show up?

[2022-07-27 20:12] neil-marcellini commented on #9581
Holding

[2022-07-27 20:16] Puneet-here commented on #9979
@hamzashakeel348, you need to create your own account to login.

[2022-07-27 20:18] neil-marcellini commented on #10066
In the latest [Slack update](https://expensify.slack.com/archives/C02HWMSMZEC/p1658940309207329?thread_ts=1658879940.460899&cid=C02HWMSMZEC) we decided to standardize on microseconds to match the backend, and JS won’t have actual microsecond precision. We will add a function `DateUtils.getMicroseconds()` which will `return Date.now() * 1000`.

[2022-07-27 20:19] luacmartins commented on #10094
The only way I could reproduce this issue was delaying the response of `OpenApp` with a setTimeout, but the option eventually shows up when the call completes. @kbecciv can you confirm if the issue still happens with the steps below?

1. Log out
2. Sing back in
3. Wait 15-20s
4. Navigate to `Settings > Payments > Add payment method`
5. Verify that debit card is an option

[2022-07-27 20:20] hamzashakeel348 commented on #9979
@Puneet-here  I am trying to create it, but it is giving "Looks like you're offline. Please check your connection and try again." error.

[2022-07-27 20:21] luacmartins commented on #10097
@kavimuru can you try the steps below?

1. Log out
2. Log in
3. Wait 15-20s
4. Navigate to `Settings > Preferences`
5. Verify that debit card is an option

[2022-07-27 20:22] luacmartins commented on #10099
@kavimuru can you test this again with the steps below?

1. Log out
2. Log in
3. Wait 15-20s
4. Navigate to `Workspace > General Settings`
5. Verify that the currency selection dropdown shows up

[2022-07-27 20:25] Puneet-here commented on #9979
Are you on localhost:8080 ?
Also try reading [this](https://github.com/Expensify/App/blob/main/README.md#local-development), it might help.

[2022-07-27 20:26] luacmartins commented on #10100
It seems like we can't reproduce this internally. I'll remove it from the blocker list and keep it open to investigate further.

[2022-07-27 20:28] luacmartins commented on #10134
@thienlnam FYI Marc and I couldn't reproduce this issue. I'll remove the blocker label, but please take a look and let me know if you can reproduce it.

[2022-07-27 20:28] hamzashakeel348 commented on #9979
Yes, I am on Localhost:8080.

[2022-07-27 20:29] hamzashakeel348 commented on #9979
@Puneet-here  Here you can see the results of my update, phone no mentioned above in the comments is no rendering, I think so this is what was required, you can guide me further.
<img width="340" alt="Screenshot 2022-07-28 at 1 28 59 AM" src="https://user-images.githubusercontent.com/55921857/181366137-89a2f443-c7cf-43fd-a235-9c90fc37d300.png">

[2022-07-27 20:30] iwiznia commented on #8005
I know this is on hold, but the bug is VERY annoying

[2022-07-27 20:31] luacmartins commented on #10077
I removed the blocker label from the issues below:

- https://github.com/Expensify/App/issues/10100 - this could be a problem, but we can't repro it
- https://github.com/Expensify/App/issues/10134 - we couldn't reproduce and it's a small UI/UX issue

[2022-07-27 20:33] mountiny commented on #10131
Pr in a review!

[2022-07-27 20:42] Puneet-here commented on #9979
@hamzashakeel348, you have to post a proposal here about what changes you will make and you have to mention where you will be making them (link of specific code)

You can check the closed issues (fixed ones) in the repo to find how things work.
Also, I will suggest you to check other issues with the help wanted label on it and propose solution there as this is simple issue and I have already added

[2022-07-27 20:49] luacmartins commented on #10077
@mvtglobally

Yes, we can check this off. The PR was reverted.

I think this should be productionQA now

[2022-07-27 20:50] #10014 closed

[2022-07-27 20:50] OSBotify commented on #10077
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.86-5 has been deployed to staging :tada:

[2022-07-27 20:50] luacmartins commented on #10077
@mvtglobally could you please send another QA summary?

[2022-07-27 20:51] luacmartins commented on #10084
@danieldoglas So should this be tested in production now?

[2022-07-27 20:51] hamzashakeel348 commented on #9979
@Puneet-here  I already post the proposal above in the comments, as you said that this issue already got resolved, but recently an hour ago your team posted an upwork job for it, so I was supposed to do so by following that post.

Let me know what to do for it now, in the meanwhile I am looking for other issues.

[2022-07-27 20:56] Puneet-here commented on #9979
I meant I have already commented the solution, also you have to post a proposal like [this](https://github.com/Expensify/App/issues/9979#issuecomment-1188615172). You have to link the code, where you will be making the changes.

[2022-07-27 21:15] luacmartins commented on #10106
Cool. We have a fix for the default skin tone and a separate one for the frequently emoji one. I'll close this one out then! Thanks!

[2022-07-27 21:15] #10106 closed

[2022-07-27 21:17] danieldoglas commented on #10084
I don't think Applause will have credentials for testing in production. There's a discussion ongoing right now. I think we'll actually send builds from staging pointing to staging soon. https://expensify.slack.com/archives/C03TQ48KC/p1658415135702599

[2022-07-27 21:21] luacmartins commented on #10084
Sounds good! So we are either fixing it by pointing our staging build to staging API or doing internal prodQA for these?

[2022-07-27 21:28] francoisl commented on #9875
Still can't reproduce, with 1.1.86-5 now.

And again, these flows are likely to change with the N7 refactorings - going to demote this to Monthly for now, and let's try again in a few weeks.

[2022-07-27 21:31] luacmartins commented on #10130
This is not reproducible in the latest staging build!

[2022-07-27 21:33] bfitzexpensify commented on #7121
Still in review

[2022-07-27 21:33] luacmartins commented on #10130
Reproduced on v1.1.86-0, but not on 1.1.86-5. It seems to have been fixed! Gonna close this issue!

[2022-07-27 21:33] #10130 closed

[2022-07-27 21:36] jeet-dhandha commented on #7835
Anyone working on this one ?

[2022-07-27 21:40] stitesExpensify commented on #7835
@gladiator-1 has provided us with a potential solution but it takes backend effort that we have not yet prioritized. If there is a purely front-end solution that would be preferable, but it doesn't seem like that is the case.

[2022-07-27 21:43] jeet-dhandha commented on #7835
I was working on a front end solution but might take some time will provide you in 1-2 days. It will include.
1. Inline video run.
2. With new screen video run too.

[2022-07-27 21:44] chiragsalian commented on #7185
Sorry this slipped my radar.

agree

I'm okay with this but bear in mind that currently they see this error message,
![image](https://user-images.githubusercontent.com/14356145/181377254-be6a6e7a-7ad6-45fb-932e-8224eadb7f79.png)

Hmm i think no. I think the current error message is more verbose i.e., - "Could not find any bank accounts that you haven't already added".

That sounds good to me.

Let

[2022-07-27 21:49] mvtglobally commented on #10077
sure, Will share summary in a bit.

[2022-07-27 21:55] marcochavezf commented on #7586
Yeah, now moving this issue to `Weekly` again

[2022-07-27 22:03] parasharrajat commented on #6301
@shawnborton We are making a change where the Attachment Modal will inset to avoid bottom home bar (iOS) and hardware on-Screen button(android). This will also affect PDFs and Send Attachment previews. On Send Attachment, the Send button will be moved up to avoid native UI.

Is this ok?

|Before|After|
|--------------|------------|
|![](https://user-images.githubusercontent.com/24370807/181379850-

[2022-07-27 22:08] Puneet-here commented on #10133
Is this eligible for the reporting?

[2022-07-27 22:26] mountiny commented on #10133
I think it should as it was a valid problem and actually very valuable since we dont want to get the bugs all the way to production.

@laurenreidexpensify has been assigned as CM and she will help us to sort this out!

Thank you Puneet!

[2022-07-27 22:37] #10066 closed

[2022-07-27 22:40] parasharrajat commented on #9739
I found two bugs.
1. Clicking on `new.expensify.com/index` does nothing. It throws an error on the console as `/index` is not a valid route in App.
2. When a user is offline clicking on internal links shows a growl that you are offline. But as these are links it should work offline too.

Will report them on slack shortly..

[2022-07-27 23:00] parasharrajat commented on #7436
Ok, Internally, it was decided to say no to "micro-deposit" since we do this ourselves.

@marktoman you can reply to Plaid and let's see what they have to say. We can try to convince them this is a bug and it should work normally too. Doing the same thing from two different buttons is just not right especially when the button says `Add account manually`. There should be a way to identify both acti

[2022-07-27 23:20] jliexpensify commented on #9918
@jeet-dhandha - can you share your Upworks profile please? I can't seem to find you.

[2022-07-27 23:58] shawnborton commented on #6301
yup, that makes sense to me.

[2022-07-28 00:18] conorpendergrast commented on #9875
Sounds good!

Conor Pendergrast
Success Coach, Expensify

On Thu, 28 Jul 2022 at 09:28, Francois Laithier ***@***.***>
wrote:

[2022-07-28 00:25] arielgreen commented on #8311
Reposted since the job closed https://www.upwork.com/jobs/~0106b378e281080b23

[2022-07-28 00:25] arielgreen commented on #7822
Price increased

[2022-07-28 00:33] arielgreen commented on #8592
Reposted, the Upwork job automatically closed. https://www.upwork.com/jobs/~0141f966437b7764e6

[2022-07-28 00:34] #10050 closed

[2022-07-28 00:45] arielgreen commented on #9660
Hired in Upwork @Harshdeepjoshi @parasharrajat

[2022-07-28 00:47] parasharrajat commented on #7822
I think we can cap the price for this.

[2022-07-28 00:49] arielgreen commented on #9981
@dhairyasenjaliya can you please be sure to apply to the job on Upwork since we issue payment over there? https://www.upwork.com/jobs/~01b00a8524a966eef0

[2022-07-28 00:55] thienlnam commented on #9971
Still holding

[2022-07-28 02:22] mvtglobally commented on #10077
@luacmartins
PR https://github.com/Expensify/App/pull/9423  Retested on the newest build. Checking off
PR https://github.com/Expensify/App/pull/9589#issuecomment-1194410190 - Internal QA
PR https://github.com/Expensify/App/pull/9677 Retested. Issue is still failing. Do we need to wait for push https://github.com/Expensify/Web-Expensify/pull/34424?
PR https://github.com/Expensify/App/pull/9769 is f

[2022-07-28 02:24] mvtglobally commented on #10099
Checking with the team

[2022-07-28 02:25] mvtglobally commented on #10097
checking with the team

[2022-07-28 02:25] mvtglobally commented on #10094
checking with the team

[2022-07-28 03:44] adelekennedy commented on #8005
still holding

[2022-07-28 03:51] rushatgabhane commented on #9979
@Puneet-here I think they look fine

[2022-07-28 03:52] rushatgabhane commented on #9979
@tgolen I like @Puneet-here's [proposal](https://github.com/Expensify/App/issues/9979#issuecomment-1188615172)

🎀 👀 🎀 C+ reviewed

[2022-07-28 04:07] jeet-dhandha commented on #9918
Upwork profile - https://www.upwork.com/freelancers/~01921c050b587a3859

[2022-07-28 04:52] rushatgabhane commented on #10095
Oh haha
@syedsaroshfarrukhdot's proposal looks good!

@Julesssss C+ reviewed 🎀 👀 🎀

[2022-07-28 05:15] rushatgabhane commented on #7648
@Christinadobrzyn i guess we can settle this issue

PR merged to production ~20 days ago https://github.com/Expensify/App/pull/7702#issuecomment-1178546074

[2022-07-28 05:19] rushatgabhane commented on #9183
@hassanShahzad thanks for your proposal, but this issue has already been solved.
Please feel free to post proposals on other [External issues](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AExternal)

[2022-07-28 05:39] rushatgabhane commented on #9817
@errahsoufiane i still think that setting a fixed width of 335 isn't the best idea.

iPhone 5 has a width of 320px ([source](https://yesviz.com/devices/iphone5/))

[2022-07-28 06:28] rushatgabhane commented on #9709
@trjExpensify just FYI, we had a regression  #10123
(so half pay for C+)

[2022-07-28 07:14] MonilBhavsar commented on #9391
Sorry, missed this. Apologies for delay here 🙏
@mananjadhav I think group chat appearing after refresh is a bug and we want to fix it. I feel like we don't want to display an empty chat(group or individual) in LHN if user moves to other chat after creating it. Though, I'll get confirmation from the team if it's an expected behavior.

[2022-07-28 07:35] dhairyasenjaliya commented on #9928
Sorry for the late replay was getting some weird issues on the latest code which is now fixed,
so as per my context on `<KeyboardSpacer />` is like when the keyboard is open detects, it adds a view with the same height of keyboard + top spacing so as per our need we need to add this into a component at very last stack so yes we can use Android

- But for Android, if we enable it for all other comp

[2022-07-28 07:37] dhairyasenjaliya commented on #9981
@arielgreen sorry totally missed out, applied now thanks for reminding

[2022-07-28 08:16] Beamanator commented on #8005
Agreed it's annoying, luckily the Unread Indicator Improvements doc is now out! (thanks to Marc)

[2022-07-28 08:53] aneequeahmad commented on #6941
https://user-images.githubusercontent.com/36359331/181461846-19cf1959-c121-434e-bfaf-077958a5419e.mp4

**Actions Performed:**

- Open app on Android (`Huwawei A9, Huwawei y7 prime`).
- Tap on input field to focus(First focus doesn't move up login box sometimes).
- Enter email address and press `continue`.
-  On password page input is focused and password box moves up.
- Tap outside password field

[2022-07-28 09:30] #10131 closed

[2022-07-28 09:47] eVoloshchak commented on #9976
**Proposal:**
This happens because we pass `shouldOpenDrawer=true` to `Navigation.dismissModal` on [ReportSettingsPage](https://github.com/Expensify/App/blob/f71bb83a05d8333cc61f6e4e85e4bbbf4a13167a/src/pages/ReportSettingsPage.js#L177). While WorkspaceMembersPage [handles this correctly](https://github.com/Expensify/App/blob/f71bb83a05d8333cc61f6e4e85e4bbbf4a13167a/src/pages/workspace/WorkspaceMe

[2022-07-28 10:34] trjExpensify commented on #9123
This PR has seemingly stalled in review for the last 9 days. Can we get an ETA on finishing it up, please?

[2022-07-28 10:35] errahsoufiane commented on #9817
@rushatgabhane
[code]
this was what I had said and this is actually true
There's no defined width of this parent view and it is set as width of a child view which has the longest width among child views.
You can see clearly what I mean from this video:
https://drive.google.com/file/d/1vVr4nv6-wdiIusbR2TboQGchQf8uCZpB/view?usp=sharing

so **updated proposal** is: similar to my first proposal - `set

[2022-07-28 10:55] thesahindia commented on #9123
Sorry for the long delay. I was little sick.

[2022-07-28 11:08] trjExpensify commented on #9123
Thanks for the heads up, @thesahindia. Hope you're feeling better!

[2022-07-28 12:22] aimane-chnaif commented on #9817
### **Proposal**
This happens when try to set maxWidth on alignSelf centered view without specifying width.
Here is the fix: https://stackoverflow.com/questions/39536665/react-native-alignself-center-and-stretch-to-maxwidth, this means setting `flex: 1` fixes the issue. But this can't be applied to ScrollView content directly since its direction is vertical.
So the solution is to wrap this content

[2022-07-28 12:26] jboniface commented on #10033
@afmire877 if you'd still like to work on this issue, please submit a quick proposal so we can hire you and move it forward.

[2022-07-28 12:29] syedsaroshfarrukhdot commented on #10095
I have applied to the job in upwork hopefully the PR will be ready for review by tommorow (29th July 2022). I will be posting on GitHub issue once PR is ready.

[2022-07-28 12:31] Julesssss commented on #10095
Thanks @syedsaroshfarrukhdot, sounds good!

[2022-07-28 13:33] laurenreidexpensify commented on #10133
@Puneet-here I'll create an upwork job now and get you paid 👍🏽

[2022-07-28 13:36] JmillsExpensify commented on #9799
Payments issued to contributors and linked PR is past the regression period. Closing this out. Thanks everyone!

[2022-07-28 13:36] #9799 closed

[2022-07-28 13:37] laurenreidexpensify commented on #10133
https://www.upwork.com/ab/applicants/1552649042546278400/job-details

[2022-07-28 13:38] JmillsExpensify commented on #9466
@parasharrajat I'm going to be out the next 3 business days, so if we still have trouble re-producing the issue, let's close and we can re-open if it comes up again. Thanks!

[2022-07-28 13:38] JmillsExpensify commented on #9662
Going to be out for the next three business days, though we're still waiting for proposals.

[2022-07-28 14:25] #10087 closed

[2022-07-28 14:49] tgolen commented on #9979
Thanks for looking at that proposal. Since it's referenced in several different places, could we move that number to the CONST file and have everything reference it from there?

[2022-07-28 15:02] laurenreidexpensify commented on #10017
Leaving for another week to see if we can get repro before adding to Upwork

[2022-07-28 15:40] Puneet-here commented on #9979
Yeah, we can do that.

[2022-07-28 15:50] trjExpensify commented on #9283
👋 @liyamahendra can we get a status update on the linked PR please? What's left to do and when do you expect to be able to get it over the line? Thanks!

[2022-07-28 16:17] marcaaron commented on #9874
Making this Daily. Just experienced this bug and the iOS app is more or less unusable for several seconds when it starts up.

[2022-07-28 16:24] liyamahendra commented on #9283
I think @mananjadhav gave his clearance [here](https://github.com/Expensify/App/pull/9552#pullrequestreview-1036078058). There were a couple of comments after that from @marcaaron which were resolved as well.

Maybe @mananjadhav or @marcaaron can provide a status update if there is anything pending.

[2022-07-28 16:25] tgolen commented on #9979
Great, thanks! I'll approve the proposal on that assumption then.

[2022-07-28 16:26] mvtglobally opened #10148 "[HOLD for payment 2023-08-07] [$8000] The message got sent but it also stayed in the compose box"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Type something
2. Press the send icon
3. Right after pressing the send icon, start typing again quickly without any break. Th

[2022-07-28 16:27] Karim-30 commented on #4324
@stitesExpensify in the [1st one](https://github.com/Expensify/App/issues/4324#issuecomment-1183591660) there were some emojis that didn't have the name field.
[in the 2nd](https://github.com/Expensify/App/issues/4324#issuecomment-1187460572) all emojis had the name field but I removed one emoji by the mistake(I thought there is a duplication).
[in the 3rd ](https://github.com/Expensify/App/issues

[2022-07-28 16:30] stitesExpensify commented on #4324
Great, thanks for the clarification

[2022-07-28 16:36] NicMendonca commented on #9422
@kbecciv bump ☝️

[2022-07-28 17:09] Puneet-here commented on #9979
Just a question which number are we planning to use?
`+15005550006` or `+447782339811`

[2022-07-28 18:11] michaelhaxhiu commented on #9061
@parasharrajat how is this one coming along so far?

[2022-07-28 18:43] deetergp commented on #9402
Not overdue, waiting on a PR. Bumping it down to `Weekly`.

[2022-07-28 18:47] neil-marcellini commented on #9990
What's the status on this?

[2022-07-28 19:00] kbecciv commented on #9422
@NicMendonca Checking with team, will update you shortly

[2022-07-28 19:02] Beamanator commented on #9917
Didn't get to this today, will look into it tomorrow or next week

[2022-07-28 19:14] dennismunene commented on #10119
PROPOSAL :

Bumping the version in package.json should do the trick.

https://github.com/Expensify/App/blob/53bff65ad45e59348d506538b9b8226751bcea01/package.json#L154

to

[code]
After Running `npm list ejs`
<img width="481" alt="Screenshot 2022-07-28 at 22 06 20" src="https://user-images.githubusercontent.com/4717301/181618505-f45e925e-e158-4093-8628-3e1e14219a6e.png">

[2022-07-28 19:17] kbecciv commented on #9422
@NicMendonca Issue still reproducible on staging.
Android app shows "Attachment uploading" when used a big mp4 file., attached video.
We have KI https://github.com/Expensify/App/issues/10031 for the mp4 file smaller than 3MB.
I hope it helps.

https://user-images.githubusercontent.com/93399543/181619656-690914a9-7556-48c9-b928-3a478c23390f.mp4

[2022-07-28 19:28] eVoloshchak commented on #9422
I'm getting this error message also
![image](https://user-images.githubusercontent.com/9059945/181621429-892892f3-d027-4b35-bc61-62f2dac37cc2.png)

[2022-07-28 19:35] michaelhaxhiu commented on #9990
Hm why is there no CM assigned to this?

[2022-07-28 19:49] luacmartins commented on #10077
I don't think we should wait for this, since it's a small UI issue and the Web-E deploy can take another day or two. I'm checking it off. Can we retest this next week?

I tested this on staging and could see the `expensifail.com` room. Checking it off
<img width="923" alt="Screen Shot 2022-07-28 at 12 48 11 PM" src="https://user-images.githubusercontent.com/22219519/181624729-8e07223a-c92c-4138-b7

[2022-07-28 19:50] luacmartins commented on #10077
@mvtglobally any updates on the below?

and checking https://github.com/Expensify/App/pull/10136 which just got added
We are also re-testing 3 Blockers as per your steps

[2022-07-28 20:12] michaelhaxhiu commented on #10107
Posted to upwork - https://www.upwork.com/jobs/~01a9e983bc39d24141

[2022-07-28 20:51] pecanoro commented on #10148
I was able to reproduce on my phone, so assigning external.

[2022-07-28 20:59] hamzashakeel348 commented on #9979
@tgolen  I also proposed the same idea, but in a different way :).

[2022-07-28 21:00] thesahindia commented on #9123
I have updated the [PR](https://github.com/Expensify/App/pull/9551).

@parasharrajat, feel free to review when you get time.

[2022-07-28 21:51] rushatgabhane commented on #9979
@Puneet-here +1 is fine given that majority of the users are US based

[2022-07-28 21:52] rushatgabhane commented on #9979
@hamzashakeel348 sorry, but I don't see your proposal

[2022-07-28 21:59] Luke9389 commented on #9427
Gonna loop back around to this

[2022-07-29 00:13] luacmartins commented on #10099
Removing the blocker label since we couldn't reproduce and this would only affect a beta feature. @mvtglobally Can we add this to the KI tests?

[2022-07-29 00:14] luacmartins commented on #10094
Removing the blocker label since we couldn't reproduce and this would only affect a beta feature. @mvtglobally Can we add this to the KI tests?

[2022-07-29 00:15] luacmartins commented on #10097
Removing the blocker label since we couldn't reproduce and this would only affect a beta feature. @mvtglobally Can we add this to the KI tests?

[2022-07-29 00:17] luacmartins commented on #10077
@mvtglobally

1. I shared the android APK with you on Slack.
2. Removed the blocker from the issues below since we didn't manage to reproduce them and they only affect beta features:

- https://github.com/Expensify/App/issues/10097
- https://github.com/Expensify/App/issues/10094
- https://github.com/Expensify/App/issues/10097

Let me know once QA finishes and we are ready to deploy!

[2022-07-29 00:20] luacmartins commented on #10100
@kavimuru can we add this to the KI tests?

[2022-07-29 00:39] mateusbra commented on #10148
I think its duplicate of https://github.com/Expensify/App/issues/4129

[2022-07-29 01:02] parasharrajat commented on #9990
I guess you merged the PR 8 days back.

[2022-07-29 01:06] parasharrajat commented on #10107
The electron does not support autofill natively. This is a userland feature and saving username and passed is a security concern.

[2022-07-29 01:10] parasharrajat commented on #9466
I will check it today.

[2022-07-29 01:13] parasharrajat commented on #6941
Of, I see. But the video does not show the bug we are trying to solve. It seems you are still confused about what the real issue is.

We are good to close this and reopen if this comes back.

[2022-07-29 01:16] parasharrajat commented on #10119
Ok. I see. This is straightforward. I like @dennismunene's proposal. You will have to provide the following on the PR.
1. Changelog in a comment.
2. Research data if upgrading has affected any of the features that we are using.
3. Test videos and steps for all the things that depend on this.

Do then the app signing. It should not break.

[2022-07-29 01:22] parasharrajat commented on #9061
Will get to it in 2 days.

[2022-07-29 01:25] marcaaron commented on #9912
yep, still on staging. Good bot.

[2022-07-29 03:53] rushatgabhane commented on #9422
@eVoloshchak what's your version number?

[2022-07-29 05:15] MonilBhavsar commented on #9391
I have confirmed with the team - We don't want to display an empty chat(group or individual) in LHN if user moves to other chat after creating it. In this case we want to fix the group chat appearing in LHN after refresh.

[2022-07-29 05:18] eVoloshchak commented on #9422
Tested again on freshly installed v1.1.84-13 from Google Play, issue still exists.

https://user-images.githubusercontent.com/9059945/181687657-941e2b70-0817-4a8c-a94e-654146f82bb7.mp4

I've tried files less than 1 MB and a bigger ones.
Android 11, OnePlus 6

[2022-07-29 05:26] rushatgabhane commented on #9422
@deetergp did something break in the backend?

If not, let's go with @eVoloshchak's [proposal](https://github.com/Expensify/App/issues/9422#issuecomment-1193089176) because it deals with the file not supported error returned by the backend

[2022-07-29 05:26] rushatgabhane commented on #9422
@eVoloshchak what will happen if a file doesn't have an extension?

[2022-07-29 05:30] melvin-bot[bot] opened #10153 "💥 Crash 💥 `.stopTrace`"
## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Cannot read property 'trace' of undefined
### `address at index.android.bundle:1:1563353` `.stopTrace`
### Number of Crashes: 1

## Device Information
* **Platforms:** Android
* **App Versions:** `1.1.84-13`
* **Devices:** OnePlus ONEPLUS A6000 11

## Stacktraces
<details>
<summary>Android 1.1.84-13</summary>

[code]
</d

[2022-07-29 05:32] eVoloshchak commented on #9422
For me at least if file doesn't have an extension, it will not be displayed in the file picker. It probably filters them out

[2022-07-29 05:34] eVoloshchak commented on #9422
And it also isn't displayed it you select "Choose Document" instead of "Choose from gallery"

[2022-07-29 07:55] Beamanator commented on #10119
Agreed with the requirements mentioned by @parasharrajat ^ - let's do this!

[2022-07-29 08:53] mountiny commented on #10148
@mateusbra Thanks! We are aware of that, it is mentioned in the issue body. That issue got very long and hard to follow so we decided to make a clean start and just refer to it. Lots of time has passed since then so maybe easier and cleaner solutions will pop up.

[2022-07-29 10:49] mountiny commented on #9928
Any thoughts here @rushatgabhane ? 🙇

[2022-07-29 12:30] mvtglobally commented on #10077
@luacmartins testers can still repro all issues on the build 1.1.86-5.

https://user-images.githubusercontent.com/43995119/181751995-ddd67164-0aa1-46b0-bf36-951810760c6c.mp4

https://user-images.githubusercontent.com/43995119/181752003-cb7e1677-76aa-4878-a1a0-16ce15b73b34.mov

https://user-images.githubusercontent.com/43995119/181752015-8b169a90-6d3a-40a1-8cd8-010d118e097f.mp4

https://user-images

[2022-07-29 13:08] kavimuru commented on #10097
@luacmartins Tester is able to reproduce this issue in the version 1.1.86-5.

https://user-images.githubusercontent.com/43996225/181767124-2ed89f30-0f77-465a-9db1-9a3a9652df1d.mp4

[2022-07-29 13:12] kavimuru commented on #10099
@luacmartins Issue is still able to reproduced with 1.1.86-5

https://user-images.githubusercontent.com/43996225/181767747-eb2f66d1-b039-4b51-af5b-86eb119fb013.mp4

[2022-07-29 15:04] parasharrajat commented on #8541
Let's open this issue to others its been 40 days since the PR is pending for this issue.

[2022-07-29 15:18] rushatgabhane commented on #6154
under review

[2022-07-29 16:28] roryabraham commented on #7962
We've had a lot of activity in this issue over the last few days. It looks like we're waiting to see if https://github.com/wonday/react-native-pdf/pull/672 is accepted in the upstream, so it could be a little while. @parasharrajat Did we test this upstream fix in NewDot at all to know if it solves our problem?

[2022-07-29 16:30] sketchydroide commented on #9973
I will look into it next week

[2022-07-29 16:31] sketchydroide commented on #8710
still same status

[2022-07-29 16:32] sketchydroide commented on #8348
@kavimuru has this happened again?

[2022-07-29 16:55] parasharrajat commented on #7962
Yup, I did and it is working.

[2022-07-29 17:30] jboniface commented on #10033
reassigning due to OOO, will assign to the matching issue in E/E too

[2022-07-29 17:37] chiragsalian commented on #7862
Any update for us @JediWattson. The PR is pretty close to the finish line.
Friendly reminder of our [contribution guidelines](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md),

[2022-07-29 17:40] parasharrajat commented on #10107
Yes! the motive of this issue should be to set up the app to support native autofill services.

[2022-07-29 18:08] jasperhuangg opened #10154 "Android - Unable to access settings page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign into any account on Android.
2. Click your Avatar in the upper right corner to navigate to the settings page.
3. Observe

[2022-07-29 18:25] neil-marcellini commented on #9990
Ok so after reading our [contributor process SO](https://stackoverflow.com/c/expensify/questions/8582) the `Exported` label was added meaning that an Upwork job was created. It should be linked here and @parasharrajat should be hired and paid on the correct date.

I think since `Exported` was added before `External` our normal process didn't trigger, but that' fine since @dylanexpensify is a contr

[2022-07-29 19:08] trjExpensify commented on #9252
@parasharrajat thoughts on the above?

[2022-07-29 19:14] iwiznia commented on #2727
We are waiting for a new release of react native

[2022-07-29 20:06] michaelhaxhiu commented on #9990
ah ha, looks like dylan [un-assigned me](https://github.com/Expensify/App/issues/9990#event-7020232693) as the CM after he asked his question about reproducibility

[2022-07-29 20:07] michaelhaxhiu commented on #9990
I'll just re-assign myself and get it back on track 🚂

[2022-07-29 20:12] marcaaron commented on #10153
Pretty weird one, but seems like somehow we tried to stop a trace without starting it and then destructured a property which causes the crash. No bueno.

[2022-07-29 20:35] michaelhaxhiu commented on #9990
Upwork job - https://www.upwork.com/jobs/~0166a49f3c92894698

[2022-07-29 22:17] #10153 closed

[2022-07-29 22:35] iwiznia commented on #9823
Still waiting for proopsals mevlin. But also @parasharrajat did you see the proposal above?

[2022-07-29 22:45] melvin-bot[bot] opened #10157 "[$500] 💥 Crash 💥 `com.swmansion.reanimated.layoutReanimation.ReanimatedNativeHierarchyManager.manageChildren`"
## Fatal Exception: java.lang.NullPointerException
### Attempt to invoke virtual method 'boolean com.swmansion.reanimated.layoutReanimation.ReaLayoutAnimator.isLayoutAnimationEnabled()' on a null object reference
### `ReanimatedNativeHierarchyManager.java line 266` `com.swmansion.reanimated.layoutReanimation.ReanimatedNativeHierarchyManager.manageChildren`
### Number of Crashes: 1

## Device Infor

[2022-07-30 16:45] afmire877 commented on #10033
Proposal:

 Upgrading to the latest version of webpack5 and its peer dependencies.

[code]
to

[code]

Breaking Changes

1. https://github.com/Expensify/App/blob/a06358cef3ab1951fcbb5c256c003acdf238d447/config/webpack/webpack.common.js#L65
 to
[code]

2. Errors `process not defined` in Webpack 5, to fix this we install `process` and provide it as a plugin. Like below.

[code]

[2022-07-30 18:28] Karim-30 commented on #4324
@Santhosh-Sellavel changes you asked for.

 In src/pages/home/report/ReportActionCompose.js :
[code]
In src/pages/home/report/ReportActionItemMessageEdit.js :

[code]

in src//libs/EmojiUtils.js :

[code]
the `EmojisTrie.js` file will look like this [EmojisTrie.txt](https://github.com/Expensify/App/files/9227082/EmojisTrie.txt).

[2022-07-30 18:57] MananGadhiyaSureshbhai commented on #7962
@parasharrajat  pr(https://github.com/wonday/react-native-pdf/pull/672) merged and new version of react-native-pdf realsed

[2022-07-30 19:07] parasharrajat commented on #7962
You know what you need to do next https://github.com/Expensify/App/issues/7962#issuecomment-1195657161.

[2022-07-31 03:19] JediWattson commented on #7862
yes @chiragsalian I believe I got all the requirements in the PR for this. I'm just trying to record some demos on android that are taking a bit for me. I'll try to finish them this week-end

[2022-07-31 03:48] roryabraham commented on #10033
@afmire877 thanks for your proposal. Looks mostly good to me, with a few comments:

- Let's upgrade to the latest webpack `5.74.0`
- Let's also upgrade to the latest webpack-dev-server: `4.9.3` (migration guide [here](https://github.com/webpack/webpack-dev-server/blob/master/migration-v4.md))

If that sounds good to you, give this message a 👍 and I'll assign it to you.

[2022-07-31 03:54] roryabraham commented on #7942
While this sounds good, I need to spend some time investigating to get crisp on the exact requirements here (it might actually end up being a pretty big change). Going to bump this to weekly so I get to it sooner rather than later.

[2022-07-31 06:00] melvin-bot[bot] opened #10160 "[$250] Investigate 💥 Crash 💥 `.render`"
## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Cannot read property 'validated' of undefined
### `address at index.android.bundle:1:3232652` `.render`
### Number of Crashes: 10

## Device Information
* **Platforms:** Android
* **App Versions:** `1.1.86-5`, `1.1.87-9`
* **Devices:** samsung SM-G991U 12, realme RMX2001 11

## Stacktraces
<details>
<summary>Android 1.1.

[2022-07-31 15:09] b1tjoy commented on #9542
### PROPOSAL
### Problem
When keyboard change it's size, ScrollView's content does not adjust accordingly, so the content get blocked. After some digging, I find out that this issue not only occur in App develop with react-native, but also can occur in iOS native App, it's caused by iOS native code. Fix it in react-native library is a better choice.

### Solution
In react-native 0.68.0, ScrollView

[2022-07-31 18:04] Santhosh-Sellavel commented on #4324
@Karim-30 I find it really odd to use to function based definition for `TrieNode`.  Can we have class implementation like `Trie`. Also I still there is no comments added for `TrieNode` methods.

Also I tested code works!

[2022-07-31 18:19] Santhosh-Sellavel commented on #4324
@stitesExpensify

We could use this for any keyword based search suggestions. So we might use this in future.

🎀 👀 🎀  C+ Reviewed.
We are good to hire @Karim-30 for this one.

One thing @Karim-30 let's follow proper JSDoc styles for comments about methods.

[2022-07-31 19:07] Santhosh-Sellavel commented on #9975
Thanks, @parasharrajat!

@flodnv
Let's remove help wanted here and wait for #9660's PR to be merged.
Once PR is merged, lets verify and close this one until then let's add `On hold for 9660` to issue title.

[2022-07-31 19:16] Santhosh-Sellavel commented on #9976
@stitesExpensify or @robertjchen

@thesahindia [proposal](https://github.com/Expensify/App/issues/9976#issuecomment-1188620216) looks good for me too!
🎀 👀 🎀  C+ Reviewed

cc: @kevinksullivan
Thanks!

[2022-08-01 00:27] kadiealexander commented on #8595
@parasharrajat @frenkield how are we tracking with this?

[2022-08-01 02:40] parasharrajat commented on #8595
PR is in review.

[2022-08-01 03:52] dhairyasenjaliya commented on #10148
This https://github.com/Expensify/App/issues/8592#issuecomment-1152926071 proposal I have explained why this happens and also provided a solution that can solve this issue, as well as another issue, of blue opacity issue remains in iOS after spell check https://github.com/Expensify/App/issues/8592

[2022-08-01 04:06] dhairyasenjaliya commented on #8592
@parasharrajat how about we add a fix with this proposal https://github.com/Expensify/App/issues/8592#issuecomment-1152926071 which will solve 2 issues
1. blue opacity for iOS (app) (for safari its issue for long time and yet we have no fix from apple this is only reference I can find https://stackoverflow.com/questions/18689842/clearing-input-element-in-mobile-safari-with-javascript-does-not-clea

[2022-08-01 04:16] rushatgabhane commented on #9928
Cool cool, @dhairyasenjaliya thanks for the detailed investigation!
I agree that we can remove KeyboardSpacer from SearchPage and SidebarLinks.

[2022-08-01 05:26] jayeshmangwani commented on #7470
@mananjadhav Thanks for waiting on this regression,

I have checked this issue and found that at WorkspaceInvitePage this issue is happening because we are passing minHeight style to containerStyles, if we are passing minHeight to containerStyles then onLayout calling constantly with a new height every time,

and I think 2 ways to handle this issue,

1. we will change minHeight to height, as we ar

[2022-08-01 05:52] parasharrajat commented on #8592
I will discuss this @dhairyasenjaliya.

[2022-08-01 07:08] rushatgabhane commented on #9817
@aimane-chnaif awesome! You're right about the root cause and I like your proposal.

@marcochavezf C+ reviewed 🎀 👀 🎀

[2022-08-01 07:19] rushatgabhane commented on #9809
@kbecciv is this issue still reproducible on staging?

[2022-08-01 08:53] dennismunene commented on #10119
Raised PR https://github.com/Expensify/App/pull/10159

[2022-08-01 08:55] aimane-chnaif commented on #9817
<img width="280" alt="280x653" src="https://user-images.githubusercontent.com/96077027/182111837-12c45a62-0e3d-43f4-8391-93fef71b326a.png">

[2022-08-01 08:58] rushatgabhane commented on #9817
@aimane-chnaif Thanks for the screenshot for 280px

@marcochavezf I like @aimane-chnaif's [proposal](https://github.com/Expensify/App/issues/9817#issuecomment-1198069662)!

🎀 👀 🎀 C+ reviewed

[2022-08-01 09:09] dhairyasenjaliya commented on #9928
- Sure will remove KeyboardSpacer from SearchPage and SidebarLinks.

- Yup I'm planning for the KeyboardSpacer file and will start to migrate package code to our code base so that we can remove the package and use it as a custom component

- For the mobile web it's currently working as expected (keyboard doesn't hide text input) please check out the below videos

**Mobile Safari**

https://user-im

[2022-08-01 09:13] rushatgabhane commented on #9928
Thanks so much for confirming it!
@mountiny I like @dhairyasenjaliya's proposal

[2022-08-01 09:20] rushatgabhane commented on #9928
@mountiny we'll be copying and modifying code from rn-keyboard-spacer.

We'll have to attach a copy of their MIT licence in App repo, right? How does that exactly work?

[2022-08-01 09:21] mountiny commented on #9928
Lovely, thank you @rushatgabhane and @dhairyasenjaliya for the proposal. Let's get PR for this up and through the review and thorough testing 🎉

[2022-08-01 09:50] dhairyasenjaliya commented on #9928
Alright, will create PR soon with all the above-discussed changes with modified rn-keyboard-spacer as per our code based

**Note: first I will post a draft PR since I'm waiting for my previous PR for the regression period once I get completed I will convert the draft to release PR let me know if any changes related to PR process**

[2022-08-01 09:52] mountiny commented on #9928
@dhairyasenjaliya @rushatgabhane thanks for raising it, I will ask in Slack

[2022-08-01 09:57] mountiny commented on #9928
Asked [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1659347778519049).

@dhairyasenjaliya thanks for the note, making a draft if fine!

[2022-08-01 09:58] dhairyasenjaliya commented on #9928
great will post PR as a draft

[2022-08-01 09:59] parasharrajat commented on #7962
Why is this needed?

Did you check the app on Android and iOS?

[2022-08-01 10:03] aneequeahmad commented on #9252
@marcaaron This is the relevant [issue](https://github.com/Expensify/App/pull/9060#:~:text=have%20to%20a-,relevant%20issue.,-Reply...). I came to know that
- we do want to enable the composer to blur on the edit box. Blur can be triggered via clicking on Save or Cancel buttons as well as a normal blur on the EditBox.

So i think to solve this keyboard dismiss issue on `EmojiPicker` we have to stop

[2022-08-01 10:05] parasharrajat commented on #9252
Testing the proposal in a few hours.

[2022-08-01 10:14] flodnv commented on #9975
Agreed & done, thanks!

[2022-08-01 10:24] MananGadhiyaSureshbhai commented on #7962
with the latest version of `react-native-pdf` getting error regarding `@react-native/normalize-color`

I think it is because `deprecated-react-native-prop-types` lib which is included  in the new version

![Screenshot 2022-08-01 at 1 11 29 PM](https://user-images.githubusercontent.com/54790231/182124764-e142caa9-89dc-4353-a417-4734296ddf2f.png)

[2022-08-01 10:28] MananGadhiyaSureshbhai commented on #7962
After upgrading the package

Android  :

https://user-images.githubusercontent.com/54790231/182129042-65b4abcd-1405-44ea-a4b5-8f1bd27da827.mov

IOS :

https://user-images.githubusercontent.com/54790231/182129089-da0053ea-d03c-41c7-8a2e-40785cc9b448.mp4

[2022-08-01 10:59] #8934 closed

[2022-08-01 11:08] parasharrajat commented on #7962
Shouldn't this be installed with deprecated-react-native-prop-types?

[2022-08-01 11:12] laurenreidexpensify commented on #9702
@thesahindia and @rushatgabhane are hired in upwork 👍🏽 let us know when you have a PR up @thesahindia

[2022-08-01 11:13] laurenreidexpensify commented on #9391
@MonilBhavsar can you assign @mollfpr if we're all good to move ahead here? thanks

[2022-08-01 11:22] parasharrajat commented on #7917
@mdneyazahmad Any update? I would suggest pushing things to reach the finish line. If there are no regular updates, we will close the PR and reevaluate the current state of the issue.

[2022-08-01 11:38] mdneyazahmad commented on #7917
@parasharrajat I am sorry for the delay I was sick in the last few days. I think we are not yet reached the conclusion [slack thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1654195847140899).

[2022-08-01 11:54] MananGadhiyaSureshbhai commented on #7962
@parasharrajat I just removed @react-native/normalize-color and reinstall all packages. this time I am not getting any error so there is no need for @react-native/normalize-color .

[2022-08-01 11:57] parasharrajat commented on #7962
Perfect.

[2022-08-01 12:33] parasharrajat commented on #9823
Checking on it. Still need to review a couple of things. I am not sure if we want to take that path.

[2022-08-01 12:42] dhairyasenjaliya commented on #9928
Draft PR is Up :)

[2022-08-01 12:48] flodnv commented on #9826
We have discussed internally and reached the following conclusion: The handful of existing bugs in our markdown parser are solvable (we already have some proposals). Moving to a 3rd party library would come with its own set of new problems that we'd have to spend time solving. As such, Expensify engineers have decided to have contributors keep solving the Expensimark parsing bugs. Should there be

[2022-08-01 12:48] flodnv commented on #9332
We have discussed internally and reached the following conclusion: The handful of existing bugs in our markdown parser are solvable (we already have some proposals). Moving to a 3rd party library would come with its own set of new problems that we'd have to spend time solving. As such, Expensify engineers have decided to have contributors keep solving the Expensimark parsing bugs. Should there be

[2022-08-01 12:50] flodnv commented on #9822
We have discussed internally and reached the following conclusion: The handful of existing bugs in our markdown parser are solvable (we already have some proposals). Moving to a 3rd party library would come with its own set of new problems that we'd have to spend time solving. As such, Expensify engineers have decided to have contributors keep solving the Expensimark parsing bugs. Should there be

[2022-08-01 12:51] trjExpensify commented on #9734
Price doubled on Upwork here: https://www.upwork.com/jobs/~010e7681ab13edf3b1

[2022-08-01 13:12] flodnv opened #10163 "[HOLD for payment 2022-09-23] [$500] Update the staging App to use the staging API"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Problem:** NewDot staging points to the production version of our API. This means that we miss API bugs deployed to staging, they then creep up to p

[2022-08-01 13:26] stitesExpensify commented on #9976
LGTM. I agree, let's hire @thesahindia

[2022-08-01 13:40] stitesExpensify commented on #9183
To confirm @b1tjoy you were never hired on upwork? If that is the case @NicMendonca can we make sure the upwork link is correct, and make a new job if necessary?

[2022-08-01 13:47] Puneet-here commented on #9979
Can I raise the PR now?

[2022-08-01 13:51] rushatgabhane commented on #9979
@Puneet-here feel free to raise a PR
you'll get assigned eventually

[2022-08-01 14:48] mvtglobally commented on #8956
@stitesExpensify Team is getting the following behavior now
https://utest-dl.s3.amazonaws.com/testRunStepMinAttachmentsResult/23137111/NNOO.mp4?AWSAccessKeyId=AKIAJ2UIWMJ2OMC3UCQQ&Expires=1690901254&Signature=DdCmLVx%2BD2XauQwUTe%2Fun9P33l0%3D

[2022-08-01 14:49] kavimuru commented on #8348
@sketchydroide Not able to reproduce anymore.

[2022-08-01 14:53] sketchydroide commented on #8348
I will close then, we can reopen if needed

[2022-08-01 14:54] #7728 closed

[2022-08-01 14:54] #8444 closed

[2022-08-01 14:54] #8983 closed

[2022-08-01 15:25] luacmartins commented on #10077
@yuwenmemon here’s the latest checklist. I think QA is still able to reproduce a few issues and based on this thread, we have a potential regression in App performance - https://expensify.slack.com/archives/C01GTK53T8Q/p1659018169624599

[2022-08-01 15:42] Santhosh-Sellavel commented on #10108
Not overdue

[2022-08-01 15:57] ctkochan22 commented on #9157
Waiting on refactor

[2022-08-01 16:55] jeet-dhandha commented on #9826
@flodnv Thanks for the update. Appreciate it.
### 😃👍

[2022-08-01 16:55] michaelhaxhiu commented on #10154
Removing myself from assignment as it seems you have already triaged by applying the `engineering` label. Perhaps this qualifies for `external` @jasperhuangg - what do you think?

[2022-08-01 16:59] jasperhuangg commented on #10154
@michaelhaxhiu Let me confirm that this is still happening before marking it as external

[2022-08-01 17:11] jasperhuangg commented on #10154
Yup, definitely still happening, will mark as external since this should only be in the front-end

[2022-08-01 17:14] Christinadobrzyn commented on #9876
QA is ongoing for the PR - https://github.com/Expensify/App/pull/9963#issuecomment-1195899754

[2022-08-01 17:14] michaelhaxhiu commented on #10154
perfect!

On Mon, Aug 1, 2022 at 11:12 AM melvin-bot[bot] ***@***.***>
wrote:

--
Michael Haxhiu

[2022-08-01 17:22] Christinadobrzyn commented on #10119
Hired @dennismunene for the fix in Upwork ($250)
Hired @parasharrajat as the C+ in Upwork ($250)

PR in review - https://github.com/Expensify/App/pull/10159

[2022-08-01 17:25] marcaaron commented on #9874
More recent reports of this here:

https://expensify.slack.com/archives/C01GTK53T8Q/p1659109544841589?thread_ts=1659018169.624599&cid=C01GTK53T8Q

Whatever the issue is - I think it's on production and not staging.

I will try to get iOS app set up and do some debugging today to help move this investigation along.

[2022-08-01 18:33] Christinadobrzyn commented on #7648
Paid @rushatgabhane $500 for the job.

I can see that we've only hired @rushatgabhane so I assume this is the only payment? If that's wrong, please let me know.

Closed job in Upwork and closing this as complete.

[2022-08-01 18:33] #7648 closed

[2022-08-01 18:43] parasharrajat commented on #7648
I think I am left out https://github.com/Expensify/App/issues/7648#issuecomment-1176518162.

[2022-08-01 18:50] deetergp commented on #9422
@rushatgabhane I don't think the API has changed or we'd be having larger issues elsewhere. I agree that @eVoloshchak's proposal looks good, so @NicMendonca let's hire him 👍.

[2022-08-01 18:57] Christinadobrzyn commented on #7648
Oh no! I'm not sure what I did here or if this is bad - @roryabraham would you be able to lend some insight?

[2022-08-01 18:58] thienlnam commented on #10134
Closing since I can't reproduce either - please re-open if you are able to

[2022-08-01 19:01] robertjchen commented on #9829
Need to test things out before opening it up for review.

[2022-08-01 19:04] parasharrajat commented on #10036
I am able to determine the real problem here. The video is showing many behaviors on the button. What do we mean by jumping here?
@Expensify/applause Can you please tell me the time where the issue is on the linked videos? Also, share the screenshots of what the issue is.

[2022-08-01 19:05] marcochavezf commented on #9817
Cool, thanks guys! Assigning @aimane-chnaif!

[2022-08-01 19:09] Christinadobrzyn commented on #7648
Not sure why this auto-message is posting so many times, asking eng - https://expensify.slack.com/archives/C03TQ48KC/p1659380948350629

[2022-08-01 19:12] marcaaron commented on #7648
On it.

[2022-08-01 19:26] parasharrajat commented on #7317
@mananjadhav Please keep us posted.

[2022-08-01 19:29] neil-marcellini commented on #10099
I just reproduced this accidentally when testing something else. I did the following:
1. Create a new workspace
2. Wait for the workspace page to open
3. Click "General settings"

[2022-08-01 19:40] jasperhuangg commented on #10154
Hmm, it appears other engineers are not able to reproduce this and it's only on my end so I'm going to close this out for the time being. If I'm unable to figure it out/if another engineer experiences this I'll reopen.

[2022-08-01 19:40] #10154 closed

[2022-08-01 19:43] yuwenmemon commented on #10077
Sounds good - it looks like we need to start a fire-room as the deploy has been going on for more than 4 days now.

[2022-08-01 19:46] arielgreen commented on #10033
@afmire877 please submit an application via Upwork as well, that is where we issue payment. https://www.upwork.com/jobs/~018f2af1b48abf1846

[2022-08-01 20:05] yuwenmemon commented on #10077
[Localize decimal separator](https://github.com/Expensify/App/pull/9800) was reverted so I'm checking it off

[2022-08-01 20:13] ctkochan22 commented on #10077
https://github.com/Expensify/App/pull/9423 was mentioned in this comment as being retested, checking off https://github.com/Expensify/App/issues/10077#issuecomment-1197576934

[2022-08-01 20:36] arielgreen commented on #6301
Looks like PR is under review, not overdue

[2022-08-01 21:23] #10082 closed

[2022-08-01 21:27] marcaaron commented on #7648
Sorry about that everyone. We accidentally created a bug when adding the new reminder feature. I think it should be resolved now. Going to leave a quick test comment here to confirm that can be ignored.

Test: https://github.com/Expensify/App/issues/7648

[2022-08-01 21:41] yuwenmemon commented on #10077
:shipit:

[2022-08-01 21:41] #10077 closed

[2022-08-01 21:44] OSBotify opened #10169 "Deploy Checklist: New Expensify 2022-08-01"
**Release Version:** `1.1.87-9`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**

- https://github.com/Expensify/App/pull/8042
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9635
  - [x] QA
  - [x] Accessibility

- https://github.com/Expensify/App/pull/9696
  - [x] QA

[2022-08-01 21:49] danieldoglas commented on #10084
moving this to weekly since it's in discussion

[2022-08-01 21:50] danieldoglas commented on #9342
Changing this to weekly since we can't reproduce it. It's still on my radar.

[2022-08-01 21:53] roryabraham commented on #8612
No update here, not a pressing priority

[2022-08-01 22:16] roryabraham commented on #9240
PR merged. Also mentioning here to @Expensify/applauseleads that we'd like the new functionality added in the linked PR added to the regression test suite.

[2022-08-01 23:35] marcaaron commented on #10160
I think this is happening in this flow...

https://github.com/Expensify/App/blob/60196410ae4eb343fac4635b6a5a850a724ded85/src/pages/ReimbursementAccount/BankAccountStep.js#L222-L223

Just a guess but the `validated` property should be on the `account` not `user` object IIRC.
Also there is no default object for `user` added.

[2022-08-02 00:19] marcaaron commented on #10058
This stack trace is kind of useless because the component that is rendering the text is `anonymous` 🥸

[2022-08-02 00:23] #9912 closed

[2022-08-02 00:30] marcaaron commented on #9874
Gonna close this for now. While the performance is not amazing [fixing this](https://github.com/Expensify/Web-Expensify/pull/34470) has improved it considerably.

[2022-08-02 00:30] #9874 closed

[2022-08-02 00:50] roryabraham commented on #10169
We're currently investigating a deploy issue. Please keep the checklist unlocked for the time being

[2022-08-02 00:59] marcaaron commented on #9547
This seems similar to this https://github.com/Expensify/App/issues/9548 maybe the same.

[2022-08-02 03:45] kevinksullivan commented on #9827
Paid @jeet-dhandha and @jayeshmangwani . @rushatgabhane send you an invite for C+, please accept!

[2022-08-02 03:58] kevinksullivan commented on #9979
Hired @rushatgabhane @Puneet-here

[2022-08-02 04:00] mvtglobally commented on #9620
team saw the following this round

https://user-images.githubusercontent.com/43995119/182288946-3238ebe4-2046-4456-9e99-d77f9fec93b2.mp4

[2022-08-02 04:01] mvtglobally commented on #9741
Issue not reproducible during KI retests. (Second week)

[2022-08-02 04:03] mvtglobally commented on #9917
Issue not reproducible during KI retests. (First week)

[2022-08-02 04:05] mvtglobally commented on #10032
Issue not reproducible during KI retests. (First week)

[2022-08-02 04:07] jliexpensify commented on #9620
@stitesExpensify and @Santhosh-Sellavel - it looks like the keyboard is encroaching on the New Password field: however - the Save button isn't hidden, and the New Password field isn't completely hidden either and you can still see what's in the field.

Would you say that this is an issue? If so, we could update the title to "New Password field is partially hidden by keyboard popping up".

[2022-08-02 04:20] jeet-dhandha commented on #9827
Should we put shouldDelayKeyboard true for Android platform only ?

[2022-08-02 04:24] jeet-dhandha commented on #9827
Please update me on how will be proceeding with this one.

[2022-08-02 04:33] mvtglobally opened #10181 "[HOLD App#11795] [$500] Pressing enter takes the focus to Add a personal message field on Android - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open :expensify: at mobile browser on Android
2. Go to settings > workspace > manage members > invite
3. Press enter on keyboa

[2022-08-02 04:38] mvtglobally opened #10182 "Unable to move cursor (left/right) in searchbar - Reported by @daraksha-dk"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat
2. click on emoji picker
3. Type any keyword
4. Try pressing left/right arrow key

## Expected Result:
User sh

[2022-08-02 04:41] mvtglobally opened #10183 "Toggling Show/hide password for couple of times selecting below component text automatically- Reported by dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login in browser (Chrome, Safari)
2. Open setting drawer go to Security -> Change Password
3. Type password or even on empty p

[2022-08-02 04:52] roryabraham commented on #8929
Thanks for your patience here everyone, this PR somehow slid through the cracks and I failed to review it promptly. It's got my attention now and we should be pretty close to a mergeable state with it.

[2022-08-02 04:52] mvtglobally commented on #9984
Issue is repro in Dev only

[2022-08-02 05:00] mvtglobally opened #10184 "Composer text not aligned vertically centre for native app - reported by dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login in iOS app
2. Go to any chat
3. Type message in composer notice text written is aligned more to bottom rather than centr

[2022-08-02 05:18] mvtglobally opened #10185 "[$250] Right click (or press and hold) + copy link does not work as expected"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to any chat with shared link
2. Right click (or press and hold) + copy link
3. Sed link and click on it

## Expected

[2022-08-02 05:31] mvtglobally opened #10186 "[$500] Send Button disabled when modify text after adding attachment"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create work space
2. Trying adding an attachment
3. Reject the permission
4. Enter anything in the text input

## Expected Res

[2022-08-02 05:34] mvtglobally opened #10187 "[$1000] User is able to scroll forever after opening Android app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open the app
2. Scroll the chats

## Expected Result:
User should be able to scroll to the top

## Actual Result:
User is abl

[2022-08-02 05:37] mvtglobally opened #10188 "[HOLD for payment 2022-09-01] [$250] Whitespace on screen where keyboard used to be"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open any chat
2. Press on the composer (open keyboard)
3. Put the app in the background
4. Open again with the keyboard open
5

[2022-08-02 05:42] mvtglobally opened #10189 "Copying formatted code is not working as expected"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Copy code from a code block comment (text surrounded by 3 backticks)
2. Try pasting it without formatting (CMD+SHIFT+OPTION+V

[2022-08-02 05:46] mvtglobally opened #10190 "the monthly statement is still using incorrect fonts"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Wait for the monthly statement to arrive
2. Check the statement

## Expected Result:
Fonts should match design docs

## Actual

[2022-08-02 05:48] mvtglobally commented on #6527
Issue not reproducible during KI retests. (Second week)

[2022-08-02 05:49] mvtglobally commented on #8915
Issue not reproducible during KI retests. (First week)

[2022-08-02 05:49] mvtglobally commented on #9250
Issue not reproducible during KI retests. (First week)

[2022-08-02 05:49] mvtglobally commented on #9823
Issue not reproducible during KI retests. (First week)

[2022-08-02 05:56] parasharrajat commented on #6527
https://github.com/Expensify/App/issues/6527#issuecomment-1202045653 This is not possible. This is a feature request, not a bug.

[2022-08-02 06:18] roryabraham commented on #6527
Not possible _yet_, you mean 😉

But yes @parasharrajat is correct. @mvtglobally you should remove this from the KI retests

[2022-08-02 07:00] laurenreidexpensify commented on #10133
@kadiealexander 👋 I'm OOO from tomorrow so reassigning for payment. TLDR is that @Puneet-here reported a critical bug that we expedited for a fix so it didn't get a chance to go through the normal flow with C+ etc as Brandon and Neil fixed it internally. Assuming there's no regression, this is all good to pay on 4 august - job in Upwork here https://www.upwork.com/ab/applicants/1552649042546278400

[2022-08-02 07:02] laurenreidexpensify commented on #9817
@jliexpensify 👋 am OOO til 12 August so reassigning. Thanks!

[2022-08-02 07:03] laurenreidexpensify commented on #9702
@kevinksullivan 👋 am OOO til 12 August so reassigning. Thanks!

[2022-08-02 07:07] jliexpensify commented on #9817
Listing: https://www.upwork.com/ab/applicants/1551917570399793152/job-details

Invited @rushatgabhane and @aimane-chnaif - cheers!

[2022-08-02 07:10] laurenreidexpensify commented on #9391
@michaelhaxhiu 👋 am OOO til 12 August so reassigning. Thanks!

[2022-08-02 07:14] laurenreidexpensify commented on #8929
@MitchExpensify  👋 am OOO til 12 August so reassigning. Thanks!

[2022-08-02 07:35] thesahindia commented on #9702
Cool, will raise the PR today.

[2022-08-02 08:12] ahmdshrif commented on #9250
@mvtglobally I am still able to repro it on prod.

https://user-images.githubusercontent.com/21364901/182325807-8b570f51-b10d-4a4b-96ab-c6325aa417fe.mov

@parasharrajat  what do you think about my proposal?

[2022-08-02 08:33] mountiny commented on #10187
This can be External

[2022-08-02 08:55] mountiny commented on #9928
@dhairyasenjaliya @rushatgabhane lets just proceed with incorporating the component and cleaning it up or removing usage we do not need/refactoring 👍 We could figure out the licensing stuff later on. This approach seems better for us from maintainability perspective.

[2022-08-02 09:01] Karim-30 commented on #4324
the PR is ready for review.

[2022-08-02 09:14] wildan-m commented on #10022
### Proposal

`componentDidMount` will always be called when the modal is re-opened, to make sure the currency option persist, we need to call ` IOU.setIOUSelectedCurrency` function if there is no value in `this.props.iou.selectedCurrencyCode`

[code]

[2022-08-02 09:15] parasharrajat commented on #9252
How will this proposal solve the issue on Android @aneequeahmad?

[2022-08-02 09:18] dylanexpensify commented on #10148
Getting on it today

[2022-08-02 09:26] parasharrajat commented on #8592
Asked here https://expensify.slack.com/archives/C02NK2DQWUX/p1659432359765889

[2022-08-02 09:30] dhairyasenjaliya commented on #9928
alright, I'm implementing all the suggestions as @rushatgabhane mentioned in the draft PR

[2022-08-02 10:00] mdneyazahmad commented on #7918
Discussion is on going in this slack [thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1654195847140899).

[2022-08-02 10:52] b1tjoy commented on #9542
### UPDATE
The previous proposal https://github.com/Expensify/App/issues/9542#issuecomment-1200443420 has some problem, text input may be pushed out of sight in some test scenario, we can't use prop `automaticallyAdjustKeyboardInsets` to fix current issue.

### PROPOSAL
### Problem
When keyboard change it's size, ScrollView's content does not adjust accordingly, so the content get blocked. We can

[2022-08-02 11:10] trjExpensify commented on #10184
For the avoidance of doubt, can we confirm in the OP for the contributor what the padding should be? it's 6px top and bottom isn't it? CC: @shawnborton

I'm also curious what PR broke this, I took a cursory look at recent ones and perhaps [this](https://github.com/Expensify/App/pull/9839)?

[2022-08-02 11:11] kbecciv opened #10198 "[HOLD for payment 2022-09-02] [$250] Web - When starting a chat with a phone number, the number shows up with the SMS domain in the chat for a brief moment - reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com and log in
2. Click green plus button > new chat
3. Search a new phone number
4. Press enter

[2022-08-02 11:11] trjExpensify commented on #10184
😱 whaaaat is going on?

[2022-08-02 11:14] b1tjoy commented on #9183
@NicMendonca It seems the upwork job was closed, can you send me an offer?

Here is my upwork profile https://www.upwork.com/freelancers/~015f3ce165fe53a62f

[2022-08-02 11:15] Julesssss commented on #10184
STOP

[2022-08-02 11:16] dhairyasenjaliya commented on #10184
oh my bot haha

[2022-08-02 11:16] trjExpensify commented on #10184
Deleted the comment, didn't work.

[2022-08-02 11:18] Puneet-here commented on #9979
I have raised the PR.
@kevinksullivan, I think there was some mistake can you send me the offer again. It's not available anymore.

[2022-08-02 11:34] Julesssss commented on #10184
hmm, did it stop by itself 8 minutes ago?!

[2022-08-02 12:37] thesahindia commented on #9976
PR is up.

cc: @Santhosh-Sellavel

[2022-08-02 13:40] dylanexpensify commented on #10148
Internal: https://www.upwork.com/ab/applicants/1554462059426074624/job-details
External: https://www.upwork.com/jobs/~0130f26b3941d0c325

[2022-08-02 13:45] trjExpensify opened #10202 "[HOLD for payment 2022-11-24] [$1000] Composer text and icon not aligned vertically centre for native app - reported by dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Login in iOS app
2. Go to any chat
3. Type message in composer and notice the send icon and text written is aligned more to bo

[2022-08-02 13:45] trjExpensify commented on #10184
Due to Melv's antics this morning, closing this out and recreated it here to test the fix for the comment loop: https://github.com/Expensify/App/issues/10202

[2022-08-02 13:45] #10184 closed

[2022-08-02 13:46] trjExpensify commented on #10202
For the avoidance of doubt, can we confirm in the OP for the contributor what the padding should be? it's 6px top and bottom isn't it? CC: @shawnborton

I'm also curious what PR broke this, I took a cursory look at recent ones and perhaps [this](https://github.com/Expensify/App/pull/9839)?

[2022-08-02 13:57] Julesssss commented on #7737
No change here.

[2022-08-02 13:57] Julesssss commented on #9270
Our refactor is still in progress. More info soon!

[2022-08-02 14:31] NicMendonca commented on #10163
Job post: https://www.upwork.com/jobs/~01483fb4b26ac8eba4

[2022-08-02 15:09] stitesExpensify commented on #9470
Same as last week

[2022-08-02 15:09] mananjadhav commented on #9542
Please allow me a day, I am OOO and will review tomorrow.

[2022-08-02 15:12] mountiny commented on #9424
Bumped the maintainer of the repo for a review 🤞

[2022-08-02 15:14] stitesExpensify commented on #9620
Yes, I think this should be fixed. If you could update the title and OP description that would be great. Thanks!

[2022-08-02 15:24] shawnborton commented on #10190
cc @thienlnam

[2022-08-02 15:40] MitchExpensify commented on #9741
Paid @eVoloshchak, just waiting on @mananjadhav to accept the offer to process C+ payment then we'll close this out

[2022-08-02 15:48] srikarparsi commented on #9408
^

[2022-08-02 15:52] MitchExpensify commented on #10181
I am unable to reproduce this on iOS

[2022-08-02 15:54] MitchExpensify commented on #8929
Enjoy @laurenreidexpensify !

[2022-08-02 16:03] thesahindia commented on #10181
Only reproducible at android mobile browsers

[2022-08-02 16:05] pecanoro commented on #10182
I was able to reproduce it, it works fine when typing a message but it's kind of broken in the emoji picker. I also noticed that moving up in the emoji picker is broken when the cursor goes out of sight.

[2022-08-02 16:08] shawnborton commented on #10202
I agree that it's not vertically aligned. I think we want some default padding on top and bottom, but regardless, the text should be vertically aligned in the remaining space. There is a way [to do this easily on Android](https://reactnative.dev/docs/text-style-props#textalignvertical-android) I believe, but I'm not sure how we do it on iOS.

[2022-08-02 16:14] MitchExpensify commented on #10181
Asked in Slack for help with reproduction - https://expensify.slack.com/archives/C01GTK53T8Q/p1659456631390199?thread_ts=1657396762.843809&cid=C01GTK53T8Q

[2022-08-02 16:18] kavimuru commented on #10036
@parasharrajat I am attaching another video depicting the issue.

https://user-images.githubusercontent.com/43996225/182423694-42faca33-342e-4d86-9fa4-7bb07afa7504.mp4

[2022-08-02 16:22] parasharrajat commented on #10036
Ok, so the button is covering the Input field.  Is that the issue?

[2022-08-02 16:38] neil-marcellini opened #10204 "Remove the use of `window` in the cross platform ReportScreen component"
## Problem
Coming from this comment https://github.com/Expensify/App/pull/9031#discussion_r935704868

## Solution

See https://github.com/Expensify/App/pull/9031#discussion_r935743957

[2022-08-02 16:39] MitchExpensify commented on #10181
@rushatgabhane  reproduced on v1.1.86-5, Chrome, Android 12

This is odd behavior, labelling Engineering accordingly

[2022-08-02 16:49] mananjadhav commented on #9741
Done @MitchExpensify

[2022-08-02 16:51] Justicea83 commented on #10181
this can be external

[2022-08-02 17:01] jayeshmangwani commented on #9972
@Christinadobrzyn this issue is still happening, and issue is not about keyboard, issue is that we can see chat input for a second and then it will disappear, ![Screenshot_20220802-222757_Chrome.jpg](https://user-images.githubusercontent.com/35371050/182432399-5b78fb10-6c80-457c-8219-4b2b438aa128.jpg)

[2022-08-02 17:10] parasharrajat commented on #7436
@marktoman Do you have any updates for us?

[2022-08-02 17:16] thienlnam commented on #10190
Internal since the statement is hosted from OldDot

[2022-08-02 18:02] mollfpr commented on #9391
@MonilBhavsar

Is this the expected or the issue?

The current behavior is after creating the group chat and then refreshing the page, the group chat disappears.

[2022-08-02 18:09] parasharrajat commented on #8592
Ok, based on the discussion, we decided to break this into two issues. One for iOS and the second for mWeb Safari. Further details will be coming shortly...

[2022-08-02 18:16] aneequeahmad commented on #9252
@parasharrajat when i debugged the issue pressing the `emojiPicker` button wasn't doing any action. But now it is opening the emojiPicker on latest build `1.1.87-6` so The above proposal is not valid.

### PROPOSAL

We only need to add  `InteractionManager.runAfterInteractions(() => setTimeout(() => this.textInput.focus(), 100))` here `onModalHide`.

https://github.com/Expensify/App/blob/d6417564a

[2022-08-02 18:18] parasharrajat commented on #9252
A similar proposal exists.

[2022-08-02 18:35] aneequeahmad commented on #9252
@parasharrajat Actually the next time i test again code base has changed like previously pressing the emojiPicker wasn't doing any action and now in latest build it is opening the `emojiPicker` but setTimeout was to be added as this is a known problem discussed [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1658026341800479).

I'll take care next time keeping in mind what you said. apolo

[2022-08-02 18:36] alex-mechler commented on #10189
Happening on 1.1.86-5 as well. Looks good to go external

[2022-08-02 18:59] parasharrajat commented on #10189
The PR with the fix is just merged on https://github.com/Expensify/App/pull/9880. It should be fixed soon.

[2022-08-02 19:05] neil-marcellini commented on #10099
Workspace don't seem to be loading properly on Android, at least on dev. I created a workspace on the account `workspace-curr@gmail.com` on iOS, and everything works well. If I sign into that account on Android I don't see any workspaces.

[2022-08-02 19:15] kavimuru commented on #10036
@parasharrajat That's the bug.

[2022-08-02 19:26] luacmartins commented on #9917
I think we can close this. We didn't manage to repro last week!

[2022-08-02 19:35] Santhosh-Sellavel commented on #9510
Issue Still Reproducible:

https://user-images.githubusercontent.com/85645967/182458748-ae227a4a-e148-47c3-b8e0-077225fc623d.mov

Waiting for proposals!

[2022-08-02 19:43] Santhosh-Sellavel commented on #10022
@puneetlath or @MitchExpensify  Is this a valid bug?

[2022-08-02 19:45] roryabraham opened #10214 "Investigate why some changes didn't make it to staging as expected"
### Context

- https://expensify.slack.com/archives/C03V9A4TB/p1659395657181009
- https://expensify.slack.com/archives/C03TQ48KC/p1659459369071089

### Problem
There is a very obscure edge case with our git CI that caused some changes on `main` to not be correctly propagated to `staging` during a staging deploy. There were a few affected files, but the one we've focused on as our case study is `sr

[2022-08-02 19:47] roryabraham commented on #10214
cc @Expensify/mobile-deployers – @johnmlee101, @rafecolton, @yuwenmemon, and I spent a few hours trying to figure this out this morning. We made some good progress but didn't quite get it worked out.

It seems like a pretty extreme edge case, but the main moral for now is be careful with your cherry-picks, particularly with reverts. Hopefully we'll have more tangible guidance or improvements here

[2022-08-02 19:53] Santhosh-Sellavel commented on #10109
@puneetlath Bump!

[2022-08-02 20:01] marcochavezf commented on #10104
Ah the `fakePolicyID` with value `null` only appears when it's tested locally by following step 7 of https://github.com/Expensify/App/pull/9906. This works as expected when `fakePolicyID` is hardcoded from the local server as stated in the instructions:

<img width="884" alt="Screen Shot 2022-08-02 at 14 59 01" src="https://user-images.githubusercontent.com/6829422/182462454-4eaf4f4d-b214-4581-b45

[2022-08-02 20:01] #10104 closed

[2022-08-02 20:08] kbecciv commented on #10091
@flodnv This issue happened in Andriod.

[2022-08-02 20:23] OSBotify commented on #10169
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.87-8 :rocket:

[2022-08-02 20:26] neil-marcellini commented on #10100
I'm now able to reproduce this internally on dev for both the staging and main branches. I'll work on this one too since it seems very much related to https://github.com/Expensify/App/issues/10099

Action performed:
1. generate a new @gmail.com account `../script/clitools.sh generator:account`
2. Sign into the account and Android
3. Click the profile icon in the top right to open the settings page

[2022-08-02 21:03] kbecciv opened #10215 "Profile - Growl is missing "Your profile has been saved successfully" when saved the changes."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to profile sections and make any changes
4. Click

[2022-08-02 21:04] OSBotify commented on #10215
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-02 21:07] kbecciv commented on #10079
@luacmartins Issue is still exist in Android app on  build 1.1.86.8
![Screenshot_20220802-165203_New Expensify](https://user-images.githubusercontent.com/93399543/182473446-2401de6c-d122-4ca0-877c-0fd816ba17b2.jpg)
![Screenshot_20220802-165209_New Expensify](https://user-images.githubusercontent.com/93399543/182473450-04ac1440-678f-4d6f-a189-5d457b4e9c57.jpg)

[2022-08-02 21:25] kbecciv commented on #8497
@michaelhaxhiu QA team experienced the issue with "Start over" button. It is not responding at all. Tested build is 1.1.87.8

https://user-images.githubusercontent.com/93399543/182476200-c2b4837d-cc0f-400c-9ec9-329271447a6a.mp4

[2022-08-02 21:33] laurenreidexpensify commented on #10198
Thanks @alexpensify - am OOO now

[2022-08-02 21:54] kavimuru opened #10216 "Web - Login - Blank page is displayed after log in with High traffic account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with HT (High Traffic) account

## Expected Result:
Chats are loaded wit

[2022-08-02 21:54] kbecciv opened #10217 "Android - Settings-Time zone is not updating after Saved changes"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/9696

## Action Performed:
1. Launch the app
2. Log in with account
3. Go to S

[2022-08-02 21:55] OSBotify commented on #10217
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-02 21:59] andrewlor commented on #9707
@Santhosh-Sellavel Can you let me know what criteria my solution is not meeting to be permanent, so I can adjust it. Is there a specific way you're looking for this to be solved? Thanks.

[2022-08-02 21:59] kavimuru opened #10218 "Web - Workspace - Cursor is not focused in search box when invite a member"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with account
3. Go to Setting - Workspace
4. Manage members
5. Click Invite button

[2022-08-02 22:10] tgolen commented on #10215
Hm, I'm looking into this a little bit, and because of our refactoring, the growl was intended to be removed. However, there are some problems with the submit button on this form:

What I am seeing is...

- Edit name
- Click on save
- button becomes disabled
- API request is successful
- button remains disabled
- Edit name again
- button is still disabled
- click on the button
- API request is suc

[2022-08-02 22:11] kavimuru opened #10219 "Offline indictor does not appear in resend validation form"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue found when executing #10135
## Action Performed:
1. Go to the sign in page of new Expensify
2. Enter your login details but not your password
3.

[2022-08-02 22:12] robertjchen commented on #10127
Definitely not ideal for a clean experience. Looks like this might only be an issue on Web/Desktop- let's open this up for proposals from the team 🤔

[2022-08-02 22:21] youssef-lr commented on #10218
Seems to be a feature not a bug: https://github.com/Expensify/App/blob/71609fdcfe1a39bf97c1f4659f8ae81b27bf9c28/src/pages/workspace/WorkspaceInvitePage.js#L264, will confirm if this is the wanted behaviour or not, in case it is we can close this issue.

[2022-08-02 22:30] Christinadobrzyn commented on #10187
Job posted in Upwork!

External posting - https://www.upwork.com/jobs/~01d0dc6f6881cebc48
Internal posting - https://www.upwork.com/ab/applicants/1554595091182915584/job-details

[2022-08-02 22:32] roryabraham commented on #10214
cc @kidroca in case you're interested in investigating

[2022-08-02 22:50] tgolen commented on #10215
I reached out to a few people in Slack to see if they can provide insight to the functionality, so I am waiting to hear back from that. If I don't hear anything tomorrow, let's consider reverting the user settings profile change.

cc @marcaaron @yuwenmemon

[2022-08-02 22:58] neil-marcellini commented on #10100
I did a lot of debugging on this today and my conclusion is that for some reason the `OpenApp` network request is failing on Android. I can see other requests succeeding, but not this one. Since it works fine on iOS, I'm guessing something about the Android http client doesn't like the request we are sending.

I'm also a bit suspicious of the `json_decode` line [here](https://github.com/Expensify/

[2022-08-02 23:00] roryabraham commented on #10188
Not sure if we have bulletproof reproduction steps here. We should try to nail that down a bit before making this external, imo.

[2022-08-02 23:01] roryabraham commented on #10188
I've definitely seen this happen a number of times in the wild on a physical device though

[2022-08-02 23:02] kavimuru opened #10220 "[HOLD for payment 2022-09-01] [$250] iOS - Random avatar color changes after creating a group for a new user"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #9963
## Action Performed:
1. Click FAB > New Group
2. Select a user you've never had a chat with
3. Add 2 more users an

[2022-08-02 23:06] kevinksullivan commented on #9979
Weird, sorry @Puneet-here . Looks like the offer went through this time. Let me know if you're able to accept it!

[2022-08-02 23:07] roryabraham commented on #9918
PR merged

[2022-08-02 23:12] roryabraham commented on #10202
Heads up! It looks like there are actually _two_ (potentially separate) alignment issues at play here:

1. Text misalignment

    <img width="440" alt="image" src="https://user-images.githubusercontent.com/47436092/182491041-1370452a-0b71-46cc-9a83-f9e40c99dfff.png">

1. Icon misalignment

    <img width="160" alt="image" src="https://user-images.githubusercontent.com/47436092/182491160-220c14ad-f

[2022-08-02 23:16] trjExpensify opened #10221 "[HOLD for payment 2022-10-12] [$250] Upgrade `react-native-svg` package to the latest version"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!

_____________

[code]

[code]

([Internal reference](https://github.com/Expensify/Expensify/issues/218325)) CC: @flodnv @joelbettner
Upwork job URL: https

[2022-08-02 23:36] luacmartins commented on #10079
Hmm I'll reopen it to investigate then, but I don't think it's a blocker anymore

[2022-08-02 23:37] roryabraham commented on #4629
Still on HOLD

[2022-08-02 23:38] luacmartins commented on #10100
Thanks for looking into this @neil-marcellini! It's weird that the call is failing on android, I'll try to join this investigation tomorrow!

[2022-08-02 23:39] luacmartins commented on #10188
Agreed! I'll try to reproduce this some time this week

[2022-08-02 23:39] roryabraham commented on #8099
This problem is not correct as written anymore. GitHub released a feature where you can retry only failed jobs in a workflow. We still may want to split out each platform into a callable workflow for code/workflow organization reasons, but that's a separate problem. closing this out.

[2022-08-02 23:39] #8099 closed

[2022-08-03 00:05] kbecciv opened #10223 "[$500] Web - Emoji - cursor is lost in animals & nature section"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/9954

## Action Performed:
1.  Go to staging.new.expensify.com
2. Navigate to

[2022-08-03 00:42] aldo-expensify commented on #8841
On hold, not overdue

[2022-08-03 00:42] aldo-expensify commented on #9980
PR is in staging, no overdue

[2022-08-03 01:01] adelekennedy commented on #9941
no proposals just waiting!

[2022-08-03 01:21] adelekennedy commented on #9459
it looks like we're still reviewing proposals

[2022-08-03 02:13] joelbettner commented on #10217
@Beamanator wondering if you have any insight into this...

[2022-08-03 02:41] kbecciv opened #10224 "Security - Close Account - No growl is received when closing an account"
### If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com OR open the desktop mac app
2. Sign into a public domain account
3. Click on the Profile

[2022-08-03 02:42] OSBotify commented on #10224
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-03 02:52] kbecciv opened #10225 "[$250] Web/Windows - New Chat/Group Chat- The search box is not cleared when pressing ALT + DELETE"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Log in with account
3. Click on Fub menu - New Group
4. Use the arrow keys to go through th

[2022-08-03 03:30] techievivek commented on #8589
Not overdue.

[2022-08-03 04:12] jeet-dhandha commented on #9918
Upwork link : https://www.upwork.com/freelancers/~01921c050b587a3859

[2022-08-03 04:17] jeet-dhandha commented on #9826
Upwork link : https://www.upwork.com/freelancers/~01921c050b587a3859

[2022-08-03 04:30] dhairyasenjaliya commented on #8592
alright, will wait for additional details :)

[2022-08-03 04:37] dhairyasenjaliya commented on #10148
actually this issue I have discussed here https://github.com/Expensify/App/issues/8592#issuecomment-1152926071 before, but I have not reported this bug on slack and also I did write a proposal there in order to solve

Currently, I'm waiting for the internal team here https://github.com/Expensify/App/issues/8592#issuecomment-1203057240 they decide to split mWeb and iOS as 2 separate issues once I g

[2022-08-03 05:17] MonilBhavsar commented on #10224
@Beamanator looks like it is coming from https://github.com/Expensify/App/pull/9635
I think it would be better to display growl in this case that action is successful. What do you think?

[2022-08-03 05:20] MonilBhavsar commented on #10224
cc @Julesssss as it appears like Alex is OOO today and this is hourly issue

[2022-08-03 05:34] parasharrajat commented on #10224
There was a confirmation modal.

[2022-08-03 05:43] jliexpensify commented on #9918
I've had to take some unexpected time off, so assigning to Kadie (my leave buddy) to manage!

[2022-08-03 05:43] jliexpensify commented on #9817
I've had to take some unexpected time off, so assigning to Kadie (my leave buddy) to manage!

[2022-08-03 05:44] jliexpensify commented on #9809
I've had to take some unexpected time off, so assigning to Kadie (my leave buddy) to manage!

[2022-08-03 05:45] jliexpensify commented on #9809
TL;DR - waiting for @kbecciv to confirm if this is an issue on staging.

If not, we can close this GH!

[2022-08-03 05:45] kadiealexander commented on #9444
Everyone is paid! Thanks team!

[2022-08-03 05:45] #9444 closed

[2022-08-03 05:45] jliexpensify commented on #8597
I've had to take some unexpected time off, so assigning to Kadie (my leave buddy) to manage!

[2022-08-03 05:46] jliexpensify commented on #9620
I've had to take some unexpected time off, so assigning to Kadie (my leave buddy) to manage!

[2022-08-03 05:49] mateusbra commented on #10221
### PROPOSAL
We need to upgrade the version of `react-native-svg` to the latest on [package.json](https://github.com/Expensify/App/blob/main/package.json):
https://github.com/Expensify/App/blob/28778a093d00dc8b882592886145e66d242d9159/package.json#L105
to:
[code]
I tested `npm install` and it worked fine, so I don't think we are going to have to update any peer deps.

[2022-08-03 06:17] eVoloshchak commented on #10220
When you are entering the name on the New Group page, name starts with uppercase letter. When you're on Details page, name starts with lowercase letter. [getDefaultAvatar](https://github.com/Expensify/App/blob/28778a093d00dc8b882592886145e66d242d9159/src/libs/ReportUtils.js#L346) is case sensitive, those are two different name, hence two different colors.

If that is not the expected behavior, all

[2022-08-03 07:29] parasharrajat commented on #10221
@mateusbra Looks good. These things need to be tested and verified on the PR.
1. A thorough check of the app where SVG's are used. Videos should be attached for the same.
2. Changelog.

cc: @AndrewGable

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-08-03 07:32] wildan-m commented on #10163
Hi,

Is it for an external contributor? How can we reproduce the issue locally?

I've tried to use localhost and also using ngrok, but the API URL correctly pointed to the desired URL

<img width="659" alt="image" src="https://user-images.githubusercontent.com/11847279/182550357-6372f38e-9ffe-46ce-9dd7-adcd8acb1632.png">

[2022-08-03 07:43] Beamanator commented on #10224
I was ooo most of yesterday, back today! I'm not sure this growl was necessary, i'll take a look at the design doc where this refactor happened to see if this detail was missed or if it's expected we don't show the growl

[2022-08-03 08:06] dylanexpensify commented on #10182
internal: https://www.upwork.com/ab/applicants/1554740356535685120/job-details
external: https://www.upwork.com/jobs/~0126faf1bb35fa93b6

[2022-08-03 08:10] dylanexpensify opened #10227 "Upgrade the dependency `tmpl`"
Coming from [this issue](https://github.com/Expensify/Expensify/issues/218328), and specifically [this comment](https://github.com/Expensify/Expensify/issues/218328#issuecomment-1202918153).

[code]

**We need to update these now:**
[code]

https://github.com/Expensify/App/blob/650f02dee4b5a542d5a0b3093505d76c802cefba/package.json#L165-L167

**Important Notes:**
- Updating the 3 of them at the sam

[2022-08-03 08:10] dylanexpensify commented on #10227
CC @flodnv

[2022-08-03 08:15] Beamanator commented on #10224
Ok the confirmation Growl wasn't specifically discussed in the doc, but I don't think the Growl is necessary. We automatically redirect the user to the sign in screen when they close their account, that should be good enough. I would say we just need to update the regression test steps to not look for the growl anymore

[2022-08-03 08:17] Beamanator commented on #9917
Yeah I agree, we can reopen if someone produces later 🤷

[2022-08-03 08:17] #9917 closed

[2022-08-03 08:29] flodnv commented on #10163
On staging.new.expensify.com and new.expensify.com, you should see requests going to www.expensify.com. This update is about pointing staging.new.expensify.com to staging.expensify.com

[2022-08-03 08:31] dylanexpensify commented on #9421
bump @sketchydroide

[2022-08-03 08:31] dhairyasenjaliya commented on #10188
I actually have this issue thought it was some local issue so didn't report it on slack, but it seems to be a real issue

**Steps to reproduce**

1. Open any chat
2. Press on the composer (open keyboard)
3. Put the app in the background
4. Open again with the keyboard open
5. Press back immediately
6. You should see the bottom space same as the keyboard height

https://user-images.githubuserconten

[2022-08-03 09:07] Beamanator commented on #10215
Oofda this was probably my change, I'll look into it now

[2022-08-03 09:11] Julesssss commented on #10224
Yeah, there was. IIRC the 'type your account details' was a replacement for this step though.

I also kinda think the growl should exist though. Regardless, it shouldn't be a deployblocker.

[2022-08-03 09:14] Julesssss commented on #10169
Checked off https://github.com/Expensify/App/issues/10224 as a blocker. It's very minor and we're still discussing how to handle.

[2022-08-03 09:17] MonilBhavsar commented on #9239
Still on hold

[2022-08-03 09:25] MitchExpensify commented on #9741
Paid and contracts ended, thanks everyone!

[2022-08-03 09:25] #9741 closed

[2022-08-03 09:27] Julesssss commented on #10202
Thanks Rory. I recalled an existing issue for the icon, but can't find anything in our open issues 🤷

I updated the description and title to include both issues and will open up for contributors.

[2022-08-03 09:33] errahsoufiane commented on #10182
**### Proposal**
https://github.com/Expensify/App/blob/28778a093d00dc8b882592886145e66d242d9159/src/components/EmojiPicker/EmojiPickerMenu/index.js#L150
This happens because of this line when any arrow key is pressed. To make left, right arrows work as default behavior in input box, this line should be removed.
Also I think default behavior is more user friendly than **switching to emoji tab** whe

[2022-08-03 09:48] Beamanator commented on #10215
Looks like the problem is with the button styling, not button being disabled - the button is somehow a bit grayed out after editing, saving, and editing again - but it's not actually disabled (via `isButtonDisabled`)

Completely disabled: Opacity 0.5
Slight gray styling: Opacity 0.827092 (this changes somehow!!)
Normal button: Opacity 1

[2022-08-03 09:59] syedsaroshfarrukhdot commented on #10182
**Proposal**
https://github.com/Expensify/App/blob/28778a093d00dc8b882592886145e66d242d9159/src/components/EmojiPicker/EmojiPickerMenu/index.js#L150

The bug occurs because of keyBoardEvent.preventDefault(); which disable keyobard key default behaviour on the input field in search box when arrow keys on keyboard are pressed.

So we could add a condition on   keyBoardEvent.preventDefault(); to avoi

[2022-08-03 10:02] sketchydroide commented on #9421
humm, sorry this was missed completly for some reason.

[2022-08-03 10:06] flodnv commented on #10216
@luacmartins can you take a look? Not sure if this can be external

[2022-08-03 10:22] trjExpensify commented on #10202
Upwork job here: https://www.upwork.com/jobs/~01cb430b907eadaa26

[2022-08-03 10:22] Beamanator commented on #10215
Something interesting I'm seeing: When we have the old `PersonalDetails.setPersonalDetails` code, dimming & un-dimming (via `OpacityView`) finishes:

<img width="277" alt="Screen Shot 2022-08-03 at 12 20 39 PM" src="https://user-images.githubusercontent.com/3885503/182585282-d0d0b030-54ee-4e90-952c-a2bbd5279b15.png">

However, when we use my updated code (`PersonalDetails.updateProfile`), dimming

[2022-08-03 10:24] Beamanator commented on #10215
I got the ^ "finished dimming / undimming" logs by adding console logs here:

![Screen Shot 2022-08-03 at 12 23 16 PM](https://user-images.githubusercontent.com/3885503/182585871-bc898fda-632f-4f39-95a1-116e50121e18.png)

[2022-08-03 10:34] wildan-m commented on #10163
@flodnv did you mean to refactor the caption and variable to `Use Staging Server` and `shouldUseStaging` then make the `shouldUseStaging` default value to `true`?

[code]

[2022-08-03 10:51] Gonals commented on #10227
Looks good for external!

[2022-08-03 10:52] Beamanator opened #10230 "Profile "Save" button opacity inconsistent and looks disabled sometimes"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Edited profile information, saved, then edited profile info again

## Expected Result:
The Save button should be full opacity - n

[2022-08-03 10:53] Beamanator commented on #10215
Closing this in favor of https://github.com/Expensify/App/issues/10230, also I don't think this is a Deploy blocker since it's just an opacity issue

[2022-08-03 10:53] #10215 closed

[2022-08-03 10:53] Beamanator commented on #10230
Determined not a deploy blocker since product can still be used normally

I have done more investigation in the linked deploy blocker here: https://github.com/Expensify/App/issues/10215#issuecomment-1203763588

[2022-08-03 11:33] MitchExpensify commented on #10181
[Upwork Job](https://www.upwork.com/jobs/~01ae3835d3fb9f6447)

[2022-08-03 11:38] MitchExpensify commented on #10022
Yes on second look I do not think this is a bug. Will hold on @puneetlath 's take before possibly removing the Upwork job and closing this out

[2022-08-03 12:01] Beamanator commented on #10224
I think you're right about this one. In the PR you can see that the only modal I changed was the error modal, not any confirm modal

Agree it should be a deploy blocker, the growl could make sense too - I think we are mainly trying to avoid growls now'days because they're only showing for a limited time and .. some other reasons I forget? But if you close your account, you get logged out and it do

[2022-08-03 12:01] mountiny commented on #10163
@wildan-m I think there is a bit of confusion. We have two API servers, one classic and one secure. Both of them have production and staging versions.

What the toggle does currently is that it will point any Secure API calls to staging. However, the classic API calls are all pointed at the production API endpoint, which gives us no option to test our API in staging with this App.

What we want is

[2022-08-03 12:03] Beamanator commented on #10217
Oofda yeah I'll look into this :'(

[2022-08-03 12:06] Beamanator commented on #10217
Aah ok so it's not re-rendering when this is updated - if you refresh the new values are shown

[2022-08-03 12:06] Beamanator commented on #10217
I can take over this one

[2022-08-03 12:07] kbecciv commented on #9809
@jliexpensify Sure, will update you shortly.

[2022-08-03 12:30] Julesssss commented on #10224
I view this as an exception to the no growl rule as closing an account is an incredibly rare and important event. Also, when testing I did notice that there wasn't any feedback and it felt a bit odd -- almost like there had been an error.

[2022-08-03 12:38] #10218 closed

[2022-08-03 12:40] Puneet-here commented on #9979
Thanks, I have accepted the offer now. Just a note that contract was set on hourly rate.

[2022-08-03 12:46] Beamanator commented on #10224
I'm ok with either way - growl or no growl. I don't find it confusing that "close account" takes you back to the sign in page w/out a growl but I wouldn't be opposed to adding one there

[2022-08-03 12:56] parasharrajat commented on #9941
### Proposal.

There are a couple of challenges to this. Out of all the biggest one is that setImmediate is removed from jest https://github.com/facebook/jest/pull/11222 and but react-native still uses that. So far, I think upgrading RN will fix that.

For now, we can do the following to upgrade the version. I have done a combined upgrade as a lot of things are interconnected.

Here is the diff.
[

[2022-08-03 12:56] parasharrajat commented on #9941
Proposal above will also fix https://github.com/Expensify/App/issues/10227.

[2022-08-03 12:59] MonilBhavsar commented on #10224
Agree 👍 this seems like a "no growl" exception and we should add one to indicate that action succeeded.

[2022-08-03 13:06] MonilBhavsar commented on #9391
It is the issue. We don't want empty chats (individual/group) to appear in LHN. In this case, after refreshing the page, an empty chat is displayed in LHN and we want to fix that.

[2022-08-03 13:16] kbecciv opened #10232 "Log in - The Fab menu does not open automatically when log in with new account"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to https://staging.new.expensify.com/
2. In the email field, enter a gmail email address for a new account.
3. Press

[2022-08-03 13:44] Beamanator commented on #10198
Note: In the video, the sms domain shows in the main chat window for a brief moment (the video is short). This can definitely be fixed externally

[2022-08-03 14:31] Santhosh-Sellavel commented on #10202
@swiftpipe Where are suggesting these changes, can you point me to the file or code block you are suggesting these corrections?
Example: Need to update the below style
https://github.com/Expensify/App/blob/28778a093d00dc8b882592886145e66d242d9159/src/styles/styles.js#L233-L237
as shown below.
[code]

Thanks!

[2022-08-03 14:45] melvin-bot[bot] opened #10233 "[HOLD] [$2000] 💥 Crash 💥 `resetFreePlanBankAccount`"
## Non-fatal Exception: JavaScriptError
### Missing bankAccountID when attempting to reset free plan bank account
### `main.jsbundle:154714:22 line 154714` `resetFreePlanBankAccount`
### Number of Crashes: 30

## Device Information
* **Platforms:** Android, iOS
* **App Versions:** `1.1.87.8`, `1.1.87-9`, `1.1.87.9`, `1.1.88-1`, `1.1.88-3`, `1.1.88.5`, `1.1.96.5`, `1.2.0-8`
* **Devices:** samsung S

[2022-08-03 15:06] kevinksullivan commented on #6527
Doubled

[2022-08-03 15:08] techievivek commented on #10029
Not overdue. Its on hold.

[2022-08-03 15:50] marcaaron commented on #9579
Can someone summarize why this is on HOLD? Could we not finish what we started and then iterate on top of that? Do we expect push to page to significantly change the design of the existing forms or to build on that system?

[2022-08-03 15:52] marcaaron commented on #9579
This is like just swapping out some existing code for a smaller new component with default behaviors right? Not exactly a major redesign (since the VBA flows already follow the best practices for forms) or refactor.

[2022-08-03 15:52] parasharrajat commented on #10227
I added a proposal that will fix this too https://github.com/Expensify/App/issues/9941#issuecomment-1203914521

[2022-08-03 15:57] luacmartins commented on #10188
Hmm I can't reproduce this on the latest main (1.1.87-8) or staging (1.1.86-5). We reverted [this PR](https://github.com/Expensify/App/pull/10113) which was causing a lot of similar issues and that was deployed in v1.1.86-2. Is this still happening on v1.1.86-2 or higher (this issue mentions 1.1.86-0)?

[2022-08-03 15:58] luacmartins commented on #10216
Yup, I'll investigate

[2022-08-03 16:02] marcaaron commented on #6527
Confused about this feature. Is what we are asking clear and does it make sense? Does anyone have a very rough idea about how to make this possible?

Seems like we have the ability to "store files in Onyx". Is the proposal to use Onyx to cache these attachments? Is it a separate Onyx key for attachments? Or are we saving them with the `reportAction_*`? Something else?

[2022-08-03 16:17] dhairyasenjaliya commented on #10188
@luacmartins I can reproduce in latest code 1.1.87-8

[2022-08-03 16:21] marcaaron commented on #10225
Hmm? Why would `alt + delete` clear the search box? Open to other perspectives on this, but doesn't seem like anyone is asking for this so it should not be a priority to fix. The user can `ctrl + a` then `delete` if they want to clear an input.

[2022-08-03 16:22] JmillsExpensify commented on #8791
Reviewers have requested updates in the linked PR. We're currently working through those.

[2022-08-03 16:23] JmillsExpensify commented on #9466
I'm coming back from vacay and it's still not clear this is an issue, so I'm going to proactively close. Please re-open if anyone is able to reproduce.

[2022-08-03 16:23] #9466 closed

[2022-08-03 16:24] JmillsExpensify commented on #9662
I'm back and we still lack proposals so I'm going to raise the price of this issue.

[2022-08-03 16:26] shawnborton commented on #10202
Why do we need to change the line height to solve this? I am also a bit confused as to how the grid screenshot you [pasted here](https://github.com/Expensify/App/issues/10202#issuecomment-1203948291) relates to this as well?

The line height of the text has cascading effects in other parts of the app, so I would be careful with making a global change like that just to fix this input without seeing

[2022-08-03 16:28] jayeshmangwani commented on #10182
#### Proposal

We will check if the search input is focused and ArrowLeft or ArrowRight pressed then return from keyDownHandler and do nothing

https://github.com/Expensify/App/blob/28778a093d00dc8b882592886145e66d242d9159/src/components/EmojiPicker/EmojiPickerMenu/index.js#L148
[code]

https://user-images.githubusercontent.com/35371050/182659716-604b00ab-2dc4-473b-9e8f-a9f7b6e83d10.mov

[2022-08-03 16:38] roryabraham commented on #9725
Not going to address this just now. Switching to monthly

[2022-08-03 16:42] roryabraham commented on #9020
No update. This really only covers a sort of rare edge case where pusher or our web servers are down, so despite being under the Offline-First umbrella it's really not as high priority as some other items.

[2022-08-03 16:42] roryabraham commented on #9211
Still on HOLD

[2022-08-03 16:43] roryabraham commented on #9703
Hoping to submit a PR for this today

[2022-08-03 17:04] chiragsalian commented on #9245
Hmm i'm unsure what to do here.
Its simple of the backend to handle when we have a specific number of people all under the same domain and are part of the same calendar.
I don't know if the backend can create a calendar such that millions of users can have access to it as needed.

Do you have any other suggestions to research @rushatgabhane? If not we might have to discuss this in slack to get ide

[2022-08-03 17:29] NikkiWines commented on #7487
still on hold

[2022-08-03 17:32] youssef-lr commented on #10093
I can reproduce this, working on it. For some reason, the issue occurs when we display `displayName` which get displayed incorrectly then the code switches to displaying `firstName`.

![Screen Shot 2022-07-28 at 01 15 37](https://user-images.githubusercontent.com/9680864/182672172-d1c70608-63d3-4aba-a57d-94aabaa05e89.png)
.

[2022-08-03 17:42] roryabraham commented on #6527
Good callout @marcaaron that we should get more crisp on the requirements.

My understanding of this issue is that we have this ability and basically aren't really using it yet? But I could be wrong.

[2022-08-03 17:46] michaelhaxhiu commented on #9823
Interesting - so this doesn't need assignment it seems! Definitely holding off on doubling the price any more.

[2022-08-03 18:40] thienlnam commented on #10036
Updated the original post to clarify expected / actual behavior and added the screenshot/mp4 from above

[2022-08-03 18:45] #10204 closed

[2022-08-03 18:57] marcaaron commented on #10032
Let's close this issue as it is not reproducible.

[2022-08-03 18:57] #10032 closed

[2022-08-03 19:08] thesahindia commented on #9702
PR is up.

cc: @rushatgabhane

[2022-08-03 19:25] Christinadobrzyn commented on #7648
Yes, based on this [comment](https://github.com/Expensify/App/issues/7648#issuecomment-1168078917), you should have been paid $1000 - I didn't see that at the time of paying you for this job.

[2022-08-03 19:29] yuwenmemon commented on #10169
Checked off https://github.com/Expensify/App/issues/10215 as a blocker based on https://github.com/Expensify/App/issues/10215#issuecomment-1203790510

[2022-08-03 19:29] Christinadobrzyn commented on #7648
Sounds good, I wasn't aware of the regressions, is it an option to reject the bonus?

[2022-08-03 19:34] Christinadobrzyn commented on #7648
Sounds good, I just requested a refund @rushatgabhane

@parasharrajat I also created this new job to pay you the $250 - https://www.upwork.com/ab/applicants/1554909413932630016/job-details

Let me know when you've accepted the offer and I'll pay you.

[2022-08-03 19:37] aldo-expensify commented on #9545
This `Cannot read property 'login' of undefined` may be caused by what @tgolen pointed out here: https://github.com/Expensify/App/pull/9385/files#r913253011

[2022-08-03 20:12] michaelhaxhiu commented on #10058
@marcaaron sorry if this is a rookie question but I haven't exported a job like this before 😓 - is this GH sufficient to be posted to upwork like this?

I reviewed the info in the GH body and my personal understanding is that there were 86 crashes, and it's mainly due to the text strings formatting? So like that's sufficient in itself to be posted as a job?

[2022-08-03 21:10] marcaaron commented on #10058
I think so. Can't think of why we should not make it External or what else needs to be added.

[2022-08-03 21:34] roryabraham commented on #10157
Reassigning because @jliexpensify is out on parental leave.

[2022-08-03 22:28] chiragsalian commented on #9971
Discussed 1:1 with jack. Taking over the issue.

[2022-08-03 23:34] marcochavezf commented on #7586
I'm going to continue with this one tomorrow morning

[2022-08-03 23:37] bfitzexpensify commented on #9938
Bump @parasharrajat

[2022-08-03 23:39] NicMendonca commented on #10127
job post: https://www.upwork.com/jobs/~01bda8500853223a95

[2022-08-03 23:47] NicMendonca commented on #9818
Job posting: https://www.upwork.com/jobs/~017a11ea11ddc116ae

[2022-08-04 00:33] Luke9389 commented on #10185
I'm not able to replicate this issue. Were you able to @zanyrenney?
Could you leave more detailed instructions @mvtglobally?

[2022-08-04 03:27] mvtglobally commented on #10169
@yuwenmemon Regression sis completed
Deploy Blocker open  #10217

PR https://github.com/Expensify/App/issues/9696 is failing due to https://github.com/Expensify/App/issues/10217
PR #9831 is failing due to https://github.com/Expensify/App/issues/8497. Not a blocker. Checking off
PR https://github.com/Expensify/App/pull/9954 is failing due to https://github.com/Expensify/App/issues/10223. Not a bloc

[2022-08-04 03:30] Santhosh-Sellavel commented on #9662
Let's cap the price for this issue. @JmillsExpensify @luacmartins

[2022-08-04 03:38] mvtglobally opened #10240 "[HOLD for payment 2022-11-02] [$250] Unable to enter valid name on enable payments page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. The account already has a bank account added.
2. Hit green plus button
3. Send money
4. Enter amount
5. Enter email
6. Pay wit

[2022-08-04 03:58] kadiealexander commented on #10233
@marcaaron is this intended for `external`? As an engineering outsider, I don't understand what's being asked of the person who will be fixing the issue here.

[2022-08-04 03:58] syedsaroshfarrukhdot commented on #10127
**Propsosal**

https://github.com/Expensify/App/blob/151ec1ad3355cfa162ad490030f19a7134bbc076/src/components/ArrowKeyFocusManager.js#L36-L38

The bug that causes highlighter to hide  when up arrow on keyboard is pressed at the list top item in all list is because newFocusedIndex is -1 at that time due to this line

https://github.com/Expensify/App/blob/151ec1ad3355cfa162ad490030f19a7134bbc076/src/

[2022-08-04 07:02] jeet-dhandha commented on #10202
### Proposal

Path : `./src/styles/styles.js`

<img width="560" alt="Screenshot 2022-08-04 at 11 16 28 AM" src="https://user-images.githubusercontent.com/78416198/182783185-1122c2c8-0f31-464c-8caf-a9035f743378.png">

**Issues Fixed -**

**Android:**
1. Extra top Space - removed.
2. Text aligned Centered.
<img width="407" alt="Screenshot 2022-08-04 at 12 28 32 PM" src="https://user-images.githubuse

[2022-08-04 08:21] ahmdshrif commented on #9818
i think it's the same crash here https://github.com/Expensify/App/issues/9624 .

[2022-08-04 08:29] errahsoufiane commented on #9818
yes correct

[2022-08-04 08:31] errahsoufiane commented on #9818
this fix is already merged into `main` and now successfully deployed to staging

[2022-08-04 08:39] #10217 closed

[2022-08-04 08:43] pecanoro commented on #9818
Let's close this one then since it's the same crash!

[2022-08-04 08:46] railway17 commented on #10181
### Proposal

I could replicate the issue in only real devices, not simulators.

Actually, this is an exceptional case, which we can reproduce even though we test with 2 input boxes in an empty page.
So, we can resolve this issue by adding `returnKeyType` props in the `OptionsSelector` like this.

[code]

It will resolve this issue.

[2022-08-04 08:51] OSBotify commented on #10169
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10231) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.87-9` :rocket:

[2022-08-04 12:19] kavimuru opened #10243 "[HOLD][$250] Web - Compose Box - In the minimize window, one chat opens with weird behavior"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #9706
## Action Performed:
1. Click on one chat first
2. Minimize the window as much as possible
3. Maximize the window

[2022-08-04 12:42] kavimuru commented on #10225
@marcaaron We have a regression step `Verify that the search box is cleared when pressing "ALT + DELETE"`

[2022-08-04 13:11] michaelhaxhiu commented on #10068
Upwork job link - https://www.upwork.com/jobs/~01235432bab840e420

[2022-08-04 13:38] Harshdeepjoshi commented on #9660
Sorry for being late, I was busy with my college exams,PR is ready for review.

[2022-08-04 13:46] liyamahendra commented on #10202
# Proposal

## Problem

Though the issue can be solved by modifying the lineHeight as shared in one of the proposal above, I found that the `paddingVertical` value used inside `textInputComposeSpacing` is causing the actual issue reported. The current value of `textInputComposeSpacing` is

[code]

## Solution

Updating the `paddingVertical` value resolves the text alignment issue seen here. Change

[2022-08-04 14:21] michaelhaxhiu commented on #7916
We are still discussing in slack https://expensify.slack.com/archives/C01GTK53T8Q/p1659459279504269?thread_ts=1654195847.140899&cid=C01GTK53T8Q

[2022-08-04 14:23] Julesssss commented on #10068
@michaelhaxhiu I'd take this off Upwork. While we have the native logs and I can see the crash is due to us setting the background of an Android EditText (`AppCompatEditText.setBackgroundDrawable`), we have no way of knowing which app feature caused this, and no reproducible steps.

[2022-08-04 14:25] michaelhaxhiu commented on #9624
Update on behalf of @errahsoufiane. It seems this is in progress, but the PR hasn't merged successfully to staging.

https://github.com/Expensify/App/pull/10071#issuecomment-1201803371

[2022-08-04 14:25] Julesssss commented on #10058
I don't think we should export the Firebase crash reports to UpWork unless a mobile deployer has found the cause in the logs and can provide reproducable steps.

One-off crashes are often difficult to track down. Now even more so due to us not having the Javascript stack trace 😕

[2022-08-04 14:32] michaelhaxhiu commented on #10058
@Julesssss there was some related discussion in #engineering-chat **[here](https://expensify.slack.com/archives/C03TQ48KC/p1659554424588699)** in case you want to take a look.

[2022-08-04 15:00] luacmartins commented on #10188
@dhairyasenjaliya I tried your steps above, while I couldn't repro on dev, I did see the behavior on a physical device on staging. The one caveat is that the white space goes away after a little bit. The events are something like:

1. Open chat and focus on the compose box (keyboard will open)
2. Navigate away from chat (keyboard closes), but whitespace remains
3. Whitespace animates away after a

[2022-08-04 15:06] Julesssss commented on #10058
Thanks. I ended up sharing a [P/S here](https://expensify.slack.com/archives/CC7NECV4L/p1659625028212289). Which is partially invalidated by those suggestions.

[2022-08-04 15:21] trjExpensify commented on #8459
@parasharrajat what's going on with this issue? Can we get an update, please.

[2022-08-04 15:22] luacmartins commented on #9662
@Santhosh-Sellavel what's the reasoning for the cap and what is your price cap suggestion?

[2022-08-04 15:36] kevinksullivan commented on #9705
Price doubled

[2022-08-04 15:44] thesahindia commented on #8927
Bump for upwork.
cc: @adelekennedy

[2022-08-04 15:46] neil-marcellini opened #10246 "Add constants for the RBR pending actions"
## Problem
We use a few unique values for pending actions as part of the Red Brick Road and pattern B. We want to standardize these values and makes it easy to change them if needed.

## Solution
Add constants for the RBR pending actions.

[2022-08-04 15:50] shawnborton commented on #10202
Awesome, I think the padding solution is much better than changing the line height.

[2022-08-04 15:53] railway17 commented on #9705
Confirm again.
Are you referring `touchpad` of laptop, right?

[2022-08-04 15:59] Santhosh-Sellavel commented on #9818
Seems we need to hold until deployment.

[2022-08-04 16:11] Santhosh-Sellavel commented on #10202
Yeah, @liyamahendra [proposal](https://github.com/Expensify/App/issues/10202#issuecomment-1205281215) looks better. Review it now to ensure everything works fine at my end.

[2022-08-04 16:13] Tabakharniuk commented on #6301
PR passed review. Currently fixing unit tests

[2022-08-04 16:20] b1tjoy commented on #8311
### PROPOSAL
### Problem
We use LongPressGestureHandler to replace Pressable in PR https://github.com/Expensify/App/pull/8018, and this PR fix https://github.com/Expensify/App/issues/7462. In that issue, long press on image doesn't open the context menu, but act like short press and open image thumbnail. If we fix issue 7462 with a solution which does not replace Pressable with LongPressGestureHan

[2022-08-04 16:39] tgolen commented on #8292
@parasharrajat It looks like you never provided an update on this issue. Mind adding one?

[2022-08-04 16:39] michaelhaxhiu commented on #10169
Seems we have a ton of deploy blockers this week.

[2022-08-04 16:40] yuwenmemon commented on #10169
Whew! Let's get workin'!

[2022-08-04 16:43] Julesssss commented on #9809
I tested on `v1.187-9` and I'm also unable to reproduce. iPhone 7 running 13.3

@kbecciv could you share the OS version and device that your team can reproduce it on? Thanks.

[2022-08-04 16:49] yuwenmemon commented on #10169
@mvtglobally looks like https://github.com/Expensify/App/issues/10217 has been fixed in version v1.1.87-9 - can we retest everything that was blocked on that?

[2022-08-04 16:50] Christinadobrzyn commented on #10025
Posted in Upwork

Internal job - https://www.upwork.com/ab/applicants/1555234425307328512/job-details
External - https://www.upwork.com/jobs/~018e8bdf83eff54aab

[2022-08-04 16:58] kbecciv commented on #9809
Checking with team, will update you shortly

[2022-08-04 17:03] AndrewGable commented on #10233
This is a crash that is happening on the iOS device, we want to prevent the crash from happening. How can we make this more clear in the issue? Thanks!

[2022-08-04 17:37] roryabraham commented on #9020
Speak of the devil: https://expensify.slack.com/archives/C03SC9DVD/p1659625927469579

[2022-08-04 17:40] arielgreen commented on #10189
Are we ok to close this, then?

[2022-08-04 17:45] mvtglobally commented on #10169
#10217 is fixed in the new build.

https://user-images.githubusercontent.com/43995119/182916498-eff979d0-0605-4339-9151-a40dfae49ef1.mp4

[2022-08-04 17:56] kbecciv commented on #9809
@Julesssss Please attached the version and model of the device.
![Image from iOS (43)](https://user-images.githubusercontent.com/93399543/182918399-ef2264b8-810a-412e-8f80-1ed8496422aa.png)

[2022-08-04 18:09] mvtglobally commented on #10169
@yuwenmemon  Summary of Outstanding items

PR https://github.com/Expensify/App/pull/9696 is failing due to https://github.com/Expensify/App/issues/10217. We are retesting
PR https://github.com/Expensify/App/pull/10037 is Blocked as we are no longer seeing WellsFargo to trigger onfido flow. Will you be able to validate internally?
PR https://github.com/Expensify/App/pull/10072 We are directed to PR

[2022-08-04 18:10] yuwenmemon commented on #10169
Yes, go for it - agreed it's not a blocker

[2022-08-04 18:18] Santhosh-Sellavel commented on #9662
It looks relatively simple, not sure believe $1000 should be more than reasonable.

[2022-08-04 18:35] deetergp commented on #9628
Not overdue. PR is in review.

[2022-08-04 18:42] yuwenmemon commented on #10169
Checking off https://github.com/Expensify/App/pull/10037

[2022-08-04 18:55] bfitzexpensify commented on #9941
@sketchydroide if you can confirm it will fix https://github.com/Expensify/App/issues/10227 too, I'll close that issue out

[2022-08-04 18:58] bfitzexpensify commented on #10227
Nice. I'll wait for a secondary confirmation on that and then close this out if so.

[2022-08-04 19:05] bfitzexpensify commented on #9548
Upwork job [here](https://www.upwork.com/jobs/~01027bb50ca87102af)

[2022-08-04 19:08] alex-mechler commented on #10243
This does seem like some very strange behavior. Marking external

[2022-08-04 19:09] marcaaron opened #10248 "[Performance] Sidebar Performance at Scale"
## What performance issue do we need to solve?

OptionsListUtils and SidebarLinks are pretty slow and the issues get worse as you increase the number of reports.

As recently discovered in [this fire](https://expensify.slack.com/archives/C03SYCHD988).

## What is the impact of this on end-users?

Slow boot time, slow chat switching, in some extreme cases inability to use the app.

## List any benc

[2022-08-04 19:33] yuwenmemon commented on #10169
@mvtglobally Okay looks like what's remaining is:

https://github.com/Expensify/App/pull/9696

https://github.com/Expensify/App/pull/10118

https://github.com/Expensify/App/pull/10231

All awaiting on your retest on Android on the new build. Let me know if there's anything I can help with!

[2022-08-04 19:34] mvtglobally commented on #10169
Checking off https://github.com/Expensify/App/pull/9696 & PR https://github.com/Expensify/App/pull/10231

[2022-08-04 19:38] mvtglobally commented on #10169
https://github.com/Expensify/App/pull/10118 - We are stuck on one device, as popup over 50MB doesn't appear only on Android device. checked new build as well. Blocked to validate PR. Android builds are not working properly, but its hard to validate production to compare.
Asked few other testers to try same to see if its limited to 1 tester only.
Not sure if it is a deploy blocker

https://user-ima

[2022-08-04 19:55] arielgreen commented on #8846
@mananjadhav can you provide an update on the review please?

[2022-08-04 20:18] bfitzexpensify commented on #4733
Doubled job to $500

[2022-08-04 20:19] mvtglobally commented on #10169
Checking off https://github.com/Expensify/App/pull/10118
![Screenshot_20220804-161650_New Expensify](https://user-images.githubusercontent.com/43995119/182944958-d892531a-8e2f-4a42-8dc8-52354da0a1d0.jpg)
8

[2022-08-04 20:21] yuwenmemon commented on #10169
:shipit:

[2022-08-04 20:21] #10169 closed

[2022-08-04 20:24] hamzashakeel348 commented on #10148
@mountiny  If it's still open, I can resolve it. Kindly let me know.

[2022-08-04 20:24] bfitzexpensify commented on #7121
Remains in review.

[2022-08-04 20:25] OSBotify opened #10253 "Deploy Checklist: New Expensify 2022-08-04"
**Release Version:** `1.1.88-15`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/4019
- [x] https://github.com/Expensify/App/pull/4117
- [x] https://github.com/Expensify/App/pull/4131
- [x] https://github.com/Expensify/App/pull/4143
- [x] https://githu

[2022-08-04 20:35] #10246 closed

[2022-08-04 20:39] dave-amit commented on #8349
link not working!

[2022-08-04 20:40] roryabraham commented on #10058
Until we have automatic decoding of stacktraces in these issues, you can manually decode the stacktrace by:

1. Find the [platformDeploy workflow run](https://github.com/Expensify/App/actions/workflows/platformDeploy.yml) where the version listed in the issue description was deployed
1. Download the sourcemap artifact from the workflow run:

    <img width="971" alt="image" src="https://user-image

[2022-08-04 20:45] jasperhuangg commented on #10186
Hey sorry for the delay! This looks like a good candidate for an external contributor to work on.

[2022-08-04 21:07] dave-amit commented on #8349
sorry, above msg sent by me by mistake, I didn't see collapsed lines!

[2022-08-04 21:14] trjExpensify commented on #10188
I'm unable to attempt to reproduce this because I'm suffering some serious issues on iOS at the moment (being looked at elsewhere).

The action steps in the OP are pretty light, I'm going to update them to @dhairyasenjaliya ones from here:

[2022-08-04 21:19] trjExpensify commented on #10188
Job on upwork here: https://www.upwork.com/jobs/~012bd08b740a4f2ffa

[2022-08-04 21:20] trjExpensify commented on #10188
Hm, why did @ctkochan22 also get assigned here?

[2022-08-04 21:22] marcaaron commented on #10025
Seems like we are possibly not passing the required parameter in these two places:

https://github.com/Expensify/App/blob/a3859da42dc9214f178acb2f8b99d8be83b2bad3/src/libs/actions/Report.js#L1305
https://github.com/Expensify/App/blob/a3859da42dc9214f178acb2f8b99d8be83b2bad3/src/libs/actions/Report.js#L1017

As the goal of this is to mainly stop the crash we can probably just return early if it doe

[2022-08-04 21:44] michaelhaxhiu commented on #9509
Seems like the PR is close, this is coming along

[2022-08-04 22:01] OSBotify commented on #10253
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.88-1 :rocket:

[2022-08-04 22:13] kadiealexander commented on #6883
Hey team! Any updates?

[2022-08-04 22:20] neil-marcellini commented on #9413
This has caused a regression https://github.com/Expensify/App/issues/10182

[2022-08-04 22:21] neil-marcellini commented on #10182
@errahsoufiane you're right that `e.preventDefault()` seems to be breaking the arrow keys in the search bar.

That line was added in this commit https://github.com/Expensify/App/commit/e98cf8e67fbfaa53e1e523f8503700b57412a158 in this PR https://github.com/Expensify/App/pull/9473.

Here's the issue they were trying to solve https://github.com/Expensify/App/issues/9413. We need to find a solution th

[2022-08-04 22:23] azimgd commented on #6883
Hey, blocked / waiting for https://expensify.slack.com/archives/C01GTK53T8Q/p1659024346154599 to be answered

[2022-08-04 22:24] neil-marcellini commented on #9728
There has been a regression. Please see the related issue.

[2022-08-04 22:36] errahsoufiane commented on #10182
yes, that is already my proposal :)

[2022-08-04 22:39] adelekennedy commented on #8126
not overdue!

[2022-08-04 22:40] errahsoufiane commented on #10182
yes, [my proposal](https://github.com/Expensify/App/issues/10182#issuecomment-1203713120) will fix both problems.
`keyBoardEvent.preventDefault();` should be called only when arrow key is up or down in the case search input is focused.
If search input is not focused, arrow left, right should work between emojis

[2022-08-04 22:51] adelekennedy commented on #10157
@roryabraham to post this how do we position this to get contributors to work on this?

Title it `💥 Crash 💥 Android Device #10157`

[2022-08-04 22:54] adelekennedy commented on #9822
[internal](https://www.upwork.com/ab/applicants/1555326087021547520/job-details)
[external](https://www.upwork.com/jobs/~01215b5a906cd37bf4)

[2022-08-04 23:03] OSBotify commented on #10253
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.1.88-1 :rocket:

[2022-08-04 23:07] syedsaroshfarrukhdot commented on #10182
Yes, So that's why we need to check is that input this.searchInput.isFocused if it is false then only keyBoardEvent.preventDefault(); should be called and if  this.status.focused is true keyBoardEvent.preventDefault();  should not be called  it is mentioned in my proposal. This way we don't need to e.preventDefault() on arrow keys it should be on the input search field which will not lead to anoth

[2022-08-04 23:21] arielgreen commented on #10243
https://www.upwork.com/jobs/~01ca63ca537eb8471e

[2022-08-04 23:29] roryabraham commented on #10157
I would just call it `React Native Reanimated crash`

[2022-08-04 23:38] syedsaroshfarrukhdot commented on #10182
Yes, The solution to both problems is to not check isFocused state and only call e.preventdefault when ArrowUp and Arrow DownKey is Pressed

So we could do something like this.
if (keyBoardEvent.key === 'ArrowUp' || keyBoardEvent.key === 'ArrowDown'){
                keyBoardEvent.preventDefault();
}
and both problems will be solved.

[2022-08-05 00:29] jasperhuangg commented on #10079
@kbecciv @pecanoro mentioned that there aren't any missing FAB options, the main bug here is the problem with displaying the list of users in the New Chat and New Group pages, which both have been resolved in https://github.com/Expensify/App/pull/10140

Therefore I'm going to close this out.

[2022-08-05 00:29] #10079 closed

[2022-08-05 01:58] kadiealexander commented on #10233
I'm sure that's fine! Just wanted to make sure I'm on the right page as this is the first automated issue I've seen of this type. Thanks for clarifying @AndrewGable!

[2022-08-05 02:03] kadiealexander commented on #10233
https://www.upwork.com/ab/applicants/1555373667333824512/job-details
https://www.upwork.com/jobs/~0137aa51e8013ac7ec

[2022-08-05 02:14] kadiealexander commented on #10133
Reporting bonus paid! Thanks for your help @Puneet-here.

[2022-08-05 02:14] #10133 closed

[2022-08-05 03:05] yuwenmemon commented on #9819
No update

[2022-08-05 03:15] marcaaron commented on #10225
Interesting. Any more information about when it was added and why? This might help figure out what caused the regression.

[2022-08-05 03:29] dhairyasenjaliya commented on #10148
### Proposal

- When we add any message which is a typo (misspelled) into the composer and it sends as a message, but also it remains in text input with the auto-correct word in the iOS (app)

### Solution

- To fix the issue in iOS (App) we need to remove the line setNativeProps in submit() function as we are already clearing the text from the composer after submitting text so applying selection

[2022-08-05 03:34] aimane-chnaif commented on #9817
Hi @kadiealexander, how's it going? What's the next step for me?

[2022-08-05 03:49] kadiealexander commented on #9817
G'day @aimane-chnaif! Next steps will be to:

 - Accept the Upwork contract I just sent across
 - Get started on submitting a PR based on your proposal

You can check out our [Contributing.MD](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md) page for more detailed instructions on working on Expensify jobs. Let me know if you have any questions!

[2022-08-05 04:04] errahsoufiane commented on #10182
```!this.state.isFocused || ``` **(this is OR, not AND)**
this condition doesn't regress https://github.com/Expensify/App/issues/9413
Arrow Up/Down key trigger will always call `keyBoardEvent.preventDefault();` regardless of input focused status

The key difference between my proposal and @syedsaroshfarrukhdot's proposal is:
`Also I think default behavior is more user friendly than switching highl

[2022-08-05 04:44] syedsaroshfarrukhdot commented on #10182
Yes, I agree with you this is the only key difference between our proposals.

[2022-08-05 05:29] jeet-dhandha commented on #9826
@bfitzexpensify PR: https://github.com/Expensify/expensify-common/pull/461

[2022-08-05 06:35] kadiealexander commented on #10186
https://www.upwork.com/jobs/~01fa5fa238af39851b
https://www.upwork.com/ab/applicants/1555442172263116800/job-details

[2022-08-05 06:54] 87prashant opened #10256 "Local development setup help/guidance (Web App)"
I love the Expensify project and want to contribute to it. I have worked with react earlier. I am not sure if I am missing something.

I followed the Running the web app instructions:

Any help will be appreciated🙏.

1. Am I in the right direction as it redirects the page from `localhost:9000` to expensify.com?
2. Apart from that do I need react-native or its development set up for web app too?

H

[2022-08-05 06:54] #10256 closed

[2022-08-05 08:46] dhairyasenjaliya commented on #10188
**Proposal**

**Root Cause**

- Here on the `SidebarLinks.js` page we have added one package (component) `<KeyboardSpacer />` that is actually cause for this issue

- When we follow about steps to reproduce the issue, Here what happens is once we are on `SidebarLinks.js`  `<KeyboardSpacer />` this package does add one listener that mainly indicates keyboard status along with its height based on th

[2022-08-05 09:13] mountiny commented on #10188
I can take this on as CME 🙇 seems like the issue I worked on with @dhairyasenjaliya has similar cause and his PR which was linked csn fix this too.

[2022-08-05 09:32] eVoloshchak commented on #9728
https://github.com/Expensify/App/issues/10223 was present before this PR, I'm not sure this is a regression
I reverted https://github.com/Expensify/App/pull/9954, you can still see the https://github.com/Expensify/App/issues/10223

https://user-images.githubusercontent.com/9059945/183048734-287a0d65-c264-4ea6-8e4f-c4c700a08169.mp4

[2022-08-05 09:42] trjExpensify commented on #10188
Oh, so this should be fixed elsewhere you mean?

[2022-08-05 10:37] hamzashakeel348 commented on #10148
One easy solution is that, as before entering the message the value for that input is empty string, and after submitting the message if we set the that value to empty string again by using the hooks, it can resolve the issue.

It's one of the easiest solution we can do.

[2022-08-05 10:39] Julesssss commented on #10068
Yep good point. We'll be adding more of this info to the issues and I'll make sure we include the environment.

[2022-08-05 10:47] Julesssss commented on #10068
Unfortunately, I'm not sure we can provide environment at this point though.

The best guess I have is that somewhere we are styling an input or setting an icon on it -- but I can't think of any places in the app where this occurs. I'm tempted to close this one tbh but let's leave it open breifly

[2022-08-05 10:49] Julesssss commented on #9809
Sharing internally to see if anyone can reproduce with a similar device

[2022-08-05 11:38] mountiny commented on #10188
Based on @dhairyasenjaliya proposal it seems like removing the KeyboardSpacer as he tried in [this PR](https://github.com/Expensify/App/pull/10162) worked.

This issue is valid, not a duplicate though if that is what you asked for.

[2022-08-05 11:38] mountiny commented on #10188
@rushatgabhane What do you think of the proposal?

[2022-08-05 11:58] mountiny commented on #10188
I was able to reproduce multiple times (it is really annoying) 😄

Thank you!

[2022-08-05 12:23] trjExpensify commented on #10188
Cool, @dhairyasenjaliya let me know when you've applied on Upwork!

[2022-08-05 12:25] dhairyasenjaliya commented on #10188
@trjExpensify I can't access Upwork link maybe set to private

[2022-08-05 12:27] dhairyasenjaliya commented on #10188
hm @trjExpensify can't apply links seems to private

[2022-08-05 12:28] trjExpensify commented on #10188
Interesting.. I wonder why that is. Can you try this link? https://www.upwork.com/jobs/~012bd08b740a4f2ffa

[2022-08-05 12:29] dhairyasenjaliya commented on #10188
@trjExpensify latest one works applying now thank you :)

[2022-08-05 12:30] dhairyasenjaliya commented on #10188
@trjExpensify still I can't apply
Only invited users can find, view and apply to the job

[2022-08-05 12:32] trjExpensify commented on #10188
Ah yeah okay, so that setting was invited users only. Changed it and it should be good now.

[2022-08-05 12:37] dhairyasenjaliya commented on #10188
applied thank you :)
@trjExpensify

[2022-08-05 13:17] kbecciv opened #10257 "Login - There is No phone number is +15005550006 at the error when typed 2 digits and continue"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/8511

## Action Performed:
1. Go to staging.new.expensify.com
2. Type 2 digits

[2022-08-05 13:19] OSBotify commented on #10257
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-05 14:12] kbecciv opened #10258 "[Bug] [$250] IOS - Profile - Uploaded picture have been rotated itself after saving."
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with any account
3. Go Setting - tap on Avatar
4. Select upload photo
5. Tap choose from gallery
6. P

[2022-08-05 14:14] OSBotify commented on #10258
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-05 14:21] kavimuru opened #10259 "iOS/Safari - The smart banner is NOT shown on all pages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #10070
## Action Performed:
1. Open the app in mWeb Safari
2. Check for availability The smart banner

## Expected Resul

[2022-08-05 14:21] kbecciv opened #10260 "Login- No green/gray dot indicator is displayed while (online/offline)"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to staging.new.expensify.com
2. Logged in Chrome browser, Open the main chat page.
3. Turn on Airplane mode in device setti

[2022-08-05 14:29] kavimuru opened #10261 "iOS - There are two offline messages in final page of the send money IOU flow"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign into an account on NewDot.
2. Turn off your WiFi.
3. Click FAB> Send money
4. Complete until the final page of the flow

[2022-08-05 14:31] OSBotify commented on #10261
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-05 14:43] kbecciv opened #10262 "[HOLD for payment 2022-12-20] [$2000] mweb - Copy & Paste - Copy & Pasting text form code editor is not consistent"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Access staging.new.expensify.com
2. Sign into a valid account
3. Proceed to any chat
4. Copy text from a code editor and paste

[2022-08-05 14:50] puneetlath commented on #10109
@Santhosh-Sellavel yep, that seems like it would work. Let's do it.

[2022-08-05 14:51] puneetlath commented on #10109
@Santhosh-Sellavel please apply to the upwork job as well.

[2022-08-05 14:52] kbecciv opened #10263 "[$16000] No "Paste" option is shown after copying to devices native clipboard"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: User has "Copied" an image to the iOS devices native clipboard
1. Access staging.new.expensify.com
2. Sign into a

[2022-08-05 15:17] kavimuru opened #10264 "Workspace - The "Get started" modal does not popup in the workspace when redirected from OldDot"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___
Issue was found when executing #10172

## Action Performed:
1. Sign up with new account on OldDot
2. Select "Get Started" in WelcomeUser inbox task
3.

[2022-08-05 15:18] johnmlee101 commented on #10183
Honestly this seems very small priority. cc @Julesssss wondering if you agree and we should just close this out

[2022-08-05 15:21] johnmlee101 commented on #10257
@kbecciv the video evidence for this is for a different issue? I cannot reproduce otherwise

[2022-08-05 15:23] joelbettner commented on #10263
This looks like it can be worked on externally.

[2022-08-05 15:28] luacmartins commented on #9548
Some Crashlytics logs:

[code]
[code]

[2022-08-05 15:30] luacmartins commented on #9579
I'm down for removing the hold. I think any solutions we end up with should build on top of the current Form component. @iwiznia do you have any concerns regarding this?

[2022-08-05 15:31] neil-marcellini commented on #9579
I agree it would be good to remove the hold.

[2022-08-05 15:32] neil-marcellini commented on #9581
We're discussing removing the HOLD on this in the BankAccountStep refactor issue. Push to page discussions are still ongoing [here](https://expensify.slack.com/archives/C03U7DCU4/p1659645317130709).

[2022-08-05 15:40] kbecciv commented on #10009
@Gonals One of the tester experienced a similar issue. When open the New room through the FAB menu and press the spacebar on the keyboard, then the FAB menu will additionally open again.

https://user-images.githubusercontent.com/93399543/183112315-1524c471-8f5f-4786-be08-de92fe5b39cc.mp4

[2022-08-05 15:42] syedsaroshfarrukhdot commented on #10243
Is this issue still relevant and needs to be resolved? As, I have been working on it from last few hours but then by reference to PR #9706 found out that it has been put on hold by the team to find a more viable solution internally and the previous PR regarding this issue have been reverted. As it was newly marked external and the job was posted on Upwork. Not sure to work on it or not.

[2022-08-05 15:44] neil-marcellini commented on #10260
Sorry that it was unclear, but we have decided to repurpose that indicator as a "brick road" indicator. In the future it will show as a red dot if there is an error message that needs to be addressed within the settings, or as a green dot if we want to prompt the user to take an action.

[Here](https://github.com/Expensify/App/blob/178e48b7aedbd6be6db2dfcdd05bb2d32331203d/src/components/AvatarWith

[2022-08-05 15:44] #10260 closed

[2022-08-05 15:51] kbecciv commented on #10257
@johnmlee101 Sorry about that, updated correct video.

[2022-08-05 15:55] neil-marcellini commented on #9728
#10223 is not the regression. #10182 is the regression.

[2022-08-05 16:04] Santhosh-Sellavel commented on #10108
Not overdue discussion going on in slack

[2022-08-05 16:07] eVoloshchak commented on #10182
This was present before my PR

https://user-images.githubusercontent.com/9059945/183117211-6e43448f-f489-4f89-a558-5fd6f960d8d4.mp4

[2022-08-05 16:09] neil-marcellini commented on #10182
@eVoloshchak You might be right. Would you please link me to the commit before your PR was merged and also explain what you think is causing the problem?

[2022-08-05 16:19] eVoloshchak commented on #10182
Sure: https://github.com/Expensify/App/commit/92186e50db3d37064a07d0a5c9ddcf81df39d3ad

I think @parasharrajat is right, it's caused by https://github.com/Expensify/App/pull/9473
If you remove this line, it works fine (while breaking https://github.com/Expensify/App/issues/9413 probably)
https://github.com/Expensify/App/blob/9855ad8c4abb39d9d1710a70f59f23b1dd887aef/src/components/EmojiPicker/Emoji

[2022-08-05 16:21] nimamt commented on #9823
Mates, I don't believe it has been fixed. I've checked staging and it is still reproducible. And I have reproduced it by visiting both the staging site and compiling the code before.

Additionally, I would like to make an argument about one part of the philosophy section of the Readme. In its 5.ii section (Cross Platform 99%) it is said that  "If there is a feature that simply doesn't exist on all

[2022-08-05 16:24] luacmartins commented on #9582
On hold

[2022-08-05 16:24] luacmartins commented on #9575
On hold

[2022-08-05 16:27] luacmartins commented on #6883
@azimgd answered in the PR!

[2022-08-05 16:43] neil-marcellini commented on #10182
Thank you for clarifying. Yes #9473 by @JosueEchandiaAsto caused this. @rushatgabhane why did you ask @eVoloshchak to fix it? @eVoloshchak which PR did you create and how is it related to this? Sorry for the confusion. I'm trying to straighten this out.

@rushatgabhane could you please lead an RCA for this since you were the C+ on that PR?

[2022-08-05 16:45] iwiznia commented on #8541
Yeah, @dharmik I've unassigned you. @puneetlath what do we need to do in upwork?
Also, to anyone else here, this is up for grabs again, only thing needed is implementation, since the proposal is already approved.

[2022-08-05 16:48] johnmlee101 commented on #10257
Okay to clarify the issue is that the error message doesn't pop up for invalid numbers, not that "No phone number is +15005550006"

[2022-08-05 16:48] eVoloshchak commented on #10182
I created https://github.com/Expensify/App/pull/9954, which fixes the issue with moving to and from the search bar with keyboard arrows

No problem, I had to check this myself too

[2022-08-05 16:58] Justicea83 commented on #10258
this can be external

[2022-08-05 16:58] johnmlee101 commented on #10257
I think this is caused by https://github.com/Expensify/App/commit/cd4081848a849e9b9821509e86a21477057660d1 cc @yuwenmemon

[2022-08-05 17:03] neil-marcellini commented on #10182
Ah ok. So you fixed a different but somewhat related issue #9728.

[2022-08-05 17:05] vtaba-kw commented on #10258
@parasharrajat checking

[2022-08-05 17:06] Tabakharniuk commented on #10258
@parasharrajat checking

[2022-08-05 17:10] amyevans commented on #10262
Reproducible on mobile web. Good external issue.

[2022-08-05 17:24] michaelhaxhiu commented on #10258
@Justicea83 if you want, I can self assign and export this right now since it's `daily` and I looked at it already :) lmk

[2022-08-05 17:25] tgolen commented on #10261
@Julesssss do you have any insight into this problem?

[2022-08-05 17:26] Justicea83 commented on #10258
@michaelhaxhiu , I've assigned you

[2022-08-05 17:32] dharmik commented on #8541
@iwiznia PR link [https://github.com/Expensify/App/pull/9948](https://github.com/Expensify/App/pull/9948)

[2022-08-05 17:40] michaelhaxhiu commented on #10258
Job exported - https://www.upwork.com/jobs/~01ed586ed99411249a

[2022-08-05 17:45] yuwenmemon commented on #10257
Okay looked into this for a bit, but a lot has changed (and is changing) with regards to error handling and Onyx so I'm just going to revert that previous PR to get the error handling right

[2022-08-05 17:58] Santhosh-Sellavel commented on #9497
@eVoloshchak How/which Spanish language did you set to get this keyboard with a comma, can you share the recording for the same?

![image](https://user-images.githubusercontent.com/85645967/183133926-9e7632fb-36de-4786-90cf-c5bbbf471b51.png)

[2022-08-05 18:03] luacmartins opened #10267 "[Form Refactor] Add custom input callback feature to Form"
# Problem
Coming from [this comment](https://github.com/Expensify/App/pull/9441#discussion_r925863196), when using Form.js we can't hide/show related fields based on an input's value.

# Why is this important
We have dependant fields in forms and if we are to adopt <Form /> everywhere, we need to support this functionality.

# Solution
Add a custom callback prop to form inputs that is called durin

[2022-08-05 18:05] yuwenmemon commented on #10257
Reverted the offending PR

[2022-08-05 18:05] #10257 closed

[2022-08-05 18:06] stitesExpensify commented on #7835
Any update @jeet-dhandha ?

[2022-08-05 18:15] OSBotify commented on #10253
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10266) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.88-2` :rocket:

[2022-08-05 18:25] pecanoro commented on #10259
We are reverting the PR so we can close this one https://github.com/Expensify/App/pull/10070

[2022-08-05 18:25] #10259 closed

[2022-08-05 18:34] kbecciv opened #10271 "mweb - OlDdot - User gets infinite loading when opening a WS from old dot app"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:1. Open the Old dot Prod app
Precondition: signed out of NewDot on mobile web
1. Open the Old dot Prod app
2. Sign into a valid ac

[2022-08-05 18:46] Santhosh-Sellavel commented on #8791
So we experimented with the smart banner and got to know deep link banner overrides it too.

We know as I said [early](https://github.com/Expensify/App/issues/8791#issuecomment-1160760539) banner is shown because of paths configuration in `apple-site-association-file`.

Now the options are,

1. To show this banner across other pages, we should update the `apple-site-association-file` with paths th

[2022-08-05 18:47] Tabakharniuk commented on #10258
Does this issue reproduce on all platforms? Or only on iOS?
<img width="551" alt="image" src="https://user-images.githubusercontent.com/44551710/183141694-c08dcaa8-c107-4a72-925b-9692fd7cd2d2.png">

I also can't reproduce. Already retested on:
- iOS (simulator)
- Android (Samsung s8)
- Web MacOS (chrome, safari)

Still trying...

[2022-08-05 19:01] tgolen commented on #10261
hm, he is offline. @marcaaron or @yuwenmemon do you have any idea who was working on this area?

[2022-08-05 19:16] kbecciv opened #10272 "[$250] Request Money - App crashed for specific account when requesting the money"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Log in with applausetester+0901abb@applause.expensifail.com/Feya86Katya
3. Select any chat
4. Click on plus

[2022-08-05 19:17] roryabraham commented on #7925
Fork was published yesterday, we are trying to upgrade E/App to use it in https://github.com/Expensify/App/pull/9841

[2022-08-05 19:21] Santhosh-Sellavel commented on #10258
Able to reproduce it on my end on an iPhone device.

[2022-08-05 19:24] roryabraham opened #10273 "[Tracking] [Performance] Investigate creating our own KeyboardAvoidingView"
Coming from https://expensify.slack.com/archives/C01GTK53T8Q/p1659722402266779?thread_ts=1659347778.519049&cid=C01GTK53T8Q

### Outstanding
- https://github.com/Expensify/App/issues/11463

### Fixed
- https://github.com/Expensify/App/issues/11701
- - https://github.com/Expensify/App/issues/11391
- https://github.com/Expensify/App/issues/11094
- https://github.com/Expensify/App/issues/11087
- https

[2022-08-05 19:24] roryabraham commented on #10273
HOLD on https://github.com/Expensify/App/pull/9841

[2022-08-05 19:31] OSBotify commented on #10253
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.88-2 has been deployed to staging :tada:

[2022-08-05 19:32] Tabakharniuk commented on #10258
Thank you, @Santhosh-Sellavel. Is it reproducing on other platforms?

[2022-08-05 19:33] kbecciv opened #10274 "IOS - Settings - Aviator icon is displayed as grey while offline under Setting and Profile pages"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open the app
2. After login in account - enable Airplane mode to simulate a connection loss
3. Navigate to Setting and check u

[2022-08-05 19:47] Santhosh-Sellavel commented on #10258
@parasharrajat
Those are live photos, normal photos which are of less size fine.

### Live Photos
https://user-images.githubusercontent.com/85645967/183147810-91f4415f-7878-47f1-8ec8-cebd9311c2a4.MP4

### Normal Photo (less than 100 Kb this one)
https://user-images.githubusercontent.com/85645967/183149387-067594e8-173d-485d-b05b-90c803b0a226.MP4

But photos with lesser size also show a limit reach

[2022-08-05 20:04] AndrewGable commented on #10221
Thanks for bump, looks good.

[2022-08-05 20:09] Santhosh-Sellavel commented on #10258
The size issue might relate to this https://github.com/Expensify/App/issues/9424 where the size gets changed after picking up.

[2022-08-05 20:14] Santhosh-Sellavel commented on #9424
Has melvin gone crazy?

[2022-08-05 20:15] melvin-bot[bot] opened #10275 "💥 Crash 💥 `componentDidUpdate`"
## Non-fatal Exception: JavaScriptError
### Cannot read property 'creatingIOUTransaction' of undefined
### `main.jsbundle:247973:26 line 247973` `componentDidUpdate`
### Number of Crashes: 1

## Device Information
* **Platforms:** iOS
* **App Versions:** `1.1.88.1`
* **Devices:** Apple iPhone10,6 15.5.0

## Stacktraces
<details>
<summary>iOS 1.1.88.1</summary>

[code]
</details>

---
<details>
<su

[2022-08-05 20:16] mountiny commented on #9424
No, this is a new feature when you comment linking an issue or PR in deployBlocker

[2022-08-05 20:18] Tabakharniuk commented on #10258
Good news! I've managed to reproduce the problem!

[2022-08-05 20:20] tgolen commented on #8791
Yeah, I'm mostly in the camp of "do nothing" for now. At least we
understand the behavior better, but it's not really a problem. Just
kinda... sucks.

On Fri, Aug 5, 2022 at 12:46 PM Santhoshkumar Sellavel <
***@***.***> wrote:

[2022-08-05 20:22] Santhosh-Sellavel commented on #9424
Ya but when this issue doesn't have any active or merged PR, notification doesn't make any sense.

[2022-08-05 20:34] mountiny opened #10277 "Missing propTypes and defaultPropTypes in a component"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Break down in numbered steps

Not sure if these reproduce the issue but the problem definitely exists
1. Minimize app
2. let some

[2022-08-05 20:35] kbecciv opened #10278 "Workspace Navigation - Tapping back arrow from features page takes user to workspace initial page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app and login
2. Go to workspace > Reimburse expenses
3. Click on "Connect bank account"
4. Tap back arrow

## Expected R

[2022-08-05 20:35] OSBotify commented on #10277
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-08-05 20:46] eVoloshchak commented on #9497
https://user-images.githubusercontent.com/9059945/183159997-af76270b-ac0e-4b1f-80bf-0a2eb5918ca8.mp4

[2022-08-05 20:46] #10277 closed

[2022-08-05 20:47] stephanieelliott commented on #9933
2x'd in Upwork to $500.

[2022-08-05 20:48] stephanieelliott commented on #9933
@flodnv I think we typically keep these weekly, is there a reason why this one was changed to monthly?

[2022-08-05 20:50] afmire877 commented on #10033
Hey @arielgreen @roryabraham I have submitted my proposal. I will get the PR ready by Monday 👍🏾 .

[2022-08-05 20:56] Tabakharniuk commented on #10258
Upd: Turns out that the library that we are using for cropping images on ios/android (https://github.com/guhungry/react-native-photo-manipulator) has some problems with handling image orientation. What is interesting, bug only reproduces on images captured on iPhone's camera.

I've created a draft PR. https://github.com/Tabakharniuk/react-native-image-manipulator
It's late here now, I'm going to f

[2022-08-05 20:59] OSBotify commented on #10253
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10276) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.88-3` :rocket:

[2022-08-05 21:06] adelekennedy commented on #9941
Not overdue

[2022-08-05 21:15] adelekennedy commented on #10198
[Internal](https://www.upwork.com/ab/applicants/1555663574988087296/job-details)
[External](https://www.upwork.com/jobs/~01f072131cd541b80f)

[2022-08-05 21:35] Tabakharniuk commented on #10258
Upd: Created PR(https://github.com/oguzhnatly/react-native-image-manipulator/pull/1)  to fix root cause in [react-native-photo-manipulator](https://github.com/guhungry/react-native-photo-manipulator)

[2022-08-05 21:45] arielgreen commented on #10033
Thanks @afmire877 , hired in Upwork.

[2022-08-05 21:48] marcaaron commented on #10261
I think it might be this:

- We added the page wrapper that will now show the offline message in many places cc @jasperhuangg
- The red message that is displaying here is a random implementation from a much older issue

[2022-08-05 21:56] michaelhaxhiu commented on #2545
Still on hold

[2022-08-05 22:17] kbecciv opened #10282 "mweb - Old dot - User gets infinite loading when opening a WS from "Current Plan" option"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
Pre-Condition: User already has an existing workspace created
1. Open the Old Dot app
2. Sign into a valid account (Expensifail)

[2022-08-05 22:22] OSBotify commented on #10253
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.88-3 has been deployed to staging :tada:

[2022-08-05 22:26] kbecciv opened #10283 "[$2000] IOS - Chat - The Pay button in the money request is cut off if the request comes in an open chat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open chat 1:1 with Account A and Account B
2. From any device (Account A) send money request to Account B in open chat (then

[2022-08-05 22:28] kevinksullivan commented on #10078
https://www.upwork.com/jobs/~01a7d12aff21037df4

[2022-08-05 22:43] kevinksullivan commented on #10225
https://www.upwork.com/jobs/~016f63cd7edab2e672

[2022-08-05 22:47] kevinksullivan commented on #9827
Waiting for PR fix to deploy to prod.

[2022-08-05 22:54] hamzashakeel348 commented on #10148
@rushatgabhane I checked it again. We are doing

` submitForm(e) {
        if (e) {
            e.preventDefault();
        }

        const comment = this.prepareCommentAndResetComposer();
        if (!comment) {
            return;
        }

        this.props.onSubmit(comment);
    }`

    We are setting props as comment if comment is not empty, we also have to do to make them empty string aft

[2022-08-05 23:53] nimamt commented on #9823
# Proposal 2
We should use an invisible helper screen to also reflect the popovers/modals in `react-navigation`, as we are using `react-native-modal` and not following the recommended way of `react-navigation` docs.
**!!!IMPORTANT** See this: https://reactnavigation.org/docs/modal
Note that the recommended way to open a modal is to use a screen in react-native, that is to go to another screen when

[2022-08-06 00:14] JalalMitali commented on #9662
I can't reproduce this issue on iOS is it already resolved ?

[2022-08-06 01:06] robertjchen commented on #10232
We are working on revamping this flow with the refactors, will revisit after those changes go out 🤔

[2022-08-06 01:21] dhairyasenjaliya commented on #10148
It's same will update video

[2022-08-06 02:37] afmire877 commented on #10033
@roryabraham  Can I get a review on this PR? https://github.com/Expensify/App/pull/10203

[2022-08-06 04:37] mdneyazahmad commented on #8791
@Santhosh-Sellavel

 I think this change was initially proposed by me [here](https://github.com/Expensify/App/issues/8791?notification_referrer_id=NT_kwDOBKKL07MzNTE3NTM3NjcwOjc3NzYxNDkx&notifications_query=reason%3Aparticipating#issuecomment-1181993100). We should fix this bug not because of the smart banner but it creates empty space at the bottom.

[2022-08-06 05:35] roryabraham commented on #10033
@afmire877 Sorry, that PR had a massive amount of unrelated changes. You should only have a few commits changing a reasonable number of files.

[2022-08-06 05:38] MananGadhiyaSureshbhai commented on #7962
@parasharrajat  @roryabraham [changes](https://github.com/Expensify/App/issues/7962#issuecomment-1200770099) already implemented in this [PR](https://github.com/Expensify/App/pull/9841)

[2022-08-06 06:13] MananGadhiyaSureshbhai commented on #7962
is there anything that I have to do?

[2022-08-06 06:19] jeet-dhandha commented on #9826
Getting this error when running web/desktop app :

https://github.com/Expensify/expensify-common/pull/461#issuecomment-1206857251

[2022-08-06 06:46] dhairyasenjaliya commented on #10148
@rushatgabhane updated the video here https://github.com/Expensify/App/issues/10148#issuecomment-1206003090

**Note** : In order to understand this issue please follow like this  iOS app

1. go to any chat
2. type missed spell word that is actually highlighted by spell checker
3. wait for spellcheck to turn into blue color word
4. now send immediately with the blue color word
5. you will notice bl

[2022-08-06 07:10] dhairyasenjaliya commented on #10148
also am I eligible to report this issue since I already logged this issue on 10th June here on slack but
somehow at that time it does not log into GitHub and recently got added  https://expensify.slack.com/archives/C01GTK53T8Q/p1654860503611229

[2022-08-06 07:34] roryabraham commented on #7962
We can add the necessary QA steps to https://github.com/Expensify/App/pull/9841

[2022-08-06 07:39] roryabraham commented on #7962
Added QA steps in there and asked Applause to post the results in here. cc @Expensify/applauseleads

[2022-08-06 12:58] Tabakharniuk commented on #10258
Upd: Waiting for PR review https://github.com/oguzhnatly/react-native-image-manipulator/pull/1

[2022-08-06 15:10] liyamahendra commented on #10202
@shawnborton @Santhosh-Sellavel JFYI, I've placed a proposal on Upwork for this issue. Looking forward to hearing back from you :)

[2022-08-06 17:17] andrewlor commented on #7822
## Proposal

Here is my source code for a custom rule that will report function components that don't set displayName or class components that do set displayName, along with comments for explanation.

[code]

### Unit tests
[code]

### Examples in the codebase

![Screen Shot 2022-08-06 at 11 15 29 AM](https://user-images.githubusercontent.com/8475244/183259201-bd2cee2a-8bd0-4187-b151-3a35091987eb.

[2022-08-06 20:40] andrewlor commented on #7822
@rushatgabhane  Correct. As I understand it, for each rule I should add two files: `eslint-plugin-expensify/<rulename>.js` and `eslint-plugin-expensify/tests/<rulename>.test.js`, and also add an entry in https://github.com/Expensify/eslint-config-expensify/blob/main/rules/expensify.js.

As for your second point, having these as two separate rules, I think that makes sense could make the code sligh

[2022-08-06 21:17] eVoloshchak commented on #9876
Is https://github.com/Expensify/App/issues/10220 considered a regression, should I submit the [fix](https://github.com/Expensify/App/issues/10220#issuecomment-1203529729) for it?

[2022-08-06 21:47] afmire877 commented on #10033
Yep. The rebase must have messed it up. I have created a new PR with the specific changes only.

[2022-08-06 21:52] JalalMitali commented on #9662
<img width="1792" alt="Expensify Solution for Markdown Links" src="https://user-images.githubusercontent.com/88791252/183267187-ca866646-08bc-4e01-8bf9-c658af575f75.png">
this should do the trick ? can we depend on it ?

[2022-08-06 22:33] kavimuru opened #10287 "IOU- Searching by currency codes returns codes that do not contain the entered letter"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Navigate to a 1:1 conversation
2. Press the + button in the compose bar and click Request Money
3. Click on the currency to en

[2022-08-06 23:07] mountiny commented on #10148
@dhairyasenjaliya Looking at the issue you reported in Slack, it is not the same as this one, but I will ping our QA team to check if they can reproduce reliably and if so, we would create a new issue for it 🙌

[2022-08-07 03:40] mollfpr commented on #9391
### Updated Proposal

Since the expected result is to fix the empty chat displayed in LHN.

We use `getSidebarOptions > getOptions` from `src/lib/OptionsListUtils.js` to list the chat to LHN. For each of the report data we filter out by condition and one of the conditions is to filter the empty chat (`showReportsWithNoComments` has a `false` value by default and we do not set it to `true` when cal

[2022-08-07 06:10] mollfpr commented on #9734
### Proposal

This happens because when we open on the desktop layout the drawer state is set to `closed` and when we navigate from `stack` screen we set the drawer history to have the status `open`, while if we want to show the chat screen we should set the drawer status it to `closed`
https://github.com/Expensify/App/blob/97eb8bb0019068b484035a17a64e4ecdeb147092/src/libs/Navigation/DeprecatedCus

[2022-08-07 16:30] Santhosh-Sellavel commented on #9662
@JalalMitali Can you elaborate your proposal with little more explanation. Thanks!

[2022-08-07 16:50] JalalMitali commented on #7835
I am working on a possible front end solution :)

[2022-08-07 17:07] Santhosh-Sellavel commented on #9876
@puneetlath
Looks mostly related to root of this issue.
I think this is not a treated as regression. Also issue not introduced by fix provided here.

I'll looking forward to hear your thoughts too on this thanks!

[2022-08-07 17:22] JalalMitali commented on #9662
@Santhosh-Sellavel hello, what I did was using the modifyTextForUrlLinks method to generate markdown for links before processing them with the other rules

[2022-08-07 19:54] eVoloshchak commented on #10198
**Proposal:**
1. In [OptionsListUtils.js](https://github.com/Expensify/App/blob/97eb8bb0019068b484035a17a64e4ecdeb147092/src/libs/OptionsListUtils.js#L98) implement the `removeSMSDomain` method
[code]
2. Call it in ReportWelcomeText.js
https://github.com/Expensify/App/blob/97eb8bb0019068b484035a17a64e4ecdeb147092/src/components/ReportWelcomeText.js#L111
[code]
3. In DisplayNames.js
https://github.

[2022-08-07 23:30] JalalMitali commented on #7835
_** PROPOSAL : **_
Hello Team, Today I Created a Platform Specific Video Player That's Already integrated in a Bare React Native CLI App ( Just Like Expensify )
### Native Android Module ( Adding iOS & MacOS ) :
The integration is now in android only this is just a proof of work I can make iOS and MacOS in short time too!
<img width="1792" alt="Screen Shot 2022-08-08 at 00 29 46" src="https://user

[2022-08-08 00:21] marktoman commented on #7436
Forgot about this one. I've replied to Plaid now.

[2022-08-08 01:08] Christinadobrzyn commented on #7648
Paid @parasharrajat through this job posting - https://www.upwork.com/ab/applicants/1554909413932630016/job-details

I think we're all set here! Let me know if there's anything else.

[2022-08-08 02:34] mvtglobally opened #10289 "[HOLD for payment 2022-10-20] [$250] Feature Request: Set up caching of Jest unit tests in GitHub Actions to speed up PR checks"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem
PR checks take longer

## Solution
Set up caching of Jest unit tests in GitHub Actions to speed up PR checks

## Workaround:
Unknown

## Pl

[2022-08-08 02:52] mananjadhav commented on #7081
@Luke9389 @marcaaron @parasharrajat I was wondering considering the effort put in the issue, is it possible to increase the budget on this?

[2022-08-08 02:52] mananjadhav commented on #7317
I was OOO last week, I'll push the PR today/tomorrow max.

[2022-08-08 03:03] mvtglobally opened #10290 "[HOLD for payment 2022-11-04] [$250] Touching/clicking on emoji picker in edit message closes the keyboard - reported by @Tushu17"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open Website in mWeb
2. Open chat > send a message > edit message
3. Click/Touch on emoji picker.

## Expected Result:
It shou

[2022-08-08 03:25] mvtglobally opened #10291 "[HOLD for payment 2022-09-02] [$250] iOS - Sending a misspelled word to chat return auto-corrected word in the text input - reported by @dhairyasenjaliya"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Launch the app
2. Login with any account
3. Send a message with any misspelled word that the spell checker highlights blue opa

[2022-08-08 03:33] mvtglobally opened #10292 "[$250] When deleting an emoji flag in the Last Name settings field, it changes from the national flag to black on"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open App on Web (I used chrome)
2. Navigate to Settings > Profile
3. Click on Last Name
4. Enter last name with either Scottis

[2022-08-08 04:18] advaitasol9 commented on #10198
Proposal:

The reason why this is happening:-
In HeaderView.js, "ReportUtils.getReportName" function is used to get the "title" which is shown in the header, this function is provided with 3 arguments - props.report, "participantPersonalDetails" and props.policies.
This function extracts and returns "displayName" from "participantPersonalDetails".
 Now fetching personalDetails takes some time and

[2022-08-08 04:30] b1tjoy commented on #8311
### UPDATE
This is a update of proposal https://github.com/Expensify/App/issues/8311#issuecomment-1205476421, change the solution code based on the latest main branch.

### PROPOSAL

### Problem

We use `LongPressGestureHandler` to replace `Pressable` in PR https://github.com/Expensify/App/pull/8018, and this PR fix https://github.com/Expensify/App/issues/7462. In that issue, long press on image d

[2022-08-08 05:04] andrewlor commented on #7822
Good point. We can just modify slightly to handle that case.

[code]

Hopefully that should cover everything? Assuming component files should only be in those two formats: `Test/index.js` or `Test.js`.

[2022-08-08 07:52] mountiny commented on #10292
Sorry Bondy, got pinged because I reported this. This can definitely be External issue so moving it on to get exported! Thanks!

[2022-08-08 07:52] mountiny commented on #7317
Thanks for the update!

[2022-08-08 07:55] ahmdshrif commented on #8311
@parasharrajat  we already have this alignment issue and if we can avoid it now it will appear in future changes.

I know you refactor this file in your PR  but take a look at this comment.
https://github.com/Expensify/App/blob/97eb8bb0019068b484035a17a64e4ecdeb147092/src/components/HTMLEngineProvider/HTMLRenderers/AnchorRenderer.js#L58

the issue is htmlRender map comment  container to text and t

[2022-08-08 07:58] dhairyasenjaliya commented on #10148
@rushatgabhane yeah I think this issue is also different than I thought :)

[2022-08-08 07:59] dhairyasenjaliya commented on #10148
Thank you for the follow-up indeed it's another issue that just got posted in git :)

[2022-08-08 08:20] Christinadobrzyn commented on #10292
Hey @mountiny I can't seem to replicate this. I'm using Version 1.1.87-9 (1.1.87-9) - most updated available version for me. Is that maybe the reason why?

[2022-08-08 08:42] mountiny commented on #9424
@Santhosh-Sellavel That is true we cant really see if there is a linked PR to this issue, but I think we might want to look into this, maybe checking if the issue has `Awaiting Payment` label signalling the linked PR has been closed or is closed in general as internal issues wont have `Awaiting Payment`.

[2022-08-08 08:43] mountiny commented on #9424
@ntdiary Your PR has been merged and released! 🎉 lets move ahead with testing this in our App :) thank you!

[2022-08-08 08:53] mountiny commented on #10292
@Christinadobrzyn interesting, what platform you using, flag flag/emoji you trying?

[2022-08-08 08:59] mountiny commented on #10292
Ah I can still replicate on staging using a Scottish flag, I think you need to use non-standard flag.

I looked into this a bit more and it is Only Scotland, England, Wales 😂  https://emojipedia.org/flags/ https://emojipedia.org/emoji-tag-sequence/

<img width="644" alt="image" src="https://user-images.githubusercontent.com/36083550/183380671-b2d91a47-8aba-477c-9434-b185106d3718.png">

I think we

[2022-08-08 09:01] mountiny commented on #10148
Correct, the QA team log it for us. Thanks for keeping na eye on this 🙌

[2022-08-08 09:14] iwiznia commented on #10240
This is weird, isn't this flow tested in QA @mvtglobally?

[2022-08-08 09:16] Julesssss commented on #10183
Yeah, totally agree.

[2022-08-08 09:16] #10183 closed

[2022-08-08 09:16] iwiznia commented on #8541
ok

[2022-08-08 09:17] iwiznia commented on #10107
Still waiting for proposals. I think we need to increase price, no?

[2022-08-08 09:18] iwiznia commented on #9579
No concerns

[2022-08-08 09:19] iwiznia commented on #9061
@parasharrajat any update?

[2022-08-08 10:11] Beamanator commented on #10258
Aah wow nice work everyone!

Since this is not a regression, I'm removing `DeployBlockerCash` - though if it's an issue with another lib, shouldn't the issue be reproducible in Production? Or did we just update that lib with the bug?

One more question @Santhosh-Sellavel - were you able to reproduce if an iOS live photo was uploaded via Android? Just want to make sure we're sure the issue is only

[2022-08-08 10:32] #9547 closed

[2022-08-08 10:46] Julesssss commented on #10261
Looking into this. Did anyone else manage to reproduce this? Because I'm seeing the expected behavior now on my physical iPhone 7 (matching all other platforms).

**Offline UI shown**
![IMG_0076](https://user-images.githubusercontent.com/10736861/183400875-3560e685-bb9d-4c9f-a916-78382d432c7e.PNG)

**Version**
![IMG_0077](https://user-images.githubusercontent.com/10736861/183400880-d1499f48-67e2-4

[2022-08-08 10:48] madmax330 commented on #10271
Will try to repro this today

[2022-08-08 10:54] Julesssss commented on #10261
I'll leave the issue open for a moment, just in case this is reproducible with additional steps that I missed. But I'll remove it as a deploy blocker.

[2022-08-08 10:55] Julesssss commented on #10253
As of `v1.1.88-3` this is [working as expected](https://github.com/Expensify/App/issues/10261#issuecomment-1207962092) on iOS as far as I can tell. Checking it off the deploy blocker list

[2022-08-08 10:57] Julesssss commented on #10261
I'm going to close this. If anyone reading this can reproduce it, please re-open, uncheck the checklist box and share the exact device and steps you took.

[2022-08-08 10:57] #10261 closed

[2022-08-08 11:41] #10230 closed

[2022-08-08 11:51] OSBotify commented on #10253
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/10229) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.1.88-4` :rocket:

[2022-08-08 13:10] pecanoro commented on #9818
Dammit, I thought it was deployed already 😢

[2022-08-08 13:23] OSBotify commented on #10253
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.1.88-4 has been deployed to staging :tada:

[2022-08-08 13:34] sketchydroide commented on #10227
Yeah I think https://github.com/Expensify/App/issues/9941 will fix this

[2022-08-08 13:34] #10227 closed

[2022-08-08 13:43] sketchydroide commented on #9941
Let's go with your change @parasharrajat

[2022-08-08 13:45] sketchydroide commented on #9827
still waiting for deployment

[2022-08-08 13:47] sketchydroide commented on #9973
will do it this week

[2022-08-08 14:25] JmillsExpensify commented on #9813
Upwork post is here when we get to that step: https://www.upwork.com/jobs/~015c1455a07911455c. I'm going to open this issue up to proposals for the time being.

[2022-08-08 14:32] luacmartins commented on #10216
This is related to the performance issues we are having with high traffic accounts - https://github.com/Expensify/Expensify/issues/219425

The chats are loading fine, but it takes a while for the component tree to be rendered and the UI displayed. I'm gonna close this issue in favor of the one mentioned above since it has more context in it. We are also investigating this in #fireroom-08-03-22

[2022-08-08 14:33] Julesssss commented on #9813
@Expensify/mobile-deployers is this occurring in dev? it doesn't seem like a prod crash but could still be worth attempting to fix. I recall seeing this myself and coming across [this possible solution](https://stackoverflow.com/questions/60206386/react-native-app-crashes-on-start-due-to-soloader-issue).

[2022-08-08 14:50] ntdiary commented on #9424
Hi, @mountiny I've submitted a PR, please let me know if I'm not doing something right 😄

[2022-08-08 14:56] stitesExpensify commented on #4547
No update.

[2022-08-08 14:57] stitesExpensify commented on #7541
What is the current status of this issue?

[2022-08-08 14:57] stitesExpensify commented on #8132
Still on hold. Posted [here](https://github.com/Expensify/App/issues/7541#issuecomment-1208239169) for an update

[2022-08-08 14:58] luacmartins commented on #10097
I will try to investigate this week!