[2022-11-07 15:57] trjExpensify commented on #7862
Alrighttty.. it's Monday! What's it going to take to get this PR merged this week?

[2022-11-07 15:59] trjExpensify commented on #8459
👋 Did you get your Mac issues sorted out @parasharrajat?

[2022-11-07 15:59] Gonals commented on #11948
I'd say we should prioritize navigating to the Concierge conversation over opening the Fab menu.

[2022-11-07 15:59] mvtglobally commented on #12476
@Julesssss This new build did not push Android update. We still see 1.2.23-9

[2022-11-07 16:02] trjExpensify commented on #10202
Job doubled to $1,000.

[2022-11-07 16:02] tgolen commented on #11701
Maybe it was actually this style:

https://github.com/Expensify/App/blob/debeb86a0a1134c578331499a25bb9096b8dc8b0/src/styles/styles.js#L952

I think it's maybe one of them, if not both

[2022-11-07 16:04] eVoloshchak commented on #11314
Nice, let's proceed with @Uros787's [proposal](https://github.com/Expensify/App/issues/11314#issuecomment-1273877298)!

That would make all text inputs being focused with a [300ms](https://github.com/Expensify/App/blob/0298f24f5b2c1930de33baf05a767cc5986f3f72/src/CONST.js#L13) delay, even one the screens without animated transitions, is that ok?

[2022-11-07 16:05] trjExpensify commented on #11229
Thanks!

[2022-11-07 16:07] abekkala commented on #12328
Ok, then I don't think this one is needed. As the room is there but the name is not which is what #12206 is for.

[2022-11-07 16:07] #12328 closed

[2022-11-07 16:07] Gonals commented on #11314
On second thought, now that you point it out, I think it makes sense to prioritize user experience over consistency here, so let's only set `shouldDelayFocus` when needed. What do you think?

[2022-11-07 16:10] parasharrajat commented on #8459
Yeah, I back on track.

[2022-11-07 16:12] stitesExpensify commented on #11438
bump on that ^ question @eVoloshchak

[2022-11-07 16:15] Santhosh-Sellavel commented on #7862
@JediWattson Can you provide an update here, whenever PR is ready for review if you need input from us gives a bump! Let's try and get this merged soon!

[2022-11-07 16:17] kavimuru opened #12521 "[$250] Firefox - Chat - Highlighted text disappears when selecting a part of the text and opening context menu reported by @daraksha-dk"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat
2. Select a part of any message
3. Open the context menu for any message
4. Highlighting disappears for the se

[2022-11-07 16:18] stitesExpensify commented on #11787
This PR was deployed to Production 3 days ago, I'm not sure why the payout countdown hasn't started yet

[2022-11-07 16:18] mananjadhav commented on #10356
@akshayasalvi Few points of feedback in addition to @tgolen mentioned.

1. While we understand conflicts arise, and if you see any impeding PR pushing frequent updates which causes you to resolve conflicts, just highlight so that we can put this on Hold.
2. As @tgolen mentioned, there was a long gap between commits, if you're going OOO or not working then please inform. Communication goes a long w

[2022-11-07 16:20] mateocole commented on #11405
Job posting! https://www.upwork.com/ab/applicants/1589653719140610048/job-details

And upping to $500

[2022-11-07 16:20] mvtglobally commented on #12476
@Julesssss  We just got the build, but its not working. App is crashing. Need a bug or you guys already aware?

https://user-images.githubusercontent.com/43995119/200360906-189ddeaa-28e1-4fb6-a6d1-bd4dcfca5a50.mp4

[2022-11-07 16:20] eVoloshchak commented on #11314
Yup, I think that's the best approach

@Uros787's [proposal](https://github.com/Expensify/App/issues/11314#issuecomment-1273877298)
🎀👀🎀 C+ reviewed!

[2022-11-07 16:21] Julesssss commented on #12476
No, that wasn't reproducible during testing. Looking into this now 😕

[2022-11-07 16:23] Puneet-here commented on #12520
### Proposal

Use `mt4` instead of `pt4`
https://github.com/Expensify/App/blob/0298f24f5b2c1930de33baf05a767cc5986f3f72/src/components/PDFView/PDFPasswordForm.js#L142

[2022-11-07 16:23] Julesssss opened #12522 "Android build `1.2.24-1` crashes on launch"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

Android build `1.2.24-1` crashes on launch, reported [here](https://github.com/Expensify/App/issues/12476#issuecomment-1305856066).

[View all open jo

[2022-11-07 16:24] Julesssss commented on #12476
Created an issue here, will keep you updated: https://github.com/Expensify/App/issues/12522

[2022-11-07 16:24] OSBotify commented on #12522
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-07 16:24] mateocole commented on #12453
Job posting on upwork!
https://www.upwork.com/ab/applicants/1589654996264235008/job-details

[2022-11-07 16:25] eVoloshchak commented on #11314
Yes
But the time starts ticking only when you're assigned to the issue

[2022-11-07 16:26] muttmuure commented on #11086
Job is [here](https://www.upwork.com/jobs/~01bc6b990f835122e4)

[2022-11-07 16:27] trjExpensify commented on #8459
Good to hear. Let's get this one off the books!

[2022-11-07 16:27] eVoloshchak commented on #11438
Yes, this [proposal](https://github.com/Expensify/App/issues/11438#issuecomment-1303982359) will also resolve `#12043`

 I feel like it's the other way around and we should close this one and keep #12043 open, but that doesn't really matter, we could just edit the title and description on this one

[2022-11-07 16:28] thesahindia commented on #12453
cc: @rushatgabhane (since you reviewed https://github.com/Expensify/App/pull/11615)

[2022-11-07 16:28] mateocole commented on #11812
Job posting!
https://www.upwork.com/ab/applicants/1589655853550612480/job-details

[2022-11-07 16:33] isabelastisser commented on #12522
This is the first time I was assigned an hourly engineering issue so I talked to Jules in the chat and since this is a pretty critical internal issue, there's no action needed from me.

[2022-11-07 16:35] Julesssss commented on #12522
Trying this [fix](https://github.com/facebook/react-native/issues/35210#issuecomment-1305860027). If it doesn't work we should just go ahead and merge the React Native `0.70.5` hotfix changes into our fork and deploy. But first, let's try this quicker solution.

[2022-11-07 16:36] kavimuru opened #12523 "[Hold - $250] Firefox - Chat- Intended comment not copied to clipboard after highlighting a part of the text and selecting another message reported by @daraksha-dk"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat
2. Select a part of any message
3. Open the context menu for any message
4. Select "Copy to Clipboard" option

[2022-11-07 16:36] JediWattson commented on #7862
I will take a look later today and finish up some changes I had started
last week!

On Mon, Nov 7, 2022 at 11:16 AM Santhoshkumar Sellavel <
***@***.***> wrote:

[2022-11-07 16:37] mallenexpensify commented on #12046
Good 👀 , posted job https://www.upwork.com/jobs/~012cd3bc0f58a4991e
Updated title too

[2022-11-07 16:38] OSBotify commented on #12476
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.24-1 has been deployed to staging :tada:

[2022-11-07 16:39] mallenexpensify commented on #12007
On hold

[2022-11-07 16:40] Santhosh-Sellavel commented on #7862
Starting last week daily updates are mandatory, please provide update daily!

@trjExpensify Let's make this daily!

[2022-11-07 16:40] smrutiparida commented on #11561
@mountiny You're right. We can remove CONFIG.IS_IN_STAGING  and just use the Environment.getEnvironment to know both. The BetaChecker code support it for web/desktop and android/ios.

However some additional testing shall be needed as the web/desktop change of this functionality introduced the variable in the config in #10690. Can you see that previous PR and confirm if I shall remove it or not.

[2022-11-07 16:40] Julesssss commented on #12522
Here's more context about the [original issue](https://github.com/Expensify/App/pull/12510).

[2022-11-07 16:41] mallenexpensify commented on #10614
@cowboycito , have you been able to work on the POC branch? Can you share an update?

[2022-11-07 16:42] cowboycito commented on #10614
@mallenexpensify sorry for the delay. I'll try to get it done by Wednesday night and will post in the comments here.

[2022-11-07 16:47] Santhosh-Sellavel commented on #7968
We have an active discussion waiting for input from @stitesExpensify!

[2022-11-07 16:47] #11572 closed

[2022-11-07 16:50] Julesssss commented on #12236
No action required here. We're awaiting the release of another list lib. Keeping this open in the meantime though

[2022-11-07 16:51] jasperhuangg commented on #11845
This issue is solved by https://github.com/Expensify/App/pull/12219, closing

[2022-11-07 16:51] #11845 closed

[2022-11-07 16:52] mountiny commented on #11561
Yeah I think that looks fine to me, I would just wait for Rajat to confirm.

The change itself makes sense to me however, I cannot predict without testing this will work compared to just using the CONFIG

[2022-11-07 16:53] Puneet-here commented on #11341
Thanks for the information.

[2022-11-07 16:53] cowboycito commented on #10893
@Santhosh-Sellavel ok, I'll try to get it done by Wednesday night and will let you know. I'm fairly new to Expensify's bounty program so I'd like to know if there's any chance we could increase the price of this issue?

[2022-11-07 17:00] Santhosh-Sellavel commented on #10893
Again this is too early, we can discuss it once the issue is completed.

[2022-11-07 17:01] cowboycito commented on #10893
@Santhosh-Sellavel no worries, just wanted to know if it was possible

[2022-11-07 17:02] Santhosh-Sellavel commented on #10263
@MonilBhavsar what do we prefer, do we prefer writing in-house components or external libraries?

[2022-11-07 17:03] Santhosh-Sellavel commented on #10263
@bulatgab Any update from your side?

[2022-11-07 17:03] christianwen commented on #10731
PR for `react-native` patch created here https://github.com/facebook/react-native/pull/35244, awaiting review

[2022-11-07 17:06] mallenexpensify commented on #10614
👍

[2022-11-07 17:06] marcaaron commented on #12348
Not really a daily. I'm still investigating whether this will improve performance significantly or not.

[2022-11-07 17:07] flaviadefaria commented on #10848
Sorry for the delay here. I'll process the payment now.

[2022-11-07 17:07] mallenexpensify commented on #10599
@parasharrajat please review @railway17 's proposal when you're able

[2022-11-07 17:07] Julesssss commented on #12522
PR is ready, I'm just compiling the release build for testing. I ran into an OOM error on the first attempt 😓

[2022-11-07 17:08] mallenexpensify commented on #12185
Holding on #10894

[2022-11-07 17:10] mallenexpensify commented on #12122
Ir looks like this hit production on 2022-11-04
https://github.com/Expensify/App/pull/12239#issuecomment-1303898627

Going to pay tomorrow unless @sobitneupane or @jasperhuangg says I shouldn't (tomorrow instead of waiting 7 days because I'm OOO for a while)

[2022-11-07 17:11] arielgreen commented on #11048
price increased

[2022-11-07 17:11] mallenexpensify commented on #11953
Holding on #12046

[2022-11-07 17:13] mallenexpensify commented on #8710
oh wow.. this issue was hiding in the abyss.

1. @sketchydroide
2. Do you want to work on this?
3. If not, do you think it can be External?
4. If it's external, think we should create a new, clean issue before labeling?

[2022-11-07 17:14] marcaaron commented on #11768
**Plan for this week:**

_Navigation Test_

Get a nicer looking proof of concept together then deploy a mobile web test app + invite everyone to test things with Expo Go so we can see how the behavior will work on mobile web and native.

_Web Navigation with a Custom Navigator_

Do a feasibility study into how we can achieve the current “three pane view” with a stack navigator only. This is someth

[2022-11-07 17:15] dbond09 commented on #10654
### Proposal
In the current implementation, we are attaching an event listener to handle the scrolling of `InvertedFlatList`, because `FlatList` was handling the scroll direction incorrectly. It turns out that this same solution was implemented with the update of `react-native-web` (see the [issue](https://github.com/necolas/react-native-web/issues/995)), so now two very similar event listeners ha

[2022-11-07 17:21] NicMendonca commented on #8236
@Justicea83 thanks for letting us know! Does this mean we should be opening this up for contributors?

If so, I doubled the price again: https://www.upwork.com/jobs/~01431147666a4d1359

[2022-11-07 17:22] kbecciv commented on #12335
@mallenexpensify This is just an idea how it can look. If you think this this is expected layout, please let me know.

![2 ](https://user-images.githubusercontent.com/93399543/200373424-0139d96c-5744-40cb-a4f2-8652e0b58944.jpg)

[2022-11-07 17:23] NicMendonca commented on #12435
@thesahindia bump on reviewing @tienifr's updated proposal ☝️ thanks!

[2022-11-07 17:26] thesahindia commented on #12122
I believe I am eligible for the reporting compensation since I had reported this issue on 16 Oct ([slack post](https://expensify.slack.com/archives/C01GTK53T8Q/p1665916218609839))

[2022-11-07 17:27] thesahindia commented on #12435
I am waiting for @NikkiWines thoughts at https://github.com/Expensify/App/issues/12435#issuecomment-1304359257

[2022-11-07 17:28] thesahindia commented on #12335
I believe this is expected. Let's close this.

[2022-11-07 17:33] johncschuster commented on #11416
Ok! [The PR has been found!](https://github.com/Expensify/App/pull/10452) I'll issue the bug-reporting bounty.

[2022-11-07 17:34] TwizzyIndy commented on #12237
I'm sorry too but I don't even know how to explain it now. 😅

[2022-11-07 17:35] marcaaron commented on #12043
I think we are overestimating the importance of this issue. I don't think Slack's millions of users care much about not being able to "tab to an emoji" and neither should ours.

[2022-11-07 17:36] abekkala commented on #12511
https://www.upwork.com/ab/applicants/1589672953567510528/job-details
https://www.upwork.com/jobs/~01e4cfeb9fae72404b

[2022-11-07 17:38] kavimuru commented on #10414
#12439

[2022-11-07 17:41] zanyrenney commented on #12058
Issue is here: https://www.upwork.com/jobs/~010f0af8b1df252e1d

But @roryabraham can you advise on the above - should it be linked to another one of these issues?

[2022-11-07 17:42] kavimuru commented on #12439
Closing this issue as this can be linked with #10414

[2022-11-07 17:42] #12439 closed

[2022-11-07 17:46] flaviadefaria commented on #10848
@sobitneupane @Puneet-here you haven't applied so I invited you two to the job please accept and comment here when you have done so. Thanks!

[2022-11-07 17:47] PauloGasparSv opened #12526 "[TEST] Test issue please disconsider"
Prod QA for https://github.com/Expensify/Web-Expensify/pull/35351

## Action Performed:
Break down in numbered steps

## Expected Result:
Describe what you think should've happened

## Actual Result:
Describe what actually happened

## Workaround:
Can the user still use Expensify without this being fixed? Have you informed them of the workaround?

## Platform:

Where is this issue occurring?

- We

[2022-11-07 17:47] pgvsite commented on #12526
Hello! Testing a proposal

[2022-11-07 17:48] neil-marcellini commented on #12314
That's true, but I think it's just another case where the user is inserting an emoji in the middle of a comment and we already decided that the user can add a space manually.

[2022-11-07 17:48] #12526 closed

[2022-11-07 17:49] neil-marcellini commented on #12132
That looks perfect to me.

[2022-11-07 17:50] PauloGasparSv commented on #11796
Can't find time to work on the issue this week. Asked for [help on slack](https://expensify.slack.com/archives/C03SSAQ7P/p1667837358217579)!

[2022-11-07 17:53] PauloGasparSv commented on #12123
Still no updates for this today! Will try to get back on this tomorrow.

[2022-11-07 17:57] zanyrenney commented on #12482
@kbecciv - please can you clarify what you mean by the FUB menu, I don't know what that is.

[2022-11-07 17:57] neil-marcellini commented on #12314
@Puneet-here I'm assigning you to implement this proposal https://github.com/Expensify/App/issues/12314#issuecomment-1304016775. Please let me know within a day or so if you can implement this, otherwise I'll pick someone else so we can move this forward quickly. Thanks!

[2022-11-07 17:58] kbecciv commented on #12482
Green plus button in LHN

[2022-11-07 17:58] Pujan92 commented on #11086
**Proposal**

On hideContextMenu method of the PopoverReportActionContextMenu component, we can remove the resetting of the report fields. The issue occurs due to reportID 0 passed when for the same popover if we try to delete the comment after Copy To Clipboard/Mark as Unread.
Line number 200 in PopoverReportActionContextMenu.js file

[code]
So to me no need to reset report fields there as we are

[2022-11-07 17:59] neil-marcellini commented on #11236
^

[2022-11-07 18:00] neil-marcellini commented on #11236
Oh wait it's past the payment date. @davidcardoza I don't think there have been any regressions, please issue the payments.

[2022-11-07 18:01] Julesssss commented on #12522
[PR in review](https://github.com/Expensify/App/pull/12525)

[2022-11-07 18:02] trjExpensify commented on #11687
Settled up! $250 to @rushatgabhane for the fix, $500 to @parasharrajat for reporting & C+.

Coming from [here](https://github.com/Expensify/Expensify/issues/232690), @isagoico @kavimuru, I think we need to add the checkboxes to [this test case](https://expensify.testrail.io/index.php?/cases/view/1971143) right?

[2022-11-07 18:02] Julesssss commented on #12476
@mvtglobally another fix is incoming 🤞

@yuwenmemon should be able to help with any further issues as I'm signing off now

[2022-11-07 18:09] chiragsalian commented on #11319
Yup, it looks resolved.
![image](https://user-images.githubusercontent.com/14356145/200383512-268a2fc1-bff8-470f-8c8e-cd2feeae6709.png)

Thanks guys 🙇‍♂️
Closing issue.

[2022-11-07 18:09] #11319 closed

[2022-11-07 18:10] flaviadefaria commented on #12018
Posted in [slack](https://expensify.slack.com/archives/C02NK2DQWUX/p1667844542973769) re next steps.

[2022-11-07 18:11] VikalpP commented on #12005
Thanks @chiragsalian for a quick heads-up here. 🙂

[2022-11-07 18:13] parasharrajat commented on #11768
I would suggest testing the web and mobile web flow on the firefox browser. I have noticed that issues are easily reproducible on firefox. e.g, opening a chat via Newchat page does not always open the chat, the user is immediately navigated back to the previously active chat.

[2022-11-07 18:19] parasharrajat commented on #11095
Thanks for the bump. @NicMendonca Accepted.

[2022-11-07 18:25] parasharrajat commented on #8311
I will get back to it. Had some delays to be some setup issues on my Mac.

[2022-11-07 18:39] Karim-30 commented on #4324
Hope she feels better soon.

[2022-11-07 18:40] luacmartins commented on #11126
This is still failing but getting rid of the race condition surfaced the real issue. PR with fix [here](https://github.com/Expensify/Web-Expensify/pull/35480)

[2022-11-07 18:47] marcaaron commented on #11768
Thanks, will keep that in mind.

[2022-11-07 18:49] flaviadefaria commented on #10699
Since this is an internal issue I'll apply the internal label and since @stitesExpensify has been able to reproduce it I'm also adding the demolition label and unassigning myself.

[2022-11-07 18:50] marcaaron commented on #12487
@tgolen to clarify, are you saying that @0xmiroslav should be hired to fix it or that you are going to raise a PR with that solution?

[2022-11-07 18:51] OSBotify commented on #12476
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12525) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.24-2` :rocket:

[2022-11-07 18:53] michaelhaxhiu commented on #12198
Doubling job!

[2022-11-07 18:55] dangrous commented on #11800
I... do not, unfortunately. I know they're working on some deploy issues so it might be a bit before it gets up.

[2022-11-07 18:57] michaelhaxhiu commented on #12438
Job posted to upwork - https://www.upwork.com/jobs/~019fbdbb2f291086ad

[2022-11-07 18:58] michaelhaxhiu commented on #12438
@sobitneupane our contributor @hungvu193 has made a proposal above already! Ready for you to review.

[2022-11-07 18:58] michaelhaxhiu commented on #12266
Doubling price.

[2022-11-07 18:59] michaelhaxhiu commented on #12266
Doubling price

[2022-11-07 19:02] Someone-here commented on #12018
Hey @Julesssss now could we move ahead with that solution?

[2022-11-07 19:03] JmillsExpensify commented on #12014
This needs a BZ member, so adding myself.

[2022-11-07 19:10] strepanier03 commented on #12027
@jasperhuangg - Do you agree this should be turned into an internal job instead of an external job?

[2022-11-07 19:11] strepanier03 commented on #12151
@eVoloshchak - Looks like there is a proposal to review for this.

When you get a chance please review and if you are okay with the solution ping the CME Monil so they can give their sign off as well.

[2022-11-07 19:12] trjExpensify commented on #12359
@aldo-expensify is this related to the bug you're working on fixing with the error message?

[2022-11-07 19:14] Puneet-here commented on #12314
Thanks @neil-marcellini, I have raised the PR.

[2022-11-07 19:16] marcochavezf commented on #11413
Hi @syedsaroshfarrukhdot, were you able to find something out? Don't hesitate to let us know if you found a dead-end! :)

[2022-11-07 19:18] trjExpensify commented on #12027
@chiragsalian isn't this a dupe of https://github.com/Expensify/App/issues/11542?

[2022-11-07 19:19] luacmartins commented on #11058
This issue was fixed by https://github.com/Expensify/App/pull/12219! 🎉

https://user-images.githubusercontent.com/22219519/200395872-09dc20b5-9e3c-49b9-a8b8-c57b53a0cfe2.mov

Closing. Please reopen if needed.

[2022-11-07 19:19] #11058 closed

[2022-11-07 19:20] strepanier03 commented on #12238
@eVoloshchak - Can you please complete the PR-related checklist items from above (checks 2-4)?

I am still waiting for TestRail access but once I have it I'll take care of check 1.

Then I'll take care of checks 5-7 once it's time.

[2022-11-07 19:21] flaviadefaria commented on #10699
Just double-checked and I should keep myself assigned and switch this back to daily.

[2022-11-07 19:23] strepanier03 commented on #12027
I agree, this looks like a dupe of the one you linked @trjExpensify. Thank you for linking it in.

[2022-11-07 19:24] tgolen commented on #12487
If @0xmiroslav can do it now, then I'll let him do it. I'm in the middle of a few other things. I'll go ahead and assign

[2022-11-07 19:25] trjExpensify commented on #12027
Yeah, I think the other `internal` issue linked is incorrectly marked with `Android` in the title, really.

[2022-11-07 19:31] chiragsalian commented on #12027
Ah yup it looks like a dupe, i wasn't sure if the issue was external yet and didn't get the chance to test yet. I suspected the problem could be internal wherein the required pusher onyx data was not sent. But yeah I never confirmed it.

Nevertheless yes https://github.com/Expensify/App/issues/11542 is a dupe. We could close either, let me know what you guys would prefer as the next step.

[2022-11-07 19:33] chiragsalian commented on #12027
Ah from the discussion it looks like others also feel like the issue is internal. If you guys like you can close out this issue and i can tackle it in https://github.com/Expensify/App/issues/11542.

[2022-11-07 19:34] sakluger commented on #12459
@youssef-lr is assigning this to himself because it's related to https://github.com/Expensify/App/issues/11189.

[2022-11-07 19:35] youssef-lr commented on #12459
This has been reverted due to the bug in this issue, I will put this on HOLD as I'm working on bringing back support for all filetypes.

[2022-11-07 19:35] bulatgab commented on #10263
@Santhosh-Sellavel
Thank you for asking!

If Android + iOS should necessarily go together, my approach for the iOS part at the moment would be to write a native component very close to the `react-native-paste-input` iOS code.

If the Android part could be done separately that would be the preferred option for me though (I'm more experienced in Android than iOS).

[2022-11-07 19:36] mallenexpensify commented on #11852
@Ollyws and @thesahindia please apply
https://www.upwork.com/jobs/~01519c155a21384488

[2022-11-07 19:36] marcaaron commented on #12361
Seems we are still waiting for proposals here.

[2022-11-07 19:38] johncschuster commented on #12521
This issue looks unique and I can reproduce this by doing the following:

1. Go to any chat
2. Highlight any text already in the chat window
3. right click the text to bring up the context menu (highlighting remains on the text)
4. select an option in the context menu (highlighting goes away immediately after clicking an option in the context menu, but before the menu is dismissed)

[2022-11-07 19:41] parasharrajat commented on #11229
Reviewed and discussing something one-to-one.

[2022-11-07 19:43] OSBotify commented on #12476
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.24-2 has been deployed to staging :tada:

[2022-11-07 19:44] parasharrajat commented on #11561
My mind is blocked atm. I will check back in sometime.

[2022-11-07 19:52] arielgreen commented on #9973
https://www.upwork.com/jobs/~0176085f228534d198

[2022-11-07 19:56] arielgreen commented on #12423
https://www.upwork.com/jobs/~01a95dbc5bc7344c59

[2022-11-07 19:57] joekaufmanexpensify commented on #12487
About to jump on a call, but will create this in upwork right after.

[2022-11-07 20:00] johncschuster commented on #12521
I chatted this over with @hax, and we really dialed in the nuance of the behavior in Slack.

In general, my expectation of highlighted text works something like this:

My expectation for this behavior would be something like this:

I select some text
I right-click on the text to bring up a context menu (text stays highlighted in the background)
I select an option from the context menu (text stays

[2022-11-07 20:01] mountiny commented on #11561
No problem, make sure to rest. I think we can go ahead with @smrutiparida [proposal](https://github.com/Expensify/App/issues/11561#issuecomment-1305882992), I hope you have tested this locally. We can try to polish this in the PR.

Please, feel free to raise the PR

[2022-11-07 20:02] neil-marcellini opened #12530 "BUG: Adding a personal bank account causes a crash"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Sign in with any account
2. Go to Settings, Payments, Add payment method, bank account
3. Connect through Plaid with a test a

[2022-11-07 20:06] johncschuster commented on #12521
Upwork job: https://www.upwork.com/jobs/~01f721fddf8bdf3016

[2022-11-07 20:12] dangrous commented on #12132
Great! I'll close this then

[2022-11-07 20:12] #12132 closed

[2022-11-07 20:15] tgolen commented on #11277
Waiting for proposals

[2022-11-07 20:17] JmillsExpensify opened #12531 "[New Feature] [Polish] Show attachment previews for common file types"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Sign into any account on new.expensify.com.
2. Navigate to any DM.
2. Drag-and-drop or upload an HEIC file using the "+" to th

[2022-11-07 20:23] LucioChavezFuentes commented on #7860
Update: I am still applying the react-native's VirtualizedList new changes to react-native-web, there are many files to copy and paths to resolve.

[2022-11-07 20:24] aneequeahmad commented on #11319
Thanks for the effort everyone.

 @sophiepintoraetz I guess i'm eligible for the reporting bonus as this issue is fixed and deployed on production.

[2022-11-07 20:25] mvtglobally commented on #12476
@yuwenmemon Did Android build go through Google? We are not seeing a 1.2.24-2 version yet

[2022-11-07 20:26] yuwenmemon commented on #12476
@mvtglobally Unfortunately it did not - we're working on it.

[2022-11-07 20:29] deetergp commented on #12276
@tienifr Thank you for updating your proposal, it looks good 👍

@mananjadhav Thanks for your review 👍

@MitchExpensify let's hire @tienifr to do the work ✅

[2022-11-07 20:32] trjExpensify commented on #11695
@Prince-Hamza any luck to progress with reviewing the feasibility of your proposal?

In the meantime, the job has been doubled on Upwork to $1,000 and still open to proposals!

[2022-11-07 20:33] parasharrajat commented on #12487
This is DP, Do you need to me test it now

[2022-11-07 20:35] Delgee commented on #12291
### Proposal:

It looks like the issue is creating "buttonOptions" on the construction. So "buttonOptions" not changed on prop change.
https://github.com/Expensify/App/blob/dc0bb5db6dd835279dfb916e8b7b3ebd0703404f/src/components/SettlementButton.js#L43-L73

### Solution:

Making a method to create "buttonOptions" so it will be changed if the prop changes.

[code]

[code]

[2022-11-07 20:35] stitesExpensify commented on #11438
I agree. There is significantly more discussion and the issue is worth more. It was also found by the same contributor.

Closing in favor of https://github.com/Expensify/App/issues/12043

[2022-11-07 20:35] #11438 closed

[2022-11-07 20:36] trjExpensify commented on #11797
Ah, @AndrewGable you have a draft PR up to revert this do you, what's the issue? CC: @Gonals @hungvu193

[2022-11-07 20:45] johncschuster commented on #11732
For my own notes:
[PR deployed to production](https://github.com/Expensify/App/pull/12062#issuecomment-1303898844) on Nov 4. I'll keep monitoring the PR for regressions until Nov 11. 👍

[2022-11-07 20:47] trjExpensify commented on #12028
Okay, where we're at in [the thread](https://expensify.slack.com/archives/C01GTK53T8Q/p1667514109148159?thread_ts=1666188981.167469&cid=C01GTK53T8Q):

- We don't want to downgrade. It's a step backwards in a more holistic sense, and took us a lot of time to get in a position to upgrade to revert all that work for a relatively obscure bug
- There's a very high chance `drawer-navigation` gets deprec

[2022-11-07 20:49] trjExpensify commented on #12268
@ctkochan22 bump on the above question?

[2022-11-07 20:51] strepanier03 commented on #11973
@rushatgabhane - Can you please complete the steps 2-4 of the BugZero checklist [here](https://github.com/Expensify/App/issues/11973#issuecomment-1294368133)?

I am on-pause for step 1 until I have Test Rail access and then I'll do step 1.

[2022-11-07 20:52] joekaufmanexpensify commented on #12487
Job is [here](https://www.upwork.com/jobs/~01fa9f8905b38cc2bb) in upwork!

[2022-11-07 20:54] lschurr commented on #12298
Just clarifying @AndreasBBS - this GH needs to be on hold until the other [you mentioned](https://github.com/facebook/react/issues/25643) is fixed right?

[2022-11-07 20:57] cowboycito commented on #11695
@trjExpensify is this still open for proposals?

[2022-11-07 20:57] jayeshmangwani commented on #11695
# Proposal

For making the PaymentsPage scrollable, we can replace View with FormScrollView

https://github.com/Expensify/App/blob/aaea5578a819df555c509dfd7a4b14e5aa77bee2/src/pages/settings/Payments/PaymentsPage/BasePaymentsPage.js#L272

[code]

## Video After Fix

https://user-images.githubusercontent.com/35371050/200413727-298b7130-793d-41c1-b1bc-f1091839c644.mov

[2022-11-07 20:59] daraksha-dk commented on #12291
The button is not updating because we are showing the previous options we need to re-render when the prop (PayPalMe address) changes

On passing `key={lodashGet(this.props, 'iouReport.submitterPayPalMeAddress')}` at `SettlementButton` the button will re-render with the latest option
https://github.com/Expensify/App/blob/62ff507162d7712c2aa76b5eb96141f83ec2dd91/src/pages/iou/IOUDetailsModal.js#L140

[2022-11-07 20:59] lschurr commented on #11892
Awesome. @Ollyws will you please apply for [the job in Upwork](https://www.upwork.com/jobs/~0175ba72296e865638)? Additionally, when do you expect to have a PR ready for review?

[2022-11-07 21:01] johncschuster commented on #11416
@adeel0202 here's the link for the bounty job. Can you apply and let me know when you've done that?

https://www.upwork.com/jobs/~01e85a2c16311b56cb

[2022-11-07 21:02] joekaufmanexpensify commented on #12487
@0xmiroslav offer sent via upwork!

[2022-11-07 21:03] AndrewGable commented on #11797
Apologies, we had a build failure on Friday and this was a PR that was flagged as possibly causing it, turns out it was something else so I've closed the revert.

[2022-11-07 21:03] johncschuster commented on #12432
@amyevans, I'm trying to decide if this can be labeled `Internal` or `External`. Do you have a sense of which direction this should go?

[2022-11-07 21:03] joekaufmanexpensify commented on #12487
@parasharrajat offer sent!

[2022-11-07 21:04] michaelhaxhiu commented on #10107
Will have something by tomorrow to share here.

[2022-11-07 21:05] roryabraham commented on #12210
Sorry for the delay, marking this as external

[2022-11-07 21:10] OSBotify commented on #12476
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12532) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.24-3` :rocket:

[2022-11-07 21:10] OSBotify commented on #12476
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.24-3 has been deployed to staging :tada:

[2022-11-07 21:11] Puneet-here commented on #11341
I am testing the PR but not sure about the steps to get error while closing account. Few months back I was getting error when closing the account without deleting the workspaces in the my account. That's why I thought we are not using that modal anymore. Any idea.
cc: @thesahindia

[2022-11-07 21:12] jasperhuangg commented on #12507
@marcaaron and I have already noticed and had a discussion about this error [here](https://github.com/Expensify/App/pull/12219#issuecomment-1302265895), for now we've agreed not to do anything.

A solution to this would have to involve modifying the SequentialQueue to merge requests that have the same command. For now we've decided this is not a priority, since the final value that it lands on aft

[2022-11-07 21:15] johncschuster commented on #10283
Thanks for confirming that, @mvtglobally!

@syedsaroshfarrukhdot can you try this link one more time? https://www.upwork.com/jobs/~01a2b7049d03140226

If it doesn't work, I'll recreate the job and get you paid. Thank you!

[2022-11-07 21:17] jasperhuangg commented on #12291
I like @daraksha-dk proposal, simple and takes advantage of the existing React component lifecycle.

Can you try your solution and post a screen recording of it working since it's so simple? Once that happens I'll accept the proposal.

[2022-11-07 21:20] jliexpensify commented on #12471
Thanks @kavimuru - apologies, I didn't realise my app was so old!

I've tested in staging (v1.2.24-3) with a colleague and this doesn't seem to be an issue anymore:

![image](https://user-images.githubusercontent.com/30815269/200417636-f13c900e-94bf-4bf4-b01d-b9216b175d30.png)

She reported not seeing the first "testing testing bug" message that I deleted, and not getting an unread notification.

[2022-11-07 21:20] Santhosh-Sellavel commented on #10283
Not sure why hold for payment is not updated here. @johncschuster we should  waiting for regression period to complete. That is seven days from production deployment.

Which should be after three days from today as the PR deployed 3 days ago!

[2022-11-07 21:21] Santhosh-Sellavel commented on #12198
I've requested it before process changes @michaelhaxhiu

[2022-11-07 21:22] jasperhuangg commented on #12291
@Delgee I like your proposal and I think it should work, let's go with it!

[2022-11-07 21:22] jasperhuangg commented on #12291
@daraksha-dk thank you for your proposal, but I don't think your solution would work, because the `SettlementButton` sets its button styles in the constructor, and the constructor isn't invoked when props change.

[2022-11-07 21:32] s77rt commented on #12483
I confirm @0xmiroslav solution's fix the issue.
and that's how it's handled on other files: (ref):
https://github.com/Expensify/App/blob/9c64d6455ea38ffd1ae6d9df3a1be8e72cc34c94/src/pages/RequestCallPage.js#L93
https://github.com/Expensify/App/blob/9c64d6455ea38ffd1ae6d9df3a1be8e72cc34c94/src/pages/signin/LoginForm.js#L52
etc.

[2022-11-07 21:34] JmillsExpensify commented on #12459
Re-assigned myself per [this comment](https://expensify.slack.com/archives/C01GTK53T8Q/p1667850709001799?thread_ts=1667848459.557979&cid=C01GTK53T8Q).

[2022-11-07 21:35] AndrewGable commented on #11895
We can make it internal due to beta 👍

[2022-11-07 21:36] michaelhaxhiu commented on #12198
👍 sorry we didn't announce it more clearly sooner! All good now :)

[2022-11-07 21:36] OSBotify commented on #12476
:clap: Heads up @Expensify/applauseleads :clap:
A [new pull request](https://github.com/Expensify/App/pull/12533) has been :cherries: cherry-picked :cherries: to staging, and will be deployed to staging in version `1.2.24-4` :rocket:

[2022-11-07 21:38] jasperhuangg commented on #12237
@TwizzyIndy thank you for your reply!

I'm not looking for a comment explaining **_what_** is happening in the code, I'm looking for an explanation of **_why_** we're adding this code in the first place.

Why does adding `this.currentScrollOffset !== 0` solve this issue? It might help to first clearly define for yourself what `this.currentScrollOffset` is in relation to.

It appears we set it to `

[2022-11-07 21:39] neil-marcellini commented on #12530
As decided in slack [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667857000329679?thread_ts=1667585603.394289&cid=C01GTK53T8Q) we will hold this on https://github.com/Expensify/App/issues/12308 and see if we can reproduce after it is fixed.

[2022-11-07 21:43] jasperhuangg commented on #12122
hey @thesahindia thanks for the bump we'll make sure to get you paid out as well, thanks for reporting! cc @mallenexpensify

[2022-11-07 21:46] jasperhuangg commented on #12027
@chiragsalian Thanks for the investigation! Definitely looks like this needs to be fixed internally, and happy to let you do it in https://github.com/Expensify/App/issues/11542 if it won't be too much of a hassle. Closing

[2022-11-07 21:46] #12027 closed

[2022-11-07 21:47] kevinksullivan commented on #12520
https://www.upwork.com/jobs/~0115543468fa3aedee

@huzaifa-99 please apply for reporting!

[2022-11-07 21:48] syedsaroshfarrukhdot commented on #10283
@johncschuster Thank you for reposting the link. I was able to apply to the job now. Thank You.

[2022-11-07 21:53] jasperhuangg commented on #11921
^TLDR: we're still looking for proposals for this one!

[2022-11-07 21:57] syedsaroshfarrukhdot commented on #11413
Sorry for not replying after mention somehow missed the notification earlier

@marcochavezf Yeah wasn't able to find any solution to it the problem it was pretty much a dead end. As whole Login Form is being rendered in `SetPassword` Screen and I wasn't able to find  why it is happening. Maybe a bug in StackNavigator causing higher level screens to rendered in the rest of the components.

[2022-11-07 21:57] trjExpensify commented on #11921
Yeah, the URL bug is here: https://github.com/Expensify/App/issues/11735

[2022-11-07 21:57] parasharrajat commented on #11908
I think we missed one location in the app to check. I did during testing as well.
the PasswordForm for protected PDF attachment.
![Screenshot 2022-11-08 03:26:21](https://user-images.githubusercontent.com/24370807/200423838-fc9cae1b-66d8-474b-8411-d73a4b493f50.png)

There is a new issue which is related to this page but not the same issue https://github.com/Expensify/App/issues/12520.

@mountiny S

[2022-11-07 21:57] amyevans commented on #12432
I haven't attempted to reproduce myself yet, but given that it's related to data from the API I think it's best to keep it `Internal`. Could you try reproducing again @johncschuster and writing up more specific repro steps if successful? I can also take a closer look Wednesday, if not before (but it's getting late for me today and I'm traveling tomorrow, so I don't want to overpromise).

[2022-11-07 21:59] parasharrajat commented on #11908
I think let just do it here. @0xmiroslav Could you please raise a follow up PR to fix this as well?

[2022-11-07 21:59] mountiny commented on #11908
I agree, that should be simple enough. No need to CP either.

[2022-11-07 22:01] parasharrajat commented on #12520
Let's hold this issue.. We are creating a follow up PR for https://github.com/Expensify/App/issues/11908 which might fix this indirectly.

cc: @kevinksullivan

[2022-11-07 22:02] parasharrajat commented on #11823
Reviewed today.

[2022-11-07 22:08] lschurr commented on #12048
Hey @aimane-chnaif - Could you accept the offer in Upwork and I'll get that paid!

[2022-11-07 22:09] johncschuster commented on #11416
@adeel0202 Great! I've just hired you on Upwork. Once you accept the job I'll get this squared up!

[2022-11-07 22:10] johncschuster commented on #12432
Thanks for the buddy check, Amy! I'll label it `Internal` and will try reproducing the behavior again.

[2022-11-07 22:10] huzaifa-99 commented on #12520
Applied, thanks

[2022-11-07 22:12] trjExpensify commented on #11797
Ah neat, sounds good!

[2022-11-07 22:17] jliexpensify commented on #11728
Paid Puneet and Jayesh (+ contracts ended), will close once Rajat has accepted and is paid.

[2022-11-07 22:21] parasharrajat commented on #11728
@jliexpensify Done.

[2022-11-07 22:24] parasharrajat commented on #11810
@tienifr Is it possible to use regExp or something to get rid of `url` package from your solution?

[2022-11-07 22:25] alexpensify commented on #12530
I've asked if we should move this to a weekly or leave it as a daily.

[2022-11-07 22:26] parasharrajat commented on #11124
Will be solved at part of  https://github.com/Expensify/App/issues/9818

[2022-11-07 22:27] parasharrajat commented on #12043
Marc has a point.

[2022-11-07 22:28] jliexpensify commented on #11728
All done and job closed. Thanks everyone!

[2022-11-07 22:28] #11728 closed

[2022-11-07 22:30] dangrous commented on #12378
I'm also not able to replicate, on prod or staging... Happy to try other steps if @puneetlath you have additional thoughts

[2022-11-07 22:33] AndreasBBS commented on #12298
Yes, right. I'm not getting a lot of feedback on that issue and it seems to me that issues in that repo take a while to be addressed.

I've been trying to fix it myself but react source is dense and I rarely have to work at this level, I'm enjoying the challenge though. If you know anyone that's familiar with working on the react source code that can give me some guidance I'd highly appreciate if

[2022-11-07 22:37] Santhosh-Sellavel commented on #12298
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email [contributors@expensify.com](mailto:contributors@expensify.com) to request to join our Slack channel!

Join our slack channel, and post help anyone can offer help!

[2022-11-07 22:38] alexpensify commented on #12530
I've confirmed it's possible to move to weekly and I'm setting a reminder to check the status.

[2022-11-07 22:40] OSBotify commented on #12476
:tada: All set?…You bet! @Expensify/applauseleads https://github.com/Expensify/App/releases/tag/1.2.24-4 has been deployed to staging :tada:

[2022-11-07 22:41] yuwenmemon commented on #12476
@mvtglobally We should be good to go now! Sorry for the delay

[2022-11-07 22:45] Luke9389 commented on #11733
still on hold

[2022-11-07 22:46] Luke9389 commented on #11377
Still need to roll around to this

[2022-11-07 22:47] Luke9389 commented on #12443
That first PR was to add the fonts as assets. Now I'll begin switching them out.

[2022-11-07 22:47] Luke9389 commented on #12442
@shawnborton are we holding on this to finalize the icons?

[2022-11-07 22:47] parasharrajat commented on #4733
I am on it. I will share the update soon.

[2022-11-07 22:50] mallenexpensify commented on #11194
Would/did the fix for #10753 have fixed the 'logged out state' error you reported?

Another thought, for any issues in the E/E repo that you don't have access too, you can request an employee take a look and screenshot the creation or _reporting_ time for those.

[2022-11-07 22:50] Santhosh-Sellavel commented on #12492
@kbecciv
Note: This happens on production as well
https://github.com/Expensify/App/pull/12296 is pending production deployment
<img width="1190" alt="Screenshot 2022-11-08 at 4 19 03 AM" src="https://user-images.githubusercontent.com/85645967/200431908-d52ffcb1-d0b3-406f-87f7-89ee7ec66c76.png">

[2022-11-07 22:52] mvtglobally commented on #12476
we are running regression. Should have results in a bit

[2022-11-07 22:58] mallenexpensify commented on #12007
Hold on #10894

[2022-11-07 23:00] JmillsExpensify commented on #12251
I have read and reviewed this Design Doc!

[2022-11-07 23:01] AndrewGable commented on #11711
Back on this 🐴 - Here is a run from two different branches: https://github.com/AndrewGable/App/pull/1#issuecomment-1306338309

[2022-11-07 23:08] mallenexpensify commented on #11816
All hired, please accept and I'll pay out

[2022-11-07 23:10] #8722 closed

[2022-11-07 23:13] NicMendonca commented on #11095
everyone is paid! closing!

[2022-11-07 23:13] #11095 closed

[2022-11-07 23:13] LLPeckham commented on #12255
Posted copy discussion [here](https://expensify.slack.com/archives/C03SSAQG5/p1667858930911229).

[2022-11-07 23:14] alexpensify commented on #11825
I've checked this GH and see Jule's comment that this one is still under review.

[2022-11-07 23:14] aldo-expensify commented on #12359
I'll have a look

[2022-11-07 23:17] mallenexpensify commented on #11729
@aimane-chnaif this is def an edge case but, based on your comment above, and other in this issue, it appears you are eligible because there was a big at the time of reporting that wasn't actively being worked on or reported.  @Luke9389, can I get a gut check?  Assigned ot me too

[2022-11-07 23:19] markojovanovic410 commented on #12520
We check first html element with chrome developer tools first.
And then we confirm which script or style make the space.
remove or change style ("user-select: none" or something).

[2022-11-07 23:23] mallenexpensify commented on #12066
Hired @tienifr .
@adeel0202 and @sobitneupane , can you please apply? https://www.upwork.com/jobs/~015b8c264cc213a4cb

[2022-11-07 23:25] Santhosh-Sellavel commented on #10654
@dbond09 Solution looks good to me.
C+ Reviewed
🎀 👀 🎀
@mountiny Please have a look at let me know your thoughts too, thanks!

[2022-11-07 23:28] mallenexpensify commented on #8364
@sketchydroide what do you think?  I feel like #3 is _safer_, to ensure we don't maybe mess something up but, #3 _seems_ like how it should _always_ work... right?!?!

[2022-11-07 23:32] stitesExpensify commented on #10699
Turns out I already fixed this on accident. By making every account have a concierge chat on account creation, we now correctly get the personal details when opening the app. Closing!

[2022-11-07 23:32] #10699 closed

[2022-11-07 23:33] mallenexpensify commented on #12335
Thanks @thesahindia !  I agree that I think it's expected.
Thanks @kbecciv for the feedback.  If you see any inconsistencies where the positional/location of the message isn't consistent with the above, please comment/reopen this issue or create a new GH

[2022-11-07 23:33] #12335 closed

[2022-11-07 23:35] Luke9389 commented on #12443
I'm realizing that we do indeed need the New Kansas .eot files.

[2022-11-07 23:36] mallenexpensify commented on #4324
Hired @Karim-30 , please accept and @adelekennedy will pay https://www.upwork.com/jobs/~010caa5ffae4fb2e37
@Santhosh-Sellavel can you apply for C+ too plz?

[2022-11-07 23:39] Santhosh-Sellavel commented on #4324
Applied @adelekennedy

cc: @mallenexpensify

[2022-11-07 23:43] mallenexpensify commented on #12122
@thesahindia for potential payment for reporting, would this issue have been fixed with the refactor from https://github.com/Expensify/App/issues/10738 had you not reported it?   I'm guessing not cuz that's why this issue was worked on.   Gut checking myself before paying to make sure I'm not missing anything

[2022-11-07 23:44] Luke9389 commented on #12443
Holding. Reason in above comments

[2022-11-07 23:44] mountiny commented on #10654
@dbond09 @Santhosh-Sellavel Will this solution also implement a native iOS/Android scrolling behaviour? That means speed and also the dynamic aspect of it?

What needs to be done so the invertedFlatList can behave like that

[2022-11-07 23:49] wildan-m commented on #11964
### Proposal (Updated)

@tgolen

Please have a look at this hierarchy

https://github.com/Expensify/App/blob/4f92e57bb4fa08339527f8082f207f81628492d8/src/libs/Navigation/AppNavigator/AuthScreens.js#L162-L199

`MainDrawer` and `ValidateLogin` are `RootStack` navigator screens.

`ValidatLoginPage` will call this function

https://github.com/Expensify/App/blob/91acada3b65af8c465febe6853bcc7d37995f0f4

[2022-11-07 23:51] Santhosh-Sellavel commented on #10654
@mountiny
I believe native platforms are working correctly, if not we have to look for other solutions.

We need to remove the `invertedWheelEvent` listener here!
https://github.com/Expensify/App/blob/91acada3b65af8c465febe6853bcc7d37995f0f4/src/components/InvertedFlatList/index.js#L43-L46

[2022-11-07 23:51] AndrewGable commented on #11711
Getting closer to having something that is able to be merged! I think a few more days of testing should get us there.

[2022-11-07 23:56] JmillsExpensify commented on #11711
Woo! Perfect timing on your update.

[2022-11-07 23:57] Christinadobrzyn commented on #12206
Based on the Internal label [SO](https://stackoverflow.com/c/expensify/questions/13732), I need to hire a C+ to help with this.

@thesahindia did you want to work on this job? If yes, I can reassign you as the C+.

[2022-11-08 00:04] strepanier03 commented on #12508
@deetergp - Any chance you can help me test this for recreation? I don't have a dev environment to do it. 🙏

[2022-11-08 00:07] Luke9389 commented on #11377
OK I think we should actually approach this from the front end. The problem is only reproducable if we edit the message and then hit submit without making changes. If the front end detects this, it should just not send an API request at all (in other words, the submit button shouldn't even be clickable if the edited message is the same as the original).

[2022-11-08 00:11] dangrous commented on #12317
Preempting Melvin - still waiting for proposals

[2022-11-08 00:11] sobitneupane commented on #10848
@flaviadefaria Accepted.

[2022-11-08 00:12] JmillsExpensify commented on #12531
I'll actually take this one, as I'm working with @youssef-lr on it.

[2022-11-08 00:14] dangrous commented on #12257
Been catching up on some chores (and also moving cross country?!?!) - should have time/energy to finish this up tomorrow.

[2022-11-08 00:15] dangrous commented on #12256
Cool! I can start playing around with this this week, if no design doc needed. Will likely have some questions as I go. First one - are we removing the timezone call out that's in the left hand image?

[2022-11-08 00:17] JmillsExpensify commented on #12036
@michaelhaxhiu Do you want to assign yourself to this tracking issue. I noticed we need a BZ assignee.

[2022-11-08 00:21] aldo-expensify commented on #12206
I'm not sure if it is the same, but @Santhosh-Sellavel got assigned as a reviewer for the PR: https://github.com/Expensify/App/pull/12479, does that mean that he will be taking the C+ role?

[2022-11-08 00:21] Santhosh-Sellavel commented on #10729
Coming from this [issue](https://github.com/Expensify/App/issues/12400),
@mollfpr
Our PR is Failing this test

Can you create a follow-up PR to address this one?

cc: @luacmartins

[2022-11-08 00:27] Christinadobrzyn commented on #12206
Ah, that does make more sense. I'll assign @Santhosh-Sellavel as the C+

[2022-11-08 00:28] parasharrajat commented on #10654
How will this [proposal](https://github.com/Expensify/App/issues/10654#issuecomment-1305934229) handle inverted scrolling?

[2022-11-08 00:32] strepanier03 commented on #11863
@sobitneupane - I'll wait for your testing. It does seem like the search results is a different issue as this GH was specifically for the entered member in the compose box displaying twice before disappearing.

[2022-11-08 00:33] Santhosh-Sellavel commented on #10654
It is available with the linked issue it was closed with this commit https://github.com/necolas/react-native-web/commit/7ec2489c78f9734bae5bcfdc514b0c91621a6300

[2022-11-08 00:34] arielgreen commented on #10290
Paid.

[2022-11-08 00:34] #10290 closed

[2022-11-08 00:36] parasharrajat commented on #12480
The proposals look good. I will share my review tomorrow morning CST.

[2022-11-08 00:38] trjExpensify commented on #12036
👋 Hey-o! What are we accomplishing with this tracking issue? It seems undefined currently, so I'm not quite sure I understand its purpose. Looking at the solution ("goals") stated in the OP:

This is the expectation across the board, to check the repo for duplicate issues.

How does anyone know to do this? Equally, you shouldn’t have to x-ref a tracking issue to avoid introducing new bugs in the c

[2022-11-08 00:40] JmillsExpensify commented on #12036
All great points!

[2022-11-08 00:41] yuwenmemon commented on #12522
Closing this out! `1.2.24-4` is not crashing on launch! 🎉

[2022-11-08 00:41] #12522 closed

[2022-11-08 00:49] trjExpensify commented on #11695
https://github.com/Expensify/App/issues/11695#issuecomment-1306180668 - Yes, @cowboycito! Anything with the `Help wanted` label is still open.

[2022-11-08 00:51] JmillsExpensify commented on #10793
Latest convo and progress is happening [in Slack](https://expensify.slack.com/archives/C035J5C9FAP/p1667503389141599).

[2022-11-08 00:59] alexpensify commented on #11272
@aneequeahmad - please accept [here](https://www.upwork.com/jobs/~01f174bbce556e4071) and I can move forward with the payment. Thanks!

[2022-11-08 01:00] alexpensify commented on #11272
I input the wrong job for this GitHub. Please click the link above versus the one that may appear in your email.

[2022-11-08 01:04] aneequeahmad commented on #11272
@alexpensify, I submitted the proposal. Thanks for mentioning

[2022-11-08 01:07] dbond09 commented on #10654
@Santhosh-Sellavel You got it correctly.

[2022-11-08 01:13] strepanier03 commented on #12508
Nevermind Scott, I'm all good. I read "dev console" and my brain went "dev environment" 🤦‍♀️ . Unassigning you now.

[2022-11-08 01:14] strepanier03 commented on #12508
@kavimuru @0xmiroslav - I am unable to recreate the error that you're showing.

Nothing happens when I click the "Fix the error" text but I also don't have any error in my dev console.

Can you still both recreate?

[2022-11-08 01:14] kbecciv opened #12542 "[$250] Reimburse expenses - Error appears after changing Rate and Unit"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open NewDot app
2. Go to the WS settings -> Reimburse expenses
3. Change both fields: Rate and Unit

## Expected Result:
The u

[2022-11-08 01:15] aneequeahmad commented on #11194
@mallenexpensify Actually the logged out state error is fixed in this PR https://github.com/Expensify/App/pull/10929.

The one you mentioned #10753 issue is closed as this was also fixed by this PR https://github.com/Expensify/App/pull/10929
as mentioned [here](https://github.com/Expensify/App/pull/10929#:~:text=as%20a%20fallback.-,Fixed%20Issues,-%24%20https%3A//github) in `Fixed issues`.

[2022-11-08 01:15] Luke9389 commented on #12508
I mislead @strepanier03 here, this problem is on iOS so needs to be tested by an engineer. Sorry!

[2022-11-08 01:20] strepanier03 commented on #12508
No worries at all Luke, I'm learning and appreciate all of these no matter what the outcome.

[2022-11-08 01:23] davidcardoza commented on #11820
Yes payment to @Puneet-here was processed via Upwork.

[2022-11-08 01:23] #11820 closed

[2022-11-08 01:32] aldo-expensify commented on #11414
@Puneet-here can you update your branch ([PR](https://github.com/Expensify/App/pull/12502)) with main so we can compile it Android? 🙏

[2022-11-08 01:38] Santhosh-Sellavel commented on #4324
Accepted Offer, thanks!

[2022-11-08 01:40] davidcardoza commented on #12319
Sorry for the delay, I was out of the office. @0xmiroslav I hired you for the job via upwork - https://www.upwork.com/jobs/~01f46034d3f5da6f39

[2022-11-08 01:46] davidcardoza commented on #12208
I have been OOO. Job posted - https://www.upwork.com/jobs/~0183e621ff73890860

[2022-11-08 02:22] Santhosh-Sellavel commented on #10729
On clicking fix errors, first error input should be focused.

[2022-11-08 02:42] Christinadobrzyn commented on #12271
Hi @kerupuksambel! Thank you so much for the insight - testing this:

Using Copy to Clipboard

1. Type `<a href="takia.html">asd</a>` in a chat in [staging](https://staging.new.expensify.com/r/68947221)
2. Copy the code by clicking the Copy to Clipboard button
3. Paste it with Ctrl+V / Cmd + V on your text editor.
4. You get `<a href="takia.html">asd</a>` in text editor

Using Ctrl+C / Cmd+C

1. T

[2022-11-08 02:46] mollfpr commented on #10729
I do not understand what should I do...

But I just tested with one of the proposals on https://github.com/Expensify/App/issues/12400 is truly fixes the issue.

[2022-11-08 03:30] melvin-bot[bot] opened #12543 "[$250] Investigate: 💥 Crash 💥 `.dismissWorkspaceError`"
Firebase has reported a new crash that we need to fix, here are all the details we found:

## Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError
### Not implemented
### `address at index.android.bundle:1:3062636` `.dismissWorkspaceError`
### Number of Crashes: 2

## Device Information
* **Platforms:** Android
* **App Versions:** `1.2.24-3`
* **Devices:** Google Pixel 10

## Sta

[2022-11-08 03:32] mollfpr commented on #9581
@neil-marcellini Here's the updated proposal.

[code]

[2022-11-08 03:36] mollfpr commented on #9581
Sorry I forgot to add `defaultValues` props to `IdentityForm` and `AddressForm`, I don't know why I'm not thinking about that.

cc @Santhosh-Sellavel

**AddressForm**
[code]

**IdentityForm**
[code]

---

We also need to update the `StatePicker` prop types.
[code]

[2022-11-08 03:45] mvtglobally commented on #12476
@yuwenmemon @Julesssss Regression is completed

PR https://github.com/Expensify/App/pull/12034 is blocked on IOS and Android with https://github.com/Expensify/App/issues/12480
PR https://github.com/Expensify/App/pull/12279 is blocked by https://github.com/Expensify/App/issues/11796 on IOS and Android and blocked by https://github.com/Expensify/App/issues/12308 on mWeb and Desktop
PR https://github

[2022-11-08 03:48] Karim-30 commented on #4324
Accepted.

[2022-11-08 03:59] marcochavezf commented on #11488
Thank you @Santhosh-Sellavel! assigning @syedsaroshfarrukhdot  🚀

[2022-11-08 04:00] hungvu193 commented on #11797
Cool, let me know if I need to update or investigate anything.

[2022-11-08 04:02] sobitneupane commented on #11863
@strepanier03

They are different members. You can notice in the following video that two users are displayed. But they are different.

https://user-images.githubusercontent.com/25876548/200471379-4ff1b615-3d7b-4b65-b4ab-f1d60ea5d630.mov

You can notice in the following frame that two users are displayed: one is "applausetester+1310lsn@applause.expensifail.com" and other is "applausetester+1310lsn

[2022-11-08 04:10] JmillsExpensify commented on #11189
Also as an update, I checked with @youssef-lr via DM. We'll need to circle back to the BZ checklist when the related PRs are complete. A full testing script will also be in order.

[2022-11-08 04:10] TwizzyIndy commented on #12237
Thank you.I will explain it as much as I can.

Firstly, The issuer doesn't want to scroll back to the last message when he opens up the keyboard. So what I do first was, search for the event or callback when the keyboard open up.

Then I found the `keyboardDidShow` listener. My first proposal was to delete that callback implementation to solve the problem. But it will be some regression issue.

So

[2022-11-08 04:10] JmillsExpensify commented on #12459
Moved to weekly based on the hold.

[2022-11-08 04:17] sobitneupane commented on #11671
@fedirjh Let's wait for the slack thread. If you will be able to convince CME to go with your proposed idea in slack thread, we can go with it. Else, what about the following suggestion?

[2022-11-08 04:28] sophiepintoraetz commented on #12210
[Job posted!](https://www.upwork.com/jobs/~013080b056ebfbb6c0)

[2022-11-08 04:32] tienifr commented on #12267
I have other solution for you @sobitneupane . We'll preload our font with javascript.
We'll add `script` tag in `header`
[code]

[2022-11-08 04:43] JmillsExpensify commented on #12256
No, that's just a detail not included in the mock. Let's keep that functionality as is.

[2022-11-08 04:44] mananjadhav commented on #10888
C+ Review is done on this one. Once @Luke9389  is done, we can merge this.

[2022-11-08 04:54] mananjadhav commented on #11086
Okay I understood the problem and the reproduction steps.

@Pujan92 I tried your proposal and it didn't work for me. Just removing the `reportID: 0` from `setState` can cause problems as `PopoverReportActionContextMenu` is a shared component and might already be mounted for other components.

@deetergp @muttmuure This is. happening only for `Copy...` menus because we wait until the text changes to

[2022-11-08 04:58] mananjadhav commented on #11403
Quick bump!

[2022-11-08 05:01] mananjadhav commented on #11463
@kbecciv Pardon me for my ignorance, but I still couldn't make out if the button is hidden behind the keyboard?

[2022-11-08 05:02] mananjadhav commented on #11471
Okay thanks for the comment @dhairyasenjaliya.

Based on the previous comment, this is still open for proposals. @slafortune @MonilBhavsar can we please add `Help Wanted` tag?

[2022-11-08 05:07] JmillsExpensify commented on #11277
We've hit the 7 day mark since the last price increase, so I'm going to increase the [Upwork job](https://www.upwork.com/jobs/~0164d0286c2126643f) to $1,000. We're still looking for a solid proposal!

[2022-11-08 05:07] MonilBhavsar commented on #11471
Yes 👍
@dhairyasenjaliya feel free to propose the solution again

[2022-11-08 05:09] mananjadhav commented on #12483
@0xmiroslav's proposal [here](https://github.com/Expensify/App/issues/12483#issuecomment-1304289885) looks fine to me

cc - @techievivek

🎀 👀 🎀 
C+ reviewed

[2022-11-08 05:09] JmillsExpensify commented on #11058
Oh nice! Thanks for jumping on that so quickly and testing!

[2022-11-08 05:10] mananjadhav commented on #9391
@MonilBhavsar did you get a chance to look at the previous comment?

[2022-11-08 05:10] adelekennedy commented on #8005
Slack convo on payment [here](https://expensify.slack.com/archives/C02NK2DQWUX/p1667872342460039)

[2022-11-08 05:12] adelekennedy commented on #4324
Paid and contract ended!

[2022-11-08 05:12] #4324 closed

[2022-11-08 05:18] adelekennedy commented on #9580
@mananjadhav @ravindra-encoresky I know we had a lot of back and forth here are we just waiting for [this PR](https://github.com/Expensify/App/pull/10741) to merge now?

[2022-11-08 05:19] mananjadhav commented on #9580
Waiting on @ravindra-encoresky to work on the feedback. Then one round of review + testing should be good to merge

[2022-11-08 05:20] JmillsExpensify commented on #12283
This issue still seems like a duplicate of the crash that we're also discussing in https://github.com/Expensify/App/issues/10907. Right?

[2022-11-08 05:21] adelekennedy commented on #9941
@parasharrajat @sketchydroide I see the above PR is merged - from the above I think you're [due for compensation](https://github.com/Expensify/App/issues/9941#issuecomment-1239329085) from the work you've done - does this need to be stay open or can we pay and close?

[2022-11-08 05:22] JmillsExpensify commented on #10615
Oh hahaha. Gotcha, yeah I experience this bug still a decent amount. I agree that it's going to get fixed by sequence numbers, but I'd rather keep it open so that it's clear to the community that this is a long-known existing bug and any future reports are duplicates. I'll take the work of commenting weekly.

[2022-11-08 05:23] JmillsExpensify commented on #11726
I'll have to get to this one tomorrow. Slipped my todos today.

[2022-11-08 05:25] JmillsExpensify commented on #11854
Agree with that.

[2022-11-08 05:27] JmillsExpensify commented on #11429
Still on hold for the tracking issue.

[2022-11-08 05:28] JmillsExpensify commented on #11420
Still on hold.

[2022-11-08 05:28] JmillsExpensify commented on #11111
Still on hold.

[2022-11-08 05:33] adelekennedy commented on #11874
@thesahindia hired you [here](https://www.upwork.com/jobs/~01070c713fb414c3b6)

[2022-11-08 05:35] adelekennedy commented on #11930
doubled the price - @Julesssss @roryabraham from the comment [here](https://github.com/Expensify/App/issues/11930#issuecomment-1288776484) is this still an external issue? What are our next steps?

[2022-11-08 05:37] adelekennedy commented on #12205
internal now - @youssef-lr what are next steps to add an engineer to this issue?

[2022-11-08 05:39] ctkochan22 commented on #12000
Had to jump on higher priority issues, hoping to get to this week

[2022-11-08 05:40] Pujan92 commented on #11086
@mananjadhav Not only `reportID: 0`, we have to take out `reportAction: {}` also as it might contain the action for deletion. So removing these 2 fields from `setState` within **hideContextMenu** works form me.

[2022-11-08 05:44] adelekennedy commented on #12315
still reproducible - moving forward

[2022-11-08 05:45] adelekennedy commented on #12315
I think this can be an external issue - @stitesExpensify for confirmation

[2022-11-08 05:50] adelekennedy commented on #12493
Reproducible and doesn't seem to be a duplicate - moving forward

[2022-11-08 05:55] JmillsExpensify commented on #12292
Hmm, yeah I think this might be a dupe. Based on the reproduction steps in the linked issue, the paypal/payment option is not seen after a refresh.

[2022-11-08 05:59] JmillsExpensify commented on #10632
Cool, I'm also putting this on hold given that it's not a roadmap priority.

[2022-11-08 06:04] sobitneupane commented on #12158
Thanks for the update @Ollyws. With your proposed change, issue is solved at the senders end but not at the receivers end. We might have to make similar change for receiver as well.

https://user-images.githubusercontent.com/25876548/200487312-b89ab6a3-ac32-4ad5-a297-e6cccaf21fb1.mov

[2022-11-08 06:18] thesahindia commented on #12122
Correct. PR for https://github.com/Expensify/App/issues/10738 was already merged 18 days ago and didn't fix this.

[2022-11-08 06:19] techievivek commented on #12483
@0xmiroslav Looks like a straightforward fix. Let's also add a fix to the `WorkspaceInvitePage` page.

@dylanexpensify Lets hire @0xmiroslav. 🎉

[2022-11-08 06:20] kadiealexander commented on #12448
@kakajann I just tried to replicate this in iOS Safari and wasn't able to replicate it. Could you please share updated replication steps if this is still occurring for you?

https://user-images.githubusercontent.com/59587260/200489482-3211a625-1395-4d7b-a2a5-ca4605591719.MP4

[2022-11-08 06:28] Puneet-here commented on #11820
@davidcardoza, I believe this is also eligible for reporting, I only got the fixing compensation.

[2022-11-08 06:33] thesahindia commented on #11874
Thanks, accepted the offer!

[2022-11-08 06:33] thesahindia commented on #8719
bump @adelekennedy

[2022-11-08 06:51] kakajann commented on #12448
Sorry, how am I involved to this? :)

[2022-11-08 06:56] techievivek commented on #12036
@trjExpensify

I just updated the OP yesterday with the latest update but we did see a lot of duplicate issues in this domain. Given the number of new issues popping up daily, it was hard to find duplicate ones(thanks to external contributors for helping us figure that out). And given the component is almost the first point of contact in any chat app I thought prioritizing this will definitely be

[2022-11-08 07:12] techievivek commented on #12363
We would like to fix the jumping/drifting effect on Android when one re-opens the chat.

[2022-11-08 07:35] Christinadobrzyn commented on #11275
Sorry, just to make sure, the job was fixed without hiring?

I can ask about the reporting bonus @parasharrajat, I just want to make sure there's no one else to pay for this job.

[2022-11-08 07:48] kzhein commented on #12210
### Proposal

Expensify help website has a fixed navigation menu for small screens that usually remains fixed at the top of the page. When you use the URL anchor, the browser window will scroll itself (instantly) to bring anchor at the top of the page, leaving the content behind the fixed navigation menu.

### Solution:

https://user-images.githubusercontent.com/58266349/200504507-c1610a89-3b43-47

[2022-11-08 08:06] huzaifa-99 commented on #11695
I thought we were not handling landscape mode on mobile?

[2022-11-08 08:24] tienifr commented on #11810
@parasharrajat I've updated my PR to use regExp: https://github.com/tienifr/App/pull/18. Pls help check again. Thanks

[2022-11-08 08:27] dylanexpensify commented on #12045
@jayeshmangwani ^

[2022-11-08 08:48] dylanexpensify commented on #11908
Do we have an ETA when we could get the add-on PR raised?

[2022-11-08 08:54] dylanexpensify commented on #12483
Upwork job here: https://www.upwork.com/jobs/~01473a5e18a0085d0e
cc @0xmiroslav @mananjadhav

[2022-11-08 08:56] daraksha-dk commented on #12291
My solution is to use key which will re-render the `SettlementButton` if the key value( submitterPayPalMeAddress ) changes so constructor will be invoked. You can see this article https://medium.com/@albertogasparin/forcing-state-reset-on-a-react-component-by-using-the-key-prop-14b36cd7448e

[2022-11-08 08:56] tienifr commented on #12066
Hi @sobitneupane I just created a PR for this issue: https://github.com/Expensify/App/pull/12545
Could you help to review it? Thanks

[2022-11-08 09:04] fadlizaini commented on #12493
**Proposal**

Remove imported `<Tooltip />` components in avatar's component or make a condition in avatar's component if it used by another page with tooltip required
[https://github.com/Expensify/App/blob/91acada3b65af8c465febe6853bcc7d37995f0f4/src/components/MultipleAvatars.js#L58-L128](https://github.com/Expensify/App/blob/91acada3b65af8c465febe6853bcc7d37995f0f4/src/components/MultipleAvatar

[2022-11-08 09:16] sobitneupane commented on #12438
@hungvu193 Thanks for your proposal.

But it does not solve the problem.

https://user-images.githubusercontent.com/25876548/200524042-8f6d51e3-65c1-485c-838b-f0317d580051.mov

[2022-11-08 09:31] flodnv commented on #11515
Are you sure? If so, why don't I see the conversation marked as unread after killing the app and restarting it?

[2022-11-08 09:32] hungvu193 commented on #12438
@sobitneupane  does this look better?

https://user-images.githubusercontent.com/16502320/200528326-39776d4b-23d6-4555-9cc2-4fbc4218f37e.mov

[2022-11-08 09:43] sobitneupane commented on #12267
@tienifr's [proposal1](https://github.com/Expensify/App/issues/12267#issuecomment-1300005810) and [proposal2](https://github.com/Expensify/App/issues/12267#issuecomment-1306621239) both look good to me. We can go with any one of the two.

🎀👀🎀 C+ reviewed

cc: @roryabraham

[2022-11-08 09:55] Puneet-here commented on #11414
Done!

[2022-11-08 10:01] laurenreidexpensify commented on #11488
https://www.upwork.com/jobs/~0123c0031939c72d6a

[2022-11-08 10:04] Beamanator commented on #12453
Maybe this just needs to be added to TestRail, not sure if this is technically a "regression"

[2022-11-08 10:05] laurenreidexpensify commented on #11488
Offers sent in Upwork ✔️

[2022-11-08 10:07] gadhiyamanan commented on #11488
@laurenreidexpensify applied

[2022-11-08 10:15] Delgee commented on #12291
@jasperhuangg PR is ready for review. And created a proposal for Upwork.

[2022-11-08 10:15] syedsaroshfarrukhdot commented on #11488
Thank you for assigning me. Just accepted the invite on Upwork will be making a PR ready in next few hours.

[2022-11-08 10:16] laurenreidexpensify commented on #12506
https://www.upwork.com/jobs/~014fa231424f817d4e

[2022-11-08 10:17] Puneet-here commented on #11341
I just wanted to check if everything is working correctly after the refactor.

[2022-11-08 10:17] hungvu193 commented on #12542
<img width="1680" alt="Screen Shot 2022-11-08 at 17 06 03" src="https://user-images.githubusercontent.com/16502320/200537707-78da3e2d-861e-4f36-a20d-2e21c0b75d3e.png">

More informations for anyone who want to fix this, this error will happen when you tried to change the dropdown immediately
right after you change the  Rate. Seems we need to call API synchronous here.
I think we can add a `Save` b

[2022-11-08 10:22] WestDon commented on #12046
@mallenexpensify  I suggest implementing something like this, try to get reportID from href, so it should be number or undefined, this will work for all applications (web, mobile, desktop) but if it's not necessary, need to add more logic
[code]

[2022-11-08 10:38] mountiny commented on #10654
@Santhosh-Sellavel @dbond09 Thanks!

Please @dbond09 raise the PR and lets get to testing. I think this will improve the experience quite a bit!

[2022-11-08 11:05] trjExpensify commented on #11695
This is a mWeb issue. We can remove that line in the issue title though as I [commented here](https://github.com/Expensify/App/issues/11695#issuecomment-1273721371), as the problem exists in portrait mode.

[2022-11-08 11:09] mountiny commented on #12281
cc @kavimuru @isagoico

[2022-11-08 11:12] mountiny commented on #12292
Let me put this one on hold for https://github.com/Expensify/App/issues/12291, I think they are similar enough and proposal was accepted there, we can retest this after that PR is merged.

[2022-11-08 11:13] Pujan92 commented on #12506
**Proposal**

For the disabled, we can add the css property `user-select` to restrict user for selection of text.

In styles.js line num 832 on disabledText we can add this property.
[code]

[2022-11-08 11:26] mountiny commented on #11854
I have reached out to the maintainer, we are happy to support them as the package i very useful for us. I will give this couple of days (maintaining our own fork is quite a bit of overhead so better to avoid this if we can, they have been active in previous months).

[2022-11-08 11:30] Julesssss commented on #11930
Hey @adelekennedy, for now we're awaiting a proposal. Once we're settled on a solution the cause will likely become apparent. Then we'll make sure that tests are added in the PR.

[2022-11-08 11:33] Julesssss commented on #8797
The next step will be to assign to infra for this step:

[2022-11-08 11:40] Julesssss commented on #8797
Hey @flodnv, we believe [this error](https://github.com/Expensify/App/issues/8797#issuecomment-1111022077) requires a change to the key we're using, or perhaps a modified permission for the key we're using. Relevant [StackOverflow](https://stackoverflow.com/a/24235630/4160784)

[2022-11-08 11:41] Julesssss commented on #12018
Yep, seems like this is the best solution we have.

[2022-11-08 11:44] parasharrajat commented on #9941
Thanks for the bump. Let me check the latest state of the PR and I will update you.

[2022-11-08 11:51] tienifr commented on #12046
# Proposal
## Solution
because `💬 CHAT WITH YOUR SETUP SPECIALIST` has the format: https://www.expensify.com/newdotreport?reportID=<< reportID >>
if internalExpensifyPath start with 'newdotreport?reportID=' I'll get the `reportID` value and navigate to appropriate chart.

In https://github.com/Expensify/App/blob/91acada3b65af8c465febe6853bcc7d37995f0f4/src/components/HTMLEngineProvider/HTMLRendere

[2022-11-08 11:56] flaviadefaria commented on #10848
All three people have been paid, the contract has been completed, and the Upwork post has been closed.

[2022-11-08 11:56] #10848 closed

[2022-11-08 12:01] syedsaroshfarrukhdot commented on #12340
@rushatgabhane Yes, we can do that by refactoring styling on WorkspaceMembersPage.js as it is due to padding=20 applied to parent view.

https://github.com/Expensify/App/blob/main/src/pages/workspace/WorkspaceMembersPage.js

[code]

After Fixing :-

https://user-images.githubusercontent.com/81307212/200558675-6543d14e-5ddd-48ab-b93e-fe616efe8544.mov

[2022-11-08 12:16] sobitneupane commented on #11863
I would like to hear from @ctkochan22 at first.

This issue exists in those accounts(account: applausetester+0704sveta@applause.expensifail.com,
pass: w323052760We) which have large number of accounts associated with it. Issue here is:

1. The search functionality is so slow that user have to wait for few seconds for search result to update. This exists in different form in native device and mWeb/

[2022-11-08 12:16] MariaHCD commented on #12004
Just a heads up here, I actually have the fix for this included in this PR: https://github.com/Expensify/App/pull/12181

[bankAccount.isDefaultCredit()](https://github.com/Expensify/App/blob/91acada3b65af8c465febe6853bcc7d37995f0f4/src/libs/models/BankAccount.js#L149-L156) is currently returning false because the `this.json.defaultCredit` property has now moved to ` this.json.accountData.defaultCr

[2022-11-08 12:20] bfitzexpensify commented on #12054
Latest update from Lucio in https://github.com/Expensify/App/issues/7860#issuecomment-1306143689:

@roryabraham did Lucio's issue [here](https://github.com/Expensify/App/issues/7860#issuecomment-1297471119) in that issue get resolved?

[2022-11-08 12:27] flaviadefaria commented on #12265
Internal job posting - https://www.upwork.com/ab/applicants/1589957236115976192/job-details
External job posting - https://www.upwork.com/jobs/~018617c742041dfcfc

[2022-11-08 12:31] parasharrajat commented on #12480
@0xmiroslav 's [proposal](https://github.com/Expensify/App/issues/12480#issuecomment-1304776489) `flex1` sounds better.

cc: @thienlnam

:ribbon: :eyes: :ribbon:  C+ reviewed

[2022-11-08 12:44] railway17 commented on #10599
@parasharrajat
Could you kindly review my proposal today?
I have an idea for another issue, but still waiting for your review because I can't submit multiple proposals at a time.
Thank you.

[2022-11-08 13:03] Julesssss commented on #12018
Oh, thanks for mentioning @aimane-chnaif. Would you mind explaining further?

As far as I can tell the proposal would only set the cursor on toggle, but maybe I'm missing something?

[2022-11-08 13:07] NicMendonca commented on #12523
Job posting: https://www.upwork.com/jobs/~01062c3d4a49229c53

[2022-11-08 13:14] bernhardoj commented on #9818
### **Proposal**

Here is my best attempt so far without introducing a new component.

1. Add a custom `getStateFromPath` to `linkingConfig`. If the `getStateFromPath` from `react-navigation` returns undefined, we will return the not found state from `getNotFoundState`.

**_linkingConfig.js_**
[code]
And here is how `getNotFoundState` looks:
[code]

2. Get the isNotFound params in ReportScreen and

[2022-11-08 13:18] mountiny commented on #12004
Updated this issue to reflect it is internal. Sorry for the confusion. It is easy to overlook that some issue overlap and miss this. Hopefully this issue will be resolved. with the aforementioned PR.

[2022-11-08 13:21] Julesssss commented on #12018
Actually @Someone-here, sorry to halt hire this but there are a couple of issues:

1) We need to approve the proposal before sending you off to investigate. Ideally the investigation occurs beforehand, so that we can properly compare solutions.

2) I missed this previously, but the video shows a delay in the cursor being set (at 11-12 seconds). I'd say it's better to have the current bug than to s

[2022-11-08 13:21] Julesssss commented on #12018
@flaviadefaria would you mind doubling the bounty? The solution will require more thought.

[2022-11-08 13:43] kavimuru opened #12553 "Android / iOS - User Should be able to zoom in/ out the Avatar or any other icon using fingers on touch devices reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
User friendly and expected behaviour in almost all the apps where image is uploaded for identification(UX)

## Solution:
Should implement

[2022-11-08 13:44] Someone-here commented on #12018
I found a way to remove the setTimeOut as well! We can just pass the function as an argument to the setState, which will not result in that delay

[2022-11-08 13:47] Beamanator commented on #12360
Posted publicly again to get more feedback [here](https://expensify.slack.com/archives/C01GTK53T8Q/p1667915173469529?thread_ts=1659100345.685099&cid=C01GTK53T8Q)

[2022-11-08 13:50] michaelhaxhiu commented on #12360
Assignment is tripping... manually assigning myself

[2022-11-08 13:51] flaviadefaria commented on #12355
Internal link - https://www.upwork.com/ab/applicants/1589978535629422592/job-details
External link - https://www.upwork.com/jobs/~0189d0bc78f110af85

[2022-11-08 13:54] Someone-here commented on #12018
Just let me think of a proper solution to preserving the cursor position and I'll write another proposal.

[2022-11-08 13:56] parasharrajat commented on #10599
There is still time :smile:.

Yeah, reviewing it now.

[2022-11-08 13:57] flaviadefaria commented on #12018
@Julesssss done!

[2022-11-08 14:03] michaelhaxhiu commented on #2545
Still held.

[2022-11-08 14:05] Julesssss commented on #8797
@flodnv pointed out that this is no longer occuring. @kbecciv would you mind attempting to reproduce? Thanks!

[2022-11-08 14:17] tgolen commented on #11964
Ah, great. Thank you for the more thorough proposal! I think the solution is looking better and I like how it's a bit more generalized now. I was talking with @marcaaron about this issue and he has a lot of knowledge about the navigators, so I think getting his perspective on this proposal would be ideal.

[2022-11-08 14:17] isagoico commented on #12281
Checking with the team at the moment

[2022-11-08 14:21] puneetlath commented on #11427
@tienifr is your PR ready for another round of review yet? If not, can you please provide an estimate on when it will be?

[2022-11-08 14:25] michaelhaxhiu commented on #10107
Hey everyone. In recent weeks, we’ve discovered that there’s an opportunity to enhance and improve our password security to a higher degree by moving to a passwordless design. This new design is quickly underway and being led by internal engineers.

We do things dynamically at Expensify, meaning sometimes we pivot or change direction when better ideas come to fruition. Unfortunately this password-

[2022-11-08 14:27] tienifr commented on #11427
@puneetlath yes, it's ready

[2022-11-08 14:27] tgolen commented on #12480
I like the `flex1` proposal as well. Can someone explain for my own knowledge, why the `style` is applied to `KeyboardAvoidingView` rather than the first child component, in this case, `PDFPasswordForm`? I have a few other questions, mainly dealing with code consistency.

This KeyboardAvoidingView in BaseScreenWrapper:
https://github.com/Expensify/App/blob/2410290e89f925f08d1fc1640f1070850c5ecdd9/

[2022-11-08 14:29] tgolen commented on #11403
Yeah, I think we should go ahead and close this. Reopen if anyone disagrees!

[2022-11-08 14:29] #11403 closed

[2022-11-08 14:29] parasharrajat commented on #10107
I would suggest publishing your solution as an open-source library. They might be useful to the community.

[2022-11-08 14:30] mountiny commented on #12520
@kevinksullivan So a contributor is fixing this issue as well in this PR https://github.com/Expensify/App/pull/12547 since it is touching the flow and it kind of overlapped with another issue they worked on (this PR is a follow up to existing one).

Since the solution is exactly the same as @Puneet-here proposal [here](https://github.com/Expensify/App/issues/12520#issuecomment-1305859547), I think

[2022-11-08 14:30] michaelhaxhiu commented on #11083
cc @mvtglobally and @gadhiyamanan  I'm having a hard time reproducing. Are either of you able to reproduce this one still? Mind trying and including a little video?

[2022-11-08 14:31] parasharrajat commented on #6883
@azimgd Any update?

[2022-11-08 14:32] mountiny commented on #12355
Putting this on Hold as I tihnk there is already issue for the settings not being saved correctly

[2022-11-08 14:35] AndreasBBS commented on #12292
@mobilify I just tested the changes proposed in #12291 and it I didn't find that it affects this particular bug. It seems to fix the bug in #12291 correctly but not this one. The PayPal information for the Modal on #12291 comes from ONYXKEYS.COLLECTION.REPORT_IOUS (iouReport). In this Modal the PayPal information is fetched from ONYXKEYS.PERSONAL_DETAILS (personalDetails).

In #12291 the informati

[2022-11-08 14:35] mountiny commented on #11812
I think we should be closing issues like this. They are not clearly reproducible, crash occurred just once. @aldo-expensify @mateocole Feel free to rather close issues which are not clearly repro than to keep them around. BUGZERO ⛔ 🐛

[2022-11-08 14:35] #11812 closed

[2022-11-08 14:36] puneetlath commented on #12378
Let's close if no one can replicate. @Puneet-here if you're still able to replicate it, feel free to reopen and share how you are replicating. Thanks!

[2022-11-08 14:36] #12378 closed

[2022-11-08 14:36] michaelhaxhiu commented on #10107
Fantastic idea to add @parasharrajat. It could be valuable to your portfolios of work in the future!

[2022-11-08 14:39] trjExpensify commented on #12451
#12219 has merged, so #35433 should come off hold imminently.

[2022-11-08 14:40] parasharrajat commented on #10599
Overall, this might be the right time to look back at the old solutions and the current state of the app to understand what can be done to fix this issue.

My suggestion is that you test your solution thoroughly and suggest alternatives to problems that they cause or find a solution to overcome those as well.

1. Tab navigation focus is useful.
2. Is there a solution that can be used to fix this i

[2022-11-08 14:42] mountiny commented on #12340
@rushatgabhane @syedsaroshfarrukhdot Would these design changes influence the design on mobile devices? can you show screen of that as well so @shawnborton can confirm this looks fine? Thank you!

[2022-11-08 14:43] parasharrajat commented on #12480
I like this one.

Previously, we had `styles.w100, styles.h100` styles on the `KeyboardAvoidingView`. I guess it used to fit well everywhere. If this can be replaced with `flex1`. That would be great.
@0xmiroslav Any thoughts?

[2022-11-08 14:44] Gonals commented on #12508
Hmmm. I seem to be able to reproduce this in the iOS simulator. I don't have a real iOS device to test, though

[2022-11-08 14:46] gadhiyamanan commented on #11083
@michaelhaxhiu not able to reproduce after [this comment](https://github.com/Expensify/App/issues/11083#issuecomment-1273317179)

[2022-11-08 14:47] Puneet-here commented on #12520
Thanks for the consideration @mountiny.

[2022-11-08 14:48] michaelhaxhiu commented on #11083
Closing this job unless @mvtglobally can reproduce.

[2022-11-08 14:55] kbecciv commented on #11463
@mananjadhav Correct, this PR https://github.com/Expensify/App/pull/11309 mention on step 6.  Verify that Create group button is not hidden. Which is Fail in mweb/safari

![image](https://user-images.githubusercontent.com/93399543/200596933-0859394e-2164-4723-91b5-c662124c9076.png)

[2022-11-08 14:56] kbecciv commented on #12281
@mountiny Issue is reproduced with build 1.2.24.4

https://user-images.githubusercontent.com/93399543/200597680-522db4e7-d83f-470a-a4af-1fc8e735fbd9.mp4

[2022-11-08 15:05] parasharrajat commented on #10599
Mainly a proposal should not match with existing ones. Even if we decide to go with an old posted solution. the Original author will be hired to work on that.

[2022-11-08 15:06] ntdiary commented on #10107
have applied, very much looking forward to this new passwordless design. 😄

[2022-11-08 15:08] kavimuru opened #12554 "[HOLD for payment 2022-11-29] [Hold for payment 2022-11-21] [$250] Mac / Safari : After selecting a text via mouse and then using`CMD+C` to copy it does not work reported by @parasharrajat"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to any chat
2. Select a part of any message
3. Use shortcuts to copy the text.
4. Try pasting the text in the composer.

#

[2022-11-08 15:09] kbecciv commented on #11083
Issue is reproducible in Android app with build 1.2.24.4

https://user-images.githubusercontent.com/93399543/200600847-7516a318-d91a-415c-a3dc-0e4037f564ad.mp4

**Reproducible in IOS app with build 1.2.24.4**

https://user-images.githubusercontent.com/93399543/200600938-d0522b1d-f53e-4070-84d6-42c989bbe913.MP4

[2022-11-08 15:10] parasharrajat commented on #12480
Thanks for the video. So I think we can create a follow-up PR to replace the `styles.w100, styles.h100` styles with `styles.flex1, styles.w100` then move this to its own style `styles.keyboardAvoidingView`. Replace everywhere the styles with this.

Will that work?

[2022-11-08 15:10] mountiny commented on #12355
This is indeed just a regression from https://github.com/Expensify/App/issues/11632

[2022-11-08 15:12] mountiny commented on #11632
@sakluger @Julesssss @thesahindia @tienifr This is still not fixed unfortunately https://github.com/Expensify/App/issues/12355 I have just tested on iOS staging and the old name comes back after a while

[2022-11-08 15:14] mountiny commented on #12355
I will close this one in favour of the original https://github.com/Expensify/App/issues/11632!

[2022-11-08 15:15] flodnv commented on #11708
Still HOLDing https://github.com/Expensify/App/issues/11229#issuecomment-1306099255

[2022-11-08 15:15] parasharrajat commented on #12480
Yeah, that is fine to setup a norm.

[2022-11-08 15:18] s77rt commented on #12521
## Proposal
fixing the Firefox-specific behavior to match the behavior in Safari and others
[code]

### Explantion
The workaround it to save the current selection just before the context menu (popover) is displayed
Then once it's displayed, FF will change the current selection since the active element has changed, this change will trigger the event "selectionchange" which we will be licensing for

[2022-11-08 15:18] michaelhaxhiu commented on #11083
Super valid, thank you. I need to try your exact steps on my side.

[2022-11-08 15:22] dylanexpensify commented on #7917
On hold!

[2022-11-08 15:31] tgolen commented on #12480
Yeah, that sounds great!

That video shows it well. Thanks!

[2022-11-08 15:31] stitesExpensify commented on #10615
Sounds like a plan!

[2022-11-08 15:33] syedsaroshfarrukhdot commented on #12340
@mountiny No, they don't influence design on mobile devices. It look same across the board.

Desktop:-

https://user-images.githubusercontent.com/81307212/200606043-01dc185c-e251-4e1f-ba8f-185fd9b5a9be.mov

Web:-

https://user-images.githubusercontent.com/81307212/200606101-1aa4960c-35c4-4590-b539-afadc84349ad.mov

IOS:-

https://user-images.githubusercontent.com/81307212/200606156-3363de63-cf0c-4

[2022-11-08 15:36] railway17 commented on #11951
### Proposal

**Why this issue is produced ?**
This issue is produced because `unsubscribeVisibilityListener` is not unsubscribed correctly when navigating to home.
As you know, `VisibilityListener` was defined in the `src/pages/home/report/ReportActionsView.js`.
There is also an unsubscriber in `componentWillUnmount` but not called when page is navigated to home by back button because opening the

[2022-11-08 15:39] abekkala commented on #11921
price doubled to $500
https://www.upwork.com/ab/applicants/1583090429121454080/job-details
https://www.upwork.com/jobs/~0134f44cfb0341e791

[2022-11-08 15:45] mountiny commented on #12340
I will go ahead and assign you @syedsaroshfarrukhdot. I think your solution does the job. Can you please raise the PR so we can test and see all how this change influences other designs.

[2022-11-08 15:46] MitchExpensify commented on #10356
Making a note for myself:

- Reporting payment will be issued via [this Upwork Job](https://www.upwork.com/jobs/~012833548929001c7e)
- C+ and Contributor payment will be issued via [this Upwork Job](https://www.upwork.com/jobs/~01b36c9e071c2d7400)

[2022-11-08 15:51] kavimuru opened #12555 "[HOLD for payment 2022-12-20] [$1000] A visual indicator like a tooltip should be present for currency selector reported by @daraksha-dk"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Problem:
User doesn't know if he can also change the currency here by clicking on the symbol

## Solution:
A visual indicator like a tooltip should

[2022-11-08 15:58] syedsaroshfarrukhdot commented on #12340
@mountiny Thanks for assigning. Applied on Upwork. Will be raising a PR in next few minutes.

[2022-11-08 15:59] trjExpensify commented on #12028
Okay, so a next step towards a viable proposal, we'd like the contributor to look at the legacy version to understand what in that library prevents this problem, and why it’s not present in the latest version.

@osama256, if you're interested in investigating and updating your proposal, that would be great!

[2022-11-08 16:11] mountiny commented on #12292
@AndreasBBS Thanks fro the write up.

I will look into this internally once I get time for this to confirm what is going on with the API. A quick look I did just now shows we should be adding the paypal me address to the personal details so there must be some gremlins. Gonna update the issue here later.

[2022-11-08 16:15] parasharrajat commented on #12480
@tgolen Do you want to assign this to @0xmiroslav?

[2022-11-08 16:16] sonialiap commented on #12371
Oh haha that's an interesting case. Weird that we update both devices once offline mode is disabled. I would expect the most recent change to take precedence even when made in offline mode.

[2022-11-08 16:17] tienifr commented on #11515
https://user-images.githubusercontent.com/113963320/200617932-db71ee35-8bb3-421b-9c94-397688a611bb.mp4

Are you using the newest version? I still see the conversation marked as unread in this case

[2022-11-08 16:21] jasperhuangg commented on #12237
@TwizzyIndy thank you for the explanation, I'm happy with it. Assigning you, feel free to request me on your PR

[2022-11-08 16:22] kavimuru opened #12556 "New lines doesn't preserved when copying multi-line message with "Copy to Clipboard" reported by @kerupuksambel"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Open [staging.new.expensify.com](http://staging.new.expensify.com/)
2. Send a multi-line message
3. Copy it with Copy to Clip

[2022-11-08 16:22] stitesExpensify commented on #12315
I think this is going to have to be internal. AFAIK this is because of how our proxy works. The proxy points to production, when the sandbox page can only be reached from our staging servers.

CC @marcaaron @AndrewGable since you worked on the original proxy

[2022-11-08 16:23] stitesExpensify commented on #12315
I tried changing my .env file to point to `staging.expensify.com` but that just gave me CORS errors, so we may need to fix that too.

[2022-11-08 16:24] thesahindia commented on #11341
We can get an error when we have a workspace with some other member (they shouldn't be an admin)

[2022-11-08 16:26] arielgreen commented on #8592
@24dev can you confirm whether you're able to add some code samples as Rajat mentioned above?

[2022-11-08 16:28] mountiny commented on #12340
@syedsaroshfarrukhdot I am sorry but in this case I will have to accept I made a mistake and overlooked the similarities. Given @0xmiroslav has proposed solution which is very similar earlier, I think they should be assigned.

Apologies for the confusion, I have overlooked this.

@syedsaroshfarrukhdot I appreciate your help and sharing the videos and screenshots

[2022-11-08 16:30] lschurr commented on #12290
Seems like we're going to move forward, right @parasharrajat?

[2022-11-08 16:30] pecanoro commented on #12356
I can't reproduce it anymore and I think this was fixed [here](https://github.com/Expensify/Web-Expensify/pull/35386) (issue is this [one](https://github.com/Expensify/App/issues/12330)), so I am going to close it.

[2022-11-08 16:31] greg-schroeder commented on #11334
sorry, paying today and can close... had some managed customer fires

[2022-11-08 16:34] 24dev commented on #8592
@arielgreen Will have them up this evening!

[2022-11-08 16:34] mananjadhav commented on #11512
@puneetlath I tried checking the PR, but the file has gone through multiple refactors. I'll try to take another stab at it.

[2022-11-08 16:35] huzaifa-99 commented on #12058
### Updated Proposal (Original Proposal https://github.com/Expensify/App/issues/12058#issuecomment-1302344519)
We have to separate `Text` blocks and wrap it in a `View`

Basically, replacing this code block
https://github.com/Expensify/App/blob/cb93661530860f65e4aae0bc7ba7fe3c8db3e643/src/components/PDFView/PDFInfoMessage.js#L30-L36

with
[code]
which fixes the issue on all platforms.

Notice I ha

[2022-11-08 16:35] Someone-here commented on #12018
I made it so the position of the cursor stays the same as well by using the existing this.state.selection

https://user-images.githubusercontent.com/77237602/200622247-f2e0d49b-238f-465f-9574-7fbf9cd788e4.mp4

Now the only thing left is removing the setTimeout, turns out that the setState is for some reason not calling the callback function.

[2022-11-08 16:40] NikkiWines commented on #12264
Ok, great! I'll update it as part of this issue then.

[2022-11-08 16:41] jasperhuangg commented on #12355
Tried the reproduction steps on dev and it appears to be working, so this might be fixed with the next App deploy, stay tuned..

https://user-images.githubusercontent.com/31285285/200623848-368f34e2-508a-451e-af2e-8eaad8a327ad.mov

[2022-11-08 16:42] syedsaroshfarrukhdot commented on #12340
@mountiny  Fundamentally both proposals are quite different from  eachother @0xmiroslav is moving FlatList out of parent view whereas my proposal keeps the FlatList in the View and it fixes the issue. The difference b/w my proposal and @0xmirosla is quite significant.

Before:-
![Screen Shot 2022-11-08 at 9 35 43 PM](https://user-images.githubusercontent.com/81307212/200623674-6e2df266-337d-4b74-8

[2022-11-08 16:43] lschurr commented on #12048
All set. This has been fixed and paid!

[2022-11-08 16:43] #12048 closed

[2022-11-08 16:44] yuwenmemon commented on #12487
@0xmiroslav 👋 What's our status on this one?

[2022-11-08 16:45] yuwenmemon commented on #12503
Sounds good thanks @0xmiroslav

[2022-11-08 16:45] #12503 closed

[2022-11-08 16:45] marcaaron commented on #7420
Still working on this, but it's not a daily priority for me since closing accounts is an edge case.

[2022-11-08 16:46] kavimuru opened #12557 "Emoji picker keyboard is covering compose box reported by @aneequeahmad"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. open web app on browser of phone(or android/IOS app).
2. Open any report and focus on composer to open soft keyboard.
3. Pres

[2022-11-08 16:48] yuwenmemon commented on #12487
@0xmiroslav Sorry, what I mean to ask is if this is completed with https://github.com/Expensify/App/pull/12533 or if there's still something left to do here? In terms of fixing the issue in the description.

[2022-11-08 16:49] s77rt commented on #12523
### Proposal
[code]

### Pros & Cons
#### Pros:
- Fix the issue
- Identical behaviour on all browsers

#### Cons: (maybe Pros2?)
- The selected text will be deselected (currently in FF it's already being deselected due to a bug #12521)
IMHO, I think this is a desired behaviour as keeping the text1 highlighted and copying text2 is confusing

https://user-images.githubusercontent.com/16493223/200625

[2022-11-08 16:50] mallenexpensify commented on #7860
Random... is there a reason this issue has `[HOLD #7925]`?  Seems like it should be removed (or.. at least the #7925 part since that's this issue)

[2022-11-08 16:52] MitchExpensify commented on #12152
[Asked for help reproducing](https://expensify.slack.com/archives/C02NK2DQWUX/p1667926288154519) in #contributor-plus

[2022-11-08 16:57] yuwenmemon commented on #12476
@mvtglobally can we test https://github.com/Expensify/App/issues/12487 and check it off if it passes?

[2022-11-08 16:58] parasharrajat commented on #12290
I need to test a few things before we can. Let me do that first.

[2022-11-08 17:02] parasharrajat commented on #11354
we kind of take every failing case as regression. This should have been tested on the PR before merging.

[2022-11-08 17:06] mallenexpensify commented on #10906
@MonilBhavsar @Santhosh-Sellavel Still on hold? Looks like the linked PR that was mentioned above is still actively being worked on https://github.com/Expensify/App/pull/10965

[2022-11-08 17:10] mananjadhav commented on #11086
Okay thanks for pointing out. Let's just wait for @deetergp to confirm the expected behavior.

[2022-11-08 17:11] eVoloshchak commented on #12151
@tienifr, thanks for the proposal, makes sense

This is indeed resolving the issue. Only thing I'm afraid of is that it will introduce issues with chat creation. @tienifr, we're calling `buildOptimisticChatReport` in a couple of places, is adding `pendingFields` to all of them safe?

[2022-11-08 17:15] flaviadefaria commented on #12492
Adding the external label. I'll create the UW post tomorrow.

[2022-11-08 17:15] JmillsExpensify commented on #12292
Great write-up @AndreasBBS. Thank you! I like @vitHoracek's plan, let's investigate the API layer and then come back to align on the appropriate fix (might be in more than one repo).

[2022-11-08 17:16] shawnborton commented on #12442
Still holding but hopefully we'll have these done soon!

[2022-11-08 17:18] shawnborton commented on #12443
Yup, still waiting to get the final formats for New Kansas once we sign the EULAs and pay final licensing. Will keep you posted!

[2022-11-08 17:18] shawnborton commented on #12443
If it's a pain, we could always follow up with New Kansas in a different PR?

[2022-11-08 17:21] parasharrajat commented on #12519
Note: these are not derived states but just the states which we think are confusing and thus need to clean up.

[2022-11-08 17:22] mountiny commented on #12340
@syedsaroshfarrukhdot Sorry but the proposals are very similar.

I have compared them even before and the only visual difference comes down to the padding at the bottom. The border line will most likely get cut off in you proposal to it just depends on how the row is aligned.

Hence that is the only design difference, I will defer to @shawnborton decision about the padding. It is not specified in

[2022-11-08 17:23] yuwenmemon commented on #12476
Checking off https://github.com/Expensify/App/pull/12034 because it pertains to a non-mobile flow anyway - and https://github.com/Expensify/App/issues/12480 is actively being worked on and also present on prod.

[2022-11-08 17:30] roryabraham commented on #10962
- https://github.com/Expensify/App/issues/10793 – latest discussion with @Szymon20000 [here](https://expensify.slack.com/archives/C035J5C9FAP/p1667503389141599)
- https://github.com/Expensify/App/issues/8503 – progress here seems stalled. Maybe we should pass this off so that @hannojg can focus on:
    - https://github.com/Expensify/App/issues/11711
    - https://github.com/Expensify/App/issues/11

[2022-11-08 17:36] shawnborton commented on #12340
I think I would just add a standard 20px padding to the very bottom of the list view so that the very last item always comes up fully into view.

[2022-11-08 17:37] shawnborton commented on #12340
So basically, this one looks correct to me:
![image](https://user-images.githubusercontent.com/2319350/200636068-0a0bdcad-00cb-400b-94d5-63ece1f71900.png)

Though we probably could _slightly_ reduce the padding under the fixed Select All row.

[2022-11-08 17:38] lschurr commented on #11892
Offer sent in Upwork.

[2022-11-08 17:40] mananjadhav commented on #11463
Okay thanks clears up the steps @kbecciv , but in your video are we scrolling till the end, that is now what I am able to see the `Create Group` button behind the keyboard. Here's the video.

https://user-images.githubusercontent.com/3069065/200636605-9ffd51a6-5b4e-4ce6-8235-7870510da55d.MP4

[2022-11-08 17:42] michaelhaxhiu commented on #10107
Waiting on @ntdiary and @azimgd to accept my hire offer in Upwork.

And lastly, @parasharrajat will get paid when he's ready. He asked for a few days to rotate his bank account in upwork - 👍

[2022-11-08 17:42] mallenexpensify commented on #10894
Co-assigning @trjExpensify as BZ, he'll be taking the BZ lead on this and all related issues til I'm back, hopefully in a month.

[2022-11-08 17:42] neil-marcellini commented on #9581
I'm going to make this daily again since it's off of HOLD. I'll be looking at the latest proposal today.

[2022-11-08 17:43] mountiny commented on #12340
Great thanks! @syedsaroshfarrukhdot Please make sure you can also add the padding so the Select all is not so close to the list content.

thank you!

[2022-11-08 17:43] shawnborton commented on #12340
@syedsaroshfarrukhdot make sure to tag me in your PR for design review too, thanks!

[2022-11-08 17:46] mountiny commented on #12281
cc @hannojg since you might have some idea about this as you have refactored the button.

[2022-11-08 17:46] mvtglobally commented on #12476
@yuwenmemon We are not able to repro on Web. Checking on other platforms

[2022-11-08 17:47] yuwenmemon commented on #12476
Nice, I'm cautiously optimistic then 😄

[2022-11-08 17:50] syedsaroshfarrukhdot commented on #12340
@mountiny Sure will take care of it. Thanks

@shawnborton Sure, will be tagging you as well in the PR. 😃

[2022-11-08 17:54] pecanoro commented on #12281
@MelvinBot not overdue!

[2022-11-08 17:58] azimgd commented on #6883
https://github.com/Expensify/react-native-key-command/pull/10

[2022-11-08 17:59] grgia commented on #12441
@shawnborton Are we holding here too? Otherwise, where are the new logo files located? In addition to the icons, we will also need the new watermark for the login page.

[2022-11-08 17:59] dbond09 commented on #10654
@mountiny The PR is almost ready. Please accept my proposal on Upwork.

[2022-11-08 18:09] mvtglobally commented on #12476
@yuwenmemon issue is no longer repro across platforms

[2022-11-08 18:10] yuwenmemon commented on #12476
Sweet! Can we close and check off that last issue?

[2022-11-08 18:16] shawnborton commented on #12441
No need to hold on this one, I can spit out the correct images for you.

[2022-11-08 18:24] shawnborton commented on #12340
Yes, I agree with that last video.

[2022-11-08 18:31] Pujan92 commented on #12506
I just updated the answer which will work for all options.

[2022-11-08 18:31] yuwenmemon commented on #12476
:shipit:

[2022-11-08 18:31] #12476 closed

[2022-11-08 18:33] Puneet-here commented on #12506
@rushatgabhane, I already have added a [proposal](https://github.com/Expensify/App/issues/12506#issuecomment-1305628351) which handles all cases.

[2022-11-08 18:35] OSBotify opened #12563 "Deploy Checklist: New Expensify 2022-11-08"
**Release Version:** `1.2.25-0`
**Compare Changes:** https://github.com/Expensify/App/compare/production...staging

**This release contains changes from the following pull requests:**
- [x] https://github.com/Expensify/App/pull/11720
- [x] https://github.com/Expensify/App/pull/11967
- [x] https://github.com/Expensify/App/pull/12083
- [x] https://github.com/Expensify/App/pull/12130
- [x] https://gi

[2022-11-08 18:36] yuwenmemon commented on #12487
Sounds good - removing the Deploy Blocker Label then

[2022-11-08 18:37] Puneet-here commented on #12506
Yes.

[2022-11-08 18:37] aldo-expensify commented on #11812
Thanks @mountiny , good call!

[2022-11-08 18:38] miljakljajic commented on #12075
@MonilBhavsar did you find anything?

[2022-11-08 18:43] joekaufmanexpensify commented on #12487
Removing the hourly label as well given the PR is merged.

[2022-11-08 18:45] grgia commented on #12441
Woooo let's do it

[2022-11-08 18:47] NikkiWines commented on #12264
@shawnborton would we also want to update the concierge icon used here? Do we have a single color version of the new icon yet?

![Screen Shot 2022-11-08 at 10 46 37](https://user-images.githubusercontent.com/16747822/200649637-ff6f69cd-6261-4538-9938-bf8422d6b593.png)

[2022-11-08 18:50] shawnborton commented on #12264
Yup! You could leave it as-is for now and then we can update it as part of this [GH here](https://github.com/Expensify/App/issues/12442) (cc @Luke9389), or you can update it now with the following: [concierge.svg.zip](https://github.com/Expensify/App/files/9964258/concierge.svg.zip)

[2022-11-08 18:52] marcochavezf commented on #11413
Oh I see, thanks @syedsaroshfarrukhdot, something I would like to understand is why the `SetPassword` is different from the [PasswordForm](https://github.com/Expensify/App/blob/9815d852c576355f4a3f945736860407dd351224/src/pages/signin/PasswordForm.js), because we have the "Enter" key behavior there, but not in the `SetPassword`. Would it require a different structure to avoid conflicts with the St

[2022-11-08 18:54] NikkiWines commented on #12264
Great, thanks! I think let's have that updated as part of https://github.com/Expensify/App/issues/12442 since it falls under the single color icons being updated there and not the full-color verison that's being updated here.

[2022-11-08 18:58] thesahindia commented on #11413
I believe we can close this issue, we are closing issues related to password as we will be moving towards #passwordless https://github.com/Expensify/App/issues/11403#issuecomment-1303955452

[2022-11-08 19:06] shawnborton commented on #12264
Works for me!

[2022-11-08 19:08] puneetlath commented on #12004
Ok cool, good to know. Thanks @mountiny and @MariaHCD!

[2022-11-08 19:09] joekaufmanexpensify commented on #11916
Still awaiting proposals.

[2022-11-08 19:09] joekaufmanexpensify commented on #11850
All set to begin!

[2022-11-08 19:11] puneetlath commented on #11982
That's perfect, thanks @mananjadhav!

[2022-11-08 19:15] chiragsalian commented on #12025
Nice proposal, LGTM as well. Feel free to create the PR @getusha.

[2022-11-08 19:21] 24dev commented on #8592
@arielgreen @parasharrajat

### Honeypot

This integrates nicely with your existing `Composer` component and requires very little code. Using your browser utils from `src/libs/Browser/index.web.js` to determine browser.

![Untitled design-2](https://user-images.githubusercontent.com/17879993/200654923-cb4acf7f-91a0-47be-9d78-8299f102da21.png)

---

### Exec Command
I tried `execCommand` and it loo

[2022-11-08 19:23] JmillsExpensify commented on #12531
Putting this issue on hold while we focus on bugs and related kinks in our initial implementation. There's no urgency on this one, so we can circle back on it at any time. Adding the `weekly` label in the meantime.

[2022-11-08 19:26] JmillsExpensify commented on #12433
On-going review in the linked PR.

[2022-11-08 19:26] getusha commented on #12025
Thank you @chiragsalian @rushatgabhane for assigning me.
I will apply for the job on upwork now. the price is not up to date on UW hope it will get updated soon.

[2022-11-08 19:27] puneetlath commented on #10622
@Santhosh-Sellavel could you help out with determining which PR introduced this bug?

[2022-11-08 19:27] JmillsExpensify commented on #12283
@Gonals Do you mind chiming in on my last question? Looking at the reproduction steps, I'm failing to see the difference.

[2022-11-08 19:28] JmillsExpensify commented on #10907
Ok great, thanks! I commented again in the linked issue, as I'm not seeing the additional case that the other issue covers, but this doesn't.

[2022-11-08 19:30] marcochavezf commented on #12438
Yup, we aim for WA Quality so we should fix it even minor visual glitches like this one

[2022-11-08 19:34] grgia commented on #12258
I started this but stopped to implement core branding changes. Planning on coming back to this one once I get the colors/logo PRs completed today/tomorrow!

[2022-11-08 19:34] chiragsalian commented on #12506
Nice I like your proposal too. Feel free to create the PR @Puneet-here.

[2022-11-08 19:35] JmillsExpensify commented on #12189
Still working through the ideal solution. @stitesExpensify for clarity, I'd imagine this is still not a priority until we close out the LHN API refactors?

[2022-11-08 19:37] s77rt commented on #12268
### Proposal
[code]

[2022-11-08 19:37] JmillsExpensify commented on #11858
Doubling the price to $500. We're still open for proposals.

[2022-11-08 19:40] OSBotify commented on #12563
:rocket: All staging deploys are complete, @Expensify/applauseleads please begin QA on version https://github.com/Expensify/App/releases/tag/1.2.25-0 :rocket:

[2022-11-08 19:40] JmillsExpensify commented on #11809
Time to raise the price to $500. We're still open for proposals!

[2022-11-08 19:40] AndreasBBS commented on #12325
Hi. I'm writing here trying to get an update. I already submitted the proposal on Upwork. Is there something on my side holding up? It's my first time contributing to this project, if there's anything on my side that needs to be done just let me know :smiley:

[2022-11-08 19:41] JmillsExpensify commented on #11768
@marcaaron is prepping a discussion for open source to keep this moving forward!

[2022-11-08 19:43] JmillsExpensify commented on #11701
Still waiting for proposals that address the root cause and issue.

[2022-11-08 19:45] JmillsExpensify commented on #11520
Huh, I'm not certain what's going on in this issue. The linked PR is merged, but is Web-PDFs still not deployable?

[2022-11-08 19:45] trjExpensify commented on #12036
Okay cool, so this seems like an actionable step if we think this is under tested. In which case, this issue should be updated to focus on that goal of identifying and writing missing tests.

For reference, here is the `compose box` [section of the Test Cases](https://expensify.testrail.io/index.php?/suites/view/518&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=93493)

[2022-11-08 19:45] JmillsExpensify commented on #11391
Same as above. Increasing the price to $500.

[2022-11-08 19:48] JmillsExpensify commented on #11094
Still waiting for approved proposals. I'm increasing the price to $500.

[2022-11-08 19:49] JmillsExpensify commented on #11087
Still waiting for proposals. Increasing the price to $500.

[2022-11-08 19:50] JmillsExpensify commented on #11057
Still waiting for proposals. Increasing the price to $500.

[2022-11-08 19:51] JmillsExpensify commented on #10875
Calling anyone! This issue is ready and waiting for someone to jump in and fix the crash!

[2022-11-08 19:53] JmillsExpensify commented on #10765
Still awaiting @ctkochan22's review in the linked PR.

[2022-11-08 19:54] stitesExpensify commented on #12189
That's correct. I'll get back to this ASAP

[2022-11-08 19:55] JmillsExpensify commented on #10729
@Santhosh-Sellavel @luacmartins Can one of you clarify where we're at? Are we waiting on a fix from @mollfpr in the linked PR?

[2022-11-08 19:55] JmillsExpensify commented on #10670
Still waiting on proposals.

[2022-11-08 19:56] JmillsExpensify commented on #10525
@Gonals not sure what else you're working on, but this could be a good cleanup item if you have any spare bandwidth.

[2022-11-08 19:58] JmillsExpensify commented on #10273
Did a sweep of the issues just now. Most are stalled at the proposal stage. I've gone through and raised prices on the majority of them.

[2022-11-08 19:59] AndrewGable commented on #11711
Moved my PR over to Expensify/App instead of my own fork, need to get the secrets set up on this repo so I created a Ring0 issue linked above.

[2022-11-08 20:01] parasharrajat commented on #11275
Yup, a PR for another issue https://github.com/Expensify/App/issues/11275#issuecomment-1305795743 fixed this.

[2022-11-08 20:04] mallenexpensify commented on #11194
The linked in issues in the OP of #10929 all have creation dates before you reported the issue @aneequeahmad , so I'm back to wondering "would this issue had been fixed if it hadn't been reported?"   I'm not sure that's the only justification for compensation though.  The reason I'm curious is because it's possibly to report a ton of _legitimate_ bugs while possibly knowing they likely have the sa

[2022-11-08 20:04] aldo-expensify opened #12567 "Errors in ONYXKEYS.USER_WALLET getting cleared instantly without user interaction"
Regression coming from: https://github.com/Expensify/App/pull/10447/files#r1017060491

If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

Have a user with 2 bank accounts

1. Go t

[2022-11-08 20:10] aldo-expensify commented on #12567
cc @Justicea83

[2022-11-08 20:10] puneetlath commented on #7284
@mateocole no I think this will need to be handled internally by @roryabraham or someone else.

[2022-11-08 20:11] mallenexpensify commented on #11729
Thanks @Luke9389
Please accept the job and I'll get ya paid @aimane-chnaif
https://www.upwork.com/jobs/~015dafabfe5221f956

[2022-11-08 20:14] kavimuru commented on #12567
@aldo-expensify No we are not testing error in the regression.

[2022-11-08 20:17] aldo-expensify commented on #12567
Sorry, not sure what this means. I mean, in the testrail tests, do we have a manual test that do these steps and look for this error? I'm guessing that we don't have and that's why this regression got to production

[2022-11-08 20:19] michaelhaxhiu opened #12568 "Various fabric improvements and migrations completed by Rushat"
Rushat worked on the following, and we are going to compensate him $250 for each item. That's $2500 total.

Number of migrations - 7
[[Form](https://github.com/Expensify/App/issues/11049), [TextInput](https://github.com/Expensify/App/issues/11050), [RoomName](https://github.com/Expensify/App/issues/11052), [OptionsSelector](https://github.com/Expensify/App/issues/11053), [InvertedFlatList](https:/

[2022-11-08 20:21] michaelhaxhiu commented on #12568
Discussed in slack here https://expensify.slack.com/archives/C02NK2DQWUX/p1667935206207519

[2022-11-08 20:22] kavimuru commented on #12567
@aldo-expensify

Sorry, I meant there are no testrail steps to test the errors.

[2022-11-08 20:25] getusha commented on #12025
Applied.
Will submit the PR in short.

[2022-11-08 20:25] michaelhaxhiu commented on #12568
Upwork job - https://www.upwork.com/jobs/~01aa31232797e7b02c

Ready for @rushatgabhane to apply.

[2022-11-08 20:25] aldo-expensify commented on #12567
ok!, thanks

[2022-11-08 20:26] aldo-expensify commented on #12567
you don't mean errors in general, right? you are talking about errors in this page or particular button?

[2022-11-08 20:26] thienlnam commented on #12208
Hey @huzaifa-99, please keep all setup/configuration issues in #expensify-open-source channel so we can keep the discussion specific to this issue only

[2022-11-08 20:29] kavimuru opened #12569 "IOU - No loading state when click `cancel` in the money request details page and page closes abruptly"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in with any account
3. Click FAB button -> Request money
4. Enter an amoun

[2022-11-08 20:31] OSBotify commented on #12569
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-08 20:33] aldo-expensify commented on #11414
PR merged

[2022-11-08 20:41] johncschuster commented on #12521
@stitesExpensify what are your thoughts on the proposal?

[2022-11-08 20:46] michaelhaxhiu commented on #12568
Note: this GH and payment in reference to https://github.com/Expensify/App/issues/8503

[2022-11-08 20:50] stitesExpensify commented on #12521
I'll have @thesahindia take a look first 😄

[2022-11-08 20:53] yevheniitsuryk commented on #12554
### Proposal

The actual problem is in these lines of code:

https://github.com/Expensify/App/blob/ea35c4622fcc93cad07871907e216b7f50b50105/src/pages/home/report/ReportActionItem.js#L171-L174

This fix was made according to this PR https://github.com/Expensify/App/pull/8443 for this issue https://github.com/Expensify/App/issues/7853

It's unfocusing the whole message including selected text, when

[2022-11-08 20:59] thesahindia commented on #12521
Sorry for the delay but I don't have the bandwidth. Please re-assign.

[2022-11-08 21:00] trjExpensify commented on #11687
Alrightyy.. I caught up with @isagoico and the [test case](https://expensify.testrail.io/index.php?/cases/view/1971143) has been modified to account for the checkbox in addition to the form field values being saved upon returning.

Completed the [checklist](https://github.com/Expensify/App/issues/11687#issuecomment-1293290801). We're done here!

[2022-11-08 21:01] luacmartins commented on #12569
This is the expected behavior since cancel/decline money requests are now optimistic! See https://github.com/Expensify/App/pull/11720. Closing this issue!

[2022-11-08 21:01] #12569 closed

[2022-11-08 21:09] trjExpensify commented on #7860
Can you clarify what you mean here? This issue is #7860.

[2022-11-08 21:10] AndreasBBS commented on #12045
I cannot reproduce this in the main branch or in the staging environment.

[2022-11-08 21:13] aneequeahmad commented on #11194
That totally makes sense what you're [wondering](https://github.com/Expensify/App/issues/11194#:~:text=would%20this%20issue%20had%20been%20fixed%20if%20it%20hadn%27t%20been%20reported%3F). Now i'm wondering this too xD

Please let me explain the [PR](https://github.com/Expensify/App/issues/11194#:~:text=issues%20in%20the-,OP%20of%20%2310929,-all%20have%20creation) a bit more.

#10929 PR has 3 issu

[2022-11-08 21:13] trjExpensify commented on #7860
Looks like the discussion on holding on #7925 originated [here in relation to bi-directional scrolling](https://github.com/Expensify/App/issues/7860#issuecomment-1129190422). That issue is in-turn held on Comment Linking.

[2022-11-08 21:20] deetergp commented on #12543
@Uros787 solution seems reasonable enough to me, how about you @Santhosh-Sellavel?

[2022-11-08 21:21] mallenexpensify commented on #12046
Weird, when @ctkochan22 added the `External` label, it didn't assign a c+.  Readded now and @sobitneupane is assigned.
@sobitneupane can you review @tienifr 's proposal above plz? https://github.com/Expensify/App/issues/12046#issuecomment-1307085397

[2022-11-08 21:22] trjExpensify commented on #12046
CC: @MitchExpensify @zsgreenwald @alex-mechler as this relates to the behaviour of the deep link in the Guides welcome message on mWeb.

[2022-11-08 21:29] marcaaron commented on #11964
Really appreciate the investigation here so far. However, since validating a secondary login has a workaround (can validate via OldDot) and since we are [actively discussing deprecating the use of the drawer navigator](https://expensify.slack.com/archives/C01GTK53T8Q/p1667940831213829). I'm not sure we should invest anymore time or energy into short term fixes that are difficult to understand and

[2022-11-08 21:30] jliexpensify commented on #12158
Hmmm, did I miss creating an Upworks job?

Internal - https://www.upwork.com/ab/applicants/1590094088876425216/job-details
External - https://www.upwork.com/jobs/~0116417756c759ec25

Invited @adeel0202 and @sobitneupane

[2022-11-08 21:30] marcaaron commented on #11768
Continuing conversation here -> https://expensify.slack.com/archives/C01GTK53T8Q/p1667940831213829 🚀

[2022-11-08 21:31] jliexpensify commented on #11413
@marcochavezf - do you mind confirming we can close? If so, I'll get the Upworks job removed. Thanks!

[2022-11-08 21:34] johncschuster commented on #10283
Thanks for the clarification, @Santhosh-Sellavel! I'll manually keep an eye on the PR and make sure folks get paid on time.

I've just hired you both, @Santhosh-Sellavel and @syedsaroshfarrukhdot!

[2022-11-08 21:34] michaelhaxhiu commented on #10107
I'm going to close this GH down to ensure we are focused on the right thing. @parasharrajat see my last post above to close the loop for your payment.

[2022-11-08 21:34] #10107 closed

[2022-11-08 21:36] parasharrajat commented on #11810
const reURLInformation = new RegExp([
        '^(https?:)//', // protocol
        '(([^:/?#]*)(?::([0-9]+))?)', // host (hostname and port)
        '(/{0,1}[^?#]*)', // pathname
        '(\\?[^#]*|)', // search
        '(#.*|)$', // hash
    ].join(''));

I am not sure how good these are you will have to improve them during tests. try with different possible URLs. e.g `https://github.com/Expensify

[2022-11-08 21:36] alexpensify commented on #12352
@Julesssss - did this reopen in Firebase too?

[2022-11-08 21:39] marcaaron commented on #11768
I also did a study into using a [custom navigator](https://reactnavigation.org/docs/custom-navigators/) on web today with the default `StackRouter`. It works pretty good, but curious to get some more feedback on it as the main web example I've seen floating around uses a drawer navigator.

There also does seem to be some inconsistencies with browser history still when using the `StackRouter` - tho

[2022-11-08 21:45] arielgreen commented on #12145
No longer reproducible; closing.

[2022-11-08 21:45] #12145 closed

[2022-11-08 21:46] dangrous commented on #12045
Figured I'd test too - I see the room as archived on staging, which I think is correct?
<img width="976" alt="Screen Shot 2022-11-08 at 16 46 18" src="https://user-images.githubusercontent.com/5487802/200682606-586823c4-c47b-4e35-b5ff-c75cad0f4ec4.png">

[2022-11-08 21:46] kadiealexander commented on #12448
Apologies! I'm not sure why I got my wires crossed there. Please ignore @kakajann!!

@Expensify/applause please reopen with replication steps if this is still occurring.

[2022-11-08 21:46] arielgreen commented on #8311
@parasharrajat update please

[2022-11-08 21:49] trjExpensify commented on #12556
I can't reproduce testing it on the latest staging `v1.2.25-0` on either Web nor Desktop following these steps:

1. Open [staging.new.expensify.com](http://staging.new.expensify.com/)
2. Send a multi-line message
3. Copy it by clicking the clipboard icon on the comment action menu
4. Paste it to a text editor (I've used Mac's `TextEdit`)

<img width="583" alt="image" src="https://user-images.githu

[2022-11-08 21:49] #12556 closed

[2022-11-08 21:51] Puneet-here commented on #11414
@aldo-expensify, I just wanted to know if the compensation will be increased since I also pointed out the error message positioning bug and fixed it which wasn't mentioned in this issue.

[2022-11-08 21:55] kbecciv opened #12571 "[$250] Web - Settings/About - "View keyboard shortcuts" is missing in the minimal window"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Login with any account
3. Go to Settings -> About
4. Verify that "View keyboar

[2022-11-08 21:58] parasharrajat commented on #12493
I don't think this is a bug. we can increase the space between the tooltip and the report title on the header so that it does not lay over the avatar but that feels unnecessary. Tooltips can lay over anything, it does not create a issue for the user.

@Expensify/design Any inputs?

[2022-11-08 21:59] lschurr commented on #12567
I was able to reproduce this. There is no error when entering the wrong password. Should this be `External` @aldo-expensify?

[2022-11-08 21:59] Santhosh-Sellavel commented on #10906
Yes still being worked on [here](https://github.com/Expensify/App/pull/12370)

[2022-11-08 22:00] parasharrajat commented on #8311
Yeah, It seems like I won't get the time to review this today but surely tomorrow.

[2022-11-08 22:01] thesahindia commented on #12045
Strange, I am able to repro

https://user-images.githubusercontent.com/83179295/200684766-a1cb44f4-29e1-43c6-b61d-941a6e7a2755.mov

[2022-11-08 22:01] aldo-expensify commented on #11414
@Puneet-here sorry, which error positioning? the error under the "Add payment method" button?

[2022-11-08 22:02] aldo-expensify commented on #12567
@lschurr I'll take care of it internally, I know already where the bug is :)

[2022-11-08 22:03] arielgreen commented on #12205
Adding demolition per [this thread](https://expensify.slack.com/archives/C01SKUP7QR0/p1667064935349459).

[2022-11-08 22:03] AndreasBBS commented on #12045
What environment is this? Desktop app? If browser, which one?

[2022-11-08 22:04] Santhosh-Sellavel commented on #12283
@JmillsExpensify Uploading is a duplicate of the other issue, but this here https://github.com/Expensify/App/issues/12283#issuecomment-1305774920, where we show a preview of the image they selected and followed by an error on sending is weird, I think we should do something about it

[2022-11-08 22:06] Puneet-here commented on #11414
Yes this how the error used to show up. since the button had bottom margin and the error had vertical margin there was some extra gap.
<img width="375" alt="Screenshot 2022-11-09 at 3 34 15 AM" src="https://user-images.githubusercontent.com/101883770/200685579-39b30119-2e15-442f-a456-a9a39a907fc1.png">

[2022-11-08 22:06] parasharrajat commented on #11768
The advantage of a Custom navigator could be to get rid of batch navigations. Currently, our DeprecatedCustomActions trigger multiple navigation actions.

For example,

 when a user creates a new chat, the First RHN stack is popped out. then another navigation reset action is triggered to open the chat. Navigation is an expensive operation. Running two will put a load on the js thread. I think thi

[2022-11-08 22:06] s77rt commented on #12265
### Proposal
[code]

### Explanation
Passing the whole clientMemberEmails object may contain keys which their corresponding values are just for show (ie. errors, pendingAction). When those keys get sent to the api, the api returns the found values and since they does not exists (as i said they are just for show) the api returns null. Then when merging, those "for show only" members get lost.
The p

[2022-11-08 22:08] thesahindia commented on #12045
Staging at Chrome

[2022-11-08 22:17] arielgreen commented on #4733
@MitchExpensify this is currently our oldest open bug issue! What needs to happen to get this one moving and over the finish line?

[2022-11-08 22:21] kavimuru opened #12573 "[$1000] IOU-Offline shows the name of the currency, after going online it shows the symbol of currency"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Create a money request from User A to user B
3. Go offline
4. Create another m

[2022-11-08 22:22] arielgreen commented on #7284
Is this actually a bug or is it a new feature? If it's a bug, is it reproducible and can it therefore be assigned to the demolition team? @mateocole can you look into this and figure out what needs to be done to push this forward?

[2022-11-08 22:26] Santhosh-Sellavel commented on #10283
Thanks accepted!

[2022-11-08 22:26] kbecciv opened #12574 "Chat - Content is not loading after network return if the App starts while offline"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Kill the App (dismiss App's card)
2. Turn network off
3. Start the App
4. Check content in different chats ( will be infinite

[2022-11-08 22:26] arielgreen commented on #7916
@michaelhaxhiu just updated the label on this to daily! What needs to happen to get this over the finish line?

[2022-11-08 22:27] arielgreen commented on #7375
@kadiealexander reminder these should remain daily now!

[2022-11-08 22:28] sophiepintoraetz commented on #11319
@aneequeahmad - feel free to apply for the job here https://www.upwork.com/jobs/~011e9bb1d6b3bd9eda

[2022-11-08 22:30] sophiepintoraetz commented on #12049
@Santhosh-Sellavel - would you mind answering the following please:
 - The PR that introduced the bug has been identified. Link to the PR:

[2022-11-08 22:32] aneequeahmad commented on #11319
@sophiepintoraetz I applied for the job. Thanks for mentioning.

[2022-11-08 22:34] fedirjh commented on #10202
Hey there,
@trjExpensify After investigating , I do think that IOS issue is not related to Android issue , they are different issues

### IOS Issue
iOS issue looks identical to this issue #1500 , so I think that proposed solution #1557 isn't the right fix
#### Problem
the problem is related to `paddingVertical` which on iOS doesn't reset to zero both padding , check this https://github.com/faceboo

[2022-11-08 22:35] jliexpensify commented on #12573
@kavimuru I'm actually not seeing this behaviour on my side (I'm also in Staging):

![image](https://user-images.githubusercontent.com/30815269/200690717-8bf0bdf6-15a4-437f-b835-872e916c7f10.png)

Can this be reliably reproduced? Videos would be great. Assigning back to you for further investigation.

[2022-11-08 22:35] syedsaroshfarrukhdot commented on #10283
@johncschuster Thank you accepted.

[2022-11-08 22:42] kavimuru commented on #12573
@jliexpensify I can repro with CAD and the video already attached in the bug is for the currency UAH

https://user-images.githubusercontent.com/43996225/200691806-8c23a7b0-f9d7-40d4-a2e3-3d3acaec9c22.mp4

[2022-11-08 22:45] thesahindia commented on #11951
The proposal looks good at first glance but I won't be able to look much into it right now (4 AM for me) will look into it ASAP in the morning.

[2022-11-08 22:47] parasharrajat commented on #8349
Update: PR https://github.com/Expensify/App/pull/11684 is reviwed and close to finish line.

[2022-11-08 22:49] Luke9389 commented on #8236
@aimane-chnaif, the thing I don't love about this solution is that we probably _shouldn't_ be hiding the status bar. It's got the time, internet connection status, and several other useful things users may want.

But I'm not sure, do we always hide it when the app is open? No, right?

[2022-11-08 22:49] neil-marcellini commented on #9581
I started going through a bit of this myself and I'll have another look after @Santhosh-Sellavel posts his thoughts. Here are a couple small things that stood out to me.

We only have one generic message if the validation fails, but since we test with regex it would be hard to provide a descriptive error message for different reasons that the zip code is invalid. Instead I think we should add a hi

[2022-11-08 22:52] shawnborton commented on #12441
Here's a starting batch of new logos for you: [New Logos.zip](https://github.com/Expensify/App/files/9965830/New.Logos.zip)

Will work on the remaining Android icons from here...

[2022-11-08 22:53] luacmartins commented on #9581
We should use the existing `ONYXKEYS.REIMBURSEMENT_ACCOUNT_FORM` for this form. All forms in the VBA flow use the same key since they share draft values.

[2022-11-08 22:53] AndreasBBS commented on #12045
[cannot_reproduce (1).webm](https://user-images.githubusercontent.com/12399440/200693398-96f3e9f1-3edb-442c-8be3-c8f978aabac0.webm)

Just tried to replicate in 1.45.113 Chromium: 107.0.5304.62 (Official Build) (64-bit) to no success. Very odd. Can you try in an incognito tab? Sorry to bother.

[2022-11-08 22:55] parasharrajat commented on #4733
I am reviewing a new proposal which will be done in few hours.

[2022-11-08 22:56] parasharrajat commented on #7916
Update: Old PR had some issues which we ended up closing. A new PR is created which needs to be reviewed.

[2022-11-08 22:59] shawnborton commented on #12493
Yeah I agree, I don't think this one is a bug.

[2022-11-08 22:59] shawnborton commented on #12493
Going to close this out!

[2022-11-08 22:59] #12493 closed

[2022-11-08 23:05] shawnborton commented on #12441
Also, found a few buggies in that first .zip I sent over, here are some fixes: [NewLogos_Fixed.zip](https://github.com/Expensify/App/files/9965879/NewLogos_Fixed.zip)

[2022-11-08 23:06] jliexpensify commented on #12573
@kavimuru thanks for the video - your reproduction steps were in the wrong order in the original issue so i fixed that.

But I've tested again, multiple times - I still can't reproduce. I'm still getting the same currency symbol for both requests:

![image](https://user-images.githubusercontent.com/30815269/200695203-7918ed81-eba3-4aae-a255-fc0d4cc404a5.png)

[2022-11-08 23:10] kadiealexander commented on #8349
Removing the `help wanted` label as we're not looking for proposals (per the above comment).

[2022-11-08 23:17] mananjadhav commented on #11385
@iwiznia then are we confirmed that we don't have the high res image?

[2022-11-08 23:19] strepanier03 commented on #12238
@eVoloshchak - Just a friendly bump for an ETA on when you think the checklist items will be completed.

[2022-11-08 23:19] mananjadhav commented on #12188
@getusha do you have any revised proposal. Please reply at the earliest to avoid any confusion later on. I want to be fair with @Karim-30 too, who's already submitted the proposal. Will wait for a day.

[2022-11-08 23:20] shawnborton commented on #12441
Also, here is an updated workmark that is white [expensify-wordmark.svg.zip](https://github.com/Expensify/App/files/9965927/expensify-wordmark.svg.zip)

[2022-11-08 23:26] arielgreen commented on #8797
@MitchExpensify can you update on the status of this one? If it's still reproducible, let's throw `Demolition` on it and get it moving forward.

[2022-11-08 23:27] parasharrajat commented on #12554
Good find @yevheniitsuryk.

https://github.com/Expensify/App/blob/ea35c4622fcc93cad07871907e216b7f50b50105/src/pages/home/report/ReportActionItem.js#L171-L174 looks very problematic to me. It could have many unknown side-effects. This issue is just one of them.

Based on the real issue, looks like we want to disable the blue border on `Shift+click` or say it `Shift` only. So What about we restrict

[2022-11-08 23:28] johnmlee101 commented on #12324
Seems good let's mark it!

[2022-11-08 23:28] kevinksullivan commented on #12428
Closing unless someone can help me understand this issue better.

[2022-11-08 23:29] arielgreen commented on #9020
@roryabraham I'm going to swap this to `NewFeature`. Let me know if you disagree.

[2022-11-08 23:31] arielgreen commented on #9137
Hey @puneetlath can you provide an update here? I think this is internal and reproducible -- should we throw `Demolition` on it to get it moving?

[2022-11-08 23:31] thienlnam commented on #10767
@andrewlor I've reviewed the compensation increase and approve your request

Context:
- The solution scope did change outside the proposal and required more investigation [here](https://github.com/Expensify/App/issues/10767#issuecomment-1254316092) since it was caught after the proposal stage

This is true and required modifications beyond what your initial proposal had mentioned and took many rev

[2022-11-08 23:31] aldo-expensify commented on #11414
@Puneet-here ok, I just noticed that your proposal mentioned this.

@mallenexpensify 👋 can I get your opinion on what @Puneet-here is requesting here: https://github.com/Expensify/App/issues/11414#issuecomment-1307874797

Summary:

- The issue is about moving the button "Add payment method" to the bottom of the screen
- @Puneet-here 's included a small fix for the error's margin when it appears be

[2022-11-08 23:32] arielgreen commented on #9181
@dylanexpensify can you provide an assessment of what needs to happen to move this one forward? @parasharrajat have you reviewed?

[2022-11-08 23:33] arielgreen commented on #9250
@kevinksullivan is this on hold? Can you please update the title if so?

[2022-11-08 23:34] luacmartins commented on #11427
@tienifr coming from [this Slack thread](https://expensify.slack.com/archives/C02NK2DQWUX/p1667850311631759), we are  moving to a passwordless design for the App. This issue/PR are no longer needed!

@puneetlath let's make sure that we compensate @tienifr and @rushatgabhane for the work on the PR before closing this issue!

[2022-11-08 23:35] stitesExpensify commented on #7968
I know we have been going in circles on this for a while now, I just want to make sure I'm 100% up to speed.

Problem: The delete button has a global listener for the `enter` key, meaning that regardless of what is highlighted.

Potential Solutions:
1. ([link](https://github.com/Expensify/App/issues/7968#issuecomment-1279723391)) Add a list of elements where if they are focused, we do _not_ run th

[2022-11-08 23:36] arielgreen commented on #9391
@michaelhaxhiu can you provide an assessment of what needs to happen to move this forward? @MonilBhavsar can you link to the thread you're referring to?

[2022-11-08 23:37] aldo-expensify commented on #12206
PR merged

[2022-11-08 23:37] strepanier03 commented on #11973
@rushatgabhane - Just a friendly bump on the BugZero checklist for locating the PR that introduced the bug. I'll check back in tomorro.w

[2022-11-08 23:38] arielgreen commented on #9459
@adelekennedy can you provide an assessment on what needs to happen to move this forward? Is there a reason we've capped the price or should we push forward and increase again?

[2022-11-08 23:40] strepanier03 commented on #11863
@ctkochan22 - Eager to hear your opinion here but I feel like there are two issues here and we have a fix for one of them. The second issue is something we could make a separate bug report for which would have its own proposal and pay.

I'll hold on taking any action and check back in tomorrow.

[2022-11-08 23:41] johncschuster commented on #12432
I wasn't able to get back to testing this today. I'll carve out some time tomorrow morning.

[2022-11-08 23:42] stitesExpensify commented on #8455
Coming from this [thread in slack](https://expensify.slack.com/archives/C02NK2DQWUX/p1667850311631759) we have decided to not continue with this issue/PR because this section of the app will be getting a different refactor in the near future.

I have closed the PR, but can we please pay out @Puneet-here @thesahindia and @adeel0202?

Additionally, we should be vigilant to not to open/work on any mo

[2022-11-08 23:45] strepanier03 commented on #12508
@Gonals - Should I find someone with a real iOS device to test it (I don't have one either) or do you think we have sufficient evidence to put the External label on it and get it worked on?

Also, what sort of behavior are we expecting to happen here when clicking the "fix the errors" link? Is the behavior on the page correct?

[2022-11-08 23:45] kavimuru opened #12575 "Profile image disappears after reloading the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Open app
2. Upload a new profile image
3. Verify the image is not updating immediately
4. Reload the page (cmd+R)

## Expected

[2022-11-08 23:46] mallenexpensify commented on #8455
Thanks @stitesExpensify , all are paid!!

[2022-11-08 23:46] #8455 closed

[2022-11-08 23:46] yuwenmemon commented on #12563
@mvtglobally Do you think we might have regression results by EOD US West Coast today? No worries if not, just trying to see what the rest of my day might entail.

[2022-11-08 23:46] OSBotify commented on #12575
:wave: Friendly reminder that deploy blockers are time-sensitive ⏱ issues! [Check out the open `StagingDeployCash` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:
  1. Identify the pull request that introduced this issue and revert it.
  2. Find

[2022-11-08 23:46] kbecciv opened #12576 "Chat - Room is stuck on my gmail account and it shows a white screen"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Go to URL https://staging.new.expensify.com/
2. Log in andreylazutkinutest+123@gmail.com/w323052760We
3. Navigate to a convers

[2022-11-08 23:48] sophiepintoraetz commented on #12324
[Job posted](https://www.upwork.com/jobs/~0160642490e8b87d90)

[2022-11-08 23:48] Santhosh-Sellavel commented on #7968
@stitesExpensify
Only two solutions
1. Add the accessibility role button to all pressables but we're worried about regressions
2. ([link](https://github.com/Expensify/App/issues/7968#issuecomment-1302378183)) ~Add a list of elements where~
Pass `nativeID` for the button which has `pressOnEnter` we run the action in keydown listener only if `nativeID`, matches

[2022-11-09 00:09] mallenexpensify commented on #11403
Compensated @mananjadhav for C+

[2022-11-09 00:19] adelekennedy commented on #9459
we capped based on a prior 1:1 convo between Nikki and I, let's move forward with increasing this weekly

[2022-11-09 00:25] strepanier03 commented on #11973
@rushatgabhane - Thank you so much. I've added the links to the checklist and marked off those steps. I've also paid you for this job on Upwork.

@thesahindia - Thank you for working on this and for your proposal and prompt replies. I have paid you for this job on Upwork.

@varshamb - I have sent you a contract offer in Upwork. Please accept that and let me know here so I can pay you for this. Tha

[2022-11-09 00:27] mallenexpensify commented on #10599
@railway17 specifically [from CONTRIBUTING.md](https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#:~:text=Note%3A%20Before%20submitting%20a%20proposal%20on%20an%20issue%2C%20be%20sure%20to%20read%20any%20other%20existing%20proposals.%20Any%20new%20proposal%20should%20be%20substantively%20different%20from%20existing%20proposals.)

[2022-11-09 00:27] chiragsalian commented on #11735
Not overdue, waiting on proposals

[2022-11-09 00:28] chiragsalian commented on #11542
Haven't gotten to it due to other priorities. Hoping to tackle next week.

[2022-11-09 00:32] adelekennedy commented on #11930
kk - will keep doubling this!

[2022-11-09 00:47] roryabraham commented on #12054
Hey @LucioChavezFuentes, I just went through and reviewed all your pull requests (sorry for the delay, btw). Overall they look great, but 3/4 of them should be made against the upstream React Native instead of react-native-web. Can you please:

- Open three new PRs against React Native instead of React Native web, according to the review comments I left in:
    - https://github.com/necolas/react-n

[2022-11-09 00:58] adelekennedy commented on #8005
as discussed in Slack compensation is due for this job! @Santhosh-Sellavel @thesahindia sent you offers

[2022-11-09 01:03] roryabraham commented on #8503
Posted [here](https://expensify.slack.com/archives/C04878MDF34/p1667955504136409) to propose handing this issue off

[2022-11-09 01:03] Santhosh-Sellavel commented on #12400
@hungvu193 @0xmiroslav I tested both of your proposals both are working for the connect manually page. But not working for other pages
example for company setup page,

https://user-images.githubusercontent.com/85645967/200710320-5042ee52-a6b0-4e64-825e-cc504dd79df7.mov

[2022-11-09 01:03] Santhosh-Sellavel commented on #8005
Accepted thanks @adelekennedy!

[2022-11-09 01:06] hungvu193 commented on #12400
As I mentioned here, they are using different Form component, I think we are a PR to refactor that already

[2022-11-09 01:19] Santhosh-Sellavel commented on #10729
@mollfpr I've just tested a proposal there it's not working on this form.

[2022-11-09 01:19] cowboycito commented on #10614
@mallenexpensify @Santhosh-Sellavel please take a look at the latest commit in the [forked repo](https://github.com/cowboycito/App)

[2022-11-09 01:43] NikkiWines commented on #12435
Sorry for the delay @thesahindia, I've been OOO.

While both are definitely problems, I think we should handle them in separate issues. The app crashing issue is specific to the workspace members page, but the momentary "Hmmm...it's not here"  issue is a problem for all workspace pages.

In which case, the expectation for the correct behavior for this issue would be that the "Hmm... it's not there

[2022-11-09 01:50] kavimuru opened #12577 "When a chat becomes archived, automatically hide it from the LHN. It should still be discoverable via search but should be “permanently unpinned” in the LHN"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Create a bill from OldDot from account A and sent it to account B who does not have shared policy.
2.  Account B see the comme

[2022-11-09 01:51] xtealer commented on #8005
Did you get a solution?

[2022-11-09 01:56] kavimuru opened #12578 "[$1000] Android: Cursor moves around wildly after pasting emoji reported by @adeel0202"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Actions performed:

1. Go to any chat
2. In the composer, type an emoji alias with a space before ending colon e.g. :wave :
3. Set position of the

[2022-11-09 02:04] mallenexpensify commented on #12122
@thesahindia and @Uros787 have been hired.  Please comment once you've accepted and @kevinksullivan will pay (I'll be OOO).  Thanks Kev
https://www.upwork.com/jobs/~0169752bebd6f85148

[2022-11-09 02:08] mallenexpensify commented on #11816
Everyone's paid!

[2022-11-09 02:08] #11816 closed

[2022-11-09 02:10] mallenexpensify commented on #2727
@parasharrajat please accept the job and @joekaufmanexpensify will pay you out (I'm heading OOO)  https://www.upwork.com/jobs/~01789a28c4422d1d15

[2022-11-09 02:13] mallenexpensify commented on #12512
I'm heading OOO, reassigning.

[2022-11-09 02:14] mallenexpensify commented on #12082
Reassigning as I'm heading OOO for a month

[2022-11-09 02:15] mateocole commented on #7284
@arielgreen looking at this from a P/S statement it looks like a feature but I'll wait for @roryabraham to clarify

[2022-11-09 02:16] mallenexpensify commented on #12046
Reassigning as I'm heading OOO for a month

[2022-11-09 02:17] mallenexpensify commented on #11954
Reassigning as I'm heading OOO for a month .

[2022-11-09 02:18] mallenexpensify commented on #11953
Reassigning as I'm heading OOO for a month. bumping back to weekly cuz it's on hold.

[2022-11-09 02:20] mallenexpensify commented on #11852
Reassigning as I'm heading OOO for a month

[2022-11-09 02:21] mallenexpensify commented on #11729
Paid @aimane-chnaif !

[2022-11-09 02:21] #11729 closed

[2022-11-09 02:22] kavimuru opened #12580 "iOS - Sending a jpg image throws error as "Unsupported PDF format""
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. open app
2. Go to any chat
3. Tap add an attachment and select a jpg image
4. Upload the image

## Expected Result:
Image gets

[2022-11-09 02:23] mallenexpensify commented on #11502
Price Doubled to $2000
https://www.upwork.com/jobs/~0129cad70a1c139828

@johncschuster Reassigning as I'm heading OOO for a month

[2022-11-09 02:25] mallenexpensify commented on #11354
@isabelastisser Reassigning as I'm heading OOO for a month

[2022-11-09 02:25] mallenexpensify commented on #11330
@NicMendonca Reassigning as I'm heading OOO for a month

[2022-11-09 02:27] mallenexpensify commented on #11265
@maddylewis Reassigning as I'm heading OOO for a month
@sobitneupane and @Luke9389 can you help catch Maddy up on where we're at? (I did a quick review and I'm a bit lost, sorry)

[2022-11-09 02:31] aneequeahmad commented on #11096
This is still reproducible on dev main branch v1.2.25-0

**VIDEO:**

https://user-images.githubusercontent.com/36359331/200722675-feec8c4e-df9e-476d-92b8-9c6f4ae95d66.mov

cc: @abekkala

[2022-11-09 02:31] mallenexpensify commented on #11132
Doubled price to $500
https://www.upwork.com/jobs/~0138615bf32be2c02c

@michaelhaxhiu Reassigning as I'm heading OOO for a month

[2022-11-09 02:34] mallenexpensify commented on #10907
Reassigning as I'm heading OOO for a month. Sending to you @JmillsExpensify since you already have 👀 on it.

[2022-11-09 02:36] mallenexpensify commented on #10906
@slafortune Reassigning as I'm heading OOO for a month

[2022-11-09 02:36] kavimuru opened #12581 "Keyboard is covering the `Save` button after an error message in workspace settings page reported by @thesahindia"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Navigate to settings > Workspaces
2. Select a workspace
3. Delete the name and press save
4. Now focus at the name field agai

[2022-11-09 02:37] mallenexpensify commented on #10731
@Christinadobrzyn Reassigning as I'm heading OOO for a month

[2022-11-09 02:39] mallenexpensify commented on #10614
@kadiealexander Reassigning as I'm heading OOO for a month

[2022-11-09 02:40] mallenexpensify commented on #9270
@puneetlath Reassigning as I'm heading OOO for a month

[2022-11-09 02:41] mallenexpensify commented on #8710
@MitchExpensify Reassigning as I'm heading OOO for a month

[2022-11-09 02:42] mallenexpensify commented on #8364
@trjExpensify Reassigning as I'm heading OOO for a month

[2022-11-09 02:42] kavimuru opened #12582 "[HOLD] Language picker can’t be focused via keyboard reported by @huzaifa-99"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:

1. Go to login screen
2. Try focusing on the language picker with Tab
3. Notice it is not capturing focus

## Expected Result:
L

[2022-11-09 02:45] mvtglobally commented on #12563
@yuwenmemon I think we are looking more like tomorrow morning EST

[2022-11-09 02:48] JmillsExpensify commented on #10907
Sounds good. 👍

[2022-11-09 02:49] whroyal commented on #8005
As discussed in Slack compensation is due for this job! @jliexpensify @UpworkBartkoski sent you offers

[2022-11-09 02:53] AndrewGable commented on #11711
Ok got tests running on this repo, but I am running into a funny error. I change the code locally but it seems to not "reflect" on the AWS side. I am thinking that we might need to clean up our uploads to AWS when a test is complete, as this error doesn't seem to happen when I manually delete the uploads.

I will work on this tomorrow.

[2022-11-09 02:55] yuwenmemon commented on #12575
@Beamanator @jasperhuangg I have a feeling it's related to this: https://github.com/Expensify/Web-Expensify/pull/35442

Since it's not happening on Production.

[2022-11-09 03:03] aneequeahmad commented on #12553
### PROPOSAL:

We can implement the feature using RNGH 2.0 (react-native gesture handler). By adding this we can also replace the older implementation of `PanGestureHandler` which is no longer actively maintained as advised by RNGH official doc [here](https://docs.swmansion.com/react-native-gesture-handler/docs/2.3.0/api/gestures/pinch-gesture#:~:text=which%20is%20no%20longer%20actively%20maintain

[2022-11-09 03:04] aneequeahmad commented on #11404
Reminder: @slafortune

[2022-11-09 03:05] xtealer commented on #8005
I propose 2 changes. We must update the file `updateUnread` and we must call this function on back navigation events detected to force the stale document.title reference to update.

updateUnread.js should change Line 16 should change from `document.title = '';` to `history.replaceState(null, '');` so file looks like:

[code]
And we can implement a event listener to detect when user navigates back

[2022-11-09 03:07] yuwenmemon commented on #12575
Ah wait I think I see it:
<img width="110" alt="Screenshot 2022-11-08 at 7 07 20 PM" src="https://user-images.githubusercontent.com/4741899/200728500-7a966f11-a89e-412a-a2da-45e3515ca3f3.png">

[2022-11-09 03:09] Christinadobrzyn commented on #12206
Upwork Internal job posting - https://www.upwork.com/ab/applicants/1590178905573109760/job-details
Upwork external job posting - https://www.upwork.com/jobs/~01990609ac87f5a4aa

Hired @Santhosh-Sellavel as the C+ for this

[2022-11-09 03:16] mallenexpensify commented on #8132
@sonialiap Reassigning as I'm heading OOO for a month

[2022-11-09 03:16] alexpensify commented on #11272
@aneequeahmad has been hired as the issue finder. Please accept and I can continue the process in Upwork: https://www.upwork.com/jobs/~01cf16f68e24c185ca

[2022-11-09 03:17] mallenexpensify commented on #7925
@roryabraham , I'm OOO for a month, no assigning a BZ cuz our process for this issue is an edge case.  Unassign me and add the `Bug` label if you need someone to take any BZ actions

[2022-11-09 03:18] mallenexpensify commented on #7862
@trjExpensify , not sure who was BZ on this, I unassigned and left to you as I'll be OOO for a month

[2022-11-09 03:19] mallenexpensify commented on #7487
This is almost a year old, going to close

[2022-11-09 03:19] #7487 closed

[2022-11-09 03:19] jasperhuangg commented on #12575
@yuwenmemon are you able to upload avatars locally? We've been unable to do so thus far, and we get CORS errors running the app with the staging server, so the only way to test is on prod, which is why errors with avatar uploads keep coming up.

[2022-11-09 03:20] jasperhuangg commented on #12575
Ah I just saw the PR, thanks for getting that up so fast! I'll review it right no

[2022-11-09 03:22] mallenexpensify commented on #7467
@lschurr can you see if you can reproduce?  I'm OOO for a month
- If so, can you add the `Engineering` label.
- If not, see if @kbecciv can repro. If they can, add the `Engineering` label.  If not, please close

[2022-11-09 03:23] JediWattson commented on #7862
Yesterday I got the requested changes up and I’m waiting to hear feedback on them

[2022-11-09 03:25] mvtglobally commented on #10731
Issue not reproducible during KI retests. (Second week)

[2022-11-09 03:26] mvtglobally commented on #8311
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:27] mvtglobally commented on #10423
Issue not reproducible during KI retests. (Second week)

[2022-11-09 03:27] mvtglobally commented on #10615
Issue not reproducible during KI retests. (Second week)

[2022-11-09 03:28] aneequeahmad commented on #11272
@alexpensify I have accepted the offer. Thanks for mentioning

[2022-11-09 03:28] mvtglobally commented on #10765
Issue not reproducible during KI retests. (Third week)

[2022-11-09 03:28] mvtglobally commented on #10767
Issue not reproducible during KI retests. (Second week)

[2022-11-09 03:29] mvtglobally commented on #10830
Issue not reproducible during KI retests. (Second week)

[2022-11-09 03:30] mvtglobally commented on #10283
Issue not reproducible during KI retests. (Fourth week)

[2022-11-09 03:30] mvtglobally commented on #11236
Issue not reproducible during KI retests. (Second week)

[2022-11-09 03:31] mvtglobally commented on #11272
Issue not reproducible during KI retests. (Second week)

[2022-11-09 03:31] mvtglobally commented on #11330
Issue not reproducible during KI retests. (Third week) Are we ok to close this?

[2022-11-09 03:32] mvtglobally commented on #11334
Issue not reproducible during KI retests. (Fifth week)

[2022-11-09 03:32] mvtglobally commented on #11336
Issue not reproducible during KI retests. (Second week)

[2022-11-09 03:33] mvtglobally commented on #11341
Issue not reproducible during KI retests. (Third week)

[2022-11-09 03:33] mvtglobally commented on #11346
Issue not reproducible during KI retests. (Fourth week)

[2022-11-09 03:34] mvtglobally commented on #11354
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:34] mvtglobally commented on #11461
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:34] mvtglobally commented on #11502
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:35] mvtglobally commented on #11511
Issue not reproducible during KI retests. (Third week) Are we ok to close this?

[2022-11-09 03:35] mvtglobally commented on #11512
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:36] mvtglobally commented on #11542
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:36] mvtglobally commented on #11666
Issue not reproducible during KI retests. (Second week)

[2022-11-09 03:36] mvtglobally commented on #11632
Issue not reproducible during KI retests. (Second week)

[2022-11-09 03:37] mvtglobally commented on #11801
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:37] mvtglobally commented on #11814
Issue not reproducible during KI retests. (Second week)

[2022-11-09 03:37] mvtglobally commented on #11825
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:38] mvtglobally commented on #11848
Issue not reproducible during KI retests. (Second week)

[2022-11-09 03:39] mvtglobally commented on #11892
Issue not reproducible during KI retests. (Second week)

[2022-11-09 03:39] mvtglobally commented on #12000
Issue not reproducible during KI retests. (Second week)

[2022-11-09 03:40] mvtglobally commented on #12014
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:40] mvtglobally commented on #12015
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:40] mvtglobally commented on #12018
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:41] mvtglobally commented on #11800
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:41] mvtglobally commented on #12143
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:42] mvtglobally commented on #12206
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:42] mvtglobally commented on #12122
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:42] mvtglobally commented on #11488
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:43] mvtglobally commented on #12280
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:43] mvtglobally commented on #12308
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:44] mvtglobally commented on #12355
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:44] mvtglobally commented on #12371
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:45] mvtglobally commented on #12449
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:45] mvtglobally commented on #12451
Issue not reproducible during KI retests. (First week)

[2022-11-09 03:55] mananjadhav commented on #11330
@mvtglobally the PR is yet to hit production.

[2022-11-09 04:21] techievivek commented on #12483
Sorry, @0xmiroslav just added you to the PR.

[2022-11-09 04:22] ctkochan22 commented on #10765
Yikes, sorry. Slipped through the cracks looking now

[2022-11-09 04:27] techievivek commented on #12483
Oh, that make sense. I have assigned the issues to you. 👍

[2022-11-09 04:37] getusha commented on #12188
You're right @mananjadhav
It took me unexpectedly longer to add the features.
You can review @Karim-30's proposal. Thanks.

[2022-11-09 04:40] marcaaron commented on #12315
Ah yeh hmm so I think this can actually be fixed externally, but requires jumping through some hoops..

**Pre-requisites**
- Proxy server is enabled via `.env`
- Staging version of the app is built
- **Preferences > Test Preferences > Use Staging Server** is checked

This doesn't work for secure because of this line here:

https://github.com/Expensify/App/blob/ae3f424d24bc1037fbf1cae460f22be83f43d

[2022-11-09 05:08] ctkochan22 commented on #11863
Is there an issue for the SearchPage? Although they could be fixed as they seem like similar issues, they are ultimately in different places. Lets keep them separate and if this solution works here. We can just apply this change to SearchPage as well.

However, I want some other buy in to this solution.

[2022-11-09 05:08] kadiealexander commented on #12317
Price doubled!

[2022-11-09 05:19] kadiealexander commented on #11961
@kbecciv could you please share your phone model and iOS version? I am not able to replicate this on an iPhone 13 with iOS 16.0:

https://user-images.githubusercontent.com/59587260/200745059-c024911c-1a62-44c9-94fa-49167249edb5.MP4

[2022-11-09 05:25] ctkochan22 commented on #11863
In this [proposal](https://github.com/Expensify/App/issues/11863#issuecomment-1279816108), we are thinking about adding a debounce to limit the amount of api commands upon each key change, which is an issue when we have such large search options to get through.

We already do this in SearchPage it seems, and it seems its not working well there either. We already changed the times from 300 to 75 in

[2022-11-09 05:44] roryabraham commented on #11997
Carved this out [here](https://github.com/Expensify/App/issues/10962#issuecomment-1307577409) as what I think should be one of @hannojg's top priorities. @hannojg if you're blocked on https://github.com/Expensify/App/issues/11711, I'd recommend spending some time on this in the meantime.

[2022-11-09 05:48] swiftpipe commented on #4733
Please review my proposal @parasharrajat

[2022-11-09 05:49] davidcardoza commented on #11820
@Puneet-here You're right, I re-hired you for the same job to apply an additional $250 payment.

[2022-11-09 05:54] davidcardoza commented on #12512
I was able to reproduce this. Assigning an engineer to triage - can this be worked on by an external contributor?

[2022-11-09 05:54] ctkochan22 commented on #12325
Man, hard to keep track of so many of these. Good work here everyone! @rushatgabhane I'm good with your recommendation. @AndreasBBS 's solution looks good.

@laurenreidexpensify lets hire and move forward

Second @AndreasBBS , we no longer use the `master` branch. We moved over to using `main`. So its now, `main` -> `staging` -> `production`

[2022-11-09 05:57] ctkochan22 commented on #12268
I think i'm wrong about that. They seem like separate issues.

[2022-11-09 06:10] pelkonator commented on #12582
**Proposal**
https://github.com/Expensify/App/blob/main/src/styles/styles.js
convert **pickerSmall** object to a function

[code]

This will match current implementation of the **picker** function in the same file:
[code]

[2022-11-09 06:21] thesahindia commented on #8005
Accepted, thanks!

[2022-11-09 06:22] thesahindia commented on #8005
@xtealer, this doesn't need a solution anymore. Please check others issues with the help wanted label.

[2022-11-09 06:25] thesahindia commented on #12122
Accepted, thanks!

[2022-11-09 06:26] s77rt commented on #12268
@rushatgabhane
1. Strip any html tags (using regex `(<([^>]+)>)/ig`
2. Trim the output
3. Check if the name is defined and has a length (>0)

[2022-11-09 06:30] s77rt commented on #12268
### Another Proposal (idea)
Instead of stripping the tags, we can encode them, so the user would have the ability to name the workspace something like `<test> WokrspaceA`. However the tags gets stripped in the API. As long as the API strips the tags (and not escape them) the first proposal is the best fit here.

[2022-11-09 06:30] ctkochan22 commented on #12268
Seems like https://stackoverflow.com/questions/31515999/how-to-remove-all-html-tags-from-a-string has a better filtering. Strangely we don't do this anywhere else either.

I think we should also validate the end result on the PHP side, and have a properly caught error.

[2022-11-09 06:31] ctkochan22 commented on #12268
@s77rt thanks for your proposal. Let me try doing a PHP side error handler first and see how that goes

[2022-11-09 06:45] s77rt commented on #12268
### Updated Proposal
[code]
- The change is clearer this way
- The first proposal will return a literal "undefined" in case the name was undefined (due to using .replace with an undefined)
- Using the suggested regex

https://user-images.githubusercontent.com/16493223/200758101-0d5e4597-ac18-4983-96fe-618250f657cf.mp4

[2022-11-09 07:32] thesahindia commented on #12435
Posted the other issue on [slack](https://expensify.slack.com/archives/C01GTK53T8Q/p1667978507958729).
Let's fix the crash.

@tienifr, you aren't using the `lodashGet` correctly.

[2022-11-09 07:37] thesahindia commented on #12435
@NikkiWines, let's assign @tienifr since they proposed a working [solution](https://github.com/Expensify/App/issues/12435#issuecomment-1302982422) we just need to use `lodashGet`

C+ reviewed 🎀👀🎀

[2022-11-09 07:40] tienifr commented on #12435
@thesahindia You're right, change to use `lodashGet` like:
`const details = lodashGet(this.props.personalDetails, email, {displayName: email, login: email, avatar: Expensicons.FallbackAvatar});` is the best solution. Thanks

[2022-11-09 08:01] jayeshmangwani commented on #12045
Sorry for the late reply but the issue is not happening on my side that's why I had ask for checking again, I will try again with other chrome versions/devices

[2022-11-09 08:02] aldo-expensify commented on #12359
@Santhosh-Sellavel does this require having more than one device? I'm a bit confused with the step "3. Create another workspace B", does this third workspace has any relation with the second workspace (both named "B")?

[2022-11-09 08:08] aldo-expensify commented on #11807
No overdue, the backend PR was merged and the front end PR is ready for review: https://github.com/Expensify/App/pull/12129

[2022-11-09 08:15] jayeshmangwani commented on #11948
# Proposal

as we have to navigate to Concierge for mobile devices as web is working fine, we have to make 2 changes here

1. we have to check if a mobile device
we have to pass isSmallScreenWidth here, for checking mobile device in Welcome actions

https://github.com/Expensify/App/blob/952e5c39e4be989bd4aaea251ce5d3c4c64faa7a/src/pages/home/sidebar/SidebarScreen/BaseSidebarScreen.js#L62
[code]
2.

[2022-11-09 08:17] mollfpr commented on #9581
Here's the updated form

[code]

---

For the zip code hint:
[code]

[2022-11-09 08:24] conorpendergrast commented on #12120
Looks like this is making progress, let's keep it going to find a proposal that we'll accept!

[2022-11-09 08:25] conorpendergrast commented on #11584
Looks like we're all set to pay this. I'll review the process and will do that tomorrow!

[2022-11-09 08:26] conorpendergrast commented on #11584
And, also, [this checklist](https://github.com/Expensify/App/issues/11584#issuecomment-1294707771) above!

[2022-11-09 08:26] roryabraham commented on #12188
In case it wasn't clear from @shawnborton's comments above, this issue is 🟢 for proposals again.

@mananjadhav let us know your thoughts on @Karim-30's proposal. I think it looks overall pretty good, but had some questions for @Karim-30:

Clever solution, but did you investigate adding the blank `<Text>` component as a child of the `<TextInput>` in `<Composer>`? As you can see [here](https://githu

[2022-11-09 08:28] roryabraham commented on #12188
Also, one thing I'll mention for people leaving proposals on this issue as well as @mananjadhav – we need the emoji list that pops up to be navigable via the `ArrowUp` and `ArrowDown` keys. You should utilize the [`ArrowKeyFocusManager`](https://github.com/Expensify/App/blob/4eae63c7e62b2cca48f0c306869840876b2f14e6/src/components/ArrowKeyFocusManager.js) component to do that.

[2022-11-09 08:31] getusha commented on #12188
as @shawnborton's design mockups there is no emoji_code highlighting, is that intentional?
also, making the EmojiSuggestion horizontal when the composer get's expanded might be good idea?

[2022-11-09 08:32] tienifr commented on #12151
@eVoloshchak we're using `buildOptimisticChatReport` in 4 places: announceChatData, adminsChatData, expenseChatData, policyReport.
As we can see the result above when pendingFields of announceChatData, adminsChatData, expenseChatData are updated to null when we go online.
Here is the evidence of creating new `policyReport`:

https://user-images.githubusercontent.com/113963320/200779111-921de183-d7

[2022-11-09 08:32] techievivek commented on #12041
I think this might get fixed [here](https://github.com/Expensify/App/issues/11948)

[2022-11-09 08:34] techievivek commented on #12041
I will follow the conversation there and see if that would also fix the navigation issue for this case or not.

[2022-11-09 08:42] roryabraham commented on #12188
@Karim-30 What about using a [`LayoutEvent`](https://reactnative.dev/docs/layoutevent) for the empty Text, and another `LayoutEvent` for the parent component (i.e: a wrapper around the `TextInput` in `Composer`, for example), and then taking the difference between the two to compute `offsetX` and `offsetY` in a platform-agnostic way?

[2022-11-09 08:49] thesahindia commented on #12435
Umm, my bad. I didn't look at the console.

@NikkiWines, let's assign @0xmiroslav ? As their [proposal](https://github.com/Expensify/App/issues/12435#issuecomment-1308389932) will also fix console errors.

C+ reviewed 🎀👀🎀

[2022-11-09 08:53] flodnv commented on #11496
Looks like this is fixed?

[2022-11-09 08:53] #11496 closed

[2022-11-09 09:06] flodnv commented on #11398
I think this is a feature request and not a bug. Do you agree @Julesssss @madmax330 @puneetlath ?

[2022-11-09 09:21] flodnv commented on #11463
@mananjadhav I think the suggestion is that the "Create group" button should not be hidden behind the keyboard, just like on a native Android app.

[2022-11-09 09:21] flodnv commented on #11463
Yes!

[2022-11-09 09:23] flodnv commented on #10273
Should https://github.com/Expensify/App/issues/11463 be linked in this GH issues? I think so but not 100% sure

[2022-11-09 09:23] thesahindia commented on #11951
~The proposal looks good at first glance~ Taking my words back, it doesn't look good after looking into the issue.

@railway17, I am little lost here. I am not sure how your proposal solves this issue, can you confirm the issue? Also can you share a video after the fix?

[2022-11-09 09:24] tienifr commented on #11688
Hi @eVoloshchak I just created PR for this issue: https://github.com/Expensify/App/pull/12583 please help to review. Thanks

[2022-11-09 09:24] madmax330 commented on #11398
I'm not sure. If it's working on all other platforms except this one it sounds like a bug.
But if it doesn't work on this platform because we need a platform specific solution then it would be a feature request.

[2022-11-09 09:26] mountiny commented on #10654
cc @laurenreidexpensify

@dbond09 the payment will be scheduled one week after the deployment to production, just so you are aware of the process everyone follows here. The guidelines are here https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md

[2022-11-09 09:27] thesahindia commented on #11951
I found that if you mark the last message as unread and refresh the page then it gets read.

https://user-images.githubusercontent.com/83179295/200791424-bc08dffa-2c80-4722-b0a3-288e75809e27.mov

Steps:-
1. Navigate to any chat
2. Mark the last message as unread
3. Observe that the username is bold
4. Navigate to a different chat
5. Refresh the page
6. Observe that the username is not bold anymore

[2022-11-09 09:32] mountiny commented on #12281
Actually, lets put this on hold for https://github.com/Expensify/App/issues/12281

[2022-11-09 09:34] flodnv commented on #11515
My Android app is on version v1.2.22-3, and I am able to reproduce the bug as shown in the OP, which I am now realizing you did not reproduce in your video above^ 😕 @conorpendergrast @rushatgabhane @tylerkaraszewski can you please try on your end and report the behavior you see (including platform and version)?

[2022-11-09 09:38] varshamb commented on #11973
@strepanier03 Contract accepted in Upwork.

[2022-11-09 09:41] MonilBhavsar commented on #12075
Was able to reproduce the issue
The error for this particular use case is thrown from [here](https://github.com/Expensify/Auth/blob/f3e3da4def086ccc05ce0e533bfeed82ae596f3d/auth/command/SetWalletLinkedAccount.cpp#L56). [Logs](https://www.expensify.com/_devportal/tools/logSearch/#query=request_id%3A%2275dbe1dc9d8e22fb-LAX%22)
This error is thrown when we account is not in OPEN state or of type PERS

[2022-11-09 09:43] Gonals commented on #10525
I'm a bit full this week. I'm working on the smartscan dispute handling automation and I also need to implement a Concierge Travel fix that is blocking open booking.

How urgent is this? I'll probably have some more bandwidth next week

[2022-11-09 09:43] hannojg opened #12587 "Follow up: Implement proper fix for android textinput selection workaround"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Context
In https://github.com/Expensify/App/pull/11684 there was a workaround introduced. See this conversation for more detail:

https://github.co

[2022-11-09 09:44] railway17 commented on #11951
Actually, this issue is reported with the reproducible platform - iOS.
So, I tested on mobile platforms (in both iOS and Android) and checked what is working.
But I missed the testing case by reproducing with `Mark as Unread`.
Just tested by sending a new message from another user.
I will update you with videos for both cases.

[2022-11-09 09:46] tienifr commented on #11810
@parasharrajat Thanks for your review. I've updated my sample PR: https://github.com/tienifr/App/pull/18

[2022-11-09 09:55] Gonals commented on #12283
Yes, I think @Santhosh-Sellavel. We seem to be dealing with two different problems here:
1. Error after showing the image preview
2. Crash downloading the attachment after failure (duplicate)

[2022-11-09 09:57] hannojg commented on #12587
@roryabraham please reopen 🍀

[2022-11-09 09:59] Gonals commented on #12508
I think we are good to make this external 👍

The expected behavior, in general, is to scroll up to where the errors are. In this specific page? We don't really need to do anything, since there is no scrolling involved 😅

[2022-11-09 10:06] #8797 closed

[2022-11-09 10:10] mountiny commented on #11511
Yes, lets close this, thanks!

[2022-11-09 10:10] #11511 closed

[2022-11-09 10:14] flodnv commented on #11961
I am also unable to reproduce this on Android (app version v1.2.22-3)

[2022-11-09 10:16] mountiny commented on #12355
Also wasnt able to repro on the latest Staging iOS. @jasperhuangg seems like caught it right.

[2022-11-09 10:21] flodnv commented on #11398
Ah I missed this is only a **bug** in mweb 👍 It works for me on Android. I went to test on mweb and it fails to download the PDF file 😬

[2022-11-09 10:21] iwiznia commented on #10884
Still on hold

[2022-11-09 10:22] flodnv commented on #11892
Go for it @Ollyws !

[2022-11-09 10:26] mountiny commented on #10525
I think next week is fine, this is not very urgent.

[2022-11-09 10:28] hungvu193 commented on #12571
Well I think that's the feature, not a bug.
https://github.com/Expensify/App/blob/7e8a00d1dbeddb02795bd69161a96e3d63ceef89/src/pages/settings/AboutPage/getPlatformSpecificMenuItems/index.js#L1-L15

In case we want to fix this, we can remove checking the isSmallScreenWidth in `getPlatformSpecificMenuItems/index.js` or passing the value `false` to `getPlatformSpecificMenuItems` function in `AboutPag

[2022-11-09 10:32] Julesssss commented on #12352
@alexpensify yeah it did but I reclosed it. The title is generic, so I think this is going to keep reopening.

[2022-11-09 10:36] Julesssss commented on #12233
Hey @isabelastisser, this is already complete but could we please create an UpWork issue to pay out the contributor for their review? I'm going to assign you to [the PR](https://github.com/Expensify/App/pull/12374) also.

[2022-11-09 10:47] Julesssss commented on #9250
I can't recall why this was held and can't figure it out by rereading all the comments in this thread.

@Expensify/applauseleads would you mind retesting this.

[2022-11-09 10:50] yevheniitsuryk commented on #12554
@parasharrajat actually if we remove fix with .blur(), it triggers focus on every keyPress (not only Shift key). Check it on video, on Safari all symbol keys, on Chrome literally every key (except functional keys like Ctrl/cmd alt/option):

https://user-images.githubusercontent.com/64137632/200776213-69768fca-c4a5-4b61-a4d7-6a14868f5a7a.mp4

https://user-images.githubusercontent.com/64137632/20080

[2022-11-09 10:52] sobitneupane commented on #12210
[Workaround](https://github.com/Expensify/App/issues/12210#issuecomment-1306767308) proposed by @kzhein looks good and test well.

As I am not very much familiar with "help.expensify.com", I am not sure if there is any other direct ways to achieve the result.

cc: @Julesssss

🎀👀🎀 C+ reviewed

[2022-11-09 11:00] Julesssss commented on #11398
Hey @slafortune could we please double the bounty for this issue? Thanks

[2022-11-09 11:01] trjExpensify commented on #12451
https://github.com/Expensify/App/pull/12219 is on staging. #35433 is reviewed, and should come off hold imminently after the prod deploy.

[2022-11-09 11:16] Julesssss commented on #10202
Great write-up @fedirjh, your proposal seems ideal to me. It would also be worth checking the padding when there are multiple lines of text in the input field.

If that also looks good I think we can go ahead here 👍

[2022-11-09 11:22] trjExpensify commented on #12268
@ctkochan22 does this need the `Internal` label? Also, it's a `Bug` in the App repo, so we should keep this on `Daily` as we look to achieve BugZero for WAQ.

Can we confirm what the expected result is here and update the OP. Is this is?

- If the workspace name includes HTML tags with no value between them (i.e `<b> <b>`, treat this as "blank" and show the error message that a workspace name is r

[2022-11-09 11:29] isabelastisser commented on #11494
Not overdue.

[2022-11-09 11:37] trjExpensify commented on #9402
This issue is held, Melv.

[2022-11-09 11:38] sketchydroide commented on #8710
sorry, was OOO, the last few days, let me look at it today, and see if it's worth it make it an external or not.

[2022-11-09 11:39] mountiny commented on #11632
Confirmed this is now fixed in staging after latest deploy and we are good to pay the contributor out today @sakluger

[2022-11-09 11:42] parasharrajat commented on #12554
Thanks for digging into this.

Does this [proposal](https://github.com/Expensify/App/issues/12554#issuecomment-1307812617) still work? And you are prefering fix the above root cause instead of this.

Question:
1. So we are blurring on each key press. Does it have any issues with it?

[2022-11-09 11:44] sketchydroide commented on #11520
last time I checked it was because we couldn't deploy Web-PDFs yet due to the PHP 8 thing, I'll check if this has changed in the last week

[2022-11-09 11:44] Julesssss commented on #10202
Reminder that we need to ask Applause to add a test rail case to prevent regressions here. I worry someone will further modify this once implemented and cause regressions.

[2022-11-09 11:45] parasharrajat commented on #10262
Interesting, let me check staging on Android chrome.

[2022-11-09 11:45] trjExpensify commented on #10202
Agreed, we'll get a checklist item for this.

[2022-11-09 11:53] parasharrajat commented on #2727
I will accept it in 2-3 days.

[2022-11-09 11:53] trjExpensify commented on #11461
Bump on this. If I understand it, we think the `USER_EXITED` error was added to the Onfido SDK later than when we initially implemented it, and therefore we didn't suppress showing it like we did `USER_CANCELLED` and `USER_TAPPED_BACK`. Is that correct?

[2022-11-09 12:02] s77rt commented on #12240
a bit unrelated, can you please indicate how to enable such beta features per account?

[2022-11-09 12:13] iwiznia commented on #11385
We have the image you uploaded if you did not edit it and the edited image if you did.

[2022-11-09 12:14] stephanieelliott commented on #12495
This is a tiny and low priority fix, we won't be making this External and will submit a PR to fix this internally when I get a chance.

https://github.com/Expensify/App/blob/main/contributingGuides/CONTRIBUTING.md#user-content-propose-a-solution-for-the-job

[2022-11-09 12:16] thesahindia commented on #12240
@abekkala, can you please assign me again. I was unassigned mistakenly.
<img width="620" alt="Screenshot 2022-11-09 at 5 46 14 PM" src="https://user-images.githubusercontent.com/83179295/200828140-07247262-085a-455b-a06a-ced864a3088d.png">

[2022-11-09 12:19] thesahindia commented on #12240
You don't have to enable any beta for default policy rooms. If you are looking into something else then you can check [Permissions.js](https://github.com/Expensify/App/blob/main/src/libs/Permissions.js)

P.S. You can ask questions at `#expensify-open-source`

[2022-11-09 12:20] yevheniitsuryk commented on #12554
@parasharrajat yes, this [proposal](https://github.com/Expensify/App/issues/12554#issuecomment-1307812617) works okay, it's fixing problem with text selection on messages. Answering your question - no issues with blurring on each keypress. I made modification according to your comment - now it will blur on single Shift key press, navigation on Tab and Shift+Tab works, and there is final code:

[co

[2022-11-09 12:28] techievivek commented on #12240
Assigned @thesahindia

[2022-11-09 12:28] MariaHCD commented on #11461
That sounds correct to me.

[2022-11-09 12:28] thesahindia commented on #12240
Let's re-apply "help wanted" label.

[2022-11-09 12:29] s77rt commented on #12240
Is this fixed? Are you still accepting proposals?

[2022-11-09 12:29] thesahindia commented on #12240
Yes, it's open to proposals.

[2022-11-09 12:33] parasharrajat commented on #12290
@kerupuksambel tests are failing. Can you please test your proposal and fix it so that it does not break old tests? Also, you will have to add more unit tests to test the new functionality as part of this task.

[code]
Why the @ was added to this regex here?

[2022-11-09 12:34] cristipaval commented on #12578
I think this is a good starting point to contribute on NewDot

[2022-11-09 12:35] s77rt opened #12589 "DEV - canUsePolicyRooms does not check canUseAllBetas"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

## Action Performed:
1. Override https://github.com/Expensify/App/blob/5e268df7f2989ed04bc64c0c86ed77faf134554d/src/libs/Permissions.js#L10-L12 to ret

[2022-11-09 12:35] #12589 closed

[2022-11-09 12:35] laurenreidexpensify commented on #12325
@AndreasBBS I've hired you in Upwork now, if you can let us know when you're aiming to have the PR up? Feel free to ask any questions in Slack as you go : )

[2022-11-09 12:37] parasharrajat commented on #12554
Ok, so you are saying that your proposal is working and has no inconsistencies across browsers. And changing the conditon has different effects on different browsers.

I will test your solution and I think it also needs a general discussion as I don't think blurring on the key press is a good idea. May be we can seek a better solution as part of this issue.

[2022-11-09 12:38] trjExpensify commented on #11236
@davidcardoza, there doesn't seem to be an Upwork job for this one linked to the issue. Is there one?

[2022-11-09 12:39] trjExpensify commented on #11425
On hold, Melv.

[2022-11-09 12:40] trjExpensify commented on #11197
On hold, Melv.

[2022-11-09 12:41] trjExpensify commented on #10792
On hold, Melv.

[2022-11-09 12:42] parasharrajat commented on #4733
Looking at it now.

[2022-11-09 12:43] muttmuure commented on #11735
Price has been doubled to [$1000]! Posting to original thread

[2022-11-09 12:45] railway17 commented on #11951
@thesahindia
https://drive.google.com/file/d/1mcirZLECKnUCn-tWBT-d9fsmLk0fp_PS/view?usp=sharing

Here is the video for fixing issue when the user received the new message.
This video is produced from my proposal code.

On the other hand, I've tested with `Mark as Unread`.
But looks like it is caused by another reason. I will catch it up and update you.

[2022-11-09 12:49] thesahindia commented on #12582
We tackled this at https://github.com/Expensify/App/pull/12500, so let's put this on hold.

cc: @roryabraham

[2022-11-09 12:54] kbecciv opened #12590 "Settings - Profile image disappears after refreshing the page"
If you haven’t already, check out our [contributing guidelines](https://github.com/Expensify/ReactNativeChat/blob/main/contributingGuides/CONTRIBUTING.md) for onboarding and email contributors@expensify.com to request to join our Slack channel!
___

**Issue found when executing PR** https://github.com/Expensify/App/pull/12374

## Action Performed:
1. Open app
2. Upload a new profile image
3. Verif

[2022-11-09 12:58] aneequeahmad commented on #10950
@laurenreidexpensify I have applied, thanks for mentioning

[2022-11-09 12:59] laurenreidexpensify commented on #10654
@dbond09 do you have a link to the draft PR? Thanks!

[2022-11-09 13:02] s77rt commented on #12240
Is this really considered a bug?
It's seems pretty normal to me, a user with no `policyRooms` permission is not supposed to be able to use the `policyRooms` features

[2022-11-09 13:05] CortneyOfstad commented on #12501
Working on this today!

[2022-11-09 13:06] zmeditation commented on #10950
I have read your issue description on upwork site

[2022-11-09 13:07] s77rt commented on #12240
@abekkala

Same thing here, and i suppose same thing will go for the previous uploaded videos, the room is showing there just because it was there when they logged using Account A (then being stored in the localStorage) -- refreshing the page will make the room no longer appear

[2022-11-09 13:08] mananjadhav commented on #10950
Applied @laurenreidexpensify

[2022-11-09 13:10] muttmuure commented on #11787
I've paid @Puneet-here and @eVoloshchak - @adeel0202 can you apply to the job [here](https://github.com/Expensify/App/issues/11787#issuecomment-1293733175) so you can get paid

[2022-11-09 13:12] trjExpensify commented on #8364
👋 I don't think this is a problem as stated:

Here in our [Forms.MD](https://github.com/Expensify/App/blob/main/contributingGuides/FORMS.md#form-submission) we describe the behaviour of the save button, specifically, that it's not disabled or blocked from being pressed.

Before the API refactors, you would get a growl onPress for feedback that the changes have been saved. With that initiative the

[2022-11-09 13:15] eVoloshchak commented on #12151
@tienifr thank you for checking this

Correct me if I'm wrong, but I can see it being used in 9 places (in `requestMoney`, `createSplitsAndOnyxData`, `getOrCreateChatReport`, etc)

[2022-11-09 13:17] eVoloshchak commented on #12238
Sorry, missed the original message
I'll take care of the checks `2-4`, ETA in 24h

[2022-11-09 13:35] dylanexpensify commented on #12483
@0xmiroslav @mananjadhav can you both apply to the above job please? 🙇

[2022-11-09 13:37] laurenreidexpensify commented on #12025
Offers out in Upwork for everyone with correct pricing

[2022-11-09 13:39] dylanexpensify commented on #12314
@Puneet-here @rushatgabhane would you mind applying on the Upwork job above please? 🙇

[2022-11-09 13:40] laurenreidexpensify commented on #11512
Everyone is hired in Upwork

[2022-11-09 13:40] trjExpensify commented on #12028
Job [doubled to $1,000](https://www.upwork.com/jobs/~019c6881ba683194f2) on Upwork.

[2022-11-09 13:42] getusha commented on #12025
@laurenreidexpensify Thanks Accepted.

[2022-11-09 13:47] eVoloshchak commented on #12265
@s77rt's proposal looks good to me!

I'm leaning more toward the first approach, since all accounts have the `role` property, while if we decide to filter out only items with `pendingAction` and `errors` properties, issues can arise in the future in case we add items with the new properties.

Can confirm this, the issue can be reproduced even while online and having only one workspace

🎀👀🎀 C+ revi

[2022-11-09 13:53] trjExpensify commented on #7862
Thanks, @JediWattson! Looks like we have a conflict if you want to take a look in the meantime.

[2022-11-09 14:03] mananjadhav commented on #12483
Applied @dylanexpensify. And I'd like to highlight, this would be eligible for the 50% bonus.

[2022-11-09 14:05] dylanexpensify commented on #12045
@thesahindia seems only you can repro - any ideas why that might be?

[2022-11-09 14:05] eVoloshchak commented on #11948
@jayeshmangwani, thanks for the proposal!
It is based on @Ollyws's proposal with the exception of using Report.navigateToConciergeChat(), which in turn also just calls  `DrawerActions.closeDrawer()`, so the proposals are identical

[2022-11-09 14:09] sketchydroide commented on #12557
I was not able to replicate this on version 1.2.25-0, not sure if this was fixed in the mean time, or if it was just on this ocasion.
CCing @tgolen as this might be related to the Keyboard Avoidance features, this would definetly be something to look for on regular iOS developement and a typical issue with keyboard and fields, not sure how that translates to RN.

[2022-11-09 14:18] Santhosh-Sellavel commented on #10202
@Julesssss  @trjExpensify
Here are the screenshots, iOS mWeb is slightly off (top & bottom padding is inconsistent in multiple lines)
#### iOS
<img width="349" alt="Screenshot 2022-11-09 at 7 02 41 PM" src="https://user-images.githubusercontent.com/85645967/200851147-4f833216-8c04-45af-aef1-88c64bd74f76.png">
<img width="349" alt="Screenshot 2022-11-09 at 7 03 30 PM" src="https://user-images.githu

[2022-11-09 14:20] eVoloshchak commented on #11948
I'm talking about this case

https://user-images.githubusercontent.com/9059945/200853314-5a1dd839-5e82-4979-b4ce-ba4deb58dee8.mov

Seems like expected behavior, currently it just navigates to the main screen ignoring `reportID` in the URL

@Gonals, could you please take a look at this? I'm not entirely sure what is the expected behavior here

[2022-11-09 14:21] Julesssss commented on #10202
Thanks for testing thoroughly. @fedirjh interested if you have any thoughts on the mWeb differences.

[2022-11-09 14:27] Gonals commented on #11948
Hmmm. It makes sense to me that, if we are providing a reportID, we should direct the user to the chat, even in small screens, rather than the main menu.

@marcaaron, do you have an opinion on this?